[2016-03-01 19:08] johnataylor opened #2227 "When you have no enabled sources Browse tab should be always clear."
When you have no enabled sources Browse tab should be always clear.

Using 3.4. If you click on "Installed" tab. Disable all your sources. The screen refreshes and you loose things like the version list. But now tab back to the "Browse" and you see the packages you have installed. The client should have cleared the content of the view.

[2016-03-01 19:12] yishaigalatzer commented on #2218
@stvfks if you want everything, just run the normal install operation.

[2016-03-01 19:15] deepakaravindr opened #2228 "Re-enable disable certain e2etests for investigation e2etests hang/crash"
Re-enable disable certain e2etests for investigation e2etests hang/crash.
Following are the list of tests disabled:
1. BindingRedirectDoesNotAddToSilverlightProject

[2016-03-01 19:18] emgarten opened #2229 "Globbing support for restore inputs"
NuGet.exe and XPlat should allow globbing patterns for restore command  line inputs. Currently xplat can take a directory which will recursively find all project.json files. Globbing would allow better control over this.

For NuGet.exe globbing could be used to restore all project.json files directory when there is a solution file in the directory. By default NuGet.exe will find the solution when

[2016-03-01 20:35] joelverhagen commented on #2201
I've so far been unsuccessful in reproducing the problem.

Constants throughout my investigation:
- Restored [aspnet/Common](https://github.com/aspnet/Common)
- Used Windows Server 2008 R2
- Used an Azure D VM
- VM was in US West

[code]

Different conditions tried for `dotnet restore`:
- Azure D1 and D3
- Huge packages folder (everyone on [aspnetcidev MyGet](https://www.myget.org/F/aspnetcidev/ap

[2016-03-01 21:26] ryanackley opened #2230 "Nuget auto-restore should fix up broken references in project file"
A very common situation is when you have a nuget managed reference like this in your project file.

[code]

If for some reason, this hintpath is broken, you currently have to fix it by hand. It seems like auto-restore should do this.

[2016-03-01 22:21] yishaigalatzer commented on #2201
You also need the following scenarios to try

D2 vm
Large packages folder with lots of versions and lots of packages

[2016-03-01 22:26] analogrelay opened #2231 "Remove `--runtime` option from cross-plat restore"
We are removing the ability to restore and publish for arbitrary RIDs. For RTM, we want to remove the `--runtime` switch from `dotnet restore` in order to ensure that the runtimes a project supports must always be provided in the project.json file.

Please note: We do not want to do this right away, we want to co-ordinate this with getting the portable app publishing working. The reason is: We don

[2016-03-01 23:05] alpaix opened #2232 "Delay merging list of package versions until it's actually displayed"
The problem:
Search aggregator merges versions of identical packages coming from different sources.
Before merging versions the aggregator places 2 more separate repository requests to retrieve full lists. This causes latency issues when populating search results. It is especially noticeable when two similar feeds are added by user.

The solution:
Postpone version list merge. Return a lazy value f

[2016-03-01 23:31] deepakaravindr commented on #2218
@stvfks @yishaigalatzer

I found that PackageSaveMode setting does not work for `nuget.exe install <packages.config>` either.
However, it  works properly for  `nuget.exe install <packageId>`

Based on looking at the code, it looks the PackageSaveMode setting is not passed down at
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/Commands/InstallCommand.cs#L190

It

[2016-03-01 23:44] moozzyk commented on #2163
You can use `opensnoop` to track open files or `lsof` to take a snapshot of open files.

[2016-03-02 00:31] zhili1208 opened #2233 "Saving Package source clear Global package source when "Clear" present in local config"
Repro step:
1.Open Nuget.client solution and open setting UI
2. add a new source and click OK.

Expect: new source is added to local config, global config doesn't change

actual: new source is added to local config, v3 source in global config doesn't exist any more

[2016-03-02 01:51] deepakaravindr commented on #2228
Actually, no tests were disabled. This issue is not valid anymore. Closing it for now.

[2016-03-02 01:51] #2228 closed, assigned to nobody

[2016-03-02 01:53] yishaigalatzer commented on #2016
This change is going to make the download size of metadata improve by a factor of x5 to x10, affecting search results, updates from the V3 sources

[2016-03-02 01:58] joelverhagen commented on #2201
@yishaigalatzer, thanks for the suggestions. I've tried both still with no dice. D1, D2, and D3 all seems to act the same.

The packages folder has this topology:

[code]

The packages folder is around 20 GB.

[2016-03-02 03:02] emgarten commented on #1680
NuGet checks the project.json file last modified timestamp now, this will catch any changes such as removing RIDs.

NuGet/NuGet.Client@f48718971aec219393268901a4d863f9b855c757

[2016-03-02 03:02] #1680 closed, assigned to emgarten

[2016-03-02 03:04] emgarten commented on #1954
This may no longer be needed based on: https://github.com/NuGet/Home/issues/2231

[2016-03-02 03:19] yishaigalatzer commented on #2201
What happens when you have 400 versions (imagine a CI building kicking off hourly leading to many versions daily

[2016-03-02 04:47] yishaigalatzer commented on #2218
Deepak - does restore works correctly?

[2016-03-02 09:37] ondrejsevcik opened #2234 "update command doesn't remove old <error> element from csproj"
Hi, I found out while upgrading package with `nuget update` command, it doesn't remove old `<error>` element from `.csproj` file. If I update it through the Visual Studio, it works as expected.

Nuget.exe version: 3.3.0.212
Visual Studio version: 2015 Update 1 (14.0.24720.00 Update 1)
Nuget Package manager: 3.3.0

I've created an empty project ([here](https://github.com/ondrejsevcik/NugetUpdateErr

[2016-03-02 09:50] emgarten commented on #2234
`nuget.exe update` is very limited and should only be used for simple scenarios where the new version of the package has all the same files since only the version number in the project file is updated.

NuGet in Visual Studio calls into the Visual Studio project system to make changes. From the command line nuget.exe updates the project file as raw XML. It currently isn't able to make all the need

[2016-03-02 09:55] emgarten commented on #2234
Take a look at project.json it is an alternative to packages.config that is used by UWP and dotnet CLI projects. It solves this problem and works cross-platform from the command line.

[2016-03-02 17:09] olivier-spinelli commented on #2195
Some of you could be interested in CSemVer: http://csemver.org/
By constraining semantic versions, very interesting features become available (such as the "Post Release" semantic versions) and this actually help managing versions correctly.

Thanks to this versioning scheme, version MAY be automatically generated... iif we have a way to detect API breaking changes, new features, etc.

An important

[2016-03-02 17:45] joelverhagen commented on #2201
I make sure 500 versions of `RavenDB.Client` were in the packages folder then added that as a dependency to one of the projects. Still no repro.

[2016-03-02 17:50] victorhurdugaci commented on #2201
Do you restore through nuget or dotnet restore?

On Wed, Mar 2, 2016 at 9:45 AM -0800, "Joel Verhagen" <notifications@github.com<mailto:notifications@github.com>> wrote:

I make sure 500 versions of RavenDB.Client were in the packages folder then added that as a dependency to one of the projects. Still no repro.

##

Reply to this email directly or view it on GitHubhttps://github.com/NuGet/Home/is

[2016-03-02 17:52] joelverhagen commented on #2201
I am only using `nuget.exe` to populate the packages folder via `packages.config`. I am using `dotnet restore` for the restore.

[2016-03-02 17:56] joelverhagen commented on #2201
Additionally, I am running `git clean -xfd` before every restore to make sure old lock files don't effect the results.

[2016-03-02 17:57] deepakaravindr opened #2235 "E2E test SimpleBindingRedirectsNonWeb fails on VS 2015 Update 2 RC"
E2E test SimpleBindingRedirectsNonWeb fails on
VS 2015 Update 2 RC 25025.00 and NuGet 3.4.0.682.

This is a new failure upon upgrading to new VS. It was run thrice from the CI on 2 different agents. And, once manually on the agent. Failed all 4 times. Seems consistent.

Repro steps:
1. Build NuGet.Client solution on your machine
2. Open VS. Open PMC. Import-Module $gitRoot\NuGet.Client\test\EndEnd

[2016-03-02 18:10] analogrelay commented on #2114
Reopening this. We jumped the gun slightly and dotnet-cli and ASP.NET Core really need RID inference to stick around for a little bit longer. We'll ping this when the necessary publishing changes have been made to allow us to re-remove this.

[2016-03-02 18:10] analogrelay commented on #2114
See NuGet/NuGet.Client#316

[2016-03-02 18:16] deepakaravindr commented on #2218
@yishaigalatzer, Yes, it does.. Same scenario, if the user used executed
`NuGet.exe restore packages.config -OutputDirectory %TEMP%\NugetPackages34 -PackageSaveMode nuspec;nupkg`, things are fine.

Only `nuget.exe install <packages.config>` does not work with PackageSaveMode

[2016-03-02 18:22] yishaigalatzer commented on #2235
Can you please investigate?

[2016-03-02 18:25] yishaigalatzer commented on #2218
@stvfks does this unblock you?

[2016-03-02 19:57] emgarten commented on #2044
The Version is also skipped

[2016-03-02 20:25] pakrym opened #2236 "Cryptic error when there is a typo in myget feed url"
With `nuget.config` entry (it has a typo in `aspnecidev` part):

[code]

I get an error which is hard to understand:

[code]

[2016-03-02 20:27] yishaigalatzer commented on #2230
Restore is not a step that will ever touch the project, it is designed to just download the packages and NEVER touch the project files.

We have built a whole new experience in NuGet 3 using project.json (+csproj) that eliminated the need for HintPaths, or for that matter any changes to your project. Consider moving your project over to this model going forward.

Practically if you can do it by ca

[2016-03-02 20:47] yishaigalatzer commented on #2236
I'm suspecting you actually have a busted XML. This was fixed today (in PR) by @zhili1208 and you should get a good error message with what file is broken.

[2016-03-02 21:15] pakrym commented on #2236
`nuget.config` syntax was correct, and correcting feed url fixed the issue.

Stack trace:

[code]

[2016-03-02 21:21] ryanackley commented on #2230
Fair enough but I really don't understand  what makes the project file holy ground considering Nuget is the thing that put those references in there in the first place. I can't find any way to make it fix these broken references even via command line.

Am I mistaken that Nuget is a dependency manager? Or is it really just a tool to assist you in finding libraries to add to your project?

It's frus

[2016-03-02 21:29] yishaigalatzer commented on #2236
@joelverhagen this looks like a recent change. What I think is happening is that we are getting a 404 page and trying to parse it as json. You have made some work in this area before

[2016-03-02 21:36] yishaigalatzer commented on #2230
1. The project file is not holy ground, but nuget really adds stuff to it through the project system API (add reference) and steps back, it doesn't truly understand the project format, which is how things work in multiple project types. So it can't attempt to fix stuff it doesn't understand, and restore is not the right time for it.
2. The suggestion is to use project.json model, which does exactl

[2016-03-02 21:54] yishaigalatzer commented on #2234
We are the ones adding this entry, so it makes complete sense for us to be able to update it. Looks like an oversight.

At the same time, I agree with Justin, Update package from command line is a very limited scenario.

I'm moving this item to the backlog.

[2016-03-02 22:58] emgarten commented on #1972
This has been fixed. Restore, Update, and Pack will now load msbuild lazily.

NuGet/NuGet.Client@5f4f39f2b5c67192294e4c3b7c5931196404a9c8

[2016-03-02 22:58] #1972 closed, assigned to nobody

[2016-03-02 22:59] emgarten commented on #1995
NuGet/NuGet.Client@16a7798c143ab8bb6707464ca3a49ba5e21fb8c1

[2016-03-02 22:59] #1995 closed, assigned to nobody

[2016-03-02 23:14] #2233 closed, assigned to zhili1208

[2016-03-02 23:18] emgarten commented on #2047
@xavierdecoster since you are looking at the other user agent bug would you see if this could be done in a simple way?

[2016-03-02 23:23] emgarten commented on #2079
@yishaigalatzer we should verify if this is fixed by the project system and consider making a change for 3.4 RTM.

[2016-03-03 00:33] emgarten commented on #2171
NuGet/NuGet.Client@81f9ca85119b38b3c5dd21cbde63a561a60b5774

[2016-03-03 00:33] #2171 closed, assigned to emgarten

[2016-03-03 00:34] #2185 closed, assigned to emgarten

[2016-03-03 01:55] joelverhagen commented on #2236
What version of `dotnet` are you using? This is the error on the latest `dev`.

<pre>
log  : Restoring packages for C:\Users\jver\Desktop\Test\b\project.json...
info : CACHE https://dotnet.myget.org/F/dotnet-core/api/v3/flatcontainer/netstandard.library/index.json
info : GET https://api.nuget.org/v3-flatcontainer/netstandard.library/index.json
info : NotFound https://api.nuget.org/v3-flatcontainer

[2016-03-03 06:26] davidfowl commented on #2155
:\

[2016-03-03 08:06] revenger73 opened #2237 "V1 FeedService.svc broken"
We are using a powershell script for downloading all the NuGet packages to an on-premise NuGet Gallery. Once a month I run this script and copy / upload the packages to the internal NuGet server.

The script uses a fwlink that redirects http://go.microsoft.com/fwlink/?LinkID=206669 to http://packages.nuget.org/v1/FeedService.svc

A month ago it was working fine, now i get a 404 error? Any assisten

[2016-03-03 08:35] maartenba commented on #2237
That URL works fine here, but you may want to use our V2 or V3 API instead.

V2: `https://www.nuget.org/api/v2`
V3 (no OData there): `https://api.nuget.org/v3/index,json`

[2016-03-03 08:58] revenger73 commented on #2237
Is the content of the response then changed, and therefore a 404?

[2016-03-03 09:02] revenger73 commented on #2237
Powershell gives error

[code]

[2016-03-03 09:04] maartenba commented on #2237
What is the exact URL queried for, can you echo it?

[2016-03-03 09:07] revenger73 commented on #2237
http://packages.nuget.org/v1/FeedService.svcPackages?$filter=IsLatestVersion%20eq%20true

This request gives a 404

[2016-03-03 09:09] revenger73 commented on #2237
Ok, I found the problem....the response does not give a trailing slash anymore in the base Url...and therefore Packages is wrongly added.

Added trailing slash in code, and script is working fine now!

[2016-03-03 09:09] #2237 closed, assigned to nobody

[2016-03-03 10:07] emgarten commented on #2011
NuGet/NuGet.Client@5f4f39f2

[2016-03-03 10:07] #2011 closed, assigned to nobody

[2016-03-03 10:14] emgarten opened #2238 "Could a dependency conflict provide a little more detail?"
@GuardRex : https://github.com/dotnet/cli/issues/1646

A dependency conflict currently displays this information ...

[code]

Could this information also state which package (or packages) requested the lower version?

btw- Nit ... "but got" ... perhaps "but received" would be better.

[2016-03-03 12:40] brainwipe opened #2239 "Error occurred trying to view packages on nuget.org in VS2015"
## Steps to reproduce
- Right click Solution
- Select Manage Nuget Packages for Solution...
- "Manage Packages for Solution" window appears.
  - Package source is nuget.org: https://api.nuget.org/v3/index.json
  - Include prerelease is ticked
## Expected

A list of packages on the nuget.org site is displayed.
## Actual

`Error occured:\nThe input is not a valid Base-64 string as it contains a non-

[2016-03-03 17:22] maartenba commented on #2236
MyGet now returns proper 404 for this case.

[2016-03-03 17:25] pakrym commented on #2236
@joelverhagen I'll update and check again

[2016-03-03 17:29] #2097 closed, assigned to nobody

[2016-03-03 18:14] #2236 closed, assigned to joelverhagen

[2016-03-03 18:16] yishaigalatzer commented on #2239
@brainwipe thanks for this report

Can you try a few things
1. Does this work outside of your proxy (so the question - did something change in your proxy settings)?
2. Can you share a fiddler trace?

CC @maartenba @xavierdecoster

[2016-03-03 18:32] joelverhagen commented on #2150
Hey @MatthewSteeples, I was wondering if you are still having problems with your restore.

[2016-03-03 18:33] stvfks commented on #2218
I'll give the restore option a try

[2016-03-03 18:36] stvfks commented on #2218
Reopening accidently closed

[2016-03-03 18:37] pranavkm opened #2240 "Referencing a PCL and a NetStandardLibrary project results in odd version conflicts"
We were attempting to target minimal netstandard TFMs in aspnet, and ran into a strange error:

[code]

It seems like this shouldn't be a conflict.

[2016-03-03 18:37] pranavkm commented on #2240
cc @davidfowl. I can add a repro if that helps in your investigations.

[2016-03-03 19:01] WimBoom opened #2241 "IVsPackageInstallerServices InstallPackage 401 authenticated feed"
IVsPackageInstaller.InstallPackage fails on getting a package on a authenticated feed
With this code:

[code]

}
**Exception on  Installer.InstallPackage**
An exception of type 'System.Net.WebException' occurred in NugetFeedWizard.dll but was not handled in user code

Additional information: The remote server returned an error: (401) Unauthorized.

**With fiddler see we this:**
GET https://feedurl

[2016-03-03 19:17] stunney commented on #974
I have installed the latest NuGet VSIX for VS 2015 and I am still unable to create a simple ASP.NET WebAPi project :(  I'm on a corporate dev environment where LocalMachine and UserPolicy settings are locked.  How can I get around this?

[2016-03-03 19:19] brainwipe commented on #2239
Thanks for getting back to me.
1. I have no proxy - I am plugged straight into DSL router both home and office.
2. No fiddler trace is produced (although I can see other services calling back and forth without a problem)

Are there any other diagnostics I can help with?

[2016-03-03 19:22] yishaigalatzer commented on #2239
That's odd, do you have https setup for fiddler? You are definitely getting an answer from somewhere given the error log.

[2016-03-03 19:29] maartenba commented on #2239
Also best start Fiddler before starting VS so it uses Fiddler as the proxy. Some tips in our docs https://docs.nuget.org/consume/nuget-faq#managing-packages-in-nuget.org

[2016-03-03 19:30] yishaigalatzer commented on #2241
Please upgrade to NuGet 3.3 or 3.4RC released today with Update 2 RC (Visual Studio 2015). I believe the problem should be resolved there (didn't test, but we have a single install/restore path including authentication).

We no longer support this level of bugs for NuGet on 2013.

Please let us know if that resolves your problem

[2016-03-03 19:32] yishaigalatzer commented on #2240
A repro would be super helpful

[2016-03-03 19:32] yishaigalatzer commented on #2240
CC @emgarten

[2016-03-03 19:32] emgarten opened #2242 "Compile only package references should not verify compatible runtime assemblies"
Package references that are only using compile references should skip the guard rails check for runtime assemblies.

[code]

[2016-03-03 19:33] yishaigalatzer commented on #2238
This is a duplicate

[2016-03-03 19:33] #2238 closed, assigned to nobody

[2016-03-03 19:33] emgarten commented on #2242
This is related to: https://github.com/dotnet/cli/issues/1043 where runtime assemblies do not exist for the platform, and currently there is no way to skip the guard rails check.

[2016-03-03 19:34] yishaigalatzer commented on #1870
Hey folks, are we good to close this issue?

[2016-03-03 19:41] johnataylor commented on #2198
sorted by id as of last weeks build

[2016-03-03 19:41] #2198 closed, assigned to johnataylor

[2016-03-03 19:42] ferventcoder commented on #1870
@yishaigalatzer Depends, I think I was hoping for some transition documentation as mentioned in https://github.com/NuGet/Home/issues/1870#issuecomment-169069294 - if that is now available I think this is good to close.

[2016-03-03 19:50] #2089 closed, assigned to johnataylor

[2016-03-03 19:53] yishaigalatzer opened #2243 "Provide samples for coding against NuGet 3 codebase"
Need to enumerate common scenarios we want to show as samples, going to take a quick stab and will keep refining as feedback comes in
- [ ] Get latest version for a given package ID
- [ ] Search results for a given search string
- [ ] Download a package given ID and version (or just ID and get latest)
- [ ] Restore a project.json
- [ ] Restore a packages.config
- [ ] Control package extraction mod

[2016-03-03 19:56] yishaigalatzer commented on #1870
Fair enough, the docs won't happen for a while so lets do the following.

I've file a bug - https://github.com/NuGet/Home/issues/2243 to track the docs requirement, and suggest we close this guy.

[2016-03-03 19:56] akoeplinger commented on #2238
@yishaigalatzer which one is the real issue number?

[2016-03-03 19:57] yishaigalatzer commented on #2238
Searching as we speak :+1:

[2016-03-03 19:57] johnataylor opened #2244 "Update Tab re-fetches package data is often already has"
There is a notable pause when you switch to the Update Tab in the Visual Studio UI because
the re-fetches package data. The data is often already fetched - as can be noted by the number next to the tab.

[2016-03-03 19:58] andyleejordan commented on #2242
Will this transparently include said dependencies when the runtime implementation is available?

Also, can this make it into a 1.0.0 build?

Thanks Justin.

[2016-03-03 19:58] yishaigalatzer commented on #2238
https://github.com/NuGet/Home/issues/2142

[2016-03-03 19:58] yishaigalatzer commented on #2142
@GuardRex : https://github.com/dotnet/cli/issues/1646

A dependency conflict currently displays this information ...

[code]

Could this information also state which package (or packages) requested the lower version?

btw- Nit ... "but got" ... perhaps "but received" would be better.

[2016-03-03 20:21] ericstj opened #2245 "NuGet doesn't install split localized packages in PackageReference"
Repro:
Create a .NET 4.5 project and install "Microsoft.AspNet.Mvc": "5.2.3".
Now try to install "Microsoft.AspNet.Mvc.de": "5.2.3"

Expect:
Install success and localized bits are overlayed on the primary package.

Actual:
Install failure.

[code]

This worked with a net45 project using packages.config.

I'm looking into this in an effort to see what can be done to reduce package size of CoreFx.

[2016-03-03 20:50] ferventcoder commented on #2243
Thanks! Original request was https://github.com/NuGet/Home/issues/1870

[2016-03-03 22:31] emgarten opened #2246 "Guard rails should include framework assemblies as runtime assets"
Guard rails verifies that all compile assets have runtime assets with the same assembly name. In the case of net45 these assets are framework references and not present in the lock file under a runtime asset node.

The fix for this is to include framework references when verifying compile assets in `CompatibilityChecker.Check`

[2016-03-03 22:37] emgarten opened #2247 "Guard rails does not include all file types"
Compile assets can be `.dll`, `.winmd`, or `.exe`, guard rails should check all of these types instead of just `.dll` when looking for runtime assets.

Also, when running the `CompatibilityChecker.IsCompatible` the check does not verify file type when looking at the ref and lib folder. This causes issues for packages such as xunit which have a file named `_` under lib.

[2016-03-03 22:57] andyleejordan commented on #2242
The sad answer is no, they will not. :frowning:

[2016-03-03 23:09] deepakaravindr opened #2248 "build.ps1 almost always fails with System Error 2 or more"
build.ps1 almost always fails with System Error 2 or more.
This should be fixed so that developers don't ignore genuine failures by accident.

[2016-03-03 23:24] rrelyea commented on #2032
First try...Not able to repro on VS 2015 Update 1 with the dark theme.

[2016-03-03 23:43] rrelyea commented on #2032
Related "connect bug" - https://connect.microsoft.com/VisualStudio/feedback/details/1651653/vs-2015-dark-theme-check-box-issue

[2016-03-04 00:42] #1954 closed, assigned to emgarten

[2016-03-04 00:49] emgarten commented on #2231
NuGet/NuGet.Client@6bcdbc51aa07f4984b127286c778288fb59a9bb0

[2016-03-04 00:49] #2231 closed, assigned to emgarten

[2016-03-04 00:54] emgarten commented on #2242
NuGet/NuGet.Client@d795f5eeb4cd9462294c7f8cf78aae0b05436402

@andschwa yes this doesn't sound like it will fix your issue since you aren't just referencing the assemblies for compile. Guard rails is behaving as expect and throwing when runtime assets are referenced but not resolved.

[2016-03-04 00:54] #2242 closed, assigned to emgarten

[2016-03-04 01:36] #2012 closed, assigned to zhili1208

[2016-03-04 01:36] #2158 closed, assigned to zhili1208

[2016-03-04 01:36] #2197 closed, assigned to zhili1208

[2016-03-04 01:37] zhili1208 commented on #1567
it's fixed

[2016-03-04 01:37] #1567 closed, assigned to zhili1208

[2016-03-04 02:30] yishaigalatzer commented on #2247
I think the plan is to turn off guardrails at some point?

CC @davidfowl @anurse @ericstj can you guys comment?

[2016-03-04 02:33] yishaigalatzer commented on #2245
I don't think we want to go with this approach, this model was never adopted by the community,and with this we are changing the content of a package in a global folder, which is violating the basic principle of content of a package is the same given its id and version.

I think we want to go back and discuss the loading model for localized assets (which we can probably do in .NET), and the XML doc

[2016-03-04 02:40] yishaigalatzer commented on #2239
Also what happens when you paste the URL into a browser?

[2016-03-04 02:57] davidfowl commented on #2247
Yes, we need to remove them and find a new place for them to run later in the pipeline with the option to turn them off.

[2016-03-04 04:10] #2187 closed, assigned to alpaix

[2016-03-04 06:22] WimBoom commented on #2241
I install Update 2 RC (Visual Studio 2015). And it works! Thank you!

[2016-03-04 06:22] #2241 closed, assigned to nobody

[2016-03-04 09:33] brainwipe commented on #2239
Thanks for the feedback.
- Fiddler is configured for HTTPS
- I ran Fiddler before VS. I know VS is using the proxy because I can see other HTTPS requests that VS is doing.
- When I put the URL into the browser, I get the JSON back, starting with:

[code]

[2016-03-04 15:46] wbradney opened #2249 "nuget update from internal source NullReferenceException"
I have an update that goes something like this:

`nuget.exe update MySolution.sln -Source "https://internalrepos/app/nuget/;\\sharedserver\LocalPrereleases"`

I get:

[code]

[2016-03-04 15:56] wbradney commented on #2249
Actually, after I moved all of the prerelease packages from the network share repo into the internal repo, the following also fails the same way:

`nuget.exe update MySolution.sln -Source "https://internalrepos/app/nuget/"`

The internal repo is being fed by TeamCity. I can do a `nuget.exe list` just fine to see all our packages in there.

Any ideas?

[2016-03-04 16:02] matt-richardson commented on #390
This fix isn't working for us, unfortunately.

Getting an exception:

[code]

Attempting to install `NDP45-KB2954853-x64.exe` responds with a rather un-useful

[code]

with no log file created.

We are running NuGet version `2.8.60717.93` against a windows 2012 R2 server, with SSL 2.0, SSL 3.0, TLS 1.0 & TLS 1.1 all disabled.

As far as I can tell, all that update does is disable the use of RC4 wi

[2016-03-04 16:09] wbradney opened #2250 "First-timer having trouble building nuget"
I followed the instructions [here](http://docs.nuget.org/Contribute/Setting-up-the-NuGet-Development-Environment).

And got:

[code]

So then I tried:

[code]

[2016-03-04 16:20] yishaigalatzer commented on #390
You need nuget.exe 3.3 available on our download tab

[2016-03-04 16:26] matt-richardson commented on #390
Unfortunately, no dice, using version `3.3.0.212`:

[code]

[2016-03-04 16:33] yishaigalatzer commented on #390
Does vs 2015 with nuget 3 work for you? That will help me get some more clues

[2016-03-04 16:40] wbradney commented on #2249
Oh, and I guess I should have pointed out that we have zero problems updating solutions from our internal feed in Visual Studio. We have a lot of solutions, however, so we need a way to update from the command-line.

[2016-03-04 16:41] matt-richardson commented on #390
Yep, with the package manager console, it works:

[code]

Also works from the gui - using nuget `3.3.0.167`.

ps - thanks for the lightning fast response!

[2016-03-04 16:48] yishaigalatzer commented on #390
Makes sense. I think we might be missing a line in the commandline, to set the TLS 1.2, should be fairly easy to add to 3.4. How time critical is this for you?

[2016-03-04 16:53] matt-richardson commented on #390
Its a case of "we'd really like it, but its not critical".

In the wake of the [drown vulnerability](https://drownattack.com), we're tightening up on unnecessary protocols, so its a pre-emptive thing, rather than a drop-everything thing.

[2016-03-04 16:54] matt-richardson commented on #390
Happy to test out custom builds, if that would help.

[2016-03-04 17:00] yishaigalatzer commented on #390
Will get back to you as soon as I find out more, it's still hard to code and do a custom build from smartphone :)

[2016-03-04 17:17] csharpfritz opened #2251 "RDP from a laptop which is 1600 resolution to machine at 150%, Package Manager hangs"
From vs-feedback-532340

Have a 4K display with 150% size. Works fine on it. If I RDP from a laptop which is 1600 resolution, package manager console hangs when I try to open it.

 Before I tried opening it I was trying to NuGet update a package automatically and it errored out saying power shell could not be initialized. That is when I tried to open the package manager console from RDP.

[2016-03-04 17:18] csharpfritz commented on #2251
Also tracked internally with dump file on VSTS#180038

[2016-03-04 17:32] johnataylor opened #2252 "Potential blocking thread calls in PackageManagerControl"
This is regarding review with @yishaigalatzer and @alpaix

Some of the code switches to the main thread in order to update the UI however it appears to do so early and ends out making awaited calls on the thread. This could cause the UI to hang.

It is possible that the particular cases where we've seen this avoid the problem with _current_ lower level behavior however even in this case the maybe

[2016-03-04 17:57] MatthewSteeples commented on #2150
@yishaigalatzer I'm afraid I don't know the specific details. It's whatever VSTS is using for hosted builds. It's mostly a black box as far as we're concerned. We have no form of access to the server, unless you want to go down the path of writing a custom TFS build step that would reverse connect an RDP session or something like that.

According to the docs (https://msdn.microsoft.com/library/vs/

[2016-03-04 18:21] yishaigalatzer commented on #2150
Ok, will follow up with the vsts guys.

Sent from Outlook Mobilehttp://aka.ms/xp9y6l

On Fri, Mar 4, 2016 at 9:57 AM -0800, "Matthew Steeples" <notifications@github.com<mailto:notifications@github.com>> wrote:

@yishaigalatzerhttps://github.com/yishaigalatzer I'm afraid I don't know the specific details. It's whatever VSTS is using for hosted builds. It's mostly a black box as far as we're concern

[2016-03-04 18:35] joelverhagen opened #2253 "NuGet.exe does not support TLSv1.1 or TLSv1.2"
Additionally, SSLv3.0 is supported, which is a broken protocol. I think we should disable SSLv3.0.

Support as it stands today:

| _ | Xplat | nuget.exe | nuget.exe |
| --- | --- | --- | --- |
| **Protocol** | **Supported by default** | **Supported by default** | **Maximum support** |
| SSL 2.0 | :x: | :x: | :x: |
| SSL 3.0 | :x: | :white_check_mark: | :white_check_mark: |
| TLS 1.0 | :white_check

[2016-03-04 18:39] joelverhagen commented on #2253
Related: https://github.com/NuGet/Home/issues/390

[2016-03-04 18:56] joelverhagen commented on #2253
@matt-richardson, I am working on a fix for this. Thanks for the report!

[2016-03-04 18:57] alpaix opened #2254 "Align scroll bar position with the topmost edge of package list"
After the search status bar was added the package list in search control keeps blank placeholder above all items. Consider stretching vertical scroll bar up to the topmost list edge.

![image](https://cloud.githubusercontent.com/assets/8239356/13537054/e2aa8fa4-e1f7-11e5-9fe2-af96a7101369.png)

[2016-03-04 19:01] vcsjones commented on #390
It is possible to fix this via registry if it is an immediate blocker or you need to use an old version of NuGet.

If you create a registry key under `HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\.NETFramework\v4.0.30319\` with the name `System.Net.ServicePointManager.SecurityProtocol`, and create a string (REG_SZ) in it with the name set to the path of an executable, you can use the value to set the ver

[2016-03-04 19:23] alpaix opened #2255 "Search merge algorithm ignores entries with no rank"
Multiple sources merging algorithm skips entries with no rank.
Consider assigning rank of '-1' to those results instead.

[2016-03-04 19:33] #2123 closed, assigned to rrelyea

[2016-03-04 20:06] kkm000 opened #2256 "VS2015 Update 2 CTP ignores machine-wide package sources"
Before Update 2 NuGet extension respected machine-wide sources, in our case installed on every developer's machine by dropping a file `%ProgramData%\NuGet\Config\SmartAction.nuget.config`. This worked in VS2015 Update 1, but the Update 2 CTP fails to restore packages from the private source defined in that file. The command line client, however, both lists and restores the packages reported by the

[2016-03-04 20:08] joelverhagen commented on #2253
It seems that .NET Core functionality differs from platform to platform. See https://github.com/dotnet/corefx/issues/6668. Due to this issue, my fix will disable my new test that asserts that SSLv3.0 is not supported.

[2016-03-04 20:23] yishaigalatzer commented on #2239
I'm a bit stumped, I have never seen something like this. Would you be kind enough to attach a debugger, and get the callstack from where this is throwing and perhaps a bit more clues?

[2016-03-04 20:25] yishaigalatzer commented on #2256
@zhili1208 can you please investigate as top priority. @kkm000 can you send your personal email to me, so we can get you access to fixed bits to verify your scenario? y i g a l a t z @msft.com

[2016-03-04 20:28] yishaigalatzer commented on #2253
Although the change is in the desktop commandline, it is heavily used by folks building .net core.

[2016-03-04 20:28] kkm000 commented on #2256
Done. I'll be happy to test the fix!

[2016-03-04 20:31] yishaigalatzer commented on #2250
I've seen 3 people do it in the last couple of days without issues, so possibly you are missing steps from the startup?

Can you start with a fresh clone, make sure all the dependencies are installed (and all the feeds required to build are accessible). and run the plain build.ps1 -CleanCache ?

[2016-03-04 20:32] ArvidJB opened #2257 "Restore for solution in subdirectory creates empty project.lock.json"
We have a directory structure where a project is part of a solution which lives under a different folder (see attached zip file):
A\A.sln
A\A.Util\A.Util.csproj
B\B.csproj
where B.csproj depends on A.Util.csproj and should therefore inherit its NuGet dependencies.

Restoring the NuGet packages for A.sln does not include the NuGet references from A.csproj's project.json. After running
nuget.exe res

[2016-03-04 20:37] yishaigalatzer commented on #2256
Would you mind trying the RC release? It was out 2 days ago http://dist.nuget.org/index.html

[2016-03-04 20:39] rrelyea commented on #2126
Fixed with https://github.com/NuGet/NuGet.Client/commit/de49245d1f71daa69cdfa9a2bd6dc1a1cad1e91c

[2016-03-04 20:39] #2126 closed, assigned to rrelyea

[2016-03-04 20:43] yishaigalatzer commented on #2257
One quick comment - Your project.json is invalid in the sample -

[code]

You can't have a trailing comma after the version number in 6.0.8

[2016-03-04 20:47] kkm000 commented on #2256
@yishaigalatzer: Yes, 3.4-RC fixes the problem, thank you! Extension version 3.4.0.653.

[2016-03-04 20:48] ArvidJB commented on #2257
@yishaigalatzer thanks, that's due to cutting down a much larger solution to a minimal repro. Apparently the NuGet JSON parser can handle the trailing comma, though. The same problem still exists after removing it.

[2016-03-04 20:49] yishaigalatzer commented on #2257
Yup, I can repro it. Trying to figure it out

[2016-03-04 20:57] yishaigalatzer commented on #2257
We are guessing there might be an issue with the msbuild task that find the Project to Project references in this case.

How blocking is this to you, I wanted to understand this in the scope of other things we are working on at the moment.

[2016-03-04 20:59] #2256 closed, assigned to yishaigalatzer

[2016-03-04 21:04] yishaigalatzer commented on #2249
@wbradney we are not familiar with your specific case, so it will be super helpful if you can share a small repro (I noticed you are trying to build yourself - Awesome!, I hope you get through it).

Also note we have an RC release of NuGet 3.4 available on http://dist.nuget.org/index.html never hurts to try, "maybe" it will fix your issues.

[2016-03-04 21:08] ArvidJB commented on #2257
It is blocking us from converting an existing large codebase over to project.json. We would like to do that since it allows us to clean up our existing references. If it's not easy to fix or work around we will stick with our current packages.config approach for a while longer.

[2016-03-04 21:09] yishaigalatzer commented on #2226
We actually built one of these, it's called project.json. The idea is that you can substitute a package with a project reference, you can see it today as part of the xproj project system.

Also note that you can skip steps 3-4, and just build the repo (make sure your build created the package of course), and drop it in a local folder which you can use as a feed (that's exactly how we build nuget t

[2016-03-04 21:09] #2226 closed, assigned to nobody

[2016-03-04 21:15] rrelyea commented on #2032
Although I wasn't able to repro, it appears, from the connect bug, that it happens elsewhere in VS.
Working the VS theming folks for them to address. The connect bug link is above, for you to follow along.

[2016-03-04 21:15] #2032 closed, assigned to rrelyea

[2016-03-04 21:19] pspill opened #2258 "NuGet hangs when lock file can not be written"
NuGet Version: 3.4.0.710
"nuget.exe list -source https://api.nuget.org/v3/index.json"
result: command hangs, no network traffic.

Looking in the debugger, I see this stack:

The IO Exception is:  +     $exception  {"Access to the path 'C:\Users\pspill\AppData\Local\Temp\NuGetScratch\lock\7e2c433b47ec107cf9a287a75947095cbf33c844' is denied."}   System.UnauthorizedAccessException

Once we get in to

[2016-03-04 22:15] yishaigalatzer commented on #2249
1st what version of NuGet are you using (looks like it is some sort of 3.X, but which one specifically are you using?)

Not sure, but if you can setup a repro scenario, I'll had someone work on it first thing Monday morning

[2016-03-04 22:17] yishaigalatzer commented on #2247
OK, so we need a signal on when to remove it, and if it is going to be removed for UWP as well or just .NET Core

[2016-03-04 22:29] emgarten commented on #1588
@davidfowl what is needed for this? And does NuGet still need to run pre/post restore scripts?

[2016-03-04 22:36] emgarten commented on #2257
NuGet.exe 3.4.0 gives the following error: `Invalid input 'C:\projects\S\A\..\B\B.csproj'. The file type was not recognized.`

B is likely being skipped all together during restore. This looks like an issue in `MSBuildUtility.GetAllProjectFileNames`

[2016-03-04 23:18] #1416 closed, assigned to zhili1208

[2016-03-04 23:40] konste commented on #1416
Hoorray! Now, unless 3.4 is real close, how do I get the bits with the fix? Is there a way shorter than rebuilding everything locally?

[2016-03-04 23:43] yishaigalatzer commented on #1416
This will go live with VS Update II, shoot me a personal email for access to bit - y i g a l a t z @msft.com

[2016-03-04 23:47] joelverhagen commented on #2253
Fixed with https://github.com/NuGet/NuGet.Client/pull/330.

[2016-03-04 23:47] #2253 closed, assigned to joelverhagen

[2016-03-04 23:48] joelverhagen commented on #390
Should be fixed with https://github.com/NuGet/NuGet.Client/pull/330 and will be available next release.

[2016-03-04 23:49] alpaix opened #2259 "Consider adding StopLoadingThreshold parameter to nuget.config"
Opened as a follow up on https://github.com/NuGet/NuGet.Client/pull/304 review.

We may need to have a configurable value of image failures ratio to shut off image loading.

[2016-03-04 23:53] #1588 closed, assigned to davidfowl

[2016-03-04 23:54] emgarten opened #2260 "Add support for pre/post restore scripts"
DNU supported pre and post restore scripts. NuGet should also handle this and call scripts listed in the project.json file.

[2016-03-04 23:59] joelverhagen opened #2261 "Consider deprecating SSLv3.0 in nuget.exe."
SSLv3.0 is broken and insecure. .NET Core does not support SSLv3.0 at all (once https://github.com/dotnet/corefx/issues/6668 is fixed). The only case where we support SSLv3.0 is nuget.exe.

Open questions:
1. Does running inside VS (with our VSIX) support SSLv3.0. If so, do we care?

[2016-03-05 00:40] rrelyea commented on #2254
Fixed with: https://github.com/NuGet/NuGet.Client/commit/9f9b846d7fad262ca7e0a4cce9d2c1822c12892e

[2016-03-05 00:40] #2254 closed, assigned to rrelyea

[2016-03-05 02:27] wbradney commented on #2249
I did a `nuget update -self` just today so should be bang up to date. I'll try the RC and if no luck I'll have another go at debugging the sources. I suspect the problem is related to our internal TeamCity repository, but it works fine in every other use case we've tried thus far.

UPDATE: version 3.3.0.212 was what I had. The 3.4 RC didn't fix it.

Thanks

[2016-03-05 02:28] wbradney commented on #2249
Can you give me a clue as to where in the codebase I'd need to be looking to spot this?

[2016-03-05 02:36] tmbalun17 commented on #1320
@emgarten I have downloaded Visual Studio 2015 Update 2 RC, so should this feature be working for me, as currently it does not work for me locally, or I have to wait till the full release of Visual Studio 2015 update 2.

[2016-03-05 02:47] yishaigalatzer commented on #2249
Here is what I do - compile and run until you get the repro. The run with --debug flag.

Attach and turn on first chance exceptions, unchecked everything except nullref, you should drop right there

[2016-03-05 13:27] wbradney commented on #2249
Ah. I hadn't realized that `-Verbosity detailed` shows the full error stack - cool.

[code]

[2016-03-05 14:24] wbradney commented on #2250
Sorry if I'm being dense, but I just tried again on my clean home laptop and I get the exact same error.
What is the "plain build.ps1"? I don't see any build.ps1 file anywhere in the directories cloned.

[2016-03-05 14:25] wbradney commented on #2250
Also, where do I find the list of "feeds required to build"?

[2016-03-05 14:34] wbradney commented on #2250
The script is trying to install a package called KoreBuild from source `https://www.myget.org/F/nugetbuild/api/v2`. When I list the packages there the KoreBuild package doesn't seem to exist (even in a prerelease form):

[code]

[2016-03-05 17:48] sdemers commented on #1922
I had the same issue. One simple case to reproduce is to create a WPF application and execute "nuget pack <app>.csproj -Build". It's also reproducible with nuget-3.4.0-rc.

The workaround is to build the project with MSBuild first and then create the package with nuget.

[2016-03-05 22:51] skyflyer opened #2262 "contentFiles, project.json and ASP.NET (5/core 1.0) projects"
Goal: to be able to create a nuget package, which can:
1. Copy content (CSS/images/CSHTML files/...) to a project
2. Reference set of dependencies (zero or more)
3. Transform existing files (config files, source files)
4. Run pre-post install scripts

Seems like all of this is planned and some of it is supposed to be implemented, but I can't get it to work. I've been testing with a very
[simple nu

[2016-03-05 23:58] yishaigalatzer commented on #2262
1, 2, 4 are not supported and not planned to be supported.

[2016-03-05 23:59] yishaigalatzer commented on #1922
We didn't get to touch this code yet. I'm assuming that what is going on is we always pick msbuild 4 for the packing scenarios which makes it pick an older version of c#

[2016-03-06 00:28] skyflyer commented on #2262
@yishaigalatzer,

I'm surprised. The page (http://docs.nuget.org/Create/Creating-and-Publishing-a-Package#powershell) specifically mentions:

Am I reading this backwards?

Given the existing issues #1523 and #627, this seems to have been discussed, but no definite conclusion yet? Some issues (#1908, #1792, [#1080](https://github.com/NLog/NLog/issues/1080) refer to functionality number 1 in "my lis

[2016-03-06 01:37] yishaigalatzer commented on #2262
In a way you are, and we should probably do better with the docs.

There are two worlds for NuGet the packages.config world and the project.json world. What you read is referring to the packages.config world. The unfortunate fact is that powershell scripts is a feature that only work in visual studio and sometimes only in specific versions of visual studio. It does not work from command line, and

[2016-03-06 01:44] yishaigalatzer commented on #2250
Sorry this doc is out of date, I'll fix it, I now understand the confusion (sorry for not following you link earlier).

The steps are described better on the home page of this repo, in short clone nuget.client and run build.ps1

[2016-03-06 09:26] yyjdelete opened #2263 "[VSIX]Failed to add reference to 'System.Runtime'. Please make sure that it is in the Global Assembly Cache."
targeting '.NETFramework,Version=v4.6.1'
VS2015 Update2 CTP
Nuget(VSIX) [v3.4.0-rc](https://dist.nuget.org/visualstudio-2015-vsix/v3.4.0-rc/NuGet.Tools.vsix)
.Net Framework 4.7.1515.0(Win10 14279 Insider Preview x64)

[code]

or powershell

[code]

---

While the standalone version of Nuget works well.
Nuget(exe) [v3.4.0-rc](https://dist.nuget.org/win-x86-commandline/v3.4.0-rc/nuget.exe)

[code]

[2016-03-06 19:54] skyflyer commented on #2262
@yishaigalatzer,

thank you for taking the time to elaborate. I will go ahead, and close the ticket.

Additionally,
1. Could you point me to the reference (documentation, example) on "immutable content"? As I explained, I was unable to add content to the project. I would also like to find out on how the infrastructure plans to ensure that the content (once brought into the target project) remains

[2016-03-06 19:54] #2262 closed, assigned to nobody

[2016-03-06 20:05] yishaigalatzer commented on #2262
1. Immutable content is explained on our blog (content files demistified) they are not yet supported asp.net core, the work for that is being done by the asp.net team as we speak.
2. The scenario doesn't seem related, can you find the right issue?
3. I didn't walk through the layout scenario (I assume you mean a common razor file?) @davidfowl you guys should have a sample for this we can reference

[2016-03-06 20:15] skyflyer commented on #2262
Ad 1) I've tried importing files as per "Content files demistified" blog post to UWP and ASP.NET 5 projects. I get that ASP is not supported (yet), but I've tried the universal class library as well. I've mentioned my steps and included the nuget package in my initial comment. No image in my (Windows Universal Class Library) project.

Ad 2) I've fixed the links to issue number 1080 again -- I must

[2016-03-06 20:25] yishaigalatzer commented on #2262
So for now the items don't show up in the solution explorer but they get compiled. The c# team would address it at some point. @pilchie

[2016-03-06 20:27] yishaigalatzer commented on #2262
The blog bug says the same thing we discussed, mutable config files are not supported at this point

[2016-03-06 20:32] matt-richardson commented on #390
Thanks for the awesomely fast turnaround, @joelverhagen.

[2016-03-07 00:14] tomasz-soltysik opened #2264 "Suffix paramter adding 0 to SymVer"
With AssemblyInformationalVersion set to 1.0.1 pack command creates package with version 1.0.1
If I use Suffix parameter with eg. Dev, pack command creates package with version 1.0.1**.0**-Dev which is not right.

[2016-03-07 00:24] tomasz-soltysik commented on #2264
`public NuGetVersion(Version version, string releaseLabel = null, string metadata = null)`
is probably invoked somewhere. First parameter in [SemanticVersion ctor](https://github.com/NuGet/NuGet.Client/blob/afc65ae26b6f79b85f7a8deddab18c2cc3182b70/src/NuGet.Clients/NuGet.CommandLine/Commands/PackCommand.cs#L160) should be changed

[2016-03-07 06:25] jc1001 commented on #1922
When verbose output is turned on, it does specify that it is using MSBuild version 14 (see original message above).  I also did manage to build a non-WPF project that uses new C# language features.  Not sure how much analysis is performed on the project file before packing though.  It may swop to another MSBuild version when it detects any WPF dependencies.

[2016-03-07 11:16] brainwipe commented on #2239
I have a solution!

**Cause: Corrupted %appdata%/nuget.config**

## Solution:

**Warning: this solution will remove any custom config you might had added, such as additional package sources and proxy config.**
- Uninstall NuGet Visual Studio extension
- Navigate to: `%appdata%/Nuget`
- Move `NuGet.Config` out of the folder
- Reinstall NuGet Visual Studio Extension
- Restart Visual Studio and open

[2016-03-07 11:16] #2239 closed, assigned to nobody

[2016-03-07 11:41] matt-richardson commented on #390
Cloned at https://github.com/NuGet/NuGet.Client/commit/cd8f8191b089a32deca1f73910b9510d8af0ebca, compiled locally and tested - all looks good. Thanks!

[2016-03-07 13:53] wbradney commented on #2250
OK, thanks. I was able to build, but there are errors in the tests. I'm proceeding with debugging my issue.

[2016-03-07 14:34] matt-richardson commented on #390
@vcsjones - thanks for the override info.

I found that your suggestion didn't work - at least using this reg file:

[code]

But, poking around, I found adding the key for `SchUseStrongCrypto` did:

[code]

It [appears](http://referencesource.microsoft.com/#System/net/System/Net/SecureProtocols/SslStream.cs,124) that the `DisableStrongCrypto` flag overrides the app specific setting in some(most?)

[2016-03-07 14:34] wbradney commented on #2249
It looks like `DependencyInfoResourceV2.ResolvePackage()` ends up adding a `null` to the `combinedList` of all packages, because it fails to `FindPackage`on the package that is currently being referenced by the csproj. The package it's looking for is indeed in the repository, however...
[A `nuget list -AllVersions` shows it and I can `nuget install` that specific version without a problem]
Where's

[2016-03-07 14:36] wbradney commented on #2249
Should the failure to find the current package be fatal here? If not it's always going to cause an obscure `NullReferenceException`later on...

[2016-03-07 14:52] wbradney commented on #2249
Note that the package in question is a prerelease version (`Blah.0.1.1-alpha9`). In the debugger it seems that `PackageRepositoryExtensions.FindPackage()` returns null for all versions of this prerelease package except the latest one.

[2016-03-07 15:45] ArvidJB commented on #2257
Looks like the problem is that the msbuild.exe process returns "normalized" paths for the projects in the solution, while the call to MsBuildUtility.GetAllProjectFileNames in RestoreCommand.ProcessSolutionFile does not normalize the path to the project. I think this can be fixed by adding a Path.GetFullPath:

`-            var projectFiles = MsBuildUtility.GetAllProjectFileNames(solutionFileFullPa

[2016-03-07 16:07] yishaigalatzer commented on #2249
Can you compose a repro scenario?

[2016-03-07 17:54] yishaigalatzer commented on #390
@matt-richardson FYI, we drop builds in myget on the nugetbuild gallery. The command line (signed) is available in the nuget.commandline package

[2016-03-07 18:06] matt-richardson commented on #390
@yishaigalatzer Ahh. That would've been useful. I saw [a mention](https://docs.nuget.org/consume/installing-nuget#installing-a-ci-build) that CI builds are not available, but I now see that is specific to the vsix builds. Might be worth clarifying that paragraph.

[2016-03-07 18:15] yishaigalatzer commented on #390
thanks for the feedback, clarified.

By the way - Note that on every doc page, there is a link on the bottom to github, our docs are OSS as well, feel free to submit changes/suggestions right on the page.

[2016-03-07 18:17] analogrelay opened #2265 "NuGet cross-plat cli no longer reads NuGet.Config from project directory"
We're seeing issues when there is a `NuGet.Config` immediately adjacent to a `project.json`. NuGet used to honor that config file, but it no longer does. It looks like the problem is here: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/RestoreCommand/RequestFactory/RestoreArgs.cs#L63

We used to use the project directory itself as the search root, now we use the immed

[2016-03-07 18:18] matt-richardson commented on #390
Loving how fast you guys are responding to issues - keep up the great work!

[2016-03-07 18:25] dagood commented on #2220
/cc @emgarten

The workaround appears to be working stably but it would be good not to have to worry about being blocked by this in the future.

[2016-03-07 19:11] zhili1208 opened #2266 "NuGet UI installed tab loading forever for UWP app"
repro step:
1.  File -> new -> project-> visual c# -> blank app(universal windows) , or class library (portable)
2.  Right click project , open  manage nuget  package
3.  on installed tab.

expected : show installed packages

actual: loading forever

[2016-03-07 19:15] zhili1208 opened #2267 "NuGet UI install package but got ''calling thread can't access this object because a different thread owns it""
1. create a uwp project.
2. open NuGet UI and select browse.
3. install "newtonsoft.json"

expected : package is installed well

actual: got error "''calling thread can't access this object because a different thread owns it"

[2016-03-07 20:56] yishaigalatzer commented on #2265
@emgarten please decide if you want to fix or reassign to @TimBarham

[2016-03-07 20:57] yishaigalatzer commented on #2264
Thanks for reporting this issue, we will take a look in the next release as we are locking down for 3.4.

[2016-03-07 20:58] yishaigalatzer commented on #2263
@yyjdelete would you mind updating Update 2 to RC as well?

[2016-03-07 20:59] yishaigalatzer commented on #2261
CC @blowdart - Can you share your opinion here?

[2016-03-07 21:00] wbradney commented on #2249
I am unable to reproduce it with test packages in a local folder. I need to be able to step into `PackageRepositoryExtensions.FindPackage()` - where does that code live?

[2016-03-07 21:01] blowdart commented on #2261
Kill ssl 2 & 3 with fire

[2016-03-07 21:05] yishaigalatzer commented on #2249
https://github.com/NuGet/NuGet2/blob/2.11/src/Core/Repositories/PackageRepositoryExtensions.cs

[2016-03-07 21:06] yishaigalatzer commented on #2258
@emgarten ping

[2016-03-07 21:08] yishaigalatzer commented on #2179
@forderud I do see a bunch of folks being able to figure this out, are you unblocked here?

@deepakaravindr please shepard this along

[2016-03-07 21:09] yishaigalatzer commented on #2124
@johnataylor can you update on this?

[2016-03-07 21:10] yishaigalatzer commented on #2121
We figured out this is not a NuGet issue, but a visual studio core issue.

[2016-03-07 21:16] yishaigalatzer commented on #2071
FYI - We haven't forgotten about this issue. It is not going to happen in 3.4 (because 3.4 closes before the CLI releases). We will continue discussing the alternatives and report here if we come up with a better alternative

[2016-03-07 21:17] yishaigalatzer commented on #2261
@joelverhagen you know what to do.

[2016-03-07 21:18] joelverhagen opened #2268 "Finish up IVS APIs to facilitate package indexing"
Most of the needs were addressed by https://github.com/NuGet/Home/issues/2148, however two needed more design or required changes that were too large for 3.4. The remaining work is:
### Opening the NuGet UI
- [ ] Open the NuGet UI for a specific project, tab (Browse/Installed/Updates), package source, and source term.
  - It would also make sense to allow the “Include prerelease” checkbox as a par

[2016-03-07 21:19] emgarten commented on #2258
NuGet/NuGet.Client@d0fdec9eea230cbb4fbacbf1d83adc099daf57c2

[2016-03-07 21:19] #2258 closed, assigned to emgarten

[2016-03-07 21:20] #2148 closed, assigned to joelverhagen

[2016-03-07 22:25] alpaix commented on #2267
The counter update methods RefreshAvailableUpdatesCount, RefreshConsolidatablePackagesCount should be re-written as following:

[code]

[2016-03-07 22:34] yishaigalatzer commented on #2164
@emgarten this is to review and PR from @ellismg

[2016-03-07 22:35] yishaigalatzer commented on #1992
@emgarten can we close this one?

[2016-03-07 22:36] joelverhagen opened #2269 "Unify retry logic and address download timeouts"
This is a continuation of https://github.com/NuGet/Home/issues/2057.

The failures that should be investigated are:
1. Errors while downloading the stream
   - [x] Timeout (with https://github.com/NuGet/NuGet.Client/pull/390)
2. Unify the retry logic. Right now, there is retries in:
   - [ ] `HttpRetryHandler`, for HTTP failures, timeouts and HTTP 500+
   - [ ] `HttpFileSystemBasedFindPackageByIdR

[2016-03-07 22:36] yishaigalatzer commented on #1989
@toddm this is the main item for pack. Your key partner is @ericstj please keep me involved in the design discussions, and lets get one setup this week.

CC @petermarcu

[2016-03-07 22:36] yishaigalatzer commented on #1947
Oh well, moving to 3.5

[2016-03-07 22:37] joelverhagen commented on #2057
Closed but to be continued with https://github.com/NuGet/Home/issues/2269.

[2016-03-07 22:37] #2057 closed, assigned to joelverhagen

[2016-03-07 22:40] zhili1208 commented on #2006
@Heinzelemente I sent you an email with the private build two weeks ago, did you try it? we just checked in a fix about this, we can share the latest build with you, it might solve your issue. thanks

[2016-03-07 22:43] johnataylor commented on #2244
This should now be fixed.

[2016-03-07 22:43] #2244 closed, assigned to johnataylor

[2016-03-07 22:54] johnataylor commented on #2266
This does appear to be a problem - just tested bld 724 and get the behavior described.

[2016-03-07 23:55] toddm commented on #2264
This looks like it might have been fixed on March 3 with [113f7d3](https://github.com/NuGet/NuGet.Client/commit/113f7d3697bb89c9b2ad077941391f9cba5f7d2f).  Please take a look at the latest version from here http://myget.org/gallery/nugetbuild to see if it fixes the problem.

[2016-03-08 00:10] emgarten commented on #2220
NuGet needs a way to _list_ from a v3 feed. Going to v2 for v3 to find all packages is a work around itself.

[2016-03-08 00:19] dagood commented on #2220
True. It would be good if the v2 workaround still worked until that is implemented though.

[2016-03-08 00:39] kkm000 opened #2270 "Exception adding a package: VS2015 Update 2 CTP, Nuget extension 3.4.0.653 (RC)"
Trying to install a package FSharpx.Extras.1.10.3. Not sure if this is a packaging problem, or a bug in NuGet package manager.

VS2015 Update 2 CTP with Nuget extension 3.4.0.653 (this is the latest RC. Installation attempt fails after resolving dependencies with the following exception logged in the Output window:

[code]

The same package installs in VS2015 Update 1 with stock NuGet extension.

[2016-03-08 00:40] yishaigalatzer commented on #1921
@toddm I suspect this could be another item that got fixed with pack being ported from nuget2 to nuget.client repos

[2016-03-08 00:44] yishaigalatzer commented on #1909
@OliverRC we have made a few strides in this area, but I'm not sure if we covered your scenario enough. Would you mind trying to use NuGet 3.4RC and tell us what you see so far?

https://dist.nuget.org/index.html

I'm keeping this open in 3.5 because we plan to keep investing in this area after the 3.4 release, but we would really like to know how much this impacted your scenario so far.

[2016-03-08 00:45] yishaigalatzer commented on #1903
Unfortunately we haven't gotten to this bug in 3.4 release, I'm moving out to 3.5

[2016-03-08 00:48] yishaigalatzer commented on #1898
@validian we believe this should fixed now, would you be able to contact me again to grab a build and validate?

[2016-03-08 00:58] yishaigalatzer commented on #1874
Unfortunately this flew under the radar for a while, and we won't be able to get to it for 3.4. I'm marking as up for grabs, if there is a particular interest in fixing this faster, we would love to take a PR.

[2016-03-08 01:10] zhili1208 commented on #1898
verified this, we only fixed v2 and v3 source, if the source is local path or UNC share, it will go to old nuget.core, we didn't fix that yet, when we move local repository to NuGet.Client solution, it will be fixed automatically.

[2016-03-08 01:33] #2267 closed, assigned to zhili1208

[2016-03-08 02:56] deepakaravindr commented on #2235
Upon investigation, I found that this is a regression in References3 interface w.r.t WPF application.

For WPF application only, At https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/PackageManagement.VisualStudio/Utility/EnvDTEProjectUtility.cs#L1059, we check for reference3.Resolved and reference3.CopyLocal properties.

In VS 2015 Update 1, the aforementioned properties return true

[2016-03-08 06:32] yyjdelete commented on #2263
Ok, I will try it after the download is finished.

[2016-03-08 08:31] emgarten commented on #1992
@yishaigalatzer there are still some "TODO" exceptions thrown in this area. I also haven't tested this on xplat, but the code is there.

[2016-03-08 08:52] Heinzelemente commented on #2006
@zhili1208 first of all: thanks for the build. Yes I tested the build now for a week and the initial load is now a little faster (~30 seconds). The browsing is still slow, but only during scrolling. I can select the packages without any delay. But to be honest: it improved a lot already.

[2016-03-08 12:53] forderud commented on #2179
My problem still persists, even after pulling in the latest commits from the "dev" branch.

Could the problem be related to me using the "community" version of VS2015, and not the "professional" version? Alternatively, do I need the not yet released VS2015 update 2?

[2016-03-08 13:30] yyjdelete commented on #2263
Excatly the same issue in Update 2 RC.
@yishaigalatzer

---

Tested with an project with `.csproj` not `project.json`.

[2016-03-08 13:57] TimBarham commented on #2179
@forderud - just as a data point, my home machine is also on VS2015 Community, with update 1, and it is building fine there for me.

The problem seems to be your build number:

[code]

(Heh, seems we have a typo there that needs to be fixed)

That is certainly too large to fit in an `Int32`. It looks like that value is `BuildNumber`, calculated in `build\common.xproj.props` - it takes the number o

[2016-03-08 14:12] forderud commented on #2179
Interesting.. Then I'm guessing that different regional settings might be the reason for why the build only fails for me.

[2016-03-08 15:34] yishaigalatzer commented on #2263
Ok, I think there is a dup for this somewhere, system.runtime is not a framework assembly so the call to add the reference fails. The workaround is to add it manually first.

@ericstj

[2016-03-08 15:36] yishaigalatzer commented on #2006
We have another improvement, would you mind trying the build from yesterday?

[2016-03-08 15:59] Heinzelemente commented on #2006
@yishaigalatzer yes of course. Every improvement is welcome. My department (31 developer) will be happy about it.

[2016-03-08 16:05] yishaigalatzer commented on #2006
Another question, do you have source that are not accessible on your list? For example is nuget.org enabled?

[2016-03-08 16:19] toddm commented on #1921
Yes, this works fine with the latest build: http://myget.org/gallery/nugetbuild.  Closing the issue.

[2016-03-08 16:19] #1921 closed, assigned to toddm

[2016-03-08 16:37] #2261 closed, assigned to joelverhagen

[2016-03-08 16:42] softwarecraft commented on #1138
I searched for "nuget" in the folder C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\ and delete the four subfolders it found. Ran the VSIX installer without opening Visual Studio. Install worked. Did the same thing and it worked for another extension for PowerShell tools in Visual Studio which was failing in the same way. Some procedure worked last time I had to do this in the fal

[2016-03-08 16:44] joelverhagen commented on #2261
Fixed with https://github.com/NuGet/NuGet.Client/pull/339.

[2016-03-08 17:01] zihotki commented on #1987
According to my experience the feature is mostly relevant for old projects. But current UI requires to do a lot of clicks to consolidate a single package across many projects (imagine a solution with 80 projects and you need to consolidate package in 30 of them, good luck with selecting all of them).

[2016-03-08 19:05] ericstj commented on #2263
I think this one is the dup: https://github.com/NuGet/Home/issues/1855

[2016-03-08 19:13] #2263 closed, assigned to nobody

[2016-03-08 19:17] yishaigalatzer commented on #2270
We haven't started looking into it, but it is always a good idea to share more details, about the project type, other packages (pre install packages.config), nuget.config

[2016-03-08 19:42] kkm000 commented on #2270
The project type is a very normal F# library without any manual project modifications, recently created with the same VS version (Up2 CTP), targeting .NET 4.5.2. The problem does not reproduce on another machine with VS 2015 Update 1 RTM.

I think I have an idea. The package FSharpx.Extras that I tried to install has a few dependencies, and I started installing them one by one in reverse topologic

[2016-03-08 20:34] alpaix opened #2271 "Package search UI keeps loading forever when error occurs"
//Follow-up on https://github.com/NuGet/Home/issues/2266.

When exception is thrown and is not observed in package items loading task the UI state remains stale.

[2016-03-08 20:41] alpaix commented on #2266
Filed new issue only for eternal loading bug. Returning the master one to @johnataylor.

[2016-03-08 20:43] alpaix opened #2272 "Show errors in output button is broken"
"Show errors in output" button of package search UI does nothing.

[2016-03-08 21:40] ericstj opened #2273 "Move UAP/NETCore50 down to NETStandard1.4 (dotnet5.5)"
Due to shared library and the inability for the NETNative toolchain to support side-by-side we have to fix the generation of UAP/NETCore50 to a version less than latest.  We need to do this before NuGet 3.4 ships so that we aren't moving backward in the generation mapping.

This is required so that we can expose more API for NETCore than is currently supported by UWP (EG: more complete reflection)

[2016-03-08 22:28] kkdawkins opened #2274 "NuGet Delete does not work against a V3 endpoint"
NuGet delete only works when given a V2 endpoint. When given a V3 endpoint, it incorrectly constructs the URL.

For example, the following command:

`nuget delete angle.collar 43.1.78 -Source https://mseng.pkgs.visualstudio.com/DefaultCollection/_packaging/KevinDaw/nuget/v3/index.json -ApiKey VSTS`

Produces the following REST request:

`DELETE https://mseng.visualstudio.com/DefaultCollection/_pac

[2016-03-08 22:59] yishaigalatzer commented on #865
Some commands still fail here like "list". Moving out to 3.5 Beta, the plan is to remove dependency on nuget.core.dll and when that change happens more of these scenarios will start lighting up

[2016-03-08 23:00] #793 closed

[2016-03-08 23:01] yishaigalatzer commented on #793
No EscadeDataString is used for figuring out package path

[2016-03-08 23:43] alpaix commented on #1858
@davidsh NuGet uses WebProxy instances to populate [ProxyCache](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Configuration/Proxy/ProxyCache.cs).

First, it attempts to read proxy settings from a config file or from an environment variable. Proxy settings can be set as a triplet of host, user name, and password values. Optional bypass list can be added too.

Next, it validate

[2016-03-09 04:01] TimBarham commented on #2265
Hey @anurse - any chance you have a simple project that repro's this problem?

[2016-03-09 04:52] #2271 closed, assigned to nobody

[2016-03-09 08:36] TimBarham commented on #2265
Never mind, I realize now it's a trivial repro (just a basic project created by `dotnet new` will do it).

[2016-03-09 09:18] willemtoerien opened #2275 "Nuget packages will not add references with "resources" in name."
When a package has "Resources" in it's dll name, the dll will not be added to the references. Please see [http://stackoverflow.com/questions/35886540/nuget-is-not-adding-references/35887234](url) for more information.

Once I alter the name "Resources" to something else, it works fine.

Kind Regards,
Willem Toerien.

[2016-03-09 09:30] Heinzelemente commented on #2006
@yishaigalatzer No the options set like that:
![2016-03-09 10_29_18](https://cloud.githubusercontent.com/assets/12995603/13630869/e11fb856-e5e1-11e5-9c20-5a1e8d93fefc.png)

[2016-03-09 09:33] Heinzelemente commented on #2006
I installed the new vix and the issue is is definitely solved now. I can browse and select the packages without any delay. Only the initial start of the manager needs some seconds ("Browse"-Tab), but that is in my eyes absolutely OK. The second start of the manager is fast and fluent.
Well done.

[2016-03-09 10:09] hofnarwillie commented on #1138
Verified workaround: I found all the folders in the `C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions` folder which contained a .vsixmanifest file with an `<Identity Id="{some-package-id}"` element and removed those folders manually (just copied to my desktop incase it blows up). Then opened VS in admin and installed it again through the UI.

[2016-03-09 15:30] yishaigalatzer commented on #2006
Very cool. I have a couple of suggestions/notes
1. Instead of just dropping files in the download folder use nuget.exe add or init command and you will see faster performance out of this folder.
2. The tab performance is going to be improved further in rtm

[2016-03-09 15:30] #2006 closed, assigned to zhili1208

[2016-03-09 16:31] maxpavlov opened #2276 "NuGet and P4VS integration"
We use perforce as our source control system. P4VS is the name of the Visual Studio plugin provided by Perforce.

There is a huge problem with the plugin - every time we NuGet something in or update the package's version, we need to manually checkout the packages.config in the project for it's changes to be noticed by SC. This adds errors that are only detected during CI.

The reason for the chang

[2016-03-09 16:41] vtbassmatt opened #2277 "CLI "delete" is actually "unlist""
The CLI verb "delete" is actually "unlist", at least against NuGet.org and VS Team Services (not sure what other implementations have decided). It would cause less confusion if there were two separate verbs.

NuGet.org would deny "delete" but allow "unlist". Presumably for fileshares, "delist" would be denied but "delete" would work. Team Services would allow both verbs but apply potentially diffe

[2016-03-09 17:06] joelverhagen commented on #2273
Fixed by https://github.com/NuGet/NuGet.Client/pull/342.

[2016-03-09 17:06] #2273 closed, assigned to joelverhagen

[2016-03-09 19:37] yishaigalatzer commented on #2277
This feedback is valid, I suggest that on vsts you make delete == delete and not unlist.

On NuGet.org we can eventually change the behavior like you are suggesting, but for now we could just add an unlist verb.

Lets discuss priority offline

[2016-03-09 19:42] yishaigalatzer commented on #2276
This issue was fixed in visual studio 2015, we do not plan to address it in downlevel versions of visual studio. So the answer is to update, and let us know if you still see an issue.

My 2c and please don't take it as a copout, we totally still support centralized source control systems like perforce and TFS:

Take a look at GIT, I used perforce and loved it back in 2007. but the fact that you st

[2016-03-09 19:43] yishaigalatzer commented on #2275
Yes, this is a by design convention, because of localized packages - https://docs.nuget.org/create/creating-localized-packages

[2016-03-09 19:43] #2275 closed, assigned to nobody

[2016-03-09 20:11] kichalla opened #2278 "Corrupt cache file causes dotnet restore to crash"
I am able to repro this with the following latest version of dotnet CLI. I couldn't re-open the issue https://github.com/NuGet/Home/issues/2133, so creating a new one here.

This issue has been causing lot of pain because to fix it I have to delete the individual corrupt packages and run the restore again and again (as each time its a random package) until the restore succeeds.

**Repro**
- Delete

[2016-03-09 20:12] #2278 closed, assigned to nobody

[2016-03-09 20:12] yishaigalatzer commented on #2278
The fix didn't make it into the CLI yet, should happen today.

[2016-03-09 20:13] yishaigalatzer commented on #2278
@kichalla use nuget.exe locals -clear all to alleviate your pain

[2016-03-09 20:19] kichalla commented on #2278
@yishaigalatzer Actually I did try clearing the caches but that still didn't resolve the issue. Didn't know that it was not part of the new CLI yet. Will try it out once available. Thanks

[2016-03-09 20:51] yishaigalatzer opened #2279 "Update Tab - time to load"
Repro:
1. Install NuGet 3.4
2. Create a new MVC 5 web application
3. Open the nuget package manager ui for the project and immediately click on the update tab
4. Wait ~10-20 seconds

Expected:
1. The data should show up a lot faster (within a couple of seconds)

[2016-03-09 21:04] moozzyk opened #2280 "dotnet restore is a black hole when run in an empty folder"
I accidentally deleted all files (including project.json) from my project folder. Then I tried running restore and I got this:

[code]

Traces indicate that NuGet is invoked:

[code]

so filing it here instead of in the cli repo.

[code]

[2016-03-09 21:07] #2161 closed, assigned to rrelyea

[2016-03-09 21:44] skofman1 opened #2281 "When pack is called and AssemblyInformationalVersionAttribute has an illegal value a package with version 0.0.0 is created"
Happens with NuGet.exe command line. The desired behavior should be to fail pack

[2016-03-09 22:20] #2266 closed, assigned to johnataylor

[2016-03-09 22:20] johnataylor commented on #2266
fixed

[2016-03-09 22:20] johnataylor commented on #2270
problem in json deserialization - fixed

[2016-03-09 22:20] #2270 closed, assigned to johnataylor

[2016-03-09 22:28] forderud commented on #2179
My problem can be reproduced by changing the decimal separator to ',' in the Windows region settings.

This causes the `$([System.TimeSpan]::FromTicks($(SpanTicks)).TotalMinutes)` expression (in build\common.xproj.props) to return a floating point string with a ',' as decimal separator. This in turn is parsed incorrectly in the next line.

[2016-03-09 22:34] yishaigalatzer commented on #2179
Thanks!

[2016-03-09 22:40] johnataylor commented on #1640
This is a fetch for registration blobs. This should now be significantly better because they are compressed to 20% of the original size which on some networks will be noticeable.

However fundamentally this data is needed. And its probably not reasonable to have it all in the initial search result because it involves the metadata for all the dependencies.

When we introduce more effective client c

[2016-03-09 22:58] johnataylor commented on #1909
Couple of additional comments on this. With regards to doing a more intelligent range based request for the package version. We looked into this in some detail, and we actually have protocol that allows us to arrange package metadata for multiple versions more effectively (we effectively split the metadata into a tree and walk that if there is a very large number of versions.)

However, we have fo

[2016-03-09 22:58] zhili1208 commented on #1895
Tested NuGet 3.4.0.715 on VS 2015 Update2, it's fixed.
![test](https://cloud.githubusercontent.com/assets/7131513/13653580/6584e89e-e607-11e5-8ca3-1a25a1b45cbd.PNG)

[2016-03-09 22:58] #1895 closed, assigned to zhili1208

[2016-03-09 23:24] johnataylor commented on #1803
this should be fixed in 3.4

[2016-03-09 23:24] #1803 closed, assigned to johnataylor

[2016-03-09 23:38] kkm000 commented on #2270
Is there a version of the extension I can use to confirm the fix?

[2016-03-10 00:02] TimBarham opened #2282 "'dotnet restore --packages' behavior has changed"
See https://github.com/dotnet/cli/issues/1764.

When restoring using nuget (`nuget restore -PackagesDirectory ...`), we resolve the path as relative to the current directory. Using `dotnet restore --packages ...` used to do the same thing, but now resolves the path as relative to the project folder.

[2016-03-10 00:24] rrelyea opened #2283 "Consider making "copy" of package in listbox put something useful on clipboard."
While working on https://github.com/NuGet/Home/issues/655, we discussed making copy of a package in the listbox (browse, installed, or update tabs) do something useful...

Trick is...what is the useful snippet to put on clipboard?
1) url to package (i'm told that is hard to know...)
2) string to paste into nuget.org (or similar) search box
2a) packageid:Foo.Bar version:1.2.3
2b) Foo.Bar/1.2.3  (do

[2016-03-10 00:26] skofman1 opened #2284 "Nuget.exe pack -Exclude is documented but not supported"
Pack documentation here: https://docs.nuget.org/consume/command-line-reference#pack-command
specifies Exclude as an option, but it's not supported in code.

[2016-03-10 00:45] johnataylor commented on #2124
This is a problem with owin/1.0.
The detail pane is not displayed. The versions appear to be there but there are some semver problems on this one.

[2016-03-10 01:06] johnataylor commented on #2124
OK this turns out to having nothing to do with semver or broken metadata. All the code is working correctly and this behavior is not a regression.

But this is clearly a UI design bug.

Specifically the version list is only populated by package version you _don't_ have install. So if there is only one version of a package and you have that one version installed then you will always see nothing in

[2016-03-10 01:15] yishaigalatzer commented on #2284
Looks like a duplicate of https://github.com/NuGet/Home/issues/2169

[2016-03-10 01:22] yishaigalatzer commented on #452
@AArnott I want to think about this again. The ask here as far as I understand is to have a do not distribute me further, so more of a publish metadata.

How do we see this work across multiple build systems (like the .NET CLI and msbuild)?

[2016-03-10 01:23] johnataylor commented on #561
There are a few things to consider for 3.5.

We have discussed publishing resource called "latest." Alternatively fetch the version list from "flat" container and work out the latest from that. It's unfortunate that there are two alternative protocols for the exact same data but toggling between these existing two might be better than introducing a third as its impossible to deprecate either havin

[2016-03-10 01:24] yishaigalatzer commented on #2283
A couple of notes:
1. Clipboard.SetData doesn't work reliably as far as I know. We should either use a vs service or I can drag up some code we wrote in the past that does this reliably. (Either way Clipboard.SetData can throw).
2. We also want to copy from the details pane
3. Should we add a context menu here?

[2016-03-10 01:25] johnataylor commented on #561
Also note the data in 3.4 is reduced by about 80% through gzip compression. The number of http calls remains high, however, the best fix there is to do the fix to the search endpoint as described above.

Moving this to 3.5.

[2016-03-10 01:29] yishaigalatzer commented on #2280
That's a really cool way to describe this issue :) @TimBarham

[2016-03-10 01:32] johnataylor commented on #2279
As we discussed lets just consolidate discussion about update perf #561

[2016-03-10 01:32] #2279 closed, assigned to nobody

[2016-03-10 01:34] yishaigalatzer commented on #2274
@kkdawkins is this with 3.4?

[2016-03-10 01:41] #873 closed

[2016-03-10 01:45] yishaigalatzer commented on #329
The guidance from andrew arnott was not to go this way. https://github.com/NuGet/Home/issues/452

[2016-03-10 01:45] #329 closed

[2016-03-10 02:19] deepakaravindr opened #2285 "[PerfWatson] UIDelay: nuget.packagemanagement.visualstudio.dll!NuGet.PackageManagement.VisualStudio.VSMSBuildNuGetProjectSystem+<>c__DisplayClass_0+<<AddReference>b__>d.MoveNext"
This is a perf bug where the total time spent by VSMSBuildNuGetProjectSystem.AddReference on the UI thread is significant. There is no specific scenario, but that, around 5% of the time, total time spent on AddReference could be greater than 5 secs and lesser than 10 secs.

[2016-03-10 02:55] deepakaravindr commented on #2285
One possible improvement to the method could be to perform any necessary IO operations to msbuild project file off the UI thread.

[2016-03-10 03:32] alpaix opened #2286 "Normalize use of loggers in UI"
Follow-up on https://github.com/NuGet/NuGet.Client/pull/353.

**The problem:**
UI layer employs many different loggers across different components, e.g. `INuGetUILogger`, `Logging.ILogger`, `ActivityLogger`, `ProgressWindow`, etc. This leads to inconsistent user experience where different actions send output in many ways: inline in notification bar, in activity log file, in output window, or in a

[2016-03-10 03:55] emgarten opened #2287 "Add web caching for UI and gather scenarios"
Today the disk cache (v3-cache) is used only for project.json restore. Now that `HttpSource` is used across the product registration blobs and v2 xml should also be cached to disk to allow scenarios such as independent package updates and finding if updates are available in the UI.

project.json restores use `SourceCacheContext` to control cache expiration, this could also be passed through on oth

[2016-03-10 03:56] kingerja opened #2288 "DefaultPushSource is not being honored anymore."
In my nuget.config I have.
    &lt;add key="DefaultPushSource" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_packaging/SQLIS_ISS/nuget/v3/index.json" /&gt;

On NuGet Version: 3.4.0.738  (http://www.myget.org/F/nugetbuild/api/v2/package/NuGet.CommandLine/3.4.0-rtm-738).  This is from the nugetbuild MyGet feed.
Command:
**nuget push "d:\tfs\IS Shared\Engineering Systems5\Main\bin\x8

[2016-03-10 04:40] AArnott commented on #452
Sure, we could perhaps think of it as a publish metadata. These assemblies may (or may not) be required at runtime so deploying them is fine (on a local machine) with the app or test project. But a build or packaging step that conforms to a 'publish' semantic may honor this metadata that nuget could set on its references.

I can imagine how this would work with MSBuild (in both NuGet v2 and v3 wor

[2016-03-10 04:53] yishaigalatzer commented on #452
Can we make an msbuild feature for now for the vsix builder? And as first step verify if it does what we want it to be. Then follow-up on the CLI scenarios with @ericstj and @davidfowl

[2016-03-10 05:55] davidfowl commented on #452
We may not need this feature at all with the flags that we added to the nuspec and in `project.json` (not sure about packages.config).

@AArnott see https://github.com/NuGet/Home/wiki/%5BSpec%5D-Managing-dependency-package-assets

/cc @emgarten

[2016-03-10 05:55] TimBarham commented on #2282
Fixed in https://github.com/NuGet/NuGet.Client/commit/3b3fcc8c4eb18e86b336609f337cdcfa0ce34ae5

[2016-03-10 05:55] #2282 closed, assigned to TimBarham

[2016-03-10 05:57] TimBarham commented on #2265
Fixed in https://github.com/NuGet/NuGet.Client/commit/7537ffad4136f1e22f2aaf0b671f67d29ec4a022

[2016-03-10 05:57] #2265 closed, assigned to TimBarham

[2016-03-10 08:39] maxpavlov commented on #2276
Hello. Thanks for a prompt response. I seem to be using the latest version of VS 2015 (Update 1) and still confirm the issues is there, no changes. Here is my about window for VS:
![VS About](https://i.gyazo.com/43f5ddf9bc781a56f15af284859af53e.png)

There are no outstanding updates shown for VS except for some Azure stuff.
NuGet version is 3.3.0.167

@yishaigalatzer, could you please re-open the

[2016-03-10 10:47] drgraduss opened #2289 "Latest nuget package is not showing in https://api.nuget.org/v3/index.json feed"
I'm experiencing issue similar to https://github.com/NuGet/Home/issues/1145 and https://github.com/NuGet/Home/issues/1544 with `Neo4jClient` package.

Latest version 1.1.0.29 is not showing up in the VS2015 for nuget v3 feed.
Nuget v2 feed returns the latest version though.

Trying to install latest version from PackageManagerConsole gives me 1.1.0.28. Plus Teamcity nuget restore failing to find 1

[2016-03-10 10:55] stewart-r commented on #1284
I am seeing a similar issue with version 3.3.0.167 - very slow to install and TF204018 errors (for every file?) appearing in the output window from Package Manager.

Symptoms exactly the same as reported above. Is it possible that this bug has been re-introduced?

Package in question is CKEditor. It's been installing for around 45 mins so far

[2016-03-10 12:02] ondrejsevcik commented on #2234
@emgarten thanks for the tip. We're currently investigating our options to work with project.json alternative.

@yishaigalatzer Will it be fixed into the standard nuget or just into the vnext?

[2016-03-10 15:13] AArnott commented on #452
I don't think so, @davidfowl. I'm familiar with this doc and it doesn't seem to help because what we want is for the package to self-identify rather than the user having to hand-edit the package reference later. From the doc you linked to:

@yishaigalatzer: yes, I think working on the MSBuild integration with VSIX as the test bed and first adopter of it would make sense. I'm not on the VSIX owning

[2016-03-10 15:34] yishaigalatzer commented on #452
@david this seems to be a similar problem to the shared framework, where you depend on stuff the target guarantees to have.

[2016-03-10 15:38] AArnott commented on #452
(@yishaigalatzer I think you accidentally pinged the wrong david.)

[2016-03-10 15:48] yishaigalatzer commented on #452
Yes I did :(

[2016-03-10 15:54] yishaigalatzer commented on #2234
It is in our backlog, which means it is currently a lower priority item that may take more than one version before it is fixed. Items on vnext may stay for a very long time, but since we are oss we folks are encouraged to tackle them if they'd like.

[2016-03-10 15:57] davidfowl commented on #452
The behavior you want is quite strange though. You both want and don't want copy local. What we settled on for sdk type packages in the cli was a marker on the dependency edge that would basically be inferring some flags. The difference that behavior of not copying anything local is consistent for running unit tests and for publishing a package.

Even if this isn't the exact mechanism you need, wh

[2016-03-10 16:00] yishaigalatzer commented on #1284
I made some fixes in this area in 3.4, I can try later today but you can also grab it from our download link on nuget.org. if it still repros for you, please open a new item and link to this one.

Last (not a copout, we will address this) consider using git as there are lots of advantages in speed of local operations (no need to go online and check out a file)

[2016-03-10 16:30] AArnott commented on #452
Not quite. Sorry if it wasn't clear before. CopyLocal=true is always appropriate. This is about suppressing packaging. Today, most packaging systems in MSBuild take CopyLocal as their tip to package up an assembly. But what I'm asking for is another hint that, when present, would override that. That way, copylocal=true for these references as unit tests and other uses may require, but packaging li

[2016-03-10 16:35] davidfowl commented on #452
So this has no effect on the nuget behavior at all. It's just a hint to build systems that may or may not have a publish feature?

[2016-03-10 16:44] davidfowl commented on #452
Does this flag need to be manually applied to the main package and all dependencies or just the main package? What are the exact semantics?

[2016-03-10 16:48] AArnott commented on #452
It probably has no effect on where _nuget_ places assemblies or the references it adds.
But as nuget would have to be the software to recognize from a package's manifest (or lib/\* patterns perhaps) that certain assemblies being references should not be published, I would say that indeed nuget behavior _does_ change because it has to read that, and propagate it to MSBuild.

For all cases I know of

[2016-03-10 17:31] davidfowl commented on #452
You mean pack not publish right? There's no such thing as a nuget publish. So far it just sounds like a bool that needs to be read from the nuspec and placed in the lock file.

So it's just behavior that it's extra build system metadata. The build system has to then decide what that metadata means to it. There are examples of this in the new contentFiles feature.

That's a different thing altogeth

[2016-03-10 18:06] skofman1 opened #2290 "When specifying references in nuspec, pack fails with "Object reference not set to an instance of an object""
Config used:

[code]

Output: Object reference not set to an instance of an object.

[2016-03-10 18:13] AArnott commented on #452
No, I meant publish. But not the NuGet term (that doesn't exist, as you say). I'm talking about a build step that has a publish semantic. And yes, NuGet's role would be to read the bool flag and propagate that to MSBuild (via the lock file, presumably, yes).

Yes, I agree. I hesitated to even bring it up here. Is there an issue tracking the /link: scenario yet? Or perhaps it's now supported since

[2016-03-10 18:39] skofman1 opened #2291 "When calling pack -Tool not all dependencies reach Tools folder"
Ran nuget.exe pack -Tool on a project that has a dependency. The project dll reached Tools folder, while the dependency dll stayed in lib folder.

[2016-03-10 18:43] yishaigalatzer commented on #2202
We decided that VSTS is going to fix their server, rather than NuGet changing back.

[2016-03-10 18:45] jaredpar opened #2292 "NuGet restore issuing error about NuGetScratch folder"
Lately a lot of restores on my team are producing the following error message:

[code]

At first I thought it was an artifact from a previous NuGet I'd killed and force deleted the directory.  Yet this still pops up with high regularity when restore our [Samples.sln](https://github.com/dotnet/roslyn/blob/master/src/Samples/Samples.sln) solution.  The repro should work on any machine:
- clone rosly

[2016-03-10 18:55] kkdawkins commented on #2274
@yishaigalatzer It appears to be any NuGet 3.x client. I can repro on 3.2.1.10575

[2016-03-10 18:58] yishaigalatzer commented on #2274
Thanks, it must be a 3.X client of course because the 2.X doesn't recognize V3 feeds :)

[2016-03-10 19:17] skofman1 commented on #2289
Was moved to the Gallery: https://github.com/NuGet/NuGetGallery/issues/2927

[2016-03-10 19:17] #2289 closed, assigned to nobody

[2016-03-10 19:18] emgarten commented on #2290
@skofman1 would you run this with `-verbosity detailed` and paste the stack trace?

[2016-03-10 19:21] yishaigalatzer opened #2293 "Split the nuget extension build into two for dev14 & dev15"
We want to remove dependencies on shell14 in nuget going to dev15, to reduce memory payload by 5MB or so.

[2016-03-10 19:21] yishaigalatzer commented on #2293
Internal tracking issue - https://devdiv.visualstudio.com/defaultcollection/DevDiv/_workitems?_a=edit&id=180207

[2016-03-10 19:22] johnataylor opened #2294 "Uninstalling Packages in the Installed Tab does not refresh the left hand pane."
The left hand pane should refresh because currently it looks like the package is still installed after you have uninstalled it.

This is a regression from 3.3.

[2016-03-10 19:25] poimis opened #2295 "Using TFM as a search filter"
Is it possible to search for packages that target given TFM?

Reading through Nuget.Services.Seach.QueryMiddleware gives me impression it's possible but I can't find any client that implements it, neither the search on nuget.org seems not to support that.

[2016-03-10 19:35] yishaigalatzer commented on #2295
It is not possible at the moment on the V3 server, it is somewhat possible on the V2 server, but it is not complete and doesn't understand the new package formats.

Something to consider for the future

[2016-03-10 19:41] yishaigalatzer commented on #2295
@xavierdecoster can you please track down the duplicate item and close it?

[2016-03-10 19:43] yishaigalatzer commented on #2288
@spadapet please prioritize this to the top of your list, this is a regression we want to try and get into the command line.

[2016-03-10 19:44] yishaigalatzer commented on #2288
from @emgarten -

I think it's because we removed nuget.org as the default push source, we apparently don't read that default push source setting anymore.

The removal of nuget.org as a default push source was done by design (so we stop people from accidentally pushing to nuget.org) CC @csharpfritz - please add to release notes.

[2016-03-10 19:49] yishaigalatzer commented on #2292
@jaredpar I can't see an error message.

I would

a. pick the latest build 742 - We did fix bugs in this area
b. Make sure you don't run restore from admin and non admin, we create lock files that can't be locked after an admin might have created them

[2016-03-10 19:49] yishaigalatzer commented on #2292
Closing, please re-open if it repros after addressing both feedback items.

[2016-03-10 19:49] #2292 closed, assigned to nobody

[2016-03-10 19:50] #2255 closed, assigned to alpaix

[2016-03-10 19:53] #2250 closed, assigned to nobody

[2016-03-10 19:54] yishaigalatzer commented on #2249
@TimBarham if this makes it to RTM, we need it checked in by 5pm our time (Thursday PST)

[2016-03-10 20:02] poimis commented on #2295
@yishaigalatzer Thanks for the info. We really need this functionality somehow. Either exposing targeted frameworks in the package metadata (so clients can filter) or provide a search api (so one could search on the web). Especially now when people start searching for packages that work for .NET Core.

[2016-03-10 20:06] emgarten opened #2296 "Consolidate code for finding the global packages path"
RestoreArgs and the VSIX should use the same code where possible. Ideally the utility for finding this path should be usable externally also.

[2016-03-10 20:15] emgarten opened #2297 "Optimize settings load during restore"
CLI projects can contain NuGet.Config files in the project directory, to read these NuGet reloads all settings for each project. This should be optimized so that configs from higher level directories can be cached.

Related to: https://github.com/NuGet/Home/issues/2265

//cc @TimBarham

[2016-03-10 20:19] NN--- opened #2298 "NuGet 3.4 fails to install package ending with zero"
I have package "A" with version 1.1.1.0 .

Prior 3.4 this command works well:

[code]

With NuGet 3.4 RC I get:

[code]

[2016-03-10 20:43] emgarten commented on #2298
What type of source are you installing from? Online v2? Online v3? Local disk?

[2016-03-10 20:44] NN--- commented on #2298
I use ProGet server (http://inedo.com/proget) which supports v2 source.

[2016-03-10 20:49] ondrejsevcik commented on #2234
thank you for the information :+1:

[2016-03-10 20:55] #1898 closed, assigned to zhili1208

[2016-03-10 20:56] emgarten commented on #2298
@NN--- would you be able to try this using NuGet in Visual Studio with the same proget server and let me know if it works there?

https://dist.nuget.org/visualstudio-2015-vsix/v3.4.0-rc/NuGet.Tools.vsix

There have been some changes in the V2 protocol and it would help to know if this is a problem in the install command, or if NuGet has a general problem with proget servers and non-normalized pack

[2016-03-10 20:58] NN--- commented on #2298
Both don't work.
I suspected VS extension and check also the command line tool.

ProGet server can be downloaded and installed for free if you want to check it directly.

[2016-03-10 21:05] #2272 closed, assigned to alpaix

[2016-03-10 21:08] #655 closed

[2016-03-10 21:10] zhili1208 commented on #1284
I got repro, reopen it

[2016-03-10 21:14] yishaigalatzer commented on #1284
Can we fix today and add a test

[2016-03-10 21:19] LinuxDoku commented on #1284
We are also still having this bug. At the moment we update the packages at night, to be able to work at days.

Switching to another VCS is not possible at the moment for our teams. Before doing this we would evaluate another way to package our stuff and deliver to the devs.

[2016-03-10 21:23] zhili1208 commented on #1284
I'm still investigating it, not sure can we fix this today

[2016-03-10 21:23] emgarten commented on #2257
Fixed by a PR from @ArvidJB

NuGet/NuGet.Client@7b2e8a5260ecbeab6e1889018e562f71800e55f8

[2016-03-10 21:23] #2257 closed, assigned to TimBarham

[2016-03-10 21:28] xavierdecoster commented on #2044
Fixed with https://github.com/NuGet/NuGet.Client/commit/4c58607a8b344e26d9ce19dd18da2b1e277d73b2

[2016-03-10 21:28] #2044 closed, assigned to xavierdecoster

[2016-03-10 21:34] yishaigalatzer commented on #1284
Let me know how it goes and ask for help from another dev to speed it up (if that helps)

[2016-03-10 21:35] jaredpar commented on #2292
@yishaigalatzer

When you tried to reproduce this did you use the `nuget.exe` checked into the Roslyn repo?  I'm surprised it didn't repro for you.  Right now it's failing for every Roslyn developer we've ran this scenario on.

I can't speak for other devs but I haven't restored with a mix of admin / non-admin.  Even if I had I'm unsure how that problem would persist after fully blowing away the d

[2016-03-10 21:39] zhili1208 commented on #2298
I didn't repro this with ProGet on my machine, so can you specify -Verbosity in command Line, then you can see all http call. try the http call, I guess it returns invalid xml.

[2016-03-10 21:52] jaredpar commented on #2292
@yishaigalatzer and I spoke off line and eventually we narrowed down the problem to the Virus Checker on our dev machine.  It's racing with NuGet's restore process and exposing a latent issue which is fixed in recent builds.  Change in behavior is likely a result of changes in how the virus checker processes these directories.

[2016-03-10 21:58] emgarten commented on #2298
`nuget install A -version 1.1.1.0 --verbosity detailed`

[2016-03-10 22:38] weshaggard opened #2299 "Create netcoreapp1.0 TFM and map it to netstandard1.5"
As part of our dotnet cli work we will be needing a new TFM called "netcoreapp" currently with only one version "netcoreapp1.0" which maps to netstandard1.5.

cc @ericstj @richlander

[2016-03-10 22:38] weshaggard commented on #2299
cc @yishaigalatzer @joelverhagen

[2016-03-10 22:38] TimBarham commented on #2249
Thanks @yishaigalatzer - I've opened a PR with a fix. Note that this fix is just for the NRE, not for the issue where `FindPackage()` returns `null` for this particular package. Thanks for the stack trace, @wbradney - made it easy to track down :smile:.

[2016-03-10 22:57] #2249 closed, assigned to TimBarham

[2016-03-10 23:34] wbradney commented on #2249
Thanks, Tim. I'd actually made the same change locally to get past this, and when I get a chance I'll try to figure out why the package is not being found in the first place. I think it must be something about the way TeamCity offers up its feed, because I can't seem to reproduce it with the same packages in a local folder.

One thing I was wondering is what is the easiest way to step into FindPac

[2016-03-10 23:39] yishaigalatzer commented on #2249
Shouldn't be anymore in 3.4

Sent from Outlook Mobilehttp://aka.ms/xp9y6l

On Thu, Mar 10, 2016 at 3:34 PM -0800, "Wayne Bradney" <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks, Tim. I'd actually made the same change locally to get past this, and when I get a chance I'll try to figure out why the package is not being found in the first place. I think it must be somethin

[2016-03-10 23:51] #2203 closed, assigned to nobody

[2016-03-10 23:57] #2280 closed, assigned to TimBarham

[2016-03-11 00:07] skofman1 commented on #2290
Attempting to build package from 'PackTestClassLibrary.csproj'.
MSBuild auto-detection: using msbuild version '14.0' from 'C:\Program Files (x86)\MSBuild\14.0\bin'.
Building project 'C:\Users\skofman\Documents\Visual Studio 2015\Projects\PackTest\PackTestClassLibrary\PackTestClassLibrary.csproj' for target framework '.NETFramework,Version=v4.5.2'.
Packing files from 'C:\Users\skofman\Documents\Vis

[2016-03-11 00:28] skofman1 opened #2300 "nuget pack doesn't support nuspec group elements"
The nuspec used:

[code]

In the resulting package, appeared a flat list of dependencies.

[2016-03-11 00:39] zhili1208 commented on #1284
the problem is we add content files to TFS twice, looks like when solution is bound to TFS, adding files to project will add those files to TFS automatically, we add those content files to TFS and then VS add them again during adding files to project. I just not add content files to TFS from nuget, it works well and all files are added by VS automatically

[2016-03-11 00:40] yishaigalatzer commented on #1284
Does this work in all scenarios?

[2016-03-11 01:17] joelverhagen commented on #2299
Closed with https://github.com/NuGet/NuGet.Client/pull/361.

[2016-03-11 01:17] #2299 closed, assigned to joelverhagen

[2016-03-11 01:24] zhili1208 commented on #1284
tested most of scenarios, install works well, but uninstall still be very slow, we didn't call TFS for uninstall, we just call dte to delete project item then it will be deleted from TFS automatically, but when bounding to TFS, project item delete is really slow, I'm trying to make it faster

[2016-03-11 02:15] deepakaravindr commented on #1284
Perhaps, we should batch process project file operations?

Is this not used in this scenario? Just curious https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.ProjectManagement/Utility/MSBuildNuGetProjectSystemUtility.cs#L187

[2016-03-11 02:31] zhili1208 commented on #1284
it's used in this scenario, but only one dte project item delete operation almost takes 3-5 second

[2016-03-11 06:03] emgarten commented on #2186
NuGet/NuGet.Client@805f0769b0dd01d6dc40d21f0558d72d7ff978d0

[2016-03-11 06:03] #2186 closed, assigned to emgarten

[2016-03-11 06:05] emgarten commented on #2164
Fixed by @ellismg's PR
NuGet/NuGet.Client@96317b44d96c7213fd475a23b47cade40b2282eb

[2016-03-11 06:05] #2164 closed, assigned to emgarten

[2016-03-11 06:17] emgarten commented on #1912
This has been fixed in the latest version of NuGet.

[2016-03-11 06:17] #1912 closed, assigned to emgarten

[2016-03-11 06:52] andycmaj commented on #2204
any ideas why this is happening? this prevents a sane push workflow on non-windows machines

[2016-03-11 06:52] emgarten opened #2301 "Pack should fail on unrecognized frameworks"
Pack converts unknown frameworks to `Unsupported0.0` in the nuspec for unknown group target frameworks. This often goes unnoticed by package authors and results in a broken package when an older version of NuGet.exe is used by mistake to pack.

Pack should instead fail and error out without creating the nupkg. This should contain a message letting the user know which framework is not recognized an

[2016-03-11 07:08] emgarten opened #2302 "Pack should not re-write nuspec files"
PackageBuilder serializes and rewrites nuspec files. This makes it difficult to add vNext frameworks and features to packages without fully updating PackageBuilder. It also drops all comments and other information and unknown elements that a user may have intentionally added.

If possible Pack should preserve the nuspec when packing against a nuspec file.

[2016-03-11 07:19] emgarten commented on #1640
Re-opening this for tracking. Compression does not fix the extra network call here. Search might be a different scenario but for the non-latest version the registration blobs are still being fetched twice with no caching.

[2016-03-11 07:25] dhnnjy commented on #2265
what is xplat cli, is it different than corecli?

[2016-03-11 07:25] emgarten commented on #1873
NuGet/NuGet.Client@26d4fe8d737193fec341da83b3c53099e62c8b39

[2016-03-11 07:29] #1053 closed

[2016-03-11 07:30] emgarten commented on #1282
This has been fixed in NuGet.exe 3.4.0.
NuGet/NuGet.Client@113f7d3697bb89c9b2ad077941391f9cba5f7d2f

[2016-03-11 07:30] #1282 closed, assigned to emgarten

[2016-03-11 07:38] emgarten commented on #966
@ericstj please re-open this is if you can repro it on the latest bits.

[2016-03-11 07:38] #966 closed

[2016-03-11 07:44] emgarten commented on #1455
@deepakaravindr would you provide more details on this? This should extract under the existing locking which works xplat.

[2016-03-11 07:52] ericstj commented on #966
I can't repro

[2016-03-11 08:01] #936 closed

[2016-03-11 08:29] brgrz commented on #1284
Just a note, this is not isolated to TFS, I happen to be using Mercurial with most projects and experience the same 'slowness'

[2016-03-11 08:32] yishaigalatzer commented on #2265
Nuget commandline.xplat is the standalone tool package that gets integrated into the dotnet CLI to provide restore capability and more capabilities are coming

[2016-03-11 08:37] yishaigalatzer commented on #1284
The fix is not related to tfs either so that's good news.

We are still investigating removal, that seems to be expensive but currently looks like out of our control. Will work with the owners in visual studio to get to a better place

[2016-03-11 09:37] davidfowl commented on #2301
Omg yes

[2016-03-11 11:22] NN--- commented on #2298
This what I get with nuget 3.4 RC:

[code]

This what I have with 3.3:

[code]

[2016-03-11 11:25] NN--- commented on #2298
This is HTTP request of 3.4:

[code]

And this is of 3.3

[code]

ProGet differs 1.1.1 from 1.1.1.0 that's why it doesn't work with NuGet 3.4.

[2016-03-11 17:20] analogrelay opened #2303 "Add project.json dependency type "platform""
[code]

This `type` flag implies the following behavior:
- Suppress all `runtime` and `native` assets for the package and it's dependencies (my sources say this is basically already possible via a different flag)

Nothing else is implied by this flag in NuGet. Other tools (i.e. `dotnet publish`) will use it, but NuGet does not need to handle that part. This is needed to indicate which package defi

[2016-03-11 20:16] TheRealPiotrP opened #2304 "NuGet xplat failing during tools restore"
Repro:
on Windows
- git clone https://github.com/dotnet/cli.git
- cd cli
- git fetch origin
- git checkout -b emgarten/nuget0752 origin/emgarten/nuget0752
- git merge rel/1.0.0
- build.ps1

Expected:
build finishes successfully

Actual:
12:05:02 error: The process cannot access the file 'C:\Users\dotnet-bot.nuget\packages.tools\dotnet-hello\2.0.0\netstandardapp1.5\project.lock.json' because it is

[2016-03-11 20:57] yishaigalatzer commented on #2304
This should not go into RTM

[2016-03-11 21:24] yishaigalatzer commented on #2298
That looks like a bug in ProGet, the ID is identical. I don't want to fix this in NuGet this late close to the release of 3.4, either fix the packages or contact ProGet to update their API

[2016-03-11 21:39] #2105 closed, assigned to yishaigalatzer

[2016-03-11 21:45] #1869 closed, assigned to maartenba

[2016-03-11 21:47] yishaigalatzer commented on #1855
The current consensus is that these packages are invalid, and should change. The fix will go in the CLI to auto add these references.

[2016-03-11 21:47] #1855 closed, assigned to xavierdecoster

[2016-03-11 21:53] yishaigalatzer commented on #1823
We can't reliably add a gallery link - like we discussed this only works for nuget.org (so perhaps if we could identify that a package comes from nuget.org, we can do that, but that is not always clear)

[2016-03-11 21:55] yishaigalatzer commented on #1851
@emgarten when RC is out the door, please start a thread with Stephen Toub

[2016-03-11 22:14] yishaigalatzer commented on #1827
@hakito this is not the case in 3.3, this is new code. And we have a way to deal with it by resetting the cache on install.

We are running out of time for 3.4, I'm moving to 3.5 for John to look at

[2016-03-11 22:16] yishaigalatzer commented on #1816
We are running out of time for 3.4, John can you please start looking at the Update issues for 3.5?

[2016-03-11 22:23] #1767 closed, assigned to emgarten

[2016-03-11 22:29] #1764 closed, assigned to nobody

[2016-03-11 22:31] blackdwarf opened #2305 "NuGet xplat failing to restore packages in CLI latest version"
Repro:
- Install latest
- mkdir hwapp && cd hwapp
- dotnet new
- dotnet restore

Expected result: restore completes

Actual result: error that netstandardlib cannot be restored for the framework in project.json.

Tried on Ubuntu 14.04, Win8, Win7 SP1. Same results on all. Tried dnxcore50, netstandardapp1.5 same results.

[2016-03-11 22:38] yishaigalatzer commented on #1762
we think this was fixed by @johnataylor as a side effect of the last few UI perf fixes.

[2016-03-11 22:45] yishaigalatzer commented on #1740
@rrelyea lets work with the UI designer to see if we can come up with something? Perhaps enable the installed version in the dropdown, but then disable the buttons?

[2016-03-11 22:48] yishaigalatzer commented on #1713
@zhili1208 can you please verify this issue is fixed in 3.4?

[2016-03-11 22:52] NN--- commented on #2298
If it is bug in ProGet then It is a bug in all older NuGet versions.
This change makes a regression.
Supposing I had a package 1.1.1.0 , after installing it, it added using ".targets" file in my project with path packages\A-1.1.1.0.
With 3.4 I get a folder packages\A-1.1.1 and my code won't compile.

In case this will be a default behavior with no regrets , please document it as a breaking change

[2016-03-11 22:54] yishaigalatzer commented on #2298
The bug is that the server doesn't respect normalized versions, nuget is making an API call with a normalized version.

I'm not aware of such an issue, that is a breaking change and we will fix it in 3.3.

[2016-03-11 22:58] NN--- commented on #2298
I see what you mean.
Tell me if I have package versions 1.1.1.0 should it be installed to A-1.1.1.0. folder or A-1.1.1 ?
Or perhaps it depends what version I specify to I install it?

[2016-03-11 23:01] apxltd commented on #2298
I just checked w/ the team here.

We had to specifically implement the “4th part quirk” because NuGet (as of 3.3 and earlier treated) considers these as different versions. A significant number of packages and users relied on this behavior (and we received a lot of complaints about this) which is why we specifically added it.

Note that NuGet 3.3 and earlier also has the “leading zeros quirk” (for

[2016-03-11 23:15] brthor commented on #2304
An idea about what's happening here.

Two project.jsons referencing the same tool version restored in parallel.
The tool restores get kicked off async and race on the project.lock.json file write access.

Perhaps some way to merge tool restores across projects would fix this? Is that feasible?

[2016-03-11 23:17] yishaigalatzer commented on #2304
We need to lock, we have a locking mechanism already forcross process

[2016-03-11 23:19] yishaigalatzer commented on #2298
Hey Alex, I guess the ask is to respect the query but return the metadata as is in the nuspec, that wouldnt be a breaking change.

Will double check on our side.

[2016-03-12 00:06] emgarten commented on #1873
Verified fix in the package created by the CI

[2016-03-12 00:06] #1873 closed, assigned to emgarten

[2016-03-12 00:17] troydai opened #2306 "dotnet restore failed when "Project.json" file name is captialized"
## Steps to reproduce
1. `dotnet new`
2. Rename `project.json` to `Project.json`
3. `dotnet restore`
## Expected  behavior

Restore successfully
## Actual behavior

[code]
## Environment data

`dotnet --version` output:

1.0.0-beta-001709
sha: b7392e65b6

[2016-03-12 01:23] emgarten commented on #2306
I'm not able to repro this in the latest dev channel, is beta older?

[2016-03-12 01:25] troydai commented on #2306
It's on beta channel. `1.0.0-beta-001709`

[2016-03-12 01:57] yishaigalatzer commented on #2306
This seems like a super low pri item, can you please validate on the latest, and if it repros push to CLI 1.1

[2016-03-12 01:58] yishaigalatzer commented on #2305
@blackdwarf I think this had to do with a CDN outage, things are working fine now.

In the future please include:
1. Version of nuget.xplat and CLI you are using
2. Log

[2016-03-12 01:58] #2305 closed, assigned to nobody

[2016-03-12 01:59] yishaigalatzer commented on #2303
@anurse please proceed, I'm fine with this after our discussion. This also needs to get documented in nugetdocs and perhaps on the CLI. Who is taking care of that?

[2016-03-12 02:04] yishaigalatzer commented on #1451
This was identified as a visual studio issue, we have communicated it to the extensions team, and there is not much we can do in NuGet to fix it.

The bug was fixed in 2015 Update II, and I don't know of plans to fix it in 2013

[2016-03-12 02:04] #1451 closed, assigned to nobody

[2016-03-12 02:05] yishaigalatzer commented on #1493
The work here is to make the updates tab show up the potential updates faster, by optimizing the calls to the server, and perhaps coming up with a new protocol in V3 to address this issue.

[2016-03-12 02:06] yishaigalatzer commented on #1492
This is now done. Installed tab goes to local sources first, shows up immediately and trickle updates the data. Potentially when https://github.com/NuGet/Home/issues/1493 is fixed we can use a similar API to get metadata for a set of packages in one go

[2016-03-12 02:07] yishaigalatzer commented on #1493
Consider improving https://github.com/NuGet/Home/issues/1492 as well (lower pri)

[2016-03-12 02:07] yishaigalatzer commented on #1492
This is now done. Installed tab goes to local sources first, shows up immediately and trickle updates the data.

[2016-03-12 02:07] #1492 closed, assigned to nobody

[2016-03-12 02:27] yishaigalatzer commented on #1478
Tried to repro again today
1. I don't see a nullref, I do see the error emgarten expected for Crittercism
2. Splat installs fine

![image](https://cloud.githubusercontent.com/assets/1238711/13720186/f419dbc2-e7b6-11e5-9928-de0c680a41d7.png)

![image](https://cloud.githubusercontent.com/assets/1238711/13720183/dddbfc64-e7b6-11e5-8c29-8af89c38ecc6.png)

[2016-03-12 02:27] #1478 closed, assigned to emgarten

[2016-03-12 02:28] yishaigalatzer commented on #1478
This is with 3.4 + Visual Studio 2015 Update I

[2016-03-12 02:29] yishaigalatzer commented on #1494
Closing as the performance looks reasonable at the moment for the browse tab

[2016-03-12 02:29] #1494 closed, assigned to nobody

[2016-03-12 02:33] yishaigalatzer commented on #1262
@philipbjorge are you able to give our private RTM bits a test run for your scenarios? I'm not confident it fixes your cases because I don't have a repro (and would love to declare success/fail for you before we ship).

Shoot me an email y i g a l a t z @ msft.com

[2016-03-12 02:37] davidfowl commented on #2303
There's one tricky part here that we need to discuss. We need this flag to win if another package brings in the same version of dependencies in the platform.

[2016-03-12 02:45] yishaigalatzer commented on #1359
We already have semver2 parsing in NuGet 3.X, it is a matter of using it consistently everywhere and figuring out the server story. We are thinking about banning it on nuget.org but allowing it on private servers.

The issue is that NuGet 2.X cannot understand packages with Semver 2.0, and will break without a good recourse, we can't go back in the past and make it so. And since nuget.org is mostl

[2016-03-12 02:47] yishaigalatzer commented on #1749
Folks what is the current experience, I believe this should work with netstandard, but not sure if it does at the moment or not. Did someone test this already?

Moving to CLI RC-2, and we will either fix it then, or it is already fixed and will get closed :)

[2016-03-12 02:48] yishaigalatzer commented on #1710
@NameOfTheDragon you should be able to put a _._ file in the folder, it does not get added to your project.

[2016-03-12 02:51] #1707 closed, assigned to nobody

[2016-03-12 02:55] kingerja opened #2307 "Nuget restore and install fails to install packages with versions that are not normalized"
I apologize if this is a dupe of a pre-reported issue.  I saw a similar issue reported but I am not sure the issue is exactly the same.

d:\tfs\IS\ES\M\CBT\NuGet>nuget
NuGet Version: 3.4.0.738

d:\tfs\IS\ES\M\CBT\NuGet>nuget list SourceDepotClient
SourceDepotClient 2.8.0.0

d:\tfs\IS\ES\M\CBT\NuGet>nuget install SourceDepotClient -version 2.8.0.0
Feeds used:
  C:\Users\joshking\AppData\Local\NuGet

[2016-03-12 02:55] ericstj commented on #1749
It works for packages that use `netstandard` but not for those that use `portable-net45+win8`.  The point of this issue was to address the problem with `portable-net45+win8`.

[2016-03-12 02:57] yishaigalatzer commented on #1749
Even with the import tag?

[2016-03-12 02:59] ericstj commented on #1749
Import still doesn't work for `supports` txm/RID-based graph walks.  We need those to work even if we move the compat checks out of NuGet.

[2016-03-12 03:03] clairernovotny opened #2308 "NuGet command to purge/clean cache"
The shared package cache right in v3 is more hidden than the solution-based location in previous versions. This can make it much easier to accumulate older cruft over time. Selectively cleaning the cache is painful too because of how many folders there are.

NuGet could be smarter about this and provide options for pruning the main package cache. Some ideas:
- Delete by download date (on the assum

[2016-03-12 03:04] yishaigalatzer commented on #1670
@wolfpackt99 you are right, the other work around is to pass the id flags to the command or to use the UI in 3.3 to multi select packages and update them

[2016-03-12 03:05] yishaigalatzer commented on #1673
@deepakaravindr can we take a look at this an enhance the feedback on the bug?

[2016-03-12 03:16] yishaigalatzer commented on #1496
@TimBarham assigned to you, but please hold off from checking in to dev until we open the branch again

[2016-03-12 03:17] yishaigalatzer commented on #1455
@emgarten can you please review if this still needs to stick around?

[2016-03-12 03:19] yishaigalatzer commented on #1455
Repurposing for creating the xplat commands for init and add, and make sure the lock mechanisms are the same between desktop and .net core

[2016-03-12 03:20] yishaigalatzer commented on #1440
Closing as there is nothing concerete or actionable here

[2016-03-12 03:20] #1440 closed, assigned to nobody

[2016-03-12 03:23] yishaigalatzer commented on #2308
This is already supported: nuget.exe locals -clean all (and more goodies https://docs.nuget.org/consume/command-line-reference#locals-command)

We will also add it to xplat/.net cli eventually

[2016-03-12 03:25] yishaigalatzer commented on #2307
What servers are you using? Is one of them ProGet by any chance?

We have a known issue around pacakges that are not following semver and use superflous versions. At the moment we know that ProGet is not tolerant to these, and we are discussing a fix with ProGet.

If this is not the case please let us know

[2016-03-12 03:26] yishaigalatzer commented on #2307
https://github.com/NuGet/Home/issues/2298

[2016-03-12 03:27] yishaigalatzer commented on #1060
@emgarten how far are we from a merge?

[2016-03-12 03:28] yishaigalatzer commented on #1023
@joelverhagen where did this end up?

[2016-03-12 03:29] yishaigalatzer commented on #1022
@joelverhagen this was fixed I believe, can you please close if so

[2016-03-12 03:31] clairernovotny commented on #2308
I know there's a clear command. This was to sta suggest ways to make it more selective than a full purge.

For many users, downloading everything is expensive and slow. Now they need to reclaim disk too.

[2016-03-12 03:33] emgarten commented on #1060
@yishaigalatzer I would need more context to understand this issue.

[2016-03-12 03:36] yishaigalatzer commented on #2308
I was reading this as an option

Touching is a bad idea, build systems rely on the dates not to change, so nuget can start managing a separate cache here

That's a bit of an unreasonable assumption, I don't see the relationship, this will for example delete the .NET packages which is one of the biggest package sets.

So I'm open to more discussion here, and if something can be done to make it bett

[2016-03-12 03:38] yishaigalatzer commented on #999
I believe this was fixed at least for the XPLAT, if it wasn't for command line please move to 3.5, otherwise close

[2016-03-12 03:39] yishaigalatzer commented on #908
https://github.com/NuGet/Home/issues/1762

[2016-03-12 03:39] #908 closed

[2016-03-12 03:41] yishaigalatzer commented on #1762
Still busted in 3.4, only works if you first get data from the online source

![image](https://cloud.githubusercontent.com/assets/1238711/13720563/4fa920ce-e7c1-11e5-824a-90ccd564dda4.png)

[2016-03-12 03:43] yishaigalatzer commented on #954
all cleaned up

[2016-03-12 03:43] #954 closed

[2016-03-12 03:45] yishaigalatzer commented on #938
this might go away if we remove guard rails completely, @anurse ?

[2016-03-12 03:46] yishaigalatzer commented on #928
We have a dup here

[2016-03-12 03:46] #928 closed

[2016-03-12 03:46] yishaigalatzer commented on #928
https://github.com/NuGet/Home/issues/1689

[2016-03-12 03:49] yishaigalatzer commented on #1289
https://github.com/NuGet/Home/issues/886

[2016-03-12 03:49] #1289 closed, assigned to nobody

[2016-03-12 03:51] yishaigalatzer commented on #850
runtime.json is no longer a feature for the public

[2016-03-12 03:52] yishaigalatzer commented on #848
@zhili1208 can you please work with the Loc team on this?

[2016-03-12 03:53] yishaigalatzer commented on #837
@joelverhagen can you please go through this issue and clean it up with what was already done/what is else is needed

[2016-03-12 03:56] yishaigalatzer commented on #1060
The context is to control the number of http connections/downloading threads the same way across these two options, both when we restore in visual studio in a mixed project or in projects that are just packags.config or project.json (CLI or csproj)

[2016-03-12 03:57] yishaigalatzer commented on #888
![image](https://cloud.githubusercontent.com/assets/1238711/13720658/847cbd72-e7c3-11e5-805b-615fdd74b3fe.png)

[2016-03-12 03:57] #888 closed

[2016-03-12 03:59] yishaigalatzer commented on #826
@joelverhagen another one I believe is done, please resolve appropriately

[2016-03-12 04:02] yishaigalatzer commented on #304
This was never finished, and we figured out the symbol source decided to become a lot more friendly. I'm closing as won't fix.

[2016-03-12 04:04] yishaigalatzer commented on #631
This should be fixed by the DNX (CLI) project owners

[2016-03-12 04:04] #631 closed

[2016-03-12 04:14] emgarten commented on #2304
This fix was reverted and it is currently blocked by the Update 2 release.

[2016-03-12 04:18] emgarten commented on #575
This resource has been removed.

[2016-03-12 04:18] #575 closed

[2016-03-12 16:15] TheRealPiotrP commented on #2304
https://github.com/NuGet/NuGet.Client/pull/366 Seems merged. What is blocked? How soon does it get unblocked?

We need a working build Monday to facilitate Shared Framework standup.

[2016-03-12 16:42] apxltd commented on #2298
I'm not sure I understand? NuGet 3.3 and earlier already supports A-1.1.0 and A-1.1.0.0 in the same feed. So, they are currently considered different packages.

I think the existing behavior is strange... but seems like it'd be even stranger to specify:
- 1.1.0 is returned if you ask for 1.1.0.0, unless there is already a 1.1.0.0 package
- 1.1.0.0 is returned if you ask for 1.1.0, unless there is

[2016-03-12 17:05] yishaigalatzer commented on #2298
That's not what we are saying:

1.1 is the same as 1.1.0 in terms of version equality, you cannot and should not have both of them on the same feed. Never

However when you restore a package nuget2 uses the nuspec ID to put it in the solution packages folder. Nuget 3 does the same, but normalizes it in the global packages folder.

There is no change here other than allowing a search/download reque

[2016-03-12 17:06] yishaigalatzer commented on #2304
It is blocked because of branching. It will be unblocked on Monday or you can grab the build that had the fix.

[2016-03-12 19:38] yishaigalatzer commented on #2298
This should be instead

Ask for 1, 1.0, 1.0.0, 1.0.0.0? Allow for a single package with that ID (because they are identical), return metadata with the id as it is specified in the nuspec

Return whatever is in the nuspec

Return whatever is in the nuspec

Package is returned with the id in the nuspec

That is not truly supported, and is not a scenario we should keep going, aggregators can fail or

[2016-03-12 19:43] troydai opened #2309 "dotnet restore doesn't use NuGet.config at current directory"
### Steps
1. `dotnet new`
2. `dotnet restore`
### Expectation

The `NuGet.config` file created during `dotnet new` should be used by the `dotnet restore`
### Actual

It uses the `NuGet.config` at the `%LocalAppData%` only.

[code]

It is fixed when the `project.json` is moved to a folder. However the default behavior is misleading especially when it is used with `dotnet new` together.

[2016-03-12 19:54] analogrelay commented on #2303
Do we need that for CLI RC2? As far as I can tell, the worst outcome of that is that we'll unnecessarily publish managed code bits. I totally agree that's bad, but I think we could live with it for RC2 given the tight schedule.

I'll take a look at trying to make the flag always win, but I've got quite a bit on my plate already and I just want to get this in as quickly as possible :)

[2016-03-12 19:55] NN--- commented on #2298
Who has to enforce this ?
Currently if I run web server with NuGet.Server package (2.8.6 the latest) , I can easily put packages 1.1.1 and 1.1.1.0 in the folder.
NuGet 3.3 in VS 2015 shows me both packages with versions 1.1.1 for both.
The client doesn't enforce versions , it just relies on the server , which seems not good enough to me.

As well since the server should prevent it, does NuGet.Serv

[2016-03-12 20:14] vtbassmatt commented on #2277
@zjrunner @jmyersmsft @alexmullans thoughts on making our `nuget delete` == delete and putting delist in the UX? Makes sense to me if NuGet cmd line will be adding an unlist verb.

[2016-03-12 20:22] yishaigalatzer commented on #2298
I need to check but I believe NuGet.Server only allows a single version @maartenba

[2016-03-12 20:38] yishaigalatzer commented on #2298
Tried to verify this with nuget.server 2.8.60717.93 I see the same problem. I think it is unfortunate and we will have to fix it in the client, as it is too wide spread.

However - I think the servers should be compliant with any version, because in project.json scenarios, the user can just type a normalized version AND we do normalize them when we use the global packages folders.

So there are tw

[2016-03-12 20:38] #2309 closed, assigned to nobody

[2016-03-12 20:38] yishaigalatzer commented on #2309
Dup

[2016-03-12 20:43] yishaigalatzer commented on #2309
https://github.com/NuGet/Home/issues/2265
https://github.com/NuGet/Home/issues/2297

[2016-03-12 20:55] yishaigalatzer commented on #2188
Thanks for the feedback, I made changes to make it clearer. As FYI - you can always just submit a pull request to any document you have a comment above, there is a link on the bottom of each page to the github repo/markdown file the document is in

[2016-03-12 20:55] #2188 closed, assigned to nobody

[2016-03-12 20:57] yishaigalatzer commented on #2132
@Dashue, any chance you can share a solution with a repro? This is something we haven't seen before.

Please also specify exactly what version of visual studio you are doing this in (there is still confusion if it is 2013 or 2015, and note we only support bug fixes of this kind in 2015)

[2016-03-12 21:01] yishaigalatzer commented on #2022
@alpaix you can set up a proget server for free from their site to validate this scenario

[2016-03-12 21:02] yishaigalatzer commented on #2000
@joelverhagen was this fixed already?

[2016-03-12 21:05] yishaigalatzer commented on #2295
@poimis I don't disagree with the need, but this is not in our immediate horizon. I moved the bug to the server for now - https://github.com/NuGet/NuGetGallery/issues/2936

[2016-03-12 21:05] #2295 closed, assigned to xavierdecoster

[2016-03-12 21:06] yishaigalatzer opened #2310 "NuGet restore when two projects have the same name"
from @rajivharris

https://github.com/NuGet/NuGetGallery/issues/2935

Nuget restore is failing if they are two projects with same names but different directory in the same solution.

Restore failed
The project name 'Service' is ambiguous between the following projects:
G:\microservices\src\Service
G:\microservices\test\Service

[2016-03-12 21:07] yishaigalatzer commented on #2310
Can you please provide more details on your scenario
1. Version of NuGet
2. Do you run this in visual studio/nuget.exe/dotnet restore
3. What type of projects are these (this is expected if this is a dotnet project at least for now)

[2016-03-12 21:08] yishaigalatzer commented on #2310
CC @emgarten

[2016-03-12 21:09] yishaigalatzer commented on #2201
@joelverhagen this looks related to the timeout/retry issue we discussed on Friday, please dedup/close as necessary

[2016-03-12 21:09] #2307 closed, assigned to nobody

[2016-03-12 21:13] Dashue commented on #2132
Hey, I'll try. As far as I can tell it's just two different solutions, sharing the same project that is using nuget. Visual studio 2013. A simple build will manipulate the packages.config in my case remove entries.

I can't share the code that currently is experiencing this issue but I'll try to reproduce as I find time.
I'll basically try to create two different solutions containing the same proj

[2016-03-12 21:17] yishaigalatzer commented on #2269
Is moving back for 3.4 RTM

[2016-03-12 21:19] yishaigalatzer commented on #2246
Still debating if we are completely removing guardrails

[2016-03-12 21:21] emgarten commented on #2310
This is a DNU error message.

[2016-03-12 21:21] yishaigalatzer commented on #2300
@toddm this should be bumped above other items on your list (to make 3.4 command line RTM)

CC @emgarten

[2016-03-12 21:22] yishaigalatzer commented on #2240
@pranavkm we don't have a repro, this bug is not actionable without one

[2016-03-12 21:22] #2230 closed, assigned to nobody

[2016-03-12 21:25] yishaigalatzer commented on #2224
@lucamorelli can it be that your project is inconsistent at the moment (rather than out of date?)

The error hints that you might have mismatched dependencies installed like razor 2 & razor 3 loc packages together.

Also can you share the version of NuGet you are using?

[2016-03-12 21:29] yishaigalatzer commented on #2215
@zhili1208 can you please validate if this issue was fixed in 3.4 RTM? If not please move to 3.5

[2016-03-12 21:31] yishaigalatzer commented on #2206
Duplicate of https://github.com/NuGet/Home/issues/1094.

[2016-03-12 21:31] yishaigalatzer commented on #1094
Also note this comment from a duplicate issue by @Advarius:

Visual Studio 2015 is used. I update package with allowedVersions="[1.0,1.1)" attribute from NuGet Package Manager. Current version of package is 1.0.72, available versions are 1.0.73 and 1.1.1.

Firstly, I can see that version "1.1.1" is available for update, which is not satisfy condition. But moreover, if I use Dependency behavior: "I

[2016-03-12 21:32] #2206 closed, assigned to nobody

[2016-03-12 21:33] yishaigalatzer commented on #2204
We haven't gotten to this issue yet, but we now have someone assigned to deal with push issues

[2016-03-12 21:34] yishaigalatzer commented on #2204
@spadapet would be nice if this makes it into nuget.exe for 3.4, lets assess

[2016-03-12 21:38] yishaigalatzer commented on #2193
We concluded that this is a bug in the package, I can't promise that it will be fixed for 3.4 (due to the current timeline). Your workaround is to add the reference directly or use project.json instead of packages.config in your project.

The issue is that the package was designed for project.json scenarios where it will just work, when it is used in a packages.config scenario a framework referenc

[2016-03-12 21:40] emgarten commented on #2303
Include/exclude flags defined at the top level override all other flags.

For example:

[code]

A will be treated as a platform type.

[2016-03-12 21:41] yishaigalatzer commented on #2175
@maxcelcat can we get more feedback?

Also Is there a misbehaving init.ps1 in one of the packages? These run powershell commands that we don't control and can indeed hang visual studio (because they just run arbitrary code)

[2016-03-12 21:42] #2167 closed, assigned to nobody

[2016-03-12 21:42] #2162 closed, assigned to nobody

[2016-03-12 21:43] yishaigalatzer commented on #2162
@divega - Closing the NuGet issue, please keep tracking with the VS folks, and update here when it is working agin

CC @bricelam

[2016-03-12 21:45] yishaigalatzer commented on #2156
@WernerMairl we decided to prefix warnings, so they can easily be found through logs. But warnings will not return a non 0 exit code.

[2016-03-12 21:45] yishaigalatzer commented on #2156
@joelverhagen can you please look into it, I agree that this should be an error and not a warning

[2016-03-12 21:47] yishaigalatzer commented on #2153
@emgarten can you please followup here?

[2016-03-12 21:47] yishaigalatzer commented on #2143
@christophedemey ping

[2016-03-12 21:51] yishaigalatzer commented on #2132
How can a build update your packages.config? There is nothing in nuget that touches that file during build?

Also please see if this repros in 2015 or not. We mostly spent our time and bug fixes in Visual Studio 2015 I and beyond (nuget 3.3 or you can try nuget 3.4 RC from nuget.org)

[2016-03-12 21:53] yishaigalatzer commented on #2118
I can't see the log, also are you able to share a repro project?

[2016-03-12 21:54] yishaigalatzer commented on #2114
@anurse since you are on top, and took it out, can you take care of putting it back in when you are done?

[2016-03-12 21:54] #2108 closed, assigned to nobody

[2016-03-12 21:56] emgarten commented on #2153
This was working due to a type: build dependency flowing to a parent project, which is not the correct behavior. I'm closing this as by design.

[2016-03-12 21:56] #2153 closed, assigned to emgarten

[2016-03-12 22:08] yishaigalatzer commented on #2303
Platform only applies to the netcore package and only one of these flags can exist (or more correctly only one package can have it specified).

We want this for rc

[2016-03-12 22:10] yishaigalatzer commented on #2310
So @emgarten do you allow it now?

[2016-03-12 23:04] emgarten commented on #2298
The client treats `1.1`, `1.1.0`, `1.01.0` and `1.1.0.0` as the same version using SemVer rules. The reason non-normalized versions were special cased in the past is because for v2 http calls the client would first send the version string exactly as the user specified it. If the package was not found the client would then start trying all other permutations to "help" the user out in the scenario w

[2016-03-12 23:11] pranavkm commented on #2240
We think the issue is with referencing old CoreCLR packages (pre netstandard). We've workaround for this for now.

[2016-03-12 23:11] #2240 closed, assigned to nobody

[2016-03-12 23:16] rajivharris commented on #2310
Yes this happens in the new xproj, but pointing to the full .net framework not the .core.

[code]

Nuget Version : 3.3.0.167
Visual Studio 2015

[2016-03-12 23:22] emgarten commented on #2310
NuGet does allow this, it has an order of precedence:
1. MSBuild external projects
2. Sibling directories
3. Search paths from global.json using the order they are listed in within the global.json file

Disallowing any duplicates would be safer, but it would be difficult for the user to solve in some scenarios.

[2016-03-12 23:37] rajivharris commented on #2310
Currently I dont have much in my global.json

global.json
`{
  "projects": [ "src", "test" ],
  "sdk": {
    "version": "1.0.0-rc1-update1"
  }
}
`

[2016-03-12 23:40] yishaigalatzer commented on #2298
The nuget.server reference is that it doesn't understand normalized versions either and it should. Given that it doesn't ID go with @emgarten suggestion 1

[2016-03-13 01:15] ericstj commented on #2193
It's part of the framework and indeed in the GAC...  The error message from NuGet is wrong, and the failure is due to the assembly already being part of the project, added automatically like all other facades.  NuGet doesn't see that it's added automatically and tries to add it, which fails.

[2016-03-13 01:15] zjrunner commented on #2277
I worry about changing expectations across versions of the client -- I'd create new verbs or switches, not change the meaning of 'delete' (where every doc and StackOverflow thread needs to get specific about version ranges of the client being used).  You could go for a -soft and -hard delete if you want to be git-y, or go for an 'unlist' and 'remove' command so you could always doc that delete/unl

[2016-03-13 01:23] yishaigalatzer commented on #2193
@ericstj we still agreed that we are not making facades a nuget fx reference. This pattern never worked, and we agreed not to enable it. Did I get it wrong?

[2016-03-13 01:27] ericstj commented on #2193
We agreed that NuGet could fix it but it didn't make sense to enable it since it never worked.

Still seems odd that we'd delay fixing the shipping package and ask folks to workaround the problem in a shipping product.  Seems like it would make more sense to have a workaround when consuming CLI, the pre-release product that didn't implement the existing precedent (auto-ref facades).

[2016-03-13 01:32] clairernovotny commented on #2308
Good point about the delete all - I didn't realize 3.3 had that.

I supposed the real potential gain is selective cache trimming. That would help those with slower and/or metered connections the most.

For my second idea, how would touching a file in the cache dir affect a build system? I would propose adding a `lastupdated` file into the cache structure alongside the `.sha512` file. On nuget rest

[2016-03-13 02:42] yishaigalatzer commented on #2096
@joelverhagen do we still need to be fixed?

[2016-03-13 02:42] #2082 closed, assigned to nobody

[2016-03-13 02:44] yishaigalatzer commented on #2115
@emgarten status? Do we need this for RC2?

[2016-03-13 02:48] yishaigalatzer commented on #2063
@scottdorman the codebase is now merged, you need to pick the latest drop of the CLI to give your latest bits a try. You might have to add an import statement for your specific scenario

[2016-03-13 02:48] yishaigalatzer commented on #2063
@emgarten the work here is to verify the scenario is supported.

[2016-03-13 03:03] yishaigalatzer opened #2311 "NuGet install command doesn't go to compressed blobs"
## Run

nuget version: 3.4.0.653
nuget.exe install microsoft.aspnet.webapi.client
## Expected
1. Request headers have gzip/deflate
2. Response is compressed
## Actual
1. Request headers have gzip/deflate (good)
2. Response is not compressed see headers below:

[code]
## Expected encoding is missing from result

[code]

CC @maartenba @johnataylor @emgarten

[2016-03-13 03:04] yishaigalatzer commented on #2311
Justin assigning to you to start investigating, this could be server issue or a client issue.

[2016-03-13 03:07] yishaigalatzer commented on #2054
@LtKlaus can you share the version of nuget.exe you are using?

Specifically when you install a package without a version, you are forcing NuGet to go to the server to find the latest version.

However when I tried this with 3.4, I don't see the package download happening in fiddler only access to metadata:

#### First request (clean cache)

[code]

#### Second request (nupkg in cache)

[code]

[2016-03-13 03:09] yishaigalatzer commented on #2050
@brgrz can you let us know which version of NuGet are you using?

[2016-03-13 03:10] yishaigalatzer commented on #2037
Closing as @alpaix filed a more detailed bug in this area

[2016-03-13 03:10] #2037 closed, assigned to nobody

[2016-03-13 03:11] yishaigalatzer commented on #2286
Also note from @emgarten

NuGet contains two logging abstractions: ILogger and INuGetProjectContext. These should be consolidated.

Potentially ways to fix this:

INuGetProjectContext could extend ILogger
INuGetProjectContext could add an ILogger property.

[2016-03-13 03:11] yishaigalatzer commented on #2037
https://github.com/NuGet/Home/issues/2286

[2016-03-13 03:13] yishaigalatzer commented on #2028
@emgarten that sounds weird, the logger shouldn't carry around extra properties. Perhaps this is just a naming change from ILogger context to an operation context that will carry the logger with it.

[2016-03-13 03:16] yishaigalatzer commented on #2027
@Korporal we made quite a few improvements in 3.4 here. But since I don't know your scenario it is hard to tell if your issue is resolved or not.

I do agree with the idea of having a way to get more verbose logs, and the new design is 3.4 (will show up at RTM) is to move the errors to the output pane where there is naturally more room for that kind of stuff.

I'm moving this bug for now to 3.5-Be

[2016-03-13 03:17] yishaigalatzer commented on #2026
@deepakaravindr please verify that this is completely fixed in RTM.

@Korporal - Unless you install pre-release versions, our meaningful version numbers are just the first 3, the forth digit is the build number.

Also completely agree with your comment

[2016-03-13 03:19] yishaigalatzer commented on #2030
@alpaix please verify this scenario for 3.4RTM. if it is not fixed move it to 3.5-Beta

[2016-03-13 03:25] yishaigalatzer commented on #1987
@zihotki the idea is that you can sort by version or project, so you can idealy click through what you want.

We should probably do more thinking here, and improve. This was a feature we had a short amount of time to invest in, and we could invest more going forward.

This feature enables installing packages into additional project (was a specific ask by many customers), so what could be seemingly

[2016-03-13 03:28] yishaigalatzer commented on #2001
Looks like a bug to me, the flatten attribute is false by default which means the path should be preserved.

CC @jasonmalinowski @emgarten

[2016-03-13 03:29] yishaigalatzer commented on #1999
You need to run nuget.exe restore {solution}.sln before running msbuild

[2016-03-13 03:29] #1999 closed, assigned to nobody

[2016-03-13 03:30] yishaigalatzer commented on #2010
ping

[2016-03-13 03:31] #1975 closed, assigned to nobody

[2016-03-13 03:34] andycmaj commented on #2204
thanks guys... let me know if you need more info

[2016-03-13 03:34] yishaigalatzer commented on #1967
Hey @jmecosta we haven't heard reports of this.

To be honest this is one of the reasons we are deprecating install.ps1 in the next evolution of nuget, it exposes a very rough surface area, and one that we cannot support. We see packages being broken regularly across releases of visual studio and sometimes even across updates. So our goal is to provide a more uniform experience and add first class

[2016-03-13 03:34] #1967 closed, assigned to nobody

[2016-03-13 03:36] yishaigalatzer commented on #1968
This feature was deprecated, and we do not recommend using it going forward. It causes many issues with packages that carry targets and props.

I would recommend (of course if you can), moving to Visual Studio 2015 and removing the nuget targets from the project

[2016-03-13 03:36] #1968 closed, assigned to nobody

[2016-03-13 03:37] yishaigalatzer commented on #1965
@arturl NuGet.VisualStudio in 2015 should be 3.3, can you validate?

Can you help us with understanding the priority of this item?

[2016-03-13 03:41] yishaigalatzer commented on #1936
@bradwilson & @emgarten we could theoretically add the _ as a valid entry. But we would need to justify it by scanning from the existing packages in nuget.org to see how prevalent that is.

Given that we want to move more folks over to project.json in the coming year, that is probably not a bad investment.

[2016-03-13 03:44] yishaigalatzer commented on #1922
@rrelyea assigning to you because of your WPF expertise although this is a pack issue

CC @toddm

[2016-03-13 03:45] #1902 closed, assigned to nobody

[2016-03-13 03:45] yishaigalatzer commented on #1902
Fixed in 3.4

[2016-03-13 03:45] #1892 closed, assigned to yishaigalatzer

[2016-03-13 03:48] yishaigalatzer commented on #1882
We made a fix in nuget.org where a package title cannot be the id of another package and hence confuse the customers. This doesn't deal with fraud, but it makes sure that you will have to be intentionally malicious and try to fake a name to match another package.

[2016-03-13 03:51] yishaigalatzer commented on #1800
ping

[2016-03-13 03:54] yishaigalatzer commented on #1768
@kevinkuszyk do you still plan on a PR here, I'm closing (since it seems low pri) but feel free to send one out.

[2016-03-13 03:54] #1768 closed, assigned to nobody

[2016-03-13 03:55] yishaigalatzer commented on #1745
Closing as I haven't heard anything here. I assume you are in a good place. Let us know if this is not the case

[2016-03-13 03:55] #1745 closed, assigned to nobody

[2016-03-13 04:07] yishaigalatzer commented on #2308
That's works. Will need to validate that this doesn't slow things down.

This could be a nice addition when we break the surface of the water we are under or a cool pr

[2016-03-13 04:09] yishaigalatzer commented on #2193
The fix is in the package to stop adding the ref. However it is used in our build that depends on the CLI, so we got not much choice as far as I can see.

[2016-03-13 04:09] yishaigalatzer commented on #2193
Or perhaps we can add a package ref to system.glob instead?

[2016-03-13 05:02] emgarten commented on #2001
Flatten here pertains to the output folder, this is for the path within the assembly or appx. We should support this but it may need more design work.

[2016-03-13 05:11] TheRealPiotrP commented on #2304
What was that build number?

Sent using OWA for iPhone

---

From: Yishai Galatzer notifications@github.com
Sent: Saturday, March 12, 2016 9:06:06 AM
To: NuGet/Home
Cc: Peter Puszkiewicz
Subject: Re: [Home] NuGet xplat failing during tools restore (#2304)

It is blocked because of branching. It will be unblocked on Monday or you can grab the build that had the fix.

##

Reply to this email directl

[2016-03-13 05:11] emgarten commented on #2311
I investigated this earlier in the week. Gzip is only available through the 3.4.0 endpoint which has not yet been added to `https://api.nuget.org/v3/index.json`.  @johnataylor has a test account containing an updated service index which enables this.

[2016-03-13 05:20] emgarten commented on #2304
763 contains the fix, it is not on the nugetbuild feed. 764 has the reverted change and will not work.

[2016-03-13 07:25] yishaigalatzer commented on #2001
I don't understand, this is a documented feature, why would it need more design work?

[2016-03-13 11:14] ghost opened #2312 "nuget.exe on linux: This method must be implemented in derived classes"
Using the latest nuget.exe from the download page, I can't install anything. Getting a 'This method must be implemented in derived classes' (see below).

Ubuntu 14.04, Linux sunra 3.19.0-51-generic #58~14.04.1-Ubuntu SMP Fri Feb 26 22:02:58 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

gmc@sunra:~/bin/nuget$ mono --version
Mono JIT compiler version 3.2.8 (Debian 3.2.8+dfsg-4ubuntu1.1)
Copyright (C) 200

[2016-03-13 13:04] clairernovotny commented on #2001
AppX should preserve the output directory structure, I don't think there's specific work for that. I don't think even the output dir is correct here based on the TargetPath meta.

[2016-03-13 13:18] thang2410199 opened #2313 "Nuget api v3 failed to get meta data of my package"
In visual studio package manager, my package [Suto Navigation](https://www.nuget.org/packages/SutoNavigation/) display outdated version. In website and api v2 it display the package correctly.

If I install the package by using package console, it pulls the latest version, but without any meta data. "Not available at this source" message appear below my package name in "Installed" tab of the packa

[2016-03-13 16:30] apxltd commented on #2298
I fully agree here with the "should not... never", but we had to implement it because a lot of users were relying on this versioning quirk when migrating from NuGet.Server or a share drive to ProGet, and it was a showstopper to not have this "feature" in their feed.

The main abuse of this quirk seems to be quality related: e.g. "1.0" is the first version, "1.0.0" is a patch", and so on. It's some

[2016-03-13 17:25] yishaigalatzer commented on #2298
That just wouldn't work. We are throwing away the old v2 client as it is not sustainable. You are describing things predating even semver 1.

I guess these folks would have to stay on older versions, but we are not and should not support this going forward, regardless of the api is v1 or v2.

I'm OK with making the change to send the exact version the user requested, but we will not support anyone

[2016-03-13 17:45] NN--- commented on #2298
@yishaigalatzer It is not a problem to write a script and normalize all versions for future revisions, the question is whether you can pull packages with older revisions where they ask for non normalized versions successfully ?

[2016-03-13 17:49] yishaigalatzer commented on #2298
I'm suggesting we allow for that, but we don't allow for duplicates

[2016-03-13 17:52] NN--- commented on #2298
@yishaigalatzer That is reasonable for me. I don't have duplicates.
Actually the version with 4th zero was an accident and wasn't intended at all.
But anyhow it helped to find a breaking change.

[2016-03-13 20:49] TheRealPiotrP commented on #2304
Can we somehow consume 763?

Sent using OWA for iPhone

---

From: Justin Emgarten notifications@github.com
Sent: Saturday, March 12, 2016 9:21:03 PM
To: NuGet/Home
Cc: Peter Puszkiewicz
Subject: Re: [Home] NuGet xplat failing during tools restore (#2304)

763 contains the fix, it is not on the nugetbuild feed. 764 has the reverted change and will not work.

##

Reply to this email directly or vie

[2016-03-13 21:04] yishaigalatzer commented on #2304
Yes you sure can.

Sent from Outlook Mobilehttps://aka.ms/xp9y6l

On Sun, Mar 13, 2016 at 1:49 PM -0700, "Piotr Puszkiewicz" <notifications@github.com<mailto:notifications@github.com>> wrote:

Can we somehow consume 763?

Sent using OWA for iPhone

---

From: Justin Emgarten notifications@github.com
Sent: Saturday, March 12, 2016 9:21:03 PM
To: NuGet/Home
Cc: Peter Puszkiewicz
Subject: Re: [Home]

[2016-03-13 22:03] troydai commented on #2309
:beers:

[2016-03-14 00:35] apxltd commented on #2298
:+1: -- we'll see how many folks notice, and enforce it on the ProGet end at some point (maybe as an option, maybe not). I think it's easy enough simply not to upgrade if it's that big of a deal.

[2016-03-14 05:55] WernerMairl commented on #2156
Thank you for the quick response!

for long terms, what about one of the following (backward compatible) ideas

a) add a commandline option "-xml" (like subversion) that returns structured information about the warnings/output (severity, source, etc)

b) add a commandline option "-extendedReturncodes" that allows a new/imrpoved exitcode-handling without impacting the old and known behavior

[2016-03-14 06:05] yishaigalatzer commented on #2156
That sounds like a good idea. I'm not sure we can/will get there in the short term, but definitely something that can be added.

The second one should be fairly easy in a simpler form. E.g. -warnings as errors mode

[2016-03-14 07:33] aloisdeniel commented on #2313
Same problem here with [PdfRasterizer](https://www.nuget.org/packages/Xam.Plugin.PdfRasterizer/). It works with `v2` but not `v3`.

[2016-03-14 09:02] funkycoding opened #2314 "Version sorting prerelease(s)"
Hi,

Not sure if a bug or intentional (due to beta tag?) but, i'm using the packages extension in VSO to build company specific packages and using the beta-[buildnumber] indicating the package is a pre-release.

Everything works great, however i'm getting the following overview over versions, stating that the 201603149 is the latest, which it isn't. I'd expect 2016031411 to be the latest. Am i mis

[2016-03-14 09:43] maxpavlov commented on #2276
@yishaigalatzer Could you please re-open this issue for someone in the team to take a look? Thanks.

[2016-03-14 09:48] xavierdecoster commented on #2295
@yishaigalatzer Is this the dupe you refer to? https://github.com/NuGet/Home/issues/318

[2016-03-14 09:58] #2314 closed, assigned to nobody

[2016-03-14 10:57] alextercete opened #2315 "Dependencies targeting .NET 3.5 are installed to .NET 4.x projects"
I'm trying to create a NuGet package that has different dependencies based on the target framework. Following [the documentation ](https://docs.nuget.org/create/nuspec-reference#specifying-dependencies-in-version-2.0-and-above), I declared the dependencies on my _.nuspec_ file like this:

[code]

The problem is that package `D` keeps being installed to .NET 4.x projects, no matter what!

I managed

[2016-03-14 11:36] davidfowl commented on #2115
Can be RTM

[2016-03-14 11:57] edblackburn opened #2316 "Git/Github-based dependency installation"
_I apologise if this has been requested before. If so could you point me towards the relevant topic?_

Instead of packaging a singular source file for distribution, compiled or as code. I think it would be super useful to configure nuget to fetch a source file from a resource? Examples would be a github gist, raw github or frankly any file at a resource?

Here are some examples:
1. For super light

[2016-03-14 12:00] gregoryyoung commented on #2316
:+1:

[2016-03-14 12:12] davidfowl commented on #2316
Why would this be a nuget feature? What other features would you expect out of this? Ability to update based on git sha? Is it really just a curl? What happens to the file after it's downloaded? Do you expect nuget to add it to the project as well?

I have a million other questions but let start with those...

[2016-03-14 12:15] davidfowl commented on #2315
That's by design. net35 means >= net35, which means a net40 project can consume it. It's best practice to isolate your dependency groups and generally avoid targetFramework less dependency groups.

[2016-03-14 12:16] davidfowl commented on #2312
Update to a newer mono

[2016-03-14 12:17] gregoryyoung commented on #2316
@davidfowl I think whats being requested is essentially what paket does with single file dependencies (eg pull source instead of binaries).

eg:

github fsharp/fsfoundation:gh-pages img/logo/fsharp.svg
github forki/FsUnit:7623fc13439f0e60bd05c1ed3b5f6dcb937fe468 FsUnit.fs

Cheers,

Greg

[2016-03-14 12:27] davidfowl commented on #2303
@emgarten The thing you're missing is the fact that A is a meta package that has a bunch of dependencies we want to omit during publish. Consider:

[code]

If the resolved B and C are the same version that comes from the platform only edge, then those flags should win, otherwise keep the default logic.

[2016-03-14 12:39] edblackburn commented on #2316
Hi @davidfowl as @gregoryyoung suggests my inspiration is the github feature found in Paket. I've not been able to keep up with the fast changing build ecosystem in .NET and Core, but the last time I looked Paket didn't have a CoreCLR story so I need to consider migrating back to nugget for some C# components I have, which we’re consider porting to Core.

I am not wed to Paket’s specific implement

[2016-03-14 12:47] davidfowl commented on #2142
This is actually a pretty simple fix https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.DependencyResolver.Core/GraphModel/GraphOperations.cs#L143. We need to decide if we want to show both versions or only resolved versions.

node.Key - Requested
node.Item.Key - Resolved version (may be null of unresolved)

[2016-03-14 13:12] csharpfritz commented on #2316
This has been brought up previously in #1822

This feels like an effort to circumvent the existing mechanisms to provide a repository by placing files wherever they are convenient and simply restoring from those locations.  The challenge is that several features and tenets of the package manager break:
- You can add a reference to a Git repository with a tag reference.  What happens to your refere

[2016-03-14 13:13] alextercete commented on #2315
That explains the behavior I was experiencing -- which, by the way, I **didn't** fix by introducing an empty dependency group targeting `net40`, as I just realised the common dependencies weren't being installed.

Just to confirm, is the following how it's supposed to look like?

[code]

I was using the `targetFramework`less group in the hope of preventing duplication of the common dependencies.

[2016-03-14 13:26] LtKlaus commented on #2054
I'm using NuGet.exe v3.3.0.212. I can confirm that I'm still able to reproduce this in my environment, but specifically when one of my sources is our internal NuGet server which is running Klondike v2.0.0.

I just created a new C# console application, added the Moq package to it, then used the following command to install the package again

nuget install Moq -o Packages -ExcludeVersion

I see the

[2016-03-14 14:24] davidfowl commented on #2315
Yes. That's how it should be done. The duplication is a bit unfortunate but it drastically simplifies the selection logic

[2016-03-14 14:31] alextercete commented on #2315
Fair enough. Thanks!

[2016-03-14 14:31] #2315 closed, assigned to nobody

[2016-03-14 14:55] yishaigalatzer commented on #2054
Can you please share a fiddler trace of your scenario? I have a guess that your package version might not be normalized? That means there might be extra zeros in the string.

If you are using a local feed, please read our blog about accelerating your local network share.

Last - I tried it with 3.4 rather than 3.3, please use that version (available on the download tab on nuget.org)

[2016-03-14 15:02] ddrinka commented on #2215
This issue was blocking development for our team.  For any others watching, our workaround was to move to project.json package configuration.  This move brought many additional wins, and I would recommend it to anyone having trouble with the legacy packages.config style.

[2016-03-14 15:07] ddrinka commented on #1645
I've noticed that installing managed assemblies into C++/CLI is possible with a project.json dependency configuration, as opposed to the legacy packages.config.  Moving to the new dependency model fixed this issue for us, without requiring any adjustment to our development workflow.

[2016-03-14 15:17] ghost commented on #2312
Ok, works fine with mono 4.2.2. Thanks.

[2016-03-14 15:17] #2312 closed, assigned to nobody

[2016-03-14 15:24] yishaigalatzer commented on #2276
Sure, can you try one more thing before we do? Can you please try 3.4 (available on the download tabs of nuget.org)

Here is my guess: we call the vs apis for checking out files before doing anything with packages.config (in fact we have bugs about being too aggressive about it). Perhaps the perfoce plugin is not listening to them.

We should be able to take a look.

[2016-03-14 16:29] LtKlaus commented on #2054
I did try with 3.4 previously but got the following error so I went back to 3.3

An error occurred while retrieving package metadata for 'Moq' from source 'MyPackageSource'.
  For security reasons DTD is prohibited in this XML document. To enable DTD processing set the DtdProcessing property on XmlReaderSettings to Parse and pass the settings into XmlReader.Create method.

I ran my tests with 3.3

[2016-03-14 17:09] analogrelay commented on #2303
It sounds like getting this in fairly soon would be good. I don't have cycles to work on this directly right this moment, I'm working on other high-pri CLI integration stuff. /cc @piotrpMSFT @davidfowl @yishaigalatzer @emgarten

[2016-03-14 17:23] kevinkuszyk commented on #1768
@yishaigalatzer thanks for the nudge - this had slipped my mind.

I don't think there is any need for a PR now, as the latest clone from `DEV` builds on my machine with only the follow error which looks to be unrelated:

![image](https://cloud.githubusercontent.com/assets/2734580/13753080/723dc320-ea09-11e5-8625-7844683557af.png)

[2016-03-14 17:38] johnataylor commented on #2294
This is fixed now.

[2016-03-14 17:38] #2294 closed, assigned to johnataylor

[2016-03-14 17:42] johnataylor commented on #2311
Marrten's [pull request](https://github.com/NuGet/NuGet.Services.Index/pull/24) fixes this

[2016-03-14 17:43] maartenba commented on #2311
It has just been deployed. Take into account that the blob is cached for a few minutes, you should be able to test drive in a bit.

[2016-03-14 17:44] yishaigalatzer commented on #2311
Reassigned to you, please validate and close

[2016-03-14 17:45] joelverhagen commented on #826
I have worked with @abpiskunov on these asks and all of the APIs are available, save `AreCompatible`, which Anton has another approach for (`GetClosestFramework` returns `null` if the provided framework are incompatible). Closing.

[2016-03-14 17:45] #826 closed

[2016-03-14 17:53] Dashue commented on #2132
I haven't been able to reproduce in a isolated solution. I configured the build output level to Diagnostics, but nothing stands out as being the cause. I think it's happening when restoring packages, however it says "already installed, skipping".

Happening in 2015 as well. Building one solution properly puts the right content in the packages.config, building another removes some of those, buildin

[2016-03-14 17:55] yishaigalatzer commented on #2316
I'm moving this out to the discussion milestone. IMHO this is not something we want to support on nuget.org (or in nuget in general) because it breaks a basic principal that package content == the content at delivery. This is a security and behavior feature, and I unfortunately I heard from too many package authors, some of them top package developers that they wish to go change existing packages.

[2016-03-14 17:56] johnataylor commented on #1762
This is fixed by first reading all the installed package metadata from the physically installed packages. We then lazily go on-line to flesh out details such as available versions.

[2016-03-14 17:57] yishaigalatzer commented on #2313
Yes this was a known issue - see the status reports on the bottom of http://status.nuget.org/, should be resolved now

[2016-03-14 17:57] #2313 closed, assigned to nobody

[2016-03-14 18:06] Dashue commented on #2132
Some further testing shows that it's happening withing the same solution as well by switching between different build configurations i.e debug and release. Does that give any hint as to what might be causing it?

[2016-03-14 18:08] johnataylor commented on #1762
Sorry prematurely closed this. What we fixed was all the details necessary for the left hand pane - so description, icon, author. We didn't do anything to make the right hand pane appear although we do have some of those details. We are obviously missing downloads, published date, alternative versions  but we could do better and partially populate those fields.

[2016-03-14 18:09] johnataylor commented on #1762
changing priority and assignment according to @yishaigalatzer

[2016-03-14 18:13] yishaigalatzer commented on #2132
Unfortunately it doesn't, we haven't seen this anywhere else. My only guess is that you might have a call to nuget.exe as part of your build targets (and that is no longer supported)

[2016-03-14 18:18] yishaigalatzer commented on #543
this is fixed in 3.4 RTM

[2016-03-14 18:18] #543 closed

[2016-03-14 18:21] Dashue commented on #2132
Nevermind, yet again the problem was of the human sort :)

We're using a modular approach with with a core website and customized websites being copied into the core website upon build. Guess which file wasn't being excluded in the copy, it was just bad luck that the customized dependencies listed in packages was a subset of the core packages.config.
Had there just been one very different package

[2016-03-14 18:21] #2132 closed, assigned to nobody

[2016-03-14 18:23] alpaix commented on #2030
Verified the scenario in build 758. The issue is still relevant when selecting a source that doesn't contain desired package. Happens both in update and consolidate view.

Although as a workaround I'd suggest switching to "all" source. This works just fine.
Moving to [3.5 Beta](https://github.com/NuGet/Home/milestones/3.5%20Beta).

[2016-03-14 18:27] deepakaravindr commented on #2235
@drewgil

I am not able to repro this issue when running the scenario manually. I have tried the scenario multiple times on WPF application manually. However, it happens consistently when running the E2E test.

Note that our E2E test tries to create a net45-client profile based WPF application. I don't think it is possible to create a project like that using Create->NewProject dialog in VS 2013 or

[2016-03-14 18:32] yishaigalatzer commented on #2132
Thanks a ton for keeping engaged, these things happen regularly in complex systems, so due diligence is the only way to resolve them.

Much appreciated!

[2016-03-14 18:35] csharpfritz commented on #1807
Docs updated

[2016-03-14 18:35] #1807 closed, assigned to csharpfritz

[2016-03-14 18:38] rrelyea commented on #2054
Initially, I want to focus on the DTD side of this.
We want to understand any major change in behavior with DTD processing that we may have introduced with 3.4.

Please work with me so that I can repro this same DTD error.

Can you point me to a specific instance of a Klondike server that I can use?
Or do I need to setup my own Klondike server?

We suspect the DTD issue is related to the v2 feed t

[2016-03-14 19:18] ygeelen-tb commented on #2151
Can you confirm whether it's an issue in the NuGet.exe client?

I will still need to wait until a VS nuget package manager extension update gets published that ships with the patched NuGet.exe version in that case I guess?

[2016-03-14 19:21] yishaigalatzer commented on #2151
This is a bug in http client

[2016-03-14 19:24] ygeelen-tb commented on #2151
Ok, which is a dependency of NuGet.exe?

[2016-03-14 19:26] rrelyea commented on #821
Confirmed by code inspection that 3.4 codebase has both of those things done:
- remove the "Do not show this again" checkbox.
- make the "Show preview window" checkbox setting per user instead of per window.

[2016-03-14 19:28] NN--- commented on #2298
@apapadimoulis Will it be possible given package 1.1.0.0 to ask for 1.1 and get the package successfully ?

[2016-03-14 20:01] apxltd commented on #2298
@NN--- I'm afraid not, because then that would be a breaking change on the server side, as 3.4 and pre-3.4 resolution logic is incompatible.

So for now, I would suggest to simply not upgrade to 3.4 if you rely on pre-3.4 logic.

[2016-03-14 20:05] NN--- commented on #2298
It is not a problem for me to add the same package of 1.1.1.0 with version 1.1.1 and have both in the server.
That way both pre-3.4 and 3.4 will work.

I don't know how many people have **really different** packages with trailing zeros.
My guess that most just didn't bother with normalizing like me since it just worked.

[2016-03-14 20:06] yishaigalatzer commented on #2298
@apapadimoulis that is not a major breaking change, and you should absolutely support it. Duplicate packages of the same version is a non-scenario.

[2016-03-14 20:17] abatishchev opened #2317 "ApplicationInsights 2.0 package is listed but doesn't exist yet"
Hi,
I understand this is likely an issue of the propagation a recently added package around the system/storage. But still would be nice if it could be addressed. For instance, fail for gracefully.

Here's the scenario: NuGet says for project 'Api' referencing Microsoft.ApplicationInsights version 1.2.3 there is an update to [2.0.0](https://www.nuget.org/packages/Microsoft.ApplicationInsights/2.0.0

[2016-03-14 20:30] zhili1208 opened #2318 "Duplicate XmlUtility in Packaging, Configuration, ProjectManagement, need to merge them into one utility"

[2016-03-14 20:40] skofman1 commented on #2215
Verified the fix on 3.4 RTM. Works great.

[2016-03-14 20:40] #2215 closed, assigned to zhili1208

[2016-03-14 20:42] yishaigalatzer commented on #2276
Reopening for investigation in 3.4 CC @skofman1

[2016-03-14 20:45] skofman1 commented on #1713
Verified. The issue is fixed in 3.4.

[2016-03-14 20:45] #1713 closed, assigned to zhili1208

[2016-03-14 20:46] kingerja commented on #2307
This has nothing to do with proget as the sample shows it is pulling from a v3 VSO feed.  It is simply if you have a nuget package that doesn't have a have a normailzed version such as having an 4 part version number with the last digit being 0.

[2016-03-14 20:54] apxltd commented on #2298
@yishaigalatzer I'd thought so too... except there were a lot of folks that had A-1, A1.0, A-1.0.0, etc. in their feed, so we had to implement it to allow them to migrate or use connectors to existing feeds...

But I agree, they probably aren't relying on "1.0.0" returning PACKAGE_NOT_FOUND if there is a "1.0.0.0" in the feed. So, we could ship that as a 3.4-compatiability maintenance version if n

[2016-03-14 21:15] yishaigalatzer commented on #2298
Short term, we plan to improve the 3.4 behavior as follows - And we will put bits in your hands as soon as they are ready (on the myget nugetbuild feed).

3.4 client will send a normalized version first which is 3 digits or 4 as applicable.
For example:

| User input | Id in nuspec | Request | Response |
| --- | :-: | --: | --- |
| 1.0 | 1.0.0.0 | 1.0.0 | Value in nuspec |
| 1.00 | 1.0 | 1.0.0 | V

[2016-03-14 21:27] rrelyea commented on #2054
@LtKlaus  - we have a private build of nuget.exe that we'd like to share with you. can you please email me at ..., and I'll get the build to you. we'd like to confirm that the DTD issue is fixed for you.

[2016-03-14 22:19] drewgillies commented on #2235
The interesting thing is that our WPF template sets the target profile to Client if the .NET framework target version is >=4.0 (https://github.com/NuGet/NuGet.Client/blob/dev/test/EndToEnd/ProjectTemplates/WPFApplication.zip/WPFApplication.csproj#L14), which makes no sense--client profiles ceased after 4.0. In the case of this test, we're creating a WPF project targeting 4.5. So, I'll change it to

[2016-03-14 23:06] spadapet commented on #2274
@drewgil

[2016-03-14 23:15] rrelyea commented on #2054
@LtKlaus said in email:
Running this version of NuGet.exe doesn't produce the DTD error but it also fails to find the package.

This is what I get

C:\ConsoleApplication1>nuget install Moq -o Packages
Feeds used:
  http://tfs-live:5432/api/

  GET http://tfs-live:5432/api/FindPackagesById()?Id='Moq'
  NotFound http://tfs-live:5432/api/FindPackagesById()?Id='Moq' 585ms
Unable to find package 'Moq'

[2016-03-14 23:16] rrelyea commented on #2054
Do you see this behavior for other packages (like "bootstrap" or "mvvmlight").

I've noticed that when I use those 2 packages with a local Klondike server, they are found on the default mirror server (nuget v2 feed), and then cached on my local Klondike server.
When I do Moq -- it doesn't get cached on the server for some reason.

[2016-03-14 23:36] rrelyea commented on #2054
It appears that the redirection, may have been broken in our v3.4.
If you change your package server specified as */api/odata instead of */api/ -- I think it will work for you with the private nuget.exe I sent you.
I'm going to open a separate issue on the lack of redirection in v3.4.

Please change to */api/odata temporarily and validate if our cache behavior seems appropriate now (the original i

[2016-03-14 23:39] rrelyea opened #2319 "Discovery from */api/ doesn't find */api/odata/"
Working with a Klondike v2 server worked in v3.3 with http://servername/api/.
It would use discovery and find http://servername/api/odata/.

v3.4 doesn't seem discovery properly as of now.

(this was a spin off issue from: https://github.com/NuGet/Home/issues/2054)

[2016-03-14 23:40] LtKlaus commented on #2054
When trying to install mvvmlight using your test version of NuGet, and my Klondike server as the only source, I get the same message saying it can't find the package. If I use NuGet v3.3 it finds and installs the package without issue.

[2016-03-14 23:43] LtKlaus commented on #2054
Using */api/odata in my source does allow me to install the packages using the version of v3.4 that you sent me.

[2016-03-15 00:12] LtKlaus commented on #2054
I also tested my initial issue with your version of NuGet to see if it would redownload stuff that's already in the cache. It took a bit of time to realize it's now using C:\Users\%UserName%.NuGet\packages\ for the cache, but it looks like it no longer downloads packages that are already in the cache.

When testing with v3.3 I could see a .tmp file in the cache while it was downloading the package

[2016-03-15 00:35] rrelyea commented on #2319
3.3 behavior:

# Result  Protocol    Host    URL Body    Caching Content-Type    Process Comments    Custom

12469   307 HTTP    localhost.:8080 /api    0           n33:18272
12476   200 HTTP    localhost.:8080 /api/odata  368     application/atomsvc+xml; charset=utf-8  n33:18272
12515   200 HTTP    localhost.:8080 /api/odata/$metadata    4,386       application/xml; charset=utf-8  n33:18272
12582

[2016-03-15 01:07] skofman1 commented on #2276
There is indeed an integration problem. NuGet 3.4 uses DTE.SourceControl in order to checkout packages.config. This interface is not implemented by P4VS.
The options here are obvious:
1. Either NuGet tries to hit an API P4VS implements
2. P4VS implement DTE.SourceControl

@yishaigalatzer ?

[2016-03-15 01:23] yishaigalatzer commented on #2276
What does p4vs implement?

[2016-03-15 01:55] kevinchalet opened #2320 "Create a Mono TFM"
_Copied from https://github.com/aspnet/dnx/issues/2118:_

_We want to create a TFM for DNX on Mono: dnxmono. It should probably be tied to Mono version. It should also inherit from a dnx (desktop CLR) TFM._

_We'll want to get this in to NuGet as well._

---

Having a Mono-specific TFM would help fix this kind of issues: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for

[2016-03-15 02:37] emgarten commented on #2303
@davidfowl in that case, yes it would pull in everything since it isn't top level. Also, flags are checked against the flattened graph currently where versions do not matter. The check here seems a little different than other flags.

[2016-03-15 03:10] yishaigalatzer commented on #2320
There would be no more DNX TFMs going forward, everything is going to be .NETStandard based.

So I don't follow what is the exact ask here, can some take the time write up an exact spec/ask?

[2016-03-15 03:16] yishaigalatzer commented on #2276
@maxpavlov from the surface it looks like the perforce extension doesn't implement the required APIs required by NuGet to interact with it, see above.

We will take another look, and see if they can implement it or there is some technical limitation that blocks them from doing so. If it is implementable I think we are going to close this and redirect the work over to P4VS, either way I'm moving th

[2016-03-15 03:17] yishaigalatzer commented on #1262
ping - We are going to lock things down shortly.

[2016-03-15 03:19] yishaigalatzer commented on #2317
@abatishchev - There are two issues here
1. That the package is missing from one of the sources that's a server issue and I opened an immediate bug to fix it https://github.com/NuGet/NuGetGallery/issues/2939 (CC @maartenba)
2. When it comes to not rolling back, I agree that's a good idea. It would be helpful to add clear repro steps.
   2.1 Version of visual studio and nuget
   2.2 Exact project t

[2016-03-15 03:20] yishaigalatzer commented on #2235
Lets take the test fix in the dev branch only, and close

[2016-03-15 03:21] kevinchalet commented on #2320
There are actually many types that Mono doesn't have (like `ECDsa`, as discussed in the thread I mentioned), which prevents a project using them from compiling or running correctly (a `TypeLoadException` is thrown at runtime). Having a Mono TFM would make conditional compilation (`#ifdef mono`) possible.

[2016-03-15 03:21] kevinchalet commented on #2320
/cc @davidfowl

[2016-03-15 03:27] yishaigalatzer commented on #2320
But how is that related to DNX? Is the scenario that you want to use the xproj project system to build for mono runtime scenarios?

As far as I know we don't plan to support mono as a .net cli runtime environment, so the only conclusion I have is that this to support cross compilation?

What exactly is the expected hierarchy of TFMs? It cannot depend on dnxXXX because these are obsolete and gone.

[2016-03-15 03:31] kevinchalet commented on #2320
I simply copied the thread as-is, but of course, it would need to be adapted to the new CLI environment since DNX is dead. I changed the title to make that clearer.

That's the whole point of this thread.

Not only cross compilation, since it would only solve half of the problem: we'd still see `TypeLoadException`s at runtime.

[2016-03-15 03:42] abatishchev commented on #2317
2.1 Microsoft Visual Studio Enterprise 2015 Version 14.0.25029.00 Update 2 RC (dogfooding), Microsoft .NET Framework Version 4.6.01055.
2.2 Regular ASP.NET Web API with packages.config
2.3 Using UI, clicked Managed Packages on the solution node, opened the Updates tabs, clicked Select All then Update (love this button btw).

[2016-03-15 04:01] kevinchalet commented on #2320
I'd say the corresponding .NET Desktop TFM: e.g mono44 -> net461.

[2016-03-15 06:58] maartenba commented on #2317
Package indeed did not exist - it has been added to the V3 flat container.

[2016-03-15 07:14] emgarten commented on #2106
I am unable to repro this with NuGet xplat 3.4.0.625.  I'll add tests to make sure isn't regressed.

[code]

[2016-03-15 07:35] emgarten commented on #2104
Packages are currently checked for compatible assets by guard rails. Should NuGet still do this or should this be done by the guard rails replacement?

[2016-03-15 08:53] maxpavlov commented on #2276
Ok, thank you very much. I will let P4VS know that they can arrive at the solution (since I think this is their interest) via their support forums as well. But if you have a contact with them over your channels, please still use it. I assume MS contacting Perforce will be way more effective. Thanks for taking a look at this.

[2016-03-15 10:46] edblackburn commented on #2316
To summarise; you feel the brittleness and potential security issues of resource only packages outweigh the convenience? However there is a possibility that you may investigate git in the future but it's not on the current roadmap? So is unlikely to happen for sometime, if ever? Is there a published roadmap anywhere? Thanks for the response @csharpfritz, @yishaigalatzer.

[2016-03-15 14:02] csharpfritz commented on #2316
Yes: the reliability of restoring the same content every time from a file or git-based repository is a concern when package consumers expect package-version instances to be immutable.

There is not currently a published roadmap.  You can see from our issue list here on GitHub that we have plenty to address and we want to stabilize our current feature-set before we explore additional features.

Is

[2016-03-15 14:44] drewgillies commented on #2235
Fix #369 merged.

[2016-03-15 14:44] #2235 closed, assigned to drewgillies

[2016-03-15 15:19] maartenba commented on #2311
Verified and working. Latest `dev` version.

## Run

nuget.exe install microsoft.aspnet.webapi.client

## Expected
1. Request headers have gzip/deflate
2. Response is compressed

## Actual
1. Request headers have gzip/deflate
2. Response is compressed (served from `https://api.nuget.org/v3/registration1-gz/microsoft.aspnet.webapi.client/index.json`) and has the `Content-Encoding: gzip` header

[co

[2016-03-15 15:19] #2311 closed, assigned to maartenba

[2016-03-15 16:47] rrelyea commented on #2054
Ok. Closing this issue as fixed in 3.4 then. Thanks for the report.
Spun off the discovery issue here: https://github.com/NuGet/Home/issues/2319

[2016-03-15 16:47] #2054 closed, assigned to rrelyea

[2016-03-15 17:58] maartenba opened #2321 "nuget 2.8+ (3.4) commandline tool install doesn't take -FileConflictAction tag"
_From @lynntian on March 15, 2016 17:56_

Tried with nuget 2.8, 3.3 and 3.4 same error

_Copied from original issue: NuGet/NuGetGallery#2945_

[2016-03-15 18:08] vtbassmatt commented on #2277
@yishaigalatzer can you expand on your preference for us to differ from nuget.org? Where we can, we imitate your semantics to avoid fragmenting advice on StackOverflow as @zjrunner alluded to.

[2016-03-15 18:15] #2276 closed, assigned to skofman1

[2016-03-15 19:11] danielgerlag commented on #738
+1

[2016-03-15 19:23] deepakaravindr commented on #2026
@yishaigalatzer @Korporal @rrelyea

Following is my investigation. I don't think we should fix this. At least, not for this release.
Please let me know if I have missed anything.

Firstly, "3.3.0" shown on the Help->About Dialog is not the product version. Apparently, it is called the Product Id. Meaning, it could be anything that the VSIX or specifically VS Package author wants it to be but has t

[2016-03-15 19:46] rrelyea opened #2322 "Nuget Install with All Package Sources, but package missing from 1 source, fails"
1. Create a console application (.Net Core) project
2. Right-click on the "References" node in the "Solution Explorer"
3. Click on “Manage Nuget Packages” option
4. Find the package that is named “Newtonsoft.json” and click "Install" button
5. In the “Preview” window that comes up click “OK”

Expected result: the package is installed without any errors.

Actual result:
package install failed...wit

[2016-03-15 19:46] csharpfritz commented on #2320
Isn't dnx on Mono just a runtime?  Shouldn't this run the same as dnx on Core or dnx on dotnet framework

[2016-03-15 19:54] #2303 closed, assigned to analogrelay

[2016-03-15 20:09] edblackburn commented on #2316
Not ideal. But yes it should work. Thank you again for the explanation.

[2016-03-15 20:19] kingerja opened #2323 "Nuget pack gives Object reference not set to an instance of an object."
NuGet Version: 3.4.0.738

From microsoft corp network if you try to pack the package located here.
\joshking-main\dump\nugetpackissues\SourceDepotClient.2.8.0.0

d:\NuGetPackages\SourceDepotClient.2.8.0.0>d:\tfs\IS\ES\M\cbt\nuget\nuget.exe pack SourceDepotClient.nuspec
Attempting to build package from 'SourceDepotClient.nuspec'.
Object reference not set to an instance of an object.

This package i

[2016-03-15 20:32] kingerja opened #2324 "Nuget restore takes file locks even when no need to install package."
NuGet Version: 3.4.0.738

Scenario:
Project A and Project B build in parallel.  They each contain a packages.config which has the same nuget packages listed.
Project A invokes nuget restore on it's packages.config even though the packages are installed nuget takes exclusive locks on the file content (I am speculating it is simply re-writing over the packages files).
At the same time Project A is l

[2016-03-15 20:38] rrelyea commented on #2322
It appears that we need WebTools installed for this to work correctly. (who'd a'thunk?)
the original repro was caused by command line creation of the project (via "dotnet new").
it had a nuget.config.

Closing as by design.

[2016-03-15 20:51] technicallyerik opened #2325 "Invalid "Unable to find a version that is compatible" error"
I am attempting to install the "UmbracoCms.6.2.5" package into a new project in Visual Studio 2015 with NuGet 3.3.0.167, and get this error:

Shouldn't this package meet both of the dependency requirements?  https://www.nuget.org/packages/Lucene.Net/2.9.4.1

What am I missing here?

[2016-03-15 20:51] rrelyea commented on #2322
Sorry, mistake in testing. Hadn't recleared my nuget cache.

Updated repro steps.
1. Create a console application (.Net Core) project  (via "dotnet new")
2. Open in VS
3.Right-click on the "References" node in the "Solution Explorer"
4.Click on “Manage Nuget Packages” option
5.Find the package that is named “Newtonsoft.json” and click "Install" button
6.In the “Preview” window that comes up click

[2016-03-15 21:19] technicallyerik commented on #2325
After manually looking through the dependency tree myself, it turns out the error was completely wrong in describing the issue.

What it should have said was:

[2016-03-15 21:34] toddm commented on #2300
This bug does not happen when packing from a nuspec file only.  It only happens when packing from a project file with a nuspec file.  The same bug was in NuGet 2.8.6 and 3.2.0 so moving it out from 3.4 RTM.

[2016-03-15 21:48] yishaigalatzer commented on #2324
@kingerja can you please share more detailed scenario?

Is this in visual studio or nuget.exe?

[2016-03-15 21:49] yishaigalatzer commented on #2325
Thanks @technicallyerik - can you share your repro project and we will make the error better?

[2016-03-15 22:02] technicallyerik commented on #2325
Unfortunately this is a private repository, but the steps to reproduce are fairly easy.  This was a new project.
1. File -> New Project
2. Select "ASP.NET Web Application"
3. Check the box to include MVC dependencies (which will bring in MVC 5)
4. `Install-Package UmbracoCms -Version 6.2.5`

[2016-03-15 22:33] skofman1 opened #2326 "NuGet config documentation is not up to date"
Page: https://docs.nuget.org/consume/nuget-config-settings
Section: Source control integration

disableSourceControlIntegration setting is not true by default, and enabling auto restore of packages doesn't create .nuget folder

[2016-03-15 22:35] kingerja commented on #2324
This is nuget.exe

[2016-03-15 22:35] yishaigalatzer opened #2327 "init.ps1 scripts hanging the powershell console"
When visual studio opens a solution, we run the init.ps1 scripts. Typically that is a good thing (TM).

However sometimes these scripts are misbehaving, don't follow threading rules or touch COM objects they cannot touch, and the result is a hang.

Things we can do about it:
- [ ] - Log what scripts are running - with a start/stop to the activity log or somehwere else (need design). A hang will cl

[2016-03-15 22:56] abatishchev opened #2328 "Removed package 'x' is followed by System.FormatException"
I'm continuously trying to update App Insights in my Web API project from 1.2.3 to 2.0.0 using VS 2015 Update 2 RC and NuGet 3.4.0.768 (both dogfooding) but getting the following exception:

[code]

[2016-03-15 23:38] alpaix commented on #2328
From a brief code path observation it looks like operation failed while trying to write packages.config file to disk. It's not clear what was the actual error since exception was thrown in catch-all clause. Will proceed with fixing error message format first.

[2016-03-16 00:38] csharpfritz opened #2329 "Improve error message when missing proxy config"
When using NuGet clients, if a proxy is detected and the configuration is missing or incorrect, report an appropriate error message indicating an invalid proxy configuration.

In particular, this should help address the following StackOverflow question:
http://stackoverflow.com/questions/9232160/nuget-behind-proxy

[2016-03-16 01:15] shirhatti opened #2330 "dotnet restore doesn't try local feed if hostname for network feed cannot be resolved"
I have a local feed configured at `/Library/Application Support/AspNet/Packages`

Dotnet version:
`.NET Command Line Tools (1.0.0-dev-001806)`
Repro steps:
Turn off my WiFi adapter and run `dotnet restore`

[code]

Turn on my WiFi adapter and run `dotnet restore`

[code]

[2016-03-16 01:15] shirhatti commented on #2330
cc @zhili1208

[2016-03-16 01:15] shirhatti commented on #2330
@joelverhagen

[2016-03-16 01:36] yishaigalatzer commented on #2330
By design. We added a flag for ignored failed sources to support this scenario

[2016-03-16 01:36] #2330 closed, assigned to nobody

[2016-03-16 01:51] yishaigalatzer commented on #1284
@zhili1208 why is this thing not in the dev branch?

[2016-03-16 01:56] joelverhagen commented on #2324
Could you provide the error message? Also, are Project A and Project B sharing the same solution packages folder? At face value, this seems like an unsupported scenario. You should always wait for a restore (to a specific solution packages folder) to complete before building.

[2016-03-16 02:27] joelverhagen commented on #2322
The scenario here is:
- Project K project
- Installing a package from the NuGet UI in Visual Studio
- Using the All Source
- The package doesn't exist on the primary source.

We are thinking that we can potentially punt this to 3.5 since the scenario is not major.

[2016-03-16 02:34] joelverhagen commented on #2304
The fix is now in `dev`. For real this time. :roller_coaster:

[2016-03-16 02:41] #2304 closed, assigned to joelverhagen

[2016-03-16 02:46] joelverhagen commented on #2298
We are now observing HTTP status codes correctly for V2 feeds with https://github.com/NuGet/NuGet.Client/pull/374.

[2016-03-16 04:04] zhili1208 commented on #1284
@yishaigalatzer will grab Deepak to sign off the PR then Check into dev soon

[2016-03-16 04:20] kingerja commented on #2324
we use a traversal project.  (msbuild project that just invokes the msbuild task to build in parallel various projects. We don't use sln files.)  So many msbuild projects will be running at any given time and running nuget and any given tool from a nuget package at any given time.  The nuget packages for those projects are installed using nuget restore every time a project is built as well as the

[2016-03-16 04:48] jasonmalinowski opened #2331 "NuGet build tasks MSI doesn't specify a provider key"
Right now our MSI that contains our build tasks doesn't specify a provider key, which means that other components that depend upon the MSI cannot reliably prevent the MSI from being uninstalled by another bundle that includes it. We should fix this going forward.

[2016-03-16 04:53] emgarten commented on #2325
This is a dupe of https://github.com/NuGet/Home/issues/1373

The resolve error messages are sometimes incorrect when the project starts out in a broken state, it sounds like this is what you hit.

[2016-03-16 04:54] #2325 closed, assigned to nobody

[2016-03-16 07:27] davidfowl opened #2332 "Fix behavior around how nuget treats reference assemblies"
Today nuget treats reference assemblies like packages in the nodes in the graph, this leads to all sorts of problems as we end up special casing tons of logic around preferring reference assemblies over packages. Instead they should just be treated like assets.

/cc @emgarten

[2016-03-16 07:30] Semax commented on #1885
I'm having this very issue with NuGet 3.3.0.212. I thought it had been fixed in 3.3.

[2016-03-16 09:28] maartenba opened #2333 "VS2017 hangs while installing nupkg"
_From @Kanimozhi12 on March 16, 2016 8:43_

When i try to install a particular package VS 15 hangs, and it took more than half an hour to complete the installation. But the same package is installed in VS13 within 2 mins and there is no problem with it. I have tried almost all version of NuGet package manager of VS15.

_Copied from original issue: NuGet/NuGetGallery#2947_

[2016-03-16 10:11] maartenba commented on #2298
NuGet.Server now also supports normalized versions.

[2016-03-16 11:24] lucamorelli commented on #2224
vs nuget tooling is the latest, the nuget.exe version inside the solution is 2.1.0

[2016-03-16 12:30] yishaigalatzer commented on #1885
Would you mind giving 3.4 a try?

Sent from Outlook Mobilehttps://aka.ms/xp9y6l

On Wed, Mar 16, 2016 at 12:30 AM -0700, "Semax" <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm having this very issue with NuGet 3.3.0.212. I thought it had been fixed in 3.3.

##

You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHubhttps://githu

[2016-03-16 13:05] kingerja commented on #2324
Here are some simple repro steps.
1.  run nuget restore on \joshking-main\dump\nugetissue\2324\packages.config
2.  Open tools\odd.exe  in the package that was installed Microsoft.Odd.SQLIS.2.7.1.2
3.  run nuget restore on \joshking-main\dump\nugetissue\2324\packages.config

you get.
WARNING: The process cannot access the file 'd:\NuGetPackages\Microsoft.Odd.SQLIS.2.7.1.2\tools\Odd.exe' because it

[2016-03-16 13:35] ghost opened #2334 "Config file best practice"
Hello,
we currently have two decoupled solutions : Core and Services.
Services only know Core interfaces and rely on microsoft unity container to inject dependencies.
The dependencies are defined in a unity config file.
We currently have the unity file in the content directory of the core nuget package.
Would it be better to have it in a separate nuget package since services is responsible of sett

[2016-03-16 13:46] sixlettervariables commented on #2333
I'm seeing this same issue as well, seems to be related to a reboot yesterday for the MS16-MAR patches. I've repaired AND uninstalled/reinstalled VS2k15.

For me all NuGet commands hang (incl. find-package).
- VS2k15 (14.0.24720.00 Update 1)
- NuGet Package Manager (3.3.0)

Same occurs with both a local repository (ProGet) and a remote repository (nuget.org). Same occurs when using the UI or Packa

[2016-03-16 15:50] Semax commented on #1885
Thanks, 3.4 seems to work fine in this respect. Though it started to give multiple warnings with one of external private package sources we use: An error occurred while retrieving package metadata for "X" from source "Y".

[2016-03-16 15:54] joelverhagen commented on #999
This is fixed for Xplat and Command Line. I verified by adding test verbose log statements to all commands (based on https://github.com/NuGet/NuGet.Client/commit/f489a21dbb40706c4b8ac436e5462828feb9d1d5).

[2016-03-16 15:54] #999 closed

[2016-03-16 16:42] toddm commented on #2323
Thanks for reporting the issue.  It has been fixed in Dev and 3.4 RTM.

[2016-03-16 16:42] #2323 closed, assigned to toddm

[2016-03-16 17:17] hobelinm opened #2335 "NuGet.exe uses a non-FIPS-compliant implementation of SHA256"
Using NuGet.exe and the Credential Provider from:
https://{account}.pkgs.visualstudio.com/_apis/public/nuget/client/CredentialProviderBundle.zip
We get the following error when trying to use NuGet.exe on machines where FIPS is enabled:

'This implementation is not part of the Windows Platform FIPS validated cryptographic algorithms.'

We need to be able to use NuGet.exe and the credential provider

[2016-03-16 17:42] alpaix opened #2336 "The ‘Select All’ checkbox on the Updates tab is hidden"
The ‘Select All’ checkbox on the Updates tab is hidden:

 ![3](https://cloud.githubusercontent.com/assets/8239356/13822607/883889ac-eb63-11e5-92c1-9f046b829f4a.jpg)

Until I select a package:

![4](https://cloud.githubusercontent.com/assets/8239356/13822613/9056ea20-eb63-11e5-9844-be9b9d9359b5.jpg)

[2016-03-16 17:45] johnataylor commented on #2319
There are three distinct issues with the new client protocol implementation:

1) We were not putting an Accept header on the HTTP requests. nuget.org was forgiving and just worked, other servers won't necessarily, for example Klondike return json when our client was expecting XML. This is a very simple and localized fix.

2) The client search requests were sending the long form of the target-frame

[2016-03-16 18:04] joelverhagen commented on #1022
Not fixed (the only version IVS API we have is _comparing_ versions). I talked to @rchande and found this is not needed for Update 3, not Update 2.

[2016-03-16 18:05] vtbassmatt commented on #2335
From StackOverflow it looks like NuGet [doesn't work under FIPS](http://stackoverflow.com/questions/35385758/package-restore-failed-asp-net-5). Once the core client is working, we can explore whether the credential provider also needs changes.

[2016-03-16 18:05] yishaigalatzer commented on #1022
You mean needed for update 3

Sent from Outlook Mobilehttps://aka.ms/xp9y6l

On Wed, Mar 16, 2016 at 11:04 AM -0700, "Joel Verhagen" <notifications@github.com<mailto:notifications@github.com>> wrote:

Not fixed (the only version IVS API we have is comparing versions). I talked to @rchandehttps://github.com/rchande and found this is not needed for Update 3, not Update 2.

##

You are receiving this

[2016-03-16 18:07] joelverhagen commented on #1022
:sweat: yes, precisely.

[2016-03-16 18:38] ericstj opened #2337 "PackageDependency set with targetFramework==null throws"
I noticed this when updating from my fork of NuGet pack code to the official bits.  I found that I could pass NuGetFramework.Any to get the behavior I wanted, but it seems like null should work.

/cc @toddm @emgarten

[2016-03-16 18:42] yishaigalatzer commented on #2337
@ericstj is this an API bug or a behavior bug for restore? (I assume API bug), I think null shouldn't be an input, but lets debate