[2018-10-16 12:26] dasMulli commented on #6624
How well would this work for existing applications packing targets?
At the moment, many targets do things like loading assemblies from known locations of the resulting package, e.g. `<UsingTask>` directives with `$(MSBuildThisFileDirectory)..\tools\netcoreapp2.0\foo.dll` (usually based on `$(MSBuildRuntimeType)`).

When these kind of files are suddenly imported into other projects' generated obj\*

[2018-10-16 17:13] jstutson commented on #5138
This is such a common need in script publishing, especially for CI builds.  I'm extremely surprised there is no method for asking a remote repo whether it has a package at a given version.

[2018-10-16 18:03] nkolev92 opened #7404 "Honor TreatWarningsAsErrors during NuGet Package creation"
From an internal thread;

[code]

The package is still created even though it's elevated to an error.

Note that the exit code should not be 0!

[2018-10-16 19:14] karann-msft opened #7405 "Package reference doesn't work with template wizard apis"

[2018-10-16 19:34] #7285 closed, assigned to jainaashish

[2018-10-16 20:04] dotMorten commented on #7405
I'm finding that this work fine with UWP, however I'm having problems with this on WPF. It works on a few PCs and not on most others. Same VS version and more or less the same extensions installed.

[2018-10-16 20:15] jainaashish commented on #7084
Merged to 4.9.0 with commit# 0081f51f7ea120ca551b226c8b665fa5b9b441fd

[2018-10-16 20:15] #7084 closed, assigned to jainaashish

[2018-10-16 20:15] jainaashish commented on #7285
Merged to 4.9.0 with 6d77978a8dd2b3f07851cc953e85333bb4950deb

[2018-10-16 20:18] tthiery commented on #4628
@karann-msft can you elaborate on the csproj strategy of it. Will there be a explicit property in it or do we  need to fallback to create a custom nuspec?

[2018-10-16 20:53] rrelyea commented on #7401
@mwpowellhtx - please give us repro steps.
that might include a project that we can try...or steps on how to create a new project, tweak it a bit, and then see the same problem.

[2018-10-16 21:51] mwpowellhtx commented on #7401
@rrelyea I've given you what I know. something in the Manager is hanging up and never responds.

[2018-10-16 21:55] agr opened #7406 "Provide a way to access the value and type of the license without attempting to parse license expression"
Currently, it seems, the only way to get the data specified in the &lt;license> node of the nuspec file is to call the `NuspecReader.GetLicenseMetadata`. This performs full processing of the value including the license expression parsing. If someone wants to protect themselves from parsing multi-megabyte license expressions they might want to check the length of the expression before attempting to

[2018-10-16 23:48] karann-msft commented on #352
@josesimoes we have started working on this. I don't have a hard ETA on this yet.

[2018-10-17 01:44] zapzap3 commented on #7395
I never used the source link, but I will check if it is available in the future.
At the moment, if package contains source code, include files, and other assemblies, Do I have to adjust the time zone of the Last Modified time of the file by myself?

[2018-10-17 04:27] nigurr commented on #5138
Surprised to see there's not any traction nor feedback from the owners. It's being there for more than an year

@jainaashish @mishra14

[2018-10-17 05:28] #7391 closed, assigned to nkolev92

[2018-10-17 06:31] jainaashish commented on #5138
Team (with limited resources) have been occupied with other priority items which is why we haven't got time to discuss this issue or make any progress.

Besides, this is not going to be a straight implementation of some additional flags... current search apis doesn't support restricting it to exact package id or passing specific version so it'd either require protocol changes or additional filteri

[2018-10-17 07:45] ranjan-2209 opened #7407 "license agreement page coming again and again"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet Package Manager   4.6.0

Microsoft Visual Studio Professional 2017
Version 15.8.7
VisualStudio.15.Release/15.8.7+28010.2046
Microsoft .NET Framework
Version 4.7.03056

OS version (i.e. win10 v1607 (14393.321)): Windows 10 Enterprise 1803 17134.345

Worked before? If so, with which

[2018-10-17 14:37] johnpiliounis opened #7408 "System.Numerics: A possibly wrong implementation of a Matrix3x2 Multiply method in Matrix3x2 class"
Hello.
The problem seems to be a class/method implementation inside the System.Numerics namespace. There is a class under the name Matrix3x2 and a Multiply method inside it where there is 'defined' a Matrix3x2.Matrix3x2 matrices multiplication, which is completely erroneous. One can simply NOT multiply a 3x2 matrix by a 3x2 matrix. It's completely undefinable in Mathematics. Number of columns of t

[2018-10-17 16:25] outadoc commented on #4808
In our case, the issue was solved by updating NuGet: `nuget.exe update -self`.

[2018-10-17 17:18] nkolev92 commented on #7405
@karann-msft Is this different than https://github.com/NuGet/Home/issues/4693?
Should it be closed in favor of that one?

[2018-10-17 17:53] nkolev92 opened #7409 "Add third party notice in our repo and VSIX"
Self descriptive.

//cc @anangaur @karann-msft

[2018-10-17 18:48] karann-msft commented on #7405
@nkolev92 I guess you are right. Closing as dupe of #4693

[2018-10-17 18:48] #7405 closed, assigned to nobody

[2018-10-17 18:57] sumo300 commented on #5548
We just started having these issues with v4.8.1.  Here's what our AssemblyInformationalVersion looked like in both failure cases so far.  This was working with much older versions.  We use GitVersion to generate the version #'s placed into AssemblyInfo.  So, I don't believe either of these should have caused any issues.

Build from a tag - `2.1.1.Sha.51ca7ae4572a95ecc0c3ac570780922ccbe5a694`

Buil

[2018-10-17 20:00] #6906 closed, assigned to PatoBeltran

[2018-10-17 21:00] yash9patel opened #7410 "Work around for if updated package has an added assembly, a new reference gets added during update nuget CLI command"
I would like to find out if there is a work around to add dependent assembly for package that is being updated using nuget.exe update command. Is there a way to detect if package has dependent assembly that needs to be added?

NuGet product used (NuGet.exe):

NuGet version (4.7.1.5393):

OS version (win10):

NuGet.exe update

[2018-10-17 21:09] #7394 closed, assigned to PatoBeltran

[2018-10-17 21:18] bording opened #7411 "Questions about Package Reference development dependency support"
Now that package references support the development dependency flag (https://github.com/NuGet/NuGet.Client/pull/2182), when adding a package with the flag set, an entry similar to the following is added to the project file:

[code]
This behavior is observed in VS 2017 15.8.7.

Some questions regarding the format of this entry:

- Why is `IncludeAssets` used here? Why not use `ExcludeAssets` to rem

[2018-10-17 23:30] terrajobst opened #7412 "NuGet.Core for .NET Standard/.NET Core"
What is the replacemet for [NuGet.Core](https://nuget.org/packages/NuGet.Core) package on these platforms? It would be good to update the description.

Related: https://github.com/dotnet/standard/issues/652

[2018-10-17 23:48] PatoBeltran commented on #7209
This has been solved as part of the latest rework on the nuget.configuration code paths.

[2018-10-17 23:48] #7209 closed, assigned to nobody

[2018-10-18 00:21] #7335 closed, assigned to jainaashish

[2018-10-18 01:51] kkm000 commented on #6351
@rohit21agrawal, @emgarten, I would greatly appreciate your thoughts and suggestions on handling this change in an open-source project not pinned to an SDK version. We were going [back](https://github.com/grpc/grpc/pull/13207/commits/f626d4618d8ed15853e763e96a23e3635be0c339#diff-5f2a840bef68ff24c966f46f26561d60) and [forth](https://github.com/grpc/grpc/pull/13207/commits/ee4cb5ce65f935b2de6e3c2a04

[2018-10-18 02:28] yjwx18 commented on #6403
I hit the same wall here.

[2018-10-18 06:57] Euphoric commented on #5887
This seems relevant, but I would like to also see Consolidate searching for transitive dependencies, and allow to force those dependencies to specific version in projects where there are possible conflicts.
Right now, I'm trying to solve a problem of my application not being able to find correct version of System.ValueTuple, and I identified it as some 3rd party library draging old version of that

[2018-10-18 09:35] Emilien-M commented on #6855
Same problem with visual studio for mac 7.6.9 (build 22). Any update for this issue ?

[2018-10-18 15:24] rrelyea commented on #7292
@nkolev92 can you please take a look here?

[2018-10-18 16:58] jainaashish commented on #7393
dupe of# https://devdiv.visualstudio.com/DevDiv/_workitems/edit/666788

Fixed with https://github.com/NuGet/NuGet.Client/pull/2416

It's already available in 15.9 preview3.

[2018-10-18 16:58] #7393 closed, assigned to jainaashish

[2018-10-18 18:15] nwoolls commented on #6625
@joelverhagen please note that this is all on Linux, not Windows.

`/usr/share/dotnet/sdk/2.1.402/NuGet.Build.Tasks.dll`

I don't know. I'd assume 2.1.402 from the file path, but I am unable to get the file version on Windows (the DLL properties show blank version info) or on Linux (using `exiftool` as shown [here](https://unix.stackexchange.com/questions/86147/viewing-dll-and-exe-file-properties-

[2018-10-18 18:25] nwoolls commented on #6625
@joelverhagen could it be that paging is causing the problem? Even though the initial request has the `semVerLevel` query parm, the URL in the `link rel="next" href` element at the end of the feed *does not*.

[code]

Perhaps the first page will contain SemVer 2.0.0 versioned package, but not subsequent pages? That would also explain why the `semVerLevel` query parm worked in [this issue](https://

[2018-10-18 19:46] nkolev92 commented on #7292
@pascalberger

What's your project style?

In PackageReference the import of targets file should not be raising errors like this normally.

If you have a malformed project, you might be hitting that issue because of a performance optimization we added in 15.5 of the NuGet.targets and ported to NuGet.exe in 4.8

https://github.com/NuGet/NuGet.Client/pull/2354

It'd be great if you can provide me wi

[2018-10-18 20:02] pascalberger commented on #7292
@nkolev92 The project is with `packages.config`. Will try with the env var and see if I can create a repro.

[2018-10-18 20:36] joelmartinez commented on #4360
Just wanted to chime in with another voice, saying that I'm experiencing this same issue. I have a tool that I need to distribute as a nuget package, but as everyone else has mentioned `IsTool` doesn't include the packagereferences/dependencies in the `tools` folder in the nuget package, so it doesn't work.

I see there that @fubar-coder had to add his own `.nuspec` file (https://github.com/fluent

[2018-10-18 22:32] chuanboz commented on #7020
I meet the same issue by just upgrade Nuget.exe from v3.5 to v4.4+, and it seems the first restore is fine but then the 2nd restore will fail.

1>Build started 10/18/2018 3:23:19 PM.
2>Build started 10/18/2018 3:23:19 PM.
1>Target RestoreNuGetPackages:
1>  Restoring NuGet package StyleCop.MSBuild.4.7.49.
1>  Adding package 'StyleCop.MSBuild.4.7.49' to folder 'E:\Github\odata.net\sln\packages'
1>

[2018-10-19 00:05] PatoBeltran commented on #7231
hey @valeriob is this still an issue? I will close this issue since nothing has been said for some time, please feel free to reopen if you are still experiencing this issue and we can work to get a repro and understand your problem!

[2018-10-19 00:05] #7231 closed, assigned to nobody

[2018-10-19 00:21] PatoBeltran commented on #7210
Closing this since we don't have enough information to understand this issue. If this is still a problem, please feel free to reopen and give more info on how to repro so we can work to understand the issue.

[2018-10-19 00:21] #7210 closed, assigned to nobody

[2018-10-19 00:59] alexeypukhov opened #7413 "dotnet restore fails when custom sources (local+url) are specified"
Nuget appends nuget source url to the current work dir and treats it as a local folder instead of url when I pass runtime and two sources: one local path + one url

When I remove runtime it starts to work

--------------
dotnet --info:
.NET Core SDK (reflecting any global.json):
 Version:   2.1.403
 Commit:    04e15494b6

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Plat

[2018-10-19 01:05] PatoBeltran commented on #7200
This has been solved as part of the latest rework on the nuget.configuration code paths.

[2018-10-19 01:05] #7200 closed, assigned to nobody

[2018-10-19 01:36] livarcocc opened #7414 "Packages in FallbackFolders installed by .NET Core SDK are custom installed, and fail signature validation."
_From @AArnott on September 10, 2018 23:18_

As discussed [on this appveyor forum](https://help.appveyor.com/discussions/problems/16600-appveyor-suddenly-totally-broken), AppVeyor builds recently started breaking for me.  Feodor Fitsner kindly came up with a minimal repro that suggests that the .NET Core 2.1 packages on nuget.org have bad signatures.

**Repro**

Create a test-nuget.csproj file wit

[2018-10-19 01:36] livarcocc commented on #7414
@rohit21agrawal @nkolev92 any idea what would cause these errors?

[2018-10-19 01:36] livarcocc commented on #7414
Also adding @mmitche @leecow and @vitek-karas in case there is something wrong with the packages we pushed to nuget.org.

[2018-10-19 01:36] livarcocc commented on #7414
_From @rohit21agrawal on September 10, 2018 23:21_

CC: @dtivel @patobeltran for signing issues

[2018-10-19 01:36] livarcocc commented on #7414
_From @nkolev92 on September 11, 2018 1:18_

Did some digging cause this looks weird, if you do a NuGet.exe verify -signatures on the package, for example Microsoft.NETCore.App 2.1.0, you get the same error message.

This seems to suggest that there is something wrong with this package.

The reason why it fails with multitargetting is because of the fallback folders.
 When you cross-target 2.x and

[2018-10-19 01:36] livarcocc commented on #7414
_From @mmitche on September 11, 2018 15:35_

This is really odd. Why would it start now? 2.1.0 is ages old.  Was there a change in nuget?

[2018-10-19 01:36] livarcocc commented on #7414
_From @mmitche on September 11, 2018 15:50_

WIth nuget.exe 4.6.2.5055 I get a successful verification

[2018-10-19 01:36] livarcocc commented on #7414
_From @PatoBeltran on September 12, 2018 0:23_

Did some investigation in this with @nkolev92. It seems like the fallback folder in `C:\Program Files\dotnet\sdk\NuGetFallbackFolder` is being used as a source and the package in there has the signature entry compressed.

This repros with any version of nuget greater than 4.6.2 (4.6.2 has a worse error experience, but the package errors out). If you

[2018-10-19 01:36] livarcocc commented on #7414
The fallback folder is used as a source if your application targets netcoreapp 1.1 or 1.0. Yes, the lzma compresses all files, however, we have been doing that for quite some time now.

@PatoBeltran we are going to need help to figure out what we are doing wrong here. Is it a file that we are not expanding correctly?

[2018-10-19 01:36] livarcocc commented on #7414
_From @jainaashish on September 12, 2018 18:41_

We also ran an additional exercise to validate packages hash from extracted SHA512 file vs generating SHA512 hash from nupkg in dotnet fallback folder and all these package validation failed which suggest either dotnet is not extracting nupkg correctly in fallback folder or they are creating a new nupkg in fallback folder.

The right expectation her

[2018-10-19 01:36] livarcocc commented on #7414
_From @AArnott on October 19, 2018 0:19_

What's happening here? Now I'm seeing this error in VS itself, blocking intellisense and builds:

[2018-10-19 01:37] livarcocc commented on #7414
I am going to move this issue over to NuGet, where we can get quicker and better answers to this.

[2018-10-19 02:39] MagicJohnJang commented on #5130
Clean cache at `VS2017 > Tools > Options > NuGet Package Manager > General > Clear All NuGet Cache(s)` (Actually in %USERPROFILE%\.nuget)
That works for me.

[2018-10-19 06:14] pascalberger commented on #7292
@nkolev92 Setting the `RestoreUseSkipNonexistentTargets` environment variable seems to fix the issue for projects referencing targets from NuGet packages and also for SSDT solutions (where it would throw otherwise with `error MSB4067: The element <DeploymentModel> beneath element <Project> is unrecognized.`)

Do you still need a repro?

Is there also a `nuget.config` entry which can be set instead

[2018-10-19 06:33] pascalberger commented on #7292
Also this change should be mentioned as a potential breaking change as part of the release notes at https://docs.microsoft.com/en-us/nuget/release-notes/nuget-4.8-rtm

[2018-10-19 07:01] pascalberger opened #7415 "Add documentation for RestoreUseSkipNonexistentTargets environment variable"
Documentation for the `RestoreUseSkipNonexistentTargets` environment variable, as required by https://github.com/NuGet/Home/issues/7292, is missing at https://docs.microsoft.com/en-us/nuget/tools/cli-ref-environment-variables.

[2018-10-19 07:09] pascalberger commented on #7292
I've also created https://github.com/NuGet/docs.microsoft.com-nuget/pull/1102 for adding this to the environment variables documentation of nuget.exe CLI.

[2018-10-19 12:36] worldbeater commented on #4103
Is there any news about this issue? `dotnet update %packagename%` command could be really useful.

[2018-10-19 14:11] epicstar commented on #5071
I thought I had this same exact problem (nuproj builds a nupkg as expected in my local machine but not my build slave), but it turned out that Visual Studio (Visual Studio Mac 7.6.9 build 22) was generating `<Nuproj_Project_Name>.nuget.props` and `<Nuproj_Project_Name>.nuget.targets` files with an absolute path pointing to my current user's home directory (see `$(NugetPackageRoot)`)

I replaced th

[2018-10-19 14:28] mmitche commented on #7414
@livarcocc Let me know if you need anything from me.

[2018-10-19 17:06] PatoBeltran commented on #7106
This has been solved as part of the latest rework on the nuget.configuration code paths.

[2018-10-19 17:06] #7106 closed, assigned to nobody

[2018-10-19 17:09] PatoBeltran commented on #6550
This has been solved as part of the latest rework on the nuget.configuration code paths.

[2018-10-19 17:09] #6550 closed, assigned to nobody

[2018-10-19 17:27] PatoBeltran commented on #6402
This has been solved as part of the latest rework on the nuget.configuration code paths.

[2018-10-19 17:27] #6402 closed, assigned to nobody

[2018-10-19 17:35] PatoBeltran commented on #5838
If this issue is only seen with sources it might be because we used to rewrite the whole packageSources section on an update. With the work we have been doing around nuget.configuration this won't happen so this issue would be solved. Since we don't have a clear repro I will close this issue. Feel free to reopen this issue if it continues after updating to 15.9

[2018-10-19 17:35] #5838 closed, assigned to jainaashish

[2018-10-19 17:44] PatoBeltran commented on #5651
this seems to be similar to https://github.com/NuGet/Home/issues/7209, will close it as that has been solved. Feel free to reopen if this is still an issue after the release.

[2018-10-19 17:44] #5651 closed, assigned to nobody

[2018-10-19 18:06] nkolev92 commented on #6402
This looks like it should've been fixed before this issue was reported (maybe the version used did not contain this change)
https://github.com/NuGet/NuGet.Client/pull/1403

Regardless, @PatoBeltran took a look at and it's seems good :)

[2018-10-19 18:14] PatoBeltran commented on #3291
We should add infrastructure for dotnet.exe/msbuild restore that uses credentials to make this this (and any other source properties in the future) are being loaded correctly.

[2018-10-19 18:14] #3580 closed, assigned to nobody

[2018-10-19 18:28] nkolev92 commented on #7292
@pascalberger

Can you please provide a repro?

I don't follow why the targets file would attempt to be imported from that location.
I attempted a simple check with packages.config project and targets coming from a package and that worked fine.

[2018-10-19 19:20] Hviid commented on #5895
@kulov I can't seem to get the <Choose> condition to work. What version of VS are you using?
I'm on 15.9 preview 3 with a framework based csproj.
Could something have regressed?

[2018-10-19 19:42] dtivel commented on #7414
Somewhere something modified the package after it was signed.  It's now considered a tampered package.

[2018-10-19 19:46] brendanzagaeski commented on #7368
That sounds correct to me. I got a chance to double-check the behavior today on Visual Studio 2017 version 15.1 with NuGet Package Manager version 4.1.0, and it was the same there too, so I think the PackageReference style of package management has always behaved this way.

[2018-10-20 11:36] MV10 opened #7416 "Feature request: Override selection of "nearest" framework"
### The Problem

Now that the .NET ecosystem has overlapping feature-sets between .NET Framework, .NET Standard, and .NET Core, it is no longer correct to blindly assume the "nearest" framework target is what the developer requires. It is impossible for NuGet to always make the correct decision. At best, it is difficult and perhaps sometimes impossible for a package author to work around this forc

[2018-10-20 16:14] dfederm opened #7417 "Visual Studio Restore does not properly pick up package references transitively for project references outside the solution"
When restoring in VS, if a project has a project reference outside the solution, and that project outside the solution has a PackageReference, the first project (in the sln) will not end up with that package in it's project.assets.json. It works properly when using `MSBuild /t:Restore`

Repro steps:
1. Create a project A with a package reference to a package X
2. Create a project B with a package

[2018-10-21 01:36] den-run-ai commented on #7202
This issue has been fixed in pythonnet Travis CI temporarily by downgrading to msbuild 14.0:

https://github.com/pythonnet/pythonnet/blob/master/setup.py#L332

[2018-10-21 17:03] StingyJack commented on #7376
Nuget pack will alter the version number by dropping 0's in the 4th part, forcing semver in these cases but not in others.

It makes package versions go
1.1.1.5
1.1.1.6
1.1.1.7
1.1.2. (instead of 1.1.2.0)
1.1.2.1
Etc...

There is at least one issue here for  ["unwanted version normalization" regarding this](https://github.com/NuGet/Home/issues/3050). There are a few others that describe the normal

[2018-10-22 03:00] sikemullivan commented on #5874
I'm not sure what happened, but when I switched over to the yaml build's, I could no longer restore from my feeds.

Created build_nuget.config file with contents below:

`<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="FEEDNAME" value="https://MYPROJECT.pkgs.visualstu

[2018-10-22 04:59] xen2 commented on #6624
@dasMulli good point. Maybe one approach would be to choose if you target applies for ProjectReference, PackageReference or both. If you choose both, you would have to write it so that it can support both layouts.

[2018-10-22 07:36] dasMulli commented on #6624
A different approach could be to introduce a special type of item that forwards target files over P2P references.

To "send" things to a referencing project, you'd typically extend a project's output groups (built product, documentation, copy local files output group etc.).

For imports, this doesn't work since you can't add imports to MSBuild after static evaluation. Everything related to P2P ref

[2018-10-22 09:40] bochelie1000 opened #7418 "icon image not showing in designtime"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2018-10-22 09:47] bochelie1000 opened #7419 "icon image not showing in designtime"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version: 7.0.0-alpha0456

dotnet.exe: 4.5.2

VS version: 2017

OS version :W7

Worked before? If so, with which NuGet version: 6.0

## Detailed repro steps so we can see the same problem

1. I use a UserControl which contai

[2018-10-22 13:07] hzw53 opened #7420 "Nuget package contentFiles propagation"
## Details about Problem

Consider the following project structure:

Classlib A is consumed by classlib B which is in turn consumed by console app C.
A includes some additional files that have to be shipped along with the assembly.

A.csproj:
[code]

B.csproj:
[code]

C.csproj:
[code]

I expected file1.txt to be copied to the output folder of C in the subdirectory texts, but
it is not copied at al

[2018-10-22 16:38] nkolev92 commented on #7418
Closing in favor of https://github.com/NuGet/Home/issues/7419

[2018-10-22 16:38] #7418 closed, assigned to nobody

[2018-10-22 16:42] nkolev92 commented on #7419
@bochelie1000

I don't think you've filled this issue in the correct repo.

This is the issue repository for the NuGet Client.

Please consider filing a developer community bug at https://developercommunity.visualstudio.com/ or through the VS, Help => Report a problem workflow.

[2018-10-22 16:42] #7419 closed, assigned to nobody

[2018-10-22 16:58] #7294 closed, assigned to PatoBeltran

[2018-10-22 17:25] nkolev92 commented on #7417
This is by design, because NuGet depends on the project system.

Duplicate of https://github.com/NuGet/Home/issues/5820 and https://github.com/dotnet/project-system/issues/2759

Please track the open issue in the project system repo.

[2018-10-22 17:25] #7417 closed, assigned to nobody

[2018-10-22 17:36] nkolev92 commented on #7408
This is not the right repository for this issue.

This is the repository for the NuGet Client.

Please try stackoverflow or https://developercommunity.visualstudio.com for such questions.

[2018-10-22 17:36] #7408 closed, assigned to nobody

[2018-10-22 17:40] nkolev92 commented on #7420
@hzw53

That has to do with the rules for transitive flow of certian asset groups.

https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets

From the docs.

Tag | Description | Default Value
-- | -- | --
IncludeAssets | These assets will be consumed | all
ExcludeAssets | These assets will not be consumed | none
PrivateAssets | These

[2018-10-22 17:40] #7420 closed, assigned to nobody

[2018-10-22 18:20] nkolev92 commented on #7340
I updated the link in the PR to point to this issue so that it's auto-closed when that PR is merged.

[2018-10-22 18:41] dtivel opened #7421 "Signing: support NuGet protocol: RepositorySignatures/4.9.0 resource"
[Edited by @rrelyea]
Due to bugs in 4.7 and 4.8, had to support a new extension to the NuGet protocol such that nuget.org can signal that all packages are signed...and versions prior to 4.9 will ignore the signal. But 4.9 will properly enforce.

[2018-10-22 19:13] PatoBeltran commented on #2987
We have been working on improving the experiences around nuget.config… As part of this wave of work, we have removed the disabling http sources by default from machine wide configs when creating the user wide config. This means that we will still add `nuget.org` as a default source in a newly created nuget.config, but it won't be disabling any existing source from a machine wide config. Hopefully

[2018-10-22 19:33] joelverhagen commented on #6625
Well, we have gone full circle haven't we?

It looks like there is also a server-side bug. In 2.14.2, I can confirm that I see no `semVerLevel=2.0.0` query parameter on the next page URL. I tried 3.1.2 and it works just fine.. Could you switch to the 3.x train?

I have tracked the server-side problem here:
https://github.com/NuGet/NuGetGallery/issues/6585

[2018-10-22 19:40] AArnott commented on #7414
From the nuget side, can the error message be improved to actually mention:

1. what package ID and version failed?
1. *where* the package was being read from?

Then as a user I might be able to speculate as to how to workaround the problem.

[2018-10-22 20:09] nmyhre commented on #5895
@kulov, your choose/when/otherwise solution worked perfectly for me. I was attempting to use a separate debug and ship version of a nuget and running into the usual set of issues. @Hviid , FWIW, I'm on VS 15.8.7 release.

[2018-10-22 20:22] #7314 closed, assigned to dtivel

[2018-10-22 20:57] dtivel commented on #7414
I think this has been done already for NuGet 4.9 / VS 15.9.  See https://github.com/NuGet/NuGet.Client/pull/2360

[2018-10-22 21:05] KevinGrealish opened #7422 "Excluding Analyzer on Package refercne does not turn off Analyzer"
## Details about Problem
NuGet product used:
VS UI

dotnet.exe --version (if appropriate):
2.1.403

VS version (if appropriate):
15.8.7

OS version:
win10 v1807 (17763.55)

NuGet version (x.x.x.xxx):
Whatever VS has.

Unknown if this ever worked.

## Detailed repro steps so we can see the same problem

1. Create new .NET core console.
2. Add nuget reference to the project Microsoft.ML 0.6.0
3. Edi

[2018-10-22 21:15] AArnott commented on #7414
@livarcocc  I'm not sure why this issue was moved to github considering github isn't the team that deployed the faulty packages with the VS or dotnet SDK installer. Who "owns" this issue at this point?

[2018-10-22 21:37] jainaashish commented on #7414
@AArnott there are two parts of the issue with the same root cause.

First part is when you started seeing this as AppVeyor builds which was failing to verify some packages signature which was a legit issue since dotnet lzma tool recompress and generates a new nupkg which failed the signature verification.

Second part is when you started seeing this inside VS as well, this is happening because Nu

[2018-10-22 22:00] #7421 closed, assigned to dtivel

[2018-10-22 22:11] nkolev92 commented on #7422
Thanks for filing this issue @KevinGrealish

This is a duplicate of https://github.com/NuGet/Home/issues/6279.

Originally analyzers were added without any work from the NuGet side, so that's why this hole exists.

[2018-10-22 22:11] #7422 closed, assigned to nobody

[2018-10-22 22:26] nkolev92 commented on #7412
There's no good documentation pointing to that.
The new packages are the actively updated ones on https://www.nuget.org/profiles/nuget.

We would need to build a new package just to update the description in this case.

//cc @rrelyea and @anangaur to help decide what the directions here would be.

[2018-10-22 22:30] nkolev92 commented on #7411
@jainaashish would have the best context here.

NuGet delegates the writing to the project file to the project-system iirc, so the root cause could be on their side.

[2018-10-22 22:36] nkolev92 commented on #7410
Not with nuget.exe nuspec pack.

You can consider using the targets pack (sometimes called dotnet.exe pack) for PackageReference projects
https://www.nuget.org/packages/NuGet.Build.Tasks.Pack/.

That will automatically include project references as package references.

However there is no way to include dependent assemblies that are not packed.
https://github.com/NuGet/Home/issues/3891

For those

[2018-10-22 22:36] #7410 closed, assigned to nobody

[2018-10-22 22:39] terrajobst commented on #7412
Funny enough, the new location includes `NuGet.Core` 😆

Also, I believe you can edit the metadata of packages without uploading a new version.

[2018-10-22 22:41] jainaashish commented on #7411
`Why is IncludeAssets used here? Why not use ExcludeAssets to remove compile instead?`

This is because of current NuGet design since we only add `IncludeTypes` in `project.assets.json` file which propagates to `pack`. Not ideal, but we need to live with it for now.

`Why is the more verbose XML format used here? PrivateAssets and IncludeAssets could be attributes instead.`

This is the project-sy

[2018-10-22 22:46] nkolev92 commented on #7412
Not since we've implemented Package Signing.
See https://github.com/NuGet/Home/wiki/Package-Immutability.

You can no longer make metadata updates without uploading a new version.

/cc @skofman1

[2018-10-22 22:49] nkolev92 commented on #7407
Would you want to disable the license agreement page for all packages?

I'm not sure if something like this is feasible from a legal stand-point.

//cc @karann-msft @anangaur would know better.

[2018-10-22 22:50] AArnott commented on #7414
Thanks, @jainaashish. By "global packages folder" are you referring to `%userprofile%\.nuget\packages`?

[2018-10-22 22:53] Pilchie commented on #7411
Is this in an sdk-style project, or a traditional style project?

[2018-10-22 22:53] jainaashish commented on #7414
Yes. If you aren't overwriting it in your project.

[2018-10-22 22:58] terrajobst commented on #7412
Oh I see. I thought you still change the web site. My bad then. Well, I guess we need to figure out how to obsolete packages then because we'll have the same problem for ours.

[2018-10-22 23:03] nkolev92 commented on #7412
Yeah, definitely.

We have a feature on the backburner, but personally I don't know when that would happen https://github.com/NuGet/Home/issues/2867

[2018-10-22 23:05] nkolev92 commented on #7415
The root docs issue probably belongs in https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets.

I'm still curious to learn more about your scenario in the other issue as I am not yet sure how nuget.exe is failing.

[2018-10-22 23:08] nkolev92 commented on #4213
This is obsolete now.

[2018-10-22 23:08] #4213 closed, assigned to nobody

[2018-10-22 23:27] alexeypukhov commented on #7413
@nkolev92 I've checked the issue again and `--packages` flag has nothing to do here.
`-r win-x64` is what triggers the issue. I've updated the issue

[2018-10-22 23:37] nkolev92 commented on #7413
@puhovalexey

The other options don't really mater.
dotnet.exe forwards the --sources into 1 argument to the NuGet restore target.

It's likely an escaping/ordering problem.

[2018-10-22 23:41] nkolev92 opened #7423 "Badly signed packages should not end up in the global packages folder"
See the attached repro.

If the package signature is compressed, and you try to restore, restore will fail with an error NU3005 but the package is still in the global packages folder and can be used in subsequent restore.
[ClassLibrary53.zip](https://github.com/NuGet/Home/files/2503751/ClassLibrary53.zip)
NU3005

[code]

//cc
@PatoBeltran @dtivel @jainaashish @zivkan

[2018-10-22 23:42] PatoBeltran commented on #5410
This has been solved as part of the latest rework on the nuget.configuration code paths.

[2018-10-22 23:42] #5410 closed, assigned to nobody

[2018-10-23 00:10] nkolev92 opened #7424 "Handling of badly signed packages in the .nupkg metadata generation workflow"
Say you somehow got a badly signed package in the global packages folder prior to 4.9.

You upgrade to 4.9, then you try to restore a project that makes use of the previously extracted badly signed package.

Then the tools try to generate a .nupkg metadata file, the code throws [here](https://github.com/NuGet/NuGet.Client/blob/release-4.9.0-preview5/src/NuGet.Core/NuGet.Protocol/PackagesFolder/NuG

[2018-10-23 00:13] alexeypukhov commented on #7413
@nkolev92 if that helps I've tried these variants:
 1.a. dotnet publish --source ./ --source https://api.nuget.org/v3/index.json
 1.b. dotnet publish --source ./ --source https://api.nuget.org/v3/index.json -r win-x64
 1.c. dotnet publish --source ./ -r win-x64 --source https://api.nuget.org/v3/index.json
 1.d. dotnet publish  -r win-x64 --source ./ --source https://api.nuget.org/v3/index.json

2.

[2018-10-23 00:36] nkolev92 commented on #7413
yeah, that's interesting.

Thanks @puhovalexey
This definitely helps.

[2018-10-23 00:47] nkolev92 commented on #7325
Closed in https://github.com/NuGet/NuGet.Client/pull/2487

[2018-10-23 00:47] #7325 closed, assigned to nkolev92

[2018-10-23 04:04] vadivel1234 opened #7425 "Update-Package -Id {PackageName} –reinstall - not working"
Hi There,

We have unlisted the few packages which act as a dependency purpose alone from the last main release. Due to which, unlisted packages will not be shown in the VS or in nuget.org. But, we can install it by using the Package Manager console.

**Update-Package -Id {PackageName} –reinstall**

The above command is not worked for unlisted packages when need to retarget some projects to other

[2018-10-23 05:54] ranjan-2209 commented on #7407
yes,

something like chrome also asks "Don't show this pop up again"

and we have to tick the checkbox.

[2018-10-23 06:05] AArnott opened #7426 "nuspec `exclude="Analyzers"` ineffective, analyzers are still brought in"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

dotnet.exe --version (if appropriate): 2.2.200-preview-009431

Every single dependency in the `streamjsonrpc` 2.0.102-beta package has `exclude="Build,Analyzers"` on it. Yet installing it in a .NET Core project adds analyzers from the `Microsoft.VisualStudio.Threading.Analyzers` pac

[2018-10-23 07:07] johnpiliounis commented on #7408
I had initially posted it to https://developercommunity.visualstudio.com  and they directed me to post it here. John

[2018-10-23 10:49] v-luzh opened #7427 "[Test Failure][Repeatable Restore] Error NU1403 occurs when enabling ‘RestorePackagesWithLockFile’ after installing PR packages into.NET Core project"
## Details about Problem
NuGet version: NuGet Client Release-4.9.0-preview5\4.9.0.5627
VS Version: D15.9\28219.56
OS Version: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps
1. Create a C# Console Application (.NET Core) project via VS.
2. Install a few ‘PackageReference’ packages into the project.
3. Set MSBuild property “RestorePackagesWithLockFile” to true in csproj file.
4.

[2018-10-23 10:52] v-luzh commented on #7427
Github failed to attache screenshot today. Will update the screenshot later.

[2018-10-23 10:55] v-luzh opened #7428 "[Test Failure][Repeatable Restore] Warning: “found invalid data while decoding” occurs when restoring with custom lock file"
## Details about Problem
NuGet version: NuGet Client Release-4.9.0-preview5\4.9.0.5627
VS Version: D15.9\28219.56
OS Version: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps
1. Create a C# Class Library (.NET Framework) project in VS.
2. Install a few ‘PackageReference’ packages into the project.
3. Create a blank ‘custom.lock.json’ file at project directory (alongside *.csproj

[2018-10-23 10:57] v-luzh opened #7429 "Errors from lock file enforcement should show up in Error List Window"
## Details about Problem
NuGet version: NuGet Client Release-4.9.0-preview5\4.9.0.5627
VS Version: D15.9\28219.56
OS Version: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps
1. Create a C# Console Application (.NET Core) project via VS.
2. Install a few ‘PackageReference’ packages into the project.
3. Set MSBuild property “RestorePackagesWithLockFile” to true in csproj file.
4.

[2018-10-23 11:09] v-luzh commented on #7427
The "packages.lock.json" file updated correctly. Only the error is not expected.

[2018-10-23 11:13] ttamaranazc commented on #6328
I have cleared the nuget cache. After that I ran dotnet restore.

I received below error:

C:\Program Files\dotnet\sdk\2.1.403\NuGet.targets(114,5): error : Access to the path 'System.Diagnostics.DiagnosticSource.dll' is denied. [E:\XXXX\My project.sln]

Looks like clearing nuget cache causing issue.
Please guide.

[2018-10-23 12:56] ttamaranazc commented on #6328
Deleted mentioned file(s) and folder as mentioned in the [question ](https://developercommunity.visualstudio.com/content/problem/24316/nuget-access-is-denied-to-path.html) description.

`I've encountered similar issues with VS 2015 but was able to delete my AppData\Roaming\NuGet\NuGet.config or delete <my user profile path>.nuget\packages to fix it.`

[2018-10-23 13:15] Rajkumar-Uppala opened #7430 "Nuget 'PackageReference' not installing higher version of available packages"
We have started exploring the option of 'PackageReference' concept to our project.

Earlier we used 'Packages.config' to refer and install the required packages. which used to work fine.

Issue we are facing here with 'PackageReference':

Consider an example say i have a Custom Nuget Package with multiple versions in the repository
MyPackage.1.0.0.0
MyPackage.1.0.0.1
MyPackage.1.0.0.2
MyPackage.2.

[2018-10-23 15:33] bording commented on #7411
@Pilchie I've observed this in an sdk-style project. I'm not sure what happens in traditional projects.

[2018-10-23 15:41] nkolev92 commented on #7407
@ranjan-ranjan

Yes, I understand that, I just make sure I fully understood your request.

I'll wait for the @karann-msft and @anangaur to address my concern before we triage this further.

[2018-10-23 15:42] nkolev92 commented on #7425
Thanks for filing this issue.

This is a duplicate of https://github.com/NuGet/Home/issues/7268 and there's a WIP fix in https://github.com/NuGet/NuGet.Client/pull/2429

[2018-10-23 15:42] #7425 closed, assigned to nobody

[2018-10-23 15:46] Pilchie commented on #7411
@davkean - what controls whether the project system prefers attribute or eleement syntax?

[2018-10-23 15:48] nkolev92 commented on #7426
Thanks for filing this @AArnott

As analyzers were initially done without any work from NuGet team, this is a well known gap.

I consider this a duplicate of https://github.com/NuGet/Home/issues/6279.
I am closing this now in favor of that, please let me know if you disagree.

[2018-10-23 15:48] #7426 closed, assigned to nobody

[2018-10-23 15:57] bording commented on #7411
@jainaashish I'm not sure I'm following this. I can definitely add the `ExcludeAssets` syntax to the package reference myself to get the desired/expected results, so I don't understand why your VS tooling can't do the same thing.

[2018-10-23 16:01] AArnott commented on #6279
Is there a workaround for the problem we're seeing in #7426? Specifically, we want to suppress chaining in analyzers as a transitive dependency through our package.

[2018-10-23 16:05] AArnott commented on #6279
I just tried adding `ExcludeAssets="analyzers"` to my `PackageReference` and it _still_ didn't exclude the analyzers. Is there no way to turn off analyzers brought in by a transitive dependency?

[2018-10-23 16:21] jainaashish commented on #7411
@bording internally it always manage in terms of IncludeAssets even though you added an excludeAssets so when we write this PackageReference we only have IncludeAssets.

[2018-10-23 17:08] livarcocc opened #7431 "Feature: Merge dependencies from NuspecFile and csproj file"
_From @shatl on October 23, 2018 14:34_

Please add an ability to merge/override dependencies specified in  .nuspec file referenced in `NuspecFile`  with `ProjectReference` and `PackageReference` sections of csproj.

## Expected  behavior
When using `dotnet pack` to build nuget which references another project I need to override nuget version for it while letting dotnet pack use other dependency v

[2018-10-23 18:13] nkolev92 commented on #7430
Can you please clarify how are you trying to install it?
Repro steps?

Also by dotnet we emant the dotnet.exe, not the .NET Framework version you are using.

[2018-10-23 18:19] nkolev92 commented on #7431
@shatl

Can you please give more details for your scenario?
It's not clear what exactly you are tryign to achieve here.

Thanks.

[2018-10-23 18:26] nkolev92 commented on #7408
@johnpiliounis
Unfortunately that was a bad advice.

NuGet has nothing to do with that implementation.

As far as I'm aware, there's not even a package for this, it's part of the framework.
Even if there was a package, the NuGet team does not support individual packages and the owners should be contacted in that case.

Can you provide the link to the developer community issue?

[2018-10-23 18:30] nkolev92 commented on #7375
Closing per @rrelyea's comment.

[2018-10-23 18:30] #7375 closed, assigned to nobody

[2018-10-23 18:34] PatoBeltran commented on #7326
Closing as all issues have been resolved.

[2018-10-23 18:34] #7326 closed, assigned to PatoBeltran

[2018-10-23 18:39] joelmartinez commented on #4360
In case it's helpful for anyone else, I worked around this issue in the following way:

First, I run this restore command locally, so that I have all of my nuget dependencies in a common/known location:

    dotnet restore <path/to/.csproj> --packages packages

On Azure Devops, I added a `dotnet restore` task, and in the "Advanced" section, disabled the cache, and set the destination directory to

[2018-10-23 19:36] joshmouch commented on #6088
I'd like to use -Reinstall in order to automatically update the AssemblyBindings section of my app.config.

[2018-10-23 19:41] joshmouch opened #7432 "Get-Project –All | Add-BindingRedirect doesn't work when using PackageReference"
I'm trying to add the binding redirects into my app.config, so I'm running the following command:

`Get-Project –All | Add-BindingRedirect`
or
`Get-Project 'MyProjectName' | Add-BindingRedirect`
or
`Add-BindingRedirect 'MyProjectName'`

However, these do absolutely nothing.
I believe this is because I'm using PackageReference instead of Package.config.

[2018-10-23 19:43] joshmouch commented on #6611
I want to do a -Reinstall because I want it to update my assembly bindings like Nuget used to with package.config.

[2018-10-23 19:51] nkolev92 commented on #6088
@joshmouch
In PackageReference you cannot edit the content in the project directory.
You can only do that at build time and only in the output.

@MichelZ
That goes a step further than reinstall ever did.
In PackageReference the only copy on your machine of a package right now is in the global packages folder.

The global packages folder is shared among projects.
You cannot "comfortably" delete tha

[2018-10-23 20:57] pascalberger commented on #7292
@nkolev92 Sure I'll provide you a repro. I'm just a little a little bit swamped with work at the moment.

[2018-10-23 20:59] pascalberger commented on #7415
@nkolev92 You mean documentation in https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets additional to the environment variables documentation or instead of?

[2018-10-23 21:08] nkolev92 commented on #7415
At the bottom, this was a targets change.

See [this](https://github.com/NuGet/NuGet.Client/blob/26089e454276fa91276282687b84169131124846/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L46)

It's just that MSBuild can treat env vars as properties so you can change the behavior that way.

And maybe in addition to increase discoverability.

[2018-10-23 21:15] pascalberger commented on #7415
While the change was in the targets it also introduced a new environment variable which can be passed to nuget.exe. What's the purpose of the CLI environment documentation page if not documenting all possible environment variables which can be used for the CLI? Especially as this is a CLI specific environment variable, not something that is just passed through. Also it doesn't introduce a new targ

[2018-10-23 21:59] rainersigwald opened #7433 "Legacy project format doesn't respect conditions in Directory.Build.props and targets for PackageReference"
_From @Styxxy on October 23, 2018 21:0_

# Description
When having a Directory.Build.props and/or Directory.Build.targets file, where you include a `<PackageReference />` these files are also included (by MSBuild, also Visual Studio) for legacy based project files (non-sdk format project files). This is great, except that when you set a condition on the `<PackageReference />` or it's `<ItemGroup>`

[2018-10-23 21:59] rainersigwald commented on #7433
Can you clarify what you mean by "the package is still included in the project"?

[2018-10-23 21:59] rainersigwald commented on #7433
_From @Styxxy on October 23, 2018 21:19_

The package is still restored and _referenced_ in the (legacy) project. This doesn't happen for the SDK based project (= correct behaviour). In the sample repository, I referenced the FxCop analyzers, so they are executed on build (while I forced the condition to be **false**, the package shouldn't be referenced).

Screenshot from Visual Studio (to visuali

[2018-10-23 21:59] rainersigwald commented on #7433
I tried this:

[code]

And it appears to be working as expected _from the command line_ but still fails in VS.

I think this is related to NuGet's in-VS handling of the restore operation, so I'm going to move the issue to the NuGet repo.

[2018-10-23 22:13] Styxxy commented on #7433
@rainersigwald Thanks for moving.

Bigger problem is when the (legacy) project uses still packages.config, this behaviour causes the project to switch of restore method and thus breaking the packages.config references
-> This is not included in the sample repository (but I'll add it in a few hours).

[2018-10-23 22:18] johnpiliounis commented on #7408
Hello again Nikolche.
I eventually located the page @ social.msdn.microsoft.com forums where I
first interacted regarding the
issue. Please find attached the full chat's content at the page where
they advice me to address the issue
first at githubm/nuget.
John

On 23/Οκτ/2018 21:28, Nikolche Kolev wrote:

[2018-10-24 01:00] joshmouch commented on #6088
@nkolev92
By that, do you mean nuget is not capable of modifying app.config anymore?  I've spent the last three days getting package conflicts to resolve, and I don't feel like I'm any closer to getting these dependencies sorted out.  It feels like we're back in DLL hell.

[2018-10-24 04:10] nkolev92 commented on #6088
@joshmouch

In Package Reference NuGet does not deal with binding redirects.
They are automatically generated by the build.
See https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/how-to-enable-and-disable-automatic-binding-redirection.

For more references, please look at:
https://github.com/dotnet/announcements/issues/31
https://stackoverflow.com/questions/46111749/adding-a-bindingr

[2018-10-24 04:29] joshmouch commented on #6088
Unfortunately, the automatic binding is buggy and doesn't work on large projects.

[2018-10-24 04:29] Rajkumar-Uppala commented on #7430
Hi nkolev92,

We are trying to install the required packages using the NuGetPackageManager from the VS2017 with the settings Packagereference as default selection.

Please let me know if i can provide you any other details on this.

Thanks,
Rajkumar.

[2018-10-24 04:37] nkolev92 commented on #7430
Are you using the UI?
In the UI you select which exact version you want to install.

Can you give a step-by-step description of what you are doing, what your expectations are and what actually happens.

[2018-10-24 04:50] mwpowellhtx commented on #2762
:+1:  Gitter would be great!

I agree, I wouldn't expect "team" involvement, per se, but it would be nice to have. It's more for community, experts, collegial activity, that sort of thing.

Just as an aside, I just published a number of packages. Not huge packages, but enough of them. I will say this, performance seems to have improved dramatically, I'm not waiting the minutes and minutes I was be

[2018-10-24 04:52] Rajkumar-Uppala commented on #7430
I will try to document it, mean while can you please comment on below issue what we are facing very frequently

Different things are happening here very frequently, not sure what is the root cause.
I would like to bring this discussion in conjunction to current thread

We are facing an issue during installing a package using 'PackageReference' only and not with 'Packages.config', though the requir

[2018-10-24 04:55] dotMorten commented on #4980
FWIW I put this little console app in a scheduled task. It deletes any package not accessed the past 30 days:

[code]

[2018-10-24 04:57] jainaashish commented on #7427
was the `packages.lock.json` already exists when you ran `dotnet restore`? What was the content of before and after `packages.lock.json` file?

Most likely this seems to be related to this package `Microsoft.NETCore.App.2.1.0` being different in fallback folder vs global packages folder (from nuget.org)

[2018-10-24 04:58] jainaashish commented on #7428
does this only repros when you opt-in to lock file feature? or does it also repros when you don't preform steps 3 and 4?

[2018-10-24 05:00] jainaashish commented on #7429
is the error there in `obj\project.assets.json` file?

[2018-10-24 05:22] nkolev92 commented on #7430
Not sure what exactly your scenario is, but considering we haven't had any similar reports, I'd imagine it's as simple as you trying to install a package that doesn't exist in that feed as the error suggests.

[2018-10-24 05:27] Rajkumar-Uppala commented on #7430
It seems to be bit difficult to explain via documentation here for you to explain my issues.
can we take a meeting via ciscowebex? or something . so that it will be easy for us to understand the issues and go for further steps to resolve them.

Please advise

[2018-10-24 09:21] Rajkumar-Uppala commented on #7430
@nkolev92
For more information ,Please find the below log out of the action using PackageReference.
Please advise what else i can provide you on this.

Restoring packages for C:\WORK\practice\NugetPackageRefDemo\ConsoleApp1\ConsoleApp5\ConsoleApp5.csproj...
  GET http://<Server>/nuget/FindPackagesById()?id='MyPackage'&semVerLevel=2.0.0
  OK http://<Server>/nuget/FindPackagesById()?id='MyPackage'&s

[2018-10-24 09:41] v-luzh commented on #7428
It only repro after doing step5, not repro when I opt-in to lock file feature. It doesn't repro when skipping step 3 and 4.

[2018-10-24 09:44] v-nancyj commented on #7428
The issue not repro if create ‘custom.lock.json’ file through right click project name->'Add'->'New Item'->'JAON File'->change file name as ‘custom.lock.json’ in step 3.

[2018-10-24 09:51] Rajkumar-Uppala commented on #7430
@nkolev92
If i am trying to install the package using the Packages.config we have below log
I am trying to provide as much info i can.

Please let me know if i can provide you any other details on this.

Attempting to gather dependency information for package 'MyPackage.3.0.0.1' with respect to project 'ConsoleApp1', targeting '.NETFramework,Version=v4.5.2'
Gathering dependency information took 24

[2018-10-24 09:57] v-luzh commented on #7427
The packages.lock.json already exists before I ran “dotnet restore”.

The content of command prompt before doing step3:
C:\Users\v-luzh\source\repos\ConsoleApp2\ConsoleApp2>dotnet restore
  Restoring packages for C:\Users\v-luzh\source\repos\ConsoleApp2\ConsoleApp2\ConsoleApp2.csproj...
  Generating MSBuild file C:\Users\v-luzh\source\repos\ConsoleApp2\ConsoleApp2\obj\ConsoleApp2.csproj.nuget.g.pr

[2018-10-24 10:07] v-luzh commented on #7429
This error is not in obj\project.assets.json file.

[2018-10-24 10:27] GanesanRengasamy opened #7434 "Error downloading 'Syncfusion.EJ2.MVC5.16.2.0.50' from 'https://api.nuget.org/v3-flatcontainer/syncfusion.ej2.mvc5/16.2.0.50/syncfusion.ej2.mvc5.16.2.0.50.nupkg'."
Hi All,

I have faced the below issue when trying to install the NuGet packages in the MVC application. Can anyone please suggest me the solution on this.

![image](https://user-images.githubusercontent.com/16695209/47424645-bcaf9780-d7a5-11e8-9bf4-9c07fd83bb9c.png)

Note: Issue has been reproduced in the Visual Studio 2017 (15.8.1) and the issue is not reproduced in the Visual Studio 2017(15.7.3)

[2018-10-24 11:59] Rajkumar-Uppala commented on #7430
Please advise me if i need to update any nuget versions on my machine

[2018-10-24 13:33] fabioimpe commented on #6902
I'm trying to restore packages from a private tfs feed (hosted on premise) and with the 2.1.403 I'm not having success... any clue?

[2018-10-24 13:37] fabioimpe commented on #6902
I'm trying to restore packages from a private tfs feed (hosted on premise) using the version 2.1.403 without success... using the 2.2 I can successfully restore, but it is still a preview and I am not confident to use it in a production environment... any clue?

[2018-10-24 15:04] nwoolls commented on #6625
@joelverhagen Thanks! Upgrading to 3.1.2 did the trick. The parm is now in the next-page URL and the .NET Core CLI tooling is working.

[2018-10-24 15:18] ruimsft commented on #3891
We still didn't make this happen? It's not a good practise to make each dll as a package - we definitely need to hide some internal projects.

[2018-10-24 15:24] #6625 closed, assigned to joelverhagen

[2018-10-24 16:14] heaths opened #7435 "VS instance directory is configurable; configure.ps1 does not support this"
I see in https://github.com/NuGet/NuGet.Client/blob/3803820961f4d61c06d07b179dab1d0439ec0d91/configure.ps1#L95 that you hardcoded the default location for the VS package cache, but this location can be relocated by users (and many do): https://docs.microsoft.com/visualstudio/install/disable-or-move-the-package-cache.

But rather than handling the registry lookup yourself, we recommend you use the

[2018-10-24 17:32] #7329 closed, assigned to nobody

[2018-10-24 17:42] kylef000 commented on #7216
Tangentially related to this issue, but I ran into a similar issue where I migrated a solution using a project.json and .xproj file to VS2017 and had the same error messages. @thinkOfaNumber's solution worked for me.

[2018-10-24 17:58] mikeharder commented on #7341
@joshfree: Did this error occur on a DevOps Pipelines `ubuntu-16.04` hosted agent?  Because our build just hit this same error on that agent type:

[code]

The agent should be using .NET Core SDK 2.1.403:

https://github.com/Microsoft/azure-pipelines-image-generation/blob/master/images/linux/Ubuntu1604-README.md

[2018-10-24 18:05] kulov commented on #5895
@Hviid, the only problem so far I found was that $(Configuration) is not populated for the Choose/When clause when running Visual Studio Build step in Azure DevOps.
I am upgrading my VS to newest updates all the time so it should be working across all versions of VS15.

[2018-10-24 18:19] natemcmaster commented on #6398
Ran into this again. Breaking changes between 4.7.0 and 4.9.0-preview3.5473 were made on constructors on `PackageSignatureVerifier` and `PackageExtractionContext`.

[2018-10-24 18:32] PatoBeltran commented on #6398
Hey @natemcmaster, we since then updated the `PackageExtractorContext` and you also won't need to create your own `PackageSignatureVerifier` anymore. This changes will be released in 4.9.0-preview5 so I would advice to wait a couple of days for this change to update versions

[2018-10-24 18:39] natemcmaster commented on #6398
I had to merge changes to aspnet's buildtools with 4.9-preview3 so we could unblock other 3.0 work. When you get around to inserting preview5 into the .NET Core 3.0 SDK, I'll react accordingly. Thanks for the heads up.

[2018-10-24 19:47] spy008 opened #7436 "NuGet.exe pack fails on wildcard with x64"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 4.6.0

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): Visual Studio Professional 2015

OS version (i.e. win10 v1607 (14393.321)): Windows Server 2012 R2

Worked before? If so, with which NuGet version: N/A

## Detailed repro steps

[2018-10-24 20:11] joshfree commented on #7341
I'm not sure the details on the infra -- @mattgal should know

[2018-10-24 20:13] MattGal commented on #7341
Speak of the me and I shall appear.  Looking.

[2018-10-24 20:17] MattGal commented on #7341
@mikeharder to answer your question, this specific job runs on a Jenkins agent whose VHD was made by @mmitche a bit over a year ago: (ubuntu1604-20170925-1) .   I'm looking at the errors too to see if I can provide more useful data.

[2018-10-24 20:22] MattGal commented on #7341
@joshfree I can't find any other failures on this build def that both still have their logs available and have this problem.  However, one possible cause if we ever get onto such a machine is that tmp can be over-filled on Linux and OSX machines, making further file operations within the /tmp folder fail.  It seems very unlikely for the hosted agents though since they are reset every build.

[2018-10-24 20:46] mikeharder commented on #7341
@MattGal: Thanks.  It seems more likely this is a general issue with NuGet on Linux, rather than specific to one type of agent.

[2018-10-24 20:50] MattGal commented on #7341
@mikeharder I agree and your data definitely makes it seem that way, I was just listing an issue with tmp folders I'd seen.

[2018-10-24 22:24] dtivel commented on #7321
I believe https://github.com/NuGet/Home/issues/7314 fixes this.

[2018-10-24 22:42] nkolev92 commented on #6902
@fabioimpe
https://github.com/NuGet/Home/issues/7223 maybe?

[2018-10-24 22:44] nkolev92 commented on #6902
I'm going to close this issue now as fixed, as I believe the credential provider and all the work we have done around has addressed the individual issues.

If you are still facing problems, please upgrade to the latest and greatest nuget.exe/dotnet.exe/VS (even previews) and artifacts provider.

If you still have problems then, please raise another issue clearly explaining your scenario.

Thanks!

[2018-10-24 22:44] #6902 closed, assigned to nobody

[2018-10-24 22:51] nkolev92 commented on #7430
The packages.config logs seem to be doing a lot more than just that simple package.
Furthermore I don't see the logs of that package being downloaded in the packages.config case.

Make sure you are using the exact same sources for that.

I see that you are using a private server, what's the host there? It could be a server side issue as well.

[2018-10-24 22:58] rrelyea commented on #7436
in my test, that will work if you use:
`   <file src="bin\*\*\*" exclude="**\*.pdb;**\*vshost*" target="Contents\bin" />
`

[2018-10-24 23:01] #7436 closed, assigned to nobody

[2018-10-24 23:25] terrajobst commented on #4980
If you're lazy like me, you might want to use @dotMorten's code through this `dotnet` global tool: https://github.com/terrajobst/dotnet-nuget-gc

[2018-10-25 04:33] Rajkumar-Uppala commented on #7430
Thanks @nkolev92  for your response.
If you can guide me how to get the logs/required information/settings , i can work on them and provide you enough details on this. so that we can work together and get this issue resolved.

[2018-10-25 04:39] Delpire commented on #5894
I am also having this issue.

For me, it looks like $(MSBuildProjectName) is being set to the random string that is being generated for the temporary file.

We have props files that are code generated using things like this:
[code]
Then, when I try to build, this is the error I am getting:
[code]

So for some reason its setting $(MSBuildProjectName) to jr0jnttk

[2018-10-25 05:59] GanesanRengasamy commented on #7434
Hi,

Could you please anyone help me on this?

Thanks,
Ganesan R.

[2018-10-25 07:55] fabioimpe commented on #6902
Excuse me, but why should I open another issue to report the same error as the above one?
The comunicate says that the issue is resolved starting from version 2.1.400, well, using the 2.1.403 the issue is still there, even with the same exact error message. Using the 2.2.100-preview3, with the same Dockerfile everything works as expected, so I should suppose that the issue is not an "individual is

[2018-10-25 08:20] phillip-haydon commented on #6902
Really need to stop automatically adding sources to the global source list. It’s so frustrating and causes so many problems. Even in the preview I still have issues.

[2018-10-25 08:58] mpreyskurantov opened #7437 "nuget does not read AssemblyInfo attributes from UWP Class Library under certain targets"
## Details about Problem

NuGet version (4.8.1.5435):
dotnet.exe --version (2.1.402):
VS version (15.8.4):
OS version (10.0.17134 N/A Build 17134):

## Detailed repro steps

Create a new "Windows Universal -> Class Library (Universal Windows)" project;
Choose the "Windows 10 Fall Creators Update (10.0; Build 16299)" values for "Target version" and "Minimum version";

ClassLibrary1.csproj:

[code]

[2018-10-25 09:12] ffMathy commented on #6873
I agree with @alexmullans in regards to that it should default to `README.md`, since that is what NPM does and what people would expect. It is also what GitHub looks for per default - even TFS!

The point @mungojam is making could also be applied to the opposite scenario. Why can't they just opt out of the "README.md" and explicitly specify "Documentation.md"?

[2018-10-25 09:19] Liversage commented on #4980
A bit tangential to this issue but I would like to make a comment on the placement of the NuGet cache on the file system.

The cache is inside the `~/.nuget` folder and the developers making this decision must have been using a Unix-like operating system to pick this name. However, I would like to direct your attention to another operating system popular among .NET developers: Microsoft Windows. 😉

[2018-10-25 09:38] praveenvarmaN commented on #5358
My docker file isn't supporting the dotnet restore command and is throwing me an error as -
![image](https://user-images.githubusercontent.com/12827970/47491083-b71a8600-d867-11e8-9149-7d777ba468e8.png)

My Dockerfile:

[2018-10-25 09:39] praveenvarmaN commented on #5358
Dotnet restore command failed when i tried to build the dotnetcore app using below docker file. Can someone provide your thoughts on this?

-> I am using Ubuntu image 16.04 running in my VM.
-> My sample docker image:
FROM microsoft/dotnet:2.0-sdk
COPY . /app
WORKDIR /app
RUN mkdir /app/logs
RUN chmod -R a+rwx /app/logs

RUN dotnet restore
RUN ["dotnet", "build"]

EXPOSE 5000/tcp
ENV ASPNETCORE_UR

[2018-10-25 10:21] dynamictulip commented on #3608
I also hit this issue today

[2018-10-25 15:59] olivier-spinelli opened #7438 "Improve DOTNET_HOST_PATH environment variable handling"
## Details about Problem

While using NuGet.Core v.4.8.0.6, with the Microsoft/artifacts-credprovider (no client, direct code from a console app), in netcoreapp2.1, runned in AppVeyor. Got:

This is fixed with this environment variable (and the explanation is in the comment):
[code]

HTH

[2018-10-25 16:13] spy008 commented on #7436
@rrelyea Thanks! That worked for me.

[2018-10-25 17:01] infin8x commented on #6902
@phillip-haydon can you elaborate? What process is adding sources to your global source list?

[2018-10-25 17:58] jainaashish commented on #7433
This is legacy project system issue since NuGet relies on `VSProject4` implementation to provide list of package references and they're the ones who should skip these references based on conditional evaluation. So moved to https://github.com/dotnet/project-system/issues/4175

[2018-10-25 17:58] #7433 closed, assigned to nobody

[2018-10-25 17:58] rrelyea commented on #7437
Did this ever work? Which version of NuGet did this work in?

[2018-10-25 20:48] PatoBeltran commented on #6942
Closing this as it doesn't seem like a clear path to go to. We don't know if once we add more validations `-All` will be a valid scenario that makes sense. Therefore it doesn't seem reasonable to add this as a default now.

[2018-10-25 20:48] #6942 closed, assigned to PatoBeltran

[2018-10-25 21:44] terrajobst commented on #4980
Totally agree. `%LocalAppData%\NuGet` would be the correct location IMHO.

Agree as well.

[2018-10-25 21:50] nkolev92 commented on #7423
[ClassLibrary53.zip](https://github.com/NuGet/Home/files/2516903/ClassLibrary53.zip)

Updating the repro.

[2018-10-25 22:48] anangaur commented on #4980
@Liversage  `%LocalAppData%\NuGet` aka `%USERPROFILE%\AppData\Local\NuGet` seems like the right location. We already use this location used for some caching purposes.

[2018-10-25 23:55] anangaur opened #7439 "Deprecate <requireLicenseAcceptance> from nuspec and VS"
@anangaur commented on [Thu Oct 25 2018](https://github.com/NuGet/NuGetGallery/issues/6598)

This field adds little value and should be deprecated.

[2018-10-25 23:57] anangaur commented on #7407
I am exploring getting rid of the pop up message altogether: https://github.com/NuGet/Home/issues/7439

[2018-10-25 23:59] anangaur commented on #7412
Soon 😄

[2018-10-26 00:02] terrajobst commented on #7412
13th of soon is my favorite ship date :-). Seriously, is this something you consider for an upcoming release? Is there a spec somewhere?

[2018-10-26 04:29] nkolev92 commented on #7407
@anangaur
Should we close this issue then? Or leave it open?

[2018-10-26 05:12] nkolev92 commented on #7439
@anangaur Can you please add the priority on this.

[2018-10-26 05:39] nkolev92 commented on #6902
@fabioimpe
Frequently the comments in an issue stray away from the original problem statement and makes it difficult to keep things in check/track fixes etc.
It's complicated for both the maintainers and the customers.
The original issue talked about lack of support, which has since been addressed.

As far as your specific issue is concerned, does #7223 help at all?
Can you try setting the culture

[2018-10-26 09:11] mpreyskurantov commented on #7437
We have tested this scenario with nuget.exe v3.4.4 - v4.8.1, but neither of them works. However, this works with nuget.exe v4.7.1 for all other .NET (including .NET Standard, Xamarin, etc.) project types.

It seems that this issue is only actual for a UWP Class Library under the specified "Windows 10 Fall Creators Update (10.0; Build 16299)" target:

Target version: Windows 10 Fall Creators Update

[2018-10-26 11:28] vadivel1234 commented on #7434
Hi All,

This issue occurred in VS2017 15.8.4 ( Microsoft .NET Framework Version 4.7.03056). Please check the below screenshot for reference.

![image](https://user-images.githubusercontent.com/22815686/47563685-3a0f0f80-d940-11e8-8283-5f9d81dc5ecd.png)

[2018-10-26 12:06] GSPP opened #7440 "A package referencing just NETStandard causes invalid binding redirects on .NET 4.7.2 in a web application"
There seems to be an issue that adds bad binding redirects to web.config. I originally opened two issues about this with dotnet/standard:

* ["Could not load System.Runtime.dll" because it was not copied to the output folder #887](https://github.com/dotnet/standard/issues/887)
* [A package referencing just NETStandard causes invalid binding redirects on .NET 4.7.2 in a web application #941](https:

[2018-10-26 16:49] moh-hassan opened #7441 "In Unit Test of netcoreapp2.0 project, Json dependendency file haven't entries for external packages and cause Test Fail"
Environment:  Vs 2017.8.7 including nuget 4.6.0

I have two Nunit test projects, Project1.Test and Project2.Test

Both project1 and project2 are multi-target project (net45,netcoreapp2.0)
for net45 test pass successfully in both project1 and project2

In netcoreapp2.0 test success in Project1.Test and Failed in Project2.Test

Project2.Test failed and raise an exception:

After more investigation,

[2018-10-26 17:36] nkolev92 opened #7442 "Add SolutionFileName support in the restore"
Per the report of @mfilippov

If I have project:
ConsoleApp1.csproj in solution ConsoleApp1.sln
[code]
with sdk in imports: ConsoleApp1.sln.Targets
[code]
Restore would fail because SolutionFileName not passed into child MSBuild call in target: _FilterRestoreGraphProjectInputItems

@nkolev92 notes:

For the sake of completeness, it maybe helpful to include SolutionExt and even SolutionPath

[2018-10-26 18:25] mfilippov opened #7443 "Live lock when incorrect binding redirect."
I found this bug when migrating to SDK project in our internal solution. If you have an incorrect binding for assembly System.Security.Cryptography.Algorithms.dll NuGet couldn't load it to calculate a hash for locking. FileLoadException inherit from this line https://github.com/NuGet/NuGet.Client/blob/1558c969d578c1c9eb57b140276f6e4986787b28/src/NuGet.Core/NuGet.Common/ConcurrencyUtilities.cs#L150

[2018-10-26 18:26] mfilippov commented on #7443
PR with fix: https://github.com/NuGet/NuGet.Client/pull/2457

[2018-10-26 19:18] nkolev92 opened #7444 "NuGet License File UI work"
Related to #4628.

Building on top of https://github.com/NuGet/Home/wiki/Packaging-License-within-the-nupkg

Add the ability to display license file from local feeds in VS.

[2018-10-26 19:23] PatoBeltran opened #7445 "Warnings elevated to errors (via WarnAsErrors) raised by PackageExtraction should never leave extracted package around"
As part of https://github.com/NuGet/NuGet.Client/pull/2428, there are some scenarios where `PackageExtractionContext` uses a different log than the `RestoreCollectorLogger`.

This makes it so that the extraction (and therefore signing) code paths ignores some features implemented by the `RestoreCollectorLogger` such as WarnAsErrors.

[2018-10-26 20:32] anangaur commented on #7412
@terrajobst We do plan to implement deprecate packages feature and will be scheduled by end of this quarter. I have an initial spec [here ](https://github.com/NuGet/Home/wiki/Deprecate-packages) that needs some revision that I intend to do in next couple of weeks.

[2018-10-27 14:13] dotMorten commented on #2867
Will I be able to update the deprecation description? A package might be deprecated because it's out of support so it will tell you to minimum use version X. At some point version X also goes out of support so need to be able to go change it to version Y etc.

[2018-10-28 14:50] xen2 commented on #1660
+1
It would help our use case quite a lot too: `Xenko.Graphics` uses `OpenTK` on Linux, `SharpDX` on Windows, etc...

[2018-10-28 22:31] anangaur commented on #2867
I think this should all be automatic. I am in the process of updating the spec in this respect.

[2018-10-29 04:47] davkean opened #7446 "Assets file is missing compile assets when generated within Visual Studio vs command-line causing build errors"
## Details about Problem

Visual Studio: Version 16.0.0 Preview 1.0 [28227.50.d16.0]
Dotnet: 3.0.100-alpha1-009667

## Detailed repro steps so we can see the same problem

Given this project:
[code]

1. From command-line `dotnet restore ConsoleApp.csproj`
2. Rename project.assets.json to project.assets.json.commandline
3. Open project in VS and let it restore
4. Compare the two assets file

Comman

[2018-10-29 06:13] garfbradaz commented on #5127
This happened to me and the following fixed it from @poulad :

`dotnet --info`:

.NET Core SDK (reflecting any global.json):
 Version:   2.1.403
 Commit:    04e15494b6

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17763
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.403\

Host (useful for support):
  Version: 2.1.5
  Commit:  290303f510

[2018-10-29 12:40] robsonj commented on #7060
We see this same error under the same circumstances with TeamCity

[2018-10-29 15:17] Zapnologica commented on #5805
Also experiencing very slow nuget updates.

[2018-10-29 16:13] DanJ210 commented on #7310
So one project you can update via NuGet package by going to the Solution Explorer > Mange NuGet Packages > Update Package, no problem. The other project does not allow this and says that I must update the SDK installed which is by downloading and installing the SDK, this is the one that says implicitly referenced by SDK.

Why is one project controlled by the installed SDK and the other project is

[2018-10-29 17:41] jainaashish commented on #7310
`So one project you can update via NuGet package by going to the Solution Explorer > Mange NuGet Packages > Update Package, no problem.`

How did you create this project? can you look into `obj/project.assets.json` file and confirm `Microsoft.AspNetCore.App` has `AutoReference` set to true at the end?

Your other project is behaving correctly, this package is always controlled by installed SDK, an

[2018-10-29 19:12] jainaashish commented on #7424
PR merged to release-4.9.0-preview5 as well as dev

[2018-10-29 19:12] #7424 closed, assigned to jainaashish

[2018-10-29 20:02] nkolev92 opened #7447 "Add proper handling of UNLICENSED"
As part of https://github.com/NuGet/NuGet.Client/pull/2424, the license expression parsing was implemented.

But the NuGet license expression grammar also calls for the implementation of UNLICENSED.

[code]

[2018-10-30 04:52] jainaashish commented on #7446
This happens because of PR# https://github.com/NuGet/NuGet.Client/pull/2466 which tried to fix it for packages with `developmentDependency` but regressed it for already installed packages as well.

Correct fix is in PR# https://github.com/NuGet/NuGet.Client/pull/2494

[2018-10-30 06:33] #7447 closed, assigned to nkolev92

[2018-10-30 06:54] nkolev92 commented on #7438
I don't think the work around is a good idea.
The plugins have been to be executed by the exact same version of dotnet as the host process.

I'm curious why DOTNET_HOST_PATH is not set however.
Can you provide a repro? I did a quick test myself and I didn't see any problems.

[2018-10-30 08:20] olivier-spinelli commented on #7438
Hi,

To reproduce, launching a build on AppVeyor is enough (it’s where I hit the issue).
After having seen the code, I imagined this “work around” (that is more a safety belt up to me 😊) .
This morning I took the time to google it and bingo:
http://source.roslyn.io/#Microsoft.Build.Tasks.CodeAnalysis/BuildServerConnection.cs,384

It’s here also…

[2018-10-30 08:56] chrfin commented on #3891
We where facing the same problem here and so I put together a build-script which a lot of stuff I collected from all of the workarounds for this or related problems. Combined with some of our own juice I created a package which if included creates packages similar to the "old -IncludeReferencedProjects" flag of NuGet.exe. It works fine in our internal project-/build-environment and I would like to

[2018-10-30 09:07] shaan1337 commented on #7341
@MattGal @joshfree @mikeharder Hello, we can see the same issue on `macOS 10.13` hosted agent  on our Azure DevOps pipeline (please check the failing mac builds):
https://dev.azure.com/EventStoreOSS/EventStore/_build/results?buildId=172&view=logs
https://dev.azure.com/EventStoreOSS/EventStore/_build/results?buildId=178&view=logs

I've seen it occur only on the macOS agent so far.

[2018-10-30 09:11] yaparlahari opened #7448 "Nuget Pack command failed."
Hi Team,

We are facing below issue while we are building .net application in Jenkins Job.

[ERROR] Could not find a part of the path 'E:\jws\CMS\NLG_88\Setup\Release'.
[ERROR] Pack command failed.
[ERROR] Package deploy failed.

[2018-10-30 09:55] simonech opened #7449 "Contents files not part of a project are not replaced"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS UI

NuGet version (x.x.x.xxx):
no idea, the one that is part of latest VS 2017

VS version (if appropriate): 15.8.8

OS version (i.e. win10 v1607 (14393.321)): win10  v1703 (15063.1387)

Worked before? If so, with which NuGet version:
Never worked

Not sure it's a bug or if it's the intended

[2018-10-30 12:03] Joev- commented on #7098
I figured in the end that the nuget package root is going to be the same for all projects using V3 of the protocol, so it can be retrieved from any of the *.nuget.g.props files in the newer projects. Using this I can access the same xUnit MSBuild runner DLL regardless of where it is installed.

[2018-10-30 15:38] theCorb1nator opened #7450 "Projects show missing reference errors for transient references after migration to Package Reference"
Hi,

I have just migrated all my projects from packages.config to Package Reference using the VS tool,

After migration my projects are throwing errors of missing transient references,

I have checked the .csproj file and the reference to the parent project shows fine

The reference structure is
Parent: Devexpress.Win
Transient:-
      Devexpress.Data - Missing
      Devexpress.Utils - Missing

[2018-10-30 17:09] theCorb1nator commented on #7450
on further investigation it looks as if the "projects.assets.json" file is deleted on build of the project

[2018-10-30 17:29] nkolev92 commented on #7438
I get that the workaround might have been used in other place, but for this scenario, it's super important that the CLI is exactly the same.

This variable should normally always be set.

/cc @nguerrera @livarcocc

Is there a CLI version in which the DOTNET_HOST_PATH is not set?
What was the last version that did not set it?

[2018-10-30 17:45] nguerrera commented on #7438
Any .NET Core SDK 2.0.* or lower would not set it. We started setting it in 2.1.*.

That doesn't appear to be the issue here, because the issues says netcoreapp2.1 and no SDK that would support that would not set it.

Rather, I think it is this: "(no client, direct code from a console app),"

DOTNET_HOST_PATH is currently set by the CLI when shelling out to msbuild, it is not set for all child pro

[2018-10-30 18:26] jainaashish commented on #7446
PR# 2494 merged into 4.9.0-preview5 as well as dev branch

[2018-10-30 18:26] #7446 closed, assigned to jainaashish

[2018-10-30 18:35] nkolev92 commented on #7448
@yaparlahari

Which version of nuget.exe are you using?
Repro project?
Are you able to reproduce this locally?

[2018-10-30 20:09] maxinfet opened #7451 "How would I get a list of packages to allow the user to pick from using only Nuget.VisualStudio?"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Nuget.VisualStudio

NuGet version (x.x.x.xxx):  4.7.1.5393

VS version (if appropriate): Visual Studio 2017

OS version (i.e. win10 v1607 (14393.321)): win10 v1803 (17134.228)

I am migrating a internal vsix that was developed against Visual Studio 2013 to work with Visual Studio 2017 and to wo

[2018-10-30 20:13] mikesingleton commented on #5832
I also ran into this issue when attempting to create a NuGet package for a netstandard project using `nuget pack`.

In my case, I needed to rebuild an existing netstandard project to support .NET Framework 4.5.2 and could not use msbuild.

The solution for me was to create a new .NET Framework project targeting 4.5.2 and copy everything over from the pre-existing project and fix the build errors.

[2018-10-30 21:12] nkolev92 opened #7452 "LicenseAcceptanceWindow and LicenseFileWindow Accessibility issues"
from @PatoBeltran  in https://github.com/NuGet/NuGet.Client/pull/2495#issuecomment-434468385
- The accessibility for both the license window and the expanded license acceptance window seems to be broken, I suggest doing the following:
  - [x] Fix any issues that appear in Keros for these windows
  - [x] Make sure you can use narrator to navigate the UI three in both windows and get everything read

[2018-10-30 23:10] loic-sharma opened #7453 "nuget.exe pack ignores SDK project's properties"
If I `nuget.exe pack .\symbols.csproj` the following csproj:

[code]

The generated package will have the id `symbols` even though the specified package id is `Loshar.Symbols`. Packing this using `dotnet pack` works as expected.

/cc @cristinamanum @shishirx34

[2018-10-30 23:15] loic-sharma opened #7454 "nuget.exe pack with symbols included has repetitive output"
Say you have the following csproj:

[code]

If you run `nuget.exe pack .\symbols.csproj -Symbols -SymbolPackageFormat snupkg` I get the following output:

[code]

This output is very repetitive and could be improved. The dotnet CLI output is much better:

[code]

/cc @cristinamanum @shishirx34

[2018-10-30 23:44] C00kiie commented on #4777
I am currently facing the same given issue. I am using standard build in MS Visual studio with no extra params.

[2018-10-31 08:58] v-luzh commented on #7429
No error show when restoring through command "dotnet restore" on D16.0 28230.56 + NuGet Client Dev 5.0.0.5638.

[2018-10-31 09:17] v-luzh commented on #7427
Fixed on both D15.9\28230.53+NuGet Client Release-4.9.0-preview5\4.9.0.5640 and D16.0\28230.56 + NuGet Client Dev\5.0.0.5638.

[2018-10-31 10:43] theCorb1nator commented on #7450
Found this issue, not related to nuget, someone had placed code in the project file to clear the bin/obj folders pre-build

[code]

issue can be ignored

[2018-10-31 10:43] #7450 closed, assigned to nobody

[2018-10-31 10:59] Misiu commented on #6440
@karann-msft any news about this feature? It would be awesome to finally be able to share controls via NuGet (and have them in Toolbox).

[2018-10-31 11:01] Misiu commented on #3509
@jainaashish any news about WinForms support?

[2018-10-31 11:21] avinashpatil3484 opened #7455 "Can't install packages in VS 2015 with nuget version 3.6.0-rtm-2511"
For 'Entity Framework' I have updated my NuGet to latest version i.e. '3.6.0-rtm-2511'.
After successful installation I have restarted the Visual Studio and tried installing 'Microsoft.EntityFrameworkCore' package from NuGet Package Manager and got below error:

Error	:	The 'Microsoft.EntityFrameworkCore 2.1.4' package requires NuGet client version '3.6.0' or above, but the current NuGet version i

[2018-10-31 13:30] StingyJack commented on #7180
Related issues...

https://github.com/NuGet/Home/issues/1527
https://github.com/NuGet/Home/issues/6018
https://github.com/NuGet/Home/issues/6465

[2018-10-31 13:34] StingyJack commented on #7449
As I understand it, you have "touched" those files in some way so NuGet leaves them alone.

You may be able to work around this by including the files, then editing the csproj and adding another node at the end (or at least after these package content files) to ignore these.

[2018-10-31 13:36] StingyJack commented on #7449
Also, if you are ignoring these files from the project, they wont be published. If the goal is to not publish them with the rest of the app, a CI/release build or packaging step could remove them as well.

[2018-10-31 14:18] olivier-spinelli commented on #7438
I can confirm. By using the NuGet.Protocol packages directly from a console app runned by a "dotnet run" in NetCoreApp2.1, the "safety belt" is kind of required...

[2018-10-31 14:39] roybrew commented on #4989
Does anyone know when this will actually be fixed?  Seems like you can have aliases on ProjectReferences but not PackageReferences.

[2018-10-31 14:57] simonech commented on #7449
I didn't "touch" those files... they exactly as they were copied from the original NuGet package install.
They are not in the project file, but a post-build task takes everything that is in that `App_Plugins` folder anyway.

[2018-10-31 16:49] dtivel opened #7456 "Restore: sometimes reports file locked errors and suspiciously false no-op restore"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):  VS UI

NuGet version (x.x.x.xxx):  4.9.0.5630

VS version (if appropriate):  15.9.0 Preview 5.0 [28230.50.d15.9]

OS version (i.e. win10 v1607 (14393.321)):  Microsoft Windows [Version 10.0.17763.55]

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the sa

[2018-10-31 17:08] jainaashish commented on #3509
@anangaur @karann-msft can you help answer this?

[2018-10-31 17:09] jainaashish commented on #3509
@Misiu can you please follow on https://github.com/NuGet/Home/issues/6440 which is the current issue targeting this winforms support ask?

[2018-10-31 17:32] debonte commented on #3509
@mgoertz-msft, can you answer this?

[2018-10-31 17:51] #7445 closed, assigned to PatoBeltran

[2018-10-31 17:52] #7423 closed, assigned to nobody

[2018-10-31 17:59] awbushnell opened #7457 ".props and .targets file imports not honored during initial restore?"
## Details about Problem

NuGet version (x.x.x.xxx): Package Manager Console Host Version 4.8.1.5435

VS version (if appropriate): Visual Studio 2017  15.8.8

OS version (i.e. win10 v1607 (14393.321)): Microsoft Windows [Version 10.0.17134.254]

## Detailed repro steps so we can see the same problem

We are trying to consume a package via the PackageReference mechnism that as part of it the packag

[2018-10-31 18:04] nkolev92 opened #7458 "Replace license deprecation link with a better one."
When packing license expressions, instead of a generic aka.ms/deprecateLicenseUrl link, we can generate a link to our LNO service.

//cc @agr @karann-msft

[2018-10-31 18:29] StingyJack commented on #7449
Depending on the csproj style this either removes a node in the csproj for the item or adds a remove or exclude node (SDK style format).  The "file" from the project's point of view is not only the file itself, but how it relates to the project (compile, content, etc). The "touch" has happened from that project's POV when you excluded it. This is the POV that nuget utilizes, hence its leaving the

[2018-10-31 18:33] #7444 closed, assigned to nkolev92

[2018-10-31 20:00] mgoertz-msft commented on #6440
We did add support for WinForms in 15.8 (and fixed a few bugs in 15.9). However, it does not use the manifest but does it the traditional WinForms way showing all IComponent derived controls and using attributes to control the behavior:

**Hide Controls**
[ToolboxItem(false)]
[DesigntimeVisible(false)]

**Category Name**
[assembly: AssemblyProduct("My Controls")]

**Tooltip Description**
[Descript

[2018-10-31 21:03] mgoertz-msft commented on #3509
I provided an answer in #6440

[2018-10-31 22:50] zivkan commented on #7449
If the goal is just to hide the files in Solution Explorer, instead of removing the files from the itemgroup in the csproj, you can try setting the InProject property to false, as described in this blog post: https://blogs.msdn.microsoft.com/jomo_fisher/2005/01/25/hack-the-build-hide-items-from-visual-studio-solution-explorer/

[2018-10-31 23:22] zivkan commented on #7449
You can also try the Visible="false" property: https://stackoverflow.com/questions/45613251/hide-files-in-csproj-without-excluding-them-from-build

[2018-11-01 01:31] nkolev92 commented on #7406
We discussed this offline.

This doesn't seem something that would be a 4.9 blocker imo, as @agr already uses a custom parsing mechanism.

Furthermore there are no "functional" issues with the current implementation, and there would not be a problem if the gallery depended on a 5.0 version of the client libraries.

I am moving this to 5.0.

[2018-11-01 01:36] nkolev92 commented on #7457
@awbushnell Do you have a repro project for us?
Clear repro step (example, load sln in VS, run build/rebuild/restore, whatever).
There's a lot of moving parts in your scenario.

Are you building in Visual Studio?

If you are using an old style csproj based project, then the project-system **never** reloads the props/targets in a session. That's a limitation of the project-system.

But this is all

[2018-11-01 02:02] rohit21agrawal commented on #7453
nuget.exe pack isn't supposed to work with sdk style projects.

[2018-11-01 04:01] karann-msft commented on #4628
@tthiery there will be an explicit property - https://github.com/NuGet/Home/wiki/Packaging-License-within-the-nupkg#project-properties

[2018-11-01 04:26] Leon99 commented on #7189
This behavior is really annoying, I'm surprised it's not getting enough attention.

[2018-11-01 04:37] karann-msft commented on #4628
Technical spec is now available - https://github.com/NuGet/Home/wiki/Packaging-License-within-the-nupkg-(Technical-Spec)

[2018-11-01 06:39] tthiery commented on #4628
Awesome. Just a warning: There is a spdx license name called `Unlicense` which is a real license. A keyword `Unlicensed` is very close to that.

[2018-11-01 07:18] iamalexmang commented on #3891
I'm highly disappointed that this is by design.

[2018-11-01 12:03] praveenvarmaN commented on #5358
Hi Team,

Found the error - Unable to load the service index for source https://api.nuget.org/v3/index.json. [/app/mvcapp.csproj]

I am using the below dockerfile to build the sample dotnetcore application which uses dotnetcore ver 2.1.403 as runtime version. Can someone help me on how to resolve this error wothout usng thenetwork proxy in my Ubuntu VM 18.04 lts.

-> My Docker file below:
FROM mic

[2018-11-01 12:05] praveenvarmaN commented on #5358
My mvcapp.csproj file  details attached in screenshot below:

[2018-11-01 12:10] praveenvarmaN commented on #5358
![screenshot from 2018-11-01 17-39-56](https://user-images.githubusercontent.com/12827970/47850998-44785000-ddfd-11e8-9ff3-1ebd9a7c5804.png)

[2018-11-01 12:46] awbushnell commented on #7457
@nkolev92 I will try to do a small test case outside of our much larger solution.. out of curiousity, when you say "old style" csproj based project, what do you mean? We certainly are using csproj for our build, is that what you mean a "csproj" in general or is there some versioning in the csproj that will fix this?  We do build from a sln that contains the csproj that has the PackageReference

[2018-11-01 13:07] ericdunn commented on #3891
It's "by design", it's just a bad design :P

[2018-11-01 13:23] jnm2 commented on #6440
@mgoertz-msft Even better than the manifest, I think! Thanks! I noticed that no icons are showing up in the toolbox for components discovered this way. Will that be fixed?

[2018-11-01 14:37] llyons commented on #802
Is there a solution to this.   We are using the latest VS 2017 and still have this issue.  I have had to setup a clean process that deletes files/folders older than 3 days.

I would rather move the location to a different drive.

How can we move the location?

[2018-11-01 15:45] SidShetye commented on #3891
Who is the product owner for NuGet at Microsoft? Seems we’re all just customers complaining about a bad design but this needs review from the PM/owner

[2018-11-01 16:38] karann-msft commented on #4628
@tthiery thanks for the heads-up....what would you use instead of "unlicensed"?

[2018-11-01 16:52] tthiery commented on #4628
Maybe `NonSpecified`?

Edit: from previous `None` to `NonSpecified`. None could be misinterpreted that the package is not licensed at all (which mean different things in different regions I guess).

[2018-11-01 16:55] bledbet opened #7459 "Package projects that have dependencies on eachother"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe
NuGet version (x.x.x.xxx):  3.4.4.1321
VS version (if appropriate): 15.6.7
OS version (i.e. win10 v1607 (14393.321)): 15063.1387

## Detailed repro steps so we can see the same problem

I may be approaching this incorrectly, but I am looking for the best way to manage nuget package de

[2018-11-01 18:22] nkolev92 commented on #7457
Right now, there are 2 different types of projects.
1. SDK based projects, something like the following: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Versioning/NuGet.Versioning.csproj
It has an SDK import at the top. The files in the project directory are globbed, you can multi target.

2. Old style csproj, is what everyone gets when they create a .NET Framework project rig

[2018-11-01 18:53] rrelyea commented on #7454
Understand the ask here...but dotnet pack is our premier PACK client...and we'd prefer to spend our Pack fixing elsewhere.

[2018-11-01 18:53] #7454 closed, assigned to nobody

[2018-11-01 18:56] rrelyea commented on #7453
Project metadata for Packing, is supported by dotnet pack...not the old nuget pack. (as Rohit says)
our goal is to remove any gaps by adding more features to dotnet pack, and then retire nuget.exe.

[2018-11-01 18:56] #7453 closed, assigned to nobody

[2018-11-01 19:02] Pilchie opened #7460 "Unable to get updates to the lowest level package"
_From @Varorbc on October 30, 2018 2:55_

For example, when I have three packages, A depends on,B depends on C. When C updates, project refer to package A cannot get updates to package C

_Copied from original issue: dotnet/project-system#4193_

[2018-11-01 19:02] Pilchie commented on #7460
Can you describe what you mean in more detail?  How are you referring to packages, what did you try and what did you observe?

[2018-11-01 19:02] Pilchie commented on #7460
_From @Varorbc on October 31, 2018 0:12_

for example,i have a project refer to `Newtonsoft.Json` package, `Newtonsoft.Json` package depend on `System.ComponentModel.TypeConverter` package(.NETStandard 1.0), `System.ComponentModel.TypeConverter` package depend on `System.Collections` package(.NETStandard 1.0). when `System.Collections` package updates, I can't get an update prompt.I have to wait f

[2018-11-01 19:11] awbushnell commented on #7457
@nkolev92 ah, we definitely use the old style and that seems to be the issue then. I will see how easy for this particular project to convert it... Thanks

[2018-11-01 19:12] cristinamanum commented on #7453
The nuget.exe ignores the version passed in the Properties command line as well. I tried 4 versions of nuget.exe . All behave the same, they do not add the version. The version is always 1.0.0.

49\nuget.exe pack MyProject.csproj -Properties version="3.1.0"
481\nuget.exe pack MyProject.csproj -Properties version="3.1.0"
470\nuget.exe pack MyProject.csproj -Properties version="3.1.0"
451\nuget.exe

[2018-11-01 19:24] nkolev92 commented on #7460
I think https://github.com/NuGet/Home/issues/5887 and https://github.com/NuGet/Home/issues/5553 cover the ask here.

@varorbc Do you want to see the transitive packages listed so you could make a decision on which exact version is installed or?

[2018-11-01 19:31] nkolev92 commented on #7457
Glad we got to the bottom of it.

I will dup this out to https://github.com/NuGet/Home/issues/7080.

[2018-11-01 19:31] #7457 closed, assigned to nobody

[2018-11-01 20:50] anangaur commented on #5602
@NasAmin Apologies for the late reply. I am not sure I understood your comment. Can you please elaborate?

[2018-11-01 20:50] #6898 closed, assigned to nkolev92

[2018-11-01 20:52] anangaur commented on #5602
The per project lock file feature would be available with VS 15.9 preview 5. I am currently working on the docs. The PR is here: https://github.com/NuGet/docs.microsoft.com-nuget/pull/1119

[2018-11-01 21:21] bording commented on #5132
@rohit21agrawal This something I'd like to see supported as well. Any thoughts on the feasibility of doing this?

[2018-11-02 00:16] Varorbc commented on #7460
I don't want to see all the transitive packages. I just want to see the packages that are updated.

[2018-11-02 00:57] PatoBeltran opened #7461 "VS Restore does not read correct settings"
When doing a restore in VS code paths, settings are not being read correctly. This does not affect package sources.

[2018-11-02 04:59] nkolev92 commented on #7460
I'm not sure I follow.
Can you please clarify what you mean by `see the packages that are updated` ?
Updated where?

[2018-11-02 05:01] nkolev92 commented on #7456
From the log message, the no-op restore in questions is the Packages.config one rather than the PackageReference one.

[2018-11-02 05:23] Varorbc commented on #7460
Sorry, my English is very poor, I mean, I just want to see the updated package.

[2018-11-02 05:28] nkolev92 opened #7462 "Licenses Pack improvements"
From @karann-msft

- [x]  error NU5035: The PackageLicenseUrl cannot be used cannot be used in conjunction with the PackageLicenseFile and PackageLicenseExpression. [C:\Users\karann\source\repos\LicenseTest\PackageA\PackageA.csproj]
​
"cannot be used cannot be used" repeated words

- [ ] use consistent reference for the properties...one place we say License Expression, another place we say Package

[2018-11-02 05:32] cltshivash commented on #5877
@jainaashish @rrelyea @DoRonMotter Any updates here ?

[2018-11-02 08:36] yakunins commented on #802
I cleared it with no issues.

Also I created `ClearNuGetCache.bat` in folder `C:\Users\<username>\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Startup` with this conent:

[code]

[2018-11-02 11:22] Stoobs commented on #7020
I'm getting the same errror on our build server after updating the nuget version on the build agents:

[code]

Any progress on this issue at all?

Is there something I can do other than reverting the nuget versions?

[2018-11-02 13:28] bradgyton commented on #7413
Also seeing this

.Net Core SDK 2.1.302

dotnet.exe restore SolutionFile.sln --source \\SOMEWHERE\ON\A\NETWORK\ --source https://api.nuget.org/v3/index.json

produces the error

`C:\Program Files\dotnet\sdk\2.1.302\NuGet.targets(114,5): error : The local source 'C:\BuildAgent\work\3f250400dbf075d8\WebApi\https:\api.nuget.org\v3\index.json' doesn't exist.`

[2018-11-02 15:03] rainersigwald opened #7463 "Can I Pack multi-packages for multi-target project"
_From @moh-hassan on November 2, 2018 14:56_

I have multi-target project

                 <TargetFrameworks>net45;netcoreapp2.1</TargetFrameworks>

I try to generate multi-package one per framework using the following xml:

                 	<Choose>
			<When Condition="'$(TargetFramework)' == 'net45'">
			  <PropertyGroup>
				<PackageId>MyPackage.net45</PackageId>
				<GeneratePackageOnBuild>t

[2018-11-02 15:37] mgoertz-msft commented on #6440
No plans at the moment. Icon support will be a little harder since we don't actually load the assemblies and therefore cannot get to the embedded resources where the icons usually are.

[2018-11-02 15:49] jnm2 commented on #6440
I see, too bad. Looks like you'd need https://github.com/dotnet/corefx/issues/23372.

[2018-11-02 15:58] scottbommarito opened #7464 "Users using the API should have greater control over the user agent string"
I am currently working on https://github.com/NuGet/NuGetGallery/issues/6584

Right now, if I'd like to set the user agent used by the NuGet Client API, I have to use [`UserAgent`](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/UserAgent.cs) and [`UserAgentStringBuilder`](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/UserAgentStringBuilde

[2018-11-02 16:02] scottbommarito commented on #7464
Two possible solutions:
1. Make `UserAgent.UserAgentString`'s setter public.
2. Improve `UserAgentStringBuilder` so that it is more general.

I would suggest 1 over 2 because
- it is simpler, as we don't need to make `UserAgentStringBuilder` useful to general users
- users should be allowed to use whatever user agent string they'd like, and `UserAgentStringBuilder` can be a helper class for intern

[2018-11-02 16:08] MisterJimson commented on #6795
Running into this as well...

[2018-11-02 16:21] olivier-spinelli commented on #7438
OK... But... can anyone explain to me how NuGet.Protocol can be used from a .Net console App?
Since I have no control on the launch of the Credential Provider, I can't configure the child process environment variables (`startInfo.EnvironmentVariables["DOTNET_HOST_PATH"] = "...";`).

It seems to me that there is a critical architectural issue here.... or am I missing something?
(Other than asking t

[2018-11-02 16:32] jainaashish commented on #7020
Does it repro with latest NuGet.exe 4.8.1 (https://dist.nuget.org/win-x86-commandline/v4.8.1/nuget.exe)? If yes, then can someone provide simple repro steps for the issue?

[2018-11-02 17:06] PatoBeltran opened #7465 "ISettings should not be loaded more than once in restore"
As part of restore, `ISettings` is being loaded once at the beginning, then the file paths to all configs are stored in the [`ProjectRestoreMetadata`](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.ProjectModel/ProjectRestoreMetadata.cs#L68).

This list is intended to be used to display the list of configs used in restore, but `DependencyGraphSpecRequestProvider.Create(…)` [us

[2018-11-02 17:09] anangaur opened #7466 "CLI installs should not install unlisted packages"
NuGet should not install unlisted packages unless the version number is specified. So the following commands should not add an unlisted nuget package:

`dotnet add package <packageID>`

`nuget install <packageID>`

[2018-11-02 18:00] karann-msft opened #7467 "licenses UI experience"
- [x] seems like too much whitespace in the expression
![image](https://user-images.githubusercontent.com/16904420/47932278-75549580-de8e-11e8-8ebc-ca0261bd5588.png)

- [x] it is better for the license acceptance window. There seems to be one extra space between MIT and OR
![image](https://user-images.githubusercontent.com/16904420/47932372-b056c900-de8e-11e8-9dde-f55f66873a53.png)

- [x] make the

[2018-11-02 18:03] nkolev92 commented on #7467
The extra space is more a function of WPF than an extra space.

I will see what I can do about it.

[2018-11-02 18:09] mgoertz-msft commented on #6440
Yes, that would help. Of course I would need that on .NET Framework and not just Core.

[2018-11-02 19:12] Stoobs commented on #7020
I'm not in the office at the moment, but this behaviour was seen after performing a self update on nuget yesterday, so I presume that it was the latest.

I stopped the issue by reverting to the previous version as it was preventing any builds from running on the server.

[2018-11-02 20:03] jfgreco commented on #6403
@emgarten - We are hitting this same issue trying to work with the Firebird .Net Libraries. The fix seems simple enough. What can be done to move this up to a top priority?

[2018-11-02 22:00] vsfeedback opened #7468 "NuGet package favorites in NuGet Package Manager"
<p>In the visual studio package manager, it would be nice to be able to select your favorite packages and those could be at the top or a filter option in the screen.  Newtonsoft.Json, but others I always have to find and some names are harder to remember.</p>

_This issue has been moved from https://developercommunity.visualstudio.com/content/idea/355530/nuget-package-favorites-in-nuget-package-ma

[2018-11-02 22:02] anangaur commented on #7468
This seems like a good idea. In general, we wish to have a recommended list of packages at the top which is based on the project type, packages already installed and frequently installed packages by the user.

[2018-11-02 22:06] vsfeedback opened #7469 "Provide option to use MSBuild nuget restore instead of the Visual Studio custom nuget restore engine."
<p>Extending the Nuget restore functionality is very difficult because of the custom way that visual studio handles that.</p><p>I have done that for some of my projects and they build fine when using the command line build, but it is not possible to use them with Visual Studio in a reliable way (due to the way it detect changes and etc.).</p><p>My request is to have a setting in Visual Studio that

[2018-11-02 22:07] vsfeedback opened #7470 "Manage Packages for Solution: add project NuGet page link to package details"
<p>The Manage Packages for Solution tool displays details for a given package in the bottom right of the window, which includes links to the license for a project as well as a link to report abuse (example attached).</p><p><p>It would be nice if the package details could also include a link to the package's main page on the NuGet site.</p><p><a href="https://developercommunity.visualstudio.com/sto

[2018-11-02 23:49] joelverhagen commented on #7470
This is a great idea, and has been requested before here: https://github.com/NuGet/Home/issues/5299.

Feel free to ":+1:" that issue so we know people are interested in it.

[2018-11-02 23:49] #7470 closed, assigned to nobody

[2018-11-03 01:38] agr opened #7471 "NuGetLicenseData from NuGet.Packaging should be a public type. Update license metadata ingested from spdx."
Currently license information is stored in an `internal` class that does not allow to use it in external assemblies. Need to make it public.

Additionally, SPDX license metadata has a `isFsfLibre` property that is not consumed in the update process. Need to ingest that, too.

[2018-11-03 11:53] Nirmal4G commented on #6516
Any progress on this?

[2018-11-03 14:34] Rick-van-Dam opened #7472 "Lots of bugs encountered while upgrading nuget from v2 to v4"
We are running into problems with the new way packages are structured. Nuget v2 is not able to handle this. This is why we want to update our nuget from v2 to v4. However we are running into some serious problems with the nuget libraries:
- I noticed that `FolderNuGetProject` simply returns a empty IEnumerable when you call `GetInstalledPackagesAsync`. This looks like a pretty serious bug to me.
-

[2018-11-03 17:09] FlorianHockmann opened #7473 "Cannot use an encrypted API key with dotnet nuget push on Linux"
I want to be able to push NuGet packages from Linux to nuget.org without having to specify the API key every time and without having to use Mono to execute nuget.exe.

Unfortunately I'm getting this error message when I try it with `dotnet nuget push`:

[code]

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

NuGet version (x.x.x.

[2018-11-03 17:22] FlorianHockmann commented on #6437
@PatoBeltran Is there any information on how the API key needs to be encrypted? What is used as the key to encrypt the API key?

[2018-11-03 18:41] moh-hassan commented on #7463
repro [sample project](https://github.com/moh-hassan/Resources/blob/master/issues/MyPackageDemo-nuget-issue%237463.rar?raw=true)

[2018-11-04 13:20] StingyJack commented on #545
@rrelyea - doesn't the nuget client determine what target projects are supported? Wouldn't this be another tfm; sql2008r2, sql2014, etc?

I think this thread is mostly asking for plain "reference a dacpac" support, and not the whole shebang with SQL CLR and other stuff.  The removing of ps1 (the workaround for installing it to the sql project) and modifiable content files (T4's were mentioned here

[2018-11-04 20:15] fleed commented on #5874
Same problem as @sikemullivan ..
Everything works if run on a command line on the build agent.
The same commands don't run properly (end with a 401 unauthorised error) when run by Azure DevOps build pipeline.

[2018-11-04 22:35] Misiu commented on #6440
@mgoertz-msft thanks for the update, I'll try that right away.
Icon support isn't that important, but it would be a cherry on top :)

After adding a class that inherits `Control` everything works fine - control shows in the toolbox, but category name is the name of my NuGet package. I cannot change the category name.
I've tried adding `[assembly: AssemblyProduct("Test")]` attribute to my class but

[2018-11-04 22:50] loic-sharma commented on #7453
If that's the case, should we make the NuGet client show an error message if you try to pack an SDK project? The current experience seems like the pack operation half "worked".

[2018-11-05 08:18] Navidsoft commented on #3353
I fixed the error.
I was simple.
just Check in the latest changes in project , OR get the latest changes and synchronize both tfs and local code.
then you will see every thing is OK.

[2018-11-05 08:18] Navidsoft commented on #2739
I fixed the error.
I was simple.
just Check in the latest changes in project , OR get the latest changes and synchronize both tfs and local code.
then you will see every thing is OK.

[2018-11-05 08:27] skvtor commented on #6403
Same problem
Try to install:
Install-Package Microsoft.EntityFrameworkCore.Tools

and have the message:
"nstall-Package : The 'Microsoft.EntityFrameworkCore.Tools 2.1.4' package requires NuGet client version '3.6.0' or above, but the current NuGet version is '3.6.0-rtm-2511'. To upgrade NuGet, please go to http:/
/docs.nuget.org/consume/installing-nuget"

[2018-11-05 09:17] mmajcica commented on #545
@StingyJack indeed referencing other dacpac's via nuget will be somethings that will make my BI teams very happy.

[2018-11-05 11:30] phatcher opened #7474 "Suspend 1605/1608 during package update sequence?"
## Details about Problem

NuGet product used: Package Manager Console

NuGet version: 4.6.2.5055

VS version (if appropriate): VS 2017 15.8.8

OS version: win10 v1803

I'm trying to update the version of Application Insights in an ASP.NET MVC project, however there are multiple packages and the version coupling is very tight i.e. components want associated components with the same exact version.

[2018-11-05 14:32] simonech commented on #7449
So, as I understand, the fact that files outside of the projects are not updated is because the original nuget package adds them to the project when installing the package. So, since I exclude them, it then ignores them.
So this behaviour is the "by design".

[2018-11-05 17:07] rrelyea commented on #7472
Can you give us more information about your scenarios?
What are you doing with NuGet API?
Would command line calls work just as well?

We likely need more details on each of those problems...
FolderNuGetProject returns empty...for which kind of project, etc... How can we repro this?
Updating a package using what technique?
(perhaps these should all be separate issues?)

[2018-11-05 17:11] rrelyea commented on #6437
I believe this might be similar to encrypting credentials...we don't have cross platform APIs for this available via Dotnet Core.

[2018-11-05 17:12] rrelyea commented on #7473
Duplicate of https://github.com/NuGet/Home/issues/6437

[2018-11-05 17:12] #7473 closed, assigned to nobody

[2018-11-05 17:14] FlorianHockmann commented on #6437
So, it is really not possible right now to push NuGet packages to nuget.org on non-Windows platforms without Mono?

[2018-11-05 17:17] rrelyea commented on #7464
Why do you need control over version here?
Is it not useful to know which NuGet client version is being used?

/cc @joelverhagen

[2018-11-05 17:22] joelverhagen commented on #7464
I'll let @scottbommarito speak to that fully, but my understanding is that he wanted the version to match the version of _our_ job (that is using some client APIs) not the client API version.

Yes, it would be useful. We could pick just one of the two possible versions (either client API version or job version). Alternatively, we could encode both in the user agent.

My browser user agent is:
[cod

[2018-11-05 17:28] nkolev92 commented on #6516
@Nirmal4G The issue status is up to date. It's not being actively worked on.
The PR linked is blocked, likely because of some ILmerge issues.

[2018-11-05 18:15] joelverhagen opened #7478 "ReportAbuseUriTemplate/3.0.0 is broken in client"
Latest version of client only supports `ReportAbuseUriTemplate/3.0.0` and the `/Versioned` endpoint.

However, with this service index entry:
[code]

... the following is produced in the UI:
![image](https://user-images.githubusercontent.com/94054/48017628-93670380-e0e3-11e8-8f05-397ee540839e.png)

You can test it with this service index, which just points to nuget.org (it's an override of https:/

[2018-11-05 18:15] joelverhagen commented on #7478
This does not affect PROD today because we never shipped `ReportAbuseUriTemplate/3.0.0`.

[2018-11-05 18:16] joelverhagen commented on #7478
Due to https://github.com/NuGet/Home/issues/4924, this is not customer impacting today.

[2018-11-05 18:18] joelverhagen commented on #7478
This also does not affect V2 because the V2 feed sends the report abuse URL down verbatim.
+

[2018-11-05 19:18] nkolev92 commented on #7462
16.0 needs some work.

[2018-11-05 19:47] #7458 closed, assigned to nkolev92

[2018-11-05 20:36] rainersigwald opened #7479 "[Question] - Pack Native dependencies"
_From @deinok on November 3, 2018 16:54_

Hi, I'm searching the internet for this information, trying to reproduce what other libs, etc.. But I can't find a way to do the following:

Imagine that I want to create library for https://github.com/intel-iot-devkit/mraa
So I create a netstandard2.0 called `Mraa.runtime.linux-arm` that just have a a folder like this `runtimes/linux-arm/native/` and insi

[2018-11-05 21:29] OsirisTerje commented on #5602
This is going in the right direction.  Really looking forward to the lock file per solution.

[2018-11-05 22:02] nkolev92 commented on #7409
Bug me for help when you get to this.

[2018-11-05 22:33] #7461 closed, assigned to PatoBeltran

[2018-11-05 22:53] anangaur commented on #5602
@OsirisTerje Yepp. Remember our interaction on this one. I have a draft spec out here: https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-packages

Would love any early feedback.

[2018-11-05 23:14] PatoBeltran opened #7480 "Add support for reading and writing to the nuget.config via a new command trusted-signers"
As part of the client policies change, the [spec](https://github.com/NuGet/Home/wiki/%5BSpec%5D-NuGet-Config-schema-changes-to-enable-trusted-signers) for nuget.config changes includes a CLI gesture to interact with the list of trusted signers.

The work for adding this command should include the following:
* [x] Add the ability to add, remove, list and update trusted signers to the `TrustedSigner

[2018-11-05 23:15] PatoBeltran commented on #6961
Closing this issue since the work is done and merged into 15.9 and the missing work for the CLI gesture is being tracked by https://github.com/NuGet/Home/issues/7480

[2018-11-05 23:15] #6961 closed, assigned to PatoBeltran

[2018-11-05 23:19] chiefengineer commented on #3324
OK, so when does this "fix" make it into the rest of the world?
I have:
- Windows 10 Pro, 1809 installed on 10/03/2018, OS build 17763.55
- Visual Studio 2017 Enterprise 15.8.9
- NuGet 4.8.1 (downloaded 11/06/2018)
- NuGet,Server v3.2.1.0 (local)
- Computer\HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\FileSystem LongPathsEnabled = 1

and I'm *STILL* getting the error: "The specified path, f

[2018-11-06 00:05] vsfeedback opened #7481 "How to get latest package version for a project using packages.config?"
<p>This would help a great deal to easily update newly updated packages on VSTS (Azure DevOps)</p>

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/375962/clear-nuget-cache-with-build-clean-solution.html
VSTS ticketId: 709401_
_These are the original issue comments:_

Anand Gaurav [MSFT] on 11/5/2018, 04:05 PM (33 sec ago): We have converted this feedbac

[2018-11-06 00:08] anangaur commented on #7481
From user:
Thanks Anand, in my case specifically, we have automatic builds in VSTS and often times, we need to update the nugets to the latest build soon after it's built but it takes a bit of time to show up in Visual Studio. Sometimes, the new version is displayed in the dropdown in the "Manage nuget packages" section but when I select that and press install, I get a message along the lines "the

[2018-11-06 01:53] karann-msft commented on #7407
@nkolev92 we should close it if we decide to implement #7439 else keep it open

[2018-11-06 03:19] jmevel commented on #7189
I personally get the same warning message but the `Source` parameter is actually taken into account.

If I delete my package source from my Nuget feeds list in VS options and then run the command `Install-Package "PrivatePackageName"` it fails (as expected).
But if I run `Install-Package "PrivatePackageName" -Source "PrivateNugetFeedURL"` I get the warning message but it actually works.

Package M

[2018-11-06 12:12] koasol commented on #7430
I'm sorry if I'm hijacking the thread, but the title is the same as I'm experiencing. Let me know if I should start a new issue.

I'm seeing the same as @Rajkumar-Uppala :
A. If referencing the exact version (3.11.0) I get the one I want installed:
![image](https://user-images.githubusercontent.com/22585599/48060167-83225780-e1bb-11e8-9e94-25448cd42835.png)
![image](https://user-images.githubuserc

[2018-11-06 12:30] jnm2 commented on #6440
#Misiu An attribute can't target both an assembly and a class. If it has `assembly:`, it's assembly-wide. ([docs])(https://docs.microsoft.com/dotnet/csharp/programming-guide/concepts/attributes/#attribute-targets)

[2018-11-06 12:31] jnm2 commented on #6440
@Misiu An attribute can't target both an assembly and a class. If it has `assembly:`, it's assembly-wide. ([docs](https://docs.microsoft.com/dotnet/csharp/programming-guide/concepts/attributes/#attribute-targets))

[2018-11-06 12:31] Rajkumar-Uppala commented on #7430
@koasol - Thanks for including your experience also here.
We will see if someone helps us to advise how to fix this issue

[2018-11-06 12:45] jnm2 commented on #6440
@mgoertz-msft I'm interested in the ability to keep [design-time assemblies](https://msdn.microsoft.com/library/a19191fh.aspx) in the nupkg, both as a producer of multiple Windows Forms libraries and as a customer of DevExpress who I wish would also be able to use this.

The company I work with has had issues with the design-time assemblies being resolved through `HKEY_LOCAL_MACHINE\SOFTWARE\WOW64

[2018-11-06 13:14] Misiu commented on #6440
@jnm2 thanks for the hint, now it works fine 😄
P.S.
Do You know how to add information about version and company like in .NET Controls?
![toolbox_control](https://user-images.githubusercontent.com/1741838/48066535-2a0fef00-e1ce-11e8-81e0-7238a02c9731.png)

[2018-11-06 13:19] dlidstrom commented on #2880
For me this problem occurred after I installed Fiddler and a session with Fiddler crashed unexpectedly. It seems Fiddler had failed to restore some functionality related to the network settings of my laptop (or whatever). Once I ran Fiddler again and successfully ended the session (actually just opening Fiddler) all of a sudded NuGet runs fine! I discovered this by opening `https://api.nuget.org/v

[2018-11-06 13:25] Nirmal4G commented on #6516
Thanks for the update. Will it make into 5.0 update?

[2018-11-06 13:31] jnm2 commented on #6440
@Misiu Yes. So long as our Windows Forms projects require us to use the legacy csproj format and there's no way to set this in the csproj, you use the AssemblyInfo.cs file:

[code]

If you have multiple projects in your solution that ship to production, I'd suggest putting *only* `AssemblyTitle` in each AssemblyInfo.cs and putting the rest in a CommonAssemblyInfo.cs file next to the solution, and

[2018-11-06 13:45] Misiu commented on #6440
@jnm2 I have all of those in my `AssemblyInfo.cs` but after building m NuGet and adding it to test project I see my user control, but after hovering on Toolbox I don't see version and company info.
Try hovering over one of the standard (built-in) controls and then on Your custom control. You will see an additional line:
`Version 4.6.1.0 from Microsoft Corporation` (just like on image from my previ

[2018-11-06 13:54] jnm2 commented on #6440
Oh, I see. I'm not sure I can answer that. @mgoertz-msft?

[2018-11-06 14:07] maxpavlov commented on #3324
@chiefengineer you're not alone, man. Same setup, same error when building a solution with NuGet packages hosted in Azure DevOps package storage.

[2018-11-06 14:19] petersmm commented on #6059
I had the same problem with .NET 4.7.2 and 4.6.1 and VS2015. They were complaining when I tried to install Sentry 1.0.1-beta and it looks like installing 3.6.0 nuget worked perfectly. It also required me to install dotnet-standard-support-vs2015-2.0.0-win-x86 for anyone looking. Thank you!

[2018-11-06 15:20] mdschweda commented on #3891
Wait... this is intentional? 😂

[2018-11-06 16:46] jainaashish opened #7482 "Generate MSBuild property that has the path to a package isn't working inside VS"
Based on https://github.com/NuGet/NuGet.Client/pull/2271#issuecomment-436297946

[2018-11-06 17:22] deinok commented on #7479
Thanks @rainersigwald

[2018-11-06 17:32] dasMulli commented on #3891
Btw i've put together a sample recently with the latest "workaround" at https://github.com/dasMulli/AdvancedMSBuildDemos/tree/master/IncludeP2P (esp. [PublicLib.csproj](https://github.com/dasMulli/AdvancedMSBuildDemos/blob/ba3e7f2f88e5b01dfb5d0735e2bc07ace1f3800f/IncludeP2P/PublicLib/PublicLib.csproj)).

Interestingly, I've looked at the code of some folks who needed to use that and found that in

[2018-11-06 18:33] nkolev92 commented on #7430
@koasol
What you are experiencing is https://github.com/NuGet/Home/issues/3101.
It's merely a bug in the UI.

The dependencies tree has the correct information.
To verify the exact version you have you can always take a look at the assets file.

@Rajkumar-Uppala
Are you experiencing the same problem @koasol?

[2018-11-06 18:36] nkolev92 commented on #7302
The tokenizer should also take care of all types of whitespace (namely tabs)

[2018-11-06 19:11] nkolev92 commented on #7467
The only thing not added for 15.9 is the close button in the View License window.

[2018-11-06 20:40] ImGonaRot opened #7483 "PM UI Package Source dropdown Default Selection should be Configurable again"
At one point in time, the user could edit the nuget.config and add "aggregate source" in the "activePackageSource" so that VS would list local repositories along with the default nuget server repository. AKA "ALL" was the our new default.

Now it just defaults to "nuget" server and if we set it to default to our "local" repository, it hides the remote nuget repository.

We need to see both our loc

[2018-11-06 22:05] vsfeedback opened #7484 "Add option to disable NuGet Cache"
Migrated from <a href="http://visualstudio.uservoice.com/forums/121579/suggestions/35395093">Visual Studio IDE UserVoice forum</a> <br><br> Once you have a lot of packages (we have over 200!) The NuGet cache becomes a complete pain. It continually locks files requireing VS restarts, it gets out of date with dependencies causing package restore to fail. These things waste hours of time... Can we ha

[2018-11-06 22:26] zivkan opened #7485 "get dotnet cli version from build/config.props in bash scripts"
`build.sh` and `scripts/funcTests/runFuncTests.sh` have hardcoded branches when running dotnet-install.sh to install the dotnet cli. It shouldn't be too difficult to use grep and maybe sed to get the branch from `build/config.props`, so it's always in sync with the powershell scripts.

[2018-11-06 22:41] nkolev92 commented on #7484
The global packages folder copy of the package is the only copy in PackageReference, which means this is not feasible.

Furthermore the assemblies being locked are not because of NuGet, but rather other processes consuming those packages.

[2018-11-07 01:51] demonguru18 commented on #6743
Here is the answer: Right-Click on Project > Manage Client Side Libraries Asp.Net will add libman.json File to your Project in the file for libraries add this: In this Example I have added packages for Bootstrap 4
[code]

[2018-11-07 05:39] jainaashish commented on #7482
This shuld be fixed in Project System. PR# https://github.com/dotnet/project-system/pull/4226

[2018-11-07 05:39] #7482 closed, assigned to jainaashish

[2018-11-07 06:21] MagicAndre1981 commented on #6403
Microsoft deleted the 3.6.0 code branch, so they don't care and will never fix the issue for 2015 users.

[2018-11-07 06:29] jainaashish commented on #7484
Not sure what is the ask here. but there is already option to overwrite global packages folder which essentially allows you to maintain solution specific packages folder. What else is needed here?

[2018-11-07 06:43] jainaashish commented on #7483
If you select `ALL` in VS dropdown then it persist that selection as long as you're in that VS instance irrespective how many times you add/ remove nuget feeds. Now depending on how often you update your feeds, but realistically this should be good enough. Besides with `PackageReference` NuGet anyways uses all the active sources to install/ update or restore packages so this only become relevant f

[2018-11-07 06:53] jainaashish commented on #7479
Look at https://docs.microsoft.com/en-us/nuget/create-packages/supporting-multiple-target-frameworks to understand how to create package which targets multi tfms or multi runtimes. It also has bunch of end-to-end examples to create UWP libraries for different tfms/ rids which should also help understand better.

[2018-11-07 07:04] jainaashish commented on #7474
`I've checked and the projects do not have NU1605 as an error but the package manager console refuses to update the packages.`

Did you check in the project properties? May be it's set implicitly by project system... This is the only option to make sure this warning is not elevated as Error in order to succeed.

Also, it was wise to open this issue at https://github.com/Microsoft/ApplicationInsigh

[2018-11-07 10:21] phatcher commented on #7474
@jainaashish I raised both as although it should be solvable by changing the 1605/1608 warnings I wanted to raise the issue that nuget itself should allow an override.

Otherwise we can get into a situation where to solve the issue I have to manually modify a large number of project files - I might want to keep the overall constraints but allow it to upgrade in this particular instance.

This make

[2018-11-07 10:57] v-luzh opened #7486 "[Test Failure][Client Policies] Unexpected error NU3034 show when installing with trusted signers and package with untrusted root (allowUntrustedRoot=false)"
## Details about Problem
NuGet version: NuGet Client Release-4.9.0-rtm\4.9.0.5661
VS Version: D15.9\28306.50
OS Version: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps
1. Create a new test certificate with untrusted root:  `.\CreateTestCertificate.ps1 (certificate fingerprint="AAAAA")`
2. Sign a package:  `NuGet.exe sign <PackageFilePath> -CertificatePath <PfxFilePath>`
3. Crea

[2018-11-07 11:00] v-luzh commented on #7486
Update the info since there are typing issue in GitHub.(Can't edit and attach anything too)

Detailed repro steps
1. Create a new test certificate with untrusted root:  .\CreateTestCertificate.ps1 (certificate fingerprint="AAAAA")
2. Sign a package:  NuGet.exe sign <PackageFilePath> -CertificatePath <PfxFilePath>
3. Create a project, add required mode in nuget.config file with trusted signers list

[2018-11-07 11:04] v-luzh opened #7487 "[Test Failure][Client Policies] Unexpected errors show when installing with trusted signers and package with untrusted root (allowUntrustedRoot=true)"
## Details about Problem
NuGet version: NuGet Client Release-4.9.0-rtm\4.9.0.5661
VS Version: D15.9\28306.50
OS Version: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps
1. Create a new test certificate with untrusted root: ` .\CreateTestCertificate.ps1 (certificate fingerprint="AAAAA")`
2. Sign a package: ` NuGet.exe sign <PackageFilePath> -CertificatePath <PfxFilePath>`
3. Crea

[2018-11-07 11:06] v-luzh opened #7488 "[Test Failure][Client Policies] Unexpected error show when installing with trusted signers and package that will produce any warning on accept mode"
## Details about Problem
NuGet version: NuGet Client Release-4.9.0-rtm\4.9.0.5661
VS Version: D15.9\28306.50
OS Version: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps
1. Create a new test certificate:  `.\CreateTestCertificate.ps1 -AddAsTrustedRootAuthority (certificate fingerprint="AAAAA")`
2. Sign a package:  `NuGet.exe sign <PackageFilePath> -CertificatePath <PfxFilePath>`

[2018-11-07 11:10] v-luzh commented on #7486
## Detailed repro steps
1. Create a new test certificate:  .\CreateTestCertificate.ps1 -AddAsTrustedRootAuthority (certificate fingerprint="AAAAA")
2. Sign a package:  NuGet.exe sign “<PackageFilePath>” -CertificatePath “<PfxFilePath>”
3. Create a project, add required mode in nuget.config file with trusted signers list:
  “<config>
     <add key="signatureValidationMode" value="require" />
  </co

[2018-11-07 11:13] v-luzh commented on #7486
Details about Problem
NuGet version: NuGet Client Release-4.9.0-rtm\4.9.0.5661
VS Version: D15.9\28306.50
OS Version: Windows 10 RS4_Release 17134.1.180410-1804
Detailed repro steps
1. Create a new test certificate:  .\CreateTestCertificate.ps1 -AddAsTrustedRootAuthority (certificate fingerprint="AAAAA")
2. Sign a package:  [NuGet.exe sign <PackageFilePath> -CertificatePath <PfxFilePath>]
3. Creat

[2018-11-07 11:14] v-luzh commented on #7486
## Details about Problem
NuGet version: NuGet Client Release-4.9.0-rtm\4.9.0.5661
VS Version: D15.9\28306.50
OS Version: Windows 10 RS4_Release 17134.1.180410-1804

## Detailed repro steps
1. Create a new test certificate with untrusted root:  .\CreateTestCertificate.ps1 (certificate fingerprint="AAAAA")
2. Sign a package:  NuGet.exe sign <PackageFilePath> -CertificatePath <PfxFilePath>
3. Create

[2018-11-07 11:19] v-luzh commented on #7486
Update the info since there are typing issue in GitHub. (Can't edit and attach anything too)
## Detailed repro steps
1. Create a new test certificate:  .\CreateTestCertificate.ps1 -AddAsTrustedRootAuthority (certificate fingerprint="AAAAA")
2. Sign a package:  NuGet.exe sign <<PackageFilePath>” -CertificatePath “<PfxFilePath>>
3. Create a project, add required mode in nuget.config file with truste

[2018-11-07 11:21] v-luzh commented on #7486
Update the info since there are typing issue in GitHub. (Can't edit and attach anything too)
## Detailed repro steps
1. Create a new test certificate:  .\CreateTestCertificate.ps1 -AddAsTrustedRootAuthority (certificate fingerprint="AAAAA")
2. Sign a package:  NuGet.exe sign <<PackageFilePath> -CertificatePath <PfxFilePath>>
3. Create a project, add required mode in nuget.config file with trusted

[2018-11-07 11:29] v-luzh commented on #7487
Update the info since there are typing issue in GitHub. (Omit the “<>”. Can't edit and attach anything too)
## Detailed repro steps
1. Create a new test certificate with untrusted root:  .\CreateTestCertificate.ps1 (certificate fingerprint="AAAAA")
2. Sign a package:  NuGet.exe sign “PackageFilePath” -CertificatePath “PfxFilePath”
3. Create a project, add required mode in nuget.config file with tr

[2018-11-07 11:32] v-luzh commented on #7488
Update the info since there are typing issue in GitHub. (Omit the “<>”. Can't edit and attach anything too)
## Detailed repro steps
1. Create a new test certificate:  .\CreateTestCertificate.ps1 -AddAsTrustedRootAuthority (certificate fingerprint="AAAAA")
2. Sign a package:  NuGet.exe sign “PackageFilePath” -CertificatePath “PfxFilePath”
3. Create a project, add required mode in nuget.config file

[2018-11-07 13:24] ImGonaRot commented on #7483
I agree that if you select "ALL" in the VS dropdown that it will persist for that instance of VS but that is not the issue I am pointing out.
I'm not sure why it was removed or even what harm it was causing since the developer had to manually edit the config file to force it to "ALL" in the first place.

I work for a company that uses both an "Internal" and an "External" NuGet feed.
Our company is

[2018-11-07 13:57] EP01 commented on #3324
The problem is that there is no way to override the built-in version of Nuget in Visual Studio. That is currently at 4.6.0 as of version 15.8.9. The Nuget release notes [here](https://docs.microsoft.com/en-gb/nuget/release-notes/nuget-4.8-rtm) are incorrect in saying that 4.8 is part of VS 15.8.

Another issue (for me at least) is that there are different behaviours between `nuget.exe` and Nuget i

[2018-11-07 16:25] jainaashish commented on #7483
`Again, my point is that I'm not sure why it was removed or even what harm it was causing since the developer had to manually edit the config file to force it to "ALL" in the first place.`

I'm not sure what was the reason to deprecate that. For that matter, I don't think anyone on the team currently aware about those reasons. But @anangaur @rrelyea are good contacts to take this forward.

[2018-11-07 16:32] ImGonaRot commented on #7483
Here is the link I am referring to about the deprecation of "activePackageSource"
https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#activepackagesource

[2018-11-07 16:45] kellyelton commented on #3077
Why aren't the nuspec files just unpacked as well to skip this step?

[2018-11-07 16:57] kellyelton commented on #6166
It appears as though restoring inside of visual studio suffers from this same problem.

[2018-11-07 17:00] jainaashish commented on #7474
Alternatively you can also use `msbuild /t:restore` and pass `NoWarn` property with list of warnings code which you want to skip. Something like `/p:NoWarn=NU1506;NU1603`. This is also available through `dotnet.exe restore`

IMHO I dont think we'd be able to get to this requirement of adding new option to PMC command to allow skipping specific warning codes in near future given our backlog. But if

[2018-11-07 17:48] deinok commented on #7479
@jainaashish Okey, that documentation is really bad. The doc tell how should look like the nupkg. But they dont tell how to do it via a `*.csproj`.
The way to do it is like this for example:
[code]

But my real interest is how to do the following:
`dotnet publish` | No RID defined -> All runtimes are published
`dotnet publish -r <rid>` | RID defined -> Just valid RIDs runtimes are published.

So,

[2018-11-07 20:13] nkolev92 commented on #6166
@kellyelton
That's very unlikely.

NuGet communicates with the project-system to understand which projects are in the solution and loaded, we don't do any custom project discovery.

What are you seeing?

[2018-11-07 20:41] #7471 closed, assigned to nkolev92

[2018-11-07 20:44] frankhaugen commented on #4071
This should be more of a priority, as it's getting ridiculous in the Packadge Manager. When I use Xamarin.forms, why shouldn't I have the option to hide jQuery, or other non-Xamarin/.net nugets?

It's already visible metadata, so a simple "checkbox" next to the pre-release checkbox, called "hide incompatible" would be awesome. Pre-release already do filtering so it's not that filtering don't exist

[2018-11-07 21:36] agr commented on #4628
npm uses `UNLICENSED`, I don't think we should introduce yet another special case. License expressions are case sensitive, so `UNLICENSED` will always be in upper case and `Unlicense` will always be in Pascal case, so it would be more difficult to have them mixed up.

[2018-11-07 22:16] PatoBeltran commented on #7452
I did an accessibility pass and found a couple of issues/concerns. Here they are:

### UI:
- [x] Link for "View License" is underlined (it shouldn't because it's not consistent with other license links) (In both, details pane and license acceptance)
- [x] Link for "View License" has a weird color when hovered (In both, details pane and license acceptance)
- [x] Should the accept/decline buttons al

[2018-11-07 22:48] lucastheisen commented on #6437
@PatoBeltran ,

This does not appear to work.  I tried:
[code]
Verified it was added:
[code]
Then attempted a push:
[code]

However, if i use use `dotnet push -k`
[code]

[2018-11-08 00:00] nkolev92 commented on #7452
@PatoBeltran
The first 2 I already have a fix for I will create the PR (marked them as complete)

I will keep adding the status of each issue by just editing your comment.

[2018-11-08 01:58] karann-msft commented on #7452
license acceptance might be going away completely, hence didn't want to put a lot of engineering effort into it
https://github.com/NuGet/Home/issues/7439

[2018-11-08 02:11] ebCrypto commented on #8880
So I originally had the same issue but was able to work around it.

If Visual Studio does not find the nuget packages, you get this:
![managenugetpckg](https://user-images.githubusercontent.com/44279886/48173285-b69ed800-e2c8-11e8-93a5-cb7a51f3f980.png)

The error message actually comes from the .vcxproj file:
![projectfile](https://user-images.githubusercontent.com/44279886/48172962-65421900-e2c7

[2018-11-08 08:39] adam-birds-test commented on #4083
This is the same. I'd like to able to use the Extended.Wpf.Toolkit in  my powershell project, but keep getting the below error when running: `Install-Package Extended.Wpf.Toolkit -Version 3.4.0`

`Install-Package : Project 'Default' is not found.`

[2018-11-08 11:14] v-luzh commented on #7486
Fixed after using SHA256 fingerprint. Close the bug, thanks.

[2018-11-08 11:14] #7486 closed, assigned to nobody

[2018-11-08 11:14] v-luzh commented on #7487
Fixed after using SHA256 fingerprint. Close the bug, thanks.

[2018-11-08 11:14] #7487 closed, assigned to nobody

[2018-11-08 11:17] geedsen commented on #5358
@praveenvarmaN , I have the same problem. Did you resolve it?

[2018-11-08 15:06] waterfoul opened #7489 "NuGet.Protocol.Plugins.ProtocolException: The message type 'Cancel' is invalid at this time. When using azure pipelines and version 4.8.1"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx):  4.8.1.5435 / 4.8.1-rtm.5435+6007570d889b9392fb9826a6d31f99f6acf9e440

OS version (i.e. win10 v1607 (14393.321)): Microsoft Windows Server 2016 Standard 10.0.14393 Build 14393

Worked before? If so, with which NuGet version: 4.7.1

## Detailed repro steps s

[2018-11-08 17:44] joelverhagen commented on #5299
I took an initial stab at this here: https://github.com/NuGet/NuGet.Client/pull/2518.

![image](https://user-images.githubusercontent.com/94054/48216865-b2ab9e00-e33a-11e8-9453-02599f8d2006.png)

Works on V2 with only a client change and works on V3 with a tiny server change (very cheap and low risk).

[2018-11-08 18:21] jainaashish commented on #5820
We met with project system and platform team about this issue, and the current thought is that NuGet can persist unhashed dependency graph of project so that later when the project is unloaded or out of solution, it can still use persisted dependency graph to continue with Restore. So reopening this issue for further tracking.

[2018-11-08 18:23] jainaashish commented on #5820
Took a stab at it and the initial POC is https://github.com/NuGet/NuGet.Client/pull/2521

[2018-11-08 20:37] nkolev92 commented on #7452
Regarding the narration issue with license switching.

On a click, the context behind the control changes.
Say the first document is being narrated, when you click on a different license, it will update the document view.
If you try narrating the whole document again it continues narrating the previous one.
If you do go to the end of text and try narrating the same thing again, it will then read t

[2018-11-08 20:48] Neme12 commented on #3788
I found this after searching and trying out different things for 20 minutes thinking I must be doing something wrong with the wildcard :confused:

[2018-11-08 22:23] digovc commented on #6553
Same problem in here.

[2018-11-08 22:34] AlenToma opened #7490 "Visual studio 2017 version 15.8.9 freeze on nuget installation"
Hi, i started working with xamarin.forms and created a .netstandard xamarin.forms project.
after the last update i cant install any nuget package to my android project, with command or the gui.

I read this problem exited in the old update but now i see this problem with the latest version of vs.

is there any solution i can try ?

With Regards
Alen Toma

[2018-11-08 23:15] stephenfuqua commented on #7140
I encountered this same error in a very simple nuspec file. While I do not see anything in the [documentation](https://docs.microsoft.com/en-us/nuget/reference/nuspec#including-content-files) clearly showing that the `target` can be blank, it seems natural: if the destination file has the same name as the source file, and does not need to go into a directory, then it stands to reason that the targ

[2018-11-08 23:35] nkolev92 commented on #7490
@AlenToma

Do you have a repro solution/project for us?

Can you provide a heapdump for us? Please make sure you are using the 32-bit task manager when generating the dump.

Thanks!

[2018-11-08 23:47] jainaashish commented on #7372
With your first repro `WTF.zip` issue is that your `TeamMate.csproj` define it's `PackageId` as `BridgeMate` which is why it throws `Ambiguous project name` so fix your TeamMate project and it will work fine.

There might be similar issue with your another project, so check all your projects.

[2018-11-08 23:57] rido-min opened #7491 "Need to define TFM mappings for .NETCore3"
.NETCore 3 can load .NETFX assemblies via .NET Compat Shims.

We expect that users will find very helpful to add a p2p ref to .NET Framework projects, but there are some caveats here:
- If the project uses `Packages.config` the dependencies are not copied to the .NETCore project
- If the project uses `PackageRef` the build fails with

[code]

The workaround is using
[code]

We need to define the .

[2018-11-09 00:00] AlenToma commented on #7490
Ok here is a solution `https://mega.nz/#!QhpXESzZ!cb9fCA1wKY0CdLkw9_zQmk9jBg0QfsJyMia_FCEvEjc`
how can i provide heapdump?

[2018-11-09 00:10] lemarcelo commented on #7216
I just close the Visual Studio and open again, and solved for me.

[2018-11-09 00:33] tobiasschulz commented on #3788
Yeah I really don't get why this has not been fixed yet.

[2018-11-09 00:44] nkolev92 commented on #7490
If you are on a 64-bit machine, run the 32 bit task manager from c:\windows\syswow64, go to details, find devenv.exe, right click on it and click CreateDumpFile.

It would speed up things if you can provide the CLR and SOS dlls from C:\windows\microsoft.net\Framework\v4.0.30319

//cc @jainaashish

[2018-11-09 00:48] green4don commented on #7372
Thank you very much.
These were ported projects; some have a project_id, others do not.
Gone everywhere for now as this seems a new thing that wasn't around before.
The project_guid is gone as well, and references are by name now instead of
this guid, probably better.

*Don Greenwood*

On Thu, Nov 8, 2018 at 4:47 PM Ashish Jain <notifications@github.com> wrote:

[2018-11-09 00:49] green4don commented on #7372
The problem (as pointed out by Ashish Jain, thank you) is the project_id field present in some of the csproj files. These need to be unique or blank.

[2018-11-09 00:49] #7372 closed, assigned to nobody

[2018-11-09 00:52] shishirx34 opened #7492 "Error codes regression for validating signatures"
It looks like the change: https://github.com/NuGet/NuGet.Client/pull/2391/files#diff-c6fa634239b1e7654fa549386f77ed3cL206 introduced regressions. The earlier route would return NU3028, however, this change is returning NU3018 error codes.

@PatoBeltran knows the context.

This change has broken NuGet/NuGet.Jobs [SignatureValidatorIntegrationTests](https://github.com/NuGet/NuGet.Jobs/blob/352ce8d5a

[2018-11-09 01:35] AlenToma commented on #7490
and here is DumpFile
https://mega.nz/#!V9ggBYoI!Cz1b2pbMFbkQiHZm2ATQSw0WayPiXQtZNRv9t8iE2Yw
and here is the clr and sos dll files
https://mega.nz/#!EgpAnKZQ!ipj1p4Dg2XXF4M_HIiohfj-4DlUbZqtPzImULgAWPQ0

[2018-11-09 01:36] AlenToma commented on #7490
try to install xamarin.Auth for example to the android project and the vs will freeze

[2018-11-09 03:47] jmevel opened #7493 "NuGet.VisualStudio.IVsPackageInstaller.InstallPackage should install latest version when no version given"
## Details about Problem

As specified in the [NuGet.ClientsNuGet.VisualStudioExtensibilityIVsPackageInstaller.cs](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio/Extensibility/IVsPackageInstaller.cs) class:

[code]

NuGet product used: NuGet.VisualStudio package

Nuget.VisualStudio version 4.8.0

VS version: 15.8.9

OS version: Windows 10 version 10.0.17134

##

[2018-11-09 05:31] wbrianwhite commented on #7400
Why are you unzipping the nupkg and rezipping it in the first case?

What is the expected benefit?

[2018-11-09 05:48] wbrianwhite commented on #7255
The myResource.txt file is embedded in the ConsoleApp1.exe assembly with the name 'ConsoleApp1.sub.myResource.txt'.

Can you do a build step where you just rename the files to {parentfolder}.{filename}.{ext}?  Lets you keep your files the way you want, and get the results you want.

[2018-11-09 07:08] karann-msft commented on #5299
@joelverhagen  WAIT! am i reading this right? requires no client change for V3?

[2018-11-09 09:24] Rick-van-Dam commented on #7472
We currently have a game engine called (duality)[https://duality.adamslair.net/] that uses the nuget v2 API to manage plugins. Basically we are looking for the following functionality:
- List all packages that contain certain tags, this is how we find plugins for duality.
- Install a package
- Update a package
- Uninstall a package
- Restore packages from a package config file

After noticing this

[2018-11-09 13:28] jjolidon opened #7494 "PackageID not taken as dependency name for .net framework projects in ProjectReferences"
## Details about Problem
The id in the generated nuspec is not the expected value from PackageId when referencing a .net framework csproj. The nuget is created via msbuild -t:pack, but the nuget restore was first done in Visual Studio. This is identical to https://github.com/NuGet/Home/issues/4642 but with .net framework projects.

NuGet product used VS UI

NuGet tools: Visual Studio 15.8.9 and Nu

[2018-11-09 14:52] joelverhagen commented on #5299
Sorry, wasn't clear.

V2: small client change, no server change
V3: small client change, small server change

[2018-11-09 18:01] bladeoflight16 commented on #783
This can be worked around by creating a dummy project (`.csproj`) file in the same directory as the `packages.config` file, at least in some cases. Mine looked like this:

[code]

Just an empty `Project` element. NuGet didn't even modify it after performing the update. (Unsurprising, since the packages in question are command line tools rather than libraries to depend on, meaning they would never

[2018-11-09 18:22] mrward opened #7495 "Failed to restore NuGets from local source with trailing backslash"
## Details about Problem

NuGet product used: NuGet.Configuration assemblies

NuGet version (4.8.0):

OS version: macOS 10.13.6

Worked before? If so, with which NuGet version: N/A

## Detailed repro steps so we can see the same problem

Originally filed on [Developer Community against Visual Studio for Mac](https://developercommunity.visualstudio.com/content/problem/374264/failed-to-restore-nuget

[2018-11-09 19:05] jainaashish commented on #7428
This message should be a info instead of warning, to let customer that the current lock file threw parsing exception and we should make sure that the same message doesn't appear again.

[2018-11-09 19:35] PatoBeltran commented on #7488
Closing as the test has been fixed and this is not reproing.

[2018-11-09 19:35] #7488 closed, assigned to nobody

[2018-11-09 19:39] karann-msft commented on #5299
:shipit:

[2018-11-09 20:48] nkolev92 commented on #7452
The keyboard navigation will be fixed too.

[2018-11-09 21:17] manuelxmarquez opened #7496 "Imports and EnsureNuGetPackageBuildImports target not being added to project when installed"
I created a custom project type and when I add a NuGet package in Visual Studio, the imports and EnsureNuGetPackageBuildImports target is not being added to the project file. The project is using a packages.config file.

I was debugging with dotPeek and found that in VsMSBuildProjectSystem, the imports were being added correctly and I could see it in the Xml property of MSBuildEvaluationProject. B

[2018-11-09 22:53] ticktickMOF commented on #4942
@StingyJack you can use a msbuild .targets or .props file in your package to include files in the package folder in the consuming project.  They won't show up in VS due to being in an imported file.
For example if your package name is Foo and you want to include a cs file located at content/foo.cs, in build/foo.targets or build/foo.props put
[code]
if you have content/foo.css that you want to incl

[2018-11-09 23:18] jainaashish commented on #6913
dupe of https://github.com/NuGet/Home/issues/6468

[2018-11-09 23:18] #6913 closed, assigned to nobody

[2018-11-09 23:22] jainaashish commented on #7496
The commit you mentioned was for a different issue which was specific to Xamarin projects https://bugzilla.xamarin.com/show_bug.cgi?id=61113

It seems your issue could also be specific to your project type. May be some other packages install.ps1 is changing project after AddImports so when it finally try to save the project, it had different data.

Can you debug through `await nuGetProject.SaveAsy

[2018-11-09 23:30] jainaashish commented on #7494
Similar to #4642 but for desktop framework projects. And the workaround is to do commandline restore before pack.

[2018-11-09 23:31] natemcmaster commented on #6795
Ran into this as well with VS 15.9. Anyone found a solution?

[2018-11-09 23:31] zivkan opened #7497 "dotnet list package outdated should not list RIDs"
Using the current dotnet CLI 3.0 preview, `dotnet list package --outdated --include-transitive` lists each TFM twice, the second time with some extra transitive runtime packages. It should skip RIDs and only output each TFM once, as it does with the dotnet CLI 2.2.

[2018-11-09 23:36] jainaashish commented on #7493
Currently it skips installing the package if the same id or version already installed. In your case, since you only provide the id so it only compares based on id and skip it. One workaround is to pass both id and new latest version then it will allow you to update to that version.

[2018-11-09 23:38] jainaashish commented on #7491
Thinking little more about this, ideally SDK projects needs to update their `AssetTargetFallback` from `net46` to more compatible netfx version for .netcore3. That should help resolve this.

@livarcocc

[2018-11-09 23:42] jainaashish commented on #7489
@dtivel or @nkolev92  can any of you take a quick peek at this? Seems a regression with Auth plugin work...?

Error stack trace:
2018-11-06T23:41:09.0281154Z Terminating plugin 'CredentialProvider.Microsoft' due to an unrecoverable fault: NuGet.Protocol.Plugins.ProtocolException: A plugin protocol exception occurred. ---> NuGet.Protocol.Plugins.ProtocolException: The message type 'Cancel' is inval

[2018-11-09 23:46] livarcocc commented on #7491
cc @terrajobst @dsplaisted

The change is minimal on our side, but I want to make sure it is right.

[2018-11-10 00:14] cristinamanum opened #7498 "improve error message when pushing a snupkg without a parent nupkg"
https://github.com/NuGet/NuGetGallery/issues/6648

Today we say Response status code does not indicate success: 404 (Not Found). That is not very helpful.

C:\Users\karann\source\repos\LicenseTest\PackageA\bin\Debug>nuget push BasicMathNew2.0.0.1.snupkg -Source https://api.nuget.org/v3/index.json -apikey ~~~redacted~~~
Pushing BasicMathNew2.0.0.1.snupkg to 'https://www.nuget.org/api/v2/symbolpacka

[2018-11-10 00:15] nkolev92 commented on #7489
I don't think NuGet is the right place for the initial investigation.

There is some weirdness here, as the script suggests that you are using 4.7.x of NuGet?
NuGet 4.7.x does not have any Credential Provider support, unless it means something else.

//cc @jotaylo @satbai @zjrunner

[2018-11-10 00:57] PatoBeltran commented on #7492
Merged in 4.9.0-rtm and dev

[2018-11-10 00:57] #7492 closed, assigned to PatoBeltran

[2018-11-10 23:17] danmoseley opened #7499 ""mono nuget.exe" help shows Windows-specific locations on Linux"
## Details about Problem

nuget client  2.8.7.0  on Ubuntu 16.10

## Detailed repro steps so we can see the same problem

1. Type `nuget help`

## Results

[code]

## Expected

I'm on Linux, %AppData% is not relevant to me. It should say ~/.config/NuGet/NuGet.Config or ~/.nuget/NuGet/NuGet.Config

There are more hits in https://github.com/NuGet/NuGet.Client/blob/fc0c2072b79674975d6fac5f332ae8359ce

[2018-11-10 23:44] danmoseley commented on #7499
The main reason I noticed this is that I use `nuget help` to remind me where the config file is...

[2018-11-12 00:32] mayureshs commented on #5358
I have the same problem. Did anyone resolve it? It seems dotnet restore from docker build is not using the proxy settings for docker daemon.

[2018-11-12 06:08] dsplaisted commented on #7491
Yes, I recall the plan being to update the AssetTargetFallback in the SDK to use a higher version of .NET Framework.

[2018-11-12 10:02] Mpdreamz commented on #6402
Still hitting this on my machine:

[code]

[2018-11-12 13:59] geedsen commented on #5358
Restarting docker on my windows system resolved it for me.

[2018-11-12 15:39] nguerrera commented on #7491
There's another issue tracking this. Will link when I get to the office. There's concern around picking different assets in existing, successfully building projects. And a proposal to address that, but we have to check perf or other consequences.

[2018-11-12 15:42] nguerrera commented on #7491
Found it:
https://github.com/dotnet/sdk/issues/2425

[2018-11-12 16:39] jainaashish commented on #7491
thanks guys. This will get tracked as dotnet/sdk#2425

[2018-11-12 16:39] #7491 closed, assigned to nobody

[2018-11-12 16:42] rainersigwald opened #7500 "Auto restore packages before build in vs2017"
_From @moh-hassan on November 11, 2018 16:56_

I use vs2017.8 project with the new style SDK with `PackageReference`

Every time when I modify TargetFrameworks  in csproj/vs2017.8, and try to build the project from within vs2017 IDE, i get the error:

Also, when trying to build from Package Manager Console:

		msbuild /t:build
I get the same error.

I can build and auto restore by the command:

[2018-11-12 18:16] jpsalada opened #7501 "VS 2017 Nuget Package Manager does not support reading PackageReference version from a property"
## VS 2017 Nuget Package Manager does not support package version from a property

NuGet product used:

NuGet version (x.x.x.xxx): 4.7.1.5393
VS version: 15.8.7
MSBuild version: 15.8.168.64424
OS version (i.e. win10 v1607 (14393.321)): win10

## Detailed repro steps so we can see the same problem

1. I define a PackageReference version value from a property:

[code]

2. I am able to restore and bu

[2018-11-12 21:50] lennybacon commented on #1550
#3078 Had the solution for me

[code]

[2018-11-12 21:55] karann-msft opened #7502 "nuget pack should warn for licenses that are known but may not be kosher with nuget.org"
nuget pack warns if the license expression contains identifiers to unknown licenses i.e. licenses that do not have a valid SPDX identifier (or less likely but possible, the nuget.exe list is out of date).

We should also warn for licenses that are known but may not be accepted by nuget.org because they are not OSI/FSF approved.

cc: @rrelyea

[2018-11-12 23:45] jainaashish commented on #6091
We're planning to change this default behavior in `dev16` for both build and analyzers to flow transitively for package reference or p2p. It will not impact anything for existing packages. And even for new packages, Author can always control it through `include`/ `exclude` attributes.

Let us know if there are concerns/ feedback.

[2018-11-13 02:08] Entomy commented on #7439
"This field adds little value" Spoken like someone who hasn't read much EULAs. By not prompting for license acceptance you get into a really grey legal area involving contractual entrapment and IP violations. Better to leave it in, and if someone doesn't care to use it they can leave the property `false`.

[2018-11-13 02:22] karann-msft commented on #7439
@Entomy but how do you know that the person who installed the package ever saw a license acceptance dialog? It is up to the client used to honor that property. Why do you think setting that property to true is legally binding?

[2018-11-13 02:29] Entomy commented on #7439
"Why do you think setting that property to true is legally binding?"

Do not put words in my mouth. I was only arguing that the property is required _to implement_ those dialog boxes. Everything you mentioned is implementation details that are only possible if the aforementioned property exists. The debated topic is the property, not issues with people not utilizing the property properly; that's a

[2018-11-13 03:30] karann-msft commented on #7439
@Entomy - let me come at this from another angle. Do you know of a package that depends on that property to enforce a legally binding contract? How do you feel about leaving the property in but clients not respecting it?

[2018-11-13 03:50] manuelxmarquez commented on #7496
I verified that the package does not have an issue by installing into a VB and CS project. It is also a package I created and know there are no powershell scripts in it.

I poked around the code a bit more and found a few solutions, but only from within NuGet assemblies. It's probably worth noting that I am using CPS since there are some checks for it's compatibility. A little info into what kind

[2018-11-13 03:56] nkolev92 commented on #5076
Is there anything actionable from the client here?
Should we close it?
@anangaur

[2018-11-13 04:01] nkolev92 commented on #5265
In 2.1.400 of the dotnet SDK support for a cross platform authentication plugin was added.
https://github.com/NuGet/Home/issues/6486

The ADO's build tasks have since then been updated to use that plugin.

I think all the concern raised in this thread should have already been addressed.

[2018-11-13 04:01] #5265 closed, assigned to nobody

[2018-11-13 04:09] cclauson opened #7503 "The SDK resolver "NuGetSdkResolver" failed to run. The process cannot access the file 'nugetorgadd.trk' because it is being used by another process."
Currently trying to troubleshoot an issue which is intermittently happening on our continuous integration server.  I can't consistently repro, but our build fails with the following error:
`error : C:\Program Files\dotnet\sdk\2.1.401\Sdks\MSBuild.Sdk.Extras\Sdk not found. Check that a recent enough .NET Core SDK is installed and/or increase the version specified in global.json.`
shortly after this

[2018-11-13 04:10] Entomy commented on #7439
That's the black swan problem. Just because I don't know of a package which relies on it doesn't mean there isn't one. And as a user of this package manager, I'd feel much better approving package licenses before installing them, especially as with many EULA's, installation is defined as acceptance.

Although really, the questions you're asking are much better fitted for a lawyer, not a buncha dev

[2018-11-13 04:17] karann-msft commented on #7439
@Entomy what client do you use to install packages?

[2018-11-13 04:17] Entomy commented on #7439
As for clients not respecting the property, well, it's not like this is the only peice of software where that happens. Web sites still use bot files even though a malicious crawler doesn't have to obey anything in the file at all. Why bother using them then? Well it's because _something_ is still better. Sure a stupidly written nuget client could ignore the property. But without the property there

[2018-11-13 04:26] Entomy commented on #7439
@karann-msft I _formerly_ used the "OneGet" commandlets. I say formerly, because with no license acceptance prompt, I'm left going to each website and reading the license, unless it's one I'm already familiar with. At that point, I might as well avoid using nuget at all and just download from the site I'm already at.

I run a business. Legal compliance is considerably more of a concern than just s

[2018-11-13 04:51] nkolev92 commented on #6935
Fixed in https://github.com/NuGet/NuGet.Client/pull/2486

[2018-11-13 04:59] nkolev92 commented on #7364
For the azure artifacts plugin, the relevant code is here. https://github.com/Microsoft/artifacts-credprovider/blob/c0ef82af5cfef87837ccd7afbbd59925beadc195/CredentialProvider.Microsoft/CredentialProviders/Vsts/BearerTokenProvider.cs#L97-L98

[2018-11-13 06:36] pascalberger opened #7504 "Release version 4.8.1 of nuget packages"
Since 4.8.1 is now finally recommended, packages on nuget.org should be updated to 4.8.1:

- https://www.nuget.org/packages/NuGet.CommandLine/
- https://www.nuget.org/packages/NuGet.Frameworks/
- https://www.nuget.org/packages/NuGet.Common/
- etc

[2018-11-13 06:38] tom-made commented on #7439
I'm in agreement with others here around having this option still available.

While we could argue the fact that NuGet clients should provide functionality to read this and action it, the fact is, developers need to agree to licences if there are any before taking a dependency on the package.

[2018-11-13 06:41] pascalberger commented on #7262
While now finally recommended, parts on nuget.org are still missing: #7504

[2018-11-13 10:41] AlenToma commented on #7490
why is it taking so long to get help ? this has not been assigned yett ?

[2018-11-13 10:45] pombredanne commented on #7447
My 2 cents, but using "UNLICENSED"  is not a great choice of words. There is a license called the "Unlicense" ...

[2018-11-13 10:55] pombredanne commented on #4628
The use of "UNLICENSED" by npm is a rather confusing choice IMHO. The SPDX way is simpler and clearer: NONE or NO-ASSERTION. If you adopt SPDX expressions that would make the most sense (disclosures: I am involved in SPDX and I also maintain the [scancode-toolkit](https://github.com/nexB/scancode-toolkit) which is a license scanner so every choices you make here is something that eventually I will

[2018-11-13 10:56] pombredanne commented on #4628
The spec at https://github.com/NuGet/Home/wiki/Packaging-License-within-the-nupkg#project-properties references old and deprecated license ids such as https://spdx.org/licenses/GPL-2.0-with-bison-exception.html which would be best avoided IMHO

[2018-11-13 13:28] praveenvarmaN commented on #5358
No. I need to understand why the proxy setup is required when you run the dotnet restore via dockerfile for building the docker image for aspdotnetcore apps. Anywayz, you will be using the wired connection in ubuntu server vm.  have my docker engine installed and running.

Any thoughts on this?

[2018-11-13 13:29] quasarea opened #7505 "ErrorUnsafePackageEntry error message is not pointing to source of problem"
## Details about Problem

NuGet.exe

NuGet version (5.8.1.xxx):

1. create a package with a file with ~ at the end of extension

2. create packages.config with above package record

3. use nuget restore in packages.config location

*. there is a chance that the file will not be validated and package will be extracted but usually it fails:

        C:\Jenkins\Workspace\SolutionName>nuget.exe restor

[2018-11-13 14:44] dotMorten commented on #7439
We require this for our packages. It might be an annoying dialog for some but necessary evil for others. It might even come to the point that we can't support nuget any longer without this.

[2018-11-13 16:06] gautelo commented on #4491
@rohit21agrawal We have pretty much the same issue as @jjanuszkiewicz, although on a smaller scale.

Is there any progress on this that is documented elsewhere or will including PackageReferences using nuget pack be unsupported for the forseable future?

After a lot of work migrating all of our projects to the new project format, it is very frustrating to realize that our build system cannot both

[2018-11-13 16:52] llyons opened #7506 "Error with path and nuget 4.8.1.5435"
## Details about Problem

over night and on 11/13 we are starting to see errors like the following.

Could not find a part of the path 'E:\bamboo-agent-home\xml-data\build-dir\NET451-ABS-JOB1\folder\ButlerService\ \packages\RestSharp.105.2.3'

This is happening with all projects and on all machines including our developers machines.

Any project that updates the nuget.exe to the 4.8.1.5435 fails w

[2018-11-13 17:44] satbai commented on #7489
Hi @waterfoul, If you could share the full build log of a failing task with system.debug variable set to true that would be very helpful. In the meanwhile I'm trying to get a repro. Thanks!

[2018-11-13 18:33] ericrini commented on #3891
The design decision to drop support for using NuGet packages to encapsulate multiple assemblies is dissapointing.

[2018-11-13 18:39] anangaur commented on #7439
I think the real question here is how easy and apparent it is to understand the licensing of the packages and if by popping up the accept license makes it '**more**' legally binding than without the popup.

For making licensing clearer and easier to understand, we are taking the first step so that developers for most common licensing, should be required to go to an external link. We are coming up

[2018-11-13 18:52] jamesmcroft commented on #7439
@anangaur regarding your last comment to @dotMorten, the pop up provides a very clear decision by the user to accept that they are okay with using a licence for a package. I wouldn't want to install anything that was licenced without first reviewing it and that dialog is my indicator to go have a look. A consumer of a package may be able to find a link to a licence before installing but it's simpl

[2018-11-13 19:13] dotMorten commented on #7439
Well if you remove this tag, then what package license are you talking about? The fact is license acceptance is an integral part of nuget packages today. If you remove this, it's eroding the message that nuget packages can have licenses you must accept. After a while people will have all but forgot there's such a thing.
The argument that some clients skips it is a moot point for me, just like we s

[2018-11-13 19:29] llyons commented on #7506
We where able to fix this by changing the  -solutionDir $(PaddedSolutionDir)
to
-solutionDir $(SolutionDir)

in nuget.targets

[2018-11-13 19:29] #7506 closed, assigned to nobody

[2018-11-13 21:40] cclauson commented on #7503
Update: discovered original discussion associated with the checkin of the code in question:
https://github.com/NuGet/Home/issues/2445

[2018-11-13 21:52] ctaggart opened #7507 "run nuget.exe without mono"
The documentation says that mono is required. 😢
https://docs.microsoft.com/en-us/nuget/tools/nuget-exe-cli-reference

Can you make it work without mono? It would be nice if this worked:
[code]

But it results in this error:
[code]

It would be even better if it was a dotnet tool:
[code]

There are several occasions where I want to use the nuget.exe client. The current need is that it appears to be

[2018-11-13 21:55] anangaur commented on #7439
@dotMorten What about educating the users to understand that they should abide by the licensing of the packages before using the packages and that the licenses of packages are different than the license of the tooling - irrespective of the `requireLicenseAcceptance` property? This can be done in various ways either by highlighting this information on the package Manager UI or have a consistent pop

[2018-11-13 22:25] #5076 closed, assigned to nobody

[2018-11-13 23:22] karann-msft commented on #4628
@pombredanne we plan to not allow deprecated licenses and as a matter of fact, the client will warn on pack and nuget.org will block publishing a package if you use a deprecated license. (excuse the poor choice for an example in the spec)

[2018-11-14 01:30] hrumhurum commented on #4879
Please strongly consider to add support for `--config-file` option.

.NET Core SDK 2.1 is mostly in sweet condition now except a few sharp edges here and there. The absence of `--config-file` option for `dotnet nuget` command is one of those sharp edges.

Please please please. We **need** that option.

[2018-11-14 02:40] Entomy commented on #7439
@anangaur SPDX extensions are certainly something that would make license management and compliance considerably easier. But even as you stated, this is for _common_ licenses, and does nothing for the EULA. EULA's can be anything, and often have a clause stating that use of the software or library is considered acceptance of the terms of the license; this is why contractual entrapment is an issue.

[2018-11-14 05:31] AArnott commented on #6091
Does this mean https://github.com/NuGet/Home/issues/6279 will be fixed as well? Before we make analyzers flow _more_, I want to *stop* them from flowing, which I can't do right now.

[2018-11-14 06:06] Varorbc opened #7508 "Referenced dll, pack does not work"
<Reference Include="Test">
      <HintPath>..\..\lib\Test.dll</HintPath>
      <Pack>true</Pack>
      <PackagePath>lib\net452\</PackagePath>
    </Reference>

[2018-11-14 08:05] devlead commented on #7507
@ctaggart agree 👍  a better .NET CLI NuGet story would be really useful.

With the .NET CLI built-in `dotnet nuget` command you get delete & push capabilities, if that could be extended with more commands
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-push?tabs=netcore21

Personally done a few workarounds for installing packages in a pure .NET Core environment, but there's quite a

[2018-11-14 08:08] blackjyn commented on #2880
Many thanks to all of you.
The 'root' problem  above also causing another problems such as:
**Xamarin error MSB4019....**
etc.. etc.. depending on what project you are building

I was finally resolve the problem by doing the following step:

- DELETE **.nuget** folder inside` %userprofile%`
- Edit **nuget .config** located in ` %appdata%\NuGet\NuGet.Config
`by adding  **`protocolVersion="3"`**
to

[2018-11-14 09:13] jmevel commented on #7493
Yes I implemented this workaround but `IVsPackageInstaller` doesn't have any method to get the last version of a package.
So I had to use `NuGet.Client` to get an `IPackageSearchMetadata` and finally retrieve the latest version number. All this to finally install the latest version as expected.

I think the `InstallPackage` method should just do what it says no matter if an old version is already

[2018-11-14 13:50] m17kea commented on #3891
This really is disappointing

[2018-11-14 16:46] darkdragon-001 commented on #6604
My restore fails with the following error (starting from version 4.8.0):

[code]

In version 4.7.0 this was only a warning, therefore I could reproduce the findings of @akoeplinger and it fails with an `ILMerge` error. Where do I find the newly built `nuget.exe` file?

_Note: I ran `msbuild` with ` /p:BuildInParallel=false` to disable parallel downloads and don't run in timeout issues._

[2018-11-14 17:44] satbai commented on #7489
While we investigate this issue, for mitigation we'll make an update to the NuGet build tasks in the Azure DevOps pipelines to use the old credential provider by default.

[2018-11-14 18:11] jotaylor commented on #7489
I think I've been mistakenly tagged in this thread 😉

[2018-11-14 18:14] livarcocc opened #7509 "Error NU5125: The 'licenseUrl' element will be deprecated since VS 15.9"
_From @Tornhoof on November 14, 2018 12:18_

## Steps to reproduce
Use <PackageLicenseUrl> in a SDK style project to specify the project's license.
1. Install VS 15.9 (SDK 2.1.500)
2. Clone https://github.com/Tornhoof/SpanJson.git
3. dotnet build -c Release

## Expected  behavior
Everything is builds and two nugets are created

## Actual behavior
Everything is builds and two nugets are created
and

[2018-11-14 19:06] nkolev92 commented on #7489
@jotaylor my bad, that was a typo, I added an extra "r".

[2018-11-14 19:38] rrelyea commented on #7509
@nkolev92  - Do we need to tweak warnings/feedback...or docs...which covers the different ways that people may set these properties?
@karann-msft

[2018-11-14 19:43] jainaashish commented on #7493
Agree `InstallPackage` should handle this, That's why I added `Type:Bug` metadata

[2018-11-14 20:06] jainaashish commented on #6091
Yes, it will be fixed as well. Analyzers will become part of `project.assets.json` file which will allow project system to consume/skip.

[2018-11-14 21:33] karann-msft commented on #6518
Ensure that all packages irrespective of branch/release are compliant with requirements for Microsoft packages on nuget.org and any packages generated this point on comply with all requirements listed on aka.ms/nuget

Some of them are listed below:
* The author must be just **Microsoft** <br> `<authors>Microsoft</authors>`
* The copyright must be **© Microsoft Corporation. All rights reserved.** <

[2018-11-14 23:23] nkolev92 opened #7510 "NuGet 5.0 assemblies to require .NET 4.7.2 (via TFM change)"
All of VS is moving to net472 for dev16.
Our libraries should do the same.

//cc @NuGet/nuget-client @rrelyea @jainaashish

[2018-11-14 23:31] #7112 closed, assigned to rohit21agrawal, PatoBeltran, nkolev92, AbdallahAbuHashem, jainaashish

[2018-11-15 00:37] PatoBeltran commented on #7490
Hey @AlenToma, thanks for providing this data... I was looking at this and it seems like Xamarin is blocking the UI thread while waiting for a background thread to finish. This causes a deadlock and is the reason why you see this hang:

[code]

I'm following up with the Xamarin team so they can take a look at this issue and engage properly, I will keep you posted. Fell free to follow up with them

[2018-11-15 00:45] jainaashish commented on #7510
Somebody has to pick it ASAP. this blocks launching experimental instance for dev branch. So we'd need to explicitly build with MSBuild 15.0 and install the private vsix to test any new code.

[2018-11-15 01:06] nkolev92 commented on #7510
@jainaashish
I'll jump on it today/tomorrow.

[2018-11-15 04:53] AlenToma commented on #7490
thx man i opend a thread in
https://forums.xamarin.com/discussion/144225/visual-studio-2017-version-15-8-9-freeze-on-nuget-installation/p1?new=1

I dont know if its a right place to ask.
anyway thx for the help

[2018-11-15 05:04] nkolev92 commented on #7447
@pombredanne
Yeah we get that, but it's consistent with NPM and other discussed options are not slam dunks.

Furthermore as casing matters, the likelihood of someone typing in the wrong license is decreased.
Furthermore, public feeds should never accept UNLICENSED.
The UI experience also emphasizes when UNLICENSED is used.

[2018-11-15 06:55] jainaashish commented on #2365
Hey Guys, to resolve this issue, current proposal is to introduce a new folder structure `/embed` (open for suggestion on name) inside .nupkg similar to `/lib` where authors can put `embedInteropType` assemblies. These assets will be in new section `Embed` in `project.assets.json` file so that project system knows these would be linked unlike referencing `compile` assets.

Now, there is one open q

[2018-11-15 09:11] Rajkumar-Uppala commented on #7430
@nkolev92 Yes something similar to that

[2018-11-15 09:12] Rajkumar-Uppala commented on #7430
@nkolev92  BTW.. how to verify the assests file?.
Could you please guide me on this. I will also verify the same

[2018-11-15 11:18] pombredanne commented on #7447
My 2 cents is that the fact that it's consistent with NPM which made a fairly bad choice is not a good argument: a mildly popular bad choice does not make it better.
`unknown`, `not-specified`, `proprietary` ... or `no-assertion` ... any of these would be better than `UNLICENSED` IMHO.

[2018-11-15 13:11] maartenba opened #7511 "NuGet plugin credential providers - hide the process window"
When using NuGet plugin credential providers, the plugin process is started and displayed ([here](https://github.com/NuGet/NuGet.Client/blob/3803820961f4d61c06d07b179dab1d0439ec0d91/src/NuGet.Core/NuGet.Protocol/Plugins/PluginFactory.cs#L149)).

Is there a reason for displaying the process window? Could the SDK be updated to set `WindowStyle = ProcessWindowStyle.Hidden` when starting the process?

[2018-11-15 14:04] bergmeister commented on #4491
I have the same problem too because I can only migrate to PackageReference but not the new csproj format because XAML is not yet supported in the new csproj system. So I wrote a small `PowerShell` function:
[code]

[2018-11-15 14:31] JeffRausch opened #7512 "Nuget restore failing and timing out"
This is similar to this issue: [Nuget restore failing and timing out](https://developercommunity.visualstudio.com/content/problem/324392/nuget-restore-failing-and-timing-out.html)

Nuget restore is timing out on one of our solutions after 2 minutes.  I've tried using multiple versions of Nuget and still get the same issue.   This is the only solution I've encountered this issue with, possibly beca

[2018-11-15 15:13] GeorgeAlexandria opened #7513 "Error during restoring packages for solution with pcl project"
Hi,

I'm used **nuget.exe -v4.5**, but suppose that it's reproduced on the latest version.

I received error below during restoring solution with `PCL` project:
[code]

I was surprised because the current portable framework has framework in the relevant profile.
After a couple investigation of nuget.exe I found that it [doesn't look around an optional profile](https://github.com/NuGet/NuGet.Client

[2018-11-15 15:30] voroninp commented on #3891
@houseofcat You just don't understand the point. It's the way of coping with dll-hell: they just decided not to include dll's at all. =)

I had a faint hope .NET will be really cross platform without becoming a JVM. Alas.

[2018-11-15 15:47] AArnott commented on #2365
I fully support the `/embed` folder structure solution.

Regarding the `IncludeAssets` question, I think we should let the `compile` value control both `lib` and `embed` folder propagation. My reasons are:
1. Most people aren't familiar with embedding assemblies. So adding an option would be making prominent something that most people won't understand.
1. For all practical purposes, an embedded as

[2018-11-15 17:44] jainaashish commented on #2365
`if they just wanted to avoid embedding the types because they didn't need them, the compiler already only embeds types that are actually used by that assembly, so nothing will be embedded unless they actually need it`

Good to know this, if that's the case then I agree `compile` can work for both `lib` as well as `embed` and consumer doesn't need to know underline implementation of reference vs l

[2018-11-15 18:39] nkolev92 commented on #7452
After some discussions we decided to a simple modal window instead of expanding the license acceptance window because of the plethora of accessibility issues we have with the current approach.

Updating Pato's comment with the correct information.

[2018-11-15 19:19] livarcocc opened #7514 "dotnet pack fails with paket and .NET Core 2.1.500"
_From @dbrattli on November 15, 2018 17:33_

## Steps to reproduce

Add Paket to any project and run `dotnet pack` will fail after installing .NET Core 2.1.500. The error message is `The provided SymbolPackageFormat value  is invalid.`. It seems to be breaking since the new property does not have a default.

This issue is tracked in the Paket manager at: https://github.com/fsprojects/Paket/issues/

[2018-11-15 19:33] PatoBeltran commented on #7490
No problem! I will close this issue in favor of the one you created in the Xamarin forum. I will update this threat if I get any update from the Xamarin team.

[2018-11-15 19:33] #7490 closed, assigned to nobody

[2018-11-15 19:54] fhanggi commented on #545
Please enable nuget packages for sql projects. We have a shared dacpac file that is referenced in all sql projects. It's such a pain to update to the latest version of that shared dacpac. nuget would make that a lot easier. thank you.

[2018-11-16 02:00] dominoFire commented on #7504
Thanks for pointing this out, @pascalberger . In order to keep the issues more manageable, I'll close this issue and track the conversation on the previous issue #7262

[2018-11-16 02:00] #7504 closed, assigned to nobody

[2018-11-16 03:40] PaulSorauer commented on #545
This. Please. Yes. Just do it.

[2018-11-16 06:05] nkolev92 opened #7515 "Fix license link generation"
The url was being incorrectly encoded when a plus was in question.
The encoding strategy by the client was inconsistent with the decoding strategy by IIS, leading to where `MIT` and `MIT+` were indistinguishable.

//cc @agr

[2018-11-16 07:24] livarcocc opened #7516 ".NET SDK 2.1.500 Auth problem with NuGet Source with space in its name (the credentials are not encoded)"
_From @jarz on November 14, 2018 17:55_

# Unable to dotnet restore from a private VSTS feed

In Azure DevOps (VSTS) I'm unable to use the latest SDK (2.1.500) to build my project, as it relies upon a package in my private feed. However, if I use SDK 2.1.403 the build succeeds.

I see a `401 Unauthorized` in the log. My account has the _Package Management_ license assigned (and it'd be a `402 Paym

[2018-11-16 07:24] livarcocc commented on #7516
_From @karelz on November 14, 2018 18:6_

What is the Azure DevOps environment? Are you able to reproduce it in isolation / locally?
Is there any proxy set up there?

If you don't know the answer or if you are unable to isolate the repro to local environment, I would suggest to contact Azure DevOps support first.

[2018-11-16 07:24] livarcocc commented on #7516
_From @jarz on November 14, 2018 18:53_

`dotnet restore` works fine locally.

Considering the build works if I use 2.1.403 instead of 2.1.500, there must be a breaking change somewhere...

[2018-11-16 07:24] livarcocc commented on #7516
_From @karelz on November 14, 2018 18:58_

Possibly (there could be some misconfiguration which just "happened to work by accident").
The key is narrowing down what triggers the problem. Without that information it is not actionable :(

[2018-11-16 07:24] livarcocc commented on #7516
_From @jemmfi on November 16, 2018 6:48_

I have the same problem. "dotnet restore" fails, if my .NET Core Tool Installers installs Core SDK 2.1.500 (this is in Azure DevOps / cloud).

When I change the Code SDK version to  2.1.403, the same pipeline works with no other changes. This happens in two different build pipelines that I have tried. However, nuget.org -packages are restored normally.

Th

[2018-11-16 08:04] forki commented on #7514
som the issue is that the new MSBuild NuGet pack task comes with a new property for symbols file endings, but this property does not have a default. This is a breaking change since now older builds that use the pack task just fail.

Unfortunately we can't just add the property to our targets file since the old task doesn't have that property and MSBuild will therefor fail on SDK < 2.1.500.

So Pak

[2018-11-16 12:23] DoCode opened #7517 "VS/dotnet.exe/nuget.exe/msbuild.exe restore doesn't use credentials when source name contains a whitespace"
## Details

NuGet version: 4.9.0.5672

OS version: win10 v1809

Worked before? If so, with which NuGet version: 4.8.1

## Detailed repro steps so we can see the same problem

1. `nuget.exe list xxx` prompt for credentials, but was configured in `nuget.config`

2. `nuget.exe sources` shows feed with a name that contains a whitespace

3. Update credentials with `nuget sources update -name 'sample fe

[2018-11-16 12:46] mbp commented on #7516
Experiencing the same issue.

[2018-11-16 15:18] Kvikal commented on #7516
Also experienced this issue, works well after downgrade back to 2.1.403-1.

[2018-11-16 15:44] ShiloOlga opened #7518 "Nuget CLI restore with provided user credentials fails to authenticate."
NuGet version '4.8.1.5435'
msbuild version '15.9.20.62856'
OS version 'win10 pro v1803 (17134.285)'

### **Problem**

Nuget CLI cannot restore private package with all credentials provided in configuration while VS 2015 successfully restores it with Package Manager.

 Package Manager console asks for Microsoft authentication in Login dialog and stores token (all following restorations run without

[2018-11-16 17:11] thenderson21 opened #7519 "--interactive support for dotnet nuget push"
When I try to push a Nuget to Azure Artifacts using `--interactive` parameter it gives the following error on the Latest Mac:

[code]

but `--interactive` shows up as a valid parameter in the help.

[code]

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

dotnet nuget

NuGet version (x.x.x.xxx):

dotnet --version  2.1.500 and 2.2 preview

VS version (if appropriate):

[2018-11-16 17:46] yangs2016 commented on #7216
Same here - just closed VS and re-opened; worked for me now.

[2018-11-16 19:15] zivkan opened #7520 "SDK pack missing language"
We had a customer ask (NuGet/docs.microsoft.com-nuget#1165) to be able to specify the [nuspec language tag](https://docs.microsoft.com/en-us/nuget/reference/nuspec#language) when packing a SDK project.

From what I can see, the [pack task currently does not have any binding for language](https://github.com/NuGet/NuGet.Client/blob/e2a9cd92a7e07d0fe451fb3c67e138342816ef22/src/NuGet.Core/NuGet.Build.

[2018-11-16 19:52] jainaashish commented on #2365
After some more discussion with the current proposal, the other concern is in order to author a new interop package which works for `packages.config` as well as `PackageReference`, package author will need to duplicate interop assemblies in `/lib` (for PC) and `/embed` (for PR) which doesn't seem like an ideal solution.

So another proposal is to add a new value to existing metadata [`PackageType`

[2018-11-16 20:25] nkolev92 commented on #7519
Thanks for creating this. It is a bug.

The arguments are not being forwarded.
https://github.com/dotnet/cli/blob/release/2.1.5xx/src/dotnet/commands/dotnet-nuget/NuGetCommandParser.cs

//cc @livarcocc @rrelyea

We should discuss the timeline for this fix.

[2018-11-16 20:31] nkolev92 commented on #2365
I disagree about PackageType being clearer.
PackageType is this scenario is a misuse of the feature.

PackageType is used to call out more fundamental different between packages, examples being "libraries" vs "tools" vs "chocolatey packages" etc.

In the end, interops are part of compilation, which is exactly what libraries or the "dependency" package type is for.

[2018-11-16 22:34] PatoBeltran commented on #7480
Closing as all PRs have been merged

[2018-11-16 22:34] #7480 closed, assigned to PatoBeltran

[2018-11-16 22:59] nkolev92 commented on #7516
@mbp @Kvikal Is anyone experiencing this issue locally?
//cc @zjrunner

[2018-11-16 23:02] PatoBeltran commented on #7517
Hey @DoCode, thanks for opening the issue... We did a bunch of work around nuget.config in 4.9, so this might be a think we missed. I will look into reproing it and looking for the reason for it. In the meantime a quick solution could be to avoid using spaces in your sources names, that should fix your issue.

[2018-11-17 00:25] rrelyea commented on #7519
I'd love to see this make 2.1.50x -- if we fix ~next week, would that be 2.1.501 @@livarocc ?

[2018-11-17 00:31] rrelyea commented on #5556
@jainaashish @nkolev92 @dsplaisted @nguerrera @livarcocc @Pilchie - we should likely discuss this request in a Monday sync.

[2018-11-17 00:32] livarcocc commented on #7519
Do you need a train made for this or are you ok jumping on whatever train we have next? 2.1.501 seems like it but we will likely only ship in January now.

cc @leecow

[2018-11-17 00:42] rrelyea commented on #6518
@karann-msft  - The PR has comments, which I agree about that the:
Microsoft holds the copyright for this NuGet package.
.NET Foundation holds the copyright to the source.
in description is really clumsy.
 perhaps we can talk monday morning.

[2018-11-17 18:19] drauch commented on #6104
I'm new to this proposal, just read on it on the blog. The thing I don't get: what's wrong with adding the PDBs to the original NuGet package? We've done that for years and haven't got any problems with it. Is this discouraged now?

[2018-11-17 19:18] dotMorten commented on #6104
You're bloating the package for no reason. Also forcing a larger deployment on others  who might not care about 3rd party symbols but are only interested in symbols for their own code.

[2018-11-17 23:49] jez9999 commented on #3110
Amazing that this hasn't been fixed yet.

[2018-11-18 11:02] #7442 closed, assigned to nobody

[2018-11-18 15:46] adamralph commented on #5132
I really need this too.

[2018-11-18 22:40] bensongathee commented on #6887
Is there any resolution to this issue? I have to restart my laptop each and everytime I run the "dotnet run" command on my laptop

[2018-11-18 23:23] JamesNK commented on #6104
How do snupkg files relate to package signing? If the main package is signed then should both be signed?

Also should this guidance be changed - https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/nuget#symbol-packages

Is there any reason to still have PDB files in the main package?

[2018-11-18 23:27] JamesNK opened #7521 "License element documentation"
Where is the documentation for the license element? I couldn't find any on the [nuspec reference](https://docs.microsoft.com/en-us/nuget/reference/nuspec).

[2018-11-19 00:05] karann-msft commented on #7521
here you go - https://docs.microsoft.com/en-us/nuget/reference/nuspec#license

[2018-11-19 00:08] JamesNK commented on #7521
Thanks!

btw you should audit your examples for licenseUrl and replace them with the new element, e.g. https://docs.microsoft.com/en-us/nuget/reference/nuspec#example-nuspec-files

[2018-11-19 00:24] clairernovotny commented on #6104
IMO, PDB's should be in the main package, always. It's much faster to have the pdb's around instead of downloading on-demand. Also, some things like .NET Native need the symbols to be on disk in advance in order to munge the PDB's to match the native output. Symbol server does not work for that scenario.

I believe snupkg should only be used for full pdb's, which are bigger, but that's the one typ

[2018-11-19 00:30] karann-msft commented on #7521
Thanks James. I have PRd the fix for that example too. Feel free to close the issue.

[2018-11-19 00:44] #7521 closed, assigned to nobody

[2018-11-19 01:10] jwdonahue commented on #912
My two cents, or whatever else it may be worth.

Ranges

    [1.0.0, 1*]   // Highest available, including 1.0.0 and any major version 1, including prereleases.
    [1*]            // Same as [1.0.0, 1*], obviously.
    [1*)            // Appears to be invalid.
    [*,1*)          // Only 0.y.z, including prerelease tagged 0.y.z.
    [0*,)           // Same as [*,1*).
    [,1*)           // Same a

[2018-11-19 01:24] JamesNK commented on #6104
Interesting. I'm going to create a PR in the library guidance. I'll advertise it and see what direction the discussion and consensus goes.

[2018-11-19 01:33] clairernovotny commented on #6104
@JamesNK Can you please post the issue link here when you do?

[2018-11-19 01:49] JamesNK commented on #6104
https://github.com/dotnet/docs/pull/9110

[2018-11-19 01:49] JamesNK commented on #6104
[Update symbol packages guidance](https://github.com/dotnet/docs/pull/9110)

[2018-11-19 03:27] v-luzh opened #7522 "[Doc] Project-level NuGet.Config setting method should not be available for “Configuring NuGet behavior”"
## Detailed repro steps
1. Open the doc “[Configuring NuGet behavior](https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#changing-config-settings)”.
2. Check the content of this page.
## Expected
Project-level NuGet.Config setting should not be available for “Configuring NuGet behavior” since VS doesn't support it.
## Actual
Project-level NuGet.Config setting method

[2018-11-19 05:29] nkolev92 commented on #7467
Marking it as 5.0 since there's 1 item that was not completed.

[2018-11-19 13:48] dlidstrom commented on #3281
I did the same as @Wua4 and got a new `NuGet.Config`. It had these lines removed:

[code]

Now it works fine!

[2018-11-19 14:05] clairernovotny opened #7523 "Unhandled exceptions in V2FeedParser"
I'm seeing several unhandled exceptions in NuGet Package Explorer that come from NuGet code.

Stack traces posted.

[code]

[code]

[code]

[2018-11-19 14:23] clairernovotny commented on #7523
If the task is canceled, nothing handles the task result by awaiting it:
https://github.com/NuGet/NuGet.Client/blob/5d1af18e560b5f381626b5a7e9ce2acacb6211db/src/NuGet.Core/NuGet.Protocol/LegacyFeed/V2FeedParser.cs#L451

Could be something else in there too.

[2018-11-19 15:29] Luiz-Franco commented on #7516
Same issue here with `dotnet restore` and `dotnet push`

[2018-11-19 16:24] quasarea commented on #7505
I have a pr for that, but can't getting access denied while creating a branch 'dev-quasarea-errorUnsafePackageEntry'

[2018-11-19 16:58] nbarnwell commented on #5963
When are we likely to find out what the alternatives are to install.ps1/uninstall.ps1? Especially since the (STILL undocumented) suggestion of using msbuild tasks run, by definition, at build time?

[2018-11-19 17:01] nbarnwell commented on #5963
The best approach would be to put install.ps1/uninstall.ps1 functionality back in as it was, since it's understood, then build something to replace it on a reasonable timeline for you to write some documentation and us to move to the new way. At some point in the future you could then totally get rid of the old way. The reason people are upset is because you've taken away ALL the ways to do import

[2018-11-19 17:13] nbarnwell commented on #6330
This is pretty poor show. I take the arguments why arbitrary scripts seem bad, but you shouldn't take them away unless there's another option available. Backwards-compatibility only needs to last long enough for people to have a reasonable amount of time to move to the new way of doing things, but you do need to give us a chance rather than just pulling the rug out from under us with no alternativ

[2018-11-19 17:25] nkolev92 commented on #7522
Small correction: VS never supported project-level configs.
I have edited the original issue.

Related: https://github.com/NuGet/Home/issues/6746
//cc @rrelyea

[2018-11-19 17:27] angusbreno commented on #3891
Holly mother... With over 1200+ issues with nuget this will make another birthday...

[2018-11-19 17:31] nkolev92 commented on #7035
Hey @phillip-haydon
I'm just closing the loop on this specific issue.
Happy to help if you have any further questions.

[2018-11-19 17:31] #7035 closed, assigned to nobody

[2018-11-19 17:32] nkolev92 commented on #7516
@Luiz-Franco Are you seeing this locally?

[2018-11-19 17:54] #7515 closed, assigned to nkolev92

[2018-11-19 19:34] nkolev92 commented on #7523
The first stack trace looks like it's always been a problem.

https://github.com/NuGet/NuGet.Client/blob/5f05060cbcc7e2e1ddd36cf9e7fcab186a424087/src/NuGet.Core/NuGet.Protocol/Model/PackageSearchMetadataV2Feed.cs#L127
The OnDemandParsedVersions will always be null.

[2018-11-19 20:03] livarcocc opened #7524 "Regression in .NET SDK 500: 'dotnet tool install' fails with 401 (Unauthorized) when there is a private feed in NuGet.config"
_From @hrumhurum on November 17, 2018 1:29_

## Steps to reproduce

1. Ensure .NET SDK 2.1.500 is installed
2. Ensure there is a private feed in NuGet.config that requires authentication
3. dotnet tool install -g Contoso.FooBar

## Expected  behavior
Tool 'contoso.foobar' (version '1.2.3') was successfully installed.

## Actual behavior
C:\Program Files\dotnet\sdk\2.1.500\NuGet.targets(114,5): err

[2018-11-19 20:03] livarcocc commented on #7524
Does it work if you just run `dotnet restore` on a project? Could you try that and let us know what happens.

Alternatively, if this is a VSTS feed, can you run `dotnet restore --interactive` to authorize the feed and then try to tool install?

[2018-11-19 20:03] livarcocc commented on #7524
_From @hrumhurum on November 17, 2018 10:6_

`dotnet restore` results in a similar error:

  Retrying 'FindPackagesByIdAsyncCore' for source 'https://rd.contoso.com:12345/nuget/feed/FindPackagesById()?id='contoso.foobar'&semVerLevel=2.0.0'.
  **Response status code does not indicate success: 401 (Unauthorized).**
C:\Program Files\dotnet\sdk\2.1.500\NuGet.targets(114,5): error : Failed to retrieve