[2017-01-04 23:34] #3751 closed, assigned to mishra14

[2017-01-05 00:33] #3665 closed, assigned to rohit21agrawal

[2017-01-05 00:34] #4063 closed, assigned to rohit21agrawal

[2017-01-05 00:35] rohit21agrawal opened #4201 "complete implementation of PackNuspecTask"
The implementation of PackNuspecTask target is just  a stub right now, and needs to be plumbed in correctly to pack a nuspec file.

[2017-01-05 00:39] natemcmaster commented on #4201
👀

[2017-01-05 06:50] emgarten commented on #4178
NuGet/NuGet.Client@e0db9783fc3f3a4586397d922075f1f9a3217419

[2017-01-05 06:50] #4178 closed, assigned to emgarten

[2017-01-05 08:53] v-luzh opened #4202 "[Test Failure] Error FS0222 occur after installing package 'FSharp.Net.Http' into F# Console App"
**NuGet Version:** NuGet 4.0.0-RC2-2098
**VS Version:** D15PreRel 26104.01
**OS Version:** Windows 10 RS1_Release 14393.693.161220-1747

**Repro Steps:**
1.	New an F# Console Application template.
2.	Build the project, no error.
3.	Open ‘Manage NuGet Packages…’ and click ‘Browse’ tab.
4.	Search and install package ‘FSharp.Net.Http’.
5.	Build the project again.

**Expected Result:**
No error occur

[2017-01-05 10:27] zchpit commented on #2880
In my computer I should go to catalog:
C:\Users\myUserName\AppData\Roaming\NuGet

And edit NuGet.xml file:

Working file looks like this:

[Uploading NuGet.txt…]()

[2017-01-05 14:25] JohnGalt1717 commented on #3854
Can someone tell me what I need to put in the .csproj for a multi targeted project for these two properties for .net 452 and a .net standard 1.3 library?

Thanks!

[2017-01-05 17:58] rrelyea opened #4203 "[VSFeedback] nuget configuration is invalid"
vsfeedback item: 711652
https://developercommunity.visualstudio.com/content/problem/4784/nuget-configuration-is-invalid.html

I am creating a brand new, completely vanilla "Azure Cloud Service".  While still in the solution creation wizard, I add an "ASP.NET Web Role".  For the web role, I select an "Azure API App", which adds folders and core references for "Web API".  Once the solution has been

[2017-01-05 18:17] #4191 closed, assigned to zhili1208

[2017-01-05 18:45] #4174 closed, assigned to nobody

[2017-01-05 19:11] rrelyea opened #4204 "[vsfeedback] While using Package Manager Console, the 'Enter' key may not work at times."
[anangaur] Changed the title from "[vsfeedback] pmc will throw null ref when there is project which contains v1 project.lock.json"

vsfeedback item: 718874 (talk to me about how to look up internally)
https://developercommunity.visualstudio.com/content/problem/6350/package-manager-console-freezes.html

customer title: package manager console freezes
Tools -> Nuget package manager -> Package Manage

[2017-01-05 19:14] rrelyea opened #4205 "perf - pmc is expensive to instantiate in vs2017"
Nuget Power Console tool window in Dev15 RC is expensive to initialize
tracked by internal bug: 298819

Please see email thread and investigate -- nice to know if we have a regression from vs2015 or not...and any low hanging fruit.

[2017-01-05 19:44] emgarten opened #4206 "Support for v3 versioned services"
Add support for selecting v3 services based on the client version. The previous model used hardcoded type strings which made it impossible for a server to optimize or support or new feature without breaking older clients unless the client added a new type.

Existing services will continue to work the same, this feature just allows a new service type to take precedence over the current hardcoded li

[2017-01-05 19:44] emgarten commented on #4206
NuGet/NuGet.Client@358f3b564b297f9a6db2094984e2f01fcde6936b

[2017-01-05 19:44] #4206 closed, assigned to emgarten

[2017-01-05 20:15] maartenba commented on #4206
Is there a spec of what version means which features are available? his will be useful for both server implementors as well as alternate client implementors.

Instead of this versioning aproach, can the `index.json` perhaps have a list of capabilities instead? E.g.

[code]

or just:

[code]

[2017-01-05 20:58] emgarten commented on #4206
@maartenba Those work well for deciding what to use in new clients. This issue is trying to solve the reverse problem, when the client has already shipped and can't be changed how do light up new features in the client or redirect client versions to different endpoints after making a later change to the server that breaks older clients.

Adding support for a new type in the client still works grea

[2017-01-05 21:02] maartenba commented on #4206
Righto! Thanks for clarifying

[2017-01-05 21:03] maartenba commented on #4206
Will this apply to all resources?

[2017-01-05 22:09] #4134 closed, assigned to jainaashish

[2017-01-05 22:34] rrelyea commented on #4166
This sounds like a good capability to add. Let's consider right after 4.0.

[2017-01-05 22:35] rrelyea commented on #4059
Once the next RC update goes public, would be great to continue to see if this issue is still a problem or not.

[2017-01-05 22:39] rrelyea commented on #4054
Important to do, but won't be done by VS2017. Should consider immediately after.

[2017-01-05 22:42] ericstj opened #4207 "NuGet restore is selecting compile assets from runtime section."
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
dotnet.exe

NuGet version (x.x.x.xxx):
4.0.0.2067

dotnet.exe --version (if appropirate):
1.0.0-preview5-004275

VS version (if appropriate):
N/A

OS version (i.e. win10 v1607 (14393.321)):
 win10 v1607 (14393.577)

Worked before? If so, with which NuGet version:
don't know

## Detailed repro s

[2017-01-05 23:40] natemcmaster commented on #4190
cc @DamianEdwards

[2017-01-06 00:23] rrelyea commented on #4203
This could be related or not? Please see internal bug 288855 also which says:
Updated repo steps to something simpler.
It seems like this is actually to do with an issue with the internal initialization of NuGet when a solution is first opened. When a the first/only project in the solution doesn't support NuGet packages, any subsequent projects that are added which _do_ support NuGet packages fail

[2017-01-06 00:26] rrelyea opened #4208 "Error list has error after build solution which unload the referenced project"
d15prerel build number: 25824.05
internal bug: 284184

Steps to reproduce:
1.       Launch VS.
2.       Create a blank solution, add a  C++ Blank App(Universal Windows) project  name “aa” and a  C++ Windows Runtime Component(Universal Windows) project named “bb” to solution.
3.       Add reference “bb” to project “aa”.
4.       Unload project “bb”.
5.       Build Solution.

Expected Result:  Build

[2017-01-06 00:33] rrelyea commented on #4002
Internal bug 299104 should also be addressed by this work.

[2017-01-06 01:04] rrelyea commented on #4145
Per email thread, appears to be blocking the VS UI for Pack. @rohit21agrawal - let's discuss how hard this is to land (and eta).

[2017-01-06 01:26] emgarten commented on #4206
Yep, all resources that are used in the client today

[2017-01-06 01:42] rrelyea opened #4209 "[Watson] HANG: Microsoft.VisualStudio.ProjectSystem.VS.Implementation!ProjectConfigProviderBase.__c__DisplayClass39_0._Microsoft.VisualStudio.Shell.Interop.IVsCfgProvider2.GetCfgOfName_b_"
Please see internal bug 296572 for details and heap dumps.

Just noticed that bug comments believe this is a dupe of CPS JTF issue -- #4185

[2017-01-06 02:42] balachir commented on #4190
+1 on a better error message when doing this from the Manage NuGet packages UI

Rob suggested it might be possible to get this working from the Install-Package power shell command for RC3 / RTM. @rrelyea ?

[2017-01-06 02:55] KristinXie1 commented on #3884
This issue is still repro on build [d15prerel.26105.05](\\cpvsbuild\drops\VS\d15prerel\products\26105.05\bootstrappers\Enterprise\vs_enterprise.exe).

[2017-01-06 02:56] KristinXie1 commented on #3633
This issue is still repro on build [d15prerel.26105.05](\\cpvsbuild\drops\VS\d15prerel\products\26105.05\bootstrappers\Enterprise\vs_enterprise.exe).

[2017-01-06 02:58] #3768 closed, assigned to emgarten

[2017-01-06 03:42] gulbanana commented on #4054
:( This is going to block vs2017 for us, then. Will there really be no way to create nupkgs depending on netstandard projects before vs2018/19?

[2017-01-06 04:27] rohit21agrawal commented on #4054
@gulbanana we will ship an update to NuGet much before the next version of NuGet. You won't have to wait too long

[2017-01-06 04:40] gulbanana commented on #4054
OK, that's a relief.

[2017-01-06 08:45] emgarten commented on #4207
Looks like you found the workaround, restore will try ``ref`` first and if it doesn't exist it will go on to use ``lib`` and ``runtimes`` to find compile assets. I've made a fix to limit this search to just ``ref`` and ``lib``.

I believe this has always been the restore behavior. Looking at existing runtime packages I see they contain a ``ref`` with ``_._``.  Do you know of many packages with onl

[2017-01-06 14:55] lovelycodex opened #4210 "Support VS preprocessor variables in packages.config files"
Does exist right way to use preprocessor variables in packages.config files?
Like:
`<package id="$name$" version="$version$" targetFramework="$framework$" />
`
VS 2015

[2017-01-06 15:35] SayliS commented on #4085
I spent 2 hours trying to understand what is going on. Can you please fix it or throw some reasonable error/exception please.

[2017-01-06 17:10] TrestleMonkey opened #4211 "Nuget v3.5.0 push to IIS hosted nuget.server fails with 500 internal server error"
## Details about Problem

Just upgraded to nuget,exe V3.5.0 on Win10 and pushing a package to a self-hosted nuget repo (on IIS). It now fails every time but works perfectly with nuget v3.4.4.

NuGet.Server v2.8.60318.667

[code]

Exactly the same package/server but now with Nuget.exe V3.4.4:

[code]

[2017-01-06 17:55] jainaashish commented on #3900
This is not needed for legacy csproj project system since IVsBuildPropertyStorage takes care of it.

[2017-01-06 18:08] emgarten commented on #4210
This isn't a feature today for packages.config. Installing/updating packages requires adding and removing references, just changing the packages.config file isn't enough.

You might be able to achieve this using Visual Studio 2017 which will support ``PackageReference`` elements in project files. These can be created dynamically in MSBuild.

[2017-01-06 18:30] #4101 closed, assigned to mishra14

[2017-01-06 18:31] sudipta-chaudhari opened #4212 "VSTS internal feed package restore error on VS2015: array must contain atleast one element"
I have published a simple NuGet package containing 4 .cs files on VSTS and download and install it successfully from VSTS Internal NuGet feed. While trying to update or uninstall the package, I get the error :  "The array must contain at least one element". If I delete the classes manually and packages.config and then install the package freshly again, it succeeds but the Update/Uninstall fails al

[2017-01-06 18:35] #3900 closed, assigned to jainaashish

[2017-01-06 18:49] #4145 closed, assigned to rohit21agrawal

[2017-01-06 19:31] mishra14 commented on #3591
Per team discussion we will consider this in future based on feedback.

[2017-01-06 20:00] rrelyea commented on #4207
@ericstj - what is the impact if this doesn't make 4.0 rtm? very late for a change.

[2017-01-06 20:08] ericstj commented on #4207
Given there's a workaround I think its OK to postpone but it should be fixed.  I've stumbled on it multiple times.

[2017-01-06 20:14] ericstj commented on #4207
Thinking about this more, it wasn't hit in NuGet-3/xproj-CLI because the RID-less target would be used for compile.  In NuGet-4/MSBuild it's being hit because https://github.com/dotnet/sdk/issues/592.  If this isn't fixed and https://github.com/dotnet/sdk/issues/592 isn't fixed then you'll expose this bad behavior.  If either one is fixed I think you may preserve correct behavior.

[2017-01-06 20:21] zhili1208 commented on #4194
https://github.com/NuGet/NuGet.Client/commit/d927c265e2061bc67bdf4e7eedce6004eba2dacb

[2017-01-06 20:21] #4194 closed, assigned to zhili1208

[2017-01-06 20:21] #4201 closed, assigned to rohit21agrawal

[2017-01-06 20:23] joelverhagen commented on #3664
Closing until we have a trace of network traffic or can repro it locally. Re-open if desired!

[2017-01-06 20:23] joelverhagen commented on #2793
Fixed with https://github.com/NuGet/NuGet.Client/pull/1035. Thanks @tmds!

[2017-01-06 20:23] #2793 closed, assigned to nobody

[2017-01-06 20:24] joelverhagen commented on #3229
Fixed with https://github.com/NuGet/NuGet.Client/pull/1035. Thanks @tmds!

[2017-01-06 20:24] #3229 closed, assigned to nobody

[2017-01-06 20:24] joelverhagen commented on #3897
Fixed with https://github.com/NuGet/NuGet.Client/pull/1035. Thanks @tmds!

[2017-01-06 20:24] #3897 closed, assigned to joelverhagen

[2017-01-06 20:31] rrelyea commented on #3707
Please investigate fix.

[2017-01-06 20:36] rrelyea commented on #4035
@mishra14  - please investigate this issue, understand the problem, then we'll discuss the timeline for fix.

[2017-01-06 20:37] rrelyea commented on #4129
Please investigate this customer scenario.

[2017-01-06 20:39] Inumedia commented on #2793
Woohoo! Thanks :smile:

[2017-01-06 20:40] rrelyea commented on #3863
@zhili1208  - please check out the internal bug for additional repro info. this may be a dupe of the other issue on your plate now.

[2017-01-06 20:43] rrelyea commented on #3916
Please consider importance / timeframe.

[2017-01-06 20:45] rrelyea commented on #3873
once your other things are done, can you examine the current status of those perf regresssion.s

[2017-01-06 20:46] rrelyea commented on #3927
please investigate, and let's have an impact/timeframe discussion.

[2017-01-06 21:44] rohit21agrawal opened #4213 "nuget restore resolver does not take the nearest package"
To repro this issue, build the CLI repository but remove the Microsoft.Build.Framework package reference from dotnet-cli-build.csproj

[code]

[2017-01-06 21:45] rrelyea opened #4214 "[vsfeedback] .net core web project from vs2015 - dotnet watch tool hangs restore"
see internal bug 295173 and the related vsfeedback item (where there is a repro project)

[2017-01-06 21:49] rrelyea opened #4215 "[vsfeedback] Autmatic Restore for Nuget Packages on Build"
see internal bug 342838 - and corresponding vsfeedback issue.

[2017-01-06 21:51] rrelyea opened #4216 "[vsfeedback] build errors are not displayed as errors in case of reference issues"
please see internal bug 296518 and the corresponding vsfeedback item. Some details:

[2017-01-06 21:54] #3920 closed, assigned to joelverhagen

[2017-01-06 21:54] #3974 closed, assigned to joelverhagen

[2017-01-06 21:54] rrelyea opened #4217 "[vsfeedback] Cannot resolve nuget packages on new project (needs to restart visual studio)"
see internal bug 294597 and corresponding vsfeedback item

[2017-01-06 21:56] #3785 closed, assigned to alpaix

[2017-01-06 21:56] #4038 closed, assigned to alpaix

[2017-01-06 21:59] rrelyea opened #4218 "[vsfeedback] [Feedback] NuGet Package (HtmlAgilityPack.Core) to my .NET Core Console application intellisense stopped working"
see internal bug 293979 and its corresponding vsfeedback item.

[2017-01-06 22:00] rrelyea opened #4219 "[vsfeedback] Remove NuGet package not noticed by editor"
please see internal bug 293980 and corresponding vsfeedback item.

[2017-01-06 22:05] rrelyea opened #4220 "[vsfeedback] update tab doesn't work well in .net core projects"
please investigate internal bug 293945 and corresponding vsfeedback item.

[2017-01-06 22:11] rrelyea opened #4221 "[PerfWatson] UIDelay: nuget.protocol.core.v3.dll!NuGet.Protocol.HttpHandlerResourceV3Provider+CredentialPromptWebRequestHandler+<SendAsync>d__.MoveNext"
please investigate internal bug 204543.

[2017-01-06 22:14] rrelyea opened #4222 "[PerfWatson] UIDelay: nuget.packagemanagement.visualstudio.dll!NuGet.PackageManagement.VisualStudio.VSSolutionManager+<<EnsureSolutionIsLoaded>b___0>d.MoveNext"
please investigate internal bug 297120

[2017-01-06 22:18] #3592 closed, assigned to mishra14

[2017-01-06 22:22] rrelyea opened #4223 "[Watson] clr20r3: CLR_EXCEPTION_System.ArgumentNullException_80004003_NuGet.PackageManagement.UI.dll!Unknown"
please investigate internal crash bug 364015

[2017-01-06 22:25] rrelyea opened #4224 "Create website use server HTTP or FTP, PMC Show error in output window - not a regression"
please investigate internal bug 297509
(also collect info - is this a new issue with VS2017 or did it happened in VS2015?)

[2017-01-06 22:27] rrelyea opened #4225 "NuGet causes VS hang while performing on-build restore"
please investigate internal bug 374623 (several dupes)
originally: 294056

[2017-01-06 22:35] rohit21agrawal commented on #3518
this has already been implemented for 4.0.0-rc3

[2017-01-06 22:35] #3518 closed, assigned to rohit21agrawal

[2017-01-06 22:37] emgarten opened #4226 "UWP PackageReference projects fail to build with contentFiles"
ContentFiles are imported by both the build task and nuget props.

![capture](https://cloud.githubusercontent.com/assets/6381138/21735292/8a3b4afc-d41d-11e6-8169-ed24c993c6bf.PNG)

[2017-01-06 23:08] #3921 closed, assigned to jainaashish

[2017-01-06 23:09] rrelyea commented on #3804
duplicate of https://github.com/NuGet/Home/issues/4014

[2017-01-06 23:09] #3804 closed, assigned to alpaix

[2017-01-06 23:23] blackdwarf opened #4227 "NuGet UX in VS shows the metapackage"
When you create a 1.0.1 .NET Core project in VS2017 and click on manage nuget packages, the UX shows the metapackage as updateable from 1.0.1 to 1.1.0. This should not happen with the newest csproj projects.

/cc @rrelyea

[2017-01-06 23:25] #4226 closed, assigned to nobody

[2017-01-06 23:35] jainaashish commented on #4003
Merged https://github.com/NuGet/NuGet.Client/pull/1031

[2017-01-06 23:35] #4003 closed, assigned to jainaashish

[2017-01-07 00:05] emgarten commented on #4227
This would be fixed by having read only PackageReferences that the UI does not show in updates or allow changes to.

https://github.com/NuGet/Home/issues/4044

[2017-01-07 00:22] mattjohnsonpint opened #4228 "netstandard+PCL (dual targeted) package works locally but not from nuget.org"
I own the package [`GeoTimeZone`](https://www.nuget.org/packages/GeoTimeZone/).  It was previously a PCL, targeting Profile 136.  I recently revised it (v2.0.0) to target .NET Standard 1.0 to add support for .net core on the broadest set of platforms.  However, I didn't want to give up older .net versions (4.0, Silverlight, etc.) since I know I have users on those platforms, so I configured my pro

[2017-01-07 00:46] rrelyea commented on #4227
VS2017 RTM will recommend that 1.0.x users upgrade to 1.1.
#4044 - is an idea, but not a completed design, etc..

[2017-01-07 01:44] ericstj opened #4229 "Order of import has changed in NuGet 2 / 3 / 4"
I'm not sure how actionable this is, but I noticed it today as a breaking change and wanted to make you aware.

In NuGet2 package targets are imported at the end of the project file by NuGet writing them to the targets file based on the order of package install (?)

In NuGet3 package targets are imported near the end of Microsoft.Common.targets via ImportAfter hook.  Order of import of after hook

[2017-01-07 05:49] AArnott commented on #4185
Yes. The CPS JoinableTaskFactory is aware of project locks and can mitigate what would otherwise be deadlocks between code that controls the main thread and code that holds project locks. So when using JoinableTaskFactory.Run or RunAsync, you should use the CPS one when the delegate you pass in may call into CPS code that needs project locks.

[2017-01-07 05:50] AArnott commented on #4185
This is documented, BTW, here: https://github.com/Microsoft/VSProjectSystem/blob/master/doc/overview/threading_model.md

[2017-01-07 16:00] daniel-bytes commented on #2657
I was just experiencing this issue today.  It turns out the issue was that I was connected to a corporate VPN.  If you are having timeout issues restoring packages, definitely make sure there are no VPN connections open, and if so try closing them out and see if that helps.

[2017-01-07 17:39] aL3891 commented on #4059
np!
Any hint on when that might be? :)

[2017-01-07 19:06] rohit21agrawal commented on #4059
We should be able to give you some bits to play with in a week

[2017-01-08 05:48] livarcocc opened #4230 "NuGet fails to restore a project that does not have an explicit package reference"
The SDK now has implicit references to Microsoft.NETCore.App and NETStandard.Library, which means that the basic templates no longer need to reference them. And the goal is to actually not have these packages in the csprojs at all.

However, once we remove them, NuGet will fail to restore these projects.

[2017-01-08 07:41] emgarten commented on #4230
This will be fixed with: https://github.com/dotnet/sdk/issues/537

[2017-01-09 01:52] schellap commented on #4174
Cc @gkhanna79

[2017-01-09 02:00] davkean opened #4231 "Project.json NuGet restore is broken in 26107.1 d15prerel (by LSL change)"
1. Clone this repo to this commit: https://github.com/dotnet/roslyn-project-system/commit/ea525aff55db9e7c0cd68ca4abecf18d76e5722c
2. From a VS command prompt, run build.cmd from the root (notice that builds succeeds)

This does a restore with NuGet.exe 3.6.0.1954

3. Open src\ProjectSystem.sln (build 26107.1 d15prerel)
4. Restore at Solution
5. Build

Expected: No errors
Actual: 5000 errors

If I

[2017-01-09 06:05] emgarten commented on #4174
I've checked in a fix to make the Root property public on the VersoinFolderPathResolver.

[2017-01-09 08:04] v-luzh opened #4232 "[Test Failure] Build error occur after installing a package with ‘PackageReference in project file’ selected as package management format"
**NuGet Version:** NuGet 4.0.0-RC3-2188
**VS Version:** D15PreRel 26108.00
**OS Version:** Windows 10 RS1_Release 14393.722.170106-1842

**Repro Steps:**
1.	New a Visual C#->Windows Classic Desktop->Console App (.NET Framework) template.
2.	Right-click on the project and click ‘Manage NuGet Packages…’.
3.	Try to install package 'Newtonsoft.Json 8.0.2'.
4.	Select ‘PackageReference in project file’

[2017-01-09 09:04] v-luzh opened #4233 "[Test Failure] Build error MSB4018 occur after updating package ‘Microsoft.NETCore.App’ in .NET Core Console templates"
**NuGet Version:** NuGet 4.0.0-RC3-2188
**VS Version:** D15PreRel 26108.00
**OS Version:** Windows 10 RS1_Release 14393.722.170106-1842

**Repro Steps:**
1.	New a Visual C#->.NET Core->Console App (.NET Core) template.
2.	Build the solution, no error.
3.	Right-click on the project and click ‘Manage NuGet Packages…’.
4.	Update package ‘Microsoft.NETCore.App’.
5.	Build the solution after updating an

[2017-01-09 09:37] mawl opened #4234 "NuGet.exe throws exception 'authors required' during pack of a csproj ignoring placeholders and assemblyinfo attributes if the assembly name is changed"
## Details about Problem

NuGet Version: 3.5.0.1938
On Windows 10

Ignores Placeholder during pack: nuget.exe pack "NugetBug.csproj" -Properties Configuration=Release -Verbosity detailed -Symbols -Version "2.0.0"

Worked before? If so, with which NuGet version
2.8 (and 3.4.x)

## Detailed repro steps so we can see the same problem

1. Use https://github.com/mawl/NugetBug
2. msbuild /p:Configuratio

[2017-01-09 09:40] v-nancyj opened #4235 "[Test Failure] VS crashed when loading project file on multiple projects after activating LSL"
**NuGet Version:** NuGet 4.0.0-RC3-2188
VS Version: D15PreRel 26108.00
OS Version: Windows 10 RS1_Release 14393.722.170106-1842

**Repro Steps:**
1. Enable LSL Mode ( Click Tools->NuGet Package Manager-> Package Manager setting->Projects and Solutions->General->select Lightweight Solution load) and restart VS.
2. Create a solution included two C# Class Library (Universal Windows) projects (renamed

[2017-01-09 12:51] HydTechie commented on #2880
1. Copy Nuget.exe by any peer projects via copying .nuget folder to "NONWorking" project folder..
2. In windows, IE has proxy settings, some times its gets checked for no great reason... uncheck, if you dont use proxy.
3. restore the solution in VS 2015.. I got it resolved on my machine.

[2017-01-09 15:29] tomkuijsten opened #4236 "Recommended way of packaging a host application"
I want to package an application which uses MEF to load client implementations of a certain interface:

[code]

To provide a seamlessly development experience for my clients, I'm trying to create a nuget package. I want the clients to be able to:
- create a assembly
- reference the package
- implement the interface
- set the host.exe as "Start external program"
- start debugging

I tried the follo

[2017-01-09 16:18] jeffkl commented on #4229
We debated for a while about where the import should occur.  We settled on [this order](https://github.com/Microsoft/msbuild/pull/994#issuecomment-245946950) because it ensures that your local environment gets to set things first and last.

Technically the NuGet creates things imported via MSBuildProjectExtensionsPath (via a wildcard) and it can control the order of imports within its generated fi

[2017-01-09 16:23] rohit21agrawal commented on #3824
Validated by using an authors value containing chinese charatcers, packing them from a csproj file, and uploading it to nuget.org. all characters were displayed properly.

[2017-01-09 16:23] #3824 closed, assigned to rohit21agrawal

[2017-01-09 17:28] karann-msft opened #4237 "Picture not in sync with text in the dependency resolution docs"
@tomkuijsten commented on [Mon Jan 09 2017](https://github.com/NuGet/NuGetGallery/issues/3460)

The last picture (about the error situation) doesn't match the explanation:

[Cousing dependencies](https://docs.nuget.org/ndocs/consume-packages/dependency-resolution#cousin-dependencies)

[2017-01-09 17:28] karann-msft commented on #4237
@tomkuijsten all docs issues belong on the home repo.

[2017-01-09 18:12] rrelyea commented on #3581
Anything else we need to do here?

[2017-01-09 18:20] #3645 closed, assigned to nkolev92

[2017-01-09 18:30] joelverhagen commented on #3581
3.5.0 depended on 2.14.0-rtm-832, which has already been published to nuget.org. 2.14.0 has also been published. No sure what the full idea here was but everything seems good now.

One follow-up item in client is to switch from a 2.14.0-rtm-832 dependency to 2.14.0.

[2017-01-09 18:56] rrelyea opened #4238 "Class Lib (.NET Standard) has build error after restore"
Repro Steps
•	Install VS d15prerel 26108.01
•	File New Project -> Class Lib (.NET Standard)
•	Manage NuGet Packages…
•	Install Newtonsoft.json
•	Choose the option of ‘Package Reference’ format
•	Build. I get the following error
![error](https://cloud.githubusercontent.com/assets/8865080/21778896/1ba3a668-d65a-11e6-9007-7d9004cd5b10.jpg)

This should be fixed with: http://github.com/dotnet/sdk#537

[2017-01-09 19:03] rohit21agrawal opened #4239 "integrate nuget build 2188 into cli and sdk"
@rrelyea

[2017-01-09 19:16] jainaashish commented on #4235
I can't repro this with same configuration. Tried for both Packages.config and Project.json, are there more details or repro steps?

NuGet Version: NuGet 4.0.0-RC3-2188
VS Version: D15PreRel 26108.00

[2017-01-09 19:24] rrelyea commented on #4238
Please confirm that the sdk issue would fix it.

[2017-01-09 19:36] zhili1208 commented on #4193
the root cause of this issue is user have "Imports folder" which contains Microsoft.Common.Targets under both C:\Program Files (x86)\MSBuild\15.0 and C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\, they all imported Microsoft.NuGet.Targets.

not repro this on latest VS build, I think this issue only occur in some old vs build.

[2017-01-09 19:44] emgarten commented on #4229
On NuGet's ordering of the imports:
1. NuGet 2.8.x would write them in install order, but when updating packages NuGet this could get out of sync. The client wasn't actually reading what was already in the file to decide where the new targets should go.
1. During 3.x XProj didn't support targets/props so this area was not focused on.
1. 4.x ensures everything is in dependency order and has the rig

[2017-01-09 19:52] tomkuijsten commented on #4237
You might want to update the [new issue template](https://github.com/NuGet/NuGetGallery/issues/new) which stated:

[code]

Docs excluded?

[2017-01-09 19:55] emgarten commented on #4238
Is there an issue tracking the incorrect error message on the sdk side? This shouldn't refer to project.json for PackageReference projects, it is confusing.

[2017-01-09 19:57] emgarten commented on #4236
Have you tried referencing these files through a .targets file?

Are you expecting host.exe to run instead of the project that this is being installed into?

[2017-01-09 20:14] rrelyea commented on #4235
i also couldn't repro with: d15rel 26109

[2017-01-09 20:18] rrelyea commented on #4238
d15rel - 26109 - couldn't repro. did not get prompted for packages.config v packagereference. by design.

[2017-01-09 20:18] rrelyea commented on #4238
@jainaashish didn't repro eiether with d15prerel 26108

[2017-01-09 20:20] tomkuijsten commented on #4236
I didn't try referencing through a .targets file, will lookup the docs on that (never used that before).

And yes, that's exactly what I'm trying to achieve. It's a default option in VS to run a exe instead of the project itself and I wanted to use that to give the client developer a nice "run and debug" option.

[2017-01-09 20:25] pranavkm opened #4240 "dotnet pack fails on xplat for applications targeting desktop"
Moved from https://github.com/dotnet/sdk/issues/607

1. Create a project that cross compiles to `net451` and `netcoreapp1.1` on a machine without mono \ reference assemblies installed.
2. Run `dotnet build -f netcoreapp1.1`
3. Run `dotnet pack --no-build`

Expected:
Pack succeeds

Actual:
Pack fails with `~/.dotnet/sdk/1.0.0-preview4-004233/Microsoft.Common.CurrentVersion.targets(1107,5): error MS

[2017-01-09 20:28] jainaashish opened #4241 "Update Microsoft.VisualStudio.Workspace.VSIntegration version dependency"
Update Microsoft.VisualStudio.Workspace.VSIntegration package dependency from 15.0.171-pre to 15.0.198-pre in order to get VS platform fix to get correct IVsSolutionMSBuildProjectServiceFactory instance while solution is loaded with LSL.

[2017-01-09 20:37] emgarten commented on #4236
It should be possible to set that in a project, then look at the project file to see the changes. If you copy that to a .targets file it should allow it to work the same way after installing a package.

[2017-01-09 20:41] tomkuijsten commented on #4236
Ahh yes I see what you mean and that would be another great addition to the package but....

the problem is that I can't even create a package where the host.exe and host.exe.config get's added to the output folder.

[2017-01-09 20:43] emgarten commented on #4236
.targets files can control all of this :smile:

[2017-01-09 20:49] nkolev92 commented on #4204
I cannot repro this.
Seems like the issue is a month old, so it might have been fixed in the meanwhile?

[2017-01-09 20:50] tomkuijsten commented on #4236
Seriously... cool, digging into the documentation now, thanks for pointing it out to me!

Although... that would mean that those files have to be added to the project that is using the package? It will be added as content file right? Cause that's not what I want.

[2017-01-09 20:55] emgarten commented on #4208
This warning has been removed. In scenarios such as this it is expected that the unloaded project cannot be read.  NuGet/NuGet.Client@c29b08a049252972361e0e5f4dc159120bdd2d3d

[2017-01-09 20:55] #4208 closed, assigned to emgarten

[2017-01-09 20:55] nkolev92 opened #4242 "XPlatPushTests.PushToServerSucceeds test is flaky"
This test fails sporadically for no obvious reasons:

http://nugetci/viewLog.html?buildId=63248&tab=buildResultsDiv&buildTypeId=NuGetClient_CIBuild_211TestOnWindowsX86

http://nugetci/viewLog.html?buildId=65379&tab=buildResultsDiv&buildTypeId=NuGetClient_CIBuild_211TestOnWindowsX86

http://nugetci/viewLog.html?buildId=67445&tab=buildResultsDiv&buildTypeId=NuGetClient_CIBuild_211TestOnWindowsX86

[2017-01-09 20:55] pranavkm opened #4243 "dotnet restore (on xplat) fails if an http feed is specified after a local feed via command line"
1. Create a new project
2. Create a temp directory to use as a source (`mkdir /tmp/some-source`)
3. Run `~/.dotnet/dotnet restore -s /tmp/some-source -s https://api.nuget.org/v3/index.json`

Restore fails with

[code]

For some reason, restore's treating the v3 feed as a local source (`~/src/restore/https:/api.nuget.org/v3/index.json`).

[2017-01-09 20:56] pranavkm commented on #4243
CLI info:

[code]

[2017-01-09 21:28] cristinamanum opened #4244 "VSTS internal feed package uninstall error on VS2015:The array must contain at least one element."
Copied from:
https://github.com/NuGet/NuGetGallery/issues/3459#issuecomment-271346314

symptom:
 The error display : "The array must contain at least one element" when update/uninstall the package on a project connected to VSTS.

The visual studio Enterprise 2015 version is 14.0.25431.01 Update 3.
 The NuGet Packager Manager version is 3.5.0.1996

Steps:
1.Published a simple NuGet package containi

[2017-01-09 21:36] tomkuijsten commented on #4236
[This article](http://stackoverflow.com/questions/19478775/add-native-files-from-nuget-package-to-project-output-directory) explains exactly what I want and got it working, thanks again for the pointers.

[2017-01-09 21:36] #4236 closed, assigned to nobody

[2017-01-09 22:09] mishra14 opened #4245 "Investigate d15 E2E test failures"

[2017-01-09 23:39] natemcmaster opened #4246 "Cannot reference PackTask directly in an MSBuild project"
To replace `dotnet nuget pack *.nuspec`, I'm trying to to use 'PackTask' instead. However, I cannot use the NuGet.Build.Tasks.Pack.Library as a PackageReference to import PackTask.

Example:
[code]

MSBuild fails with

The targets carried in the NuGet.Build.Tasks.Pack.Library are not imported in the generated 'obj/*.nuget.g.targets' file.

IIUC, this could be fixed by renaming the Pack.targets fil

[2017-01-09 23:47] karann-msft opened #4247 "package management format selector dialog - give more information about what it means to select PC versus PR in the format selector dialog"

[2017-01-09 23:50] karann-msft opened #4248 "package management format selector dialog - change the dialog default to PR / make the dialog smarter"
Change the dialog default to PR
make the dialog smarter - look at existing projects in the solution and the format used by them. Also look at the solution version in the sln file to influence the default.

[2017-01-09 23:51] karann-msft opened #4249 "package management format selector dialog - solution level setting for the default format"

[2017-01-10 00:06] rohit21agrawal commented on #4246
@natemcmaster don't use the nuget.build.tasks.pack.library package, the correct package to use is NuGet.Build.Tasks.Pack

[2017-01-10 00:15] mishra14 commented on #4245
Discussed with @jainaashish and @emgarten and found the issue. @jainaashish is going to checkin a fix.

[2017-01-10 00:19] emgarten commented on #4245
Dupe of: https://github.com/NuGet/Home/issues/4231

[2017-01-10 00:19] #4245 closed, assigned to mishra14

[2017-01-10 00:20] natemcmaster commented on #4246
Good to know. Didn't know there was a difference. That resolves the issue.

[2017-01-10 00:20] #4246 closed, assigned to nobody

[2017-01-10 00:21] emgarten commented on #4231
The project in this issue has zero dependencies but does have project to project references. It is the same scenario as the E2E test failures.

[2017-01-10 00:23] emgarten commented on #4231
Affected:
1. UWP project.json
1. UWP PackageReference

Not affected:
1. packages.config
1. CPS xplat PackageReference

[2017-01-10 00:33] natemcmaster opened #4250 "Issues with PackTask and packing NuSpec"
Although PackTask supports passing in a nuspec file directly, this task is still very hard to use and is pretty buggy. Here are some issues I encountered while trying to replace 'dotnet nuget pack *.nuspec' with 'PackTask' (4.0.0-rc3-2193).

Unclear usage:
PackItem = This is required, but when packing a nuspec, what should this be set to?

Properties replacement = how to specify variable propertie

[2017-01-10 00:45] rohit21agrawal commented on #4250
@natemcmaster PackItem is supposed to be a csproj, it can be left blank and it will infer the csproj if you are in the same directory. The only thing that changes when packing with a nuspec file is /p:NuspecFile is passed .

NuspecOutputPath and RestoreOutputPath pick up default values from the csproj file based on the value of BaseIntermediateOutputPath

Can you attach a repro project where you a

[2017-01-10 00:57] natemcmaster commented on #4250
I'm not using csproj. I'm trying to write an MSBuild target for our build system. See https://github.com/aspnet/Common/tree/119fa62786b414157a11a21f1aa8b586fe355d44/shared.

Instead of shelling out to NuGet.exe, I'm trying to use PackTask directly.

For more context, here is the code (that worked in 4.0.0-rc2) that I'm trying to replace with RC3 bits:
[code]

Here's the nuspec:
[code]

I would hav

[2017-01-10 01:00] rohit21agrawal commented on #4250
@natemcmaster This won't work if you call the PackTask directly. You need to still call dotnet pack as a command and pass in /p:NuspecFile="path to nuspec file" .

Most likely the current version of dotnet you are using doesn't have the updated nuget which supports packing from nuspec file, but we are in the process of creating one and you should be able to use it tomorrow.

[2017-01-10 01:15] natemcmaster commented on #4250
To clarify, is it not working because `PackTask` should be used directly at all?

[2017-01-10 02:00] v-nancyj commented on #4235
@rrelyea @jainaashish
Repro Machine:[EXPRBLNVM18239](http://maddog/goto/MDGoto.Application?md://OrcasTS/Machine/1465889)
 I have add your alias to the repro machine.

[2017-01-10 02:07] mesheets opened #4251 "NuGet.exe 3.5 Regression: Failure restoring packages when directory contains project files for different file types"
## Details about Problem

Product used: **NuGet.exe v3.5**
dotnet.exe --version (if appropirate): **N/A** - Failure occurs during NuGet package restore within NuGet.exe
VS version (if appropriate): **Visual Studio 2015 Update 3**
MSBuild Version (as reported by NuGet.exe): **14.0**
OS version (i.e. win10 v1607 (14393.321)): **Windows Server 2008 R1 SP1**

Worked before? If so, with which NuGet ver

[2017-01-10 02:32] jainaashish commented on #4232
This happens only for console app, but works fine for class lib projects. And only happens for first package installation, somehow project system is not refreshed after first package installed. Asked Tom (.net sdk team) to look into this.

[2017-01-10 02:50] v-nancyj commented on #4233
Creating a Visual C#->.NET Core->Console App (.NET Core) template, install Newtonsoft.json package, build it, The issue (error MSB4018 ) also repro.

[2017-01-10 03:13] jainaashish commented on #4235
I could repro this locally. It would have been helpful if correct repro steps were given. Step#6 is not left click on PJ2 node, rather it's click on PJ2 node expander to load this project which cause this crash.

Now for the issue, It's Visual studio related bug and nothing to do with NuGet. This is happening even without installing any package. Just create 2 projects, add reference to each other,

[2017-01-10 03:22] v-nancyj commented on #4235
@jainaashish OK, get it, Thanks!

[2017-01-10 07:17] AndyTian-Devops opened #4252 "[Test failure]Fail to load PMC on JS Cordova project"
**NuGet Version**: NuGet 4.0.0-RC3-2188
**VS Version**: D15Rel 26109.00
**OS Version**: Windows 10 RS1_Release 14393.722.170106-1842

**Repro Steps:**
1. Create a JavaScript Cordova project.
2. Open PMC.

**Expected:**
PMC could be opened normally,

**Actual:**
PMC failed to load.
![nugetcordova](https://cloud.githubusercontent.com/assets/12235523/21797071/d467225e-d747-11e6-9635-43187b0b7fa6.png)

[2017-01-10 14:38] memark commented on #1521
Any news?

[2017-01-10 14:48] 3F commented on #1521
ahaha :)
from my msg above (**Dec 2015**), now I fully use [GetNuTool](https://github.com/3F/GetNuTool#why-getnutool-) *(/core v1.6 - [gnt.bat](https://github.com/3F/GetNuTool/releases/download/v1.6/gnt.bat))* for all our products.

yeah...

[2017-01-10 14:56] jnm2 commented on #1521
I'm now using Cake which makes it easy to install and run all tooling from NuGet without a solution or project.

[2017-01-10 16:51] dbreshears opened #4253 "CPS based project systems get the wrong NuGet restore style"
## Details about Problem

Our Service Fabric code calls InstallPackage to install a NugetPackage from our extension folder which is failing after the last insert of NuGet into D15PreRel  (commit Id e55a5eafa93d09f70e5e33d74e99098fa1c1d09a

this line in our code is where we now see the exception.   
IVsPackageInstaller packageInstaller = ServiceProvider.GetServiceFromComponentModel<IVsPackageInstal

[2017-01-10 16:53] natemcmaster commented on #4240
Does this work if you set the the environment variable 'ReferenceAssemblyRoot' to the location of the .NET Framework reference assemblies?

[2017-01-10 17:03] natemcmaster opened #4254 "allow dotnet pack to pack nuspec file without needing a csproj file"
Follow up to https://github.com/NuGet/Home/issues/3904#issuecomment-267671637

Scenario:
I want to pack a nuspec file in an x-plat build system.

Inputs:
- nuspec
- files

NB: I am not packing a csproj, just files.

In <= 4.0.0-rc2, this was available as `dotnet nuget pack (nuspec)` file. This was removed in 4.0.0-rc3 https://github.com/NuGet/NuGet.Client/pull/1065 without a suitable replacement.

[2017-01-10 17:16] jeancallisti commented on #2608
Is there a known workaround to this issue?
- I have Visual Studio 14.0.025425.01 Update 3
- Nuget 3.4.4.1321
- The nuget packages can't be restored, with error below (where XXX is the name of my package)
- I've tested that I can open the package manually by typing the url into the browser.

============

Error		NuGet Package restore failed for project XXX: Unable to find version '1.0.1' of package

[2017-01-10 17:35] joelverhagen commented on #3610
This has been implemented in `dev` and `master` of NuGet.Server. It is not yet supported on nuget.org.

This needs client support for OData endpoints and search service. There is already support in V3 via https://github.com/NuGet/NuGet.Client/commit/358f3b564b297f9a6db2094984e2f01fcde6936b.

[2017-01-10 17:40] joelverhagen commented on #3610
/cc @rrelyea, could this be assigned and scheduled as client work?

[2017-01-10 18:00] rrelyea commented on #3408
Fixed in RC3

[2017-01-10 18:00] #3408 closed, assigned to nobody

[2017-01-10 18:14] zhili1208 commented on #3863
it doesn't not repro in visual studio 26109.02

[2017-01-10 18:14] #3863 closed, assigned to zhili1208

[2017-01-10 18:18] pranavkm commented on #4240
Sure, but I'm not trying to build desktop. I don't think we should require having desktop reference assemblies if we aren't trying to build it.

[2017-01-10 18:20] natemcmaster commented on #4240
FWIW I would expect this to fail. dotnet pack tries to build/pack all TFMs in the project. Does `dotnet pack /p:TargetFramework=netcoreapp1.1` work?

[2017-01-10 18:33] #4193 closed, assigned to zhili1208

[2017-01-10 18:55] zhili1208 commented on #4223
it's dup, https://github.com/NuGet/Home/issues/4191

[2017-01-10 18:55] #4223 closed, assigned to zhili1208

[2017-01-10 19:03] jainaashish commented on #4235
Roslyn Bug# https://github.com/dotnet/roslyn/issues/16396

[2017-01-10 19:04] jainaashish commented on #4233
internal bug# 365633

[2017-01-10 19:26] rrelyea commented on #4253
Internal bug 366059 is a duplicate issue with a different repro.

[2017-01-10 20:32] rrelyea opened #4255 "Investigate hang while working with CPS solution"
per internal report from CPS solution user.

[2017-01-10 21:09] #3272 closed, assigned to zhili1208

[2017-01-10 22:11] emgarten commented on #2608
@jeancallisti try updating to 3.5.0
https://dist.nuget.org/index.html

[2017-01-10 23:07] #4231 closed, assigned to jainaashish

[2017-01-10 23:10] jainaashish commented on #4231
Merged to release-4.0.0-rc3 with cec7a0f5c516a757678b57267979340083a50cf1

[2017-01-11 00:10] zhili1208 commented on #4219
I tried same package which user used in the bug report, but can't repro this issue. I think this is already fixed in the latest version.

Visual studio version : d15rel 26109.0
NuGet version: 4.0.0.2191

[2017-01-11 00:30] balachir opened #4256 "Provide a better error message when adding a DotNetCliToolReference fails"
1. File -> New -> Project -> .NET Core -> Console App
2. Project -> Manage NuGet packages...
3. Attempt to install a "CLI tool" package, e.g. Microsoft.DotNet.Watcher.Tools 1.1.0-preview4-final

**ACTUAL**
Fails with error:
Package 'Microsoft.DotNet.Watcher.Tools 1.1.0-preview4-final' has a package type 'DotnetCliTool' that is not supported by project 'ConsoleApp1'.

**EXPECTED**
Better error mess

[2017-01-11 01:05] rrelyea commented on #4252
please confirm this is a dupe.

[2017-01-11 01:18] rrelyea opened #4257 "Visual Studio deadlocks if you attempt to close a project before NuGet restore has finished"
Ported from: https://github.com/dotnet/roslyn-project-system/issues/1104 (filed by @davkean)

26107.1.d15prel
Create new Empty Web Application
Close Solution and VS
Open Solution
File -> Close Solution before NuGet restore has started/finish
--Deadlock--
If I did this quickly, was I able to deadlock VS 100% of the time.
Dump: [internalMLshare]\public\davkean\project-system\1104

[2017-01-11 01:54] rrelyea commented on #3902
Has been approved for a checkin to dev (but NOT release-4.0.0-rc3). Please merge when ready.

[2017-01-11 01:57] rrelyea commented on #4239
This is Rohit's PR: https://github.com/dotnet/cli/pull/5260

[2017-01-11 02:04] alpaix commented on #4255
This is somewhat "by design" blocking behavior. The experience will be improved when #3816 is resolved.
Explicit restore triggered by user should be executed in the background.

[2017-01-11 02:06] rrelyea commented on #3901
Requires this and https://github.com/dotnet/roslyn-project-system/issues/1132 to fix.

[2017-01-11 02:20] jainaashish opened #4258 "Nuget forces to load web application projects in LSL mode"
1. Create a WebApplication in DPL mode
2. Close the solution
3. Reopen any solution in the same VS session.

Root-cause is since WebApplication project has bunch of packages installed and out of these packages, some also have init scripts to be executed. So when we create this project, it anyways create powershell host instance to execute these scripts. And also bind to solution load event to ensu

[2017-01-11 02:44] rohit21agrawal commented on #4239
PR has been merged

[2017-01-11 06:37] mishra14 commented on #4252
@v-atian : This should be fixed by https://github.com/NuGet/NuGet.Client/commit/4102576776ec65d9a5b79ed05ef7d7b5c2d0bfdc

Please validate if you can, else I will validate this tomorrow and close this.

[2017-01-11 11:07] #4210 closed, assigned to nobody

[2017-01-11 14:34] kamennikolov opened #4259 "Package is not compatible with net45 (.NETFramework,Version=v4.5)"
Remove the content above here and fill out details below.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe

NuGet version (x.x.x.xxx):  3.5.0.1938

dotnet.exe --version (if appropirate): 4.5

VS version (if appropriate): 2015

OS version (i.e. win10 v1607 (14393.321)): win10 v1511 10586.753

Worked before? If so, with which NuGet v

[2017-01-11 15:57] iernie commented on #3668
Any news on this?

[2017-01-11 18:20] #4239 closed, assigned to rohit21agrawal

[2017-01-11 18:50] jainaashish opened #4260 "Migrate NuGet 1ES teamcity to new CI"
Migrate NuGet signed 1ES teamcity to new CI

[2017-01-11 18:58] #3902 closed, assigned to jainaashish

[2017-01-11 19:12] emgarten commented on #3668
Content and Build are both counted as assets. If you are seeing the error above it means that there are zero files in the package that apply to your target framework.

Please share what version of NuGet you are using, the project Target Framework, and the package if you are seeing different behavior.

[2017-01-11 19:18] mishra14 commented on #4252
Validated that this was fixed in NuGet/NuGet.Client@4102576

![2017-01-11](https://cloud.githubusercontent.com/assets/10507120/21862819/ac16cc98-d7ef-11e6-9c17-784d2fd844f7.png)

[2017-01-11 19:18] #4252 closed, assigned to mishra14

[2017-01-11 19:20] jainaashish commented on #4232
internal bug# 366608

[2017-01-11 19:21] jainaashish opened #4261 "VS perf regression"
Perf: ManagedLangs_CS_DDRIT.0200.Open Solution regressed Duration_TotalElapsedTime by 50.220 ms

internal bug# 297627

[2017-01-11 19:25] #4219 closed, assigned to zhili1208

[2017-01-11 19:27] #4203 closed, assigned to zhili1208

[2017-01-11 19:40] jainaashish commented on #4222
Dup of # https://github.com/NuGet/Home/issues/3844

Also there is no EnsureSolutionIsLoaded executed now on restore when DPL is enabled.

[2017-01-11 19:41] #4222 closed, assigned to jainaashish

[2017-01-11 20:04] iernie commented on #3668
Yeah, I found out I needed to have the files in a folder named "content" for it to work :) Thanks!

[2017-01-11 21:51] #3899 closed, assigned to alpaix

[2017-01-11 22:12] rrelyea commented on #4253
Status on improved fix?

[2017-01-11 22:59] rrelyea commented on #4261
@jainaashish - has a fix in validation that may win back 18-20ms.

[2017-01-11 23:09] mishra14 commented on #4253
merged: https://github.com/NuGet/NuGet.Client/commit/f8cdb19f67edd0dc47eb25ddc946bdc38d2b9b96 and https://github.com/NuGet/NuGet.Client/commit/4102576776ec65d9a5b79ed05ef7d7b5c2d0bfdc

[2017-01-11 23:09] #4253 closed, assigned to mishra14

[2017-01-11 23:33] rrelyea commented on #4185
Moving to RTM, as it is a bit risky for last day of RC3. Justin has fix.

[2017-01-11 23:33] rrelyea commented on #4209
Moving to RTM, as it is a bit risky for last day of RC3. Justin has fix.

[2017-01-11 23:35] rrelyea commented on #4230
@livarcocc  - looks like this has been fixed in SDK. Can you please confirm that this has been fixed for you?

[2017-01-11 23:46] rrelyea commented on #4233
This fix is going into msbuild and sdk by RC3 timeframe. So closing this issue.

[2017-01-11 23:49] rrelyea commented on #3506
Getting closer, but won't have this change in time for RC3.

[2017-01-12 00:04] rrelyea commented on #3954
consider documenting the fact that the trailing slash is requried.

[2017-01-12 00:05] rohit21agrawal commented on #3954
It's already documented in the spec

[2017-01-12 00:07] rrelyea commented on #4171
@mausch - can you please answer @emgarten's request from above for more details.

[2017-01-12 02:00] emgarten commented on #4209
Dupe of #4185 as mentioned

[2017-01-12 02:00] #4209 closed, assigned to emgarten

[2017-01-12 02:57] emgarten commented on #4259
I copied the project.json file shown in the issue and ran: ``nuget.exe restore project.json``

I get a dependency conflict instead of a compat error

[code]

@kamennikolov can you run ``nuget.exe locals -clear all`` and try again, or see if you get different results when restoring the project.json file directly.

It could be that a project reference is changing your restore graph and giving you di

[2017-01-12 03:04] emgarten commented on #4259
@kamennikolov  I'm not able to repro this, have you modified any of these packages locally?

Try: ``nuget.exe locals -clear all``

I had to remove a package that wasn't found: VMware.VimAutomation.Sdk.Impl

Here is my output:

[code]

[2017-01-12 07:48] kamennikolov commented on #4259
I did nuget locals -clear all, but that didn't help either. I haven't modified the packages locally. As I mentioned none of my colleagues can reproduce this either, so it's an issue on my machine only, but I'm trying to find a solution or workaround. The message itself is really confusing. In the same message it says that the package is not compatible with net45 and that it supports net45
`Package

[2017-01-12 09:24] KrupaMoliya opened #4262 "Nuget3.4.4.1321.exe: Pack Command is not taking dependency from project.json. Nuget3.5.0.1938.exe: Restore Command is not installing transitive dependency."
**Nuget3.4.4.1321.exe: Pack Command is not taking any dependency from project.json. Nuget3.5.0.1938.exe: Restore Command is not restoring transitive dependency.**

## Details about Problem
NuGet product NuGet.exe
NuGet version 3.4.4.1321, 3.5.0.1938

Worked before? If so, with which NuGet version: 2.8.3

I am using nuget commands to build my project.
I have BuildDependsOn sequence as below:
1) NuG

[2017-01-12 09:27] v-nancyj opened #4263 "[Test Failure] Package Reference executing delay"
**NuGet Version:** NuGet 4.0.0-rtm-2205
**VS Version:** D15Rel 26111.00
**OS Version:** Windows 10 RS1_Release 14393.723.170109-1801

**Repro Steps:**
1.	New a Visual C#->Windows Classic Desktop->Console App (.NET Framework) template.
2.	Right-click on the project and click ‘Manage NuGet Packages…’.
3.	Try to install package 'Newtonsoft.Json 9.0.1'.
4.	Select ‘PackageReference in project file’ as

[2017-01-12 09:50] kamennikolov commented on #4259
I tried installing Visual Studio 2017 and now everything works fine in both VS2015 and 2017. I have no idea how, but that fixed the issue.

[2017-01-12 10:03] KrupaMoliya commented on #4262
[automation.zip](https://github.com/NuGet/Home/files/701262/automation.zip)

[2017-01-12 14:30] syrakozz opened #4264 "assembly not found for framework Xamarin.mac"
i got assembly not found for framework Xamarin.mac
plz help in my xamarion studio in mac,
what are my solutions ?

[2017-01-12 16:50] rrelyea commented on #4263
Dupe of #4232 which is being tracked as an external issue, and fixed in the csharp project system or related (Roslyn-ish)

[2017-01-12 16:50] #4263 closed, assigned to nobody

[2017-01-12 16:55] rrelyea commented on #4259
that is strange. vs2017 shouldn't change the behavior of vs2015.
I guess, perhaps vs2017 has a bug fixed and vs2015 was able to benefit from the result in the project.lock.json file, or similar?
Longer term, NuGet 4.0 (the version we are building for vs2017) will likely be available for VS2015...

[2017-01-12 17:37] rohit21agrawal commented on #4250
@natemcmaster yes. you should only use dotnet pack as the entry point for anything related to pack. i have identified some of the issues that you are facing here, and we are trying to determine at this point whether we can fix them for 4.0.0-RTM or whether we need to put them in the next milestone.

[2017-01-12 17:51] rrelyea commented on #4261
Update?

[2017-01-12 17:54] rrelyea opened #4265 "Reference is not seen by C# despite the fact that it is in project.json"
See internal bug 366763:
The problem is in that I had local package source (folder) that didn’t contain any packages and nuget produced error in the output window that it could not find anything there. When I switched off the source in Tools | Options, the reference was finally added.

RR: not sure if our change of behavior is correct here. I'd think that a local folder that is empty shouldn't pro

[2017-01-12 17:57] rrelyea opened #4266 "Perf/UIHang - Improve DownloadTimeoutStream reads"
See internal bug 365384:
These are 15 sec+ hangs where the IDE is unresponsive, and this is the #3 hitter in RC.2, so please investigate.

[2017-01-12 18:55] rrelyea opened #4267 "fix targets file for build tasks"

[2017-01-12 19:24] niemyjski commented on #3131
What's the status on this issue?

[2017-01-12 19:49] jainaashish commented on #4261
Merged to release-4.0.0-rc3 with e38f51cf510b0ab0cfaeae4a9083a9e69f7715b4

[2017-01-12 20:03] jainaashish commented on #4261
reverted from release-4.0.0-rc3 since it's now marked for RTM. So only merged to dev

[2017-01-12 20:06] #4267 closed, assigned to jainaashish

[2017-01-12 20:25] mishra14 commented on #3506
Seems like this is done. Cranking a build to check.

[2017-01-12 21:42] alpaix opened #4268 "Eliminate ServiceProvider as dangerous coding pattern (which can cause hangs)"
Eliminate usage of the `ServiceProvider` across the entire code base as potentially dangerous coding pattern leading to deadlock scenarios in VS.

A developer should be aware of the method requested service is imported be it MEF, or VS global service, rather than rely on some a "magical" utility to do the resolving.

[2017-01-12 22:39] rrelyea opened #4269 "Core projects can hang, lock up UI on open"
covered by internal bug 367173

including the following info:
I find it much easier to reproduce this when creating a 1.1 Web Application.  3 out of 4 attempts have deadlocked for me.
I was experiencing about 1 out of 4 with 1.0 templates.
It may depend entirely on the machine in use, however.

[2017-01-12 22:51] natemcmaster commented on #4250
Spoke with @rohit21agrawal in person and tried some of the private builds he was working on. They seem to fix the issues we are having. To move ASP.NET Core's build forward, **we need fixes for RTM.**

[2017-01-12 23:01] rohit21agrawal commented on #4250
@rrelyea any chance we can try this for RTM ? I am ready to send out a PR for this.

[2017-01-12 23:18] rrelyea opened #4270 "Remove element form of Version in PackageReference documenation, use attribute everywhere"
https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files

(don't even mention that it can be used as an element)

[2017-01-13 00:55] rrelyea opened #4271 "investigate localization risk (build tool)"
24 of 100 files changed with localization improvements are in 26106.10.
87 of 100 files are in 26112.00.
100 of 100 files would be in next build of RC3, if done.

We've just discovered this. Writing validation tool to confirm resources are complete in each language and the same set of {0}, {1}, etc... -- in each version of the string.

[2017-01-13 01:31] rrelyea opened #4272 "strange error during restore - method not found"
Error occurred while restoring NuGet packages: Method not found: 'NuGet.RuntimeModel.RuntimeGraph NuGet.RuntimeModel.JsonRuntimeFormat.ReadRuntimeGraph(Newtonsoft.Json.Linq.JToken)'.

per mail thread.

[2017-01-13 03:07] emgarten commented on #4265
Any empty folder should be fine. A missing folder is a problem usually.

[2017-01-13 04:57] AArnott commented on #4127
No. This no longer repros for me either on d15prerel.

[2017-01-13 04:57] #4127 closed, assigned to zhili1208

[2017-01-13 06:26] rohit21agrawal commented on #4137
@rrelyea we should assign a milestone to this asap

[2017-01-13 07:58] davkean opened #4273 "Output window and status disagree on time taking to restore NuGet packages"
VS Build: 26107.1.d15prerel

The Output window and the status bar don't agree how long it took to restore packages:

![image](https://cloud.githubusercontent.com/assets/1103906/21922350/431d8f22-d9c2-11e6-93b2-eda4c66932d1.png)

[2017-01-13 08:06] davkean opened #4274 "NuGet opens the output window during background restore"
NuGet has a annoying behavior where it opens the Output window during restore. This might be okay for a certain operations such as explicit clicking of Restore solution, but it's annoying when it happens because of something completely unrelated such as editing the project file, or changing TFM for the Project properties.

Can we change this behavior?

[2017-01-13 08:43] v-luzh commented on #3856
@rrelyea @zhili1208 This issue is fixed on D15Rel 26112.00 (NuGet Client 4.0.0-RC3-2206) as below screenshot. The messages are consistent.
![fixed](https://cloud.githubusercontent.com/assets/20632625/21923462/359fc198-d9af-11e6-8bb3-9efe802f5c50.PNG)

[2017-01-13 09:29] v-nancyj opened #4275 "[Test Failure] The latest stable version show in PM UI is smaller than the installed version"
**NuGet Version:** NuGet 4.0.0-RC3-2211
**VS Version:** D15Rel 26112.00
**OS Version:** Windows 10 RS1_Release 14393.723.170109-1801

**Repro Steps:**
1.	New a Visual C#->.NET Core->ASP.NET. Core Web Application (.NET Core)-> Web Application(ASP.NET. Core Templates 1.0) project.
2.	Right-click on the project and click ‘Manage NuGet Packages…’.
3.	Go to Browser tab and type in ‘Microsoft.VisualStud

[2017-01-13 10:18] v-luzh opened #4276 "[Test Failure] Many Errors occur when creating .NET Core xUnit Test Project due to restore failed"
**NuGet Version:** NuGet 4.0.0-RC3-2206
**VS Version:** D15PreRel 26112.00
**OS Version:** Windows 10 RS1_Release 14393.723.170109-1801

**Repro Steps:**
1.  Launch VS.
2.  Create a Visual C#->.NET Core->xUnit Test Project (.NET Core) template.
3.  Build the solution.

**Expected Result:**
No error show in Error List Window.

**Actual Result:**
There are so many errors (CS0246) show in Error List

[2017-01-13 13:50] sm-g opened #4277 "Nuget 3.5 restore under LocalSystem account"
## Details about Problem
NuGet version (3.5.0.1938)
OS win server 2012

## Detailed repro steps so we can see the same problem

project.json is

[code]

project.lock.json contains

[code]

But C:\Windows\System32\config\systemprofile\.nuget\packages has no folders.

### Verbose Logs

NuGet Version: 3.5.0.1938
Running restore with 2 concurrent jobs.
Reading project file C:\TeamCity\buildAgent\work\

[2017-01-13 14:50] ericstj commented on #4229
What are your thoughts about making them happen after SDK imports?  The nice characteristic about 2.x was that you could override anything you wanted.

[2017-01-13 16:09] jeffkl commented on #4229
The SDK is what imports the NuGet props/targets.

https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/sdk/Sdk.props#L19
https://github.com/Microsoft/msbuild/blob/xplat/src/XMakeTasks/Microsoft.Common.props#L59

https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/sdk/Sdk.targets#L40
https://github.com/Microsoft/msbuild/blob/xplat/src/XMakeTasks/Mi

[2017-01-13 16:56] rrelyea commented on #4272
[Update - Did not turn out to be this] May be related to Out of Process analyzers. Sounds like a fix may be in today's build, per email.

[2017-01-13 16:58] rrelyea commented on #4274
Need to discuss what we want here, and when we want it...as part of our ui improvements in this area.

[2017-01-13 17:12] natemcmaster commented on #4229
It's possible to _extend_ the build using current import order, but it's not possible to _override_ some parts of the build.

For example, if I wanted create a NuGet package that ships a target called "Pack", this cannot override the pack that is in Microsoft.NET.Sdk because Microsoft.NET.Sdk/Sdk/Sdk.targets imports the pack targets at the very end, after MSBuildProjectExtensionsPath targets are i

[2017-01-13 17:19] jeffkl commented on #4229
The only way an SDK could allow someone else to override its targets would be to expose a property like `CustomAfterSdkTargets` that it would import at the end of it.  Technically it could do an import of a place on disk as well but we're trying to move away from that.

Another established pattern is to use a `DependsOn` property or `BeforeTargets`/`AfterTargets` to extend a target.

+@rainersigwa

[2017-01-13 17:20] davidfowl commented on #4274
I thought we had a design for the notification window. Forcing the output window to show up is super annoying.

[2017-01-13 17:34] jainaashish opened #4278 "update packages on .net core projects not working"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 4.0.0

VS version (if appropriate): visual studio 2015 update 3

Worked before? If so, with which NuGet version: 3.5.0

## Detailed repro steps so we can see the same problem

1. Create a new .net core class library project
2. open nuget manager ui and go to update tab. it will show 1 u

[2017-01-13 17:38] rohit21agrawal commented on #4137
@srivatsn there seems to be a build issue with the project file above :

```CSC : error CS0006: Metadata file '\mscorlib.dll' could not be found [D:\temp\packagerefissue\packagerefissue.csproj]```

Attaching a repro project - running dotnet restore, and then dotnet build repros the issue. Can you get someone to take a look?

[packagerefissue.zip](https://github.com/NuGet/Home/files/704922/packager

[2017-01-13 17:58] toannguyen83 commented on #2372
I downloaded the latest 3.5 nuget.exe commandline from https://dist.nuget.org/index.html  and I'm still having the same problem. I'm targeting the csproj file for the same reason, is to autofill the $var$ from Assembly.cs.

[2017-01-13 18:13] rohit21agrawal commented on #4137
@onovotny if i understood your issue correctly, i have tried to repro it with a minimal csproj file, and it does have an empty net45 dependency group in the nuspec. We have made some changes to how pack gets its dependencies recently, and it may have fixed your issue. You can try it yourself by downloading the latest CLI version that also includes the sdk.

Here is the project that i used.
[packag

[2017-01-13 18:13] #4185 closed, assigned to emgarten

[2017-01-13 18:19] rrelyea commented on #4250
Let's review the design on the team. Your current design:
nuget.exe pack -properties foo=bar;bar=tom

```msbuild /t:pack /p:NuspecFile=input.nuspec /p:nuspecproperties=\"foo=bar;bar=tom\"```

[2017-01-13 19:17] #4269 closed, assigned to alpaix

[2017-01-13 19:46] jainaashish commented on #4220
Not able to repro with VS 2017 build. I think it could have been fixed with latest release.

[2017-01-13 19:48] jainaashish commented on #4235
Closing since associated Roslyn fix is merged.

[2017-01-13 19:48] #4235 closed, assigned to jainaashish

[2017-01-13 19:49] jainaashish commented on #4232
Associated external bug is merged/closed.

[2017-01-13 19:49] #4232 closed, assigned to jainaashish

[2017-01-13 19:49] jainaashish commented on #4238
Confirmed with user, it's working fine now.

[2017-01-13 19:49] #4238 closed, assigned to jainaashish

[2017-01-13 20:24] emgarten commented on #4277
Set the environment variable ``NUGET_PACKAGES`` to a different folder location to override the path.

[2017-01-13 20:30] joelverhagen opened #4279 "NuGet client should use the autocomplete endpoint for V3 VersionStartsWith search"
Current implementation:

[code]

Using the registration blobs for this is wrong. We should use the `/autocomplete?id=ID` endpoint. We could also use the flat container index.

Example:
https://api-v2v3search-0.nuget.org/autocomplete?id=newtonsoft.json
https://api.nuget.org/v3-flatcontainer/newtonsoft.json/index.json

This currently works properly on V2 endpoints, because the `package-versions/ID`

[2017-01-13 21:17] dasMulli opened #4280 "Nuget doesn't restore a net461 project failing the build"
Using dotnet cli `1.0.0-preview5-004478`.
Create a `csproj` with the following content:
[code]

Try to build:
[code]

Workaround:
Change `TargetFramework` to `TargetFrameworks` => restore will produce an assets file.

`dotnet --info`:
[code]

cc @emgarten @rrelyea (don't know better..)

[2017-01-13 21:36] dasMulli commented on #4280
Seems to work with `1.0.0-rc3-004479` if you know where to get it from at the moment 😁

[2017-01-13 21:36] #4280 closed, assigned to nobody

[2017-01-13 22:24] emgarten opened #4281 "Improve PMC errors for projects that do not support nuget"
Improve PMC errors for projects that do not support nuget

NuGet 4.0.0-rc3 on VS 2017 (not a regression)

### Steps
1. Create a new Azure Data Lake > Pig Application
1. Install-Package nuget.versioning

### Expected
A friendly message saying that the project does not support NuGet.

### Actual
![image](https://cloud.githubusercontent.com/assets/6381138/21947661/1bc62e7e-d99b-11e6-8831-b774061839f3

[2017-01-13 22:58] mishra14 opened #4282 "Add E2E tests for net core projects"
We currently do not have any E2E tests for Net core projects.

[2017-01-13 23:08] zhili1208 commented on #4199
can't repro this issue by following the repro steps from vsfeedback

[2017-01-13 23:18] natemcmaster opened #4283 "Targets and props in buildMultiTargeting get imported multiple times"
Package layout:
[code]

Example,
[code]
On restore (using 4.0.0-rc3), the project's generate targets file includes an import once per tfm.

E.g. My.Project/obj/My.Project.csproj.nuget.g.targets will contain
[code]

The same is true for buildMultiTargeting/$packageId.props files.

cc @emgarten

[2017-01-13 23:37] emgarten opened #4284 "IVsPackageInstaller does not throw the correct error when a non-existant reg key is used"
### Steps
1. Call IVsPackageInstaller to install a package from the registry.
1. Ensure the regkey given does not exist

### Expected
A helpful error message

### Actual
An argument null exception when ``path`` is null

The component handling registry installs expects the error handler to throw and not continue.
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio.Im

[2017-01-13 23:59] natemcmaster commented on #3953
RC.3 fixes part of the problem (all version used to be set to 1.0.0), but has introduced others, primarily, that the 'version' of package references is **resolved _at restore_, not _at pack_.** This means --version-suffix can only apply to the currently-packed project, not its references.

Repro:
Create two projects:
Project.Abstractions
Project.Console --> depends on Project.Abstractions

Goal:
P

[2017-01-14 00:05] rohit21agrawal commented on #3953
AFAIK --version-suffix wasn't meant to replace '-*' in Package References, it was only meant to replace the '-*' in the version of the package being packed.

CC: @rrelyea @emgarten  thoughts?

[2017-01-14 00:09] natemcmaster commented on #3953
If so, it's a significant breaking change from project.json behavior and will make builds difficult for anyone with multiproject solutions.

[2017-01-14 00:27] rohit21agrawal commented on #3953
@natemcmaster why cant you just use package reference version= 3.0.0-$(VersionSuffix) instead of putting a "*" ?

[2017-01-14 00:31] zhili1208 commented on #4224
the problem is
the package Microsoft.Web.Infrastructure.1.0.0.0 from C:\Program Files (x86)\Microsoft Web Tools\Packages\
Contains Install.ps1 which try to access "NuGet.VisualStudio.ISolutionManager" in tools folder.

"NuGet.VisualStudio.ISolutionManager" is a nuget 2.x API, it no longer exist in nuget 4.x

Also check the same package from nuget.org. It only contains lib folder and no tools folde

[2017-01-14 00:36] #4199 closed, assigned to zhili1208

[2017-01-14 00:37] natemcmaster commented on #3953
@rohit21agrawal a little confused by your question. PackageReference and ProjectReference are not the same thing. Can you clarify what you were asking?

[2017-01-14 00:40] rohit21agrawal commented on #3953
@natemcmaster  oh i thought you were referring to the behavior of PackageReference, i misread your OP.

can you attach your project's assets file here?

[2017-01-14 00:44] natemcmaster commented on #3953
Here's a gist with the repo:
https://gist.github.com/natemcmaster/2eb494cf07771f70825ba72a3e15c444

Here is the project.assets.json file:
[project.assets.json.txt](https://github.com/NuGet/Home/files/705628/project.assets.json.txt)

[2017-01-14 00:49] natemcmaster commented on #3953
One possible workaround: if you set version suffix during restore, it get's baked into the project.assets.json file, and shows up in nuspec:

[code]

This is still less than ideal, and I suspect will go wrong when the build runs NuGet restore within Visual Studio.

[2017-01-14 00:55] rohit21agrawal commented on #3953
feel free to file a separate bug on this, but i feel this workaround is the only solution going forward.

[2017-01-14 01:28] jainaashish commented on #3873
286956 is fixed and resolved.
286587 - CPU time regression is taken care of, need little more investigation for byteallocation

[2017-01-14 02:19] emgarten commented on #4283
@natemcmaster good catch, these should only be imported once since they are not conditioned on TFM. I'll fix this.

[2017-01-14 04:17] emgarten commented on #4280
@dasMulli add this property to your project file:

[code]

It will be set automatically by the SDK, but you may have the updated nuget.targets without the latest SDK.

[2017-01-14 04:19] emgarten commented on #4279
Using flatcontainer would show unlisted packages currently, it would be great to improve these so they could be used. It is exactly the data needed.

[2017-01-14 04:22] twsouthwick opened #4285 "Visual Studio package manager not updated when NuGet.config is edited"
## Details about Problem

NuGet product used: VS UI
NuGet version (x.x.x.xxx): 3.5.0
VS version (if appropriate): VS 2015 Update 3
OS version (i.e. win10 v1607 (14393.321)): win10 14393.693

Worked before? If so, with which NuGet version: Never worked

## Detailed repro steps so we can see the same problem

1. Add a NuGet.config to the solution level directory
2. Add a new source there
3. Go to th

[2017-01-14 04:29] #4192 closed, assigned to rohit21agrawal

[2017-01-14 04:34] rohit21agrawal commented on #2300
@rrelyea I think this should be fixed for 4.0 as this is definitely not the desired behavior. However, this would technically be classified as a breaking change, so we might need to come up with a good strategy to avoid any compat issues.

[2017-01-14 04:37] rohit21agrawal commented on #4059
@aL3891 would you download the latest CLI+SDK from https://dotnetcli.blob.core.windows.net/dotnet/Sdk/rel-1.0.0/dotnet-dev-win-x64.latest.zip and let us know if your issue still repros?

[2017-01-14 04:43] rohit21agrawal commented on #4150
@joelverhagen we decided not to support title in csproj. is there a reason you need it ?

[2017-01-14 04:54] joelverhagen commented on #4150
It's a first class property in NuGet.

I have a package with a title that is different than the ID. This is a pretty common scenario.

Newtonsoft.Json
Json.Net

[2017-01-15 00:21] atrauzzi opened #4286 "Transport errors when attempting to push nuget package from inside a container on travis-ci"
This ticket is related to: https://github.com/travis-ci/travis-ci/issues/7155

Basic gist of things is that I have a project [here](http://github.com/atrauzzi/praxis) which I'm building on travis-ci inside of a docker container.

When everything is run locally, I am able to push my nuget package via the container.  When run in the travis-ci environment however, I get transport errors.

Nuget doesn

[2017-01-15 00:38] rrelyea opened #4287 "after rename of a .NET Core project, restore becomes broken until you unload project and reload it"
VS 2017 26114.00 (rc3 not final)

Unsure if this would take a RoslynProjectSystem/NuGet or both…

1.	Create a NetStandard project named ClassLibraryNetStandard
2.	Rename the project ClassLibraryNetStandard14
3.	Build

Expected: no error, restore works

Actual: In build output window, see a message: Error occurred while restoring NuGet packages: The operation failed as details for project ClassLibr

[2017-01-15 03:48] srivatsn opened #4288 "msbuild restore ouput with /v:minimal is not minimal"
## Detailed repro steps so we can see the same problem

1. Clone https://github.com/srivatsn/roslyn-project-system/tree/dogfood (or any PackageReference based project)

2. msbuild src\ProjectSystem.sln /t:restore /v:minimal

Expected: Something minimal - For each project whether restore succeeded or not.

Found: The regular output which is a lot.

[2017-01-15 08:18] AArnott opened #4289 "Pack runs too often -- PackTask frequently fails with file access conflict"
## Details about Problem

Visual Studio d15rel 26114.0

## Detailed repro steps so we can see the same problem

[Disable package restore in VS](https://github.com/Microsoft/vs-threading/blob/v15.0/CONTRIBUTING.md#important-notice-when-developing-with-visual-studio) prior to completing these steps since VS can't restore these packages properly.

[code]

Right-click on the Microsoft.VisualStudio.Val

[2017-01-15 08:55] AArnott opened #4290 "PackTask fails due to System.IO.Compression 4.1 not being found"
## Details about Problem

VS version (if appropriate): Visual Studio 2017 d15rel 26114.0
OS version: win10 build 14393.rs1_release.161220-1747

## Detailed repro steps so we can see the same problem
[code]

Sometimes it fails with this error:

[code]

[msbuild.zip](https://github.com/NuGet/Home/files/706480/msbuild.zip)

[2017-01-16 02:52] michaelw-au opened #4292 "Update-Package -reinstall does not reinstall in packages folder"
I want to develop changes to PackageA and test them from a consuming project "ConsumerApp" as I go, without constantly changing the package version. For local iteration and testing on the package before the real release.

I'm using these steps:

1. Build a change to PackageA, without incrementing the version.
2. Re-publish PackageA to a local feed, on my development machine. This works fine (I del

[2017-01-16 05:51] WonyoungChoi commented on #4175
I've changed the identifier to "tizen" from "tizennet" and added "version mapping" to reduce the burden of the management.
And.. , I sincerely hope that the Tizen TFM will be added until official release of Tizen.NET...

[2017-01-16 08:40] v-luzh opened #4293 "[Test Failure] The installed package version show in ‘packages.config’ is inconsistent with that in PMC or PM UI"
**NuGet Version:** NuGet 4.0.0-RC3-2215
**VS Version:** D15Rel 26115.00
**OS Version:** Windows 10 RS1_Release 14393.726.170112-1758

**Repro Steps:**
1.  Create a Visual C#->WCF->WCF Service Application template via VS.
2.  Right-click on the project and click ‘Manage NuGet Packages…’.
3.  Open ‘Browse’ tab and type ‘WCF’ in the search filter.
4.  Install package ‘WCF’ (version is 1.0.0 in PM UI)

[2017-01-16 10:28] mausch commented on #4171
Weird, I can't reproduce it any more. I'll close this now, sorry for the trouble.

[2017-01-16 10:28] #4171 closed, assigned to rohit21agrawal

[2017-01-16 13:50] maartenba commented on #3771
What's this about? What will be improved?

[2017-01-16 18:42] rohit21agrawal commented on #4189
@rrelyea potentially 4.0-RTM candidate. please triage as appropriate

[2017-01-16 18:54] rohit21agrawal opened #4294 "nuget pack does not output success message on packing a project successfully"
the console output should mention where the nupkg was generated.

[2017-01-16 19:02] rrelyea opened #4295 "Visual Studio deadlocks if you add TFM in targetframeworks, save, then build. 10% of time"
@NickCraver reported this.
Perhaps similar issue to #4257

Came from Balaji via https://github.com/dotnet/roslyn-project-system/issues/1174#event-924714194

[2017-01-16 19:25] rohit21agrawal commented on #4290
cannot repro this in 26114.2 build and onwards.
@AArnott  it would be great if you could verify this on your end too

[2017-01-16 19:52] jinujoseph opened #4296 "Restore failing on newly created xunit Test project"
**Repro Steps**
Create new Project -> .NetCore -> xunit Test Project (.Net Core)

**Expected**
restores successfully

**Actual**
![image](https://cloud.githubusercontent.com/assets/12449387/21997071/1920be66-dbe2-11e6-80a1-2b7112cfb3fc.png)

**Build**
26114.2.d15rel

[2017-01-16 19:54] rohit21agrawal commented on #4289
@AArnott the project from the repository does not build , and as a result does not pack either.

however, i tried this with a simple class library project that targets net45  and netstandard1.3, and tried packing repeatedly from VS and i don't get a file access conflict. i am attaching a project against which i trid repro'ing this issue.

If this still repro's for you , could you use process explo

[2017-01-16 20:11] bradwilson commented on #4296
I've just pushed the packages to NuGet. They should be available in the next few minutes.

[2017-01-16 20:30] jinujoseph commented on #4296
i can confirm that this works now ..

I am getting 1>C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\Microsoft.Common.CurrentVersion.targets(1912,5): warning MSB3277: Found conflicts between different versions of the same dependent assembly that could not be resolved.  These reference conflicts are listed in the build log when log verbosity is set to detailed.

[2017-01-16 21:21] rrelyea commented on #4296
@jinujoseph - that last issue sounds like a SDK/build issue, right? If so, can you please open an issue in that world and close this one?

[2017-01-16 21:43] rrelyea opened #4297 "On Migrate, projects change from project.json to csproj --- restore fails"
@jainaashish raised this problem during our Monday .

Do we need to unload our nuget project and load the new appropriate one.

[2017-01-16 22:02] jinujoseph commented on #4296
filed 368788 in vs repo to follow-up on warning.

[2017-01-16 22:02] #4296 closed, assigned to rohit21agrawal

[2017-01-16 22:03] rrelyea commented on #4286
Version of nuget.exe or dotnet.exe?

[2017-01-16 22:04] rrelyea commented on #4284
version? regression? existing?

[2017-01-16 22:06] rrelyea commented on #4276
Think that a new package was pushed to nuget.org to fix this issue. please confirm.

[2017-01-16 22:06] #4276 closed, assigned to nobody

[2017-01-16 22:28] jainaashish opened #4298 "VS crash on build restore"
VS hang and crash in below code path while doing build restore for a migrated project (xproj to packageRef) NuGet.SolutionRestoreManager.dll!NuGet.SolutionRestoreManager.SolutionRestoreWorker.Restore(NuGet.PackageManagement.VisualStudio.SolutionRestoreRequest request)	Unknown

Call Stack:
 	Microsoft.VisualStudio.Threading.dll!Microsoft.VisualStudio.Threading.NoMessagePumpSyncContext.Wait(System.I

[2017-01-16 22:30] davkean commented on #4257
@AArnott [also ran into this](https://github.com/dotnet/roslyn-project-system/issues/1172#issuecomment-272971945), here's another dump: `\\andarno1\public\dumps\roslyn-project-system#1172`.

[2017-01-16 22:31] davkean commented on #4295
I hit this same just by changing target framework.

[2017-01-16 22:31] atrauzzi commented on #4286
Both latest.

Dotnet: https://github.com/atrauzzi/praxis/blob/master/Praxis/Dockerfile#L1
Nuget: https://github.com/atrauzzi/praxis/blob/master/Praxis/Dockerfile#L13

Everything about the process is available in the repository, so it should be easy to get all your answers there :)

Reminder: It works for me locally.  It's *only* when I try to push from Travis servers.  So far, they're saying that

[2017-01-16 22:33] srivatsn opened #4299 "NuGet Package Manager Always Returns to Installed Tab Rather than Last Tab"
_From @MarkMichaelis on January 16, 2017 21:35_

Each time you open up NuGet Package manager it returns to the Installed Tab rather than the last used tab, as the (for example) Browse tab which, at least for me, is far more common.
cc: @GrantErickson

_Copied from original issue: dotnet/roslyn-project-system#1193_

[2017-01-16 22:33] srivatsn commented on #4299
_From @scottaddie on January 16, 2017 22:14_

Related issue that I logged a while back [here](https://github.com/NuGet/Home/issues/2353). Would be nice to make this behavior configurable.

[2017-01-16 22:51] rrelyea commented on #4286
can you please tell me the version numbers? want to ensure we are talking about the exact same thing. thx.

[2017-01-16 22:52] rrelyea commented on #4295
link to dump file is in email to alex and I from balaji

[2017-01-16 23:39] davkean opened #4300 "Choose "NuGet Package Manager Format" dialog looks bad under dark theme"
![image](https://cloud.githubusercontent.com/assets/1103906/22002562/1dfe37c8-dca1-11e6-90de-d17d6eabb36a.png)

[2017-01-16 23:40] davkean commented on #4300
On behalf of @bradwilson.

[2017-01-16 23:48] clairernovotny commented on #4300
Related: no one knows what "Packages.config" or "PackageReference" means. Impossible for most people to make/understand the choice here.

[2017-01-16 23:49] davkean commented on #4300
@onovotny Can you open a different bug on that? That comment will get lost in this bug.

[2017-01-16 23:53] clairernovotny opened #4301 "Choose "NuGet Package Manager Format" dialog text is confusing"
![](https://cloud.githubusercontent.com/assets/1103906/22002562/1dfe37c8-dca1-11e6-90de-d17d6eabb36a.png)

In the dialog above, the options "packages.config" and "PackageReference" doesn't mean anything to most people.

It should probably say something about "VS 2015 compatible" vs "VS 2017+".

[2017-01-16 23:54] clairernovotny commented on #4300
Done in #4301

[2017-01-17 00:12] atrauzzi commented on #4286
Sure thing...

[code]

[code]

[2017-01-17 00:51] scottaddie opened #4302 "NuGet Package Manager dialog confused with netcoreapp1.0 TFM"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
[code]

NuGet version (x.x.x.xxx):
[code]

dotnet.exe --version (if appropriate):
[code]

VS version (if appropriate):
[code]

OS version (i.e. win10 v1607 (14393.321)):
[code]

Worked before? If so, with which NuGet version:
[code]

## Detailed repro steps so we can see the same problem

1. Cl

[2017-01-17 01:27] AArnott commented on #4289
I've updated the repro steps to clarify how to get the project to build.
Regarding what process is accessing the nupkg, is there any doubt that it's msbuild.exe? I certainly don't have any other processes that would be reading that file.

[2017-01-17 01:30] AArnott commented on #4290
On d15rel 26115.1...
It doesn't repro when I try it repeatedly. But it only happened twice on the original build I reported out of a couple dozen uses. So I'm not sure this is definitive.

[2017-01-17 01:34] AArnott opened #4303 "Missing method on restore NuGet.RuntimeModel.JsonObjectWriter.GetJObject()"
VS: d15rel 26115.1
dotnet --version: 1.0.0-rc3-004504

Simply running "msbuild /t:restore" on a newly created project fails with a Method not found error.

[code]

[2017-01-17 01:49] davkean opened #4304 "NuGet outputs a bunch of warnings about duplicate imports during restore"
Build: 4.0.0.2215
VS: 26114.2 (D15Rel)

From a Visual Studio command-prompt:

1. `git clone http://github.com/donet/roslyn-project-system.git`
2. `git checkout 9f8cbdb0ca876ae037bb3e3fb0dd1bc1e70cf880`
3. Grab NuGet.exe 4.0.0.2215 and replace build\bin\nuget.exe
4. `build`

Expected: No warnings
Actual: About 50 warnings with:

[code]

[2017-01-17 10:35] endeffects commented on #4073
Hi,

i have the same problem when i try to create a nuget package as bundle from different c# projects

**Nuspec**
[code]

**Nuget Output**

[2017-01-17 10:45] dg2k commented on #4204
Happened to me a moment ago. The keyboard doesn't respond to the Console window at all. Mouse interaction seems OK because I can place the cursor anywhere in the pmc window.
If this is a hint, there is red text prompt on the last two lines reading:

    Value cannot be null.
    Parameter name: key

Exiting VS2017RC and re-launching it cured the problem and I can interact with the pmc.

[2017-01-17 12:43] aL3891 commented on #4059
Hi, sorry for the delay,
I got a different error with this one:

[code]

I tried renaming the files in both projects but I still get the same error, I also tied setting the file name explicitly instead of using a glob

[2017-01-17 12:47] aL3891 commented on #4059
Here are my project files, each project just contain a single empty class

[code]

[code]

[2017-01-17 12:54] aL3891 commented on #4059
The failing tasks in detail:

[code]

[code]

[2017-01-17 13:01] aL3891 commented on #4059
I also get this error when building the second class library by itself so I don't think this has to do with references

[2017-01-17 13:12] aL3891 commented on #4059
Actually this guy seems to be the cause

[code]

Should I open a different issue on sdk maybe? (or cli or msbuild perhaps)

[2017-01-17 13:30] aL3891 commented on #4059
Got it working by removing the Compile tag,

As for the pack, it does seem to work now, there are no warnings or errors and ClassLibrary2 does not get added to the package but is added as a dependency in the nuspec file witch is by design if I understand correctly?

It would be nice to tell pack to include project references in the package though :) perhaps there is another way to do that

[2017-01-17 14:26] rohit21agrawal commented on #4059
@al3891 we plan to add the capability in 4.0.1 version of nuget. As of now, the best way to do that would be to use a nuspec file - you can use the one generated in the obj folder, and build up on that.

If pack works reasonably for you, could you close this bug?

[2017-01-17 16:14] rohit21agrawal commented on #4136
@onovotny Could you update the build steps for the above project? I am getting the following errors:

[code]

[2017-01-17 16:21] clairernovotny commented on #4136
@rohit21agrawal I've just pushed an update to the dev branch with the updated glob.

[2017-01-17 16:26] rohit21agrawal commented on #4289
@AArnott thanks, i can repro this now.. will update once i have a fix for this.

[2017-01-17 16:46] mishra14 opened #4305 "Automate the process of validating the NuGet loc strings before insertions."
We should automate the process of checking the NuGet artifacts before insertions. To validate localization strings are correctly formatted , the [tool](https://github.com/NuGet/Entropy/tree/master/NuGetBuildValidators) needs to be hooked into the pipeline.

[2017-01-17 17:00] mishra14 commented on #4271
Tool is ready at https://github.com/mishra14/NuGetBuildValidators and https://github.com/NuGet/Entropy/tree/master/NuGetBuildValidators

No risks detected. Closing this issue. I have opened another issue related to integrating the tool into our pipeline : https://github.com/NuGet/Home/issues/4305

[2017-01-17 17:00] #4271 closed, assigned to mishra14

[2017-01-17 17:01] mishra14 commented on #3506
It seems that a bunch of strings have not yet been localized. I have emailed Daniel and vendors to get their take on that.

[2017-01-17 17:08] rrelyea commented on #4302
#4035 sounds similar (but in vs2015)

[2017-01-17 17:15] rrelyea commented on #4272
believe it will be fixed by this work: https://github.com/dotnet/roslyn-project-system/issues/1211 (should we move to sdk repo)

[2017-01-17 18:59] rohit21agrawal opened #4306 "Getting local dependencies to add the correct version when `dotnet pack`ing"
Posted on behalf of @avanderhoorn . Ported from https://github.com/dotnet/cli/issues/5151

## Steps to reproduce

Executed command
[code]
Target Glimpse.Common.csproj
[code]
Target Glimpse.Server.csproj
[code]
Resulting Glimpse.Server.nuspec
[code]

## Expected  behavior
I want the version of the `Glimpse.Common` dependency in above `Glimpse.Server.nuspec` to be `2.0.0-beta2-123` vs instead `1.0.0

[2017-01-17 20:12] rrelyea opened #4307 "CPS out of sync with Restore with larger solutions that haven't turned on LSL (lightweight solution restore)"
From @Srivatsn
please investigate to understand if this should be rc3 or rtm issue?
Opening Projectsystem.sln from https://github.com/srivatsn/roslyn-project-system/tree/dogfood/src

Show these errors in the package manager window:

Error occurred while restoring NuGet packages: The operation failed as details for project ProjectSystemDogfoodSetup could not be loaded.
Error occurred while restorin

[2017-01-17 20:15] jainaashish commented on #4297
it's working fine, tried for several projects migrated from Project.json to PackageRef. It always wait to complete the migration and then nominate projects to NuGet. Then we starts with our auto-restore.

[2017-01-17 20:15] #4297 closed, assigned to jainaashish

[2017-01-17 20:23] emgarten commented on #4298
Here is what it looks like is happening from the dump file:

* A manual restore before build event is started. SolutionRestoreWorker is holding the UI thread , this is using a JTF with a context for CPS not the standard JTF
* At the same time the project is changed and a nomination occurs from a background thread. VSSolutionManager.IsSolutionFullyLoaded is called which needs the UI thread.

It is

[2017-01-17 20:25] zhili1208 commented on #4198
Repro step:
1. add a bad package source through UI setting
2. open solution package manager.
3. select nuget.org as active package sources.
4. switch package source to bad package source.
5. switch between packages.

Expect:
UI shows right information for all packages.

actual:
package versions list will be out of sync.

[2017-01-17 21:39] rrelyea opened #4308 "Run Add-Migration from NuGet package manager console, you get : The term 'Add-Migration' is not recognized"
from internal bug: 368394 & 372378 & 378413

REPRO STEPS
1. Create a 1.0 Core Web Application
2. F5
3. Register yourself as a user (click Register in upper right, fill in name and password, Register)
4. Add Movie.cs to the Models folder

    public class Movie
    {
        public int ID { get; set; }
        public string Title { get; set; }
        public DateTime ReleaseDate { get; set; }
     

[2017-01-17 21:59] rrelyea commented on #4303
@rohit21agrawal / @jainaashish -  dupe of https://github.com/NuGet/Home/issues/4272?

[2017-01-17 22:07] kraigb commented on #2326
This is fixed on https://docs.microsoft.com/en-us/nuget/schema/nuget-config-file#solution-section. Thanks for pointing it out!

[2017-01-17 22:08] kraigb commented on #2823
This is fixed on https://docs.microsoft.com/en-us/nuget/schema/nuget-config-file#solution-section.

[2017-01-17 22:10] kraigb commented on #3511
See https://docs.microsoft.com/en-us/nuget/tools/nuget-exe-cli-reference#restore for the note under nuget restore.

[2017-01-17 22:13] MicahZoltu commented on #3511
This issue is completed to my satisfaction (documented).  Feel free to close as appropriate.

[2017-01-17 22:14] NickCraver opened #4309 "VS 2017 RC: Missing "Manage NuGet packages" on the Dependencies -> NuGet node"
## Details about Problem

- NuGet product used: Visual Studio UI
- VS version (if appropriate): 2017 RC 15.0.0-RC.3+26116.0
- OS version (i.e. win10 v1607 (14393.321)): Windows 8.1

Worked before? If so, with which NuGet version: New issue

## Detailed repro steps so we can see the same problem
1. Expand a project in solution explorer (one with NuGet packages)
2. Expand the **Dependencies** node
3

[2017-01-17 22:29] emgarten commented on #3511
Thanks @MicahZoltu, closing this issue

[2017-01-17 22:29] #3511 closed, assigned to karann-msft

[2017-01-17 23:07] jainaashish commented on #4303
yeah looks like different scenario but same root cause. In this case, MSBuild process probably would have different versions for NuGet assemvblies.

[2017-01-17 23:28] alpaix commented on #4295
According to my analysis of the dump the project build has started and requested restore when active auto-restore was running in the background. At the same time another auto-restore request has arrived and has been blocked.

Active auto-restore pending UI thread switch:
[code]
On-build restore pending task promotion:
[code]
New auto-restore request being enqueued:
[code]

[2017-01-17 23:36] mlorbetske opened #4310 "ASP.NET Core VS2017 app open hangs without internet, (dotnet restore fails)"
Copied from https://github.com/aspnet/Tooling/issues/931 per @damienbod

When I start an ASP.NET Core application in VS2017 and the application requires a nuget package from the server, and no internet connection exists, VS2017 hangs and needs to be killed.

[2017-01-17 23:36] mlorbetske commented on #4310
cc @rrelyea

[2017-01-17 23:55] rrelyea commented on #3839
@zhili1208  - can you please try to repro this problem on rc3 bits? talking to another customer now
(they found the packags under syswow64 dir, I think...)

[2017-01-18 00:06] rohit21agrawal commented on #4306
@avanderhoorn this is the bug that needs to be fixed for this to work : https://github.com/NuGet/Home/issues/3901

The timeframe for this is RTM, and once this is fixed, your scenario would work exactly as you expect it to.

[2017-01-18 00:15] rohit21agrawal commented on #4254
closing this as a duplicate of  : https://github.com/NuGet/Home/issues/4250

[2017-01-18 00:17] natemcmaster commented on #4254
I don't think these are duplicates. #4250 is about issues packing with csproj + nuspec. This one is about packing nuspec **without** a csproj file.

[2017-01-18 00:18] rohit21agrawal commented on #4254
aah i see, i don't think this will  be accommodated in 4.0-RTM as you need a way of getting the Pack targets imported so dotnet pack can work properly - which is why we have a requirement of having a dummy csproj right now

[2017-01-18 00:48] danroth27 commented on #4277
A customer today reported a similar issue where they were able to successfully restore from a local system account, but the packages could not be resolved at build time because of confusion between the system32 path and the sysWOW64 path.

[2017-01-18 00:51] AArnott commented on #4303
If MSBuild is reusing the wrong versions of assemblies because they're already loaded, that sounds related to, or a dupe of, https://github.com/Microsoft/msbuild/issues/663

[2017-01-18 00:51] rrelyea opened #4311 "[vsfeedback] NuGet Package Manager seems to be saying the latest stable version of CsvHelper package is 1.1.0 when it's really 2.16.3"
(see vsfeedback issue 734614)
using RC2.2 -- reported by @daroth

[2017-01-18 00:56] rrelyea opened #4312 "[vsfeedback] votes VS (External) January 08 Developer Community screenshot watson log .NET log more files Select Visual Studio 17 Community Edition - "Can't reach localhost" after nuget updates"
[see vs feedback item 735344 - reported from user using rc2.2]

I am using VS 17 Community Edition 15.0.26020.0. I created an ASPNET Core Web Application (.NET Core). Built it with no changes and it ran fine. Changed Target framework to .NETCoreApp 1.1. Again built it and it ran fine.

Then I used the "Nuget packages for Solutions" to update all the packages (some 14 packages, if I remember). Buil

[2017-01-18 00:59] zhili1208 commented on #4311
this is dup of https://github.com/NuGet/Home/issues/4198

[2017-01-18 00:59] #4311 closed, assigned to zhili1208

[2017-01-18 01:00] rrelyea opened #4313 "[vsfeedback] VS hangs forever after package update"
[see vsfeedback item 735748]
Steps:
1- create a new ASP.NET core web application project
2- right click on the progect and click on manage NuGet packages
3- click on updates
4- click on 'select all packages' check box
5- click on 'update' button

Expected result:
NuGet packages updated to latest version (1.1.0)

Current result:
Packages are downloaded but during project file update visual studio e

[2017-01-18 01:16] zhili1208 commented on #4313
can't repro it in d15rel 26114.2 with nuget 4.0.0.2215

[2017-01-18 01:18] emgarten commented on #4277
@danroth27 do you think a warning in the nuget output would have helped?

[2017-01-18 01:27] rrelyea commented on #4311
@danroth27 is the right alias.

[2017-01-18 01:45] emgarten commented on #4313
I'm going to close this as a dupe. The repro steps here are identical to: https://github.com/NuGet/Home/issues/4185  and this has been fixed.

I verified the repro steps in this bug many times on a solution with 10+ web app projects doing an update all across everything from the UI and was unable to get a hang after the fix.

[2017-01-18 01:45] #4313 closed, assigned to zhili1208

[2017-01-18 02:51] emgarten commented on #4243
I wasn't able to repro this with the latest CLI on windows. It could be that xplat msbuild is having trouble with encoding.

https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-restore/Program.cs#L86

[2017-01-18 02:55] emgarten commented on #4266
This could be related to the JTF and improved by the current fix to use a CPS enabled JTF.

[2017-01-18 04:57] avanderhoorn commented on #4306
Thanks! Is there any workaround in the mean time?

[2017-01-18 05:03] #4250 closed, assigned to rohit21agrawal

[2017-01-18 05:33] #4298 closed, assigned to emgarten

[2017-01-18 05:39] rohit21agrawal commented on #4137
@onovotny have you tried repro'ing this issue with the latest CLI ?

[2017-01-18 06:10] #2823 closed, assigned to nobody

[2017-01-18 06:24] clairernovotny commented on #4137
Just tried with the latest CLI and can confirm this is fixed for me. Thanks!

[2017-01-18 06:25] rohit21agrawal commented on #4137
Awesome! Thanks for validating :)

[2017-01-18 06:25] #4137 closed, assigned to rohit21agrawal

[2017-01-18 06:38] AndyTian-Devops opened #4314 "[Test Failure]Fail to uninstall packages from .Net Standard ClassLibrary application."
**NuGet Version:** NuGet 4.0.0-RC3-2215
**VS Version:** D15Rel 26116.00
**OS Version:** Windows 10 RS1_Release 14393.726.170112-1758

**Repro Steps:**
1. Create a C# .Net Standard ClassLibrary application.
2. Install some packages in this application, like Newtonsoft.json 9.0.1 , JQuery 3.1.1.
3. Open PMC, input **"Uninstall-Package JQuery"**,  it will notice download and install nuget provider.
!

[2017-01-18 06:40] AndyTian-Devops commented on #4314
This issue also happens when uninstall Newtonsoft.json
![0118](https://cloud.githubusercontent.com/assets/12235523/22053504/0e9ce586-dd8c-11e6-9edd-2181e100130e.png)

[2017-01-18 06:49] emgarten commented on #4314
It looks like the windows powershell commands are being used instead of the NuGet ones. The PM console loads a module to bring in the NuGet commands, these should override everything else.

[2017-01-18 06:51] v-nancyj opened #4315 "[Test Failure] Project is not selected by default in ‘Default project’ drop box after installing a package"
**NuGet Version:** NuGet 4.0.0-rtm-2219
**VS Version:** D15Rel 26117.00
**OS Version:** Windows 10 RS1_Release 14393.726.170112-1758

**Repro Steps:**
1.	Launch VS.
2.	New a Visual C#->Windows Classic Desktop->Console App (.NET Framework) project.
3.	Open ‘Package Manager Console’ to verify the Project is selected by default in ‘Default project’ drop box .
4.	Right-click on the project and click ‘

[2017-01-18 07:44] v-luzh commented on #4276
@rrelyea Yes, it is fixed on D15Rel 26117.00 (NuGet Client 4.0.0-RC3-2215). Thanks.

[2017-01-18 08:29] aL3891 commented on #4059
Allright, cool :)
yeah we can close this one

[2017-01-18 08:29] #4059 closed, assigned to rohit21agrawal

[2017-01-18 11:20] TheRealPiotrP opened #4316 "Dotnet Restore foo.sln -- fails when configurations in SLN cause duplicate (but diff config) projects in restore graph"
Moving from dotnet/cli#4857 on behalf of @twsouthwick
----
## Steps to reproduce

This solution has an ASP.NET Core project (targeting .NET 4.6) with a new csproj file and a number of libraries all targeting .NET 4.6 that are still using the old csproj format.

Run `dotnet restore`

I can build and run in Visual Studio 2017 RC, but fails at command line.

## Expected  behavior

Restores correctly

[2017-01-18 13:15] sm-g commented on #4277
Another stranges:

[code]

After that `C:\Windows\system32\config\systemprofile\.nuget\packages\` still contains all folders with content.

[2017-01-18 13:25] Alezis opened #4317 "Can't restore packages if xproj refs xproj in different folder"
### Info
I came across this when wrestling with nuget. exe on TFS 2015 build server.
I created set of sample projects and tested my findings. The main issue that nuget.exe failed restoring solution where xproj refs xproj, but this second one located in different folder. See "**Issue 3**" below( in attached file "Issue 3".
However, I don't quite understand why solution with structure WebApplication

[2017-01-18 14:57] bzuidgeest commented on #545
I have read through this thread and it is all about supporting dacpac, but what about sql server CLR. It is perfectly valid to add and reference to an .net assembly that has functions marked for SQL CLR in a SQL project. In fact the project template starts out with two already. For know I have to add a code project dummy to my solution to use nuget and than add references from the sql project to t

[2017-01-18 15:31] rohit21agrawal commented on #4306
@avanderhoorn unfortunately, no. The best you can do right now is to use the generated nuspec file in your obj folder, modify it manually and use it again to get the right package.

[2017-01-18 15:51] rrelyea commented on #4316
@twsouthwick - do you have a sample project that shows this problem?

[2017-01-18 15:53] jamiekt opened #4318 "Run init.ps1 when nuget package is installed/updated via command-line"
## Details about Problem

We use nuget as a mechanism for packing up our binaries however there is *no* .net code in our codebase. Essentially we have a bunch of scripts (`.ps1`/`.sh`/`.sql`) that we want to package up and distribute. Nuget seems like a good mechanism for doing that. We use nuget's `init.ps1` to install the package contents into the appropriate location in the destination.

Unfort

[2017-01-18 16:23] tylerohlsen opened #4319 "Unity 3D Support through Target Fallback"
## Details about Problem

NuGet product used: Client tools within Visual Studio (UI and Powershell)
NuGet version: 3.4.4.1321
VS version: VS 2013, VS 2015, VS 2017
OS version: Microsoft Windows [Version 10.0.10586]
Worked before? No

## Detailed repro steps so we can see the same problem

1. Create new project in Visual Studio for target framework "Unity 3.5 .net Subset Base Class Libraries" or "U

[2017-01-18 17:03] danroth27 commented on #4277
To help diagnose the issue I think it would have helped to be able to see very clearly in the output:
- Where on disk restored packages were installed
- Where exactly the build process looked for packages

I also agree with @sm-g that the output of `nuget locals all -clear` was very misleading. It says it successfully cleared the caches, but the files were still there! I'm guessing this was due to

[2017-01-18 18:08] rrelyea opened #4320 "next d15prerel insertion of NuGet"
**Approved by VSClient Shiproom**
VS Perf Regression - https://github.com/NuGet/Home/issues/4261
In Dev build number ????

**Needs Approval**
Justin has a small fix for duplicate imports in multi-targeting
Bar check is approved. Understand fix.
Issue: https://github.com/NuGet/Home/issues/4283
PR: https://github.com/NuGet/NuGet.Client/pull/1129

Ankit
The fix for https://github.com/NuGet/Home/issue

[2017-01-18 18:57] natemcmaster opened #4321 "Specifying package path doesn't work with dotnet pack"
**Repro**
Use: dotnet-cli 1.0.0-rc3-004517
[code]
Run: `dotnet pack`

**Expected**

To satisfy requirements of dotnet-CLI tools, package layout must be:
[code]

**Actual**
PackTask fails with:

Full stack trace:
[code]

[2017-01-18 19:00] natemcmaster commented on #4321
cc @rohit21agrawal this is very important. We are blocked on moving aspnet tools to RC3 by this.

[2017-01-18 19:05] muratg commented on #4321
cc @rrelyea

[2017-01-18 19:06] srivatsn opened #4322 "Downgrade warning message does not indicate project or file"
_From @NickCraver on January 17, 2017 14:5_

## Steps to reproduce
1. Grab the Dapper repo here: https://github.com/StackExchange/dapper-dot-net/tree/5f2b81f0edf1ada009806a852a0749081980ac85
2. Open `Dapper.sln` in VS 2017 RC
4. Open the error window

This is what a user sees, note that Project and File columns are empty, so the user doesn't know which project is having an issue:
<img width="1125"

[2017-01-18 19:11] srivatsn opened #4323 "Hide 'Pack' option for Unit Test Project (.Net Core)” / "ASP.Net Core Web Application (.Net Core) project""
_From @jinujoseph on January 17, 2017 0:0_

_Copied from original issue: dotnet/roslyn-project-system#1204_

[2017-01-18 19:11] srivatsn commented on #4323
_From @mavasani on January 17, 2017 17:34_

Is the suggestion here even to hide the Package property page? Both the command and the page are currently based on "Pack" capability which is pulled in by NuGet Pack target.

Tagging @srivatsn

[2017-01-18 19:11] srivatsn commented on #4323
Ya we should have the pack capability only for class libraries then.

[2017-01-18 19:11] srivatsn commented on #4323
The pack capability comes from the Pack package so moving here.

[2017-01-18 19:45] zhili1208 commented on #4310
@damienbod Could you share your visual studio version and nuget version?

How to check nuget version?

open package manager console from Tools/NuGet Package Manager, it will shows package console host version.

[2017-01-18 19:54] #4283 closed, assigned to emgarten

[2017-01-18 20:03] jainaashish commented on #4315
Correction, "Default project" drop box is not empty rather by default, project is not selected in that drop box.

[2017-01-18 21:22] twsouthwick commented on #4316
I don't have one at the moment. If I remember, I ran `dotnet restore` against the `.sln` and got this error. When I ran it against the `.csproj` for the specific project, it restore correctly. If this description isn't enough to get a repro, I can try to put one together.

[2017-01-18 21:41] zhili1208 commented on #3839
I can't repro this with dotnet 1.0.0-preview2-003131 or nuget 3.5-rtm-1822.
From the error message, looks like nuget got exception during sending http request.

@PaulTrampert Can you still repro this issue? And Is your private feed visual studio team service feed?
Could you try nuget 3.5? does it still repro with nuget.exe? https://dist.nuget.org/win-x86-commandline/latest/nuget.exe

[2017-01-18 21:58] PaulTrampert commented on #3839
@zhili1208 No, I'm using ProGet for my private feed. I determined that the error nuget was getting from the private feed was an http 401 unauthorized. Reason for this was nuget was loading a config file that didn't have the feed credentials in it when running as the system account. Please see [my previous comment](https://github.com/NuGet/Home/issues/3839#issuecomment-257562448) for details on thi

[2017-01-18 22:05] natemcmaster opened #4324 "Pack target appends PackageVersion property with VersionSuffix"
**Repro:**
Install NuGet 4.0.0-rc3
Create a csproj with these settings
[code]
Execute both `msbuild /t:GenerateNuspec` and `msbuild /t:Pack`

**Expected:**
I would have expected the explicit value of PackageVersion to override the VersionPrefix/VersionSuffix values. Both the generated .nuspec file and the packaged .nupkg file are created with the version = "1.2.0".

**Actual**
Generated nuspec (in

[2017-01-18 23:06] zhili1208 commented on #4312
I got a repro with 26020 but doesn't repro with 26114, I think this is not nuget issue, Looks like dotnet.exe return error when hosting the webApp, but it's fixed in VS 26114.

[2017-01-18 23:06] emgarten commented on #4284
Latest version of 2017, probably not a regression.

[2017-01-18 23:28] alpaix commented on #4284
Confirmed with VisualStudio/15.0.0-RTW+26117.55.d15prerel, NuGet 4.0.0.2215.

![image](https://cloud.githubusercontent.com/assets/8239356/22087388/85863f3e-dd92-11e6-8a6f-5fb6152bac66.png)

[2017-01-18 23:38] rainersigwald commented on #3860
Yes, that sounds right @emgarten.

Are y'all planning to do this for RTW? I'd love to remove the fallback in MSBuild before RTW so no one accidentally depends on it, but I'm not sure it meets the current bar.

[2017-01-18 23:54] alpaix commented on #4284
Error from the activity log:
[code]

[2017-01-19 00:03] emgarten commented on #4316
It looks like something is auto generating a project and referencing it, and that project doesn't contain valid properties for nuget.

@twsouthwick a repro would be helpful

[2017-01-19 00:08] emgarten commented on #3860
@rainersigwald fixing this will involve adding a file in Microsoft.Common.CrossTargeting.targets to both desktop MSBuild and CLI. And then removing the property from NuGet I believe.

Do you think it is worth taking for RTW?

//cc @rrelyea

[2017-01-19 00:23] zhili1208 commented on #4310
doesn't repro with VS 26117 and nuget version 4.0.0.2215

All required packages are from local feed and even I delete local feed, restoring will throw "can't connect to nuget.org" error, will not hang VS

[2017-01-19 00:29] tofutim commented on #4277
Hi, I have a related problem with my netstandard library and nuget. When I run 'nuget restore my.sln' with SYSTEM (via TeamCity or command line), I end up with the packages in the packages directory on the solution root. However, as it is processing, it creates a project.lock.json file which at the very end points to "C:\Windows\system32\config\systemprofile\.nuget\packages" and so the project alw

[2017-01-19 00:37] tofutim commented on #4277
**## The 'nuget restore' places the files in SysWow64 but writes "    "C:\\Windows\\system32\\config\\systemprofile\\.nuget\\packages\\": {}" into the project.lock.json file.**

So, I think the issue is probably that 'nuget' being a 32-bit app, writes the SYSTEM packages to SysWOW64.

And setting NUGET_PACKAGES does not seem to change where anything

**Update.** In NuGetEnvironment.cs,
[code]

**U

[2017-01-19 00:48] #4304 closed, assigned to zhili1208

[2017-01-19 01:43] mishra14 opened #4325 "add package command should add version as attribute instead of element"
Created from : https://github.com/dotnet/cli/issues/5386

Current :

[code]

Expected:

[code]
@rrelyea

[2017-01-19 02:09] jainaashish opened #4326 "Error while restoring NuGet packages with HRESULT 0x8004C738"
I've a classic csproj with PackageRef which depends on a net standard library. Restore throw error:

`Error occurred while restoring NuGet packages: Exception from HRESULT: 0x8004C738`

Sample solution attached:
[ClassLibrary2.zip](https://github.com/NuGet/Home/files/715523/ClassLibrary2.zip)

[2017-01-19 02:22] jainaashish opened #4327 "NuGet restore doesn't throw error when Allow NuGet to download pacakges disabled"
Steps:
1. Disable Allow NuGet to download missing packages option from tools-> options -> NuGet Package Manager
2. create a class library
3. install newtonsoft.json and select PackageReference as package management format
4. manually delete this newtonsoft.json package from the global packages folder
5. now, do restore. It will show restore succeed and all packages are installed. But this package

[2017-01-19 03:59] davkean commented on #4273
Here's a another log where they don't agree:

[code]

[2017-01-19 04:51] damienbod commented on #4310
@zhili1208
Package Manager Console Host Version 4.0.0.2098
VisualStudio/publiic.d15rel/15.0.26020.0

[2017-01-19 06:40] srivatsn opened #4328 "Get two errors when you have invalid references"
_From @davkean on January 13, 2017 8:23_

[code]

Why do you get two errors when you have invalid references?

_Copied from original issue: dotnet/sdk#640_

[2017-01-19 06:40] srivatsn commented on #4328
_From @davkean on January 13, 2017 8:28_

Oh, maybe this is NuGet outputting this?

[2017-01-19 06:40] srivatsn commented on #4328
_From @davidfowl on January 13, 2017 9:0_

Yes that's a nuget error.

[2017-01-19 06:56] srivatsn opened #4329 "Support msbuild /t:restore;build gesture"
_From @onovotny on December 21, 2016 2:12_

Splitting from https://github.com/dotnet/sdk/issues/531

Today you have to explicitly do two commands for a proper build:
- `msbuild /t:restore`
- `msbuild /t:build`

It would be easier and more intuitive if the SDK could combine those to enable:
`msbuild /t:restore;build`, `msbuild /t:restore;pack` or even simply implicitly call restore (unless opted ou

[2017-01-19 06:56] srivatsn commented on #4329
_From @davidfowl on December 21, 2016 3:19_

We've been discussing what it would take to treat restore like a build dependency so that it's fully incremental and does everything at the required times. That would eliminate the need for running more than a single command.

[2017-01-19 07:24] emgarten commented on #4329
This requires a change to MSBuild as @davidfowl mentioned.

An example of the issue today:
1. MSBuild evaluates all imports and properties
1. Restore downloads packages and adds .targets and .props files from the packages
1. MSBuild does not load these new targets/props
1. Build runs without package targets/props

It is unclear what work NuGet would actually need to do here, if any.

[2017-01-19 07:30] emgarten commented on #4328
Solving this would require a central component to de-dupe these messages along with writing errors to the assets file along with common numbered error codes.

From the NuGet side we have no idea what warnings/errors the project system duplicate and which still need to be shown.

Also, the same errors are displayed for nuget.exe as restore in Visual Studio.

[2017-01-19 07:31] emgarten commented on #4328
This is expected. The second error message is a summary of project compatibility.

[2017-01-19 08:47] emgarten commented on #4266
I've tracked this down to the feed parser for v2 and v3 loading XML and json synchronously from ``DownloadTimeoutStream`` when there is no cache being used, which is almost always the case for the UI.

[2017-01-19 09:04] v-luzh opened #4330 "The same package source gets two different tooltips"
**NuGet Version:** NuGet 4.0.0-RTM-2224
**VS Version:** D15Rel 26118.00
**OS Version:** Windows 10 RS1_Release 14393.726.170112-1758

**Repro Steps:**
1.  Create a new C# Console Application via VS.
2.  Right-click on the project and click ‘Manage NuGet Packages…’.
3.  Hover on ‘Package source’ drop down list on the right-top of PM UI (default is ‘nuget.org’).
4.  Switch to other package source an

[2017-01-19 09:38] davkean commented on #4328
Can you point me other examples where you get a summary of "errors"? It's unneeded, and adds no value over the first error.

[2017-01-19 09:45] davkean commented on #4274
Been playing with this for a while now - and the current behavior is super annoying.

[2017-01-19 11:06] NenoLoje opened #4331 "Is .NET Compact Framework supported?"
**Question**: Does NuGet support creating packages for **.NET Compact Framework**?

The [Target Frameworks page](https://docs.microsoft.com/en-us/nuget/schema/target-frameworks) does not list any .NET Compact Framework versions (but others like .NET Micro Framework and very old .NET versions).

Maybe .NET CF needs to be added to that list?

--Neno

[2017-01-19 13:47] mtman opened #4332 "Cannot install a package packed using the -suffix parameter"
[code]

PM GUI 3.4.4.1321
VS 2015U3

[2017-01-19 15:42] lolwhatitis opened #4333 ""nuget add" hangs in Ubuntu with a local feed"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet binary in Ubuntu

NuGet version (x.x.x.xxx): 3.5.0.1996

dotnet.exe --version (if appropriate): 1.0.0-preview2-1-003155

VS version (if appropriate): N/A

OS version (i.e. win10 v1607 (14393.321)): Ubuntu 16.04 LTS

Worked before? If so, with which NuGet version: N/A

## Detailed repro st

[2017-01-19 16:35] rainersigwald commented on #3860
Per the latest bug-bar guidance, I think it's not worth pursuing for RTW. I'd love to see it for vNext though . . .

[2017-01-19 16:59] nkolev92 opened #4334 "Nuget.exe list delisted option is not propagated correctly in certain cases for V2Feeds"
In some cases the "IncludeDelisted" option is not propagated fully.

[2017-01-19 18:38] #4312 closed, assigned to zhili1208

[2017-01-19 18:58] rohit21agrawal commented on #4290
closing this for now...please reactive if you see this repro in any newer builds.

[2017-01-19 19:30] mishra14 opened #4335 "Improve localization validator to catch non localized strings"
Post the last pass we realized that a bunch of localized strings were still in English. We should improve the tool to catch that.

[2017-01-19 19:32] mishra14 opened #4336 "deliver localized nuget components for CLI"
As cli handles localization for rtm, we should deliver localized nupkgs to them. The exact method is still being discussed. I will update as we reach conclusions.

[2017-01-19 19:35] zhili1208 commented on #3839
@PaulTrampert Thank you for your information, is the dotnet.exe you are using 32bit or 64bit?

Here is what I found:
1. dotnet.exe 32bit version always load nuget.config from C:\Windows\syswow64\config\systemprofile\AppData\Roaming\Nuget\Nuget.Config
even the log info will show the config path is C:\Windows\system32\config\systemprofile\AppData\Roaming\Nuget\Nuget.Config, the OS did redirection.
2

[2017-01-19 19:37] rrelyea commented on #4303
@AArnott - looks like devenv.exe.config has a assemblybindingredirect of 0.0-8.0 --> 8.0
Problem was that a SDK assembly referenced 9.0.
They are likely addressing by doing as nuget team does and make .net framework assemblies use v6, and netstandard target 9.0.
Should devenv.exe.config be changed to be more resilient?  0-10.0 --> 8.0 ??

[2017-01-19 19:38] rrelyea commented on #3832
Refresh my memory...why in validating column again?

[2017-01-19 19:51] rrelyea commented on #4255
marking as "dupe" due to last comment. although not precisely one.

[2017-01-19 19:52] rohit21agrawal commented on #3953
@natemcmaster any other bugs from the OP that still repro for you?

[2017-01-19 19:56] natemcmaster commented on #3953
Without the workaround of calling restore AND pack in one MSBuild invocation https://github.com/NuGet/Home/issues/3953#issuecomment-272586454, item 3 in OP description still repros. It's the version-suffix on project reference issue we've been discussing.

[2017-01-19 20:03] rohit21agrawal commented on #3953
@natemcmaster could you open another bug which specifically tracks that issue, and close this one please?

[2017-01-19 20:13] AArnott commented on #4303
@rrelyea what does devenv.exe.config have to do with msbuild at the command line?

And I wouldn't likely support any plan to use a binding redirect that *lowers* the targeted version (makes someone who compiled against 10.0 load 8.0 at runtime).

What does it mean to have "netstandard target 9.0"? Newtonsoft.Json isn't *part* of netstandard, is it?

[2017-01-19 20:17] rrelyea commented on #4154
moving to 4.0.1 in case there is any left over issue on nuget side.

[2017-01-19 20:18] rrelyea commented on #4301
totally agree. dupe issue in 4.0.1 due to localization lag

[2017-01-19 20:18] natemcmaster opened #4337 "dotnet pack - version suffix missing from ProjectReference"
Follow up to https://github.com/NuGet/Home/issues/3953

**Repro**
ProjectA has project reference to ProjectB.
ProjectB contains `<VersionPrefix>3.0.0</VersionPrefix>`
`dotnet pack ProjectA.csproj --version-suffix build001`

**Expected**
ProjectA.nupkg has dependency on ProjectB **3.0.0-build001**

**Actual**
ProjectA.nupkg has dependency on ProjectB **3.0.0**

**Details**
Using 4.0.0-rc3
Worked in

[2017-01-19 20:18] natemcmaster commented on #4337
cc @rohit21agrawal

[2017-01-19 20:21] rrelyea commented on #4308
@jainaashish has additional context here.

[2017-01-19 20:31] #3953 closed, assigned to rohit21agrawal

[2017-01-19 21:00] emgarten commented on #4328
It would be similar to the build summary
``========== Build: 0 succeeded, 1 failed, 0 up-to-date, 0 skipped ==========``

NuGet is set up to log in the same way for both nuget.exe, dotnet.exe, and Visual Studio. It then writes all warnings/errors to the visual studio error list without filtering out some of these extra summaries. That should be improved as part of this.

[2017-01-19 21:15] rohit21agrawal commented on #3916
@rrelyea
This problem exists on all OS, not just Mac.

There doesn't seem to be  an API provided System.IO.Compression that allows to set access permissions on a zip archive entry.

That being said, I don't think that there is any real user scenario where we need to set file permissions on the nuspec file inside the nupkg. If someone really wanted to do that, they have all the tools to do that the

[2017-01-19 22:16] #4334 closed, assigned to nkolev92

[2017-01-19 22:54] #4294 closed, assigned to rohit21agrawal

[2017-01-19 22:57] emgarten commented on #4331
I believe CF is treated as a framework profile instead of a new framework.

Example: ``net45-cf``

The docs should probably be updated to include these along with the silverlight profiles.

[2017-01-19 23:59] davkean commented on #4328
The build summary isn't shown as an error in the Error List, output window or command-line.

[2017-01-20 00:36] zhili1208 commented on #4326
the issue here is not related to net standard library, a classic csproj with PackageRef and ProjectRef always hit this issue. the root cause is from https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/PackageManagement.VisualStudio/EnvDTEProjectAdapter.cs#L346

nuget is trying to get all assert metadata from project references, if any assert(IncludeAssets, ExcludeAssets, PrivateAssets

[2017-01-20 00:58] rohit21agrawal commented on #4150
@rrelyea if we want to fix this, we should fix this in 4.0 itself.

[2017-01-20 01:12] #4321 closed, assigned to rohit21agrawal

[2017-01-20 01:26] zhili1208 commented on #4314
I can't repro this.
@v-atian Could you provide a repro vm for this issue? it looks like nuget module is not loaded into powershell, oneGet commands are used here.

[2017-01-20 02:29] #4266 closed, assigned to emgarten

[2017-01-20 02:44] Hecatron commented on #2262
I'm currently running into this problem while trying to use the liblog Nuget package with a core project

[2017-01-20 05:25] arun-chief opened #4338 "After updating to new Microsoft.NETCore.App 1.1.0 from 1.0.3 , some bugs are thrown during compile"
![devenv_2017-01-20_10-46-20](https://cloud.githubusercontent.com/assets/16814342/22137060/c5695efc-defe-11e6-99ff-023d94b931a7.png)

Otherwise the project works fine. Only this update seems to making the problem.

I am using visual studio 2015 community edition.

[2017-01-20 05:34] blackdwarf opened #4339 "dotnet pack - allow "empty" packages to create convenience packages"
Moved from dotnet/cli#4331

[2017-01-20 06:14] davkean opened #4340 "Get a tonne of unintelligible errors when a project is missing from disk"
Current NuGet outputs a ton of errors when a project is missing from disk:

![image](https://cloud.githubusercontent.com/assets/1103906/22138279/e93378c4-df33-11e6-934c-ed40d090adf3.png)

I would prefer that it not output any errors in this case and let the project system handle the warnings.

[2017-01-20 06:17] davkean commented on #4340
Notice that the warnings are from the project system, they are short, sweet, correctly populate project information and play nicely with design-time builds.

[2017-01-20 07:23] TheRealPiotrP opened #4341 "dotnet restore | build | publish do not respect nuget.config repository path"
Moved from dotnet/cli#2714 on behalf of @schaabs

the --packages parameter on restore gets us close to the described behavior, but a quick test of dotnet restore with rc4 bits showed that the NuGet.config configuration is not being honored.

----

## Steps to reproduce

use cli to restore | build | publish a project which has a nuget.config with a specific repository path.

[code]

however if you

[2017-01-20 08:40] AndyTian-Devops opened #4342 "Intellisense doesn't work if we just input "in" in PMC"
**NuGet version:** 4.0.0.2215

**OS version:** Windows 10 RS1_Release 14393.693

**VS Version**: D15Rel 26118.01

**Repro Steps:**
1.Create a C# .Net Standard Class Library project.
2. Open PMC, input "in" and press "**Tab**" key.

**Expected:**
 Intellisense list should be display.

**Actual:**
Intellisense doesn't work if we just input "in" in PMC

[2017-01-20 08:52] TheRealPiotrP opened #4343 "Package Installation Status API"
This is needed to fix https://github.com/dotnet/cli/issues/5325 which was opened by @rrelyea

dotnet CLI brings along a cached version of Microsoft.NetCore.App and several other metapackages. During first-run, CLI unpacks these packages and attempts to install them. As @rrelyea pointed out in the aforementioned issue, the UX on first run would be greatly improved if CLI could bypass this step alto

[2017-01-20 09:02] AndyTian-Devops commented on #4342
This issue also happened on NuGet 3.4.4 and 3.5.0.1938

[2017-01-20 09:30] AndyTian-Devops opened #4344 "[Test Failure]There is an error after restoring Cross Platform blank app"
**NuGet version:** 4.0.0.2215

**OS version**: Windows 10 RS1_Release 14393.693

**VS Version**: D15Rel 26118.01

**Repro Steps:**
1.Create a C# Cross-Platform Blank App(Visual C# ->Cross-Platform ->Cross Platform App -> Blank App)
2. After the project creat completed, right click the solution and select "Restore NuGet Packages".
3.After restore completed, open error list.

**Expected:**
No error

[2017-01-20 09:33] v-nancyj opened #4345 "[Test Failure] The package 'Microsoft.NETCore.UniversialWindowsPlatform' latest version shows inconsistently between PMC and PM UI"
**NuGet Version:** NuGet 4.0.0-RC3-2228
**VS Version:** D15Rel 26118.01
**OS Version:** Windows 10 RS1_Release 14393.726.170112-1758

**Repro Steps:**
1.	New a Visual C#->Blank App (Universal Windows) project.
2.	Right-click on the project and click ‘Manage NuGet Packages…’.
3.	Go to installed tab to verify an installed latest package exists and install package 'Newtonsoft.json'.
4.	Open ‘Package

[2017-01-20 09:36] davidfowl commented on #4274
@rrelyea What's the status of the background restore notification? Are we going to get something for RTM?

[2017-01-20 12:04] JohannesDrexler commented on #4234
I have exact the same issue.

[2017-01-20 12:09] JohannesDrexler commented on #4234
I downloaded nuget.exe 3.4.4 and it worked again so it seems the bug was introduced in 3.5

[2017-01-20 13:06] AndyTian-Devops commented on #4314
@zhili1208 i'm sorry I can not repro this issue on D15Rel 26118.01 and D15PreRel 26119.00, I will set the repro machine to you if I meet the issue next time.

[2017-01-20 13:55] rohit21agrawal commented on #4234
Can you attach a repro project?

[2017-01-20 15:00] dersteve commented on #1409
Will there ever be support @yishaigalatzer for C++/CLI projects? Is something in the pipe? I ask, because I have the same challenge at the moment to pack such a project

[2017-01-20 15:27] rohit21agrawal commented on #4234
@JohannesDrexler @mawl This is actually a different bug : https://github.com/NuGet/Home/issues/3146

If you change the name of your nuget-3.5.exe to nuget.exe, it should work for you.

[2017-01-20 15:28] rohit21agrawal commented on #3146
getting different stack trace now :
[NugetBug.zip](https://github.com/NuGet/Home/files/719751/NugetBug.zip)

[code]

[2017-01-20 15:34] JohannesDrexler commented on #4234
@rohit21agrawal the nuget.exe in my project is named nuget.exe and it doesn't work. Im creating a repro project now

[2017-01-20 15:35] rohit21agrawal commented on #4234
please include the nuget.exe in your repro project as well.

[2017-01-20 15:37] rohit21agrawal commented on #4234
the repro project provided by @mawl actually works well with nuget.exe 3.5.0 RTM (build 1938). Attaching the project with its build result and the nuget.exe used.

[NugetBug.zip](https://github.com/NuGet/Home/files/719772/NugetBug.zip)

[2017-01-20 15:46] rhyous commented on #2262
Unfortunately, the project.json version of NuGet removes some awesome features, such as including source and running scripts. If you use NuGet without the project.json changes, then you can.
http://www.rhyous.com/2016/03/03/nuget-for-source-using-add-as-link-1/

@frankabbruzzese thinks that ". . . scaffoldin for its very nature is not reversible" which is clearly untrue and that it "interferes wit

[2017-01-20 15:54] rohit21agrawal commented on #4189
@jpiquot could you attach a repro project for this please?

[2017-01-20 15:55] JohannesDrexler commented on #4234
I am having problems recreating this issue but i don't want to attach the original project where it occures.
In the project where it occured the "Author" and "Description" were included as a shared AssemblyInfo.cs that was included as "LinkedFile" in the project

[2017-01-20 16:00] rohit21agrawal commented on #4339
@danielwertheim @blackdwarf

you can already do this using dotnet.exe pack - you can use a command like the following :

```dotnet.exe pack /p:IncludeBuildOutput=false```

[2017-01-20 16:00] #4339 closed, assigned to rohit21agrawal

[2017-01-20 16:05] blackdwarf commented on #4339
@rohit21agrawal splendid, that means it is fixed! :)

[2017-01-20 16:11] rohit21agrawal commented on #4150
moving this to 4.0 RTM milestone to make it more visible for discussion.

[2017-01-20 17:58] joelverhagen commented on #4150
I think we should only phase this out after we have phased it out of all user experiences. In particular, nuget.org shows title in search results, so this is a very visible field. I did some analysis of the top 100 packages on nuget.org.

.         | Exact match     | Difference casing      | Different
----------|-----------------|------------------------|------------------------------------------

[2017-01-20 18:08] natemcmaster opened #4346 "Display progress bar on "interactive" (not CI) command line restore"
_From @natemcmaster on January 20, 2017 17:33_

## Steps to reproduce
Get slow internet.
Clear nuget caches.
dotnet new.
Add dependencies to lots of packages not in the first-run cache warmup. This can be done in a simple app by adding a bunch of rids to `<RuntimeIdentifiers>`.
dotnet restore.

## Expected  behavior
Show some sign of progress while downloading from the network. A spinner would be

[2017-01-20 18:08] natemcmaster commented on #4346
_From @livarcocc on January 20, 2017 17:50_

@natemcmaster I believe this bug belongs in the nuget/home repo. Can you please move it there?

[2017-01-20 18:13] #4314 closed, assigned to zhili1208

[2017-01-20 18:16] rohit21agrawal commented on #4150
i feel like what we are doing is a good first step..we continue to support title (and summary) in the following sccenarios :
1) nuget.exe pack legacy csproj
2) nuget.exe pack nuspec
3) dotnet.exe pack /p:NuspecFile="nuspec file"
4) msbuild /t:pack /p:NuspecFile="nuspec file"

The scenario for which we are eliminating it is:
1) dotnet.exe pack "package ref based csproj"
2) msbuild /t:pack "package

[2017-01-20 18:34] joelverhagen commented on #4150
The problem is that we have no telemetry or idea of how frequently users are packing .nuspec vs packing .csproj today. If we found that more than half of our users are using a feature, aren't we inadvertently discouraging users from moving to the new world if it doesn't have that feature?

Suppose we are designing the migration flow from packages.config to package reference. How would that migrati

[2017-01-20 18:35] magol commented on #1409
I'm using coApp to create nuget packades for c++. The project is deadline,  but it works

[2017-01-20 18:47] rohit21agrawal commented on #4306
I have unblocked @avanderhoorn which is basically to run a restore with /p:VersionSuffix argument before packing.

At this point, this is basically the dupe of : https://github.com/NuGet/Home/issues/4337

[2017-01-20 18:47] #4306 closed, assigned to rohit21agrawal

[2017-01-20 18:48] rohit21agrawal commented on #4337
moving to 4.0 RTM for visibility

[2017-01-20 18:54] avanderhoorn commented on #4306
Thanks!

On 20 January 2017 at 10:47, Rohit Agrawal <notifications@github.com> wrote:

[2017-01-20 19:18] alpaix commented on #4287
NuGet project info cache gets out of sync after rename has happened as CPS won't nominate the project.
Need to discuss the best way to resolve this issue on either side.

[2017-01-20 19:31] attilah opened #4347 "OrleansHost.exe.config is not copied to output directory from package"
## Details about Problem

In [Orleans](https://github.com/dotnet/orleans) we're packaging OrleansHost.exe and OrleansHost.exe.config in a nuget package to provide an out of box experience to run a Silo host.

It turned out that something is wrong, since the config file is not getting deployed during project build. I can't remember if it worked before or not, but not it is not working.

I tried to

[2017-01-20 19:42] dersteve commented on #1409
@mago i also saw this just now. what do you mean with deadline? Like dead? Is it working for you?

[2017-01-20 19:54] rohit21agrawal commented on #4323
what would be the right condition to add this capability?

[2017-01-20 20:36] jainaashish commented on #4258
Reverted from Dev for now f64f0b5b13f0bfeaa419a9b572c55d175ed4bba7

[2017-01-20 20:37] #4324 closed, assigned to rohit21agrawal

[2017-01-20 20:44] #4274 closed, assigned to alpaix

[2017-01-20 21:31] magol commented on #1409
Upps,  auto correct on my smart phone.
It should be  "dead"

CoApp works for me 😊

[2017-01-20 21:34] zhili1208 commented on #4326
I wrote a test vsix project which access the reference6 API, it will repro this issue.

Repro Steps:
1. Create a test solution which contains two .net framework project: classLibrary1, consoleApp1
2. consoleApp1 reference classLibrary1.
3. build and run the test vsix project in VS experience instance.
4. open the test solution and click invokeCommand1 from tools.

It will get Hresult exception.

T

[2017-01-20 21:56] abatishchev commented on #2530
Was it addressed, can the issue be closed?

[2017-01-20 22:25] rohit21agrawal opened #4348 "contentFiles get output to wrong location if PackagePath specifies path as "contentFiles""
contentFiles get output to contentFiles/any/TargetFramework/  if package path is explicitly specified as "contentFiles".

They should instead just be output to the root of contentFiles folder in the package.

[2017-01-20 22:56] #4265 closed, assigned to zhili1208

[2017-01-20 23:01] zhili1208 commented on #4308
I think it's is due to ExecutionPolicy, Nuget can't execute the init.ps in entityframeworkcore.tool, if user log in VS as admin, nuget will set executionPolicy and run init.ps well

[2017-01-20 23:22] zhili1208 commented on #4310
@damienbod I tried VS 26020 with nuget 2098, but didn't get repro, you mentioned "the application requires a nuget package from the server", do you know which package is required? Looks like all packages are from local feed.

[2017-01-21 00:18] DustinCampbell commented on #4325
Adding myself over here so I can track.

[2017-01-21 00:44] TheRealPiotrP opened #4349 "dotnet add package fails for package targeting portable profile with little guidance"
Moving from https://github.com/dotnet/cli/issues/5389 on behalf of @DustinCampbell

-----

## Steps to reproduce
[code]

## Expected  behavior
Either adds PackageTargetFallback (probably a little too invasive) or provides guidance suggesting that the PackageTargetFallack be added. Right now, the user is left with google.

## Actual behavior
[code]

## Environment data
`dotnet --info` output:

[cod

[2017-01-21 01:47] emgarten commented on #4346
Restore previously solved this by writing out GET messages to let the user know what activity was taking place, however this is now hidden by default which causes users to once again think that NuGet is hung.

Previous issue: https://github.com/dotnet/cli/issues/1623

The logging for dotnet restore is done by an MSBuild task. I don't know if it is possible to create a spinner by logging through th

[2017-01-21 01:53] emgarten commented on #4347
@attilah take a look at https://github.com/NuGet/Home/wiki/%5BSpec%5D-Content-v2-for-project.json

You will need to add a ``contentFiles`` section to your nuspec to specify the copy to build output property in addition to copying the files under the ``contentFiles/`` folder. You need both and ``<files>`` is unrelated to ``contentFiles`` (a common source of confusion).

[2017-01-21 01:56] emgarten commented on #4341
@schaabs use ``globalPackagesFolder`` instead of ``repositoryPath``.  ``repositoryPath`` is only for packages.config projects which produce a different output structure. The different project types cannot share the same folder.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Configuration/Utility/SettingsUtility.cs#L16

[2017-01-21 01:58] rrelyea opened #4350 "Consider merging VSIX assemblies via ILMerge, like NuGet.exe"

[2017-01-21 02:07] rrelyea opened #4351 "Perf: ManagedLangs_CS_DDRIT.0500.Add New Project regressed CLR_BytesAllocated_devenv by 2,161,657.333 Bytes (23.4%). Baseline 26112.00"
tracked by internal bug 369272

[2017-01-21 02:08] rrelyea opened #4352 "Perf: ManagedLangs_CS_DDRIT.0800.Close Solution regressed VM_ImagesInMemory_Total_devenv by 4.333 Count (0.9%). Baseline 26104.03"
internal bug: 365041

[2017-01-21 02:08] gitfriend1 commented on #4351
Merc

[2017-01-21 02:15] blackdwarf commented on #4346
Spinners will not work for CLI scenarios, however ASCII progress bars would. 😄  @natemcmaster do you see enough info if you pass in `-v normal`?

[2017-01-21 02:41] rrelyea opened #4353 "Visual Studio Busy on opening solution, message asks to report to Microsoft"
see internal bug 273620 & corresponding connect tab.

[2017-01-21 02:55] rrelyea opened #4354 "Building a Class library (.NET Standard) in a multiproject solution while restoring Nuget packages hangs VS"
See internal bug: 371219

[2017-01-21 04:55] natidea commented on #4287
This can be duped against https://github.com/dotnet/roslyn-project-system/issues/1293

[2017-01-21 18:00] AArnott commented on #4257
Just hit this again. A new dump uploaded to the same location as listed above.

[2017-01-21 20:32] josh-sachs commented on #3353
Reproduce it by actually trying to get work done on a TS project in VS2015 update 3... In all seriousness, this is an issue in 2015 too.  We are using TFS through visualstudio online.  It seems to crop up after doing a clean on a mixed typescript/.cs project.  Every time I save a file, I get the error now.  It is ocassionaly accompanied by a TFS dialog that says "undoing pending changes" and has m

[2017-01-22 03:02] rohit21agrawal commented on #1365
This has already been fixed in the latest nightly builds. The error has been downgraded to a warning

https://github.com/NuGet/NuGet.Client/pull/1073

[2017-01-22 03:02] #1365 closed, assigned to nobody

[2017-01-22 03:13] rohit21agrawal commented on #4149
can you attach a repro project?

[2017-01-22 03:25] AndyTian-Devops opened #4355 "[Test Failure] Package install information is unlocalized in PMC"
**NuGet version:** 4.0.0.2215

**OS version:** Windows 10 RS1_Release 14393.693 JPN

**VS Version:** D15Rel 26117.00

**Repro Steps:**
 1. Create a project (e.g. C# .Net Core Console App)
 2. Open PM UI, install package Newtonsoft.Json to the project.
 3. Observe the message in PMC

**Expected:**
The information should be localized.

**Actual:**
The bold strings in the package install information

[2017-01-22 04:49] mwpowellhtx commented on #4149
As far as I know, a version with 1.2.3.* yields the aforementioned outcome.

I am working around it for now with a static version, but $version$ would be preferred.

[2017-01-22 06:13] shanselman commented on #4346
@blackdwarf I see spinners all the time. https://github.com/sindresorhus/cli-spinners Or at the least, yes, progress like NPM.

[2017-01-22 06:57] srivatsn commented on #4323
I assume just OutputType==Library? Do we pack any other projects? Does pack check for any other condition?

[2017-01-22 06:58] rohit21agrawal commented on #4323
Netcoreapp1.0 projects are packed but I think their output type is exe, right?

[2017-01-22 07:03] srivatsn commented on #4323
Yes.

[2017-01-22 07:04] srivatsn opened #4356 "dotnet restore can't handle package that references an LKG of itself"
_From @AArnott on January 22, 2017 6:34_

Nerdbank.GitVersioning is a package that is built with an LKG of itself since this package is a build authoring extension. But in trying to convert this repo to use the .NET Core projects, I find there seems to be an inability of the SDK to support referencing a published version of oneself.

**Repro steps**

[code]

Then add this package reference to the

[2017-01-22 07:10] blackdwarf commented on #4346
@shanselman that was a joke on my part. But, anyway, the main point is, does changing the verbosity influence this?

[2017-01-22 11:02] am11 commented on #766
I was just having a similar issue with [libsass-net](https://github.com/sass/libsass-net) and fixed it after getting ideas from this thread. Thanks everyone! :)

We have:

[code]

in out csproj file. The fix was

[code]

basically specifying the `SolutionDir` and `Configuration`. More generally, we need to specify all MSBuild variables the `OutputPath` (in .NET projects, or `OutDir` in C++ project

[2017-01-22 17:29] clairernovotny opened #4357 "Pack targets don't include Summary"
Looking at the Pack targets in RC2, there doesn't seem to be a way to specify the "Summary" tag of the Nuspec in the csproj.

[2017-01-22 19:33] brgrz opened #4358 "Enable updating packagereference versions from the command line (for csproj)"
Currently the .NET Core CLI does not support automatic package updates to the the new .NET Core .csproj format (reading the file, updating the packages and updating the references within the file) as per
https://github.com/dotnet/cli/issues/5425 (that is using `dotnet restore` or any other command/means)

Is there a plan for nuget.exe to support the missing functionality like it does for the old (

[2017-01-22 20:07] emgarten commented on #4358
@brgrz 4.0.0 will support PackageReferences. Try https://dist.nuget.org/win-x86-commandline/v4.0.0-rc3/NuGet.exe

[2017-01-22 20:17] emgarten commented on #4356
This scenario makes sense for development dependencies/build tools. The issue is that restore fails due to the circular dependency since that is invalid for .dll type references.

Ideally tools like this would be resolved in their own graph outside of the project to avoid dependency conflicts. One way to do this could be to create a new reference item type for build related development dependencie

[2017-01-22 20:30] brgrz commented on #4358
What's the correct way to use this? I tried and got this:

PS C:\Users\brgrz\Documents\testApp> .\nuget update testapp.csproj
MSBuild auto-detection: using msbuild version '4.0' from 'C:\Windows\Microsoft.NET\Framework64\v4.0.30319'.
Exception has been thrown by the target of an invocation. The default XML namespace of the project must be the MSBuild XML namespace. If the project is authored in th

[2017-01-22 20:43] clairernovotny commented on #4358
This raises an interesting question .... what if `nuget.exe` isn't run from a developer command prompt or where msbuild 15 isn't in the path?

[2017-01-22 20:50] clairernovotny opened #4359 "Pack targets don't include Package Title"
In RC2, there doesn't seem to be any way to set the Title attribute of the nuspec / package.

[2017-01-22 20:52] clairernovotny commented on #4356
@emgarten agreed, seems like anything in this path could be predicated on the `developmentDependency` set to true and/or being a package type of tools?

[2017-01-22 20:53] brgrz commented on #4358
My setup here is a new .NET Core RC4 (latest bits from CLI's GitHub) project and I have the nuget (3.5.0) in my path but I copied the Nuget.exe @emgarten linked to the root of my app and it picks up the right one when I run .\nuget update testapp.csproj:

PS C:\Users\brgrz\Documents\testApp> .\nuget
NuGet Version: 4.0.0.2215

oh and btw I do not have VS 2017 RC installed here

[2017-01-22 21:23] emgarten commented on #4356
@onovotny that would probably solve most scenarios. Sometimes however, normal packages can be used as development dependencies also, or the other way around so it isn't always possible to tell the intent from the package.

[2017-01-22 21:38] emgarten commented on #4358
You can specify ``-MSBuildPath`` and give the bin folder of MSBuild to override. nuget.exe can auto detect and find MSBuild 15.0, but it favors the version on your path.

There is no PackageReference replacement for ``update`` yet, the command to modify references is only in ``dotnet``.  I suggest using floating versions such as ``1.0.*`` or ``1.0.0-beta-*`` to automatically update packages each t

[2017-01-23 01:00] Trolldemorted commented on #4052
@rohit21agrawal may i ask what you mean with gac'ing the library?

And shouldn't nuget at least print out a warning/error when it fails to extract the metadata?

[2017-01-23 02:27] AArnott opened #4360 "IsTool=true should nest dependencies instead of express them"
VS2017: d15prerel 26121.5
dotnet version: 1.0.0-rc4-004597

When I set IsTool=true (as I do in [here](https://github.com/AArnott/Nerdbank.GitVersioning/commit/d26e05fdc0b8dc78f2b26cba11023df271da79a7)) I expect my project to be packed without any NuGet dependencies in the nuspec file. This is because at runtime my tools package would have no way to find its runtime dependencies unless the CLR coul

[2017-01-23 02:33] AArnott commented on #4360
Also, since I compile this project twice (once for net45 and once for netstandard1.3) it would be better if both DLLs were copied to the tools folder (under a TFM presumably) so my .targets file that loads the MSBuild Tasks assembly could pick the assembly to load based on whether it's the desktop MSBuild or the CoreCLR variety.

[2017-01-23 04:35] TheRealPiotrP opened #4361 "`dotnet restore` with update in the new csproj/msbuild-based core projects?"
Moving from https://github.com/dotnet/cli/issues/5425 on behalf of @brgrz.

This is also related to #4358

----

How do I actually update the new csproj-based project's Nuget packages to the latest ones when using Visual Studio Code?

This is what I have within the .csproj file:

[code]

If I do `dotnet restore` it will only install the specified package versions.

There is no `dotnet restore upda

[2017-01-23 05:29] davkean opened #4362 "Cleaning when "Generate NuGet package on build" is on doesn't remove the nupkg"
1. File -> New Class Library (.NET Standard)
2. Right-click project, choose **Properties**
3. Click **Package**, check **Generate NuGet package on build**
4. Build

--Notice package in output directory--

5. Right-click project, choose Clean

Expected: For output directory to be empty and contain no files
Actual: The nupkg is still present

[2017-01-23 05:33] davkean opened #4363 "Make Pack an incremental msbuild target"
1. File -> New Class Library (.NET Standard)
2. Right-click project, choose **Properties**
3. Click **Package**, check **Generate NuGet package on build**
4. Build
5. Wait 1 minute
6. Build

Expected: For the Nupkg not to be regenerated
Actual: Actual, the nupkg is being regenerated

You can see it rerunning the targets:

[code]

[2017-01-23 05:43] attilah commented on #4347
Thanks, I'll give it a try and coming back with the results.

[2017-01-23 06:59] vsg24 commented on #2880
For me removing the `.nuget` folder located in C:\Users\YourNameHere fixed the problem.

[2017-01-23 07:20] brgrz commented on #4358
I don't know which MSBuild I have installed. As said, I only installed the .NET Core SDK and VS Code.

I don't quite understand what you're saying. How do I actually solve the issue I'm having by using the `nuget.exe` you provided?

[2017-01-23 15:47] julielerman opened #4364 "VS2017RC Package Manager does not show correct packages after installing one & uninstalling another"
I had a project that targetted Microsoft.EntityFrameworkCore.SqlServer. This was migrated from a VS2015 project.json solution.

I wanted it to use Sqlite instead.
If I were to start by uninstalling sqlserver, many packages that Sqlite needs would be removed and installing sqlite would have to get them again. So to be efficient, I installed Sqlite first

When it was finished I saw both packages lis

[2017-01-23 17:18] nkolev92 opened #4365 "NuGet VS17 sporadically fails connecting to VSO/VSTS feeds - VS Bug 365798"
Dup of VS: Bug 365798
VS 2017 sporadically has trouble connecting to VSO feeds.
VS version: VS 15.0.0-RC3+26117.0.d15rel at least and later

The issue is sometimes resolved by random restart/clean cache.

Playing around with the entering/not entering credentials when prompted I managed to get it

[2017-01-23 18:15] rohit21agrawal commented on #4359
dupe of https://github.com/NuGet/Home/issues/4150

[2017-01-23 18:15] #4359 closed, assigned to nobody

[2017-01-23 18:15] rohit21agrawal commented on #4357
dupe of https://github.com/NuGet/Home/issues/4150

[2017-01-23 18:15] #4357 closed, assigned to nobody

[2017-01-23 18:17] mishra14 commented on #4335
Added the feature at: https://github.com/mishra14/NuGetBuildValidators

[2017-01-23 18:17] #4335 closed, assigned to mishra14

[2017-01-23 18:18] rohit21agrawal commented on #4360
@AArnott  you can achieve the second scenario by setting $(BuildOutputTargetFolder) = tools

Will get back to you regarding the right behavior for the first scenario

[2017-01-23 18:23] clairernovotny commented on #4150
I'm not sure Title should be phased out at all. There needs to be something other than package id that shows what the package is and give it a friendly name. This is a regression from `project.json` support too.

All of Rx.NET does this.

Package Id: System.Reactive, Title: Reactive Extensions (Rx) - Main Library
Package Id: System.Reactive.Core, Title: Reactive Extensions - Core Library
etc.

Ano

[2017-01-23 18:49] rohit21agrawal opened #4366 "Accessibility : Narrator does not narrate the checkbox to select the projects to install the package to"
VS 2015
NuGet 3.5.0 RTM (build 1938)

Open windows narrator in the background

File -> New Project
Tools -> Manage NuGet packages for solution

Search for a package. Tab until you reach the checkbox which selects which project to install the package to.

Expected : Narrator narrates the description of the checkbox
Actual : Narrator only narrates "checkbox"

[2017-01-23 18:54] rohit21agrawal opened #4367 "Accessibility: Narrator does not narrate the Browse, Install, Update tab buttons in NuGet Package Manager UI"
VS 2015
NuGet 3.5.0 RTM (build 1938)

Open windows narrator in the background

File -> New Project
Tools -> Manage NuGet packages for solution

Press tab to tab through the Update , Install and Update tabs.

Expected : Narrator narrates the name of the tabs
Actual : Narrator only narrates "button"

[2017-01-23 18:54] nkolev92 commented on #4365
Steps to a possible repro:
1. Launch VS
2. Auth VS user
3. Create project
4. Add dependency from a VSO feed
5. Log out from VS
6. Close VS
7. clear the cache ex. "NuGet.exe locals all -clear"
8. Launch VS and open project (not Auth'ed)
9. Do "Restore NuGet Packages" before doing a "Manage Nuget Packages"
10. Open "Manage NuGet Packages" and you should not get prompted to auth.

And we're in the ab

[2017-01-23 19:02] nkolev92 commented on #4365
And here's a workaround that worked for me in a couple of test cases.

1. Log out from VS.
2. Close VS.
3. Launch VS and Auth.
4. Close VS.
5. Do a "NuGet.exe locals all -clear"
6. Launch VS
7. Open your solution
8. Do a "Manage NuGet Packages"

*Note: If you have a Net.Core project make sure to turn off Auto Restore before Step 4*

That should fix it.

[2017-01-23 19:09] Mpdreamz commented on #4150
@rohit21agrawal in the interest of learning why is having the same title and id a recommended convention? I use title for friendly human readable names and agree with @onovotny id alone is not enough.

[2017-01-23 19:09] jamesmontemagno commented on #4150
Ever since Title stopped being the main result in the NuGet Package manager things have gotten really confusing. Often my package IDs are short or legacy such as "Xam.Plugin.Connectivity" when the Title is "Connectivity Plugin for Xamarin", which is what makes sense. The UI should simply just show the title and the package name under it. Seems like an extremely easy improvement.

[2017-01-23 19:09] clairernovotny commented on #4150
@jamesmontemagno I agree. The title needs to be added to the results on the GUI, not removed.

[2017-01-23 19:11] emgarten commented on #4358
Would you provide more details on the issue you are having and what you expect?

[2017-01-23 19:12] emgarten commented on #4361
@brgrz is this a question on Visual Studio Code? And is this the same as #4358?

[2017-01-23 19:55] rrelyea opened #4368 "[Feedback] Crashes when changing .NETStandard target"
See internal bug 369383
1. Open a solution.
2. Open the Properties page of a portabl class library.
3. Change .NETStandard target from .NETStandart1.6 to .NETStandard1.7
4. VS crashes.

[2017-01-23 19:57] rrelyea opened #4369 "Perf: ManagedLangs_CS_DDRIT.0500.Add New Project regressed CLR_BytesAllocated_devenv by 2,161,657.333 Bytes (23.4%). Baseline 26112.00"
Internal bug 369272

[2017-01-23 19:59] rrelyea opened #4370 "Building a Class library (.NET Standard) in a multiproject solution while restoring Nuget packages hangs VS"
internal bugs: 371219, 378151
This should be performed on a clean machine or with an empty %USERPROFILE%\.Nuget folder

1. Create a new C# Console Application (.NET Framework)
2. Add a C# Class Library (.NET Standard)
3. Immediately after it's added, build the solution (works though the stat debug button)
This should happen before the NuGet packages finish restoring.

Expected: The packages finish

[2017-01-23 20:01] rrelyea opened #4371 "UI Hang - Deadlock initializing NuGet.SolutionRestoreManager.RestoreManagerPackage"
Notes from Internal bug: 369371
This is a deadlock in initializing an async package

The package being initialized is NuGet.SolutionRestoreManager.RestoreManagerPackage.
 
From msenv.dll!CVsPackageMgr::CVsPackageInfo::SitePackage:
 
    // THREADING: This will deadlock if the users async task needs to run code on the UI thread
    // to complete and they have scheduled it using the WPF dispatcher

[2017-01-23 20:02] rrelyea opened #4372 "[Watson] apphangb1: APPLICATION_HANG_BusyHang_cfffffff_NuGet.PackageManagement.VisualStudio.dll!Unknown"
internal bug: 366614

[2017-01-23 20:09] rrelyea opened #4373 "UWP javascript project properties are empty when the project loads with no suo file"
see internal bug 252916

[2017-01-23 20:13] brgrz commented on #4361
Yes, that's the issue I'm having. Pure VS Code environment.

[2017-01-23 20:15] brgrz commented on #4358
My issue is simple, really. Discover new updates for packages referenced through PackageReferences, update them (cherry picking would be nice but at this time it is not mandatory) and then update the PackageReferences to reflect the changes. VS Code/nuget.exe/CLI only.

[2017-01-23 20:23] stefandevo commented on #4150
This is a no brainer. Don't understand that it's even considered...

[2017-01-23 20:44] AArnott commented on #4272
This repro'd for me on today's e2e testing build: d15prerel 26120.4. Running scenario 31., after creating the 3 projects, VS crashed due to dotnet/roslyn#16410. And after reloading VS and reloading the solution this error appears twice in the error list.

[2017-01-23 20:57] attilah commented on #4347
Based on the discussion we have it turns out that it will not work for "old style" csprojs, so closing this issue now and going forward with either a targets or a ps1 file in the package (or just doing this for vNext and not for Orleans 1.x)

[2017-01-23 20:57] #4347 closed, assigned to nobody

[2017-01-23 20:58] rrelyea commented on #4272
SDK fix is being validated. PR is here: https://github.com/dotnet/sdk/pull/699 (don't know what the tracking issue is. going to mark this one as external.)

[2017-01-23 21:06] abpiskunov opened #4374 "Restore package manager pane output is not cleaned up when solution closes and new solution is opened/new project is created."
## Details about Problem

Nuget package manager output window sis not cleaned up after project closed and shows output form previous project when restore for new project is running

VS version (if appropriate):
RC3 build: d15rel 26116.1.

OS version (i.e. win10 v1607 (14393.321)):
win10

## Detailed repro steps so we can see the same problem

1. Create a new Web App wait for restore, close web app

[2017-01-23 21:09] abpiskunov opened #4375 "Restore output in minimal verbosity is confusing and not informative enough"
## Details about Problem

In minimal verbosity output is just this:

Restoring NuGet packages...
Time Elapsed: 00:00:02.5866682
========== Finished ==========

- what project was restored?
- was restore successful or did it fail?

If we don't print even a restore result - output is just useless.

[2017-01-23 21:19] abpiskunov opened #4376 "Confusing restore output: it did some restore on one of the projects, but at the end it still prints "All packages are already installed and there is nothing to restore""
## Details about Problem

open this https://github.com/srivatsn/roslyn-project-system/tree/dogfood (switch to dogfood branch), wait for first restore to complete. Then remove manually assets file for Composition.csproj. Run restore for solution again and check output (in Diagnostic verbosity  mode). It did restore new packages for Composition.csproj , but at the end printed: "All packages are alre

[2017-01-23 21:40] abpiskunov opened #4377 "When there some restore exceptions on the output, restore completion output does not specify anything and we don't know if restore failed or succeeded"
## Details about Problem

RC3 build: d15rel 26116.1.

See the log below: it postss some exceptions , but at the end it looks like everything is fine - when it is not (there is something wrong since sdk can not find resolved packages in assets file , not sure if it is related or not to this log output, but still)

Error occurred while restoring NuGet packages: System.InvalidOperationException: The

[2017-01-23 21:48] rrelyea commented on #4361
There is no auto discovery of all updates that are available, yet.
https://github.com/NuGet/Home/issues/4358 covers having that added in future.

@mishra14 - can you please reply with the new syntax for "dotnet add package" if you know the version you want to upgrade to.

[2017-01-23 21:51] rrelyea commented on #4364
@zhili1208  - Can we repro? Regression from 3.5?

[2017-01-23 22:00] rrelyea commented on #4344
resolved external.
currently being routed via: internal vsfeedback item: 744132

[2017-01-23 22:01] #4344 closed, assigned to nobody

[2017-01-23 22:02] rrelyea commented on #4342
not a regression, putting in future.

[2017-01-23 22:19] rrelyea commented on #4326
@zhili1208  - can you try the repro case in vsfeedback item 744468 -- to see if that is the same exception message.
(note - once you choose tools/options, after the steps above, you can crash)

[2017-01-23 22:24] zhili1208 commented on #4326
checked the exception message and call stack, it's the same issue

[2017-01-23 22:30] nkolev92 commented on #4365
The issue is reproducible on VS.25019, prior to RC1.
Not an RC3 regression.

[2017-01-23 22:30] ridomin opened #4378 "NullReferenceException adding nuget with packageref in C++ project"
## Details about Problem
Using VS 2017 RC (D15rel 26119.0)
Package Manager Console Host Version 4.0.0.2215

## Detailed repro steps so we can see the same problem

1. Create a new UWP CPP project)

2. Add Reference to any NuGet (eg. MvvmLight)

3. Select PackageReference

Expected. NuGet added to the project

Observed: NullReferenceException
### Verbose Logs

[code]

[2017-01-23 22:41] joelverhagen opened #4379 "Install native NuGet package to Windows 10 native project does not install targets to vcxproj"
Cross referencing this in NuGet's issue tracker since this may be a NuGet issue:
https://developercommunity.visualstudio.com/content/problem/13470/install-native-nuget-package-to-windows-10-native.html

This is the solution in question:
[PlayMp3.zip](https://github.com/NuGet/Home/files/725152/PlayMp3.zip)

VS info:
[code]

[2017-01-23 22:51] AArnott commented on #4289
Hit this again while in e2e scenario test day, scenario 31 when I right-clicked on the netstandard lib project and selected Pack from within VS.

[2017-01-23 22:56] zhili1208 commented on #4364
@rrelyea I can't repro with d15prerel 26120.4, nuget version: 4.0.0.2215

@julielerman Could you check the nuget version by opening package manager console from Tools/NuGet Package Manager? it will show Package Manager Console Host Version from console. And also the VS build number form VS Help about. Thanks

[2017-01-23 23:06] rrelyea opened #4380 "Pack runs too often -- Generate NuGet package doesn't include all the configurations"
vsfeedback 744575

marked investigate, please do quick investigation to understand impact, etc..

To repro:
- Create a .NET Standard class library
- edit the csproj file and change the property TargetFramework to TargetFrameworks and change the value to net461;netstandard1.4
- go to project properties -> Package and check the checkbox "Generate NuGet package"

Expectation: the NuGet package will c

[2017-01-23 23:12] rrelyea opened #4381 "Pack runs too often -- dotnet pack fails with There is a circular dependency in the target dependency graph involving target "Pack""
see details and attachments in vsfeedback 744337
filed by @ericstj

part of repro steps are here:
In trying to workaround other issues I went to the commandline.

Run dotnet pack on the attached csproj.
Expect: success
Actual: Fails with error
C:\Program Files\dotnet\sdk\1.0.0-rc3-004517\Sdks\NuGet.Build.Tasks.Pack\buildCrossTargeting\NuGet.Build.Tasks.Pack.targets(56,11): error MSB4006: There is

[2017-01-24 00:05] rrelyea opened #4382 "vsfeedback - Nuget update list not refresing"
vsfeedback 744278

1. Create an ASP.NET core application
2. Nuget - Package manager
3. Update a package
(I added https://www.myget.org/F/applicationinsights/ as a source and updated applicationinsights package to 2.0.0)

Expected:
Updated package is removed from updates list

Actual:
Package is not removed from updates list. Clicking refresh button removes it.

[2017-01-24 00:07] mishra14 commented on #4361
@brgrz : try using
* `dotnet add package Microsoft.AspNetCore` -> This will update the package to its latest stable version
* `dotnet add package Microsoft.AspNetCore --version <version>` -> This will update the package to the version that you specify

[2017-01-24 00:17] rrelyea commented on #4326
tracking internal bug on partner team: 372804:legacy csproj project with packagereference and projectreference will throw hresult during restore

[2017-01-24 00:19] rrelyea commented on #3506
another dupe to confirm when we think we are fixed.: vsfeedback 744804

[2017-01-24 00:34] int19h commented on #2365
A similar workaround NuGet package is needed for VS 2017, since it has some new assemblies that require embedding, e.g. `Microsoft.VisualStudio.Imaging.Interop.15.0.DesignTime`.

[2017-01-24 00:41] AArnott commented on #2365
@int19h: I've pushed this package that includes the assembly you mention: Microsoft.VisualStudio.SDK.EmbedInteropTypes 14.1.7

[2017-01-24 00:46] rrelyea opened #4383 "Install native NuGet package to Windows 10 native project does not install targets to vcxproj"
Filed by @joelverhagen via vsfeedback 744582

Concerning VS bug bash on 1/23/2017 scenario "9. Upgrade hybrid C++/C# solution + Azure".

Installing **wastorage** and **cpprestsdk** packages to Windows 10 native project (PlayMp3 project in this case) succeeds according to NuGet but builds fail to find the header files supposedly included in the package.

The package installs work okay for simple C+

[2017-01-24 00:47] rrelyea commented on #4383
@zhili1208 - assuming this used to work in VS 2015?

[2017-01-24 00:48] joelverhagen commented on #4379
Duplicate of https://github.com/NuGet/Home/issues/4383.

[2017-01-24 00:48] #4379 closed, assigned to nobody

[2017-01-24 00:54] rrelyea commented on #4014
also, make sure that the logging works better... see vs feedback item 743659

[2017-01-24 01:06] int19h commented on #2365
Another one is `Microsoft.VisualStudio.Shell.Interop.15.0.DesignTime`.

I'm not sure if there's some reliable place to get a complete list of these...

[2017-01-24 01:22] AArnott commented on #2365
There isn't an exhaustive list, sadly. So as they are reported, we add them.
I've pushed a new version that adds that assembly as well.

Microsoft.VisualStudio.SDK.EmbedInteropTypes 15.0.4

[2017-01-24 01:50] #4261 closed, assigned to jainaashish

[2017-01-24 01:54] rrelyea commented on #3916
consider post 4.0.0

[2017-01-24 02:12] shanselman commented on #4346
I would have to test again. Point is, under fairly typical networking conditions (this was 3Mbs, consistently) we still saw a LONG pause with no feedback. You gotta show something. ...... dots....something.

[2017-01-24 02:15] shanselman commented on #4346
Just checked it @blackdwarf. I have 35Mbs here. Did -v but still waited around for a WHILE with no feedback.
![image](https://cloud.githubusercontent.com/assets/2892/22231346/e7e0c588-e197-11e6-8c1a-9c7eea20f7fb.png)

[2017-01-24 02:22] rrelyea commented on #4346
can we log a dot, w/ no "\n", for each get? or something like that?

[2017-01-24 02:40] ridomin opened #4384 "Can't add a packagereference to a project with a reference to a .Net Standard project"
## Details about Problem
Using VS 2017 RC (D15rel 26119.0)
Package Manager Console Host Version 4.0.0.2215

## Detailed repro steps so we can see the same problem

1. Create a Console App (.NET Desktop)

2. Create a Class Library (Net Standard)

3. Reference the Class Library from the Console App

4. Add a NuGet to the console app (and select package references)

Package Manager fails with
System.

[2017-01-24 03:02] zhili1208 opened #4385 "Nuget.exe pack packages.config only read nupkg file from packags folder, it will fail if user use nuspec mode to do restore"
this issue happens in 3.5, 4.0

Repro Step:
1. Create a .net framework console app and install newtonsoft.json
2. set packageSaveMode to nuspec in nuget.config
3. delete packages folder and restore again
4. pack the console app

Expect: pack works well
Actual: Got error "unable to find "packageid.version.nupkg"

[2017-01-24 03:19] kiewic commented on #4040
Hi, I have the same issue running an application that uses `Nuget.Core.dll` to download and install NuGet packages. Our machines are running out of space all the time because of files left behind by this DLL. What are the options to replace `Nuget.Core.dll`? Is there a new DLL with the same functionality? Should I install `nuget.exe` and invoke the process from the application? Please let me know

[2017-01-24 03:24] davkean opened #4386 "Building a .NET Core project never finishes due to being blocked on restore"
_From @sbaid on January 20, 2017 13:52_

##Repro steps
1. Add 3 .NET core UT projects
2. build

##observation
build hang with status bar showing "build started..."

##Notes
dump at \\\\ddarmahapa108\bugs\netcore-hello-world-build-hang

##env
VS d15prerel 26118.4
OS win7 (x64)

_Copied from original issue: dotnet/roslyn-project-system#1273_

[2017-01-24 03:24] davkean commented on #4386
_From @tmat on January 24, 2017 2:17_

Another memory dump. May or may not be the same issue.

```%managed_langs_internal_file_share%\public\tomat\Bugs\1273```

[2017-01-24 03:24] davkean commented on #4386
_From @srivatsn on January 24, 2017 2:22_

@333fred can you check these dumps to see if this is the nuget hang?

[2017-01-24 03:24] davkean commented on #4386
Let me have a pass first, trying to see if https://github.com/dotnet/roslyn-project-system/issues/1188 is also related.

[2017-01-24 03:24] davkean commented on #4386
The first issue is stuck at Restore case:

[code]
I've never seen this issue before. I'll check @tmat's and see if its the same.

[2017-01-24 03:24] davkean commented on #4386
@tmat's looks the same. I'm going to move this to NuGet.

[2017-01-24 03:31] blackdwarf commented on #4346
The fact that normal verbosity doesn't influence this is pretty bad. @rrelyea back in the day, nuget client used to have a verbosity setting for this. Did we remove that?

In lack of that, I think that _any_ output would be good. We could, I think, do a progress bar? Unless there is some limitation in the MSBuild loggers?

[2017-01-24 04:29] davkean commented on #4257
Here's another one: https://github.com/dotnet/roslyn-project-system/issues/1188, in particular hang on shutdown in [internal file share]\public\nicholg\roslyn-project-system_1189.

[2017-01-24 04:30] davkean commented on #4257
Make note I noticed that sometimes NuGet restore never happens, meaning that you will hit this regardless of how long you wait.

[2017-01-24 05:41] joelverhagen opened #4387 "NuGet cannot restore from HTTPS sources that have SSL certificate problems"
## Idea

We should add a way for users to bypass certain HTTPS certificate errors. If the user has a source that does not have a valid certificate chain, they should still have some way of getting NuGet to interact with this source.

## "Inspirations"

npm and yarn have this:
[code]

Maven has some extra knobs and switches:
[code]

PHP's Composer
[code]

curl has it:
[code]

## Specific Scenario

[2017-01-24 07:24] maartenba commented on #3610
This is now supported on www.MyGet.org.

[2017-01-24 07:42] emgarten commented on #4346
The verbosity level is still there. ``dotnet restore`` is explicitly calling msbuild /t:Restore with a less verbose level.

A progress bar is difficult because restore downloads/discovers packages as it walks to be as efficient as possible, it doesn't know if there will be zero or a hundred packages downloaded until the end.

Restore should have a great progress experience from the console, I'm ju

[2017-01-24 08:10] brgrz commented on #4361
thanks @mishra14 this is nice for in the meantime while we wait for https://github.com/NuGet/Home/issues/4358

[2017-01-24 08:25] ghuntley commented on #4150
I'm with @onovotny. Please don't drop title.

[2017-01-24 08:35] emgarten commented on #4361
@brgrz any reason you need nuget.exe to do this also?

[2017-01-24 12:50] brgrz commented on #4361
@emgarten well this solution is not perfect and does not cover updating automatically to unknown new version and requires lots of typing

[2017-01-24 14:51] joelverhagen commented on #3610
@maartenba, nice! Does `semVerLevel` default to 1.0.0 when not included in the query string? If I recall this is a change in functional for MyGet? Or did MyGet never support SemVer 2.0.0 in packages?

[2017-01-24 15:14] Kieranties opened #4388 "Nuget pack allows multiple files with the same path to be added to a package"
## Details about Problem
NuGet version: `3.5.0.1938`
Worked in: `2.8.60717.93`

## Detailed repro steps so we can see the same problem

1. Create the following folder structure
[code]

2. In the root, add the following nuspec as `root.nuspec'
[code]

3. Run `nuget pack` in the root folder.

## Expected Result
I expected the pack to fail, due to having the same file packed multiple times.  I expect

[2017-01-24 15:27] jaredpar commented on #2365
Still feel like this is the wrong approach.  The question of

Shouldn't be

That's not scalable.  I should be able to declare that I want an existing package embedded as is.  The existing solution is introducing an artificial barrier into NuGet package consumption that shouldn't exist.

[2017-01-24 15:45] blackdwarf commented on #4346
@emgarten I see...is there a mapping between restore verbosity levels and MSBuild ones?

OK, so nix the progress bar idea. A series of dots as @rrelyea suggested would be good then I guess?

[2017-01-24 16:11] maartenba commented on #3610
Indeed defaulting to 1.0.0. We did have 2.0 but not yet widely used so safe change.

[2017-01-24 16:19] rohit21agrawal commented on #4380
the cause of this issue is the same as : https://github.com/NuGet/Home/issues/4381

[2017-01-24 16:31] SamHard commented on #3929
In the case of a private NuGet feed using Azure Active Directory authentication, the work around is to manually install to your local cache each package version that you want to use, using the Package Manager Console's Install-Package command.  Here's a sample:

`Install-Package Contoso.Binary.DataAccess -Source "https://contsoso.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/ContosoNuGet

[2017-01-24 17:30] rrelyea commented on #3697
will consider adapting in future, if it becomes issue.

[2017-01-24 17:40] rrelyea commented on #3954
consistent with nuget pack today. (including project.json packing). so we'll close by design.
rohit opened a separate doc issue to sync the spec info with the public docs.

[2017-01-24 17:40] #3954 closed, assigned to rohit21agrawal

[2017-01-24 17:49] rrelyea commented on #4150
plan is to bring back title...leaving summary and owners out.
and then communicate the long term plan for id/title, etc...and get feedback on that plan.

[2017-01-24 17:52] rrelyea commented on #4189
out of time for 4.0 -- @jpiquot - would love a repro project please.

[2017-01-24 17:58] rrelyea commented on #4323
Unit test project seems to have output type as equal to library.
perhaps unit test project should set IsPackable=false.
we'll change our logic to add capability if isPackable is true and outputtype is library
/cc @srivatsn

[2017-01-24 18:01] srivatsn commented on #4323
@codito @singhsarab for the change to the unit test projects. They infer the outputtype and I believe it's Exe for core projects and Library for desktop projects. Either way IsPackable=false makes sense.

[2017-01-24 18:02] rrelyea commented on #4337
likely by design, but will take more time to talk it through post-rtm. easy workaround in initial post.

[2017-01-24 18:03] rrelyea commented on #4360
Consider in future.

[2017-01-24 18:04] rrelyea commented on #4363
@rohit21agrawal / @davkean  - Need to understand importance -- what impact this will have.
ok to make in 4.0.1?

[2017-01-24 18:07] rohit21agrawal commented on #4150
CC: @onovotny

[2017-01-24 18:11] rrelyea opened #4389 "vsfeedback -- Xml documentation not packed for netstandard class libraries"
see vsfeedback item: 745986

1. Create netstandard class library
2. Enable XML documentation in project settings
3. Right click on project -> Pack

Expected:
.xml documentation file next to .dll in lib folder inside nuget package

Actual:
No .xml documentation file included in package.

[2017-01-24 18:14] rrelyea opened #4390 "vsfeedback -- Incorrect target framework installed"
filed by @dtivel in vsfeedback 745993

Scenario 31

Repro steps:

1.  Open the solution in the attached "ClassLibrary (2).zip" file.
2.  Set a breakpoint in ConsoleAppNetFx\Program.cs.
3.  Start debugging the ConsoleAppNetFx project and verify that the "message" value is "Hello from .NET Framework running Microsoft Windows NT 6.2.9200.0"
4.  Stop debugging.
5.  Remove the ClassLibrary project refe

[2017-01-24 18:32] rrelyea commented on #4307
Will have to live with this, as it doesn't block the user. Need better fix for large projects.
People should use LSL for large solutions...and it will work better

[2017-01-24 18:46] jainaashish commented on #3873
286587 - CPU regression and byteallocation both have been improved.

[2017-01-24 18:46] #3873 closed, assigned to jainaashish

[2017-01-24 18:57] #4320 closed, assigned to rrelyea

[2017-01-24 18:57] #4268 closed, assigned to alpaix

[2017-01-24 19:02] jainaashish commented on #4351
dup# https://github.com/NuGet/Home/issues/4369

[2017-01-24 19:02] #4351 closed, assigned to jainaashish

[2017-01-24 19:10] jainaashish commented on #4258
Merged again after discussion and final approval. Commit# f4b440f7ede5e4635fe3420aea2976cb94983f56

[2017-01-24 19:10] #4258 closed, assigned to jainaashish

[2017-01-24 19:12] jainaashish commented on #4303
underline external issue is fixed.

[2017-01-24 19:12] #4303 closed, assigned to jainaashish

[2017-01-24 19:20] balachir opened #4391 "PathTooLongException when trying to add a NuGet package to empty ASP.NET Core web application"
## Steps to reproduce

1. Using VS 2017 RC.3 (d15rel.26123.00)
2. New ASP.NET Core 1.0 web app > Empty template
    - created my project in this path: ```C:\Repos\balatest01\ProjectKTestProjects\Dev15_RC3\final\WebApp_Anc10_core_Empty```
3. Hit F5, works
4. Open Manage NuGet packages dialog
5. Search for "asp.netcore.staticfiles" > choose the default 1.1.0 version and hit Install

## Actual behavi

[2017-01-24 19:42] balachir commented on #4391
Reproduces when I created the ASP.NET Core 1.0 project in the default path as well
[code]

Does not repro if I create an ASP.NET Core 1.1 project and try to add the Microsoft.AspNetCore.StaticFiles 1.1.0 package.

[2017-01-24 20:25] ramarag opened #4392 "Fallback RID are not used if packagereference has only native assets"
## Details about Problem

NuGetVersion - 4.0.0-rc3-2193

## Detailed repro steps so we can see the same problem

 Do a nuget restore on [UnmanagedCache.csproj](https://github.com/dotnet/sdk/blob/6043430d97ec81ae05f1f66a3517c5fd530c75c1/TestAssets/TestProjects/UnmanagedCache/UnmanagedCache.csproj) with RID - win10-x64 no assets are restored

if nuget restore is done with RID win7-x64, the assets ar

[2017-01-24 20:44] rohit21agrawal commented on #4381
The issue here is that when ```$(GeneratePackageOnBuild)``` property is set in a csproj (this is done via Packages page of a project in Visual Studio), we register "Pack" to be run as an AfterTarget of "Build". However, the Pack target, by default, has Build as one of the DependsOnTargets, thus introducing a circular dependency in the target dependency graph.

The proposed solution here is :

- If

[2017-01-24 20:58] ericstj commented on #4381
I don't even think its right to run pack on build.  See some of the other issues I filed.
https://developercommunity.visualstudio.com/content/problem/13228/packtask-failed-unexpectedly-when-creating-package.html
https://developercommunity.visualstudio.com/content/problem/13286/pack-target-for-cross-compiling-class-library-only.html

Pack shouldn't be run  in the context of TFM-specific Build at al

[2017-01-24 20:59] rrelyea commented on #4325
Per email, failed barcheck for RTM in vs client Shiproom. moving to post rtm.

[2017-01-24 21:00] emgarten commented on #3697
@davidfowl what are your thoughts on this?

Having these excludes is technically correct for duality, but if the dependency packages later change and start including build assets the older parent package would block them, which may be unintentional.

[2017-01-24 21:03] emgarten commented on #4346
Dots could work. In the restore task NuGet knows the msbuild verbosity. It could convert lower level messages that it isn't going to display into dots.

[2017-01-24 21:55] tanaka-takayoshi opened #4393 "``dotnet nuget push *.nupkg`` doesn't push more than one file"
see also https://github.com/dotnet/cli/issues/5436

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet (on Linux)

NuGet version (x.x.x.xxx): seems RC4 (I have no idea to confirm it)

dotnet.exe --version (if appropriate): 1.0.0-rc4-004598

VS version (if appropriate):NA

OS version (i.e. win10 v1607 (14393.321)):RHEL 7.3

Worked before?

[2017-01-24 22:24] danroth27 commented on #4321
Has this fix made it into the CLI yet? I'm still seeing this issue even with the latest CLI builds.

[2017-01-24 22:25] rohit21agrawal commented on #4321
@danroth27 not yet. but i can tell you a way to patch your CLI to get this fix if you'd like

[2017-01-24 22:35] #4348 closed, assigned to rohit21agrawal

[2017-01-24 22:35] #4362 closed, assigned to rohit21agrawal

[2017-01-24 22:50] jainaashish commented on #4384
dup# https://github.com/NuGet/Home/issues/4326

[2017-01-24 22:50] #4384 closed, assigned to nobody

[2017-01-24 23:03] sirajmansour commented on #3643
By the way the wiki mentions that the metadata is being dropped on purpose. Someone should correct that as the bug is being fixed. https://github.com/NuGet/Home/wiki/SemVer-2.0.0-support#pack.

[2017-01-24 23:06] emgarten commented on #3643
File name: no metadata
Nuspec: includes metadata

[2017-01-24 23:10] emgarten commented on #4392
@ramarag restore discovers the hierarchy of RIDs from runtime.json files in the packages. If your project does not depend on a package containing the correct mappings then win10-x64 will have no relationship to win7-x64. Check that you have a package containing runtime.json with this mapping.

[2017-01-24 23:11] sirajmansour commented on #3643
Cool, Thanks for clarifying that.

[2017-01-25 00:00] scottbommarito commented on #4387
Is there any danger for us to add an "allow all SSL certs" configuration much like the other package managers? I understand that it is a risky operation that somebody shouldn't do, but given that so many others do it, I could imagine somebody being frustrated that we don't allow the functionality.

[2017-01-25 00:03] joelverhagen commented on #4387
Good question. I would rather be reactive to that change based on community requirements. This feature request is already driving by an "external" requirement (server team). I think a broader option is unnecessary and even undesired for us. If a customer wants that broader SSL validation opt-out, they should speak up 😄.

[2017-01-25 00:12] emgarten commented on #4391
It seems like the issue here is the length of the package ids, those should be shortened.

To improve this in NuGet we would need to completely change the output folder structure which would be a breaking change.

[2017-01-25 00:15] emgarten commented on #4389
I know this was working in RC.2 for my own packages, but I had issues with getting msbuild to output the .XML file to the correct location.

[2017-01-25 00:26] tkrick opened #4394 "packagereference should support a locked graph at restore time"
The default flow for creating a VS starting in 2017, for .net core console project will use the package reference flow. Similarly, VS will also ask for traditional apps to use packagereference. So this packagereference will quickly become a new paradigm for how to consume packages. Yet in this flow, there seems to be no way to lock a graph so that the restore is reliable. For enterprise, being abl

[2017-01-25 00:26] zjrunner opened #4395 "invalid arguments should result in non-0 exitcode"
## Details about Problem

NuGet product used: Nuget.exe

NuGet version: 3.3.0.25605 and 3.5.0.1938

OS version (i.e. win10 v1607 (14393.321)): Microsoft Windows [Version 10.0.14393]

Worked before? If so, with which NuGet version: Unknown

## Detailed repro steps so we can see the same problem

1. nuget.exe
 1. (no args).  returns '0'
2. nuget.exe restore /illegalSwitch
 1. (bad switch) returns '1

[2017-01-25 00:51] ramarag commented on #4392
@emgarten that might very well be the case, but by adding a manged package reference, it works
does that mean the fallback is identified from runtime.json of the manged package ?

[2017-01-25 00:52] danroth27 opened #4396 "Can't restore a DotNetCliToolReference for a tools package that targets netcoreapp1.1"
I was playing around with creating a .NET CLI tool. I created a .NET Core console app that targets netcoreapp1.1, because there are APIs in 1.1 that I wanted to use. When I added my package as a DotNetCliToolReference in a project I get the following error when restoring:

[code]

I'd like to be able to build a tool that targets netcoreapp1.1, but apparently I can only target netcoreapp1.0?

[2017-01-25 01:02] rrelyea commented on #4289
To improve search, believe this hit "being used by another process" in the error message.

[2017-01-25 01:05] rrelyea opened #4397 "vsfeedback - Pack warnings when targeting netcoreapp1.1"
vsfeedback 746030

1. Create netstandard class library
2. Change TargetFrameworks to "netstandard1.4;net451;netcoreapp1.1"
3. Pack

Expected:
 Pack successfull no warnings

Actual:
  Content files warnings displayed:

1>------ Build started: Project: MyClassLibrary, Configuration: Debug Any CPU ------
1>MyClassLibrary -> C:\Users\pakrym\Documents\Visual Studio 2017\Projects\MyClassLibrary\MyClassL

[2017-01-25 01:15] MattGertz commented on #4256
JoC says to push this to next.

[2017-01-25 01:20] emgarten commented on #4392
Can you explain managed package? If this package depends on netcoreapp or netstandard.library then it would bring in the package that contains the RID mappings in runtime.json.

[2017-01-25 01:33] ramarag commented on #4392
in the above example microsoft.netcore.coredistools's runtime.json has no entries for win10-x64.
which is the root cause of the issue.

If another project's runtime.json has a fallback for win10-x64, then it gets used to resolve the above packages's assets.
 so package authoring error is not clear and it appears that nuget is doing something different, it would be nice to issue a warning here

[2017-01-25 01:45] emgarten commented on #4392
This could be done during pack. However it is a difficult check to get right because some RIDs may not have fallbacks, or maybe use their own RID graph instead of the standard .NET one.

In general package authors have complete control over RIDs and how they fallback. From the NuGet side we see them only as opaque strings and if runtime.json provides relationships between them we can do fallback.

[2017-01-25 02:08] rrelyea commented on #4302
@davidfowl - Should all 5 of these packages be handled like netcoreapp (with autoreferenced metadata?)
Should we try to stop the upgrade of these items, like with NetCoreApp?
Or is it ok to move to 1.1 and leave tfm at netcoreapp1.0?

[2017-01-25 02:08] lehne commented on #3271
I had to use @GabrielFerrarini approach to get this working. Of note, the path to nuget.exe changed in the version of the agent that I was using. Also, the user and pwd arguments should be pass like this:
-user "someusername" -pwd "somepwd"

[2017-01-25 02:09] rrelyea commented on #4302
#4035 is dupe.

[2017-01-25 02:09] #4302 closed, assigned to mishra14

[2017-01-25 02:10] rrelyea commented on #4035
#4302 is the same scenario happening in vs2017, and i ask a few questions to @davidfowl

[2017-01-25 02:15] rrelyea commented on #4034
with VS 2017 next RC, please try out your scenario, but first change the TargetFramework from NetCoreApp1.0 to NetCoreApp1.1 using the UI or editing in csproj.
We think this will work correctly.

[2017-01-25 02:23] rrelyea commented on #4215
sounds like one of jevan's work arounds (restore in vs2015) solves this problem. wonder if this is the vsts issue also.

[2017-01-25 02:28] rrelyea commented on #4243
@zhili1208 - can you please attempt repro on non-windows cli install, and work with @pranavkm (ms) as needed. thx.

[2017-01-25 02:29] rrelyea commented on #4035
/cc @emgarten

[2017-01-25 02:50] rrelyea commented on #4316
didn't repro the invalid operation exception at all, either.

dotnet restore is not aware of Packages.config.
@twsouthwick  - Is that the scenario you ran into. If so, please use Nuget.exe restore instead.

[2017-01-25 02:57] rrelyea commented on #4346
feedback from @DoRonMotter
- keep diag output a superset of normal build output...so log parsers don't get confused.
- pushing to 4.0.1 as this doesn't currently meet the bar.

[2017-01-25 03:07] rrelyea commented on #4353
Work with customer to have them file a more actionable bug via "report a problem" in vs 2017.

[2017-01-25 03:12] rrelyea commented on #4382
#4035 sounds the same. this repro may be nice for you to have also.

[2017-01-25 04:00] pranavkm commented on #4243
@emgarten - yeah the issue doesn't reproduce on Windows builds, but was pretty consistent on our Ubuntu and OSX build agents.

[2017-01-25 05:04] AArnott commented on #2365
I totally agree that I don't scale.

But I still think the package author should be able to indicate that an assembly is meant to be linked rather than referenced so consumers don't have to be super smart and take extra steps to do it right.

[2017-01-25 05:17] shanselman commented on #4346
I'd also point out that "it's hard to do async progress bars" isn't really fair. Docker and npm and Yarn have nice ones.
![image](https://cloud.githubusercontent.com/assets/2892/22278717/7652a88a-e27a-11e6-9fa0-27826c0e70c8.png)

[2017-01-25 07:14] davghouse commented on #4122
I just installed VS 2017 RC and got this bug, does that make sense?

[2017-01-25 09:28] NathanGloyn commented on #1094
This is working if you manage the packages at the individual project level, but if you do it at the solution level it still shows offers upgrades even if all the projects using the package have a restriction on the version.

[2017-01-25 12:01] dhinesh333 opened #4398 "Nuget Gallery with multiple feeds"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2017-01-25 12:02] #4398 closed, assigned to nobody

[2017-01-25 12:26] dhinesh333 opened #4399 "Nuget Gallery with multiple feeds"
Is their any possible ways to provide dynamic feed links in one application

My hosted packages structure Like This,

<img width="338" alt="folders" src="https://cloud.githubusercontent.com/assets/25263491/22290374/6111b810-e326-11e6-8cc8-f2ef11b8c733.PNG">

How can i provide dynamic feed links to host separate versions,
URL structure  like,
http://mydomain/packages/v1 - to host only version 1.0
h

[2017-01-25 12:29] Sam13 opened #4400 "Support duplicate packages in VS UI (or make it configurable)"
NuGet product used: VS UI
VS UI version 3.5.0.1484
VS version: 2015

Reproduce:
Having a project which references the same package more than once in different versions the VS UI fails with the following error message:
`An error occurred while reading file [Path to packages.config] There are duplicate packages: [PackageId]`

NuGet.exe can handle this as long as the package version is added to the f

[2017-01-25 14:59] codito commented on #4323
@srivatsn is right. Is this planned for rtm?

[2017-01-25 15:22] rohit21agrawal commented on #4323
No this has been moved to the next milestone.
Tagging @rrelyea for confirmation

[2017-01-25 15:28] rohit21agrawal commented on #4122
@davghouse can you tell us the build number?

Go to Help -> About Microsoft Visual Studio

[2017-01-25 16:00] rohit21agrawal commented on #4381
@ericstj curious why you think it's not right to run pack on build?

As for your other issues, we are tracking them at : #4380 and #4289

[2017-01-25 16:03] ericstj commented on #4381
@rohit21agrawal for the same reason that publish doesn't run on build.  It's not needed for the inner-loop scenarios.  /cc @blackdwarf

[2017-01-25 16:05] rohit21agrawal commented on #4381
@ericstj i agree that pack shouldn't run after inner build.

but we have a property that can be set via the VS UI called ```GeneratePackageOnBuild``` (this is set to False by default) , and the right behavior for it is to be able to generate nupkg after the outer build is complete. Do you think it's wrong to have such a capability?

[2017-01-25 16:14] ericstj commented on #4381
Inner build, yeah: agreed.  I meant something different by inner-loop.  Referring to when a developer is doing an "inner-loop" development cycle; fast successive source & test changes.  You don't want that to have unnecessary steps.

It seems odd to me.  CLI didn't have that behavior AFAIK.  I'm also unaware of any other project type that does its publish as part of build (though I am sure there a

[2017-01-25 16:47] davghouse commented on #4122
Microsoft Visual Studio Professional 2017 RC
Version 15.0.26020.0 D15REL
Microsoft .NET Framework
Version 4.6.01586

Installed Version: Professional

NuGet Package Manager   4.0.0

[2017-01-25 17:19] rohit21agrawal commented on #4122
@davghouse this build is over a month old, and yes it did have this problem. could you try updating your VS?

[2017-01-25 17:56] davghouse commented on #4122
@rohit21agrawal Okay I looked around but I appear to have the latest version based off of https://www.visualstudio.com/en-us/news/releasenotes/vs2017-relnotes. I'm not very familiar with VS, should I look somewhere else?

[2017-01-25 18:43] zhili1208 commented on #4310
@damienbod Ping, Do you still hit this issue?

[2017-01-25 19:14] jainaashish commented on #4369
Updated some code and started a VS validation build to see results.

[2017-01-25 19:30] rohit21agrawal commented on #4122
@davghouse  my bad.. wait for a few days for the next update..and use the work around mentioned in the post above until then.

[2017-01-25 20:00] jainaashish opened #4401 "dotnet restore -- ignores packages.config projects silently"
NuGet generates different assets file when running restore through dotnet and visual studio. With dotnet restore, it's missing runtimes section in the assets file.

Repro:
1. create asp.net core (.net framework) web application
2. create .net framework class library
3. add project reference from web app to class library
4. install a package as Package Reference in class library
5. run `dotnet rest

[2017-01-25 20:08] ramarag commented on #4392
I was hoping something on the lines that when we restore, if no assets were restored. Nuget would emit warning saying no assets were restored

[2017-01-25 20:08] rjgotten opened #4402 "When producing a package with files or folders that contain words like 'bin' 'debug' or 'release' those files and folders are not unpacked properly when the package is installed"
## Details about Problem

NuGet product used: NuGet.exe
NuGet version: 3.3.4
Known working version of Nuget: 2.8.6

When creating a nuget package which holds tooling based on NodeJS (e.g. Less compiler) with `nuget -pack` on a TeamCity build server, when this package is installed certain files are not properly unpacked into the package corresponding folder. This seems to be related to files or fol

[2017-01-25 20:14] rohit21agrawal commented on #4397
Investigated this and found out that the reason this happens is because VS UI actually calls ```msbuild /p:GeneratePackageOnBuild=true``` under the hood when a user right clicks a project -> Pack.

as a result, Pack was being called after each inner build. However, this will be fixed by :

https://github.com/NuGet/NuGet.Client/pull/1148

[2017-01-25 20:43] zhili1208 commented on #4243
@pranavkm I tried this on mac and ubuntu, but can't repro it, Could you provide a repro vm? thanks

[2017-01-25 20:45] emgarten commented on #4392
@ramarag set ``ValidateRuntimeIdentifierCompatibility`` to true in your project to get these additional checks on this. This check should be done during publish instead, at restore time the actual target project/RID isn't known so you may see a lot of extra noise.

[2017-01-25 20:55] #4282 closed, assigned to mishra14

[2017-01-25 21:06] jainaashish commented on #4217
Fixed with latest visual studio release

[2017-01-25 21:06] #4217 closed, assigned to jainaashish

[2017-01-25 21:11] #4300 closed, assigned to jainaashish

[2017-01-25 21:40] #3901 closed, assigned to alpaix

[2017-01-25 21:42] #4295 closed, assigned to alpaix

[2017-01-25 22:14] #4198 closed, assigned to zhili1208

[2017-01-25 22:38] emgarten commented on #4400
A project can only reference a single version of a package id. A package that supports both x86 and x64 should either be given different package ids for each architecture, or as single package it should contain targets to provide both x86 and x64.

[2017-01-25 22:40] emgarten commented on #4402
@rjgotten can you given an example of the file paths and the output?  Also it would help to see the input nuspec and output nupkg file lists for both the working 2.x version and the 3.x version.

[2017-01-25 23:06] pakrym commented on #4389
I tried to reproduce this issue again and see that `.xml` file being packed. I think what it was is that VS sets xml file location to `\ClassLibrary1.xml` by default (note the slash in beginning) and that caused build to fail because of `Access denied` to root of drive `C:` which I didn't notice.