[2018-04-20 15:29] nicolas-garcia opened #6855 "Unable to restore packages from private VSTS source on macOS"
Hello,

I'm working on a Xamarin.Forms project, usually on Windows 10, and I would like to switch to macOS for the iOS development part.

My problem right now is that I am not able to restore my NuGet packages from a private feed hosted on Visual Studio Team Services. It works well on Windows though.

## Details about Problem

NuGet product used:
nuget.exe
(/Library/Frameworks/Mono.framework/Versi

[2018-04-20 15:41] jnm2 commented on #3509
@debonte Yes, [I believe he is](https://github.com/NuGet/Home/issues/6440#issuecomment-383079576). I'm also anxious to hear from the WinForms team.

[2018-04-20 15:53] diverdan92 commented on #6104
@dotMorten - the symbols are indexed on a symbol server after the .snupkg is uploaded to nuget.org. When debugging your application, on the symbols that are applicable to the running process should be downloaded from the symbol server. The .snupkg that you uploaded will be bigger, but it shouldn't impact how symbols are downloaded. Does this sound like a problem?

[2018-04-20 16:32] ryudice commented on #6602
I'm having this issue as well. Installing microsoft build tools doesnt create that file. The error is in Microsoft.Common.CurrentVersion.targets, here:

`  <PropertyGroup>
    <NuGetRestoreTargets Condition="'$(NuGetRestoreTargets)'=='' and '$([MSBuild]::IsRunningFromVisualStudio())'=='true'">$(MSBuildToolsPath32)\..\..\..\Common7\IDE\CommonExtensions\Microsoft\NuGet\NuGet.targets</NuGetRestoreTar

[2018-04-20 16:40] joelverhagen commented on #6625
I've verified this on VS 15.7.0 Preview 4, nuget.exe 4.7.0-preview4, and .NET SDK 2.1.300-preview2-008533.

[2018-04-20 16:55] nkolev92 commented on #6834
Can you check if

contains anything?
Would you please list out the files there?

Normally repair should fix it.

Which workloads do you have installed?

[2018-04-20 16:57] davidmatson commented on #6846
Interesting. What does Mono correspond to from a runtime identifier standpoint? (It doesn't look like there's a Mono platform - does it use one of the Linux ones?)

Also, when a Windows box compiles with PlatformTarget=x64 and TargetFramework=net471, does that always means it's targeting Windows specifically anyway (regardless of whether a runtime identifier is set)? In other words, for .NET Frame

[2018-04-20 17:03] nkolev92 commented on #6746
@ncarandini

We'll discuss and likely amend the documentation at least in the short term.
This would be quite a significant undertaking and it would take some time to get it out.

It doesn't have to be next to a solution folder. It just needs to be in the recursive path of all projects.
So you have
[code]
This should work in both VS Code and VS.

Just to get more information about your setup.

Why

[2018-04-20 17:15] nkolev92 commented on #6849
Thanks for clarifying it @dschuermans

Here's the status right now:

- The ability to download a single package without any package type/project type/dependency restrictions is tracked in https://github.com/NuGet/Home/issues/5919.

- The correct approach for netcore executable assemblies is global tools - More [info](https://docs.microsoft.com/en-us/dotnet/core/tools/?tabs=netcore2x) This is how e

[2018-04-20 17:31] dschuermans commented on #6849
@nkolev92 perfect :) thanks for the clarification!

[2018-04-20 17:37] PatoBeltran commented on #6850
Note: We do validate that a timestamp validity period is not in the future https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/Signing/Utility/VerificationUtility.cs#L128

[2018-04-20 17:39] jainaashish commented on #6736
@eriawan I agree, it not exactly dupe of #4633 but scenarios are somehow related.

Coming to this issue, those TemplateWizard APIs were never made compatible with `PackageReference` which is why @nkolev92 said as a old gap and not being a regression. This scenario has never worked.

Now, we're investigating and analyzing what could the best approach here going forward. This isn't straightforward a

[2018-04-20 17:49] ericstj commented on #6846
I know the SDK does things a bit differently but FWIW non-SDK projects do get something close to this behavior: https://github.com/NuGet/NuGet.BuildTasks/blob/dev/src/Microsoft.NuGet.Build.Tasks/Microsoft.NuGet.targets#L90-L96

I'm not opposed to adding OS-agnostic RIDs (eg: for Architecture specific IL) but I wouldn't recommend that for native binaries.  Regardless, that's a bit of a side-track f

[2018-04-20 19:12] PaluMacil opened #6856 "published package on Nuget.org badly out of date for NuGet.Client"
Please read the following information before posting the issue.

## Details about Problem

I believe this still counts as a client tools issue since it's about https://github.com/NuGet/NuGet.Client but none of the template applied...

https://github.com/NuGet/NuGet.Client has released versions in the 4.7 range, but the latest release published to nuget.org is a beta of 4.3: https://www.nuget.org/p

[2018-04-20 20:02] whitneyland commented on #3324
Thanks @rrelyea for following up and working to make it right.

Maybe one thing that was a factor here was Engineering Manager tug-of-war.  Depending on where people work not everyone sees the phenomenon.  What I mean by tug-of-war: Sometimes when a dev team is a shared resource at a large company, and that team's internal customers are large and politically powerful business units that are not al

[2018-04-20 20:22] jainaashish opened #6857 "Improve NuGetLockService AsyncLockCount implementation to always work with right ExecuteContext"
From Lifeng's comment on PR# https://github.com/NuGet/NuGet.Client/pull/2176

`Unrelated to this change. It is kind of interesting pattern to use AsyncLocal to track the task chain holds an existing semaphore. Generally, I don't think it is a safe pattern, because the ExecuteContext is extremely likely to be leaked, and reused later, when the main task is done, and semaphore is released. I think y

[2018-04-20 21:39] nkolev92 commented on #6856
NuGet.Client library is no more.
It was merged into NuGet.Packaging a while back.
https://github.com/NuGet/NuGet.Client/pull/1277

[2018-04-20 21:39] #6856 closed, assigned to nobody

[2018-04-20 21:44] nkolev92 commented on #6851
Issue moved to [NuGet/NuGetGallery #5834](https://github.com/NuGet/NuGetGallery/issues/5834) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-20 21:44] #6851 closed, assigned to nobody

[2018-04-20 21:47] nkolev92 commented on #6852
That's an unsupported scenario.

https://github.com/dotnet/announcements/issues/31

The correct approach is to build your package with contentFiles and not content.

[2018-04-20 21:47] #6852 closed, assigned to nobody

[2018-04-20 21:50] nkolev92 commented on #6770
Since https://github.com/NuGet/Home/issues/6848 got more engagement, I'm closing this one out as a duplicate of that one.

[2018-04-20 21:50] #6770 closed, assigned to nobody

[2018-04-20 21:52] #6835 closed, assigned to nobody

[2018-04-20 21:57] MichaelSimons commented on #6835
@nkolev92  - How do you use the .NET Core cli to manipulate the NuGet.config (e.g. set the password for a proxy)?

[2018-04-20 23:30] MaxG117 commented on #2995
I have a question about mapping from NuSpec attributes to MSBuild properties. *This* issue is mentioned at https://github.com/NuGet/Home/wiki/Adding-nuget-pack-as-a-msbuild-target#feedback. I spent a few hours looking for the answer and couldn't find a better place to ask this.

Does the NuSpec `<references>` element have an equivalent in MSBuild / csproj? My nupkg contains multiple assemblies, bu

[2018-04-21 01:28] #6842 closed, assigned to PatoBeltran

[2018-04-21 07:25] prisar commented on #5980
how to get my password encrypt

[2018-04-22 07:51] maartenba commented on #6378
After going through repository signatures a bit deeper, here are a few thoughts that I think could use some clarification.

## Change package owners
* Do package owners in the package metadata have to match with the package owners in the repository signature?
* And consequently: when package owners are changed, does the repository signature have to be updated as well?

## Proxy scenario
* If repo

[2018-04-22 14:12] Ericmas001 commented on #1827
I got this.
The "indexing in progress" on Nuget.org is gone. New version has been pushed 30 minutes ago.
Nuget package manager shows me that it's ready to update, but clicking on it gives me the error
[code]

[2018-04-22 23:21] StingyJack commented on #6846
I would like to know this also. There doesnt seem to be any direction on how to handle combinations of bitness and target frameworks in the same package.

[2018-04-23 04:56] eriawan commented on #6736
@jainaashish

For unit test projects that target .NET Framework, is the template is generated on the fly? If it's generated, where is the code that check the PackageReference setting and generate the project template for unit test projects that target .NET Framework?

I really want to know, and I also eager to contribute a fix or additional feature for this.

Afaik, if current Nuget Package Manage

[2018-04-23 06:27] adrianm64 commented on #6852
ok, I understand. Thanks.

ContentFiles, as its name implies, only support content. Code generating tools, installation scripts, target environment configuration files and any kind of templating is not supported.

Luckily we are not really in a hurry to support core/standard but we are currently looking into moving our assets to npm instead. It would be really sad since nuget has worked so well fo

[2018-04-23 07:35] ncarandini commented on #6746
@nkolev92
thanks for your kind and detailed response.

I run into this problem using early stage of Blazor bits, where the NuGet.Config file was inside the project. I [wrote a post](http://blog.tpcware.com/2018/03/experimenting-with-blazor/) to help many others to solve the issue, frequently asked in the Blazor Gitter group.

Actually they have updated their [README](https://github.com/aspnet/Blaz

[2018-04-23 13:01] marvel16 commented on #5979
Why was this issue closed???
Still having this issue with nuget pack using nuget 4.6.2

[2018-04-23 16:34] Apollo3zehn commented on #6645
After some testing, it seems that for **corefx** the RID fallback mechanism works as expected (e.g. win7-x86 -> win-x86 -> win -> any). But for **netfx** you need to specify the exact same RID in the .csproj that appears in the nuget package under `runtimes/{rid}/native`. Otherwise the native .dll's are not copied to the output directory. The same happens if no `<RuntimeIdentifier>...<RuntimeIdent

[2018-04-23 17:00] nkolev92 commented on #6736
@eriawan

The template is generated, but the packages are installed on the fly.

I have already a working fix I did as a POC that this could be done reliable (i.e. avoid using PR for project types that simply won't work), but there's a bit more work left.
If you're curious take a look at my branch dev-nkolev92-prtemplate.

We're considering the whole scenario, but we'll for sure have an improved b

[2018-04-23 17:16] nkolev92 commented on #6852
@adrianm64

You can use the build targets for code generating tools, config files, templating etc.
xdt transforms are supported, pp transforms are supported.

The only thing that's not supported is plain installation scripts.

But you can already achieve all your scenarios with contentFiles.

Dumping files in the project folder's root directory is a bad approach. It pollutes the user's directory,

[2018-04-23 17:34] mishra14 commented on #6723
@cltshivash Thanks for reporting the issue. I am currently investigating this issue.

Will it be possible for you to unblock yourself by moving the class library to package reference style instead of packages.config?

[2018-04-23 19:00] MaxG117 opened #6858 "The MSBuild "pack" target is missing a property for explicit assembly references"
I can't figure out how the NuSpec `<references>` element maps to a csproj or MSBuild property. I believe it is because this mapping was omitted. The following articles:
https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#pack-target
https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#nuget-metadata-properties
fail to mention this.

Please let me know how to specify an explicit a

[2018-04-23 19:55] jcoutch commented on #4989
Thank you @gertjvr for the workaround!!!  I've been going nuts for the past couple hours trying to figure out how to work around the `StackExchange.Redis.StrongName` dependency in the `Microsoft.AspNetCore.All` metapackage...when my code and all the third party packages I use reference the non-strong-named version.  Your workaround at least lets me side-step the issue for now.

[2018-04-23 20:19] #6814 closed, assigned to mishra14

[2018-04-23 22:10] #6777 closed, assigned to PatoBeltran

[2018-04-23 22:12] rido-min commented on #6378
@maartenba, thanks for your feedback, I'm reopening this issue while the spec is "in review"

## Change Package owners
The purpose of the package owners field is to capture who were the package owners at the time of submission. NuGet.org is not going to resign the package if the owners change but other repositories can re-sign those packages  if they want.

## Proxy Scenario
Repo A can publish sig

[2018-04-23 23:29] wli3 opened #6859 "Be able to set suppress all dependency in nupkg using dotnet pack"
The default behavior of dotnet pack is to change package reference to dependency in nuspec. But the nupkg of global tools does not have package reference.

One way I found while still use dotnet pack is to change all PackageReference to _PrivateAssets=all_. However that [breaks test project](https://github.com/dotnet/cli/issues/9109). Since the main project’s dependency cannot be accessed by the t

[2018-04-23 23:30] wli3 commented on #6859
cc: @rrelyea @rohit21agrawal this is the issue created after today's sync meeting

[2018-04-23 23:31] rohit21agrawal commented on #6859
i'll close this and re-activate #6354

[2018-04-23 23:31] #6859 closed, assigned to nobody

[2018-04-23 23:31] rohit21agrawal commented on #6354
from @wli3
The default behavior of dotnet pack is to change package reference to dependency in nuspec. But the nupkg of global tools does not have package reference.
One way I found while still use dotnet pack is to change all PackageReference to PrivateAssets=all. However that breaks test project. Since the main project’s dependency cannot be accessed by the test project. And the only way to alte

[2018-04-24 00:00] rohit21agrawal commented on #6104
@tmat what's the debugging experience with optimized binaries and portable PDBs? I would imagine it would be good to get a call stack ,  but not much apart from that? Or am I totally wrong?

I am trying to think if there is a need to have a scenario around non-optimized binaries in the snupkg.

[2018-04-24 00:03] natemcmaster commented on #6574
Just FYI - this would be immensely helpful for (ASP).NET Core's infrastructure.

cc @mmitche

[2018-04-24 00:13] vancem commented on #6104
The nice thing about manage code is that you can recompile it on the client and you can actually tell it not to optimize.   See

https://blogs.msdn.microsoft.com/vancem/2017/12/20/update-debugging-through-the-net-core-framework-v2-0-3-windows/

And if you want to do this in VSCode, here are instructions  https://github.com/OmniSharp/omnisharp-vscode/wiki/Debugging-into-the-.NET-Framework-itself

W

[2018-04-24 01:08] rrelyea commented on #6854
Rohit - can you comment on this behavior?  If we decided we wanted to keep the dialog open, what would it take? /cc: @karann-msft

[2018-04-24 01:20] rohit21agrawal commented on #6854
it's a pretty easy fix, need to remove two lines of code that explicitly close the PM UI if it's open.

[2018-04-24 03:16] StingyJack commented on #6723
FWIW, this has been happening to my team intermittently over the last year, mostly without including moq. Just using the two MSTest nuget packages that the 4.6.2 (and 4.5.2) unit test project template installs and adding a single unit test to that project and VS will fail to discover that test.

We unblock by removing those two packages entirely and then reffing the old MS quality framework dll. T

[2018-04-24 06:38] jainaashish commented on #6854
I think it makes sense to close PM UI while migrating for two reasons a) otherwise we'll need to make sure project is updated as part of existing UI once its moved from PC to PR. b) It will unnecessary create lot of UI delays for uninstalling all existing dependencies and then installing them.

So, my vote is to keep it this way.

[2018-04-24 06:41] maartenba commented on #6378
Thanks! That helps.

[2018-04-24 06:58] mungojam commented on #6104
@vancem thanks! I'll need to try that with our own libraries. It sounds like just ticking `Suppress JIT optimization on module load.` in VS settings or `"suppressJITOptimizations": true` in VS Code would be enough.

I hadn't realised that the optimisations were only happening in the JITter, not the original compile.

[2018-04-24 07:13] adrianm64 commented on #6852
Thank you for your reply.

I would also like to work in an enviroment where code generation does not require project specific configuration.
Our nuget packages consists of a code generating tool (T4, powershell, batchfile etc) and a various mutable configuration/data files for the tool. What you call "dumping files in the project folder" I call "having tool configuration in source control". (The t

[2018-04-24 10:42] Syncfusion-JavaScript commented on #5317
Hi @mishra14

Any update on this?

[2018-04-24 12:33] spottedmahn commented on #6723
Hi @StingyJack 😊

Wonder why?  That's is the [new way](https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html) and where we're all headed...

[Migration doc page](https://docs.microsoft.com/en-us/nuget/reference/migrate-packages-config-to-package-reference)

[2018-04-24 13:54] StingyJack commented on #6723
Hey @spottedmahn - I did the math once for someone on the nuget team who asked the same question . For all the projects and solutions my team has to maintain, it came out to over 4 weeks of time to migrate from package.config to the packageref and that's with only a minimal (smoke) test.  I cant make any business argument that justifies spending that kind of time when the potential value add is so

[2018-04-24 15:53] spottedmahn commented on #6723
Interesting, thanks for sharing!  @StingyJack

[2018-04-24 16:01] marvel16 commented on #5979
@rafaelromao  @rohit21agrawal

We have converted our projects under .NET Framework 4.7 from packages.config to packagereferences, but when we published nuget package for one of projects it lacks nuget dependencies.
Is there any solution how to fix this preserving packagereference style as it works a waaay faster for restoring and updating. We are using VSTS to build and publish packages???

If the

[2018-04-24 16:29] techie55 commented on #5877
Hi,
I tried upgrading my VS 2017 project to PackageReference. I upgraded using the tool given here:https://marketplace.visualstudio.com/items?itemName=CloudNimble.NuGetPackageReferenceUpgrader
Once the upgrade was done, I deleted the packages folder from my solution and then *Restored Nuget Packages*. Seeing the following issues:
1. It again recreates the packages folder under my solution director

[2018-04-24 16:48] jainaashish commented on #5877
@techie55 that tool is not provided from NuGet team so it might not be following the right pattern to upgrade all your existing packages from packages.config to PackageRef.

Please use latest VS preview release from https://www.visualstudio.com/vs/preview/ and then try upgrading your individual projects to PackageRef and let us know if you see any issue there. Please find more details in [this blo

[2018-04-24 17:14] svick opened #6860 "Completion for dotnet add package doesn't work well"
## Steps to reproduce

Try to use tab completion in PS (after [setting it up](https://github.com/dotnet/cli/blob/master/Documentation/general/tab-completion.md#powershell)) or `dotnet complete` with partial package name.

Apparently (see https://github.com/dotnet/cli/issues/9128#issuecomment-384004549), the current behavior ([source code](https://github.com/dotnet/cli/blob/8c937a0/src/dotnet/comma

[2018-04-24 17:37] zhili1208 commented on #4318
@glucaci looks like you need Global tools, https://www.natemcmaster.com/blog/2018/02/02/dotnet-global-tool/

[2018-04-24 17:51] #2790 closed, assigned to nobody

[2018-04-24 17:52] mishra14 commented on #2790
closing due to lack of customer traction.

[2018-04-24 18:17] #6850 closed, assigned to PatoBeltran

[2018-04-24 18:28] rohit21agrawal commented on #6854
I can be motivated either way - I feel this is a nit issue, and no customer has reported or complained about it.

I tried a private branch with the fix, and it works like it should. so, it shouldn't be a big deal to fix it or keep it this way.

[2018-04-24 18:28] PatoBeltran commented on #6591
Closing this as the work in https://github.com/NuGet/NuGet.Client/pull/2040 was good enough to give `EnsureNuGetAndVsProjectAdapterCacheAsync` the appropriate context to avoid hangs because the need of the UI thread.

[2018-04-24 18:28] #6591 closed, assigned to nobody

[2018-04-24 18:46] nkolev92 commented on #6852
Please refer to aka.ms/globaltools for information on having tools that do prebuild actions and are not tied to a project.

The performance issue is due to the fact that we can't control how efficient the queries that people write in those scripts are.
They run sequentially and potentially try to access VS.
Doing anything in a install.ps1 scripts ties to Visual Studio because those scripts are onl

[2018-04-24 18:53] eriawan commented on #6736
@nkolev92

Which packages? Do you mean the MSTest nuget packages? Or other kind of packages?

So the fix is scheduled for 15.8, not 15.7 timeframe?

[2018-04-24 19:00] nkolev92 commented on #6736
@eriawan

The test packages yes or any packages that the template might be installing, as this impacts other templates as well.

I can't commit to which fixes actually make it to 15.8, but it's very likely.
It's too risky to consider it in the 15.7 timeframe.

[2018-04-24 19:23] mungojam commented on #6104
We tried the 'suppress JIT optimization' trick with a .net framework library today. It helped, but there were still some variables that weren't exposed to the debugger so I guess there are still some optimisations going on. So it would still be useful to have a story around this even if it's just better guidance.

[2018-04-24 19:47] vancem commented on #6104
To my knowledge, the combination of COMPLUS_ZapDisable and Suppress JIT Optimization should be 'perfect' in the scenarios where they work (that is you started the process that environment variable and attached to a debugger suppressing JIT optimization).

If it is not that way, you should at least describe the simplest case where it is not so we can have a look as to why.   I might just be misunde

[2018-04-24 20:47] mungojam commented on #6104
ok, that's useful to know. I will try and come up with a minimal example to see. I admit we didn't bother with COMPLUS_ZapDisable because I got the impression that was only relevant for NGENed DLLs which ours aren't.

[2018-04-24 21:19] vancem commented on #6104
You are correct that COMPLUS_ZapDisable only matters for framework things (that were crossgened).   I was assuming you were having problem debugging into framework code.

I am more surprised by your result now.   (Or maybe I don't understand your scenario).   With 'Suppress JIT optimization, you SHOULD get the same debugging experience as when you debug your own 'debug' code.

[2018-04-24 21:31] mishra14 commented on #6860
Closing in favor of https://github.com/NuGet/NuGetGallery/issues/5840

[2018-04-24 21:31] #6860 closed, assigned to nobody

[2018-04-24 21:42] Falconne commented on #5877
When this tool is officially released, will it be possible to use the command line to invoke a migration, so it can be scripted? We have hundreds of solutions across many repos and doing this manually would be a pain.

[2018-04-24 23:15] #4373 closed, assigned to zhili1208

[2018-04-25 00:20] rido-min opened #6861 "Sign fails with untrusted certificates"
Nuget.exe  4.6.2.5055

nuget sign mypackage.nupkg -certificateapth MySelfSignedCert.pfx

fails with

[code]
Expected. Same behavior as SignTool (allows to sign without trusting the certificate)

[2018-04-25 01:21] jainaashish commented on #6858
@rohit21agrawal can you quick peek into this and respond accordingly?

[2018-04-25 01:26] jainaashish commented on #6855
Did you put your credentials in clear text format in NuGet.config and tried with latest nuget.exe?

[2018-04-25 01:26] rido-min commented on #6318
VS should generate a warning when restoring packages signed with untrusted certs.

[2018-04-25 01:30] jainaashish commented on #6853
This is expected, since IVSInstaller.Install will only install the new package and won't update the existing one. If you're requirement is such that you need to update the existing package, then first uninstall it with IVSInstaller.Uninstall and then install the expected version.

[2018-04-25 01:30] #6853 closed, assigned to nobody

[2018-04-25 09:10] ErlendLandro opened #6862 "NuGet pack doesn't include inner nuspec files with package type Template"
## Details about Problem

Product: NuGet CLI
NuGet version 4.4.1.4656
.NET Command Line Tools (2.1.4)
Windows 10

## To reproduce

Run `nuget pack` in the `StarDefaultPackage` directory of the attached project at the bottom of this issue.

### Expected

All the files in the content directory are copied.

### Actual

All the files **except** for the inner nuspec file in `StarDefaultPackage\content\

[2018-04-25 11:29] BilgehanYildiz commented on #6853
Normally when I use install command it updates existing one if exist(csproj normal references) but specific import references are duplicated only ..

[2018-04-25 12:34] mungojam commented on #6104
We've discovered what was happening, Resharper was decompiling the code that we were debugging into or getting it from somewhere else rather than from TFS. When we made sure that VS was pulling the sources we were then able to observe all variables in the debugged code.

Thanks again, the requirement to create debug versions of our packages may have just disappeared for us :) Wish I knew about thi

[2018-04-25 14:29] joelverhagen opened #6863 "PC to PR: default version range (All) no longer includes prerelease versions"
If a dependency .nuspec has an empty version range, the version range defaults to `(, )` (`VersionRange.All`).

https://github.com/NuGet/NuGet.Client/blob/d55be0be422845795dd6dab3ac95749fe8ede7ba/src/NuGet.Core/NuGet.Packaging.Core/PackageDependency.cs#L64

In a package.config project, this essentially means bring in the lowest version, prerelease or stable.

In a PackageReference project, this me

[2018-04-25 16:25] NickCraver commented on #3116
We're still hitting this often. When we have geo-distributed NuGet feeds and one doesn't have the package, we need to go clear `%localappdata%\NuGet\v3-cache` manually on the build server. This is the same for any user having the same issue. Indefinitely caching a 404 is just against all reason when dealing with HTTP. Why are we caching 404s? I'm not saying there's no merit to it, but caching it f

[2018-04-25 16:32] martincostello commented on #3116
I've had this issue myself with NuGet packages just published to a ProGet feed from a TeamCity job, which aren't quite indexed fast enough when I try to reference them elsewhere.

As annoying as it is, another workaround I've found is to add/remove as appropriate a trailing slash onto the feed URL (in my case, as the path isn't one ending in `.json`), which cache-busts the 404.

[2018-04-25 17:08] rohit21agrawal commented on #6858
currently this capability does not exist. We will add this to our feature backlog. Thanks for reporting!

[2018-04-25 17:24] #6722 closed, assigned to rohit21agrawal

[2018-04-25 18:13] MaxG117 commented on #6858
I have an additional question/request.

My nuget package consists of two assemblies: A.DLL and B.DLL, The consumer of my package (a.k.a. the target project) only needs to reference A.DLL, but A.DLL requires B.DLL at runtime. This is why I added an explicit assembly reference to A.DLL using the `<references>` NuSpec element. This worked as expected when targeting .NET Framework -- building the targ

[2018-04-25 18:39] superstator opened #6864 "NuGet pack does not include runtime binaries when multiple targets are specified"
## Details about Problem

Visual Studio 15.6.5
Package Manager Console Host Version 4.6.2.5055
Windows 10 1709

## Detailed repro steps so we can see the same problem

1. Create a NETStandard class library and enable pack-on-build

2. Add a runtime binary (ex, native.dll, libnative.so)

3. Build and observe the binary is packed in the nupkg, within the `runtimes` folder

4. Add an additional targe

[2018-04-25 19:00] rohit21agrawal commented on #6862
this is currently not supported. We will take this feedback and add it to our backlog.

Unfortunately, there is no workaround for this either.

[2018-04-25 19:21] emmellee opened #6865 "Nuget support for mutual ssl authentication"
My organization wishes to create nuget packages for release to our internal feed provided by our TFS Server. The Department of Defense (DoD) relies heavily on the use of smartcards and CA certs and, like any DoD webserver, our TFS Server requires mutual ssl authentication. Unfortunately, we are unable to get past nuget issues on servers requiring SSL Client Certificates. Any help your team can pro

[2018-04-25 19:26] jainaashish commented on #6853
that's just because Project System takes care of that while adding reference if that already exists they just overwrite it. But that's not the case when imports are being updated via msbuild. That's why I said it's by design and current workaround would to uninstall first and then install.

[2018-04-25 19:46] #6658 closed, assigned to nkolev92

[2018-04-25 22:23] jainaashish commented on #6865
Thanks for the issue. This feature work is already being tracked through https://github.com/NuGet/Home/issues/5773 please follow that issue to get future updates. You can also respond there to help increase the priority of the issue.

[2018-04-25 22:23] #6865 closed, assigned to nobody

[2018-04-25 22:38] jainaashish commented on #6864
@rohit21agrawal

[2018-04-25 23:08] jainaashish commented on #6863
I doubt it was ever supported with `PackageReference` because I see the same value for `VersionRange.All` and `VersionRange.AllStable`.

[2018-04-26 00:19] mishra14 commented on #6723
@cltshivash I investigated a bit. Here is a rundown -

1. System.Runtime package version 4.3.0 contains the dll with assembly version 4.1.1.0.

![image](https://user-images.githubusercontent.com/10507120/39278855-4ffec2f8-48aa-11e8-8213-12321a0dcae0.png)

2. Moq brings in [System.Threading.Tasks.Extensions](https://www.nuget.org/packages/System.Threading.Tasks.Extensions/) which has an assembly re

[2018-04-26 01:00] rohit21agrawal opened #6866 "Don't NullRef in NuSpec packing scenario, also improve options"
currently if using dotnet.exe to pack a nuspec file (via a csproj property), you need to set IncludeBuildOutput=false if you use the --no-build switch. The project also needs to have been restored.

When packing via a nuspec file, both of these things shouldn't be needed.

CC: @jaredpar

[2018-04-26 01:38] rohit21agrawal commented on #6866
turns out removing dependency on restore is not in NuGet's control as it is also required by Microsoft.PackageDependencyResolution.targets:
[code]

[2018-04-26 01:54] nzgeek commented on #6746
I've got a different situation which would benefit greatly from per-project NuGet.config files.

My employer has a strict policy around third party library approvals. We've got 2 separate MyGet.org feeds that can be used: one for packages that have been strictly reviewed for production use, and one for packages that have been loosely reviewed for internal use only.

We've just encountered a situat

[2018-04-26 02:39] nkolev92 commented on #6746
@nzgeek

What are your project types? Packages.config vs PackageReference?

There are ways you can achieve this without hurting your workflow.
I'd assume on CIs you can just use a commandline version of restore, which works with project level configs.

Regarding the dev scenario.
NuGet stores packages in the global packages folder per machine per user.

If you're using packages.config, doing a com

[2018-04-26 04:36] nzgeek commented on #6746
@nkolev92 It's an old code base that's targeting .NET 4.6.2, and is only just moving onto VS2017 build servers. We're stuck with packages.config files for the time being.

As you say, we do have the option of using a command line restore as part of the build script. It could look for any directories that contain a NuGet.config file, then any projects under those directories, and do a `nuget restor

[2018-04-26 05:46] #4125 closed, assigned to jainaashish

[2018-04-26 08:20] BilgehanYildiz commented on #6853
I can do it as you said with workaround,but if it is working for import references than it is more useful(overwrite)

[2018-04-26 09:10] ghost opened #6867 "Provide a way to pin certain packages to a specific repository (source pinning)"
I want to be able to say to only use a particular repository for one package, and stick to nuget.org for the others.

Example:

I've got https://dotnet.myget.org/F/dotnet-core/api/v3/index.json enabled so I can use Microsoft.Packaging.Tools.Trimming.

Unfortunately this means a whole lot of other pre-alpha packages show up as the "latest" versions available because there's no way to set priorities

[2018-04-26 15:05] gidduk commented on #5358
I can connect to Nuget from VS.Net 2015 but not VS.Net 2017
I tried to uninstall VS.Net 2017 and reinstall it, but it did not work.

[2018-04-26 15:56] rido-min opened #6868 "UWP Projects show individual references instead the UWP MetaPackage"
Affected Branch: 15.7
Affected Build:  27625.0
Affected Product Language:

Steps to reproduce:

1. Create UWP
2. Change TPMinV=16299

Expected. Project is retargeted without errors.
Observed. The references are expanded with individual DLLs

![image](https://user-images.githubusercontent.com/14916339/39317106-a536e748-492f-11e8-865a-7bbfb9a82361.png)

internal bug: [606826](https://devdiv.visualst

[2018-04-26 16:02] spottedmahn opened #6869 "Add Link to NuGet Gallery on Package Details in Visual Studio"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 4.6.0

VS version (if appropriate): 15.6.6

OS version (i.e. win10 v1607 (14393.321)): Win10

Worked before? If so, with which NuGet version: no

## Other suggested things

When I'm looking at the package details in VS, I frequently want to go out to the NuGet

[2018-04-26 16:25] nkolev92 commented on #6868
Project-system is the one handling the reference nodes there.

The only thing from NuGet side is whether the correct package is specified in the assets file.
Since I was not able to repro on 27620 (I know yours is 27625 it's just the version I have installed) it'd be helpful if you can upload the assets file to help them investigate.

[2018-04-26 16:30] rido-min commented on #6868
Adding the assets file
[project.assets.zip](https://github.com/NuGet/Home/files/1952106/project.assets.zip)

[2018-04-26 16:42] nkolev92 commented on #6868
Thanks @rido-min
From NuGet side it all looks normal. I will copy the issue to the project system as I don't have rights to move it directly to their repository.

[2018-04-26 16:55] nkolev92 commented on #6868
Copied manually to https://github.com/dotnet/project-system/issues/3491.

[2018-04-26 16:55] #6868 closed, assigned to nobody

[2018-04-26 17:10] nkolev92 commented on #6869
The info displayed there is only the baked in information that's in the package/nuspec itself.

The nice package page is not something that the client knows about.
That's not part of the protocol. MyGet/VSTS/NuGet.org's display package pages are different.
A feed is not even required to have a display page.

I don't think this is feasible, unless it gets added to the protocol.

/cc @loic-sharma @j

[2018-04-26 17:40] spottedmahn commented on #6869
I see.  Darn.  Thanks for the quick reply!!

[2018-04-26 17:47] JohanLarsson commented on #6754
Another case is if you have an analyzer library and want to use the published analyzer on the analyzer code.
I tried `<NoWarn>NU1108</NoWarn>` but it had no effect.

[2018-04-26 18:21] mishra14 opened #6870 "Remove binding redirects when uninstalling package (Remove-BindingRedirect command)"
steps -

1. Create new classic package reference project targeting net462 [using packages.config].
2. Add reference to system.runtime package v 4.3.0.
3. Add reference to Moq v4.8.2.
4. Observe that biniding redirect is added as part of an app.config file. The binding redirect is for system.runtime v0-4.1.1 -> v4.1.1.
5. Uninstall Moq along with all of its dependencies.
6. Observe that the binding

[2018-04-26 18:36] PatoBeltran commented on #6809
Closing this issue in favor of internal 575915.

[2018-04-26 18:36] #6809 closed, assigned to PatoBeltran

[2018-04-26 18:57] #6869 closed, assigned to nobody

[2018-04-26 18:59] spottedmahn commented on #6869
what is Type:DCR?  DCR stands for?

[2018-04-26 18:59] rohit21agrawal commented on #6858
@MaxG117 can you show us the nuspec you use to build your package, and the nuspec that's present inside the generated package, along with the contents of the obj folder (*.g.props, *.g.targets, project.assets.json) , after you run a restore?

[2018-04-26 19:25] nkolev92 commented on #6772
The reason for this is that suppress parent doesn't seem to be nominated in VS.
Difference between noop dg in msbuild and VS.

On the commandline:
[code]
In VS:
[code]

[2018-04-26 19:33] jainaashish commented on #6867
Can you explain your scenario and requirement in more details? And tell us what mode NuGet UI or PMC, you used more often for such operations?

We know there is no explicit gesture to lock down a certain package from a specific repository but there are still varies ways to achieve it like you can always select a specific source to get the updates or enable/disable specific sources to do the same.

[2018-04-26 19:52] jainaashish commented on #6869
Dupe of https://github.com/NuGet/Home/issues/5299

[2018-04-26 21:10] PatoBeltran commented on #6861
This is not an issue for nuget.exe `sign`. Sign accepts untrusted self issued certificates as signers with a warning (https://github.com/NuGet/NuGet.Client/blob/91316ff8e9b1092900961b8ddfc95766d74a8969/test/NuGet.Clients.FuncTests/NuGet.CommandLine.FuncTest/Commands/SignCommandTests.cs#L663).

Nevertheless, if a signing certificate is untrusted but is not self issue the `sign` operation does fail.

[2018-04-26 21:45] infin8x commented on #6621
@nkolev92 should/could we close this in favor of #6486, which represents the same work?

[2018-04-26 21:48] nkolev92 commented on #6621
@alexmullans Yup.

Good point.
Closing it as duplicate of #6486

[2018-04-26 21:48] #6621 closed, assigned to nkolev92

[2018-04-26 22:24] #5964 closed, assigned to zhili1208

[2018-04-26 22:54] #4649 closed, assigned to rohit21agrawal

[2018-04-26 22:54] #6866 closed, assigned to nobody

[2018-04-27 02:06] jpierson commented on #5980
Sorry @prisar I don't recall.

[2018-04-27 03:48] jaredpar commented on #6866
If it's not within NuGet's control then was a bug filed on the appropriate team?

Is the idea of packing a nuspec file being reconsidered? Giving back that functionality would preclude the need to even fix this bug.

[2018-04-27 04:44] jainaashish commented on #5069
dupe of https://github.com/NuGet/Home/issues/4553

[2018-04-27 04:44] #5069 closed, assigned to nobody

[2018-04-27 07:22] maartenba opened #6871 "NuGet - Signing - Timestamp URL can not be https:// ?"
While trying out some of the signing features in the latest NuGet SDK packages, it seems it is not possible to use `https://www.freetsa.org/tsr` as a timestamper?

https://github.com/NuGet/NuGet.Client/blob/53734d0e377ec1bce8a29dba65a715dd2dd7e17c/src/NuGet.Core/NuGet.Packaging/Signing/Timestamp/Rfc3161TimestampRequest.cs#L189 seems to allow only `http://` - is this by design?

[2018-04-27 14:55] meziantou opened #6872 "IVsPackageInstallerProjectEvents/IVsPackageInstallerEvents events not raised with PackageReference"
## Detailed repro steps so we can see the same problem

1. Create a VSIX that registers the `IVsPackageInstallerProjectEvents` and `IVsPackageInstallerEvents`
2. Start Visual Studio with this VSIX loaded
3. Create a new solution
4. Create a new project
5. Add a NuGet reference as packages.config => Events are raised
6. Create a new project
7. Add a NuGet reference as PackageReference => Events are

[2018-04-27 15:08] dazinator opened #6873 "README.md (markdown description) support for NuGet packages"
## Details about Problem

When uploading a package to nuget.org manually via the website, I can set a documentation URL that points to a readme file on github, as shown here: https://www.nuget.org/packages/DotNet.Glob/2.0.2

How do I this via a `nuspec` file, as I use CI / CD to publish my packages and so I don't want this to be a manual step. Is there some attribute in the nuspec for this?

I cou

[2018-04-27 19:36] PatoBeltran commented on #6721
I have been investigating this issue. This is not a signing related issue. When we try to install `Xamarin.Forms` we do a restore and it tries to install all of it's dependencies. For some reason the file `Xamarin.Android.Support.Animated.Vector.Drawable.25.4.0.2.nupkg` has been modified when we try to extract it and that is why we see that error, the nupkg for the dependency is at one state that

[2018-04-27 19:42] mishra14 commented on #6721
@PatoBeltran do you have a copy of the package?

[2018-04-27 19:50] PatoBeltran commented on #6721
it seems to not only be one dependency that is being modified as part of this process, but multiple.

[2018-04-27 20:07] natemcmaster opened #6874 "ArgumentNullException when RestoreIgnoreFailedSources = true and package not found"
## Details about Problem
dotnet.exe --version: 2.1.105
OS version: Win 10

Worked before? Not sure. I tested 2.1.300-rc1, 2.1.105, and 2.1.4, and it fails the same way in all.

## Detailed repro steps so we can see the same problem

1. Restore this csproj via `dotnet restore`
[code]

### Logs
[code]

Stack trace
[code]

[2018-04-27 21:04] PatoBeltran commented on #6721
The issue here is that the solution level packages folder had some packages that were not valid nupkgs. I will work on propagating a better error for this scenario.

[2018-04-27 21:31] nkolev92 commented on #6650
Closing this due to lack of engagement.

Please comment again, if you're still facing this issue.

[2018-04-27 21:31] #6650 closed, assigned to nobody

[2018-04-27 22:09] nkolev92 commented on #6644
Resolved

[2018-04-27 22:09] #6644 closed, assigned to nkolev92, jainaashish

[2018-04-28 05:52] cltshivash commented on #6723
@mishra14 : Could you please clarify on point 4 which project's bin directory  ? Below is the content of the testproject's output directory which has no System.RunTime.dll present but the config file (UnitTestProject1.dll.config has the below redirection). Now execution is going to fail as the redirected version will not be found.

![image](https://user-images.githubusercontent.com/18257951/393925

[2018-04-28 08:07] #6776 closed, assigned to nkolev92

[2018-04-28 15:36] clairernovotny opened #6875 "Search v3 is missing the publish date"
The current v3 search endpoint does not return the `published` field for the package. Only the package metadata endpoint returns that.

Having the date returned on search adds value when displaying search results. Please add `published` to that endpoint. The interfaces already support it if present.

[2018-04-28 19:59] fubar-coder commented on #6724
How would this look like?

[2018-04-28 23:19] dasjestyr opened #6876 "NuGet won't authenticate with server on Linux"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet.exe

NuGet version (x.x.x.xxx):
4.6.2.5055 (via mono) and 2.8.6 (via apt-get)

dotnet.exe --version (if appropriate):
n/a

VS version (if appropriate):
n/a

OS version (i.e. win10 v1607 (14393.321)):
Description:    Ubuntu 18.04 LTS (bionic)

Worked before? If so, with which NuGet version

[2018-04-28 23:22] huaxing-yuan opened #6877 "Package failed to upload with nuget push with error 403"
I'm configuring the VSTS pipeline to build and upload two packages to NuGet Gallary (nuget.org).
one of the package always failed with the error:

`System.Net.Http.HttpRequestException: Response status code does not indicate success: 403 (The specified API key is invalid, has expired, or does not have permission to access the specified package.).`

I can manually upload this package via NuGet.org

[2018-04-29 12:20] StingyJack commented on #6870
[Related](https://github.com/NuGet/Home/issues/6507) can be closed depending on how this is resolved. Same for [this](https://developercommunity.visualstudio.com/content/problem/234290/nuget-pm-ui-does-not-cleanup-after-itself.html), [this](https://developercommunity.visualstudio.com/content/problem/212239/pending-changes-and-nuget-wastes-a-bunch-of-time.html), and i think there was another one on

[2018-04-30 04:51] dennisroche commented on #5447
It appears Credential Providers are working for `dotnet restore` however still failing on `dotnet new --install TemplatePackage`.

[code]

Environment:

[code]

[2018-04-30 16:10] m-spinks commented on #5773
I work for the government, and we really do need this feature available. We are currently having to use several workarounds. These workarounds are slow, time-consuming, and error prone.

[2018-04-30 17:25] #6721 closed, assigned to PatoBeltran, mishra14

[2018-04-30 17:58] emgarten commented on #6574
@nkolev92 how difficult would it be to add support for query params/headers now that credentials providers are using the plugin protocol?

[2018-04-30 18:15] rohit21agrawal commented on #5556
@nkolev92 this is the issue I was discussing with you this morning, would love your thoughts on this.

[2018-04-30 18:34] anangaur commented on #4980
@terrajobst  You still would need some process to clean the cache up? I think and explicit command to purge is the best way. Some of the requirements:
* Should be able to clean unused packages older than a date (yyyymmdd), time(1m,3m,6m, etc.) with defaults (may be 3m?)
* Should be able clean up everything except packages used in a project/solution/repo/dir
* [P2] Should be able to clean up packag

[2018-04-30 18:44] #6871 closed, assigned to mishra14

[2018-04-30 18:53] nkolev92 commented on #6574
@emgarten
The majority of the work with the new plugin has to do with the acquisition and reliability of external plugins.
We still only use the `NetworkCredential` model.

So we're not any closer from a network protocol side, but getting that info to NuGet, adding an extra capability to the plugin would be super easy.

[2018-04-30 19:15] rcs0424 commented on #5773
Yes, having this feature would be extremely helpful, I work for the Government as well and not having that option is cumbersome to say the least.

[2018-04-30 19:23] rohit21agrawal opened #6878 "create ".snupkg" files to contain symbols in pack -- enhance push to understand nuget protocol to accept snupkg files for symbol server"
Related to : https://github.com/NuGet/Home/issues/6104

This is tracking the work on client side for what changes need to be made to pack/push, what the snupkg would like etc.

[2018-04-30 19:30] jainaashish opened #6879 "NuGet client perf measurement"
NuGet client perf measurement via Perf watson, telemetry, kusto, etc...

[2018-04-30 20:23] PatoBeltran opened #6880 "Spec: solution for 2 server's issue"
Design a solution for packages repository signed downloaded from a repository that was different from the one that signed the package (e.g. a mirror repository)

[2018-04-30 20:24] PatoBeltran opened #6881 "Spec: nuget signing client policies"
Finish the [spec](https://github.com/NuGet/Home/wiki/%5BSpec%5D-NuGet-Package-Signing-Client-Policy) on nuget package signing client policy.

This should include discussing the solutions  for config file changes and new command line and VSUI experiences to allow the user specify client policies and trusted signers.

[2018-04-30 20:40] mcblair commented on #6485
This is a very real issue.

Do you have a workaround @mishra14

[2018-04-30 21:10] terrajobst commented on #4980
The way I'd design the cache is like this:

1. Every time package restore resolves to a cache location, bump one of the dates (e.g. touch the .nuspec file)
2. Every N days (default: 7), delete folders from the package cache that weren't used during the last M months (default: 2 months)

Not sure (1) is viable for perf reasons. If it's not, only bump the dates every so often.

The meta point is tha

[2018-04-30 21:17] jainaashish opened #6882 "Bug jail for 15.8"
Todo: Keep adding the list of bugs which are being worked upon.

[2018-04-30 21:25] #6775 closed, assigned to jainaashish

[2018-04-30 21:40] anangaur commented on #4980
Perf is one consideration. `restore` could just `touch` the file (like in linux `touch` command) which should be more perfomant (or my belief :) ). But I am still not sure which command/process does the clean up i.e. `delete` of the expired or old packages from the cache. Again `restore` cannot be the one to do this (performance criterion).

[2018-04-30 21:49] rohit21agrawal opened #6883 "add codesign verification task for nuget client builds"

[2018-04-30 21:56] emgarten commented on #6574
From what I recall changing the credential provider in the client protocol layer didn't look too bad. It just needs to allow storing more than a system NetworkCredential.

Good to know that adding a plugin capability for this would not be difficult, I thought that would be most of the work.

[2018-04-30 22:26] infin8x commented on #5447
I suspect you've got a credential stashed somewhere on disk already, or the packages are already cached. We're working right now to bring cross-plat credential provider support to dotnet, but it hasn't shipped yet.

[2018-04-30 22:27] anangaur commented on #5447
Duplicate of https://github.com/NuGet/Home/issues/6486. @livarcocc Can we close this one?

[2018-04-30 22:28] livarcocc commented on #5447
Sounds good to me.

[2018-04-30 22:28] mishra14 opened #6884 "Repository signed package verification allows packages signed by different certificate"
As part of https://github.com/NuGet/NuGet.Client/commit/d970cfdf3b1bf0110a6531ec330a8edac17828eb, we added support for verifying a repository signature on a package against repository signature information.
One scenario missing is that is a package is signed by a certificate which is not part of the repository certificate list then currently we allow this. We should fail such verification.

[2018-04-30 23:29] rohit21agrawal opened #6885 "Bug jail for 15.8"
will add links to bugs as i keep fixing them.

[570904](https://devdiv.visualstudio.com/DevDiv/NuGet/_workitems/edit/570904) :  Powershell initialization issue
[399397](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/399397) : NuGet RTFs being picked up from 1ES package

[2018-04-30 23:51] rohit21agrawal opened #6886 "remove all tests that require visual studio 2015 on the system"
a lot of our tests explicitly test for msbuild 14.0 (shipped with visualstudio 2015) because of which we need to run our functional tests on a machine pool which has both VS2015 and VS2017 installed. This pool has a much limited capacity that VS2017 only machine pools.

[2018-04-30 23:52] rohit21agrawal commented on #6885
https://devdiv.visualstudio.com/DevDiv/NuGet/_workitems/edit/570904

[2018-05-01 00:06] #5447 closed, assigned to nobody

[2018-05-01 00:19] anangaur commented on #6486
/cc: @nkolev92 @jeffkl

[2018-05-01 00:38] rohit21agrawal opened #6887 "Ctrl+C in PMC does not close an app started via dotnet.exe run"
From email thread;

A customer is trying to use the .NET Core CLI from the Package Manager Console window in the latest release of VS 2017. When he executes “dotnet run” from the project root in his ASP.NET Core 2.0 MVC project, he’s unable to kill the process by pressing Ctrl + C. This should work, and I was able to reproduce it in 15.7 Preview 5.

[2018-05-01 00:43] dennisroche commented on #5447
@alexmullans i had the packages cached. i cleared my `nuget locals all -clear` and `dotnet restore` failed as you said.

thanks for tracking this; #6486 will be very welcomed.

[2018-05-01 01:25] cltshivash commented on #6723
@mishra14 The test execution uses the testproject's output location as the appbase for an appdomain and tries to invoke the test method. If there's a config file for the test dll , it is added to the appdomain setup info.

[2018-05-01 03:18] whereisaaron commented on #6790
Similar issue on Debian 8. The nuget.exe 4.5.1 binary does run with Debian 8 mono, however newer versions of nuget.exe fail with 'System.Array.Empty not found'.

[2018-05-01 05:56] ghost commented on #3509
@debonte Sorry for the delay, I am referring to that. It would be awesome if we could finally have Toolbox support for Windows Forms controls.

[2018-05-01 07:28] maartenba commented on #6871
Thanks! Any NuGet packages this change is in? (latest 4.7 on NuGet.org seems to a bit older)

[2018-05-01 07:31] maartenba commented on #6378
Note to self on proxy/virtual feeds -> #6880

[2018-05-01 07:36] maartenba commented on #6486
2 big questions on the new spec:

1) Will the old mechanism continue to work?
2) Will there be a way to plug in a provider that does *not* require a separate process? Imagine I am building something using the SDK, and I want to add a credential provider plugin as part of my application. Can that credential provider be part of my application (e.g. same assembly just plugging an interface), or do I

[2018-05-01 15:14] SlayeroftheBrightRealm commented on #5773
I concur: "This support for mutual SSL authentication is **SORELY** needed by the DoD community."

[2018-05-01 16:14] infin8x commented on #6486
1. For a while, yes, but eventually we'll deprecate that in favor of the new, more secure plugin mechanism.

[2018-05-01 17:27] maartenba commented on #6486
Ok, then 2 becomes interesting :-)

[2018-05-01 17:43] mishra14 commented on #6871
You should be able to get one from https://dotnet.myget.org/feed/nuget-build/package/nuget/NuGet.Packaging

[2018-05-01 18:18] PatoBeltran opened #6889 "Bug jail for 15.8"
* [x] - [Feedback][Accessibility] Error messages are unreadable in Package manager console because of font color and background color - [Internal 489860](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/489860)
* [x] - [Feedback] [Test Failure] Incorrect “latest stable version” show in “Version” drop-down of “Installed”/“Consolidate” tab in a solution have multiple projects - [Internal 49140

[2018-05-01 18:27] maartenba commented on #6871
Latest 4.7 is from Tue, 24 Apr 2018 21:36:16 GMT ?
(nor sure we want to switch from 4.7 RTM to 4.8 prerelease...)

[2018-05-01 19:58] livarcocc opened #6890 "dotnet pack doesn't include xmlserializer assembly"
_From @Styxxy on May 1, 2018 13:10_

When forcing assembly to generate XmlSerializer assembly,when packing the project, this XmlSerializer assembly is not included in the nupkg.

Project file:
[code]

command `dotnet pack myproject.csproj` generates following nuspec (in the obj folder):
[code]

I would expect the XmlSerializer assembly to be included as well.

_Copied from original issue: dotnet/s

[2018-05-01 19:58] livarcocc commented on #6890
@rohit21agrawal can you take a first look here and let us know if the SDK is missing passing something down to pack?

[2018-05-01 19:58] livarcocc commented on #6890
_From @Styxxy on May 1, 2018 17:40_

I created for now nuspec files, though it isn't ideal. Sample nuspec:

[code]
(Typed on my phone.)

Initially I found a workaround by adding a custom target before the _GetProjectFiles target and adding the XmlSerializers assembly, but I encountered the _problem_ when installing the package in a legacy project, that the XmlSerializers asembly is also added as a

[2018-05-01 19:58] livarcocc commented on #6890
_From @Styxxy on May 1, 2018 17:50_

Doesn't matter whether using ("old") way or new way (using nuget package).

[code]

[2018-05-01 19:58] livarcocc commented on #6890
_From @rohit21agrawal on May 1, 2018 18:15_

This is currently not supported, we will consider this feature ask for a future release.
@Styxxy  you don't need to revert to a nuspec. You can use these extension points/targets to add the serializer assembly to your package:
https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#targetsfortfmspecificbuildoutput

@livarcocc please feel free t

[2018-05-01 19:58] livarcocc commented on #6890
_From @Styxxy on May 1, 2018 18:39_

@rohit21agrawal
That does partially the trick. When installing into a project that uses packages.config, the XmlSerializer assembly is still referenced though (not that it breaks anything, it isn't nice though).

![xmlser](https://user-images.githubusercontent.com/1635825/39487655-412ac418-4d80-11e8-861b-d72037d3c751.png)

[code]

[2018-05-01 19:58] livarcocc commented on #6890
_From @rohit21agrawal on May 1, 2018 18:43_

@Styxxy that's correct, the issue is being tracked here: https://github.com/NuGet/Home/issues/6858
But i hope the workaround is better than having to manually manage a nuspec.

[2018-05-01 21:42] nkolev92 commented on #6486
@maartenba

There are currently no plans for a plugin to be started in process.

We considered it but decided to go the standalone process route for a couple of reasons:
- Versioning would be painful. The plugins would need to depend on a specific version NuGet dlls and it would have to be rebuilt with every release of NuGet.
Having a standalone process avoids special assembly loading logic, minim

[2018-05-01 21:58] anangaur opened #6891 "Push a package as unlisted"
Scenario from .NET team:

Would like to push a number of packages unlisted and then list them all at the same time. How does one do that from CLI?

[2018-05-01 22:47] #6799 closed, assigned to rohit21agrawal

[2018-05-01 23:22] jnm2 commented on #6806
Also, it took me a long time to figure out that the problem NuGet was having with `1.1.3-06888.branch-name` was that I had a leading zero.

[2018-05-01 23:25] PatoBeltran commented on #6876
@nkolev92 is this a known issue with auth in mono?

[2018-05-01 23:43] nkolev92 commented on #6876
Not aware of any specific issues.

It seems like an issue with the specific credential provider.
The console prompting is done by NuGet itself as an absolute last option.

NuGet itself doesn't prompt but it defers to the credential provider itself.

I'd guess it's one of the following 2:
- The credential provider is not on disk, and/or NuGet can't find it.
- The credential provider returns null cr

[2018-05-02 00:18] mishra14 commented on #6871
The fix in only in dev which targets 4.8 or VS 15.8 P2. You will have to use that because this change is not targeted for 4.7 as VS 15.7 has a high escrow bar at this point in time.

[2018-05-02 01:29] jaredpar commented on #6367
This is still a problem in 15.6

[2018-05-02 05:13] maartenba commented on #6871
Ok guess we will wait then.

[2018-05-02 05:21] maartenba commented on #6486
Ok so it is possible to override that one?

[2018-05-02 07:21] jainaashish opened #6892 "Package 'Microsoft.ApplicationInsights.AzureWebSites' installing failing with ASP.NET project"
Steps to repro:
1. Create ASP.NET web application (.NET framework)
2. Try installing 'Microsoft.ApplicationInsights.AzureWebSites' version 2.5.6
3. It will fail with following error:
[code]

Another case, if you try "dotnet add package <this package name>" then it works fine and is able to get this package on disk in global packages folder.

So there are multiple issues here:
1. Package signing ve

[2018-05-02 07:46] nicolas-garcia commented on #6855
Hi,
I tried to put my credentials in clear in the NuGet.config and with the latest nuget.exe version available but I still have the issue.
I have the issue within Visual Studio for mac too.

[2018-05-02 08:15] Styxxy opened #6893 "Package manager UI : preview changes, ok button not automatically useable by keyboard"
Regarding the (Visual Studio) package manager UI.

The preview changes dialog box can't be accepted (= ok button) automatically by the enter key ("accept button"), while generally this is possible. Can you please provide this functionality, to make it more keyboard friendly?

![nuget-preview-changes](https://user-images.githubusercontent.com/1635825/39525961-c201dc96-4e1d-11e8-9a6b-911b277072fd.pn

[2018-05-02 08:33] rossdargan commented on #6468
I've just installed VS2017 V15.7 Preview 5.0 and it STILL has this issue. This is not fixed @kzu.

I'm happy to provide better logs if you tell me how to get them, but at the minute all I have for you is:

[2018-05-02 13:13] BeLikeMikeB commented on #5773
This would be a great thing to have, our project would benefit from this as well.

[2018-05-02 13:52] 304NotModified opened #6894 "ContentFiles, buildAction and copyToOutput wont work for ASP.NET MVC5, but does for ASP.NET Core"
## Details about Problem

We have probably the same issue as https://github.com/NuGet/Home/issues/6404, but it's reproducible.

NuGet product ui: VS UI

NuGet version (x.x.x.xxx): 4.6.0

VS version (if appropriate): VS2017 (15.6.5),

OS version (i.e. win10 v1607 (14393.321)): win 10 enterprise

Worked before? If so, with which NuGet version: not that i'm aware of

## Detailed repro steps so we can

[2018-05-02 14:05] KevReed commented on #6636
Adding `<NuspecProperties>version=$(Version)</NuspecProperties>` to the csproj seems to work

[2018-05-02 14:11] Syntex9000 commented on #3324
Can you guys just please just fix this? It's been years with multiple NuGet releases since this issue was identified. Get with the program already.

[2018-05-02 14:14] 304NotModified commented on #6894
I think it found the issue, I still need a install.ps1?

[2018-05-02 15:36] SiOuz opened #6895 "Nuget pack ignore version assembly when exe renamed to something different than nuget.exe"
I updated my nuget.exe  from 2.8.6 to (3.5.0, 4.4.1,, 4.6.2), since then, the execution of "pack" command create a new nupkg with the 1.0.0 version. I didn't have this issue with the previous version.

My AssemblyInfo.cs :

My nuspec file :

`<?xml version="1.0"?>
<package >
  <metadata>
    <id>Popcorn.WebClient.Authentication</id>
    <version>$version$</version>
    <title>Popcorn.WebClient.Aut

[2018-05-02 15:51] AArnott commented on #5894
For some reason I thought this was going to be fixed in 15.6, but it evidently isn't, as [this repro project demonstrates](https://github.com/AArnott/WPF.SDKPkgRefTmpProj/tree/196539a7b9ce7a4108c0e15a4d00ef644ba0e104j).
Any idea when it will be fixed?

[2018-05-02 16:40] jviau commented on #5894
I found a simpler workaround. If your original project and assembly name are identical, you can use `$(AssemblyName)` in the .tmp_proj to import the nuget props & targets. You can then put these imports in Directory.Build.props/targets and condition them based on `'$(MSBuildProjectExtension)' == '.tmp_proj'`.

Example:
[code]

Just to note, my Directory.Build.props manually sets AssemblyName to MS

[2018-05-02 17:08] nkolev92 commented on #6486
@maartenba

Yes, it's normally setup by the application, not at the API level.
Relevant [code](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/HttpSource/HttpHandlerResourceV3.cs).

[2018-05-02 17:37] clairernovotny commented on #5894
The fix is in net472, you need to install that on your build box. It fixes the WPF build task to use the original file extension and location so props/targets are included.

[2018-05-02 17:57] AArnott commented on #5894
I have the fix where instead of .tmp_proj, a _tmpprj.csproj is produced. But evidently that doesn't guarantee a complete fix, because my nuget imports are still not impacting the inner project.

[2018-05-02 18:07] mishra14 commented on #6875
This issue was moved to NuGet/NuGetGallery#5874

[2018-05-02 18:07] #6875 closed, assigned to nobody

[2018-05-02 18:17] weshaggard opened #6896 "Restore not incremental when running publish after a restore"
While updating the core-setup repo to the RC1 version of the SDK we started hitting failures in our tool initialization. See https://github.com/dotnet/core-setup/pull/4115.

Our tool project calls "dotnet restore" followed by "dotnet publish" and the restore during the publish command isn't incremental in some cases. I've not been able to repro this locally but our CI hits it every time on our lin

[2018-05-02 18:22] rohit21agrawal commented on #6896
has this ever worked before? if so, in what version?

[2018-05-02 18:30] nkolev92 commented on #6896
The incremental restore is failing due to the sources change.
That hasn't changed.

You could have some extra packages in the global packages folder locally which is why it doesn't need to talk to the server in that situation.

Can you give us a pointer to the extract project that fails?
I couldn't figure out from the logs as it's named only project.csproj

[2018-05-02 18:40] mishra14 commented on #6892
We should remove the signing tag because -
1. @zhili1208 confirmed that signing verification succeeds in VS
2. dotnet add does not run signing verification. That is cross platform work that is yet to be done.

Based on Zhi's response the issue is a long file path problem during extraction.

[2018-05-02 18:41] nkolev92 commented on #6892
@zhili1208 Can you add some details from the investigation here?
It's boils down to a long file path problem.

[2018-05-02 18:44] mishra14 commented on #6610
@onovotny do you have any repro steps that we might be able to try?

[2018-05-02 18:45] PatoBeltran commented on #6894
@jainaashish @nkolev92 can any of you take a look at this?

[2018-05-02 18:47] mishra14 commented on #6881
@PatoBeltran there is already an issue for this - https://github.com/NuGet/Home/issues/6526

[2018-05-02 18:47] mishra14 commented on #6499
Fixed by NuGet/docs.microsoft.com-nuget#725

[2018-05-02 18:47] #6499 closed, assigned to rido-min

[2018-05-02 18:48] weshaggard commented on #6896
The project is https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/tool-runtime/project.csproj.

The sources do change but it is correctly incremental on all my local tests.

Yes this has worked and continues to work everywhere except this one linux CI machine. I'm not sure what is unique about that CI machine.

[2018-05-02 18:54] PatoBeltran commented on #6893
Thanks for opening this issue @Styxxy! We are working on making our nuget tools more accessible.

Are you able to tab your way into the "OK" button or is it unreachable by keyboard?

We will put this on out backlog and try to get it as soon as possible!

[2018-05-02 19:19] zosrothko opened #6897 "PATH setup issue with numerous subpackages when targetPlatform=native"
## Details about Problem
Let say my C++ application is using a NuGet package that brings a transitive dependencies tree of 20 differents packages with each one a `bin`, `inc`, `lib` directory. The `*.target` of each package allows a smooth integration with the build process of my applicaton, but when it comes to its execution, one needs to setup the PATH with ALL THE 20 `bin` directories where the

[2018-05-02 19:25] rrelyea commented on #6892
Zhi - as we mentioned in person, please work with this package author to help them understand how to better support users.
Also, please go write a validation rule that helps warn package authors when their packages longfilepath is too long. (we need to decide what too long is...) This should be one of the validations we run in pack, and in nuget.org ingestion (eventually) -- talk with @rohit21agra

[2018-05-02 20:16] mishra14 commented on #6723
@cltshivash Thanks for giving me more information. In my last pass I was installing Moq on the main project and hence missed the issue.

I investigated this from the test project's point of view. The root cause here is that in `Packages.Config`, package references do not flow transitively to the test project. Hence `System.Runtime` is not included in the test project's output directory. You can fi

[2018-05-02 20:18] jviau commented on #5894
I also have the newer WPF targets, and is indeed not fixed. This is because the nuget targets are imported like so:
[code]
https://github.com/Microsoft/msbuild/blob/8e015cc049b5f3f9cbd9e10ee30ae86998d934d5/src/Tasks/Microsoft.Common.props#L66

This will not work as it will be searching for `{OriginalName}_{hash}_wpftmp.*.props`, which does not include `{OriginalName}.g.nuget.props`.

[2018-05-02 20:42] 304NotModified commented on #6894
I pretty sure it's my mistake. I read the docs wrong.

I did that, but before there was an install.ps1, and that one was missing now. For some reason I was thinking that the ps1 wasn't need with the `<contentFiles>` config

[2018-05-02 20:42] #6894 closed, assigned to nobody

[2018-05-02 21:05] Styxxy commented on #6893
@PatoBeltran
Yes it is possible using tab, but sometimes I am in a flow of using keyboard and all dialogs are easily accepted by enter, so it kinda breaks the flow. Especially when installing many packages in many solutions.

Not high priority for me personally, but maybe for other people it is more important.

[2018-05-02 21:09] PatoBeltran commented on #6895
Hey @SiOuz I'm trying to reproduce your issue but I'm not able to. I created a new .NETFramework class library and used your `AssemblyInfo` and your `.nuspec` file, but after running pack I got the expected version of the nupkg:

[code]

Can you please provide me with a sample project in a zip or a onedrive where you can reproduce this issue that can help me investigate?

[2018-05-02 21:16] nkolev92 commented on #6894
@304NotModified
You don't need install.ps1 with contentFiles.
contentFiles => PackageReference, project.json
content => packages.config

The asp.net project you have is probably a packages.config one, so for that content is used.

[2018-05-02 21:17] 304NotModified commented on #6894
yes indeed, but I still need the install.ps1 for setting the buildAction etc when using packages.config. Correct?

[2018-05-02 21:28] rrelyea commented on #3324
Investigation is going well. Details will likely be published in mid-May.

[2018-05-02 21:32] nkolev92 commented on #6894
@304NotModified Correct.
Just wanted to make sure we're on the same page :)

[2018-05-02 21:53] PatoBeltran commented on #6881
@mishra14 Alright, I will take over that one issue.. closing this

[2018-05-02 21:53] #6881 closed, assigned to PatoBeltran

[2018-05-02 22:10] 304NotModified commented on #6894
OK thanks for the confirmation :) 👍

[2018-05-02 22:45] PatoBeltran commented on #6880
After an offline discussion with @rido-min this is not a scenario we want to support right now.

[2018-05-02 22:45] #6880 closed, assigned to PatoBeltran

[2018-05-02 23:56] #6883 closed, assigned to rohit21agrawal

[2018-05-03 00:09] conioh commented on #6674
Hello?

[2018-05-03 00:34] nkolev92 opened #6898 "NuGet.exe should use SkipNonExistentTargets in dgspec evaluation whenever possible"
When evaluating the dg spec, nuget.exe uses msbuild and it defaults to the old behavior.

It should default to SkipNonExistentTargets if the MSBuildtoolset supports it.

Relevant code below:
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/MsBuildUtility.cs#L521
//cc @jainaashish @rrelyea

[2018-05-03 09:53] liushuanggang opened #6899 "NuGet gather dependency information from a specify nuget package source."
## Details about Problem

When we install a nuget package `Microsoft.Owin.Host.SystemWeb` with a specify nuget source `-source nuget.org`, which dependencies are ` Owin `  and `Microsoft.Owin`. NuGet will retrieve nuget package  `Microsoft.Owin.Host.SystemWeb` only from the specify source `nuget.org` but it detect the dependencies packages from other package sources.

For example, I install the nu

[2018-05-03 13:14] mesta1 commented on #2696
Maybe it's related:
Create a XF app (UWP/Android) with a label bound to a string like:
`var str = string.Format("{0:t}", DateTime.Now);`

Then set in code behind:
[code]
Expected:
both in Android and UWP the date is localized like "11:45 pm"
Result:
Android is "11:45 pm"
Uwp is "23:45"

@jainaashish

[2018-05-03 13:39] TobiasBreuer commented on #2365
Hi all,
is there any news to this one? I'm having really big issues with this topic at the moment. Although I have to admit I'm not sure if this issue here is the real culprit of my problem or if it is an MSBuild issue.

We have a package that contains a library that needs to be embedded. I used the given [sample](https://github.com/NuGet/Samples/tree/master/NuGet.Samples.Interop) to create that p

[2018-05-03 14:07] jiimaho commented on #3891
This seems like a very-much needed feature. Why would someone want a separate NuGet for each project dependency?

[2018-05-03 14:50] StingyJack commented on #6723
Visual Studio has forever been "helping" me by finding whatever reference or dependency a project needed by looking in all kinds of places.  While sometimes this caused frustrating "works on my machine" issues, it was probably overall a good thing.  So a project that has references has references that know their references. and so on (for static refs ). Was there a reason why the original design o

[2018-05-03 15:00] sungam3r commented on #1823
+1

[2018-05-03 16:05] maartenba commented on #6871
When using `https://freetsa.org/tsr` as the server, signing seems impossible. Should I open a separate issue or is this something you could check? (exception is `TimestampException` with message about signature algorithm, but not a lot of info...)

[2018-05-03 17:02] jainaashish commented on #6899
This is by design to resolve dependencies from all active sources. One workaround is to disable all other sources from tools -> options -> NuGet package Manager

[2018-05-03 18:02] #6884 closed, assigned to mishra14

[2018-05-03 18:39] mishra14 commented on #6423
Closing as a dupe of https://github.com/NuGet/Home/issues/6498

[2018-05-03 18:39] #6423 closed, assigned to dtivel

[2018-05-03 18:41] mishra14 commented on #6871
`https://freetsa.org/tsr` uses `SHA1` as its digest algorithm. We only allow `SHA256`, `SHA384` and `SHA512`, hence the error.

We have an [issue ](https://github.com/NuGet/Home/issues/6498) tracking adding more errors and warnings into our docs, to improve this experience.

[2018-05-03 19:00] nkolev92 commented on #6896
It's only reproducible on RHEL72, it seems like the root cause is https://github.com/dotnet/corefx/issues/29095.

[2018-05-03 19:51] weshaggard commented on #6896
@nkolev92 thanks for the investigation. Did you find evidence of the corefx issue being the cause or are you just making an assumption? If you have some evidence please share I will help get that issue fixed as well.

[2018-05-03 20:04] nkolev92 commented on #6896
@weshaggard
It's an assumption, but I can easily pinpoint why NuGet would behave the way it does if that bug is hit.

[2018-05-03 20:07] weshaggard commented on #6896
Any pointers or hints you can share would be helpful in tracking down the issue.

[2018-05-03 21:32] emmellee commented on #5773
@rrelyea , regarding this issue's designation as a feature rather than a bug type: Today, isn't mutual ssl authentication considered more of a basic functionality rather than a nice-to-have?

With security being paramount, my organization requires mutual ssl authentication without exception.  Without nuget's support of ssl client authentication, we are unable to use Visual Studio Team Foundation S

[2018-05-03 21:36] nkolev92 commented on #6533
Closing this as it was implemented.

[2018-05-03 21:36] #6533 closed, assigned to nkolev92

[2018-05-03 22:15] Archanian commented on #6602
I was having the same problem, that NuGet targets path just does not exist, and then I discovered something quite annoying ...

When installing/updating MSBuild Tools, you need to go and check "NuGet Targets" option in the installer. It is hidden in a side menu that is collapsed by default.

Not sure if this is the right repo for this feedback/question, but is there any reason this is not checked

[2018-05-03 22:25] #6684 closed, assigned to nobody

[2018-05-03 22:45] kzu opened #6900 "Detect and exit MSBuild processes locking NuGet-provided build tasks"
Instead of this:

![image](https://user-images.githubusercontent.com/169707/39606156-42df0ff4-4f0a-11e8-8e3c-496d768e17db.png)

Wouldn't it be better for NuGet to detect this situation and cause those MSBuild processes to exit? Given the files that are locked from the package being uninstalled/upgraded, it's fairly straightforward to get at the open handles, from there find the MSBuild.exe process

[2018-05-03 23:14] nkolev92 commented on #6702
Currently the authenticode check is only done for Windows.
Code [here](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/Plugins/EmbeddedSignatureVerifier.cs#L28-L33)

It's also supported on mono per https://www.mono-project.com/docs/faq/security/#authenticoder-code-signing

[2018-05-03 23:27] PatoBeltran commented on #6873
@rohit21agrawal is there any way to specify this when pushing on command line?

[2018-05-03 23:28] rohit21agrawal commented on #6873
No this is a NuGet.org only feature

[2018-05-04 00:13] PatoBeltran commented on #6900
cc. @rrelyea

[2018-05-04 04:34] liushuanggang commented on #6899
@jainaashish, Thanks for your reply. Yes, I know it is by design. Your workaround is exactly what I am did. But if there is a a parameter here that allows us to choose whether restore dependencies from nuget.org? like, `-source nuget.org -IncludeDependecies`. Is this better? Or this request will have a lower priority.

[2018-05-04 07:28] Nirmal4G commented on #5894
@AArnott Can you share your fix for `*.tmp_proj`? Can we put them in `MSBuild.Sdk.Extras`?

[2018-05-04 08:41] SiOuz commented on #6895
Here the project.

the command line :
`
./nuget_4.6.2.exe pack Popcorn.WebClient.Authentication.csproj -Build -Properties Configuration=Release -IncludeReferencedProjects -symbols`

[DemoNuget.zip](https://github.com/NuGet/Home/files/1973708/DemoNuget.zip)

[2018-05-04 09:25] Busindre commented on #6871
The response of the time stamp depends on the algorithm used in the request.

[code]

[2018-05-04 16:08] weshaggard commented on #6896
OK we were able to confirm that the corefx issue https://github.com/dotnet/corefx/issues/29095 is the problem. It was fixed in master with https://github.com/dotnet/corefx/pull/29502 with plans to get it approved for 2.1

[2018-05-04 16:08] #6896 closed, assigned to nobody

[2018-05-04 16:18] nkolev92 commented on #6896
Thanks for closing the loop @weshaggard

[2018-05-04 16:22] AArnott commented on #5894
No, because my fix requires that the xml itself hard-code the original file name of the project file.
However, if we assume the presence of the WPF change that changes `*.tmp_proj` with `*_tmpprj.csproj`, we might be able to come up with some crafty MSBuild syntax to recreate the original project name. In that case, I think it's possible.

[2018-05-04 16:30] dls314 opened #6901 "What is the maximum SemVer 2 numeric pre-release identifier supported by each NuGet client tool?"
This is primarily a question, not a problem.

I believe that the VersionComparer code in Nuget.Client is the key implementation detail behind this, but I'm not sure that's always true?

https://github.com/NuGet/NuGet.Client/blob/release-4.7.0-rtm/src/NuGet.Core/NuGet.Versioning/VersionComparer.cs#L308-L309

If so, then the answer's Int32.MaxValue

If so, is Int32.MaxValue (and, I think, support of

[2018-05-04 16:57] livarcocc opened #6902 "Docker dotnet restore on VSTS fails to authenticate."
_From @SGStino on May 4, 2018 8:45_

## Infrastructure:
- vsts-agent running in docker
- vsts agent running on windows machine
- tfs 2018 on-premise

## Steps to reproduce
- Create a Nuget feed on the TFS server.
- Create ASP.NET Core project, reference one nuget package from Internal feed
- Build on Windows based agent
- Build on Docker image

## Expected  behavior
Both builds should succeed by u

[2018-05-04 18:11] nkolev92 commented on #6771
@zhili1208
Just assigning it you as you've been doing the work here.
2/3 done.

[2018-05-04 18:16] nkolev92 commented on #6170
Motivated by https://developercommunity.visualstudio.com/content/problem/153464/no-way-to-clearly-know-when-the-nuget-package-inst.html?childToView=245494 (note all the comments).

The customer is asking for sort of a numerical indication of the progress for the package installation.

[2018-05-04 19:24] dtivel opened #6903 "Signing: incomplete error message for signature verification failure in nuget install command"
Although repro steps below use a 4.8.x build, this repros with 4.7.0.

1.  Manually download https://dev.nugettest.org/packages/E2E.SignedPackage/2018.5.4-v165750
2.  Verify that signed package verification succeeds.
[code]
3.  Try installing it:
[code]

The DEV environment is currently misconfigured.  As of writing this, the DEV environment [declares](https://apidev.nugettest.org/v3-index/reposit

[2018-05-04 19:24] mishra14 commented on #6902
cc @nkolev92 who is doing crossplat auth work.

[2018-05-04 19:24] dtivel commented on #6903
CC @PatoBeltran, @mishra14

[2018-05-04 19:27] dtivel commented on #6903
Note that 4.6.x installs just fine.  This is only a problem with 4.7.x and later.

[2018-05-04 19:31] nkolev92 commented on #6902
@mishra14
There is no cross-plat support out yet though :D

This has to do with the VSTS tasks.
Not aware what's being done here.

@alexmullans @keithrob for help

[2018-05-04 19:34] mishra14 commented on #6903
Installation in 4.6.x is expected because we did not have support for repository signature info in 4.6.x. I am currently investigating the blank error message.

[2018-05-04 20:23] dtivel opened #6904 "Install: installing latest version when only prerelease versions exist returns misleading error"
https://dev.nugettest.org/packages/E2E.SignedPackage/ has only prerelease versions.  When attempting to install the latest version, the error that NuGet raises is misleading.
[code]
If only prerelease versions exist and the `-Prerelease` option is not used, the error should say something like:

    Failed to install package 'E2E.SignedPackage'; no release versions exist.  Either install a specific

[2018-05-04 20:24] PatoBeltran commented on #6895
Thanks for the demo project! I am able to reproduce this issue with the nuget.exe you had stored in that project. It seems that this only happens when the exe file is not named `nuget.exe` (in your case it was name `nuget_4.6.2.exe`). I will keep investigating on why this happens, for now you can rename the exe and it should work as you expect.

[2018-05-04 20:46] PatoBeltran commented on #6717
This was fixed in https://github.com/NuGet/NuGet.Client/commit/75dbda58560c7db281816015ad19a6bffdcc0f79#diff-f49b90659a73b9b227fd920ed6ba82ffR280

[2018-05-04 20:46] #6717 closed, assigned to nobody

[2018-05-04 22:36] infin8x commented on #6902
Does the URL in the nuget.config exactly match the URL you configured in the "TFS-Nuget" service endpoint? The task should be looking for a match between that line in your nuget.config and the service endpoint to correctly inject credentials.

[2018-05-04 23:08] keithrob commented on #6902
Hey @livarcocc I would like to take a look at the build logs.  Will you send them to kerobert AT microsoft.com.

[2018-05-04 23:20] livarcocc commented on #6902
@keithrob I am not the original reporter of this issue, I just moved it to this repo. It was originally filled by @SGStino

[2018-05-05 01:31] mishra14 opened #6905 "Add infrastructure for a https mock server"
an https mock server can be handy to perform E2E tests on repository signature info validation.

cc: @dtivel @PatoBeltran

[2018-05-05 01:35] mishra14 opened #6906 "Signing: improve signing related error messages"
We should improve signing related error messages in the following ways -

1. Add the package identity as part of the message.
2. Add reason for generic messages.

For example -
`NU3008: Package is not signed.` should be `NU3008: {PackageRepository} declared that all its packages are repository signed. But package A v1.0.0 is not signed.`

[2018-05-05 02:17] rido-min opened #6907 "After using Package Refs, retargeting project produces a NuGet Error"
using d15.7

**Repro Steps**

1. Create Console App Targeting .NET 4.6.1
2. Add NewtonSoft using PR
4. Remove NewtonSoft
5. Retarget to .NET 4.6.2
6. Build

Expected. Build succeeds.

Observed. Build fails with
[code]

weird error message since the project is not using any packages, and project.json was never used.

[2018-05-05 02:42] rido-min opened #6908 "PackageReference does not treat build and contentFiles same to lib/ref - leading to unintuitive asset selection"
I'm validating a package install with a dependency to net462.

Using packages.config, installing in a project targeting net461 fails (as expected) with:

[code]

However when installing the same package in the same project using PackageRef the package is installed without any error or warning.

[2018-05-05 06:44] leoallvez commented on #4710
vixi

[2018-05-05 11:12] Nirmal4G commented on #5894
This is in `PresentationBuildTasks`. So, We might need a Custom Task for that. NuGet had a temporary fix but they ran into license issues, right? So, they put the fix into .NET 4.7.2.

Let's see If we can use that workaround!

[2018-05-05 13:44] DrWala commented on #1827
+1 I'm facing the same issue with an update being available but I can't download it

[2018-05-05 15:08] fabich commented on #3050
So NuGet only supports semver?
Four digit version numbers like Explicit Versioning are not supported?

[2018-05-05 15:49] SGStino commented on #6902
@keithrob logs are on their way!

[2018-05-05 17:36] InteXX commented on #3050
@fabich Yes, this is the case.

[2018-05-05 17:36] InteXX commented on #3050
@emgarten

Would you comment on @StingyJack's assessment of your position:

"This reads as 'We broke it, but aren't willing to fix it. One of you can.' Is that really what is being said?"

[2018-05-05 18:44] emgarten commented on #3050
@fabich NuGet supports four digits such as 1.2.3.4, that hasn't changed. This issue covers what happens when pack is used on an assembly version such as `1.0` or `1.0.0.0` and how it is normalized since they are the same version according to semver rules. Note also that having `1.0.0.0` in a nupkg is still fine, this issue is purely around how pack transforms the package if you create it using the

[2018-05-05 18:44] InteXX commented on #3050
@emgarten

We're on the heels of two years with this very serious issue.

Your silence (and inaction) on the problem are deafening.

[2018-05-05 18:48] InteXX commented on #3050
@emgarten

_"@InteXX I answered your question earlier here: #3050 (comment)"_

And your response was unclear that it was intended for me. I asked for clarification and received no reply.

_"Versions must be treated as Semantic Versions, not as strings"_

Two questions:
1. Why?
2. Are you somehow blinded to all the trouble this is causing?

[2018-05-05 18:50] emgarten commented on #3050
@InteXX would you share your exact scenario where you are having problems?

[2018-05-05 18:52] InteXX commented on #3050
@emgarten

_"would you share your exact scenario where you having problems"_

Certainly. I'd love to.

Would you answer my two questions first.

[2018-05-05 20:12] richlander commented on #1538
Please, please!

[2018-05-05 20:15] NickCraver commented on #1538
This bit me recently several times as well, AFAIK it's not documented anywhere and it's hella confusing. "Just restart Visual Studio" is unfortunately becoming a more and more common answer from me in resolving problems. While this is far from the only issue, things like this contribute to the whole picture a user experiences.

[2018-05-05 23:30] nickrandolph commented on #6640
It's still possible to reproduce this using Xamarin Android, Xamarin iOS or UWP projects: set packagereference to *, clean everything (delete bin/obj). VS/NuGet fails to retrieve the latest packages.
I've just tried this in the latest VS preview

[2018-05-05 23:39] DoCode opened #6909 "Push package to on premise NuGet.Server with long prerelease label failed (HTTP error 406)"
## Details about Problem

NuGet product used: nuget.exe

NuGet version: 4.7.0.5148

OS version: win10-x64-1803

## Detailed repro steps so we can see the same problem

**Two packages to publish:**
A) `Sample.AppPackage.1.1.0-preview-1-0-01304-003-123-a-very-large-branchname.nupkg`
B) `Sample.AppPackage.Extensions.HtmlReports.1.1.0-preview-1-0-01304-003-123-a-very-large-branchname.nupkg`

**1. Pack

[2018-05-06 04:28] InteXX commented on #3050
@emgarten

_"I asked for clarification and received no reply."_

In addition, in that answer you didn't comment on @StingyJack's assessment of your position. Your response may have been an answer, yes, but not to the question I asked.

[2018-05-06 05:33] StingyJack commented on #3050
@emgarten  - there are a few specific problems here.

By your posture and position, we have come to know that the Nuget team has chosen to dismiss the (slightly odd but venerable) 30+ year old **expected** four part version numbering system.  This _could_ be and in some cases _is_ a breaking change, and in other cases its unexpected and unwanted due to the work it has the potential to create.

I d

[2018-05-06 08:35] InteXX commented on #3050
@emgarten

_"And again, a pull request for this would be great!"_

You broke it, you can fix it. Have you considered how much you've cost us with this breaking—and arguably unnecessary—change of yours?

If I sound like I'm getting a bit frustrated here, it's because I am.

It's frustrating to attempt polite, reasonable discourse, only to encounter silence and obfuscation.

[2018-05-06 11:28] gorangrubic opened #6910 "Failing to install newer package - because few proj. currently use older v, deleted meanwhile"
Scenario:
- You have local nuget repository
- In the repository directory, over period, you made mess, like: in root directory there are fer package files (e.g.) imbSCI.Core versions: 0.1.2.1 , 0.1.2.7 and 0.1.3.4 (let the array have name: _OldVersions_) -- and let current version be 0.1.3.10, it is in a subdirectory, (later introduced, as dedicated to imbSCI.Core) -- also: none, one or more versi

[2018-05-06 11:34] gorangrubic commented on #6910
How the "double-entry issue"  looks at point where you deleted _OldVersions_:
![image](https://user-images.githubusercontent.com/20734509/39672835-05b9df30-5132-11e8-80cc-f56edeb3cc82.png)

[2018-05-06 12:19] morad3741 opened #6911 "IsLatestVersion Metadata flag is always false with query param semVerLevel=2.0.0"
Hi,
Ive encountered some inconsistency with the Search and FindPackagesById endpoints, i would like to get your opinion on that:

1. When reaching:
https://www.nuget.org/api/v2/FindPackagesById()?id=%27sleet%27
Ive noticed the next metadata:

on entry with version: 1.0.1,
but when reaching the same endpoint with semVerLevel param:
https://www.nuget.org/api/v2/FindPackagesById()?id=%27sleet%27&semV

[2018-05-06 18:15] prisar commented on #2880
i am having this problem in docker-compose
`error : Unable to load the service index for source`

[2018-05-06 18:55] prisar commented on #6835
@nkolev92 i also have the same question asked by @MichaelSimons
i want to run nuget.exe in Dockerfile so that i can build using docker-compose

[2018-05-06 21:35] ghuntley commented on #2867
These three indicators are highly 👍 from me:
- Deprecated
- Vulnerable
- Legacy

If client warning can be customised display to the user the migration path/new package name then it's a solid ⛵ it  omg plz.

See https://twitter.com/GeoffreyHuntley/status/993096801552031744?s=09

[2018-05-07 07:35] maartenba opened #6912 "Error when fetching packages from a V3 endpoint that lists the `RepositorySignatures/4.7.0` resource"
In VS2017 (15.7), we are seeing the following error when fetching packages from a V3 endpoint that lists the `RepositorySignatures/4.7.0` resource.

The error:
[code]

The service index lists:
[code]

The repository signatures resource: (with an empty array of signing certificates):
[code]

Can the client handle this more gracefully?

[2018-05-07 09:35] aguacongas commented on #5621
@emgarten can you reopen, I've exactly the same issue with `dotnet restore` but on build server only
On a developer machine it works, on a TFS build server, it doesn't
Mutch more weird : If I launch the command in the repository TFS checkout code, I don't have the error

[2018-05-07 10:21] morad3741 commented on #6912
Hi @maartenba,
Im not seeing "repository-signatures" resource in https://api.nuget.org/v3/index.json ,
which feed url do you use?

[2018-05-07 10:24] maartenba commented on #6912
This was on a private NuGet server. If you need to repro, try this URL as the package source:
https://stagingmyget.blob.core.windows.net/public/nuget-issue-6912/index.json

[2018-05-07 10:29] nkolev92 commented on #6908
@rido-min
What's the specific package you're trying to install?
It could that there are other assets which are compatible.

[2018-05-07 10:49] nkolev92 commented on #6640
@nickrandolph

Can you provide a repro project?

I just tried that in the UWP project and it resolved just fine (those same packages listed above).

If you have a repro, please attack your assets file as well.

[2018-05-07 12:15] nickrandolph commented on #6640
Try Android/iOS projects - they definitely seem to fail. Make sure you do a clean, remove any packages folders etc, and then attempt to build.

[2018-05-07 17:59] PatoBeltran commented on #6895
Hey @SiOuz I found that we already have an issue for this. I will close this issue in favor of https://github.com/NuGet/Home/issues/3146, please feel free to vote on it or continue the conversation as needed. Thanks!

[2018-05-07 17:59] #6895 closed, assigned to nobody

[2018-05-07 19:18] activa commented on #6468
This is not fixed in 15.7 (final released)

"This collection is read-only" when trying to update the Xamarin Forms nuget package.

[2018-05-07 19:22] activa opened #6913 ""This collection is read-only" when updating Xamarin Forms for Android project"
Was already reported and was closed as "fixed" but it's not:

https://github.com/NuGet/Home/issues/6468

All details can be found in the above issue.

Tested on the today's release of VS 2017 version 15.7

[2018-05-07 20:22] dtivel opened #6914 "Signing: need API for determining validity of repository signature/countersignature"

[2018-05-07 21:15] mishra14 opened #6915 "PackageExtractor.InstallFromSourceAsync does not clean up on SignatureException"
Steps -

1.  `NuGet.exe locals -clear all`
2. `NuGet.exe install <Tampered_Package> -DirectDownload -NoCache -Source <Source> -OutputDirectory C:\packages`
3. Observe that install fails because the package has been tampered
4. Go to global packages folder and observe that there will be an empty folder for the tampered package.

[2018-05-07 22:03] nkolev92 commented on #6640
@nickrandolph
No luck.
There should be nothing special in the resolution logic in NuGet there.
NuGet just treats * as a * regardless of the project type.
Only case where things would be different would be duplicate references or targets updating the package version, which is out of NuGet's control.

[2018-05-08 02:33] sagoo33 commented on #6841
I have just updated to vs2017 15.7 and installed nodejs & angular cli, after that no solutions are able to restore nuget packages with error above.

Also in the package manager console receiving "Unable to find fallback package folder 'C:\Program Files (x86)\Microsoft SDKs\NuGetPackagesFallback\'."

I went and created an empty folder "C:\Program Files (x86)\Microsoft SDKs\NuGetPackagesFallback" an

[2018-05-08 05:15] liushuanggang opened #6916 "Could not found the symbol package after it successfully pushed to the server."
## Details about Problem

I have successfully pushed a  symbol package to the  symbol server, but I could not list it after that, it return me "No packages found".

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet.exe

NuGet version (x.x.x.xxx):

4.5.1

OS version (i.e. win10 v1607 (14393.321)):

Win10

## Detailed repro steps so we can see the same problem

1.

[2018-05-08 08:44] mungojam commented on #6104
It seems there is a big regression with the new project-system (not when just changing to PackageReference). We include our .pdb files inside the appropriate lib folder of our packages. With the old project system, they get automatically output to the bin directory of our tools for easy debugging.

With any tools using the new project-system none of them are not getting output, just the pdb from t

[2018-05-08 09:04] ErikvdBurgwal commented on #6834
The NuGet files existed.

I tried another couple of install / uninstall / repair attemts, then contacted MS and finally got the advise to re-install my Windows to get this sorted.

[2018-05-08 09:04] #6834 closed, assigned to nobody

[2018-05-08 09:45] msmolka opened #6917 "After installing VS 15.7 cannot find migrate pacakge.config in menu."
## Details about Problem
Based on update information about Visual Studio 2017 (15.7), there should be option to migrate `packages.config` to `PackageReference`.

However after updating Visual Studio today, I cannot see such option when right-click on `references` or `package.config`

[2018-05-08 09:57] msmolka commented on #6917
after 30 mins doing nothing menu item shown up

[2018-05-08 09:57] #6917 closed, assigned to nobody

[2018-05-08 09:59] AndrewGretton opened #6918 "Nuget.exe restore foo.sln - broken with msbuild 15.7 installed"
## Environment / tooling

nuget.exe, version 4.6.2
VS2017/msbuild version 15.7
Win10, 1703

## Repro steps

Run `nuget restore <any valid .sln file>`

Expected result: nuget restore works
Actual result: nuget restore no longer works since 15.6 --> 15.7 upgrade

## Sample problem output

[code]

This is reproducible on any .sln file, including newly created ones, and is reproducible on the two test

[2018-05-08 10:38] asmichi commented on #6918
I hit the same issue.

This issue doesn't seem to reproduce when .NET Framework 4.7.1 is installed and thus the GAC contains System.Runtime.InteropServices.RuntimeInformation.dll.

From my observation, it does not reproduce in:
- nuget.exe, version 4.6.2
- VS2017 version 15.7
- Win10 1709 ~~1803~~
- .NET Framework 4.7.1

It reproduces in:
- nuget.exe, version 4.6.2
- VS2017 version 15.7
- Win7 SP2

[2018-05-08 10:46] AndrewGretton commented on #6918
Great spot asmichi - we are running .NET 4.7 (version 460798) on Creator's Update (version 1703). I'll try updating to get around our current issues.

[2018-05-08 10:53] asmichi commented on #6918
For me copying System.Runtime.InteropServices.RuntimeInformation.dll from MSBuild to the same directory as NuGet.exe made NuGet work.

[2018-05-08 10:55] dasMulli commented on #6918
Does it work for you using the 4.7.0 nuget.exe from https://www.nuget.org/downloads? (warning: "recommended latest" listed at the top is actually older)

[2018-05-08 11:00] AndrewGretton commented on #6918
@dasMulli thanks, but it seems not - on my affected machines, the entire 4.x range has stopped working since 15.7 was applied.

[2018-05-08 11:04] AndrewGretton commented on #6918
Applying .NET 4.7.2 to my affected machine has fixed the issue. However, rolling this out to all my developers, build agents, etc is not an exciting prospect :-)

[2018-05-08 11:14] jnm2 commented on #6104
@mungojam There is an existing issue: https://github.com/dotnet/sdk/issues/1458 ([workaround](https://github.com/dotnet/sdk/issues/1458#issuecomment-344422574)).

[2018-05-08 12:25] OliverRC commented on #1818
?? This is kinda mad that Nuget does not support file paths with spaces!

[2018-05-08 13:18] JaCoB1123 commented on #6918
I can confirm what @AndrewGretton said.
I had NuGet 4.1 in use and `restore` stopped working after updating Visual Studio to 15.7.
After installing .NET 4.7.2 it started working again.

[2018-05-08 13:35] LouisMT commented on #6918
I can also confirm this.

The error message is really confusing and makes it seem that there's something wrong with the solution, but building the solution with MSBuild directly yields no errors at all.

Installing .NET 4.7.1 fixed this issue.

[2018-05-08 15:34] Sebastian1989101 commented on #6468
Jup I can confirm that this is still not fixed in 15.7.0. It's really sad that they don't get this working...

[2018-05-08 16:01] #6914 closed, assigned to dtivel

[2018-05-08 16:17] dtivel commented on #6601
This member was removed/replace over two commits (https://github.com/NuGet/NuGet.Client/pull/2139 and https://github.com/NuGet/NuGet.Client/pull/2138).

[2018-05-08 16:17] #6601 closed, assigned to nobody

[2018-05-08 17:06] lpm-nova commented on #6602
Thank you Archanian. I updated VS yesterday and have been dealing with System.Runtime.InteropServices ever since. Re-running VS Installer and checking NuGet Targets did the trick.

[2018-05-08 17:14] kazizaman opened #6919 "Unable to save packages to specified path"
Unable to Install or Restore packages to my repositoryPath specified.

My Solution structure:
Project
  - Common-master
       - lib
       - src
           - Project 1 (.net Standard 2.0)
            - Project 2 (.net Standard 2.0)
            - NuGet.Config
            - myProject.sln

NuGet product used : NuGet.exe
NuGet version: 4.6.2.5055
VS version (if appropriate): VS 2017
OS version (i.e.

[2018-05-08 17:16] jainaashish commented on #6916
Please try with latest NuGet.exe (https://dist.nuget.org/win-x86-commandline/v4.7.0/nuget.exe ) if that works for you. There was an issue with 4.5.1 build where it was reading it from cache and waiting for 30 mins to refresh it.

[2018-05-08 17:30] kazizaman commented on #6919
globalPackagesFolder my key was wrong. Worked. Closing the issue.

[2018-05-08 17:30] #6919 closed, assigned to nobody

[2018-05-08 18:08] crenshaw-dev commented on #6917
Same issue. I haven't waited 30min yet, but it's still a significant issue for people who read the release notes and immediately want to migrate packages.config. A bit disconcerting.

A reboot had no effect.

[2018-05-08 19:30] Salalimo opened #6920 "Nuget creates possibly invalid package binding redirects."
Remove the content above here and fill out details below.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx):
4.6.2.5055
dotnet.exe --version (if appropriate):

VS version (if appropriate):
15.2

OS version (i.e. win10 v1607 (14393.321)):
win10
Worked before? If so, with which NuGet version:

## Detailed repro steps

[2018-05-08 19:44] AndreyAkinshin opened #6921 "Frequent timeouts when establishing a connection to api-v2v3search-0.nuget.org"
Sometimes, requests to `api-v2v3search-0.nuget.org` and `api-v2v3search-1.nuget.org` are failed by timeout. It affects NuGet search experience in Visual Studio and Visual Studio for Mac (sometimes users have to wait up to several minutes before the NuGet search results are shown):
![vs](https://user-images.githubusercontent.com/2259237/39778540-4315958e-530f-11e8-9c38-998f08783334.gif)

Here are s

[2018-05-08 19:59] madcodemonkey commented on #6899
@jainaashish What's driving our team nuts is that we have a TFS 2017 feed with an internal package that has dependencies on Nuget.org.  It takes a long time for a solution to upgrade to a newer version of our internal package because it is trying to retrieve all the dependencies from our internal server, which it doesn't have them (there on Nuget.org).  I tried downloading the packages from Nuget.

[2018-05-08 21:02] VahidN commented on #6921
`using (var client = new HttpClient())` rings a bell!
- [You're using HttpClient wrong and it is destabilizing your software](https://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/)
- [Disposable, Finalizers, and HttpClient](https://blogs.msdn.microsoft.com/alazarev/2017/12/29/disposable-finalizers-and-httpclient/)
- [Using HttpClient as it was intended (because you’re not)](https://www.co

[2018-05-08 21:04] 0xced commented on #6921
The linked blog post explains why the HttpClient is used this way:

[2018-05-08 21:39] AndreyAkinshin commented on #6921
In the first version of the repro, I used a single `HttpClient` instance for all requests. In this case, the first request fails in ~30% cases, other requests are successful because the connection is already established. From the practical point of view, it means that user can get hanged NuGet Package Manager in VS only once after startup.
However, in this case, it's hard to investigate the proble

[2018-05-08 21:49] zhekaby commented on #6918
Yes, 4.7.2 fixes this issue

[2018-05-08 21:59] mishra14 commented on #6318
This is being fixed for net core projects as part of https://github.com/NuGet/NuGet.Client/pull/2212

[2018-05-08 22:01] zhili1208 commented on #6921
Issue moved to [NuGet/NuGetGallery #5899](https://github.com/NuGet/NuGetGallery/issues/5899) via [**ZenHub**](https://www.zenhub.com/)

[2018-05-08 22:01] #6921 closed, assigned to nobody

[2018-05-08 22:57] TechArtistG commented on #4318
@zhili1208 Do you mean the system for executing scripts in a Nuget is depicted or specifically Powershell scripts? Also I can't see where Global tools provides the same functionality as the init.ps1 file executing every time the solution is loaded.

[2018-05-08 23:35] rrelyea commented on #6918
We are working with the MsBuild team to determine the right fix(es).
Until then, workarounds include:
1) Install .NET Framework 4.7 or later
2) Copy System.Runtime.InteropServices.RuntimeInformation.dll from msbuild directory to the same directory that NuGet.exe is in.

Sorry for the problem.

[2018-05-08 23:58] #6903 closed, assigned to mishra14

[2018-05-09 05:05] liushuanggang commented on #6916
@jainaashish, Thanks for your reply. Using nuget.exe 4.7.0 still not found that symbol package.

[2018-05-09 06:38] cltshivash commented on #6723
@mishra14 Migating the nuget references off package.config to PackageReference helps resolve the issue for the repro shared on this issue (i do see the runtime dll getting copied to the output folder of the test project).

@StingyJack Please do see if the option provided by @mishra14 helps.

[2018-05-09 06:39] cltshivash commented on #6723
@spottedmahn It would be helpful if you can validate the above recommendation from @mishra14

[2018-05-09 08:18] andrejohansson opened #6922 "Migrate Package References Added In 15.7, but removed in 15.7.1?"
## Details about Problem

Yesterday I upgraded to 15.7.0 an was very happy that the [migrate package references tool](https://docs.microsoft.com/en-us/nuget/reference/migrate-packages-config-to-package-reference) had been added to studio and it worked like a charm.

Today I updated to 15.7.1, and now the tool is gone again. Why?

![image](https://user-images.githubusercontent.com/2828428/39803596-

[2018-05-09 08:31] rrelyea commented on #6922
Have not removed feature.
If you cannot see menu item, most likely due to the fact that some packages.config project types may not be fully compatible.

Asp.net projects are not yet enabled.
C++ projects are not yet enabled.

[2018-05-09 08:42] andrejohansson commented on #6922
I can confirm that I can see it on some projects but not others. But I cant really determine which ones I do not see them in. For example, I have unit test projects where it doesn´t show up (and I could swear it did show up yesterday). As for ServiceFabric Actor projects, I could understand if it doesnt show on these projects.

But isnt unit test projects supported?

Thanks for your reply.

[2018-05-09 08:48] icalvo commented on #6922
Maybe related: in 15.7.0, if you don't change the default option to PackageReference in Tools > Options > Nuget Package Manager, you won't see the context menu item. See #6917.

[2018-05-09 08:50] maelgrove commented on #5126
I'm currently facing the same problem, however if I apply the solution mentioned here with setting the `BaseIntermediateOutputPath`, something seems to completely break. While nuget is able to restore all packages for all framework targets and the temporary files are generated in the right folder, the project crashed upon build because it's unable to find any namespaces or types (unknown namespace

[2018-05-09 08:50] icalvo commented on #6917
I was able to see the menu item after going to Tools > Options > Nuget Package Manager, and choosing PackageReference as the default package management format.

[2018-05-09 11:55] maartenba commented on #6912
Wondering if this is caused by the `"allRepositorySigned": "false"` being a string instead of a boolean. (the [code seems to expect a boolean](https://github.com/NuGet/NuGet.Client/blob/c4c7d2d3dd75604be94161a19c3c4e31dd4fb7d3/src/NuGet.Core/NuGet.Protocol/Resources/RepositorySignatureResource.cs#L25))

[2018-05-09 12:56] andrejohansson commented on #6922
So this is no issue, its a matter about which project types are compatible (is there a list somewhere?), closing.

[2018-05-09 12:56] #6922 closed, assigned to nobody

[2018-05-09 13:36] rkmr039 commented on #4190
start Developer Command Prompt for VS 2017 and change directory to current project
then run this command
dotnet add package Microsoft.EntityFrameworkCore.Tools.DotNet

![vs_cmd](https://user-images.githubusercontent.com/27297344/39817536-0d771d00-53bc-11e8-9e75-0c3dd861140e.PNG)
and then rebuild the project

![package_added](https://user-images.githubusercontent.com/27297344/39817535-0d139078-53bc

[2018-05-09 15:02] arthis commented on #5651
Same thing here , except it is VSTS update 3. And calling nuget directly works :

[code]
whereas it does not when using dotnet restore even if I specify the config file to be sure I use the same pat :

`$ dotnet restore --configfile /home/arthis/.config/NuGet/NuGet.Config`

[2018-05-09 15:09] crenshaw-dev commented on #6917
Confirmed. Thanks for the reference to the other issue. After changing the default package management format, the migrate option appeared for the non-ASP.NET projects, but not the ASP.NET projects.

[2018-05-09 16:28] nkolev92 opened #6923 "Consider how to solve the credential plugin + proxy scenario"
NuGet itself has some very primitive proxy support.

https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file

In the past, the old credential provider did not have any proxy support.

There are 2 options here:
- NuGet passes the proxy settings at/sometime after the initialization
- The Credential provider reads the NuGet config for the proxy settings.

Need to analyze the pros and cons

[2018-05-09 17:42] mishra14 commented on #6723
@cltshivash thanks for confirming. I am closing this issue.

[2018-05-09 17:42] #6723 closed, assigned to mishra14

[2018-05-09 17:45] dee-see commented on #4942
@nkolev92 You mention

I'm curious to know how I would define a file to be used in a web project (let's say a branding image to use the same example as https://blog.nuget.org/20160126/nuget-contentFiles-demystified.html) where I want the image to be output somewhere in my project's file structure (let's say an `image` folder or `wwwroot`) and not in the `bin` directory.

Sorry if this is not the b

[2018-05-09 17:47] Ncage1974 commented on #6918
@rrelyea we copied System.Runtime.InteropServices.RuntimeInformation.dll from C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin to our nuget.exe location c:\programdata\chocolaty\bin which did not work. I looked at the file version information of the dll and it was 4.6.24705.1. Apparently its trying to load 4.0.1.0. We are using nuget version 4.6.2.5055. Unfortunately

[2018-05-09 18:03] rainersigwald commented on #6918
@Ncage1974 Confusingly, the `System.Runtime.InteropServices.RuntimeInformation.dll` that has file version and product version `4.6.24705.1` has _managed assembly version_  `4.0.1.0`. So that version of the file should be loadable.

Can you use [`fuslogvw`](https://docs.microsoft.com/en-us/dotnet/framework/tools/fuslogvw-exe-assembly-binding-log-viewer#to-view-details-about-a-specific-failure) to c

[2018-05-09 18:13] StingyJack opened #6924 "The nuget pm ui lets me make selections for things it will actually not install"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VSUI

NuGet version (x.x.x.xxx):
VS 15.6.7

VS version (if appropriate):
15.6.7

OS version (i.e. win10 v1607 (14393.321)):
Win 10, broken start menu edition

Worked before? If so, with which NuGet version:
dont know

## Detailed repro steps so we can see the same problem

1. Open a solution in

[2018-05-09 18:27] johnwc commented on #4459
I think what you guys are looking for are the MSBuild targets for NuGet. You can find the docs on them here https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets

So, your csproj would be changed to this.
[code]

[2018-05-09 19:02] nkolev92 commented on #4942
@dee-see
Why do you want to do that?
We strongly discourage creating packages that can potentially leave a footprint on the project when removed.

If you absolutely have to do that, the copying of those files is only achievable at build time using build targets as mentioned above.

[2018-05-09 19:14] dee-see commented on #4942
@nkolev92
We want to do very much like the [Nuget.Server](https://github.com/NuGet/NuGet.Server/blob/master/src/NuGet.Server/NuGet.Server.nuspec) package that ships a favicon and a readme.

How are you planning to migrate that to PackageReference?

[2018-05-09 19:23] nkolev92 commented on #4942
@dee-see I think that package would be simple to move to PackageReference, simply by moving all content to contentFiles.
It'll just end up in the publish directory in the end.

There are some gaps with ASP.NET full framework projects support for PackageReference that we're looking to address soon.

[2018-05-09 19:26] nkolev92 commented on #6912
//cc @PatoBeltran @mishra14 @zhili1208

[2018-05-09 19:51] #6915 closed, assigned to mishra14

[2018-05-09 19:55] nkolev92 commented on #6908
Discussed via e-mail with @rido-min
Can repro the behavior:

The package structure is as follows:
[code]

The root cause is that in the compatibility checker we consider every package without assemblies to be compatible.

From
https://github.com/NuGet/NuGet.Client/blob/c82241cf7f9d27eba58550c5f86baa5d3fe2c7bf/src/NuGet.Core/NuGet.Commands/RestoreCommand/CompatibilityChecker.cs#L49-L56

[code]

Thi

[2018-05-09 20:00] Ncage1974 commented on #6918
@rainersigwald thanks for the hint of using fuslogvw which enabled me to figure it out. I not sure if this is the way nuget works or if this is an oddity of chocolatey but you will find nuget.exe at c:\programdata\chocolatey\bin\nuget.exe but this is not the REAL executable (its some type of shim). It essentially points to c:\programdata\chocolatey\lib\Nuget.CommandLine\Tools\nuget.exe. I copied t

[2018-05-09 20:14] jdshkolnik commented on #6918
@Ncage1974 You can work around that by using the [NuGet Tool Installer extension](https://docs.microsoft.com/en-us/vsts/build-release/tasks/tool/nuget?view=vsts) which will put it in the agent's tools folder.

[2018-05-09 20:19] zhili1208 commented on #6912
it's caused by this https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/Converters/JsonExtensions.cs#L118

if the type is not Boolean, converter return null

[2018-05-09 20:22] 304NotModified commented on #6434
Please add this to the docs until this issue is proper resolved!

[2018-05-09 20:26] Ncage1974 commented on #6918
@jdshkolnik Hi John. I tried that and it still fails but at a different location:
C:\agent2\_work\_tool\NuGet\4.3.0\x64\nuget.exe restore C:\agent2\_work\1\s\STAR.sln -Verbosity Detailed -NonInteractive -ConfigFile C:\agent2\_work\1\Nuget\tempNuGet_1501.config

Should i just stick the required dll (System.Runtime.InteropServices.RuntimeInformation.dll) in c:\agent2\_work\_tool\Nuget\4.3.0\x64\ fol

[2018-05-09 20:35] jdshkolnik commented on #6918
Yes, sorry I wasn't clear. I was offering a workaround for the temporary nuget.exe location rather than the root error. It's much easier to copy the dll into a single tool folder per agent.

[2018-05-09 20:39] 304NotModified commented on #6434
it looks like the `-0` trick is not accepted by nuget.org? :(

(publish from AppVeyor) - https://ci.appveyor.com/project/nlog/nlog-framework-logging/build/1.0.634

Publishing NLog.Extensions.Logging.1.0.1.nupkg to https://www.nuget.org/api/v2/package...
Error publishing package. NuGet server returned 400: The NuGet package contains an invalid .nuspec file. The errors encountered were: 'The package

[2018-05-09 20:45] delphyne commented on #4150
which version of dotnet will include the changes?  2.0.7 released 2 days ago doesn't seem to include the fix.

[2018-05-09 20:51] emgarten commented on #6908
That is correct and the right workaround. I believe this was first done since a compat failure for meta packages would be incorrect.

In my opinion it would be correct for build and contentFiles to be treated the same as the lib folder and fail. This code was ported over from DNU which didn't have other asset types like this and the issue wasn't caught until much later after shipping (few people c

[2018-05-09 21:06] maartenba commented on #6912
Got it, thanks! So just making it a boolean in the JSON should do it, right?

[2018-05-09 21:06] #6912 closed, assigned to nobody

[2018-05-09 21:36] zhili1208 commented on #6924
is this installed package "Our.BarcodeDecode 1.2.0.3" in you global packages folder "C:\users\[username]\.nuget\packages"?

[2018-05-09 21:37] #6911 closed, assigned to nobody

[2018-05-09 21:37] zhili1208 commented on #6911
Issue moved to [NuGet/NuGetGallery #5904](https://github.com/NuGet/NuGetGallery/issues/5904) via [**ZenHub**](https://www.zenhub.com/)

[2018-05-10 10:43] flcdrg commented on #5877
Just checking - Did this ship in 15.7, or should I see it in the 15.8 preview (now that 15.7 has shipped)

(I ask as I can't see it in either of these)

[2018-05-10 12:26] StingyJack commented on #6924
yes, since 04/24

[2018-05-10 12:56] conioh commented on #6674
If I take the https://github.com/NuGet/NuGet.Client/tree/3.4.4-rtm tag (since the version in the Visual Studio Marketplace is 3.4.4.1321) I can build it and if I apply the
[code]
patch it installs on Visual Studio 2015 Integrated Shell too. Surprising.

If I download the VSIX from the marketplace, edit the manifest and repackage it, it works too (though mentioning the digital signature is obviousl

[2018-05-10 13:39] seanterry42 commented on #6918
Installing the .NET Framework 4.7 SDK on Windows 2016 did not get around the error for me, but installing the .NET Framework 4.7.2 (not the SDK) did.

[2018-05-10 13:42] dominik-weber commented on #6918
Installing .NET Framework 4.7.2 (Runtime, **NOT** SDK!) did the trick for me.
Download here: https://www.microsoft.com/net/download/dotnet-framework-runtime

[2018-05-10 15:03] breti169 commented on #2428
@yishaigalatzer : msbuildtargets are not helpful in any cases. For instance: You will share an SharePoint Project between several SharePoint Target Versions. In this case, you have to Change the msproj-file BEFORE build, because a build isnt possible until you have the correct Office Version set into Project file.

[2018-05-10 15:17] 304NotModified commented on #6434
also not working on manual upload. What am I missing?

![image](https://user-images.githubusercontent.com/5808377/39877353-09595e8a-5476-11e8-82d1-092efc1aee5b.png)

[2018-05-10 15:45] dee-see commented on #6553
Similar issue with the `EmbedInteropTypes` attribute here. With `Install.ps1` scripts being phased out in ProjectReferences this is becoming even more of a problem.

[2018-05-10 15:47] ericstj opened #6925 "NuGet doesn't emit a warning when it relies on PackageTargetFallback"
## Details about Problem
Project's using PackageTargetFallback don't emit a warning so folks are often unknowingly using a package that may not be compatible with what they are targeting

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
dotnet.exe & VS

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate):
2.1.300-rc1-008673

VS version (if appropriate):

[2018-05-10 17:32] jainaashish commented on #5877
It's shipped as part of 15.7. Please find more details from https://blog.nuget.org/20180409/migrate-packages-config-to-package-reference.html and if you still don't see the option then open an issue with repro steps.

[2018-05-10 17:46] techie55 commented on #5877
@jainaashish Same question as @flcdrg . I do not see the option in my Visual Studio Community version

Attaching the images to verify.
![visual_studio_version](https://user-images.githubusercontent.com/4335795/39884647-602e5968-543f-11e8-9aa7-4f11cc5adb5b.png)
![nuget](https://user-images.githubusercontent.com/4335795/39884649-604a1c98-543f-11e8-8f60-b5dec235b629.png)

[2018-05-10 17:49] rohit21agrawal commented on #5877
The option is enabled only on certain projects and disabled for projects such as C++ and ASP.NET to name a few.
Also, make sure you open the NuGet package manager UI or console first before checking for the migration option

[2018-05-10 18:00] zhili1208 commented on #6916
looks like a symbol server issue, please file a bug at https://github.com/SymbolSource/SymbolSource/issues, nuget team is also working on a better symbol experience, check the blog post: https://blog.nuget.org/20180501/Welcoming-SymbolSource-to-Dot-Net-Foundation.html, welcome feedback in issue #6104

[2018-05-10 18:37] MasonBergstrom commented on #6111
Is there some secret that I'm missing to turning this on? I've never had the "Install and Update Options" or the "Uninstall Options" for my projects or solutions. This applies to both my Net Core and Net Framework projects, all I have is the "Show preview window."

I'm fully updated, using VS 15.7.1 and Nuget package manager 4.6.0.

[2018-05-10 19:07] techie55 commented on #5877
@rohit21agrawal We should probably update the documentation to add the following step:
**Make sure you open the NuGet package manager UI or console first before checking for the migration option**
After doing the above step, I can see the option **Migrate packages.config to PackageReference**

Any reason why this tool cannot be enabled for ASP.NET projects?

[2018-05-10 19:22] tmat commented on #6754
This is a general problem for toolset packages (DevelopmentDependency=true) that use previous versions of themselves during build. For example a Microsoft.SourceLink package.

I  think NuGet needs to have a concept that allows it to distinguish between packages that are used in build and packages that are being built.

[2018-05-10 19:24] dtivel opened #6926 "Signing: check package integrity in RepositorySignatureVerifier when package is repository countersigned"

[2018-05-10 19:38] rhyous commented on #6553
My code to update my NuGet packages is a really cheap use of regex.
https://github.com/rhyous/NugetPackageUpdater

It only updates csproj, app.config and web.config files. And only really updates standard references. Some NuGet packages that have additional references, such as build target references, it doesn't update.

[2018-05-10 19:55] tmat commented on #6754
A workaround is to define PackageId to some unique value and then redefine it to the actual value in a target that runs just before Pack target.

[code]

[2018-05-10 20:18] dee-see commented on #4942
@nkolev92 Wouldn't it just put the files in the publish directory's bin through? Without respecting the original hierarchy?

[2018-05-10 20:50] #6926 closed, assigned to dtivel

[2018-05-11 03:10] mrmbernardi commented on #2351
I have another common scenario where this is quite useful. I have a release script which builds and uploads a package to a feed and uploads the symbols package to a local source server. If the source server fails to accept the symbols package for whatever reason and I run my release script again, the symbols server and the feed will have different builds of the package. Microsoft says its importan

[2018-05-11 05:03] liushuanggang commented on #6916
@zhili1208, Thanks, I will when I free.

[2018-05-11 07:45] nickrandolph commented on #4463
Just got this issue where we have two csproj in same folder. One is multi-targetted (netstandard2.0, net461 etc), the other just net461. Can't resolve a reference to a net45 nuget package.

[2018-05-11 07:45] davkean commented on #4463
@emgarten If you folks are blocked on dotnet/project-system#1437 to fix this - I'll fix it immediately in 15.8.

[2018-05-11 09:28] zorgoz commented on #1827
+1 Same here.
To me, it looks a caching related issue. I might have found kind of a workaround.

Try following steps:

1. Create a solution with a library project (let's call it L01)
2. Add another library project to the solution (let's call it D01)
3. Make a nuget package from L01 (version 0.0.1)
4. Push the package to your VSTS feed (probably same for other feeds too)
5. Manage packages for proj

[2018-05-11 10:00] Alchemy86 commented on #5138
Is this possible yet at all

[2018-05-11 10:02] SimonSDA commented on #5979
Been struggling with this one for a while... the only solution I've found which works is to manually add the dependencies into the .nuspec file and use nuget.exe pack. Using msbuild with NuGet.Build.Tasks.Pack does include dependencies but ignore info in the AssemblyInfo.cs so I end up with defaults e.g version 1.0.0. You can use msbuild to generate the package and copy/paste the dependencies into

[2018-05-11 10:49] eriawan commented on #6736
@nkolev92

Any progress on this fixing this issue? Or could I also try to test your unit test project POC work?
I'm willing to help as much as I can on this issue.

[2018-05-11 10:51] neilrees opened #6927 "Misleading Error Message when Installing Package using -Source Parameter and Dependencies are not found"
NuGet product used: nuget.exe

NuGet Version: 4.6.2.5055

OS version: Microsoft Windows Version 10.0.16299.371

Worked before? Not known.

1.  Attempt to Install a package from a source specified using a -source paramter, but which has dependencies that are not present on that source.

`nuget install ExampleModule -source http://localnugetserver:8080/ -o .`

2. Installation fails, correctly (as th

[2018-05-11 11:35] zosrothko commented on #6897
Hello NuGet team... This issue is a real PITA. Can someone have a look?

[2018-05-11 13:57] rsaltrelli commented on #6441
Hey, guys.  I ran into the issue today.
[code]
`nuget pack` attempts to run MSBuild 14.0 by default which gives me the `NotImplementedException`.  If I use  `-msbuildversion 15.0` then I get the `FileNotFoundException`.  I'd use `dotnet pack` but that seems to ignore my nuspec file.  Any movement on this issue or advice for workarounds?

[2018-05-11 13:58] rsaltrelli commented on #6441
Hey, guys.  I ran into the issue today.
[code]
`nuget pack` attempts to run MSBuild 14.0 by default which gives me the `NotImplementedException`.  If I use  `-msbuildversion 15.0` then I get the `FileNotFoundException`.  I'd use `dotnet pack` but that seems to ignore my nuspec file.  Any movement on this issue or advice for workarounds?

[2018-05-11 14:05] jisleyjr commented on #5159
I also have the same issue with Jenkins on Ubuntu 16.04

.NET Command Line Tools (2.1.105)

Product Information:
 Version:            2.1.105
 Commit SHA-1 hash:  141cc8d976

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  16.04
 OS Platform: Linux
 RID:         ubuntu.16.04-x64
 Base Path:   /usr/share/dotnet/sdk/2.1.105/

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.7
  Bu

[2018-05-11 16:07] vdrasutis commented on #4808
Same issue using 4.6.2 NuGet.exe ...

It it caused big pain.
* As nuspec can`t be used, because properties like "$id$", "$version$" and so on which is mapped to AssemblyInfo.cs properties (https://docs.microsoft.com/en-us/nuget/reference/nuspec).
* I try to use nuspec with "dotnet pack" then I get errors like null value and so on, as I am not able to map properties from AssemblyInfo.cs to nuspec.

[2018-05-11 17:36] ensemblebd commented on #5877
Just curious if anyone else has tried this on an existing project?
When I try it, it causes a complete removal of all Nuget packages.
Followed by an "invalid nuget configuration" error post migration.
Followed by a working Nuget Manager ui after restarting vstudio, with a [restore] button which looks like it works but restores nothing.
Followed by manually having to re-add all nuget packages, whic

[2018-05-11 17:42] rohit21agrawal commented on #5877
Can you share a repro project with us please where this happens? This is clearly not supposed to happen and we are sorry you had to face this inconvenience. Having said that, we are very interested in solving this issue and making this experience better for you, so any details you can share with us will be greatly appreciated

[2018-05-11 17:45] ensemblebd commented on #5877
No apologies necessary, I know you guys are working on things far more advanced than I can even comprehend. I'll see if I can get a reproduction repo built up and on github later today, and will post back. Might even find the issue that way, thank you :)

[2018-05-11 17:50] memao commented on #5877
I am having similar issues as ensemblebd when I use the tool. Sometimes the restore failed, it suggest me to roll back. Sometimes it shows the migration succeed and .html/backup files are generated, but actually when I look at the modified .csproj file, no package reference is added or no <reference> entry is removed. I have to manullay re-add all package reference or remove those <reference>.

It

[2018-05-11 18:03] anangaur commented on #6907
Looks like we are not cleaning up properly upon uninstall of the last and only packageref.  The error does not seem to get fixed with the proposed workaround. Is it due to the choice of package format being persisted somewhere in the obj dir? Where is the choice about the package format persisted?

[2018-05-11 18:20] mishra14 commented on #5159
Reopening this issue since folks are still getting the error.

[2018-05-11 19:54] anangaur opened #6928 ""dotnet add package" should commit the restore it performs to the assets file"
When I run `dotnet add package`, the package is not restore although it mentions so as a log info:
[code]

We should replace the following
`log  : Restoring packages for C:\Play\Nuget\dotnet\sample\projectB\projectB.csproj...`
with
`log  : Computing packages' graph for C:\Play\Nuget\dotnet\sample\projectB\projectB.csproj...` or equivalent that does not tell users that restore has taken place.

[2018-05-11 20:14] sbrockway commented on #6918
We just installed .net 4.6.2 on our build agent which triggered the issue described.

[2018-05-11 20:20] rainersigwald commented on #6918
Update: an MSBuild change that will fix this has been accepted by VS shiproom and will go out with a 15.7 update. I don't have any timing information on when it'll ship.

Until that's out, @rrelyea's workarounds in https://github.com/NuGet/Home/issues/6918#issuecomment-387574767 are good, except that it should say to install .NET Framework **4.7.1** or later; 4.7 is not enough.

[2018-05-11 20:44] bvirkler commented on #1827
Same issue for me.  Another workaround is clearing the nuget cache:
`Package Manager Settings->General->Clear All NuGet Cache(s)`

[2018-05-11 23:15] zhili1208 opened #6929 "Fix microsoft.build.dll dependency loading in nuget.exe for parsering solution"
Fix https://github.com/NuGet/Home/issues/6918

[2018-05-12 01:25] wjk commented on #5894
@AArnott @onovotny I have discovered something that may be of use here. Disassembling `PresentationBuildTasks.dll` (yuck, I know...) reveals this:

![presentationbuildtasks](https://user-images.githubusercontent.com/1915951/39952299-bb2f3864-5561-11e8-9f30-d0b8339982ac.png)

This dump reveals that we now need to use the `$(_TargetAssemblyProjectName)` variable to find the correct NuGet imports. I

[2018-05-12 03:21] Nirmal4G commented on #5894
I already did in my recent commits, both by property and by overriding this task. Have to ask MSBuild team for legality!

It'll be included in PR `MSBuild.Sdk.Extras`

[2018-05-12 03:38] AArnott commented on #5894
I think that $(_TargetAssemblyProjectName) property was added recently by Rob. But I guess somehow it didn't get tunneled through the .targets yet. Nice find.

[2018-05-12 05:25] bording opened #6930 "Removing package from packages.config-based project is incredibly slow"
I've noticed that uninstalling a package from a project that is using packages.config seems to take an excessively long amount of time. Earlier today it took over 40 minutes, and when trying it again to write up this issue, it took almost 25 minutes, as you can see from the output below.

The package in question, NServiceBus.AcceptanceTests.Sources, includes source files via a content folder. Remo

[2018-05-12 06:11] rohit21agrawal commented on #5877
@memao can you share some of the projects with us? If there is any confidential information involved, we can set up a NDA and follow due process.

[2018-05-12 06:13] rohit21agrawal commented on #5877
@techie55 the reason I suggested opening the PM UI/Console first is because I realized we ended up shipping a bug, for which I will file a tracking issue and fix as appropriate. In the meanwhile, we will work on documenting this workaround so people don't get blocked on this! Thanks for your feedback!

[2018-05-12 06:16] rohit21agrawal commented on #5979
@simonSDA with the NuGet.Build.Tasks.Pack package, all the attributes  in AssemblyInfo.cs can be mapped to appropriate properties in the csproj file which the pack task will pick up. Would that solve the issue for you?

https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#pack-target

[2018-05-12 06:21] rohit21agrawal commented on #5979
@marvel16 does the following not work for you:

To package your C# Class Library which manages your dependencies via PackageReference in the csproj itself, please add a reference to NuGet.Build.Tasks.Pack ( https://www.nuget.org/packages/NuGet.Build.Tasks.Pack/) and run msbuild /t:pack from the command line.

[2018-05-12 20:44] jaredpar commented on #6367
Is there any ETA for this issue? This makes it very difficult for developers to contribute to my project. In order to edit my solution they must:

1. Disable VS ability to do NuGet restore (since IDE restore is broken)
1. Restore on the commandline

Step 2 must be repeated every time that a change is made to the project file. Whenever a developer forgets to do this they encounter all manner of bui

[2018-05-13 02:02] paulness commented on #4879
There is a workaround..... This took me ages to figure out unfortunately.

Assuming you have your desired nuget.config inside /wd/ this will push everything in /nuget-artifacts/ to NuGet according to the settings in that config file

[code]

[code]

[2018-05-13 02:04] paulness commented on #3251
There is a workaround..... This took me ages to figure out unfortunately. Although it doesn't involve mono.

Assuming you have your desired nuget.config inside /wd/ this will push everything in /nuget-artifacts/ to NuGet according to the settings in that config file. You do not specify a source.

[code]

[code]

[2018-05-13 12:46] t-smirnov commented on #6855
Very annoying behavior,
but, if you're using JetBrains rider and nuget.config - all packages from private feed restores correctly, but dotnet-cli - fails.

[2018-05-13 19:15] mwpowellhtx commented on #4125
:+1: re: @bording 's responses.

So, gentlemen, what's the bottom line here? I contend that seamlessly supporting rolling up ``developmentDependencies`` is desirable, with a minimum of files or other assets that I need to touch, whether by hand of via tooling of any kind. ``PrivateAssets``, etc, just introduces a lower signal to noise ratio, IMO, i.e. makes it harder, not easier, to discern whethe

[2018-05-14 15:03] rainersigwald opened #6931 "IncludeSource in .csproj doesn't work"
_From @josh-endries on May 13, 2018 0:57_

I've been trying to embed source and/or PDBs into a NuGet package but can't figure it out with the new `csproj` files. I have a project that targets a few frameworks. I'm using VSTS, which is a whole other mess, but it doesn't work locally in VS2017 either. I used to just use `<files/>` in the `nuspec` file, but that doesn't work with the new projects, ap

[2018-05-14 16:57] alazo8807 commented on #6027
I had the same issue and solved it by restoring the nuget packages for the solution prior to creating a new build. Run the command ".nuget\NuGet.exe" restore "yourProject.sln"

[2018-05-14 17:09] milan11 commented on #4860
New nuget client and some older nuget servers (e.g. this Java server: https://github.com/JetBrains/teamcity-nuget-support/tree/standalone3) are not compatible.
Creating a new nuget server following some up-to-date instructions will solve this problem.

[2018-05-14 18:20] ericstj opened #6932 "AssetTargetFallback doesn't work if a package author forgot a TFM on one asset group"
I ran into a few packages which were designed to work only with `net40` but the package author didn't constrain their build assets with the same TFM (eg: lib\net40\foo.dll, build\foo.targets).  I've also seen similar packages where folks forgot to constrain their dependencies (eg: lib\net40\foo.dll, root dependencies with no TFM).

The result was that package would only install the unconstrained a

[2018-05-14 18:55] jainaashish commented on #6367
Restoring in VS worked fine for me, it didn't have `Fsharp.Core` refeerence in `Binaries\obj\VimWpf\project.assets.json`

I don't think it will matter but I tried with latest VS 15.7.1

[2018-05-14 19:55] rrelyea commented on #6525
Enabled in codebase in 4.7 -- however, the commands to use it and to respect it are coming in a future release.

[2018-05-14 20:47] #5943 closed, assigned to nkolev92

[2018-05-15 00:24] mishra14 commented on #6931
@rohit21agrawal is this supported in csproj format?

[2018-05-15 04:18] jaredpar commented on #6367
@jainaashish the initial restore will often work. Once you edit slightly and rebuild then the restore which occurs as a part of build will fail. The repro is a bit intermittent but it does show up. I can provide logs if that helps.

[2018-05-15 06:49] #6450 closed, assigned to rohit21agrawal

[2018-05-15 08:02] rohit21agrawal commented on #6931
@josh-endries IncludeSource property. by design, is supposed to create a symbols nupkg that will contain all the source files within the src folder of the nupkg.

However, if that's not what you want, there are enough extension points in Pack targets to achieve what you are trying to do. Take a look at: https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#targetsfortfmspecificcontentin

[2018-05-15 08:02] rohit21agrawal commented on #6931
@mishra14 you can close this as by design , and as a question.  @josh-endries can continue to engage here if he has more questions.

[2018-05-15 08:27] generik0 opened #6933 "MonoAndroid5.0 does not load .net40 packages correctly built in new VS2017 format"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used from: VS 2018 15.7.1

## Detailed repro steps so we can see the same problem

1. I have a .net standard template C# project that has <TargetFrameworks>net40;net45;netstandard1.6;netstandard2.0</TargetFrameworks>

2. The csproj uses NLog but has target "ItemGroup Condition" saying the net4

[2018-05-15 08:50] iberodev commented on #5358
I am having the same issue. I suspect it's something to do with being behind a proxy.
My Dockerfile is:
[code]

and I am getting an error on the step that publishes with dotnet:
[code]

However if I run the very same instruction directly I don't get that error:
[code]

How's that possible?

I've tried to add the following proxy settings in NuGet.Config
C:\Users\iberodev\AppData\Roaming\NuGet\NuGet

[2018-05-15 08:57] monkey-dsc commented on #6349
Hi @rohit21agrawal ,

are there any updates on this?

Best regards
Dirk

[2018-05-15 09:14] novicov commented on #5358
The same problem. When i use "RUN dotnet restore --disable-parallel" in dockerfile all works fine, but without "--disable-parallel" it doesnt work.
[code]

[2018-05-15 11:19] SGuzel commented on #2880
How can i fix this without disable the enviroment variable http_proxy?

For now it is working for me.
just adjust the Nuget.Config in Users\...\Appdata\Roaming\Nuget
[code]

[2018-05-15 16:09] rainersigwald opened #6934 "Transitive PackageReference packages do not contribute build logic"
_From @dansiegel on May 15, 2018 16:0_

### Description

When adding a top level dependency with PackageReference, children are not properly loaded, causing build Tasks to be missing during build.

### Steps to reproduce

See attached sample project with binlog

[Foo.zip](https://github.com/Microsoft/msbuild/files/2005711/Foo.zip)

### Expected  behavior

Install a top level PackageReference such

[2018-05-15 16:09] rainersigwald commented on #6934
Thanks for reporting. This looks like a NuGet restore behavior, so I'm going to move this to the NuGet repo.

[2018-05-15 17:06] livarcocc opened #6935 "`dotnet add package` won't use credentials from global config for a source specified in local config"
_From @evil-shrike on May 15, 2018 11:40_

## Steps to reproduce
Given an internal Artifactory server with several repositories, all of them require authentication.

`dotnet add package Microsoft.AspNetCore.All` work for an arbitrary new project. That means that all cached credentials in "C:\Users\UserName\AppData\Roaming\NuGet\NuGet.Config" are fine.

That global NuGet.Config contains several sou

[2018-05-15 17:53] #5938 closed, assigned to nobody

[2018-05-15 18:49] #6931 closed, assigned to nobody

[2018-05-15 20:03] #4504 closed, assigned to nobody

[2018-05-15 20:36] jaredpar commented on #6367
@jainaashish I tested out on 15.7 and I'm immediately stuck by a different bug (or at least restore behavior change). Now I get the following:

This is a new behavior with 15.7. It will repro on command line and IDE. Same code works just fine in 15.6. Joyful. Need to track this down before I can get back to reproducing the original bug.

Even if it doesn't reproduce though I don't really feel that

[2018-05-15 20:48] jaredpar opened #6936 "15.7 changes the ValueTuple reference picked during restore"
This is a follow up investigation to #6367. The restore behavior for NuGet changed between 15.6 and 15.7 in such a way that it breaks the ability to build VsVim. Here are the repro steps:

- Clone the [VsVim project](https://github.com/jaredpar/VsVim)
- Run `git reset --hard 307a8b7fbc26917a113d5929817de05e3eb564ae`
- Run `msbuild /v:m /m /t:Restore VsVim.sln`.
- Run `msbuild /v:m /m VsVim.sln`

*

[2018-05-15 22:04] rrelyea opened #6937 "Fix NuGet.exe to support longfilenames on Windows 10"
See some context in #3324

This issue is meant to cover NuGet.exe scenarios with long file paths.

The following changes would be required in NuGet.exe to fix this:
a.	Setting longPathAware to true in the win32 manifest
b.	Programmatic setting of UseLegacyPathHandling and UseLongPath to false in beginning of main() (to avoid needing nuget.exe.config, so we keep the single file distribution of NuGe

[2018-05-15 22:08] rrelyea commented on #3324
To fix the long path issue, we have a couple of options as mentioned earlier in this post:
1.	Build an abstraction that avoids System.IO support in .NET Framework or .Net Core
2.	Rely on .NET Framework or .NET Core support built on top of OS support

In NuGet v2, an abstraction existed, called IFileSystem that allowed a host to work around problems like this. NuGet v3 (shipped in VS 2015) was writ

[2018-05-15 22:11] jaredpar commented on #6936
CC @cartermp as this is potentially related to F# targets changes. Specifically these lines

https://github.com/Microsoft/visualfsharp/blob/7aa7cd3734dcf5e9ff9a29cd2f5814be301f308b/src/fsharp/FSharp.Build/Microsoft.FSharp.NetSdk.targets#L90-L108

[2018-05-15 22:36] rrelyea commented on #6733
First showed up as a problem in 15.6.0-preview4.
Partially fixed this in 15.6.5 and fixed the rest in 15.7.0

[2018-05-15 22:37] cartermp commented on #6936
@kevinransom as well - I'm not sure why we remove anything. Wouldn't just specifying SVT as a packagereference work?

[2018-05-15 22:40] mishra14 commented on #6933
This issue was moved to mono/mono#8724

[2018-05-15 22:41] mishra14 commented on #6933
@generik0 it is unclear what mono android5.0 is. I have moved this issue to the mono team.

[2018-05-15 23:52] jaredpar commented on #6936
Possibly. In what solution should I make this reference? If it's in the C# code then are we saying that C# must reference ValueTuple in order to reference F# code?

[2018-05-16 00:17] nguerrera commented on #6936
There's a lot of strange going on in those F# targets. It's unconditionally adding a SVT ref to all projects then removing it in a target. My mind is melting trying to understand it.

[2018-05-16 00:17] cartermp commented on #6936
Sorry, I was referring to the F# targets. I think we came to a resolution about a better way to specify this dependency for F# via overrides, since they're currently bonkers. Not sure what the workaround here is.

[2018-05-16 00:27] KevinRansom commented on #6936
That code needs to change.  It went in before we had a good location to add project references.

However, what is the explicit redirect mentioned here.

We have always selected 4.3.1 by default for SVT and so do you explicit add 4.4.0 as a package reference somewhere?  Although that is definitely supposed to work.

[code]

[2018-05-16 01:06] mishra14 commented on #6935
@evil-shrike Thanks for reporting the problem.

Can you try storing the password in clear text and try again?
`nuget sources update -Name rnd-virtual-dev -UserName username -Password <password> -Storepasswordincleartext -configfile <global_nuget_config>`

[2018-05-16 04:18] KevinRansom commented on #6936
@jaredpar

What did I do wrong, I didn't see those warnings, when I followed your repro using a 15.7.1 installof VS :

[code]

[2018-05-16 06:00] golayp commented on #5621
@aguacongas , @emgarten, it's seems that our TFS build process define a variable named PackageId that override csproj variable in all projects and causes this issue. If it can be helpful for anyone else...

[2018-05-16 09:13] generik0 commented on #6933
@mishra14
Hi, I think it is strange you moved this.
In nuget packages you can add a lib called
Monoandroid

Also it is nuget resolving a dependency
Version that is higher than defined.
This is definitely not a mono android issue.

It is a nuget issue. Nuget is not defaulting back to correct dependency versions.

[2018-05-16 09:50] evil-shrike commented on #6935
@mishra14 I've tried with creds in cleartext - no changes, getting same 401 for the source specified in local nuget.config.

[2018-05-16 10:13] SimonSDA commented on #5979
@rohit21agrawal I've been trying to avoid editing the csproj files as we have over 350 projects :(. I ended up ditching nuget.build.tasks.pack and writing a utility to scan the csproj file and generate the dependencies group, then paste it into the nuspec file. Any internal solution project references I add into the **files** section which also seems to work. It is a pain that it is still a manual

[2018-05-16 11:52] Cynede commented on #3324
Edit by rrelyea: This is not just a picture...this is a link to a video...that I think has something to do with "long file names"
I'm interpreting this as a positive reaction. -rrelyea

[![uff](http://img.youtube.com/vi/YNEGL-I-5vs/0.jpg)](http://www.youtube.com/watch?v=YNEGL-I-5vs)

[2018-05-16 14:41] AArnott opened #6938 "PrivateAssets and ExcludeAssets should be independent"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): I've tried dotnet.exe and nuget.exe  and msbuild.exe as it ships with my VS.

NuGet version (x.x.x.xxx): 4.6.1

dotnet.exe --version (if appropriate): 2.1.200

VS version (if appropriate): 27713.00.d15.8

OS version (i.e. win10 v1607 (14393.321)): Windows 10 RS4

Worked before? If so, with whic

[2018-05-16 15:06] jaredpar commented on #6936
@KevinRansom those are the exact steps I'm doing.

Here are the various binary logs for the cases:

1. [15.7.1](https://vsvim.blob.core.windows.net/logs/vsvim-15.7.1.binlog)
1. [15.6.2](https://vsvim.blob.core.windows.net/logs/vsvim-15.6.2.binlog)

No. There is no use of ValueTuple in any of the project files.

[2018-05-16 17:20] jainaashish commented on #6938
I have my reservations about this requirement and It seems very specific to work around something else. Why would someone allow flowing some assets from it's own dependency without even consuming itself?

Since NuGet has these explicit properties `PrivateAssets` or `ExcludeAssets/IncludeAssets`, we're even thinking about this scenario but most other package managers will have a uber scope attribut

[2018-05-16 17:21] jainaashish commented on #6936
@jaredpar If this is specific to F# target change, then can we move it to their repo?

[2018-05-16 17:24] jaredpar commented on #6936
Don't think that is confirmed at this point, just suspected. At this point there is a visible difference between restoring a project in 15.6 and 15.7 (that causes build errors). Until it's confirmed that it's F# I think we should keep it here.

[2018-05-16 17:37] nguerrera commented on #6936
The 15.6.2 binlog isn't finding any F# targets and the only instance of ValueTuple in "Find in Files" is in a tmp_proj where the ReferencePath to 4.4.0 got persisted. It's still unclear how 4.4.0 was chosen by 15.6.2. I suspect some things are missing from .binlog somehow or not rendering correctly in the viewer. cc @KirillOsenkov

[2018-05-16 17:37] nguerrera commented on #6936
Same thing in the 15.7 binlog. On my machine, I got a repro using 15.8 dogfood and a better binlog.

[2018-05-16 17:45] KevinRansom commented on #6936
Okay now I see it.

[2018-05-16 18:28] AArnott commented on #6938
This has come up for a few of my packages.

In some cases, the scenario is that I'm creating a specialized package that helps create a development environment for the consuming project (it usually includes build authoring). Part of that environment requires that the consumer also reference other packages that the build authoring offered by my package requires. But building my own package itself do

[2018-05-16 18:34] mishra14 commented on #6933
@generik0 thanks for responding. I am happy to track it here. But it is not clear what monoandroid5 is?
Is it a package? Do you have a link for it?

I looked at your csproj file and on restore, its assets file chooses the artifacts correctly. I packaged the csproj and its nuspec seemed fine as well.

Can you please give me exact repro steps that I can use to reproduce your problem?

[2018-05-16 18:35] jaredpar commented on #6936
Some updates. This repository has a Directory.Build.props file with the following entry:

[code]

This is done as a partial work around for #6367. If I change the file to be the following then the errors go away:

[code]

[2018-05-16 18:45] christianrondeau commented on #5975
We actually have the same requirement, and were greatly surprised to see there's no easy to find solution (and we searched pretty hard). Two scenarios:

1. Running `nunit3.console.exe` requires either installing `nunit`, copying it in the git repo directly, or hardcoding the "expected" NuGet path from the user folder. All three prevents two projects referencing different versions of `nunit` which

[2018-05-16 19:01] KirillOsenkov commented on #6936
@nguerrera if you feel like there's anything wrong with binlog or viewer, please ping me, attach .binlog and explain what's wrong. Thanks! Or file a bug at https://github.com/KirillOsenkov/MSBuildStructuredLog/issues

[2018-05-16 19:26] livarcocc opened #6939 "no basic auth header when using proxy v2.1.300-preview1-62608--07"
_From @mpluhar on May 16, 2018 1:12_

In the version v2.1.300-preview1-62608--07 a http_proxy environment variable with the format

http://user:pass@host:port

is not being picked up correctly. Only the host and port is actually being used when running a dotnet restore or dotnet build
I ran a tcpdump to confirm this.

Same set up works fine in v2.1.100

_Copied from original issue: dotnet/sdk#2248

[2018-05-16 19:26] livarcocc commented on #6939
I am sorry, I don't quite follow what you mean by this. Can you give us more details? What are you trying to do here? Is this for a restore feed?

[2018-05-16 19:26] livarcocc commented on #6939
_From @mpluhar on May 16, 2018 19:19_

Sorry, I was a bit busy yesterday and I thought I get the request logged.

Here is some more detail:
I  am using an vsts-agent docker image with .NET Core SDK 2.1.101 (runtime 2.0.6) for building .net Core projects. When executing a 'dotnet build' we restore the dependencies for the project (one feed pointing to api.nuget.org). We have to use an HTTP proxy wi

[2018-05-16 19:26] livarcocc commented on #6939
Got it. Thanks for the extra details. Given that restore is the piece that should be using the headers with the proxy, I am going to move this issue to NuGet.

[2018-05-16 20:11] PatoBeltran commented on #3119
@rohit21agrawal by any chance do you remember which hidden UIElements narrator was narrating or how to repro this in order to work on a fix?

[2018-05-16 20:25] generik0 commented on #6933
@mishra14
When using VS2017 with Android xamarin, the framework is monoandroid for nuget packages.
Older android xamarin use a framework android 5 I the csproj. This resolves packages as monoandroid50 in the packages.config

Monoandroid5.0 supports importing net40 libs from nuget.
But if a package is multi target (as the csproj I added) then nuget tries to resolve the netstandard20 dependency.
It

[2018-05-16 20:44] generik0 commented on #6933
I would expect that packages med using the new vs2017 .net stanard with target framework inkluding net40, that the net40 versions and dependancies should be installed as:

![image](https://user-images.githubusercontent.com/2411563/40143043-9e00ee0c-595a-11e8-9a5c-2b0195a8b373.png)

It appears that the packages defaly to the net40 libs from the nuget package, but the dependancies resolve as netstan

[2018-05-16 21:57] PatoBeltran commented on #6454
@mishra14 was this solve as part of your current work with verification warnings on VS? Should this issue be closed?

[2018-05-16 22:18] PatoBeltran opened #6940 "Implement HSTS support for communication with servers"
Opening this issue after a suggestion from @blowdart to add support for HSTS in our clients to improve security when communicating with servers.

[2018-05-16 22:25] #4502 closed, assigned to nobody

[2018-05-16 22:27] ericstj opened #6941 "NuGet doesn't error when packaging nuspec with duplicate files."
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
nuget.exe

NuGet version (x.x.x.xxx):
4.6.2.5055

## Detailed repro steps so we can see the same problem

1.  Download and unzip
[badPackage.zip](https://github.com/NuGet/Home/files/2011028/badPackage.zip)

2. Run nuget pack on the nuspec inside.

**Expect:** failure due to duplicate files
**Ac

[2018-05-16 22:55] mishra14 commented on #6941
cc @rohit21agrawal

[2018-05-16 23:09] loic-sharma opened #6942 "NuGet verify command could have better default"
If you run `nuget verify x.nupkg` you get the error message:

It would be convenient if the NuGet verify command defaulted to the `-All` type

[2018-05-17 00:41] jaredpar commented on #6936
Update: the work around I described in my earlier comment about excluding assets from System.ValueTuple is not universally effective. It fails in [AppVeyor runs](https://ci.appveyor.com/project/jaredpar/vsvim/build/1.0.756).

[code]

The exact [same SHA](https://github.com/jaredpar/VsVim/commit/11593e5e141894e42c74b4477a602ea632d4113b) works just fine on my local machine. Verifief that AppVeyor an

[2018-05-17 01:01] nguerrera commented on #6936
Appveyor.yml and log output looks like it's using nuget.exe (and not msbuild /t:restore). What version?

Some of the behavior differences here look like they depend on whether that CollectPackageReferences target in F# ran or not. And I think at one point command line restores didn't run CollectPackageReferences.

[2018-05-17 01:15] jaredpar commented on #6936
Just noticed that as well. I can't figure out what version. Trying to move it to use msbuild based restore.

Whatever version though it has the bug outlined in  #6367.

[2018-05-17 01:34] jaredpar commented on #6936
Looks like the NuGet version is  4.3.0.4406 on AppVeyor. I'm going to ask them to push to a new version.

[2018-05-17 03:56] michaeljohnstone commented on #6523
Thanks for posting this issue. I had exactly this problem where Nuget was "writing" to C:\Windows\SysWOW64\config\systemprofile\AppData\Roaming\NuGet\NuGet.config, but this was getting redirected by Windows. Took me hour to figure out what was going on.

[2018-05-17 06:56] maartenba commented on #6940
Have discussed this with @blowdart in the past and he thought this was not something the NuGet client should be doing? Anyway, I love the idea!

[2018-05-17 11:35] blowdart commented on #6940
What, I'm not allowed to change my mind? To set expectations here it'd just be the header, there would be no consideration of the preload list.

[2018-05-17 13:06] tegaaa commented on #6918
I had the same issue and installing .net 4.7.2 solved it.  I concur.

[2018-05-17 13:55] maartenba commented on #6940
Makes sense. And I am really happy you changed your mind, thanks for that :-)

[2018-05-17 15:27] jaredpar commented on #6367
@jainaashish the description in the linked [AppVeyor bug](https://github.com/appveyor/ci/issues/2343) has another repro of this issue. Copied here for simplicity:

- Clone https://github.com/jaredpar/VsVim
- `git reset --hard 7f3a6fd0cf5aa4e79cf2b6d8f1e03ac3f2c66d50`
- `nuget restore VsVim.sln`
- `msbuild /v:m /m VsVim.sln`

When using NuGet 4.3.0 you will hit this bug. I'm not sure on which other

[2018-05-17 16:54] GeertvanHorrik opened #6943 "How to package a multitargeting, manually signed library"
Originally posted at https://github.com/dotnet/cli/issues/9303, "they" recommended me to post the issue here.

## Steps to reproduce

1. Clone https://github.com/wildgums/orc.commandline
2. Open a terminal in the root
3. .\build.ps1 -target package

## Expected behavior

A successfully packaged library. The magic happens in `/deployment/cake/tasks.cake` (Package task). Before I used Visual Studio

[2018-05-17 16:54] GeertvanHorrik commented on #6943
I built a workaround checking for uap10.0. In that case I will use Visual Studio pack (I thought it was using 'dotnet pack' under the hood).

[2018-05-17 17:52] rido-min opened #6944 ""Package Integrity check failed." should have package ID in message (and error code)"
When VS tries to install a package with an invalid signature, it reports the next error in the ErrorList

![image](https://user-images.githubusercontent.com/14916339/40194592-d896240a-59bf-11e8-94c0-63eb7c85641d.png)

The error should include:

- PackageID
- Error Code NU3008 with a link to the docs
- Affected Project

[2018-05-17 17:54] rido-min opened #6945 "Package Integrity check performed (and reported) twice"
When installing a tampered package, the error list, and the output window, report the error twice:

![image](https://user-images.githubusercontent.com/14916339/40194592-d896240a-59bf-11e8-94c0-63eb7c85641d.png)

[code]

[2018-05-17 18:17] #6893 closed, assigned to nobody

[2018-05-17 18:26] jainaashish commented on #6367
@jaredpar I'm lil confused as where this bug exactly repro's? so let me summarize what I understood and correct me if I'm wrong:
1. MSBuild /t:restore - always works fine.
2. NuGet.exe restore - 4.3.0 has some issues but latest version is working fine.
3. VS - Initial restore works fine, but some intermittent issues with subsequent build restores.

So, I'll look into this VS specific issue and see

[2018-05-17 19:11] The-Futurist opened #6946 "NuGet install error message - NuGet does not indicate which frameworks a package targets"
Sory to use that term but once again Nuget's messed up design hits me in Visual Studio (2017).

Why o why o why doesn't Nuget tell me WHAT VERSION OF .NET IS REQUIRED when it refuses to install a package becuase the package is not compatible with the project's current target framework?

Here's what I see:

`Could not install package 'RestSharp 106.2.2'. You are trying to install this package into

[2018-05-17 22:14] jainaashish commented on #6367
@jaredpar I saw the issue with `NuGet.exe 4.3.0` but couldn't repro with latest version so assuming it was fixed some where post 4.3.0.

But I'm still not able to repro it even once in VS with 15.7 release so can you please share the detailed logs when you see this issue and clear repro steps to repro inside VS?

[2018-05-18 00:12] mishra14 commented on #6454
Should be solved in VS 15.8 P2 [27715.0] as part of https://github.com/NuGet/NuGet.Client/commit/e95a67ded682c5727ec3a2ff138cf748251006ce

[2018-05-18 00:13] #6454 closed, assigned to nobody

[2018-05-18 00:35] RussKie commented on #5602
I'll throw another angle in this discussion.

One of my clients is a financial institution and due to legislative requirements they must have repeatable builds at any given point of time.
With packages.config it was achieved by committing packages into repository, however the new model employed by .NetCore that uses a shared cache has become a significant issue for those guys...

[2018-05-18 00:55] RussKie commented on #5963
Some guidance would be greatly appreciated
We are migrating a large SDK-style solution which is heavily dependent on install.ps1.

[2018-05-18 02:01] RussKie commented on #4318
Well, you have broken everyone who has used/relied on PS scripts during Nuget installation.
What is the alternative? How do we migrate?

[2018-05-18 03:15] RussKie commented on #6330
It has been 8 month since you were going to create guidelines, still nothing...

We are migrating a large SDK-style solution which is heavily dependent on install.ps1. Because netstandards and .netcore projects use exclusively PackageReference we are essentially blocked...

[2018-05-18 03:37] augustoproiete commented on #6330
Same here. Really looking forward to having a supported alternative to `install.ps1` guys!

[2018-05-18 04:06] RussKie commented on #4942
So all packages relying on install.ps1 are broken "by design" (to name a few: #3656, #4318, #4876, #6330) with no meaningful way to upgrade... Upgrade/migration guidelines (#5963) have never arrived either.

We are essentially put in a situation where there is no way forward, and the Nuget team is taking a stance "it is not supported, sucks to be you". That's just not good enough.

[2018-05-18 04:36] RussKie commented on #3656
No, it is absolutely not fine. There are lot of packages out there that depend on install.ps1.

Could you please point me to where the customers have been asked to do so. And I would really appreciate it if yo could point me to the docs clearly explaining how to migrate install.ps1 to MSBuild targets.
Particularly I am interested in how MSBuild targets support install-time events, because that is

[2018-05-18 05:32] imben1109 opened #6947 "dotnet core failed t add package below proxy"
## Details about Problem

NuGet product used ( dotnet.exe):

NuGet version (2.1.4):

dotnet.exe --version (2.1.4):

## Detailed repro steps so we can see the same problem

1. dotnet add package Newtonsoft.Json

error: Unable to load the service index for source https://api.nuget.org/v3/index.json.
error:   Response status code does not indicate success: 407 (Proxy Authentication Required).

[2018-05-18 05:49] imben1109 commented on #6947
Sorry. I fixed the issue myself as I found a way to add configuration of proxy info.
I added **NuGet.Config** to **~/.config/NuGet**

[code]

[2018-05-18 09:03] ErlendLandro commented on #6138
I had some trouble with this when running `dotnet pack` on Linux. The files ended up in the right place in the package though. The solution was to use forward-slashes instead of back-slashes.

[2018-05-18 14:43] nicolas-garcia commented on #6855
I confirm it works with JetBrains Rider. Unfortunately, it's not a solution for me because Rider do not support Xamarin.Forms yet 😄
Thank you though for pointing out the fact it works with Rider!

[2018-05-18 14:47] t-smirnov commented on #6855
@nicolas-garcia )) we solved that, just up standalone nuget server and all is ok

[2018-05-18 15:52] jaredpar commented on #6367
I see the same. I think this is the repro to focus on. It happens every time and it is the original repro that I was seeing.

I'm unable to reproduce it in the IDE due to #6936. That blocks IDE work on the setup where the bug occurs.

[2018-05-18 17:17] dtivel opened #6948 "Test.Utility publishing stopped"
As of 4.8.x, the Test.Utility package is no longer published to MyGet.  The NuGet server team uses this for testing.

The change occurred on or around April 12th.  The first build to not drop the Test.Utility package was for [this commit](https://github.com/NuGet/NuGet.Client/commit/5aaced85e5f9f150dc32faa6b45640803f22a23e).

[2018-05-18 17:46] jeffkl opened #6949 "Enable opt-in "GeneratePathProperty" metadata on a PackageReference to generate a per package MSBuild property to "Foo.Bar\1.0\" directory"
# Problem Statement
Some packages' layout does not conform to the best practices.  Consumers of these packages can _guess_ the path with something like this:

[code]

The `Foo` package only has a tool folder with an EXE that I want to execute but the package author did not include any `build\Foo.props` that sets a property to the path of the package.  So I have to derive the path based on the vers

[2018-05-18 17:47] jeffkl commented on #6949
FYI @andygerlicher @kingerja

[2018-05-18 17:53] AndyGerlicher commented on #6949
I think this is a really good compromise. We're seeing bigger repos try to migrate to PackageReference internally and it's causing _a lot_ of pain for little things like this, especially when a package hasn't been updated in years and the owner has no interest in conforming. I'd heard the proposal of making every package have a property available, but I think that could lead to worse behavior by d

[2018-05-18 18:01] Salgat commented on #4808
Same issue as @Drasius2, which makes this a pain as we're migrating part of our projects over.

[2018-05-18 18:44] mishra14 commented on #6945
This happens if the compat is checked  for multiple RIDs. We should improve this experience.

[2018-05-18 18:46] mishra14 commented on #6943
cc: @rohit21agrawal

[2018-05-18 18:47] mishra14 commented on #6947
@imben1109 thanks for letting us know that you have resolved your problem! :)

[2018-05-18 18:47] #6947 closed, assigned to nobody

[2018-05-18 18:48] mishra14 commented on #6948
@nkolev92 can you please take a look to see if this was caused by the commit above?

[2018-05-18 19:01] jainaashish commented on #6367
`I see the same. I think this is the repro to focus on. It happens every time and it is the original repro that I was seeing.`

I don't think this is the repro to focus on, since this doesn't repro with latest `nuget.exe` and in most cases, it's the same code which runs across VS or NuGet.exe. So I'd imagine this will just work fine with VS as well even after #6936. So once that issue is resolved,

[2018-05-18 19:02] rrelyea commented on #6949
There is something like this that NuGet already does. But only in some cases.
Let's remember that, and understand if we should continue to enhance that existing feature … first.
I believe that may solve the same problem.
(cannot recall right now...but can dig into this soon...)

[2018-05-18 20:59] jdbrock commented on #6468
Still seeing this in VS 15.7.1 while updating multiple projects to Xamarin Forms 3.0 (not that the package should matter) with ignore dependencies switched on.

[2018-05-18 21:00] emgarten commented on #6946
Dupe of https://github.com/NuGet/Home/issues/4874

[2018-05-18 21:55] shanselman commented on #5762
I so very much want this. It's the NuGet spiritual "npm check"

[2018-05-18 22:10] anangaur commented on #5762
This feature can tied with the deprecation feature: https://github.com/NuGet/Home/issues/2867 i.e. the same command should be able to flag the deprecated feature along with the reason why a particular package in use is deprecated - `obsolete` | `vulnerable` | `inactive` etc.

[2018-05-19 00:19] safern opened #6950 "NuGet.Client repo fails to build when building source-build for Windows"
When building [source-build](https://github.com/dotnet/source-build) nuget-client repo fails with following error:

[code]

Steps to repro:

1. Clone [source-build repo](https://github.com/dotnet/source-build)
2. Checkout release/2.1 branch
3. Run: `build.cmd /p:RootRepo=nuget-client`

Build will fail, and if you open `nuget-client.log` file you can see the error.

cc: @mishra14 @weshaggard

[2018-05-19 05:54] jainaashish commented on #3656
I know there are packages out there with install.ps1 but the point is to restrict customers creating new packages which is why I feel it's fine to not have proper documentation around it.

There are valid security concerns with these scripts and even NuGet can't control most of these scripts behavior which is why they aren't even supported wih `PackageReference` based projects or new SDK styled pr

[2018-05-19 06:00] jainaashish commented on #6330
@RussKie @caioproiete can you guys please share specific details about the requirement of `install.ps1` with your packages? If you guys can't share details in public then drop me an email at asja @ Microsoft .com with all the details or possibly a sample solution to depict what were you trying to achieve with these scripts.

[2018-05-19 06:49] augustoproiete commented on #6330
Hey @jainaashish here are some examples:

### Configuration templates

* I need to add files to the user's project when installing a nuget package. These files are "template files" containing configuration settings (i.e. a starter template), which **the user is expected to make changes to it / adapt**. `PackageReference` dropped support for `content` and [introduced `contentFiles` that are immutab

[2018-05-19 12:09] StingyJack commented on #3656
@jainaashish  - I can understand the security considerations for a public repo like nuget.org, but why should using an install.ps1 from a package served by a private repository be forbidden?  The person who wrote the ps1 is well within nerf weapon range should they do anything evil with a script.

[2018-05-19 16:04] jaredpar commented on #6367
This bug investigation keeps getting delayed. The repro I've provided now both:

1. Reproduces 100% of the time
1. Eliminates targets changes to C# / F# from being part of the problem

Not sure why this would be delayed at this point. There is a clear behavior change from 4.3.0 to 4.6.0 that has no explanation. If the decision is to delay now I'm unsure when there would ever be a good time to look

[2018-05-19 16:04] augustoproiete commented on #6330
@jainaashish One more scenario I've just remembered:

### Changing project settings via DTS upon installation of NuGet package

* I'm providing to users a framework that allows them to develop Add-Ins for Excel. That means that when they debug the add-in, Visual Studio must run EXCEL.exe and attach to it, so that I can debug.

This means that I need to update properties in the `.csproj.user` file

[2018-05-19 17:45] 0x241F31 commented on #2714
+1. :disappointed:

[2018-05-20 00:25] Sellec opened #6951 "How can i set empty dependencies for package generating by Visual Studio for NetStandard project?"
Im using VS 2017.
My project uses some depencency packages but my dll generates using Costura.Fody (attaching referenced assemblies as resources into generated dll file) and need to have only one output dll.
If im enabling nuget package generation by Visual Studio, all works fine, but generated package have a list of dependencies.
Is there any way to set empty dependencies list without using Nuspe

[2018-05-21 00:28] RussKie commented on #6330
I am part of a team developing a Enterprise RAD framework (in many ways it is similar to .NET SDK).
Our SDK consists of numerous packages, and whenever a developer installs or updates a package in their project, the package must make necessary changes to project's files, such as:
* apply XDT or XSLT transformations to a web.config files (including Debug and Release), and/or
* create or modify conf

[2018-05-21 00:30] RussKie commented on #3656
@jainaashish examples are provided in:
* https://github.com/NuGet/Home/issues/6330#issuecomment-390384421
* https://github.com/NuGet/Home/issues/6330#issuecomment-390414617
* https://github.com/NuGet/Home/issues/6330#issuecomment-390524895

Thank you

[2018-05-21 02:06] mwpowellhtx commented on #4887
I got the same error just now. What's the solution? What's the workaround? Besides the obvious, of course; i.e. include ``PackageLicenseUrl`` referencing whatever *Apache*, *GPL*, *LGPL*, etc, license file in my repository.

[2018-05-21 08:07] v-luzh commented on #4502
Fixed on D15.8 27719.00 + NuGet Client Dev 4.8.0.5215.

[2018-05-21 08:07] v-luzh commented on #4504
Fixed on D15.8 27719.00 + NuGet Client Dev 4.8.0.5215.

[2018-05-21 12:05] karthikanandan opened #6952 "Get 500 internal server error from internal local feed when select package source to all"
Hi Team,

We are configured our own NuGet feed for our company using NuGet Server Assembly.

**Issue**: (which is only occurred in **Visual Studio 2017**):

We have configured three feedlink

Link 1 (Internal local Feed url) : \\sfil01\data\NuGetFeed

Link 2 (nuget.org url) : https://api.nuget.org/v3/index.json

Link  3 (Public Feed url) : http://testdoamin.com/nuget_aspnet/nuget/getpackages/aspne

[2018-05-21 17:29] nkolev92 commented on #6754
I agree with this, it's just that other design decisions such as Dev dependency itself kind of limit/kill some of the options.
It'd be a significant undertaking, which we'd need to prioritize first.
// cc @rrelyea

[2018-05-21 17:36] nkolev92 commented on #6934
Currently by design.
Relevant [docs](https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets).
Related work item tracking a potential change, although I am not too hopeful that it'll change.

https://github.com/NuGet/Home/issues/6091

[2018-05-21 17:37] #6934 closed, assigned to nobody

[2018-05-21 18:30] mishra14 opened #6953 "Analyze restore failure data points"
The data points added as part of https://github.com/NuGet/NuGet.Client/pull/2169 and https://github.com/NuGet/Home/issues/6814 should be analyzed.

[2018-05-21 18:45] mishra14 opened #6954 "Analyze signing data points"
Analyze the signing related data points to the work done in https://github.com/NuGet/NuGet.Client/pull/1977

[2018-05-21 18:49] jainaashish commented on #6882
Completed. Resolved 13 bugs.

[2018-05-21 18:49] #6882 closed, assigned to jainaashish

[2018-05-21 18:51] jainaashish commented on #6879
Completed.

We did initial investigation and presented a plan, will follow up on that plan to make more progress.

[2018-05-21 18:51] #6879 closed, assigned to jainaashish

[2018-05-21 18:52] jainaashish commented on #6528
Wasn't able to get to this because of other commitments. Moving it to Sprint136

[2018-05-21 18:54] jainaashish opened #6955 "Bug jail for 15.8"
Fixing important bugs for 15.8

[2018-05-21 18:55] nkolev92 opened #6956 "Understand the additional scenarios with the new plugin"
Part of https://github.com/NuGet/Home/issues/6923.

The goal here is to understand if there are any additional scenarios that the current plugin architecture does not support.

An example of such scenario is the proxy https://github.com/NuGet/Home/issues/6923, which was discussed in earlier meeting.

Some items that need addressed
- Log message when the plugin is not interactive and the creds cann

[2018-05-21 18:55] rohit21agrawal opened #6957 "do cli side work for msbuild sdk resolver"

[2018-05-21 18:56] rohit21agrawal opened #6958 "fix migrator option to be displayed for all projects and show error if project is incompatible"

[2018-05-21 18:58] mishra14 opened #6959 "Restore is reporting misleading errors stating project.json is needed"
restore is reporting errors containing project.json runtime section which is misleading and should not be displayed for PR projects-

[code]

[2018-05-21 18:59] jainaashish opened #6960 "Restore perf for really bad solutions"
Through our current KPIs, we've identified some really bad solutions wrt restore performance. So we'll dig further into those solutions to improve overall restore perf.

[2018-05-21 19:13] nkolev92 commented on #4463
@davkean
I'm not sure if that's the only "blocker", but fixing that would certainly go a long way.
//cc @rrelyea

[2018-05-21 19:13] PatoBeltran opened #6961 "Signing: Enable ClientPolicies to require use of a set of Trusted Authors and Repos listed in NuGet.Config"
This issue is to track implementation of the feature designed in https://github.com/NuGet/Home/wiki/%5BSpec%5D-NuGet-Config-schema-changes-to-enable-trusted-signers

This is a first step feature to add support for client policies. This issue is tracking the following work:
* [x] Read and parse correctly trusted signers from nuget.config
* [x] Pass down settings from nuget.config to verification AP

[2018-05-21 19:18] zhili1208 commented on #6952
Did you try to install PSolve.PropertyChanged.Fody 1.5.2.0 from internal local feed url?

[2018-05-21 19:19] zhili1208 opened #6962 "Bug jail for 15.8"
fix 15.8 bugs

[2018-05-21 19:35] zhili1208 commented on #6897
Could you explain more about what you want to do? Does the each package bin folder contain a exe which you want to run during your build? Or there is only one exe you want to run, all other packages contain dependency dll?

[2018-05-21 19:55] DavidHaitch opened #6963 "Nuget Update fails when using package.[ProjectName].config"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): `Nuget.exe`

NuGet version (x.x.x.xxx): `4.6.2.5055`

OS version (i.e. win10 v1607 (14393.321)): `Win10  v1703 (15063.1088)`

Worked before? If so, with which NuGet version: `Unknown if worked before.`

## Detailed repro steps so we can see the same problem

1. run Nuget.exe on a packages file

[2018-05-21 19:58] zosrothko commented on #6897
I am building an application (an app.exe) that is using a Nuget package P1 delivered as a bin/p1.dll that is using itself another nuget package P2 as bin/p2.dll. Thus for running my app.exe I need to put the P2/bin and P1/bin on the PATH. Thus it is your second case "Or there is only one exe you want to run, all other packages contain dependency dll?"

More generally, imagine that the transitive d

[2018-05-21 19:59] DavidHaitch commented on #6963
I believe this is down to ``GetPackagesConfigPath(string path)`` in ``UpdateCommand.cs``.
It checks if the path ends with ``Constants.PackageReferenceFile``, which is set to ``"packages.config"``, and returns null if it doesn't.
Other Nuget tasks work with package files named "packages.PROJECTNAME.config", so I believe this behavior is a bug.

[2018-05-21 20:43] zhili1208 commented on #6897
I want to understand how you run your app.exe, after build your exe, you can copy all dependency dlls to one folder with your exe. Why you need to add all bin folders to PATH?

[2018-05-21 21:15] svisagie commented on #737
Still happening in VS 2018 versio 15.6.7 with NuGet 4.6.2.5055

Example solution has been added by me on https://developercommunity.visualstudio.com/content/problem/40958/update-package-reinstall-forces-all-packages-to-re.html

[2018-05-21 21:50] zosrothko commented on #6897
because **I do not want to copy all dependency dlls to one folder.**. **I do not know and do not want to know which package is/are delivered as dll or lib.** This is uneccessary and wastefull. Moreover, it is error prone and make errors difficult to trap if one or more dlls are updated and one forgets to copy. Thus an automatic tool as Nuget should do the job as it already download the dependency

[2018-05-21 22:16] rainersigwald commented on #6918
This should be resolved with MSBuild 15.7.179, delivered in [Visual Studio 2017 15.7.2](https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes#top-issues-fixed-in-1572).

[2018-05-21 22:44] niwrA commented on #3891
Surprised (and disappointed) that this is sitll open ... can we do anything to help?

[2018-05-21 22:51] nkolev92 commented on #6762
Closed in https://github.com/NuGet/NuGet.Client/pull/2223

[2018-05-21 22:51] #6762 closed, assigned to nkolev92

[2018-05-21 23:13] nkolev92 commented on #6897
@zosrothko
This is not supported.
NuGet does not participate in your runtime, but only in your build.

If you want to have an executable in a package it should be self-contained.

[2018-05-22 00:56] nkolev92 commented on #6948
Yeah, that's when it started happening.
The root cause is that the props from xunit set a property which made the project unpackable.

We need to add that manually.

The PR is out.

[2018-05-22 02:08] devovercome opened #6964 "Why nuget restore generates Nuget folder under CI?"
Hi!
I have a private git-server, which has post-receive hook.
This hook simply invokes kinda build.cmd
Which calls nuget restore inside solution folder:
[code]

Somehow, under this CI routine, I am getting the **.nuget and NuGet folders**, so solution wont build.
Please, note that **it works as expected when** I call build.cmd directly (double-click), I am getting the packages folder, and solution

[2018-05-22 05:29] ghost commented on #1739
Is sorting still not supported?  I would like to sort descending by number of downloads.

[2018-05-22 08:37] karthikanandan commented on #6952
Hi Zhili,

Thanks for your quick response.

yes, whenever I select all from package source, and tried to install any of the internal package feeds, we returned 500 internal server.

Can you please provide the solution for that?

Thanks in advance.

[2018-05-22 11:15] fenngineering commented on #545
Any update on this issue?

[2018-05-22 15:04] tmds commented on #6848
When referencing https://github.com/dotnet/designs/pull/36 I thought everything was fixed with a custom solution. However that design is also missing the ability to figure out the latest patch version:

New templates for ASP.NET Core 2.1 don't include a version number for the package, and have a similar limited awareness of the patch version.
[code]

[2018-05-22 15:10] Rzpeg commented on #5979
@rohit21agrawal
I have a solution with 2 projects (net461), let's say LibA (assembly version 2.0.0) and LibB (assembly version 1.5.0). LibA depends on LibB and on Newtonsoft.Json10.0.0.nupkg. In the end, I need 2 nuget packages, 1 for each project, with the same versioning. LibA2.0.0.nupkg and LibB1.5.0.nupkg, where LibA2.0.0.nupkg depends on LibB1.5.0.nupkg and on Newtonsoft.Json10.0.0.nupkg.

Wi

[2018-05-22 15:31] lywyn commented on #6468
Latest VS 2017, new project, trying to install Xamarin.Forms;

[code]

[2018-05-22 18:22] bryceamacker commented on #5805
Our TFS builds were getting demolished by this slowness (we're restoring 160+ projects distributed across 12 different solutions in some situations).  This work around reduced our restore time by about 10x:
1) We refactored all references to point to a 'global' package install directory (global in reference to our repo root).
2) Create a python script to scrape all package.config files in the repo

[2018-05-22 20:16] #6354 closed, assigned to rohit21agrawal

[2018-05-22 20:28] rohit21agrawal commented on #5979
@Rzpeg Can you try the following:

1) Restore the sln or both the projects using msbuild /t:restore or nuget.exe restore.
2) Look in the project.assets.json file on LibA (under the obj folder) under the targets section for LibB/<version> .

If the version listed in 2) above is 1.5.0 instead of 2.0.0, it's because msbuild /t:pack is also causing a rebuild/restore and passing in 2.0.0 as a version f

[2018-05-22 20:34] kzu commented on #6468
It's in 15.7.2 which just shipped.

Thanks

[2018-05-22 21:47] zhili1208 commented on #6964
Could you share the error message you got during building solution? nuget will create .nuget folder as a global package cache, but it should not break solution build.

[2018-05-22 22:18] #6736 closed, assigned to nkolev92

[2018-05-22 22:39] jafin commented on #3110
Similar Find-Package does not return download count.

``
Find-Package dapper -First 100 | Select-Object ID, Version, DownloadCount, Description | Sort-Object -Descending -Property DownloadCount
``

[2018-05-22 23:02] nathansoz opened #6965 "New nuget lock files should include information about dependencies"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet.exe

NuGet version (x.x.x.xxx):
All

dotnet.exe --version (if appropriate):
N/A

VS version (if appropriate):
N/A

OS version (i.e. win10 v1607 (14393.321)):
N/A

Worked before? If so, with which NuGet version:
N/A

## Feature Suggestion

The new spec for nuget lock files should include d

[2018-05-22 23:20] anangaur commented on #6965
Related lock file issue: https://github.com/nuget/home/issues/5602

[2018-05-23 05:00] devovercome commented on #6964
@zhili1208 Thank you for reply!

It doesnt break.
Build is broken since CI-based build doesn't generate _packages_ folder.

I believe I've seen some log output (like GET nuget entries) and there was errors. But couldn't take a closer look, because of a lot work to do, so I just prefer make manual build anytime package added.

Hang on for further investigation.

[2018-05-23 08:28] lywyn commented on #6468
@kzu Updated VS and both projects now updated via nuget with no issues or rollback. Thanks

[2018-05-23 09:26] bigken commented on #5159
I resolved **my** problem,it's because there is some useless file including in myaws lambda project,
after i delete them it works well. but the error message make me confused,it's the project's problem,not the nuget's problem.

---

.NET Command Line Tools (2.1.200)

Product Information:
 Version:            2.1.200
 Commit SHA-1 hash:  2edba8d7f1

Runtime Environment:
 OS Name:     ubuntu
 OS Ver

[2018-05-23 10:41] Apollo3zehn opened #6966 "Question: Is it allowed to specify more than one PackageType ("dependency" + user defined) for search filtering purposes?"
My applications allows to install extensions that are hosted in a NuGet repository. Because this repository contains not only extensions for my application, but also completely different ones (which is the case for e.g. NuGet.org), I would like to specify a second PackageType to filter the [PackageSearchResource](https://github.com/NuGet/NuGet.Client/blob/4eed67e7e159796ae486d2cca406b283e23b6ac8/s

[2018-05-23 13:16] hbulens commented on #6918
I experience the same problem but only on VSTS. I seem to be the only having this issue.  Could there be anything I can do to fix this?

[2018-05-23 13:19] kzu commented on #6468
Thanks a lot @lywyn for validating!

[2018-05-23 17:09] schellem opened #6967 "Attempting to migrate from packages.config and there is no 'Migrate packages.config to PackageReference...' menu item"
Following directions from [here](https://docs.microsoft.com/en-us/nuget/reference/migrate-packages-config-to-package-reference)  to migrate from packages.config

VS UI

NuGet version (x.x.x.xxx): 4.6.1.5019

VS version (if appropriate): 2017 15.6.4

OS version (i.e. win10 v1607 (14393.321)): Win 10

1. Right click references and there is no 'Migrate packages.config to PackageReference...' menu ite

[2018-05-23 19:07] nkolev92 commented on #6963
@DavidHaitch
We'd be happy to take a PR for this.

[2018-05-23 19:08] nkolev92 commented on #6951
I believe this is a duplicate of https://github.com/NuGet/Home/issues/6354.

This was fixed in https://github.com/NuGet/NuGet.Client/pull/2237, and will ship in 4.8.

[2018-05-23 19:08] #6951 closed, assigned to nobody

[2018-05-23 19:09] mishra14 commented on #6967
@rohit21agrawal @jainaashish Do we have filtering on which projects get the option?

[2018-05-23 19:11] rohit21agrawal commented on #6967
This is a known issue and documented here: https://docs.microsoft.com/en-us/nuget/release-notes/nuget-4.7-rtm

Try opening the Package Manager Console or Package Manager UI first, and then try again.

It might also be that the project you are trying to migrate is not supported (for eg. - asp.net, c++, sfproj)

[2018-05-23 19:16] dasMulli commented on #6967
@schellem does it appear if you update your visual studio to a recent version? (15.7.2)

[2018-05-23 19:18] rohit21agrawal commented on #6967
@dasMulli thanks for pointing that out. This feature was released as part of 15.7, so won't be available in 15.6.4

[2018-05-23 19:25] nkolev92 commented on #6704
The leftover work is to determine the exact location for the internal plugins.

[2018-05-23 19:31] schellem commented on #6967
Yes, I see the VS version I am using does not have this feature. All I saw(read) was this was for VS 2017 PREVIEW, to me when I see VS 2017 PREVIEW it means not yet released. I think using PREVIEW in a released product name is very misleading.

[2018-05-23 19:39] dasMulli commented on #6967
Created a PR to remove the `preview`: https://github.com/NuGet/docs.microsoft.com-nuget/pull/894

@schellem I see how this is confusing..
The way it currently works is: Visual Studio 2017 has multiple "channels" where you can get updates from.

Users can install a preview version of Visual Studio 2017 that gives them newer preview bits. Right now, 15.7.2 is the released Visual Studio 2017 version

[2018-05-23 20:17] ericdunn commented on #912
Adding my +1 to this. We need this in a CI scenario where I'd also like it to always pick the latest version, pre-release or not. In my case (without going in to too much details), I'd like to set this up in such a way that the same csproj is used in both dev, and then a master branch where it would pick up the latest production version. Every dev build after that would be a new minor version off

[2018-05-23 20:50] anangaur commented on #5602
@RussKie How is the centralized cache a problem? Why do you need to commit packages into a repository? That should be NuGet's job to bring in the same packages every time you restore irrespective of when and where you restore the packages.

[2018-05-24 00:19] RussKie commented on #5602
In enterprise a lot of systems are either behind proxies or do not have access to internet at all.
A developer adds a Nuget package to a project on a local machine. A build server does not have a connection to internet and thus unable to restore a package. Epic fail.

Another developer with a different level of internet access clones a project to his/her workstation. Due to proxy permissions the d

[2018-05-24 03:55] sansjunk commented on #6440
Any updates on this? I am looking for this feature as well.

[2018-05-24 04:59] david-m-forster commented on #6330
To add to @RussKie 's comments (I work with him),

We originally used the nuget built-in xdt capability to transform web.*.config as well as custom xml files when a package was added. A given consumer may install one or many nuget packages depending on their business requirements. i.e different nuget packages enabled different related capabilities.  So each package may add/remove XML sections or u

[2018-05-24 06:31] igorushi commented on #912
+1

On Wed, May 23, 2018, 11:17 PM Eric Dunn <notifications@github.com> wrote:

[2018-05-24 08:26] Liero commented on #1818
@OliverRC: it does work, but there are some gotchas, see points 1. and 2. in my original comment

[2018-05-24 09:34] SimonSDA commented on #4528
This is still an issue. We are converting our monolithic solution to use a more microservices architecture using NuGet packages. When I switch git repositories back to the monolithic versions (which just had project references), the obj folders remain and it messes up Visual Studio until the obj folders are manually deleted.

[2018-05-24 11:50] cstichlberger commented on #5651
Same problem here.

If this helps, I also have this (or a similar) problem on Windows, so I've tried to track it down with Fiddler, here's what I've seen:

The initial request for the feed is performed without authentication. The server then responds with 401 Unauthorized, and provides some authentication methods:

`WWW-Authenticate: Bearer
WWW-Authenticate: Basic realm="https://tfs.ourcompany.com

[2018-05-24 14:43] Ramon-Balaguer commented on #3324
And fix for Windows 2012?

[2018-05-24 14:46] PeterMurdoch commented on #3324
@Ramon-Balaguer Why wouldn't the fix for Windows 2012 be to upgrade to Windows 2016?

[2018-05-24 14:48] Ramon-Balaguer commented on #3324
@PeterMurdoch In the company that I work we have some problems with the Windows 2016 licenses

[2018-05-24 15:43] AndreyAkinshin commented on #3324
@rrelyea

Why do you think that these workarounds are very fragile? We use it for years without any problems.
It's great that you are going to support long paths for new versions of Windows, but what about users with old versions of Windows (e.g. Windows 7) and old versions of VS?

[2018-05-24 18:47] nkolev92 commented on #4528
@SimonSDA That doesn't sound like this issue.

What you're facing is likely https://github.com/dotnet/project-system/issues/3164

The current recommendation is that you delete the obj folder when you do these branch switches.
Git clean is probably the best option.

[2018-05-24 20:50] kevin-meyer commented on #912
+1

[2018-05-24 21:56] nkolev92 commented on #4676
redundant now.

[2018-05-24 21:56] #4676 closed, assigned to nobody

[2018-05-24 22:50] rohit21agrawal commented on #5963
@RussKie are you the authoring a package that uses install.ps1 or consuming a package that has install.ps1?

[2018-05-24 22:53] zhili1208 commented on #6966
this scenario is not supported, Could you split your package into two packages? one contains all the staff for extension, and another contains everything for dependency use. and let extension package depends on the dependency package.

[2018-05-24 23:39] RussKie commented on #5963
We are authoring packages that get consumed by downstream projects.

I propose we continue the discussion in #6330

[2018-05-25 00:41] krispenner commented on #5715
Would this not affect bundle package references like [Microsoft.AspNetCore.All](https://www.nuget.org/packages/Microsoft.AspNetCore.All/) where their intended purpose is to provide no code but just a bundle of packages so you don't need to go reference 100 other packages directly? You reference sub packages indirectly through the parent bundle package and this is intentional.
I'm not familiar with

[2018-05-25 00:53] StingyJack opened #6968 "VS PM UI does not honor ""
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2018-05-25 01:04] StingyJack opened #6969 "VS PM UI does not honor default of "packages.config""
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): VS 2017 15.7.2
VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)): Win 10 "Broken Start Menu" edition

Worked before? If so, with which NuGet version: VS 15.6 at least

## Detailed repro steps so we can see the same problem

1.  Created new

[2018-05-25 01:05] StingyJack commented on #6968
WTG Github! posting an issue I hadn't even finished writing the title of.

[2018-05-25 01:05] #6968 closed, assigned to nobody

[2018-05-25 01:12] krispenner commented on #6104
@diverdan92 I would like to see this in VS - is there a discussion with the VS team for this that you are aware of?

Currently, you cannot step-in to an async method built in release mode - some optimization prevents this, it just steps over it every time. Your suggestion would make this very easy when debugging referenced packages with async methods which is pretty common. See https://github.com/

[2018-05-25 01:29] StingyJack commented on #6723
So if I read this correctly the problem that I originally was discussing - where unit tests fail to be discovered due to an assembly reference issue, and do so **silently** - is not going to be fixed thanks to some (fairly deft) interdepartmental juggling.

[2018-05-25 06:33] asbjornu commented on #4687
As @jnm2, [I too wonder what `NoPackageAnalysis=true` actually does](https://twitter.com/asbjornu/status/999897973034180613). The [documentation](https://docs.microsoft.com/en-us/nuget/tools/cli-ref-pack) isn't very helpful:

What is "package analysis"? What other "features" besides emitting this warning are we turning off when package analysis is turned off?

I also think this "solution" is turni

[2018-05-25 07:38] Dabbel opened #6970 "Package restore fails on MacOS but works on Windows"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 4.6.2.5055

OS version (i.e. win10 v1607 (14393.321)):
MacOS: 10.12.6
Windows 10:  v1803 (17134.48)

### Verbose Logs
[Restore_OSX.log](https://github.com/NuGet/Home/files/2038396/Restore_OSX.log)
[Restore_Windows.log](https://github.com/NuGet/Home/files/20

[2018-05-25 08:13] fhelje opened #6971 "2 include referenced project dlls"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte