[2018-06-27 20:00] rrelyea commented on #7069
@xalikoutis - pack needs the project.assets.json file that is created by restore.

When you say --no-build, it is skipping the implicit restore.

Fix on your side should be:
1) do a restore with the same settings (set targetframeworks), before you call pack

Please let us know if that doesn't work for you...

/cc @mishra14

[2018-06-27 20:00] #7069 closed, assigned to nobody

[2018-06-27 20:03] benjamin-bader commented on #4102
Thanks, folks, I'll give it a try.  Glad to hear that nuget will support this natively.

[2018-06-27 20:52] Swimburger commented on #4872
I'm trying to use @raRaRa workaround to mount an empty folder. It looks like in his case the host is Windows but the container is Linux. My case is Windows to Windows container and it looks like nested volumes isn't supported on Windows containers.

[2018-06-27 21:08] ticktickMOF commented on #7060
we have a parallelized build process that builds ~300 projects in a non-persistent VM (no global nuget cache).  It takes a long time to run nuget restore on each project in serial before spawning the task executors and I was hoping that it might be faster to just allow msbuild to do the restore when each project is built by adding /restore to the command line.

[2018-06-27 22:05] mishra14 commented on #6604
@atsushieno Thats an issue on dotnet/cli. Can you please file an issue at https://github.com/dotnet/cli/issues?

[2018-06-27 23:23] eschneider999 commented on #7062
If I exit VS and reopen then project I can see the reference for Symbiotic_Micro_ORM_Net_Standard_x64.
**( I shouldn't need to re-open the project)**

_I can reference in code all the data provider libs, but not the NetStandard orm lib._

[ClassLibrary6.zip](https://github.com/NuGet/Home/files/2143227/ClassLibrary6.zip)

Restoring packages for C:\Users\eschneider\source\repos\ClassLibrary6\ClassLi

[2018-06-27 23:34] eschneider999 commented on #7062
as it stands now, I like the packages.config method. for a couple reasons.

I can see where the references go in the properties window.
And I can remove some of the references if I want. So in my example the intent was for the user to remove the data provider libs that they did not intend to use.

That said, it still does not add the netstandard lib and has no errors, but at least you can look at

[2018-06-27 23:42] eschneider999 commented on #7062
I think the problem is that Nuget doesn't know that my project (.Net 4.6.1) can reference a Net Standard lib, which it can. Maybe I should ad my ORM lib to both package folders? both net461 & netstandard2.0 ?

Is this documented someplace?

[2018-06-28 00:34] #7036 closed, assigned to nobody

[2018-06-28 01:58] #7045 closed, assigned to dtivel

[2018-06-28 09:25] bugproof opened #7072 "Use contentFiles with .NET core class library"
I want to copy some files to project that consumes my NuGet package (.NET Core class library). Because `.nuspec` is generated automatically based on `.csproj` properties I don't know how to add it.

Is this possible to auto copy files to consuming projects?

I also saw that this content will be immutable, is there a way to specify mutable content?

For example, in my class library I read `somefile

[2018-06-28 10:00] JKennedy24 commented on #5929
I am also seeing this error

[2018-06-28 11:15] jarfer opened #7073 "nuget.exe restore doesn't produce .props and .targets files"
I've hit the same problem detailed here: https://github.com/NuGet/Home/issues/2711 (closed and fixed in a previous version) this is with nuget 4.1.0.2450

Doing:

C:\Users\someuser\Source>nuget restore MyProject

MSBuild auto-detection: using msbuild version '15.6.85.37198' from 'C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\15.0\bin'.
Restoring NuGet package a
Restoring

[2018-06-28 15:05] The-Futurist opened #7074 "Very confusing behavior when adding a package via Visual Studio"
This is very simple:

I'm adding the nuget package `Microsoft.Exchange.WebServices` to a project, I get a problem whether I use VS 2015 or VS 2017.

On one machine after I add the package I see this in the project file:

[code]

Note the version folder is "2.2" and the framework folder is "40".

The assemblies then get placed into that folder.

However on someone else's machine, when they open the

[2018-06-28 16:17] thomas-hammond commented on #4491
I was having this same issue when trying to run NuGet.exe pack on a new-style project. I just tried it with NuGet 4.7.0 and it seems to work. Maybe some others that were having this problem can try and verify.

[2018-06-28 17:12] mscrivo commented on #4856
Are the above workarounds supposed to work for dependencies of a referenced nuget package? They don't seem to.

For example, I am referencing the CefSharp.Common package which has a dependency on CefSharp.Redist.x64 which has a bunch of compiled C++ libs that are to be pulled into the bin folder upon building, but are also showing up in the root of my project structure in Solution Explorer, and ca

[2018-06-28 18:28] rohit21agrawal commented on #4491
@thomas-hammond please don't use NuGet.exe to pack new-style (SDK Style Package REference based projects). While it won't error out, it would skip packing any package references as dependencies in the nuspec of the produced package

[2018-06-28 18:39] thomas-hammond commented on #4491
@rohit21agrawal Does that mean that all SDK Style projects need to use the built-in packaging support? Is there any plan to make NuGet.exe support this? The only reason I ask is that it is nice to have the separate nuspec file as the place where the details are kept. Also, what does this mean for teams that want to do all packaging at the end of the build and unit test phase?

[2018-06-28 18:41] rohit21agrawal commented on #4491
unfortunately I can't give a timeline on when NuGet.exe will support SDK style projects, but that will happen, yes.

I am not sure I understand why you want NuGet.exe to pack SDK style projects given the in-built packaging support (in msbuild and dotnet.exe) for packing those projects. Could you elaborate on this:

[2018-06-28 18:46] thomas-hammond commented on #4491
@rohit21agrawal We have an MSBuild-based build system we developed that does our NuGet packaging at the end based on the existence of the nuspec file. It runs after build and unit tests. If NuGet.exe worked, I wouldn't have to make any changes to our system. I can try working in support for the built-in packaging. Maybe it will end up working out better.

[2018-06-28 19:25] rohit21agrawal commented on #4491
at the end of the existence of the nuspec file? Is this nuspec file generated dynamically? If you are using a nuspec file to create the package, using NuGet.exe is perfectly fine.

[2018-06-28 19:52] hack2root commented on #5832
@mattwhetton I got exactly the same problem. So they will neve fix it, anyway. They seems do not eat their own dog food actually.

This is a bug which cab be fixesd in one line, will stay forever. Untill earth will die

[2018-06-28 19:55] rohit21agrawal commented on #5832
@hack2root @mattwhetton what is the problem you are facing exactly? Please understand that we get a lot of comments on GitHub, and comments on closed issues aren't prioritized as much. If you are still facing an issue that has been closed, please open a new one with all the details.

[2018-06-28 20:14] default-writer commented on #5832
@rohit21agrawal I can't open it, for some reason.

[2018-06-28 20:59] rohit21agrawal commented on #5832
please open a new one at github.com/nuget/home/issues

[2018-06-28 22:34] jjanuszkiewicz commented on #4491
Sounds like I have a similar situation at work. We have an MSBuild-based build system for a fairly large project (~1700 C# projects, out of which ~400 are built as nuget packages). We do the nuget packaging at the end of our CI run, after unit tests pass etc. We do have nuspec files for all the packages, but we only have basic package metadata in them - we don't manually put package dependencies t

[2018-06-28 22:36] rohit21agrawal commented on #4491
are these all packages.config based projects?

[2018-06-28 22:36] jainaashish commented on #7073
NuGet doesn't produce .props and .targets files for packages.config based project rather directly import those in project file (.csproj).
So there shouldn't be any issue with respect to these props and targets files. Do you see props or targets files being skipped from the packages?

[2018-06-28 22:38] jjanuszkiewicz commented on #4491
Most of them (99%), yes, but we're starting to selectively migrate to PackageReference - for now only in end applications, not in projects built as packages, but eventually we'd like to be using SDK style projects and PackageReference across the whole codebase.

[2018-06-28 22:51] jjanuszkiewicz commented on #4491
A related problem for us right now is that we also want to start migrating our packages to .NET Standard, which as I understand means we have to use SDK style projects. This leads to a situation where, if we have package A which depends on package B (from the same solution), and we retarget B to .NET Standard, then when we package A, the packaging tool must correctly interpret B as well (so that i

[2018-06-29 00:31] #6561 closed, assigned to nobody

[2018-06-29 00:36] nkolev92 commented on #7017
Merged in both CLI and NuGet.Client

[2018-06-29 00:36] #7017 closed, assigned to nkolev92

[2018-06-29 00:39] nkolev92 opened #7075 "Add plugins cache clearing to the locals command"
Follow up to https://github.com/NuGet/Home/issues/6796.

 A new cache location for operations cliams of plugins was added.

We need to add the ability to clean that cache to the locals command.

[2018-06-29 00:54] nkolev92 opened #7076 "The MSBuild SDK resolver should do auth and MSBuild auth should be device flow"
Pipe auth through the MSBuildSDK resolver, and "task" restore should always do device flow and not pop-up even on .NET framework.

[2018-06-29 07:22] mishra14 commented on #7074
@Korporal Thanks for the feedback. I am getting the same path as you described above.

Can you please ask your co-worker to check the version of NuGet that they have? They can do this by launch "Package Manager Console" and the first few lines should display the NuGet version.

Please give us the version numbers on both of the machines.

[2018-06-29 09:38] v-luzh opened #7077 "[Test Failure] ‘Tool No-Op Restore’ doesn’t work for ASP .NET Core Web Application (.NET Core 2.1)"
## Details about Problem
NuGet version: NuGet Client Dev 4.8.0.5314
VS Version: D15.8stg 27828.3003
OS Version: Windows 10 RS4_Release 17134.1.180410-1804

## Detailed repro steps so we can see the same problem
1.	Create an ASP .NET Core Web Application (.NET Core 2.1).
2.	Set the diagnostics build format through Tools->Options->Projects and Solutions->Build and Run.
3.	Build the project.

## Expe

[2018-06-29 10:33] misterspeedy commented on #3891
@jr01's workaround worked great for us.  DLL's from project dependencies end up in the nupkg file, and the package can successfully be installed in another solution.  Haven't tested the consuming solution yet though.  Thanks for this!

Edit: Now tested a (very simple) consuming solution, no issues.

[2018-06-29 12:12] bugproof commented on #912
3 years? wow. In my case I have suffixes like `-alpha1` or `-beta1`, `-beta2` I was hoping to use something like `1.0.0-beta*` to pick the latest beta release.

[2018-06-29 13:15] LindaLawton commented on #6450
any info on this [how to use -NoDefaultExcludes when creating a nuget package](https://stackoverflow.com/questions/51102177/how-to-use-nodefaultexcludes-when-creating-a-nuget-package)

[2018-06-29 16:04] dtretyakov commented on #6486
@nkolev92, @jeffkl thanks for details. I've made it working for my use case.

Do you know in which target .NET CLI and MSBuild versions will be available NuGet plugins protocol v2?

[2018-06-29 17:44] nkolev92 commented on #6702
In 4.8, we won't be doing this validation due to framework limitations.

Changing this to Backlog as a feature

[2018-06-29 17:48] jainaashish commented on #6892
@nkolev92 dupe it out to search by tfm issue

[2018-06-29 17:49] nkolev92 commented on #6892
Duplicate of #4071.

[2018-06-29 17:49] #6892 closed, assigned to zhili1208

[2018-06-29 17:49] nkolev92 commented on #4071
We should consider PackageType as a filter too.

[2018-06-29 17:57] PatoBeltran commented on #7008
Hey @pascalberger, is this still an issue? Have you tried the suggestions I wrote in my previous comment? This issue has not been active for two weeks, if this is no longer an issue I will close it soon.

[2018-06-29 17:59] nkolev92 commented on #7077
From the logs it looks like there is not tool restore happening at all here.

Did they maybe remove the tool from the template completely?

[2018-06-29 18:14] nkolev92 commented on #3127
Fixed in https://github.com/NuGet/NuGet.Client/pull/2294

[2018-06-29 18:14] #3127 closed, assigned to nobody

[2018-06-29 18:15] jainaashish commented on #6118
closing it by design

[2018-06-29 18:15] #6118 closed, assigned to nobody

[2018-06-29 18:20] nkolev92 commented on #3338
This is a very old issue and I would like to close it.

Please create another issue if you're still facing this with the latest version of the NuGet Client tools.

[2018-06-29 18:20] #3338 closed, assigned to nobody

[2018-06-29 18:23] mishra14 commented on #4699
This is blocked by https://github.com/NuGet/Home/issues/912.

[2018-06-29 18:25] pascalberger commented on #7008
@PatoBeltran Yes, sorry this is still an issue, but I hadn't found the time yet to analyze it further. For some of your questions:

I can reproduce in one of our network were we have a bunch of blades running VMs from different hosts.

Yes, everything is on 4.6.2

Yes, same versions of tools. But one is the build environment the other a development environment (e.g. Visual Studio Build Tools vs fu

[2018-06-29 18:32] jainaashish commented on #2345
@rrelyea can you please look into this and assign accordingly

[2018-06-29 18:37] PatoBeltran commented on #7008
Good, make sure everything is `4.6.2` or further, we had a perf bug in package verification that was fixed in `4.6.2`. Can it be the case that it is an issue with the machine? Please try it with other signed packages or with the same development machine disconnected from the network.

[2018-06-29 18:57] pascalberger commented on #7008
Unfortunately I cannot test with the `nuget.common` package as it uses SemVer and I need to go through our internal ProGet server which still has a V2 feed. Do you know of any other signed package which I can use for testing?

[2018-06-29 21:23] nkolev92 commented on #6486
@dtretyakov
2.1.400 of the SDK, and 15.8 version of MSBuild.

[2018-06-29 21:24] PatoBeltran commented on #7008
Any Microsoft owned package should be signed. You can easily search in nuget.org for a package that follows any of your internal server requirements and to be sure it is signed just run `nuget.exe verify -signatures` on the package.

[2018-06-29 22:52] rohit21agrawal commented on #7043
any reason why you can't add the below?

[code]

[2018-06-29 22:56] mishra14 commented on #7060
@ticktickMOF I think it should be safe to run `msbuild /t:restore /m <SOLUTION.sln>`

[2018-06-29 22:58] mishra14 commented on #7059
@coyuX You should be able to unblock yourself by -

1.  Deleting the packages folder.
2.  Then right click on the solution in VS.
3. Restore packages.

You should be able to build after that. Please let us know if you are still blocked.

[2018-06-30 00:00] nkolev92 opened #7078 "Remove built-in plugins support netcore + consider renaming the plugin directory to just plugins"
Per our discussion with dotnet, we will not have built in plugins in the SDK. so we need to remove support for that.

Additionally, we can consider renaming the plugins directory in VS to "Plugins" from "NuGetPlugins", as the only reason we went with NuGet plugins was the fact that "plugins" wouldn't work in the SDK.
Code [here](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.P

[2018-06-30 15:40] The-Futurist commented on #7074
@mishra14 - I'll try to get this in a week or so as I'm away fro, office just now. I can tell you that we were each using VS 2017 though. May I ask, has this kind of behavior _ever_ been seen or reported before?

[2018-06-30 16:28] huideaki commented on #545
Any update ?

[2018-07-01 04:24] jnevins-gcm commented on #912
sad

[2018-07-01 18:34] #7075 closed, assigned to nkolev92

[2018-07-01 19:51] nkolev92 commented on #7060
@ticktickMOF
You can do what @mishra14 suggested.

Additionally, which version of Visual Studio are you using?
Do you have restore perf problems locally? Or is it just the CI?

[2018-07-01 19:59] nkolev92 commented on #7064
Since as @mishra14 said, dotnet add package simply does restore under the hood. it's a restore "behavior", nothing specific to add package.

This is a duplicate of https://github.com/NuGet/Home/issues/6848.

This has historically been an unpopular ask because of the inconsistencies it would cause.
The opinion normally is that floating is a consumer time feature not a authoring time feature.
The .N

[2018-07-01 19:59] #7064 closed, assigned to nobody

[2018-07-01 20:00] nkolev92 commented on #7044
Do you have a default push source configured?

This is the expect behavior otherwise as NuGet does not know where to push.

https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file

[2018-07-01 20:05] nkolev92 commented on #7035
I assuming you are using Package Reference?

This is by design, the option to ignore failing sources on restore exists to allow using only the available sources. Ignoring failing sources by default is dangerous since a source could go down and a restore could pass and end up with different packages.

Please refer to https://github.com/NuGet/Home/issues/5607

[2018-07-01 22:53] chiefengineer opened #7079 "NuGet.exe "pack" attempting to create package from undesired \bin\Debug .dll assembly"
## Details about Problem

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Execute the following at a command prompt (as a single line, of course):
nuget  pack "C:\Users\Sam\Documents\Visual Studio 2017\Projects\DotNet_4.7\AWE 9.x\AWE.Lib.Root\Cmn\Cmn.csproj" -Exclud

[2018-07-01 23:26] eschneider999 opened #7080 "The props/targets files are never reloaded in traditional csproj"
Installing my Nuget package Symbiotic_Micro_ORM_Net_Standard_x64.2.1.0-rc does not work when using the PackageReference mode. Seems to work in the old config mode so far.

You would think if I created a package with their own tools it would work...

## Details about Problem

Nuget Package explorer (4.4.3+g7cd7607902)
Nuget Package manager (4.6.0)
Visual Studio 2017 Pro (15.7.4)
Windows 10 pro

No;

[2018-07-01 23:59] eschneider999 commented on #7080
Works if I run Visual Studio as Admin when adding the Nuget package.

How lame...

[2018-07-02 01:32] phillip-haydon commented on #7035
@nkolev92 you’re missing the point. Package restore is broken by design.

It is impossible to restore if you use multiple sources and the package does not exist in 1 source.

Obviously ignoring is dangerous. But there’s no other work around because the current design is broken.

You should fail only if the package is found in no source, not the first source.

Please reopen my ticket as it’s still

[2018-07-02 01:36] nkolev92 commented on #7035
`--ignore-failed-sources` makes no impact on whether a package is found in a feed or not.
NuGet does **not** fail if a package is not found in one feed but is in another.
That's a very common scenario.

That should **only** be used if a feed itself is inaccessible.

Can you post the logs from your restore?

reopening until we get clarity here.

[2018-07-02 04:25] junimnjw opened #7081 "what is the keyname in InstallPackagesFromRegistryRepository method? how to create it?"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2018-07-02 05:28] msmolka commented on #7044
@nkolev92 based on docs:
https://docs.microsoft.com/en-us/nuget/create-packages/symbol-packages
There is nothing about additional configuration. It says:

I'm using nuget.exe.

On the link you provided I cannot find any section related to symbol source. I always thought that `nuget.config` is used to consume packages not for publish. In documentation there is nothing about `nuget.config` in the nu

[2018-07-02 05:51] phillip-haydon commented on #7035
I posted the logs in the original issue. (Logs snippet at the bottom)

So the setup is basically:

We have Team City build our projects, TC has an internal NuGet feed which we can publish packages to. .NET Core seems to keep track of all sources (I'm not sure how it does this, but it appears to apply all sources to all builds once a source is used once, by this I mean when I created the project fo

[2018-07-02 05:54] TechnikEmpire commented on #2714
Two years later, and hundreds of "developers" visiting this thread still haven't submitted a PR.

[2018-07-02 06:00] GanesanRengasamy opened #7082 "latest version not shown in NuGet package manager"
Hi all,

I have used the custom nuget feed (https://nuget.syncfusion.com/nuget_aspnetcore/nuget/getsyncfusionpackages/aspnetcore) to install the NuGet packages. But when I configure this in Visual studio and trying to install the latest version (16.2.0.41) NuGet packages, I can't see the latest version by default in the first of the version order.

![image](https://user-images.githubusercontent.co

[2018-07-02 06:16] drauch commented on #7043
Have you tried it? Unfortunately:

    **/[Pp]ackages/
    !**/[Pp]ackages/build/

does not work. You must use `**/[Pp]ackages/*` which again has the problem with the deleted packages content (expect the build folder) on every stash.

[2018-07-02 07:40] igorushi commented on #912
renice -20 -issue 912 :)

[2018-07-02 09:00] v-luzh commented on #6286
It repro on both D15.8stg 27830.3000 & D15.8stg 27830.3000+NuGet Client Dev 4.8.0.5318.

[2018-07-02 14:28] btodts commented on #2714
@TechnikEmpire What's holding you back then?

[2018-07-02 17:30] #4075 closed, assigned to AbdallahAbuHashem

[2018-07-02 18:34] rohit21agrawal commented on #7079
@chiefengineer the reason nuget looks for debug bits to pack by default is the same as why msbuild builds debug bits by default if you just run msbuild on your project.

These defaults were chosen because in the inner development loop, developers build non-optimised debug bits making it easy for them to step through code for debugging purposes.

You can, of course, set the property in your csproj

[2018-07-02 19:02] TechnikEmpire commented on #2714
@btodts I love it. Because I didn't fix it, it excuses the hundreds that have come before me, put useless "+N" comments, thumbs ups, sad faces etc. You're right, it's all on me.

Sorry I'm too busy contributing to over 50 other repositories. You guys are on your own, papa can't hold your hand today.

[2018-07-02 19:22] mishra14 commented on #7080
@eschneider999 is this related to https://github.com/NuGet/Home/issues/7062?

[2018-07-02 19:47] driscollwebdev commented on #2714
If you’re not offering a solution then you’re just contributing to the problem. What’s more, you’re being a jerk while doing it. Go spread your arrogance somewhere else.

[2018-07-02 19:49] TechnikEmpire commented on #2714
Hey why are so late to comment here? My comment was that the entire comment thread is not contributing to a solution, yet when I say, I'm a "jerk". Lol life must be rough being so sensitive.

[2018-07-02 19:58] eschneider999 commented on #7080
No, to clarify.

For Nuget packages.config method of the lib not added, I believe that is my fault by not placing the lib in all the relevant folders.

The PackageReference issue remains a problem, and was discovered from our investigation of 7062.

So I would be fine if we closed 7062, continued on this case: 7080

On July 2, 2018 2:22:09 PM CDT, Ankit Mishra <notifications@github.com> wrote:

--

[2018-07-02 20:03] driscollwebdev commented on #2714
Exhibit A:

“Sorry I'm too busy contributing to over 50 other repositories. You guys are on your own, papa can't hold your hand today.”

Was that really necessary? Did it add anything more to the discussion than the “useless +N” comments that you pointed out?

[2018-07-02 20:07] TechnikEmpire commented on #2714
So facts upset you? I was asked a question, specifically what was holding me back. I answered it. The fact that I'm contributing to an enormous amount of projects already is my excuse. If that offends you, well, as you said, noise that's not contributing to anything.

[2018-07-02 20:12] driscollwebdev commented on #2714
If you’re so busy then why bother commenting on this thread at all? Do you just enjoy stirring the pot and then conveniently bowing out when challenged to provide a constructive solution?

I managed to take time out of my 70+ hour work week to summarize the docs and explain the reason for the error message, no excuses.

[2018-07-02 21:50] ReubenBond commented on #2867
Happy to see that this issue is included in the [NuGet Summer 2018 Roadmap](https://blog.nuget.org/20180702/NuGet-Summer-2018-Roadmap.html) 😊

[2018-07-02 21:52] nkolev92 commented on #7082
What you are seeing is correct.

`1600` > `2`, so it's a later version.

[2018-07-02 21:53] nkolev92 commented on #7079
Closing this per Rohit's comment.

[2018-07-02 21:53] #7079 closed, assigned to nobody

[2018-07-02 21:55] nkolev92 commented on #7081
Please refer to https://docs.microsoft.com/en-us/nuget/visual-studio-extensibility/nuget-api-in-visual-studio.

[code]

[2018-07-02 21:56] #7081 closed, assigned to nobody

[2018-07-02 21:59] junimnjw commented on #7081
my question is.. how to get the registry key name for the specific folder..

[2018-07-02 22:02] nkolev92 commented on #7080
@eschneider999
I don't get it...what doesn't work here?

That package is not publicly available so we can't repro it.

[2018-07-02 22:15] PeteX commented on #2867
Incidentally npm has rolled out a feature which [warns about insecure packages](https://blog.npmjs.org/post/173719309445/npm-audit-identify-and-fix-insecure).  This is the kind of functionality I think would be useful in Nuget.

[2018-07-02 22:29] eschneider999 commented on #7080
Yes, you can, as I have done several times.

Simply include prerelease items.

[2018-07-02 22:29] loic-sharma opened #7083 "Add command does not validate package names"
# Problem

The `dotnet add package` command does not validate the inputted package name. This can result in weird behavior if the server doesn't handle invalid package names well.

# Example

If I run the command `dotnet add package newtonsoft.json.` (notice that `newtonsoft.json.` is an invalid package name as there is a period at the end of the name), I get:

However, the pack command does valid

[2018-07-02 22:33] nkolev92 commented on #7080
@eschneider999

It installed just fine on my machine.

What **doesn't** work?

[code]

[2018-07-02 22:34] TechnikEmpire commented on #2714
That's not a shock considering that web development isn't really work. Anyway you came here losing your mind over unconstructive input when my comment was that all the comments here are unconstructive. Makes no sense, except for the part where you accused me of arrogance, which means you just felt small and so lashed out. Anyway last comment because otherwise I'm going to have to bill you for psyc

[2018-07-02 22:35] eschneider999 commented on #7080
just because the log says it there, doesn't mean it worked. Or at least it does not for me.

Try referencing to the lib. add "using Frozenelephant.Symbiotic" to the class.

[2018-07-02 22:36] nkolev92 commented on #7083
This validation should certainly be done during add package. //cc @mishra14

It might be a good candidate to validate during restore too before we do the actual restore.

[2018-07-02 22:37] driscollwebdev commented on #2714
Ah, so you really are just a troll. Noted. 👌🏻👍🏻

[2018-07-02 22:43] nkolev92 commented on #7080
![intellisense](https://user-images.githubusercontent.com/2878341/42189701-5dc0e27e-7e0e-11e8-8a86-edec81bcb78d.png)

The intellisense gets populated just fine.

Is that consistently reproducible on your machine?
Does it happen on other machines?

[2018-07-02 22:50] eschneider999 commented on #7080
Yes, every time on multiple machines.
Are you running as Admin?

![nugetissue](https://user-images.githubusercontent.com/17154320/42189977-62375b96-7e20-11e8-8dcb-919e559bbacf.jpg)

[2018-07-02 22:52] eschneider999 commented on #7080
![nugetissue2](https://user-images.githubusercontent.com/17154320/42190019-a1d9f10a-7e20-11e8-8fe9-a0f75cca99cb.jpg)

[2018-07-02 22:58] vsfeedback opened #7084 "installing a devDependency PackageReference should default to excludeassets=compile"
There is a problem with installation of PostSharp build-time packages in the Visual Studio 15.8 Preview 3, due to a change that makes PackageReference to have some specific metadata when installed through the UI.

Let's consider two packages:

PostSharp provides build tools.
PostSharp.Redist provides compile-time and runtime libraries.

PostSharp references PostSharp.Redist.

When installing the p

[2018-07-02 22:59] nkolev92 commented on #7084
/cc @jainaashish @rohit21agrawal @rrelyea

This is a fall-off from https://github.com/NuGet/Home/issues/4125.

Ideally we need this resolved before 15.8 ships.

[2018-07-02 23:03] nkolev92 commented on #7080
@eschneider999
No. That shouldn't make a difference unless your global packages folder requires special permissions.

Do you have a special nuget configuration?
Can you try deleting that package from the global packages folder?

The weird thing is that Visual Studio thinks that the package is not installed.
Can you share the assets from that exact project?

[2018-07-02 23:06] jainaashish commented on #7084
This should be discussed before making any judgement.

I don't follow why a build-time package has a compile-time dependency? Package `PostSharp` clearly says that it's build time dependency only so the package should be updated to avoid any compile-time dependency. So I don't think we should resolve it, instead should encourage package author to fix their packages.

[2018-07-02 23:09] rohit21agrawal commented on #7084
i agree, this is not a bug, rather a flaw in the package. The behavior is correct since the package is marked to be a development dependency.  if someone wants to compile against PostSharp.Redist,  they should reference it directly.

[2018-07-02 23:11] nkolev92 commented on #7084
I didn't mean to imply that it has to change, merely that we need to provide clarity to the customers on this before 15.8 ships.

[2018-07-02 23:34] eschneider999 commented on #7080
Admin does make a difference for me.
Simply doing the steps provided.
Where is the global packages folder?
no special config, i did share it on the original post

[2018-07-02 23:35] eschneider999 commented on #7080
Try doing a class library (4.6.1), that's what I have been doing.

[2018-07-03 00:36] nkolev92 commented on #7080
@eschneider999
I used net461 in my repro.

The global packages folder is in `%UserProfile%/.nuget/packages` unless overriden.

Please try removing the package from there.

Additionally please remove the obj and bin directories of the project and restart Visual Studio.

[2018-07-03 00:44] TechnikEmpire commented on #2714
3 lines of code lol

[2018-07-03 01:13] eschneider999 commented on #7080
ok that fixed it, but now it stopped asking me which nuget process to use on new projects?
And why did that fix it?

[2018-07-03 01:14] driscollwebdev commented on #2714
Sounds about right for catching and wrapping an ArgumentNullException.

[2018-07-03 03:52] GanesanRengasamy commented on #7082
Yes, But I want the solution there is any way to show the 16.2.0.41 on top of the order.

[2018-07-03 05:00] nkolev92 commented on #7082
@GanesanRengasamy
Nope, that's not possible.

Relevant info: https://semver.org

Closing this now.

[2018-07-03 05:00] #7082 closed, assigned to nobody

[2018-07-03 05:07] GanesanRengasamy commented on #7082
Okay @nkolev92 . Thanks for your response

[2018-07-03 05:54] junimnjw opened #7085 "I wonder how to install multiple nuget packages in my local folder programmatically."
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2018-07-03 06:54] pascalberger commented on #7008
@PatoBeltran I can reproduce it also with other signed packages:

[code]

[2018-07-03 08:34] v-longmin opened #7086 "[Test Failure] ‘Manage NuGet Packages…’ can’t be opened after Installing a package."
## Details about Problem
NuGet Version: NuGet Client Dev\4.8.0.5320
VS Version: D15.8stg 27902.3002
OS Version: Windows 10 RS4_Release 17134.1.180410-1804.
## Detailed repro steps so we can see the same problem
1. Create a C#->Windows Desktop-> Class Library (.NET Framework) project.
2. Open the ‘Manage NuGet Packages…’ for the project.
3. Install a package (e.g. Newtonsoft.Json) and close the PM

[2018-07-03 10:43] jeromelaban opened #7087 "Improve the debugging story of an already published package"
Consider the following scenario, as of Nuget 4.7:

- An solution **Project A** containing two sdk-style projects has been built, both have symbols and have been published on nuget.org.
- A user is able to use those two published packages in his solution
- An issue is found, using a large repro solution **Project B*** that cannot be merged into **Project A** easily
- To repro, the **Project A** dev

[2018-07-03 13:41] gfraiteur commented on #7084
Let me clarify our usage at PostSharp:

The `PostSharp` package includes the PostSharp post-compiler, which is introduced into build chain of a project through `PostSharp.targets`. The `PostSharp` package also references `PostSharp.Redist`, which contains the runtime libraries. Therefore the content of the `PostSharp` package is needed only at build time, while the content of `PostSharp.Redist` is

[2018-07-03 16:38] tmat commented on #6045
@rrelyea Any progress on this? I don't think this work should be blocked on figuring out UI. Not being able to use authenticated feeds via `RestoreSources` is a big problem for our build infrastructure.

[2018-07-03 17:01] jainaashish commented on #7084
@gfraiteur I see a basic flow with how these packages are structured. You've a packageA which depends on packageB and the expectation is any consumer of packageA should exclude packageA as dependency but instead should be able to include packageB as dependency. Don't you see an issue with this statement itself?

I understand there is confusion around the name of `developmentDependency` flag and it

[2018-07-03 17:22] rrelyea commented on #6045
VS 15.8 and .NET SDK 2.1.400 plan to have support for authentication plugins. VSTS team is also on track for having their plugin available at the same time.
This will enable msbuild and dotnet restore authentication scenarios. (today nuget.exe and VS already have support).

@nkolev92 is driving this from the NuGet side.

[2018-07-03 17:31] natemcmaster commented on #6045
With these new auth plugins in 2.1.400, how do we configure a credential for one or many of the feeds listed in the `RestoreSources` property?

[2018-07-03 17:31] anangaur commented on #7087
Linking https://github.com/NuGet/Home/issues/6104, /cc: @diverdan92

[2018-07-03 17:43] rohit21agrawal commented on #7084
I do not believe this is a breaking change - people who have already taken a dependency on PostSharp will continue to see the same behavior between 15.7 and 15.8 (since the PackageReference with its metadata has already been written out to the project file, and the VS upgrade won't change it). The only change in behavior is when you install the package from the UI or ```dotnet.exe``` - 15.8 ends u

[2018-07-03 17:45] dasMulli opened #7088 "Automatically reserve username package prefix"
The bar to register a prefix on nuget.org is "quite high" at the moment and requires manual steps, which is good for arbitrary prefixes.

I suggest automatically reserving the prefix matching the username of nuget.org users.

E.g. my username is "dasMulli", so I should be the only one allowed to upload new packages starting with "DasMulli."

[2018-07-03 17:58] nkolev92 commented on #6045
Providing the credentials will be an interactive experience, which *should* negate the need for plain text configuration of credentials.

You'd need to do dotnet restore --interactive and auth using device flow.
If the build is on prem, the plugin itself should be able to figure it out. //cc @aldoms

[2018-07-03 18:01] aldoms commented on #6045
If the build is on VSTS/TFS, the plugin will automatically provide credentials for feeds hosted in the same collection the build is running on. For external feeds, you would need to provide them as [service endpoints](https://docs.microsoft.com/en-us/vsts/pipelines/library/service-endpoints?view=vsts#sep-nuget).

[2018-07-03 18:04] nkolev92 commented on #7088
This issue was moved to NuGet/NuGetGallery#6138

[2018-07-03 18:04] #7088 closed, assigned to nobody

[2018-07-03 18:04] nkolev92 commented on #7088
@dasMulli
Thanks for creating this.

I moved it to the gallery repo as I it's more appropriate for this ask.

[2018-07-03 18:05] natemcmaster commented on #6045
What about non interactive environments? Is there an xplat equivalent to `nuget.exe sources add`? Also, how will this work for CI that is not VSTS? Today, aspnet builds on TeamCity and Jenkins.

[2018-07-03 18:20] nkolev92 commented on #7084
Not a breaking change in existing projects ofc.
The issue would with new projects and new installations only.

[2018-07-03 18:27] nkolev92 commented on #7085
@junimnjw
Please refer to https://docs.microsoft.com/en-us/nuget/visual-studio-extensibility/visual-studio-templates.

[2018-07-03 20:08] bcubedb3 commented on #6841
same problem for me ... i already had this package installed for other projects in this solution.  adding a new project to the solution got this error.  i also upgraded to vs2017 15.7 yesterday.

[2018-07-03 21:23] nkolev92 commented on #7080
So the funny thing that's happening is that the build succeeds, in both Visual Studio and from the commandline, but the intelisense (error list) has a weird can't find reference error.

Deleting the assets file and/or reloading the project fixes the problem.
There are no differences between the assets file in working and non working scenario.

This is all easily reproducible with the attached proj

[2018-07-03 21:35] eschneider999 commented on #7080
A close and reopen did not fix it. (just tested the same project from yesterday ClassLibrary20)
Also a clean/rebuild did not fix it.
(just tested the same project from yesterday ClassLibrary20)
My case seems it's broken until the package folder is deleted.

[2018-07-03 21:37] eschneider999 commented on #7080
[2.1.1-rc.zip](https://github.com/NuGet/Home/files/2161125/2.1.1-rc.zip)

I uploaded the package folder from my user root in case there's something wrong with it?

[2018-07-03 22:10] theunrepentantgeek commented on #2714
Whoop! Thanks @TechnikEmpire

[2018-07-03 22:13] nkolev92 commented on #7044
@msmolka
In my above link, refer to defaultPushSource.

That specifies the default push source.

The symbol source push is disable due to https://github.com/NuGet/Home/issues/6113.

@anangaur
Did the new behavior get documented?

[2018-07-03 22:18] Pilchie commented on #7080
I think this is a duplicate of https://devdiv.visualstudio.com/DevDiv/_workitems/edit/560696.

I don't think we have anything.  We were hoping NuGet could fix this by not writing the absolute path to the assets file in the targets...

[2018-07-03 22:19] Pilchie commented on #7080
@eschneider999 Deleting obj works because the generated targets in obj have a path to the assets file and the project system uses that, doesn't know to reload the file when it changes, because it only watches the assets file for changes, but if the path to the assets file is wrong, it can't watch the assets file...

[2018-07-03 22:22] nkolev92 commented on #7080
@eschneider999
Basically you need to do a restore and re-open to avoid deleting the assets file, I missed that in my above write-up.

@Pilchie
If that's the case then we need to revisit https://github.com/NuGet/Home/issues/4582.
We tried it  a while back, but it broke SDK based builds, but I think with some of most recent work by @dsplaisted I think we can get further than last time.

[2018-07-03 22:25] nkolev92 commented on #4582
Self-assigning so I can do some investigation on what changes would be required on SDK side.

[2018-07-03 22:45] eschneider999 commented on #7080
how do you do a restore?

[2018-07-03 22:57] nkolev92 commented on #7080
Solution Menu -> right click -> Restore NuGet Packages

[2018-07-03 23:25] nkolev92 commented on #7086
@rohit21agrawal This seems to be caused by https://github.com/NuGet/NuGet.Client/commit/358c198ead904aa4070c7fb65d9fba6fa47cd370.

[2018-07-03 23:32] AArnott opened #7089 "NuGet Package Manager hangs in InfiniteScrollListBoxAutomationPeer.GetChildrenCore"
VS version: 15.8.0 preview 4 (27902.1.d15.8)

I had several documents open in my multiplexingStream solution, including at least one .NET SDK style .csproj file. Then I used the Tools -> Nuget -> Manage solution packages command.
The UI then permanently froze with this:

![image](https://user-images.githubusercontent.com/3548/42249149-801cb462-7ede-11e8-8700-54249a1352fb.png)

I collected [a 32-bi

[2018-07-04 00:11] jainaashish commented on #7089
is it easy to reproduce? This is the consequence of commit# https://github.com/NuGet/NuGet.Client/commit/535b12086fa533d36bbac721bd25a10ed3c276cc Will look into the dump to see why list ItemsLock was not released.

[2018-07-04 00:15] eschneider999 commented on #7080
ok, how do you do that if you don't have a solution and only a single project?

[2018-07-04 00:25] #7086 closed, assigned to nobody

[2018-07-04 03:37] nkolev92 commented on #7080
In Visual Studio you have to have a solution.
when you open a project, it'll create a sln containing that project only.
![sln](https://user-images.githubusercontent.com/2878341/42255486-dccdf92e-7f00-11e8-98a9-c15159c18d3e.png)
See the above screenshot for that I mean.

From the command line, you can always do `msbuild /t:restore`, or nuget.exe restore

[2018-07-04 04:29] eschneider999 commented on #7080
no you do not, my point is;
If you only have a project, you can't restore.

[2018-07-04 05:09] nkolev92 commented on #7080
@eschneider999
you can....you simply run the restore target on a csproj.

`nuget.exe restore myproj.csproj`
`msbuild /t:restore myproj.csproj` will both work.

[2018-07-04 06:39] msmolka commented on #7044
@nkolev92 I've seen that, but because of Microsoft Docs I was hope there is a way to push both with one command.

[2018-07-04 13:18] MaximRouiller commented on #2867
@ReubenBond love from Canada to Australia! Thanks for pointing that out! 😁😁

[2018-07-04 14:49] JeremyTCD opened #7090 "ContentFiles Causing Bloated Package and an Extra Configuration Step for Consumers"
# TL,DR
- In a dependency chain of packages, do `ContentFiles` need to be replicated in every package? Is there a configuration to avoid this?
- Answered here: https://github.com/NuGet/Home/issues/6091 ~~Is it possible to exclude `ContentFiles` from the `PrivateAssets` attribute of a `PackageReference` by default?~~

# Problem Description
Consider 3 hypothetical projects with the following depende

[2018-07-04 21:48] glahaye commented on #4491
It would be great if nuget.exe (or msbuild.exe) could figure out the dependencies to bring in when packing Nuget files from PackageReference-style csproj files targeting .Net Framework output

[2018-07-05 07:22] tmds commented on #2867
From the NuGet Summer 2018 Roadmap

I hope this closely matches with metadata needed to enable https://github.com/NuGet/Home/issues/6848.

[2018-07-05 15:14] jemiller0 commented on #6763
When will PackageReference with ASP.NET/.NET Framework projects be supported?

[2018-07-05 17:38] anangaur commented on #7044
@msmolka We did document the new behavior of not auto pushing the .nupkg and .symbols.nupkg together. Looks like we can clean it up more to reflect this behavior.

---
![image](https://user-images.githubusercontent.com/14800916/42338678-7c9bea08-803f-11e8-9301-8ed87d508cfd.png)

[2018-07-05 18:31] smiron commented on #912
someone should just close and reopen an identical issue so that people stop complaining that it hasn't been fixed in 3 years. PS: JOKING!!!

[2018-07-05 21:28] simeyla commented on #6408
I literally don't know how this can not be reproducable. I just installed a brand new machine and this always happens. In addition the stop button and Ctrl+C never seem to function.

I just open a separate powershell console.

[2018-07-05 21:31] nkolev92 commented on #2887
Per the above comment.

Closing this as won't fix.

[2018-07-05 21:32] #2887 closed, assigned to nobody

[2018-07-05 21:32] singku opened #7091 "Nuget Publish Got 500 Against Large (276MB) Package."
## Details about Problem
We were uploading packages using nuget.exe. One day one of the packages failed to be uploaded to nuget gallery. Previous version of this package has 207MB. The failed one has 276MB.
Package: https://www.nuget.org/packages/AWSSDKCPP-EC2/1.3.20161115.48

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
nuget.exe

NuGet version (x.x.x.xxx):
4.6.2

[2018-07-05 21:52] singku commented on #7091
Got a response from support team that the file size limit is 250MB. Will this limit be increased?

[2018-07-05 22:19] shishirx34 commented on #7091
@singku - Do you regularly expect to push packages with sizes greater than 250Mb? Would it be not possible for you to break up the package to a size lesser than the limit?

@anangaur, @skofman1 for consideration to increase size limit.

[2018-07-05 22:22] nkolev92 commented on #7035
Oh, I missed the log snippets, sorry about that.

As I mentioned above. All feeds have to be accessible in PackageReference for a restore to happen. This is by design as having different sources available can lead to drastically different resolution graphs.

The logs seem to indicate that you got a 401 from the private feed.

The problem is not that the package is not available on the feed. Rather

[2018-07-05 22:24] singku commented on #7091
Our package include both V120/140/141 versions for VS2013/15/17 and those packages include static/dynamic linked versions. When it's static the size is huge. As far as I know, I cant break V120/140/141 to separate ones.

[2018-07-05 22:25] anangaur commented on #7091
@singku How is this package used? Looks like this is an SDK package. Do you use nuget CLI to install these packages? Or msbuild.exe to install it as a MSBuild SDK?

[2018-07-05 22:29] nkolev92 commented on #7090
Yes, you can do some authoring side tricks.
If ConsoleApplication has a PackageReference to ClassLibrary2.nupkg, and the default PrivateAssets there is `contentfiles;analyzers;build`, you can override that to `analyzers;build`.

Other than that, there is not much that can be done. I'm glad you found the answer to the 2nd question.

//cc @rohit21agrawal

[2018-07-05 22:29] singku commented on #7091
We are the SDK packages' vendor. When using it, I just manage packages from VS's Nuget manage UI.

[2018-07-05 22:34] nkolev92 commented on #7091
@shishirx34 @anangaur
When this discussion has been completed can you loop back to close the this issue?
Or should we move it to the gallery directly?

[2018-07-05 22:42] #7091 closed, assigned to nobody

[2018-07-05 22:42] anangaur commented on #7091
Issue moved to [NuGet/NuGetGallery #6144](https://github.com/NuGet/NuGetGallery/issues/6144) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-05 22:51] nkolev92 commented on #7044
@msmolka
Does that answer your concern?

Currently there is no way of doing it.

We are working on a related feature, spec [here](https://github.com/NuGet/Home/wiki/NuGet-Package-Debugging-&-Symbols-Improvements)
https://github.com/NuGet/Home/issues/6104

[2018-07-05 22:51] nkolev92 commented on #6980
Closing this as stale.

[2018-07-05 22:51] #6980 closed, assigned to nobody

[2018-07-05 22:53] nkolev92 commented on #6979
Closing this as stale.

Please comment again if you're still facing this problem.

[2018-07-05 22:53] #6979 closed, assigned to nobody

[2018-07-05 22:58] nkolev92 commented on #6845
@coderkemp
Did you manage to fix your problem?

[2018-07-05 23:00] nkolev92 commented on #6950
@safern
Any further issues here?

I'm closing this as stale for now.

[2018-07-05 23:00] #6950 closed, assigned to nobody

[2018-07-06 00:19] jainaashish commented on #7089
@AArnott can you share the repro steps for this issue? I've a solution but want to confirm that it fixes it completely.

[2018-07-06 01:05] phillip-haydon commented on #7035
Hah. You missed that I attached logs. I missed the fact it says 401.

There’s a few things I’m confused about. (We are moving to .net core so still bits to figure out)

1) the first restore of the project was fine as it found nunit in nuget.org, built a nuget and pushed it to the internal feed.

When we built the project the second time it failed because it looked at our internal feed.

How can I

[2018-07-06 08:14] bencyoung commented on #5556
We'd find this issue very useful too. We version all the projects in a solution independently and we'd like to be able to specify both a lower version and especially an upper version for project references else it doesn't work well with semantic versioning

If not that, then a way of picking up local projects in the solution via a ProjectReference would be good

[2018-07-06 10:54] ghost commented on #5611
I imagine most, if not all issues that people have due to this could be solved with an optional 'Source'/'Sources' parameter on package references/an optional source parameter when requesting a package (maybe default to filling it in with whichever source the package was initially installed from when it comes to references, with the option to remove it if you want to use any source). Cannot think

[2018-07-06 11:08] btodts commented on #7053
@rohit21agrawal While trying to reproduce the issue, I found that the file now doesn't get copied anymore when using .NET Core.

Attached, you can find an ASP.NET Core Web Application that includes the `TinyIoC` package. However, when installing the package, the file is not copied to the project directory.

This is the case when using a 'plain' ASP.NET Web Application (_not_ Core): when running e.

[2018-07-06 13:42] Kdjacques commented on #6390
https://joshuachini.com/2017/07/13/visual-studio-package-manager-console-fails-to-start/

This worked for me in windows 10 VS 2015

[2018-07-06 14:18] red8888 commented on #2544
So project.json is dead and now msbuild is used for this instead. Is this feature just never going to happen?

[2018-07-06 14:24] red8888 opened #7092 "Can we do Maven style snapshots?"
Now that project.json is dead how can you emulate maven style snapshots?

I want to mark a package as a snapshot version so nuget/Visual Studio always downloads the most current version of that package.

[2018-07-06 14:45] JeremyTCD commented on #7090
Ah okay, I think you meant:

Anyway, it works, thanks for the tip!

[2018-07-06 14:45] #7090 closed, assigned to nobody

[2018-07-06 15:32] san1850 opened #7093 "Nuget Restore issue"
I am adding nuget packages from a internal project source. My visual studio application builds fine locally after referring nuget packages. When any other dev is taking my shelveset of this changes they are getting error as below.

**Unable to perform operation on ../{path}/packages/Telerik.Web.UI.2018/nuget.exe. The item ../{path}/ packages/Telerik.Web.UI.2018/nuget.exe is locked in workspace.

U

[2018-07-06 16:35] diverdan92 commented on #7087
@jeromelaban - I'm not sure I fully understand this issue. Could you please help clarify?

The same developer owns the code for both Project A and B? Project A produces NuGet packages that have been published to NuGet.org with Symbols? How are A and B related - does one reference the other (and why is B trying to be merged into A?)

I'd like to understand this scenario a little better to see how i

[2018-07-06 16:42] diverdan92 commented on #6201
Sent mail. Not sure if it's NuGet or .NET.

[2018-07-06 17:30] anangaur opened #7094 "Connection issues with dotnet restore --disable-parallel"
Anton Novicov wrote:

My problem appear when i try "dotnet restore" command in my dotnet project.
When i use dotnet --disable-parallel I have not this errors:
dotnet restore: https://gist.github.com/novicov/a7823ce570c8ac362ed949a12dbb717b

WinMTR stats: https://gist.github.com/novicov/438a57d2026d7b63e504c66728bf14be

 My soft:
Microsoft Visual Studio Enterprise 2017 15.7.4
VisualStudio.15.Releas

[2018-07-06 17:40] jeromelaban commented on #7087
@diverdan92 It could be the same or any other developer wanting for debug **Project A** and alter its code **to fix an issue**. **Project B** is an app, **Project A** is a library. B references A.

It is the developer story for debugging Project A in the context of Project B that is currently not the easiest.

The merging is to somehow be able to use intellisense with more context that the file be

[2018-07-06 17:48] nkolev92 commented on #7094
Looks like a duplicate of https://github.com/NuGet/Home/issues/6742.

Basically the root cause normally is that NuGet is trying to create more connections than the machine can handle.

The linked dup is tracking a task to make the parallelization configurable.

[2018-07-06 17:48] #7094 closed, assigned to nobody

[2018-07-06 18:13] diverdan92 commented on #7087
If you have the source for Project A and are altering the source to fix the issue, then you are rebuilding it in Visual Studio., You will also produce a new set of symbols for that code when you rebuild it.

I'm still not sure I fully understand the question or scenario. Perhaps a call early next week will be better?

[2018-07-06 18:17] nkolev92 commented on #7035
NuGet will try to use the global packages folder versions first. There's likely a version mismatch (badly authored package, non-exact dependencies etc).
If that didn't satisfy the resolution logic, then it will go online and check all sources configure concurrently.

There are a few ways to do that but each has it's problems.
1. Project level config, you add a config on the project level, you add

[2018-07-06 20:20] gravypower commented on #6041
this is exactly what I was looking for this morning, is there any plans to include it?

[2018-07-06 23:33] nkolev92 commented on #7093
@san1850
I'm not really sure I follow what's going on here. Can you please provide full steps for a repro?

That error is not coming from NuGet, but from TFS. Don't think there's anything NuGet can do here.

Please note that the recommendation is to **not** check-in your packages folder in source control.

[2018-07-06 23:44] nkolev92 commented on #7092
NuGet already supports pre-release packages, which is kind of what snapshots are trying to achieve.

NuGet also has the concept of floating versions that allows you get the latest prerelease version of that said package.

What exactly are you trying to achieve here?
Please also refer to https://semver.org/#spec-item-9. Relying on a mix of stable/prerelease packages is generally not the best idea.

[2018-07-07 01:29] #7076 closed, assigned to nkolev92

[2018-07-07 01:38] red8888 commented on #7092
I want to mark a package as a snapshot version so nuget/Visual Studio always downloads the most current version of that package.

Like maven does it- this isn't a wierd use case.

Can the prerelease thing do that? I want to not have to modify the version number and have nuget always redownload the latest version- like maven snapshots

[2018-07-07 02:00] nkolev92 commented on #7092
Even with maven, you still can't re-download the same version.
You need to purge the local repository of that version.

You can achieve a similar thing. The thing is that each package you release should have a unique identifier.
Then you can just float the prerelease version.
Example `1.0.0-rc.*` would always get the latest RC (there's 30 min http caching as a perf optimization, but that can be by

[2018-07-07 06:29] phillip-haydon commented on #7035
Yeah sorry typing on my phone. Project = Solution. I just meant project as application or all projects in the solution.

The Visual Studio thing was the old Enable Package Restore feature which added a .nuget folder which I can then add all the feeds to.

I’ll play around next week with amending our project based on the info you’ve given me. Prob write up a blog post too. Hopefully can resolve it

[2018-07-07 14:31] red8888 commented on #7092
"--update-snapshots" correct me if im wrong but maven absolutely can and thats kind of the whole point!

Doing it your way means I still need to update the package reference right? Go into nuget package manager and install that version right? Maybe im missing something?

Maybe there is a VS extension or a build task that can selectively run "Update-Package –reinstall" on certain packages- by doing

[2018-07-07 15:15] nkolev92 commented on #7092
@red8888
No you don't need to change the csproj.
You only need to change it when you start depending on an entirely different version.
You would just have `1.0.0-rc.*` and then whenever you run some specific restores it will download the latest version .
Those specific restores are listed [here](https://github.com/NuGet/Home/issues/6987#issuecomment-393354972).
Please note that with the future add

[2018-07-07 15:57] nkolev92 commented on #7035
You can simply have 1 config file with sources in the same folder as the solution.

If possible, I'd suggest you simply have that 1 config and just authenticate for that feed.
The http communication layer is shared among projects. Basically if you need a feed for 1 project, there is no harm in having it for a different one.

[2018-07-07 20:32] ctaggart commented on #5556
Is there currently any way to specify exact version `=` instead of default `>=` for the project reference?

[2018-07-08 18:15] dvdobrovolskiy opened #7095 "Unable to copy file / The given path's format is not supported"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx):  4.6.2.5055

dotnet.exe --version (if appropriate):

VS version (if appropriate): 2.1.201

OS version (i.e. win10 v1607 (14393.321)): win10 Version 10.0.17134.1

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same pro

[2018-07-09 00:29] #7078 closed, assigned to nkolev92

[2018-07-09 02:10] kitdelosreyes opened #7096 "nuget.exe unable to find package via VSTS"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 4.3.0.4406

dotnet.exe --version (if appropriate):

VS version (if appropriate): 2017

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Running nuget v

[2018-07-09 07:16] bugproof commented on #912
@smiron to make things worse this issue is in the backlog, I would focus on this more since it's a 3 years old issue than some "security" issues. And I think it has a greater demand. But apparently NuGet team is blind to see.

To me, there shouldn't be any pre-release packages at all until this one is solved.

[2018-07-09 07:56] SGStino commented on #6902
Haven't gotten information from him yet aside that they'd look into it for the next release

[2018-07-09 09:26] v-luzh opened #7097 "No way to resolve conflict warnings occur after updating package of ASP.Net Web Application"
## Details about Problem
NuGet version: NuGet Client Dev 4.8.0.5324
VS Version: D15.8stg 27907.3001
OS Version: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps
1. Create an ASP.Net Web Application (.NET Framework 4.6.1) - take MVC as example.
2. Select MVC and check “MVC” and “Web API” under “Add folders and core references for“.
3. Select “Windows Authentication” and click OK b

[2018-07-09 09:48] Joev- opened #7098 "Nuget restore producing differing structure within same solution depending on target"
## Details about Problem

I have a solution with many projects in it, ASP.NET MVC, several console applications, and class libraries. Where possible the projects use the new csproj format. The MVC project is the only one that does not. The MVC project still uses packages.config, the rest use PackageReference.

I have a solution file which is used to group a single console application and it's depe

[2018-07-09 09:56] csimone86 opened #7099 "After installing nuget server, I do not see well-formatted OData over ATOM feed of packages"
I am creating a free private nuget server with visual studio. I am following exactly the indicated steps on [nuget server site](http://nugetserver.net/) (those one on the right).

I think I have done everything, and nothing should miss and nothing should have been done in a different way.

But when I run my site, and I click on "here" (step 5) I do not see a well-formatted page like [this one](htt

[2018-07-09 12:27] Dabbel commented on #6970
@zhili1208 @jainaashish **ANY** news on this would be good

[2018-07-09 13:56] JCookVF opened #7100 "Issue with Debugging into a nuget package with symbols"
## Details about Problem

NuGet product used (NuGet.exe):

NuGet version (4.6.2.5055):

VS version (VS Professional 2015 v: 14.0.25420.01 Update 3):

OS version ( Microsoft Windows 10 Pro, 10.0.17134 Build 17134)

## Detailed repro steps so we can see the same problem

When I follow the steps to create a debug-able nuget package it works great on my computer. I have created a simple nuget package

[2018-07-09 15:14] hamfar opened #7101 "Issue with installing package to directory"
## Details about Problem
Installing a package via nuget.exe to a directory from a private feed causes a dependency issue when there are no dependencies on package. The dependencies seem to arise from the directory the package is being installed to and previous packages installed in that location. For below error, Nunit.Console is not a requirement for Package1 but was installed by a previous comma

[2018-07-09 17:39] shishirx34 opened #7102 "Condition References"
@eschneider999 commented on [Sun Jul 08 2018](https://github.com/NuGet/NuGetGallery/issues/6149)

If I have optional references, what is the best way to achieve this?

In my case it's a database vendor library. If they choose Oracle, Sql Server, My Sql, there would be a specific vendor lib needed.

Currently I add all and allow the developer to remove the unneeded verdors, but with the new Package

[2018-07-09 17:53] red8888 commented on #7092
Thanks for answering my questions. So to set that version like "1.0.0-rc.*" do I do that in packages.config or in PackageReference in csproj files? Our users are most familiar with nuget package manager though, is there a way to set a wildcard version from that GUI too?

Thanks again!

[2018-07-09 18:16] jviau opened #7103 "Deadlock due to threading issues when calling into CPS (CommonProjectSystem)"
## Details about Problem

VS version (if appropriate): 15.8 preview 4

Worked before? If so, with which NuGet version: Yes, previous VS releases.

NuGet is calling into CPS API's under its own `PumpingJTF`. This has regressed a fix previously made for #4185. We plan on removing this requirement of using the CPS JTF when calling into CPS APIs in a future release, but this is currently causing deadl

[2018-07-09 18:51] MrGlenThomas commented on #5877
I'm on 15.7.4 trying to find the option on various project types and can't get it to appear. I have tried all of the "open package manager/open console/etc."

[2018-07-09 19:10] ericdunn commented on #912
If anybody is interested in my workaround for this, here’s how I set up my VSTS build definition to handle all of this.

There are 2 build definitions in my case for each branch: one that generates the Nuget package, one that consumes it. The one that generates the package doesn’t really have anything special in it other than you need to ensure it’s using the correct versioning (in my case: in dot

[2018-07-09 19:13] eschneider999 commented on #7102
Not sure how this answers any of my questions...

[2018-07-09 20:25] sgreenmsft opened #7104 "IVsPackageInstaller.InstallPackage fails to install package from source not included in NuGet.config"
In VS2017 15.7.4, calling IVsPackageInstaller.InstallPackage with an on-disk source fails.

Steps to reproduce the behavior:
(1) Find or create a nupkg that's not available in any package source specified in %appdata%\nuget\nuget.config.
(2) nuget.exe add that nupkg to C:\temp\packages.
(3) Ensure that C:\temp\packages is *not* a package source listed in %appdata%\nuget\nuget.config.
(4) Create an

[2018-07-09 22:04] nkolev92 commented on #7092
@red8888

Floating versions are only supported with PackageReferences in csproj.

packages.config is a rather old design at this point and we prefer if customers move towards PR whenever appropriate.

Floating versions [docs](https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution#floating-versions)

There's currently no UI handling for floating versions unfortunately.
https:

[2018-07-09 22:37] mishra14 opened #7105 "Fix flaky test in package manager related to data analytics count"
One of the `NuGetPackageManagerTests` is flaky and needs fixing. Sample run: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=1840262&view=ms.vss-test-web.test-result-details

[2018-07-09 23:50] karann-msft commented on #6518
based on discussion with CELA, going forward any new packages that the NuGet team publishes on NuGet.org, should use the following metadata
Author = Microsoft
Copyright = © Microsoft Corporation. All rights reserved.

cc: @rrelyea @skofman1

[2018-07-09 23:55] mishra14 commented on #5595
Closing due to lack of response.

[2018-07-09 23:55] #5595 closed, assigned to nobody

[2018-07-09 23:55] mishra14 commented on #6604
@atsushieno  Please file an issue on dotnet cli and let us know if you are still blocked.

[2018-07-09 23:55] #6604 closed, assigned to nobody

[2018-07-09 23:56] #6790 closed, assigned to nobody

[2018-07-09 23:58] #7085 closed, assigned to nobody

[2018-07-09 23:59] mishra14 commented on #6970
@zhili1208 Have you looked at this yet?

[2018-07-10 00:00] #6971 closed, assigned to nobody

[2018-07-10 00:00] mishra14 commented on #7003
@evil-shrike Please let us know if you are still blocked by this.

[2018-07-10 00:01] #7003 closed, assigned to nobody

[2018-07-10 00:01] mishra14 commented on #6998
@bgavrilMS Please let us know if you are still blocked by this.

[2018-07-10 00:02] #7061 closed, assigned to nobody

[2018-07-10 00:02] rohit21agrawal commented on #6998
closing since @bgavrilMS hasn't responded for over a month. Please feel free to reactivate if there are still any issues.

[2018-07-10 00:02] #6998 closed, assigned to nobody

[2018-07-10 00:33] jainaashish commented on #7047
This is by design, Manage UI at solution level shows the latest version available in the list and the installed version on the right side (in detailed view of the package). This is because a package could have multiple versions installed across projects so we can pick a specific installed version on the left side but on the right side, we can show installed version for each project.

[2018-07-10 00:33] #7047 closed, assigned to nobody

[2018-07-10 05:18] AArnott commented on #7089
No, I don't have a consistent repro for this. I only saw the hang once.

[2018-07-10 08:05] atsushieno commented on #6604
It is a known and long-standing dotnet/cli issue. https://github.com/dotnet/cli/issues/8474 is an example, I also had reported it a few years ago with earlier Ubuntu version (I forgot how it went). What needs to be done is to not depend on dotnet/cli script, unless dev at dotnet/cli becomes serious on that issue.

(I'm an MS internal, no need to re-tag WaitingForCustomer.)

[2018-07-10 10:10] bgavrilMS commented on #6998
Oops, sorry guys, this slipped off my radar. At this point we decided to do a manual packaging by laying out the contents + nuspec etc. There are too many problems with /t:pack, including the fact that the /t:pack  target will actually rebuild ProbB. This is a problem because it will override ProjB.dll which I have signed.

[2018-07-10 15:05] vpenades commented on #6301
Sorry for commenting on a closed issue: `$(NugetPackageRoot)` is not as consistent as it might seem...

We've found that in most cases, it points to `C:\Users\*user*\.nuget\packages\`  but in a few others it points to `C:\Temp\.nuget\packages` Notice the missing slash in the second case.  This detail is causing us some headaches.

[2018-07-10 15:28] AArnott commented on #6301
You can use the msbuild function `EnsureTrailingSlash` to help you.

[2018-07-10 16:51] fernisoites opened #7106 "Access Denied while updating credential via "Nuget sources update""
## Details about Problem

NuGet product used:  NuGet.exe

NuGet version (4.7.0.5148):

Worked before? If so, with which NuGet version: 4.6.2.5055

## Detailed repro steps so we can see the same problem

1. nuget.exe sources update -Name {ANY_NUGET_FEED} -UserName {USER_NAME} -Password {VSTS_TOKEN}

### Verbose Logs
Failed to read NuGet.Config due to unauthorized access. Path: 'C:\Program Files (x8

[2018-07-10 17:07] benjamin-goldman commented on #2150
we are also seeing this issue

[2018-07-10 17:36] anangaur opened #7107 "Improve experiences with NU1107 install failures"

[2018-07-10 17:36] anangaur opened #7108 "Improve customer success with NuGet operations"
Analyze the top reasons for NuGet operations (Install/Update/Restore) failures and fix them

[2018-07-10 18:01] mishra14 commented on #6823
@dsplaisted How can I get the latest sdk/msbuild changes to test the nuget fix?

[2018-07-10 18:10] dsplaisted commented on #6823
@mishra14 It should be in VS 15 Update 7

[2018-07-10 18:35] eluchsinger commented on #912
Bump! Incredible...

[2018-07-10 20:29] clairernovotny commented on #1221
For anyone looking at this old thread, I've just added support for creating these kinds of advanced packages in my MSBuild.Sdk.Extras package:

https://github.com/onovotny/MSBuildSdkExtras#per-runtimeidentifier

[2018-07-10 21:12] clairernovotny commented on #6846
I agree this should be built-in to NuGet. In the interim, my MSBuild.Sdk.Extras allows you to build/package NuGet packages that contain `ref` and `runtimes`:

https://github.com/onovotny/MSBuildSdkExtras#rids

You can set `RuntimeIdentifiers` per TFM turn on the `per-RID` builds with a property, and it'll do the right thing.

[2018-07-10 21:44] clairernovotny commented on #6633
I've implemented this with my Extras here:
https://github.com/onovotny/MSBuildSdkExtras#creating-per-runtimeidentifier-packages

[2018-07-10 21:58] tillig commented on #4102
Wiki URL seems to have changed again. https://github.com/NuGet/Home/wiki/Support-dotnet-add,-update,-remove-pkg

[2018-07-10 23:16] mishra14 commented on #4102
@tillig Thanks. I have updated the link. :)

[2018-07-11 07:52] hamfar commented on #7101
After further testing, I found that this occurs if I install nunit.console first with the -ExcludeVersion, any packages installed after with -ExcludeVersion fails with a dependency on Nunit.Console

[2018-07-11 09:05] hrumhurum opened #7109 "Package Manager Console does not support interactive command line tools"
## Details about Problem

Package Manager Console
Visual Studio 2017 version 15.7.5
OS version: Windows 10 Pro 10.0.17134.112

## Detailed repro steps so we can see the same problem

1. Open Package Manager Console from Visual Studio menu Tools --> NuGet Package Manager --> Package Manager Console

2. Type `cmd` command and hit Enter

3. Note that Package Manager Console is now hanging and no keys

[2018-07-11 09:20] hrumhurum commented on #6763
@jemiller0 PackageReference already works with ASP.NET/.NET Framework projects. We use it on daily basis and cannot be thankful enough to NuGet team for delivering such an excellent feature.

Do you have any specific issues with PackageReference in ASP.NET/.NET Framework projects?

[2018-07-11 09:54] jemiller0 commented on #6763
According to https://docs.microsoft.com/en-us/nuget/reference/migrate-packages-config-to-package-reference, migration is not supported for ASP.NET projects. I guess this is a limitation of Visual Studio. Did you have to convert your projects manually? If so, are there instructions somewhere on how to do so?

[2018-07-11 10:16] hrumhurum commented on #6763
@jemiller0 The absence of PackageReference migration for ASP.NET projects looks like omission. Meanwhile you are welcome to use [NuGet PackageReference Upgrader](https://marketplace.visualstudio.com/items?itemName=CloudNimble.NuGetPackageReferenceUpgrader) which delivers pretty solid results.

[2018-07-11 11:53] pantonis commented on #5979
@rohit21agrawal did you fix the issue where nuget.exe pack supports packagerefence missing dependencies?

[2018-07-11 12:40] bludev commented on #6763
There seem to be [some problems](https://github.com/NuGet/Home/search?q=asp.net+packagereference&type=Issues) to resolve before enabling PackageReference in ASP.NET projects. See also [here](https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html).

[2018-07-11 13:40] jemiller0 commented on #6763
It would be nice if Microsoft would state what their plans are with regard to this. I see them adding all kinds of other enhancements to Visual Studio while not giving something like this priority. IMHO, this should be a top priority because it is a source of a lot of frustration and is more fundamental than a lot of the other stuff they are working on.

[2018-07-11 15:14] matrap commented on #6902
I have also this problem. I got "Unauthorized 401" using PAT and NET Core

### Infrastructure

- TFS 2017 Update 2 (Version 15.117.26714.0)
- Docker version 18.03.1-ce, build 9ee9f40

### Steps to reproduce:

1. Get Personal Access Token (PAT) from Security tab in TFS

2. Use feed from TFS using PAT to authentication.
NuGet.config:

[code]

3. Use Dockerfile:

[code]

4.  Build docker image on .am

[2018-07-11 17:05] mungojam commented on #5602
For CI builds, if we use `UpdateLockFileOnRestore: deny`, will that fail if some packages have been added to the repository and our projects are set to pick up latest package versions?

I'd hope not. It should only fail if it would have no way to meet the PackageReference conditions with what is in the lock file.

[2018-07-11 17:30] anangaur commented on #5602
Lock file will have exact versions of the packages locked and hence if it cannot find the locked version of packages it will fail to update the lock file as you chose the option ‘deny’.
If you want the resolution to change then why set the option to deny?

[2018-07-11 17:42] mungojam commented on #5602
Sorry, probably not made the scenario clear. It's a pretty standard CI build, and I want to be sure that if the default resolution would be different to what is in the lock file it won't error or even warn.

The spec suggested that maybe if the resolution was different it would fail with deny, but it's not clear if that's just if the lock file package resolution is not possible or if the resolutio

[2018-07-11 18:01] qidydl commented on #4234
Problem still exists in NuGet 4.6.2.5055, although after 18 months, I assume this is WONTFIX?

[2018-07-11 18:24] anangaur commented on #5602
Thanks for explaining the scenario. I guess we are on the same page then. Once you have a lock file for a project, the only check we do is if there was a change in requested versions from the time lock file was generated. If not, the lock file is just used to get the packages.

So if you had stated the following:
[code]

And the lock file resolved to 2.0.0 (latest version at the time). On the CI m

[2018-07-11 20:12] PatoBeltran commented on #7092
Closing as all the questions seem to be resolved, feel free to reopen or create a new issue if there are further related concerns.

[2018-07-11 20:12] #7092 closed, assigned to nobody

[2018-07-12 01:57] asalvo commented on #7106
I get the same error using "sources remove".

[2018-07-12 05:23] msaraf1 commented on #5972
I am facing the same issue with the latest version, can anyone help me which version should i use to fix this issue.

[2018-07-12 05:25] msaraf1 opened #7110 "nuget.exe push failed with 400 (Bad request) error"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2018-07-12 08:37] btodts commented on #7053
Ping! Anybody there?

[2018-07-12 08:37] SuperJMN commented on #5979
How is this fixed? I still have the same problem with a 4.6.1 library. Nuget doesn't add the referenced packages as dependencies to the resulting nuspec /nupkg.

[2018-07-12 12:25] pantonis commented on #5979
same problem here

[2018-07-12 16:19] ronnyek opened #7111 "Encapsulating nuget package adds child dependency transitively"
## Details about Problem
I've thought about how to succinctly put my question / problem into words... trying to provide a concrete example

I'm attempting to encapsulate or wrap a library, to control how its accessed. For the purposes of this example lets consider StackExchange.Redis. Ideal workflow, people (my colleagues) would install my wrapper, they'd get my wrappers, and additionally the stac

[2018-07-12 17:32] #6536 closed, assigned to zhili1208

[2018-07-12 17:43] SQLEmil commented on #3324
For anyone watching this, 4.8 Preview 3 is now available for download: https://dist.nuget.org/win-x86-commandline/v4.8.0-preview3/nuget.exe
Have not yet validated if it solves the long path issue, but happened to notice the new version while working on something else.

[2018-07-12 18:05] nkolev92 commented on #5972
@msaraf1
Download the recommended latest from http://nuget.org/downloads.

File another issue with clear repro steps/setup/server if you're facing a similar problem.

[2018-07-12 18:48] rohit21agrawal commented on #5979
no one said this is fixed, it has been duped against : https://github.com/NuGet/Home/issues/4491

[2018-07-12 18:53] nkolev92 opened #7112 "Remove Dev14 hacks/scripts from the codebase"
We need to remove everything dev14 related from the dev codebase.

This means if-defs, build scripts etc.

The target here is a harmless change, no logic changes anywhere in the codebase, merely janitorial work.

[2018-07-12 18:57] nkolev92 commented on #6902
@matrap

What you're articulating might be duplicates of https://github.com/NuGet/Home/issues/2393. and https://github.com/NuGet/Home/issues/5286 /cc @jmyersmsft

@SGStino @matrap
Your problems with the tasks will probably be fixed by the introduction of https://github.com/NuGet/Home/issues/6486

[2018-07-12 19:31] JamesPoli commented on #5887
I'd just like to get a transitive report; something similar to what ivy does: see http://ant.apache.org/ivy/history/2.1.0/use/report.html, or gradle, see https://stackoverflow.com/questions/21645071/using-gradle-to-find-dependency-tree
Perhaps an option to generate a report to the restore/install commands?

[2018-07-12 21:49] PatoBeltran commented on #7008
Okay, so with it seems like the issue is not on your package. Since I still have not been able to reproduce it, I'm inclined to think it might be something specific about your environment that it is making it slow. To understand what it is, could you try a couple of things?

1. Is it possible to replicate this scenario in another machine? You mentioned there is one online machine where this does n

[2018-07-12 21:54] PatoBeltran commented on #7108
Related: https://github.com/NuGet/Home/issues/7107 - Improve experiences with NU1107 install failures

[2018-07-12 22:12] singku opened #7113 "Multiple definitions for target during auto packaing"
I have been searching around but can't find a solution for following example:
[code]
Above scripts can defines a single macro to target. How can I define more than one? Is following the correct way?
[code]

[2018-07-12 22:23] PatoBeltran commented on #7095
hey @dvdobrovolskiy thanks for opening the issue. I tried reproing this by creating a new project and downloading `Hangfire.Core`, but had no success. By looking on the error message you provide, certainly the path `C:\Users\Dz'.nuget\packages\hangfire.core\1.6.19\lib\net45\es\Hangfire.Core.resources.dll` looks weird. What does your `%userprofile%` look like? If you go to `%userprofile%\.nuget\pac

[2018-07-12 22:33] PatoBeltran commented on #7096
Hey @kitdelosreyes thanks for opening the issue, do you see this reproing only with that package in that source? can you test with another package on your feed, or with another feed (e.g. nuget.org)

Are you sure the package is there and the VSTS instance has correct access to it? Can you try updating the nuget exe to the latest version and see if it still repros?

[2018-07-12 23:10] PatoBeltran commented on #7098
Hey @Joev- thanks for opening the issue. This behavior you mention is by design.

Packages config, uses the V2 protocol, which has a different directory structure from Package Reference, which uses the V3.

Now, you don't need to specify `-PackagesDirectory packages` to your restore unless you explicitly want your packages to be in that location. On Package Reference, we switched over from the sol

[2018-07-12 23:14] PatoBeltran commented on #7099
Issue moved to [NuGet/NuGetGallery #6162](https://github.com/NuGet/NuGetGallery/issues/6162) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-12 23:14] #7099 closed, assigned to nobody

[2018-07-12 23:15] PatoBeltran commented on #7099
@csimone86 I moved this to `NuGetGallery` since they own the nuget server implementation.

[2018-07-12 23:37] PatoBeltran commented on #7100
Hey @JCookVF thanks for opening this issue. This scenario in fact is of our the current pain points we are tackling, we already have an issue tracking this work (https://github.com/NuGet/Home/issues/6104). We are actively working on fixing this and you should be hearing of this experience getting solved soon, please feel free to follow up and continue the conversation in the linked issue. I will c

[2018-07-12 23:37] #7100 closed, assigned to nobody

[2018-07-12 23:51] #6885 closed, assigned to rohit21agrawal

[2018-07-12 23:56] rrelyea commented on #6823
Unsure if we target 15.8, 15.9 or 16.0 with this fix. Keeping in 4.8 milestone for now, but we'll decide where to back port it after we have fix.

[2018-07-12 23:59] rrelyea commented on #6607
feel free to dupe, if covered by other issues.

[2018-07-13 00:01] rrelyea commented on #6510
do you know if this already works?

[2018-07-13 00:19] PatoBeltran commented on #7101
hey @hamfar thanks for the issue, I was trying to repro your problem but I had no luck. I tried creating a new folder and ran `nuget.exe install NUnit.console -ExcludeVersion -Source https://api.nuget.org/v3/index.json` and after that I ran `nuget.exe install newtonsoft.json -ExcludeVersion -Source https://api.nuget.org/v3/index.json` and it installed successfully.

Can you provide a repro project

[2018-07-13 00:22] mishra14 commented on #6510
This already works with csproj properties in PackageReference.

[2018-07-13 00:22] #6510 closed, assigned to mishra14

[2018-07-13 01:46] kitdelosreyes commented on #7096
Certain that the package is present as manually executing it fetches it successfully. We'll try using the latest nuget version

[2018-07-13 03:40] amaitland commented on #4856
For reference the `CefSharp` Items are included as `<None/>` entries, perhaps you can try https://github.com/dotnet/project-system/issues/1126#issuecomment-271741179

[2018-07-13 08:27] Joev- commented on #7098
Hi @PatoBeltran

Thanks for the explanation, I can see the benefits of sharing packages between projects, I must have missed the announcement on the design changes and it caught me out.

Is there a reasonable solution for referencing a package's directory from a shared MSBuild script? I am aware of the `.nuget.g.props` and `.targets` files, but they don't help me in this situation as this script i

[2018-07-13 11:30] piksel commented on #4463
For anyone else finding this and needs a workaround, save the following as `Directory.Build.props` in your project directory:
[code]
This will cause `project.assets.json` to be written to `$(ProjectDir)\obj\ProjectFileWithNoExtension\project.assets.json`. And works fine with multiple `.csproj` in the same directory (what I needed).

Comment on this gist if it's not related to the issue: https://gi

[2018-07-13 12:41] pascalberger opened #7114 "Provide version 4.7 of nuget.commandline package"
4.7 became the recommended latest version, but [nuget.commandline package](https://www.nuget.org/packages/NuGet.CommandLine/) is still at 4.6.2.

Can you please update the package to 4.7.

Would it also be possible to have this package updated as part of your regular build chain to have it always updated to the latest recommended version?

[2018-07-13 13:43] lucasgl commented on #4463
Any reason BaseIntermediateOutputPath cannot also override MSBuildProjectExtensionsPath?
(I would guess ordering...)

[2018-07-13 15:13] nkolev92 commented on #4463
@lucasgl

NuGet now respects `MSBuildProjectExtensionsPath`.

Please refer to https://github.com/Microsoft/msbuild/issues/1603 and https://github.com/NuGet/NuGet.Client/pull/2131 and https://github.com/NuGet/NuGet.Client/pull/2121.

`MSBuildProjectExtensionsPath` defaults to `BaseIntermediateOutputPath`, the trick you need to set it early enough in the evaluation to avoid these problems. Doing in

[2018-07-13 16:56] dotMorten commented on #6104
@tmat

No I did not mean submodules. Each repo builds different DLLs, and the nuget packaging assembles them all. In my case one repo for one of C++ DLLs (multiple architectures) a another repo for a .NET AnyCPU DLL + a C++ (Multi-architecture) DLL. We don't use submodules, since that requires us to daily update the commit ID, so the dependency can be referenced by master daily or log onto a tag w

[2018-07-13 17:51] tmat commented on #6104
@dotMorten In that case each repo is responsible for generating SourceLink for the binaries it produces and embedding it into the PDBs corresponding to these binaries.

[2018-07-13 19:34] PatoBeltran commented on #7102
Hey @eschneider999 I'm not sure I understand what you are trying to do. In your csproj you can have conditions on an item group, so you could have different item groups with different dependencies based on whichever variable you want. Something like:

[code]

Does this solve your question?

[2018-07-13 20:03] eschneider999 commented on #7102
the projects are just sample projects. The user will only look at these for reference to understanding the ORM.

What I would like is and options dialog, which the user can pick a database vendor.
Making a package for each database is a pain and can cause me circular reference issues when deploying.

[2018-07-13 20:08] Eilon opened #7115 "PC -> PR migration dialog incorrectly states 'lib\lib\foo.dll' for 'lib\foo.dll'"
This happens in default ASP.NET 4.x Web App projects (once you remove the ProjectTypeGuid to enable the migration dialog to show up).

In particular, this happens with the Antlr and WebGrease packages. I verified that at least for WebGrease there is no such `lib\lib\` folder:

[code]

So, this seems like a UI bug where the `lib\` prefix is incorrectly prepended in the warning messages.

cc @rrelye

[2018-07-13 20:29] jotaylo commented on #5004
Well over a year later, this is still an issue.

[2018-07-13 21:11] PatoBeltran commented on #7106
Hey @fernisoites thanks for opening the issue! It is weird that nuget.exe is trying to update the config file in `C:\Program Files (x86)\NuGet\Config\`, it usually tries to write by default to the user global config found in `%appdata%\NuGet`, therefore this looks like a bug.

Does this happen with any source or are you seeing this repro with a specific one? Also, can you give me more information

[2018-07-13 21:28] PatoBeltran commented on #7109
@hrumhurum thanks for opening this issue!

This is a scenario that we don't currently support. PMC is thought of as a command line alternative to the Package Manager UI, not as a general usage shell for VS.

I can see how enabling this scenario could be usefull so I will set this issue as a DCR in our backlog and prioritize it with our other planned work. Thanks for helping us improve the VS exper

[2018-07-13 21:38] PatoBeltran commented on #7102
The scenario you are talking about is not supported by our tools. There is no way to control NuGet transitive resolution based on user input, and also you cannot have granular control for assets selected during restore.

The way I see it, there are two ways you can solve this issue:

1. Create a package with everything, where you have a switch in your code and only let the user actually use what y

[2018-07-13 21:38] #7102 closed, assigned to nobody

[2018-07-13 21:39] PatoBeltran commented on #7114
I know you are on this @nkolev92

[2018-07-13 21:46] nkolev92 commented on #7114
I just pushed it.
It should be available shortly.

/cc @rrelyea.

@pascalberger
Updating it as part of the regular build chain is not a good idea as that's not stable.

The contract for update self is that will update to the latest stable.

We won't allow it to update to prerelease before first enhancing the command.

Related:
https://github.com/NuGet/Home/issues/4197
https://github.com/NuGet/Home

[2018-07-13 21:46] #7114 closed, assigned to nkolev92

[2018-07-13 21:58] nkolev92 opened #7116 "To fix `NuGet update self` NuGet.Commandline nupkg should not be semver2.0"
Currently it is https://www.nuget.org/packages/NuGet.CommandLine/4.7.0.

This prevents updates from clients `< 4.3` to 4.7.0.

//cc @rrelyea

//cc @NuGet/nuget-client

[2018-07-13 22:04] fernisoites commented on #7106
Hey @PatoBeltran thanks for responding. I do have a `nuget.config` under `%appdata%\Nuget`, and it's just a plain placeholder nuget config without any modification. I was running the command from the root of our repo, under which there was another `nuget.config` which contains a few different Nuget feeds from several VSTS accounts, and Nuget.exe version 4.7.* failed to updated for everyone of them

[2018-07-13 23:07] PatoBeltran commented on #7106
I was able to repro this with nuget.exe 4.7.0, but then I tried with the latest 4.8.0 nuget.exe and it seems like it does not repro. Can you try using the latest available 4.8.0 nuget.exe and see if the issue still exists? You can get a 4.8.0 copy from https://www.nuget.org/downloads

[2018-07-13 23:09] PatoBeltran commented on #7096
And does this only happen with this package? or does it happen with every other package in this feed? Could it be that the VSTS instance does not have the correct access to the feed? If you look for a package in another feed does it work?

[2018-07-13 23:22] PatoBeltran commented on #7110
Hey @msaraf1 thanks for opening the issue! I'm trying to understand and reproduce your issue but I haven't had any success. Can you please give me more information about your scenario? [Here](https://docs.microsoft.com/en-us/nuget/tools/cli-ref-push) is the documentation for the nuget push command.

How was the package you are trying to push generated? Is the name of the package empty (only ".npkg

[2018-07-13 23:39] PatoBeltran commented on #7115
This issue happens because `AnalysisResources.Migrator_AssemblyDirectlyUnderLibWarning` referenced [here](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/Rules/RuleSet.cs#L33) is prepending `lib\` to the file path of the assembly, which already has `lib\`. the fix can be to update the `AnalysisResources.Migrator_AssemblyDirectlyUnderLibWarning` string or use only the

[2018-07-13 23:40] PatoBeltran commented on #7115
cc @rohit21agrawal

[2018-07-14 00:02] nguerrera opened #7117 "Feature Request: Add options for patching csproj for nuget packages"
_From @dasjestyr on July 13, 2018 20:40_

When running `dotnet pack` or  `dotnet build` (when csproj is set to package on build) it would be helpful to have the ability to include a version number that will be auto-patched into the nuspec. The use case being CI/CD systems where I want packages to be pushed as part of the automated deployment step. So for example, my build script would call somethi

[2018-07-14 00:02] nguerrera commented on #7117
Does `dotnet pack /p:PackageVersion=4.3.2${bamboo.buildNumber}` not work?

[2018-07-14 00:25] PatoBeltran commented on #7111
Hey @ronnyek thanks for opening the issue! `ExcludeAssets="compile"` should be the solution you are looking for. This basically tells the compiler in the package consumer's machine to not compile against your dependency dlls. Is this breaking your scenario? What's happening and what do you expect to happen?

Here is a link to a previous related issue that we had https://github.com/NuGet/Home/issue

[2018-07-14 00:28] eschneider999 commented on #7102
Why not add support for it, should be pretty easy

On July 13, 2018 4:38:38 PM CDT, Patricio Beltran <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-07-14 00:30] PatoBeltran commented on #7098
In Package Reference there is the concept of the `project.assets.json` file (it is under the `obj/` directory). This file has all the information about the dependencies (top level and transitive) references in a given project and where they are stored. You could use that file to get information about where the packages are located and referencing the dlls. Is this useful?

[2018-07-14 00:36] PatoBeltran commented on #7113
Hey @singku I think you opened this issue by mistake since I'm not familiar with the scripting you are talking about. Can you please clarify how is this related to NuGet tools? Thanks!

[2018-07-14 00:42] ronnyek commented on #7111
With it set to compile it will build a package and my consumer can install it... But for my library to work I still have to install the child dependency into the consumer itself directly... Thus being really no better off.

I'm trying to make it so installing my package would bring along the child reference... But child reference wouldn't be automatically added at dev time. I don't want intellisen

[2018-07-14 03:28] emgarten commented on #7116
Wouldn't 4.2 clients update to 4.6 and then update the next time to 4.7?

[2018-07-14 09:39] ap0llo commented on #2834
Is this issue still open? I tried to reproduce it with the latest version of `nuget.exe` but it did not seem to produce a warning for assemblies in `build`

[2018-07-15 07:39] pascalberger commented on #7114
@nkolev92 Thanks for the update.

To give some context, I'm deploying NuGet through Chocolatey. The [Chocolatey Package](https://chocolatey.org/packages/NuGet.CommandLine) is updated whenever the NuGet package is updated which is why I need this NuGet package to be up to date.

Also is there a reason to have it now using a SemVer2 version number containing metadata which will break access to it fr

[2018-07-15 17:14] nkolev92 commented on #7116
@emgarten
Yeah that's true.

It's just inconvenient :)

[2018-07-15 17:18] nkolev92 commented on #7114
@pascalberger
Do you really need unstable builds in that case?
I think depending on whatever is published on nuget.org is the correct approach here as that's a stable and vetted release vs depending on the nightly build which might have unforeseen regressions.

Regarding the semver2 metadata, I created an issue about that:
https://github.com/NuGet/Home/issues/7116

We do that with the rest of our

[2018-07-15 17:47] pascalberger commented on #7114
@nkolev92 I didn't ask for unstable nightly builds to be published, but for a reliable way to have the nuget.commandline package updated to latest version, as I had to request an update to latest recommended version for several times in the past (https://github.com/NuGet/Home/issues/5784, https://github.com/NuGet/Home/issues/6203). Therefore it would be nice to have the package automatically updat

[2018-07-15 17:49] pascalberger commented on #7116
@emgarten I for example consume the package through Chocolatey which doesn't handle semver2 yet. So SemVer2 might not be an issue for people consuming it through nuget.exe, but there might also be other clients which are more of an issue.

[2018-07-15 18:55] nkolev92 commented on #7114
@pascalberger

For

please refer to the following issue: https://github.com/NuGet/Home/issues/4851

//cc @rrelyea

[2018-07-15 19:26] pascalberger commented on #7114
@nkolev92 #4851 makes perfect sense. My point was that the points below point 5 were not always made at the same time in the past, also for example for 4.7 leading to this issue, and therefore my suggestion to automate this step to not forget it to publish to nuget.org.

[2018-07-15 21:34] dasjestyr commented on #7117
It does, however it's very specific in that I have to specify the entire version so I'm not sure how I could keep a major.minor.patch theme going. For example, I'd want to set the version in the csproj (e.g. 4.3.2) and then be able to have the build server set the revision/build number (e.g. 4.3.1.5121)  or even pre-release suffixes as well (e.g. 4.3.1.5121-pre). I would have to update the build c

[2018-07-15 21:44] dasjestyr commented on #7117
I'm not sure what would be possible, but maybe something along the lines of `dotnet pack myproject.csproj /p:PackageVersion=PackageVersion.${bamboo.buildNumber}`. That would allow me to append to whatever version is already set in the file. I'm not sure how to work the internal variable though... but basically, this would allow the user to work with the values within the csproj

[2018-07-16 01:59] kitdelosreyes commented on #7096
this is the only package we use in the feed. possible that vsts instance does not have access to the feed (dkfile12) - we'll trace this and check further

[2018-07-16 02:00] matkoch opened #7118 "NuGet command-line download and packages"
I'm wondering why all those sources are not in sync:

- https://www.nuget.org/downloads
- https://www.nuget.org/packages/NuGet.CommandLine
- https://api-v2v3search-0.nuget.org/query?q=packageid:NuGet.CommandLine

The first seems to be the most accurate. Second has a strange semver 2.0. And third is only at 4.6.2.

[2018-07-16 03:51] StingyJack commented on #7117
XDT may also be useful for patching the proj file, and its already in (was?) the package install process.

[2018-07-16 05:16] dasjestyr commented on #7117
Not 100% what you're referring to. I mean, I know what xdt is, just not clear on what you're thinking. But, I did a quick search and landed on a global tool here: https://github.com/nil4/dotnet-transform-xdt that seems like it might possibly be able to get the job done once I figure out how to work with it. Not quite sure though...  it has to work with both linux and windows build agents; not sure

[2018-07-16 06:36] v-luzh opened #7119 "[Test Failure] Fail to install NuGet Client Dev 5.0.0.5339 into D16.0stg 27913.3000"
## Details about Problem
NuGet version: NuGet Client Dev 5.0.0.5339
VS Version: D16.0stg 27913.3000
OS Version: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps
1.	Instll OS “RS4_Release 17134.1.180410-1804” into a clean machine.
2.	Run “preinstall.cmd”.
3.	Install VS: d16.0stg 27913.3000 (Enterprise).
4.	Install NuGet Client Dev 5.0.0.5339 on top of d16.0stg as "VsTargetBranch"

[2018-07-16 10:03] pascalberger commented on #7008
@PatoBeltran

@PatoBeltran

I can reproduce this behavior on all machines in a certain (offline) network (or better said using different images on different VM hosts).

There's no CPU consumed from NuGet.exe while running `nuget verify`.

I might find some time later to do some deeper analysis.

[2018-07-16 10:15] adam-stewart-reddeer commented on #2365
How can i get a version of [Microsoft.Office.Interop.Excel](https://www.nuget.org/packages/Microsoft.Office.Interop.Excel/) that is ready for PackageReference ? Thanks

[2018-07-16 10:28] pascalberger commented on #7008
I tried again the `verify` command and it completes in approximately 4 minutes with the following output (no clue why it didn't succeed before):

[code]

[2018-07-16 10:38] gep13 commented on #7008
This part is very concerning to me, and will no doubt causes lots of problems to people running in an isolated environment.

[2018-07-16 10:48] pascalberger commented on #7008
@PatoBeltran Here's a mini dump file taken while it was "hanging" with the following output on the console:

[code]

https://wetransfer.com/downloads/2ab0eef94f578c86fe957f9483f010e220180716104424/b0f1df9382bad138bb7c65f025adb67a20180716104424/dbf40c

[2018-07-16 10:49] pascalberger commented on #7008
I also tried with https://dist.nuget.org/win-x86-commandline/v4.8.0-preview3/nuget.exe, which has the same behavior as 4.6.2 which I'm currently using

[2018-07-16 12:07] StingyJack commented on #7108
@anangaur - What are you measuring "top" by?

[2018-07-16 12:14] StingyJack opened #7120 "Is periodically deleting the `project.assets.json` (the whole obj folder) going to cause problems for nuget?"
Per [this comment](https://github.com/NuGet/Home/issues/7098#issuecomment-404984941)

In order to get a _clean_ build with as little reference "help" from VS as possible, it is required that I delete the bin/obj folders prior to building the solution/project. Is periodically deleting this `project.assets.json` going to be a problem?

[2018-07-16 12:25] StingyJack commented on #7117
[These are the XDT stuffs I mean](https://docs.microsoft.com/en-us/nuget/create-packages/source-and-config-file-transformations). You can alter the config files in the same way VS does for web.config debug/release transforms. I use this to add a few <appSetting> elements or <system.serviceModel> endpoints in a few private packages.

The csproj is XML so it seems like a "natural" fit to use XDT on

[2018-07-16 13:21] nguerrera commented on #7117
msbuild is very dynamic. You can condition and populate things based on properties and you can pass arbitrary properties via /p:propertyname=value.

It should be possible to cause the evaluation of your project to match what you have in mind as a transform without actually editing the .csproj file on disk.

[2018-07-16 14:53] dasMulli commented on #7117
You could also edit the csproj file to set the version number like this:

[code]

This will allow you to build using

[code]

[2018-07-16 15:47] anangaur commented on #7108
Count/% of failure rate that can be attributed to a given reason or an error code.

[2018-07-16 17:18] dasjestyr commented on #7117
Oh! I was unaware of this. Excellent, thank you! I will give this a try today hopefully

@nguerrera I don't think I ever really learned this about msbuild; totally makes sense now that I look at it. Very cool. Is this documented somewhere I can dig into it??

[2018-07-16 18:01] dasMulli commented on #7117
fyi there are 2 related issues (I've been posting snippets similar to the one above everywhere):
https://github.com/dotnet/cli/issues/2676
https://github.com/dotnet/cli/issues/4859

Tricks like these are notoriously hard to document since "the MSBuild language" that csproj uses is more like a programming language than a static DSL / config file. So whatever your requirements, you may be able to co

[2018-07-16 20:31] dasjestyr commented on #7117
Oh yeah, I just took a minute to try it out. Gangbusters. This'll work. Thanks!

[2018-07-16 21:34] StingyJack commented on #7108
Please also consider stats like "average amount of time spent working around issues" or "significance of impediment".   Counts (and votes) often miss the actual impact measurement.

[2018-07-16 22:21] rohit21agrawal commented on #7117
closing issue. thanks everyone!

[2018-07-16 22:21] #7117 closed, assigned to nobody

[2018-07-16 22:22] rohit21agrawal commented on #7113
closing due to lack of response. please feel free to reactive if needed.

[2018-07-16 22:22] #7113 closed, assigned to nobody

[2018-07-16 22:25] singku commented on #7113
It turns out that in following content in .autopkg file:
[code]

Can help defining multiple preprocessors macros for you.

[2018-07-16 22:27] rohit21agrawal commented on #7113
autopkg is not owned by nuget .please file an issue on their repository: https://github.com/autopkg/autopkg

[2018-07-16 22:30] singku commented on #7113
I mean the packaging specification when writing a Nuget package. Sorry for the confusion.

[2018-07-16 23:29] peterhuene opened #7121 "Feature Request: Add dotnet nuget list cli"
_From @divinebovine on July 9, 2018 19:37_

This is a feature request to add the listing capability from the nuget cli. Currently there is no way to use the dotnet cli to query a nuget server for a list of available packages with their versions. It would be nice to be able to do this so CI tools can check to make sure a push won't overwrite existing packages.

_Copied from original issue: dotnet/c

[2018-07-17 00:34] nkolev92 commented on #7119
The extension manifest says which versions are compatible.
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio.Client/source.extension.vs15.vsixmanifest

This is part of the cleanup prepping 15.x to 16.x migration.

We might need to update the dependencies and the SDK used to build the VSIX.
//cc @NuGet/nuget-client

[2018-07-17 11:34] hamfar commented on #7101
Hi,

Thanks for this information, it has shed light on the issue. I am investigating a 3rd party application we are using. This has a connector to Nuget.org and could be why there is a mix between v2 and v3

Thanks

[2018-07-17 13:12] jonnovaretti opened #7122 "nuget msbuild targets doesnt copy file"
I'm creating a package with a config file.

I want to copy this config file with CopyOutputDirectory = Always.

I followed this topic: How can I set the 'copy to output directory' property in my nuspec file?

But even that, there is some problem because nothing happens at final nuget instalation. I dont know where I make a mistake

My nuspec is something like that:

[code]

And my targets is that:

[2018-07-17 14:29] fernisoites commented on #7106
I just tried Nuget version 4.8.0.5278, the issue still repros

[2018-07-17 15:59] gfraiteur commented on #7084
The change is implemented on our side.
We're contacting our users.

http://www.postsharp.net/blog/post/Breaking-change-expected-in-Visual-Studio-2017-Update-8

[2018-07-17 16:43] ronnyek commented on #7111
In addition to this, it seems like setting `ExcludeAssets="compile"` seem to introduce my consuming applications to explicitly require a reference to the inner nuget package... which introduces a world of versioning problems

[2018-07-17 17:07] ronnyek commented on #7111
I think there is a learning opportunity here for myself, and I think there is a chance I'm using the wrong tool for the job.

Outside of PrivateAssets / IncludeAssets/  ExcludeAssets, is there a way to make a child nuget dependency something that gets installed when my lib is installed, but not just blindly added as a reference to the consumer of my library.

(Eg, I suspect if I were to manually c

[2018-07-17 18:18] zhili1208 commented on #6929
https://github.com/NuGet/NuGet.Client/pull/2264

[2018-07-17 18:18] #6929 closed, assigned to zhili1208

[2018-07-17 18:18] #6557 closed, assigned to zhili1208

[2018-07-17 18:27] ronnyek commented on #7111
As perhaps a more simple example... I just installed` Microsoft.Extensions.Caching.Redis` to a new dotnet core web application... and then in code started typing `ConnectionMulti...` and visual studio suggested I import `StackExchange.Redis` which basically removes any ability to encapsulate.

My understanding is this is just the way .net core / nuget work, so other than just maybe having fature r

[2018-07-17 18:29] hauteur commented on #2696
@Stefan-deHoDev

I'm not positive that this is the same, but I was dealing with the same issue.  What fixed it for me was to install the language packs on the target device before I installed the application.  Alternatively, you can create config files that will bundle all of the resource files into the appx bundle.

https://docs.microsoft.com/en-us/windows/uwp/app-resources/specify-default-resour

[2018-07-17 18:31] rrelyea commented on #3324
Hey, @SQLEmil you stole my thunder. I was waiting to announce that until we had the docs written and published too.   :-)

Yes, install 4.8 preview 3 of nuget.exe.
See requirements and config change needed here: https://docs.microsoft.com/en-us/nuget/tools/cli-ref-long-path

Please let us know how it works.

[2018-07-17 18:34] rrelyea commented on #3324
@ptutt1  - Sorry, we aren't supporting this on Windows Server 2012. It requires a minimum OS of Windows 10 or Windows Server 2016. Not sure why it was working someplaces.

[2018-07-17 18:42] rrelyea commented on #3324
@bleaker19  - good question. That package names seems pretty crazy. Please give feedback to the package author if it is impacting you.

We have two checks in pack right now.
1) we error if the ID is more than 100 chars.
2) we warn if the total path of any content in a package + the package name is more than 200 chars.

the 2nd one is new.

We'd love feedback, if you have ideas on how to improve th

[2018-07-17 18:49] PatoBeltran commented on #7008
@pascalberger the log messages you saw when you run `nuget verify` are the expected behavior, so it is good to see that part working now. I still need to investigate why it is taking 4 minutes for it to finish. I will take a look at the mini dump you provided. You said that `nuget verify` is not consuming any CPU while waiting, this means it is not stuck on doing computation, rather it is only wai

[2018-07-17 18:59] lokki commented on #3891
Can it be made that when a referenced project has IsPackable=false that it is included as DLL and all it's references are included as package references to the packable project?

[2018-07-17 19:03] gep13 commented on #7008
@gep13 the message The revocation function was unable to check revocation because the revocation server was offline. is given by the OS while not being able to verify correctly the revocation status, the reason this is a warning is because there is no way to know if the revocation server is unreachable or if the computer does not have access to a network.

Yes, I believe we are on the same page in

[2018-07-17 19:03] pascalberger commented on #7008
@PatoBeltran I think main difference in the network where it doesn't work is that machines are not domain joined and access to internet is blocked by a firewall. Package server (V2 feed on a ProGet server) is the same as in the other network where it works.

[2018-07-17 20:11] PatoBeltran commented on #6318
@mishra14 is this fixed?

[2018-07-17 20:58] skofman1 opened #7123 "please automatically update dependencies in .nuspec file when update package reference by Nuget Manager"
@softboy99 commented on [Fri Jul 13 2018](https://github.com/NuGet/NuGetGallery/issues/6164)

please automatically update dependencies in .nuspec file when update package reference by Nuget Manager,Otherwise, when forget to update the dependencies in .nuspec file manually, after package builded and published, it will cause the MSBuild runtime error for loading the old version dependency when this

[2018-07-17 21:07] anangaur opened #7124 "Toolkit.Services nupkg does not install with packages.config"
From https://github.com/Microsoft/WindowsCommunityToolkit/issues/2303

@rido-min wrote:

I tried to install Microsoft.Toolkit.Services 3.0.0 nuget package in my WinForms 4.7 project, but the install fails with:

`Unable to resolve dependency 'Microsoft.Identity.Client'. Source(s) used: 'nuget.org', 'Microsoft Visual Studio Offline Packages'.`

Because of Identity.Client is in preview I also tried

[2018-07-17 21:08] anangaur commented on #7124
This installs just fine with `PackageReference`. Not sure where the bug is. IMO, this package should just install fine.

[2018-07-17 21:46] rido-min commented on #6411
@mishra14 is this closed?

[2018-07-17 21:47] #6250 closed, assigned to dtivel

[2018-07-17 23:17] mishra14 commented on #6411
Is this the information that you wanted -

[code]

[2018-07-17 23:20] rido-min commented on #6411
is this from VS? which verbosity level? do we see the same logs from MSBuild?

[2018-07-17 23:20] jainaashish commented on #5838
@fourpastmidnight can you tell me where did you preserve your custom feeds? in user level `nuget.config` file under `%appdata%\NuGet` or solution level nuget.config file, etc...? And do you also see this issue with a blank new project?

I just tried it with 15.7 (updating from 15.7.3 to 15.7.5) but wasn't able to repro. I had my custom feeds inside user-level nuget.config file.

[2018-07-17 23:32] mishra14 commented on #6411
This is from the output window in VS on package install for legacy csproj project.

[2018-07-17 23:37] fourpastmidnight commented on #5838
My other NuGet feeds are stored in Visual Studio's settings (Tools | Options...). BTW, this also happened for extra Extension feeds, too.

Actually, the last time I installed an update to Visual Studio (15.7.5 just last week), I was smart enough to export _ALL_ my Visual Studio settings before applying the update since I've had lots of problems with settings, in general, being wiped out or corrupt

[2018-07-17 23:48] rido-min opened #7125 "Allow uploading certificates with PEM encoding using CRT files."
Most CA's share public keys in PEM format using CRT files, but NuGet.org only accepts .CER files in DER format.

Users must import/export or convert the certificate from one format to another.

/cc @onovotny

[2018-07-17 23:49] joelverhagen commented on #7125
Today we only support DER encoded.

Another common format is base64 encoded, e.g.

[code]

[2018-07-17 23:53] jainaashish commented on #5838
can you look into `%appdata%\NuGet\NuGet.config` file on disk and confirm that your custom feeds are listed there?

[2018-07-18 00:16] #7125 closed, assigned to nobody

[2018-07-18 00:16] joelverhagen commented on #7125
Issue moved to [NuGet/NuGetGallery #6178](https://github.com/NuGet/NuGetGallery/issues/6178) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-18 06:13] nkolev92 commented on #7124
This is a duplicate of #2944

[2018-07-18 06:13] #7124 closed, assigned to nobody

[2018-07-18 06:22] nkolev92 commented on #7121
Duplicate of https://github.com/NuGet/Home/issues/6060

[2018-07-18 06:22] #7121 closed, assigned to nobody

[2018-07-18 10:04] v-luzh commented on #7119
Fixed on NuGet Client Dev 5.0.0.5346.

[2018-07-18 16:54] jainaashish commented on #6756
As part of this bug, we should also look at other exception classes and make them serializable as well.

[2018-07-18 17:28] jainaashish commented on #6518
@karann-msft @anangaur why shouldn't project url be `nuget.org`?

[2018-07-18 17:33] anangaur commented on #6518
There is often this confusion between `projectURL` and `repository` metadata fields. IMO, `projectURL` should be nuget.org and `repository` should point to the GitHub repo. We are planning to show the repository info on nuget.org, soon!

[2018-07-18 19:52] #7119 closed, assigned to rohit21agrawal

[2018-07-18 19:55] mishra14 commented on #7120
@StingyJack Please help us understand your requirement here.

What are you trying to do here?
NuGet has options to force restore via `nuget restore -force` or `dotnet restore --force`.

[2018-07-18 21:36] jainaashish commented on #7103
PR merged.

[2018-07-18 21:36] #7103 closed, assigned to jainaashish

[2018-07-18 22:10] dotMorten commented on #6104
@tmat SourceLink appears to be a Roslyn feature and doesn't help PDBs for C++ libraries.

[2018-07-18 22:35] mishra14 commented on #6990
Closing this due to lack of customer response.

[2018-07-18 22:35] #6990 closed, assigned to nobody

[2018-07-18 22:36] mishra14 commented on #6845
Closing due to lack of customer response.

[2018-07-18 22:36] #6845 closed, assigned to nobody

[2018-07-18 23:41] tmat commented on #6104
@dotMorten We have implemented support for Source Link in C++ as well. Let me check when is the feature expected to be released.

[2018-07-18 23:44] tmat commented on #6104
@dotMorten VS 2017 Update 8.

[2018-07-19 00:06] nguerrera opened #7126 "LockFile.LogMessages silently drops messages with codes introduced in later versions of NuGet"
_From @mishra14 on July 18, 2018 1:19_

## Issue
I am seeing that sdk is not picking up/displaying all the errors from the assets file for a .NET core project in VS.

## Steps -
1. Download the following zip and change the extension to `.nupkg` -
[SignedPackage.1.0.0.zip](https://github.com/dotnet/sdk/files/2203929/SignedPackage.1.0.0.zip)
2. Install the package in VS to a .NET Core console app.
3

[2018-07-19 00:06] nguerrera commented on #7126
I had a repro of this and  then after another restore, all the messages went away from the assets file. Is there some sort of caching of the signature checking?

[2018-07-19 00:07] nguerrera commented on #7126
_From @mishra14 on July 18, 2018 23:14_

@nguerrera once the package is extracted the warnings will not appear in the next restore.
Before each restore, clear the global packages folder (`dotnet nuget locals --clear all`) or delete the package folder from there (`rm -r <global_packages_folder>\signedpackage`).

[2018-07-19 00:07] nguerrera commented on #7126
OK, this one was fun to debug...

We are actually getting back only two messages from `NuGet.ProjectModel.LockFile.LogMessages`!

The third one is deemed invalid here:
https://github.com/NuGet/NuGet.Client/blob/b82a7274e5f58c8af2eb052b8ff98d3d29fed66e/src/NuGet.Core/NuGet.ProjectModel/LockFile/LockFileFormat.cs#L393-L395

This will happen if the version of nuget in your sdk is older than the versi

[2018-07-19 00:28] nkolev92 commented on #7077
The tool is removed from the template right now.

[2018-07-19 00:28] #7077 closed, assigned to nkolev92

[2018-07-19 00:37] mishra14 commented on #7126
@nguerrera Thanks for the root cause analysis.

We should work a long term solution for this, because any mismatch between nuget versions in sdk and vs can hide errors and warnings. I will tag the bug accordingly.

[2018-07-19 04:19] StingyJack commented on #7120
Visual Studio has always had the habit of finding a referenced library for a project when one was not where the project thought it should be. Sometimes that's useful and sometimes its led to broken deployments.   In order to check that behavior periodically I'll either manually delete the bin/obj folders or run a script like [this one](https://github.com/StingyJack/Vs-Utility/blob/master/Remove-So

[2018-07-19 06:06] karann-msft opened #7127 "TFVC + VS 2017 + VS expects to see the manually deleted solution level packages folder"
@Rod-in-NM commented on [Tue Jul 17 2018](https://github.com/NuGet/docs.microsoft.com-nuget/issues/983)

I have been struggling with this issue. I wasn't able to check in the project into TFVC. I talked with our TFS admin. He said that even though I had manually deleted the packages folder, VS 2017 still thought that the packages folder existed, at least as a part of the solution. I had to Undo pa

[2018-07-19 06:07] karann-msft opened #7128 "It will require admin rights"
@vivekwaghmare commented on [Wed Jul 18 2018](https://github.com/NuGet/docs.microsoft.com-nuget/issues/984)

On some installations specially in enterprise setup of Domain(active directory) nuget.exe may not work correctly if not ran with admin rights. I was expecting it to be documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-07-19 10:26] v-luzh opened #7129 "[Test Failure] Full restore instead of 'No-op restore' occur for the first MSBuild restore"
## Details about Problem
NuGet version: NuGet Client Release-4.8.0-RTM 4.8.0.5348
VS Version: D15.8 27918.00
OS Version: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps
1. Create a C# Console App (.NET Core 2.1) project.
2. Wait for the project auto restore completely.
3. Go to the VS developer command prompt and do ‘msbuild /t:restore /v:d’.

## Expected
No-Op restore will show

[2018-07-19 15:41] hickford opened #7130 "PackageResolver.Resolve throws ArgumentOutOfRangeException for empty list of targets"
Given empty list of targets, [PackageResolver.Resolve](https://github.com/NuGet/NuGet.Client/blob/7dec8e2bcbda2f7478f66a2c7f8095f845d98c79/src/NuGet.Core/NuGet.Resolver/PackageResolver.cs#L26) in the assembly NuGet.Resolver in package [NuGet.Resolver](https://www.nuget.org/packages/NuGet.Resolver/4.7.0) throws ArgumentOutOfRangeException.

To reproduce:

    using NuGet.Common;
    using NuGet.Con

[2018-07-19 15:48] hickford commented on #7130
The ArgumentOutOfRangeException is thrown by [CombinationSolver<T>.FindSolution](https://github.com/NuGet/NuGet.Client/blob/7dec8e2bcbda2f7478f66a2c7f8095f845d98c79/src/NuGet.Core/NuGet.Resolver/CombinationSolver.cs#L128)

[2018-07-19 18:30] mishra14 commented on #7120
Thanks for linking the script that you run. I am not sure what `Remove-AllProjectOutput` does. But I will leave that to you. To answer your question, yes , the file will be recreated the next time you execute `nuget restore` on the solution/projects. But if you delete the file then `intellisense` may not work inside Visual Studio will you run a restore.

I would recommend that you run the followin

[2018-07-19 18:47] mishra14 commented on #7118
@matkoch Thanks for pointing out the differences.

The package page on [nuget .org](https://www.nuget.org/packages/NuGet.CommandLine) and the [search](https://api-v2v3search-0.nuget.org/query?q=packageid:NuGet.CommandLine) should give you the same list of versions. But since NuGet.commandline v4.7.0 used semver2, you have to use a different search url - https://api-v2v3search-0.nuget.org/query?q=p

[2018-07-19 19:27] mishra14 commented on #7118
@matkoch I am closing this as a dupe of https://github.com/NuGet/Home/issues/4851

If you read the process described there, you will find that we do not publish nuget.commandline package till we have an RTM version.

[2018-07-19 19:27] #7118 closed, assigned to nobody

[2018-07-19 19:37] StingyJack commented on #7120
That script cleans all output paths for a project. MSB/VS clean only affects the active configuration.

Thanks for the tip about intellisense storing files there. I remember reading that the obj folder was for transient compilations, which is why I was deleting it entirely. I'll add an exclusion for that and this file, and anything else that isn't a direct part of a compilation.

[2018-07-19 19:37] #7120 closed, assigned to nobody

[2018-07-19 19:54] rohit21agrawal commented on #7122
you can use ```contentFiles``` feature in NuGet to make sure that your config.json file is always copied to output directory:  https://blog.nuget.org/20160126/nuget-contentFiles-demystified.html

[2018-07-19 19:56] rohit21agrawal commented on #7123
thanks for the feedback @softboy99 . For now, we do not have this planned in our backlog, however, if we receive more feedback on this in the future, we will reconsider the need for this feature.

[2018-07-19 19:56] rohit21agrawal commented on #7123
c

[2018-07-19 19:56] #7123 closed, assigned to nobody

[2018-07-19 20:53] MarkPflug commented on #4942
Here is a scenario that is now broken. I have a nuget package that contains an xml schema (.xsd) in the content folder. The intent was that this schema would be copied into the VS project that consumes the package, allowing xml intellisense to "light up" when editing xml documents of that particular schema. VS only seems to discover .xsd files in the project or in the xml schemas folder down under

[2018-07-19 21:27] ghost opened #7131 "NU5012, nuget.exe pack cannot find built assemblies"
What is always stupid exception?

Error NU5012: Unable to find '**.dll'. Make sure the project has been built.

I already built Release dll and it doesn't see my library. I feel mad because nuget steals my time much.
Please stop forcing my time!

[code]

And I want type my command:
1. nuget.exe config -Set repositoryPath=C:\Users\SSB\Downloads\MonoGame.Framework.Gtk-m`aster\MonoGame.Framework.Gtk3

[2018-07-19 23:04] KirillOsenkov opened #7132 "PackageDependencyResolution: JoinItems task failed: Path too long"
MSBuild: 15.8.160-preview+gaf9d27ba72
15.8.160.40367
VS Version: 15.8.0 Preview 5.0 [27917.1.d15.8]

Repro project:
\\mlangfs1\public\kirillo\NuGetJoinItemsPathTooLong\ddafsdsadfs.zip

Build using MSBuild (zip contains .binlog). You get error:
[code]

This is because the paths in question (Item `ResolvedCompileFileDefinitions`) are too long (261 characters). They are an output of the `ResolvePacka

[2018-07-19 23:04] KirillOsenkov commented on #7132
cc @toddgrun

[2018-07-20 00:10] KirillOsenkov opened #7133 "Add NuGet.exe to the Developer Command Prompt"
Please make NuGet.exe available from the Visual Studio Developer Command Prompt. It's a commonly needed tool and the expectation is that `msbuild`, `dotnet` and `nuget` just work from the command prompt.

[2018-07-20 00:34] jainaashish commented on #7089
Corresponding VSTS bug which is linked with watson - https://devdiv.visualstudio.com/DevDiv/_workitems/edit/649033

[2018-07-20 03:09] kev-ops commented on #545
Is there a ticket for this to track on? This feature is needed by many.

[2018-07-20 08:23] v-nancyj commented on #3882
@jainaashish   I verified the issue on d15.8 27918.00 and d16.0stg 27919.3000, it still repro on current VS build, could you please help to have a look? Thanks!

[2018-07-20 10:55] zachsa opened #7134 "NuGet can't find a mapped network drive when Visual Studio (2017) is run in admin mode"
We use a mapped network drive for our nuget server: `X:\NuGet`. Package manager can't find this drive when used in Visual Studio 2017, with VS run with administrator privileges.

When using `Update-package -reinstall`, I get an error stating that the packages can't be found (but these packages are accessible via File Explorer on that mapped drive).

When I look at Nuget package sources using Tools

[2018-07-20 11:05] zachsa commented on #7134
nevermind. this is a problem with mapped drive not being accessible in the admin context. not nuget: https://stackoverflow.com/questions/32715025/running-visual-studio-as-administrator-does-not-see-mapped-network-drives

[2018-07-20 11:05] #7134 closed, assigned to nobody

[2018-07-20 13:05] augustoproiete commented on #4942
[I have the same scenario](https://github.com/Excel-DNA/ExcelDna/blob/master/Package/ExcelDna.XmlSchemas/ExcelDna.XmlSchemas.nuspec#L17) described by @MarkPflug, and would love to have a better alternative for providing Intellisense, other than copying the `.xsd` file to the project, but if at least content files (the old way) worked in PackageReference, that would be a big win.

Copying files to

[2018-07-20 13:32] EP01 commented on #3324
Hi @rrelyea, I'm wanting to try this fix with one of my TFS build configs. I usually use the Nuget Tool Installer to install the latest 4.x tool. However, on changing this step to look for 4.8.0-preview3, it can't find it. It only picks up versions marked as Released or ReleasedAndBlessed, not EarlyAccessPreview. Any chance you could let me know if this could be marked as Released, to allow me to

[2018-07-20 14:52] cartermp opened #7135 "MSBuild names are translated in translated docs"
See here: https://docs.microsoft.com/ru-ru/nuget/reference/msbuild-targets

<img width="947" alt="screen shot 2018-07-20 at 07 48 52" src="https://user-images.githubusercontent.com/6309070/43009099-913aecda-8bf1-11e8-8681-13563e7d70d5.png">

It's easy to tell that it is incorrect for some languages, but in others, it can be a bit more subtle: https://docs.microsoft.com/es-es/nuget/reference/msbuil

[2018-07-20 17:15] jainaashish commented on #5350
.Error message is updated and merged into dev but still keeping it open to make a call for 4.9 release.

[2018-07-20 17:31] jainaashish commented on #3882
@v-nancyj check your selected source in UI (it'd be nuget.org) where as PMC is running against all the sources which include offline source as well. So there is difference in sources between PMC and UI which is why you're seeing it.

Select `All` sources in UI, then you'll see the consistent behavior.

[2018-07-20 18:07] jainaashish opened #7136 "[Regression] Creating legacy PCL project throws MEF export error"
With latest d15.8 preview5 (int preview) build, creating a new PCL project (legacy with project.json) throws NuGet MEF export error as below:

![image](https://user-images.githubusercontent.com/18219758/43018024-0d8acb6e-8c0d-11e8-8edd-7fbb1882561b.png)

This works fine with 15.8 preview4 build, but regressed somewhere in preview5.

// @rrelyea

[2018-07-20 18:47] chuanboz commented on #5132
I also want this to build source code only package, any update for this?

[2018-07-20 18:48] #6944 closed, assigned to mishra14

[2018-07-20 18:49] mishra14 commented on #7136
@jainaashish do we know of any changes between P4 and P5 in that codepath?

[2018-07-20 18:53] jainaashish commented on #7136
Not that I know of.. This is the exception in ActivityLog:

Microsoft.VisualStudio.Composition.CompositionFailedException: Expected 1 export(s) with contract name &quot;NuGet.PackageManagement.VisualStudio.IScriptExecutor&quot;
\but found 0 after applying applicable constraints.&#x000D;&#x000A;   at Microsoft.VisualStudio.Composition.ExportProvider.GetExports(ImportDefinition importDefinition)&#x0

[2018-07-20 18:57] rainersigwald commented on #7132
Related: Microsoft/msbuild#53. cc @ccastanedaucf.

[2018-07-20 18:57] gidduk commented on #5358
Finally found a solution to it.
By default VS.Net uses Newtonsoft.Json version 7 and it does not have Newtonsoft.Json.Linq.**JsonLoadSettings** class
Close all instances of Vs.net 2017
Download the latest version of Newtonsoft.Json (currently its 11) from http://nuget.org and rename it to .zip, extract the files, gacutil the Newtonsoft.Json.dll from net45 folder.
Edit machine.configs
32-bit - C:\W

[2018-07-20 19:12] jainaashish commented on #7136
Clearing MEF cache didn't repro it again. So it seems it might be MEF cache issue. So closing it for now.

[2018-07-20 19:12] #7136 closed, assigned to nobody

[2018-07-20 20:43] jainaashish commented on #7089
Merged in dev, but will keep it open until it's merged into release-4.8.0-rtm as well.

[2018-07-20 20:45] ccastanedaucf commented on #7132
I know over in MSBuild [FileUtilities](https://github.com/Microsoft/msbuild/blob/7d8c8da147252ea57f35d2c6ceee8e7c5ba458f5/src/Shared/FileUtilities.cs#L915) we have an ```AttemptToShortenPath()``` method for conditionally using ```Path.GetFullPath()``` to avoid failing in situations like this. If it's not necessary to keep the original path, I'm thinking replacing the 4 ```FileUtilities.FixFilePath

[2018-07-20 20:49] KirillOsenkov commented on #7132
Looks like this might be a dupe or related: https://github.com/dotnet/sdk/issues/2132

[2018-07-20 21:24] alex4998 commented on #1221
Can anybody explain this to me "Architecture specific dll, requires a reference assembly since the "runtime" section is not used during compile."? I noticed that if I put assemblies only into runtimes section I cannot consume the package and build. What those assemblies are used for in this case? I expect when I reference a NuGet package with platform specific assemblies, those assemblies are used

[2018-07-20 23:02] nguerrera opened #7137 "Using a ProjectReference which requires AssetTargetFallback to succeed, should warn."
Microsoft Visual Studio Enterprise 2017 Int Preview (Dogfood)
Version 15.8.0 Preview 5.0 [27913.3.d15.8]
VisualStudio.15.IntPreview/15.8.0-pre.5.0+27913.3.d15.8
Microsoft .NET Framework
Version 4.7.03056

## Repro steps

* Add project reference from .NET Core  project to .NET Framework 4.6.1 project
* Restore / Build

### Expected

Very similar warning to this for the PackageReference case

Warnin

[2018-07-21 00:07] mishra14 commented on #7137
@nguerrera currently, msbuild passes us a project tfm and a set of tfms to check compatibility and we return a bool indicating success or failure. We will need to work with @rrainersigwald to change that if needed.

@rrelyea had scenarios (wpf + uwp) where such P2P references make sense without the need for warnings.

[2018-07-21 00:11] nguerrera commented on #7137
You could log a warning from the task. We spent a *lot* of time talking about this for package refs and the warning was a big part of pulling the trigger on the AssetTargetFallback default. I don't see how it could be any different for projects, but I'm listening.

[2018-07-21 00:15] nguerrera commented on #7137
I would like this to be considered for 15.8 because I don't want to end up in a situation where we decide not to make a "breaking change" to add the warning that should always have been there.

[2018-07-21 00:30] nguerrera commented on #7137
cc @DamianEdwards

[2018-07-21 00:35] terrajobst commented on #7137
I'm surprised to learn this actually works as I was under the impression that this will fail. We must **at the very least** issue a warning as @nguerrera suggests.

However, I believe our original design asked for this to be an error. The rationale being that the NuGet case is for references outside your control while P2Ps are expected to be under your control and we want to force developers to co

[2018-07-21 00:39] nguerrera commented on #7137
This is new in 15.8 so technically hasn't shipped. I think there should be a way to do this with project references, I just don't think it should happen without any diagnostics.

[2018-07-21 00:42] terrajobst commented on #7137
That's fair. Not sure I wholeheartedly agree, but I could live with a warning, consistent with the NuGet experience. But silence is bad.

[2018-07-21 00:47] mishra14 commented on #7137
tagging @rrelyea for 4.8 visibility.

[2018-07-21 09:52] MicahZoltu opened #7138 "dotnet restore doesn't restore if dependencies present"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): `dotnet restore`

NuGet version (x.x.x.xxx): Unknown

dotnet.exe --version (if appropriate): `dotnet 2.1.302`

OS version (i.e. win10 v1607 (14393.321)): Windows 10

Worked before? If so, with which NuGet version: Unknown

## Detailed repro steps so we can see the same problem

1. Clone https:/

[2018-07-21 14:03] SibeeshVenu commented on #5358
Finally, after spending my entire Saturday, I was able to fix the same. You may see my answer in StackOverflow (https://stackoverflow.com/questions/41185443/nuget-connection-attempt-failed-unable-to-load-the-service-index-for-source/51456498#51456498) to know further. I am still analyzing the issue though.

[2018-07-21 16:25] KirkMunro commented on #4901
Any update on this?

[2018-07-21 16:44] jaredpar commented on #6367
This has come up yet again with VS 15.8 Preview 4. Once again I'm completely unable to develop my project because of this restore.

**EDIT**

Bug also rerpoduces on Preview 5

[2018-07-21 16:50] jaredpar commented on #6367
Can we please remove the "NeedsRepro" tag from this issue? There have been several clear repros given that the team has acknowledged in the past. Continuing to keep this label makes the issue look misleading unless you read the thread.

[2018-07-21 19:24] dasMulli commented on #4901
Is this still needed? `DotNetCliToolReference` is de-facto deprecated now with global tools.. (though some scenarios involving project or solution specific tools / versions still being thought about)

[2018-07-22 10:59] jamescrowley commented on #4488
I'm figuring out how to migrate a large MVC app. Right now, the plan had been to migrate all class libraries to .NET standard whilst leaving the MVC project in place in the old project format as an interim step. This issue appears to completely block us, unless anyone has a suggested workaround?

[2018-07-22 23:09] TechnikEmpire commented on #6858
I've seen this as well. `Microsoft.Data.Sqlite` suffers from the same/similar problem if I'm understanding the notes here. If I reference that package in a .NET Standard library, then have a consumer reference my package (which references `Microsoft.Data.Sqlite`), the targets that unpack the Sqlite native assemblies into the bin folder on build will not get executed. I have to explicitly reference

[2018-07-23 01:15] KirkMunro commented on #4901
Probably not. I came here looking for it because I was working through an ASP.NET Core 2.1 tutorial, but that tutorial needs updating so I think my issue was simply symptomatic of an out of date tutorial.

[2018-07-23 03:44] jaredpar commented on #6367
Note: with 15.8 Preview 4 the bug will reproduce from the command line. I have not checked the IDE. Simple repro:

1. Clone https://github.com/jaredpar/VsVim
1. Run `msbuild /v:m /m /t:restore VsVim.sln`
1. Run `msbuild /v:m /m VsVim.sln`

There will be lots of errors around types that exist in FSharp.Core and Vim.Core.

[2018-07-23 15:24] ViktorHofer commented on #2740
This still happens, we currently face this in corefx when adding a PackageReference to xunit.analyzers. For any project type which doesn't have the Language property set, this will result in a NullReferenceException: https://github.com/NuGet/NuGet.BuildTasks/blob/0aa5091682343110f645ede1a184ee7fea127b7b/src/Microsoft.NuGet.Build.Tasks/ResolveNuGetPackageAssets.cs#L473

[2018-07-23 16:39] jainaashish commented on #2740
reactivating the bug since this is still an issue.

Tagging @Pilchie @tmeschter since this is own by Project System.

[2018-07-23 16:44] olivierr91 commented on #6710
@nguerrera I'm not sure this has been resolved, I just encountered this problem with VS 15.7.5 after changing the .NET Core target from 2.0 to 2.1. I had to delete and reinstall the .NET Core SDK to get around the issue.

[2018-07-23 16:46] nguerrera commented on #6710
This error can trigger in different cases and could be unrelated to the root cause of the incident this issue tracked. Please open a new bug with repro steps if you encounter the message.

[2018-07-23 17:09] tmeschter commented on #2740
@ViktorHofer Can you describe your scenario in more detail? What kind of a project are you dealing with?

[2018-07-23 17:14] ViktorHofer commented on #2740
https://github.com/dotnet/corefx/pull/31260/files#diff-841e9e59d27acec708f2c73eaa3cf6a0R24

We are using a custom proj file. See that I hardcoded the language here as otherwise it will fail when referencing xunit.analyzers. I will change that line though to "unknown". cc @ericstj

[2018-07-23 17:26] jainaashish commented on #4488
@jamescrowley this issue is more about file new project by default is old project format until you add a nuget package dependency which allows you to choose between new format vs old. And the workaround for that is to set `RestoreProjectStyle` to new format.

But your issue is different, you already have a bunch of old styled projects, and you're moving some of those to new format. Although partia

[2018-07-23 17:47] zhili1208 commented on #7132
this is not an issue in NuGet. close it as a dup

[2018-07-23 17:50] zhili1208 commented on #7133
is there any reason for this? we expect dotnet can replace nuget.exe in the future.

[2018-07-23 18:07] jnm2 commented on #6440
I'm using Visual Studio 15.8 Preview 4 and I'm not sure what I'm seeing, but the toolbox is behaving very differently! Is work being done in 15.8 to discover Windows Forms toolbox items in package references?

[2018-07-23 18:22] jonnovaretti commented on #7122
@rohit21agrawal , it doesn't work, because it has to set CopyToOutpuDirectory = Always.

[2018-07-23 18:50] jhenyffer commented on #1710
Hello,
I am facing this issue right now. Could you please help me on that?
I need to include a .file in the package, but when I try to run nuget pack, nuget shows me this error: String cannot be empty. Parameter name: entryName

[2018-07-23 18:50] jainaashish opened #7139 "[PackageReference] Enable repeatable build using project lock file"
This is the tracking issue for implementation of enabling repeatable builds for `PackageReference` using project lock file.

Spec - https://github.com/NuGet/Home/wiki/Enable-repeatable-package-restore-using-lock-file
Tech Spec - https://github.com/NuGet/Home/wiki/Repeatable-build-using-lock-file-implementation

[2018-07-23 18:51] mishra14 commented on #6906
The scenario is improved in https://github.com/NuGet/NuGet.Client/pull/2360 where we have added prefix to all signing logs. Adjusting labels.

[2018-07-23 18:52] mishra14 commented on #6906
@PatoBeltran you would want to fix the error messages for `NU3034` and `NU3004` once we enable client policy.

[2018-07-23 18:58] mishra14 commented on #6381
Working with the localization team on this.

[2018-07-23 19:31] jhenyffer opened #7140 "Not able to include a .file in .nupkg (String cannot be empty. Parameter name: entryName)"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version (x.x.x.xxx): 4.6.2.50.55

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): N/A

OS version (i.e. win10 v1607 (14393.321)): Windows 8.1

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

**1.** Create a .file archive

**2.** Create the nuspec below

[2018-07-23 19:43] jhenyffer commented on #1997
Hello, but then how can I manage folders named like this? I mean, how can I include those folders in the nuget package? Because like this guy, I have a database that have folders named like this and I can not exclude the "." in front of the folder's name.
Thank you!

[2018-07-23 20:36] KirillOsenkov commented on #7133
Nuget.exe is a very useful tool used by millions of developers daily, it works for packages.config, project.json and PackageReferences. This need isn't going away anytime soon. Every time I'm on someone's machine helping someone, they take a long time to find NuGet.exe and run it.

There are situations where NuGet.exe works, but `msbuild /r` or `dotnet restore` don't.

Most of the users don't comp

[2018-07-23 20:39] KirillOsenkov commented on #7132
@zhili1208 please reactivate. We think it's NuGet who needs to normalize the paths when writing to project.assets.json.

[2018-07-23 21:19] zhili1208 commented on #7140
could you also provide the output log from nuget.exe?

[2018-07-23 23:17] shanselman commented on #4901
@KirkMunro which tutorial?

[2018-07-23 23:52] KirkMunro commented on #4901
@shanselman [Razor Pages with Entity Framework Core in ASP.NET Core - Tutorial](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/intro?view=aspnetcore-2.1&tabs=visual-studio).

[2018-07-24 04:54] yaakov-h opened #7141 "Is there any way to prefetch packages?"
Hi,

I'm after a way to pre-populate packages in the NuGet cache (on Windows, `%userprofile%\.nuget\packages`).

I've found a few different ways, but I'm not satisfied with them:

1. Write a `packages.config` and run `nuget restore`
2. Write a dummy project and run `nuget restore`
3. Write a completely separate program to download and unpack `*.nupkg` files

Is there a fairly straightforward manne

[2018-07-24 08:41] gmcve commented on #7008
@pascalberger @PatoBeltran I can confirm that this is also happing to me with NuGet 4.6.2, Cake.0.28.0 and using an offline build server.

2018-07-24T08:18:49.3535711Z Adding package 'Cake.0.28.0' to folder '*'
2018-07-24T08:22:21.1025539Z Added package 'Cake.0.28.0' to folder '*'

[2018-07-24 10:13] rpajak-solarwinds opened #7142 "nuget pack with csproj throwing NullReferenceException at Microsoft.Build.Shared.BuildEnvironmentHelper.get_Instance()"
## Details about Problem

NuGet version: 4.6.2.5055
OS version: Windows Server 2016, version 10.0
TeamCity version: 2018.1

NuGet is unable to pack a csproj. on a TeamCity agent(s). But have not found any reason why it should not work. Especially that the agents is building solutions without any problems, nuget restore also work properly.
Locally (on developer environment) the nuget pack works fin

[2018-07-24 10:36] jhenyffer commented on #7140
Could you guide me on how may I provide this?
If you mean the resulta of the Nuget Pack it is the error "String cannot be
empty. Parâmetro name:entryName"

Em seg, 23 de jul de 2018 18:19, Zhi Li <notifications@github.com> escreveu:

[2018-07-24 11:16] rpajak-solarwinds commented on #7142
The same issue occurs for NuGet 4.4.1.4656

[2018-07-24 11:23] rrelyea commented on #6373
On phone currently, so not easy to find backlog item...

1) believe in the need to require all feeds
2) can help users disable sources when offline — has a design, but have not got to that.
3) we should definitely make sure we have a clear error experience, which seems to be questioned by nick craver in this Tweet:
https://twitter.com/nick_craver/status/1021714890640289792?s=21

@zhili1208 - for #

[2018-07-24 11:43] NickCraver commented on #6373
FWIW, we hit this constantly as we have a feed behind the VPN. We've also learned various ways to produce a minimal repro quickly. I'd be more than happy to chat with anyone on the team about fixing it.

[2018-07-24 12:08] StingyJack commented on #7131
Try setting `Platform=Any CPU` (or which ever platform you use) in the `-properties` list of your `nuget.exe` command.

[2018-07-24 12:21] StingyJack commented on #6373
@rrelyea - you cannot mean that Package A from Feed A cannot be installed when Feed B is unavailable, and when Package A has no immediate or ancestral dependency in Feed B.

That dependency scenario _cant happen anyway_ currently, as you cannot push Package A to a Feed A unless all its dependencies are already present in Feed A. EDIT: Feed A and B are private feeds using Nuget.Server

[2018-07-24 12:27] StingyJack commented on #7015
@jainaashish - is there an option in the PM UI for this? Switching to .net core is not an economically viable option.

[2018-07-24 13:18] rrelyea commented on #545
@zhili1208 let’s figure out a way for sql team to have external visibility on this. They own the work in their codebase if they want to enable this.

[2018-07-24 15:09] jamescrowley commented on #4488
@jainaashish thanks for chiming in. Let me double check this again - may have been thrown off the scent by one of the other issues linking here.

[2018-07-24 16:33] rrelyea commented on #6318
This is fixed in dev now, and we may bring the fix to 15.8 as well.

[2018-07-24 17:07] rrelyea commented on #7141
Can you tell us how you want to use this prefetcher? (on CI? dev machine, etc..?)
Benefit?
Current technique that you use?
Thanks, Rob

[2018-07-24 17:14] jainaashish commented on #7015
@StingyJack there is no option in PM UI for this. And it may look like a simple thing to do but there are lot of implications because it will start effecting your restore graph randomly. For example, availability or unavailability of a specific source can easily change the restore dependency resolution which will create more trouble then solving some specific asks. So for time being, I'll recommen

[2018-07-24 17:23] rrelyea commented on #7141
here is a way to use dotnet.exe (installed with dotnet SDK, which is installed with VS 2017)

prefetch.cmd
-----
[code]

then run, for example:
`prefetch NUnit *`

May not be totally ideal...since add package checks compatibility with the TFM in the console template.
But it may be a start?

Would love to hear your answers to the questions I asked earlier.

[2018-07-24 17:26] nkolev92 commented on #7132
It's weird that it's not getting normalized.

Which client generates the assets file? (dotnet or VS)

Related code for the cmd tools [here](https://github.com/NuGet/NuGet.Client/blob/deab84db30cbd8cc738cd46ad694aebdbb43a1cf/src/NuGet.Core/NuGet.Build.Tasks/GetRestoreSettingsTask.cs#L149)

[2018-07-24 17:33] jainaashish commented on #6373
As I mentioned on https://github.com/NuGet/Home/issues/7015 this issue simply doesn't mean that we start to ignore failing sources while restoring (please read the full comment on #7015).

About the dependency scenario, it's quite easy possible that packageA is coming from private feedA but depends on packageB which is coming from public feedB. We've already seen several such cases for popular pac

[2018-07-24 17:40] rrelyea commented on #7131
@mishra14 - where is NU5012 coming from. is that in your latest batch of error investigations?

[2018-07-24 17:40] zhili1208 commented on #7140
please try this: "nuget.exe pack -verbosity detailed"

[2018-07-24 17:41] rrelyea commented on #7128
@vivekwaghmare - we'd love more details. Can you tell us how to reproduce the problem? What happens? Should we change our behavior, or just documentation?

[2018-07-24 17:51] zhili1208 commented on #7142
Could you try to update your VS on the agent to 15.7.5? I tried that version, can't repro the issue.

[2018-07-24 17:51] nkolev92 opened #7143 "NuGet should target Net472 (to help Cleanup the 16.0 build of the VSIX)"
Follow up to https://github.com/NuGet/Home/issues/7119.

The given solution is likely an incomplete one as we might need to use a newer SDK to build for Dev16.

Another linked issue with more information.

//cc @NuGet/nuget-client

[2018-07-24 17:54] KirillOsenkov commented on #7132
We think it's VS restore. Adding @mrward for VSMac NuGet restore.

[2018-07-24 18:01] nkolev92 commented on #7132
Thanks @KirillOsenkov
Code [here](https://github.com/NuGet/NuGet.Client/blob/c76681f6400c0b2883543ba6a911abcbc9e7bfc8/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Utility/VSRestoreSettingsUtilities.cs#L104)

This probably has something to do with the fact that Uri is being used for path combination.

https://github.com/NuGet/NuGet.Client/blob/deab84db30cbd8cc738cd46ad694aebdbb43a1cf/src/

[2018-07-24 18:56] rrelyea commented on #7138
dotnet SDK based projects don't currently support restoring to a shared obj directory.
If you move your test project to another directory, do things work?

[2018-07-24 20:54] rrelyea commented on #7137
Given that this isn’t as easy to fall into compared to a package…the user has to go out of their way to add ATF into the referenced project, I think we should be fine in 15.8 with a doc change.

We hope to make this a warning in 15.9.

(sent email too)

[2018-07-24 20:56] nguerrera commented on #7137
I don't understand this. Look at the repro steps again. What is out of their way? The problem is ATF is default in .NETCore and .NETStandard projects.

[2018-07-24 20:58] nguerrera commented on #7137
This might be a clearer repro for my last point than what is listed:

1. File -> New Project -> .NET Core -> Console App (.NET Core)
2. File -> New Project -> Windows Desktop -> Class Library (.NET Framework)
3. Add reference from (1) to (2)
4. Restore and build

[2018-07-24 23:23] rrelyea commented on #7137
Bringing back for discussion.

[2018-07-24 23:29] yaakov-h commented on #7141
That falls under (2), writing a dummy project and restoring it.

I want to use the prefetcher on a CI machine. Here's the full use-case:

My company has an in-house distributed CI system that runs tests across hundreds of machines in parallel. This has served us great for .NET Framework projects, where all of your project's dependencies are either copied to the bin folder, or part of the BCL/GAC.

[2018-07-24 23:36] rrelyea commented on #7132
Do we know what has changed here?
Clearly this will get a little better when 2.1.400 ships (it will no longer have "-preview-009088")
Is this a change in the 2.1.400 encoding of the fallbackfolder path?
etc...

[2018-07-25 00:01] KirillOsenkov commented on #7132
Our theory is that some component of the path got longer by one character. It could be the version of one of the referenced NuGet packages, the version number got another digit, or literally anything else. The offending path that breaks us is 261 characters long (can you believe this?)

[2018-07-25 00:01] KirillOsenkov commented on #7132
Basically, we were getting lucky all the time previously, but as our version numbers grow the inevitable has happened ;)

[2018-07-25 00:25] terrajobst commented on #7137
Agree with @nguerrera. The problem is that ATF's default is net461 for netstandard20+. Thus, unless we warn the P2P will just work by default.

[2018-07-25 03:55] StingyJack commented on #6373
We are stating different scenarios.

While the dependency graph is built and nuget is querying sources to fill that graph, if it finds what it needs in one source, why should it demand the other sources be available?  It seems inefficient.

If I cant update a public package from nuget.org, because the VPN isnt connected at the moment and cant reach a private feed (a feed that is _unavailable_, not

[2018-07-25 03:56] StingyJack commented on #7015
"Repeatable build" and "lock file" seem like unrelated concepts. And I'm not sure I understand why its currently not repeatable.  I'll poke around here and see if there is any issue or docs that explains why the dependency resolution would not be repeatable, or would require locking the filesystem in any way.

[2018-07-25 05:36] nkolev92 opened #7144 "NuGet Restore (and more) broken in build tools SKU (missing NuGet.Credentials.dll in install)"
In https://github.com/NuGet/NuGet.Client/pull/2080, NuGet.Credentials was made cross-plat.
In https://github.com/NuGet/NuGet.Client/pull/2126, the NuGet.Credentials assembly started being loaded by msbuild.exe and dotnet.exe.

However it wasn't added in the build tools SKU VSIX and because of that any operation, including simple restores,  will fail with:
[code]

[2018-07-25 07:10] davidsk commented on #6140
I'm seeing a similar issue.  I'm using a nuget.config file to add a private feed from DevExpress.  Recently we added Microsoft.AspNetCore.SignalR package and now the build fails as it can't find the package on the private feed.

The task is aware of both feeds...

`OutputSources 'https://api.nuget.org/v3/index.json;https://nuget.devexpress.com/***/api'`

...but only attempts the private one

`C:\P

[2018-07-25 09:07] MicahZoltu commented on #7138
Yes.  In that case, I should be given way more feedback on the problem.  The failure is silent and it took me 30 minutes before I realized restore wasn't working and another hour before I figured out enough of "why" that I could file this bug (I ended up creating a repro case to troubleshoot).

If NuGet would have just told me "need separate object folders for restore" I would have saved a lot of

[2018-07-25 13:10] rpajak-solarwinds commented on #7142
Updated to 15.7.5. Same issue. Probably it is environmental however MSBuild (?) should handle it. Maybe I should report it on https://github.com/Microsoft/msbuild/issues ?

[2018-07-25 14:51] Joev- commented on #7098
Hi,

This does not help me as the project.assets.json are still project dependent. I can work around the problem by specifying a well known PackagesDirectory option, and I am sure when I eventually get my MVC project off of V2 of the protocol there will be a clearer solution for me.

I'll close this for now as I don't see any clear way of resolving this.

[2018-07-25 14:51] #7098 closed, assigned to nobody

[2018-07-25 15:01] BhaaLseN commented on #3580
Just ran into this as well after a colleague added a TFS NuGet feed to a project that is still being built on a legacy build system (running under a local service account that isn't known to TFS, and won't ever be) - breaking the build.
I then found this issue while trying to figure out why it would ignore the credentials placed on that machine in the service accounts' `%APPDATA%\NuGet\NuGet.Confi

[2018-07-25 15:07] rlundy commented on #6373
I understand that there's a real reason for this restriction to exist.

But there are also real reasons for this restriction not to _always_ exist.

NuGet can already pop up dialogs; it does so for license acceptance.

I think all we're looking for is for NuGet to pop up a dialog saying "Hey, I can't reach feed XYZ; should I proceed anyway?"

Just for review, the use case is this:

In addition to

[2018-07-25 17:04] rrelyea commented on #7089
@jainaashish - Please merge into release-4.8.0-rtm this morning.

[2018-07-25 17:05] rrelyea commented on #7137
@mishra14  -  please investigate this fix this morning.

[2018-07-25 17:09] rrelyea commented on #6518
Time ran out for 15.8 and we don't have closure on all these items. Moving to 4.9.

[2018-07-25 17:12] jainaashish commented on #7089
Merged into release-4.8.0-rtm branch

[2018-07-25 17:17] rrelyea commented on #7144
Let's get this fixed in Dev...and port to release branch.

[2018-07-25 17:30] rrelyea commented on #7107
@zhili1208 - please port the fix for 1107 into release-4.8.0-rtm branch asap.

[2018-07-25 17:32] jainaashish commented on #7015
I'll give a very simple repro..
1. Lets say you have 2 feeds, feedA and feedB.
2. FeedA has packageA 3.0.0 and feedB has packageA 4.0.0
3. Now manually add a nuget dependency for packageA 3.0.0
4. Make feedA unavailable and restore your project... You will see it will resolve to packageA 4.0.0 because that's what available at this time (although it will also raise a package upgrade warning but mos

[2018-07-25 17:33] rrelyea commented on #7132
We plan to take this early in 15.9, however it won't actually be a problem for 15.8, since "-preview-009088" will not be used in that build.
It will impact 15.9-preview-xxxxxx though.

A bit afraid of changing our path combination code last minute for something that won't actually impact 15.8 users.

[2018-07-25 18:17] nkolev92 commented on #7144
Discussed offline.

This is a 4.8 blocker.

[2018-07-25 18:47] rrelyea commented on #7107
Updating title to remove 1605...since it won't ship in 4.8/15.8

[2018-07-25 18:49] rrelyea commented on #7144
added "including simple restores" to your first comment...cause I didn't realize that when I read it the first time. Yes, big blocker.

[2018-07-25 20:41] zhili1208 commented on #7142
maybe msbuild  team have some clue. also I like to try your sample project to see if I can repro. But I think it should be related to environment.

[2018-07-25 20:48] zhili1208 commented on #7141
currently, I think there is no better way to do this except the three ways you mentioned. NuGet Download API feature(https://github.com/NuGet/Home/issues/5919) should address this scenario

[2018-07-25 20:57] #7089 closed, assigned to jainaashish

[2018-07-25 21:05] JamieKeeling commented on #4254
It's looking like I have no choice but to use a dummy .CSPROJ to get this up and running.

Could somebody provide an example of the bare minimum content for a valid CSPROJ file?

[2018-07-25 21:05] CJHarmath opened #7145 "Environment variables in setapikey"
## Details about Problem
NuGet product used: NuGet.exe
NuGet version 4.6.2.5055

When using an environment variable with setapikey, it's not getting evaluated during set or during push.

## Use case
Use case is kind of weird, but here it goes:
We have a custom Nuget Server implementation which emails the Kerberos authenticated user as the package pusher which works great when humans use it.
But wh

[2018-07-25 21:06] zhili1208 commented on #7107
fixed in https://github.com/NuGet/NuGet.Client/commit/bd9167095f8e45872877cf9cee275feef38690dc

[2018-07-25 21:06] #7107 closed, assigned to zhili1208

[2018-07-25 21:30] nkolev92 opened #7146 "Cleanup warnings during build"
Cleanup the warnings during the build when running build.ps1.

[2018-07-25 21:52] bdukes opened #7147 "PrivateAssets does not work for non-SDK csproj"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
Visual Studio & MSBuild

NuGet version (x.x.x.xxx):
4.6.0

VS version (if appropriate):
15.7.5

OS version (i.e. win10 v1607 (14393.321)):
win10 enterprise v1803 (17134.191)

Worked before? If so, with which NuGet version:
n/a

## Detailed repro steps so we can see the same problem

1. Create a

[2018-07-25 22:06] zhili1208 commented on #7147
@nkolev92

[2018-07-25 23:05] #7105 closed, assigned to mishra14

[2018-07-25 23:46] yaakov-h commented on #7141
Thanks, that looks promising.

[2018-07-25 23:50] nkolev92 commented on #7144
Fixed in https://github.com/NuGet/NuGet.Client/pull/2365

[2018-07-25 23:50] #7144 closed, assigned to nobody

[2018-07-26 00:12] smiron commented on #912
@amd64x I couldn't agree more.
Are there any devs from the NuGet team here? It seems kind of lonely.

PS: I'm sure that NuGet is a huuge attack vector. That is why all the hackers are so focused on it ;)

[2018-07-26 06:09] rpajak-solarwinds commented on #7142
sample project is a waste of time (really just a console application even without any nuget packages).
on my development environment everything is working

[2018-07-26 10:28] janbaltus commented on #6381
Implemented fix

[2018-07-26 10:28] janbaltus commented on #6381
"Package Manager"  translation is now "套件管理員"
 "NuGet 封裝" is now "NuGet 套件"

[2018-07-26 11:22] alexei-matveev commented on #4387
With the newest version of SDK *mine* case is closed:

$ dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   2.1.302
 Commit:    9048955601

[2018-07-26 15:20] rvdn1974 opened #7148 "Why does HideWarningsAndErrors of the Nuget Restoretask not hide the warning Unable to find a project to restore!"
We have a system with multiple solution and some of them require nuget. As that changes we want to run the restoretask on every solution eventhough there is no nuget needed yet.

There is a property on the task HideWarningsAndErrors to hide all the errors and warnings, but warning unable to find a project to restore is not hidden during the build

Nuget.build.Tasks.dll version 4.5.0.4685

looking

[2018-07-26 18:07] mishra14 commented on #6381
Closing as fixed in https://github.com/NuGet/NuGet.Build.Localization/pull/279

[2018-07-26 18:07] #6381 closed, assigned to mishra14

[2018-07-26 18:42] infin8x commented on #6902
Sorry for the lag, catching up from vacation. @keithrob do you know if Aldo is taking this scenario into account as part of the #6486 work?

[2018-07-26 18:45] StingyJack commented on #7015
Why would it pick 4.0.0 when I specified 3.0.0?  Nuget should not be automatically taking package versions I didnt specify. Thats way worse than VS "helping" me by finding a reference instead of erroring out.

Also, if you follow SemVer ([I cant](https://github.com/NuGet/Home/issues/3050#issuecomment-386855540)) that's a breaking change version update too.

I can take this up on a new issue if @du

[2018-07-26 19:08] rrelyea commented on #6944
This got into Dev. Is it already in Release-4.8.0-rtm or not?  I forget.

[2018-07-26 19:17] karann-msft commented on #6518
In addition to Author = Microsoft and Copyright = © Microsoft Corporation. All rights reserved.
The package description must specify:

Microsoft holds the copyright for this NuGet package.
.NET Foundations holds the copyright to the source.

Based on discussion with @jongalloway

[2018-07-26 19:24] anthonypants commented on #1215
I'm having the same issue as @krshortr above, both with the Integration Services project and the SQL Server Database project types: in VS2017, the `Install-Package` and `Get-Package` commands error out. The "Default project" drop-down in the Package Manager Console is empty, and there are no entries in it. When I right-click the solution in Solution Explorer, the "Manage NuGet Packages for Solutio

[2018-07-26 21:43] ajsaulsberry commented on #4710
Seeing the same problem with VS 2017 15.7.5 and Windows 10 Pro 1803 64-bit.

Uninstalling and reinstalling PowerShell Tools for Visual Studio 2017 v3.1.630 via the PowerShellTools.15.0.vsix, as suggested elsewhere, had no effect.

Package Manager Console reports PS version:

[code]

While a PowerShell Interactive Window reports:

[code]

Not a deal breaker for EF commands, since they can be run fr

[2018-07-26 23:06] ghost commented on #7131
Hello @StingyJack and @rrelyea  It is very latest version of nuget and It always like common not found or warning. I already tried tried  I want pack into nupkg than it happens always if I make test from nuget server and I download nuget server from my nuget package than it shows nothing where is assembly.. How do I fix? Thanks!

[2018-07-27 00:33] #7137 closed, assigned to mishra14

[2018-07-27 00:36] mishra14 commented on #6944
This fix is not in `release-4.8.0-rtm` branch

[2018-07-27 03:32] StingyJack commented on #7131
@sourceskyboxer  -   When you build a solution in VS or MSBuild, you usually have to specify both the Target Platform (x86, x64, Any CPU, Mixed Platforms etc) and the Build Configuration (Release, Debug, etc.).  Nuget.exe also requires this same information so that it can locate the correct build output path.

Your command line
[code]
.. doesnt specify the `Platform` (more below) and doesnt have t

[2018-07-27 05:18] nkolev92 commented on #7147
@zhili1208 This is very likely the build tasks and not NuGet itself.

[2018-07-27 07:40] JayBeAl opened #7149 "Nuget install on VS works, but installing in VS Code via Cake Script throws "Error: Failed to install tool 'EWSoftware.SHFB.NETFramework'""
## Details about Problem

_**Same nuget package works in VS Enterprise but doesnt in VS Code via CakeScript.**_

**NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):**

dotnet.exe, nuget.exe (Visual Studio Code - Cake Script)
and
Visual Studio Enterprise 2017

**NuGet version (x.x.x.xxx):**

4.7.0.5148

**dotnet.exe --version (if appropriate):**

2.1.302

**VS version (

[2018-07-27 08:39] v-nancyj opened #7150 "The bottom link was truncated by ‘OK’ button on ‘Migrate NuGet format to PackageReference’ dialog"
## Details about Problem

NuGet version: NuGet Client release-4.8.0-RTM-4.8.0.5362
VS Version: D15.8 27924.00
OS Version: Windows-10-Enetrprise-RS3-RU-RU

## Detailed repro steps
1.	Launch VS and click menu Tools->NuGet Package Manager->Package Manager Settings.
2.	Check ‘Allow format selection on first package install’ format.
3.	Create a new C# Console App (.NET Framework) via VS and click ‘Mana

[2018-07-27 09:15] v-luzh opened #7151 "[Accessibility] Redundant pixel show beside the bottom link of ‘Migrate NuGet format to PackageReference’ dialog"
## Details about Problem
NuGet version: NuGet Client release-4.8.0-RTM-4.8.0.5362
VS Version: D15.8 27924.00
OS Version: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps
1. Launch VS and click menu Tools->NuGet Package Manager->Package Manager Settings.
2. Check ‘Allow format selection on first package install’ format.
3. Create a new C# Console App (.NET Framework) via VS and cl

[2018-07-27 09:34] v-luzh opened #7152 "[Test Failure][Localization][PTB] Strings on NuGet Client VSIX installer are not localized"
## Details about Problem
NuGet version: NuGet Client release-4.8.0-RTM-4.8.0.5362
VS Version: D15.8 27924.00
OS Version: Windows-10-Enetrprise-RS3-PT-PT
## Detailed repro steps
1. Install OS “Windows-10-Enetrprise-RS3-PT-PT” on a clean machine.
2. Install VS: D15.8 27924.00
3. Try to install NuGet Client VSIX from: Release-4.8.0-rtm\4.8.0.5362
## Expected
Strings on NuGet Client VSIX installer are

[2018-07-27 10:56] ppekrol opened #7153 "ContentFiles are not being copied when NuGet package is not added directly"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet

dotnet.exe --version (if appropriate): 2.1.302

VS version (if appropriate): 2017 (15.7.5)

OS version (i.e. win10 v1607 (14393.321)): win10 (17134.191)

Worked before? If so, with which NuGet version: Probably was not working

## Detailed repro steps so we can see the same problem

Hi,

[2018-07-27 13:16] gmcve commented on #7008
I tested the build server with the followng NuGet.exe versions 3.4.4, 4.1.0, 4.5.1
All work as expected with no 4min time delay on installing the signed package on our offline build server.

[2018-07-27 17:00] bording opened #7154 "Can package references suppress grouping by target framework when packing?"
When packing via csproj, is there a way to have the project's package references not be grouped by the target frameworks of the project?

I have a package that is a development dependency, and it only has props and targets files in it. It also references a couple other packages that I want any consuming project to include transitively. You can see the csproj here: https://github.com/Particular/Par

[2018-07-27 18:07] rrelyea commented on #7137
Currently checked into 16.0/5.0 (dev branch).
Will consider 15.9 as well, so moving to 15.9 for now, to consider.

[2018-07-27 21:37] zhili1208 commented on #7149
looked at this issue, nuget install finished correctly and the package is in the tools folder ,the error is from cake.exe. looks like this is not a nuget issue. I would suggest file a issue at https://github.com/cake-build/cake/issues, let them to investigate from their code first, if there is any issue from NuGet API, we can take a look from there.

[2018-07-27 21:47] zhili1208 commented on #7150
@rrelyea does this should be fixed in 15.8?

[2018-07-27 21:49] zhili1208 commented on #7151
@rrelyea does this should be fixed in 15.8?

[2018-07-27 21:52] zhili1208 commented on #7152
@mishra14 are those strings owned by nuget team?

[2018-07-27 22:08] zhili1208 commented on #7153
in this case ,you have to pack the "MyNewPackage" with referenced "MyContentFilesPackage" like following:
[code]

Doc from here : https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets

ContentFiles are treated as private assets by default, they are not flowed to parent project. so you have to override the PrivateAssets to get cont

[2018-07-28 12:47] StingyJack commented on #6465
@rrelyea @karann-msft @zhili1208 - Please reopen this item as both it and the original devcomm issue are now closed as duplicate, referring to each other.

This is a *daily* pain point and each instance can eat 10-30 minutes depending on solution size and how many app.configs nuget decided to add to projects not selected for a package update.  I could delete the newly added app.configs through the

[2018-07-28 12:51] StingyJack commented on #7139
That tech spec link is a 404. Is that intentional?

[2018-07-28 15:52] ilexp commented on #5267
The problem persists. I have attached the most recent package, but I guess that doesn't add new info compared to the last one above.

[AdamsLair.WinForms.1.1.16.nupkg.zip](https://github.com/NuGet/Home/files/2238096/AdamsLair.WinForms.1.1.16.nupkg.zip)

Interestingly, the [web UI for uploading](https://www.nuget.org/packages/manage/upload) also seems to have trouble - I managed to upload it now, b

[2018-07-28 17:37] anangaur commented on #5267
/cc: @skofman1

[2018-07-29 02:43] skofman1 commented on #5267
@ilexp , we have an open issue on the progress bar that might explain the behavior you are seeing:
https://github.com/NuGet/NuGetGallery/issues/6085
Would you be able to send us a screen recording so that we would be able to determine if this is indeed the bug in question?

[2018-07-29 08:01] ilexp commented on #5267
@skofman1 I have created a new package for testing purposes. Same contents, same version, same metadata except for the ID, so no conflict with the previously uploaded package occurs. First, I verified that this package has the same problem with the command line upload - it has, the PUT command gets stuck. Next, I uploaded it via web, getting the following result:

https://gfycat.com/PaleWanBull

A

[2018-07-29 14:59] clairernovotny commented on #4166
This still doesn't work completely. It limits the allowed BuildActions artificially. I need to add `LinkDescription` to include a specific xml file, but it doesn't generate the right build action.

[2018-07-29 15:02] clairernovotny opened #7155 "Pack should not restrict the set of BuildActions for content files"
If you need to pack a contentFiles element with a custom build action, the pack task does not emit it. The task should not restrict what the allowable values are as items can be added of any type for any reason.

In this case, I need to add a `LinkDescription` item for the Xamarin Linker config.

This does not work correctly because the buildAction property is missing from the emitted contentFiles

[2018-07-30 02:11] StingyJack commented on #6330
In addition to the points above, the `install.ps1` is also useful for setting specific BuildAction and CopyToOutput for files that are being added to the project.

[2018-07-30 08:09] nichitaciuprin commented on #2880
Managed to fix the issue using "dotnet restore" command in "Package Manager Console"

[2018-07-30 09:46] davidsk commented on #6140
Interestingly, Visual Studio 2017 generates the following output when installing the package:

[code]

[2018-07-30 09:46] davidsk commented on #6140
@rrelyea Any update on this issue?

[2018-07-30 11:29] Monte-Christo commented on #6403
We have an application based on VS 2015 Isolated Shell that we can maintain only with VS 2015. We have no upgrade path to VS 2017 as Isolated Shell is not supported any more. We are dead in the water until and unless this gets fixed.

[2018-07-30 11:32] ppekrol commented on #7153
This was the article that I couldn't find anywhere. That helped. Thank you!

[2018-07-30 11:32] #7153 closed, assigned to nobody

[2018-07-30 13:49] wooderz commented on #3891
Any chance of a real solution here than a myriad of workarounds? I don't think it's right that I have to flood nuget with packages just because dotnet pack can't build the dependency tree?

[2018-07-30 16:57] jainaashish commented on #7139
It was still in PR which is why not available outside. But I've merged it now so you should be able to view.

[2018-07-30 16:59] bording commented on #7139
@jainaashish NuGet/Engineering is not a public repo.

[2018-07-30 17:01] jainaashish commented on #7139
ahh didn't realize it.

[2018-07-30 19:12] skofman1 commented on #5267
@ilexp , thanks for the repro. This is caused by NuGet/NuGetGallery#6085. The frequency in which the bug repros rises on slow networks. We will fix this soon.

[2018-07-30 19:56] nkolev92 commented on #7145
It's not supported currently.
The nuget api key would need to be associated with a source however so it can't be as simple as the above.

[2018-07-31 00:03] #7146 closed, assigned to nkolev92

[2018-07-31 01:10] rrelyea commented on #6318
@mishra14 - can you please retest this in dev with the original repro steps. Vendors say that this still repros. Thx.

[2018-07-31 01:25] v-luzh commented on #6318
It still repro on D16.0stg 27927.3000 + NuGet Client Dev\5.0.0.5364.

[2018-07-31 02:52] rido-min commented on #6318
I'm running 15.8.0.27929 and I can see the Warning in the **Package Manager Output**, but the warning is not found in the **Error List**.

![image](https://user-images.githubusercontent.com/14916339/43434792-15cfb7a8-9432-11e8-92d6-2230caab0c47.png)

[2018-07-31 03:03] rido-min opened #7156 "Incorrect error message when restoring a tampered signed package"
Nuget.exe  4.8.0.5278 , and Visual Studio: 15.8.27929.0 with packages.config

When trying to install a package that has been tampered with, I got the expected error:

[code]
But if I open a project/solution that uses the offending package, during the restore operation,  there is no indication that the package has been tampered. In this case the error is:

[code]

I was expecting to see the same `N

[2018-07-31 04:19] #6114 closed, assigned to AbdallahAbuHashem

[2018-07-31 07:50] BilgehanYildiz opened #7157 "Nuget restore package not overwrite content files"
Hi we have a nuget package which has content files in nupkg.When we want to upgrade package that time dll's are updated but some of contents like css files are not updated.But when we delete old contents and try to update it again that time it is updated.(Note:We can succesfully create our nuget package with these contents files,no problem in this part).

[2018-07-31 09:36] hugoqribeiro opened #7158 "Error initializing package manager console powershell host (NuGet.Types.ps1xml)"
## Details about Problem

NuGet product used: Package Manager Console
VS version: 15.7.5
OS version: Win10 Version 1803 Build 17134.167

## Detailed repro steps so we can see the same problem

1. Start Visual Studio.
2. Start Package Manager console

I get the following error message:

[code]

I've tried reinstalling NuGet Package Manager, reinstalling PowerShell 2.0. I even tried deleting %locala

[2018-07-31 12:05] dyadenka commented on #6140
Just had the same issue on VSTS online build when restoring packages using Nuget restore task. Looks like there is a task/thread synchronisation bug in nuget when it's performing parallel package processing. Our project uses 2 feeds, nuget.org feed and some private nuget server. From what I can see there in nuget logs, it actually tries both feeds, receives OK from one of them but nevertheless fai

[2018-07-31 13:17] xsoheilalizadeh opened #7159 "Some times nuget doesn't config Assembly Binding in projects config file"
## Details about Problem

NuGet product used:  VS UI && Package Manager Console

NuGet version: 4.6.0

VS version: VS2017 15.7.5

OS version: win10 v1803 (17134.191)

Worked before? If so, with which NuGet version: I have this problem always

## Detailed repro steps so we can see the same problem

1. I uninstall the package (MVC, json.net, automapper, etc ...)

2. I install the package (MVC, json.

[2018-07-31 15:59] Adam-S-Daniel commented on #6934
@nkolev92 - I created an issue about the docs page you referenced. Do you think my concern there is accurate?

https://github.com/NuGet/docs.microsoft.com-nuget/issues/997 "_Clarify that props and targets assets will not be imported through transitive dependencies_"

[2018-07-31 17:44] gowthamrang opened #7160 "Nuget doesn't show target frameworks information in UI if there is no dependency"
## Details about Problem
I was trying to pack, a library, managed by a legacy csproj file.  Nuget pack command was able to pack the library excluding the target framework version information in the nuspec file.
I was expecting nuget pack to read the target framework version from the legacy csproj file and include that information with the nuspec file

NuGet product used (NuGet.exe | VS UI | Packag

[2018-07-31 17:56] nkolev92 commented on #6934
@geeeyetee Yeah that's valid.
I've added a small clarification.

[2018-07-31 18:17] CJHarmath commented on #7145
Thanks @nkolev92 for checking!
I figured it's not supported right now as the value seems to be encrypted in the config after calling setapikey.

A more generalized way to pass extra information from nuget.exe to a nuget service could be allowing custom headers to be passed in via command line args or config per source.
Similarly to the X-NuGet-ApiKey.

For example:
`nuget push *.nupkg -source test

[2018-07-31 18:38] jainaashish commented on #6958
PR merged but still keeping it open to be tracked for 15.9

[2018-07-31 18:39] nkolev92 commented on #7145
Related to what you are articulating.
https://github.com/NuGet/Home/issues/6574

That issue talks about a plugin that can add params to the http requests.

[2018-07-31 18:41] jainaashish commented on #6007
There have been some or the other issues while doing this work. The latest issue pop up when we tried to do partial ngen with OptProf. NuGet assemblies were not being loaded with existing scenarios while running OptProf tests. Need to investigate that with "VS IDE Perf Reliability" team.

We'll look at it for dev16.

[2018-07-31 18:52] CJHarmath commented on #7145
yeah, something like that could also be surfaced as a command line arg / config attribute per source.
Being able to use environment variables as header values per source would be an extra nice touch for the CI server use-case as for example Jenkins already sets a bunch of GIT releated env vars.

[2018-07-31 20:09] PatoBeltran opened #7161 "Improve documentation on IVs APIs"
We have had a few Watson issues that have come because we don't have good documentation on what exceptions are being thrown from IVs APIs and what the user has to handle and expect.

We need to improve the documentation on these APIs so that users can properly handle and take action when our APIs throw exceptions to them.

Some of the issues are:
[654377](https://devdiv.visualstudio.com/DevDiv/_wo

[2018-07-31 20:54] dsplaisted opened #7162 "Confusing error message for circular project dependency"
_From @svick on July 23, 2018 22:6_

I created a project with project reference to itself by accident. When I tried to build it, it produced a confusing error message. I think that error message should be improved.

Tor reproduce this, you can follow these steps.

[code]

I think that especially the mention of `_GenerateRestoreProjectPathWalk` should not be in the error message, since it doesn't h

[2018-07-31 21:20] rrelyea commented on #7132
I should correct myself. We plan to investigate this for possible inclusion in 15.9 -- depending on what we find.

[2018-07-31 22:39] KirillOsenkov commented on #7132
Please let me know once you have a candidate fix, regardless of the ship vehicle - I suspect it should be a single Path.GetFullPath() in one place, but I'd like to be sure.

[2018-07-31 23:33] karann-msft commented on #352
Here is the spec - https://github.com/NuGet/Home/wiki/Packaging-Icon-within-the-nupkg

[2018-07-31 23:33] karann-msft commented on #4628
Here is the spec - https://github.com/NuGet/Home/wiki/Packaging-License-within-the-nupkg

[2018-07-31 23:34] karann-msft commented on #6873
Here is the spec - https://github.com/NuGet/Home/wiki/Packaging-Documentation-within-the-nupkg

[2018-08-01 00:59] xwlantian opened #7163 "Add -SolutionDirectory and -PackageDirectory options to nuget.exe pack"
## Details about Problem
The [GetSolutionDir](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/Common/ProjectHelper.cs#L47) method used by `nuget pack` could return wrong `SolutionDir` if there is a "unrelated" `.sln` file in the project folder or in the folder structure "before" the real `.sln` file. It causes `NU5012` error unable to find the nupkg file because

[2018-08-01 04:33] StingyJack commented on #352
@karann-msft - that spec is missing "Browse from a private repository". We have a private repo from running Nuget.Server.

To your earlier question, I dont really think I care about where in the package the icon needs to be.

Only Most Valuable Players get to use the icon field?

You may want to fix that spelling before it becomes the next "configuration file wather "

[2018-08-01 05:14] augustoproiete commented on #352
@StingyJack "MVP", in this context, stands for [**M**inimum **V**iable **P**roduct](https://en.wikipedia.org/wiki/Minimum_viable_product).

[2018-08-01 06:30] tthiery commented on #4628
Thanks for the spec. Everything I hoped for is in it :).
Regards license scanning: I think your new/old friends at GitHub did the same. Maybe connect to them.

[2018-08-01 06:48] markusschaber commented on #352
Just a question from one jumping in here late: Why is SVG not in the current spec, only PNG and JPG?

[2018-08-01 07:14] markusschaber commented on #6873
The current spec talks about "path to the icon file in the package" - I guess that's a typo and it should refer to the documentation file... :-)

[2018-08-01 07:47] nkolev92 commented on #7111
That's exactly what you can achieve with excludeAssets="Compile" at the caching wrapper.
It'll be there during runtime, but not in the intelisense.

They don't require a reference to the inner nuget package. Why would they? It'll already be brought in transitively.

Please refer to https://github.com/nkolev92/NuGet.Tools/tree/50a517e69f812e5b328102a56127fc3d24221e7e/LimitingTransitiveAPIflow where

[2018-08-01 08:49] v-longmin commented on #6381
The issue still repro on D15.9stg\27913.3000 with Default NuGet Client Release-4.8.0-RTM\4.8.0.5362

[2018-08-01 08:54] janbaltus commented on #6381
Fix is present in master branch. https://github.com/NuGet/NuGet.Build.Localization/pull/279/files

please make sure the same fix was merged into branch you build from for 15.9

[2018-08-01 13:14] vbfox commented on #6873
Having the markdown option support a very different subset of markdown from what other tools are doing (github, npmjs.com, crates.io, ... all more or less supporting GFM) is a little weird.

[2018-08-01 14:34] ferventcoder commented on #4628
For embedded binaries, we've required a LICENSE file and VERIFICATION file since 2015ish for Chocolatey Community Repository. Good to see this come into NuGet proper. 👍

[2018-08-01 15:21] PathogenDavid commented on #352
@karann-msft

Spec looks great, thanks for pushing this issue through!

-------

@StingyJack

I would assume that private NuGet servers (MyGet, NuGet.Server, Nexus, Chocolatey, etc) would all work the same as NuGet.org

------

@markusschaber

I would suspect because SVG is non-trivial for non-web clients like Visual Studio to render.

[2018-08-01 15:59] karann-msft commented on #6873
@markusshaber that's right :) fixed it in the spec.

[2018-08-01 16:18] infin8x commented on #6873
@karann-msft this is exciting!

Would you consider using 'readme.md' as the default file name instead of 'documentation.md'? The readme name is commonly used across Git repos and other package types like npm - would be great to encourage that same convention in NuGet.

[2018-08-01 16:28] sclarke81 commented on #5877
I'd like to reiterate @Falconne's question. Will there be the option to use this from the command line? We're keen to make this move, but doing this manually would be prohibitive.

[2018-08-01 16:44] hugoqribeiro commented on #7158
I have found that somehow 3 certificates issued by Microsoft Corporation ended up in the list of Untrusted Publishers on my machine (Internet Options | Content | Certificates).

After removing them from that list, the package manager console started working again (along with some other things that were behaving strangely in Visual Studio).

[2018-08-01 16:44] #7158 closed, assigned to nobody

[2018-08-01 16:47] StingyJack commented on #352
So many features that I _need_ from nuget are removed with every release (ps1, tt, mutable content, 4 part version numbering, consistent restore, etc). With this omission in the spec I could reasonably assume non-nuget.org repos will go the same way, and the omission being the only notice about it.

[2018-08-01 16:58] jainaashish commented on #5877
@sclarke81 as of now there is no plan to have a command line option. Besides the right approach of migration is to uninstall the current package from `packages.config` and reinstall with `PackageReference` which is hard to achieve through a command line tool specially the uninstallation part.

[2018-08-01 17:50] zhili1208 commented on #7132
@mrward the project.asset.json file is created by monodevelop, Nuget normalize the path, I can't repro same issue, in VS 2017. msbuild.  any ideas?

[2018-08-01 18:10] KirillOsenkov commented on #7132
I'm not sure monodevelop is involved. This reproduces with restore using nuget.exe and command-line build using MSBuild, but maybe the project.assets.json was written by MonoDevelop?

[2018-08-01 18:14] zhili1208 commented on #7132
@KirillOsenkov Do you have a repro which only use nuget.exe/msbuild restore the project and get the path in project.asset.json. I worked with @ToddGrun yesterday, the asset file is produced by monodevelop in his repro

[2018-08-01 18:14] adamralph commented on #352
Would it be possible to default to using `icon.{known extension}` if present, to avoid having to boilerplate `<PackageIcon source="icon.png", target=""/>` across the ecosystem?

[2018-08-01 18:31] nkolev92 opened #7164 "IVSPackageInstaller GetInstalledPackages does not support floating versions in PackageReference"
Related PR and bug [here](https://github.com/NuGet/NuGet.Client/pull/2373).
Related code [here](https://github.com/NuGet/NuGet.Client/blob/203c517a85791243f53ea08d404ee5b8fae36e35/src/NuGet.Clients/NuGet.VisualStudio.Implementation/Extensibility/VsPackageInstallerServices.cs#L77-L82)

The fact that floating version packages are dropped from the response could mislead consumers of the APIs.

//cc @

[2018-08-01 18:46] zhili1208 commented on #7132
I found the code https://github.com/mono/monodevelop/blob/master/main/src/core/MonoDevelop.Core/MonoDevelop.Projects.MSBuild/MSBuildProjectService.cs#L950 in monodevelop,  monodevelop created the PackageSpec which includes unnormalized fallback folder path.

[2018-08-01 18:47] KirillOsenkov commented on #7132
You're right, I couldn't repro with just command line. So it's a monodevelop bug indeed! Thanks for looking. Feel free to close this issue and i'll open a corresponding one against MonoDevelop.

[2018-08-01 18:50] nkolev92 commented on #7132
Nice catch @zhili1208.

[2018-08-01 18:50] KirillOsenkov commented on #7132
@zhili1208 thank you very much for helping root cause this. Much appreciated.

[2018-08-01 19:02] zhili1208 commented on #7132
Great, since this bug is not in nuget side, close it as external

[2018-08-01 19:02] #7132 closed, assigned to zhili1208

[2018-08-01 19:04] livarcocc opened #7165 "dotnet pack is ignoring documented metadata fields in nuspec file"
_From @glezalex on August 1, 2018 18:42_

I'm trying to pack a DotNet Core console app - target framework is netcoreapp2.1 - using the command 'dotnet pack -c release -o nupkg' and I've noticed several documented metadata fields are apparently ignored.

I'm having a look at https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#nuget-metadata-properties and properties like IsTool, IncludeBuildO

[2018-08-01 19:06] mishra14 commented on #6318
VS 15.8 P5 with NuGet 5.0.0.47 which should be in sync with 5.0.0.5364

.NET Core project -
![image](https://user-images.githubusercontent.com/10507120/43542844-00d0ee4c-9583-11e8-94da-f78af2f7d89f.png)

classic csproj project -
![image](https://user-images.githubusercontent.com/10507120/43542926-3b1ac46a-9583-11e8-9005-b77b448ce68a.png)

@rido-min @v-luzh Can you please run `nuget.exe locals -cle

[2018-08-01 19:35] mishra14 commented on #7152
talking to the extensibility team.

[2018-08-01 19:59] mishra14 commented on #6381
@v-longmin can you test this on dev16 + NuGet 5.0?

[2018-08-01 20:08] thashepherd commented on #6256
I don't believe that the fix in NuGet 4.7 is a complete solution as this problem is still occurring post-upgrade. In my specific test case, running `nuget install library_a -excludeversion` failed with the message `An item with the same key has already been added` when the output directory contains, for example, both `Gelf4Net2.0.3.3` and `Gelf4Net2.0.3.15` (so you can probably guess where that bu

[2018-08-01 21:15] augustoproiete commented on #352
@karann-msft - spec looks great!

Would be nice if SVG was supported - with a fallback to PNG or JPG. i.e. Would be nice if developers could include *multiple image types in the same package*, for example, SVG and/or PNG and/or JPG and the client can decide which one to render, based on what it supports... If client can't render SVG, then fallback to PNG or JPG, etc.

e.g. in the package root:
`/i

[2018-08-01 21:42] mishra14 commented on #7156
@rido-min I am seeing the error in the error list (NuGet 5.0 latest)-

![image](https://user-images.githubusercontent.com/10507120/43550633-1a908bec-9599-11e8-821b-1548a4af543b.png)

[2018-08-01 21:43] mishra14 commented on #7152
There is nothing nuget can do to fix this. You need to install the vsix with a language switch -

`vsixinstaller nuget.tool.vsix -culture:pt-br`

[2018-08-01 21:43] #7152 closed, assigned to nobody

[2018-08-01 22:22] mishra14 commented on #7156
Discussed this offline. Does not repro with latest nuget (5.x)

[2018-08-01 22:22] #7156 closed, assigned to nobody

[2018-08-01 22:23] mishra14 commented on #6318
Discussed offline,. I need to investigate packages.config scenario with only warnings.

[2018-08-01 22:33] karann-msft commented on #6873
@alexmullans you can name it anything you like since the file name must be specified in the nuspec.
NuGet.org will look for a file with the name, and at the path specified in the target attribute of the documentation element.
`<documentation target="filename.md"/>` here it would look for a file named `filename.md` at the package root.

[2018-08-01 23:06] jainaashish commented on #7165
@glezalex do you mean these properties doesn't work when you specify `NuspecFile` property? or even without `NuspecFile` property defined, these properties like IsTool, IncludeBuildOutput, IncludeContentInPack, BuildOutputTargetFolder or PackageOutputPath doesn't work?

And can you also elaborate on different default values with or without nuspec file... when you simply generate a default nuspec f

[2018-08-01 23:13] jainaashish commented on #7163
We haven't seen a real customer scenario where there is a `wrong` sln file right next to your project file and `real` sln is some where else... it seems odd. But I'll keep it around and listen to more feedback.

[2018-08-01 23:18] xwlantian commented on #7163
It's not uncommon that multiple solutions reference the same project but the solution files are in different folder.

[2018-08-01 23:24] jainaashish commented on #7162
I'm not sure if NuGet can do anything here, since this is directly being generated from MSBuild and thrown.

@rainersigwald

[2018-08-01 23:29] jainaashish commented on #7160
Target framework information has implicitly been included when it adds assembly under `lib/net471/TestLibrary.dll` which is what helps NuGet to figure out the target framework when it tries to install this package. So there is no need of explicitly including target framework information.

[2018-08-01 23:41] jainaashish commented on #7159
@SoheilAlizade can you provide specific repro steps or repro solutions of your issue? There are already some existing issues with `BindingRedirects` like #6220 or #6187, etc.. if your issue is related to any of those, then please comment/ upvote there itself instead of creating a new.

[2018-08-01 23:43] gowthamrang commented on #7160
Ah ok, the visual studio-nuget client doesn't display this information

I was hoping to see something like this
![expected](https://user-images.githubusercontent.com/13981621/43554527-ccd26d92-95a9-11e8-9f19-a7886127e672.png)
and this is what I'm seeing
![testlibrary](https://user-images.githubusercontent.com/13981621/43554521-c0000854-95a9-11e8-95db-aa4651540695.png)
]

[2018-08-01 23:43] jainaashish commented on #7157
Did you check if those content files were ever modified after install? NuGet doesn't update content files when they've been modified. If that's not your case, then provide repro steps or solution to investigate it.

[2018-08-02 00:06] mistachkin commented on #3050
Here is a pull request.  Please review.

https://github.com/NuGet/NuGet.Client/pull/2374

[2018-08-02 00:09] 0xfeeddeadbeef opened #7166 "NuGet.exe update -self doesn't update from 4.6.2 to newer version"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 4.6.2.5055

OS version: Microsoft Windows NT 6.3.9600.0

Worked before? If so, with which NuGet version: Updated successfully from 4.5.1 to 4.6.2

## Detailed repro steps so we can see the same problem

1. Download [nuget.exe 4.6.2](https://dist.nuget.org/win-x86-commandline/v4.6.2/nuget.exe)

2. Run from command prompt: `nuge

[2018-08-02 00:17] jainaashish commented on #7154
I don't think you can achieve it through project file, but I'll let Rohit answer it when he's back.

But I'd recommend to have the target framework specific groups without making it generic.

[2018-08-02 00:23] karann-msft commented on #352
@adamralph Great feedback and we considered doing that. Since multiple extensions are supported, we didn't want to cycle through to check for the presence of one and then for the next. This may have  perf implications for clients.

@caioproiete @markusschaber Supporting SVG would be great and is definitely on our backlog. At present, supporting SVG will break many NuGet clients that do not support

[2018-08-02 00:28] augustoproiete commented on #352
@karann-msft Great! All makes sense to me... Supporting PNG and/or JPG would be a fantastic start. Just wanted to make sure you guys leave the door open for other formats in future versions!

[2018-08-02 00:31] jainaashish commented on #7116
this is not just inconvenient, it actually doesn't work. NuGet.exe can't update self from 4.6.2 to 4.7.0 since self-updater still uses V2 api which doesn't support semver2.

So we have to publish `NuGet.Commandline 4.7.0` without `semver2`

[2018-08-02 00:32] jainaashish commented on #7166
Related workitem - https://github.com/NuGet/Home/issues/7116

[2018-08-02 00:35] nkolev92 commented on #7116
Related: https://github.com/NuGet/Home/issues/4197

Self updater uses the CoreV2 APIs.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/Common/SelfUpdater.cs

[2018-08-02 06:45] BilgehanYildiz commented on #7157
I have a nuget package ,it has some files like that version MyWork.1.0.0
MyWork.dll
MyWork.Css
I have some changes in my nuget package MyWork.1.0.1
when I try to update nuget package
MyWork.dll -->1.0.1
MyWork.css-->1.0.0(not upgrade this file)
If I remove MyWork.1.0.0.0 completely and Make new instalitaion of MyWork.1.0.1 that time it is okey.

I am not clearly understand what "content files were

[2018-08-02 07:07] markusschaber commented on #352
@karann-msft I see, thanks.

My first thought was that if we allow a list of `;`-separated filenames in the source tag, this cannot be added later in a backwards compatible way if clients don't know how to parse that kind of list.

But then I realized that we could add a separate attribute, e. G. `highsource="icon.svg"`, to the `PackageIcon` tag (in analogy to `<img lowsrc="..."` in HTML), or nest