[2018-03-26 12:41] evil-shrike commented on #6695
But where are they supported? For package.config only?

[2018-03-26 12:53] krakorj commented on #6140
@gps035 thank you, unfortunately the solution does not work for me. I use docker cmd as follows:

[code]

output listing excerpt:

[code]

[2018-03-26 13:32] ievgennaida commented on #6696
@StingyJack Hi. We have own server with project packages. Common assembly distributes snk file for our projects.

[2018-03-26 13:44] #6738 closed, assigned to nobody

[2018-03-26 14:47] stephenlautier commented on #4393
any update on this one? seems to be still an issue on `dotnet --version: 2.1.101`

[2018-03-26 15:07] AArnott commented on #6734
It seems like the bug may be in nuget.targets. Using detailed verbosity on `nuget restore`, I realized that nuget.exe was invoking MSBuild with a temporary generated .targets file as the project. I found this from `Microsoft.Common.targets`:

[code]

This depends on `$(MSBuildProjectDirectory)`, but that won't be the actual project directory when the project being built is a temporary file generat

[2018-03-26 15:35] anangaur commented on #5076
Is the original issue same as what you mention? I see the original issue was for push while the later discussions are around consumption.
/cc: @skofman1

[2018-03-26 15:37] shaulbehr commented on #6737
Solved: I removed the `-sources` parameter, and all is well now.

[2018-03-26 15:37] #6737 closed, assigned to nobody

[2018-03-26 16:25] StingyJack commented on #6696
Depending on the version of nuget you are using, you could use an install.ps1 script to update the project items or force the copy-ing of replacement files from the package.

If its just for in-house stuff, you may also be able to make a [code fix extension](https://github.com/Microsoft/VSSDK-Extensibility-Samples/tree/master/Code_Sweep) for VS that gives you warnings when the project doesnt have

[2018-03-26 16:25] AArnott commented on #6734
I don't yet know fully why, since it's clear that my .targets file is being imported with my workaround, but nuget restore still doesn't work right. There may be more than one underlying issue.

[2018-03-26 17:23] ievgennaida commented on #6696
@StingyJack Thanks for a suggestion, probably we will do it locally. Anyway, I believe that NuGet -reinstall should do this job without additional efforts...

[2018-03-26 17:47] ievgennaida opened #6740 "Incompatible\unloaded projects are not available to be updated with NuGet VSUI."
We have solutions with a tons of projects.
And sometimes, probably because of visual studio bug, some of the projects are not loaded and market as **"incompatible"** when visual studio is started. (some of the unittests basically and after the reload click they are successfully loaded)

But the bad part that NuGet will skip such projects when you do the update with VSUI.

And a build will be succe

[2018-03-26 18:02] dzmitry-lahoda commented on #5076
I concentrated on same error message and that issue was closed as not reproducible, and do not like to create new bugs if old would work fine (not the case there so). I see now that my case is different. My case around consumption. I just opened first issues with same error message found in web search. [Github search](https://github.com/NuGet/Home/issues?utf8=%E2%9C%93&q=End+of+Central+Directory+r

[2018-03-26 18:06] jainaashish commented on #6695
@StingyJack Please read carefully before commenting, otherwise people will be confused.

Content files are supported with PackageReference via `ContentFiles` folder and not through `Content` folder. There are two different folders hierarchy in NuGet package a) `Content` which is only supported with `packages.config` and b) `ContentFiles` which is only supported with `PackageReference`.

This is cl

[2018-03-26 18:10] mishra14 commented on #5076
@dzmitry-lahoda thanks for getting back to us. I have reopened this issue for investigation.

Can you please use the latest nuget.exe from [here](https://dist.nuget.org/win-x86-commandline/latest/nuget.exe) to see if you are still facing this issue?

[2018-03-26 18:16] rohit21agrawal commented on #6695
@evil-shrike can you attach the nupkg which isn’t working for you?

[2018-03-26 18:20] evil-shrike commented on #6695
@rohit21agrawal
[Package.1.0.0.zip](https://github.com/NuGet/Home/files/1849000/Package.1.0.0.zip)

[2018-03-26 19:00] rohit21agrawal commented on #6695
@evil-shrike I just tried this on my machine, and the Reports folder is copied to my bin directory.

[code]

Does a restore happen between ```dotnet build``` and ```dotnet add package``` command?

After you run the restore, could you zip the obj folder and attach it so we can see where it's going wrong?

[2018-03-26 19:04] mishra14 opened #6741 "Add support for NuGet signing client policy"
We should add support for client policies in the client to completely support the repository signing spec.
Spec task - https://github.com/NuGet/Home/issues/6526

[2018-03-26 19:05] mishra14 commented on #6705
Punting from sprint 133 based on internal discussion

[2018-03-26 19:06] mishra14 commented on #6524
Punting for a formal triage based on internal discussions.

[2018-03-26 20:47] #6712 closed, assigned to nobody

[2018-03-26 20:54] nkolev92 commented on #6734
When building the dependency graph we call msbuild from nuget.exe with a targets file to workaround issues with escaping the parameters correctly.

The graph is also built for the whole set of projects(solution potentially), so of the top of my head, not sure how to fix it.

We'll need to dig some more.

[2018-03-26 21:36] mikeharder opened #6742 "Workaround restore timeouts on systems with 1 cpu"
I have seen `dotnet restore` fail in two different ways on slow machines.  On a Raspberry Pi it fails with "A task was canceled".  In a docker container on an Azure A1 VM, it never completes and the `dotnet` process is stuck using about 4% CPU forever.

# Azure A1 VM
## Setup
1. Create an Azure A1 VM
  A. OS: Ubuntu 16.04 LTS
  B. Disk Type: HDD
  C. Size: A1 (not A1_v2)
2. Install docker
  A. htt

[2018-03-26 22:05] bricelam commented on #4125
I think the decision to use `ExcludeAssets="Runtime"` has some unintended consequences. See aspnet/EntityFrameworkCore#11437

[2018-03-26 22:36] kzu commented on #5800
From the [readme](https://github.com/NuGet/NuGet.Build.Packaging#installing):

Add the following NuGet feed to Visual Studio:

    https://ci.appveyor.com/nuget/nugetizer3000

Install the following package:

    Install-Package NuGet.Build.Packaging

We won't be pushing to nuget.org regularly until we have a final release.

Thanks!

[2018-03-26 22:36] AArnott commented on #6734
Thanks, @nkolev92. Can you confirm whether your NuGet.targets file invokes the MSBuild task on each of the projects, or if something else happens? Because if you're executing MSBuild for each project from your nuget.targets file, I would have expected this to work.

[2018-03-26 23:11] nkolev92 commented on #6742
We've faced similar issues before.
Duplicate of this [one](https://github.com/NuGet/Home/issues/2945
)

The issue is as you articulated, more connections than the device can handle.

Not sure we can do much because we need parallelism in the average case as it significantly improves the performance.

We'd need to reevaluate if 16 is really a good number and whether we do get benefits with it compa

[2018-03-26 23:49] jainaashish commented on #6742
We should definitely look into getting the right number for parallel operation, besides we can also look into configuring http timeout to better suit our requirement.

[2018-03-26 23:59] jainaashish commented on #6740
NuGet doesn't have any information about unloaded projects so they are not even listed in NuGet Manager UI at solution level. So Can you even see the unloaded project in the NuGet UI?

[2018-03-27 00:03] jainaashish commented on #6739
Please follow documentation from https://docs.microsoft.com/en-us/nuget/create-packages/supporting-multiple-target-frameworks to understand how to create a package which targets multiple target frameworks.

If you find, it doesn't help much, then please add comment there to help improve this further.

[2018-03-27 00:04] #6739 closed, assigned to nobody

[2018-03-27 00:24] jainaashish commented on #6736
We're actively working on moving the whole NuGet ecosystem from packages.config (PC) to PackageReference (PR) but that hasn't been the smooth ride. There are still lot of packages out there which don't work well with PR. So we're being little cautious there while we either move existing solutions from PC to PR, or default new projects into PR.

This dialog is a step in that direction to move peopl

[2018-03-27 00:31] jainaashish commented on #6735
Which is the package you're trying to install? I dont see any package name in your command... So make sure you're using the right command to run and also try it with the latest NuGet.exe version 4.6.1 (https://dist.nuget.org/win-x86-commandline/v4.6.1/nuget.exe )

[2018-03-27 02:01] SergeySagan opened #6743 "Copying content files into the install project wwwroot folder"
I already have a SO going on this issue, but it is not getting any response: https://stackoverflow.com/questions/49425012/dotnet-core-nuget-package-copying-content-files-on-restore

The problem is I need a way to copy `contentFiles` into the `wwwroot` folder of the project that is installing my `NuGet` package.

I can get a reference to it to show up in `Visual Studio` using this XML in the `NuGet

[2018-03-27 02:21] dora-gt commented on #6735
Hi, thank you for the reply.

I'm installing with a `packages.config` file, not specifying a package id.
The `packages.config` is like this: https://github.com/cake-build/example/blob/master/tools/packages.config

Actually I'm executing the command through Cake build.
It downloads the exe from `https://dist.nuget.org/win-x86-commandline/latest/nuget.exe`.
Is it problematic using `latest`?

[2018-03-27 05:28] nkolev92 opened #6744 "Address perf cost of discovering plugins"
"Discovering" the plugins to create credential providers is costly, mostly because currently the plugin discoverer does the verification of the plugin.

The lookup and signature validation of the plugins should not be done until the plugins are actually needed.

[2018-03-27 05:58] dzmitry-lahoda commented on #5076
New nuget will not help. I am absolutely sure. Because:

1. Open Edge
2. Open https://www.nuget.org/api/v2/package/System.Threading/4.0.11
3. Save `system.threading.4.0.11.nupkg`
4. Rename `system.threading.4.0.11.nupkg` into `system.threading.4.0.11.nupkg.zip`
5. Try to extract archive
Expected: Extracted
Actual: Failed because archive is invalid
![image](https://user-images.githubusercontent.com

[2018-03-27 06:27] eriawan commented on #6736
@jainaashish
This is me, eriawan. I'm the original poster of this issue, previously posted on dotnet/project-system.

Pardon, what I'm trying to say is the unit test project creation that target .NET Framework is always having older packages.config model.

If I create an ordinary class library project that has the MSTest nuget packages imported, I'll be fine in VS 2017 15.5.x or later, thanks to a

[2018-03-27 06:44] ashishnegi commented on #6739
@jainaashish  Thanks for sharing the document. It has good information. I am not able to sign in using twitter account on that page. Hence, unable to comment.  Can you tell :

If I have OS specific dll for netstandard, what is the hierarchy for lib folder. Should it be :

[code]

[2018-03-27 07:46] dzmitry-lahoda commented on #5076
I grabbed package from colleague PC and have put into `%USERPROFILE%\.nuget\packages\System.Threading` for temporal solution. It is attached.

[System.Threading.4.0.11.zip](https://github.com/NuGet/Home/files/1850893/System.Threading.4.0.11.zip)

[2018-03-27 10:52] teocomi commented on #329
I'm encountering this issue too, especially when creating VSIX templates for software addins/plugins. CopyLocal needs to be set to False.

[2018-03-27 11:00] ievgennaida commented on #6740
@jainaashish Yes, they are not listed and that's the problem.

When solution is loaded and updated via NuGetVSUI than "incompatible" are skipped.
And sometimes developers even did not notice that.
It will be very nice to have some kind of warning in this case.

P.s. NuGet.exe does the update for the same solution without any problems.

P.s.s.Was able to debug it and it's possible to return warning

[2018-03-27 14:15] philcarbone commented on #1428
We are running into this. We've had many packages created the same way (for months) and all of a sudden our latest package is complaining about this issue, stating that it is referencing itself. It seems like this is an issue that shouldn't go unresolved. In our case, it has a nasty cascading effect on all of our users and documentation. You claim that it will only affect a "small number of people

[2018-03-27 14:22] philcarbone commented on #1428
@nkolev92 Don't you think it is extreme to just close this as "won't fix"  (you are committing to NEVER fixing a problem that you may not know how much impact it really has). It would be better to just leave it open and say it currently isn't a priority. Instead you are saying you choose to leave the flaw, because that's how you roll (that leaves a bad taste in the mouth). Who else can we include

[2018-03-27 14:26] philcarbone commented on #1428
https://yetawf.com/BlogEntry/Title/Project%20Names%20and%20NuGet%20Package%20Names/?BlogEntry=1007

Quote from this URL:

[2018-03-27 14:29] philcarbone commented on #1428
One last thing to vent on (I promise) - I sent an email to **'support@nuget.org'**  We described our issue in detail and provided the xml for the project file and have had ZERO response. Yet, this email is posted on the nuget.org site for people to request support.

[2018-03-27 14:42] anangaur commented on #5076
Where are you downloading it from? It opened just fine for me.

@skofman1  what other details we need here?

![image](https://user-images.githubusercontent.com/14800916/37974689-5723ef1a-3192-11e8-8021-f3a936edef16.png)

[2018-03-27 14:56] fgiacomelli commented on #6468
In the nevering story of nuget updates I have to bring my experience.

Today the match was to update xamarin forms from 2.3.something to 2.5 in a complex project.

Obviously, nothing worked on the first step. Trying to solve the problem, after have changed the target framework to the latest available, I discovered this thread.

My problem started with Visual Studio that told me:

[code]

Following

[2018-03-27 15:16] dzmitry-lahoda commented on #5076
Attached package was downloaded by my colleague ~year ago into his nuget cache. As I said, package was fine some time ago. It was broken at some point of time. I copied collegue's files it into my cache and continue to work. As I doubt to have fix for this issue soon. So people will just reach this issue and attach non broken version of packages which are broken on nuget now, from their cache, and

[2018-03-27 15:47] dzmitry-lahoda commented on #5076
I see only one update of nuget either:

https://www.nuget.org/api/v2/Packages()?$filter=Title%20eq%20%27System.Threading%27&$select=Id,Tags,Title,Description,ProjectUrl,GalleryDetailsUrl,Version,LastUpdated,Version

`<entry><id>https://www.nuget.org/api/v2/Packages(Id='System.Threading',Version='4.0.11')</id><category term="NuGetGallery.OData.V2FeedPackage" scheme="http://schemas.microsoft.com/ado

[2018-03-27 16:22] joelverhagen opened #6745 "Enhance SignatureUtility.GetPrimarySignatureCertificates to support counter signatures"
Today, server side uses two methods to persist what certificates are used to signed and timestamp a package:

- `SignatureUtility.GetPrimarySignatureCertificates`
- `SignatureUtility.GetPrimarySignatureTimestampCertificates`

When repository signing is implemented on server side, we also want to keep track of what repository certificates and respective timestamper certificates are used. These meth

[2018-03-27 16:24] erikest commented on #5768
Just popped up for me too - ran fine, then windows did an 'update' (like one each night for 3 nights in a row), then today I noticed I can't run EF commands and I get the same error message and version numbers as prior posters.  VS version 15.3.5, so I'll try and update to 15.6.4 and report back.

[2018-03-27 17:20] zhili1208 commented on #6606
https://github.com/NuGet/NuGet.Client/pull/2096

[2018-03-27 17:21] zhili1208 commented on #6606
done in https://github.com/NuGet/NuGet.Client/commit/1f323c6644e982868a512b1715d34de1c0987c2c

[2018-03-27 17:21] #6606 closed, assigned to zhili1208

[2018-03-27 20:04] natemcmaster commented on #6398
Another example. https://github.com/NuGet/NuGet.Client/pull/2043

Just so you know what this means to us...everytime there is a breaking change, it typically takes a few hours to investigate and discover the issue because NuGet is effectively a global singleton between VS and MSBuild. It takes time to dig down the layers of dependencies to figure out what version of NuGet is bundled in MSBuild, to

[2018-03-27 21:05] #6703 closed, assigned to rohit21agrawal

[2018-03-27 21:56] muratg commented on #6398
cc @rrelyea FYI

[2018-03-27 22:32] mishra14 commented on #6742
This can be duped with https://github.com/NuGet/Home/issues/4538, right?

[2018-03-27 23:34] jainaashish commented on #6740
Thanks for the suggestion. But I'm afraid we'll be able to do anything there for next few cycles (meaning for next 6-8 months). NuGet.exe will work fine since it doesn't rely on dte project.

I understand you already debugged into it and knows some changes, but this is a design change which requires more discussion across teams and partners. Also, this has been the same behavior from beginning and

[2018-03-27 23:34] #6740 closed, assigned to nobody

[2018-03-28 00:08] mishra14 opened #6746 "VS solution restore does not read project level nuget config file"
## Details about Problem

NuGet product used: VS 15.7 P3

NuGet version (x.x.x.xxx): 4.7.0.5039

## Detailed repro steps so we can see the same problem

1. Take this [projectA.zip](https://github.com/NuGet/Home/files/1854149/projectA.zip)

2. Open solution in VS and try solution restore.

## Expected
The project should restore correctly.

## Actual
The project restore fails because reference to`Nu

[2018-03-28 00:09] mishra14 commented on #6746
cc: @jainaashish @nkolev92 @dtivel

[2018-03-28 00:36] karann-msft commented on #6666
Reopening since some issues haven't been addressed.

[2018-03-28 01:13] #6733 closed, assigned to nobody

[2018-03-28 02:16] rraallvv commented on #6284
Could someone please tell me whether this VS UI option is available on Mac? Thanks.

[2018-03-28 03:16] skofman1 commented on #5076
@dzmitry-lahoda , thanks for the detailed analysis of the issue. Since you were able to repro this on Edge, it sounds like a network related issue.
Before we continue with the investigation, a possible mitigation is using V3 API instead of V2: configure the feed to be **https://api.nuget.org/v3/index.json** instead of https://www.nuget.org/api/v2. Please let me know if this works.
Regarding invest

[2018-03-28 05:00] cltshivash commented on #6723
@zhili1208 : I will need to check this. The issue repros on the latest 15.6 update. Do you need the exact VS version where it worked ?

[2018-03-28 06:12] InquisitorJax commented on #6468
from the package manager console:
Update-Package [packageName] -ignoreDependencies
for each package one by one.

[2018-03-28 07:14] Botldoiz opened #6747 "The package ID 'DotNetSamples.Http.AspNetCore-21-' contains invalid characters"
Tried to pack an ASP .NET core project into a nuget package via NET Core command-line interface (dotnet.exe). pack command fails with
`NuspecProperties: \PackageFrameworkVersion=netcoreapp2.1;id=DotNetSamples.Http.AspNetCore-21;configuration=Release;version=17 C:\Program Files\dotnet\sdk\2.1.300-preview1-008174\Sdks\NuGet.Build.Tasks.Pack\buildCrossTargeting\NuGet.Build.Tasks.Pack.targets(198,5):

[2018-03-28 08:30] dzmitry-lahoda commented on #5076
There is my Fiddler logs attached, I have different result and cannot open archive. [belarus_company_vpn.zip](https://github.com/NuGet/Home/files/1855081/belarus_company_vpn.zip).

I followed index.json with
[code]

And combined into https://api.nuget.org/v3-flatcontainer/System.Threading/4.0.11/System.Threading.4.0.11.nupkg  . **Achive is fully extracted and is correct here!**

I have used [Proto

[2018-03-28 08:31] piers7 commented on #6256
Based on playing a fun game of follow-the-commit, it seems that surely this should be tagged with the 4.7 milestone, not backlog:

https://github.com/NuGet/NuGet.Client/commit/b7894380f06bd6fb9ee050a1348fb0dd44c367ca

Aside: when end-users arrive here they're already _distinctly unimpressed_ that something's not working, added to by however hard they found it to locate this issue. Making them jump

[2018-03-28 08:39] farlop commented on #5651
Having this issue today using .net core 2.0, is there any chance to get this issue reviewed?

[2018-03-28 09:57] ievgennaida opened #6748 "Nuget.exe is not fail proof. Packages and csproj files are not processed as a single transaction."
I use Nuget.exe to update my .NET Framework projects.

Sometimes my csproj files are locked and nuget shows the message "file is locked".
And in this case related packages.configs are still updated!

I believe that packages.config should be skipped from being updated when csproj is failed and otherwise. -> It just have to be more stable...

P.s. Such updates cause problems while nuget will skip th

[2018-03-28 10:02] ievgennaida commented on #6740
@jainaashish It's ok :).  Anyway this is just one of the annoying small issues that we have faced and I believe that product can be more friendly without those.

[2018-03-28 10:31] logichaos commented on #6675
@rohit21agrawal do I have to remove the label (if so then how do I do it?) or is it enough that I answered the thread for it to not be waiting for customer anymore?

[2018-03-28 11:54] eschneider999 opened #6749 "Can't fix account login for old MSFT account"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)

If this link worked......
(http://github.com/nuget/nugetgallery/issues)

[2018-03-28 12:02] Botldoiz commented on #6747
Closed: it seems that replacing the double backslash with single backslash in the arguments fixed this issue...
Sorry for any inconvenience.

[2018-03-28 12:03] #6747 closed, assigned to nobody

[2018-03-28 12:38] andrewducker opened #6750 "Download a package without unpacking (Download API)"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version (x.x.x.xxx):  4.3.0.4406

## Detailed repro steps
Problem:
There's no command which will simply download the .nupkg from a repository.

What I'd like to do:
nuget install MyDependency -Version 1.2.3 -PackageOnly
(Which would simply retrieve the package file into the current folder)

Use case:
This would allow for backing up pac

[2018-03-28 12:50] evil-shrike commented on #6695
@rohit21agrawal finally got it working. Sorry for the noise. The reason why it wasn't working is caching. I removed the package from .nuget folder in my profile, restore with `-f` and got the files from contentFiles folder in bin-output (once again persistent non-avoidable cache and subtle `--force` option hits me).

May I suggest to improve documentation on https://docs.microsoft.com/en-us/nuget/

[2018-03-28 12:51] #6695 closed, assigned to nobody

[2018-03-28 13:16] morad3741 opened #6751 "nuget.exe 4.3 uses V2 endpoint when list"
HI,
im using nuget.exe on mac (NuGet Version: 4.3.0.4406)
ive notice the list command uses V2 endpoint:
[code]
[code]
1. is the V3 search service been used already?
2. on which version you will start using the V3 search service?

[2018-03-28 13:18] karthikanandan commented on #6681
Hi @joelverhagen

Thanks for the update.

Query:
Could you provide this log file?

Response:
I will provide the log file details ASAP.

Question:
Can you please share the Release notes for NuGet.Server 3.1.0

Thanks,

[2018-03-28 13:34] dzmitry-lahoda commented on #5076
[My sister studies math PhD in Berlin](https://vimeo.com/220338424) and she gets broken archive on her MacBook Air either by https://www.nuget.org/api/v2/package/System.Threading/4.0.11 :
![screenshot 2018-03-28 15 30 00](https://user-images.githubusercontent.com/757125/38032210-b753b668-32a5-11e8-86af-5f59d0b8dfc2.png)
![screenshot 2018-03-28 15 30 20](https://user-images.githubusercontent.com/75

[2018-03-28 14:23] maxtoroq commented on #3830
@rohit21agrawal this issue is old, any news?

[2018-03-28 14:54] lukas-ais commented on #5878
@rrelyea You added NeedsTriageDiscussion label to this issue.
Who can start such discussion and how can it get completed?

Thanks
Lukas

[2018-03-28 15:26] eerhardt commented on #3891
`<BuildOutputInPackage Include="@(_ResolvedProjectReferencePaths)" />`

From my understanding it is considered "bad form" to take a dependency on a property/item/target that starts with an underscore `_`. Everything in MSBuild is "public" and "global", and the convention of naming things starting with `_` is to make consumers aware that this property/item/target can change in the future, and shoul

[2018-03-28 15:53] cltshivash commented on #6723
@zhili1208 : The issue repros on VS 2015 as well. You will need to set the target framework for the classlibrary and the test project as 4.6.2. It doesn't repro if this is set as 4.6.1 or 4.7.*. Hope this helps in narrowing down the cause.

[2018-03-28 16:04] thashepherd commented on #6256
For what it's worth, this bug/regression/change is preventing us from upgrading our build servers past NuGet 4.3 (some of the complexity in our build scripts makes the workaround impractical, or at least nontrivial).

[2018-03-28 17:01] kzu commented on #6688
related https://github.com/NuGet/Home/issues/2066, suspicious https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.PackageManagement/IDE/PackageRestoreManager.cs#L167

[2018-03-28 17:16] jainaashish commented on #6256
This will be part of 15.7 preview3 bits and then subsequently 15.7 rtm release.

[2018-03-28 17:23] natemcmaster commented on #6653
So, was this made an error in recent versions of NuGet? Our build started failing with error NU5118

FYI @ryanbrandenburg @muratg @Eilon - this may block us from moving forward to the preview2 SDK.

[2018-03-28 18:21] zhili1208 commented on #6688
@kzu Yes, that's the issue, this API only works for package.config, it's not a regression.

[2018-03-28 18:27] rohit21agrawal commented on #6653
@natemcmaster this is a warning. It's probably being upgraded to an error because of your project file settings. You can suppress this warning like you suppress any other msbuild warning using the warning code listed in the log.

[2018-03-28 18:29] natemcmaster commented on #6653
I see. We will have to suppress to workaround for now, but is there anyway we can properly resolve the real issue? We want two files named "AttributeValue.cs" in our symbols package, but don't have a way to tell /t:Pack how to differentiate between the two

[2018-03-28 18:33] rohit21agrawal commented on #6653
i like the solution you posted as part of [comment](https://github.com/NuGet/Home/issues/6653#issuecomment-371984378) , but i am not sure how quickly we can prioritize this. If you want to take a shot at sending a PR, i would be happy to get it in.

[2018-03-28 18:49] jbruninx commented on #6468
Same problem over here. After removing packages, bin and obj folders, cleanup nuget cache, cleaning the solution and restarting vs as admin, I finally managed to update the packages simply by changing the forms package to 2.5.x

[2018-03-28 20:35] chenriksson commented on #5076
@dzmitry-lahoda I've purged our CDN cache for this package. Please let us know if you continue to see problems.

[2018-03-28 20:42] natemcmaster commented on #6653
If I get a few minutes, I might be able to make a PR, but I can't promise timeliness on this. For now, we've decided to disable IncludeSource to workaround. Turns out we don't need our source code in our .symbols.nupkg files now that we have source link enabled.

[2018-03-28 22:14] mhutch opened #6752 "Cannot restore with fallbacks and unknown framework"
I have a project that has a custom framework that's not known to NuGet. However, it also defines `PackageTargetFallback` and `PackageAssetFallback` to both be `netstandard2.0`, as the framework is compatible with .net standard 2.0.

When I try to restore it, I get `Invalid restore input. Invalid target framework 'unsupported'.`

[2018-03-28 23:01] mishra14 commented on #6749
This issue was moved to NuGet/NuGetGallery#5707

[2018-03-28 23:01] #6749 closed, assigned to nobody

[2018-03-28 23:15] joelverhagen commented on #6751
Hey @morad3741, you are correct that `nuget.exe list` indeed uses the V2 protocol for list. In fact, even if you explicitly provide the V3 source URL to nuget.exe, V2 will still be used.

**Same output:**
[code]

This is done via the `LegacyGallery` resource in the V3 service index.

Yes, it is used for other scenarios. For example, when you use the "Browse" tab in Visual Studio, this hits the V3

[2018-03-28 23:45] mishra14 commented on #6751
@morad3741 Please let us know if you are blocked by this or if you have feature/design change request.

[2018-03-28 23:53] mishra14 commented on #6748
Thanks for reporting this issue. At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2018-03-28 23:57] mishra14 commented on #6602
@philultfin please let us know if you are still blocked by this.

[2018-03-29 00:23] rmsutton commented on #5800
I tried version 0.2.3 from the repo above but the problem appears to persist. Has anyone been able to verify if this works in 0.2.3?

[2018-03-29 00:39] rohit21agrawal commented on #6675
the best part about contentFile feature in NuGet is that the addition of content is done behind the scenes during build time . The content will be available to you when you need it.

If you modify your nuspec and set copyToOutput=true :

``` <files include="**\*.*" buildAction="Content" copyToOutput="true"/> ```

then it will also be copied to the build output folder on build. I verified this with

[2018-03-29 06:41] morad3741 commented on #6751
Thanks for the detailed answer,
Im not blocked by this just wanted to know how Nuget.CLI work.

I thought Visual Studio rely only on Nuget.CLI , so when you use the "Browse" tab VS make direct call to the V3 search api ?.

[2018-03-29 06:53] jainaashish opened #6753 "EF package broken with devDependency flag explicitly setting exclude=Runtime for PackageReference"
From https://github.com/aspnet/EntityFrameworkCore/issues/11437

1. You have a tool like the EF commands (Add-Migration PMC command or dotnet ef), or the xUnit.net test runner, the MVC scaffolding, etc.
2. You need an entry point into the user's project to reflect over and invoke their code to get their DbContext model, test classes, controllers, etc. This entry point is distributed in a NuGet pac

[2018-03-29 08:24] ChrisMcKee commented on #2867
I'd request this is extended to packages that are abandoned.

* Nuget should automatically label projects where there have been no updates in 4 years as abandoned and bump them down the search listings
* Or at implement a deadmans handle; email once a year "Are you still maintaining this package" no response in 90 days, de-rank in search.

[2018-03-29 08:26] ievgennaida commented on #6748
@mishra14 thanks, I saw that new .NET standard libs are managed in the other way.
But I use .NET framework libs with an old .packages approach.

[2018-03-29 11:05] JKennedy24 commented on #5498
I think I am also seeing this with `ExcludeAssets="All"`

Can anyone confirm whether they would expect to see the bug when using `ExcludeAssets="All"`

[2018-03-29 12:22] evil-shrike opened #6754 "dotnet restore fails with NU1108 error ("Cycle detected") if csproj has the same name as a dependant PackageReference"
A real case - you want to play with a library, let's take Autofac. You create a folder named "autofac" then run `dotnet new console` then `dotnet add package Autofac` and then run VSCode anticipating a fun.
Agree to install required assets for .net project and run restore to get intellisense.
Bump! Error - NU1108: Cycle detected.

[code]
then you have to renam `autofac.csproj` to `autofac-sandbox.

[2018-03-29 13:19] StingyJack commented on #6284
ui is different on the Mac, but does have a remove [option](https://docs.microsoft.com/en-us/visualstudio/mac/nuget-walkthrough#nuget-in-visual-studio-for-mac). Neither have the thread topic.

[2018-03-29 13:27] rraallvv commented on #6284
@StingyJack Thanks!

[2018-03-29 13:40] dzmitry-lahoda commented on #5076
Yes. It works fine now. Thanks.

[2018-03-29 13:54] joelverhagen commented on #6751
Visual Studio does not call into nuget.exe directly. Instead, both Visual Studio and nuget.exe call into some common NuGet libraries. For example, the code that implements the client side of the V2 and V3 protocol is in the [NuGet.Protocol](https://www.nuget.org/packages/NuGet.Protocol) library.

That's right, assuming you have the V3 source URL configured (https://api.nuget.org/v3/index.json) whi

[2018-03-29 15:38] bricelam commented on #6753
(Also from aspnet/EntityFrameworkCore#11437)

This is also broken in .NET Framework projects. In `packages.config` projects, the assemblies in packages with `developmentDependency="true"` were copied to the output directory. With `<PackageReference>`, they're not.

[2018-03-29 15:53] ajcvickers commented on #6753
Note that this is breaking EF Core 1.0, 1.1, 2.0, 2.1 on .NET Core and .NET Framework. Therefore it is breaking the .NET Core SDK for 1.0, 1.1, 2.0, and 2.1.

/cc @Eilon @divega @DamianEdwards for visibility

[2018-03-29 18:59] purplepiranha commented on #6743
I'm trying to find a way to do this as well - been speaking to @Serjster on SO.

Hope someone has some insight.

[2018-03-29 21:34] mishra14 commented on #6751
Closing this as a question. Please let us know if you need any more info.

[2018-03-29 21:34] #6751 closed, assigned to joelverhagen

[2018-03-29 22:05] jainaashish commented on #6468
After detailed analysis, we've figured out that this needs to be fixed from Xamarin team and there is already an issue# https://bugzilla.xamarin.com/show_bug.cgi?id=61113 logged on to them. So please vote and comment and track Xamarin issue to get future updates.

[2018-03-29 22:11] mungojam commented on #4401
@rrelyea Yeah, it's unfortunate for us this. Even once we have moved all our projects to PackageReference, we will still want our build script to be able to build older changesets so we will have to leave the nuget.exe restore step in rather than being able to switch to the nice msbuild /restore for everything.

[2018-03-29 22:40] activa commented on #6468
The last bugzilla bug comment says:

What fix is this referring to? Seems like a circular reference. Both issues refer to each other but I don't see a fix.

[2018-03-29 22:43] erikest commented on #5768
Updated to latest VS, 15.6.4 and the problem persists.  This hurts

[2018-03-29 22:44] jainaashish commented on #6468
That last comment is 7 days ago, that time we thought we might be able to handle it from our end. But that wasn't the case so we updated this thread and continued our investigation. Now, we've identified the right root cause, and the right fix needs to come from Xamarin which has been communicated to them.

[2018-03-29 23:08] erikest commented on #5768
This works:

https://developercommunity.visualstudio.com/content/problem/35803/help-error-the-package-manager-console-requires-po.html

[2018-03-29 23:10] activa commented on #6468
So what does this mean:

That sounds like there is a fix and it is just waiting to be included in VS. What fix are we talking about? It seems that both Microsoft and Xamarin are saying that it's something for the other "side" to fix.

[2018-03-29 23:13] nkolev92 commented on #6754
This is by design.

Since project.json, NuGet has been moving towards project-package duality.

A project and a dependency cannot have the same name.

I don't think NuGet needs to do anything different here.

[2018-03-30 04:23] anangaur commented on #6659
Taking about the current issue at hand, what is your expectation? How should this issue be fixed?

* start supporting content folders by default. This has the possibility of breaking existing users who use PackageReference and do not expect **content** folder’s assets to available.
* support **content** folder with a special attribute(option) in PackageReference so that users who use existing pack

[2018-03-30 09:25] sercantimocin commented on #3436
I Had same issue. The problem was the sln file has same blank lines. I removed the lines. It resolved

https://stackoverflow.com/questions/45100594/nuget-restore-exception-has-been-thrown-by-the-target-of-an-invocation

[2018-03-30 10:28] EmilAlipiev commented on #6468
suggestion from @InquisitorJax works. you can also use the ui and "ignore dependencies" option instead of lower. generally first attempt returns "collection is read only" error but 2nd one works with this option. At the end, android proj file becomes a mess with old imports, error lines, you have to remove them manually. It seems that xamarin has a problem to manage proj file regarding nuget refer

[2018-03-30 12:41] StingyJack commented on #6659
I expect to be able to install something like jquery, as I have for the last several years, without having to bother the author to reauthor or reorganize a package and without me having to do any additional work or delays (that has not been planned for as it is not expected)

There is no difference to me between content files and contentFiles. They are files to be included in the project that will

[2018-03-30 13:10] purplepiranha commented on #6743
Been looking into his some more today:

From: [Announcing NuGet 3.1 with Support for Universal Windows Platform](https://blog.nuget.org/20150729/Introducing-nuget-uwp.html#deprecated-features)

Importing content from a Nuget package was depreciated for projects using a project.json file in Nuget v3.1. Since then the project.json file has been dropped in favour of the new .csproj format. Importing

[2018-03-30 14:49] joelverhagen commented on #6681
All (recent-ish) release notes are available on GitHub releases:
https://github.com/NuGet/NuGet.Server/releases

3.1.0 release notes are:

[2018-03-30 17:57] nguerrera opened #6755 "ResolveNuGetPackageAssets allocates 3.7% of solution-wide design-time build"
_From @davkean on September 26, 2017 12:55_

This is literally turning text -> text, can we do this without NewtonSoft.Json? Otherwise, try the lower level reader API that JSON.NET has?
![image](https://user-images.githubusercontent.com/1103906/30861318-ab9065ec-a30d-11e7-98ce-04584375a089.png)

_Copied from original issue: dotnet/sdk#1605_

[2018-03-30 17:57] nguerrera commented on #6755
_From @davkean on October 4, 2017 23:16_

Some of this allocations is due to reading line annotations - turn that off via JsonLoadSettings.LineInfoHandling.

[2018-03-30 17:57] nguerrera commented on #6755
This is the version of package resolution for non-SDK projects. cc @Pilchie Does this go in project-system or nuget?

[2018-03-30 17:57] nguerrera commented on #6755
_From @Pilchie on February 5, 2018 22:28_

project-system has tended to make the changes, but the code lives at https://github.com/NuGet/NuGet.BuildTasks/.

[2018-03-30 19:14] abpiskunov opened #6756 "Type 'NuGet.PackageManagement.PackageReferenceRollbackException' in Assembly 'NuGet.PackageManagement, Version=4.7.0.3, Culture=neutral, PublicKeyToken=31bf3856ad364e35' is not marked as serializable."
See TFS 590892 for more info.

Repro Machine： | WNVM22848
-- | --
Login: | fwtlaba
OS: | Win10 x64 rs3 ENU
VS SKU: | VSE
Dev15.7 Preview3 | \\cpvsbuild\drops\VS\d15.7\products\27526.00\channels\internal\Preview\bootstrappers\fixed
CLI 2.1.x (pre-release-build) | https://github.com/dotnet/versions/tree/master/build-info/dotnet/product/cli/release/2.1
TestBinaries from: | \\vwdbuild01\drops\WTE\Rel.

[2018-03-30 19:57] rohit21agrawal commented on #6666
@karann-msft please tell which issues haven't been addressed?

[2018-03-30 20:13] Pilchie opened #6757 "Conditional references in csproj files causes error when condition is false"
_From @Reza1024 on July 10, 2017 21:17_

I am trying to have a solution with two projects and reference on in the other one only in Debug builds but referencing under conditions causes compile error on Release although it compiles just fine on Debug. It is very easy to reproduce:

[code]
Here is the content of the content of the csproj files. I am using VS 15.2 (26430.14)

**DebugTools.csproj**
[c

[2018-03-30 20:13] Pilchie commented on #6757
_From @srivatsn on July 24, 2017 19:25_

If the solution is closed and reopened after changing the configuration to Release (such that the config is Release when the solution is loaded) then it builds fine. It looks like switching configurations doesn't change the set of project references we track for a project.

[2018-03-30 20:13] Pilchie commented on #6757
Does this work on command line builds?  @nguerrera or @lifengl - where should this be moved?

[2018-03-30 20:13] Pilchie commented on #6757
_From @nguerrera on March 30, 2018 20:6_

This doesn't work on the command line either. I think it's a fundamental issue with the fact that nuget restore shares assets file between configurations. I don't think SDK nor CPS can fix this either. It's more of a nuget issue.

[2018-03-30 20:35] shueybubbles commented on #5350
After the work various teams have done internally at Microsoft to generate SLN files "on the fly" from dependency analysis of csproj files I'm a bit surprised VS hasn't incorporated some of that utility into devenv directly. It'd be awesome if Vs would just create a new SLN automatically if one isn't in the directory and automatically add in the projects through the <ProjectReference> chain. Our p

[2018-03-31 10:22] urmatt opened #6758 "Can't install EntityFrameworkCore because NuGet version is 3.6.0-rtm-2511"
## Can't install EntityFrameworkCore because NuGet version is 3.6.0-rtm-2511 but needed version is 3.6.0 or higher.

Hello everybody!

I have a wpf project & database for this project, entityFramework Model. And I want to create async controller for this project, therefore I need to install EntityFrameworkCore.

I working on VS2015 & my project on .NET 4.0. After specified error I changed it to .N

[2018-03-31 13:37] vivainio commented on #5602
I want to pile on "please don't introduce any functionality at solution level". Single solution typically represents a very small part of a bigger product that wants to harmonize the dll versions. Solutions should remain a superficial "ide convenience" feature instead of getting critical new responsibilities.

[2018-04-01 00:00] livarcocc opened #6759 "Unexpected NU5104 reported"
_From @huoyaoyuan on March 31, 2018 22:55_

**Version Used**:
2.1.200-preview-007474
`C:\Program Files\dotnet\sdk\2.1.200-preview-007474\Sdks\NuGet.Build.Tasks.Pack\build\NuGet.Build.Tasks.Pack.targets(198,5): warning NU5104`

**Symptom**:
All of my projects are preview and have prefix in their versions, but packing target claims they cannot dependent on preview packages.

**Reproduction**:
https:

[2018-04-01 03:03] cltshivash commented on #6723
@zhili1208 : Any update on this issue ?

[2018-04-01 18:03] mohammad325830 opened #6760 "Cannot add migration: Unable to find type [NuGet.VisualStudio.IVsPackageInstallerServices]."
Please help me.
when I put Enable-Migrations in Manager Console(VS 2015)(EF6.2)(.net 4.6) this Error Happened.

Unable to find type [NuGet.VisualStudio.IVsPackageInstallerServices].

[2018-04-01 18:03] #6760 closed, assigned to nobody

[2018-04-01 21:52] ashmind commented on #4634
Does this mean we need to attach to `CollectPackageReferences` instead of `Restore`, or just that it was implemented together with `CollectPackageReferences`?

[2018-04-02 07:14] eriawan commented on #6736
Any update on this issue?

@jainaashish my issue is quite unrelated to your last comment. It's about the default template used by MS Test unit test for .NET Framework that always use legacy csproj unit test model with packages.config used.

IMHO as described in my workaround in the issue, it should use the newer csproj model, or we can simply use latest .NET Framework class library project that al

[2018-04-02 09:47] orthoxerox opened #6761 "proxy authentication fails when called from dotnet restore if certain characters are present in the password"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): 4.3.0.4406

dotnet.exe --version (if appropriate): 2.0.0

VS version (if appropriate): none

OS version (i.e. win10 v1607 (14393.321)): win7 v7601

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Be behind a

[2018-04-02 11:07] kzu commented on #5800
According to the [latest CI build](https://ci.appveyor.com/project/MobileEssentials/nuget-build-packaging/build/artifacts), the latest version should be `0.2.5-dev.1`. Please make sure to check the "pre-release" checkbox in the IDE.

[2018-04-02 11:11] kzu commented on #6688
The regression is in behavior: an API that used to work and restore, no longer does if the user changes to `PackageReference`, without *us* changing anything. Moreover, the scenario that used to work, no longer does and there is no workaround that we could find.

This means we cannot recommend anyone using Xamarin to switch to `PackageReference` and we'll have to modify all our newer templates to

[2018-04-02 15:29] pierceboggan commented on #6688
To add to what @kzu said, before switching to `PackageReference`, our most popular project templates were taking 1-2 minutes to unfold. After switching to `PackageReference`, the unfold process sped up by 4-5x, depending on machine. The `packages.config` method had a negative impact on retention, so we are not keen to move back to that approach.

This is just one of the many issues we had when usi

[2018-04-02 17:37] eriawan commented on #5600
@emgarten

Pardon, marking this issue as `Up for Grabs` would be wrong and misleading, because people outside Nuget.Client internal member won't be able to participate.
For example: I'm not a Microsoft employee and also not part of Nuget.Client repo members (hence I don't have the rights to add issue tracking), so I won't be able to grab this issue at all.

[2018-04-02 17:41] jainaashish commented on #6688
As mentioned on email, there are couple of options to work this around:
1.	Try using NominateProjectAsync api from IVsSolutionRestoreService2 interface which works similar to IVsPackageRestorer and restore the provided project. So you just need to pass the project unique name. This interface is available via NuGet.SolutionRestoreManager.Interop package (https://www.nuget.org/packages/NuGet.Solutio

[2018-04-02 17:43] nkolev92 commented on #4634
@ashmind
Attach to CollectPackageReferences.
In the solution case, restore is run on a metaproj, so the restore target can't be used as an extension point for projects.

Additionally, it's the only target that's consistent among VS and commandline for restore.

[2018-04-02 17:47] jainaashish commented on #6736
@eriawan thanks for clarifying your issue. You originally posted this issue at the right place, but @davkean might have also misunderstood like me. So I'll move it back there, it should either be project system or unit test team call to update their templates.

[2018-04-02 18:32] mmulhearn commented on #1827
FYI, I've been seeing this exact issue in the past month or so.  Switching between sources, uninstalling and reinstalling are some work arounds, but not 100%.  Pushing my own packages up to VSTS and then it takes like 15 minutes to finally get it to install.

[2018-04-02 18:36] eriawan commented on #6736
@jainaashish
Thanks! I think you're right, @davkean might have misunderstood me.

@davkean
Could you reopen my previous issue on [dotnet/project-system#3421](https://github.com/dotnet/project-system/issues/3421) now? I think my previous issue posted on dotnet/project-system still holds valid, therefore I believe it's not actually Nuget issue.
Please confirm.

[2018-04-02 18:48] mmulhearn commented on #1827
![error](https://user-images.githubusercontent.com/411870/38210261-e2999d00-3684-11e8-8a5d-75b76f99402e.png)

You can see Cs.DataAccess has an update, but it says it can't find the package.

[2018-04-02 18:51] bickycheese commented on #4054
@acinep how did you solve this? I'm running against the exact same issue here...
I temporarily solved it by adding the **.net standard output** in the referencing projects _nuspec_ `<file>` tag..

[2018-04-02 21:03] nkolev92 opened #6762 "Consider adding a logging contract to the plugin protocol"
Consider adding a logging contract to the plugin protocol.
- When would a plugin be allowed to log etc.

Alternatively consider setting a logging request handler for plugins at creation.

The scenario here is device flow in dotnet/msbuild scenarios where the plugin would need to write to the restore output.

[2018-04-02 23:29] rohit21agrawal commented on #6759
@huoyaoyuan could you please paste the full log of the pack target?

[2018-04-02 23:30] anangaur opened #6763 "PackageReference enhancements"
PackageReference requirements, at a glance:

| # | Requirement | Issue # | Status|
|:--- |:-----------|:--------|:---|
| R1 | Developers would like to have repeatable builds (restores) across time and space | [#5602](https://github.com/nuget/home/issues/5602) | [Done](https://devblogs.microsoft.com/nuget/enable-repeatable-package-restores-using-a-lock-file/)|
| R2 | Developers would like to contro

[2018-04-02 23:47] anangaur opened #6764 "[PackageReference] Centrally manage NuGet package versions for a solution or a repo"
PackageReference enhancements are summarized as part of this Epic issue: https://github.com/NuGet/Home/issues/6763

* Status: **Incubation**
* Spec: [Centrally manage NuGet package versions for a solution or a repo](https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-packages)

[2018-04-03 00:22] anangaur commented on #6718
Closing it as there was no further discussion on this.

[2018-04-03 00:22] #6718 closed, assigned to anangaur

[2018-04-03 00:23] anangaur commented on #5934
https://github.com/NuGet/Home/issues/6764

[2018-04-03 00:23] #5934 closed, assigned to anangaur

[2018-04-03 00:29] bording commented on #6764
@anangaur Have you seen https://github.com/Microsoft/MSBuildSdks/tree/master/src/CentralPackageVersions? This seems like it enables the kind of control this requirement is talking about.

[2018-04-03 00:33] anangaur commented on #6764
@bording true that. Thanks.
@jeffkl @jainaashish we should sync up on this

[2018-04-03 00:35] rohit21agrawal commented on #6743
@Serjster having a file in contentFiles folder with copyToOutput set to true will copy the file in the build output folder right before the build starts. are you not seeing the wwwroot folder in your build output directory?

[2018-04-03 00:37] jainaashish commented on #6764
pretty neat, just wondering how does it work out with VS, if it all it does?

[2018-04-03 00:37] rohit21agrawal commented on #6755
my understanding was that the build tasks in NuGet.BuildTasks are actually owned by @Pilchie 's team, and not NuGet even though they live in our repository.

CC: @rrelyea

[2018-04-03 00:39] nguerrera commented on #6755
Yes, I understood as much from https://github.com/NuGet/Home/issues/6755#issuecomment-377583085

I also interpreted that as implying I should file the bug where the code lives, which is why I moved it here.

[2018-04-03 00:45] anangaur commented on #6764
Lets see how can we make this mainstream in NuGet and if satisfies all the requirements.

[2018-04-03 05:08] SergeySagan commented on #6743
We certainly tried that and the file certainly did not copy to the wwwroot folder.

[2018-04-03 05:17] rohit21agrawal commented on #6743
@Serjster instead of CopyToOutputDirectory , can you set ``` PackageCopyToOutput``` true on your Content ItemGroup files and give it a shot?

[2018-04-03 05:22] rohit21agrawal commented on #6727
@sandeepnaikinfotrack can you attach a repro project that shows the behavior?

[2018-04-03 06:34] huoyaoyuan commented on #6759
@rohit21agrawal
[code]
The pack target log seems small. I cannot get more information from it.

[2018-04-03 07:12] vmukunda commented on #4190
As specified by @geirsagberg  adding the following dependancy directly to the .csproj file worked for me.

[code]

[2018-04-03 08:33] jenscski commented on #6468
@activa, I created the bug at xamarin, and later the a bug report was also created, and reported as fixed in this issue.

So I updated the bug at xamarin, but the fix was later withdrawn by the NuGet team ...

[2018-04-03 08:52] zosrothko opened #6765 "Nuget.CLient: rename the target directory 'packages' to 'nuget'"
## Details about Problem

When installing a Nuget package into a VisualStudio project, nuget.exe pulls the downloaded files in a subdirectory named `packages`. This name is too mush generic and may clash with others packaging tools. This issue is requesting to change the name of the `packages`directory to a more nuget specific name: `nuget` would be the best choice IMO.

C:\Users\fandre\Documents\

[2018-04-03 09:14] btodts commented on #2714
+1

[2018-04-03 16:39] karann-msft commented on #6666
I have tagged all the issues listed above. Everything with **[OPEN]** needs to be addressed. As and when you fix them, change the associated tags.

[2018-04-03 16:48] karann-msft commented on #6645
cc: @anangaur @kraigb

[2018-04-03 16:53] karann-msft commented on #6509
Out of curiosity, what did you beta test last year for Microsoft?
PS: This utility will ship with VS 15.7 Preview 3 this week.

[2018-04-03 17:25] samuelan commented on #3042
@emgarten 's deletion of the ComponentModelCache folder worked for me. Thanks!

[2018-04-03 17:43] StingyJack commented on #6509
The key word there is

I got the same bug-riddled VS everyone else did. For me the time spent initial troubleshooting on problems before I realized they were defects, coming up with workarounds for those, wading through docs labeled ".net" but were actually netcore, and the time spent re-building a few things to bridge intentionally lost or broken functionality, I lost about two months of producti

[2018-04-03 17:49] jmarolf commented on #6736
@jainaashish this is not a project system bug.  This is an issue with the nuget template wizard.

**Steps to Reproduce**:

1.  User sets default package management format to be `PackageReferences`
![image](https://user-images.githubusercontent.com/9797472/38265443-c61331fe-372a-11e8-9aef-dff0e03a6f08.png)

2.  User creates a project (for example: .NET Framework test project) that has the following

[2018-04-03 17:54] terrajobst commented on #6764
Do we have a strawman for this, design-wise? I'm not sure where that information would be when this is supported across repo boundaries (as the title suggest we do). At that point, this looks like a feature of the feed. It's almost like we'd like to have snapshotted feeds at that point.

[2018-04-03 17:55] jmarolf commented on #6736
Sorry for cross posting from different threads but as I already posted this here.

@jainaashish what should the XML below be so that we opt-in to whatever the user has set as their *default package management format*?

[code]

[2018-04-03 18:05] kzu commented on #6688
Solved by switching to:

[code]

Note that you should *ignore* the comment about CPS ;)

[2018-04-03 18:05] #6688 closed, assigned to nobody

[2018-04-03 18:10] pakrym opened #6766 "Downgrade is not overriden by direct package dependency"
1. `git clone git@github.com:aspnet/IISIntegration.git`
2. `cd IISIntegration\src\Microsoft.AspNetCore.Server.IISIntegration`
3. `git checkout pakrym/downgrade-repro `
3. `dotnet restore`

Expected:

Direct dependency on `Microsoft.AspNetCore.Http.Extensions (>= 2.1.0-a-preview2-mpr-16655)` overrides the downgrade error (as stated in error message)

Actual:

[code]

/cc @emgarten

[2018-04-03 18:19] eriawan commented on #6736
@jainaashish
Let's continue the discussion here then.

How to know more information about the project template wizard you mentioned in your comments in dotnet/project-system/issues/3421#issuecomment-378337134 ?

~~Is this project template wizard opensource?~~
Ok, I have found the source: https://github.com/Nuget/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio.Interop/TemplateWizard.cs

[2018-04-03 18:20] anangaur commented on #6764
@terrajobst No designs as such. My current thinking right now is to be able to define it per solution level in a file. And sometimes instead of defining it in the file, it could be imported from some global file present anywhere accessible by NuGet/MSBuild.

The purpose of keeping the term repo is to help not constrain anything for a 'solution' level. There would be some cases where an app is dist

[2018-04-03 18:48] terrajobst commented on #6764
If we had better tooling for maintaining/populating feeds, creating snapshotted feeds is probably the most logical model. And the file that people need to check in is a nuget.config with the proper feed :-)

[2018-04-03 18:49] wli3 opened #6767 "NuGet exhausted sockets"
NuGet had this problem with mac https://github.com/NuGet/Home/issues/2004 and now it is happening for RHEL7.2 and CentOS7.1

This is blocking CLI check in for 2.1.3xx

Issue on CLI and investigation https://github.com/dotnet/cli/issues/8972

[2018-04-03 18:50] wli3 commented on #6767
Did nuget keep creating httpclient? A new httpclient instance will hold socket.

[2018-04-03 18:50] wli3 commented on #6767
@rohit21agrawal @rrelyea

cc @livarcocc

[2018-04-03 18:56] purplepiranha commented on #6743
I can't get either of those options to work. They get copied to bin, but they can't be used from within the project.

[2018-04-03 18:57] rohit21agrawal commented on #6743
can you show me your .g.props and .g.targets file? It should be under the obj folder

[2018-04-03 19:13] purplepiranha commented on #6743
**copyToOutput=true**

props:

[code]

targets:
[code]

**or for PackageCopyToOutput=true**

props:

[code]

targets:

[code]

[2018-04-03 19:15] rohit21agrawal commented on #6743
it doesn't look like your package with contentFiles has it setup correctly, otherwise those files will be listed above. Can you send me the package? (also make sure you restore to see the updated .g.props and targets file)

[2018-04-03 19:17] nkolev92 commented on #6766
It should not be overriden in your case.

This error in particular is about a closer package overriding the version requested by more distant packages.

https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings#nu1605

This is normally a warning, so you very likely have TreatWarningsAsErrors set to true.

You have 2 choices here:
- [ ] Add NU1605 to NoWarn.
- [ ] Add a version of Micros

[2018-04-03 19:28] purplepiranha commented on #6743
I could send the package, but you're right. I just checked, neither of those packages have any contentFiles - I have no idea why. My packages from earlier did, but I did so many tests that I don't know which is which.

My script that I want included is at 'Scripts\js\Utility.js'

Perhaps it may be easier if you give an example of how this would look is a working .csproj?

[2018-04-03 19:36] tugberkugurlu commented on #1290
👍

[2018-04-03 19:46] aknielson opened #6768 ".."
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2018-04-03 19:57] jainaashish commented on #6753
Fixed as part of internal bug# https://devdiv.visualstudio.com/DevDiv/_workitems/edit/589635
and commit# https://github.com/NuGet/NuGet.Client/commit/2e21519a94c8ea8d2bb033142fe617ddd2cb0500

[2018-04-03 19:57] #6753 closed, assigned to jainaashish

[2018-04-03 20:30] bording commented on #6753
@jainaashish Since the referenced commit reverted the development dependency support, is there a public followup issue to track adding it back, in whatever form that might occur?

[2018-04-03 20:44] jainaashish commented on #4125
Since we had to revert this change because of EF tools package broken with `ExcludeAssets=Runtime`, I'm reopening this issue. We'll bring it back in 15.8 with more validations.

[2018-04-03 20:47] jainaashish commented on #6753
yeah I've reopened the original issue tracking this work# https://github.com/NuGet/Home/issues/4125 and marked for next release.

[2018-04-03 21:33] wli3 commented on #6767
The issue is mitigated by change _ulimit_ on CI. I can confirm this is the problem. But we need to fix the root cause. Ideally there should not be more sockets used than the entry count of nuget config. The limit of 4096 should be enough.

[2018-04-03 21:38] nkolev92 opened #6769 "DotnetToolTests shouln't set MSBuildExtensionsOutputPath after Microsoft.Common.props has been evaluated."
DotnetToolTests shouln't set MSBuildExtensionsOutputPath after Microsoft.Common.props has been evaluated.

https://github.com/NuGet/NuGet.Client/pull/2131#discussion_r178968045

This should be done either in dinrectory build props or add it before the SDK imports.
[code]

This will become apparent once we upgrade to latest CLI in our tests

//cc @wli3 I think this needs to change in the DotnetTool

[2018-04-03 22:16] DoRonMotter commented on #6707
Let's use this issue to track that we need to disable gold bar experiences for 4.7.  We can have an issue for 4.8+ to revisit promotion.

[2018-04-03 22:18] rrelyea commented on #6701
For 15.8, we are going to not manage the lifetime different than now. Currently a plugin process will be killed if no communication has happened within 5 minutes.

[2018-04-03 22:18] #6701 closed, assigned to zhili1208

[2018-04-03 22:24] rrelyea commented on #6666
@rohit21agrawal  - seems like we should fix any of these needed for 15.7 this week.

[2018-04-03 22:24] rrelyea commented on #6608
Did work in s133 instead of this ... Rohit made ProdCon builds take NuGet build output.

[2018-04-03 22:24] #6608 closed, assigned to nobody

[2018-04-03 22:25] rrelyea commented on #6607
This work is done, but will ship when client profiles ships.

[2018-04-03 22:28] rrelyea commented on #6532
Done.

[2018-04-03 22:28] #6532 closed, assigned to nkolev92

[2018-04-03 22:36] rrelyea commented on #6518
Sounds like the email thread went dead. Moving to 4.8.

[2018-04-03 22:46] #6766 closed, assigned to nobody

[2018-04-03 22:47] #6768 closed, assigned to nobody

[2018-04-03 22:55] rrelyea commented on #6468
Closing this issue. Making sure the feedback issue gets transferred to Xamarin Android teams.
Also sending email to @kzu and others.

[2018-04-03 22:55] #6468 closed, assigned to jainaashish

[2018-04-03 23:05] activa commented on #6468
So why are you closing this issue @rrelyea ? It's not fixed and there's no reference to another bug. Both sides are pointing to the other side.

[2018-04-03 23:06] rohit21agrawal commented on #6743
@purplepiranha  attached an example project for you that creates a package with contentFiles that will be copied to output directory
[contentfilesexample.zip](https://github.com/NuGet/Home/files/1873751/contentfilesexample.zip)

The file will also be available as any other ``` Content ``` would be in the project.

[2018-04-03 23:24] jainaashish commented on #6736
I'm not sure how to specify msbuild property in vstemplate file? msbuild or vs extension team might knows anything. @jeffkl

[2018-04-03 23:38] jainaashish commented on #6736
and if there is no way to specify msbuild property with vstemplate file then NuGet should provide an additional parameter on `packages` tag to specify.

[2018-04-04 00:33] alexzaytsev-newsroomly opened #6770 "Control the transitive dependency resolution on a granular level similar to ^ and ~"
Remove the content above here and fill out details below.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
dotnet.exe
NuGet version (x.x.x.xxx):
4.6.0.4964

dotnet.exe --version (if appropriate):
2.1.100

VS version (if appropriate):
15.6.0

OS version (i.e. win10 v1607 (14393.321)):
win10 v1703 (15063.966)

Worked before? If so, with which

[2018-04-04 00:37] SergeySagan commented on #6743
`PackageCopyToOutput` does not seem to work, here's a GitHub: https://github.com/SaganMarketing/NuGetContentFiles

[2018-04-04 00:43] rohit21agrawal commented on #6743
@Serjster when you point to a GitHub repo, please also provide instructions/steps on what I am supposed to look for?

I have pasted a sample project in my previous comment, which if you run dotnet pack on, will create a nuget package with a content file. You should try installing that package in your project, and inspect your .g.props and .g.targets file in the obj folder, and check your bin outpu

[2018-04-04 00:47] alexzaytsev-newsroomly commented on #5400
@davidfowl For me this `nearest-wins` approach is really annoying because of how we work.

We have package 1 that contains some code in it's own repository with it's own build
We have package 2 that contains some other code and depends on package 1. This also has it's own repository and it's own build.

Then we have projects that would reference package 2.

Now as a developer, i need to extend pac

[2018-04-04 01:34] kraeg75 commented on #6459
Thanks JeremyOne.  That solved my problem.

[2018-04-04 02:31] #6745 closed, assigned to dtivel

[2018-04-04 03:07] nkolev92 commented on #6770
NU1605 is still a warning.
Somewhere in your project, the `<TreatWarningsAsErrors>true</TreatWarningsAsErrors>` is set.
That could potentially be set by the SDK, etc.
You can do /pp or use the bl to figure out where it's set and decide if you want to change it or not.

From Project 1's perspective, the closest thing to `^` in npm, is a floating version, but that comes with some caveats.
Currently

[2018-04-04 06:20] nkolev92 commented on #6665
A [duplicate](https://mseng.visualstudio.com/DefaultCollection/VSOnline/_workitems/edit/1214673) of this was reported to mseng

[2018-04-04 09:01] purplepiranha commented on #6743
Thanks @rohit21agrawal for the sample project. This does copy the file to bin output directory and it also shows in solution explorer in the right place:

![image](https://user-images.githubusercontent.com/15064668/38298050-1bca2ea4-37ee-11e8-8f7a-f0eb147198af.png)

However, when you try to use it, it cannot be found. Ive just put `<script src="~/js/Utility.js"></script>` before the `</body>` tag

[2018-04-04 09:43] SergeySagan commented on #6743
@rohit21agrawal The GitHub has a TestParent which creates the package and the a TestChild which consumes that package, and as @purplepiranha mentioned it only creates a ref to the file, it doesn't actually copy it into the TestChild so that when you try to reference it via like a web call, the file is not actually there and therefore that reference is pretty much useless.

[2018-04-04 15:18] StefanBertels commented on #5619
I just stumbled upon weird default restore behaviour:

1.  I pushed a new version of package A to our own NuGet server (klondike), incrementing version number.
2.  I manually entered the new version number in consuming project B (csproj, new SDK format)
3.  Neither Visual Studio nor "dotnet restore" could find the new package and raised an error. My build script (calling msbuild with restore targe

[2018-04-04 15:43] jeffkl commented on #6736
You could place the MSBuild property in the project during creation but I would not recommend that.  The code that is adding the packages to the created project is probably just not respecting the user setting of default package style.  In my opinion, the code that adds the packages should be looked at.

https://github.com/NuGet/NuGet.Client/blob/7985322db49b11340ad4bf0c73247c9bd0096621/src/NuGet.

[2018-04-04 16:14] eriawan commented on #6736
@jeffkl
Thanks and this is great update! I think we could add the PackageReference setting check.

Imho, looks like the fix to add setting check should be quite straightforward.

[2018-04-04 16:21] karthikanandan commented on #6681
Hi @joelverhagen,

Thanks for the details.

This problem did not resolve after upgrade latest version (Nuger.Server v3.1.2).

Could you provide this log file?

I have upgrade latest version (Nuger.Server v3.1.2) and I got two different log files.

**Case 01**:
Our NuGet package folder structure like below.
![image](https://user-images.githubusercontent.com/37404382/38320195-8c67fbc4-3851-11e8-8a7b

[2018-04-04 16:29] joelverhagen commented on #6681
Could you provide a Fiddler trace of the VS2013, VS2015, and VS2017 repro?

If the HTTP 500 is not resulting in a logged exception, perhaps another component (before or after NuGet.Server application code) is causing a problem.

Also, for the "AspNet" root folder, why are `ReportViewer` or `Converter`? Do they need to be there? Ideally they should be ignored by NuGet.Server, but it's odd to have r

[2018-04-04 17:35] #6065 closed, assigned to nkolev92

[2018-04-04 18:15] rohit21agrawal commented on #2577
this is done in 4.6 (author signing) & 4.7 (repo signing)

[2018-04-04 18:15] #2577 closed, assigned to anangaur, rido-min

[2018-04-04 18:16] rohit21agrawal commented on #5488
The migrator tool (on a per project basis) will be available in 15.7 Preview3

[2018-04-04 18:16] #5488 closed, assigned to rohit21agrawal, jainaashish

[2018-04-04 18:17] rohit21agrawal commented on #5877
while the migrator will be available in 15.7, some of the issues listed in the OP still need to be worked on. Moving this to 4.8

[2018-04-04 18:19] rohit21agrawal commented on #6067
made good progress,  should continue to work on it when we get the time.

[2018-04-04 18:22] jainaashish commented on #6601
@dtivel are you planning on fixing it in 4.7? if not, can you please move it to appropriate milestone? May be put it in Backlog with right priority?

[2018-04-04 18:37] nkolev92 opened #6771 "Threading issues with MEF being called on async codepaths"
NuGet LegacyPackageReferenceProjectProvider synchronously requests MEF along async code path - [issue](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/487585)
NuGet requests MEF synchronously along async code path - [issue](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/487576)
NuGet MEF part(s?) have thread dependencies in ctors - [issue](https://devdiv.visualstudio.com/DevDiv/_wor

[2018-04-04 18:39] mishra14 opened #6772 "[Feedback] [Test Failure] There is no ‘no-op restore’ log for C# xUnit Test Project (.NET Core) project after restoring with developer command prompt"
Internal issue: [525127](https://devdiv.visualstudio.com/DevDiv/NuGet/_queries/edit/525127/?fullScreen=false&triage=true)

[2018-04-04 18:44] nkolev92 opened #6773 "NuGet Package Manager doesn't show versions available based on source"
Moved 565735 here.
https://www.screencast.com/t/JZum9Zcofxq

When I go to installed or updates after selecting a new source, and look for versions to install, I expect to see the newer versions. I do not.

Maybe I don't get it, but the UI is the same across Browse, Installed, and Updates so I expect the list to show me all versions I can switch to.

[2018-04-04 21:34] mishra14 opened #6774 "Add restore NoWarn validation in pack"
We should add a validation step in pack that parses all the restore related NoWarn and throws a warning for that.

This will improve the visibility of the potential restore warnings being carried by the package.

[2018-04-04 21:35] mishra14 commented on #6774
cc: @rrelyea @rohit21agrawal

[2018-04-04 21:36] rohit21agrawal commented on #6774
how will a package carry a restore warning?

[2018-04-04 21:36] mishra14 commented on #5375
Received another request. Reopening this issue for future.

[2018-04-04 22:48] activa commented on #6468
So who's going to take responsibility for this blocker issue?
Xamarin is ignoring it. Microsoft is ignoring it. Are you going to continue pointing fingers at each other? Isn't Xamarin part of Microsoft now?

@rrelyea @jainaashish

[2018-04-04 22:52] Brain2000 commented on #738
This issue has just hit us as well.  We have hundreds of projects in about 6 different solutions.  The largest being about 300 projects in the main solution.  All are in different folders, and some refer to specific framework projects that we have.

NuGet in the current state is a nightmare.  The very first post here describes the perfect solution using $(NugetPackagePath).  I can't believe that t

[2018-04-05 00:50] rohit21agrawal commented on #6743
@Serjster @purplepiranha can you help me understand how you are trying to use the file from the package?

CC: @jainaashish since he has more context in the area

[2018-04-05 01:32] rohit21agrawal commented on #6666
@karann-msft can you show me where you see NuGet Upgrade Report in the migrator report? it's already been fixed

[2018-04-05 01:33] jainaashish commented on #6743
@Serjster in yout GitHub repro https://github.com/SaganMarketing/NuGetContentFiles, `PackagePath` for this content is not correct which is why it was included in TestChild.

[code]

Update` <PackagePath>contentFiles\all\all\wwwroot\js\</PackagePath>` to ` <PackagePath>contentFiles\any\any\wwwroot\js\</PackagePath>`

That should fix it, let us know if it still see this issue.

[2018-04-05 01:33] rohit21agrawal commented on #6666
same for item # 10 & 8 . Please send me screenshots if you still see the issue.

[2018-04-05 02:53] kzu commented on #6468
I have been assured that this fix is already in the current 15.7 previews, and will make it to stable.

Please do let me know if you can verify it works for you.

Thanks!

[2018-04-05 03:41] chlowell opened #6775 "Update-Package ignores PackageReference version range"
## Details about Problem
NuGet product used: Package Manager Console
VS version: 15.7

## Repro
1. Start with a csproj and PackageReference with an exact version range, for example:
[code]
2. From the Package Manager Console, run Update-Package.
[code]

Installing the newer version is unexpected because version range constraints are legal for PackageReference, and Update-Package respects them in `

[2018-04-05 04:55] SergeySagan commented on #6743
Thanks for that. Even after fixing that however, it does not copy the file. Please see image:
![nuget-gh](https://user-images.githubusercontent.com/3606218/38347836-33667884-385b-11e8-9e24-14e4f9f06174.png)

[2018-04-05 04:58] rohit21agrawal commented on #6666
number 9 cannot be done for security reasons : https://stackoverflow.com/questions/18246053/how-can-i-create-a-link-to-a-local-file-on-a-locally-run-web-page/18246357#18246357

[2018-04-05 05:06] jainaashish commented on #6743
It will not copied into project, rather it will always be available as link item. So it will be kind of immutable content which is available to be consumed but to be updated. And since you also set `CopyToOutput` to true, then this file will be copied into `/bin` folder.

[2018-04-05 05:13] SergeySagan commented on #6743
That is completely useless to me. I need the file to be copied from the package when I build... the actual file,.. one that I can serve up via HTTP into my `wwwroot\js` folder! I tried using a TypeScript file there, but the compiler freaks out trying to compile that as well. If we can't include JS, which is so crucial to web content... then this does not meet the need. We need a solution that actu

[2018-04-05 05:18] rohit21agrawal commented on #6743
@Serjster forgive me for my lack of experience with web projects, but could you help me understand if ```wwwroot``` is a special folder that ASP.NET looks for in the project root directory? Is this location configurable?

Would having javascript files as embedded resource instead of content help?

[2018-04-05 05:22] SergeySagan commented on #6743
Yes `wwwroot` is a special folder in ASP.NET, `wwwroot` is not really configurable, there might be a way but.. the simple answer is no. No, `Embeded Resource` will not help.

[2018-04-05 05:28] rohit21agrawal commented on #6765
@zosrothko this behavior is already configurable by setting the ```repositoryPath``` in your nuget.config file.

See : https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior

[2018-04-05 05:28] #6765 closed, assigned to nobody

[2018-04-05 05:37] jainaashish commented on #6743
Again, this will always work fine in production since all these files will be copied on deployment. And for debugging, you can use MSBuild to physically copy and unblock yourself.

[2018-04-05 05:42] SergeySagan commented on #6743
Why must I use `MSBuild` to do this? Can I configure this in my package, to run this `MsBuild` copy step? If so, how? What if we have thousands of projects consuming our package, will each of them need to add this build step? This is not a workable solution unless the package can be configured to do so.

[2018-04-05 05:46] jainaashish commented on #6743
`Why must I use MSBuild to do this?`
Because this is currently not supported and if you want to unblock yourself immediately then you must do this, otherwise ignore it. Meantime, we'll work with ASP.NET team to understand the whole scenario and come up with right solution for this.

Yes, you can configure it in your package itself, add a .target file in build folder of your project which contains

[2018-04-05 05:53] jainaashish commented on #6774
more over, why should a package carry restore warning? it's no unpredictable and unnecessary add more complication to pack.

[2018-04-05 05:53] rohit21agrawal commented on #6743
@Serjster here is an example of using a targets file to achieve the copying:

Create a ```build``` folder in your package, and have a targets file with the name ``` <packageId>.targets``` .

The targets file will look something like this:

[code]

If you end up using the build targets approach, you don't need to have ```contentFiles``` in your package

[2018-04-05 06:25] zosrothko commented on #6765
OK for setting the repositoryPath as a local matter. But can you consider this renaming as a global Nuget change so that no configuration has to be done on a third party computer for a zero config fonctionality?

[2018-04-05 06:28] rohit21agrawal commented on #6765
Unfortunately no, this will be too big of a breaking change and we cannot change the default

[2018-04-05 06:53] zosrothko commented on #6765
OK, so can you add a new option to setup locally all receiving directories name as for example

nuget config -set repositoryName='nuget'

[2018-04-05 07:21] SergeySagan commented on #6743
Using that `targets` file worked. I pushed the changes so the repo here works now: https://github.com/SaganMarketing/NuGetContentFiles

Thanks for your help. It sounds like you will connect with ASP.NET team to see if this can be made easier? In any case, using this work around is acceptable to me. Thanks again.

[2018-04-05 07:21] #6743 closed, assigned to nobody

[2018-04-05 07:37] MagicAndre1981 commented on #6758
I already reported this some time ago:

https://github.com/NuGet/Home/issues/6403

They fixed it for Nuget 4 which comes with VS2017, but 2015 users are left behind.

[2018-04-05 07:41] MagicAndre1981 commented on #6715
use WPRUI (Windows Performance Recorder UI, select CPU and click on start, run nuget pack capture 1 minute of cpu usage, click on save). Now open the ETL with WPA to analyze the cpu usage:

https://channel9.msdn.com/Shows/Defrag-Tools/Defrag-Tools-42-WPT-CPU-Analysis

[2018-04-05 08:22] jenscski commented on #6468
Looks like it works in 15.7 preview 2, first time I was able to update Xamarin packages since 15.4.5.

[2018-04-05 13:11] kzu commented on #6468
Thanks for confirming. Please do make sure to update (or manually install to get latest) version of https://www.nuget.org/packages/Xamarin.Build.Download since that will bring substantial performance benefits for incremental builds in Xamarin.Android projects.

[2018-04-05 15:32] tds01088 commented on #3078
use powershell command  <all | http-cache | global-packages | temp>
 dotnet nuget locals all --clear

[2018-04-05 15:54] rohit21agrawal commented on #6775
@chlowell thanks for the feedback! we will look into it, just a quick question - did this scenario work for you before and has regressed in 15.7 preview builds?

[2018-04-05 16:16] chlowell commented on #6775
No, it doesn't work in 15.6.4 either.

[2018-04-05 16:30] cdmihai opened #6776 "RestoreSources are ignored for project with p2p references"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

dotnet.exe --version (if appropriate): 2.1.300-preview3-008443

VS version (if appropriate): Latest 15.6 and 15.7 previews

## Detailed repro steps so we can see the same problem
0. Get a clean machine. It does not repro on my main machine, but it repros on 4 other fresh machines th

[2018-04-05 18:08] rducom commented on #6625
Hi @rrelyea & @joelverhagen , I'm currently blocked by this issue, and there's no way to access CI build artefacts on the repository. I tried to build locally with build.ps1, without success.
Is there any way to get a patched NuGet.Tools.vsix as hotfix ?

[2018-04-05 18:13] DoCode commented on #6625
DotNet restore have the same behavior!
What's the state here?
No infos. No one who use SemVer v2 packages? Mhmm...

[2018-04-05 19:01] gabrielhall2112 commented on #6625
I just found this thread, I'm having what seems to be the exact same issue:

I upgraded my organization's hosted Nuget Server, our nuget CLI tools and updated visual studio in hopes of using SemVer v2. I was able to push both stable releases ( _**e.g. 1.0.0**_, backwards compatible with SemVer v1) and prereleases ( _**e.g. 1.0.0-alpha.1**_, using new SemVer v2).

HOWEVER, in Visual Studio when att

[2018-04-05 19:15] DoCode commented on #6625
@skarletlightning yes. We here 😉 know this since month...
No one from VS, DotNet and NuGet team priorized this issue 👆!
I think we are the only one with SemVer v2 packages 🤔

[2018-04-05 19:27] dtivel opened #6777 "Signing: contentUrl MUST be HTTPS"
contentUrl MUST be HTTPS; however, client code [does not enforce this](https://github.com/NuGet/NuGet.Client/blob/1f323c6644e982868a512b1715d34de1c0987c2c/src/NuGet.Core/NuGet.Protocol/Resources/RepositorySignatureResource.cs#L31).

[2018-04-05 19:36] rrelyea commented on #6625
I commented on March 1st with: "Yes, we plan to fix this for vs2017 15.7/netcore 2.1."

@joelverhagen did the work to get it in, and it will be in 15.7 preview 3 -- which should ship any day now.

VS, msbuild and dotnet.exe scenarios that ship with that preview should be fixed.
NuGet.exe 4.7-preview 3 should be available on http://nuget.org/downloads within a day or two of preview3 shipping.

The

[2018-04-05 20:16] rducom commented on #6625
@rrelyea I was meaning, an hotfix for vs 15.6.5, not 15.7 preview...
We publish nuget from stable VS, we consume them from stable VS...
Nuget.exe-preview3 is not an option since nuget tooling in VS works without the nuget.exe

It's a real blocker on our side : `FindPackagesById` is called with &semVerLevel=2.0.0 from nuget list view, and without &semVerLevel=2.0.0  when installing. So N1101, packa

[2018-04-05 21:18] rrelyea commented on #6625
15.6.5 has already shipped, sorry. Workaround would be to use nuget.exe 4.7p3 and disable restore in VS temporarily.

Given that, we'll discuss if there are other options to unblock you.

[2018-04-05 21:20] rrelyea commented on #6625
@PatoBeltran  - please reply to this issue when 4.7p3 nuget.exe is available.

[2018-04-05 21:50] peterhuene opened #6778 "NuGet should not set u+x for all unzipped files on non-Windows platforms"
## Details about Problem

As a workaround for #4424, NuGet now sets the user execute bit on files unzipped for non-Windows platforms ([see code here](https://github.com/NuGet/NuGet.Client/blob/91023394890b1458ec0c5940128da73e04089869/src/NuGet.Core/NuGet.Packaging/PackageExtraction/ZipArchiveExtensions.cs#L97-L103)).

While I understand that this is to prevent 1.x packages from breaking, this is v

[2018-04-05 22:08] rohit21agrawal commented on #6759
@huoyaoyuan i just tried this on a basic netstandard classlibrary which had a prerelease version and a prerelease dependency, and it worked fine. attached repro.

Version of dotnet.exe : ``` 2.1.200-preview-007517 ```

[packversion.zip](https://github.com/NuGet/Home/files/1881994/packversion.zip)

[2018-04-05 22:23] huoyaoyuan commented on #6759
@rohit21agrawal it warns when I add `<GeneratePackageOnBuild>true</GeneratePackageOnBuild>` to your project. Your uploaded version doesn't has it, and doesn't get warning.

using `2.1.200-preview-007474`

[2018-04-05 22:26] rohit21agrawal commented on #6759
@huoyaoyuan I checked with GeneratePackageOnBuild set to true as well, and doesn't give me a warning. You are using an older version of dotnet sdk. Could you try using the latest from https://github.com/dotnet/cli/tree/release/2.1.2xx

[2018-04-05 22:29] rohit21agrawal commented on #6759
I just checked, the version of SDK you are using does have the bug, but it has been fixed since then.

[2018-04-05 22:29] #6759 closed, assigned to nobody

[2018-04-05 22:33] davevans commented on #6775
Thanks @chlowell  - having the same issue as outlined here - https://stackoverflow.com/questions/49398602/constrain-packagereference-upgrade-version-when-update-package-run/

[2018-04-05 23:37] biship opened #6779 "All packages became unchecked in VS2017 "NuGet - Solution""
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2018-04-06 00:29] nkolev92 opened #6780 "Rename DefaultCredentialsCredentialProvider to something more meaningful"
https://github.com/NuGet/NuGet.Client/pull/2126#discussion_r179299994

[2018-04-06 08:30] jenscski commented on #6468
@kzu, And then I got the "This collection is read-only" again, but this time when I was updating Xamarin.Firebase.Messaging. Still using 15.7 preview 2.0.

[code]

[2018-04-06 10:54] WolfyUK commented on #5954
@jainaashish The samples are not working for me. I ran `.\pack.ps1` and imported the package into `MyWebApp` but the transforms failed to take place to `appconfig.config` and `Web.config`. I'm using VS 2017 (15.6.4).

[2018-04-06 13:54] BilgehanYildiz opened #6782 "No latest version found for 'MYPackage' for the given source repositories and resolution context error in Visual Studio 2017"
Hi I use Nuget.VisualStudio 4.6.1 with visual studio 2017
and Nuget.VisualStudio 2..8 with visual studio 2013
Code works for visual studio 2013 but failed visual studio 2017

I try both Nuget.VisualStudio 2.8 and 4.6.1 with visual studio 2017 but I got same error in vs2017.

**No latest version found for 'MYPackage' for the given source repositories and resolution context error**.

Same code works

[2018-04-06 15:59] sixlettervariables opened #6783 "Enabling a source that is disabled in a nuget.config lower in precedence chain"
## Details about Problem

NuGet product used: VS UI, NuGet.exe
NuGet version (x.x.x.xxx): 4.5.1.4879
VS version (if appropriate): 15.6.5
OS version (i.e. win10 v1607 (14393.321)): Win7 SP1 7601

Worked before? If so, with which NuGet version: VS 15.6.something, and certainly 15.5.\*

## Detailed repro steps so we can see the same problem

1. Open solution with custom package source (ProGet 4.6.5)

[2018-04-06 16:05] sixlettervariables commented on #6783
Reviewing the output of `nuget.exe restore`, I checked out `%APPDATA%\NuGet\NuGet.Config` and was surprised to find that every one of my sources is disabled in there except nuget.org:
[code]
At no point recently have I disabled that package source. The only thing of note is we had some internal network downtime earlier this week, and I was unable to reach our ProGet server. I did not, however, do

[2018-04-06 16:10] #6700 closed, assigned to mishra14

[2018-04-06 18:07] rohit21agrawal commented on #6783
@PatoBeltran could you help ascertain if this is a regression introduced in 15.6.5 ?

[2018-04-06 18:21] cosminstirbu commented on #5740
Hello,

Any news on this issue?
I'm interested in suppressing this at the package level as well.

Thank you,
Cosmin

[2018-04-06 18:37] rohit21agrawal commented on #6752
is there a repro project you can provide @mhutch  ?

[2018-04-06 18:37] nkolev92 opened #6784 "Improve testing facilities for mono"
Keep Mono in mind when writing tests, which DLL they go to.

Add Mono tests on Linux and Windows

Document what tests run where

[2018-04-06 18:39] nkolev92 opened #6785 "Add basic PCL apex tests"
Add basic PCL tests.

[2018-04-06 18:58] zhili1208 opened #6786 "add more data point for error/warning"

[2018-04-06 19:08] mhutch commented on #6752
@rohit21agrawal not easily, it requires building [a fork of Unreal Engine](https://mono-ue.github.io/) from source :/

[2018-04-06 19:14] commonsensesoftware commented on #6001
In completely different scenario, but with related behavior, this also happens for sources packed in symbol packages when partial type files are used. In my case, I'm using shared projects (\*.shproj), but I'm willing to bet the same thing would happen with linked files. As far as I can tell, the flagged _duplicate_ is completely omitted, which is wrong. The file is not a duplicate.

You can obser

[2018-04-06 21:14] #6666 closed, assigned to rohit21agrawal

[2018-04-06 21:15] #6707 closed, assigned to rohit21agrawal

[2018-04-06 22:27] jainaashish opened #6787 "Add tests to catch http caching issues wrt NuGet UI"

[2018-04-06 22:31] bording commented on #912
Maybe I missed it already being mentioned already in the issue, but wildcards do already work with prerelease packages to some degree. For example, given the following package reference:

[code]

That will resolve to any prerelease version of 7.0.0.

[2018-04-06 22:56] anangaur commented on #912
@bording but then this will not map to latest stable.

[2018-04-06 23:23] zhili1208 commented on #6723
@cltshivash we are trying to work on this bug this sprint.

[2018-04-06 23:42] bording commented on #912
@anangaur, true, you would be locked into the specific stable version at that point.

So for `<PackageReference Include="NServiceBus" Version="6.0.0-*" />` , it resolves to 6.0.0 stable even though we have newer 6.x releases.

For most of our use cases, we'd be okay with that, because we want to be explicit as to when picking up a prerelease was okay, but thinking about it some more, I can think o

[2018-04-06 23:45] kzu commented on #6468
We'll need full logs, since that code isn't even in our extension anymore. It may be some other code path.

[2018-04-07 00:35] bording commented on #5556
@rohit21agrawal Now that #4790 is done and this doesn't appear to have been part of it like you suggested it might be, do you have any idea on when this might be prioritized?

[2018-04-07 01:25] kingerja opened #6788 "nuget install fails and reports wrong constraint info."
## Details about Problem

NuGet product used (NuGet.exe):

NuGet version:
latest version 4.6.2 also present in nuget 3.5.0

OS version (i.e. win10 v1607 (14393.321)):
win10 v1703 15063.966

Worked before? If so, with which NuGet version:
not sure it worked before.

## Detailed repro steps so we can see the same problem

1.  md d:\tmp\foo
2.  cd /d d:\tmp\foo
3.  nuget.exe  install Microsoft.SqlSer

[2018-04-07 12:36] StingyJack commented on #6723
[Related](https://github.com/NuGet/Home/issues/6534)

[2018-04-07 21:28] siberianguy commented on #4413
Have the same problem in Jetbrains Rider (I suppose it's because they use both Mono and .net core). It was weird as the UI showed packages from private repositories but then did not install them. The symlink solution did not help as it blew up Rider (he was saying something about relative paths), so for now I fixed it with a Nuget.config in project's folder

[2018-04-07 22:22] mikecockrell opened #6789 ".."
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2018-04-07 22:23] #6789 closed, assigned to nobody

[2018-04-08 07:01] jenscski commented on #6468
How do I create full logs?

[2018-04-08 17:41] rgl opened #6790 "ubuntu 16.04 mono Method 'Array.Empty' not found after nuget 4.5.1"
## Details about Problem

NuGet product used NuGet.exe:

https://dist.nuget.org/win-x86-commandline/v4.6.2/nuget.exe
https://dist.nuget.org/win-x86-commandline/v4.6.1/nuget.exe

OS version:

Ubuntu 16.04.4 LTS (Xenial Xerus)

Worked before? If so, with which NuGet version:

https://dist.nuget.org/win-x86-commandline/v4.5.1/nuget.exe

### Verbose Logs

Please include verbose logs (NuGet.exe <COMMAN

[2018-04-08 21:40] rohit21agrawal commented on #6790
@rgl could you try this with the latest stable mono version?
[code]

I tried nuget.exe from 4.5.1 to 4.6.2 and they seem to work with that mono version.

[2018-04-09 05:56] BilgehanYildiz commented on #1944
I have similar issue ,mycode work on vs 2013 but failed in vs2017.I use All and I change it to null but error is same.
    var installer = _componentModel.GetService<IVsPackageInstaller>();
 installer.InstallPackage(null, myproject, id, (System.Version)null, false);
No latest version found for 'MYPackage' for the given source repositories and resolution context

[2018-04-09 06:32] eriawan commented on #6736
@jainaashish

Any news/updates on this issue? It's been 5 days without any updates.
Please let me know, at least the progress or the decision made on this issue.

It is definitely a bug, and it's always reproducible.

[2018-04-09 08:42] v-nancyj opened #6791 "[Test Failure][Signing] Test Certificate can’t be created on the Developer Command Prompt"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet Version: NuGet Client release-4.7.0-preview3\5059
VS Version: D15.7stg 27608.3000
OS Version: Windows 10 RS3_Release 16299.15.170928-1534

Installation steps:
Full install VS2017: \\cpvsbuild\drops\VS\d15.7stg\products\27608.3000\bootstrappers\Enterprise\vs_enterprise.exe --quiet --wailt

[2018-04-09 11:30] karthikanandan commented on #6681
Hi @joelverhagen,

Thanks for the update.

We got solution to resolve 500 internal server.

## Workaround:
Changing the NuGet Package options for Default Package Management format dropdown to: Package Reference instead of the old style packages.config
This seemed to work
![image](https://user-images.githubusercontent.com/37404382/38495146-2fd41a0a-3c16-11e8-9fa0-f977b733f281.png)

Our Packages.con

[2018-04-09 12:44] spottedmahn commented on #6723
That's great, thanks for the update @cltshivash!

[2018-04-09 12:49] ghost commented on #6778
@blowdart, @Petermarcu, @richlander this is a definitely a security issue on Unix?

[2018-04-09 14:38] rainersigwald opened #6792 "msbuild /t:pack does not include conditionally included pack content"
_From @jsmarcus on April 8, 2018 13:43_

### Steps to reproduce

Packing a multi-targeted library with the conditionally included ItemGroup does not include the specified content files. If the condition is removed it includes the content but for all TFMs.

Project file
[code]

Directory contents:
[code]

Command line
[code]
### Expected  behavior
font.ttf is included in the content and contentFile

[2018-04-09 14:38] rainersigwald commented on #6792
Thanks for the report. I'm going to move this to the NuGet repo since that's where these targets come from.

[2018-04-09 16:36] tannergooding opened #6793 "NuGet Pack Target should have a switch for creating analyzers"
Today, the `NuGet.Build.Tasks.Pack.targets` only supports creating `tools` (via the `IsTool` property) and `lib` (the default) packages.

The targets should be updated to additionally support an `IsAnalyzer` property which defaults the various values to support the creation of .NET Analyzers (https://docs.microsoft.com/en-us/nuget/reference/analyzers-conventions).

Ideally, there would be addition

[2018-04-09 17:00] dtivel opened #6794 "Signing: remove CTL exceptions"

[2018-04-09 17:20] ceddlyburge opened #6795 ""An item with the same key has already been added" - when project graph has projectName == packageRef name (of same version)"
The problem occurs when a dll is referenced as a nuget package and as a project reference.

If there are 3 projects, `Source`, `Intermediate` and `DoublyReferencedTarget`

Then the problem will occur when `Source` has:
- ProjectReference to project `Intermediate`
- ProjectReference to project `DoublyReferencedTarget`

And 'Intermediate' has
- PackageReference to project `DoublyReferencedTarget`.

[2018-04-09 17:21] nkolev92 commented on #6780
We need to consider that this is a public API.

[2018-04-09 17:23] nkolev92 commented on #6699
Closed in https://github.com/NuGet/NuGet.Client/pull/2126

[2018-04-09 17:23] #6699 closed, assigned to nobody

[2018-04-09 17:25] nkolev92 commented on #6704
5 left over, still not concrete decision, even though the code is done.

[2018-04-09 17:30] nkolev92 opened #6796 "Add caching of capabilities for the plugin"
We need to add a caching mechanism for the capabilities of the plugin to avoid instantiating them too often.

Basically we should not ask a plugin the question "Can you do authentication" if it said no the last time we did that.

The primary use case here is that the credential plugins are not instantiated until a 401 is hit, but we would try to instantiate them on every download.

Once we ship th

[2018-04-09 17:32] rohit21agrawal commented on #6792
documentation to include conditionally referenced content is available here: https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#advanced-extension-points-to-create-customized-package

[2018-04-09 17:42] dotMorten opened #6797 "'-o' parameter no longer works"
## Details about Problem

The `-o` parameter for setting the output directory no longer works with the 4.6.2 update.

- NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): `nuget.exe`
- NuGet version (x.x.x.xxx): `4.6.2`
- Worked before? If so, with which NuGet version: `4.5.x`

## Detailed repro steps so we can see the same problem

 -  Run `NuGet Pack` with `-o [folder

[2018-04-09 18:01] joelverhagen commented on #6681
It's possible it's a duplicate or the package has some corruption. In happy path cases the .nupkg is moved to the subfolder.

I'm not sure what you mean, but this is tracked by issue https://github.com/NuGet/NuGetGallery/issues/5536.

I looked through the log and saw not HTTP 500s... not sure what you are seeing.

You can remove it. If a .nupkg is in the root of the NuGet.Server packages folder is

[2018-04-09 18:01] #6681 closed, assigned to joelverhagen

[2018-04-09 18:36] satiekue commented on #3320
Any progress on this? Removing the EnsureNuGetPackageBuildImports workaround didn't work because then they were missing at runtime, also the Update-package -reinstall workaround didn't help at all.

[2018-04-09 18:36] rohit21agrawal commented on #6783
@mishra14 since you are hotseat this week, could you please verify if this is something that regressed in 15.6.5

CC: @rrelyea

[2018-04-09 18:39] gojimmypi opened #6798 "Unable to find / install Microsoft.AspNet.Identity.Core (plus NuGet error at new project time)"
## Details about Problem

I've used this Microsoft.AspNet.Identity.Core package in a prior project: https://www.nuget.org/packages/Microsoft.AspNet.Identity.Core/

Today however, the NuGet Package Manager does not seem to "see" this package.

#### NuGet product used:
Package Manager Console Host Version 4.6.2.5055 in Visual Studio 2017

#### dotnet.exe --version
2.1.104

#### VS version
Microsoft

[2018-04-09 18:55] mishra14 commented on #6791
This is a powershell execution policy issue. As @dtivel responded to the mail, this should be fixed by following the steps -

1.	Open Task Manager.
2.	Navigate on the main menu to File | “Run new task.”
3.	In the Open textbox type:
              `powershell -ExecutionPolicy Bypass`
4.	Enable the option “Create this task with administrative privileges.”
5.	Click OK.

[2018-04-09 18:55] #6791 closed, assigned to nobody

[2018-04-09 18:57] mishra14 commented on #6792
@jsmarcus please let us know if you are still blocked on this.

[2018-04-09 18:58] mishra14 commented on #6793
pinging @rohit21agrawal  for visibility

[2018-04-09 19:39] rohit21agrawal commented on #6792
@mishra14 keep the issue open as we should still fix the case that was reported in the OP. my comment is a workaround so @jsmarcus can get unblocked

[2018-04-09 19:44] nkolev92 commented on #6736
@eriawan
This is an old gap, and we will look into it soon.

Please note that this is not the only issue we have on our radar, we will update the thread as soon as we have more information.

[2018-04-09 19:48] nkolev92 commented on #6736
This is related to https://github.com/NuGet/Home/issues/4693

In PackageReference, the local repository cannot be used as a source because it breaks repeatability.

[2018-04-09 19:51] rohit21agrawal opened #6799 "ship msbuild sdk resolver as part of nuget.client"
As per discussion with msbuild, this is the plan:

1) Ship the NuGet.MsbuildSdkResolver dll as Microsoft.Build.NuGetSdkResolver.dll
2) The code will move from https://github.com/Microsoft/msbuild/tree/master/src/NuGetSdkResolver to https://github.com/nuget/nuget.client

3) The DLL will be shipped right next to NuGet dlls in the CommonExtensions\NuGet folder in VS, and SDK folder in CLi.

4) MSBuil

[2018-04-09 19:54] rohit21agrawal opened #6800 "analyze telemetry for the packages.config to packagereference migrator"

[2018-04-09 19:55] mishra14 commented on #6797
@dotMorten Thanks for reporting this issue.

The option `-OutputFileNamesWithoutVersion` was adding as part of this [commit](https://github.com/NuGet/NuGet.Client/commit/f61b406593f3b2a75558acb2056963ee470d7e2b), which was first introduced in NuGet 4.6.x.

Please start using `-OutputDirectory` as a safe usage of the switch and the command. In general, if you you use partial switch names, then it c

[2018-04-09 20:04] mishra14 commented on #6792
@rohit21agrawal Thanks for pointing that out.

[2018-04-09 20:22] pamela032709 commented on #3320
Try go to the projects solution and delete all bin and object folder for ios android and forms / quit visual studio and open and compile again.

[2018-04-09 21:23] dotMorten commented on #6797
Why even have the partial switch names at all then? This is a horrible horrible practice. Please don't break our builds.

[2018-04-09 21:25] brazilbean commented on #4254
We would also love to see this feature addressed. We often pack things that are are not associated with a project and creating wrapper project just to reference the nuspec file (while ensuring the proper incantation of tags is specified: no build, no build output, etc.) is very cumbersome.

Is there any ETA on this feature? If we knew this would be addressed in the near future (or not if that's th

[2018-04-09 21:28] gojimmypi commented on #6798
Workaround for new projects, with access to prior project that worked and had the Microsoft.AspNet.Identity.Core included:

## Copy `packages` directory at the solution level from the older project to the new project:
![image](https://user-images.githubusercontent.com/13059545/38523639-0a1028c8-3c01-11e8-8bd1-6dcd0cb74c03.png)

## Copy `packages.config` file from project level directory:
![image](

[2018-04-09 21:33] rohit21agrawal commented on #6799
tracking msbuild bug : https://github.com/Microsoft/msbuild/issues/3176

[2018-04-09 22:02] jsmarcus commented on #6792
Thank you @rohit21agrawal that has allowed me to create the package. I agree that the issue reported should be fixed as well.

[2018-04-10 02:46] Grauenwolf opened #6801 "Need a Standard Way for Distributing Licenses"
When adding an open source library to an application, we are usually required to include the library's license along with the DLL when distributing the application.

Currently there is no standard way of handling this, which means there is an often overlooked manual step necessary for any project which distributes the application.

[2018-04-10 02:51] Grauenwolf commented on #6801
Proposal 1:

In the package definition, the library publisher can include a "License File" tag.

When an application takes a dependency on a library, the license file is copied to the project's "\licenses" folder with "None/Copy if Newer" set as the build action.

The filename will be prefixed with the package name and version.

[2018-04-10 06:26] knocte commented on #6790
I'm affected by this as well.

@rohit21agrawal actually, latest stable mono version is 5.8.1.0 IMO, because it's what gets pulled from VS4Mac in the stable channel.

FYI, in Mac platform with 5.8.1.0, this Nuget4.6.x bug doesn't occur.

However, IMO the "stable version" argument here is moot, because the most stable is "LTS stable", which is what Ubuntu 16.04 brings by default. Making Nuget still

[2018-04-10 08:41] 304NotModified commented on #4163
I've still the same problem.

Won't fix it for me :(

also clean bin, obj etc folders, still this error

update: closed as duplicate, where is the duplicate?

update2: this worked for me: `git clean -fxd`

[2018-04-10 08:46] ghelyar opened #6802 "NU1105 due to case sensitivity in path"
## Details about Problem

NuGet product used NuGet.exe

NuGet Version: 4.3.0.4406 (from VSTS's packages tab)

## Detailed repro steps so we can see the same problem

1. subst a directory to a drive e.g. S: (upper case)
2. clone git repository containing two asp.net core projects, one of which references the other, to a directory at the root of that drive
3. cd /d to that drive but using a differen

[2018-04-10 09:23] rgl commented on #6790
@rohit21agrawal it works after upgrading mono.

[2018-04-10 15:12] mudrz commented on #4103
Since this issue is 2 years old - are there any plans to create any basic cli commands for managing package versions?
Currently it is very inconvenient to manage packages outside of Visual Studio on Windows.

[2018-04-10 15:34] mishra14 commented on #6801
Related to https://github.com/NuGet/Home/issues/4628

[2018-04-10 15:38] mishra14 commented on #6797
@dotMorten we had an internal discussion and are reopening this issue for consideration.

[2018-04-10 15:48] mishra14 commented on #6802
@ghelyar can you please try the scenario with latest [nuget.exe](https://dist.nuget.org/win-x86-commandline/latest/nuget.exe)?

Also, do you have any `DotnetCliToolReference` in the any of the 3 projects?

In recent past we have fixed some issues in case sensitivity.

[2018-04-10 16:26] livarcocc opened #6803 "dotnet pack generates wrong nuspec"
_From @Doomblaster on April 10, 2018 13:56_

## Steps to reproduce
Create project and pack it in nuget package A with version 2.0.0.0. Create another project dependant on nuget package A and change the PackageReference Version attribute to *. Use dotnet pack and create version 3.0.0.0.

## Expected  behavior
Nuget package B to be dependant on nuget package A v2.0.0.0

## Actual behavior
Nuget pack

[2018-04-10 18:40] jainaashish commented on #4163
@304NotModified when it's throwing error for `win10` then you would need to add `<RuntimeIdentifiers>win10</RuntimeIdentifiers>` to resolve this instead of just `win`.

Besides with latest visual studio 2017 15.6 you shouldn't need to explicitly set this workaround. If you're still seeing this issue with latest VS, then please provide more details:
- VS version
- Type of project where you see this

[2018-04-10 18:44] psmulovics commented on #6603
Any news on this item?

[2018-04-10 19:11] 304NotModified commented on #4163
I had the problem with 15.6.5 and 15.6.6

It was .net class library.

If the issue is back, I will post the pp command log.

[2018-04-10 19:17] aford0040 opened #6804 "Package is not found in the following primary source(s). Please Verify your online package sources..."
## Details about Problem

**NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):**

VS UI

**NuGet version (x.x.x.xxx):**

NuGet version 4.6.0

**dotnet.exe --version (if appropriate):**

**VS version (if appropriate):**

Visual Studio 2017 15.6.6

**OS version (i.e. win10 v1607 (14393.321)):**

Windows 7 Professional. Service pack 1

**Worked before? If so, with which Nu

[2018-04-10 19:59] CoolDadTx commented on #5877
I ran it against one of my class library projects and it added a lot more than just the package reference stuff. It added entries for PublishUrl, Intall.., Update..,Application.., etc. It also added Bootstrap entries. This is way more than I wanted. Just replace the package references - why is it making non-package related changes as well.

From:
[code]

To:
[code]

And added this-
[code]

[2018-04-10 20:01] #6804 closed, assigned to nobody

[2018-04-10 20:11] rohit21agrawal commented on #5877
@CoolDadTx that definitely doesn’t sound right. Any chance you can give us a repro project or your list of packages in packages.config ?

[2018-04-10 20:16] nguerrera opened #6805 "dotnet pack crashes with NullReferenceException with missing Nuspecfile property"
_From @yizhang82 on April 10, 2018 18:50_

## Steps to reproduce

1. dotnet new library
2. dotnet pack
This succeeds
3. Add following section to the csproj file

[code]
4. dotnet pack

This crashes.

Adding expected   <NuspecFile>$(MSBuildThisFileDirectory)$(MSBuildProjectName).nuspec</NuspecFile> reference will give a proper error message that the .nuspec file is not found.

## Expected  behavior

[2018-04-10 20:23] jaredpar commented on #4254
@rohit21agrawal when I use `/p:IncludeBuildOutput=false` the pack project still builds.

[2018-04-10 20:30] joelweiss commented on #5877
@CoolDadTx I had a similar issue whenever I made changes to project file these tags were added.

The problem was, my project once had ClickOnce and after removing ClickOnce there were still some stuff left behind and it tried to add again all the removed ClickOnce tags.

My solution was to make sure all ClickOnce tags were removed and the tags stopped reappearing.

Maybe your cause is similar.

[2018-04-10 20:56] jaredpar opened #6806 "Pack doesn't give enough info on invalid version strings"
When pack encounters an empty version string in a dependency node it should include the line number in the error message. Today it only says

[code]

That is fine for small nuspec. But when your nuspec has 20+ entries where every single version is a replacement string then it's a bit madenning to track down which one has a typo in your build script.

Example of a problem nuspec file:

[code]

[2018-04-10 21:10] rohit21agrawal commented on #4254
right, I meant to say ``` NoBuild```

[2018-04-10 21:15] CoolDadTx commented on #5877
Do you know what element triggered ClickOnce because this was a class library project that had no references to ClickOnce at any point? The only element I see that might have been auto-added when the project was created was TargetFrameworkProfile.

[2018-04-10 21:16] CoolDadTx commented on #5877
@rohit21agrawal

Packages config:

[code]
We have a private VSTS repo where most of the packages come from but the rest are in NuGet.

[2018-04-10 21:25] rohit21agrawal commented on #5877
@CoolDadTx
oh, I might not be able to test this out if your packages are coming from a private VSTS repo.

can you try this:
1) Create a plain old packages.config based Class Library (Full .NET Framework). Check the project file.
2) Install the packages you listed above
3) Check the project file for any changes after installation.
4) Migrate from packages.config to PackageReference .
5) Look for a

[2018-04-10 21:29] rohit21agrawal commented on #6805
dupe of : https://github.com/NuGet/Home/issues/4649

[2018-04-10 21:29] #6805 closed, assigned to nobody

[2018-04-10 21:30] rohit21agrawal commented on #6806
which pack are you using? nuget.exe or dotnet.exe/msbuild? And does this happen while packing nuspec?

[2018-04-10 21:37] CoolDadTx commented on #5877
I tried a test scenario and couldn't replicate it. I wiped my changes from the original project and ran it again and it didn't do it this time. Strange, maybe some other extension was trying to do something as well. I'll consider this issue closed for now. Thanks.

[2018-04-10 21:38] rohit21agrawal commented on #5877
thanks @CoolDadTx for verifying! If you do have any other feedback/issues with the migrator, please do share with us!

[2018-04-10 21:44] jaredpar commented on #6806
I'm using `dotnet pack`

[2018-04-10 21:56] CoolDadTx commented on #5877
@rohit21agrawal, I do have one complaint but I suspect there is nothing you can do about it. When the migrator is moving packages it is auto-generating an app.config file if one does not exist. I suspect this is because it is trying to uninstall a package that had transforms (i.e. EntityFramework) but I'm only guessing here. Nevertheless every project that has the migration tool run on it (that di

[2018-04-10 23:27] rohit21agrawal commented on #5877
@CoolDadTx installing EntityFramework to a packages.config based ClassLibrary actually ended up creating an app.config for me with the following content:

[code]

[2018-04-10 23:34] rohit21agrawal commented on #6803
@Doomblaster can you paste the project.assets.json file of project which produces PackageB ?

[2018-04-11 00:17] PatoBeltran opened #6807 "Enforce RepositorySignatureInformation on Repository countersignatures"
Currently when we check the `RepositorySignatureInformation` on a signature it is only aware of primary signatures. The `AllowListVerificationProvider` needs to be updated to take into account different signature placements apart from signature targets.

[2018-04-11 00:18] PatoBeltran opened #6808 "Add E2E coverage to packages with countersignatures"
There's no Apex or E2E tests that cover scenarios with repository countersigned packages.

[2018-04-11 00:19] PatoBeltran opened #6809 "Continue to clarify package signing security and performance"

[2018-04-11 01:09] CoolDadTx commented on #5877
@rohit21agrawal, correct. Now go to the project and delete the app.config file. Then go out to the file system and ensure it is gone. Save the project. Then run the package migration tool. Notice there is no app.config in the project but if you go out to the file system it has in fact created an empty app.config file. That config file will be pushed to Git if you happen to be using it.

[2018-04-11 02:56] gitvaibhav commented on #4860
Facing this issue with VS 2017 Community edition

[2018-04-11 04:03] lextm commented on #6603
Added [a new blog post](https://blog.lextudio.com/update-on-offline-publishing-asp-net-core-apps-e7894a84bd46) on what should be done on the internal NuGet server (which already supports 2.0.5) so as to support 2.0.6.

[2018-04-11 05:03] BilgehanYildiz opened #6810 "IVsPackageInstaller.InstallPackage install pre-release packages"
How can I install prelease packages in nuget3  with IVsPackageInstaller

[2018-04-11 06:38] Doomblaster commented on #6803
@rohit21agrawal

[code]
And the nuspec in B nuget file looks like this
[code]

[2018-04-11 09:06] henning-krause commented on #4360
Is there any progress on this one?

[2018-04-11 09:21] MrBlaTi opened #6811 "mono nuget.exe crashes with gnome terminal, works fine with xterm"
## Details about Problem

nuget.exe crashes when run with mono in gnome terminal. Works fine in xterm.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet.exe

NuGet version (x.x.x.xxx):

4.6.2.5055

OS version (i.e. win10 v1607 (14393.321)):

Linux 4.14.30-1-MANJARO #1 SMP PREEMPT Sun Mar 25 19:47:20 UTC 2018 x86_64 GNU/Linux

Worked before? If so, with which Nu

[2018-04-11 09:57] ghelyar commented on #6802
The problem does not occur with the latest nuget.exe (although the version I have is the latest I can get from VSTS, with the credential provider)

The projects do have `<DotNetCliToolReference Include="Microsoft.VisualStudio.Web.CodeGeneration.Tools" Version="1.0.1" />`

So this can probably be closed.

Thanks

[2018-04-11 15:58] #6794 closed, assigned to dtivel

[2018-04-11 18:03] tamirdresher commented on #5877
I tried running the tool on one of my projects and VS crashes. I attached to it from another VS instance to see why and i'm seeing an exception thrown with the message "Illegal characters in path."
I can't figure out why this is happening.

This the stack trace:
[code]

[2018-04-11 19:13] livarcocc opened #6812 "Dotnet restore is looking for tools at dot net sdk folder rather than visual studio folder"
_From @Petermarcu on April 11, 2018 16:27_

@sam-adh commented on [Wed Apr 04 2018](https://github.com/dotnet/core/issues/1407)

# Issue Title

Dotnet restore is looking tools at dot net sdk folder rather than visual studio folder

# General

We had an issue while creating VS 2017 with .Net Core 1.*(I installed .Net Core 1.1.8 ). While triggering the dotnet restore, it failed as it was searching t

[2018-04-11 19:13] livarcocc commented on #6812
This is the issue we were discussing on Monday about the regression on restore to handle projects we can't find the imports for. Moving to nuget.

[2018-04-11 19:41] nkolev92 commented on #6665
We have analyzed this issue in depth. Here are our findings:

**Old Behavior**
When restoring a solution with nuget.exe 4.5 (or dotnet.exe from 2.1.4 sdk) restore used to ignore projects whose imports cannot be found, and print a warning such as:

[code]

For these particular projects, dotnet build would not work, due to the same missing imports. So restore's behavior was inconsistent compared to

[2018-04-11 19:53] fguinan opened #6813 "Nuget restore breaks Visual Studio v15.6.6 builds"
## Details about Problem
Nuget restore breaks Visual Studio v15.6.6 builds

Steps:
1) Launch Visual Studio v15.6.6 and create new project/solution, using template "Visual C++ > Windows Universal > Unit Test App".
2) Build Solution. Everything builds fine.
3) Launch cmd.exe and navigate to the solution's enclosing directory. Run 'nuget.exe restore xxx.sln', where xxx is replaced by the name of the

[2018-04-11 21:24] jascam commented on #5286
Is there any update on this issue?  We have had a customer report they are blocked by it.

[2018-04-11 21:48] mishra14 commented on #5286
@derpixeldan @jascam We have not yet had the capacity to process this request because of other high priority work items. I am relabeling it to an appropriate milestone.

We should consider allowing users to control default auth preference via settings/nuget.config.

[2018-04-11 21:52] #6802 closed, assigned to nobody

[2018-04-11 21:56] rohit21agrawal commented on #5877
@tamirdresher this is because the API call to Path.GetFileName is throwing when it's getting " D:\\tfs\\Testvs17\\.\t\t " The problem is the . in the path.

Do you know where is this path coming from?

[2018-04-11 22:11] mishra14 opened #6814 "Investigate adding data points for restore errors and warnings"

[2018-04-11 22:17] #6276 closed, assigned to PatoBeltran

[2018-04-11 22:33] mishra14 commented on #6811
@MrBlaTi thanks for reporting this. However, this seems like an issue with mono or an issue that the mono team will be better equipped to resolve. I will route this to the right repo.

[2018-04-11 22:33] mishra14 commented on #6811
This issue was moved to mono/mono#8190

[2018-04-11 22:33] #6811 closed, assigned to nobody

[2018-04-11 22:35] mishra14 commented on #6786
closing as dupe of https://github.com/NuGet/Home/issues/6814

[2018-04-11 23:14] skofman1 opened #6815 ".Net Core templates Dependencies section"
@MNie commented on [Tue Apr 10 2018](https://github.com/NuGet/NuGetGallery/issues/5792)

I wondering if there is a possibility to create some section for .net core templates, where we could list all dependencies of a concrete template. Right now it is doable via dependencies element in NuSpec, so all dependencies could be listed correctly. But it has some problems for example when installing a tem

[2018-04-12 00:07] nkolev92 opened #6816 "Update dependencies to fix package graph warnings (nu1605)"
At this point we have too many nowarns in our solution.

We need to clean those.
Specific targets:
TFM conditional NoWarns as per https://github.com/NuGet/NuGet.Client/pull/2157.
Those are there because signing is not yet xplat.

CS1701 in Commandline.XPLAT

Any NU* in our graph is worth revisiting.

[2018-04-12 00:10] nkolev92 commented on #6812
Duplicate of https://github.com/NuGet/Home/issues/6665

[2018-04-12 00:10] #6812 closed, assigned to nobody

[2018-04-12 04:56] flcdrg commented on #4163
I was getting this error on our build server. It seems to be related to the fact that the particular build agent had the following entries in the system PATH environment variable:

[code]

Removing them (and rebooting the agent) appears to have resolved the problem. Another build agent (that didn't have these in PATH was not experiencing this issue)

[2018-04-12 05:02] tamirdresher commented on #5877
@rohit21agrawal I saw the path but i have no idea where is it coming from. The root folder for the *.sln is  D:\tfs\Testvs17\ but i dont know where the `.` and the rest is coming from.
I unbound the entire folder from TFS (VSTS) and now it works.
Do you have clue why working with a project that is bound to TFS can cause this error?

[2018-04-12 07:28] MrBlaTi commented on #6811
Thank you

[2018-04-12 08:21] gabbsmo commented on #1855
I cannot install the package in a .NET 4.6 project. Is it the same issue?

[code]

[2018-04-12 12:28] dipree commented on #5286
@mishra14 unfortunately this is broken on App Center for almost a year now.

[2018-04-12 14:58] jaredpar opened #6817 "dotnet pack equivalent of NoPackageAnalysis"
Converting a bit of code from using `nuget pack` to `dotnet pack` that needs `-NoPackageAnalysis` in order to pack cleanly. What is the equivalent flag for `dotnet pack`?

[2018-04-12 17:17] dagood opened #6818 "Mark NuGet.Client's NuGet.Configuration.csproj with XPLATProject property"
The NuGet.Configuration project is missing this property. This makes xplat build produce an incomplete package set, causing errors when trying to restore the outputs.

Missing:

https://github.com/NuGet/NuGet.Client/blob/75dbda58560c7db281816015ad19a6bffdcc0f79/src/NuGet.Core/NuGet.Configuration/NuGet.Configuration.csproj#L12-L13

Example `XPLATProject` definition:

https://github.com/NuGet/NuGet.

[2018-04-12 18:18] Sebastian1989101 commented on #6468
Still getting this stupid error if I want to update within the latest stable of VS2017... so annoying...

[2018-04-12 18:47] Vrungar commented on #1827
I am getting the same thing after I update my nuget packages on VSTS.  It works fine after the initial upload, but after you publish an update it starts displaying that error.

[2018-04-12 19:12] eser commented on #1821
@nexussays unfortunately there is no way. nuget still lacks linking and as far as I follow, there's no plan or awareness on their side.

since we've been using multi repositories on our projects, the importance of the issue became critical. so far, we tried conditional msbuild references but it didn't work.

there should be a way without breaking developer experience w/ annoyance and distraction.

[2018-04-12 19:51] nkolev92 opened #6819 "Use directory.build.props instead of importing common.project.{test}.props/common.targets"
Follow up to https://github.com/NuGet/NuGet.Client/pull/2157
//cc
@rohit21agrawal @jainaashish @mishra14

[2018-04-12 19:57] nkolev92 commented on #6818
I thought this was already supposed to be fixed at some point.

/cc @rohit21agrawal

I'll create a PR shortly.

[2018-04-12 19:59] nkolev92 commented on #6818
@dagood The PR is out https://github.com/NuGet/NuGet.Client/pull/2158

[2018-04-12 20:27] rohit21agrawal commented on #6817
it's a property in your csproj ``` NoPackageAnalysis ```.

Also note that since pack throws msbuild based warnings now, you can individually suppress each of them like you would any other warning using noWarn.

[2018-04-12 20:27] #6817 closed, assigned to nobody

[2018-04-12 20:28] rohit21agrawal commented on #6815
@skofman1 what exactly is the expectation from the client here?

[2018-04-12 21:56] vsfeedback opened #6820 "View in Object browser does not work Nuget Packages"
There are couple issues regarding dependencies brought by Nuget packages and &quot;View in Object Browser&quot; command in .Net core projects

1) I can right click on a nuget package dependency and choose View in Object browser but nothing happens. (Object browser window doesn't even come up)

2) When I expand nuget reference and right click on a reference dll, there is no object browser command.

[2018-04-12 22:46] vsfeedback opened #6821 "NuGet packages with dependencies fails to find depenedencies that are not installed"
As of 15.6.5, NuGet packages on our corporate JFrog Artifactory server (NuGet) that have depenecies on a specific version of another package, fails to find that package.  We have several NuGet packages that require a single specific version of other packages (i.e. &quot;[1.0.0]&quot; square brackets on both sides) and the VS Package Manager will fail to find those packages.

This was working previ

[2018-04-12 22:53] vsfeedback opened #6822 "Updated Nuget not found when installing/updating"
Create a new version of an existing Nuget package
Post it to VSTS Nuget Repository
Go into Manage Nuget for Solution
No Updates appear
Go To Browse
Highlight the NuGet package
Select the new version to apply to my project
Notice no details appear under the version for this nuget
Click Install
Get Error: &quot;Severity	Code	Description	Project	File	Line	Suppression State
Error		Unable to find versi

[2018-04-12 22:55] mishra14 commented on #6821
We should investigate this to see if this is a regression.

[2018-04-12 22:57] #6807 closed, assigned to PatoBeltran

[2018-04-12 23:46] dsplaisted opened #6823 "Uppercase "V" should be supported for TargetFrameworkVersion"
- Create a new .NET Framework project (not SDK-style)
- Modify `TargetFrameworkVersion` to have an uppercase `V`, e.g. `<TargetFrameworkVersion>V4.6.1</TargetFrameworkVersion>`
- Run `msbuild /restore`

**Expected:** Restore succeeds
**Actual:**

[code]

**Note:** This requires tools with fixes for the following issues, otherwise other errors may be generated before NuGet has a chance to error her

[2018-04-12 23:58] rohit21agrawal commented on #5877
@tamirdresher I am investigating the issue - can you tell me if the solution packages folder is also bound to TFS?

UPDATE: I am unable to repro the issue in either case :/

Any chance you can create a repro TFS project and share it with me?

[2018-04-13 00:13] vsfeedback opened #6824 "UI Delay when reading Default Project in PMC"
Double clicking on a (un/staged) changed file in team explorer with git may randomly get VS to become &quot;busy&quot; (baloon tip) and sometimes changing window title to &quot;(not responding)&quot;. Hangs may last for a subjective eternity but probably something like 10~30s. Hangs usually do not reproduce immediately again (on the same file).

_This issue has been moved from https://developercom

[2018-04-13 00:14] mishra14 commented on #6824
@sharwell responded -
Moving to the NuGet area path. The trace shows a 9.7 second hang evaluating this property:
https://github.com/NuGet/NuGet.Client/blob/e1625065971453ccabd11759faf53dac3c4d241d/src/NuGet.Clients/NuGetConsole.Host.PowerShell/PowerShellHost.cs#L250

[2018-04-13 00:14] jaredpar commented on #6817
Is this documented anywhere?

Our conversion from `nuget pack` to `dotnet pack` has been rather bumpy. Feel like a lot of these issues are going to be run into by other customers. Many times the features are there, it's just not discoverable. Would be nice to have a conversion "HOWTO" to refer to.

The warnings I was seeing are emitted without a number hence there was no way to suppress it.

[2018-04-13 00:17] rohit21agrawal commented on #6817
@jaredpar in that case you are using an older version of CLI that doesn't have the updated nuget assemblies. I recommend using the release/2.1.2xx branch of CLI.

https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#pack-target-inputs

[2018-04-13 00:19] nkolev92 commented on #6823
We want this for 2.1.3xx?
Is this really escrow worthy?

//cc
@rrelyea

[2018-04-13 00:20] jaredpar commented on #6817
@rohit21agrawal we are using 2.1.300-preview2-008324

[2018-04-13 00:20] rohit21agrawal commented on #5877
@CoolDadTx looked at your issues. It's actually a package issue with EntityFramework where they end up creating that file on uninstall.  You can repro it by following the same steps, except that instead of migrating , uninstall the EntityFramework package and you will see the empty app.config appear.
Unfortunately, there is nothing we can do about it :( .

[2018-04-13 00:22] rohit21agrawal commented on #6817
I am not sure what version of NuGet.Build.Tasks.Pack was shipped in the SDK contained in 2.1.300-preview2-008324. Can you look under sdks\NuGet.Build.Tasks.Pack and look at the file version? It's definitely outdated otherwise it would have definitely showed the warnings.

[2018-04-13 01:11] Aethon opened #6825 "Do not warn about SemVer 2.0.0 versions when the MinClientVersion is specified beyond 4.3"
Please see https://github.com/NuGet/Home/issues/4687 for the problem (the problem has not changed).

Now that a package can specify `MinClientVersion` metadata, this warning should not be presented if the specified client supports SemVer 2.0. This will remove noise from the build and/or allow those that are using SemVer 2.0 versions to take advantage of the package analyzer.

[2018-04-13 03:55] gordon-matt commented on #5887
I have a good reason for needing to be able to update transitive dependencies. In my case, I am using the Peachpie PHP compiler for .NET Core. I ran into an [issue](https://github.com/peachpiecompiler/peachpie/issues/202), which left me stuck unable to update all the dependencies, because 1 of the dependencies was a transitive one and COULD NOT be referenced directly in the main project, as it is

[2018-04-13 04:14] rohit21agrawal commented on #6823
2.1.3xx is a different shipping cycle, you don't have to go through escrow for that.

[2018-04-13 04:25] rohit21agrawal opened #6826 "contentFiles don't flow transitively even when explicitly specified , if there is a projectReference involved"
If ProjectA references PackageA which references PackageB (with contentFiles), and all reference edges have PrivateAssets=none set on it, the contentFiles should flow to ProjectA. However, this is not the case.

UPDATE: turns out the scenario is this:

ProjectA -> ProjectB ->PackageB (with contentFiles)

ProjectA doesn't get contentFiles from PackageB.

[2018-04-13 05:05] nkolev92 commented on #6823
I think we still do because we're not inserting into 2xx and 3xx independently.
We'll not insert 4.8 bits in 2.1.3xx because it'll ship way earlier than 4.8 stabilizes.
We'd need to insert into 4.7 then, which means it effectively has to go in VS 15.7 and 2.1.2xx.

[2018-04-13 05:06] rohit21agrawal commented on #6823
No, I already talked to matt, we can insert into 2.1.3xx as and when we like. I already have pretty recent dev bits flowing into 2.1.3xx

[2018-04-13 06:46] vikas6681 commented on #5358
I do still see this error on two of our machine. Any help ?

Severity	Code	Description	Project	File	Line	Suppression State
Error		NuGet Package restore failed for project NextGen\Fis.Admin.Web.Razor: Unable to find version '6.0.4' of package 'Newtonsoft.Json'.
  https://api.nuget.org/v3/index.json: Unable to load the service index for source https://api.nuget.org/v3/index.json.
  Could not load ty

[2018-04-13 06:47] vikas6681 commented on #5358
I do still see this error on two of our machine. Any help ?

Severity	Code	Description	Project	File	Line	Suppression State
Error	NuGet Package restore failed for project XXXXX Unable to find version '6.0.4' of package 'Newtonsoft.Json'.
https://api.nuget.org/v3/index.json: Unable to load the service index for source https://api.nuget.org/v3/index.json.
Could not load type 'Newtonsoft.Json.Linq.Jso

[2018-04-13 08:09] KevinBurton commented on #5477
I am on a MAC using the same dotnet restore and I get
[code]
Naturally these errors are specific to my application but the general problem remains that the local NuGet source is not recognized. There isn't a ~/Library/NuGet folder (I am told that ~/Library is the MAC equivalent to %APPDATA%.).  Where on a MAC should the "fallback" folder be? In ~/.dotnet there also isn't a folder for NuGet. There

[2018-04-13 08:33] hermanvm opened #6827 "r"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2018-04-13 08:34] #6827 closed, assigned to nobody

[2018-04-13 08:48] KevinBurton opened #6828 "dotnet restore in Dockerfile on a MAC doesn't recognize alternate package sources"
I have a Dockerfile that looks like
[code]
The problem occurs on the line `RUN dotnet restore`. I get
[code]
dotnet restore not in a Dockerfile works fine. I have attached a verbose log of the error.

Thank you.

[build.txt](https://github.com/NuGet/Home/files/1906566/build.txt)

[2018-04-13 15:36] jaredpar opened #6829 "dotnet pack throws NullReferenceException on Mac"
Repro environment:

- dotnet version 2.1.300-preview2-008324 (repro will auto-install this)
- OS Mac (guessing this would repro on Linux as well)

Repro steps:

1. Clone https://github.com/jaredpar/roslyn
1. Check out branch `repro-dotnet-pack-nre-mac`
1. Run `build.sh --build --restore`
1. Run `build.sh --pack`

This will cause a `NullReferenceException` to be thrown and the following message get

[2018-04-13 16:13] jaredpar commented on #6829
CC @333fred, @dseefeld as this is blocking source build.

[2018-04-13 16:18] gidduk commented on #5358
I have the same issue reported by vikas6681. I am using Windows 10 (OS Build 15036.966) with VS.Net 2017 (15.6.6)
"[nuget.org] Unable to load the service index for source https://api.nuget.org/v3/index.json.
  Could not load type 'Newtonsoft.Json.Linq.JsonLoadSettings' from assembly 'Newtonsoft.Json, Version=7.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed'."

[2018-04-13 16:22] jaredpar commented on #6817
@rohit21agrawal sure. The version I see is:

[code]

That's same for the assembly under Desktop and CoreClr.

Also here is the output I see if I go back to not passing the `/p:NoPackageAnalysis=true` flag. I grabbed a subset of the errors but they all have this form:

[code]

[2018-04-13 16:22] chlowell commented on #6775
@rohit21agrawal has this been triaged or investigated yet?

[2018-04-13 17:23] rohit21agrawal commented on #6775
yes, we will look at at it for 15.8 possibly.

[2018-04-13 17:27] rohit21agrawal commented on #6817
@jaredpar that version definitely doesn't have it. Is this version of NET Core later or earlier than 2.1 preview2?

[2018-04-13 17:32] jaredpar commented on #6817
@rohit21agrawal noted earlier that we are on SDK 2.1.300-preview2-008324. That is before preview2 RTM to my understanding.

[2018-04-13 17:33] rohit21agrawal commented on #6817
ok, if you can try with preview2, that will definitely have the msbuild based errors and warnings support.

[2018-04-13 17:35] #6818 closed, assigned to nobody

[2018-04-13 17:39] joozek78 commented on #4488
I have the same problem in VS2017 with old csproj format. Does that mean that I can't use .NET Standard libraries (that has references) in .NET Framework projects? I thought that was the whole idea of .NET Standard :(

[2018-04-13 18:03] mishra14 commented on #6829
cc: @rohit21agrawal

[2018-04-13 18:07] jaredpar commented on #6829
Note: I was able to eventually get VSCode attached to this by doing the following:

1. `export MSBUILDDEBUGONSTART=2`
1. Attach to child process
1. Enable break all exceptions
1. Disable Just My Code

That eventually let me break in the `BuildFromProjectFile` method. Unfortunately there are no locals in the debugging session hence I wasn't able to get any further.

[2018-04-13 18:10] rohit21agrawal commented on #6829
I think the culprit is : -p:NuSpecFile=Microsoft.CodeAnalysis.CSharp  this needs to have the .nuspec extension

you are basically hitting : https://github.com/NuGet/Home/issues/4649

[2018-04-13 18:22] jainaashish commented on #5887
@gordon-matt you can't update transitive dependency without making it top level. This issue is all about making it convenient to show all the transitive dependencies coming along with your top-level and allows you to update any of those transitive by making it as top level too.

Your issue is very specific to your file manager library and it's dependency on peachpie. You'd need to keep releasing n

[2018-04-13 18:24] jainaashish commented on #6826
do you have `include=all` on `PackageB` dependency listed in `PackageA` nuspec file?

[2018-04-13 18:25] rohit21agrawal commented on #6826
yes sir!

[2018-04-13 18:26] rohit21agrawal commented on #6815
@skofman1 ping..

[2018-04-13 18:35] nkolev92 commented on #6828
@KevinBurton

From your logs there's 1 config file only.
And that config file probably doesn't contain any other sources.

Compare the logs from your docker restore and your out of docker restore.

This is from your logs:
[code]

It's very likely that a different config is being used outside of docker.

[2018-04-13 18:38] #5671 closed, assigned to mishra14

[2018-04-13 18:39] #1527 closed, assigned to nobody

[2018-04-13 18:39] mishra14 commented on #1527
Closing due to lack of traction.

[2018-04-13 18:40] nkolev92 commented on #4242
There's duplicates of this in VSTS, which is the better place for tracking test failures.

[2018-04-13 18:40] #4242 closed, assigned to nobody

[2018-04-13 18:42] mishra14 commented on #1654
Closing due to lack of customer traction.

[2018-04-13 18:42] #1654 closed, assigned to nobody

[2018-04-13 18:44] nkolev92 commented on #6820
@mishra14 This is probably more fitting for project-system.

[2018-04-13 18:45] kzu commented on #6468
As mentioned above @Sebastian1989101 , the fix is in VS2017 *preview*, not stable. Please give it a try with the latest preview and if you can, confirm whether it fixes it for you?

Thanks

[2018-04-13 18:47] nkolev92 commented on #6810
@BilgehanYildiz Please refer to https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio/Extensibility/IVsPackageInstaller2.cs#L38

[2018-04-13 18:47] #6810 closed, assigned to nobody

[2018-04-13 19:07] KevinBurton commented on #6828
So I need to modify something before the restore in the Dockerfile?

On Fri, Apr 13, 2018 at 1:36 PM, Nikolche Kolev <notifications@github.com>
wrote:

[2018-04-13 21:21] nkolev92 commented on #6828
@KevinBurton
I'm not yet sure, it was just an idea what could be wrong.

Can you do

and paste the logs here.

[2018-04-13 22:07] PatoBeltran opened #6830 "[Accessibility] Help icon in PR migrator do not scale well at high resolution and high DPI"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

VS version (if appropriate): 15.7 preview 4

## Detailed repro steps so we can see the same problem

1. Change the resolution to 1560 x 1440 or greater.
2. Change the scaling to 175%.
3. Launch VS and create new net framework project. (packages.config)
4. Install jquery v3.3.1 and Newton

[2018-04-13 22:09] jaredpar commented on #6829
@rohit21agrawal yes that is the problem. Once I fixed the typo the pack operation succeeded.

[2018-04-13 22:10] rohit21agrawal commented on #6829
closing as duplicate of #4649

[2018-04-13 22:10] #6829 closed, assigned to nobody

[2018-04-13 22:11] PatoBeltran opened #6831 "[Accessibility] Package compatibility issues in migrator are not narrated"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

VS version (if appropriate): 15.7 preview 4

## Detailed repro steps so we can see the same problem

1. Open JAWS to start narrating screen.
2. Launch VS and create new net framework project. (packages.config)
3. Install jquery v3.3.1 and Newtonsoft.Json v6.0.4
4. Right click on packages

[2018-04-13 22:13] PatoBeltran opened #6832 "Migrator dialog title shows a {0}"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

VS version (if appropriate): 15.7 preview 4

## Detailed repro steps so we can see the same problem

1. Launch VS and create new net framework project. (packages.config)
2. Install jquery v3.3.1 and Newtonsoft.Json v6.0.4
3. Right click on packages.config and select "Migrate packages.con

[2018-04-13 22:15] #6597 closed, assigned to nobody

[2018-04-13 22:15] #6640 closed, assigned to nobody

[2018-04-13 22:18] rohit21agrawal commented on #6790
reactivating as we need to have a discussion on nuget.exe compatibility with mono, and what our approach should be moving forward.

[2018-04-13 22:48] chlowell commented on #6775
Please do. This bug blocks a scenario which no other tool covers today and adds friction to .NET Core migrations.

[2018-04-13 23:00] KevinBurton commented on #6828
I have attached the logs for the restore outside of the Dockerfile

On Fri, Apr 13, 2018 at 4:21 PM, Nikolche Kolev <notifications@github.com>
wrote:

Build started 4/13/18 5:56:05 PM.
     1>Project "/Users/rebeccaannburton/Projects/CrimeApi/CrimeApi.sln" on node 1 (Restore target(s)).
     1>Building with tools version "15.0".
     1>Target "ValidateSolutionConfiguration" in file "/Users/rebecca

[2018-04-13 23:15] mishra14 commented on #1838
Closing this as none of the repos are active anymore.

[2018-04-13 23:15] #1838 closed, assigned to nobody

[2018-04-13 23:20] nkolev92 commented on #6828
@KevinBurton
It seems like github cut out the full message.
Can you upload a file?

[2018-04-13 23:23] KevinBurton commented on #6828
[build.txt](https://github.com/NuGet/Home/files/1909727/build.txt)

[2018-04-13 23:47] gordon-matt commented on #5887
@jainaashish Thank you for your response. The point is there are valid reasons (even if they are rare) for wanting to be able to update transitive dependencies without making them top-level. How hard could it be to enable such a thing? Maybe just an additional "Update" option in the right-click context menu when clicking on that transitive dependency in the project. Is this really not possible?

[2018-04-13 23:47] nkolev92 commented on #6828
Ah, ok.

Now it makes sense.

Basically the NuGet.config file is the default one (likely same as docker one), and the feed is nuget.org

[code]

Now the reason why you're not seeing a problem on your local machine is because the global packages folder is obviously different on different machines.

So on your local machine it's likely in the global packages folder:

[code]
While on the mac machine

[2018-04-13 23:53] anangaur commented on #5887
It boils down to the information that NuGet/project has about these dependencies. With `PackageReference`, the only information that the project has is the direct dependencies. The transitive dependencies are computed at the time of restore.

In order to persist the transitive dependency's version, the only way possible today will be capturing the information as `PackageReference` in the project f

[2018-04-13 23:56] nkolev92 commented on #5887
As @anangaur said, there are ways to address your scenarios and plans for improvements for the same.

@gordon-matt
NuGet resolution is rather elaborate, for reference look at our [docs](https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution#dependency-resolution-with-packagereference)

The versions in direct dependencies are the most important ones and NuGet will always atte

[2018-04-14 02:42] KevinBurton commented on #6828
Thank you very much for looking into this. I was starting to suspect a
problem with my local nuget repository but I was not sure how to fix it. I
have a local custom repository that when I add a package I do something
like: 'dotnet add package crimelibrary -s ../Packages'. I was not aware
that the "package also was added to ~/.nuget/packages. Right now it seems
that the local repository should be

[2018-04-14 14:12] dasMulli commented on #5602
@anangaur after reading through the recent wiki updates: I would discourage using `.lock` as a file extension for the planned feature. a `.lock` carries the meaning of a semaphore file on *nix or a marker for things not to delete. That's why there's `packages-lock.json` and friends or `.cache` etc. to try to avoid using `.lock` as a file extension for non-"traditional" `.lock` meanings. (I've also

[2018-04-14 15:37] forki commented on #5602
*.lock is VERY commonly for package managers. Many use that.

Martin Andreas Ullrich <notifications@github.com> schrieb am Sa., 14. Apr.
2018, 16:12:

[2018-04-15 10:05] TedMobile commented on #6468
@kzu
any idea when we are getting the vs2017 release that include this fix?This has been a blocker for a while.
Workaround in the meantime?

[2018-04-15 13:51] ghost commented on #4346
A docker like progress bar with transmission rate / total size is actually quite useful. Here is a sample code to make a simple spinner https://blogs.msdn.microsoft.com/brada/2005/06/11/showing-progress-in-a-console-windows/.

that or windows 98 drumsticks
<img src="https://i.makeagif.com/media/4-10-2017/7177gt.gif" alt="The Windows 98 Drums" width="10%" />

[2018-04-15 15:20] shirazLavi commented on #5213
The workaround worked for me.
But will it affect other things that I should know of? is there any other way?

[2018-04-16 01:05] kzu commented on #6468
As I mentioned, it is already *released* in VS2017 Preview (as of this writing, that's Preview 4). Whenever that hits stable, it will be available in VS2017 15.7.

[2018-04-16 04:26] BilgehanYildiz commented on #6810
Yes this is helpfull but when I want to install with dependencies it is not install latest version of dependency.It is installing lowest version of dependency.

[2018-04-16 04:30] BilgehanYildiz opened #6833 "IVSPackageInstaller/IVsPackageInstaller2 install dependency lowest version"
when I want to install with dependencies it is not install latest version of dependency.It is installing lowest version of dependency.

IVsPackageInstaller2.InstallLatestPackage or IVsPackageInstaller
Scenario
Package A Latest Version 1.0.5 and has dependency to Package B
Package B Latest Version 1.0.9 and lowest version is 1.0.0
when I install PackageA it is installed 1.0.5 and find its dependecy

[2018-04-16 04:48] nkolev92 commented on #6828
The correct approach here would be to publish the packages you need to a feed accessible from other machines.
And add that feed to a nuget.config and add it to the docker image.
You'd have at least 2 entries in your nuget.config.
- 1 for your special packages (could be even a file share)
- nuget.org for the rest of the packages.

NuGet looks for all packages on all feeds every time.

You're not su

[2018-04-16 06:05] nkolev92 commented on #6833
@BilgehanYildiz
NuGet resolves the dependencies to the lowest by design.
I would assume you're using packages.config based projects?
In that scenario currently only the user itself can specify the dependency resolution strategy.

If you're concerned with getting the latest package, I'd suggest installing that explicitly, and passing ignore dependencies as false.

Here's our [resolution strategy](h

[2018-04-16 06:53] Rob-Houweling commented on #6133
I can confirm that this is still a (very time consuming) bug.
Today I tried to reinstall a package in my web project and it reinstalled all of the packackeg in my web and other projects in my solution as well. Please fix this asap. Sometimes it takes half an hour to reinstall the packages so this is very annoying, time-consuming and thus expensive!

[2018-04-16 09:06] KevinBurton commented on #6828
I am sorry to be so naive about this. But  I am obviously new at this.
Would you give me an example of how I “publish the packages I need to a
feed accessible from other machines”? And what the nuget.config would look
like?

Thank you.

On Sun, Apr 15, 2018 at 11:48 PM Nikolche Kolev <notifications@github.com>
wrote:

[2018-04-16 10:34] BilgehanYildiz commented on #6833
This cause performance issue from me each time I check package dependency find its latest version and install it?What you suggest?

[2018-04-16 10:34] ErikvdBurgwal opened #6834 "NuGet Package manager gives an error upon loading in vs 2017"
Hi,

I am facing the same issue as listed in [#2858](https://github.com/NuGet/Home/issues/2858) since about 1 week; when opening the package manager console, I get the following error:

`The module to process 'nuget.psm1', listed in field 'ModuleToProcess' of module manifest 'F:\PROGRAM FILES (X86)\MICROSOFT VISUAL STUDIO\2017\COMMUNITY\COMMON7\IDE\COMMONEXTENSIONS\MICROSOFT\NUGET\Modules\NuGet\Nu

[2018-04-16 15:51] dsidirop commented on #2714
+1

[2018-04-16 15:52] MichaelSimons opened #6835 "Support NuGet CLI on Nano Server"
Does the NuGet CLI support running on Nano Server? Following the [Windows installation instructions](https://docs.microsoft.com/en-us/nuget/tools/nuget-exe-cli-reference) don't work.  Nano Server doesn't support full .NET FX apps.

Ideally the following would work:
[code]

Running nuget.exe works fine in the windowsservercore container.  It fails in the nanoserver container with `The command 'cmd

[2018-04-16 16:05] emes001 commented on #2714
+1. I'm going zany trying to figure out what this missing "value" param is... ugh.

[2018-04-16 16:38] nkolev92 commented on #6665
Closing this as per the above comment.

[2018-04-16 16:38] #6665 closed, assigned to nkolev92

[2018-04-16 16:42] nkolev92 commented on #6833
If you know the dependency tree, you don't need to specify the version. Then NuGet's caching mechanism would make it a little more performant, but still lower than letting NuGet do it's own thing.

Can you tell us more about your scenario?

Why is it important for you that the transitive dependencies are latest?

Do you own all packages to be installed? Or do you only own the direct dependency?
Ha

[2018-04-16 16:45] dsidirop commented on #2714
@emes001 Just append the flag "-Version 3.2.1.0"

[2018-04-16 16:55] nkolev92 commented on #6828
@KevinBurton
No worries, we've all been there :)

The NuGet documentation can help you quite a bit here.
Here are our [docs ](https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file)about the NuGet config.

The recommendation is that any time you restore packages on a different machine, you make sure that the consumer has a nuget.config that configures the sources to help NuGet find all

[2018-04-16 16:55] #6828 closed, assigned to nobody

[2018-04-16 17:11] nkolev92 commented on #6826
@rohit21agrawal

I can't reproduce this with SDK csproj Package Reference.

Did you try this with old csproj PR?

[2018-04-16 17:15] nkolev92 commented on #6834
@ErikvdBurgwal
This sounds like a setup problem, not a NuGet one.

Can you please try repair your visual studio installation?

Open the Visual Studio Installer, find the affected installation there and click repair.

[2018-04-16 18:23] rohit21agrawal commented on #6826
updated title and description

[2018-04-16 18:32] KevinBurton commented on #6828
Thank you. I will look at the docs and look into NuGetServer. I was told
that rather than standing up a server I could specify a file location for
the source but I am not sure how to specify and use it so that "other
computers" can access it.

On Mon, Apr 16, 2018 at 11:58 AM, Nikolche Kolev <notifications@github.com>
wrote:

[2018-04-16 18:33] nkolev92 commented on #6835
NuGet.exe does not run on Nano Server.
The only way to make it work on nano server would be make it .NET Core. However dotnet.exe is the .net core cli and it ships with all required nuget commands.

The `-StorePasswordInClearText` switch is available for the sources command.

[2018-04-16 18:39] nkolev92 commented on #6828
@KevinBurton
NuGet works with file shares too.

If every machine that uses this image has access to the file share, it should work too.

Then you just add that share folder to your config.

[code]

[2018-04-16 18:43] nkolev92 commented on #6660
Closing this due to inactivity.

[2018-04-16 18:43] #6660 closed, assigned to nobody

[2018-04-16 18:45] nkolev92 commented on #6675
Am i correct to interpret this as "Not a bug"?
Has the issue been resolved here?
@ElMaxxi @rohit21agrawal

[2018-04-16 19:22] rohit21agrawal commented on #6813
@fguinan thanks for the report. while we investigate this, could you let us know if this scenario has worked with previous versions of VS or NuGet.exe ?

[2018-04-16 19:35] rohit21agrawal opened #6836 "take a dump of devenv.exe when e2e test times out or apex has a long running test"
we can detect if a test timed out , which was probably due to a hang . in that case we should use ProcDump to take a dump of the process and analyze why that happened.

[2018-04-16 19:41] fguinan commented on #6813
@rohit21agrawal Yes, it did work with prior versions of VS and nuget. The issue was also logged by somebody else on the Microsoft/vstest git repo.
https://github.com/Microsoft/vstest/issues/1533

[2018-04-16 19:52] logichaos commented on #6675
The issue is not resolved.

On Mon, Apr 16, 2018, 20:45 Nikolche Kolev <notifications@github.com> wrote:

[2018-04-16 19:59] rohit21agrawal commented on #6675
@ElMaxxi if it's not resolved, can you please reply to my earlier [comment](https://github.com/NuGet/Home/issues/6675#issuecomment-377083683)?

[2018-04-16 20:08] logichaos commented on #6675
On Apr 16, 2018 21:59, "Rohit Agrawal" <notifications@github.com> wrote:

@ElMaxxi <https://github.com/ElMaxxi> if it's not resolved, can you please
reply to my earlier comment
<https://github.com/NuGet/Home/issues/6675#issuecomment-377083683>?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/NuGet/Home/issues/6675#issuecomme

[2018-04-16 20:17] rohit21agrawal commented on #6675
So change the buildAction to Compile

[2018-04-16 20:20] logichaos commented on #6675
so, if I understood you correctly, what I was missing is the buildAction?
I'm on the road right now so I can't test it right away.

On Mon, Apr 16, 2018, 22:18 Rohit Agrawal <notifications@github.com> wrote:

[2018-04-16 20:24] mhutch commented on #6790
@knocte is there a specific scenario that's important to you? Why would you need to update NuGet but be unable to update Mono?

[2018-04-16 21:20] nkolev92 commented on #6675
@ElMaxxi
That should do it.

Simply reply whenever you have change to test it, no rush :)

[2018-04-16 21:24] nkolev92 commented on #6778
//cc
@rrelyea

[2018-04-16 21:24] rohit21agrawal commented on #6813
@fguinan we have determined on an internal email thread that the bug will be fixed on the VSTest side. They will release a fix for 15.7.

[2018-04-16 21:24] #6813 closed, assigned to rohit21agrawal

[2018-04-16 21:24] rohit21agrawal commented on #6813
External issue: https://github.com/Microsoft/vstest/issues/1533

[2018-04-16 21:27] nkolev92 commented on #6650
@aaronmorgan
Can you please provide a repro?
Or at least the full restore logs (/v:d)
It's rather hard to diagnose this without knowing the exact scenario.

[2018-04-16 22:43] nkolev92 commented on #6815
@MNie can you be more clear about the ask here?

I don't think nuget.org is the right place to display graphs for templates or anything like that.

[2018-04-16 22:45] nkolev92 commented on #6825
Thanks for creating this @Aethon
Not sure when we'll get to this because we're prioritizing other work, but we'll gladly take a PR.
//cc @rohit21agrawal

[2018-04-17 02:30] knocte commented on #6790
@mhutch that's certainly a good question! The reason is that the majority of nuget packages nowadays expose a bug in the nuget version shipped with Ubuntu 16.04. For example, the NBitcoin package, if you try to add it, you get the error: `"'NBitcoin' already has a dependency defined for 'Newtonsoft.Json'"` (more info in stackoverflow: https://stackoverflow.com/questions/25725545/nuget-x-already-ha

[2018-04-17 02:35] knocte commented on #6790
And forgot to mention: my open source project runs ok with the version of Mono shipped with UbuntuLTS, therefore, I'm trying my best not to require anyone (i.e. potential contributors) to download/upgrade to a new Mono, just to be able to build the project themselves. If at build time I can download a version of nuget that at least doesn't have bugs, that's better than having to download the whole

[2018-04-17 03:35] gholliday opened #6837 "CredentialProvider.VSS.exe fails when TLS 1.0 is disabled"
NuGet product used: `nuget.exe`

NuGet version: `4.6.2.5055`

OS version: `win10 v1803 (17133.1)`

## Detailed repro steps

1. Disable support for TLS 1.0/1.1 protocols in Windows/SChannel to simulate servers not supporting these older protocols, or businesses disabling them to meet PCI compliance requirements:

[code]

2. Attempt to connect to a feed that uses `CredentialProvider.VSS.exe` to auth

[2018-04-17 05:22] MNie commented on #6815
@rohit21agrawal @nkolev92 . Right now if .net core template doesn't include anything in dependencies section in a NuSpec file. Dependency section on NuGet is empty.
I have an idea (maybe stupid idea), that this would be great if there would be some separate section for dependencies of a .net core template project (on nuget.org page, based on some new section in NuSpec file (or existing one), which

[2018-04-17 05:31] BilgehanYildiz commented on #6833
Hi I dont know dependency tree.But if nuget has api for that I can find.Actually myrequest is simple I want to use installatestmethod with latest dependency if you add this feature it is functional.I own all packages.A sample scenario I have a OracleDataAccess dependecy with my package and OracleDataAccess dependecy is latest version.When I use installlatest that time it decrease my oracledataacce

[2018-04-17 05:33] vikas6681 commented on #5358
Any update team ? This is kinda blocking me from last 4 days.

[2018-04-17 06:08] nkolev92 commented on #6815
@MNie

I'm not sure I follow.

What do you mean by .net core template projects?

Are you talking about the projects generated by

or?

[2018-04-17 06:12] nkolev92 commented on #6837
The VSS CredentialProvider is not owned by the NuGet team.

I'd suggest filing an issue here: https://developercommunity.visualstudio.com/spaces/21/index.html

//cc
@alexmullans @keithrob

[2018-04-17 06:16] nkolev92 commented on #6833
If you own all packages, you already know the dependency tree then.
It's the package you own, and all the packages that the package you own depend on.

Do you really need to be using IVs APIs if you're not shipping an external feature?

[2018-04-17 06:19] nkolev92 commented on #6748
Thanks for creating the issue @ievgennaida
I don't think is a priority of ours at this point.

Moreover, the recommended way to update projects would be through Visual Studio since nuget.exe is not guaranteed to work in a 100% correct way.

[2018-04-17 08:15] ovidiuiliescu opened #6838 "PackageBuilder compatibility issues"
In older versions of NuGet (e.g. 2.X), the `PackageBuilder.WriteManifest()` method supported unicode package IDs by escaping them if needed, e.g. for a package with id `告`, the .nuspec file would be named `%E5%91%8A.nuspec` instead of `告.nuspec`.

In newer versions (e.g. 4.5), the package name is used as-is.

This causes problem when creating a package with 4.5 and trying to use it with something

[2018-04-17 08:46] #6837 closed, assigned to nobody

[2018-04-17 08:51] BilgehanYildiz commented on #6833
I already write my code,but if you add this feature to vsinstaller it is helpful.A parameter like ignoredependcy.something like that DependecyLevel lowest or highest thanks

[2018-04-17 10:52] kegor commented on #5358
Guys, your provider can block `api.nuget.org` IP's, especially if you from Russia, please refer to this comment: https://github.com/aspnet/Docs/issues/5832#issuecomment-381924192.

[2018-04-17 10:58] vikas6681 commented on #5358
Hey Kegor,

Thanks for inputs but we are trying to hit this API from India.

[2018-04-17 12:07] wertzui commented on #6233
I had the same problem and for me it was that in my NuGet.config in `%appdata%\NuGet\` had `packageSourceCredentials` that would overwrite the ones in the NuGet.config in the project directory.

Once I removed the credentials, the oney from the NuGet.config in my project directory where used.

However I would expect credentials specified in the NuGet.config inside the project folder to overwrite t

[2018-04-17 13:45] mhutch commented on #6790
Okay, so it sounds like it's a workaround for a specific bug, rather than a more general use case

Presumably this will no longer be an issue in a couple weeks when 18.04 comes out?

[2018-04-17 14:15] knocte commented on #6790
TBH I'm not sure. I think Mono's version in 18.04 is not much higher (4.6 I think, which doesn't even bring BoringTLS), and I don't know if any packager has cared about updating the version of nuget.

[2018-04-17 14:22] directhex commented on #6790
NuGet 3.0+ can't build 100% from source with Mono, so isn't eligible for updating in Debian/Ubuntu. There's newer in the mono-project packages.

Mono updating in Debian/Ubuntu is blocked on https://github.com/mono/mono/issues/7445

[2018-04-17 14:57] gidduk commented on #5358
I am hitting the url from US.
I can get the url from the browser but not from VS.Net. It does not work in my laptop or the desktop.

[2018-04-17 16:19] SeriousM commented on #6000
To pickup this problem: what the nuspec is actually doing is moving the `content\myDllFile.dll` to `contentFiles/any/any/myDllFile.dll` so that the `<contentFiles>` node can pick the file from `any/any/myDllFile.dll` (without contentFiles). This is very confusing but works...

[2018-04-17 16:55] TarikIbrahim commented on #5595
@afficionaddo @nkolev92
I have working solution after wasting hours , inside the ".nuget" folder press right click on "Nuget.exe" select properties then in "General" tab click "Unblock"

[2018-04-17 18:08] theschnarr opened #6839 "nuget.exe "pack" should re-evaluate project versions to allow git versioning for packages.config"
I'm running into the same issue reported in [#4790](https://github.com/NuGet/Home/issues/4790).
Essentially, I have two projects in the same solution (A and B).  B references A.  Both have nuspec files, and both are using GitVersionTask to generate a SemVer.

When I use Nuget to pack project B, using includereferencedprojects, A shows as a dependency in the output package for B, but is using 1.0.0

[2018-04-17 18:09] PatoBeltran opened #6840 "Memory is invalid while updating signer info when adding timestamp to countersignature"
When adding a timestamp to a countersignature there are a couple of steps that are followed:

1. Get the unsigned attribute for the countersignature
2. Decode a signerInfo for the countersignature from the unsigned attribute
3. Remove countersignature unsigned attribute
4. Update the signerInfo with a new unsigned attribute
5. Encode the signerInfo back to an unsigned attribute
6. Add unsigned att

[2018-04-17 18:31] nkolev92 commented on #6838
@ovidiuiliescu This was done as requested in https://github.com/NuGet/Home/issues/5956.

Your options are to either use an earlier version of nuget.exe for packing, or use a newer version of nugetserver that supports this if it does.
If the latest version of nugetserver does not support that, please file an issue there.

[2018-04-17 18:31] #6838 closed, assigned to nobody

[2018-04-17 18:33] rohit21agrawal commented on #6839
yes this scenario currently does not work with packages.config + nuget.exe. I do not currently have an ETA for when this would be fixed, but if you can move over to NETCore style SDK projects (or move to PackageReference atleast), that would be the fastest way to workaround the issue.

[2018-04-17 19:08] Aethon commented on #6825
Thanks for the intake. I can't commit to a PR, but I will prolly have a look over the weekend.

[2018-04-17 19:19] rrelyea commented on #6378
We are now feature complete in 15.7. Closing this issue.
We'll open more for follow on issues, like Client Policies.

[2018-04-17 19:19] #6378 closed, assigned to rido-min

[2018-04-17 19:22] rrelyea commented on #6723
https://developercommunity.visualstudio.com/content/problem/201434/test-explorer-fails-to-show-tests-hresult-0x801310.html?childToView=225207

[2018-04-17 19:38] abpiskunov opened #6841 "Error occurred while restoring NuGet packages: Library not registered. (Exception from HRESULT: 0x8002801D (TYPE_E_LIBNOTREGISTERED))"
## Details about Problem

Opening my repro solution with 5 projects (1 classic and 4 core projects targeting netcoreapp2.0) ends up in failed restore with the error in the title.

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate): 2.1.200-preview-007570

VS version (if appropriate): d15.7 27613.0

OS version (i.e. win10 v1607 (14393.321)): Win10

Worked before? If so, with which Nu

[2018-04-17 20:19] kdg3737 commented on #5358
Removing https://api.nuget.org/v3/index.json from packages\microsoft.dotnet.buildtools\2.1.0-preview3-02711-02\lib\init-tools.cmd, build, adding https://api.nuget.org/v3/index.json back, build,  somehow seems to have fixed it for me.

[2018-04-17 21:07] #6840 closed, assigned to PatoBeltran

[2018-04-17 22:13] #6808 closed, assigned to PatoBeltran

[2018-04-17 22:33] nkolev92 commented on #6795
@ceddlyburge
I am unable to reproduce this with the latest 15.7 preview.

Which version of VS are you using?

[2018-04-17 22:39] nkolev92 commented on #6776
I think I am hitting this issue while investigating another problem.

This arises due to the caching of the sources when we evaluate them for said project.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/RestoreCommand/RequestFactory/RestoreArgs.cs#L119-L129

The caching needs to be done based on the configs + the configs passed in.

I'm not sure if it has anything to

[2018-04-17 22:45] nkolev92 commented on #6841
@abpiskunov

Is this consistently reproducible?
Can you repro it on any other machines?

I'd imagine repairing your VS installation should fix it, but ideally before doing that, it'd be great if you filled an issue through the VS Feedback mechanism as it's easier to analyze issues like this there.

[2018-04-17 22:47] abpiskunov commented on #6841
i could give you access to the machine if you want to.

[2018-04-17 22:50] #6830 closed, assigned to nobody

[2018-04-17 22:56] #6831 closed, assigned to nobody

[2018-04-17 22:57] #6832 closed, assigned to nobody

[2018-04-17 22:59] rohit21agrawal commented on #6820
This issue was moved to dotnet/project-system#3473

[2018-04-17 22:59] #6820 closed, assigned to nobody

[2018-04-17 23:06] joelverhagen opened #6842 "Untrusted signature timestamper CAs are no longer rejected by verify"
I updated client bits.

Old version: 4.7.0-preview4.5067
New version: 4.7.0-preview6.5106

I noticed a change in behavior in the case when the signing certificate is trusted but the timestamper certificate is untrusted. Is this expected?

Here is a repro with the package, the primary signature root CA cert (which should be added to the trusted store) and the two versions of NuGet.exe: [Repro.zip](

[2018-04-17 23:22] nkolev92 commented on #6841
@abpiskunov
Sure that'd be great.

[2018-04-17 23:27] rrelyea commented on #3324
@zhili1208  - please start investigating options.

[2018-04-18 00:37] mishra14 commented on #6786
Reopening this to track a larger effort to add data points around nuget crashes in VS

[2018-04-18 00:47] nkolev92 commented on #6842
@PatoBeltran
Can you make sure this issue has the correct metadata.

[2018-04-18 00:51] nkolev92 commented on #6814
Related to https://github.com/NuGet/Home/issues/6170

You can consider implementing your fix in a way that solves that one as well.

[2018-04-18 01:00] mishra14 opened #6843 "Add test coverage for data points"
Follow up task for all data point collection in VS.

Related issues -
https://github.com/NuGet/Home/issues/6814
https://github.com/NuGet/Home/issues/6786

[2018-04-18 05:23] vikas6681 commented on #5358
I don't see this folder/file in my system as well as code

[2018-04-18 07:15] ErikvdBurgwal commented on #6834
@nkolev92 thanks for your support!

I tried the repair function, unfortunately the problem is not solved; I still get the same error message while opening the package manager console.

Any other suggestions?

Thanks,
Erik

[2018-04-18 07:29] maartenba commented on #6378
Are packages released for working with these?

[2018-04-18 08:54] ninjaboy commented on #2372
Still reproducing in nuget v4.6.2

[2018-04-18 10:38] ghost commented on #3078
use powershell command <all | http-cache | global-packages | temp>
dotnet nuget locals all --clear

Ran this in powershell and worked like Charm :)

[2018-04-18 14:36] glucaci commented on #4318
@zhili1208  What about DotNetCliToolReference? If it's deprecated what should be the right way to do it?

If I create a dotnet cli extension package which is only a .cmd script how can I register this to the PATH on install if I don't have the install script?

Thanks!

[2018-04-18 15:44] satamas opened #6844 "Don't rely on ReasonPhrase when handling errors from server"
Currently response error handling is based on `EnsureSuccessStatusCode` method and this method uses ReasonPhrase to construct the user-readable error message. Reason phrase isn't commonly used mechaism of sending error messages, therefore it's going to be removed in http 2.0, see this [issue](https://github.com/http2/http2-spec/issues/202). Therefore it looks reasonable to add error handling that

[2018-04-18 16:58] joelverhagen commented on #6842
/cc @rrelyea

This is blocking repository signing on the server side since we depend on the verify APIs to reject author timestamps that chain to an untrusted CA.

[2018-04-18 17:24] nkolev92 commented on #6844
Thanks for creating this issue @satamas

We'll discuss internally and get back to you.

/cc
@joelverhagen @rrelyea

[2018-04-18 18:21] mkabhishekdev opened #6845 "The remote name could not be resolved: 'nuget.org'"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe|Package Manager console

NuGet version (4.0)

dotnet.exe --version (if appropriate):NA

VS version (if appropriate): VS 2017/2015

OS version (i.e. win10 v1607 (14393.321)): win 10

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

[2018-04-18 18:47] mkabhishekdev commented on #6236
I am facing a similar problem. can you explain how what change you did in settings to make it work?

[2018-04-18 18:54] mkabhishekdev commented on #5052
any inputs on how to configure in Windows 10 environment if faced with a similar issue?

[2018-04-18 18:56] joelverhagen commented on #6844
Thanks for bringing this us @satamas. Today we use this as a simplistic way of passing an error message back to the user from the server. I agree this is a bit hacky and is not supported in all cases or all server implementations.

I have created issue https://github.com/NuGet/NuGetGallery/issues/5818 to talk about adding schema around error messages.

[2018-04-18 19:57] davidmatson opened #6846 "Feature Request: Allow architecture-specific binaries without requiring client projects to use RuntimeIdentifier(s)"
When to use Platforms vs PlatformTarget vs RuntimeIdentifier(s) is a bit messy at the moment. (For more context: https://github.com/dotnet/sdk/issues/1553)

In the meantime, while we're waiting on guidance/cleanup there, we usually use only Platforms or PlatformTarget to mark a binary as x64.

We have NuGet packages used by these projects that have x64-only binaries in them. The only current way I

[2018-04-18 19:59] loic-sharma commented on #6378
@maartenba Yes, latest `NuGet.Packaging` package has the necessary APIs. For an example, see: https://github.com/NuGet/NuGet.Client/blob/095d2d9563bac6b6bb3269e6996dd4e5af690f20/src/NuGet.Clients/NuGet.MSSigning.Extensions/RepoSignCommand.cs#L34

[2018-04-18 21:06] jainaashish opened #6847 "Update NuGet restore telemetry events to send separate fields for direct vs transitive dependencies count"
This is the follow up work post PR# https://github.com/NuGet/NuGet.Client/pull/2172 to have separate fields for direct vs transitive dependencies as part of NuGet restore telemetry event.

[2018-04-18 23:01] nkolev92 commented on #6845
@coderkemp
do you have any other configs in your path?
NuGet should not uncheck that source.

Can you try specifying the config directly?

[2018-04-18 23:11] nkolev92 commented on #6846
How is NuGet supposed to know whether to include these assets if it doesn't know the target runtime?

[2018-04-18 23:21] nkolev92 commented on #6623
Another customer filled a similar issue to this one:
https://developercommunity.visualstudio.com/content/problem/225023/aspnet-core-web.html
//cc @rrelyea
This a part of the ASP.NET projects should support PackageReference effort.

[2018-04-19 00:11] davidmatson commented on #6846
If the csproj says TargetPlatform=x64 and the nupkg says "include this file in bin when building for x64", then it would know to include it. I believe NuGet knows (or could know) the TargetPlatform - is that correct?

[2018-04-19 02:53] Jtango18 commented on #1792
I just want to clarify here (having spent several hours messing with this) that currently, with a PackageReference formatted package, it is **NOT** possible to add a transformed source file (e.g. _MyClass.cs.pp_) to the consuming project's structure in a way that is user visible/editable. Is that correct?

[2018-04-19 08:09] maartenba commented on #6378
Seems these aren't in the latest stable 4.6.2?

[2018-04-19 08:46] tmds commented on #4387
These variables are supported by .NET Core 2.1.

[2018-04-19 08:57] tmds opened #6848 "Feature request: patch roll forward"
This feature request is inspired by https://github.com/dotnet/designs/pull/36 which proposes automatic patch roll forward the .NET Core runtime used in self-contained apps.

Generalizing this for any NuGet package: allow marking a package to have 'patch roll forward' semantics. The maintainer can then provide patch releases, which are automatically consumed by new builds.

At some point, the maint

[2018-04-19 09:19] springy76 commented on #5553
Regarding "old is safe":

Sorry this is not true: https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/438#issuecomment-360066292

In that case it might be nice that Swashbuckle got its 1.0.4 StaticFiles it had been compiled against. But that StaticFiles gets NOTHING it got compiled against since 99,999% of the project already was at aspnetcore 2.0 at the time Swashbuckle got added and

[2018-04-19 09:27] davidfowl commented on #5553
@springy76 the assessment of what caused that issue is incorrect. I clarified in the comment.

[2018-04-19 09:44] laszlohorvath commented on #6795
I am able to reproduce it with the demo repo. VS 2017 Ent 15.6.6

And we also have this issue, and it is a quite big problem here, I've spent days to solve it, but we were unable to. So any help (hotfix, workaround, etc...) would be appreciated.

[2018-04-19 09:48] springy76 commented on #5553
The biggest problem with this: No one tells you anything is wrong. You get a MissingMethodException sometime at runtime, maybe many hours or days after starting the app.

While transitive references may not be the direct cause for the problem the missing tooling for showing the availability of updates of transitive references **is**. With packages.config this would not have happened.

Or may I rem

[2018-04-19 10:11] davidfowl commented on #6848
No I think think this should be a thing. It causes so many problems and would require the introduction of a lock file.
This is a consumption time feature *not* an authoring time feature.

Being able to marking a package deprecated makes sense so the client can earn but automatically rolling forward on patches causes other problems.

PS: Nuget used to do this automatically and we removed that behav

[2018-04-19 10:57] gatsbys commented on #5358
Same here guys

[2018-04-19 11:09] tmds commented on #6848
ok, perhaps a bad start by proposing a solution.

use-case: as a developer I want my application to include important fixes (especially: security fixes)

[2018-04-19 11:48] markusschaber commented on #5553
@springy76 That's precisely why one should **never ever** let his build servers build against a public repo.

Use a local repository for the CI systems, and restrict the build servers from accessing anything non-local. Apart from reproducible builds, this also helps with license compliance and security  @assessments, as you only have "known" packages with "known" licenses.

[2018-04-19 12:26] StexGhost commented on #2696
Not sure if I should create a new issue or post here, so I'll start here.
This problem came back/or was never fixed, even in VS 2017. Or at least, was ONLY fixed for DEBUG, **not for Release builds**!

Follow the step by step guide provided at the top. (I tested with an UWP app targeting Fall creators update, using VS community 2017, version 15.6.6). Run the app in Debug and the localized strings

[2018-04-19 13:05] RVoiseyFirstApp commented on #6143
Could this be a valid use case? Following the Xamarin tutorial on creating usable plugins (https://blog.xamarin.com/creating-reusable-plugins-for-xamarin-forms/) and they have the same assembly name.

I have a few different projects:
- AppUtils.Forms (common code)
- AppUtils.Android (android implementation), references AppUtils.Forms
- AppUtils.iOS (ios implementation), references AppUtils.Forms
-

[2018-04-19 15:20] vancem commented on #6104
cc: @vancem

[2018-04-19 15:33] dschuermans opened #6849 "NuGet.exe install without a project should not validate the PackageType metadata"
## Details about Problem

NuGet product used (NuGet.exe): **NuGet.exe**

NuGet version (x.x.x.xxx): **4.6.2.5055**

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)): **win10 1709 16299.309**

Worked before? If so, with which NuGet version: haven't had the need before. I know it works when using the nuget package manager console in VS

[2018-04-19 15:33] abatishchev commented on #5553
How so? Manual control of each package? You can do that either way. And to automate you need tooling

Oh, please. This is terrible burden on developers. Plus you again need tooling to sync local with public.

The only worse advice is to check-in packages under source control for same, illusional reasons

[2018-04-19 15:45] dschuermans commented on #6849
and fyi, the docs for the CLI suggested this got posted:
https://docs.microsoft.com/en-us/nuget/tools/cli-ref-install:
![image](https://user-images.githubusercontent.com/6634696/39002704-685ce826-43f9-11e8-8ba2-a5566c2f699a.png)

[2018-04-19 15:51] ceddlyburge commented on #6795
Hi there, I am on VS 2017 Professional 15.6.4

I also get the problem on the command line using nuget 4.3.0.4406, which in turn uses msbuild 15.6.82.30579

[2018-04-19 16:08] dtivel commented on #6378
Correct.

[2018-04-19 17:07] dschuermans commented on #6849
And as a final touch, the docs for the package manager console claims the following:
![image](https://user-images.githubusercontent.com/6634696/39006908-cb56385a-4404-11e8-96d7-7944e4f03c9a.png)
See https://docs.microsoft.com/en-us/nuget/tools/package-manager-console

[2018-04-19 17:23] maartenba commented on #6378
Ok found it all in 4.7 prereleases.

One thing I did not immediately find in the spec. Imagine a MyGet feed proxies NuGet.org (essentially a read from www.myget.org that just streams the package from www.nuget.org). Will we have to strip the repo signature, or can www.myget.org serve a NuGet.org repo-signed package?

In other words, is this supported?
```client <- MyGet (with NuGet repo signature

[2018-04-19 17:46] clairernovotny commented on #6378
I don't think there's any reason you'd need to strip the repo sig. It tells you where it came from.

[2018-04-19 17:49] maartenba commented on #6378
True. But then the question is: is the NuGet client going to like MyGet serving a package that has a NuGet.org repo signature?

[2018-04-19 17:49] maartenba commented on #6378
(also NuGet.org will remove other repo signature of available, hence the question)

[2018-04-19 18:00] dotMorten commented on #6104
Just a note: My C++ symbols are over 500mb per architecture. So it might be worth considering being able to split the symbol packages up per architecture, so you only have to download the one you care about.

[2018-04-19 18:27] PatoBeltran commented on #6842
@joelverhagen can you please share with me the `SignedPackageVerifierSettings` object you are using? What do you have for the different timestamp settings?

[2018-04-19 18:32] mkabhishekdev commented on #6845
@nkolev92
I just have the NuGet.config in  '%appdata%\NuGet' .

specifying the config directly?

[2018-04-19 18:33] nkolev92 commented on #6845
-config configName when you do restore.

If you run it with -detailed, NuGet will tell you which configs it's using and which sources it's used.

[2018-04-19 18:42] joelverhagen commented on #6842
Here's another package and root cert.
[Repro-2.zip](https://github.com/NuGet/Home/files/1929354/Repro-2.zip)

My settings when the package has no repository signature are:

[code]

[2018-04-19 18:43] nkolev92 commented on #6846
@davidmatson
It can figure it out yes, but that wouldn't solve the Platforms vs PlatformTarget vs RuntimeIdentifier problem.
It would just move it to NuGet in addition to SDK.

In my opinion, NuGet should not do anything until https://github.com/dotnet/sdk/issues/1553 is resolved, and then act potentially if there's a change/unification on the SDK side.

//cc @rrelyea @dsplaisted

[2018-04-19 18:46] emgarten commented on #6849
`-DependencyVersion Ignore` should handle this, I think it was added in 4.6

Using that I get an error now that nuget checks the package type, so it is still blocked.
`Error NU5000: Package 'NupkgWrench 1.3.0' has a package type 'DotnetCliTool' that is not supported by project 'E:\tmp'.`

[2018-04-19 18:49] dsplaisted commented on #6846
I think the way to handle this would be to have architecture-specific but platform-agnostic [Runtime Identifiers](https://docs.microsoft.com/en-us/dotnet/core/rid-catalog).  Essentially, `x86`, `x64`, `arm`, and `arm64` would be added to the RID Graph.

I'm not sure if this is feasible.  @weshaggard @ericstj

[2018-04-19 18:50] davidmatson commented on #6846
Understood. The one thing that makes we wonder if we should do something in the meantime, is that currently it's the only reason I'd set RuntimeIdentifier(s) in multiple client csprojs - NuGet is taking a dependency on RuntimeIdentifier being set in cases where the rest of the project system is satisfied by Platforms/PlatformTarget. i.e. - is NuGet making this problem worse than the rest of the SD

[2018-04-19 18:51] davidmatson commented on #6846
@dsplaisted - I think that's one option. Another one might be to infer a platform of "win" when the csproj targets .NET Framework (rather than .NET Standard or .NET Core).

(I believe .NET Framework is always Windows - is that right?)

[2018-04-19 18:56] dtivel commented on #6378
MyGet or any other feed can serve NuGet.org repository signed/countersigned packages without having to strip the NuGet.org signature/countersignature.  However, if the serving feed goes out of its way to claim that it repository signs/countersigns packages with a different certificate, the NuGet client will block NuGet.org-signed/-countersigned packages from that feed.  It'll appear as though the

[2018-04-19 19:06] nkolev92 commented on #6848
From the discussion here, I'm assuming you're asking for an npm tilde equivalent in the nuspec?

NuGet's implementation of ^ and ~ is *, but it's only used in package declaration, not in the nuspec.
https://github.com/NuGet/Home/issues/5553#issuecomment-337728425

There's an ask for changing the pessimistic resolution strategy to Highest in the same [issue](https://github.com/NuGet/Home/issues/555

[2018-04-19 19:23] jainaashish commented on #6848
`use-case: as a developer I want my application to include important fixes (especially: security fixes)`

You should include that package as direct dependencies and control it's behavior to upgrade to include those important fixes. After having multiple discussions recently, I too think that it will be a bad design to allow consumers to control resolution strategy for transitive world, which will

[2018-04-19 19:27] samedder commented on #2887
Hey, reviving this issue since it seems like a pretty big blocker for CI/CD systems. Is anyone actively working on this or has it be relegated to wont fix?

[2018-04-19 19:50] mkabhishekdev commented on #6845
it seems to be fine.
Have configured the nuget.config in this form:
`<configuration>

    <config>

        <add key="http_proxy" value="http://my.proxy.address:port" />

        <add key="http_proxy.user" value="mydomain\myUserName" />

        <add key="http_proxy.password" value="base64encodedHopefullyEncryptedPassword" />

    </config>

</configuration>`

Any other way you want me to try for

[2018-04-19 19:51] nkolev92 commented on #6849
@dschuermans
You're effectively looking for a way to just download a nupkg and then run the executable?

@emgarten
Global tools maybe? :)
I think the package type checking has been there since 4.x

The scenario being asked for here is not a bug, but nupkgwrench in particular won't work because it's a dotnetclitool.

[2018-04-19 19:56] nkolev92 commented on #6845
@coderkemp That should normally work.

Does any nuget.exe version work?
4.0, 4.3, 4.6?

[2018-04-19 20:18] dsplaisted commented on #6846
@davidmatson Mono also uses the `.NETFramework` `TargetFrameworkIdentifier`

[2018-04-19 20:19] Tadimsky commented on #3891
Is there a good way for the NuGet package to import the dependencies that the Project had?
Say `Project A` depends on `Project B`, but `Project B` depends on `NuGet Package 1` and `Nuget Package 2`.
How can I make `Project A` list the dependences of `Project B` as its own dependencies?
This workaround is great at getting the DLL into the NuGet package, but I assume things will fail if they depend

[2018-04-19 20:21] tmds commented on #6848
I don't know what this tilde is, but if it is a wildcard version dependency, then: no, that is not what I'm asking.

I want the maintainer of the package to be able to push me a more recent version when he thinks that is appropriate.
This is similar to how my OS gets continuous updates because the package maintainers are push fixes.

The maintainer must be committed to provide such patch releases.

[2018-04-19 20:25] dsplaisted commented on #6848
We should consider how a developer would discover that such updates are available (currently I'm not aware of any tooling to help with this).  We should also consider the impact of having to promote transitive dependencies to direct ones just for this purpose- as you no longer capture the intent of what you intend to directly reference, and may run into issues such as package downgrades as your de

[2018-04-19 20:27] bbowman commented on #3891
@Tadimsky, @kzu's https://github.com/NuGet/NuGet.Build.Packaging nugetizer project is probably what you are looking for.

[2018-04-19 20:37] mkabhishekdev commented on #6845
so I ran nuget -config commands to insert http_proxies. If I run the commands using nuget.exe 4.6 and in the build server if the nuget.exe version is 4.0. Can that be a issue?

[2018-04-19 21:04] nkolev92 commented on #6845
@coderkemp
No that shouldn't affect it. The schema hasn't changed.

[2018-04-19 21:55] rohit21agrawal commented on #3891
@Tadimsky right now there is no good way to do it, but that will be kept in mind when this feature is implemented. For now, your only option is to list it as a dependency in your top level project/

[2018-04-19 22:20] nkolev92 commented on #6848
Commands like outdated could be implemented to help discover NuGet packages that are not current. https://github.com/NuGet/Home/issues/5762

Note that not current doesn't mean bad, or unsafe.
As mentioned in #5553 already, not every patch update is security update. There is no way for NuGet to know if an update is a security update or not.
There's already some misconceptions about the updates tab

[2018-04-19 22:35] nkolev92 commented on #6710
Just closing the loop here.
This has been resolved.

[2018-04-19 22:35] #6710 closed, assigned to nobody

[2018-04-19 22:40] nkolev92 commented on #6186
NuGet now defaults to MSBuildProjectExtensionsPath.
That's what needs to be used to change the nuget artifacts drop location.

https://github.com/NuGet/NuGet.Client/pull/2131

Visual Studio 2017.7
4.7 of NuGet.exe
2.1.200 versions of the SDK

Closing this as won't fix.

[2018-04-19 22:40] #6186 closed, assigned to nobody

[2018-04-19 23:06] nkolev92 commented on #6746
This was done by design in VS, and we should probably consider changing the respective docs to represent the current behavior.
At least until we decide to do it otherwise.

https://developercommunity.visualstudio.com/content/problem/217493/visual-studio-nuget-package-manager-ignores-nugetc-1.html
https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#config-file-locatio

[2018-04-19 23:40] PatoBeltran opened #6850 "Timestamp certificate should be validated to not be on the future and that timestamp is within validity period"
The timestamp certificate is currently not being validated against time constraints. We should validate that it's validity is not in the future and that the actual timestamp value is within the certificate's validity period.

Note: per spec we don't care if the timestamp is expired, but we care that it's validity is not in the future.

[2018-04-20 03:29] anangaur commented on #6746
Why is this by design?
How does one override the settings for a given project?

[2018-04-20 03:36] anangaur commented on #5762
What is 'Wanted'? Who wants it? 😀

[2018-04-20 03:55] nkolev92 commented on #5762
@anangaur
Specified, declared :)

It's the npm nomenclature, didn't think too hard about it :D

[2018-04-20 04:00] nkolev92 commented on #6746
@anangaur
That's how it's always been in VS.
VS has had 1 set of settings for a solution for forever.

The per project feature is the one that was added later. That's the one that changed the experience.

We'd need to talk about hierarchical settings in VS so we can actually display what settings you have configured in a meaningful way.

Now that we are integrated in MsBuild, and you can configure

[2018-04-20 04:37] maartenba commented on #6378
Hmmmz... So what would be the best way of including the NuGet signature in our feed? Ideally there would be a way to delegate signature info, we'd rather not have to update the list of certificates on our side with those on NuGet.org side.

[2018-04-20 05:27] jainaashish commented on #6746
before everything else, who's asking for this?

[2018-04-20 06:05] jamesqo opened #6851 "[Catalog API] Catalog leaf doesn't contain required fields"
I just encountered a catalog leaf like this:

[code]

According to [the docs](https://docs.microsoft.com/en-us/nuget/api/catalog-resource) the `created` and `isPrerelease` fields are non-optional, but they're not present here. This is also the first leaf (after scanning thru ~1162 catalog pages) that fails to contain: `authors` and `description`.

[2018-04-20 07:20] dschuermans commented on #6849
@nkolev92 - That assumption is correct. Although it could be rephrased as "I'm looking for a way to download a nupkg and use something that is contained within that nupkg." Doesn't have to be an executable 😉

[2018-04-20 07:32] markusschaber commented on #5553
We need local-only builds anyways - OSS licenses is only one reasons, some other are:

- We need to be able to re-build older branches, so we can apply bug fixes to those branches with minimal side effects.
- For audits and certifications, builds must be reproducible, and we need to be able to proof that a deliverable resulted from a specific source.
- For our major products, everything (sources,

[2018-04-20 08:32] adrianm64 opened #6852 "NetStandard library with package.config errors on multiple files in same folder"
**Details about Problem**
I need to use a nuget package with editable content in a netstandard library.
(in this case T4 templates but that is not the issue)

I added the line
    `<RestoreProjectStyle>Packages.config</RestoreProjectStyle>`
to the csprojfile.

Adding the package works fine as long as there is only one file in each folder. With more than one file I get an error  "folder already exi

[2018-04-20 08:37] kevinkuszyk commented on #5762
@anangaur

I read it that I have a version constraint, or I've pinned a package to a specific version.  In the example above for NUnit:

[code]

- I have ` 2.4.0` installed.
- It will upgarde to `2.6.4` (in my `packages.config` I have it constrained with `allowedVersions="(,3)"`).
- `3.8.1` is the latest on nuget.org, but I won't be getting that.

As @nkolev92 notes, it's inspired by npm.

[2018-04-20 08:38] BilgehanYildiz opened #6853 "Nuget Duplicates Import References of csproj in visual studio"
Hi when I use IVSInstaller.Install it duplicates the solution nuget references
I have a special nuget package it is not project reference ,it is import reference in csproj but when i try to update it in packages config it updates but when I check my csproj it duplicates the import references in visual studio.Is it bug?As you see normaly it updates 1.0.4 to 1.0.6.10 but there are multiple reference

[2018-04-20 08:47] kevinkuszyk commented on #5762
@anangaur @nkolev92, fyi, from the [npm docs](https://docs.npmjs.com/cli/outdated):

For nuget, I see location as the project.   If you run `nuget outdated`  from a solution root, it would be useful to see which project each package is used in.

HTH.

[2018-04-20 08:55] tmds commented on #6848
Yes. For example, if I am using 'Microsoft.AspNetCore.All' version '2.0.6', there is no way for me to figure out '2.0.7' is available. I may not be depending on that package directly.

As mentioned in #5553 already, not every patch update is security update. There is no way for NuGet to know if an update is a security update or not.

The maintainer knows this, but there is no way to convey this in

[2018-04-20 09:26] v-luzh opened #6854 "PM UI will be closed automatically when clicking the “Migrate packages.config to PackageReference…”"
## Details about Problem
NuGet Version: Release-4.7.0-RTM 5122
VS Version: D15.7 27619.00
OS Version: RS4_Release 17134.1.180410-1804
## Detailed repro steps so we can see the same problem
1.	Create a C# Class Library (.NET Framework) template via VS.
2.	Open PM UI of the project by right-clicking the project->Manage NuGet Packages… in Solution Explorer.
3.	Install a package with “Packages.config”

[2018-04-20 09:37] ncarandini commented on #6746
I was asking for it for two good reasons:
1. Documentation says project level NuGet.Config is allowed and used by VS (so this is not a feature, is a bug, of VS or docs, as you like);
2. This is really bad because if you use Visual Studio Code you may not have the solution folder at all!

BTW, this caused an "unable to build" state with the Blazor project (at his early stage, when bits were only av

[2018-04-20 11:45] ZainulPaleri commented on #962
please choose suitable version for targeted frame work then it will work

[2018-04-20 11:48] eriawan commented on #6736
@nkolev92

This is not related to #4633, it is about inconsistencies in resulting project template when VS 2017 is using PackageReference by default for .NET Framework unit test project.

[2018-04-20 12:24] ghost commented on #3509
Are there any updates on this issue? I'm still needing to have Controls automatically added to the Visual Studio Toolbox.

[2018-04-20 12:26] ghost commented on #6440
Are there any updates on this? I've built several controls for Windows Forms and I need to have them automatically added to the Visual Studio Toolbox.

[2018-04-20 14:31] debonte commented on #3509
@jasonpezzimenti Not sure what you're referring to. WinForms support?

[2018-04-20 15:12] ErikvdBurgwal commented on #6834
Sorry for the repeating request, but do you have any suggestion what I can do?
I tried;
- uninstall / reinstall / repair visual studio 2017 (Enterprise, Community)
- uninstall all older versions of visual studio (along with related applications), reïnstalled visual studio 2017
- install visual studio 2017 Preview

but all with no result.

This way, I am unable to continue my software developments.

[2018-04-20 15:20] GingerMoon opened #8880 ""Package Restore" doesn't take effect in vs2017 NuGet Package Manager configuration"
Reproduce steps:
According to https://docs.microsoft.com/en-us/nuget/consume-packages/package-restore-troubleshooting
Select the Tools > NuGet Package Manager > Package Manager Settings menu command.
Set both options under Package Restore.
Select OK.
Close the VS2017 and open it again, the two options are still unset.
However, the file NuGet.Config was changed to:
<?xml version="1.0" encoding="utf