[2019-05-21 14:51] xen2 commented on #8120
@rrelyea With 4.x and 5.x.
We are calling NuGet directly through API (cf first post, link to source).
I suspect a `nuget install Xenko.GameStudio -Version 3.1.0.1-beta02-0550` might result in the same error but I don't have the issue with my ISP/connection so can't confirm.

[2019-05-21 16:15] karann-msft commented on #5299
PSA: And this is how it finally looks:

![image](https://user-images.githubusercontent.com/16904420/58112739-f2382a00-7ba8-11e9-987d-4f9d385a0830.png)

[2019-05-21 18:26] MauriRojas commented on #6330
Are there any updates on this?

[2019-05-21 19:59] karann-msft opened #8148 "`nuget push *.nupkg` fails when snupkg does not exist"
I am trying to push a bunch of nupkg which do not have snupkg, using nuget.exe 5.1.0,

[code]

Expected: no warnings or errors related to snupkg should show up if no snupkgs are found in the path.

Update: @donnie-msft added more info and tasks in this [comment](https://github.com/NuGet/Home/issues/8148#issuecomment-550061300)

[2019-05-21 21:08] nkolev92 commented on #6623
//cc @rrelyea
The existence of this is not allowing us to fixed certain delays in the PM UI construction ~50ms to 100ms depending on the load.
Basically the below method is foced to be synchrnous https://github.com/NuGet/NuGet.Client/blob/5c2db09662f99d96a47182b761fcea6df1625a5a/src/NuGet.Clients/NuGet.Tools/NuGetUIFactory.cs#L75 since some methods in the implementers rely on being called on the U

[2019-05-21 21:42] StingyJack commented on #8141
_EDIT: **TL;DR** -  Please should be avoided because its not necessary in the context of reporting an error or providing the user with a set of options to choose from.  A program is not a person (yet, see "corporations"), and does not have to display any humanizing features like politeness (or verbal abuse). "Please" has nothing to do with "optional", so that style guide is picking the wrong reaso

[2019-05-21 22:05] rrelyea commented on #8147
Please see explanation in: #7850
Are you sure that you changed the password? Or was it that it was a different user?

[2019-05-21 23:34] rrelyea commented on #8148
@donnie-msft  - can you confirm if this is a new break in 5.1, please?

[2019-05-21 23:54] rrelyea commented on #8147
by the way, do you see the same error if you use NuGet.exe 5.0 or 5.1
Working to repro here, but want to dig in the right direction.

[2019-05-22 03:19] caseif commented on #8128
This was specific to the project configuration and not a NuGet issue.

[2019-05-22 03:19] #8128 closed, assigned to nobody

[2019-05-22 07:18] apobekiaris opened #8149 "Indirect references not copied when PackageReference Format"
I create a class lib project using the sdk format in which I installed a package with dependencies and I only access the classes of the top package.

I then create a console app and reference the class lib, however in the output folder I see the class lib and the the package assembly. The dependency package is missing causing an exception.

This setup works fine in the old csproj format.

[2019-05-22 08:32] rrelyea commented on #8149
VS version?
Net core sdk version?
Small repro solution?
Was your old csproj example using packages.config or packagereference?

[2019-05-22 09:19] apobekiaris commented on #8149
[ClassLibrary3.zip](https://github.com/NuGet/Home/files/3206587/ClassLibrary3.zip)
Old project yes with packages.config and if you try to migrate the old to packagereferences again it does not copy so I thought maybe it was the sdk format required.

VS 2017 Enterprise 15.9.11, I am not sure how it gets the sdk as I am new to this, trying to migrate my old projects to the new format to support dotn

[2019-05-22 09:21] apobekiaris commented on #8149
u see in the sample that  i use the Xpand.XAF.Modules.AutoCommit package which have a dependency to Xpand.XAF.Modules.Reactive which dependency does not go to the Console app output. However it goes to the class lib

[2019-05-22 10:21] rrelyea commented on #8149
I am not able to run your sample.
Had to downgrade package version to 0.0.26 because 0.0.27 had a dependency that wasn't on nuget.org.
Then ran into build errors:
[code]

Regardless, I think I understand the problem you are running into.
When you have a project that is PackageReference based, like your classlib project, other projects that reference it (like your console app) should:
1) be Package

[2019-05-22 10:39] apobekiaris commented on #8149
thanks a lot for the fast answer Rob, you suggestions resolved my problem.

[2019-05-22 10:39] #8149 closed, assigned to nobody

[2019-05-22 11:01] mrward commented on #7948
The problem in VS Mac looks to be a bug in VS Mac. VS Mac is passing the package source url to the PackageSourceCredential.FromUserInput. It should be passing in the package source name. With NuGet 4.8 the PackageSourceCredential.Source was not used when saving the NuGet.Config file. With NuGet 4.9 and later it is used.

Looking at the [NuGet 4.9 source code](https://github.com/NuGet/NuGet.Client/

[2019-05-22 11:59] Happypig375 commented on #7743
Bump. Please fix this.

[2019-05-22 12:11] blackholegalaxy opened #8150 "Mono nuGet init hangs several minutes after having successfully installed packages"
## Details about Problem

NuGet product used: **nuget.exe** with **mono**

NuGet version: **NuGet Version: 5.0.2.5988**

OS version (i.e. win10 v1607 (14393.321)): **alpine linux 3.9** (also tested on strech and ubuntu xenial)

Dockerfile in which command in ran:

[code]

Useful information: **It runs on a CI/CD pipeline under gitlab-ci with no possible user input**

## Detailed repro steps so we

[2019-05-22 12:24] rrelyea commented on #8150
What changed in your environment?
Just nuget.exe version?
Or mono version?
or other?
Do you see the same problem with NuGet.exe 4.9.4?

[2019-05-22 14:30] blackholegalaxy commented on #8150
nothing changed it's a new setup

[2019-05-22 15:05] gh5692 commented on #3042
I had the same issue with Visual Studio Professional 16.1.0 (except the error I got referenced NuGet.PackageManagement.VisualStudio.IScriptExecutor). I got the error when creating a new ASP.NET MVC 4.7.2 project and accepting the defaults. It created some of the files for the project, but the project was unusable. Deleting the ComponentModelCache folder from \AppData\Local\Microsoft\VisualStudio\1

[2019-05-22 15:54] zjrunner opened #8151 "Introduce `NUGET_NETFX_PLUGIN_PATHS` and `NUGET_NETCORE_PLUGIN_PATHS` to support configuration of both at same time"
NUGET_PLUGIN_PATHS can't be configured statically, to work for both nuget.exe and dotnet.  If you add paths for the .exe and .dll credential providers to handle both cases, nuget fails trying to execute a dll and dotnet fails trying to execute the full framework .exe.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
**nuget.exe, dotnet.exe**

[2019-05-22 16:07] rrelyea commented on #8151
Nikolche-Proposed fix for this?

[2019-05-22 16:19] nkolev92 commented on #8151
Currently this is broken by design.

Here's an idea.

- Read env variable and process values. Consider *.exe if netfx, consider .NET Core if dll. Use for both if there's no extension.
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/Plugins/PluginDiscoverer.cs

The convention based discovery already establish that .exe and .dll are required in the name for netfx and net

[2019-05-22 16:54] zjrunner commented on #8151
That sounds like the fix I had assigned to the issue earlier, so we're in alignment.  There is a test that uses ";" to force skipping the fallback, and I originally had an empty filtered list fallback to the core discovery but founds several cases where it would make it harder to detect typo configuration.  I decided to keep it as close to the current behavior w.r.t. full-override behavior, but do

[2019-05-22 17:32] rrelyea commented on #2038
Closing this issue, as we aren't planning on doing this at this point.

[2019-05-22 17:32] #2038 closed, assigned to nobody

[2019-05-22 22:52] karann-msft commented on #7483
@ImGonaRot - implementation aside, are you looking for a way to persist "all" sources even after VS is restarted?

[2019-05-22 23:13] ImGonaRot commented on #7483
@karann-msft My company has its own internal NuGet server but we also still use the external "nuget.org". When our developers go to update an "internal" package, they have to remember to change the "nuget.org" to "All" in the dropdown else we don't know there are any "internal" updates because the "Updates" tab will have "0" until we point to our internal NuGet server.  So yes, we do want it to al

[2019-05-22 23:38] karann-msft commented on #7483
@ImGonaRot - what does this master "nuget.config" contain that helps you achieve this behavior today?

[2019-05-23 00:33] ImGonaRot commented on #7483
@karann-msft I guess there is some confusion / misunderstanding.
"Currently" my nuget.config contains the following key  `<add key="All" value="(Aggregate source)" />` under "activePackageSource" **BUT** based on the link [(2.x only; deprecated in 3.x+)](https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#activepackagesource) it is either

1. Going to be deprecated in the near futur

[2019-05-23 01:14] zivkan commented on #8150
this could be related to package signature cert revocation checking. see this comment: https://github.com/NuGet/Home/issues/8127#issuecomment-492567914

[2019-05-23 01:19] lostmsu opened #8152 "Download a package with its dependencies into a folder"
## Details about Problem

Can't find a way to download a package with its dependencies into a specified folder for offline use.

NuGet product used: dotnet.exe

NuGet version: 5.1.0.0

dotnet.exe --version (if appropriate): 3.0.100-preview5-011568

Worked before? If so, with which NuGet version: 3.5.0.1996
`nuget.exe install <PACKAGENAME> -OutputDirectory <OUTPUTDIR>`

## Detailed repro steps so w

[2019-05-23 01:39] blackholegalaxy commented on #8150
I just tested, as stated in comment to set an environment variable `NUGET_CERT_REVOCATION_MODE ` to `offline`. It doesn't change anything in our case. Our CI has access to internet so it would have been surprising. I don't have any timeout message.

I just noticed the fact we init one or multiple packages doesn't change the hang time.

 Nuget is only used here to source `nupkg` files built locally

[2019-05-23 05:33] cremor commented on #7483
@ImGonaRot See my last comment here. The last time I tested it, that key didn't have an effect on VS2017 any more.

[2019-05-23 08:04] christophedemey commented on #6665
Also this issue for me.

[2019-05-23 11:36] triumlabs commented on #7699
Also getting the same issue on Teamcity after upgraded to NuGet 5.1.0:
[code]
As a resolution, NuGet was reverted back to version 4.9.1 where nuget restore works fine again.

[2019-05-23 12:14] ImGonaRot commented on #7483
@cremor It works great on my VS 2017 and the other developers in my shop. Before we added this key it was not keeping the "All" each time we closed and re-opened VS 2017. Unless some new update has changed this? I will remove it from the nuget.config file and test again after a reboot.

[2019-05-23 12:39] ImGonaRot commented on #7483
@cremor I just checked and VS 2017 still is not defaulting to "All" yet the "activePackageSource" is still working in VS 2017.
Here are the steps I followed:

1. Closed all VS 2017 instances
2. Delete the nuget.config stored in "Program Files (x86)\Nuget\Config\" that contained the "activePackageSource" key.
3. Opened VS 2017 and created a new Windows Form project in C# 4.5.2
4. Opened the NuGet m

[2019-05-23 12:46] cremor commented on #7483
@ImGonaRot I tested it with version 15.9.7 back in February.

But I didn't test it with the global NuGet.config in the programs folder. I tested a NuGet.config that is placed in the repository (in the same folder as the solution file) so that it is automatically shared with colleagues.

[2019-05-23 12:51] ImGonaRot commented on #7483
@cremor We place it in a nuget.config file on the developer computers through group policies this way we don't have to "remember" to add it to each solution. This is handy since new developers might "forget" to add it. Anyway the point is that we use `<add key="All" value="(Aggregate source)" />` and would really like for it to **NOT** be deprecated.

[2019-05-23 13:20] apobekiaris opened #8153 "solution based cache for packagereference"
I have targets on my packages that modify my assemblies before build in relation to project references. This worked well with the packages.config as the the default cache  is project based. However with packagereferences my consumer may patch the same assemblies from difference solutions as the cache now is global.

Is there a workaround to this problem?

[2019-05-23 13:23] apobekiaris commented on #8153
what it would be perfect may be an attribute that my consumer can set and use a local cache instead

[2019-05-23 14:48] nkolev92 commented on #8153
What you call "cache' is really an installation directory for the packages. For the most part it's meant to be user-wide.

However, you can redirect as it as you see fit https://docs.microsoft.com/en-us/nuget/consume-packages/managing-the-global-packages-and-cache-folders.
You can add them to the ignore list of your scm and passing have the global packages folder be in the repo root.
The way to en

[2019-05-23 15:54] blackholegalaxy commented on #8150
@rrelyea on some jobs it took about 10 min after latest `Successfully added package` for our job to continue. Running again the same job sometimes stop hanging after 30 sec (no cache on our runners).

The number of added packages with `nuget.exe init` doesn't seem to impact neither in a positive nor a negative way. Hang time is random, but we encountered no less than 30 sec.

Please note the nupkg

[2019-05-23 17:52] livarcocc opened #8154 "dotnet-list-package in a UnitTest project returns an error"
_From @wmorian on Thursday, 23 May 2019 10:37:20_

## Steps to reproduce
create a new xunit project:
  `dotnet new xunit`

The referenced packages are:
[code]

restore project:
`dotnet restore`

list all packages
`dotnet list package`

## Expected  behavior
[code]

## Actual behavior
[code]

## Note
If I comment out Microsoft.NET.Test.Sdk, then I got no error!

## Environment data
`dotnet --info`

[2019-05-23 19:19] binki commented on #7288
Even when I use this hack, I don’t think that _LoadRestoreGraphEntryPoints is doing the right thing. Its treating everything as entry points, including the project being built. So my Runner project’s `project.assets.json` includes an entry for my Interfaces project but doesn’t include an entry for Injectable. I need a way to build the dependency graph in MSBuild and pass it to NuGet because it isn

[2019-05-23 21:32] donnie-msft commented on #8148
Confirmed as not a new break, but the Warnings about snupkgs do not make sense and should be fixed.

The Warning regarding symbols is due to a recognition that the Source can accept symbols, and it then incorrectly assumes there are snupkgs being pushed when there aren't (like in this case).
The API key was specified in a nuget.config,

SkipDuplicate is not coming into play, as it is only allowing

[2019-05-23 21:57] heng-liu opened #8155 "Reenable FrameworkReference pack tests"
The two tests for packing projects with FrameworkReferences (PackCommand_PackProject_PacksFrameworkReferences &
 PackCommand_PackProject_PacksFrameworkReferences_FrameworkReferencesAreCaseInsensitive) are disabled for now.  They need to be enabled in branch  dev-feature-xplatVerification when targeting to netstandar2.1.

1.Remove skip notation for testing PackCommand_PackProject_PacksFrameworkRefe

[2019-05-23 21:57] binki commented on #7288
I have [updated](https://github.com/binki/NuGetRestoreDynamicProjectReference/commit/9ec436fcd166664e0d9a12eaab0b282c2b847c67) my [demo project](https://github.com/binki/NuGetRestoreDynamicProjectReference) to use the `CollectPackageReferences` option so that NuGet would see the transitive dependencies from Injectable in the Runner project. That is enough to make `project.assets.json` look right.

[2019-05-23 22:26] nkolev92 opened #8156 "Make the Settings reading in VS lazy"
There are certain actions such as solution open/close that require a settings refresh.
We should not refresh the config when the solution event is fired because it will be on the UI thread.

[2019-05-24 00:08] binki commented on #7041
I have this situation all the time in my build configuration. I have to work around it by adding a dummy reference to some random small NuGet package in my executable project so that it is capable of consuming transitive dependencies from the projects it `<ProjectReference/>`s.

[2019-05-24 00:15] binki commented on #7041
Oh, cool, missed this earlier! I had only added `<RestoreProjectStyle>PackageReference</RestoreProjectStyle>` to my `Directory.Build.props` file. Adding the other line fixes everything!

[2019-05-24 01:10] Daniel-Khodabakhsh opened #8157 "NuGet restoration of MsBuild SDKs is extremely buggy"
I'm creating a custom MsBuild SDK and when I use it in my project, Visual Studio (2017 & 2019) has the following issues happening intermittently until everything eventually works:
- VS hangs.
- The project using the custom SDK will be unloaded. Reloading it will cause a hang.
- A strange window also appears running `CredentialProvider.Microsoft.exe`:
![msbuild-sdk-vs-issue](https://user-images.git

[2019-05-24 03:36] 0x0309 opened #8158 "PMC tab completion is incorrect when there is no space after & or ."
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
Package Manager Console

VS version (if appropriate):
15.9.12

OS version (i.e. win10 v1607 (14393.321)):
17763.504

Worked before? If so, with which NuGet version:
Never worked before

## Detailed repro steps so we can see the same problem

Using ``&``
1. Type ``&$pro``
2. Press ``Tab`` and au

[2019-05-24 11:33] rrelyea commented on #8157
Sorry for the problems.

https://github.com/microsoft/msbuild/issues/4025 covers these problems with the current design and implementation. Will close this issue in favor of that one.

Although this code is in the nuget repo, it belongs to the msbuild team. We included it as part of our build to make it always totally in sync with nuget when inserted into VS.

[2019-05-24 11:33] #8157 closed, assigned to nobody

[2019-05-24 17:17] bergbria opened #8159 "Nuget should have an option to normalize version numbers when determining installation directories"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Nuget.exe

NuGet version (x.x.x.xxx): 4.9.4

Worked before? If so, with which NuGet version: No

This is related to #2039

## Detailed description

As of today, running 'nuget install pkgFoo -version X' will create an installation directory based on the version number embedded in pkgFoo's nuspe

[2019-05-24 20:30] HenrikRClausen commented on #7216
Old thread, resurfaced problem: I am getting this with a fresh, skeleton project in VS2017. Just a few classes, nothing functional in that project yet. Any ideas?

[2019-05-24 20:46] #8039 closed, assigned to nkolev92

[2019-05-25 01:00] bergbria opened #8160 "'--locked-mode' restore flag not respected if lock file is empty or malformed"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

dotnet.exe --version (if appropriate): 2.2.105

## Automated repro
You can download [lockedModeNotRespectedRepro.zip](https://github.com/NuGet/Home/files/3218983/lockedModeNotRespectedRepro.zip) and run repro.bat for an automated repro.

## Detailed manual repro steps

1. Create an

[2019-05-25 08:39] jmecosta opened #8161 "nuget does not support passing properties during restore"
Hi,

we need this in our projects
[code]

the reason is that i want to start using .netstandard and cant ask everyone to install tooling in their machines. so for now im only doing this in build farm and have regression builds there only. Later once everything is sorted out net472 is removed and netstandard will be the only one used.

Problem is that during restore i cant pass msbuild properties t

[2019-05-25 11:48] baskan commented on #8017
closing and re-opening works but this made me lose hours figuring out who removes my nuget packages 🤦‍♂️

btw this issue still occurs in 16.0.4

[2019-05-26 02:11] StingyJack commented on #8159
I think I agree from the perspective that Nuget (or any other packaging tooling) should not be changing any version number given to it, unless its been given a specific command or instruction to do so. Keeping the version number given would make the entire nuget system predictable as far as filesystem pathing and dependency referencing are concerned.

Currently the nuget team has only offered to a

[2019-05-26 12:34] rrelyea commented on #8161
What technique are you using to run restore that you need to solve passing properties for? (Nuget cli, dotnet cli, msbuild.exe, etc)

[2019-05-27 08:20] Skoucail commented on #4234
I just ran into this issue and in my opinion its a problem in GitVersion.
I just posted a comment on GitVersion's github too [Bug: Branch contains / is not replaced by - in build metadata](https://github.com/GitTools/GitVersion/issues/1520)

As i posted: GitVersion is not following the Semantic Versioning 2.0.0 specs. '/' or ':' aren't allowed metadata characters. They should replace these charact

[2019-05-27 08:41] v-luzh commented on #8065
It also repro in License Acceptance Window, please fix them together, thanks.

[2019-05-27 08:44] jmecosta commented on #8161
I run Nuget.exe

On Sun, 26 May 2019, 15:34 Rob Relyea, <notifications@github.com> wrote:

[2019-05-27 10:32] v-luzh opened #8162 "[Test Failure] Suggest removing the second duplicated string “License Acceptance” in “License Acceptance” dialog"
## Details about Problem
NuGet version: NuGet Client Dev\5.2.0.6028
VS Version: D16.2stg\28925.13
OS: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps so we can see the same problem
1. Launch VS and create an ASP.NET Web Application (.NET Framework).
2. Open PM UI of this project.
3. Select “Updates” tab and then the package “Microsoft.CodeDom.Providers.DotNetCompilerPlatform”.
4

[2019-05-27 10:36] v-luzh opened #8163 "There is an error occurred on the second project’s PM UI when closing the first project’s csproj file after migrating the installed package into PR format"
## Details about Problem
NuGet version: NuGet Client Dev\5.2.0.6028
VS Version: D16.2stg\28925.13
OS: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps so we can see the same problem
1. Launch VS and create a solution with two C# Console App (.NET Framework) projects.
2. Open PM UI of each project and install a package with “packages.config” format into the first project.
3. Right

[2019-05-27 14:58] dtivel opened #8164 "Test: functional tests failing"
~65 functional tests fail on Windows because NuGet.CommandLine.XPlat.dll cannot be found.  Example:
[code]

[2019-05-27 19:23] carnil commented on #7908
@rrelyea, @nkolev92: Is there any information in which version the issue reffered to by CVE-2019-0976 was introduced?

[2019-05-28 00:29] karann-msft opened #8165 "~ delete me ~"
~delete me~

[2019-05-28 01:05] dtivel opened #8166 "VS: solution user options fail to deserialize after NuGet update"
**Repro steps:**
1.  Install Visual Studio 2019.  (This should also work with older versions (2017, 2015, …).)
2.  Launch Visual Studio.
3.  Create a C# class library project (.NET Framework).
4.  In the Solution Explorer tool window, right-click on the project and select "Manage NuGet Packages..."
5.  Exit Visual Studio.
6.  Install a newer NuGet VSIX.
(Optional)  Open a developer command prompt

[2019-05-28 06:57] CodeTroopers opened #8167 "Error : “Unable to copy file” with content file in nuget package"
## Details about Problem
I'm bulding a legacy web application (.Net Framework  4.7.1) with msbuild of "Visual Studio Build Tools 2017" version 15.9.12. This web application reference a NuGet package (PackageReference is used) which include an image as content file.
[code]
Here the part of Nuspec file generated in the package (with NuGet.Build.Tasks.Pack 5.0.2)
[code]
Strangely the image appears tw

[2019-05-28 07:31] PierreDelestre commented on #2978
It worked for me, thank you very much

[2019-05-28 10:08] ermshiperete commented on #7956
I hope this gets fixed soon. It's very annoying. The confusing version numbers where .NET SDK and .NET Core version numbers don't match doesn't help either... (https://developercommunity.visualstudio.com/content/problem/213229/the-current-net-sdk-does-not-support-targeting-net.html)

What eventually worked for me:

[code]

Since I also sometimes use Synaptic to update, I had to "Lock Version" ther

[2019-05-28 14:26] dtivel commented on #8166
For example, here is a snapshot of the types required to successfully deserialize NuGet solution user options on a particular NuGet build.

*  `NuGetVSExtension.NuGetSettings, NuGet.Tools, Version=5.2.0.524, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a`
*  `System.Collections.Generic.Dictionary``2[[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089],[NuG

[2019-05-28 17:34] #8165 closed, assigned to nobody

[2019-05-28 22:08] nkolev92 commented on #7804
Yeah, duplicate of https://github.com/NuGet/Home/issues/6872.

Thanks @debonte

[2019-05-28 22:08] #7804 closed, assigned to nobody

[2019-05-28 22:54] emmellee commented on #5773
@nkolev92 , could you explain what "This ask is orthogonal of our plugins feature" means?

[2019-05-28 22:59] nkolev92 commented on #5773
@emmellee

The plugins feature was independent of this one.

They are both in the same feature space (authentication), but the plugins were solving a different problem.

[2019-05-28 23:03] emmellee commented on #5773
@nkolev92
Thank you.  Is there any idea when we might see nuget support of client certificates?

[2019-05-28 23:05] nkolev92 commented on #5773
There're no immediate plans(5.2) as far as I am aware (5.2 which aligns to 16.2 of Visual Studio).
I can't make any claims beyond that.

[2019-05-29 00:09] davidcorbin commented on #6328
I had this issue and fixed it by setting `$USER` before running `dotnet new <proj type>`. Also make sure your user has permission for files in the the `~/.nuget/` directory.

[2019-05-29 01:25] nkolev92 commented on #8142
In NuGet.exe pack they are supported by passing the Properties option.

`nuget.exe pack mixeddlls.nuspec  -Properties NoWarn=NU5100`
I have created a docs issue to call it out clearly: https://github.com/NuGet/docs.microsoft.com-nuget/issues/1457

 It's challenging to customize warnings because we have plenty of warnings and expressing that would be an open ended exercise where NuGet would need to

[2019-05-29 01:29] nkolev92 commented on #8143
I wouldn't say it's a relapse, because that aspect of https://github.com/NuGet/Home/issues/7414 was never fixed.

The packages are still treated as tampered if you are using the falllback folder as a source in netcoreapp1.x targeting scenarios.

The one thing that's fixed in the latest builds is using the fallback folder as fallback only. (2.x and later targeting projects).

@rrelyea Am I interpre

[2019-05-29 01:30] #7044 closed, assigned to nobody

[2019-05-29 01:32] nkolev92 commented on #7654
Did this happen ever again?
Anyfurther info to help NuGet & MSBuild investigate?

[2019-05-29 01:37] nkolev92 commented on #5782
Just a regular issue cleanup.
I am closing this issue at this point.
Feel free to open a new one/bug us to re-open if you still have this problem.

[2019-05-29 01:37] #5782 closed, assigned to nobody

[2019-05-29 01:44] nkolev92 commented on #6470
Fixed by https://github.com/NuGet/NuGet.Client/pull/2858

[2019-05-29 01:44] #6470 closed, assigned to nobody

[2019-05-29 01:48] nkolev92 commented on #7890
I think we can go either way.
Regardless "Not found at sources" is probably not deliberate.

[2019-05-29 01:49] metathinker opened #8168 "Quote " characters in PATH cause "Illegal characters in path" failure in `nuget restore`"
## Details about Problem

**NuGet product used:** nuget.exe installed from Chocolatey

**NuGet version:** `NuGet Version: 5.0.2.5988`

**OS version:** Windows 10 ver. 1903 [Version 10.0.18362.116]

**Visual Studio version:** 2019 Enterprise ver. 16.1.1

**Worked before? If so, with which NuGet version:** Yes, with nuget.exe 4.1.0.2450
- More precisely, I believe this regression was caused by the f

[2019-05-29 01:53] nkolev92 commented on #7734
@inabeel
Use the PackageSpec model.

https://github.com/NuGet/NuGet.Client/blob/ec48ee474965d3d5f41ed7e5b4199af79868351a/src/NuGet.Core/NuGet.ProjectModel/LockFile/LockFile.cs#L29

https://github.com/NuGet/NuGet.Client/blob/ec48ee474965d3d5f41ed7e5b4199af79868351a/src/NuGet.Core/NuGet.ProjectModel/PackageSpec.cs#L92

https://github.com/NuGet/NuGet.Client/blob/ec48ee474965d3d5f41ed7e5b4199af7986835

[2019-05-29 01:53] #7734 closed, assigned to nobody

[2019-05-29 14:15] ghost commented on #7654
This stopped happening. Feel free to close.

[2019-05-29 16:32] dtivel commented on #7842
[NuGet 5.1 has been released.](https://docs.microsoft.com/en-us/nuget/release-notes/nuget-5.1-rtm)

If you can still repro this issue, it would be good to update to this version and enable verbose logging.  Hopefully, we'll get a useful callstack.

For `dotnet restore` add `--verbosity detailed`.  For `NuGet.exe restore` add `-Verbosity detailed`.

[2019-05-29 17:13] livarcocc opened #8169 "dotnet core 3.0 (master nightly build) restore fails on Ubuntu for invalid certificate"
_From @ccic on Wednesday, May 29, 2019 2:00:48 AM_

## Steps to reproduce
Install dotnet core nightly build 3.0.100-preview6-012026 on Ubuntu 16.04.4 LTS.
"OpenSSL 1.0.2g  1 Mar 2016" or "OpenSSL 1.1.1  11 Sep 2018"

Create a new webapp project through dotnet cli:

dotnet new webapp -n WebApp1 -o WebApp1

The template "ASP.NET Core Web App" was created successfully.
This template contains technolo

[2019-05-29 17:53] heng-liu opened #8170 "Test Collection Cleanup Failure: System.UnauthorizedAccessException : Access to the path 'hostfxr.dll' is denied."
Encounter failed tests in functional_tests_on_windows. The temporary folder created under .test folder could not be cleaned up as "Access to the path 'hostfxr.dll' is denied".

There're about 313 tests failed for the same reason. The build link is https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2716073

The error in the log is as following:
 Failed   Dotnet.Integration.Test.DotnetLis

[2019-05-29 18:29] dtivel opened #8171 "Telemetry: duplicate events by EventId"
There are duplicate events by EventId.  Not sure where the duplication is occurring yet.

[2019-05-29 18:31] nkolev92 commented on #8152
Thanks of creating this issue.

This is a duplicate of https://github.com/NuGet/Home/issues/6750.

The problem with downloading a package and it's "dependencies" is that it is effectively restore.

[2019-05-29 18:31] #8152 closed, assigned to nobody

[2019-05-29 18:35] nkolev92 commented on #8154
Just to confirm that I can repro this as described in the steps with 3.0.100-preview4-011223.

[2019-05-29 18:42] nkolev92 commented on #8150
@blackholegalaxy

Can you try 4.8 as well?

There were some IO changes that we made in 4.9/5.0, I just want to confirm that those did not make the mono scenario worse.

That same fix, drastically improved the IO times on .NET Framework and .NET Core.

[2019-05-29 18:42] #8156 closed, assigned to nkolev92

[2019-05-29 19:01] nkolev92 commented on #8158
I can repro this, but as far as I can tell, NuGet does not do anything special here. We don't set any autocomplete rules for non Nuget commands.

Not 100% confident so it needs investigated.

[2019-05-29 19:08] nkolev92 commented on #8159
NuGet will use the trimmed version of what's written in the nuspec. Namely "1.0.0   " becomes "1.0.0".
If there's an original string, NuGetVersion.ToString() will just print the original string.

So it should be predictable.
Do you any cases of something different happening here?
A repro would help us understand if the behavior you are seeing is to be expected.

@StingyJack
That's a different conc

[2019-05-29 19:19] nkolev92 commented on #8161
That's already supported with an environment variable.

https://docs.microsoft.com/en-us/nuget/tools/cli-ref-environment-variables

Can you try that?

[2019-05-29 19:45] #8164 closed, assigned to dtivel

[2019-05-29 19:53] nkolev92 commented on #8160
I can repro this.
The fix should be rather basic.

Attempted a quick fix, will finish it up if the tests pass.
dev-nkolev92-fix8160

[2019-05-29 21:01] nkolev92 commented on #8163
Somehow the project context is lost in the PM UI.
I can repro this.

[2019-05-29 22:28] nkolev92 commented on #8167
NuGet usually writes the assets file and the msbuild props/targets. Then it's the build tasks of the product in question that copies them.

In your case, whatever the legacy web application is.

Can you please provide the project.assets.json? (Note it will contain package paths, machine name etc).
That way we can determine whether there's a NuGet specific problem or whether we should direct this i

[2019-05-29 22:30] dominoFire commented on #7717
This also happens with an invalid `<TargetFramework>` in a .csproj file, for example:

1. Open VS
2. Create a new project, sdk style
3. Open the project file (.csproj) and edit:
    1. Remove `<TargetFramework />` tag/node
4. Save the project file (Ctrl + S)

https://devdiv.visualstudio.com/DevDiv/_workitems/edit/893946

In Visual Studio, you will see an error with the following log:

[code]

For

[2019-05-29 22:45] nkolev92 commented on #8168
@metathinker

Note that `"` in the path is not really recommended for the path variable. The guidance is to not escape the paths.
Assembly resolution does not respect paths wrapped in quotes eitherr afaik.

Personally I think it's ok not to fix, since this is not something all the tooling respects.

//cc @rrelyea

[2019-05-29 22:56] nkolev92 commented on #8169
Is this something consistently reproducible? Can you connect to nuget.org in the browser.

It's happening to NuGet, but it's not necessarily indicative of a client problem.

/cc @scottbommarito maybe he knows if there are any reports about nuget.org's certs.

[2019-05-29 23:14] rrelyea commented on #8168
While agreed, it is a bit weird to have quotes in a path, i think it is common for path intellisense in cmd to lead users to that. I'd lean towards fixing.

[2019-05-29 23:44] nkolev92 commented on #8160
I have a fix in code review for this.

[2019-05-30 00:06] #5157 closed, assigned to nobody

[2019-05-30 00:06] loic-sharma commented on #8169
Could this be related to https://github.com/dotnet/corefx/issues/32224?

[2019-05-30 03:09] AArnott commented on #8143
@nkolev92 I'm wondering what you're waiting on me for. You've tagged this as Closed (although it's not closed) and you've tagged as WaitingForCustomer (but I don't see any question you're waiting on me to answer).
I would very much like a resolution to this, or for it to be moved to the right repo if this is the wrong one.

[2019-05-30 04:41] ccic commented on #8169
@nkolev92 It consistently happens on Linux. But if I run the same command on windows 10, everything is fine. So, I guess it is related to certificate verification on Linux.

[2019-05-30 04:47] ccic commented on #8169
@loic-sharma It has similar phenomenon as dotnet/corefx#32224. The difference is I used openssl 1.1.1. I also tried on Ubuntu 18.04, it also reports the same errors.

[2019-05-30 06:12] domagojmedo commented on #6408
I get same issue in 16.2.0 Preview 1.0, when I run EF command in Package manager console it switches to output tab

[2019-05-30 06:31] glennawatson commented on #8111
This one is definitely causing potentially issues with the sign client/sign service, which almost all the dot net foundation services use at the moment. We are getting corruption in the zip files. Oren custom builds his NuGet packages from his PR https://github.com/NuGet/NuGet.Client/pull/2545 for the code signing web service.

[2019-05-30 13:38] Zhaph commented on #6659
I'm still looking for some clear guidance on how this should work - We've built a number of front-end pattern libraries that we include in our ASP.NET Web Projects (not core) via private NuGet packages. They consist of nothing except content files that aren't supposed to be edited by the consuming project (compiled/minified JS, CSS, fonts, images).

with the packages.config, it's very obvious that

[2019-05-30 13:57] rrelyea commented on #7440
@gspp does this still repro on 15.9 and 16.1?
Sorry for your troubles

[2019-05-30 16:27] CrossBound commented on #1827
Apparantly this is still an issue for VSTS nuget feed in Visual Studio 2019. I was just having the same issue with an internal package that I had updated. the fix suggested by @bvirkler in regard to clearing the nuget cache worked for me

[2019-05-30 17:13] StingyJack commented on #8159
a better example would be "1.1.2.0" becomes "1.1.2".  This isn't predictable.

[2019-05-30 17:16] nkolev92 commented on #8143
Sorry about that, it's a loosely used label. It's so that we know that issues need to be actively tracked.

Are you targeting 1.x in the scenarios where this fails?

We can move this back to the SDK side, but I'm not sure if there are any plans for resolution on that end.
@livarcocc Thoughts?

[2019-05-30 17:18] nkolev92 commented on #8169
@ccic Are these machines that you manage?

[2019-05-30 17:38] livarcocc commented on #8143
It is not clear to me what would be doable by the SDK at this point. If there are ideas, we can listen and evaluate if they would meet a servicing bar for 2.1/2.2.

Otherwise, in 3.0, we are no longer using the fallback folder, so it is addressed there.

[2019-05-30 17:50] nkolev92 commented on #8143
The only approach that fixes most scenarios is extremely costly and potentially error prone.

* Fix the bug that led to "tampered" packages in the first place. (no fallback folder in 3.0 means no bug like this).
* Newer versions of the SDK that use the fallback folder would do a replace on every package they carry.
* This still wouldn't address issues with packages that are not being carried by th

[2019-05-30 17:54] nkolev92 commented on #8143
Closing this at this point as an SDK external, where there is not plan to fix it.

[2019-05-30 17:54] #8143 closed, assigned to nobody

[2019-05-30 18:39] nkolev92 commented on #8159
I manually generated a package with a "1.2.3.0" version.

At install time it was normalized in both restore & nuget install cases.

[2019-05-30 19:03] AArnott commented on #8143
Yes. I'm multitargeting and netstandard1.6 is one of the targets.

Just so I'm clear on this: when I use the 3.0 SDK, I can (multi-)target **netstandard1.6** and not get the error/warning?

[2019-05-30 19:43] nkolev92 commented on #8154
The fix is in code review.

[2019-05-30 20:25] heng-liu opened #8172 "unclear error message for nuget sign command"
The right format of nuget sign command is as following:
NuGet sign <package_path> -Timestamper <timestamp_server_url> [-CertificatePath <certificate_path> | [ -CertificateStoreName <certificate_store_name> -CertificateStoreLocation <certificate_store_location> [-CertificateSubjectName <certificate_subject_name> | -CertificateFingerprint <certificate_fingerprint>]]] [options]

If one or more the pa

[2019-05-30 20:32] anangaur commented on #8172
Agree on the need to be more specific so that the solution is evident from the error message. Would be interested to see your proposal :)

[2019-05-30 20:48] rrelyea commented on #8172
Capturing where the issue came from is often helpful. This one came from: https://twitter.com/jayson_west/status/1133910143803056128

[2019-05-30 21:59] nkolev92 commented on #8124
Related tracking issue on project-system side: https://github.com/dotnet/project-system/issues/3164

@tbolon The clean target deleting the assets file is not really an option we can consider.
The project that created the assets.json is a different one from the one then loaded in VS. So that project wouldn't know. It'd be illegal for the clean target to delete something it did not create in the fir

[2019-05-30 23:31] AArnott commented on #8124
@nkolev92 I agree with everything you said, except the statement above. This doesn't make any sense to me. Which project created the project.assets.json file if it isn't the project to which that file applies?

[2019-05-31 00:02] nkolev92 commented on #8124
I'm suggesting that the project.assets.json applying to the now packages.config based project is the issue.

The packages.config project should not be cleaning up a project.assets.json file generated by the PackageReference project.

My analogy is the following.

* Create a basic project.
* Build
* Go into bin/obj and copy a.dll to b.dll.
* Run clean

The b.dll will still be there.

As far as the

[2019-05-31 01:57] clovertrail commented on #8169
@nkolev92 Yes, it was created by myself for development and test.

[2019-05-31 04:40] HuaPing2017 opened #8173 "Nuget安装：Microsoft.AspNetCore.Mvc"
错误	NU1107	Microsoft.AspNetCore.Antiforgery 中检测到版本冲突。直接安装/引用 Microsoft.AspNetCore.Antiforgery 2.2.0 到项目 WebNETApp 可解决此问题。
 WebNETApp -> Microsoft.AspNetCore.Mvc 2.2.0 -> Microsoft.AspNetCore.Mvc.ViewFeatures 2.2.0 -> Microsoft.AspNetCore.Antiforgery (>= 2.2.0)
 WebNETApp -> Microsoft.AspNetCore.App 2.1.1 -> Microsoft.AspNetCore.Antiforgery (>= 2.1.1 && < 2.2.0).

Remove the content above here and f

[2019-05-31 06:26] ccic commented on #8169
I found it was caused by my wrong configuration of SSL CA certificate path.

After I update openssl to 1.1.1, the CA path is modified to "/usr/local/ssl/certs", but it is an empty folder. Before updating openssl, the old version points to "/usr/lib/ssl/certs". After I manually link "/usr/local/ssl/certs" to /etc/ssl/certs. This error disappears.

[2019-05-31 10:47] jmecosta commented on #8161
@rrelyea  thanks, missed that from doc. Works as expected.

[2019-05-31 13:09] davkean commented on #7717
This has got worse in 16.1 because we're reporting these errors via faults, so you get a giant yellow bar instead of a nice error in the error list:

![image](https://user-images.githubusercontent.com/1103906/58707644-dcbcce80-83f8-11e9-8baf-f2b1a2479ea5.png)

One thing I noticed that with a large set of TFMs such as:

[code]

If one of them is wrong you get the above fault but the _error mesage_

[2019-05-31 15:18] StingyJack commented on #8159
@nkolev92 - what happens if the package was created before the version normalization change, or was created by a nuget.exe pre dating that?

[2019-05-31 17:51] nkolev92 commented on #8169
Thanks for following up.

Closing this per your comment.

[2019-05-31 17:51] #8169 closed, assigned to nobody

[2019-05-31 17:52] nkolev92 commented on #8161
Thanks for following up!

[2019-05-31 17:52] #8161 closed, assigned to nobody

[2019-05-31 17:54] nkolev92 opened #8174 "NuGetFramework parsing should report the string it was trying to parse."
Motivation from https://github.com/NuGet/Home/issues/7717#issuecomment-497702628

//cc @davkean

fyi @NuGet/nuget-client Likely a quick fix if anyone is interested.

[2019-05-31 17:54] nkolev92 commented on #7717
That's a good point.

I have created https://github.com/NuGet/Home/issues/8174 to fix the Framework Parsing message.  We will do that in 5.2/16.2

[2019-05-31 17:56] nkolev92 commented on #8159
The decision is made by the consuming tooling at install time.
So it'd remove the trailing 0s where appropriate.

[2019-05-31 18:09] nkolev92 commented on #8173
Thanks for filling this issue.

From what I can tell there is no bug in the client here.

Microsoft.AspNetCore.Mvc and Microsoft.AspNetCore.App should always match their versions.

You should not be manually chnaging the versions of these packages but rather upgrade the SDK that brings them.

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage-app?view=aspnetcore-2.2#update-aspne

[2019-05-31 18:09] #8173 closed, assigned to nobody

[2019-05-31 18:45] mse-dev commented on #912
Bump... following a conversation with leadership at //Build last month around this issue, chiming in that this is still very painful for our team and workarounds are hacky at best. The design notes in this thread from the past couple of years would adequately satisfy our requirements whether implemented using a dedicated flag or version pattern.

[2019-05-31 20:27] dtivel opened #8175 "Restore: installing a tampered signed package results in multiple failed install attempts (with repeated output)"
**Repro steps**
1.  Create a signed package.
2.  Tamper the signed package by adding/removing/modifying a file in the package, but leave .signature.p7s intact.
3.  Create a project with a ProjectReference to the signed package.
4.  Restore the project with a package source that contains the tampered package.

**Results**
Install for the tampered package is attempted multiple times (for different R

[2019-05-31 20:37] loic-sharma opened #8176 "Add telemetry to dotnet CLI's restore"
We should consider adding telemetry to dotnet CLI to track restore failures. This will help us discover and resolve bugs faster.

This was opened as a follow-up to the incident in which the service index's updated "repository signature" resource caused restore failures in dotnet CLI. See [this OneNote](https://microsoft.sharepoint.com/teams/NuGet/_layouts/OneNote.aspx?id=%2Fteams%2FNuGet%2FTeam%2F

[2019-05-31 20:37] loic-sharma opened #8177 "Add telemetry to nuget.exe's restore"
We should consider adding telemetry to nuget.exe to track restore failures. This will help us discover and resolve bugs faster.

This was opened as a follow-up to the incident in which the service index's updated "repository signature" resource caused restore failures in dotnet CLI. See [this OneNote](https://microsoft.sharepoint.com/teams/NuGet/_layouts/OneNote.aspx?id=%2Fteams%2FNuGet%2FTeam%2FN

[2019-05-31 20:39] dtivel opened #8178 "Installed package count includes packages which failed to install"
See https://github.com/NuGet/Home/issues/8175.

The output reports 1 package installed, which is incorrect.

[2019-05-31 20:41] loic-sharma opened #8179 "Distinguish Mono in client user agent"
We cannot know from server telemetry today whether nuget.exe is running under Mono. The client could modify it's user agent for HTTP requests when on the Mono platform.

This was opened as a follow-up to the incident in which the service index's updated "repository signature" resource caused restore failures in dotnet CLI. See [this OneNote](https://microsoft.sharepoint.com/teams/NuGet/_layouts/On

[2019-05-31 20:44] loic-sharma opened #8180 "Add daily "outerloop" integration tests"
Consider adding tests that uploads and then restores a package using nuget.org. These tests should run once a day on a reasonable amount of platforms (like Windows/macOS/Linux). The test should cover nuget clients with long term support as well as the latest build.

This was opened as a follow-up to the incident in which the service index's updated "repository signature" resource caused restore fa

[2019-05-31 20:49] dtivel commented on #8175
The regression coincides with moving to the VS 2019 build agent pool after May 24th.

[2019-05-31 21:29] nkolev92 commented on #7908
@carnil
It was introduced in 5.0.0.

[2019-05-31 22:58] nkolev92 opened #8181 "Add automation for inserting into toolset and special logic for arcade driven branches of the CLI repo"

[2019-05-31 23:05] wli3 commented on #8138
All insertion is failed in SDK.

[2019-05-31 23:46] clairernovotny commented on #5957
Bump?

[2019-06-01 00:47] bergbria commented on #8159
@nkolev92 - here's a concrete example using this package: https://www.nuget.org/packages/Moq/4.2.1502.911

* Feed displays version as 4.2.1502.911
* `nuget install moq -version 4.2.1502.911`
  * Creates a Moq.4.2.1502.**0**911 install directory

There's no way to know that the install directory will have a leading 0 without actually downloading the package and looking in the .nuspec file.

This ha

[2019-06-01 00:57] #8160 closed, assigned to nkolev92

[2019-06-01 13:17] jp2images opened #8182 "Automatic package restore with EF Core"
[SamuraiApp.zip](https://github.com/NuGet/Home/files/3243776/SamuraiApp.zip)
Please read the following information before posting the issue.

## Details about Problem
Sample files don't build because the EF Core version is incompatible? (Tried the MS Docs suggestions)

**Error messages:**
Error		This project references NuGet package(s) that are missing on this computer. Use NuGet Package Restore t

[2019-06-01 18:56] carnil commented on #7908
@nkolev92: thanks for the confirmation

[2019-06-01 22:01] adamralph commented on #8154
What does the 5.2 milestone mean? Is there any way to tell in which version of the .NET SDK this will be fixed?

[2019-06-02 00:57] nkolev92 commented on #8154
@adamralph
We try to include that in the release notes, but it's tricky matrix.
https://docs.microsoft.com/en-us/nuget/release-notes/nuget-5.1-rtm.

The 2.x line SDK release at a similar cadence as NuGet & VS.

The fix will be in both 2.2.400 & 3.0.100
5.1 <=> 2.2.300
5.2 <=> 2.2.400

[2019-06-02 07:08] adamralph commented on #8154
Thanks @nkolev92, that's very useful.

[2019-06-02 07:23] adamralph commented on #8100
Really? We've waited so long (3.5 years) for https://github.com/NuGet/Home/issues/1630 to be released, now we have to wait again for `dotnet` to support it?

[2019-06-02 07:28] adamralph commented on #8100
To clarify my expectation: https://github.com/NuGet/Home/issues/1630 should have included the required changes to `dotnet`. Without that, the feature is of little use. No one really wants to go back to bootstrapping nuget.exe in build scripts. The expectation is to use always use `dotnet`.

[2019-06-02 08:36] GSPP commented on #7440
I just tested on the latest 2017 and it still reproduces. In particular it is enough to merely open the solution to get reference assemblies copied into bin so that my app won't start (https://github.com/dotnet/standard/issues/936). This is the most annoying of the bugs.

*Please* take a look at these issues. I believe they affect a lot of developers because they are so easy to reproduce. The web

[2019-06-02 10:50] gix commented on #7638
This bug has nothing to do with token replacement. Using any explicit assembly references (`<reference>`) breaks building `snupkg` packages for a simple reason: The `snupkg` package builder is populated with all specified references and then later tries to validate them. But since the builder only has the `.pdb` files this validation always fails.

[2019-06-03 06:04] karelz commented on #7440
@GSPP which of the bugs still exist and reproduced on .NET 4.7.2 / 4.8?
The list above is long and as we said in other places, we believe most (maybe all) of them are addressed in 4.7.2 and 4.8.

[2019-06-03 06:07] karelz commented on #7440
BTW: There are still about 7 bugs opened from the list above (incl. this one). I would recommend to consolidate them into 1 clearly described problem with simplified repro on 4.7.2 / 4.8.

[2019-06-03 08:23] CodeTroopers commented on #8167
Here the relevant parts of project.assets.json
[code]

[2019-06-03 08:53] GSPP commented on #7440
I might make another run at this in the future. It is a good point that I need to test 4.8. 4.7.2 + the latest VS17 definitely does not contain a fix for https://github.com/dotnet/standard/issues/936. I'd need to test the other issues as well.

[2019-06-03 12:38] GSPP commented on #7440
I can still reproduce https://github.com/dotnet/standard/issues/936 on 4.8, latest VS17 and in a clean VM. It's unlikely to be a configuration issue with the machine.

[2019-06-03 13:56] xen2 commented on #8120
@rrelyea  I would like to submit a PR to make `HttpSourceRequest.DefaultRequestTimeout` customizable through API.
Is it OK to remove the `readonly` modifier, or would you like it to be passed as a parameter in all the places creating `HttpSourceRequest` or `HttpSourceCachedRequest`?

[2019-06-03 14:24] karelz commented on #7440
@GSPP thanks! Note that we were not able to reproduce that repro: https://github.com/dotnet/standard/issues/936#issuecomment-432760393 ... so I have suspicion there is something more fishy happening on your side (maybe the project does not target 4.7.2, or something like that). Anyway, let's dig into that one.
cc joperezr

[2019-06-03 16:41] GSPP commented on #7440
I'm certainly willing to help you reproduce. I also do not exclude the possibility of user error on my part but I tried to be careful (that's why I used the clean VM). In any case I believe I am using a supported configuration because I am really not doing anything advanced.

Can you give me a list of things I need to reproduce? Is it just 936? I has been a while since I touched this problem area.

[2019-06-03 17:37] nkolev92 commented on #8167
@CodeTroopers Thanks, that suggests that it's a build tasks problem.

Does this repro on different project types?
Can you let me know the exact project template you used, so I can try to repro it.

[2019-06-03 17:39] nkolev92 commented on #8176
Duplicate of https://github.com/NuGet/Home/issues/4968.

[2019-06-03 17:39] #8176 closed, assigned to nobody

[2019-06-03 18:18] #8175 closed, assigned to dtivel

[2019-06-03 18:45] Daniel-Khodabakhsh opened #8183 "dotnet restore --configFile <file> does not restore custom MsBuild SDKs"
When using `dotnet restore --configFile <NuGet config file>`, and if you are using a custom MsBuild SDK in a csproj, dotnet restore will fail to retrieve the SDK.

**This error does not happen if you just run `dotnet restore`.**

This happens with [all the ways the SDK can be referenced in the project](https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-use-project-sdk?view=vs-2019).
Here

[2019-06-03 18:51] nkolev92 commented on #7638
Thanks @gix for the pointer.
You are correct, that's the root cause.

I have self-assigned this and I have a PR attempting to address.

@karann-msft @rrelyea @anangaur @diverdan92 @cristinamanum @NuGet/nuget-client
I'd love your input on the solution for this problem.

A bit of background.
Explicit assembly references are allow you to specify assemblies that need to be explicitly referenced in the

[2019-06-03 19:05] nkolev92 commented on #6535
The respecitve PR is closed as stale as we're not actively working on it.

https://github.com/NuGet/NuGet.Client/pull/2004#issuecomment-498385249

If someone does pick up this task at some point, they can use the PR as a resource.

[2019-06-03 19:07] nkolev92 commented on #5879
A healthy amount of work on this PR was done by @jainaashish already in https://github.com/NuGet/NuGet.Client/pull/2122.

We can revisit that when we get back to this issue.

[2019-06-03 19:44] nkolev92 commented on #8183
Duplicate of https://github.com/NuGet/Home/issues/7855.

Consider providing the config file in the path rather than specifying it explicitly.
The technical limitation for addressing this problem are severe.

fyi @jeffkl

[2019-06-03 19:44] #8183 closed, assigned to nobody

[2019-06-03 19:46] nkolev92 commented on #7855
A similar issue was raised in #8183

[2019-06-03 19:48] nkolev92 commented on #8182
@jp2images

Seems like you manually modified the hint path in the SamuraiApp.Data project, is that correct?

When that happens, NuGet can no longer detect the changes that it made to the project file, so it can't reinstall correctly.

[2019-06-03 20:30] #8166 closed, assigned to dtivel

[2019-06-03 20:51] markwilkie commented on #7855
What the current state of this issue?  We (.NET Core) are running into this as well and are curious what the current thinking is.

cc/ @jcagme

[2019-06-03 21:22] loic-sharma commented on #8176
I saw that issue but created a new one as the other issue is specific to performance. Can I rename the other issue to "Add telemetry to dotnet CLI's restore", and update its description to cover both performance and failures?

[2019-06-03 21:41] camainc commented on #5877
There is a VSIX extension that supposedly allows migration of ASP.net web projects. However it breaks when trying to migrate VB.Net projects. We are trying to migrate away from VB.Net completely but it takes time. We really would like to change from package.config to the package reference format. Is there some way to do this manually for now?

[2019-06-03 21:45] nkolev92 commented on #7855
No progress has been made on it.

Note that this scenario adds some inconvenient coupling so if you can at all avoid it, please do so.

[2019-06-03 21:48] jcagme commented on #7855
You are saying we should not try restoring SDK packages from a private feed?

[2019-06-03 21:49] nkolev92 commented on #7855
Don't specify the config file directly & allow the tooling to discover it by convention.

If you put the config file at the repo root and/or near the solution files, ti will be discovered by the tooling automatically.
You can disable other cascading configs interfering with yours by adding clear tags like the ones we use in the NuGet Client repo.
https://github.com/NuGet/NuGet.Client/blob/dev/NuGe

[2019-06-03 21:57] jcagme commented on #7855
Well, at least for our case explained [here](https://developercommunity.visualstudio.com/content/problem/591052/restoring-from-private-azure-devops-feed-doesnt-wo.html) we don't pass in the location of `nuget.config` and use the one in the root. Since we are trying to restore packages from a private AzDO feed, probably cred provider is doing that under the covers?

[2019-06-03 22:04] nkolev92 commented on #7855
The cred providers were enabled for the sdk resolver so that should be working the same as regular restore.

I'm not sure why it's having trouble detecting the plugin however.
It should be under `~/.nuget/plugins`

[2019-06-03 22:12] rohit21agrawal commented on #5877
for the sole purpose of enabling and completing the migration, you can remove the following guids from your project file:

[code]

The presence of the above GUIDs causes NuGet to not show the Migrate dialog on right clicking the project.

NOTE: Might cause certain other functionality to stop working. Restore them after migration is complete.

[2019-06-03 22:16] zarenner commented on #7855
I should note that the Azure Pipelines DotNetCoreCLI task does not use the credential provider today. It uses a flow where it generates a temporary config, and passes --configfile to dotnet. That means that the DotNetCoreCLI task definitely won't work today with MSBuild SDKs in authenticated feeds.

If I understand correctly, @jcagme might be seeing _another_ issue where nuget doesn't invoke the c

[2019-06-03 22:52] jcagme commented on #7855
Yes, the installation script put the plugin in `~/.nuget/plugins/netcore`

Yeah, for our builds we don't use the task but use `dotnet restore` directly. This is what I've done:

Windows
1. Run installation script
2. Run build script
Output: successfully restored packages in private feed

Mac
1. Run installation script
2. Run build script
3. Since things didn't work, installed VS for Mac and signed

[2019-06-03 23:00] nkolev92 opened #8184 "The dotnet release definitions should pick up the script from the branch that they are releases not dev."
More context [here](https://github.com/NuGet/NuGet.Client/pull/2868#discussion_r290070083)

[2019-06-03 23:11] zarenner commented on #7855
Is it possible your VSS_NUGET_EXTERNAL_FEED_ENDPOINTS envvar isn't getting set or is incorrect?

If it's a domain account perhaps the windows case is working because it's silently / non-interactively authenticating and thus doesn't need VSS_NUGET_EXTERNAL_FEED_ENDPOINTS? Not sure what identities are in play here for you.

[2019-06-03 23:15] jcagme commented on #7855
I thought that to be the case but I then included a step to echo the variable value and it is correct. It looks like `{"endpointCredentials": [{"endpoint":"https://pkgs.dev.azure.com/xxx/_packaging/xxx-test/nuget/v3/index.json", "password":"<BotPAT>"}]}`

BotPAT is the PAT of an account I explicitly added as a contributor of the feed.

[2019-06-03 23:19] zarenner commented on #7855
`Unable to load the service index for source https://xxx.pkgs.visualstudio.com/_packaging/xxx-test/nuget/v3/index.json`

`{"endpointCredentials": [{"endpoint":"https://pkgs.dev.azure.com/xxx/_packaging/xxx-test/nuget/v3/index.json", "password":"<BotPAT>"}]}`

pkgs.dev.azure.com/\<organization\> vs \<organization\>.pkgs.visualstudio.com mismatch?

[2019-06-03 23:35] jcagme commented on #7855
True, although `https://pkgs.dev.azure.com/xxx/_packaging/xxx-test/nuget/v3/index.json` is what I have in nuget.config in Windows (the one which works) and also that's what I get in Azure DevOps artifacts "Connect to feed". Should I attempt `https://xxx.pkgs.visualstudio.com/_packaging/xxx-test/nuget/v3/index.json`?

[2019-06-03 23:41] zarenner commented on #7855
It must match up exactly between nuget.config and endpointCredentials. Putting both forms into endpointCredentials won't hurt.

[2019-06-03 23:58] jcagme commented on #7855
` 0>F:\workspace\_work\1\s\artifacts\toolset\restore.proj : error : Unable to load the service index for source https://pkgs.dev.azure.com/xxx/_packaging/xxx-test/nuget/v3/index.json.
     0>F:\workspace\_work\1\s\artifacts\toolset\restore.proj : error : Unable to load the service index for source https://xxx.pkgs.dev.azure.com/_packaging/xxx-test/nuget/v3/index.json.`

It fails with both endpoint

[2019-06-04 00:01] donnie-msft opened #8185 "Auto-Restore sometimes causes invisible unhandled exception in SDK-style projects"
## Details about Problem
Sometimes when opening an SDK-style project, while loading into VS, it begins to auto-restore and causes this unhandled exception (perhaps a thread race condition). It is not visible to the user, but shows up while debugging Experimental VS and opening an SDK project. Concern is whether this could cause a future hard-to-find bug during auto-restore.

Repro for both @donnie

[2019-06-04 00:19] camainc commented on #5877
THanks, that allowed me to do the migrations.

[2019-06-04 00:26] hyankov commented on #5877
Does the package manager work for that project, though, after this hack? Like, restore and update?

[2019-06-04 00:36] camainc commented on #5877
Seems to be.

[2019-06-04 02:53] jeromelaban opened #8186 "WebAssembly TFM support"
## Details about Problem

There is no `WebAssembly` TFM available in NuGet, which makes the creation of libraries impossible at this point.

This prevent, for instance :
- https://github.com/nventive/Uno.ReactiveUI
- https://github.com/nventive/Uno.Rx.NET
- https://github.com/nventive/uno.mvvmlight
- https://github.com/nventive/uno.prism

from being ported back to their original repositories for r

[2019-06-04 11:45] CodeTroopers commented on #8167
I use a legacy web application created from Visual Studio 2010 and migrated to Visual Studio 2017 and targeting the framework 4.7.1.
Here the essential part of csproj:
[code]

Have you an idea why the image apears twice in contentFiles of Nuspec file?

[2019-06-04 13:33] vdefeo commented on #6150
Hello guys, would be very nice to have this lib for .net core.

Any ETA for this migration?

thanks

[2019-06-04 16:12] tg73 commented on #7131
I've worked quite extensively with nuget pack. Perhaps I'm mistaken, but there appears to be a gap in the capabilities of pack-from-project: the ability to pack from a project in the context of a particular solution configuration.

Even in the comments in this thread, there seems to be a conflation of *solution* configuration and *project* configuration and platform. A *solution* configuration spe

[2019-06-04 16:54] bergbria commented on #7889
@nkolev92 - the issue is not fixed in sdk version 2.2.300. See
[this automated repro](https://github.com/NuGet/Home/files/3253570/restore_assemblyName_repro.zip) for proof.

Sample output:
[code]

[2019-06-04 16:59] cpyfferoen commented on #7714
@idg10 with your excellent issue post i was able to move forward on my own project. I posted my API (unpolished, but functional) as a gist
https://gist.github.com/cpyfferoen/74092a74b165e85aed5ca1d51973b9d2

THANK YOU for providing the hints I needed to get me over this hill of ridiculously sparse documentation/examples

[2019-06-04 18:04] dlbeeman commented on #5894
This seems to be fixed for me, starting with MAT 4.0.6913.0
Anyone else seeing this as fixed with the latest MAT?

[2019-06-04 18:11] nkolev92 commented on #7889
@bergbria
I'll take a look.

[2019-06-04 18:15] StingyJack commented on #7131
@tg73 - the OP's problem was _omission_ of the configuration parameter value. Csproj based packing and nuspec based packing that uses `$configuration$` needs this value to pack correctly. Perhaps that is the gap you mean?

[2019-06-04 18:18] StingyJack commented on #7131
This is a real pain to deal with, especially when VS decides to add a configuration to 150 projects in a solution without asking.

[2019-06-04 18:22] #8181 closed, assigned to nkolev92

[2019-06-04 18:25] rrelyea commented on #8186
Thanks for creating this issue and linking to previous discussions.
The direction here won't be decided by NuGet alone. Looping in @richlander @terrajobst @mhutch @anangaur (likely missing some others)

[2019-06-04 18:26] nkolev92 commented on #8167
Not sure I understand this. Can you please elaborate?

[2019-06-04 18:33] richlander commented on #8186
I appreciate the desire and need for this. At present, we're going to stick with netstandard as the TFM.

There are two motivators for not making progress here:

- We are re-thinking how frameworks and platform targets are going to work in the .NET 5 world.
- Web assembly isn't a singular target. We expect people to want both client and headless scenarios.

In short, more water needs to go under t

[2019-06-04 18:56] jeromelaban commented on #8186
@richlander I agree that it's not an issue to take lightly. The point is to somehow centralize this discussion as the issues have been spread out in many repos.

WebAssembly is indeed a large scenario, and sandboxed (browsers) and non-sandboxed (WASI+CLI) are to be considered, as well as would capabilities of the current WebAssembly environment (e.g. Threads or SIMD). The solution may not be a new

[2019-06-04 19:51] nkolev92 opened #8187 "LockFile with ATF has false NU1004 due to a bad target framework equality check"
Motivation from https://github.com/NuGet/Home/issues/7889#issuecomment-498755204.

https://github.com/NuGet/NuGet.Client/blob/057f2ed60c19832413bac010990905a3b9577d67/src/NuGet.Core/NuGet.ProjectModel/ProjectLockFile/PackagesLockFileUtilities.cs#L123

The root cause is that the framework in TargetFrameworkInformation is ATF based.
https://github.com/NuGet/NuGet.Client/blob/057f2ed60c19832413bac010

[2019-06-04 19:54] nkolev92 commented on #8187
Note that this could be intentional as one of the models is used for Package and the other one for Project references.

Need to understand that before making any sort of change.

[2019-06-04 19:55] nkolev92 commented on #7889
I can repro it.

This should only be an issue if there's ATF enabled in the project (which is by default in .NET Core SDK).

The equality check runs into an unexpected situation.
Created and self-assigned https://github.com/NuGet/Home/issues/8187

[2019-06-04 20:00] nkolev92 commented on #7889
Note that it has nothing to do with the AssemblyName but rather ATF.

[2019-06-04 20:55] nkolev92 commented on #8187
The investigation as to why one of the models has ATF but the other doesn't can be handled separately.
This specific scenario is not affected since GetNearest will only consider the root framework.

FallbackFramework is a different concern however, but it's broken by design and it should not be used, so it might be to let that one be.

[2019-06-04 20:56] nkolev92 commented on #8187
Initial work is in dev-nkolev92-lockFileATF.

[2019-06-04 21:09] nkolev92 commented on #8140
This is a rolling task. Any active tasks initiated by this effort will be linked here.

[2019-06-04 21:19] nkolev92 commented on #7351
The idea is to use a property to avoid nomination changes. It can be a semicolon delimited property similar to TargetFrameworks for example.

I will create a short spec on this.

[2019-06-04 21:29] rrelyea commented on #8138
@dominoFire will take point helping to drive SDK insertions

[2019-06-04 21:39] dominoFire opened #8188 "Pack icon file in `msbuild /t:pack`"
Make sure that, by running `msbuild /t:pack`, you can create nupkgs with icon file inside the package.

[2019-06-04 21:46] bergbria commented on #8187
It's worth noting that this is a significant regression that will probably break most people who use lock files.

@nkolev92 - how long would you guess it will take to release a patched .net sdk version once you make the fix? My team is effectively blocked from updating to 2.2.300+ until then.

[2019-06-04 21:55] dominoFire opened #8189 "Self-contained icons support in the NuGet package manager UI in Visual Studio"
Handle icon from both sources:

- From inside the package
- From Icon URL

The PM UI should be able to show packages with both icon types, transparent from the user

[2019-06-04 22:01] nkolev92 commented on #7507
Closing this per @PatoBeltran's reply.

If there are any feature gaps in dotnet.exe's NuGet functionalities please file issues on that.

[2019-06-04 22:01] #7507 closed, assigned to nobody

[2019-06-04 22:08] donnie-msft commented on #8042
Duplicate of https://github.com/nuget/home/issues/5049

[2019-06-04 22:08] #8042 closed, assigned to donnie-msft

[2019-06-04 22:16] nkolev92 commented on #8187
I don't know if this is going to go in a patch release.
There were other issues fixed that customers would've been likely to hit. (most of them affect the lock file regeneration scenarios).

//cc @rrelyea can comment on that.

[2019-06-04 22:24] #8154 closed, assigned to nkolev92

[2019-06-04 22:47] rrelyea commented on #8187
@bergbria - what sdk version are you on now?
Regresssion in 2.2.300??
Would waiting for 2.2.400 be unacceptable?

[2019-06-04 22:55] donnie-msft opened #8190 "Error list shown although "Always show Error List if build finishes with errors" is not checked"
## Details about Problem
Developer Community: https://developercommunity.visualstudio.com/content/problem/177400/error-list-shown-although-always-show-error-list-i.html

NuGet causes Error List to popup during Build even when VS settings are set otherwise.

## Detailed repro steps so we can see the same problem

1. Create a .csproj-style project.
2. Break the referenced NuGet packages in some way

[2019-06-04 23:37] zivkan opened #8191 "Make sure dev and release-* branches only build with official build"
Make sure that the dev or release-* branches only build from the official build definition, to ensure there are no drop folder conflicts and to ensure vendors don't test test-signed binaries.

[2019-06-04 23:54] Thraka commented on #8018
If someone can give me the steps, I can update the doc to describe it.

[2019-06-05 00:04] zivkan commented on #8018
@Thraka it involves some investigation. My guess is the only reason they say it's necessary to use `nuget.exe` is because they use the `<packageType>` element. The other fields they have in the table are definately possible to set in the csproj. So, we should check nuget pack targets to see whether or not it's possible to specify the package type in a csproj. If not, test if putting a nuspec in th

[2019-06-05 01:04] terrajobst commented on #8186
To be clear, we're not saying no. We're saying "we don't have enough data to make a decision yet". TFMs can fragment the world. And my team in particular has caused TFM fatigue de luxe. So I hope you understand why this is giving us pause.

[2019-06-05 01:19] bergbria commented on #8187
@rrelyea - sorry, my [original comment](https://github.com/NuGet/Home/issues/7889#issuecomment-498755204) listed the sdk version but I didn't mirror that here.

AFAIK, the issue was introduced in 2.2.300. I know for a fact it didn't exist in 2.2.103 but I haven't tried the intervening versions.

How long until 2.2.400 is released?

We have no raging fires that can only be extinguished by taking a

[2019-06-05 02:50] dominoFire commented on #8138
In all sdk PRs, two tests are failing: https://github.com/dotnet/sdk/blob/e915ce180c39a79e2ff1597d1a3fb3c9565c4c27/src/Tests/Microsoft.NET.ToolPack.Tests/GivenThatWeWantToPackAToolProjectWithGeneratePackageOnBuild.cs#L50

Test 1: `It_builds_successfully()`

[code]

Test 2: `It_builds_and_result_contains_dependencies_dll()`

[code]

[2019-06-05 03:31] txwizard opened #8192 "Even After Installing the last two workloads, NuGet client tools won't build."
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

git clone https://github.com/NuGet/NuGet.Client

NuGet version (x.x.x.xxx):

Whatever is on master as of today, 04 June 2019

dotnet.exe --version (if appropriate):

VS version (if appropriate):

2019 15.9.12

OS version (i.e. win10 v1607 (14393.321)):

Per ver command: Microsoft Windows [Vers

[2019-06-05 06:42] CodeTroopers commented on #8167
Look at the first post. In the nuspsec file generated in my package (used as PackageReference in the web application), the image is twice in the tag `contentFiles`. I generate the package with NuGet.Build.Tasks.Pack 5.0.2 and the target `Pack`

[2019-06-05 06:51] nkolev92 opened #8193 "Investigate whether TargetFrameworkInformation and ProjectRestoreMetadataFrameworkInfo should contain the same tfm"
Investigate whether TargetFrameworkInformation and ProjectRestoreMetadataFrameworkInfo should contain the same tfm.

Currently they are different and caused https://github.com/NuGet/Home/issues/8187

[2019-06-05 06:54] nkolev92 commented on #8187
@bergbria 2.2.400 will be out in early to mid July.

[2019-06-05 06:55] nkolev92 commented on #8187
@bergbria Any other lock file specific fix that you are blocked on, or have we covered the bases already?

[2019-06-05 06:59] nkolev92 commented on #8167
Oh the intermediate nuspec.
No, I have never noticed that.

Is the project building the package multi targeting maybe?

[2019-06-05 07:09] CodeTroopers commented on #8167
What do you mean by "multi targeting"? I run targets `Build` and `Pack` with the configuration `Release AnyCPU`

[2019-06-05 10:21] ioancrisan commented on #7638
@nkolev92 Thanks for the tip :).

[2019-06-05 13:30] yury-fedorov opened #8194 "nuget 4.5.1.4879 - restore created new folder"
## Details about Problem

NuGet product used (NuGet.exe):

NuGet version (4.5.1.4879):

OS version ( Windows 7 Professional v 6.1 (Build 7601: Service Pack 1)):

## Detailed repro steps so we can see the same problem

1. delete from "<user folder>\.nuget\packages\<package>\" a folder named "New folder"
2. nuget restore from solution folder of the project
3. in output the warning:
WARNING: The fold

[2019-06-05 14:59] weitzhandler commented on #8186
@terrajobst can we at least have even a temporary generalized wasm TFM so we can start working with wasm on projects that require Rx or other frameworks? Right now it's impossible to even extend those frameworks without forking it.

[2019-06-05 15:01] terrajobst commented on #8186
I don’t think so. After it’s shipped it’s quasi permanent.

[2019-06-05 15:07] weitzhandler commented on #8186
Make it permanent and add the following specific TFMs later then?

[2019-06-05 15:41] abelykh0 opened #8195 "Cannot install managed packages into C++/CLR .NET Core project"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NA

NuGet version (x.x.x.xxx): whatever comes with VS 2019

dotnet.exe --version (if appropriate): NA

VS version (if appropriate): Visual Studio Enterprose 2019 v16.1.1

OS version (i.e. win10 v1607 (14393.321)): Windows 10 v1809 (OS Build 17763.529)

Worked before? If so, with which NuGet ver

[2019-06-05 16:20] donnie-msft commented on #8185
Moved to Roslyn Repo:  https://github.com/dotnet/roslyn/issues/36180

[2019-06-05 16:20] #8185 closed, assigned to nobody

[2019-06-05 16:36] #8191 closed, assigned to zivkan

[2019-06-05 16:38] #7638 closed, assigned to nkolev92

[2019-06-05 17:00] dtivel opened #8196 "Build: build.ps1 fails by default if select strong name verifications are enabled"
The current behavior is a result of [this change](https://github.com/NuGet/NuGet.Client/pull/2863/files#diff-f0e02e42e53ec40f5d3b8bed031ad09eR24).

[2019-06-05 18:20] zivkan opened #8197 "Tool to generate report on package/tfm compatibility"
Create tool to test package compatibility with most popular packages from nuget.org with a set of TFMs.

[2019-06-05 18:24] dtivel opened #8198 "Plugins: "A task was canceled." errors with authentication plugin during restore"

[2019-06-05 18:24] zivkan opened #8199 "Generate report on TFM compatibility for most popular nuget.org packages"
Analyse packages with low install/restore success rate with packages with high success rate, to come up with suggestions for pack validation rules to help package authors create packages with fewer issues.

[2019-06-05 18:33] zivkan opened #8200 "APIs to get TFMs supported by package"
Talk to stakeholders to find what information is most useful to them.

Implement required APIs

APIs to implement (update after talking to stakeholders)
- [ ] IEnumerable<NuGetFramework> GetPackageFrameworks(package)

[2019-06-05 18:53] dominoFire commented on #8192
Hi @txwizard

Hope all is well.

Depending on which version you want to build, you need to use a specific version of Visual Studio:

| VS Version | Git branches |
|---------|----|
| VS 2017 | release-4.* |
| VS 2019 | dev, release-5.* |

Also, make sure you have installed the following VS workloads:

- .NET desktop development
- Visual Studio extension development
- .NET Core cross-platform develo

[2019-06-05 20:08] rrelyea opened #8201 "Ensure users understand success or error as part of packageinstalls"
As part of XAML tools team user study (looking at migration of WPF app to WPF core), some users complained they couldn't easily determine if an install succeeded or not.
Is the current UX good, or should we improve? And how?

[2019-06-05 20:19] donnie-msft opened #8202 "Pack context menu should be hidden if the project is not packable"
Copied from Internal Bug https://devdiv.visualstudio.com/DevDiv/_workitems/edit/857426

## Details about Problem

Visual Studio context menu option "Pack" does not disable when the feature is disabled.

NuGet version (x.x.x.xxx): All

## Detailed repro steps so we can see the same problem

1. Create 2.2\3.0 ASP.NET Core project

2. Right click the project

Expected:

It should not show "Pack" as a

[2019-06-05 21:03] nkolev92 commented on #8200
Related:
https://github.com/NuGet/Home/issues/8126

Note that the answer can be different for PackageReference and packages.config.

[2019-06-05 21:03] Thraka commented on #8018
I've figured it out after a ton of trial and error. I'm going to be removing various variables to determine the minimum needed to get this working.

[2019-06-05 21:04] Thraka commented on #8018
Is there a spec on template.json?

[2019-06-05 21:16] nkolev92 commented on #8192
Suggests you have not run configure.ps1.
Can you make sure you've run configure.ps1?

[2019-06-05 21:28] Thraka commented on #8018
I found the wiki at https://github.com/dotnet/templating/wiki which has a bunch of info

[2019-06-05 21:49] weitzhandler commented on #8186
Then please add a permanent generalized wasm TFM now, and once we know more about the other sub-flavors, we'll add them too.
Can't leave all wasm developers hanging on the air without access to standard .NET libraries.

[2019-06-06 00:04] nkolev92 commented on #8167
I meant multiple target frameworks, I'd imagine that's not the case for you, but just wanted to double check.

[2019-06-06 00:06] nkolev92 opened #8203 "Improve the error experience when the reading of the runtime.json fails due to a malformed file"
Right now that will lead to an error like the following:

To repro this:

Create a project, and add runtime identifiers and run restore.
To provide a bad runtime json, either:
1. Redirect to a custom global packages folder and make edits to microsoft.netcore.platforms in a breaking way (you might need to disable the fallback folder otherwise NuGet will never download it).
2. Create your own packag

[2019-06-06 04:23] newclaus opened #8204 "Clearing cache"
There is a button "Clear All Nuget Cache(s)" in the NuGet Package Manager options dialog. By clicking on it all packages are removed from cache. But in most of cases we need remove only previous versions of each package. Could you add an extra button with desired behavior?

[2019-06-06 06:02] dationguyen commented on #4945
is there any update on this :(
I have 20 projects 6 of them using same nuget package, 14 else is not.
i used to use this cli to update them all
find . -name "*.csproj" -execdir nuget update -id {packagename} -Source ${SOURCE} {} \;

dotnet add will not work in this case. it will just add new package to every project

[2019-06-06 06:47] CodeTroopers commented on #8167
Sure only one framework : v4.7.1

[2019-06-06 07:34] jjanuszkiewicz commented on #4360
Having this in nuspec is the workaround I use (my tools are single-target):

    <files>
      <file src="bin\$configuration$\net472\*" target="tools" />
    </files>

In csproj I have this:

    <IsTool>true</IsTool>
    <GeneratePackageOnBuild>false</GeneratePackageOnBuild>

And I build the package using `nuget.exe pack` with the `-Tool` option.

[2019-06-06 09:17] Happypig375 opened #8205 "Cannot install SkiaSharp on F# Xamarin projects."
## Details about Problem

<details>
<summary>Environment</summary>

Microsoft Visual Studio Community 2019
Version 16.1.2
VisualStudio.16.Release/16.1.2+29001.49
Microsoft .NET Framework
Version 4.7.03190

Installed Version: Community

Visual C++ 2019   00435-60000-00000-AA759
Microsoft Visual C++ 2019

Application Insights Tools for Visual Studio Package   9.1.00429.1
Application Insights Tools f

[2019-06-06 09:25] v-luzh opened #8206 "[Test Failure] Suggest not to show the “License” line under “Description” section when the package’s license is empty"
## Details about Problem
NuGet version: NuGet Client Dev\5.2.0.6040
VS Version: D16.2stg\29005.118
OS: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps so we can see the same problem
1. Launch VS and create a C++ UWP.
2. Open PM UI of the project and search package “SampleCPlusPlusDevicePackage” in “Browse” tab.
3. Select the package on the left and click the “View License” link

[2019-06-06 09:28] Happypig375 commented on #8205
Apparently Visual Studio messed up some files.

[2019-06-06 09:49] Happypig375 commented on #8205
Attempting to extract the nupkg into the packages folder myself:
[code]

[2019-06-06 12:22] Pzixel opened #8207 "Add "skip-if-exists" flag to the CLI"
I'm not sure if it's the right place to ask the question, sorry for inconvinience if any.

My question is about pushing a package that may already exist in the gallery. Currently I have a command:
[code]

which works fine except when I rerun the CI server and it tries to push the package once again. Then I get

It would be nice if I could write something like:

[code]

To make sure it returns 200

[2019-06-06 13:08] rrelyea commented on #8207
@donnie-msft recently delivered this for nuget.exe 5.1 and is working to add it to dotnet.exe very soon.

[2019-06-06 13:10] mbrachner opened #8208 "No build action for "c# analyzer additional file" in contentFiles"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS UI

NuGet version (x.x.x.xxx):
5.2.0.6020

dotnet.exe --version (if appropriate):

VS version (if appropriate):
15.9.11

OS version (i.e. win10 v1607 (14393.321)):
Win10 Version	10.0.17763 Build 17763

There is no possibility to specify a build action for "C# analyzer additional file" (or "A

[2019-06-06 13:48] Pzixel commented on #8207
Cool. Can you link a PR if you don't mind?

[2019-06-06 14:37] Racer396 opened #8209 "`dotnet list package` supports showing package dependencies declared in packages.config"
Hello.
I want to make solution verifier to nuget dependencies in C# app.

If we have projects whats compile to one folder, and
ProjectA -> PackageName 1.0.0
ProjectB -> PackageName 2.0.0
In output folder we get only one .dll, and its may to runtime exception when one of projects try use some method in PackageName with other project version. (Like ProjectB use PackageName 1.0.0)

I want to build fu

[2019-06-06 15:05] emmanuelmathot commented on #4234
Same issue

[2019-06-06 15:55] ColinM9991-zz commented on #7842
@dtivel

I have a log file from a failed build using the `--verbosity detailed` switch, where can I send it to you guys?

[2019-06-06 15:56] rrelyea commented on #8209
`Dotnet list package` is a start. (Only works in packageref now—adding packages.config support soon)

[2019-06-06 16:12] Racer396 commented on #8209
Thx.
1) How soon will be added .config support?
2) Are there other ways to do this? Or Nuget.Core and Nuget.Client doesn't support this features and only use dotnet list package?

[2019-06-06 16:54] bergbria commented on #8159
@nkolev92 - does my example help clarify the ask?

[2019-06-06 17:32] nkolev92 commented on #8159
Yeah it does.

I meant to suggest that I understood your ask in https://github.com/NuGet/Home/issues/8159#issuecomment-497438630, but reading it again I definitely wasn't clear enough :)

[2019-06-06 18:02] karann-msft commented on #2002
@epicbugs - I found this thread when I was searching for something very similar to what you have, and wanted to tell you that packages now do have RSS feeds. Have you built something around that do send you notifications for updates to packages you are interested in?

[2019-06-06 18:02] jgraff-esi commented on #3839
Had same issue when I included a dead Telerik NuGet repo in my list of package sources.  Failed on that before it could get to the real location of the package.  Unselected the bad package source and I was good to go.

[2019-06-06 18:14] nkolev92 commented on #7351
Update the issue body with link to the spec.

[2019-06-06 19:52] dominoFire commented on #8194
Hi @yury-fedorov

Hope all is well.

Do this occurs in the most recent version of `nuget.exe` 5.0.2 ?

Can you try the following in your current NuGet version and see if the warning message is still showing ?

1. Delete your local cache with `nuget.exe locals all -clear`
2. Run `nuget.exe restore Leonteq.SophisCatalysConnector.sln -Verbosity detailed` in your solution folder

It looks like when yo

[2019-06-06 20:37] dtivel opened #8210 "Plugins: cache file is never read"
[Plugin cache files](https://github.com/NuGet/Home/wiki/NuGet-cross-plat-authentication-plugin#avoid-instantiating-the-plugins-frequently) are never read by the product.  [`PluginCacheEntry.LoadFromFile()`](https://github.com/NuGet/NuGet.Client/blob/9eadc8b83f096ec0a1eca7e61bc42011155a72bf/src/NuGet.Core/NuGet.Protocol/Plugins/PluginCacheEntry.cs#L44) has test coverage but is never called by produ

[2019-06-06 21:29] jeffkl commented on #8198
Possibly related to #7842

[2019-06-06 21:55] #8187 closed, assigned to nkolev92

[2019-06-06 21:57] donnie-msft commented on #8207
nuget.exe is done: https://github.com/NuGet/NuGet.Client/pull/2802
dotnet.exe is in process: https://github.com/NuGet/Home/issues/8100

[2019-06-06 21:57] #8207 closed, assigned to nobody

[2019-06-06 22:20] epicbugs commented on #2002
@karann-msft - Wow :) What a nice trip down the memory lane! But no, I haven't built anything around it. At the time (with no RSS available) it was decided as too much work for the convenience of our team only. Thanks for the heads-up though! For the DIY folks, adding a simple Outlook RSS rule to alert/action on appearance of hyphen in version name is (provably) quite doable now. It's certainly le

[2019-06-06 22:38] bergbria commented on #8187
@nkolev92 - I don't think I have any other unresolved lock-file-centric issues at this time.

Thanks for the fix! Any chance of this making it into a patch release or do we need to wait for 2.2.400?

[2019-06-06 23:00] nkolev92 commented on #5712
Just to clarify the status here;

https://github.com/NuGet/Home/issues/5712#issuecomment-320808057

Framework conditioned no warns are not supported in either CLI or VS.

Repro that shows this:

[code]

[2019-06-07 00:30] jp2images commented on #8182
Hmmm. I don't think I did anything except download the source for Julie Lerman on PluralSight. I see the exact same issue with the source from JohnPSmith and the book EFCore In Action. https://github.com/JonPSmith/EfCoreInAction. Is the hint path easily fixable?

[2019-06-07 00:48] #7430 closed, assigned to nobody

[2019-06-07 00:49] nkolev92 commented on #7080
#4582 is fixed so this experience should be improved now.

[2019-06-07 00:49] #7080 closed, assigned to nobody

[2019-06-07 00:50] #7628 closed, assigned to nobody

[2019-06-07 00:53] nkolev92 commented on #7341
Has anyone seen issues with:

2.1.700
2.2.300
3.0.100

Thanks!

[2019-06-07 09:20] last-Programmer commented on #5979
It is been two years and the issue still exists. damn. come on microsoft you can do better. are you expecting every one to migrate to .Net Core?

[2019-06-07 09:51] epicbugs commented on #2002
@karann-msft - Wow :) What a nice trip down the memory lane! But no, I haven't built anything around it. At the time (with no RSS available) it was decided as too much work for the convenience of our team only. Thanks for the heads-up though! I tried it out and managed to get notifications from plain RSS by creating an Outlook rule that looks for a hyphen in the item title. Works 👍

[2019-06-07 10:09] mrward opened #8211 "Unhandled exception on restoring packages when local package source directory missing"
## Details about Problem

Unhandled exception on restoring packages when a package source fails but one succeeds.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS Mac all versions.

NuGet version (x.x.x.xxx): All versions (NuGet 5.0 and 4.8).

dotnet.exe --version (if appropriate):

VS version (if appropriate): VS Mac 8.0 and 8.1

OS version (i.e. win10 v1607 (143

[2019-06-07 11:41] qidydl commented on #5979
@rbmanian75 To be fair, the answer to that question is clearly "yes", hence the .NET 5 announcement.

[2019-06-07 13:50] birdhut commented on #7554
I see this to using the following dotnet preview:
[code]
I do not seem to be able to make this intermittent though.  It happens on every call.

[2019-06-07 14:31] kzu opened #8212 "Enable restore on .proj files"
Currently, [NuGet hardcodes knowledge](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L236-L237) of the `.msbuildproj` (and `.nuproj`) project file extensions to enable restore to work automatically.

The `.proj` file extension is also (maybe even more?) common in MSBuild project files, and should likely also be enabled by default.

[2019-06-07 14:51] edufur commented on #5979
I agree that this should NOT be closed. None of the alternatives work completely and it seems MS is closing every variant of this problem report that they can. I logged an issue in the Dev Community for azure devops since this was evident in that process. They closed that board item but one of their devs agreed this was a bug and logged it here: https://github.com/Microsoft/azure-pipelines-tasks/i

[2019-06-07 14:59] edufur commented on #5979
If you ask me, this is more of a convergence to bring core back to .NET than it is .NET to core. It is all going to be one big happy family now. And hopefully, this problem gets solved before then.

[2019-06-07 16:19] richlander commented on #8186
We are not going to do anything until we have confidence. No quasi-permanent solutions or known-not-right permanent solutions.

@terrajobst and I have been at the center of a lot of bad decisions (hopefully some good ones too, or just get rid of us!). There are times when we didn’t fully appreciate the ecosystem shaping role we have. There are many, many, things that should have a Wild West charac

[2019-06-07 16:46] #8196 closed, assigned to dtivel

[2019-06-07 16:50] #8198 closed, assigned to dtivel

[2019-06-07 18:06] nkolev92 commented on #8182
They need to be manually amended to match what NuGet did in the first place.
So it's doable with the right context.

Consider changing `s:\.nuget\` to `..\packages' in SamuraiApp.Data.csproj

That's at least one obvious issue.

[2019-06-07 19:17] #8210 closed, assigned to dtivel

[2019-06-07 20:45] Thieum commented on #7651
Another case I have is the same package being restored and just the metadata is different - all the other files are identical :
![image](https://user-images.githubusercontent.com/944894/59132578-94933400-8943-11e9-96ac-ea74f29a7673.png)
One package is restored on a win7 x64 within VS2019, the other is restored on Windows Server 2016, within VS Build tools 2017.

[2019-06-07 21:00] nkolev92 commented on #7651
@Thieum Is the same version of the tooling used across the different machine?
Same type of tooling? dotnet.exe vs msbuild/nuget.exe.

Have you attempted clearing the global packages folders prior to restore. The idea is to make sure that the package is actually being restore with the current tooling.

[2019-06-07 21:03] Thieum commented on #7651
@nkolev92 Cache has been cleared on both machine. The tooling might be different, but compiling with VS2017 leads to the same lock file on the win7-x64 machine.
I'll try to migrate my build server to the latest build tools, and see if it fixes the issue.

[2019-06-08 06:56] Happypig375 commented on #8205
I successfully worked around this by manually adding to `packages.config` and manually referencing from the fsproj file.
Packages.config:
[code]
fsproj:
[code]

[2019-06-08 15:54] dtivel commented on #7842
@ColinM9991, please send it to my username at microsoft.com.

[2019-06-09 07:23] txwizard commented on #8192
@dominoFire  mentioned running different branches depending on my Visual Studio version. Nothing in the headnotes of either PS script mentions anything about branch selection. Are you suggesting that I do a git checkout?

@nkolev92 ,since the "step by step" instructions omit c**onfigure.ps1**, you are correct that I didn't run it. Now that I have, it still doesn't build.

The build log follows.

M

[2019-06-09 18:02] weitzhandler commented on #8186
Thanks for your responses, they do make a lot of sense.
Can we just ask to prioritize this? Just bear in mind tat this issue means that wasm has broken NuGet.

[2019-06-10 10:59] emmanuelmathot commented on #3891
This is indeed a pity that dotnet pack could not handle a dependencies management properly as any other packaging system for other languages.
In the meantime, this simple solution proposed by @leonard-thieu worked for me
https://github.com/dotnet/cli/issues/3959#issuecomment-355648037

All the package references from the subprojects (included as well) of my packaging project were referenced proper

[2019-06-10 12:33] r-bennett opened #8213 "What is the expected resolution behaviour for mixed ProjectReferences and PackageReferences"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version 4.5.1.4879

OS version: win10 v1803 17134.706

We're in the process of migrating lots of source deps to binary deps (i.e. `ProjectReferences` to `PackageReferences`) in our codebase at the moment, and are finding some issues with the version resolution behaviour when there are `PackageReferences` and `ProjectReferences` to the

[2019-06-10 16:16] nkolev92 commented on #8192
@txwizard

Can you point us to the instructions that you are following that do not call out configure.ps1?
I double check the ReadMe & Contributing docs both call out the same instructions.
If there is something that still contains outdated information, I'd be happy to update it.

The instructions to follow are in the readme of this repo:

https://github.com/NuGet/NuGet.Client#steps-to-build-nuget

[2019-06-10 17:11] donnie-msft commented on #8206
Deprecation may be relevant https://github.com/NuGet/Home/issues/7531

[2019-06-10 19:47] crummel opened #8214 "Source-build patch removal for NuGet"
Source-build has some patches that we are currently applying to your repo.  This issue tracks removing the patches.  These patches can be found at https://github.com/dotnet/source-build/tree/release/3.0/patches/nuget-client.

Patches that have the responsibility "Repo" and the Disposition "Incorporate" are patches that we believe are valid source-build fixes that should be moved into your repo.  P

[2019-06-10 20:13] terrajobst commented on #8186
We're working on Web Assembly as a product, NuGet is a part of it but it's not at the top of our priority list ATM.

[2019-06-10 21:30] donnie-msft commented on #8206
Creating a package without changing the license already shows warnings to the user, and this behavior is by design.

[2019-06-10 21:30] #8206 closed, assigned to nobody

[2019-06-10 23:22] rrelyea commented on #8206
@donnie-msft  - We should make sure that our tooling (nuget pack or dotnet pack...or nuget spec and then nuget pack doesn't create that fake URL. if it does, we should at least warn in pack.

[2019-06-10 23:25] donnie-msft commented on #8206
@rrelyea, I already discussed with @karann-msft  and our tooling does create the fake URL and we do already show warnings to the user.

[2019-06-10 23:57] weitzhandler commented on #8186
Thanks for letting us know. Does help a lot!

[2019-06-11 00:47] txwizard commented on #8192
Following steps as outlined at the page cited by @nkolev92 yields the following response.

Microsoft Windows [Version 10.0.17763.437]
(c) 2018 Microsoft Corporation. All rights reserved.

C:\WINDOWS\system32 2019/06/10 19:19:21.49>pushd F:\Source_Code\Visual_Studio\Projects\NuGet

F:\Source_Code\Visual_Studio\Projects\NuGet 2019/06/10 19:20:53.32>git clone https://github.com/NuGet/NuGet.Client
Clo

[2019-06-11 01:18] nkolev92 commented on #8192
@txwizard

Can you please list the content of the packages directory in the NuGet.Client repo folder? (after running the 3 steps in the correct sequence.

Basically configure.ps1 does some bootstrapping, it downloads some SDKs that the projects need to build. Including the ones in the packages folder.

Please note that you should repeat both configure.ps1 and build.ps1 if you do a git clean -xdf.

[2019-06-11 03:08] nkolev92 opened #8215 "Add a pack validation rule for dependencies elements with a target framework group."
Example:
[code]

This makes assets selection challenging. It also potentially leads to an invalid dependency walk.

This is basically the dependencies equivalent of https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/Rules/MisplacedAssemblyUnderLibRule.cs.

fyi @rrelyea

@zivkan This might be something that Joshua should add.

Motivation while working on https://github.co

[2019-06-11 04:10] txwizard commented on #8192
Thank you, @nkolev92 for providing the first remotely helpful suggestion so far.

[NuGet_Client_Directory_PostBuild_20190610_230325.TXT](https://github.com/NuGet/Home/files/3274717/NuGet_Client_Directory_PostBuild_20190610_230325.TXT)
is a listing of the entire NuGet.Client directory; there is no Packages directory unless I missed it.

[NuGet_Packages_Directory_PostBuild_20190610_230526.TXT](https

[2019-06-11 08:01] jjanuszkiewicz commented on #4360
Hey, I can see this above:

I have no idea what's going on!

[2019-06-11 09:24] patrickkrootjes commented on #5979
to solve this problem I'm using a post built event and a PowerShell script (NuGetPackDependencies.ps1) and this solved the problem for me:

[code]

[NuGetPackDependencies.zip](https://github.com/NuGet/Home/files/3275643/NuGetPackDependencies.zip)

[2019-06-11 12:25] rbmanian75 commented on #5979
@patrickkrootjes this wont work for packagereference which have dependencies installed from nuget.

[2019-06-11 13:16] atanasa commented on #6697
Any update on this?

[2019-06-11 13:31] Thieum commented on #7651
@nkolev92 ok found it - restoring with the following commands:

`NuGet.exe restore .\Spinal.sln`
`NuGet.exe restore .\Spinal.sln -MSBuildVersion 15.9`

leads to a hash error, as it doesn't replicate the way Visual Studio restores on build.

NuGet version is 4.9.2.5706.

`'C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\MSBuild\15.0\Bin\MSBuild.exe"' -t:restore .\Spinal.sln`

does re

[2019-06-11 14:25] edufur commented on #5979
@patrickkrootjes Does this work with nested dependencies?

[2019-06-11 15:07] Thieum commented on #7651
alas switching from nuget restore to msbuild restore breaks large parts of retrocompatibility from older sln to vcxproj.
Since our pipeline definition is centralized, the only workaround left I have without the ignore switch described in the original issue, is going back to packages.config.

[2019-06-11 15:57] nkolev92 commented on #7651
@Thieum

4.9.2 had a bug. https://github.com/NuGet/Home/issues/7682 which was fixed in 4.9.3.
https://docs.microsoft.com/en-us/nuget/release-notes/nuget-4.9-rtm#summary-whats-new-in-493
So upgrading to 4.9.3 and doing the whole clean folder dance should be sufficient.

However, if msbuild satisfies your scenario I'd suggest sticking with MSBuild instead of NuGet.exe.

That way you ensure your Visu

[2019-06-11 17:13] rrelyea commented on #8209
We hope to ship dotnet list package support for packages.config as early as NuGet 5.2.
No other "built-in" was to do this yet.

[2019-06-11 17:14] jp2images commented on #8182
So... Interesting event. I have an EFCore project that I created from scratch in VS2017 but have since upgraded to VS2019. A coworker pulled the code from the repo with VS2019 and experienced similar reference issues on his machine that I am complaining about with the Samurai sample app.
The project I created was new, getting the EFCore stuff from NuGet and I used the Package Manager for Solution

[2019-06-11 17:19] rbmanian75 commented on #5979
@patrickkrootjes Sorry i have overlooked your solution without looking into what you done in powershell. Your solution for adding the dependencies using powershell script works great. But i was facing a small issue when i try to execute the powershell script. I was getting the error

Method invocation failed because [System.Xml.XPathNodeList] does not contain a method named 'AppendChild'.
At NuGet

[2019-06-11 17:19] rrelyea commented on #8205
Do we know for sure that the same package version worked in 16.0 and 15.9?
Or was it perhaps an earlier package version?

[2019-06-11 17:26] nkolev92 commented on #8182
I can't claim anything either way.

Packages.config is fragile that way.
Any manual modifications will confuse the tooling.

That's why PackageReference does not hardcode references any more.

Regardless, did your specific issue get resolved? Did fixing the hint paths help?
I would like to close this as not as bug if so.

Thanks.

[2019-06-11 17:31] rbmanian75 commented on #5979
@edufur i  hope it will work for nested dependencies.  Because nusepc contains the dependencies the dependencies will also have dependencies specified in nuspec file and so on. So all dependencies will be installed.

[2019-06-11 18:12] dominoFire commented on #8205
It doesn't repro in VS 16.0 (Version 16.0.5 Preview 1.0 [28803.514.d16.0])

[2019-06-11 19:29] rrelyea commented on #2585
Note..one of the issues for this (https://developercommunity.visualstudio.com/content/problem/56659/nuget-management-window-nuget-updates-can-not-be-s.html ) complained that the updates tab isn't sorted by name by default...and can't change to being sorted by name as well.

[2019-06-11 19:48] brian-pickens-web commented on #4234
**My Solution**

Ensure the the following AssemblyInfo properties are not empty strings.
[code]

This resolved the 'Authors is required' and 'Description is required' error. I guess these can be non empty.

[2019-06-11 20:02] nkolev92 commented on #8192
If you just run configure.ps1 -force doesn't a package folder get populated?

For example, this is what's happening on my machine:

[code]

[2019-06-11 20:02] #8108 closed, assigned to zivkan

[2019-06-11 20:34] Thieum commented on #7651
@nkolev92 It works with NuGet 5.0.2 - Thanks a lot for your help!

I wish it was possible for us to move to msbuild, but I have solutions with c++ and c++/cli projects that don't seem to work with msbuild - I guess I'll have to wait for https://developercommunity.visualstudio.com/idea/351636/use-packagereference-in-vcxproj.html if we keep our current infrastructure. Or move to a more flexible buil

[2019-06-11 22:03] The-Futurist opened #8216 "Question: Does the order of package entries inside packages.config matter?"
If someone were to reorder the list of packages in the packages.config XML does this have any impact on how the project rebuilds or anything?

I want to order the packages alphabetically in two related but different applications so we can see the (few) differences more easily when we look at the files.

[2019-06-12 00:14] jcagme commented on #6609
In our build we end up doing running
`
dotnet msbuild  /nologo -maxcpucount /m -verbosity:m /bl:.\Build.binlog /clp:Summary /logger:logger.dll
 /nr:False /p:ContinuousIntegrationBuild=True /p:TreatWarningsAsErrors=true /p:Configuration=Release /p:RepoRoot=. /p:Restore=True /p:DeployDeps=False /p:Build=True /p:Rebuild=False /p:Deploy=False /p:Test=True /p:Pack=True /p:IntegrationTest=False /p:Perfo

[2019-06-12 03:54] nkolev92 commented on #6609
@jcagme
The credential providers usually have special logic for their setup to run on the CIs.
Normally NuGet doesn't do much here.

[2019-06-12 03:54] knocte commented on #7202
It's easy to reproduce this with the latest version of NuGet (5.0.2.5988) if you use the versions of mono (5.18.0.240) and xbuild (14.0) bundled by Ubuntu 19.04.

[2019-06-12 04:03] knocte commented on #7202
I tried this workaround (adding `-MSBuildVersion 14` to the nuget restore call), and then I get this other problem:

[code]

[2019-06-12 06:14] CaCTuCaTu4ECKuu commented on #5740
As far as there is issue when migration from NetCore 2.1 to 2.2 you need to define Version in Microsoft.AspNetCore.App package reference (due to ef packages problems) there is no way to supress NETSDK1071 warning delicately.
Adding NoWarn="NETSDK1071" attribute doesn't work

[2019-06-12 06:43] kg commented on #7202
@knocte I'd be happy to help look into this in case it's a mono problem but from rereading the issue thread I do not understand what the actual problem is and how to reproduce it.

[2019-06-12 06:52] dojo90 commented on #3324
Problem still appears on `Visual Studio 16.1.1`.
Can anyone post a working workaround? It is really annoying 😒👎

[2019-06-12 14:35] ColinM9991 commented on #7842
@dtivel I've emailed you the log file

Another build has flagged the following error with some context along with it.
[code]

[2019-06-12 14:59] rainersigwald commented on #6007
I think ngen without optprof is likely a significant improvement; should this be blocked on optprof?

With the recent split in packaging, I think it's possible to just add `vs.file.ngenArchitecture=all` to the assemblies in

https://github.com/NuGet/NuGet.Client/blob/bdcec93681afdd1f5cd553af07414a3b3d9a866c/setup/Microsoft.VisualStudio.NuGet.BuildTools.swr

That's what we do in MSBuild and it resu

[2019-06-12 15:01] rainersigwald commented on #6007
Oh, no, I'm wrong: that should still be done but would impact only build tools SKUs; the full VSIX would need an equivalent opt-in to ngen.

[2019-06-12 15:39] rossng commented on #5782
@jainaashish I just want to clarify the meaning of this. I'm currently converting a large set of projects from packages.config to PackageReference and am trying to figure out what exactly the behaviour is that I'm seeing (and which is causing lots of assembly binding exceptions!).

Imagine that you have some projects, with the following dependencies:

[code]

Am I right in thinking that `E` *will*

[2019-06-12 16:38] ElishaStevenson-Vanco opened #8217 "core"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2019-06-12 18:09] jainaashish commented on #5782
Neither `E` or `C` will appear in A's dependencies. And the reason is `packages.config` neither takes any transitive dependencies from child nor pass it on to the parent, irrespective of parent or child being `packages.config` or `PackageReference`.

So in your example:
A -> will only have all the packages defined in it's own packages.config file
B -> will have all the packages from B as well as C

[2019-06-12 18:54] dtivel opened #8218 "Test: NuGet.Packaging.FuncTest.SignedPackageIntegrityVerificationTests.VerifyPackageContentHash_SignedPackagesAsync is flaky"
[`NuGet.Packaging.FuncTest.SignedPackageIntegrityVerificationTests.VerifyPackageContentHash_SignedPackagesAsync`](https://github.com/NuGet/NuGet.Client/blob/bdcec93681afdd1f5cd553af07414a3b3d9a866c/test/NuGet.Core.FuncTests/NuGet.Packaging.FuncTest/SigningTests/SignedPackageIntegrityVerificationTests.cs#L950) is flaky.

The test [creates package \#1](https://github.com/NuGet/NuGet.Client/blob/bdce

[2019-06-12 19:30] dtivel opened #8219 "Restore: error displayed only in Build output window pane not Error List"
## Details about Problem

**NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):**
Visual Studio

**NuGet version (x.x.x.xxx):**
NuGet.Tools.dll:  5.2.0-preview2.6020+c061679a066bb5e970bfe6de9035585c5834988a

**VS version (if appropriate):**
Microsoft Visual Studio Enterprise 2019 Int Preview
Version 16.2.0 Preview 3.0 [29010.160.d16.2stg]
VisualStudio.16.IntPreview/16.2.

[2019-06-12 19:55] jeffkl opened #8220 "Plugins cannot be located when assemblies are not located next to Visual Studio"
## Details about Problem

NuGet product used nuget.exe

NuGet version (x.x.x.xxx): 5.2

## Detailed repro steps so we can see the same problem

1. Set the MSBuild property `RestoreTaskAssemblyFile` to the full path to a local copy of `nuget.exe`
[code]

2. Use a feed that requires authentication

3. Restore packages

Plug-ins like the credential provider cannot be found.  I'm assuming this is beca

[2019-06-12 21:02] dtivel opened #8221 "Test: flaky VS unit tests"
12 unit tests fail on Windows like so:
[code]

The tests are:
[code]

[2019-06-12 23:33] nojava4u commented on #6437
Wow, one rabbit hole after another ... can't use apikeys for restore, only push; can't use the credentials for push only restore; apikeys can't be encrypted depending on platform; -k is only supported on push but not restore...  in a CI/CD environment you end up with credentials AND apikeys in both your nuget.config AND your build/publish scripts... assuming you figure all this out.

[2019-06-13 00:26] nkolev92 opened #8222 "RestoreLockedMode=true & RestoreForceEvaluate=true should error"
Currently that's not the case.

Repro steps

1. dotnet new classlib
2. Enable lock file
3. dotnet restore (generate lock file).
4. dotnet restore /p:LockedMode="true"
5. dotnet restore /p:LockedMode="true" /p:RestoreForceEvaluate="true"

The last one should fail, as the instructions do not make sense.
From skimming the code, RestoreForceEvaluate takes precedence.

https://github.com/NuGet/NuGet.Cl

[2019-06-13 00:32] nkolev92 commented on #8220
Can you explain in more detail what your scenario is?

Everytime a nuget.exe restore is run, it discovers MSBuild and builds a relative path for the VS installed plugins through: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/Plugins/PluginDiscoveryUtility.cs#L13

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/Commands/Command.cs#L1

[2019-06-13 00:51] anangaur commented on #8222
Agree. But based on the options semantic meaning l, shouldn’t it fail only if there needs to lock file update/modify?

[2019-06-13 02:39] jeffkl commented on #8220
I've created a repro: https://github.com/jeffkl/nuget-repro-8220

I know its a little wierd to use `nuget.exe` as the task assembly but it comes in handy when users are facing issues with NuGet that are fixed but not yet released.  They can check in the `nuget.exe` with the fix and use that version during restore for command-line or hosted build scenarios.

I haven't had a chance to debug it, my b

[2019-06-13 07:53] extremeandy commented on #3891
Is there any way to extend this solution so that it also copies any `PackageReference`s from `ProjectReference`s?

[2019-06-13 09:27] knocte commented on #7202
Thanks for your offer!

Well, after digging a bit, I think it's actually a NuGet bug to detect xbuild properly, more info to follow...

Fair enough, I'll try to clarify things and help you reproduce it.

The simple steps to reproduce should be:
1. Use a stock ubuntu 19.04.
2. Install mono-complete from ubuntu's repositories (it installs 5.18.0.240 and xbuild, not msbuild).
3. Download nuget 5.0.2

[2019-06-13 13:14] MitchMcHenry1 opened #8223 "Can't remove config key using nuget.exe"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version (x.x.x.xxx): 5.0.2.5988

OS version (i.e. win10 v1607 (14393.321)): win10 v1709 (16299.1146)

Worked before? If so, with which NuGet version:
Hasn't worked since at least 4.9.3.  Not sure prior to that.

## Detailed repro steps so we can see the same problem
[NuGet CLI config command documentation](https://docs.microsoft.com/en

[2019-06-13 14:07] dtivel opened #8224 "Test: tests leak certificates"
Some package signing tests leak certificates by adding them to the local machine's certificate store but then never removing them.

[2019-06-13 16:10] JohanLarsson opened #8225 "Pack analyzer with helper lib"
I have `Analyzer.dll` `Analyzer.Helpers.dll`, is there a way to pack it so that it works when consumed with nuget.exe?

Sample package: https://www.nuget.org/packages/PropertyChangedAnalyzers/
It relies on install.ps1 for adding the helper library but it breaks when updating the package if more than one analyzer using the helper library is installed. But that is another bug.

[2019-06-13 16:32] whvanderpost commented on #6140
I'm also experiencing problems with the nuget restore (from within a Dockerfile) on an Ubuntu 18.04 LTS build machine. It runs the build agent from Azure DevOps Express 2019 Update 1. When I run the agent on a Windows 10 Pro machine all works well with the same Dockerfile. Keep in mind the TFS server and build agents/machines all run on premise.

There is a NuGet.config file, but to be sure I trie

[2019-06-13 17:07] rrelyea commented on #6140
can you add -verbosity:normal to see more info, including whether or not those 2 sources are getting used by seeing the details in the logs?

[2019-06-13 17:16] nkolev92 commented on #8222
They feel like different commands :) Personally think error is better. Do we see a scenario where doing this makes sense?

Regardless though, currently the behavior is respecting ForceEvaluate and not considering RestoreLockedMode, which is counter to both our expectations.

[2019-06-13 17:24] nkolev92 commented on #8220
Oh I see. You are calling the tasks that NuGet.exe carries.

Yeah this scenario was not considered at all. I'm not sure we'd want to support it either way.
VSINSTALLDIR is not always set, and you can always use the environment variable to specify the plugins.
Also in some rare case VSINSTALLDIR could be different from the NuGet assemblies' VS installation.

@rrelyea @dtivel thoughts?

[2019-06-13 17:32] whvanderpost commented on #6140
Also using 2.2.300.
Below is part of the log that contains the restore command, I've removed some descriptions...
Also, when I put the URL that it tries to reach (http://private.nuget.repo/nuget/FindPackagesById()?id='[package name]'&semVerLevel=2.0.0) in a browser I get an XML feed with all versions of our package. Does the &semVerLevel argument maybe ruin it? Since the latest version of our pack

[2019-06-13 17:36] dtivel opened #8226 "Package Manager Console: becomes unusable if used in an empty solution"
Package Manger Console (PMC) becomes permanently disabled (for that Visual Studio instance) if it is used in an empty solution.  Visual Studio must be restarted for PMC to become usable again.

**Repro steps:**
1.  Launch Visual Studio.
2.  Open PMC.
3.  In Visual Studio open a file (e.g.:  a text file or a PowerShell script) but not a solution or project.
4.  In PMC execute:  `get-help NuGet`

**

[2019-06-13 17:38] anangaur commented on #8222
There is a corner case but I think for now, an error should be good enough.

[2019-06-13 17:39] anangaur commented on #8222
Just to add `/p:LockedMode="true"` is the repeatable build promise on CI/CD machines and should not be broken. Hence I feel we should just fix this asap.

[2019-06-13 17:42] nkolev92 commented on #8222
fyi @rrelyea

//cc @NuGet/nuget-client If anyone is interested in taking this in week 3.
It's a simple fix, but a nice entry into the lock file/PR restore space.

[2019-06-13 18:08] jeffkl commented on #8220
I completely agree its a weird scenario but its something that we need to have working.  Any time there's a bug fix that hasn't been released, it'll allow us to put in place a temporary workaround until there's an official release.

[2019-06-13 18:21] nkolev92 commented on #8220
NuGet inserts frequently into VS. Why not take a dependency on the internal VS release channel?

[2019-06-13 18:27] donnie-msft opened #8227 "Complete 5.2.0.6045 SDK Insertion"
Complete 5.2.0.6045 SDK Insertion

[2019-06-13 18:27] jeffkl commented on #8220
I need a way to make it work in hosted and local builds.  I cannot ask everyone who hits the issue to install a Preview version.  I need to make a targeted fix for a repository and have it work for everyone.

[2019-06-13 18:27] donnie-msft opened #8228 "Complete 5.2.0.6045 CLI Insertion"
Complete 5.2.0.6045 CLI Insertion

[2019-06-13 18:28] donnie-msft opened #8229 "Complete 5.2.0.6045 Toolset Insertion"
Complete 5.2.0.6045 Toolset Insertion

[2019-06-13 18:28] donnie-msft opened #8230 "Complete 5.2.0.6045 VS Insertion"
Complete 5.2.0.6045 VS Insertion

[2019-06-13 18:36] donnie-msft opened #8231 "Open VS without any project creation, there is no nuget.org feed."
## Details about Problem
VSTS Bug: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/917743
The latest daily build of VS doesn’t initialize a source pointing to nuget.org

Figure out all the paths when we add nuget.org to the config files and when this is broken.

## Detailed repro steps so we can see the same problem

INSTALL STEPS
(copied from linked VSTS  Bug)

1. Clean machine: Win 7 x64

[2019-06-13 18:51] nkolev92 commented on #8220
How do you deal with bugs in other parts of the tooling then?

[2019-06-13 19:09] dtivel commented on #8220
How about updating the `NUGET_PLUGIN_PATHS` environment variable?  That seems like an easy, flexible solution, and it's already available.

[2019-06-13 19:41] jeffkl commented on #8220
It depends on the component.  In some cases there are bugs in features we're attempting to adopt so we delay adoption.  In other cases the build logic is delivered as a NuGet package so we'll use privately built, non-released packages.  This is the first time we've hit an issue with NuGet and needed to work around it in this way.

For local builds, we do not require any special environment.  Setti

[2019-06-13 19:47] #8138 closed, assigned to donnie-msft

[2019-06-13 20:07] #8224 closed, assigned to dtivel

[2019-06-13 21:58] donnie-msft commented on #8223
Was able to repro in mentioned versions and also NuGet Version: 4.4.3.5892.

[2019-06-13 22:04] #8217 closed, assigned to nobody

[2019-06-13 22:49] donnie-msft commented on #8216
There's no significant impact beyond the order in which the packages are restored. Either way, they should all get restored. By default, packages and dependencies are added alphabetically, so likely yours were manually modified, anyway.

[2019-06-13 22:56] nkolev92 commented on #8220
It's the entry point that makes the decision about the discovery of the internal plugins.

So the restore task has one logic, the nuget.exe restore command has other logic.
The restore task assumes it's in the commonextensions directory NuGet installs into. NuGet.exe restore uses the VS instance of the msbuild version it discovers.  So the parity exists, and works exactly as designed.

The idea he

[2019-06-13 22:57] rrelyea commented on #8225
I followed the steps here: https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sdk/tutorials/how-to-write-csharp-analyzer-code-fix
then i added sdk style project to solution, that is the helperlib. (changed the TFM to NetStandard1.3 to match the analyzer project).
Then I packed the analyzer project.

Today, dotnet pack (and msbuild /t:pack) don't support automatically including all the files int

[2019-06-13 23:32] jeffkl commented on #8220
I disagree.  I'm using stock nuget in what I think is a stock way.  I'm setting a stock property to indicate that I want it to use my version of nuget.exe.  nuget.exe does not ship with Visual Studio and its the only way to restore `packages.config`.  And its an easy way to temporarily use unreleased bits or bits that haven't yet been posted.

Are you saying that this won't get fixed?  I'll need t

[2019-06-13 23:34] #8218 closed, assigned to dtivel

[2019-06-13 23:40] nkolev92 commented on #8220
`NUGET_PLUGIN_PATHS` is the big hammer workaround for these tricky situations.

I'm not claiming either way whether this would get changed or not, just trying to clearly understand the scenario.

There are concerns with this workaround too. It doesn't fix any Visual Studio issues.

[2019-06-13 23:45] anangaur commented on #8186
Related suggestion ticket: https://developercommunity.visualstudio.com/content/idea/598559/webassembly-tfm.html

[2019-06-13 23:47] anangaur commented on #5887
Related suggestion feature request on developercommunity: https://developercommunity.visualstudio.com/content/idea/538119/add-dependency-tree-view-for-packagereferences.html

[2019-06-13 23:51] vsfeedback opened #8232 "nuget favorites list"
VSF_TYPE_MARKDOWNAllow to save favorites nuget package. This will allow to quickly add nuget to new projet.

In my dev job, I often create simple small project from the ground up. And when doing this, I usually add always the same few nuget package. Having a fav list will allow me to get easy access to this packages

_This issue has been moved from https://developercommunity.visualstudio.com/conte

[2019-06-13 23:52] donnie-msft commented on #8208
Looks like we may not support this yet. Here's the Roslyn documentation about Additional Files: https://github.com/dotnet/roslyn/blob/master/docs/analyzers/Using%20Additional%20Files.md

[2019-06-13 23:53] vsfeedback opened #8233 "Use "$(SolutionDir)\packages\" Instead of Relative Path For Nuget Package References HintPaths"
<p>My team members each have their own solution (.sln). Some developers manage a larger scale solution while others manage a smaller area of the entire scheme. Some developers include unit test projects in their solution while others don't. Currently, if someone references a package from NuGet, the proj file's hint paths get set to a relative path of the solution that was open when the package man

[2019-06-14 03:42] txwizard commented on #8192
No. I just ran configure.ps1 -force from a PowerShell prompt that I launched from an elevated CMD.exe prompt. Following is the entire transcript.

Microsoft Windows [Version 10.0.17763.437]
(c) 2018 Microsoft Corporation. All rights reserved.

C:\WINDOWS\system32 2019/06/13 22:29:47.69>pushd F:\Source_Code\Visual_Studio\Projects\NuGet

F:\Source_Code\Visual_Studio\Projects\NuGet 2019/06/13 22:29:5

[2019-06-14 07:19] JohanLarsson commented on #8225
What does the package layout and nuspec look like?
And did you try consuming the analyzer using nuget.exe in Visual Studio?

[2019-06-14 14:31] brennt commented on #3324
i cant believe there is no solution. i cant install npm in my solution (130 chars for project and svn stuff). this is incredible that 1. path can be max 260c long, 2. npm needs more than 130 chars to intstal itself...

the workaround above does not work in VS2015 and vs2017

[2019-06-14 14:52] sharwell commented on #8225
@JohanLarsson The scenario already works well when using `<PackageReference>` (does not rely on install.ps1).

1. Does the problem still occur for projects using PackageReference?
2. Have you verified that Analyzer and Analyzer.Helpers have a strong name *and* that the strong name changes with every build (e.g. by incrementing the AssemblyVersion number)?

[2019-06-14 14:57] NN--- commented on #3324
@brennt I solved this with own NuGet package where I run [url=https://www.npmjs.com/package/flatten-packages]flatten-packages[/url] before packaging.
I agree it is not a solution but possible workaround.

[2019-06-14 15:11] JohanLarsson commented on #8225
I have no tried it with `PackageReference`.
It works well when consumed with paket.exe.

Not sure about strong name, both are signed if that has anything to do with anything.

[2019-06-14 15:39] StingyJack commented on #5602
@anangaur - Yet it was OK to start breaking/normalizing version numbers in a minor release?

[2019-06-14 17:01] nkolev92 commented on #8192
I have never seen issues like these before.

The `F:\Source_Code\Visual_Studio\Projects\NuGet\Nuget.Client.nuget\nuget.exe restore F:\Source_Code\Visual_Studio\Projects\NuGet\Nuget.Client.nuget\packages.config` step should restore the packages.config and that is effectively the bootstrapping that is required.

Can you run that manually

The global packages folder, the user wide packages directory

[2019-06-14 17:09] nkolev92 commented on #8233
One option is to put a NuGet.Config in the common path for all the solutions and set

[code]

SolutionDir is not used because it cannot work when you are building the csproj directly.
I'd suggest a won't fix for this. @anangaur

[2019-06-14 17:18] donnie-msft commented on #8227
[PR Open w/ Failed Tests for master from nuget.client.release-5.2.0.6045-1-master-1](https://github.com/dotnet/sdk/pull/3323)

[PR Approved for release/2.1.8xx from nuget.client.release-5.2.0.6045-1-release/2.1.8xx-1](https://github.com/dotnet/sdk/pull/3322)

[PR for Approved for release/2.2.4xx from nuget.client.release-5.2.0.6045-1-release/2.2.4xx-1](https://github.com/dotnet/sdk/tree/release/2.

[2019-06-14 17:22] donnie-msft commented on #8228
[PR Merged into release/2.1.8xx from nuget.client.release-5.2.0.6045-1-release/2.1.8xx-1](https://github.com/dotnet/cli/pull/11537)

[PR Merged into release/2.2.4xx from nuget.client.release-5.2.0.6045-1-release/2.2.4xx-1](https://github.com/dotnet/cli/pull/11536)

[PR Merged into master from nuget.client.release-5.2.0.6045-1-master-1](https://github.com/dotnet/cli/pull/11538)

[2019-06-14 17:22] #8228 closed, assigned to donnie-msft

[2019-06-14 17:23] donnie-msft commented on #8229
[PR Merged into master from nuget.client.release-5.2.0.6045-1-master-17](https://github.com/dotnet/toolset/pull/1197)

[2019-06-14 17:24] #8229 closed, assigned to donnie-msft

[2019-06-14 17:27] donnie-msft commented on #8230
Bug: [916956](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/916956)
Insertion PR: [186032](https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/186032)

[2019-06-14 17:50] anangaur commented on #8233
Thanks @nkolev92 for the workaround. I agree we need not fix this as the alternative should just work fine.

[2019-06-14 18:07] glibnub opened #8234 "Installing a DotnetPlatform package locally"
## Details about Problem

NuGet product used: `nuget.exe`

NuGet version:  5.0.2.5988

dotnet.exe --version : 2.1.602

VS version: 2019

OS version: Windows 10 1809 (17763.557)

Worked before? No

## Detailed repro steps so we can see the same problem

1. Run the command to install package locally from the CLI:

[code]

Notice that the process will fail with:

[code]

Is there a way to install a `

[2019-06-14 18:16] nkolev92 commented on #8234
Unfortunately there's no super straightforward way.

This is a duplicate of https://github.com/NuGet/Home/issues/6849.

As a messy workaround you can try adding it to a project, where it will end up in the global packages folder, and pick it up from there.

[2019-06-14 18:16] #8234 closed, assigned to nobody

[2019-06-14 18:29] nkolev92 commented on #5957
Initial thoughts on this at https://github.com/NuGet/Client.Engineering/pull/97.
Still deliberating and discussing.

[2019-06-14 18:34] dtivel opened #8235 "Package Manager Console: UI delay updating "Default project" combobox selected value"
Internal bug 634844.

Package Manager Console updates its "Default project" combobox selected value synchronously by transitioning to the main thread, fetching the default project --- which may block on building NuGet's project cache ---, and then getting the name of the project.  This operation can incur significant UI delays, especially during solution load of a large solution.

[2019-06-14 19:35] dtivel opened #8236 "Test: some tests do not clean up test certificates from certificate store"
Some package signing tests fail to clean up test certificates that they added the local machine's certificate store.
[code]

[2019-06-14 19:56] #8230 closed, assigned to donnie-msft

[2019-06-14 21:07] donnie-msft commented on #8227
Per Livar on 6/14/19, Failed Tests for Master branch is not a concern:  "will just have to jump through a few hoops to get that in."

[2019-06-14 21:07] #8227 closed, assigned to donnie-msft

[2019-06-14 22:00] chadwixk commented on #7848
Hello @nkolev92 , unfortunately I can't upload a project prior to migration. Our software is large enterprise software that we don't want a copy of out there.

Though I'm a developer, I am very weak when it comes to things external to the code itself, like build files, references, etc. So I'm not sure what you mean by "How is the targets file imported?" This project was setup a while ago and alway

[2019-06-14 22:01] donnie-msft commented on #8232
Duplicate of https://github.com/NuGet/Home/issues/7468

[2019-06-14 22:01] #8232 closed, assigned to nobody

[2019-06-14 22:08] #8216 closed, assigned to nobody

[2019-06-15 00:14] mwpowellhtx opened #8237 "NuGet pack is including everything in my project directory"
My environment is as follows:

NuGet version: 4.9.3.5777
Visual Studio 2017
Windows 7 Pro x64

I am running *NuGet* during my build process because I have to. This is in a project that has a dependency against ``xunit.core``, which does not want to be built via conventional nor contemporary build steps. So I am finding that I must furnish my own ``nuspec`` to workaround that issue.

Anyway, the as

[2019-06-15 02:02] mwpowellhtx commented on #8237
I'm figuring it out, this seems to be better behaved. However, I'm not sure why the project is failing to package in the first place as a natural build output. The only thing I can fathom is that the ``xunit.core`` dependency prohibits that for whatever reason. However, I can promise you, I *want* it packaged; that is by design.

[code]

[2019-06-15 02:28] dsplaisted opened #8238 "Reference metadata is not preserved if NuGet packages add duplicate Framework Reference"
Metadata on `Reference` items is lost if the references are replaced by a reference from a NuGet package.  For example, in a .NET 4.7.2 project with the following:

[code]

And with the following code:

[code]

Will fail to build, because NuGet will try to replace the `Reference` to System.Net.Http with the version of that DLL that comes from the NuGet package, and the Aliases information is lost.

[2019-06-15 08:23] liciniomendes commented on #6324
Same problem with VS 2019 (16.1.1) and .NET Core 3.0.0-preview5-27626-15.

Unload and reload the project solved the problem.

[2019-06-15 11:08] rrelyea opened #8239 "`dotnet list package` and `msbuild /t:<any target>` fails to run on nuget.sln"
.Net SDK 2.2.300

clone https://github.com/nuget/nuget.client
cd \nuget.client
dotnet list package   (which will execute on nuget.sln)

Output:
error: Parent project GUID not found in "NuGetConsole.Host.PowerShell" project dependency section.  C:\repos\nc-dotnetlist\NuGet.sln

Expected:
dotnet list package to list packages each project in the solution has.

[2019-06-15 12:38] jp2images commented on #8182
Sure thanks.

[2019-06-15 12:38] #8182 closed, assigned to nobody

[2019-06-15 14:32] rrelyea commented on #8238
@nkolev92 has been looking at the external problem

[2019-06-15 16:11] mwpowellhtx commented on #7601
I concur, this is still blocking an extensionless LICENSE file.

[code]

[code]

Which yields:

[code]

[2019-06-15 16:18] mwpowellhtx commented on #7601
Further, ``dotnet pack`` is only using ``PackageLicenseExpression`` completely ignoring ``PackageLicenseFile`` when that has been specified. This is not a *documentation* issue, but a failure to execute.

[2019-06-15 16:43] mwpowellhtx commented on #7601
This is kind of a kluge workaround IMO:

[code]

And so on...

[code]

Which we do end up with the License File in the *package nuspec*:

[code]

However, to include a *deprecateLicenseUrl* there as well is unprofessional, Microsoft. How do we torpedo that output?

[code]

[2019-06-15 16:51] txwizard commented on #8192
Maybe we are finally making some progress. Following is a transcript of the elevated command prompt session.

Microsoft Windows [Version 10.0.17763.437]
(c) 2018 Microsoft Corporation. All rights reserved.

C:\WINDOWS\system32 2019/06/15 11:46:23.23>pushd F:\Source_Code\Visual_Studio\Projects\NuGet\NuGet.Client

F:\Source_Code\Visual_Studio\Projects\NuGet\NuGet.Client 2019/06/15 11:46:44.08>F:\Sou

[2019-06-15 20:16] mattleibow commented on #7956
I also noticed this on Ubuntu 18.04 and msbuild 16 with .net core 2.2.300. I tried a few of the earlier versions of the dotnet-sdk, but had to drop down to 2.2.105.

Not sure if this helps.

[2019-06-16 11:37] knocte commented on #7956
Matt, that issue in visualstudio.com has been marked as resolved, I guess because VS4Mac8.1 is out now in the stable channel, which has a fix for this. However, this covers only the part of the story when building from the IDE, not from the command line.

Any chance this fix could make into the 5.18 stable branch of mono? The stable channel in macOS is still on version 5.18.1.28 and I doubt an upd

[2019-06-16 12:51] mrward commented on #7956
.NET Core 2.1.602 should be OK with Mono 5.18.1.28.

There is a matrix of supported VS Mac and .NET Core versions documented:

https://docs.microsoft.com/en-us/visualstudio/mac/net-core-support?view=vsmac-2019

I believe there is a plan to produce a some similar document, as shown above, but for Mono.

As of today the current VS Mac to Mono mappings are:

 - VS Mac 8.0 => Mono 5.18.1.3
 - VS Mac 8

[2019-06-16 18:23] engmsaleh commented on #5358
Restart didn't work for me :(

[2019-06-17 08:32] knocte commented on #7202
Alright, I found a fix for this, which I proposed as a PR here: https://github.com/NuGet/NuGet.Client/pull/2891

Now I will investigate my next issue: https://github.com/NuGet/Home/issues/6735

[2019-06-17 09:02] per-samuelsson commented on #7001
Also hit by this. Running simple `dotnet pack` on a project file with `<PackAsATool>` being set, and on .NET Core 3.0 Preview.

Here's the environment:

[code]

[2019-06-17 09:21] knocte commented on #7956
I just tested mono 5.20.1.19 (tarball Thu Apr 11 09:02:17 UTC 2019) with .NETCore 2.1.700 and still fails. Full build log here: https://gitlab.com/knocte/geewallet/-/jobs/232398170

[2019-06-17 09:43] mrward commented on #7956
Not sure what the status is of Mono 5.20 since it is on a different branch. Possibly MSBuild has not been updated on that branch. /cc @radical

Not seeing that error on the Mac. If you do something similar to the following what version do you get?

` monodis --assembly /path/to/mono/msbuild/Current/bin/NuGet.Packaging.dll | grep Version`

Also what does `msbuild -version` show?

Mono 5.18.1.28 use

[2019-06-17 12:53] knocte commented on #7956
The stable channel of the apt repository is yielding this version.

This:
[code]

There are many files called this way, which one should I monodis?:

[code]

[2019-06-17 13:02] mrward commented on #7956
I ran monodis on NuGet.Packaging.dll. However I can see from that list of files that MSBuild is not up to date there. With Mono 5.18.1.28 there is no NuGet.Packaging.Core.dll. So I suspect NuGet 4.8 is being used.

[2019-06-17 13:16] brennt commented on #3324
Hey, I dont see how can this help? I am trying to install NPM from nuget packet manager console and I get error. I don't want to manually edit packages so unless I can download it flattened its not really a solution ;(

If VS does not allow paths longer than 260chars then it should not allow adding packets with longer structure than eg. 150 chars... and include this info in package description.

[2019-06-17 13:28] NN--- commented on #3324
You can create your own NuGet package containing npm.
Or install npm using other method not involving NuGet which supports long path.

[2019-06-17 14:13] ermshiperete commented on #7956
Yes. Mono 5.20.1.19 seems to include NuGet 4.8:

[code]

[2019-06-17 15:53] ViktorHofer commented on #6279
We are also hitting that in corefx now. Seems like this issue is stale?

[2019-06-17 17:22] nkolev92 commented on #7848
Restore/build starts with a project file (the csproj), then it processes the file line by line, anywhere it sees something like:
https://github.com/NuGet/NuGet.Client/blob/cb2efdbe978cd1206e14490e5a0ced30cfcebdad/src/NuGet.Core/NuGet.Common/NuGet.Common.csproj#L2
https://github.com/NuGet/NuGet.Client/blob/cb2efdbe978cd1206e14490e5a0ced30cfcebdad/src/NuGet.Core/NuGet.Common/NuGet.Common.csproj#L3

[2019-06-17 17:49] nkolev92 commented on #7601
@mwpowellhtx

There is a simpler solution. This is how paths have been treated in nuget/msbuild for a while. Changing it would be a huge breaking change.
https://github.com/NuGet/Home/issues/7601#issuecomment-450209731

Refer to the spec for that behavior: https://github.com/NuGet/Home/wiki/Packaging-License-within-the-nupkg
It is there for backwards compatibility.

If you do that the following wa

[2019-06-17 17:57] nkolev92 commented on #8213
Yes, NuGet always prefers ProjectReference over PackageReference.

Marking this as a docs issue.

[2019-06-17 18:10] nkolev92 commented on #8192
hmmm...here's the weird thing.

The path should ideally be:

Note the extra slash before .nuget
Can you try that? Add the extra slash.

I looked at the configure.ps1 script and it seems like the script does include the slash there, so not sure how that could've happened:
https://github.com/NuGet/NuGet.Client/blob/cb2efdbe978cd1206e14490e5a0ced30cfcebdad/build/common.ps1#L371

[2019-06-17 18:35] #8236 closed, assigned to dtivel

[2019-06-17 18:49] bergbria commented on #8187
@rrelyea / @nkolev92 - ping on whether there's any chance of a patch version or if we'll need to wait another month for 2.2.400.

[2019-06-17 18:58] mwpowellhtx commented on #7601
@nkolev92 This is effectively the workaround I've taken.

Coupled with other precautions. i.e. copied ``LICENSE`` to ``LICENSE.txt`` as a before build target, added ``LICENSE.txt`` to *Git-ignored* directories/files, and so on.

[2019-06-17 19:02] rrelyea commented on #8187
shipping a patch version of nuget.exe is all within our teams control. dotnet sdk patch versions aren't totally within our control.
if we shipped a patch nuget.exe, would that be usable for you? or do you only use dotnet.exe?

[2019-06-17 19:13] nkolev92 commented on #7601
You can always do the below if you are using dotnet pack

[code]

[2019-06-17 19:43] mwpowellhtx commented on #7601
@nkolev92 That did not work, assuming file system behavior, ``<PackageLicenseFile>License</PackageLicenseFile>`` is case insensitive, same as ``<PackageLicenseFile>LICENSE</PackageLicenseFile>``, and is the reason we are having this exchange in the first place.

[2019-06-17 21:12] nkolev92 commented on #7601
I'm not following the concern.
Why wouldn't my example work? The casing is consistent. I just tested it myself and I did not hit any problems.

Furthermore, what you are articulating is just how MSBuild works since it is case insensitive.
The property names are case insensitive. The values in them are case preserving for the consumer of the property.

[2019-06-17 21:16] jmoralesv commented on #7012
Hi all,
Today I came across this same issue while trying to recompile a .NET Core 2.1 solution I moved from an old hard disk to a new SSD for my development machine.

The old VS 2019 installation in the hard disk had a folder in this path: `C:\Microsoft\Xamarin\NuGet\`, which didn't exist on my installation with VS 2019. I saw that the `obj\project.assets.json` file still references the non existi

[2019-06-17 21:19] mwpowellhtx commented on #7601
@nkolev92 So, what you're telling me is MSBuild's treatment of property *values* is inconsistent (i.e. case sensitive) with how the operating system treats file names (i.e. case insensitive). All I'm saying is, file name and property named *LICENSE* did not work, I got the packaging error.

[2019-06-17 21:42] jDover01 commented on #7413
Has this been resolved? Facing same issue right now.

[2019-06-17 22:20] nkolev92 commented on #7012
The folder specified by C:\Program Files (x86)\NuGet\Config\Xamarin.Offline.config still didn't exist, so I'm not sure why do you expect that to change.
It's the creation of the folder that fixed it, not the assets file regeneration. Am I missing something?

[2019-06-17 22:34] nkolev92 commented on #7601
No, I'm saying it's the following. I'll illustrate with an example:

[code]

Reasoning: MSBuild evaluates top to bottom, and packagelicensefile is the latest declaration

[code]

[code]

The MSBuild property names are case insensitive.
The values inside are case sensitive. It's up to consumer to enforce the casing.
In the license pack case it's NuGet and the file system.

In MSBuild it's valid to

[2019-06-17 22:36] dominoFire opened #8240 "Deprecation efforts for `<iconUrl/>`, `<PackageIconUrl/>`"
Any effort for the deprecation process of <iconUrl/>, <PackageIconUrl/> in favor of embedding icons in NuGet packages will be listed in this issue.

- Update respective documentation
- Provide examples for migration
- Create short link

[2019-06-17 22:49] rrelyea commented on #7413
@puhovalexey or @jDover01 - do you see the same problems if you run dotnet restore, instead of dotnet publish?

Not sure if this is related: (from @peterhuene) -https://github.com/dotnet/cli/issues/7791#issuecomment-393756980

[2019-06-17 23:15] mwpowellhtx commented on #7601
@nkolev92 No, you are missing the point. ``<PackageLicenseFile>LICENSE</PackageLicenseFile>`` fails to package. It is because the file apparently cannot be called ``LICENSE``. Or if there is some internal machinery in MSBuild itself, it is case sensitive and wants ``License``, but this is inconsistent with the operating system naming convention. Anyway, we have an adequate, at best, workaround.

[2019-06-18 03:26] puhovalexey commented on #7413
@rrelyea I can double check tomo but based on @bradgyton message from Nov 2, 2018 dotnet restore has the same problem:

[2019-06-18 03:37] VivaLaPanda commented on #1823
+1 if I'm maintaining a package and release an update, I want users to have an easy way to see whether they should update. This seems like a basic feature and a really simple change.

[2019-06-18 11:00] knocte commented on #7956
I confirm with @ermshiperete sees:
[code]

You mean in macOS? Because I'm guessing the scripts that were used to package mono 5.18 on the apt repository are the same ones that package the 5.20 version.

There must be a difference somewhere around how mono is packaged on Linux vs macOS, for them to have different versions of nuget. I'm guessing we have to ping @directhex to help us fix this?

Just

[2019-06-18 13:02] jmoralesv commented on #7012
No, you're not missing something. However, I wonder why I have to create that folder manually. I think Visual Studio, the .NET Core SDK or something else is actually missing something.

[2019-06-18 13:05] ermshiperete commented on #7956
Looking at the [repo that I guess is used to build Linux packages](https://github.com/mono/linux-packaging-msbuild/) it seems that the problem is fixed but the package not released yet.

[2019-06-18 14:30] knocte commented on #7956
If that nuget version is already released in the stable channel (not beta) for macOS, shouldn't Linux be in sync? Why is macOS's NuGet 5.x while Linux's is 4.x, but Linux's mono is 5.20.x while macOS's is 5.18.x? Food for thought :)

[2019-06-18 15:47] nkolev92 commented on #7012
The idea is whichever tool added the config should create the folder as well.
NuGet does not really control this work.

@rrelyea
We have marked this as external. There's not much NuGet can do, other than add validation to fail at restore time if the fallback folder is not present.
However, the current error message is very descriptive and might not need changes.
Thoughts?

[2019-06-18 17:08] livarcocc opened #8241 "dotnet nuget push --no-symbols requires option value while documented as switch"
_From @basbossink on Tuesday, June 18, 2019 4:36:21 PM_

## Steps to reproduce

Run
[code]

## Expected  behavior
Packages successfully pushed to NuGet.

## Actual behavior
`dotnet nuget push` returns:
[code]
Changing the above command to:
[code]
gives the expected result.

## Environment data
`dotnet --info` output:
[code]

_Copied from original issue: dotnet/cli#11580_

[2019-06-18 17:19] basbossink commented on #8241
This looks like a duplicate of #4864 . Sorry I searched through to dotnet/cli repository to find a similar issue, but did not find one.

[2019-06-18 18:26] heng-liu commented on #8237
Thanks for reporting this issue!
I tried to repro but failed (packed without xunit.core related dlls successfully)
Can you please provide the following info so that we can repro? Thanks!
1.Are you using PackageReference or packages.config format?
2.Detailed repro steps.

[2019-06-18 18:32] heng-liu commented on #8241
You're right. No problem. Closed as a duplicate of #4864.

[2019-06-18 18:32] #8241 closed, assigned to nobody

[2019-06-18 18:56] mwpowellhtx commented on #8237
I sorted it out, but to be honest I'm not sure what the `solution´ actually was. I think it had something to do with correct comprehension of my licensing file(s), but I cannot say exactly. Closing for now, but it might be something to keep an eye on, i.e. why would MSBuild and/or ``nuget pack`` want to include everything in a package?

[2019-06-18 18:56] #8237 closed, assigned to nobody

[2019-06-18 20:05] puhovalexey commented on #7413
@rrelyea I have double checked and both 'dotnet publish' and 'dotnet restore' give the same error:
`
C:\Program Files\dotnet\sdk\2.2.300\NuGet.targets(121,5): error : The local source 'C:\test\https:\api.nuget.org\v3\index.json' doesn't exist. [C:\test\test.csproj]
`

That's what I did:
1. docker run --rm -ti mcr.microsoft.com/dotnet/core/sdk:2.2-nanoserver-1803
next commands inside a container
2.

[2019-06-18 20:08] puhovalexey commented on #7413
@rrelyea interesting thing I repeat the same on linux container `mcr.microsoft.com/dotnet/core/sdk:2.2-stretch` and it works fine so probably there are some differences between windows and linux

[2019-06-18 21:01] heng-liu commented on #8237
If it's packages.config format, and you use .nuspec to pack, it should get the files you specified in <files> only. You may refer to this document: https://docs.microsoft.com/en-us/nuget/reference/nuspec#including-assembly-files

Usually, the path after "src="  is relative to the .nuspec file. So I'm not sure if "my.assembly.*" is the correct path.
And if you want to exclude some files and include

[2019-06-18 22:16] mwpowellhtx commented on #8237
@heng-liu Only partially correct. And, no, I do not use package.config any more, at all, unless I have to, like I am working on a legacy project. However, most projects I work on these days are targeting at least ``netstandard`` at some version, usually ``2.0``, but sometimes ``1.1``, ``1.3``, etc, or ``netcoreapp``. To work around the ``LICENSE`` file issue, for instance, one has to do some work

[2019-06-18 22:17] #8239 closed, assigned to rrelyea

[2019-06-19 00:41] steelcg commented on #6978
This my successful soulution:
1. download the nuget.exe from[ www.nuget.org](www.nuget.org)
2. excute command:
```nuget config -Set http_proxy="http://proxy.com:port" -Set http_proxy.user="username" -Set http_proxy.password="password"```
3. then you can see some configs in nuget.config file.
4. try to exec "dotnet add " command and you will get the success.

i think the most important thing is the

[2019-06-19 04:57] tebeco commented on #6978
or never enter either username and password.
open an issue on github and ask if it's possible to let the httpclient handle the NTLM Challenge properly using the current user for the NetworkCredential.

that way you never need to specify either a password or a username.

[2019-06-19 08:26] LoremipsumSharp opened #8242 "'Unable to load the service index for source https://api.nuget.org/v3/index.json' in `dotnet restore` in Kubernetes with Jenkins slave pod"
I am running CI with Jenkins slave pod in Kubernetes.The pipeline definition as follow(I have omitted the less important parts):
[code]
When executes **dotnet restore** ,Nuget complains about:
[code]
I wrote a simple console application to test the connective to the [https://api.nuget.org/v3/index.json](https://api.nuget.org/v3/index.json), the exception is thrown
[code]
however, if using curl to

[2019-06-19 09:10] xavierdecoster opened #8243 "Support package deprecation in PMUI"
See [spec](https://github.com/NuGet/Home/wiki/Deprecate-packages#visual-studio)

[2019-06-19 18:01] JarahSi opened #8244 "Add rule for build in package"
Add a warning for a build folder in a package with "<tfm>/library.dll" and recommend adding "lib/<tfm>/_._" for packages that don't want to be considered compatible for all TFMs

[2019-06-19 18:17] jDover01 commented on #7413
Yes. Whether I used dotnet restore OR dotnet publish on a sln file, I could not supply source arguments. Personally I was trying to restore a custom nuget package for my project. This nuget package lives on the same server that we use for our git repositories. I tried to modify the Nuget.config file for the given user that jenkins uses to log into that box, but that did not work as well.

My solut

[2019-06-19 21:12] bruno-garcia commented on #7939
Any update on this? We've got a certificate laying around since August last year but having to get a Windows VM just to run the signing (Thanks @onovotny for [SignService](https://github.com/dotnet/SignService/)) is not ideal.

[2019-06-19 21:22] tlmii opened #8245 ""NU5019: File not found" during pack for a file that exists on Ubuntu 18.04"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
dotnet.exe

dotnet.exe --version (if appropriate):
Whichever one is pulled down by the current version of dotnet/arcade (looks like 3.0.100-preview-010184)

OS version (i.e. win10 v1607 (14393.321)): Ubuntu 18.04.2 on WSL2 on Win 10 10.0.18917.1000

Worked before? If so, with which NuGet versio

[2019-06-19 21:42] heng-liu commented on #8242
Hi, thanks for reporting this issue.
Can you please try this out?
https://docs.microsoft.com/en-us/nuget/faqs/nuget-faq#nugetorg-not-accessible

[2019-06-19 21:56] tlmii commented on #8245
I removed and recreated my Ubuntu install as a WSL1 install and the issue still exists.

I also installed Debian, as a WSL2 install, and the issue does **not** exist there.

So to recap:

- Windows 10: Works
- Ubuntu 18.04 on WSL1 on Windows 10: Does not work
- Ubuntu 18.04 on WSL2 on Windows 10: Does not work
- Azure DevOps Pipeline (Ubuntu 16.04?): Works
- Debian 9 on WSL2 on Windows 10: Works

[2019-06-20 01:06] rrelyea commented on #8245
Can u start by reporting this issue at https://github.com/aspnet/HttpRepl?

[2019-06-20 05:04] ericstj opened #8246 "Pack, and several other code paths, fails dependant on locale. Use RegexOptions.CultureInvariant"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
dotnet.exe

NuGet version (x.x.x.xxx):
5.2.0.6020

dotnet.exe --version (if appropriate):
3.0.100-preview6-012264

VS version (if appropriate):
n/a

OS version (i.e. win10 v1607 (14393.321)):
Ubuntu in WSL Version 10.0.18362 Build 18362

Worked before? If so, with which NuGet version:
don't know

## Detailed repro steps

[2019-06-20 06:01] #7579 closed, assigned to nobody

[2019-06-20 06:22] tlmii commented on #8245
Hi Rob - Our team actually owns that repo. But the problem is not specific to that repo. That was just an example so someone could reproduce it. The same thing happens with, as another example, https://github.com/aspnet/AspLabs (with that repo, it gets multiple errors, but they're all the same NU5019 for a file that does actually exist).

The error points to the PackTask in the NuGet.Build.Tasks.P

[2019-06-20 06:32] MikeRosoft commented on #7751
I believe that the reason why I was seeing this error is that the wixproj project was based on an old version of the project template (3.9 rather than 3.10). I have re-created the project using the most recent version of the Wix extension for Visual Studio 2017. So why the error is real, it will not affect the users under standard conditions.

The following lines:
    <WixTargetsPath Condition=" '

[2019-06-20 08:47] tmds commented on #5862
We have hit this issue here: https://github.com/dotnet/source-build/issues/1083
Fedora 30 isn't in the graph, so it doesn't derive from `fedora-x64`, but falls back to the generic `linux-x64`.

This is similar to the issue here: https://github.com/dotnet/corefx/issues/34316. Alpine 3.8 not in the graph, so it doesn't derive from `linux-musl-x64`, but falls back to the generic `linux-x64`.

It woul

[2019-06-20 12:42] Condor2708 commented on #6665
Same for me

[2019-06-20 14:18] loop-evgeny commented on #7842
Is there any progress on fixing this? Every time our TeamCity server starts a new VM the first build on that VM fails and has to be manually re-run and it's *really* annoying!

[2019-06-20 16:00] rainersigwald opened #8247 "msbuild restore followed by a msbuild RestoreLockedMode=true always fails"
_From @jabbera on Thursday, June 20, 2019 3:51:25 PM_

I would expect the following to always succeed.

[code]

On my machine it always fails with:
error NU1004: The packages lock file is inconsistent with the project dependencies so restore can't be run in locked mode. Please disable RestoreLockedMode MSBuild property or pass explicit --force-evaluate flag to run restore to update the lock file.

[2019-06-20 16:36] heng-liu commented on #8245
Hi, thanks for reporting this issue.
I reproduced successfully on Ubuntu 18.04.
And if I set LANG=en_US.UTF-8 (same with Ubuntu 16.04), the pack will succeed.

Can you help confirm if  the enviroment variable of "LANG" on the failed system(Ubuntu 18.04) is set to C.UTF-8?

[2019-06-20 17:07] tlmii commented on #8245
Yep, that works for me. Interesting. So what's the long-term fix for this? Was that a change that Ubuntu plans to keep?

[2019-06-20 17:23] zivkan opened #8248 "Lazy<> with value factory needing UI thread causes deadlock"
The Visual Studio integration uses a `ICredentialService` [initialised needing the UI thread](https://github.com/NuGet/NuGet.Client/blob/686dd6b060639a0fb401eceb4c3a4029c1482023/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/IDE/VSSolutionManager.cs#L179-L185). However, by default [`Lazy<T>` locks the thread](https://referencesource.microsoft.com/#mscorlib/system/Lazy.cs,382) when calling

[2019-06-20 17:27] heng-liu commented on #8245
Not sure if it's missing proper LANG setting in WSL or we need to do some change on case insensitive comparisons. We may need futher discussion about the long-term fix.
Closed as a duplicate of #8246

[2019-06-20 17:27] #8245 closed, assigned to nobody

[2019-06-20 20:48] adaggarwal opened #8249 "source-build: Remove Newtonsoft.Json prebuilt from Nuget.Client"
CLI Prebuilts |   |  
-- | -- | --
Package | Version | Status
Newtonsoft.Json | 9.0.1 | Using non-source-built Version

[2019-06-20 20:58] adaggarwal commented on #8249
This tag needs to be changed to <NewtonsoftJsonVersion>
https://github.com/NuGet/NuGet.Client/blob/686dd6b060639a0fb401eceb4c3a4029c1482023/build/config.props#L39

Then update that tag instead of the hardcoded-versions/deprecated-tag for newtonsoft versions. Example:
https://github.com/NuGet/NuGet.Client/blob/686dd6b060639a0fb401eceb4c3a4029c1482023/build/sign.proj#L26

[2019-06-20 22:12] dtivel opened #8250 "Test: dispose test certificates"
`TrustedTestCert<T>` does not dispose [its certificate](https://github.com/NuGet/NuGet.Client/blob/686dd6b060639a0fb401eceb4c3a4029c1482023/test/TestUtilities/Test.Utility/Signing/TrustedTestCert.cs#L33).

[2019-06-20 22:12] heng-liu commented on #8247
Thanks. This is a duplicate of #8187. It's already fixed and should be released in preview3 soon.

[2019-06-20 22:12] #8247 closed, assigned to nobody

[2019-06-20 22:18] #8250 closed, assigned to dtivel

[2019-06-21 01:21] danpowell88 commented on #7699
It now seems to have changed slightly with more error detail

[2019-06-21 02:25] gregpakes commented on #7669
Here is a video showing removing a tiny package (**with no dependencies**) from 37 out of 246 projects in the solution.  It completely destroys productivity.  Same issue is for adding packages, upgrading packages etc etc (this is not a remove package specific problem).

Video attached here: https://1drv.ms/v/s!AtMMegtv-j6JieZerO6IKNyc5Lkt5Q

If the package is in many more projects, VS will crash m

[2019-06-21 09:47] launchpadbs commented on #1538
4 years later and still getting the same issue, is there a fix for this yet?

[2019-06-21 10:38] gulbanana commented on #8186
if the solution is to be something other than a new TFM that’s fine, but we do need a solution!

[2019-06-21 11:26] elgunva commented on #6887
PCM after command "dotnet run" can't exit just by pressing Ctrl+C In VS2019. Only way kill service from Task Manager.

[2019-06-21 14:55] anangaur commented on #1538
/cc: @karann-msft

[2019-06-21 15:19] eparizzi commented on #6665
Same here....

[2019-06-21 17:57] qxecutioner commented on #7216
Same in VS2019

[2019-06-21 18:28] anangaur commented on #1538
☝️  is one of the main scenarios for auto-loading the `nuget.config` file. At the minimum NuGet should not require a solution reload. IMO, the reload button should be overloaded to refresh the `nuget.config`s as well. We may need to also work on the positioning of the button to imply this overload.
![image](https://user-images.githubusercontent.com/14800916/59943615-8b13cc80-9417-11e9-92e7-fb952fb

[2019-06-21 19:27] #7351 closed, assigned to nkolev92

[2019-06-21 19:50] nkolev92 commented on #7351
Project system bug: https://github.com/dotnet/project-system/issues/4951
Project system PR: https://github.com/dotnet/project-system/pull/4952

[2019-06-21 23:10] bergbria commented on #8159
@nkolev92 - what's the status of this ask? Is it likely to gain any traction in the near future?

If your team is OK with it conceptually and just lacks time to implement it, I could code up a PR. I'd want to make sure we all agree on a design first, though.

[2019-06-21 23:24] nkolev92 commented on #8159
I have not analyzed the potential impact. Of the top of my head, I'm worried about how this behaves when the installation directories are mixed.

There's also the question of `how do we enable this`.
The global packages folder is user based, and shared among different projects.

@rrelyea can help prioritize as needed.

[2019-06-22 13:38] quadwrite commented on #3042
I have almost the same issue. I don't have any ComponentModelCache folder. :( How do I solve this?

[2019-06-22 13:50] quadwrite commented on #3042
Hello, Sir. I have gone to Tools > Extensions and Updated but then it says a warning, "Object reference not set to an instance of an object."

How should I solve this?

[2019-06-22 15:12] hubert-associates commented on #5358
Sad but true: nobody seems to be able to figure this show-stopper out. It has caused us to currently drop the entire windows-stack-container-approach and move to iot-edge on linux containers just so we can make some progress. We have tried all the "tricks" mentioned above. none of them work in our case, so not the root cause.

[2019-06-22 16:27] #8235 closed, assigned to dtivel

[2019-06-22 17:28] NightOwl888 commented on #6045
I managed to get this working using a variation of [this fix](https://github.com/NuGet/Home/issues/7524#issuecomment-442113609), except using MSBuild properties.

[code]
For some reason, the magic path `C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\` seems to fix the credential issue, but I haven't looked at the code to investigate why that is the case. Also, unlike the issues I am linking t

[2019-06-22 18:19] NightOwl888 commented on #6045
Unfortunately, that seems to only work because of a caching issue. I ran the restore using [nuget restore](https://stackoverflow.com/a/54696449), rather than dotnet restore to try it out. After that, dotnet restore worked. But on a new pipeline, it didn't work by itself because I didn't run nuget restore first.

Fortunately, this solution will work for me because I can just pass in the feed ID tha

[2019-06-23 07:36] NightOwl888 commented on #6045
## Workaround:

Using at least NuGet 4.8, run [`nuget restore`](https://stackoverflow.com/a/54696449) and either pass it the location of `NuGet.config` or pass the `vstsFeed` parameter (a GUID to your Azure Artifacts feed). This will cache the credentials, and will probably be enough if you only have one `TargetFramework` defined in your build.

However, if you are multi-targeting using `TargetFra

[2019-06-23 08:40] leastprivilege opened #8251 "[Feature Request] Disable caching for local/file system feeds"
For our builds we are using a local nuget feed to get dependencies from.

This local feed gets updated for every build - the version number of the packages do not always change.

Since nuget prefers the local cache (.nuget) over the file system source - we need to clear that cache manually all the time to make this work.

It would be nice if caching could be disabled on a per feed basis (especiall

[2019-06-23 08:45] hunglu commented on #912
I have those packages:
- MyDll.1.1.0-preview-0.0.1
- MyDll.1.3.0
- MyDll.1.3.2-preview-0.0.1
and I have configured in package reference in .csproj file
`<PackageReference Include="MyDll" Version="1.0.0-*" />`

and I got 1.1.0-preview-0.0.1 always when I run dotnet restore
anyone can help to explain why it cannot restore version 1.3.2-preview-0.0.1?

many thanks

[2019-06-23 17:41] txwizard commented on #8192
Please accept my apology for my tardy response; I've been a bit preoccupied.

When I got back to your message, I made the following discoveries.

1. The two path strings in the most recent reply from @nkolev92  are identical.

1. The path to the local copy of nuget.exe should be as follows

`F:\Source_Code\Visual_Studio\Projects\NuGet\Nuget.Client\nuget.exe`.

Line 371 in `common.ps1` is the signa

[2019-06-24 09:34] xavierdecoster opened #8252 "Define and add link behavior for deprecation alternate package in PMUI"
Need to define and add the behavior for clicking the hyperlink pointing to the alternate package in deprecation PMUI.

Consider emitting telemetry on "deprecated view" + "deprecation expand/collapse" and "alternative package click". Or some subset.

[2019-06-24 09:47] nex0ma commented on #8169
opensuse tumbleweed:

003dotnet/worker100> dotnet-sdk.dotnet run
/snap/dotnet-sdk/41/sdk/3.0.100-preview6-012264/NuGet.targets(123,5): error : Не удалось загрузить индекс службы для источника https://api.nuget.org/v3/index.json. [/b6w/003dotnet/worker100/worker100.csproj]
/snap/dotnet-sdk/41/sdk/3.0.100-preview6-012264/NuGet.targets(123,5): error :   The SSL connection could not be established, se

[2019-06-24 09:56] nex0ma commented on #8169
do not worked this projects:
-reactredux
-nunit
-grpc
-angular
-xunit
-nunit
-proto

Worked:
-console
-webapi
-web
-mvc
-blazor
-
-

[2019-06-24 17:21] pascalberger opened #8253 "nuget pack packs NUnit test adapter"
If a project contains NUnit test adapter v2 and a `nuget pack myproject.csproj` is called, nuget does add the files to the content folder. Defining the dependency to `NUnitTestAdapter` as `developmentDependency` does not help since the package imports `.props` files.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe

NuGet version (

[2019-06-24 17:22] nkolev92 commented on #6045
nuget.exe can restore multi targeting projects just fine.

dotnet.exe vs nuget.exe is more about whether you only have SDK based projects, vs a mix of packages.config, PackageReference common csproj and/or SDK style.

nuget.exe can do everything restore wise that dotnet.exe can.

[2019-06-24 17:28] nkolev92 commented on #8192
Oh the paths are different, it's markdown formating that got me. :)
If you look at the source they are different, I have fixed it so that it's apparent.

The link I provided to the script was to just show that the script is trying to call nuget.exe with the extra `\`.
https://github.com/NuGet/NuGet.Client/blob/cb2efdbe978cd1206e14490e5a0ced30cfcebdad/build/common.ps1#L381

Why do you think so?
The

[2019-06-24 17:40] #8135 closed, assigned to dominoFire

[2019-06-24 17:49] JarahSi opened #8254 "Validate dependency groups in nuspec"
Validate the dependencies found in the `lib` or `ref` folder in the nuspec

[Spec](https://github.com/NuGet/Engineering/blob/josi-pkgValidation/Client.Specs/PackageValidation/DependenciesInNuspecMatchLibRefFolder.md)

[PR](https://github.com/NuGet/NuGet.Client/pull/2936)

[2019-06-24 17:52] BennyH26 commented on #3171
Is there a solution or workaround here?

[2019-06-24 17:53] NightOwl888 commented on #6045
@nkolev92

Thanks. The reason I stated that is because when I tried it with `netstandard2.0;net461` the project failed to restore, and I made the assumption it was because there were multiple targets because the error message was:

`C:\Program Files\dotnet\sdk\2.2.105\Sdks\Microsoft.NET.Sdk\targets\Microsoft.PackageDependencyResolution.targets(208,5): error NETSDK1005: Assets file 'd:\a\1\s\tests\

[2019-06-24 18:06] nkolev92 commented on #6045
@NightOwl888

I might have an easier answer for that.
There are 2 ways in which NuGet can get credentials.

1. Explicitly passing the PAT to NuGet (currently, only possible through config file, the ask is to enable it through msbuild).
2. Use credential providers from the service provider (Azure DevOps, MyGet, Artifactory...) (there are 2 versions of commandline providers, 1 being cross plat and s

[2019-06-24 19:14] cristinamanum opened #8255 "[Centrally managing NuGet packages and versions] Requirements evaluation"
Gather the requirements and evaluate what needs to be done. Stage the requirements as necessary.

[2019-06-24 19:16] cristinamanum opened #8256 "Centrally managing NuGet packages and versions"
This epic tracks the work for
https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-packages-and-versions

[2019-06-24 19:19] cristinamanum opened #8257 "[Centrally managing NuGet packages and versions] Prototype (Visual Studio Integration)"
Create a prototype that will support design and features decisions.

| Index | Experience | Notes |
| --- | --- | --- |
| 1 | Integrate msbuild SDK solution to nuget | The integration worked with integration to nuget.targets. However this allows only managing centrally the package version without any VS or/and other tooling integration |
| 2 | Evaluate usage of a different item type(different than

[2019-06-24 19:21] rrelyea commented on #8231
@zivkan - u fixed last week, right? Please dupe, close, etc...

[2019-06-24 19:24] #8202 closed, assigned to donnie-msft

[2019-06-24 19:39] jessehouwing opened #8258 "Conditional package references and Locked Mode"
Looking for guidance here…
Say you have a solution that contains .NET core projects and that reference NuGet packages using <packagereference> in the project files. Say that these <packagereferences> are made conditional using the existing MsBuild constructs such as `<choose><when>`, `<packagereference condition=””>` or optional includes of targets files that contain the package reference…

Say I

[2019-06-24 19:42] rrelyea commented on #8253
Notes from doing repro:
- Build folder has many DLLs.
- Whether NuGet.exe pack or dotnet.exe pack runs, these files are treated as content.
- yes, devdependency doesn't appear to change behavior.

[2019-06-24 19:59] rrelyea commented on #8258
`NuGetLockFilePath` can be set to different values for different sets of restores.

See documentation for that property here: https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#lock-file-extensibility

[2019-06-24 19:59] #8258 closed, assigned to nobody

[2019-06-24 20:01] rrelyea commented on #8251
Are you using PackageReference or Packages.Config?

[2019-06-24 20:04] rrelyea commented on #8251
It is possible to use fallback folders to get this behavior today.
Configure a fallback folder via nuget.config.

NuGet will search the global package folder, then the fallback folders.
If either of those locations has the appropriate package, no package sources will be searched.
If the package was found in the fallback folder, it won't be copied to the global package folder.

[2019-06-24 20:05] rrelyea commented on #8249
@dominoFire  - please coordinate with @zivkan on options in this space until we move away from newtonsoft.

[2019-06-24 20:37] rrelyea commented on #8258
@jessehouwing said the following in a side email:
Thanks! Exactly what I was after. I’d been looking at the targets files for NuGet and could’t decipher the thing.

I’m going to try adding a macro expansion to the directory.build.targets to generate a project specific lock file that includes the tfs version in our case.

[2019-06-24 20:38] zivkan opened #8259 "Investigate migration from Newtonsoft.Json to System.Text.Json"
Investigate current usage of Newtonsoft.Json to be able to better estimate effort of migrating to System.Text.Json

In particular, look for public APIs that accept or return Newtonsoft.Json types and therefore we can't remove without breaking APIs.

[2019-06-24 22:08] bergbria opened #8260 "Locked-mode restore fails when a project's RuntimeIdentifier is changed"
## Details about Problem

dotnet.exe --version: Both 3.0.100-preview5-011568 and 2.2.204

## Detailed repro steps so we can see the same problem

### Automated repro
I've created a self-contained automated repro. You can run it by downloading
[repro_runtimeIdLockFile.zip](https://github.com/NuGet/Home/files/3322730/repro_runtimeIdLockFile.zip) and running repro.bat

### General behavior:
1. Create

[2019-06-25 00:33] #8233 closed, assigned to nobody

[2019-06-25 00:49] agr opened #8261 "NU5101 warning message repeats the recommendation"
[code]

If I make a nuspec that specifies that some .dll files are to be put directly under `lib` directory in .nupkg file, `nuget pack` produces the following warning:

Is it really necessary to essentially say the same thing twice in last two sentences?

[2019-06-25 00:50] agr commented on #8261
Sample `<files>` section:

[code]

[2019-06-25 01:10] bergbria opened #8262 "Locked-mode restore doesn't detect removed packages"
## Details about Problem

dotnet.exe --version (if appropriate): 2.2.204 and 3.0.100-preview5-011568

### Automated repro
I've created a self-contained repro. Download [repro_extraStuffInLockFile.zip](https://github.com/NuGet/Home/files/3323115/repro_extraStuffInLockFile.zip) and run repro.bat.

### General details

1. Create a .csproj with a PackageReference
2. `dotnet restore --use-lock-file`
3.

[2019-06-25 02:01] rrelyea commented on #8262
Understand how we should ensure all packages are the correct version.
Don’t know why we would want to protect against removals.
@anangaur

[2019-06-25 02:36] txwizard commented on #8192
That's where it is, but evidently, the script isn't using the said path to launch it.  Why is that?

[2019-06-25 03:19] SimonCropp commented on #7802
i am also getting it with `Microsoft.NET.Test.Sdk` version 16.1.1

[2019-06-25 04:27] SimonCropp commented on #8154
still getting this in `3.0.100-preview6-012264`. is that expected?

[code]

[2019-06-25 06:51] pascalberger commented on #8253
https://github.com/NuGet/Home/issues/6138 seems to be a similar issue (where something was packed because of imported `.props` files). In my case I also have a `.nuspec` file beside which contains a `<files>` section, but files from adapter will still be added.

While test projects normally don't be packed as NuGet packages, I think this might be a general issue with a certain kind of packages. Th

[2019-06-25 09:57] wmorian commented on #8154
I can confirm that:
[code]

[2019-06-25 10:32] NinjaCross commented on #7842
Same problem here
C:\Program Files\dotnet\sdk\2.2.300\NuGet.targets(121,5): error : Problem starting the plugin 'C:\TeamCity\buildAgent\plugins\nuget-agent\bin\credential-plugin\netcoreapp2.0\CredentialProvider.TeamCity.dll'.

[2019-06-25 12:29] amosonn commented on #7860
I get the same errors, using the `mcr.microsoft.com/dotnet/core/sdk:3.0.100-preview5` docker container on ArchLinux.
Running `dotnet --info` inside the container gives:
[code]

[2019-06-25 14:22] AArnott commented on #8143
@nkolev92 Ping. Can you please answer my last question? Today I'm seeing over a dozen warnings in my nerdbank.streams repo's build because of this. It's very annoying and keeps me from noticing the real issues. Will this be fixed simply by a change to global.json to use the 3.0 SDK, even though I'm still targeting netstandard1.6?

[2019-06-25 14:24] bencyoung commented on #7213
Is this possible to hack up as a custom task without re-writing all of the MsBuild NuSpec generating code? It makes it hard to do proper semantic versioning at the project level if you can't control the dependency ranges generated for ProjectReferences...

[2019-06-25 17:03] bergbria commented on #8262
This isn't a must-have feature. That said, consider this scenario:

1. Person A removes a bunch of packages from a bunch of projects but doesn't submit the lock file changes since the build doesn't enforce it.
2. Person B changes nothing related to packages but does run a restore/build command that causes the lock files to be updated.

It's a bizarre experience for Person B to suddenly have an arb

[2019-06-25 17:29] #8114 closed, assigned to zivkan

[2019-06-25 18:00] IdeaHunter commented on #7830
it not fixed, please reopen
vs version 16.0.4
![it removes new packages](https://user-images.githubusercontent.com/10799080/60121445-bede5180-978b-11e9-91ab-2253b7604d7e.gif)
also, it even returns back packages that was deleted
![it ressurrects removed packages as well](https://user-images.githubusercontent.com/10799080/60121622-301e0480-978c-11e9-8455-03199e90c722.gif)

[2019-06-25 18:14] IdeaHunter commented on #7830
Restart wasn't working as a fix, neither deletion of packages, also i wast able to double click on project to see which packages it has in .proj file.
The workaround that made it work for me is to do 'Close All Documents'. After they closed im no longer have a problem.

[2019-06-25 18:40] dominoFire commented on #8249
@adaggarwal Hi. What can I do is to grab the value from $(NewtonsoftJsonVersion) and assign it to `<NewtonsoftJsonVersionCore/>` in case the $(NewtonsoftJsonVersion) property is defined. Does that work for source-build?

[2019-06-25 19:04] adaggarwal commented on #8249
Hi @dominoFire, I think that it should be good for source-build. Thank you!

[2019-06-25 20:36] dtivel commented on #7842
@loop-evgeny, I don't have enough information yet to diagnose your issue.  Can you update your [NuGet.exe/dotnet.exe version and enable verbose logging](https://github.com/NuGet/Home/issues/7842#issuecomment-497012240)?  That might provide more context.

@NinjaCross, your error suggests that the problem is with the CredentialProvider.TeamCity authentication plugin.

The error you're seeing is rais

[2019-06-25 21:57] rrelyea commented on #8251
To configure FallbackPackageFolders via nuget.config:

[code]

We don't have this covered in documentation very well. We added the feature in NuGet 3.5, I believe...and I've opened a doc issue with some details: https://github.com/NuGet/docs.microsoft.com-nuget/issues/1487

[2019-06-25 21:57] #8251 closed, assigned to nobody

[2019-06-25 23:19] karann-msft commented on #4491
related to #4254

[2019-06-26 02:28] jnm2 opened #8263 "NuGet.CommandLine as dotnet global tool"
I'm resolving various tools in a build script using `dotnet tool install`:

[code]

(After 3.0 is released, I'll be using the beautiful and amazing https://github.com/dotnet/cli/issues/10288 to do the same thing.)

One of the tasks I want to do from the build script is `nuget sign`. It would be cool if this just worked:

[code]

Instead, this prints:

[code]

Would adding the package type `DotnetT

[2019-06-26 11:38] leastprivilege commented on #8251
I tried this

[code]

But now the behavior has changed

I am referencing version 2.5.0-* in my directory.targets

and my fallback folder has 2.5.0-preview.2.50,  but nuget.org has 2.5.0-preview.2.6

with the previous approach 2.50 was referenced during the build - now 2.6 is used.

I guess because nuget.org is used before the fallback folder. Can I make the nuget client look into the fallback fold

[2019-06-26 15:08] yury-fedorov commented on #8194
Hi @dominoFire

Thank you for the immediate feedback and readiness to support. I was not so quick to reply, sorry for that.

I tried with 5.0.2 what you have suggested:

1. nuget locals all -clear
2. nuget restore <sensitive-info>Connector.sln  -Verbosity detailed

It worked:

[code]

Thank you for the support!

Best regards

[2019-06-26 15:08] #8194 closed, assigned to nobody

[2019-06-26 16:55] livarcocc opened #8264 ""dotnet restore" fails if "nuget" folder doesn't exist"
_From @gthvidsten on Wednesday, June 26, 2019 11:58:14 AM_

## Steps to reproduce

I cloned a repo, but restore of NuGet packages (`dotnet restore`) failed with the following message:

I manually created `C:\ClonedRepo\nuget` and ran `dotnet restore` again, and now it worked just fine.

## Expected  behavior

`dotnet restore` should create the `nuget` folder if it doesn't exist.

## Actual behavio

[2019-06-26 16:55] livarcocc commented on #8264
_From @gthvidsten on Wednesday, June 26, 2019 11:58:43 AM_

@blackdwarf

[2019-06-26 17:52] #8214 closed, assigned to dominoFire

[2019-06-26 19:44] dominoFire opened #8265 "Investigate signature trust and validity functional tests"
## Details about Problem

NuGet product used: NuGet API

NuGet version: dev branch

OS version (i.e. win10 v1607 (14393.321)): NuGet CI Pipeline

Worked before? If so, with which NuGet version: These are tests that fails intermitently.

## Detailed repro steps so we can see the same problem

1. Run a CI Build

The tests that are failing are:

- `VerifySignaturesAsync_WithExpiredPrimarySignature_Va

[2019-06-26 19:45] #8249 closed, assigned to dominoFire

[2019-06-26 20:01] rrelyea commented on #8264
This is by design behavior. We fail restore if any of your sources are not reachable.
We don't want to create a folder for you, in case it was a typo.

A nuget.config should not configure sources that don't exist.
If there is machine config necessary that restore or build relies on, this should be communicated via readme.md or a msbuild based message?

This would work for command line restores: (w

[2019-06-26 20:04] rrelyea commented on #8263
we are working on adding package verification & signing to dotnet.exe -- and making it work cross platform. We are targeting netcore 3.0, but unsure if it will all land by that release.

We don't plan on making nuget.exe distributable as a tool, but appreciate the suggestion.

[2019-06-26 20:05] #8263 closed, assigned to nobody

[2019-06-26 20:19] jnm2 commented on #8263
Package signing via dotnet is even better. Thanks! Is there an issue I can track for notifications on this?

[2019-06-26 20:21] brennon commented on #5358
I had the same issue that multiple others had. Trying a `nuget restore` in a Docker image build. For whatever reason, while I could resolve `api.nuget.org` in a shell on a container from that image, it wasn't working when building the image. Adding this to the script launched from my `Dockerfile` did the trick:

`echo 152.199.4.33 api.nuget.org >> C:\Windows\System32\drivers\etc\hosts`

[2019-06-26 20:43] rrelyea commented on #8263
At the bottom of https://github.com/NuGet/NuGet.Client/pull/2706 are link to several issues tracking the necessary work.
Current work is happening here: https://github.com/NuGet/Home/issues/8043

[2019-06-26 21:06] rrelyea commented on #8251
If you are using * in a version (2.*, 1.0.0-*, etc...) -- a full restore will always check all package sources.
We need to collect all possible versions to find the latest matching one.

[2019-06-26 23:01] ghost opened #8266 "when case differs of 'repositoryPath', nuget.config setting is not overridden properly starting in 4.9.0"
## Details about Problem

If there is a `repositorypath` setting (lowercase 'p') in a `nuget.config` high in a directory path, it will take precedence to the packages specified from any project or solution level `nuget.config` that follow.

This becomes a problem when a user tries to modify NuGet packages and they don't know about this `repositorypath` setting somewhere in their path. As such, it

[2019-06-26 23:16] rrelyea commented on #8266
Is this a change from previous behavior before 4.9?

[2019-06-26 23:19] jonnykrysh commented on #8266
@rrelyea I haven't tested prior versions, but this is what we saw in 4.9. Is this expected functionality?

[2019-06-26 23:25] rrelyea commented on #8266
Would be helpful if you could test 4.7 or 4.8 against the same scenario.
We did major change in 4.9 to these core paths and would love to know if behavior changed or not.

[2019-06-26 23:33] jonnykrysh commented on #8266
@rrelyea

I just confirmed locally that for at least 4.8 it does not occur, so it seems like undesired or new functionality with the 4.9 release.

I ran the full set-up in the repository I linked in the issue above, only I used the 4.8 `nuget.exe` to execute restore. This generated `correctPackages` as expected.

[2019-06-26 23:58] rrelyea commented on #8266
One more favor, can you try with latest shipped version too...just to make sure we didn't already fix it..  5.1?
Thx, Rob

[2019-06-27 04:47] leastprivilege commented on #8251
But it seems the fallback folder is not checked if a matching version is found in the package sources.

But the fallback folder has the more recent version in this case.

I still think that what we really want is to be able to disable caching per source.

[2019-06-27 11:54] wrathofodin commented on #4125
I tried setting `developmentDependency` to true and it doesn't work. Only `PrivateAssets` work.

[2019-06-27 12:55] #8231 closed, assigned to zivkan

[2019-06-27 14:37] aolszowka commented on #4627
I don't think this issue is resolved; we're seeing it in Visual Studio 2017 15.9.12 most notably its the Project Names; it appears that in the Visual Studio version (the diff on the right) makes the assumption that the Output name is the same as the CSPROJ name. Unfortunately due to path length limitations this is not the case in our environment. This causes NuGet to update the project.assets.json

[2019-06-27 14:47] MisinformedDNA opened #8267 "NU1603 is incorrectly raised with inconsistent versioning style"
## Details about Problem

NuGet product used: VS UI

NuGet version (x.x.x.xxx): 5.1.0

VS version (if appropriate): VS 2019 v16.1

OS version (i.e. win10 v1607 (14393.321)): Win 1803 (17134.829)

Worked before? No?

## Detailed repro steps so we can see the same problem

1. Create a .NET Standard library

2. Add a NuGet reference to `FluentNHibernate`

EXPECTED: No warnings

ACTUAL: Two NU1603 war

[2019-06-27 14:54] MisinformedDNA commented on #8267
Sorry, I was confusing two different rules. I think this rule is executing as expected.

[2019-06-27 14:54] #8267 closed, assigned to nobody

[2019-06-27 14:56] rrelyea commented on #8267
Yes, see more info here: https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu1603

The package is causing a perf problem. It depends on a package that has not been published to one of your sources. Package Author problem. Please contact author.

[2019-06-27 15:32] loop-evgeny commented on #7842
Updated to NuGet 5.1.0 in TeamCity and now the problem no longer happens if I run a separate NuGet Installer task as suggested by ColinM9991 [https://github.com/NuGet/Home/issues/7842#issuecomment-478906793]. The `dotnet restore` after it seems unnecessary. So this is certainly an improvement - the first build on a new VM takes longer, but it succeeds.

If I disable the NuGet Installer step I stil

[2019-06-27 15:43] DomZZ commented on #7699
It seems that many people reach this issues and it has been fixed in Microsoft Credential Provider : https://github.com/Microsoft/artifacts-credprovider/releases/tag/0.1.15

Then I think that the problem is on client side and TeamCity needs to make some updates.

[2019-06-27 16:00] rrelyea commented on #8266
Actually, I've confirmed the behavior changed from 4.8 -> 4.9 and remains the same in 5.1.

md c:\temp\Foo
cd \temp\foo
// CREATE a PC based project in c:\temp\foo\proj with proj.csproj and proj.sln
   -- i created a wpf project, and added mvvmlight to it in VS.

Then execute this Repro script and compare the output with different versions of nuget.exe:
rd L1 /s/q
del *.sln
md L1
dotnet new nugetc

[2019-06-27 16:02] rrelyea commented on #8266
Need to examine this change and determine if this break we shipped in 11/2018 with 4.9.0 should be fixed...or kept.

[2019-06-27 17:11] rrelyea opened #8268 "Insert NuGet 5.2.0.6067 into VS 16.2"
## Insert build 5.2.0.6067 for insertion into VS 16.2
- [x] Validate tests
- [x] Validate perf - https://devdiv.visualstudio.com/DevDiv/_build/results?releaseId=0&environmentId=1739355&extensionId=ms.vss-test-web.test-result-in-release-environment-editor-tab&_a=release-environment-extension
- [x] Vendor validation - validated on top of d16.2stg 29027.113
- [x] verify "VsTargetBranch" in buildinfo.

[2019-06-27 17:14] dtivel commented on #7842
@loop-evgeny, we release NuGet client updates through several channels:

* Visual Studio
* NuGet.exe standalone CLI
* .NET Core SDK

The NuGet 5.1 release was delivered in each of these channels.  For the 5.1.x NuGet.exe release, you simply need to download it from [here](https://www.nuget.org/downloads).  For the .NET Core SDK, you need to install the appropriate release.  The [NuGet 5.1 release

[2019-06-27 17:18] nkolev92 commented on #4125
@wrathofodin https://github.com/NuGet/Home/wiki/DevelopmentDependency-support-for-PackageReference

[2019-06-27 18:31] nkolev92 opened #8269 "Issue with nuget.exe discovery of built in plugins"
There's an issue in the discovery of plugins with nuget.exe.

The problem is that the path provided is directory, but the utility assumes it's the path to msbuild.exe

[2019-06-27 18:46] nkolev92 commented on #8262
Duplicate of https://github.com/NuGet/Home/issues/7930.

I think we should definitely honor removals, as the guarantee is repeatability. **All** the same packages.
A package that used to be there, missing now is a failure.

I verified with a nuget.exe built locally.

I update the repro as such so that it runs with a locally built nuget.exe

NetCoreConsoleApp.csproj.noPackage
[code]

NetCoreConsole

[2019-06-27 18:47] #8262 closed, assigned to nobody

[2019-06-27 18:56] nkolev92 commented on #8260
@cristinamanum

Once you already have everything set-up, relevant code here: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.ProjectModel/ProjectLockFile/PackagesLockFileUtilities.cs#L49

The RIDS are not accounted for in that code path.

[2019-06-27 19:26] anangaur commented on #3050
/cc: @rrelyea

[2019-06-27 19:45] rrelyea opened #8270 "Package Manager experiences for VS Codespaces"
Per this blog post from May 2019, https://aka.ms/vsfutures --> https://devblogs.microsoft.com/visualstudio/intelligent-productivity-and-collaboration-from-anywhere/

[ADO Query](https://devdiv.visualstudio.com/DevDiv/_queries/query-edit/5d5d5ecc-9e55-4053-9cdb-245a082dd02f/)

[2019-06-27 21:10] dtivel opened #8271 "Plugins: improve diagnosability of plugin launch failure"
If a plugin fails on launch --- say, because of an unhandled exception --- or if a plugin times out during handshake, the error message ("A task was canceled.") [here](https://github.com/NuGet/NuGet.Client/blob/7fee43eeb1b5dbe0de3cb93ad0cb80b3a321e4a9/src/NuGet.Core/NuGet.Protocol/Plugins/PluginFactory.cs#L242) is unhelpful.

[2019-06-27 22:04] kzu commented on #6609
I would totally expect this to work. It makes the developer workflow much worse as it is, since now you need to know that depending on what's in a repository's `nuget.config` you can just do an msbuild restore, or you need to do a nuget restore, which also means you need to have `nuget.exe` in the path and so on. This is aggravated by submodules too, which can have arbitrary nesting levels and now

[2019-06-27 22:22] nkolev92 commented on #6609
@kzu

Are you referring to the original ask or @jcagme's comment?

The original scenario now works.
With 15.9 and later, the Azure DevOps credential provider is always installed wherever NuGet is installed.
On the user machine, the user will get prompted to auth.

The CI scenario is different. No prompts/blocks are allowed, so the credential provider provide configurations to allow the skipping of

[2019-06-27 22:44] davkean commented on #4627
@aolszowka Can you open a new issue?

[2019-06-27 23:22] rrelyea commented on #8202
@donnie-msft  - can you link to the project system bug on this so people can check on current status (link to github issue or just number of ADO issue)

[2019-06-27 23:35] donnie-msft commented on #8202
Looked into IsPackable flag and one usage of that is with `ProjectCapability.Pack` in Project System's code:  [CSharpProjectDesignerPageProvider.cs](http://index/?query=CSharpProjectDesignerPageProvider.cs&rightProject=Microsoft.VisualStudio.ProjectSystem.Managed.VS&file=ProjectSystem%5CVS%5CProperties%5CCSharp%5CCSharpProjectDesignerPageProvider.cs&rightSymbol=ahstqnchs22u)

The Pack menu is adde

[2019-06-28 02:29] aolszowka opened #8272 "msbuild /t:Restore and Visual Studio produce different assets files when assembly name != project name"
### Environment(s)
* Visual Studio 2019 16.1.4
* Visual Studio 2017 15.9.13

### Issue
See attached project for a small repo of this.

It appears that when you perform an msbuild /restore the project.assets.json that gets generated uses the AssemblyName of the referenced class Library. However if you open up Visual Studio it will perform a restore setting this to the name of the referenced PROJECT

[2019-06-28 02:29] aolszowka commented on #4627
Opened #8272 Thank you

[2019-06-28 04:07] cbries opened #8273 ""%23" is transformed into "#" for physical path, nuget or msbuild?"
In case I got a VisualStudio-solution with several projects (by email or from somewhere else) and within the solution one or more projects are in physical directories which include "%23" in there path, e.g.

During Solution-load the following error raise up in VisualStudio's error pane:

![image](https://user-images.githubusercontent.com/5418062/60316448-c871e000-996a-11e9-8070-5346a0a94354.png)

[2019-06-28 08:45] NinjaCross commented on #7842
Indeed, the source of the problem seems to be that.
Anyway, I solved using the workaround suggested by @ColinM9991 here https://github.com/NuGet/Home/issues/7842#issuecomment-470114679

[2019-06-28 09:51] GeertvanHorrik commented on #4360
Having this as well. The interesting part is that it doesn't seem to include the exe for netcoreapp3.0:

[code]

![image](https://user-images.githubusercontent.com/1246444/60334119-0b4bac00-999b-11e9-9932-95d727a66de9.png)

It does include it for .net 4.7 though. The exe is in the output directory for .net core app. Will remove .net core app for now as a "workaround".

[2019-06-28 10:04] v-longmin opened #8274 "[Suggestion] Link “https://docs.microsoft.com/en-us/nuget/reference/migrate-packages-config-to-package-reference” should be clickable in migration-failed dialog"
## Details about Problem
VS Version: D16.2stg 29027.113
OS Version: 17763.RS5_Release.180914-1434.
Install VS: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2806963&view=results
Install NuGet:       \\\ddfiles\Drops\NuGet\Drops\CI\NuGet.Client\Dev\5.2.0.6067\artifacts\VS15\NuGet.Tools.vsix
## Detailed repro steps
1. Launch Visual Studio 2019.
2. Create a new C++ Console App project

[2019-06-28 10:11] v-longmin opened #8275 "Hard to see the border of “Preview Changes” window when installing a package into a new project in Dark theme"
## Details about Problem
VS Version: D16.2stg 29027.113
OS Version: 17763.RS5_Release.180914-1434.
Installation:
Install VS: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2806963&view=results
Install NuGet: \\\ddfiles\Drops\NuGet\Drops\CI\NuGet.Client\Dev\5.2.0.6067\artifacts\VS15\NuGet.Tools.vsix
## Detailed repro steps
1. Launch Visual Studio 2019 and select “Dark” as the theme.

[2019-06-28 12:03] loop-evgeny commented on #7842
OK, yes, I upgraded the SDK and now get the exception stack trace from `dotnet build -verbosity detailed`:

[code]

[2019-06-28 13:19] xavierdecoster opened #8276 "Define and add behavior for deprecation "Fix It" button in PMUI"
Need to define and add the behavior for clicking the "Fix It" button in the deprecation PMUI (details pane).

Also consider emitting telemetry.

[Spec](https://github.com/NuGet/Home/wiki/Deprecate-packages#visual-studio)

[2019-06-28 13:27] xavierdecoster opened #8277 "Show warning icons on PMUI Installed tab for deprecated packages"
When an installed package is deprecated, show the warning icon in as per the [spec](https://github.com/NuGet/Home/wiki/Deprecate-packages#visual-studio):
* Next to the text `Installed` on the tab header
* As an icon overlay next to the package ID of the deprecated installed packages in search results

![image](https://user-images.githubusercontent.com/880728/60345284-f67e1100-99b8-11e9-8b80-a405d8

[2019-06-28 13:49] loop-evgeny commented on #7842
However, with the new SDKs installed, if I enable the NuGet Installer step on a different project that multi-targets .NET Core 2.0 and 2.1 (`<TargetFrameworks>netcoreapp2.0;netcoreapp2.1</TargetFrameworks>`) that step fails:

[code]

`dotnet --info` output:

[code]

This did not happen before the SDK upgrade.

[2019-06-28 13:55] xavierdecoster opened #8278 "Support package deprecation in CLI"
See [spec](https://github.com/NuGet/Home/wiki/Deprecate-packages#cli)

[2019-06-28 13:59] xavierdecoster opened #8279 "dotnet list package --deprecated"
The list command should be able to output deprecated packages with `--deprecated` option.
See [spec](https://github.com/NuGet/Home/wiki/Deprecate-packages#cli).

[code]

The list command should be able to show deprecation message even if a package is deprecated on one of the many repositories/feeds.

[2019-06-28 14:11] xavierdecoster opened #8280 "Add support for deprecation info to dotnet list package --outdated"
See [spec](https://github.com/NuGet/Home/wiki/Deprecate-packages#cli).

[code]

[2019-06-28 14:20] xavierdecoster opened #8281 "Update CLI docs to include package deprecation and vulnerability support"
Update docs to include information about the following CLI updates:

`dotnet package list --outdated`
`dotnet package list --deprecated`
`dotnet package list --vulnerable`

For details, see the issues linked to [this spec](https://github.com/NuGet/Home/issues/8278).

[2019-06-28 14:44] NikolayPianikov commented on #7699
Could you add the environment variable `NUGET_PLUGIN_LOG_PATH` to your build configuration and specify a log file path there. Please share this file

[2019-06-28 17:03] rrelyea commented on #8272
@nkolev92 @dtivel - known issue?

[2019-06-28 18:15] #7888 closed, assigned to heng-liu

[2019-06-28 18:34] nkolev92 commented on #8272
Not as far as I'm aware.

Related code for the fix:
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/LegacyPackageReferenceProject.cs#L332

I'd imagine the references reader is just returning the path.

I'm curious whether this is also an issue with SDK based projects.

[2019-06-28 18:55] #8269 closed, assigned to nkolev92

[2019-06-28 19:55] nkolev92 commented on #6570
Hey all,

I've done some digging and made some improvements for some scenarios.

You can look at a video by downloading the zip. (it's a little over 1 min).
[Fewer reloads by NuGet UI.zip](https://github.com/NuGet/Home/files/3340620/Fewer.reloads.by.NuGet.UI.zip)

What's changing:

When either the project-level or solution level UI is open on the browse tab, the results and context are preserved.

[2019-06-28 23:17] nkolev92 opened #8282 "All async calls that do not await the result task should be marked as FileAndForget"
See https://github.com/microsoft/vs-threading/blob/b3850f3e67f6fb819ed4cc3e38ad5f1ab023c546/doc/cookbook_vs.md#task-returning-fire-and-forget-methods

Related: https://github.com/NuGet/NuGet.Client/blob/1a0552a3066b4532dfdaf9b18faba99b86592e04/src/NuGet.Clients/NuGetConsole.Host.PowerShell/PowerShellHost.cs#L751

//cc @dtivel

[2019-06-28 23:25] SimonCropp commented on #6570
@nkolev92 thanks for looking into this

[2019-06-28 23:32] nkolev92 opened #8283 "Smart refreshing of the update/installed/consolidate tabs in the PM UI"
Motivation and follow up to https://github.com/NuGet/Home/issues/6570.
https://github.com/NuGet/NuGet.Client/pull/2908

When either of the 3 tabs is opened in the background, the next time we focus on the UI the whole thing is refreshed.

The reason for this is these tabs reflect project/solution state.
Frequently these refreshes are not needed.
Currently the UI does not get any notifications abou