[2020-09-10 18:00] zkat commented on #9972
It looks like this is happening due to the `$VERSION` env variable being set, which is used by msbuild, which initializes properties with env vars (see https://github.com/dotnet/msbuild/issues/2713).

Even if we fix the NuGet side of this, it's likely you'll just run into a separate build error anyway. Is it possible to just remove/clear that environment variable? That might be enough to get this

[2020-09-10 18:16] erdembayar commented on #9956
@nkolev92
I already tried to do same thing for [Issue9955](https://github.com/NuGet/Home/issues/9955) then discovered always `projectContext` or `solutionContext` are blockers. Please check my efford [PR3646](https://github.com/NuGet/NuGet.Client/pull/3646) for details. Even we get negligible gain it adds more uncertainty due to those parameters are passed along many functions. Always impossible t

[2020-09-10 20:29] donnie-msft opened #10017 "PM UI Icons aren't inverting colors properly"
Icons in PMUI cannot properly use the Image Service since the ImageBackgroundColor property is not being set.
This causes icons not to invert their colors, and not look appropriate for the VS Theme.

Additionally, the Refresh icon will pixelate since it's not using the service (reported in https://github.com/NuGet/Home/issues/5937)

[2020-09-10 20:34] #10016 closed, assigned to dtivel

[2020-09-10 21:24] dtivel opened #10018 "PMC: should listen for and respond to IServiceBroker.AvailabilityChanged events"
Because Package Manager Console (PMC) creates a long-lived instance of a brokered service (`INuGetSolutionManagerService`), PMC should listen for and respond to `IServiceBroker.AvailabilityChanged` events, similar to how [`NuGetUIContext` listens to the event and requeries for the `INuGetProjectManagerService`](https://github.com/NuGet/NuGet.Client/blob/33f7b46cd7978fee2a72fe42dd0fb238f92f9629/src

[2020-09-10 21:41] aolszowka opened #10019 "RestoreUseStaticGraphEvaluation causes NuGet.RestoreEx.targets to throw an ANE when non-KnownToBeMSBuild project types are encountered"
## Details about Problem

NuGet product used: msbuild.exe

VS version: Visual Studio Enterprise 2019 Version 16.7.1

OS version (i.e. win10 v1607 (14393.321)): win2019 v1809 (17763.1397)

Worked before? If so, with which NuGet version: Yes; without /p:RestoreUseStaticGraphEvaluation=true

## Detailed repro steps so we can see the same problem
Internally we rely heavily on a third party integration

[2020-09-10 21:52] aolszowka commented on #9803
FWIW you may break others who have custom Project Types wherein static graph does not work, I have filed a bug report at #10019

[2020-09-10 21:55] aolszowka commented on #10019
Ugh this is embarrassing this is a duplicate of my own issue :( #9280 I am closing this as a duplicate, but it does contain additional information. Sorry!

[2020-09-10 21:55] #10019 closed, assigned to nobody

[2020-09-10 21:58] jeffkl commented on #9280
Can you please attach a minimal repro that I can investigate?

[2020-09-10 22:51] aolszowka commented on #9280
I have been unable to make a minimal repo that reproduces the issue yet (the solution in question has ~3500 projects).

I have been able to make it further in debugging and can point to this stack trace as being the culprit:

[code]

The source in question is here:

https://github.com/NuGet/NuGet.Client/blob/9f9870a6b47f7918524d68e52ce21c422ce1af12/src/NuGet.Core/NuGet.Build.Tasks.Console/MSBuildS

[2020-09-10 23:15] jeffkl commented on #9280
Perhaps the best workaround is to set `MSBuildProjectExtensionsPath` to a value like its set in the SDK.

https://github.com/dotnet/msbuild/blob/master/src/Tasks/Microsoft.Common.props#L50

The project is ignored if it doesn't have a `_IsProjectRestoreSupported` target as well.  How is that target set for the project that fails?

[2020-09-10 23:38] aolszowka commented on #9280
Near as I can tell this works; I will let the vendor know

Normally I would be able to see this in https://github.com/KirillOsenkov/MSBuildStructuredLog however because this is happening outside of pure MSBuild I can't tell you for sure where this comes from (in the sense that I cannot tell you how it is inherited).

Looking at the debugger it looks like at very least the target exists and is bein

[2020-09-10 23:49] zkat opened #10020 "`dotnet pack` mistakenly uses alias for WPF Library projects"
When packing a project with a target platform, when the target platform version is not included in the .csproj (but a platform is), the lib files are pulled in using the "alias".

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): All of the above

dotnet.exe --version (if appropriate): 5.0.100-rc.1.20454.5

VS version (if appropriate): 16.8.4-

[2020-09-10 23:57] jeffkl commented on #9280
If the project imports `NuGet.targets`, it should also import `Microsoft.Common.props` which would declare `MSBuildProjectExtensionsPath` and fix this issue as well.

[2020-09-11 00:27] KirillOsenkov commented on #8529
Just wanted to reiterate once again that the lack of this feature is supremely painful. It also plain simple doesn't seem to work. I run it on our nuget.config with a package id that's for sure in one of those feeds and it returns No packages found.

[2020-09-11 00:32] KirillOsenkov opened #10021 "Write provenance.txt next to each restored package version in the global package cache"
Suggestion that would greatly improve developer's life everywhere multiple feeds are used:

when NuGet restores a package version into the global package cache, write a file called provenance.txt which logs which package source the package was restored from and at what time.

This will greatly help locate which source a package came from.

[2020-09-11 00:32] KirillOsenkov opened #10022 "Log package source in .nupkg.metadata"
Suggestion that would greatly improve developer's life everywhere multiple feeds are used:

when NuGet restores a package version into the global package cache, write a file called provenance.txt which logs which package source the package was restored from and at what time.

This will greatly help locate which source a package came from.

[2020-09-11 00:38] nkolev92 commented on #9803
@aolszowka The dup of the issue you linked in tracked here.

[2020-09-11 00:38] nkolev92 commented on #9803
Oh @jeffkl is already on it!

[2020-09-11 01:17] KirillOsenkov commented on #10021
Accidentally filed a dupe

[2020-09-11 01:17] #10021 closed, assigned to nobody

[2020-09-11 01:18] KirillOsenkov commented on #10022
Should use `.nupkg.metadata` which is perfect for this scenario.

Log which source, time of restore and which project/sln/packages.config if available.

[2020-09-11 01:28] erdembayar commented on #9988
Here is my initial finding:
When I use `ProcessExplorer` then I saw around 50Mb difference when I opened PMC, not 75Mb.   It looks this number depends on my local environment and computer.
I compared loaded DLLs for PMC open and open a solution on VS without PMC. I found about 46.801Kb of DLL and it's about the same size(50Mb) I found above. Of course I know it's not 1:1 mapping, but very close.
F

[2020-09-11 01:29] KirillOsenkov opened #10023 "Docs for NuGet.Protocol API 5.7.0 are out-of-date"
I'm trying to use NuGet.Protocol 5.7.0 and following this guidance the sample doesn't compile:

https://docs.microsoft.com/en-us/nuget/reference/nuget-client-sdk#list-package-versions

Repository.Factory doesn't have a GetCoreV3 method:
![image](https://user-images.githubusercontent.com/679326/92838426-9d1eb980-f393-11ea-9c8a-de2606e4b978.png)

[2020-09-11 02:10] nkolev92 commented on #10023
This should be the type: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/Repository.cs

I think the sample might be missing the namespace for the repository.

Can you try checking the `using` statements?

[2020-09-11 02:19] KirillOsenkov commented on #10023
Yes, probably missing extension methods. This is not very intuitive.

[2020-09-11 13:00] v-luzh opened #10024 "“Installing” instead of “Updates” show in the “Preview Changes” dialog when updating all package in PM UI"
## Details about Problem
NuGet version: NuGet Client dev-feature-OE.PMUI\5.8.0.12792
VS Version: Main\30510.142
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. On a clean VM, launch VS, create an ASP.NET Web Application-Web Forms (.NET Framework 4.8), go to “Updates” tab, check “Select all packages” check-box (uncheck the bootstrap package) and click “Update” button.
2. **(Don’t close the

[2020-09-11 14:21] aolszowka commented on #9280
Thanks @jeffkl I am going to close this issue as resolved. Feel free to re-open this or create a new issue if there is code changes to make this more defensive in the above linked method.

[2020-09-11 14:25] zivkan commented on #9280
I think we should keep this open until the error message is fixed. I'm fine with the restore failing/crashing, but it should say the issue is with `MSBuildProjectExtensionsPath`, not `path2`.

[2020-09-11 14:52] zivkan commented on #10023
I agree. I propose the following APIs:

[code]

Justification:
* Changing the namespace of the existing extension methods is an ABI breaking change.
* Copying the extension methods in a new class with the same namespace as the type, such that additional `using` expressions are not needed (and the sample code still works as-is), will likely result in ambiguous method errors in any code that does ha

[2020-09-11 15:45] jeffkl commented on #9280
Agreed, I'll add a guard against this scenario

[2020-09-11 17:15] erdembayar commented on #9987
@aortiz-msft  @nkolev92
This change makes PMC doesn't open when you re-open solution next time.
So it's change of user experience. What do you think should be go ahead with this one or not?

[2020-09-11 17:59] aortiz-msft commented on #9987
Let's not change the user experience for now. Thanks for the investigation!

[2020-09-11 19:23] #10017 closed, assigned to donnie-msft

[2020-09-11 19:36] dominoFire commented on #9985
I did a test solution with multiple projects; one of them with invalid PackageReference data. Then, I opened the solution in VS and it was reported as a No-Op.

[2020-09-11 20:39] erdembayar commented on #9987
@nkolev92 @aortiz-msft
Thank you for your input. I'll close this now since we don't want this change.

[2020-09-11 20:39] #9987 closed, assigned to erdembayar

[2020-09-11 21:15] donnie-msft commented on #10000
Remove the gift icon from the context menus
![image](https://user-images.githubusercontent.com/49205731/92973511-55ab3280-f452-11ea-8e97-20b1d39dc7dc.png)

[2020-09-11 22:02] zkat opened #10025 "NuGet.exe pack generates bad package when TFM has a platform"
When packing a project with `nuget.exe`, when the project has a net5.0 platform, the platform is stripped from the destination in `lib` inside the nupkg, and the pack then warns because it thinks `net5.0-<platform>` is just `net5.0`.

A similar but not identical issue happens with dotnet pack: https://github.com/NuGet/Home/issues/10020

## Details about Problem

NuGet product used (NuGet.exe | VS

[2020-09-11 22:07] nkolev92 commented on #10025
nuget.exe pack with PackageReference projects is sort of broken by design right now, so I wouldn't be concerned about this scenario too much: https://github.com/NuGet/Home/issues/4491

[2020-09-12 01:19] nkolev92 commented on #9956
We discussed this during our 1 on 1.

The parallelization here should focus on parallelizing the restore part of the whole operation.

[2020-09-12 02:43] nkolev92 opened #10026 "Incorrect project counts for Up-To-Date and No-Op projects at Restore"
In 16.7, when up to date projects count was added, the values were flipped. https://github.com/NuGet/NuGet.Client/blob/0df34003a113462cfa02e369491180686a08beaa/src/NuGet.Clients/NuGet.VisualStudio.Common/Telemetry/RestoreTelemetryEvent.cs#L30-L31

[2020-09-12 03:12] xiangzhai commented on #9785
Doesn't help:

[code]

Still repros:

[code]

Thanks,
Leslie Zhai

[2020-09-12 11:58] Indigo744 commented on #6566
This issue is still open, even though it is really a showstopper when multiple people may update packages using the UI. Every time we need to step in and add back the constraints...

This is madness. PackageReference is supposed to be "the new norm" but clearly lacks of basic usability like this, which is known for almost 3 years... Come on!

[2020-09-12 14:42] bender-the-greatest opened #10027 "Updating nuget to 5.7.0 on Linux completely breaks nuget"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe

NuGet version (x.x.x.xxx): 5.7.0

dotnet.exe --version (if appropriate): 3.1.402

VS version (if appropriate): N/A

OS version (i.e. win10 v1607 (14393.321)): Ubuntu 20.04.1 LTS

Worked before? If so, with which NuGet version: My Linux distribution contains a `nuget` package but this

[2020-09-12 16:52] shyzus commented on #9972
@zkat Well I am not certain how I would go about preventing ```$VERSION``` from being set. But I have tried out modifying my ```/etc/os-release``` file as mentioned in my primary post. This allowed me to successfully use ```dotnet restore``` and successfully build and run the basic hello world CLI project generated by ``` dotnet new console```.

It would seem to be that there are some checks withi

[2020-09-13 19:42] kartheekp-ms commented on #10027
As per [doc](https://docs.microsoft.com/en-us/nuget/install-nuget-client-tools#nugetexe-cli), `nuget.exe, is the command-line utility for Windows that provides all NuGet capabilities; it can also be run on Mac OSX and Linux using Mono with some limitations.`.

Please use [`dotnet.exe` CLI](https://docs.microsoft.com/en-us/nuget/install-nuget-client-tools#dotnetexe-cli) `works on all platforms (Win

[2020-09-13 19:42] #10027 closed, assigned to nobody

[2020-09-13 20:20] kartheekp-ms opened #10028 "nuget verify -All and -Signatures option has no differences in implementation"
As per [doc](https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-verify#nuget-verify--all), nuget.exe has two switches, `-All` to perform all the possible verifications on the package(s) and `-Signatures` option to verify signatures based on values passed for `-CertificateFingerprint` option. However, looking at the [implementation](https://github.com/NuGet/NuGet.Client/blob/dev

[2020-09-14 11:28] jozefizso opened #10029 "NU1403: Package content hash validation failed for System.Diagnostics.Debug.4.3.0"
NuGet product used: **nuget.exe**

NuGet version: **5.7.0 x64**

VS version (if appropriate): **Visual Studio 2019 16.7.3**

OS version (i.e. win10 v1607 (14393.321)): **Windows 10 2004 x64**, **Azure Hosted Agent 20200827.1**

## Detailed repro steps so we can see the same problem
1. Migrate projects from **packages.config** to `PackageReference` format
2. Enable `RestorePackagesWithLockFile` and

[2020-09-14 11:44] tmds commented on #5862
I hope this issue gets some love in .NET 6.
There shouldn't be a need to continue adding new releases of a distro to keep it working with .NET Core.

[2020-09-14 14:57] jmezach commented on #7001
I just ran into this issue as well after upgrading from 4.1.0 to 5.7.0. Any idea when this will be fixed?

[2020-09-14 15:03] rainersigwald opened #10030 "Same projects targeting .NET Core restore slower than .NET Framework (.NET Core App dependencies have more packages)"
---
**Issue moved from dotnet/sdk#13538**
- Please respond to @saul.

---

_From @saul on Friday, September 11, 2020 4:36:23 PM_

Hi

We're currently in the middle of migrating a large .NET Framework codebase (~350 projects) to .NET Core. Unfortunately we've hit a bit of a roadblock - the NuGet restore times have shot up from ~1:30m -> ~16:00m (an increase of 10x!)

Unfortunately I can't share the

[2020-09-14 15:03] rainersigwald commented on #10030
---
**Issue moved from dotnet/sdk#13538**
- Please respond to @rainersigwald.

---

_From @rainersigwald on Friday, September 11, 2020 8:49:47 PM_

On my machine it's not so dramatic, but still noticeable

[code]

Can you share the tail end of an MSBuild log that has `PerformanceSummary` turned on? You can add `-flp:PerformanceSummary` to your command line to get that. The log itself will have pos

[2020-09-14 15:03] rainersigwald commented on #10030
---
**Issue moved from dotnet/sdk#13538**
- Please respond to @saul.

---

_From @saul on Friday, September 11, 2020 9:20:33 PM_

@rainersigwald thanks for looking at this so quickly - it's much appreciated. Out of interest, are you able to try restore with `--force`? The incremental (i.e. no-op) restore is fast for us too - we're seeing this extreme slowness on the build servers, which do clean b

[2020-09-14 15:03] rainersigwald commented on #10030
---
**Issue moved from dotnet/sdk#13538**
- Please respond to @rainersigwald.

---

_From @rainersigwald on Friday, September 11, 2020 9:38:39 PM_

Sorry, I did do that I just pasted the wrong results! edited above to reduce future confusion.

Time spent in `RestoreTask` is the clue we're looking for to make sure it's a NuGet problem.

[2020-09-14 15:03] rainersigwald commented on #10030
---
**Issue moved from dotnet/sdk#13538**
- Please respond to @saul.

---

_From @saul on Friday, September 11, 2020 11:19:22 PM_

Here is the performance summary with the real solution:

### net471

[code]

### netcoreapp3.1

[code]

[2020-09-14 15:03] rainersigwald commented on #10030
---
**Issue moved from dotnet/sdk#13538**
- Please respond to @rainersigwald.

---

_From @rainersigwald on Monday, September 14, 2020 3:02:51 PM_

Great, thanks! I'm going to move this to the NuGet repo since that's where `RestoreTask` lives.

[2020-09-14 18:29] #8270 closed, assigned to nkolev92, rrelyea

[2020-09-14 19:08] dtivel commented on #10024
@v-luzh, I did not reproduce this bug.  I tested with the same feature branch build and the same repro steps.  I observed the expected results --- 1 package under "Installing" and the remaining packages under "Updates".

(I did not use the same OS or VS build, but I don't believe they are relevant.)

Are you sure that the feature branch VSIX installed successfully?  Can you please reconfirm this b

[2020-09-14 22:15] bladewolf55 commented on #9954
Thank you for shepherding this along. It's likely, in continuous integration environments, NuGet is automatically updated to its latest version. Unexpected behavior can cause significant problems and confusion. I don't want to see that happen and will help how I can.

[2020-09-15 02:08] rido-min commented on #8580
I got it working with `dotnet nuget push` [here](https://github.com/ridomin/DeviceClientFactory/blob/master/.github/workflows/dotnetcore.yml#L33)
.. but didnt work when using a repo under a GitHub organization, so I switched to curl

[2020-09-15 08:00] miloush opened #10031 "Can PackageReference specify source (private gallery)?"
Hey, just a question - is there a way for a project file to specify (or add) NuGet source that should be used for resolving PackageReferences?

[2020-09-15 12:08] japj commented on #9844
Do you need more information to analyze this?
We are still getting this on our CI systems on occasion.

[2020-09-15 12:08] herebebeasties commented on #6261
Any chance of a link to that issue? Closing out a ticket reporting unbounded disk space usage as "by design" doesn't seem right.

[2020-09-15 13:01] kglassmire commented on #9020
I can vouch that when using private nuget feeds, some of my team members with worse bandwidth often receive this error.
[code]
works most of the time but even now this is not working.

[2020-09-15 15:09] Fronix commented on #8580
I'm using my nuget action under an organization and this is what's been working for us after many trial and errors.
[code]

[2020-09-15 15:51] zivkan commented on #6261
I guess this is it: https://github.com/NuGet/Home/issues/4980

[2020-09-15 16:19] erdembayar commented on #9944
@nkolev92  please review this.

[2020-09-15 16:31] erdembayar commented on #9988
@nkolev92  @zivkan
I found here is actual loading of Powershell dlls into memory was happening.

 [PowerShellHost.cs#L303](https://github.com/NuGet/NuGet.Client/blob/0e08ef6427b824d051c312392f2a194af0a76d1f/src/NuGet.Clients/NuGetConsole.Host.PowerShell/PowerShellHost.cs#L303)

I tried to move Powershell DLL loading until user start typing with [PR#3667](https://github.com/NuGet/NuGet.Client/pull/

[2020-09-15 17:14] ViktorHofer commented on #10005
Fixed by https://github.com/dotnet/sdk/pull/13444

[2020-09-15 17:14] #10005 closed, assigned to nobody

[2020-09-15 18:07] zkat opened #10032 "Restore infers a `Windows7.0` platform when `UseWpf` is true"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): msbuild.exe

MSBuild version: 16.8.0-preview-20452-03+5dee11854

dotnet.exe --version (if appropriate): 5.0.100-rc.1.20454.5

OS version (i.e. win10 v1607 (14393.321)): win10

## Detailed repro steps so we can see the same problem

1. `dotnet new wpflib`

2. Edit the csproj to change `TargetFra

[2020-09-15 18:10] zkat commented on #10032
oops, wrong repo. See https://github.com/dotnet/sdk/issues/13614

[2020-09-15 18:10] #10032 closed, assigned to nobody

[2020-09-15 18:34] #10026 closed, assigned to nkolev92

[2020-09-15 18:51] dominoFire commented on #10031
You can specifiy a custom NuGet source feed using:

1. A NuGet.Config file at solution level. See https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#config-file-locations-and-uses
2. `RestoreAdditionalProjectSources` property in your project file or in command line, e.g., `dotnet restore myproject.csproj /p:RestoreAdditionalProjectSources=https://api.nuget.org/v3/in

[2020-09-15 18:51] #10031 closed, assigned to nobody

[2020-09-15 19:28] nkolev92 commented on #5154
Given that now NuGet treats frameworks as aliases, I propose we *close* this and open a tracking issue for allowing duplicate frameworks?

Thoughts @zkat @JonDouglas @aortiz-msft

[2020-09-15 19:35] dominoFire commented on #9999
Unfortunately, there's no concept of custom NuGet Frameworks at this time.

Upcoming releases of net5.0 will have support for OS-specific framework APIs. See https://github.com/dotnet/designs/blob/main/accepted/2020/net5/net5.md

Hope that helps.

[2020-09-15 19:35] #9999 closed, assigned to nobody

[2020-09-15 19:39] JonDouglas commented on #5154
I read through the entire thread & relevant issues. I don't personally understand the value of having duplicated framework entries. I think creating an issue to track that is worthwhile as I'm not necessarily sure what scenarios that covers & what value that brings to support that.

[2020-09-15 19:47] nkolev92 commented on #5154
It's definitely *not* a common scenario. A few asks we've come across.

* The runtime repo would be the biggest benefactor to a feature like that, given that they have to build for many different platforms.  @ViktorHofer might be able to speak on that in more detail, but there's lots about the runtime repo that's *custom* and not super relevant for the average user.
* Another scenario where it cou

[2020-09-15 19:49] zivkan commented on #5154
Also benchmarks.

[2020-09-15 21:33] herebebeasties commented on #4980
I've had a quick look at this. Some further info for would-be implementers:
* `File.Exists` check for SHA512 file is done [here](https://github.com/NuGet/NuGet.Client/blob/99ba88baac37e1c2b912f64a004bce6b5bc58db5/src/NuGet.Core/NuGet.Protocol/PackagesFolder/LocalPackageFileCache.cs#L88)
* I think you'll need to change it to pass through to the method whether the file is in a read-only "fallback fo

[2020-09-15 21:47] zivkan commented on #4980
@herebebeasties

yes, but as you mentioned you can create an overload to maintain current behaviour:

[code]

Alternatively, since it's not a static method, you could add a class field, and add a constructor with the bool. That way the information doesn't need to be passed around at all the call sites of Sha512Exists, just when the class is instantiated.

Thanks for looking into this, I look forwa

[2020-09-15 22:04] herebebeasties commented on #4980
Sure. Sounds cleaner. 👍
(We also have some large solutions to test this on with hundreds of projects. Will see if we can get this all wired up and do some performance testing.

As you may well know, `File.Exists` and `FileInfo` use the same Win32 API internally (`kernel32.dll` `FindFirstFile` which gets a handle and is used to fill a file attributes structure). They are thus essentially identical

[2020-09-15 22:14] donnie-msft commented on #9963
Compared offline with Arturo. We feel perceived perf has not regressed

[2020-09-15 22:14] #9963 closed, assigned to donnie-msft

[2020-09-15 22:42] nkolev92 commented on #8452
Honestly, I'd be comfortable removing this sooner rather than later.
It'd save us some build/signing time, and the download counts are so low that it suggests not a lot of people use it.

[2020-09-15 22:57] zivkan commented on #4980
For what it's worth, I've still never run them myself, but we have some [perf scripts](https://github.com/NuGet/NuGet.Client/tree/dev/scripts/perftests), which use the NuGet.Client, OrchardCore and Orleans repos, as well as measuring perf of different scenarios like no-op. It won't handle your new case of last write timestamp > 24h vs < 24 hours. Knowing that difference will be important for this

[2020-09-15 23:04] wackoisgod commented on #9999
@dominoFire Is there ever a plan to support this? Unity has a subset of the netstandard that it uses for one of its runtimes, we have defined this as a custom TFM, but essentially you are saying that we could not ever make it compatible with Nuget?

[2020-09-15 23:56] nkolev92 commented on #10028
Pretty sure this is by design.

We wanted to allow ourselves the flexibility of adding more validations that are run which people run verify.

The command is not supposed to be constrained to signature verification only.

[2020-09-16 00:03] zivkan commented on #4980
I was too curious, so I wrote a micro-benchmark.

<details>
<summary>code</summary>
<p>

[code]

</p>
</details>

|                                 Method | FileExists |      Mean |    Error |   StdDev |    Median | Ratio | RatioSD |
|--------------------------------------- |----------- |----------:|---------:|---------:|----------:|------:|--------:|
|                   FileInfoAlwaysUpdate |

[2020-09-16 00:48] nkolev92 commented on #8051
@kartheekp-ms

Adding a completely new command, especially in dotnet.exe can have a lot of tail.

I'd recommend you review: https://github.com/NuGet/NuGet.Client/blob/dev/docs/feature-guide.md#cli-nugetexe--dotnetexe-considerations and create the respective issues.

Note that the dotnet/sdk repo side changes need to be done in the same time period as the nuget side one.

[2020-09-16 01:26] zivkan commented on #8452
I now think the .NET SDK in VS uses the net472 binaries. I don't think we can remote the TFM from the project.

[2020-09-16 01:35] nkolev92 commented on #8452
In which scenarios?

That's only used for `dotnet nuget` commands, and those can't be run through VS.

[2020-09-16 01:50] zivkan commented on #8452
You're right. the VS scenarios are probably only build and pack, both of which are msbuild and don't use NuGet.CommandLine.XPlat.  Still, we should check that the SDK's build scripts don't break if our package doesn't contain net472 assets.

[2020-09-16 02:05] v-luzh commented on #10024
@dtivel, OK I will have a verify today and let you know the result later.

[2020-09-16 04:16] anishgk80 opened #10033 "Trouble accessing files in Nuget package when using Packagereference"
We are using Nuget package to share a commonly used Class Library project. The class library uses certain Files (xml) which is accessed in few of the functions in the library. While consuming the package we are using 'packagereference' insted of 'package.config'. Problem is the functions that refer to the files (xml) start failing with error 'path not found'.

The below was tried to fix the error

[2020-09-16 09:14] v-longmin opened #10034 "Unexpected error occurs when trying to install a package having invalid client policies in PM UI"
## Details about Problem
VS Version: Main\30515.165
OS Version: Windows-10-Enterprise-RS5

## Installations
1. Install VS: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4068483&view=ms.vss-build-web.run-extensions-tab
## Detailed repro steps
1. Create a new test certificate` .\CreateTestCertificate.ps1 –AddAsTrustedRootAuthority.`
2. Sign a package: `NuGet.exe sign <PackageFilePath

[2020-09-16 09:21] v-luzh commented on #10024
@dtivel, yes you are right, it doesn't repro on VS Main\30515.165 + NuGet Client dev-feature-OE.PMUI\5.8.0.12792. That was so weird I saw this bug last Friday as the screenshot above.

[2020-09-16 09:45] v-luzh commented on #9311
This issue will not make VS crashed on  VS Main\30515.165 with implicit NuGet Client Dev\5.8.0.6842. But it should not be packed and installed successfully since the icon is created with invalid format. Update the title.

[2020-09-16 09:50] SeppPenner commented on #6243
This is something we would need as well as it breaks our build inside Docker...

[2020-09-16 09:54] SeppPenner commented on #6045
This is an option I am interested as well. Currently, the restore process breaks our build process (Run in Docker). I don't really want to add a NuGet.config file or something inside the docker container...

The preferred way would be something like this:

[code]

[2020-09-16 11:28] sae42 opened #10035 "Package restore via NominateProjectAsync API leads to build fail in VS 16.8 Preview 3"
Details about Problem

VS 16.8 Preview 3

NuGet version (5.8.0.6823):

dotnet.exe --version (if appropriate):

VS version (if appropriate): 16.8 Preview 3

OS version : win 10 1909

Worked before? Worked in all preview versions (inc preview 1/2). Only started after upgrade to 16.8. Preview 3.

## Detailed repro steps so we can see the same problem

From what I can tell there is a new property ("ta

[2020-09-16 12:45] Denis535 commented on #8839
I faced this problem too.
Is there a way to move files from `Content/**` to `contentFiles/any/any/`? Now I'm getting undesirable result `contentFiles/any/any/Content`.

[2020-09-16 13:13] lukos commented on #8803
@zivkan Can you explain what this means. I think we are suffering from this on package restore and the error doesn't make sense because it is just a warning that version X was requested but only version X + 1 was found.

[2020-09-16 15:18] EthanHotz-Reisys opened #10036 "Package Manager Console crashes on loading Visual Studio"
## Details about Problem

NuGet product used:
Package Manager Console v5.7.0

VS version (if appropriate):
VS19, version 16.7.3

OS version:
Windows 10 Pro v1909, OS Build 18363.1082

Worked before? If so, with which NuGet version:
The Package Manager Console seemed to simply break a few days ago, after installing Windows 10 updates, but I'm unable to rollback my system to confirm this.

Error mes

[2020-09-16 16:08] zivkan commented on #8803
Here's an example:  I create a new project, `dotnet new classlib`. I then added a PackageReference, but did not provide a version (`<PackageReference Include="NuGet.Protocol" />`). Restore gives me this warning:

I then edit my csproj to add the property `<WarningsAsErrors>$(WarningsAsErrors);NU1604</WarningsAsErrors>`. Now when I restore I get this message:

My proposal is to change the message t

[2020-09-16 17:36] dtivel commented on #10024
Please reactivate with updated repro steps if you can repro it later.

[2020-09-16 17:55] dominoFire opened #10037 "Icons with certain color pallets causes PM UI to crash VS"
## Details about Problem

NuGet product used: VS UI

NuGet version (x.x.x.xxx): 5.7

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): 16.7.3

OS version: Microsoft Windows [Version 10.0.19041.508]

Worked before? If so, with which NuGet version: N/A

## Detailed repro steps so we can see the same problem

1. Add chocolatey NuGet feed `https://chocolatey.org/api/v2/` in Opti

[2020-09-16 18:09] DrStrangepork commented on #9901
I don't know what "replacing ... with each of the published xsd files" means

[2020-09-16 18:42] #9280 closed, assigned to jeffkl

[2020-09-16 19:01] nkolev92 opened #10038 "DotnetCLiToolReference restores make it difficult to reason about no-op projects count/uptodateprojectscount"
Take a sample project such as the below:

[code]

The https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio.Common/Telemetry/RestoreTelemetryEvent.cs initially report the following:

| Restore type | NuGetProjectsCount | NoOpProjectsCount | UpToDateProjectsCount |
|-|-|-|-|
| Implicit | 1 | 0 | 0 |
| On Build | 1 | 2 | 2 |

The reason why this happens is that DotnetCL

[2020-09-16 19:26] crummel opened #10039 "[S.CL] Upgrade Microsoft.Extensions.CommandLineUtils to System.Commandline"
## Details about Problem

NuGet product used: NuGet.CommandLine.XPlat

NuGet version: 5.8.0-preview.2.6776, SHA 62e098bfb22998fa638ce1a6dff5f91276770500

dotnet.exe --version (if appropriate): 5.0 preview8

OS version (i.e. win10 v1607 (14393.321)): RHEL7.8

## Detailed repro steps so we can see the same problem

NuGet.CommandLine.XPlat uses Microsoft.Extensions.CommandLineUtils 1.0.1, which is fr

[2020-09-16 20:33] vsfeedback opened #10040 "Default project setting in Package Manager Console is not saved"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1176626/default-project-setting-in-package-manager-console.html)._

---
[severity:It's more difficult to complete my work]
In the Package Manger Console, setting the default project allows my migration commands to be applied to the project that contains my data classes.

Ho

[2020-09-16 20:41] natemcmaster commented on #10039
Have you consider System.CommandLine? I think Rosyln is using it, so presumably that needs it be in source build too. That's probably a better fit than M.E.Config.CommandLine

[2020-09-16 20:47] crummel commented on #10039
Source-build isn't producing it yet, but it's on our list of prebuilts, I'll start looking at adding dotnet/command-line-api.

[2020-09-16 21:46] heng-liu opened #10041 "Some tests in PackageExtractorTests are not enabled for net5.0"
By checking all tests with `#if IS_DESKTOP`,
I found some tests in PackageExtractorTests should change `#if IS_DESKTOP` into `#if IS_SIGNING_SUPPORTED`,
as those tests should be enabled in net5.0 code path as well.
All the code with `#if IS_DESKTOP` under test folder are checked.
All the code with `Platform.Windows` under /test/NuGet.Core.FuncTests/NuGet.Packaging.FuncTest and /test/NuGet.Core.Tes

[2020-09-16 22:21] heng-liu commented on #9941
Hi @bartonjs @vcsjones, is there any way to achieve cross-platform consistency on this matter? Thanks.
As @rido-min mentioned that, if NuGet.org repo cert, or the Microsoft author cert, or one of the intermediate certs got revoked, there will be lots of packages affected.
Those packages will still be able to restore on Windows platform, but will not able to restore on non Windows platforms.

[2020-09-16 22:29] #9960 closed, assigned to rrelyea

[2020-09-16 22:38] rrelyea commented on #9960
Merged it to dev. Should make it into next week's insertion into 16.8 Preview 4.

[2020-09-16 23:06] #10041 closed, assigned to heng-liu

[2020-09-16 23:53] nkolev92 commented on #10035
@sae42

A bit of background on the change:

* The alias was added because with net5.0-windows and like frameworks, we need to read 2 properties to represent the framework, TargetFrameworkMoniker & TargetPlatformMoniker.
* The alias is only relevant in SDK based projects, because those are the only projects that can multi target.

* A bit of background on NuGet in VS vs cmd

* NetCorePackageReferen

[2020-09-16 23:56] pdegenhardt commented on #4103
<rant>
It is unbelievable to me that this basic functionality is lacking. Obviously Microsoft is not eating their own dog food here. We are in the process of moving a solution with 76 individual projects (including 5 different servers and 8 client applications) over to utilise CI/CD and cloud hosting in the new Azure world that Microsoft has sold our clients. We have followed Microsoft's guidance

[2020-09-17 00:01] dtivel opened #10042 "PM UI: NullReferenceException when signature validation fails"
1.  Create a new test certificate [`.\CreateTestCertificate.ps1 –AddAsTrustedRootAuthority`](https://github.com/NuGet/Entropy/tree/master/TestCertGenerator).
2.  Sign a package:  `NuGet.exe sign <PackageFilePath> -CertificatePath <PfxFilePath>`.
3.  Create a project.
4.  Add a NuGet.config file to the solution with the following content:
[code]
5.  Save, close, and reopen the solution.
6.  Open Nu

[2020-09-17 00:45] nkolev92 commented on #9944
@erdembayar The gif is different from your test description.

Your test has Project 1 with the net472;netcoreapp3.0, but the description has net46;netcoreapp3.0.

The description seems like the correct one.

[2020-09-17 00:51] zkat opened #10043 "dotnet pack with nuspec does not automatically include lib directory"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Create a new classlib (`dotnet new classlib`

[2020-09-17 01:17] zivkan commented on #10043
I think the docs are correct for nuget.exe pack (which only supports non-sdk projects and packages.config, not PackageReference). In this scenario the only way for customers to add files other than project build output is to use the `<files>` element in the nuspec, so it makes sense to support it.

With msbuild pack, customers can use the `PackagePath` metadata on any msbuild item, and `Content` i

[2020-09-17 02:55] davkean opened #10044 "Use [AppliesToProject] on IAttachedCollectionSourceProvider implementations"
Visual Studio has recently [added `[AppliesToProject]`](https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/271500) support for `IAttachedCollectionSourceProvider` providers, which can be used to prevent unneeded dlls. NuGet should use this for all their implementations to avoid unneeded loads of this dll in projects/solutions where it is not applicable, for example:

[code]

This is requir

[2020-09-17 03:39] AlirezaHaghshenas commented on #4103
@pdegenhardt Agree.

Fortunately, I see some activity on this. In the meantime, you can consider this workaround:

If you cd into each project directory and run:

[code]
as suggested by @brendanlong.
It can mess up project, but it does it in a consistent way. For me it adds some lines to some packages, and changes

[code]
into
[code]

But it's totally possible that for your projects all is fine. I

[2020-09-17 04:56] bartonjs commented on #9941
OpenSSL doesn't make any time comparison for revocation: https://github.com/openssl/openssl/blob/a268ed3acf16948c0e19ba67b2b3f89b3312a416/crypto/x509/x509_vfy.c#L1633-L1659

The OpenSSL project is of the opinion that a revoked certificate should not be trusted even prior to the point of revocation, because the time in the CRL is simply the time that the revocation was processed (in something like

[2020-09-17 05:58] heng-liu commented on #9941
Thanks @bartonjs !
Could you explain why we could not ask Windows to do the OpenSSL behavior? Thanks.

[2020-09-17 09:27] sae42 commented on #10035
@nkolev92 The NetCorePackageReferenceProject is picked based on the project system being 'CPS' as far as I can tell. My custom project system is not CPS based. Responding as such via project capabilities would just lead to problems elsewhere. I can certainly use the NominateProjectAsync API that passes in the restore info, but as I mentioned above the properties set are not being honored when writ

[2020-09-17 10:32] campersau commented on #10037
More info can be found here https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/issues/1105 and https://github.com/dotnet/wpf/issues/3503

[2020-09-17 12:12] ZeeshanAhmadKhalil commented on #3353
Getting the same issue while adding edmx file in VS2019 MVC project. I think everyone should stop using dead .net technologies and switch to NodeJS technologies.

[2020-09-17 14:04] vcsjones commented on #9941
Revocation checking is part of chain building (this is true of any correctly implemented chain builder). Windows gives a single entrypoint in to building an X509 chain, `CertGetCertificateChain`. This API does appear to have the flexibility to indicate that `VerificationTime` should be used for expiration and not revocation. It's either both or none.

[2020-09-17 14:52] JonDouglas commented on #4103
You're all very right. This is some basic functionality that doesn't exist in the `dotnet` CLI. You shouldn't have to work with hacks to the existing `dotnet add package` behavior. You really should be able to ultimately say something like `dotnet update package`,  `dotnet list package --update` or simply `dotnet update` which ultimately will go through your project(s) / solution(s) and update all

[2020-09-17 15:08] yochail commented on #9625
If anyone is running into this, the issue is PackageCopyToOutput value is boolean, and not enum like the CopyToOutput attribute.
<ItemGroup>
    <Content Include="content.txt">
      <PackageCopyToOutput>PreserveNewest</PackageCopyToOutput>
    </Content>
  </ItemGroup>
should be:
<ItemGroup>
    <Content Include="content.txt">
      <PackageCopyToOutput>true</PackageCopyToOutput>
    </Content>
<

[2020-09-17 15:56] Airn5475 commented on #8580
I know this issue is closed, but I continue to see issues with the methods mentioned above.  One time it works and then another time it doesn't.  I am also working under and organization.  This is SO Frustrating!

[2020-09-17 17:12] heng-liu commented on #9941
I see. Thanks @vcsjones !
FYI @rido-min @JonDouglas @dtivel @anangaur @aortiz-msft

[2020-09-17 17:17] anangaur opened #10045 "Reliability issues while publishing packages to GPR, using GitHub Actions"
This is a new issue forked from the closed issue: `dotnet nuget push to GPR -- Invalid or unrecognized response` #8580

Pasting some of the responses from that issue:

---

@JB101UK commented:
I've been attempting to upload dotnet nupkgs to GitHub packages. I've followed all of the troubleshooting advice, I've got my tokens, my repository url set, my nuget.config file configured, but I find that b

[2020-09-17 17:19] anangaur commented on #8580
Hey, I can understand the frustrations. For the team to have visibility into the problems faced, I have created a new issue:
`Reliability issues while publishing packages to GPR, using GitHub Actions)` #10045

Please provide your experience/issues and upvotes on this new issue. Hope this helps.

[2020-09-17 17:24] nkolev92 commented on #9972
Hey @shyzus,

The behavior here is driven by an MSBuild feature where environment variables are translates to properties. See: https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-use-environment-variables-in-a-build?view=vs-2019.

Given that the decision is coming from MSBuild moving to their repo and they'll be able to answer more questions.

[2020-09-17 17:26] #9972 closed, assigned to nobody

[2020-09-17 17:39] zkat commented on #10006
@davkean Could you please add repro steps for this issue so we can track it down? Possibly a pre-made zip file of a project/solution that this reproes in?

[2020-09-17 17:49] zkat commented on #10022
Related to https://github.com/NuGet/Home/issues/8529

[2020-09-17 17:53] zkat commented on #10025
Yeah. I'm just gonna close it, then :)

[2020-09-17 17:53] #10025 closed, assigned to nobody

[2020-09-17 17:54] nkolev92 commented on #10023
I think it makes sense to add a comment for now.

The APIs are not perfect, but I don't think it's worth the hassle of changing namespaces right now.

[2020-09-17 18:22] Airn5475 commented on #8580
I reached out to GitHub Enterprise Support and here's what they shared with me:

Here is how I used the GPR Tool in my GitHub Action and it worked the first time!
[code]

https://stackoverflow.com/a/63943965/229897

[2020-09-17 18:47] dominoFire commented on #10036
@EthanHotz-Reisys Can you try to repro the issue with a VS instance without custom plugins?

Do you have a [custom profile](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_profiles?view=powershell-7) that could affect PowerShell initialization? For example:

%USERPROFILE%\Documents\WindowsPowerShell\NuGet_profile.ps1
%USERPROFILE%\Documents\WindowsPowerShel

[2020-09-17 18:52] EthanHotz-Reisys commented on #10036
@dominoFire I am seeing this issue across fresh VS instances with no extensions installed, both VS17 and VS19.

I don't have any custom profiles for Powershell that I'm aware of.

[2020-09-17 19:20] vpenades commented on #8580
@Airn5475 gpr might not be an option for some users like me.

Something not everybody knows is that nuget.config files are evaluated in cascade from the root directory to the current directory. So nuget.config files in between the root and the current directory can add, remove or override existing properties. I use this particular behaviour to split the login keys and the actual nuget server in tw

[2020-09-17 19:50] #10042 closed, assigned to nobody

[2020-09-17 20:23] Airn5475 commented on #8580
@vpenades I hear you, this isn't for everyone, but I saw others in the comments above having trouble with dotnet push and so I thought it best to share my solution.  Better to perhaps help some then for sure help none, right?

I am aware of the nuget.config cascade and have wrestled with it a couple times.  That was not my issue this time since my files were all in order and a repo that HAD been p

[2020-09-17 20:26] davkean commented on #10006
I don't have repro steps, I just saw this while investigating the above bug. I would look where you log these events and see if cancelled task can leak into the log.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Kat Marchán <notifications@github.com>
Sent: Friday, September 18, 2020 3:40 AM
To: NuGet/Home <Home@noreply.github.com>
Cc: David Kean <David.Kean@m

[2020-09-17 23:24] nkolev92 commented on #9864
fyi @rconard @anangaur for awareness.

[2020-09-17 23:39] nkolev92 commented on #10035
We're gonna change that in https://github.com/NuGet/NuGet.Client/pull/3644.

The reason why the alias is not written out is due to the fact that legacy projects don't support multi targeting, and SDK projects do.

That's why it's important that SDK based projects are detected as NetCorePackageReferenceProject.

Unfortunately it seems like it used to work by accident.
SDK projects need to go throug

[2020-09-18 00:21] pdegenhardt commented on #4103
Thanks for the update Jon. Good to hear someone is taking this seriously.

Just to clarify though: while nuget.exe does provide a solution-wide package update function, it does NOT support update of `packagereference` references – it only supports `packages.config`. https://github.com/NuGet/Home/issues/6115

So this is a major roadblock for those wanting to move to the much more elegant and manage

[2020-09-18 01:02] aortiz-msft commented on #10036
@v-luzh  - Would you please try to repro on same OS version?

[2020-09-18 01:11] dominoFire commented on #10033
`copyToOutput="true"` in `contentFiles` section makes the asset to be copied by the project.

https://github.com/NuGet/Samples/blob/6343202364bce017f14cc79921adcba7919252b1/ContentFilesExample/ExamplePackage.WithContentFiles-nuspec/ContentFilesExample.nuspec#L17

[2020-09-18 01:41] dominoFire commented on #9999
@wackoisgod I haven't heard of Unity custom runtime. If that is based on .NET standard, you can try to use `netstandard2.0` as TFM. Use the .NET Standard version closest to the Unity runtime version. After all, .NET standard is an API specification that a runtime can support.

It seems that Unity support .NET Standard 2.0: https://docs.unity3d.com/Manual/dotnetProfileSupport.html

You could also t

[2020-09-18 01:44] wackoisgod commented on #9999
Yea so we had an open task about 6 months ago around this. https://github.com/NuGet/Home/issues/9347

[2020-09-18 02:04] dominoFire commented on #9999
@wackoisgod Sorry, I missed that issue.

[2020-09-18 02:05] dominoFire commented on #10033
I will close the issue since this looks like a question. If you need more help, feel free to reply or open a new issue.

[2020-09-18 02:05] #10033 closed, assigned to nobody

[2020-09-18 03:02] kartheekp-ms commented on #8051
Thank @nkolev92 for the feedback.

- Is the command available in both tools? Should it be?

  `verify` command exists in `nuget.exe`. As we know this task is to create `dotnet nuget` verify command. We are good here.
- Is the equivalent functionality available in Visual Studio? Should it be?

  Whenever VS tries to extract the package, signature verification code path is executed when [`signatureV

[2020-09-18 03:15] kartheekp-ms opened #10046 "update verify command description"
Update `nuget verify` command description because `Verify is meant to do more than just signatures eventually. `

This feedback applies to [`nuget verify`](https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-verify) and `dotnet nuget verify` command that will be available soon in `dotnet CLI`.

`Verify` command description for `nuget.exe` is fetched from [here](https://github.co

[2020-09-18 03:26] kartheekp-ms opened #10047 "add tests for VerifyCommandRunner"
Add `unit` and `Funct` tests for [`VerifyCommandRunner`](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/VerifyCommand/VerifyCommandRunner.cs)

[2020-09-18 06:58] orange-pig opened #10048 "VS PM UI locks up while populating packages before http request send"
## Details about Problem

NuGet product used VS UI.

NuGet version (5.7.0.6726)

VS version (vs 2019 16.7)

OS version (win10 v1909 (18363.720))

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Outline computer with internet.

2. Run NugetServer in other computer self host by iis.

3. Use VS nuget manager list my package from NugetServer

[2020-09-18 08:43] Danl2620 commented on #9786
Are there any workarounds in the meantime?  I.e. any other way to produce a `.nupkg` file from a .net core project?

[2020-09-18 09:14] AlexVallat commented on #9786
I've been editing my .paket\packet.restore.targets file and commenting out the `<ContinuePackagingAfterGeneratingNuspec>false` line

[2020-09-18 10:49] sae42 commented on #10035
I don't quite follow this. If I create a C# .NET Console app in VS 16.7, do a build - everything is good. This is a single target (e.g. <TargetFramework>netcoreapp3.1</TargetFramework> in the csproj). Now open a 16.8 dev prompt and go to the project folder and execute msbuild.exe. You'll get a build fail. Are you saying that's expected/acceptable? Fine if so, but it would be good to clarify.

[2020-09-18 13:36] mfkl commented on #4980
I started work in a branch based on you folks recent comments https://github.com/mfkl/NuGet.Client/commit/c0b230e726bd10a8f91e2ccdfc8f75e788131e7e

[2020-09-18 14:57] PathogenDavid commented on #9817
Sorry for ghosting on this issue, my random contribution energy/time evaporated between when I filed this issue and your response. I finally found some time this morning to write up a design (hopefully that's what you meant by proposal), and I've submitted it as https://github.com/NuGet/Home/pull/10049

[2020-09-18 15:43] JonDouglas commented on #4103
@pdegenhardt Thanks for the note, I definitely hear you and have compared all the scenarios as some are less complete than others. I do believe our initial design for this feature should cover your needs, so be on the look-out for a follow up reply so we can ensure we incorporate feedback to ensure this covers the cases we all need.

[2020-09-18 16:53] Danl2620 commented on #9786
Nice, that works, thanks @AlexVallat !

[2020-09-18 17:00] zivkan commented on #4980
@mfkl Thanks for sharing. It looks like a good start to do benchmarking to make sure the no-op perf hit isn't too great. If you use [out perf test scripts](https://github.com/NuGet/NuGet.Client/tree/dev/scripts/perftests), they'll need motifications to set the global package folder's timestamps to greater than 24 hours hours between each run.

I'm concerned about the current changes trying to writ

[2020-09-18 18:01] nkolev92 commented on #8051
N/A in this case.

It's not N/A. There is parsing work on the dotnet.exe side.
In particular `dotnet.exe nuget` commands are parsed and forwarded to NuGet.COmmandline.Xplat.
It's a poor integration, but it's the only thing that allows tab completion right now afaik.

This needs done and it *should* be in the same release as the NuGet changes otherwise customers can end up with a thing where they s

[2020-09-18 18:14] zivkan commented on #8051
I think missing tab completion and missing help from `dotnet nuget -h` is a quality issue, but if by any chance the dotnet cli calls NuGet.CommandLine.XPlat for unknown commands, allowing `dotnet nuget verify` to work without the dotnet cli changes, I think we should consider it.

But certainly the entire feature is not complete until the dotnet cli and dotnet docs are finished.

[2020-09-18 18:19] kartheekp-ms commented on #8051
@nkolev92 and @zivkan - This is **new** to me. My bad that I am not aware of `dotnet.exe` side work involved for `dotnet nuget verify` command. I was under the impression that `dotnet integration tests` are sufficient to test if the command works end to end.

[2020-09-18 18:24] jbrejner commented on #4103
@JonDouglas
Hi Jon. I think the majority here fails to grasp what is being discussed.
What I - and apparently other enterprise based users - is a fix for nuget.exe.
Nuget.exe supports restoring packages even if the project / solution uses packagereference style as opposed to packages.config.
But while nuget.exe supports updating packages if it package.config style it fails if the we use packageref

[2020-09-18 18:28] aggieben commented on #9786
Yep, this was it.  Sorry - I forgot about this issue.  The repro would need:
1. dotnet tool restore
2. dotnet paket install
3. dotnet pack -o pkg ConstrainedTypes.fsproj -v diag

Hopefullly I didn't leave out a step this time 😬

[2020-09-18 18:29] zivkan commented on #10035
I don't follow your scenario. `netcoreapp3.1` projects can only be SDK style, hence get loaded using the CPS "flow".

Nikolche's comments about something that worked by accident refers to non-SDK style project ("legacy" projects) allowing/working with nominations. NuGet's nomination API was created for SDK style projects. PackageReference in non-SDK ("legacy") projects do not use nominations when

[2020-09-18 18:37] nkolev92 commented on #8051
I don't think the arguments will get forwarded. Afaik, the whole feature simply wouldn't work, but worth double checking that.

[2020-09-18 18:37] wackoisgod commented on #9999
@dominoFire should we keep this issue closed? Or should we engage on the other issue? This is important for us to resolve if we can. I mean right now my only thinking is that we add our own task that essentiallys resolves thing but that would be overriding Nugets behaviour when using the MSBuild SDK but I don't think that scales.

[2020-09-18 18:38] nkolev92 commented on #8051
Unfortunately this is not true :( I tried to call that out in https://github.com/NuGet/NuGet.Client/blob/dev/docs/feature-guide.md#cli-nugetexe--dotnetexe-considerations, but maybe that doc can be made more specific.

Consider getting a patched SDK with your changes to test out whether the dotnet nuget verify arguments get forwarded. Feel free to ping me if you need help.

[2020-09-18 18:46] zivkan commented on #9999
It's unclear to me if you work for Unity. If so, I think you should already have contacts within Microsoft with "high level" .NET PMs and architects. At least, I have the impression that .NET PMs are in contact with Unity. Otherwise, I think a new issue in dotnet/design would be worthwhile.

2 days ago, Immo posted a blog titled "[The Future of .NET Standard](https://devblogs.microsoft.com/dotnet/

[2020-09-18 18:52] wackoisgod commented on #9999
@zivkan I do work for Unity :D and we have reached out to our contact on the Microsoft side(@rrelyea), and I just posted this issue here more so for visiblity and potentially a quick fix if there was one. I agree that producing a solution that in the long-term resolves for this kinds of usecases.

I have not read Immo's post and will look at that and see if that is reasonable for us, if not I thin

[2020-09-18 19:16] #9984 closed, assigned to nkolev92

[2020-09-18 20:00] kartheekp-ms commented on #8051
Thanks, Nikolche. I followed your suggestion by placing a breakpoint just before executing `dotnet nuget verify` command [here](https://github.com/NuGet/NuGet.Client/blob/dev/test/TestUtilities/Test.Utility/CommandRunner.cs#L28) and then executed following commands which produced expected output

**verify** command is last in the `Commands` list but **tab completion didn't work**. I pressed enter

[2020-09-18 20:28] nkolev92 commented on #8051
I am glad I was wrong about the feature not working!

I think `dotnet list package` is special because it doesn't have the `nuget` noun there.

`dotnet nuget sources` also worked for the same reason. I probably brought up the same concern back then.

We should try to add it sooner rather than later though. We don't want to be out of sight/out of mind.

We should still have an SDK side issue and a

[2020-09-18 21:10] kartheekp-ms commented on #8051
SDK side changes for this command can be tracked [here](https://github.com/dotnet/sdk/issues/13702)

`Creating dotnet docs` for this command can be tracked from [here ](https://github.com/dotnet/docs/issues/20701)

[2020-09-18 21:45] #8051 closed, assigned to kartheekp-ms

[2020-09-18 22:15] kartheekp-ms opened #10050 "SDK side implementation for dotnet nuget verify command"
`NuGet.Client` side work was completed for `dotnet nuget verify command` and can be tracked [here](https://github.com/NuGet/Home/issues/8051).

This task is created to track SDK side implementation for this new command. https://github.com/dotnet/sdk/issues/13702

[2020-09-18 22:20] kartheekp-ms opened #10051 "add dotnet nuget verify command to dotnet docs"
This task is created to track https://github.com/dotnet/docs/issues/20701

[2020-09-18 23:00] nkolev92 opened #10052 "Restore: excessive deep cloning of ProjectSpec, remove cloning in No-Op hash creation for PackageReference projects"
Related to https://github.com/NuGet/Home/issues/9041.

One of said clones is in https://github.com/NuGet/NuGet.Client/blob/0b178b9d10f7876fc7daa18487844f28d6bfea6b/src/NuGet.Core/NuGet.Commands/RestoreCommand/Utility/NoOpRestoreUtilities.cs#L196-L225.

That's arguably unnecessary cause it was already considered in https://github.com/NuGet/NuGet.Client/commit/967f1586cb225c90f17c6abdf7dfb03ffcfbb12

[2020-09-18 23:24] nkolev92 commented on #9041
There's 4 clones happening at this point:

*NetCorePackageReferenceProject - https://github.com/NuGet/NuGet.Client/blob/0b178b9d10f7876fc7daa18487844f28d6bfea6b/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/NetCorePackageReferenceProject.cs#L166 - This is arguably necessary cause the config could've changed. We can change/improve certain things there, but that's a different issue

[2020-09-19 00:05] alainbuenaventura commented on #5350
this one works like a charm. thank you

[2020-09-19 00:23] nkolev92 commented on #9041
Adjusting the estimate for the P2 improvement.

[2020-09-19 00:37] birgithi opened #10053 "Enable recommender for PackageReference style projects"
Enable package recommendations in Package Manager for PackageReference style projects. This is currently enabled only for packages.config style projects.

[2020-09-19 02:32] Danl2620 commented on #9786
Could this issue result in a `.lock` file no longer containing the transitive dependencies of the packages `.nupkg` file?

[2020-09-19 03:45] donnie-msft opened #10054 "Project List sorting on Version or Installed does not restore when Solution PMUI is reopened"
In Solution PMUI, you have a projects list shown. Sorting is persisted in user settings. However, I have noticed that the Installed/Version columns appear not to restore correctly.
I've debugged, and the values are read from settings, so I think somewhere our XAML overrides this or has issues with this column's type.

_Columns for reference:_
![image](https://user-images.githubusercontent.com/4920

[2020-09-19 08:19] AlirezaHaghshenas commented on #4103
@JonDouglas
My suggestion is: please make sure that the update makes absolutely no changes to the project file. In my solution I faced two such unwanted changes, reported above, but I'll repeat them here for your convenience. This also includes changes in indentation, line ending, spacing of all lines. Only package numbers will be affected. If you don't test for this, I expect many unhappy users t

[2020-09-19 19:26] Dietatko commented on #6376
This would not pick version 1.3 once available. So it is not the highest minor version but highest patch.

[2020-09-20 00:45] #10052 closed, assigned to nkolev92

[2020-09-21 05:37] dtivel opened #10055 "VS OE: do not use `object` type for project metadata values"
Calling either [`INuGetProjectManagerService.GetMetadataAsync(...)` or `INuGetProjectManagerService.TryGetMetadataAsync(...)`](https://github.com/NuGet/NuGet.Client/blob/6aeb27caae503ac56549812995338d25c9e7faf2/src/NuGet.Clients/NuGet.VisualStudio.Internal.Contracts/INuGetProjectManagerService.cs#L25-L26) with `NuGetProjectMetadataKeys.TargetFramework` over a remote connection will serialize a `Nu

[2020-09-21 09:01] v-longmin opened #10056 "The first project’s “packages.lock.json” file does not be updated after updating the package in PM UI with multiple projects"
## Details about Problem
VS Version: Main\30516.212
OS Version: Windows-10-Enterprise-RS5.
## Installion
Install VS: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4072862&view=ms.vss-build-web.run-extensions-tab

## Detailed repro steps
1. Create a solution with multiple C# Class Library (.NET Framework) projects.
2. Set MSBuild property “RestorePackagesWithLockFile” to true in csp

[2020-09-21 09:13] v-luzh commented on #9960
It is fixed on both D16.8\30516.212 & Main\30517.154.

[2020-09-21 13:10] JB101UK commented on #8580
More recently I've noticed a general improvement in the frequency of success messages vs. failure messages. I've also found that in the few instances that it doesn't work, going away for a coffee and coming back 10 minutes later to retry is usually sufficient to achieve a successful push. Not an ideal solution, but at least you get a coffee out of it!

Anyway, I've included both my `NuGet.config`

[2020-09-21 13:34] denis-ivanov commented on #9020
Any solution?

[2020-09-21 15:58] pranavkm opened #10057 "Error Microsoft.AspnetCore.Mvc.Api.Analyzers"
---
**Issue moved from dotnet/aspnetcore#26130**
- Please respond to @shpsyte.

---

_From @shpsyte on Monday, September 21, 2020 3:10:54 PM_

### Describe the bug
I've installed the Microsoft.AspnetCore.Mvc.Api.Analyzers and when I try to restore I get these errors:

Unable to load the service index for source https://api.nuget.org/v3/index.json.
The SSL connection could not be established, see i

[2020-09-21 17:12] nkolev92 commented on #6384
Done as a side-effect of https://github.com/NuGet/Home/blob/dev/designs/VisualStudio-PartialRestoreOptimization.md and https://github.com/NuGet/Home/issues/9513.

The reporting now happens on the 1st restore. Every subsequent no-op *does not* report on the commandline.

[2020-09-21 17:12] #6384 closed, assigned to nkolev92

[2020-09-21 17:58] mrahl opened #10058 "Feature request - Incompatible packages / anti-dependencies"
As a package author, I would like the possibility to declare the opposite of a dependency, a package that my package is not compatible with.

My scenario is I maintain a package with a large installed base, let's call this package Core. I then create experimental features and release them in separate packages depending on Core (usually they're some extension to functionality in Core), call them Ex

[2020-09-21 19:30] #10055 closed, assigned to nobody

[2020-09-21 19:38] nkolev92 commented on #4103
Is this happening with `dotnet.exe add package`?

We'd appreciate if you can create a separate issue for that. It seems orthogonal from the effort here and might not be something that NuGet can control, so it'd be nice to get it to the right component.

[2020-09-21 20:19] aortiz-msft commented on #10028
Closing as dupe of https://github.com/NuGet/Home/issues/8298

[2020-09-21 20:19] #10028 closed, assigned to nobody

[2020-09-21 20:23] zkat commented on #10029
In theory, you should be able to try clearing the Pipelines cache. For some reason, it may have gotten polluted by someone by using an older version of NuGet that [used a buggy LZMA algorithm for hashing](https://github.com/NuGet/Home/issues/7414). You might even consider disabling the Pipelines cache altogether.

Can you try one of these strategies and let me know if that works for you?

[2020-09-21 20:33] zkat commented on #10039
cc @dominoFire because this is a SourceBuild issue.

[2020-09-21 20:37] nkolev92 commented on #2762
The link can't go to the channel, it can only go to the server.

Can we close this now? @JonDouglas

[2020-09-21 20:40] zkat commented on #10043
I'm gonna investigate this and see what we should do.

[2020-09-21 20:47] erdembayar commented on #9988
@nkolev92 @aortiz-msft
Updated latest summarized doc:
https://github.com/erdembayar/pmc_powershell_defer/blob/master/PMC_PowerShell_load.md

[2020-09-21 21:02] JonDouglas commented on #2762
As mentioned by @zkat above, the NuGet team has it's own channel in the https://aka.ms/dotnet-discord where you can publicly join the #nuget channel and interact with team members & the community alike!

I'm closing this issue as we are on Discord.

[2020-09-21 21:02] #2762 closed, assigned to anangaur

[2020-09-21 22:18] jerrylzy commented on #7957
Don't quite understand why this is not getting implemented? I don't think it's a hard change. Fields like release notes are important to MSFT internal customers (devs) and even more so to external customers / users.

[2020-09-21 22:25] dominoFire commented on #9999
I think it's better to engage in the other issue https://github.com/NuGet/Home/issues/9347 ;

[2020-09-22 00:02] wackoisgod commented on #9347
So wanting to pick this back up as mentioned in #9999 right now we have a working TFM for the Unity DOTS profile that followes the recommended naming scheme provided here and works fine when all the projects are using this TFM, builds with no issues etc.. the issue we are running into is compatiblity with .netstandard which causes issues within the tooling.

I have the following:

LibA (netstandar

[2020-09-22 00:31] zivkan opened #10059 "Consolidate dotnet nuget cli code to NuGet.CommandLine.XPlat"
## Background

NuGet is integrated in the `dotnet` CLI. This integration is achieved by NuGet owning `NuGet.CommandLine.XPlat.dll`, which is in the NuGet/NuGet.Client repo. The dotnet CLI repo (now in dotnet/sdk) calls into NuGet's dll, as it ships in the SDK. When certain commands in the `dotnet` cli are run, the `dotnet` cli executes `NuGet.CommandLine.XPlat` with the relevant arguments. Note, t

[2020-09-22 02:02] AlirezaHaghshenas commented on #4103
No, I'm talking about dotnet cli in linux.
Ok. So, I guess I'm on the wrong repository.

[2020-09-22 02:05] nkolev92 commented on #4103
@AlirezaHaghshenas The nuget functionality in dotnet.exe is tracked in NuGet/Home.

[2020-09-22 02:45] v-luzh commented on #10036
@aortiz-msft, We cannot repro it on VS 16.7.3 with Windows 10 Pro v1909, OS Build 18363.1082 (same VS and OS version with customer) after installing the Win10 Updates. The Package Manager Console works well and there is no error message, and the PowerShell Tools for Visual Studio works well for me.

[2020-09-22 10:00] tobias-klein commented on #7001
I would appreciate a fix of this issue. It's currently breaking the Windows build of [Ezra Project](https://github.com/tobias-klein/ezra-project).

[2020-09-22 10:04] sae42 commented on #10035
@zivkan I definitely think there is some confusion here. I'll try to summarize from my perspective as a bunch of bullet points:

1. The example above (C# .NET Core project) is to demonstrate a build fail when moving from 16.7 to 16.8. You should be able to repro. The reason I added that example is that it shows the build issue I'm getting without needing anything from me.

2. The reason I'm gettin

[2020-09-22 12:15] IanKemp commented on #6330
**Not acceptable.** You cannot simply decide to remove a well-known, well-understood, and often necessary function without providing an alternative.

At least be honest by saying "we can't be arsed to implement this for Core" instead of hiding behind the already-debunked "security risk" excuse.

[2020-09-22 14:12] EthanHotz-Reisys commented on #10036
I ended up reinstalling Windows to fix this issue; not sure what the cause might have been, but everything is working now.

[2020-09-22 14:12] #10036 closed, assigned to v-luzh

[2020-09-22 15:51] jeffkl commented on #9844
Based on the stack trace, this was probably fixed by https://github.com/NuGet/NuGet.Client/pull/3261 because the method that's failing (`NoOpRestoreUtilities.PersistDGSpecFile`) doesn't exist any more.  Are you able to use the latest Visual Studio 2019 16.7.2 and see if it still happens?

[2020-09-22 17:45] zivkan commented on #10035
Ah, I understand now. In this example, you restored and built using the 16.7 tools, then you tried to build, without restore, using the 16.8 tools. Unfortunately yes, I would say this is expected.

On the command line, `dotnet build` restores automatically before build, it's just msbuild.exe that does not restore automatically. In VS, CPS based projects get restored after nomination (project load)

[2020-09-22 17:58] nkolev92 commented on #10035
@zivkan The problem is the alias addition. There's no aliases in LegacyPackageReference paths, and the SDK looks up things based on the alias.

So it *has* to go through the specific CPS/SDK PackageReference codepath.

I'll write-up a more detailed explanation later.

[2020-09-22 18:02] sae42 commented on #10035
Yep, that's exactly right.

Right, so I'm trying to use Nominate* in a non-CPS project which doesn't update the assets file (the VS restore command didn't do much either).

So would I, CPS should really have nothing to do with this - that's just a boilerplate implementation of a VS project system, not whether that project system supports SDK-Style MSBuild, NuGet package refs or whatever. Legacy is

[2020-09-22 18:15] aortiz-msft commented on #10036
Sorry to hear about your experience @EthanHotz-Reisys, but I'm relieved you got unblocked.

[2020-09-22 18:24] aortiz-msft commented on #10056
Most likely caused by https://github.com/NuGet/NuGet.Client/pull/3649

[2020-09-22 18:29] zivkan commented on #10035
This is what I was trying to get at. I wasn't sure if @sae42 was using the `netcoreapp3.1` project being built with 16.8, but a 16.7 assets file was a scenario that their custom project type actually attempts, or if they just found a different scenario that has a similar error message.

The assets file hasn't changed schema often, so normally this isn't a problem, but net5 TFM changes required the

[2020-09-22 19:42] sae42 commented on #10035
Yes, Nominate is called after project load since we require package refs to be available/resolved and usable for real-time syntax checking.

From the sound of it, this worked by chance - 16.7 and earlier generated a usable assets file. I'm still unclear on the purpose of the 'TargetAlias' property or whether for example the build should be more tolerant of it being missing (e.g. can it be inferred

[2020-09-22 20:18] rrelyea commented on #10056
@v-longmin  - both @dtivel  and i were not able to repro. Please re-verify (and give more details) if we are missing something specific:

i created two class library (.net framework) projects.
i installed mvvmlight 5.4.1 into one of them.
i installed Microsoft.EntityFrameworkCore 3.1.8 into another.
i ran git init in the solution directory.
i added all the files to change list.
i changed versions

[2020-09-22 20:21] dtivel commented on #10056
@v-longmin, please be specific about:
* which packages (and versions) you install into which project
* how you update package versions in PM UI.  (Do you open a project-specific PM UI, or the solution-wide PM UI?)
* any other details which are relevant to reproducing the behavior you see

[2020-09-22 21:33] Denis535 opened #10060 "VS Rebuild doesn't reinstall changed packages into global-packages (In last version 16.8.0 preview 3.1)"
I have solution with 2 projects.
First project produces nuget package into local repository.
Second project consumes this package.
I had to rebuild the project for the modified package to be reinstalled into `global-packages`.

But today I've updated Visual Studio to version 16.8.0 preview 3.1. And now rebuild doesn't reinstall the modified package. I'm forced to clear `global-packages` manually.

[2020-09-22 22:39] nkolev92 commented on #9952
PR out for this.

[2020-09-23 06:04] japj commented on #9844
@jeffkl thanks, great to hear this problem should be solved with 16.7.2. I will bump the priority of testing internal rollout of 16.7.2 so we can confirm it solves the issue

[2020-09-23 06:40] eosgortor commented on #9625
That did it. Thank you.

[2020-09-23 06:40] #9625 closed, assigned to nobody

[2020-09-23 08:57] v-luzh commented on #9635
Hi @nkolev92, **no hang** with dotnet restore, nuget restore, visual studio restore on both VS Main\30522.201 + NuGet Client release-5.8.0-preview.3\5.8.0.6854 and VS Main\30515.165 with implicit NuGet Client Dev\5.8.0.6842. NuGet gave errors (that the feed is not available) when selecting the unavailable source in Package source drop-down box.

[2020-09-23 10:00] v-luzh commented on #9406
@nkolev92, it **repro** on Main\30522.201 + NuGet Client release-5.8.0-preview.3\5.8.0.6854 as below.

C:\Users\v-luzh\Downloads\RestoreWithRelativePath-master\RestoreWithRelativePath-master>nuget.exe locals all -clear
Clearing NuGet HTTP cache: C:\Users\v-luzh\AppData\Local\NuGet\v3-cache
Clearing NuGet global packages folder: C:\Users\v-luzh\.nuget\packages\
Clearing NuGet Temp cache: C:\Users\v

[2020-09-23 10:01] moly commented on #6764
Should this feature also centralise lock files? I've set up `Directory.Packages.props`, but when I run `dotnet restore --use-lock-file` it still creates separate `packages.lock.json` files in each of the project folders, which is not what I'd expect.

[2020-09-23 10:43] v-longmin commented on #10056
Hi @dtivel , sorry, this key point which ensure the two projects' PM UI are opened at the same time when updating package version was not clearly described in previous testing steps, and we will continue verify the regression build according to this key point that the two projects' PM UI are opened at the same time when updating package version, thanks!

- we install newtonsoft(version 11.0.1) int

[2020-09-23 11:50] dylanfj700 opened #10061 "NuGet.config not flexible"
Can't have multiple nuget.config in a solution folder, one in each project folder, a bit like "composer" if we talk about PHP.
Example: in PHP you can have this
- /home/Solution1/
  - project1/
    - composer.json
    - vendor/
  - project2/
    - composer.json
    - vendor/

That's a shame .

[2020-09-23 13:08] timer84 commented on #5119
I have to say using configuration for restore makes a lot sense especially for solutions contain multiple dotNet targets. More and more projects are migrating from Framework to Core and it is common to have both versions live under the same hood. In this case we normally use 2 "Release" configurations to build the two separately. Unfortunately because "restore" doesn't use the configuration so it

[2020-09-23 13:23] tebeco commented on #6764
I think there are 2 completly different feature and then one should not affect the other
I think the unified solution lock file is on the table since December 2018 IIRC, but not sure when it will land

[2020-09-23 14:43] moly commented on #6764
@tebeco thanks. One other thing, the wiki says that you should be able to add packages through the dotnet cli: https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions#dotnet-cli-experience

However when I try this it adds the package versions to the .csproj instead of the Directory.Packages.props, which causes an error on restore. I guess this isn't implemented yet either and

[2020-09-23 14:48] tebeco commented on #6764
Well, that's a good question (i'm not part of Nuget team / or Msft)
I would guess they'll ask you which specific SDK are you using right now ?

Will try to re-update my "POC" repo to see that, I think I broke it this weekend :D

[2020-09-23 14:59] anangaur commented on #6764
/cc: @rconard

[2020-09-23 15:12] gulbanana commented on #6330
This has nothing to do with .NET core. The feature is gone if you use PackageReference in old-style .NET Framework csproj files too, and that's a good thing.

[2020-09-23 15:34] mmitche commented on #3116
@nkolev92 What's the status of a 'real' fix here? It's pretty clear that there is a workaround, but I'd like a fix that doesn't involve knowledge of the underpinnings of feed infrastructure (e.g. what's the package publish time of my input feeds?).

.NET has been hitting this pretty regularly lately (we removed our http cache clear a bit back).

I understand that there are some complexities here.

[2020-09-23 16:17] chrise9 commented on #10030
I can add some further statistics gathered from debugging/profiling a local build of Nuget 5.6 against our internal project. The only difference between the restores discussed below are the target frameworks being either net472 or netcoreapp3.1.

**Restoring just one of the 350ish projects:**

- Net472 takes about 3.6 seconds, of which that is broken down into about 850ms creating the dependency g

[2020-09-23 16:28] vatsan-madhavan commented on #3116
@mmitche Are the problems in .NET build still related to MSBuild SDK's? If so, then does MSBuild's SDK resolver honor `RestoreNoCache` yet (I don't believe it did last I checked over a year ago and that made this workaround unreliable).

[2020-09-23 16:35] mmitche commented on #3116
Not sure, @riarenas is investigating. We had a cache clearing step in the builds before (I think it was an explicit initial clear), but it was removed at some point.

[2020-09-23 16:58] nkolev92 commented on #9952
We haven't used projects much in our backlog tracking.

Unfortunately I don't recall the context of inconsistencies. This is largely a one off right now. It was a regression due to a new feature that actually does make things more consistent :D

[2020-09-23 17:05] nkolev92 commented on #6764
@moly

The overall feature is still being worked on. The dotnet.exe commands are not implemented yet, you can track that here: https://github.com/NuGet/Home/issues/9014.

[2020-09-23 17:11] nkolev92 commented on #9635
Thanks @v-luzh

@jmecosta UNfortunately we have not been able to reproduce this issue, and at this point we can't investigate this any further.

Are you still facing this problem?
Closing this issue for now, but we'd be happy to reconsider.

[2020-09-23 17:11] #9635 closed, assigned to v-luzh

[2020-09-23 17:29] zivkan opened #10062 "Add telemetry for NuGet's VS extensibility API faults"
NuGet's [VS extensibility APIs](https://docs.microsoft.com/en-us/nuget/visual-studio-extensibility/nuget-api-in-visual-studio) usually should not throw exceptions. Currently, we have no visibility when they do throw, and require customers to report problems to us.

This is particularly an issue for the new [brokered services](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.V

[2020-09-23 17:34] Denis535 commented on #9180
I was wondering why it doesn't work for local packages source ((
There is no way to disable caching for packages from local source? It's necessary for fast testing the package.

[2020-09-23 17:39] zivkan opened #10063 "Improve TargetsForTfmSpecificContentInPackage for TargetFramework alias support"
Before .NET 5, customers could extend pack to include additional files by adding their own targets that run as part of `TargetsForTfmSpecificContentInPackage `. For example:

[code]

However, given that the `lib` folder name no longer matches the default `TargetFramework` value for TFMs such as `net5.0-windows`, we need to consider improving this extensibility, so that customers have a property th

[2020-09-23 18:52] mwpowellhtx commented on #6140
I seem to be fighting the same bloody issue, `NETSDK1004` whatever it is, and `retrying findpackagesbyidasyncore for source`, failure. I do not recall this being the issue that it is with previous versions of NuGet. Seemed like it could handle multiple sources just fine. In fact, it is to be expected one might be drawing from multiple sources, the canonnical nuget package source, an MS internal pa

[2020-09-23 19:14] nkolev92 commented on #9986
Bumping down the estimate.

The design is out, and we need to go through the design first before scheduling this work.

[2020-09-23 20:23] aortiz-msft commented on #10063
As part of this feature, let's add tests to ensure we don't break this scenario moving forward.

[2020-09-23 20:24] aortiz-msft commented on #9180
@Denis535 Thanks for your feedback. Would you please open a new issue for your use case?

[2020-09-23 20:24] nkolev92 commented on #9180
There is no cache for local package sources.

See: https://docs.microsoft.com/en-us/nuget/concepts/package-installation-process

The global packages folder is an installation directory. It doesn't have life time management, so not quite a cache.

Your scenario is covered in https://github.com/NuGet/Home/issues/6579.

[2020-09-23 20:25] nkolev92 commented on #9180
@aortiz-msft Timing :D

I think  https://github.com/NuGet/Home/issues/6579 covers that ask.

[2020-09-23 20:28] aortiz-msft commented on #3116
@mmitche - Can you use the RestoreNoCache env variable mentioned in https://github.com/NuGet/Home/issues/3116#issuecomment-586426496?

[2020-09-23 20:34] mmitche commented on #3116
Yes, we believe we can and we're adding it back into our builds. But I'm more interested in a fix for the underlying issue.

[2020-09-23 21:07] Denis535 commented on #9180
I think I understand now.
There are local and remote (http) sources.
Also there is `http-cache` for packages from remote sources.
And there is `global-packages`. Many people think this is a cache. But this is just folder with unzipped packages.
Anyway `global-packages` lead to desynchronization ((

[2020-09-23 21:39] nkolev92 commented on #10035
@sae42 Can you please point to which exact nominate API is getting called? :D We got 3! :D
The 3 are: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.SolutionRestoreManager.Interop/IVsSolutionRestoreService.cs, https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.SolutionRestoreManager.Interop/IVsSolutionRestoreService2.cs, https://github.com/NuGet/NuGet.Cl

[2020-09-23 21:43] #10044 closed, assigned to nobody

[2020-09-23 21:54] dtivel commented on #10056
I can reproduce this behavior on latest released VS (16.7.4).

As a prerequisite for reproducing this bug, ensure that PackageReference project format will be used.

1.  Navigate on Visual Studio's main menu to Tools | "NuGet Package Manager" | "Package Manager Settings".
2.  In the subsequent Options dialog navigate in the left-hand tree pane to "NuGet Package Manager" | General.
3.  In the right

[2020-09-23 22:43] heng-liu commented on #9941
Close it as there seems no way to keep cross-platform consistent.
Pls let me know if there is anything we could do and reopen it. Thanks!
@rido-min @JonDouglas @dtivel @anangaur

[2020-09-23 22:43] #9941 closed, assigned to heng-liu

[2020-09-23 22:46] vatsan-madhavan commented on #3116
The old nuget-cache clearing in Arcade's build targets/scripts weren't helpful for MSBuild SDK's even in the past, unfortunately.

The MSBuild SDK resolver did its own NuGet calls I believe (probably still does), and didn't respect `RestoreNoCache `env etc (which means that these workarounds - however helpful in general - weren't *helpful enough* for .NET builds).

[2020-09-23 23:44] nkolev92 commented on #10030
@chrise9

Thanks for doing this investigation.
You've done a lot of heavy lifting here already!

I ran the tests on
[results.txt](https://github.com/NuGet/Home/files/5272445/results.txt) and the results with the latest nuget client in preview were 90s NC to 60s when *everything is completely empty*.

In the .NET Core version, there are more packages than the .NET Framework one, but that doesn't ex

[2020-09-24 00:29] nkolev92 commented on #9952
Low report count + inconsistent repro means this is likely not a big concern.

Fix is in review, but will be merged in 16.9 only.

[2020-09-24 06:16] rido-min commented on #9941
@anangaur @bartonjs @dtivel

If we agree with this behavior, the NuGet validation logic in Windows could refuse to install any package signed with a revoked certificate. It's not the best experience but at least is consistent across platforms.

In the case of an major issue, I'd prefer consistent behavior for the good and the bad.

[2020-09-24 11:02] v-luzh commented on #10056
Hi @dtivel , Thanks very much for the detailed steps. We will make sure the bugs we want to describe is as clear as you did in future. Thanks for the template you provide and that’s perfect.

Yes, what we wanted describe is same with your second bug. And it repro on both Main\30523.219 + NuGet Client dev latest build (5.8.0.6855),16.7.4, preview 3 and even the D16.4\30508.94 with implicit NuGet Cl

[2020-09-24 12:23] DigIntSys commented on #9539
@zivkan correct me if i'm wrong, but there are cases where having this option is still useful for dotnet core. I have a .net core project and am using azure devops to build a pipeline with a yml file. This process uses a package restore task that is limited to accepting 1 feed. Since my project uses multiple feeds, i have to use a nuget.config file to restore packages, which doesnt exist in a .net

[2020-09-24 12:43] zivkan commented on #9539
@DigIntSys the dotnet cli already has [`dotnet new nugetconfig`](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new) (the docs say this was added in the 1.0 SDK, so ever since .NET Core existed), [`dotnet nuget add source`](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-add-source) (added in SDK version 3.1.200).

But I highly recommend commiting your nuget.config into

[2020-09-24 12:49] ViktorHofer commented on #5154
@nkolev92 after discussing this with @JonDouglas offline I realized that to unblock us in the short-term it might be enough to allow duplicates, distinct them so that the de-duplicated TFM/TPM tuples are restored. We currently don't use different PackageReferences when multi-targeting for the same TFM/TPM tuple (ie net5.0-browser, net5.0-linux).

Just to be clear, we would still want the full feat

[2020-09-24 12:51] DigIntSys commented on #9539
thanks for the feedback @zivkan . it seems to be the default behavior for .net core projects not to have a nuget.config file and we never needed it until now. i suppose we are relying on the shared nuget.config for our local development and never thought about the implications. ill see what we can do.

[2020-09-24 13:55] sae42 commented on #10035
@nkolev92 I'm currently using https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.SolutionRestoreManager.Interop/IVsSolutionRestoreService2.cs,
(Number 2 - The one without an IVsProjectRestoreInfo).
I have also tried using https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.SolutionRestoreManager.Interop/IVsSolutionRestoreService2.cs,
with a quick and dirty im

[2020-09-24 14:55] zivkan commented on #5154
@ViktorHofer We already support restoring multiple net5.0 TFMs, as long as the canonical TFM is unique. For .NET 5, the canonical TFM is the combination of `TargetFrameworkMoniker` and `TargetPlatformMoniker`. For example, this restores and builds correctly:

[code]

The issue is that for platforms identifiers that the SDK doesn't know about, such as `net5.0-linux`, the SDK doesn't populate the `T

[2020-09-24 15:09] ViktorHofer commented on #5154
We don't use nuget's pack task, we use our custom packaging library which calls into NuGet's apis: https://github.com/dotnet/arcade/tree/master/src/Microsoft.DotNet.Build.Tasks.Packaging/src.

Can you point me to that logic? Is it possible to teach the SDK how to handle the custom TPM?

Right. I was curious if we could lift that restriction during restore by ignoring duplicates until the full feat

[2020-09-24 17:03] mmitche commented on #3116
@vatsan-madhavan I don't think that we're seeing those problems in these cases. All of these are post msbuild SDK-install restore issues.

[2020-09-24 18:33] donnie-msft opened #10065 "Updates Tab Checkbox selection is lost when package is clipped by viewport"
Not a Regression

## Details
WPF automatically scrolls items lists when an item is clicked, but not fully in view. This can make interacting with the PMUI unnecessarily difficult.
From VSFeedback: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1214662

## Detailed repro steps so we can see the same problem
_Three packages in the PMUI, where the third package is clipped slightly_
![image](h

[2020-09-24 20:55] #9952 closed, assigned to nkolev92

[2020-09-24 21:24] nkolev92 commented on #5154
@dsplaisted will know that.

That's hard and risky to lift. If we remove that, P2P, lock file generation & pack will fail/behave weird.
Now you might say you're not using those, but that's just the obvious failures :)
Lots of things in NuGet assume framework uniqueness, and look-up things based on that assumption.

`Allowing duplicates` is the full implementation unfortunately. It's more about man

[2020-09-24 22:44] Denis535 commented on #6579
In previous Visual Studio the Rebuild was updating `global-packages`. But now the Rebuild doesn't it. I should clear `global-packages` manually.
Anyone else noticed this?
https://github.com/NuGet/Home/issues/10060

[2020-09-24 22:47] Denis535 commented on #6579
So is there some way to reinstall the package?
I made my target "Push". But it doesn't work.

    <Target Name="Push" AfterTargets="Pack">
        <PropertyGroup>
            <PackageLocation>**/*.nupkg</PackageLocation>
        </PropertyGroup>
        <Exec Command="dotnet nuget push $(PackageLocation) --source Local" ConsoleToMsBuild="true" />
        <Exec Command="dotnet remove ../NuGetLibrar

[2020-09-24 23:23] #10020 closed, assigned to zkat

[2020-09-25 00:28] nkolev92 commented on #10060
@Denis535

Afaik, this behavior is consistent. NuGet *never* reinstalls packages in the global packages folder.

How does the second project consume the first one?

[2020-09-25 00:30] nkolev92 commented on #6579
@Denis535

Does the version of the package in question change?

[2020-09-25 00:45] drewgillies commented on #8834
This has been dropped from the spec. Closing.

[2020-09-25 00:45] #8834 closed, assigned to xavierdecoster

[2020-09-25 00:51] #10001 closed, assigned to cristinamanum

[2020-09-25 01:13] #9878 closed, assigned to nkolev92

[2020-09-25 01:15] nkolev92 commented on #10035
@sae42

There's 2 things that need to work a certain way.

* NuGet should be able to detect the project-system as compatible. That's happeningin in https://github.com/NuGet/NuGet.Client/blob/481728e64b4b52ac4bb3683cdc96afeb39890163/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/NetCorePackageReferenceProjectProvider.cs#L64.
If/when NuGet detects that, we assume that the project-sy

[2020-09-25 07:50] Denis535 commented on #6579
No. I don't change the version.

[2020-09-25 10:02] Denis535 commented on #6579
I also ran into the problem that my local repository has "NuGetLibrary" and nuget.org has someone's "NuGetLibrary".
And there is no way to set the source for the specific PackageReference. I cannot set the source at all. Neither `RestoreSources`, nor `packageSources/clear`, nor `disabledPackageSources` works. `Update-Package NuGetLibrary` updates to "NuGetLibrary" from nuget.org.

2021 is coming.

[2020-09-25 10:28] kastel commented on #10030
Hi @nkolev92, I'm in the same team as @saul and @chrise9.

Here are the results of the performance test on the real solution (both `net472` and `netcoreapp3.1` versions): [perf-test-results.txt](https://github.com/NuGet/Home/files/5281738/perf-test-results.txt). You can see there's basically a 10x slowdown, much more evident than in the test solution.

As to your suggestion to remove all netcoreap

[2020-09-25 11:14] mpreyskurantov commented on #7520
any updates?

[2020-09-25 14:00] sae42 commented on #10035
@nkolev92

Yep, our project system implements VSProject4 in order to supply the package refs. The NuGet PM UI all works well. We've supported this for several years (back to packages.config around VS2015 I think). We support SDK-Style projects in the same project system since enabling support for .NET Core 2.1.

[2020-09-25 14:21] Denis535 commented on #10060
Here is example.
[NuGetLibrary.zip](https://github.com/NuGet/Home/files/5283317/NuGetLibrary.zip)

Create "Local" source (I use path C:\NuGet\Repository).
Build and pack "NuGetLibrary" project. My Push target will push it into local source.
Rebuild "NuGetLibrary.Console". If global-packages already has an old package then "NuGetLibrary.Console" will use this old
package. In previous VS I haven't t

[2020-09-25 15:12] iSeiryu commented on #9020
### Confirming the issue
Windows Version: Windows 10 Pro 10.0.19041 Build 19041
WSL 2: Ubuntu 18.04
Docker Desktop Version: 2.3.0.5 (48029)
Docker Engine Version: 19.03.12, build 48a66213fe
Base Image: mcr.microsoft.com/dotnet/core/sdk:3.1-buster

When I run ```dotnet build``` on Windows or inside WSL it works and the whole process takes ~10 seconds.
But when I run the same command inside Dockerfi

[2020-09-25 15:23] anangaur commented on #6579
/cc: @JonDouglas @rconard

[2020-09-25 15:49] zivkan opened #10066 "Test: E2E test FindPackageByIdExactMatch is flaky"
The test is frequently timing out recently.

[2020-09-25 15:53] mholo65 commented on #9949
@nkolev92 if this is still up-for-grabs I can take a stab at it. Perfect for #hacktoberfest

[2020-09-25 16:12] jozefizso commented on #10029
We are using the latest nuget.exe v5.7 locally and on Azure Pipeline. Cache was not polluted by older nuget release.

[2020-09-25 16:13] jozefizso commented on #10029
It takes extremely long time to restore packages using nuget. Therefore we are caching them.

[2020-09-25 17:48] iSeiryu commented on #9020
Linking this issue https://github.com/NuGet/NuGetGallery/issues/5887

[2020-09-25 17:48] aortiz-msft commented on #9949
@mholo65 - it is definitely up-for-grabs. That'd be great!

[2020-09-25 18:13] #9827 closed, assigned to donnie-msft

[2020-09-25 18:20] nkolev92 commented on #10030
Thanks for those numbers @kastel

Looking at those a little closer, in both net472 & netcoreapp3.1 scenarios, the numbers suggest a slow restore even in the situation where things are not getting download (compare cold vs force).

I understand, digging a bit deeper, I might have a few other suggestions.

* Static graph restore. When you have *a lot* of projects, NuGet spends a lot of time in MSBui

[2020-09-25 18:30] cristinamanum opened #10067 "Enhance telemetry with new information"
## Details about Problem
Enhance the existing telemetry events with information for:

- [ ] CommitAsync duration

- [ ] Graph - WalkAsync duration

- [ ] Graph - analyze and graph creation duration

- [ ] The count of central package versions

- [ ] Noop - GetHash

- [ ] Noop - SafeRead

[2020-09-25 18:38] nkolev92 commented on #9949
@mholo65

Yep, for ideas look at https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/RestoreCommand/Logging/RestoreCollectorLogger.cs as it implements the restore side equivalent of https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/PackCollectorLogger.cs.

Both rely on https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/R

[2020-09-25 18:45] iSeiryu commented on #9020
#### Possible fix
Besides ```--disable-parallel``` the following also works (most of the time).
Inside Dockerfile copy only the main project(s) first
[code]

It outputs a lot of
[code]
But when it gets to dotnet build step it just works
[code]

There is also this article https://andrewlock.net/optimising-asp-net-core-apps-in-docker-avoiding-manually-copying-csproj-files/

[2020-09-25 19:04] nkolev92 commented on #6579
NuGet assumes package immutability. NuGet doesn't delete anything from the GPF, so in the meantime, your best course of action is changing the version.

[2020-09-25 20:08] nkolev92 opened #10068 "Improve the no-op hashing performance"
Currently the no-op hash is calculated by creating a json string of the dependency graph spec for said project.
This involves a lot of duplicate + using jsonwriter for hash is not ideal.

This issue tracks the investigation for improving that hashing performance.

I discussed with @cristinamanum and @zivkan

The suggestion is move to a normal hashing function instead of using the package specwrite

[2020-09-25 20:09] nkolev92 commented on #10068
Setting the estimate to 30-ish, but likely I will only spend 5 on it in S177.

[2020-09-25 20:10] nkolev92 commented on #9041
https://github.com/NuGet/Home/issues/10068 is where the investigation needs to go at this point.
Changing the hashing function will make it easier to remove the extra clone.

[2020-09-25 20:11] nkolev92 commented on #9810
Bumping S177, as the roslyn side is not yet ready :)

[2020-09-25 20:14] nkolev92 commented on #9568
https://github.com/nuget/home/issues/9986 is the only thing left. Closing this in favor of that.

[2020-09-25 20:14] #9568 closed, assigned to nkolev92

[2020-09-25 20:59] nkolev92 commented on #9988
* Create an issue for adding the telemetry.
* We can leave this issue open because we'll act based on what the telemetry tells us.

Finally, ensure that the status is communicated on the issue in AzDO.

[2020-09-25 21:07] erdembayar opened #10069 "Nuget PMC memory usage - Add new telemetries to track events related to PMC and Powershell usage."
Child of https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1167790.

Recently decided not to act on [decrease PMC usage](https://github.com/NuGet/Home/issues/9988) issue. We suspect it's highly unlikely problem to happen. To better understand this problem we add this telemetries. This one is for writing the spec.

[2020-09-25 22:02] nkolev92 commented on #9988
The progress here is dependant on what we find through our data.

[2020-09-25 22:22] erdembayar opened #10070 "Nuget PMUI throws StreamJsonRPC exception"
## Detailed repro steps so we can see the same problem
Not sure if it's regression.

1. Open Nuget.Client source code in VS
2. Install Text2Xml(v 1.1.0) package into all projects.
3. Try to downgrade Text2Xml(v 1.0.1) version.
![Error1.PNG](https://images.zenhubusercontent.com/5eb1d84a3cd56675c3efe510/eef97020-4a36-4d02-b443-feeb6a8835ef)

Related issues:
https://devdiv.visualstudio.com/DevDiv/_wo

[2020-09-26 21:16] StingyJack commented on #6579
@Denis535 - of the above choices, I find it's easier and faster to bump the version using a timestamp for the 4th part of the version number, as it only requires the clicking of the Update button for the package, and doesn't require more clicks or the redownload of all the other packages in the global folder.

[2020-09-27 11:02] #7305 closed, assigned to nkolev92

[2020-09-27 16:57] jnm2 commented on #2762
@nkolev92

It's possible to create channel-specific links. https://www.reddit.com/r/discordapp/comments/6i79zb/link_directly_to_a_specific_channel_on_a_server/

[2020-09-27 19:56] donnie-msft opened #10071 "Replace remaining XAML-drawn icons with Image Service icons"
**Blocked by**: https://devdiv-design.visualstudio.com/D3%20Studio/_workitems/edit/12595
Remove and replace XAML-drawn icons with Image Service, once they are available per this blocking issue.

Cancel/Download are available today, but are very thin and may not work well in our UI. I believe new icons are being created per issue.
For the ones that already had close matches, they'll be removed as p

[2020-09-28 02:28] donnie-msft commented on #9977
build/packages.targets may need the following update?
`<VSFrameworkVersion>16.8.30523.219</VSFrameworkVersion>`

[2020-09-28 02:33] donnie-msft commented on #10071
andreinitescu [commented](https://github.com/nuget/home/issues/9789#issuecomment-687562896):

[2020-09-28 02:51] zivkan opened #10072 "Enabled structured logging for metrics in NuGet.Build.Tasks"
MSBuild has an API [`IBuildEngine5.LogTelemetry`](https://github.com/dotnet/msbuild/blob/aed5e7ed0b7e031d3e486c63b206902bf825b128/src/Framework/IBuildEngine5.cs#L18) which does **not** send any telemetry, but allows any MSBuild loggers passed in on the command line, which receive [`IDictionary<string, string>` property bags](https://github.com/dotnet/msbuild/blob/aed5e7ed0b7e031d3e486c63b206902bf8

[2020-09-28 07:11] mingkuang-Chuyu opened #10073 "ContentFiles, PackageReference, support providing custom metadata for individual files"
## Details about Problem

NuGet product used VS UI

NuGet version (5.7.0):

VS version (16.7.4):

OS version (WIndows 7 x64 SP1):

## suggested

in nuspec file

[code]
This item is generated in memory at Build time:

[code]

But sometimes we need to attach some Metadatas(like CustomToolNamespace).
For example:
[code]
Can we support specifying the Metadata ourselves? like this:
[code]

then in memo

[2020-09-28 11:45] moly opened #10074 "lock files always inconsistent when using centrally managed packages"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): **dotnet.exe**

NuGet version (x.x.x.xxx): **5.7.0.7**

dotnet.exe --version (if appropriate): **3.1.402**

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)): **win10 v1809 (17763.1397)**

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can s

[2020-09-28 15:32] dtivel opened #10075 "Race condition during restore for DotnetCliToolReference packages in the default parallel processing mode"
[code]
(truncated)

[2020-09-28 16:08] cristinamanum opened #10076 "Add an NuGet ETW event provider through event source."
## Details about Problem

Add support to collect ETW traces for NuGet telemetry events.
This will enable telemetry collection outside Visual Studio process.

[2020-09-28 16:35] cristinamanum opened #10077 "[CPVM Perf] - CommitAsync perf improvements for the large CPVM files"
CommitAsync is still area where the perf of CPVM scenarios can be improved.

The CPV information is serialized to the dgspec files to be available for nuget.exe scenarios.

Experiment and prototype a  possible solution to support faster Commit for msbuild scenarios without affecting the functionality of the nuget.exe. Document pros and cons.

[2020-09-28 16:36] dtivel opened #10078 "Test: RestoreLogging_MissingNuspecInGlobalPackages_FailsWithNU5037Async is flaky"
On macOS:
[code]

[2020-09-28 16:36] cristinamanum commented on #8912
So far the following issues were identified.
https://github.com/NuGet/Home/issues/10001
https://github.com/NuGet/Home/issues/10002
https://github.com/NuGet/Home/issues/10004
https://github.com/NuGet/Home/issues/10003
https://github.com/NuGet/Home/issues/10077

[2020-09-28 16:36] #8912 closed, assigned to cristinamanum

[2020-09-28 16:38] dtivel opened #10079 "VS OE: IProjectMetadataContextInfo missing formatter"
https://github.com/NuGet/NuGet.Client/pull/3679 added a new `IProjectMetadataContextInfo` type but failed to add a formatter for it.  As a result PM UI doesn't open in VS OE.

[2020-09-28 16:41] cristinamanum commented on #9740
Pull this in 177 if time allows

[2020-09-28 16:54] #10079 closed, assigned to dtivel

[2020-09-28 16:55] donnie-msft commented on #8315
As part of this work, let's also update the Add/Remove icons. They look a couple decades old (I think these are Windows Forms assets)
![image](https://user-images.githubusercontent.com/49205731/94462622-cf009000-0189-11eb-8c8b-c8d3e90c4533.png)

[2020-09-28 17:18] dominoFire commented on #10066
Test is failing becuase TestPackage.OverwriteTest is not listed in results.

Related issue: https://github.com/NuGet/NuGetGallery/issues/8172

[2020-09-28 17:18] heng-liu commented on #8952
This is blocked(Same as https://github.com/NuGet/Client.Engineering/issues/367).
As the SDK version for testing should be at least 5.0 preview7.

[2020-09-28 17:55] heng-liu commented on #10061
Yes, we share one NuGet.Config for all projects in one solution.
May I know why you need multiple NuGet.Config?
And why putting all sources in one NuGet.Config doesn't work for you? Thanks!

[2020-09-28 18:09] dominoFire commented on #9311
Validation can be added to only accept .png, .jpeg, .jpg images; very similar to license validation

[2020-09-28 18:12] donnie-msft commented on #9789
@andreinitescu I'll close this issue with https://github.com/NuGet/NuGet.Client/pull/3690 as it resolves the "old green tick" that this issue focuses on.
Your other comments, I've moved to #10071 - so please add further discussion there for the Refresh icon and removing indicators from the packages list. Thanks!

[2020-09-28 18:36] #10010 closed, assigned to sbanni

[2020-09-28 18:50] sbanni opened #10080 "Remote LicenseMetadata for VS.Oe"
Need to remote the LicenseMetadata over in the PackageSearchMetadata and be able to stream the license file from embedded packages located on the server.

[2020-09-28 18:56] rrelyea commented on #9919
RPS regression related to this: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1220030

[2020-09-28 19:09] donnie-msft commented on #9977
Blocked until 16.8 packages are released publicly

[2020-09-28 19:37] #10002 closed, assigned to cristinamanum

[2020-09-28 20:06] nkolev92 commented on #10068
Moving to S178.

[2020-09-28 20:10] zivkan opened #10081 "GetInstalledPackages throws for PackageReference projects when assets file doesn't match project TFMs"

[2020-09-28 20:18] #9830 closed, assigned to chrisraygill

[2020-09-28 20:18] donnie-msft opened #10082 "PMUI Navigation Responsiveness & Architecture enhancements"
Spec https://github.com/NuGet/Home/blob/dev/accepted/archive/PMUITabSwitchRefactoring.md

[2020-09-28 20:24] donnie-msft opened #10083 "Prototype changes to InfiniteScrollList datasource"

[2020-09-28 20:54] dtivel opened #10084 "Build: non-fatal errors from prerelease dependencies"
[code]

[2020-09-28 20:55] zkat opened #10085 "Merge view readme feature branch into dev"

[2020-09-28 20:56] zkat commented on #9890
Closing in favor of https://github.com/NuGet/Home/issues/10085

[2020-09-28 20:56] #9890 closed, assigned to zkat

[2020-09-28 21:02] zkat commented on #9917
This is done.

[2020-09-28 21:02] #9917 closed, assigned to zkat

[2020-09-28 21:35] nkolev92 commented on #10084
Dup of https://github.com/NuGet/Client.Engineering/issues/547.

There used to a pack bug https://github.com/NuGet/Home/issues/7404, but that got fixed in 5.7.

In https://github.com/NuGet/NuGet.Client/commit/156230a57ee2c7f425dec377689b8d16d31b480b I upgraded our pack sdk, but that is still not causing it to fail.

There's a bug in how we run pack.

[2020-09-28 21:35] #10084 closed, assigned to nobody

[2020-09-28 21:36] #10004 closed, assigned to cristinamanum

[2020-09-28 23:36] nkolev92 commented on #1309
NuGet has it's own output pane for non-build operations, and on build we write to the output window.

This has been true for a while now. Closing this.

[2020-09-28 23:36] #1309 closed, assigned to nobody

[2020-09-28 23:42] nkolev92 commented on #2036
Think the ROI is not here anymoer :)
There are many abstractions and the low level code depends on ILogger consistently.

[2020-09-28 23:42] #2036 closed, assigned to nobody

[2020-09-28 23:52] nkolev92 commented on #2301
File based frameworks are covered in https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu5103.

Nuspec stuff covered with an error.
[code]

[2020-09-28 23:52] #2301 closed, assigned to nobody

[2020-09-28 23:53] nkolev92 commented on #2320
With netstandard and more recently NET5, the frameworks in .NET have taken a different direction so this issue is unnecessary.
Closing

[2020-09-28 23:53] #2320 closed, assigned to nobody

[2020-09-28 23:55] nkolev92 commented on #1589
This has been long fixed now.

At the minimum 5.x has a fix for this. Closing.

[2020-09-28 23:55] #1589 closed, assigned to nobody

[2020-09-29 00:07] nkolev92 commented on #8555
Dup of https://github.com/NuGet/Home/issues/1907

[2020-09-29 00:07] #8555 closed, assigned to nobody

[2020-09-29 01:03] Varorbc commented on #7508
[code]

[2020-09-29 01:04] Varorbc commented on #7508
[code]

[2020-09-29 01:04] #7508 closed, assigned to nobody

[2020-09-29 01:28] nkolev92 commented on #10062
In the stack trace I see an NPE. Is the NPE expected/side-effect of how we use it?

It's similar to what @erdembayar is looking into at https://github.com/NuGet/Home/issues/10070.

cc @aortiz-msft

[2020-09-29 01:42] davkean commented on #9977
@donnie-msft You can consume VS packages from the public feeds without needing them to be published to NuGet: https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk/nuget/v3/index.json and https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-impl/nuget/v3/index.json.

[2020-09-29 01:44] nkolev92 commented on #10035
I see.
Unfortunately the SDK projects experience is tightly coupled with CPS and the usage of the NetCorePackageReferenceProject.

The way to avoid future problems would be to move to a CPS based project system, one that does nominations for SDK projects.

What are the things that your project-system provides that the default project system does?

cc @davkean as he owns the project-system PackageR

[2020-09-29 03:14] erdembayar commented on #10070
I found line detecting this error:
https://github.com/NuGet/NuGet.Client/blob/4e671943172ccab55e594e665d67f6aa12dfbeea/src/NuGet.Clients/NuGet.PackageManagement.UI/Actions/UIActionEngine.cs#L433

Actual source for this error was:
https://github.com/NuGet/NuGet.Client/blob/44f1096f584a949a9acd68b7f1057e9ee2b54dc3/src/NuGet.Core/NuGet.PackageManagement/NuGetPackageManager.cs#L3118

![image](https://

[2020-09-29 04:27] donnie-msft commented on #9977
@davkean yes, but our repo pins those versions with a variable, so then other dependencies aren't yet available.
Example: `Unable to find package Microsoft.VisualStudio.Utilities with version (>= 16.8.30523.219)`
The latest version available is 16.8.30323.125, which doesn't meet the minimum you mentioned: 16.8.30431.43-pre.

[2020-09-29 08:02] ulfllorenz opened #10086 "Transitive dependency not copied to dependent project's output file"
## Details about Problem

Nuget is used in conjunction with VisualStudio / MSBuild. Versions are VS16.7.4 / Nuget 5.7.0

The general problem occurs with a very special package, namely System.ComponentModel.Annotations. The NetStandard implementation includes code from the System.ComponentModel.DataAnnotations namespace to extend functionality missing in NetStandard, while the NetFramework version

[2020-09-29 12:44] sae42 commented on #10035
@nkolev92 I'm not sure I understand the question. My project system is functionally equivalent to csproj.dll + support for .NET Core/SDK-Style MSBuild projects (e.g. the References node has been extended to support dependencies/package refs etc). Rewriting this to CPS is not trivial (though remains a long term aim).

[2020-09-29 15:10] v-luzh opened #10087 "Warning ‘RestoreManagerPackage’ package did not load correctly occurred and PM UI Menus disappeared when updating all packages for ASP.NET Web Single Page Application (.NET Framework)"
## Details about Problem
NuGet version: NuGet Client Release-5.8.x\5.8.0.6873
VS Version: Main\30528.160
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Open VS and click “Create a new project” button and click the template “ASP.NET Web Application (.NET Framework)”.
2. Type the project name, click “Create” button and create a “Single Page Application”.
3. Open project PM UI, go to “Updat

[2020-09-29 15:29] augustoproiete commented on #5963
Happy 3 year anniversary!!! 🎉  🥳

[2020-09-29 15:30] dtivel commented on #10070
The "Value cannot be null" exception is not something I'm familiar with.  You can investigate/raise that issue separately from this issue.

This issue is about a duplicate error which has "StreamJsonRpc" and a callstack added to it.  This is a dupe of https://github.com/NuGet/Home/issues/10034.

[2020-09-29 17:10] nkolev92 commented on #9953
@srdjanjovcic

Is this meant to be closed?

The PR says "partially".

[2020-09-29 17:15] srdjanjovcic commented on #9953
Nope. It was accidentally closed with PR.

[2020-09-29 17:15] srdjanjovcic commented on #9953
Thanks for noticing 🙂

[2020-09-29 17:56] dtivel opened #10088 "VS OE: propagate exceptions consistently from service to client"
Client code that was moved behind a VS OE service now has the potential of throwing a `StreamJsonRpc.RemoteInvocationException` where it threw some other exception type before.  In client code we sometimes have [specialized error reporting based on exception type](https://github.com/NuGet/NuGet.Client/blob/ba87e7e45851add0e46a217c14fa2c95973244a9/src/NuGet.Clients/NuGet.PackageManagement.UI/UserIn

[2020-09-29 17:57] dtivel commented on #10088
https://github.com/NuGet/Home/issues/10034 and https://github.com/NuGet/Home/issues/10070 are 2 examples where the unexpected exception type `StreamJsonRpc.RemoteInvocationException` affected our error reporting.

[2020-09-29 18:02] cristinamanum opened #10089 "[CPVM - PMUI] Error on the Browse tab for non-CPS projects"
## Details about Problem
Error on "Browse" tab in the PMUI for a non-CPS project CPVM enabled.

## Detailed repro steps so we can see the same problem

1. Download the attached file

2. Open the project in VisualStudio (Visual Studio version used: Version 16.8.0 Preview 4.0 [30518.12.main])

3. Build

4. Open "Manage NuGet Packages For Solution" and Browse tab

Result :
Error:
Value cannot be null

[2020-09-29 18:23] dtivel commented on #10034
In 16.8 we introduced multiple new VS OE services.  We basically moved a bunch of existing code behind some new, remoteable interfaces.  While these VS OE services can be local or remote, client code is generally blind to whether a service is actually local or remote.  This is great because client code doesn't need different code paths for local and remote scenarios.

Before adding VS OE support,

[2020-09-29 19:05] kzu commented on #7250
This has been contributed and merged a while ago. Plz feel free to close.

[2020-09-29 19:06] aortiz-msft opened #10090 "Design and cost Dotnet nuget sign"

[2020-09-29 20:03] JonDouglas commented on #3891
I've been looking into this scenario and collecting feedback on what this would look like.

So far I've more/less heard that people want a property on `<ProjectReference>` called something like `IncludeOutputDll` which would be true/false & would result in the behavior as outlined in https://github.com/nuget/home/issues/3891#issuecomment-377319939 which will copy the project references into the pa

[2020-09-29 20:06] JakeSays commented on #3891
@JonDouglas I'd also like to be able to include arbitrary dlls and executables that are not referenced, or are not a nuget package.

However your `IncludeOutputDll` attribute is a great start!

[2020-09-29 20:32] #7250 closed, assigned to nobody

[2020-09-29 21:00] dtivel commented on #10087
To be clear, the warning I get in step 4 of the repro steps that prompts to restart is this:
![image](https://user-images.githubusercontent.com/12734758/94615148-19ead800-025c-11eb-9aca-c99b0500f866.png)

[2020-09-29 21:50] kzu commented on #3891
I'd say this has to be smarter. In NuGetizer this is automatic. If the referenced project declares a PackageId, it's added as a dependency. If it doesn't, its contents/outputs are included in the referencing project package. To exclude that behavior, you just set Pack=false on the project reference.

I think the default behavior should match what you'd typically do, and extra metadata should serve

[2020-09-29 21:59] donnie-msft commented on #10037
@dominoFire could you add the stack/message you were seeing? Wondering if it's  `System.ArithmeticException Exception Info: System.OverflowException`

[2020-09-29 22:19] JakeSays commented on #3891
@kzu Just looked at NuGetizer - looks really cool. I'm going to give it a try next time I need to package something.

[2020-09-29 22:34] jzabroski commented on #3891
@JakeSays For those who don't know, Microsoft pretty much just does whatever @kzu comes up with, but it takes about 3-4 years from his prototype to become a reality.  Literally everything you see in .NET Core was prototyped by him in the old days.  Just search nuget.org for his author name and you will see what I mean.  Worth seeing what he has in the oven.

@JonDouglas I already said what I think

[2020-09-29 22:35] erdembayar opened #10091 "Powershell init.ps1 doesn't run correctly for EF6 if you downgrade and then upgrade"
## Detailed repro steps so we can see the same problem

1. Let there is solution installed EF V6.3

2. Downgrade to EF FV6.1

3. Then upgrade to EF 6.4.4

Now if type "update-database" on PMC then you'll get error
`A version of Entity Framework older than 6.3 is also installed. The newer tools are running. Use 'EntityFramework\Update-Database' for the older version.`
It looks like if you downgrade

[2020-09-29 22:41] jzabroski commented on #3891
@JonDouglas This is a much better behavior than your proposed specification.  I don't really like flags in my build file, I want settings that select what target items belong time.   That's the MSBuild way, and it works really well when followed religiously.  `IncludeOutputDll` isn't associated with any particular action, so it's a pretty confusing API.  Include,... **_where_**?  Not trying to giv

[2020-09-29 23:05] kartheekp-ms commented on #10075
Thanks for creating this issue. I am working on NuGet/Client.Engineering#67. I noticed the same test failure in my [private build](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4106535&view=ms.vss-test-web.build-test-results-tab&runId=16035488&resultId=100710&paneView=debug) and I initially though this failure was due to running tests in parallel.
//cc @zivkan

[2020-09-29 23:07] nkolev92 commented on #10091
Do you actually know whether init.ps1 is being? Or did you conclude this by observing the symptoms?

[2020-09-29 23:44] JonDouglas commented on #3891
@jzabroski I just want to move the conversation to a solution forward. My proposal is merely trying to start to understand what a solution would look like from an end-user perspective. If you do have a proposal you'd like to throw on this issue as a comment, that will also help us weigh our options as well.

[2020-09-29 23:51] dansiegel commented on #3891
@JonDouglas I think that something like what @kzu mentioned would actually make a lot more sense.

[code]

While this might be very explicit, I think it makes a lot more sense simply to evaluate the reference... if it was packable or not. Where this explicit option makes more sense IMO is where you may want to force the issue like if for some weird reason you wanting ProjectB to a standalone packa

[2020-09-29 23:54] JonDouglas commented on #3891
@dansiegel Care to elaborate with an example of how that would look as a sample? Thanks!

[2020-09-30 00:19] dansiegel commented on #3891
Sure... so let's say we have Project B and it's csproj looks something like this

[code]

### Implicit

For an implicit scenario let's say we have Project A and it's csproj looks something like this:

[code]

### Explicit

For an explicit scenario let's say we have Project A and it's csproj looks something like this:

[code]

The pack task should simply understand that ProjectB wasn't packable and

[2020-09-30 00:28] jzabroski commented on #3891
@JonDouglas Just copy what @kzu does in Nugetizer.  Half of the modern improvements to MSBuild syntax are inspired by stuff he has created for the community.

I get that you want to check things as done, but you can't lead by creating solutions that dive too far into the details.

IncludeOutputDll=true does not:

1. Specify where to output the dll
2. Specify what action creates the output
3. Assum

[2020-09-30 00:29] v-luzh commented on #10087
@dtivel, yes you are right. You will see the warning dialog and PM UI gone after clicking the "Restart" button.

[2020-09-30 00:39] JonDouglas commented on #3891
@dansiegel Thank you kindly for the example!

@jzabroski Thank you for the suggestions! Again, don't think that my proposal has any merit to it, it's merely a conversation piece to get to the deeper understanding of an ideal solution as pointed out by yourself, @kzu, and @dansiegel. We'll work to create a spec based on discussions here & get the community's eyes on it to progress forward.

[2020-09-30 00:39] josh-endries commented on #3891
I mean, [IncludeReferencedProjects](https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-pack) is already a thing, you do one CLI switch and it goes. I'm pretty sure I've used that and it worked as I expected... I would base it off of that.

IMHO if a referenced project itself is set to create a package, it should be treated as a package dependency, otherwise it should include th

[2020-09-30 00:45] nkolev92 commented on #10074
Thanks @moly.

I was able to repro this both by following your steps and sample project.

cc @cristinamanum

[2020-09-30 00:46] nkolev92 commented on #9535
@cristinamanum https://github.com/NuGet/Home/issues/10074 might be a candidate for this epic.

[2020-09-30 00:53] JakeSays commented on #3891
@jzabroski I didn't find your "for those..." comment useful. Surely you have more constructive things to say.

[2020-09-30 00:57] jzabroski commented on #3891
@JakeSays I'm sorry you didn't find it constructive, but I was just communicating that every time I've run into a problem with MSBuild, I've found that @kzu has a solution for it way before Microsoft has an official solution.  I feel that's a very constructive tip to add to this discussion.  I have built a fair amount of my career by figuring out "who to follow" and being good at taking direction

[2020-09-30 01:05] nkolev92 commented on #10086
Hey @ulfllorenz

I tried following your steps and I was not able to repro this.

The output of X contains 4 dlls, F.dll, S.dll, X.dll and System.Component.Model.Annotations.dll.

Can you please take a look at my repro https://github.com/nkolev92/NuGetHome10086 and check if it mirrors your set-up?

Thanks!

[2020-09-30 01:09] jzabroski commented on #3891
Basically, if you squint, .NET Global Tools _already_ change the default behavior in the way we're discussing.

See: https://www.nuget.org/packages/FluentMigrator.DotNet.Cli

But, if I want to package a .NET Framework legacy tool, like FluentMigrator.Console, so that people on net461..net48 can run a "Global Tool" on a legacy platform, I have to jump through hoops to do that.

I guess I don't unde

[2020-09-30 01:15] abatishchev commented on #3891
I agree that `IncludeOutputDll="true"` won't be good enough. It basically means everything (true) or nothing (false). What means that you'll put a lot of assumptions into the implementation what would work for as many as it would not.
Which DLLs will be in included, which not? Only project references recursively, or binary references too? How you'll distinguish the dependencies coming from a NuGet

[2020-09-30 01:21] jzabroski commented on #3891
Yes, this.  Again, MSBuild _should_ already support all this.  _Ideally_, since this is being driven by @JonDouglas who is Senior Program Manager now, we would _also_ get some nuget.org improvements, such as splitting out public and private dependencies on the package page, so people can actually see things like, "This is a .NET Core Global tool that targets netcoreapp3.1 TFM".  _That_ is the real

[2020-09-30 04:07] BlairMcc commented on #10035
I came here from Google and am unable contribute to this discussion, but I noticed this issue on publishing some of our netcoreapp3.1 APIs that are restored using NuGet.exe v5.6 and MSBuild (others that used dotnet cli were okay)

In the end I resolved the ones that were failing by using a --force in the publish command

[2020-09-30 10:04] ulfllorenz commented on #10086
Originally, I wanted to answer by trying to recreate the specific problem that I encountered some weeks ago when we started with Nuget, but looking at the solution again, I would rather say it was a big mess with assembly references, package references + package references that referenced transitive dependencies, but in the wrong version. I could not faithfully consider this an issue on the side o

[2020-09-30 10:04] #10086 closed, assigned to nobody

[2020-09-30 12:20] Denis535 commented on #6579
@StingyJack
The problem in your case is that this leads to a lot of garbage. Do you delete old packages?

I tried to clear the folder `PackageOutputPath`, but even here I ran into a problem: `BeforePack` target is invoked after new package is created!

    <Target Name="BeforePack" BeforeTargets="Pack">
        <ItemGroup>
            <FileToDelete Include="$(MSBuildProjectDirectory)\$(PackageOutp

[2020-09-30 13:48] dtivel commented on #10087
@v-luzh, I could not repro this.  I tried:

* release-5.8.x\5.8.0.6873 on latest int preview
* release-5.8.x\5.8.0.6873 on Version 16.8.0 Preview 4.0 [30529.64.d16.8]

After restarting, NuGet worked fine.  I restored and built just fine.  I opened PM UI with the "Manage NuGet Packages..." command in Solution Explorer.

What you observed is a package load failure.  I can't say why the failure occur

[2020-09-30 15:03] StingyJack commented on #6579
@Denis535  what's to clean up? The packages are built into a temp folder and never `push`ed anywhere. That temp folder is setup as a package source in VS that I can select while doing the testing.

[2020-09-30 15:25] dtivel opened #10092 "PM UI: parallelize retrieval of package installation for every project in solution"
In a solution context PM UI gets installation information for a specific package for every project in a solution, one at a time.  In larger solutions this may be noticeable.  In VS OE scenarios, this would be even slower, retrieving package installation status one project at a time over the network.

Also, the way the client currently obtains package installation status for a project is to retriev

[2020-09-30 15:41] dtivel commented on #10092
A VS OE-friendly solution would be to batch requests.  This would enable parallelizing transparently to the client.  For example:
[code]

[2020-09-30 16:05] dtivel commented on #10092
The same problem exists in multiple places:

*  [PackageSolutionDetailControlModel.UpdateInstalledVersionsAsync(...)`](https://github.com/NuGet/NuGet.Client/blob/ba87e7e45851add0e46a217c14fa2c95973244a9/src/NuGet.Clients/NuGet.PackageManagement.UI/Models/PackageSolutionDetailControlModel.cs#L126-L158)
*  [`DetailControlModel.SetCurrentPackage(...)`](https://github.com/NuGet/NuGet.Client/blob/ba87e

[2020-09-30 16:14] zivkan commented on #10092
@erdembayar recently did some work to batch the preview restore, at least for CPS projects. cc @nkolev92.  I'm not following what perf work they're doing, so maybe they already have something that's vaguely in the space planned for this sprint. I think it'd be worthwhile checking.

[2020-09-30 16:25] zivkan opened #10093 "Test: TestPacMan_PreviewInstallPackage_BuildIntegrated_RaiseTelemetryEventsWithWarningCode is flaky"
Seems to fail nearly as often as it passes on CI:
![image](https://user-images.githubusercontent.com/5030577/94712692-ae0d7b80-02fe-11eb-988b-3e0163af9478.png)

Error message:
[code]

Stack trace:
[code]

[2020-09-30 16:36] dtivel opened #10094 "PM UI: improve perf of PackageSolutionDetailControlModel.GetConstraintsForSelectedProjectsAsync(...)"
`PackageSolutionDetailControlModel.CreateVersionsAsync(...)` fetches project metadata for each selected project one at a time --- twice! [here](https://github.com/NuGet/NuGet.Client/blob/ba87e7e45851add0e46a217c14fa2c95973244a9/src/NuGet.Clients/NuGet.PackageManagement.UI/Models/PackageSolutionDetailControlModel.cs#L207) and [here](https://github.com/NuGet/NuGet.Client/blob/ba87e7e45851add0e46a217

[2020-09-30 16:43] dominoFire commented on #10037
@donnie-msft  It's another exception

Exception type:
[code]

Message:

[code]
Stack trace:
[code]

[2020-09-30 16:47] dtivel commented on #10092
@zivkan, I'm familiar with @erdembayar's [work](https://github.com/NuGet/NuGet.Client/pull/3559/files) to which you refer, but this is a separate issue.

@nkolev92, is this issue duplicative with any work you currently have planned this sprint?

[2020-09-30 17:05] dtivel opened #10095 "PM UI: verify IVsPackageManagerProvider implementation still works in VS OE environment"
This is an exploratory task to determine what issues, if any, exist with NuGet's [alternative package manager provider support](https://github.com/NuGet/Home/issues/1444) in a VS OE environment.  `IVsPackageManagerProvider` implementations may not just work in a VS OE environment, as some assumptions may now be invalid.

The only existing `IVsPackageManagerProvider` implementation I'm aware of is

[2020-09-30 17:17] AdamCoulterOz commented on #1192
well looks like @yishaigalatzer has moved on from Microsoft. perhaps time to revisit? @SimonCropp ? I'm completely in agreement with @lostmsu  that repeatable builds are established using lock files, not trying to do both with a single step.

[2020-09-30 17:34] Denis535 commented on #6579
@StingyJack
VS/Build/Pack is packing into _Solution\Project\bin\Debug_.
Then I push it into local source _C:\NuGet\Repository_.
And then VS installs it into _C:\Users\User\.nuget\packages_.
So I have many garbage.

[2020-09-30 17:51] kzu commented on #6041
Fixed and shipped in 0.3.0-beta of nugetizer.

[2020-09-30 19:45] #9985 closed, assigned to dominoFire

[2020-09-30 19:59] panopticoncentral commented on #10044
@nkolev92 or @aortiz-msft can you add an "Area:SolutionLoad" tag to this issue so we see it in the perf backlog?

[2020-09-30 21:16] kzu commented on #3891
Reading [between the lines](https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#includesource) I seem to have found this (undocumented otherwise?) property `TreatAsPackageReference` which seems like it would turn the weird built-in behavior into what nugetizer does, but requiring the user to be explicit 🤔

[2020-09-30 21:37] nkolev92 commented on #10044
@panopticoncentral done.

[2020-09-30 21:54] zivkan commented on #10063
This may be part of, or the whole, solution: https://github.com/dotnet/sdk/pull/13924/files#diff-fc9ca72fce3be7d1f0119f6666a307bdR78-R84

[2020-09-30 22:00] nkolev92 commented on #10070
Consolidating, closing as dup of https://github.com/NuGet/Home/issues/10034.

[2020-09-30 22:00] #10070 closed, assigned to erdembayar

[2020-09-30 22:35] nkolev92 opened #10096 "Contributing: Is the Windows 10 SDK actually needed?"
Encountered in https://github.com/NuGet/NuGet.Client/pull/3697.

I think the SDK is *needed* for running integration/E2E tests, but not for building. Maybe that can be clarified.

[2020-09-30 22:44] jzabroski commented on #3891
It's so undocumented it doesn't show up in GitHub Search anywhere in the dotnet org or Nuget org https://github.com/search?q=org%3Adotnet+TreatAsPackageReference

But it does show up in NuGet, in particular this code search: https://github.com/search?q=org%3ANuGet+TreatAsPackageReference&type=code reveals

https://github.com/NuGet/NuGet.Client/blob/bf6a3109391ae765343e3fa5d10711ccef128a2d/src/NuGe

[2020-09-30 22:52] wli3 opened #10097 "Warning for warning NU5128 when packastool with targetframework alias"
---
**Issue moved from dotnet/sdk#13928**
- Please respond to @wli3.

---

_From @wli3 on Wednesday, September 30, 2020 9:03:56 PM_

Given
[code]

run dotnet pack. There will be an extra necessary warning:
[code]

[2020-09-30 22:52] wli3 commented on #10097
---
**Issue moved from dotnet/sdk#13928**
- Please respond to @wli3.

---

_From @wli3 on Wednesday, September 30, 2020 9:04:56 PM_

Still have the issue after https://github.com/dotnet/sdk/pull/13924 fix

[2020-09-30 22:52] wli3 commented on #10097
---
**Issue moved from dotnet/sdk#13928**
- Please respond to @wli3.

---

_From @wli3 on Wednesday, September 30, 2020 9:10:29 PM_

@nkolev92 I don't think it is a blocking issue. But any idea about the cause?

[2020-09-30 22:52] wli3 commented on #10097
---
**Issue moved from dotnet/sdk#13928**
- Please respond to @marcpopMSFT.

---

_From @marcpopMSFT on Wednesday, September 30, 2020 9:10:29 PM_

@nkolev92 should this go to NuGet?

[2020-09-30 22:52] wli3 commented on #10097
---
**Issue moved from dotnet/sdk#13928**
- Please respond to @nkolev92.

---

_From @nkolev92 on Wednesday, September 30, 2020 9:36:20 PM_

@wli3
Can you post the content of the package when you run it with and without an alias? (nuspec too)

When did this warning start happening?

[2020-09-30 22:52] wli3 commented on #10097
---
**Issue moved from dotnet/sdk#13928**
- Please respond to @wli3.

---

_From @wli3 on Wednesday, September 30, 2020 9:43:13 PM_

[nugetalias.1.0.0-with-alias.zip](https://github.com/dotnet/sdk/files/5308396/nugetalias.1.0.0-with-alias.zip)
[nugetalias.1.0.0.without-alias.zip](https://github.com/dotnet/sdk/files/5308398/nugetalias.1.0.0.without-alias.zip)

changed the nupkg suffix to zip since

[2020-09-30 22:52] wli3 commented on #10097
---
**Issue moved from dotnet/sdk#13928**
- Please respond to @wli3.

---

_From @wli3 on Wednesday, September 30, 2020 9:45:03 PM_

![image](https://user-images.githubusercontent.com/6993335/94743003-7f59ca00-032b-11eb-802e-47caf6f4e904.png)

interesting. Everything else is the same

[2020-09-30 22:52] wli3 commented on #10097
---
**Issue moved from dotnet/sdk#13928**
- Please respond to @nkolev92.

---

_From @nkolev92 on Wednesday, September 30, 2020 9:50:06 PM_

Is `SuppressDependenciesWhenPacking` being set anywhere, or it just NuGet doing something different?

[2020-09-30 22:52] wli3 commented on #10097
---
**Issue moved from dotnet/sdk#13928**
- Please respond to @wli3.

---

_From @wli3 on Wednesday, September 30, 2020 10:32:38 PM_

It should be set no matter alias or not. But even when i use `dotnet pack /p:SuppressDependenciesWhenPacking=true` the error still shows

[2020-09-30 22:52] wli3 commented on #10097
---
**Issue moved from dotnet/sdk#13928**
- Please respond to @nkolev92.

---

_From @nkolev92 on Wednesday, September 30, 2020 10:43:35 PM_

The existence of the dependencies element is what is causing the warning to appear.

Is the alias the only difference between the projects?
If that's the case, I think we should mvoe it to NuGet so we can investigate further.

[2020-09-30 22:52] wli3 commented on #10097
---
**Issue moved from dotnet/sdk#13928**
- Please respond to @wli3.

---

_From @wli3 on Wednesday, September 30, 2020 10:50:50 PM_

Yes the only difference is `<TargetFramework>targetframeworkAlias</TargetFramework>` vs `<TargetFramework>netcoreapp3.1</TargetFramework>`

Moving to nuget

[2020-09-30 23:07] nkolev92 commented on #10073
Thanks for this request @mingkuang-Chuyu

A quick question, as I want to understand your scenario. What is a practical example of additional metadata?

For example, content files coming from packages are already tagged with:

[code]

[2020-09-30 23:18] nkolev92 commented on #10060
@Denis535

NuGet wouldn't replace a correctly installed package.

What you are describing is the expected behavior in both 16.7 and 16.8.

I think this doc well describes the NuGet installation process: https://docs.microsoft.com/en-us/nuget/concepts/package-installation-process

Do you still have 16.7 on your machine?

If you are seeing anything similar to what your describing with the old versio

[2020-10-01 00:12] rrelyea opened #10098 "Remove IPackageSourceProvider2 and related types"
we created a few types in 16.8p3
we want to remove them, but the clock is out for 16.8.
we hope to insert a simple addition of [Obsolete] to the new apis in p4.
likely will be able to remove in 16.9.

this issue is linked from the obsolete attributes.

[2020-10-01 00:22] nkolev92 commented on #10035
For better or worse, on NuGet side, the SDK projects are synonymous with the NetCorePackageReference type and the CPS based nomination approach.

The 2 PackageReference approaches are pretty similar and while we've spent a lot of time to make them as close as possible, they still heavily rely on going through the right components.

NuGet needs the inner build value of the TargetFramework property

[2020-10-01 00:26] nkolev92 commented on #10092
No, this has not been something we've considered.

cc @donnie-msft

[2020-10-01 00:57] nkolev92 commented on #4281
Closing as dup of https://github.com/NuGet/Home/issues/9421. That's newer but has more detail and there's no customers tracking this report.

[2020-10-01 00:57] #4281 closed, assigned to nobody

[2020-10-01 00:57] nkolev92 commented on #9421
I just ran across https://github.com/NuGet/Home/issues/4281 while searching for issues and I closed that as dup of this because of the added detail + labels.

[2020-10-01 01:23] nkolev92 commented on #10095
Is it maye related to this https://github.com/NuGet/Home/issues/6623?

[2020-10-01 02:37] kzu commented on #3891
Oh gosh... Meanwhile, I added transitive private assets inclusion too, via project references or package references alike to #nugetizer 😁. `Pack=false` (on either `ProjectReference` or `PackageReference`) stops the inference.

[2020-10-01 05:06] erdembayar commented on #9944
@nkolev92
I re-tested with exact version as described.
Project1 : netcoreapp3.0;net46
Project2 : netcoreapp3.0
Project3 : netcoreapp3.0
PackageA: V1 net45, .netstandard16

Upgrade to PackageA V2: .netstandart20
1. First I tried to upgrade PackageA to Project1, but it failed due to `NU1202`. But it didn't corrupt previously valid state, simple it just didn't upgrade at all, so nothing changed.
![Pr

[2020-10-01 06:02] bjorkstromm opened #10099 "Windows SDK 10 link is broken in NuGet.Client Contribution guide"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): -

NuGet version (x.x.x.xxx): -

dotnet.exe --version (if appropriate): -

VS version (if appropriate): -

OS version (i.e. win10 v1607 (14393.321)): -

Worked before? If so, with which NuGet version: -

## Detailed repro steps so we can see the same problem

1. Click link
2. Link doesn't go to

[2020-10-01 06:07] bjorkstromm opened #10100 "Relative links are broken in NuGet.Client debugging guide"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): -

NuGet version (x.x.x.xxx): -

dotnet.exe --version (if appropriate): -

VS version (if appropriate): -

OS version (i.e. win10 v1607 (14393.321)): -

Worked before? If so, with which NuGet version: -

## Detailed repro steps so we can see the same problem

1. Click any link that points to so

[2020-10-01 07:56] AdamCoulterOz commented on #1192
@clairernovotny - hey... now that you're the dotnet boss can we get an executive decision on this? 🥇

[2020-10-01 15:11] heng-liu commented on #10061
Hi @nkolev92 , do you know if there is any way to install two different versions  of packages in the same solution?

[2020-10-01 16:58] mfkl commented on #4980
Modified the PS perf script and pasted the command I used here https://github.com/NuGet/NuGet.Client/commit/4811016c565fa928980d0dabfb87ae8fdb5871ea

The test project used for the test is https://github.com/mfkl/test-project

Perf results:

running with a build from branch "cache-expiration" https://github.com/mfkl/NuGet.Client/commits/cache-expiration
[code]

running with a build from branch "dev

[2020-10-01 17:02] jzabroski commented on #3891
Thanks for doing that, @kzu .  In my opinion, the key is that @JonDouglas  lay out a plan to make nuget.org package pages less confusing so that private dependencies are visible when people look at a package.   Do you agree, @kzu ?

Are there any other user stories where the private dependencies are confusing on nuget.org?

Side note: I understand that some dependencies are deliberately obfuscated

[2020-10-01 17:22] aortiz-msft commented on #10059
@dominoFire  - FYI since you own CLI experiences.

[2020-10-01 17:25] aortiz-msft commented on #10061
@DylanFJ  - If you could please share an example of the config files, we'd be able to point you in the right direction.

[2020-10-01 17:28] aortiz-msft commented on #10078
@zivkan - Would you please add to your epic(s) or track as appropriate?

[2020-10-01 17:34] kzu commented on #3891
Hm... I'd say surfacing those private dependencies is more of an advanced use case, rather than something I'd find confusing myself. Consider a build-only or analyzer-only package. That will typically use whichever private deps it needs to do its job, say Newtonsoft.Json. There is no reason why those private deps should be of concern to me: they only apply during my local dev build environment and

[2020-10-01 17:34] zivkan commented on #10078
Added to epic.

[2020-10-01 18:23] jzabroski commented on #3891
I guess that's why I ask others - I do this a lot, and I don't know if I've just developed weird habits, or if others are similarly confused when they check nuget.org for dependencies and see nothing, even though it's clear that including a dependency will add something to my build output.  As an example, when you have what I call a "public" dependency (what NuGet / MSBuild teams call transitive p

[2020-10-01 18:44] #10037 closed, assigned to dominoFire

[2020-10-01 18:57] jzabroski commented on #3891
@kzu Thinking out loud - to your point about advanced use cases vs. solving immediate problem - I wonder if the immediate solution should be:

1. Do the quick and dirty fix - don't try to solve the reference flows.
2. Create an NuGet MSBuild warning when you do this that you might have transitive reference failures under some conditions.

[2020-10-01 18:59] #9789 closed, assigned to donnie-msft

[2020-10-01 18:59] #10000 closed, assigned to donnie-msft

[2020-10-01 19:48] nkolev92 opened #10101 "Improve the diagnosis tools for authentication problems"
In particular, VS can be a problem because the VS authentication experience is interactive.

We frequently get claims of *too many* prompts by customers, but we have no means to correlate whether that's because of NuGet or the plugin misbehaving.

In general, when things *do go wrong*, it'd be helpful to have some info to better understand what happened.

[2020-10-01 19:49] Denis535 commented on #10060
You know better.

[The difference between build and rebuild](https://stackoverflow.com/a/17781143/4805491):
- Build: Compiles code files (DLL and EXE) which are changed.
- Rebuild: Deletes all compiled files and compiles them again irrespective if the code has changed or not.

So, probably rebuild should not do something with packages. At least it will be faster.
But sometimes it can lead to probl

[2020-10-01 20:18] donnie-msft commented on #8572
Will be resolved in this issue, which is more specifically targeted to replacing this icon: https://github.com/nuget/home/issues/5937

[2020-10-01 20:18] #8572 closed, assigned to donnie-msft

[2020-10-01 20:21] donnie-msft commented on #8290
@nkolev92  I am logically already doing this by moving toward a single ItemsControl, with the Updates tab simply filtering down certain items. Does this encapsulate your concern? https://github.com/NuGet/Home/issues/10082

[2020-10-01 22:34] nkolev92 commented on #8290
Yes, I think so.

Feel free to close it if it makes your tracking easier!

[2020-10-01 23:06] mbranscomb opened #10102 "Pack should validate the case of files referenced by the .nuspec because NuGet.org validation is case sensitive"
## Details about Problem

### Pack should validate the case of files referenced by the .nuspec because NuGet.org validation is case sensitive

#### Background
For approx 3 months we had been building a NuGet package daily, hosting on an internal NuGet repository and using within Visual Studio. On the day we planned to release our NuGet packages on NuGet.org, they failed validation due to a missing

[2020-10-02 00:04] nkolev92 commented on #10060
We appreciate the feedback @Denis535.

The restore that NuGet tends to run in VS is designed to be as seamless as possible, and while there is a slight difference between `build` and `rebuild` restores right now, see https://github.com/NuGet/Home/issues/6987, I'm not confident hiding an aggressive and expensive action such as package reinstallation behind rebuild is the best approach at this point

[2020-10-02 00:04] #10060 closed, assigned to nkolev92

[2020-10-02 00:07] cristinamanum commented on #10003
Pull request https://github.com/NuGet/NuGet.Client/pull/3658

[2020-10-02 00:07] #10003 closed, assigned to cristinamanum

[2020-10-02 00:19] #8290 closed, assigned to donnie-msft

[2020-10-02 00:23] KirillOsenkov commented on #3055
This would be really useful because I need to consolidate 21 package sources into a single source and I have no idea how to do this for a large build. We have a binlog but the binlog doesn't contain the information I need.

[2020-10-02 00:24] KirillOsenkov commented on #3055
This is related, but not same as:

https://github.com/NuGet/Home/issues/10022
https://github.com/NuGet/Home/issues/8529

[2020-10-02 01:17] kzu commented on #3891
I can only see this as a problem for that scenario you mention about a dotnet tool that loads plugins. That seems like an awfully corner case, TBH. I don't see it happening on build tasks/targets cases or perhaps even analyzers.

[2020-10-02 03:08] zivkan commented on #10062
I'm not sure about the NRE, but the empty sequence exception when `GetInstalledPackages` is called when the TFMs listed in the assets file does not match the list of TFMs defined in the csproj. It's a bug from https://github.com/NuGet/NuGet.Client/pull/3539 where it doesn't handle this edge case.

[2020-10-02 03:20] jzabroski commented on #3891
@kzu I don't know, I get bug reports about this stuff all the time, and for two very different projects.  I think when most people run into these problems they just go do something else, because they can't figure it out and they have to ship product, so they hack until they find something else that works.

[2020-10-02 11:27] mitchdenny opened #10103 "Package Manager UI in Visual Studio provides incorrect Report Abuse URL for private feed"
Please read the following information before posting the issue.

## Details about Problem

This problem is related to the VS Package Management UI. When viewing the details of a package, the UI provides a fallback Report Abuse URL when the feeds service index doesn't contain a report abuse template URI. If the service index does not contain a URI then it should not fallback to using the NuGet URI

[2020-10-02 12:39] dtivel opened #10104 "Signing: add telemetry around the use of client policies"
We should add some telemetry around the usage of [client policies](https://docs.microsoft.com/en-us/nuget/consume-packages/installing-signed-packages) (for signed package validation) to better understand their usage.

[2020-10-02 13:18] zivkan commented on #4980
@mfkl Thank you again for taking the time to test this. Your single project with a single package test unfortunately does not help us understand the performance impact in scenarios where the perf is more important ("slow", large solutions with many packages).

Plus, assuming the 6th column is the duration, the dev branch commit's mean is 2.00, whereas your branch has a mean of 2.36. That's an 18%

[2020-10-02 14:04] Denis535 commented on #6579
I understood what the problem is. Let's look at "Pack" target. This target does almost nothing. Everything happens in dependencies. So, I should run my "BeforePack" target before those dependencies.

[code]

[2020-10-02 14:06] adamralph commented on #7411
I would love to see this fixed. I have wasted, and continue to waste, significant time switching from the verbose, element-based, syntax to the terse, attribute-based syntax. It's a paper cut which I feel time and time again.

[2020-10-02 15:42] fskuteken commented on #8580
I was able to make it work using the following command:

[code]

Previously, using `dotnet nuget push ProjectName/bin/Release/ProjectName.x.y.z.nupkg --source "github"` was leading to `warn : No API Key was provided and no API Key could be found for 'https://nuget.pkg.github.com/ORGANIZATION_NAME'. To save an API Key for a source use the 'setApiKey' command.` for me.

My `nuget.config` file is the

[2020-10-02 17:21] Denis535 commented on #6579
@StingyJack

When I use floating version, then VS automatically updates package.
`<PackageReference Include="NuGetLibrary" Version="1.0.0.*" />`

But when I use alpha-floating version, then VS doesn't update package ((
`<PackageReference Include="NuGetLibrary" Version="1.0.0-alpha.*" />`

@nkolev92, is it by design?

[2020-10-02 19:46] donnie-msft opened #10105 "Bower Package Management Document errors on VS Reopen"
## Details about Problem

NuGet product used: VS UI
VS version (if appropriate): Version 16.8.0 Preview 3.1
Worked before? If so, with which NuGet version: Worked in 15.x, Broken in at least 16.7.4 (not tested earlier)

## Detailed repro steps so we can see the same problem
**Note: On Preview VS, I did not have Bower package versions populated in the dropdown. On Experimental VS, I did have versio

[2020-10-02 19:58] donnie-msft commented on #10105
Note I have been working with InfiniteScrollList for dev and using my Experimental VS.
Here's the VS Crash:
![image](https://user-images.githubusercontent.com/49205731/94964648-152a5c00-04c8-11eb-90d3-ffd4f7f85202.png)

[2020-10-02 22:24] nkolev92 commented on #9944
Sounds good.
Closing as a non issue.

[2020-10-02 22:24] #9944 closed, assigned to erdembayar

[2020-10-02 22:44] donnie-msft opened #10106 "VS UI PM XAML Events should catch unhandled exceptions & not crash VS"
Evaluate PMUI control events that aren't handling exceptions and causing VS to crash.

One example:
Note I have been working with InfiniteScrollList for dev and using my Experimental VS.
Here's the VS Crash:
![image](https://user-images.githubusercontent.com/49205731/94964648-152a5c00-04c8-11eb-90d3-ffd4f7f85202.png)

[2020-10-02 22:56] nkolev92 commented on #10105
Is this a regression @donnie-msft

This sounds pretty bad. Not worried about the exp instance, but about regular VS.

[2020-10-02 23:09] nkolev92 commented on #10048
cc @donnie-msft

It's likely that the UI is still processing data in the background.

[2020-10-02 23:27] ghost opened #10107 "NuGet crashes when v3 server returns items with invalid values"
Using NuGet.exe, multiple versions, but present in 5.8.0.6854.

We are using a private server that I have no administrative access to (I believe it's proget).  I can only provide information about what the client sees, but when we use the v3 protocol the server responds with no error for missing packages.  It returns this:

```{"count":1,"items":[{"count":0,"items":[],"parent":"http://private.serv

[2020-10-02 23:29] nkolev92 commented on #7411
Did some quick digging, it's NuGet controlled, specifically:

https://github.com/NuGet/NuGet.Client/blob/f88ad395c062c98a60ba3084e99f5476106e00d0/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/NetCorePackageReferenceProject.cs#L335-L338

and

https://github.com/NuGet/NuGet.Client/blob/f88ad395c062c98a60ba3084e99f5476106e00d0/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/P

[2020-10-02 23:31] AmadeusW commented on #9289
Just wanted to say that this was happening in one of DevDiv's repos for months and engineers had no idea what's going on. This issue prevented Test Explorer from working correctly, so we ran tests from command line. We had to add Debugger.Launch to the test code in order to be able to debug 🤦‍♂️. That's all because the error message provides no useful information.

[2020-10-02 23:58] donnie-msft commented on #10105
@nkolev92 yes, it certainly worked in 15.x, where I found the window did not try to reopen. (If I recall, it does try, but failures were ignored).

I tested 16.7.4 and was able to repro.
I recall similar HRResult errors and major refactoring occurring in the 16.5 timeframe. We had an Issue that was handed off to another team. I had to fix the auto-reopen of PMUI window. My guess is this would be a

[2020-10-03 00:03] zipixdev opened #10108 "openbullet"
Please read the following information before posting the issue.
https://openbullet.store
[openbullet](https://openbullet.store)
[openbullet download](https://openbullet.store)
[download openbullet](https://openbullet.store)
## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If yo

[2020-10-03 00:05] donnie-msft commented on #9829
Draft PR needs to be shepherded: https://github.com/NuGet/NuGet.Client/pull/3595

[2020-10-03 00:18] donnie-msft commented on #10048
Hi @orange-pig! I wonder what the `Packages Sources` drop-down is set to for your NuGet Package Manager window? Is it a specific source, or is it `All`? If it's `All`, you can check the Settings to see all the package sources you have enabled.

In that case, the UI will query all of those sources in order to find all available metadata for the selected package. Try changing the drop-down to only y

[2020-10-03 00:27] nkolev92 commented on #10097
There's a bug and SupressDependenciesWhenPacking is not respected in some cases.
cc @zkat

Bug probably in https://github.com/NuGet/NuGet.Client/blob/f88ad395c062c98a60ba3084e99f5476106e00d0/src/NuGet.Core/NuGet.Build.Tasks.Pack/PackTaskLogic.cs#L224-L229

[2020-10-03 00:35] nkolev92 commented on #10108
Hey @hjkhkjhkj

This issue doesn't to be valid/appropriate for this repo.

Can you please correct the issue title and body or close it if it's not relevant?

[2020-10-03 00:38] nkolev92 commented on #10103
Dup of https://github.com/NuGet/Home/issues/6560.

[2020-10-03 00:38] #10103 closed, assigned to nobody

[2020-10-03 00:38] nkolev92 commented on #6560
Another report in #10103.

[2020-10-03 00:44] davkean commented on #7411
We control the element vs attribute via https://github.com/dotnet/project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/Dependencies/ResolvedPackageReference.xaml#L125 and https://github.com/dotnet/project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/Dependencies/PackageReference.xaml.

[2020-10-03 01:14] nkolev92 commented on #10058
Hey @mrahl

Thanks for the detailed write-up.

Seems to me like you are trying to have your customers update different packages *together*.
It's definitely a challenging problem.

If the 2 packages in question are *not compatible*, then you can consider using upper boundaries.
We do not always recommend that because it can lead to a lot of pain when the packages with exact versions are once or twi

[2020-10-03 01:22] nkolev92 commented on #10102
Hey @mbranscomb

This is a dup of https://github.com/NuGet/Home/issues/9817.

[2020-10-03 01:22] #10102 closed, assigned to nobody

[2020-10-03 01:26] mbranscomb commented on #10102
@nkolev92 Thanks - I've added my 👍 to the other issue.

[2020-10-03 01:27] nkolev92 commented on #9817
An issue with multiple upvotes was created at https://github.com/NuGet/Home/issues/10102.

Bumping up pri as per that.

@PathogenDavid I looked at the design again and it looks good to me.
I think we need some more people from the owners to jump as far as error vs warning goes.

We'll try to get back to you as soon as possible!

Thank you for working on this!

[2020-10-03 01:45] nkolev92 commented on #10107
Hey @LoadEffectiveAddress,

Unfortunately given that the server is not conforming to the protocol, by adding a workaround on the client side, that can be interpreted as adopting that as part of the protocol.
https://docs.microsoft.com/en-us/nuget/api/registration-base-url-resource#registration-page-object

Calling on a couple of other folks on the team to chime in here, @joelverhagen, @zivkan @loi

[2020-10-03 01:59] joelverhagen commented on #10107
Agreed @nkolev92, one of the main purposes of publicly documenting the V3 protocol was so that server implementations (of which there are MANY, like dozens at this piint) align to a single protocol with minimal (hopefully zero) quirks. This also allows alternate client implementations as well. All goodness. It would be very hard for the client implementation to handle all quirks of all server impl

[2020-10-03 02:42] LoadEffectiveAddress commented on #10107
By 'bogus' I just mean a package that never existed anywhere (to ensure server-side caching or existence on another source wasn't a contributor).

I appreciate the responses, and hope it leads somewhere positive with the proget team, but sadly I won't be able to answer any questions about the configuration of the server.

[2020-10-03 02:50] LoadEffectiveAddress commented on #10107
I have not read the entire spec, but the linked page does not appear to say anything about what should be returned when the package requested does not exist.  At least it would be nice to state that the items array should be empty, or an explicit error should be returned instead.

[2020-10-03 02:53] joelverhagen commented on #10107
@LoadEffectiveAddress, you're totally right about the lack of clarity in the documentation. Expected behavior when a package does not exist at all on the source is that the package metadata resource aka the registration resource returns a 404 for the index.json document.

[2020-10-03 03:43] zivkan commented on #10107
I've only taken a superficial glance over this issue, so I could misunderstand something. But it seems reasonable to me for the client to treat a response with zero items as a 404. Both semantically mean there's no packages with that package id. Returning a 404 is may still preferable, because client doesn't cache 404s, but it will cache an empty registration page, so if a customer uploads a packa

[2020-10-03 03:53] LoadEffectiveAddress commented on #10107
I believe if the server returned a top-level empty response, that would still work as desired (i.e. `{count: 0, items: []}`).  It's only a problem because they return 1 top-level item, and that item has only default values for each required property.  The client attempts to parse the upper and lower versions of that entry without checking first if it refers to any items at all (e.g. doesn't check

[2020-10-03 09:10] PathogenDavid commented on #9817
No problem! Thanks for pinging the PR since I've been meaning to do the same.

[2020-10-03 12:07] prcdpr commented on #3891
This issue is now most commented, with most like reactions, has been open for 4 years now and was last active yesterday.
It's clearly the most anticipated feature for NuGet currently.
Can you please give it a priority bump and pull it out of backlog?

[2020-10-03 12:39] niwrA commented on #3891
I would keep it simple, and take these steps, in these order:

1. Restore the original 'include project references' functionality. This means that if I choose one project in a solution and I want to package it, all other projects in that solution that have a project reference to this one should be included in the package.

2. Keep only nuget references to projects that have been configured to prod

[2020-10-03 14:14] josh-endries commented on #3891
I agree with niwrA, this issue seems to be about replicating IncludeReferencedProjects, which I completely support. I'm starting to worry that this issue is expanding and getting complicated. The existing pack option functionality is pretty well defined, works, and covers most use cases I think. The version-git integration definitely seems like a separate GitHub issue, IMHO.

Maybe I'm misundersta

[2020-10-03 18:31] DylanFJ commented on #10061
The example of nuget.config ?

[2020-10-03 19:03] gulbanana commented on #5963
It seems like the issue can be closed, as a strategy has effectively been chosen: packages should no longer attempt to use this feature.

[2020-10-03 20:17] LoadEffectiveAddress commented on #10107
Having slept on this, I think I'd like to make a second push to reconsider the problem.  I understand not wanting to accept bad actors for fear of appearing to support broken feeds, but the real issue for the end-user is that the client crashes because of this, and cannot succeed at its task.  It would be less frustrating if an error message was logged ("Source {x} has provided a malformed respons

[2020-10-03 21:11] joelverhagen commented on #10107
It's up to the client team, for sure! I'm perhaps a purest at times and it shouldn't get in the way of customer success, as you said.

There are two places to fix this in my mind. On the client or on the server. We do have a line of communication with both. Client, here and server via email. We have contacts on the ProGet side and in fact will be meeting with them soon to discuss OData deprecation

[2020-10-04 03:06] #9996 closed, assigned to nugetlurker

[2020-10-04 05:09] mitchdenny commented on #6560
@nkolev92 I'm thinking of taking this issue up since it is _UpForGrabs_. I'm actually trying to understand the rationaile behind having fallback behaviour for the abuse URL since if a service doesn't output that metadata in the service index, then it doesn't really make sense to fall back to NuGet.org?

[2020-10-04 19:21] kzu commented on #5103
Full transitive support added in NuGetizer @mhutch. Feel free to close this :)

[2020-10-05 08:00] Denis535 commented on #9788
@nkolev92

Let's sum it up.
There are two ways to create a package:

- dotnet.exe
- nuget.exe

They have some differences:
- dotnet.exe requires the property `<NuspecFile>***.nuspec</NuspecFile>` to be defined.
- dotnet.exe requires [the replacement tokens](https://docs.microsoft.com/en-us/nuget/reference/nuspec#replacement-tokens) to be defined manually: `<NuspecProperties>configuration=$(Configu

[2020-10-05 09:03] Denis535 opened #10109 "The task factory "***" could not be found in the assembly "***""
I am trying to make nuget package with some task. But I ran into a problem:
`The task factory "NuGetLibrary.Tasks.MyTask" could not be found in the assembly "C:\Users\Den\.nuget\packages\nugetlibrary\2.0.0-alpha.637374840513886857\build\netstandard2.1\..\..\lib\netstandard2.1\NuGetLibrary.dll"`.

[code]

NuGetLibrary.nuspec
[code]

NuGetLibrary.targets
[code]

MyTask.cs
[code]
And the project itse

[2020-10-05 14:03] zivkan commented on #9788
In the context of this issue, yes. But if someone reads your comment without understanding the context of the rest of the issue, no. The msbuild-based pack (`msbuild -t:pack`, `dotnet pack`, VS pack) is designed to contain everything in the csproj, so there's no longer any need for a nuspec. I'm only aware of a small number of scenarios where the MSBuild-based pack cannot do something a custom nus

[2020-10-05 14:03] #9788 closed, assigned to nobody

[2020-10-05 17:19] dtivel commented on #10087
@v-luzh, after installing or uninstalling a VSIX please run `devenv /setup` from a Visual Studio developer command prompt specific to the VS instance you are targeting.

If this problem still persists, please reactivate this issue with updated repro steps.

[2020-10-05 17:19] #10087 closed, assigned to v-luzh

[2020-10-05 17:47] nkolev92 commented on #6560
I don't have the right context unfortunately.

Paging @xavierdecoster @joelverhagen for help.

[2020-10-05 18:04] joelverhagen commented on #6560
I am not aware of the history here. Unless legal/PM says we need a "best effort" (yet obviously faulty) report abuse flow like this based on nuget.org, I'd say we treat the report abuse resource in the V3 service index as optional and just hide the link if the source does not show it.

This behavior leads to a poor user experience some of the time and perhaps is even leaking internal package IDs t

[2020-10-05 18:11] nkolev92 commented on #6560
Paging @JonDouglas @chgill-MSFT UX change.

I think it's ok to display nothing, but the folks I've tagged above can help make a decision.

fyi @donnie-msft

[2020-10-05 18:28] heng-liu opened #10110 "Package signing cross verify spec"
Needs to write a spec for Package signing cross verify tests.

[2020-10-05 18:47] zivkan commented on #10108
Closing as this looks like spam (4 links to some website, with the same name as the issue title). Author can reply with more information if this is not the case.

[2020-10-05 18:47] #10108 closed, assigned to nobody

[2020-10-05 19:08] nkolev92 commented on #10107
Thanks for the discussion all!

Personally I think, I want to reiterate my comments from earlier. Fixing this on the server side will impact *all* clients, and it really creates fewer questions about what works.
Fixing it on the server side also doesn't introduce any additional gotchas that pertain to caching etc.

I do think we need to dig more to understand the impact. That'll help us make the b

[2020-10-05 19:19] #3055 closed, assigned to nobody

[2020-10-05 19:26] LoadEffectiveAddress commented on #10107
I set up a brand new proget server with their most recent docker image, and the problem was immediately reproducible with an empty feed.

I think a common use-case for proget is as a local caching server.  When the feed is configured with a nuget.org connector, it returns the nuget.org response for any valid packages not hosted locally.  In this configuration, the only time you see the error is wh

[2020-10-05 19:34] zivkan commented on #10061
NuGet.config cannot be used to specify package versions. It's generally used to set package sources for the solution. There's no issue having different projects in a solution use different versions of a package. You can do this though the Package Manager UI, or otherwise. The "Manage Packages for solution" even shows you the version each project uses, which can be different:

![image](https://user

[2020-10-05 19:50] zivkan opened #10111 "NuGet.VisualStudio.Internal.Contracts should use PublicAPIAnalyzers"
`NuGet.VisualStudio.Internal.Contracts` is not packed into a nupkg, and is entirely for NuGet's own internal use. However, it defines the over-the-wire contracts for Code Spaces (and Live Share?) scenarios. Therefore, backwards compatibility is still very important. Hence we should use PublicApiAnalyzers to minimise the risk that someone accidentally adds a breaking change.

[2020-10-05 19:58] LoadEffectiveAddress commented on #10107
I forgot to say: since I am now armed with more information about a failing server, I can try logging a support incident with Inedo.  I still don't understand why it's desirable to leave a crashing bug in the client, but there's no need to go round in circles over it.

[2020-10-05 19:58] #10100 closed, assigned to nobody

[2020-10-05 19:59] zivkan commented on #10100
@mholo65 thank you for your contribution!

[2020-10-05 20:15] zkat commented on #10057
We stopped supporting TLS 1.1 in April, which you can read more about [in our blog](https://devblogs.microsoft.com/nuget/deprecating-tls-1-0-and-1-1-on-nuget-org/).

We don't really have enough information to reproduce the issue you're having, ourselves, but it's likely that your operating system is deciding to use TLS 1.1 for some reason, and you should look into upgrading the version your OS is

[2020-10-05 21:16] aortiz-msft commented on #10107
I agree with @LoadEffectiveAddress that NuGet should not crash and instead handle the bad response gracefully.

[2020-10-05 22:06] nkolev92 commented on #10107
Re: Handling gracefully.

I think we're intentionally failing here. FatalProtocolException wraps all protocol failures.
If a package version is not parsable for example, FatalProtocolException would be what all failures are wrapped into.

So imho, `bad feed = failure` is good.

[2020-10-05 22:15] LoadEffectiveAddress commented on #10107
Some good news: Inedo have acknowledged the issue and expect it to be fixed in their next release.

[2020-10-06 08:36] yairush88 commented on #6306
I had a similar issue, where my project had references like this:

Package References:
    Package A
    Package B

Project References:
    Package C
        Package A

So because project C reference package A, I just deleted package A from the package references list and was left with Package C referencing Package A in project references. I rebuilt the solution and the problem was gone.

[2020-10-06 14:40] jakubmisek commented on #8867
Isn't it closed accidentally? Issue #8867: Duplicate of #8867.

We are still having this issue, when `pack` creates `content` folder with flattened content of dependencies. Isn't there a different workaround?

[2020-10-06 16:26] dtivel opened #10112 "PM UI: selecting projects in a solution-level context is slow"
Repro steps:
1.  Open the NuGet.Client solution (https://github.com/NuGet/NuGet.Client).
2.  In Solution Explorer right-click on the solution and select "Manage NuGet Packages for Solution..."
3.  In PM UI switch to the Browse tab.
4   Select a package.
5.  In the right-hand details pane check the checkbox for all projects.

Expected result:  The action will complete nearly instantaneously.
Actual

[2020-10-06 21:38] cristinamanum commented on #10089
The issue is not repro in the latest dev under debug in the VS Experimental instance.
The issue is not repo as well in the latest VS dogfood drop:
Microsoft Visual Studio Enterprise 2019 Int Preview
Version 16.9.0 Preview 1.0 [30605.207.main]

With the latest official NuGet tools vsix (5.9.0.6890). Snapshot below.

![image](https://user-images.githubusercontent.com/16580006/95262704-76f90780-07e1-

[2020-10-06 21:42] cristinamanum commented on #10089
Closing.

[2020-10-06 21:42] #10089 closed, assigned to cristinamanum

[2020-10-06 22:51] Anipik opened #10113 "Making Restore for Older TFMs with TargetPlatformStrings"
Nuget Restore started supporting net5.0-* TargetFrameworks, but it treat all the other older targetframeworks as  if there were without targetPlatform.
eg restore works perfectly for this project
[code]
but the restore on the following project
[code]
results in
[code]

##usage

We have using targetPlatforms in the runtime repo for a while now. This will help us in using the latest sdk and nuget fe

[2020-10-06 22:58] safern commented on #10113
I believe this might be because previous to `.net5.0` tfms couldn't have a TargetPlatform. And the TargetPlatform tfms we have in dotnet/runtime are supported via our config system.

[2020-10-06 23:11] ViktorHofer commented on #10113
@nkolev92 @zivkan what's the reason for NuGet to not support `TargetPlatformMoniker` pre 5.0? It sounds to me that even if we set them manually, they aren't respected.

[2020-10-06 23:19] zivkan commented on #10113
A TFM represents what APIs are available to the code being compiled. Before .NET 5, there was no concept of platform specific APIs, hence NuGet doesn't consider it a pivot point. For more information: https://github.com/dotnet/designs/blob/main/accepted/2020/net5/net5.md

Ultimately what you appear to be asking for is what we call TargetFramework aliases, which @ViktorHofer has already been part o

[2020-10-06 23:33] zkat opened #13489 "Document NU5501"
There's a new error code in town, and it needs a docs page!

See PR: https://github.com/NuGet/NuGet.Client/pull/3692

[2020-10-06 23:46] ericstj commented on #10113
Would it be possible for NuGet to permit platforms on older TFMs?  Perhaps a flag we could turn on?  Like lift that calculation into the targets and let it be passed in as a parameter.
https://github.com/NuGet/NuGet.Client/blob/5a70626fbcf6d38f0c6c6fc3c96950959ccb70be/src/NuGet.Core/NuGet.Frameworks/NuGetFrameworkFactory.cs#L139-L140

[2020-10-07 09:48] mattiaskagstrom commented on #7595
Would love to see a "Re-install package".
And something awesome but a bit tricky to solve would be a option to remove dependencies installed for a package when uninstalling it.
ex: Package X installs dependency Y and Z. when removing package X today, z and y stays behind, not used by anything.

[2020-10-07 10:30] kmteam opened #10114 "Unable to auto create nuspec file."
I'm trying to generate `nuspec `manifest file from legacy _.NET Framework 4.5_ library project.
According to [MSDN documentation](https://docs.microsoft.com/en-us/nuget/quickstart/create-and-publish-a-package-using-visual-studio-net-framework#generate-the-initial-manifest) I can create the manifest file by typing :
[code]
This should create a `MyProject.nuspec` file filled with all my project meta

[2020-10-07 10:59] Ian1971 commented on #9882
Same issue here. I can only get it to work by doing each update one at a time.

[2020-10-07 11:22] kmteam commented on #10114
please remove it!

[2020-10-07 11:22] #10114 closed, assigned to nobody

[2020-10-07 15:20] sintecnos-lucabiffi commented on #4234
I'm using NuGet 5.7.0.6726 and this still has to be fixed

[2020-10-07 15:51] anangaur commented on #7595
/cc: @JonDouglas

[2020-10-07 15:54] JonDouglas commented on #7595
@mattiaskagstrom Is the remove dependencies scenario you are referring to only for top-level packages (i.e. packages.config)?

[2020-10-07 16:04] bladewolf55 commented on #4234
@sintecnos-lucabiffi You might add your comment to the new thread so it's clear the issue exists in the latest build.

https://github.com/NuGet/Home/issues/9954

[2020-10-07 16:18] sintecnos-lucabiffi commented on #9954
I'm using NuGet 5.7.0.6726 and this still has to be fixed

[2020-10-07 17:07] erdembayar commented on #9882
I was able to reproduce this bug on my local, but didn't look into cause of problem.

[2020-10-07 17:32] dtivel commented on #10090
@zkat already spec-ced the feature.  See [this](https://github.com/NuGet/Home/pull/9945).

- [ ]  [15 hours]  Add a new dotnet `sign` at src/NuGet.Core/NuGet.CommandLine.XPlat/Commands/Signing/SignCommand.cs.
    *  Note that this new command should perform similar input validation as the existing NuGet.exe `sign` command at src/NuGet.Clients/NuGet.CommandLine/Commands/SignCommand.cs.  For example

[2020-10-07 17:32] #10090 closed, assigned to dtivel

[2020-10-07 19:32] cristinamanum opened #10115 "[CPVM] Add support for optional pack the pinned transitive dependencies."
## Details about Problem
One of the features that CPVM supports is enforcing transitive dependencies to the central defined versions. As all the testing and development for an application is done using the specified dependency set, on pack the enforced/pinned transitive dependencies are packed as well.

However this may not be the desired experience for some of the scenarios.

## Suggestion
Consid

[2020-10-07 21:57] Ian1971 commented on #9882
I managed to work around it just now, by instead of using the select all box checking each checkbox individually. So perhaps the issue is the select all checkbox?

[2020-10-07 22:02] #9386 closed, assigned to dominoFire

[2020-10-07 22:31] v-zubritsky commented on #9417
Hi. I've also just encountered it. Are there any workarounds or estimations available?

[2020-10-07 23:22] zivkan opened #10116 "Make PM UI's icon display resilient to errors"
It appears we have had multiple bugs in the past related to icons in PM UI which caused VS to crash: https://github.com/NuGet/Home/issues/9696, https://github.com/NuGet/Home/issues/10037

PM UI should never crash VS. If there's any kind of problem with displaying an icon, NuGet should display the default icon.

I'm not sure about the first issue, but the second issue is caused because WPF's implem

[2020-10-08 01:07] dominoFire commented on #10038
I suspect the problem lies on SolutionUpToDateCheck ; it's the only place in which both counters could have the same value without taking projectsCount as an input.

https://github.com/NuGet/NuGet.Client/blob/5a70626fbcf6d38f0c6c6fc3c96950959ccb70be/src/NuGet.Clients/NuGet.SolutionRestoreManager/SolutionRestoreJob.cs#L390-L391

[2020-10-08 03:09] kzu commented on #4856
I think making contentFiles visible by default under the dependency node makes the most sense.

[2020-10-08 03:43] DanielDantas commented on #5138
Hey guys, try using the NuGet API instead of the cli commands on your script

$url = 'https://api.nuget.org/v3/registration3-gz-semver2/PACKAGE_ID_GOES_HERE/index.json'
$res = Invoke-RestMethod $url
$res.items.items.catalogEntry.version

This will list all the versions for that specific package.

If you just want to check if a specific version is listed for that specific package just do the follow

[2020-10-08 05:26] ZachSand commented on #9954
I am also getting this issue. I upgraded my build server and installed the newest version of development tools, including NuGet Version: 5.7.0.6726 and now all of my previously passing builds fail due to the error.

Old build server has NuGet Version: 5.6.0.6591 and works fine. I'll be reverting back to this version until a fix is made.

[2020-10-08 13:43] AroglDarthu commented on #9250
Just want to mention that this issue also happens on the "Updates" and "Consolidate" tabs.

[2020-10-08 18:05] heng-liu commented on #2387
It's not enabled nor deleted. so reopen it.

[2020-10-08 18:21] sbanni opened #10117 "Remove liveshare flag from service attributes"
Our services use Audience = ServiceAudience.AllClientsIncludingGuests which enables liveshare scenarios which we don't want to enable at this time.

[2020-10-08 18:43] jairbubbles commented on #5138
Thx for sharing @DanielDantas

[2020-10-08 18:52] jairbubbles commented on #5138
Please note that you can also use:

[code]
Doc: https://docs.microsoft.com/en-us/nuget/api/package-base-address-resource

The response is a lot smaller. It's available on nuget.org but sadly not on [Artifactory](https://jfrog.com/artifactory/). (tested on version 6.20.0)

[2020-10-08 20:23] drewnoakes commented on #4856
@kzu since VS 16.7, contentFiles should be already be visible under package nodes. This was merged in https://github.com/dotnet/project-system/pull/6066, though the implementation has since moved to NuGet.Client.

This issue is just tracking removal of content files from the rest of the tree.

[2020-10-08 21:59] zkat commented on #9215
current status: I'm working on adding warnings based on all the places in a nuspec where you might have some kind of TFM, which is a bit more than what I expected this to involve, so I'm having to take extra time to get that in.

[2020-10-08 21:59] zkat commented on #9441
current status: I haven't been able to actually get started with rewriting this because I'm still working on https://github.com/NuGet/Home/issues/9215

[2020-10-09 03:06] v-luzh commented on #10087
@dtivel Thanks for your introduction. We will try running "devenv /setup" from a Visual Studio developer command prompt after installing or uninstalling a VSIX.

[2020-10-09 07:10] b-kurczynski commented on #5740
Can I join the discussion? I have faced similar scenario that @bording described in this issue so I truly feel it. However I also do understand that having "NoWarn" applied transitively is not a good idea as it is still "All or nothing" solution solving one problem and generating another.

I It would be a very nice feature to have a full control over NuGet warnings in transitive way so what about

[2020-10-09 09:20] ghost opened #10118 "Can not load assembly "Nuget.Versioning" in Azure Functions"
When I add "Nuget.Versioning" package to an Azure Function project, in runtime I get an exception, when I try to use SemanticVerion class:
"System.Private.CoreLib: Exception while executing function: Function1. FunctionApp1: Could not load file or assembly 'NuGet.Versioning, Version=5.7.0.7, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. The system cannot find the file specified."

NuGet packa

[2020-10-09 17:59] aortiz-msft commented on #5138
I just want to make sure that folks are aware of the PackageId:{id} parameter which matches the package ID in an exact manner: https://docs.microsoft.com/en-us/nuget/consume-packages/finding-and-choosing-packages#search-syntax.  The version matching is missing in the command today.

[2020-10-09 21:28] #10117 closed, assigned to sbanni

[2020-10-09 21:47] zivkan commented on #10109
It appears this is a MSBuild question, rather than NuGet. Were you able to get the task working with the same `UsingTask` definition, when not doing it as part of the package?

Given the error message says

and you used `TaskFactory="NuGetLibrary.Tasks.MyTask"` in your targets file. The [docs for `UsingTask`](https://docs.microsoft.com/en-us/visualstudio/msbuild/usingtask-element-msbuild?view=vs-2

[2020-10-09 22:58] zivkan commented on #10118
This is happening because of the Azure Functions SDK, rather than NuGet. Here's a bug I encourage you to upvote: https://github.com/Azure/azure-functions-host/issues/6650

Having a quick chat with someone who worked on the SDK, they suggested using the MSBuild property `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>` in your csproj, and this worked for me.

Ultimately it happens becau

[2020-10-09 22:58] #10118 closed, assigned to nobody

[2020-10-09 23:19] sungam3r commented on #8867
Wow! I didn't even notice.

[2020-10-10 05:12] Denis535 commented on #10109
I should use
`<UsingTask AssemblyFile = "..." TaskName="NuGetLibrary.Tasks.MyTask" />`
instead of
`<UsingTask AssemblyFile = "..." TaskFactory="NuGetLibrary.Tasks.MyTask" TaskName="MyTask" />`.

What is `TaskFactory`? I thought this is just task class name.

[2020-10-10 05:25] Denis535 commented on #10109
@zivkan
I didn't notice your answer)))
Yes, problem was in `TaskFactory`. This must be class with interface `ITaskFactory` or `ITaskFactory2`.

I think tasks assembly must be placed in "tools" folder.

[2020-10-10 05:26] #10109 closed, assigned to nobody

[2020-10-10 09:26] Denis535 commented on #6579
You can use `DateTime.UtcNow.ToString("yyyy-MM-dd-HH-mm-ss")` to get readable package version.

[code]

In consumer project you can use floating version. It will automatically update your package.
[code]
In consumer project you can also make new package on every rebuild event. Only I'm not sure if I specified the properties correctly or not.
[code]

[2020-10-10 14:53] kartheekp-ms commented on #10051
Docs [PR](https://github.com/dotnet/docs/pull/21020) was approved and merged to dotnet/docs.

[2020-10-10 14:53] #10051 closed, assigned to kartheekp-ms

[2020-10-10 15:32] zivkan commented on #10109
There's no requirement where task assemblies are placed, you can use `<UsingTask`'s `AssemblyFile` to point anywhere. I'm just suggesting don't use any of NuGet's "by convention" locations (`lib/`, `ref/`, `runtimes/`, `content/`, `contentFiles/`) that use dll files, to ensure that NuGet never accidentally uses the dll in a way you didn't intend.

[2020-10-11 18:36] zivkan commented on #9880
This is not a NuGet bug. Running our [`Get-Project`](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.PowerShellCmdlets/Cmdlets/GetProjectCommand.cs) command without any arguments will get PMC's default project. However, EF6's PowerShell module is [implemented explicitly to get the solution's startup project](https://github.com/dotnet/ef6/blob/04a6ae5556f38f

[2020-10-11 18:36] #9880 closed, assigned to nobody

[2020-10-12 14:53] erdembayar commented on #10069
I created this [PR#582](https://github.com/NuGet/Client.Engineering/pull/582/files) for spec.
@nkolev92  Please review.

[2020-10-12 15:19] beachwalker commented on #2623
Also interested into the strict mode... requirement here in the ecosystem? any news? stops us from using core dotnet tools, currently.

[2020-10-12 15:41] zivkan commented on #8867
Good catch!

[2020-10-12 16:03] ite-jankl opened #10119 "(MSBuild) Restore does not respect BaseIntermediateOutputPath"
When a csproj has the `BaseIntermediateOutputPath` property set (so that instead of `obj` a different folder will be used) the restore target will produce temporary files in `obj` instead of the declared `BaseIntermediateOutputPath`.

This is not a problem for projects using `packages.config`. But it is for those using the `PackageReference` format.

## Details about Problem

NuGet product used: *

[2020-10-12 18:22] kartheekp-ms commented on #10119
I can reproduce this issue. Similar [issue](https://github.com/dotnet/msbuild/issues/1603) reported in `MSBuild` repo. The work-around suggested in the linked issue worked for me. Please try the work around and let us know if you are still experiencing the same behavior.

[2020-10-12 20:27] dominoFire commented on #9311
Filename extension validation mitigates the problem but it doesn't fully solve it.

One way to validate icon image file is to fully read it with WPF and verify if it successfully loads. But, we would need to take a dependency on WPF.

An alternative is to only check magic numbers for JPEG and PNG images at the beginning of the file. This is prone to errors because there's a myriad of JPEG and PNG

[2020-10-12 20:28] zkat commented on #9882
@donnie-msft is this a dupe of the issue you're looking into?

[2020-10-12 20:35] zkat commented on #9471
@kartheekp-ms could you follow up with this?

[2020-10-12 21:45] aortiz-msft commented on #9880
@zivkan - Should we move this issue to the dotnet project then?

[2020-10-12 22:38] #5103 closed, assigned to kzu

[2020-10-12 22:39] aortiz-msft commented on #5103
Closing per last comment. Also, this issue was for Nugetizer :)

[2020-10-12 23:15] zivkan commented on #9880
I created this issue on the EF6 repo: https://github.com/dotnet/ef6/issues/1750

[2020-10-13 13:12] ite-klass commented on #10119
Using a `Directory.Build.props` file to set `BaseIntermediateOutputPath` indeed seems to work. NuGet no longer uses the obj folder but the one defined there for those files.

In my actual project defining `BaseIntermediateOutputPath` and `OutputPath` in such `Directory.Build.props` leads to new errors though.

* `Microsoft.NuGet.targets(186,5): error : Your project does not reference ".NETFramewor

[2020-10-13 15:02] JonDouglas commented on #3891
Hey everyone,

First off, thank you all so much for weighing in on potential solutions for this missing experience.

From what I gathered, here is a summary I've put together:

- `nuget pack` currently has `-IncludeReferencedProjects`
- MSBuild supports `<Pack>` and `IncludeContentInPack`
- `dotnet pack` does not support  `-IncludeReferencedProjects` or respect existing MSBuild functionality today

[2020-10-13 17:17] kartheekp-ms commented on #10119
@ite-klass - Thanks for the udpate. Good to know that `Directory.Build.props` work-around is working.

Can you please upload a sample project for us to repro this issue?

[2020-10-13 17:42] mrahl commented on #10058
@nkolev92 thanks for your response. You are right that we can use upper boundaries on dependencies, and we do. But that is for major versions only. A situation like this would mean we have to bump the major version of Core _just_ to "kill" Experimental2, while at the same time providing versions of all other ExperimentalX that are compatible with the new Core major. And we want to release new majo

[2020-10-13 17:50] cristinamanum commented on #10076
Closed as duplicate of task https://github.com/NuGet/Home/issues/10072

[2020-10-13 17:50] #10076 closed, assigned to cristinamanum

[2020-10-13 18:20] #9215 closed, assigned to zkat

[2020-10-13 20:19] terrajobst commented on #9215
Awesome. Thanks for getting this done! 💜

[2020-10-14 02:51] #10099 closed, assigned to nugetlurker

[2020-10-14 05:50] vsfeedback opened #10120 "The 'Package' Build tab specifies an icon using a property that was deprecated by NuGet"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/793034/the-package-build-tab-specifies-an-icon-using-a-pr.html)._

---
When building a C# library, in project properties -> Package tab, we specify all the properties for the package. Here we can specify an icon for the package. The only way to specify the icon in this tab

[2020-10-14 05:51] dominoFire commented on #10120
Notes:

- Saw on 16.3
- Change in Properties page made in this PR: https://github.com/dotnet/project-system/pull/5485

[2020-10-14 07:46] Davilink commented on #8623
Any update on this ?
The documentation is really not clear at all

[2020-10-14 09:16] mdee77 commented on #7001
Still happening - please fix this as it's breaking my CI.

[2020-10-14 12:25] delepster commented on #7752
Any progress on this?

[2020-10-14 14:21] BogusDude99 commented on #4387
Agreed, please give an option to bypass cert checks for the corporate MITM scenarios

[2020-10-14 15:58] ite-klass commented on #10119
I was not able to reproduce it in the small sample project yet. _(Even after making it more similar to the other project (non-sdk project, package references to EF and FxCop analyzers).)_

[2020-10-14 16:53] erdembayar commented on #9956
@nkolev92  @dtivel addressed all review comments.

[2020-10-14 17:40] nkolev92 commented on #10038
The problem is how we calculate the counters.
The checker returns the unique names, so we can correlate using that.

[2020-10-14 18:46] nkolev92 commented on #10119
Please note that NuGet looks at MSBuildProjectExtensionsPath, not BaseIntermediateOutputPath path. The latter was a bug fixed in https://github.com/NuGet/NuGet.Client/pull/2131, about ~ 2 years ago in 4.7.

MSBuildProjectExtensionsPath | Output folder, defaulting to BaseIntermediateOutputPath and the obj folder.
-- | --

https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#restore-prop

[2020-10-14 18:49] erdembayar opened #10121 "Address mutations in cacheContext"
Maybe it's not urgent now, but  just in case I creating this issue:
Currently we have many `cacheContext`s which used for caching some previous values and calculations.
But they're using mutable normal dictionary which makes very hard for adding parallelization into our code as I experienced in [PR#3605](https://github.com/NuGet/NuGet.Client/pull/3605) and [PR#3646](https://github.com/NuGet/NuGet.

[2020-10-14 18:51] nkolev92 commented on #10119
Given the above, I'm not sure there's a bug here, `MSBuildProjectExtensionsPath` is what should be used and it should be set *before* the SDK props import.

[2020-10-14 19:52] tebeco commented on #10115
Hello,

Good catch on that, the behavior seen in `OpenIdDict` is effectivly a "NO GO" for library author. Top idea that comes to mind
* this is a HUGE breaking change from the current `dotnet pack` (from netcoreapp2.0)
* this look like we are going back to `package.config` that previously leaked all transitive to a file, but now it transform `Transitive` to `Direct`
* this look like a mix of a "lo

[2020-10-14 20:17] rconard commented on #10115
As you all know, we are working very hard to use your user feedback to make our decisions for Central Package Version Management.

@kevinchalet and @tebeco have noticed a change in the way that transitive dependency pinning works with CPVM. For web services, applications, and scripts, it should heave a smaller impact. For library authors, it could lead to transitive dependencies leaking across pac

[2020-10-14 20:44] donnie-msft opened #10122 "PM UI Icon Status could be indicated with an Overlay on Default Icon"
A recent PR https://github.com/NuGet/NuGet.Client/pull/3702 by @rrelyea adds Statuses ([IconBitmapStatus](https://github.com/NuGet/NuGet.Client/blob/fc7040a568c576511d0546209666d12e0c1503ba/src/NuGet.Clients/NuGet.PackageManagement.UI/Models/IconBitmapStatus.cs)) for why an icon failed to load.
It may be worth considering adding some overlays to the Default Package  icons, so it's clear why an ico

[2020-10-14 20:47] kevinchalet commented on #10115
The `No Transitive Pinning` behavior (used in 3.1.x) offers the most consistent experience: it works exactly like how `<PackageReference />` has worked for years. I believe it should be the default behavior, as it's the least surprising one.

The `Transitive Pinning` behavior differs from what people are used to when it comes to NuGet packages and `<PackageReference />`. As mentioned in the mail t

[2020-10-14 20:51] donnie-msft opened #10123 "BitmapImageCache expiration policy can vary by Status"
In https://github.com/NuGet/NuGet.Client/pull/3702, a [BitmapImageCache](https://github.com/NuGet/NuGet.Client/blob/fc7040a568c576511d0546209666d12e0c1503ba/src/NuGet.Clients/NuGet.PackageManagement.UI/Models/PackageItemListViewModel.cs) was added with a SlidingExpiration of 10 minutes. This doesn't make sense for some statuses that are more final.

### Discussion prompting this issue
https://gith

[2020-10-14 20:58] kevinchalet commented on #10115
BTW, the behavior of `Transitive Pinning` could be largely improved by not adding an explicit package reference when the version configured via CPVM is already referenced transitively. It would at least greatly reduce the noise, which is one of the main concerns.

E.g:

## Example Directory.Packages.props
[code]

## Example.csproj
[code]

|                                           | Restore | Res

[2020-10-14 21:03] tebeco commented on #10115
I think having the choice is the key here
"Do you want that ?" as an MsBuild Props
"Do you want Oldest compliant transitive" as an MsBuild Props
"Do you want Latest compliant transitive" as an MsBuild Props
Let us choose, even if it breaks us (but not by default though)

## Questions
1. Which behavior do you need for your applications?
2. Which behavior do you need for your libraries?

Same for bo

[2020-10-14 21:05] vsfeedback opened #10124 "Roslyn Analyzer suggestion "install with package manager" opens NuGet to wrong tab"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1218224/selecting-install-with-package-manager-opens-nuget.html) / https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1230203._

---
When editing my .NET app if a Roslyn analyzer appears with a helpful suggestion that the code I am attempting to write is not possible be

[2020-10-14 21:17] kartheekp-ms commented on #10124
Repro steps

1. Created `.NET Core Console App`
2. Installed `StyleCop.Analyzers` package to the project.
3. Type `JObject` in `Program.cs` file
4. Click on `Install Package Newtonsoft.json` > `Install with package manager..`
5. Navigated to PM UI installed tab with `Newtonsoft.Json` in search box.

![1](https://user-images.githubusercontent.com/52756182/96045661-1ee88380-0e27-11eb-883e-c36c6780f2

[2020-10-14 21:38] donnie-msft commented on #10124
We don't own this menu. I believe Roslyn owns it
https://github.com/dotnet/roslyn/blob/master/src/Features/Core/Portable/AddImport/CodeActions/InstallWithPackageManagerCodeAction.cs

I don't believe the https://github.com/NuGet/Home/issues/7309 issue is quite the same. It focuses on VS defaults.
Basically, Roslyn should be able to pass an argument to us. Perhaps it always depended on the last clos

[2020-10-14 21:44] kartheekp-ms commented on #10124
Assigned feedback ticket to Roslyn team as per @donnie-msft comment.

[2020-10-14 22:06] aortiz-msft commented on #10120
@dominoFire should we move to project-system?

[2020-10-15 00:38] vsfeedback opened #10125 "props file of nuget VC++ (native) package is not added to ExtensionSettings import group"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1002251/props-file-of-nuget-vc-native-package-is-not-added.html)._

---
If I add a nuget package to a VC++ project (vcxproj), the props file from packages build\native folder is not added to the `<ImportGroup Label="ExtensionSettings">`. Instead the import is placed at the

[2020-10-15 01:06] kartheekp-ms commented on #10125
I can reproduce the issue following steps mentioned in the feedback ticket. The logic [here](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.PackageManagement/Projects/MSBuildNuGetProject.cs#L361-L362) adds `.props` file to the `Top` location and `.targets` file `Bottom` location. This change was introduced in this [PR](https://github.com/NuGet/NuGet.Client/pull/1435) to fix a

[2020-10-15 06:25] tuyen-at-work commented on #9882
Same for me

[2020-10-15 06:36] marcin-krystianc opened #10126 "[Bug]: Package downgrade and error messages"
Hi, we've discovered recently that NuGet has native support for central package versioning [CPVM](https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions). It is definitely a good step forward to simplify version management for large solutions, but it seems that there are some significant changes in how the restore errors are being reported.

## Test solution
Let's assume that

[2020-10-15 07:49] Ian1971 commented on #9882
Did you try what worked for me, i.e. not using the select all box and individually selecting each box?

[2020-10-15 08:43] ite-klass commented on #10119
Should as in the existing logic should already make sure of this?

Or is this not automatically the case? What does this mean for a `<Project Sdk="Microsoft.NET.Sdk">` project? Nothing can be imported before the Sdk attribute handling in the csproj file so it has to be done with a `Directory.Build.props` file which is handled before that (/early enough)?

[2020-10-15 13:01] igor-teresco commented on #9882
I'm usually deselect one or pair packages and issue is gone.

[2020-10-15 14:19] #10009 closed, assigned to rrelyea

[2020-10-15 14:22] rrelyea commented on #8505
fixed in 16.9

[2020-10-15 14:22] #8505 closed, assigned to rrelyea

[2020-10-15 14:23] rrelyea commented on #9161
dupe of https://github.com/NuGet/Home/issues/8505
(fixed in 5.9).

was possible to freeze the bitmapsource if we loading via a memorystream.