[2022-10-09 10:03] v-crchang opened #12143 "[Bug]: Starred packages still show in the “Browse” tab after uninstalling the NuGetRecommender"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Release-6.0.x\6.0.2.26

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

## Repro steps:
1. Open VS, click menu File->New Project, create a Console App (.Net Core) project.
2. Open Manager Extensions (Extensions ->Manage Extensions ->Installed).
3. Uninstal

[2022-10-09 10:44] v-luzh opened #12144 "[Bug]: Starred packages still show in the “Browse” tab after disabling the NuGetRecommender"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Release-6.2.x\6.2.1.25

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

#### Repro Steps:
1.	Open VS, click menu File->New Project, create a Console App (.Net Core) project.
2.	Open Manager Extensions (Extensions ->Manage Extensions ->Installed).
3.	Click

[2022-10-09 10:57] v-luzh opened #12145 "[Bug]: The “NuGetRecommender” still shows in the “Installed” tab of “Manage Extensions” after being uninstall and it can be uninstalled successfully for multiple times"
### NuGet Product Used

Other/NA

### Product Version

Release-6.2.x\6.2.1.25

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

1.	Open VS, click menu File->New Project, create a Console App (.Net Core) project.
2.	Click the menu: Extensions ->Manage Extensions ->Installed.
3.	Uninstall “NuGetRecommender”.
4.	Restart VS and reopen “Manage Extensions” dialog.

[2022-10-09 16:32] trungnt2910 commented on #8186
Currently it is possible to use a `net6.0-browser` TFM on NuGet. See [this package](https://www.nuget.org/packages/Rickroller/#supportedframeworks-body-tab) for reference.

![image](https://user-images.githubusercontent.com/57174311/194768443-7cac4b2d-563f-45a8-94c7-6df528c4c107.png)

[This](https://github.com/trungnt2910/DotnetBrowser/blob/382b54b4b373fbc47cefdb7f846b83a91346234d/sample/Rickrolle

[2022-10-09 20:58] Edrisym commented on #12077
HI @mrward I really appreciated it and I am absolutely thankful for reaching out
sorry if I was late to answer (I live in Iran and internet was blocked)
yes I can build my project and I have tested everything I could
still no clue

[2022-10-09 21:04] Edrisym commented on #12077
@mrward  thanks for letting me know about the IDE log
it has some errors and warnings
and I have NuGet Package Explorer 0.10 V
NuGet Package Management Extensions  0.31 V
Installed

[2022-10-09 21:08] Edrisym commented on #12077
@renanelias Hey I see you have the same issue like me and its been 3 months Im using external terminal directing the folder of my project and it is working but it is really bothering in total
if you could find any solutions PLZ I'd be really happy if you let me know
Thanks

[2022-10-09 21:43] renanelias commented on #12077
Hey! I installed the latest version (0.31) and removed the .vs folder located in the project root folder. After that, the plugin started working again.

[2022-10-09 22:02] Edrisym commented on #12077
that is amazing, thank you so much
I did install it it is working and the background turned white
I'm worried. hahah
I think it's bcz of the version, isn't it?
and also I couldn't find the .vs folder
could you tell me the director
thanks a lot

[2022-10-10 06:26] zivkan commented on #11965
Emailed internally. This issue is no longer reproducing in internal builds.

Also note that NuGet gets Azure DevOps credentials from another service within VS, so it's worthwhile creating these credential failure issues in Azure DevOps, so we can reassign to the Credential Provider and VS Identity teams.

[2022-10-10 06:26] #11965 closed, assigned to zivkan

[2022-10-10 08:49] mrward commented on #12077
@Edrisym Try version 0.31.1 of the NuGet extensions addin - https://github.com/mrward/monodevelop-addins/blob/gh-pages/17.3/MonoDevelop.PackageManagement.Extensions.0.31.1.mpack

[2022-10-10 11:12] Edrisym commented on #12077
@mrward  Thank you so much man
it is working finally

[2022-10-10 13:15] hknielsen opened #12146 "[Bug]: nuget.config next to .sln is only applied to csproj's rooted under .sln"
### NuGet Product Used

dotnet.exe, MSBuild.exe, NuGet.exe

### Product Version

nuget

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

nuget.config next to solution only applies to *.csproj's thats under the subfolders from the solution. If a *.csproj that is placed with a seperate root is added to the solution, that will not pick

[2022-10-10 18:31] nkolev92 commented on #12145
This is something that should be fixed in latest VS, https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1586335.

The extension does not appear in latest VS version.

Closing now, please reopen if you see anything in 17.5, and I'll reach out the recommender component team.

[2022-10-10 18:31] #12145 closed, assigned to nobody

[2022-10-10 18:35] nkolev92 commented on #12144
We don't want to invest into this.
The disable feature is going to disabled in the latest version of the extension.

[2022-10-10 18:35] #12144 closed, assigned to nobody

[2022-10-10 18:35] nkolev92 commented on #12143
At this point, we're choosing not to address these.

The uninstall option for the extension has been disabled in latest VS.

[2022-10-10 18:35] #12143 closed, assigned to nobody

[2022-10-10 19:02] dtivel opened #12147 "Test: `DOTNET_NUGET_SIGNATURE_VERIFICATION` tests run incorrectly on macOS"
While testing a branch that updates the test .NET SDK CLI from 6.0.400 to 7.0.100-rtm.22504.1, some tests failed on macOS but on no other OS.  (Note that not every test runs on every OS.)

* `Dotnet.Integration.Test.DotnetRestoreTests.DotnetRestore_WithUnSignedPackageAndSignatureValidationModeAsRequired_WithEnvVarTrue_Fails`
* `Dotnet.Integration.Test.DotnetRestoreTests.DotnetRestore_WithUnSignedP

[2022-10-10 20:57] nkolev92 commented on #8186
Hey @trungnt2910, appreciate the community effort, but I felt that I have to point out that having `lib\net6.0-browser0.1` does not guarantee the packages will work as expected.

NuGet only really string matches the platform part of the framework, so you wouldn't be getting a warning from NuGet about it.

Long term NuGet is only guaranteed to detect patterns that are recognized .NET frameworks.

[2022-10-10 21:27] #11905 closed, assigned to nobody

[2022-10-11 01:20] trungnt2910 commented on #8186
When I installed the NuGet package to a console project multitargeting Windows and Browser it still restores correctly though.

[2022-10-11 02:06] nkolev92 commented on #8186
That's because client currently treats the platform part as an opaque string.
That's an implementation detail. It may change in the future, if there's a need for NuGet to explicitly know about certain frameworks.

It's the .NET SDK that will validate supported frameworks.

[2022-10-11 03:13] trungnt2910 commented on #8186
I am aware of this. That is how I got `dotnet pack` for the library above to work in the first place.

This is a desired feature, especially in the future when projects like [MAUI for GTK](https://github.com/lytico/maui/issues/11), which uses a custom `net6.0-gtk` framework gets released.

[2022-10-11 03:46] nkolev92 commented on #8186
I need to make a correction.
Adding new platforms is ok for net5.0 and later frameworks. Tizen is a good example for that.

Adding custom mappings would have a different bar but it doesn't like the project has that intent.

[2022-10-11 04:15] trungnt2910 commented on #8186
If it's _legal_, then my example `net6.0-browser` should be too, because it uses the same approach as Tizen of installing a custom SDK to enable the TFM.

If by custom mappings you mean stuff like `monowasm1.0` or `somerandombrowserTFMname6.0` then no, I don't intend to add these.

[2022-10-11 07:31] tmds commented on #1851
Fgcgdgdfggfhfn go look g me fkzgv

Op zo 24 jul. 2022 01:29 schreef Hamish Arblaster ***@***.***

[2022-10-11 08:12] fjoppe commented on #10663
I encountered this error due to another cause.
The filename of my nuspec file, did not end in ".nuspec".

ie. I took an nuspec original "example.nuspec", did some string find/replace and generated "example.nuspec.updated".

Then I packed with:
`dotnet pack mydir/my.csproj -c Release -p:NuspecFile=example.nuspec.updated" -p:NuspecBasePath="mydir"`

Caused this error. Renaming "example.nuspec.update

[2022-10-11 10:47] hamarb123 commented on #1851
@tmds , I don't think you meant to leave that comment, just letting you know you left one (I will delete this one too).

[2022-10-11 17:17] kartheekp-ms opened #12149 "Microsoft Security Advisory CVE-2022-41032 | .NET Elevation of Privilege Vulnerability"
# Microsoft Security Advisory  CVE-2022-41032 | .NET Elevation of Privilege Vulnerability

## <a name="executive-summary"></a>Executive summary

Microsoft is releasing this security advisory to provide information about a vulnerability in .NET 7.0.0-rc, .NET 6.0, .NET Core 3.1, and NuGet (NuGet.exe, NuGet.Commands, NuGet.CommandLine, NuGet.Protocol). This advisory also provides guidance on what de

[2022-10-11 17:34] bricelam commented on #8186
Please see https://github.com/NuGet/Home/issues/8186#issuecomment-1097276596 for an approach that works with the existing WebAssembly build tools for .NET. If you're building your own toolchain for Wasm on .NET, I strongly recommend you layer it on top of the existing tools being developed [in the dotnet/runtime repo](https://github.com/dotnet/runtime/tree/main/src/mono/wasm). Dividing the ecosyst

[2022-10-11 17:43] #6478 closed, assigned to nobody

[2022-10-11 18:37] dtivel opened #12150 "Test: remove hack for testing preview .NET SDK"
Testing against a pre-release version of .NET 7 SDK brings in a dependency for Microsoft.NETCore.App.Host 3.1.31, which isn't released.  To work around this dependency, I implemented a [hack](https://github.com/NuGet/NuGet.Client/pull/4791/commits/02834c173867187a8044e4f5ed03b0e34b673b9f).  This hack should be removed once tests target the .NET 7 GA release.

[2022-10-11 18:41] dtivel opened #12151 "Test: re-enable test after .NET 7 SDK has fix"
.NET 7 introduced a regression in parsing multiple key-value pairs as a property during pack.  See https://github.com/dotnet/sdk/issues/28131.  I [disabled a test](https://github.com/NuGet/NuGet.Client/pull/4791/commits/39651126c90acab817b2581b276ba3a8e1f5f650) impacted by this regression.

When the fix is available, we need to re-enable this test.

[2022-10-11 20:53] zivkan commented on #11886
I see, requesting that `dotnet list package` when run on a solution file, to skip shproj (and perhaps other known-incompatible project tyles) might be reasonable.

My concern is having `dotnet list package my.sln` work on solution files that `dotnet restore my.sln` does not work on. If the .NET SDK team also choose not to support shared projects, I don't want NuGet to "go behind their back" and ad

[2022-10-11 21:48] kartheekp-ms commented on #12149
This vulnerability is not applicable to VS for Windows.

[2022-10-11 23:13] jeffkl opened #12152 "[Bug]: Bad NuGet.config causes NuGet-based MSBuild SDK resolver to throw an unhandled exception"
### NuGet Product Used

MSBuild.exe

### Product Version

All

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

Create a NuGet.config with bad XML
Invoke the NuGet-based MSBuild project SDK resolver
Unhandled exception is thrown which is caught by MSBuild

Originally reported internally: https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1554774

### Verbos

[2022-10-12 09:49] ChristianHaefner commented on #12032
Hi Andy, since there seems to be a security issue with `NuGet.Protocol` (https://learn.microsoft.com/en-us/visualstudio/releases/2022/release-notes-v17.2#17.2.9) it is no longer possible to use your provided VSIX as a temporary workaround for this issue.

Can you please tell us if the issue above is being fixed in VS 17.2.9 and (if not being so), provide us an updated version of the VSIX that cont

[2022-10-12 11:13] v-luzh commented on #12118
Hi @heng-liu, This bug doesn't repro during today's testing on .NET SDK 7.0.100-rtm.22511.20. I am closing this bug as not-repro. We will reopen it if repro later.

[2022-10-12 11:13] #12118 closed, assigned to nobody

[2022-10-12 12:18] #12033 closed, assigned to dtivel

[2022-10-12 13:15] trdsolutions opened #12153 "[Bug]: Satellite assemblies from projectreference not packed by using "GeneratePackageOnBuild""
### NuGet Product Used

dotnet.exe

### Product Version

6.0.401

### Worked before?

No

### Impact

_No response_

### Repro Steps & Context

When RESX files are outsourced to it's own library, the project to pack won't include all satellite assemblies:

`C:\Program Files\dotnet\sdk\6.0.401\Sdks\NuGet.Build.Tasks.Pack\build\NuGet.Build.Tasks.Pack.targets(221,5): warning NU5118: File '<Path-to-En

[2022-10-12 20:45] jeffkl opened #12154 "[Bug]: SettingsLoadingContext throws exceptions when a different settings file causes an exception"
### NuGet Product Used

MSBuild.exe

### Product Version

All

### Worked before?

No

### Impact

It's more difficult to complete my work

### Repro Steps & Context

The `SettingsLoadingContext` class adds a `Lazy<T>` to a list and then returns the value.  If reading that file causes an exception, subsequent calls to `SettingsLoadingContext` also cause an exception for a different file since the

[2022-10-12 21:35] donnie-msft opened #12155 "[DCR]: Adding a new Package Source in VS Options should be immediately available for a Package Source Mapping"
### NuGet Product(s) Affected

Visual Studio Package Management UI

### Current Behavior

As described in discussion on the PR creating a new Package Source Mappings page in VS Options,
https://github.com/NuGet/NuGet.Client/pull/4847#discussion_r993908087, Package Sources do not commit immediately to a config file. Therefore, a newly added source cannot be immediately used in a mapping, today.

##

[2022-10-12 22:31] lynnewu commented on #4204
<enter> key has never worked for me in PMC, in **any** version of VS.  <shift><enter> does work.

[2022-10-12 23:48] iamdjones commented on #11690
Is there a workaround for this?

[2022-10-13 00:29] #11362 closed, assigned to donnie-msft

[2022-10-13 00:29] #11363 closed, assigned to donnie-msft

[2022-10-13 02:42] AraHaan commented on #11690
Sadly, there is currently no known workaround (that I know of).

[2022-10-13 03:09] sduquette-devolutions commented on #12149
The releases notes for Visual Studio 2022 17.3.6 suggest otherwise, "CVE-2022-41032 .NET Elevation of Privilege Vulnerability" is listed under Security Advisory. Could you clarify if this update is needed to fix the issue?

![image](https://user-images.githubusercontent.com/70600710/195489921-65206160-6a41-4ea6-a166-c79ff5f39c92.png)

https://learn.microsoft.com/en-us/visualstudio/releases/2022/re

[2022-10-13 04:53] moovpad commented on #12149
I have noticed that after the updates were installed for the .NET 6 and 3, VS 2022 Community edition is unable to launch my solution as a project, although I can still open individual files to make edits, etc. I have checked all the files and they seem to be ok. When trying to launch the project, the launcher simply shuts down, without presenting any error messages. Could you please advise any cor

[2022-10-13 06:49] MrM40 commented on #7484
To force package to only be downloaded to your project-folder and not the cache-folders,  place a file called `nuget.config` in the project-folder with this content:

[code]
Documentation of then nuget.config file: [learn.microsoft.com..](https://learn.microsoft.com/en-us/nuget/reference/nuget-config-file)

[2022-10-13 12:10] trungnt2910 commented on #8186
I've read this comment before, this seems more like a workaround. In scenarios such as multitargeting in a single project, it is not as transparent as having a `browser` TFM.

This is exactly what I'm doing. Similar to what .NET 6 mobile seems to do (reference some .NET bindings for Java/Objective-C libraries, and build using Mono toolchains), I'm simply extending `wasm-experimental` and create a

[2022-10-13 12:32] asimeonov opened #12156 "[Feature]: Centralized package management update package version property when passed as parameter."
### NuGet Product(s) Involved

NuGet.exe

### The Elevator Pitch

When Directory.Packages.props is used for centralized management we can use `PropertyGroup` defined variable for package version. Can updating one of the packages that are under this version change the version in `PropertyGroup` not replacing the version. I know that this may lead to mistakes but it will be more convent when updatin

[2022-10-13 17:16] heng-liu opened #12157 "[Bug]: Reduce memory allocation while creating empty InnerNodes and ParentNodes for a new GraphNode during restore"
### NuGet Product Used

dotnet.exe, MSBuild.exe, NuGet.exe, Visual Studio Package Manager Console

### Product Version

All versions

### Worked before?

No

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

According to https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1338417,
`Mgd_NuGet_mscorlib!System.Collections.Generic.List<NuGet.DependencyResolver.GraphNode<NuG

[2022-10-13 18:01] donnie-msft opened #12158 "Error NETSDK1138: The target framework 'netcoreapp5.0' is out of support when updated VS"
### NuGet Product Used

Other/NA

### Product Version

N/A

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

Dotnet is erroring when a framework is no longer supported. Changing that behavior for libraries has been requested here: https://github.com/dotnet/sdk/issues/28518

Builds are blocked with an error:
[code]

### Verbose Logs

_No response_

[2022-10-13 18:12] kartheekp-ms opened #12159 "[Bug]: MSB4242: SDK Resolver Failure due to System.Threading.AbandonedMutexException"
### NuGet Product Used

dotnet.exe

### Product Version

SDK 6.0.402

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

Tracking issue for https://github.com/dotnet/sdk/issues/28488. Essentially, this issue can be hit if solution has multiple projects trying to download custom SDKs using NuGet resolver functionality.

### Verbose Logs

_No re

[2022-10-13 18:36] bricelam commented on #8186
@radical Does mono-wasm plan to add any .NET projections of Wasm/Wasi/JavaScript APIs? If this API surface is significant (like the NDK bindings on Android), I agree this would warrant a new TFM. But if the base .NET API is sufficient for exposing the underlying platform's functionality, then using a RID seems more consistent--I don't consider the Linux and macOS RIDs to be a workaround.

[2022-10-13 18:49] donnie-msft commented on #11363
Rough estimate is you can look for the introduction of this feature in 17.5 Preview 1

[2022-10-13 18:49] donnie-msft commented on #11362
Rough estimate is you can look for the introduction of this feature in 17.5 Preview 1

[2022-10-13 21:22] yowl commented on #8186
I don't know what mono are planning, nor exactly how this relates to new TFMs/Rids, but what I noticed with Wasi and Wasm in the browser was that WASI are based on cloudlibc where as Wasm in the browser (using emscripten) is based on muslc.  These 2 libc implementations use different header constants making a single `src/libraries/Common/src/Interop/Unix/System.Native/Interop.OpenFlags.cs` for exa

[2022-10-13 21:38] donnie-msft commented on #12141
Blocked on: https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1642653

[2022-10-13 21:40] #12158 closed, assigned to donnie-msft

[2022-10-13 23:08] iledesmanerd commented on #12075
I have a similar issue
![Captura de Pantalla 2022-10-13 a la(s) 18 06 58](https://user-images.githubusercontent.com/111795221/195726633-5e2f16a4-cac0-4023-8ff6-cd62d1b6637c.png)
I have try to run a docker compose in dotnet and is just throwing errors for service that are on dockerfile and goes throw the network to instal packages or images. But when it failes it continues building and even the con

[2022-10-14 00:37] zivkan commented on #12032
Sorry for the delay. There's been a lot going on recently.

I just spent another 2 hours looking at it, and it still feels like it should be impossible. I'm still stuck at [what I wrote before](https://github.com/NuGet/Home/issues/12032#issuecomment-1241324338):

With the memory dump, I can see there are 10 instances of `NuGet.Protocol.Core.Types.SourceRepository`. There are two whose [FeedTypeOve

[2022-10-14 01:34] kartheekp-ms commented on #12159
Sorry for the inconvenience caused by this bug. For folks who are hitting this issue, as a workaround, would it be possible to execute `dotnet nuget --version` before running the restore. In that way we don't hit the race condition that is causing these failures intermittently.

[2022-10-14 01:36] dominoFire commented on #8414
Reopening since this ticket has the same issue in 17.3 https://devdiv.visualstudio.com/DevDiv/_dashboards/dashboard/626b3742-3c63-4ade-8e3d-43e2c461f222

[2022-10-14 02:01] vsfeedback opened #12160 "nuget package list is always scrolled one item down"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/VS2022-Search-results-on-Nuget/10163787)._

Another, [Closed as duplicate on Developer Community](https://developercommunity.visualstudio.com/t/nuget-package-list-is-always-scrolled-on/10170793)

---
When searching for a nuget package (or just browsing) the list is always scrolled 1 item

[2022-10-14 02:05] dominoFire commented on #12160
Reproduced in VS 17.3.6 Release, see section in red.

![image](https://user-images.githubusercontent.com/1192347/195745262-b43eb1db-8416-4d7c-b03d-087f2bf8d9e2.png)

[2022-10-14 05:34] trungnt2910 commented on #8186
Saying that the base .NET API (all the .NET classes along with `System.Runtime.InteropServices.JavaScript.JSImport`) is _sufficient_ for exposing the browser's functionality _seems_ to be equivalent to claiming that built-in .NET classes and `DllImport` is enough to make use of Windows's functionality. It's possible to just `DllImport` every Win32 API we need to build Windows applications; there's

[2022-10-14 08:50] aetos382 commented on #3891
I am very surprised that this feature is not yet supported by default and that this thread is so long.

For example, the [System.Text.Json](https://www.nuget.org/packages/System.Text.Json/) package contains both a library DLL and an analyzer DLL inside it, and Microsoft has not documented how to create such a package.
You might search `AnalyzerReference` in the [dotnet/runtime](https://github.com/

[2022-10-14 09:45] Sergio0694 opened #12161 "[Bug]: dotnet nuget push not working after GitHub packages changes (10/10/22)"
### NuGet Product Used

dotnet.exe

### Product Version

Using 6.0.402 .NET SDK, but don't think it's version specific

### Worked before?

Yes, been working fine for months

### Impact

I'm unable to use this version (I can't push to GitHub packages at all)

### Repro Steps & Context

This is a new issue after https://github.com/dotnet/sdk/issues/28545 was closed and redirected here.

---

### De

[2022-10-14 12:51] vhugogarcia opened #12162 "[Bug]: Access to the path is denied on macOS"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Visual Studio for Mac - Version 17.4 Preview 3.0 (17.4 build 2285), .NET SDK: 7.0.100-rc.2.22477.23

### Worked before?

Visual Studio for Mac - Version 17.4 Preview 2.1, .NET SDK: 7.0.0-rc.1

### Impact

I'm unable to use this version

### Repro Steps & Context

1. Open VS for Mac Preview 3.0
2. Create a new Xamarin

[2022-10-14 12:54] akoeplinger commented on #12162
The new VSMac version includes the nuget update from https://github.com/NuGet/Home/issues/12149 so it is most likely caused by that. FYI @kartheekp-ms

[2022-10-14 14:57] ChristianHaefner commented on #12032
Hi Andy, since the issue never comes up again with your provided VSIX, we currently run our CI infrastructure with this VSIX as a temporary workaround. Most importantly, do we need an updated VSIX which contains the NuGet security update contained in 17.2.9?

I'm pretty sure that the issue is not related to a hardware defect etc., since we're facing the issue on several Build Agent VMs, all runnin

[2022-10-14 21:25] dominoFire commented on #12161
This seems like an issue with GitHub Package Registry:

https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-nuget-registry#troubleshooting

See help in GitHub community: https://github.com/orgs/community/discussions/

Or contact GitHub support: https://support.github.com/request

[2022-10-14 21:25] #12161 closed, assigned to nobody

[2022-10-14 22:14] donnie-msft opened #12163 "Remove copied WatermarkedTextbox styles once keys are available from VS Platform"
Styles were copied from internal repo ([ThemedDialogResources.xaml](https://devdiv.visualstudio.com/DevDiv/_git/VS?path=%2Fsrc%2Fvc%2Fprojbld%2FLinux%2FCoreDebugging%2FDialogs%2FThemedDialogResources.xaml&_a=contents&version=GBmain)) into our repo in order to resolve https://github.com/NuGet/Home/issues/12141.

Once the VS Platform offers a key for these styles and templates, we can inherit them a

[2022-10-14 22:18] donnie-msft commented on #12141
Unblocking this bug by copying styles from VS Platform.
Created separate bug https://github.com/NuGet/Home/issues/12163 to remove those copies, which is blocked on https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1642653.

[2022-10-15 01:08] kartheekp-ms commented on #12162
@vhugogarcia - Is this problem reproducible 100% of times? For example, can we reproduce the problem executing below steps?
- Execute `dotnet nuget locals all -c` command
- Open VS for Mac Preview 3.0
- Create a new `Xamarin.Forms` empty project
- Right click on the shared project and select Manage NuGet Packages
- Go to the Update Tab

The file mentioned in the error message (screenshot 1) is not

[2022-10-15 08:07] Youssef1313 opened #12164 "[Bug]: `NuGet.VisualStudio` depends on package not existing on NuGet.org"
### NuGet Product Used

Other/NA

### Product Version

NuGet.VisualStudio package 17.3.0 and 17.3.1

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Reference `NuGet.VisualStudio` from NuGet.org feed.
Observe:

### Verbose Logs

_No response_

[2022-10-15 10:35] Sergio0694 commented on #12161
Hi @dominoFire, I'm not sure this issue was closed correctly:

- I had previously opened an issue at https://github.com/dotnet/sdk/issues/28545, as I figured it might be related to `dotnet` CLI itself. That was closed and I was told to open an issue here. Now this is closed too and I'm told once again to open an issue somewhere else. This is very frustrating, and if this is actually the case we sh

[2022-10-15 13:58] StingyJack commented on #3891
To save others the trouble of searching, [here](https://github.com/dotnet/runtime/blob/8f7761af3763d0b84acefbb117ed6becd83061d1/src/libraries/System.Text.Json/src/System.Text.Json.csproj#L381) is the S.T.J proj file's `AnalyzerReference`

[2022-10-15 17:24] kartheekp-ms commented on #12162
In Installed latest VS Mac 17.3 and followed the repro steps (created .NET MAUI app) mentioned in the issue description. I can't reproduce this issue. Appears to be a race condition somewhere.

<img width="511" alt="image" src="https://user-images.githubusercontent.com/52756182/195999345-8bc73589-b15e-426d-a3f4-5f3eaa591a94.png">

<img width="305" alt="image" src="https://user-images.githubusercon

[2022-10-15 19:24] zivkan commented on #11988
We had another test with the same issue:

[2022-10-15 20:11] zivkan commented on #12161
@Sergio0694 The error message you copied here says:

This message is coming from the "server" (GitHub Package Repository), not from NuGet itself. Perhaps NuGet needs to make this more explicit. But in any case, since it's the server that's rejecting the package, it's not a NuGet or .NET SDK issue. A different server implementation would accept the package, so I don't see anything actionable from t

[2022-10-16 03:01] AraHaan commented on #3891
Wait I did not know that ``AnalyzerReference`` was a thing. When was that added for anyone to use?

[2022-10-16 12:35] AraHaan commented on #3891
Why did they not build it into the SDK then? It feels like it would have been a much better thing for them. However, it might be because it won't support the package version of them too?

[2022-10-16 15:03] jzabroski commented on #10633
This was a bug in Inedo Proget due to the fact they support immutable and mutable feeds. https://forums.inedo.com/topic/2919/dotnet-nuget-push-skip-duplicate-does-not-work-as-expected/7

@mairaw Recommend closing. (I am not a Nuget contributor, just helping triage as I am about to file a feature request around --skip-duplicate and there is a bunch of noise issues that make it hard to sift through

[2022-10-16 20:16] alexrp commented on #12159
I just ran into another failure that seems like it could be related (this is with the aforementioned workaround applied): https://github.com/vezel-dev/niru/actions/runs/3260762897/jobs/5354602659#step:4:15

[code]

This one seems rare - it's the first time I've seen it since applying the workaround and it didn't happen on a subsequent run.

[2022-10-16 22:44] zivkan commented on #11690
Does using `<PackageReference Include="Package.You.Do.Not.Want" ExcludeAssets="all" />`  meet your needs?

[2022-10-17 00:17] zivkan commented on #12032
My build did nothing more than add `Console.WriteLine` (or maybe using the MSBuild logger, I can't remember) in two places, so there's no logical reason for it to work and not the shipping version. Coming soon will be an update to NuGet in VS16.11 (related to the NuGet Recommender feature), but due to the way that our builds work, it will ship a newly compiled build of all the NuGet DLLs. I can't

[2022-10-17 08:49] PiterGoCompany opened #12165 "[Bug]: Method not found exception while nuget pack"
### NuGet Product Used

NuGet.exe

### Product Version

msbuild version '17.3.1.41501'
nuget CLI version 6.3.1.1

### Worked before?

works on vs 2019 and msbuild  version 16.11.2.50704

### Impact

I'm unable to use this version

### Repro Steps & Context

When running command 'nuget pack' with default msbuild 17.3 I always get method not found exception 'System.ReadOnlySpan`1<Char> Microsoft.IO.

[2022-10-17 14:38] nonnb commented on #6225
NuGet version 5 onwards does not URL encode file and folder names in the nupkg zip file (i.e. no %20 if a file has a space)
Note however that this change breaks tools like older versions of Octopus Deploy which were 'dependent' on the URL being urlencoded.

[2022-10-17 15:56] jeffkl commented on #12165
Possibly related to https://github.com/NuGet/Home/issues/12137

[2022-10-17 17:22] breidikl commented on #12159
The workaround has been working in our environment so far, thanks.

[2022-10-17 17:38] AraHaan commented on #11690
I am not sure if it will work if say the package you do not want is not a direct dependency of your project but say, is an optional dependency in say package ``Svg`` that is only used on say macos, but you know for sure that you will never run your code in macos (because it could be a winforms application or w/e).

[2022-10-17 18:03] kartheekp-ms opened #12166 "Microsoft.DotNet.ToolPackage.ToolPackageException: The tool package could not be restored."
I just ran into another failure that seems like it could be related (this is with the aforementioned workaround applied): https://github.com/vezel-dev/niru/actions/runs/3260762897/jobs/5354602659#step:4:15

[code]

This one seems rare - it's the first time I've seen it since applying the workaround and it didn't happen on a subsequent run.

_Originally posted by @alexrp in https://github.com/NuGet

[2022-10-17 18:09] kartheekp-ms commented on #12166
@alexrp - I just created this new issue for traceability because the error message is different. Would it be possible to run the `dotnet tool install` command by passing `--verbosity detailed` option so that we can get some additional information about the reason for the error. Passing `--verbosity detailed` option on CI will write too much information into the logs but it would be helpful to repr

[2022-10-17 18:10] nkolev92 commented on #12109
Hey @stephenjust,

NuGet downloading the packages that may be rejected, often serves as an optimization for subsequent restores, as it'd allow NuGet to fully analyze the graph without having to download packages that may latter be rejected by the algorithm.

Changing the algorithm to do comparisons between separate subgraphs is likely to add a lot of overhead to an already complex algorithm.

Than

[2022-10-17 18:28] nkolev92 commented on #12165
I'm unable to reproduce this with 6.3.1 and latest VS 17.3.

I wonder if there's something else we're missing.

Can you repro this on any other machines @PiterGoCompany?

I'm guessing it's the same root cause as #12137 too.

[2022-10-17 19:05] #12141 closed, assigned to donnie-msft

[2022-10-17 19:24] bricelam commented on #8186
Yes, I think you get my point--the Win32 windowing APIs represents something significant that should be surfaced via .NET APIs (WinForms).

I don't know if Wasm has anything like that. That's why I'm asking. Just surfacing something like `alert` doesn't warrant an entire TFM--that could just be a .net6.0 NuGet package that throws outside of the browser-wasm runtime.

[2022-10-17 19:43] stephenjust commented on #12109
Specifically we use Microsoft's internal Azure DevOps step. It does read project.assets.json to add some metadata but also reports on any nuspec files that it finds (which are present in the package download location)

[2022-10-17 20:22] #8414 closed, assigned to zivkan

[2022-10-17 20:27] nkolev92 commented on #11886
We can consider filtering out shproj, as that's something that restore already this: https://github.com/NuGet/NuGet.Client/blob/10ce64e63bb15f5fed2f39aa129f70fb370d106a/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L374-L377.

At this point, this is not high on our priority list but we'd consider a PR.

[2022-10-17 20:39] nkolev92 commented on #12136
@emmenlau

Sounds like you need the symlinks generated on the end user machine, as such we don't believe there's anything that needs to be done on the packaging side.

In your targets authoring, you may choose to create symlinks for the files, but at packaging time you really only want to have 1 file. If the current MSBuild capabilities do not allow you to create symlinks feel free to create an is

[2022-10-17 20:39] #12136 closed, assigned to nobody

[2022-10-17 20:48] nkolev92 commented on #12138
Team Triage:
You can workaround the issue by specifying PackageId.

When determining a project name, NuGet uses the following in order of preference, PackageId, AssemblyName, MSBuildProjectName.
By setting PackageId, you'd prevent NuGet from having a.csproj have the name `b`.

We've had a lot of these issues filled in the past, and as such as we should consider documenting it. https://github.com/N

[2022-10-17 20:55] nkolev92 commented on #12142
Duplicate of https://github.com/NuGet/Home/issues/11995.

[2022-10-17 20:55] #12142 closed, assigned to nobody

[2022-10-17 20:59] nkolev92 commented on #12146
Team Triage:
NuGet and other build components such as the SDK, tend to look from the project up, starting with the project directory in question.

It is expected that the global.json, nuget.config and the like files are in the same rooted parent directory.

We need to update the docs to call this out.

[2022-10-17 21:04] nkolev92 commented on #12160
We need to understand if this is a regression.

[2022-10-17 21:08] nkolev92 commented on #12156
cc @jeffkl Do we have any duplicates for this?

Is this even feasible? I know this can be very complicated to do.

[2022-10-17 21:25] nkolev92 commented on #12133
Hey @SqlBenjamin,

We need some more info to the able to investigate here.
Loops are usually a consequence of a package graph.

Are you using the NuGet Package Manager Console in Visual Studio or something else?
I imagine this is in the project context? What kind of projects are using? Do you have any other packages?
Most dependency loop we see tend to be true positives, so we'd need a repro to ma

[2022-10-17 21:30] nkolev92 commented on #12109
Good news is that we're working with that team to not raise false positive alerts about such packages.

Beyond that, we don't think we'd want to be any changes NuGet side at this point.

For context, the issue that sparked our discussion with the MS team is https://github.com/NuGet/Home/issues/11782.

Closing this per these comments.
For now, we can only recommend suppressing these warnings as "un

[2022-10-17 21:30] #12109 closed, assigned to nobody

[2022-10-17 21:36] jeffkl commented on #12156
This works today just fine, you just have to declare the properties at the top of `Directory.Packages.props` or an import before that.  For example, `Directory.Packages.props` is imported _before_ the project's contents so you can't declare these properties in a project.  You can set the property and do a `<PackageVersion Update="" />` in the project if needed.

The example above should work just

[2022-10-17 21:41] heng-liu commented on #12117
Sorry for the late reply!
This is from step 4 of [Cross-platform verify:  tampered signed package](https://microsoft.sharepoint.com/teams/NuGet/_layouts/OneNote.aspx?id=%2Fteams%2FNuGet%2FTeam%2FManual%20tests%2FTest%20Cases&wd=target%28Package%20Signing%20Manual%20Test.one%7C0344A15B-01B1-4828-AF4C-63FE53687F8A%2FCross-platform%20verify%3A%20%20tampered%20signed%20package%7CEC78D709-CBFC-4ECD-B06

[2022-10-17 21:56] nkolev92 commented on #12156
The question is more about whether the tooling such as `dotnet add package` or VS Package Manager installation can update the property instead of the item attribute.

[2022-10-17 22:01] dtivel commented on #12117
@heng-liu is correct.  I updated step 4 in the test case.  Reopen if it's still an issue after following the updated instructions.

[2022-10-17 22:01] #12117 closed, assigned to nobody

[2022-10-18 01:31] trungnt2910 commented on #8186
What I'm talking about is specifically WASM on the _browser_, and I also believe that the OP meant the same when he opens this issue concerning Uno Platform libraries.

Did the TypeScript project generate [18000 lines](https://github.com/microsoft/TypeScript/blob/main/lib/lib.dom.d.ts/) just to surface an `alert` or two?
(I'm citing just the DOM library as functionality in the ES core libraries ar

[2022-10-18 02:22] erdembayar opened #12167 "Add integration tests dotnet list package json outputs"
Follow up on https://github.com/NuGet/NuGet.Client/pull/4855 and https://github.com/dotnet/sdk/pull/28564, https://github.com/dotnet/sdk/pull/29017

- Reminder for once above 2 PRs merged then need to 2-3 add integrations tests for error checking.
- Add test to verify args list, see [comment](https://github.com/NuGet/NuGet.Client/pull/4855#discussion_r1005008997)
~~- Address comment https://github

[2022-10-18 03:43] zivkan commented on #12154
Out of curiosity, what's a customer scenario where this is impacted?

[2022-10-18 05:33] PiterGoCompany commented on #12165
@nkolev92 today I'm out of office, so I'll try on Thursday.

[2022-10-18 07:13] emmenlau commented on #12136
@nkolev92 no, I think there is a misunderstanding here. Please read my description again.

Here is the short summary, for reference: The Linux and MacOS shared libraries are treated as second class citizens by NuGet, compared to Windows `dll`s. When I use Windows `dll`s in the `lib/{tfm}` folder, they are automatically and correctly deployed to the build folder of the downstream project. The same

[2022-10-18 07:32] hknielsen commented on #12146
Hi @nkolev92,
global.json looks at the SolutionPath first, and then ProjectPath second.
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/Microsoft.Build.NuGetSdkResolver/GlobalJsonReader.cs#L100

- So if the csproj is not rooted under the sln, the global.json is still applied.

nuget.config "Solution Scope" is not really Solution Scope, it seem like its working like Directory.Build.pr

[2022-10-18 07:48] markusschaber commented on #12149
Does this affect .NET Applications without SDK / NuGet (e. G. single file deployments, or framework independent deployments in a docker image, or "classic" .NET 4.8 applications)?
In other words: Is the issue present in applications build with a vulnerable NuGet version, or is the presence of such a NuGet exe necessary for the vulnerability?

[2022-10-18 08:32] goldnarms commented on #12162
I am able to reproduce this with VS for Mac 17.3.7 and 7.0.100-rc.2.22477.23.
I was able to go to the Updates tab after removing http-cache folder, but I still get
[code]
when restoring packages.

[2022-10-18 13:30] maksperovpm commented on #12084
We investigated the issue with Microsoft.Extensions.DependencyModel.dll
We ran restore command with additional flags `--verbosity diagnostic` and by the log we should have Microsoft.Extensions.DependencyModel 3.0.0 version, but after publishing project we get Microsoft.Extensions.DependencyModel, Version=2.1.0.0
We checked where in the system we can find this dll file after restore and publish and

[2022-10-18 14:30] ViktorHofer opened #12169 "dotnet pack does not respect target framework conditions"
**Issue opened by @paatrofimov and migrated over from https://github.com/dotnet/runtime/issues/77164**

### Description

I have multitargeted csproj and I want to build and pack only the single target but `dotnet pack` always ignores passed configuration and packs all targets.

### Reproduction Steps

[code]

The following command
`dotnet pack -c Netstandard20`
results in error
`C:\Program Files\d

[2022-10-18 14:35] ViktorHofer commented on #12169
This simplified code should work:

[code]

And then pass in the `PackTargetFramework` property when via the msbuild property syntax: `dotnet pack /p:PackTargetFramework=netstandard2.0`.

[2022-10-18 15:52] jwfx commented on #11871
Just tested this with the current dev branch (6.5) and it is not working either.

@zivkan
I don't really think the code you linked could actually work.

[This loop](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/Resources/PackageUpdateResource.cs#L75-L97
) here expects a path for every package, one for .nupkg and one for .snupkg. But the [command handler](https://gith

[2022-10-18 16:12] jackbond commented on #9384
Just received "Centrally defined floating package versions are not allowed." and found this thread. Based on the voting, it doesn't look like your decision to prevent this is a popular one. Any updates on this?

[2022-10-18 16:29] jeffkl commented on #12154
I think if you have bad XML in one NuGet.config and are doing a restore with multiple configs in the mix, you'll get an error about the bad NuGet.config during a different project which is confusing.  I only caught this in a unit test when fixing https://github.com/NuGet/Home/issues/12152

[2022-10-18 16:36] ocallesp opened #12170 "[Bug]: Incorrect restore in Visual Studio when a dependency to a C# project is flowed through a C++/CLI project"
### NuGet Product Used

MSBuild.exe

### Product Version

msbuild -v:m -t:Restore .\ProjectA\ProjectA.csproj

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

The original bug was reported in https://github.com/dotnet/project-system/issues/8381

------------------
## Visual Studio 2022 17.3 Preview

## Summary

The `project.assets.json` file is incomplete fo

[2022-10-18 17:13] AmithDotKota commented on #12075
We are having the issue as well, its random, but it fails most of the times.

[2022-10-18 18:54] nkolev92 commented on #12136
Can you please elaborate on this?

dlls are managed, CLR, they have exact same support on both platforms. NuGet is a transport vehicle that handles compatibility and that's handled the same on all platforms.

The shared libraries are really native libraries and the support there is also equivalent for windows/linux.

What would that look like in your opinion?
How would package be authored and what

[2022-10-18 20:01] zivkan commented on #11871
@jwfx we prioritize work based on a number of factors, [one of which is upvotes](https://github.com/NuGet/Home/blob/dev/Issue-Triage-Policy.md#up-voting-a-feature-requestbug). This issue doesn't have any upvotes yet, so might not have caught the eye of people triaging issues during sprint planning. This issue was created when it was my turn on the support rotation, and I just validated that the is

[2022-10-18 20:29] jwfx commented on #11871
Thank you for the update and for linking that document. Hitting this issue directly from a search engine, that policy totally went past me.

[2022-10-18 22:00] VemundH commented on #12159
I initially reported here: https://developercommunity.visualstudio.com/t/NuGet---race-condition-NuGetCommonMigr/10175710
Looks like the same issue

[2022-10-19 08:03] AraHaan commented on #11690
I just now tried it, and it did not work with ``dotnet build -c Release``. However, it did look like it did work in Visual Studio when it displays the reference.

[2022-10-19 08:23] emmenlau commented on #12136
What should just work is this:
 - I create a package layout where I put in `lib/{tfm}/`
   - on Windows, a number of native shared libraries (extension `dll`)
   - on Linux, a number of native shared libraries (extension `.so.X.Y.Z` where X,Y,Z are version numbers, and symbolic links exist from `.so.X.Y`, `.so.X` and `.so` to `.so.X.Y.Z`)
   - on MacOS, a number of native shared libraries (extensi

[2022-10-19 08:29] GGAlanSmithee commented on #9853
Has there been any progress on this?

[2022-10-19 10:38] jcoburn opened #12171 "dotnet add package has no way to specify that a version is a newer lower bound"
When a project contains a `<PackageReference />` with a version range, there's no way to tell `dotnet add package` that you want to update the lower bound version.

For example, if a project has:

[code]

And you run
[code]

The version range is replaced with whatever is specified at the command-line.  You can specify a new version range just fine:

[code]

Perhaps there should be a new command-li

[2022-10-19 13:04] elsand commented on #5473
This has bit me a couple of times as well. In my case using an expired API-key causes the push to fail with a 403 error. Refreshing the key and pushing again the same packaged causes a 409 error, indicating that the particular version has already been pushed.

I am now unable to push v2.1.0 of https://www.nuget.org/packages/Altinn.ApiClients.Dan because nuget.org claims it already exists, even tho

[2022-10-19 16:15] Nihlus commented on #11995
I'm also encountering this issue, and it's making the dotnet nuget tooling near completely unusable. What workaround did you find for the problem, save booting from a generic kernel?

[2022-10-19 17:10] jeffkl commented on #12128
@namerril Let me see if I understand the feature ask correctly.  You have a reference to `PackageA` which depends on `PackageB` `1.0.0`.  But you want to pin `PackageB` to version `2.0.0` so you enable central package management pinning and supply a `<PackageVersion Include="PackageB" Version="2.0.0" />`.

Now `PackageB` shows up as a direct dependency on your package since NuGet knows that you us

[2022-10-19 17:15] jeffkl commented on #12125
@DJackman123 I think the reason this is not available today is because what if someone pushes a new version of a "pinned" dependency which causes breaking issues but now your build is automatically upgrading since you have specified that you want any version greater than 13.0.1.

In my opinion, a system like dependabot is a better solution.  When a newer version of a package comes out, you get an

[2022-10-19 17:23] jeffkl commented on #12171
@jcoburn some of the details from your issue report seem to be missing, can you please update the description with more details so we can help out?

[2022-10-19 17:25] nathanmerrill commented on #12128
I'm not sure if I would say broadly say "metadata from PackageVersion does not flow".  There's other metadata on PackageVersion that could be useful.  However, pretty much everything else is accurate.

Adding `PrivateAssets="All"` on a PackageVersion is simply an idea of how this could work.  I think it makes sense (because it matches known behaviors).  However, the real end goal here is "Allow my

[2022-10-19 17:41] Killfrra commented on #11995
It's awkward and wild, but yes, booting with generic kernel

[2022-10-19 17:44] jcoburn commented on #12171
ok, don't know what happed, so let me start over and make sure everything is just text.

md PackageLibrary
cd PackageLibrary
dotnet new classlib -o LibraryA
dotnet add package Newtonsoft.Json --version 12.0.1
cd .\LibraryA\
dotnet add package Newtonsoft.Json --version 12.0.1

edit the LibraryA.csproj file
change
 <ItemGroup>
    <PackageReference Include="Newtonsoft.Json" Version="12.0.1" />
  </I

[2022-10-19 17:45] jcoburn commented on #12171
md PackageLibrary
cd PackageLibrary
dotnet new classlib -o LibraryA
dotnet add package Newtonsoft.Json --version 12.0.1
cd .\LibraryA\
dotnet add package Newtonsoft.Json --version 12.0.1

edit the LibraryA.csproj file
change
 <ItemGroup>
    <PackageReference Include="Newtonsoft.Json" Version="12.0.1" />
  </ItemGroup>

  to be
   <ItemGroup>
    <PackageReference Include="Newtonsoft.Json" Version

[2022-10-19 17:48] jcoburn commented on #12171
md PackageLibrary
cd PackageLibrary
dotnet new classlib -o LibraryA
dotnet add package Newtonsoft.Json --version 12.0.1
cd .\LibraryA\
dotnet add package Newtonsoft.Json --version 12.0.1

edit the LibraryA.csproj file
change
 ...Include="Newtonsoft.Json" Version="12.0.1" />

  to be
  ...Include="Newtonsoft.Json" Version="[12.0.1, 13.0.0)" />

  dotnet build
  next update to Newtonsoft.Json versio

[2022-10-19 17:49] jeffkl commented on #12128
Okay so the only way to currently do this is to pin it yourself by declaring PackageB as a top-level dependency:

[code]

We don't currently flow `PrivateAssets` from `PackageVersion` to `PackageReference` because that would apply to every project in the tree.  You'd need to do something fancy like

[code]

Adding the `<PackageReference />` item to the project in my opinion is more explicit.  It o

[2022-10-19 17:51] jeffkl commented on #12171
Great, thanks for the details, I'll update the title and description

[2022-10-19 17:51] nathanmerrill commented on #12128
For situations where I want this feature, I typically want it for the whole tree.  E.g. there's a security issue with a particular version, and I don't want to build against it, so the condition wouldn't make much sense.  If I really wanted it it for a single project, I'd just add the PackageVersion Update to the project itself.

[2022-10-19 17:55] jeffkl commented on #12171
@jcoburn  this seems to work:

[code]

If a version range is specified in the project but only a single version is specified at the command-line, dotnet add package currently overwrites what you have.  But if you specify a version range from the command-line, dotnet add package uses that.  I think we'd need new command-line arguments like `--minversion` so that you could tell `dotnet add package`

[2022-10-19 18:00] nathanmerrill commented on #12128
Actually, I'm unsure if PrivateAssets="All" makes sense here.  The primary argument against it is existing PackageReferences in other projects.  For example, consider:

[code]

This makes this confusing.  Is PackageB private in this project?  Ideally, the answer should be no:  It would only make it private for projects that didn't already declare the PackageReference.

Therefore, I think a separat

[2022-10-19 18:04] mmitche opened #12173 "[DCR]: NuGet should handle restore with many feeds differently"
### NuGet Product(s) Affected

NuGet.exe, MSBuild.exe, dotnet.exe

### Current Behavior

.NET uses NuGet heavily to construct the product. We're probably the biggest stress test of the NuGet client that there is. One way we stress the client is that our Nuget.config files tend to have quite a few feeds in them. This is because .NET cannot use public upstreams and unify the set of input feeds into

[2022-10-19 18:44] jcoburn commented on #12171
Thanks for the quick response.  Could not find that in any document :(

we need a --minversion

if Current is
 [12.0.1, 13.0.0)
then
dotnet add package Newtonsoft.Json --version 12.0.2
would generate  "[12.0.2, 13.0.0)"

we also need a --maxversion
f Current is
 [12.0.1, 13.0.0)
then
dotnet add package Newtonsoft.Json --version 13.0.1
would generate  "[13.0.1, 14.0.0)"

[2022-10-19 19:49] kartheekp-ms commented on #12090
This fix was released in .NET 7 SDK RC2 https://dotnet.microsoft.com/en-us/download/dotnet/7.0 and it applies only to `dotnet list package` command.

Are you experiencing similar issue for other NuGet operations such as restore? If yes, can you please create a new issue with some logs & repro steps.

[2022-10-19 20:44] kyleratti commented on #11949
@jeffkl Apologies, I am not sure I am following these instructions and getting the intended results:

/Directory.Packages.props
[code]

/MyProject/MyProject.fsproj
[code]

However, `msbuild.exe Project.sln /target:Restore` outputs:

[code]

[2022-10-19 21:35] dtivel opened #12175 "Test: .NET 7 SDK changes to signed package verification"
This issue is for testing recent .NET 7 (GA era) SDK changes.  For context see:

*  https://github.com/NuGet/Home/issues/12033
*  https://github.com/NuGet/Announcements/issues/64
*  https://github.com/NuGet/Engineering/issues/4602

On a preview build of .NET 7.0.100 SDK which contains at least https://github.com/dotnet/sdk/commit/7405d5569b57a5cb4ec62cadf255e8a18053d9c8, I verified the following p

[2022-10-19 21:35] #12175 closed, assigned to dtivel

[2022-10-19 21:41] dtivel commented on #12175
Summary:  results look good/expected.

[2022-10-20 05:12] sangwook96 commented on #12032
Hi
I am glad to see it here.
Recently, I got the same issue and my partner got the same issue.
When we update it to 17.4 preview 2.1 , it happens and there is still it in 17.4 preview 3 version, too.
Now, we could not develop our task in the 2022 preview version.
We think that we need the MS team's help.
Thanks

[2022-10-20 06:44] ChristianHaefner commented on #12032
Bad news, we hoped that the issue will be solved with 17.4, but we didn't tried it out until now.
Did you try the "workaround" with installing the VSIX provided here https://github.com/NuGet/Home/issues/12032#issuecomment-1233555901?

[2022-10-20 07:16] trdsolutions commented on #12153
@dominoFire You added the label "Triage:NeedsRepro". Is there anything more I can do (besides the given repository, I linked in the description)? Do you may know some workaround like a custom build task or something like this?

[2022-10-20 08:12] C-Wal commented on #4980
Personally I'd prefer to have an option that kept the last n number of versions downloaded of each package instead of simple date-based expiry.

[2022-10-20 08:19] dominoFire opened #12176 "Implement IDisposable pattern"
When working at https://github.com/NuGet/Home/issues/12116 ; I learnt that IDisposable pattern can be implemented all around NuGet Protocol code.

The goal of this issue is to analyze how can we implement IDisposable pattern and what are the cost and benefits of using this pattern in NuGet protocol code.

[2022-10-20 10:38] johnabroad42 commented on #1365
Hi i don't understand  about the  multiple  life

[2022-10-20 10:40] johnabroad42 commented on #1365
Since 2018 Until now  always i talk  but no body fixed

[2022-10-20 10:41] johnabroad42 commented on #1365
Every thing i report to fixed and help because  they dont want to help

[2022-10-20 17:43] jeffkl opened #12177 "[Bug]: Static graph-based restore fails with a NullReferenceException during SetPlatform negotiation"
### NuGet Product Used

MSBuild.exe

### Product Version

17.3

### Worked before?

17.2

### Impact

I'm unable to use this version

### Repro Steps & Context

1. Have a set of projects that use SetPlatform which is a new feature of MSBuild 17.3
2. Run restore with static graph enabled (`RestoreUseStaticGraphEvaluation`)
3. `NuGet.Build.Tasks.Console.exe` encounters an unhandled `NullReferenceExc

[2022-10-20 18:10] jeffkl commented on #12153
Related issue: https://github.com/NuGet/Home/issues/3891

[2022-10-20 18:12] jeffkl commented on #12153
Team triage: It looks like your custom build logic needs to place the resource assemblies for each culture in a subfolder because the warning indicates that each assembly is going to be placed in the same folder.

[2022-10-20 18:33] #12013 closed, assigned to nobody

[2022-10-20 18:33] jeffkl commented on #12015
Team triage: Take into account the upvotes on https://github.com/NuGet/Home/issues/12013

[2022-10-20 18:34] jeffkl commented on #4387
Related to https://github.com/NuGet/Home/issues/12015

[2022-10-20 18:39] michalkowal commented on #12015
+1

Same here as above - we have private NuGet feed in intranet.
Proposal with --insecure option looks great

[2022-10-20 19:11] arthurvb opened #12178 "[Bug]: If you run PackageSearchResource with parameter `null` as filter it will wait forever"
### NuGet Product Used

NuGet SDK

### Product Version

nuget.exe

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

Run the following code
[code]
it will run forever.

However the following code will execute correctly:
[code]

Even though the first code is false I would expect an error instead of running forever.

Thank you for your time and effort!

### Ver

[2022-10-20 20:10] nkolev92 commented on #12160
dev com issue.

[2022-10-20 20:32] trdsolutions commented on #12153
@jeffkl

This issue is regarding packing projectreferences along the package. I solved this as you can see in the csproj file by using this `PackReferencedProjectOutputs` build task

This is indeed the correct bugfixing and I think this will need some time, before this fix actually went live; so if you found some workaround (like this `PackReferencedProjectOutputs` thingy), I would be fine by usin

[2022-10-20 23:18] nkolev92 commented on #12171
@jcoburn Do you have any concern with @jeffkl's suggestion?

We can update the documentation both in the docs and dotnet.exe to indicate that version really means version range.

[2022-10-20 23:20] nkolev92 commented on #12153
Hey @trdsolutions

Given that you're custom packing the files, I'm not sure there's anything that the NuGet tooling would need to do here, and I'd like to close this issue.

Let us know if you disagree.

[2022-10-20 23:28] nkolev92 commented on #12173
If you have source mapping configuration, NuGet will not make remote calls to sources that do not have the mapping configured. Something to consider :)

As far as the rest goes, the algorithm could help reducing the 429. Hard to tell if overall perf changes one way or the other assuming say sources weren't responded with 429.

[2022-10-20 23:42] nkolev92 commented on #12084
Hey @maksperovpm

If I'm interpreting this correctly sounds like you were able to figure out the problem on your end?

Do you think there's anything NuGet specific leftover? Reading through it all, sounds like we don't really have anything actionable for the NuGet team.

[2022-10-21 00:47] #12116 closed, assigned to dominoFire

[2022-10-21 06:07] maksperovpm commented on #12084
Hi @nkolev92

I suppose No. For our case, the problem is in dotnet publish command.

Thanks.

[2022-10-21 06:07] #12084 closed, assigned to nobody

[2022-10-21 10:00] jcoburn commented on #12171
updating the documentation both in the docs and dotnet.exe to indicate that version really means version range is a GOOD idea.

What about new parameters for --minversion and --maxversion

[2022-10-21 10:52] jcoburn opened #12179 "[DCR]: Producing Multiple Related NuGet Packages from a Single Git Repo"
### NuGet Product(s) Affected

dotnet.exe

### Current Behavior

using data from
Producing Multiple Related NuGet Packages from a Single Git Repo
https://markheath.net/post/multiple-nuget-single-repo

md MultiPackageLibrary
cd MultiPackageLibrary
dotnet new classlib -o LibraryA
dotnet new classlib -o LibraryB
dotnet new solution
dotnet sln add LibraryA
dotnet sln add LibraryB
dotnet add LibraryA r

[2022-10-21 11:17] jcoburn opened #12180 "[Bug]: bad reference to page in docs"
### NuGet Product Used

Other/NA

### Product Version

dotnet ?

### Worked before?

no idea

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Step 1:  go to https://github.com/NuGet/docs.microsoft.com-nuget/blob/main/docs/create-packages/creating-a-package-dotnet-cli.md

click on link
You can control which assets to include through the IncludeAssets, ExcludeAssets a

[2022-10-21 12:27] zivkan commented on #12165
This seems related: https://github.com/dotnet/msbuild/issues/7873

[2022-10-21 14:42] ChristianHaefner commented on #12032
Hi Andy, as you already stated, your provided VSIX contained much more changed files than only `Nuget.Protocol.dll`.

Will it be possible to provide me only that DLL in two versions?
1. Your current version you're working on
2. Your current version you're working on with the WriteConsole calls you built in

With this I can try, if the issue still persists with your current version of only this spe

[2022-10-21 15:17] mmitche commented on #12173
I think the algorithm would actually integrate well with the existing package source mapping algorithm. feeds with a likelihood score of 0 (because the package source mapping says they shouldn't be restored from there) would simply get "0" connections to work with. Essentially, you'd never try them.

[2022-10-21 16:08] suehshtri commented on #8623
I ran into this with a .netStandard2.0 library wrapping native code and to be used by an app that will be migrated slowly over time from .Net Framework to .Net 6.  I wanted to retain support for 32-bit but lean towards 64-bit.  So far I count 3 axes: platform, architecture, .net/framework/core/standard.

[2022-10-21 17:55] nkolev92 commented on #12171
@jcoburn

We're happy to consider new options like that assuming there's enough community feedback.

Personally, I'm not sure `--version --minversion 13.0.1` is any simpler `--version [13.0,1,14.0.0)` .
I'd argue it's a bit more complicated, as it's not very intuitive.

[2022-10-21 17:57] #9022 closed, assigned to martinrrm

[2022-10-21 18:47] trdsolutions commented on #12153
Hello @nkolev92,

sorry, I misunderstood something in the first place, but in the end, I actually look for a way to make this custom packaging possible. But I just do not know how. Even in the issue (@jeffkl linked) #3891 I found no answer.
Can you give me some advice in here? It would be also beneficial for others who might come up to this issue in the future.

I mean, I know, that I could just f

[2022-10-21 20:48] zivkan commented on #12153
I don't know the solution (i hate msbuild, since it's a programming langauge it has so much complexity, but simultaneously makes it so hard to debug and read code to understand how feature work). Anyway, when I clone your repo and I pack Translations.csproj, it packs the satellite assemblies just fine. This means the issue is with the custom script to have multiple projects outputs in the same nup

[2022-10-21 20:52] nkolev92 commented on #12178
Hey @arthurvb
Thanks for filing the issue. Unfortunately I can't repro.

In the first case, I'm getting an NRE,

[code]

My test case is
[code]

What kind of feed are you using?

[code]

All of the 3 tests had an NRE.

[2022-10-21 21:55] #12157 closed, assigned to heng-liu

[2022-10-21 22:26] ericstj commented on #10860
Another place this came up:
https://github.com/dotnet/machinelearning/blob/1903fa5eda154f0227d9490d961a828d8fd493b5/src/Microsoft.ML/Microsoft.ML.csproj#L5-L9

Essentially there is no way for a package to provide symbols unless it also specifies IncludeBuildOutput=true.

This is because the only item which nuget treats as symbols is `_TargetPathsToSymbols`
https://github.com/NuGet/NuGet.Client/blo

[2022-10-21 23:01] dominoFire opened #12181 "Environment variable `NUGET_CLI_LANGUAGE` to control language of nuget.exe command output"
To ease localization testing, a new environment variable `NUGET_CLI_LANGUAGE` is proposed.

This variable is inspired by `DOTNET_CLI_UI_LANGUAGE` in `dotnet.exe`.

Setting this variable to a valid CultureInfo name, such as `en-US` or `fr-FR`, it will set that cultureInfo as the default to all threads running in nuget.exe; this will cause changing the language of all output messages of `nuget.exe`.

[2022-10-21 23:07] dominoFire commented on #12181
I need this change to ease end-to-end testing of nuget.exe and dotnet.exe in our CI build.

[2022-10-21 23:08] dominoFire commented on #12181
@JonDouglas If you have suggestions on the environment variable name, please LMK

[2022-10-21 23:10] nkolev92 commented on #12153
You'd basically have to use some of the metadata when you add the BuildOutputInPackage item,

![image](https://user-images.githubusercontent.com/2878341/197299823-0a3f93a4-4a28-4496-9b54-750f43412bcc.png)

DestinationSubDirectory is one of them.

You can set the `TargetPath` property to direct the exact file path.

[2022-10-21 23:10] #12153 closed, assigned to nobody

[2022-10-22 00:02] nkolev92 commented on #12179
Dup of https://github.com/NuGet/Home/issues/5556.

There are some workarounds available.

[2022-10-22 00:02] #12179 closed, assigned to nobody

[2022-10-22 00:17] nkolev92 commented on #12170
Hey @joeltankam,

While we work on figuring out our action here, I'd recommend keeping the <ProjectId> workaround for the time being.
You should usually be able to find the IDs in the solution file.

*Why did this break?*

In 17.3, NuGet switched from one set of project-system APIs to a different one. The original APIs being used in 16.x, 17.0-17.2 were causing performance problems. In 17.3 we sta

[2022-10-22 18:02] HalaSaleh-t969344 commented on #1638
install latest nugget package help me solve this issue
https://www.nuget.org/downloads

[2022-10-22 18:38] trdsolutions commented on #12153
Thanks for the information. I hope some day, someone comes around with the same issue and actually know how to solve it, because I don't know msbuild enough to actually use the information to fix it.

[2022-10-24 01:49] pedoc commented on #12015
Yes, we would also like to be able to disable this feature in the global config file (or local Nuget.config)

[2022-10-24 08:39] v-longmin opened #12182 "[Bug]: The scroll bar is not located at the top of package list in “Browse” and “Updates” tab of PM UI by default"
### NuGet Product Used

PM UI

### Product Version

NuGet Client Dev\6.5.0.35

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

#### Repro Steps:
1. Create a C# Console App (.Net core) project.
2. Right-click the project in Solution Explorer and select "Manage NuGet Packages…" menu item to open PM UI.
3. Go to "Browse" tab and observe th

[2022-10-24 08:49] mhsimkin commented on #12015
Also, **this needs to be configurable not only at the command line, but in nuget.config**.  All our projects have a config file. That was easier than configuring Visual Studio. This also allows developers to move between projects/teams that might use different feeds on our internal package server.

[2022-10-24 11:59] arthurvb commented on #12178
Dear @nkolev92,

Thank you for your quick and thorough reply. Upon re-inspection, I believe the issue may have been caused by trying to call the methods from a WPF app with `.Result`, which can result in a deadlock. When I made the method asynchronous, I forgot to add error-handling, so the breakpoint after the method was not hit and I incorrectly assumed that the method was still executing.

I ho

[2022-10-24 13:39] irm-phoudek opened #12183 "Powershell Install-Package: Dependency loop detected for package 'MailKit'."
### NuGet Product Used

I don't know. NuGet via PowerShell "Install-Package" function

### Product Version

PowerShell 7.1.3

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

When I try to install "MailKit" Package in Powershell via:
`Install-Package -Name MailKit -Force -Source "https://www.nuget.org/api/v2"`
I receivce this error:
[code]

[2022-10-24 16:29] TheXenocide commented on #8186
Correct me if I'm wrong, but WASM is a *runtime* implementation designed to support the same IL as the current windows/linux/etc. runtimes. The TFM is about "non-native" reference contracts (in quotes because there are runtime-specific implementations of those libraries), so netcoreapp3.1, net5, net6, etc. are essentially API levels of common behavior expectations and win10, xamarinios10, monoandr

[2022-10-24 17:23] nkolev92 commented on #12182
Dup of https://github.com/NuGet/Home/issues/12160

[2022-10-24 17:23] #12182 closed, assigned to nobody

[2022-10-24 17:25] nkolev92 commented on #12178
Thanks for following up @arthurvb

Closing this issue.

[2022-10-24 17:25] #12178 closed, assigned to nobody

[2022-10-24 18:08] TheXenocide commented on #8186
Side note, it does appear that [runtime.json](https://github.com/dotnet/runtime/blob/main/src/libraries/Microsoft.NETCore.Platforms/src/runtime.json) have both browser and browser-wasm definitions (with an import from browser-wasm to browser), so I'm assuming there's some magic string behavior regarding the net6-browser "TFM" which is actually a TFM+RID? It might be helpful to update documentation

[2022-10-24 18:18] #12159 closed, assigned to kartheekp-ms

[2022-10-24 19:44] donnie-msft opened #12184 "[Bug]: Versions_SelectionChanged throws NullReferenceException when changing selected package"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

17.5 Preview 1.0 33023.41.main

### Worked before?

_No response_

### Impact

Other

### Repro Steps & Context

I don't see any direct customer impact from this, but when changing selected version, the debugger shows exceptions being thrown from `Versions_SelectionChanged` due to `null` value in the AddedItem[0] ele

[2022-10-24 19:44] donnie-msft commented on #12184
/cc @martinrrm - could you help with triage?

[2022-10-24 22:13] dominoFire commented on #12184
Dupe of https://github.com/NuGet/Client.Engineering/issues/1912

[2022-10-24 23:02] jebriede commented on #12184
In addition to handling the null value for AddedItems, we should use AddedItems.Any() instead of AddedItems.Count > 0;

[2022-10-24 23:08] zivkan commented on #12184
@jebriede I disagree. `AddedItems.Count > 0` is zero allocation, where as `AddedItems.Any()` is LINQ and therefore creates an enumerator which is non-zero allocation (although due to `System.Collections.Generic.List<T>`'s implementation it's a stack allocation, not a heap allocation. But that's only one data type)

[2022-10-24 23:19] jebriede commented on #12184
@zivkan, you're right, thanks for catching that. I made my comment thinking of a different scenario. In this case, it's referencing the property Count on an IList which is indeed more efficient than using Any().

[2022-10-25 14:55] mrbaley commented on #8120
This can also happen when a ([very slow] corporate) firewall scans the packages and needs more than 100000ms for that.

[2022-10-25 16:48] Nihlus commented on #11995
That's a shame. I was hoping there was some other workaround.

[2022-10-25 17:52] #5375 closed, assigned to nkolev92

[2022-10-25 18:32] donnie-msft opened #12185 "Unskip failing E2E tests - PackageSourceMappingRestore-WithMultipleFeedsWithIdenticalPackages-RestoresCorrectPackage and 8 other tests have issues in 6.4.0.288"
_(Duped from https://github.com/NuGet/Client.Engineering/issues/1826)_

Tests Skipped due to https://github.com/NuGet/Home/issues/12054

At the time of skipping (see issue), the error was:

[2022-10-25 19:21] donnie-msft opened #12186 "Re-enable package signature tests that were disabled for dotnet test work"
_(Duped from https://github.com/NuGet/Client.Engineering/issues/1484)_

As part of https://github.com/NuGet/Client.Engineering/issues/659, I had to disable some package signing tests because they fail intermittently when migrating to dotnet test.

[2022-10-25 19:21] julealgon commented on #5375
@nkolev92 can you let us know when this will become available for use? Will it be included as part of the next VS update?

I'm explicitly asking here since the "Releases" section in this repository is unreliable and can't be used for notification purposes (last published release there was several years ago and does not correspond with actual latest).

[2022-10-25 19:33] TheXenocide commented on #8186
Those sound like runtime features to me (they even have runtime in the namespace). Perhaps there are use cases I'm not familiar with for libraries that don't intend to be cross-platform; I'm mostly concerned with the complexities of authoring cross-platform libraries myself (like a .NET 6/7/8 library that supports both client-side blazor, server-side blazor, MAUI on Android, MAUI on iOS, etc. with

[2022-10-25 20:01] nkolev92 commented on #5375
@julealgon

We'll update the milestone, but it'll for sure VS 17.5, .NET SDK 7.0.200 and NuGet.exe 6.5, which all ship next year.

The release notes always contain the exact list of changes within a release: https://learn.microsoft.com/en-us/nuget/release-notes/.

[2022-10-25 20:24] donnie-msft opened #12187 "Improve the dotnet patching in cross framework verify tests"
_(Duped from https://github.com/NuGet/Client.Engineering/issues/1094)_

This is a follow-up issue from comment https://github.com/NuGet/NuGet.Client/pull/4143#discussion_r675901628
I use hardcoded version when patching dotnet.exe in cross framework verify tests for full framework code path.
It needs to be changed when there is any version change.
Try to find a way to avoid hard coding when the ver

[2022-10-25 23:09] erdembayar opened #12188 "Skip failing tests from official pipeline to reduce CI test flakiness"
Related to https://github.com/NuGet/Client.Engineering/issues/1377
According to CI pipeline [failed/flaky test report](https://github.com/NuGet/Entropy/pull/94) following tests both failed in official pipeline and private pipeline in last 30 days (9/25/2022-10/25/2022).

Official pipeline: [FailedTestsReport-OfficialBranch-2022-10-24.xlsx](https://github.com/NuGet/Home/files/9864590/FailedTestsRep

[2022-10-26 00:03] erdembayar opened #12189 "Test E2E tests - BuildIntegratedLockFileIsCreatedOnBuild is flaky"
According to CI pipeline [failed/flaky test report](https://github.com/NuGet/Entropy/pull/94) in last 30 days `BuildIntegratedLockFileIsCreatedOnBuild` test failed 7 times on official pipeline and 31 times on private pipeline.

1. Official pipeline: [FailedTestsReport-OfficialBranch-2022-10-24.xlsx](https://github.com/NuGet/Home/files/9864590/FailedTestsReport-OfficialBranch-2022-10-24.xlsx)
2. Pr

[2022-10-26 01:13] erdembayar opened #12190 "Test E2E tests - PushCommand_PushToServerBasicAuthDisableBuffering is flaky"
`PushCommand_PushToServerBasicAuthDisableBuffering` test failed 2 times on official pipeline (see above file) and 5 times on private pipeline.

Official pipeline: [FailedTestsReport-OfficialBranch-2022-10-24.xlsx](https://github.com/NuGet/Home/files/9864590/FailedTestsReport-OfficialBranch-2022-10-24.xlsx)

![image](https://user-images.githubusercontent.com/8766776/197910638-f5f188f5-06e3-44b7-982

[2022-10-26 01:21] erdembayar opened #12191 "Test HttpRetryHandler_HandlesNameResolutionFailure is flaky"
According to CI pipeline [failed/flaky test report](https://github.com/NuGet/Entropy/pull/94) in last 30 days `HttpRetryHandler_HandlesNameResolutionFailure` test failed 1 time on official pipeline and 10 times on private pipeline.

1. Official pipeline: [FailedTestsReport-OfficialBranch-2022-10-24.xlsx](https://github.com/NuGet/Home/files/9864590/FailedTestsReport-OfficialBranch-2022-10-24.xlsx)

[2022-10-26 10:59] loop-evgeny commented on #11926
This would really make the vulnerability scanning feature so much more useful! Right now we have to ignore a lot of false positives and this inevitably promotes complacency: "ah, it's just that vulnerability check failing as usual - ignore that".

[2022-10-26 10:59] loop-evgeny commented on #11926
Can I contribute some code to help make this happen?

[2022-10-26 14:42] AlekseyMartynov opened #12192 "[Bug]: StackOverflowException in InstallPackagesFromVSExtensionRepository"
### NuGet Product Used

NuGet SDK

### Product Version

NuGet.VisualStudio.Implementation after https://github.com/NuGet/NuGet.Client/pull/4340

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

[code]

https://github.com/NuGet/NuGet.Client/blob/6.5.0.36/src/NuGet.Clients/NuGet.VisualStudio.Implementation/Extensibility/VsPackageInstaller.cs#L

[2022-10-26 14:51] LumioseSil opened #12193 "Simplification of Linq Any method for performance improvement"
### NuGet Product(s) Affected

NuGet.exe

### Current Behavior

The program calls .Where() with a predicate and then uses Any to filter it out

### Desired Behavior

It should call Any directly, which would improve performance.

### Additional Context

_No response_

[2022-10-26 16:09] #12193 closed, assigned to AZero13

[2022-10-26 18:05] trungnt2910 commented on #8186
So [this library](https://github.com/dotnet/winforms), which is simply an OOP wrapper against a bunch of [methods decorated with "Runtime" feature attributes](https://github.com/dotnet/winforms/blob/81774abbcbb885fe906f1c0f813e8175eef8705c/src/System.Windows.Forms.Primitives/src/Interop/), a remnant of the "dark ages" is currently one of the things that are behind the "overly complex" `net6.0-wind

[2022-10-26 20:06] mmxgn commented on #8169
Worked for Fedora 37 Silverblue for me. You have first to enter a toolbox and then  follow @will-crawford 's solution.

[2022-10-26 21:10] #8803 closed, assigned to zivkan

[2022-10-26 22:47] kartheekp-ms commented on #12162
This issue doesn't seem to be versions specific because similar issue was discussed for .NET 5 SDK, VS Code on Mac https://stackoverflow.com/a/73270919

[2022-10-27 00:01] #12154 closed, assigned to jeffkl

[2022-10-27 01:42] erdembayar commented on #12189
It looks it's no longer issue.

[2022-10-27 01:42] #12189 closed, assigned to nobody

[2022-10-27 01:48] erdembayar opened #12194 "Flaky test PackCommand_PackConsoleAppWithRID_NupkgValid"
According to CI pipeline [failed/flaky test report](https://github.com/NuGet/Entropy/pull/94) in last 30 days `PackCommand_PackConsoleAppWithRID_NupkgValid` test failed 1 time on official pipeline and 6 times on private pipeline.

1. Official pipeline: [FailedTestsReport-OfficialBranch-2022-10-24.xlsx](https://github.com/NuGet/Home/files/9864590/FailedTestsReport-OfficialBranch-2022-10-24.xlsx)
2.

[2022-10-27 03:28] AmithDotKota commented on #12075
@mkothapalli418 Are you able to figure what's happening for your use case?

[2022-10-27 05:28] JustinGrote opened #12195 "[Bug]: SearchAsync against v2 endpoints has artificial internal delay"
When Running SearchAsync against v2 endpoints, there's some kind of artificial delay before the search query actually goes out. At first I thought this was the /api/v2 endpoint query, but that doesn't happen at the point of search, and a retry with fiddler traces confirms it. Other providers like GetAllVersions work fine and don't have this strange artificial delay.

I am working against the Power

[2022-10-27 06:12] chucklu opened #12196 "[Bug]: Can not recognize Password start with symbol @"
### NuGet Product Used

NuGet SDK

### Product Version

NuGet Version: 5.10.0.7240

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

https://learn.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-sources

update the nuget source with user name and password
1.add it successfully
nuget sources add -name foo.bar -source C:\NuGet\local

[2022-10-27 06:19] chucklu commented on #12196
I also tried add back slash,

but the response status code does not indicate success: 401 (Unauthorized).

Is there any way I can check the verbose log?

[2022-10-27 10:51] Azizxon commented on #12196
Did you try verbosity?
` -Verbosity [normal|quiet|detailed]`

[2022-10-27 12:13] v-luzh opened #12197 "[Bug Bash] Invalid package pattern can be added successfully into the “Package Source Mapping” list"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.5.0.43

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context
#### Details about the problem
VS Version: Main\33026.144
NuGet Version: Dev\6.5.0.43
OS Version: Windows-11-Enterprise-21H2 ENU

#### Repro Steps:
1.	Open VS, click menu File->New Project, creat

[2022-10-27 14:39] ilyas1974 commented on #12173
@nkolev92 is there any update on this? This has been hitting us pretty hard the last few days (see [(https://github.com/dotnet/arcade/issues/10885)](https://github.com/dotnet/arcade/issues/10885) for details on impact to our team in the 24 hours.

[2022-10-27 15:15] #12177 closed, assigned to jeffkl

[2022-10-27 17:38] erdembayar commented on #11926
Yes, you can make contributions. First you need to create a design spec where we can discuss what problem it's solving and how to solve it. Fyi I'm working on [related issue](https://github.com/NuGet/Home/pull/11983), probably you can parse the json output and ignore some CVEs using bash/powershell scripts.

[2022-10-27 17:41] bordecal commented on #11315
This would be helpful for the `--deprecated` and `--outdated` options as well.

[2022-10-27 18:01] erdembayar commented on #12196
Looks like dup of https://github.com/NuGet/Home/issues/7707. Please upvote the https://github.com/NuGet/Home/issues/7707 issue for visibility.

[2022-10-27 18:20] nkolev92 commented on #12173
@ilyas1974

This isn't a straightforward change at all. We haven't investigated this it at this point.

[2022-10-27 18:42] ericstj commented on #11818
@jeffkl can this be closed now or did it not make it in?

[2022-10-27 19:40] AmithDotKota commented on #12075
May be it would be the same issue on our side too. We are using Artifactory to connect to nuget.org as well for internal and external packages. How did you separate out the Nuget.Config to look for a specific url based on the package ? Did I get that right ?

[2022-10-27 20:33] erdembayar commented on #12025
@NuGet/nuget-client
Should we close this one? We serviced release branches too.

[2022-10-27 21:08] jeffkl commented on #11818
Unfortunately this turned out to be a lot harder than it sounded.  Basically NuGet's graph resolution algorithm takes in all of the inputs and walks the package sources to get the entire tree.  Then the tree is then trimmed and eclipsed versions are removed.  The versions of packages you specify are only passed to the code that walks the dependencies and the code that trims the tree is not current

[2022-10-27 22:08] #12152 closed, assigned to jeffkl

[2022-10-27 23:57] silkfire commented on #6437
Is there the inverse of this command? How does one go about *removing* an API key programmatically? From a security perspective it would be good for credentials not to linger longer than necessary after they’re no longer needed.

[2022-10-28 00:08] AraHaan commented on #6437
I think it stores a local copy of it yes.

[2022-10-28 05:44] #12025 closed, assigned to zivkan

[2022-10-28 06:44] zivkan commented on #12190
@erdembayar can you please copy-paste test failure information. Was an exception thrown? What was the exception message and stack trace?

[2022-10-28 06:45] zivkan commented on #12194
@erdembayar can you please copy-paste test failure information. Was an exception thrown? What was the exception message and stack trace?

[2022-10-28 06:45] zivkan commented on #12191
@erdembayar can you please copy-paste test failure information. Was an exception thrown? What was the exception message and stack trace?

[2022-10-28 08:59] edenroz commented on #12015
+1

We also have a private CI/CD that would break

[2022-10-28 09:06] omatrot commented on #9222
Using dotnet restore will work, but later on MSBuild will fail as per @softlion [comment](https://github.com/NuGet/Home/issues/9222#issuecomment-958785687) about hardcoded paths in the source code. This is incredible that is issue is not resolved yet.

[2022-10-28 10:30] viceice commented on #5553
Would be nice to have the `dependencyVersion `[^1] option again, so every body can decide which updated to get

[^1]: https://learn.microsoft.com/en-us/nuget/reference/nuget-config-file#config-section

[2022-10-28 16:13] erdembayar commented on #12194
Added stack trace, looks like `503` error from internal hosting causing this.

[2022-10-28 16:24] erdembayar commented on #12191
Added failure information, not much useful details here, probably need logging here.

[2022-10-28 16:41] #12188 closed, assigned to erdembayar

[2022-10-28 19:04] zivkan commented on #12191
There is useful information. It tells us that there may be more than one "mode" (exception message) for DNS resolution failures. At least on our CI agents. But many customers use Azure DevOps for their CI as well, so they might experience the same exception messages.

[2022-10-28 20:13] aortiz-msft commented on #12173
@zivkan  - Would you please help understand the customer scenario and explore options to mitigate the throttling issues?

[2022-10-28 20:35] vsfeedback opened #12202 "Multi "TargetFrameworks" and multiple <AssemblyName conditioned elements does not create project.assets.json file properly"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Multi-TargetFrameworks-and-multiple-A/10151923)._

---
[severity:It's more difficult to complete my work]
System:
Windows 11 Enterprise, Version 21H2 (Build 22000.795)
Visual Studio 2022 (Version 17.3.4)
Project: Class Library, DotNet 6.0
No Nuget packages used

I'm trying to target both

[2022-10-28 23:10] jebriede commented on #12202
Duplicate of: https://github.com/NuGet/Home/issues/7016

[2022-10-28 23:10] #12202 closed, assigned to nobody

[2022-10-28 23:33] jebriede commented on #12196
Closing as duplicate as reported here: https://github.com/NuGet/Home/issues/12196#issuecomment-1293881553

[2022-10-28 23:33] #12196 closed, assigned to nobody

[2022-10-29 00:16] zivkan commented on #12032
A vsix is just a zip file with a different extension, so you can open it with your favorite zip program.  However, the Console.WriteLines in that previous version turn out to be not helpful. Also, I'm not really sure it will work to copy just that 1 dll, because of assembly strong names and assembly binding.

Here's another vsix, with hopefully more useful logging, but also includes all the securi

[2022-10-29 02:11] chucklu commented on #12196
reported here https://github.com/NuGet/Home/issues/7707

[2022-10-29 02:12] chucklu commented on #12196
regression issue for https://github.com/NuGet/NuGet.Client/pull/3822

[2022-10-29 02:36] chucklu commented on #7707
[brann0n](https://github.com/brann0n) try to fix this here, and did not pass the code review
https://github.com/NuGet/NuGet.Client/pull/3822#issuecomment-827411060

[2022-10-29 14:00] gh-andre opened #12203 "Nuget package console fails to install packages for projects in the same directory"
### NuGet Product Used

Visual Studio Package Manager Console

### Product Version

Visual Studio 2022 x64

### Worked before?

don't know

### Impact

I'm unable to use this version

### Repro Steps & Context

Use the provided sample solution that has two .vcxproj files in the same directory as the solution - `proj-A.vcxproj` and `proj-B.vcxproj`. Install a Nuget package into `proj-A` via Nuget p

[2022-10-29 14:21] gh-andre opened #12204 "Please provide capability in Nuget CLI to add packages into projects"
### NuGet Product(s) Involved

NuGet.exe

### The Elevator Pitch

`nuget.exe` is missing a chunk of package management functionality in that can download and unpack packages with `nuget install`, but it won't modify C/C++ project files, which makes it impossible to automate adding packages to generated projects, such as those generated by CMake.

Please provide a way to invoke `nuget install` in a

[2022-10-30 06:52] amir4q opened #12205 "nt"
### NuGet Product(s) Involved

NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console, MSBuild.exe, dotnet.exe, NuGet SDK, Other/NA

### The Elevator Pitch

ad

### Additional Context and Details

ad

[2022-10-30 17:46] ChristianHaefner commented on #12032
Hi Andy, I'm in vacation until 11/11 and get back to you after that. Thanks for your help!

[2022-10-31 19:38] kartheekp-ms commented on #12062
This issue has been fixed by VS Credential Provider team in a private repository. Hence closing this one.

[2022-10-31 19:38] #12062 closed, assigned to nobody

[2022-10-31 20:15] kartheekp-ms commented on #7814
@acangialosi - Sorry for the direct ping on this old thread. Recently we closed https://github.com/NuGet/Home/issues/11581 and I found this one searching for issues with label `Authentication`. The new sign in prompt for NuGet authentication to private Azure DevOps feeds now displays `NuGet {feedname} needs your credentials` text to help customers to pick the correct account for authentication. In

[2022-10-31 21:23] vritant24 opened #12207 "when net*-windows is specified in a nuspec, nuget pack fails with NU1012"
### NuGet Product Used

MSBuild.exe

### Product Version

msbuild, visualstudio

### Worked before?

no

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

When creating a nuspec for a package that includes support for `net6.0-windows`, pack fails with [NU1012](https://learn.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu1012).
1. The page doesn't clearly specify

[2022-10-31 21:47] jeffkl opened #12208 "SettingsLoadingContext can throw an exception when multiple threads are loading settings files concurrently"
### NuGet Product Used

MSBuild.exe

### Product Version

6.5

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

In https://github.com/NuGet/NuGet.Client/pull/4852 I changed `SettingsLoadingContext` to use a simple `lock()` and `Dictionary` but have started to notice a few places where `Dictionary<TKey, TValue>.TryGetValue()` is throwing an `ArgumentNullExcep

[2022-10-31 23:40] nkolev92 commented on #12207
Hey @vritant24

Are you maybe hitting something closer to scenario 2: https://learn.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu1012#scenario-2.

If you go a few comments down, you'll notice: https://github.com/dotnet/sdk/issues/14553#issuecomment-737530880.

Basically, you are *always* required to have a platform version.

Declaring `net6.0-windows` in the project file is appropriat

[2022-10-31 23:52] nkolev92 opened #13482 "Document NuGet Code: NU1013"
The NuGet Code exists in the product, but there is no documentation available

[2022-11-01 07:16] #12192 closed, assigned to zivkan

[2022-11-01 09:34] John0King opened #12209 "Support Xdt on `<PackageReference />`"
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

package.config support `web.config.install.xdt`  and now  `<PackageReference />` loss this feature

### Additional Context and Details

I know that there no much that the xml file in the new `.Net` web project ,   but  there still a  `web.config`  in asp.net core web project,  and the `PackageReference`  is also be used in old proj

[2022-11-01 15:55] erdembayar opened #12210 "Json output localization"
### NuGet Product Used
dotnet.exe

### Repro Steps & Context

Follow up on [comment](https://github.com/NuGet/NuGet.Client/pull/4855#discussion_r1009977670
).   It's more important for problems>>security section.
If it's localized, then json processing should be aware of localization. Let's say we filter for `Error` or `Critical` then if it's in different languages may not notice there was an `err

[2022-11-01 18:55] dominoFire commented on #12210
If this is a category name or value, we can leave it unlocalized and "treat it as an enumeration".

[2022-11-02 01:24] nkolev92 commented on #12210
I agree. In fact we should leave it unlocalized.
An example of that is the item `PackageReference`.  You shouldn't need a different parser depending on your culture.

[2022-11-02 08:50] cliffchapmanrbx commented on #12159
Thanks for getting this fixed! Our team just ran into it as well. Is there a good place to set up a notification for when this ships? Or a particular dotnet SDK version it'll end up in we can watch out for?

[2022-11-02 16:50] kabua opened #12211 "VS 2022 - Unable to satisfy conflicting requests for the same version"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

VS Pro 2022 version 17.3.4

### Worked before?

It did work in an earlier version VS2022 but don't remember which one.

### Impact

I'm unable to use this version

### Repro Steps & Context

**Back Ground**
We expose our internal frameworks as NuGet packages to our development teams. But debugging these frameworks as

[2022-11-02 19:02] ardalis commented on #1365
@IanKemp No such switch for nuget or for dotnet.

![image](https://user-images.githubusercontent.com/782127/199578884-32a4c821-f1d2-48c7-bb68-f5d9449d6e8b.png)

[2022-11-03 08:00] LMP-Ryan commented on #12015
+1

As many others have said, we run our own internal server for distributing library packages amongst the development team. The server is only available via the local LAN or VPN connection and isn't exposed to the wider internet.

Support for some form of override to continue to use a http connection would be fantastic.

[2022-11-03 17:04] jeffkl opened #12212 "A PackageDownload without a version causes a NullReferenceException"
### NuGet Product Used

dotnet.exe, MSBuild.exe

### Product Version

All

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Add a `<PackageDownload />` item with no version
2. Restore from the command-line
3. Get error

[code]

Sample project:
[code]

The exception is thrown here:
https://github.com/NuGet/NuGet.Client/blob/9f4941056c6

[2022-11-03 17:57] nkolev92 commented on #5865
This has been changed.

We have a bunch of things that make this change not needed anymore.

- Nomination protocol is now a 2-way conversation, where NuGet knows when nominations are in progress.
- IVsNuGetProjectUpdate allows other components to wait for a restore to complete.
- Operation Progress APIs allow components to wait for the intellisense stage (DTB, restore, DTB) to complete.

[2022-11-03 17:57] #5865 closed, assigned to nobody

[2022-11-03 18:25] jeffkl commented on #12197
Team Triage: /cc @donnie-msft

[2022-11-03 18:31] jeffkl commented on #12195
@JustinGrote You're the first person to report this issue, can you provide more information about what exactly you're claiming?  If you're able to debug our code locally that might be helpful as well.  We don't believe there is any artificial delay in our code.

[2022-11-03 18:37] nkolev92 commented on #12205
Closing as the issue is incomplete.

[2022-11-03 18:37] #12205 closed, assigned to nobody

[2022-11-03 19:44] zivkan commented on #12195
@jeffkl I think this statement sums it up:

This from the log shows that it entered a retry:

But it never made an HTTP request **before** going into this "retry" state. Therefore, there's a 1 second delay before sending the first HTTP request.

Here's a console app that reproduces the isse. Add a package reference to NuGet.Protocol:

[code]

[2022-11-03 19:53] #12208 closed, assigned to jeffkl

[2022-11-03 19:54] jeffkl commented on #12195
Thanks @zivkan

It look like this code sets `IsRetry = true` if you're not using a `SourceCacheContext`

https://github.com/NuGet/NuGet.Client/blob/9f4941056c6b10c4f8c42bf680bbe8ce7316fa2b/src/NuGet.Core/NuGet.Protocol/LegacyFeed/V2FeedParser.cs#L592

Which causes the EnhancedRetry to delay

https://github.com/NuGet/NuGet.Client/blob/9f4941056c6b10c4f8c42bf680bbe8ce7316fa2b/src/NuGet.Core/NuGet.Pr

[2022-11-03 21:37] zivkan commented on #1365
@ardalis that command line argument only works for `nuget.exe pack`, which only supports packages.config.  For projects using PackageReference (and therefore msbuild pack), you can use NoWarn NU5104:

[code]

[2022-11-03 23:55] zivkan commented on #12032
Another idea is to try setting `protocolVersion="2"`, because in theory that should force at least one or two places in the code to assume HTTP, rather than trying to detect http vs local: https://learn.microsoft.com/en-us/nuget/reference/nuget-config-file#packagesources

Also, perhaps you could restoring with nuget.exe, to see if that makes a difference?  The problem with nuget.exe is that it doe

[2022-11-04 06:35] hassanshamshir commented on #2880
What will be in case of Dockerfile for window image?

[2022-11-04 06:39] hassanshamshir commented on #2880
I am getting the following error while running MVC .Net Framework application while building docker images by using Dockerfile.

[2022-11-04 07:50] bstordrup opened #12213 "Getting config values"
### NuGet Product(s) Involved

NuGet.exe

### The Elevator Pitch

When I issue a `nuget config` command in a repository, I don't get any information. And if I specify `-Verbosity detailed`, then I only get the version number of the nuget.exe executed.

It would be nice to have `nuget config` list the current configuration values as being evaluated from the various config files, and if `-Verbosity

[2022-11-04 08:01] dburriss commented on #7752
Awesome to see the progress on this @erdembayar !
Will this be assigned to a milestone at any point? I have a usecase and I was going to parse the text but if it is feasible to wait for this to ship I would prefer that.

[2022-11-04 15:24] #7752 closed, assigned to erdembayar

[2022-11-04 15:29] erdembayar commented on #7752
I just merged the [PR](https://github.com/NuGet/NuGet.Client/pull/4855) for json output, in that PR I refactored the coupled code to MVC style code so next time someone can add `yaml`,`xml` outputs with little effort.
Most likely this would be in NuGet 6.5 (VS17.5), I still need to complete https://github.com/dotnet/sdk/pull/28564 by next week.

[2022-11-04 15:45] matusqo commented on #2880
Same error occured all of a sudden an 30 minutes ago without any warning, nothing changed, in the middle of development!

[2022-11-04 16:36] erdembayar commented on #11449
Spec https://github.com/NuGet/Home/pull/11983 is merged

[2022-11-04 16:36] #11449 closed, assigned to erdembayar

[2022-11-04 20:38] alex-jitbit commented on #12160
another report on deves community: https://developercommunity.visualstudio.com/t/nuget-package-list-is-always-scrolled-on/10170793

[2022-11-04 20:50] zivkan commented on #12032
Thanks to Paulo, the MSBuild team confirmed that doing `<MSBuild Targets="Restore"` followed by `<MSBuild Targets="Build"` will **not** reload files. This means that if any project in your solution uses a package that has msbuild props/targets files (most popular are GitVersioning, SourceLink, but there are a surprising number of packages with `build/*` files) then your current build scripts are n

[2022-11-04 21:55] zivkan opened #12214 "NuGet doesn't retry on HTTP 429 responses"
### NuGet Product Used

dotnet.exe, MSBuild.exe

### Product Version

all

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

This issue is different to https://github.com/NuGet/Home/issues/10558.  That one includes honoring the `Retry-After` header.  This is just about the fact that NuGet currently fails on the first HTTP 429.

### V

[2022-11-04 23:54] kartheekp-ms commented on #12183
As mentioned in [NuGet ](https://learn.microsoft.com/en-us/nuget/reference/powershell-reference), `The commands listed here are specific to the Package Manager Console in Visual Studio, and differ from the Package Management module commands that are available in a general PowerShell environment`.

I am not able to reproduce the issue in Visual Studio -> NuGet Package Manager Console. A similar iss

[2022-11-04 23:54] #12183 closed, assigned to nobody

[2022-11-05 00:16] kartheekp-ms commented on #12203
Thank you for attaching the sample solution. I am able to reproduce the issue.

I am glad you found a work around for this issue.

[2022-11-05 01:09] zivkan commented on #11578
It's been default since 6.2: https://github.com/NuGet/NuGet.Client/pull/4403

[2022-11-05 01:09] #11578 closed, assigned to nobody

[2022-11-05 01:13] zivkan commented on #11544
Fixed in 6.2: https://github.com/NuGet/NuGet.Client/pull/4436

[2022-11-05 01:13] #11544 closed, assigned to nobody

[2022-11-05 04:09] kartheekp-ms opened #12215 "Credential provider skips all authentication methods if NET 7 RC SDK is installed"
### NuGet Product Used

dotnet.exe

### Product Version

.NET 7 SDK

### Worked before?

.NET 6 SDK

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

NuGet side issue for https://github.com/microsoft/artifacts-credprovider/issues/347 especially https://github.com/microsoft/artifacts-credprovider/issues/347#issuecomment-1304395965.

### Verbose Logs

_No response_

[2022-11-05 04:21] kartheekp-ms commented on #12209
As mentioned in [docs](https://learn.microsoft.com/nuget/create-packages/source-and-config-file-transformations#xdt-transforms), note clearly suggests that if you add the `XDT transforms` files to your package, consumers using your package with `PackageReference` will not have the transformations applied (refer to [this sample](https://github.com/NuGet/Samples/tree/main/XDTransformExample) to make

[2022-11-05 04:50] kartheekp-ms commented on #12211
Thank for the detailed issue description. May be a duplicate of https://github.com/dotnet/sdk/issues/12473 one and the root cause mentioned here appears to be same as https://github.com/dotnet/sdk/issues/12473#issuecomment-669515050.

How about publishing symbol packages (.snupkg)? https://learn.microsoft.com/nuget/create-packages/symbol-packages-snupkg

[2022-11-05 06:15] kartheekp-ms commented on #11989
developer community report for the same issue https://developercommunity.visualstudio.com/t/NuGet-PackageReferences-wildcard-selects/10188536

[2022-11-06 20:49] gh-andre commented on #12204
I've been looking into this a bit more and there is absolutely no way to automate adding Nuget packages to projects now. If doing so with `nuget.exe` presents some technical challenges, maybe a simpler way via `devenv` commands can be implemented for the time being, until Nuget CLI is changed to add the missing functionality.

For example, this command _almost_ works in Command Prompt, but it runs

[2022-11-07 08:09] harshsikhwal opened #12216 "[NuGet V3 API] Need Assembly version in packageEntries present in catalogEntry"
### NuGet Product(s) Involved

Other/NA

### The Elevator Pitch

Currently there is no way to decode assembly version published in NuGet package.

There are cases sometimes where application crashes, due to a change of packages in one module, as the build system has its own assembly set defined. We are not able to resolve NuGet packages with the assembly version. Having a section about version wou

[2022-11-07 08:37] matusqo opened #12217 "VS 2022 - Unable to load the service index for source feed"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Microsoft Visual Studio Professional 2022 (64-bit) - Current Version 17.3.6

### Worked before?

Same version but stopped working on Friday afternoon

### Impact

I'm unable to use this version

### Repro Steps & Context

![image](https://user-images.githubusercontent.com/50449453/200262810-e7f92265-0008-4027-bd09-45

[2022-11-07 17:25] rohitcoder opened #12218 "Can we have dependency graph feature ? (Showing Parent & Child relationship of different dependencies)"
### NuGet Product(s) Involved

dotnet.exe, NuGet SDK, Other/NA

### The Elevator Pitch

We need a JSON output of the parent & child dependencies list, right now we're using  ``dotnet list /tmp/project package --include-transitive`` but this doesn't show a relationship and this is not in JSON format, since we already have a PR
 https://github.com/NuGet/NuGet.Client/pull/4855 related to JSON output

[2022-11-07 17:46] jchowgithub opened #12219 "nuget still can't find msbuild.exe on MacOS?"
### NuGet Product Used

NuGet.exe

### Product Version

5.9.0.7134

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

Hi, I'm running nuget.exe 5.9.0.7134 as part of mono 6.12.0.122 on MacOs but when I use the restore command it still gives me this error:
`NuGet.Commands.CommandException: MsBuild.exe does not exist`
I know I have **msbuild**

[2022-11-07 19:21] donnie-msft commented on #12197
The behavior is intentional as Validation was not spec'd for the initial release. We may eventually introduce validation here, but until we know more, this input field behaves the same as modifying the config XML manually.

[2022-11-07 20:07] kartheekp-ms commented on #12215
May be related to https://github.com/NuGet/Home/issues/12195#issuecomment-1302595922 cc @jeffkl

[2022-11-07 21:17] nkolev92 commented on #12195
Team Triage: It is very likely that this has the same root cause as https://github.com/NuGet/Home/issues/12215, but separate may be needed.

[2022-11-07 21:19] jeffkl commented on #11578
Enabling enhanced retry by default might have regressed https://github.com/NuGet/Home/issues/12195 and https://github.com/NuGet/Home/issues/12215

[2022-11-07 21:25] nkolev92 commented on #12203
When using 2 projects in the same folder, you are likely to hit issues with various build components.

In packages.config, a packages.config is normally associated with a specific project. Given that you have 2 projects in the same folder, NuGet would try to associate the same packages.config file with both projects.

Having multiple projects in the same folder is not recommended practice.

[2022-11-07 21:29] nkolev92 commented on #12204
Package Installation for packages.config projects involved calling components in Visual Studio that simply not available in NuGet.exe.

NuGet.exe will never have enough information to make the Visual Studio and NuGet.exe instllations be equivalent. Furthermore, installation scripts are not supported on the commandline (packages.config projects) while they are in Visual Studio.

As such, this is no

[2022-11-07 21:29] #12204 closed, assigned to nobody

[2022-11-07 21:35] nkolev92 commented on #12213
@heng-liu is working on a design for `dotnet nuget config`, which will add some extra features that nuget.exe config may not have today.

@heng-liu Can you please consider the input for that design?

[2022-11-07 22:00] nkolev92 commented on #8343
This was fixed in 6.0/17.0. https://www.nuget.org/packages/NuGet.VisualStudio/6.0.0#dependencies-body-tab

[2022-11-07 22:00] #8343 closed, assigned to nobody

[2022-11-07 22:01] nkolev92 commented on #12218
Duplicate in https://github.com/NuGet/Home/issues/6339.

[2022-11-07 22:01] #12218 closed, assigned to nobody

[2022-11-07 22:41] gh-andre commented on #12203
VS provides all the tools for this to work just fine if it is set up correctly. This is also commonly used by CMake's VS generators. My sample project is not the best example because I focused on package installation and not project being fully working. I will update the sample with intermediate directories set by project name to fix those errors.

I will also note that `packages.config` may be na

[2022-11-07 22:51] gh-andre commented on #12204
That's hugely disappointing. This would allow CMake to implement much better packager than what they do today, which folders like `C:\Program Files\<package>`, etc.

I hope you would reconsider this. It doesn't have to be `nuget.exe` - whatever the current package console is using will be just as good, even if it has to invoke `devenv.exe` or using something similar - there is a real need out ther

[2022-11-08 00:53] nkolev92 commented on #12203
The challenge with sharing any sort of directories among projects is the ambiguity that tools have to deal with due to not knowing the files/folders are shared.

Just because it works, ie, your project build and runs, it doesn't mean it always does what it's actually supposed to do in that scenario.

Yes, that'd work, but that's not what was being used here :)

That's why we're leaving the issue o

[2022-11-08 01:25] gh-andre commented on #12203
Perhaps I didn't express this well. Sharing any intermediaries and output is bad indeed, which is distinctly different from having projects at the same level. They just need to be set up to keep intermediate files and output in their own directories. VS does it well and it works for Windows and Linux projects, keeping all files strictly per project.

`ProjectReference` is not something C++ project

[2022-11-08 02:10] gh-andre commented on #12203
Oh, I see. Never mind then. We both know how those work out.

[2022-11-08 02:10] #12203 closed, assigned to nobody

[2022-11-08 03:02] John0King commented on #8589
when will this be fixed ?

[2022-11-08 03:51] zivkan commented on #12211
@kabua slightly orthogonal, but when a project is packed, all `ProjectReference`s get converted into dependencies, just as `PackageReference`s do.  Is there some other reason you're switching between package & project references?  Many customers I've helped didn't know about this, and were able to simplify their project file, removing the conditions and always using the project references.

Also f

[2022-11-08 06:10] morgoved opened #12221 "restore want load through api.nuget.org except local mirorr"
### NuGet Product Used

dotnet.exe

### Product Version

docker image mcr.microsoft.com/dotnet/core/sdk:3.1-alpine3.12

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

We had internal mirrors repos on jfrog and we have this result.

dotnet restore want go to api.nuget.org no matter what.

i don't really know how, beacuse it's can r

[2022-11-08 16:06] Bellarmine-Head commented on #5725
New .NET release (v7), same problem with NuGet...

![image](https://user-images.githubusercontent.com/3470891/200615647-ce0cbdac-6090-4fdf-a1a4-e83278031b58.png)

[2022-11-08 16:11] bairog commented on #5725
@heng-liu @nkolev92 @anangaur Is there any estimated timeframe for finally implementing this functionality?
Suggested updates still break solution targeting older TFMs (.netcore 3.1, .net5.0 and today .net6.0).

[2022-11-08 17:49] harshsikhwal commented on #6339
I have implemented my own version of dependency generator:
[NuGet-Visualizer](https://github.com/harshsikhwal/nuget-visualizer)

An interactive python script which helps users to generate dependencies for both NuGet and .NET Solution.

Graph for Microsoft.CodeAnalysis.CSharp:
![codeanalysis graph](https://user-images.githubusercontent.com/52648233/200638325-1929fa83-0713-4202-98e7-38efa650433b.png

[2022-11-08 17:50] harshsikhwal commented on #12218
I have implemented my own version of dependency generator:
[NuGet-Visualizer](https://github.com/harshsikhwal/nuget-visualizer)

An interactive python script which helps users to generate dependencies for both NuGet and .NET Solution.

Graph for Microsoft.CodeAnalysis.CSharp:
![codeanalysis graph](https://user-images.githubusercontent.com/52648233/200638325-1929fa83-0713-4202-98e7-38efa650433b.png

[2022-11-08 18:34] donnie-msft commented on #12217
Hi @matusqo,
How are you triggering this restore? Is it from auto-restore, or manually restoring, interacting with the Package Manager UI, etc? Also, you say that VS 2019 works for you. Is that for the same package source(s) and `nuget.config`? If you're using the PM UI, are the same package sources enabled in the upper-right in both 2019 and 2022?

[2022-11-08 19:17] erdembayar commented on #6279
Unassigned myself for now. If no one pickup for Nov then I'll pick up again in December.

[2022-11-08 19:27] kartheekp-ms commented on #12217
@matusqo - Can you please take a look at the https://github.com/NuGet/Home/wiki/Azure-DevOps-Artifacts-authentication-issues wiki page and check if any of the workarounds unblock you?

[2022-11-08 21:18] #10301 closed, assigned to nobody

[2022-11-09 01:21] #12181 closed, assigned to dominoFire

[2022-11-09 02:01] DevBaburaj commented on #11952
@jeffkl, is "No one location to specify metadata like NoWarn" part of this release? Asking as I don't see it "ticked" above nor is it mentioned in the 6.4 release [announcement](https://devblogs.microsoft.com/nuget/announcing-nuget-6-4-signed-central-delivered/).

[2022-11-09 04:58] phillip-haydon commented on #10423
So this bug never got fixed?

[2022-11-09 06:31] kaylumah commented on #7752
Very cool :) hoop to see this soon :)

[2022-11-09 07:30] matusqo commented on #12217
Hi guys, I do restore of solution by context menu "Restore NuGet Packages". VS 2022 also does it automatically at solution load. Yes I have same set of NuGet sources configured in both VS. I open exactly the same .sln file on my disk in both VS.
Yesterday I had to migrate to a new laptop because of other reasons and the issue is not there anymore in VS2022. Thank you for the link @kartheekp-ms I w

[2022-11-09 08:01] Y-Theta opened #12223 "Target Segment in . targets file in buildTransitive not work"
### NuGet Product Used

NuGet.exe

### Product Version

 nuget.exe 6.3.0.131

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

create a package with struct like
mctech.lib.desktopcapture
   -1.4.2
        -buildTransitive
             -net47
                   -McTech.Lib.DesktopCapture.targets

and in the targets
have a <target>
[c

[2022-11-09 09:58] uhfath commented on #3788
Is this really works?
This is what I get on VS 17.4:
![image](https://user-images.githubusercontent.com/14792749/200799554-f9b49026-dec1-4525-8e69-e9982a9483b7.png)
![image](https://user-images.githubusercontent.com/14792749/200799716-3e31b4e4-b112-46da-a2a7-98e1156f3ae0.png)
Tried numerous combinations defined [in docs](https://learn.microsoft.com/en-us/nuget/concepts/package-versioning#version-r

[2022-11-09 10:03] uhfath commented on #6566
So is there any workaround if we need to keep current .NET version to 6.x but still update other packages to their latest versions using UI in VS?

[2022-11-09 10:11] matusqo commented on #12217
Ok I found that VS doesn't prompt for credentials to access Azure Artifacts automatically, I had to go to the accounts screen in VS and Re-enter credentials for the account which I use to access Azure DevOps

[2022-11-09 17:23] jeffkl commented on #11952
@DevBaburaj unfortunately I couldn't come up with a good design for PackageReference NoWarn in one place.  `Directory.Packages.props` is imported at the top of a project so it can't do `<PackageReference Update="" NoWarn="NU1000" />` and there's nothing else in central package management that made sense to extend at the moment.

Flowing `NoWarn` metadata from a `PackageVersion` seemed clunky since

[2022-11-09 18:04] donnie-msft commented on #12221
Hi @morgoved - I see that your last command is `dotnet publish`, but the configFile is not specified here. `dotnet publish` will perform an implicit restore, see https://learn.microsoft.com/en-us/dotnet/core/tools/dotnet-publish#implicit-restore.

Since your restore didn't pull down the fully restored graph (it found 1.4.1 but not 1.4.0 of a package), then `dotnet publish` attempted to restore aga

[2022-11-09 18:07] donnie-msft commented on #12219
Hi @jchowgithub  - I touched base with the Mono team, and their first suggestion was that you try updating Mono. Version `6.12.0.122` is 18 months old and there have been many bug fixes since then. They tried a to repro this issue and were not seeing the error you see.

Secondly, nuget.exe 5.9 is quite old as well. I'd suggest updating as well (6.3.1 is latest recommended on nuget.org).
Let us kno

[2022-11-09 18:15] nkolev92 commented on #3788
You can type a version to update to manually. When you click installing 7.0.0, it thinks you want to install 7.0.0.

The free form version entering is only available in the project level UI.

[2022-11-09 18:55] #8407 closed, assigned to martinrrm

[2022-11-09 19:07] donnie-msft commented on #12217
Glad you're unblocked. It seems this issue is the same one that was recently fixed in https://github.com/NuGet/Home/issues/12062. The credential provider fix is available in 17.4.
Happy coding!

[2022-11-09 19:07] #12217 closed, assigned to nobody

[2022-11-09 19:29] kartheekp-ms commented on #12159
As far as I know, Customers can hit this bug only if they have multiple projects trying to download custom SDKs using NuGet resolver functionality.

[2022-11-09 20:42] donnie-msft commented on #12223
Hello,
I found a similar report against MSBuild here: https://github.com/dotnet/msbuild/issues/5797
Take a look at that thread and see if it looks similar to you.

MSBuild also made some changes recently. The default was changed with VS 2022 (17.0) (https://github.com/dotnet/msbuild/pull/6622). It looks you're using VS 2019, so the default is still set to `false` with your setup.

(see more detail

[2022-11-10 00:27] zivkan opened #12224 "Remove NUGET_ENABLE_ENHANCED_HTTP_RETRY flag"
### NuGet Product(s) Affected

NuGet.exe, MSBuild.exe, dotnet.exe, NuGet SDK

### Current Behavior

In [NuGet 6.0.0](https://learn.microsoft.com/en-us/nuget/release-notes/nuget-6.0#retry--backoff-behavior) (VS 17.0, .NET 6 SDK 6.0.100), an ["enhanced retry" feature](https://github.com/NuGet/Home/issues/11027) was added, but was opt-in via setting the environment variable `NUGET_ENABLE_ENHANCED_HTT

[2022-11-10 01:53] reduckted opened #12226 "Visual Studio Package Manager does not respect EditorConfig settings when editing Directory.Packages.props"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

v17.4.0

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Here is an example solution: [DirectoryPropsEditorConfig.zip](https://github.com/NuGet/Home/files/9976557/DirectoryPropsEditorConfig.zip)

1. Open the solution in Visual Studio.
2. Open the `Director

[2022-11-10 02:14] Y-Theta commented on #12223
but my vs2022 has the same action ;
is that because I'm using the none sdk-style project

[2022-11-10 02:18] Y-Theta commented on #12223
When I change Porject A and Project B to sdk-style project it works

[2022-11-10 04:32] zivkan commented on #12223
@Y-Theta Please see https://learn.microsoft.com/nuget/consume-packages/package-references-in-project-files#using-packagereference-for-a-project-with-no-package-dependencies

SDK styles default to PackageReference, as they don't support packages.config. But as the docs say, for non-SDK style projects, a project either needs a PackageReference, or to define the RestoreProjectStyle.

[2022-11-10 05:42] uhfath commented on #3788
The problem is that I don't click "install". I click "update" which implicitly works like an install. But there is no other way through UI except picking the version manually for each project.
Work the same way per-project or per-solution.

[2022-11-10 09:36] MagicAndre1981 commented on #5725
@Bellarmine-Head  this can be fixed by supporting [allowedVersions like in packages.config](https://github.com/NuGet/Home/issues/6566#issuecomment-640406577). With this we could easily only see 6.0.x updates

[2022-11-10 12:17] Bellarmine-Head commented on #5725
Thanks @MagicAndre1981

If you have some suggestions for Microsoft re. an easy fix for this, please do consider adding a comment to my other ticket (on the Microsoft side) for this issue:-

https://github.com/dotnet/aspnetcore/issues/38336

[2022-11-10 12:22] Bellarmine-Head commented on #5725
As I said in my other ticket, imagine Windows Update offering you Windows 11 updates for your Windows 10 install... they fail to install *and* obscure genuine Windows 10 updates that you really need for security.  The notion is laughable.  Yet that is what is effectively happening here, re. .NET 6 packages.

[2022-11-10 13:52] mthalman opened #12227 "dotnet restore fails in Arm-based container on an x64 host machine"
**Copied from post by @zimbres at https://github.com/dotnet/sdk/issues/28971:**

When try to build arm64 containers using .Net7 results in a error on restore step.

Just create a new web api for example with .Net7 as target framework and try to build it with buildx. For amd64 build works just fine.

[code]

# Docker Version

[code]

# Docker Info
[code]

[2022-11-10 13:52] mthalman commented on #12227
See the original issue at https://github.com/dotnet/sdk/issues/28971 for more details.

[2022-11-10 19:21] #12214 closed, assigned to zivkan

[2022-11-10 19:49] donnie-msft commented on #12227
@BenVillalobos @rainersigwald
Did you try reproing with a private MSBuild to get the whole stack?

[2022-11-10 19:50] donnie-msft commented on #12227
@mthalman to help me be able to repro and investigate, could you please send the docker file and the project that you show above? Thanks!

[2022-11-10 20:03] mthalman commented on #12227
That's not my project. It's from @zimbres that originally logged this that I copied it from.

I'm posting my repro project. I don't get the same exception stack as the OP but I get a crash.

[dotnetapp.zip](https://github.com/NuGet/Home/files/9984260/dotnetapp.zip)

To repro, just run `docker build --platform linux/arm64 .` from the extracted directory. You can also replace `linux/arm64` with `lin

[2022-11-10 20:40] zivkan opened #12228 "NuGet doesn't consistently apply HTTP retries"
### NuGet Product Used

dotnet.exe, MSBuild.exe, NuGet.exe, NuGet SDK

### Product Version

all

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

NuGet's HTTP retry behaviour is implemented in `HttpRetryHandler.cs`. However, there are some "resources" within NuGet.Protocol that always tell `HttpRetryHandler` to not do any retries, and has rudimentary retry l

[2022-11-10 20:44] kartheekp-ms commented on #12215
Andy explained the current credential provider workflow with the help of a diagram in https://github.com/NuGet/Home/issues/11210#issuecomment-1132240645 cc @dominoFire

[2022-11-10 20:45] dominoFire commented on #12215
Discussed offline with Kartheek. The goal is to investigate:

- Whether or not this can be fixed in NuGet side?
- Where do retries are happening?

[2022-11-10 21:22] martinrrm commented on #3788
@uhfath Hi! Using floating versions is only available for project level at the moment. Updating/Installing to a version using the versions combobox will override what you have in your project file. In your screenshot your version is `6.*` which will not cover the version `7.0.0` which is the latest and is why is suggesting you an update. If you always want the latest version, I suggest using `*` i

[2022-11-10 21:51] dominoFire commented on #12224
I just looked for search results on GitHub Code Search and Sourcegraph. It seems no public repo have a registry of using NUGET_ENABLE_ENHANCED_HTTP_RETRY envvar.

https://cs.github.com/?scopeName=All+repos&scope=&q=NUGET_ENABLE_ENHANCED_HTTP_RETRY

https://sourcegraph.com/search?q=context:global+repo:%5Egithub%5C.com/NuGet/NuGet%5C.Client%24+NUGET_ENABLE_ENHANCED_HTTP_RETRY&patternType=standard

[2022-11-10 22:25] jchowgithub commented on #12219
Thank you, it'll take some time to update our build machines but I'll let you know, thanks!

[2022-11-10 23:10] dominoFire commented on #12215
Assigning back to Kartheek to load balance.

[2022-11-10 23:16] cliffchapmanrbx commented on #12159
Yes, we have multiple projects trying to download custom SDKs using NuGet.

[2022-11-10 23:20] zimbres commented on #12227
Hello, no need specific code do reproduce, in my case, from VS17.4, creating a Worker Service for .NET7.0 with Docker support and try to build with:

`docker buildx build --platform linux/arm64 -t zimbres/workerservice1 -f .\WorkerService1\Dockerfile --push . --no-cache`

Docker file is the one auto generated by VS template:

[code]

[2022-11-11 00:13] quentez commented on #12227
Same problem happening in Github Actions when we use QEMU to build ARM64 images.
It appears to be failing inconsistently (one out of every 4-5 builds ends up working).

[2022-11-11 00:13] martinrrm opened #12229 "[Bug]: Disable the Update/Install button for floating versions in CPM in PMUI"
CPM doesn't allow the usage of Floating Versions, disable this in the PM UI

[2022-11-11 00:20] martinrrm opened #12230 "[Bug]: Disable the option to update version when using VersionOverride in CPM"
If you use the PM UI to update a version of a package that is using VersionOverride it will succeed. VersionOverride wont change, only the version in Directory.Packages.props

[2022-11-11 00:20] martinrrm opened #12231 "[Epic]: Add support for central package management to Visual Studio Package Manager UI"
This is a tracking epic for work related to adding support for CPM in PM UI

- [ ] https://github.com/NuGet/Home/issues/11826
- [x] https://github.com/NuGet/Home/issues/12229
- [x] https://github.com/NuGet/Home/issues/12230

[2022-11-11 00:38] zarenner commented on #11952
Looks like .NET SDK 6.0.403 was released. I was hoping it'd include these improvements but appears not.
https://dotnet.microsoft.com/en-us/download/dotnet/6.0 originally said `Included in
Visual Studio ... 17.4.0` but now has been reverted back to say 17.3.7 (https://github.com/dotnet/core/pull/7955) so I'm hoping this'll be in the next SDK release?

[2022-11-11 00:45] jeffkl commented on #11952
@zarenner Visual Studio 17.4 released with .NET SDK 7.0.100 and NuGet along with other components of the .NET developer ecosystem stopped inserting into .NET SDK 6.x.  Are you able to use .NET SDK 7?

[2022-11-11 06:03] uhfath commented on #3788
@martinrrm Thanks for the info.
Actually in our case we want to keep 6.* versions and not transition to major 7.x until we ready.
I tried to use version range notation like (,7.0) or [6.0,7.0) or event [6.0] but the results were always the same. There are always 'updates' available to 7.0 and after pressing 'update' they all overwrite.
Is using version ranges supported for solution or project leve

[2022-11-11 06:22] ranjeetkpGit opened #12232 "Changes in Project Reference (Project B) is not reflecting in Referencing Project (Project A)"
### NuGet Product Used

dotnet.exe

### Product Version

dotnet core pack command

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

I have two projects in .net standard 2.0, ProjectA and ProjectB. ProjectA referencing ProjectB.

I am trying to create a a nuget package of ProjectA.

When I make some changes in ProjectB and package Project

[2022-11-11 08:14] CiciLi1 opened #12233 "[Push] The duplicated package was pushed again to the specific source using command “dotnet nuget push "*. nupkg" --skip-duplicate”"
### NuGet Product Used

dotnet.exe

### Product Version

NuGet Client Dev\6.5.0.75

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

#### Repro steps:

1. Open VS and create a C# Class Library (.Net Framework) project.

2. Type project name as “[Package01]” in “Project name” text box and click “Next” button.

3. Build solution and make s

[2022-11-11 09:23] v-luzh opened #12234 "[Bug Bash] “Prerelease” tag under package icon in the “Browse” tab and “Installed” tab will not show in real time after checking “Include prerelease” checkbox"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.5.0.75

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

#### Details about Problem
VS Version: Main\33110.265
NuGet Version: Dev\6.5.0.75
OS Version: Windows-11-Enterprise-22H2 ENU

#### Repro Steps:
1.	Open VS, click menu File->New Project, create a

[2022-11-11 09:24] Zastai commented on #3788
It's a bit of a hack, but you can add `IsImplicitlyDefined="true"` to a `PackageReference`. That tells the package manager that it comes from an SDK, which I think stops it from offering upgrades for it. However, it may also hide it entirely; not sure now (and can't currently check).

[2022-11-11 09:26] v-luzh opened #12235 "[Bug Bash] “Prerelease” tag shows for transitive packages when the “Include prerelease” checkbox is not checked"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.5.0.75

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

#### Details about Problem
VS Version: Main\33110.265
NuGet Version: Dev\6.5.0.75
OS Version: Windows-11-Enterprise-22H2 ENU

#### Repro Steps:
1.	Open VS, click menu File->New Project, create a C# Blank App (Univer

[2022-11-11 09:28] v-luzh opened #12236 "[Bug Bash] Some transitive packages that can be search and install successfully under “nuget.org” feed show “not available in this source” incorrectly in “Installed” tab"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.5.0.75

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

#### Details about Problem
VS Version: Main\33110.265
NuGet Version: Dev\6.5.0.75
OS Version: Windows-11-Enterprise-22H2 ENU

#### Repro Steps:
1.	Open VS, click menu File->New Project, create a

[2022-11-11 12:44] richard-post opened #12237 "long numeric "<pre-release identifier>" not supported"
### NuGet Product Used

dotnet.exe

### Product Version

7.0.100 e12b7af219

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

**Context**
It seems that NuGetVersion does not support a long numeric <pre-release identifier>.  I think this is valid according to semver2:
[code]

**Repro**
Build any project using version _0.12.0-SOF-628.

[2022-11-11 13:34] uhfath commented on #3788
@Zastai yep. It becomes hidden entirely even though there is an update to the minor version.
Just checked like this:
`<PackageReference Include="Microsoft.EntityFrameworkCore.SqlServer" IsImplicitlyDefined="true" Version="6.0.10" />`
There is an update to `6.0.11` which I wanted to apply but using this attribute the entire package is hidden.

[2022-11-11 15:27] donnie-msft commented on #12233
As the warning indicates, SkipDuplicates does not apply when pushing to a local source.

https://github.com/NuGet/NuGet.Client/blob/a8a8a34d9679041fb0d0fa1f2385667860658afb/src/NuGet.Core/NuGet.Protocol/Resources/PackageUpdateResource.cs#L640

[2022-11-11 17:49] donnie-msft opened #12238 "VS Contributing Guide still references VS 2019"
The requirement is no longer VS 2019 in order to contribute to our repo.

[2022-11-11 22:07] zivkan commented on #12237
@richard-post [item 9 of the SemVer spec](https://semver.org/#spec-item-9) says:

I bolded the relevant part, but to me the bold text doesn't stand out clearly, so here is the relevant part:

[2022-11-11 22:25] vsfeedback opened #12239 "Nuget Package Manager Won't Let You manage packages when restore is unsuccessful"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Nuget-Package-Manager-Wont-Let-You-Unin/10190064)._

---
I tried .NET 7, but one of my projects is having problems after converting. I converted all my projects back to .NET6.

When I go to remove a package that was installed for .NET 7, you tell me 'Package is not compatible with .NET6'

[2022-11-11 23:05] mattiaskagstrom opened #12240 "dotnet publish -r win10-x64 restores vulnerable package"
Issue copied from: https://github.com/dotnet/sdk/issues/29028

Describe the bug
My organization blocks downloads of packages with known vulnerabilities.
The application is buildable and publishable, but as soon as you add -r win10-x64 it tries to restore runtime.win7.System.Private.Uri/4.3.0.
The package is blocked due to: https://github.com/dotnet/announcements/issues/112

Running sdk 6.0.x on th

[2022-11-11 23:36] donnie-msft commented on #12232
Anytime the content of a package changes, it must be a new version. Are you packing and upticking the version number? Unique identifiers are documented in a few places, such as https://learn.microsoft.com/en-us/nuget/create-packages/creating-a-package#choose-a-unique-package-identifier-and-setting-the-version-number

How specifically are you packing? Can you share your project file(s)? Are you usi

[2022-11-11 23:47] donnie-msft commented on #12226
hello, @tmeschter - do you know whether writing `Directory.Packages.props` honors the VS editorConfig? Thank you!

[2022-11-12 00:56] #12238 closed, assigned to donnie-msft

[2022-11-13 07:48] steephan-s1 opened #12241 "getting error while build .net application in jenkins"
VERBOSE: Building InsightWeb Project with Version number : 2021.07.0.0
MSBuild version 17.3.0+92e077650 for .NET
  Determining projects to restore...
  Retrying 'FindPackagesByIdAsyncCore' for source 'https://nuget.devexpress.com/CnraCdegL3Nrpe5TGyiFPMwksP9mua7zFXAe5hGwiGWI3AYetM/api/FindPackagesById()?id='Antlr4'&semVerLevel=2.0.0'.
  The SSL connection could not be established, see inner excepti

[2022-11-13 10:47] ranjeetkpGit commented on #12232
Hi donnie,
Thanks for reply.

I want to create a nuget package of ProjectA and ProjectA has dependency on ProjectB.
I am adding project Reference of ProjectB in ProjectA.

ProjectA.csproj -
........
.........
<ItemGroup>
    <ProjectReference Include="ProjectB.csproj">
    </ProjectReference>
  </ItemGroup>

 Expectation- When I have changes in ProjectB, I increase version of ProjectA and create a

[2022-11-14 01:58] ayakael opened #12242 "Restore failure due to `The process cannot access the file x because it is being used by another process` on Mono"
### NuGet Product Used

dotnet.exe

### Product Version

7.0.100

### Worked before?

6.0.111

### Impact

It's more difficult to complete my work

### Repro Steps & Context

#### Description

When building runtime with mono-flavored runtime, restore often fails in CI environment with `The process cannot access the file x because it is being used by another process`. This affects runtime, as well

[2022-11-14 02:48] ayakael commented on #12242
A workaround that seems to work is setting `/p:DisableParallelProcessing=true`, which should've been automatically set by https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/Commands/InstallCommand.cs#L69

It is quite odd that this is not an issue on `s390x` with dotnet sdk 6.0.111, but with 7.0.100 it is. At least I found a workaround for those platforms, but it sho

[2022-11-14 08:53] richard-post commented on #12237
Thank you. I would expect it to be interpreted as an alphanumeric in that case. But it's clear that in your viewing of the standard it is expected behavior, thank you for the info and we now know we have to change it on our side.

[2022-11-14 08:53] #12237 closed, assigned to nobody

[2022-11-14 09:17] tmds commented on #12242
From the stacktrace: while trying to create a directory, it looks like some syscall (`mkdir`?) returns `EAGAIN`/`EWOULDBLOCK`.
This is not expected.

It could be filesystem related.

You could try to patch:
[code]
to
[code]
and see if that makes any difference.

[2022-11-14 13:21] ayakael commented on #12242
None it seems:
[code]
[dotnet7-stage0-runtime.binlog.log](https://github.com/NuGet/Home/files/10003352/dotnet7-stage0-runtime.binlog.log)

[2022-11-14 13:37] dedale opened #12243 "Discrepancy for related attributes between dotnet and VS"
### NuGet Product Used

dotnet.exe, Visual Studio Package Management UI

### Product Version

Visual Studio Pro 17.4.0 - dotnet 6.0.202

### Worked before?

Idk last working version. Been a couple of months since it's broken. Did not have time to investigate until now.

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Restore solution in command line with `dotnet res

[2022-11-14 13:41] dedale commented on #12243
Seems related to https://github.com/NuGet/Home/blob/dev/proposed/2021/NuGetConsumePDBInPackageReference.md (cc @heng-liu )

[2022-11-14 14:01] uweigand commented on #12242
I haven't seen this particular error, no.

However, if you still see this with Tom's patch applied (to the bootstrap SDK, of course), something is very weird.  The error message can only occur if MkDir returns with errno set to EAGAIN/EWOULDBLOCK (which is the same numerical value).  But with the patch, MkDir will *never* return with such an errno value, so something is weird.

[2022-11-14 14:44] dedale commented on #12243
Problem solved after upgrading dotnet SDK to 6.0.403 (currently latest).

[2022-11-14 14:44] #12243 closed, assigned to nobody

[2022-11-14 19:31] ayakael commented on #12242
Patching `SystemNative_Stat` and `SystemNative_MkDir` with a full rebuild unfortunately does not change the result:
[code]
[dotnet7-stage0-sdk.binlog.log](https://github.com/NuGet/Home/files/10006429/dotnet7-stage0-sdk.binlog.log)

[2022-11-14 19:44] DPatrickBoyd commented on #12161
in case anyone is scratching their head trying to fix this, I tracked down @Sergio0694 's github, and saw that he changed the source to the org or user level index, instead of the index for the repo itself

in their case it was changing
https://nuget.pkg.github.com/ComputeSharp/index.json

to

https://nuget.pkg.github.com/${{github.repository_owner}}/index.json

this also works for organizational

[2022-11-14 20:53] smarts commented on #4855
Upvoting `setapikey` command 👍🏽  because currently this requires private/security data to be stored in plaintext on non-Windows environments, which is a pretty egregious problem.

[2022-11-14 22:01] BenVillalobos commented on #12227
@donnie-msft I have not, I'm attempting to repro now using @mthalman 's repro and I do see the NRE related to regex's.

In fact, repro'ing the scenario two comments up shows the same regex NRE. @zimbres what's the dockerfile associated with seeing

[code]

[2022-11-14 22:20] kevinoid opened #12244 "Warn when using deprecated Nuget packages"
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

NuGet could warn .NET SDK users when they use (e.g. install or restore) a deprecated package, as Visual Studio does, so that they can consider taking appropriate action

### Additional Context and Details

@zijchen reported this issue a year ago in dotnet/sdk#22635 and was instructed to report it here.  I was unable to find a corre

[2022-11-14 22:45] zimbres commented on #12227
Dockerfile is the one provided by VS template like this:

[code]

[2022-11-14 22:55] BenVillalobos commented on #12227
Interesting, I don't see the intrinsic function failing so there's no call stack to gather there. If I can get a reliable repro for that, I'm happy to drop in custom bits to log extra details about what's going wrong with `[MSBuild]::GetTargetFrameworkVersion`

My repro:
`mkdir webapi`
`cd webapi`
`dotnet new webapi`

cmd: `docker buildx build --platform linux/arm64 -t zimbres/espupdater -f webapi

[2022-11-15 00:20] erdembayar commented on #12125
@jeffkl
Is it under your radar?

[2022-11-15 00:51] ayakael commented on #12242
Well - my workaround seems to have failed me on this run, and there's no stacktrace now:
[code]
[dotnet7-stage0-sdk.binlog.log](https://github.com/NuGet/Home/files/10008145/dotnet7-stage0-sdk.binlog.log)

I'm trying now to use both the above patches + `/p:RestoreParallelDisable=true` and see how that goes.

[2022-11-15 01:23] erdembayar commented on #12227
What am I missing here?
[code]

[2022-11-15 01:40] erdembayar commented on #12232
Technically you're asking for is not supported, closest issue is https://github.com/nuget/home/issues/3891.

Could you be able to explain why do you need this setup? What Donnie described is https://github.com/NuGet/Home/issues/12232#issuecomment-1312266721 most people use for their CI pipeline, you create new version for every PR merge/commit into your main branch.

[2022-11-15 01:53] zimbres commented on #12227
You need to be on .sln folder:

![image](https://user-images.githubusercontent.com/29772043/201807005-79eff2f8-1de6-4d04-bc99-fe8969027d2d.png)

docker buildx build --platform linux/arm64 -t zimbres/espupdater -f MyApp\Dockerfile --push . --no-cache

[2022-11-15 02:10] erdembayar commented on #12241
@steephan-s1
Could you please run tool here https://github.com/microsoft/azure-devops-tls12 to test if your jenkins machine has latest TLS enabled?
It could be TLS connection issue, but since it's 3rd party artifact server server so hard to say. Above `TLS1.2` is enabled for nuget.org Azure artifacts.
Also, you could you try to restore/build simple dotnet application with 1 package from nuget.org

[2022-11-15 02:18] erdembayar commented on #12240
@mattiaskagstrom
Thank you for filing this issue. Please upvote this issue if you want to us to prioritize this issue.

Fyi @nkolev92

[2022-11-15 04:00] erdembayar commented on #12227
I can repro it. I'll try to diagnose root cause later this week.

[2022-11-15 04:46] erdembayar commented on #12227
@zimbres
Does this issue look connected to https://github.com/dotnet/sdk/issues/27190? I'm just asking because both of them says ARM, I didn't verify it.

[2022-11-15 05:24] erdembayar commented on #12244
@kevinoid
Thank you for reporting this issue. I believe this is something already on our radar, please upvote if you want us to prioritize this issue. Meantime you can use `dotnet list package --deprecated` command to detect [deprecated/vulnerable/outdated](https://learn.microsoft.com/en-us/dotnet/core/tools/dotnet-list-package) packages.  Soon you can get [json format output too](https://github.c

[2022-11-15 10:48] voroninp commented on #10432
@BamButz , > We understood the problem that led to the implementation of NU1011,

Could you explain, please?
I'm still [scratching my head](https://github.com/NuGet/Home/discussions/12200) in attempts to understand why this limitation was introduced.

[2022-11-15 12:48] BamButz commented on #10432
I'm afraid I'm not really into the topic anymore, but you can read up on this [issue](https://github.com/NuGet/Home/issues/9384).

[2022-11-15 16:21] voroninp commented on #9384
@cristinamanum, I understand that it is a defined semantics of `*` (get the latest version), but I guess, in most cases, what devs really need is just _get the highest possible version_.
Similar to non-greedy regex mode we could have an option `Version="*?"`.

And yes, usually, it's about minor versions: `Version="x.*"`

[2022-11-15 18:44] jeffkl commented on #12125
Yes we're leaving this open to collect upvotes

[2022-11-15 18:48] jeffkl commented on #9384
Unfortunately, Cristina is no longer on the NuGet team but I'm going to re-open this issue to continue to collect upvotes to see if we should take a look at making a change.

[2022-11-15 19:23] mattiaskagstrom commented on #12240
@erdembayar I'm not working on the project that experienced the issue, but if you want it tested I can try to make that happen next week.
However the package that needs to be pinned to a higher version has the following description: "Internal implementation package not meant for direct consumption.  Please do not reference directly."

[2022-11-15 22:18] HazyFish commented on #12227
Similar problem with different error message:
https://developercommunity.visualstudio.com/t/Cannot-build-Docker-image-for-arm64-afte/10193334

[2022-11-15 23:26] ayakael commented on #12242
I gave up on `ppc64le` for now. The workaround with setting `/p:RestoreDisableParallel=true /p:DisableParallelProcessing=true` stabilizes the build on `s390x`. `ppc64le` is more unstable. Keeps failing here:
[code]
[dotnet7-stage0-sdk.binlog.log](https://github.com/NuGet/Home/files/10016830/dotnet7-stage0-sdk.binlog.log)

[2022-11-15 23:52] vsfeedback opened #12245 "Show better message on nuget.config duplicate entries (malformed nuget.config)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Tools-Nuget-Package-Manager/10202167)._

---
[severity:It's more difficult to complete my work] [regression] [worked-in:17.3]
Failed to remove package directories that were marked for deletion on Visual Studio restart: An item with the same key has already been added.
Error occurred whil

[2022-11-16 00:04] erdembayar commented on #12245
Yet another dup issue, this one from MS internal user https://developercommunity.visualstudio.com/t/After-upgrading-Visual-Studio-2022-to-17/10199374#T-ND10201096

[2022-11-16 00:50] erdembayar commented on #12227
Please upvote this issue, we prioritize issue based on user feedback.

[2022-11-16 01:11] nkolev92 commented on #12240
@mattiaskagstrom

What is your ask from the tooling in this case?

I understand the motivation with the vulnerable packages, but the source should not be returning a 400.
If a certain is made unavailable then it must not appear in the content resource which is usually used before NuGet tries to download a package.

[2022-11-16 01:13] nkolev92 commented on #12244
There's no dups. This is the first ask I'm aware of. Removing the irrelevant labels as this is not a security thing.

[2022-11-16 01:29] erdembayar commented on #12240
@nkolev92 @zivkan
How does runtime dependency pull in for `dotnet publish -r win10-x64`? (I believe it's doing `dotnet restore -r win10-x64` behind the scenes). I found it's quite hard to override the version for `runtime.win7.System.Private.Uri` here, because we shouldn't have direct dependency on runtime dependency. Then I tried to override a parent package bringing it.
`<PackageVersion Include=

[2022-11-16 01:58] nkolev92 commented on #12240
@erdembayar
You're mixing CPM constructs with standard PackageReference, you're using PackageVersion which is CPM only.

Runtime dependencies have evolved over the years. They used to be provided by a `runtime.json`, but nowadays they are provided by the SDK as PackageDownload, and should not affect the package graph.

It's possible that the project in question has a graph pulls those dependencies

[2022-11-16 02:03] #10558 closed, assigned to zivkan

[2022-11-16 02:07] erdembayar commented on #12240
My bad, just corrected it. End result is still same runtime dependency is resolved to vulnerable one.

[2022-11-16 03:38] AArnott commented on #12177
@jeffkl when should we expect to see this fixed in dogfooding? I still see this fail regularly in IntPreview builds when using the .NET 7 SDK.

[2022-11-16 04:21] jeffkl commented on #12177
It looks like it went into the SDK here: https://github.com/dotnet/installer/commit/a9388a7704dac5cfb81ff889253ec26e4f2896a9

I would expect to start seeing .NET SDK 7.0.2xx soon in IntPreview builds?

[2022-11-16 06:25] kzu commented on #3891
Here's a good example of packing a non-trivial project, with main library, analyzer and code fixes and built targets: https://github.com/devlooped/Merq/blob/main/src/Merq/Merq.csproj

[2022-11-16 09:01] zivkan commented on #12242
There's a lot going on in this thread, and just skimming over the thread I don't follow everything, but I feel like this points to a bug in the mono runtime.

[The docs for `Directory.CreateDirectory`](https://learn.microsoft.com/en-us/dotnet/api/system.io.directory.createdirectory?view=net-7.0#system-io-directory-createdirectory(system-string)) doesn't mention any exceptions for "directory alread

[2022-11-16 09:33] awinki opened #12246 "Possible race condition in ConfigurationDefaults.Instance.DefaultPackageSources"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.402

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

On our build server we get a random "Collection was modified" error when executing a dotnet restore with our solution.

The detailed build log shows an InvalidOperationException at _NuGet.Configuration.PackageSourceProv

[2022-11-16 13:01] #12166 closed, assigned to nobody

[2022-11-16 13:01] #12133 closed, assigned to nobody

[2022-11-16 13:24] stefan-schweiger commented on #11949
without a custom ``Directory.Build.targets`` file as described in my comment above ``dotnet restore`` still does not work without error with nuget 6.4.0.118 (`dotnet nuget --version`)

[2022-11-16 15:54] ayakael commented on #12242
Copy that, we'll move this back to runtime land. I had first thought it was runtime, but then stuff pointed towards nuget, but now it looks to be back to runtime. Thanks for the help!

[2022-11-16 15:54] #12242 closed, assigned to nobody

[2022-11-16 17:03] cpereira-utad commented on #11292
Just had this issue as well. I have selected the readme file through the project properties on Visual Studio 2022 17.1.1, which by default added this section to my .csproj

    <None Update="README.md">
      <Pack>True</Pack>
      <PackagePath>\</PackagePath>
    </None>
  </ItemGroup>

I have solved it by changing "Update" to "Include":

    <None Include="README.md">
      <Pack>True</Pack>

[2022-11-16 18:02] kartheekp-ms commented on #12159
@breidikl @cliffchapmanrbx @alexrp @VemundH - sorry for the direct ping. This issue is fixed in preview versions of .NET 8. Would it be possible to install preview versions of .NET 8 & check whether the restore succeeds or not? Thanks for your help in advance.
https://github.com/dotnet/installer/blob/main/README.md#table

[2022-11-16 18:44] cliffchapmanrbx commented on #12159
Thank you for the information!

Our current automation harness makes it a little difficult to test this in-situ, I will see if we can construct an isolated environment to test it.

[2022-11-16 18:55] nkolev92 commented on #12240
Yep, that's expect, as the runtime.any.System.Runtime is not a standard dependency. It appears to be brought in by Microsoft.NETCore.Targets.

To my knowledge, this is not how runtime assets are provided in .NET Core App 3.1 and later. It is a PackageReference that brings in that package, which itself requests runtime dependencies.

The guidance from the SDK team normally is to specify:
[code]

[2022-11-16 19:25] brunolins16 commented on #12159
@kartheekp-ms Is that issue fixed in .NET 7 as well?

[2022-11-16 19:29] kartheekp-ms commented on #12159
@brunolins16 - Not yet. The fix is currently in .NET 8 preview versions. Hence asking the community to help us to validate the fix by installing .NET 8 preview version.

[2022-11-16 20:20] erdembayar commented on #12246
Given this is race condition I don't believe I can repro now.
Looks like issue is here.

https://github.com/NuGet/NuGet.Client/blob/20be995d651808feb5cd48f30cb97197e497377c/src/NuGet.Core/NuGet.Configuration/Settings/ConfigurationDefaults.cs#L58

[2022-11-16 20:28] heng-liu commented on #8265
Bot work test: add a comment to test if `Triage:NeedsTriageDiscussion` is added correctly.

[2022-11-16 22:05] vsfeedback opened #12247 "Publish NuGet Package seems broken for multiple-TargetFrameworks setting, at least for publish to a Folder. Package not not copied to destination."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Publish-NuGet-Package-seems-broken-for-m/10202072)._

---
\[regression\] \[worked-in:17.3.6\]
Hi! See the subject.

I am using Visual Studio 17.4. And therefore I also have the .NET 7.0 SDK installed.

Today I tried multiple combinations of settings and multiple combinations of TargetFra

[2022-11-16 22:28] erdembayar commented on #9708
It's has been 2 years since I filed bug. Maybe it doesn't matter anymore, if necessary then we can file another bug.

[2022-11-16 22:28] #9708 closed, assigned to erdembayar

[2022-11-16 23:11] zivkan commented on #12240
@erdembayar that's not going to work. Have a look at the explanation of NuGet's graph resolution algorithm, particularly the part about [Direct Dependency Wins](https://learn.microsoft.com/en-us/nuget/concepts/dependency-resolution#direct-dependency-wins). NuGet first resolves the entire graph using versions specified as package dependencies, and only once the full graph is evaluated, then it reso

[2022-11-16 23:18] nkolev92 commented on #12240
It's not 100% correct. There are situations in which a transitive dependency will be pruned and not even downloaded, described within the same rule.

I think your point is the same as what I mentioned in https://github.com/NuGet/Home/issues/12240#issuecomment-1316122144.
The server should not return 400 for a package that can't be found.

Probably a typo, as NU1603 will be raised instead, https://

[2022-11-17 03:59] erdembayar opened #12249 "End2End test InstallPackagesConfigOnline skipped"
Need to enable back Test-InstallPackagesConfigOnline test using latest Newtonsoft.Json 13.0.1 version.
Currently it's pointing to 3rd party content `https://raw.githubusercontent.com/NuGet/json-ld.net/7dc9becb263a7210ebcd2f571c2a7a07409c240a/src/JsonLD/packages.config`, it's making fixing test complicated, need more flexible solution.
It looks above is snippet of https://github.com/json-ld/json-ld

[2022-11-17 04:40] Irgy0 opened #12250 "Unable to remove a package that doesn't exist"
### NuGet Product(s) Affected

NuGet.exe

### Current Behavior

I am on a machine which is not and cannot be connected to the internet. When I attempt to remove a package that's listed as installed, but isn't present on the machine, it tries to first restore the package, fails, and the package continues to be shown as installed.

### Desired Behavior

There should be some way to uninstall a packag

[2022-11-17 06:51] ChristianSauer opened #12251 "dotnet nuget update source needs to accomodate existing sources."
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

When running a CI piepline I often have to add custom nuget feeds. If the build machine is stateful that's extremely cumbersome due to the bad dotnet dotnet nuget `update` source command. it will fail if the source does not exist, but `add` will also fail if the source does exist. In short, its impossible to just update the source

[2022-11-17 08:57] ChristianSauer commented on #12251
@KalleOlaviNiemitalo I tried that, and it might be the best solution for the moment but I dislike this. Ideally my ci/cd file tells me at a glance what happens, and if I stuck a config file somewhere it's not really obvious. Furthermore, that file would need to reference env-variables specific to the CI/CD environment (Api token ) so it does not even work on developer pcs.

And yes the push feeds

[2022-11-17 15:40] stefan-schweiger commented on #11949
@jeffkl can you confirm that this should have been resolved in nuget 6.4 and this version is also shipped with the latest .NET SDK? because as mentioned it still gives me the error

[2022-11-17 16:08] moh-hassan opened #12252 "Feature Request: Allow hard copy of ContentFiles without the need for a separate target to copy the files."
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

I created a package that contain files either using nuspec files as described in [nuget home samples](https://github.com/NuGet/Samples/blob/main/ContentFilesExample/authoring/ContentFilesExample.nuspec) or from csproj file using `<content ... or None`
[code]
When I use this  package from a consumer project (net6 and net472), all fi

[2022-11-17 16:17] awinki commented on #12246
I'm not sure how to reproduce the error either. It appears randomly on our build servers.

@erdembayar the line of code you mentioned, seems to me as problematic if two threads access the property simultaneously like the stacktrace might show.

[2022-11-17 16:33] jeffkl commented on #11949
@stefan-schweiger the only fix available from this issue is the one about the package source mapping warning reporting local feeds.  That new logic has shipped in Visual Studio 2022 17.4 and .NET SDK 7.0.100.

The original error is about PackageReference items having versions when they shouldn't:

This error is because the FSharp SDK adds packages but does not indicate that they are implicitly def

[2022-11-17 16:45] erdembayar commented on #12160
Another dup https://developercommunity.visualstudio.com/t/Nuget-Package-Manager-not-starting-out-s/10205297

[2022-11-17 16:55] tonyqus commented on #1365
Looks I encounter the issue today. Here is the story from NPOI team.

MSFT suggests the community to get rid of System.Drawing.Common since they don't wanna maintain this library anymore (There are a few weird excuse like libgdi is not well maintained. But why MSFT cannot hire someone to maintain it?). Then we have no choice but migrate to a new drawing package.  We finally choose ImageSharp. And

[2022-11-17 17:12] MichaelKetting commented on #12246
@erdembayar upvote via thunbs-up on the issue post itself?

It's something I can confirm and it's really annoying when it happens. Would love to see a fix :)

[2022-11-17 18:02] nkolev92 commented on #12160
Matching the AzDO priority.

[2022-11-17 18:37] erdembayar commented on #12252
I believe we have dup issue, couldn't find in quick search.

[2022-11-17 18:50] vsfeedback opened #12253 "Satellite assemblies for three-letter languages are not copied from NuGet package"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Satellite-assemblies-for-three-letter-la/10203830)._

---
Satellite assemblies for cultures with three-letter language codes, like “sma-NO” with “Sami, Southern (Norway)” provided in an NuGet package are not copied to the build output directory as two-letter language code cultures as “nb

[2022-11-17 19:21] zivkan commented on #1365
@tonyqus

Yes it does. For years, NuGet treats it as a warning that can be ignored if you choose. See [my comment](https://github.com/NuGet/Home/issues/1365#issuecomment-1302696473) immediately before yours.

In fact, [NPOI 2.6.0](https://www.nuget.org/packages/NPOI/#dependencies-body-tab) (a semver stable version) lists a dependency on SixLabors.Fonts version 1.0.0-beta18, so I don't understand w

[2022-11-17 19:22] nkolev92 commented on #12226
Duplicate of the partner issue: https://github.com/dotnet/project-system/issues/5427

[2022-11-17 19:22] #12226 closed, assigned to nobody

[2022-11-17 19:23] #12233 closed, assigned to nobody

[2022-11-17 19:36] nkolev92 commented on #12235
Team Triage: The behavior for transitive dependencies matches the behavior for direct dependencies in both VS 2022 and VS 2019.

![image](https://user-images.githubusercontent.com/2878341/202542035-848eb51c-a8fa-4a5f-b890-64db8fa7b6bf.png)

[2022-11-17 19:36] nkolev92 commented on #12235
Closing as by design.

[2022-11-17 19:36] #12235 closed, assigned to nobody

[2022-11-17 19:39] nkolev92 commented on #12236
@v-luzh It'd be helpful if the screenshot included the source selection. We know that in this case it's nuget.org.

cc @jebriede Do you know if this is expected/intentional?

[2022-11-17 19:40] zivkan commented on #12246
@erdembayar

Since you linked to code, we can make a guess based on what the code is doing. I bet you can reproduce this with fairly reliability hit percentage, if you create a console app that references NuGet.Configuration and calls `ConfigurationDefaults.Instance.DefaultPackageSources in multiple threads at the same time.

[2022-11-17 19:41] nkolev92 commented on #12239
We have heard various feedback from internal partners from the perf team and roslyn teams, so marking it as P2 despite the lack of upvotes.

[2022-11-17 20:13] LogoFun13-YT commented on #6754
Trying to get a package ready for release on a personal repository, and it gives me the NU1108 error? If anyone has a good fix for this, please let me know as soon as possible.

[2022-11-17 20:33] jebriede commented on #12236
@nkolev92 it looks like the summary is failing to get hydrated. I can't think of how this would be intentional. @dominoFire any thoughts?

[2022-11-17 20:58] dominoFire commented on #12236
@jebriede @nkolev92 We removed some foreign transitive dependencies in projects (transitive dependencies from referenced projects), but I don't think this is a foreign transitive dependency. I will take a closer look

First package is in nuget.org ; so, PM UI should not show 'Not available in this source message'

https://www.nuget.org/packages/Microsoft.Net.UWPCoreRuntimeSdk/2.2.14

[2022-11-17 22:00] zivkan commented on #12250
This is not correct. With packages.config, NuGet (tells the VS project system to) modify the project with with `<Reference` to assemblies, `<import` of msbuild files, if the package contains `content/*`, then those packages are copied into the project with an appropriate MSBuild item type, which is reversed on uninstall. If the package contains `tools/uninstall.ps1`, then that is exucuted, which m

[2022-11-17 22:03] donnie-msft commented on #12233
Filed https://github.com/NuGet/docs.microsoft.com-nuget/issues/2943

[2022-11-17 22:08] #6779 closed, assigned to nobody

[2022-11-17 22:59] zivkan commented on #1365
Indeed, PackageReference still works, even with the legacy csproj. I confirm that it failed with packages.config, but this thread is about packing, not installing packages. I can't find a duplicate issue from a quick search, so I suggest filing a new issue for that to be investigated. The topic of this issue has been resolved, and I believe this issue is correctly closed.

Since before 2016 NuGet

[2022-11-17 23:00] madelson commented on #7900
Basically this is just a request to represent SQL CLR as a target framework

[2022-11-17 23:04] tonyqus commented on #1365
@zivkan Thank you for the clarification.

[2022-11-17 23:15] nkolev92 commented on #8174
I moved this to the backlog, as I think this is a valuable change to have. @zivkan feel free to tweak if you don't agree.

[2022-11-17 23:16] nkolev92 commented on #5836
This doesn't repro anymore.

Closing

[2022-11-17 23:16] #5836 closed, assigned to nobody

[2022-11-17 23:21] nkolev92 commented on #6582
Does not repro anymore as well.
CLosing.

[2022-11-17 23:21] #6582 closed, assigned to nobody

[2022-11-17 23:26] wtgodbe opened #12254 "Allow packages to specify a version range to offer upgrades within"
### NuGet Product(s) Involved

NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console

### The Elevator Pitch

Today, packages always suggest offering upgrades to the newest version possible. For example, if I depend on `Microsoft.Aspnetcore.Components.Webassembly` version `6.0.10`, Visual Studio's package manager will suggest I upgrade to 7.0.0. However, some packag

[2022-11-18 00:09] erdembayar commented on #12247
I redirected the VsFeedback issue to sdk team, it looks like they need to stop setting true to `GeneratePackageOnBuild` anymore for single targetframework, they already stopped creating [nupkg for multitarget framework](https://developercommunity.visualstudio.com/t/Visual-Studio-174-no-longer-produces-nu/10194715#T-N10197489). Please note pack vs publish is 2 different scenarios.

[2022-11-18 00:09] #12247 closed, assigned to nobody

[2022-11-18 00:32] zivkan commented on #8226
no longer reproducible

[2022-11-18 00:32] #8226 closed, assigned to dtivel

[2022-11-18 01:14] learningjavascriptlanguage commented on #3245
yes. I faced the same error. Any update on this?

[2022-11-18 04:09] zivkan commented on #12247
also duplicate of/related to: https://github.com/NuGet/Home/issues/4638

[2022-11-18 04:15] zivkan commented on #4925
Fixed in 2019: https://github.com/NuGet/NuGet.Client/commit/bd0c5fb12076a7f1678d825541a978caa4ac0bc0

[2022-11-18 04:15] #4925 closed, assigned to nobody

[2022-11-18 05:20] #5277 closed, assigned to nobody

[2022-11-18 08:53] zivkan commented on #12237
In theory we could change NuGet to treat it as a character string. But then packages created that use this will break older versions of NuGet, probably with really awful error messages. I'm thinking of scenarios where a package has a dependency on another package with a prerelease leading zero. It's one thing to get a "not a valid version string" when packing your own project, at least you can gue

[2022-11-18 08:57] Sam13 opened #12255 "NuGet.config permission issue on Linux for dotnet nuget commands"
### NuGet Product Used

dotnet.exe

### Product Version

.NET SDK 6.0.402 and above

### Worked before?

.NET SDK 6.0.401 and below

### Impact

I'm unable to use this version

### Repro Steps & Context

Taking over https://github.com/dotnet/sdk/issues/29098

### Describe the bug
Having a _nuget.config_ which belongs to another user and group but chmoded 777.
Running e.g. ```dotnet nuget add sourc

[2022-11-18 11:17] ramonsmits commented on #12082
@nkolev92 Yes, but that applies to the whole version graph for all references. Meaning, if a transitive dependency pushes it to the next major then you can have an issue.

I included an image and the "compatible" version range. Adjusted the text for clarify in the previous comment.

Your latest sample focusses on MINORS. With minors its not an issue when packages follow Semver as then the newer pr

[2022-11-18 18:16] strout opened #12256 ""error: Sequence contains no matching element" when listing outdated packages"
### NuGet Product Used

dotnet.exe

### Product Version

7.0.100, 6.0.300, 5.0.408, 3.1.425 (all I tested)

### Worked before?

no

### Impact

It's more difficult to complete my work

### Repro Steps & Context

1. `dotnet new console -o repro`
2. `dotnet add repro package AngleSharp --version 1.0.0-alpha-844` (note: this version was unlisted, the highest still-published version is 0.17.1)
3. (opt

[2022-11-18 19:09] nkolev92 commented on #9332
@Kiechlus project references are supported. When the blog is referring to PackageReference, it's saying that in contrast to packages.config.

NU1004 should be providing rich errors with the newer versions, can you maybe share those?

If you can find the minimal project that fails, it might be easy to work out a repro without your private packages.

[2022-11-18 19:32] nkolev92 commented on #12082
The PM UI doesn't really filter the versions in the version list today. That's covered in https://github.com/NuGet/Home/issues/6566.

I think we're trying to discuss 2 different topics here. Range expression through the NuGetVersionRange type and what the resolvers do are *separate* things.

As I mentioned, prerelease versions are only going to be selected if other components explicitly request th

[2022-11-18 20:26] Kiechlus commented on #9332
![image](https://user-images.githubusercontent.com/9875731/202796075-a5661df7-27bd-4630-811d-803b792940dc.png)

For me it looks like some problem with project references. That yellow is the main project which includes the others (marked with other colors).

[2022-11-18 20:48] nkolev92 commented on #9332
@Kiechlus

I don't know if you'd be able to this, but maybe you can help us work out a more minimal repro?

The way, I'd approach it would be:
* Remove all but one reported project that's failing.
* Go to that project and start removing package references until it stops failing and just add the first one.

That could lead to basically something like:
Project A -> Project B -> Package A with a floa

[2022-11-18 20:51] loic-sharma commented on #6692
Bad bot. This scenario is not uncommon, especially with when servers like Azure DevOps / GitHub Artifacts have an error.

[2022-11-18 20:55] loic-sharma commented on #8177
Error/crash reporting would be a useful thing for nuget.exe.

[2022-11-18 22:15] dominoFire opened #12257 "PackageReferenceProject.GetInstalledPackagesAsync() is called on UI thread"
After doing research on GIPA API profiling, I just found out some calls are being made on UI thread.

Calling GIPA API on UI thread is bad because it can perform considerable work and block UI responsiveness.

Adding `ThreadHelper.ThrowIfOnUIThread()` to GIPA API causes telemetry faults and breaks solution PM UI.

![image](https://user-images.githubusercontent.com/1192347/202812055-ca321696-90aa-4

[2022-11-18 22:31] loic-sharma commented on #12113
I strongly dislike auto-closing issues. Opening an issue, especially from an outside customer, is often a difficult task. You need to find the right repository. You need to provide relevant debugging information. You may even need to write in a language you're uncomfortable with. Having a bot close their issues feels cold and unwelcoming.

[2022-11-18 22:36] erdembayar commented on #12256
I can repro this issue on sdk `6.0.306`, but it doesn't repro on sdk `6.0.111`. Looks like regression between them.
I did make [change into this code](https://github.com/NuGet/NuGet.Client/commit/035850255a15b60437d22f9178c4206bafe0b6a9) path 2 weeks ago, but it's slated to go next sdk release, so I don't think my change caused this regression, since it's not released yet.
Need to investigate.

[2022-11-18 23:41] Kiechlus commented on #9332
We'll try, may take a while

[2022-11-18 23:54] erdembayar commented on #12255
@Sam13
It looks docker/bash scripts issue rather than dotnet/nuget issue, docker is not my expertise but I managed to make it work, probably you need to improve further.
https://github.com/erdembayar/DockerTest1/commit/9fc722507f7e44c7dbd066f9d3b502fb9afd55c3

[code]

[2022-11-19 00:06] kartheekp-ms commented on #12159
NuGet's CI build also failed with this error message while running cross verification tests job.

[code]

<img width="987" alt="image" src="https://user-images.githubusercontent.com/52756182/202822803-598bb234-70d6-43d8-a6aa-a616ae2df182.png">

[2022-11-19 02:15] erdembayar commented on #12256
Fyi @nkolev92

[2022-11-19 03:36] #7441 closed, assigned to nobody

[2022-11-19 06:36] Sam13 commented on #12255
@erdembayar, in your example the NuGet config is now owned by the user which is executing the _dotnet add source_ command.

[code]

According my experience this works. You proved it.

In my real world scenario I don't want to change the owner of the nuget.config because it's a prebuilt container.

The question still remains why the _dotnet nuget_ command does not work altough the file is chmodded

[2022-11-19 12:13] rustam-ashurov-mcx commented on #3891
Can not imagine we need still to play with MsBuild targets, some 3rd party libs (those do the same), and other workarounds just to map well multi-project setup in one solution to one NuGet package.
6 years of waiting for someone...

[2022-11-20 14:34] vlm--- commented on #6750
This feature would save a ton of work we have to do to download all the needed packages (libraries, framework, tools, etc.) before we can sync them into our offline dev environment.

[2022-11-20 15:02] alfasmartplayer opened #12258 "Microsoft and NuGet have to answer for this"
### NuGet Product Used

NuGet SDK

### Product Version

Trojan

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

https://www.nuget.org/profiles/ExodusOfficial
https://www.nuget.org/profiles/Nuget.0rg
https://www.nuget.org/profiles/Nuget.OrgDev

if you check this users profile it will impersonate all popular libraries by adding an infected dependency. If you

[2022-11-20 19:03] aceoft commented on #5611
Just started doing our own private nuget feed to try to do dependencies the "right" way and this is the very first thing I run into. I used a fairly standard name (thinking it was private/unique to my organization only), and within minutes, VS is trying to "upgrade" it to someone else's code.

Anyone in the world can publish a package with the same name I'm using, and Visual Studio will happily su

[2022-11-20 20:12] iBeizsley commented on #5611
@aceoft inverse of my suggestion above; package name pattern matching for specific sources

https://devblogs.microsoft.com/nuget/introducing-package-source-mapping/

[2022-11-20 20:57] zivkan commented on #5611
Additionally, it's possible to [reserve ID prefixes on nuget.org](https://learn.microsoft.com/en-us/nuget/nuget-org/id-prefix-reservation). It does mean that all your company internal packages will need to use the same prefix, but with the combination of package source mapping + reserved prefix, there's good risk mitigation against this type of issues.

[2022-11-20 21:09] aceoft commented on #5611
This looks promising, thank you so much for taking the time to reply!

[2022-11-20 22:13] tonyqus opened #12259 "A normal nuget package cannot reference a prerelease package"
### NuGet Product Used

NuGet.exe, Visual Studio Package Manager Console

### Product Version

6.3.0

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Since NPOI 2.6.0 starts using SixLabors.Fonts 1.0.0-beta18 (a prerelease package), a few users report the following issue in .NET framework 4.7.2:

**Repo Steps**
Create a new console

[2022-11-20 22:14] tonyqus commented on #1365
I created a new issue #12259  as you suggested. @zivkan

[2022-11-20 22:31] kaangms commented on #12162
### Open Mac Settings
![Screenshot 2022-11-21 at 01 15 44](https://user-images.githubusercontent.com/54083292/202929258-6f473a28-612e-4bd1-954a-37adee2763b7.png)
### enable vs code and vs studio
![Screenshot 2022-11-21 at 01 17 58](https://user-images.githubusercontent.com/54083292/202929338-196ae105-97ab-43c1-92ba-0b5f493d7fc7.png)
### And For Terminal
1- cd /Users/your_user_name/.local/share/
2-

[2022-11-21 04:31] John0King commented on #12209
that's too complicated, and there no solution for existing nuget package.

[2022-11-21 05:39] Irgy0 commented on #12250
Sorry I'm now over 1000km away from the machine myself, but I can get someone to get a screenshot if it helps? The gist of it was though that I would open the nuget package manager in Visual Studio, see the missing package I wanted to remove, either click on the "X", or select it then click uninstall (same result either way). It would then say it was trying to download the package, fail of course,

[2022-11-21 05:42] kirsan31 commented on #11905
Sorry for bumping it, but any one know how to deal with original error?
I have a packege (like this https://github.com/kirsan31/winforms-datavisualization/blob/DesignerTest/src/System.Windows.Forms.DataVisualization.Package/DataVisualization.Package.csproj) and it works with .net6, but when I change target framework to .net6-windows, I see this error:

[2022-11-21 07:01] MagicAndre1981 commented on #12254
bringing back `allowedVersions` is [already requested years ago](https://github.com/NuGet/Home/issues/6566) and ignored at all.

[2022-11-21 07:45] kosist commented on #7123
One more feedback on this topic :) Would be really nice to have such feature...

[2022-11-21 12:07] ramonsmits commented on #12082
Not sure what you are referring to but the screenshot I added earlier clearly shows the package manager suggesting a RC of the next major.

The resolvers apply the same version range check. See sample below.

Unless a transient dependency pushes it into the next major. As that suddenly becomes the lowest compatible version. Take the following example:

Project:

Package A [5.0.0,6.0.0)
Package B [

[2022-11-21 13:01] shuebner commented on #11457
Just wow.

First, [the documentation recommends following SemVer](https://learn.microsoft.com/en-us/nuget/create-packages/package-authoring-best-practices), which includes incrementing the major version on breaking changes.
Second, nuget describes [its own concept of versions with breaking changes in major releases](https://learn.microsoft.com/en-us/nuget/concepts/package-versioning#version-basics

[2022-11-21 14:21] danimonsi commented on #9368
I have the same problem as described. Any news about this issue?

[2022-11-21 15:44] ChairmanMawh commented on #12258
I think the report should have a better title..

[2022-11-21 16:18] akoeplinger commented on #12162
@kaangms that is a workaround, granting everyone read/write access to this folder is not the correct solution.

[2022-11-21 17:12] alfasmartplayer commented on #12258
Have you thought about this when there is a very dangerous virus on the 4k
developer's computer right now?

ChairmanMawh ***@***.***>, 21 Kas 2022 Pzt, 18:45 tarihinde
şunu yazdı:

[2022-11-21 17:55] nkolev92 commented on #7123
@kosist

If you're using PackageReference, and the dotnet pack or msbuild /t:pack commands, then all of this is automatically managed: https://learn.microsoft.com/en-us/dotnet/core/tools/dotnet-pack.

[2022-11-21 19:00] erdembayar commented on #12227
@rainersigwald @nkolev92

Exception is coming [here](https://github.com/dotnet/msbuild/blob/7037436dc4d2038407c8592b9e256f0cf777f20c/src/Build/BackEnd/Shared/BuildRequestConfiguration.cs#L469), should we move to msbuild repo for triage?
https://github.com/dotnet/msbuild/blob/7037436dc4d2038407c8592b9e256f0cf777f20c/src/Build/BackEnd/Shared/BuildRequestConfiguration.cs#L469

Fyi @zimbres @BenVillal

[2022-11-21 19:01] vsfeedback opened #12260 "Package Manager Console Host Version 6.4.0.111 Garbled characters"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/程序包管理器控制台主机版本-640111-乱码/10203703)._

---
程序包管理器控制台主机版本 6.4.0.111 乱码

dotnet publish 命令乱码

![2022-11-16 22 08 50.png](https://aka.ms/dc/image?name=Bd157fd5af3e24cdd90128823fb39370c638042046055504960_2022-11-16_22_08_50.png&tid=d157fd5af3e24cdd90128823fb39370c638042046055504960)

---
### O

[2022-11-21 19:04] rainersigwald commented on #12227
@erdembayar how did you determine that?

[2022-11-21 19:05] dominoFire commented on #12260
Closing this NuGet issue in favor of dotnet/sdk issue https://github.com/dotnet/sdk/issues/29151

[2022-11-21 19:05] #12260 closed, assigned to nobody

[2022-11-21 19:20] erdembayar commented on #12227
If you look into this comment https://github.com/NuGet/Home/issues/12227#issuecomment-1314513843, then you'll see below in callstack, that matches with [msbuild code](https://github.com/dotnet/msbuild/blob/7037436dc4d2038407c8592b9e256f0cf777f20c/src/Build/BackEnd/Shared/BuildRequestConfiguration.cs#L469).
![image](https://user-images.githubusercontent.com/8766776/203140699-5d9d66ee-0dbe-4d01-b81c

[2022-11-21 19:23] rainersigwald commented on #12227
@erdembayar that call stack is a different bug, tracked by https://github.com/dotnet/runtime/issues/78340. This bug is about the error

[code]

That MSBuild property function is a pretty thin wrapper around a NuGet API, which is why we routed here.

[2022-11-21 20:04] nkolev92 commented on #12227
@rainersigwald

Is there a way to the actual logs from the msbuild side?

It'd be really hard for us to investigate without a better stack trace.

[2022-11-21 23:29] zivkan commented on #12162
To anyone experiencing the problem, can you please check the permissions of files and folders that are being reported. The original issue has screenshots showing that directories had `drwxr-xr-x` permissions, and files had `-rw-r--r--`. This looks correct to me, so my best guess is to check the owner of the files and directories, which wasn't shown in the screenshot.  Check `ls -l` and see if the

[2022-11-21 23:50] deannagarcia commented on #12227
I also recently came across an issue in attempting to upgrade to .NET 7 for my qemu cross-compile to arm64. My logs aren't exactly the same, instead they say:
[code]

You can see that this [change](https://github.com/protocolbuffers/protobuf/pull/11035) should have been just a drop-in replacement and you can see the bash script for the test that's failing [here](https://github.com/protocolbuffers/

[2022-11-22 00:00] lbussell opened #12261 "NuGet.Client repo introduced Microsoft.Web.XDT prebuilts during .NET 7.0.200 source-build"
### NuGet Product Used

Other/NA

### Product Version

nuget.client commit 20be995d651808feb5cd48f30cb97197e497377c

### Worked before?

c0de924b0cfc8089f4ce1f35360cb9cddcd81138

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Build failure: https://github.com/dotnet/installer/pull/15018

Context: NuGet.Client is included in the .NET SDK. When building the SDK from

[2022-11-22 00:15] softboy99 commented on #7123
Is this available for dotnet framework project?

[2022-11-22 00:26] nkolev92 commented on #7123
It is available for PackageReference projects, https://learn.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files.

Most project types, exclude ASP.NET Framework & C++, can migrate to PackageReference, https://learn.microsoft.com/en-us/nuget/consume-packages/migrate-packages-config-to-package-reference, https://learn.microsoft.com/en-us/nuget/create-packages/creating-a-pa

[2022-11-22 00:40] jeffkl commented on #12261
Thanks for reporting, I’ll get this fixed right away

[2022-11-22 00:46] zivkan commented on #12250
@Irgy0 as I tried to explain in my comment, if the project uses PackageReference, then you can just edit the csproj with any text editor, remove the one line, and be done. Some people believe VS should do this by default, other people prefer VS validating that the new restore graph works and to block install/uninstall actions that would cause restore to fail if completed.

However, if your project

[2022-11-22 00:55] jeffkl commented on #12261
@lbussell I had searched for usages of properties in our repo but obviously I didn't realize they're used by others.  Do you know if this is the only property that we need back?  I see a few that we used to have:

https://github.com/NuGet/NuGet.Client/commit/20be995d651808feb5cd48f30cb97197e497377c#diff-02cd2ab756594450a21c2af84fa7c20ce24ed49788806320e553680f1ac48826L3-L14

Is there a definitive l

[2022-11-22 01:32] lbussell commented on #12261
Unfortunately, I don't have an exhaustive list for you. Any version properties introduced by @crummel should probably stay. I'm not seeing any more failures to restore after making the following change: https://github.com/dotnet/installer/pull/15018/commits/d238d9b6b6ffbc73ab200413d82656824edf5571.

NuGet.Client still fails to build after that change with the following error though:
[code]

Do you

[2022-11-22 02:50] kartheekp-ms commented on #12215
Customers have mentioned that they were unable to reproduce the issue on .NET 7 GA SDK. https://github.com/microsoft/artifacts-credprovider/issues/347#issuecomment-1308351905 and https://github.com/microsoft/artifacts-credprovider/issues/347#issuecomment-1309075757 cc @ransagy @arknu.

Unfortunately, I can't reproduce the issue on my end. I searched for any race conditions in the code that that co

[2022-11-22 04:44] moh-hassan commented on #7463
Is there any progress. :)

[2022-11-22 09:03] Smartisa opened #12264 "How to use nuget API to judge that these dependencies have build errors?"
### Discussed in https://github.com/NuGet/Home/discussions/12263

<div type='discussions-op-text'>

<sup>Originally posted by **Smartisa** November 22, 2022</sup>
For example, enter:
` <PackageReference Include="Flips" Version="2.4.3" />
    <PackageReference Include="CenterSpace.NMath.Standard.Windows.X64" Version="7.4.0.16" />`

NuGet API can return:
`NU1107 ERROR`</div>

[2022-11-22 09:21] kosist commented on #7123
msbuild allows to build one nuget per project. In my case, I'd like to pack multiple projects into single nuget. Is it still possible to pull project's dependencies into that nuget please?

[2022-11-22 09:26] Christian-GB-DE commented on #5556
Needs this feature also for our lib. Are there any official solutions?

[2022-11-22 09:41] sylvainonweb commented on #12015
+1 same as others

[2022-11-22 11:49] ransagy commented on #12215
The only thing im worried about is that we aren't aware that there was anything to change/fix the scenario between 7 RC2 and GA, which is suspicious. Otherwise, yes, haven't come across the issues again since 7 GA was installed.

[2022-11-22 12:10] shuebner opened #12265 "NU5104 false positive when using the workaround from #6434"
### NuGet Product Used

dotnet.exe, MSBuild.exe

### Product Version

17.4.0+18d5aef85

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Add a `PackageReference` with the pre-release exclusion workaround from #6434 (an issue that is now even linked to in [the official documentation](https://learn.microsoft.com/en-us/nuget/concepts/p

[2022-11-22 12:15] shuebner commented on #6434
Since even [the official documentation](https://learn.microsoft.com/en-us/nuget/concepts/package-versioning#version-ranges) now links to this old issue, I will amend the workaround proposed here.

Specifying an open range like `[2.1.0, 3.0.0-0)` will trigger [NU5104](https://learn.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu5104) because a pre-release version is mentioned.
The check

[2022-11-22 14:56] dgxhubbard opened #12266 "Why does my project.assets.json file have packages that are not even used in the project"
### NuGet Product Used

dotnet.exe

### Product Version

7.0.100

### Worked before?

none

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

I have a project file which is attached. The project file lists the nuget packages that are used.
When project.assets.json is generated there are references to Azure.Core, Azure.Identity, Telerik.Reporting and System.Data.SqlClient.

[2022-11-22 17:42] dgxhubbard commented on #12266
I found out where Sql.Data.SqlClient is coming from. It was not included in Foo.csproj, and Azure.Identity and Azure.Core come from Microsoft.Data.SqlClient.

[2022-11-22 17:42] #12266 closed, assigned to nobody

[2022-11-22 17:55] anangaur commented on #12005
/cc: @baronfel for discussions around pack analyzers or dotnet new templates

[2022-11-22 18:24] ddbtrmatic commented on #5358
Things I've tried without any luck, based on the solutions provided in this issue.

Environment:
Windows 10
Visual Studio 2022
Docker Desktop 4.14.1
Using linux containers

Create new project WebApplication1 from asp core 6 template with docker support
`cd WebApplication1/WebApplication1`
`docker build -f Dockerfile ..`

Results:

` => ERROR [build 4/7] RUN dotnet restore "WebApplication1/WebAppli

[2022-11-22 18:36] nkolev92 commented on #7123
https://github.com/NuGet/Home/issues/3891 is tracking the work of packing multiple projects and there are some workarounds there.
There's a proposal for that, but there's also a good amount of feedback why this should be done with a lot of care: https://github.com/NuGet/Home/pull/11708#pullrequestreview-1049965684.

[2022-11-22 18:47] kartheekp-ms commented on #12215
I totally agree with you. Looking at the commit history https://github.com/NuGet/NuGet.Client/commits/release-6.4.x the only difference is .NET 7 GA has one commit extra when compared to .NET 7 RC2. AFAIK https://github.com/NuGet/NuGet.Client/commit/125f673fd1cdb3cc012f62aa3ce764d2460b89eb commit related to package signature verification but not related to credential provider issue.

![image](http

[2022-11-22 18:50] #9621 closed, assigned to nobody

[2022-11-22 18:50] #9622 closed, assigned to nobody

[2022-11-22 18:51] kartheekp-ms commented on #12159
Another NuGet's CI build also failed with this error message while [running cross verify tests job](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=6997210&view=logs&j=0caed565-dcc2-5613-b65c-1dbd87b73411&t=6e5c9ba3-eccb-5294-9708-377fa554607c&l=11).

[code]

[2022-11-22 18:59] marcpopMSFT commented on #12173
@zivkan can we sync up next week to discuss ideas on how to handle this better in the dotnet repos?

[2022-11-22 22:11] kartheekp-ms commented on #12215
I think I found the root cause of this issue. For some reason when I execute `dotnet restore` on `.NET 7 RC2` SDK the task manager still has `dotnet.exe` process hanging around.

![image](https://user-images.githubusercontent.com/52756182/203430396-77b6c9a3-cdce-4062-8b19-dee2f96f63de.png)

When I execute my sample project on .NET 7 GA there is no `dotnet.exe` process hanging around after restore

[2022-11-22 23:34] AraHaan commented on #5358
check if the nuget.org source is enabled, sometimes things might randomly disable it in the background.

[2022-11-22 23:38] skofman1 opened #12267 "When using CPM, VS PM UI "Consolidate" tab shows "No packages found""
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

17.5 Preview 2

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

On a project that uses CPM, open Solution PM UI and navigate to "Consolidate" tab. The message shows "No packages found", which is not  correct. We should either hide the tab completely, or ch

[2022-11-23 00:31] #12246 closed, assigned to zivkan

[2022-11-23 00:40] nkolev92 opened #12268 "Merge NuGetConsole.Host.Powershell into NuGet.PackageManagement.PowershellCmdlets"
nuget.packagemanagement.powershellcmdlets.csproj is only referenced in NuGet.Tools, NuGet.VisualStudio.Client and NuGetConsole.Host.Powershell

nugetconsole.host.powershell.csproj is only referenced in NuGet.VisualStudio.Client and NuGetConsole.Host.Powershell.Test.csproj

These 2 assemblies always come hand in hand and as such there's no need for them to be separate and pay the cost for loading a

[2022-11-23 03:57] dominoFire commented on #9476
Got hit by this test in a private run

https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=7000949&view=logs&j=35fd8e9c-c657-57a4-085d-6f9cd010d4b2&s=15b9481b-7425-558a-0ea3-f3c852e48746&t=fe374095-4dab-523b-315b-414b8de0f050&l=546

[2022-11-23 06:37] v-luzh commented on #12236
OK, we will pay attention to include the source selection into our screenshot next time. Yes, it's nuget.org in this case. Updated the steps.

[2022-11-23 06:48] steephan-s1 commented on #12241
Hi @erdembayar,
I tried to build in local using CMD even though its throwing same error:

[errorlog.pdf](https://github.com/NuGet/Home/files/10073267/errorlog.pdf)

[2022-11-23 07:21] colmabe commented on #12075
We experienced this issue as well, our project uses azure artifacts as a feed with nuget.org as a upstream. For us the build passed if we downloaded all packages that responded with NotFound above in the log to our azure artifacts feed.

Is it possible to make the error message from nuget more descriptive that it may be because of failed downloads?

[2022-11-23 07:58] dominoFire commented on #12236
Reproduced in a recent IntPreview

![image](https://user-images.githubusercontent.com/1192347/203496316-5fce594f-e27c-4bb3-9695-3731815bd3f8.png)

[2022-11-23 08:59] heifer1981 commented on #12015
+1 please team we have private CI/CD and some form of override would be very helpful!

[2022-11-23 10:16] marcin-krystianc opened #12269 "Performance regression of NuGet restores in the sdk v7.0.100 due to calculation of "CentralTransitiveDependencyGroups""
### NuGet Product Used

dotnet.exe

### Product Version

7.0.100

### Worked before?

6.0.400

### Impact

I'm unable to use this version

### Repro Steps & Context

NuGet restore got considerably slower due to changes in how the `CentralTransitiveDependencyGroups` is calculated (https://github.com/NuGet/NuGet.Client/pull/4669.
For some of our internal solutions (which, unfortunately, we cannot sh

[2022-11-23 10:31] marcin-krystianc opened #12270 "PrivateAssets flow incorrectly to transitively pinned centrally managed dependencies"
### NuGet Product Used

dotnet.exe

### Product Version

7.0.100

### Worked before?

no

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

For project:
[code]
and `Directory.Packages.props`:
[code]

The expected content of `centralTransitiveDependencyGroups` is:
[code]
, but the SDK 7.0.100 produces empty `centralTransitiveDependencyGroups`.

PS:
I'm going to submit a PR

[2022-11-23 11:05] z1y1m1 commented on #10290
手动下载nuget.org的证书，然后添加到系统的受信任证书就可以了
![Uploading 59516-20220922104344478-1459811668.png…]()

[2022-11-23 13:39] ransagy commented on #12215
Good call on the hanged processes, didn't even think looking at that. Let me know if you want me to try and confirm it on my end as well. Otherwise, i agree, seems to have been more a general issue.

[2022-11-23 18:00] kartheekp-ms commented on #12215
That would be great. Thank you. I am closing this issue now. If you observe a different behavior, please add a comment so that I ca reopen it.

[2022-11-23 18:00] #12215 closed, assigned to kartheekp-ms

[2022-11-23 18:55] erdembayar commented on #6938
@AArnott
1. I'm trying to tackle this issue. But I was not able to reproduce this issue on my local.
When I pack the [refissue.zip](https://github.com/NuGet/Home/files/2009553/refissue.zip) project then resulting nuspec file looks like this. Isn't it expected result already?

[code]

2. I tried to pack related case:
[code]

Here is nuspec generated on my local. Is it expected output or not? If not

[2022-11-23 20:24] AArnott commented on #6938
Thank you for looking, @erdembayar. I don't know why, but the original repro seems to not happen with the current SDKs. But the problem is still there. It (for whatever reason) just requires a _different_ dependency package.

I can repro with this: [refissue.zip](https://github.com/NuGet/Home/files/10078961/refissue.zip)

I can also modify it to the second case and as per the bug, the dependency d

[2022-11-23 21:26] donnie-msft opened #12271 "VS Options - Package Source Mapping should ordered after Package Sources"
Since Package Sources are generally added first and are used more frequently, let's move Package Source Mapping below that in the VS Options.
![image](https://user-images.githubusercontent.com/49205731/203648691-03974eed-e290-425f-8631-294acaab2455.png)

[2022-11-24 03:05] Nirmal4G commented on #8098
We now have `GlobalPackageReference` doing the same thing. @jeffkl implemented this.

[2022-11-24 04:51] shuebner commented on #6434
And again for future readers: I ended up adding a target in my root `Directory.Build.targets` file that restricts all direct package dependencies to their current major version.

This is the main part:
[code]
A version that is also compatible with central package management can be found on [my gists](https://gist.github.com/shuebner/b5a392176c0791e73990db85bdedbf3f).

It works by replacing all spe

[2022-11-24 06:26] v-longmin commented on #12117
@heng-liu We verified it on Dotnet 7.0.101, it works well, thanks.

[2022-11-24 07:02] #12268 closed, assigned to nkolev92

[2022-11-24 16:49] ibe-SAG opened #12272 "Visual Studio 2022 17.4.1, Package manager UI incorrectly selects package version for update, which is unsupported by project configuration"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Visual Studio 2022 17.4.1

### Worked before?

unknown

### Impact

It's more difficult to complete my work

### Repro Steps & Context

you can use my test project:
https://github.com/ibe-SAG/VS-Issues/tree/main/NugetUpdateIssue

or reproduce manually

1. create c# console project
2. edit .csproj file an set
    `<Pl

[2022-11-25 00:09] teo-tsirpanis commented on #12240
The problem is that `Microsoft.Data.SqlClient` is referencing some really old packages that transitively bring the vulnerable package, and these dependencies can be just removed. I opened dotnet/sqlclient#1849 that will fix this.

[2022-11-25 10:33] DarthSonic opened #12273 "VS 17.4.1 => Get-Project –All | Add-BindingRedirect => Object reference not set to an instance of an object"
### NuGet Product Used

Visual Studio Package Manager Console

### Product Version

17.4.1

### Worked before?

unknown

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Open Package Manager Console
2. Run "Get-Project –All | Add-BindingRedirect"
3. Result is:

[code]

### Verbose Logs

_No response_

[2022-11-27 04:59] nickhoeferpickpro commented on #7092
Agreed! I have been spending the last couple days trying to figure this out. I did something like this to achieve a similar effect.
I borrowed the idea from @thesushil here https://github.com/NuGet/Home/issues/9891

<Target Name="DeleteLocalCache" BeforeTargets="Pack">
  <RemoveDir Directories="$(NugetPackageRoot)$(PackageId.ToLower())\$(version)" />
  <Message Text="Cleaning $(NugetPackageRoot)$(

[2022-11-27 05:02] nickhoeferpickpro commented on #7092
I think https://github.com/NuGet/Home/issues/6579 is related.

[2022-11-27 05:04] nickhoeferpickpro commented on #9891
I have been spending the last couple days trying to figure this out. I did something like this to achieve a similar effect.
I borrowed the idea from @thesushil

[code]

If anyone knows a more elegant way to handle this, I'm all ears. Changing version numbers each time just for local development is just silly. semver is great and everything but we shouldn't be forced to adhere to it just for the sa

[2022-11-27 05:07] nickhoeferpickpro commented on #6579
I have been spending the last couple days trying to figure this out. I did something like this to achieve a similar effect.
I borrowed the idea from @thesushil from https://github.com/NuGet/Home/issues/9891

[code]
If anyone knows a more elegant way to handle this, I'm all ears. Changing version numbers each time just for local development is just silly. semver is great and everything but we shoul

[2022-11-28 11:00] marcin-krystianc opened #12274 "Include flags flow incorrectly to transitively pinned centrally managed dependencies"
### NuGet Product Used

dotnet.exe

### Product Version

7.0.100

### Worked before?

no

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

The [graph flattening procedure](https://github.com/NuGet/NuGet.Client/blob/dfe13cc99d13de74f41e9cff35600a2c8958aac1/src/NuGet.Core/NuGet.Commands/RestoreCommand/Utility/IncludeFlagUtils.cs#L67) doesn't work correctly for centrally man

[2022-11-28 12:58] ViktorHofer commented on #3891
`AnalyzerReference` was never intended to be productized, it was only added for our own use dotnet/runtime. Such a feature would need to be implemented by NuGet as it affects their Pack task. FWIW in dotnet/runtime we don't use `AnalyzerReference` anymore and just use `ProjectReference` plus the `PackAsAnalyzer=true` metadata, i.e.: https://github.com/dotnet/runtime/blob/aae8758e39f00185c1fdf436a8

[2022-11-28 17:39] #2345 closed, assigned to jeffkl