[2015-10-16 04:06] AArnott commented on #1587
In the packages.config world, installing the Microsoft.Bcl.Build package has the effect of adding an import. But it does so through a .ps1 install script rather than the standard NuPkg build folder convention. In the project.json world the .ps1 scripts don't run at all (by design). Is this a bug in the Microsoft.Bcl.Build package then in that we need to ship another version of it that doesn't rely

[2015-10-16 04:19] yishaigalatzer commented on #300
Pushing a package that will only work on Paket is definitely a worse approach than making something that works everywhere. Yes it is harder today, and perhaps the answer is to eventually port nuget 3 down to 2013. The answer today is to use targets for down level visual studio support like win2D package does.

And as for implodes on any real-world project, I suggest filing issues, with as much det

[2015-10-16 05:04] davidfowl opened #1588 "Merge dnu restore features into NuGet's project.json restore"
[Updated by @emgarten 2016-03-04]

We need to unify the logic in `dnu restore` and nuget's project.json restore so that they can be used interchangeably without issues. This issue is the uber issue to track that work:

We need this in nuget.exe for full .NET and nuget.exe xplat
## P0 (Dec 11)
- [X] - Make nuget xplat restore command work on xplat on coreclr - @davidfowl
- [x] - Run a set of tests

[2015-10-16 05:30] emgarten commented on #1586
Try using _nuget.exe restore Roslyn.sln -DisableParallelProcessing_

It might also help to use nuget.exe 3.2.1-rc, it contains a fix for package download timeouts during project.json restore.

Right now nuget.exe runs all project restores in parallel which is likely the cause of this since roslyn has so many projects. DisableParallelProcessing will force it to restore a single project at a time.

[2015-10-16 05:50] Sivaani commented on #974
Excellent csharpfritz. Worked for me. Thank you so much for sharing this.

[2015-10-16 06:12] bigcat8828 opened #1589 "Nuget.exe sources add does not work if nuget.config does not have proper section"
The sources add command does not add the package source into the nuget config if the nuget.config  doesn’t already have both a <clear/> element and an existing package source. The command output of sources add is "package sources added successfully", while there is no package source added at all.

How to repo:
1. Change the nuget.config to only including following
`<?xml version="1.0" encoding="ut

[2015-10-16 06:18] stavnskov commented on #543
We are really missing this a lot.
What is the plan here? It was added to milestone 3.1.0, but still open.

[2015-10-16 06:31] maartenba opened #1590 "Package redirects"
_From @SimonCropp on October 16, 2015 5:0_

In many cases people want to rename a package. ATM there is no easy way to do this, you basically have to release a broken version of the old package with some kind of message to move to the new package. It would be nice to have this handled in a more seamless way by nuget.

If you are willing to hack many things in the nuget toolset then you can handle

[2015-10-16 06:31] maartenba commented on #1590
_From @yishaigalatzer on October 16, 2015 5:4_

That's something I've been wanting for a while for a few more scenarios.

This issue should go to the home repo, as it is not a server issue.

Worth a good discussion to cover all the scenarios (both tooling and user scenarios).

Thanks!

[2015-10-16 06:31] maartenba commented on #1590
_From @SimonCropp on October 16, 2015 5:9_

@yishaigalatzer is there an existing issue tracking it? or should i move this to the home repo?

[2015-10-16 06:31] maartenba commented on #1590
_From @yishaigalatzer on October 16, 2015 5:15_

Move it. This is something I wanted as a nuget customer. But I don't believe it is tracked on github

[2015-10-16 07:52] csabar commented on #1470
I tried different versions of entity framework, but only downgrade from 6.1.3 to 6.1.2 helped. And it worked just for one day... I tried reinstalling the NuGet few days ago. Now I have version 3.2.60914.10516. I'm not sure what you mean by reinstalling both 3.0 and 3.2. I think I have just the 3.2 version

![image](https://cloud.githubusercontent.com/assets/3233968/10536302/4b63e242-73ea-11e5-937f

[2015-10-16 10:42] mikasoukhov commented on #1542
Is the any option to set folder's name in creating package? I mean via API.

[2015-10-16 16:17] yishaigalatzer commented on #1542
Can you be more specific? What are you trying to do? What APIs are you referring to?

[2015-10-16 17:35] carlin-q-scott commented on #986
Are you guys sure that solution level packages aren't supported in NuGet 3.0? The linked issue specifically says "**legacy** solution level packages".

I also have this problem using NuGet 2.8 in VS2013 with a legacy solution level package but if I [migrate the solution](https://github.com/owen2/AutomaticPackageRestoreMigrationScript) to using the [new NuGet restore method introduced in 2.7](https

[2015-10-16 17:53] wilson0x4d opened #1591 "Package Manager Console and nuget.exe UPDATE function are inconsistent"
When performing "Package-Update -Source FEEDB" from Package Manager Console we see that packages from sources _other than the specified source_ are pulled.

This is **undesirable behavior**.

When performing "nuget.exe update" from the command-line we see that packages from sources other than the specified source **are NOT pulled.**

This is **desired** behavior.

I realize backward compatibility

[2015-10-16 17:59] davkean commented on #1586
This looks like it corrupted the package cache - I have zero byte files in certain packages.

[2015-10-16 18:25] mikasoukhov commented on #1542
Trying to do packet via API.

Now I'm using the followed code:

var builder = new PackageBuilder();
builder.PopulateFiles(filesDir, new[] { new ManifestFile { Source = "**" } });
builder.Populate(manifest);

But files adds into the root folder. How I can set subfolder's name (net40 for example).?

[2015-10-16 18:40] wilson0x4d commented on #1181
As of "3.2.0.10516" this still appears broken. Is the expectation that '10516' has the intended behavior or are we still waiting for an updated VSIX?

Thanks.

[code]

[2015-10-16 18:43] yishaigalatzer commented on #1591
This makes sense, but there is a reason behind the current behavior in the powershell console, and in fact this is desired by many users. Perhaps the right answer is to have two different flags to control the behavior.

Example:
I have a private package depending on a public package. Specifying update-package from that source will try to pull in a new version of the package, but will fail because

[2015-10-16 18:46] emgarten commented on #1586
What version of nuget.exe are you using? 3.2.1-rc has fixes for several issues around global package folder corruption.

https://dist.nuget.org/win-x86-commandline/v3.2.1-rc/nuget.exe

[2015-10-16 18:52] wilson0x4d opened #1592 "VS2015 Package Manager does not have "Restore All" function as seen in VS2013 or prior"
In VS2013 it is possible to use the Package Manager (not the Console, the full UI) to perform an update of all packages from a specific source, and ONLY from that source.

This was accomplished by selecting the target Source on the left-side of the package manager in the "Update" group. Once the UI finished updating package states an "Update All" button would appear. Clicking the button updated al

[2015-10-16 19:03] yishaigalatzer commented on #1590
Here is a strawman for user scenarios

### User Scenarios for redirect
1. A package name has changed, and as a package owner I want the users to know where to get the new package
2.  A package was deleted (e.g. infringement of rights), and an alternate official package is available
3. An unofficial package wants to retire because an official package was introduced
4. A package is no longer relevan

[2015-10-16 19:04] wilson0x4d commented on #1591
It would be desirable to be warned that a package from 'other source' was not updated, because it's from 'other source' (only when a compatible version is already available on disk.) Or, when not already on disk (e.g. requires a fetch) result in an error that a required package/dependency could not be satisfied.

If the end-user really wanted to update from all sources, he could specify the additi

[2015-10-16 19:07] wilson0x4d commented on #1591
I will reiterate that nuget.exe (latest, 2.8.6) does not fetch from sources which were not specified by -Source parameter. It also does not error so long as dependencies are already satisfied.

[2015-10-16 19:08] darrelmiller opened #1593 "Visual Studio User Interface should have a "recently used packages" view"
In this [blog post](http://blog.nuget.org/20151014/nuget-userinterface.html) we see the latest revisions to the VS nuget UI.  Currently there are three views "Browse", "Installed" and "Updated".
The "Browse" view currently displays a list of the most popular packages based on the number of downloads.

My experience is that this list very rarely contains the package that I wish to install in my app

[2015-10-16 19:11] wilson0x4d commented on #1591
I should also note that VS2013 Package Manager (not the console) exposes an "Update All" button that behaves in the way I've described (see Issue #1592 -- which describes a regression of behavior in VS2015 v. VS2013)

[2015-10-16 19:21] yishaigalatzer commented on #1593
@darrelmiller that's a fantastic idea, thanks!

[2015-10-16 19:22] #1592 closed, assigned to nobody

[2015-10-16 19:23] yishaigalatzer commented on #1592
This is a duplicate of https://github.com/NuGet/Home/issues/1504. We are actually going not only to bring back the behavior but improve it (so you can multi select packages and update a subset)

[2015-10-16 19:23] daveaglick commented on #1593
I also really like this idea. An alternate (possibly complementary) idea might be to star/favorite repositories and have those show up first or in a seperate view.

[2015-10-16 19:26] csharpfritz commented on #1593
I wonder if this is a setting we could persist with the roaming Visual Studio  preferences.

[2015-10-16 19:33] wilson0x4d commented on #1504
Can we have this feature structured such that we can perform a "select all" without having to scroll. Probably common-sense, but want to make sure we get a 3.3.x delivery that doesn't have a usability issue because it wasn't noted here.

The company I'm currently working for (and two prior, for that matter) has a few dozen packages, hundreds of solutions that depend on them. I can see manually sel

[2015-10-16 19:37] darrelmiller commented on #1593
@daveaglick Favourites would work too.  It would just be a tradeoff between effort and control on the part of the user.  I'll let the usability experts make that call :-)

[2015-10-16 19:48] emgarten opened #1594 "Fix broken uninstall content tests"
After re-enabling packagemanagement tests that were disabled due to signing test assemblies the following tests failed.

TestMSBuildNuGetProjectUninstallContentFiles
TestMSBuildNuGetProjectInstallUninstallEscapedCharactersFiles

[2015-10-16 19:56] emgarten opened #1595 "Re-enable disabled command line tests"
Re-enable command line tests which have [Fact(Skip = "Disable because breaking the signed build")]

Test assemblies should not be signed.

[2015-10-16 20:20] yishaigalatzer commented on #1589
Thanks for reporting it, for the completeness of this report, what version of nuget.exe are you using.

[2015-10-16 20:43] yishaigalatzer commented on #1586
@davkean NuGet 3.2.1-rc should resolve the corruption, and will override such package folders that might have broken halfway through restore.

[2015-10-16 21:40] zjrunner commented on #1406
For clarity, are you tracking this workitem to mean -NoCache should download the package each time, but it will not impact expansion into the GlobalPackagesDirectory (profile.nuget) -- that will continue to happen even with -NoCache?  Trying to decide if I need to open another workitem to avoid always expanding into GlobalPackagesDirectory or if it is addressed here.

[2015-10-16 21:44] emgarten opened #1596 "Shared content support"
Spec: https://github.com/NuGet/Home/wiki/%5BSpec%5D-Shared-content-for-project.json
- [X] Content model and nuspec support for shared content
- [X] Lock file support
- [X] nuget.exe package support for shared content
- [X] Wild card support for shared files in nuspec

[2015-10-16 21:45] yishaigalatzer commented on #1406
We should probably cover it here in one go - Updated the top comment
- [ ] NoCache should download the package, and store it in the cache
- [ ] NoCaching should download the pacakge but not write it into the cache - Debate the name and the flags before making the change

[2015-10-16 21:46] emgarten commented on #1568
NuGet/NuGet.Client@05c53d7e7630503607f79068f2dfafd1ea88b3c0

[2015-10-16 21:46] #1568 closed, assigned to emgarten

[2015-10-16 22:16] bigcat8828 commented on #1589
This happens in both nuget 2.8 and 3.x

[2015-10-16 22:19] davkean opened #1597 "NuGet package fails to load often with the Roslyn solution"
NuGet package often fails to load with the Roslyn solution, I was under the impression it might have been my hacked up install at work, but I experienced the same thing with the same issue today at home with a clean RTM install.
1. In my case, the package failed to load when I right-click on the Solution and choose Rebuild

Looking in the activity log, I see:

[code]

[2015-10-16 22:24] emgarten commented on #1597
This looks related to https://github.com/NuGet/Home/issues/1529

[2015-10-16 22:49] johnataylor commented on #1591
The behavior is that the package you are targeting is pulled from the source specified but the other enabled sources are considered for dependencies. We would want to keep this as the default behavior however we could consider some flags to control this.

We've recently fixed a couple of bugs around update-package when you have prerelease packages in the mix. This was a regression from 2013. See #

[2015-10-16 23:11] #1545 closed, assigned to johnataylor

[2015-10-16 23:11] #1466 closed, assigned to johnataylor

[2015-10-16 23:12] #1370 closed, assigned to johnataylor

[2015-10-16 23:18] davkean commented on #1597
Yep, certainly does. I've been trying to get a debugger attached to catch it, but so far been unsuccessful. Difference here though, is I have a solution open.

[2015-10-16 23:33] #1594 closed, assigned to deepakaravindr

[2015-10-17 02:20] #1586 closed, assigned to yishaigalatzer

[2015-10-17 10:35] herecydev commented on #1593
I think favourites makes the most sense. :+1: would definitely like this.

[2015-10-17 14:00] davidfowl opened #1598 "VersionRange.Parse ends up with weird Minor version string"
![image](https://cloud.githubusercontent.com/assets/95136/10559099/a6548f3c-749c-11e5-8f2b-ab4da0f4040a.png)

[code]

formatted prints "1.0.0---"

/cc @emgarten

[2015-10-17 14:46] davidfowl opened #1599 "Put dependency diagnostics in the lock file"
Today the DNX has a rich set of diagnostics that are computed from the lock file on compile and inside of design time host (and it should also do that after restore is complete but it doesn't today). These diagnostics are super useful and are used for things like:
- Unresolved dependencies
- Mismatched dependencies
- Incompatible dependencies

If we stored all of the diagnostics in the lock file,

[2015-10-17 15:39] 304NotModified commented on #1593
:+1:

[2015-10-17 17:05] davkean commented on #1586
I verified a private build that @yishaigalatzer, I'm pretty confident it fixes the issue - I ran it constantly overnight - blowing away the package cache each time, and it never failed.

[2015-10-17 18:22] emgarten commented on #1598
That's the lowest possible inclusive 1.0.0 pre-release version since an empty release label would mean it is stable. Alternatively the highest exclusive min version is 0.MaxInt.MaxInt.

[2015-10-17 22:00] davidfowl opened #1600 "NuGetFramework.Version isn't normalized"
[code]

The version  = 4.5.1.0 instead of 4.5.1

[2015-10-18 00:05] davidfowl commented on #1598
Nah this is wrong. If you look at the break down this is what it looks like:

Major = 1
Minor = 0
Patch = 0
Release = "-"

Why is the relese portion "-", it's supposed to be empty

[2015-10-18 00:22] yishaigalatzer opened #1601 "Optimize GetProjectReferences in nuget.exe restore command"
We spin off msubild.exe per project, this takes a very long time. We should look at the ability to run the P2Ps once per solution, instead of once per project.

We spin off msbuild with the following parameters for each project –
"/t:NuGet_GetProjectsReferencingProjectJson /nologo /nr:false /v:q /p:BuildProjectReferences=false /p:CustomAfterMicrosoftCommonTargets=C:\Users\yigalatz\AppData\Local\Te

[2015-10-18 00:44] Suchiman opened #1602 "NuGet denies the existance of packages"
I had this problem already in the preview of VS2015 but it vanished when i reinstalled the machine for VS2015 RTM.
But now it's back and therefore i must open this issue :stuck_out_tongue:
Running VS2015 Update 1 CTP and NuGet 3.2.0 i added the roslyn nightly feed and found that a few packages which must exist, according to the myget page, but simply weren't listed.
I fired up fiddler to see what'

[2015-10-18 00:55] yishaigalatzer commented on #1602
@maartenba, this looks like a myget problem rather than a nuget client problem. Can you please take a look?

@Suchiman do you see the same issues with the V2 myget feed?

[2015-10-18 01:07] Suchiman commented on #1602
@yishaigalatzer
I had this problem also on the offical feed, i uninstalled System.Data.SQLite.Core and tried to reinstall it but it told me it couldn't find it so i went out and deleted everything that looked like a nuget cache directory and then it worked again, but this didn't fix the problem with roslyn.

Yes the v2 feed also seems to be broken.

Here's the search request (when typing in VS), o

[2015-10-18 01:11] emgarten commented on #1598
If release were empty it would be 1.0.0 (stable). Of the characters allowed in a semantic version release label hyphen is the lowest, so this is the lowest possible release label that can be inclusive for the range >= 1.0.0-*

[2015-10-18 01:17] yishaigalatzer commented on #1602
Can you try nuget3.2.1 from https://dist.nuget.org/index.html ?

Sorry on the road, and can't dig deeper immediately, but we made some improvements that _might_ help, no promises though :)

Sent from my Windows Phone

---

From: Robin Suemailto:notifications@github.com
Sent: ‎10/‎17/‎2015 6:07 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject:

[2015-10-18 01:19] emgarten commented on #1598
Also, an empty release label would be an invalid semantic version. We could take a look at allowing it to solve this problem however.

[2015-10-18 01:26] Suchiman commented on #1602
I've installed •VS 2015 VSIX (v3.2.1-rc) but there's no difference (tried v2 and v3)

[2015-10-18 01:28] emgarten commented on #1598
From SemVer.org:

[2015-10-18 01:50] yishaigalatzer commented on #1602
Thanks for giving it a try. Hard to tell since im on my phone if you have the details below or not.

Can you share a nuget.config and sample project and I'll try it when I get home?

Sent from my Windows Phone

---

From: Robin Suemailto:notifications@github.com
Sent: ‎10/‎17/‎2015 6:26 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [H

[2015-10-18 03:54] Suchiman commented on #1602
My `C:\Users\Robin\AppData\Roaming\NuGet\NuGet.config` is as follows:

[code]

To reproduce then, just create a new .NET 4.6 console application, open the package manager console and try to `Install-Package Microsoft.CodeAnalysis.Scripting.CSharp -IgnoreDependencies`

[2015-10-18 04:19] davidfowl commented on #1598
Ok I'm still convinced this is broken

[2015-10-18 05:25] davidfowl commented on #1598
@emgarten Remember I'm just talking about the min version part of the overall version. The min version part is `1.0.0`, the overall version is `1.0.0-*`

[2015-10-18 05:53] briandrennan opened #1603 "Global Package Management"
Would love to have a global package management feature for designating a single spot on the hard drive, and NuGet using that as the default for any package downloads, as well as any project references. Would make it much easier to manage packages across projects without having to download them 37 times. SSD space isn't cheap man!

[2015-10-18 05:55] #1603 closed, assigned to nobody

[2015-10-18 08:39] maartenba commented on #1602
~~What does it output if you omit the -IgnoreDependencies ?~~
~~Also you mentioned this is also an issue against NuGet.org, if you happen to have a Fiddler trace there that'd be awesome~~

The `Microsoft.CodeAnalysis.Scripting.CSharp` package is a prerelease package, which means the `-Prerelease` switch must be passed. How does this work?

`Install-Package Microsoft.CodeAnalysis.Scripting.CSharp -

[2015-10-18 11:22] andyhammar commented on #1572
I had the same problem and 3.2.1-rc fixed it for me! Thanks a lot. Was on 3.2.60.... (3.2.0)

[2015-10-18 11:43] maartenba opened #1604 "Global Package Management"
_From @briandrennan on October 18, 2015 6:5_

Hi,

I see there's support for a single download repository on the hard drive in the NuGet docs, but there is no (good) way to let that location be the one referenced by the package manager when you're working on a project. Would like to see support for global package management on the local client, with support for networked drive and server paths so

[2015-10-18 11:43] maartenba commented on #1604
_From @briandrennan on October 18, 2015 6:12_

By the way, I wouldn't mind working on this one myself if the community agrees it would be a good feature.

[2015-10-18 14:38] Suchiman commented on #1602
@maartenba
oh, sorry, my bad, i'm not used to the package manager console, it works that way.
Though even after installing the package, nuget is apparently unable to find this package in the UI if i search for `All` packages but lists it if i search for `Installed`.
![2015-10-18_16-35-55](https://cloud.githubusercontent.com/assets/7110884/10564491/96db5f0c-75b6-11e5-9009-6ab561da0e46.gif)

EDIT: s

[2015-10-18 15:14] yishaigalatzer commented on #1602
Looks like you are missing allowprerelase or -pre

[2015-10-18 15:49] Suchiman commented on #1602
@yishaigalatzer not sure if you could see the animated gif in your mail application but i've checked `Include prerelease`

[2015-10-18 15:56] yishaigalatzer commented on #1602
But the command you are running is missing the flag -prerelease

Sent from my Windows Phone

---

From: Robin Suemailto:notifications@github.com
Sent: ‎10/‎18/‎2015 8:49 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] NuGet denies the existance of packages (#1602)

@yishaigalatzerhttps://na01.safelinks.protection.outlook.com/?url

[2015-10-18 16:02] Suchiman commented on #1602
@yishaigalatzer yes, @maartenba pointed that out and i wrote that the `Install-Package Microsoft.CodeAnalysis.Scripting.CSharp -IgnoreDependencies -Prerelease` works correctly though the UI still behaves oddly.

[2015-10-18 16:08] yishaigalatzer commented on #1602
my bad, I didn't understand that it did work for you in powershell, ok taking a look.

[2015-10-18 16:52] yishaigalatzer commented on #1602
Looks like the package is filtered out by the TFM filter. I need to dig some more.

[2015-10-18 16:57] yishaigalatzer commented on #1602
So I see what is going on, this indeed looks like a myget issue. The package has a dotnet lib folder, which is compatible with net4.6, but myget thinks it is not and filters out the package.

@maartenba can you please validate my assumption, close this issue here and take it to the myget folks :)

[2015-10-18 17:13] maartenba commented on #1602
Will do! Btw do we have an updated NuGet.Core that has this compatibility defined?

[2015-10-18 17:18] yishaigalatzer commented on #1604
There are two ways to support this, but I would definitely not recommend it to be used across a team, you are opening yourself up to all kinds of trouble (imagine a team member replacing a package on a test project).
1. You can define in nuget.config a package folder (for packages.config scenario). There are people using it across projects, but the cleanup feature will get in your way (because the

[2015-10-18 17:35] yishaigalatzer commented on #1597
@davkean can you install 3.2.1-RC it solves at least on of these issues. You got to love the ActivityLog for this :)

[2015-10-18 18:20] emgarten commented on #1598
1.0.0-beta would not satisfy  >= 1.0.0, the range needs the actual minimum possible pre-release version for 1.0.0.

[2015-10-18 18:54] emgarten commented on #1598
We can make VersionRange understand this and return a min version of 1.0.0, the MinVersion property just couldn't be used by itself as the actual minimum.

[2015-10-18 18:58] #1386 closed, assigned to emgarten

[2015-10-18 19:05] emgarten commented on #1602
Take a look at the compatibility tests: https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Core.Tests/NuGet.Frameworks.Test/CompatibilityTests.cs

[2015-10-18 19:15] emgarten commented on #1358
This is in nuget.client for 3.3.

[2015-10-18 19:15] #1358 closed, assigned to emgarten

[2015-10-18 20:36] davidfowl opened #1605 "NuGet install -g"
As part of the feature set dnu provides, it is possible to package .NET exe's and have them installed and exposed on the PATH (similar to chocolatey). This is a way to distribute global tools in a cross platform friendly way similar to npm install -g.

[2015-10-18 21:22] briandrennan commented on #1604
I thought the idea was that NuGet would manage the dependencies on a per-project basis? I understand having a local config to the solution folder - that part we're sort of doing (on new development where we use nuget), but as a colleague pointed out to me, it would just be a nice feature to have a global folder for downloads so that common ones aren't duplicated across the file system. I know simp

[2015-10-19 03:39] zhili1208 commented on #1470
looks like it's not related to entityframework and nuget verison(3.0 or 3.2), just for some reason, VS MEF didn't import the NuGet API type. I can't repro this now and trying to get repro first.

[2015-10-19 03:50] yishaigalatzer commented on #1470
Zhi – I agree with your assessment, in this world you can’t create new templates that require nuget, so things like file->new->mvc project should create an unbuildable project.

Let’s verify that is the case with the user

From: Zhi Li [mailto:notifications@github.com]
Sent: Sunday, October 18, 2015 8:40 PM
To: NuGet/Home Home@noreply.github.com
Cc: Yishai Galatzer yigalatz@microsoft.com
Subject:

[2015-10-19 04:05] zhili1208 commented on #1470
@csabar can you try this? file->new->mvc project. thanks

[2015-10-19 05:02] yishaigalatzer opened #1606 "Failed msbuild restore needs a reason"
RestoreCommand fails to create msbuild files when there is more than one TFM in the project.json file.
But there is no reason available in the MsBuildResult.

Looking at the code there is a good chance MsBuildResult needs to be completely dropped, but if it is not, the failed reason should be included in the result

[2015-10-19 05:03] #1604 closed, assigned to nobody

[2015-10-19 05:04] yishaigalatzer commented on #1602
Closing, please follow up on myget support (or wait for @maartenba to resolve it)

[2015-10-19 05:04] #1602 closed, assigned to nobody

[2015-10-19 07:34] csabar commented on #1470
I tried File -> New Project... and there between the installed there is no item like MVC Project.

![image](https://cloud.githubusercontent.com/assets/3233968/10571665/8b323a82-7641-11e5-9401-ab630d351eec.png)

There is no such a project even between the Online items. Am I doing something wrong?

![image](https://cloud.githubusercontent.com/assets/3233968/10571723/10bdd2c4-7642-11e5-809a-a63afc637

[2015-10-19 09:10] #1487 closed, assigned to xavierdecoster

[2015-10-19 09:59] #1472 closed, assigned to xavierdecoster

[2015-10-19 10:27] #843 closed

[2015-10-19 10:59] maartenba commented on #1602
Fixed.

[2015-10-19 11:35] chrisva opened #1607 "Change app.config source for Nuget Package manager"
I am running a few Windows Services and the console apps in .NET create new files during build. Our config files are transformed like this App.config -> MyService.exe.config. We need to inject variables using Octopus Deploy after build so we renamed our config files to MyService.exe.config in our source code to be able to transform and inject these variables easy.

Now, I wonder how we can make an

[2015-10-19 12:41] drmcclelland commented on #1593
Favorites = great idea!

[2015-10-19 12:59] marhoily commented on #1593
:+1:

[2015-10-19 14:34] pwhe23 commented on #1593
:+1: to showing just the ones on disk already as recently used (I'd be ok with Favorites too, though that would require manual work to mark them)

[2015-10-19 17:29] #802 closed

[2015-10-19 17:41] danliu commented on #1537
Fixed via https://github.com/NuGet/NuGet.Client/commit/8dde3526e0afdf7eeccbf6fcad6bdffe155f3bbd

[2015-10-19 17:41] #1537 closed, assigned to danliu

[2015-10-19 20:07] davkean opened #1608 "NuGet is creating lots of temp files in %TEMP%, which eventually fails after there is 65,536 of them"
We're getting failures on our build machines like so ([log](http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_dbg_eta/1148/consoleFull#293262433a82fefab-f698-416f-8fca-58544c94cd4e)):

[code]

This turned out to be caused by having too many temp files in %TEMP% that Win32/.NET's GetTempFileName bails.

Looking at the majority of temp files, they appear be containing NuGet content:

[code]

[2015-10-19 20:27] emgarten commented on #1608
Are you running with -NoCache?

[2015-10-19 20:27] davkean commented on #1608
No.

[2015-10-19 20:29] zhili1208 commented on #1470
No, it's not possible, sorry, I just forgot there is no mvc in desktop express edition, but anyway, I think mvc will not work in this case because I just found VS didn't load the Interface dll into memory. you can try to uninstall nuget and delete mef cache then reinstall NuGet extension. It's at %AppData%\Local\Microsoft\WDExpress\14.0\ComponentModelCache\Microsoft.VisualStudio.Default.cache. it

[2015-10-19 23:22] yishaigalatzer commented on #1608
Looks like a duplicate of https://github.com/NuGet/Home/issues/1608. Can you pick up the latest bits (again :) )

[2015-10-19 23:23] yishaigalatzer commented on #1608
CC @xavierdecoster

[2015-10-19 23:23] davkean commented on #1608
1608 is my bug - did you mean to link to it?

[2015-10-19 23:24] yishaigalatzer commented on #1608
:D Sorry https://github.com/NuGet/Home/issues/802

[2015-10-19 23:25] davkean commented on #1608
Thanks - will try to get the team to upgrade to latest. Just filing the NuGet issues as I find them in our infrastructure. :)

[2015-10-19 23:25] yishaigalatzer opened #1609 "NuGet.exe 3.2.1 fails with relative solution directory"
when running nuget.exe with `-SolutionDir "../Foo"` the operation fails

example:

[code]

[2015-10-19 23:26] mike-barnett opened #1610 "Can't upgrade or uninstall Microsoft.Net.Compilers"
We had found a bug in the Roslyn compiler and so once there was a fix, we added a NuGet reference to Microsoft.Net.Compilers using https://www.myget.org/F/roslyn-nightly/ as the package source. This worked, but now a few weeks later I went to build my solution and got errors on the NuGet package restore. I was unable to update or even uninstall the package because apparently it had been deleted fr

[2015-10-19 23:36] davkean commented on #1608
Which build should I be upgrading to get all my fixes? Including the recent multi-proc one?

[2015-10-19 23:47] yishaigalatzer commented on #1608
Assigned to myself to resolve when 2.10 makes it into the nuget.client build

[2015-10-19 23:54] yishaigalatzer commented on #1610
This is by design, there is no way to know what references to remove or targets to remove without the package being around. So although you can force the uninstall, you will have to manually remove the package.

[2015-10-19 23:55] yishaigalatzer commented on #1610
By the way with project.json based projects, this is not an issue anymore because nuget doesn't touch your project.

[2015-10-19 23:59] mike-barnett commented on #1610
As far as I know, the package was still there on my disk. I mean, I can see the folder in the packages directory. How should I convert an existing project to be "project.json based" (whatever that means)?

[2015-10-20 00:26] yishaigalatzer commented on #1610
Can you validate that? If the package was there on disk update and uninstall should work just fine. Do you have the latest version of nuget (3.2 is the RTM, 3.2.1 is the RC)?

[2015-10-20 00:33] Suchiman commented on #1602
Confirmed, thanks for looking into it and fixing it that quickly :+1:

[2015-10-20 00:47] #1609 closed, assigned to yishaigalatzer

[2015-10-20 01:28] PhilipAtz opened #1611 "Incorrect ILMerge in NuGet 2.8.6 introduces breaking dependency to .NET 4.5"
When NuGet 2.8.6 was released, even though it was a patch release, it changed the target framework from .NET 4.0 to 4.5. However, due to an incorrect ILMerge option, types are not translated correctly between System.Core.dll and mscorlib.dll. This causes machines (like old build servers) that don't have .NET 4.5 installed to not be able to run NuGet 2.8.6.

Error message:
Could not load type 'Syst

[2015-10-20 01:40] deepakaravindr opened #1612 "RemoteV2FindPackageByIdResource ignores unlisted packages"
RemoteV2FindPackageByIdResource ignores unlisted packages.
Test TestPacManBuildIntegratedInstallPackageWithInitPS1 fails due to this issue and must be re-enabled

Repro steps:
1. Clean the global packages folder and the v3-cache.
2. Install NuGet.Core -version 2.8.3 to project.json from https://www.nuget.org/api/v2
3. Check the project.lock.json file

Expected:
project.lock.json contains an entry

[2015-10-20 02:39] emgarten commented on #1612
The V3 resource uses flat container which does not filter out unlisted packages, V2 should return everything also.

[2015-10-20 06:33] MichaelKetting commented on #759
Okay, I know it's been a (long) while, but since this just bit me majorly (broken release), I've decided to put a break on other stuff and look into this.

@yishaigalatzer Back when we discussed this at http://blog.nuget.org/20150601/nuget-3.0-rc2.html, you mentioned that the design is not there yet. Was it just the recurisive angle or is there more? Also, I'm quite happy to do a 'simple' solution

[2015-10-20 07:06] maartenba opened #1613 "Automatically update package references when project location has been changed"
_From @frodegil on October 20, 2015 6:52_

I have a folder structure for my solution where I group related projects in sub-folers located in the folder where my solution file is.
I recently added a new project and forgot to place it in the correct sub-folder. Instead the project folder became a new sub-folder under my solution-file folder. Packages were already added from NuGet.
I removed the proj

[2015-10-20 08:16] petterek opened #1614 "Transforming files (.pp) depending on project type."
Using the .pp extension source code is transformed and inserted into the project.

But i can't find a way to insert different 'templates' according to the current project type.

So if i want to offer my package to both c# and vb projects I have to provide both .vb.pp and .cs.pp files.
But only one of them should be imported to the project.

[2015-10-20 09:53] alexfoxgill commented on #1593
:+1:

[2015-10-20 12:09] csabar commented on #1470
Thank you, deleting the cache file helped.

[code]

If you need the wrong cache file for reproducing I can send it by mail.

[2015-10-20 14:53] yishaigalatzer commented on #759
The code is in nuget2 repo, and applies to the command line built by nuget.client repo.

Yishai

---

From: Michael Kettingmailto:notifications@github.com
Sent: ‎10/‎19/‎2015 11:33 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Missing dependency in NUPKG-file generated from project if indirect dependency already exists with a l

[2015-10-20 15:13] heku commented on #1470
Thx all, I tried above solution as well. But I found that it just works before I close the VS. when I re-open the VS, the issue repro again...

[2015-10-20 15:20] MichaelKetting commented on #759
Yes, the nuget2 repo is the one that gets used for creating the NuGet v2 releases these days, correct? That would the NuGet version I'm using when building my NuGet packages via the command line.

[2015-10-20 15:22] yishaigalatzer commented on #759
The nuget.exe itself is built out of nuget.client

Please use the 2.10 branch

Sent from my Windows Phone

---

From: Michael Kettingmailto:notifications@github.com
Sent: ‎10/‎20/‎2015 8:20 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Missing dependency in NUPKG-file generated from project if indirect dependency already exists

[2015-10-20 15:25] yishaigalatzer commented on #1470
Can you share the mef cache? Also please share the ActivityLog.xml file

[2015-10-20 15:25] MichaelKetting commented on #759
Great, thanks!

[2015-10-20 15:45] mike-barnett commented on #1610
Yes, the package is still on my disk. How can I tell which version of nuget I have?

[2015-10-20 15:54] shepard1166 opened #1615 "Bad update in VS2013 broke all VS instances of NuGet"
Attempted to update NuGet from VS 2013 Extension&Update UI... Update failed... unable to uninstall NuGet, Unable to re-install visx. Broken in all instances of VS (2013 Ultimate, 2015 Enterprise). See attached files.
![nuget_unavailable](https://cloud.githubusercontent.com/assets/1486129/10612899/7998ed8e-7718-11e5-8872-3fab7954e450.PNG)

![vsixinstallfail](https://cloud.githubusercontent.com/asse

[2015-10-20 16:01] yishaigalatzer commented on #1610
Worked with @mike-barnett in person. Looks like he was using NuGet 3.0, we update to 3.2 and will keep an eye if this issue re-appears.

[2015-10-20 16:01] #1610 closed, assigned to nobody

[2015-10-20 16:55] danliu opened #1616 "Investigate 3 functional test failures for project K"
ProjectKUpdateAllPackages

ProjectKUpdatePackage

ProjectKUpdatePackageNoUpdateAvailable

There are timing issues with the tests, which could be either product or test issues.

[2015-10-20 17:48] RoarkeRandall opened #1617 "Package Manager Console cannot determine startup project when a solution has multiple startup projects."
Steps to reproduce bug:
Open a solution with 2 or more valid startup projects.
Right click the solution and select properties
Select the "Multiple startup projects" radio button, and set at least 2 of the valid startup projects to "Start".
Run a command in the Package Manager Console, like "Add-Migration".
Outcome:
Package Manager Console will print "Cannot determine a valid start-up project. Usin

[2015-10-20 17:50] RoarkeRandall opened #1618 "Package Manager Console cannot determine startup project when a solution has multiple startup projects."
Steps to reproduce bug:
1. Open a solution with 2 or more valid startup projects.
2. Right click the solution and select properties.
3. Select the "Multiple startup projects" radio button, and set at least 2 of the valid startup projects to "Start".
4. Run a command in the Package Manager Console, like "Add-Migration".

Outcome:
Package Manager Console will print "Cannot determine a valid start-up

[2015-10-20 17:51] #1617 closed, assigned to nobody

[2015-10-20 18:01] RanjiniM commented on #1475
Better error messages have been added for network issue scenarios now.

[2015-10-20 18:01] #1475 closed, assigned to RanjiniM

[2015-10-20 18:02] emgarten commented on #1614
There is no way to do this currently, but we're working on this feature along with support for it in msbuild!
Check out https://github.com/NuGet/Home/wiki/%5BSpec%5D-Content-v2-for-project.json

[2015-10-20 18:07] RanjiniM commented on #895
@davidfowl, can you please comment on what is expected/ desired behavior here?

[2015-10-20 18:13] zhili1208 commented on #1470
just did some test, I think when you deleted your mef cache, VS scanned  all mef component and loaded all correct mef dlls into memory but generate wrong mef cache file on disk, so it was working before you closed VS. then you re-opened VS, Vs read wrong mef cache file, issue repro again.

[2015-10-20 18:17] yishaigalatzer commented on #1355
@zarenner what is the status of this?

[2015-10-20 18:20] yishaigalatzer opened #1619 "Command line restore spits a wrong message about enabling restore in visual studio"
run nuget.exe restore or nuget.exe install

Expected
Messages are relevant to command line

Actual
A message about enabling package restore in visual studio shows up

[2015-10-20 18:21] yishaigalatzer commented on #1307
The fix here, is that when we install from the UI or power shell, we detect new package versions or new packages that got added and open a the readme files.

Preferably we should show the yellow bar with a message showing: "New packages with readme.txt have been installed, click here to open"

[2015-10-20 18:25] zarenner commented on #1355
I haven't checked to see if any recent changes may have fixed this (#3 above), but I assume it's still active.  Unfortunately I don't think I have any bandwidth right now to look into this further.

[2015-10-20 18:30] danliu commented on #1484
Remaining work including 3 test failures is tracked by a separate issue now.

[2015-10-20 18:30] #1484 closed, assigned to danliu

[2015-10-20 18:31] emgarten commented on #1355
This has been fixed, project.json restore will now use HttpCompletionOptions.ResponseHeadersRead

NuGet/NuGet.Client@36fb77d875bb8249d6dba70105fea353318a03da

[2015-10-20 18:31] #1355 closed, assigned to emgarten

[2015-10-20 18:31] emgarten commented on #1355
The change is available in 3.2.1-rc nuget.exe

[2015-10-20 20:44] emgarten commented on #1618
What version of Visual Studio and NuGet are you using?

[2015-10-20 20:46] RoarkeRandall commented on #1618
Sorry, Visual studio 2015 Update 5, Nuget version 2.8.60610.756

[2015-10-20 20:50] emgarten commented on #1615
From the log it looks the files are in use. Try closing everything, then download the NuGet vsix from dist.nuget.org/index.html and double click it to install the vsix with Visual Studio closed.

[2015-10-20 20:53] emgarten commented on #1618
This doesn't appear to be a NuGet issue, the start up project name parameter comes from EntityFramework.psm1 for Add-Migration

See: http://entityframework.codeplex.com/SourceControl/latest#src/NuGet/EntityFramework/tools/EntityFramework.psm1

//cc @rowanmiller

[2015-10-20 20:53] #1618 closed, assigned to nobody

[2015-10-20 20:54] #1614 closed, assigned to nobody

[2015-10-20 20:56] emgarten commented on #1613
We are unable to detect this, but it can be fixed with Update-Package <id> -reinstall

[2015-10-20 20:56] #1613 closed, assigned to nobody

[2015-10-20 20:58] jasonmalinowski opened #1620 "nuget.exe restore doesn't tell you which file has a syntax error"
1. Find a solution with a bunch of project.jsons
2. Add a syntax error to just one of the project.jsons
3. Run nuget.exe restore

_Expected:_ it should tell you which file has the error
_Actual:_ it leaves it a mystery, enabling a fun and exciting search through `git diff` to see where you screwed up

[2015-10-20 21:00] emgarten commented on #1611
Thank you for the information. The workaround for this is to use the NuGet.CommandLine 2.8.5 package which can be found on nuget.org. We are currently are working on nuget.exe 3.3 and are not planning on releasing that for .net 4.0

[2015-10-20 21:00] #1611 closed, assigned to nobody

[2015-10-20 21:01] deepakaravindr commented on #1612
Priority?

[2015-10-20 21:16] yishaigalatzer commented on #1017
@zhili1208  please verify that the issue of changing the value _should_ have been fixed, because we don't re-save the files since NuGet 3.2.

Then on top of that we should verify we don't rewrite the path when saving the settings.

[2015-10-20 21:23] yishaigalatzer commented on #1366
This behavior seems reasonable. Closing

[2015-10-20 21:23] #1366 closed, assigned to nobody

[2015-10-20 21:25] frodegil commented on #1613
I wasn't aware of Update-Package -reinstall. Thanks!
I promise I'll start to read the manual :)

[2015-10-20 21:27] yishaigalatzer commented on #1256
Looks like this is not going to make it to 3.3

[2015-10-20 21:29] yishaigalatzer commented on #1200
Looks like a duplicate of a bug @zhili1208 is working on for 3.3

[2015-10-20 21:30] clairernovotny commented on #1256
That's unfortunate. Can it be top of the list for 3.3.x or 3.4?

[2015-10-20 21:30] yishaigalatzer commented on #1174
Closing as we decided this will be part of the tooling merge

[2015-10-20 21:30] #1174 closed

[2015-10-20 21:31] yishaigalatzer commented on #1140
Please verify this as part of manage packages for solution

[2015-10-20 21:32] yishaigalatzer commented on #1113
Done in 3.2

[2015-10-20 21:32] #1113 closed

[2015-10-20 21:34] yishaigalatzer commented on #1097
We don't plan to support this. It accidentally worked when you had repositories.config (which was an optimization for not accessing DTE), but was completely broken when the packages folder was restored from disk, and other solutions did not open yet.

Unfortunately I'm going to close this as won't fix/by design.

With project.json we are introducing a real global packages folder, where we will not

[2015-10-20 21:34] #1097 closed

[2015-10-20 21:37] yishaigalatzer commented on #1088
Given that this will not work with the system account anyways, I'm going to close this issue as won't fix.

Feel free to push back if you feel this is a wrong decision

[2015-10-20 21:37] #1088 closed

[2015-10-20 21:41] yishaigalatzer commented on #962
@rchande I just closed the bugs that asks for removing the error. I think it should not be removed. We are tracking elsewhere improving the error messages.

@RanjiniM can you please verify we show a more useful message here?

[2015-10-20 21:43] yishaigalatzer commented on #932
This bug doesn't have enough information for reproduction. And we don't plan to fix this kind of issues in 2013.

If you have a clear repro in visual studio 2015 + NuGet 3.2 (or newer), please re-open and post the failing package here.

[2015-10-20 21:43] #932 closed

[2015-10-20 22:10] yishaigalatzer commented on #1256
I can't promise that. The list is super long and there is a reasonable work around for that today (turn off package restore and right click->Restore menu option is there)

[2015-10-20 22:12] clairernovotny commented on #1256
That workaround is really not acceptable. It's too easy for users to forget to hit restore on _every_ solution. If the "off" setting were applicable to a single solution, then that's one thing. As it applies to VS all-up, it's not.

[2015-10-20 22:44] yishaigalatzer commented on #1256
I understand what you are saying, as someone that is using \* dependencies every day on my project, I actually don't see it as a huge deficiency. I agree we should improve it, I just can't justify prioritizing it over basic failures, bad error messages when things go wrong and improving the basic UI.

That's why it falls lower in the list, when I say I can't commit, I mean I can't commit to when i

[2015-10-20 22:47] yishaigalatzer commented on #1256
The behavior today hits the cache first, so the first 30 minutes actually shouldn't do any annoyance. Once every 30 minutes we will go live and check. That's why I don't see any major annoyance on my side.

[2015-10-20 22:49] clairernovotny commented on #1256
When you say "hits the cache first", what do you mean by that?

There are two issues I'm trying to avoid:
1.  Breaking incremental rebuilds. If I just built and hit debug without any code changes, I don't want msbuild rebuilding everthing.
2.  That dialog should be quick.

[2015-10-20 22:53] zhili1208 commented on #1056
@Torgrimm Can you post the network request log for this issue? and you said you maintain your package source under TFS, so this package source is a v2, v3 or folder? thanks

[2015-10-20 23:07] yishaigalatzer commented on #1256
We are caching the results of the http calls in memory, so within 30 minutes we are not going out to the internet, so you won't see any changes, which also means things are quick (disclaimer: quick for what I'm doing regularly which is: clone or open command line, force a restore, open vs and work).

[2015-10-20 23:08] clairernovotny commented on #1256
What version includes this cache? I've avoided \* in my versions since discovering the cost.

[2015-10-20 23:11] yishaigalatzer commented on #1256
3.2.1-RC is what I’m working with (well I’m really using 3.3, but that’s not public yet, you will have to build it yourself)

Also note that we are spending lots of our time on further optimizations for restore (well at least all my  dev time goes there), and you should see some improvements in 3.3, and more as we keep moving forward.

From: Oren Novotny [mailto:notifications@github.com]
Sent: Tue

[2015-10-20 23:48] #1231 closed, assigned to zhili1208

[2015-10-20 23:59] zhili1208 commented on #1196
checked this, the behavior respect the config setting but Nuget doesn't show the setting value on UI.

[2015-10-21 01:22] AArnott commented on #1448
I'm still seeing failures. Was this a server-side fix or a client one?

[2015-10-21 01:27] AArnott commented on #1448
I'm also seeing this in package restore failures from network shares:

[2015-10-21 02:19] emgarten commented on #1448
It would be a different cause if you are seeing this happen for network shares, is it also intermittent?

[2015-10-21 02:30] logankp opened #1621 "NuGet.Client build fails at finding NuGet.MsBuild.Integration"
When building the NuGet.Client repo, build.ps1 fails at finding packages\NuGet.MsBuildIntegration because the package downloads as NuGet.MsBuild.Integration.3.1.0-beta-001. build\common.targets should be changed to use NuGet.MsBuild.Integration.3.1.0-beta-001. I can submit a PR for this if necessary.

[2015-10-21 02:35] #1620 closed, assigned to yishaigalatzer

[2015-10-21 02:39] yishaigalatzer commented on #1621
That sounds weird, because I regularly build with a cleancache, and clean packages folder and I don't see this issue?

Can you try Build.ps1 -CleanCache?

Do you have all the pre-requisites installed?

ASP.NET Beta7 (must be Beta7, we don't work with Beta8 yet)
Win 10 tools
Vs SDK

[2015-10-21 03:00] AArnott commented on #1448
Actually the network share repro appeared intermittent but was actually attributable to a particular build agent (not always used) that had an older nuget.exe. The network share issue appears fixed now that I've updated that build agent.

But the first comment I left today (regarding the Nerdbank.GitVersioning not being found) is of course from nuget.org. And it seemed to happen more frequently af

[2015-10-21 03:13] rowanmiller commented on #1618
I don't think would arbitrarily choose one of the projects. If we did do something we would probably just error out and instruct you to use the startupProject parameter to identify which project to use.

[2015-10-21 04:57] emgarten commented on #1448
The fix for this issue was made to the client for V2 online downloads. There were some v3 fixes, but I wouldn't expect them to cause the failures you are seeing here.

I'm going to close this issue, if you are able to get a better repro for the v3 issue please open another bug. So far I haven't seen any issues there.

[2015-10-21 04:57] #1448 closed, assigned to emgarten

[2015-10-21 06:36] zjrunner opened #1622 "Nuget sometimes installs a package but does not properly place it in the output folder"
v3.2.1
using fileshares as a packagesource
Sometimes we get a folder with only [Content_Types].xml in it -- no other package contents.  I know there is a separate issue to stop dropping this one file at all, but it isn't clear why other files aren't expanded.

In earlier nuget releases we would see nothing show up in folders, a success return code from nuget, and in the logs a Task Cancelled Excep

[2015-10-21 09:36] GrahamTheCoder commented on #1147
+1, we never want binding redirects - we ship a set of dlls with correct references.

NuGet incorrectly insists we need bindings, tries to add them, performs very slowly doing so, and chucks out warnings of "item with the same key is already added". When it's finally finished we just delete all the app.configs from within solution explorer. It seems like adding a disable option in nuget.config wil

[2015-10-21 11:42] shepard1166 commented on #1615
It is installed, but it is not functioning properly... i attempted to repair both instances of VS and to re-install NuGet through boxstarter... which seems to have fixed it partially (the nuget options now appear in the VS menu). . However, when I select the NuGet options from the VS menus (i.e. Manage NuGet Packages etc...) nothing happens.

Your solution gets the same results...
![image](https:/

[2015-10-21 13:14] clairernovotny commented on #1359
I'd like to echo @StevenLiekens's point. I don't see any issues in packages requiring a newer NuGet client to work. There's already a minClientVersion concept, this just takes it to the next level.

A few things to note:
- Even if SemVer 2 is used, I believe at worst it'd just mean that downlevel clients couldn't understand pre-release packages. Too bad, they can't use them.
- However, even with S

[2015-10-21 13:23] joel74 commented on #1282
+1. I'm not able to upgrade to newer than 2.8.1 without running into this issue when packing in parallel.

[2015-10-21 14:46] Petermarcu opened #1623 "Need to move guardrails out of restore"
@davidfowl has the context but in general, we want to let the install happen and let the compile fail with a good error in the command line case and enable good checks and experiences in VS around understanding the tradeoffs for platforms support you are making when you use an API.

[2015-10-21 14:51] MichaelSteinecke commented on #1056
@zhili1208
Hello again
sorry, I forgot to post the log. It's attached as an image as I'm not allowed to post other content. You need to store it locally and rename the file extension from .png to .zip.

![nuget dns errors zip](https://cloud.githubusercontent.com/assets/6099045/10639861/84f33b58-7812-11e5-805c-22d858af30e9.png)

Hopefully that works.

The package source is a folder within the TFS r

[2015-10-21 15:55] yishaigalatzer commented on #1623
@Petermarcu yes, we discussed it yesterday. But we need to synchoronize. Is this fix from your side going into Update I or later?

[2015-10-21 15:56] yishaigalatzer commented on #1622
Can you share the packages.config file?

[2015-10-21 15:58] yishaigalatzer commented on #1615
Can you try install nuget 2.9 from https://dist.nuget.org/index.html

[2015-10-21 16:05] Petermarcu commented on #1623
I'm assuming later. We definitely need to coordinate how to land this together.

[2015-10-21 16:58] yishaigalatzer commented on #1580
@timgaunt I've been trying to get a repro, but couldn't quite get it. This is a real edge case where I don't want to spend half a day trying to get a repro, but would love to get a quick win if I have one.

Could you please share a project with a repro, and exact repro steps?

[2015-10-21 17:42] zhili1208 commented on #1017
verified issue of changing the value is fixed and we don't rewrite the path when saving the settings

[2015-10-21 18:10] #1583 closed, assigned to xavierdecoster

[2015-10-21 18:24] #977 closed

[2015-10-21 20:11] yishaigalatzer commented on #1147
Turns out this is simpler to implement that getting the repro steps from https://github.com/NuGet/Home/issues/1580 :)

[2015-10-21 20:13] yishaigalatzer commented on #1147
Design:
1. Add two options in nuget.config
2. Expose the first option in the UI
3. skip binding redirects when the option is checked, warn by default on failures instead of fail.

[code]

![image](https://cloud.githubusercontent.com/assets/1238711/10648801/7ed6d5b2-77f5-11e5-8b65-d49738ed1986.png)

[2015-10-21 20:52] yishaigalatzer opened #1624 "Add functional test for binding redirects options"
1. Add a test for the case where we say skip binding redirects, and make sure none are written
2. Add a test for error case (e.g. the app.config file is locked)
   2.1 package update fails (when not ignoring)
   2.2 package update succeeds (when ignoring)

[2015-10-21 21:33] #1147 closed

[2015-10-21 21:45] johnataylor commented on #1312
Looking at this more closely this is definitely an issue in package update.

Basically when you target a specific package only that package and its dependencies should be involved.

The resolver has to consider the overall project state in order to arrive at a solution. However the logic should be smart enough to realize what are unrelated aspects of the project - in other words if a package that

[2015-10-21 22:13] johnataylor commented on #1312
Just confirmed this is also a bug in install. The gather/resolve/action pipeline always attempts to "repair" the whole solution even when we really don't want it to be doing that.

[2015-10-21 23:23] feiling commented on #1551
Fixed. https://github.com/NuGet/NuGet.Client/commit/1e93f0241bca4ebc44f09d94f1396e71d9373c05

[2015-10-21 23:23] #1551 closed, assigned to feiling

[2015-10-22 01:47] #1395 closed, assigned to emgarten

[2015-10-22 02:15] emgarten commented on #965
NuGet/NuGet.Client@26a6fa6cfc92f577e132d073e4a90ac3425cc8da

[2015-10-22 02:15] #965 closed

[2015-10-22 02:16] emgarten commented on #1461
NuGet/NuGet.Client@26a6fa6cfc92f577e132d073e4a90ac3425cc8da

[2015-10-22 02:16] #1461 closed, assigned to emgarten

[2015-10-22 03:01] AArnott commented on #1461
Thanks, @emgarten. Can you briefly summarize the design of the fix? If my package has this structure:

[code]

When will each one be used? Are the TxM folders preferred when applicable?

[2015-10-22 03:42] logankp commented on #1621
I have all of the above installed. Building with -CleanCache does seem to resolve this error, but now I'm getting the following:  `The type or namespace name 'Shell' does not exist in the namespace 'Microsoft.VisualStudio' (are you missing an assembly reference?` and a warning `Could not r
esolve this reference. Could not locate the assembly "Microsoft.VisualStudio.Shell.12.0, Version=12.0.0.0`. I

[2015-10-22 03:57] yishaigalatzer commented on #1621
Can you build the nuget.clients.sln in visual studio and tell us what project is broken?

Sent from my Windows Phone

---

From: logankpmailto:notifications@github.com
Sent: ‎10/‎21/‎2015 8:43 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] NuGet.Client build fails at finding NuGet.MsBuild.Integration (#1621)

I have all of the a

[2015-10-22 03:58] yishaigalatzer commented on #1621
Oh wait. I have vs2013 on my box as well. That could be the difference?

Sent from my Windows Phone

---

From: logankpmailto:notifications@github.com
Sent: ‎10/‎21/‎2015 8:43 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] NuGet.Client build fails at finding NuGet.MsBuild.Integration (#1621)

I have all of the above installed. B

[2015-10-22 04:01] emgarten commented on #1461
It will follow the same rules as packages.config scenarios for the build folder now. The root level folder will be used as a fallback if there are no compatible TxM folders.

Example:
Project framework -> props
uap10.0 -> build\PackageName.props
net46 -> build\net451\PackageName.props
wp8 -> build\wp8\PackageName.props

[2015-10-22 04:22] logankp commented on #1621
It looks like the VIsualStudio14 project isn't building because the Microsoft.VisualStudio.Shell.14.0, Microsoft.VisualStudio.Shell.Interop, and Microsoft.VisualStudio.Threading references aren't in the .csproj (although they are in the project.json file).

The VisualStudio.Interop project has the same problem with the MS.VS.OLE.Interop and MS.VS.Shell references.

I'm also getting warnings about

[2015-10-22 04:30] yishaigalatzer commented on #1621
Looks like you are missing the windows 10 tools

Sent from my Windows Phone

---

From: logankpmailto:notifications@github.com
Sent: ‎10/‎21/‎2015 9:22 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] NuGet.Client build fails at finding NuGet.MsBuild.Integration (#1621)

It looks like the VIsualStudio14 project isn't building beca

[2015-10-22 04:41] logankp commented on #1621
Ah-ha, I see. I misunderstood that and installed the Windows 10 SDK. Now I see there's the Windows Universal tools in VS that I need to install. I'll see if that works tomorrow!

[2015-10-22 09:02] GrahamTheCoder commented on #1147
Wow, awesome, that was like a 12 hour turnaround!

[2015-10-22 12:49] xavierdecoster commented on #952
Haven't been able to repro this one yet. Using the above faulty index.json results in regular 404s, no nullrefs.

[2015-10-22 14:06] AArnott commented on #1461
Great! thanks.

[2015-10-22 14:41] tillig opened #1625 "dotnet TFM and Portable Class Libraries appear incompatible"
I'm unsure if this is a bug, but it's making life difficult so I figured I'd report it. ([My original blog entry about it is here.](http://www.paraesthesia.com/archive/2015/10/20/gotcha-with-dnx-dependency-resolution-dotnet-pcl/))

I'm also not entirely sure if this is a `dnu` issue or a NuGet issue.

We recently released [Autofac 4.0.0-beta8-157](https://www.nuget.org/packages/Autofac/4.0.0-beta8

[2015-10-22 15:12] yishaigalatzer commented on #952
I would suspect it is already fixed somehow.

[2015-10-22 15:12] #952 closed

[2015-10-22 15:22] feiling opened #1626 "UI update: add Consolidate tab"

[2015-10-22 16:51] yishaigalatzer commented on #1567
Consider warning also for files without a configuration section. e.g.

[code]

[2015-10-22 16:59] xavierdecoster commented on #835
Related https://github.com/NuGet/Home/issues/1626

[2015-10-22 19:12] RichiCoder1 commented on #1473
_bump_

[2015-10-22 21:05] alexsandro-xpt commented on #900
Thanks!!

[2015-10-22 21:21] yishaigalatzer commented on #900
Verified this is fixed in NuGet 3.2.1 (and perhaps in earlier versions) available on https://dist.nuget.org/index.html

There might be another issue going with your project that I couldn't repro with my simple steps, if so feel free to open another issue with accurate repro steps and a sample.

See below:
![image](https://cloud.githubusercontent.com/assets/1238711/10678542/fa52dbaa-78c7-11e5-8a3d-

[2015-10-22 22:00] #1021 closed

[2015-10-22 22:18] zhili1208 commented on #1056
@Torgrimm have you tried NuGet 3.2? still repro?

[2015-10-22 22:39] yishaigalatzer opened #1627 "Deal with slow/misbehaving sources"
Today slow sources or defective source interfere with download & search speed.

This is to suggest a mechanism that identifies such sources and provides prompts to the user, and suggests improvements if possible

Here are the few cases that we see today that I would like to address
1. Server than never responds (timeouts)
2. Server that returns 5xx results regularly
3. Server that 404s on the init

[2015-10-22 22:49] SimonCropp opened #1628 ""update-package" upgrades random other packages"
[code]

NServiceBus has no relation to RavenDB.Client so why is it performing actions i did not request

[2015-10-22 23:40] derekmacdonald commented on #1572
I have the same problem; I uninstalled 3.2.61008 and tried to install from that link above and from the download page.

However, after running the 3.2.1-rc installer, I still get the error and still see 3.2.61 as the installed Nuget manager. To be certain, I did the following:

1) Remove nuget from Visual Studio 2015
2) Restart computer
3) Install nuget from 3.2.1-rc installer.

Anyone have any id

[2015-10-22 23:42] RanjiniM commented on #1384
Fixed and added test - f4f5b33965d90a0cb4ef65c5086c6fff63db1df4

[2015-10-22 23:42] #1384 closed, assigned to RanjiniM

[2015-10-22 23:50] yishaigalatzer commented on #1572
You might have to delete the extension

Run Devenv /setup that should reset things.

If that doesn't work, you might have to manually clear the extension folders where nuget resides. You will need to search for nuget.tools.dll under c:\program files (x86)\microsoft visual studio 14.0\common7\ide\extensions

Close all instances of visual studio first

You will find a random folder name (or more tha

[2015-10-23 00:03] agocke opened #1629 "NuGet w/ MSBuild doesn't provide a mechanism to stop transitively propagating references in Project-Project references"
I would expect NuGet to either respect the ProjectReference ReferenceOutputAssembly item or provide some other mechanism for cutting the reference graph.

[2015-10-23 00:03] agocke commented on #1629
/cc @jasonmal

[2015-10-23 00:04] agocke commented on #1629
/cc @jasonmalinowski

[2015-10-23 00:21] logankp commented on #1621
Alright, that fixed it. Thanks for your patience and help!

[2015-10-23 00:21] #1621 closed, assigned to nobody

[2015-10-23 00:50] yishaigalatzer commented on #1628
This is a duplicate. https://github.com/NuGet/Home/issues/1312 and perhaps some other related bugs @johnataylor fixed last weeks.

We should have a fix ready shortly.

[2015-10-23 00:50] #1628 closed, assigned to nobody

[2015-10-23 00:52] yishaigalatzer commented on #1629
Related to https://github.com/NuGet/NuGet.Client/pull/43 / https://github.com/NuGet/Home/issues/1540 where we prevent these from going into pack.

[2015-10-23 00:53] yishaigalatzer commented on #1629
We would love to take a contribution for this, from someone with strong expertise in msubild. Otherwise we have no resources to deal with this until after 3.3 / vs update I

ping me if you are interested in providing this fix.

[2015-10-23 00:55] yishaigalatzer commented on #1625
1. This should have been posted on the ASP.NET site, but we plan to start consolidated the two together, so we can keep it here.
2. This is by design, although a rather limiting design. So completely expected.
3. What are we doing about it, we are working on an alternative, for now removing dotnet is not a bad idea for your scenario.

@davidfowl

[2015-10-23 00:55] #1625 closed, assigned to nobody

[2015-10-23 00:57] SimonCropp commented on #1628
@yishaigalatzer thanks. good to hear

[2015-10-23 01:00] yishaigalatzer commented on #1622
Note that starting with 3.2.1, we will consider these failed restores, and another restore will overwrite them (because the SHA file is dropped last).

You can always move up to 3.3 bits available on myget / nugetbuild feed in the nuget.commandline  package to get our latest bits from the CI.

[2015-10-23 01:01] yishaigalatzer commented on #1597
@davkean can you try this with our latest builds (or by F5-ing from nuget.client solution) ?

[2015-10-23 01:03] yishaigalatzer commented on #1591
We decided that we agree with the general problem statement, and believe we want to come up with a way to control the behavior. We are not convinced we want to change the existing behavior, but we definitely want to come up with something better.

Since this is not going to fit in 3.3, we are putting aside the decision on what the behavior will be and the detailed design for this until we get to e

[2015-10-23 01:06] yishaigalatzer commented on #1587
@ericstj I tend to agree with @AArnott that this is probably not a NuGet issue, and the behavior is by design (at least when it comes to NuGet proper)

[2015-10-23 01:08] yishaigalatzer commented on #1578
Back to provide sample code:
1. Launcher
   https://github.com/NuGet/Entropy/tree/master/NuGetFunctionalTestsLauncher
2. Out functional tests that do run powershell scripts in visual studio
   https://github.com/NuGet/NuGet.Client/tree/dev/test/EndToEnd

[2015-10-23 01:08] #1578 closed, assigned to nobody

[2015-10-23 01:08] davidfowl commented on #1629
Let's talk about this befor any action is taken.

[2015-10-23 01:10] yishaigalatzer commented on #1581
Like I said we are fixing a bunch of issues that the Roslyn solution revealed. We should do a lot better in 3.3.

Closing for now, you can search our bug database as new things come up. Mostly we get detailed bugs from @davkean and @danliu on this matter (thanks to David!)

[2015-10-23 01:10] #1581 closed, assigned to nobody

[2015-10-23 01:11] yishaigalatzer commented on #1562
@Pilchie ping, we think this needs to be reverted. It already broke users using visual studio 2013.

[2015-10-23 01:12] yishaigalatzer commented on #1546
FYI we added a feature in 3.3, that will allow you to simply skip adding binding redirects. So in such cases you can just opt out.

We still need to figure out the root cause for this and fix it.

[2015-10-23 01:13] yishaigalatzer commented on #1161
We think we know what is going on with missing packages.. Closing for now, Will follow up if we find new scenarios.

[2015-10-23 01:13] #1161 closed

[2015-10-23 01:14] yishaigalatzer commented on #1402
@csharpfritz any updates? We haven't heard back from the user what version he is using, and if we can't learn anything new I suggest we close this bug.

[2015-10-23 01:15] yishaigalatzer commented on #1224
ping, we haven't heard back yet. We would have to close this issue down if we can't get any more information.

[2015-10-23 01:30] yishaigalatzer commented on #1329
@functionreturnfunction we are spending most of our efforts right now on improving NuGet 3.3 for visual studio 2015. Is this a version you can move to?

[2015-10-23 01:33] yishaigalatzer commented on #1138
Is it possible to find out what file is being locked? This doesn't seem to be a nuget proper issue, and we would like to communicate to the visual studio folks what is going on.

You can use a tool like [procmon](https://technet.microsoft.com/en-us/library/bb896645.aspx) to find out which file is locked.

[2015-10-23 01:35] #900 closed

[2015-10-23 04:55] ericstj commented on #1587
The latest version of that package doesn't use Install.ps1, regardless this shouldn't be caused by BCL.Build.  That doesn't futz with references.  All it does is generate binding redirects and ensure that it's in every up-stack p2p reference.

I suspect what's happening here is something gone wrong in how the project.json task deals with framework references /cc @jasonmalinowski.

Andrew, did you

[2015-10-23 05:09] yishaigalatzer commented on #1587
Thanks Eric. Keeping this open until we can verify the root cause

Sent from my Windows Phone

---

From: Eric StJohnmailto:notifications@github.com
Sent: ‎10/‎22/‎2015 9:55 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Net45 class library fails to build after using project.json to depend on PCLTesting package (#1587)

The late

[2015-10-23 06:20] zjrunner commented on #1622
sorry, it is difficult to get at the packages.config because we autogenerate and then delete it.  I can get you the log to see the scope of what we installed, but it was probably 20-30 packages, some of them pretty large.

Overwriting with future restores is good, but the active build post-restore might be hard to read.  It might be good to do that validation check post restore and to fail there a

[2015-10-23 08:16] maartenba opened #1630 "Skip Duplicate switch added to nuget.exe push command"
_From @lukemcgregor on October 22, 2015 21:42_

Currently if the package is already published the following occurs

And a non-zero return code is returned from nuget push

I would like to add another switch to pack so that the following occurs

`nuget push Pkg -SkipIfAlreadyPublished`

A zero return code is returned.

This would allow for better integration with automated build tools which produce

[2015-10-23 08:16] maartenba commented on #1630
_From @lukemcgregor on October 22, 2015 21:54_

To do this I want to edit https://github.com/NuGet/NuGet.PackageManagement/blob/dev/src/NuGet.CommandLine/Commands/PushCommand.cs But I cant work out how to build the project.

Ive tried using home (http://docs.nuget.org/Contribute/Setting-up-the-NuGet-Development-Environment) But the nuget3 solution doesn't appear to build the CLI.

Building Package

[2015-10-23 13:32] MichaelSteinecke commented on #1056
@zhili1208 I have tried it now. It's still repro. The Wireshark logs looking like same.

[2015-10-23 14:33] tillig commented on #1625
Thanks for getting back to me, @yishaigalatzer. Hopefully the alternative you and @davidfowl are working on will allow me to enable support for Universal Windows Platform. Right now, while core Autofac, Microsoft.Framework.Configuration, and the base framework dependencies I'm using support UWP/UAP, I can't seem to add a TFM to the Autofac.Configuration package that will allow it to also support U

[2015-10-23 14:51] yishaigalatzer commented on #1625
You can just add uap10 without adding dotnet

Sent from my Windows Phone

---

From: Travis Illigmailto:notifications@github.com
Sent: ‎10/‎23/‎2015 7:33 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] dotnet TFM and Portable Class Libraries appear incompatible (#1625)

Thanks for getting back to me, @yishaigalatzerhttps://na01.s

[2015-10-23 14:53] tillig commented on #1625
uap10 fails because it doesn't think either Microsoft.Framework.Configuration or Autofac core support it, though they clearly do.

[2015-10-23 14:54] tillig commented on #1625
I also tried adding netcore50 and while I can get Autofac.Configuration to compile under that, I can't seem to add a reference to it from a UWP project because it's not seen as compatible.

[2015-10-23 14:58] yishaigalatzer commented on #1625
@ericstj @davidfowl. This should work just fine, we need to figure out why these are not compatible, and figure out what to change (the packages, nuget or something else

Sent from my Windows Phone

---

From: Travis Illigmailto:notifications@github.com
Sent: ‎10/‎23/‎2015 7:53 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] dotn

[2015-10-23 15:00] tillig commented on #1625
For reference, here's the error when compiling using `uap10`:

![Error when targeting uap10](https://cloud.githubusercontent.com/assets/1156571/10696337/02f411f4-795c-11e5-8727-91023f2de00e.PNG)

[2015-10-23 15:10] ericstj commented on #1625
I think the problem is your project's target moniker.  That should be UAP version 10.0 not 1.0.  What is in your project.json frameworks section?  Should be `UAP10.0`.

[2015-10-23 15:20] tillig commented on #1625
If I switch to `uap10.0` I do see that it's building for UAP 10:

[code]

But with a `project.json` section like this (non-dependencies trimmed):

[code]

**I end up with the same set of errors that I had when I target `dotnet`** - a series of things where it finds the package dependencies but can't resolve the `fx/*` counterparts:

[code]

[2015-10-23 15:29] ericstj commented on #1625
Let's take a step back.  DNX cannot build UAP apps so this configuration is not really valid.  There are a lot of things wrong with that project.json  (missing runtime section, missing runtime packages) for UAP but let's not go there.

Can you restate what it is you are trying to do and show me your original project.json?

[2015-10-23 15:43] csharpfritz commented on #1402
Unable to reproduce... closing for now.  If we get a reliable repro we can re-open later

[2015-10-23 15:43] #1402 closed, assigned to csharpfritz

[2015-10-23 15:44] tillig commented on #1625
The original statement remains the same as in the very first post, but for clarity:
- Autofac is a DNX project that builds targeting `dnx451`, `dotnet`, `net45`, `netcore45`, and `.NETPortable,Version=v4.5,Profile=Profile259`. We found that to maintain compatibility with all the various project types we were previously compatible with _and_ to enable earlier VS versions to work, we needed to targe

[2015-10-23 16:04] czfq2b commented on #1138
Can you give me somewhere to send the process mon file, I don't see anything obvious and don't really know how to read it, and it won't let me upload any type of non-pic file.

Cliff

[2015-10-23 17:26] jasonmalinowski commented on #1629
@davidfowl: indeed, there are many design decisions here.

Just to give some background to @agocke's scenario for people to think about, our immediate problem is we have a console application that we use to generate syntax tree information. Our class libraries that need to run that tool have references to that console application but doesn't reference the output. This is to ensure the build is don

[2015-10-23 17:39] yishaigalatzer commented on #1138
y i g a l a t z @ microsoft. com

[2015-10-23 18:08] zhili1208 commented on #1244
@csharpfritz what's the keyboard accelerators for "I Accept" and "I Reject" buttons user want to support? like "Y" for "I Accept", "N" for "I Reject"?

[2015-10-23 18:54] csharpfritz commented on #1244
From other dialogs with License Acceptance, the terms are typically "I
Accept" and "I Decline".  In this case, make the A in Accept and the D in
Decline the accelerators.

See this example screenshot from the WebPI:
http://i.msdn.microsoft.com/dynimg/IC629169.png

Jeff

On Fri, Oct 23, 2015 at 2:08 PM, Zhi Li notifications@github.com wrote:

[2015-10-23 19:28] AArnott commented on #1587
@ericstj No, I didn't produce a diag log at the time. The repro solution in the steps is absolutely minimal though, so I hope that can help you in your investigation.

[2015-10-23 20:08] joeaudette commented on #627
I think content files that can be later edited is a very important and very common scenario in web apps.

For example creating a class library that has ViewComponents that need corresponding Views to be added to the consuming web app. This is a scenario I need and am currently blocked.
http://stackoverflow.com/questions/31412210/how-to-include-views-in-asp-net-5-class-library-nuget-package

It see

[2015-10-23 20:19] AArnott opened #1631 "NuGet.exe restore (solution) fails with MSBuild protection level error"
nuget Version: 3.2.0.10488

[code]

[2015-10-23 20:22] AArnott commented on #1631
This repro'd on both solutions that I tried on. Since the two solutions are completely unrelated, I suspect this build of nuget.exe may simply be broken.

[2015-10-23 20:22] yishaigalatzer commented on #627
This is a related item we plan to address separately, the term is scaffolding content unlike this issue which covers immutable content.

[2015-10-23 20:50] yishaigalatzer opened #1632 "Shopping Cart/Ability to pin packages in search, and install them in one go"
This is a preliminary idea allowing installation of packages from the UI as a batch, potentially saving time and conflicts.

The flow is
Search
Find a package
Pin it

It show up either on the top of the search list as pinned, or in a cart. You can then install, update, or delete it in one go.

[2015-10-23 20:51] emgarten commented on #1468
The net46.app under supports is causing the graph to be walked twice here. The net46 framework is already checked for compatibility since it is the target framework, supports is meant for additional frameworks to verify also.

I'll make a fix for the issue so that nuget handles this better.

[2015-10-23 20:51] yishaigalatzer commented on #1632
CC // @ljw1004

[2015-10-23 20:54] joeaudette commented on #627
Thanks for the clarification, is there a separate issue I can follow for scaffolding content so I can know when it is implemented?

[2015-10-23 21:02] johnataylor commented on #1312
Fixes checked in and functional test passing, and this should fix the issue in both Install and Update.
Thanks @abatishchev for opening the bug much appreciated.

[2015-10-23 21:02] #1312 closed, assigned to johnataylor

[2015-10-23 21:04] #1244 closed, assigned to zhili1208

[2015-10-23 22:16] deepakaravindr commented on #1540
Fixed with https://github.com/NuGet/NuGet.Client/commit/f0cde66f22012083463b853fc3563165a4fea177
and https://github.com/NuGet/NuGet.Client/commit/c3cee71489ed0e6af7764502871faf2a102858ba

[2015-10-23 22:16] #1540 closed, assigned to deepakaravindr

[2015-10-23 22:35] #1017 closed

[2015-10-23 22:46] yishaigalatzer commented on #1631
That's not a recent build or a public one. Closing

[2015-10-23 22:56] yishaigalatzer commented on #1630
@lukemcgregor the code lives in nuget.client.

Before you send a pull request, we should have a discussion first, and agree on a design and approach.

I have a few questions:
1. Why are you pushing directly from your CI to nuget.org, this is a scenario we do not want to support. We can't force people to do it, but CI builds show go to public private feeds and not to nuget.org. nuget.org is intende

[2015-10-23 22:57] #1612 closed, assigned to deepakaravindr

[2015-10-23 23:33] lukemcgregor commented on #1630
My intent is not to publish every build that goes through CI, I totally
agree thats the wrong way to do it, it creates a huge mess of versions and
ruins everyones day. I think we are agreed here

What I want to do is to remove some complexity around deploying to nuget.
What I have found is that the decision to create a package is the same as
the decision to create a new version. So when you increm

[2015-10-23 23:50] AArnott commented on #1631
Sorry. I didn't realize I had any non-public builds on my machine.

[2015-10-24 00:15] yishaigalatzer commented on #1630
What do you think about the list option? Then your script is as simple as

List

If errorlevel == 0 (package exists)
{
Skip
}
Else
{
                Publish
}

BTW on our team we ALWAYS increment the version on every single build, makes it a lot easier to track issues even with dev builds.

From: Luke McGregor [mailto:notifications@github.com]
Sent: Friday, October 23, 2015 4:34 PM
To: NuGet/Home

[2015-10-24 02:23] scottt732 commented on #832
+1

[2015-10-24 03:11] AArnott opened #1633 "NuGet.exe restore <sln> pops assertion dialog"
nuget Version: 3.2.0.10516 (latest public version)

[code]

Among some text output, this assertion failed dialog appears:

[code]

[2015-10-24 03:14] AArnott commented on #1633
It appears to be due to an unexpected value in my project.json file:

[code]

Here I have that I'm targeting `.NETPortable,Version=v4.6` which is incorrect. Changing it to `.NETFramework,Version=v4.6` resolved the issue. Nevertheless an error message at the command line seems better than a blocking assertion dialog in retail software.

[2015-10-24 17:12] emgarten commented on #1633
This has been fixed in 3.2.1-rc

[2015-10-24 17:17] emgarten commented on #1468
NuGet/NuGet.Client@f0efc572368e6cc75f74f7484eb9ce4a19a6af9d

[2015-10-24 17:17] #1468 closed, assigned to emgarten

[2015-10-24 18:15] #1633 closed, assigned to nobody

[2015-10-25 04:25] traktraktrugui commented on #974
I'm was having the same problem as you.
If you have using some scripts in powershell that changes the prompt, will have problems.
In my case, I was using **posh-hg**, and sometimes **Enumerator-Prompt**

![2015-10-25_021944](https://cloud.githubusercontent.com/assets/5555338/10714043/4e943c56-7abf-11e5-918c-cb816f43735d.jpg)
![2015-10-25_022140](https://cloud.githubusercontent.com/assets/5555338/1

[2015-10-25 20:36] forderud commented on #420
Any progress on fixing this issue?

[2015-10-25 21:16] derekmacdonald commented on #1572
Deleting all occurrences of nuget from the extensions folder didn't work. Who knows, maybe it caches the install files somewhere else, installer files are wrong, whatever. 3.3 might fix it, going back to Visual Studio 2013 for now.

 Is Nuget uninstall/install not working a nuget issue or a Visual Studio issue?

Either way, Nuget 3 appears to be an abysmal failure so far.

[2015-10-25 21:25] yishaigalatzer commented on #1572
Sorry to hear that, would love to help you with this, here are a few thoughts on the matter.

Installer failures are typically a visual studio thing, rather than a specific extension thing. But its hard to tell.

Did you run devenv.exe /setup?

Are there any other extensions on your visual studio instance that might interfere?

Last is there a way to get remote access session with you so we can ge

[2015-10-26 13:35] mike-ward opened #1634 "Command line option to list out of date packages"
Maybe I'm being stupid, but I can't seem to find a command line option to show which packages are out of date in a solution. I know I can do this in the IDE.

My preferred way to do this would be

[code]

Another option would be

[code]

.

[2015-10-26 13:50] fubar-coder opened #1635 "Allow safe update"
Enable a "Safe" update from the UI. This would prevent us from seeing updates from one major version to another - and therefore would avoid confusion.

EDIT: This would especially handy with the reintroduction of "Update All"

[2015-10-26 14:15] csharpfritz commented on #1635
What do you mean by "Safe"?  Do you want to prevent updates that cross minor version numbers, perhaps crossing major version numbers?

[2015-10-26 14:39] davkean commented on #1625
Yep, this is all badly documented.

The set of frameworks you are targeting is somewhat confusing; dnx451, dotnet, net45, netcore45, and .NETPortable,Version=v4.5,Profile=Profile259.

How did you choose these ones?

The portable profile (259) that you are targeting supports .NET Framework 4.5+, ASP.NET Core 5.0, Windows 8+, Windows Phone 8.1+ and Windows Phone Silverlight 8+. This already supports

[2015-10-26 14:44] csharpfritz commented on #1443
I have heard this comment from other customers in the past week after sharing the UI update blog post.  It sounds like this will be very helpful for those using private repositories that are updated frequently

[2015-10-26 14:54] fubar-coder commented on #1635
Yes, that's it. It's the equivalent of the "-Safe" option of NuGet.exe

[2015-10-26 15:15] tillig commented on #1625
From a level-setting standpoint: Autofac is an inversion-of-control container for .NET. It's like a tool or framework library. It's not, itself, an _application_.

The reason I say that is that I think there may be a misunderstanding or a slight miscommunication, which could be just me. Autofac _is used by people on these platforms_ but Autofac proper _does not, itself_, "use a platform." So when

[2015-10-26 16:59] MeniZalzman opened #1636 "Add support to search on all enabled sources Package management VS 2015"

[2015-10-26 17:21] feiling commented on #1584
Fixed. https://github.com/NuGet/NuGet.Client/commit/5ad7d21b6cc1a5873b7bec89617aa407bc7722e5

[2015-10-26 17:21] #1584 closed, assigned to feiling

[2015-10-26 17:49] yishaigalatzer commented on #1636
#543

[2015-10-26 17:49] #1636 closed, assigned to nobody

[2015-10-26 17:51] yishaigalatzer commented on #1635
@fubar-coder thanks, I was going to file this in detail today.

The design here is to have an option - Where Update All, doesn't take you above major versions for top level packages, we already have controls like that for dependencies.

This also means we don't show updates in the UI for such packages.

@fubar-coder you should know that you can limit the version range today in packages.config (alt

[2015-10-26 17:54] yishaigalatzer commented on #1634
We would probably go with some sort of `nuget update`

[2015-10-26 18:10] #207 closed

[2015-10-26 18:10] feiling commented on #142
Multiselect update was done.

[2015-10-26 18:10] #142 closed

[2015-10-26 18:38] emgarten commented on #1552
This can be fixed by walking the dependencies for the target packages and optimistically taking the best match, then passing all of the ideal options to the current resolver to solve any conflicts.

[2015-10-26 19:03] yishaigalatzer commented on #1094
This is a duplicate of #333 or at least very closely related. We should fix both in one go

[2015-10-26 19:11] yishaigalatzer commented on #986
What is not supported is that you cannot add/manage/update solution level packages in 3.0.

We plan to bring it back through #1521

Closing this issue, because 1521 has more details and design.

[2015-10-26 19:11] #986 closed

[2015-10-26 19:26] johnegbert opened #1637 "Add package "Filter" option of "Consolidate""
Can you add the "Filter" option of "Consolidate" (that exists in the "Action" drop-down options to filter all the installed packages that need to be "Consolidated" (using multiple versions of the same package in the same solution).
Thanks
John

[2015-10-26 19:27] pete1208 opened #1638 "VS2015 Nuget Console not loading"
If do not have any solution open, I can open the package manager console.   If I then open a solution, VS2015 crashes.

If I restart visual studio with no package manager console open, then open a solution, then choose package manager console, I get the following error:

"The type initializer for 'System.Management.Automation.Runspaces.InitialSessionState' threw an exception."

When this happens I

[2015-10-26 19:38] deepakaravindr commented on #874
The new model to download is http://dist.nuget.org/index.html. And, all exe versions greater than 2.8.6 are available for download

[2015-10-26 19:38] #874 closed

[2015-10-26 20:12] deepakaravindr commented on #1137
We haven't heard any user feedback on this for now, moving out from 3.3, as the priority seems low

[2015-10-26 20:17] deepakaravindr commented on #309
Closing, we will reconsider as part of refactoring

[2015-10-26 20:17] #309 closed

[2015-10-26 20:27] dee-see opened #1639 "Running nuget.exe update -Verbosity Quiet does not display user prompts but expects an answer anyway"
I'm using the NuGet 3.2.1-rc command-line tool.

When there is a file conflict during a package update, we are normally prompted with

[code]

When using the `-Verbosity Quiet` switch, the text above is not shown, but the update process freezes until the user inputs an answer to the hidden question.

I'd like the prompt to be shown even in `Quiet` mode, or maybe assume `-NonInteractive`...

[2015-10-26 21:39] deepakaravindr commented on #1367
@fubar-coder, Can you please send an email to me at daravind@microsoft.com?
I can help you resolve this issue. Thanks!

[2015-10-26 22:07] #917 closed

[2015-10-26 22:08] emgarten commented on #1638
Try updating to the latest 3.2.1-rc VSIX here: https://dist.nuget.org/index.html

Does this happen with any solution? Does creating a new project also show this error?

[2015-10-26 22:13] deepakaravindr commented on #184
This is a duplicate of https://github.com/NuGet/Home/issues/1356

[2015-10-26 22:13] #184 closed

[2015-10-26 22:18] janmchan commented on #1138
I followed the steps in the following blog to resolve a similar issue. Removing the Nuget Packages I think ultimately was the resolution and getting the package manager using Visual Studio.

https://bensdigital.wordpress.com/2015/08/06/upgrading-nuget-the-process-cannot-access-the-file-because-it-is-being-used-by-another-process-vs2015/

[2015-10-26 22:22] #1196 closed, assigned to zhili1208

[2015-10-26 22:23] RanjiniM commented on #1326
The error message shows projectname.project.json now

[2015-10-26 22:23] #1326 closed, assigned to RanjiniM

[2015-10-26 22:43] #1099 closed

[2015-10-26 22:48] zhili1208 commented on #1056
@Torgrimm I think those dns requests are for fetching package icon. I can disable the icon fetching and send you a private build to see if the build can fix your problem. Can you give me your email address? thanks

[2015-10-26 23:14] zhili1208 opened #1640 "On UI, CheckLicenseAcceptanceAsync fetch UIPackageMetadata for each package, it takes up 23% of whole install time"

[2015-10-26 23:27] derekmacdonald commented on #1572
Yes, I ran devenv /setup. I've uninstalled 2015 for now; I'll see how it works after a reinstall probably later this week/early next.

The only extension I was knowingly running was resharper. I also had run the Xamarin installer on this laptop.

[2015-10-26 23:30] yishaigalatzer commented on #1572
Shoot me an email when you get to it, and I'll try to work with you to get to the bottom of it. y i g a l a t z @ msft.com

I might be able to share private bits to debug further.

[2015-10-26 23:46] yishaigalatzer commented on #1488
Fixed with: https://github.com/NuGet/NuGet2/commit/ad10dae82820f3e9e36316a1addf0a07feacff0e

[2015-10-26 23:46] #1488 closed, assigned to yishaigalatzer

[2015-10-26 23:49] MichaelSteinecke commented on #1056
@zhili1208
You can send it to nugetclient@mailinator.com, but please post here a notification for me as well. Otherwise it may get deleted before i can catch it up. (I don't like to post my mail address in public...)

[2015-10-26 23:50] #760 closed

[2015-10-26 23:56] yishaigalatzer commented on #1138
Talking to the vs extensibility folks, there is one extra step to try, which is to launch VS as an admin. Launching VS as admin will clear the extra nuget folders. It can't clear them right now because the extensions is installed for all users and requires admin credentials.

[2015-10-27 00:07] jasonmalinowski opened #1641 "nuget.exe pack of folder with [Content_Types].xml folder in it crashes"
1. Take some functioning .nuspec that you use to make content packages.
2. Include a [Content_Types].xml file into the folder that contains the .nuspec
3. Remove your input `<files>` element so that file will try to be included into the .nupkg
4. Run nuget.exe pack

_Expected:_ it fails in a debuggable way
_Actual:_ it fails with:

[code]

This fails because NuGet has already tried adding the [Con

[2015-10-27 00:14] #1356 closed, assigned to deepakaravindr

[2015-10-27 00:17] emgarten commented on #1641
The exception/message is coming from ZipArchive. NuGet should handle this better.

Full stack:

[code]

[2015-10-27 00:27] yishaigalatzer commented on #1641
We should probably ignore the file (like we do many others) and not fail

[2015-10-27 00:30] yishaigalatzer commented on #1639
Thanks for this report, we should show the prompt regardless of verbosity (although quiet is really pushing it).

We should not assume NotInteracive

[2015-10-27 00:31] yishaigalatzer commented on #1637
https://github.com/NuGet/Home/issues/1626

[2015-10-27 00:31] #1637 closed, assigned to nobody

[2015-10-27 00:41] yishaigalatzer commented on #1337
This was because we used to build debug accidentally. This is now fixed.

Please validate you don't see the issue again.

[2015-10-27 00:41] #1337 closed, assigned to nobody

[2015-10-27 00:42] yishaigalatzer commented on #1247
@feiling I thought we fixed this issue already. If not can you please take another look?

[2015-10-27 00:51] dsplaisted commented on #1337
Great!  I don't see the crash anymore.

[2015-10-27 00:51] deepakaravindr commented on #1576
Verified locally that the changes are good and works as desired

![image](https://cloud.githubusercontent.com/assets/2380340/10746643/3423d5c4-7c0a-11e5-8dd4-603503e7f22a.png)

[2015-10-27 00:58] #1576 closed, assigned to nobody

[2015-10-27 01:22] lukemcgregor commented on #1630
I have noticed that quite a few of the MS teams used to use build numbers in their nuget packages. This isn't strictly semver.

I think if you do want to track explicit builds (which we don't care too much about) then you need to separate that from your semver completely.

Perhaps a good method would be to use the AssemblyInformationalVersion or a specific nuget version to do the correct Semver ve

[2015-10-27 01:39] davkean commented on #1629
@jasonmalinowski Who's reading ProjectReference? Our build task, or NuGet itself?

This thing is practically the thing that's left that's causing us to stay on Mono at the moment which is a massive cause of our failures on Linux.

Is there a workaround that we can apply without this fix?

[2015-10-27 02:17] fubar-coder commented on #1504
Just a side note: It would be nice if this would also avoid the creation of assembly binding redirects when the assembly to redirect would also be updated to the latest version and no redirect would be required.

[2015-10-27 02:19] yishaigalatzer commented on #1629
Jason is there a different way to control the build order? Not to sound offensive but this seems like a tremendous hack to work around limitations in the build system.

Does someone has the time to dig into this for 3.3? We got a few more days left and if so we should have a design meeting asap

[2015-10-27 02:51] #1596 closed, assigned to emgarten

[2015-10-27 02:56] emgarten opened #1642 "ContentFiles nuget.exe pack support"
Update NuGet.Core 2.10.0 to support reading/writing out the ContentFiles section of nuspec files.

[2015-10-27 02:58] emgarten opened #1643 "Add support for including/excluding package folders to project.json"
Add additional types for packages in project.json to allow control over which folders are included in the build.

[2015-10-27 03:00] emgarten opened #1644 "Add support for including/excluding package folders to nuspec defined dependencies"
Add an additional property to nuspec dependencies to allow packages to define which folders are included from a nupkg.

[2015-10-27 03:01] #1624 closed, assigned to danliu

[2015-10-27 03:05] derekmacdonald commented on #1562
This breaks Xamarin Forms with VS2013, even if VS2015 has been uninstalled.

Details: https://bugzilla.xamarin.com/show_bug.cgi?id=34520

[2015-10-27 03:37] #1566 closed, assigned to danliu

[2015-10-27 03:39] fubar-coder opened #1645 "Support .NET packages for C++/CLI"
One of the problems with C++/CLI is, that NuGet only allows the installation of native DLLs for C++(/CLI), but not .NET assemblies.

My proposal is, that when we have a C++/CLI configuration, that the installation of .NET packages/assemblies is allowed. If there are other non-CLI configurations, a warning should be shown. Currently, it's a PITA using the `install.ps1`/`uninstall.ps1` scripts and i

[2015-10-27 03:39] danliu commented on #1582
This may be by design, as while adding binding redirect, we are also looking at the dependent projects (via project references) to add binding redirects.

In this case, the Microsoft.VisualStudio.ProjectSystem.Managed.UnitTests project depends on Microsoft.VisualStudio.ProjectSystem.Managed project. Therefore binding redirects are also added for it.

[2015-10-27 05:31] jaredpar commented on #1629
I agree. We've solved our build order problems before by factoring out tools to a NuGet or prebuild phase (FakeSign). Couldn't we take the same approach here?

Sure it would be nice if we could have this feature and avoid this step. Short term though it seems like a prebuild phase / NuGet package could unblock us here.

[2015-10-27 05:47] davkean commented on #1629
The project reference with ReferenceOutputAssembly isn't a hack - it's how the feature was designed. ProjectReference is the way to control build order, it's just whatever is reading this isn't respecting it.

Wonder if a project that solely exists to control order might work here, taking offline for a discussion.

[2015-10-27 06:13] jaredpar commented on #1629
To clarify I wasn't trying to comment on whether ReferenceOutputAssembly was a hack or not (I don't have the context on that). Instead agreeing that it seemed like a build order limitation that we could possibly work around.

[2015-10-27 06:18] yishaigalatzer commented on #1629
What I'm seeing are two different uses of this attribute with nuget
1. To exclude the dlls from being included in the generated package
2. To exclude the references from flowing up.

It's not clear to me if this is the right attribute to indicate don't flow or not, but regardless of the correct pattern we can't get it designed and done in time for update I unless someone from outside my group can

[2015-10-27 12:31] fubar-coder commented on #1514
This doesn't seem to be fixed in 3.2.1rc1, is this correct?

[2015-10-27 12:34] csabar commented on #1470
I can confirm that it works just temporarily. I can't upload the files here, because the file type is not supported, but I found that the last entry in the ActivityLog.xml is an error log about NuGet.

[code]

The date of the error is 2015/10/13, which is probably date when I started to use migrations in entity framework. And I think for the first time it worked and I was able to create the defaul

[2015-10-27 13:07] pete1208 commented on #1638
I've updated to Package Manager Console Host Version 3.2.1.10581 and the results are the same.

Now here's a something to consider, if I create a powershell project and open that, VS2015 will crash. I can see the project files for a moment, then it crashes.

I've tried re-installing powershell and have net 3.5 & 4.6 installed in windows features. I also disabled my anti-virus with no affect.

[2015-10-27 14:47] yishaigalatzer commented on #1514
This will be in 3.3

[2015-10-27 14:55] yishaigalatzer commented on #1470
How can you tell the error is about nuget? The text doesn't show that, is there more text above it?

The callstack looks like a bug in an editor, which nuget does not ship.

Could you please share more information?

---

From: csabarmailto:notifications@github.com
Sent: ‎10/‎27/‎2015 5:34 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re:

[2015-10-27 15:06] xavierdecoster commented on #1516
As a result of exchanging ideas, here's the suggested syntax and usage:

| Command | Description |
| --- | --- |
| `nuget.exe locals` | Show help for the `nuget.exe locals` command |
| `nuget.exe locals -clear` | Shows usage help for the `nuget.exe locals -clear` command |
| `nuget.exe locals -clear all` | Clears all local resources, including package cache, http cache and local machine-wide packa

[2015-10-27 15:58] yishaigalatzer commented on #1645
Indeed there is no proper support for C++ projects, the scope of the issue however is much larger than what is described here, in some sense C++ projects are a different world than .NET with a different set of constraints.

We do plan to go deeper into this designing this with the C++ team, so keeping this around as a marker issue, and will replace it with more of a design document on the wiki onc

[2015-10-27 16:00] yishaigalatzer commented on #1644
We also want to be able to include all content, and include/exclude at a package level.

Please post the spec here and in the design document

[2015-10-27 16:00] yishaigalatzer commented on #1643
Please post the Spec

[2015-10-27 16:17] yishaigalatzer commented on #1638
Can you share a solution that crashes for you?

[2015-10-27 16:20] yishaigalatzer commented on #1638
Also - Do you have powershell tools installed (https://visualstudiogallery.msdn.microsoft.com/c9eb3ba8-0c59-4944-9a62-6eee37294597)?

What happens if you remove them?

Any other extension installed on your visual studio?

[2015-10-27 16:28] yishaigalatzer commented on #719
Key issue when this is implemented - Verify UI interactivity when needing to get credentials for authenticated feeds

[2015-10-27 16:35] sulmar commented on #1572
I has the same error "Object not set to an instance of object" in VS 2015 with Entity Framework 6.1.3 and Rx-Main 2.2.5 packages. Only after installing the nuget from 3.2.1-rc installer issue is resolved.

[2015-10-27 16:38] yishaigalatzer commented on #1166
We are not going to do that. We will just get rid of the dependency in V3

[2015-10-27 16:38] #1166 closed

[2015-10-27 16:41] yishaigalatzer commented on #1572
@derekmacdonald one more thing I learned yesterday. You want to run visual studio at least once in admin mode. It enables it to perform cleanup on left over files from extensions.

[2015-10-27 17:21] MeniZalzman commented on #1595
We enable all commandline tests.

[2015-10-27 17:21] #1595 closed, assigned to MeniZalzman

[2015-10-27 17:27] #1200 closed, assigned to zhili1208

[2015-10-27 17:30] deepakaravindr commented on #1166
@yishaigalatzer,

Actually, I meant to write 'Drop use of NuGet.ISettings, which is from NuGet.Core, in NuGet v3'. In an attempt to write short titles, I changed the meaning altogether :)

[2015-10-27 17:34] MeniZalzman commented on #1469
We resolve this issue with the move to the new repository

[2015-10-27 17:34] #1469 closed, assigned to MeniZalzman

[2015-10-27 17:51] jasonmalinowski commented on #1629
@davkean: it's a mix of both. The command line nuget.exe restore gets it's full set of projects to process by running a build target which lives in my build targets. The VS NuGet tooling restore walks DTE.

[2015-10-27 17:56] zhili1208 commented on #1056
@Torgrimm just sent it

[2015-10-27 18:03] zhili1208 commented on #1056
@Torgrimm mailinator mail server returned message oversized error, my email is lzhi@microsoft.com, you can send your email address to me. thanks

[2015-10-27 18:14] RanjiniM commented on #962
Clearing out the milestone. We can't remove the error messages from error list yet until we find another way to surface those. In error cases the messages are explanatory.

[2015-10-27 18:18] #962 closed

[2015-10-27 18:23] zhili1208 commented on #999
this is not regression, 2.8.X has same issue. For install and restore, log with verbosity is same as log without verbosity. some commands don't have much log.

[2015-10-27 18:48] MeniZalzman commented on #1622
Following our conversion we are closing the issue for now until we will get a clear repro steps or detailed log, also Zack trying to collect the hit count of this issue

[2015-10-27 18:48] #1622 closed, assigned to MeniZalzman

[2015-10-27 18:51] yishaigalatzer commented on #1470
Sorry, I just realized this is NuGet (reminder to self, stop reviewing callstacks right out of bed :) ).

Will take a look shortly

[2015-10-27 20:16] danliu commented on #1616
One more test is ProjectKInstallDNXCore

[2015-10-27 20:17] danliu commented on #1616
Since the tests works fine locally, there are timing issues with checking the project.json references on the test machine. Please work with Anton to see if there is a solution for this.

[2015-10-27 20:33] czfq2b commented on #1138
Thanks, those steps worked, but now I get the same error on the next extension I try to install (GitHub).

Starting it in Admin mode made no difference, same IO some file in use error.

Thanks for your time.

Cliff

[2015-10-27 20:49] yishaigalatzer commented on #1138
@czfq2b I'm forwarding this over to the VSIX owners. Looks like there is something systematic in their part of the code.

[2015-10-27 21:08] ronybarbosa opened #1646 "-ConfigFile is not setting custom config on install command"
Hi Guys,

I have a project located on my D: Driver. I am trying to set up a custom NuGet.config for my develop enviroment.

My project is located on "D:\company\project\Service". I am placing my nuget config in this folder and naming it as "Nuget.local.config" containing the following configuration:

[code]

and I try to install my packages running the follow command:

[code]

But it didn work.

I

[2015-10-27 21:10] deepakaravindr commented on #555
https://github.com/NuGet/Home/issues/652 is the same as this one.
And,
Customer also observed the same issue with https://github.com/NuGet/Home/issues/1470

[2015-10-27 23:40] yishaigalatzer commented on #1024
So you will have to get the package down, and the story for finding out applicability to a target is described in this [gist](https://gist.github.com/yishaigalatzer/f94003b399d4fd28091c)

[2015-10-27 23:40] #1024 closed

[2015-10-27 23:42] yishaigalatzer commented on #1013
@johnataylor can you assess the state of this bug after the last round of changes you made to update-package ?

CC @emgarten

[2015-10-28 00:35] ghost opened #1647 ""sources add" fails on remote box because it needs to have encryption rights"
Hey,

Im trying the following (Nuget version: 2.8.60717.93):

[code]

I understand that I can this fix by giving encryption permissions for this user in this machine through AD but this seems like a lot of work for something "simple". Is there any chance that the encryption algorithm could be changed for something else that doesn't require some much AD config? I'd be happy if I could choose a diff

[2015-10-28 01:20] yishaigalatzer commented on #1646
As a workaround, can you place the nuget.config in a subfolder that represents your configuration

e.g.

[code]

And then call

[code]

[2015-10-28 01:22] yishaigalatzer commented on #1647
We are not planning on changing this, if anything we will make encryption stronger rather than weaker.

[2015-10-28 01:22] #1647 closed, assigned to nobody

[2015-10-28 03:08] davkean opened #1648 "NuGet -verbosity quiet doesn't show errors and warnings"
Due to the large amount output of `NuGet restore -verbosity normal` blowing through our output buffer on our Roslyn Jenkins server, we've needed to reduce the verbosity to `quiet`.

NuGet, however, unlike most command-line tools doesn't output errors/warnings in `quiet` mode, so either you need to live with the noise of `normal` or put up with not knowing when something went wrong.

[2015-10-28 03:13] gutierlf commented on #1416
Here's a vote for returning this object so that the license download will work again.

[2015-10-28 10:16] #439 closed

[2015-10-28 10:38] oocx opened #1649 "NullReferenceException in NuGet.PackageManagement.VisualStudio.AssemblyBinding.Parse"
I accidentially deleted the "version" attribute of a  codeBase Element in one of the app.config files in my solution. This caused install-package (invoked in the package manager console) to fail for all projects in my solution without giving me a meaningful error message. I had to attach a debugger to Visual Studio to find the cause of the problem.

Expected behavior:
NuGet should not crash when p

[2015-10-28 12:29] ronybarbosa commented on #1646
It also didn't work .

I suppose these folders don't follow the folder hierarchy. That one described on the documentation.

[2015-10-28 13:15] xavierdecoster commented on #1324
@feiling `-verbosity` needs to have one of these values: `quiet, normal, detailed`. I'm assuming by _verbosity is set to true_ you are referring to `-verbosity detailed`, right?

[2015-10-28 13:16] pete1208 commented on #1638
I've had the powershell tools installed, then removed them and tried, then re-installed and tried with the same result.

As far as a project goes, it is as simple as creating a default C# WPF or C# Forms project.  Then going using the tools / nuget / console command with the project open.  No special references for anything, just the default starter project.

I've repaired VS2015, reinstalled powe

[2015-10-28 13:38] maartenba opened #1650 "Throw Error: "hexadecimal value 0x00, is an invalid character.""
_From @Cuiqs76 on October 28, 2015 13:25_

VS2015 & Windows 10 environment Nuget the Prism.Unity throw Error "hexadecimal value 0x00, is an invalid character."

When nugeting, the computer power off.  restart computer and reload the program. the package file show messy code. and delete the package file.  try to re-nuget , the error throw.

Attempting to gather dependencies information for package

[2015-10-28 14:34] maartenba opened #1651 "Update not working correctly for NuGet.exe (2.8.6) with -Safe option"
_From @fknx on October 28, 2015 14:6_

Hello,

I am using the NuGet.exe (2.8.6) to update my packages with the `-Safe` option. According to the [docs](https://docs.nuget.org/consume/command-line-reference#update-command) the `-Safe` option will not update a package to a higher major or minor version.

When I update a prerelease package with version `6.44.1-C80673` using the `-Safe` option I would

[2015-10-28 15:37] pete1208 commented on #1638
Ok, i've tried modifying devenv.exe.config.   I can now get the console up when a project is open, but there are some errors.  However the console prompt does appear.

Changes to config file:

   <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
                <probing privatePath="PublicAssemblies;PrivateAssemblies;CommonExtensions\Microsoft\TemplateProviders;CommonExtensions\Platform\D

[2015-10-28 15:59] xavierdecoster opened #1652 "Improve validation when creating localized satellite packages: optional Language property mismatch"
Language is not a required piece of metadata in the nuspec. When creating localized satellite packages, the package Id contains the culture of the package, but the Language property is often forgotten, making it an unreliable piece of metadata.

[2015-10-28 16:50] #1343 closed, assigned to xavierdecoster

[2015-10-28 18:23] weshaggard opened #1653 "Nuget restore needs to support batch restoring for larger projects"
Today for the corefx repo we do a batch restore of all the project.json files in the entire repo (>800) up front to try and reduce the build time costs of doing that for every individual project. We need to support this type of scenario with nuget restore.

See https://github.com/aspnet/dnx/issues/2771 and https://github.com/aspnet/dnx/commit/0dda8bf86863364cc20421f1af7494f1b2a3256f#commit for som

[2015-10-28 18:41] emgarten commented on #1644
https://github.com/NuGet/Home/wiki/%5BSpec%5D-Managing-dependency-package-assets

[2015-10-28 18:41] emgarten commented on #1643
https://github.com/NuGet/Home/wiki/%5BSpec%5D-Managing-dependency-package-assets

[2015-10-28 19:50] idg10 commented on #1367
I'm seeing exactly this same issue, but with a different package:

Attempting to gather dependencies information for package 'xunit.extensibility.execution.2.1.0' with respect to project '@Tests\Valhalla.Services.Core.Tests', targeting '.NETFramework,Version=v4.6'
Attempting to resolve dependencies for package 'xunit.extensibility.execution.2.1.0' with DependencyBehavior 'Lowest'
Resolving actions

[2015-10-28 19:52] yishaigalatzer commented on #1367
Ian, what version of NuGet are you using?

[2015-10-28 20:09] feiling opened #1654 "UI: Better UserSettings saving and loading"
UserSettings are saved and loaded into .suo using BinaryFormatter. This means if there's any change to the user settings, and existing existing won't get read. We need a better way to load & save settings such that
- old settings can be read by new code.
- new settings can be read by old code: a setting that cannot be recognized is ignored by will not be overwritten when saving.

[2015-10-28 20:10] feiling opened #1655 "UI: options should also appear in Tools -> Options"
The install and uninstall options displayed on the UI should also be accessible thru Tools -> Options.

[2015-10-28 20:12] feiling opened #1656 "UI: The Solution View should be resizable with a splitter"
in solution package manager, the solution view, i.e. the part just above "Options", should be resizable with a control like grid splitter.

[2015-10-28 20:14] feiling opened #1657 "UI: project list should be resorted after InstalledVersion changed"
The user can sort a column in the project list in solution package manager. The problem is that after an install/uninstall action is executed, the InstalledVersion values of the projects will change, but the project list won't get resorted if the current sort column is Version.

[2015-10-28 20:33] yishaigalatzer commented on #1650
Duplicate of https://github.com/NuGet/Home/issues/1550

Looks like one of your app.config or web.config files is corrupt.

[2015-10-28 20:33] #1650 closed, assigned to nobody

[2015-10-28 20:37] yishaigalatzer commented on #1652
@xavierdecoster is this a user report? Can you provide more specific details and a sample of what you refer to?

[2015-10-28 20:44] yishaigalatzer commented on #1651
Is this using nuget.exe or the visual studio extension?

[2015-10-28 20:47] yishaigalatzer commented on #1649
@oocx I just fixed a very similar bug.

Going forward (3.3+)
1. We are not going to fail if binding redirect failed, and we are just going to write a warning (this is configurable)
2. We are going to spit out an error telling you what file didn't follow the scheme.
3. Binding redirects are now optional

I don't think we have a meaningful error message for this particular case, so this is still wor

[2015-10-28 20:54] davkean commented on #1653
Roslyn is bigger that CoreFX right now, and we have one giant Roslyn solution pulling in every project. With this change here: https://github.com/NuGet/Home/issues/1586, this works pretty decently.

[2015-10-28 21:01] yishaigalatzer commented on #1649
@oocx we will also gladly take a pull request if you already spent the time digging into the code

[2015-10-28 21:04] xavierdecoster commented on #1652
I'm also a user, so technically yes :)

When creating a NuGet package following the [guidelines for creating localized satellite packages](http://docs.nuget.org/create/creating-localized-packages#satellite-package-approach), it is very easy to forget about providing a correct value for the Language property in the nuspec when packing, even though the package ID contains the culture for each satell

[2015-10-29 01:24] bobmeyers5 opened #1658 "VS command "Enable NuGet Package Restore" reverts to pre-2.7 approach (NuGet.targets, etc.)"
I just manually migrated a solution and its packages to the new 2.7+ approach to package restore, referred to as Automatic Package Restore. This was working great, but then as I was testing things out, I clicked this menu item on the Solution context menu, and it undid just about everything I had done.

Not cool...

[2015-10-29 03:19] yishaigalatzer commented on #1658
What version of visual studio are you using? This was fixed in NuGet 3+ as far as I know

[2015-10-29 03:38] #1649 closed, assigned to nobody

[2015-10-29 05:29] bobmeyers5 commented on #1658
Microsoft Visual Studio Ultimate 2013Version 12.0.40629.00 Update 5
NuGet Package Manager   2.8.60723.765

Date: Wed, 28 Oct 2015 20:19:41 -0700
From: notifications@github.com
To: Home@noreply.github.com
CC: bob@themeyers.net
Subject: Re: [Home] VS command "Enable NuGet Package Restore" reverts to pre-2.7 approach (NuGet.targets, etc.) (#1658)

What version of visual studio are you using? This was

[2015-10-29 06:47] fknx commented on #1651
I am using the nuget.exe.

[2015-10-29 07:20] maartenba opened #1659 "NuGet package source installation"
_From @dajuric on October 28, 2015 23:39_

The provided package I created (I cannot upload the nupkg file here):
http://expirebox.com/download/059a5d4acd4c0f92ada91212c2f7b1f1.html

installs fine when used in .NET 4.x.
However, when added to DotNet5 project, it is added as an dependency, the source file is not copied and the readme file is not shown.

![project](https://cloud.githubusercontent.com

[2015-10-29 09:55] fknx commented on #1651
I've taken a look into the code and I suspect this has to do with the implementation of the `GetSafeRange` method from the `VersionUtility` class:

https://github.com/NuGet/NuGet2/blob/861741bd780225a542c73a1d0904dd33b33a7a3d/src/Core/Utility/VersionUtility.cs#L498-L506

It returns a `VersionSpec` object with a non-inclusive max version of the passed in major and minor version + 1, so in my case t

[2015-10-29 10:33] ashmind commented on #1203
ReleaseNotes.md would be great, especially considering ASP.NET's `project.json` does not allow newlines other than `\r\n`, which is unusable for any large-ish metadata.

Alternatively -- sections from ReadMe.md for both Description and Release Notes (description has same problem with `project.json`).

[2015-10-29 11:12] nietras commented on #796
This is definitely still a problem in NuGet 3.2.0 part VS2015 RTM. We get these files whenever we install or update packages.

[2015-10-29 11:18] dajuric commented on #1659
Can I have some explanation on what has been done regarding the issue ??

[2015-10-29 14:08] ericstj opened #1660 "Nuget needs to support dependencies specific to target runtime"
Currently there is no way to represent dependencies that are specific to a library under runtimes/{rid}/lib/{tfm}.  This made sense when RID was only used for architecture, now that RID also represents OS platform it does not.  There are entire packages/technologies that will only exist on a certain OS and folks will need to build fat-packages that depend on these.

I met with @davidfowl, @yishaig

[2015-10-29 15:07] fknx commented on #1651
In case the `GetSafeRange` method's implementation is the cause for this issue I would suggest the following change:

[code]

Using this modification the non-inclusive max version would be `6.45.0-a` using the previous example. As far as I can see there is no possible (valid) version starting with `6.45` which would be _lower_.

[2015-10-29 15:40] MoonStorm opened #1661 "Shared dependency group ignored"
Please have a look at https://www.nuget.org/packages/Dapper.FastCrud/2.1.0

As you can see it's got a dependency for all the frameworks to `Dapper`, with some special treatment for .NET 4.5.

It properly reflects the definition of the dependencies in the nuspec file.

[code]

However, when you try to install it in VS2015 when the project is targeting .NET 4.5 for example, the shared `Dapper` depen

[2015-10-29 16:00] yishaigalatzer commented on #1651
Thanks for the detailed analysis. I wonder if this is fixed in 3.2. I'm on the road at the moment so you can find and try it at dist.nuget.org/index.html

If it still repros we should take a fix

Sent from my Windows Phone

---

From: Frederik Knustmailto:notifications@github.com
Sent: ‎10/‎29/‎2015 8:07 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.c

[2015-10-29 16:39] johnataylor commented on #1651
This should not repro in 3.3. The code is actually very different. Here is the relevant code:

Firstly the -Safe flag is translated into VersionConstraints:

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/PackageManagement.PowerShellCmdlets/Cmdlets/UpdatePackageCommand.cs#L335

And secondly, every candidate Package we receive from the feed(s) is filtered according to these constr

[2015-10-29 16:43] oocx commented on #1649
Thanks for the fast response!

[2015-10-29 16:46] yishaigalatzer commented on #1649
It irked me enough to fix it before going to sleep :)

[2015-10-29 17:28] zhili1208 commented on #796
@nietras Yes, 3.2 still has this issue, it's fixed in 3.3

[2015-10-29 18:31] leppie commented on #1203
Allow release notes to be constructed from commits to git or TFS, etc.

[2015-10-29 18:32] pete1208 commented on #1638
I've just tried it, and the above workaround allows the entity framework to install, so I'm happy.

[2015-10-29 18:32] deepakaravindr commented on #1367
@fubar-coder, I have sent you an email. Not sure if you got a chance to read it. Please check it out.

[2015-10-29 20:36] RanjiniM commented on #1307
First part of the fix - open readme files in project.json scenarios is done - https://github.com/nuget/nuget.client/pull/77

[2015-10-29 20:36] #1307 closed, assigned to RanjiniM

[2015-10-29 20:38] RanjiniM opened #1662 "Show infobar with links to open readme files when installing packages"
https://github.com/NuGet/Home/issues/1307 - relevant bug.

Currently we open the readme file, if one exists, after installing the package. Instead look into showing an infobar that gives user the control whether to open the readme file or not.

[2015-10-29 21:55] xavierdecoster commented on #1516
Fixed with https://github.com/NuGet/NuGet.Client/commit/3b5a7fc2dc221161a7a7caf8415ec25a3a4189fc

[2015-10-29 21:55] #1516 closed, assigned to xavierdecoster

[2015-10-29 22:50] feiling commented on #1585
Implemented. See https://github.com/NuGet/NuGet.Client/commit/1805918a0ca0a15076947747e60abaca70516654

[2015-10-29 22:50] #1585 closed, assigned to feiling

[2015-10-29 22:51] feiling commented on #1504
Implemented.

[2015-10-29 22:51] #1504 closed, assigned to feiling

[2015-10-29 22:51] feiling commented on #1446
Implemented.

[2015-10-29 22:51] #1446 closed, assigned to feiling

[2015-10-29 22:59] emgarten commented on #1661
NuGet selects the nearest group and uses it. It only picks one. You shoud add Dapper to both the net45 and net46 groups and remove the empty framework group.

[2015-10-29 23:09] emgarten opened #1663 "Lock file differs when restoring with the packages in the global folder vs online"
Steps
1. delete the global folder
2. restore the below project.json
3. save the lock file
4. restore again

Verify the lock files are the same

[code]

[2015-10-29 23:14] MoonStorm commented on #1661
@emgarten That doesn't make any sense.

I've also seen this example in the docs:

https://docs.nuget.org/create/nuspec-reference#specifying-dependencies-in-version-2.0-and-above

[code]

When is RouteMagic gonna get installed? Don't say ONLY in versions below .NET 4.0 or Silverlight 3.0 because it makes no sense. That section is the common dependency section. The Dapper dependency in my case is ev

[2015-10-30 00:52] emgarten commented on #1661
RouteMagic will not be installed for sl30 since that has a group. RouteMagic would be installed for native, win8, net35, and all other frameworks since it is in the fallback group.

From the doc:

[2015-10-30 04:35] MoonStorm commented on #1661
I get the reasoning behind this decision. In any case, can someone please update the docs to avoid the confusion, by adding the fact that the group with no target is actually considered to be a "fallback group".

Also, someone has to change the report for the packages that use that group in nuget.org, because it's wrongfully saying that those dependencies are for " **all frameworks**".

Thanks Jus

[2015-10-30 06:01] tomkuijsten commented on #1578
Wauw cool, thanks a million for the sample code!

[2015-10-30 10:04] woellij commented on #1572
I'm encountering the same issue.

Once a PCL is changed to a Profile Compatible with "ASP.NET Core v5.0" Opening "Manage NuGet Packages ..." on a Project throws  "Object reference not set to an instance of object".

I suspect it has something to do with the "project.json" file that is generated by changing the Profile to a compatible one. Probably with the fact, that said "project.json" file is em

[2015-10-30 13:27] csharpfritz commented on #1359
We can't assume that all clients are using the NuGet.org server.  There is a rich ecosystem of 3rd party servers out there in use.  It feels like this breaking change that we could pilot in a future release, but wide-acceptance of this should be rolled up with other breaking changes under consideration for a v4 release.

[2015-10-30 13:43] idg10 commented on #1367
@yishaigalatzer, VS2015 reports NuGet 3.2.0. And if I open the Package Manager Console pane I see:

[code]

Interestingly, if I run Install-Package and point it at the v2 NuGet feed, it works ok.

[2015-10-30 15:26] yishaigalatzer commented on #1572
Thanks for the feedback. Nullref is a very generic exception so saying this was already reported is not very accurate.

I believe your scenario is fixed in 3.3 already, and I will verify today.

Sent from my Windows Phone

---

From: woellijmailto:notifications@github.com
Sent: ‎10/‎30/‎2015 3:04 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subje

[2015-10-30 16:12] yishaigalatzer commented on #1572
@woellij so we don't control the creation of and empty `project.json` I'll forward this to the right team.

However in 3.3 (getting ready to be released) we will throw a proper error message pointing you to what went wrong -

![capture](https://cloud.githubusercontent.com/assets/1238711/10851071/529045ae-7ee6-11e5-8f8a-2d376f62d9e0.PNG)

[2015-10-30 16:21] yishaigalatzer commented on #1367
@idg10

At least on 3.3 I don't see it:

[code]

Source is - api.nuget.org/v3/index.json

So I'd suggest first upgrading to 3.2.1-RC (or shoot me an email, and I'll try to get you private bits for 3.3), if it still repros we will need to get a more detailed case (like a sample project that fails with exact steps)

Edit: You can find 3.2.1-rc on https://dist.nuget.org/index.html

[2015-10-30 17:14] RanjiniM opened #1664 "Empty dropdown for 'Update' is shown in Package Manager Dialog and leads to NullReferenceException"
1. Configure an UNC with one version of a package as Package Source. For example my share has only elmah, 1.2.2
2. Install the package into a project
3. Now an empty dropdown with 'Update' button enabled is shown
4. Click on 'Update'

Nullreference exception is thrown

[2015-10-30 18:01] emgarten commented on #1663
NuGet/NuGet.Client@42cbee2a8aca0f448d09734a753245a60dedaa2f

[2015-10-30 18:01] #1663 closed, assigned to emgarten

[2015-10-30 18:29] yishaigalatzer commented on #1661
Logged an issue for nuget.org

The doc actually says exactly that -

| Attribute | Description |
| --- | --- |
| targetFramework | **Optional**. The target framework of the group. If not set, the group acts as a **fallback** group, which behaves exactly as before version 2.0 |

[2015-10-30 18:29] #1661 closed, assigned to nobody

[2015-10-30 18:31] yishaigalatzer commented on #1659
That is by design currently. ASP.NET 5 does not support either of these actions.

In NuGet 3.3 we plan to re-introduce a new immutable content model. And readme.txt will show up again for none asp.NET 5 projects (that's an explicit choice that project system made).

[2015-10-30 18:31] #1659 closed, assigned to nobody

[2015-10-30 18:32] yishaigalatzer commented on #1664
https://github.com/NuGet/NuGet.Client/pull/85

[2015-10-30 18:46] feiling commented on #1664
Fix checked in.

[2015-10-30 18:46] #1664 closed, assigned to feiling

[2015-10-30 18:48] dajuric commented on #1659
Thank you.
And then will it be possible to install package as source file(s) ?
When NuGet 3.3 is going to become active ?

[2015-10-30 19:11] #555 closed

[2015-10-30 19:38] SetTrend opened #1665 "Proposal: Visual Studio Extension should allow for upgrading all project/solution packages in one shot"
For the NuGet Package Manager interface, it would be nice to have an **"Upgrade all"** button to immediately update all of a project/solution's updatable packages in one shot and to have an additional **filter drop down list**, similar to the following sketch, for easily getting an overview on whether updates for installed packages are available:

[code]

That would ease upgrading a fresh project

[2015-10-30 20:08] csharpfritz commented on #1665
Already addressed with upcoming UI changes in v3.3  Please read our blogpost at: http://blog.nuget.org/20151014/nuget-userinterface.html for details of the coming UI changes including the Installed / Update Available tabs as well as the Update All feature.

[2015-10-30 20:08] #1665 closed, assigned to nobody

[2015-10-30 20:32] johnkoerner opened #1666 "Prerelease Setting Should be Set Per Package Source"
Currently the "Include Prerelease" setting in the package manager UI affects all packages sources.  I work in an environment where I use multiple package sources and would like some sources to default to prerelease, while others to default to stable.

We have internal nuget repositories where I want to be on the bleeding edge to get all latest updates, but from the official nuget.org package sourc

[2015-10-30 20:33] MoonStorm commented on #1661
Silly me. I missed that in the docs sorry.

[2015-10-30 22:36] feiling opened #1667 "We should consolidate methods BackgroundLoad() and GetPackageInfo()"
BackgroundLoad() is called during a search to get the status, latest version & installed version for packages, while GetPackageInfo() is called after a package install/uninstall to get the same data. So they are doing the same thing, just in different context. The problem is that the result they return are not exact same: in BackgroundLoad(), the latest version is the highest version from all avai

[2015-10-31 01:29] yishaigalatzer commented on #1666
That's a cool idea. We have some ideas around building a proxy with policy, and that would enable building a lot more elaborate control around that kind of scenario.

For example you want to take certain packages only from a private feed (though they exist on nuget.org you might have hijaacked them, or there might be a name collision between two feeds).

Making the change in the resolver/nuget pro

[2015-10-31 01:33] yishaigalatzer commented on #608
Just verified in 3.3, it is set a none.

![image](https://cloud.githubusercontent.com/assets/1238711/10861165/b2105c32-7f34-11e5-9eb2-6e6ff78d77c0.png)

[2015-10-31 01:33] #608 closed

[2015-10-31 01:39] yishaigalatzer commented on #930
We just added a feature where in ASP.NET 5, packages that have bower equivalence show a link that takes you to the bower installer directly from NuGet.

It will be available in 3.3, there is no link inside the package (yet), but we could that in a future release.

@madskristensen owns the list of the links (which I believe is package name and source)

[2015-10-31 01:56] yishaigalatzer commented on #1580
ping, looks like we will have to move this out of 3.3.

[2015-10-31 02:00] yishaigalatzer commented on #1495
@johnataylor can you get back to looking at this for 3.3?

[2015-10-31 02:02] yishaigalatzer commented on #1470
I believe this was fixed today, when #555 was fixed.

If this repros after 3.3 is released we should open a fresh bug, and take another look.

[2015-10-31 02:02] #1470 closed, assigned to deepakaravindr

[2015-10-31 02:05] yishaigalatzer commented on #1332
ping @emgarten

[2015-10-31 02:05] yishaigalatzer commented on #1262
@feiling can you please look at this first thing on Monday?

[2015-10-31 02:06] yishaigalatzer commented on #1255
@deepakaravindr more details please?

[2015-10-31 02:07] yishaigalatzer commented on #1249
@emgarten this is related to the fix you attempted today. Looks valueable to try and get it in on Monday if we can

[2015-10-31 02:08] yishaigalatzer commented on #1235
@feiling ping

[2015-10-31 14:16] Eonasdan commented on #930
sweet! Thanks guys!

[2015-10-31 23:26] toannguyen83 opened #1668 "NuGet.VisualStudioExtension VS 2015 - Show installed projects when select a package"
https://visualstudiogallery.msdn.microsoft.com/5d345edc-2e2d-4a9c-b73b-d53956dc458d  <- refering to nuget visual studio 2015 extension.

In the old nuget visual studio extenstion vs 2013, when you select an installed package, you get a nice little text at the bottom right panel telling you which projects having the package installed.
![image](https://cloud.githubusercontent.com/assets/2815878/1086

[2015-11-01 10:35] aflyhorse commented on #1572
Upgrading to 3.2.1-rc1 also resolved my problem.

I was getting

[code]

before my upgrading.

[2015-11-01 14:41] maartenba opened #1669 "Automatic import of props at top of project file is not always correct."
_From @aodennison on November 1, 2015 6:20_

(V 2.8.50926.663) Automatically inserting the include of "xxx.props" file at top of the csproj file does not work if the properties refer to certain MsBuild symbols. It causes MsBuild/VS to throw errors.

For example, the following fails with an unhelpful error about an invalid startIndex passed to Substring if it is included at the start of the project

[2015-11-02 06:23] Kamarey opened #1670 "Update packages from specific source only doesn't work"
I'm trying to update all packages in a solution from our company's local package repository. I [found](https://docs.nuget.org/consume/Package-Manager-Console-PowerShell-Reference#update-package) that there is the Source argument for this purpose:
   Update-Package -Source SomeSourceName

But when running this command (in Package Manager Console), it updates all packages from all sources, not just

[2015-11-02 11:39] tallandtree opened #1671 "nuget client ignores no_proxy setting"
When you are behind a corporate proxy, you often have to specify environment variables http_proxy, https_proxy and no_proxy for tools like npm, git, nuget, etc.
But if you have an inhouse nuget repository, nuget client fails as it does not respect the no_proxy setting. It tries to find our local nuget repository via the proxy (http_proxy), and therefore fails as the proxy is not aware of our local

[2015-11-02 19:13] deepakaravindr commented on #1255
Usage and Help information at http://docs.nuget.org/consume/command-line-reference#restore-command is outdated.
For instance, Usage should be
nuget restore [< solution > | < packages.config file > | < project.json > | < Microsoft Build project >] [options]

But, it still reads
nuget restore [< solution >|< packages.config file >] [options]

[2015-11-02 19:54] yishaigalatzer commented on #1255
By the time you wrote this, you could have submitted a PR and closed this issue :)

[2015-11-02 19:56] emanuelquintero commented on #1575
Cannot repro anymore.

[2015-11-02 19:56] #1575 closed, assigned to feiling

[2015-11-02 19:59] yishaigalatzer commented on #1670
@johnataylor - Can you reply here?

[2015-11-02 20:07] yishaigalatzer commented on #1668
This is supported in 3.3

![image](https://cloud.githubusercontent.com/assets/1238711/10892796/3f82e996-815a-11e5-9cfa-4612d11989eb.png)

[2015-11-02 20:07] #1668 closed, assigned to nobody

[2015-11-02 20:09] yishaigalatzer commented on #1669
The documentation seems pretty clear to me, what you see is the fact that is is hard to debug msbuild. So I'm not following what is the suggestion here?

[2015-11-02 20:32] johnataylor commented on #1013
I just confirmed that this is definitely a bug. The problem is that the code in ResolverGather expects every primary id to be present in the primary sources. This is the wrong semantic for Update ALL and essentially a regression from v2.

The offending code is https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.PackageManagement/Resolution/ResolverGather.cs#L202

In an Update ALL s

[2015-11-02 20:45] deepakaravindr opened #1672 "On a UAP project, installing by typing wrong casing for package id fails from a folder based package source"
On a UAP project, installing by typing wrong casing for package id fails from a folder based package source

Repro steps:
1. Create a C# UAP application
2. Create a folder with say a package, called, jQueryShared
3. Add the folder created above as a source
4. Install-Package <b>jqueryShared</b> (from the source added in Step-3)

Expected:
It installs successfully even the

Actual:
It fails with th

[2015-11-02 22:47] feiling opened #1673 "After powershell command is finished in PMC, the UI won't refresh to reflect the changes."

[2015-11-02 22:50] yishaigalatzer opened #1674 "installing package from a local source that doesn't exist throws a bogus message"
Run the following command from Power Shell, of course make sure the folder `c:\temp\data` does not exist on your machine

[code]

The error says `Unable to find package 'Rules'` instead of cannot find the folder (or a mix of the two)

[2015-11-03 00:28] yishaigalatzer commented on #1671
The story here is that your proxy should be considered to understand what URLs are inside your network and which are out.

Since we support multiple sources, a simple no_proxy environment variable will not work, and we need to think of something more elaborate here.

Moving this out to a future milestone to be considered.

CC @anurse @feiling

[2015-11-03 08:03] tallandtree commented on #1671
I do agree with you that proxies should understand the local servers, however: that is not always the case and we can't change our companies proxy policy.
Allmost all other tools do respect the "no_proxy" setting. Nuget is an exception. If no_proxy contains wildcards and ',' separated, multiple sources are supported.
Definition **no_proxy**: This variable should contain a comma-separated list of d

[2015-11-03 08:21] emgarten commented on #1332
I don't believe this has been fixed yet.

[2015-11-03 08:48] martinsuchan commented on #456
This just happened on my machine - Windows 10, Visual Studio 2015 Pro with UWP Tools v1.1, NuGet 3.2.60914. When rebuilding UWP app sample -> **about 100 Basic Authentication dialogs popped up even though I got our custom feed with saved basic authentication credentials properly added in feed sources**. Note this sample used only default UWP NuGet package Microsoft.NETCore.UniversalWindowsPlatform

[2015-11-03 12:36] Liero commented on #980
I'm using VS2015+NuGet 30.2.60914, but when I restore packages, the the files appears Team Explorer\Pending Changes\Excluded Files\Detected as added files.

[code]

[2015-11-03 14:37] MtMovo opened #1675 "Install NuGet package programatically"
Wondering if such scenario would be possible:
I have an app which would let user to install plugins during runtime. Those plugins are NuGet packages. So i would need to:
1) Display a list of available packages
2) Download selected packages and resolve dependencies

Is there an API for this kind of operations in NuGet 3.x?

[2015-11-03 14:41] yishaigalatzer commented on #456
Do you get a consistent repro? As in does this happen every time or just once?

We just did an overhaul for auth in 3.3 so it would be interesting to test it.

Last it doesn't matter if packages are in the authenticated source or not because the code cannot know that until they get queried

[2015-11-03 15:03] daveaglick commented on #1675
I'm using the following libraries to programmatically consume the 2.x feed:
NuGet.Core
NuGet.Frameworks
NuGet.Versioning
NuGet.Packaging

Not sure about the 3.0 feed (they might work, I just haven't tested personally).

Unfortunately, there isn't much documentation for these libraries. Here's an old blog post: http://blog.nuget.org/20130520/Play-with-packages.html. I've also got code here that pro

[2015-11-03 16:29] feiling commented on #1626
Implemented.

[2015-11-03 16:29] #1626 closed, assigned to feiling

[2015-11-03 17:35] ericstj commented on #1457
Ping, this bug still exists.  Fix is a simple one liner.  Want me to submit a PR?

[2015-11-03 17:37] yishaigalatzer commented on #1457
Sure

Sent from my Windows Phone

---

From: Eric StJohnmailto:notifications@github.com
Sent: ‎11/‎3/‎2015 9:35 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Nuget chooses wrong RID asset when no matching RID is present (#1457)

Ping, this bug still exists. Fix is a simple one liner. Want me to submit a PR?

—
Reply to this ema

[2015-11-03 17:51] ericstj opened #1676 "NuGet chooses first asset that matches TFM, even if a more specific RID is available"
If I have a package with

[code]

And resolve for `.NETCore,Version=v5.0/win10-x64-aot` NuGet is selecting the `any` asset, even though `aot` is a more specific RID.

If I debug the code it seems that the bug is here:
https://github.com/NuGet/NuGet3/blob/a5bc907d36ddaa8d4fa6c499e50d7ebf8993ed39/src/NuGet.Client/ManagedCodeConventions.cs#L158

If all three framework names are the same this should r

[2015-11-03 20:27] asmoran commented on #1359
Understanding that there are difficulties around implementing the full SemVer 2.0 spec, what is the plan regarding the 20 character limit on prerelease tags?

[2015-11-03 22:32] rockfordlhotka opened #1677 "Erroneous warning with analyzers in package"
I have a package that includes (among other things) a VS analyzer. When I build the package NuGet gives me a warning about the analyzer, even though it is actually valid and works great.

<img width="1068" alt="snip_20151103142958" src="https://cloud.githubusercontent.com/assets/2333134/10923753/895acda8-8237-11e5-8cac-f09f6bc26d76.png">

This comes from this NuSpec file:
https://github.com/Marime

[2015-11-03 23:36] ljw1004 opened #1678 "Request: allow "delete" in SolnExplorer to remove NuGet packages"
For normal references, I can press the "delete" key in the SolnExplorer to remove a reference.

Please make it so I can do the same for a NuGet reference (in NuGet v3 projects).

[2015-11-03 23:40] ljw1004 opened #1679 "Request: integrated into VS "Add Reference" dialog"
Currently, I use RightClick > AddReference to add many kinds of reference (framework DLLs, extension SDKs, P2P, shared projects, COM type libraries, WinRT platforms, raw DLL files).

But to add a NuGet reference I have to do it via RightClick > ManageNuGetPackages.

Please consider putting the "NuGet reference" page _inside_ the AddReference dialog.

(Incidentally, when my brain wants to add a new

[2015-11-03 23:45] feiling commented on #1332
Fixed. See https://github.com/NuGet/NuGet.Client/commit/1e0c945378446327531be618830078fcbbf4ba47

[2015-11-03 23:45] #1332 closed, assigned to emgarten

[2015-11-04 00:02] ericstj commented on #1457
Do you have updated steps?  I first tried to follow these http://docs.nuget.org/Contribute/Setting-up-the-NuGet-Development-Environment, but they didn't bring down the Nuget.Client repo you pointed me at before.  I tried to just clone and build Nuget.Client and that failed with something that looked like it didn't have the right feeds configured.

[2015-11-04 00:08] jasonmalinowski commented on #904
I updated the targets a few weeks ago in internal builds to do as you're describing. @yishaigalatzer, should this bug be closed? @bricelam, the changes are in current Update 1 builds internally if you want to try it.

[2015-11-04 00:13] jasonmalinowski opened #1680 "NuGet doesn't re-restore after adding or modifying the runtimes section in project.json"
1. Create a new UWP project, and build the project.
2. Open your project.json, and delete the line for the active RID (probably win10-x86).
3. Hit build.

_Expected:_ the build fails, since I removed the RID.
_Actual:_ it succeeds. If you keep pressing regular build the restore doesn't run. Once you do a rebuild, the restore is forced and then the build fails.

This is on an internal VSIX build of

[2015-11-04 00:18] emgarten commented on #1457
Clone https://github.com/NuGet/nuget.client
Everything is in one repository now, for you change you can use the nuget.core.sln

[2015-11-04 01:57] analogrelay commented on #1671
Yeah, `no_proxy` and `http_proxy` are pretty well-known environment variables (like `PATH`, etc.). It would be good to have NuGet support it.

[2015-11-04 06:21] zjrunner opened #1681 "MsBuildUtility should ignore invalid msbuild versions instead of throwing"
[GetMsBuildDirectory](https://github.com/NuGet/NuGet.Client/blob/81717f6de319290fba103b4b5202ed5d13812397/src/NuGet.Clients/NuGet.CommandLine/MsBuildUtility.cs#L232) does a Version.Parse of the toolsets.  These toolsets don't always have parseable versions (usually because a user messes around there), so a conditional TryParse should be used in here instead to filter out bad values.

[update 2015.

[2015-11-04 07:19] martinsuchan commented on #456
It looks like I got consistent repro (Windows 10, Visual Studio 2015 Pro with UWP Tools v1.1, NuGet 3.2.60914):
1. download the repo of [Windows 10 UWP samples](https://github.com/Microsoft/Windows-universal-samples)
2. clean all already downloaded NuGet packages in C:\Users[user].nuget\packages to start with clean slate
3. make sure the custom NuGet feed with basic authentication has been added,

[2015-11-04 09:20] emgarten commented on #1457
I was able to repro this and made the fix described. The criteria should filter to runtime=null when falling back to runtime agnostic items as @ericstj said.

[2015-11-04 10:17] emgarten commented on #1676
@ericstj have you verified that fix solves the issue?

[2015-11-04 13:12] aodennison commented on #1669
Thanks for taking a look at my report.

To summarize:
- Inserting a properties include at the start of the .csproj did not
  work for my use case because of the properties I am setting.
- To get nuget to insert a properties include at the end of the project
  I had to rename the properties file to "something.targets."
- Renaming the file works, but it is not obvious. It will not be obvious
  to an

[2015-11-04 13:44] patthoyts commented on #1671
It would help a great deal if when the proxy instance was created in ProxyCache.cs one of the other constructors was used that includes the `BypassOnLocal` parameter (https://msdn.microsoft.com/en-us/library/234s6ee9(v=vs.110).aspx). The default .Net WebProxy successfully picks up this setting from the system's IE settings but in NuGet the proxy object used does not appear to set either the `Bypas

[2015-11-04 14:50] ericstj commented on #1676
Only in the debugger.  I am trying to contribute and test case the fix but having issues building Nuget.Client repo.

[2015-11-04 16:57] Feasoron opened #1682 "Unavailable Package Source Slows Install"
If there is a package source in the nuget config that is unavailable for any reason, installing or updating a package will hang for a long time (~10 minutes is the longest I saw) at the "Gathering Dependencies" stage. The package does not need to have anything to do with the unavailable source for this to occur.

[2015-11-04 18:11] feiling opened #1683 "UI: we should use the same text for the install/update button"
Currently, the text on the button is
- In project package manager, if the package is already installed, it's "Update". If it's not installed, it's "Install".
- In solution package manager, the text is always "Install".

It's better to be consistent and always use the same text on the button. My preference is to use "Install".

[2015-11-04 20:01] ericstj commented on #1100
I think this actually might be the same root cause as https://github.com/NuGet/Home/issues/1457.

[2015-11-04 21:24] robrich opened #1684 "Surface NuGet package updates in Solution Explorer"
It's hard to discover NuGet package updates in Visual Studio. I must open the Manage Nuget Packages dialog to see the updates. Consider surfacing when NuGet package updates are available in the Solution Explorer, prompting me to open the NuGet window.

[2015-11-04 21:28] augustoproiete commented on #1684
+1

[2015-11-05 01:21] yishaigalatzer commented on #1684
We should do this when we merge asp.net 5 tooling into nuget.

CC @davidfowl @pilchie

[2015-11-05 01:23] yishaigalatzer commented on #1679
We should consider this once we merge the asp.net 5 tooling

CC @pilchie @davidfowl

[2015-11-05 01:25] emgarten commented on #1676
NuGet/NuGet.Client@321a906d57e64b21f818d62ab50b1635c5d795f5

[2015-11-05 01:25] #1676 closed, assigned to nobody

[2015-11-05 01:25] feiling commented on #1667
Fixed. https://github.com/NuGet/NuGet.Client/commit/59b82439d923c0ff733a1d0bc9bae4db544286a4

[2015-11-05 01:25] #1667 closed, assigned to nobody

[2015-11-05 01:26] yishaigalatzer commented on #1682
NuGet is trying to get packages from all sources, it cannot know upfront if the source includes a new version of that packages or any of its dependencies.

Just to verify, this is installing with known version or install the latest version?

Can you give us a more specific example?

[2015-11-05 01:27] yishaigalatzer commented on #1682
We have an idea to detect slow sources and pop a UI that would suggest disabling them.

[2015-11-05 01:28] yishaigalatzer commented on #1678
Similarly to adding a reference, we will consider it when we merge the asp.net 5 tooling

[2015-11-05 03:23] davidfowl commented on #1679
We looked at this a while ago and it just doesn't fit. There are too many other facets to nuget packages and the add reference ui is too simplistic. The most we would do is make it another entry point

[2015-11-05 11:22] georgiosd opened #1685 "Unable to package node/meteor apps - PathTooLongException"
Adding a few packages that have their own dependencies to a node/meteor app easily exceeds the max.

e.g.

`D:\r\.meteor\local\isopacks\finlabs_analytics\npm\node_modules\analytics-node\node_modules\superagent-proxy\node_modules\proxy-agent\node_modules\pac-proxy-agent\node_modules\pac-resolver\node_modules\degenerator\node_modules\escodegen\node_modules\esprima\package.json`

[2015-11-05 15:14] Feasoron commented on #1682
This was happening for me when installing the latest version or updating to the latest. Any call of install-package would do this. I also saw it when updating AutoMapper to the latest. A popup to disable the source would be great - my concern isn't that NuGet is checking the package sources as much as it is that I received no indication as to what was slowing the install. It was only through trial

[2015-11-05 18:32] deepakaravindr opened #1686 "Issues with error messages when 'contentFiles' section of nuspec is invalid"
Issues with error messages when 'contentFiles' section of nuspec is invalid are as follows
1. If copyToOutput or flatten attribute is invalid, we get the following error message: <i>Index (zero based) must be greater than or equal to zero and less than the size of the argument list.</i>
2. When 'include' attribute is not present, we get the following message. It would be better to say that 'includ

[2015-11-05 18:35] deepakaravindr opened #1687 "On UAP project, Installing from a folder package source without the version fails"
On UAP project, Installing from a folder package source without the version fails

Repro steps:
1. Create a folder with packages.Say, there is a package A.1.0.0.nupkg in the folder, then
2. Install-Package A

Expected:
NuGet picks up the latest version of A, which is A.1.0.0.nupkg. If the exact version is specified, it works properly

Actual:
<i> An error occurred while retrieving package metadata

[2015-11-05 19:40] bricelam commented on #904
@jasonmalinowski it looks like it's correctly using the `win`directory now, but the directory structure under `native` still isn't being preserved. But maybe that's not how this feature was designed to be used anyway...

[2015-11-05 19:46] bricelam commented on #904
The biggest oversight in the design that I see is that AnyCPU applications (not libraries) like Full .NET Console, WinForms, and WPF apps don't know the architecture until runtime (not at build-time).

/cc @ericstj

[2015-11-05 19:53] bricelam commented on #904
BTW, in aspnet/Microsoft.Data.Sqlite#170 we've moved to a primarily MSBuild-based package in order to workaround this and an inability to differentiate between Win32 and WinRT libraries in a way that's compatible with DNX.

[2015-11-05 20:12] jaredpar opened #1688 "Package restore should list compatible runtimes"
Was trying to add `System.Net.Sockets` to my project today and ended up with the following errors:

[code]

The message here is clear about the problem: the runtime I've chosen is incompatible with the package.   However the error message doesn't help me resolve the issue because it doesn't tell me what runtimes are available for the given package.

It would be great if this error message told me

[2015-11-05 21:16] csharpfritz commented on #1688
I like this idea to make the error message more user friendly and helpful to determine runtimes to manage in a project.

[2015-11-05 22:36] yishaigalatzer commented on #904
Some of these can be now directly solved by using the content model

Sent from my Windows Phone

---

From: Brice Lambsonmailto:notifications@github.com
Sent: ‎11/‎5/‎2015 11:54 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] project.json and AnyCPU Classic Desktop projects (#904)

BTW, in aspnet/Microsoft.Data.Sqlite#170https://

[2015-11-05 22:44] mteper opened #1689 "Pack support for csproj + project.json"
I am having no luck building a NuGet package for IntacctClient (see https://github.com/el-loco/IntacctClient)

Here's build output:

[code]

[2015-11-05 22:45] mteper commented on #1689
This appears similar to #1267.

[2015-11-05 22:59] emgarten commented on #1689
It is the same as 1267, nuget.exe pack does not support project.json projects. You will need to pack using a nuspec.

[2015-11-05 23:03] ctaggart commented on #1521
To prevent changing build tools and scripts every time a new version comes out, we need solution level nuget packages restored without the version folder.

[2015-11-06 00:17] emgarten opened #1690 "GetProjectsReferencingProjectJsonFiles.target does not support ProjectName.project.json"
nuget.exe does not support projectname.project.json

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/GetProjectsReferencingProjectJsonFiles.target#L9

The target here should only find the list of child projects, everything else should be done in the nuget.exe code.

[2015-11-06 00:59] mteper commented on #1689
OK, that worked. Is there an issue I can follow for adding support for building from .csproj?

[2015-11-06 02:31] davidfowl opened #1691 "Support new TFMs for the .NET Platform Standard"
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/standard-platform.md

dotnet5.1 -> netstandard1.0
dotnet5.2 -> netstandard1.1
dotnet5.3 -> netstandard1.2
dotnet5.4 -> netstandard1.3
dotnet5.5 -> netstandard1.4

Long Name:

.NET Standard

[2015-11-06 06:39] davidfowl opened #1692 "Map .NET Portable profiles to .NET Standard TFM"
As specified here:

https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/standard-platform.md#portable-profiles

[2015-11-06 07:20] endrih opened #1693 "Update-Package -Safe -IncludePrerelease updates to a package with different minor"
From the Package Manager Console of Visual Studio 2013 Update 5, if you run the command
Update-Package -Safe -IncludePrerelease
And one of your projects has a dependency on a pre-release package, then it might get updated to a prerelease package of the next minor version.
For example 1.0.0-CI123 will get updated to 1.1.0-CI234.

Temporary fix: Restrict with allowedVersions in the packages.config [

[2015-11-06 07:22] endrih opened #1694 "When packing a nuget package, folders starting with dot are ignored"
When trying to put a folder that starts with a dot '.' in the folder name, the folder does not get picked up by nuget.exe and no error or warning messages are displayed.
For example

[code]

This line does not put anything in the tools\Contracts folder inside the package. Neither does

[code]

Workaround:
Apparently it works if you do it like this:

[code]

So instead of the dot at the beginning o

[2015-11-06 09:22] 4nd3250n commented on #1287
How to downgrade to 2.8.5 ?
Info on this would be most welcome.

[2015-11-06 10:14] MartinRykfors commented on #1282
I was getting the same error when trying to make a nuget package containing a very large file.

I did not have enough space on my C: drive, so it seems that the compression stage failed because there was not enough space for any temp files needed.

I'm not sure this applies to everyone of you who have faced this problem, but freeing up space on C: solved the problem for me.

[2015-11-06 10:25] endrih commented on #1693
I forgot to mention that the same thing happens with Nuget.exe 2.8.60717.93 .
The command I ran is:
nuget.exe update my.sln -safe -pre

[2015-11-06 12:02] hickford commented on #718
Similarly https://www.nuget.org/packages/Unity/ is Apache 2.0 licensed yet the `.nupkg` file neglects to include a copy of the licence document:

I suspect:
1. This is true of the majority of open-source licensed projects on Nuget.org
2. No-one cares

Most these licenses were drafted in the 1990s. Today when almost every computer is connected to the internet, a link seems to be a good as a copy:

[2015-11-06 16:24] williambernardet opened #1695 "Version interpretation problem with nuget"
Pack let you create packages where the version could be interpreted equally during restore operation:

When you want to retrieve 1700.0000 with the following project.json:
{"dependencies":{"component":"1700.0000"},"frameworks":{"any":{}}}
You end up extracting 1700.0. And in my package directory I can see it as 1700.0.0 (yet an another inconsistency).

I understand that both version are interprete

[2015-11-06 16:33] clairernovotny opened #1696 "Proposal for better symbol handling"
The current mechanism for symbol handling in NuGet, pushing symbol packages to symbol source, is no longer sufficient for some usages. The .NET Native tools require symbols to be available alongside the dll at build time, not on-demand at debug time as loaded from a symbol server.

Including symbols, especially source-indexed symbols, alongside the dll in the main package is less than ideal for a

[2015-11-06 16:56] yishaigalatzer commented on #1287
Download the nuget package nuget.commandline version 2.8.5 from nuget.org

Sent from my Windows Phone

---

From: 4nd3250nmailto:notifications@github.com
Sent: ‎11/‎6/‎2015 1:22 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] 2.8.6 doesn't work on .NET 4.0 (#1287)

How to downgrade to 2.8.5 ?
Info on this would be most welcome.

[2015-11-06 17:56] Titerote commented on #1138
great stuff janmchan, the steps worked like a charm

[2015-11-06 18:47] 4nd3250n commented on #1287
Will this fix iz or must something else be done also? Because in my case it did not. Still no build.

[2015-11-06 19:25] jasonmalinowski commented on #904
@bricelam I think non-preservation of the directory structure is by design. @yishaigalatzer can you confirm?

[2015-11-06 20:31] yishaigalatzer commented on #904
There is support in content to preserve structure

[2015-11-06 20:50] davidfowl commented on #904
Yea this is still a fail for any CPUs in general. We need a corefx API for loading from that structure

[2015-11-06 22:20] feiling commented on #1287
We just uploaded NuGet.CommandLine package 2.9 (which works on .net 4.0). You can get it from https://www.nuget.org/api/v2/package/NuGet.CommandLine/2.9.0. After you download the file, unzip it, and you'll find nuget.exe under directory `tools\`

[2015-11-06 22:48] feiling commented on #1287
Please try nuget 2.9. You can get it from https://www.myget.org/F/nuget-volatile/api/v2/package/NuGet.CommandLine/2.9.0. After you get the file, unzip it, and you'll find nuget.exe under directory `tools`.

[2015-11-07 08:07] AmadeusW opened #1697 "NullReferenceException when launching NuGet on PCL"
To reproduce, get a PCL project that targets
- .NET Framework 4.0
- Silverlight 5
- Windows 8
- Windows Phone 8.1
- Windows Phone Silverlight 8

For example, [OpenWeatherMap](https://github.com/joancaron/OpenWeatherMap-Api-Net)

And turn it into "modern" PCL:
Remove **packages.config** (required by changing targets)
Change project's targets to
- .NET Framework 4.5
- ASP.NET Core 5.0
- Windows 8

A

[2015-11-07 08:30] davidfowl commented on #1697
Is your nuget up to date?

[2015-11-07 15:45] 4nd3250n commented on #1287
Hi. I have tried it with mixed results.
MSBuild command line now build my project without nuget related errors.
Visual studio does not build nor individual projects nor complete solution. To make worse it does not report any error.

Thank you for 2.9 notification.

[2015-11-07 16:48] yishaigalatzer commented on #1287
What version of visual studio are you using? And what do you mean by doesn't build?

We recommend that you avoid using msbuild to restore your packages, please read on package restore here: http://docs.nuget.org/consume/package-restore

Sent from my Windows Phone

---

From: 4nd3250nmailto:notifications@github.com
Sent: ‎11/‎7/‎2015 7:45 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai G

[2015-11-07 17:29] 4nd3250n commented on #1287
Visual Studio 2010
And by doesn't build I mean I get this message in output window:

And no other error or warning. i have set output options to detail

I will clarify a bit, although this is somewhat out of place here.
It all started when I got some error, can't remember what it was exactly something like 0x800...
Upon all following builds I got the fail message above.
Therefore I tried command l

[2015-11-07 17:32] yishaigalatzer commented on #1287
You probably have a version of nuget in your .nuget solution folder that fails to load. Try dir /s nuget.exe from the solution level on the commandline

Sent from my Windows Phone

---

From: 4nd3250nmailto:notifications@github.com
Sent: ‎11/‎7/‎2015 9:29 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] 2.8.6 doesn't work on .NET

[2015-11-07 17:37] 4nd3250n commented on #1287
The dir /s nuget.exe result is

[code]

[2015-11-07 17:48] yishaigalatzer commented on #1287
Try following the link I sent before

---

From: 4nd3250nmailto:notifications@github.com
Sent: ‎11/‎7/‎2015 9:38 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] 2.8.6 doesn't work on .NET 4.0 (#1287)

The dir /s nuget.exe result is

Directory of D:\Visual Studio\Projects\MySolution.nuget
11.09.2015 12:49 1.697.280 NuGet.exe
1 Fil

[2015-11-07 17:58] AmadeusW commented on #1697
I think so, it's v3.2.60914.10516

[2015-11-07 18:18] emgarten commented on #1695
For project.json the version folder name is normalized according to [SemVer](http://semver.org) to make it predictable.

Changing the output from pack would break backwards compatibility for scripts expecting the non-normalized file name. The best thing to do here is to always pass in a normalized version when creating a nupkg.

[2015-11-07 18:27] emgarten commented on #1697
There have been a lot of fixes in this area. Try the 3.2.1-rc version of VSIX from http://dist.nuget.org/index.html and let us know if that resolves the issue for you.

[2015-11-07 18:28] 4nd3250n commented on #1287
I am not sure what you are getting at. But i have disabled those two options

Same result. Build failed.
As I said I dont think this is related anymore to

As much as I would love to have my problem fix I also don't like the idea to clutter this issue with something that may not be related anymore.

[2015-11-07 21:53] terrajobst commented on #1696
Thanks for writing this up! Please join [this discussion](https://github.com/dotnet/roslyn/issues/3) in the Roslyn rep.

[2015-11-08 00:25] AmadeusW commented on #1697
Thanks, the 3.2.1-rc version of VSIX fixed NuGet in this solution: Now NuGet window opens for other projects, and opens for the target project when I revert the changes.

After converting the project to "modern" PCL, however, I keep getting the same exception. Here are the exact changes that cause NuGet to fail:
1. Remove **packages.config** (NuGet still works, and correctly shows that there are n

[2015-11-08 00:53] emgarten commented on #1697
It sounds like NuGet may not be reloading the project fully after the change from packages.config -> project.json if restarting Visual Studio helps. You could also close and re-open the solution to have the same effect.

[2015-11-08 21:27] csharpfritz opened #1698 "Feature Request: Add 'Browse' button to UI"
From the user interface, I would like to be able to browse to a location on disk and add a package directly without having to configure a package source for a folder on disk.

[2015-11-08 23:19] punitganshani commented on #1698
How will these CI work for these manually added NuGet packages?

[2015-11-08 23:29] csharpfritz commented on #1698
If the package isn't moved to a repository the CI or other developers can access, they'll fail restore with a typical "cannot install package" error.

This is to help with the "testing a package" scenario.

[2015-11-09 02:27] emgarten commented on #1698
For project.json a package testing feature would also need a way to override packages in the global folder since it is likely that the user will be testing the package multiple times with the same id and version. Today that package would get added to the global folder the first time, and then ignored afterwards.

[2015-11-09 02:43] #1643 closed, assigned to emgarten

[2015-11-09 02:43] #1644 closed, assigned to emgarten

[2015-11-09 02:46] emgarten opened #1699 "Package authoring docs for content v2 and include/exclude"
Add documentation for
- Creating packages with content v2
- Consuming packages with content
- Package authoring with include/exclude
- Using include/exclude in project.json
- How to flowing content and build items between projects
- Default behaviors for content v2
- SuppressParent for development and build dependencies

[2015-11-09 02:51] #1457 closed, assigned to emgarten

[2015-11-09 02:52] #1100 closed

[2015-11-09 03:00] punitganshani commented on #1698
If a package needs to be tested, a new solution can be used or REPL can be used instead of manually referencing the package.

Altering project or project.json for testing local packages and finding that the package is not present during team collaboration, in my humble opinion, isn't the best implementation.

[2015-11-09 03:09] emgarten opened #1700 "Improve p2p resolution for project.json restore"
NuGet needs to handle both DNX style folder based resolution and CSProj references. Today the implementation does not contain a switch which puts the project resolver into one mode or the other which can lead to msbuild based projects resolving a package using a folder via global.json when it shouldn't.

Since DNU and NuGet will merge both styles need to be supported.

[2015-11-09 03:14] emgarten opened #1701 "Improve library type handling"
There have been a lot of bugs around how different types of libraries are compared during restore. For example if a framework reference has the same name as a package the two can end up being compared even though they are not the same type.

To fully solve these issues beyond day to day fixes the code base should be reviewed to find places where this is a problem and the handling improved.

Exampl

[2015-11-09 12:57] mausch commented on #1282
I've been [having this issue since August](https://twitter.com/mausch/statuses/633293648340348928) (at least) as well. It is definitely not due to lack of disk space.
This bug is especially annoying because `pack` is really slow for some reason, and parallelising it seemed like a cheap work around.

[2015-11-09 15:33] csharpfritz opened #1702 "When NuGet UI re-opens Visual Studio, it opens incorrect solution"
From vs-feedback (492831):

When nuget has to restart visual studio (using IVsShell4.Restart) it sometimes opens a different solution than the one I was actually using.

Reproduction steps

1: Open a solution (solution 1) in Visual Studio

2: Open another solution (solution 2) in another Visual Studio instance

3: Close the second instance (or keep it open, I don't think it makes a difference)

4:

[2015-11-09 16:45] isaacabraham opened #1703 "Prevent accidental version drift within a solution."
I've been away from the NuGet/VS game for a while, and came back to use it a few days ago. One of the things that still exists is the ability to, very easily, change the version of a dependency in one project but have another version with another project within the same solution, without any warnings or notification that this is the case. This inevitably leads to all manner of problems that usuall

[2015-11-09 18:54] yishaigalatzer commented on #1700
CC @davidfowl

[2015-11-09 19:00] yishaigalatzer commented on #1703
@isaacabraham I agree with the general gist, and I believe we have a bug covering option (b) (that unfortunately I can't locate right this second).

For now in solution level package manager UI, we add a consolidate view just for this.

Keep in mind that in quite a few solutions it is desired and correct to vary package versions (e.g. shipping applications targeting different platforms, or having

[2015-11-09 19:02] isaacabraham commented on #1703
Yeah, you will always need an escape hatch. It's just that currently the "pit of failure" is a little bit too big, the ease with which you can do the "wrong" thing at the moment just needs to be dialled down from 9 to maybe 2 or 3 :-)

Consolidate is a nice UI feature - but it would be better to bake this into Nuget at a deeper level IMHO. Also, prevention is way better than cure here - better to

[2015-11-09 19:03] csharpfritz commented on #1703
One idea might be to allow some sort of "policy" for automatic package
updates, and we've already heard some requests around blocking
major-version updates.  There's some design and discussion needed here, but
I think this fits into a similar function.

[2015-11-09 20:15] deepakaravindr commented on #1311
Validated with NuGet.exe 3.3.0.9356, that this has been fixed already and does not repro

[2015-11-09 20:15] #1311 closed, assigned to deepakaravindr

[2015-11-09 22:10] ctaggart commented on #1696
I discussed the distribution of pdb files (symbol files) with @yishaigalatzer at the MVP Summit last week. The Portable PDB format makes the PDB files compact enough to include in the NuGet packages. I think this is the best approach, but there are 3 options.
1. Include (portable) `pdb`s in the `nupkg`s.
2. Create satellite `nupkg`s for `pdb`s like `runtime.json` is used for native dependencies. M

[2015-11-09 22:19] yishaigalatzer opened #1704 "Add clearcache support for visual studio UI"
Ala Visual Studio 2013 (perhaps without the browse button), also show the list of all cache folders somehow

![image](https://cloud.githubusercontent.com/assets/1238711/11048474/f28b4bcc-86ec-11e5-97c9-4682a257dca6.png)

[2015-11-09 22:24] csharpfritz commented on #1704
It might make sense to add this, along with the previously requested
'Refresh' button to the top right side of the UI near the sources
combobox.  In this way, the user will be able to quickly see the changes to
the packages list.

This also leads to the side thought: we could show in the package detail
pane when that data was last loaded, which should also be the write date of
the package content

[2015-11-09 22:43] yishaigalatzer opened #1705 "packages.config Package restore should detect some basic corruption scenarios"
Packages folder that only have the .nupkg file in it (can happen from a botched TFS checkin), skip restoring the package and leads to failures customer have a hard time recovering from.

We should consider this basic scenario, and force restore on top of the nupkg.

[2015-11-09 23:56] MeniZalzman commented on #1497
using the latest the command line 3.3 with the repro steps and everything is working. (No repro)

[2015-11-09 23:56] #1497 closed, assigned to MeniZalzman

[2015-11-10 00:29] emgarten commented on #1677
NuGet/NuGet2@0226d4469c12076affd56431e69dfdeff1557744

[2015-11-10 08:43] samholder opened #1706 "No warning is logged when the directory with the packages.config contains more than 1 project file"
this is an issue in nuget 2.*, I'm not sure if its an issue in nuget3 as we are not using it. I couldn't see where to log the issue in the nuget2 repo, so apologies if this is not the right place. Please point me in the right direction if its not right.

I'm logging this in the hope of being able to submit a PR to fix it soon.

Anyway, in the function:

[code]

in the [UpdateCommand](https://githu

[2015-11-10 12:15] Xamtastic opened #1707 "Valid Nuget Packages Fail to Install on Visual Studio 2015"
It would seem that this bug (now closed) has reared it's head again: https://github.com/NuGet/Home/issues/1172

The problem is concerning Nuget Packages being rejected by Visual Studio 2015, and yet installing  properly on Visual Studio 2013.

The bug was first reported, and then clarified, on the Xamarin forum as follows: https://forums.xamarin.com/discussion/55518/valid-nuget-packages-fail-to-in

[2015-11-10 14:37] csharpfritz opened #1708 "Content delivered by nupkg should not get picked up by Roslyn Analyzers"
Discussion from MVP Summit:  Source files or content transformed that was delivered by a package will get picked up by Roslyn Analyzers and will increase the noise in a project.
- @BillWagner

[2015-11-10 18:07] zidad commented on #1365
I'd be interested to see a way to override this. We internally we use nuget, and not being able to create release packages with beta dependencies is holding us back at the moment.

[2015-11-10 18:08] ericstj opened #1709 "Move UAP to Generation 5.5"
UAP now supports all contracts in dotnet generation 5.5 and should be moved.

Same as https://github.com/aspnet/dnx/issues/3151

[2015-11-10 18:30] emgarten commented on #1677
NuGet/NuGet.Client@94061d2408b6c0add1f92ae26cfea88c42f23e15

[2015-11-10 18:30] #1677 closed, assigned to emgarten

[2015-11-10 19:53] emgarten commented on #1708
The analysis happens on the project system side. Today analyzers are picked up directly from the nupkg folder and aren't even going through the lock file or nuget yet.

On the nuget side we could potentially add a feature that allowed for an analyzer ignore list to be written into the lock file.

[2015-11-10 20:54] emgarten commented on #1707
This is similar to 1172 in that the TxM _wp_ exists twice, but unlike 1172 it is not the same version.

Microsoft.AspNet.WebApi.Client 5.2.3 contains `lib\net45+win8+wpa81+wp8+wp81`

`lib\net45+win8+wpa81+wp8` is equivalent to Profile 259 which is supported by Xamarin.

NuGet could de-duplicate the profile down to this by recognizing that wp81 is irrelevant here since wp8 exists. Or the package co

[2015-11-10 21:29] emgarten commented on #1302
@deepakaravindr was this fixed in your change?

[2015-11-10 22:14] emgarten commented on #1642
NuGet/NuGet.Client@94061d2408b6c0add1f92ae26cfea88c42f23e15

[2015-11-10 22:14] #1642 closed, assigned to emgarten

[2015-11-10 23:07] vchekan opened #1710 "Tools-only package can not be installed"
I have created a resource-only package, which contains single exe file. When I attempt to install it into the project, it complains

`Could not install package 'consul-bin 5.2.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5', but the package does not contain any assembly references or content files that are compatible with that framework. For more

[2015-11-10 23:49] ericstj commented on #1709
Also, we should allocate a new generation for the next version of desktop.

[2015-11-11 00:48] yishaigalatzer commented on #370
The utility today uses URI to merge paths, and there are several cases where it doesn't work cleanly (particularly when the directory separators don't match). In that case it may throw a URI exception.

The pattern for get relative path should be re-written to recursively figure out the paths.

[2015-11-11 00:54] emgarten opened #1711 "NuGet fails to install packages when the build folder contains _._"
NuGet incorrectly tries to add the empty file: `_._` as a build import. This shows up for packages which only need build targets for lower TxMs such as portable, and at higher level TxMs such as net45 they contain `build\net45\_._` to signal that no targets should be added for net45 and up.

Steps
1. Create a new net45 console app
2. install-package xunit -version 2.1.0

Expected:
The package will

[2015-11-11 06:15] OsirisTerje opened #1712 "packages.config Package restore/update should detect some basic corruption scenarios, part 2"
If a developer adds a direct file reference to a packaged reference, but adds it from the output folder - something which is very easy to do, if you don't know the file is part of a package, the nuget update doesn't manage to either warn or correct package.config nor the reference.

Given an update of a beta package (1.0.3-beta4) to a stable version (1.0.3), using the package manager console :  up

[2015-11-11 07:30] OsirisTerje opened #1713 "Reinstall package with modified package.config fails using TFS VC"
Using TFS 2015, TFS VC, and VS 2015 U1 RC:

If I have a package.config file that have pending changes, and do reinstall of a nuget package using the command:

Update-package   -reinstall WhateverPackage

the process takes a huge amount of time, looks like timeouts, and then fails with a series of TF203069 errors:   "<somefolder>packages.config could not be deleted because that change conflicts wit

[2015-11-11 08:20] Xamtastic commented on #1707
Thanks emgarten, that adds some definition to the problem.

Presumably when Universal Windows Apps (Windows 10) get more traction, some of these profiles with windows duplicity will start to become rarer - before which this bug needs to be fixed simply because this behaviour shouldn't happen.

[2015-11-11 12:03] jrossstocholm commented on #1203
I strongly second this - the friction to create the release notes package configuration is too high.

We build our nuget packages from Visual Studio Online, and I would actually much prefer to simply be able to add release notes via a command line parameter. In VSO we have already set up a build parameter with version number information, so we configure the Nuget Packager build step with "Nuget ar

[2015-11-11 13:55] burnasheva opened #1714 "NuGet (version 3.2): command "nuget install" doesn't fail if can't find specific package version"
In previous NuGet versions (e.g. 2.8) "nuget install" command fails if can't find package (can't find specidied version or the feed is unavailable). The command return code 1, my build script failed at this step and I clearly saw the cause of the problem.

Now, in the version 3.2 nuget install command doesn't fail, just show warning message:
`Restoring NuGet package CalcProject.0.120.0.`
`WARNING:

[2015-11-11 18:57] japplequ opened #1715 "Package Cache folder ACL file permissions"
We are having a big permissions issue with NuGet packages being pulled from the local machine cache folder under a user's profile folder/NuGet.  Since that is the default directory for cache, user profile directories are of course restricted to the current user and admins, and system.

During an msbuild, msbuild is pulling the cached file to the builds bin directory and of course maintaining file

[2015-11-11 19:41] yishaigalatzer commented on #1715
@japplequ can you provide more details, and exact scenario you are addressing?

What version of nuget and visual studio are you using? What is the project type you are building? What version of asp.net

etc.

[2015-11-11 19:44] yishaigalatzer commented on #1714
@burnasheva thanks for your report. This was fixed in 3.3 already.

[code]

The latest nuget.exe is available from our nightly build source on http://myget.org/gallery/nugetbuild in the nuget.commandline package

[2015-11-11 19:44] #1714 closed, assigned to nobody

[2015-11-11 19:46] japplequ commented on #1715
NuGet 2.8.6x, on VS 2012 update 5.  Asp.net 5 I believe.  We are NOT publishing, just building.  The solution we have is extremely large.  We starting noticing this when we found that an incorrect version of a nuget file from one package ended up in the package folder for another version, meaning a 5.0 version of system.net.http.formatting in a 5.0 package folder got overwritten with a 4.0 version

[2015-11-11 19:52] yishaigalatzer commented on #1682
This is the item tracking the work for this - https://github.com/NuGet/Home/issues/1627

[2015-11-11 19:52] #1682 closed, assigned to nobody

[2015-11-11 19:55] yishaigalatzer commented on #1715
So you are saying that you build with one user, and another user works directly on the build result, without any deployment step?

[2015-11-11 19:58] yishaigalatzer commented on #1712
@OsirisTerje can you provide a repro project here? There are many moving pieces and it will be a lot easier to start with a project that is broken.

Also please provide exact versions of nuget and visual studio you are using?

[2015-11-11 20:00] OsirisTerje commented on #1712
Ok, will do, upload it somewhere tomorrow (night time here now).  VS 2015 Update 1 RC, with Nuget 3.2.61008.10581

[2015-11-11 20:05] japplequ commented on #1715
well, i mean, each developer builds locally, and the web directory is actually the bin directory of the web  site.  So we dont have to publish, it's already there.  we are aware of an msbuild target that will change permissions but that is only on a publish, and we dont have that anyway.

[2015-11-11 20:06] yishaigalatzer commented on #1710
can you provide more details?

Version of visual studio
Version of NuGet extension
What project type you are installing this package into

[2015-11-11 20:08] yishaigalatzer commented on #1698
I don't think we should build this feature. It will just create a problem downlevel, as soon as you try to restore package.

[2015-11-11 20:11] yishaigalatzer commented on #1715
I think the answer is that if you want the project to work for different users, you have to either publish it or to add the msbuild task that changes permissions.

That sounds like the right place to fix this, I don't know that nuget could/should do anything here.

[2015-11-11 20:14] japplequ commented on #1715
You may be right.  But consider this.  I want the project to work for me too.  So i can't run the project on my machine because of my own permissions were copied from the NuGet cache folder to the bin directory.  The point is that the NuGet cache folder is by default placed in a restricted directory which rears its head for IIS projects that suddenly by default no longer have read permissions to a

[2015-11-11 20:16] yishaigalatzer commented on #1066
We don't have support for an internal symbol server from nuget packages, I'm not sure if you would consider it internal, but I believe myget supports a private symbol server (though hosted on their servers)

[2015-11-11 20:22] yishaigalatzer commented on #1690
CC @pranavkm

[2015-11-11 20:25] yishaigalatzer commented on #1694
folders starting with . are ignored by default.

However your samples don't show anything that look like a folder starting with a dot, would you mind clarifying and provide the actual files on disk?

[2015-11-11 20:26] yishaigalatzer commented on #1693
We plan to deal with it in Visual Studio 2015, but don't plan to update 2013 to fix this. We plan an overhaul cleanup for Update-Package in NuGet 3.4

[2015-11-11 20:26] #1693 closed, assigned to nobody

[2015-11-11 20:27] #1695 closed, assigned to nobody

[2015-11-11 20:30] yishaigalatzer commented on #1706
We don't plan to reship versions of nuget 2.*.

versions of 3.\* are available on dist.nuget.org/index.html, if this still repros we should fix it, and will gladly take a PR.

[2015-11-11 20:31] #1429 closed, assigned to nobody

[2015-11-11 20:32] feiling commented on #1167
Peter implemented the authentication extension feature.

[2015-11-11 20:32] #1167 closed

[2015-11-11 22:25] #1095 closed

[2015-11-11 23:49] feiling commented on #1308
Not a problem anymore. The check box status is now kept when a different package is selected.

[2015-11-11 23:49] #1308 closed, assigned to feiling

[2015-11-12 00:57] emgarten opened #1717 "nuget.exe displays the feeds used for every project"
nuget.exe should display the feeds used only once during a restore. For the Roslyn solution it prints out the feeds for each of the 150+ projects that are using project.json.

[2015-11-12 00:58] deepakaravindr opened #1718 "C#: creating Windows Universal project shows 'Progress in this operation is taking a long time...' message"
Copied from TFS

Occasionally, when creating a C# Windows Universal project,  'Progress in this operation is taking a long time...' message dialog is shown (See snapshot at the end)

This is an intermittent issue. But, following is why it could happen

When an operation under ThreadHelper.JoinableTaskFactory.Run is not marked as 'LongRunning', it could end up showing the 'Progress in this operatio

[2015-11-12 01:22] deepakaravindr commented on #1302
Yes, this will get fixed by the PR: https://github.com/NuGet/NuGet.Client/pull/103 as well

[2015-11-12 04:43] endrih commented on #1694
I am sorry. It must have been a typo in the original submission.
I modified it now. There was a "\" before between Contracts and .NetFramework, which I had to re-add. So the contents of what I am trying to add to the package is: Contracts\.NETFramework\v4.0*

[2015-11-12 10:01] ralfverstappen commented on #1181
I am also curious if this should work (also tested it in VS2015 with updated nuget and still receive an error).
Or do I need to specify a flag for this behaviour?

[2015-11-12 11:01] jacku-abide opened #1719 "Package Manager For Visual Studio overwrites solution nuget.config if any changes are made"
I have customised my nuget.config file inside the .nuget folder of my solution.

If I then go into the Nuget Package Manager options screen and make any changes (either in General or Packages sources) the nuget.config file in my solution gets overwritten with a near-empty template file.

Surely changing the VS Package Manager settings should only modify the %AppData%\Nuget\nuget.config file, not t

[2015-11-12 17:41] yishaigalatzer commented on #1719
This is a known issue, and we plan to address it in one the next releases of nuget 3.

The assumption for this dialog was that it tries to update the nearest possible settings, which is obviously sometimes correct, and many times not.

The plan to is to provide a hierarchical settings dialog that resolves this issue.

We do not plan to update nuget 2.X for visual studio 2013 and earlier with this

[2015-11-12 17:41] #1719 closed, assigned to nobody

[2015-11-12 17:44] yishaigalatzer commented on #1717
@xavierdecoster can we get a fix for this today/tomorrow?

[2015-11-12 17:46] yishaigalatzer commented on #1715
You can either re-set the ACLs as part of build, or run IIS as your user instead of the network user. This is unfortunately a known problem with full IIS, where you need to do a proper deployment.

We can look at fixing this at some point in the future. But the scenario seems very low priority, given that you have a workaround.

As always we are open to taking a pull request with a fix, if you wan

[2015-11-12 18:13] CoolDadTx opened #1720 "When a package is removed (uninstalled or because of an upgrade) and it cannot be immediately removed the .deleteme file is being added to source control"
I upgraded a package that required a restart in order to remove the old version. This triggered the creation of the .deleteme file in the packages folder. Even though the packages are not configured to be added to source control (TFS in this case) the .deleteme file is added to source control.  If you check in before restarting then the file would get checked into source control. If you restarted

[2015-11-12 18:24] yishaigalatzer commented on #1708
Filed a related bug on https://github.com/dotnet/roslyn/issues/6736

[2015-11-12 18:24] #1708 closed, assigned to nobody

[2015-11-12 18:57] yishaigalatzer commented on #1720
Thanks for reporting this. The root cause is in the code below, that add the file to source control, instead of just creating it directly on disk.

https://github.com/NuGet/NuGet.Client/blob/81717f6de319290fba103b4b5202ed5d13812397/src/NuGet.Clients/PackageManagement.VisualStudio/IDE/VSDeleteOnRestartManager.cs#L151

[2015-11-12 19:00] emgarten opened #1721 "Include flags reduce performance in large UWP solutions"
Performance tracing shows that IncludeFlagUtils.FlattenDependencyTypes is taking far too long during restore for solutions which have a high number of UWP projects and project to project references between them.

The root cause here is that the dependency walk to calculate flags is inefficient for very large graphs. In the some scenarios restores are going from 2 minutes to 2 hours when the graphs

[2015-11-12 19:00] yishaigalatzer commented on #1698
repl is going to support this at some point.

A potential implementation for this is to detect if the package is already in one of the local sources, then add it from there. Otherwise copy it over to a local folder and add the folder as a source.

We should consider this if/when we integrate nuget with `add reference` UI

[2015-11-12 19:05] yishaigalatzer commented on #1697
Yes - We do not support reloading the projects on such changes. We should fix it at some point, but this is not a high pri scenario.

However converting the project should not create an empty project.json, can you explain the exact steps of what converting means?

CC @pilchie

[2015-11-12 19:26] yishaigalatzer commented on #1701
@davidfowl is this something you can take over as part of the merge?

[2015-11-12 19:27] yishaigalatzer commented on #1696
This is something we are reviewing and discussing with the dotnet team.

[2015-11-12 19:30] clairernovotny commented on #1696
@yishaigalatzer I'm glad there's discussion happening, but can it please happen in public somewhere?

Thanks!

[2015-11-12 19:33] yishaigalatzer commented on #1696
@onovotny you jumped before i finished retyping :)

We are having a discussion with the debugger team, not everything happens in the open still. The main thing here discussed is schedule, and that is not super appropriate here.

Once we can lock down resources/schedule we can visit this again.

[2015-11-12 19:35] clairernovotny commented on #1696
Thanks - agree that schedule is harder, the more relevant part for the public is design/spec type of discussion so we can find the best solution :)

[2015-11-12 19:36] yishaigalatzer commented on #1694
This is by design - See https://github.com/NuGet/Home/issues/1338
And documented here: https://github.com/NuGet/NuGetDocs/blob/master/NuGet.Docs/Create/Creating-and-Publishing-a-Package.md

[2015-11-12 19:36] #1694 closed, assigned to nobody

[2015-11-12 19:37] #1477 closed, assigned to nobody

[2015-11-12 20:07] deepakaravindr opened #1722 "nuget locals -Clear fails with a bad error message"
When a file is locked or some other error happens we log this not very useful error.

Cache clear failed: one or more errors occured.

[2015-11-12 20:23] vchekan commented on #1710
@yishaigalatzer

Visual Studio: 2015 Professional
Nuget extension: 3.2.60914.10516
Installing into C# console app project, target framework: 4.5

It seems the relevant code is here:
https://github.com/NuGet/NuGet.Client/blob/a188fa5df8efe38a4a1bac6fdf0af352bf63edf3/src/NuGet.Core/NuGet.ProjectManagement/Projects/MSBuildNuGetProject.cs#L234

[2015-11-12 22:02] ericstj opened #1723 "NuGet is missing latest schema change from DNX"
DNX has been writing Version: 2 in the lock file as of this commit: https://github.com/aspnet/dnx/commit/ed8b37a7 (thanks @DaGood for tracking this down).  NuGet doesn't have this change.  The result is that NuGet will always try to regenerate lock files that were generated by DNX.

/cc @emgarten  @yishaigalatzer

[2015-11-12 22:17] deepakaravindr opened #1724 "nuget restore fails with 'Cannot create file when that file already exists'"
nuget restore fails with 'Cannot create file when that file already exists' if the package being restored has a .sha.512 file

Repro steps:
1. Create a package A.1.0.0 with a A.1.0.0.nupkg.sha512 file at the root.
2. Install the package on a project
3. Clear the global packages folder.
4. Run 'nuget.exe restore <projectFile or solutionFile as appropriate>'

Expected:
nuget restore is successful

A

[2015-11-12 22:19] yishaigalatzer commented on #1697
We tracked the generation of empty project.json to the pcl project system and that team will fix it (note that code is not oss). In 3.3 we will detect the issue and provide you with a proper error message pointing to the bad project.json

[2015-11-12 22:19] #1697 closed, assigned to nobody

[2015-11-12 22:30] rchande opened #1725 "API to do TFM -> Generation mapping"
Given a set of target TFMs, the VS PCL tooling needs to be able to compute the highest compatible generation so it can write it into project.json. That API should probably be exposed through the NuGet VS service, the way the package installation APIs are.

[2015-11-12 23:17] yishaigalatzer commented on #1725
CC @davidfowl

[2015-11-12 23:18] yishaigalatzer commented on #1723
We are hoping that in the next release DNU is going to be gone. So that shouldn't be an real issue real soon

[2015-11-12 23:31] yishaigalatzer commented on #1247
@feiling ping

[2015-11-12 23:48] kotpal commented on #1412
Got hit by this issue while installing Azure.Batch (2.0.2) from nuget.org. When is this issue going to be fixed or more information shown in the console?

[2015-11-12 23:56] yishaigalatzer commented on #1412
@kotpal what version of nuget are you using?

[2015-11-13 00:00] yishaigalatzer commented on #1412
@kotpal just tried it with 3.3 (our upcoming release) and I don't see it reproduce. We probably need a more specific repro. If you have used the internal server ms-nuget, it might have corrupted your packages in the cache, and you will need to wipe it clean first.

[2015-11-13 00:31] kotpal commented on #1412
I tried with both 3.1.60717.741 and 3.2.60914.10516 and it reproduced on
both. I ultimately used -DependencyVersion Ignore and got the package
installed.

BTW, I wiped the cache clean (nuked both %profile%.nuget and
%localappdata%\nuget folders) , but same result on both version.

For now, I am unblocked. Looking forward for 3.3

On Thu, Nov 12, 2015 at 4:00 PM, Yishai Galatzer notifications@githu

[2015-11-13 02:00] #1724 closed, assigned to deepakaravindr

[2015-11-13 02:58] deepakaravindr opened #1726 "Doc bug: Information on requireReinstallation should go to https://docs.nuget.org/consume/reinstalling-packages"
Doc bug: Information on requireReinstallation should go to https://docs.nuget.org/consume/reinstalling-packages. Currently, the information is only found on https://docs.nuget.org/release-notes/nuget-2.7

[2015-11-13 02:58] SimonCropp commented on #1726
thanks

[2015-11-13 07:04] zjrunner opened #1727 "Packages with deep content get partially unpacked and an incorrect error result of "Package Not Found""
**Nuget 3.2.1**
If the combination of the GlobalPackagesRoot and the contents of the package itself go beyond MAXPATH, nuget claims it can't find the package at all.

I spent way too long trying to figure out what was going on here because nuget says
"Unable to find version '1.0.0' of package 'LongPathGuts'."
even though it _did_ find it, downloaded it, and partially unpacked it before failing.  I

[2015-11-13 07:11] zjrunner opened #1728 "If NUGET_PACKAGES plus the package name and version is close to MAXPATH, nuget crashes with a Mutex creation arg exception"
_nuget 3.2.1_
I found this while trying to get a repro for https://github.com/NuGet/Home/issues/1727.  I agree it is a corner case and may not be worth fixing, but at minimum it should not lead to a crash of the exe as an unhandled exception (with a debugger pop and a '0' exitcode which is bad news for lab scenarios)

1) set NUGET_PACKAGES to a path close to 248 characters long.
2) restore a packa

[2015-11-13 08:28] drauch opened #1729 "Make extracted /Content read-only"
Extracted content from the /Content folder could be made read-only by default, such that people know when they try to overwrite a file that is probably updated when updating NuGet packages in the future. Read-only flags can be easily enough circumvented if it is really necessary to overwrite such files, but protect us from accidental changes in NuGet-related files.

[2015-11-13 13:54] ghost opened #1730 "InvalidOperationException thrown when calling IPackageRepository.GetPackages()"
When IPackageRepository.GetPackages() is called against the https://packages.nuget.org/api/v2 repository, an InvalidOperationException is thrown.

This was using Nuget.Core 2.9.0 for .NET 4.5. (package id="NuGet.Core" version="2.9.0" targetFramework="net45" )

System.InvalidOperationException: The current value 'String' type is not compatible with the expected 'System.Uri' type. ---> System.UriFor

[2015-11-13 18:22] AArnott opened #1731 "NuGet should format whitespace in project.json per VS behavior"
When VS formats my project.json document, I have this:

[code]

After NuGet updates a package dependency, I'm left with this:

[code]

Notice that the single space between `{ }` is removed to `{}`. This introduces noise in SCC diffs/code reviews. And potentially introduces merge conflicts where none needed to exist.

Can the NuGet VS extension be modified to format project.json in the same way VS