[2016-03-16 18:44] joelverhagen commented on #2324
The package you mentioned is not available on NuGet.org so I was unable to find it. Would it be possible for you to provide a self enclosed project (maybe in a .zip) that reproduces the problem? I tried simulating the problem. I keep seeing that NuGet recognizes that a package is already restored and therefore does not touch touch the files.

[code]

Here's what I am trying (just run `run.bat` und

[2016-03-16 18:46] yishaigalatzer opened #2338 "Add quirking mode to pack and NuGet 2.11"
The idea is that packages created in quirking mode, declare that they don't support the any framework and a client reading them shouldn't merge binaries from any folders.

So the change is:
1. Make pack support the mode (should probably the default mode, if there are no any folders detected at pack time)
2. Make NuGet 2.12 (not branched yet) and nuget 3.5 not pick up "any" TFMs from such packages

[2016-03-16 18:59] alpaix opened #2339 "The Update packages list doesn't refresh"
After updating all packages, the tab’s grid wasn’t updated until I switched tabs back and forth.

Repro steps:
- I had about 8 packages in AI family to be updated, so clicked Select All then Update.
- Console said Finished
- But grid contained the same packages in the same state still
- I switched to some other tab and back to Updates, now there were no packages, also tab’s header was showing no u

[2016-03-16 18:59] alpaix commented on #2339
Fixed in https://github.com/NuGet/NuGet.Client/pull/362.

[2016-03-16 19:31] spadapet commented on #2204
This _seems_ by design based on http://docs.nuget.org/Create/Creating-and-Publishing-a-Symbol-Package
If a symbol package exists, it automatically gets pushed to https://nuget.smbsrc.net

Seems like there are two problems with this:
- The API Key used for https://nuget.smbsrc.net is wrong when you are publishing to some place other than nuget.org
- There is no way to turn off this automatic behavi

[2016-03-16 19:43] ericstj commented on #2337
API bug. I don't mind since I'm not blocked here but it was something I noticed as "breaking" between previous code that was generating a nuspec and latest.  I had to do a bit of searching in the source to discover I could pass any.

[2016-03-16 19:47] emgarten commented on #2337
NuGet.Core.dll used null or string.empty to mean 'any' target framework. In NuGet v3 we've moved away from this and use an actual NuGetFramework to pass around 'any'.

For this API we could convert null into NuGetFramework.Any to keep compatibility with the old behavior.

[2016-03-16 20:13] joelverhagen opened #2340 "ILMerge step on local builds fails due to unexpected new DLL"
Not sure, but I started seeing this after we moved from DNX to dotnet CLI.

[code]

The ILMerge done on the CI is a different script so this error does not occur. In fact, the `.\build.ps1` on the CI gets a `-SkipILMerge`. We need to determine why this DLL is showing up when it was not before.

This fix after investigation will likely be adding this DLL to the `.\src\NuGet.Clients\NuGet.CommandLin

[2016-03-16 20:30] abpiskunov opened #2341 "[Nuget.ProjectModel] Bug in XprojUtility line 65: wrong dependencies collection is used"
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.ProjectModel/XProjUtility.cs#L65
It loops through spec.Dependencies (which are only top level), but not over a combined dependency collection it created above (containing dependencies form top and target frameworks)

[2016-03-16 20:35] rrelyea opened #2342 "Installed tab "loading..." message isn't working properly"
Loading works properly on Browse tab...but appears to be hidden early for the Installed tab.

[2016-03-16 20:38] yishaigalatzer commented on #2337
I wouldn't, instead just document the expected values in an XML doc, and make it easy to understand. Also make it throw right at the callsite an argument exception (if it doesn't already)

[2016-03-16 20:39] dakrer opened #2343 "VS2015 extension ignores <title> and always shows <id>"
The VS2013 extension correctly shows the title in the "Manage NuGet Packages for Solution..." dialog, but the VS2015 extension completely hides the title and only shows the id

This happens both in 3.3 and 3.4-rc.

[2016-03-16 21:29] rrelyea commented on #2342
Doesn't appear to be an issue...on the few machines we tested. First noticed it under the debugger...
We'll reactivate if we see the problem in retail builds.

[2016-03-16 21:29] #2342 closed, assigned to rrelyea

[2016-03-16 21:50] #2328 closed, assigned to alpaix

[2016-03-16 21:56] PhilipDaniels opened #2344 "Cannot update a package if it hasn't been restored"
**Scenario**

I have created a library LIB that uses a package which is at version 1.1 (say). I was doing this on ComputerA, which had LIB1.1 available on a local nuget package directory (so it's not in the cloud).

I then clone the project on ComputerB, which doesn't have LIB1.1 available. However, it does have LIB1.2 available.

The Updates tab shows LIB as available for update (which is correct

[2016-03-16 22:01] PhilipDaniels commented on #2344
Just browing through the issue list...probably a duplicate of #2213

[2016-03-16 22:11] analogrelay opened #2345 "NuGet.Commands embedded copy of FileSystemGlobbing is now public"
Because `preprocess` code is not available in RC2, the code that "internalizes" the copy of FileSystemGlobbing that NuGet.Commands embeds isn't in effect. As a result, the classes are public and conflict with the real FileSystemGlobbing. I've worked around it in CLI, but it should be fixed.

/cc @emgarten @yishaigalatzer @davidfowl

[2016-03-16 22:17] joelverhagen commented on #2298
I applied the fix, as mentioned above and @zhili1208 validated this on NuGet.org, ProGet, and NuGet.Server.

[2016-03-16 22:17] #2298 closed, assigned to joelverhagen

[2016-03-16 23:15] skofman1 opened #2346 "NuGet prompts to enter credentials when there is a private feed even when installing from NuGet.org"
Scenario:
I have a private feed that required credentials, and also NuGet.org in the feed list (both enabled).
When searching in NuGet.org using package manager, and trying to install a package, there is a prompt to enter credentials even though the package public.
If I fail to enter credentials, package install fails, and so do following install attempts.

[2016-03-16 23:32] vtbassmatt commented on #2335
Update: NuGet 2.8.6 works under FIPS configuration. 3.2.1, 3.3.0, and 3.4.0-rc do not. Also, the failure seems to happen on install; pack and push are fine.

The VSTS Credential Provider and Authentication Helper both authenticate correctly.

[2016-03-16 23:39] rrelyea commented on #2336
merged fix into dev and release-3.4.0

[2016-03-16 23:39] #2336 closed, assigned to rrelyea

[2016-03-16 23:44] spadapet commented on #2204
For 3.4:
- Need to get correct apiKey for the symbol source
- Add new option: --no-symbols

For 3.5:
New options like: --symbol-source, --symbols-api-key

[2016-03-16 23:48] jamsoft opened #2347 "Issues with TeamCity NuGet Server"
I have just updated to VS2015 U2 and my TeamCity feed doesn't appear to work for updated packages.  I get the error:

Root element is missing.

If I go to the Browse panel on the same feed, all the packages are listed and I can upgrade to the new package versions.

[2016-03-17 00:12] yishaigalatzer commented on #2347
Can you tell us what is your root URL?
Can you add /odata at the end of the URL?

[2016-03-17 00:13] yishaigalatzer commented on #2345
We can probably move to consume the official FileSystemGlobbing

[2016-03-17 00:18] yishaigalatzer commented on #2344
Yes it is, thank you!

The issue here is that the code doesn't know what the content of the package is, so when you say update the code cannot safely do that.

The following scenarios are going to be broken (and I understand you might not fall in this scenario)
1. The package contains content files, that might change between versions. So you will be left with leftover files
2. The package contains

[2016-03-17 00:18] #2344 closed, assigned to nobody

[2016-03-17 00:20] yishaigalatzer commented on #2343
This is by design, the id correctly represents the package, where the title can be spoofed. We heard strong feedback from the community about this confusion and made the change.

[2016-03-17 00:20] #2343 closed, assigned to nobody

[2016-03-17 00:21] yishaigalatzer commented on #2341
@emgarten we need this fix, this week and prerrably ASAP to unblock @abpiskunov

[2016-03-17 00:35] spadapet opened #2348 "Push - It should be possible to override the symbol server when pushing from the command line"
Related: https://github.com/NuGet/Home/issues/2204

The code currently wants to auto-push symbols to https://nuget.smbsrc.net/. There is no way to override it. The only thing that can be done is to delete the *.symbols.nupkg before pushing the *.nupkg.

There should be a way to specify an override for the symbol server, something like:
nuget.exe push foo.nupkg /Source foo /SymbolSource bar /Symbol

[2016-03-17 00:36] yishaigalatzer commented on #2346
CC @pspill

[2016-03-17 01:00] yishaigalatzer commented on #2347
@jamsoft actually I don't quite follow what works and what doesn't. Would you mind providing a detailed repro?

We will setup a server for us to experiment

[2016-03-17 06:08] andycmaj commented on #2204
@spadapet, normally, i publish library and symbol packages to myget.

I'd prefer the option to change the symbol server. that would make sense to me... seems more intuitive that symbols are published to the same place as libraries, doesn't it? I'm also okay with disable auto-push of symbols pkg, and i could do that myself. (this is what i used to do before 3.4).

`dnu pack` creates the symbol pack

[2016-03-17 09:27] davidfowl opened #2349 "FrameworkAssemblies expressed in projects don't get written to the lock file"
**A/project.json**

[code]

**B/project.json**

[code]

**A/project.lock.json**

[code]

Notice the frameworkAssemblies section in the lock file for B isn't present.

/cc @emgarten

[2016-03-17 09:36] jamsoft commented on #2347
OK Sure, sorry I didn't include more details initially.

The feed URL I'm using for my TeamCity server (hosted on the same machine as I'm working in Visual Studio) is:

http://localhost:9001/guestAuth/app/nuget/v1/FeedService.svc/

I have browsed:

http://localhost:9001/guestAuth/app/nuget/v1/FeedService.svc/$metadata

And everything looks as expected.

If I browse:

http://localhost:9001/guestAut

[2016-03-17 10:36] kingerja commented on #2324
do you have access to the Microsoft corp net?  If so those paths i listed should be valid for you to get the package from.

If not then i will attach a zip for you.

[2016-03-17 10:37] sriniketana opened #2350 "NuGet for UWP apps cannot call C++ libraries"
I have a C# library for UWP packaged into an NuGet package. This C# library in turn calls a C++ library internally. When packaged as a NuGet package, the C# library is not able to find and call the C++ library.

My nupkg structure is given below - as documented in https://docs.nuget.org/create/uwp-create#native-light-up

runtimes\win10-x86\lib\uap10.0
---- MyCSharpLib.dll
---- MyCSharpLib.pri

run

[2016-03-17 15:38] forki commented on #2316
@davidfowl yes paket downloads the file (and it's own dependencies) and puts it into your projects (see http://fsprojects.github.io/Paket/github-dependencies.html)

@csharpfritz it's a bit more than curl needed here. Paket manages the SHA1 in paket.lock and always restores the locked version (same hash). This is needed to make builds reproducible. The feature is used by many paket users in many ma

[2016-03-17 15:48] joelverhagen commented on #2324
I tried the same thing with Odd. I cannot reproduce because NuGet detects that the package is already restored:

[code]

[2016-03-17 16:18] JoshMcCullough opened #2351 "Add "force" option to `nuget add`?"
When adding a package to a local repository, it'd be helpful to have a "force" option so that NuGet will overwrite an existing package/version instead of telling me that the package already exists. Currently, if I try to re-publish a package (say I'm just testing my publish script, for instance, and don't want to keep incrementing the version), I get this message:

[2016-03-17 17:44] spadapet commented on #2204
Cool, the issue for tracking the 3.5 change is: https://github.com/NuGet/Home/issues/2348

[2016-03-17 17:52] #1284 closed, assigned to zhili1208

[2016-03-17 17:57] csharpfritz commented on #2316
When you start adding an extra file to indicate dependencies of the single-file, you've effectively got a nupkg extracted on disk.  Why not package and server 1 file at that point?

I'm very familiar with storing the SHA for the Git version.  That's a new mechanism that would have to be introduced to project.json structures if we decide to store that for a single file.

Curl is the easy way to get

[2016-03-17 18:03] forki commented on #2316
One reason is that you don't always control that other repo.
On Mar 17, 2016 6:58 PM, "Jeffrey T. Fritz" notifications@github.com
wrote:

[2016-03-17 18:32] jochenwezel opened #2352 "NuGet internationalization: switch-off required"
To support tools based on NuGet, it's required to analyse the output messages of NuGet by these tools (e.g. the CreateNewNuGetPackage).

The problem is on non-English systems that NuGet automatically logs every message in the supported language - making it very difficult to analyse NuGet output messages (required lot of internationalization work on those depending projects).

For simplifying devel

[2016-03-17 18:37] yishaigalatzer commented on #2316
@forki kudos, this is a nice design. I see lots of parallels with content files in nuget, and I can see this be based on the mutable version of that design for making files show up in the project. Thanks for sharing

[2016-03-17 18:42] deadlydog commented on #2352
Yes, yes, yes please! Great idea :+1:

[2016-03-17 18:49] scottaddie opened #2353 "Incorrect default tab selection behavior in Manage NuGet Packages dialog"
The version of NuGet Package Manager being used is 3.3.0. Refer to the following screen capture for context around this issue:

![nuget_browse_tab](https://cloud.githubusercontent.com/assets/10702007/13857071/3829dc20-ec46-11e5-8868-574ccc906e90.gif)

The package manager dialog seems to display the tab last selected when it opens. I'm proposing that this behavior change, such that the **Browse** t

[2016-03-17 19:28] simonejsing opened #2354 "Package content is not restored correctly when installing a package from a nuget v3.3+ feed with the argument -NoCache when the package contains *.nupkg files"
I have a Nuget package which itself contains other Nuget packages (*.nupkg files). When I install this package, the contained *.nupkg files are missing from the output location.

The issue only occurs when installing packages from nuget v3.3+ feeds. If I install the package from a local file share or a nuget v2 feed it works as expected and the output location has the contained *.nupkg files in it

[2016-03-17 19:50] kingerja commented on #2324
hmmm i see this on our build agents on my machines and have had many reports of it.  Would it help if I provided a machine with a repro?  If so i can try to get something for you much later tonight when i am back to my hotel.

[2016-03-17 20:27] analogrelay opened #2355 "Reexamine `type: platform`"
We either need to change include/exclude flags OR just have `type: platform` not set these flags and do the publish suppression in `dotnet-cli`.

The problem is when you have a graph like this:

[code]

If B->D is marked as `exclude: runtime`, but C->D has no include/exclude flags, it is interpreted as including all and that overrides the B->D metadata

[2016-03-17 20:59] spadapet opened #2356 "nuget.exe pack (and pack tests in NuGetPackCommandTest) fail to build projects when Dev15 is installed."
**Repro:**
1. Install latest Dev15 preview build on your dev machine (side-by-side with existing Dev14)
   \dogfoodvs\DOGFOOD\Dev15\InstallScriptsV2\InstallDev15.lnk
2. Run a full nuget.client build: .\build.ps1

**Result:**

![capture](https://cloud.githubusercontent.com/assets/2523431/13860874/be254c6e-ec47-11e5-9e22-d7f8708ce4b4.PNG)

NuGetPackCommandTest.cs(867,0): at NuGet.CommandLine.Test.Nu

[2016-03-17 21:56] emgarten opened #2357 "Merge project.json and packages.config v2 feed parsing"
V2FeedParser and RemoteV2FindPackageByIdResource.FindPackagesByIdAsyncCore both make calls to v2 servers. These should be merged together so that project.json restore benefits from the stability fixes made in V2FeedParser.

[2016-03-17 21:59] emgarten opened #2358 "Project.json restore should warn when top level packages violate constraints"
The below project.json should generate a warning for the constraint violation between Microsoft.ApplicationInsights >= 2.0.0 and == 1.2.3 required by the WindowsApp package.

Ideally there should also be a way to suppress these warnings.

[code]

[2016-03-17 22:24] rrelyea opened #2359 "Crash report in NuGet Options dialog during MouseUp"
According to crash dump, SelectedIndex is being set to 65xxx, which is out range.
Check to ensure that we set it a valid value.
This issue is mirroring VS#202733.

[2016-03-17 23:05] rrelyea commented on #2359
Merged into dev and Release-3.4.0

[2016-03-17 23:05] #2359 closed, assigned to rrelyea

[2016-03-17 23:12] joelverhagen commented on #2324
Even better than a machine with a repro would be a project (with no dependency on your own build environment) that reproduces the problem. But it that is not achievable, a machine would help.

[2016-03-17 23:25] #2288 closed, assigned to nobody

[2016-03-17 23:26] #1992 closed, assigned to spadapet

[2016-03-18 00:09] isaacabraham commented on #2316
@csharpfritz one other reason is where you simply don't want the overhead of creating and managing a nuget package every time for a single file. Good example (from a real world project) is we had an ASP .NET web project for a website and an ASP .NET web api project for the back end. We wanted to share the DTO contracts between the two projects for the API.

We wanted something lightweight, we also

[2016-03-18 00:18] isaacabraham commented on #2316
Another use case I have is a website I'm working on that pulls together some disparate projects I'm working on into a single demonstrator website. The website project itself doesn't have the code, they all live in other standalone repositories - I just have dependencies on some of the files in those repos that I need for the demonstrator website. Again, I don't want the hassle of creating and host

[2016-03-18 00:30] yishaigalatzer commented on #2316
@isaacabraham for reference we just use an XPROJ with the content file model. Building a NuGet package is just a natural thing there, and sharing it is also natural. So I see why you like using git, but if you already use NuGet packages, the cost is negligible.

I'm seeing the advantage here as sharing between two different groups completely disconnected, where one group doesn't want to publish Nu

[2016-03-18 00:34] isaacabraham commented on #2316
@yishaigalatzer that sounds nice, I'll have to read up on that.

Also - note with nuget packages you also have the "cost" of hosting them - github obviously does that for free :-)

[2016-03-18 00:41] #1769 closed, assigned to rrelyea

[2016-03-18 00:53] yishaigalatzer commented on #2316
@isaacabraham I agree, if you already have a nuget feed that value diminishes a bit, and you are still affected by the horrible "force pushers"
![image](https://cloud.githubusercontent.com/assets/1238711/13865478/1c1385ea-ec69-11e5-86f3-9525b3cc5fae.png)

[2016-03-18 00:54] isaacabraham commented on #2316
Hmmm - does a force-push retain the SHA hash? I thought that every commit to a repo had a unique SHA.

[2016-03-18 00:56] yishaigalatzer commented on #2316
But commits can disappear when you force-push

[2016-03-18 00:56] isaacabraham commented on #2316
Either way - I agree that the tighter coupling of nuget packages into the project system means that creating nuget packages will not always be the same amount of effort that it currently is.

[2016-03-18 00:57] isaacabraham commented on #2316
@yishaigalatzer aha, I see. I was under the impression that sometimes packages can also be removed from the nuget feed :-)

[2016-03-18 01:00] yishaigalatzer commented on #2316
Nooooo, ok yes, that does happen.

The difference is that versions disappear and there is progression (typically), when a commit hash disappears you are in limbo.

Either way for private servers that's ok

[2016-03-18 02:04] #2339 closed, assigned to alpaix

[2016-03-18 08:04] Razenpok opened #2360 "NuGet pack couldn't extract metadata."
Nuget pack cannot extract metadata from assemblies with Bridge reference.

Steps to reproduce:
1. Create class library project.
2. Remove all references.
3. Install Bridge NuGet package (https://www.nuget.org/packages/Bridge/).
4. Add this method in Class1:

[code]
1. Build project.
2. Run "nuget spec".
3. Run "nuget pack ClassLibrary1.csproj"
4. Observe "WARNING: Unable to extract metadata from '

[2016-03-18 12:50] davidfowl commented on #2332
Fixed

[2016-03-18 12:50] #2332 closed, assigned to davidfowl

[2016-03-18 12:50] davidfowl commented on #2332
/cc @emgarten @yishaigalatzer How do I tag this

[2016-03-18 14:36] shocho commented on #737
+1

[2016-03-18 15:17] madelson commented on #543
@yishaigalatzer When will 3.4 be out? We routinely use three separate package sources so this is a real pain point for us trying to upgrade to NuGet 3 and VS2015.

Also, will this fix work for the package manager console as well?

[2016-03-18 15:27] yishaigalatzer commented on #543
Shouldnt be too long. It will coincide with update 2

[2016-03-18 16:41] pspill opened #2361 "VS UI deadlock initializing credential providers during restore"
This hits because the NuGet Credential Service a) initializes all providers lazily as needed, b) does the MEF import on provider initialization, and c) switches to the UI thread in order to do b.

If you haven’t done any other NuGet operation that causes the providers to be loaded, and kick of a build, a UI dialog pops up to show NuGet restore progress, which is contending with loading the provide

[2016-03-18 17:26] johnataylor commented on #2347
We have seen two distinct issues in the TeamCity NuGet feed.

1) if the dependency specification string exceeds 1024 characters TeamCity appears to truncate the string. This caused a semantic version string specified inside a dependency version range to be cropped such that it was not longer even a syntactically legal string. This caused an exception in the client and the Browse tab showed that ex

[2016-03-18 21:43] toddm commented on #2356
This is not limited to Pack.  It seems to be a test issue but I'm still trying to prove that definitively.

[2016-03-18 22:02] #1989 closed, assigned to toddm

[2016-03-18 22:56] emgarten commented on #2341
NuGet/NuGet.Client@c9e301849983c83ef109308e8146d63f4cbe815b

[2016-03-18 22:56] #2341 closed, assigned to emgarten

[2016-03-18 23:00] alpaix opened #2362 "Failing to authenticate package source (3 times) is blocked forever"
**Problem**
In case of authenticated private source configured user prompted to provide credentials 3 times. If it fails user never gets asked again. To recover from this state one is required to restart Visual Studio.

**Solution**
1.       If the user cancels – We don’t retry
2.       In a new operation (install/update/restore) we ask for the credentials again

[2016-03-18 23:04] toddm commented on #2356
I got it to repro using a Dev15 dev cmd prompt.  Still investigating what the cause is.

[2016-03-18 23:40] joelverhagen commented on #1758
`suppressParent` should also be added.

[2016-03-18 23:59] rrelyea opened #2363 "All sources "browse" can hit a null ref, and continually retry"
My configuration is two Klondike servers, one accessed via localhost and the other via remote request to a VM.
Both of them have ~5 different packages, with a few versions in common, etc...

Browse via All sources...and you'll see an error with Null Ref in output for package manager.

@alpaix is investigating.

[2016-03-19 04:33] #2204 closed, assigned to spadapet

[2016-03-19 04:34] spadapet commented on #886
Uses of Uri.TryCreate are throwing exceptions. Still need to track them down.

[2016-03-19 20:34] jamsoft opened #2364 "VS2015 Installed Packages Panel Slow"
When viewing the panel containing the currently installed packages for a whole solution scrolling down the list is painfully slow and regularly just stops scrolling altogether.

[2016-03-20 10:40] maxcelcat commented on #2175
It's possibly NuGet is not at fault, but given the problem occurs when the nuget packages are being loaded, it was my best guess as to the cause. I'll look at the init scripts this week!

[2016-03-20 15:09] AArnott opened #2365 "Enable EmbedInteropTypes for PackageReference (matching Packages.Config capability)"
In the packages.config world, when references are actually added to the user's project file, the project system will add `<EmbedInteropTypes>true</EmbedInteropTypes>` metadata to the reference when its sniff-test tells it that the assembly should be linked rather than referenced. This is an important distinction for several reasons.

But in the project.json world, this is lost -- the project syste

[2016-03-21 06:01] codefox42 commented on #491
I believe I am experiencing the same or at least a similar behavior with VS2015.1 (14.0.24720.00)) and **Mercurial** (via [VisualHg 1.1.7](http://visualhg.codeplex.com/)): `packages.config` _gets deleted_ if the single NuGet package it consists is updated (and _not only marked as deleted_). So I guess in my case this is nothing VisualHg can change? (NuGet 3.3.0.167)

[2016-03-21 06:23] zhili1208 commented on #491
@mdvtj Yes, NuGet 3.3 has this bug, it's fixed in 3.4-rtm.

https://github.com/NuGet/NuGet.Client/commit/1d38c36b9c266cf13f591b2824cfd57f83ee1942#diff-18b7a6d1d31f5d214f93945b51923913

[2016-03-21 08:08] martinsuchan commented on #2022
Same problem here, we cannot build our Windows 10 project on our build server right now:

[code]

Our setup: Windows 10 Enterprise x64, TeamCity 9.1.6, Visual Studio 2015 Update 1, NuGet 3.3

[2016-03-21 09:06] codefox42 commented on #491
@zhili1208, thanks for the good news! Now patiently waiting for 3.4-rtm (as the currently available 3.4-rc (3.4.0.653) seems not yet to be including the mentioned fix). (Or is 3.4-rtm available for download by other means?)

[2016-03-21 09:56] maartenba opened #2366 "NuGet packages for Universal Windows not installing from private feed"
_From @mathikp on March 18, 2016 4:47_

I have a private NuGet feed which has packages for various platforms. All the other platform's packages are working fine, can install those packages from Visual Studio. But packages targeting uap10.0 is cannot be installed in Universal Windows project in Visual Studio 2015. The same packages can be installed from local folder into the project. While installi

[2016-03-21 09:56] maartenba commented on #2366
Which NuGet server are you using?

[2016-03-21 09:56] maartenba commented on #2366
_From @mathikp on March 18, 2016 7:13_

I'm maintaining our own server for my company.

[2016-03-21 09:56] maartenba commented on #2366
Which server product are you using?

[2016-03-21 09:56] maartenba commented on #2366
_From @mathikp on March 18, 2016 8:46_

We are using Azure.

[2016-03-21 09:56] maartenba commented on #2366
What software is installed to host NuGet packages? Is it a file share? NuGet.Server? NuGet gallery? ProGet? MyGet? Artifactory?

[2016-03-21 09:56] maartenba commented on #2366
_From @mathikp on March 18, 2016 9:1_

We are using NuGet server.

[2016-03-21 09:56] maartenba commented on #2366
Which version of it are you using?

[2016-03-21 09:56] maartenba commented on #2366
_From @mathikp on March 18, 2016 9:7_

The version is 3.0.

[2016-03-21 09:56] maartenba commented on #2366
The version of NuGet.Server? There is no 3.0 verion of it (we just released 2.10.1 yesterday)
We will need some info on the environment and server software used to be able to see what the problem could be...

[2016-03-21 09:56] maartenba commented on #2366
_From @mathikp on March 21, 2016 7:40_

Sorry for the delay in response and for mentioned the version wrongly. We have tried version [2.10.1](https://www.nuget.org/packages/NuGet.Server/2.10.1) NuGet.Sever assembly in our project. Still the error is coming frequently. The package is getting installed only few times. Most of the time it fails.

[2016-03-21 09:56] maartenba commented on #2366
Do you happen to have more logs on the NuGet install? (in VS)
Which Nuget verson do you have instaleld in Visual Studio? Can you try vLatest from http://dist.nuget.org/index.html ?

[2016-03-21 09:56] maartenba commented on #2366
_From @mathikp on March 21, 2016 9:42_

Installation Log: [NuGetLog.txt](https://github.com/NuGet/NuGetGallery/files/181900/NuGetLog.txt)
I'm using NuGet Package Manager 3.3.0.167 in my VS.
The package is installing fine while using nuget.exe. But the issue is with installing package inside VS with Package Manager or Package Manager Console.

[2016-03-21 09:56] maartenba commented on #2366
You may be missing the `/nuget` part of the URL, full URL to NuGet.Server should be http://server/nuget

[2016-03-21 09:56] maartenba commented on #2366
_From @mathikp on March 21, 2016 9:55_

We are just checking the server site in staging for testing purpose. Actually all the packages are listing in the Package Manager. There is no issues with the url.

[2016-03-21 09:56] maartenba commented on #2366
May be a client issue then, moving

[2016-03-21 10:55] jozefizso opened #2367 "Prevent package push to public repository"
Does NuGet client and Nuspec have ability to prevent pushing packages to public repositories? We use corporate NuGet server and we would like to have our internal packages marked as private, or be able to set only allowed push sources (servers).

[2016-03-21 14:51] drewgillies commented on #2274
This is fixed in 3.4.0. @kkdawkins  -- please retry repro with the 3.4 RC.

[2016-03-21 16:24] rrelyea commented on #2361
Fixed merged into 3.4 for vs2015.2 on Friday 3/18.

[2016-03-21 16:24] #2361 closed, assigned to pspill

[2016-03-21 16:44] shmao opened #2368 "Nuget Package should not add relative paths in csproj imports"
@mrchief reported issue https://github.com/dotnet/roslyn/issues/9390

When a NuGet package has a .props file in its \build folder, NuGet manager add a Import entry in .csproj file and the entry looks like below,

[code]

The Import entry uses relative path. This does not work when the project is built outside of Visual Studio and especially when a  build.proj  file (outside of source folders) is u

[2016-03-21 17:02] drewgillies opened #2369 "Unable to install C++ package to C++ UWP project in VS "15" Preview"
NuGet v3.4.0.764 in VS Next
Repro steps:
1. Create a C++ UWP blank app
2. In NuGet Package Manager, install a C++ package (I'm using OpenCV, but Microsoft.Xaml.Behaviors.Native also repros)

Expected: no errors

Actual:
Could not load file or assembly 'Microsoft.VisualStudio.ProjectSystem.V14Only, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The s

[2016-03-21 17:04] drewgillies commented on #2369
On the surface the problem appears to be an explicit dependency on Microsoft.VisualStudio.ProjectSystem.V14Only.dll, which is absent in VS Next.

[2016-03-21 17:05] toddm commented on #1782
Removed -Verbose.

[2016-03-21 17:05] #1782 closed, assigned to toddm

[2016-03-21 17:27] drewgillies commented on #2369
Shiproom check unnecessary as this doesn't repro in VS 2015 Update 2. This doesn't meet the escrow bar for VS Next preview. Removed ShipRoom Check label.

[2016-03-21 17:35] toddm commented on #2356
This happens when doing a -build during pack when the command-line will use MSBuild 15.

[2016-03-21 17:44] blowdart commented on #2335
I was looking at this a bit. I can see at least one problem in `CryptoHashProvider.cs`.

In lines 107 and 110 you're newing up `AlgorithmCryptoServiceProvider`. That doesn't do the right thing,

Using `new SHA256CryptoServiceProvider()` can return a non-FIPS-compliant object. Calling `SHA256.Create()` or `SHA512.Create()` should take FIPS into account (at least in desktop & core, I have no idea ab

[2016-03-21 18:04] zhili1208 commented on #2163
@moozzyk  just verified with latest bit, looks like it's fixed by @emgarten 's fix, feel free to reopen it if it still repro

[2016-03-21 18:14] analogrelay commented on #2114
https://github.com/NuGet/NuGet.Client/pull/391 removes inference by default, but keeps it available temporarily as a command line switch. We'll still want to remove the switch before any RTM version of NuGet goes out, so I'm going to leave this bug open. Once https://github.com/NuGet/NuGet.Client/pull/391 goes in, we will work with CoreFX, .NET CLI and ASP.NET to ensure everyone is ready to remove

[2016-03-21 18:20] johnataylor commented on #2364
The problem was that as you switched tabs a bunch of http calls were made. It was written such that these needed to complete for the UI to update. We've fixed this by, firstly, populating the pane from the installed packages and secondly moving the additional fetch of details (like whether your feeds have other packages) to the background.

We had similar issues on the Update tab.

related bugs #2

[2016-03-21 18:20] #2364 closed, assigned to nobody

[2016-03-21 18:36] deepakaravindr opened #2370 ""All" is the default package source when multiple package sources are enabled"
"All" is the default package source when multiple package sources are enabled. This is true even without user opting for "All" package sources.

[2016-03-21 18:38] drewgillies commented on #2274
You may also want to test the latest build from the MyGet feed: https://www.myget.org/feed/nugetbuild/package/nuget/NuGet.CommandLine/3.4.0-rtm-768

NuGet 3.4 RC: https://dist.nuget.org/win-x86-commandline/v3.4.0-rc/nuget.exe

[2016-03-21 19:17] spadapet commented on #886
We have many uses of the Uri class in the code. They throw with UNIX paths due to a bug in corefx: https://github.com/dotnet/corefx/issues/1745
Seems like the Uri class is unlikely to be fixed soon since that's an old bug and changing Uri could have compatibility issues.

[2016-03-21 19:25] rrelyea commented on #2363
:shipit: (after a bit more testing of other scenarios to ensure no regression)

[2016-03-21 19:31] #2363 closed, assigned to alpaix

[2016-03-21 20:15] natemcmaster opened #2371 "dotnet-restore hangs indefinitely"
@aspnet CI agents have suffered from periodic builds in which dotnet-restore hangs indefinitely. The process has to be manually killed. This appears to occur randomly. The hang happens part-way through a restore operation.

The most recent hang occurred earlier today. I gathered a process dump and the restore context. Contact me internally so I can send you the dump (too big to attach here).

Usin

[2016-03-21 20:25] emgarten commented on #2371
This is due to an azure storage problem. There is a fix in progress currently to help with bad sources that should help with this: https://github.com/NuGet/NuGet.Client/pull/390

[2016-03-21 20:27] natemcmaster commented on #2371
cc @pranavkm @victorhurdugaci

[2016-03-21 21:20] BMarques commented on #1909
3.4 RC1 improved this issue considerably in comparison with 3.3, specially to find updates and consolidation but it's still slow, when it's "Attempting to gather dependency information". I normally have to go back to Visual Studio 2013 to update the nugets instantly.

[2016-03-21 22:08] kberridge opened #2372 "Nuget pack with <files> in nuspec and .csproj with build action content including all content files"
The nuget documentation (http://docs.nuget.org/create/nuspec-reference) says:

However I've created a nuspec file with a files node and nuget pack is including all files in the csproj with buildaction=content in addition to the files I explicitly specified in the nuspec file:

[code]

The documentation makes it sound like the `<files>` should win and the build action=content files should not be in

[2016-03-21 22:16] joelverhagen commented on #2096
Yes, this will allow some good functional tests to run on Mac in Linux. I think this is important since the HTTP stack in .NET Core is different from Windows.

[2016-03-21 22:19] rrelyea opened #2373 ""All sources" version combination end up with duplicate entries of versions"
Run same network traces/responses as the recent double Klondike server bug.
This happens when both results come back around the same time.

[2016-03-21 22:19] rrelyea opened #2374 ""All sources" delayed results end up not merging versions into existing ones."
Run same network traces/responses as the recent double Klondike server bug.
This happens when 2nd set of results come back delayed.

[2016-03-21 22:28] pspill commented on #2362
![restorebutton_after3cancelledlogin](https://cloud.githubusercontent.com/assets/15760534/13936240/ad6c537e-ef92-11e5-8009-e68b310bfbdc.JPG)
![installed_after3cancelledlogin](https://cloud.githubusercontent.com/assets/15760534/13936248/afe27552-ef92-11e5-98a6-434c6698b4f4.JPG)
![build_after3cancelledlogin](https://cloud.githubusercontent.com/assets/15760534/13936249/b1f8ee84-ef92-11e5-9d11-8fcd698

[2016-03-21 22:31] pspill commented on #2362
Attached screenshots of the behavior after: 1) perform any NuGet operation that needs to authenticate with the MyGet feed, 2) cancel the login dialog 3 times, and 3) perform any other operation.

At this point mos tof the operations will report an error, but it won't be clear to the user that they need to close and reopen VS to unblock. Note that for the NuGet Package Manager \ Installed UI, the L

[2016-03-21 22:32] #1916 closed, assigned to zhili1208

[2016-03-21 22:50] joelverhagen commented on #2000
New output:

<pre>
log  : Restoring packages for C:\Users\jver\Desktop\Test\i\project.json...
info :   GET https://dotnetmyget.blob.core.windows.net/artifacts/dotnet-core/nuget/v3/flatcontainer/microsoft.aspnetcore.diagnostics/index.json
info :   NotFound https://dotnetmyget.blob.core.windows.net/artifacts/dotnet-core/nuget/v3/flatcontainer/microsoft.aspnetcore.diagnostics/index.json 114ms
info :

[2016-03-21 22:50] #2000 closed, assigned to joelverhagen

[2016-03-21 23:10] alpaix commented on #2362
For 3.4 we can simply consider changing the error message and make it clear for a user he needs to restart application, or disable/enable the source. Does it make sense?

[2016-03-21 23:12] alpaix commented on #2362
@pspill Infinite spinning issue has been resolved in https://github.com/NuGet/NuGet.Client/pull/402

[2016-03-21 23:12] emgarten commented on #1373
This is only for packages.config, not xplat scenarios.

My current thinking is that this should be fixed by using a simple failure message from the optimistic resolver once that perf improvement goes in.

[2016-03-22 07:17] ranjan-2209 opened #2375 "Size also to be displayed in Package Description Window in Visual Studio"
It would be good if size is also to be displayed in Package Description Window in Visual Studio.
![](https://cloud.githubusercontent.com/assets/16834561/13944572/2d2e59ba-f02c-11e5-9c31-86b3f44f2f27.png)

[2016-03-22 08:00] OliverRC commented on #1909
Thanks for the work on this! I will try out the RC version and feedback

[2016-03-22 14:41] chrischu opened #2376 "NuGet pack's minimal dependency set could potentially break stuff"
I just found out that using `NuGet pack` only references a minimal set of package dependencies in the generated package file.

Lets say I have a project `Project.csproj` that I use as input for `NuGet pack` to create a `Project.nupkg`package. Let's also say that `Project.csproj` has two NuGet references to `Package.1.2.3` and `References.Package.1.0.0`, where the `References.Package.1.0.0` also de

[2016-03-22 16:53] bricelam commented on #2299
Where can we learn more about this new TFM and how it differentiates from `netstandardapp1.5`?

[2016-03-22 16:55] joelverhagen commented on #1758
Closed with https://github.com/SchemaStore/schemastore/pull/124.

[2016-03-22 16:55] #1758 closed, assigned to joelverhagen

[2016-03-22 17:40] joelverhagen commented on #2176
The current plan is to write errors in real-time to stdout and, at the end of execution, write a summary of errors to stderr. The high level plan is detailed here:
https://github.com/NuGet/Home/wiki/Logging-Guidance

[2016-03-22 17:48] ericstj opened #2377 "Incorrect import fallback behavior"
Import should be used as an "ultimate" fallback.  That is, it should only ever be considered after the targeted TFM and all compatible TFMs have been considered.

I'm seeing that this is not the case.

Consider the following project.

[code]

The project restores correctly.  Now if I add `"imports": [ "dnxcore50" ]` and restore I get a different result.

The diff can be seen here: https://gist.git

[2016-03-22 17:48] pranavkm commented on #2176
This sounds great.

[2016-03-22 17:54] davidfowl commented on #2377
That's hella broken.

[2016-03-22 18:18] weshaggard commented on #2299
@richlander When do we plan to publish the spec for this?

[2016-03-22 19:17] emgarten commented on #2377
I'll take a look, this seems like a bug. Fallback should not occur if the target framework has any compatible assets for the group.

[2016-03-22 19:37] brgrz commented on #2050
it's 3.3.0.167

I'm constantly running into issue

"Some Nuget packages are missing from this solution. Click to restore from your online package sources."

This happens a lot when checking out projects from Git, merging branches etc. Nuget really isn't too happy with most changes, in fact it goes crazy the moment something is missing.

The problem gets even worse when the old version of the packa

[2016-03-22 20:56] yishaigalatzer commented on #2050
We agree with you and that is why project.json based projects was invented. Packages no longer affect your project directly and thus uninstall doesn't require the original version, and so does update.

If you removed the package from packages.config, you might just have to reload the solution OR there is a reference in your project left behind from the old package (e.g. DLL name changed).

[2016-03-22 21:55] kkdawkins commented on #2274
@drewgil Confirmed! Thank you for looking into it!

[2016-03-22 21:55] #2274 closed, assigned to drewgillies

[2016-03-22 21:57] drewgillies commented on #2274
You're welcome :)

[2016-03-22 22:11] yishaigalatzer commented on #2376
The optimization is important because long term you want to just reflect your dependencies, and not the transient dependencies that might drop off, particularly if your package is going to get consumed in a project.json scenario, you really want just the top level dependency AND you need to explicitly upgrade if you need a minimum newer version of the dependencies.

For your scenario I wonder what

[2016-03-22 22:16] yishaigalatzer commented on #2371
@natemcmaster - Please try a new CLI with the latest dev build, it should be resolved now

CC @piotrpMSFT

[2016-03-22 22:28] joelverhagen commented on #2371
This is fixed with a change to add timeout to downloads (fail is no bytes received from the network in X seconds).
Duplicate of https://github.com/NuGet/Home/issues/2269

[2016-03-22 22:28] #2371 closed, assigned to joelverhagen

[2016-03-22 22:28] joelverhagen commented on #2201
This is fixed with a change to add timeout to downloads (fail is no bytes received from the network in X seconds).
Duplicate of https://github.com/NuGet/Home/issues/2269

[2016-03-22 22:28] #2201 closed, assigned to joelverhagen

[2016-03-22 22:28] joelverhagen commented on #2150
This is fixed with a change to add timeout to downloads (fail is no bytes received from the network in X seconds).
Duplicate of https://github.com/NuGet/Home/issues/2269

[2016-03-22 22:28] #2150 closed, assigned to joelverhagen

[2016-03-22 22:30] joelverhagen commented on #2150
Matthew, please open if this issue is still blocking you.

[2016-03-22 22:31] natemcmaster commented on #2371
Thanks. We are not able to upgrade dotnet-cli due to other blocking bugs in dotnet-cli. Any workaround in the meantime? We have had to manually kill dotnet-restore for the last dozen or so runs of EF on aspnetci.

[2016-03-22 22:45] joelverhagen opened #2378 "dotnet CLI OS X CI builds failed"
This is the issue we saw before that blocked the Jenkins OS X CI for dotnet CLI. Two problems were observed:
1. Corrupt .nupkg (even after validating the file in the HTTP cache).
2. HTTP cache file not found.

We worked around the problem with `--disable-parallel` but the root cause still needs to be reproduced and investigated.

[2016-03-22 23:04] drewgillies commented on #2369
Microsoft.VisualStudio.ProjectSystem.V14Only.dll has indeed been replaced by Microsoft.VisualStudio.ProjectSystem.dll. Work is ongoing to respond to this change.

[2016-03-22 23:13] yishaigalatzer commented on #2022
We have made quite a few changes in auth and proget support in 3.4, we are going to get to this issue in a few days, but in the meantime feel free to try the (almost RTM) build from - https://www.myget.org/F/nugetbuild/api/v2/package/NuGet.CommandLine/3.4.0-rtm-768

[2016-03-22 23:16] yishaigalatzer commented on #1262
We haven't heard back for over two weeks now, so I'm going to move this out to the next release, hopefully it is fixed for you, and if not we would love a repro project.

[2016-03-22 23:23] yishaigalatzer commented on #2333
We did have an outage, and NuGet 3 does try to talk to all sources when installing a package (because it is required to get the same repeatable package graph).

Can you confirm if the issue is still happening today, and if it still is, can you please give us an example package/project to repro with?

[2016-03-22 23:28] yishaigalatzer commented on #2334
We can't really comment on how to structure your projects, its very subjective and hard to tell without getting the full picture. This kind of questions are more adequate to stackoverflow where you can get a wide spectrum of opinions and make your choice at the end.

In general I wouldn't put configuration files for your downstream projects in a content file in a nuget package, because you have no

[2016-03-22 23:28] #2334 closed, assigned to nobody

[2016-03-22 23:31] yishaigalatzer commented on #2335
Thanks for all the feedback.

@TimBarham this needs to go into dev, and also into 3.4 RTM (please wait for my ok to merge to 3.4 RTM) - Timeline - by EOW

[2016-03-22 23:43] yishaigalatzer commented on #2375
That's a neat idea!

We spent some time looking into it and we currently don't have that information available in the metadata shared by the servers, so it is not guaranteed to be able to show it on all servers, and will require a protocol change to show up (for V3 servers, it is currently available for V2).

CC @maartenba - Lets track adding the data over to the registration blobs.

[2016-03-22 23:52] yishaigalatzer commented on #2372
Trying to understand the priority of this issue:

Why are you packing the csproj in this case? You can just nuget.exe pack XXX.nuspec?

[2016-03-22 23:56] yishaigalatzer commented on #2368
When projects are moved around, adding relative paths no longer work, but also $solutiondir might not work.

The solution for this issue is to move to use `project.json` based projects instead of `packages.config`, where all packages are placed in a global packages folder.

[2016-03-22 23:56] #2368 closed, assigned to nobody

[2016-03-22 23:57] yishaigalatzer commented on #2368
Closing this as by design (although I agree the design of changing your project when you install a nuget package is unfortunate)

[2016-03-22 23:59] yishaigalatzer commented on #2367
We are planning to deprecate nuget.exe push without a source, so packages do not get pushed accidentally to nuget.org. Is this a sufficient solution?

(This is already the case in NuGet 3.4)

[2016-03-23 00:02] yishaigalatzer commented on #2366
Can you please provide more input?
1. Can you share a fiddler feed of the failed install?
2. Do you have a log (you can find it in the output folder)
3. Does a specific package fail constantly or just some of the packages.

[2016-03-23 00:07] yishaigalatzer commented on #2365
I think as a workaround, the vs packages can use msbuild targets for now. I'm moving this out.

[2016-03-23 00:09] yishaigalatzer commented on #2362
@alpaix I believe there is a duplicate on you for this issue, can you please find and close

[2016-03-23 00:11] yishaigalatzer commented on #2360
@toddm if this is limited to a quirk in brige, lets move it out, but if it is a more inherent issue, lets figure out what the fix should be

[2016-03-23 00:18] yishaigalatzer commented on #2354
For prioritizing purposes: Can you explain the scenario?

[2016-03-23 00:20] yishaigalatzer commented on #2353
We got the opposite feedback, and hence this selection. Typically when you click manage you want to update packages, or the like.

I can see this as an option in the nuget settings (default tab -> Last, Browse, Updates, Installed)

[2016-03-23 00:23] AArnott commented on #2365
Yes, as a workaround I've published http://nuget.org/packages/microsoft.visualstudio.sdk.embedinteroptypes

[2016-03-23 00:39] yishaigalatzer commented on #2352
@joelverhagen - I think this will take some reflection magic, but I think it is doable by iterating all the loaded assemblies finding the resource managers (flaky I know) and forcing the `resourceCulture` variable to English

[2016-03-23 01:33] yishaigalatzer opened #2379 "Remove the locked property from the lock file"
project.lock.json has a locked property, that is not being consumed by anything. We should remove the property from the default writer.

CC @davidfowl

[2016-03-23 01:37] glen35 commented on #2379
Where is that at please

[2016-03-23 01:37] yishaigalatzer commented on #2349
@davidfowl what is the impact? Is it needed for RC or RTM?

[2016-03-23 01:38] yishaigalatzer commented on #2379
@glen35 don't understand the question

[2016-03-23 02:31] moozzyk commented on #2163
I hope the new dotnet cli we will pick will have this fix so I will be able to verify this end to end.

[2016-03-23 04:36] zhili1208 commented on #2163
@moozzyk please try the new dotnet, I think it has this already

[2016-03-23 04:49] repl-shenoy-sukumaran opened #2380 "Update-Package is failing on VS2015"
I am getting below command to update-package to new version its fails with below error, If i use with Install-Package command everything is success. How do i get the full exception detail, its looks trimmed from Package manager console.

PM> Update-Package Replicon.Darkwater.Services.Contracts -Version 1.50.21.0 -IgnoreDependencies -Source Replicon -Project Replicon.Darkwater.UI
Attempting to gath

[2016-03-23 05:11] TheRealPiotrP commented on #2371
What are you blocked on?

Sent using OWA for iPhone

---

From: Nate McMaster notifications@github.com
Sent: Tuesday, March 22, 2016 3:31:22 PM
To: NuGet/Home
Cc: Peter Puszkiewicz
Subject: Re: [Home] dotnet-restore hangs indefinitely (#2371)

Thanks. We are not able to upgrade dotnet-cli due to other blocking bugs in dotnet-cli. Any workaround in the meantime? We have had to manually kill dotnet-

[2016-03-23 05:12] repl-shenoy-sukumaran commented on #2380
Not sure this is the right place to create this defect, or we should create in Package Manager console

[2016-03-23 08:14] chrischu commented on #2376
In my scenario the installed version of `Package` is 1.2.3, and yes, it very much looks like `pack` misses the fact that I used version 1.2.3.

Maybe the solution would be not to dismiss set optimization entirely, but adapt it to take actual version into account. Basically when `pack` processes the package dependency on `References.Package` it needs to realize that the minimum version referenced b

[2016-03-23 08:24] maartenba commented on #2375
Created tracking issue: https://github.com/NuGet/NuGetGallery/issues/2957

[2016-03-23 08:53] bjorn-ali-goransson commented on #1909
Spring-cleaning my local (file-based) feed sped up things considerably, just by removing ~25 old versions from two of my packages (so a total of ~50). Definetely not a nuisance anymore.

[2016-03-23 09:32] renagade1 commented on #2175
I experienced the samme issue, and it looks like nuget tries to invoke init.ps1 on some of the packages. The workaround I have found so far is to delete the .vs folder and restart visual studio. It only happens in VS2015. VS2013 works fine.

[2016-03-23 11:25] hickford opened #2381 "Publish xml documentation in NuGet.Core package"
Hi. The  [NuGet.Core package](https://www.nuget.org/packages/NuGet.Core/) is missing the xml documentation file `NuGet.Core.xml` that's needed by Visual Studio to show documentation in Intellisense. Please add it, even if it's incomplete, it would be helpful.

[2016-03-23 12:24] dbuckingham opened #2382 "Get-Package -Update returns a list of all packages with updates available, including prerelease versions."
The Get-Package cmdlet should only return packages with an update available that is not a prerelease version, unless the -IncludePrerelease switch is included.

NuGet Package Manager for Visual Studio 2015
Version: 3.3.0.167

[2016-03-23 12:26] mathikp commented on #2366
1. I cant understand what you mean as fiddler feed.
2. Log is here. [NuGetLog.txt](https://github.com/NuGet/Home/files/185950/NuGetLog.txt)
3. All the packages are failed.

Do we need to do any special configurations in our feed for support UWP packages?

[2016-03-23 13:47] scottaddie commented on #2353
@yishaigalatzer I agree that it would be really nice to have a setting for this within Tools --> NuGet Package Manager --> Package Manager Settings.

[2016-03-23 14:42] toddm commented on #2337
Updated the XML doc.

[2016-03-23 14:42] #2337 closed, assigned to toddm

[2016-03-23 14:57] pranavkm opened #2383 "Packages added via nuget.exe add cannot be restored on Linux \ OSX"
Repro steps:
- Build a package and publish it using `nuget.exe add -source $TESTDIR`
- Attempt to restore the package using `dotnet restore` (version  1.0.0-beta-001718)

Package will fail to restore. Using `dnu restore` to publish the package works in this instance. The issue is likely the path normalization that is done during `add`. The v3 local package repo has to account for this (https://git

[2016-03-23 15:02] kberridge commented on #2372
Mainly because I want the automatic dependency inference nuget pack does when you run it against a project file by reading the packages.config file.  And the $var$ replacement is an added bonus.  I don't want to have to duplicate those values, especially not the dependencies, in the nuspec file.  I could manually read the packages.config file and generate the `<dependencies>` myself of course, but

[2016-03-23 15:50] natemcmaster commented on #2371
@piotrpMSFT https://github.com/dotnet/cli/issues/1905, but the fix supposedly went in last night. We'll try again today

[2016-03-23 16:31] yishaigalatzer commented on #2366
Fiddler trace. Install fiddler and show the network traffic from visual studio

Sent from Outlook Mobilehttps://aka.ms/xp9y6l

On Wed, Mar 23, 2016 at 5:26 AM -0700, "mathikp" <notifications@github.com<mailto:notifications@github.com>> wrote:
1.  I cant understand what you mean as fiddler feed.
2.  Log is here. NuGetLog.txthttps://github.com/NuGet/Home/files/185950/NuGetLog.txt
3.  All the package

[2016-03-23 16:32] yishaigalatzer commented on #2175
Thomas - what version of the nuget extension are you using?

[2016-03-23 16:35] yishaigalatzer commented on #1909
Please go to our blog and read about speeding up local file shares, you should get a nice boost.

[2016-03-23 16:35] yishaigalatzer commented on #2376
Yes! Totally agree

[2016-03-23 17:12] jascam opened #2384 "NuGet install installing delisted package if it is highest version"
## Problem:

If the highest version of a package is delisted NuGet will still install this package without having the -version flag used.
## Ex:

nuget list zarenner-test -source https://api.nuget.org/v3/index.json -allversions
Notice that only Version 1.0.0 is listed
nuget install zarenner-test -source https://api.nuget.org/v3/index.json
Notice that version 2.0.0 is installed

Note:
I have reproe

[2016-03-23 17:49] rrelyea opened #2385 "Consider shipping a new version of 3.3 vsix that only supports vs2015"
Currently, VS vNext users can choose to install 3.3 vsix, as it has a different identity than 3.4 vsix for vNext. VS isn't happy with 2 versions of NuGet installed.

We should consider updating 3.3 vsix to say it works on [14.0-15.0), like the 3.4 vsix for vNext now does.

[2016-03-23 18:33] simonejsing commented on #2354
We are a Microsoft team that runs the Engineering Systems for development of Microsoft Dynamics AX. The team is large, and we rely on Nuget to pull down packages for build dependencies in our internal Engineering Systems (based on CoreXt and VSTS if that is familiar to you). One of these packages happens to contain .nupkg files. When it is installed the content is incorrectly missing these .nupkg

[2016-03-23 18:39] yishaigalatzer commented on #2354
That sounds like a design gone wrong, packages should be packages and not shipped inside other packages. I would advise changing your design.

In the meantime we figure out how to prioritize he fix here, you can also contribute it if you'd like to unblock yourself quickly (though ID still recommend not relying on nupkg inside nupkg)

[2016-03-23 18:58] deepakaravindr opened #2386 "Update dev branch, build, and related to create 2 VSIXes for Dev14 and Dev15"
## Update dev branch, build, and related to create 2 VSIXes for Dev14 and Dev15

[2016-03-23 19:04] emgarten commented on #2191
These have been updated

NuGet/NuGet.Client@883764388f7e11f4ad4e4c87b3392d61ed141b9d
NuGet/NuGet.Client@6e99ad12d0bf14a9e52111c784c5718aedca497d

[2016-03-23 19:08] TimBarham commented on #2335
@hobelinm - I've not been able to repro this issue (I've verified on my machine it uses the correct class when FIPS compliance is turned on, and it is succeeding). I was wondering if you could provide me a stack trace? You should be able to get that using the `-verbosity detailed` switch when running `nuget.exe`. I'm interested to see specifically what class is throwing the exception you are seein

[2016-03-23 19:08] TimBarham commented on #2335
@blowdart - you mention that the `XxxCryptoServiceProvider` classes don't necessarily use a FIPS compliant algorithm. However, all the documentation I can find indicate that they do, and my own testing confirms this. The exception @hobelinm is seeing is actually thrown in the creator of any class that doesn't use a FIPS compliant algorithm (if FIPS compliance is turned on in Windows). The `SHAXxxM

[2016-03-23 19:13] blowdart commented on #2335
My comment came from an internal thread on the new core crypto pieces :)

Added bonus CryptoServiceProvider uses CAPI. Create uses CNG, which is, newer and obviously better, because it's newer :)

[2016-03-23 19:22] TimBarham commented on #2335
Yeah, I noticed `SHAXxx.Create()` was giving us CNG classes when FIPS compliance was turned on... And I agree it is the right thing to do to switch to using that... but even with our current implementation I'm confused as to why @hobelinm is hitting this issue, and I hate being confused :).

[2016-03-23 19:24] blowdart commented on #2335
I blame @yishaigalatzer. It's a good default.

[2016-03-23 19:46] emgarten commented on #2377
I've checked in a fixed for this issue. ContentModel was not falling back properly when the imported framework was a higher version than the project framework. The whole scenario of falling back to a higher version is somewhat strange, but NuGet should handle it it correctly now.

NuGet/NuGet.Client@642bf92b8547b7bd62ac78ef4e9a87c0f8f24a47

[2016-03-23 19:46] #2377 closed, assigned to emgarten

[2016-03-23 20:22] ericstj commented on #2377
I'm still seeing this issue with the following project.json

[code]

With the import I see the following in the lock file.

[code]

Without the import I see

[code]

[2016-03-23 21:08] #2189 closed, assigned to emgarten

[2016-03-23 21:30] deepakaravindr opened #2387 "PackageRestoreTest.ps1 E2E tests have disabled since Dev12. Re-enable or Delete them"
PackageRestoreTest.ps1 E2E tests have disabled since Dev12. Re-enable them or Delete them

Currently, they were disabled for Dev12 and Dev14. Will disable it for Dev15 as well.
Investigate and fix them all when this issue is fixed.

Code to remove is at https://github.com/NuGet/NuGet.Client/blob/dev/test/EndToEnd/NuGet.Tests.psm1#L108

[2016-03-23 22:02] joelverhagen commented on #2340
Closed with https://github.com/NuGet/NuGet.Client/pull/412.

[2016-03-23 22:02] #2340 closed, assigned to joelverhagen

[2016-03-23 23:01] simonejsing commented on #2354
Well I would tend to agree with you on a design gone wrong, but sometime you inherit something that you just have to live with.

That being said, I would strongly expect Nuget to treat the content of any package the same way, be it .nuspec, .nupkg, or any other file extension for that matter.

Btw. I also tested this with Nuget 3.4 and the bug still exists.

[2016-03-23 23:11] yishaigalatzer commented on #2354
Feel free to contact me offline.

[2016-03-24 00:27] TimBarham commented on #2335
Another data point: @vtbassmatt was able to provide me with a machine on which this repro's. The exception he is seeing is actually in `PackageExtractor`, [here](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/PackageExtractor.cs#L288):

[code]

It is `SHA512.Create()` that fails. On my machine, this call works as expected, returning an `SHA512Managed` instance when F

[2016-03-24 00:27] TimBarham commented on #2335
Sorry, accidentally hit the close button.

[2016-03-24 04:02] qiansen1386 commented on #1158
[code]

[2016-03-24 05:30] qiansen1386 opened #2388 "Fail to install Nuget package => 401 Error"
I am creating a new Nuget package project using VS2015, and it warp the project with DNX for me. Then when I  try to install some basic NuGet packages, I get this.
![image](https://cloud.githubusercontent.com/assets/1759658/14008173/dbeb35a8-f1b8-11e5-9998-ef57575de405.png)

[code]

May I know who is responsible for this? You guys? DNX? NuGet.org?
Why Microsoft always make things over complicated.

[2016-03-24 05:35] davidfowl commented on #2349
RTM, not important for RC

[2016-03-24 07:17] bjorn-ali-goransson commented on #1909
Because this in some cases relates to the issue; do you have a link?

2016-03-23 17:35 GMT+01:00 Yishai Galatzer notifications@github.com:

[2016-03-24 08:33] #2106 closed, assigned to emgarten

[2016-03-24 08:43] chrischu opened #2389 "File name with '@' is wrongly included in NuGet package when calling NuGet pack"
I ran into a problem when creating a NuGet package out of my project with `NuGet pack` and supplying it with my csproj file.

My package references the `bootstrap.chosen` package which contains (among other things) two images: `chosen-sprite.png` and `chosen-sprite@2x.png`. When calling `NuGet pack` with my project the `chosen-sprite.png` file is correctly detected as not having changed and is the

[2016-03-24 14:40] ericstj opened #2390 "NuGet doesn't honor MinClientVersion"
We've seen lots of cases where folks are trying to install NETStandard packages with old clients and get errors like the package isn't supported for the platform (rather than the package needs a new NuGet client version).  Seems to me NuGet isn't doing minClientVersion check in Package Manager nor in Restore.  I'd expect it to happen in both places.

[2016-03-24 14:48] #913 closed

[2016-03-24 15:34] toddm commented on #624
This seems to be fixed now in the latest builds now that the rewritten XPlat NuGet supports the pack command.  http://myget.org/gallery/nugetbuild

[2016-03-24 15:34] #624 closed

[2016-03-24 15:51] toddm commented on #1686
These were both fixed when I tested them.  They throw InvalidOperationExceptions with nice messages explaining that the copyToOutput attribute is invalid or that the required attribute include is missing, as appropriate.

[2016-03-24 15:51] #1686 closed, assigned to toddm

[2016-03-24 16:10] pspill commented on #2010
This issue no longer repros in Nuget 3.4.  The error message is now "Unable to load the service index for source https://somesource/DefaultCollection/_packaging/NoAccessForPeter/nuget/v3/index.json.  Response status code does not indicate success: 401 (Unauthorized).", which is an actionable message.

[2016-03-24 16:10] #2010 closed, assigned to pspill

[2016-03-24 16:19] toddm commented on #2281
The code was using the AssemblyVersion if the AssemblyInformationalVersion is not set or is set to an invalid version.  I'm changing it to fail and show a message if the AssemblyInformationalVersion is invalid.

[2016-03-24 16:41] #886 closed

[2016-03-24 16:49] toddm commented on #2281
I tried changing the code to fail if the Informational version is invalid, but it's not easy because the code is designed to swallow exceptions and continue on. Changing it would require a large change.
Are we ok with it using the AssemblyVersion if the AssemblyInformationVersion is not parsable?  If it can't find either, it defaults to 1.0.0. @yishaigalatzer

[2016-03-24 17:08] CobraCalle commented on #1164
This bug is still alive (version 3.3.0.167)... we have a solution with more that 170 projects... and updating nugets (own packages stored on a file share) is always a pain... cannot remember that it has rely worked in the past without hours of manually correcting the files package manager has destroyed... every time a bug / problem is fixed another opens... really frustrating... :-(

[2016-03-24 17:31] toddm commented on #2360
The internal exception is this:
System.TypeLoadException occurred
  HResult=-2146233054
  Message=Could not load type 'System.Object' from assembly 'Bridge, Version=1.11.0.0, Culture=neutral, PublicKeyToken=null' because the parent does not exist.
  Source=mscorlib
  TypeName=System.Object
  StackTrace:
       at System.ModuleHandle.ResolveMethod(RuntimeModule module, Int32 methodToken, IntPtr\* t

[2016-03-24 17:51] emgarten commented on #1909
@bjorn-ali-goransson http://blog.nuget.org/20150922/Accelerate-Package-Source.html

[2016-03-24 18:25] bricelam opened #2391 "Virtual Packages"
I want chocolatey/chocolatey#7 to be implemented in NuGet.
### Scenario 1

There are quite a few different versions of `sqlite3.dll`. For example, there is the official version shipped by the SQLite team. There is also SQL Cipher which adds encryption capabilities. The `Microsoft.Data.Sqlite` package could work with either of these packages.

It would be great if `Microsoft.Data.Sqlite` could depe

[2016-03-24 18:31] natemcmaster commented on #2391
+1

Debian has a similar concept and it's very useful: http://www.debian.org/doc/debian-policy/ch-relationships.html#s-virtual

[2016-03-24 18:33] davidfowl commented on #2391
Is it a dependency? How is it fulfilled if there are many of them? Which one wins?

[2016-03-24 18:43] bricelam commented on #2391
@davidfowl Yes, it would be a dependency. I like the idea of specifying a "default" implementation in the depending nuspec. A GUI could allow the user to select one.

Multiple implementations installed into the same project might need to be blocked, but it could also be left up to the contract to define. E.g. VS would error/warn if there are multiple files named `sqlite3.dll` going to the output d

[2016-03-24 19:00] zhili1208 opened #2392 "Can't load Microsoft.TeamFoundation.Client on dev15, need to update Microsoft.TeamFoundation.Client version to 15.0 for VS "15" Preview"
Repro step:
1.create console app, bind it to TFS.
2.install any package from nuget UI.

expect: install well
actual: got error could not load file or assembly "Microsoft.TeamFoundation.Client"

the issue here is in dev15, Microsoft.TeamFoundation.Client version is 15.0, nuget is referencing 14.0.
need to update it for dev15

[2016-03-24 19:35] emgarten opened #2393 "Add support for windows auth in xplat"
NuGet xplat does not support windows auth. In some scenarios a null reference exception is hit when restore tries to authenticate against a source with windows auth.

https://github.com/dotnet/cli/issues/1679

[2016-03-24 21:02] rrelyea commented on #2392
Dev 15 Preview build 25122 (one day before final)
Using NuGet 3.4.0.798 (hand installed on top of the one in 25122).

[2016-03-24 22:21] emgarten commented on #2349
frameworkAssemblies will show up for projects now in the lock file under the target entry

NuGet/NuGet.Client@a06a5906ab294fee6e442cbedfb39cdeaeafff6a

[2016-03-24 22:21] #2349 closed, assigned to emgarten

[2016-03-24 22:21] emgarten commented on #2104
Projects will now be checked as part of the TFM compatibility check.

NuGet/NuGet.Client@a06a5906ab294fee6e442cbedfb39cdeaeafff6a

[2016-03-24 22:21] #2104 closed, assigned to emgarten

[2016-03-24 23:15] toddm commented on #2284
Fixed in Dev.

[2016-03-24 23:15] #2284 closed, assigned to toddm

[2016-03-24 23:52] deepakaravindr commented on #1886
@yishaigalatzer @rrelyea

Change for this has been sent as a PR against dev branch: https://github.com/NuGet/NuGet.Client/pull/422

Upon confirmation, I will do a separate PR for the release-3.4.0.
I cannot cherry-pick this commit, since, versions on project.json file on dev branch is 3.5.0-*

Note that this change, if made to release-3.4.0 branch, need not make it to VS.
This is only for the NuGe

[2016-03-25 00:02] spadapet commented on #1501
Just a note: https://blogs.msdn.microsoft.com/fiddler/2011/11/05/net-httpwebrequests-and-expect-100-continue/

[2016-03-25 02:25] kingerja commented on #2324
Sorry for delay I couldn't get network access.
Here is a contained repro.
\joshking-main\dump\nugetissue\2324\repro

run 'msbuild /m dirs.proj'

If that doesn't repro it for you let me know and I can give you a build agent you can run the contained repro on.
If you don't already have access to our vso projects then you simply need request access to the ramweb project 13460.
Feel free to IM me at j

[2016-03-25 03:23] melcloud opened #2394 "Incorrect nuget update behaviour for nuget CLI 3.3"
When updating a single nuget package by id in 2.8.6 with command `nuget update -id myPackage MySolution.sln`, nuget will escape projects which **myPackage** is not installed:

[code]

However, in the latest version of nuget (3.3.0.212), the same command will **install** the nuget package!!!

[code]

Is there anyway to not do this by default?

[2016-03-25 06:20] davidfowl opened #2395 "Add ability to mark nuget warnings as errors"
Today we warn for a couple of things:
- Minimum version getting bumped because it can't be found on a feed
- Downgrades
- Other stuff

It would be great if we could force a restore errors instead of a warnings for these things.

/cc @yishaigalatzer @emgarten

[2016-03-25 06:20] davidfowl opened #2396 "Fix NuGet downgrade warnings in the build"
They are several of them

/cc @emgarten

[2016-03-25 06:37] davidfowl opened #2397 "Skip MSBuild tests on machines where older MSBuild versions are not installed"
Today when I run tests on a machine that only has MSBuild 14, some tests fail making it hard to know if I broke something with my changes or if there's a real problem.

[code]

[2016-03-25 09:03] damnlogin opened #2398 ".targets files installed are imported using relative path"
Hello

If NuGet package contains **build** directory inside - the .targets files present there are referenced in project using relative path when package gets installed. The issue is when we build that project on a build agent that has NuGet.config in the root of drive containing sources to redirect package location to some fixed place to avoid multiple copies of the package all over the drive.
If

[2016-03-25 09:28] davidfowl commented on #2398
A bunch of these problems are solved with `project.json` + csproj. Hopefully we'll move more projects over to this new model soon.

[2016-03-25 09:53] damnlogin commented on #2398
Thanks - but as far as I got from documentation - I can switch already referenced projects to json format right now - correct? Will the VS2015 package manager respect new settings when upgrading packages?

[2016-03-25 10:48] davidfowl opened #2399 "Warnings should be summarized at the end of restore like errors are"
Right now they are interspersed with the restore output. When restore runs in parallel it makes it really hard to read.

[2016-03-25 14:01] #2398 closed, assigned to nobody

[2016-03-25 14:53] damnlogin opened #2400 "Simple project not compiling when using project.json"
Hello

I know this is not yet supported, but I will really appreciate if someone can check why the attached very simple project doesn't compile when using project.json. It does work fine though when using packages.config.

Looks like Fluent.Assertions package conflicts with System.dll although I do not see anything strange about the package.

**_Unfortunately I was not able to upload a zip - so I

[2016-03-25 16:54] joelverhagen commented on #2096
Closed with https://github.com/NuGet/NuGet.Client/pull/411.

[2016-03-25 16:54] #2096 closed, assigned to joelverhagen

[2016-03-25 19:03] deepakaravindr opened #2401 "VSIX built locally should have the same dlls and files as the CI build."
VSIX built locally should have the same dlls and files as the CI build.
Today, VSIX built locally has all the dlls from the output path.
However, the CI build has a whitelist of dlls to be included in the VSIX. This elimination is the last step before sending the VSIX for signing.

Locally built VSIX should have the same reduced number of dlls and files too

[2016-03-25 19:05] pspill commented on #2392
Attempting to gather dependency information for package 'bootstrap.3.3.6' with respect to project 'ConsoleApplication5', targeting '.NETFramework,Version=v4.6.1'
Attempting to resolve dependencies for package 'bootstrap.3.3.6' with DependencyBehavior 'Lowest'
Resolving actions to install package 'bootstrap.3.3.6'
Resolved actions to install package 'bootstrap.3.3.6'
Adding package 'jQuery.1.9.1' t

[2016-03-25 19:29] joelverhagen opened #2402 "Installing with package save mode "nuspec" always reinstalls"
## Steps

[code]

**-or-**

[code]
## Expected

The package should only be installed once.

The following steps act as expected:

[code]

[code]
## Actual

The package is installed twice. The second install overwrite all of the files on disk, but is effectively a no-op.

[code]

[2016-03-25 19:33] joelverhagen commented on #2324
I see, I was able to reproduce the problem. There seems to be a bug in how we detect if a package is already installed.

I noticed that in your `NuGet.config` file you have the following entry:

[code]

To work-around the problem, change the mode to `nupkg`:

[code]

Here is a bug tracking this problem: https://github.com/NuGet/Home/issues/2402

[2016-03-25 19:54] joelverhagen opened #2403 "Add an API to get the path to the global packages folder"
This is an ask by the dotnet CLI team so that they can depend on our code to find the global packages folder (rather that duplicating our logic which is prone to break in the future). This should be exposed in one of our existing `NuGet.*` packages.

Considerations:
1. The global packages folder can be relative. If it is, it is relative to the solution directory (not the location of the NuGet.conf

[2016-03-25 20:37] emgarten opened #2404 "Missing assembly metadata in 3.4.0"
NuGet.Common.dll and NuGet.Indexing.dll are missing copyright info in 3.4.0

![image](https://cloud.githubusercontent.com/assets/6381138/14053468/b38a2bec-f28e-11e5-92c1-819577f96299.png)

[2016-03-25 20:40] #2404 closed, assigned to nobody

[2016-03-25 20:40] emgarten commented on #2404
This appears to be fixed in the latest

[2016-03-25 20:43] lynntian opened #2405 "Nuget.exe (3.+) install package with Version number and ExcludeVersion flag doesn't update package to newer version"
Stumble upon this issue trying to upgrade a package from version 1.0.0 to 1.0.1
Example:
`nuget install <myPackage> -Version 1.0.0 -ExcludeVersion`
Install success
Then bump up version number:
`nuget install <myPackage> -Version 1.0.1 -ExcludeVersion`
Package "xxx" is already installed

This works with nuget 2.8

nuget 2.8 I see output:
`Uninstalling package.old.version.number`
`Installing package

[2016-03-25 21:13] emgarten commented on #2063
I'm not able to repro this with nuget. This looks like it was a dnu only issue.

[2016-03-25 21:13] #2063 closed, assigned to emgarten

[2016-03-25 21:14] emgarten commented on #1971
NuGet packages now target netstandard.library 1.5.0 in nuget 3.5.0.

[2016-03-25 21:14] #1971 closed, assigned to emgarten

[2016-03-25 21:21] rrelyea commented on #2370
I think PackageManagerControl.xaml.cs line 494 should change from PackageSources.FirstOrDefault();
to:
                // use the first enabled source as the active source by default, but do not choose "All sources"!
                SelectedSource = PackageSources.Where<PackageSourceMoniker>(psm => psm.SourceName != UI.Resources.AggregateSourceName).FirstOrDefault();

[2016-03-25 21:25] emgarten commented on #1860
These warnings are shown when the `Reference3.Resolved` property is false. NuGet is unable to walk these references which could be a project that is missing from disk, and potentially the project could contain packages which will not flow up to the parent projects.

@AArnott I am going to close this bug, but please let me know if you have any suggestions on how NuGet could improve finding project

[2016-03-25 21:38] #1858 closed, assigned to alpaix

[2016-03-25 21:46] emgarten commented on #1749
I see the supports section as specifying a list of TxMs that the project is guaranteed to work with after being packed into a nupkg.

Allowing imports for guardrails means that you are verifying that a nupkg can be built that will work the TxM + imports, which is fine, but users have no way of knowing what imports they should have when they install the package. They will get a restore failure at f

[2016-03-25 21:49] emgarten commented on #989
Error messages have been improved around TFM checks. The error here is from the RID check which is going away.

[2016-03-25 21:58] emgarten commented on #348
@toddm would you check if this repros in 3.5.0?

[2016-03-25 22:04] toddm commented on #348
I cloned the repo, added 10 more css files, and did a pack with 3.5.0 and it worked without any problem.

[2016-03-25 22:08] #348 closed

[2016-03-25 23:38] ericstj commented on #1749
That's true in general for imports.  If I create a NETStandard library and import portable-net45+win8 and use some package that relies on that import (eg: xunit) then folks using my package will need the import as well.

[2016-03-25 23:41] emgarten commented on #1749
@ericstj doesn't that defeat the point of guard rails, which is to help create a package for a specific TxM?

[2016-03-25 23:51] yishaigalatzer commented on #1749
We are not going to float imports through packages, the idea is  to force downstream packages to enable netstandard and not carry legacy forward

[2016-03-26 03:57] cbp123 commented on #543
I install the 3.4 RC but it still wasn't available... looks like the performance issues are finally being resolved, but the missing "All" option is keeping the whole team off VS 2015.

[2016-03-26 04:05] yishaigalatzer commented on #543
It will show up in rtm

[2016-03-26 04:37] AArnott commented on #1860
@emgarten Thanks for investigating.
There are no projects missing from disk, as you should be able to verify if you'd like.
I do see warning indicators in Solution Explorer on some references which might coincide with your `Reference3.Resolved` issue, so I suspect a project system bug is causing this to report a problem where none exists. @jasonmalinowski might have an idea.

What if you ignored t

[2016-03-26 04:40] yishaigalatzer commented on #1860
Now we are diverging from using dte to figure out references and starting to mix in msbuild direct calls. I'm not sure what other side effects that might bring, I would investigate the project system issue first and only then look for further steps down this path

[2016-03-26 17:53] jasonmalinowski commented on #1860
@AArnott Do you have any of the design time build logs handy? If you delete your .vs folder, set TRACEDESIGNTIME=true as an environment variable, and then open your solution it'll dump all the design time build logs under %TEMP% with "designtime" in the name.  I'm happy to take a look at those.

[2016-03-27 00:22] angularsen opened #2406 "Must manually set SpecificVersion to False for UWP JavaScript apps"
1. Create blank Universal Windows JavaScript app (UWP)
2. Use Visual Studio nuget manager (3.3.0.167) to install `UnitsNet.WindowsRuntimeComponent` or any other nuget targeting `uap10`
3. Build and run

Build warning:

Runtime exception trying to access the a type in the assembly:

Workaround:
1. Manually edit the `.jsproj` file and change `<SpecificVersion>` from `True` to `False`

Is this a know

[2016-03-27 00:44] agocke commented on #2163
I just hit this with `1.0.0.002060`

[2016-03-27 03:00] zhili1208 commented on #2163
@agocke we just found one issue related to this, will fix it soon, Can you provide repro solution? then we can verify it with the fix.

[2016-03-27 05:30] tom-englert opened #2407 "nuget pack -symbols: Missing source files"
"nuget pack -symbols" only includes source files that are part of the project. However a .pdb file might contain extra files that are generated, (e.g. XAML, VB projects) or cross-linked from other projects.

If these files are missing, the debugging experience is impaired since the debugger can't locate the source files.

There are ready made solutions available (e.g. https://github.com/NuGet/NuGe

[2016-03-27 13:29] jamsoft commented on #2347
OK, That all sounds promising.  Have you reported this scenario to JetBrains?  I've not looked for an issue on their bug tracker yet.

If you haven't reported this, I can.

[2016-03-27 15:19] yishaigalatzer commented on #2347
We have reported the 204, and their answer was that they plan to deprecate the nuget server support in teamcity. Tbh it is probably not a server you want to use for anything with more than a few packages as it only supports the v1 protocol.

I would urge you to look into alternative and more modern servers like nuget.server or other free 3rd party servers

[2016-03-27 16:07] borgdylan opened #2408 "Incorrect resolution for System.AppContext"
When compiling something that depends on System.AppContext against net461, I am getting errors due to the fact NuGet prefers the reference assembly for netstandard1.3 rather than the net46 PCL facade. These facades are shipped by the framework itself as well as the corefx nuget packages. There I recomedn to prefer all net4*\* TFMs before trying teh netstandard1.\* TFMs. Failing to do so there woul

[2016-03-27 17:17] davidfowl commented on #2408
Can you provide a repro project?

[2016-03-27 17:55] borgdylan commented on #2408
This was happening with NuGet 3.40. I have since then managed to build my mono variant of the .NET CLI successfully which self-hosts OK with NuGet 3.5

[2016-03-27 17:55] #2408 closed, assigned to nobody

[2016-03-27 19:08] kingerja commented on #2324
we need the nuspec for lca validation.  what about if i set it to nupkg;nuspec.  will that work.  I would rather waste disk space instead of exposing my code base to consuming packages they are not licensed for.   Otherwise i will pull all my packages up front and no-op the nuget restore process using custom logic until there is a fix.

anyway glad you got a repro.

[2016-03-28 15:22] joelverhagen commented on #2324
Yes, as long as the nupkg is dropped in the packages folder, the restore command will properly identify that the package already exists. To be clear, set this in your `NuGet.config`:

[code]

Let me know if this solves your build issue and we can close this particular bug. Keep an eye on https://github.com/NuGet/Home/issues/2402 for progress on the root cause.

[2016-03-28 16:04] forderud commented on #1671
As of today, NuGet 3.x only has partial support for `no_proxy`, since V2 sources are not fully supported. Full V2 support was merged in https://github.com/NuGet/NuGet2/pull/41, but the current 2.11.0 version version of `NuGet.Core` used by NuGet 3.x predates this fix.

Someone therefore need to pull in a newer version of `NuGet.Core` before resolving this issue.

[2016-03-28 16:23] agocke commented on #2163
@zhili1208 It's the Roslyn solution -- I'm in the process of making a PR for this. If you get a build, lemme know and I can try it. Otherwise I'll set up a repro for you.

[2016-03-28 16:31] Tasteful commented on #2376
Another side with the minimal package dependency optimization is that if you example referencing `Microsoft.AspNet.SignalR.Core` and `Microsoft.AspNet.SignalR.Owin` that will create a nupkg that only `Microsoft.AspNet.SignalR.Owin` is as dependency. If the owner of `Microsoft.AspNet.SignalR.Owin` package decide to remove the dependency to `Microsoft.AspNet.SignalR.Core` and publish a new version a

[2016-03-28 17:07] yishaigalatzer commented on #2376
That is definitely the right approach rather than added core explicitly. For example if the signalr team decided to replat owin on something different you should pick that and not have stale dependencies flow through.

For sure there is no 100% right answer, but in general flattening dependencies is the less favorite pattern to go with for any package author.

[2016-03-28 17:29] Tasteful commented on #2376
If we look at the new xproj/project.json dependencies is both direct referenced in project.json and indirect referenced from another package. I haven't check the nupkg created with direct references if they are included/excluded if the same package is indirect referenced, maybe something similar in the old packages.config. Example adding all the indirected references as development-dependency and

[2016-03-28 17:46] natemcmaster opened #2409 "Combine duplicate package downgrade warnings into actionable output"
Restoring on Entity Framework with verbosity minimal still produced  4,722 lines of warnings resulting from "Detected package downgrade." This includes hundreds of duplicate warnings, such as this line that is logged _108 times_ when restoring the EF:

Full log:
[restorelog.txt](https://github.com/NuGet/Home/files/192200/restorelog.txt)

It is nearly impossible for a human to digest thousands of l

[2016-03-28 18:11] yishaigalatzer commented on #2376
@Tasteful let me expand a bit on what you wrote

The main difference between packages.config and project.json scenarios is where the package graph resolution happens. In packages.config it all happens at install time and the packages.config contains the flattened out list. The user is not expected to hand edit the package list or versions inside the file. In project.json the user can and in many c

[2016-03-28 18:37] rrelyea commented on #2370
Fixed in dev. (will likely ship in 3.4.1)

[2016-03-28 18:37] #2370 closed, assigned to rrelyea

[2016-03-28 18:39] emgarten commented on #2409
This shouldn't be an issue once the netstandard packages stabilize. Until then these are valid warnings  and they should be shown for each project.

[2016-03-28 18:42] emgarten commented on #2406
This issue has not come up before. Are you able to tell why MSBuild is unable to find the reference when specific version is false? Is the path or version information in the .jsproj incorrect?

[2016-03-28 18:43] emgarten commented on #2405
What steps are you trying with packages.config?

[2016-03-28 18:47] emgarten commented on #2403
Related to: https://github.com/NuGet/Home/issues/2296

[2016-03-28 18:50] emgarten commented on #2400
@damnlogin please paste your output log.

[2016-03-28 18:54] emgarten commented on #2397
These tests should be moved to run as optional functional tests.

[2016-03-28 18:59] emgarten commented on #2394
Update installs the package into all projects?

Would you try the latest nightly build of nuget.exe from: https://dist.nuget.org/index.html and see if this still repros for you?

[2016-03-28 19:03] emgarten commented on #2389
@toddm does this repro with the latest bits?

[2016-03-28 19:07] emgarten commented on #2388
This error is coming from DNX/DNU which does not appear to support authentication for your feed. Try using a source that does not require a password.

DNU will be going away and NuGet will be used instead as part of the dotnet CLI. Once you move to the CLI this should be fixed since NuGet supports auth.

[2016-03-28 19:07] #2388 closed, assigned to nobody

[2016-03-28 19:07] emgarten commented on #2387
@deepakaravindr is this fixed?

[2016-03-28 19:08] emgarten commented on #2386
@deepakaravindr is this complete?

[2016-03-28 20:04] emgarten opened #2410 "Re-enable NuGet.Synchronization.Test tests"
Tests from NuGet.Synchronization.Test have been disabled due to their dependency on running an external process.

These should be turned back on once a way to run these consistently across both desktop and dotnet CLI frameworks has been found

[2016-03-28 20:27] lynntian commented on #2405
Example:
`nuget install packages.config -ExcludeVersion -Source xx`
It won't know that I changed the version in packages.config and always return "All packages are installed"

[2016-03-28 20:38] kingerja commented on #2324
Thanks for the work around I will apply it and let you know how it goes.  Initial testing points to the work around being effective but I won't know if it is complete until it rolls out to my different codebases.  You are free to close this issue though and will follow up if I run into any future issues.

[2016-03-28 21:03] angularsen commented on #2406
- [UWP .jsproj](https://github.com/anjdreas/UnitsNet/blob/uwp/UnitsNet.TestApps.Uwp.JavaScript/UnitsNet.TestApps.Uwp.JavaScript.jsproj#L85)
- Example [UnitsNet.WindowsRuntimeComponent.3.30.0-alpha7.nupkg.zip](https://github.com/NuGet/Home/files/192473/UnitsNet.WindowsRuntimeComponent.3.30.0-alpha7.nupkg.zip).
- Diagnostic msbuild output [unitsnet-build.txt](https://github.com/NuGet/Home/files/1924

[2016-03-28 21:04] #2324 closed, assigned to joelverhagen

[2016-03-28 21:49] emgarten commented on #2406
@anjdreas would you try removing the reference from your .jsproj and then adding a reference to UnitsNet.winmd using the Solution Explorer add references dialog in Visual Studio and share the result that Visual Studio puts in your .jsproj?

[2016-03-28 22:03] angularsen commented on #2406
Here is the diff of referencing the exact same binary in the packages folder:

[code]

Meaning SpecificVersion and CopyLocal is removed, presumably defaults to SpecificVersion false?

[2016-03-28 22:44] alpaix opened #2411 "Provide better informational message for the search notification bar"
**Problem**
In NuGet Package Manager v3.4 when searching on slow networks informational messages appear on top. When search is done the control notifies a user with almost meaningless message: "Packages found".

![image](https://cloud.githubusercontent.com/assets/8239356/14092345/0d4304e2-f4fb-11e5-9a50-389ee6124cfa.png)

**Solution**
Consider adding more bits of information to the message. For in

[2016-03-28 23:30] melcloud commented on #2394
Hi emgarten,

Yes. that is correct. I tried the v3.4.0-rc which fixed this problem. However, when it updates package contains build target in build folder, it doesn't remove the old error condition. You can see from the below example, I updated package inin from _15.2.0.361_ to _15.2.0.362_. Nuget 3.4 and 3.5 nightly build correctly change the `Import Project` but didn't delete the old `<Error Con

[2016-03-28 23:43] makhdumi opened #2412 "NuGet CLI Update only updates projects with every package Id specified"
If I run
`nuget.exe update <MySolution.sln> -Source <MyCustomSource> -Id <Package1> -Id <Package2> -Id <Package3> -Id <Package4> -Verbosity detailed`

Then nuget will only update projects that have all Package1, Package2, Package3, and Package4 installed,  instead of updating the packages wherever it finds them.

e.g. if ProjectA has Package1 and Package2 installed, it will be skipped
only Project

[2016-03-29 00:03] emgarten commented on #2394
@melcloud thanks for verifying it is fixed in the latest build. The left behind errors is a known issue, you'll have to remove those manually until that is fixed.

[2016-03-29 00:26] emgarten commented on #2412
What version of nuget.exe are you using?

You can get the latest nightly build here: https://dist.nuget.org/index.html

[2016-03-29 00:33] livarcocc opened #2413 "[dotnet restore] xplat restore to change format for tools to be able to track progress"
Bringing this bug over from the CLI repo. I believe it was being tracked in the wrong place. Original bug: https://github.com/dotnet/cli/issues/1818.

abpiskunov commented 17 days ago
Steps to reproduce

This is a feature request, not really a bug..

dnu restore used to output projects in order of their restore completion:
project1 restore started...
...
project1.lock.json generated

project2 rest

[2016-03-29 00:35] joelverhagen commented on #2413
Closed with https://github.com/NuGet/NuGet.Client/pull/394. Sorry about missing the CLI issue.

[2016-03-29 00:35] #2413 closed, assigned to joelverhagen

[2016-03-29 00:42] alpaix commented on #2022
@zzbomb I couldn't repro the scenario. Based on log messages it looks like a configuration issue when NuGet does not "see" the credentials or cannot associate them with a feed. Also APIKey is not relevant in restore command.

Could you please try [3.4.0](https://dist.nuget.org/win-x86-commandline/latest-prerelease/nuget.exe)? If it still happens run it with `-Verbosity detailed` to troubleshoot th

[2016-03-29 02:10] qiansen1386 commented on #2388
Em, How?

[2016-03-29 04:05] #2407 closed, assigned to nobody

[2016-03-29 04:09] yishaigalatzer commented on #2407
@tom-englert no need to re-open copies of closed bugs. Feel free to comment on close bugs, we see the comments and discuss. In this case I reopened #304.

As a reminder your contribution was not meeting the requirements so it could to go into the product, and we spent weeks on it to bring it up to snuff. We did build most a solution, it was way too complex for what it does, and it was my judgement

[2016-03-29 04:12] yishaigalatzer commented on #1541
We can add a tooltip or have a smarter ellipsis (with ... in the middle)

[2016-03-29 04:14] yishaigalatzer commented on #2409
This looks like a duplicate of https://github.com/NuGet/Home/issues/910.

We could combine all downgrade errors into some packages have forced a downgrade, and create one of these per project.

[2016-03-29 04:14] yishaigalatzer commented on #910
See also scenario from #2409

@natemcmaster

Restoring on Entity Framework with verbosity minimal still produced 4,722 lines of warnings resulting from "Detected package downgrade." This includes hundreds of duplicate warnings, such as this line that is logged 108 times when restoring the EF:

warn : Detected package downgrade: System.Resources.ResourceManager from 4.0.1-rc2-23923 to 4.0.1-rc2-239

[2016-03-29 04:14] #2409 closed, assigned to nobody

[2016-03-29 04:17] yishaigalatzer commented on #2406
Looping in some javascript guys offline

[2016-03-29 06:18] renagade1 commented on #2175
We are using 3.3.0.167

[2016-03-29 06:42] yishaigalatzer commented on #2175
Can you identify the package and what is the init.ps1 doing?/

[2016-03-29 07:24] tom-englert commented on #304
So what exactly is the problem with integrating this? It was not really much code, and I could build it and it worked exactly as expected.

[2016-03-29 07:25] renagade1 commented on #2175
Last time I checked. It was trying to run NServiceBus init.ps1. The script only checks the registry to see if the package has been installed before and if not it displays the welcome to nservicebus in visual studio.

[2016-03-29 07:49] renagade1 commented on #2175
I think I have a dumpfile if your interested

[2016-03-29 08:29] maxcelcat commented on #2175
I can confirm that deleting the init.ps1 files from all the packages directories fixes the problem. We're using the latest NuGet with a fully patched version of VS2015.

[2016-03-29 09:37] damnlogin commented on #2400
Hello, I figured out the reason: Microsoft.NuGet.targets ResolveNuGetPackageAssets target was removing duplicate references and that code contained an error - the reference was removed by its filename and System.Xml being a dependency in package caused System assembly to be removed from project dependencies instead as MSBuild treated .Xml as an extension. I fixed that replacing

`<Reference Remove

[2016-03-29 13:40] yishaigalatzer commented on #2175
We would appreciate both the dump file and the specific version of nservicebus you are using.

We need to investigate and see if it is a nuget fault (in how we set up the powershell console) or a change between the 2013 object model to 2015, that causes the hangs.

Thinking out loud, perhaps it is time for adding hang detection for init.ps1 and a feature to turn it off from running (or choosing ex

[2016-03-29 13:45] yishaigalatzer commented on #304
The main issues where
1. It wasn't from an official release - we cannot release a product from some unnoficial hack
2. It had no tests (as far as I recall)
3. It would break on none Windows machines.
4. It will not il merge into nuget.exe - That was where everything got a lot more complex.

[2016-03-29 13:48] renagade1 commented on #2175
Imo: Hang detection wouldn't be a bad thing regardless if its nuget fault or not.
Do you have any contact information where I can send the dump file?

[2016-03-29 16:06] dazinator commented on #2243
This will be a massive help, thank you.

[2016-03-29 17:27] D3-LucaPiombino commented on #2400
I know this is closed,
but i wanted to share this, since i finally solved this (today) after wrestling with it for some time.
This is related to #1880.

If you add the `IncludeFrameworkReferencesFromNuGet` element and set the value to `false` into the csproj, the problem goes away:

[code]

[2016-03-29 18:21] joshfree opened #2414 "Visual Studio occasionally disregards disabled NuGet restore"
Moving https://github.com/dotnet/corefx/issues/7130 here on behalf of @clockwork-muse

[2016-03-29 18:54] melcloud commented on #2394
Great! I am going to use 2.xx for now as it works.

[2016-03-29 18:54] #2394 closed, assigned to nobody

[2016-03-29 21:35] damnlogin commented on #2400
Thanks, I agree - both solutions are about fixing system references coming from package.

[2016-03-29 22:04] emgarten opened #2415 "Restore displays errors when the global package folder does not exist"
Restore displays errors when the global package folder does not exist. For new restores this is expected and should not be treated as an error.

[code]

[2016-03-29 22:57] #2202 closed, assigned to nobody

[2016-03-29 23:19] rrelyea commented on #2356
Do we understand the fix?

[2016-03-29 23:23] rrelyea commented on #2335
please check into Dev. Then port to 3.4.1\* branches. (sync with Deepak on timing for 3.4.1 branch...as he is driving a build from there now)

[2016-03-29 23:28] rrelyea commented on #780
Please verify that this is already fixed in 3.4.0 vsix

[2016-03-29 23:29] rrelyea commented on #1886
Per Deepak, closable.

[2016-03-29 23:29] #1886 closed, assigned to deepakaravindr

[2016-03-29 23:38] rrelyea commented on #703
@emgarten says this is fixed for project.json restore. Likely still an issue with packages.config.

[2016-03-29 23:40] rrelyea commented on #683
confirm this is gone.

[2016-03-30 00:21] mellinoe opened #2416 "NuGet restore is hanging in various CI runs (through dotnet restore)"
We've seen this on and off in our CI runs, and have managed to at least get a callstack for one instance of it:

[code]

I also have a dump of the process where this occurred, which I can share offline if needed. It looks like the hang occurs after we call into `NuGet.CommandLine.XPlat.dll`

@joshfree, @joelverhagen , @mmitche

[2016-03-30 00:21] jbienzms commented on #2406
Just wanted to chime in here. I'm having a similar problem with several Windows Runtime Components I manage. One of them is [AppPromo](https://www.nuget.org/packages/AppPromo).

Like anjdreas, I too am having to set **SpecificVersion** to **False** for WinJS projects. However, when I do set **SpecificVersion** to **False**, my project still doesn't compile as expected. Even though the reference sh

[2016-03-30 00:23] mellinoe commented on #2416
@ericeil helped debug this as well.

[2016-03-30 03:21] emgarten commented on #2416
This looks like a dupe of: https://github.com/NuGet/Home/issues/2371

A fix went into nuget last week for this, try the latest version of the CLI to get it.

[2016-03-30 14:29] toddm commented on #2356
Not really, no.  I do know that using MSBuild 14 instead of 15 is a reasonable workaround.
We might need to build NuGet.exe referencing/using MSBuild 15 but that's not a simple thing to do and it might not be backward compatible with 14 if we do.

[2016-03-30 16:21] dgioulakis commented on #1909
Is there any workaround for this? This is a showstopper. Using v3.3.0.167 and I can't update packages.  How was this possibly released and not found in testing?  I've removed my company's nuget source reference and still have this issue using only nuget.org.  It's incredibly frustrating.

[2016-03-30 16:26] remids commented on #1312
Fell across this bug March 30th 2016, while researching an issue with my new, patched just-updated VS 2015 install. I'm still seeing this behavior with Install-Package.

[2016-03-30 16:29] abatishchev commented on #1312
Can we have the issue reopened?

[2016-03-30 16:29] taschmidt opened #2417 "Nuget fails when connecting to SSL private repo with a lot of packages"
We have a private repo that's locked down to HTTPS only.  When clicking on a specific package inside VS 2015 and monitoring requests in Fiddler, the first request appears to be successful and it gets back ~80 package versions (there are 146 total).  The request to fetch more then switches to HTTP for some reason and fails causing weird results in VS.  See the attached screenshot.

![image](https:/

[2016-03-30 16:59] spadapet commented on #1501
After much investigation, I think I fully see what is going on.
Comments for the two suggestions:
1. The client already sends Expect: 100-continue by default. It waits 350ms for the 100-continue before sending the whole body. So the server just needs to respond with failure or 100 before 350ms passes. No change is needed here. Some servers don't respond with 100 (like the one I tried, visualstudio

[2016-03-30 17:44] #2335 closed, assigned to TimBarham

[2016-03-30 18:12] yishaigalatzer commented on #1909
@Cephei are you able to share a repro, or perhaps just your packages.config (if it is nuget.org only, there should be nothing secret about it)? Also can you run nuget.exe sources or share the screen shot of the feeds that are enabled?

[2016-03-30 18:56] #2416 closed, assigned to nobody

[2016-03-30 18:56] yishaigalatzer commented on #2416
Closing because the CLI was using old bits

[2016-03-30 18:59] yishaigalatzer commented on #2417
@taschmidt - Looks like Artifactory itself is redirecting you to an http feed in the link it sends back, but there is no redirection on the server to accommodate for that

[2016-03-30 19:09] taschmidt commented on #2417
Holy crap, you're right... I totally missed that!

[2016-03-30 19:21] taschmidt commented on #2417
Oddly enough, doing a `nuget list` from the CLI seems to work since it doesn't appear to rely on a "next" link from the server!

[2016-03-30 19:26] yishaigalatzer commented on #2417
Yeah, list is a completely different implementation from nuget2, we have yet to consolidate it.

[2016-03-30 19:39] Piet-van-Bruggen opened #2418 "Update command might be a bit more verbose if i ask it to be so..."
A simple problem has cost me quite some headaches.. I used the NuGet commandline update command and supplied a solution to it... for some reason it seemed to work, but it didn't.

If found out that there was a message like:

Scanning for projects...
Found N projects with a packages.config file.

And I found out that my solution had N+1 projects so that was my starting point... But what I tried to

[2016-03-30 19:58] yishaigalatzer commented on #2418
Yes, we completely agree with you.

[2016-03-30 20:01] #2417 closed, assigned to nobody

[2016-03-30 21:02] yishaigalatzer commented on #2414
@clockwork-muse can you point me to what projects you are restoring? Do they have nuget.exe in the build script?

[2016-03-30 21:04] jspaetzel commented on #2022
@alpaix @yishaigalatzer This appears to be resolved in the 3.5.0.1053 build. Thanks!

[2016-03-30 21:04] #2022 closed, assigned to alpaix

[2016-03-30 21:38] makhdumi commented on #2412
I'm using version 2.8 of nuget.exe.

I can't upgrade because of https://github.com/NuGet/Home/issues/2225

[2016-03-30 22:27] Clockwork-Muse commented on #2414
@yishaigalatzer - I've been working on the System.Linq.Parallel and System.Threading.Tasks subprojects for [dotnet-corefx](https://github.com/dotnet/corefx).  NuGet.exe is in the build script(s), although it may be imported by [dotnet-buildtools](https://github.com/dotnet/buildtools).

[2016-03-30 22:30] yishaigalatzer commented on #2414
I'm guessing that's because the build process might be calling nuget.exe. The values are for blocking visual studio UI from downloading packages directly.

When you get it again can you capture a fiddler trace, and look at the user-agent header for the request? It will indicate if it comes from nuget.exe (expected) or visual studio (not expected)

[2016-03-30 22:30] forderud opened #2419 "VS2015 crash at startup with self-built NuGet 3.4.1"
VS2015 Update 2 consistently crashes during startup after installing NuGet plugin 3.4.1 built from the `release-3.4.1` Git branch in either debug or release. Opening a project or solution is not necessary. Error information:

[code]

I'm unfortunately not able to extract any call-stack from the crash, despite building NuGet in debug and adding NuGet PDB-files to the symbol search path. The reason

[2016-03-30 22:32] chrisdrobison opened #2420 "VS 2015 Update 2 package update hangs while resolving dependencies"
I just updated to VS 2015 Update 2 and the latest Nuget 3.4.1. I am trying to upgrade a package for just one project and it hangs after the following message:

[code]

The following is our package.json

[code]

Most of those packages are from an internal Nuget repo. Not sure what to do. It works for some projects, but not others.

[2016-03-30 22:34] Clockwork-Muse commented on #2414
...I'll see what I can do to get set up for that, but it might be a while.

[2016-03-30 22:54] rrelyea commented on #2420
Resolving shouldn't have changed from 3.3
How long did you wait before you gave up on the "hang"?
What happens if you wait longer?

[2016-03-30 23:19] yishaigalatzer commented on #2420
Can you tell us a bit more about your project?
What kind of internal nuget server are you running?
How many versions are available for each of these packages on the server?
Are all these packages depending on common.logging?

Did this behave differently on nuget 3.3? Can you rollback and compare?

[2016-03-30 23:37] chrisdrobison commented on #2420
What is the best way to rollback on update 2?
On Wed, Mar 30, 2016 at 5:19 PM Yishai Galatzer notifications@github.com
wrote:

[2016-03-30 23:40] rrelyea commented on #2420
try this:
Tools/Extensions and Updates>Installed>All>Nuget Package Manager for Visual Studio 2015>Uninstall
Then install 3.3 for vs2015 from: http://dist.nuget.org/index.html

[2016-03-30 23:51] rrelyea opened #2421 "NuGet xplat should pick up build 23930.0 of net core as new baseline"

[2016-03-31 00:39] joelverhagen opened #2422 "When a credential provider fails to load in VS, don't break NuGet"
Instead have a good error message. We should also write to the event log

[2016-03-31 00:44] yishaigalatzer commented on #2419
@forderud can you tell us about the first issue? Seems a bit more critical :)

I assume you crash happens around this line - https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/VsExtension/NuGetPackage.cs#L375

Commenting it out (or something around that), might get you out of jail enough to explore further

[2016-03-31 00:44] yishaigalatzer commented on #2422
CC @pspill

[2016-03-31 00:46] emgarten commented on #780
Restore puts errors in the error list

![image](https://cloud.githubusercontent.com/assets/6381138/14162274/5ee4904a-f69f-11e5-9ec9-3d6ce5e4899e.png)

[2016-03-31 00:46] #780 closed

[2016-03-31 00:52] emgarten commented on #2421
NuGet/NuGet.Client@438cb3699a8aa091e9d1b0cc154414634fd21bce

[2016-03-31 00:52] #2421 closed, assigned to emgarten

[2016-03-31 05:16] emgarten commented on #2400
@jasonmalinowski would you take a look at where the problem is here?

[2016-03-31 05:18] emgarten commented on #2400
@damnlogin @D3-LucaPiombino Visual Studio 2015 Update 2 was released today with an updated build task, does the issue still repro there for you?

[2016-03-31 08:39] forderud commented on #2419
Thanks for the tip. Unfortunately, the visual studio startup crash persists, even after commenting out the `VsCredentialProviderImporter` object creation. The problem must therefore lie somewhere else.

It would be very helpful if someone could try to reproduce this issue.

[2016-03-31 08:41] damnlogin commented on #2400
@emgarten, with new VS 2015 Update 2 issue is permanently gone. Should I close this one or you will? And thanks everyone for your help and time!

[2016-03-31 08:55] Myfreedom614 commented on #2420
@rrelyea for 3.4.1 version, after upgrading to VS 2015 update 2, the Available package sources will be empty and can't add custom source in the options, this works but this should not be a workaround. For 3.4.1 version, the work around is to delete the C:\Users{username}\AppData\Roaming\NuGet\nuget.config

[2016-03-31 09:07] forderud opened #2423 "Crash when browsing sources with invalid icon URL with NuGet 3.4.1.807"
NuGet package browsing causes a crash in VS2015 U2 after upgrading the NuGet plugin to 3.4.1.807. Downgrading to Nuget 3.3.0.167 fixes the problem.

Steps to reproduce:
- Right click on a project, select "manage nuget packages".
- Click on the "browse" tab. Observe that browsing the 1st (default) remote works fine.
- Switch to a 2nd remote. Observe that Visual Studio crashes.

Crash message:

[cod

[2016-03-31 09:08] forderud commented on #2423
My gut feeling is that this is authentication related. Unfortunately, I'm unable to debug the issue myself due to https://github.com/NuGet/Home/issues/2419.

[2016-03-31 09:46] dgioulakis commented on #1909
@yishaigalatzer ... Upgrading to the 3.4RC significantly helped.  I'll have to re-add my company's nuget source and see if the issue is still resolved, but I'm able to build again with updated packages.  Thanks for the help!

[2016-03-31 11:26] burdeasa commented on #640
I saw this issue yesterday on a Windows 10 VM.  As part of testing, I had created many MVC projects without incident.  Then I created a new MVC project and noticed various problems.  It became clear that none of the powershell scripts ran when installing the NuGet packages.  The output window showing output from Package Manager is attached.
[NuGetPowerShellErrors.txt](https://github.com/NuGet/Home

[2016-03-31 11:33] burdeasa opened #2424 "Can issue #640 be reopened?"
I saw a recurrence of this issue; I left a new comment at https://github.com/NuGet/Home/issues/640

[2016-03-31 12:52] hickford opened #2425 "Write and publish documentation for NuGet.Core.dll"
Hi. I couldn't find any documentation for [NuGet.Core](https://www.nuget.org/packages/NuGet.Core/) "1,530,729 downloads" beyond [one blog post](http://blog.nuget.org/20130520/Play-with-packages.html from 2013). Is there any more comprehensive documentation? If I've missed it, please could you link it from the package page? Otherwise, think about writing some.

See also http://docs.writethedocs.org

[2016-03-31 13:23] burdeasa commented on #640
Just to add further observation on this issue:

I currently have a Windows 10 VM with VS 2015 Update 1 (and NuGet Package Manager for Visual Studio version is 3.3.0.167) installed.

I started seeing this issue yesterday when attempting to create an MVC project using a custom project template that we use.  I left this copy of Visual Studio open.  **I seem to keep seeing the issue occurring constant

[2016-03-31 13:31] McMlok opened #2426 "Update fail with 'null' is not a valid version string."
Hello,

after update to VS2015 Update 2 and Nuget manager 3.4.1.807 I can't update nugget in one of my solution when as Nuget source I use our internal Nexus server. Nexus server is used as proxy and as repository for our internal Nuget packages. When I use as source nugget.org it works but only for public packages.

When I try package manager console and command Update-Package -WhatIf to find out

[2016-03-31 14:32] AArnott commented on #640
I am seeing it randomly pop up still as well.

[2016-03-31 14:50] chrisdrobison commented on #2420
I'm trying this now, but to answer your other questions, we use Sonatype's Nexus as our internal repo. For the internal packages, there are 8 versions available for each. None of them, depend on Common.Logging.

[2016-03-31 15:00] #2356 closed, assigned to toddm

[2016-03-31 15:48] chrisdrobison commented on #2420
I've down graded and it seems to be exhibiting the same behavior. I'm at 30 minutes and counting. VS is spinning at 25% CPU.

[2016-03-31 16:13] chrisdrobison commented on #2420
It's been spinning on the same project for an hour now. I need to get some work done so I'll restart this process before I leave and see if anything comes back during the night.

[2016-03-31 16:29] yishaigalatzer commented on #2420
@chrisdrobison thanks for getting back with all the details. The good news is we know that this is not a regression (phew...).

The other good news, is that this is now our highest priority item, is there a chance to put our hands on your project so we can work on reproducing, getting the core reason why it is so slow, and testing some new algorithms we have in mind?

[2016-03-31 16:40] pspill commented on #2419
I'm not able to repro this issue on Windows 10 + Microsoft Visual Studio Enterprise 2015 Version 14.0.25123.00 Update 2.

@forderud -- I'd like to understand how you loaded a version of Microsoft.VisualStudio.Services.Client that lacked this type.  Could you see where you are loading this from and send me the dll?  To do so, you can
- Launch a developer prompt elevated
- start fuslogvw.exe
- clear

[2016-03-31 16:48] tomasz-soltysik commented on #2264
Checked with 3.5 beta. Issue is almost fixed. Manifest contains good version number, but filename contains .0 before suffix. This is small issue, as filename is not used for anything.

[2016-03-31 17:01] yishaigalatzer commented on #1909
@Cephei that's great news! Note that we now have 3.4.1 RTM live.

[2016-03-31 17:05] chrisdrobison commented on #2420
I think we can work something out. Reach out to me at my work email: cdrobison@xactware.com.

[2016-03-31 17:07] #1496 closed, assigned to TimBarham

[2016-03-31 17:18] jasonmalinowski commented on #2400
Yep, this was bug #1880 and the fix went out in Update 2 yesterday. Good to know everything's working @damnlogin, sorry for the trouble!

[2016-03-31 17:18] #2400 closed, assigned to nobody

[2016-03-31 17:38] yishaigalatzer commented on #2264
@lion92pl thanks! reactivated

[2016-03-31 17:42] toddm commented on #2389
This does still repro.  I'll debug it to figure out a fix.

[2016-03-31 17:44] yishaigalatzer commented on #2420
Cool! Assigned a developer, he should reach out to you shortly

[2016-03-31 18:17] rrelyea commented on #2426
Do any parts of the UI in VS work with the Nexus package source?
Browse? Update?

Our ODATA implementation (to support the V2 protocol) went through some changes in v3.4.1. We have one known issue that required changing the package source uri from */api/ to */api/odata/
If that solves it, you'll have to change the URI, and you should work fine.
If that doesn't solve it, we'll need to work with you

[2016-03-31 18:28] rrelyea commented on #2423
This might be related to the Image URI for a package. We did some work to make the ScrollingList deal with images more efficiently. (this checkin: https://github.com/NuGet/NuGet.Client/commit/dfab17961845b05fdf597a621b6580d55e1efdbb)

If that is the case, if we could determine the package that causes this problem...we can likely adapt the code to deal with that case.

Perhaps you could remove this

[2016-03-31 19:04] rrelyea opened #2427 "Consider user experience when roaming Nuget.config is not valid XML"
Customer in 3.4.\* was notified that NuGet.config was not valid xml file.
Consider providing concrete guidance on how to address the problem.
(deleting the file will enable NuGet to create a new default NuGet.config...)

[2016-03-31 20:13] forderud commented on #2419
Microsoft.VisualStudio.Services.Client appars twice in my log when launching VS2015 U2 before the IDE crashes:
[Microsoft.VisualStudio.Services.Client, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a.txt](https://github.com/NuGet/Home/files/198511/Microsoft.VisualStudio.Services.Client.Version.14.0.0.0.Culture.neutral.PublicKeyToken.b03f5f7f11d50a3a.txt)
[Microsoft.VisualStudio.

[2016-03-31 20:25] pspill commented on #2419
Thanks @forderud.  Could you please send C:\PROGRAM FILES (X86)\MICROSOFT VISUAL STUDIO 14.0\COMMON7\IDE\EXTENSIONS\XMMRW3SX.DCU\extension.vsixmanifest, so we can see what extension you're loading this assembly from?

[2016-03-31 20:44] xperiandri commented on #2420
I have an issue similar to @Myfreedom614
In 3.4.1.807 search does not work in UI.
When I scroll on browse tab it loads more packages. But as soon as I put anything into search box it either finds a few packages (for example if to search for system) or nothing (search for Prism or System.Collections.Immutable)

[2016-03-31 20:46] rrelyea commented on #2420
@Myfreedom614  @xperiandri  - neither of your issues are the same as this issue, I believe. Can you please open a new issue detailing what you are seeing?

[2016-03-31 20:47] forderud commented on #2419
[extension.vsixmanifest.txt](https://github.com/NuGet/Home/files/198565/extension.vsixmanifest.txt)

[2016-03-31 20:58] zwaap opened #2428 "Init.ps1 does not run unless package manager window has been opened"
The Init.ps1 script will only run if the NuGet Package Manager Console window has been opened prior to opening a solution.  While this behavior is documented [here](https://docs.nuget.org/create/creating-and-publishing-a-package#automatically-running-powershell-scripts-during-package-installation-and-removal), the behavior is nonetheless a real stumbling block for users of packages that rely on th

[2016-03-31 21:37] rrelyea commented on #2428
@zwaap - please confirm. This is a problem that occurred in v3.3 (and perhaps before, and likely still with v3.4.1 which just shipped this week)?

[2016-03-31 21:44] xperiandri opened #2429 "In 3.4.1.807 search against "Microsoft and .NET" package source for System.Collections.Immutable fails"
<img width="1124" alt="search" src="https://cloud.githubusercontent.com/assets/2365592/14191839/b841b4d4-f7a2-11e5-9597-2cd4169751df.png">

[2016-03-31 21:44] xperiandri commented on #2420
#2429

[2016-03-31 21:52] rrelyea commented on #2429
That search works fine on nuget.org source. I suspect that this is not a NuGet UI issue, but rather an issue with the microsoftdotnet feed (https://www.nuget.org/api/v2/curated-feeds/microsoftdotnet/Package/System.Collections.Immutable is not found via a web browser)
-- we are investigating...that web uri may not be the right way to find it..

[2016-03-31 22:16] stashev commented on #2426
same problem after installing Update 2. My private feed stop working (Feed hosted on TeamCity).
When i try to get list of available packages -- 'null' is not a valid version string.

[2016-03-31 22:17] xperiandri commented on #2429
Prism too
But installation works from console

[2016-03-31 22:34] yishaigalatzer commented on #2428
@zwaap that's the design, init.ps1 is not intended to make ANY changes to the projects, it is intended to setup the powershell console to run commands.

What does your init.ps1 do?

[2016-03-31 22:39] yishaigalatzer commented on #2426
@stasburn  & @McMlok Can you please share a package that fails to install, so we can try it on teamcity or Nexus to see if there is a pervasive bug here?

@stasburn please consider moving off the nuget teamcity server, that server is only supporting nuget v1, and teamcity team told us they are not planning to make any further bug fixes. You can use nuget.server instead or any other private server

[2016-03-31 22:41] yishaigalatzer commented on #2425
We don't plan to do any more work on nuget.core, it is pretty much as is, nor do we plan to document it further.

We do plan to work on document the new nuget set of packages, the work is not starting immediately but is tracked here: https://github.com/NuGet/Home/issues/2243

[2016-03-31 22:41] #2425 closed, assigned to nobody

[2016-03-31 22:43] yishaigalatzer commented on #2424
Sorry, I started reaching out to the powershell folks today, but forgot to open the issue.
I don't expect work on this for a few weeks, but ultimately we will go back to look into it.

[2016-03-31 22:43] #2424 closed, assigned to nobody

[2016-03-31 22:47] zwaap commented on #2428
@rrelyea confirmed this is still the behavior with v3.4.1.807.  Here is a trivial NuGet package to repro:

[Esri.InitScriptTest.0.0.0.1.nupkg.zip](https://github.com/NuGet/Home/files/198700/Esri.InitScriptTest.0.0.0.1.nupkg.zip)

The package contains an Init.ps1 script that creates an empty file in the solution directory on execute.

@yishaigalatzer what is the Init.ps1 intended for from a user pe

[2016-03-31 22:47] stashev commented on #2426
@yishaigalatzer sure. How do you prefer to get an example package?

[2016-03-31 22:49] yishaigalatzer commented on #2423
@forderud can you try and get all the packages from the second feed, and put them in a local file folder. See if that crashes as well. If so can you get us the package that triggers the crash?

You can also just extract all the nuspec files and find the package that perhaps has a non standard image url

[2016-03-31 22:49] yishaigalatzer commented on #2426
send me an email y i g a l a t z @ msft.com

[2016-03-31 22:53] yishaigalatzer commented on #2428
That's not the intent of init.ps1, and we will not enable it. NuGet is not an automation entry point into visual studio, and please do not use it as such.

If you need anything that rehydrates stuff, please add msbuild targets so they can run on build also outside of visual studio

[2016-03-31 22:53] #2428 closed, assigned to nobody

[2016-03-31 23:07] yishaigalatzer commented on #2429
This is not a nuget bug, or a 3.4.1 bug. The curated feed does not include all the packages that nuget.org does.

I've emailed the team that owns this feed to see if they want to update it.

[2016-03-31 23:07] #2429 closed, assigned to nobody

[2016-03-31 23:14] #1852 closed, assigned to nobody

[2016-03-31 23:21] #2415 closed, assigned to zhili1208

[2016-04-01 00:39] spadapet opened #2430 ""nuget.exe push" reads the package file into memory even if the transaction is canceled"
@zarenner showed me this: He was pushing a giant (6GB) package to visualstudio.com that fails authorization, yet the whole 6GB file was streamed into memory even though it isn't sent. That takes 40 seconds when the HTTP transaction immediately fails.

Related to: https://github.com/NuGet/Home/issues/1501

We should find out why the file is being read into memory and try to prevent it when the HTTP

[2016-04-01 01:15] emgarten commented on #2378
@joelverhagen this fix is in right?

[2016-04-01 01:41] Myfreedom614 commented on #2429
@xperiandri For 3.4.1 version, **the temporary work around** is to delete the C:\Users\{username}\AppData\Roaming\NuGet\nuget.config

[2016-04-01 01:45] yishaigalatzer commented on #2420
@chrisdrobison thanks for sharing your packages, we found a bug in the update code that will make it spin forever when the package graph is super deep (like yours, it is over 20 packages deep). We are working on a fix.

Much much appreciated!

[2016-04-01 02:48] kingerja opened #2431 "Installing nuget package with two part version number from old 2.x nuget server fails"
Using 3.5.0.1106 nuget.exe
http://www.myget.org/F/nugetbuild/api/v2/package/NuGet.CommandLine/3.5.0-beta-1106

repo share: \joshking-main\dump\nugetissue\x

**Nuget.exe list AjaxControlToolkit -source https://msdata.pkgs.visualstudio.com/DefaultCollection/_packaging/SQL_Curated/nuget/v3/index.json**
AjaxControlToolkit 7.1213

**Nuget.exe list AjaxControlToolkit -source http://SQLISNuGet/DPG-Curate

[2016-04-01 03:01] kingerja commented on #2431
Breaks on 4 part versions. as well.  I am guessing the new version of nuget.exe is not intended to be compatible with the old 2.x nuget servers if the packages do not conform to the semver rules.

d:\dump\temp\nuget\x>nuget.exe restore packages.config -source http://SQLISNuGet/DPG-Curated/nuget -PackagesDirectory %cd%\temp
Restoring NuGet package AjaxControlToolkit.7.1213.0.
Restoring NuGet packag

[2016-04-01 04:47] joelverhagen commented on #2378
I started a build this afternoon to test the latest bits and it looks like the problem still repro'd.
https://github.com/dotnet/cli/pull/2181
(notice the OS X build failed).

I ran my paralellism test against `HttpSource` (not the locking code itself) and still repro'd the issue.
Here's a PR applying the fixes we talked about offline:
https://github.com/NuGet/NuGet.Client/pull/444

[2016-04-01 04:48] yishaigalatzer commented on #2431
1. Can you share the packages.config file?
2. What version of nuget.server are you using?

[2016-04-01 04:50] yishaigalatzer commented on #2430
@spadapet is this after your fix to use chunked encoding?

[2016-04-01 07:34] McMlok commented on #2426
No UI work when it hit our private packages. I can browse and I see packages from nugget.org served by Nexus but when I try to search for our private package on same Nexus, but different repository, null error occurred.Update

[2016-04-01 07:38] elestedt opened #2432 "package restore doesn't install packages."
I'm trying to get NuGet 3.3.0 to restore packages on a Windows 2012 server which will be used as a build slave for Jenkins. But I've run into a problem.

NuGet downloads the packages (I can see them appear in the users NuGet cache) but it won't install them. Instead I get:

[code]

In the cache folder I can see that this specific version has been downloaded.
Just to be on the safe side, I added th

[2016-04-01 07:41] ljw1004 opened #2433 "Nuget.CommandLine package is out of date -- current 3.3.0 version causes "NuGet.exe pack" to overwrite targetFramework with "unsupported0.0""
I create a .nuspec file with

[code]

and then I compile it with `nuget.exe pack` (using the nuget.exe that comes from the latest version 3.3.0 of the NuGet.CommandLine nuget package).
## What I expect:

This should produce a .nupkg which contains a .nuspec which has the same targetFramework
## What I get:

Actually, if you look inside the resulting .nupkg, it has replaced my targetFramework with

[2016-04-01 07:42] ljw1004 commented on #2433
(if the underlying issue is that I'm using an out-of-date version of NuGet.exe, then please upload a new NuGet.CommandLine package which contains an appropriate newer version of it!)

[2016-04-01 07:47] forderud commented on #2419
Status update: The crash occurs both with `NuGet.Tools.vsix`built in debug as well as release.

[2016-04-01 08:20] hickford commented on #2381
Follow http://stackoverflow.com/q/5205738/284795

[2016-04-01 08:23] forderud commented on #2423
Thanks for very helpful suggestions @rrelyea and @yishaigalatzer. The crash was indeed caused by a package with invalid icon URL. The icon url was `ttp://www.ge.com/sites/all/themes/ge_2012/favicon.ico`, where `h` was missing from `http`.

Would it be possible for you to somehow harden the code in question to more gracefully deal with icon loading failures?

[2016-04-01 08:38] hickford commented on #2425
Which are the 'new set' of packages? Does one of them replace NuGet.Core?

[2016-04-01 09:51] GeertvanHorrik opened #2434 "Update details / projects overview when switching package"
How to reproduce:
1. In the installed tab, search for a specific package, select it. You will see the projects the selected package is installed in.
2. Search for another package that is installed

Now the right side will still show the old information (it does show the right package title, but the selected projects + versions are from the previous package). You need to unselect (with control in c

[2016-04-01 12:45] jslew commented on #2363
I don't know if this is related, but trying to browse  a remote Klondike (v1.6.2) server using VS2015 Update 2, I get the following error:
[MyRepository] The V2 feed at 'http://nuget.myrepo.com/api/Search()?$filter=IsLatestVersion&searchTerm=''&targetFramework='net45'&includePrerelease=false&$skip=0&$top=26' returned an unexpected status code '404 Not Found'.

Updating to 3.4.1 did not help.

[2016-04-01 12:54] jslew opened #2435 "Browsing older Klondike server does not work in VS2015 w/ 3.4.1"
VS2015 w/ Update 2, I can no longer browse an internal Klondike v.1.6.2 server from the UI.  The following error appears in the console:
[Internal] The V2 feed at 'http://nuget.internal.com/api/Search()?$filter=IsLatestVersion&searchTerm=''&targetFramework='net45'&includePrerelease=false&$skip=0&$top=26' returned an unexpected status code '404 Not Found'.

No change when updating to 3.4.1.

I don'

[2016-04-01 13:03] chrisdrobison commented on #2420
@yishaigalatzer Glad I could help.

[2016-04-01 14:42] pspill commented on #2419
Thank you for all your help @forderud.  You are hitting #2401.  The NuGet VSIX links against Microsoft.VisualStudio.Services.Client.dll, but these assemblies should never be included in the VSIX, and they should be loaded from Team Explorer instead. You'll only see this in local builds -- the NuGet vsix released on NuGet.org are correctly filtering the list of assemblies to include in the package.

[2016-04-01 14:43] pspill commented on #2401
This was hit in #2419 by a contributor building releases-3.4.1.  We should ensure this fix makes it in to any branches that contributors are working in.

[2016-04-01 14:50] yishaigalatzer commented on #2435
We tested NuGet with klondike 2.0, the one thing you might need to try is to append api/odata to the server URL

[2016-04-01 14:52] yishaigalatzer commented on #2433
Yes, you are using an out of date package, we will upload a new one today or tomorrow. In the meantime go to our dist.nuget.org/index.html and grab the nightly build.

[2016-04-01 14:52] #2433 closed, assigned to nobody

[2016-04-01 14:54] yishaigalatzer commented on #2432
Can you try a couple of things:
1. Please run nuget.exe locals -clear all
2. Can you share your nuget.config, and exact command you are running?

[2016-04-01 14:56] yishaigalatzer commented on #2435
The fix for the URL is in 3.5 branch, we deemed it too risky to take for 3.4.1

[2016-04-01 14:57] yishaigalatzer commented on #2435
https://github.com/NuGet/NuGet.Client/commit/ea16486372d708c7d84a09af98ad7fd9c8804bc1

[2016-04-01 15:42] davidfowl opened #2436 "Support runtimeTargets in msbuild task that resolves nuget package assets"
NuGet now supports exposing runtime assets from packages that don't have runtime specific dependencies. That is, packages with RID specific assets are now exploded into the lock file. We need to decide what the msbuild task does with these assets. Does it copy all of them to the output like .NET CLI? If you specify a RID, should it pick the right ones and flatten it in the output?

/cc @emgarten @

[2016-04-01 15:52] toddm commented on #2397
Duplicate of https://github.com/NuGet/Home/issues/1212, which I'm working on.

[2016-04-01 15:53] elestedt commented on #2432
[code]

As you can see I've disabled parallel processing of restores, and I've replaced some absolute paths above with the environment variable equivalent.
Packages seem to be downloaded into _%APPDATA%\Local\NuGet\Cache_, at least that's where the pkg and spec files end up.
And the NuGet.config located in _%APPDATA%/Roaming/NuGet_ looks like this

[code]

[2016-04-01 16:12] ndouthit opened #2437 "Package source missing after upgrade to 3.4.1.807"
The nuget.org package source is removed after upgrading to 3.4.1.807. I had to manually add it in order for the package manager to start working again. I can downgrade to 3.3.0.167 and the package source is no longer missing.

I'm using VS 2015 Community.

[2016-04-01 16:47] zarenner commented on #2430
@yishaigalatzer Yes, this is with Peter's fix.

[2016-04-01 17:03] spadapet commented on #2430
That's right, this happens with chunking. At least it's not sent over the wire, but I need to see why the file is even being read.

[2016-04-01 17:38] toddm commented on #2389
Fixed in Dev.

[2016-04-01 17:38] #2389 closed, assigned to nobody

[2016-04-01 17:52] #2378 closed, assigned to joelverhagen

[2016-04-01 18:23] jasonmalinowski commented on #2436
I feel like I'm back in my college math classes where the clarification didn't clarify anything. Can you clarify further? (Sorry, it's Friday and the weather outside is beautiful.)

The behavior of the task today is:

1) If you specify an RID, we copy that RID's assets. You must have that runtime in your restore.
2) If you don't specify an RID, we don't copy anything. Tough luck.

The challenge wi

[2016-04-01 18:30] kingerja commented on #2431
everything I used for the repo is located below. (the packages.config is located at that share as well.)  You can access it from Microsoft corp net.
\\joshking-main\dump\nugetissue\2431

The exact nuget commands I used are bolded above.  If you need any repo access to test this out let me know.

[2016-04-01 18:30] emgarten commented on #2436
Copy all would need to add sub folders for the top level RIDs that are automatically selected right? If everything is just copied into the same folder there would be conflicts.

[2016-04-01 18:41] jasonmalinowski commented on #2436
Yes, it'd have to be subfolders. But nothing about the rest of the entire MSBuild pipeline would know about those subfolders. The MSBuild design is very much "you are building for a specific platform", and if you want two platforms, you build twice.

[2016-04-01 20:09] HugoLemieux opened #2438 "Package add wrong reference when a library item with the same name exists in the project"
If you have a library item in a project with the same name as the referenced library added by a package, the package successfully install but the reference is targeting the library item in the project rather than the library inside the package.

[2016-04-01 21:57] forderud opened #2439 "FindPackagesById casing changes in 3.4.1 breaks Artifactory integration"
Prior to NuGet 3.4, NuGet used a `FindPackagesById()?id='<name>'` query to search for package versions. With NuGet 3.4.1 this changed to `FindPackagesById()?Id='<name>'`. The subtle change in casing have utterly broken NuGet support in Artifactory (https://www.jfrog.com/jira/browse/RTFACT-9741) and possibly other case-sensitive servers.

To restore compatibility, could it be possible to change the

[2016-04-01 22:09] zhili1208 commented on #2439
Yes,  We just found this issue, I already change it back to id in one PR, it will be fixed after merge

[2016-04-01 23:25] emgarten commented on #2438
@HugoLemieux would you give an example and some repro steps?

[2016-04-01 23:26] emgarten commented on #2437
thanks @ndouthit
This has been added to the known issues list: http://docs.nuget.org/release-notes/known-issues

[2016-04-01 23:26] #2437 closed, assigned to nobody

[2016-04-01 23:43] #1501 closed, assigned to spadapet

[2016-04-01 23:45] #2199 closed, assigned to spadapet

[2016-04-02 00:01] deepakaravindr commented on #2179
Looks like this bug is fixed with https://github.com/NuGet/NuGet.Client/pull/356. Closing it

[2016-04-02 00:01] #2179 closed, assigned to deepakaravindr

[2016-04-02 01:13] kingerja commented on #2431
A very old version this is before the 3.0 redo so it is closer to the 2.x codebase.

NuGet.Server.3.0.0-ctp3
--a-- W32i   DLL   -   3.0.51211.706 shp     51,888 12-17-2014 nuget.server.dll

[2016-04-02 05:25] ljw1004 commented on #2433
Hey, maybe we could re-open this issue and use it to track the workitem to update the NuGet package? (or is there a different tracking item?)

[2016-04-02 14:45] davidfowl commented on #2436
I don't think there needs to be a copy all FWIW, the CLI has this but its ok if the msbuild task doesn't support it right now. What would be nice is if you specified a RID and the lock file does not have a RID specific target, but the RIDless target has rid specific assets, they should still get copied.

To illustrate:

**System.Globalization.Extensions**

[code]

**System.Globalization.Extensions

[2016-04-02 23:47] angularsen commented on #2406
@yishaigalatzer any update from the JS guys?

[2016-04-03 08:48] domedellolio opened #2440 "version 3.4.1 + update2 = useless"
With this new version 3.4.1 that was installed when I installed Visual Studio Update 2, I can no longer search or updates packages!! Useless!

[2016-04-03 09:10] domedellolio commented on #2440
solved adding manually "source url" to https://www.nuget.org/api/v2 that was missing

[2016-04-03 09:53] kreuzerkrieg opened #2441 "Path to project package - why it is relative?"
This issue was already risen on codeplex, however I didnt find this issue here.
The original link https://nuget.codeplex.com/workitem/8337
Since I dont see it is addressed one way or another I repost it here:
Looks like the path to package's props and targets used in project's file is pointing to the solution folder. Example:
<Import Project="..\Solutions\packages\cpprestsdk.2.4.0\build\native\cpp

[2016-04-03 10:21] artkat opened #2442 "'Error occurred' when browsing for PCL or Xamarin (Mono) packages"
Browsing for PCL [https://www.nuget.org/api/v2/curated-feeds/microsoftdotnet/Search()?$filter=IsLatestVersion&searchTerm=''&targetFramework='portable45-net45+win8+wp8+wpa81'&includePrerelease=false&$skip=0&$top=26'](https://www.nuget.org/api/v2/curated-feeds/microsoftdotnet/Search%28%29?$filter=IsLatestVersion&searchTerm=''&targetFramework='portable45-net45+win8+wp8+wpa81'&includePrerelease=false&

[2016-04-03 10:32] artkat commented on #2442
Reverted back to Package manager v3.3.0.167: No issues. Confirming the issue is with v3.4.1.807

[2016-04-03 21:17] gannonlawlor commented on #2442
Same issue here

[2016-04-04 01:50] emgarten commented on #2440
Covered here: http://docs.nuget.org/release-notes/known-issues

[2016-04-04 01:50] #2440 closed, assigned to nobody

[2016-04-04 04:12] Kanimozhi12 commented on #2333
Please try to install this package in VS15 "KendoUICore"

On Wed, Mar 23, 2016 at 4:53 AM, Yishai Galatzer notifications@github.com
wrote:

[2016-04-04 06:52] bryjamus opened #2443 "Issue on NuGet.Client (Visual Stusio 2015) --> The V2 feed at 'http://nuget.syncfusion.com/windows-forms/FindPackagesById()?Id='Syncfusion.Diagram.Windows40'' returned an unexpected status code '404 Not Found'."
I get this error on version **3.4.1.807** Package Manager Console in Visual Studio 2015. Package restore works fine on version **3.3.0.167**.
Source URL added to NuGet configuration is: [http://nuget.syncfusion.com/windows-forms](http://nuget.syncfusion.com/windows-forms)

![nuget_issue](https://cloud.githubusercontent.com/assets/7079299/14240025/b8bb1940-fa41-11e5-892e-ac82a6e7b867.png)

[2016-04-04 08:31] elestedt commented on #2432
So, after much digging and trying to run with the _2.4.0-rc_ version, I got this message:

[code]

So, searching for that on Google I found [this](https://blogs.msdn.microsoft.com/brijs/2010/08/10/issue-getting-this-implementation-is-not-part-of-the-windows-platform-fips-validated-cryptographic-algorithms-exception-while-building-outlook-vsto-add-in-in-vs-2010/) article. After disabling FIPS in th

[2016-04-04 09:36] rubenprins opened #2444 "NuGet.Server 2.10.1: drop folder does not work"
When using the packages folder as a drop folder, new packages are not picked up. This is because of the following lines in [ServerPackageRepository.cs (l.642)](https://github.com/NuGet/NuGet.Server/blob/3c0edb60aad5a50e279ccd090eff08ebd946f919/src/NuGet.Server/Infrastructure/ServerPackageRepository.cs#L642):

[code]

It should be `".nupkg"` (GetExtension returns the dot too).

Also, you do not log

[2016-04-04 12:25] HugoLemieux commented on #2438
In Visual Studio:
1. Create a new library project named with the same name as a known added library by a known package (ex.: NuGet.Core)
2. Build it
3. Create another library project
4. Add the first compiled library as an existing item in the second project
5. Add the known package (ex.: NuGet.Core) to the second project

The reference of the second project added by the known package is targeting

[2016-04-04 13:10] tbolon commented on #2429
I have just solved the exact same problem.

My %appdata%\nuget\nuget.config was this (never edited by hand, never customized in VS):

[code]

In visual studio, the available package sources was empty. Because of a bug in the ui, the "+" and "Delete" buttons where grayed as soon as I click on the machine-wide package. Even when I deselect ths Microsoft and .NET package source, the buttons remains g

[2016-04-04 13:16] tbolon opened #2445 "Missing nuget.org source after updating to NuGet 3.4.1"
I could not determine if this problem is related to #2429, because in my case it is the behavior of VS which was changed.

Since I installed VS 2015 Update 2 (I have juste tried to add a new package today), the Package Source is stuck in "Microsoft and .NET" source, and no other sources are available: the officiel nuget.org source was gone.

My `%appdata%\nuget\nuget.config` was this (never edited

[2016-04-04 13:54] maartenba commented on #2444
This issue was moved to NuGet/NuGetGallery#2969

[2016-04-04 13:54] #2444 closed, assigned to nobody

[2016-04-04 14:27] IldarDev commented on #2445
I have the same problem!
- 1
  ![123](https://cloud.githubusercontent.com/assets/18264900/14251144/43bc62a4-fa8a-11e5-9a11-152e5a4e1299.png)

Please, help! I can't go on work on my project without nuget.org source.

[2016-04-04 14:28] tbolon commented on #2445
@IldarDev As explained in my issue, you can delete `%appdata%\nuget\nuget.config` then restart VS: the default source should be back.

Note also that based on his screenshot, it seems that VS 2015 update 2 is not the culprit. Perhaps NuGet 3.4.1 ?

[2016-04-04 14:34] IldarDev commented on #2445
It's works! Thx bro!

[2016-04-04 14:39] IldarDev commented on #2445
Maybe, it problem of 3.4.1 version. I have updated to latest version yesterday.

[2016-04-04 15:38] spadapet opened #2446 "Reduce the number of NuGet.Core and NuGet.Client projects"
There are so many projects that they need to be combined where reasonable, for example: the Protocol projects in NuGet.Core.
Also need to find out when csproj->xproj references work so that both solutions can be combined into one too.

[2016-04-04 15:53] fangs87 commented on #2443
I also have the same issue, couldn't find a workaround yet. Different package url, but the same he V2 feed at '{Url}/FindPackagesById()?Id='{Package}'' returned an unexpected status code '404 Not Found'.

[2016-04-04 16:25] joelverhagen commented on #2176
Hey @pranavkm, this change is in the latest dotnet CLI build. Could you take a look and let me know if your needs are met?

[2016-04-04 16:58] TimBarham commented on #2297
Caching settings didn't prove to be a significant benefit, but got some improvements by:
- Caching remote dependency providers (https://github.com/NuGet/NuGet.Client/commit/59519fc2)
- Avoiding writing out project.lock.json unnecessarily (https://github.com/NuGet/NuGet.Client/commit/8903878a).

[2016-04-04 16:58] #2297 closed, assigned to TimBarham

[2016-04-04 17:07] nathan-alden-sr commented on #2443
I am running into the exact issue, and I bet it has to do with a NuGet Package Manager extension update that was pushed out to Visual Studio late last week. I have an internal package source I use for all my projects, in addition to the nuget.org package source. One annoying regression with the new NuGet tool window in VS 2015 was the inexplicable removal of the "All" selection when filtering pack

[2016-04-04 17:15] toddm commented on #2264
This is now fixed in Dev, which will show up in myget.

[2016-04-04 17:15] #2264 closed, assigned to toddm

[2016-04-04 18:15] pspill commented on #2419
Although this issue is caused by #2401, we ought further harden the type load in NuGet vsExtension project, so if a user ever ends up with a bad services assembly, that we fail to load the provider but don’t crash NuGet.  Currently we’re handling BadImageFormatException and FileLoadException.  This should also include TypeLoadException and FileNotFoundException… or consider catching Exception.

ht

[2016-04-04 18:23] alpaix commented on #2363
@jslew Does the Package Manager enter infinite retry loop in your scenario? Can you please elaborate and/or share a printscreen?

[2016-04-04 18:25] jslew commented on #2363
I created a different issue to track what I am seeing, it turned out to be unrelated.
https://github.com/NuGet/Home/issues/2435

[2016-04-04 18:25] pranavkm commented on #2176
We're on build `1.0.0-beta-002202`. Would this have the change?

[2016-04-04 18:29] shagenhokie commented on #2443
Having the same issue with latest NuGet client version 3.4.1.807 against a few of our internal NuGet servers (Klondike v1.62).

Only workaround I could find was to downgrade to the previous NuGet client version 3.3.0.167.

[2016-04-04 18:40] joelverhagen commented on #2176
Yes, it should. `1.0.0-beta-002202` has NuGet build `3.5.0-beta-1123`. Any build greater than or equal to `3.5.0-beta-1086` has the fix.

[2016-04-04 18:58] emgarten commented on #2438
This behavior is correct. Projects and packages are treated the same by NuGet, and they must have unique names.

In your example you have: (Project) B -> (Package) B
If you then pack project B into a nupkg or consume that project from another project you will have: (Project) A -> B -> B

[2016-04-04 19:04] alpaix opened #2447 "Provide machine-readable output option"
**Problem**
NuGet customers build tools relying on specific output messages nuget.exe prints out to a console. These tooling solutions can be easily broken when output format changes.

**Solution**
Provide machine readable output option to emit log messages in parsable stable format.

Opened as a follow up on #2352.

[2016-04-04 19:29] emgarten opened #2448 "Protocol.v3 tests hang on linux"
Protocol v3 tests hang or do not finish in time on the Ubuntu 14.04 CI machine.

[2016-04-04 19:32] toddm commented on #2290
This has been fixed by my recent changes.

[2016-04-04 19:32] #2290 closed, assigned to nobody

[2016-04-04 19:33] toddm commented on #2039
As of this morning, pack normalizes the version.

[2016-04-04 19:51] dcarr42 commented on #1855
So just to be sure is the workaround a manual edit of the csproj file?

[2016-04-04 20:02] maartenba commented on #2442
@artkat Can you see the URL that is requested in v3.3.0.167?

[2016-04-04 20:03] wbradney opened #2449 "Nuget update CLI leaves the old package version condition in project file (C++)"
I believe this might be related to #2249
In that case I was unable to update at all due to an exception being thrown due to a failure to find the old package in my TeamCity feed (despite the fact that it was in fact in the feed). Now I'm using v3.5 compiled from sources today, and the same scenario does not in fact error out, but also does not correctly update the project file.
Before the update t

[2016-04-04 20:48] clovett opened #2450 "Nuget is popping up the ErrorList at beginning of every build..."
VS is supposed to show the Output window at the beginning of a build, but nuget is overriding this behavior which is not what users want.  This is happening here:

[2016-04-04 20:48] toddm commented on #1985
I just fixed this - it was incorrectly showing the error if there was a nuspec and a project file in the directory.  Now it defaults to packing using the project file (which uses the nuspec as well).

[2016-04-04 20:48] #1985 closed, assigned to nobody

[2016-04-04 20:56] emgarten commented on #2449
This looks like a bug that needs to be fixed in nuget.exe

If you would like to work around this the best way is to switch your project over to use project.json instead of packages.config. project.json supports updating from the command line and floating versions.

[2016-04-04 20:57] emgarten commented on #2450
Are there restore errors? Or are you seeing an empty error list?

[2016-04-04 20:58] eerhardt commented on #2191
I don't think this is fully fixed.  I still see a reference to Hashing.Algorithms here:

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/project.json#L44

[2016-04-04 20:58] forderud commented on #2443
This might be related to https://github.com/NuGet/Home/issues/2439

[2016-04-04 20:59] emgarten commented on #2448
`-parallel none` appears to fix this

[2016-04-04 21:00] zhili1208 commented on #2445
@tbolon the issue here is not in 3.4, it's in 3.3, 3.3 will create an empty config file on your machine just like what you post here, but because we forced user to have nuget.org from nuget code in 3.3, then user can't hit this issue. but in 3.4, this issue is fixed and we will not force user to have nuget.org and respect what user have in config file, then you hit this issue. so if you have old c

[2016-04-04 21:01] wbradney commented on #2449
@emgarten: I'm not familiar with the project.json format. Any quick pointers on how I would convert all of my existing packages.config files?

[2016-04-04 21:02] nathan-alden-sr commented on #2443
I think I figured it out! I changed the URL registered in `Tools | Options | NuGet Package Manager | Package Sources` from:

`http://myinternalklondikeserver:8081/api`

to:

`http://myinternalklondikeserver:8081/api/odata`

and now my updates work! I'm not sure _why_ this broke only now. I haven't touched my Klondike server in ages.

I did also notice that the Klondike dashboard page does state to

[2016-04-04 21:05] emgarten commented on #2449
@wbradney this is not officially supported yet, but we will support project.json for all projects in the future.

https://oren.codes/2016/02/08/project-json-all-the-things/

[2016-04-04 21:06] nathan-alden-sr commented on #2443
@forderud Looks like a separate issue. It looks like the same web service call, but it's failing for different reasons.

[2016-04-04 21:12] spadapet commented on #2430
Looks like the file will always be read due to code in:
  System.Net.Http.HttpClientHandler.GetRequestStreamCallback
That code doesn't know that the HTTP request was unauthorized and will always copy the content stream to the output.

The only way to avoid this might be to trigger some other request before the PUT so that authentication happens. That's a quick fix. A long term fix would be to ask

[2016-04-04 21:17] emgarten commented on #2443
This is a known issue, there is a fix for redirecting the source base url in NuGet 3.5.0.

Adding /odata to the url is the best workaround for this in 3.4.0.

[2016-04-04 21:17] #2443 closed, assigned to nobody

[2016-04-04 21:18] emgarten commented on #2442
It looks like ``&targetFramework`` is being added inside the search query string, instead of to the url.

[2016-04-04 21:24] emgarten commented on #2441
The best answer for this is to change to project.json which has a global packages folder. You can see help for this here: https://oren.codes/2016/02/08/project-json-all-the-things/

SolutionDir may not work in all cases such as with a standalone csproj.

[2016-04-04 21:25] yishaigalatzer commented on #1855
Yes or you can add the dll manually.

[2016-04-04 21:26] #2438 closed, assigned to nobody

[2016-04-04 21:31] emgarten commented on #2435
dupe of https://github.com/NuGet/Home/issues/2443

[2016-04-04 21:31] #2435 closed, assigned to nobody

[2016-04-04 21:34] emgarten commented on #2432
FIPS has been fixed in the 3.4.2 nuget.exe release which is expected to happen sometime next week.

[2016-04-04 21:34] #2432 closed, assigned to nobody

[2016-04-04 21:37] emgarten commented on #2431
I don't recognize NuGet.Server 3.0.0-ctp3 as a release. Would you try the latest version (2.11) from nuget.org and see if you can repro this there?

The 3.5.0 client should request the normalized package version first, then if no results are turned it will fall back to FindPackagesById and get the matching package version itself from the list.

[2016-04-04 21:41] toddm commented on #1689
Pushed to Dev

[2016-04-04 21:41] #1689 closed, assigned to toddm

[2016-04-04 21:42] toddm commented on #1212
Fixed with the project.json changes.

[2016-04-04 21:42] #1212 closed, assigned to toddm

[2016-04-04 21:55] zhili1208 commented on #2445
we will provide a fix in 3.4.2 to add nuget.org to empty config file.

[2016-04-04 22:05] yishaigalatzer commented on #2419
@pspill do you plan on a PR for this?

[2016-04-04 22:07] emgarten commented on #2385
After discussing this in triage we decided not to go this route.

[2016-04-04 22:07] #2385 closed, assigned to nobody

[2016-04-04 22:11] emgarten commented on #2383
NuGet needs to normalize on install also, this is still an issue there.

[2016-04-04 22:12] emgarten commented on #2383
Flat folders also have this issue.

[2016-04-04 22:16] emgarten opened #2451 "Packages.config support for xplat"
NuGet.CommandLine.Xplat should support restore for packages.config.

[2016-04-04 22:21] TimBarham opened #2452 "NRE restoring NuGet.Clients solution"
Trying to restore `NuGet.Clients.sln` with `nuget.exe` results in the following error:

[code]

`NuGet.Clients` contains some V1 lock files. When working with V1 lock files, we set `ProjectFileToolGroups` to `null`. `LockFile.Equals()`, however, expects it to be non-null, so we get an NRE restoring a project with a V1 lock file.

[2016-04-04 22:47] codybaxter commented on #2426
I am seeing the same issue. I am trying to get packages from a Nexus server that is running version 2.11.4-01. For me the following is the behavior I am seeing when using the 'Manage Packages for Solution' in VS 2015 using Nuget 3.4.1.

Browse: I am getting the following error when trying to hit the official Nuget Repository:

[OfficialNugetRepository] Failed to retrieve metadata from source 'http

[2016-04-04 22:48] pspill commented on #2419
Yes, we're tracking it and someone will pick up and fix. What timeframe should this be fixed in?

[2016-04-04 22:57] livarcocc opened #2453 "portable-net40 being picked when a portable-net45 option is available when using imports"
Repro at this branch: https://github.com/livarcocc/nuget_repro.

Just run:

dotnet restore --infer-runtimes
dotnet test

Result:

[code]

Expected:

Tests to run successfully.

This fails because newtonsoft.json has the below and nuget is picking portable-net40 instead of the better one which is portable-net50

[code]

cc @ericstj

[2016-04-04 23:31] #2176 closed, assigned to joelverhagen

[2016-04-04 23:40] emgarten commented on #2453
This is a known issue that is caused by an invalid framework `portable-net45+wp80+win8+wpa81+dnxcore50` in the newtonsoft.json package. NuGet will favor valid frameworks, in this case that is `portable-net40+sl5+wp80+win8+wpa81`.

You can work around this by adding dnxcore50 as your first import.

[2016-04-04 23:41] deepakaravindr commented on #2386
@emgarten. Not fully.

dev branch already has the changes necessary to vsixmanifest file to build Dev14 just like the release branch.

However, we have not fixed the code fully to be able to build dev14 and dev15 VSIX out of the same branch. I would say that this tracking issue is depended on the following issues assigned to @drewgil

https://github.com/NuGet/Home/issues/2392
https://github.com/Nu

[2016-04-04 23:48] deepakaravindr commented on #2293
This is related to https://github.com/NuGet/Home/issues/2386, and depended on #2392
#2369

[2016-04-05 01:01] yishaigalatzer commented on #2419
Within the month of April will be ideal

Sent from Outlook Mobilehttps://aka.ms/xp9y6l

On Mon, Apr 4, 2016 at 3:48 PM -0700, "Peter Spillman" <notifications@github.com<mailto:notifications@github.com>> wrote:

Yes, we're tracking it and someone will pick up and fix. What timeframe should this be fixed in?

##

You are receiving this because you commented.
Reply to this email directly or view it o

[2016-04-05 01:04] yishaigalatzer commented on #2426
Can someone share a package causing this issue?

[2016-04-05 06:24] McMlok commented on #2426
Yes I can and I send packages via email few days ago.

[2016-04-05 07:46] kreuzerkrieg commented on #2441
As I understand it doesnt work with native projects. checked it a minute ago with VS2015 Update 2, none of described in the link you've provided happened, so I guess the project.json works with managed project only.

[2016-04-05 09:17] Kanimozhi12 opened #2454 "For security reasons DTD is prohibited in this XML document"
I am getting the issue like below image when using my private NuGet.

![image](https://cloud.githubusercontent.com/assets/17586319/14276657/4a594d12-fb3d-11e5-9602-20d8ad9be775.png)

How to ged rid of this

[2016-04-05 12:19] HugoLemieux commented on #2438
I understand that projects and packages are treated the same by NuGet and that they must have unique names.

I do not understand why the reference added by a package is targeting the wrong library.

From the example your are giving me with the project B, I am not sure I was clear enough to make my point.

I have made a Visual Studio solution to illustrate the problem but I am not able to send it e

[2016-04-05 13:05] wbradney commented on #2449
@emgarten: Thanks - great link. I have a _lot_ of projects so I may try to script the conversion. The two project types we care about right now are .csproj and .vcxproj, so I hope it works for those. I assume that it's also OK to mix the two approaches within a solution?

[2016-04-05 13:45] xoofx opened #2455 "Push to symbol server often generates a 500 error"
Hi there!

When trying to push NuGet symbols packages to https://nuget.smbsrc.net/, I often get a 500 error (like [here](https://ci.appveyor.com/project/xoofx/sharpscss/build/1.0.7) at the bottom). For the past years I have been using symbol source and I have often encountered this kind of issue. It is very annoying...

A couple of questions:
- Who is in charge of this service?
- Is there any know

[2016-04-05 14:19] Lechus opened #2456 "TeamCity nuget v1 feed not functional (v3.4.1 & VS2015U1)"
Hi,

After update nuget package in VS 2015 Update1 feed from Teamcity nuget server just shows packages that are not authored by TC. No problem with packages from nuget.org or from local folder.
Nuget Package Explorer application has no problem with this feed.

I had to uninstall and install older 3.3 version.

Any chance it will be fixed in 3.4.2?

[2016-04-05 15:18] wbradney commented on #2449
Is the packages.config approach going to be deprecated?

[2016-04-05 15:19] codybaxter commented on #2426
One package that is causing this is https://www.nuget.org/packages/System.IO.Abstractions/

[2016-04-05 16:05] patrickgreenwell opened #2457 "Auto add framework assemblies to nuget spec -a assy.dll"
When building a NugetSpec from Assembly using `nuget spec -a MyAssembly.dll`

The generated .nuspec File should use reflection to List the referenced assemblies and add them to the frameworkAssemblies node in metadata.

This will help solve any issues that would arise from missing dependencies needed by the assembly.

[2016-04-05 16:33] analogrelay opened #2458 "Don't show `NotFound` items in NuGet cross-plat restore spew"
A lot of people get confused when they see lines like this, thinking they are errors:

[code]

They are actually just caused by the fact that the package in question doesn't exist on that feed, but I think it's confusing users into thinking there's an error :).

Can we have those only printed on the highest verbosity level (if they aren't already)?

/cc @davidfowl @joelverhagen @emgarten @yishaiga

[2016-04-05 17:03] yishaigalatzer commented on #2456
TeamCity has a limited implementation of the nuget protocol, it only support the nuget v1 protocol, and there are bugs (like not supporting semver properly). The teamcity team has told us that they are not planning to fix any of these bugs and we are suggesting that folks move off teamcity servers and move to any of the other public free servers (including our own nuget.server).

At the same time,

[2016-04-05 17:06] yishaigalatzer commented on #2457
Thanks for a cool idea.

We need to see if this is something that can be done reliably. We should probably limit it with a flag, so we don't enforce a breaking change to users.

Given our current backlog, this item doesn't fit high on the list, but we would gladly take a pull request if you want it promoted.

[2016-04-05 17:10] yishaigalatzer commented on #2455
The service is not owned by NuGet, @tripleemcoder is the owner, please reach out to him directly.

[2016-04-05 17:10] #2455 closed, assigned to nobody

[2016-04-05 17:11] yishaigalatzer commented on #2454
Can you give us some more details? What is the server you are using? What version of the nuget client? Can you share a fiddler trace?

[2016-04-05 17:11] #2453 closed, assigned to nobody

[2016-04-05 17:34] yishaigalatzer commented on #1671
Merged, and will be released in nuget,exe 3.4.2

[2016-04-05 17:34] #1671 closed, assigned to alpaix

[2016-04-05 17:41] rrelyea opened #2459 "NuGet package browse fails on VS installs w/o web projects if All Sources browse is used"
We had this tracked as in VS bug DB as bugs: 205841/206184
Creating a GitHub issue to ensure we clearly mark what fixes made it 3.4.1.

[2016-04-05 17:41] rrelyea commented on #2459
Fixed and shipped in 3.4.1 NuGet.Tools.vsix

[2016-04-05 17:41] #2459 closed, assigned to deepakaravindr

[2016-04-05 17:42] rrelyea commented on #2370
Marking as 3.4.1 milestone...this fix shipped there.

[2016-04-05 17:49] #2452 closed, assigned to TimBarham

[2016-04-05 18:11] yishaigalatzer commented on #2114
This is now done

[2016-04-05 18:11] #2114 closed, assigned to analogrelay

[2016-04-05 18:43] forderud commented on #1864
@yishaigalatzer did you say that there was some Microsoft NuGet activity related to C++ that I can test out?

[2016-04-05 18:51] yishaigalatzer commented on #1864
pinged them again just now

[2016-04-05 19:24] rrelyea commented on #2459
(problem was that Lucene.net.dll needed to be added to our vsix, so that we always had it).

[2016-04-05 20:04] emgarten commented on #2426
@McMlok and @codybaxter do you have any further steps that can help me reproduce this? Here is what I tried.
1. Using NuGet 3.4.1.807 and Nexus Repository Manager 2.12.1-01
2. Add a hosted repository
3. Upload System.IO.Abstractions 2.0.0.123 through the Nexus manager
4. Add nuget.org proxy feed to NuGet through VS: http://localhost:8081/nexus/service/local/nuget/nuget-org/
5. Add local feed to Nu

[2016-04-05 20:49] wbradney commented on #2449
I actually seem to be having trouble with project.json in native/CLI projects. Is this supposed to be supported?

[2016-04-05 20:52] joelverhagen commented on #2448
Closed with https://github.com/NuGet/NuGet.Client/pull/461.

[2016-04-05 20:52] #2448 closed, assigned to joelverhagen

[2016-04-05 21:16] emgarten commented on #2449
project.json is not supported for native yet

[2016-04-05 21:28] joelverhagen commented on #2458
Right now these messages are on the `info` level. There are two levels that are more verbose than `info`. They are `verbose` then `debug`. I think we should consider putting them at the `verbose` level.

[2016-04-05 21:31] xoofx commented on #2455
@yishaigalatzer thanks, well, that's the problem I would like to talk then :sweat_smile:

NuGet.exe generates this symbol package (typically by default when using `project.json`) and when we push it NuGet.exe automatically push to `https://nuget.smbsrc.net/` so whenever there is a problem with this service, everybody using NuGet is impacted because almost everybody is pushing their symbols to this

[2016-04-05 21:46] plequere commented on #2354
We (VSEng) are also hitting this issue and had to downgrade our feed to v2. While I agree that the package isn't well formed, unfortunately we have no direct control over our packages since we're consuming packages from various sources in the VS build environment.

[2016-04-05 21:47] #2439 closed, assigned to zhili1208

[2016-04-05 21:48] emgarten commented on #2458
The notfound is confusing, but it also makes it clear that progress is happening and that the GET has finished. I don't know if it would be worth the effort but we could look at writing the status out differently to make 404 less scary.

[2016-04-05 21:49] yishaigalatzer commented on #2455
The service is external, and we don't plan to take ownership for it.We might at some point build our own, but it is not on the immediate horizon.

We are adding a feature to push to avoid pushing symbol packages to smbsrc if you'd like not to push them or push them somewhere else.

[2016-04-05 21:55] yishaigalatzer commented on #2354
I suggest pushing back on the package owners to remove the nupkg's from the package, but we will take a look at a fix for 3.5. If you'd like to speed it up, feel free to jump in and suggest a pull request.

[2016-04-05 22:00] spadapet commented on #2455
Look at this work item that adds a -NoSymbols option for push:
https://github.com/NuGet/Home/issues/2204

Here's the commit:
https://github.com/NuGet/NuGet.Client/commit/06312c8c0c59ef92c587779af443bb966ffaa83c

With that, you can choose to stop pushing symbols to that default server. You can push the symbol package somewhere else.

[2016-04-05 22:06] #2445 closed, assigned to zhili1208

[2016-04-05 22:46] codybaxter commented on #2426
When I am using the powershell console I don't see a problem. It is when I am using the GUI from within Visual Studio. When I click on the update tab, I get the issue and don't see any packages listed.

I am taking the following steps when I see the issue:
1. Start Visual Studio and open a solution
2. Launch "Manage Packages for Solution" from Tools->NuGet Package Manager
3. Click on Updates

This

[2016-04-05 22:47] rrelyea opened #2460 "Port support for Klondike 2.0 server via uri redirection (odata)"
Not sure which of these 2 we need:
- https://github.com/NuGet/NuGet.Client/commit/ea16486372d708c7d84a09af98ad7fd9c8804bc1
- https://github.com/NuGet/NuGet.Client/commit/7f8b4c1cdd4cff49dd7f8d302d0e56a525fee57c

[2016-04-05 23:11] joelverhagen commented on #2352
Fixed with https://github.com/NuGet/NuGet.Client/pull/451.

Per the original request...

We chose to make the option name `-ForceEnglishOutput`.

[2016-04-05 23:17] xoofx commented on #2455
Actually, I don't want to disable source-debugging-step-in, but ok, I assume that as SymbolSource/smbsrc.net is not supported, solutions like [GitLink](https://github.com/GitTools/GitLink) are the way to go now.

[2016-04-05 23:21] spadapet commented on #2430
Save this here: https://blogs.msdn.microsoft.com/ncl/2009/05/05/custom-http-authentication-schemes/

[2016-04-05 23:23] FeodorFitsner commented on #2455
You can also host symbol packages on MyGet: http://docs.myget.org/docs/reference/symbols

[2016-04-05 23:26] tomasz-soltysik opened #2461 "NuGet cmd 3.5 beta packs whole project directory, wrong version"
NuGet Command Line 3.5.0-beta-1133 packs whole project directory and sets version to 1.0.0
for UWP library.
Tested with and without nuspec. Probably connected with project.json handling.

[2016-04-05 23:40] emgarten commented on #2461
@lion92pl does your project.json file contain a version property? Normally UWP projects do not, we are still designing how pack should work for both UWP and CLI projects which have slightly different project.json formats.

[2016-04-05 23:48] emgarten commented on #2426
@codybaxter can you give me the exact commands you are running, and which source and type of source is selected for each command. The results you see from each would also help.

[2016-04-05 23:50] tomasz-soltysik commented on #2461
@emgarten No, my project.json contains only: dependencies, frameworks, runtimes.
Setting version in project.json fixes version part, but I think version from AssemblyInfo should be respected like in previous versions of NuGet cmd tool.
But what's more important, pack command still adds all files to package instead of only dll (like in previous versions).

[2016-04-05 23:52] NTaylorMullen opened #2462 "Tool restore without proper imports silently fails."
I have a tool (aspnet/RazorTooling) that utilizes `Newtonsoft.Json`. Currently `Newtonsoft.Json`'s package does not have the proper TFMs for the RazorTooling project to understand without imports. If I happen to make a mistake in my `project.json` and forget to include an import that works with `Newtonsoft.Json` I do not get an error on restore. Instead in my `deps.json` file `Newtonsoft.Json` is

[2016-04-05 23:53] mgunter6 opened #2463 "v3.4.1.807 of Nuget Pkg Mgr for VS2015 does not work with Artifactory"
I just installed v3.4.1.807 of Nuget Package Manager for VS 2015 which was released 3/30/2016. After doing so, Nuget Package Manager no longer works with packages exposed from my company's Artifactory server.

We run an in-house Artifactory Server which is set up to mirror all packages from the official nuget feed (I am not sure what technique is used to mirror these packages). I have VS2013 and V

[2016-04-06 00:02] tomasz-soltysik commented on #2461
Version is set in nuspec to `<version>$version$</version>`.
Also description is set in nuspec to `<description>$description$</description>` and it's also ignored. nuspec in packed nuget has description set to "Description" (during packing there is warning about it)

Warnings connected to packing whole directory:

[code]

[2016-04-06 00:04] emgarten commented on #2463
Dupe of https://github.com/NuGet/Home/issues/2439

[2016-04-06 00:15] emgarten commented on #2426
Is this through Nexus, or are you unable to get to nuget.org directly also?

Would you paste the exact url calls being made and what the expected version should be?

[2016-04-06 00:16] yishaigalatzer commented on #2455
Yes to what @FeodorFitsner said. The myget team added a symbol server support.

We are contemplating dropping the default symbol server support, but it is still useful even with the potential 500s coming from smbrc, so for now we decided not to drop the support.

@xoofx - GitLink is a pretty awesome way to got at it.

[2016-04-06 00:16] yishaigalatzer commented on #2426
Better yet, paste a fiddler trace

[2016-04-06 00:17] emgarten commented on #2426
I've changed to Nexus 2.11.4-01 and am able to install through the Nexus proxy to nuget.org fine. Updates also work as expected.

:+1: on the fiddler trace.

[2016-04-06 00:17] xoofx commented on #2455
Yep, until they [support for project.json](https://github.com/GitTools/GitLink/issues/83) :sweat_smile:

[2016-04-06 00:22] brthor commented on #2462
I have noticed this as well with `dotnet-compile-fsc`

[2016-04-06 00:23] brthor commented on #2462
@NTaylorMullen It might be more helpful to look at the lock file entry for your tool rather than the `deps.json` since `deps.json` is a cli generated artifact.

The lock file should be right next to the deps.json.

[2016-04-06 00:35] yishaigalatzer commented on #2455
@xoofx love that you are using all the new stuff :)

xproj is not yet RTM, so lets give them some props for the great work they have done so far. Also side note, project.json is a bit misleading statement because there are two varieties (one with csproj and one that is either standalone or with xproj)

[2016-04-06 02:19] Clockwork-Muse commented on #2414
@yishaigalatzer - I get no user-agent.
It's dying during DNS lookup, since I don't have any connection.

I suspect you're probably right, though.

[2016-04-06 02:35] yishaigalatzer commented on #2414
I'll wait for further feedback or you can try some other tool that will tell you what exe initiated the call

[2016-04-06 03:02] wbradney commented on #2449
Ah, that kind of kills my plans then, I think. A shame, because I was actually enjoying the advantages over packages.config.
Any ETA for native support?

[2016-04-06 03:08] Clockwork-Muse commented on #2414
Looks like it's blaming dotnet.exe, from the dotnetcli.  So yeah, using an external command, not the hosted one.

[2016-04-06 04:16] artkat commented on #2442
Used Fiddler to monitor the NuGet Package manager requests and results:
There are clearly differences in the request.
This time, only one time I got the 'Error Occurred' message, but the results are very different between v3.3 and v3.4.1

NuGet 3.4.1 Searching for 'mvvmcross' with target Android
https://www.nuget.org/api/v2/curated-feeds/microsoftdotnet/Search()?$filter=IsLatestVersion&searchTerm=

[2016-04-06 04:48] Kanimozhi12 commented on #2443
adding /odata is not working for me, any other workaround there?

[2016-04-06 04:50] Kanimozhi12 commented on #2439
When the fix will be available. Whether it will be a Hot fix or update?

[2016-04-06 05:25] emgarten commented on #2442
@artkat thanks for the traces. It looks like your feeds have changed. Instead of searching nuget.org you are now searching the .NET curated feed (a subset of nuget).

Try this: close all instances of Visual Studio, then delete `%AppData%\NuGet\NuGet.Config`
Next re-open Visual Studio and try your search again.

More info can be found on: http://docs.nuget.org/release-notes/known-issues

[2016-04-06 05:47] yufeih commented on #1320
@emgarten I installed VS2015 Update 2, created a console app and an xproj library, then reference  xproj from csproj, it gave me the following error:

![image](https://cloud.githubusercontent.com/assets/511355/14306897/dfe2fa7a-fbfd-11e5-81b5-caccafea6d91.png)

Is there a working sample where I can learn how to do the trick? Thanks!

[2016-04-06 06:47] stashev commented on #2426
Package Manager Console (aka Powershell) works well in Visual Studio with nuget 3.4. It shows list of packages from my private feed.
The issue only with GIU of Package Manager. It looks like

![image](https://cloud.githubusercontent.com/assets/7887482/14308098/81008890-fbdc-11e5-93f3-829bc44e9e1f.png)

[2016-04-06 08:28] jochenwezel commented on #2352
absolutely great! :+1:

One additional question because most depending tools are developed to support older Visual Studio versions, too.

If I understand it correctly, NUget 3.5 will be available only for VS2015 or higher because earlier VS versions depend on NuGet 2.x.
Are these changes also visible to VS <= 2013 ?

[2016-04-06 09:37] hickford opened #2464 "NuGet.NetPortableProfile is not thread-safe"
I innocently assumed the method `NuGet.VersionUtility.TryGetCompatibleItems` (in NuGet.Core.dll) would be thread-safe. It turns out not to be (example stack trace below). Reading the source code, this looks to be due to [naive lazy initialisation of NetPortableProfileTable.Profile](https://github.com/NuGet/NuGet2/blob/2.11/src/Core/NETPortable/NetPortableProfileTable.cs#L50)

I expect it would be

[2016-04-06 09:41] hickford commented on #2464
It looks like other people have suffered the same bug too:
1. https://github.com/NuGet/Home/issues/778
2. https://gitcandy.com/Repository/Commit/KRuntime/df5e113c14429708b901f3cce69b1279865618b1/src/Microsoft.Framework.Runtime/NuGet
3. http://stackoverflow.com/q/24429838/284795

[2016-04-06 10:09] artkat commented on #2442
@emgarten: That seems to do the trick ;-)
Not sure why v3.4.1 would change the feed to the .NET curated feed.

[2016-04-06 10:09] #2442 closed, assigned to nobody

[2016-04-06 10:37] hickford commented on #2425
Would you at least add NuGet.Core.xml to the package so Intellisense shows some documentation? https://github.com/NuGet/Home/issues/2381

[2016-04-06 14:10] yishaigalatzer commented on #2425
We stopped investing in nuget.core, but adding an XML might work.

There is no direct replacement to nuget.core, depending on what you are trying to do we might be able to suggest a path

[2016-04-06 14:13] yishaigalatzer commented on #2352
These changes are only for nuget.exe, not inside visual studio. We are unable to make these in visual studio proper without a deeper discussion and approvals from the visual studio team.

We are not planning on further investments in 2013 other than critical bug fixes or major blocking issues like new target frameworks.

[2016-04-06 14:14] yishaigalatzer commented on #2426
Can you share a fiddler trace?

[2016-04-06 14:24] harikmenon opened #2465 ".NET CLI Support"
<Test>

[2016-04-06 14:36] HugoLemieux opened #2466 "Package add wrong reference when a library item with the same name exists in the project(#2438)"
I am opening a new issue for the #2438 which is now closed.

I understand that projects and packages are treated the same by NuGet and that they must have unique names.

I do not understand why the reference added by a package is targeting the wrong library.

From the example your are giving me with the project B, I am not sure I was clear enough to make my point.

I have made a Visual Studio solu

[2016-04-06 14:56] AJLC commented on #2426
had the same problem.  Here is the stack trace

System.ArgumentException: 'null' is not a valid version string.
   at NuGet.Versioning.VersionRange.Parse(String value, Boolean allowFloating)
   at NuGet.Protocol.V2FeedPackageInfo.get_DependencySets()
   at NuGet.Protocol.Core.v3.PackageSearchMetadataV2Feed..ctor(V2FeedPackageInfo package)
   at NuGet.Protocol.PackageMetadataResourceV2Feed.<>c.<Get

[2016-04-06 14:59] yishaigalatzer commented on #2426
Thanks that really helps. We just need a good set of repro steps if you can help us with that

[2016-04-06 15:02] AJLC commented on #2426
Built a package (GIT, TeamCity). Has 3 files included.  It builds OK.  Doing a search for updates in PM fails with the "'null' is not a valid version string.".   Forced an Uninstall.  Found the package via Browse.  Added it, then bang with the above exception.

[2016-04-06 15:05] yishaigalatzer commented on #2426
Need more exact details and perhaps the package and a fiddler trace showing the payload

[2016-04-06 15:06] AJLC commented on #2426
Sorry but not sure if I would have permission to send this information as it is a client site.

[2016-04-06 15:07] yishaigalatzer commented on #2426
Anonimize it. We don't need to see your code, or any proprietary names

[2016-04-06 15:07] AJLC commented on #2426
will see what I can get

[2016-04-06 15:08] jochenwezel commented on #2352
@yishaigalatzer Thank you for this information. I hoped a different result, but I understand your decision, too :-)

[2016-04-06 15:08] mgunter6 commented on #2463
Aha! Thank you, @emgarten.

[2016-04-06 15:08] #2463 closed, assigned to nobody

[2016-04-06 15:16] AJLC commented on #2426
[code]

[2016-04-06 15:17] AJLC commented on #2426
`HTTP/1.1 200 OK
Date: Wed, 06 Apr 2016 15:10:08 GMT
X-Frame-Options: SAMEORIGIN
X-Content-Type-Options: nosniff
Server: Nexus/2.11.2-06 Noelios-Restlet-Engine/1.1.6-SONATYPE-5348-V8
Content-Type: application/xml; charset=UTF-8
Vary: Accept-Charset, Accept-Encoding, Accept-Language, Accept
Content-Length: 26155

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<feed xml:base="http://nexus:8

[2016-04-06 15:18] AJLC commented on #2426
How do I send it without it being munged please

[2016-04-06 15:19] yishaigalatzer commented on #2426
Much appreciated. We want to try and resolve today

[2016-04-06 15:21] yishaigalatzer commented on #2426
This should be enough, will reach out if we need more. You can also send direct to my email: y i g a l a t z @ msft.com

[2016-04-06 15:28] AJLC commented on #2426
email sent

[2016-04-06 15:41] onlyutkarsh opened #2467 "During long running task if I close the Package Manager console window - I cannot open again."
In VS Package Manager Console, if you are running a long running task (or a task which is hung) and I close the package manager console (without stopping the task), I can no longer open "Package Manager console" via the menu. The menu item is greyed out.

![image](https://cloud.githubusercontent.com/assets/2685029/14322846/2c9de92a-fc16-11e5-825c-803767cb1bc4.png)

I also cannot open this window f

[2016-04-06 16:39] TripleEmcoder commented on #2455
Hi everyone, I'd like to chime in as the owner (or part of the owner duo to be precise).

We have had major issues before with SymbolSource, but smbsrc.net is running on code written from scratch, which should be quite reliable. What failed this particular time was the monitoring system, which did not alert us about upstream failure. I did some tuning to make sure this doesn't happen again.

I kno

[2016-04-06 17:09] #2373 closed, assigned to alpaix

[2016-04-06 17:31] toddm commented on #2461
Support for project.json just went in this week.  As you found, there is a bug that it ends up with default values for properties like version when it reads the json file and those were overriding the values from the project file.  I'm fixing that now.
Note that it now packs using the project file + project.json if it's there. We don't support project + json + nuspec so your nuspec file will be ig

[2016-04-06 17:34] kreuzerkrieg commented on #2441
@emgarten could you please reopen?

[2016-04-06 17:36] mtrtm opened #2468 "Consider installer for NuGet.exe (w/ adding to path, etc...)"
The release for nuget states that nuget "is only available with Visual Studio 2015, and was included in the distribution of Visual Studio 2015 Update 1".  I have a clean development machine with VS 2015 and can open up Package Manager Console, type nuget, and get an error.  This is crazy, it should just work.

I know Windows users shy away from the command line, but stuff like this is why.  Please

[2016-04-06 17:40] emgarten commented on #2464
Use the `NuGet.Frameworks` library

[2016-04-06 17:55] zhili1208 commented on #2439
it will be released by the end of this week

[2016-04-06 17:56] natemcmaster opened #2469 "Tools as a project reference"
Currently, tools extensions can only be added as a package reference. This makes local development of tools and end to end testing cumbersome.
## Example scenario

Be able to reference a dotnet tool from a project in the same solution.

[code]

[code]
## Workaround

In the meantime, the inner dev cycle is to pack and restore the tool into the test project.

[2016-04-06 18:31] yishaigalatzer commented on #2469
@natemcmaster please write proper issues, I can't parse this

[2016-04-06 18:33] natemcmaster commented on #2469
@yishaigalatzer  not sure what you mean. Also, did you delete the content of my issue?

[2016-04-06 18:33] yishaigalatzer commented on #2468
NuGet.exe is not part of the nuget visual studio install, furthermore package manager console is not intended to run generic command line executables.

We do not have an installer for nuget.exe, and don't plan to have one. We expect you to add nuget.exe to the path of your choice.

[hit comment too fast] I'm interested to hear if you have further input for discussion here.

[2016-04-06 18:35] yishaigalatzer commented on #2469
Of course I didn't :) That's the point why I'm asking for more data

[2016-04-06 18:36] natemcmaster commented on #2469
Oh, weird. I typed out an explanation of the issue when I submitted. Must have been a weird networking error. I'll edit comment and re-write.

[2016-04-06 18:40] natemcmaster commented on #2469
@yishaigalatzer re-added content. Apologies for empty issue cc @githubstatus

[2016-04-06 18:43] yishaigalatzer commented on #2469
Thanks, the ask makes sense, I'm not sure how this will actually work because these tools are global so we might end up in contention here.

I'll start a design discussion

[2016-04-06 18:45] simonejsing commented on #2354
The bug is in PackageFolderReader in the GetFiles() method:

[code]

which excludes all .nupkg files

[2016-04-06 18:51] simonejsing commented on #2354
will have a suggested fix out shortly

[2016-04-06 18:51] yishaigalatzer commented on #2354
Thanks for pointing out where the code filters out the nupkg files. It is obviously an intended behavior with a side effect for your scenario, I don't think that is where the bug/fix actually is. We don't want the nupkg to flow from the global package folder out to the target, and it is hard to tell what is the nupkg file exactly (because the filename might vary)

So a fix would be a lot more spec

[2016-04-06 18:52] simonejsing commented on #2354
my suggested fix is to exclude only .nupkg files that are in the root of the package

[2016-04-06 18:53] yishaigalatzer commented on #2467
The thought here is to just close the window, but not to get rid of anything else. So showing up the window will just be a simple visual thing rather than killing it off completely.

[2016-04-06 19:01] yishaigalatzer commented on #2466
Please share the project, so we can understand better.

[2016-04-06 19:02] yishaigalatzer commented on #2466
Also note that you can always ping us on a bug, and we will reopen, there is typically no need to create duplicates. We sometime close the bug because we think it is resolved (our bad), but we always listen to further comments/pings and reopen if necessary

[2016-04-06 19:04] yishaigalatzer commented on #2456
@Lechus if you can share a fiddler trace from 3.4 + Team city for the packages that don't work, we might be able to to take care of it.

I'm tentatively putting in 3.4.2 with a strong chance of this being bumped out (due to timing) to another release

[2016-04-06 19:06] yishaigalatzer commented on #2454
ping, we want to wrap up a 3.4.2 release today and your feedback will be really helpful to nail this issue down.

[2016-04-06 19:08] yishaigalatzer commented on #2354
That should work

[2016-04-06 19:09] simonejsing commented on #2354
The change that introduced the filter was related to this issue:
https://github.com/NuGet/Home/issues/1387

which talks about duplicate .nupkg files at the root of the package, so I don't think this should cause unintended side effects.

[2016-04-06 19:12] simonejsing commented on #2354
Which branch should I be requesting to be pulled into? I can't get the dev branch to build (some missing DotNet under msbuild folder), so I'm currently working in head detached mode from this tag: v3.4.0-rc-VSIX.

[2016-04-06 19:14] yishaigalatzer commented on #2406
Yes, we heard back a few ideas. We will need to spend time trying to get to the bottom of it. I expect the work to start in a few days or a couple of weeks at the latest.

In general I would advise that people that have older versions of NuGet (lower than 3.4.1 at the moment) should just update, and I wouldn't try to support older clients. Since visual studio Update 2, nuget is now in an automatic

[2016-04-06 19:25] yishaigalatzer commented on #2386
@deepakaravindr is this completely done?

[2016-04-06 19:29] #2423 closed, assigned to alpaix

[2016-04-06 19:29] #2374 closed, assigned to alpaix

[2016-04-06 19:45] forderud commented on #2423
@alpaix thanks a lot for fixing this issue. I really appreciate it.

[2016-04-06 19:46] deepakaravindr commented on #2386
@yishaigalatzer, No. It is blocked on the dependency bugs

[2016-04-06 19:58] mtrtm commented on #2468
OK, so which is correct?  The home page and your comment seem to contradict one another.

[2016-04-06 20:11] yishaigalatzer commented on #2468
Can you link to what you refer to?

[2016-04-06 20:30] joelverhagen commented on #2462
/cc @davidfowl

So what we're saying is that if a dependency of a tool _or the tool itself_ is not compatible with `netstandardapp1.5` plus `imports`, `dotnet restore` should fail in the same way as a normal (non-tool) restore would fail?

[2016-04-06 20:43] mtrtm commented on #2468
http://docs.nuget.org/ has the quote I referred to earlier: "NuGet 3.3 was released on November 30, 2015, is only available with Visual Studio 2015, and was included in the distribution of Visual Studio 2015 Update 1"

[2016-04-06 21:10] yishaigalatzer opened #2470 "Support contentmodel in Project to project references"

[2016-04-06 21:17] yishaigalatzer commented on #2468
Thanks, what is the contradictory statement? NuGet 3.3 is a generic name for the release, we have released two separate products:
1. The vsix (or the visual studio extensions)
2. NuGet.exe

They are individually downloadable, and one doesn't require the other.

[2016-04-06 21:18] kingerja opened #2471 "Incorrect package version is used under NUGET_PACKAGES"
Nuget version used:
3.5.0.1139 shp  4,020,952 04-06-2016 nuget.exe

repro steps:
set NUGET_PACKAGES=d:_t
nuget install CommonServiceLocator -source https://api.nuget.org/v3/index.json
dir D:_t\CommonServiceLocator

Note the folder is 1.3.0
Note the package name is CommonServiceLocator.1.3.0.nupkg
Note the package version in the nuspec is 1.3

Also note the console output of that command is complet

[2016-04-06 21:19] yishaigalatzer commented on #2386
I don't quite follow - Can we produce dev14 and dev15 builds for 3.4.2 (which is what I think this bug is tracking for 3.4.2)?

[2016-04-06 21:23] drewgil commented on #2386
We only have one build at this point, which works fine against Dev14 and *mostly* fine against Dev15 (except for the cpp install and TFS issues described above). We do not have the ability to build a pure Dev15 VSIX yet, which is the work Deepak is referring to.

[2016-04-06 21:27] emgarten commented on #2460
Merged to release-3.4.2 with NuGet/NuGet.Client@1e4eaede0ce4f9a5148d01aef64c55d93c1b63f8

[2016-04-06 21:27] #2460 closed, assigned to emgarten

[2016-04-06 21:29] yishaigalatzer commented on #2420
Hey @chrisdrobison we now have a fix ready. Would you be able to send us your private email address so we can put private bits in your hands for early validation (Same stands for anyone else interested in trying out the fix).

Please use the following two email addresses:

yigalatz @ microsoft.com
juste @ microsoft.com

[2016-04-06 21:30] deepakaravindr commented on #2386
@yishaigalatzer  and @drewgil.
Yes, we can build 3.4.2 for Dev14 and Dev15 from different branches. Just not off a single branch.
If we preferred, we can close this as dupe of https://github.com/NuGet/Home/issues/2293.

[2016-04-06 21:31] emgarten commented on #2471
This is by design. Versions are normalized to at least three digits, and four if the fourth digit is non-zero. This allows NuGet to determine exactly what the folder path will be without searching for all folders or trying to guess every form of the version with and without leading and trailing zeros.

Packages.config/repositoryPath is unable to change since those paths already exist as references

[2016-04-06 21:32] emgarten commented on #2471
Not also that NUGET_PACKAGES refers to the location of the global packages folder which is used as a packages cache for nuget.exe install. It is not expected to be the output path for nuget.exe install.

[2016-04-06 21:36] mtrtm commented on #2468
OK, so you are implying that "NuGet 3.3" actually means the NuGet visual studio extension.
1. That's too bad, not sure why one would be included but not the other
2. If that isn't changing, I would suggest being explicit about this as it could be read either way
3. Maybe there is a difficulty that I don't see, but it would be best for users to have both vsix and exe, so why is the exe excluded?

[2016-04-06 21:38] emgarten opened #2472 "Warn or error when no package sources exist"
Both nuget for the command line and Visual Studio should warn or error out when a user attempts an operation with no sources. Today the results from these operations produce error messages about not finding the packages, but it doesn't tell the user the obvious: they have no sources and it wasn't going to work from the start.

This scenario is often made worse by what looks like a source in their

[2016-04-06 21:44] yishaigalatzer commented on #2468
If we started dropping nuget.exe as part of the vs install, you will quickly end up with stale instances of nuget.exe, so for now we prefer to not add it to the installer until we can figure out a good story. I'm definitely not saying this will never happen, just that it is not high enough on our todo list and the impact of downloading nuget.exe is very low. I need to find the bug asking as to inc

[2016-04-06 21:55] emgarten commented on #2426
Fixed with NuGet/NuGet.Client@70dcff717b423bb198159537bc32bebef36a8498

@AJLC thanks for the help tracking that down! The error message about _null_ is referring to the actual string null, which Nexus appears to write in for the version range on package dependencies in some cases. Other servers just leave it blank instead of writing null.

NuGet 3.4.1 is stricter on bad data than in the past to he

[2016-04-06 21:57] mtrtm commented on #2468
I would assume that the following user story would be beneficial for everyone:

"As a user, I open Visual Studio 2015, open the Package Manager Console window, type nuget, see nuget options"

What it is now:

"As a user, I open Visual Studio 2015, open the Package Manager Console window, type nuget, get an error, google the error, read a bit, realize I have to download nuget.exe even though I know

[2016-04-06 21:57] yishaigalatzer commented on #2426
I never received your email. Can you please try again (with actual Microsoft.com as the domain) so we can share with you bits to prove out the fix before releasing?

Also include juste on the email

[2016-04-06 22:00] AJLC commented on #2426
will do. but will be @ 8.30am UK time to get access to my work email.

[2016-04-06 22:01] yishaigalatzer commented on #2468
That's not the what you are supposed to do. You should use nuget.exe in the package manager console. You should use the built in cmdlets like find-package etc. Everything you need is already there, see https://docs.nuget.org/consume/package-manager-console-powershell-reference

[2016-04-06 22:03] yishaigalatzer commented on #2426
Shoot as from any email and share the work one. We should have a build later tonight

[2016-04-06 22:05] mtrtm commented on #2468
We are definitely talking past each other here.  I am using package manager console.  It doesn't work out of the box, and the second user story above is what is required to make the console work on a clean install.  I'm not sure what you are trying to say

[2016-04-06 22:07] yishaigalatzer commented on #2468
Obviously. Nuget.exe is not intended to be called from package manager console, read the doc link it shows what is intended to work there. And let's talk again after you read it

[2016-04-06 22:07] yishaigalatzer commented on #2468
I'll also be glad to jump on a Skype call to talk directly. Yishai Galatzer is my Skype id

[2016-04-06 22:11] AJLC commented on #2426
have sent anot email from my personal account that is linked to this.

[2016-04-06 22:13] yishaigalatzer commented on #2426
Got it, thanks!

[2016-04-06 22:20] mtrtm commented on #2468
I don't have skype or else I would.  You say "You should use nuget.exe in the package manager console", then 6 minutes later you say "Nuget.exe is not intended to be called from package manager console".

Either way, developers find themselves needing to directly use nuget.exe for things other than getting packages.  When that happens, they can use cmd, powershell, or package manager console.  I r

[2016-04-06 22:26] yishaigalatzer commented on #2468
Sorry if it sounded like I said it, that would be my mistake in communication.
Let me clarify "You should not use or need to use nuget.exe in package manager console", package manager console provides cmdlets that cover everything you need to use. All of that is documented in the link I sent above.

Furthermore package manager console is not a generic console for running any executable, it is all

[2016-04-06 22:29] yishaigalatzer opened #2473 "Install nuget.exe with an install of visual studio"
Customers would like to see nuget.exe installed as part of installing visual studio and having it in the path (or perhaps as part of the visual studio command line).
## Considerations
1. NuGet is not an msi installer, and is updating constantly, we need to figure out how we can safely bring nuget.exe without jeoperdizing out install pattern.
2. We need to figure out how to update it
3. Nuget.exe s

[2016-04-06 22:29] yishaigalatzer commented on #2468
https://github.com/NuGet/Home/issues/2473

[2016-04-06 22:33] yishaigalatzer commented on #1864
@forderud have you been contacted?

[2016-04-06 22:36] JesperRisager commented on #2426
I have the same issue, when do you plan on making a release of this, and is it possible to get a beta release faster?

In other words how do I get access to this the fastest way?

[2016-04-06 22:41] alpaix opened #2474 "Convert_WithValidImageUrl_DownloadsImage fails on CI"
`NuGet.PackageManagement.UI.Test.IconUrlToImageCacheConverterTests.Convert_WithValidImageUrl_DownloadsImage` fails on CI out of some unclear reason. In order to unblock the 3.4.2 release it's been disabled for now.

[2016-04-06 22:45] yishaigalatzer commented on #2426
Shoot us an email

[2016-04-06 23:10] maartenba opened #2475 "V2 requests don't encode URLs correctly"
Request in 3.4 (broken and not getting results):
`http://www.nuget.org/api/v2/Search()?$filter=IsLatestVersion&searchTerm=''&targetFramework='portable45-net45+win8+wp8'&includePrerelease=false&$skip=0&$top=26`

Request in 3.3:
`https://www.nuget.org/api/v2/Search()?$filter=IsLatestVersion&$orderby=DownloadCount%20desc,Id&searchTerm=''&targetFramework='portable-net45%2Bwin%2Bwp80'&includePrerelease

[2016-04-06 23:15] NTaylorMullen commented on #2462
Correct.

[2016-04-06 23:21] joelverhagen commented on #2458
I've thought a little more about this and talked to some other people. This is still an open discussion, but these are my thoughts:

The `404 Not Found` information is just as relevant as a `200 OK`, in my opinion. There are both valid signals from a NuGet server. I think the deeper point here is that we are using the HTTP log messages for two different purposes:
1. Telling us what source a packag

[2016-04-06 23:26] jainaashish commented on #2420
Commit with PR https://github.com/NuGet/NuGet.Client/pull/457 and also merged to release-3.4.2 and release-3.4.2-dev15