[2019-12-17 04:13] txwizard commented on #8159
Further investigation led to the creation of the following custom task.

[code]
The task is consumed as follows.
[code]
This is cumbersome and expensive because the above fragment must be incorporated into the project file of _every_ NuGet package that adopts SemVer version numbering, unless there is a way to import them that I have yet to discover. Nevertheless, this is how I must proceed until t

[2019-12-17 04:23] txwizard commented on #3050
@InteXX , I may have misinterpreted the labels shown in the upper right corner of the issue page, where I see a Priority 1 label. In any case, has anyone in this thread reviewed https://github.com/NuGet/Home/issues/8159?

[2019-12-17 04:24] txwizard commented on #8159
By cross referencing https://github.com/NuGet/Home/issues/3050, I hope to close a loop.

[2019-12-17 04:32] InteXX commented on #3050
@txwizard

Yes, the meaning of that label is unclear.

[#8159](https://github.com/NuGet/Home/issues/8159): The hits just keep on coming.

[2019-12-17 06:00] kushaag opened #8951 "CSProj doesn't find central version from Directory.Packages.props"
I created Directory.Packages.props file at solution level, but project doesn't refer Directory.Packages.props for version. Followed steps from https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions.

[central-level-pkg.zip](https://github.com/NuGet/Home/files/3971647/central-level-pkg.zip)
@lovakumar

Please suggest if I am missing something.

[2019-12-17 06:03] NicolasDorier commented on #7921
Had this problem with 3.1.100.

I deleted my nuget cache `dotnet nuget locals all --clear`, then deleted the lock file, and regenerated it.

This fixed the issue.

[2019-12-17 06:05] Lovakumar commented on #8951
Added @anangaur for quick resolution.

[2019-12-17 06:41] anangaur commented on #8951
+ @cristinamanum
 This feature is currently being implemented. The link mentioned above is to the spec that’s currently being reviewed.

This is the second time folks have reached me. Looks like we need to mention “Spec” and status more prominently. However, happy to see developers are actively looking for the feature.

[2019-12-17 06:59] heng-liu opened #8952 "Remove Temp fix on patching"
For xplat verification, we use a temporary workaround to make the patching SDK work. We should remove this Temporary fix on patching when https://github.com/NuGet/Home/issues/8570 or https://github.com/dotnet/sdk/issues/3629 is closed.

[2019-12-17 07:36] kushaag commented on #8951
Thank you Anand! could you please let us know when the feature will be available ?

Thanks,

[2019-12-17 07:40] FogDai commented on #8874
ncie

[2019-12-17 09:03] PawcioCNCProfi opened #8957 "Item template is no longer visible after adding Asset elements"
- After adding the `Asset` elements for nuget packages. The template is no longer listed in list of available item to add to projects.

- I also don't understand why do I need to set `repositoryId` in template properties to VSIX project id, essentially creating circular dependency between those project.

- The "2. Place your `nupkg` files in a folder called `Packages` within the VSIX." instruction

[2019-12-17 09:14] kesso1 commented on #8944
This is the verification output:

c:\temp>nuget verify -All microsoft.csharp.4.7.0.nupkg

Verifying Microsoft.CSharp.4.7.0
c:\temp\microsoft.csharp.4.7.0.nupkg

Signature Hash Algorithm: SHA256
Timestamp: 15.11.2019 10:52:49

Verifying author primary signature's timestamp with timestamping service certificate:
  Subject Name: CN=Symantec SHA256 TimeStamping Signer - G3, OU=Symantec Trust Network,

[2019-12-17 09:51] v-luzh commented on #8929
@donnie-msft, it repro on VS Master 29616.87, the message showing in Package Manager output window is as below.

Attempting to gather dependency information for multiple packages with respect to project 'WebFormsSite3', targeting '.NETFramework,Version=v4.8'
Gathering dependency information took 15.86 sec
Attempting to resolve dependencies for multiple packages.
Resolving dependency information to

[2019-12-17 10:50] markvincze commented on #8543
Hey all,

I'm having a similar issue, but with `dotnet nuget push`, it prints the following error.

[code]

It's happening with the `mcr.microsoft.com/dotnet/core/sdk:3.1` image, but so far couldn't reproduce it locally on my Windows machine, not even in the same repo. Has there been anything discovered about what this can caused by?

[2019-12-17 12:22] LeMorrow commented on #8580
@timheuer Odd indeed! Removing line 58 did not make a difference as you hypothesized. The detailed verbosity provided a stack trace, don't know if that will be useful for anyone taking a look at this. Let me know if there's anything else I can do to help reproduce/debug this issue :)

Here's the result without line 58 and detailed verbosity:
https://github.com/LeMorrow/APOD.Net/runs/352456423#step

[2019-12-17 15:04] Aarklendoia commented on #8148
In addition to this problem, if a symbol package is available, it is always pushed even if the SkipDuplicate option has been added. We have the following error on the nuget.org side because the package and symbols no longer match.

The uploaded symbols package contains one or more pdbs that are not portable.
Once you've fixed the issue with your symbols package, you can re-upload it.

If both pack

[2019-12-17 15:19] JorritSalverda commented on #8543
What seems to go wring is if you specify the path to the nupkg file *after* flags like `--source` and `--api-key`, like `dotnet nuget push  --source <private repo url> --api-key <private repo api key> /path/to/file.nupkg`. Switching to `dotnet nuget push /path/to/file.nupkg --source <private repo url> --api-key <private repo api key>` fixes the issue.

It would be nice if the nuget client either a

[2019-12-17 15:35] donnie-msft commented on #5049
These options were made available in Release 16.4 Preview 2 in Sprint 159 from [this PR](https://github.com/dotnet/project-system/pull/5538).

This work was initially thought to be more complex, and require a new NuGet [IProjectItemContextMenuProvider](https://github.com/microsoft/VSProjectSystem/blob/master/doc/extensibility/IProjectItemContextMenuProvider.md), which I had as a work-in-progress,

[2019-12-17 15:35] #5049 closed, assigned to donnie-msft

[2019-12-17 15:42] donnie-msft commented on #8778
dotnet PR was merged in release 3.1.2xx https://github.com/dotnet/cli/pull/13012#pullrequestreview-332127842

[2019-12-17 17:29] #8676 closed, assigned to zkat

[2019-12-17 17:29] #8506 closed, assigned to zkat

[2019-12-17 17:29] #8677 closed, assigned to zkat

[2019-12-17 18:04] jeffkl commented on #8692
You should hit this issue a lot less with MSBuild 16.4/.NET Core 3.1.  I'm working on a fix in NuGet as well which should resolve it completely.

[2019-12-17 18:04] AndreyAkinshin opened #8953 "CachingSourceProvider should be able to work with custom set of resource providers"
Currently, it has only a single ctor with predefined set of resource providers:
[code]

[2019-12-17 18:38] CaptainCMake opened #8954 "Could not resolve type with token 0100024c on Ubuntu 18.04 with NuGet 5.31 and newer"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 5.3.1, 5.4.0, 5.5.0-preview1

OS version: Ubuntu 18.04.2 LTS (ran through Windows Subsystem for Linux, in my case)

Worked before? If so, with which NuGet version: 5.2.0

## Detailed repro steps so we can see the same problem

1. sudo apt install mono-devel
1. wget https://dist.nuget.org/win-x86-commandline/v5.5.0-preview1/nug

[2019-12-17 19:03] friedrich-brunzema commented on #8543
Jorrit - thanks for answering -- your solution worked great.  Who would have thought.   Did you look at the source to find out? The alternative to dotnet nuget is using nuget, and that is quite unpleasant on Linux, because you first have to install mono, then nuget, then download a newer nuget and manually install it.  Yes, let the issue be fixed, either by error message, or better, by accepting a

[2019-12-17 19:29] AlexanderJohnston commented on #4699
This makes Blazor development particularly difficult as I have to spend a lot of time manually updating the prerelease versions of packages across a large solution.

Package Management Console makes this reasonable to do thanks to `Get-Package -ProjectName $value | Update-Package -IncludePrerelease`.

But there are times when I do not have access to VS2019 and I must use VSCode. In those circumsta

[2019-12-17 19:54] dominoFire opened #8955 "Bless NuGet.exe 5.4.0"
- [x] Change the link https://dist.nuget.org/win-x86-commandline/latest/nuget.exe to point to 5.4.0
- [x] Push packages to nuget.org

[2019-12-17 23:08] donnie-msft opened #8956 "Update... & Update All... one click commands in Solution Explorer (Context Menu)"
From PM Tracking Issue: **Show NuGet commands in context menu**: https://github.com/NuGet/Home/issues/8041

From @chgill-MSFT 02/11/20: Relevant design spec can be found here: https://github.com/NuGet/Home/wiki/Update-Command-in-Context-Menu

[2019-12-18 02:28] dominoFire commented on #8954
@v-strob Thanks for reporting this issue.

What is the mono version that you're using?

[2019-12-18 03:20] dominoFire commented on #8929
Tried to repo with VS 29616.133 and got a different result. NuGet successfully updated the packages but there was an error in the output window:

![image](https://user-images.githubusercontent.com/1192347/71053000-f528d800-2101-11ea-97e4-9c2d765098d0.png)

@v-luzh Could you try to repro once more and use `handle.exe` to see which process is blocking the file?

Download hande.exe here: https://docs

[2019-12-18 03:48] dominoFire commented on #8954
Reproduced the bug on WSL on Ubuntu 18.04 LTS and mono 4.6.2

Looking forward to see if it is a nuget specific issue or a mono/wsl issue.

[2019-12-18 05:13] SmartmanApps commented on #8692
What are the steps to do this? (have never done it before)

[2019-12-18 05:16] SmartmanApps commented on #8692
I got hit by this when I updated VS2019 (I believe that was the reason anyway). Fortunately I hadn't updated nor uninstalled VS2017 and I was able to get it working there. No help to me for projects which are using C#8 (not supported by VS2017) but it's another workaround for some whilst we await a fix.

[2019-12-18 05:40] kamsar commented on #8692
https://docs.microsoft.com/en-us/dotnet/core/tools/global-json#sdk

[2019-12-18 06:23] zspitz commented on #7967
Considering that the SDK project format allows embedding NuGet package details inside the project file, are there still any use case for NuGetizer 3000?

[2019-12-18 12:05] eriawan opened #8958 "NuGet.exe restore has a misleading message about the MSBuild versions supported."
## Details about Problem

NuGet product used: NuGet.exe :

NuGet version (x.x.x.xxx): tested on 5.3.1.6268 and 5.2.0.6090

VS version (if appropriate): VS 2019 16.4.1 and VS 2019 16.3.5

OS version: Win10 v1909 build 18363.535

Worked before? N/A

NOTE:
nuget restore -h shows this:

![image](https://user-images.githubusercontent.com/8773147/71084795-a003c980-21c8-11ea-8af4-7849c64bb447.png)

## De

[2019-12-18 12:56] PawcioCNCProfi commented on #8957
I did not managed to accomplish installation of packages as described [in the article](https://docs.microsoft.com/en-us/nuget/visual-studio-extensibility/visual-studio-templates). But I found other way to do this.

I've created [custom template wizard](https://docs.microsoft.com/en-us/visualstudio/extensibility/how-to-use-wizards-with-project-templates?view=vs-2019).

Then I placed this method in

[2019-12-18 14:01] LightVolk opened #8959 "`Manage Nuget Packages for Solution` not showing packages installed per project (for .net core 3.1 packages)"
## Details about Problem
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NugetPackageManager 5.4.0
Visual Studio Enterprise 2019 16.4.2
Nuget.exe (on server):  5.3.1

dotnet.exe --version (if appropriate):
1.1.8 [C:\Program Files\dotnet\sdk]
2.1.104 [C:\Program Files\dotnet\sdk]
2.1.200 [C:\Program Files\dotnet\sdk]
2.1.201 [C:\Program Files\dotnet\sdk]
2.1.202 [C:\

[2019-12-18 14:44] realrubberduckdev opened #8960 "ProjectReference becomes dependency in nuspec instead of including it in nupkg"
## Details about Problem

This is the exact same issue which was reported in [Issue No.6998](https://github.com/NuGet/Home/issues/6998) but was closed without a clear answer.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 5.0.2.5988 (Not using nuget, but this is in path)

VS version (if appropriate): VS Professional 16.3.7

OS vers

[2019-12-18 14:44] NicolasDorier commented on #7921
Reporting back:
Had this problem again building my app on 3.1.100 on appveyor where setting DisableImplicitNuGetFallbackFolder to true fixed. I thought this problem was fixed for good in 3.x...

`DisableImplicitNuGetFallbackFolder` was not needed when building inside docker container. Only on appveyor.

[2019-12-18 16:22] daveylad commented on #7967
But if you're unfamiliar with the SDK project and completely familiar with NuGetizer 3000 then that's a use case right there.

[2019-12-18 17:02] v-strob commented on #8954
mono 4.6.2 for me too.

[2019-12-18 17:27] Kieranties commented on #8692
I can confirm that (at least for my scenario) enforcing the use of netcore sdk 3.1.100 (LTS) appears to have resolved the issue. Updating to 3.0 did not.
In my project building on Azure Devops I am using the vs2019 win image, however this does not have the LTS version installed.  I worked around this using the `dotnet-install` script to ensure the LTS version is installed before running any `dotne

[2019-12-18 17:58] rrelyea commented on #8960
Look for existing, highly voted issue, about supporting ‘-includeReferencedProjects’ in dotnet pack.
Likely dupe.

[2019-12-18 18:07] bddckr commented on #8692
I'm using the `windows-latest` hosted agents and these steps:
[code]

The first step actually results in `isDotNetVersionInstalled` getting set to `true` currently, so the hosted agents do come with `3.1.100` (as specified in my `global.json`).

---

Since updating to `3.1.100` I have not seen this error a single time anymore. I was previously hitting the issue approximately 40% of my pipeline run

[2019-12-18 18:31] #8904 closed, assigned to dtivel

[2019-12-18 21:03] dominoFire commented on #8954
By using  mono 6.6.0.161, you can run nuget.exe 5.5.0.6319 without any problems

[2019-12-18 21:08] #8954 closed, assigned to nobody

[2019-12-18 21:34] v-strob commented on #8954
Thanks for the tip. It would be super helpful if when there is a mono-related error with NuGet, the error message points the user to https://www.mono-project.com/. That would be more helpful than the error message I received.

[2019-12-18 22:30] rrelyea commented on #8924
https://github.com/NuGet/Home/pull/8961

[2019-12-19 00:46] nkolev92 opened #8962 "/p:BuildProjectReferences=false should imply RestoreRecursive="false""
Say you have a project structure as such:

A -> B -> C -> D

where all projects are package reference based projects.

If you run restore it will automatically restore for all packages A through D by default: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L44

Build will also do the same thing.

However, if you pass
 /p:BuildProjectReferences=false to

[2019-12-19 00:49] #8891 closed, assigned to zkat

[2019-12-19 09:44] tavisca-cchowdhary commented on #4387
If you are having this error in a docker container then run

 - docker system prune --volumes.

Then stop the docker app in your machine.
Restart your machine and running everything from start.

[2019-12-19 09:45] tavisca-cchowdhary commented on #5358
If you are having this error in a docker container then run

 - docker system prune --volumes.

Then stop the docker app in your machine.
Restart your machine and running everything from start.

[2019-12-19 09:48] realrubberduckdev commented on #8960
@rrelyea We cannot do this with msbuild, is that correct?

Looking for something in the lines of:
`msbuild .\TestProjectReferenceNupkg.sln /t:includeReferencedProjects`

Got error on the net45 project (attached to this issue).
`error MSB4057: The target "includeReferencedProjects" does not exist in the project.`

Will have to fall back to dotnet pack or using nuspec or publish multiple packages if

[2019-12-19 11:24] LightVolk commented on #8959
It seems that [this issue](https://github.com/aspnet/Extensions/issues/2744) is a problem of that.
At Microsoft.Extensions.* 3.1.0 has packageIcon.png dublicate. If remove one of that - it solve problem.

[2019-12-19 11:24] #8959 closed, assigned to nobody

[2019-12-19 13:40] ebicoglu commented on #7001
I made a console app to fix invalid dates in a drive.
https://github.com/ebicoglu/FileBulkDateChanger

**Usage:**
`FileBulkDateChanger.exe C:\`

Run this tool and forget about this issue :)

[2019-12-19 18:56] #8041 closed, assigned to donnie-msft

[2019-12-19 19:28] nkolev92 commented on #8962
@jeffkl @rainersigwald @nguerrera @dsplaisted
Thoughts?

[2019-12-19 20:15] donnie-msft commented on #8956
Bringing this into the Sprint based on these details provided today via email by @rrelyea and @anangaur:

[2019-12-19 20:38] jeffkl commented on #8962
`BuildProjectReferences=false` only tells MSBuild not to call the `Build` target, the build still consumes the outputs of the project references.  That said, if you don't build the project reference, I don't see how any package assets would be consumed either.  I also don't know of any user-facing cases where we specify `BuildProjectReferences=false`, most of the usages I can think of are advanced

[2019-12-19 20:46] nguerrera commented on #8962
I don't know enough about what RestoreRecursive=false does to say if this is correct. Does it change the graph? Do you still get transitive refs from the last time you restored?

[2019-12-19 21:41] nkolev92 commented on #8962
When you invoke restore on a project, NuGet will run the restore for the project and all of it's dependencies.
Specifically, A -> B -> C, all 3 projects will get assets file.
RestoreRecursive doesn't control the flow of dependencies, they still get transitively applied as usual. It merely controls whether your children projects themselves get restored.

So it's basically the equivalent of BuildPro

[2019-12-20 03:33] eByte23 commented on #8942
Any advice here?

[2019-12-20 03:44] psibernetic commented on #6279
This is a confounding issue to encounter where everything the docs say to do has no effect and eventually after asking experts on twitter and nothing working either, you end up finding this bug. Now I'm considering republishing a package that I don't own so that I can get rid of the transitive analyzer OR creating custom MSBuild tasks to forcibly rip analyzers out prior to compiling. Send help.

[2019-12-20 04:46] nguerrera commented on #6279
Seeing a spike on reports on this. Can we add it to an agenda in a weekly sync in the new year and see if we can get this on the roadmap?

[2019-12-20 07:01] v-luzh commented on #8928
Only one-time restart request repro on Master\29619.96+NuGet Client Dev\5.5.0.6353. Got the log from handle.exe as below.
![image](https://user-images.githubusercontent.com/20632625/71236278-859d2d80-2339-11ea-89a7-b375f58b87fc.png)

PS C:\Users\v-luzh\Desktop\Handle> .\handle.exe -a "C:\Users\v-luzh\source\repos\WebSinglePage\packages\EntityFramework.6.2.0\tools\EntityFramework.PowerShell.Utility

[2019-12-20 07:14] v-luzh commented on #8832
@zivkan, seems this bug is fixed on Master\29619.96+NuGet Client Dev\5.5.0.6353. NU1202 can stop the incompatible package installing as below.
![image](https://user-images.githubusercontent.com/20632625/71236985-4bcd2680-233b-11ea-982e-4cf8954096db.png)

[2019-12-20 07:48] v-luzh commented on #8929
@dominoFire, we believe the error in output window you mentioned is another bug [8928.](https://github.com/NuGet/Home/issues/8928) I have updated the log getting from handle.exe into that one.

For this bug (8929), it only repro on Web Forms Site project [you need to select "Additional project templates (Previous versions)" under the "ASP.NET and web development" workload when installing VS], and

[2019-12-20 08:07] v-luzh opened #8963 "Hard to see the check-box of package in ‘Updates’ Tab is focused with a dash-line box when navigating through Tab in Blue/Blue (Extra Contrast)/Light themes"
Related https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1244648

## Details about Problem
NuGet version: NuGet Client Dev\5.5.0.6353
VS Version: Master\29619.96
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Launch VS and click “Create a New Project” button.
2. Create an ASP.NET Web Application (.NET Framework) project (Single Page Application).
3. Open PM UI of this project and g

[2019-12-20 08:10] v-luzh opened #8964 "Cannot do any mouse control when the check-box of package in ‘Updates’ Tab is checked by Tab"
## Details about Problem
NuGet version: NuGet Client Dev\5.5.0.6353
VS Version: Master\29619.96
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Launch VS and click “Create a New Project” button.
2. Create an ASP.NET Web Application (.NET Framework) project (Single Page Application).
3. Open PM UI of this project and go to ‘Updates’ tab.
4. Navigate by Tab to the package list.
5. There is

[2019-12-20 08:16] v-luzh opened #8965 "[Test Failure]Confusing supported .NET Framework version v0.0 show in the error NU1202 message when installing a package into a project with incompatible framework"
## Details about Problem
NuGet version: NuGet Client Dev\5.5.0.6353
VS Version: Master\29619.96
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Create a C# Blank App (Universal Windows) template via VS.
2. Open PM UI of the project by right-clicking the project->Manage NuGet Packages… in Solution Explorer.
3. Search the package “Blend.Interactivity.Wpf” in Browse tab and install it.
4. Lo

[2019-12-20 18:36] #8508 closed, assigned to zkat, heng-liu

[2019-12-20 18:58] gojanpaolo commented on #5201
Hello, how do we turn the warning off? we're using nuget pack and a nuspec file.

[2019-12-20 19:19] nkolev92 commented on #8965
The package in question contains a "lib/net" folder which basically suggests, these package assets are compatible with all .NET Frameworks, hence v0.0.

The message is as expected.

The package itself is old and built in a way that's not recommended today, but what they did is still valid (even though it's unlikely that the assembly will work correctly in all .NET frameworks).

[2019-12-21 00:48] dominoFire commented on #8958
Thanks for pointing out this problem, @eriawan

`-MSBuildVersion` is used to specify the exact version of MSBuild you want to use for the restore operation, just like you commented in your suggestion: `16.4` for VS 2019 16.4.x, `16.3` for VS 2019 16.3.x, VS 2017 `15.9` for 15.9.x and so on.

Also, we're open to accept a PR for making this message better.

[2019-12-21 01:21] dominoFire commented on #8951
@kushaag Please, see this issue for news and release announcements for Central Package Version Management (CPVM) in NuGet: https://github.com/NuGet/Home/issues/8256

A possible workaround is to use https://github.com/microsoft/MSBuildSdks/tree/master/src/CentralPackageVersions

I will close this issue in favor of the NuGet CPVM epic issue. If you have more questions, feel free to open this or anot

[2019-12-21 01:21] #8951 closed, assigned to nobody

[2019-12-21 01:56] dominoFire commented on #8964
Confirmed in GA and in 29619.127 ; it seems to be a problem when triggering focus events

[2019-12-21 02:11] dominoFire commented on #8963
Confirmed in 29619.127

[2019-12-21 12:05] mingkuang-Chuyu commented on #8874
RID is ok. This is the test configuration.

wimgapi ,10.0.18362.1.

win-x86,win-x64,win-arm,win-arm64

[code]

[2019-12-23 01:44] dominoFire commented on #8948
You may need to take a look at the official documentation for GitHub Package Registry (GPR). You can configure GPR as a NuGet server: https://help.github.com/en/github/managing-packages-with-github-packages/configuring-dotnet-cli-for-use-with-github-packages

See https://docs.microsoft.com/en-us/nuget/nuget-org/publish-a-package

In theory, yes. See https://docs.microsoft.com/en-us/powershell/scri

[2019-12-23 01:44] #8948 closed, assigned to nobody

[2019-12-23 02:58] mingkuang-Chuyu commented on #8874
Yesterday I added vcxproj's targetFramework support, with the help of targetFramework. We can configure different static or dynamic libraries for different toolsets.

targetFramework matching order
[code]
For example, if the following 2 paths exist in a package:
* build\native14.0\Test.Static.targets
* build\native14.2\Test.Static.targets

If we use the v142 toolset (vs2019), then `build\native14.

[2019-12-23 12:25] spruceDevelopment commented on #3891
Please add it

[2019-12-23 18:01] MarkPflug opened #8966 "Don't default package description to "Package Description"."
If I create a new class library project (sdk-style) and "pack" it, it produces a package with a description of "Package Description". I can override this by providing a `<Description>` property in my csproj (such an override cannot be empty). If it is a required field in the package, make it a build error (with an explanation of how to define it) if it isn't defined rather than defaulting it to a

[2019-12-23 18:48] nkolev92 opened #8967 "Update the NuGet VS depedencies to the recent 16.4 ones so we can use the Service Broker APIs."
Prereq to https://github.com/NuGet/Home/issues/8896.

[2019-12-23 19:28] aortiz-msft commented on #8929
From an earlier post by DominoFire:

@v-luzh Could you try to repro once more and use handle.exe to see which process is blocking the file?

Download hande.exe here: https://docs.microsoft.com/en-us/sysinternals/downloads/handle

In a PowerShell Window, run handle.exe with the filename to investigate. For example:

.\handle.exe -a C:\Users\v-luzh\source\repos\WebFormsSite3\WebFormsSite3\Web.config

[2019-12-23 23:34] nkolev92 commented on #7994
fyi @aortiz-msft

[2019-12-23 23:37] nkolev92 opened #8968 "Address VS threading warnings"
Each one of these can be addressed as a separate issues.
We should only attempt to tackle these after https://github.com/NuGet/NuGet.Client/pull/3172 has been merged.
- [x] VSTHRD003 https://github.com/NuGet/Home/issues/8976
- [x] VSTHRD010 https://github.com/NuGet/Home/issues/8978
- [x] VSTHRD100 https://github.com/NuGet/Home/issues/8975
- [x] VSTHRD109 https://github.com/NuGet/Home/issues/8978
-

[2019-12-23 23:42] nkolev92 opened #8969 "Investigate E2E machine failures"
An example: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3342180

02 and 03 are failing.

@donnie-msft has already disabled couple of other machines.

01,04,06 have been disabled throughout people on the team.

We should keep this task open until we diagnose the issues that are happening with our scripts.

[2019-12-24 00:03] zkat opened #8970 "RPS runs failing consistently"
It looks like our RPS runs are either not running, or just plain failing:

![Annotation 2019-12-23 160153.png](https://images.zenhubusercontent.com/5d4c83663a9f586514e9bc72/23638d15-8f85-436f-b233-4be55330d488)

[Incident](https://icm.ad.msft.net/imp/v3/incidents/details/164619009/home)

[2019-12-24 00:04] zkat opened #8971 "Insertion of 5.5.0-preview2.6355"
VS
* [x] PR: [220494](https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/220494?_a=overview)

.NET Core SDK 3.1.2xx
* [x] CLI ([PR](https://github.com/dotnet/cli/pull/13164))
* [x] SDK ([PR](https://github.com/dotnet/sdk/pull/4105))
* [x] Toolset ([PR](https://github.com/dotnet/toolset/pull/3926))

.NET Core 5 Dev
* [x] SDK (https://github.com/dotnet/sdk/pull/4075)  - old one was not compl

[2019-12-24 00:05] zkat opened #8972 "nuget 4 restore errors"
Investigate what's going on here.

[2019-12-24 06:51] mingkuang-Chuyu commented on #8874
I'm added VCToolsVersion support, Because VS allows you to choose different versions of the toolset, there are some differences between different versions. I supported this feature through targetFramework

![Uploading image.png…]()

[code]

[2019-12-24 10:00] v-nancyj opened #8973 "Error NU1004 disappears when building solution after enabling “RestoreLockedMode”"
## Details about Problem

NuGet Version: Dev\5.5.0.6330
VS Version: Master\29623.15
OS Version: Windows-10-Enterprise-RS5

## Installation steps:
* https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3341765&view=results

## Repro steps:
1. Create above corresponding projects via VS.
2. Install a few ‘PackageReference’ packages into the projects.
3. Set MSBuild property “RestorePackagesW

[2019-12-24 10:13] v-luzh commented on #8929
@aortiz-msft, no matching handles found after running handle.exe with Web.config as below.

PS C:\Windows\system32> cd C:\Users\v-luzh\Desktop\Handle
PS C:\Users\v-luzh\Desktop\Handle> .\handle.exe -a "C:\Users\v-luzh\source\repos\WebSiteForms001\WebSiteForms001\Web.config"

Nthandle v4.22 - Handle viewer
Copyright (C) 1997-2019 Mark Russinovich
Sysinternals - www.sysinternals.com

No matching han

[2019-12-24 18:40] saf-itpro commented on #6324
Hope following helps some users (if not all):
Had the same issue with `VS2019` It did not work on `Package Manager Console`. But worked on `Manage Nuget Package for Solution` where you search for the package and click on `Install`.
I had opened the  `VS2019` as admin but I don't think that was necessary.

[2019-12-25 05:16] mingkuang-Chuyu commented on #8874
I modified the contentFiles support. In CreateItem, I added `AdditionalMetadata = "PrecompiledHeader = NotUsing"`.

https://github.com/dotnet/NuGet.BuildTasks/pull/67/commits/812a5d9305d5310a658a0f54c4b7f6fac52dc5f5#diff-5b809cf81a6b552123b02a4b102867c9

The PrecompiledHeader is unique to C ++ projects, and this option reduces the generality of the asset. Because we don't know if the project has p

[2019-12-25 23:53] psgivens commented on #5358
This worked for me, but seems a bit heavy handed. Before executing it gives this warning:

This smells like a cache problem. Is nuget using a cache that I can clear? Could we use this:
`dotnet nuget locals --clear all`

I fixed it before using the `prune` solution. Then it broke again. Then I used the prune to fix it again. Now I have to wait until I run into it again before attempting the `--clea

[2019-12-26 03:56] eriawan commented on #8958
@dominoFire
I'd love to submit a PR on this.
CMIIW, if we're just  updating the error message, then the error message is not fully solving the problem. I think NuGet CLI (nuget.exe) should be displaying the error message and also tell us the closest version to the supplied parameter.

For example, if I run this on machine that has VS 2019 16.4.x installed with VS 2019 Developer Command Prompt:

[c

[2019-12-26 04:38] shafeenakabir commented on #6328
I also faced the same issue. The issue was that dll at the given Nuget/packages* location was read-only. The fix was to make the dll non read-only in file properties.
Thanks.

[2019-12-26 05:50] tavisca-cchowdhary commented on #5358
I tried using the
- docker system prune
but it did not worked.

Yes even I think that this is a cache problem.

[2019-12-26 18:07] nkolev92 opened #8974 "Address VSSDK004, VSSDK005 & VSSDK006 analyzer warnings"
After upgrading our threading libraries a bunch of new warnings that are treated as errors are being raised.

One of those warnings is VSSDK004 Use BackgroundLoad flag in ProvideAutoLoad attribute for asynchronous auto load.

This is raised because of a recent change to load our package before the solution build event.
https://github.com/NuGet/NuGet.Client/blob/cb402b5a3340ab5b2605ecc72de7f70aaac9

[2019-12-26 18:09] zkat commented on #8972
nuget 4 isn't entirely compatible with msbuild 16. Solution is to upgrade to nuget.exe 5.

[2019-12-26 18:09] #8972 closed, assigned to zkat

[2019-12-26 18:29] zkat commented on #8973
Hi @v-nancyj! Thanks for the bug report. Can you confirm whether this happens on any previous versions of 5.5, or in 5.4, if you tested those? I want to make sure it's a regression in 5.5.

[2019-12-26 22:20] nkolev92 opened #8975 "Address VSTHRD100"
Since https://github.com/NuGet/NuGet.Client/pull/3172 upgraded the analyzer we have some new warnings.

https://github.com/microsoft/vs-threading/blob/master/doc/analyzers/VSTHRD100.md

[2019-12-26 23:58] nkolev92 opened #8976 "VSTHRD003: Investigate whether the flagged code can lead to deadlocks"
More info here: https://github.com/microsoft/vs-threading/blob/master/doc/analyzers/VSTHRD003.md

Tasks that are created and run from another context (not within the currently running method or delegate) should not be returned or awaited on.

The specific code is https://github.com/NuGet/NuGet.Client/blob/cb402b5a3340ab5b2605ecc72de7f70aaac95344/src/NuGet.Clients/NuGet.PackageManagement.VisualStud

[2019-12-27 00:14] danmoseley opened #8977 "Don't bother logging small millisecond times in restore messages"
In the log of the build for dotnet/runtime we have many lines like
[code]
I suspect there aren't any circumstances where anyone wants to know it took 1510 microseconds to restore Microsoft.NETCore.DotNetHost.pkgproj: it's just visual noise. How about just logging:
[code]
Or, if it's important to log the time when it's "slow", we could log it if it's over, say, 500ms, eg:
[code]
I'd be happy to off

[2019-12-27 00:52] nkolev92 opened #8978 "Address VSTHRD010 and VSTHRD109 warnings"
[VSTHRD010](https://github.com/microsoft/vs-threading/blob/master/doc/analyzers/VSTHRD010.md): Invoke single-threaded types on Main thread

[VSTHRD109 ](https://github.com/microsoft/vs-threading/blob/master/doc/analyzers/VSTHRD109.md) Switch instead of assert in async methods

Related https://github.com/microsoft/vs-threading/issues/577

[2019-12-27 10:30] v-luzh opened #8979 "[Bug Bash][Suggestion] Suggest giving the error “Package restore failed” an error code number"
## Details about Problem
NuGet version: NuGet Client Dev\5.5.0.6355
VS Version: Master\29624.14
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Create a C# Blank App (Universal Windows) template via VS.
2. Open PM UI of the project by right-clicking the project->Manage NuGet Packages… in Solution Explorer.
3. Search the package “Blend.Interactivity.Silverlight” in Browse tab and install i

[2019-12-27 18:03] nkolev92 commented on #8979
In PackageReference that message will always be accompanied with a different error message that has the real reson for the failure.

In that case, I'd suggest we combine the error messages, rather than add a special code.
Since the code itself won't add much.

[2019-12-27 22:44] sadjadbp commented on #5375
For now I'm using in PropertyGroup

`<NoWarn>NU1701</NoWarn>`

[2019-12-28 00:34] zkat commented on #8973
I've confirmed that the expected behavior happens fine in 5.4, but not in 5.5.

[2019-12-28 00:54] nkolev92 commented on #8971
Found the SDK PR :)
The old one was not completed, so bot just updated the old PR :) dotnet/sdk@8b18beb

[2019-12-28 06:51] ashu12318 commented on #6328
So my case was...
VS2015 Update-3, had solution folder .nuget which had our own nuget repositories referred.

This .nuget solution folder was creating trouble.
I deleted that .nuget folder and added those local nuget repository directly to the Visual Studio.

After that I am able to install and update packages.

Issue was with solution .nuget folder.

[2019-12-28 18:27] psgivens commented on #5358
I ran into the same problem this morning, and here is a new datapoint. I was able to fix the problem by removing and creating my network.
[code]
I cannot imagine why this worked, but it was one of the things that is removed during the `system purge`. I'll report back wheather this is a consistent fix, or if I figure out why it worked.

[2019-12-29 01:19] bryancass commented on #7216
Same problem with VS 2019 v16.4.2.

[2019-12-29 10:03] teroneko commented on #3891
Want to add my two cents: This is a small enhancement of the code that you guys (Thanks to @rohit21agrawal, @jr01 and @kkm000. 😊) provided (luckily). It does take regard of sub folders that is relevant especially for satellite assemblies. Here the few lines:
[code]

[2019-12-29 11:18] bezysoftware commented on #3891
@teroneko Fantastic, exactly what I was looking for - I have a shared project with ResX localization files where each language becomes a separate DLL during build, in it's own subfolder. The previous solutions didn't take the subfolder into account and tried to put everything into a single location in nupkg, which obviously failed. Thanks again

[2019-12-29 22:26] sungam3r commented on #8867
Both `ContentTargetFolders` and `$(IncludeContentInPack)` will not help. `ContentTargetFolders` just changes destination folder. If `$(IncludeContentInPack)` is set to false on any project, then the content from that project are not included in the nuget package. This setting applies to all project content, not specific dependency. I have not yet figured out how to achieve the desired behavior.

[2019-12-30 11:10] gsscoder commented on #7992
I can see problems also with `PackageLicenseExpression`, impossible to reference a file. But with **LICENSE CODE** works.

[2019-12-30 17:26] MarkPflug commented on #8966
According to [this documentation](https://docs.microsoft.com/en-us/nuget/reference/nuspec), description is indeed a required field. Removing the default value, and producing a build error would be a breaking change for projects. So, perhaps changing the default to `$(PackageId) $(PackageVersion)` would be an acceptable compromise? The description would at least be meaningful, and wouldn't break co

[2019-12-30 18:39] nkolev92 commented on #8718
Closing this issue as by design per @zivkan's comment.

[2019-12-30 19:01] nkolev92 commented on #8867
The short explanation:

* This is a bug in pack. The mechanics for packing content files inside a package overlap the mechanics for flowing content files into the project they need to go to.

The long explanation:

* NuGet identifies several types of asset groups, defined here: https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets

[2019-12-30 19:06] nkolev92 commented on #8977
Thanks for creating this issue.

I actually really like the suggestion to flip the order of the message.

[code]

It reduces the info overload without cutting any information.

Thoughts @karann-msft, @chgill-MSFT @NuGet/nuget-client ?

[2019-12-30 19:47] nkolev92 commented on #8960
Duplicate of https://github.com/NuGet/Home/issues/3891.

@realrubberduckdev I think @rrelyea's comment was intended as a pointer to a team member to find the dup of this issue.

It's not possible to this with msbuild/dotnet.exe pack. In general this is not possible with PackageReference right now. https://github.com/NuGet/Home/issues/3891 is the issue tracking the ask.

[2019-12-30 20:34] nkolev92 commented on #8966
@karann-msft @chgill-MSFT @NuGet/nuget-client Thoughts?

SDK based projects have a default TreatWarningsAsErrors so adding a new warning would likely break the folks with default package descriptions.
I can see the argument for it though :)

[2019-12-30 21:41] vsfeedback opened #8980 "Allow format selection during the first package installation by default"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/860484/formatauswahl-bei-der-ersten-paketinstallation-zul.html)._

---
I recommend that the Nuget setting "Allow format selection at the first package installation" is active by default (see screenshot for more accurate "1-NugetEinstellung.png").

With us team many did not

[2019-12-30 21:44] nkolev92 commented on #8980
Note for consideration:

The challenge here is that there's a NuGet configuration property that backs this.

Disabled controls whether the pop up is shown.

[code]

[2019-12-30 21:44] nkolev92 commented on #8980
Probably affected by: https://github.com/NuGet/Home/issues/8534

[2019-12-30 22:24] danmosemsft commented on #8977
Can we lose the time also? "1.58 ms" is just noise. As I suggested above, I can only imagine it's worth logging if it's slow, say over 500ms. Do you agree? This is a build log not a profile.

[2019-12-30 22:36] MarkPflug commented on #8966
I believe TreatWarningsAsErrors (I could be wrong about this) is only used for warnings that come out of  the compiler tasks (Csc, Vbc and the like). As far as I know, it isn't enabled by default in sdk-style projects either. Tested this with a new class library project: I see warnings for unused fields, missing xml comments, etc. They weren't elevated to errors.

I would propose these two options

[2019-12-30 22:50] nkolev92 commented on #8966
NuGet respects TreatWarningsAsErrors as well, since it has coded warnings. https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings\

You are correct actually. Some other components elevate this for lots of customers, but the default SDK template does not have that.

2 would cause a new project to not be packable by default. I'd imagine we'd get lots of feedback to make the default tem

[2019-12-30 23:06] MarkPflug commented on #8966
Okay, I'm convinced. Can we agree that a build warning is warranted along with the default? My worry is that the description will continue to be useless, because people will continue to use the default.

[2019-12-30 23:17] nkolev92 commented on #8966
I like the idea. Unsure of where this lands on our priority backlog though. We'd be open to taking a PR however. I'd be happy to give some code pointers if you are interested.

//cc @aortiz-msft @karann-msft

[2019-12-30 23:19] nkolev92 commented on #8966
We actually already have a precedent for default value warnings, they are just impossible to hit in the new project style since the prop the warning is raised for is not required.
https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu5102

[2019-12-30 23:21] MarkPflug commented on #8966
I've already looked at the targets file where this would require changes. It looks pretty straightforward. I can prepare a PR. How are nuget warning codes allocated? That's probably the only thing I'd need help with.

[2019-12-30 23:25] nkolev92 commented on #8966
The warnings code are declared here: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Common/Errors/NuGetLogCode.cs

The packaging warning codes are in 5000-5999 range.

[code]

51xx are the warning codes.

Tests can be found in https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Core.FuncTests/Dotnet.Integration.Test/PackCommandTests.cs and https://github.com/NuGet/NuGet.

[2019-12-30 23:56] nkolev92 commented on #7030
Missed when I posted the original comment but this is a duplicate of https://github.com/NuGet/Home/issues/1739.

[2019-12-30 23:56] #7030 closed, assigned to nobody

[2019-12-30 23:58] nkolev92 opened #8981 "Inconsistency in the names of SDK based and legacy projects in the PM UI"
Motivation from https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1034683

https://developercommunity.visualstudio.com/content/problem/849207/manage-packages-some-project-does-not-display-the.html

I think there's a duplicate somewhere....unfortunately I'm not able to find it right now.

[2019-12-31 00:18] nkolev92 commented on #7715
Similar rootcause as https://developercommunity.visualstudio.com/content/problem/833539/typo-in-a-checkbox-caption.html.

[2019-12-31 00:34] nkolev92 commented on #8840
Closing this as by design per the above comments.

[2019-12-31 00:41] nkolev92 commented on #8865
Closing this per @donnie-msft's comment.

We don't see a bug at this point. Feel free to file a new issue if you hit more problems.

[2019-12-31 00:43] nkolev92 commented on #7356
Closing this issue as no repro was provided.

Please create a new issue for future problems.

[2019-12-31 00:43] #7356 closed, assigned to nobody

[2019-12-31 00:46] vsfeedback opened #8982 "Update experience for large solutions"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/856457/visual-studio-1641-nuget.html)._

---
Can someone please make the upgrade process easier for nuget packages.
I tried to upgrade from the sln level with select all and upgrade.
All I got were errors saying downgrade detected on all the packages I selected.
Then I spen

[2019-12-31 00:50] nkolev92 commented on #8982
Related to https://github.com/NuGet/Home/issues/5761
https://github.com/NuGet/Home/issues/7284
https://github.com/NuGet/Home/issues/7318
https://github.com/NuGet/Home/issues/8256

[2019-12-31 00:51] nkolev92 commented on #8982
Some ideas to consider before this features land.

PackageReference works the exact same way from visual studio and commandline. CommandLine allows you to iterate quicker.
Consider the architecture/codemap to get the project dependency graph :)

[2019-12-31 00:59] nkolev92 commented on #8150
Did you get a chance to try 4.8? Can you also try latest NuGet.exe?

We'd need a some sort of a repro to continue our investigation here.
perfview logs would also be helpful.

Download and extract PerfView.exe. https://github.com/Microsoft/perfview/blob/master/documentation/Downloading.md#shortcut-to-download-the-latest-perfviewexe

[2019-12-31 01:02] nkolev92 commented on #7525
I don't see anything actionable from this issue right now. Closing this issue as stale.
Feel free to open another issue as necessary.

[2019-12-31 01:02] #7525 closed, assigned to nobody

[2019-12-31 01:05] nkolev92 commented on #8142
Closing this issue at this point as lower priority.
NuGet examining the content packed is not something we are considering at this point.

[2019-12-31 01:05] #8142 closed, assigned to nobody

[2019-12-31 01:09] nkolev92 commented on #7597
I am closing this issue as there is nothing actionable here for us to continue investigating.

[2019-12-31 01:09] #7597 closed, assigned to nobody

[2019-12-31 01:31] nkolev92 commented on #8944
@kesso1 It seems like the machine in question is not able to reach the revocation server.

Can you run the same thing under fiddler and see which calls are failing?

[2019-12-31 01:36] nkolev92 commented on #8922
There's no utility/APIs to search by target framework today.
The general package applicability issue is https://github.com/NuGet/Home/issues/5725.

@LightVolk How did you figure out which 800 packages need to be in your local source?

[2019-12-31 01:40] nkolev92 commented on #8883
Closing this issue as stale.

[2019-12-31 01:40] #8883 closed, assigned to nobody

[2019-12-31 01:56] nkolev92 commented on #8805
Closing this as no repro as there has been no response from the customer.

[2019-12-31 01:56] #8805 closed, assigned to nobody

[2019-12-31 02:00] nkolev92 commented on #8923
PackageReference has better restrictions for invalid packages compared to packages.config.

And the package vs.qualitytools.unittestframework is such an invalid package.
Peaking at the packages content I see:

Notice how the folder name is the name of the dll.
The correct way to author this package would be:

For example:

At migration time, NuGet was unable to install the package in question and

[2019-12-31 02:04] nkolev92 commented on #8828
Closing this issue as we do not have enough information to continue investigating.

[2019-12-31 02:04] #8828 closed, assigned to nobody

[2019-12-31 02:08] nkolev92 commented on #8443
This is docs/blog worthy.
The inherent integration with msbuild makes NuGet customization super powerful, but this is impossible to discover.

[2019-12-31 02:09] nkolev92 commented on #8412
Hey @menaheme, apologies for the delay.

Is msbuild on your path?

NuGet will prefer msbuild on the path if available.

[2019-12-31 02:10] nkolev92 commented on #8632
Closing this as stale.

I hope you were able to resolve these issues :)

[2019-12-31 02:10] #8632 closed, assigned to nobody

[2019-12-31 02:22] nkolev92 commented on #8750
I was unable to reproduce this on my local machine with a different server.
[code]

Is this something you can reproduce on every machine?

[2019-12-31 02:24] nkolev92 commented on #8683
Closing this as not a bug.
The relationship between package versions and assembly versions of dll inside the package is not something NuGet observes.

[2019-12-31 02:24] #8683 closed, assigned to nobody

[2019-12-31 02:26] nkolev92 commented on #8333
Duplicate of https://github.com/NuGet/Home/issues/8432.

This is fixed in the latest 5.5 previews.

[2019-12-31 02:29] nkolev92 commented on #7850
Closing as by design.

[2019-12-31 02:29] #7850 closed, assigned to nobody

[2019-12-31 02:29] nkolev92 commented on #8147
Closing as by design similar to https://github.com/NuGet/Home/issues/8147.

[2019-12-31 02:29] #8147 closed, assigned to nobody

[2019-12-31 02:41] nkolev92 commented on #8827
@wtgodbe

Any idea why the CI build didn't fail on your end?
Something other than #7404 that NuGet should investigate?

[2019-12-31 02:52] nkolev92 commented on #8846
I'd like to close this issue per the above comment.
Per @zivkan's elaborate comment and my own investigation, there's no unique cross platform way for NuGet to preserve these attributes.

[2019-12-31 02:52] #8846 closed, assigned to nobody

[2019-12-31 06:53] sungam3r commented on #8867
@nkolev92 Thanks for the detailed answer. I guessed that it could be a bug. But I did not understand this comment:

Did you mean set `IncludeContentInPack="false"` in "top" package to disable packing any content from all dependencies?

Could you say something about when this will be fixed? In the near future is this real?

[2019-12-31 07:13] menaheme commented on #8412
MSBuild 14.0 is in the path. MSbuild 15.0 is not

[2019-12-31 07:28] tebeco commented on #6764
Hello @anangaur @nkolev92

As i changed computer and try to find the docs for `Directory.Packages.props` i found both :
* https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions
* https://github.com/microsoft/MSBuildSdks/tree/master/src/CentralPackageVersions

is the Dup' intended ?

Also i spotted this in the [Wiki page](https://github.com/NuGet/Home/wiki/Centrally-managing-N

[2019-12-31 14:34] daveaglick opened #8983 "GeneratePackageOnBuild is transitive through ProjectReference"
It appears that `GeneratePackageOnBuild` is transitive through a `ProjectReference`. For example,
- Given a project A with `GeneratePackageOnBuild`, `a.nupkg` will be generated in the output folder of A
- Given a project B with a `ProjectReference` to A, `a.nupkg` will _also_ be generated in the output folder of B

This seems like a bug (though maybe it's by design?). It's particularly problematic

[2019-12-31 18:41] nkolev92 commented on #8867
Yes, I meant to write that.

Not sure at this point. We have lots of issue that we prioritize based on many factors.
However, we'd be happy to take a PR.

[2019-12-31 18:46] nkolev92 commented on #8412
NuGet will prefer msbuild from the path.

See https://github.com/NuGet/Home/issues/7621

[2019-12-31 18:51] nkolev92 commented on #6764
It is expected. This is tracking an implementation with similar functionality as the SDK you linked.

I edited the wiki to point back to this issue because that spec is just a more elaborate version of the one linked in this issue. :)
Lots of people came across the spec you linked but could never figure out the right issue back.

[2019-12-31 19:00] tebeco commented on #6764
not sure i understand the wiki part of your comment.
Is it normal to contains twice "github.com" and so that when you click, you are redirected to the wiki home instead of the issue ?

[2019-12-31 19:09] nkolev92 commented on #6764
oh, I totally missed that. my bad :)
Fixed now :)

[2019-12-31 19:17] nkolev92 commented on #6170
Another report at https://developercommunity.visualstudio.com/content/problem/826384/nuget-restore-should-include-download-progress-com.html.

The challenge with a progress indicator liked the one being asked for is that unless there's a lock file, NuGet doesn't know everything that it is going to download.
The package graph is built as we go through the packages which includes download them.

[2019-12-31 19:24] nkolev92 commented on #8983
Hey @daveaglick. Thanks for filing this.

I was unable to repro the issue with the described steps.
Here's what I did.

I create a sln with 2 netstandard projects, A & B, where B -> A. I set GeneratePackageOnBuild in A and run build.

See the attached zip with the project structure.
[8983.zip](https://github.com/NuGet/Home/files/4013357/8983.zip)

Here are the logs:

[code]

Anything that you do d

[2019-12-31 19:49] nkolev92 commented on #8970
Related to https://github.com/NuGet/Home/issues/8482

[2019-12-31 20:06] nkolev92 commented on #8283
Bumping priority due to [915628](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/915628), which the tracking issue for https://developercommunity.visualstudio.com/content/problem/599921/nuget-package-manager-slow-on-a-large-solution-for.html.

[2019-12-31 20:09] nkolev92 commented on #6010
Similar feedback provided by https://developercommunity.visualstudio.com/content/problem/599921/nuget-package-manager-slow-on-a-large-solution-for.html

[2019-12-31 20:13] nkolev92 commented on #8852
The packages.config project management style by design hardcodes the references to packages inside the csproj file.

This happens at install. This also means at uninstall time, NuGet needs to figure out which references it added at install time and remove them.
This works fine for the most part, but it can be a problem if a package uses install/uninstall scripts. Then it's on the package author to

[2019-12-31 20:24] nkolev92 commented on #8204
Duplicate of https://github.com/NuGet/Home/issues/5713

[2019-12-31 20:24] #8204 closed, assigned to nobody

[2019-12-31 22:12] sungam3r commented on #8867
Thanks.

Yes, I looked at the current list of bugs and guessed that there was enough work there even without my problem.

Unfortunately, this is not an area where I can effectively help. Actually your advice to use `IncludeContentInPack="false"` suits me. I write a lot of library projects, there is no content and I can use `IncludeContentInPack="false"` completely safely. I have already taken this

[2020-01-01 16:36] aggieben commented on #3251
Bump.  I'm also having this issue, both from paket and nuget.
macOS Catalina 10.15.2

[code]

[2020-01-01 22:55] LightVolk commented on #8922
The problem, in fact, has already been resolved as part of a manual, semi-automatic update of the necessary packages (.netсore, microsoft.extensions. * and others).

We have a corporate repository in which we have to update packages somehow.
Single updates are made by downloading the package and adding it through the **nuget.exe add package.**

But when the major version comes out, you have to upd

[2020-01-02 03:35] aggieben commented on #8580
I've been struggling with this issue also; this is where I have ended up for now:
https://github.com/bitthicket/AspNetCore/blob/master/.github/workflows/nuget_release.yml

And the latest results from this workflow:
![image](https://user-images.githubusercontent.com/1321/71650853-a3c24080-2cde-11ea-86da-fa72ac743225.png)

I've tried everything suggested in this thread and I'm just at a loss.

[2020-01-02 03:48] vslee commented on #8580
@aggieben did you try my solution?

[2020-01-02 03:57] aggieben commented on #8580
@vslee parts of it.  I have some other moving parts that are different and would be tedious to change.  For example, I'm using paket to build my project and package, executed from a fake script.

[2020-01-02 04:37] vslee commented on #8580
Since your'e suing a different build system, are you sure that the .nupkg is in ./temp/*.nupkg? Can you do a 'ls' command there to verify?

[2020-01-02 13:23] forki commented on #7414
I still see this error with .NET SDK 3.1.100

[2020-01-02 15:05] lissyx commented on #6873
So, Q4 ended, I guess it means this is not yet being worked on ? Is there any workaround in the mean time ?

I'm looking at something limited to NuGet.org, so we could upload the README as part of the package upload. As much as I can tell, only package upload / unlisting / relisting are documented on https://docs.microsoft.com/nuget/api/package-publish-resource, am I missing any other documentatio

[2020-01-02 16:37] aggieben commented on #8580
@vslee
![image](https://user-images.githubusercontent.com/1321/71678887-d9514300-2d4b-11ea-81a2-59a6e3907668.png)

[2020-01-02 16:45] nkolev92 commented on #8922
So the thing you are looking for, is it safe to say it's
"Given a package id, get me the latest version compatible with netcoreapp3.0" or are you looking to provide only the direct package dependency?

NuGet PackageReference always tries to resolve the lowest required version by the requested packages, because that's the scenario where things are the most likely to work at runtime. So if you alway

[2020-01-02 16:48] nkolev92 opened #8984 "SpecCommand tests depend on the current year"
SpecCommand_NoProjectFile
SpecCommand_NoProjectFile_WithArg
SpecCommand_WithProjectFile

are failing with

[code]

Issue is: https://github.com/NuGet/NuGet.Client/blob/cb402b5a3340ab5b2605ecc72de7f70aaac95344/test/NuGet.Clients.Tests/NuGet.CommandLine.Test/NuGetSpecCommandTest.cs#L51

The fix is simple to just fix the tests to use the current year.

[2020-01-02 17:38] rrelyea commented on #6873
@lissyx - correct, we have not started this work yet. our backlog order changes per updated planning, so something isn't done until it is done. Please make sure you vote for issues that are important to you, to help us prioritize.
If you'd like to engage with nuget.org to understand if the existing documentation feature can do something for you today, https://github.com/nuget/nugetgallery is the b

[2020-01-02 17:41] rrelyea commented on #7414
@forki - would love details of that.
Does that machine have 3.1.100 and 2.x.xxx both installed?
Does the repro machine use any global.json?
Does the problem only occur with TargetFrameworks that are supported by 2.x?

[2020-01-02 17:52] forki commented on #7414
All our Linux dotnet core builds stopped working working over holidays on
all build agents. No idea what changed, definitely not the code or any deps
references. We cant even build stuff that was already building fine before
Christmas.
It seems to be related to privileges since sudo dotnet restore works, but
without sudo this error message is thrown (unfortunately it does not say
which file can't

[2020-01-02 18:04] robertmclaws commented on #6873
I would argue that the NuGet team should not be adding new features at this point until the old ones are fully documented... especially when the currently-shipping features are throwing compiler warnings or errors. Documentation should be a part of every development cycle, not something we should have to wait for. This is a cross-org problem for Microsoft.

[2020-01-02 19:30] nkolev92 commented on #1500
Broadening the scope here.

In general this issue now refers to having some sort of breadcrumbs when doing authentication.

NuGet should indicate whether creds were used, how they were acquired etc.

We should cover *all* clients, and all NuGet operations.

[2020-01-02 19:35] nkolev92 opened #8985 "Improve the UX when source credentials can't be authenticated - Authentication Prompts do not indicate the Feed and Retry count etc"
We try for a max of 3 times per source when a source can't be authenticated.

If you have many sources (and you don't have the rights), this could lead to getting 3 * sourceNumber prompts.

As part of this work we should also ensure that the errors are clearly communicated to the user (given that the prompts are not owned by NuGet.

[2020-01-02 19:36] forki commented on #7414
Looks like I'm not the only one. https://twitter.com/TBHolschen/status/1212816843863404546?s=19

But the error message is really from hell. It should tell me where the issue is.

[2020-01-02 19:41] nkolev92 opened #8986 "In Visual Studio, the prompts for authentication do not contain any context about the reason (like feed url)"
NuGet does not own the prompts, so this would involve cooperation with the team owning the prompt.

[Internal issue](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1019402)

[2020-01-02 19:55] rrelyea commented on #8868
@aortiz-msft - @debonte is on the XAML tools team, and this issue was originally filed as internal bug 1011441 as a P1 bug.

[2020-01-02 22:15] nkolev92 opened #8987 "Investigate test parallelization for unit testing"
We have many test suites that are not parallelized.

We should strive for all of our unit tests to be parallelizable.

This issue tracks that work.

[2020-01-02 22:47] zkat opened #8988 "Publish Plan to address HaTS pain points"

[2020-01-02 22:48] anangaur commented on #8580
@aggieben do check if you have set the `repository`/`repositoryurl` property for the package. It is known to fail without having this URL pointing to the same repo you are publishing it to. More details: https://help.github.com/en/github/managing-packages-with-github-packages/configuring-dotnet-cli-for-use-with-github-packages#publishing-multiple-packages-to-the-same-repository

[2020-01-02 22:48] zkat opened #8989 "Baseline measurement around perf in 16.5p2"

[2020-01-02 22:53] zkat opened #8990 "Support .NET 5 in 16.5"

[2020-01-02 23:13] timheuer commented on #8580
@anangaur should verbose detail output provide more info here that could point to the issue?

[2020-01-02 23:26] anangaur commented on #8580
Ideally yes. While a lot of error messages have been improved, clearly not all. Will add this to the list of improvements.

[2020-01-03 01:11] cristinamanum commented on #8669
Completed : https://github.com/NuGet/Home/pull/8950

[2020-01-03 01:11] #8669 closed, assigned to cristinamanum

[2020-01-03 01:43] aggieben commented on #8580
Aha!  I think my issue boils down to not having the `repository` element in my nupkg metadata, which in turn was caused by `paket` behavior, which requires both `RepositoryUrl` _and_ `RepositoryType` for either to be emitted as metadata.

[2020-01-03 01:49] nkolev92 opened #8991 "Basic developer docs"
All of the how to work with NuGet docs should be public and on GitHub!

We should avoid the wiki for workflow related things and use the repo itself.
It improves discoverability for contributors. It's in line with what the rest of the .NET repos do.

[2020-01-03 02:04] anangaur commented on #8580
Thanks for validating my hunch 👍 . I will follow with the GPR team to emit better error message for this situation.

[2020-01-03 11:25] djfr opened #8992 "NuGet client tools strategy with multiple feeds on packages with version floats"
## Details about Problem

NuGet product used: NuGet.exe
NuGet version: NuGet 5.4.0 x64

OS version: windows 10 v1909

## Other suggested things

It's becoming more, and more frequent to use floating package references on .Net Core projects, especially when paired with CI/CD it unburdens developers from the package bumps to the latest.

Currently the NuGet [PackageDownloader](https://github.com/NuG

[2020-01-03 16:25] rrelyea commented on #8992
The behavior you expect is what I believe happens. Can you test your repro with other versions of nuget to see if you see this problem in older versions too.
Also, can you build a minimal repro project and give us details of your feeds, etc..

[2020-01-03 16:55] jaywha commented on #1827
Still an issue in VS Pro 2019 v4.8.03761
Running an enterprise image of Windows 10
Just cleared the NuGet cache and all is well again.

[2020-01-03 17:44] kartheekp-ms commented on #8901
Updated key points about JTF in internal One-note doc - `NuGet > Engineering > Investigate & Fix UI delays > Fix UI delays using JoinableTaskFactory`

[2020-01-03 17:44] #8901 closed, assigned to kartheekp-ms

[2020-01-03 18:05] dtivel opened #8993 "Crash: analyze memory dump"

[2020-01-03 18:39] zkat opened #8994 "Overhaul team project management processes"
Let's examine what we do right now, and how we use both GitHub and ZenHub to manage (and communicate) the work that the team does. This work will involve proposing a new process and getting comments and consensus for the team, and ultimately adopting it and documenting it for both the team and the community.

[2020-01-03 19:02] nkolev92 commented on #8992
The PackageDownloader you linked is not used in PackageReference.

Instead the logic in NuGet.DependencyResolverCore is used, https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.DependencyResolver.Core/ResolverUtility.cs#L367.

Basically when a version is floating, we wait for all the sources to respond.

Given all this, what you are seeing is a duplicate of https://github.com/NuGe

[2020-01-03 19:50] anangaur commented on #8956
### Where

NetCore (SDK Style)
* Project\Dependencies\\**Packages**:  Update...
* Project\Dependencies\\**Packages**:  Update All...
* Project\Dependencies\Packages\\**MyPackage**: Update...

Legacy PR (csproj.dll)
* Project\References\\**MyPackage**:  Update...

packages.config
* Project\References\\**MyPackage**:  Update...

### Behavior

* Update...: Open PM UI updates tab listing all packages

[2020-01-03 20:11] bmajik opened #8995 "hashed package names in telemetry should be lower cased"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate):

VS version (if appropriate): 16.5 preview 2 - 29617.129

OS version (i.e. win10 v1607 (14393.321)): win 10 64 bit build 1909

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the

[2020-01-03 20:47] nkolev92 opened #8996 "Label our issues better :)"
While @zkat is revamping our project management side of things, I have some pet peeves with the way we label, or don't label issues :)

This is tracking the work with my proposals on how we should make better use of our labels.

fyi @aortiz-msft

[2020-01-03 21:15] nkolev92 opened #8997 "Clearly call out that the NuGet package manager settings are not part of import and export settings"
Motivation from https://developercommunity.visualstudio.com/content/problem/860482/nuget-package-sources-not-included-in-settings.html

[2020-01-03 21:16] zkat opened #8998 "Signing: Set up development/project management plan and epics"
This is a very large project, and we need to spend some time just managing the tasks that need done and aim our cannons towards releases at the priorities we need them.

The following sub-epics to #7939 should be created, each representing an individual deliverable, and will be done in order:

### Signature verification during restore
This is where the bulk of verification tests will be ported, an

[2020-01-03 22:15] rrelyea commented on #8668
Looked into this a bit. Looks like `nuget sources disable -name foo` will persist a disabled package source. However, it looks like packageSource FOO and disabledPackageSource foo are not found to match...so our system treats FOO as enabled.

Haven't looked at pre-4.9 behavior. (@kartheekp-ms said that 4.8.2 worked), but 4.9 is where we did major config file (setting) system enhancements.
Doing wo

[2020-01-03 22:30] rrelyea commented on #1518
This appears fixed. Tried it in 16.5 latest daily build.
Also looked at docs for labels in winforms...and the tabindexs are set as they say to, in order to have this work. https://docs.microsoft.com/en-us/dotnet/framework/winforms/controls/how-to-create-access-keys-with-windows-forms-label-controls

[2020-01-03 22:48] nkolev92 commented on #8789
@hugener

From a NuGet perspective, unfortunately I don't think there's much we can do.

If this is still a concern you are trying to address, I think you should consider opening an issue on the SDK repo.

Closing this issue as not actionable from NuGet side.

[2020-01-03 22:48] #8789 closed, assigned to nobody

[2020-01-03 22:50] nkolev92 commented on #8470
The docs have undergone some changes that make samples more obvious.
The samples repo is also a pinned repo in the nuget org.

[2020-01-03 22:50] #8470 closed, assigned to nobody

[2020-01-03 22:52] nkolev92 commented on #8833
Adding an update for this, this might be something that actually errors, but follow that feature for the exact details.

[2020-01-03 22:52] #8833 closed, assigned to nobody

[2020-01-03 22:53] nkolev92 commented on #8305
Closing as dup.

[2020-01-03 22:53] #8305 closed, assigned to nobody

[2020-01-03 23:00] #7911 closed, assigned to nobody

[2020-01-03 23:08] nkolev92 commented on #7012
Closing this as non actionable from NuGet.

[2020-01-03 23:23] #7904 closed, assigned to nobody

[2020-01-03 23:26] nkolev92 commented on #8027
@karann-msft

Do you want to keep this issue open?
Something still you want to consider/

[2020-01-03 23:26] #7805 closed, assigned to nobody

[2020-01-03 23:27] nkolev92 commented on #8624
Closing per the discussion.

[2020-01-03 23:27] #8624 closed, assigned to nobody

[2020-01-03 23:27] #8548 closed, assigned to nobody

[2020-01-03 23:28] #8307 closed, assigned to nobody

[2020-01-03 23:28] #8075 closed, assigned to nobody

[2020-01-03 23:29] nkolev92 commented on #7858
Closing this as we do not have enough info to continue investigating.

[2020-01-03 23:29] #7858 closed, assigned to nobody

[2020-01-04 00:15] zkat opened #8999 "Bugfixes: Q1 2019"

[2020-01-04 01:56] nkolev92 opened #9000 "Functional tests are broken due to a machine upgrade to 16.4"
Specifically:

AddPkg_ConditionalAddAsUpdate_Success
AddPkg_UnconditionalAddAsUpdate_Succcess
AddPkg_UnconditionalAddTwoPackages_Success

The root cause is:

[code]

Likely same rootcause as https://github.com/dotnet/roslyn/issues/40532.

/cc @rainersigwald, some of our tests are broken because the Microsoft.Build.Runtime API fails.

[2020-01-04 02:11] nkolev92 commented on #9000
16.4.0 fixes things locally, unlike dotnet/roslyn#40532, so might be false alert for @rainersigwald :)

Kicked off our tests.

[2020-01-04 02:19] nkolev92 opened #9001 "Consider a cadence for ingesting VS & MSBuild dependencies"
The client libraries have dependencies on 3 groups of packages.

1. Platform packages (slowly going away with 3.0 anyways)
1. MSBuild dependencies
1. Visual Studio dependencies

The cadence at which we upgrade these is:
- every major release. For example: https://github.com/NuGet/NuGet.Client/pull/2565/, https://github.com/NuGet/NuGet.Client/pull/2580
- when we need to ingest a new feature https:/

[2020-01-06 05:30] nkolev92 commented on #8702
The "guidance" part of this is addressed in: https://github.com/NuGet/NuGet.Client/pull/3180

[2020-01-06 05:35] #9000 closed, assigned to nobody

[2020-01-06 10:28] kumaresan-subramani commented on #5138
https://www.nuget.org/packages/dotnet-search/

This helps for me..!

[2020-01-06 12:41] StarWars999123 commented on #8865
I would expect to see an warning or error message, like "Package is defined with multiple versions (4.9.3, 4.9.3). Please check your referenced projects" or something similar.

[2020-01-06 15:38] logiclrd commented on #5138
@kumaresan-subramani How do you use this tool to do a search that is an exact match search on package name and/or version?

[2020-01-06 16:15] jstutson commented on #5138
To answer the question of use-case, for me need was to check if a package version existed prior to attempting to publish that version during CI/CD.  The alternative was to blindly attempt to publish the package and then parse the 400 error response from bitbucket for the duplicate exception if it occurred.  Or, we could do as stated above and get all matches then manually parse through them.

[2020-01-06 16:25] logiclrd commented on #5138
My use case goes a step further, I want to query what the latest version is of _that exact package_ so that the build can automatically increment the version number, using the NuGet package repository itself to store the version state.

[2020-01-06 17:07] jeffkl opened #9002 "DependencyGraphSpec should support adding projects concurrently"
## Details about Problem

The [DependencyGraphSpec](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.ProjectModel/DependencyGraphSpec.cs) object uses a standard collection object as a backing collection.  This makes it impossible to use it in a parallel loop or multiple threads.  It should use a concurrent collection instead.

NuGet product used (NuGet.exe | VS UI | Package Mana

[2020-01-06 18:17] heng-liu opened #9003 "add tests on cross verifying signed packages"
Since we have some different code paths for different platforms for signing/verification, we should generate signed packages on all platforms(windows/Linux/Mac), and cross verify them.
The list of signed packages should be cross verified are:
1.Author signed.
2.Author signed & timestamped.
3.Repository signed.
4.Repository signed & timestamped.
5.Author signed , repository countersigned.
6.Author

[2020-01-06 18:52] zkat opened #9004 "XPlat Signing: Enable signature verification for restore in dotnet.exe"
This is a tracking epic for getting verification working during restore. It involves the following:

1. Enable all verification-related tests, enabling signing tests as necessary to get existing verification working.
2. Make sure `nuget.exe verify` works on all platforms through mono
3. Make sure client policies work as expected on all platforms.

[2020-01-06 18:57] zkat opened #9005 "XPlat Signing: Package signing"
This epic covers the remainder of tasks related to signing as far as current support goes:

1. Enable all signature tests
2. Make sure `nuget.exe sign` works cross-platform.

[2020-01-06 18:58] zkat opened #9006 "XPlat Signing: dotnet commands"
This epic covers the design and implementation of `dotnet sign` and `dotnet verify` (or whatever they end up being called).

[2020-01-06 19:43] nkolev92 opened #9007 "Smart context menus in the solution explorer (show only when applicable)"
The https://github.com/NuGet/Home/issues/8956 effort will add "update" context menus.

This context menu will be shown for every package.

Ideally this context menu is only shown when applicable, like if there are updates available (or a next step, applicable updates available).

A comparable experience is the VS for Mac solution explorer.

<img width="529" alt="Screen Shot 2020-01-02 at 11 49 31

[2020-01-06 19:46] heng-liu opened #9008 "Test ExtractPackageAsync_RequireMode_UnsignedPackage_InCoreCLR_SkipsSigningVerificationAsync is out of date when xplat verification is implemented"
Test ExtractPackageAsync_RequireMode_UnsignedPackage_InCoreCLR_SkipsSigningVerificationAsync is checking if unsigned package will skip verification in CoreCLR in RequireMode during extraction(restore).
This test should be disabled for netcore5.0 when xplat verification is implemented, as the signed package should be verified.

We need to make sure the verification xplat is tested when we disable t

[2020-01-06 19:56] jomonson opened #9009 "Ubuntu nuget push fails when depending on Grpc.AspNetCore and compiling sources"
NuGet product used (dotnet.exe):
dotnet.exe --version (3.1.100):

OS version (Ubuntu WSL subsystem 18.04LTS):

Worked before? If so, with which NuGet version:
Works on Windows using NuGet.exe

## Detailed repro steps so we can see the same problem

1. **Create a csproj file with the following:**
[code]
**have a sample .proto file.**
**have a nuget.config file:**
[code]
run:
`dotnet pack --configur

[2020-01-06 20:13] anangaur commented on #9007
Thanks for opening this issue. Based on our discussions, this is where we need to land. #8956 will help folks who already know they need to update their package and will find an in-context menu.
We are aware that this experience might not be suited for folks who see update option and click to find that no updates were available.

[2020-01-06 20:59] zkat opened #9010 "Signing: Design dotnet package signing commands"
Write up an RFC describing the commands and options and get it reviewed before implementing the actual commands.

[2020-01-06 21:50] heng-liu opened #9011 "Broken test in SignCommandRunnerTests Tests"
In SignCommandRunnerTests ,
testExecuteCommandAsync_WithAmbiguousMatch_ThrowsAsync failed on Linux and not run on Mac.

[2020-01-06 22:24] jomonson commented on #9009
Might be related to these:
https://github.com/rynowak/opulence/issues/4
https://github.com/NuGet/Home/issues/8580

[2020-01-06 22:44] nkolev92 commented on #8865
@StarWars999123

Unfortunately that behavior goes beyond NuGet.
MSBuild parses in a top to bottom, props first, items next approach.
It's an MSBuild feature, and NuGet is not handling it in a special way.

https://docs.microsoft.com/en-us/visualstudio/msbuild/comparing-properties-and-items?view=vs-2019#property-and-item-evaluation-order

[2020-01-06 22:52] zkat opened #9012 "rebase main signing branch on top of latest dev"
It's been a while since we've done a rebase, so once NuGet/NuGet.Client#3168 is merged into `dev-feature-xplatVerification`, we should go do that.

[2020-01-06 22:55] nkolev92 commented on #3291
https://github.com/NuGet/NuGet.Client/pull/3183 enables the dotnet.exe integration tests to run cross platform.

[2020-01-06 23:10] zkat commented on #7606
This work is being superseded by the epic over at https://github.com/NuGet/Home/issues/7939, so I'm closing this issue.

[2020-01-06 23:10] #7606 closed, assigned to dtivel

[2020-01-06 23:21] zkat opened #9013 "Re-enable OSX failing signing tests"
These 4 tests seem to behave differently on Mojave vs Sierra. On Sierra chain building fails in signing, while in Mojave signing succeeds but then verification fails with the OCSP server issues.
The chain building issues in Sierra seem similar to the issues in the 18 other tests that don't repro in Mojave, so they might be related.

The tests have been disabled on CI and need to be fixed and re-en

[2020-01-06 23:25] zkat commented on #9013
This PR may have to do with this: https://github.com/NuGet/NuGet.Client/pull/3003

[2020-01-06 23:26] zkat commented on #8047
Closing this. We'll create new issues as needed.

[2020-01-06 23:26] #8047 closed, assigned to heng-liu

[2020-01-06 23:42] zkat commented on #8050
This is being tracked separately, as needed, as part of https://github.com/nuget/home/issues/9004

[2020-01-06 23:42] #8050 closed, assigned to heng-liu

[2020-01-06 23:59] #5796 closed, assigned to dominoFire

[2020-01-07 00:16] heng-liu commented on #9013
Get the list from a [commit](https://github.com/NuGet/NuGet.Client/commit/a4797e1dc198103e47b4c5172b150c589a633250) in PR:  [NuGet/NuGet.Client#3003](https://github.com/NuGet/NuGet.Client/pull/3003)
In test/NuGet.Core.Tests/NuGet.Packaging.Test/SigningTests/CertificateChainUtilityTests.cs,
  GetCertificateChain_WithUntrustedRoot_Throws
  GetCertificateChain_WithUntrustedSelfIssuedCertificate_Retur

[2020-01-07 01:23] cristinamanum opened #9014 "[Centrally managing NuGet packages and versions] dotnet CLI commands (for MVP)"
https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions

[2020-01-07 01:25] cristinamanum opened #9015 "[Epic]: Tooling support for central package management"
This is a tracking epic for work related to updating tooling to work with central package management (dotnet CLI, VS)

# Issues

# Pull Requests

- [x] https://github.com/NuGet/NuGet.Client/pull/4792
- [x] https://github.com/NuGet/NuGet.Client/pull/4986

[2020-01-07 01:28] cristinamanum opened #9016 "[Centrally managing NuGet packages and versions] Design document for Visual Studio - CPVM integration"

[2020-01-07 01:32] cristinamanum opened #9017 "[Centrally managing NuGet packages and versions] Close on the Visual Studio UI CPVM user scenarios"
This work will consist from:
1. Work with PM and UX teams to agree on the final design for UI regarding CPVM.
2. Review the UI design doc with Partners (msbuild, dotnet teams)
3. Reiterate until everyone in sync.

[2020-01-07 01:34] cristinamanum opened #9018 "[Feature]: Add support for central package management to Visual Studio Package Manager UI for SDK-style projects"

[2020-01-07 02:10] OzBob opened #9019 "Restore fails for 4.4.* and 404 on myget source"
Restoring a package with an version with a *, and referencing a VSIX myget source feed and building the project in Visual Studio results in
'Error occurred while restoring NuGet packages: Failed to retrieve information'

My sources are:
my local folder nuget packages source
nuget.org
dotnet-core myget
and
Windows Template Studio VSIX myget feed

A restore would fail for packages that use wildcards

[2020-01-07 08:57] obeyda opened #9020 "restore: Received an unexpected EOF or 0 bytes from the transport stream"
## Details about Problem

product used (mcr.microsoft.com/dotnet/core/sdk:3.1-buster):

dotnet.exe --version:
[code]
OS version (i.e. win10 v1607 (14393.321)):
[code]
## Detailed repro steps so we can see the same problem

restore a project from a solution with a big number of nuget packages and projects (>50 project), no issues for smaller solutions.

## Other suggested things
this works with `--

[2020-01-07 13:06] GeorgeCimpoies commented on #1448
Might help others: https://jfrog.com/knowledge-base/why-and-how-to-resolve-the-problem-of-install-search-of-nuget-packages-with-semver2-after-upgrade-to-6-0/

[2020-01-07 13:58] ChristophLindemann commented on #8806
Also, maybe you should not check on the source files name and folder, but on the PackagePath

Because right now it will fail, if you add a file "somewhere\foo.props.template" with a packagepath of "build/the.package.id.props"

[2020-01-07 17:17] ancgate commented on #6693
Any updates on this.

[2020-01-07 17:56] cristinamanum opened #9021 "[Centrally managing NuGet packages and versions] Visual Studio : PMUI for Solution Package References"

[2020-01-07 18:24] zivkan commented on #8806
That surprises me. Pack validations only have visibility of the path in the package. So if a packed file is renamed as part of the pack, the validation should have no way of seeing what the original file name was.

[2020-01-07 18:49] cristinamanum opened #9022 "[Feature]: Add support for central package management to dotnet add package"
Implement changes for dotnet add

[2020-01-07 18:50] cristinamanum opened #9023 "[Feature]: Add support for central package management to dotnet remove package"

[2020-01-07 18:51] cristinamanum opened #9024 "[Feature]: Add support for central package management to dotnet prune"

[2020-01-07 19:09] cristinamanum opened #9025 "[Centrally managing NuGet packages and versions] Visual Studio - E2E testing"
Create test matrix for manual execution.
Execute the test matrix.

[2020-01-07 19:49] nkolev92 commented on #8482
See e-mail thread "RE: RPS triggers for NuGet (failing RPS builds)" for details.

[2020-01-07 19:49] nkolev92 commented on #8970
Duping this out to https://github.com/NuGet/Home/issues/8482.
That issue specifically targets the root problem of our failures.

[2020-01-07 19:49] #8970 closed, assigned to zivkan

[2020-01-07 19:53] nkolev92 commented on #8806
I think @zivkan is correct.
By the time this check is performed, the package is already created.
Pretty confident that we don't look at the source by then.

[2020-01-07 20:46] LightVolk commented on #8922
@nkolev92 ,yes it is that i want to get: latest dependencies (max versions)

[2020-01-07 21:15] nkolev92 commented on #8922
That's not possible in PackageReference right now, see https://github.com/NuGet/Home/issues/5553.

Given all this, we have 2 issues that can help your scenario, but they are not implemented yet.
Do you see any other ask here?

[2020-01-07 21:35] jeffkl opened #9026 "Static Graph restore should respect MSBuild verbosity"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Details
The new Static Graph restore will be launching a separate process from MSBuild so it can res

[2020-01-07 21:54] Havlat82 commented on #6990
Hi, I was stepping through [quick start tutorial at docs.microsoft.com](https://docs.microsoft.com/cs-cz/nuget/quickstart/create-and-publish-a-package-using-visual-studio?tabs=netcore-cli) and when I tried to pack it, I got very same error. I tried to pack net standard 2.0 class library.

[2020-01-07 23:12] jwosty commented on #5525
I am also running into this problem. Can't find a way to remedy it, so for now my library is forced to use a ">=" constraint which is potentially bad.

[2020-01-07 23:13] jwosty commented on #7213
I'm running into this problem and it is making things very tricky

[2020-01-07 23:17] AaronLS commented on #3324
Many packages combined with Tfs buildsfolder/build/collection/branch/solution/project easily exceed the limit.  This breaks TFS builds where there's little flexibility for these workaround.  When you tell a XAML build definition to get a deeper path from source control, to try and shorten the resulting path, it still generates all the parent directories.

For example, consider the path from this p

[2020-01-07 23:22] zkat opened #9027 "XPlat signing: Get package signing working on mono"
This is for any failing tests specific to only mono, and any additional feature work that might involve.

[2020-01-07 23:23] zkat commented on #9005
I did this wrong. Closing this epic.

[2020-01-07 23:23] #9005 closed, assigned to nobody

[2020-01-07 23:37] zkat opened #9028 "Analyze existing ecosystem for signature validity"
We need to run some azure functions to go over the entire NuGet registry and make sure all packages have valid signatures, and that our xplat verification actually works on them, on all platforms. Fix bugs accordingly.

[2020-01-07 23:59] heng-liu opened #9029 "Remove workaround of locking SDK version for building"
We now lock SDK version for building project, as sometimes issues in preview SDK block our work.
When we are ready to ship, we should use the SDK installed on CI machines instead of a specified one.

[2020-01-08 00:08] heng-liu opened #9030 "Remove workaround of installing SDK version for building and global.json"
We now have a workaround to install SDK 5.0 for each CI machine.
We need to remove this workaround and use the SDK installed on CI machine.

We should also remove the global.json file from our solution.

[2020-01-08 01:47] nkolev92 commented on #5926
@wli3 @nguerrera

I know we discussed this in a sync-up meeting.
If there's a high priority for this issue, let us know so we can account for in our triaging.

fyi @aortiz-msft

[2020-01-08 07:54] ChristophLindemann commented on #8806
@zivkan & @nkolev92
Please disregard my [previous comment about the package path](#issuecomment-571597505):

As I can not reproduce it in a clean demo project. So I must have messed something up in my other project.

[2020-01-08 09:23] pracplayopen commented on #7956
also experienced same error w/ubuntu and monodevelop.  ironically it occurs on a net-standard project with no files or even nuget dependencies.

global json did not work.   only thing worked was uninstall dotnet-sdk-3.1.    oddly, running msbuild from the command line did succeed... but never monodevelop.   these are using stable ubuntu packages.

HOST

[code]

MONO

[code]

MONODEVELOP

[code]

D

[2020-01-08 09:53] ChristophLindemann commented on #8806
@zivkan & @nkolev92

I have managed to create a repro project. Somehow the source Identity comes into play.

The following succeeds
[code]

And this fails:
[code]

You can find the code in the following repository [NU5129-build-props](https://github.com/ChristophLindemann/NU5129-build-props)

[2020-01-08 18:09] dtivel opened #9031 "Restore: large strings created on large object heap (LOH)"
[`DependencyGraphSpec.Save(…)`](https://github.com/NuGet/NuGet.Client/blob/feceff9099e6f02dd2a6d76b26ed68a6029959f5/src/NuGet.Core/NuGet.ProjectModel/DependencyGraphSpec.cs#L241) serializes the DGSpec to a string before writing the JSON to file.  A DGSpec string can be quite large.  In one customer memory dump I counted 401 such strings in the large object heap (LOH) with an average string size of

[2020-01-08 18:11] wtgodbe commented on #8827
Not sure about this - @ericstj @safern @viktorhofer @anipik have we learned anything more about this in dotnet/runtime?

[2020-01-08 18:19] LightVolk commented on #8922
@nkolev92 , thank you for response! I will be wait! :)

[2020-01-08 18:19] #8922 closed, assigned to nobody

[2020-01-08 18:22] ericstj commented on #8827
So I just tested this and there is no warning emitted.  Here's the code we use to pack a nuspec: https://github.com/dotnet/arcade/blob/48bae09d7d8ec0e6879fe2b8d08872cd87f084ca/src/Microsoft.DotNet.Build.Tasks.Packaging/src/NuGetPack.cs#L245-L315

I had a look at PackageBuilder.Save and it validates the ID of dependencies, but does not validate the consistency in stability:
https://github.com/NuGet

[2020-01-08 19:39] zivkan opened #9032 "Make install VSIX script resilient to incomplete VS installs"
A number of CI builds fail when VS is in a broken installation state, requiring someone to log in to the CI machine and repair the VS install. This can be reproduced at will by killing vsixinstaller.exe in the middle of an installation (for example, canceling the CI build while it's installing the VSIX).

VS install team informed us we can use the "resume" command on vs_installer.exe to have it re

[2020-01-08 20:58] ancgate commented on #6693
<ItemGroup>

<PackageReference Include="Newtonsoft.Json" Version="9.0.1" Condition="'$(TargetFramework)' == 'net452'" />

</ItemGroup>

[2020-01-08 20:58] ancgate commented on #6693
<ItemGroup>

<PackageReference Include="Newtonsoft.Json" Version="9.0.1" Condition="'$(TargetFramework)' == 'net452'" />

</ItemGroup>

[2020-01-08 21:07] anangaur commented on #8977
Is this for default verbosity?

[2020-01-08 21:10] nkolev92 commented on #8977
That message is written on minimal verbosity.

The default verbosity is different on different clients, but all of them print minimal by default.

This is **the 1 message** that every restored project prints.

[2020-01-08 21:17] nguerrera commented on #5926
It was on me to write up a more complete proposal and I got caught up with release issues since. I still intend to push forward on this. It would be good to have it on your radar for soon. There are a lot of pings on related sdk issues for quite some time. I think we should try to prioritize it.

[2020-01-08 22:45] wli3 opened #9033 "dotnet add package --source not imperative"
_From @iamalexmang on Tuesday, January 7, 2020 10:52:50 AM_

I strongly believe that if I explicitly mention a --source parameter for the package, especially in the format of a file system path, the CLI should not try validate the package's existence on any other sources.
As of right now, when I specify the source parameter as a FS path, if either of the sources specified at the solution level, us

[2020-01-08 22:51] wli3 opened #9034 "dotnet pack --ouput directory no longer relative to current directory"
_From @frankkilcommins on Tuesday, November 12, 2019 10:30:50 AM_

As of yesterday, I get issues with dotnet pack where the output directory was created at the root working directory rather than relative to the current directory. This caused subsequent pack command to fail as the expected pattern was no longer matching.

sdk version: 2.1.500

Output:
`[command]C:\hostedtoolcache\windows\dncs\2.1.5

[2020-01-08 22:51] wli3 commented on #9034
_From @bruno-brant on Tuesday, December 3, 2019 2:12:02 AM_

I'm getting the same behavior. SDK version is `2.2.108`.

[2020-01-08 22:53] nkolev92 commented on #6285
Issue to be considered: https://github.com/NuGet/Home/issues/8827

We should have corefx folks depend on our task instead of wiring up their own.

[2020-01-08 22:54] nkolev92 commented on #8827
That specific package validation is done in https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/CommandRunners/PackCommandRunner.cs#L633.

It's after the fact, because these are warnings by default, so we don't fail the package creation if something does go wrong.
I think it was just done that way so the PackageBuilder doesn't need context about things like warn as error.

[2020-01-09 00:48] nkolev92 commented on #7576
Is IgnoreMissingImports even settable as a property?

@jeffkl

[2020-01-09 00:52] KirillOsenkov commented on #7576
See here for API usage:
https://source.dot.net/#Microsoft.Build/Definition/ProjectLoadSettings.cs,350c1887cee7e2df,references

[2020-01-09 00:59] nkolev92 opened #9035 "Clarify the inconsistency with restore and ignoring missing imports in dotnet/msbuild/nuget.exe restore"
Set-up a project with a missing import.

Try restoring:

dotnet restore

[code]

msbuild restore

[code]

Define a restore2 target with the exact same content as the restore target.
`
[code]

nuget.exe restore

[code]

This is inconsistent because of https://github.com/microsoft/msbuild/blob/8d37fbb97003e96516a2054e51dd5fabfd720ed6/src/MSBuild/XMake.cs#L1356.

The restore target is special cased.

[2020-01-09 01:15] nkolev92 commented on #6484
Is this relevant at all now?

I don't think the package type check was implemented on the msbuild side at all, making all of this moot.

I'd love to have that check, but I'm worried that it will break SDKs that never set this package type.

[2020-01-09 01:17] nkolev92 opened #9036 "Make the dotnet.exe functional tests runnable from Visual Studio, speed up the Dotnet.Integration.Test suite by 40%"

[2020-01-09 01:19] nkolev92 opened #9037 "NuGet.exe restore E2E tests should be run in all entry points (msbuild, whenever dotnet.exe if possible)"
Commandline integration tests in https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Clients.Tests/NuGet.CommandLine.Test/RestoreNETCoreTest.cs cover the majority of the restore functionality tests.
The NuGet.exe/MSBuild restore functionality used to be consistent, and now there's plenty of diverging code (specifically, the dg spec generation).

In general we should ensure that scenario test

[2020-01-09 01:25] nkolev92 commented on #7576
NuGet.exe starts an msbuild process and calls a target. :(
There's no compile time dependency to MSBuild.

[2020-01-09 01:27] nkolev92 commented on #9033
Relevant https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#packagereference-and-sources.

I see this the --source option as the same.

[2020-01-09 01:32] KirillOsenkov commented on #7576
I see, MSBuild /r uses that flag in `ExecuteRestore`, but if you call the `Restore` target manually it's not set:
http://index/?query=ExecuteRestore&rightProject=Microsoft.Build&file=XMake.cs&line=1356

You are correct, there's currently no way to pass IgnoreMissingImports to MSBuild via command line if not using /r.

[2020-01-09 01:36] nkolev92 commented on #7576
It works if you call the "restore" target directly.

Thing is nuget.exe calls GenerateRestoreGraphFile, and restores on its own, cause it has the packages.config logic there.

https://github.com/NuGet/Home/issues/9035 :)

[2020-01-09 01:49] jeffkl commented on #6484
This is mostly needed for enforcement and search filters.  We don't want people installing SDKs as normal packages and we'd probably want to be able to search for just SDKs or filter them out.

[2020-01-09 01:54] nkolev92 commented on #6484
Is anyone actually creating the SDK packages with a package type?
If that's still true, then it's worth keeping :)

[2020-01-09 02:01] jeffkl commented on #6484
I set it in all of mine
https://github.com/microsoft/MSBuildSdks/blob/922c8d565383bacd6aecd4ad7739f7c821f15b2e/Directory.Build.targets#L26
https://github.com/jeffkl/KluGet/blob/6843fc75137e0e1e7dee418e1845fd635068a7d2/Directory.Build.targets#L37

And its set in MSBuild.Sdk.Extras which is widely used

https://github.com/novotnyllc/MSBuildSdkExtras/blob/de1a970a2f79b42935ba72e863dffe63dff3b21e/Tool

[2020-01-09 02:41] kartheekp-ms commented on #8736
Details about this issue are documented in this [comment](https://github.com/aspnet/websdk/issues/1036#issue-512582162)

[2020-01-09 08:13] iamalexmang commented on #9033
I do not want to disagree with you. What I'm saying is that from the CLI perspective, I'm **not** calling
[code]
but instead, I'm calling
[code]
The way I read it is that I'm explicitly specifying a source. The problem appears because some devs choose to commit the NuGet.config configuration file specific to the solution. As you'd expect, AlexsPackage is in a private package feed.
Upon the CD pipe

[2020-01-09 08:47] nkolev92 commented on #9033
Quick fingers when I saw this issue.

I'd imagine the reasoning behind including the default sources + the ones specified by --source is add package is really just another "restore". When restore happens, all packages get reevaluated.

Say you have the following package dependency graph.

A 1.0.0 -> B 2.0.0 -> E 1.5.0
C 2.0.0 -> D 1.5.0

And you are trying to add a package from a source that might

[2020-01-09 08:47] #9033 closed, assigned to nobody

[2020-01-09 08:48] nkolev92 commented on #7999
Dup of https://github.com/NuGet/Home/issues/6232

[2020-01-09 08:48] #7999 closed, assigned to nobody

[2020-01-09 09:05] kcd83 commented on #7999
Ah yes, makes sense it is simply using the default sources,  and in my case one of those was unavailable.

This is the same issue, thanks for checking

[2020-01-09 17:37] Ynot1234 opened #9038 "Building solution with both Core and Standard"
I have a solution on MS 2017 with a Core startup project and a 'Standard' class library.   I migrated the package.config references to package references format.  When I try to build it on TFS with .Net Core Build tasks,  the Standard project is not able to locate some of the Top Level NuGet libraries...

_error CS0246: The type or namespace name 'Newtonsoft' could not be found (are you missing a

[2020-01-09 17:43] jlmarrntx commented on #6330
Have there been any updates on this topic? I assume ps1 files are still a no go...?

[2020-01-09 18:12] diogorolo opened #9039 "SkipDuplicate option is ignored in symbol packages"
# Details about Problem

NuGet product used: dotnet.exe

NuGet version: 4.7.0.5148

dotnet.exe --version (if appropriate): 3.1.100

OS version (i.e. win10 v1607 (14393.321)): win10 v1903 18362.535

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem
Example command: dotnet nuget push dummy.nupkg --skip-duplicate -k my_key -s https://mysource.c

[2020-01-09 19:46] medright commented on #8609
this is failing for me with visual studio enterprise 2019 v16.4.0, please see attached screenshot
![Snag_1a469f](https://user-images.githubusercontent.com/4702913/72099546-d4ae0100-32ee-11ea-98a2-9c0655440525.png)

[2020-01-09 20:08] danielmeza commented on #6330
@jlmarrntx this is tracked here https://github.com/NuGet/Home/issues/5963

[2020-01-09 20:12] danielmeza commented on #5963
What if run it with a flag like --allow-ps1 or -ps1 and just left the security concerns to the user, this allow to migrate many package.

[2020-01-09 21:04] dtivel opened #9040 "Restore: DependencyGraphSpec.Load(...) does not need JObject"
[`DependencyGraphSpec.Json`](https://github.com/NuGet/NuGet.Client/blob/90f0a2cc44df67ca01d6411fd68e5aac57e2a247/src/NuGet.Core/NuGet.ProjectModel/DependencyGraphSpec.cs#L79) is unused except by tests.  Holding both the `Newtonsoft.Json.Linq.JObject` and the NuGet representations of a dependency graph spec in memory is completely unnecessary.

Recommendations:
1. Remove the `DependencyGraphSpec.Js

[2020-01-09 22:56] #8791 closed, assigned to jeffkl

[2020-01-09 23:02] #8692 closed, assigned to jeffkl

[2020-01-09 23:35] zarenner commented on #8791
@jeffkl is this in a state where we could test it now or soon (e.g. with a preview .net core sdk)? Very excited for this.
fyi @tedchamb @kevin-david

[2020-01-09 23:38] jeffkl commented on #8791
@zarenner we'll need to do a VS insertion and then it'll be available in internal previews.  I expect to find some issues and fix them before the next release, 16.5 Preview 3.

[2020-01-10 00:05] dtivel opened #9041 "Restore: excessive deep cloning of ProjectSpec"
When restoring ([`NuGet.Commands.RestoreRunner.RunAsync(...)`](https://github.com/NuGet/NuGet.Client/blob/74d1935e4e25a90df536ae7cac6cf7c73c6ea678/src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreRunner.cs#L25)) NuGet makes wasteful use of memory with respect to `PackageSpec` objects.  This is especially noticable on large solutions.

[`DependencyGraphSpec.WithProjectClosure(...)`](https://gith

[2020-01-10 00:05] dtivel opened #9042 "Restore: closure computed for each project 4 times"
[`DependencyGraphSpec.GetClosure(...)`](https://github.com/NuGet/NuGet.Client/blob/74d1935e4e25a90df536ae7cac6cf7c73c6ea678/src/NuGet.Core/NuGet.ProjectModel/DependencyGraphSpec.cs#L142-L181) is called twice for each project.  Once in [`DependencyGraphSpecRequestProvider.GetRequestsFromItems(…)`](https://github.com/NuGet/NuGet.Client/blob/74d1935e4e25a90df536ae7cac6cf7c73c6ea678/src/NuGet.Core/NuG

[2020-01-10 00:21] #8993 closed, assigned to dtivel

[2020-01-10 00:32] loic-sharma opened #9043 "Search query isn't properly URL encoded"
## Details about Problem

The search query is not properly URL encoded:

1. This breaks NuGet.org's ["plus" operator](https://docs.microsoft.com/en-us/nuget/consume-packages/finding-and-choosing-packages#search-syntax) for queries like `foo+bar`
1. This allows a user to craft a search query that appends arbitrary query strings.

It looks like this line is responsible: https://github.com/NuGet/NuGe

[2020-01-10 00:51] #8925 closed, assigned to nobody

[2020-01-10 03:18] nicolas-garcia commented on #6855
Hi,

I found a solution today to this issue, that may be a lack of documentation ?

In Visual Studio for Mac, you need to follow this documentation for making it work: https://docs.microsoft.com/en-us/azure/devops/artifacts/nuget/consume?view=azure-devops#macos-add-the-feed-to-your-nuget-configuration

Basically, instead of logging in using your regular credentials on VSTS (Azure DevOps now), you

[2020-01-10 04:51] kartheekp-ms commented on #8208
Did some analysis on the pending work for this issue. Manual work around (refer [`doc`](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/EnableConfiguration.md)) may be required for .NET framework projects because [`EnvDTE.AddFromFileCopy`](https://docs.microsoft.com/en-us/dotnet/api/envdte.projectitems.addfromfilecopy?view=visualstudiosdk-2019) API doesn't allow to p

[2020-01-10 04:54] nkolev92 commented on #9042
3 times! :)

Here's where **a** modification of the packagespec is happening. https://github.com/NuGet/NuGet.Client/blob/f544960b09be563228afa75e0dc031bb1760be6d/src/NuGet.Core/NuGet.Commands/RestoreCommand/Utility/NoOpRestoreUtilities.cs#L197-L226

We can have a hash function that just ignores those fields rather than have extra cloning.

[2020-01-10 05:02] nkolev92 opened #9044 "Disable NU5105"
When creating semver2 packages...you get something like...

I believe at this point this warning should be removed.

Semver 2.0 was backported to VS 2015, additionally both 4.x and 5.x latest version support semver2.0

[2020-01-10 07:50] xymunter opened #9048 ""NuGet restore" with NuGet 5.x doesn't pick the highest version of MSBuild.exe available"
When using the _NuGet_ build task with the _restore_ command in an Azure DevOps Server 2019 (ADOS) Build Pipeline after explicitly setting NuGet version to 5.x (and _Always check for new versions_ active) via_ _NuGet tool installer_ build task, the MSBuild.exe version that then is automatically picked is not the highest one, which would be 16.4, given that Visual Studio 2019 is intalled on the bui

[2020-01-10 09:40] v-longmin opened #9045 "[Localization][CHS][CHT] String “By” should be translated to “作者:”"
## Details about Problem
VS Version: D16.5\29708.193
OS Version: windows-10-enterprise-rs4-zh-cn
## Installation
1. Install a clean machine with OS: windows-10-enterprise-rs4-zh-cn
2. Install VS D16.5\29708.193: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3369922&view=results CHS/CHT
## Detailed repro steps
1. Open Visual Studio 2019 preview.
2. Create a new Console App (.Net Cor

[2020-01-10 09:50] dejanberic commented on #8723
I got the same problem again, even though I have targeted and installed .NET Framework 4.7.2.
The issue again appeared when I upgraded my project (which is targeting .NET Framework 4.7.2)
to use "Azure.Storage.Blobs" Version="12.1.0" instead of "Microsoft.Azure.Storage.Blob" Version="9.4.2".
I saw that in csx/Production folder I have System.ValueTuple.dll and System.Runtime.CompilerServices.Unsafe

[2020-01-10 09:55] sarthak199526 commented on #6855
Yes this is exactly what I ended up doing.

[2020-01-10 11:26] v-luzh commented on #9045
Note: This issue is not a regression.

[2020-01-10 11:57] dasMulli opened #9046 "Azure DevOps: NuGet constantly failing due to reliance on offline package cache"
## Details about Problem

dotnet.exe --version (if appropriate): 3.1.100

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Create a project that references a lot of NuGet packages.

2. Create an Azure DevOps build definition fetching the 3.1.100 SDK and using `dotnet build` to restore and build the project.

3. Observe that builds fail occ

[2020-01-10 13:55] dasMulli commented on #9046
Apparently a workaround that seems to restore our pass rate so far is adding a nuget.config that clears all inherited feeds and adds nuget.org again.
I don't think that this should not be necessary though..

[2020-01-10 15:26] kartheekp-ms commented on #8208
Looks like VS Threading analyzers are using `AdditionalFiles` in their analyzer setup. https://github.com/microsoft/vs-threading/blob/master/doc/analyzers/configuration.md

[2020-01-10 15:30] dh-ger commented on #9020
I can confirm that I am seeing this behavior on the following images:
[code]

[2020-01-10 15:49] StingyJack opened #9047 "Issues posted here with over 100 positive reactions and supporting comments are being ignored"
Community feedback regarding a problem or feature isnt going to get much louder than that.  Why is the Nuget team not listening?

[2020-01-10 16:44] awesley commented on #912
Hiya - just echoing the criticality of being able to wildcard on pre-release versions.  It negatively affects our ability to run regression tests (since we can't simply wildcard our dependencies in our regression app) and our ability to continuously deliver to downstream teams in our organization.

Like many organizations, we produce a lot of artifacts from our pre-release branches.  Like many org

[2020-01-10 18:42] lukeschlather commented on #6140
I'm getting the same issue. All the reports make me think there may be multiple underlying issues. In our case we have the following setup:

- A dozen different projects that depend on a nuget package.
- Mix of .NET Framework and .NET Core projects
- We have a big build in Azure Devops. It:
-- Runs a dotnet restore for a series of .NET Core projects/solutions
-- Runs a nuget restore for a series o

[2020-01-10 21:49] refactoringdr commented on #7669
We have experienced the same problem. We have a ~240 project solution. dotnet restore took 3.83 hours from the command line and dozens of Gb of RAM. It appears to expand the dependency DAG into a tree (which is exponentially bigger).

[2020-01-10 22:14] aolszowka opened #9049 "Visual Studio 2017 Package Restore Fails If Build Forced "Too Early" (Race Condition?)"
## Details about Problem

NuGet product used: VS UI

VS version: Visual Studio 2017 15.9.14

OS version: Windows Server 2012 R2

## Detailed repro steps so we can see the same problem

In some scenarios not quite understood yet it appears that NuGet will fail to load properly in Visual Studio. Our best guess is this happens when loading larger solutions (anything with more than 50 projects, with m

[2020-01-10 22:29] #8758 closed, assigned to zivkan

[2020-01-10 23:21] wli3 commented on #8915
Do we have a decision from the triage?

[2020-01-10 23:25] nkolev92 commented on #8915
@wli3 We haven't had a discussion (holidays and all).
fyi @aortiz-msft

[2020-01-11 19:47] menaheme commented on #8412
I agree, the issue should be closed

[2020-01-11 19:47] #8412 closed, assigned to nobody

[2020-01-11 21:01] wli3 opened #9051 "dotNet Core SDK 3.1.100 failing to restore because of bad versions"
_From @predatorian3 on Saturday, January 11, 2020 1:53:54 AM_

# Issue Description

On a brand new install of dotNet Core SDK 3.1.100 for Windows 10 x64, It seems to be missing dependencies with the install. Should I need to include other feeds to get the `dotnet restore` to work after doing a `dotnet new xunit`? I was following this document: [Organizing and testing projects with the .NET Core co

[2020-01-12 00:59] jonathanmccormick commented on #8805
I'm having the same issue with the dotnet core CLI on Mac. No proxy.

`dotnet add package Microsoft.EntityFrameworkCore.InMemory
Microsoft (R) Build Engine version 15.1.548.43366
Copyright (C) Microsoft Corporation. All rights reserved.

  Writing /var/folders/j6/tp7zt6l50fz98b3st85mgf3h0000gn/T/tmp0mhzDO.tmp
info : Adding PackageReference for package 'Microsoft.EntityFrameworkCore.InMemory' into

[2020-01-12 01:36] jonathanmccormick commented on #8805
Scratch this, updating .NET Core fixed it.

[2020-01-12 20:26] avivanoff opened #9052 "PackageReference and transitive dependencies"
A while back you [changed the default behavior of build dependency asset to transitive](https://github.com/NuGet/Home/issues/6091). I was reading discussions, as well as [spec](https://github.com/NuGet/Home/wiki/Allow-package--authors-to-define-build-assets-transitive-behavior), but cannot find anything about potential [issue with transitive dependencies](https://curia.me/net-core-transitive-refer

[2020-01-13 01:14] jwdonahue commented on #9044
Or at least tell us how to disable this incredibly annoying warning.

[2020-01-13 04:50] coder2000 commented on #8646
The issue is still present.

[2020-01-13 07:10] nkolev92 commented on #9044
@jwdonahue

Refer to: https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings

If you are using msbuild /t:pack or dotnet.exe pack, refer to

More specifically: https://docs.microsoft.com/en-us/visualstudio/ide/how-to-suppress-compiler-warnings?view=vs-2019

For example, in the NuGet solution we do:

https://github.com/NuGet/NuGet.Client/blob/f64621487c0b454eda4b98af853bf4a528bef72a/b

[2020-01-13 13:42] awesley commented on #8999
Hey @zkat - taking any suggestions for this epic?  Would love to see some traction on
https://github.com/NuGet/Home/issues/912

Appreciate the consideration.

[2020-01-13 15:18] gsscoder opened #9053 "Feature request: better message if package ID already exists"
If *package ID* exists I get:
[code]
I discovered it using the web gallery instead of command line.

A meaningful message after this kind of fail for `dotnet pack` will be very useful!

Thank you for **excellent job**.

[2020-01-13 15:44] mia01 commented on #7216
Same thing with VS 2019 v 16.3.3

[2020-01-13 18:58] nkolev92 commented on #8985
Related to #1500

[2020-01-13 19:53] kartheekp-ms opened #9054 "Insertion of 5.5.0-preview2.6382"
* [x] VS for insertion into rel/d16.5 branch https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/223075
* [x] VS for insertion into master branchhttps://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/223078
* [ ] dotnet CLI

[2020-01-13 21:42] rrelyea commented on #3119
we'll investigate these as new issues point these out.

[2020-01-13 21:42] #3119 closed, assigned to nobody

[2020-01-14 00:02] nkolev92 commented on #8557
Closing this as dup of https://github.com/NuGet/Home/issues/8478.

[2020-01-14 00:02] #8557 closed, assigned to nobody

[2020-01-14 00:02] nkolev92 commented on #8478
I just folded an equivalent scenario into this issue: https://github.com/NuGet/Home/issues/8557.

[2020-01-14 00:13] nkolev92 commented on #6631
Duplicate of https://github.com/nuget/home/issues/442

[2020-01-14 00:13] #6631 closed, assigned to nobody

[2020-01-14 00:33] nkolev92 commented on #8064
This happens because both build and contentFiles are excluded transitively by default.

The dependency is added as:

https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets

The package needs to be rebuilt with a custom PrivateAssets. You can also consider using buildTransitive if VS 2019 is the only VS target version.

Beyond this

[2020-01-14 06:50] ChristophLindemann opened #9055 "False NU5129 raised when "build\<package.id>.props" file has a source name not including package id"
`dotnet pack` will generate a `NU5129` warning, when there are `build\*.props` files but the `build\<package.id>.props` file has a source name which is different.

`..../NuGet.Build.Tasks.Pack.targets(198,5): error NU5129: - At least one .props file was found in 'build/', but 'build/The.Package.Id.props' was not.`

## Details about Problem

`dotnet.exe --version` = 3.0.100

`dotnet pack` will gene

[2020-01-14 11:36] Levi--G commented on #2351
Today i needed this for the exact reason pointed out already. While testing packages before publish it doesn't seem practical to manually having to delete files in order to update without incrementing versions. Very dissapointed to see it has never been implemented.

[2020-01-14 11:45] meurig commented on #8208
I'm trying to put a stylecop.json file into a nuget package and have it included as a "C# analyzer additional file" in every project that references my nuget package.

I think this change would made that possible, so I'm very much for it!

[2020-01-14 17:02] CKozanecki commented on #2428
@yishaigalatzer: Related to what @breti169 mentioned, some things need to be configured in the PackageManager console on solution open that are specific to that solution and not other solutions.  For instance, right now my developers need to add environment variables to allow LOCAL-ONLY changes that dont apply to the build server and beyond. being able to run a script in Package Manager Console at

[2020-01-14 20:58] lukeschlather commented on #6140
I made a sample project in Azure Devops that illustrates the problem we're having (and the workaround.) Basically, nuget restore doesn't understand our Nuget.config, dotnet restore does.

[Failed build - netcore and netframework projects are using different versions of the package.](https://dev.azure.com/lukeschlather/Test/_build/results?buildId=7&view=logs&j=3dc8fd7e-4368-5a92-293e-d53cefc8c4b3&t

[2020-01-14 21:01] another-guy commented on #6437
I stumbled upon this github issue during my attempt to marry `dotnet nuget`  to Azure DevOps. Is there any progress or update on this?

[2020-01-15 00:16] michal-ciechan commented on #1823
Still not shown.... :(

[2020-01-15 00:38] michal-ciechan opened #9056 "PackageReference Condition not working"
Using latest Visual Studio2019 (16.4.2) adding a &lt;PackageReference Condition&gt; doesn't work as far as the generated NuGet package goes. The dependency is on all TargetFrameworks. Currently using a separate projects file per distinct targets and importing conditionally via `<Import Project="net451.packagerefs.targets" Condition="'$(TargetFramework)'=='net451'" />` as per StackOverflow answer h

[2020-01-15 03:21] karann-msft commented on #9056
@michal-ciechan - please provide detailed steps to reproduce this issue. For future reference use the send feedback about "This product" button instead of "This page" on the docs page to file product bugs.

[2020-01-15 10:16] michal-ciechan commented on #9056
Ignore this, not sure what happened yesterday! Some strange behaviour, but trying to replicate this in a new project + in my original project seems to be working correctly! Spent last 30 min trying to replicate in original project and seems to be working. Making me think I went crazy somehow yesterday! Apologies

[2020-01-15 10:17] #9056 closed, assigned to nobody

[2020-01-15 10:59] Arlorean commented on #8195
I'm getting the same problem trying to nuget **System.Numerics.Vectors** (4.5.0) into a C++/CLR project with NET Target Framework Version v4.7.2 in Microsoft Visual Studio Professional 2019 Version 16.4.3:
`Could not install package 'System.Numerics.Vectors 4.5.0'. You are trying to install this package into a project that targets 'native,Version=v0.0', but the package does not contain any assembl

[2020-01-15 14:52] bchewy commented on #8264
Hi, I'm very confused after looking at this, what exactly do i do with these few lines of code?

[2020-01-15 16:48] Petermarcu opened #9057 "Github doesn't parse SDK style projects for packages. Required nuspec"
Haven't found a good way to report this to github yet but figured you might want to know and push on it. https://github.community/t5/How-to-use-Git-and-GitHub/Used-by-counter-not-showing-the-packages/m-p/39425#M9620

People using SDK Style projects aren't able to use some of githubs features for referencing packages because of this.

[2020-01-15 17:03] r-bennett opened #9058 "Transitive dependencies not appearing in project.assets.json"
I have a net471 project with a chain of transitive dependencies (all of which are `ProjectReference`)
e.g.
[code]
All projects in the chain are SDK-style projects.

Looking at the `project.assets.json` file for `A.csproj`, it contains entries as I'd expect for `B` and `C`. `D` appears in the dependency list of `C`, but doesn't get its own entry. `E` does not appear at all. i.e. we've got something

[2020-01-15 18:09] rrelyea opened #9059 "Accessibility issues in Screen Reader experiences, missing altText and accessible name for Installed textbox, etc.,"
## Batch 1 - 3 fixes
 - [x] PM UI - Thumb control needs better accessibility name - don't just repeat control name.
[1049222](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1049222) - A11y_VS ASP.NET and Web Development_ Manage Nugent's-Browse_ Screen Reader : Narrator/NVDA is mentioning the vertical bar as "Thumb".

Test of fix with Accessibility Insights:
![image](https://user-images.git

[2020-01-15 18:41] karann-msft commented on #9053
dotnet pack cannot predict what source you plan to push a package to. Are you saying you don't get the same error on dotnet nuget push?

[2020-01-15 18:57] karann-msft commented on #9056
No worries @michal-ciechan! Glad you got it working. 👍

[2020-01-15 20:02] josh-degraw opened #9060 "Specify Icon file outside of project directory"
I am in the process of updating the `<PackageIconUrl>` tags to use `<PackageIcon>` instead, and I ran into an issue that I assume others may have.

Basically, I have multiple `.csproj`s in my solution, and many get packaged into libraries to be consumed. So far, I have applied the package icons in such cases by putting the line in my `Directory.Build.props` file and having it cascade and apply to

[2020-01-15 20:57] kartheekp-ms commented on #9038
As per this [doc](https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/dotnet-core?view=tfs-2018), Build, test, and deploy .NET Core apps is available from TFS 2017. Please refer to [restore-dependencies](https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/dotnet-core?view=tfs-2018#restore-dependencies) and [troubleshooting](https://docs.microsoft.com/en-us/azure/devop

[2020-01-15 22:59] jeffkl opened #9061 "Static Graph restore should not pass empty SolutionPath"
## Details about Problem

The new Static Graph restore passes an empty value for SolutionPath which ends up as a global property which overrides the value during evaluation which breaks things.  No empty properties should be set as global properties.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate):

[2020-01-16 00:10] DamianEdwards commented on #912
@anangaur any movement on this? Lots of us would really like to see this happen.

[2020-01-16 00:17] anangaur commented on #912
We have planning this week, where we will discuss this for this quarter. /cc: @karann-msft

[2020-01-16 01:06] donnie-msft commented on #8956
Revision: Open PM UI updates tab and check all packages there.

[2020-01-16 02:09] kartheekp-ms commented on #8208
Work around approach followed by Visual Studio threading team for this scenario to work https://www.nuget.org/packages/Microsoft.VisualStudio.Threading.Analyzers/
![pic](https://user-images.githubusercontent.com/52756182/72487219-25779b00-37c2-11ea-87fa-01430aadacac.png)

[2020-01-16 05:05] gsscoder commented on #9053
Yes, exactly. **NuGet** gallery spotted the problem. Pushing using the command line complained about **API Key** (saying it's expired or incorrect).

[2020-01-16 08:32] BrunoJuchli commented on #8583
We've also got a package which raises NU5128. It's a Tool package so it doesn't contain `ref`or `lib` folders:
![image](https://user-images.githubusercontent.com/2090172/72506538-61eadb80-3842-11ea-9ed4-cfc26b4a10d9.png)

Generated NuSpec (i've edited out description only properties like release notes, tags,... ):

    <?xml version="1.0" encoding="utf-8"?>
    <package xmlns="http://schemas.micro

[2020-01-16 08:56] nkolev92 opened #9062 "Guidelines for asynchronous NuGet extensibility services"

[2020-01-16 08:57] nkolev92 commented on #9062
Given that this is a guideline...it will go in home repo as a spec for review...then finally go into the home repo as part of the how-to :)

[2020-01-16 09:17] EastGaint opened #9063 "The <AdditionalIncludeDirectories/> in xx.props is not effective when <AdditionalIncludeDirectories/> in project is empty."
In my Nuget package, there's a xx.props file, it's content is as follows:
<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <ItemDefinitionGroup Condition="'$(Configuration)|$(Platform)'=='Debug|x64'">
        <ClCompile>
            <AdditionalIncludeDirectories>$(MSBuildThisFileDirectory)..\..\lib\native\ImageProce

[2020-01-16 09:18] #9063 closed, assigned to nobody

[2020-01-16 09:39] EastGaint opened #9064 "The <AdditionalIncludeDirectories/> in xx.props is not effective when <AdditionalIncludeDirectories/> in project is empty."
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): 4.9.2.5706

dotnet.exe --version (if appropriate): 2.1.509

VS version (if appropriate): 4.8.03752(VS2017)

OS version (i.e. win10 v1607 (14393.321)): win10 v1903 (18362.535)

## Detailed repro steps so we can see the same problem

1.

[code]

[2020-01-16 09:42] EastGaint commented on #9064
code for 2 step "<AdditionalIncludeDirectories></AdditionalIncludeDirectories>"

[2020-01-16 09:44] EastGaint commented on #9064
IE is terrible, I can't add code into. I think you can know what I say.

[2020-01-16 10:29] LukeMarlin commented on #7601
The above proposition from @nkolev92 just worked fine for me (with `dotnet pack`) with a license file named `LICENSE`, it took me hours to end up here because I couldn't make it work with the official documentation. Hopefully this will be documented explicitly at some point.

[2020-01-16 14:22] mwpowellhtx commented on #7601
@LukeMarlin Like you, I ended up isolating a "licensing" target that I could import into my projects along similar lines. However, you must rename the file as the file name "license", really "license." is not supported.

[2020-01-16 15:02] svdHero commented on #6328
I did a
[code]
and now I can neither access nor delete the `package` subdirectory. :sob:
I am on Windows 8.1. Does anybody have an advice?

[2020-01-16 16:13] #9061 closed, assigned to jeffkl

[2020-01-16 17:06] jeffkl opened #9065 "NuGet.Build.Tasks.Console should have its own unit test assembly"
## Details about Problem

In https://github.com/NuGet/NuGet.Client/pull/3109 I placed unit tests for one assembly in another assembly's unit test assembly.  I need to create a new test assembly for `NuGet.Build.Tasks.Console`.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate):

VS version (if appropria

[2020-01-16 17:52] LorenDorez opened #9066 "Missing Full path on linked content"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS SDK package builder

NuGet version (x.x.x.xxx): 5.4

dotnet.exe --version (if appropriate): 3.1.101

VS version (if appropriate): 2019 16.4.3

OS version (i.e. win10 v1607 (14393.321)): windows 10

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the

[2020-01-16 18:33] zkat commented on #8920
I'm with @rrelyea on this one. If this test actually fails on NetCore, that tells me that it -does- support long filenames well, and what we should do instead is have a coreclr-only test that check that we _don't_ get an exception for long filenames. What do you think, @heng-liu, @dtivel?

[2020-01-16 18:44] karann-msft commented on #9053
"or does not have permission to access the specified package." which is kinda the case here.

[2020-01-16 19:16] heng-liu commented on #8920
@zkat I agree. But just have concerns on https://github.com/NuGet/Home/issues/7588. Seems we need to fix it before enable restore on NetCore?

[2020-01-16 19:20] zkat commented on #8920
I feel like #7588 is outside the scope of the package signing work, and it's admitted to be a lower-priority thing. We should take care of it eventually, but I'm not sure it has anything to do with getting package signing working?

[2020-01-16 20:44] jeffkl opened #9067 "Add unit tests for RestoreTaskExe"
# Details about Problem

As a follow-up to https://github.com/NuGet/NuGet.Client/pull/3109 I need to add unit tests for the `RestoreTaskEx` class.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with whi

[2020-01-16 20:47] nkolev92 commented on #8556
Thanks for creating this issue.

This issue is better suited for the NuGetGallery.

Duplicate of https://github.com/NuGet/NuGetGallery/issues/3931.

[2020-01-16 20:47] #8556 closed, assigned to nobody

[2020-01-16 20:47] nkolev92 commented on #8371
Closing per the above comment.

[2020-01-16 20:47] #8371 closed, assigned to nobody

[2020-01-16 23:50] #8906 closed, assigned to dtivel

[2020-01-16 23:59] heng-liu commented on #8045
Closed as fixed.

[2020-01-16 23:59] #8045 closed, assigned to heng-liu

[2020-01-16 23:59] heng-liu commented on #8591
Closed as fixed.

[2020-01-16 23:59] #8591 closed, assigned to heng-liu

[2020-01-17 00:11] buddhashrestha opened #9068 "How to setup NuGet (feed source and credentials) in CI/CD pipeline?"
Remove the content above here and fill out details below.

## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 5.3.1.6268

VS version (if appropriate): 2017

OS version (i.e. win10 v1607 (14393.321)): win10

Worked before? If so, with which NuGet version: No

I setup NuGet (feed source and credentials) in my local via Visual Studio UI. I don't have a NuGet.config in my repo. No

[2020-01-17 04:59] rwecho commented on #7001
Having the same error when I am packing with <PackAsTool> specified
For a workaround, I change my pc to UTC-Zero time , and clear .nuget cache

[2020-01-17 05:20] gsscoder commented on #9053
Ok.
It was just to let you know if it's the case to change something, but after all I think it's not a real problem.
Thank you

[2020-01-17 05:20] #9053 closed, assigned to nobody

[2020-01-17 08:15] svdHero commented on #6328
Never mind. Problem solved. I forgot about the good old Windows rule:

![classic](https://user-images.githubusercontent.com/24250824/72595286-c624a280-3909-11ea-9ccf-8ab2cb92f5c3.jpg)

[2020-01-17 08:42] MattiasEppler commented on #8843
I was wondering that no one else needs content to be copied to output directory.

[2020-01-17 16:45] #9065 closed, assigned to jeffkl

[2020-01-17 16:51] osmodies opened #9071 "nuget restore succeed but project .net don't have content css and js"
Hi,

From Azure Pipeline restore package succeed, but the content (css,js ,img) of package is not added in Web application .net
![image](https://user-images.githubusercontent.com/19317872/72630201-dc3d5d80-391f-11ea-8d29-f2744282a8b9.png)

But, Build application faild
![image](https://user-images.githubusercontent.com/19317872/72630022-79e45d00-391f-11ea-8356-4f8a1be39db2.png)

In the case of Visu

[2020-01-17 17:41] zivkan commented on #8843
I created a little sample to validate that contentFiles and copy to output work as documented.
[contentFileSample.zip](https://github.com/NuGet/Home/files/4077984/contentFileSample.zip)

Perhaps comparing how your attempts are different to this will help understand why it wasn't working.

[2020-01-17 18:09] amamlesh commented on #2740
We are facing this issue with pyproj file. Any updates on this?

[2020-01-17 18:16] donnie-msft commented on #8956
Dependent Project System changes are being tracked here: https://github.com/dotnet/project-system/issues/5798

[2020-01-17 18:17] donnie-msft commented on #9007
Dependent Project System changes are being tracked here: https://github.com/dotnet/project-system/issues/5798

[2020-01-17 18:18] anangaur commented on #8956
/cc: @chgill-MSFT

[2020-01-17 18:38] dominoFire opened #9069 "Missing Embedded Icons in VS PM UI after cache expires"
## Details about Problem

NuGet product used: VS UI

NuGet version: 39963d7775d6ba22e2e5c1373a7cb027ce9bdaa7

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

0. Specify a NuGet source with a local folder. The packages must have e

[2020-01-17 19:07] lukeschlather commented on #6140
I was observing one of our build agents as it was working and it seems like it might be deleting the Nuget.config file when it is created. Here is the part where it creates a closure which is later used to clean up the file. My Javascript/Typescript is not very good, is that closure doing what it's supposed to do?

https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/NuGetRestoreV1

[2020-01-17 19:27] lukeschlather commented on #6140
Okay, I think it deletes the config at the right time but it still feels like something goes wrong in there. Even when the restore succeeds, it still does this sequence:

[code]

In our Nuget.config we have:

[code]

So I'm a little confused, if NugetOrg is supposed to get mapped to nuget.org or not, something definitely seems funky there, though possibly it's not a problem.

[2020-01-17 20:21] shueybubbles commented on #7235
I looked at the docs for using  msbuild project files to construct a nupkg, but it's not clear whether it's useful for creating a nupkg from loose collections of files. Is there a good sample of such a project that isn't based on building code?

[2020-01-17 20:53] tmeschter commented on #2740
@amamlesh This is a low priority for us as the problem can be avoided by setting the `Language` property. We would also consider a PR into the https://github.com/dotnet/NuGet.BuildTasks repo.

[2020-01-17 21:28] heng-liu commented on #8920
@zkat You're right. GetAndVerifyRootDirectory is a general utility method.
I think we may enable RestoreCommand_PathTooLongException test first and fix the #7588 later

[2020-01-17 21:30] zkat commented on #8920
I don't think it makes sense to enable it, because if NetCore handles long paths _better_, then we should just let NetCore be better? The test fails in NetCore, right?

[2020-01-17 21:48] vsfeedback opened #9070 "Visual Studio 2017 Enterprise crashes at least twice per hour"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/437369/visual-studio-2017-enterprise-crashes-at-least-twi.html)._

---
I've had this problem on different computers and projects going back to my first use of Visual Studio in 2010.<br>This is not a computer or project specific issue, but is clearly specific to Visual Studi

[2020-01-17 22:14] nkolev92 commented on #7814
@karann-msft The AzDO issue was assigned to you for specing, so assigning the GH counterpart as well.

[2020-01-17 22:36] heng-liu commented on #8920
We haven't tried to enable it, so it doesn't have a chance to run on NetCore yet.

[2020-01-17 22:53] nkolev92 commented on #8463
[code]

[2020-01-17 23:01] #8968 closed, assigned to nkolev92

[2020-01-17 23:56] karann-msft commented on #9071
@osmodies - note that the Docs repo is for reporting Docs related issues Going forward, use the Home repo for product-related issues.

Please use the following template to help us understand your issues better.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate):

VS version (if

[2020-01-18 00:37] #8899 closed, assigned to donnie-msft

[2020-01-18 02:22] dominoFire opened #9072 "Icon missing after package install in VS PM UI"
## Details about Problem

NuGet product used: VS UI

NuGet version: 39963d7775d6ba22e2e5c1373a7cb027ce9bdaa7

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

0. Specify a NuGet source with a local folder. The packages must have e

[2020-01-18 20:25] jezzsantos commented on #4054
Still a problem in latest version (as of today) 5.5.0 (preview) https://www.nuget.org/downloads

Is there a workaround that packs a *.csproj project file, and includes references to other packages from the referenced projects?
(without packing a *.nuspec file that references them)?

[2020-01-19 15:33] davidhunter22 commented on #8874
Hi, I'm not an expert just a user but am wondering if this will allow a  vcxproj style project to PackageReference a C# package that is build AnyCPU?

[2020-01-19 17:35] alastairs commented on #8805
For completeness (and a reproduction scenario), I experienced this error while building an ASP.NET Core application using multi-stage builds, using Docker's Linux Containers on Windows (LCOW) feature. I guess there's some proxying going on with LinuxKit or Docker itself in this scenario, but I don't know for sure. This is my Dockerfile:

[code]

You can then run the following Docker command to inv

[2020-01-20 08:02] KaiBNET commented on #7347
Is there an update on this issue? I still have this problem with the recent version of SourceLink (1.0.0) and Visual Studio 2019.

[2020-01-20 08:07] mingkuang-Chuyu commented on #8874
[code]

[2020-01-20 09:05] v-nancyj commented on #7715
The issue has been fixed on VS D16.5\29716.60 with implicit NuGet Client Release-5.5.0-Preview2\5.5.0.6382, close it.

[2020-01-20 09:05] #7715 closed, assigned to nkolev92

[2020-01-20 13:27] davidhunter22 commented on #8874
Sorry I should have been cleared a C++/CLI project that is built with /clr and therefore produces IL. At present projects like that can consume "native" nuget packages but I have never found a way to make them consume .NET packages.

[2020-01-20 18:16] jeanfrancoislarente commented on #912
Hey @anangaur  and @karann-msft - was "this week" last week?

Cheers!! 😄

[2020-01-20 20:30] anangaur commented on #912
@jeanfrancoislarente, Thanks for checking. The planning got delayed to this week. :)

[2020-01-20 23:38] osmodies opened #9073 "From Azure Pipeline restore package succeed, but the content (css,js ,img) of package is not added in Web application .net"
Remove the content above here and fill out details below.

## Details about Problem
From Azure Pipeline restore package succeed, but the content (css,js ,img) of package is not added in Web application .net
![image](https://user-images.githubusercontent.com/19317872/72763207-a4991480-3bb0-11ea-8be7-bde3405df93c.png)

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

N

[2020-01-21 07:00] nkolev92 opened #9074 "Cleanup redundant code in the VS extensibility services"
As part of the new extensibility work, I've discovered some dead/redundant code.

This issue is to track the cleanup.

[2020-01-21 15:22] marhel commented on #8703
We get the same IndexOutOfRangeException with NuGet.exe 5.4.0.6315. Running `NuGet.exe pack` with `-Verbosity detailed` gives us the call stack, pointing to `NuGet.Packaging.Rules.UpholdBuildConventionRule.GetFolderName`.

As I (and @megakid) both had nuspec files trying to place a file in the package root folder, I guess that UpholdBuildConventionRule.GetFolderName does not handle files without a

[2020-01-21 17:41] zivkan opened #9075 "Undo dotnet-install workaround"
`dotnet-install.ps1` was failing on CI because the script does not work with the zip file it downloaded and extracted. Here is the tracking issue: dotnet/sdk#4202

Once this is resolved, we should undo the temporary workaround added by https://github.com/NuGet/NuGet.Client/pull/3193

[2020-01-21 18:05] kartheekp-ms commented on #9054
dotnet CLI insertion wasn't kicked off due to the timing of insertion.

[2020-01-21 18:05] #9054 closed, assigned to kartheekp-ms

[2020-01-21 18:46] zkat commented on #8998
This is done

[2020-01-21 18:46] #8998 closed, assigned to zkat

[2020-01-21 19:22] nkolev92 opened #9076 "Consider not packing src\NuGet.Clients projects"
An example is:

https://www.nuget.org/packages/NuGet.PackageManagement.VisualStudio/5.5.0-preview.1.6319.

The downloads are mostly from crawlers. These "libraries" are really written with reuse in part either.

//cc @zivkan

[2020-01-21 20:46] dominoFire opened #9077 "Accessibility issues in Screen Reader experiences in Packages List"
Query: https://devdiv.visualstudio.com/DevDiv/_queries/query/db727d15-1a7a-41dc-b8ab-5c813706be26/

- [x] Bug 1: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1049204
- [x] Bug 2: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1049209
- [x] Bug 3: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1049251
- [x] Bug 4: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1049

[2020-01-21 20:47] zkat commented on #9012
https://github.com/NuGet/NuGet.Client/pull/3191 has been merged, so this is done!

[2020-01-21 20:47] #9012 closed, assigned to zkat

[2020-01-21 21:05] dominoFire commented on #9077
Initial: 6 bugs

[2020-01-21 21:12] nkolev92 commented on #8947
Moving it out of 165.
It will done as part of EE.

[2020-01-21 21:16] nkolev92 commented on #8793
No need to try to commit to this in 165.

It's a cleanup task, not customer impacting.

[2020-01-21 21:16] donnie-msft opened #9078 "Accessibility issues in Screen Reader experiences related to "browse","install","update" Tabs"
Various VS Feedback accessibility issues relating to the Tabs in the Package Manager UI:

- [x] After pressing on "Browse" tab focus is not navigating inside the tab  (**1049188**)

- [x] Narrator is reading "1 of 1" for "browse","install","update" tabs (**1049208**)

- [x] Narrator is announcing incorrect state for the non selected tab item. (**994450**)

[2020-01-21 21:20] zivkan commented on #8969
We haven't had E2E failures since https://github.com/NuGet/NuGet.Client/pull/3184 was merged.

[2020-01-21 21:20] #8969 closed, assigned to zivkan

[2020-01-21 21:36] dominoFire opened #9079 "Narrator is reading "1 of 1" for "browse","install","update" tabs"

[2020-01-21 21:39] dominoFire commented on #9077
- [ ] Narrator is reading "1 of 1" for "browse","install","update" tabs

[2020-01-21 21:39] vsfeedback opened #9080 "Publish/Build/Debug resolves to an old DLL resulting in MissingMethodException"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/748792/publishbuilddebug-resolves-to-an-old-dll-resulting.html)._

---
[regression] [worked-in:16.2.5]
We have a web application running on .NET Framework 4.6.1 (let's call this project `A`) that has a dependent NuGet package (let's call this `B`). B targets multiple framew

[2020-01-21 23:01] dominoFire commented on #9079
Closing in favor of https://github.com/NuGet/Home/issues/9077

[2020-01-21 23:01] #9079 closed, assigned to nobody

[2020-01-21 23:03] vsfeedback opened #9081 "select/filter projects in nuget solution that already have the nuget installed or have same version"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/892124/selectfilter-projects-in-nuget-solution-that-alrea.html)._

---
For big solutions with a lot of projects, it is a manual and tedious process to select each individual project that has a dependency on the nuget.

Example layout:

[ ] Project    Version

[x] Project1

[2020-01-22 00:22] #8541 closed, assigned to nkolev92

[2020-01-22 00:48] vsfeedback opened #9082 "'Manage NuGet Packages for Solution' should provide UI to limit versions for packages"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/801970/manage-nuget-packages-for-solution-should-provide.html)._

---
If I want to ensure that my Visual Studio solution does not update a package beyond a certain version, I can manually edit the packages.config file, but there should be a UI in 'Manage NuGet Packages for Sol

[2020-01-22 06:04] MichaelPetrinolis commented on #9020
I also confirm the same behavior, on 3.0:latest and on 3.1:latest on docker for windows 2.2.0.0
--disable-parallel works but it takes a huge amount of time.

[2020-01-22 09:12] pylnik opened #9083 "An exception thrown on installing NuGet package (An item with the same key has already been added)"
I'm working in VS2017 (15.9.19) on Windows 10 Pro.
For a couple of days, I have a weird behavior on installing/restoring NuGet packages.

I use VS UI. The package manager has the following version info:

[code]

In the output of Package Manager I see this log:

[code]
The packages are employed as PackageReference in all the projects in the solution. There are neither package.config files nor packa

[2020-01-22 12:21] pylnik commented on #9083
I managed to solve this issue. In our solution there is a project with the same name as one of the NuGet packages. The problem was that NuGet just threw an exception without the name of the caused problem.

Wouldn't it be useful to say, which project or reference caused an exception?

[2020-01-22 12:21] #9083 closed, assigned to nobody

[2020-01-22 16:05] dquist commented on #6373
👋 +1 from me as this issue has been constantly impacting our team since we set up a private nuget feed to host internal packages. There's literally no reason nuget should require a private feed to exist if I'm explicitly telling it to install a public package from nuget.org. What a nuisance!

![image](https://user-images.githubusercontent.com/3596043/72910754-99ec9580-3cfe-11ea-80d9-46419eb1e5f3.p

[2020-01-22 16:32] lg2de opened #9084 "NU1101, NU1102 and NU1103 should mention the dependency path"
When restoring packages the implicit dependencies may cause confusing error messages. Example:
[code]

The package `Microsoft.NETCore.Platforms` **is not selected** in the csproj file. But **it is a dependency** of `NetStandard.Library`, which is a dependency of `xUnit.assert`, which is a dependency of `xUnit`, which is a selected project dependency.

The problem gets visible to me because we are

[2020-01-22 18:08] zkat opened #9085 "Update changelog generator to use ZenHub API"
As part of https://github.com/NuGet/Home/pull/9050, we're moving to using Milestones for Sprints. That means that [the current ChangelogGenerator](https://github.com/NuGet/Entropy/tree/master/ChangelogGenerator/ChangelogGenerator) needs to be updated so that it pulls its list of completed issues from the [ZenHub Releases API](https://github.com/ZenHubIO/API#get-all-the-issues-for-a-release-report)

[2020-01-22 18:16] loic-sharma opened #9086 "NuGet.Protocol does not support getting a version's download count from search"
## Details about Problem

NuGet product used: NuGet.Protocol
NuGet version: 5.5.0-preview.1.6319

## Detailed repro steps so we can see the same problem

The NuGet Search API returns the download count for each individual version of a package through the `downloads` property in the `versions` array (see [this documentation](https://docs.microsoft.com/en-us/nuget/api/search-query-service-resource#s

[2020-01-22 19:08] loic-sharma commented on #9086
In case anyone needs it, here is the work around: https://gist.github.com/loic-sharma/761000056cd0c15d8ccc3d7614f0148b

[2020-01-22 19:28] ghost opened #9087 "dotnet CLI does not correctly use --source flag"
## Details about Problem
I have multiple internal NuGet feeds that only host internal package. using the .NET CLI, I'm trying to add a NuGet package to a project from the public feed so I'm using the `--source` flag to have the CLI only fetch from that feed. With this flag set, it still tries to scan all of the feeds I have listed. It's causing an issue because I'm not authenticated against one of

[2020-01-22 22:57] aortiz-msft commented on #8398
Repro rate on latest Preview build is only 10%.

[2020-01-23 00:45] zkat commented on #7890
Update: The PR for this is mostly ready, but there's a test failure that needs to be taken care of before it can get merged.

[2020-01-23 01:48] lostmsu commented on #890
Yeah, with the current Nuget.org limit I can't even serve the latest TensorFlow, because its largest binary after zip compression is still 260MB alone. Either increase the limit on Nuget.org, or let us use 7z.

[2020-01-23 01:55] dominoFire opened #9088 "Investigate possible file locks in Embedded Icons PM UI"
From https://github.com/NuGet/NuGet.Client/pull/3153#discussion_r368098129

Investigate file open/close events in PerfView

[2020-01-23 09:49] riverar commented on #8697
Any updates on this? Seeing this with `mcr.microsoft.com/dotnet/core/sdk:3.1`, with a simple Dockerfile (create an app folder locally with a sample dotnet project):
[code]

Ping @onovotny @onovotny

[2020-01-23 10:08] riverar commented on #8697
This was a result of me copying over existing obj/bin folders, from a local build. Added a `.dockerignore` to ignore those folders. Experience could be improved here.

[2020-01-23 16:03] IanKemp commented on #3891
It's literally a new decade and not only is this issue unfixed after over 3 years, there remains dead silence from the NuGet team on it. Looking at the [MS commit history](https://github.com/NuGet/Home/graphs/contributors?from=2018-01-23&to=2020-01-23&type=c) for the past year it's obvious why. Sad and disappointing that Microsoft isn't willing to make the packaging side of dotnet work like it sho

[2020-01-23 17:44] terrajobst commented on #4699
Bump. This is a serious adoption blocker for library authors who want feedback on their preview APIs. We're wasting considerable amount of working with people giving us feedback on the wrong version 😢

[2020-01-23 18:03] rrelyea opened #9089 "Initial Net5.0 TFM support"
Properly support TFM for .NET 5.0.

Spec: https://github.com/dotnet/designs/blob/master/accepted/2020/net5/net5.md

[2020-01-23 19:03] karann-msft commented on #4699
We are doing some of the foundational work to support pre-release versions for the floating version scenario. That will help us make progress on this as well. We are targeting to roll it out during the .NET 5 timeframe.

[2020-01-23 19:08] karann-msft opened #9090 "Support .NET 5"
Spec: https://github.com/dotnet/designs/blob/master/accepted/2020/net5/net5.md

[2020-01-23 19:09] kartheekp-ms opened #9091 "Eliminate code redundancy in XmlUtility.cs"
While working on a ADO task observed that `XmlUtility` class is coded in 4 different places in NuGet client code. Good to remove code redundancy as part of engineering improvements work.

$\NuGet.Client\src\NuGet.Core\NuGet.PackageManagement\Utility\XmlUtility.cs
$\NuGet.Client\src\NuGet.Clients\NuGet.VisualStudio.Implementation\Utility\XmlUtility.cs
$\NuGet.Client\src\NuGet.Core\NuGet.Configurati

[2020-01-23 19:11] terrajobst commented on #4699
Thanks @karann-msft!

[2020-01-23 19:28] pabrams commented on #1968
How do I "remove nuget targets from the project"

[2020-01-23 19:32] MuiBienCarlota commented on #4699
This issue has been waiting for almost 3 years now.
As --pre function is not blocked by the floating version scenario, it should not wait for .Net 5. timeframe.

[2020-01-23 19:36] MeikTranel commented on #3891
@IanKemp You are literally basing your opinion on the commit history of a repository with no code in it.

I'd love for this issue to be resolved as well, but your take on this is hot garbage.

[2020-01-23 19:37] heng-liu opened #9092 "Insertion of 5.5.0-preview3.6392"
VS:

- [x]  https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/224323

.NET Core 3.0

- [x] [dotnet/sdk/pull/4215](https://github.com/dotnet/sdk/pull/4215)

- [x] [dotnet/cli/pull/13208](https://github.com/dotnet/cli/pull/13208)

- [x] [dotnet/toolset/pull/4134](https://github.com/dotnet/toolset/pull/4134)

.NET Core 5.0

- [x] [dotnet/sdk/pull/4217](https://github.com/dotnet/sdk/pull/4217

[2020-01-23 19:59] zkat opened #9093 "9098"

[2020-01-23 20:01] zkat commented on #9093
oops

[2020-01-23 20:01] #9093 closed, assigned to nobody

[2020-01-23 20:26] nkolev92 commented on #1783
With https://github.com/NuGet/NuGet.Client/pull/3200, the change to add source support for -self is now trivial.

[2020-01-23 20:57] #9067 closed, assigned to jeffkl

[2020-01-23 21:25] terrajobst commented on #4699
.NET 5 is the next release after .NET Core 3.1 (slotted for Nov 2020), so that's the next vehicle for major changes.

[2020-01-23 21:42] aortiz-msft commented on #8248
Only one stack trace so we think it's rare to hit this issue.

[2020-01-23 21:45] #8473 closed, assigned to zivkan

[2020-01-23 23:32] heng-liu commented on #8971
Closed as completed.

[2020-01-23 23:32] #8971 closed, assigned to heng-liu

[2020-01-24 00:49] nkolev92 commented on #7749
No plans to do it right now. No need to keep this issue open.

[2020-01-24 00:49] #7749 closed, assigned to nobody

[2020-01-24 00:54] nkolev92 commented on #2345
Work is pretty much done https://github.com/NuGet/NuGet.Client/pull/2675, we just need to reevaluate the implications of the extra assembly load in VS.

[2020-01-24 02:00] bklooste commented on #4318
Biggest issue is we need this in our pipe line and  its a pain to get some with the rights to install global tools .

I had content files working however the offset is the project and need it in the root so used the Init.ps1 to basically copy files 2 levels up

[2020-01-24 02:03] nkolev92 commented on #8873
Investigated by Damon.

[2020-01-24 02:03] #8873 closed, assigned to nkolev92

[2020-01-24 02:04] nkolev92 commented on #8987
Duplicate of https://github.com/NuGet/Client.Engineering/issues/67.

Keep it in the Client.Engineering or Home repo?

@NuGet/nuget-client @aortiz-msft

[2020-01-24 04:40] davkean opened #9094 "Content files not added to project (but copied to it)"
(Moved from: https://github.com/dotnet/project-system/issues/5316 and opened on behalf of @MaceWindu)

**Visual Studio Version**: 16.2.2

**Summary**:
Check
[OrmTest.csrpoj](https://github.com/dotnet/project-system/files/3511749/OrmTest.txt)
project file from this [issue](https://github.com/linq2db/linq2db/issues/1865). Installing package with content files doesn't work with it properly - files ar

[2020-01-24 04:41] davkean opened #9095 "Having a (transitive) PackageReference and a ProjectReference to the same assembly leads to an error"
(Moved from https://github.com/dotnet/project-system/issues/4663 and opened on behalf of @felixhirt)

I have the following situation (everything with the new .csproj project system):
"Application" has
   ProjectReference to "LibA"
   ProjectReference to "LibB"
and "LibA" has
   PackageReference to "LibB"

This causes a build error in VisualStudio (2019, RC4) because all the PackageReferences are n

[2020-01-24 06:31] nkolev92 opened #9096 "Review JoinableTaskFactory.Run usage"
JoinableTaskFactory.Run is a recommended pattern when a sync method needs to block on an async one.

Sometimes that leads to pattern like the following:

https://github.com/NuGet/NuGet.Client/blob/fa47ea43d9c463c68e0db56cb148e76b8209b417/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/IDE/VSSolutionManager.cs#L303-L317

called by:

https://github.com/NuGet/NuGet.Client/blob/fa47ea43d9c463c6

[2020-01-24 06:34] nkolev92 commented on #7983
Dup of https://github.com/NuGet/Home/issues/6232

[2020-01-24 06:34] #7983 closed, assigned to nobody

[2020-01-24 06:34] nkolev92 commented on #9087
Dup of https://github.com/NuGet/Home/issues/6232

[2020-01-24 06:34] #9087 closed, assigned to nobody

[2020-01-24 07:31] felixhirt commented on #9095
Thx for moving this were it belongs. TLDR:
- Preferred solution would be to just use the project reference instead of the package reference from the point it is included onward (transitive). Maybe show a warning to inform people that there might be runtime issues since some projects in the solution use an older version through the nuget
- Alternatively, a clear error message would be nice

[2020-01-24 07:43] felixhirt commented on #9095
i think my issue is a variation of #dotnet/sdk/1151. I guess i could have resolved it by making the package reference explicit and exclude its assets (the lib does not have a strong name)

[2020-01-24 08:22] matthewjones555 commented on #3891
People are understandably frustrated by this, because it has been so long since the issue was opened, and I think it would be fair to say that the team seem reluctant to fix the problem.

It's important that we let them know about our frustrations in a constructive manner.  It would be great to have an update from the team about this issue, and perhaps some guidance as to what we can do to finally

[2020-01-24 09:33] zacateras commented on #6981
@tebeco did you come up with any alternative solution so far ?

[2020-01-24 10:30] tebeco commented on #6981
not really
i use a dumb `nuget.config` because ou cannot `</clear>` from the CLI (only --add-source)
and created artifactory in the LAN that can pass the proxy

though JFrog need to fix tons of bug
protocol v3 is 30% implemented and they try to guess the route when restoring instead of writhing the response

for example i cannot proxyfy `feeds.io` because JFrog think they are smart and use `regist

[2020-01-24 10:59] zacateras commented on #6981
seems like a hack that may do the work, I will check it out

[2020-01-24 13:29] LeadAssimilator opened #9097 "nuget pack can produce invalid packages (OPC files wise) when files have no extension"
## Details about Problem

**Summary:**

dotnet.exe (and probably all other forms of package creation) can produce packages with a malformed [Content_Types].xml when packing files that have no extension and a package path set to / or \\.  In this case, the Override tag will be written with an invalid PartName attribute that starts with // which is expressly forbidden by the opc standard.

Any older

[2020-01-24 13:45] Konard commented on #7386
`nuget.exe` restores packages to `packages` folder near `.sln` file. How to configure msbuild to take packages from that folder?

[2020-01-24 15:23] dfederm opened #9098 "Nuget SDK resolver no longer handles global.json files with comments"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
MSBuild 16.5.0-preview-20059-01+86d9494e4

NuGet version (x.x.x.xxx):
Whichever binaries ship with MSBuild 16.5.0-preview-20059-01+86d9494e4

OS version (i.e. win10 v1607 (14393.321)): N/A

Worked before? If so, with which NuGet version: Yes. Looks like a regression due to NuGet/NuGet.Client#31

[2020-01-24 15:23] dfederm commented on #9098
FYI @jeffkl

[2020-01-24 19:01] nkolev92 commented on #8702
cc @zivkan

[2020-01-24 19:10] nkolev92 opened #9099 "Should NuGet.CommandLine prerelease packages be published to nuget.org"
In the past we have opted against that because of a bug 3.4 had where the self updater updated to prerelease versions as well.

But that was fixed in 4.0
https://github.com/NuGet/NuGet.Client/commit/180fa576efe2578330c86a4952df253def6e2c1f#diff-37bcf9e5d1ebbdb056608b20d4d4494b

and a large majority of the users are using 4.x now.
https://www.nuget.org/stats

Furthermore people still being on 3.x s

[2020-01-24 19:11] nkolev92 commented on #9099
//cc @rrelyea who has the most context

[2020-01-24 19:13] zivkan commented on #8702
I vote for moving them all to assembly info files.

When in a `csproj`, it takes at least double the number of lines as when it's defined in a `cs` file. Plus it changes so infrequently and it generally not important, so it feels to me like clutter when inspecting a csproj to check for package and project references. Feels like the wrong way to go considerin SDK style projects have been cleaned up

[2020-01-24 19:17] nkolev92 commented on #8702
I'm ok with that :)
Do it! :D

[2020-01-24 19:58] zivkan opened #9100 "Test: RestoreNetCore_MultipleProjects_SameToolDifferentVersions_NoOp_FailsAsync is flaky"
[This assertion](https://github.com/NuGet/NuGet.Client/blob/ac177820b30d328e3c6a4f4a6801b28cc7441a66/test/NuGet.Clients.Tests/NuGet.CommandLine.Test/RestoreNETCoreTest.cs#L1877) is sometimes failing with:

edit: as per @nkolev92's comment below, this test is redundant and flaky, so is being deleted.

[2020-01-24 20:06] nkolev92 commented on #9100
I'd delete the test tbh.

I don't see it as super relevant as the other tests kind of ensure this is happening.

[2020-01-24 20:27] #9098 closed, assigned to jeffkl

[2020-01-24 20:37] sergioprates commented on #9020
Try add Nuget.config file in project and copy the file to container.

[code]

[2020-01-24 20:42] MichaelPetrinolis commented on #9020
my project has a nuget.config file with nuget and a myget source but it makes no difference

[2020-01-24 20:43] ghost opened #9101 "Excluding specific items from nuget library when using PackageReference"
I am a package developer and I want to debug one assembly from my package in the context of an application that consumes the package.  In the old packages.config style all package assemblies were direct references in the project using it.  If MyTestPackage had A.dll and B.dll I could bring the csproj for A.dll into my solution and swap out the references from nuget to local project easily.  Is the

[2020-01-24 20:52] sungam3r commented on #8867
One more note. `IncludeContentInPack="false"` conflicts with `PackageIcon`.

Warning if you use `PackageIconUrl`:

After you use `PackageIcon` with `IncludeContentInPack="false"`:

So you are locked to use `PackageIconUrl` yet.

[2020-01-24 21:00] sergioprates commented on #9020
But in dotnet restore, are you passing the file?

`RUN dotnet restore --configfile ./nuget.config`

[2020-01-24 21:17] MichaelPetrinolis commented on #9020
it uses it by default. To test it, I added a local package source that does not exist on docker image and the build fails, because it cannot find the source.

[2020-01-24 21:20] nkolev92 commented on #9101
A more general ask for this is in: https://github.com/NuGet/Home/issues/5986

NuGet has some support for controlling the assets pulled in from a package - https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets

But it mostly talks about asset groups rather than specific.

That's really a consequence of the design of PackageReferenc

[2020-01-24 21:20] #9101 closed, assigned to nobody

[2020-01-24 21:43] jeffkl opened #9102 "Delete TestEnvironment class in SDK resolver test assembly"
## Details about Problem

We need to remove the [TestEnvironment](https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Core.Tests/Microsoft.Build.NuGetSdkResolver.Tests/TestEnvironment.cs) class in favor of the [TestDirectory](https://github.com/NuGet/NuGet.Client/blob/dev/test/TestUtilities/Test.Utility/TestDirectory.cs) class.

NuGet product used (NuGet.exe | VS UI | Package Manager Console

[2020-01-24 21:44] #4197 closed, assigned to nkolev92

[2020-01-24 21:45] zkat commented on #8973
I can no longer reproduce this with the latest build. I don't know what fixed it, but it got fixed. Maybe it was something with VS itself.

[2020-01-24 22:14] aortiz-msft commented on #8842
Closing single-hit issue.

[2020-01-24 22:14] #8842 closed, assigned to zivkan

[2020-01-24 22:54] donnie-msft commented on #8870
@ganesanviji is this still a problem for you? Could you take a look at https://github.com/NuGet/Home/issues/8868 and see if the sounds like the same problem? I have a PR for that issue in-review.

[2020-01-25 00:28] #8994 closed, assigned to zkat

[2020-01-26 16:35] tebeco commented on #6981
its very problematic when i clone repository like
dotnet/aspnetcore
azure/azure-signalr
dotnet/corefx

and i attempt to restore/build il order to navigate in the code

for exemple, `dotnet/arcade` proxy support was not that fun ~1year ago  when i had to debug `http proxy` around 2.1.4)

another issue is that sources are split between `nuget.config` and several `RestoreSources` in `sources.props`

[2020-01-26 17:41] B3RR10 commented on #8750
@nkolev92 Your absolutely right! This issue was fixed on a new version of Artifactory Server. I'll close this thread now. Thank you for your time!

[2020-01-26 17:41] #8750 closed, assigned to nobody

[2020-01-27 09:11] twenzel commented on #7001
Found issues for following files:
[code]

[2020-01-27 12:46] gilly42 commented on #8646
Got the same Problem, ist there a way to supress this warnings?

[2020-01-27 16:37] PaloMraz commented on #3891
I would like to join the frustrated group and kindly ask MS to do **something** with this issue!

I have also put up a simple demo solution [here](https://github.com/PaloMraz/MultitargetingDependencies) illustrating the problem quite cleanly, IMHO. It is simple, but it reflects a real-world scenario I am currently facing on one of my projects...

[2020-01-27 18:49] nkolev92 commented on #7814
Notes from a discussion between myself & @acangialosi

Visual Studio is moving away from the auto prompt authentication flow.
When authenticated resources are requested, users are frequently presented with a dialog that might not have enough context about the intent.

The approach is changing to a gesture driven approach. Only an explicit customer gesture should cause a prompt.

NuGet's authentica

[2020-01-27 19:11] #9100 closed, assigned to nobody

[2020-01-27 19:12] rrelyea commented on #9099
I'd be in favor of making this change in process.
As long as people are using NuGet 4.0 and later (shipped in Feb 2017), things are great.
We should consider a blog post on update strategies of nuget.exe and include the fact that we will make this change. (or notify in another way)

[2020-01-27 19:13] rrelyea commented on #9099
/cc @anangaur @karann-msft @chgill-MSFT @aortiz-msft

[2020-01-27 19:15] rrelyea commented on #9097
@LeadAssimilator - we should try to get people to update to 2017 or later versions of NuGet.exe. (4.0 or later). If that was done, would this no longer be a problem?

[2020-01-27 19:20] #9102 closed, assigned to jeffkl

[2020-01-27 19:20] anangaur commented on #9099
The way I see it, only 3.x clients trying to auto update may get to a pre-release version of the client. Is this right? If so, I would be fine to make the change now as folks who are used to auto updating (in near past) would be already on 4.x or 5.x (Nikolche's statement).

[2020-01-27 19:26] rrelyea commented on #9092
2 of 5 of the SDK related insertions are complete. Updated checkboxes.
Pinged each of the 3 other PRs now with "Tracking completion of this insertion. Let me know if NuGet team can do anything to help complete it."

[2020-01-27 19:32] rrelyea commented on #9091
A few options I see here:
- keep as is
- move to a single xmlutility.cs and include in 4 different projects via relative path to .cs file
- move to a single xmlutility.cs and allow calling from 3 other projects (public exposure or internals visible to, etc...)
- other?

@nkolev92 @zivkan @dtivel - any suggestions or other ideas?

[2020-01-27 19:43] rrelyea commented on #9082
Interesting scenario to consider - related to Central Version Package Management - @anangaur @cristinamanum @zivkan

[2020-01-27 19:56] rrelyea commented on #9073
What kind of project are you hosting the package in?
Are you using packagereference or packages.config?
Can you reproduce the problem on your dev machine too?
Can you give us a small repro project/solution that shows us the problem?
Has this ever worked? What changed since then?

[2020-01-27 19:58] rrelyea commented on #9072
Very similar to #9073

[2020-01-27 20:12] rrelyea commented on #9071
Very similar to #9073 - see comments there.

[2020-01-27 20:37] rrelyea commented on #9070
Can you please determine if this is a crash we've seen in 15.x and 16.x? How prevalent? Did we fix?

[2020-01-27 20:37] acangialosi commented on #7814
Speaking to the user experience notifications should appear in the closest point of context in the ide. In cases where the auth failure happens and the user is in the package management ui then the status and command to reauth should appear in that ui. If the auth failure happens as a result of a background process then an infobar would be an appropriate solution.

[2020-01-27 20:39] rrelyea commented on #9068
Best practice is to create feed configuration in a nuget.config in your repo.
credentials can then be added as per-user nuget.config files.

[2020-01-27 20:42] rrelyea commented on #9066
I'm unsure how to reproduce this problem.
How do I find the "VS SDK package builder"?
What types of projects should i create?
How do I create a linked file?

Need more details in order to understand the steps you are having a problem with.

[2020-01-27 20:44] rrelyea commented on #9064
You need to escape any XML content in a markup based system like GitHub.  I use three ` before the xml content, and three after.

[2020-01-27 20:47] rrelyea commented on #9060
@karann-msft @dominoFire  - good question. Perhaps we could give the solution, if possible, and consider updating the docs.

[2020-01-27 20:58] rrelyea commented on #9058
Some projects/packages don't propagate their dependencies transitively.
DevelopmentDependency projects, for example, aren't needed at runtime, so don't get propagated.

When I try to repro with:
[code]

A\obj\project.assets.json contains:
[code]

How do you need to change those repro steps to get the bad behavior you are seeing?

[2020-01-27 20:59] rrelyea commented on #9057
@anangaur - can you help start this conversation? (might have already started that recently, in fact)

[2020-01-27 22:25] anangaur commented on #9057
@Petermarcu which GitHub features? I do see my dependencies listed for the `Dependency graph`

![image](https://user-images.githubusercontent.com/14800916/73219328-b9295f80-4110-11ea-9f11-1ed560a3ccf9.png)

[2020-01-27 23:21] Petermarcu commented on #9057
@weshaggard was looking into this more. It was specifically about the "Used By" button at the top of a repo and how you can control which package it gives you. Wes has been digging more and trying to understand why our projects that use SDK style projects are not showing up in that list of possible packages so we can repoint people at one of the more popular ones.

[2020-01-27 23:26] rrelyea commented on #9052
In Project.json & PackageReference, the build assets group were not treated transitively. However, in order to use targets that work even when the package was brought in transitively, we needed to enable build assets to be transitive.

We "Added buildTransitive assets group to allow flowing build assets transitively #2667"

This allows packages to remove need for install.ps1 and XDT files, moving

[2020-01-27 23:37] rrelyea commented on #9051
THis is because .NET SDK no longer preinstalls some packages along with the install of .NET SDK. I've reopened the .NET Core SDK issue, and added info there.

[2020-01-27 23:37] #9051 closed, assigned to nobody

[2020-01-27 23:39] rrelyea commented on #9047
@StingyJack  - thanks for the feedback. We are trying to get to the top voted issues. We hope to be able to analyze and do them or close them as soon as we can. We continue to try to become more efficient in our work, but it is a constant battle.

[2020-01-27 23:39] #9047 closed, assigned to nobody

[2020-01-27 23:39] rrelyea commented on #9047
@aortiz-msft  @anangaur - fyi - in our prioritization

[2020-01-27 23:43] rrelyea commented on #9049
The fix of #8881 is shipping in VS 2019 16.5 preview 3. Please let us know if that doesn't address your issue.

[2020-01-27 23:43] #9049 closed, assigned to nobody

[2020-01-27 23:47] rrelyea commented on #9048
`msbuild /restore Foo.sln` should work for you if you only use PackageReferences in your projects.
If you need packages.config support as well, starting in VS 2019 16.5-preview2 and later, `msbuild /restore foo.sln` will also support packages.config projects.

[2020-01-27 23:53] rrelyea commented on #9046
Please work with AzureDevOps support if this problem happens by default.
When you restore, at least one of the package feeds need to have the packages you need.
Generally is it best practice to declare which feeds your build needs in a nuget.config in your repo.

Are you saying that having nuget.config in my repo like this work:
[code]
but that this one doesn't:
[code]

[2020-01-27 23:55] zivkan commented on #9091
I don't see code duplication as an inherently bad thing. Duplicating business logic is bad because if requirements change, you might change some implementations and not others, leading to bugs. But if this duplicated code is "technical", rather than "business", it doesn't have the same risk.

Personally, I don't like linked/shared files between projects. I don't know what it is, I can't justify th

[2020-01-28 00:00] nkolev92 commented on #9091
We already have prior art for this.
We make everything internal and it's safe.

I don't love it, but I don't hate it either. Feel like it has its uses.

[2020-01-28 00:06] avivanoff commented on #9052
@rrelyea, I am talking about "compile" and "runtime" groups. See attached sample solution.
[TransitivePackageReference.zip](https://github.com/NuGet/Home/files/4119994/TransitivePackageReference.zip)

[2020-01-28 00:18] rrelyea commented on #9052
.NET Core uses transitive package references and transitive project references by default. If you'd like to change that behavior, this blog post details a way to change that:
https://curia.me/net-core-transitive-references-and-how-to-block-them/

[2020-01-28 00:59] rrelyea opened #9105 "Ensure that ResumeVSInstall is running latest VS_Installer.exe"
@zivkan's recent addition of ResumeVSInstall https://github.com/NuGet/NuGet.Client/commit/90f0a2cc44df67ca01d6411fd68e5aac57e2a247 also needs to make sure that it installs the latest VS_Installer.exe (via downloading and executing the latest VSBootstrapper)

[2020-01-28 01:20] #9071 closed, assigned to nobody

[2020-01-28 01:20] osmodies commented on #9071
Very similar to #9073

[2020-01-28 01:21] aolszowka commented on #9049
Is Preview 3 Available yet? on a fresh VM all I appear to be able to get is Preview 2?

[2020-01-28 01:40] rrelyea commented on #9049
Updated my comment to say “will be shipping” instead of “is shipping”

Wouldn’t hurt to see if you see improved behavior with preview 2

[2020-01-28 02:29] osmodies commented on #9073
What kind of project are you hosting the package in?
- Web Application .Net Framework
Are you using packagereference or packages.config?
- packages.config
Can you reproduce the problem on your dev machine too?
- Yes, Local i must update package-reinstall from Pakage manager Console

[2020-01-28 07:36] xymunter commented on #9048
Thank you for your answer.
I'm not 100% sure if I understand it, though.

The command you point out as solution is to be executed...where, exactly?
If it has to be set "manually" in the Build Task "NuGet" with "Custom" instead of "Restore" as a command type, the "only" improvement for me is to not having to specify a specific directory for msbuild.exe.

And yes, I need the solution for packages.co

[2020-01-28 08:48] dasMulli commented on #9046
Yes having the first one works, using none is prone to failure.
I believe the "defaut" feeds in AzDO are very similar to what is present when installing VS..

I was wondering why NuGet complains about the packages not being in the offline package feed that is installed by VS.

I may have had this issue in my dev machine as well while i only had the VS 16.5p1 installed any only 3.0.0 packages in th

[2020-01-28 09:04] dasMulli commented on #3891
it's open source so anyone could still have a go at it.. Or find someone that could implement it and sponsor their time.

There are quite a few workarounds in this thread, they're just a bit hard to find between the "i want this as well" comments.

Don't get me wrong though, it's good to see comments of people that are interested. The hard part is understanding the "why" and acutal use cases behin

[2020-01-28 09:12] ChristianSauer commented on #3891
@dasMulli Please explain a better architecture for this:
You have a bunch of microservices written in C#. Each Service publishes an API using Nuget Packages, that other services can use. Now I want to reuse the Models used in the service and the service client as well. The best solution is three projects, a server project, a client project and a model project.
But I do not want to publish the mode

[2020-01-28 11:35] dasMulli commented on #3891
This is where I'd ask: "what's the problem with shipping 2 NuGet packages: Model and Client?". Especially now that we have transitive package references, you'd still only reference the client package and not even notice that there is another one involved. (unlike previous versions of NuGet where you needed to be careful to add all packges to all projects where they were needed)

Cons:
* A bit more

[2020-01-28 12:49] JohanLarsson opened #9106 "Pack library with analyzer"
If we have:

[code]

And we want to pack so that `Lib.nupkg` has a package dependency on `Lib.Analyzers.nupkg`

An example of the desired result is: [Microsoft.CodeAnalysis.Common](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Common/) that has a dependency on [Microsoft.CodeAnalysis.Analyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Analyzers/)

For anyone familiar with pake

[2020-01-28 12:49] JohanLarsson commented on #9106
https://github.com/dotnet/sdk/issues/3848

[2020-01-28 13:09] IanKemp commented on #3891
This is where I'd respond: "What if I just don't want to? Why do I have to conform to a particular opinion of how the world should be, versus how my dependencies are currently structured or how I want them to be structured? Most importantly, why is this scenario - that previously worked just fine with older tooling - no longer supported?"

It's pretty much clear at this point that for whatever rea

[2020-01-28 14:20] PaloMraz commented on #3891
Real world example: The task is to implement logging library that should support ASP.NET classic and Core applications running on Framework 3.5 – 4.6 and .NET Core 2.1 – 3.1 (the actual functionality is not important for this discussion). The library should be delivered as a NuGet package for referencing by the various ASP.NET applications. The design was as follows:

`Gdpr.Logging.Core` project m

[2020-01-28 14:45] matthewjones555 commented on #3891
@dasMulli it is perfectly reasonable to have private projects that you need to reference, that you don't want to expose as a standalone nuget package.  It seems strange to claim that this isn't a valid approach.

I want to make my packages as friendly as possible to consume, and I don't want the end user to be exposed to implementation details of my architecture.  In this case I don't want to expo

[2020-01-28 14:46] dasMulli commented on #3891
To the logging example:
So we're looking at 4-5 nuget packages: "Core" which can be used by any net*/netstandard2.0+/netcoreapp2.0+ project, e.g. if i as a customer would want to implement Serilog support. Then an "NLog" package that uses the core with NLog and an ".MicrosoftExtensionsLogging" package that basically sets up NLog with the Core to integrate with Micrsoft.Extensions.Logging and a bas

[2020-01-28 15:19] BinaryPatrick commented on #3891
As someone who is just uncovering this problem, it seems really strange and unnecessarily dogmatic that I'd have to publish multiple packages for APIs that will only be used for one project. They are not intended to extended or used outside of this single project. Furthermore, Microsoft has clearly shown that a single package is a good solution in some cases, with their inclusion of the new `Publi

[2020-01-28 15:46] IanKemp commented on #3891
Even Microsoft is guilty of this stupidity. The dependencies of [`Microsoft.Data.SqlClient`](https://www.nuget.org/packages/Microsoft.Data.SqlClient) includes `Microsoft.Data.SqlClient.sni` and/or `runtime.native.System.Data.SqlClient.sni`, both of which are marked "Please do not reference directly". It blows my mind that someone at Microsoft actually thought (well, they evidently didn't) that shi

[2020-01-28 17:44] #9069 closed, assigned to dominoFire

[2020-01-28 18:21] #9072 closed, assigned to dominoFire

[2020-01-28 18:26] rrelyea opened #9107 "Fix disabled Linux agent"
Appears out of disk space. Fix that.
Figure out why it happened...and try to prevent.

[2020-01-28 18:28] rrelyea commented on #9092
Update from @wli3:
all flow in 3.1.2xx are blocked by https://github.com/dotnet/cli#13176 which is pending on https://github.com/microsoft/msbuild#5080

[2020-01-28 18:33] anangaur commented on #7284
Context menu needed for `Project`\`Add`\**`Package`:

#### Current:

![image](https://user-images.githubusercontent.com/14800916/73293673-2bee1580-41b9-11ea-9c39-176a97853506.png)

#### Expected:

![image](https://user-images.githubusercontent.com/14800916/73293896-930bca00-41b9-11ea-9d43-9a045b94b6f1.png)

[2020-01-28 18:42] timheuer opened #9108 "Install-Package provides no means to skip sources"
When running Install-Package there is no means to skip failed sources like other CLI commands (or is not documented).  Looking for a way to emulate `--ignore-failed-sources` from similar CLI entry points.

[2020-01-28 22:34] nkolev92 opened #9110 "Show existing Package Manager UI for VS.Oe"
Launch PackageManager UI from N.VS.OE.Client.dll codepath.

[1068098](https://devdiv.visualstudio.com/DevDiv/_queries/edit/1068098/?triage=true)

[2020-01-28 23:01] tillig commented on #7438
.NET Core SDK 3.1.100 on MacOS also doesn't set `DOTNET_HOST_PATH` so credential providers fail mysteriously.

At the very least, a check in that block of code so it's not the process throwing an InvalidOperationException would be nice.

[code]

Would folks be open to a PR for that?

[2020-01-28 23:21] donnie-msft commented on #8868
Discussed PR offline with @debonte.
NuGet/Toolbox integration tests passed.

[2020-01-28 23:22] #8868 closed, assigned to donnie-msft

[2020-01-28 23:26] nkolev92 commented on #7438
I think based on @nguerrera's response

we should consider just calling `dotnet` or `dotnet.exe` if the env var is not set. That would enable the scenarios for 3rd party apps using NuGet's libraries as @olivier-spinelli suggested.

If we want to be smarter we can expose a component that allows the caller to control exactly what's being used, but that might be overkill.

@dtivel thoughts?

[2020-01-29 00:45] nkolev92 opened #9111 "Stable part partial numeric floating behaves different from prerelease part numeric floating"
The prerelease part seems to be treated as a alphanumeric.

Related:

https://github.com/NuGet/NuGet.Client/pull/1601
https://github.com/NuGet/Home/issues/4513

Specifically for [1.1.1*](https://nugettoolsdev.azurewebsites.net/5.4.0/find-best-version-match?versionRange=1.1.1*&versions=1.1.9%0D%0A1.1.10%0D%0A1.1.11%0D%0A1.1.20%0D%0A1.2.0) with

[code]

`1.1.20` is selected.

For [1.1.1-beta.1*](htt

[2020-01-29 00:55] nkolev92 opened #9112 "FireAndForget PM UI startup"
The menu command builds the PM UI by calling JTF.Run blocking the UI thread.

This is unnecessary.
That can be made async. While that won't fix all issues with the PM UI startup performance, it will make it a bit better simply because now the UI thread is an async flow.

Related to [438211](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/438211/)

[2020-01-29 06:20] anangaur commented on #9057
This is the first time I noticed the `Used by` feature 😄. Do you know why it picked up `Microsoft.Azure.Batch`? What are other packages you would like to show here?

![image](https://user-images.githubusercontent.com/14800916/73332654-3ee60180-421c-11ea-9673-70ecda5bc882.png)

[2020-01-29 16:33] aperdomob opened #9141 "$ENV_VARIABLE doesn't work in my mac"
this comment

&lt;!--
            Used to specify the default location to expand packages.
            See: nuget.exe help install
            See: nuget.exe help update

            In this example, %PACKAGEHOME% is an environment variable. On Mac/Linux,
            use $PACKAGE_HOME/External as the value.
        --&gt;

suggests that in mac I need to use `$` for environment variables but It doe

[2020-01-29 17:15] LeadAssimilator commented on #9097
@rrelyea trying to get everyone to update is all well and good, but that does nothing for those that are stuck on older toolchains for various reasons.  And why burden package consumers to update so their tools stop failing on legitimate errors, when only package consumers need to update once the newer tools stop producing said errors?

I take the view that just because newer versions don't care i

[2020-01-29 17:44] gravidThoughts opened #9140 "Determine Entire Configuration for a Given Path"
I've read all of the configuration documents, and I am pretty sure the answer is no.

Is there a Nuget CLI config command that will display the **entire** resolved configuration for the directory that nuget is executing in? This includes the configuration elements that cannot be accessed with the **config** command like `packageSources`.

[2020-01-29 17:46] aolszowka commented on #9049
In testing with Preview 2 I do not seem to experience the issue, but this maybe because the option to "build" is disabled until much later in the process. Regardless, this is closed as resolved.

[2020-01-29 17:55] gojimmypi commented on #8852
@nkolev92 and @shaipetel  I believe having this exact problem of a fetched package missing the DLL. I have a sample repo to demonstrate:

[code]
In Visual Studio, navigate to `ulx3s-examples\nanoFramework\nanoFrameworkSSD1331_demo` and open the `nanoFrameworkSSD1331_demo.sln` solution in Visual Studio 2019.

Note that I have the [nanoFramework extension](https://marketplace.visualstudio.com/items?

[2020-01-29 18:55] anangaur commented on #912
Update: This work has been scheduled.

[2020-01-29 18:57] dominoFire opened #9113 "Missing Icon in PM UI Details Pane"
## Details about Problem

NuGet product used: VS UI

NuGet version: 5.5.0.6392-11-g0de9751d1

VS version (if appropriate): 16.4.1

Worked before? Yes, 16.4.1 5.5.0.6368

## Detailed repro steps so we can see the same problem

1. Open any project in VS
2. Right click and chose "Manage NuGet Packages..."
3. Click on a package from the list
4. See details pane

![image](https://user-images.githubuser

[2020-01-29 19:29] rrelyea commented on #1031
SourcesCommandTest_AddWithUserNamePassword_UserDefinedConfigFile was really broken due to an extra whitespace, it appears. Reenabling test with: NuGet/Home#4126

[2020-01-29 20:39] IGx89 commented on #8646
This is a bug in GPR. When NuGet makes a call to the GPR server to fetch a non-existent package, it properly returns HTTP-404, just like nuget.org does. However, unlike nuget.org, it also adds a `X-Nuget-Warning` header on the response containing the exact warning message you're seeing (example: `X-Nuget-Warning: NAME_UNKNOWN:Package with name 'coverlet.msbuild' was not found in the package source

[2020-01-29 21:22] heng-liu opened #9114 "X509Certificate2.PrivateKey is not disposed in X509Certificate2.Dispose()"
A `X509Certificate2.PrivateKey` instance is not disposed when the `X509Certificate2` instance is disposed.

[2020-01-29 22:25] zkat commented on #8933
This is done. See https://github.com/NuGet/NuGet.Client/pull/3208

[2020-01-29 22:25] #8933 closed, assigned to zkat

[2020-01-29 22:55] zkat commented on #8044
I don't really understand what this task is referring to or where to look. Any pointers, @dtivel @heng-liu?

[2020-01-29 23:00] heng-liu commented on #8044
Asked for Damon's suggestion before, as follows:

[2020-01-29 23:02] zkat commented on #8044
Sounds like we need to wait until the rest of the stuff is enabled to see what to do about this one. I'll drop it for now, then. Thanks, Heng!

[2020-01-29 23:07] heng-liu commented on #8044
You may see the different behaviors from CertificateChainUtilityTests.GetCertificateChain_WithUntrustedRoot_Throws

[2020-01-29 23:34] zkat commented on #8935
Note: This is hanging when calling `SignedArchiveTestUtility.CreateAuthorSignatureForPackageAsync`, so the failure might just be a bug in our test utility. Looking into it now.

[2020-01-29 23:42] gojimmypi commented on #1842
@emgarten please see https://github.com/NuGet/Home/issues/8852#issuecomment-579880577

[2020-01-30 00:06] heng-liu commented on #8935
Pls take [this](https://github.com/dotnet/runtime/blob/master/docs/design/features/cross-platform-cryptography.md#x509chain) into consideration for Mac.

[2020-01-30 02:55] #9113 closed, assigned to dominoFire

[2020-01-30 10:50] mingkuang-Chuyu commented on #8874
I'll try to support this feature (that C++/CLI project use .NET nuget package ).

[2020-01-30 11:57] JohnLudlow opened #9115 "Better tools / options to manage packages across multiple solutions"
This is basically feedback / feature request so I omitted some of the bug-report-style elements of the template.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet.exe Version: 5.4.0.6315
Visual Studio UI 16.3.4

OS version:
Win10 1909 10.0.18363 (18363.592)

## Our situation

We build an application that includes some .NET components, s

[2020-01-30 12:15] mark-raymond opened #9116 "NuGet unnecessarily selects prerelease dependences when installing a prerelease package"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 5.4.0.6315

OS version (i.e. win10 v1607 (14393.321)): Windows 10 1909 (18363.592)

If I restore a prerelease package with dependency resolution highest, prerelease versions of transitive dependencies are installed even when there isn't an explicit referenc

[2020-01-30 15:18] IGx89 commented on #8646
I've brought this up with GitHub and they have an internal issue open with their engineering team tracking this bug. No ETA yet.

[2020-01-30 16:36] heng-liu commented on #8626
Closed as fixed.

[2020-01-30 16:36] #8626 closed, assigned to heng-liu

[2020-01-30 17:35] gravidThoughts opened #9117 "nuget locals global-packages -list does not return NUGET_PACKAGES env var value."
## Details about Problem

NuGet product used (NuGet.exe):

NuGet version (5.1.0.6013):

OS version (Windows 10 Enterprise 1809 17763.914):

## Detailed repro steps so we can see the same problem

1. Create NUGET_PACKAGES system environment variable with valid path.
2. Open command line and browse to any project using **packages.config**.
3. Execute : nuget locals global-packages -list
4. Notices t

[2020-01-30 17:50] gravidThoughts opened #9118 "nuget config <configkey> does not return default values"
## Details about Problem

NuGet product used (NuGet.exe):

NuGet version (5.1.0.6013):

OS version (Windows 10 Enterprise 1809 17763.914)

Repro steps

1. Verify that the computer level nuget.config file %AppData%/Roaming/Nuget does not contain **repositoryPath** configuration data.
2. If using a user level configuration file, verify that it does not contain **repositoryPath** configuration data.

[2020-01-30 20:30] dominoFire commented on #9060
@josh-degraw  Suppose that we have the following folder structure with projects in SDK-style format:

[code]

Now, in your `Directory.Build.props` file, you have:

[code]

Then, create the packages in the terminal by using `dotnet`. For example:

[code]

The command above will create the three packages (ClassLib 1, 2, 3)  and each package will have the same embedded icon specified in the `Director

[2020-01-30 21:05] watfordgnf commented on #5764
I missed the solution in here. The situation I'm in is that multiple old packages need version 3.X.X but we have others that need 4.X.X of the package. Our private feed only carries 4.X.X. Binding redirects are generated.

Is the issue that if we listed 3.X.X in our private feed then we would get both versions installed? I guess I'm missing how we can take action based on this warning, and what th

[2020-01-30 21:40] analogrelay opened #9119 "NuGet Package Manager UI doesn't render "framework references" as dependencies."
For example consider https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.JwtBearer

![A screenshot of the NuGet.org package details page for `Microsoft.AspNetCore.Authentication.JwtBearer`](https://user-images.githubusercontent.com/7574/73492480-9cd23080-4365-11ea-9944-3fbac6e409ad.png)

The Dependencies list shows only one dependency:

* Microsoft.IdentityModel.Protocols.OpenIdConn

[2020-01-31 03:37] timheuer opened #9120 "dotnet add package doesn't honor --ignore-failed-sources"
Simply put, when trying to add a package and wanting to skip failed resources the arg of `--ignore-failed-sources` does not work like it does in other package commands for NuGet

[2020-01-31 05:01] #9060 closed, assigned to dominoFire

[2020-01-31 10:38] TFTomSun opened #9121 "RestoreSources together with SDK dependencies seems not to work"
I tried to move away from the NuGet.Config to a pure MSBuild based restore logic. When I try to set the RestoreSources in the Directory.Build.props and reference an SDK I get build errors:

[code]

The error messages are :

Actually I expect that sdk to be restored from the PrivateRemoteSource. It works, when I use a NuGet.Config instead.

[2020-01-31 11:52] Frankwayne commented on #6140
I ran into this issue when trying to run donet restore.

 dotnet restore
  Retrying '{removed}' for source '{privateRepoUrl}?id='{removed}'&semVerLevel=2.0.0'.

I had to remove my private repo from my users nuget config file  located at AppData\Roaming\NuGet

whenever I'm offline from my vpn.

[2020-01-31 13:21] kkm000 commented on #3893
@rrelyea, "Focusing on NuGet client software to enable great work by the NuGet community!", wrote not even 3 years past:

If you want to hear the customer feedback, please go no further than #3891. 3.5 years worth of customer feedback is quite a collection. I must give you a fair warning, though, that the feedback is not exactly positive. I would call it rather agitated.

The biggest problem with

[2020-01-31 14:23] mahilleb-msft opened #9122 "Doc: "nuget config /?" has typo in config get exapmle"
## Details about Problem

NuGet product used NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 5.4.0.6315

## Detailed repro steps so we can see the same problem

1. Run `nuget config /?`:

[code]

2. See that the `nuget config HTTP_PROXY` command has an extra dot.

[2020-01-31 16:25] althurman opened #9123 "Contentfile in nuget gets compiled causing build errors"
I have a nuget that has a contentfile in it. ContentFile is a json file and denoted as such in the nuspec file when the nuget is packed.

When installing the nuget in a regular wpf app, I get a couple build errors. It appears that Visual Studio is trying to compile the .json file. Wondering if anyone knows what may cause this??? As you'll see in the nuspec snippet I have BuildAction=None in the nu

[2020-01-31 16:37] cristinamanum opened #9124 "[Centrally managing NuGet packages and versions] Error on downgrade version due to transitive central dependency."
When a transitive dependency cause a version downgrade an error needs to happen. This item tracks the work needed to find a solution for this problem.
Linked with [[Centrally managing NuGet packages and versions] Implement the restore graph changes](https://github.com/NuGet/Home/issues/8910)

[2020-01-31 17:23] thomaslevesque opened #9125 "Add a TypeConverter for the SemanticVersion class"
The `SemanticVersion` class lacks a `TypeConverter`. Although it's easy to manually use `Parse` and `ToString()`, it's not always convenient. If, for instance, I want to use `SemanticVersion` in my model, I need to create a converter myself to support JSON serialization. Same if I want to accept a `SemanticVersion` as an parameter to an API endpoint.

If `SemanticVersion` had a `TypeConverter`, it

[2020-01-31 18:30] Petermarcu commented on #9057
What we want to have there is Azure.Storage.Blobs because its the most popular service and the version of the library we want people to use. We're trying to figure out why that library doesn't show up in the list even though its delivered from our repo.

[2020-01-31 19:22] triynko commented on #5385
This is, hands down, the single largest problem with Visual Studio / NuGet. It's a constant, never-ending source of massive, false-positive change logs. It trains developers to ignore change sets, because literally every line of the document is changed, and it's impossible to tell what meaningful changes are actually present int the file.

[2020-01-31 19:42] dquist commented on #6324
My problem was that my PackageReference version had a 'v' before the version...

e.g.

`<PackageReference Include="NUnit3TestAdapter" Version="v3.15.1" />`

Change the `v3.15.1` to `3.15.1` and it works again. Only figured it out by running `dotnet restore`. The GUI error messages were less than helpful.

[2020-01-31 20:32] #9122 closed, assigned to nobody

[2020-01-31 20:59] triynko commented on #5385
If you're using XDocument for the save, just disable the reformatting!
![image](https://user-images.githubusercontent.com/1005113/73574028-a5e4ff80-4442-11ea-9f9e-5971733288cd.png)

[2020-01-31 21:17] StingyJack commented on #5385
Its even more frustrating when you have [given a working example of how to do this](https://github.com/NuGet/Home/issues/7180#issuecomment-418951758).

[2020-01-31 21:25] archfz opened #9126 "file '<source folder>/obj/project.assets.json' already exists (dotnet restore on docker)"
## Details about Problem
/usr/share/dotnet/sdk/2.2.207/NuGet.targets(119,5): error : The file '/app/.nupkg/system.numerics.vectors/4.4.0/system.numerics.vectors.nuspec' already exists.

NuGet product used: dotnet restore
NuGet version (x.x.x.xxx): not sure how to check nuget version
dotnet.exe --version: 2.2.207
OS version (i.e. win10 v1607 (14393.321)): win10 19551 pro
SDK Docker image: mcr.micro

[2020-01-31 21:45] #9112 closed, assigned to nkolev92

[2020-01-31 21:45] zivkan opened #9127 "Set NuGet 5.5 to RTM branding in preparation for GA release"

[2020-01-31 22:29] nkolev92 commented on #7855
@jeffkl
Do you think the general problem is still something we should try to address?
Specifically

[2020-01-31 22:30] nkolev92 commented on #9121
This is a duplicate of https://github.com/NuGet/Home/issues/7855.

Unfortunately anything coming through msbuild won't work because of msbuild ordering issues.

//cc @jeffkl

[2020-01-31 22:30] #9121 closed, assigned to nobody

[2020-01-31 22:31] nkolev92 commented on #7777
fyi @jeffkl

[2020-01-31 22:53] nkolev92 opened #9128 "RestoreNetCore_MultipleProjects_SameTool_DifferentVersionRanges_DoesNotNoOpAsync is flaky"
A few failures in the last week
https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3433306&view=ms.vss-test-web.test-result-details

//cc @zivkan

[2020-02-01 06:16] #9096 closed, assigned to nkolev92

[2020-02-01 07:52] Rugved commented on #2880
This worked for me
1. Close the visual studio
2. delete .vs folder from the root of your project
3. Re open the visual studio and compile.

[2020-02-01 12:43] davidfowl commented on #5764
No both versions wouldn’t be installed. The question is what was Foo built and tested with and why is that version not available?

[2020-02-01 17:49] watfordgnf commented on #5764
I guess my question is why would they say `>=3.X.X` if they meant `=3.X.X`. I guess I miss the utility of >= if you're not supposed to take anything that isn't strictly equal. (and in our case we only ever have one version of a package in our private feeds, for exact configuration control)

[2020-02-01 21:56] davidfowl commented on #5764
While that's 100% reasonable statement, the reality is that 98% of the time, the feed would have both versions. In the other 2% of cases:
- It was an error on the package author's behalf. They made a mistake authoring and put a random version in there that doesn't exist on any feed.
- The package consumer made a special feed with just the specific versions they needed.
- Something else I don't und

[2020-02-02 01:43] jetersen opened #9153 "We use the csproj to build the nuget package. So how do I extend the dependencies from csproj?"
having csproj and nuspec named the same and merging them is not explained at all

Tokens such as `$CommonMetadataElements$` and `$CommonFileElements$` are not documented and google searches are not great either for explaining them.

I wonder if there are other special tokens I am not aware of.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-02-03 03:29] #9127 closed, assigned to zivkan

[2020-02-03 06:25] Swoorup commented on #1851
* Upgrades everything to use dotnet core instead of mono.
* Everything works fine locally.
* Hopes on to build machine, which repulls packages.
* Notices this damn bug.
* Cleans packages locally, notices this damn bug.

[2020-02-03 09:27] v-luzh commented on #8832
Hi @zivkan , it repro on Master\29802.14+NuGet Dev\5.5.0.6411. Please help to reactivate this issue, thanks.