[2017-07-12 01:38] AungS opened #5589 "Huawei"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2017-07-12 01:40] AungS opened #5590 "Pull"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2017-07-12 01:43] rohit21agrawal commented on #5589
@AungS please file issues with a descriptive title and ample description for us to be able to investigate. Closing this issue.

[2017-07-12 01:43] #5589 closed, assigned to nobody

[2017-07-12 01:43] rohit21agrawal commented on #5590
@AungS please file issues with a descriptive title and ample description for us to be able to investigate. Closing this issue.

[2017-07-12 01:43] #5590 closed, assigned to nobody

[2017-07-12 01:44] clairernovotny commented on #5186
In Humanizer, we need to create one package per culture and a metapackage that references all cultures. Would love to use pack targets for this but am currently blocked https://github.com/Humanizr/Humanizer/tree/dev/NuSpecs

[2017-07-12 01:46] rohit21agrawal commented on #5186
@onovotny pack targets already add satellite assemblies (if they are part of SatelliteDllsProjectOutputGroup) to the nupkg in the culture folder inside lib. Am i missing something that you require?

[2017-07-12 01:53] rohit21agrawal commented on #5186
@onovotny or is your expectation that pack should create an individual nupkg for each culture and a metapackage that references each of them?

[2017-07-12 01:53] clairernovotny commented on #5186
Yes....we require creating a language specific nupkg per satellite resource. Not including them in the main package.

[2017-07-12 01:54] rohit21agrawal commented on #5186
@onovotny can i ask why are you against putting all satellite resources in the main package?

[2017-07-12 02:44] mishra14 commented on #5561
related issue: https://github.com/NuGet/Home/issues/5186

[2017-07-12 04:04] mishra14 commented on #1192
@emgarten Was this fixed/planned?

[2017-07-12 04:24] anangaur commented on #1192
@mishra14 something that is also being discussed here: https://github.com/NuGet/Home/issues/5553. And as mentioned there, it does makes sense. We should explore this further :)

[2017-07-12 04:47] dasMulli commented on #5558
fyi:
The main GH issue for this is probably https://github.com/NuGet/Home/issues/3891
I just summarised the ways to do it in a [StackOverflow answer](https://stackoverflow.com/questions/44976879/msbuild-multiple-dll-in-a-single-nuget-package/45004898#45004898) and uploaded an example project for the SDK csproj + nuspec at https://github.com/dasMulli/nuget-include-p2p-example (see `LibA` which adds

[2017-07-12 05:14] SimonCropp commented on #4704
@rohit21agrawal can u share an example of how to `set FinalOutputPath metadata` using the example given by @natemcmaster above?

[2017-07-12 06:52] alimd commented on #5358
same issue on mac and sdk 1.04

[2017-07-12 08:08] davidfowl opened #5591 "Invalid fallback folder doesn't show any restore errors in visual studio"
I manually deleted `'C:\Users\dfowler\.dotnet\NuGetFallbackFolder` from my hard drive and tried adding a dependency to my .NET Core project. When I added it, auto restore ran and the solution explorer showed this icon:

![image](https://user-images.githubusercontent.com/95136/28107844-471ab208-669e-11e7-9642-e45ab87f98bc.png)

However, the assets file had no warning or error and the error list was

[2017-07-12 08:48] vgheri commented on #3664
Hello, I see unfortunately the issue is still closed and my comment has probably gone unnoticed.
I think not being able to restore packages from a secured repo is a pretty big issue.
CC @joelverhagen @rrelyea

[2017-07-12 11:31] Wil73 commented on #1192
Why is this closed?  I am confused.

[2017-07-12 13:38] clairernovotny commented on #5186
The expectation is that we should have that option. We are doing this because some users explicitly don't want all of the languages "polluting their output". I think it's silly, but it's what the users want. By using the satellite packages, people can choose the languages they want. Or they can use the main metapackage and get them all.

[2017-07-12 15:15] solomon1271 commented on #2880
Restarting VS works for me too.

[2017-07-12 16:36] zhangb99 commented on #4190
Not working for me.  Trying to install Autorest, console, mvc, tried all tricks available on the internet.

[2017-07-12 16:37] ThisNoName commented on #4190
Not working for me. Trying to install Autorest, console, mvc, tried all tricks available on the internet.

[2017-07-12 17:10] rrelyea commented on #5573
Can you please make sure the 3 following things get done as part of hotseat.
- [x] Finish integration of nuget build that we integrated into VS on friday into SDK/CLI
- [x] #5287 Publish 4.1.0 "final" packages to nuget.org
- [x] #5287 Publish 4.2.0 "final" packages to nuget.org

[2017-07-12 17:11] rrelyea commented on #5287
4.3 preview packages are posted. We'll go back and do 4.1 and 4.2 as part of #5573

[2017-07-12 17:24] maartenba commented on #5270
Duplicate of #5287

[2017-07-12 17:24] #5270 closed, assigned to nobody

[2017-07-12 17:25] maartenba commented on #4631
So given there sees to come a VS2015 update (seen in some of the issues floating around), is this one going in as well? @rrelyea

[2017-07-12 17:30] rrelyea commented on #3664
Reopening and placing in 4.4 milestone. Too late for 4.3. As such, we won't be able to give it much bandwidth for a while.

[2017-07-12 17:34] livarcocc opened #5593 "After packing pre-release NuGet packages for .NET 4.5.1, they do not resolve in NuGet"
_From @NightOwl888 on July 12, 2017 12:54_

This issue is currently a blocker for us, preventing upgrade to the new `.csproj` format. We have several NuGet packages, all with pre-release versions that exhibit this problem, but only on .NET Framework. On .NET Core, NuGet produces a warning but successfully downgrades the NuGet dependent package to the correct pre-release version.

## Steps to repro

[2017-07-12 17:47] rrelyea commented on #5563
- [ ] 455037 VS2017 hangs while updating NuGet packages in C++ project

[2017-07-12 17:49] psmulovics commented on #1851
Any news on this item?

[2017-07-12 17:56] rrelyea commented on #4631
Bar is extremely high, so unlikely to be taken, but we'll discuss with leadership. Putting into 3.5.1 milestone to track.

[2017-07-12 18:19] emgarten commented on #5490
Dupe of https://github.com/NuGet/Home/issues/4700

[2017-07-12 18:21] emgarten commented on #5585
You can prevent packages from flowing to parent projects by adding ``PrivateAssets="all"`` to your ``PackageReference``

https://github.com/NuGet/Home/wiki/%5BSpec%5D-Managing-dependency-package-assets

[2017-07-12 18:22] jhudsoncedaron commented on #5490
I think that's a false duplicate. The behavior they describe there is B not being restored at all. The behavior here is B is getting restored but C isn't waiting for the restore of B to finish and so gets confused.

[2017-07-12 18:30] emgarten commented on #5490
Restores are independent, a parent project does not use the result of restores from child projects.

ReferenceOutputAssembly=false is likely unrelated to the problem here. I see several mentions of restore failing here both in VS and command line and mentions of performance but no actual error messages or numbers of performance. Any extra info that could be provided using the latest dotnet CLI 2.0

[2017-07-12 19:08] jhudsoncedaron commented on #5490
The restore never yields an error; but the build either yields this error:

error : Cannot find project info for 'C:\Users\jhudson\dev\reduce-build-nasty\src\B\B.csproj'. This can indicate a missing project reference.

or this error triplet:

Program.cs(7,18,7,25): error CS0518: Predefined type 'System.Object' is not defined or imported
Program.cs(9,26,9,32): error CS0518: Predefined type 'System.

[2017-07-12 19:58] rohit21agrawal commented on #2693
@mishra14 @emgarten has this been fixed with the recent warnings & error changes?

[2017-07-12 20:41] bhugot commented on #5585
I would like the opposite

[2017-07-12 20:53] emgarten commented on #5490
@jhudsoncedaron thanks for the extra info. I'm opening the issue.

[2017-07-12 20:55] emgarten commented on #5585
If you have ProjectA -> ProjectB -> PackageC

You are saying that you have ProjectA to get PackageC assets and ProjectB to get zero assets from PackageC?

[2017-07-12 20:56] emgarten commented on #2693
The error message here hasn't changed.

[2017-07-12 20:57] zvirja commented on #3891
@kzu Thanks for the advice. I tried it for a couple of times, but cannot make it work. After I install  this package to .NET Core project, it seems that SDK "Pack" is invoked rather than one from the package. As result it fails because you assign the `NuspecFile` property to non-existing file.

Package version I tried - `0.1.324`.

Is there something that I'm missing? Is that suppose to work with

[2017-07-12 21:12] #5558 closed, assigned to nobody

[2017-07-12 22:07] bhugot commented on #5585
Yeah I want target from C

[2017-07-12 22:08] #5551 closed, assigned to nkolev92

[2017-07-12 22:11] emgarten commented on #5585
I don't understand what you are asking for. Would you provide a complete example similar to what I gave with A, B, and C?

[2017-07-12 22:35] bhugot commented on #5585
I use https://github.com/AArnott/CodeGeneration.Roslyn
I have my own attribute project and it pull my own generator as tool.
I would like to pull CodeGeneration.Roslyn.BuildTime that is needed with my attribute project. But this attribute project doesn't need it.

[2017-07-13 02:00] JoseFMP commented on #1946
@kzu no... that is the problem... forced to use the old! And therefore cannot target netcoreapp1.x or netcoreapp2.x.

Please fix!!

[2017-07-13 04:21] TAGC opened #5594 ".NET Core 2.0.0 Preview 2 - downgrade warnings have become errors when running package restore"
## Details about Problem

NuGet product used: dotnet.exe
NuGet version: 2.12.0.0
dotnet.exe --version (if appropriate): 2.0.0-preview2-006497
VS version: N/A
OS version: macOS Sierra 10.12.5

This was not an issue with dotnet 1.0.4 for certain and probably all other 1.x.y.

This issue was opened following from the discussion in dotnet/core#711.

## Detailed repro steps so we can see the same probl

[2017-07-13 04:47] maartenba commented on #4631
If it helps: We have shipped out custom NuGet VSIX with that one commit added, worked flawless so far, but I'd prefer not shipping our own NuGet extension.

[2017-07-13 04:48] AArnott commented on #5408
Please re-open this issue as it repros with d15rel 26711.00

I'm afraid this bug isn't fixed yet as shown in this trivial repro: https://github.com/AArnott/ReproNuGet5408/tree/master/ReproNuGet5408

Repro Steps:
1. Create a .NET Standard class library.
1. Change target framework to net45
1. Add a resources.resx and resources.es.resx file
1. Pack the library (from the command line if necessary to w

[2017-07-13 05:26] danielwertheim commented on #5540
Turns out that it works if you ensure you pass the `\p:Version=<>` to the `restore` target not the `pack` target. Would expect it to work with `pack` as well, unless you specify `NoBuild`

@livarcocc With that sorted... do you know how to get the `restore` target to generate locked versions like `[1.2.3]` instead of `1.2.3`?

[2017-07-13 06:33] afficionaddo opened #5595 "Nuget.exe command line has stopped working"
My project is not building.
Whenever I build it says "Nuget command Line has stopped working".

The errors shown in the console are:
* Error1	Unhandled Exception: System.NotSupportedException: The requested security protocol is not supported.	Coach.Business.Components

* Error2	   at System.Net.ServicePointManager.set_SecurityProtocol(SecurityProtocolType value)	Coach.Business.Components

* Error3

[2017-07-13 07:16] TAGC commented on #5594
This issue is not present with Preview 1, so this issue is caused by some change introduced between .NET Core 2.0.0-preview1-005685 and 2.0.0-preview2-006497.

[2017-07-13 11:10] bruzkovsky commented on #5463
This also occurs with project.json configs.

`Version conflict detected for Xamarin.Android.Support.Compat.
 iCL.Filler.Droid (>= 1.0.0) -> iCL.Filler.Core (>= 1.0.0) -> Xam.Plugin.Media (>= 3.0.0.62-alpha) -> Xamarin.Android.Support.Core.Utils (>= 25.3.1) -> Xamarin.Android.Support.Compat (>= 25.3.1)
 iCL.Filler.Droid (>= 1.0.0) -> MvvmCross.Plugin.DownloadCache (>= 4.4.0.1) -> Xamarin.Android.Su

[2017-07-13 17:23] rohit21agrawal commented on #5408
@rainersigwald we decided to implement the fallback behavior to %(Identity) as per your suggestion but turns out satellite dlls don't even have identity set for msbuild.exe driven builds. Do you know if this is expected?

[2017-07-13 18:07] emgarten opened #5596 "Add support for RestoreAdditionalProjectSourcesExcludes and RestoreAdditionalProjectFallbackFoldersExcludes"
1. Read additional source and fallback folder properties in the inner build
1. Aggregate values between frameworks, this should concat all includes and then remove all excludes
1. Excluded values that do no exist in the included list will be ignored.

Property names:
* RestoreAdditionalProjectSources
* RestoreAdditionalProjectFallbackFolders
* RestoreAdditionalProjectFallbackFoldersExcludes

Origi

[2017-07-13 18:25] mikkeljohnsen commented on #5583
EnableDefaultItems=false. Will also disable all items in VS (Mac). So not really useful.

And VS (Mac 7.1 build 1281) Still hangs on "Run" (Build)

[2017-07-13 18:26] emgarten commented on #5595
@afficionaddo any ideas where `Coach.Business.Components` is coming from?

Would you try using the latest NuGet.exe 4.3.0? https://dist.nuget.org/win-x86-commandline/v4.3.0-preview3/nuget.exe

[2017-07-13 18:28] emgarten commented on #5583
@mikkeljohnsen `EnableDefaultItems=false` should only be used with restore where the items are not needed. For build you will of course still need them, there you can run with `--no-restore` to speed things up.

[2017-07-13 18:31] mishra14 opened #5597 "Work on VS Feedback"
Investigate/clean up VS Feedback issues.

[2017-07-13 18:34] mishra14 commented on #5477
@rrelyea @zhili1208 Reassigning this bug as per the discussion during the sprint planning meeting.

[2017-07-13 18:34] forki commented on #5583
@emgarten is there a fix to see on the horizon?

[2017-07-13 18:36] emgarten commented on #5594
Downgrade warnings are now errors by default in preview2. You can change this in your project using the `NoWarn` or `WarningsAsErrors` properties.

[2017-07-13 18:41] anangaur commented on #5231
This issue seems to have been fixed.

[2017-07-13 18:43] emgarten commented on #5583
@forki not yet, it is still being investigated. I'll keep you posted.

[2017-07-13 18:51] anangaur opened #5598 "Incorrect installed version reported on NuGet Package Manager UI when floating version used"
Repro steps:

1. Create a PackageReference based project
2. Specify a floating package version dependency to it. E.g.
`    <PackageReference Include="Newtonsoft.Json" Version="10.*" />`

3. NuGet resolves to 10.0.3 the highest that matches the floating range.

Expected: On PM UI, it should show the 10.0.3 installed and should not offer any update.

Actual: It shows 10.0.0 and offers an update:
![i

[2017-07-13 18:52] AArnott commented on #5408
I wasn't talking about the `%(Identity)` property. I was talking about the item identity (i.e. the item name or EvaluatedInclude). The MSBuild docs on MSDN suggest that this value also appears as Identity metadata but I can't confirm that that actually happens and this failure suggests it doesn't.

[2017-07-13 19:02] dsplaisted commented on #5408
I would guess that `Identity` is special metadata that can be accessed as metadata from MSBuild XML code (`%(Compile.Identity)`, for example), but not via the MSBuild APIs that allow you to access metadata on an item.  To get this value via the APIs, you probably need to use the `EvaluatedInclude` property as @AArnott suggests.

[2017-07-13 19:14] livarcocc commented on #5596
We should also do something to remove duplicates, or that is not needed?

[2017-07-13 19:22] rohit21agrawal commented on #5408
@AArnott i just verified that the fix i made was correct, and the error is because dotnet core sdk is resolving to an older version of the pack sdk. if you look at the log for nguet.build.tasks.pack.targets, its being read from "C:\Program Files\dotnet\sdk\2.0.0-preview2-006502\Sdks\NuGet.Build.Tasks.Pack\build\NuGet.Build.Tasks.Pack.targets"  (or whatever version you have installed on your machin

[2017-07-13 19:26] #5408 closed, assigned to rohit21agrawal

[2017-07-13 19:29] mishra14 commented on #5231
@anangaur: should we close this issue then?

[2017-07-13 19:31] anangaur commented on #5231
Yes. Done :)

[2017-07-13 19:31] #5231 closed, assigned to nobody

[2017-07-13 19:37] nkolev92 commented on #5588
This is a Project System bug.
https://github.com/dotnet/project-system/issues/2510
Closing the NuGet bug.

[2017-07-13 19:37] #5588 closed, assigned to nkolev92

[2017-07-13 19:39] emgarten commented on #5596
Do you mean remove a source if it is also a fallback folder?

[2017-07-13 19:56] mikkeljohnsen commented on #5583
@emgarten "dotnet build --no-restore" still takes more than 1 minute for a simple project with kendo-ui-core installed. And from VS (Mac) it is not able to compile at all.

Hope there will be a fix very soon. Because only solution is to downgrade to preview1

[2017-07-13 20:25] rainersigwald commented on #5408
To be clear on the MSBuild OM aspects of this:

* `Identity` is a [well-known item metadatum](https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-well-known-item-metadata). It is available for every item and is

* You can access well-known metadata in all the usual ways, including transforms `@(ItemName->'%(Identity)')` and through the OM `item.GetMetadata("Identity")`.

[2017-07-13 23:17] anangaur commented on #4894
This is the NoOp feature we delivered. @nkolev92  can you link to the issue we used for the NoOp work and close this one?

[2017-07-13 23:34] nkolev92 commented on #4894
https://github.com/NuGet/Home/issues/5080

[2017-07-13 23:34] #4894 closed, assigned to nobody

[2017-07-13 23:43] rrelyea commented on #5552
@attilah  reached out in email with:

After I hit another problem, this issue was created for CPS: https://github.com/dotnet/project-system/issues/2601
Since the same solution caused the https://github.com/NuGet/Home/issues/5552 error I think this can help your investigation and fix.
After I replaced the project factory guids, the same solution was building correctly!

[2017-07-14 03:45] kzu commented on #3891
@zvirja you need to be on VS 15.3 at least

[2017-07-14 03:47] kzu commented on #1946
@Jose-CF this combination works, we're using it: new csproj (15.3+) plus nugetizer. Can target netcoreapp, any version, and netstandard too.

[2017-07-14 04:49] #5594 closed, assigned to nobody

[2017-07-14 05:35] phatcher commented on #5495
@jainaashish I updated a 91 project solution yesterday which is just using the official v3 feed - it took over 3 hours to process the update of a single package.

I'll see if I can get a simple repro

[2017-07-14 06:39] jskeet commented on #2384
I'm surprised this has stayed open for over a year. It's a *major* problem with the delisting functionality, IMO. I would expect a delisted version simply not to be returned by the server unless explicitly requested by a client.

[2017-07-14 06:45] davidfowl commented on #2384
@jskeet When nuget brings back lock files for PackageReference this would be more feasible. The problem is that there's no difference between restore and initial install. Always skipping unlisted packages would mean less determinism and less efficiently since nuget would *always* have to go online to fetch the right version.

[2017-07-14 06:52] forki commented on #2384
There were recent changes in server side that removed unlisted packages from the getpackageversions api. So the problem might be gone.

[2017-07-14 06:53] jskeet commented on #2384
@forki: It's certainly present on nuget.org today. That's how I winded up here to start with.

[2017-07-14 06:55] forki commented on #2384
Yes nuget.org shows unlisted packages. But apis have changed. I know because paket's Integration test suite went red and then we asked ;-)

[2017-07-14 06:56] jskeet commented on #2384
@davidfowl: I'm not sure what you mean (probably due to my ignorance of how nuget works). If the client knows the version it wants, I'd expect it to say so and be able to "see" the delisted version. If it's asking "What's the latest version" I would *not* expect it to see the delisted version.

My actual case: I screwed up tagging when I was trying to release Noda Time 2.1.0, and accidentally push

[2017-07-14 06:56] jskeet commented on #2384
@forki: Until nuget.org stops exposing unlisted package versions when they're not being explicitly requested, I don't think we can reasonably say that the problem is "gone".

[2017-07-14 06:58] forki commented on #2384
which API did you ask? what's the concrete URL?

[2017-07-14 07:01] forki commented on #2384
@jskeet another tip: you should cancel your request for package deletion if people have already installed it. That will result in even more trouble. ;-)

[2017-07-14 07:04] davidfowl commented on #2384
That doesn't work for transitive dependencies. If another package depends on the de-listed version of noda time, it would require the nuget client to go online to get the "right" version, since the version listed in the dependency of the nuspec isn't enough to make a decision. e.g.

NodaTime 2.0.0 (delisted), NodeTime 3.0.0

Foo 1.0.0 -> NodaTime 2.0.0

Should nuget get 2.0.0 or 3.0.0? That's an e

[2017-07-14 07:06] jskeet commented on #2384
@forki: I just used the nuget command line client (v4.1.0.2450).

But yes, I see what you mean about the deletion request. It sounds like I probably need to actually *do* a 2.3.0 release so that the most recent version is a valid, listed one.

TL;DR: If you ever accidentally push a package with the wrong version number, you're screwed and delisting doesn't help you in any significant way, even if

[2017-07-14 07:08] jskeet commented on #2384
@davidfowl: In the case where anything *does* already have the delisted version, I agree there are problems. But in the case where the delisted version isn't already being used, I'd expect nothing to ever see it. Maybe that's infeasible due to the way the conversations between client and server work...

[2017-07-14 07:11] jskeet commented on #2384
Actually, I think I can *probably* just relist 2.2.0 and then skip to 2.3.0 for new work. (Nothing had happened on the master branch when it was accidentally used...)

[2017-07-14 07:13] forki commented on #2384
ok I take everything back. Seems https://api.nuget.org/v3-flatcontainer/nodatime/index.json?semVerLevel=2.0.0 is showing unlisted again. So the change was probably rolled back.

    {
      "versions": [
        "0.1.0",
        "0.9.0",
        "1.0.0-beta1",
        "1.0.0-beta2",
        "1.0.0-rc1",
        "1.0.0",
        "1.0.1",
        "1.1.0-dev",
        "1.1.0-dev-2013-31-01",

[2017-07-14 08:02] zvirja commented on #3891
@kzu Do you mean that MSBuild that is shipped with VS 2017.2 isn't compatible? Currently I run build from the command line, so it's unclear how VS version is involved..

_Sent from my Samsung SM-T719 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-14 09:53] shaunryan opened #5599 "All Package Installs are Failing"
## Details about Problem

NuGet product used (VS 2015 UI):

NuGet version (NuGet Package Manager 3.5.0):

dotnet.exe --version (all):

VS version (2015):

OS version (win 7)

Worked before? If so, with which NuGet version: same

## Detailed repro steps so we can see the same problem

1. I changed my nugget dir to C:\Code\Shaun.Ryan\BI\Nuget\Packages since it was filling up my profile drive (we're

[2017-07-14 16:43] sharwell opened #5600 "NuGet.Client does not have an issue tracker"
* The [NuGet.Client](https://github.com/NuGet/NuGet.Client) repository does not have an issue tracker
* The readme for the above repository does not point users to an issue tracker in an alternate location

[2017-07-14 16:56] sharwell opened #5601 "TopologicalSortUtility.GetParentCount has a high allocation rate due to LINQ"
The call to `Any` in [`TopologicalSortUtility.GetParentCount`](https://github.com/NuGet/NuGet.Client/blob/a7367359ce8d0bb3cf08f1bc884deb58526f5fa4/src/NuGet.Core/NuGet.Packaging/TopologicalSortUtility.cs#L46-L47) calls `GetEnumerator()`, resulting in substantial allocations after opening a project in Visual Studio. For the limited trace I was working with at the time, this enumerator was responsib

[2017-07-14 17:31] #5530 closed, assigned to emgarten

[2017-07-14 20:52] anangaur opened #5602 "Enable repeatable package restores using a lock file"
* Status: **Incubation**
* Spec: [Enable repeatable package restore using lock file for PackageReference based projects](https://github.com/NuGet/Home/wiki/Enable-repeatable-package-restore-using-lock-file)

Discussions should happen on this issue. Please link other issues with similar asks to this one.

July 2018 - [Announced feature](https://github.com/NuGet/Announcements/issues/28)
December 201

[2017-07-14 21:38] leftler commented on #4491
We are now on version 4.1.0, how does this relate to the milestone of 4.0.2 this issue is still assigned to?

[2017-07-14 22:29] nkolev92 commented on #5285
Just looping @rohit21agrawal  in.

[2017-07-14 22:35] sandyarmstrong opened #5603 "NuGet.* prerelease packages on nuget.org are not equally updated"
My project uses several packages that come from the NuGet.Client repo. I would like to update them all to 4.3.0 preview 3, but only about half of them have that version available (the rest are stuck on beta 1).

This leads to major incompatibilities, as some types have moved between beta 1 and preview 3 (for example, NuGetProject).

As it is, it is impossible to use 4.3.0 preview 3 from nuget.org.

[2017-07-14 23:07] diverdan92 opened #5604 "Package ID and package title displays are inconsisntent on nuget.org and Visual Studio"
## Problem
In Visual Studio, package ID is displayed everywhere you see package details - both in search and in the package details pane.
![image](https://user-images.githubusercontent.com/6608201/28233770-13f5b730-68ae-11e7-9f50-9d1607eb3d27.png)

In nuget.org, the package title is displayed everywhere. The only way to get the package ID is to look at the package details page where the CLI instal

[2017-07-14 23:21] jainaashish commented on #5287
4.1 and 4.2 packages are published to nuget.org

[2017-07-14 23:21] #5287 closed, assigned to nobody

[2017-07-14 23:24] jainaashish commented on #5603
We just published 4.3.0 preview4 packages so please update to preview4.

[2017-07-14 23:36] emgarten commented on #5603
@sandyarmstrong between 4.3.0 beta1 and preview3 several packages were merged. For example NuGet.Client is now part of NuGet.Packaging. So if you don't see preview3 it isn't stuck, it no longer exists.

[2017-07-14 23:37] sandyarmstrong commented on #5603
@emgarten I'm glad you mentioned that, I was just working on a list of all the packages still on beta1. Is there a good reference that shows which packages are current? Thanks!

[2017-07-14 23:40] nkolev92 commented on #5552
Likely dup of https://github.com/NuGet/Home/issues/5529

[2017-07-14 23:42] emgarten commented on #5603
[code]

[2017-07-14 23:43] sandyarmstrong commented on #5603
That is a really nice reduction in overall packages. :-)

[2017-07-14 23:54] MelbourneDeveloper commented on #4493
Yes, but the project properties only allow us to select up to version 1.6.1 for .NET Standard. How can we select higher versions? Is there an extra SDK pack we need to download?

[2017-07-15 00:03] #5552 closed, assigned to alpaix

[2017-07-15 00:06] alpaix commented on #5529
Just discovered `NuGet.sln` won't load in Visual Studio 15.3 Preview 4+ due to this bug.
Whereas number of our core projects target `netstandard1.3` and `net45`.

[2017-07-15 07:02] lodejard commented on #5097
The wildcard is matched to what's highest the feed first, and then acts like a normal range afterwards. So if the feed has 1.1.0,1.2.0,1.3.0,2.0.0 and you look for 1.* Then it's effectively turned to 1.3 without a maximum.

Like @emgarten mentioned then - if you have [1.*, 2.0) then it's effectively turned to [1.3, 2.0) which gives you the clamped range you were looking for.

*However* there is a

[2017-07-15 07:07] lodejard commented on #5097
That said - I do think this is a case where you should get the "under-versioning" warning. Just like if I say 1.3 is ideal and restore ends up handing me 2.0 I'll get a warning, if I say 1.* is ideal and restore ends up with 2.0 I should get that same warning.

[2017-07-15 07:39] anangaur commented on #5097
@lodejard I see 2 issues with the current behavior using wild card:
1. The semantic is non intuitive. The range using braces already works right now. So if somebody wants a particular behavior like no upper bound, then they can go with no upper bound. E.g [1.0.0,]
What will 1.* regular expression mean? Can it ever mean 2.x?
Also since [1.0.0, 2.0.0) will never match to 2.0.0 even if there are no p

[2017-07-15 09:55] mesuttalebi opened #5605 "Nuget for .net core does not work for packages mixed of dll libraries and client side codes like js and css"
I have a package named MT.Notifications, with this package I created a c# class (dll) for simply create javascript scripts for calling notifications in client side, and there is also a notifications.js and css files in client side, that mixed various notification libraries like toastr.js, jquery.gritter.js, bootstrap sweet alert and etc, and some overload functions to simply call a notifications.

[2017-07-15 18:06] stakx commented on #1696
@onovotny wrote [above](https://github.com/NuGet/Home/issues/1696#issue-115540494):

@ctaggart: Do you know whether this "pain point" has been addressed in the meantime (and if so, is there a separate GitHub issue for it)? I've run a quick experiment and Visual Studio 2017 appears to honor "Just My Code" with a NuGet package containing source-linked PDBs, but I'd like to have this confirmed by som

[2017-07-15 22:19] lukepuplett commented on #5316
Setup a post-build event with this:

`xcopy /HIDE "$(SolutionDir)\packages\*.*" "$(MSBuildProjectDirectory)\packages"`

Adjust paths as necessary. It'll copy the packages folder to the place where it can find it. Note that `repositoryPath` NuGet.config setting doesn't work - not for me, anyway.

[2017-07-16 02:40] WilliamABradley opened #5606 "(UWP) Platform Dependent UWP Library fails due to Compile-Time Reference Assembly Missing"
## Details about Problem
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
Nuget Package Manager

NuGet version:
Package Manager Console Host Version 4.3.0.4199

VS version (if appropriate):
Visual Studio Community 2017 + Preview

OS version (i.e. win10 v1607 (14393.321)):
Windows 10 Pro Insider Preview 16237

## Detailed repro steps so we can see the same problem
I'm

[2017-07-16 08:36] damien207 commented on #3324
I am suggesting "Long Path Tool" program that solves path too long issues with simplicity.

[2017-07-16 14:37] dannyrb commented on #4809
I was receiving the same error as @Kralizek on my build server (trying to setup TeamCity). Installing VS Community and restarting resolved the issue. Same build -- Just reran.

[2017-07-16 17:55] livarcocc commented on #5596
I mean, if multiple inner loops add the same source, should they be de-dupped? The only thing that should remove items from the "inserts" should be the Excludes.

[2017-07-16 18:07] livarcocc commented on #5529
This is being fixed by: https://github.com/dotnet/sdk/pull/1409. However, it will require changes in Nuget and the ProjectSystem as well.

[2017-07-16 18:16] livarcocc opened #5607 "restore fails hard by default if one source is unavailable/invalid/down"
_From @trondhindenes on July 15, 2017 23:16_

## Steps to reproduce
`dotnet --version`: 1.0.4
Given a nuget config with multiple feeds, the default (nuget.org) + another custom feed:
When trying to install a package which is present in the public feed, the install fails if not all feeds have the package or respond.:
[code]
output:
[code]
The process doesn't fail either, it just hangs there it seem

[2017-07-17 02:16] anangaur commented on #5607
Today NuGet looks for availability of all the feeds when trying to install or add a new package and this is an existing issue we plan to look at. Its not necessary for the package to be present in all the feeds but they(feeds) should be accessible. So it would be good to check if the feeds are reachable. If not, its a known issue.

Additional 2 questions if the feeds are already accessible:

1. Is

[2017-07-17 02:19] anangaur commented on #4809
@emgarten is it possible to tell nuget.exe to pick up a specific msbuild using a environment variable if a that msbuild version works here?

[2017-07-17 02:55] emgarten commented on #4809
NuGet.exe will use msbuild.exe from `%PATH%`, so in that way an env var can be used.

[2017-07-17 12:10] Necroskillz commented on #5540
First issue is already solved in .NET Core 2 preview 2 (see #4337).

For your other question - see my issue above. I would also like to be able to do this.

[2017-07-17 12:12] trondhindenes commented on #5607
I'm not sure I understand. Like I described above, it is my experience that the package _has_ to be accessible in all feeds (example 2) - which I consider a bug

NVM, I understand now. No, my private feed is not authenticated. As you can see from the logs, it responds with a 404, not a 401 which would normally be the case if there was authentication involved.

Your question nr 2: Yes, it works fin

[2017-07-17 14:36] sandyarmstrong commented on #5603
Closing this since it was not actually a bug.

[2017-07-17 14:36] #5603 closed, assigned to jainaashish

[2017-07-17 16:10] UnderHeavyDevelopment opened #5608 "Get-project not finding project when moved in solution tree"
Get-project not finding project when project was moved in solution tree

## Details about Problem
NuGet product used: Package Manager Console
NuGet version : don't know how to check it
VS version: 15.2 (26430.15)

## Detailed repro steps
1. In Visual Studio in you solution, create structure with **/DirA/ProjectA**, **/DirB/**
2. Rebuild, restart Visual Studio
3. Open **Package Manager Console**
4.

[2017-07-17 17:39] #5573 closed, assigned to jainaashish

[2017-07-17 20:47] tmenier commented on #358
Related question that I'm hoping someone here can help with. Do specific frameworks always take precedence over `netstandard`, even if they're a much older version than the consuming project? I have a library targeting `netstandard1.3` and `net40`. If I create a .NET 4.6.1 project and pull in this library, NuGet seems to pick the `net40` version. I hoped it would pick `netstandard3.1` since it's l

[2017-07-17 20:55] clairernovotny commented on #358
That is by design. Specific TFM's always win over `netstandard`. If you want newer functionality, you can use the SDK-style projects to multi-target to a newer `net` version. You could also put the `netstandard1.3` version in a `net461` directory too. If you do that, make sure to also include a `net461` dependency group that pulls in the right `netstandard.library` version too.

[2017-07-17 20:57] tmenier commented on #358
Ok, thank you for the quick reply!

[2017-07-17 21:07] xavier-rigau commented on #2662
I am having a similar issue. When I have a **Xamarin.Mac .NET 4.5 app** install my nuget package it uses the **net45** targetFramework or the **uap10.0** if listed in the nuspec. **If I don't remove the uap10.0 group my nuget package won't install at all.**

When I don’t comment the UWP section the error I get is this: Package 'Microsoft.NETCore.Jit.1.0.3' does not exist in folder '/Users/xavierr/

[2017-07-17 21:44] rohit21agrawal commented on #4704
@SimonCropp  Here you go. Let me know if this is still not clear. Sorry for the delay in reply.

[code]

[2017-07-17 21:56] ejizba opened #5609 "Failed to uninstall package because a file is locked"
## Details about Problem

VS version (if appropriate): 15.3.0 Preview 4.1 [26716.0.d15rel]

Worked before? If so, with which NuGet version: VS 15.2

## Detailed repro steps so we can see the same problem
This requires Visual Studio with the Cloud workload
1. File -> New -> Azure Cloud Service
2. Add two 'ASP.NET Web Role' projects
3. Select Web API for each project

Expected: Both projects success

[2017-07-17 22:11] cdmihai opened #5610 "Solution based restore does not restore the projects with solution type dependencies"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used (dotnet.exe | `msbuild /t:restore`):

dotnet.exe --version (if appropriate): 1.0.4

msbuild /version: 15.3.402.46929

VS version (if appropriate): 15.0.26709.3000

OS version (i.e. win10 v1607 (14393.321)): Version	10.0.15063 Build 15063

## Detailed repro steps so we can see the same prob

[2017-07-17 22:14] cdmihai commented on #5610
Found this out while looking into https://github.com/Microsoft/msbuild/issues/2274. This nuget issue does not appear to be connected to it, since `msbuild /t:restore` works OK.

[2017-07-17 22:29] cdmihai commented on #5610
Appears to work on dotnet 2.0.0-preview3-006770. Feel free to close the issue.

[2017-07-17 22:32] trondhindenes commented on #5607
Another issue also worth noting is that the process in example number 2 is extremely slow caused by all the retries. I don't see the point in retrying a 404. The package isn't there. Move on.

[2017-07-17 22:48] emgarten commented on #5610
Thanks for checking, this was fixed in NuGet 4.3.0 which is in 2.0.0 and 1.1.0.

[2017-07-17 22:48] #5610 closed, assigned to nobody

[2017-07-17 23:03] alpaix commented on #5557
Keeping the issue open as not all of the bugs were resolved in the PR.

[2017-07-17 23:31] bording commented on #4704
@rohit21agrawal Can you show a working example that has a real value for FinalOutputPath? I'm trying to adapt https://github.com/Particular/NServiceBus/blob/develop/src/Directory.Build.targets#L17 to use `TargetsForTfmSpecificBuildOutput` instead, but I'm not seeing the PDBs show up in the package.

Here's what I'm trying that isn't working:
[code]

[2017-07-17 23:32] anangaur commented on #5607
This seems weird. As mentioned before, we do have issues when any of the feeds in nuget.config is unreachable.

https://github.com/NuGet/Home/issues/5033 refers to similar issue. I am adding this to the list of issues with authenticated or in general multi-feeds category of issues tracked by https://github.com/NuGet/Home/issues/4949

[2017-07-17 23:32] anangaur commented on #4949
Another one https://github.com/NuGet/Home/issues/5607

[2017-07-17 23:39] rohit21agrawal commented on #4704
@bording couple things to note:
1) You can't use TargetsForTfmSpecificBuildOutput to add pdb files for your package (the non-symbols package) because we explicitly filter by extension types on this item group.
2) You are doing the write thing in your targets above, but it won't work for pdb files for the reason i mentioned above.
3) To add pdb files to your package, use the ```TargetsForTfmSpecifi

[2017-07-17 23:41] natemcmaster commented on #4704
@rohit21agrawal don't we also need to chain custom targets to something? What's your recommendation? `GenerateNuspecDependsOn` or `Before/AfterTargets`

[2017-07-17 23:42] rohit21agrawal commented on #4704
no, that is already taken care of by pack targets. the targets defined in the properties ```TargetsForTfmSpecificContentInPackage```  and ```TargetsForTfmSpecificBuildOutput``` are run before pack in the tfm-specific build.

[2017-07-17 23:57] bording commented on #4704
@rohit21agrawal Thanks, using `TargetsForTfmSpecificContentInPackage` instead seems to be working fine. I think I like using that one better anyway since it doesn't require the absolute path of the file.

Out of curiosity, what's the reason for the filter on `TargetsForTfmSpecificBuildOutput`? What values does it let through?

[2017-07-18 00:27] rohit21agrawal commented on #4704
@bording here is the list of output extensions it allows : https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/MSBuildProjectFactory.cs#L27

there are two lists , one for the normal package and one for the symbols package.

we are open to listening to user feedback if this comes in the way of your scenario - please feel free to open up an issue .

[2017-07-18 00:39] rohit21agrawal commented on #5607
CC: @mishra14

[2017-07-18 00:41] mishra14 commented on #5607
cc: @emgarten as this is a restore issue/design choice.

[2017-07-18 00:49] rohit21agrawal commented on #5609
CC: @rrelyea @DoRonMotter  for possible 15.3 candidate . please triage.

[2017-07-18 11:52] Sam13 opened #5611 "Feed priority when same package is available in multiple feeds"
Applies to all versions of `NuGet.exe` (v3.3.0 to 4.3.0 RC).

When a package with same id and version exists in different feeds I always assumed that the package source priority is taken from the order of package sources in the `NuGet.config`.

But that seems not to be true. As far as I understand the code in https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.PackageManagement/Pac

[2017-07-18 14:25] acinep commented on #4054
Is there any further discussion being had on this?  I am still seeing the issue in nuget 4.3.0.4 and

I have another repro here: https://github.com/acinep/nuget-pack-repro

`nuget pack ClassicLibrary -IncludeReferencedProjects`

`Unable to cast object of type 'System.String' to type 'NuGet.Frameworks.NuGet.Frameworks1048373.NuGetFramework'.`

[2017-07-18 17:14] natemcmaster commented on #5106
:bell: We're getting more reports of this from the ASP.NET Core Docker images too. cc @rrelyea  for triage.

[2017-07-18 18:26] emgarten commented on #5611
That is correct, there is no longer a priority for sources, the fastest one wins.

Packages are expected to be unique on the id and version, scenarios where feeds contain different variations of the same id/version are NOT supported.

We've looked at addressing this in the past, but currently there is no way to avoid collisions with other servers beyond using your private feeds.

[2017-07-18 18:28] emgarten commented on #5605
@mesuttalebi you can provide immutable content as part of your package for PackageReference projects using `contentFiles`.

http://blog.nuget.org/20160126/nuget-contentFiles-demystified.html

[2017-07-18 18:45] emgarten commented on #5607
This is by design, the option to ignore failing sources on restore exists to allow using only the available sources. Ignoring failing sources by default is dangerous since a source could go down and a restore could pass and end up with different packages.

For the add command I think having the same behavior as restore makes sense, it would be unexpected if add succeeded and then restore failed ri

[2017-07-18 18:51] anangaur commented on #5607
@emgarten The issue reported here is need for the **package to present on all the feeds** which IMO shouldn't be the case and if it is, then this is a bug

[2017-07-18 19:33] AArnott opened #5612 "StartBackgroundJobRunnerAsync throws NullReferenceException"
d15rel 26717.1

This line from SolutionRestoreWorker.cs:361 has the null dereference (`next` is null). This is the last line in the snippet below.
[code]

`_pendingRequests` is empty (so `TryTake` returns false), and `isAllProjectsNominated` is also false, so it doesn't `break;`, and instead proceeds to the last line which of course will throw in that case.

Callstack:

[code]

[2017-07-18 20:21] logankp opened #5613 "Feature: Consider adding ability to always get latest version on build/restore"
We would like the ability to be able to always get the latest version of a package on build (or restore) without having to manually update. Something like [floating versions](https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution#floating-versions) but for the actual package and not its dependencies.

This could be useful for developers in an enterprise setting with a large

[2017-07-18 21:13] rohit21agrawal commented on #5612
@AArnott what are the repro steps for actual scenario for this?

[2017-07-18 21:19] rohit21agrawal commented on #5612
CC: @jainaashish can you please take a look here as this is related to https://github.com/NuGet/NuGet.Client/commit/0267a34e8a7bd6e1dbb1f5b593edcb4b609de8b0

[2017-07-18 21:24] rohit21agrawal commented on #5604
@diverdan92  can you file this bug on nuget gallery instead since the  client is already doing the right thing?

[2017-07-18 21:26] #5604 closed, assigned to nobody

[2017-07-18 21:26] rohit21agrawal commented on #5604
Issue moved to [NuGet/NuGetGallery #4413](https://github.com/NuGet/NuGetGallery/issues/4413) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-18 21:29] #5567 closed, assigned to jainaashish

[2017-07-18 21:30] emgarten commented on #5613
Floating versions only work for the directly referenced packages, not the dependencies. Can you elaborate on how this would work differently?

[2017-07-18 21:42] logankp commented on #5613
I guess I misunderstood the documentation on this feature... It appears to only work with project.json and the new project files. I tried floating versions in packages.config and got an error therefore assuming the referenced documentation was referring to another scenario.

Perhaps update the issue to add support for floating versions to packages.config/VS2015 (unless I'm missing something there

[2017-07-18 22:11] ribamartins commented on #3042
Tks Bhavik1812. Works for me!

[2017-07-18 22:20] AArnott commented on #5612
@rohit21agrawal I was opening the https://github.com/microsoft/vs-mef repo with a debugger attached to VS (to catch another bug) and this NRE came up. The details of how to acquire and open this repo is [here](https://developercommunity.visualstudio.com/content/problem/81941/live-unit-testing-doesnt-build-run-tests-or-show-g.html).

[2017-07-18 23:35] dsplaisted commented on #5583
I think I've figured out what is causing this, and you should be able to workaround it for now by setting the `SetLinkMetadataAutomatically` property to `false` in your projects.

[2017-07-19 00:08] #5612 closed, assigned to jainaashish

[2017-07-19 01:24] anangaur commented on #5591
cc: @mishra14 @emgarten

Agree. Should have an additional bug for this if the same doesn't exist

[2017-07-19 01:33] jainaashish commented on #5519
Logged corresponding Project-System bug - https://github.com/dotnet/project-system/issues/2630

[2017-07-19 01:37] emgarten commented on #5613
There is no support for floating in packages.config. Is there any reason you can't move to PackageReference or project.json to get floating support?

[2017-07-19 01:39] emgarten commented on #5583
@dsplaisted is there an issue tracking the work needed for this? Is it going to be on the SDK side?

[2017-07-19 09:23] chm-tm commented on #5241
I worked around using [this gist to retrieve projects from sln in MSBuild](https://gist.github.com/jrkd/4b60d1cca342ef9b69f37c9bba3a1977).

[2017-07-19 10:21] Sam13 commented on #5611
Thanks @emgarten for the clarification.

So what about introducing an *OPTIONAL* priority for feeds to solve that problem?

NuGet.config might look like this (assumed that the smallest number is the highest priority):
[code]

The `PackageDownloader` needs to be adapted that he waits for the download with the highest priority if package sources have different priorities otherwise fastest wins (as i

[2017-07-19 10:23] mikkeljohnsen commented on #5583
@dsplaisted Thanks that works.

[2017-07-19 11:15] wasaczd opened #5614 "NuGet fails if environment variable "Version" is set"
## Details about Problem

NuGet product used : NuGet.exe
NuGet Version: 4.1.0.2450

I don't understand why NuGet reads environment variable "Version". I didn't find any information about it in NuGet documentation. Please see the sample project and batches below:

## Detailed repro steps so we can see the same problem
Project:
[code]
Batch:
[code]

After running the above batch, in "nuget.log" I se

[2017-07-19 12:20] magol commented on #1203
Many projects are using http://keepachangelog.com to keep the release logs. It would be amazing if nuget can parse out the release log for each version from a single changelog.md.

It is a number of different formats of changelogs, so maybe it must be a parameter that specify the format.

[2017-07-19 12:21] breyed commented on #5434
NuGet package restore is slow even for small solutions. With only two .NET Core projects in my solution, when the build system feels like doing a restore before compilation, it takes about two full seconds, even if nothing has changed. Considering that it only needs to check a handful of version numbers, that seems like about 1990 ms longer than it ought to take. It takes the snappiness out of bui

[2017-07-19 13:53] heebj commented on #5106
Not only nuget seems to be the problem. Also when running code inside a dotnet container it tries to access files in the not existing home directory of the running user:

System.UnauthorizedAccessException: Access to the path '/home/exchangePublic/.dotnet/corefx/cryptography/crls' is denied. ---> System.IO.IOException: Permission denied

[2017-07-19 13:59] dustincleveland commented on #1630
+1 I have a framework of libraries that are contained in one solution. I would like to publish NuGet packages to our private server whenever the solution is merged into our master branch. Only the NuGet packages with a newer version should be deployed. Right now, I will either have to swallow the return code, or implement a Powershell script instead of using built-in VSTS tasks.

Swallowing the re

[2017-07-19 14:19] logankp commented on #5613
I'd love to move to PackageReference or project.json but we're dealing with WinForms code on VS2015 and there seems to be no plan to use the newer project format any time soon.

[2017-07-19 15:32] forrestab commented on #5214
@emgarten, sorry this may be me being dense, but with so many versions to keep up with, do you mean dotnet core 2 preview 2?

[2017-07-19 16:21] dtivel opened #5615 "Copy package throttling broken on macOS"
PR https://github.com/NuGet/NuGet.Client/pull/1387 broke copy package throttling on macOS.

[2017-07-19 16:36] dtivel opened #5616 "Plugins: post-15.3 cleanup"
Cleanup tasks related to changes made to enable package download plugins.

- [ ] Rename `packageDependency` to `packageDownloader` in `NuGet.Commands.ProjectRestoreCommand.InstallPackageAsync(...)`](https://github.com/NuGet/NuGet.Client/blob/c002cda7fac86700b2f69bc9146e2abb74f1c5b0/src/NuGet.Core/NuGet.Commands/RestoreCommand/ProjectRestoreCommand.cs#L248)
- [ ] Move [`IThrottle`](https://github.c

[2017-07-19 17:04] ch53k opened #5617 "TT files included when excluded in nuspec files, but excluded when using -exclude"
NuGet product used: Nuget.exe CLI and VSTS Nuget Task
NuGet version: 4.1.0.2450

I have a project I'm trying to pack up, I generate a bunch of CS files using TT templates for database model definitions. These generated CS files get compiled into the final DLL so the TT files are not needed in the Nuget package. The project structure is simple with a single folder "Database" that contains some TT f

[2017-07-19 18:07] pamela032709 commented on #3320
I have the same issue over and over , no matter what project I tried to open.
it was working just fine last week , so I thought  it may be my project . then I started downloading other project or templates and I got the same issue.
is this a bug that once you find it you can get rid of it?
<Target Name="EnsureNuGetPackageBuildImports" BeforeTargets="PrepareForBuild">
    <PropertyGroup>
      <Err

[2017-07-19 18:10] pamela032709 commented on #3320
How did you fix it ? it is driving me crazy

[2017-07-19 18:33] emgarten commented on #5613
You can add `PackageReference` to a WinForms projects in VS 2017. In VS 2015 you can add a project.json file to get the same behavior.

[2017-07-19 18:37] logankp commented on #5613
That's really good to know, I'll play around with that. Thanks!

[2017-07-19 18:37] #5613 closed, assigned to nobody

[2017-07-19 18:46] #5615 closed, assigned to dtivel

[2017-07-19 18:48] emgarten commented on #5613
@logankp take a look at https://oren.codes/2016/02/08/project-json-all-the-things/ for more info on using project.json

[2017-07-19 18:53] emgarten commented on #5214
@forrestab yes, dotnet CLI 2.0.0-preview2

[2017-07-19 19:07] logankp commented on #5613
Seems to work, however the package manager UI doesn't seem to play nicely with floating versions:
![image](https://user-images.githubusercontent.com/5343074/28384731-555d6ac0-6c8b-11e7-90a1-02654ebdccf9.png)

Here is my project.json:
`{
  "dependencies": {
    "Dapper": "1.50.*",
    "vanWagenen.vWImpersonation": "1.0.*",
    "vanWagenen.vWSQLDataAccess": "1.0.*"
  },
  "frameworks": { "net451": {

[2017-07-19 19:41] jainaashish commented on #5325
@dsplaisted @livarcocc @ericstj @nguerrera We're picking this workitem now for 15.4 so can someone tell us what we need to check for here in order to figure out support for Net standard 2.0 for VS2015? and also the content for the error message?

[2017-07-19 19:42] jainaashish commented on #5568
Tracking it via #5325 since it has more details.

[2017-07-19 19:42] #5568 closed, assigned to jainaashish

[2017-07-19 19:44] jainaashish commented on #5188
Tracking it via #5325

[2017-07-19 19:44] #5188 closed, assigned to jainaashish

[2017-07-19 21:59] dtivel opened #5618 "Copy package exception handling broken"
PR https://github.com/NuGet/NuGet.Client/pull/1387 broke exception handling during copy package operations.  In short, the exception handling in [`SourceRepositoryDependencyProvider.GetPackageDownloaderAsync(...)`](https://github.com/NuGet/NuGet.Client/blob/c002cda7fac86700b2f69bc9146e2abb74f1c5b0/src/NuGet.Core/NuGet.Commands/RestoreCommand/SourceRepositoryDependencyProvider.cs#L383) was not carr

[2017-07-19 22:03] livarcocc opened #5619 "dotnet restore --no-cache --force completes without error with no internet connection"
_From @NickCraver on July 19, 2017 21:6_

This is with .NET Core 2.0 Preview 2 tooling. I'd expect `--no-cache` restores instructed to bypass cache to fail when no upstream sources are available...but that doesn't happen. Looking at procmon, it seems to be completely ignoring the `--no-cache` argument.

Here's what `dotnet restore --no-cache --force` registers during a run:
<img width="1126" alt="

[2017-07-19 22:03] livarcocc commented on #5619
_From @emgarten on July 19, 2017 21:53_

The global packages folder *(.nuget\packages)* is considered a **source** not a **cache**.

`--no-cache` avoids using the http cache, if however the packages are already in the global folder then restore will not go online in the first place.

`--force` will cause the project to restore even if it hasn't changed. This skips the noop feature that has been ad

[2017-07-19 22:07] NickCraver commented on #5619
FWIW chasing these issues as they're moved between repos for what appears to the user to be a `dotnet` CLI problem is *absolutely infuriating*. What I was typing on the original issue while it was being closed:

...this is pretty much the opposite of everything I've ever been told about `.nuget`. Many talks refer to it as the "local NuGet cache". Additionally, the current help says:
[code]
That, t

[2017-07-19 22:18] emgarten commented on #5619
Would you provide some examples of when this is needed? Are you reusing the same package id/versions?

The best way to bypass .nuget is to set the packages folder path so that the project or solution restores to its own folder and avoids the user wide folder.
`dotnet restore --packages <path to an empty folder>`

Can you explain what you expect restore to do with the global folder when `--no-cache

[2017-07-19 22:20] prosenba opened #5620 "I’m having issues with the https://www.nuget.org/packages/ExcelDataReader/"
I tried changing the version in the project file and packages.config but didn't help.

The version of the dll is 3.0.0.0 but nuget is looking for version 3.0.0
Unable to find version '3.0.0' of package 'ExcelDataReader'.
Unable to find version '3.0.0' of package 'ExcelDataReader.DataSet'.
Unexpected exit code 1 returned from tool NuGet.exe

Here’s the output of the packages.config
[code]

Project

[2017-07-19 22:21] terrajobst commented on #5619
I think the problem is:

* We're effectively using the `.nuget` folder as a cache
* However, it's implemented as a package source, which means our tooling thinks of them as inputs, rather than cache locations

[2017-07-19 22:24] rohit21agrawal commented on #5620
@prosenba can you attach a repro project? That will help speed up investigation. Also provide details of what version of Visual Studio you are using.

[2017-07-19 22:30] NickCraver commented on #5619
Sure! Right now I'm testing restore times. If we get a bad cache somehow on a build server we want to be able to bypass it **without nuking the cache**. `--packages <path>` works, but is rather janky as a workaround. Think of instructions to a user: "create a random folder, point at it"

I'd expect it to do *nothing* with the global folder at all.

I was referring to the proposed workaround: `dotn

[2017-07-19 22:59] zhili1208 commented on #5477
@mikeharder  how common is this scenario?  Creating the nuget.config with no package sources is a bug which was fixed in 3.4, I don't think nuget should take a fix (basically a hack) to fix old version of nuget.

nuget have a hack which is for empty nuget.config, if there is no package source in nuget.config, and nuget never add nuget.org to nuget.config (tracking by a trk file), then add nuget.or

[2017-07-19 23:05] mikeharder commented on #5477
I don't know how common this is for customers.  I hit it twice without trying as described above.  I think the CLI may have stopped adding `CliFallbackFolder` to `nuget.config`.  If so, this issue may be much less common.

[2017-07-19 23:31] zhili1208 commented on #5477
If CLI stopped adding CLIFallbackFolder to nuget.config, the nuget hack above will cover the empty nuget.config case. Then this will be an edge case. Close it as won't fix for now. Feel free to reopen it if there are more hits.

[2017-07-19 23:31] #5477 closed, assigned to zhili1208

[2017-07-20 01:05] kingerja opened #5621 "Ambiguous project name '[project]'."
## Details about Problem

NuGet product used (NuGet.exe):

NuGet version (4.1.0.2450):

OS version (Win10 (15063.447)):

## Detailed repro steps so we can see the same problem
(see attached zip for repro projects and detailed logs)

1. Create a file d:\tmp\repro\foo.proj
&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;Project Sdk="Microsoft.NET.Sdk"&gt;
  &lt;ItemGroup&gt;
    &lt;PackageReferenc

[2017-07-20 01:31] lukemcgregor commented on #1630
Just on a super irrelevant side note. I was happy to see that appveyor does all of this for you with magic when you publish a nuget package via their stuff. That being said I still want to be able to do this much more easily via scripts.

[2017-07-20 05:35] emgarten commented on #5620
@prosenba use Visual Studio to install and update packages. NuGet.exe does not support installing packages to a project, and update is very limited in what it can modify in the project.

[2017-07-20 10:30] SimonGustavsson commented on #2834
@caioproiete In my case, I have a .NET application where I pull in a package I've made that includes a .NET wrapper around a native API. So the package contains the native DLL too (Which I've put in the content folder, because it *can't* be added as a reference to a .NET project. It's just content that gets copied to the bin directory when the application builds). Seems like a reasonable thing to

[2017-07-20 15:00] theCuriousOne commented on #4626
I came to the same problem and it seems to be miraculously fix  when I add
`<ReferenceOutputAssembly></ReferenceOutputAssembly>`
inside the .csproj file for which assembly is causing the error.

[2017-07-20 15:01] theCuriousOne commented on #4277
I came to the same problem and it seems to be miraculously fix  when I add
`<ReferenceOutputAssembly></ReferenceOutputAssembly>`
inside the .csproj file for which assembly is causing the error.

[2017-07-20 15:26] ygeelen-tb commented on #4953
@alpaix Can you confirm whether all nuget clients (nuget.exe, dotnet.exe, Visual Studio,...) use Basic HTTP Authentication for authenticating?
We may know a workaround: to use a proxy server to automatically attach the correct credentials to the request depending on the incoming URL. Do you think this could work?

[2017-07-20 15:45] ajcvickers commented on #5557
@alpaix Have the fixes here made it into builds of VS yet? Do they also need to go into the SDK?

[2017-07-20 15:53] alpaix commented on #5557
Will keep it open as long as other fix is in-flight.
@ajcvickers Visual Studio insertion is pending escrow approval. The fix impacts Visual Studio extension only. Regardless, we'll synchronize VS, SDK and CLI insertions.

[2017-07-20 15:55] ajcvickers commented on #5557
Thanks @alpaix

[2017-07-20 16:13] prosenba commented on #5620
Thanks for the comments, I'm working on visual studio 2015 enterprise. I'm confused about this statement  "NuGet.exe does not support installing packages to a project"
This is an asp.net project,
Here's my understanding of how a nuget package works, correct me if I'm wrong
pull up the nuget console, at the prompt
Install-Package ExcelDataReader
nuget installs the new dll in the reference folder,
i

[2017-07-20 16:59] nkolev92 opened #5622 "ATF/PTF invalid combination error"
We need to reenable this fix.
https://github.com/NuGet/NuGet.Client/pull/1495
which was later reverted here:
https://github.com/NuGet/NuGet.Client/pull/1507

Original intent of the fix.
[code]

The reason why this fix was removed at first is because we couldn't insert into the CLI/SDK, there were inconsistencies in the reading of of the assets file which caused the first restore to fail.

https://

[2017-07-20 17:16] mishra14 commented on #5106
@emgarten can you take a peek?

[2017-07-20 17:18] mishra14 commented on #5316
pinging @rohit21agrawal

[2017-07-20 18:19] livarcocc opened #5623 "dotnet restore does not restore older packages"
_From @nalla on July 20, 2017 8:32_

## Steps to reproduce
[code]

## Expected  behavior
Restore completes

## Actual behavior
Restore fails, complaining about incompatible framework versions (Possible due to the file layout of the package). But the same package can be used in the old `packages.config` way without problems.
[code]

## Environment data
`dotnet --info` output:
[code]

_Copied from o

[2017-07-20 18:19] livarcocc commented on #5623
_From @davidfowl on July 20, 2017 9:35_

@emgarten Older versions of nuget used to infer a number without a TFM as .NET Framework (super bad). Do you know if this is still supported?

[2017-07-20 18:20] karann-msft opened #5624 "Inaccurate message during restore for preventing restore during build"
We currently say

The message should be say

![image](https://user-images.githubusercontent.com/16904420/28432590-3ff4d7a6-6d3d-11e7-93df-0aa5fcf9d701.png)

Does unchecking that box do anything else but what it says it does **during build**? If not, we should update the checkbox text.

[2017-07-20 20:53] emgarten commented on #5623
Commonly used numeric folder names are still supported, but they must be in a list of allowed frameworks so that new packages have to switch to support newer frameworks.

It looks like Common.Logging is using `1.0` which isn't in the allowed list. I know that the original allow list was created based on nuget.org packages, my guess is that `1.0` is probably only used in this package and didn't mak

[2017-07-20 20:53] #5623 closed, assigned to nobody

[2017-07-20 21:52] emgarten commented on #5596
Dupes will be removed as part of aggregating. I'll leave the same path in both sources and fallback folders, there might be some scenarios where it needs to be in both.

[2017-07-20 22:24] #5618 closed, assigned to dtivel

[2017-07-20 22:39] jainaashish commented on #5587
So, we did some investigation on perf watson data post our batch api change to improve AddReference scenario. And there are still UI delays for the same scenario. And after some investigation, we figured out that it is Project-System which does a ResolveReference DT build for each reference even in batch mode.

Logged a tracking bug in their database - https://github.com/dotnet/project-system/issu

[2017-07-20 22:39] #5587 closed, assigned to jainaashish

[2017-07-21 00:16] alpaix opened #5625 "Provide diagnostics info for init scripts execution"
### Problem
Init scripts execution is hard to diagnose for when it ran and how many packages processed.
This makes it impossible to write reliable end-to-end tests for the key customer scenarios.

### Solution
Provide an event hub where such diagnose events can be reported.

[2017-07-21 01:15] alpaix opened #5626 "PMC window should close on Ctrl+Esc"
Package management console should handle <kbd>Ctrl+Esc</kbd> key combination and kill the instance. After that it should be possible to restart it via Tools menu. Instead, Tools -> NuGet Package Manager -> Package Manager Console menu appears to be disabled. This leads to poor user experience as it requires restarting Visual Studio to restore PMC window.

[2017-07-21 01:28] emgarten commented on #5622
Moving to 4.4, this will need a different fix since the file format will have shipped in 4.3.

[2017-07-21 01:29] emgarten commented on #5529
This may also be fixed by: https://github.com/NuGet/Home/issues/5596

[2017-07-21 01:29] #5529 closed, assigned to emgarten

[2017-07-21 01:31] emgarten commented on #5583
This issue was moved to dotnet/sdk#1434

[2017-07-21 01:31] #5583 closed, assigned to emgarten

[2017-07-21 01:33] #5493 closed, assigned to xavierdecoster

[2017-07-21 01:34] #5242 closed, assigned to nobody

[2017-07-21 01:34] #4470 closed, assigned to karann-msft

[2017-07-21 01:36] emgarten commented on #5010
@shishirx34 is there any work needed for this?

[2017-07-21 03:51] emgarten commented on #5106
These options were discussed as part of https://github.com/NuGet/Home/issues/4671 which is now fixed in CLI 2.0.0. NuGet fails with a message telling the user to set *HOME*. Using the local directory seems unexpected and potentially problematic so that was avoided.

The way restore reads settings was recently changed, are you still able to repro this in CLI 2.0.0-preview2?

[2017-07-21 08:00] OliverRC commented on #1909
I think one thing that makes this very slow is the response time from the Nuget.org feed. This is just a snippet from a `-verbose` update-package command.

`  OK https://api.nuget.org/v3/registration2-gz/runtime.fedora.24-x64.runtime.native.system.security.cryptography/index.json 5095ms
  OK https://api.nuget.org/v3/registration2-gz/microsoft.bcl/index.json 6591ms
  OK https://api.nuget.org/v3/reg

[2017-07-21 08:17] OliverRC commented on #1909
This is NOT closed!

[2017-07-21 11:06] ArtOfSettling opened #5627 "nuget pack does not work as expected on a fresh install of Linux."
This is very similar to the following bug (https://github.com/NuGet/Home/issues/1946), NuGet seems to have issues on Linux based platforms. I've filed a bug with Xamarin, as you stated in the previous bug, this was a problem with mono.

That bug is here : https://bugzilla.xamarin.com/show_bug.cgi?id=52797 However, they've stated the issue lies in your hands. Thankfully, it seems they're also propo

[2017-07-21 17:03] dtivel opened #5628 "Flaky test"
`NuGet.Protocol.Plugins.Tests.PluginResourceProviderTests.Reinitialize_SetsNewReader()` is a flaky test because it relies on a static property not being updated by concurrently executing tests from other test collections.

[code]

[2017-07-21 17:05] danjohnso commented on #4054
I am also seeing this behavior with our legacy projects.  Blocks us from moving our library code to .NET standard as preparation for future upgrades.

[2017-07-21 17:46] shishirx34 commented on #5010
@emgarten - I believe the only related work remaining is to add the sync support in MSBuild Restore task for TFM and TPMinV, with regards to your comment on https://github.com/NuGet/NuGet.Client/pull/1395 PR. Not sure if it was done after my handoff, @rrelyea might have more information on it.

[2017-07-21 18:14] czb182 opened #5629 "nuget install will change referenced project to nuget reference"
VS2017 15.2

Nuget Packages built with 3.5.0

Setup
Solution 1
 - Projects A
    - Has nuspec, gets published as nuget package 1A
 - Project B
    - project reference to A
    - has nuspec, gets published as nuget package 1B
       - uses -IncludedReferencedProjects, so that nuget has dependency on A via project reference

Solution 2
 - Project A
    - Nuget Reference to 1A
    - Has nuspec, gets

[2017-07-21 18:27] #5628 closed, assigned to dtivel

[2017-07-21 23:06] emgarten commented on #5580
Issues have been logged for top hitters

[2017-07-21 23:06] #5580 closed, assigned to emgarten

[2017-07-21 23:21] emgarten commented on #5614
MSBuild treats env vars as properties which is where this is coming from. NuGet.exe shells out to msbuild and gives the same behavior as what you would see if you ran msbuild yourself.

[2017-07-21 23:21] #5614 closed, assigned to nobody

[2017-07-21 23:29] emgarten commented on #5010
I don't see any changes to the restore target around this. This would mean that UWP projects would work in Visual Studio but would fail from command line builds and from nuget.exe on the CI machines.

Potentially this could be fixed only for nuget.exe after 15.3 and before 4.3.0 nuget.exe is shipped. `MSBuild /t:restore` would not work for UWP, but that would be less common than using nuget.exe fo

[2017-07-22 00:30] emgarten commented on #5010
Moving to 4.4 since this scenario is limited to CI + UWP. Newer projects using PackageReference will not hit this issue.

[2017-07-22 00:48] #5596 closed, assigned to emgarten

[2017-07-22 17:07] sameerfairgoogl commented on #962
@m-henderson installed the nuget package for it, most likely this one if I remember correctly https://www.nuget.org/packages/Microsoft.EntityFrameworkCore

[2017-07-22 18:00] sharwell opened #5630 "Failed to restore packages after switch to the new project system"
## Details about Problem

NuGet product used: CLI

NuGet version (x.x.x.xxx): Unknown (AppVeyor image Visual Studio 2017)

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): Visual Studio 2017, MSBuild 15.1.1012.6693

OS version (i.e. win10 v1607 (14393.321)): AppVeyor image

Worked before? If so, with which NuGet version: Yes, worked with **packages.config**.

## Detailed re

[2017-07-22 18:03] sharwell opened #5631 ""Conflicting requests" error is confusing, does not lead to a solution"
This is a follow-up to #5630. The following is an error message observed during the build. I'm filing this as a separate issue due to the severity of this specific situation.

Given this error message, I was unable to proceed without expert assistance and/or trial and error approaches.

[2017-07-23 05:54] godrose opened #5632 "Configuring framework selection"
have the following setup:

A nuget package with two folders: net45 - including assemblies AssemblyOne.dll and AssemblyTwo.dll netstandard1.3 - including assemblies AssemblyOne.dll and AssemblyTwo.dll Of course these are different files with the same name.

I install the package into a project targeting 4.6.1 version of .NET Framework.

How can I make sure the assemblies from the netstandard1.3 are

[2017-07-23 18:18] anangaur commented on #5631
cc: @emgarten the warning just lists the same path 3 times. May be there is a conflict that could not be resolved through 3 different paths but output string is incorrectly framed?

[2017-07-23 20:07] #5570 closed, assigned to emgarten

[2017-07-23 22:47] #5557 closed, assigned to alpaix

[2017-07-24 02:39] StingyJack commented on #738
The only solution that i've found that works when folks have their package caches in different places is to run `update-package -reinstall` for the project or vs solution.

[2017-07-24 07:34] godrose commented on #5632
@alpaix

[2017-07-24 07:49] ashish005 commented on #5358
Hi Guys,
Followed the instruction provided by microsoft and it is all looks cool!! :)

1. Install pre-requisites - Fixed my issues for the same
https://www.microsoft.com/net/core#macos

[2017-07-24 11:43] muhammetaliozturk commented on #4190
Still not working none of the forementioned methods for me.

[2017-07-24 15:05] andmos commented on #2775
Got the same case as @knocte now. A way to pick latest stable with a override flag for prerelease would be nice.

[2017-07-24 15:09] knocte commented on #2775
@andmos in case it's useful to you, I'm now using two target files from here (https://github.com/kzu/NuGet.Restore) which make the build of the solution download nuget from here (https://dist.nuget.org/win-x86-commandline/latest/nuget.exe) which is version 4.1.0.2450 and works for me in Ubuntu Linux 16.04 (with Mono 4.2.1, that comes from the distro).

[2017-07-24 15:12] andmos commented on #2775
Nice! That might solve some of my problems.

[2017-07-24 16:10] alpaix commented on #5632
What package management style does your project facilitate? `package.config`, `project.json` or package reference?

[2017-07-24 16:40] jaredpar opened #5633 "NuGet issuing new warnings via MSBuild"
Recently I installed a preview build of VS2017: 26621.2.d15rel. This build is now issuing a number of new warnings when building / restoring Roslyn.sln:

[code]

Why are these warnings appearing in MSBuild but not NuGet.exe (version 4.1.0)?

This was fairly surprising and it's blocking our ability to upgrade builds at the moment. Our build fails on warnings (warn as error) and these are new warnin

[2017-07-24 16:53] mishra14 commented on #5561
I have documented the potential solutions discussed in a [wiki doc](https://github.com/NuGet/Home/wiki/NuGet-Localization-Design).

[2017-07-24 19:08] nkolev92 commented on #5543
Addressed in
https://github.com/NuGet/NuGet.Client/pull/1532 and
https://github.com/NuGet/NuGet.Client/pull/1538

[2017-07-24 19:08] #5543 closed, assigned to nobody

[2017-07-24 19:29] nkolev92 commented on #5566
Tests done.
No new issues found.

[2017-07-24 19:29] #5566 closed, assigned to nkolev92

[2017-07-24 19:37] nkolev92 commented on #5633
The preview build that you installed is 15.3, Preview 3.
When you use msbuild there it will pick up the NuGet bits that came with VS.
The coded NuGet warnings and errors are part of the 15.3 release which is basically the NuGet.exe 4.3 release.
https://github.com/NuGet/Home/wiki/Warnings-and-Errors-Combined-Specs

The recommended thing here would be to upgrade to the latest NuGet.exe.
https://dist

[2017-07-24 19:37] #5633 closed, assigned to nobody

[2017-07-24 19:42] kingerja opened #5634 "NuGet restore fails to restore package if a nested project reference has the same name as the package ID."
## Details about Problem

NuGet product used (NuGet.exe ):

NuGet version (4.1.0.2450):

OS version (Win10 (15063.447)):

## Detailed repro steps so we can see the same problem

1.  Create msbuild project file that takes a project reference on a msbuild project file with the same name as a nuget package id that has a packagereference.
Example a project file that has:
&lt;ProjectReference Include="

[2017-07-24 20:03] sharwell commented on #3840
@emgarten This change broke packages which assumed the packages cache would be written with the *actual* case specified for package IDs. One clear example would be the Microsoft.Net.RoslynDiagnostics package.

[2017-07-24 20:28] emgarten commented on #5634
Packages are Projects are treated the same to ensure that when you pack your projects into nupkgs it will all work the same.

You can work around this by renaming Newtonsoft.json.csproj to something else, or specifying `<PackageId>differentName</PackageId>` in Newtonsoft.json.csproj

[2017-07-24 20:28] #5634 closed, assigned to nobody

[2017-07-24 20:37] emgarten commented on #3840
@sharwell `Microsoft.Net.RoslynDiagnostics` appears to be broken on many levels and should be fixed. It assumes the case, package folder format (this would be different between packages.config and PackageReference), it also assumes that dependencies are installed to the same folder which may not be true with fallback folders where not all packages are installed to the global folder. For this reaso

[2017-07-24 20:57] pspill opened #5635 "NuGet.exe documentation should clarify that "nuget restore <packages.config> requires the -PackagesDirectory or -SolutionDirectory parameter"
In all versions of nuget.exe, "nuget.exe restore <packages.config>" requires the use of the -PackagesDirectory or -SolutionDirectory parameter or an error will occur.  This should be clarified in the documentation for the restore command.

Note that install does not have the same restriction -- it will assume a local "packages" folder no output folder is supplied.

[2017-07-24 21:40] jaredpar commented on #5633
Thanks for the explanation.

How could I find out about these warnings in advance? Essentially not get surprised, and have portions of our team blocked on them, when we upgrade to a new build. It's very time consuming to have a mini-fire drill to fix a bunch of warnings we weren't expecting here. In this case though it seems like they're planned hence probably could have found out a bit this soone

[2017-07-24 21:51] nkolev92 opened #5636 "Triage VS Feedback"
Triage VS Feedback issues

[2017-07-24 21:55] kingerja commented on #5634
As this is a constraint introduced by nuGet shouldn't some warning or error be generated instead of silently doing unexpected behavior?

[2017-07-24 22:00] emgarten commented on #5633
Good question, for the 4.3.0 release NuGet did a lot of work on warnings and errors. I'm not sure how common this will be going forward, but it should be in the release notes to avoid surprises.

@anangaur can we start calling out new warnings and errors in the release notes, including for previews?

[2017-07-24 22:03] emgarten commented on #5634
Yes it should, that work is tracked here https://github.com/NuGet/Home/issues/3612

[2017-07-24 22:06] anangaur commented on #5633
We have documented the 4.3.0 (PREVIEW) warnings and errors with PackageReference based projects. The reference to these errors/warnings can be found here: https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings

If there are more previews for VS 2017 version 15.3, we can definitely link this reference from the release notes.

[2017-07-24 22:10] sharwell commented on #3840
@emgarten You only asked for an example. I didn't (and wouldn't) claim that the example was well-written, yet 1) it exists, 2) projects depended on it, and 3) a change in NuGet broke these projects.

NuGet should not be performing normalization of package IDs to account for case-sensitive file systems. As a user, I expect the client to be fully case-preserving, thus any bug due to a deviation in c

[2017-07-24 22:17] sharwell opened #5637 "NuGet does not preserve package ID during restore"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version (x.x.x.xxx): 4.1.0.0

Worked before? If so, with which NuGet version: It's very hard to tell. Some packages seem to be correct, while others are not.

### Detailed repro steps so we can see the same problem

1. Create a package with a package ID which contains a character in the range `[A-Z]`
2. Restore the package under the ne

[2017-07-24 22:41] srivatsn opened #5638 "Conditionally excluding package"
_From @karthiknadig on June 9, 2017 21:27_

When I try to build my project in linux I run into this error:
[code]
The package is needed on windows but not on linux.

_Copied from original issue: dotnet/project-system#2417_

[2017-07-24 22:53] #3840 closed, assigned to nobody

[2017-07-24 22:55] livarcocc opened #5639 "bin and obj folders keep coming back"
_From @Petermarcu on July 24, 2017 18:10_

## Steps to reproduce
`dotnet build`
Have your project open in VS.
Open the folder for your project in explorer.
delete the bin and obj folder.

## Expected  behavior
The folder are gone

## Actual behavior
They come back. The bin folder is empty and the obj folder has assembly info and .cache files.
Delete again and they are gone.

## Environment data
`d

[2017-07-24 22:55] livarcocc commented on #5639
@Petermarcu please, move this issue to the project-system or Nuget. This happens because VS will restore the project once it seens it does not have a project.assets.json.

[2017-07-24 22:55] livarcocc commented on #5639
Moving this to Nuget, since I believe this happens because of automatic restore in VS.

[2017-07-24 23:20] emgarten commented on #5637
NuGet package ids are case insensitive, both locally and on remote feeds.

This was tried in early previews of NETCore and was changed to case insensitive behavior after much negative feedback and confusion.

Originally for NETCore projects NuGet did try to preserve case, however after scanning through packages on nuget.org it was found that a non-trivial number of packages contained inconsistent

[2017-07-24 23:31] sharwell commented on #5637
Why not implement the case correction during the restore process, with a warning when a `<PackageReference>` is encountered that needed to be case-corrected during restore? This allows packages to be the source of truth regarding their own ID, while remaining tolerant to incorrect references.

[2017-07-24 23:36] sharwell commented on #5639
~~@livarcocc~~ @Petermarcu It seems that the current behavior is close to ideal in this regard. Visual Studio's functionality is substantially degraded prior to the resolution of packages, and NuGet information is not the only information that ends up generated (especially in the intermediate build directory, **obj\\**). The critical piece of functionality is the IDE and NuGet do not lock any file

[2017-07-24 23:39] emgarten commented on #5637
1. Slower restore performance, checking if a package already exists during a noop restore becomes scanning every directory for possible cases of ids and versions  vs a file.exists
1. Versions of the same id are put in different folders on case sensitive file systems if the id changed case between versions
1. Id folder uses the case of the first version installed on case insensitive file systems
1.

[2017-07-24 23:57] sharwell commented on #5637
Assuming the restore is based off the information in **project.assets.json**, this shouldn't end up the case. The assets file contains the finally-resolved dependencies using the casing declared in the package, not the casing that appears on disk (for either the `<PackageReference>` or the current form in the cache). Avoiding the case manipulation would actually *improve* restore performance by av

[2017-07-25 00:12] emgarten commented on #5637
project.assets.json is the output, not the input. In the most basic scenario for example, a package cannot be put in place until after it has already been downloaded and the nuspec read. Only then can restore know the truth about what the package id is and place it where it needs to go.

The most common operation in NuGet is finding all packages by id and getting the full set, which includes all c

[2017-07-25 00:13] karann-msft opened #5640 "[DesignConsistency] Download icon/button only appears on hover."
Download icon/button only appears on hover.

dw> this is potentially an accessibility bug as well

![image](https://user-images.githubusercontent.com/16904420/28550070-63e1cb34-7093-11e7-9bfd-b3c21cfc0649.png)

[OneNote Link](https://microsoft.sharepoint.com/teams/DD_DevDivUX/UXprivate/_layouts/OneNote.aspx?id=%2Fteams%2FDD_DevDivUX%2FUXprivate%2FUX%20Guidelines%2FDD%20UX%20Guidelines%20Notebook&w

[2017-07-25 00:18] karann-msft opened #5641 "[DesignConsistency] Confusing message when adding a NuGet package"
Messaging seems slightly confusing in this dialog. Title is "Preview" but the title in the dialog is "Review Changes" and the status shows "Installing". Output window got focus but nothing appeared there until OK was pressed.

It's unclear if anything has happened yet

![image](https://user-images.githubusercontent.com/16904420/28550177-0eb07524-7094-11e7-9346-49c618856b23.png)

[OneNote Link](htt

[2017-07-25 00:19] emgarten commented on #5639
Restore here is likely triggered by the project system watching *project.assets.json* and requesting a restore when the file is removed. NuGet itself does not watch these files, it only restores on demand.

To prevent this behavior you can turn auto restore off in Visual Studio.

![image](https://user-images.githubusercontent.com/6381138/28550201-2d8a2648-7094-11e7-85b7-80c6f2f46e31.png)

[2017-07-25 00:19] nkolev92 commented on #5501
Feedback ticket 463600 also raised this concern.

[2017-07-25 00:23] emgarten commented on #5638
@karthiknadig do you have have credentials for this feed in your nuget.config file using clear text? Encrypted credentials are not supported on linux, and VSTS does not have a credential provider for linux yet either.

[2017-07-25 00:46] karann-msft opened #5642 "[DesignConsistency] NuGet Installation status text doesn’t look correct on dark theme currently."
![image](https://user-images.githubusercontent.com/16904420/28550725-eafbf6e0-7097-11e7-961b-1da22270430e.png)

[2017-07-25 00:54] nkolev92 opened #5643 "Add ability to ignore failed sources in VS"
Issue motivated by https://developercommunity.visualstudio.com/content/problem/78218/nuget-systemaggregateexception.html

We currently have a gap where in NuGet.exe you can ignore failed sources while in Visual Studio you can't.
This might be a good candidate to align among the clients.

In addition, this feature as currently working is not factored in the no-op which means this is a potential inc

[2017-07-25 00:55] nkolev92 opened #5644 "Errors and Warnings - bad error when a source in unavailable."
//cc
@mishra14 @emgarten

[2017-07-25 01:54] davkean opened #5645 "Projects having netcoreapp1.1;net46 targets don't restore at all"
_From @abpiskunov on July 24, 2017 23:50_

1. Create a Web App netcoreapp1.1
2. wait for restore
3. edit csproj and add net46 target (don't forget to change element name to TargetFrameworks)
4. Save and reload project

Actual result:

No auto restore happening, right click on Solution node and clicking "Restore Nuget Packages" dpes nothing

![image](https://user-images.githubusercontent.com/159209

[2017-07-25 01:54] davkean commented on #5645
_From @abpiskunov on July 24, 2017 23:50_

Also notice that no resolved references sent for anything under .NetFramework 4.6...

[2017-07-25 01:54] davkean commented on #5645
It thought this might be different: https://github.com/dotnet/project-system/issues/2658 but it's probably the same thing. I'm guessing the code that joins the configured projects subscriptions together is causing this and preventing us from notifying NuGet of the changes.

[2017-07-25 01:54] davkean commented on #5645
This looks to be NuGet bug, this is throwing InvalidOperationException:

[code]

[2017-07-25 03:39] emgarten commented on #5645
This has been fixed as part of https://github.com/NuGet/Home/issues/5529

Here netcoreapp1.1 adds a source but net46 does not, the result is a mismatch between TFMs.

[2017-07-25 03:40] #5645 closed, assigned to nobody

[2017-07-25 03:43] davkean commented on #5645
Which build was this fixed in? I'm not seeing it fixed in Version 15.3.0 Preview 5.0 [26721.2.d15rel]

[2017-07-25 03:49] Petermarcu commented on #5639
The thing I found most odd is that deleting it once causes it to come back. Delete it a second time and it stays gone. Is something about the first delete triggering an up to date check and a rebuild where the second time its not?

[2017-07-25 04:05] emgarten commented on #5645
This change hasn't gone into d15rel yet, there is a PR out for the insertion and it will hopefully be in soon.

It was fixed in NuGet as part of: https://github.com/NuGet/NuGet.Client/pull/1568

[2017-07-25 07:17] afficionaddo commented on #5595
Thanks for replying @emgarten.

-Coach.Business.Components is class library in my asp.net project which I use.
-Also I tried using the latest Nuget.Exe & pasted it into .nuget folder in solution. But the errors are still there.

Unable to make any headway.

[2017-07-25 11:46] sharwell commented on #5639
@Petermarcu That may actually be a bug (though I'm not sure where). I would expect a delay, but eventually they should come back as long as the IDE is open and configured to restore packages.

[2017-07-25 12:39] godrose commented on #5632
package.config

[2017-07-25 21:26] emgarten opened #5646 "121.3 - Justin- Support requests"

[2017-07-25 21:49] emgarten commented on #5639
@sharwell any ideas where it is stopping? NuGet should be relying on the .cache file to determine if restore should be skipped, unless it is hitting errors from the missing file after the project system requests another restore.

[2017-07-25 21:54] jainaashish commented on #5578
Completed.

[2017-07-25 21:54] #5578 closed, assigned to jainaashish

[2017-07-25 21:55] jainaashish opened #5647 "NuGet Restore Manager Package adds 23 seconds to 95th percentile of the solution load duration"
Internal bug# 402184

[2017-07-25 22:16] rainersigwald commented on #5609
Note: on my machine the second project creation failure was almost silent; it only manifested as an error in VS's status bar. That mislead me into thinking this didn't repro.

I've been looking at this with @mishra14. We believe that it's related to the new [GetFileDependsOnNETStandard](https://github.com/dotnet/sdk/blob/98ea6b2a1701ee9e2e3dd8122c77d5a2adcc5bb7/src/Tasks/Microsoft.NET.Build.Extens

[2017-07-25 22:25] rainersigwald commented on #5609
Opened https://github.com/dotnet/sdk/issues/1453 to track the fix at what I believe is its root cause.

[2017-07-25 22:26] mishra14 commented on #5609
closing in the favor of the sdk bug.

[2017-07-25 22:26] #5609 closed, assigned to mishra14

[2017-07-26 00:51] BobFrankston commented on #1836
This is not a schema problem as such because it only happens if the file happens to be open. This is like only reporting errors in C# files that happen to be open rather than any errors in the project. This is why I consider such messages as a spurious byproduct of search opening up the XML file.

(Would be nice if the standard search had an option to not search such files)

[2017-07-26 04:18] emgarten commented on #5638
@karthiknadig closing this due to lack of details here. Please ping this issue if clear text credentials do not solve your issue.

[2017-07-26 04:18] #5638 closed, assigned to nobody

[2017-07-26 04:18] #5637 closed, assigned to nobody

[2017-07-26 04:23] emgarten commented on #5632
For packages.config you can edit your csproj and change the dll reference path.

Desktop frameworks prefer desktop frameworks over cross-platform frameworks since they are similar in API surface area.

As the package author if the netstandard1.3 assembly contains additional APIs not available in net45 then you will need to add a lib\net461 folder to the package so that it is selected for net461 pr

[2017-07-26 05:10] emgarten commented on #5620
@prosenba `Install-Package` is a powershell console command which is part of Visual Studio, so it looks like you are doing this correctly. NuGet.exe is a different tool which is not part of Visual Studio, it does not have the command you are mentioning.

I'm not clear on the repro steps here, would you provide additional details containing your exact steps?

Note, modifying packages.config is not

[2017-07-26 05:19] emgarten commented on #5630
I took a look at the repro, I see that the project is referencing a package with the same name and the dependency package is actually overriding the project and causing all sorts of confusion for the resulting dependency graph.

Restore should fail with a circular dependency error instead of going on to try to resolve this graph.

The conflict errors here can be ignored, they aren't the real probl

[2017-07-26 05:25] emgarten commented on #5631
After debugging https://github.com/NuGet/Home/issues/5630 I found the project is in a bad state when it fails to stop resolving during a circular dependency. This is causing the nonsensical conflict messages where all paths are the same.

Deduping this out in favor of the original root cause in https://github.com/NuGet/Home/issues/5630

[2017-07-26 05:25] #5631 closed, assigned to nobody

[2017-07-26 05:31] emgarten commented on #5621
Each node in the dependency graph must have a unique id. In this case the graph is:
`Foo -> Foo -> NUnit`

If these projects were packed and then consumed by another project it would be:
`MyProject -> Foo -> Foo -> NUnit`

This has an obvious circular dependency. It is less obvious in the first example but it works the same way, the root project itself is part of the graph and not special cased. T

[2017-07-26 05:44] emgarten commented on #5619
I agree on better messaging. For this repo which covers the restore part of this I don't see any actionable work here. I'm going to close this issue unless there is further input on that.

[2017-07-26 05:45] #5621 closed, assigned to nobody

[2017-07-26 05:50] emgarten commented on #5617
Is there a reason for the `**` before `-exclude`?

[2017-07-26 05:56] emgarten commented on #5611
@Sam13 thanks for the suggestion, adding a priority would need to be respected for all places where multiple sources are used including for querying for package metadata to ensure that the right package was found. At this time I don't see this fitting into the current client plans which are moving away from ordered sources. My guidance on this is to avoid having different packages with the same id

[2017-07-26 05:56] #5611 closed, assigned to nobody

[2017-07-26 05:59] emgarten commented on #5607
@trondhindenes do you have a repro project and feeds that demonstrate this?

A package only needs to be in a single feed, but all feeds need to be available for restore.

[2017-07-26 06:02] emgarten commented on #5606
@WilliamABradley would you share the list of files in your nupkg?

The runtime assembly check is done by verifying that each assembly file name under `ref/` is found under a `lib/` or `runtimes/` folder. Do your assemblies keep the same name between these folders?

[2017-07-26 06:03] #5605 closed, assigned to nobody

[2017-07-26 06:04] WilliamABradley commented on #5606
@emgarten
The XML above is directly from my Nuspec.
The ref assemblies are a copy of the x86 Assemblies, run through CorFlags.exe.

[2017-07-26 06:05] emgarten commented on #5598
Dupe of https://github.com/NuGet/Home/issues/3101

[2017-07-26 06:05] #5598 closed, assigned to nobody

[2017-07-26 06:06] emgarten commented on #5599
@shaunryan would you provide additional repro steps for this?

How did you set this?

[2017-07-26 06:09] emgarten commented on #5595
@afficionaddo this looks like the .NET Framework is rejecting the connection, possibly due to an unsupport SSL protocol. Are you able to repro this with nuget.org or other types of sources? If not it seems like this may be a Nexus issue.

[2017-07-26 06:12] emgarten commented on #5585
The idea of adding a type of package that skips the current parent and only applies to higher generations is interesting, but I do not see this as a common scenario that would justify the extra flags or type.

The workaround for this is to reference the package at a higher level.  Please let me know if I'm missing something here.

[2017-07-26 06:12] #5585 closed, assigned to nobody

[2017-07-26 06:13] emgarten commented on #5586
Closing due to lack of response. If this still repros in the latest CLI 2.0.0 build please let me know.

[2017-07-26 06:16] emgarten commented on #5593
@NightOwl888 are you calling `dotnet pack` with any additional flags? Are you able to see the correct dependency version in the msbuild diag output when running `dotnet msbuild /t:pack /v:diag`, is anything modifying this version in your build?

Note that package versions are set by restore, so you will need the versions to be in place when running `dotnet restore` in order for `dotnet build` to f

[2017-07-26 06:19] emgarten commented on #3610
I believe this is complete on the client side, please reopen if there is more work to do.

[2017-07-26 06:19] #3610 closed, assigned to joelverhagen

[2017-07-26 06:22] emgarten commented on #5606
The ref assemblies are a copy of the x86 Assemblies, run through CorFlags.exe.

This doesn't tell me the actual names and paths. A flat list of files would be helpful here.

[2017-07-26 06:31] WilliamABradley commented on #5606
@emgarten
[![File Tree](https://s20.postimg.org/5y60nqjm5/Capture.png)](https://postimg.org/image/5y60nqjm1/)

I have already discovered one issue, where the Lib-Core.dll were all in one runtimes folder, however, it is also saying that message for Lib-UWP.dll, which is in all runtime folders.

[2017-07-26 06:39] emgarten commented on #5606
For Lib-UWP.dll on `win10-arm` these errors look unexpected, but for `win10-arm-aot` I don't see a runtimes folder which makes those errors correct.

[2017-07-26 06:40] WilliamABradley commented on #5606
Do I need to make a duplicate of Assemblies for AOT?

[2017-07-26 06:46] WilliamABradley commented on #5606
@emgarten I tried again after fixing my Lib-Core.dll, I'm still getting the same Error for all Runtime Types (Including ARM, x86 and x64 which I do have runtime assemblies for).

[2017-07-26 06:56] AlexOliinyk1 commented on #4190
Still not working

[2017-07-26 06:58] emgarten commented on #4190
Could someone share exact repro steps for what they are trying that isn't working along with the version of dotnet used?

[2017-07-26 07:20] nexussays commented on #1821
Sorry for commenting on such an old issue but I don't see how the current flow fulfills the original request.

I don't think it does. `npm link` just makes a symlink to the referenced package so with a theoretical `nuget link` I could make a change in the referenced project A (and rebuild), and then move to the referencing project B and rebuild & run and see the changes from A.

From what I can te

[2017-07-26 07:20] AlexOliinyk1 commented on #4190
@emgarten

-Microsoft Visual Studio Community 2017 Version 15.2 (26430.16) Release
-NuGet Package Manager   4.2.0
-Package Installer   2.0.101
-asp.net core 1.1
-.net 4.6.1

I'm trying to setup social login like twitter and facebook, but I can't install some packages based on instructions
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/facebook-logins
  https://docs.mic

[2017-07-26 07:22] emgarten commented on #4190
Would you share your csproj? What output did you get?

[2017-07-26 07:51] afficionaddo commented on #5595
@emgarten Yes I tried the below:

1. Used latest Nuget.exe inside .nuget folder & tried to build. It fails with the same error.
2. Removed all package folders & tried to build project. All packages were downloaded but build still fails.

[2017-07-26 08:09] AlexOliinyk1 commented on #4190
@emgarten    **csproj**
`

    <PackageReference Include="Microsoft.ApplicationInsights.AspNetCore" Version="2.0.0" />
    <PackageReference Include="Microsoft.AspNetCore" Version="1.1.2" />
    <PackageReference Include="Microsoft.AspNetCore.Authentication.Cookies" Version="1.1.2" />
    <PackageReference Include="Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore" Version="1.1.2" />
    <Packa

[2017-07-26 08:29] emgarten commented on #4190
@AlexOliinyk1 manually editting the csproj and restoring works for you then?

The issue is tracking support for adding tools using the VS UI and Package Console. The workaround is to edit the csproj to add the tool until this feature is added to VS.

[2017-07-26 08:38] AlexOliinyk1 commented on #4190
@emgarten  it is looks like edit .csproj works, but it seems package still not installed.
Please see following image
http://prntscr.com/g0f5lq

Maybe I something missed but I'm trying a lot of time, and in the newly created project and with different version asp.net core, and it seems visual studio and nuget has latest updates.

@emgarten  Any ideas ? Because it is really blocker for me

[2017-07-26 08:43] shaunryan commented on #5599
I used the nuget.exe util as described here:

nuget config -set repositoryPath=c:\packages -configfile c:\my.config
https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior

Thanks

[2017-07-26 09:16] nmaarse commented on #5045
Maybe a nobrainer but i also experienced this problem. However the problem was that the nuget package could not be created due to a file lock on the previously generated file and could not be overwritten.

[2017-07-26 10:08] godrose commented on #5632
Is this configurable in some way? It's somehow counterintuitive in my opinion.

[2017-07-26 10:21] NickCraver commented on #5619
@emgarten Then where *should* this live? It's been moved and closed once already. There is an issue, closing this doesn't make it the unintuitive behavior and improper terminology go away.

[2017-07-26 11:15] sharwell commented on #5630
This project uses both developmentDependency=true and PrivateAssets=all. How could there be a circular dependency?

[2017-07-26 12:11] SeanFarrow opened #5648 "Unable to build the client libraries from either the command line or in visual studio"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet client libraries
NuGet version (x.x.x.xxx):
Dev branch
dotnet.exe --version (if appropriate):
1.1
VS version (if appropriate):
VS2017
OS version (i.e. win10 v1607 (14393.321)):
Windows server 2012 R2
Worked before? If so, with which NuGet version:
No
## Detailed repro steps so we can see the same problem

1.
Clone

[2017-07-26 13:47] GieltjE opened #5649 "Restore will not restore mono.cecil or semver packages, but all other packages get restored."
## Details about Problem

One of our projects (Toolkit) references mono.cecil and semver, but neither is restored when running "nuget.exe restore", everything else restores just fine.

NuGet.exe
NuGet Version: 4.1.0.2450
VS version: 2017
OS version: Win 10, fully up to date

## Detailed repro steps so we can see the same problem
1. Don't know how to reproduce, please let me know how I can debug th

[2017-07-26 14:35] natemcmaster commented on #4190
The Package Manager Console runs in the **solution** directory by default. Did you 'cd' into the **project** directory before running 'dotnet user-secrets'?

[2017-07-26 15:07] AlexOliinyk1 commented on #4190
@natemcmaster  Thanks, I'm run this 'dotnet user-secrets -h' from 'powershell' based solution path and it is look like all is works. You really saved, my day.
@emgarten Thanks

[2017-07-26 15:07] ch53k commented on #5617
No, I was trying to bold that section of the command to accentuate the difference. Unfortunatly because of the other *s it wouldn't. I thought I had removed all of the extra **, I must of missed those 2.

`nuget pack model.csproj -outputDirectory c:\source\nugetTest -Properties Configuration=Release -version 17.0.19 -Verbosity Detailed -exclude **/database/*.*`

[2017-07-26 15:53] livarcocc opened #5650 "Adding NuGet.Core package to csproj as PackageReference has no any effect in restore/build process"
_From @maestrow on July 26, 2017 6:49_

## Steps to reproduce

1. `dotnet new`
1. Change `TargetFramework` in `csproj` file to `net461`
1. `dotnet add package NuGet.Core`
1. Add `using NuGet;` to `Program.cs` (this namespace is exists in NuGet.Core Assembly, I checked)
1. `dotnet restore`
All above executed successfully. Next:
6. `dotnet build`

## Expected  behavior

Successfull Build

## Actual

[2017-07-26 15:53] livarcocc commented on #5650
_From @maestrow on July 26, 2017 14:20_

[Problem solved with nuget cache clearing](https://stackoverflow.com/questions/45314575/after-i-add-nuget-core-package-to-my-csproj-as-packagereference-i-have-no-any-e). But I think there should be a meanungfull message if some references was not created while project build. In my case **there is** `<PackageReference Include="NuGet.Core" Version="2.14.0" />

[2017-07-26 15:54] livarcocc opened #5651 "Cannot use PAT with `dotnet restore` on Linux with packages from authenticated feed"
_From @sbebrone on July 26, 2017 11:45_

## Steps to reproduce
NuGet.config configured to use a private package feed hosted on a local TFS 2017 Update 2 server with a PAT authentication:

    <?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="myfeed" valu

[2017-07-26 16:13] aarondandy commented on #5540
Thanks for the tip @danielwertheim . For me, since I am using `dotnet msbuild` the workaround was to prefix my target list with Restore like so: `/t:Restore;Build;Pack`

[2017-07-26 17:30] alx9r opened #5652 "nuget.exe list does not find packages in a local feed; Visual Studio does"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Nuget.exe

NuGet version (x.x.x.xxx): 4.1.0.2450

dotnet.exe --version (if appropriate):

VS version (if appropriate): 14.0.25431.01 Update 3

OS version (i.e. win10 v1607 (14393.321)): Windows 8.1 (6.3.9600)

Worked before? If so, with which NuGet version:

## Detailed repro steps

### Folder

[2017-07-26 19:09] emgarten commented on #5619
@NickCraver which places contain improper terminology?

As for the `--no-cache` command line help, this is accurate, packages are cached in the http cache. If you delete the packages folder and run restore again those cached packages will be installed to the packages folder and they will not be downloaded again. If you use the no cache flag they will be downloaded again, so in my opinion this is a

[2017-07-26 19:11] emgarten commented on #5632
No, is there a reason why netstandard should be preferred in your scenario? Do they contain different implementations or APIs?

[2017-07-26 19:13] emgarten commented on #5630
Setting it to private will stop it from flowing up to parent projects, however `StyleCopAnalyzers -> StyleCopAnalyzers` is still a circular dependency. The project is also part of the dependency graph.

[2017-07-26 19:25] mishra14 commented on #4336
`NuGet.Localization` package generation is done. based on feedback from the cli team, we need to ilmerge pack resources as well.

@rohit21agrawal is going to take over the task to get that done.

[2017-07-26 19:47] NickCraver commented on #5619
@emgarten I asked others as a sanity check: https://twitter.com/Nick_Craver/status/890160768007770113

As of right now:
<img width="661" alt="screen shot 2017-07-26 at 15 42 59" src="https://user-images.githubusercontent.com/454813/28640287-3656f202-7219-11e7-9e15-3ca3b4297083.png">

This is a problem. It is, in every behavioral way, a cache. It seems that overwhelmingly people expect `--no-cache`

[2017-07-26 19:59] emgarten commented on #5652
I got confused myself on the syntax trying to repro this, but the problem is that the path is being passed as a search term and not as a source.

`nuget list c:\temp\feed` should be `nuget list -Source c:\temp\feed`

The syntax is: `nuget list <search term>`

Let me know if this doesn't solve the issue.

[2017-07-26 20:10] jainaashish commented on #5647
PR# https://github.com/NuGet/NuGet.Client/pull/1573 merged

[2017-07-26 20:10] #5647 closed, assigned to jainaashish

[2017-07-26 20:14] alx9r commented on #5652
Oops.  Indeed that was my error. Thanks @emgarten.

[2017-07-26 20:14] #5652 closed, assigned to nobody

[2017-07-26 20:21] emgarten commented on #5619
I understand the confusion and appreciate the feedback. Here is the problem: Restore's purpose is to put packages on disk for build/publish/run to consume. If this doesn't occur then build will be missing inputs and everything will be broken. Having a flag that puts users in this broken state would be confusing.

The packages need to go somewhere, and they need to be persisted for future operation

[2017-07-26 20:38] mit-jamie-clayton commented on #4809
I can reproduce this inconsistency on Visual Studio Team Services online (TFS). I have an automated build that uses nuget restore and correctly finds all the nuget package references in one run then fails to collect them all in the next run.  It seems to skip over some package references from some of the projects.  I get inconsistent builds from one run to the next as the restore occurs prior to b

[2017-07-26 21:15] bording commented on #5619
@emgarten If I specify `--no-cache` for a restore, but the package already exists in the global packages folder, will it use that copy or will it re-download the package from my list of package feeds?

I would expect it to ignore the copy already sitting in the global packages folder and re-download a new copy of it to the global packages folder, overwriting the existing folder if necessary.

If t

[2017-07-26 21:16] alx9r opened #5653 "nuget.exe list does not find package with alphabetic pre-release suffix in a local feed; Visual Studio does"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Nuget.exe

NuGet version (x.x.x.xxx): 4.1.0.2450

dotnet.exe --version (if appropriate):

VS version (if appropriate): 14.0.25431.01 Update 3

OS version (i.e. win10 v1607 (14393.321)): Windows 8.1 (6.3.9600)

Worked before? If so, with which NuGet version:

## Detailed repro steps

### Folder

[2017-07-26 21:18] alx9r commented on #5653
I wonder if this is related to #4537.

[2017-07-26 21:25] NickCraver commented on #5619
What @bording describes is exactly the behavior I'd expect, *don't use any cached copies*. I'm not proposing an elaborate new system of storage and resolution here, only that a re-download is forced. And I'd *really* expect `--no-cache --force` to do this, like the issue itself...but I don't think `--force` should be required to get this behavior.

I honestly have yet to meet anyone who cares abou

[2017-07-26 21:43] emgarten commented on #5619
The global packages folder could be shared between different restores, builds, and executing the app. Removing files, even temporarily would cause problems. For this reason packages are never replaced or removed from the global folder. The exception to this is the `dotnet nuget locals` command which allows clearing the global folder manually when the user knows it is safe to do.

@bording do you h

[2017-07-26 21:48] alx9r opened #5654 "Visual Studio does not find a package with numeric pre-release suffix in a local feed; alphabetic suffix works"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Nuget.exe

NuGet version (x.x.x.xxx): 4.1.0.2450

dotnet.exe --version (if appropriate):

VS version (if appropriate): 14.0.25431.01 Update 3

OS version (i.e. win10 v1607 (14393.321)): Windows 8.1 (6.3.9600)

Worked before? If so, with which NuGet version:

## Detailed repro steps

### Folder

[2017-07-26 21:52] alx9r commented on #5201
FWIW this warning just saved me a bunch of investigation work:

In particular, Visual Studio 2015 14.0.25431.01 Update 3 doesn't seem to see packages with numeric pre-release suffixes (see #5654).

[2017-07-26 22:18] mishra14 commented on #5537
I cannot repro this with D15Rel 26725.2

I have asked the customer to provide a csproj file.

[2017-07-26 22:19] bording commented on #5619
@emgarten I do have a scenario where this would be useful. I have a project that produces packages, and as part of testing, those packages are consumed from another project by having a local folder configured as the package feed. During development, I could end up with different builds of those packages, but they won't have a different version, so the restore for the consuming test project will pi

[2017-07-26 22:58] NickCraver commented on #5619
We're also testing restores from remote repos, firewall rules, VPN configs, custom NuGet servers, multiple builds of the same package (fixing NuGet/.NET tooling issues - we've filed many), and dealing with local source packages between builds for library buildings (again, the version doesn't increment every time).

For example, when a bad cache from a source happens, I need to be able to force a r

[2017-07-27 00:12] mellinoe opened #5655 "Invalid warning "Assembly outside lib folder." in dotnet pack"
[code]

## Detailed repro steps so we can see the same problem

1. Create a csproj with something like following packaging options:

[code]
2. Run `dotnet pack`

See https://github.com/mellinoe/ImGui.NET for a real-world project this affects.

## Results

The following bogus warning is generated:

[code]

NuGet should not be warning about this, because it is not invalid. The assembly in question i

[2017-07-27 00:19] emgarten commented on #5654
@alx9r update to NuGet 3.5.0 from https://dist.nuget.org/visualstudio-2015-vsix/latest/NuGet.Tools.vsix

[2017-07-27 00:22] emgarten commented on #5655
That is currently the only way to turn off the warning. Pack could potentially use NU codes to allow disabling these on a per issue basis.

[2017-07-27 01:11] emgarten commented on #5649
Would you share both the csproj project file that contains these references and the obj\project.assets.json output?

[2017-07-27 01:18] emgarten commented on #5648
@SeanFarrow could debug why build\common.props is getting the wrong location for you? Are you using msbuild 15?

[2017-07-27 01:33] SeanFarrow commented on #5648
Hi,

I’ve got vs 2013, 2015 and 2017 on this machine.
It seems to be getting or thinking that the build folder is in the folder above readme.md.

From: Justin Emgarten [mailto:notifications@github.com]
Sent: Thursday, July 27, 2017 02:19
To: NuGet/Home <Home@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [NuGet/Home] Unable to

[2017-07-27 01:45] emgarten commented on #5648
I'm not able to reproduce this locally, builds are working for me.

[2017-07-27 01:48] SeanFarrow commented on #5648
Ok, let me blow away the repo and see whether that makes any difference!

From: Justin Emgarten [mailto:notifications@github.com]
Sent: Thursday, July 27, 2017 02:45
To: NuGet/Home <Home@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [NuGet/Home] Unable to build the client libraries from either the command line or in visual stu

[2017-07-27 05:43] Roemer commented on #5523
I'm still struggling with this :( any more ideas how to solve this? I'd love go keep generating the packages from the csproj and not manually by nuspec/cakebuild or similar.

[2017-07-27 08:09] GieltjE commented on #5649
[Requested files.zip](https://github.com/NuGet/Home/files/1179257/Requested.files.zip)

[2017-07-27 11:19] ghost opened #5656 "NuGetizer3000 fails to build for .net 4.6.2 projects"
## Details about Problem

NuGet product used: NuGetizer3000 (VS2017 extension) 0.1.324

VS version (if appropriate): Version 15.2 (26430.16)

OS version: Microsoft Windows [Version 10.0.15063]

## Detailed repro steps

1. Create a new solution containing a single project. The project should be a C# Class Library (.NET Framework), targeting .Net Framework 4.6.2.

2. Add "Package" project to solutio

[2017-07-27 12:00] sharwell commented on #5630
@emgarten This is a very frustrating breaking change for projects related to build tooling, including but not limited to analyzer projects. The assumption that a project reference and a package reference do the same thing is not valid in practice.

[2017-07-27 13:37] TAGC commented on #4719
@mishra14 Any progress made on this?

[2017-07-27 13:59] sharwell opened #5657 "SolutionRestoreWorker.StartBackgroundJobRunnerAsync blocks thread pool threads"
Using Visual Studio 2017 (15.3 Preview 6).

### Details

The call to `BlockingCollection.Take` in [StartBackgroundJobRunnerAsync](https://github.com/NuGet/NuGet.Client/blob/5d66754b948c86a39aa2b54e7e3c1d67f6b57979/src/NuGet.Clients/NuGet.SolutionRestoreManager/SolutionRestoreWorker.cs#L337) is blocking a thread pool thread for ~~nearly 3~~ **110** seconds during a profiling run opening Roslyn.sln.

[2017-07-27 16:34] abpiskunov opened #5658 "If package failed to restore, error should be printed i the output even with Minimal verbosity ON"
Please read the following information before posting the issue.

## Details about Problem

Latest d15rel.

## Detailed repro steps so we can see the same problem

1. When you have some unknwon package in the project an restore it just prints this:

Restoring NuGet packages...
NuGet package restore failed.
Time Elapsed: 00:00:02.7078836
========== Finished ==========

Yes, there is an error in the

[2017-07-27 17:32] #5313 closed, assigned to nkolev92

[2017-07-27 17:38] tmat opened #5659 "VS; Running the restore command when Restore is disabled displays a confusing message"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

VS version (if appropriate): 15.3.0 Preview 6 (26725.2.d14rel)

OS version (i.e. win10 v1607 (14393.321)): 10.0.15063

## Detailed repro steps so we can see the same problem

1. Disable auto-restore in VS options:

![image](https://user-images.githubusercontent.com/41759/28683898-3408f3a

[2017-07-27 17:38] tmat commented on #5659
/cc @srivatsn

[2017-07-27 17:46] divega commented on #5557
@alpaix do you know if the fix is already available in any build of Visual Studio? @pranavkm was hitting this again today. Thanks!

[2017-07-27 17:49] pranavkm commented on #5557
I'm using VS 15.3 Preview 4 (26706.0.d15rel). Is there a newer build where the escrow changes made it in?

[2017-07-27 18:17] mishra14 commented on #5659
cc: @nkolev92 @emgarten

[2017-07-27 18:27] sharwell opened #5660 "VSSolutionManager blocks thread pool threads"
Using Visual Studio 2017 (15.3 Preview 6) to load Roslyn.sln (time from process start to when the initial project load is done and the Solution Explorer shows up).

:memo: If any of these are not obvious and/or previously known, let me know and I can provide more information to facilitate a resolution. :smile:

### `get_IsSolutionOpen()`: 4.2 seconds with this trace

[code]

### `get_SolutionDirec

[2017-07-27 18:29] jainaashish commented on #5659
@tmat this option doesn't disable auto-restore instead it disables restore itself, so what ever you're seeing is the right behavior. We don't have any option to only disable auto-restore as of now.

[2017-07-27 18:35] tmat commented on #5659
@jainaashish I see. Then either "Restore NuGet packages" should show a message that nuget package restore is disabled, or override the setting.

[2017-07-27 18:51] nkolev92 commented on #5659
@tmat
I've updated the original issue/name.
Thanks for creating this.

[2017-07-27 19:14] emgarten commented on #5630
I understand your frustration, as far as breaking changes go the move from legacy csproj to NETCore SDK projects has many differences, there currently is no expectation that everything will work identical to the older packages.config world. Transitive dependencies are another major change that are present in NETCore SDK projects and not packages.config.

[2017-07-27 19:33] mishra14 commented on #4719
@TAGC thanks for the ping. @rohit21agrawal has more context around this code path.

@rohit21agrawal has this been triaged/considered?

[2017-07-27 20:06] nkolev92 opened #5661 "NuGet should be able to edit TFS versioned config files"
Originally filed here: https://developercommunity.visualstudio.com/content/problem/85156/getting-error-when-attempting-to-enable-package-so.html?childToView=85997#

NuGet handles the editing of the packages config files for TFS versioned solutions but it does not do the same for the configuration files.

[2017-07-27 20:51] emgarten commented on #5660
Thanks for the perf traces @sharwell!

[2017-07-27 20:59] emgarten commented on #5460
This may be fixed by https://github.com/NuGet/Home/issues/5154

[2017-07-27 21:43] emgarten commented on #5619
This is a known pain point when developing packages, I think something should be done here to improve this work flow. Replacing packages in the global packages folder would help solve this.

In general, re-using the same id/version of a package is **not** a supported scenario for NuGet. Packages are expected to be unique on id/version and the same across all sources and the global packages folder

[2017-07-27 22:10] #4336 closed, assigned to rohit21agrawal

[2017-07-27 22:15] bording commented on #5619
@emgarten I am using git versioning, but that only helps me if I'm making commits between package builds, which is not always going to be true when I'm in the middle of development.

Can you explain these two a bit more? I'm not sure I understand them. Are you saying performance would always be decreased, or just when the `--no-cache` flag is used?

[2017-07-27 22:15] karann-msft opened #5662 "Enhanced package upload workflow"
The NuGet package upload workflow is being enhanced as we introduce package validation. Let's use this issue to discuss the spec.

[Enhanced package upload workflow](https://github.com/NuGet/Home/wiki/Enhanced-package-upload-workflow)

[2017-07-27 23:19] sharwell commented on #5660
:memo: Given that all of these go back to the test window, the solution may involve instructions for how they can use asynchronous code instead of the current synchronous paths, and/or create new asynchronous APIs for these code paths and then filing follow-up bugs for test window to use them. I wasn't sure which way you wanted to go with it.

[2017-07-28 00:49] rohit21agrawal commented on #5662
wouldn't this make a better candidate in the NuGet Gallery as it sounds like there isn't anything that needs to be done on the client side.

[2017-07-28 02:14] karann-msft commented on #5662
Issue moved to [NuGet/NuGetGallery #4478](https://github.com/NuGet/NuGetGallery/issues/4478) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-28 02:14] #5662 closed, assigned to nobody

[2017-07-28 05:49] emgarten commented on #5658
This is similar to https://github.com/NuGet/Home/issues/5412

I think we should consider bringing the output window details back.

[2017-07-28 09:42] xlegalles commented on #2405
Also reproduced in 4.1.0.2450

[2017-07-28 10:08] sharwell opened #5663 "RestoreOperationLogger.Do blocks thread pool threads"
Using Visual Studio 2017 (15.3 Preview 6) to open Roslyn.sln.

`RestoreOperationLogger.Do` performs a blocking wait operation on thread pool threads totaling **1575 seconds**, contributing to thread pool starvation. One of the following approaches should be used to avoid blocking calls on these threads:

1. Make `Do` (and its callers) properly asynchronous.
2. Use `TaskCreationOptions.LongRunning`

[2017-07-28 10:44] sharwell opened #5664 "GC pressure caused by boxing a Dictionary's struct enumerator"
Opening Roslyn.sln in Visual Studio 2017 (15.3 Preview 6).

NuGet allocated ~385MiB by boxing an enumerator for `Dictionary<TKey, TValue>`. The use of a struct enumerator would eliminate this allocation source. The following methods contributed:

| Method | Allocations |
| --- | --- |
| PatternExpression.Match | 142MiB ¹ |
| NuGet.ContentModel.ContentItemCollection+GroupComparer.GetHashCode(class

[2017-07-28 10:55] sharwell opened #5665 "GC pressure caused by ContentItem allocations"
Opening Roslyn.sln on Visual Studio 2017 (15.3 Preview 6).

A total of 664MiB was allocated for `ContentItem` objects [in `PatternExpression.Match`](https://github.com/NuGet/NuGet.Client/blob/1a1c474aab5c1e851b416c583ca4c6d727bd94e3/src/NuGet.Core/NuGet.Packaging/ContentModel/Infrastructure/Parser.cs#L50), contributing to GC-related delays while opening the solution. Two approaches can be used to

[2017-07-28 11:01] sharwell opened #5666 "GC pressure caused by SZGenericArrayEnumerator allocations"
Opening Roslyn.sln on Visual Studio 2017 (15.3 Preview 6).

The `TopologicalSortUtility.GetParentCount` method [calls `Enumerable.Any` on an array](https://github.com/NuGet/NuGet.Client/blob/e6e7d4ddb2499f2cce370f9f1c477d204aec90ba/src/NuGet.Core/NuGet.Packaging/TopologicalSortUtility.cs#L46), resulting in 1757MiB of allocations of the enumerator for the array. The use of LINQ should be replaced w

[2017-07-28 11:10] sharwell commented on #5665
⚠️ The above issue only reported allocations for `ContentItem` itself. An additional 2051MiB of allocations occurs for the `Dictionary<string, string>` it contains. If step 1 is used above to avoid the allocations of `ContentItem` altogether, this issue will be resolved at the same time. Otherwise, the map should be specifically evaluated to determine if it is generally empty. If so, replacing its

[2017-07-28 11:30] sharwell opened #5667 "GC pressure caused by allocations in PatternExpression.Match"
Opening Roslyn.sln on Visual Studio 2017 (15.3 Preview 6)

:memo: The allocations due to #5665 *are not* included in the numbers presented for this issue.

| Cause | Amount |
| --- | --- |
| `LiteralSegment.TryMatch` calls `Substring` | 1334MiB |
| `TokenSegment.TryMatch` calls `string.Concat` | 1159MiB ¹ |
| `TokenSegment.TryMatch` calls `string.Substring` | 565MiB |
| `TokenSegment.TryMatch` con

[2017-07-28 11:37] sharwell commented on #5666
:bulb: If this issue is resolved by the creation of a `PackageDependencyInfo.Any` method which takes a predicate delegate, it should have the form `Func<T, TArgs, bool>` so the args parameter can be used to avoid delegate allocations, saving another 65MiB.

[2017-07-28 11:43] sharwell opened #5668 "GC pressure caused by allocations in PatternExpression.Initialize"
Opening Roslyn.sln on Visual Studio 2017 (15.3 Preview 6)

| Cause | Amount |
| --- | --- |
| Calling `string.Concat` | 1719MiB ¹ |
| Calling `string.Substring` | 405MiB |

¹ These are expressions of the form `pattern + '{'` (occurs a few times with different final characters).

[2017-07-28 12:00] sharwell opened #5669 "GC pressure caused by boxing `LibraryType`"
Opening Roslyn.sln on Visual Studio 2017 (15.3 Preview 6)

A total of 156MiB is allocated due to boxing `LibraryType`. This is relatively small compared to some of the other issues, but fortunately is easily resolved.

* `LibraryType` has operators `==` and `!=` which call `Equals(left, right)`. Since the value type arguments can never be null, each of these two calls should be changed to `left.Eq

[2017-07-28 12:02] sharwell opened #5670 "Enable 'strict' mode for C#"
Setting `<Features>strict</Features>` in the project will enable a warning for the case of comparing value types with null. As a quality-improving feature (e.g. avoiding one of the issues in #5669) I would recommend it be enabled.

[2017-07-28 12:45] benaadams commented on #5669
`combiner.AddObject(Type)` rather than `combiner.AddInt32(Type.GetHashCode())`

[2017-07-28 12:49] benaadams commented on #5669
Fix https://github.com/NuGet/NuGet.Client/pull/1582

[2017-07-28 12:50] sharwell commented on #5669
@benaadams Thanks, I was apparently browsing at a commit prior to #1319 so the combiner use wasn't visible.

[2017-07-28 13:40] tylerohlsen commented on #5460
I'm not finding a combination that works.  Note: In all of these tests, I kept the rest of the above attached csproj unchanged and only changed the `<TargetFramework>` node (unless otherwise specified).
***
**Test 1**
[code]
`dotnet restore` - success
`dotnet add package NLog -v 4.4.10` - fail: ``` Invalid target framework 'unsupported' ```
`dotnet build` - success
***
**Test 2**
[code]
`dotnet re

[2017-07-28 13:41] tylerohlsen commented on #5460
As @emgarten suggested, this is likely to be fixed by #5154.  Waiting for that fix to try this scenario again.

[2017-07-28 14:27] almirvuk commented on #4190
I made it by running command in cmd:

`dotnet add package Microsoft.EntityFrameworkCore.Tools.DotNet`

Best regards!

[2017-07-28 14:48] andyfenna commented on #545
Please can we have an update regarding this feature, it was raised back in 2015. I have resulted in creating powershell scripts to create the nuget package via command line, surely there must be an easier and cleaner way to do it?

[2017-07-28 16:05] abpiskunov commented on #5658
yes #5412 looks exactly what i meant :).

[2017-07-28 16:06] benaadams commented on #5666
Fix https://github.com/NuGet/NuGet.Client/pull/1585

[2017-07-28 17:01] JackGrinningCat opened #5671 "Minor typo in German translation"
Hey,

in the german translation there is an error. :-)
wrong
update      Pakete auf die aktuellsten verfügbaren Versionen aktualisieren. Dieser Befehl aktualisiert auch **s**ie Datei "NuGet.exe" selbst.
right
update      Pakete auf die aktuellsten verfügbaren Versionen aktualisieren. Dieser Befehl aktualisiert auch **d**ie Datei "NuGet.exe" selbst.

Btw: Actually i tried to find and fork and corre

[2017-07-28 17:01] #5571 closed, assigned to zhili1208

[2017-07-28 17:01] #5102 closed, assigned to zhili1208

[2017-07-28 17:01] #5090 closed, assigned to zhili1208

[2017-07-28 17:02] #5053 closed, assigned to zhili1208

[2017-07-28 17:02] #5057 closed, assigned to zhili1208

[2017-07-28 17:02] JackGrinningCat commented on #5273
Tick

[2017-07-28 17:22] zhili1208 commented on #5576
nothing changed in 15.3 about security

[2017-07-28 17:22] #5576 closed, assigned to zhili1208

[2017-07-28 17:30] #5582 closed, assigned to alpaix

[2017-07-28 18:38] #5669 closed, assigned to nobody

[2017-07-28 19:10] emgarten commented on #2405
This issue would gain better traction if some scenarios and examples of why ExcludeVersion with Update is important. How common is this?

And as always, a PR for this would be greatly appreciated!

[2017-07-28 19:16] emgarten commented on #2405
Also, giving the issue a thumbs up helps prioritize.

[2017-07-28 19:18] benaadams commented on #5665
Fix https://github.com/NuGet/NuGet.Client/pull/1587

[2017-07-28 19:29] sharwell commented on #5663
:memo: I'm looking into this one

[2017-07-28 20:08] ghost commented on #912
So this ticket is still in Priority 1 and has been bumped for a couple of years.

We use CI and end up spitting out a lot of packages, the maintenance of keeping up with them is only just worth the value of keeping everything separate. Being able to specificy "Latest prerelease" in our dev branches would really be very useful.

Could we get a vague timeline at least? Maybe pointers on where to sta

[2017-07-28 20:58] livarcocc opened #5672 "dotnet restore uses different nuget.config location to nuget (on mac)"
_From @macon on July 28, 2017 14:48_

## Steps to reproduce
Add a new package source using nuget CLI e.g.
[code]
From a dotnet core project, edit the .csproj and add a reference to a nuget package from that source e.g.
[code]
Do a dotnet restore.

## Expected  behavior
The package should be restored from the new Nuget source

## Actual behavior
I get
[code]
It seems nuget.exe is using the path ~/.

[2017-07-28 22:19] alpaix commented on #5557
Available in 15.3 Preview 7 d15rel.26726.0.
@pranavkm Let me know if you're able to repro.

[2017-07-28 22:27] #5597 closed, assigned to mishra14

[2017-07-28 22:35] emgarten commented on #912
This needs a design to move forward.

The problem is that changing the behavior of `*` is a breaking change, and adding a new syntax such as `1.0.*-*` will break older clients that do not know how to parse it.

Feedback and suggestions on this would be great. I would really like to see this issue fixed.

[2017-07-29 00:20] mishra14 commented on #5581
Found some non translated strings - One in the vsix and others in the xplat dll. Internal bug: 471688

[2017-07-29 00:20] #5581 closed, assigned to mishra14

[2017-07-29 05:13] ghost commented on #912
Alright so let's talk design.

* `1.0.*` should probably not pull -prerelease packages, as that is likely to be unexpected behavior relative to previous experience. If someone is not specifying `-*` it's very probable that they don't want prerelease packages finding their way in there. Therefore we should likely *not modify the behavior of preexisting wildcards* and add newer syntax to handle "Get

[2017-07-29 19:30] benaadams opened #5673 "GC pressure caused by Tuple allocations in DependencyResolver.GraphOperations"
Running `nuget restore Roslyn.sln -NoCache` allocates 787 MB of Tuples in

NuGet.DependencyResolver.GraphOperations.ForEach
[code]

/cc @sharwell

[2017-07-29 19:32] sharwell commented on #5673
ValueTuple 🎉

[2017-07-29 20:33] yanckst opened #5674 "Some functions to find local packages in the V3 doesn't seems work"
## Introduction

Thanks for this amazing library. I used the nugget v2 and everything works perfectly. Recently, I upgrade my v2 code to use the v3, because there are a lot of packages that throw errors indicating to use the nuget v3.

I try to find some documentation, but the only interesting thing I found is [this guide](https://daveaglick.com/posts/exploring-the-nuget-v3-libraries-part-1).
It h

[2017-07-29 23:57] shahabhijeet opened #5675 "[Feature Requests] nuget.exe multiple feature requests"
Please read the following information before posting the issue.

Nuget.exe (4.1.0)
dotnet.exe (1.0.4)
VS 15.1.26403.7
OS (win10 v1703 (15063.483)

1)
Currently with nuget.exe, you are not able to make publishing nuget package and symbol package as an atomic operation
For any reason if symbol package publishing fails, there is no way to roll back nuget package publish.
Feature Requests:
Should have

[2017-07-30 00:22] anangaur commented on #5675
#4 can be found by logging into the nuget.org account. Any reason why you need this functionality in command line?

[2017-07-30 01:12] shahabhijeet commented on #5675
@anangaur we have multiple ApiKeys and we want to automate this process.
If we have 10 ApiKeys and if they have multiple expiry dates, having this automated will help in not only knowing that the expiry date is near, but would also like to get a new key in an automated way.

[2017-07-30 07:14] sharwell opened #5676 "Enabling GeneratePackageOnBuild deleted my entire history of packages"
Using Visual Studio 2017 (15.3 Preview 6).

⚠️ This is a data loss bug (silent destruction of user data unrelated to the project being built).

:memo: The title of this is accurate. I kept a copy of ANTLR 3 builds going back to 2011 in the folder which was cleared. I can get it back, but it will not be easy since the storage location for them changed a few times over the years.

### Steps to repro

[2017-07-30 14:06] benaadams commented on #5673
Fix https://github.com/NuGet/NuGet.Client/pull/1591

[2017-07-30 14:59] benaadams opened #5677 "GC pressure caused by LibraryDependencyTargetUtils.Parse"
Running `nuget restore Roslyn.sln -NoCache` allocates 209 MB in Parse converting string to enum
[code]
/cc @sharwell

[2017-07-30 20:55] xlegalles commented on #2405
Ok, in our particular scenario, we use Nuget to install a tool (e.g. Fake) which is invoked by a PS script. Of course we do not want to update the script each time we update the invoked tool and that's why we want to exclude the version from the folder.
Don't take it the wrong way but I consider that if you support such a feature (i.e. install a package wo the version in the folder name), it shoul

[2017-07-30 21:05] #5670 closed, assigned to nkolev92

[2017-07-30 21:06] StingyJack commented on #3975
Also note that `nuget pack -MSBuildPath` will require you to update to v4. Its available in v3, but only for `restore`

Its also broken in that it does not recognize its been given the path to MsBuild.exe, and not just the folder that contains the exe.
![image](https://user-images.githubusercontent.com/15381181/28757097-bc6668a4-7549-11e7-951a-774844e581d0.png)

[2017-07-30 21:08] #4019 closed, assigned to emgarten

[2017-07-30 23:47] AbbottWC opened #5678 "Package Not Compatible With net45 (.NetFramework,Version=4.5)"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS 2017 UI

NuGet version (x.x.x.xxx): 2.1.142

dotnet.exe --version (if appropriate):

VS version (if appropriate):  VS 2017 Community ( 15.2 )

OS version (i.e. win10 v1607 (14393.321)): 1703 ( OS Build 15063.483 )

Worked before? If so, with which NuGet version: 2.1.134

## Detailed repro st

[2017-07-31 00:50] #5678 closed, assigned to nobody

[2017-07-31 01:02] #5677 closed, assigned to nobody

[2017-07-31 01:23] #5665 closed, assigned to nobody

[2017-07-31 01:23] #5668 closed, assigned to nobody

[2017-07-31 03:18] #5666 closed, assigned to nobody

[2017-07-31 06:27] emgarten commented on #5674
@devwhyst what is the end goal you are trying achieve?

For finding packages in local folders take a look at: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/Utility/LocalFolderUtility.cs

Note that v2 and v3 folders expect different structures and files to be present, so if a package is not returned it is likely because it isn't in the expected location or additional

[2017-07-31 09:43] gezzahead commented on #2405
We are using nuget in a similar way to xlegalles, in that as part of our CI we use various tools (Fake, plus some homegrown ones) that have been packaged.  During the build process we always want the latest version of these tools, and it's more difficult to use them later in the build if the path includes the version.
Currently we work-around this problem by deleting the folders each time, but thi

[2017-07-31 10:45] NightOwl888 commented on #5593
Here is the command I am running:

[code]
The version of the BoboBrowse.Net NuGet package is correct as 4.0.2-alpha00004. The version of the BoboBrowse.Net.Spring NuGet package is correct as 4.0.2-alpha00004, but within it in the `.nuspec` file, it is referencing BoboBrowse.Net 4.0.2 (which doesn't yet exist). And NuGet cannot resolve this dependency on .NET Framework 4.5.1.

I tried running...

d

[2017-07-31 11:03] lampersky commented on #5586
Sorry guys, I've created this issue, just before my holidays. This is why I can't answer.
Here you have some example code.
[exampleCode.zip](https://github.com/NuGet/Home/files/1187278/exampleCode.zip)

with '2.0.0-preview2-006497' task dotnet restore takes 4 minutes and 9 seconds,
with '1.0.4' task dotnet restore takes only 19 seconds.

![slow](https://user-images.githubusercontent.com/6403130/28

[2017-07-31 11:20] benaadams opened #5679 "GC pressure caused by NuGetv3LocalRepository.FindPackage GetEnumerator allocations"
Running `nuget restore Roslyn.sln -NoCache` allocates 126 MB of IEnumerators in

NuGet.DependencyResolver.GraphOperations.ForEach
[code]

/cc @sharwell

[2017-07-31 11:26] benaadams commented on #5679
Fix https://github.com/NuGet/NuGet.Client/pull/1593

[2017-07-31 11:27] martinsuchan commented on #4515
What is status of this issue? It's almost August 2017 and I just hit this issue when building our UWP app in PowerShell:. We use PackageReferences and use TargetVersion 15063 and MinVersion 14393.
msbuild version '15.1.1012.6693', NuGet Version: 4.0.0.2283

**Update, it's failing with NuGet 4.0.0 but working with 4.1.0.**

[2017-07-31 11:46] clairernovotny commented on #5220
My ask when designing this feature is that it's not tied to .NET or TFM's. That is, it should ideally support any project type that uses CPS to enable it to have its own SDK. The example I'm thinking of right now is Rust, but it can apply to any other language/platform.

[2017-07-31 12:08] CZEMacLeod commented on #912
For our use case, we would like the ability to mix `1.0.*` with CI builds - this would result in something like `1.0.*-*` or `1.0.*-ci*`.
This is particularly important for CI builds based on CI builds in our framework, where if we bump a component by `0.0.1` we still want the latest CI build brought into all the other builds - especially for unit testing etc. to make sure that no downstream packa

[2017-07-31 14:33] benaadams opened #5680 "GC pressure caused by FrameworkNameProvider.TryGetPortableProfile allocations"
FrameworkNameProvider.TryGetPortableProfile

[code]

[2017-07-31 14:49] benaadams commented on #5680
Fixed by https://github.com/NuGet/NuGet.Client/pull/1594

[2017-07-31 15:24] jwittner commented on #2146
I've been allocated some time to try and solve any issues holding back developers from using Nuget as the package manager for Unity.

The tooling within Visual Studio is remarkably close to working for this use case. From my tests it's missing only these capabilities:

* There is no way to distribute arbitrary content in a way that is updated. Content is bundled well and distributed well on it's f

[2017-07-31 16:24] jwittner commented on #2146
Wondering what steps would need to be taken to get the Visual Studio Tools for Unity target frameworks listed under the Supported Frameworks section here: https://docs.microsoft.com/en-us/nuget/schema/target-frameworks.

[2017-07-31 17:26] benaadams opened #5681 "GC pressure caused by RuntimeGraph.ExpandRuntime allocations"
[code]

[2017-07-31 17:37] #5563 closed, assigned to rohit21agrawal

[2017-07-31 17:37] #5574 closed, assigned to rohit21agrawal

[2017-07-31 17:37] #5646 closed, assigned to emgarten

[2017-07-31 17:37] #5575 closed, assigned to emgarten

[2017-07-31 17:38] #5636 closed, assigned to nkolev92

[2017-07-31 17:39] emgarten commented on #5586
Thanks @lampersky, we will investigate

[2017-07-31 17:41] benaadams commented on #5667
I think https://github.com/NuGet/NuGet.Client/pull/1590 mostly resolved this

[2017-07-31 17:44] #5565 closed, assigned to nobody

[2017-07-31 17:44] #5560 closed, assigned to nkolev92

[2017-07-31 18:56] alpaix opened #5682 "GDPR compliance work"

[2017-07-31 18:56] nkolev92 opened #5683 "Localization and signing for VS 2015 build"

[2017-07-31 18:58] mishra14 opened #5684 "uap10.0.rs3.0 should map to .NET Standard 2.0 for NuGet"
More information in internal issue: 469873

[2017-07-31 18:58] jainaashish opened #5685 "Fix hangs in LSL scenario"
Internal bugs# 456357 460499 462592 470185

- [x] Part1 - Fix Solution load
- [x] Part2 - Fix PMC scenarios

[2017-07-31 19:00] rohit21agrawal opened #5686 "Apex work - enable vsts automation"

[2017-07-31 19:01] emgarten opened #5687 "Apex test design"
- [ ] Design UI API
- [ ] Add a test to search and install a package from the UI using the install button

[2017-07-31 19:01] rohit21agrawal opened #5688 "Fix 4.4 bugs"
Targeting following bug fixes:

 - [x] https://github.com/NuGet/Home/issues/5655 Invalid warning "Assembly outside lib folder." in dotnet pack
 - [x] https://github.com/NuGet/Home/issues/4719 `dotnet pack --include-source` places code sub-directories in the root of the package.
 - [x] https://github.com/NuGet/Home/issues/5502 Pack metadata doesn't work if project is multi-targeted
 - [ ] https://g

[2017-07-31 19:02] mishra14 opened #5689 "Complete Design for flowing transitive NoWarn"
More details in related issue: https://github.com/NuGet/Home/issues/5501

[2017-07-31 19:02] emgarten opened #5690 "4.4 bugs"
Triage and find high priority issues for 4.4

- [x] https://github.com/NuGet/Home/issues/5709 Add different msbuild task UserAgent strings for netcore vs desktop
- [x] https://github.com/NuGet/Home/issues/5630 Failed to restore packages after switch to the new project system
- [x] https://github.com/NuGet/Home/issues/4967 Read PackageReferences from CollectPackageReferences
- [x] https://github.co

[2017-07-31 19:03] mishra14 opened #5691 "Implement code for flowing NoWarn properties Transitively"
More details in related issue: https://github.com/NuGet/Home/issues/5501

[2017-07-31 19:03] rohit21agrawal opened #5692 "Improve min client version design"

[2017-07-31 19:04] mishra14 opened #5693 "Test the transitive flow of NoWarn"
More details in related issue: https://github.com/NuGet/Home/issues/5501

[2017-07-31 19:04] PatoBeltran opened #5694 "NuGet Package Identity Verification"
- [ ] Protocol work
- [ ] UI work

[2017-07-31 19:05] maartenba commented on #5694
What is RPP?

[2017-07-31 19:05] mishra14 commented on #5501
- [x] #5689 - Design task
- [x] #5691 - Implement the code/feature task
- [x] #5693 - Test task

[2017-07-31 19:11] emgarten commented on #912
`1.0.0-*` works but does not go above 1.0.0

[2017-07-31 19:21] ghost commented on #912
As in, it just resolves the lowest available version? That seems to be what [this documentation](https://docs.microsoft.com/en-us/nuget/create-packages/dependency-versions) indicates. We attempted to use this in Visual Studio and were seeing syntax errors, but that might be us using it wrong.

Okay, fair enough. @emgarten You indicated messing with `*` syntax would be considered a breaking change,

[2017-07-31 19:27] emgarten commented on #4515
Thanks for the update @martinsuchan, it looks like this can be closed as it was fixed with https://github.com/NuGet/Home/issues/4532 in 4.1.0

[2017-07-31 19:27] #4515 closed, assigned to nobody

[2017-07-31 19:29] danielgreen commented on #912
What about using a different symbol than * to indicate a wildcard that includes release and prerelease versions?

E.g. 1.0.%

[2017-07-31 19:36] jainaashish commented on #5559
It's done, only thing left is localization, and Nikolche has already created a new task for that.

[2017-07-31 19:36] #5559 closed, assigned to nkolev92, jainaashish

[2017-07-31 19:40] nkolev92 commented on #5559
Continuing here https://github.com/NuGet/Home/issues/5683

[2017-07-31 21:08] jeremymeng commented on #4485
Running into this when open project via `devenv LazyPerf.csproj` cloned from https://github.com/jeremymeng/LazyPerf

[2017-07-31 21:31] #5681 closed, assigned to nobody

[2017-07-31 22:52] borland commented on #329
We have this scenario as well, I'll explain ours:

We have a base application, which includes references to various Nuget packages.

Our application supports plugins - we have a "Plugins" folder where we drop dll's in, and they're all loaded using the Managed Extensibility Framework (MEF).

When creating a plugin dll, those plugins neccessarily need to add references to components from the base ap

[2017-07-31 23:21] #5680 closed, assigned to nobody

[2017-07-31 23:39] AceCoderLaura commented on #1138
I have two .sln files in the same folder but I get this issue frequently as a result. Is there and way to make the two .sln files use different nuget folders so I don't get the file handles locked up?

[2017-07-31 23:56] nkolev92 commented on #5683
Fixed.

[2017-07-31 23:56] #5683 closed, assigned to nkolev92

[2017-08-01 00:23] PatoBeltran commented on #5694
This issue is for work regarding the following spec: https://github.com/NuGet/Home/wiki/NuGet-Package-Identity-Verification... I edited the name for better clarity

[2017-08-01 01:03] #5679 closed, assigned to nobody

[2017-08-01 03:35] NightOwl888 commented on #5593
Okay, after some more experimentation, I found the issue. Basically, it goes back to the fact that when I started working on this, you didn't have it documented that you could pass properties to `dotnet pack` like you [do now](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-pack):

[code]

This sent me down the ugly winding road of generating an MSBuild file with the build script *just*

[2017-08-01 04:07] emgarten commented on #5593
Yes, the package version is read at restore time when the dependency graph is create. Pack turns the dependency graph from restore into a nupkg, using the same versions.

These are all properties in pack: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack/Pack.targets#L162-L163

`/p:RestoreRecursive=false`
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.C

[2017-08-01 04:30] #5684 closed, assigned to mishra14

[2017-08-01 04:32] #5673 closed, assigned to nobody

[2017-08-01 05:48] NightOwl888 commented on #5593
Okay - but that doesn't explain why

[code]

works when there are no `<PackageVersion>` elements in the `.csproj` file at all and there is no `/p:PackageVersion` passed into the `restore` command.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L107

Helpful, but still no replacement for proper documentation. Even if you linked to these source files f

[2017-08-01 06:09] emgarten commented on #5593
This is documented here: https://docs.microsoft.com/en-us/nuget/schema/msbuild-targets

[2017-08-01 08:14] pennywisdom commented on #5357
@mellena1 did you ever find a resolution for this? I have tried numerous options but can't get anything to resolve this.

[2017-08-01 10:04] tarurar commented on #5267
Thу same issue. Time out during publishing version update. Any workaround here?

[2017-08-01 15:45] gforceg commented on #5127
I changed mine from 1.0.0-alpha to 1.0.0 and it also worked.
But then I bumped the version a few times.
these versions all work: 1.0.0, 1.0.1, and 1.0.2
but anything >= 1.0.3 gives me the same error so I changed the version of my package to 2.0.0 and I still get the error.

This is  a real show stopper. Is this a nuget thing or a dotnet cli thing?

[2017-08-01 15:53] anangaur commented on #5267
cc: @rrelyea , @rohit21agrawal

[2017-08-01 17:39] jwittner commented on #2146
Was led to [this post](http://www.what-could-possibly-go-wrong.com/unity-and-nuget/) which finds a pathway for installing packages into Unity.

Update - After investigation the solution offered might work well for distributing libs, but it falls down when packaging Unity asset data, e.g. prefabs, as content - you end up with duplicate content. Also uninstalling content seems to have issues when tw

[2017-08-01 17:52] zhili1208 commented on #5672
this is known issue, tracking in https://github.com/NuGet/Home/issues/4413

[2017-08-01 17:52] #5672 closed, assigned to nobody

[2017-08-01 17:54] zhili1208 commented on #5671
@mishra14 loc issue

[2017-08-01 17:57] #5572 closed, assigned to zhili1208

[2017-08-01 17:59] mishra14 commented on #5671
@JackGrinningCat : Thanks for bringing this to our notice. We have a translation pipeline, which continuously inserts translations from our vendors. So fixing the string once will not do the trick.

I will ask our translation vendors to take a look and fix it in the pipeline.

[2017-08-01 18:06] zhili1208 commented on #5127
I think this is a nuget thing, @emgarten is this dup of https://github.com/NuGet/Home/issues/912?

[2017-08-01 18:08] zhili1208 commented on #4485
@jeremymeng what's the VS version you are using?

[2017-08-01 18:13] manuel-ojeda commented on #5348
@alpaix I love you.

[2017-08-01 18:17] zhili1208 commented on #3975
-MSBuildPath is only in v4, and "it does not recognize the path to Msbuild.exe" tracking in https://github.com/NuGet/Home/issues/4195. In nuget  v4.3, there is no need to use MsbuildPath, nuget can find msbuild 15 automatically.

[2017-08-01 18:39] emgarten commented on #5127
Is this project floating? I don't see any mention of that here.

[2017-08-01 18:42] alpaix commented on #5348
Thanks everyone for reporting this issue and confirming the workaround and the fix. I'm sorry this bug caused inconvenience to you. We'll be working hard to avoid this in future!

[2017-08-01 19:34] zhili1208 opened #5695 "Source name of credential Setting in NuGet.Config are case sensitive"
need to check 2.8 behavior, make sure this is not an regression

[2017-08-01 19:39] tyeth commented on #2880
Had no environment variables mentioned here, was using new .Net IDE called Rider, on ubuntu, libcurl3 was already present.

Ended up setting the IDE to use a proxy and then saved and then set to no proxy and saved.
Solved.

Thought it was a versioning issue as I'm using an old vs2015 project, but even changing the version used by project didn't help. Although it resolved a separate issue for me as

[2017-08-01 21:08] IlyaFinkelshteyn opened #5696 "NullReferenceException after VS 2017 command line started in AppVeyor"
OS: Windows Server 2016
Nuget: 4.1.0.2450

[Here](https://ci.appveyor.com/project/IlyaFinkelshteyn/nugetnullrefdemo/build/0.10.1.2) is failed build.
[Here](https://ci.appveyor.com/project/IlyaFinkelshteyn/nugetnullrefdemo/build/0.10.1.1) is happy build

Workaround to make it happy is [remove msbuild-related paths](https://github.com/IlyaFinkelshteyn/NugetNullRefDemo/blob/master/appveyor.yml#L17-L2

[2017-08-01 21:17] zhili1208 commented on #5696
Could you try nuget 4.3.0-preview3 from https://dist.nuget.org/index.html?

[2017-08-01 21:21] IlyaFinkelshteyn commented on #5696
Thanks! Seems like [the same result](https://ci.appveyor.com/project/IlyaFinkelshteyn/nugetnullrefdemo/build/0.10.1.3)

[2017-08-01 22:26] mishra14 commented on #4855
Another request: https://github.com/dotnet/cli/issues/7339

[2017-08-01 23:13] mishra14 opened #5697 "Microsoft.Build.Evaluation.Project.Save() clears empty lines from a csproj"
_From @mishra14 on August 1, 2017 23:0_

Original issue: https://github.com/dotnet/cli/issues/7280

==================================================================

## Steps to reproduce
dotnet new a console app
dotnet add package <any package>

## Expected  behavior
whitespace between itemgroups etc is preserved

## Actual behavior
All blank lines are removed

## Environment data
`dotnet --inf

[2017-08-01 23:13] mishra14 commented on #5697
I think this is an msbuild issue as [NuGet invokes msbuild API's](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.CommandLine.XPlat/Utility/MSBuildAPIUtility.cs) to read a csproj, add items/itemgroups and then save the csproj file.

[2017-08-01 23:13] mishra14 commented on #5697
_From @rainersigwald on August 1, 2017 23:9_

@mishra14 #1036 added a new argument to `ProjectRootElement.Open` to preserve the existing formatting of the file. Can you opt NuGet into it? That's what CPS did for VS-based edits.

[2017-08-01 23:13] mishra14 commented on #5697
I see. I guess NuGet can take this. I will move this issue out.

[2017-08-01 23:13] mishra14 opened #5698 "Microsoft.Build.Evaluation.Project.Save() clears empty lines from a csproj"
_From @mishra14 on August 1, 2017 23:0_

Original issue: https://github.com/dotnet/cli/issues/7280

==================================================================

## Steps to reproduce
dotnet new a console app
dotnet add package <any package>

## Expected  behavior
whitespace between itemgroups etc is preserved

## Actual behavior
All blank lines are removed

## Environment data
`dotnet --inf

[2017-08-01 23:13] mishra14 commented on #5698
I think this is an msbuild issue as [NuGet invokes msbuild API's](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.CommandLine.XPlat/Utility/MSBuildAPIUtility.cs) to read a csproj, add items/itemgroups and then save the csproj file.

[2017-08-01 23:13] mishra14 commented on #5698
_From @rainersigwald on August 1, 2017 23:9_

@mishra14 #1036 added a new argument to `ProjectRootElement.Open` to preserve the existing formatting of the file. Can you opt NuGet into it? That's what CPS did for VS-based edits.

[2017-08-01 23:13] mishra14 commented on #5698
I see. I guess NuGet can take this. I will move this issue out.

[2017-08-01 23:13] mishra14 commented on #5698
This issue was moved to NuGet/Home#5697

[2017-08-01 23:14] mishra14 commented on #5698
Dupe of #5697 opened by mistake.

[2017-08-01 23:14] #5698 closed, assigned to nobody

[2017-08-01 23:26] mishra14 commented on #5697
@rainersigwald I dont see  -
`public static ProjectRootElement Open(string path, bool? preserveFormatting);` overload.
Whats the best option for [this call](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.CommandLine.XPlat/Utility/MSBuildAPIUtility.cs#L332)?

[2017-08-01 23:28] enricoreich commented on #5557
Hello, I had a similar problem in VS 15.3preview6 and dotnet sdk 2.0.0-preview3-006890, entityframeworkcore.tools 2.0.0 (release bits) and aspnet core 2.0.0 (release bits).
Running add-migration from package-manager-console resulted in:
`"The term 'Add-Migration' is not recognized as the name of a cmdlet,.......`

but now with VS 15.3preview7 it works as expected. Maybe someone else could confirm

[2017-08-01 23:42] pranavkm commented on #5557
Yup, verified with`15.3.0 Preview 7.0 (26730.0.d15rel)` that this was fixed. Thanks @alpaix

[2017-08-02 00:20] mishra14 commented on #5644
more info from a mail thread-

[code]

[2017-08-02 01:51] mellena1 commented on #5357
@pennywisdom I never was able to figure out how to fix the CryptographicException, but using `-StorePasswordAsPlainText` as a flag when adding the repo fixed the problem. It's just not a great solution as the password is stored in plain text in the Nuget config file.

[2017-08-02 02:22] StingyJack commented on #3975
I know its not fun dealing with CLI and large choices of args, but `nuget update -self` doesnt give me v4.3.  Any idea when thats going to be out?

[2017-08-02 04:01] #4513 closed, assigned to nobody

[2017-08-02 05:11] dermeister0 commented on #3975
@StingyJack
Use following command:
[code]

The version is not marked as stable.
https://dist.nuget.org/index.html

[2017-08-02 06:04] pennywisdom commented on #5357
yeah thats the only workaround that I have been able to use as well and not keen on clear text either. I tried various things like setting permissions on key directories to no avail. Oddly I'm getting this using the Administrator account.

[2017-08-02 07:38] RJCuthbertson opened #5699 "Tab Completion of Folder Paths Containing Spaces Is Incorrect"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
Package Manager Console

NuGet version (x.x.x.xxx):
3.5.0.1484

VS version (if appropriate):
14.0.25431.01 Update 3

OS version (i.e. win10 v1607 (14393.321)):
Windows 8.1 (Version 6.3.9600)

Worked before? If so, with which NuGet version:
Unknown

## Detailed repro steps so we can see the same

[2017-08-02 09:26] albahari opened #5700 "PackagePathResolver.GetPackageDirectoryName should be virtual"
I am the author of LINQPad - a popular code scratchpad which has integrated support for NuGet. I'm in the process of upgrading LINQPad's NuGet support from NuGet 3.x to NuGet 4.x.

I've run into a blocking issue: the methods in PackagePathResolver used to be virtual in NuGet 3.x and they are non-virtual in NuGet 4.x, so my subclassed PackagePathResolver no longer compiles. I need PackagePathResolv

[2017-08-02 11:09] divega commented on #5557
Thanks @alpaix, and @pranavkm for verifying! :tada:

[2017-08-02 12:40] atanasa commented on #4781
As far as I understand, with the latest preview of dotnet cli, the restore operation is implicit, that is, you don't need to do a restore before a build operation. Is that implicit restore running as an MSBuild target?

**Is there going to be a way to do a pre-restore target that would be triggered by this implicit restore?**

[2017-08-02 14:38] rrelyea commented on #4781
don't believe we've yet addressed this issue, even with the new noop restore work in NuGet 4.3 (shipping in VS 2017 15.3).
Putting in 4.5 release for consideration on our backlog. Would love to get this kind of scenario solved.
@nkolev92 @emgarten

[2017-08-02 14:52] rrelyea commented on #5700
@emgarten - can you please advise or farm out to a more appropriate team member here.
I think we'd consider a PR for this (or alternate solutions), once we verify that aren't complications, for 4.4.

[2017-08-02 15:08] rrelyea commented on #5699
@RJCuthbertson  - Is it possible for you to try out with the latest VS release as well, so we understand if it is a VS2017 issue as well?

[2017-08-02 15:18] rrelyea commented on #3975
@StingyJack - if things go as planned, 4.3.0 will be released sometime in August 2017.

[2017-08-02 15:48] oakio opened #5701 "FileNotFoundException for pdb files, when you create nuget package with dotnet tool and custom OutDir"
## Details about Problem
When you create nuget package using `dotnet pack` command with `IncludeSymbols=true`, `NoBuild=true` and custom `OutDir` than you got an error:

`PackTask` could not found pdb-file because `TargetPathsToSymbols` incorrect.
I guess that the reason is that instead of the line in file `NuGet.Build.Tasks.Pack.targets` (see PackTask):

should be:

where `_TargetPathsToSymbols`:

[2017-08-02 15:51] rrelyea commented on #4513
@emgarten  - let's make sure to move any issues we close into the current milestone. thx.

[2017-08-02 15:57] rrelyea commented on #5697
Unsure if CLI fixes from NuGet would have a ship vehicle in 15.4... May wait until 15.5.
Happy to go ahead and do this kind of fix in 4.4, as long as we ensure we test it well now.

[2017-08-02 16:09] zhili1208 commented on #5701
@rohit21agrawal

[2017-08-02 16:25] jeremymeng commented on #4485
@zhili1208 VS 2017 15.2.  I think the project is targeting netcoreapp2.0, which isn't supported in this version.  The latest VS preview does not have this issue.

[2017-08-02 16:29] rrelyea commented on #5267
Those of you who are seeing this issue, does this fail 100% of the time, with 100% of packages?
Sounds like folks have seen failures pushing to nuget.org and myget.
Has anybody tried dotnet sdk v2 bits? (that are very close to final release)

[2017-08-02 17:00] tarurar commented on #5267
For me it fails 100% of the time for particular package. Haven't tried v2.
By the way, I've finally found which change in code brakes the nugget push. You will be surprised. Here it is: https://github.com/LykkeCity/Lykke.Service.OperationsRepository/commit/a21a04511dd595a47b98ff64e62365809423df49.

Once I make this change, the package will never be published to nuget. If I remove the implementatio

[2017-08-02 17:06] rrelyea commented on #5267
@tarurar  - have you only found 1 package that has problems? Have you tried pushing other packages?
That code change you point towards isn't in NuGet client or NuGet server ... so I have no clue how that could have broken push. Are you saying that if you build your library w/o that change, push works for the package with that library??? Please explain more.

[2017-08-02 17:10] tarurar commented on #5267
@rrelyea Yes, I have only 1 package with that problem. Other packages are being pushed successfully.
You are right, I am saying if I build my library w/o that change push works fine. Moreover, I've just discovered that issue is in changing method definition. If I add `async` to definition - it breaks the push.

[2017-08-02 17:17] rohit21agrawal commented on #5701
@oakio  could you please try the dotnet cli 2.0.0-preview2 bits? You can download it from : https://dotnetcli.blob.core.windows.net/dotnet/Sdk/release/2.0.0/dotnet-sdk-latest-win-x64.zip

We have made changes in this particular area which I believe will fix your problem.

[2017-08-02 17:17] tarurar commented on #5267
This code works fine. The package is being published successfully.
[code]

This code breaks the publication:
[code]

The only difference is in adding `async` to method definition. That's it.

[2017-08-02 17:20] rrelyea commented on #5267
@tarurar - are you sure the package is getting built successfully?
I would be very surprised if push was broken based on a code change in your DLL!!

[2017-08-02 17:24] tarurar commented on #5267
@rrelyea Yes, I'm pretty sure. I've already spent at least one day trying to find out the breaking change. Package is getting built successfully in both cases. But for second case (with `async` keyword) the publication always fails by timeout.

[code]

Just to clarify: I am using the same build script every time. Nothing changes except code.

[2017-08-02 17:28] jamiegs commented on #5267
I did quite a bit of troubleshooting on this issue 2 months ago.  What I found was I could take the same nuget package file, it would fail to push on mac and linux, but successfully push on windows.  I tried with both nexus and this simple nuget server https://hub.docker.com/r/sunside/simple-nuget-server/ to rule out a server issue, same results between the servers.

I used ngrep to view the netwo

[2017-08-02 17:31] AndreyAkinshin commented on #3324
Any updates?

[2017-08-02 17:31] sayedihashimi opened #5702 "VS hang on project open"
I was working on a project and when I tried to open the solution VS got into a hung state. I investigated the dump with @abpiskunov and it looks like NuGet restore is on the stack and maybe waiting for something.
After closing VS, and restoring the NuGet packages on the command line I was able to successfully open the project in VS.

Links to files which may help investigations.

 - Dump file `\\s

[2017-08-02 17:55] #5187 closed, assigned to rohit21agrawal

[2017-08-02 17:57] rohit21agrawal commented on #4817
let's have a discussion offline about this, but i am against this behavior. I think everything related to pack should happen after PostBuildEvent.

[2017-08-02 17:58] rohit21agrawal commented on #4465
closing as no reports in the last 6 months almost.

[2017-08-02 17:58] #4465 closed, assigned to rohit21agrawal

[2017-08-02 17:58] #4432 closed, assigned to rohit21agrawal

[2017-08-02 18:01] rohit21agrawal commented on #5688
[ ] https://github.com/NuGet/Home/issues/5655

[2017-08-02 18:04] rohit21agrawal commented on #4719
@TAGC to give you an update, i am working on fixing this issue as we speak. would you be interested in testing out private bits?

[2017-08-02 18:08] zhili1208 commented on #5702
@sayedihashimi @abpiskunov I looked at the dump file, but didn't find nuget restore on UI thread call stack.
Could you share the call stack?

[2017-08-02 18:19] mishra14 commented on #5697
Merged: https://github.com/NuGet/NuGet.Client/commit/d420ac32eeebc3109540e961c8db60a4be32c0c2

[2017-08-02 18:19] #5697 closed, assigned to mishra14

[2017-08-02 18:33] zhili1208 commented on #4485
thanks @jeremymeng unfortunately I didn't repro this on 15.2(26430.16). still need a repro to understand which variable is null.

[2017-08-02 19:04] abpiskunov commented on #5702
See Main thread.

[2017-08-02 19:26] jeremymeng commented on #4485
@zhili1208 I tried again but couldn't repro it either...

[2017-08-02 20:56] yanckst commented on #5674
Thanks for your quick answer!

@emgarten My goal is to get the assembly file and import it in my project programmatically.

I realize that my folder was missing files for finding packages with V3. My folder structure was a V2 structure. I tried finding NuGet local packages with the Visual Studio NuGet packages folder and the listing was working. So, I'm using the V2 functions for finding my local

[2017-08-02 21:12] TAGC commented on #4719
Thanks for the update, and sure thing.

[2017-08-02 21:20] #5674 closed, assigned to nobody

[2017-08-02 21:35] emgarten commented on #5700
There are two path resolvers, one for v2 and one for v3 folder formats.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/PackagePathResolver.cs

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/VersionFolderPathResolver.cs

I think they should both be made virtual as part of this.

[2017-08-02 21:42] emgarten commented on #5700
@albahari a PR for this would be great. Otherwise @rohit21agrawal would you take a look at this for 4.4?

[2017-08-02 21:51] tarurar commented on #5267
Here are the nugget packages:
1. Version 1.0.35. I am getting timeout error.
2. Version 1.0.37. Published successfully.

The only difference between them is as I mentioned here: https://github.com/NuGet/Home/issues/5267#issuecomment-319738912

[Lykke.Service.OperationsRepository.Client.1.0.35.zip](https://github.com/NuGet/Home/files/1195404/Lykke.Service.OperationsRepository.Client.1.0.35.zip)
[Ly

[2017-08-02 22:02] emgarten commented on #4781
I would like to see this happen also. I think to solve this restore will need to add its own target that then runs before or after CollectPackageReferences to allow this to get hit in VS. From the command line the CollectPackageReferences target is not there for all project types, so we cannot rely on only that target.

It should be a relatively simple fix, it just needs a good name and someone to

[2017-08-02 22:15] davkean commented on #4781
We should push CollectPackageReferences into NuGet.

[2017-08-02 23:07] emgarten commented on #4781
That's a good idea, is it part of the NETCore SDK currently?

[2017-08-02 23:16] davkean commented on #4781
https://github.com/dotnet/project-system/blob/708af7ef0b285f85fcc624e0b5c1a8ab193ea573/src/Targets/Microsoft.Managed.DesignTime.targets#L272

[2017-08-02 23:31] rohit21agrawal commented on #4719
@TAGC i have a private [nupkg ](https://1drv.ms/u/s!AqkZZxvzm4PPhIU0UxTHuxedCuNzgw)with pack fixes.

What you need to do to try it out is use the latest dotnet cli which you can download from :  https://github.com/dotnet/cli/tree/release/2.0.0

Once you have downloaded that, add the above nupkg as a package reference in your project, restore using the dotnet.exe that you downloaded from the above

[2017-08-02 23:32] rohit21agrawal commented on #4719
tagging @brettfo too since he filed the original bug, in case you want to try the fix too.

[2017-08-02 23:55] emgarten commented on #4781
Thanks @davkean! It looks like that could be copied to NuGet's targets, either the SDK or NuGet would override the other, but the result would be the same. That would make this much easier.

[2017-08-03 00:09] jainaashish commented on #5702
Dump shows there was a commandline restore in progress where as you said you loaded the solution in VS which fault into this hung state. Both these things don't add, can you tell the specific scenario? or if there was something specific with this solution (may be some specific targets which calls into NuGet restore on sln load...)

And do you have a consistent repro of it? and mind sharing the rep

[2017-08-03 00:23] emgarten commented on #4967
https://github.com/dotnet/project-system/blob/708af7ef0b285f85fcc624e0b5c1a8ab193ea573/src/Targets/Microsoft.Managed.DesignTime.targets#L272

[2017-08-03 00:27] zhili1208 commented on #5702
I can repro it by open the solution from \\scratch2\scratch\sayedha\sidewafflev2.zip, looks like "msbuild /t:restore" is triggered from VS UI.

[2017-08-03 01:14] alx9r commented on #5654
That works.  Thank you @emgarten.

![image](https://user-images.githubusercontent.com/11237922/28901627-6f01036e-77ae-11e7-8f44-645e131d021f.png)

[2017-08-03 01:14] #5654 closed, assigned to nobody

[2017-08-03 01:30] alx9r opened #5703 "How can I detect the Nuget Version used by Visual Studio 2015 programmatically?"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI, MSBuild

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate):

VS version (if appropriate): 14.0.25431.01 Update 3

OS version (i.e. win10 v1607 (14393.321)): Windows 8.1 (6.3.9600)

Worked before? If so, with which NuGet version:

## What I know how to do

Help => About in

[2017-08-03 02:47] RJCuthbertson commented on #5699
It sure is. I installed VS2017 on my other box (Windows 10) and made sure everything was up to date, and I got it to do this on "Program Files" and "Documents and Settings" - when there's more than one space it cuts off at the last one in the path.

[2017-08-03 03:08] emgarten commented on #5703
You could search for nuget dlls in the VS 2015 install folder to find the VSIX location, then look at the assembly version.

From an extension in VS you could import IVsPackageInstaller and then check which assembly the instance returned came from, then check the assembly metadata on that.

[2017-08-03 03:19] emgarten commented on #3945
Since shipping 4.0.0 there have been very few requests for direct project.json restore.

[2017-08-03 03:19] #3945 closed, assigned to nobody

[2017-08-03 03:26] #2163 closed, assigned to zhili1208

[2017-08-03 03:33] rohit21agrawal commented on #3043
won't fix since project.json is no longer supported by dotnet pack.

[2017-08-03 03:33] #3043 closed, assigned to rohit21agrawal

[2017-08-03 05:48] nkolev92 opened #5704 "Disabled sources still used by DotNet.exe or msbuild.exe"
In 4.3 we introduced a regression where disabled sources are not considered by NuGet.exe/MSBuild.exe/dotnet.exe

**VS is NOT affected**
//cc @rrelyea @emgarten

[2017-08-03 05:50] radjivF opened #5705 "Nuget client tools not found"
I have install Nuget with brew ``` ==> Pouring mono-5.0.1.1.sierra.bottle.tar.gz
Error: The `brew link` step did not complete successfully
The formula built, but is not symlinked into /usr/local
Could not symlink share/man/man5/mdoc.5
/usr/local/share/man/man5 is not writable. ```

And I try ```brew link mono
Linking /usr/local/Cellar/mono/5.0.1.1...
Error: Could not symlink share/man/man5/mdoc.5

[2017-08-03 06:41] emgarten commented on #5705
This seems like an issue with the brew, can you log an issue on the owner?

[2017-08-03 07:25] emgarten commented on #4529
How is Rider using these flags and how is it broken?

Looking through the NuGet code these aren't really used, I see just one mention of SharedFramework in regards to pack.

[2017-08-03 07:32] AndreyAkinshin commented on #4529
@emgarten, it threw an exception. If it matters, I can check it and paste the full exception stacktrace.
However, the most important thing is why `SharedFramework` is skipped here? Will it be ok to add an additional `DeclareOnOff` in `LibraryDependencyTypeKeyword`?

[2017-08-03 07:51] emgarten commented on #4529
My current thinking is that most of these flags should be deleted since they aren't used. Restore isn't using it that I see unless I'm missing something.

The stack trace would help. I'm not sure why this flag is skipped, but I'm also not sure how this could impact anything.

[2017-08-03 10:02] oakio commented on #5701
@rohit21agrawal Yes, this bug was fixed in dotnet 2.0.0-preview3-006912

[2017-08-03 10:24] psmolkin opened #5706 "The performance of "nuget pack" decreases with increasing levels in the source paths"
I have a project that contains about 1800 files. It is in the directory, i.e. c:\source
Packing with `nuget.exe pack test.nuspec -NoPackageAnalysis` takes about 8 seconds.
When I add one more level to the source path, for example c:\Repos\2 , the packaging time increases to 9 seconds. But the more levels the more time increases:
c:\source\2 - 9sec
c:\source\2\3\ - 10sec
c:\source\2\3\4\ - 12sec
c:

[2017-08-03 10:56] tarurar commented on #5267
@rrelyea, It seems I found the issue. The point is the aforementioned example (https://github.com/NuGet/Home/issues/5267#issuecomment-319738912) adds 26th async method to the package. If I remove any of existing async methods and add this one, the total number of async methods will be 25 and the package will be published successfully.

Moreover, have a look at the screenshot. This method is not as

[2017-08-03 11:11] jamiegs commented on #5267
@rrelyea @tarurar I'm not sure if you guys saw my response above about differences on linux vs windows, but I'm wondering if it's actually an issue with size of payload rather than contents. Maybe adding the 26th async method just pushes it over the limit.

[2017-08-03 11:14] tarurar commented on #5267
@jamiegs Maybe. I've just realised, I have a lot of code in package generated with autorest. And it has a lot of async methods. So, at least it means the magic number is not 25 ))), but more.

[2017-08-03 12:08] tarurar commented on #5267
@rrelyea, @jamiegs Finally, it seems there are some limits for assemblies inside the package but not for the package itself. I moved out the autorest generated code to another Core assembly, added it as a dependency and the nuget package now is being published successfully.

This approach makes assemblies and amount of async and/or regular methods in each assembly lesser. I believe it is a key for

[2017-08-03 12:10] AndreyAkinshin commented on #4529
Here is the original Rider issue: https://youtrack.jetbrains.com/issue/RIDER-3875
There are several different stack traces from different people.

[2017-08-03 13:50] mellena1 commented on #5357
Yeah I saw the same behavior. I was using the admin account as well, and even tried to give permissions to a bunch of directories and nothing changed. The most I discovered was that it was a problem with encrypting the password due to not having access to the private keys in wherever Windows stores them, but changing permissions there did nothing.

[2017-08-03 14:18] TAGC opened #5707 ""nuget sources update" removes all NuGet sources"
## Description

I have a bitbucket pipelines build that failed after I upgraded from a Docker image based on microsoft/dotnet:1.1.2-SDK to microsoft/dotnet:2.0-SDK.

I found that it was caused by this command:

[code]

I ran the same set of commands within Docker containers based on both images, and found that it only failed in one. The one that this command **failed** in has NuGet version **2.8.7

[2017-08-03 14:22] TAGC commented on #5707
I realise that these are both old versions of NuGet; however, they're the latest versions used by Debian Jessie and Stretch respectively, which Microsoft's .NET Core SDK Docker images are based on.

That means anyone trying to install NuGet on even the latest versions of these Docker images may face this issue.

[2017-08-03 15:13] #5701 closed, assigned to nobody

[2017-08-03 17:21] zhili1208 commented on #5702
it's caused by package "WaffleBuilder.0.0.1-beta" which triggered msbuild restore from VS UI, I don't think msbuild restore during open solution can work, we can investigate more.

[2017-08-03 17:33] zhili1208 commented on #5707
there are lots of setting issue in nuget 2.x, we should ask them to update docker images to 4.X

[2017-08-03 17:34] zhili1208 commented on #5706
@rohit21agrawal

[2017-08-03 18:18] TAGC commented on #5707
I'd appreciate that, thanks.

[2017-08-03 18:41] zhili1208 opened #5708 "Fix 4.4 bugs"
Targeting following bug fixes:

 - [x] https://github.com/NuGet/Home/issues/5267 Nuget push fails with timeout for some packages
 - [x] https://github.com/NuGet/Home/issues/5718 VS Running the restore command for package.config when Restore is disabled displays incorrect message
 - [x] https://github.com/NuGet/Home/issues/5659 VS; Running the restore command when Restore is disabled displays a con

[2017-08-03 18:42] zhili1208 commented on #5708
Targeting following bug fixes:

 - [ ] https://github.com/NuGet/Home/issues/5267

[2017-08-03 19:01] emgarten commented on #4529
Thanks, that helps. Yes it looks like this flag should be added. A PR would be great.

SharedFramework here refers to the CLI assemblies shared by portable NETCoreApp projects, dependencies were set to type=platform and build read that, not nuget. That has seen been deprecated and this can no longer be set on PackageReference elements. So it seems incorrect if Rider is using this flag for UWP apps

[2017-08-03 19:15] AndreyAkinshin commented on #4529
Ok, will do it soon.

Thank you very much for the info. The original issue was reported in December 2016. I'm not completely sure that the problem is still here, but I don't want to remove my super hack without the SharedFramework fix in NuGet. I will investigate how UWP works now.

[2017-08-03 19:37] #5655 closed, assigned to rohit21agrawal

[2017-08-03 19:42] rrelyea commented on #5704
As discussed, please move forward with a fix in release-4.3.0-rtm and dev.

We plan to include the fix in NuGet.exe 4.3.0.
We will talk with the CLI team about NetCore SDK 2.0.?
Since msbuild is broken, we'll have a fix ready if needed for 15.3.?

[2017-08-03 19:45] emgarten opened #5709 "Add different msbuild task UserAgent strings for netcore vs desktop"
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks/RestoreTask.cs#L26

The current agent is `NuGet MSBuild Task`

This should be split into `NuGet .NET Core MSBuild Task` and `NuGet Desktop MSBuild Task`

This will allow give a better indication of `dotnet restore` usage vs `msbuild /t:restore` usage.

[2017-08-03 19:50] emgarten opened #5710 "Restore fails when managed projects reference native projects"
NuGet currently treats native as incompatible with .NET projects to avoid bringing in assets from `lib/native/`.

This breaks scenarios where a managed project depends on a vcxproj, even when the vcxproj does not contain PackageReferences.

This should be handled better by restore, or there should be metadata that can be added to the project reference to make this easier to workaround.

[2017-08-03 19:51] rohit21agrawal commented on #4719
@TAGC I am holding off merging my PR for your validation...let me know at the earliest when you can get to it.

[2017-08-03 20:35] #5704 closed, assigned to nkolev92

[2017-08-03 20:37] nkolev92 commented on #5704
@rrelyea Done.
Merged in 4.3.0-rtm and dev.

[2017-08-03 21:32] prosenba commented on #5620
The issue is resolved now,  the issues had to do with directory structure and how to build server was trying to pull the nuget packages in from the wrong directory.
Thanks for suggestions.

[2017-08-03 22:06] joelverhagen opened #5711 "Client should ignore dependencies with empty ID"
Related server side issue:
https://github.com/NuGet/NuGetGallery/issues/4494

Observe this registration blob:
https://api.nuget.org/v3/registration2-gz/baseline/index.json

Search for `"id": ""` (or `"id":""` if you don't have a JSON formatter in your browser).

Now look at the .nuspec for this package:
[code]

Client fails to install this package since it does not expect that empty string ID. I'v

[2017-08-03 22:15] TAGC commented on #4719
It seems to be working, yeah. I will follow up with what I did to check in a second.

[2017-08-03 23:01] TAGC commented on #4719
I created a reproducible setup to test the behaviour of `dotnet pack --include-source` with and without the NuGet package you linked me.

Both setups are executed in Docker containers based on microsoft/dotnet:2.0-sdk. In the case where I reference the NuGet package, it places `SomeDir` and its contents where they ought to go.

## Broken

[code]

**Output**

[code]

## Fixed

[code]
**Output**

[c

[2017-08-03 23:21] emgarten commented on #5620
Glad to hear your issue is resolved @prosenba

[2017-08-03 23:21] #5620 closed, assigned to nobody

[2017-08-03 23:33] rohit21agrawal commented on #4719
@TAGC considering this as a validation sign off from you, going to merge changes.
thanks for your feedback and effort you put in for testing this!

[2017-08-03 23:34] #4719 closed, assigned to rohit21agrawal

[2017-08-04 00:33] #5700 closed, assigned to rohit21agrawal

[2017-08-04 01:24] rohit21agrawal commented on #5502
@nguerrera @rainersigwald in the outer build , itemgroups like compile and content do not return any elements...is that by design?

I don't want to include these itemgroups in the inner build because everything might get included twice which might not be the intention of the user. For eg:

[code]

This will cause all *.cs files to be included twice for projects with two target frameworks, which mi

[2017-08-04 01:33] nguerrera commented on #5502
@rohit21agrawal I believe the issue is that the magic globbing that happens is only done in the inner build. cc @dsplaisted

You should be able to work around it by disabling that and taking over the globbing yourself:

[code]

[2017-08-04 01:34] nguerrera commented on #5502
There should be a bug on the SDK for this. I don't know that it was by design.

[2017-08-04 01:39] rohit21agrawal commented on #5502
@nguerrera if you or @dsplaisted can find the sdk bug and link it with this one, that would be great for tracking purposes

[2017-08-04 07:09] altinoren commented on #5398
Here's our use case.

At a client, we're using a UNC share in local domain to `nuget init` from one project and to `nuget restore` from another. We're moving the consumer project to Azure through Team Services CI/CD scenario and wanted to move the local nuget drop folder to an Azure File Share so that custom packages can be restored during Team Services build.

We already have the UNC path working

[2017-08-04 08:15] weitzhandler commented on #962
If you're using .NET Standard, try installing the [`Microsoft.NETCore.Portable.Compatibility`](https://www.nuget.org/packages/Microsoft.NETCore.Portable.Compatibility) package, and/or adding the `PackageTargetFallback` element to your _csproj_ file, example:

    <PropertyGroup>
      <TargetFramework>netstandard1.4</TargetFramework>
      <PackageTargetFallback>$(PackageTargetFallback);portable-w

[2017-08-04 08:53] Kekstas commented on #3787
Have tried  latest NuGet Version 4.3.0.4, and it is not adding missing content files to project.
What plans is about this feature?

[2017-08-04 09:58] wasaczd commented on #5614
But why env var / property 'Version' is considered at all in nuget? It makes no sense - each component has its own version specified either in <PackageReference> tag in .csproj or in <package> tag in packages.config or in .json.

[2017-08-04 17:43] emgarten commented on #5614
@wasaczd `Version` is used to set the package version.

https://docs.microsoft.com/en-us/nuget/schema/msbuild-targets

[2017-08-04 17:59] zhili1208 commented on #5696
I can repro this, I suspect the VS API ISetupInstance can't find msbuild path in AppVeyor, need more invesitgation

[2017-08-04 18:32] anangaur opened #5712 "Framework Conditioned warning properties are not respected for multi-targeting projects"
From: https://developercommunity.visualstudio.com/content/problem/88109/cannot-suppress-nu1701-from-project-properties.html

Repro steps:
1. Create a new NetCore 2.0 Console App
2. Multi-target to netcoreapp2.0;net461:
`   <TargetFrameworks>netcoreapp2.0;net461</TargetFrameworks>`
3. Add a NuGet reference to a net 461 compat package like RestSharp
4. Build -> Show 2 warnings which seems to be anot

[2017-08-04 18:42] emgarten commented on #5712
A restore is needed to update the suppressions, a rebuild *should* have done that however. @mishra14 would you try this out?

[2017-08-04 18:48] mishra14 commented on #5712
@emgarten @anangaur and I discussed this.

It seems that we do not get the NoWarn property from msbuild. Possibly because the property is added with multiple conditions that @anangaur will post here.

[2017-08-04 19:11] IlyaFinkelshteyn commented on #5696
Oh, thanks! I actually have a hard time to repro this on my local machine, though `vcvars32.bat` updates  `path` variable the same way. This maybe something special to our build worker image, any hint what can I try is greatly appreciated.

[2017-08-04 19:23] mishra14 commented on #4034
@eroller : As of 15.3 release, you will be able to make the choice to treat downgrade warnings as errors for package reference projects.

You can add the following to your csproj file -

[code]

This will make the downgrade warning as an error in your build.

[2017-08-04 19:38] maartenba commented on #5330
Any chance this can be added? Would be a troubleshooting life saver!

[2017-08-04 21:23] emgarten commented on #5330
Single action sounds like a good scope for this. Ex: 1 solution restore, 1 install from the UI across all projects in the solution.

[2017-08-04 21:36] anangaur commented on #5712
The csproj file reads like the following:

[code]
Issues:
1. This should not add warnings under conditions: https://github.com/Microsoft/VSProjectSystem/issues/241

2. [This bug] Even with the current conditions, the warnings should be suppressed **but it is not**.

[2017-08-04 21:49] jonkerr commented on #5348
None of the above workarounds work for me.  Package Manager Console Host Version 4.2.0.2457, VS 2017 Version 15.2 (26430) Release

[2017-08-04 22:46] zhili1208 commented on #5696
one workaround you can try, use "nuget restore -MsbuildPath "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Bin", ask nuget to find msbuild from defined path, it should skip the whole discovery process.

[2017-08-04 23:12] IlyaFinkelshteyn commented on #5696
That [works](https://ci.appveyor.com/project/IlyaFinkelshteyn/nugetnullrefdemo/build/0.10.1.4). I have what to propose to our customers who hit this, so we are good. Thank you!
I would still made this error a little bit less generic :)

[2017-08-04 23:42] #5325 closed, assigned to jainaashish

[2017-08-05 04:39] tintoy commented on #4767
Bump, bump - anybody have time to look at this? I'd be willing to submit a PR if that would help. It's pretty annoying to use at the moment :-)

[2017-08-05 04:42] tintoy commented on #4767
Ah, I see - turns out this was independently discovered and fixed in #5697. Close enough :)

[2017-08-05 04:42] #4767 closed, assigned to nobody

[2017-08-05 06:48] bytebuilder26 commented on #3667
Hi @Rivierg,
I am running into the same issue when trying to use neo4j in a xamarin forms mobile app.

Were you able to find a workaround for this? any ideas that may work?
thanks!!

[2017-08-05 08:09] maartenba commented on #5330
Yep exactly that. Helps correlate an entire command that performs multiple actions against the server.

[2017-08-05 12:16] trondhindenes commented on #5607
Yeah, I have looked into this a bit more. Will post repro steps/details when back in the office

[2017-08-06 19:31] Jetski5822 commented on #5434
Orchard Core is 120 project and on my Surface Pro 3 i7... its like watching ice melt.... sooooo slow, and then you do something, and the whole process starts again. Id say, it takes 5-10 minutes for nuget to restore... ive tried Git Clean -fxd, wiping all nuget caches, reinstall VS....

Total agreement with @breyed - even if nothing changes it just starts again. Really hope newer versions solve th

[2017-08-06 21:15] Furynation commented on #5052
I just encountered this as well. Running apt-get install libcurl3 addressed the issue for me. Thanks @KaBaJIeP!

[2017-08-07 03:21] SupporterMan opened #5713 "NuGet locals command should allow deleting specific packages from NuGet global packages folder"
## Details about Problem
I have a nuget package that want to remove it from my project and I also want to clear its local global cache from userprofile\.nuget\package. According to the manage package document, I only could use "nuget locals global-packages -clear" command to clear all global caches, not a specific one. Otherwise, I need to navigate to the .nuget\packages path in file folder and de

[2017-08-07 03:31] anangaur commented on #5713
cc @emgarten The following seem like repeated asks:

- nuget locals global-packages -clear **-packages {list of packages}**
- nuget locals global-packages -clear **-project {path to project file}**

In the 2nd case it clears all packages that are directly referenced in the project.

[2017-08-07 03:45] emgarten commented on #5713
Looks very useful. It would also be nice to prune everything not in a solution, or older than a certain time.

[2017-08-07 05:06] neolib commented on #5713
This win my vote. It should be very useful to remove older packages than just clear all of global cache.

[2017-08-07 08:10] AndreyAkinshin commented on #4529
@emgarten https://github.com/NuGet/NuGet.Client/pull/1620

[2017-08-07 09:04] JuergenGutsch commented on #4401
Currently it works using VS2017 13.3 preview, but not using `dotnet restore`. It seems VS handles packages.config separately.

I have a mixed solution where I need to build on a build server without VS installed.
`dotnet restore` runs without an error ('silently') but doesn't restore on packages.config based projects. If I use the an old msbuild based restore, it fails on the .NET Core projects.

[2017-08-07 11:17] Sam13 commented on #5611
@emgarten Thanks for the clarification. That's sad. As I said the ordering of the sources should be optional. I'm not familiar with the source - but is there such an effort to implement that?

Sure I try to avoid that but this problem is out of my hand since everybody can publish to the official NuGet feed anytime. I guess most of the people who use a private feed will need to query the official o

[2017-08-07 14:14] ChickJ commented on #5676
This issue bit me today. All my project `<PackageOutputPath>` properties point to the same directory outside my source tree.

Relevant section in `nuget.client/src/NuGet.Core/NuGet.Build.Tasks.Pack/Pack.targets:71`
[code]
I believe that one should err on the conservative side when performing destructive actions. Especially when `AfterTargets="Clean"` injects the deletion behind the scene.

Update:

[2017-08-07 17:04] rrelyea commented on #4401
dotnet restore should work fine with any non-packages.config NuGet mechanism: package reference (for both netcore sdk based projects and old style csproj) or project.json (uwp-style).

I don't recall why I retitled this bug to say it doesn't work packagereference (for old style csprojs).

Today, if you'd like to use a command line restore for a solution that includes packages.config based projects

[2017-08-07 17:06] rrelyea commented on #4401
We'd love to hear more comments/feedback on this. However, right now we don't plan to change this behavior, so closing the issue.

[2017-08-07 17:06] #4401 closed, assigned to nobody

[2017-08-07 17:38] #5564 closed, assigned to alpaix

[2017-08-07 18:04] mishra14 commented on #5713
@SupporterMan @neolib Thanks for reporting this request. We will consider this request, when possible.

[2017-08-07 18:12] #4529 closed, assigned to emgarten

[2017-08-07 18:26] nkolev92 commented on #5703
@alx9r Does the above answer satisfy your needs?
Thanks.

[2017-08-07 18:38] zhili1208 commented on #5267
@tarurar I tried latest CLI to push Lykke.Service.OperationsRepository.Client.1.0.35.zip on Mac to nuget.org and myget. it works well.

this issue might be already fixed in latest CLI.

Please verify that.
[code]

[2017-08-07 18:39] emgarten commented on #5330
I think this would be a great feature, I can provide help on where this id could be passed around if someone else is interested in creating a PR for this.

For PackageReference restore SourceCacheContext is created once for each restore and passed all the way to the http client: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/SourceCacheContext.cs

For packages.config

[2017-08-07 18:53] maartenba commented on #5330
Thanks, Justin! Just to test the waters, would it make sense to implement this as a cookie instead? E.g. first request of the session gets a cookie from the server, then passes it to the server on subsequent requests?

[2017-08-07 18:58] emgarten commented on #5330
@maartenba what is the benefit of having the server provide the id instead of using a new GUID? Would the server combine multiple sessions if it wanted to?

[2017-08-07 19:00] maartenba commented on #5330
Or add additional info into the cookie. But session header feels cleaner and leaner.

[2017-08-07 19:05] emgarten commented on #5330
@joelverhagen what would fit best with the current protocol?

[2017-08-07 19:26] joelverhagen commented on #5330
I love the idea.

Cookie seems like a close fit but has implementation complexities. For example, in .NET if you want to have a cookie to group a sequence of HTTP requests within a single UI action, I believe you would have to clear the `CookieContainer` of the cookie after each operation or re-instantiate the `HttpClient`. Cookies have too much "automatic" whereas this feature we want granular co

[2017-08-07 19:42] joelverhagen opened #5714 "[Idea] Enhance "available updates" experience to show more critical updates"
Today, the package manager UI in Visual Studio shows all available updates in a single number:

![image](https://user-images.githubusercontent.com/94054/29042460-cfd7419c-7b6b-11e7-9475-cce069ecbc20.png)

However, I think **some "version transitions" are more important than others** and should be show as a separate count, a la a red number next to the blue number.

## Depending on an unlisted pack

[2017-08-07 19:52] rohit21agrawal commented on #5502
This issue was moved to dotnet/sdk#1479

[2017-08-07 19:52] #5502 closed, assigned to rohit21agrawal

[2017-08-07 20:51] karann-msft commented on #5642
@rrelyea and I triaged this today.

[2017-08-07 20:58] karann-msft commented on #5640
Having the download button always visible for every package will clutter the list box UI.
All users, sighted or not, will find full details about the selected package in the details pane on the right. In this case, they see an enabled install button that serves the same purpose as the install button (visible on hover) in the item.

[2017-08-07 20:58] #5640 closed, assigned to nobody

[2017-08-07 21:11] karann-msft commented on #5641
@rrelyea and I triaged this today.
Please do the following:

1. change the title of the dialog from "Preview" to "Preview Changes"
2. remove "Review Changes" and the space that it takes up :)

[2017-08-07 21:16] mungojam opened #5715 "There is no warning when using code from indirect package reference leading to potential runtime errors"
There is a fairly simple case in the new PackageReference world where a runtime error can occur where it could be prevented or flagged by maybe msbuild or the compiler. It comes about because we can happily call code that is in indirectly referenced packages, not just in the top level ones.

Detailed Scenario:

3 packages: PackA, PackB and PackC (all .net standard 1.4 in my case)

One app: App1 (.

[2017-08-07 21:49] natemcmaster opened #5716 "GetRestoreDotnetCliToolsTask fails when missing version metadata"
When a PackageReference is missing "Version", it fails gracefully with something like

When DotNetCliToolReference is missing "Version", it fails completely with an ArgumentNullException. This breaks our ability to use the `/t:GenerateRestoreGraphFile` target to example a repo's restore graph for issues.

### Repro
[code]

`dotnet restore`

### Result
[code]

### Details
_NuGet product used:_ dotn

[2017-08-07 21:56] rohit21agrawal commented on #5016
Looking at perfview Etl logs, i was able to confirm that this regressed as a result of : https://github.com/NuGet/NuGet.Client/pull/909

I will talk to @dtivel tomorrow about possible resolution strategies.

[2017-08-07 22:40] emgarten commented on #5601
Fixed with https://github.com/NuGet/NuGet.Client/pull/1585

[2017-08-07 22:40] #5601 closed, assigned to nobody

[2017-08-07 22:40] nkolev92 opened #5717 "Investigate adding timestamps to logs in PMC/ PackageManager Output"
This would make the logging more meaningful.

/cc
@emgarten