[2015-12-10 19:19] yishaigalatzer commented on #1821
Closing as we are tracking this discussion in #1822

[2015-12-10 19:19] #1821 closed, assigned to nobody

[2015-12-10 19:22] yishaigalatzer commented on #1822
I'm trying to understand what doesn't work for you in the current nuget workflow:
1. Create a temporary package (typically versioned as pre-release)
2. Put it in a local folder
3. Add the folder to the local nuget.config file in the project folder
4. Build
5. Stabilize the package and push it to a public server (nuget.org or internal company server)
6. Use the public server feed in your project.

[2015-12-10 19:23] yishaigalatzer commented on #1529
We fixed quite a few of these isues in NuGet 3.3. Please open a new bug if you still see it in NuGet 3.3

[2015-12-10 19:23] #1529 closed, assigned to nobody

[2015-12-10 19:26] yishaigalatzer commented on #1597
We fixed quite a few of these isues in NuGet 3.3. Please open a new bug if you still see it in NuGet 3.3

[2015-12-10 19:26] #1597 closed, assigned to nobody

[2015-12-10 19:26] jouni-kantola commented on #1822
Using a local folder as NuGet source does definately solve feature request #1821.

What I'm looking for in this feature request is to be able to not using a NuGet feed at all, but instead using alternate package sources. We create one repo per NuGet package, which would be great to have as package source, since we get an easy workflow around versioning.

[2015-12-10 19:27] drieseng opened #1825 "ContentFiles feature is not extensible"
The ContentFiles feature only provides specific support for adding content to c# and vb projects (with fallback to the "any" folder for other language projects).

Why wasn't value of the (MSBuild) **Language** property used to determine the folder name from which to add files ?
This way any language project could be supported.
The folder names would then just have to match the value of that proper

[2015-12-10 19:30] yishaigalatzer commented on #1822
So the goal is to piggy back on github instead of creating your own server? Or is there something else? NuGet already provides a pretty simple workflow for versioning, so I'm trying to understand if what is blocking you is the capability to easily push packages to a 3rd party (private or public) feed without having to invest in setting up a server?

[2015-12-10 19:31] yishaigalatzer commented on #1572
@jkarsrud ping
1. Does this still repro with NuGet 3.3?
2. If it does are you able to provide a repro project?

[2015-12-10 19:33] yishaigalatzer commented on #1562
This was fixed by @ericstj and friends :)

[2015-12-10 19:33] #1562 closed, assigned to nobody

[2015-12-10 19:36] jouni-kantola commented on #1822
Yeah, I'd guess you can call it piggy backing. As long as the wrapping git endpoints supports referencing to specific versions, I guess any git source could be used. Where I'm coming from it's GitHub, but I guess other git setups supports this as well.

We have private NuGet feeds already, so the investment has already been made. What we think is a pain is the versioning. With npm and git you do i

[2015-12-10 19:40] yishaigalatzer commented on #1822
We (well a community member did) add a simple patch support for packing so you can pretty much do the same in NuGet (unless again I'm missing something)

NuGet Pack -Suffix beta1234
Then push the package to a server, you can also use a public offering like myget or VSO that provides private feeds

[2015-12-10 19:43] yishaigalatzer commented on #1825
The feature is actually extensible, because that portion is done outside of NuGet by the msbuild task. and the intent it support more than just language (e.g. support specific language versions like CS6 if that need ever arises).

I think your suggestion makes sense, and I'm adding the owner of the msbuild task, to see if we can update it.

Since F# is not yet officially supported (but it will) th

[2015-12-10 19:47] #1819 closed, assigned to nobody

[2015-12-10 19:50] yishaigalatzer commented on #1824
Also can you update NuGet to 3.3, we did fix a hanging issue in the powershell console (when writing with colors) so it _might_ be related

[2015-12-10 19:51] yishaigalatzer commented on #1812
I'm moving this to the discussions milestone, I'd like to gather more feedback before determining what do to about it

[2015-12-10 19:54] yishaigalatzer commented on #1804
Apparently this comes from our localization source which is not open sourced yet (not even sure why).
Can we update: $/DevDiv/Offcycle/WPT/NuGetVisualStudio/Main/ReferenceAssemblies/NuGet/extension.vsixlangpack

[2015-12-10 19:57] yishaigalatzer commented on #1800
What do you mean by `deployed in VSTS` what exactly is your package server?

[2015-12-10 20:01] joshlrogers commented on #1800
@emgarten the nuspecs do contain the leading 0 so for instance .01

@yishaigalatzer VSTS does the packaging and deployment of our Nuget packages to an Azure Web App that hosts the NuGet server and packages.

[2015-12-10 20:10] yishaigalatzer commented on #1810
The real answer here is that you can't 100% rely on restore to work based on the fact that you have the packages in the folder. The restore process might require additional packages that are not actually referenced at the end (known as intermediate packages).

The realistic answer to solve this problem is to add a local feed (and remove remote feeds) when restoring offline. We are thinking about i

[2015-12-10 20:12] yishaigalatzer commented on #1789
Hey @petermorlion  did you have a chance to look at the suggestions?

[2015-12-10 20:18] yishaigalatzer commented on #1799
This should work with NuGet 3.3 - run nuget.exe /updateself to overwrite the existing nuget 2.8.5 (although there is a minor bug in update for *.sln, that is fixed here - http://www.myget.org/F/nugetbuild/api/v2/package/NuGet.CommandLine/3.4.0)

Generally new version of nuget.exe are available in https://dist.nuget.org/index.html or in the nuget.commandline package on nuget.org.

[2015-12-10 20:19] yishaigalatzer commented on #1790
Hey @jonne I'm assuming things work for you now. But just to let you know we just updated to DNX RC1 so you will need to move up to that version of DNX

[2015-12-10 20:23] yishaigalatzer commented on #1800
What kind of a server is running on that web app? We would like to figure out a repro for this...

Timing wise - I don't know that we can offer a quick fix, but I was wondering why are you using such version numbers, and can you quickly work around it, but using simple 0.1 instead?

[2015-12-10 20:28] #1788 closed, assigned to nobody

[2015-12-10 22:15] jcoder76 commented on #1499
I know this is a closed issue, but is there a workaround for this so I don't have to change the name and still get NuGet to add a reference to specific DLL files ending in .Resources.dll?

[2015-12-10 22:25] yishaigalatzer commented on #1499
Let me ask around. But I think the easiest way to achieve it is to use a target file.

[2015-12-10 22:56] rchande opened #1826 "API for Portable to discover available .NET Standard versions"
For .NET Standard, we're no longer going to do registration within VS for Portable, so we'll need an API from NuGet that returns the available set of standard versions and the platforms (TFMs?) covered by each one.

Related to https://github.com/NuGet/Home/issues/1725.

[2015-12-10 23:16] pawchen commented on #1810
Could I achieve this without modifying upstream script/config?

[2015-12-10 23:23] yishaigalatzer commented on #1810
I don't think you can reliably do it unless you run the build steps without restore

[2015-12-10 23:39] yishaigalatzer commented on #1462
ping, is this still an issue?

[2015-12-10 23:41] alpaix commented on #1790
Fixed with nuget/nuget.client@fa21082c74d22e14c2b04701b52dedfa8716e087.

[2015-12-10 23:41] #1790 closed, assigned to alpaix

[2015-12-10 23:41] yishaigalatzer commented on #1441
Heard no response, and we don't have a repro. Feel free to comment with more information here, for re-opening or helping you out

[2015-12-10 23:41] #1441 closed, assigned to nobody

[2015-12-10 23:43] yishaigalatzer commented on #1143
@wanghaolu can you please update to 3.3, and tell us if this is still an issue?

CC @joyhui

[2015-12-10 23:46] yishaigalatzer commented on #1526
ping. We also released nuget 3.3 in between with a lot of bug fixes, I'm wondering if your scenario has improved and if not can we get a repro project?

[2015-12-10 23:47] yishaigalatzer commented on #1548
dnxcore50 was removed from PCL7 this should be resolved now

[2015-12-10 23:47] #1548 closed, assigned to nobody

[2015-12-10 23:47] yishaigalatzer commented on #1615
ping

[2015-12-10 23:48] #1224 closed, assigned to nobody

[2015-12-10 23:49] yishaigalatzer commented on #1658
@bmeyers43 we completely agree, and we removed this option in Visual Studio 2015 - NuGet 3.X

[2015-12-10 23:49] #1658 closed, assigned to nobody

[2015-12-10 23:51] yishaigalatzer commented on #1651
@fknx pinging to see if you are still feeling this pain with NuGet 3.3?

[2015-12-11 00:10] yishaigalatzer commented on #1669
Thanks for getting into the details, it wasn't immediately obvious to me from the onset how this was confusing. So I see your point, and given than this is indeed a relatively rare case. I think we should keep the NuGet feature as is. Modifying it means that we are creating a new package convention that will only work for new nuget clients, which will create IMHO more trouble than value for this c

[2015-12-11 00:10] #1669 closed, assigned to nobody

[2015-12-11 00:30] yishaigalatzer commented on #1685
Thanks for submitting this issue. I look at the PR as well, and I have a couple of notes and issues with it.

Ultimately the question here is if .NET proper is going to start supporting long paths, which makes NuGet just work.

The main question I'm asking about this fix is that it only works for very specific scenarios, and it is not going to make NuGet work across the board with long paths. So i

[2015-12-11 00:39] yishaigalatzer commented on #1672
Verified this works now - NuGet 3.3

[2015-12-11 00:53] yishaigalatzer commented on #1672
This repros when you clear the cache. The command also ignores that -source parameter, and grabs packages from other sources/cache as well.

[2015-12-11 00:55] yishaigalatzer commented on #1826
@rchande can we make this ask a bit more specific. Can you suggest an abstract API you are looking for?

Map from what to what exactly?

[2015-12-11 00:56] yishaigalatzer commented on #1687
This does not repro.

[2015-12-11 00:56] #1687 closed, assigned to nobody

[2015-12-11 00:59] yishaigalatzer commented on #1689
This will be the feature tracking it (renaming)

[2015-12-11 01:10] rchande commented on #1826
@yishaigalatzer Portable is going to display a list of versions so the user can pick, so minimally, I would need an API like:

`FrameworkName[] GetDotnetStandardVersions()`

This would return things like {"netstandard", "1.0"} and so forth. If all we need to write into project.json is a framework element indicating netstandard 1.0, that would be sufficient. If there's additional stuff we need to w

[2015-12-11 03:21] pawchen commented on #1810
Thanks @yishaigalatzer.

@jasonmalinowski Looks like we still want to add a /norestore switch.

[2015-12-11 03:31] deadlydog opened #1827 "Package update not found when updating via Visual Studio Solution"
This problem occurs occasionally when trying to update nuget packages from the NuGet package manager within Visual Studio 2015, but only occurs when updating packages at the **solution** level; that is, right click on the solution (not the project), and choose "Manager NuGet Packages for Solution...".  It will find an update for a nuget package just fine and list the latest version, but after you

[2015-12-11 04:43] shepard1166 commented on #1615
Apologies....reinstall v2.9 with boxstarter seems to have done the trick

[2015-12-11 04:43] #1615 closed, assigned to nobody

[2015-12-11 04:48] yishaigalatzer commented on #1615
Thanks for getting back to us!

[2015-12-11 06:50] davidfowl opened #1828 "Consolidate and refactor mutex helpers"
Today we have 2 of them:
- NuGet.Configuration has ExecuteSynchronized
- NuGet.Common has another one

We need to write a cross process locking abstraction that works on both *nix and windows.

/cc @yishaigalatzer

[2015-12-11 08:07] petermorlion commented on #1789
Ah, sort of lost track of this, sorry.
This is on a company PC where I don't get to choose when to update to which version, unfortunately. But I have passed your comments on to those responsible. With a small group of devs, we've been trying to get them to use NuGet as it's intended (with a packages folder next to the solution). Your comments should help our case :)
I'll probably be re-organizing

[2015-12-11 08:53] MichaelSteinecke commented on #1056
@yishaigalatzer @zhili1208
Zhi provided a fixed build for me. So I think we can close the issue

[2015-12-11 09:11] lju commented on #1638
So I was having the exact same problem - same error with the same attempts to fix it. I worked around it by closing all instances of VS and then opening the Package Manager Console and then my project within a new instance of VS. The Console now stays up and no longer gives me that error. It's been fine ever since.

[2015-12-11 09:59] georgiosd commented on #1685
Agreed with all your comments on the PR - I needed a quick fix to move on with my use case and didnt spend time refactoring the code I found at codeproject.

Even if .NET starts supporting long paths, won't it require newer versions of the CLR to work? So if .NET 5 makes it happen I presume that all 3.x and 4.x lines will stay broken.

Why do you say it's a partial fix? It seems to me that this is

[2015-12-11 14:38] danielgary commented on #1015
This appears to be broken again.  I am unable to find KoreBuild in https://www.myget.org/F/aspnetvnext/api/v2

[2015-12-11 15:24] pete1208 commented on #1638
Disk with VM is on it's way.   When you get it, if you open notepad++ it will have the devenv.conf file we've talked about.

I tried Lju's solution, with no luck.

[2015-12-11 15:48] Pilchie commented on #1825
Looking at the code, it already does use the msbuild `Language` property, it just maps C# to `cs` and F# to `fs`.

@jasonmalinowski would have to comment on why the rename happens, but my expectation is around concerns with path escaping.

[2015-12-11 17:51] emgarten commented on #1015
@danielgary NuGet no longer uses KoreBuild. Make sure you are using the latest repo which is: NuGet.Client

[2015-12-11 17:52] #1015 closed

[2015-12-11 18:38] yishaigalatzer commented on #1685
Because it only supports packing. I'm guessing other use cases of consuming the package might still fail

[2015-12-11 19:11] #1813 closed, assigned to emgarten

[2015-12-11 23:40] jasonmalinowski commented on #1825
@emgarten was the one who gave me the spec, so he'll know why we chose the names. I assume that's because we probably don't want # in the file names though...strange stuff might happen.

[2015-12-12 13:05] Erucy commented on #1638
same error as @zman13 . I've reinstalled all the environment I have, reset win10, reinstall vs2015 ent with update 1. Open my web project, click publish, close the dialog, open the package manager console, and then, bang! If I open the package manager console first, well, everything seems fine, until I open the publish dialog, the vs crash... All the softwares I have on my machine are windows 10 x

[2015-12-12 18:22] dkackman opened #1829 "Is there an API into the NuGet.org datawarehouse?"
I am trying to get at the data from the NuGet gallery that would show package usage statistics. (Downloads over time, NuGet action per download etc.)

There is the NuGet data warehouse project but I do not see any API to access the nugget.org instance, so I'm assuming that it is purely to drive what is shown on the gallery website.

Is there an API other than https://api-v3search-0.nuget.org/query

[2015-12-12 22:47] yishaigalatzer commented on #1638
Thank you everyone, the status is that we cannot get a repro in Redmond. @pete1208 has been kind enough to send us a vm, so when it gets to us we will take another look. Our assumption is that "something" is loading the wrong version of powershell into the visual studio host, and since the policy in visual studio is to only load one and that version is not compatible with what nuget is trying to d

[2015-12-13 18:24] AArnott opened #1830 "Build in visual studio fails due to incomplete package restore when projects are unloaded"
When a project is unloaded in Visual Studio, it ceases to build with solution build. But so long as it was built previously (either at the command line or while loaded in Visual Studio) the rest of the solution should build successfully even across project references that include this unloaded project because the binaries are on disk.

But with NuGet and project.json, this has regressed. When a pr

[2015-12-14 01:22] jmelosegui opened #1831 "Adding attributes to control nuget dependencies break the project properties tab"
Having the following solution structure.

![image](https://cloud.githubusercontent.com/assets/450246/11770790/37275ed0-a1d5-11e5-83f7-687cd15d95bd.png)

I want to propagate the `StyleCop.Analyzers` package to all the project depending on `ClassLibrary5`. So I created the following project.json file.

[code]

After adding the `StyleCop.Analyzers` and specifying  a json object as a value

[code]

An

[2015-12-14 02:01] #1754 closed, assigned to nobody

[2015-12-14 02:13] jackywang615 commented on #1143
@yishaigalatzer issue is solved. thank you.

[2015-12-14 02:29] AArnott commented on #1831
I suspect this is actually a bug owned by the C#/VB project system team. @jasonmalinowski, can you confirm?

[2015-12-14 02:58] AArnott opened #1832 "Update-Package command removes dependency details"
Given a project.json file with this dependency:

[code]

When I run the `Update-Package ReadOnlySourceTree -Pre` command, the json file becomes this:

[code]

Note how the `suppressParent` field is removed. This is a significant change, and reverts what I had explicitly placed there without warning.

[2015-12-14 05:51] AArnott opened #1833 "'nuget pack' ignores .nuspec's <file> elements sourced from $(UserProfile)\.nuget\packages"
It seems nuget pack quietly drops (without warning or error) all files from being packaged if they're src'd from `$(UserProfile)\.nuget\packages\...` This took me a couple hours to figure out, and now I have to invent some temporary location to have my build copy files to just to keep it from ignoring them.

I'm building a package with a tools folder, so obviously all runtime components required d

[2015-12-14 08:08] maartenba opened #1834 "Dependent packages not showing in References and project.json in UWP. Is it a new behaviour?"
_From @mathikp on September 9, 2015 7:9_

In UWP projects, when we installing a NuGet, the dependency packages of the NuGet is not showing in References node in Solution Explorer and also there is no entry in project.json file. Whether it is an issue or not?

_Copied from original issue: NuGet/NuGetGallery#2667_

[2015-12-14 08:08] maartenba commented on #1834
_From @emgarten on September 9, 2015 7:30_

Would you provide some repro steps for this?

Is the install failing and rolling back?

[2015-12-14 08:08] maartenba commented on #1834
_From @mathikp on September 9, 2015 10:59_

I have add dependencies properly. List of dependencies are showing correctly in VS2015's NuGet Package Manager. And after installed its successfully restored to the .nuget/packages folder. But the issue is, the dependency NuGet packages are not showing in the References node in Solution Explorer and entry is not adding in project.json file after installe

[2015-12-14 08:08] maartenba commented on #1834
_From @emgarten on September 9, 2015 19:4_

Please provide steps that can be used to reproduce this issue.
Example: project type, package installed, steps used to install the package.

[2015-12-14 08:08] maartenba commented on #1834
_From @mathikp on September 10, 2015 4:59_

1.Created 2 packages with "lib/netcore46" folder named A and B. In A's nuspec file I had added B as a dependency. I have configured the NuGet in Visual Studio 2015.
2.Created Universal Windows blank app. Opened Tools->NuGet Pakckage Manager->Manage packages for this solution.
3.Selected my package source and selected package A.
4.B is showed as dependenc

[2015-12-14 08:08] maartenba commented on #1834
_From @emgarten on September 10, 2015 5:39_

Dependencies are not added to project.json, only the top level package. In solution explorer you can find B by expanding A.

Btw, it doesn't affect your scenario but netcore46 is not a valid target framework. If you are trying to target UWP use uap10.0.

[2015-12-14 08:08] maartenba commented on #1834
_From @ratishphilip on December 9, 2015 15:23_

I am facing a similar issue.
I have created a Class Library for Universal Windows App and want to publish it as a NuGet package.

My library has a dependency on Microsoft.Xaml.Behaviors.Uwp.Managed.

I created the spec file for the project using NuGet and mentioned the dependency as follows
&lt;dependencies&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;dependency

[2015-12-14 08:08] maartenba commented on #1834
_From @davidfowl on December 9, 2015 16:52_

@ratishphilip The solution explorer only shows top level dependencies in uwp projects. That doesn't have any effect on the build.

[2015-12-14 08:08] maartenba commented on #1834
_From @ratishphilip on December 9, 2015 17:58_

@davidfowl Thanks for the reply. I found out what the issue was. While creating the nuget package, the default configuration was set to **Release|AnyCPU**. I think _Microsoft.Xaml.Behaviors.Uwp.Managed_ does not work with **AnyCPU** configuration. Setting the default configuration to **Release|x64** solved the issue. Now while installing the package,

[2015-12-14 09:14] fknx commented on #1651
@yishaigalatzer Sorry for responding this late. Unfortunately we have some issues with NuGet 3.3 preventing us from upgrading at this time, so in case there will be another release for the NuGet V2 I would appreciate it if this fix would be added to this release.

[2015-12-14 16:28] yishaigalatzer commented on #1651
No, we don't plan an update to 2.x nuget.exe, but we will gladly fix whatever is blocking you from moving over to 3.3 or 3.4, can you point to the issue?

[2015-12-14 17:39] paiden commented on #1816
Only on my local system no operations are performed. E.g. on the build server, the package always gets updated (from 0.0.0.0; please don't ask why we do such things ;-) ) correctly (as the build folder is always cleaned).

I will try to try to create a small repro project. As I'm quite busy at the moment and I don't know how easy it is to repro it with a small example (the project where the issue

[2015-12-14 18:31] zhili1208 commented on #1815
@yishaigalatzer I repro this, the problem is there is no solution file there, we always do solution check before open nuget.
I think we don't support no solution scenario, nuget always use solution folder as root, if there is no solution file, where nuget should put packages folder?

[2015-12-14 18:38] yishaigalatzer commented on #1815
The error happens when opening the project, right? Why would we error then?

[2015-12-14 18:46] zhili1208 commented on #1815
I didn't get error during opening the project, got the error during opening nuget UI.

[2015-12-14 18:50] jasonmalinowski commented on #1831
I'm not sure. I cannot imagine any path where the app designer would fail to load because of an JSON parsing issue...somebody is just going to have to debug this one.

[2015-12-14 19:38] yishaigalatzer commented on #1815
Like we have seen, we get the error during build, this error should go away. @Eilon did you see something else?

[2015-12-14 20:08] Eilon commented on #1815
I don't recall if I saw it right when opening the project, or when attempting to build. But either way the error is wrong.

[2015-12-14 20:14] kjeremy commented on #1526
It looks like it works now.

On Thu, Dec 10, 2015 at 6:46 PM, Yishai Galatzer notifications@github.com
wrote:

[2015-12-14 20:16] yishaigalatzer commented on #1526
Thanks!

[2015-12-14 20:16] #1526 closed, assigned to nobody

[2015-12-14 21:00] yishaigalatzer commented on #1817
Sorry, I misread your original question. The easy solution for this is to add a `.` at the end of the path (if you know there is a trailing backslash) alternatively you can add a \.

So for your command you can use `nuget.exe pack "C:\Builds\1\PROJECT\RollingBuild\src\Dev\Backend\Contracts\Contracts.csproj.nuspec" -Version 0.1.0.1407 -OutputDirectory "C:\Builds\1\PROJECT\RollingBuild\src\Dev\bin\P

[2015-12-14 21:12] yishaigalatzer commented on #1817
Added tests to verify the scenario, and expected results - https://github.com/NuGet/NuGet.Client/pull/156

[2015-12-14 21:22] #1817 closed, assigned to yishaigalatzer

[2015-12-14 22:09] yishaigalatzer commented on #1834
@jasonmalinowski this seems to fall in your area.

@ratishphilip can you point to your package?

[2015-12-14 22:17] yishaigalatzer commented on #1831
Trying to find the owner of this area.

CC @emgarten @pilchie

[2015-12-14 22:20] Pilchie commented on #1831
Is classlibrary5 (the one where the app designer fails), a portable library?  cc @rchande

[2015-12-14 22:37] yishaigalatzer commented on #1831
The picture says it is

[2015-12-14 22:47] Pilchie commented on #1831
Also, is this on VS2015 RTM or Update1?  I thought @rchande fixed something to do with unrecognized schema stuff in Portable as part of U1.

[2015-12-14 22:54] ratishphilip commented on #1834
@yishaigalatzer @jasonmalinowski  My package is not available in NuGet. I just made a sample package locally(SampleBehaviorLib which has a reference to **Microsoft.Xaml.Behaviors.Uwp.Managed**) and tried to add that package to another project (SampleBehaviorClient)

[2015-12-14 22:59] emgarten commented on #1833
It looks like this is due to the dot at the beginning of the folder name. Pack excludes these by default. To allow them use `-NoDefaultExcludes`

See: https://docs.nuget.org/consume/command-line-reference

[2015-12-14 22:59] #1833 closed, assigned to nobody

[2015-12-14 23:03] emgarten commented on #1825
I believe we were going by the file extensions when deciding on the package folder paths. It could have gone either way. To keep things consistent we've been using: cs, fs, vb

[2015-12-14 23:03] yishaigalatzer commented on #1834
Would you mind pushing it to myget or make it available for us to debug it?

[2015-12-14 23:09] yishaigalatzer commented on #1830
This is somewhat expected behavior of the current codebase, it walks the projects through DTE, and that just doesn't work when the projects are unloaded. We could look at improving this, however a simple workaround is available.

Turn off automatic package restore (through nuget settings) and nuget restore doesn't kick off again and "break the chain".

The assumption is that unloaded project don't

[2015-12-14 23:12] yishaigalatzer commented on #1829
moved to https://github.com/NuGet/NuGetGallery/issues/2810

[2015-12-14 23:12] #1829 closed, assigned to nobody

[2015-12-14 23:17] yishaigalatzer commented on #1827
@deadlydog thanks for the feedback. We will try to get a repro and get it fixed. Are you seeing this for any particular package or packages that where just freshly pushed to nuget.org? What feed are you using? Can you share a fiddler trace when this issue happens again?

[2015-12-14 23:31] deadlydog commented on #1827
Now that you mention it, I have typically seen it when trying to download my own packages that were pushed very recently to nuget.org.  If I encounter the issue again I'll try and provide a fiddler trace.

[2015-12-14 23:37] yishaigalatzer commented on #1827
This makes "some" sense, what you see is probably an incorrect propagation of pushed packages showing up in the search results but not yet available to download (this could happen if one server updated faster than another, and you hop between them). This is something we are working on improving.

Still just to verify it a fiddler trace will be of great help.

[2015-12-14 23:39] ratishphilip commented on #1834
[NugetSample.txt](https://github.com/NuGet/Home/files/61885/NugetSample.txt)
Please rename the file to **NugetSample.zip**
I have included the nuget package and the source code for the SampleBehaviorLib and SampleBehaviorClient

[2015-12-14 23:47] yishaigalatzer commented on #1834
CC @pilchie

[2015-12-14 23:57] Pilchie commented on #1834
Yes, it is expected that only top level decencies are shown when you have a .csproj using project.json. We hope to unify the presentation with ASP.NET v5 at some point in the future.

[2015-12-15 00:25] ratishphilip commented on #1834
Thank you all for your clarification.
I have another question (related to NuGet packaging but not related to this issue). Is there any documentation on how to create a NuGet package for UWP applications which contains x86, x64 and ARM binaries and loads the appropriate binary based on the build configuration of the client using this NuGet package.
I tried following the instructions specified in ht

[2015-12-15 00:30] yishaigalatzer commented on #1834
Follow this guide instead - https://docs.nuget.org/create/uwp-create

[2015-12-15 00:38] ratishphilip commented on #1834
Yes, I went through this guide to and added the uap10.0 TxM to the package. But it still is not working and giving me the same error.

[SampleBehaviorLib.targets.txt](https://github.com/NuGet/Home/files/61914/SampleBehaviorLib.targets.txt)
The above file (**_rename to SampleBehaviorLib.targets.zip**_) contains the SampleBehaviorLib.targets file which I am using to add reference to the appropriate

[2015-12-15 00:39] zjrunner opened #1835 "Display the source that served up the packages"
Diagnostic logging shows the download and query url, but that isn't always easily mappable to the Source endpoint.  Here is the verbose output for project.json for a simple package and two source feeds -- they are both under the same account but different endpoints, and they get translated to a guid at some point and so aren't mappable back through console output:

[code]

_My order of preference:

[2015-12-15 00:44] Pilchie commented on #1834
Tag @ericstj too

[2015-12-15 01:10] yishaigalatzer commented on #1834
@ratishphilip your package should contain a ref and runtimes folder, and shouldn't include any targets. I'm closing the bug, because there is no issue here. But we can keep discussing your package issue on this thread

[2015-12-15 01:10] #1834 closed, assigned to jasonmalinowski

[2015-12-15 01:19] yishaigalatzer commented on #1835
TBH would have been a lot nicer if our friends from VSO made the urls directly useful and map to a feed address.

I'm fine with the 1st or the 3rd option, if you have the time to get in the 3rd right away go for it (and lets write it in a way that can easily be extracted from the log). The download metric thing is cool, but I don't see assigning someone to it right away (could be a cool summer int

[2015-12-15 01:29] ratishphilip commented on #1834
Ok. Let me try that.
But I do have some doubts.
I am targeting a single TxM uap10.0 because my library should only be used by UAP apps on Windows 10.
So in the Ref folder, how will I differentiate between x86, x64 and ARM libraries?
Also in the Runtimes folder, what is the runtime ID for windows 10?

[2015-12-15 01:46] emgarten commented on #1834
The ref folder is runtime agnostic. You can create a ref assembly using: https://www.nuget.org/packages/Microsoft.DotNet.BuildTools.GenAPI/1.0.0-beta-00081

Microsoft.NETCore.Platforms\1.0.0\runtime.json contains these runtimes for windows 10: win10-x86, win10-x64, win10-arm

[2015-12-15 02:07] AArnott commented on #1830
VS offers no services for unloaded projects other than to discover their project factory GUID and filename. But perhaps you could use that information to read project data from disk or whatever you would do from the command line for that project? If not, what data do you get from DTE that you can't get in another way?

[2015-12-15 02:09] AArnott commented on #1833
Thanks, @Emgarten. That's a much easier workaround than copying the files around to other directories.

[2015-12-15 02:22] yishaigalatzer commented on #1830
Command line runs a full msbuild evaluation for the solution. It is really slow and I don't think it is a good idea to run it in this mode at least not at the current performance level.

[2015-12-15 05:03] AArnott commented on #1830
True, in fact the command line mode does much more than evaluation. It actually executes MSBuild targets, which is likely where you lose most of your perf. A single evaluation of an MSBuild project is on the order of 20ms, so that shouldn't tax you too much IMO, even if you did it for all projects in VS. But doing it for just the unloaded projects would have a very small perf hit IMO for the accur

[2015-12-15 07:21] fknx commented on #1651
We've had some issues with missing Windows 8.1 and Windows Phone 8.0/8.1 tools (the update crashed although our app projects did not use the package we were trying to update) but these seem to be gone by now. Issue #1798 is preventing us from using NuGet 3.3 right now, but as it looks like this will be fixed in 3.4.

Additionally, the `Prerelease` switch from the `update` [command](https://docs.nu

[2015-12-15 08:37] JeremyBP commented on #1638
I can confirm that for my environment, everything's working great with nuget/powershell with any kind of project, except with Xamarin.Android project.
For ex, for cross-platform app:
. I create a new solution with a new pcl Core project => nuget console ok & json.net (with install script) install ok
. I add a new Xamarin.iOS project => nuget console ok & json.net install ok
. I add Uwp, WinPhone 8

[2015-12-15 11:11] am11 opened #1836 "Please publish XML schema for packages.config"
Ref: http://nuget.codeplex.com/discussions/261638

We encounter this warning on building the solution while `pacakges.config` is opened in IDE:

Please publish the XML schema for `packages.config` and add reference to config template.

---

For reference, the Nuget 3 `project.json`'s schema is hosted via http://schemastore.org/json/ which VS2015 validates against (and even provides intellisense in

[2015-12-15 12:18] perlun opened #1837 "nuget.targets is included in .csproj file with incorrect casing"
Unfortunately, I couldn't locate the file in the NuGet2 repo, so no PR in this case. The incorrect line is this:

[code]

The problem here is that the file is in fact called `NuGet.targets`. If you have your Windows projects checked out on a case-sensitive file system (like I do), this means that the file cannot be loaded. We should be writing the file name in the correct case, i.e. `NuGet.targets

[2015-12-15 12:21] perlun commented on #1837
The same goes for the `NuGet.settings.target` file btw - it contains references to `nuget.exe` instead of the canonical `NuGet.exe`.

(then of course, one could argue as to _why_ anyone would want to name an executable with CamelCase but... that's an altogether different discussion. :wink:)

[2015-12-15 13:14] Viacheslav01 commented on #1526
I have tested nuget 3.3 it works correct now. Thanks!

[2015-12-15 13:43] 3F commented on #1521
ok, now I use the non-binary GetNuTool for work via msbuild.exe and restoring of packages for solution-level inside IDE, for example:

[code]

but I hope to see this feature again <_<

[2015-12-15 14:02] ChekuDotCoDotUk commented on #1638
I'm still seeing this error with Xamarin.Android also... I had just tried Installing the XLab.Forms stuff from Nuget and it seems to have broken the Package Manager Console
Edit: Restarting the machine seems to have fixed it...

[2015-12-15 20:14] emgarten commented on #1837
The repo is at: https://github.com/NuGet/NuGet2

Note that this method of package restore has been deprecated. The current best practice is to just call nuget.exe restore in your build script before running msbuild.

[2015-12-15 21:10] dprothero commented on #1512
Could this be a feature request? Or is this something that would not even be feasible?

[2015-12-15 21:35] yishaigalatzer commented on #1512
All that package manager console is providing is access to visual studio objects, so for most packages and scenarios it just wouldn't do a thing.

An uninstall package command for common scenarios (like csproj files without fancy targets) might be able to be built

[2015-12-15 22:13] Eilon opened #1838 "NuGet code is checking for char.IsDigit() instead for checking decimal '0'-'9'"
The `char.IsDigit` API checks for any character in this class: http://www.fileformat.info/info/unicode/category/Nd/list.htm

And that's unlikely to be what's expected here. All the code here almost certainly is expecting ASCII chars `0` - `9`.

Offending code is here:
- https://github.com/NuGet/NuGet.Services.Dashboard/blob/8a3a1f751a8ba5b3812c59e959a593631d3c4cf3/NuGet.Services.Dashboard.Operatio

[2015-12-16 04:47] yishaigalatzer commented on #1837
@perlun like @emgarten is suggesting, perhaps the best approach is to get rid of the targets alltogether.

[2015-12-16 06:11] perlun commented on #1837
Thanks for the suggestions. Doesn't that mean that all people cloning my repo would need to manually do `nuget restore` before being able to build the project in Visual Studio also? That would feel a bit awkward, but OTOH if that's the recommended practice I'll be willing to accept it.

[2015-12-16 06:18] emgarten commented on #1837
Visual Studio will automatically detect missing packages before the build starts and restore them. This is subject to the automatic package restore options in Visual Studio, but by default it is enabled.

[2015-12-16 06:20] perlun commented on #1837
OK, cool, so then the `.target` file can be dropped altogether. Do you remember what VS version this is supported from? 2012 and newer?

[2015-12-16 06:28] emgarten commented on #1837
It looks like NuGet 2.7 was the first: https://docs.nuget.org/consume/package-restore

The vast majority of users have a higher version already, you can see the client stats here: https://www.nuget.org/stats

[2015-12-16 07:03] ferventcoder opened #1839 "Installing a package with a dependent version that also has a less restrictive dependency on the same package fails when Dependency Version Behavior Highest"
~~**Attention**: I have not yet verified this with NuGet v3 (working on that unless someone beats me to it).~~
### Update: This works properly in v3 and so it has been closed as already fixed.
## Original Request

NuGet doesn't seem to be able to handle the scenario where a package has a dependency constraint on a package version and another dependency has a similar, but looser constraint on a pac

[2015-12-16 07:04] ferventcoder commented on #1839
There is a bit longer discussion of this at https://github.com/chocolatey/choco/issues/507

[2015-12-16 07:06] ferventcoder commented on #1839
Short and long of this is that I tried to get NuGet.exe to respect the dependency behavior attribute in NuGet.config and it doesn't (unless it changed to a different name). It didn't in any of the older versions and it still doesn't in v3.3.0. https://github.com/chocolatey/choco/issues/507#issuecomment-165004263

[2015-12-16 07:29] ferventcoder commented on #1839
And FYI, this is a real-world bug - https://groups.google.com/d/msgid/chocolatey/ad9e0b37-a81d-4c75-98c7-c84c787b8859%40googlegroups.com

[2015-12-16 07:38] ferventcoder commented on #1839
Actually it looks like this **is** resolved in NuGet v3.x -

![image](https://cloud.githubusercontent.com/assets/63502/11834854/aceb2cac-a395-11e5-9cfe-9f237200b94b.png)

Thanks @gep13!

[2015-12-16 07:39] #1839 closed, assigned to nobody

[2015-12-16 09:29] xavierdecoster commented on #1722
Besides reverting to the original design of doing recursion over the file system in own code, there's no way to get granular error messages.

[2015-12-16 13:50] maartenba opened #1840 "Dependencies hidden once package installed in VS"
_From @LeeCheneler on December 16, 2015 13:33_

The dependencies for a package are hidden in the right hand pane in VS once you have installed the package. It is useful to be able to see the dependencies even after a package has been installed.

_Copied from original issue: NuGet/NuGetGallery#2819_

[2015-12-16 16:58] yishaigalatzer commented on #1837
@perlun please let us know if you plan to submit a PR, which we would gladly take. Otherwise I'm going to close this as won't fix.

[2015-12-16 17:08] yishaigalatzer commented on #1722
If we have to, then lets do it and add tests to cover it

[2015-12-16 19:34] victorhurdugaci opened #1841 "NuGet packages add"
Our build (KoreBuild) relies on `dnu packages add`. As we move to Dotnet, we want to stop using `dnu` all together but we cannot do that until we have an alternative to `dnu packages add`.

[2015-12-16 19:44] nicolaspierre1990 opened #1842 "Downloaded NuGet Packages are missing the DLL's"
I'm trying to restore DLL's in my VS2015 solution and something weird happend. NuGet downloads all packages but it just won't download some DLL's. I'm left here wondering how that is. For example the Microsoft.Owin.Security.Facebook get's all files but one, the dll.

![image](https://cloud.githubusercontent.com/assets/5520669/11851860/3d1e601a-a435-11e5-90b4-bb0db7992d55.png)

My global config for

[2015-12-16 21:50] drieseng commented on #1825
I'm not sure but I don't think having a # in file or folder names would be a problem.

Using the file extension of the source files for a given project language as the folder name, in which you have to put files that you want to add to such projects, is perhaps not the most intuitive. Personally I would surely prefer **C#** over **cs**, as the former makes me think of C# as a language while the la

[2015-12-16 22:37] Pilchie commented on #1825
Sadly, not yet, because the code isn't OSS yet, but we are working on it. It does fall back to Language for all languages except C# and F#.

[2015-12-16 23:16] victorhurdugaci commented on #1841
It worked with `nuget add` from the latest version of the client

[2015-12-17 00:12] ericstj opened #1843 "ResolveNuGetPackageAssets.ReferencedPackages returns the wrong result when dependencies are listed under framework"
Sample project:

[code]

When building this I would expect the build task to return System.IO in the list of ReferencedPackages.  It does not.

Potentially hacky fix: https://github.com/dotnet/buildtools/pull/368

[2015-12-17 00:12] ericstj commented on #1843
/cc @jasonmalinowski

[2015-12-17 00:35] zjrunner commented on #1835
Update - I did find that I can back-map guid to name via another rest endpoint.  I'll see how easy it is for me to get the simple console solution into nuget.exe - if it means plumbing new data through lots of layers it may be better to hope for a downloadMetrics feature and fall back to the extra lookup from my side.

[2015-12-17 01:08] dp-github opened #1844 "tools directory not on the path for vcxproj builds"
I've created a NuGet package with some executable commands in the tools directory, and I invoke those tools during my build process.  As per [this page](https://docs.nuget.org/create/creating-and-publishing-a-package), the tools directory should be added to the environment path.

I find that my csproj builds work perfectly, but my .vcxproj builds fail, complaining that the executables cannot be fo

[2015-12-17 03:08] Myster opened #1845 "build agent without .net 4 but not .net 4.5 causes exception when running nuget."
On a build agent without .net 4.5 installed I have this error:

[code]

When I tell TeamCity to use 2.8.1 I get this error:

[code]

Related to closed issue: https://github.com/NuGet/Home/issues/1611 but the suggested work-around does not work.

[2015-12-17 03:25] pvandervelde opened #1846 "Deploy nuget.config with encrypted ApiKey value via Chef"
I'm trying to deploy a nuget.config file to all of our build machines using powershell and Chef. Copying the standard nuget.config file across can be done without issues. The build agents also need to be able to push packages up to our company repository for which they need an API key. Adding the encrypted API key to the nuget.config file can be done by creating the configuration file once and the

[2015-12-17 12:07] IntelligentLabs commented on #1282
To add to this if it helps, I get the exact same error if I run the NuGet.PackageBuilder.Save command via the Nuget.Core.dll on a large package via TFS build. If I run the command directly on the server I do not get the problem.

[2015-12-17 12:29] ghost commented on #1448
Is there any chance for this fix to be retrofitted into version 2.8? It seems versions 3+ are not supported in Visual Studio 2013.

[2015-12-17 14:11] JohnMcAvinue commented on #1707
Any ideas when this will be fixed?

[2015-12-17 15:24] pete1208 commented on #1638
I reset the devenv.config back to the default and installed VS2015 Patch 1.  The package manager console now works fine.

[2015-12-17 15:27] gravidThoughts commented on #1406
@yishaigalatzer Is the cli the only client which can use the GlobalPackages directory as a `package source`?

Also, if it is not a cache, the console messages need to be updated, as the term cache is used.

[code]

[2015-12-17 16:14] yishaigalatzer commented on #1406
Everything can use it as a source. But it is indeed not a cache and we should fix the message. Thanks for pointing it out

[2015-12-17 16:44] csharpfritz opened #1847 "Visual Studio UI: Project List steals mouse scroll"
From vs-feedback #519724:

In the VS2015 Update 1 NuGet "Manage Packages for Solution" UI, the box containing the list of projects steals scroll wheel focus from the pane containing it, which breaks scrolling the packages pane.

[2015-12-17 16:55] csharpfritz opened #1848 "Incomplete nuget version in package manager UI."
From vs-feedback # 518862:

NuGet applies a 20 character limit to the prerelease version of a nuget package. However, the Manage Packages UI only shows up to 10 of them. This is rather troublesome, seeing as our build number mostly differs at the 11th character.

This issue occurs on the Updates and Consolidate tabs. When viewing the details of the package (on the right) the full version number is

[2015-12-17 18:17] csharpfritz opened #1849 "Project list needs scrollbar"
From vs-feedback 513151:

My primary solution has a large number of projects in it (86).  When I go to the updates tab in the nuget package manager window to see which projects need a package update, the list runs off the bottom of the window, rather than constraining itself to the window boundary and presenting a scroll bar.

[2015-12-17 19:03] mapir opened #1850 ".targets/.props in build/ folder are not added to a (non-C#) CPS-based project upon package install"
I have a CPS-based project type for a custom Language (not C# or VB). This project type reports the AssemblyReferences, DeclaredSourceItems, and UserSourceItems capabilities. I also created a NuGet package that just contains minimal .targets/.props in the build/ folder.

If I install this NuGet package to a C# Class Library project, the .targets/.props are successfully added to the .csproj.

Howev

[2015-12-17 19:33] AArnott commented on #1850
I wonder if this is because CPS projects don't live in the MSBuild `GlobalProjectCollection` like C#/VB projects do in Dev14. CPS has its own rules for accessing project XML directly. I'm pretty sure NuGet already has code to deal with this, so if that's the issue, the fix is probably to leverage that existing code to handle CPS.

Alternatively, I'm pretty sure in Dev14 we added an interface for a

[2015-12-17 23:38] mapir commented on #1850
We already have an IProjectCapabilitiesProvider implementation. I modified it to additionally report these capabilities:

[code]

But when I right-click on our project type --> Manage NuGet Packages, I get "Operation Failed. The project 'foo' is unsupported." This is the same error that I see if I omit the capabilities altogether.

[2015-12-18 02:01] yishaigalatzer opened #1851 "nuget source password encryption story"
Rob adding text on 2/10/2017:
nuget.exe | dotnet.exe can now use encrypted passwords in nuget.config files -- when running on windows ONLY.
Ideally, we'd support dotnet.exe on other platforms too, so they don't need to store passwords via cleartext.

This would need APIs from .NET Core. See the related https://github.com/dotnet/corefx/issues/6746

[2015-12-18 02:02] yishaigalatzer commented on #1851
CC @anurse @davidfowl

[2015-12-18 07:53] jmezach commented on #1824
I think it started with Visual Studio 2015 Update 1. As far as I know it worked without problems without Update 1. Color output might be related though since the warning I know was being raised was written in yellow. We worked around it by removing the warning for now.

I believe VS 2015 Update 1 already includes NuGet 3.3 right? I'll have a look at a repro, though I'm a bit short on time at the m

[2015-12-18 14:48] mikeyq6 opened #1852 "Support Windows environment variables in NuGet.config files"
It would be immensely helpful to be able to have something like this in the NuGet.config file:
`<add key="repositoryPath" value="%APPDATA%\NuGetPackages" />`

That way you wouldn't have  to hard-code a directory in a shared environment.

[2015-12-18 17:32] myusrn opened #1853 "include License.txt file in package but don't copy into solution"
in my $(ProjectName).nuspec i want to include the following files entry so that anyone looking at the contents of the nupkg, when it gets referenced and expanded into a $(SolutionDir)packages folder, can see a local hardcopy of the license but i don't want this file actually copied into the projects that reference this nuget package.   Is there an oob way to accomplish that?

<file src=".\License.

[2015-12-18 18:19] myusrn opened #1854 "Debug Experience -- telling installer to use .symbols package when both exist"
if i have a local disk nuget feed defined and it contains both <packagename>.<version>.nupkg and <packagename>.<version>.symbols.nupkg versions of package is there a way to get <project> | manage nuget packages | <select nuget package from this feed> to use the symbols one so i have f11 step into debug support for this dependency?

[2015-12-18 18:29] muratg opened #1855 "Microsoft.Extensions.Logging does not install in .NET 4.5.1 project"
_From @xavierdecoster on December 7, 2015 18:20_

It fails with the below error message, caused by a failure to add a framework reference to System.Collections.Concurrent, as defined here:
https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Extensions.Logging/project.json#L22

_Copied from original issue: aspnet/Logging#313_

[2015-12-18 18:29] muratg commented on #1855
Thanks for the report.  Could you share a basic repro project?

Also, what does your nuget.config look like?  Are you only using nuget.org?

[2015-12-18 18:29] muratg commented on #1855
_From @xavierdecoster on December 10, 2015 9:44_

Hi @muratg!

Here's what I did to run into the issue:
1. clone searchcloud branch of NuGet.Services.Metadata repository, open up the solution, set NuGet.Services.BasicSearch as startup project.
2. upgrade this project from NET45 to NET452
3. Using NuGet UI, targeting this project, try installing `Microsoft.Extensions.Logging` v1.0.0-rc1-final, defa

[2015-12-18 18:29] muratg commented on #1855
Can you paste your project.json?  I assume this is an ASP.NET 5 project targeting Desktop CLR...  (I'm not sure what `NuGet.Services.Metadata` exactly is)

[2015-12-18 18:29] muratg commented on #1855
_From @xavierdecoster on December 10, 2015 16:58_

No project.json, no ASPNET5. Just a web project being upgraded from net45 to net452. Code in NuGet/NuGet.Services.Metadata repo on GitHub, cloudsearch branch, NuGet.Services.BasicSearch project
https://github.com/NuGet/NuGet.Services.Metadata/tree/searchcloud/src/NuGet.Services.BasicSearch

[2015-12-18 18:29] muratg commented on #1855
Got it. I don't think we ever tested our packages with csproj based projects, and I'm not sure how they would work.

Is your goal just upgrading from net45 to net452?  Or do you intend to port it to DNX as well?

[2015-12-18 18:29] muratg commented on #1855
_From @xavierdecoster on December 10, 2015 17:17_

Actually, the goal is to use these logging packages as an abstraction between our components and the actual logger, e.g. Serilog. We can't take the dependency to the logger (e.g. Serilog) in NuGet service components, but we can rely on Microsoft.Extensions.Logging.Abstractions. See searchcloud-serilog branch how I hacked it in manually (and it wor

[2015-12-18 18:29] muratg commented on #1855
Hey @davidfowl, is this a project system bug?  Our package has a dependency in `net451` on `System.Collections.Concurrent`, and this actually exists on disk.  DNU is able to restore this properly, while nuget seems to have a problem.

[2015-12-18 18:29] muratg commented on #1855
_From @moorandrew on December 13, 2015 1:6_

Any update on this?

[2015-12-18 18:29] muratg commented on #1855
_From @davidfowl on December 13, 2015 1:10_

It's a csproj bug that nuget is going to work around. I'm not 100% on removing our dependencies just yet.

[2015-12-18 18:29] muratg commented on #1855
FYI guys: @yishaigalatzer @emgarten

[2015-12-18 19:35] yishaigalatzer commented on #1854
Not possible at the moment, symbol packages are something you need to publish to a symbol server. This could be enabled if we build a symbol server on top (or next to) nuget.server package.

CC @maartenba - lets chat and see if we want to take it into the nuget.server project (tracked on nuget gallery), also consider filtering out symbol packages by default from nuget.server (perhaps with some con

[2015-12-18 19:36] yishaigalatzer commented on #1853
You can put files outside of the content folder, and then they don't get copied. There is no official support for this, but pretty much any folder outside of content and lib will work.

[2015-12-18 19:36] #1853 closed, assigned to nobody

[2015-12-18 20:36] myusrn commented on #1853
thanks for clarification of expected results.   When i set target="" it places them in <package>\content folder and so only way i could find to get it to place file in root of <package> contents was to have a source="..<some file name>" at which point target="" places the file in root of <package> folder hierarchy.  I tried target=".." to enable the same result for source=".<some file name>" refer

[2015-12-18 20:44] myusrn commented on #1854
Yes using visual studio team services [ vsts ] and/or symbolsource.org i can create feeds of packages intended to enable f11 step into debugging of package provided binaries.   What i'm trying to enable with the local %temp%\packages feed is a story where i'm doing work in both the project that produces the package and the project that consumes it.

Having it automatically output changes in packag

[2015-12-18 20:49] yishaigalatzer commented on #1854
yes, that makes sense. The question is mostly when/how/who

[2015-12-18 21:05] ericstj opened #1856 "ResolveNuGetPackageAssets will throw NullReferenceException when ProjectLanguage is not set"
See https://github.com/dotnet/buildtools/pull/341.  There should be a friendly error when ProjectLanguage is not set.

[2015-12-18 22:52] yishaigalatzer opened #1857 "Discussion item for Converting-a-csproj-from-package.config-to-project.json"
https://github.com/NuGet/Home/wiki/Converting-a-csproj-from-package.config-to-project.json

[2015-12-18 22:59] yishaigalatzer opened #1858 "Restore WebProxy in CoreCLR"
WebProxy is ifdefed out for CoreCLR builds, we need it back by implementing IWebProxy ourselves

[2015-12-18 23:01] yishaigalatzer commented on #1856
@jasonmalinowski is this going to you?

[2015-12-18 23:02] yishaigalatzer commented on #1855
@xavierdecoster this should probably be fixed downlevel as well in NuGet2

CC @davidfowl

[2015-12-18 23:05] jasonmalinowski commented on #1856
Yep!

[2015-12-19 00:45] jasonmalinowski opened #1859 "MSBuild targets should condition on project.json's existence, not project.lock.json's existence"
1. Create a csproj project with a project.json to resolve packages.
2. Delete the project.lock.json written out by restore
3. Build the project.

_Expected:_ you get an error telling you to run restore again
_Actual:_ it marches along, hopefully failing in some other way

[2015-12-19 01:00] AArnott opened #1860 "Package restore in VS reports "Failed to resolve all project references"..., builds sometimes fail"
VS2015 Update 1 (with NuGet 3.3 client)

Although all projects are loaded in this solution, I'm getting errors about being unable to resolve project references. This works fine from the command line with nuget.exe 3.3.

**Repro steps**

[code]

Right-click on the BCrypt.Tests project and click Rebuild.

The build output window shows many package restore failures:

[code]

[2015-12-19 02:20] Pilchie commented on #1831
@jmelosegui do you have Visual Studio Update 1 installed?  If not, can you try installing it and see if this still repros?

[2015-12-19 02:23] jmelosegui commented on #1831
Yes I do. Please, read the end of the original post.

[2015-12-19 02:40] Pilchie commented on #1831
Sorry for missing that.  @rchande can you take a look at the project properties issue?

@jasonmalinowski can you look at "Any project referencing the ClassLibrary5 project will have a the warning: `The project 'ClassLibrary5' cannot be referenced.`"?

@yishaigalatzer / @emgarten  / @davidfowl : what is `suppressParent` and how does it affect the lock file?

[2015-12-19 03:11] AArnott commented on #1831
@Pilchie you can read about `suppressParent` [here](https://github.com/NuGet/Home/wiki/%5BSpec%5D-Managing-dependency-package-assets)

[2015-12-19 03:23] Pilchie commented on #1831
Okay, but flowing the dependency transitively is the default, so the entry shouldn't be needed for @jmelosegui's scenario.

[2015-12-19 03:45] AArnott commented on #1831
Fair enough. But I am seeing all the same symptoms, he is seeing for my project where I do you have to specify that extra dependency data.

[2015-12-19 04:30] yishaigalatzer commented on #1860
Do you have the same issue, if you build at the solution level?

[2015-12-19 04:31] yishaigalatzer commented on #1859
You also need to consider projectname.project.json in this case

[2015-12-19 04:32] yishaigalatzer commented on #1856
We need a label for the build task, how about Area: Build Task ?

[2015-12-19 04:34] yishaigalatzer commented on #1854
ASP.NET 5 resolves it by making the package/project be an alternating thing. If you can use that build model you are better off. Also if you want to go to this mode, I suggest using project.json + csproj (because packages from other projects are a pain to update otherwise).

[2015-12-19 05:10] AArnott commented on #1860
Yes, it fails rebuilding the solution or rebuilding a project. Incremental build doesn't usually show the errors I guess because package restore doesn't usually happen then. But incremental build will still fail when a prior nuget restore failure led to incompletely written project.lock.json or msbuild import files.

[2015-12-19 06:50] myusrn commented on #1854
thanks for highlighting the different asp.net 5 project behavior, i'll test switching to the environment and see if it gives a better workflow for package dependencies, vs project references, where i need to do work on both package and project that depends on package output.

[2015-12-19 15:16] mvalipour commented on #1282
I have exact same issue in OctopusDeploy. My scenario is that my TeamCity kicks off multiple deployments (in fact releases that have an auto-deploy lifecycle), and in consequently tries to `pack` several packages at the same time (`nuget pack` I believe) which results in All of the 5 except last one to fail -- retrying each of 4 failed ones will result in success which is clear indication that pro

[2015-12-19 16:22] etairi opened #1861 "Cannot install Microsoft.VisualStudio.Debugger.Interop.14.0 through NuGet"
I tried to install the package `Microsoft.VisualStudio.Debugger.Interop.14.0` using NuGet (I tried both the command-line and UI version), but I get the following error messages, when it tries to install the dependency `Microsoft.VisualStudio.Debugger.InteropA`:

[code]

I asked some Microsoft guys, and they told me that the InteropA package has a single assembly directly in the lib folder, which N

[2015-12-20 15:48] WardBenjamin opened #1862 "Nuget 3.3/VS 2015 package causes project to reference dlls but not include content files"
I have been trying to package a project of mine and the associated pdb and dll config files, but the new content v2 (contentFiles) system seems to be not working. Essentially, the dlls are linked to the project and the content is copied with the package, but it is not linked to the actual csproj file or copied into the project folder.

I asked a question on StackOverflow a little while ago, and th

[2015-12-20 19:46] abatishchev commented on #1773
Yes, please. Forgetting to click Update causes all changes to be discarded.
With adoption of custom vso feeds, this happens every other day.

[2015-12-21 10:47] TonioOoOo commented on #1823
Thx !
I think description is needed on Browse/Install screen and release notes on update screen only...

[2015-12-21 10:53] xavierdecoster commented on #1823
I think the link formats need to be configurable through service document at https://api.nuget.org/v3/index.json (similar to ReportAbuseUrl, the server should be able to declare this feature, client can fallback to nuget.org default)

[2015-12-21 14:47] forderud commented on #420
@alpaix  any update on fixing this issue?

[2015-12-21 15:00] igrali commented on #1638
Same repro steps as @zman13 and @Erucy described are causing a crash/Package Manager Console error on my side. Reinstalled VS 2015 Update 1, same thing is happening again. It's very annoying, so please keep us posted!

[2015-12-21 17:36] yishaigalatzer commented on #1638
@igrali did the workaround that @pete1208 used (changing the config file) unblock you?

[2015-12-21 21:22] jasonmalinowski commented on #1831
@Pilchie: as far as triaging this, who should be assigned first? It's quite possible all the various symptoms were seeing here are from some root cause.

[2015-12-21 22:18] jasonmalinowski opened #1863 "GetProjectsReferencingProjectJson has wrong "ProjectJson" metadata for projectname.project.json"
The code today:

[code]

The ProjectJson is hard-coded to project.json, but it might have been [projectname].project.json in reality.

(Mentioned internally in bug 149651 and also by @onovotny.)

[2015-12-21 22:19] jasonmalinowski commented on #1863
@yishaigalatzer, @emgarten: Is NuGet actually using this property? When @Pilchie and I saw this internally a month or so ago we weren't sure.

[2015-12-21 22:36] yishaigalatzer commented on #1863
I don't believe we do, as we generate our own target file in nuget.exe. @onovotny Did you actually hit an issue?

[2015-12-22 00:35] clairernovotny commented on #1863
I did not hit any issues related to this. I just noticed it when trying to see what and how the TFM's were used in the targets file and thought it was suspicious.

[2015-12-22 01:38] alpaix commented on #420
@forderud it's in my work queue. Will look into this within next few days.

[2015-12-22 02:39] Erucy commented on #1638
I just did the workaround as @pete1208 did. It seems make everything fine.

[2015-12-22 09:28] maximvsidorenko commented on #998
The issue is still reproducible on nuget.exe downloaded from https://www.nuget.org/nuget.exe (version 2.8.6)

[2015-12-22 10:18] forderud opened #1864 "Post-build events cannot depend on NuGet DLLs"
As of today, NuGet redist DLLs are copied to $(OutDir) _after_ execution of post-build events. This is problematic for C++ use-cases where one want to run a unit-test automatically as post-build event, since any NuGet DLLs required by the test framework are not yet available.

Suggestion:
- Change the NuGet "AfterBuild" targets to run _before_ execution of post-build events.

[2015-12-22 10:29] forderud commented on #1864
Problem reproduced with Visual C++ 2015 (update 1) and NuGet 3.3.0.167.

[2015-12-22 11:27] maartenba opened #1865 "NuGet.exe 3.3.0 update command on solution installs package in all projects"
_From @BeeWarloc on December 22, 2015 10:35_

Given SomeSolution.sln with ProjectA and ProjectB, where ProjectA references a Package 1.0.0.

The old nuget.exe (v2) would upgrade Package to the latest version in ProjectA, and leave ProjectB alone, as expected.

The new nuget.exe (v3) upgrades Package to latest version in ProjectA, but also installs the Package in ProjectB. For this to occur Project

[2015-12-22 11:27] maartenba commented on #1865
_From @BeeWarloc on December 22, 2015 10:38_

This might be the wrong place to report this issue, my apologies if that's the case.

[2015-12-22 11:28] maartenba opened #1866 "NuGet 3.3 under VS2015 removes References XML from proj files"
_From @lukepuplett on December 22, 2015 9:52_

Cross-posted with SO.

http://stackoverflow.com/questions/34400276/nuget-references-vs2015-and-vs2013-compatibility

Reinstalling packages removes the `<Reference ...>` XML elements from the .csproj files, but the references are visible as nodes in the Solution Explorer pane.

I'm not sure if this is intended behaviour. My colleagues think not, and in

[2015-12-22 16:46] yishaigalatzer commented on #1865
Known and fixed. You can pick nuget 3.4 from the nuget build feed in myget

[2015-12-22 16:46] #1865 closed, assigned to nobody

[2015-12-22 17:02] igrali commented on #1638
Do you mean: do Devenv /ResetSettings and reinstall VS again or? I tried doing Devenv /ResetSettings but that didn't help :(

[2015-12-22 17:04] yishaigalatzer commented on #1638
Change the config file is the suggestion.

[2015-12-22 17:49] igrali commented on #1638
Oh, I see. Yeah, it seems that adding those entries to devenv.exe.config solved the problem for me - I was finally able to use Package Manager Console and publish my web app without a crash. Thanks! :smiley:

[2015-12-22 17:52] kkm000 opened #1867 "nuget pack ignores package.config dependencies"
I cannot get `nuget pack X.csproj` to recognize package dependencies in a project. Amazingly, when packaging, the diagnostic message _“Found packages.config. Using packages listed as dependencies”_ is printed, but in the end the `<dependencies/>` tag in the `.nuspec` file inside the package is empty.

The `packages.config` for the project does indeed contain references:

[code]

To narrow the prob

[2015-12-22 18:28] zhili1208 commented on #998
Can you try version 3.3? you can download the latest version from NuGet.org homepage. thanks

[2015-12-22 19:05] nanderto commented on #1462
yes its still an issue, fiddler did not help. Still trying to fix this.

[2015-12-22 19:09] yishaigalatzer commented on #1462
@maartenba can you point @nanderto to the new nuget.server package you just produced?

[2015-12-22 19:12] maartenba commented on #1462
The new package (prerelease!) can be installed / updated from the `https://www.myget.org/F/nugetbuild/api/v3/index.json` package source.

Basically run an update of the existing NuGet.Server package you have and should be fine.
Note that the very first start of the server may be a bit slower because it restructures the packages folder.

[2015-12-22 19:16] nanderto commented on #1462
Thanks for the help, and the speedy reply. I will try this out when I return to work in new year, and provide update then. Thanks

[2015-12-22 19:27] sadjadbp opened #1868 "Resolve Conflics"
Every time I update a package like bootstrap from NuGet in VS 2015, it won't delete the old folder and adds that .deleteme file, then also when I check-in (into VS online) then I have to go to "Resolve Conflicts" section and select all then click that "copy to local ..." and then go ahead in the packages folder and delete that folder again! it has been like this from v3 and it really bugs me. Than

[2015-12-22 21:20] yishaigalatzer commented on #1868
You are supposed to restart visual studio, this happens because something is holding on to the file. We are tracking a separate bug to not put the deleteme file in TFS. I will fix that one shortly https://github.com/NuGet/Home/issues/1720

[2015-12-22 21:20] #1868 closed, assigned to nobody

[2015-12-22 21:24] yishaigalatzer commented on #1867
if `SmartAction.Logger` depends on `SmartAction.Pervasive` it makes sense not to add both of them as direct dependencies. When you install the package dependencies are resolved transitively.

So I would look at what is the difference between the project in the solution and outside the solution. Is there something else going on there?

[2015-12-22 21:29] yishaigalatzer commented on #1864
I'm not super familiar with this use case, can you share more information? What test framework are you using, and what is msbuild target are you trying to rely on?

[2015-12-22 21:35] yishaigalatzer commented on #1862
You are saying in your SO post, that packages.config is being added, and also you are adding dlls. So I'm a bit confused to what exactly you are trying to achieve because:
1. ContentFiles is designed to only work in project.json scenarios.
2. It is note designed to add dlls, you could add them, but they wouldn't be referenced. You also need to specify build action, because the default build action

[2015-12-22 21:35] #1862 closed, assigned to nobody

[2015-12-22 21:45] yishaigalatzer commented on #1861
I just tried doing this with both visual Studio 2013, and 2015 (Nuget 3.3), and both install fine.

Can you please make sure you have the latest version of NuGet installed, and try again?

I'm closing as no-repro, but if you still can't resolve it, please post more details and a sample project where this doesn't work.

[2015-12-22 21:45] #1861 closed, assigned to nobody

[2015-12-22 21:47] yishaigalatzer commented on #1860
@emgarten can you please investigate?

[2015-12-22 22:15] yishaigalatzer commented on #1858
We need to look at getting rid of WebProxy on coreCLR, and potentially all over the place.

CC // @SidharthNabar

[2015-12-22 22:33] forderud commented on #1864
I'm using Boost test (http://www.boost.org/doc/libs/release/libs/test/), but the same principle applies to any C++ unit-test framework that generates an executable intended to be run as a post-build event.

There is nothing fancy about my setup. Just a simple C++ project with a custom "post build event" to automatically start the generated executable that runs the test suite.
![image](https://clou

[2015-12-22 22:35] sadjadbp commented on #1868
The first part of the bug is about that .deleteme file. by the way, closing and reopening, even in "run as admin" mode does not help. It never deletes package folder and the deleteme file.

Also, that Resolve Conflict part is my main issue. So please don't close this one yet.

[2015-12-22 22:37] yishaigalatzer commented on #1864
I don't know what is the build script you refer to and what binaries is boost depending on.

[2015-12-22 22:39] yishaigalatzer commented on #1868
I just pushed a PR to remove these files from source contro - https://github.com/NuGet/NuGet.Client/pull/163

Could you try re-running your scenario without being attached to source control? Also can you please verify you have both Update I and NuGet 3.3 installed?

[2015-12-22 22:44] forderud commented on #1864
There is not build script, just a simple C++ project that starts the generated executable as a post-build event.

My generated executable depends a Boost DLLs that is packaged in the "redist" version of the Boost NuGet package I'm using ("boost_unit_test_framework-vc110-mt-gd-1_59.dll" in my case). However, these are unimportant details for you, since this is a generic problem affecting all C++ pr

[2015-12-22 22:59] yishaigalatzer commented on #1864
I'm still not following. I'm guessing you are referring to the targets the package adds, in that case  this is a package issue. I might be able to find time to take a look if you could  provide the package id and version.

[2015-12-22 23:17] yishaigalatzer commented on #1868
Just pushed a fix, shoot me an email to my microsoft account: y i g a l a t z

I’ll share a private build so you can verify it

From: Sadjad Bahmanpour [mailto:notifications@github.com]
Sent: Tuesday, December 22, 2015 2:36 PM
To: NuGet/Home Home@noreply.github.com
Cc: Yishai Galatzer yigalatz@microsoft.com
Subject: Re: [Home] Resolve Conflics (#1868)

The first part of the bug is about that .dele

[2015-12-22 23:31] #1720 closed, assigned to yishaigalatzer

[2015-12-22 23:32] yishaigalatzer commented on #1720
Fixed with https://github.com/NuGet/NuGet.Client/commit/08677f713378f9c0e02a2385d5f91763442db0c2

[2015-12-22 23:32] WardBenjamin commented on #1862
What I'm trying to accomplish with ContentFiles is to copy the dll.config and the pdb files into the project, along with referencing the dlls (that part is done normally). I've managed to do it through a custom .targets file, but this not working seems to be something that should be addressed as a bug

I'm not quite sure what you mean, but the spec that you linked seems to say that I can do this i

[2015-12-22 23:42] yishaigalatzer commented on #1862
What it means is that this works _only_ in a project where the packages are added through a project.json file, rather than through a packages.config file. The scenario is replacing the old content model in new project types, but it explicitly designed not to work when you use packages.config. The way these are added is through the project system by reading a project.lock.json. The project system i

[2015-12-22 23:51] WardBenjamin commented on #1862
Yep! If I was then it was an accident. (Taking a look at the SO post, it does seem like the contentFiles statement there would have included that. Whoops, but not the problem).

I thought it had a default as per [the spec](https://github.com/NuGet/Home/wiki/%5BSpec%5D-Content-v2-for-project.json#attributes-defaults)?

Thanks!

[2015-12-22 23:56] yishaigalatzer commented on #1862
Too much nesting :) Lets flatten again

The spec says the default of a content item is compile - The only things that compile in a C# project are `.cs` files, in your case you added pdb and config files. Also the default is to not copy to output, it means that items are only referenced by the project (so they will show up in the generated dll), but they will not show up in the tree or copied into

[2015-12-22 23:59] WardBenjamin commented on #1862
Apparently my project is using packages.config, so I guess that was the issue?

Two things remain:
- How do I switch to the project.json format?
- Can this be made more clear in the docs?

Thanks!

[2015-12-23 00:03] yishaigalatzer commented on #1862
1. Changed the docs to make it clear (right on the top of the document)
2. Included a [link](https://github.com/NuGet/Home/wiki/Converting-a-csproj-from-package.config-to-project.json) for moving over right in the docs.

[2015-12-23 00:03] yishaigalatzer commented on #1862
CC @emgarten who is working on the official docs

[2015-12-23 07:44] maartenba opened #1869 "Frameworks within the portable profile are not allowed to have profiles themselves"
Relates to https://github.com/NuGet/NuGetGallery/issues/2822 - Frameworks within the portable profile should not be allowed to have profiles themselves.

Arrange:
- A package containing a folder `/build/portable-net+win+wpa+wp+sl+net-cf+netmf+MonoAndroid+MonoTouch+Xamarin.iOS` - sample package: https://www.nuget.org/packages/Nerdbank.GitVersioning/1.1.64

Act:
- `NuGet.Packaging.PackageReader.GetS

[2015-12-23 08:51] forderud commented on #1864
Ok. I understand.

I'll get back to you within a week with a minimal reproducer.

[2015-12-23 13:12] maximvsidorenko commented on #998
Looks like it is ok to use 3.3. But I want to emphasis that version placed here  https://www.nuget.org/nuget.exe contains bug.

[2015-12-23 13:17] csharpfritz commented on #998
The nuget.org/nuget.exe is a legacy version that is no longer updated.  We
have relocated command-line builds to http://dist.nuget.org/index/html
where all binary client versions are maintained going forward.  This new
structure also allows us to be able to keep other clients for other
operating systems when they are ready.

You can always grab the latest command-line for Windows at:
https://dist.

[2015-12-23 13:43] maximvsidorenko commented on #998
Thanks, Jeffrey

[2015-12-23 15:01] ferventcoder opened #1870 "NuGet.Core for version 3?"
When I'm looking for upgrading to nuget core v3+, am I supposed to be looking at https://www.nuget.org/packages/NuGet.Client ?

Or is it https://www.nuget.org/packages/NuGet.Protocol.Core.v3 ?

Alternatively, how much of v3 bits are in 2.10.1? https://www.nuget.org/packages/NuGet.Core/2.10.1 (I saw a little bit of compatibility bits in there on my initial diffing).

[2015-12-23 15:02] etairi commented on #1861
I'm using Visual Studio 2015 Enterprise Update 1, and I have NuGet 3.3. I cannot install that package in any kind of project or framework, neither in a VSIX project nor in a simple console application. Here is an example, where I created just a new console application, it is empty, when I tried to install the package, I got the following [output](http://prntscr.com/9hnzb9). I also tried to change

[2015-12-23 17:23] vijayrkn commented on #1638
@pete1208 Thanks for sending us the disk with VM. We will take a look at it.

[2015-12-23 18:24] kkm000 commented on #1867
@yishaigalatzer: Regarding transitivity, I heartily disagree. In C++, we had a very god rule that paid off many times: IWYU, "include what you use," instead of relying on some magically obtained knowledge that X includes Y, therefore I do not need to include Y even if I use it. Many cryptic errors bit those who did not follow the rule. And this is sans versioning.

Also, this non-inclusion breaks

[2015-12-23 18:34] yishaigalatzer commented on #1867
I see your point, but making both dependencies declared, do not actually resolve the problem (it might solve the dependency dropped issue) but the install process picks up dependencies anyways and does the uber complex gyration of figuring out the right dependency graph. That is the heart of nuget, and not a hack.

If you want to be that explicit, I would not rely on packing csproj directly and in

[2015-12-23 18:54] kkm000 commented on #1867
I see. So the actual problem here is that the csproj and its `packages.config` together have lost information _why_ the dependency is in packages.config, so you cannot distinguish those added by the user from those included as package dependencies. That's a big deal, a nasty problem indeed! The whole infrastructure, including Visual Studio plugins, needs to be fixed to retain this bit of informati

[2015-12-23 18:56] yishaigalatzer commented on #1867
project.json is a mechanism that also works **with** msbuild, in fact nuget is build this way. NuGet 3.1 introduced it for UWP apps, and it provides quite a few advantages (even if it is not officially supported 100% yet).

Here is a quick [primer](https://github.com/NuGet/Home/wiki/Converting-a-csproj-from-package.config-to-project.json) on the subject and conversion, you can also look at our doc

[2015-12-23 19:04] kkm000 commented on #1867
Very interesting, thanks! So will it work with regular library csproj projects that do not do anything on install (basically, just packaged from the project file by default)?

Are "frameworks" and "runtimes" clauses required?

[2015-12-23 19:19] yishaigalatzer commented on #1867
Can you elaborate?

[2015-12-23 20:07] kkm000 commented on #1867
Thank you for the explanation. I am wondering is it technically possible/feasible to default framework to the one targeted by the current build? This is interesting, I have a few multi-target low level libraries that have separate configurations for net40 and net45. I had to manually make HintPath conditional on the Configuration variable in these when they are built as multitarget packages as wel

[2015-12-23 20:09] kkm000 commented on #1867
Ah, and there are also some packages that extend MSBuild, with .targets. .props and MSBuild tasks DLLs.

[2015-12-23 20:15] avanderhoorn commented on #1855
I just ran into this same issue when trying to add logging to a csproj based project... I also got a similar `System.IO` one for `Microsoft.AspNet.StaticFiles`

[2015-12-23 20:48] yishaigalatzer commented on #1867
So specifying multiple target frameworks is not yet supported with csproj, but works fine with raw project.json including automatically generating multiple builds and nuget packages (see ASP.NET class library in Update I). That unfortunately doesn't support msbuild targets of F# just yet.

You can use msbuild targets from nuget packages with project.json but it doesn't support multi target compila

[2015-12-24 01:04] kkm000 commented on #1867
Thanks! I'll certainly give it a try!

[2015-12-24 04:10] WardBenjamin commented on #1862
Apparently my project is using packages.config, so I guess that was the issue?

Two things remain:
- How do I switch to the project.json format?
- Can this be made more clear in the docs?

Thanks!
(I meant to post this yesterday but apparently the POST request never made it to github before I closed my laptop lid. Whatever, I guess :smiley: )

[2015-12-24 04:28] ericBG opened #1871 "Trying to install a package - error."
Every tine I try to download a package on Nuget for VS2015 Community, it gives me this error:

[code]

This is essentially on a new WPF project... any ideas?

[2015-12-24 05:54] yishaigalatzer commented on #1862
See the answers above :)

[2015-12-24 13:03] evil-shrike opened #1872 "NuGet Package Manager crashes in VS 2013/2015 on Windows 10"
I have VS2013 (w/Update 5) and VS2015 on Windows 10. It was clear installation.

On opening VS2015 tells me: "The 'NuGetPacakge' package did not laod correctly".
In ActivityLog.xml in userprofile:

[code]

On opening VS2013 nothing bad happens but trying open Nuget Package Manager for a project/solution fails with error:
"Value cannot be null.
Parameter name: source".
I can open NuGet Settings but

[2015-12-24 13:14] WardBenjamin commented on #1862
Oh, thanks!

[2015-12-24 23:28] commonsensesoftware opened #1873 "NuGet.CommandLine nuspec should specify developmentDependency"
The nuspec file for the **NuGet.CommandLine** package should declare **developmentDependency="true"** in the metadata.  Without this present, other tools that want to depend on the package cannot exclude it as a forward dependency (e.g. nuget.exe will see "NuGet.CommandLine" as a dependency when using _pack_ against a project).

The side effects of not have this declared results in one or more of

[2015-12-25 02:29] ericBG commented on #1871
I tried it again after downloading all the files and doing it locally, and it gave me this error:

https://gist.github.com/ericBG/ef856e1072e05d41ace0

Merry Christmas everyone!

[2015-12-25 12:16] evil-shrike commented on #1872
Any ideas?

[2015-12-25 13:35] zaytsevand commented on #842
Found out that nuget.exe is loosing trailing zeros of a version.
Like: it will try to download v x.xx.xx.0 by using "<...>x.xx.xx" url. Which will result with 404 status code.
API v3

packages>
  package id="<package_name>" version="1.4.12.0" targetFramework="net46" />
packages>

[GET] https://<...>.myget.org/F/default/api/v3/flatcontainer/<package_name>/1.4.12/<package_name>.1.4.12.nupkg

[2015-12-25 18:38] yishaigalatzer commented on #842
That looks like a bug in myget - v3 requires normalization. Will loop them in

[2015-12-25 18:46] maartenba commented on #842
Can you contact support@myget.org?

[2015-12-25 21:22] forderud commented on #420
Thanks a lot @alpaix. I really apreciate your help in fixing this issue.

[2015-12-25 22:30] yishaigalatzer commented on #420
@forderud can you please verify this solves it in your scenarios?

[2015-12-25 22:36] forderud commented on #1864
Minimal C++ project to reproduce the issue: [NuGetPostBuild.zip](https://github.com/NuGet/Home/files/72280/NuGetPostBuild.zip)

It appears like the problem might be related to the CoApp (http://coapp.org/) authoring tool used to generate native C++ NuGet packages.

[2015-12-25 22:46] yishaigalatzer commented on #1864
Note that co-app is an abandoned project and I believe the c++ folks are working in a replacement.

Thanks for the repro, will be back after the first of the year to look at it.

[2015-12-25 22:53] forderud commented on #1864
I know that CoApp is abandoned. However, it's the only authoring tool for native packages currently available, so the C++ community is kind of stuck with it for the time being.

Please let me know when a better replacement is available, and I'll promise to switch ASAP.

[2015-12-25 22:57] yishaigalatzer commented on #1864
Sure, I'll ping some folks to get in touch with you

[2015-12-25 23:29] forderud commented on #420
Unfortunately, the time-stamp issue persists even when building NuGet.Client from the latest "dev" branch.

Steps to reproduce:
1: Build NuGet.Client from "dev" branch.
2: Install artifacts\NuGet.Tools.vsix
3: Unzip & build  [NuGetTimeStamp-Reproducer.zip](https://github.com/NuGet/Home/files/72283/NuGetTimeStamp-Reproducer.zip)
4: Verify that time-stamps of files unzipped beneath the "packages" su

[2015-12-26 01:38] yishaigalatzer commented on #420
Alex my guess is that this I an opc code path from nuget2.

[2015-12-26 01:42] yishaigalatzer commented on #1870
it depends what you are looking into. NuGet 3 is a set of packages, you can start with nuget.packagemanagement the protocol packages.

None of the V3 bits are in 2.10.1 or 2.11 nuget.core, there are some vestigial dependencies on nuget.core (mostly for packing and some OPC v2 code paths) which we plan to remove completely in the coming versions

[2015-12-26 01:50] yishaigalatzer commented on #1871
Can you also share your nuget.config (basically what packages sources are defined for your project?)

[2015-12-26 01:54] yishaigalatzer commented on #1872
Thanks for the hint with the space in the user name folder. We can give it a spin.

What version of NuGet do you have installed with Visual Studio 2015?

[2015-12-26 01:59] yishaigalatzer commented on #1873
We should verify this is also a part of nuget.xplat package, also note that nuget.commandline is attempting to include the pdb, but it gets stripped out

[2015-12-26 02:05] yishaigalatzer commented on #420
@forderud just to try and validate this assumption, are you restoring from a V2 or V3 feed (api.nuget.org/v3/index.json)

[2015-12-26 02:18] yishaigalatzer commented on #420
Actually I still see this repro with V3 api as well. @alpaix back in your hands to investigate. I will also add a commandline test to restore against a V2/V3 server

[2015-12-26 02:27] ferventcoder commented on #1870
Used as a library, that's what I'm looking at. NuGet.Core provided IPackage, PackageManager, etc. Since it is not clear anywhere here what the migration strategy is, you may want to leave this issue open until you have documentation in place that explains this.

[2015-12-26 02:28] ferventcoder commented on #1870
Related to https://github.com/NuGet/Home/issues/1839, I am looking to upgrade to a version of the library, or libraries, that handles Highest Dependency Version resolution worth a darn.

[2015-12-26 02:32] ferventcoder commented on #1870
I recommend leaving this open as a documentation task.

[2015-12-26 02:34] ferventcoder commented on #1870
Alternatively if you already have migration documentation somewhere, I'd love to know where that is, even if it is just a blog post somewhere.

cc @xavierdecoster @maartenba

[2015-12-26 02:36] ferventcoder commented on #1870
I'd also recommend a Gitter room if you don't already have one for questions like these. I would have preferred not creating an issue for a question but I don't see another avenue.

[2015-12-26 02:36] ferventcoder commented on #1870
~~Is NuGet.PackageManagement the package I'm looking for?~~ Update: this doesn't look correct.

[2015-12-26 02:39] daveaglick commented on #1870
+1 for Gitter room - a place for ad-hoc support (including community-driven help) would probably help keep GitHub issues cleaner.

[2015-12-26 02:43] daveaglick commented on #1870
(Not that I didn't think this question was valuable - information like this about the internals is hard to come by right now, so I think it was very helpful, at least to me)

[2015-12-26 02:46] ferventcoder commented on #1870
I'm also curious if NuGet v3 takes into account the dependency requirements of already installed packages because I don't see NuGet v2.8.x (at least for 2.8.2) taking already installed packages into account when resolving new packages. The dependency resolver and walker only take into account the context of what is being installed. I have repros for this I can share.

[2015-12-26 02:55] ferventcoder commented on #1870
It looks like most of the code I'm looking for may be in https://github.com/NuGet/NuGet.Client.

[2015-12-26 03:07] ericBG commented on #1871
[code]

[2015-12-26 07:09] yishaigalatzer commented on #1870
The question is what are you guys trying to do with the libraries. Things are broken down to a set of libraries instead of one monolithic libraries, however we are not planning building docs for them just yet. They are more of an implementation detail of the nuget clients and once they stabilize we could go there.

In the meantime ask specific questions here or on so.

[2015-12-26 08:50] forderud commented on #420
I'm restoring from the default VS2015 nuget feed, which is https://api.nuget.org/v3/index.json .

[2015-12-26 15:39] yishaigalatzer commented on #1871
Are you running nuget 3.3?

[2015-12-26 16:45] ericBG commented on #1871
3.3.0 is the version I'm running.

[2015-12-26 16:48] yishaigalatzer commented on #1871
Thanks

Sent from my Windows Phone

---

From: ericBGmailto:notifications@github.com
Sent: ‎12/‎26/‎2015 8:45 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Trying to install a package - error. (#1871)

3.3.0 is the version I'm running.

—
Reply to this email directly or view it on GitHubhttps://github.com/NuGet/Home/issues/1871

[2015-12-26 23:12] evil-shrike commented on #1872
NuGet in VS 2013 - 2.8.60723.765
NuGet in VS 2015 - 3.3.0.167

[2015-12-26 23:35] yishaigalatzer commented on #1872
Can you please update to 3.3 on 2015 and let us know if it still crashes?

Sent from my Windows Phone

---

From: Sergei Doroginmailto:notifications@github.com
Sent: ‎12/‎26/‎2015 3:12 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] NuGet Package Manager crashes in VS 2013/2015 on Windows 10 (#1872)

NuGet in VS 2013 - 2.8.60723.

[2015-12-27 05:12] phrohdoh opened #1874 "Update command yields null projectFramework."
System information:

[code]

[code]

[code]

[2015-12-27 17:51] yishaigalatzer commented on #1874
@Phrohdoh looks like the code is using msbuild instead of xbuild here. @feiling was working on fixing it, assigning to him to look into the issue. (He will be back after the first of the year)

[2015-12-27 17:53] yishaigalatzer commented on #1871
Hey @ericBG, I don't seem to get a repro, things install cleanly on my box, with a fresh file->new WPF application.

[code]

trying to figure out what is different about your setup?

[2015-12-27 21:02] evil-shrike commented on #1872
@yishaigalatzer I'm on 3.3 already, I mistakenly wrote 3.0 at the first time, sorry

[2015-12-27 21:06] yishaigalatzer commented on #1872
Ok. Will take a look after the first of the year. Need to set up a vm and user for this. I guess you know the work around for now

[2015-12-27 23:53] phrohdoh opened #1875 "Restore command lacks -Project2ProjectTimeOut flag under OS X"
NuGet Version: 3.3.0.212

[code]

Reference: https://github.com/NuGet/NuGet.Client/commit/0df20a5850dea79917426ca2ee3458dcb11c3059 and https://github.com/dotnet/roslyn/pull/7375

Is this intentional or is my version too old?

[2015-12-28 00:01] phrohdoh commented on #1874
Good info, thanks for tagging this so quickly!
I was able to reproduce this issue with `restore` due to using MSBuild.

https://github.com/dotnet/roslyn/blob/master/build/ToolsetPackages/project.json

[code]

[2015-12-28 00:34] ericBG commented on #1871
Well I got R# installed, that's about it. Maybe OS version? I'm on Windows 10, IDK. What I do know is I've tried reinstalling NuGet so it's not an issue with that, and both the GUI and the console throws up the error, and on mine I was on framework 4.5.2 but I moved back to 4.5 like in your repro and it threw up the same error. Maybe the cmdlets are corrupted?

[2015-12-28 00:59] yishaigalatzer commented on #1871
Did you try clearing the cache like I suggested above?

[2015-12-28 01:00] yishaigalatzer commented on #1871
Sorry red-d wrong issue try nuget.exe locals -clear all

[2015-12-28 01:10] ericBG commented on #1871
Sorry for my ignorance but where is nuget.exe?

[2015-12-28 01:24] yishaigalatzer commented on #1871
Click on the downloads tab on nuget.org

[2015-12-28 01:57] ericBG commented on #1871
This is the new log after that:

[code]

[2015-12-28 02:13] yishaigalatzer commented on #1871
One thing I can think of that is different than normal the project name. Can you try removing the + (sorry on my phone so can't try it).

Sent from my Windows Phone

---

From: ericBGmailto:notifications@github.com
Sent: ‎12/‎27/‎2015 5:57 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Trying to install a package - error. (#1871

[2015-12-28 02:22] ericBG commented on #1871
It's not the '+':

[code]

[2015-12-28 02:32] yishaigalatzer commented on #1871
Thanks. A few more things to try.

Not sure if you can get a more verbose log.

Also try install just common.logging

Sent from my Windows Phone

---

From: ericBGmailto:notifications@github.com
Sent: ‎12/‎27/‎2015 6:22 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Trying to install a package - error. (#1871)

It's not the '+':

[2015-12-28 02:41] ericBG commented on #1871
I'd be the last person to know where to enable Nuget's verbose logging.

[code]

[2015-12-28 11:07] maartenba commented on #1869
Created PR. https://github.com/NuGet/NuGet.Client/pull/165

[2015-12-28 17:38] SidharthNabar commented on #1858
Yes - `WebProxy` was a convenience class that was part of the .NET Framework managed HTTP stack. .NET Core uses a different HTTP implementation and `WebProxy` type is no longer part of this. Consider using the following instead:
1. Create a custom type that implements `IWebProxy` interface. All .NET Core HTTP APIs related to proxies accept any type that implements `IWebProxy`.
2. Use `WinHttpHandl

[2015-12-28 19:29] alpaix commented on #420
Looking into this...

[2015-12-28 20:48] davidsh commented on #1858
There are simpler ways to replace `WebProxy`.  You don't need to start changing all of your code to rip out calls to `WebProxy`.

You should first just create your own `System.Net.WebProxy` class (i.e. a shim) and implement the `IWebProxy` interface on it. How exactly you implement this class depends on how you are using `WebProxy`.

I could assist more if I knew exactly how you are using the `Web

[2015-12-28 21:00] vijayrkn commented on #1638
@pete1208 I tried to repro the issue you mentioned on the machine you provided and I can open the publish dialog with Package manager open without any issues. I also tried publishing the project and it works fine. Is there any repro steps that I am missing here?
![publishdialog](https://cloud.githubusercontent.com/assets/3981619/12025354/d68f8f5e-ad62-11e5-8c1b-d139c0b9130d.jpg)

[2015-12-28 21:01] yishaigalatzer commented on #1875
Yes it is old. This is in nuget 3.4 only, you can grab the nuget.commandline package from http://myget.org/gallery/nugetbuild

[2015-12-28 21:01] #1875 closed, assigned to nobody

[2015-12-28 21:04] yishaigalatzer commented on #1871
[code]

[2015-12-28 21:08] yishaigalatzer commented on #1872
@evil-shrike I tried it today with a username with a space in it. I don't see any issue. Can you try and get activitylog from Visual Studio 2015 with Update I. In Update I the activity log is supposed to include mode details that might give us a clue.

[2015-12-28 21:16] yishaigalatzer commented on #1866
@lukepuplett this doesn't sound like something that is supposed to happen, update-package -reinstall definitely does not do that (at least in all the cases we know about), since there are not enough details in the post, to figure out what is going on, can you please fill in some more details?
1. What version of NuGet are you using? The current version is 3.3, and many bugs have been fixed between

[2015-12-28 21:21] yishaigalatzer commented on #1638
Vijay can you run install-package command ?

[2015-12-28 21:26] pete1208 commented on #1638
Did you open notepad++ and remove the lines I added to the config? The current config is a work-around one

[2015-12-28 22:42] lukepuplett commented on #1866
Hello, I'm not at work this week so I'll try and answer what I can now.
1. To be confirmed; VS 2015 w/o update.
2. It was an ASP.NET 4, MVC 5 Web Application created using VS 2013 probably Update 3 back then.
3. I'll try. A colleague did an update the other day and I stopped him before he committed and checked for this behaviour and his looked okay.
4. I can't post code though I stashed the change

[2015-12-28 23:17] yishaigalatzer commented on #1866
@lukepuplett thanks for getting back on this. I'll wait for you to update to the latest, and report back after you get back to work, and we can take it from there.

[2015-12-29 00:39] vijayrkn commented on #1638
I can repro the PMC issue after removing the additional entries from devenv.exe.config. Web publish does work even when this error is thrown. Looking into it.

![pmc_issue](https://cloud.githubusercontent.com/assets/3981619/12027759/b6bd9306-ad80-11e5-92f6-32cc323f1dd4.png)

[2015-12-29 00:46] ericBG commented on #1871
... it worked!

[code]

Does -Verbose do anything different apart from logging it? Because I hadn't **touched** the solution since yesterday...

[2015-12-29 01:33] yishaigalatzer commented on #1871
Oh oh. Not that I'm aware of.

Does it work without it on a new project?

[2015-12-29 06:52] ctyar commented on #737
Reinstalling a package in vs2015 and nuget 3.3.0.167 still fails
nuget package source is local

[code]

[2015-12-29 17:05] AArnott commented on #737
What is the resolution of this bug? The labels seem to suggest it's being worked on, but it was just closed.

[2015-12-29 17:28] slobo80 commented on #1225
I'm having the same issue. Disabling parallel build mitigates the issue. Any ideas?
NuGet Version: 3.3.0.212

[2015-12-29 17:50] yishaigalatzer commented on #1225
Do you run multiple restores in parallel? Can you share the full log?

[2015-12-29 17:51] slobo80 commented on #1225
I do run multiple restores in parallel. This is internal Microsoft project and therefore prefer not to share the log publicly.

[2015-12-29 17:53] yishaigalatzer commented on #1225
Also do you have a ln easily reproducible scenario?

[2015-12-29 17:55] yishaigalatzer commented on #1225
Shoot me an email to ny Microsoft account

Sent from my Windows Phone

---

From: Slobodan Stipicmailto:notifications@github.com
Sent: ‎12/‎29/‎2015 9:51 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] NuGet Restore race condition (#1225)

I do run multiple restores in parallel. This is internal Microsoft project and therefore pr

[2015-12-29 18:00] slobo80 commented on #1225
Sent you the log.

[2015-12-29 20:31] yishaigalatzer commented on #1225
Re-Closing the log indicates a different problem, where the issue is a race between the build and restore (which cannot be a NuGet concern).

Will keep following up offline and re-open if the facts show something else

[2015-12-29 20:31] #1225 closed, assigned to nobody

[2015-12-29 21:06] Knagis opened #1876 "Relevance sorting in the gallery produces strange results"
See for example https://www.nuget.org/packages?q=Tags%3A%22CommonMark%22

The results are basically in reverse from what I would expect to be the correct ordering:
1. CommonMarkSharp, 2014-09-17, 852 downloads
2. Pvc.CommonMark, 2014-10-21 212 downloads
3. CommonPlex, 2015-10-19, 323 downloads
4. CommonMark.NET, 2015-10-23, 17,348 downloads

How is a package that has not been updated for more than

[2015-12-29 21:08] yishaigalatzer commented on #1807
@csharpfritz can this issue be closed, or do you plan to add more to the docs?

[2015-12-29 21:35] jkodroff commented on #1359
The lack of support for SemVer 2 is a bummer for those of us using Octopus Deploy who want to deploy pre-release packages named after our feature branches.

Any updates on this?

[2015-12-29 22:05] mikebrengartner commented on #1416
Also voting for this to return!

[2015-12-29 22:06] mattjohnsonpint commented on #333
FYI, with the current VS2015 + Nuget 3.3.0.167, I am seeing the jQuery update available both at the solution level _and at the project level now_ as well.

The package config line is:

[code]

It still suggests upgrading to jQuery 2.1.4, despite the `allowedVersions` attribute.

However, if I try to upgrade (at either level), then I get an error:

That's good that it prevents it, but also it creat

[2015-12-29 22:15] yishaigalatzer commented on #1359
No update at the moment, I'm hoping we can get to it in another release or so

[2015-12-29 22:17] yishaigalatzer commented on #1416
@zhili1208 this should be something you have done before many times, can you take a quick look?

[2015-12-29 22:18] yishaigalatzer commented on #333
@mj1856 yes, we plan to fix this in the next release.

[2015-12-29 22:24] alpaix commented on #526
Doesn't sound like a bug to me. Nuspec file is in XML format therefore any raw text value should be properly encoded/escaped.

I created a nuspec with the following string:

[code]

And it worked!

Closing the issue.

[2015-12-29 22:24] #526 closed

[2015-12-29 22:45] evil-shrike commented on #1872
I've installed VS 2015 Update 1, rebooted and NuGet Manager started working! So it seems it's not a bug but some bizarre glitch on my PC. sorry to trouble you
Closing.

[2015-12-29 22:45] #1872 closed, assigned to zhili1208

[2015-12-29 23:18] Knagis commented on #1876
Moved to https://github.com/NuGet/NuGetGallery/issues/2842

[2015-12-29 23:18] #1876 closed, assigned to nobody

[2015-12-30 00:43] Pray4Wind commented on #1638
I had this same error.  Very annoying, seemed to appear out of nowhere, then I remembered my machine did one of those lovely "Updates".  You know the Poltergeist moment after you go away and come back your screen says, "Hi".  Very creepy, Microsoft.  Tsk tsk.  Well, after poking around some I found this article, which if you follow the steps might solve your problem as well.

Essentially, the "upd

[2015-12-30 01:20] yishaigalatzer opened #1877 "PackageIdentity comparison incorrect in NuGet.packagemanagement"
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.PackageManagement/NuGetPackageManager.cs#L924

Uses `PackageComparer.Equals` that is really a plain `object.Equals`

Leading to unexpected exceptions with valid input

[2015-12-30 01:34] #1877 closed, assigned to yishaigalatzer

[2015-12-30 15:51] pgorbas commented on #1572
I am still having this problem ( unable to start Sidewaffle projects in VS2015 community  - getting "Object not set to an instance of object" error ).

I have:
1. Opened vs2015 as Admin, and removed the nugget extension with extension manager. Then closed vs2015.
2. Then in file explorer I deleted all folders under <install path>\Common7\IDE that search found "nugget" until that search came up emp

[2015-12-30 15:56] yishaigalatzer commented on #1572
Please use 3.3 - find it on the downloads page of nuget.org

[2015-12-30 15:59] Blackbaud-SeanLong opened #1878 "It is difficult to troubleshoot connection issues"
As a developer using NuGet in isolated test environments that we manage, I often have to troubleshoot connectivity problems between our servers trying to use NuGet during a build process, and various remote NuGet sources. This could be internal NuGet package servers or external.

Because of this, I often encounter the error "Unable to connect to remote server". Unfortunately since we use multiple

[2015-12-30 16:03] csharpfritz commented on #1878
I like this type of usability improvement for the clients to help identify the source of an issue.  It reduces frustration on the developer's part because they get some diagnostic information about the error and helpful information pointing them in the direction of a possible solution.

This does not look like a functionality change, more of an error reporting / in-app documentation enhancement.

[2015-12-30 16:18] pgorbas commented on #1572
Thanks yishaigalatzer, I did this:
1. Opened vs2015 as Admin, and removed the nugget extension with extension manager. Then closed vs2015.
2. Went to the nuget.org website and installed nugget form there.
3. Restarted vs2015 as admin - I note that in extension manager nugget version is now 3.3.0.167
4. However trying to start a new project with "AngularJS And WebApi - Empty" still
serves up the "O

[2015-12-30 16:29] TravisTheTechie opened #1879 "NuGetDocs style inconsistent"
The writing style of the NuGetDocs content is inconsistent. Some examples...
- The use of serial commas
- Capitalization of headings (e.g. http://docs.nuget.org/Consume/ProjectJson-Intro Transitive Package Restore vs. How does msbuild task know what to pick up?)
- Clearly identified what items are proper nouns (e.g. Project.Json sometimes, other times Project.json or project.json)
- Handling of fi

[2015-12-30 16:33] csharpfritz commented on #1879
I'll look into this

[2015-12-30 17:05] yishaigalatzer commented on #1572
And how do you figure it is a nuget issue?

[2015-12-30 17:07] pgorbas commented on #1572
Because when I google on "Object not set to an instance of object" I get directed to this page.  I get no other error message.

[2015-12-30 17:09] yishaigalatzer commented on #1572
That is a very generic error, not saying this is not nuget, but this the most common exception in .net.

Would you mind attaching a debugger and looking into the call stack?

[2015-12-30 17:15] pgorbas commented on #1572
I have no idea how to attach a debugger to visual studio trying to start a new project....

[2015-12-30 17:18] yishaigalatzer commented on #1572
Start another instance of visual studio -> debug -> attach to process

Then start new project on the other visual studio

[2015-12-30 17:30] yishaigalatzer commented on #1871
@ericBG any update?

[2015-12-30 17:31] pgorbas commented on #1572
OK - I tried that.  Opened a 2nd VS2015 then Debug -> attach to process.  There was only one vs2015 to attach to ( devenv.exe ) I attached, and saw the diagnostic tools pop open.  When I go back to the first instance of vs2015, I try to start a new project with  "AngularJS And WebApi - Empty" , get the same error and the 2nd vs2015 instance  debugging the 1st instance of vs2015 does not show anyth

[2015-12-30 17:34] yishaigalatzer commented on #1572
OK, go to the exceptions window (it should show up on the bottom), and turn on the nullref exception. It should now break when that exception is being thrown

![exceptionwindow](https://cloud.githubusercontent.com/assets/1238711/12054440/88f9c5e4-aed8-11e5-81db-4b4d254dc095.jpg)

[2015-12-30 17:41] yishaigalatzer commented on #1878
Thanks for the feedback, can you a be more specific to where you are seeing this error and in what scenarios (so to help direct the effort), for example when I use a non-reachable (because of a wrong address I get the following useful error IMHO)

![image](https://cloud.githubusercontent.com/assets/1238711/12054559/8175176e-aed9-11e5-9d2a-962453b60450.png)

[2015-12-30 17:48] pgorbas commented on #1572
OK I did that.  I cleared the output window in the debugging vs2015, then tried to start a project in the main vs2013 window -- here is what gets dumped into the output window

[code]

[2015-12-30 17:48] Blackbaud-SeanLong commented on #1878
This may be something that was changed in a recent version. Currently I’m running Visual Studio 2013 on all machines I’m setting up due to dependencies we have on that version.

Currently I’m seeing this particular vague error in a number of places:

·        If I run nuget.exe install <packageconfig> -source <unreachable host> -RequireConsent –solutionDir <solution>

·        If I open the soluti

[2015-12-30 17:59] yishaigalatzer commented on #1572
Could you please make sure it breaks on the exception and then copy the callstack window. If the issue you are seeing is in visual studio 2013, then this is the wrong thread, as this is tracking issues with 2015 + NuGet 3.3

[2015-12-30 18:02] yishaigalatzer commented on #1878
We are no longer planning to make such changes in Visual Studio 2013, only critical bug fixes will go there.

Please try using nuget.exe 3.3 (available from https://dist.nuget.org/index.html) and Visual Studio 2015 + NuGet 3.3

[2015-12-30 18:04] pgorbas commented on #1572
It is in vs2015 - and that's the point - it doesn't throw an exception ( or the exception was thrown and caught and served up that generic error message ) ???

[2015-12-30 18:05] Blackbaud-SeanLong commented on #1878
Unfortunately this isn’t a piece I can update in isolation, as it’s part of a complex build/test infrastructure and it would require planned downtime to update to Visual Studio 2015 (there are test agents and controllers that would have to be updated at the same time).

However, this does help me build a better case for updating this infrastructure and starting that planning process.

Thanks!

[2015-12-30 18:07] yishaigalatzer commented on #1572
I'm guessing your debugging settings are not set up correctly. can you paste the exception settings, and also try disabling just my code in the debug->Options

[2015-12-30 18:13] yishaigalatzer commented on #1878
Closing for now, we would love to get specific feedback on not so useful logging, in general we completely agree with the statement, it is just a matter of pointing out areas we missed and we are still producing vague error messages.

If you have specific ones please open a new issue with a repro step and details.

[2015-12-30 18:13] #1878 closed, assigned to nobody

[2015-12-30 18:16] Blackbaud-SeanLong commented on #1878
Sure thing, thanks for taking the time to investigate this. I completely agree with the notion, sorry I couldn’t find us more specific steps to nail another down!

From: Yishai Galatzer [mailto:notifications@github.com]
Sent: Wednesday, December 30, 2015 1:13 PM
To: NuGet/Home
Cc: Sean Long
Subject: Re: [Home] It is difficult to troubleshoot connection issues (#1878)

Closing for now, we would lov

[2015-12-30 18:47] pgorbas commented on #1572
OK, did that now when I try to start the project I get a series of "NullRefrenceException occurred" popups

[code]

then

[code]

then

[code]

then

[code]

(The last pop up looks like it repeated the same thing twice in a row.)
Then it reverted to the other instance of VS2015 wherein the new project was trying to start to view the  popup  "Object not set to an instance of object"

The output win

[2015-12-30 18:52] yishaigalatzer commented on #1638
@Pray4Wind thanks, but this looks like an unrelated issue to the one reported it (though very possible, something we do not control).

What we are seeing is that there is a stack overflow in the powershell code proper, we have reached out to the power shell team, and we are working on a potential temporary workaround in nuget itself.

[2015-12-30 18:54] yishaigalatzer commented on #1572
Sweet, we are making progress!

So when you get the first one, click break, can you please go to the stack window and copy/paste the whole stack from there? From the looks of it, it looks like there is a nullref thrown from sidewaffle code proper, but it would be useful the get the full stack.

[2015-12-30 19:07] pgorbas commented on #1572
OK, here it is:

[code]

This doesn't help me to solve the problem though.  Remember I am not the developer of this these templates, I am just a consumer.

[2015-12-30 22:50] yishaigalatzer commented on #1867
Closing for now unless we have a further action to take here (feel free to re-ping)

[2015-12-30 22:50] #1867 closed, assigned to rohit21agrawal

[2015-12-30 23:02] yishaigalatzer commented on #1852
Definitely something we can look into at some point. Will also be open to taking a pull request here.

Noting the cases to consider
1. Should we expand just values or also keys (probably just values)
2. Should expand the whole doc in one go (probably no, if yes we should consider the 32K limit)
3. Should this work on coreclr & Linux/Mac - Yes

[2015-12-30 23:47] yishaigalatzer commented on #1846
The encryption is done by user key. So you will have to either pass the API key to the push command using the -ApiKey flag, and roll your own encryption/access to the ApiKey in the build script from a central source. OR run nuget config SetApiKey as the user (which you don't seem to want to do).

[2015-12-30 23:47] #1846 closed, assigned to nobody

[2015-12-31 00:32] yishaigalatzer commented on #1773
We should do it as part of the new settings UI we plan for 3.4

[2015-12-31 00:48] yishaigalatzer commented on #1768
@kevinkuszyk thanks for reporting this. We clone to a local folder that is typically something like `c:\nuget\nuget.client` another thing that could be an issue is where you temp folder is located (make sure it is in a relatively short path)

[2015-12-31 00:51] yishaigalatzer commented on #1871
@ericBG one thing that might be going on is that we had server issues around the same time you reported this, so that might be the underlying issue here.

[2015-12-31 00:52] yishaigalatzer commented on #1864
@forderud I talked to folks from the C++ team, they are supposed to get in touch with you first week of January. If that doesn't happen and you still need help, please ping me here.

Closing for now.

[2015-12-31 00:52] #1864 closed, assigned to nobody

[2015-12-31 00:59] yishaigalatzer commented on #1845
@Myster a few things
1. Do you have .NET 4.0 installed on the build agent (it is not exactly clear).
2. The workaround suggested using NuGet 2.8.5 rather 2.8.1, did you try that? The reported version for that will be 2.8.60318.667

[2015-12-31 01:05] yishaigalatzer commented on #1844
The page says that the path is added for the powershell console, not generically for your build. Can you explain what are you trying to do?

In general when you want to use packages as part of the build you will add target/props files in the package and use them as part of the build.

Also note that we don't plan on fixing issues of this grade in NuGet 2.X (which is what shipped with Visual Studio

[2015-12-31 01:10] yishaigalatzer commented on #1842
That looks awfully weird! Obviously this is the bread and butter scenario for NuGet.

Here are a few things to look into:
1. Was your packages folder completely empty before you restored?
2. Do you have some sort of anti-virus or something that will scan continuously the packages folder and create locks on files?
3. Are you using NuGet 3.3?

[2015-12-31 01:10] #1841 closed, assigned to nobody

[2015-12-31 01:12] yishaigalatzer commented on #1837
Leaving it around until the 1st of the year, assuming you are enjoying the holidays for now.

[2015-12-31 01:13] yishaigalatzer commented on #1840
@LeeCheneler can you provide more feedback? What kind of project are you using, what right pane are you referring to? What version of visual studio and NuGet? Can you share a screenshot?

[2015-12-31 01:16] yishaigalatzer commented on #1835
@zjrunner waiting for your decision on this, we can pick it up after the first of the year

[2015-12-31 01:18] yishaigalatzer commented on #1831
@Pilchie ping. I'm assigning to @jasonmalinowski as a rep for your team for now. But I don't necessarily expect him to do the work, just a way to put the monkey on someone's shoulder :smiling_imp:

[2015-12-31 01:19] yishaigalatzer commented on #1784
@emgarten do you have an opinion on this?

[2015-12-31 01:19] ericBG commented on #1871
I think that was probably it, and before it didn't work on new projects but now it does. Thanks for your help!

[2015-12-31 01:20] yishaigalatzer commented on #1783
Putting in vNext.

The suggestion is to support a -Source flag that can point to the myget nugetbuild feed for example.

[2015-12-31 01:20] #1871 closed, assigned to nobody

[2015-12-31 01:26] yishaigalatzer commented on #1759
Closing this issue, as we don't want to support this misbehavior of the server.

[2015-12-31 01:26] #1759 closed, assigned to nobody

[2015-12-31 01:27] yishaigalatzer commented on #1756
@maartenba is working on a new version of nuget.server, that should support your scenario.

@maartenba can you please verify that corefx packages can be hosted on the server, and can you share early bits with @SharpNoiZy

[2015-12-31 01:28] yishaigalatzer commented on #1712
@OsirisTerje going back through old bugs. Do you have a repro project for this?

[2015-12-31 01:31] yishaigalatzer commented on #1685
We also need to test this on Linux (where I suspect it will just work).

To answer your PathTooLong on .NET 3.x and 4.x, we are working on a version that runs on coreCLR so it will be running isolated from the .NET on your box

[2015-12-31 08:27] maartenba commented on #1756
This issue was moved to NuGet/NuGetGallery#2844

[2015-12-31 08:27] #1756 closed, assigned to nobody

[2015-12-31 12:17] mmisztal1980 commented on #1855
I'm struggling with this, as it prevents me from trying out EF7 in a .NET 4.5.1 project, any news on the progress or a fix? Is there a workaround?

[2015-12-31 18:22] yishaigalatzer commented on #1855
You have to manually install the framework references. It is something we will look into after the first of the year.

[2015-12-31 21:58] jasonmalinowski opened #1880 "Framework references to System.* removes reference to System"
1. Create a project.json that has a framework reference to something like System.Linq or System.Xml.
2. Add an explicit reference to System in your .csproj
3. Try building.

_Expected:_ your System reference is still there
_Actual:_ it gets removed

The bug is here:

[code]

The FileName metadata is dropping the second namespace. The easiest fix is probably to just add a condition to verify the ex

[2016-01-01 19:37] clairernovotny commented on #1587
Referencing #1880

[2016-01-02 07:40] Yortw commented on #1707
Hi,

I think I am having this exact problem, but with different packages. I cannot install Microsoft.Bcl.Async in a Xamarin Android or iOS project using VS2015 and the version of nuget that ships with that, however it works perfectly from VS2013. This also true when trying to install other packages that use Microsoft.Bcl.Aync as a dependency (i.e my own package, RSSDP, fails to install because bcl

[2016-01-03 22:48] LeeCheneler commented on #1840
Sorry it would appear that the installed package wasn't available in the set packages source and so its details were not pulled. When the source is set correctly it does pull the dependencies and display them.

[2016-01-04 01:22] yishaigalatzer commented on #1840
Thanks!

[2016-01-04 01:22] #1840 closed, assigned to nobody

[2016-01-04 04:23] emgarten commented on #1707
@Yortw get the latest version of NuGet from the extension gallery or by installing Visual Studio Update 1, and then see if you are still hitting the issue.

[2016-01-04 04:31] Yortw commented on #1707
Already have update 1 (and did a repair of it last week for a different reason), and VS extensions and updates doesn't show any updates for nuget. I'll try a manual dowload from the gallery and see if that helps, thanks.

[2016-01-04 04:33] emgarten commented on #1784
The package analysis done by pack is really more about warnings, ex: if a .dll file is in an unknown folder. The invalid version in the example here is a fatal error. Ignoring it will create an invalid package that cannot be read by any client.

[2016-01-04 04:34] Yortw commented on #1707
Tried downloading from https://visualstudiogallery.msdn.microsoft.com/5d345edc-2e2d-4a9c-b73b-d53956dc458d but the installer says "This extension is already installed to all applicable products".

[2016-01-04 04:35] emgarten commented on #1707
@Yortw what version of BCL and what kind of project are you installing into?

[2016-01-04 04:41] Yortw commented on #1707
Hmm, might be my fault. Just realised it's trying to install and old copy of Microsoft.Bcl.Build (1.0.14 instead of 1.0.21 which I _think_ works). My package doesn't directly list that as a dependency (maybe it should?) but it does list the Microsoft HTTP libraries as a dependency, and that seems to list 1.0.14 as the minimum version required. I guess I should update my package to explicitly list

[2016-01-04 04:50] Yortw commented on #1707
@emgarten Seems it works fine if I manually declare the later version as a direct dependency of my package, so I'll do that. Thanks for your help.

[2016-01-04 07:21] nicolaspierre1990 commented on #1842
Yes, yes and yes. I'm using the same antivirus on my desktop as my laptop and only on my laptop it's causing problems. I always have the lastest version.

[2016-01-04 07:58] emgarten commented on #1707
@Yortw looks like they fixed the BCL package then, thanks for reporting back.

[2016-01-04 16:31] osya commented on #1542
So to fix the problem and to make only one NuGet package for VS 2013 & 2015 the files hierarchy in the package should be changed. All dlls should be in the folder lib/net45 (I suppose all dlls in StockSharp package use .NET 4.5. If not other dlls should be placed in another special folder). To do so programmatically there are no any specific features in NuGet.Core. I suppose for this task Isolated

[2016-01-04 17:12] zjrunner commented on #1835
It didn't look that difficult for v3, but unfortunately it seems the packages.config flow still goes through nuget.core and that is the path I need currently (and upgrading to packages.json has other complexities at the moment).  I'm not as interested in altering nuget.core, especially since I've heard you are going after moving off of it and onto the published v2 protocol packages.  Once that hap

[2016-01-04 17:33] nambrose opened #1881 "Cannot install Aspose.Email 6.1.0 (Install-Package : Found invalid data while decoding.)"
I get the above error on:

Install-Package Aspose.Email

I am able to download the .nupkg and unzip it just fine.

Nuget version 3.3.0.167
VS 2015 Update 1

I've logged an incident with Aspose.
Same thing happened to two people here so far.

Stack:

Attempting to gather dependencies information for package 'Aspose.Email.6.1.0' with respect to project 'AsposeAttach', targeting '.NETFramework,Versio

[2016-01-04 18:56] yishaigalatzer commented on #1835
That's a good assessment. We don't have a concrete plan today, but I hope that we can have a better understanding by the end of the week.

@emgarten

[2016-01-04 19:18] yishaigalatzer commented on #1842
So this repros only on one of your computers? does it consistently repros?

[2016-01-04 19:22] #1777 closed, assigned to yishaigalatzer

[2016-01-04 19:22] nicolaspierre1990 commented on #1842
It just does after a x period of time. It differs. 3 repo's I had this problem now

[2016-01-04 19:25] yishaigalatzer commented on #1842
That sounds interesting, can you share more information about what x period of time means? Can you walk me through the steps the get you there?

Project type
package.config/project.json

Other project you might have worked on
What does x mean (how much time, between what action and what action)

[2016-01-04 19:28] nicolaspierre1990 commented on #1842
I meant x as in I don't know. It just happens. The package.config is the one I'm using right now.
The steps, I can't do them because it just happens. I'm happy to let you on my computer via RDP so you can see it for yourself. I really don't know what I can say more.

Or do you have any suggestions on which data I can share more with you ?

[2016-01-04 19:33] yishaigalatzer commented on #1842
RDP sounds good, it will work if you have a repeatable repro. If so I'll assign someone to debug with you

[2016-01-04 19:45] nicolaspierre1990 commented on #1842
I got one yeah

[2016-01-04 19:53] yishaigalatzer commented on #1842
@deepakaravindr can you please work with @nicolaspierre1990 on this?

[2016-01-04 20:07] deepakaravindr commented on #1525
Closed with https://github.com/NuGet/NuGet.Client/commit/7fe1cc6a1aee2f8b3b659dffcded57d2543a1013

[2016-01-04 20:07] #1525 closed, assigned to deepakaravindr

[2016-01-04 20:27] deepakaravindr commented on #1842
@nicolaspierre1990, I am investigating this issue and I have send you an email. Please respond. Thanks!

[2016-01-04 20:29] yishaigalatzer commented on #1638
UPDATE: We figured out this is a bug in System.Management.Automation 3.0 (on the specific image @pete1208 sent us), which is why the solution by @pete1208 (which basically downgrades to System.Management.Automation 1.0) makes it work again.

The fix is supposed to be released at some point in January as part of the windows update releases, when that happens we will update this issue with exact det

[2016-01-04 21:27] yishaigalatzer commented on #1881
I'm guessing that that you have some sort of corrupted cache on the machines. Can try downloading nuget.exe 3.3 (from here - https://dist.nuget.org/index.html) and run nuget locals -Clear all.

If it still persists after that, please share your nuget source configuration (nuget.config)

[2016-01-04 21:37] yishaigalatzer commented on #1881
Actually - I see the same on my machine, This might be a server issue @joyhui @maartenba

[2016-01-04 21:38] nambrose commented on #1881
OK, thanks for checking. Is this a Nuget server issue or an issue with the provider of the libs ?

[2016-01-04 21:42] yishaigalatzer commented on #1881
This does look like a server issue, I can download the package and then install it from a local folder.

[2016-01-04 22:11] joyhui commented on #1881
Here is what I tried:
1. Download the package through link:
https://api.nuget.org/packages/aspose.email.6.1.0.nupkg  (API nugetclient is using.)
https://www.nuget.org/api/v2/package/Aspose.Email/6.1.0 (Links in nuget.org)
The downloaded package are the same size.
1. Change extension from .nupkg to .zip
2. Try "extract all..." in right-click manu to Unzip it...

I got exception:
![untitled](https:/

[2016-01-04 22:12] nambrose commented on #1881
OK I have logged an issue with Aspose and will point them to this link.
Will let you know what they say !!!

[2016-01-05 03:46] clairernovotny commented on #1192
Can we re-start this discussion? I think the key point being made here is that package authors are asking for an opt-in default behavior for packages that know they're keeping strict compat to a patch update.

The problem is made somewhat worse with project.json as transitive references are not always obvious and are hidden by default. This can lead to security vulnerabilities that a NuGet package

[2016-01-05 03:56] clairernovotny opened #1882 "Verified Authors for NuGet.org and packages"
Much like the concept of Verified Twitter accounts, NuGet.org should be able to verify that packages come from a known author. This mechanism would be optional and opt-in.

There have been incidents of copycat packages uploaded and it can be hard to know which is the right/official package.

Here's a multi-pronged starting point for discussion:

Verified authors. Package author name should be tied

[2016-01-05 03:59] SimonCropp commented on #1882
some history http://blog.nuget.org/20150203/package-signing.html

[2016-01-05 04:11] clairernovotny commented on #1882
@SimonCropp Great context. I should add this is a current issue due to some recent packages pretending to be "real" Open source projects forked and rebuilt and posted on NuGet.org with a very similar package name.

Who knows if there's malware in the package and the casual observer has to figure out which is the right one.

While the original/linked specs weren't intended to verify identity, This

[2016-01-05 04:30] yishaigalatzer commented on #1192
We are tracking a separate mechanism to track vulnerability or deprecation. This is not it

Sent from my Windows Phone

---

From: Oren Novotnymailto:notifications@github.com
Sent: ‎1/‎4/‎2016 7:46 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Add nuget level option for "resolve highest" (#1192)

Can we re-start this discussion

[2016-01-05 04:57] clairernovotny commented on #1192
Would love to hear your thoughts / plans for that

[2016-01-05 05:07] yishaigalatzer commented on #1192
The plan is to enable marking a package as deprecated by the owner and in turn package restore or install will barf and guide you to the new package

Sent from my Windows Phone

---

From: Oren Novotnymailto:notifications@github.com
Sent: ‎1/‎4/‎2016 8:57 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Add nuget level option for

[2016-01-05 08:28] Bilegbayar commented on #1638
Same here, if package manager console is OK, publish will crash VS without any notice :(

[2016-01-05 08:56] sandersaares opened #1883 "Cannot install NuGet package depending on Microsoft.NETCore into .NET Framework 4.6 console application project"
I am not sure if this is directly related to NuGet or an issue with the underlying packages but this seems like the first sensible place to report it. Please let me know if this issue is better off getting raised elsewhere.

I create a new portable class library project using VS 2015, selecting UWP and .NET 4.6 as the targets. I build the created project and package the assembly into a NuGet packa

[2016-01-05 09:34] maartenba commented on #1881
Package binary has been fixed on our side, can you retry installing it?

[2016-01-05 12:05] csharpfritz opened #1884 "Docs update - Package Manager Dialog usage docs need to be updated for VS 2015"
The Package Manager Dialog page needs an updated version that demonstrates the new Visual Studio 2015 user interface:

http://docs.nuget.org/consume/package-manager-dialog

[2016-01-05 12:45] csharpfritz commented on #1567
Looks like a duplicate of #1302

Also reported on Twitter: https://twitter.com/devlead/status/684305178342731776

[2016-01-05 13:37] alecor191 opened #1885 ""nuget.exe update" installs packages to projects that don't have the specified package in packages.config"
Scenario: Assume we have a solution with 2 projects. A test project T that uses package "nunit" and a console app project C that doesn't use "nunit". Now I want to update package "nunit" to the latest version using "nuget.exe":

`
nuget.exe update <path_to_solution_file> -id nunit -repositorypath <path_to_packages_folder>
`

The result is:
- "nunit" package is properly updated to the latest versio

[2016-01-05 13:43] #1787 closed, assigned to xavierdecoster

[2016-01-05 17:20] ferventcoder commented on #1870
@yishaigalatzer I'm trying to move from using NuGet.Core to whatever there is in NuGet v3. This is for Chocolatey (choco.exe), which implements as a client tool using the NuGet packaging infrastructure with specific hooks for different functionality. I'm not really sure where I should be hooking in for
- IPackage / ZipPackage replacements
- IPackageManager replacement
- etc

If there was some docu

[2016-01-05 17:29] ferventcoder commented on #1870
So specifically - it looks like I should be looking at all of the libraries related to https://www.nuget.org/packages/NuGet.Client/3.3.0 and then also the ones in https://www.nuget.org/packages/NuGet.Protocol.Core.v3 to get to the same functionality as I could see before with the monolithic package:
- NuGet.Versioning (client)
- NuGet.Packaging (client/protocol)
- NuGet.Repositories (client)
- NuG

[2016-01-05 17:46] yishaigalatzer commented on #1870
@ferventcoder no plans to support 4.0 with these packages, we heavily use async for example, and do not want to depend on the patch packages.

We do however build these packages to run on coreCLR (so they can be used in the .NET CLI) and regardless of what is installed on the machine, this will take a little more while before it is ready.

The packae list looks reasonable, but if you can tell me w

[2016-01-05 17:49] ferventcoder commented on #1870
@yishaigalatzer thanks, that's where I will go. :)

[2016-01-05 18:41] jasonmalinowski commented on #1882
This is dangerous: just because I can obtain a signed package from another team (say, something they provided privately for final testing and sign-offs) doesn't mean I have the right to upload that package to nuget.org.

[2016-01-05 18:44] yishaigalatzer commented on #1885
This is a bug that was already fixed, you can pick up a pre-release version on the nugetbuild feed on myget - http://myget.org/gallery/nugetbuild, grab the nuget.commandline package.

Here is the duplicate bug: https://github.com/NuGet/Home/issues/1312

[2016-01-05 18:44] yishaigalatzer commented on #1885
If this doesn't resolve your issue, please re-ping this thread.

[2016-01-05 18:44] #1885 closed, assigned to nobody

[2016-01-05 18:48] clairernovotny commented on #1882
@jasonmalinowski fair enough, but at the same time I'd think that non-signed packages or packages signed with a cert that's not one of the ones tied to the identity should be rejected too.

[2016-01-05 18:49] yishaigalatzer commented on #1883
CC @ericstj @emgarten

[2016-01-05 18:58] yishaigalatzer commented on #1882
We do not plan to tie Author to signing of packages. An author many a times will grant redistribution rights to the code (e.g. Apache license), a package owner is not the author of the underlying code necessarily. So this approach is not something we plan to support.

What we do plan on supporting is a mechanism that will allow users to sign packages, and allow consumers to trust specific signatur

[2016-01-05 19:01] yishaigalatzer commented on #1881
@nambrose closing as we verified this work, feel free to ping if this is not the case.

Note - This does seem like a package issue. Well NuGet.org should have kicked out the package, but our validation doesn't try to unzip it 3 different ways. We will look at adding that validation separately.

[2016-01-05 19:01] #1881 closed, assigned to nobody

[2016-01-05 19:19] emgarten commented on #1883
@sandersaares your workaround is the correct approach. We're working on making this easier in future releases.

You can try this tool which helps find the correct dependencies: https://github.com/onovotny/ReferenceGenerator

[2016-01-05 19:20] clairernovotny commented on #1882
@yishaigalatzer I do agree that having a way to signing packages is useful and would be a building block of this, but I still think there's value in knowing that a particular author is who they say they are.

Even if there's redistribution rights, that's fine. The person can upload their version of the package (re-signed/repacked) with their own author. They don't even really need to sign their pa

[2016-01-05 19:23] emgarten commented on #1870
@ferventcoder take a look at NuGet.PackageManagement and NuGet.Protocol.VisualStudio, they are the two high level packages that align with what NuGet.Core has.  NuGet.Client sounds like the high level API, but it's actually a low level package.

[2016-01-05 19:40] ferventcoder commented on #1870
@emgarten I'll take another look. I definitely do not want anything related to VisualStudio.

[2016-01-05 19:40] sandersaares commented on #1883
Aha. I would like to understand this a bit more, as the fact that the workaround is the correct approach is rather surprising to me. What is the reason for not being able to reference Microsoft.NETCore directly in this fashion? It is not immediately obvious to me - seems like a fairly standard case to just declare "I want .NET Core" in the dependencies.

[2016-01-05 19:45] ferventcoder commented on #1870
Also I asked this [earlier](https://github.com/NuGet/Home/issues/1870#issuecomment-167273477) but perhaps one of you ( @yishaigalatzer @emgarten ) can answer this question:
Does NuGet v3 takes into account the dependency requirements of already installed packages? Or does it continue to only account for dependencies based on the current operation like NuGet v2 does? Details at https://github.com/c

[2016-01-05 19:46] #1324 closed, assigned to xavierdecoster

[2016-01-05 19:51] yishaigalatzer commented on #1882
@onovotny that is where the Owner feature comes from. The owner determines which organization shipped the package. Author is just not enough.

[2016-01-05 19:59] yishaigalatzer opened #1886 "All packages generated from the nuget build should have license anb project url in them"

[2016-01-05 20:00] emgarten commented on #1870
_NuGet.exe install_ doesn't look at packages already in the folder, is that what you mean?  When using a packages.config file the constraints from all packages are used.

[2016-01-05 20:01] yishaigalatzer commented on #1886
There are several packages (from the csproj side) that are missing nuspec files, and none of the DNX based packages have projectUrl and license in them.

We should amend it, and add a test verifying that all packages do have the right license and project url as part of the build

[2016-01-05 20:04] ferventcoder commented on #1870
@emgarten NuGet the framework, not `NuGet.exe`. Does the NuGet framework look at packages already in the folder? Or maybe from the perspective of Visual Studio, does it handle that situation?

[2016-01-05 20:05] ferventcoder commented on #1870
@emgarten we don't use NuGet.exe in Chocolatey.

[2016-01-05 20:19] clairernovotny commented on #1882
I can buy using "Verified Owners" instead of "authors". Part of the issue today is that the owner name is a username and not a "Real Name".

So what about having an option to have verified owners where the display name is tied to an external PKI certificate. That way Microsoft doesn't have to be in the business of validating documents. Leave that to the CA's to do.

Then search results and package

[2016-01-05 20:23] yishaigalatzer commented on #1882
I'll chat internally about the security and legal implications (one thing we can't do on github) and reply here

[2016-01-05 20:31] ferventcoder commented on #1870
I think I hear you possibly stating that in Visual Studio, it looks at both the request and the current packages.config file?

[2016-01-05 20:33] clairernovotny commented on #1882
Thanks!

[2016-01-05 21:11] nicolaspierre1990 commented on #1842
I had a RDP session with @deepakaravindr and we seem have to solved the problem. The problem was that in my c:\Users\MyUser.nuget some packages didn't extract correctly. So I deleted the contents of the folder and we got it working.

[2016-01-05 21:21] emgarten commented on #1870
That's correct. If you are calling the API directly to install a package then just make sure to provide the already installed packages.

With v3 I would expect that you would be creating a chocolately project similar to _FolderNuGetProject_ and returning the already installed projects through _GetInstalledPackagesAsync_.  This project would then be passed into _NuGetPackageManager.InstallPackageAs

[2016-01-05 21:21] Cheesebaron commented on #1882
Such mechanism would be very nice to have. Currently MvvmCross has 2 or 3 other developers who have released their own packages which are a fork MvvmCross, all using the MvvmCross name somewhere. This means when searching for MvvmCross in the NuGet package manager they also appear. This can be problematic if the packages are mixed.

The name MvvmCross is not trademarked and the code is licensed un

[2016-01-05 21:38] nambrose commented on #1881
Cool, seems to work! Thanks !

[2016-01-05 22:06] yishaigalatzer commented on #1882
Since it is completely valid, there is not much in a way of abuse.

Sorry we missed your report (gets to the same people working on this github repo) but I don't see what should we do about, unless someone claimed fraudulently that his package is the official one.

[2016-01-05 22:19] ferventcoder commented on #1870
Thanks @emgarten for the information! I will follow up on these once I get into the code.

[2016-01-05 22:24] ferventcoder commented on #1870
No chance this works in NuGet.Core somewhere does it? I didn't see a place to provide this when calling the [PackageManager operations](https://github.com/NuGet/NuGet2/blob/2.11/src/Core/IPackageManager.cs).

[2016-01-05 22:44] forderud commented on #420
I'm still unable to reproduce this fix on my Win10 (x64) computer with VS2015 (update1). Unpacked nuget files are still time-stamped with current time instead of the time-stamp in the ZIP files.

Steps performed:
- Download and unzip NuGetTimeStamp-Reproducer.zip (link above).
- Download and extract nuget.exe from latest NuGet.CommandLine from https://www.myget.org/gallery/nugetbuild (build 3.4.0.

[2016-01-05 23:12] JakeGinnivan commented on #1359
@csharpfritz I don't understand the argument of the breaking change, how is this different to the developer dependency released in 2.8, or any other change which was introduced and the server wouldn't validate the nuspec?

Or the group targetFramework which came in 2.5? Can I install a package which uses that feature using nuget 2.2? Or push that package to a 2.2 NuGet Gallery?

Also is there any

[2016-01-05 23:14] yishaigalatzer commented on #1359
The breaking change is there because old clients first look at id + version and only then on the content of the package. Unlike all the changes you specified above that are in the content of the package that happens after checking for minclient version.

I think the path we are going to take it to enable semver2 on the client but not on nuget,org at least to begin with.

Does that make sense?

[2016-01-05 23:23] JakeGinnivan commented on #1359
That does make sense, once in the client the server could show the client different things though?

For old clients the server could do the padding for us, if it sees 1.0.0-beta.1 then it should expose 1.0.0-beta0001 to the client. Now seems like a good time to start trying to put it in because of all the ecosystem changes, package authors are trying to add support for dnx and such.

It is just th

[2016-01-05 23:23] JakeGinnivan commented on #1359
For checking minversion that is

[2016-01-05 23:26] yishaigalatzer commented on #1359
The server shouldn't do any padding, you can do it yourself and there is nothing new about it.

IMHO the path is to enable semver2 on the client, and on private servers. People using them have to move up for these packages using semver2.

In all seriousness nuget.org is not the place to publish CI builds, so I'm not too concerned about semver2 on the public site, the applicability of that is rathe

[2016-01-05 23:42] JakeGinnivan commented on #1359
Any movement along this path I think would be nice, from a author point of view this limitation is pretty annoying and trips a lot of people up. One of the pain points I see a lot of GitVersion users have is along the lines of:
1. GitVersion generates a semver
2. I use the build number (which is the semver) which blows up
3. I have installed the Octopack task, which looks at my VersionInformation

[2016-01-05 23:47] alpaix commented on #420
Got the same build 3.4.0.348, followed @forderud steps, didn't repro.

Can you run "nuget" command with no args to confirm build version is the same?

[2016-01-05 23:49] yishaigalatzer commented on #1359
@JakeGinnivan all I'm talking about is publishing to nuget.org. I have no idea why any of these users will publish such packages to nuget.org? can you enlighten me?

[2016-01-05 23:53] alpaix opened #1887 "Print out NuGet.exe version header in detailed output"
It's hard to diagnose customer issue with current console output. Need to add a header message with diagnostic information such as version, build number in detailed output.

[2016-01-06 00:06] forderud commented on #420
[code]

This was very strange indeed. I've already tried to clean all NuGet caches under both "AppData" and ".nuget". Also, nuget.exe is not found elsewhere in my PATH.

[2016-01-06 00:12] JakeGinnivan commented on #1359
For a simple library I can't just use my build server version number. In my build scripts I always have to deal with two version numbers, the SemVer then the NuGetVersion. Not the end of the world, would just simplify as then I can use the same version for everything and don't need to document workarounds for NuGet not sorting pre-release packages property.

I know of many people who build CI pack

[2016-01-06 00:20] yishaigalatzer commented on #1359
Yes - I see your point.
The above stuff will just work, because you can consume semver2 anywhere you upgraded your clients.

But for putting stuff on nuget.org, this will force client updates on all the community using your package, which wouldn't be easy, because the work to ship new clients to Visual 2013 -> 2010 is just too much for us. Furthermore these clients will not get a reasonable error

[2016-01-06 00:26] JakeGinnivan commented on #1359
Also, not saying this is the end of the world. It just seems to be a point of friction, one that is easily worked around but still a point of friction. Also it seems to be hurting the ecosystem around NuGet more than NuGet itself. Maybe if NuGet supported semver properly we would get more packages which actually follow semver from an api point of view etc.

The first steps you suggest sound great.

[2016-01-06 00:44] yishaigalatzer commented on #1887
Please make sure it gets added to nuget.commandline and also the xplat commandline

@emgarten

[2016-01-06 00:54] yishaigalatzer commented on #1842
This looks like a bug in how we consume a folder with extracted packages. We should instead extract the data from the nupkg instead of trying to consume the extracted package content.

Lets have a short discussion with @emgarten and @davidfowl on this, in my mind we should just read the nupkg and ignore any other files in that folder.

[2016-01-06 00:56] yishaigalatzer commented on #1359
@emgarten moving under you for 3.4, based on the work to get rid of nuget.core (this will mean adding some tests, and assess where we stand, if we believe the client is solid enough after removing nuget.core then we call victory on the client side and perhaps ammend nuget.server to support it.

If not we look at it in 3.5.

CC @maartenba

[2016-01-06 01:07] clairernovotny commented on #1359
Really happy to see movement on this front. As part of this work can the 20 char limit on prerelease tags be removed?

One pattern that GitVersion enables is the use of a branch name as the prerelease tag. With CI builds, it helps keep things accurate and I can add a wildcard on that tag. However, between the branch name, the build number and any new semver support (adding "+"?), it's easy to exce

[2016-01-06 01:15] alpaix commented on #420
Okay, repro'd when forced v3 source:

[code]

Looking into this...

[2016-01-06 01:20] yishaigalatzer commented on #1359
1. We can consider changing the limit. But note that this is quickly going to hit max path, and it just comes back as nuget bugs.
2. I don't know about the build number. This is a best effort kind of thing right now. The work above is to add tests to see what actually works. Any work beyond that is optional on how much time we have for the 3.4 release.

[2016-01-06 01:23] clairernovotny commented on #1359
Cool. I think the Max_Path bugs might be slightly mitigated by the way NuGet v3 puts them all in the user profile dir. Not that it cannot happen but that it's a fixed path prefix.

Besides, isn't .NET busy fixing max path (@terrajobst)? https://github.com/dotnet/corefx/issues/645

[2016-01-06 01:24] yishaigalatzer commented on #1359
it is worse in that case, because they show up twice (package Ids do)

[2016-01-06 01:26] clairernovotny commented on #1359
If it helps, there might be some SemVer parsing/interpreting/comparison code you can use from https://github.com/GitTools/GitVersion/blob/master/src/GitVersionCore/SemanticVersion.cs. It's MIT licensed so should be adaptable. Less code for you to write.

[2016-01-06 01:30] deepakaravindr commented on #1842
@yishaigalatzer @emgarten

As discussed, once use of NuGet.Core is replaced in this scenario, we might decide to use the nupkgs itself instead of the expanded files. Assigning to @emgarten

[2016-01-06 01:44] emgarten commented on #1870
It works in NuGet.Core v2. See: https://github.com/NuGet/NuGet2/blob/dev/src/VisualStudio/VSPackageManager.cs#L113

You will want to create an IPackageConstraintProvider to provide requirements from the already installed packages, and then set that property on the PackageManager.

[2016-01-06 02:49] yishaigalatzer commented on #1768
Closing as we didn't hear back

[2016-01-06 09:03] JakeGinnivan commented on #1359
I am also more than happy to pull it out into a source library if that helps.

[2016-01-06 14:57] ferventcoder commented on #1870
@emgarten Thank you! I would have thought that both the command line and visual studio would have followed a similar path, so that is a different frustration altogether. Good to know that NuGet has maybe no issues if you use the proper path.

[2016-01-06 16:47] alecor191 commented on #1885
Thanks @yishaigalatzer. The pre-release version works fine.

[2016-01-06 16:59] kevinkuszyk commented on #1768
Apologies for taking a while to reply - I'm catching up after Christmas.

I still get this error (and a few more) on the latest this afternoon:

![image](https://cloud.githubusercontent.com/assets/2734580/12148498/b341d788-b496-11e5-8137-f016f09410b4.png)

As you can see, I'm in `C:\Projects\NuGet.Client`.  As for the temp folder it's `c:\temp`, unless there's a setting to change it somewhere?

I

[2016-01-06 17:48] alpaix commented on #420
Found yet another scenario of package extractor reading file from a cache and writing back as a FileStream, here https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/PackageExtractor.cs#L127

Obviously this technique doesn't maintain original file attributes. Will work on fixing this.

[2016-01-06 18:15] yishaigalatzer commented on #1768
I would assume that either your temp folder (which is typically not under c:\temp but under the user profile) or your user profile is stored at some relatively long path.

It is hard to tell, but the easiest way to deal with this is to run the tests from visual studio and figure out the broken test, and let us know. You can either submit a fix or figure out what went wrong.

[2016-01-06 20:01] mfaulkinbury opened #1888 "Feature Request: Add support for Management Pack projects (mpproj)"
[System Center Visual Studio Authoring Extensions](https://www.microsoft.com/en-us/download/details.aspx?id=30169) adds support for developing Management Packs using Visual Studio.

As a Management Pack author, I would like to leverage NuGet to manage Management Pack (MP) and Management Pack Bundle (MPB) references.

As a Management Pack author, I would like to leverage NuGet to manage shared cont

[2016-01-06 20:35] #1784 closed, assigned to nobody

[2016-01-06 22:28] yishaigalatzer commented on #1888
First thanks a lot for a well formed issue request!

When it comes to options, I'm guessing this is not something we would like to handle (at least not in the near future), we could consider it as a pull request, but we could look at it first as a design level dicsussion, and then move on to code, I think that will be the best.

I'm parking it for now in the discussions milestone, so we can keep t

[2016-01-06 22:32] yishaigalatzer opened #1889 "Build tasks should be installable"
#### End goal

We would like to be able to rev the build tasks, without having users taking a dependency of new releases of visual studio. Thus enabling OSS projects to take new NuGet features, and ship the build tasks as part of the project.
#### Mid goal

Once we have csproj to xproj reference support, we would like to depend on that build task and merge nuget.core and nuget.client solutions **b

[2016-01-06 23:43] ericstj opened #1890 "NuGet should persist runtime dependencies from runtime.json in the lock file"
Today there is nothing in the lock file when one package causes another runtime-specific package to be added to the lock file.

For example:

[code]

The `runtime.win7.System.IO.FileSystem` package will appear as if it is rooted in the runtime graph, yet it doesn't appear in the project dependencies a root reference.  Instead I would have expected some way to associated that the `runtime.win7.Syst

[2016-01-07 10:09] andreasfrey opened #1891 "Improve RE-RELEASE/SNAPSHOT functionality"
Is there any way to achieve some sort of SNAPSHOT functionality in NuGet?

We are currently developing a new project A in which we use another project B currently under development.

Whenever there are changes in project B, we have to release a new (pre-release) version and update the dependency in project A manually.

I would like to have some maven (java) like SNAPSHOT behavior. Example:
I am wo

[2016-01-07 11:32] lukepuplett commented on #1866
Have been using VS 2015 since 4th Jan now and all OK so I'm happy to close this as an anomaly (possibly caused by a proj file save during update but not after) and I'll look out for the issue in the future.

The main thing is that I learned that this is not how its supposed to work, should it happen again. Thanks!!

[2016-01-07 12:06] Eneuman commented on #1631
I am still getting this error when doing VSO Builds.
Is it because the Tools on the Hosted Build Agents are outdated ?

[2016-01-07 12:23] Jogai commented on #1590
+1
And in addition to what @yishaigalatzer said: Some packages move to other platforms, especially front-end packages with the support for npm/bower/.. tooling available now in VS2015

[2016-01-07 12:59] lukepuplett opened #1892 "ArgumentException stemming from PowerShellCmdlets.UpdatePackageCommand"
Hello, had this exception 3 times today.

NuGet 3.3 with VS2015 update 1, I think. I'll check and come back: Yep, 3.3.0.167

Original command line:

`Update-Package -Reinstall -ProjectName CompanyName.WebAPI.AppName`

And here's the error, tail end of PS console:

<code>
...
'Areas\RouteDebugger\Components\DictionaryExtensions.cs' already exists. Skipping...
'Areas\RouteDebugger\Components\ActionS

[2016-01-07 13:15] lukepuplett commented on #1892
The error seemingly occurs always for the WebApiRouteDebugger.

And it doesn't invoke a rollback.

Err, nope it also just happened for Microsoft.AspNet.Web.Optimization 1.1.3

[2016-01-07 15:29] mrkane27 opened #1893 "Redirecting nuget.exe output to file causes infinite loop"
When trying to print justified text, NuGet uses `Console.WindowWidth`, which is `0` if the output was redirected to a file, and then it loops forever printing newlines and not consuming any text.

This issue existed before in codeplex as [3408](https://nuget.codeplex.com/workitem/3408), and was [fixed](https://github.com/NuGet/NuGet2/commit/98d15b3b5d18a3100136d8b9a5aaf857d7b8b5b4) in the NuGet2 r

[2016-01-07 15:37] mrkane27 commented on #1893
https://github.com/NuGet/NuGet.Client/pull/184

[2016-01-07 15:56] yishaigalatzer commented on #1590
Indiction for other platforms like bower was introduced in nuget 3.3, the notification is currently curated and managed by the ASP.net web tools team.

[2016-01-07 15:59] yishaigalatzer commented on #1866
Thanks. Let us know if you see it again.

[2016-01-07 15:59] #1866 closed, assigned to nobody

[2016-01-07 16:55] StefanoGermani opened #1894 "Unable to find packages when ignoring dependencies using vs2015 and Nuget Api V2 using JFrog Artifactory"
Hi,

When I try to install a package ignoring the depedencies using Nuget Package Manager 3.3.0.167 on VS2015 from Nuget Api v2, Nuget Package Manager fails to find the package.

If I try to install the same package with Lowest dependency behaviour then everything works fine.

[2016-01-07 17:09] Xatter commented on #1842
+1 This happens to me all the time and the above work around appears to have worked for me

[2016-01-07 17:10] yishaigalatzer commented on #1842
You can also use nuget.exe locals -clear all

[2016-01-07 17:29] csharpfritz opened #1895 "Korean translation in v3.3 does not appear correctly"
From vs-feedback 515796:

_Looks like the Korean encoding has been changed?_

Screenshot is attached to the vs-feedback item.

[2016-01-07 17:40] csharpfritz opened #1896 "UI missing standard keyboard/mouse behaviors"
From vs-feedback 532441:

When I want to update a somewhat large set of projects and the nuget project window does not support some well established expectations for keyboard/mouse behaviour.
- spacebar does not select/deselect those packages
- the mouse wheel does not scroll the list of projects

[2016-01-07 17:47] xperiandri opened #1897 "Visual Studio 2015 crashes on NuGet package update"
Reproduction steps and crash dump attached
[ReproSteps635877920078842170.zip](https://github.com/NuGet/Home/files/81514/ReproSteps635877920078842170.zip)
[ETLTrace635877920078832165.etl](http://rusfolder.com/44615883)

[2016-01-07 18:01] validian opened #1898 "Installing Nuget gives "URI formats are not supported""
I have Visual Studio 2015 Update 1 with Nuget version 3.3.0.167. I have tried installing numerous Nuget Packages for a Universal Windows project type and get the error "URI formats are not supported" no matter what package I try to install. A couple of the packages I have tried to install:
NewtonSoft.Json
Microsoft.IoT.Devices

[2016-01-07 18:37] glennc opened #1899 "Enable machine wide configuration on OS X and Linux"
We want the ability to pre-install a feed on a machine and have restore pick that up and use it instead of hitting the internet.

I was thinking of locations like this:

**Linux:** /etc/opt/nuget

From LHS about `/etc/opt`: Host-specific configuration files for add-on application software packages must be installed within the directory /etc/opt/, where is the name of the subtree in /opt where the

[2016-01-07 18:42] BrennanConroy opened #1900 "Nuget add makes some folders and files all lowercase"
For example in our build script we run `Nuget add Blah.Blah -source <folder> -expand` and we get <folder>/blah.blah

[2016-01-07 19:10] BrennanConroy commented on #1900
Talked in person, by design

[2016-01-07 19:10] #1900 closed, assigned to nobody

[2016-01-07 20:07] yishaigalatzer commented on #1893
@mrkane27 thanks for the fix, could you please add a test to the fix?

[2016-01-07 21:24] deepakaravindr opened #1901 "Clean-up: Make sure that PackageExtractionContext in non-null in INuGetProjectContext"
Clean-up: Make sure that PackageExtractionContext in non-null in INuGetProjectContext

One option is to have an abstract class NuGetProjectContext which implements INuGetProjectContext to enforce the default value for all its implementors

[2016-01-07 23:57] zarenner opened #1902 "Race condition in PluginCredentialProvider results in failure to restore packages"
A customer reported that they were encountering "unable to find version" errors restoring packages while using a credential provider.  An example of such error would be:

[code]

We've only been able to reproduce the issue if the following is true:
- Restoring from multiple (in this case a mix of v2 and v3) package sources
- The credential provider (in this case CredentialProvider.VSS.exe") is cop

[2016-01-08 00:05] #1802 closed, assigned to feiling

[2016-01-08 00:07] feiling commented on #1849
Fixed by change https://github.com/NuGet/NuGet.Client/commit/f2da9be0d0d3fa3920d240cef8ea7aee65221616

[2016-01-08 00:07] #1849 closed, assigned to feiling

[2016-01-08 00:08] feiling commented on #1808
Nuget now auto selects projects when user is in the "Consolidated" tab or the "Updates Available" tab.

[2016-01-08 00:08] #1808 closed, assigned to feiling

[2016-01-08 00:26] yishaigalatzer commented on #1902
@zarenner I assume you guys are working on a PR for this?

[2016-01-08 00:29] zarenner commented on #1902
@yishaigalatzer Yes, we will put out a PR for the changes in PluginCredentialProvider (2 and 3 in the above list).  As far as why the cancellation token source is disposed early... I don't know enough yet.  If someone on your side has an idea, it would be helpful.

[2016-01-08 00:29] yishaigalatzer commented on #1901
This doesn't seem like an important enough to track given the limited scope of the issue. We can revisit if this if we find issues or bugs stemming from this.

[2016-01-08 00:29] #1901 closed, assigned to nobody

[2016-01-08 00:30] yishaigalatzer commented on #1899
@zhili1208 this is something to look at as soon as you are done with the current test fixes for Linux/Mac.

CC @emgarten

[2016-01-08 00:31] yishaigalatzer commented on #1898
Can you share your nuget.config/package sources. My guess is that you have more than one, and one of them is invalid. In this case we should provide an error message that will point you to the right place and how to fix it.

[2016-01-08 00:34] yishaigalatzer commented on #1897
Thanks for reporting this issue.

@xperiandri what version of NuGet are you using? and what Update of Visual Studio (RTM or Update I). We recommend using NuGet 3.3.

Can you provide repro steps, and callstack? I'm blocked from downloading the zip file you provided.

[2016-01-08 00:35] yishaigalatzer commented on #1896
Mouse wheel is now scrolling the list of projects. It wasn't before because you have a list within a list, and the project list didn't have its own scroll bar.

We will take a look at the spacebar.

[2016-01-08 00:36] yishaigalatzer commented on #1895
@csharpfritz can you add a link to the image?

[2016-01-08 00:37] yishaigalatzer commented on #1894
@StefanoGermani can you please provide more specific feedback. What package, what project and as much examples as you can provide to reproduce this issue?

[2016-01-08 00:38] yishaigalatzer commented on #1892
I believe I fixed this bug over the holidays. It happens when you have another local folder where you have the packages as well as online.

Please email me directly, and I'll get you access to private bits to verify the fix. yigalatz @ msft.com

[2016-01-08 00:41] yishaigalatzer commented on #1892
https://github.com/NuGet/NuGet.Client/commit/0713e107b5cbf0e3fc213915f8c928ee73dcead7
https://github.com/NuGet/Home/issues/1877

[2016-01-08 00:47] yishaigalatzer commented on #1891
We do have a feature for that and infact the NuGet project itself is relying on it. It is not exactly the same as you describe, but the goal is very similar.

You do need to switch your project from using packages.config to project.json (you can still rely on csproj files etc.) and then specify the dependecy with a star notation: e.g. 3.4.*

Here is an example used in building nuget.exe - https://

[2016-01-08 08:25] maartenba opened #1903 "NuGet stealth downgrades package when batch updating its dependencies"
_From @carolynvs on January 7, 2016 19:57_

tldr: When batch updating packages, NuGet should not downgrade other packages.
- openstack.net 1.5.0.1 did not set upper bounds on its dependencies.
- openstack.net 1.5.0.2 was released to set an upper bound to deal with the new NuGet ability to get the latest of dependencies.

After installing openstack.net 1.5.0.2, I immediately see 4 available updates

[2016-01-08 08:30] maartenba commented on #1903
Quick side note (no permanent resolution to this, but just a means of working around it): you could set the "Ignore dependencies" option

<img width="256" alt="ignoredeps" src="https://cloud.githubusercontent.com/assets/485230/12193641/56851b04-b5ea-11e5-9195-40d7bbe947f3.png">

[2016-01-08 09:53] xperiandri commented on #1897
Update 1
3.3.0.167
Call stack is not available. Visual Studio instantly closes a window with call stack.
So etl you downloaded, didn't you? Only zip required

[2016-01-08 09:54] xperiandri commented on #1897
http://rusfolder.com/44617178

[2016-01-08 10:45] kevinkuszyk commented on #1768
The temp folder was the culprit - I'd forgotten it defaults to `%userprofile\AppData\Local\Temp`.  When I switched it over to `c:\temp` it fixed these tests.  Would you accept a PR to set the temp folder in the `build.ps1` or to mention it on the [readme](https://github.com/nuget/home#build-artifacts)?

I also get a load of other tests failing (there was a pull request from `daravind/FixRunTest` w

[2016-01-08 10:53] kevinkuszyk opened #1904 "Public CI server?"
I've been having some trouble building the [NuGet.Client](https://github.com/NuGet/NuGet.Client) solution (see #1768).

How about adding a public CI server on AppVeyor, so that potential contributors can see if the solution currently builds and if there are any broken tests?  Everyone would also get the benefit of verifying PRs build in public too.

I appreciate that you must have your own private

[2016-01-08 14:57] StefanoGermani commented on #1894
We are using an internal nuget api (JFrog Artifactory) and it happens with any package present only in it. Installing or updating any package ignoring the depedencies fails with

[code]

I have tried to replicate the issue using the nuget.org api v2 (by setting it in Package Sources in the NuGet Package Manager settings) but everything works fine.

If I use Nuget Package Manager 2.x with VS2013 I

[2016-01-08 15:00] tomkuijsten opened #1905 "Is it possible to move the .nuget folder from my documents?"
There is this folder `c:\users\myname\.nuget` which is created when I build something in visual studio 2015. Is there an option to move this folder?

[2016-01-08 15:22] yishaigalatzer commented on #1894
Can you share a fiddler trace? My assumption here is that the jfrog server is not fully compliant with the protocol and perhaps v3 is using a different piece of the protocol in this case.

[2016-01-08 15:31] yishaigalatzer commented on #1768
A readme update should be fine. Changing to c:\temp is not always going to work and is not always necessary

[2016-01-08 15:32] yishaigalatzer commented on #1768
As for public CI, we will get to our at some point, probably not in this version.

[2016-01-08 15:59] cpolitz commented on #1638
I am experiencing the exact same issue.  If I close visual studio and open it fresh and open PackageManager console first it is fine.  But then if I try to publish it crashes.  If I open it fresh and publish first, that works fine however now PackageManager Console will error as described.

[2016-01-08 16:57] mfaulkinbury commented on #1888
@yishaigalatzer  Thanks for your thoughtful response!

I've looked into this a little further and _I think_ it might be much easier than I originally anticipated.

If I add the MP Project Kind as a supported project, handle supplying a TargetFrameworkMoniker for it, then let the Project System Factory return the default project system (VSMSBuildNuGetProjectSystem), I am able to access all of the N

[2016-01-08 17:25] validian commented on #1898
The new UWP project template doesn't seem to have a nuget config file anymore.
![image](https://cloud.githubusercontent.com/assets/4553904/12204565/c01f5a76-b5e9-11e5-9558-d06cc645c015.png)

[2016-01-08 17:58] yishaigalatzer commented on #1897
Ok I managed to open the file, this looks like a DNX codepath (that we own a very small piece of). What would really help is repro instructions in plain english and a like to the project you are trying to run (looks like this is a github project for F# DNX).

[2016-01-08 18:00] yishaigalatzer commented on #1898
This will be your nuget.config on your machine. you can also just share the nuget sources that you see by clicking the gear button in the nuget UI.

[2016-01-08 18:08] yishaigalatzer commented on #1905
Yes - as of NuGet 3.2 you can do that:

NuGet clients support specifying a global NUGET_PACKAGES environment variable to specify the location of the shared global packages folder used in project.json managed projects with Windows 10 tools v1.1.

https://docs.nuget.org/release-notes/nuget-3.2

We are also working on a way to define it in nuget.config and have all build tasks and project systems res

[2016-01-08 18:08] #1905 closed, assigned to nobody

[2016-01-08 18:10] yishaigalatzer commented on #1904
Thanks, this has been on our todo list for a while. We plan for our CI to be side by side, and not rely on appveyor to run our actual builds, mostly because we have to do internal only activities (like signing with Microsoft keys, etc.).

[2016-01-08 18:11] joelverhagen commented on #833
Added a functional test to the V2/V3 combined search service to verify that the `prerelease` flag is observed (tests a query with the flag as `true` and as `false` against an index with both prerelease and non-prerelease packages).

[2016-01-08 18:11] #833 closed

[2016-01-08 18:30] validian commented on #1898
These are my nuget sources. They work on all project types other than the UWP.
![image](https://cloud.githubusercontent.com/assets/4553904/12205911/dafa0504-b5f2-11e5-8b8e-c4ac6c55dddd.png)

[2016-01-08 18:37] ericstj commented on #1691
we also have:
dotnet5.6 -> netstandard1.5
as of https://github.com/NuGet/NuGet.Client/commit/a15e8ff0c6de85eb8da995672ce4bb1751fc141d

[2016-01-08 18:38] yishaigalatzer commented on #1903
We are discussing this, but at the moment we are not clear that this can actually be solved, because we actually don't model the fact that A is something that _shouldn't_ be updated (and frankly I can see cases where it might be updated).

A simple solution is to add a downgrade warning, but I'm not sure if this is a good enough solution.

Assigning to @johnataylor to look further into the matter

[2016-01-08 18:43] feiling commented on #1896
Fixed.

[2016-01-08 18:43] #1896 closed, assigned to nobody

[2016-01-08 18:46] yishaigalatzer commented on #1898
Looks like you work in Microsoft, please contact me directly at - yigalatz. I can see some potential issues with your setup (particularly the fact that your are using ms-nuget server)

[2016-01-08 18:50] feiling commented on #1848
Fixed.

[2016-01-08 18:50] #1848 closed, assigned to feiling

[2016-01-08 18:59] carolynvs commented on #1903
Thanks for looking into it!

My preference is that if the requested batch update can only succeed by downgrading package X, then the user should be informed that package X is preventing the update and let the user handle it from there. This is what happens today when updating an individual package. The offending package is printed with its dependency range in the Output Window:

[code]

[2016-01-08 19:13] xperiandri commented on #1897
That is right.
Clone fsharp-dnx
Open
Manage NuGet packages for solution
Updates
FSharp Compiler
Update to 2.0.0.2

Path to repository is `C:\Users\Андрій\Dev\GitHub\fsharp-dnx`

[2016-01-08 19:15] yishaigalatzer commented on #1897
@xperiandri the path you specified is on your hard drive? can you share the http url?

[2016-01-08 19:15] xperiandri commented on #1897
`https://github.com/fsprojects/fsharp-dnx`

[2016-01-08 19:16] yishaigalatzer commented on #1897
thanks got it and cloning

[2016-01-08 19:20] lukepuplett opened #1906 "NuGet Update not seeing items in the feed"
We've a strange problem where VS2015 U1 and even NuGet Restore running on TeamCity 9.1.5 are not seeing packages in the feed.

`Package restore: 'Unable to find version 1.2.2' of package 'Whatever'.`

When we review the feed XML we can see the version. The package was installed from a local disk repository and VS can see it there, but not the same one on TeamCity feed.

When have a system whereby

[2016-01-08 19:22] yishaigalatzer commented on #1897
Works for me on the latest bits (so 3.4 preview, contact me if you want to give it a try yigalatz @ msft.com)

If this fixes your issue, then we are good. If not lets work on getting a proper repro or callstack from you.

I'm on DNX RC + NuGet 3.4 private build

![dnx-fsharp](https://cloud.githubusercontent.com/assets/1238711/12207187/0b30a046-b5fa-11e5-9464-2a86ef7e7ec2.png)

[2016-01-08 19:23] xperiandri commented on #1897
Could you share that build?

[2016-01-08 19:36] xperiandri commented on #1897
OK, looks like it can be closed

[2016-01-08 19:36] yishaigalatzer commented on #1897
We verified this is fixed in 3.4

[2016-01-08 19:36] #1897 closed, assigned to nobody

[2016-01-08 20:20] mfaulkinbury commented on #1888
@yishaigalatzer

[PR](https://github.com/NuGet/NuGet.Client/pull/187) added.

I look forward to continuing this discussion.

Best,
Mike

[2016-01-08 21:07] DarylRoberts commented on #1895
Gotta Watch those Koreans , Espeacialy the Northern Ones

[2016-01-08 21:12] Mertsch opened #1907 "NuGet.exe treats -Help as invalid argument (inconsistent help handling)"
[code]

-Help should be treated as valid (single) argument

[2016-01-08 21:14] csharpfritz commented on #1895
Here is the screenshot shared with us:

<img width="379" alt="snip_20160108161358" src="https://cloud.githubusercontent.com/assets/78577/12209701/e27ff2ea-b622-11e5-8a7c-48ee7ec3d555.png">

[2016-01-08 21:17] csharpfritz commented on #1907
Help is a command on the NuGet command-line.  Try structuring your command
like this:

nuget help push

Jeff

On Fri, Jan 8, 2016 at 4:12 PM, Mertsch notifications@github.com wrote:

[2016-01-08 21:21] Mertsch commented on #1907
@csharpfritz Thanks, you are right, but isn't the help misleading in mentioning the `-Help` option

[code]

[2016-01-08 21:25] csharpfritz commented on #1907
You're right... the comments on the individual command pages do make it
look like -Help should be available for all commands.

This should probably be simplified by redirecting to either the "help"
command or force every command into a standard "--help" switch

On Fri, Jan 8, 2016 at 4:21 PM, Mertsch notifications@github.com wrote:

[2016-01-08 21:34] yishaigalatzer commented on #1895
That looks like a .NET issue, not NuGet. We do no localize the http exceptions. @RanjiniM can you look deeper into this?

[2016-01-08 21:48] yishaigalatzer commented on #1898
Looks like the core issue is from the 3rd entry file://..../$e/....

The error we produce isn't good enough and send the user on a wild goose chase. We should explicitly say that the feed is bad, and provide the name + url for it.

[2016-01-08 21:48] yishaigalatzer commented on #1898
![image](https://cloud.githubusercontent.com/assets/1238711/12210400/82d618f6-b60e-11e5-8255-421dee30b291.png)

[2016-01-08 22:22] cspeirs commented on #1814
The messages appear to be less than harmless actually.

Projects build with treat warnings as error.  Projects compile just fine using the VS 2015 environment.  Now building via MSBuild, all projects that have the message above are marked as Failed.

[2016-01-08 23:54] emgarten commented on #1903
I believe we only downgrade dependencies **if** the high level action was a downgrade. Here it looks like it was an upgrade that caused a child to be downgraded, right?

[2016-01-09 00:13] carolynvs commented on #1903
@emgarten Correct.

[2016-01-09 02:02] jasonmalinowski commented on #1814
Which warning as error flag? I wouldn't expect that MSBuild would consider this to be a warning. If it is, that's a second bug.

[2016-01-09 15:21] ratishphilip commented on #1834
Hi,
@emgarten @yishaigalatzer @Pilchie  @jasonmalinowski
 I have a question.
**Reference Assembly Source Generator** emits a **.cs** file. How do I generate a dll out of it?

[2016-01-09 15:36] emanoelxavier commented on #1329
I am having the same issue with version 3.3.0 and VS 2015. Shift + Enter worked though.

[2016-01-10 21:57] M-Zuber opened #1908 "Copy to ouput for content files not working"
With a nuspec like the following

[code]

It packs properly, but does not actually set the `copyToOutput` to the wanted value.

I will assume that is because the value for `include` does not follow the conventions. If that is the case, then I would think `nuget pack` should fail.

[2016-01-10 22:10] csharpfritz commented on #1908
Disagree that nuget pack should fail.  It should issue a warning that the
nuspec contains syntax that will not be extracted by a client properly with
an indicator of which line will not be handled.

Jeff

On Sun, Jan 10, 2016 at 4:57 PM, Mordechai Zuber notifications@github.com
wrote:

[2016-01-11 04:23] M-Zuber commented on #1908
That works fine for me also.
Will it create the same structure of any/any/\* in the client project though? It wasn't clear from the docs and I have code that needs to know the exact path of the files.

[2016-01-11 07:31] emgarten commented on #1908
I agree with @csharpfritz a warning for incorrect rules would be helpful. The contentFiles section of the nuspec is consumed by the client during restore, not during pack time.

@M-Zuber the package needs to have the structure of `<code language>/<tfm>/<files>` already, it isn't created by nuget. The reason your include is failing is because the Data folder does not match that pattern, you need th

[2016-01-11 08:40] tomkuijsten commented on #1905
Thanks for the quick reply. Wouldn't hurt to mention the name of the folder ".nuget" in the documentation. I tried several searches, but didn't find an answer or pointer to the nuget release notes. It's hard to search for something if you only have it's folder name.

[2016-01-11 08:48] yishaigalatzer commented on #1905
Thanks for the feedback. I don't quite follow what you are suggesting to add, but you can follow the link on the bot to of the doc and suggest a change in the form of a PR :)

Sent from my Windows Phone

---

From: Tom Kuijstenmailto:notifications@github.com
Sent: ‎1/‎11/‎2016 12:40 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home]

[2016-01-11 09:09] OliverRC opened #1909 "Add gzip support for v3 feeds to improve registration json file download performance"
Since moving to VS2015 and Nuget 3 the Update-Package command takes an age to complete.
It just sits stuck on "Attempting to gather dependencies information"

[code]

Specifying an exact version or source makes not difference. Sits at this step for what seems like minutes.

[2016-01-11 10:21] tomkuijsten commented on #1905
Haha :) my bad. I wanted to say that it would be wise to add ".nuget" as text in that release note, so google will find it when I search for that name. But you're right, I should suggest a change myself.

[2016-01-11 10:48] nkosi23 commented on #1638
Same problem as @cpolitz here. VS2015, Windows 10, started sometime in the last two weeks without any apparent action from my side.

[2016-01-11 12:14] M-Zuber commented on #1908
Well now it is not even transferring the files at all.
Here is the whole thing:

[code]

[2016-01-11 12:28] StefanoGermani commented on #1894
This is the relevant request that is failing

[code]

it looks like the problem is the /id at the end of the requested url, this request instead succeeded and I managed to install the same package successfully:

[code]

[2016-01-11 12:41] tomkuijsten commented on #1905
I tried it and it affects more then I expected. **All** nuget packages are installed in the NUGET_PACKAGES folder, including the packages in packages.config. Result is that all references point to this new directory, which is not allowed by our development guidelines. I thought it would only affect the project.json ones, which don't have hard reference paths (and won't be confliciting with out dev

[2016-01-11 12:47] tomkuijsten commented on #1905
And again, my bad. I had some nuget.config file with a redirect for the package folder. Removed it and works like a charm now.

[2016-01-11 13:15] johncobley opened #1910 ""An error occurred while trying to restore packages: Central Directory corrupt.""
I'm using Visual Studio Professional 2015 (v. 14.0.24720.00 Update 1) and Nuget Package Manager for Visual Studio 2015 (v. 3.3.0.167)

I'm trying to add a package to my project using NuGet. When I click the "Install" button I see  "Downloading missing packages..." - at the top of the screen with a progress bar.

After a moment the message is replaced with "An error occurred while trying to restore

[2016-01-11 13:41] lukepuplett commented on #1906
I think I've found the issue. TC has its own NuGet feed URL incorrect; i.e. in the NuGet Server settings the URL it says its serving the feed on is lacking the port number.

My script has the port number, because I know to include it.

So it does highlight an issue in the package restore feature where it doesn't output warnings about 404s coming from sources.

[2016-01-11 14:33] #1910 closed, assigned to nobody

[2016-01-11 16:07] #1906 closed, assigned to nobody

[2016-01-11 16:49] yishaigalatzer commented on #1905
Awesome. Thanks!

Sent from my Windows Phone

---

From: Tom Kuijstenmailto:notifications@github.com
Sent: ‎1/‎11/‎2016 4:47 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Is it possible to move the .nuget folder from my documents? (#1905)

And again, my bad. I had some nuget.config file with a redirect for the package folder. R

[2016-01-11 16:53] yishaigalatzer commented on #1894
Looks like artifactory is not supporting the full protocol. I'll call their support. Particularly simmering is getting confused about the http method.

[2016-01-11 18:11] #1722 closed, assigned to xavierdecoster

[2016-01-11 18:43] emgarten commented on #1909
@OliverRC what version of NuGet are you using? The latest is 3.3.0.

[2016-01-11 18:45] emgarten commented on #1908
`<contentFiles>` is not a replacement for `<files>`

Use _files_ to add the items to the nupkg. _contentFiles_ is used by the client when consuming the package to set the msbuild properties in the lock file.

Items inside _metadata_ are used by the client, items outside such as _files_ are used at pack time.

[2016-01-11 18:55] M-Zuber commented on #1908
So if I want the contents of Data to be available in the bin after compiling the client I need both _contentFiles_ and _files_ targeted at the same location, correct?

I have tried with the example posted with the only change being uncommenting the file element, but it still does not seem to work  :(

[2016-01-11 18:57] daveaglick commented on #1908
@emgarten In that case, the docs are pretty confusing:

(https://docs.nuget.org/create/nuspec-reference#content-files)

This makes it sound like `<contentFiles>` _is_ the replacement for `<files>`. Further, the docs say that `<contentFiles>` has a `copyToOutput` attribute:

(https://docs.nuget.org/create/nuspec-reference#contentfiles-with-visual-studio-2015-update-1-and-later)

That sounds an awfu

[2016-01-11 19:01] daveaglick commented on #1908
Looks like #627, #1523, and #1792 are all related

[2016-01-11 19:07] BrennanConroy opened #1911 "Restore with Project Dependencies put incorrect version in project.lock.json"
project dependencies give 1.0.0-- (i.e. DNX proj reference Microsoft.Dnx.Runtime)

@emgarten (I pinged you about this, just logging a bug for tracking)

[2016-01-11 19:26] lifengl commented on #1850
We do expose a MEF component with IVsMSBuildImportsStorage contract inside the unconfigured project scope.  Unfortunately, that is a Visual studio shell COM interface mentioned in https://msdn.microsoft.com/en-us/library/microsoft.visualstudio.shell.interop.__vshpropid7.aspx, but is not public by itself.

If necessary, your code can use IProjectLockService, and acquire a write lock.  With the writ

[2016-01-11 19:32] yishaigalatzer commented on #1638
@Bilegbayar @cpolitz @JoeyFR - See above comment, this seems to come from a PowerShell dll that has a bug causing stackoverflow in it. The scenario happens when some new assemblies are being loaded into the main appdomain after this powershell dll is loaded.

There is not much NuGet can do about it, until the Power Shell team releases their fix as part of windows update. I don't have an official d

[2016-01-11 19:43] ericstj commented on #1834
You can create a project with similar characteristics as your implementation dll and include the source.  We didn't try to create a dll since everyone has a different build system with respect to versioning, signing, etc so we just emit a CS that you can plug into your own project.  Here's a sample: https://github.com/ericstj/Samples/tree/ericstj/nuget3/NuGet3/1.5.dll.runtimes/src/System.Banana.Re

[2016-01-11 19:49] nkosi23 commented on #1638
@yishaigalatzer  Thanks mate I didn't get it. Hopefully they will release it soon.

[2016-01-11 19:51] yishaigalatzer commented on #1908
@daveaglick we are going to update to documents, the process has been stalled a bit because of other higher priority work, but we are not forgetting about it.

To make it clear:
Files - Have nothing to do with content, it is the way you tell packaging to add files into the package
ContentFiles - Defines how to treat files that are already in the package.

[2016-01-11 19:56] emgarten commented on #1908
@M-Zuber Are the files showing up in the nupkg?

[2016-01-11 19:57] yishaigalatzer commented on #1909
Also @OliverRC what sources are you using? Are you by any chance using a fileshare? See this [blog](http://blog.nuget.org/20150922/Accelerate-Package-Source.html) for reference

[2016-01-11 19:58] emgarten commented on #1911
Related to https://github.com/NuGet/Home/issues/1598

[2016-01-11 20:12] M-Zuber commented on #1908
They are showing up in the nupkg, and are getting installed to the project directory of the client.
But - the attributes are not being honoured.
![image](https://cloud.githubusercontent.com/assets/4746537/12245292/6155225e-b8b0-11e5-9c49-7a63942dc2d9.png)

[2016-01-11 20:13] lifengl commented on #1850
BTW, in dev 14, the capabilities of the project is largely computed in the project load phase, so when you add the NuGet package to the project with additional capabilities, they may not affect the project until it is reloaded.

For your capabilities provider, I am not sure how you write your IProjectCapabilitiesProvider.  You need check whether it is being called or loaded correctly. We generally

[2016-01-11 20:20] yishaigalatzer commented on #1908
Are you on update 1?

[2016-01-11 20:22] emgarten commented on #1908
@M-Zuber `content\any\any\Data\` should be `contentFiles\any\any\Data\` that's why they aren't getting picked.

[2016-01-11 20:36] M-Zuber commented on #1908
@yishaigalatzer yes.
@emgarten  If I change the `file` element to have a target of `contentFiles` then they don't show up in the client at all.
Even if I add `content` to the beginning of the path in the `contentFiles` element, it still does not pass along the attributes.

[2016-01-11 20:43] Spongman commented on #1638
can you please post detailed instructions on the workaround? what caused this problem, was it windows update?

[2016-01-11 20:44] philipbjorge commented on #1262
This is extremely slow for me with a 10 project solution and ~60 packages.

[2016-01-11 20:44] emgarten commented on #1908
@M-Zuber are you using this with a UWP (project.json based) project?

[2016-01-11 20:46] yishaigalatzer commented on #1262
@philipbjorge can you share more info about your project? This shouldn't take this long.

What sources are you using? What version of NuGet and visual studio?

[2016-01-11 20:48] M-Zuber commented on #1908
Update 1 yes, uwp no

[2016-01-11 20:50] yishaigalatzer commented on #1638
@piersh @pete1208 posts a workaround above where we uses binding redirects to force loading powershell 1.0, it is not something we guarantee to work all over, but it seems to be a good bandaid for some people.

Changes to config file:

<dependentAssembly>
        <assemblyIdentity name="System.Management.Automation" publicKeyToken="31bf3856ad364e35" />
        <publisherPolicy apply="no" />

[2016-01-11 20:52] yishaigalatzer commented on #1908
@M-Zuber the files are not supposed to show up in the solution tree. But they are included in your project.

@emgarten we really need the docs out.

[2016-01-11 20:52] emgarten commented on #1908
Project.json -> contentFiles
packages.config -> content

The contentFiles section of the nuspec is also not used for packages.config/content. To change the copyToOutput property on a file from that folder you would need an install.ps1 script.

[2016-01-11 21:03] M-Zuber commented on #1908
So since its not using a project.json then `contentFiles` does not help me at all, and I should use a `install.ps1` which will be deprecated?

I don't mean to sound snarky, just want to have it clear to know if it might not be easier to include the content within the code file itself

[2016-01-11 21:45] philipbjorge commented on #1262
@yishaigalatzer --

Visual Studio Professional 2015
Version 14.0.24720.00 Update 1

Nuget Package Manager for Visual Studio 2015
3.3.0.167

1 Solution
13 Projects
All projects have < 15 packages defined in packages.config with the exception of one which has 60 packages defined

On my machine, I have the following package sources defined:
- https://www.nuget.org/api/v2/
- MyGet V3 Private Repo
- C:

[2016-01-11 21:46] philipbjorge commented on #1262
@yishaigalatzer -- Is the source code available for the Visual Studio extension?
The performance is terrible enough here I'd like to fix it locally for my team.

[2016-01-11 21:52] yishaigalatzer commented on #1262
@philipbjorge the source code is definitely available on https://github.com/NuGet/nuget.client/ if you think you can fix performance problems, we would love to take pull requests. We do have a develop planned to work on this for the coming 3.4 release CC @johnataylor

Can you share how many packages you have in your C:\LocalNuget folder?

One major change in NuGet 3.X is that we are talking to all

[2016-01-11 21:59] philipbjorge commented on #1262
At the time I had 15 packages in C:\LocalNuget.
I've since emptied it and while everything is still slow I don't have the UI freezing up on me anymore.

Thanks for the link to the source. I'll see if I can investigate if its a slow package source or if something more heinous is going on :wink: and I'll report back.

[2016-01-11 22:00] emgarten commented on #1908
@M-Zuber that's correct. project.json projects can be restored/updated outside of Visual Studio where only contentFiles can be used. Project.json will not use install.ps1 or content, only contentFiles.

[2016-01-11 22:04] M-Zuber commented on #1908
As my use case was minimal enough, I simply included the needed data in the code file.
Feel free to close the issue, and thank you for the help and responsiveness

[2016-01-11 22:06] yishaigalatzer commented on #1262
Awesome! Note that you can use fiddler to look at speed before diving into source. Also given your other feedback, are you running nuget 3.3?

[2016-01-11 22:07] philipbjorge commented on #1262
@yishaigalatzer -- The version of my Nuget Extension is 3.3.0.167.
Does this mean it will use the corresponding 3.\* version of nuget.exe?

[2016-01-11 22:08] yishaigalatzer commented on #1262
no, you need to pick that. At the moment running nuget.exe -Update Self will get you 3.3 (the build for nuget.exe is 212)

[2016-01-11 22:09] #1908 closed, assigned to nobody

[2016-01-11 23:43] analogrelay opened #1912 "Avoid "overfloat" in v3 Restore"
Right now, `*` is a little extra dangerous because we can end up "overfloating" it (i.e. floating a package too high, so that it's dependencies cannot be resolved properly against your sources).

This occurs because the restore process puts the package installation location (i.e. `~/.nuget/packages`) in as a source during restore. When you have a `*`, we check all registered sources for versions a

[2016-01-11 23:50] emgarten opened #1913 "External project references are flattened and duplicated during restore"
Project references are flattened and all projects are added as direct children of the project being restored. For restores from the VSIX projects are also added a second time under those dependencies which duplicates the entire graph.

Project tree:

[code]

Result in NuGet.exe during restore for project.json

[code]

Result in Visual Studio during restore for project.json

[code]

[2016-01-11 23:51] emgarten commented on #1913
NuGet/NuGet.Client@e75c44920c8054cdb8d8afc626a95a0b73653d11

[2016-01-11 23:51] #1913 closed, assigned to emgarten

[2016-01-11 23:55] emgarten commented on #1629
NuGet/NuGet.Client@0379122adb0bfaaa6089505250e74206e980e94a

[2016-01-11 23:55] #1629 closed, assigned to emgarten

[2016-01-11 23:59] emgarten commented on #1552
@johnataylor this bug tracks the optimistic resolver. The work is partially done and on a branch in nuget.client.

[2016-01-12 00:00] #1070 closed

[2016-01-12 00:23] emgarten opened #1914 "Determine project.json dependency name to use for msbuild projects"
MSBuild projects can be referenced in project.json as dependencies to add additional metadata such as include/exclude. The problem is that Visual Studio allows duplicate project names, to solve this NuGet creates unique names by adding the solution folders to the name.

Example: If a project `MyProject` is under a solution folder `src` it will be given the name `src\\MyProject`

This name isn't ob

[2016-01-12 00:27] emgarten opened #1915 "Add support for the target property for dependencies"
NuGet needs support for the target property to support DNX projects. This feature allows users to restrict dependencies to a certain type such as msbuild, project, or package.

[2016-01-12 00:29] emgarten opened #1916 "Handling failing sources"
DNU by default fails when a source is not found. NuGet ignores these failing sources during restores.

We need to discuss this and decide on what behavior NuGet should have.

[2016-01-12 00:32] emgarten opened #1917 "global.json is resolved from the incorrect project"
NuGet resolves global.json and dependency projects based on the top level project restored. Instead it should base it on the project it is currently underneath.

PackageSpecResolver is currently created once at the start of the restore using project.json from the starting project. This needs to be changed to update to the last project.json read during the walk.

[2016-01-12 00:35] emgarten opened #1918 "UWP projects should not resolve dependencies using global.json"
UWP/MSBuild projects using project.json incorrectly resolve dependencies in the same way that DNX resolves project, using global.json and looking for sibling folders with the dependency name.

The resolver needs to keep track of which type of project it is under and disallow global.json for non-xproj projects.

[2016-01-12 00:48] emgarten opened #1919 "Runtime packages are not resolved for top level dependencies"
NuGet is unable to find runtime packages when the needed runtime.json file is contained in the ref package.

Example: System.Threading contains runtime.json which contains the runtime graph needed to find the runtime dependency. When this package is installed at the top level the runtime is not found.

When using a metapackage such as NetCore or Standard Library it works fine.

[2016-01-12 01:34] jascam commented on #1902
@yishaigalatzer For item 1:
The cancelation token is being generated in https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.PackageManagement/PackageDownloader.cs at line 47.  The token is being passed to PluginCredentialProvider.cs via the GetDownloadResourceResultAsync call at line 75.  The dispose is happening when the using is exited.  Looking at the code this is probably line

[2016-01-12 01:48] yishaigalatzer commented on #1902
Up to you, as long as these are small fixes that make reviewing reasonable you can go with one pr

[2016-01-12 01:54] krwq opened #1920 "Pushing symbol packages is inconsistent"
When pushing (packages+symbol packages) one by one everything works fine. When doing the same thing in bulk (using expression "*.nupkg") symbol packages may replace binaries packages as they are not treated as symbol packages anymore and the names match their binaries packages.

[2016-01-12 02:04] emgarten commented on #1919
DNU carries mappings with it that allows it to determine that win7-x86 can fall back to win7 for System.Threading. NuGet does not have these.

https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Tooling/Restore/EmbeddedRuntimeData.cs

[2016-01-12 07:21] Luzenna opened #1921 "Nuget Pack throws System.Xml.XmlException: Unrecognized root element in Core Properties part. Line 2, position 2."
When using Nuget Pack with version 3.3.0 it throws the following error: System.Xml.XmlException: Unrecognized root element in Core Properties part. Line 2, position 2.

This does NOT happen when using the nuget command line version 3.2.0.

Here is the full console log:

[code]

[2016-01-12 12:38] jc1001 opened #1922 "NuGet pack gives error with C# 6 syntax and WPF usercontrol"
Hi there,

Using NuGet version 3.3.  In Visual Studio 2015, I created a new solution with 2 class libraries targeting .NET 4.5.  Both class libraries contain a class that makes use of a C# 6 language feature ($ string formatting in this case).  In the second class library (WithWPF), I also added a new WPF usercontrol.  Code compiles fine in Visual Studio.

When running the command:

[code]

everyt

[2016-01-12 12:43] JLR-UK opened #1923 "Cannot install any packages - VS2015"
I cannot install any packages in VS2015 using either pm console or gui.

In an attempt to fix this issue before shouting for help, I have un-installed VS2013 & VS2015 from my machine and re-installed VS2015.

No matter what project type I use or which package I try to install, installation fails with the message

"Exception has been thrown by the target of an invocation"

Also tried using elevated

[2016-01-12 14:25] jechtom opened #1924 "OptimizedZipPackage unpacks packages to TEMP but don't delete them"
Version: 2.8.3

When using Nuget.Server package, every time App starts, it will unpack all packages to TEMP folder (class OptimizedZipPackage created in ServerPackageRepository.OpenPackage private method).

It will unpack all packages every time app is recycled and used. After while it will eventually fill disk. Because folder names are generated randomly so for same packages each time app is star

[2016-01-12 14:26] jechtom commented on #1924
Created for wrong project.

[2016-01-12 17:04] victorhurdugaci opened #1925 "NuGet doesn't restore for child folders"
In dnu it was possible to run restore from the root of a solution and it would restore for all projects (subfolders). The XPlat nuget doesn't seem to do the same.

Repro:
1. Clone MVC
2. Run `NuGet.CommandLine.XPlat restore` in the solution root

Result:

[code]