[2017-01-25 23:14] mishra14 commented on #3506
Working on adding comments/LCI files to prevent over localization.

[2017-01-25 23:17] rrelyea commented on #4389
So a dotnet/sdk bug perhaps?
/cc @srivatsn

[2017-01-25 23:17] emgarten commented on #4389
@pakrym that sounds like what I was seeing too, xml files kept showing up at the root of the drive the project was on. ``$(OutputPath)`` wasn't being set somehow. Changing to ``bin\$(Configuration)\$(TargetFramework)`` worked.

This behavior was with RC.2 so I don't know how the latest builds handle this.

[2017-01-26 00:18] gavinbeatty commented on #4387
For the problem of corporate firewalls which MITM traffic with their own CA, a solution other package managers/apps use is to add a config option to use a specific CA bundle, or respect the environment variables `SSL_CERT_DIR` or `SSL_CERT_FILE`. Examples:

* ~/.curlc: cacert = /path/to/ca
* ~/.wgetrc: ca_certificate=/path/to/ca
* ~/.pip/pip.conf:
[code]
* rustup: respects `SSL_CERT_FILE`
* git: `

[2017-01-26 00:20] joelverhagen commented on #4387
@gavinbeatty wouldn't the Windows-y solution here be to install the corporate CA's certificate as a trusted root on that machine?

[2017-01-26 00:44] murali89 opened #4403 "NuGet falsely reports as package pushed on a redirect from incorrect source url"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

**NuGet.exe**

NuGet version (x.x.x.xxx): **3.5.0.1938**

dotnet.exe --version (if appropriate):

VS version (if appropriate):

**OS version (i.e. win10 v1607 (14393.321)): win10 v1607 (10.0.14393, OS Build 14393.693)**

Worked before? If so, with which NuGet version:
**Didn't work before**

#

[2017-01-26 00:47] zhili1208 commented on #4383
this works in VS 2015
This is caused by C++ Fast project load,
FPL is vc specific thing. It is on by default for desktop projects, but not others.
Also, if there is only one project in the solution, the cache is not used.
So to test cached projects you need a solution with 2 or more projects and at least one desktop project (i.e. the one which does not define ApplicationType property).

The workar

[2017-01-26 07:46] dsplaisted commented on #4391
I hit this issue also.  The method names on the stack make it seem like it might be trying to calculate the path for a packages.config project:

   at NuGet.Protocol.FindLocalPackagesResourcePackagesConfig.GetPackage(PackageIdentity identity, ILogger logger, CancellationToken token)
   at NuGet.Protocol.LocalPackageMetadataResource.<>c__DisplayClass3_0.<GetMetadataAsync>b__0()

However, this is wi

[2017-01-26 07:49] dsplaisted commented on #4391
I tried the same thing with a project under a shorter path and I did not hit this error.  So it does seem like what is happening is that NuGet is applying package.config path length limitations based on the project path to `PackageReference` projects.

[2017-01-26 07:50] TheRealPiotrP opened #4404 "Inconsistent handling of <VersionPrefix>, <VersionSuffix> between NuGet and Sdk"
This does not repro with available CLI builds. The mismatch across behaviors is forcing redesign of parts of the CLI's build to accommodate these contradictory implementations of Version calculation.

`<VersionPrefix>` and `<VersionSuffix>` are used by both NuGet and Sdk. NuGet uses these values to calculate the PackageVersion, while the Sdk uses the values to calculate the value of AssemblyInform

[2017-01-26 08:10] TheRealPiotrP opened #4405 "obj/projectname.nuspec misleading when VersionPrefix and VersionSuffix present"
This is related strongly to #4404. Opening a separate issue as the customer impact is different.

This repros with RC3 CLI

When `<VersionPrefix>` and `<VersionSuffix>` are specified in a csproj file and /t:Pack is executed then the Pack task generates a nuspec file in the obj directory. The file's name and contents match my expectations: they both treat the package version as `$(VersionPrefix)-$(

[2017-01-26 10:34] Sam13 commented on #4400
@emgarten Thanks for the information.
What do you suggest to do e.g if x64 and x86 need to support different versions (e.g. when x86 no longer provided within new package versions)?
Secondly what do you suggest when having to support e.g. a file format in different versions (for which the API comes in different NuGet packages, same name, different version)?

[2017-01-26 15:17] rohit21agrawal commented on #4405
already fixed by https://github.com/NuGet/NuGet.Client/pull/1139

[2017-01-26 15:17] #4405 closed, assigned to nobody

[2017-01-26 15:17] rohit21agrawal commented on #4404
already fixed by https://github.com/NuGet/NuGet.Client/pull/1139

[2017-01-26 15:17] #4404 closed, assigned to nobody

[2017-01-26 16:25] rohit21agrawal opened #4406 "NuGet pack should print out error/warning if assembly metadata extraction fails"
if building a project targeting netstandard, asssembly metadata extraction fails when packing using csproj + nuspec, because nuget.exe tries to load system.runtime version 4.1.0 which is not present in the local path or the gac.

Instead of failing silently, nuget should print out a warning/error at least to let the user know and also give workarounds for the same.

[2017-01-26 16:26] rohit21agrawal commented on #4052
@Trolldemorted gac'ing the library simply means installing the library in the Global Assembly Cache (or GAC) . For more details, see https://msdn.microsoft.com/en-us/library/dkkx7f79(v=vs.110).aspx

And yes, nuget should print out a warning/error if it fails to extract metadata. Have created a tracking issue for the same : https://github.com/NuGet/Home/issues/4406

[2017-01-26 17:45] niemyjski commented on #3034
Any updates on this?

[2017-01-26 17:51] jainaashish commented on #4369
As per discussion with Ashok, resolved the internal bug. Reason - "NuGet added additional ~1.3mb byte allocation for msbuild storage property instance which will anyways be loaded in real customer scenario. And duration regression is not caused by NuGet, rather some async error list work. There is already a test defect bug for that."

[2017-01-26 17:51] #4369 closed, assigned to jainaashish

[2017-01-26 18:59] emgarten commented on #4391
This might be due to the UI trying to reload details on the package. In that case I think the exception could be ignored on the nuget side.

Are you seeing the same issue when using powershell with ``install-package``?

[2017-01-26 19:01] Trolldemorted commented on #4052
@rohit21agrawal that's nice! Is there already an issue for failing to extract metadata in the first place?

[2017-01-26 19:12] rohit21agrawal commented on #4389
closing this in favor of a bug in SDK : https://github.com/dotnet/sdk/issues/738

[2017-01-26 19:12] #4389 closed, assigned to rohit21agrawal

[2017-01-26 19:14] emgarten commented on #4400
If x64 and x86 are released under different versions then it sounds like these should be completely separate packages. They should use different package ids.

can you elaborate on this? what would it look like?

[2017-01-26 19:30] #4381 closed, assigned to rohit21agrawal

[2017-01-26 19:30] #4380 closed, assigned to rohit21agrawal

[2017-01-26 19:30] #4397 closed, assigned to rohit21agrawal

[2017-01-26 19:30] #4289 closed, assigned to rohit21agrawal

[2017-01-26 19:35] #4378 closed, assigned to jainaashish

[2017-01-26 20:02] rrelyea commented on #4391
@emgarten  - how common will this be hit. moved back to rtm, cause it feels pretty bad. thoughts?

[2017-01-26 20:43] dsplaisted commented on #4391
@emgarten Rather than ignoring the exception, I would expect it to never even go down that code path if the project is using `PackageReference`.

@rrelyea I think this will be very common.  My username is only 8 characters long, and I hit this with a project named "WebApiHostPolicyRepro" in the default VS project location: `C:\Users\daplaist\Documents\Visual Studio 2017\Projects\WebApiHostPolicyRe

[2017-01-26 22:25] emgarten commented on #4391
There are other scenarios such as managing packages at the solution level where the same package is installed into a packages.config, project.json, and PackageReference project. In short, the UI is just trying to be efficient by looking around for a nuspec first before going online to read all sources for the same info.

We should investigate this for RTM. We are likely just doing a file exists ch

[2017-01-26 23:03] alpaix commented on #4386
@davkean @srivatsn After looking into this dump and several others I've discovered the build was blocked on on-build restore while a background auto-restore was running. To the best of my knowledge this scenario shouldn't be happening as CPS would drain critical tasks queue before build would get started. Is this assumption not correct anymore?

[2017-01-26 23:26] srivatsn commented on #4386
Should still be the case - @natidea as well

[2017-01-26 23:45] rrelyea commented on #4243
Zhi has this reproing and is following up with msbuild team to understand issue.

[2017-01-26 23:47] rrelyea commented on #4218
@jainaashish - were you able to repro? any updates?

[2017-01-26 23:50] rrelyea commented on #4382
dupe of #4035

[2017-01-26 23:54] rrelyea commented on #4316
Closing as not repro. @twsouthwick - would love more data or validation when you can.

[2017-01-27 00:01] #4382 closed, assigned to mishra14

[2017-01-27 00:03] rrelyea commented on #4364
Sounds like a dupe of #4035

when we do a package operation, we tell the project system. they make the change in the project.
when data changes in the project that nuget cares about, the project system needs to tell us.
they do.
however, our UI doesn't understand that data has changed.

Sounds like a dupe, right?

[2017-01-27 00:13] zhili1208 commented on #4364
For the second repro, Yes, sounds like a dupe.

but looks like first repro has two issues, first one is sqllite does not show up in UI (this should be "UI doesn't understand data has changed" ). the second one is sql server should not show in UI, since it's DotNetCliToolReference(not sure about this issue).

[2017-01-27 00:17] rohit21agrawal opened #4407 "Pack puts content files in wrong location if ContentTargetFolders contains a path that ends with '/' on Windows"
create class library project netstandard.
add property -  ``` <ContentTargetFolders>folderA/</ContentTargetFolders> ```
Include content like:

``` <Content Include="abc.txt"/> ```

Expected :  package to have file at location : ```folderA/abc.txt```
Actual : package has a blank folder inside folderA , which contains abc.txt

[2017-01-27 02:02] jainaashish commented on #4377
dupe# of https://github.com/NuGet/Home/issues/4307

[2017-01-27 02:02] #4377 closed, assigned to nobody

[2017-01-27 02:07] jainaashish opened #4408 "Perf: WebForms_DDRIT.1200.Close Solution regressed VM_ImagesInMemory_Total_devenv by 3.000 Count (0.5%). Baseline 26123.04"
internal bug 373767

[2017-01-27 02:31] wallism commented on #2627
I had the same issue today on v3.4.3.855.
I set the api key using the required command, then when I ran the push I got this warning:

and was asked to login using username and password.

So the issue for me was, when I ran: nuget SetApiKey abc...def, I noticed that in the config file ("%Appdata%\Roaming\Nuget\NuGet.Config") it added a key for **https://www.nuget.org**, when I changed to to the ful

[2017-01-27 02:39] abpiskunov commented on #4377
This is not a dupe of the issue you referenced - please reopen. Even if it does not meet the bar for RTM you should not close it and keep for U1.

[2017-01-27 02:43] abpiskunov commented on #4377
@rrelyea

[2017-01-27 02:51] emgarten commented on #2627
@wallism get the latest nuget.exe 3.5.0 here: http://dist.nuget.org/index.html

If you are still seeing the bug open a new issue to track this.

[2017-01-27 03:00] scottaddie opened #4409 "Inconsistent casing in "NuGet browser" window title"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS UI

NuGet version (x.x.x.xxx):
4.0.0

dotnet.exe --version (if appropriate):

VS version (if appropriate):
2017 RC3 Enterprise Version 15.0.26124.0 D15REL

OS version (i.e. win10 v1607 (14393.321)):
win10 v1607 (14393.576)

Worked before? If so, with which NuGet version:
N/A

## Detailed rep

[2017-01-27 03:02] scottaddie commented on #4409
Nevermind. This is a Resharper issue.

[2017-01-27 03:02] #4409 closed, assigned to nobody

[2017-01-27 03:37] dev-nextprogress opened #4410 "PCL Profile lib folder difference between Debug and Release build with Xamarin Cross-Platform"
When creating packages with nuget.exe (tried 3.4.4 and 3.5.0) using a PCL library, in the debug build, it results in automatic detection of all supported platforms as configured in Visual Studio. In my case with profile 111:
portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10

The exact same library, using the same nuget script, when built in release mode results in skipping all the Xa

[2017-01-27 04:04] alexangas opened #4411 "NuGet.exe swallows details of exception when parsing solution file"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: current "dev" branch

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): N/A (VS14)

OS version (i.e. win10 v1607 (14393.321)): N/A (Windows 8.1)

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Prepare .sln file that has an issue that will ca

[2017-01-27 05:40] rohit21agrawal commented on #4410
Can you provide us with a repro project for the same so we can investigate?

[2017-01-27 09:24] srivatsn opened #4412 "dotnet restore does not capture transitive framework assemblies from project references"
_From @NTaylorMullen on January 19, 2017 20:24_

Trying to utilize a transitive project references framework assembly results in build errors. This looks to be the result of `dotnet restore` not capturing project references framework assemblies (doesn't exist in assets.json).

Note: This used to work in project.json land (built the repro in project.json then migrated).

See the simple repro here:

[2017-01-27 11:30] Iankodj opened #4413 "[MacOS, Linux] NuGet writes the NuGet.Config in ~/.config folder, but dotnet restore reads from ~/.nuget"
When using NuGet to add a private feed, `NuGet Sources Add` writes in `~/.config/NuGet/NuGet.Config` file. But when using `dotnet restore` the `~/.nuget/NuGet/NuGet.Config` file is used to read the `packageSources` and `packageSourceCredentials`.

This issue forces users to manually copy and paste all necessary information instead of having that generated automatically by the NuGet CLI.

DotNetCor

[2017-01-27 12:15] fabsenet commented on #2021
is there any intent or workaround in place?

i have a local package folder. it was created via

`nuget.exe init`

and i can add to it via

`nuget.exe add *full*qualified*package*file*name -source ...`

but it is not convenient. I would rather want to say latest and/or -pre! `nuget.exe install` can do this, but it does not respect the local folder structure of .\package-id\version\*.nupkg

What sho

[2017-01-27 14:59] clairernovotny commented on #4272
I'm still seeing this in RC3

[2017-01-27 15:15] rohit21agrawal opened #4414 "Add pack tests related to Clean and ContentTargetFolders and update test CLI"
Add test scenarios for the following:
1) IncludeBuildOutput
2) ContentTargetFolders
3) Clean (msbuild target when GeneratePackageOnBuild is set to true).
4) BuildOutputTargetFolder

Update the test CLI to the latest available version, and improve test infra by using generated templates rather than hardcoding project files.

[2017-01-27 15:16] #4414 closed, assigned to rohit21agrawal

[2017-01-27 16:24] rrelyea commented on #4272
Let's discuss this one over here: https://github.com/dotnet/sdk/issues/745
Should have been fixed in RC3

[2017-01-27 16:25] #4272 closed, assigned to rohit21agrawal

[2017-01-27 16:39] BrennanConroy opened #4415 "Better Restore messages when project has DotNetCliTool"
Using dotnet.exe 1.0.0-rc3-004530
Win8-x86

In Project.json world:
[code]

In Csproj world:
[code]

In project.json world it was very clear when tools were being installed, especially useful when restore had an error and you could easily tell if it was the project or the tools having an error.

In csproj world you just see your project being restored twice and can't tell where a restore error came

[2017-01-27 16:48] rrelyea commented on #4406
@rohit21agrawal  - please check with Rainer - I think they are taking a fix in msbuild to copy all the façade dlls?
Ok, talking with Rohit...sounds like this is nuget.exe, i misunderstood...and not a regression.
The only fix required is #4052, he thinks.

[2017-01-27 16:52] rrelyea commented on #4394
We have duplicate issues tracking a request for a lock file. We are very interested in this.

[2017-01-27 16:58] rrelyea commented on #4361
Ensure that #4358 covers this scenario.

[2017-01-27 17:02] rrelyea commented on #4345
@v-nancyj  - please always compare with previous versions... in this case how does 3.5 work on top of vs2015?

[2017-01-27 17:14] jt000 commented on #2504
@harikmenon: I think the Nuget.exe command line help needs updating to reflect this as well:

[code]

[2017-01-27 17:20] rrelyea commented on #4345
not repro anymore - but 5.3.0 was published 1/27.
I suspect this may be because the package was pushed, but unlisted? Perhaps PMC shows those...and PM UI doesn't. Ideally they should be consistent.

[2017-01-27 17:29] rrelyea commented on #4401
consider warning?

[2017-01-27 17:47] rrelyea commented on #4363
While this is very important, we can fix in 4.0.1.

[2017-01-27 19:32] emgarten commented on #4412
@NTaylorMullen  The current design is that ``reference`` items do not flow transitively. You will need to reference this in your projects instead.

With project.json framework assemblies were explicitly defined for NuGet in a special section of the file. With csproj both references to external dlls on disk and framework references are ``reference`` elements and there is no clear way to find the su

[2017-01-27 19:39] #4150 closed, assigned to rohit21agrawal

[2017-01-27 19:52] rrelyea commented on #4383
C++/CPS team are bring their fixes with internal Bug:
    374807: NuGet package install is broken in desktop C++ projects w/ FPL on (default)

[2017-01-27 19:54] rrelyea commented on #4415
Perhaps at least the following change:
Restoring packages for => Restoring dotnetclitools packages for

[2017-01-27 19:56] rrelyea commented on #4308
@zhili1208 - have you investigated default windows installations vs different VM environments to help find the cause of this?

[2017-01-27 19:57] NTaylorMullen commented on #4412
That's unfortunate then. This used to work in `project.json` land. If we're to not support this scenario we should at the very least raise transitive framework assemblies during dotnet migrate.

[2017-01-27 19:59] BrennanConroy commented on #4415
Yeah, and at the end something like `dotnetclitools Restore completed in X sec for`

[2017-01-27 20:05] rrelyea commented on #4353
Done.

[2017-01-27 20:05] #4353 closed, assigned to rrelyea

[2017-01-27 20:24] emgarten commented on #4412
@NTaylorMullen fixing this as part of migrate sounds like a better way to handle this. Afterwards the information project.json had as to what was a framework assembly reference that should flow vs a normal reference is gone.

[2017-01-27 20:34] NTaylorMullen commented on #4412
/cc @livarcocc

[2017-01-27 20:40] zhili1208 commented on #4308
the default windows powershell execution policy is restricted both on vm and real machine, but nuget will set executionPolicy to RemoteSigned, I tested xlab and azure vm, found out I can't repro it every time, looks like nuget can set executionPolicy correctly, but I hit this randomly, will look at it more

[2017-01-27 20:46] rohit21agrawal commented on #3830
@tomkuijsten does the package have all the DLLs in the correct place? trying to figure out if this is a restore issue or a pack issue.

[2017-01-27 20:48] zhili1208 commented on #4413
@rrelyea this is a known issue. It's a dupe of https://github.com/NuGet/Home/issues/4095
the problem here is ~/.config is defined by mono not us, we use .net framework Environment variable Appdata Folder for ,net framework(mono) and use ~/.nuget for .net core(this is defined in nuget).

we can't change mono to /.nuget, it will break mono restore for existing user.

My suggestion is not use mono an

[2017-01-27 20:49] rohit21agrawal commented on #3830
Just noticed that you have this in your nuspec :

[code]

If you remove this, you will get references to all the DLLs in your lib folder.

For more details, please refer to : https://docs.microsoft.com/en-us/nuget/schema/nuspec#specifying-explicit-assembly-references

[2017-01-27 20:56] livarcocc commented on #4412
Migration used to do this, but once transitivity was to the SDK we removed this. So, I guess we need to add it back?

Is this related to https://github.com/dotnet/sdk/issues/714?

[2017-01-27 20:57] livarcocc commented on #4412
@NTaylorMullen please, file an issue in the CLI for this.

[2017-01-27 21:36] zhili1208 commented on #4243
Repro step:

“Dotnet msbuild /p:RestoreSource=/tmp/some-source%3Bhttps://api.nuget.org/v3/index.json /t:restore test.csproj”

Then in msbuild output:

RestoreSources = /tmp/some-source;https://api.nuget.org/v3/index.json

But after this:
<Sources>$(RestoreSources)<Sources>

Sources= /tmp/some-source;https:/api.nuget.org/v3/index.json

The double slash becomes single slash.

If I only use single so

[2017-01-27 22:41] rohit21agrawal opened #4416 "restore not working on net core projects which have no unconditional package references"
CLI build system is hitting this when building the following test assets:

https://github.com/dotnet/cli/blob/rel/1.0.0/TestAssets/TestPackages/dotnet-desktop-and-portable/dotnet-desktop-and-portable.csproj

https://github.com/dotnet/cli/blob/rel/1.0.0/TestAssets/TestProjects/DependencyContextFromTool/DependencyContextFromTool.csproj

Note : Doesn't repro in an isolated project, likely the cause i

[2017-01-27 22:49] unniravindranathan-okta opened #4417 "Installing certain packages into a WinForms projects with Package reference fails."
1. Create a WinForms Project (by default it targets .NET 4.5.2, change it to 4.5)
2. Open Package Manager and search for Vlc.DotNet.Forms
3. Click Install

**Observed:**
If you select packages.config, everything installs fine
If you select PackagesRef, you get the following error:

Restoring packages for c:\users\rmpablos\documents\visual studio 2017\Projects\WindowsFormsApp45\WindowsFormsApp45\Wi

[2017-01-27 22:52] unniravindranathan-okta opened #4418 "PackageRef migration for PCL project: Adding a package to a Portable Class Library that does not contain project.json fails."
1. Create PCL project targeting 4.6 and Win10 (this template uses Microsoft.NETCore and Microsoft.NETCore.Portable.Compatibility packages)
2. Remove project.json
3. Reload the project
4. Try to add add Microsoft.NETCore.

**Observed:** Exception message below.

System.ArgumentException: Invalid framework version '.0'.
   at NuGet.Frameworks.NuGetFramework.ParseFrameworkName(String frameworkName, I

[2017-01-27 22:53] alpaix opened #4419 "Nomination fails in multi-TFM projects due to version default differences between netfx and netstandard projects"
**Problem**
In certain hybrid VS solutions containing .NET Core and UWP projects default `$(Version)` differs between TFMs which causes nomination validation to fail. For instance, _netstandard1.4_ uses “1.0.0” as a default version while _net46_ returns "1.0.0.0."

**Expected**
NuGet is able to parse version value first before comparing actual values.

[2017-01-27 23:08] jainaashish commented on #4218
Already fixed with latest release

[2017-01-27 23:08] #4218 closed, assigned to jainaashish

[2017-01-27 23:12] NTaylorMullen commented on #4412
Done: https://github.com/dotnet/cli/issues/5494

[2017-01-27 23:43] tkrick commented on #4394
ok. I would consider this a regression not a feature. Packages.config was a locked graph. Now, the first time where basically Visual Studio is not using packages.config as the default nuget flow, it will not be locked, it will be resolve on the fly paradigm, which is a very different paradigm. I would suggest don't ship 2017 without going back to the locked by default paradigm, or fix it in as qui

[2017-01-28 00:01] dev-nextprogress commented on #4410
So, after creating a new small pcl project for you to investigate, it turns out that now all builds result in portable45-net45+win8+wpa81
No more MonoAndroid10+xamarinios10+MonoTouch10
BUT
It is a) consistent between debug and release builds and b) I can add the packages to the Android and iOS projects.
So something has changed, but I am pretty sure it is not related to nuget.exe, since it works t

[2017-01-28 00:01] #4410 closed, assigned to nobody

[2017-01-28 01:03] diverdan92 opened #4420 "Building soon after starting NuGet operation (install, update, restore), can cause VS to Hang"
1. File -> New C# Console App (.NET Framework)
2. Right click References -> Manage NuGet Packages...
3. Add Reference to Newtonsoft.Json using Packages.config
4. VS Hangs

Not 100% repro, but ping dajaco@microsoft.com for crash dump.

[2017-01-28 01:12] diverdan92 opened #4421 "NuGet packages fail to restore for UWP projects"
1. File -> New UWP Project in VS 2017
2. Fails with dialog:
![image](https://cloud.githubusercontent.com/assets/6608201/22392919/89bec300-e4b3-11e6-8c58-8ba418748426.png)
3. Try to restore NuGet packages
![image](https://cloud.githubusercontent.com/assets/6608201/22392933/ba285cfe-e4b3-11e6-91de-7c08cde40f5f.png)

Completely blocked from building a UWP app.

[2017-01-28 01:36] clairernovotny opened #4422 "Generated NuGet.g.targets cause warnings in build"
With VS 2017 RC3, the generated .nuget.g.targets files create warnings in the builds. If `/warnaserrors` is enabled, this will fail a build.

Here's what I see in the build log

[code]

Here's the generated .nuget.g.targets file:
[code]

To repro:

- clone `https://github.com/onovotny/zeroconf/`
- checkout the `dev` branch
- open in VS 2017 RC3
- Build the `Zeroconf` project. VS will do NuGet rest

[2017-01-28 01:47] diverdan92 opened #4423 "Poor error message when referencing .NET Standard Library that is not applicable to project"
1. Create new .NET Standard Library targeting .NET Standard 1.4
2. Pack it as a NuGet Package
3. Create a new WPF app (targeting .NET 4.5.2)
4. Try to reference the .NET Standard Library NuGet Package
5. Add it as "Package Reference in Project File"

Error Message:
![image](https://cloud.githubusercontent.com/assets/6608201/22393292/b643c948-e4b8-11e6-8f61-47764feae659.png)

[2017-01-28 02:15] nkolev92 commented on #4204
Happened to me just now.
Opening our NuGet.Clients.sln in VS17 just after the migration reproduces the problem as of 4.0.0.2252

[2017-01-28 03:48] flaub commented on #3076
I can't get content to be installed in version `3.5.0.1996`.

I've tried creating a `contentFiles` directory, specifying a `<contentFiles>` element, and specifying a `<file target="content">`. Nothing seems to work.

[2017-01-28 05:14] emgarten commented on #4422
Thanks for the report, this will be fixed in the next release. Dupe of https://github.com/NuGet/Home/issues/4283

[2017-01-28 05:14] #4422 closed, assigned to nobody

[2017-01-28 05:16] emgarten commented on #4421
This looks like the same issue as https://github.com/dotnet/sdk/issues/745

[2017-01-28 05:18] emgarten commented on #4420
@diverdan92 what version of Visual Studio are you seeing this with?

[2017-01-28 12:20] mrward commented on #4413
So on Windows dotnet.exe and NuGet.exe both use AppData for their NuGet.Config files but on non-Windows platform they use different locations?

[2017-01-28 18:54] eerhardt opened #4424 "Executables restored from NuGet packages are no longer executable with .NET Core "2.0""
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

[code]

Worked before? If so, with which NuGet version: Yes, with dotnet restore version `1.0.0-rc3-004530`.

## Detailed repro steps so we can see the same problem

1. Install a "2.0" CLI from https://github.com/dotnet/cli/tree/master#installers-and-binaries on a non-Windows machine.

2. Rest

[2017-01-28 21:18] livarcocc commented on #4412
As Sri pointed out in the CLI issue. This would bring back problems where we would need to keep the project.json around until migration is fully done. This would be a problem for VS, as they migrate each project separately (including moving artifacts to backup).

This is copied over from the CLI issue:

1. Make this work if the `--skip-project-references` is not passed. But that means that wheneve

[2017-01-28 21:46] julielerman commented on #4364
I now have RC3 installed and will retry try both scenarios

The second scenario (new project, add package ref in csproj) now works as expected. After package restore, I see the package I added in the Nuget Package manager.

Now off to go through the migration scenario.

[2017-01-29 09:32] sm-g opened #4425 "Consolidate removes "type": "build""
NuGet Version: 3.5.0.1938

before:

[code]

after Consolidate:

[code]

[2017-01-29 14:52] julielerman commented on #4364
The scenario where I installed sqlite then uninstalled sqlserver is better but not perfect yet.
After I uninstalled sqlserver from the package manager, it was still listed on the installed page. The first thing I did after that was EDIT the csproj. As soon as I opened that and then brought the package manager view forward again, sqlserver was gone from the package manager's installed list. So I'm

[2017-01-29 15:01] julielerman commented on #4364
Out of curiosity, I then uninstalled the SQLite package and it was the same result. When all was said and done, it still showed on the installed page. I then went to the Browse page, then back to Installed and it was gone.

[2017-01-29 18:07] rrelyea commented on #4364
The problem I believe you are still seeing is #4035, which we are addressing as we speak.
If you click refresh in the Package Manager UI and it fixes itself, this is the same problem.

Because the package references are stored in the project file, we need to communicate with the project system. Due to the fact that the project system owns the data, and tells us when it is changed, we need to build

[2017-01-29 18:15] julielerman commented on #4364
excellent. then I believe it's safe to close this. thanks.

[2017-01-29 18:15] #4364 closed, assigned to zhili1208

[2017-01-29 18:58] tomkuijsten commented on #3830
The whole point was to not have the project reference to .Debug.dll and .EventLog.dll, but only have them copied to the output folder. Actually kind of the same question as #4236. That one solved the problem, thanks for helping out anyway.

[2017-01-29 19:22] WhiteKarma commented on #2657
Hello all,
I could only solve the problem upgrading to powershell version 3 on the link below:
https://www.microsoft.com/en-us/download/details.aspx?id=34595

All the best

[2017-01-29 19:59] chadwackerman commented on #2534
I just hit this today. I have an application that targets .NET 4.61 as well as .NET Core. Today I had to add a nuget.config file because "dotnet restore" on a tiny Linux worker node is pulling down all the Windows binaries, then failed trying to talk to the overloaded MyGet server attempting to pull down a different Windows-only binary that's clearly referenced as a net461-only dependency in proje

[2017-01-29 20:52] LwsSt opened #4426 "After initial install, closing and re-opening VS 2017 causes EF tools to not work"
Initially I filed a new issue under the Entity Framwork repo ([this issue](https://github.com/aspnet/EntityFramework/issues/7507)), but I was told to file an issue here.

Copied from my original issue:

1. I install the Entity Framework Core Tools using the Package Manager Console as per the instructions in the [announcement](https://blogs.msdn.microsoft.com/dotnet/2016/10/25/announcing-entity-fra

[2017-01-30 02:21] droyad opened #4427 "Nuget.Client does not use updated credentials for a source"
To reproduce:
1) Create an application that uses the Nuget.Client libraries
2) Query a source using incorrect credentials
3) Query a source using the correct credentials (within the same process)

The 2nd query should work, but the request still goes out with the original credentials. It appears as if the credentials are cached.

Original report: https://github.com/OctopusDeploy/Issues/issues/2959

[2017-01-30 02:24] droyad commented on #4427
Root cause is that the `HttpClient` is cached based on the `PackageSource` objects. It uses the equality members of the `PackageSource` object for this, so even different instances can return the same `HttpClient`.

The error lies in the equality of `PackagesSource` only takes the Name and Source (url) into account, not the credentals. Therefore if two requests are made with the same name and sour

[2017-01-30 04:11] #4427 closed, assigned to nobody

[2017-01-30 05:35] Iankodj commented on #4413
@zhili1208 Thanks for the info.

@mrward As far as I understand it is Mono that sets up the AppData variable with the `~/.config` path. And dotnet CLI uses directly the `~/.nuget` folder.

[2017-01-30 11:50] danieldemus opened #4428 "When using pack -IncludeReferencedProjects, exclude projects referenced by included projects that have a .nuspec (or project.json) file"
Assume you have 4 projects: **A**, **B**, **C** and **D**.
A references B, C and D and has a nuspec file. B references C and D and has a nuspec file. C and D don't have nuspec files. Ie:

A->B->C
A->B->D
A->C
A->D

If you execute  nuget.exe pack B.csproj -IncludeReferencedProjects, the result will include B.dll, C.dll and D.dll.

If you execute  nuget.exe pack A.csproj -IncludeReferencedProjects,

[2017-01-30 13:39] Gudahtt opened #4429 "NuGet client 3.5.0 restore ignores -MSBuild command-line argument"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version (x.x.x.xxx): 3.5.0.1938

VS version: 2013

OS version (i.e. win10 v1607 (14393.321)): Windows 10 Pro v1607 build 14393.693

Worked before? If so, with which NuGet version: 3.4.4, and latest dev

## Detailed repro steps so we can see the same problem

1. Ensure that only MSBuild 12 is installed

2. Call `nuget restore -MSBuild 1

[2017-01-30 14:08] brian-pickens commented on #4326
Since I can't comment on the internal bug, this is happening in Visual Studio 2017 build 4.6.01038 with Nuget 4.0.0 when simply creating a new .Net Core web app. The error is thrown when I try to open the Nuget Package Manager GUI.

[2017-01-30 16:32] rrelyea commented on #4368
not positive i have the exact repro steps, as I created a PCL project in vs2017, and then upgraded it.
But that didn't crash.
We should create a VS2015 project, and then attempt to repro again.

[2017-01-30 16:36] rrelyea commented on #4336
Not on track for RTM, sent mail. Moving to 4.0.1 to reflect taht.

[2017-01-30 16:42] rrelyea commented on #4260
Ignore this: At the same time, solve localization for all the DLLs which aren't localized by the VSIX localization process. (#4336)

[2017-01-30 16:45] diverdan92 commented on #4420
@emgarten D15prerel 26127.00 with a patch from @jainaashish

[2017-01-30 16:49] rrelyea commented on #4308
added new dupe bug number in first entry in this issue. 372378 - please read and confirm dupe. use that extra info (and/or the bug filer) to help reproduce the problem.

[2017-01-30 17:17] rrelyea opened #4430 "[PerfWatson] UIDelay: nuget.packagemanagement.visualstudio.dll!NuGet.PackageManagement.VisualStudio.VSSolutionManager+<<get_IsSolutionAvailable>b___0>d.MoveNext"
internal bug 374374

[2017-01-30 17:22] rrelyea opened #4431 "Update-Package done manually in console work only one time for PackageRef projects that were just converted"
vs feedback 768960 using RC3

When I want to update some packages in my solution, the first time just after opening the solution, I click the Package Manager Console and type the command like "update-package ServiceStack.text"; it's working and I can see the traces.
Then, I try to update another package and I can see an error:

PM> update-package ServiceStack.common
update-package : Project 'Defau

[2017-01-30 17:25] rrelyea opened #4432 "Microsoft.DiaSymReader.Native.x86.dll ends up in nuget package if TFM = netcoreapp1.1"
please engage with customer via vsfeedback number 768720

When I try to pack my class library targeted to .net core 1.1 to nuget package with Visual Studion 2017 RC3 resulting nupkg file contains files that must not... ('Microsoft.DiaSymReader.Native.x86.dll' and 'Microsoft.DiaSymReader.Native.amd64.dll' twice in folders 'content' and 'contentFiles')

[2017-01-30 17:36] rrelyea opened #4433 "When migrating to PackageRef, hybrid solutions have strange restore behavior"
vs feedback using RC3 -- vsfeedback number 747888

Opened existing VSIX project (targetting VS 2012 to 2015)
Project upgraded to support 2017
Removed existing EnvDTE references and started to replace them with NuGet package references
Added EnvDTE package successfully (chose to use PackageReferences instead of packages.config file)

Tried to add EnvDTE80 package, but getting this error:

System.Ar

[2017-01-30 17:36] pakrym commented on #4432
Might be related to https://github.com/NuGet/Home/issues/4397 (https://developercommunity.visualstudio.com/content/problem/14125/pack-warnings-when-targeting-netcoreapp11.html) warnings I was getting were exactly about these files.

[2017-01-30 17:37] rohit21agrawal commented on #4432
Yes, we have fixed this already

[2017-01-30 17:43] rrelyea opened #4434 ".NET Core Class Library doesn't resolve .NETStandard.Library (1.6.1)"
vs feedback 768927 -- using rc3 vs2017

NET Core Class Library doesn't resolve any of the NuGet references it has, including the NETStandard.Library.

It seems it's a package restore problem. My solution uses submodules. You can clone it an try for yourself: https://github.com/SuperJMN/OmniGUI.git.

This is the output:
Error occurred while restoring NuGet packages: Exception from HRESULT: 0x8004C7

[2017-01-30 17:47] rrelyea opened #4435 "Cannot uninstall newly installed package"
vsfeedback with vs2017 26120.4 (test scenario day build) - 746023
Filed by @dtivel

1.  Open the solution in the attached "ClassLibrary (2).zip" file.
2.  In File Explorer, copy the path of the directory that would contain the ClassLibrary.1.0.0.nupkg package.  For example, C:\Users\dtivel\Documents\Visual Studio 2017\Projects\ClassLibrary\ClassLibrary\bin\Debug
3.  In Visual Studio navigate on th

[2017-01-30 17:55] lifengl commented on #4386
CPS drains critical tasks before building a project, but it is only before building the current project, if you hook up VS solution build events, it may happen before that.

[2017-01-30 18:03] rrelyea opened #4436 "[PerfWatson] UIDelay: nuget.packagemanagement.visualstudio.dll!NuGet.PackageManagement.VisualStudio.VSMSBuildNuGetProjectSystem+<>c__DisplayClass_0+<<AddReference>b__>d.MoveNext"
internal bug 100517

recently reactivated. top hitter on nuget.

[2017-01-30 18:23] skofman1 opened #4437 "Enhance nuget update -safe"
@ReinoutW commented on [Mon Jan 30 2017](https://github.com/NuGet/NuGetGallery/issues/3512)

## Introduction
This is a clone of a ticket created on codeplex back in 2014.
http://nuget.codeplex.com/workitem/3542

I adapted the spec provided as file attachment at codeplex a bit to match the initial requirements.
[DependencyVersion Switch Update Package.docx](https://github.com/NuGet/NuGetGallery/fil

[2017-01-30 18:24] vRITHNER commented on #4326
Hello Guys,  somebody closed my reported issue and decided my issue was a duplicate of your's; as it is closed, I can't comment. https://developercommunity.visualstudio.com/content/problem/15458/0x8004c738-when-trying-to-update-nuget-packages-in.html

My issue was related to a legacy MVC project and has nothing to do with a dotNET core;
They wrote there is a solution but I can't find it here...

A

[2017-01-30 18:45] zhili1208 commented on #4310
@damienbod we just released VS 2017 RC3, could you try that one? https://www.visualstudio.com/vs/visual-studio-2017-rc/

[2017-01-30 18:55] zhili1208 commented on #4326
@vRITHNER actually this issue is related to a legacy c# project which is using package reference. the fix is already merged last Friday.

[2017-01-30 19:04] zhili1208 commented on #4434
this is a dupe of https://github.com/NuGet/Home/issues/4326

[2017-01-30 19:04] #4434 closed, assigned to zhili1208

[2017-01-30 19:08] alpaix opened #4438 "Add end-to-end test cases covering potential VS deadlock scenarios"
Add end-to-end VS test cases covering following scenarios:
- Close solution before auto-restore has started, during auto-restore
- ...

Adding tests cases involving timing is challenging but crucial for product stability.
Develop strategy and infrastructure for that.

[2017-01-30 19:21] jainaashish commented on #4352
dupe of 373767

[2017-01-30 19:21] #4352 closed, assigned to rrelyea

[2017-01-30 19:28] emgarten commented on #4426
Can you try updating to the latest 2017 RC3? Would you also share the version of NuGet you are using if you still see this issue? It is written to PMC when first opening the console.

[2017-01-30 19:28] emgarten commented on #4426
//cc @zhili1208

[2017-01-30 20:05] karann-msft opened #4439 "tools options default package management format - proper High DPI support"
![nuget tools options](https://cloud.githubusercontent.com/assets/16904420/22439430/6b3fa09c-e6e4-11e6-8df7-b1682de8f8ac.png)

[2017-01-30 20:08] karann-msft opened #4440 "In PackageRef, use attribute form instead of element form of version"
So, we are adding the following:
[code]

It should be:

[code]

[2017-01-30 20:20] jainaashish commented on #4420
Crash dump doesn't reflect the above scenario, rather it says it crashed some where in auto-restore.

[2017-01-30 20:23] jainaashish commented on #4421
@diverdan92 are you able to repro it again? I tried repro it several times but couldn't do that.

[2017-01-30 20:27] jainaashish commented on #4440
How does it make a difference? besides it's not us who add these into csproj rather project system adds it.

[2017-01-30 20:36] BladeWise commented on #4386
I can confirm that the problem occurs on RC3 every time the project file is updated, and a build is issued before VS completes the auto-restore.

[2017-01-30 20:58] diverdan92 commented on #4421
@jainaashish  not yet

[2017-01-30 21:01] jainaashish opened #4441 "Perf: ManagedLangs_CS_DDRIT.0300.Rebuild Solution regressed Duration_TotalElapsedTime by 1.5sec. Baseline 26105"
internal bug# 372617

[2017-01-30 21:06] karann-msft commented on #4440
@jainaashish irrespective of who owns this, we don't want to be using this verbose format. For one it is way more difficult to read (ignoring the argument that who opens the csproj/project.json). Two, devs may follow our lead on the best way to add a reference. Three, we are about to [remove the element way of referencing](https://github.com/NuGet/Home/issues/4270) from our docs.
@rrelyea and I ha

[2017-01-30 21:23] BrainCrumbz commented on #694
Hello all

referencing current docs:

if one does that, is the generated version number compatible with SemVer 1 (and hence with Nuget 3.5) ?

Currently our *.nuspec* file has `<version>1.1.0</version>`, then command in PowerShell script has `& "nuget" pack -suffix $env:APPVEYOR_BUILD_NUMBER` where e.g. `$env:APPVEYOR_BUILD_NUMBER = "123"`.

That produces a package with version `OurPackageName.1.1

[2017-01-30 21:34] rrelyea commented on #4429
NuGet.exe 3.5.0 needs to have msbuild 14 to find other versions of msbuild.
NuGet.exe 4.0.0 has improved the technique, and should no longer have this problem.
Marking as fixed.

[2017-01-30 21:34] #4429 closed, assigned to nobody

[2017-01-30 21:38] natemcmaster commented on #3673
@emgarten I see this is still in the RTM milestone. Are you still trying to get this in?

cc @Eilon

[2017-01-30 21:39] rrelyea commented on #4425
We had to do work in NuGet 3.5 and .net core tools preview 2 to save metadata like this.
Looks like we missed this case.

Currently, VS 2017 should not have this kind of problem. We won't be fixing this back in 3.5

[2017-01-30 21:39] #4425 closed, assigned to nobody

[2017-01-30 21:40] Gudahtt commented on #4429
Good to know; thanks.

[2017-01-30 21:41] rrelyea commented on #4424
Any reason this is a shipstopper for rtm?

[2017-01-30 21:43] rainersigwald opened #4442 "UI restore failure on .NET Core xunit unit test project"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS UI

NuGet version (x.x.x.xxx):

VS version (if appropriate): (internal build) Microsoft Visual Studio Enterprise 2017 RC Version 15.0.26130.0 D15PREREL

OS version (i.e. win10 v1607 (14393.321)): Version	10.0.14393 Build 14393

Worked before? This is the first time I've tried it.

## Detaile

[2017-01-30 21:44] eerhardt commented on #4424
Not a shipstopper.  This only affects "2.0".  "1.0" works fine.

[2017-01-30 21:44] zhivchick commented on #4233
I've got same error in VS 2017 RC3, after VS update. There is  "System.IO.FileSystem.dll" in MSBuild folder, but it doesn't seem to work. Are there any workarounds?
<img width="1280" alt="2017-01-31 0 39 20" src="https://cloud.githubusercontent.com/assets/5101810/22442930/185ef84a-e74e-11e6-8037-e241fabb202c.png">

[2017-01-30 21:47] #4421 closed, assigned to nobody

[2017-01-30 21:53] rrelyea commented on #4233
@rainersigwald - What is the status of the msbuild + façade DLLs? This user saw with RC3?

[2017-01-30 21:59] rrelyea commented on #3673
no, it was just tracking external work at one point. moving post 4.0

[2017-01-30 21:59] logankp commented on #694
@BrainCrumbz SemVer 1 spec allows this. I'm not sure why NuGet is complaining, but a version number of 1.1.0-123 is perfectly valid.

Per SemVer specs:
[code]

[2017-01-30 22:04] natemcmaster commented on #3673
Thanks.

[2017-01-30 22:05] BrainCrumbz commented on #694
Thanks for quick reply @logankp . My "Not compatible SemVer 1" might be a wrong statement, if that's the case, but still Nuget has issues with that naming scheme, as found when googling around. As of now, a workaround seems to be the following:

1. add some build number in *.nuspec* file: `<version>1.1.0.0</version>`
1. start suffix with some text, not with a number: `-suffix "dev-$env:APPVEYOR_BU

[2017-01-30 22:13] zhili1208 commented on #4383
validated it in vs d15rel 26129.0, it's fixed

[2017-01-30 22:13] #4383 closed, assigned to zhili1208

[2017-01-30 23:39] karann-msft opened #4443 "For UAP projects, nuget (pmc/nuget.exe) install checks TPV instead of TPMV"
nuget install checks TPV instead of TPMV.
1. create a blank UAP app with TPV = 14393, TPMV = 10586
2. from the PMC, attempt to install a nuget package which targets TPMV = 14393 i.e. lib\uap10.0.14393
Expected: package installation must fail
Actual: package installs successfully

Title was: For UAP projects, nuget checks TPMV instead of TPV
1. Create a blank UAP app with TPV = 14393, TPMV = 10586

[2017-01-30 23:42] vRITHNER commented on #4326
Txs @Zhi, but I already installed last update.
Sent from my Windows 10 phone

From: Zhi Li<mailto:notifications@github.com>
Sent: Monday, January 30, 2017 7:55 PM
To: NuGet/Home<mailto:Home@noreply.github.com>
Cc: Vincent RITHNER<mailto:vrithner@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [NuGet/Home] Error while restoring NuGet packages with HRESULT 0x8004C738 (#4326)

@

[2017-01-31 00:02] jainaashish commented on #4433
I can repro it locally, and we should fix it.

[2017-01-31 00:11] jainaashish commented on #4431
This is same as https://github.com/NuGet/Home/issues/4315 after install or update package in PMC, Project is not being selected by default.

[2017-01-31 00:20] anangaur opened #4444 "Adding nuget packages to NuGet app after deleting project.json shows error"
Steps:
1. Create UWP app that has project.json
2. Add one or more packages
3. Delete project.json
4. Try to add the same packages again

**Expected**: It should let one browse through the packages and re-add the packages while giving a choice to use PackageReference

**Actual**: It shows an error:

An error occurred while reading file '<path to old project.json>': Could not find file '<path to old

[2017-01-31 00:21] rainersigwald commented on #4233
The NuGet tasks should ship the façades you need for RTW. Our bug is https://github.com/Microsoft/msbuild/issues/1542 and was too complex to deliver for RTW.

@jeffkl

[2017-01-31 00:25] livarcocc commented on #4412
So, after thinking about this, I don't think it is right for migration to handle this and as I stated above we really can't.

This is a gap in transitive dependencies that should be handled. In my opinion, NuGet should add these references to the asset.json file and the SDK should find and pass them forward. Now, given the timeline, I understand this not happening, but I don't see how we can handl

[2017-01-31 00:26] anangaur opened #4445 "UWP app: Trying to upgrade to PackageRef gives an option to opt for Packages.config and subsequently ends in error"
###Repro steps:

1. Create UWP app that has project.json
2. Add one or more packages
3. Delete project.json
4. Unload and Relaod project
5. Try to add the same packages again

**Expected**: It should not give an option to use packages.config as that's not supported. **FailFast**

**Actual**: It lets user to use packages.config approach and then throws the following error. The error too is **not us

[2017-01-31 00:31] anangaur opened #4446 "WPF app: removing packages.config and then using the PackageRef approach results in duplicate entry of the nuget package in 'References'"
### Repro steps:
1. Create a WPF project
2. Add a .NET Standard 1.2 library to it
3. Delete packages.config
4. Add the same .NET Standard 1.2 library to it using PAckageRef approach

Expected: Should add and show one library in the "References"

Actual: Show 2 copies
![3](https://cloud.githubusercontent.com/assets/14800916/22447805/8b392e34-e709-11e6-9670-7bb60372f68e.PNG)

[2017-01-31 02:15] alpaix commented on #4354
Duplicate of #4370.

[2017-01-31 02:15] #4354 closed, assigned to alpaix

[2017-01-31 06:26] dhinesh333 opened #4447 "provide dynamic feed links in one application"
We are working in private repository for our own private nuget packages. We are in a position to change the nuget feed for every customer. But nuget packages are located in a location which is specified in Web.Config.
`    public static void MapNugetRoutes(RouteCollection routes)
            {
                var factory = new DataServiceHostFactory();
                var serviceRoute = new Servic

[2017-01-31 08:09] maartenba opened #4448 "(Future?) performance issue with the NuGet v3 protocol in NuGet client"
Based on https://github.com/dotnet/corefx/issues/11100#issuecomment-275857983, which describes a Visual Studio (and command line NuGet.exe) crash when installing `System.Net.Http 4.4.0-beta-24913-021` from `https://dotnet.myget.org/F/dotnet-core/api/v3/index.json`, we (MyGet) found a (Future?) performance issue with the NuGet v3 protocol in NuGet client.

At the time of writing this issue, at MyGe

[2017-01-31 09:28] stgit123 commented on #491
This is happening to us consistently and often.
VS2015 Update 3 14.0.25422.01
Package Manager Console Host Version 3.4.4.1321

[2017-01-31 09:29] stgit123 commented on #2215
This is happening to us consistently and often.
VS2015 Update 3 14.0.25422.01
Package Manager Console Host Version 3.4.4.1321

[2017-01-31 09:38] stgit123 opened #4449 "Updating packages deletes packages.config in TFS"
Recurrence of issues #491 and #2215

VS2015 Update 3 14.0.25422.01
Package Manager Console Host Version 3.4.4.1321

When updating nuget packages in Visual Studio, if there is only one package referenced in a package.config file, then sometimes that file is marked as deleted in the TFS changeset.

Most of the time we remember to check for deleted package.config files and restore them before check-i

[2017-01-31 10:10] ReinoutW commented on #4437
We can sponsor the development of this enhancement if it is accepted.

[2017-01-31 12:41] swoog commented on #4316
I have the same issue on the project https://github.com/swoog/Pattern/tree/develop

[2017-01-31 12:47] qbit86 commented on #4233
@zhivchick I've got the same issue after recent update. Any solution?

[2017-01-31 13:12] clairernovotny commented on #4136
Should this be in RC3 or only in RTM? I tested RC3 and I don't see the pri files in the package....

[2017-01-31 13:36] chadwackerman commented on #4448
Awesome detail. Would you consider posting average daily bandwidth egress before and after the fix? That would be interesting.

[2017-01-31 13:51] rohit21agrawal commented on #4136
This is in RTM

[2017-01-31 14:00] rohit21agrawal commented on #4136
The latest CLI will have this fix though

[2017-01-31 14:31] maartenba commented on #4448
Would be very interesting indeed :-) Will try to capture that.

[2017-01-31 14:39] pgrawehr commented on #4400
@emgarten: Consider the case where support for a file format (say an application specific data file) is provided by a certain package. The package is updated whenever the file format changes. Because the file format may undergo major changes from one version to another, one version of the package does not support multiple versions of the file. If the application now wants to be able to read or wri

[2017-01-31 15:27] brian-pickens opened #4450 "Unable to resolve Nuget Packages for .Net Core 1.1 Web Apps"
## Details about Problem

Unable to resolve Nuget Packages for ASP.NET Core Web Application (.Net Core and .Net Framework) projects using the 1.1 templates. This results in failed builds no matter what I try.

NuGet product used (VS UI | Package Manager Console): Both of these

NuGet version (Package Manager Console Host Version 4.0.0.2215)

VS version 15.0.0-RC.3+26127.0

OS version win10 v1511 (

[2017-01-31 16:05] Sam13 commented on #4400
@emgarten I agree with @pgrawehr.
I also have to mention that NuGet command line can already deal with that. Only the VS UI is generating an error.

[2017-01-31 18:17] rrelyea opened #4451 "When a project needs to be restored, consider making autorestore restore the minimal set of projects"

[2017-01-31 18:22] rrelyea commented on #3816
would prefer to do in 4.0, but will be focusing on higher hitters.

[2017-01-31 18:25] rrelyea commented on #4370
We think addressing #4225 will address this.

[2017-01-31 18:25] emgarten commented on #4316
@swoog what version of dotnet CLI are you using?

[2017-01-31 18:29] rrelyea commented on #4225
Good info about blocking build here: #4386

[2017-01-31 18:38] #4367 closed, assigned to rohit21agrawal

[2017-01-31 18:40] jainaashish opened #4452 "Perf: CreateUAP_CSharp_VS.01.1.Create project regressed Duration_TotalElapsedTime by 3,153.570 ms (149.1%). Baseline 26129.02"
internal issue# 377258

[2017-01-31 18:53] rrelyea opened #4453 "[Feedback] Unable to run c++ for linux"
internal bug 377216 - vsfeedback 768705

I just created a new project for "Console Application (Linux)" and entered all neccessary data to run it on my remote linux maschine.

1> C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\VC\VCTargets\Application Type\Linux\1.0\Linux.Common.targets(248,5): error : g++ exited with code 127, please see the Output Window - Build output

[2017-01-31 18:53] rrelyea commented on #4453
zhi believes that may have been hit with autorestore.

[2017-01-31 19:26] #4257 closed, assigned to alpaix

[2017-01-31 19:39] tofutim opened #4454 "portable-net45+sl5+win8+wpa81+wp8 and xamarinmac20"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Xamarin Studio

NuGet version (x.x.x.xxx): 3.5

OS version (i.e. win10 v1607 (14393.321)): OSX

Worked before? If so, with which NuGet version: 2

## Detailed repro steps so we can see the same problem

(Hoping in here from https:

[2017-01-31 19:45] mrward commented on #4454
We should add the Xamarin.Mac framework to the optional framework list in DefaultPortableFrameworkMappings since we want to support adding PCLs into Xamarin.Mac mobile projects.

/cc @chamons

[2017-01-31 19:49] emgarten commented on #4454
@mrward would you be able to create a PR with the correct mappings?

Long term netstandard will fix this. I see that the package contains netcore50 which may have been an attempt at this before the netstandard TFM was available.

[2017-01-31 19:51] tofutim commented on #4454
Looks like in https://github.com/NuGet/NuGet.Client/blob/4cccb13833ad29d6a0bcff055460d964f1b49cfe/src/NuGet.Core/NuGet.Frameworks/DefaultFrameworkMappings.cs there is already a FrameworkIdentifier for Mac
[code]
Not sure if it has to be xamarinmac20 or not.

[2017-01-31 19:56] #4366 closed, assigned to rohit21agrawal

[2017-01-31 20:13] #4408 closed, assigned to jainaashish

[2017-01-31 20:46] mishra14 commented on #3506
Finished commenting LCI files. But that caused mismatch between comments and existing translations. The vendors are updating the translations to react to the correct comments.

[2017-01-31 21:13] rrelyea opened #4455 "[Feedback] NullReferenceException when opening empty project"
vsfeedback 769484 & internal bug 377549

from bug:
Stack:
=====================
31-1-2017 10:02:56
Recoverable
System.AggregateException: One or more errors occurred. ---> System.NullReferenceException: Object reference not set to an instance of an object.
   at NuGet.PackageManagement.VisualStudio.VSSolutionManager.<<get_IsSolutionFullyLoaded>b__73_0>d.MoveNext()
--- End of stack trace from previ

[2017-01-31 21:21] alpaix opened #4456 "Apply recommended changes to the solution restore worker design"
Follow-up on NuGet/NuGet.Client#1154.

Address feedback comments from the aforementioned PR to the solution restore worker design:
- Cancellation token handling policy and contract
- Handling `JoinableTask` in restore operation
- Missing xml documentation and comments

[2017-01-31 22:31] alpaix opened #4457 "Implement a better method of blocking the build to execute restore operation"
### Details about Problem

Current on-build restore operation is invoked by `BuildEvents.OnBuildBegin` event handler and executes synchronously while blocking the main VS thread. As a result VS UI freezes for some time until the restore completes.

### Repro steps

As reported in internal issue 375820:

1. Create a new asp.net core application
1. Build
1. Rebuild

Noticable 2-4 second delay where

[2017-01-31 22:39] #4035 closed, assigned to mishra14

[2017-01-31 22:55] rrelyea commented on #4391
Unless this is common, we'll address in 4.0.1.

[2017-01-31 23:09] thoemmi commented on #4234
I'm facing the same issue in [my project](https://github.com/thoemmi/TinyLittleMvvm): in the nuspec file I'm using `$author$` and `$description$`, which -- according to [the documentation ](https://docs.microsoft.com/en-us/nuget/schema/nuspec#replacement-tokens) -- should be replaced with the content of the assembly attributes `AssemblyCompany` and `AssemblyDescription` respectively.

However, NuG

[2017-01-31 23:11] dsplaisted commented on #4391
@rrelyea To me, it seems like this could be common.

Below are the repro steps for me.  I'm not sure exactly which package is triggering this but it seems like manually installing or upgrading to the ASP.NET 1.1 packages will often hit this bug, depending on the path length of where your project is stored.

- File \ New Project \ ASP.NET Core Web Application (.NET Core)
- Choose a name for the pro

[2017-01-31 23:19] alastairs commented on #4450
There is a workaround detailed in [this community post](https://developercommunity.visualstudio.com/content/problem/15303/cannot-build-new-application-using-default-templat.html):

This workaround worked for me.

[2017-01-31 23:23] rrelyea commented on #4310
closing as not repro. Please chime in if you repro with latest RC.

[2017-01-31 23:23] #4310 closed, assigned to zhili1208

[2017-01-31 23:33] docrinehart commented on #4233
Encountered this issue after updating VS2017 to RC3_26127.0

[2017-01-31 23:40] rohit21agrawal commented on #4234
@thoemmi i would be more than happy to take a look if you could tell me the repro steps for your project..

[2017-01-31 23:46] qbit86 commented on #4233
@zhivchick @docrinehart I've managed to solve this issue, but don't remember actual steps. I had to set `<EnableDefaultCompileItems>` to `false` since corresponding default behavior [has changed](https://github.com/dotnet/core/blob/master/release-notes/1.0/sdk/1.0-rc3-default-compile-items.md). Removed versioned `<PackageReference>`s to `Microsoft.NETCore.App` and `NETStandard.Library` since they

[2017-01-31 23:59] rohit21agrawal commented on #4391
@rrelyea i think this needs to be fixed in 4.0 RTM

[2017-02-01 00:02] rrelyea opened #4458 "Support Restore for Open Folder in VS for solution or project"
msbuild /t:restore Foo.sln or foo.csproj
-- AnyCode --

[2017-02-01 01:08] MattGertz commented on #4368
Check if this is tracked in project already, and if not, please create an issue over there.

[2017-02-01 01:15] rrelyea commented on #4391
Turns out this seems very common.

[2017-02-01 01:34] rrelyea opened #4459 "Enable push from Visual Studio"
From 2nd half of vsfeedback 771751 - https://developercommunity.visualstudio.com/content/problem/16009/pushing-packages-to-private-nuget-automatically.html

2. There is no way to automate pushing release builds to your private nuget server (i.e. the new stuff in Visual Studio team services) that I can find. I should be able to specify that on the Release Config that once it' builds the nuget packa

[2017-02-01 02:25] alpaix opened #4460 "Auto-Restore"
Master issue for all auto-restore related work items

[2017-02-01 02:43] davkean commented on #4368
This repro says "Portable Class Library" not .NET Standard library.

[2017-02-01 06:19] thoemmi commented on #4234
I'm out of office currently, but will provide you with repro steps in a couple of days.

[2017-02-01 07:51] srivatsn opened #4461 "Ability to generate backward compatible packages"
_From @tmat on January 31, 2017 23:1_

I tried to use packaging task from the SDK for [Microsoft.DiaSymReader.Portable](https://www.nuget.org/packages/Microsoft.DiaSymReader.PortablePdb/) package, but couldn't figure out how to add backward-compatible target frameworks in the package. Currently the package has the following structure:

[code]

```Microsoft.DiaSymReader.Portable.csproj``` only buil

[2017-02-01 07:51] srivatsn commented on #4461
The pack SDK is built out of the NuGet repo. Moving this issue there.

[2017-02-01 08:20] emgarten opened #4462 "Manage packages menu item missing for Service fabric project"
Manage packages menu item missing for Service fabric project. These projects contain a packages.config file when they are created and work fine in powershell, which means the menu item should be there.

VS 15.0.0-RC.4+26131.1.d15rel

#### Steps
1. Create a new stateless Service Fabric project
1. Observe that the Application project contains a packages.config file
1. Observe that PMC displays the A

[2017-02-01 09:06] emgarten commented on #4390
The nupkg created with ``GeneratePackageOnBuild`` only contains 1/2 TFMS.

@rohit21agrawal was this fixed by https://github.com/NuGet/Home/issues/4381?

### csproj:

[code]

### Resulting nupkg
``ClassLibrary.1.0.0\lib\netstandard1.4\ClassLibrary.dll``

No other lib files found.

[2017-02-01 11:11] davkean opened #4463 "project.assets.json does not work with shared intermediates"
Files that generated into the intermediates, typically always include the project name in the name of the file:

[code]

The assets file does not:

[code]

This is going to lead to clashes when projects share intermediate directories, which is pretty common in large projects such as Roslyn.

[2017-02-01 11:40] davkean opened #4464 ""Generate NuGet package on build" doesn't play nicely with clean"
1. Turn on "Generate NuGet package on build"
2. Build
3. Clean

**Expected:** Obj/bin to be empty
**Actual:**

The generated nuspec and nupkg are still on disk.

To play nicely with Clean, you should add any file you write to the FileWrites items, here's an example: https://github.com/Microsoft/msbuild/blob/dd5e8bc3f86ac98bd77d8971b00a6ad14f122f1a/src/XMakeTasks/Microsoft.Common.CurrentVersion.tar

[2017-02-01 12:41] davkean opened #4465 "NuGet sometimes fails to resolve a project after a reference is added"
Build: 26131.0.d15rel

1. Create a Console App (.NET Core)
2. Create a Class Library (.NET Standard)
3. Add a reference from the App -> Library

[code]

This happened to ~10 times tonight, it's not consistent and don't know what the repro is.  Once you get into this state, couldn't get rid of the errors until I closed the solution and reopened.

[2017-02-01 13:09] rrelyea opened #4466 "Manage Packages for Solution shows wrong version for UWP metapackage on left side."
Have not tested earlier builds, but VS2017 d15rel 26131-01 shows v5.3.0 as installed on left side of manage packages for solution. Appears to work correctly in detail pane on right.
Also works correctly on managed packages for Project.

[2017-02-01 13:32] davkean commented on #4465
Hitting this a lot.

[2017-02-01 13:36] mrward commented on #4454
I have opened a [PR](https://github.com/NuGet/NuGet.Client/issues/1161) with the changes. I tested the new NuGet binaries with Xamarin Studio locally and this fixes the problem with Xamarin.Mac projects not allowing PCLs to be installed from NuGet packages.

[2017-02-01 13:56] rrelyea commented on #4465
Which build did you last test when you didn't hit this? (want to investigate NuGet and other changes that may have caused problems here.)

[2017-02-01 14:00] rrelyea commented on #4243
Worked around by CLI here: https://github.com/dotnet/cli/issues/5540

[2017-02-01 14:34] rrelyea commented on #4465
can you tell more about your repro?
were you multi-targeting in either project?
using rids anywhere?
did the errors happen on the reference add? or some further step (like auto restore after that step)?

[2017-02-01 15:17] rohit21agrawal commented on #4390
@emgarten yes this was fixed by #4381 , however, when @dtivel filed this issue, i did check the nupkg on his machine, and it did have both the TFMs in the lib folder

[2017-02-01 16:24] tofutim commented on #4454
Oh you are awesome. I have a next nuget question for you.

The SignalR portable library does not include WebSockets.
WebSockets will be available in netstandard2.0
Xamarin iOS/Mac/tvOS/watchOS/Android support WebSockets, but it seems I
would have to make a separate dll for each, is that the case? I also saw an
Apple PCL but this does not seem fully baked yet and would exclude Android.

Wish there

[2017-02-01 16:58] mrward commented on #4454
@tofutim - Yes if you cannot implement it in .NETStandard v1 nor in a PCL then you would need to have an assembly for each Xamarin platform you want to support.

[2017-02-01 17:13] rrelyea opened #4467 "vsfeedback: error building solution... - restore has problem loading system.io.filesystem?"
vs vsfeedback 769304

from vs feedback issue.... (more text can be found there):

Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB4018	The "ResolvePackageDependencies" task failed unexpectedly.
System.IO.FileNotFoundException: Could not load file or assembly 'System.IO.FileSystem, Version=4.0.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies.

[2017-02-01 17:34] rrelyea commented on #4454
set to rtm so we can triage and get approval for check into 4.0.0 if possible, otherwise will go in 4.0.1.

[2017-02-01 17:37] rrelyea commented on #4439
Let's focus on the string change (from negative to positive, i believe) and the checkbox state, including correct roaming (or not) behavior.
High DPI can come in another delta.

[2017-02-01 17:58] rohit21agrawal commented on #4461
@tmat not sure i understand what you are trying to use here...could you attach your project file?

Are you using dotnet pack? What is the exact commandline you are using to pack your project?
What frameworks does your project file target?

[2017-02-01 18:05] rrelyea commented on #4430
Per @DoRonMotter, we are only going to be attacking the top few perfwatson issues in rtm.

[2017-02-01 18:06] rrelyea commented on #4221
Per @DoRonMotter, we are only going to be attacking the top couple perfwatsons in rtm

[2017-02-01 18:28] tmat commented on #4461
@rohit21agrawal I'm trying to generate package using dotnet SDK that currently is generated using nuget.exe with this nuspec: https://github.com/dotnet/symreader-portable/blob/master/src/NuGet/Microsoft.DiaSymReader.PortablePdb.nuspec

[2017-02-01 18:30] rohit21agrawal commented on #4461
@tmat are you packing the nuspec directly or  packing using the csproj filewith the corresponding nuspec file?

it seems to me that you are hitting this issue : https://github.com/NuGet/Home/issues/2300

[2017-02-01 18:33] tmat commented on #4461
The latter. I want the nuspec to be generated from properties and package references specified in .csproj file.
The nuspec above is how it's done now. I'm trying to migrate to the new project system.

Yes,  #2300 looks like one of the missing parts.

[2017-02-01 18:36] rohit21agrawal commented on #4461
@tmat can you share your csproj file? Also, you are using the same DLL and XML files to output to different folders in your nupkg...so i would say that is expected given your nuspec.

[2017-02-01 18:36] LwsSt commented on #4426
So I've just updated, and I'm running RC3.
The PMC version is: 4.0.0.2215

I've realized now that I've missed an important detail in my initial issue.
Usually I open VS in an empty environment. When this happens the PMC also opens an initializes. I then open my Project. In this case, the desired commands do not work.

However, if the PMC is opened (and initialized) after I open the project, the de

[2017-02-01 18:41] tmat commented on #4461
Here:
https://github.com/tmat/symreader-portable/blob/NewProjSystem1/src/Microsoft.DiaSymReader.PortablePdb/Microsoft.DiaSymReader.PortablePdb.csproj

[2017-02-01 18:42] rohit21agrawal commented on #4461
@tmat if you are moving to the new project system, then you don't really need a nuspec file. Move all of your dependencies and metadata to  your csproj file, and use the latest dotnet sdk from https://dotnetcli.blob.core.windows.net/dotnet/Sdk/rel-1.0.0/dotnet-dev-win-x64.latest.zip to pack your project.

You need to change your targetframework in the project so it targets and builds for each of t

[2017-02-01 18:46] tmat commented on #4461
I understand that I shouldn't need the nuspec file.

I don't want to build the project 3 times. The dlls for all 3 target frameworks are the same. ```lib\portable-net45+win8``` and ```lib\net45``` are there only to make the package compatible with older nuget.

[2017-02-01 19:08] jainaashish opened #4468 "By default opt out of package format selector option"
1. By default opt out of showing this package format selector dialog to choose from packages.config vs packagerReference for new projects
2. Change check box tests from "Do not show the format selector dialog on first package install" to "Allow format selection on first package install"

[2017-02-01 19:08] jainaashish commented on #4439
Opened another issue to change default state and test -https://github.com/NuGet/Home/issues/4468
And marking this bug as 4.0.1

[2017-02-01 19:13] olydis opened #4469 "DotNetCliToolReference doesn't import targets."
## Problem
We have a tool that's referenced by `DotNetCliToolReference`.
It installs correctly and will run from the command line.
When it installs, however, it does not put references to the `.targets` file in the tool package (into the `.g.targets` file).
For that to happen, we had to put a package reference in as well (workaround, see below).
[code]

The following will only appear in the `.g.ta

[2017-02-01 19:30] rrelyea commented on #4465
haven't been able to repro. putting into rtm for now and we'll keep trying a bit.

[2017-02-01 19:33] rrelyea commented on #4464
we have taken a fix for nupkg clean already. without filewrites. reviewed with @rainersigwald. hasn't made it to VS build yet. @rohit21agrawal
the assets file is a new issue. will track in 4.0.1.

[2017-02-01 19:34] rrelyea commented on #4463
good issue. we think we can change without too much work...but likely too late for rtm.
/cc @jainaashish @emgarten

[2017-02-01 19:45] toddmeinershagen commented on #4068
@rrelyea @yishaigalatzer I would like to add end to end testing around the Management Pack project template (ManagementPack_2012R2.zip shown below) and run the tests locally to validate.  I have added the folder with the associated artifacts to the \test\EndToEnd\ProjectTemplates directory.

* What tests specifically target this functionality and what do I need to pass to the .\runTests.ps1 at the

[2017-02-01 20:03] emgarten commented on #4463
Agreed, this would be a good change. We've been working towards making this file name/path extensible, but there a few places still expecting ``project.assets.json``.

[2017-02-01 20:10] thoemmi commented on #4234
It took me a while, but then I was able to reproduce it. It happens, when GitVersion writes a long `AssemblyInformationalVersion` including SHA, e.g.
[code]

I have attached a small demo for reproduction, you just have to call `build.bat`.
[NuGetIssue4234.zip](https://github.com/NuGet/Home/files/746014/NuGetIssue4234.zip)

[2017-02-01 21:50] paulomorgado commented on #4467
It's a project file issue.

This is a fresh created project file:

[code]

This is the corresponding original project files:

[code]

[2017-02-01 21:51] rrelyea commented on #4431
now a known issue with PackageReference .. will address post RTM.

[2017-02-01 21:54] rrelyea commented on #4431
Zhi has fix in local branch, for 4.0.1

[2017-02-01 22:01] #4419 closed, assigned to alpaix

[2017-02-01 22:05] davkean commented on #4465
26131.0.d15rel, no rids, no multi-targeting very basic File -> New projects.

I spent some time thinking about this and this behavior could be described if you are mixing us Nominating   and then going and querying our IVsHierarchy or IVsSolution which we might not have published by that time.

ie We nominate a new project reference, you go and query for that reference from our VSProject - it coul

[2017-02-01 22:09] jainaashish commented on #4452
Underlying internal issue is resolved and RPS shows the expected improvement

[2017-02-01 22:09] #4452 closed, assigned to jainaashish

[2017-02-01 22:11] davkean commented on #4465
This is a race - it seems like whatever my box is, it tends to hit these races.

[2017-02-01 22:12] davkean commented on #4465
@alpaix @emgarten My comment above, would that describe what you are doing?

[2017-02-01 22:38] zhili1208 commented on #4214
Tested user's repro project with dotnet rc4-004737, VS 26129, nuget 2252. it works well.

the old migration project doesn't work, nuget can't load that project in VS. Redo the migration with dotnet rc4-004737 will make it work

[2017-02-01 22:38] #4214 closed, assigned to zhili1208

[2017-02-01 22:41] rrelyea commented on #4469
Don't want fix yet...but please dig into this, and let's discuss the situation.

[2017-02-01 22:42] rrelyea commented on #4466
Regression compared to vs2015?
Please dig in a bit, then let's discuss.

[2017-02-01 22:43] piersdb commented on #4467
I also experienced this issue. The fix was to make all the PackageReference version numbers inline, change the <project> directives to the new form and remove all tags that are not in the "new" .csproj format. Essentially convert from the old format to the new format.

[2017-02-01 22:43] rrelyea commented on #4465
can you try to repro on a slow VM? Or other tricks to hit this race conditions...

[2017-02-01 22:45] davkean commented on #4465
Let me figure it out - we might be able to put a hack in place to "delay" the publishing of the tree to IVsHierarchy, etc - which would making it painfully obvious that your expecting our nominate data to match  it.

[2017-02-01 22:58] zhili1208 commented on #4466
this is not regression, nuget shows latest version for each package on left side of manager packages for solution since 3.x. This is not clear for user, rob ask to address this in future-2

[2017-02-01 23:39] mishra14 commented on #4396
Further discussion going on through email.

[2017-02-01 23:44] #4391 closed, assigned to rohit21agrawal

[2017-02-01 23:48] jainaashish commented on #4435
Root cause of this issue is similar to https://github.com/NuGet/Home/issues/4433 and would be fixed with this PR# https://github.com/NuGet/NuGet.Client/pull/1157

There is another scenario which will fault into same issue.
1. Create 2 .net framework class library -> library1, and library2
2. Add a NuGet package to library1 as packages.config
3. Open NuGet manager UI at solution level, and try to a

[2017-02-01 23:50] rrelyea commented on #4435
As we punted #4433 to 4.0.1, we will with this also. thx.

[2017-02-01 23:55] natemcmaster commented on #4396
This was requested before and closed "by design". See https://github.com/dotnet/cli/issues/4764#issuecomment-261331122. Current design is to add the 'prefercliruntime' file to your tool and target netcoreapp1.0.

When we made this choice, though we didn't consider this. Which APIs do you need that are not availabe on netcoreapp1.0 ?

[2017-02-02 00:35] emgarten commented on #4465
@davkean does the project B show up in the powershell console project drop down list? I wonder if NuGet is missing the project add event and not tracking the project in the internal cache of projects in the solution.

[2017-02-02 00:38] davkean commented on #4463
Yeah, let's fix it later - just make sure you coordinate with us.

[2017-02-02 00:46] danroth27 commented on #4396
For example, I had wanted to use the 1.1.0 version of https://www.nuget.org/packages/Microsoft.Extensions.CommandLineUtils for my tool. Technically to stay in a supported configuration this package should be used with .NET Core 1.1. Targeting netcoreapp1.0 actually works, but isn't technically a supported configuration.

[2017-02-02 00:54] emgarten commented on #4463
``$(ProjectAssetsFile)`` will contain the full path that NuGet writes to. This of course won't exist if the project hasn't been restored yet, so it might be hard to rely on this.

[2017-02-02 01:00] natemcmaster commented on #4396
The unfortunate state of .NET Core CLI tools is that you have to do jump through all sorts of hoops to make .NET Core 1.1 stuff work. The simplest solution for this specific case is to just use 'netcoreapp1.0' tfm with 1.1 packages.

[2017-02-02 01:03] danroth27 commented on #4396
Sure, but I don't think we should get too caught up in my particular case. .NET Core will continue to add new features and surface area. You should be able to use those new APIs from a .NET Core tool and be clear in your tool package about that dependency. Doesn't the current behavior prevent that?

[2017-02-02 01:05] emgarten commented on #4467
This has been fixed in the SDK and will be in the next release.

The workaround from @natidea is:
[code]

Please reopen this if the above workaround doesn't help.

[2017-02-02 01:06] natemcmaster commented on #4396
Yup. And that will be addressed in 2.0. But for the 1.0.0 release, CLI tools are required to be 'netcoreapp1.0'.

[2017-02-02 01:10] emgarten opened #4470 "AutoReferenced docs and fwlink"
The Package Manager UI contains a link to ``https://go.microsoft.com/fwlink/?linkid=841238`` when displaying the netcore app package that is referenced under the SDK.

We need
* A doc explaining what this means, why it can't be managed through NuGet and how to update this package
* Update https://go.microsoft.com/fwlink/?linkid=841238 to point to this doc

This link/message is shown in the UI for

[2017-02-02 01:48] joelverhagen commented on #4454
@mrward, how does this relate to https://github.com/NuGet/Home/issues/2662? I put out a PR (https://github.com/NuGet/NuGet.Client/pull/562) for that issue quite a while that never went in due to a rabbit-hole of discussions over email.

[2017-02-02 01:59] joelverhagen commented on #4454
The remaining Xamarin TFMs not in that list are:

[code]

Does this seem right?

[2017-02-02 02:13] jainaashish commented on #4420
After analyzing the crash dump, I can see there are 3 different call stacks which is hard to understand as in how a user can create such a behavior. Also We're not able to repro it again so I really don't understand what would have happened at that time and how it came into this situation.

1. First call stack indicates that on build restore was in progress and Main thread was also waiting in ther

[2017-02-02 02:24] nkolev92 commented on #4204
Potential workaround:

1. Open VS
2. Open PMC prior to opening a solution

[2017-02-02 02:35] davkean commented on #4463
Good to know, we should be respecting that: https://github.com/dotnet/roslyn-project-system/issues/1437

[2017-02-02 02:40] emgarten opened #4471 "Improve UI description for AutoReferenced packages"
The current UI experience for auto referenced packages coming from the SDK is very basic due to localization concerns. This should be improved post 4.0-RTM.

#### Suggested text:
This is an auto referenced package which you cannot manage using the NuGet Package Manager. Learn more about auto referenced packages. (auto referenced is an http link).

[2017-02-02 03:16] davkean commented on #4464
I don't call out assets file above (which is a separate issue and needs some design work), but I do call out the Nuspec - do you clean this up?

[2017-02-02 03:16] rohit21agrawal commented on #4464
Yes

[2017-02-02 03:18] davkean commented on #4464
Okay so this bug is done? Do you have a bug about assets file cleanup? That's seems a lot harder to figure out (because of background restore).

[2017-02-02 05:31] davkean opened #4472 "Add better error handling for the PackTask instead of crashing"
1. File -> New -> Class Library (.NET Standard)
2. Go to Project Properties -> Package
3. Check  Require license acceptance
4. Build

Expected: Single line error telling me the problem
Actual:

[code]

The same applies with any errors like this - we should not "crash" the task.

[2017-02-02 05:35] davkean opened #4473 "Pack task should not be reading the project file"
I noticed that the Pack task is reading the project file - this is a no no for a task:

[code]

Builds can occur on unsaved in-memory projects - reading the project file is not the right thing. You should be passing all the build properties in to the task.

[2017-02-02 05:57] rohit21agrawal commented on #4473
The pack task does not read the project file.. what made you think that is so?

[2017-02-02 06:07] diverdan92 commented on #4420
Thanks @jainaashish - seem like reasonable conclusion to me. What do you propose for next steps? See if it reproduces in the future?

[2017-02-02 06:53] davkean commented on #4473
What does this line do? https://github.com/NuGet/NuGet.Client/blob/77f879be85b3bad14d8d18b6e31c5c1fc19446da/src/NuGet.Core/NuGet.Commands/CommandRunners/PackCommandRunner.cs#L722

[2017-02-02 07:51] davkean opened #4474 "VS 2017 RC3 crashes on using update from Solution-wide package management"
_From @glatzert on February 1, 2017 10:29_

Trying to update packages via the solution-wide nuget package manager, will stop without further notice and keep VS non-responding.

I tried a smaller solution, where the update works, but with a mid-sized one (about 25-30 Projects) the update process will always make VS hang. Single projects will get the update, so if you restart multiple times and try

[2017-02-02 09:18] mrward commented on #4454
@joelverhagen - For #2662 the only impact would be just that we would want the XamarinMacNet target framework to allow PCLs to be installed. That PR is still valid.

MonoMac has never been used and there are no plans to use that target framework. The other target frameworks in that list are not currently being used as far as I am aware. They could be added to the list. Right now only Xamarin.Mac i

[2017-02-02 09:58] Artur-A commented on #2852
Confirm the information from @Saturate .

We also have a large project, about 20 000 files/ 250 MB, and use NuGet (latest stable v3.5.0) to  pack this project for further transferring to Octopus Deploy.

It takes __3.5 - 6 minutes__ to run `nuget pack -NoPackageAnalysis .nuspec` in different Windows machines.

Default zip archiver seems to be a little bit faster, but also takes a lot of time. It w

[2017-02-02 11:18] MosheL commented on #4121
something new?

[2017-02-02 14:06] rohit21agrawal commented on #4473
If Pack has been executed as a msbuild task, all it does is create an object of MSBuildProjectFactory from the packArgs object . PackArgs contains all the inputs that it needs from the csproj file.

If pack has been invoked via nuget.exe pack, then we create a Microsoft.Build.Project object from the project file

[2017-02-02 15:26] dtivel commented on #4390
Does not repro on latest builds with additional private fixes (NuGet/NuGet.Client#1159 and NuGet/NuGet.Client#1148).

[2017-02-02 15:26] #4390 closed, assigned to dtivel

[2017-02-02 15:36] rohit21agrawal commented on #4473
Essentially the difference in code path is in the following two different ProjectFactory delegates being passed around :
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack.Library/PackTaskLogic.cs#L189

vs

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/Commands/PackCommand.cs#L154

[2017-02-02 15:36] #4473 closed, assigned to nobody

[2017-02-02 15:50] dtivel opened #4475 "Rebuild does not create .nupkg if project has multiple TFM's"
## Details about Problem

NuGet product used:  VS UI

NuGet version:  4.0.0.2260 + private fixes for NuGet/NuGet.Client#1148 and NuGet/NuGet.Client#1159.

VS version:  D15REL 26131.01

OS version (i.e. win10 v1607 (14393.321)):  Windows 10 10.0.14393 (14393.rs1_release.161220-1747)

Worked before? If so, with which NuGet version:

**Repro steps:**
1.  Create a new C# Class Library (.NET Standard)

[2017-02-02 15:53] rohit21agrawal opened #4476 "Clean target should clean the assets file generated by restore"
calling msbuild /t:clean on a project should delete the project.assets.json file and *.g.props and *.g.targets file from the obj folder of a project.

[2017-02-02 15:53] rohit21agrawal commented on #4464
Yes closing this bug, and created a new one to track assets file clean up : https://github.com/NuGet/Home/issues/4476

[2017-02-02 15:53] #4464 closed, assigned to nobody

[2017-02-02 15:56] tofutim commented on #4454
matt, is it straight forward to install the fixed nuget binaries into
xamarin studio? or do i have to wait for new version of xamarin studio?

On Wed, Feb 1, 2017 at 5:36 AM, Matt Ward <notifications@github.com> wrote:

[2017-02-02 16:00] dsyme commented on #1510
@yishaigalatzer @jackmott What was the decision about this?

[2017-02-02 16:44] swoog commented on #4316
The same as  1.0.0-preview4-004130

[2017-02-02 16:46] rohit21agrawal commented on #4475
turns out that when msbuild /t:rebuild is called, the condition to detect an innerbuild always evaluates to true:

```<IsInnerBuild Condition="'$(TargetFramework)' != '' AND '$(TargetFrameworks)' != ''">true</IsInnerBuild> ```

@rainersigwald is helping me debug through this from msbuild side

[2017-02-02 16:51] mrward commented on #4454
It should be straight to install fixed NuGet binaries into Xamarin Studio. The more difficult problem is building them. Which version of Xamarin Studio are you using will determine what version of NuGet needs building. You will also need to build the NuGet binaries on Windows. If you let me know what version of Xamarin Studio you are using I can build some patched binaries for you.

[2017-02-02 17:17] enricosada opened #4477 "nuget insidea .net core sdk rc3 removed the pack command"
The  .net core sdk `preview4` had `dotnet nuget pack` to generate nupkg from a nuspec.
In rc3 the command doesnt exists anymore.

The use case is generate a nupkg with content only, or anyway without a built lib/program. That useful for packages like templates, target files for customized csproj, etc.

having a xplat ready `dotnet nuget` is really nice (no boostrapping), just miss the `pack` comma

[2017-02-02 17:19] enricosada commented on #4477
dupe of #4254

[2017-02-02 17:19] #4477 closed, assigned to nobody

[2017-02-02 17:24] enricosada commented on #4254
Same issue there. But if possibile can be done like csproj instead of nuspec? One thing less to learn.

For me is not an issue use a csproj instead of nuspec who can `dotnet pack`, but without doing AND requing the build.
If i use `--no-build` the `dotnet pack` anyway expect the built assemblies so fail.

Maybe we can use the csproj, but the `dotnet pack --no-build --no-assemblies` who doesnt buil

[2017-02-02 17:27] rohit21agrawal commented on #4254
@enricosada you can use ```<IncludeBuildOutput>false</IncludeBuildOutput> ``` to achieve the same.

[2017-02-02 17:28] rohit21agrawal commented on #4254
To see a list of all possible scenarios in dotnet pack, refer to  : https://github.com/NuGet/Home/wiki/Adding-nuget-pack-as-a-msbuild-target

[2017-02-02 17:30] natemcmaster commented on #4254
For a little more context: the scenario I have in mind is that we produce some custom nuget packages with  layouts that are hard to achieve using csproj, or even some packages that don't come from a .NET project at all.

Example: https://github.com/natemcmaster/libsqlite3-package/blob/ba16e2ede7768cf80cfe7a6023109e2c5a59e30e/SQLite.nuspec

[2017-02-02 17:32] enricosada commented on #4254
@natemcmaster using a csproj like

[code]

doesnt work? i can set `<PackagePath>` to specify any directory inside package

[2017-02-02 17:35] joelverhagen opened #4478 "Extend auto-restore + init.ps1 fix to all project types"
I introduced a fix just for CPS-based (xplat) PackageReference projects to help init.ps1 work properly after auto-restore is complete. The fix only works when there is at least one xplat PackageReference project in the solution. We made this selective change to limit risk.

We should extend this to non-xplat PackageReference, and project.json-based solutions. Even packages.config projects? Not sur

[2017-02-02 17:38] natemcmaster commented on #4254
Yes, that would work for that specific example, but why should I need a csproj when I'm just packing things? I'm not compiling C#.

[2017-02-02 17:39] rohit21agrawal commented on #4254
You need a way to import the pack targets, and that is being achieved by having a csproj that does that for you.

[2017-02-02 17:40] enricosada commented on #4254
@natemcmaster
- `dotnet pack --no-build` doesnt compile
- one sintax to lean, the msbuild based csproj/fsproj (used often i think if dotnet pack works) instead of the nuspec

[2017-02-02 17:52] mcliment commented on #2657
I'll add a comment that may help some users that are having troubles with this because my CI server agent is running on a System account.

To diagnose and possibly solve the problem you'll need `psexec.exe` that can be downloaded here: https://live.sysinternals.com

Then, you can execute Powershell as the System account (from an Administrator command line):

`psexec -i -s powershell`

Once on the

[2017-02-02 18:04] enricosada commented on #4254
thx @rohit21agrawal works, using

[code]
and
[code]

generate the nuspec, with no compile and no dependencies (i dont need these)
the `dotnet restore` is unfortunate, but better than nothing atm

[2017-02-02 19:11] rainersigwald commented on #4442
Possible duplicate of https://github.com/NuGet/Home/issues/4307 ?

[2017-02-02 19:13] emgarten commented on #4476
I think just need to register these files under a property to allow them to be cleaned. I'm not sure that we want these to be part of clean however, it would make /t:Clean equivalent to uninstalling the .NET framework for core projects.

[2017-02-02 19:17] jainaashish commented on #4468
Merged 5c1bf318c152e4b2e9b80c2ea543ca46abfb0b0e

[2017-02-02 19:17] #4468 closed, assigned to jainaashish

[2017-02-02 19:29] rrelyea commented on #4426
Do we think this is a dupe of #4308

[2017-02-02 19:30] kraigb commented on #2326
@skofman1 can you verify the changes and close this issue? Thanks.

[2017-02-02 19:42] joelverhagen commented on #4426
Yes, the root cause we diagnosed for #4308 had the very same characteristics as @Jabbersii's [most recent comment](https://github.com/NuGet/Home/issues/4426#issuecomment-276741418).

[2017-02-02 19:44] rrelyea commented on #4396
Sounds like we should consider enabling this post-rtm

[2017-02-02 19:46] rrelyea commented on #4474
Already addressed in RTM?

[2017-02-02 19:52] rrelyea commented on #4442
@jainaashish - can you determine if this is the same issue, please?

[2017-02-02 20:21] emgarten commented on #4412
I think this would make it very confusing for the user when some references flowed transitively and others didn't. For example:

[code]

The only framework assembly here is ``System.Xml.Linq``, it seems like it would be hard to determine why this one flowed to parent projects but the others did not.

If we do try to go the route of flowing these then I think this issue should be tracked on the SDK

[2017-02-02 20:39] emgarten commented on #4436
I spent some time investigating this.

There are two possible ways this method can run:
* Adding the reference to DTE
* Adding the reference to the project file directly and then saving the project

From what I have seen there is little difference in time between the two scenarios for basic projects, so it isn't an obvious case of the save always causing this.

The method used by NuGet to add refe

[2017-02-02 21:06] #4044 closed, assigned to emgarten

[2017-02-02 21:10] jainaashish commented on #4441
Merged

[2017-02-02 21:10] #4441 closed, assigned to jainaashish

[2017-02-02 21:14] jainaashish commented on #4420
@diverdan92 after digging little more into crash dump, and analyzing it, I finally understood what were you doing 😄 and repro this issue locally. Scenario is you start a package install (newtonsoft.json) with packages.config based projects and immediately do F5 to build it as well which will make it hang.

[2017-02-02 21:14] jinujoseph opened #4479 "Multi-TFM build failure : Asset file missing Target"
- Create a .Net standard class library
- Edit the csproj and change TFM to
`<TargetFrameworks>netstandard1.4</TargetFrameworks>`
will be promoted to reload
Build
- Edit the csproj and change to
` <TargetFrameworks>netstandard1.4;netstandard1.0</TargetFrameworks>`
Build

**Expected**
Builds successfully

**Actual**

![image](https://cloud.githubusercontent.com/assets/12449387/22568433/b2760ecc-e948

[2017-02-02 21:15] diverdan92 commented on #4420
@jainaashish that's great news 👍 you can get a consistent repro? Is the fix achievable then?

[2017-02-02 21:19] rrelyea commented on #4469
Yes, by design. Putting in future milestone to consider evolving in future. For now, you'll need both.

[2017-02-02 21:20] rainersigwald commented on #4475
This is a result of how `Rebuild` is implemented for multi-tfm projects, which is a bit confusing. Details in https://github.com/Microsoft/msbuild/issues/1663 and https://github.com/Microsoft/msbuild/issues/1065.

A quick fix could be made in https://github.com/NuGet/NuGet.Client/blob/7676e7ff39faf3234e264b7b344e17e6900f3ead/src/NuGet.Core/NuGet.Build.Tasks.Pack.Library/Pack.targets#L55-L56. Just

[2017-02-02 21:21] rrelyea commented on #4426
marking as dupe and putting validation column then. thx.

[2017-02-02 21:22] rrelyea commented on #4204
Balancing to @zhili1208

[2017-02-02 21:24] rrelyea commented on #4475
@rainersigwald - would prefer to just let your fix carry the day, if possible. any fix we do requires many insertions. can you guys get yours in? when?

[2017-02-02 22:26] jainaashish commented on #4442
Dupe of https://github.com/NuGet/Home/issues/4419 It has been fixed and will be available as part of next visual studio update.

For time being to unblock yourself, you can add below PropertyGroup inside Framework.csproj which will resolve this error:
`<PackageVersion>1.0.0</PackageVersion>`

But note, your solution has other restore errors as well like Dependency project has multipe target framew

[2017-02-02 22:28] davkean opened #4480 "GeneratePackageOnBuild=True: Ability to also specify package folder"
_From @niemyjski on February 2, 2017 21:35_

Would be great if I could specify a path as well... Or maybe if a path is specified packages are just built....

_Copied from original issue: dotnet/roslyn-project-system#1452_

[2017-02-02 22:30] #3878 closed, assigned to rohit21agrawal

[2017-02-02 22:31] rohit21agrawal commented on #4480
@davkean @niemyjski  Doesn't ```<PackageOutputPath> ``` does exactly that?  Or am i misunderstanding the ask here?

[2017-02-02 23:00] niemyjski commented on #4480
Doh, I missed this property I searched everywhere. let me try that... Hitting race condition too https://github.com/dotnet/cli/issues/5563

[2017-02-02 23:04] rohit21agrawal commented on #4480
The race condition has already been fixed in the latest builds of CLI

[2017-02-02 23:04] rainersigwald opened #4481 "When packing a project, the content files inside a folder with PackagePath errors out"
Moving from https://github.com/Microsoft/msbuild/issues/1666 on behalf of @roysanchez

----

When a content file is inside a folder and has the PackagePath specified, the generated nuget spec joins the PackagePath and the current path of the file, resulting in a non existing route that fails when the package is imported.

The error happens in the new VS2017 build. 26127.3

Created this [gist of th

[2017-02-02 23:05] niemyjski commented on #4480
Any ideas on a release of that or a good way to update to latest from a ci using vs2017 rc3 (appveyor)

I think I may need to log another issue for this unless this is fixed :)
![screen shot 2017-02-02 at 5 04 21 pm](https://cloud.githubusercontent.com/assets/1020579/22572427/b55151bc-e969-11e6-95d4-b02f0ab2af24.png)

[2017-02-02 23:15] davkean opened #4482 "Entire chain of Class Library (.NET Standard) dependencies need to be referenced to compile"
_From @praneethw on January 24, 2017 14:2_

In VS2017 the entire chain of Class Library (.NET Standard) dependencies need to be referenced to compile.

For instance in the dependency hierarchy such as below below,
.ASPNET Core **Web API** **->** .Net Standard **Class Library 1** **->** .Net Standard **Class Library 1**

Both .Net Standard **Class Library 1** and .Net Standard **Class Library 1** n

[2017-02-02 23:22] davkean commented on #4473
👍

[2017-02-02 23:33] zhili1208 commented on #4204
the issue here is PMC is reading project.lock.json for running ps script during initialization, if the version of project.lock.json is v1, package type of all packages are null. nuget will throw null ref and user can't use pmc

[2017-02-02 23:47] rrelyea commented on #4308
added new dupe in first entry: 378413

[2017-02-02 23:48] rohit21agrawal commented on #4480
@niemyjski for command line , you can just download the latest SDK + CLI from https://dotnetcli.blob.core.windows.net/dotnet/Sdk/rel-1.0.0/dotnet-dev-win-x64.latest.zip

If you want to try visual studio, you'll have to wait for the first RTW build that is released for preview. However, you can test this out by patching your visual studio installation. Here are the steps:

1) Download the CLI + SDK

[2017-02-02 23:48] #4480 closed, assigned to nobody

[2017-02-02 23:49] rohit21agrawal commented on #4480
Also, here is the spec for the Pack feature which provides a list of all inputs it takes : https://github.com/NuGet/Home/wiki/Adding-nuget-pack-as-a-msbuild-target

[2017-02-02 23:57] niemyjski commented on #4480
Thanks

[2017-02-02 23:57] alpaix commented on #4287
Verified in RC.4 26201.1. Closing...

[2017-02-02 23:57] #4287 closed, assigned to alpaix

[2017-02-02 23:57] niemyjski commented on #4480
Should I log a bug somewhere where I run the build once and it creates two different packages with different version numbers?

[2017-02-02 23:58] rohit21agrawal commented on #4480
Yes please, if it still repros with the latest CLI+SDK or updated Pack SDK in VS.

Would appreciate if you attached a repro project too.

[2017-02-03 00:00] rohit21agrawal commented on #4481
[packagepath4481.zip](https://github.com/NuGet/Home/files/749244/packagepath4481.zip)

@roysanchez @rainersigwald

This has been fixed already,pending insertion in VS. See attached project.
To try it out from command line , use latest CLI+SDK from https://dotnetcli.blob.core.windows.net/dotnet/Sdk/rel-1.0.0/dotnet-dev-win-x64.latest.zip

[2017-02-03 00:00] alpaix opened #4483 "Provide auto-restore notification mechanism"
NuGet partners requested to receive a notification when auto-restore is completed. Number of VS automation flows depends on restore information/packages availability. Design and implement public API for sending such notifications.

[2017-02-03 00:00] #4481 closed, assigned to nobody

[2017-02-03 00:03] rrelyea opened #4484 "Created project using new .NET Core 1.1 template and will not build - problematic copy of browserlink package"
vsfeedback 773358 - repro with rc3

Rob says: Please try to repro with RC3 to confirm, and then try current bits.

I upgraded Visual Studio 2017.
Create a new .NET Core Web Application.
Selected the 1.1 template.

Tried to run project but saw 100s of errors.

Expected to be able to run project created by the template.

Fix was to change the NuGet settings in Visual Studio options to change Default

[2017-02-03 00:07] rohit21agrawal commented on #4481
@roysanchez You can also test this out by patching your VS Installation :

1) Download the CLI + SDK from the link above.
2) Extract it and copy the folder sdk\1.0.0-rc4-004755\Sdks\NuGet.Build.Tasks.Pack
3) Replace the NuGet.Build.Tasks.Pack folder in C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Sdks\NuGet.Build.Tasks.Pack with the folder specified above.

Restart Visual

[2017-02-03 00:10] davkean commented on #4479
Changing the TFM -> TFMs, should have prompted a reload, no?

[2017-02-03 00:42] rrelyea commented on #4455
Waiting for more info from vsfeedback filer.

[2017-02-03 00:47] rrelyea commented on #4465
Any news?

[2017-02-03 01:01] rohit21agrawal commented on #4465
no repro on my side yet. tried with a 1 core 1.7 GB Ram virtual machine on Xlab

[2017-02-03 01:13] emgarten opened #4485 "[Watson] dev11nonfatalerror: DEV11NONFATAL_CLR_EXCEPTION_System.NullReferenceException_80004003_NuGet.PackageManagement.VisualStudio.dll!Unknown"
Internal bug: 378900

[code]

[2017-02-03 01:31] zhili1208 commented on #4484
I can't repro with rc3 and current bits, from the message, auto restore failed and throw "unable to resolve packages", Since 1.1 template need to restore packages from nuget.org, I think bad network cause this.

If I disable nuget.org, I can repro exact the same error message.

[2017-02-03 01:31] rrelyea opened #4486 "Build solution with ASP.NET Core web app, build does not start"
internal bug: 378399

[2017-02-03 01:53] natidea opened #4487 "VS doesn't restore on build/rebuild due to migration of versionprefix in netfx;netstandard project"
_From @krwq on February 2, 2017 17:13_

Repro:
- Clone https://github.com/aspnet/antiforgery and sync (i.e. git reset --hard) to 5cb5178619d9211eee0722d8737b425e2eec1375 (this is currently dev~2 or pre-migration)
- Open sln found in the root
- Migrate project when VS asks you to do so
- Build/Rebuild
- Notice that restore doesn't happen and errors that the project is not restored

VS build: 15.0.0

[2017-02-03 01:53] natidea commented on #4487
_From @333fred on February 2, 2017 18:55_

@srivatsn I've labelled as blocking release, as this seems like a rather bad one.

[2017-02-03 01:53] natidea commented on #4487
_From @333fred on February 2, 2017 18:59_

Another project that demonstrates this issue: https://github.com/exceptionless/Exceptionless.Net/commit/31ef359ae1f778c7c0a39a268323ad1f3c12381a.

[2017-02-03 01:53] natidea commented on #4487
_From @srivatsn on February 2, 2017 19:44_

@natidea can you take a look to see if we're not nominating or if restore is not happening?

[2017-02-03 01:53] natidea commented on #4487
NuGet is being nominated correctly for all the projects, but I do not see any project.assets.json generated. Let me get some logs to determine if there is a NuGet error.
/cc @alpaix @rrelyea

[2017-02-03 01:53] natidea commented on #4487
_From @alpaix on February 3, 2017 0:30_

Duplicate to NuGet/Home#4419. The fix will be inserted into VS soon.
As a temporary workaround add `$(PackageVersion)` property to every .csproj file in the solution
[code]

[2017-02-03 01:53] natidea commented on #4487
Here is the NuGet Exception:

This was introduced by this PR: https://github.com/NuGet/NuGet.Client/pull/1146

Inspecting the project after migration, I see:

| TFM           | PackageVersion |
| ------------- | -------------- |
| net451        | 1.0.0.0        |
| netcoreapp1.1 or netstandard1.3 | 1.2.0 or 1.0.0 |

This is what is causing this exception. I was able to resolve this by removing the

[2017-02-03 01:53] natidea commented on #4487
_From @alpaix on February 3, 2017 0:50_

We need better error handling for parsing errors. It was assumed initially all exceptions from the Nominate API would be caught without crashing VS. This story is also covered in NuGet/Home#3870.

[2017-02-03 01:53] natidea commented on #4487
@alpaix To clarify, this does not crash VS, it just breaks restore. But I think that's what you meant.

I believe the fix to NuGet/Home#4419 only covers the case where the conflict is between 1.0.0.0 and 1.0.0. In the first sample, the entry `<VersionPrefix>1.2.0</VersionPrefix>` is in some projects post migration and this appears to only set PackageVersion for the netcoreapp TFMs. A simple repro

[2017-02-03 01:53] natidea commented on #4487
_From @davkean on February 3, 2017 1:19_

Should we move this over to NuGet (you can use: https://github-issue-mover.appspot.com/)?

[2017-02-03 01:59] #4442 closed, assigned to jainaashish

[2017-02-03 02:05] jainaashish commented on #4420
yeah i can get a consistent repro, not sure about the fix though

[2017-02-03 02:12] emgarten commented on #4420
@jainaashish are you able to tell why the UI thread is waiting?

[2017-02-03 02:25] clairernovotny opened #4488 "PackageRef project opt-in technique"
The issue is that transitive refs with PackageRef isn’t working with P2P refs between CPS and Legacy projects. With PackageRefs, this is supposed to be supported. 

So build the attached project. Try to run Net46ConsoleAppLegacy.exe. It throws due to a missing Newtonsoft.json. Look at the bin\debug directory and you’ll see that the json ref is missing from the output.

By contrast, look at the Net

[2017-02-03 02:26] clairernovotny commented on #4488
This is going to be a very common scenario. People are creating new .NET Standard projects and will add p2p refs to them from their existing "legacy" projects. -- Xamarin, Desktop, etc.

The right binaries won't be in the output directory and people will be confused by this broken behavior.

The only workaround is that you have to add `<RestoreProjectStyle>PackageReference</RestoreProjectStyle>` t

[2017-02-03 03:04] davkean commented on #4488
This user ran into it also: https://github.com/dotnet/sdk/issues/757#issuecomment-277152565

[2017-02-03 03:09] clairernovotny commented on #4488
As another workaround if `RestoreProjectStyle` goes away is to use the following dummy packageref in the legacy csproj:

[code]

[2017-02-03 03:11] dsplaisted commented on #4488
What do you mean if `RestoreProjectStyle` goes away?  How would that happen?

[2017-02-03 03:17] rrelyea commented on #4488
It isn't going away for NetCore projects.
We had to remove reading it for non-cps scenarios for RTM.

[2017-02-03 03:18] dsplaisted commented on #4488
@rrelyea Will there be a way to force a .NET Framework (non-CPS) project into PackageReference mode without actually adding a PackageReference item?

[2017-02-03 03:31] iskiselev commented on #4272
It this error expected in RC.3+26127.3?
I get it on one of my solutions, and package restore doesn't work after it. If it helps, here is my stack trace:
[code]

[2017-02-03 03:32] rrelyea commented on #4272
SDK team fixed partway for RC3, but seems like they didn't fix all the way
SDK team believes they have fixed it all the way now, next update will have it.
Tracked here: https://github.com/dotnet/sdk/issues/745

[2017-02-03 03:52] forhot2000 commented on #3308
I have the same problem in MacOS, and I don't have specified OutputDirectory

my directory structure is:

+ EACPSO.dll
    - EACPSO.dll.nuspec
    + lib
        + 2.0
            - EACPSO.dll

build with command `nuget pack EACPSO.dll.nuspec -verbosity detailed` under directory `EACPSO.dll`

[code]

NuGet Version: 2.8.5.0

----

sorry, this has been solved after version 3.5.0.1996, it is solved af

[2017-02-03 06:53] emgarten opened #4489 "Update links to docs.nuget.org in eula.rtf"
The NuGet VSIX contains links to
* http://docs.nuget.org/docs/start-here/managing-nuget-packages-using-the-dialog
* http://docs.nuget.org/docs/reference/package-restore

These links still work but are currently redirecting to docs.microsoft.com. I would expect the eula to contain links directly to the new doc site.

[2017-02-03 07:13] emgarten opened #4490 "Update links in powershell help"
Update links in powershell help

The url in the install packages.config example is broken due to changes in the json-ld repository.

https://github.com/NuGet/NuGet.Client/blob/3a9e61a52f0e9bc47380031bcddc0a73ff3883ea/src/NuGet.Clients/VsConsole/PowerShellHost/Scripts/NuGet.PackageManagement.PowerShellCmdlets.dll-Help.xml#L181

The help also contains urls to the older docs.nuget.org site.

https://

[2017-02-03 07:45] emgarten opened #4491 "nuget.exe fails to pack NETCore project"
Using nuget.exe 4.0.0 build 2266

### Steps
1. Create a NETstandard class library
1. ``nuget.exe pack <path to csproj>``

### Expected
Package will be created

### Actual
[code]

[2017-02-03 07:54] emgarten opened #4492 "Packages with MinClientVersion 4.0.0 fail to install in Visual Studio 2017"
Visual Studio 2017 contains NuGet 4.0.0 however it is unable to install packages with ``<metadata minClientVersion="4.0.0">``

This is due to the assembly metadata which contains ``4.0.0-rtm-2265``. The MinClientVersion check sees this as a prerelease version of the client that is less than 4.0.0 stable, and rejects the package.

### Steps
1. Create a netstandard class library
1. Add ``<MinClientV

[2017-02-03 09:16] v-nancyj opened #4493 "[Test Failure] The installed package is blocked by project in .NET Core project"
**NuGet Version:** NuGet 4.0.0-rtm-2265
**VS Version:** D15Rel 26202.00
**OS Version:** Windows 10 RS1_Release 14393.821.170127-1801

**Repro Steps:**
1.	New a Visual C#->.NET Core ->Console App (.NET Core) project.
2.	Right-click on the project and click ‘Manage NuGet Packages…’.
3.	Go to ‘Installed’ tab.

**Actual Result:**
The installed package is blocked by project as below screenshot.
![untit

[2017-02-03 09:44] rrelyea commented on #4493
By design for netcoreapp.  Right way to change version is by changing target framework in project properties.

[2017-02-03 09:52] Gunnl commented on #802
18 GB ? ... how about 124 GB ...

[2017-02-03 11:53] rrelyea commented on #4455
The vsfeedback item has a repro and additional details attached as of 3 hours ago.

[2017-02-03 11:55] rrelyea commented on #4487
believe that restore is having a hard time because Version is different for each tfm.
why does migrate put the version into versionprefix? (i think that is ignored in net451 targets?)
/cc @alpaix

[2017-02-03 12:40] ghuntley commented on #4175
+1 I'd like to see this as well. As a maintainer of a 3rd party library (https://github.com/reactiveui/reactiveui/) I've just newed up a new project to find answers to this particular question. Right now it looks like Tizen uses the .NETCore TFM which makes it impossible for us to ship assemblies to target the platform.

Slight off-topic nudge:  RxUI is still waiting for Xamarin.Mac TFM to be reso

[2017-02-03 12:54] rrelyea commented on #4487
Potential Fix:
have migration use version instead of versionprefix when migrating 1.67.0.* from project.json.
or similar...

Workaround:
Change <VersionPrefix>x.y.z</VersionPrefix> in migrated multitargetting project to <Version>x.y.z</Version>

[2017-02-03 13:04] rrelyea commented on #4365
How is fix progressing? Should we balance due to your v3 vsix work today?

[2017-02-03 13:07] rrelyea commented on #4420
@jainaashish - please brainstorm with @emgarten and @dtivel on possible fixes asap

[2017-02-03 13:09] rrelyea commented on #4420
also...perhaps @emgarten can help see how many watson hits we've seen of this, to understand customer impact.

[2017-02-03 13:26] rrelyea commented on #4486
just tried following:
1) clear nuget locals
2) new asp.net core web app project
3) build solution while restore is going on.
expected: restore would finish, then build would start
actual: restore would finish, then build would start
(it was odd that the build output window was up during this time, and looked like nothing was happening).

Is that what people are seeing??? or is build really not sta

[2017-02-03 13:30] #4493 closed, assigned to nobody

[2017-02-03 13:39] rrelyea commented on #4490
Can u explain user actions to see bad urls, so I can understand impact?

I see this:
PM> get-help nuget
TOPIC
    about_NuGet

SHORT DESCRIPTION
    Provides information about NuGet Package Manager commands.

LONG DESCRIPTION
    This topic describes the NuGet Package Manager commands. NuGet is an integrated package
    management tool for adding libraries and tools to .NET projects.

    The foll

[2017-02-03 13:47] rrelyea commented on #4488
Another current workaround:
`<PackageReference Update="PlaceholderToConvinceThisProjectToGetTransitivePackageReferenceFromProjectReferences"/>`

[2017-02-03 13:51] rrelyea commented on #4491
Let's discuss options here.
Seems like in rtm milestone, we should recommend "dotnet pack", right?

[2017-02-03 13:52] rohit21agrawal commented on #4491
We already know this doesn't work. This is planned for 4.0.1

[2017-02-03 13:52] rohit21agrawal commented on #4491
Yes dotnet pack or msbuild /t:pack

[2017-02-03 13:55] rrelyea commented on #4454
@mrward - this is difficult to do in v4, but 4.0.1 would be easier. if you are building custom binaries anyway for xamarin studio use, is 4.0.0 vs 4.0.1 (dev15 vs 15.1) critical for you?

[2017-02-03 14:07] clairernovotny commented on #4488
@rrelyea does that placeholder have to exist? will there be restore errors/failures if it's not there?

[2017-02-03 14:09] rrelyea commented on #4488
I was just trying to find a workaround that involved a
`<PackageReference />`
When I tried it like above, it said you need include, remove or update.
Your workaround is to use include with a package that is a noop.
You can also do remove or update. I chose update as less confusing than remove, and somewhat self documenting.

Clearly, we want a more elegant solution.

[2017-02-03 14:13] clairernovotny commented on #4488
Just wasn't sure with Update what happens if it tries to update a package that doesn't exist.

[2017-02-03 14:14] rrelyea commented on #4488
I think both remove and update are ok to do with package names that don't exist.

[2017-02-03 14:19] rrelyea commented on #4491
let's take a nuget.exe fix for rtm. Get it reviewed, tested and then merge - no shiproom needed.

perhaps something like:

[2017-02-03 14:31] mrward commented on #4454
@rrelyea - No problem with this not being included in 4.0.0. I can build custom binaries for Xamarin Studio if anyone needs them.

[2017-02-03 14:37] rrelyea commented on #4420
Also, why doesn't this occur in VS2015? Do we show a dialog in that case? Etc...

[2017-02-03 15:46] rohit21agrawal commented on #4480
@niemyjski haven't seen the bug about the two different packages with different version numbers being created.. is it fixed for you?

[2017-02-03 15:57] tofutim commented on #4454
Xamarin Studio Business
Version 6.2 (build 1798)
Installation UUID: db3cdb23-e5f7-4e4e-913c-11179c7be9fa
Runtime:
Mono 4.8.0 (mono-4.8.0-branch/084f912) (64-bit)
GTK+ 2.24.23 (Raleigh theme)

Package version: 408000478

I jumped to 6.2 (Beta) from 6.1.5 (Stable) to check if it would work. 6.2
would be sufficient.

On Fri, Feb 3, 2017 at 6:31 AM, Matt Ward <notifications@github.com> wrote:

[2017-02-03 16:58] niemyjski commented on #4480
Yes, still seeing it with the repo above, I need to create the issue https://github.com/exceptionless/Foundatio/tree/feature/dotnet

[2017-02-03 17:00] niemyjski opened #4494 "GeneratePackageOnBuild creates two packages with two different version numbers."
If I turn generate package on build on with the latest 2017 RC3, I get two packages created:

clone https://github.com/exceptionless/Foundatio/tree/feature/dotnet , then turn on generate package on build on and then build the foundatio project from the command line

![screen shot 2017-02-02 at 5 04 21 pm](https://cloud.githubusercontent.com/assets/1020579/22600402/ecda1d58-e9ff-11e6-9396-9242091de

[2017-02-03 17:25] ericwj commented on #4484
Indeed, when I had `sdk: { version: '1.0.0-rc3-004530' }` in `global.json` e.g.

`Unable to resolve 'runtime.any.System.Runtime (>= 4.4.0-beta-24903-02)' for '.NETCoreApp,Version=v1.1 (win-x86)'.`

Then closing the solution, removing the `sdk` section from `global.json` and reopening the solution e.g.

`1>C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Sdks\Microsoft.NET.Sdk\

[2017-02-03 17:25] rohit21agrawal commented on #4480
@niemyjski i was able to repro the issue using your repository, but the issue has since been fixed in the newer internal builds

If you do the steps i outlined in https://github.com/NuGet/Home/issues/4480#issuecomment-277122087 , you will not hit the issue again. Let me know if you still face issues though, i am happy to help.

[2017-02-03 18:22] rrelyea opened #4495 "dotnet new and dotnet build -- can that do the restore for you?"
per kieran's feedback today..

[2017-02-03 18:39] livarcocc commented on #4487
What are the semantic differences between versionprefix and version? if I have version 1.0.0-* and pass --version-suffix to dotnet pack, will the right version be constructed.

We have versionprefix in migration because we must maintain the same semantics as the project.json version property.

Also, while everyone who migrates will hit this, fixing this in migration does not address the root cause

[2017-02-03 19:03] emgarten commented on #4490
@rrelyea these are under the command examples
``get-help install-package``

The impact is minor here, I've opened this issue for future tracking.

[2017-02-03 19:06] rohit21agrawal commented on #4494
This has already been fixed in the latest builds as discussed in bug https://github.com/NuGet/Home/issues/4480

Refer to comment https://github.com/NuGet/Home/issues/4480#issuecomment-277122087 to get the workaround

[2017-02-03 19:06] #4494 closed, assigned to nobody

[2017-02-03 19:06] emgarten commented on #4491
My main concern here is preventing the crash and improving the user experience. If it works or not is a different issue.

[2017-02-03 19:23] rrelyea commented on #4486
@alpaix  - ?

[2017-02-03 19:35] #4455 closed, assigned to rohit21agrawal

[2017-02-03 19:46] blackdwarf commented on #4487
@livarcocc is right. Migration's job is to create a semantically same csproj to project.json. Also, if we migrate it in such a way `--version-suffix` could stop working which would be a breaking change for .NET Core.

[2017-02-03 19:56] alpaix commented on #4486
@rrelyea What's the difference b/w expected and actual?

Empty build output window while waiting for restore operation to complete is "by-design."

[2017-02-03 19:59] NTaylorMullen opened #4496 "Latest d15rel Visual Studio can't restore cross targeting projects"
## Details about Problem

![image](https://cloud.githubusercontent.com/assets/2008729/22605896/b59f16fc-ea06-11e6-85ec-8d29ccbeb1bf.png)

dotnet.exe --version (if appropriate):
From Package Manager Console to see what VS was using
[code]

OS version (i.e. win10 v1607 (14393.321)):
- Win10 Enterprise 14393.693

Worked before? If so, with which NuGet version:
Yes, after updating Visual Studio 2 days

[2017-02-03 20:02] rrelyea commented on #4465
If we can get a repro, we'll bring back to 4.0 rtm

[2017-02-03 20:04] rrelyea commented on #4486
Is it possible for us to say something like, "waiting for restore completion" in that window to have a smoother user experience?

[2017-02-03 20:05] mishra14 opened #4497 "Improve .net core E2E test template to add files to the net core projects"
Currently the new project code just creates a net core project with a csproj. it does not seem to copy any of the source files into the project.

[2017-02-03 20:08] alpaix commented on #4486
If it's blocked by CPS it happens earlier than NuGet is engaged. In this particular scenario CPS was draining critical tasks that could be anything not necessarily restore.

[2017-02-03 20:12] alpaix commented on #4487
The problem is `$(VersionPrefix)` property is ignored by msbuild on desktop frameworks. As a result NuGet receives two different package versions without any indication which one to prefer.

[2017-02-03 20:29] dtivel commented on #4474
@glatzert, do you have a repro solution you can share?

[2017-02-03 22:07] rrelyea commented on #4496
this is a migration problem.
we cannot fix...we need one version defined for a project...and the innerbuilds needs to have the same answer...cause we cannot arbitrarily pick.

Please chime in on: https://github.com/dotnet/cli/issues/5573 -- which is currently not RTM.
you'll know workaround, but can push for migration fix if you think it is necessary.

@livarcocc @Srivatsn @dsplaisted @nguerrera @

[2017-02-03 22:11] livarcocc commented on #4496
This is not a migration issue rob. See @NTaylorMullen's repro above. He reached this issue through a File -> New class library and edited his project to be Multi TFM.

[2017-02-03 22:16] rrelyea commented on #4496
@NTaylorMullen - can you make sure that each TFM evaluates PackageVersion to the same version.
Otherwise, we don't know which version to write into the assets file.

[2017-02-03 22:17] thoemmi commented on #4234
I tried to investigate the issue. My assumption was right, [AssemblyMetadataExtractor.GetMetadata](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/Commands/Pack/AssemblyMetadataExtractor.cs#L103-L143) throws an `InvalidDataException` if the `AssemblyInformationalVersion` is not a valid NuGet version.

However, this information never arrives at the user. Because t

[2017-02-03 22:40] Eilon commented on #4496
@rrelyea can you please mark as "blocking partner" (however that's done in this repo) so that it shows up in the queries we use for Tools Daily Standup?

Rob: done.

[2017-02-03 22:48] nkolev92 commented on #4196
Reverted NuGet change in:
https://github.com/NuGet/NuGet.Client/pull/1169
NuGet CI changes have been reverted as well.

[2017-02-03 22:51] nguerrera commented on #4496
OK, did some digging. Microsoft.WinFX.targets on net451 is setting Version to 1.0.0.0 where the SDK would have defaulted it to 1.0.0. This is why it differs between target frameworks. :(

[2017-02-03 22:53] eerhardt commented on #4496
Sure would be nice if only the MSBuild logic that your project needed was loaded...

[2017-02-03 22:54] nguerrera commented on #4496
We can probably find a workaround in the SDK.

I am curious why msbuild /t:restore works but restore in IDE doesn't.

[2017-02-03 22:56] natemcmaster opened #4498 "Restore warnings name the solution file, not the project, that causes them"
Using dotnet-CLI 1.0.0-rc4-004757

When restoring a solution on command line, it is difficult to know which project is producing downgrade warnings. MSBuild shows the name of the solution, not the csproj.

Example:
https://github.com/aspnet/Entropy has dozens of projects. Restoring produces this warning:

It's impossible to tell from command output which project is causing this, and with a large s

[2017-02-03 22:56] Eilon commented on #4496
@rrelyea BTW to be clear, there are no "explicit" package refs at all, just the implied standard library ref that becomes available based on the TFM(s) in the project.

[2017-02-03 23:01] nguerrera commented on #4496
This would also cause VersionPrefix not to work on net4x. A fix in the SDK would be to move all Version defaulting to BeforeCommon/BeforeCommonCrossTargeting. The WinFX defaulting checks if it's not already set and it would then come later.

[2017-02-03 23:09] #4492 closed, assigned to emgarten

[2017-02-03 23:21] rrelyea commented on #4196
Moving to 4.0.1 per decisions.

[2017-02-03 23:59] #4308 closed, assigned to joelverhagen

[2017-02-03 23:59] #4426 closed, assigned to joelverhagen

[2017-02-04 00:16] ericwj commented on #4484
I found `dotnet restore` will somehow pull in 4.4.* versions of packages - as evidenced above.

This appears to be due to the `<PackageReference Include="Microsoft.VisualStudio.Web.BrowserLink" Version="1.1.0" />` in the project template. Commenting this reference will yield no search results for `4.4` in `obj\project.assets.json`. Uncommenting it and restoring will re-introduce 4.4.* versions in

[2017-02-04 00:43] rrelyea commented on #4420
@jainaashish & @emgarten  - update on this? what do you know? how likely is fix?

[2017-02-04 01:00] zhili1208 commented on #4484
@ericwj what's your dotnet cli version? did you create your project from Visual studio or dotnet cli?

[2017-02-04 01:05] rrelyea commented on #4496
SDK plans a clever fix: https://github.com/dotnet/sdk/issues/814

[2017-02-04 01:05] rrelyea commented on #4487
SDK plans a clever fix: dotnet/sdk#814

[2017-02-04 02:49] mishra14 opened #4499 "PowerShell Errors passed through PMC are not localized"
Currently an error coming from powershell does not seem to be localized. The errors generated by PMC itself are localized.

From PowerShell -

[code]

From PMC -

[code]

[2017-02-04 03:14] mishra14 opened #4500 "Restoring NuGet Packages log on PMC not localized"
Language - Chinese

[code]

severity - medium

[2017-02-04 06:12] emgarten opened #4501 "[Watson] clr20r3: CLR_EXCEPTION_System.Runtime.InteropServices.COMException_8004c738_NuGet.PackageManagement.VisualStudio.dll!Unknown"
Internal issue: 379353

[2017-02-04 07:49] emgarten commented on #4501
This looks like the same issue as: https://github.com/NuGet/Home/issues/4326

[2017-02-04 07:49] #4501 closed, assigned to nobody

[2017-02-04 11:57] v-luzh opened #4502 "[Test Failure][Accessibility] Package source drop down and settings button truncated when selecting ‘Microsoft Visual Studio Offline Packages’ in PM UI"
**NuGet Version:** Dev 2265 VS15 Localized NuGet Client Vsix
**VS Version:** D15Rel 26203.00 (select all languages and workloads)
**OS Version:** Windows 10 RS1_Release 14393.821.170127-1801

**Repro Steps:**
1.  Select **CSY** through ‘Tools -> Options -> International Settings’.
2.  Create a new C# Console Application via VS.
3.  Right-click on the project and click ‘Manage NuGet Packages…’.
4.

[2017-02-04 11:59] v-luzh opened #4503 "[Test Failure][Accessibility] String ‘Default package management format:’ is covered by its drop down in the Package Manager Settings window"
**NuGet Version:** Dev 2265 VS15 Localized NuGet Client Vsix
**VS Version:** D15Rel 26203.00 (select all languages and workloads)
**OS Version:** Windows 10 RS1_Release 14393.821.170127-1801

**Repro Steps:**
1.  Select **PTB** through ‘Tools -> Options -> International Settings’.
2.  Create a new C# Console Application via VS.
3.  Right-click on the project and click ‘Manage NuGet Packages…’.
4.

[2017-02-04 12:01] v-luzh opened #4504 "[Test Failure][Accessibility] String ‘Prerelease’ under package button is covered by its package description in PM UI"
**NuGet Version:** Dev 2265 VS15 Localized NuGet Client Vsix
**VS Version:** D15Rel 26203.00 (select all languages and workloads)
**OS Version:** Windows 10 RS1_Release 14393.821.170127-1801

**Repro Steps:**
1.  Select RUS through ‘Tools -> Options -> International Settings’.
2.  Create a new **C# .NET Core Unit Test Project** via VS.
3.  Right-click on the project and click ‘Manage NuGet Package

[2017-02-04 12:03] v-luzh opened #4505 "[Test Failure][Localization] Restore strings are not localized in Output window"
**NuGet Version:** Dev 2265 VS15 Localized NuGet Client Vsix
**VS Version:** D15Rel 26203.00 (select all languages and workloads)
**OS Version:** Windows 10 RS1_Release 14393.821.170127-1801

**Repro Steps:**
1.  Select PTB through ‘Tools -> Options -> International Settings’.
2.  Create a new C# Console Application via VS.
3.  Right-click the solution and click **‘Restore NuGet Packages’**.
4.  L

[2017-02-04 12:06] v-luzh opened #4506 "[Test Failure][Localization][CHS]String ‘Skip applying binding redirects’ is localized twice in the Package Manager Settings window"
**NuGet Version:** Dev 2265 VS15 Localized NuGet Client Vsix
**VS Version:** D15Rel 26203.00 (select all languages and workloads)
**OS Version:** Windows 10 RS1_Release 14393.821.170127-1801

**Repro Steps:**
1.  Select CHS through ‘Tools -> Options -> International Settings’.
2.  Create a new C# Console Application via VS.
3.  Right-click on the project and click ‘Manage NuGet Packages…’.
4.  Cli

[2017-02-04 12:31] v-luzh commented on #3531
This issue is fixed on D15Rel 26203.00 (all languages) + Dev 2265 VS15 Localized NuGet Client Vsix as below screenshot.
![fixedonchs](https://cloud.githubusercontent.com/assets/20632625/22618499/d27b3a72-eb18-11e6-8e1d-2297403f21f9.png)

[2017-02-04 13:10] NickCraver commented on #4303
Is there a workaround for this at the moment?

[2017-02-04 15:30] zmckinnon commented on #4303
I am having the same issue on my CI build.  Looking for a workaround as well.

[2017-02-04 15:44] zmckinnon commented on #4303
I am using a VS build step.

Changing:

[code]

to

[code]

in devenv.exe.config SEEMS to have made it work.

[2017-02-04 15:48] ericwj commented on #4484
I created it from Visual Studio 26127.3, thats the Feb 1 release. `dotnet --version` gives me `1.0.0-rc3-004530`.

Installing that (and the Jan 27 update just before that) actually got me a clean Visual Studio with nothing but the defaults installed. And installation of the update *and* using VS to restore and build, didn't populate my local package cache. Web Tools got installed once I opened the

[2017-02-04 16:32] niemyjski commented on #4381
Can we get a new RC out soon. There are so many issues I've hit this week it's not even funny. The good news is most if not all of them have been fixed. We really need a new rc this coming week.

[2017-02-04 16:42] zmckinnon commented on #4303
SEEMS like it only failed the first time.  It worked after the first failure. Weird.

When I did a repository clean, it failed again (but again only once).

[2017-02-04 22:49] rrelyea commented on #4500
dupe of #4505

[2017-02-04 22:49] #4500 closed, assigned to nobody

[2017-02-04 22:50] rrelyea commented on #4505
see output in #4500 -- sometimes it outputs the content localized. Other times it doesn't.

[2017-02-05 03:23] takinosaji opened #4507 "NuGet.CommandLine.CommandLineException: Failed to load msbuild Toolset"
NuGet product used (NuGet.exe):

NuGet version (3.5.0 / 4.0.0-rc2):

OS version (win10):

Problem appeared for restoring of packages with nuget in Teamcity after uninstalling of Visual Studio 2015 and installing of VS2017 RC with new MSBuild. The problem is that nuget is intended to use MSbuild 14 even if i set version 15 via **-msbuildversion** parameter.

Error log:
ystem.AggregateException: One

[2017-02-05 08:16] attilah opened #4508 "Version is not honored between p2p refs during 'pack' and 1.0.0 gets embedded"
## Details about Problem

If you've ProjectA and ProjectB where ProjectB refs ProjectA with a P2P ref and you're specifying Version on the commandline, then this will be in the ProjectB.nuspec:

[code]

The version in nupkg filename and within nuspec files for the packages themselves are good!

[2017-02-05 08:31] #4365 closed, assigned to nkolev92

[2017-02-05 11:42] brianpos commented on #3113
+1

[2017-02-05 17:08] AndreyAkinshin opened #4509 "Troubles with GetContentFiles on Linux and MacOS (NuGet2)"
In the [NuGet2](https://github.com/NuGet/NuGet2) source code, there are many places where `Path.DirectorySeparatorChar` is used. Examples:
[code]
[code]
However, the actual nuspec file paths often use Windows path separator `\`. So, you can't use `Path.DirectorySeparatorChar` in the `file.Path.StartsWith` expressions, it doesn't work on Linux and MacOS.

I found 53 usages of `Path.DirectorySeparat

[2017-02-05 18:37] acomarce opened #4510 "1.psmdcp file date modified year 2038"
When running NuGet pack with a nuspec file 1.psmdcp is created with a modified date of Jan 23 2038, and when uploading to the NuGet webiste the following error ocures: "The package is invalid and cannot be uploaded. One or more files, such as '.rels' have a date in the future."

Packet size is 13MB with some libs inside, when libs removed 50KB error does not occur.

NuGet product used: NuGet for u

[2017-02-05 19:00] rrelyea commented on #4486
Moved internal bug to CPS path and following up with appropriate folks to see if they can safely fix in 15.0 timeframe.

[2017-02-05 19:21] rrelyea commented on #2931
This was done a while ago.

[2017-02-05 19:21] #2931 closed, assigned to rrelyea

[2017-02-05 19:41] mishra14 commented on #4495
I feel build should trigger restore! Make user experience more seamless.

[2017-02-06 01:32] emgarten commented on #4510
@acomarce use the latest version of NuGet from http://dist.nuget.org/index.html

[2017-02-06 01:36] emgarten commented on #4509
NuGet2 is legacy at this point, and it was never fully updated to work cross platform.

The newer NuGet.Frameworks and NuGet.Packaging libraries are tested on both Linux and OSX, try using those to read content files from a nupkg.

[2017-02-06 05:20] AArnott opened #4511 "netstandard library packaged twice, and/or fails with access violation"
Build: d15rel 26203.0

When I build a new netstandard library with `<GeneratePackageOnBuild>True</GeneratePackageOnBuild>` set, building produces the message that it packed twice when I just Build Solution in VS.

[code]

[Detailed logs from command line, where the duplicate pack steps collided with each other in an access violation](https://github.com/NuGet/Home/files/753695/msbuild.zip). I could

[2017-02-06 05:32] AArnott commented on #4511
Ooh, after removing the `GeneratePackageOnBuild` property from the project, I was able to reproduce the twice pack from the command line when using the `/t:pack` parameter:

`msbuild /flp:verbosity=detailed /fl  /t:pack`
[Detailed build log](https://github.com/NuGet/Home/files/753703/msbuild.zip)

[2017-02-06 06:21] AndreyAkinshin commented on #4509
@emgarten, yeah, I know that. But we have a huge amount of legacy code too. And we use NuGet.Client 4.x for new code. However, it's hard to update all our codebase to the new API at once.

[2017-02-06 07:29] acomarce commented on #4510
@emgarten Which one works on Ubuntu? and ideally one that I don't have to compile from source as I got this version from the repo precompiled :)

[2017-02-06 08:50] glatzert commented on #4474
I could give you my solution, but we refrained from moving to VS'17, since there have been to much Problems with that.
If you provide me an email or OneDrive, i'd happily drop of a zip-file.

[2017-02-06 10:29] maartenba opened #4512 "Intermittent package restore failures depending on client version"
NuGet.exe seems to have trouble installing a package from `dotnet.myget.org`. The issue occurs with NuGet 3.5. The 4.0 nightlies always install the package correctly.

Is there any way to find out the root cause of this issue?

Affected: NuGet version: `3.5`
Not affected: NuGet version: `4.x`
Not affected: `Visual Studio 2015 Update 3 with latest NuGet 3.5`

## Detailed repro steps so we can see t

[2017-02-06 10:30] maartenba commented on #4448
Fix on MyGet has been deployed.

We did observe a few things (@rrelyea / @emgarten):

* The client handles paged data much more comfortably in terms of memory usage. That's a clear win!

* The client **does** seem to fetch all pages for all dependencies during the dependency resolution stage, which for the above **still means there's roughly 200 MB of package metadata going over the wire**. Could

[2017-02-06 15:16] dtivel commented on #4474
@glatzert, before I see your solution do I need to sign an NDA?

It's best if you remove any IP or sensitive information before sharing.  You can send a sanitized repro solution to dtivel @ microsoft.com.

[2017-02-06 15:31] glatzert commented on #4474
I sent you an eMail.
NDA is not neccessary - feel free let me learn something about my Project, if there are smelly things :)

[2017-02-06 17:33] emgarten opened #4513 "Floating version ranges do not include numeric only labels"
Floating version ranges do not include numeric only labels

#### Steps
1. Create a package 1.0.0-100
1. Reference the package from a project using 1.0.0-*

#### Result
The package is not referenced because in SemVer the resulting min version of ``1.0.0--`` is greater than ``1.0.0-100``. Numeric labels come before non-numeric.

The correct min version would be ``1.0.0-0`` however writing this out t

[2017-02-06 17:43] emgarten commented on #4512
There haven't been a lot of changes in this area. But there has been some general clean up around the http calls in 4.0.

@joelverhagen do you know of any changes that may have fixed this?  I'm wondering if it could still exist in 4.0.

[2017-02-06 17:50] joelverhagen commented on #4512
I can't think of a particular change that would fix this. @maartenba, could you provide a Fiddler trace and a full `-Verbosity detailed` log of the failure? The `log.txt` you provided above cuts off at:

[code]

[2017-02-06 18:04] joechiu-msft commented on #4401
I am in similar situation - a solution mix with asp.net core and "legacy" non-.net core msbuild projects, both use nuget packages:
1. an asp.net core project targeting full 4.6 fx - this one uses package ref inside csproj
2. a sfproj (service fabric project) that creates deployment package around bits from #1 - this one uses packages.config.

Is there ways that I can restore nuget packages for bot

[2017-02-06 18:06] rrelyea commented on #4401
NuGet.exe 4.0rc4 will be posted up to nuget.org/downloads very soon.

[2017-02-06 18:31] rohit21agrawal commented on #4511
this has been fixed now via https://github.com/NuGet/NuGet.Client/pull/1148

[2017-02-06 18:31] #4511 closed, assigned to nobody

[2017-02-06 18:32] rohit21agrawal commented on #4508
details about what version of nuget you are using would be appreciated along with a repro project

[2017-02-06 18:42] maartenba commented on #4512
Which is where the exception is thrown :-( Fun fact: if Fiddler sits in between, I'm unable to reproduce this issue (suspecting @emgarten's comment on HTTP-call clean-up in 4.x is probably what fixed this).

Giving up on trying to capure Fiddler (tried 14 times, no repro, dropped Fiddler, repo after 2 tries).

For reference, a (succesful) Fiddler trace [is available here](https://stagingmyget.blob

[2017-02-06 18:44] joelverhagen commented on #4512
Could a Wireshark capture be made against an HTTP (not HTTPS) package source? That is a less invasive form of network monitoring.

[2017-02-06 18:53] emgarten commented on #4510
@acomarce take a look at using ``dotnet.exe pack`` using the latest build for ubuntu 16.04 from https://github.com/dotnet/cli

[2017-02-06 18:56] zhili1208 commented on #4484
what's your package source? could you share the package source list? Looks like  the dependency packages of  Microsoft.VisualStudio.Web.BrowserLink are resolved to 4.4 on your machine, but on my machine, they are always resolved to 4.3.

Since 4.4-beta packages are not on nuget.org, I'm wondering how nuget to get those packages on your machine?

Also Please check C:\Program Files (x86)\Microsoft S

[2017-02-06 18:57] attilah commented on #4508
I tried with VS2017 RC3 bundled tools, but now on my work machine I've:

These:

NuGet Command Line
4.0.0.0

1.0.0-rc4-004755

For some reason I'm not able to attach the repro zip to this issue, sending it you internally in mail.

I get this message: "We don’t support that file type.  Choose Files Try again with a PNG, GIF, JPG, DOCX, PPTX, XLSX, TXT, PDF, or ZIP."

[2017-02-06 19:02] AArnott commented on #4511
@rohit21agrawal which build of d15rel can I expect this fix to be in?

[2017-02-06 19:04] rrelyea commented on #4508
Believe this is a dupe of this issue: #3901
That issue is already fixed...and will show up in the next update.

[2017-02-06 19:04] rohit21agrawal commented on #4511
@AArnott sending you details via internal email

[2017-02-06 19:06] rohit21agrawal commented on #4508
it should not happen for command line scenarios in the first place..i'll try using both VS and command-line and see where we are at

[2017-02-06 19:10] livarcocc opened #4514 "nuget restore should add pack files to the compile/runtime sections of assets.json"
Have a project A and a Project B.

Project A has a ProjectReference to Project B.

And ProjectB has something like this in its csproj:

[code]

The assemblies under native won't show up in the compile/runtime sections of A's ProjectReference to B in the assets.json file. While, if A referenced B as a nupkg, it would. This forces people to reference projects as packages when they could just referen

[2017-02-06 19:15] mishra14 commented on #4492
validated with NuGet 2275

[2017-02-06 19:16] rrelyea commented on #4514
@emgarten - please investigate and understand impact if we take for 4.0 or 4.0.1.

[2017-02-06 19:38] zhili1208 commented on #4326
validated it with VS 26205 and nugget 4.0.0.2275

[2017-02-06 19:38] #4326 closed, assigned to zhili1208

[2017-02-06 19:46] emgarten commented on #4514
We discussed this for restore/pack, it is a major feature that we decided not to take for RTM due to the size.

DNX supported this by defining all additional files in project.json under pack includes. Restore then added these into the lock file.

With MSBuild finding all assets is more involved than just reading a static json file.

To make this work we will need:
1. Restore runs the pack target a

[2017-02-06 19:51] twsouthwick opened #4515 "NuGet errors when compiling on command line with UWP projects and PackageReferences"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): msbuild

NuGet version (x.x.x.xxx): 4.0 (msbuild v 15.1.523.56541)

VS version (if appropriate): 26127.3

OS version (i.e. win10 v1607 (14393.321)): 14393.693

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

I've switched my UWP projec

[2017-02-06 19:57] emgarten commented on #4515
@twsouthwick does it make a difference if you restore with Visual Studio vs the command line?

[2017-02-06 20:07] zhili1208 commented on #4224
validated it with VS 26205 and nugget 4.0.0.2275

[2017-02-06 20:09] maartenba commented on #4512
Have been unable to copy this to an HTTP repo and repro 😢

Wondering: have there been changes to SSL settings that could be the reason for v4 working? (e.g. in ServicePointManager)

And from a final test for the day: `-DisableParallelProcessing` seems to also help in succesfully restoring (but is very slow due to # of requests).

[2017-02-06 20:19] rrelyea commented on #4215
Can you touch base with the customer to ensure that this is fixed in latest build (when they can get it).

[2017-02-06 20:20] rrelyea commented on #4484
I believe there were problems with BrowserLink package. Please check with Bala on web tools team to see. Confirm that it will be fixed in next public release.

[2017-02-06 20:25] emgarten commented on #4371
@alpaix any updates on this issue?  This has a fairly high hit count. Not clear if all 43 hits are from NuGet however.

[2017-02-06 20:31] #4368 closed, assigned to nobody

[2017-02-06 20:33] #4370 closed, assigned to alpaix

[2017-02-06 20:34] watashiSHUN opened #4516 "hand copied msbuild v15 to a directory, nuget couldn't find it."
## Details about Problem
When the path to my msbuild15 is `C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\Msbuild.exe` `nuget restore` is able to locate it, but when I moved it to `C:\Program Files (x86)\MSBuild\15.0\Bin\Msbuild.exe`, `nuget restore` went for msbuild14 instead (which is under `C:\Program Files (x86)\MSBuild\14.0\Bin\Msbuild.exe` )

NuGet product us

[2017-02-06 21:15] emgarten commented on #4372
@rrelyea should ClosedAsDuplicate be removed here? Or where is the issue tracking this?

[2017-02-06 21:17] emgarten commented on #4372
46 hits on this overall. I don't see any hits in RC.3 however.

[2017-02-06 21:21] emgarten commented on #4225
Is this issue related to https://github.com/NuGet/Home/issues/4420? They both have hangs involving on build restore.

[2017-02-06 22:00] emgarten commented on #4516
What steps did you take to move this? Did you cut/paste the folder, or did you use the installer?

[2017-02-06 22:01] natemcmaster commented on #4316
@emgarten I ran into this as well using today's nightly build of CLI, 1.0.0-rc4-004769 on aspnet/Configuration.

Repro: unzip and run "dotnet restore" in the solution directory.

https://github.com/aspnet/Configuration/tree/2519ffc7fc1071befeae021551c6203126e117d3

Source: [Configuration-2519ffc7fc1071befeae021551c6203126e117d3.zip](https://github.com/NuGet/Home/files/755965/Configuration-2519ffc7

[2017-02-06 22:08] zhili1208 commented on #4243
validated with dotnet cli 1.0.0-rc4-004769

[2017-02-06 22:08] #4243 closed, assigned to zhili1208

[2017-02-06 22:10] natemcmaster commented on #4316
Also, WriteRestoreGraphTask fails with the same error:
[code]

[2017-02-06 22:16] mishra14 commented on #4505
The problem is [here](https://github.com/NuGet/NuGet.Client/blob/e856d8605f37606a83fad115b20d7f58445dd071/src/NuGet.Clients/NuGet.SolutionRestoreManager/RestoreOperationLogger.cs#L324).

We have not called used the `CultureInfo.CurrentCulture` while logging. And it is spread through out the file.
This was added by @alpaix with the work on Solution Restore Manager UI.

[2017-02-06 22:17] watashiSHUN commented on #4516
cut and paste

[2017-02-06 22:26] natemcmaster commented on #4316
I ran a structured logger and found what causes this line of code to throw.
Microsoft.Extensions.Configuration.Json.csproj ends up in RestoreGraphItems multiple times as 'Type=ProjectSpec', once with TargetFrameworks = net451;netstandard1.3 and again with TargetFrameworks = netstandard1.1.

You can view this with https://github.com/KirillOsenkov/MSBuildStructuredLog.
 Log: [restore.buildlog.txt](h

[2017-02-06 22:41] mishra14 commented on #4506
The translated string seems to contain two copies of the translation.

[2017-02-06 22:46] rrelyea commented on #4316
@emgarten - if we have a repro now, would love to know what the problem is...what the impact is...and what the fix would be.

[2017-02-06 22:48] rrelyea commented on #4316
Marking Shiproom Required, as Nate/Eilon think this is blocking -- seeing errors migrating aspnet/configuration.

[2017-02-06 22:59] emgarten commented on #4316
@rrelyea taking a look now.

[2017-02-06 23:11] rrelyea commented on #4371
Probably not fixed. Need to investigate. 34 hits in RC2. 1 hit in RC3.

[2017-02-06 23:36] twsouthwick commented on #4515
If I restore with `msbuild /t:restore` I see the same error in VS. If I clean my repo and build straight from VS, things restore fine and compile as expected.

[2017-02-06 23:57] emgarten commented on #4515
@twsouthwick can you diff the project.assets.json files between the command line restore and the Visual Studio output from restore? Is there any difference?

[2017-02-07 00:20] rrelyea commented on #4215
Actually, rereading the repro steps, i think we need to contact the user and investigate this issue. Sounds like VS2015 fixes the lock file, or downloads the file ... but vs 2017 couldn't. What broke?

[2017-02-07 00:41] nkolev92 commented on #4215
The "MSB1008 Only one project can be specified" error indicated some potential MSBuild trouble.
This might be a possible dup.
https://developercommunity.visualstudio.com/content/problem/2703/msbuild-only-one-project-can-be-specified.html

[2017-02-07 00:47] davkean commented on #4225
I'm still hitting this on 26205.0.d15rel. In particular, we've registered a critical task here: http://index/?query=NuGetRestorer&rightProject=Microsoft.VisualStudio.ProjectSystem.Managed.VS&file=ProjectSystem%5CVS%5CNuGet%5CNuGetRestorer.cs&line=135 that CPS is waiting to compete before it tells the Solution Build manager that build can progress.

I have the dump, but I cannot see any relevant Nu

[2017-02-07 00:49] zhili1208 commented on #4484
@ericwj According to joe on web tools team,
that’s a known issue. There was one build of the BrowserLink package that had bad references, and that’s apparently the one that shipped with the .NET Core 1.1 CLI installer. However, in RC.3, we removed BrowserLink from the Core 1.1 template, so it shouldn’t be an issue with new projects.

The BrowserLink 1.1 package on Nuget.org has the correct referen

[2017-02-07 03:14] joechiu-msft commented on #4401
Looking at this: https://blogs.msdn.microsoft.com/dotnet/2017/01/30/announcing-net-core-net-native-and-nuget-updates-in-vs-2017-rc/

It says "NuGet – .NET Framework, UWP, .NET Core and other .NET projects can now use PackageReference instead of packages.config for NuGet dependencies." I am now confused on whether the scenario is supported or not.

So - is this true that this (PackageReference in l

[2017-02-07 03:24] twsouthwick commented on #4515
Hmmm... I'm now getting a different error. I just upgraded to 26205 d15rel and am seeing the following:

- I see this error when restoring from commandline
- If I clear the repo and have VS restore, then no project.asset.json files are created

[2017-02-07 03:47] emgarten commented on #4316
I am able to repro this with @natemcmaster's https://github.com/aspnet/Configuration/tree/2519ffc7fc1071befeae021551c6203126e117d3

The repro works both on both
* desktop MSBuild - VS 2017 2/05 d15rel
* dotnet CLI MSBuild

The project Microsoft.Extensions.Configuration.csproj generates a ProjectSpec twice, both are the same from what I see, but they have a different randomly generated guid for the

[2017-02-07 03:54] emgarten commented on #4515
@twsouthwick try right clicking on the solution and selecting Restore NuGet Packages. Also make sure you have automatic package restore enabled under the Visual Studio NuGet options.

[2017-02-07 04:06] emgarten opened #4517 "Restore task should support ICancelableTask"
Restore task should support ``ICancelableTask`` so that it can be canceled without killing the msbuild process manually during long downloads.

### Steps
1. Start ``msbuild /t:Restore``
1. Press ``ctrl+c``

### Expected
Restore stops early

### Actual
Restore does not stop, MSBuild prints out messages saying it is still waiting from time to time.

`` C:\Program Files (x86)\Microsoft Visual Studio\

[2017-02-07 04:34] twsouthwick commented on #4515
Ok - that seemed to work once I selected automatc package restore enabled; if that was disabled and I right click on the solution and select Restore NuGet packages, it does not work.

I've created a repo here that has the project.assets.json files: https://github.com/twsouthwick/NugetRestoreUwp. The first commit is adding the files from VS, the second commit is when I just restore from the command

[2017-02-07 04:36] emgarten commented on #4515
I tried this on VS 15.0.0-RC4+26205.0.d15rel and was unable to repro it using the develop branch.

Restore and build from the command line showed no errors. Restore and build in VS were also without errors.

``msbuild /t:restore /p:Platform=x86`` does cause an error for me, it looks that is the same issue as https://github.com/NuGet/Home/issues/4316

[2017-02-07 04:39] twsouthwick commented on #4515
Which command are you using that works? I'm running `msbuild /t:restore;build`

That linked issue is one I filed earlier for a different project - hadn't realized they were similar :)

[2017-02-07 04:50] emgarten commented on #4515
I'm able to repro it now. It isn't clear what the build task is expecting there.

To get the repro on the command line a clean is needed before building. On a rebuild it showed up.

[2017-02-07 06:07] maxtoroq commented on #3830
Originally, `<references>` (explicit assembly references) worked just like manually adding an assembly reference in Visual Studio, e.g. if you reference foo.dll which depends on bar.dll then bar.dll also gets copied, but only foo.dll is shown in the references list and in the project file. This works for all project types, even ASP.NET (with `.refresh` files).

With the new PackageReference elemen

[2017-02-07 06:21] davidfowl commented on #3830
@maxtoroq the behavior should be the same.

@emgarten Doesn't the list of compile assemblies get filtered during restore based on the references list? The used to be.

[2017-02-07 07:15] emgarten commented on #3830
That's correct. ``<references>`` gives you a subset of the selected lib folder.

https://docs.microsoft.com/en-us/nuget/schema/nuspec#specifying-explicit-assembly-references

@maxtoroq you may be thinking of ``<frameworkAssemblies>`` which NuGet reads from the nuspec and passes directly to Visual Studio to add.  The intent of this was to add refererences to the framework, not *.dlls directly, but

[2017-02-07 09:29] KrupaMoliya opened #4518 "Nested references regression in 3.5 with nuget.exe Restore?"
## Details about Problem
NuGet version (x.x.x.xxx):
3.5.1520,
3.5.1938,
3.5.1996

**Worked before? If so, with which NuGet version:**
Yes working in 3.4.4-rtm-1321

**Issue in Restore command at 3rd level dependency.**
I have 3 Project, all are in same solution.
"ClassLibrary1" Which is has reference of LightInject.
"ClassLibrary2" Which is has reference of ClassLibrary1(nuget package) & Newtonsof

[2017-02-07 09:58] v-luzh opened #4519 "[Test Failure][Accessibility][RUS] Several drop down boxes and strings are truncated in the right-panel of PM UI"
**NuGet Version:** Dev 2265 VS15 Localized NuGet Client Vsix
**VS Version:** D15Rel 26205.00 (select all languages and workloads)
**OS Version:** Windows 10 RS1_Release 14393.821.170127-1801

**Repro Steps:**
1.  Select **RUS** through ‘Tools -> Options -> International Settings’.
2.  Restart VS, and create a new C# Class Library (.NET Framework) via VS.
3.  Right-click on the project and click ‘M

[2017-02-07 11:31] bhawnablogs opened #4520 "Package Restore for Prerelease Nuget Version"
Hi,
I have question regarding alert for Nuget Package Update
I have released 5.0.4 Version. I know my packages would get restored automatically when I release 5.0.5.
But what if
1. I have released 5.0.6-alpha1
2. I have released 5.1.0
For me, in both the cases it's not getting updated. It is still pointing to 5.0.5.
Is this how Nuget behaves or Am I missing something or I need to update manually.

[2017-02-07 15:19] maxtoroq commented on #3830
@emgarten NuGet does the right thing in copying only what's specified in `<references>`, but after that there's a step missing. Adding a reference is not just a matter of copying a dll to the bin. Perhaps taking the information from the assembly manifest, dependencies must be copied as well, **recursively**. If foo.dll depends on bar.dll, which in turn depends on baz.dll, then all three should end

[2017-02-07 16:06] rohit21agrawal commented on #4508
verified using both command line and VS, seems to be fixed. closing the issue.

@attilah if you see this in any build of VS less than 2 days old, please reactive this issue.

[2017-02-07 16:06] #4508 closed, assigned to nobody

[2017-02-07 16:27] sam-wheat commented on #4432
@rohit21agrawal Is the fix released?  Where do I get it?  When I attempt to install  VS 15 Preview VSIX (v3.4.2) from https://dist.nuget.org/index.html I get an error message that the extension is not compatible with VS2017.   I install anyway and the pkg is not generated.  Am using VS2017 rc3.

[2017-02-07 16:31] rohit21agrawal commented on #4432
@sam-wheat
This fix will be released before EOD today as an update to the RC3 build of visual studio you have.

You should not install a VSIX manually to your VS2017. VS2017 only support NuGet versions 4.0.0.*

[2017-02-07 16:37] sam-wheat commented on #4432
@rohit21agrawal  Thank you - just curious - the VSIX at the location I cited is for....... ?

[2017-02-07 16:41] rohit21agrawal commented on #4432
@sam-wheat it's about 6 months old as far as i can tell, and wouldn't work with the current builds of Visual Studio 2017. i'll ask the team to actually remove it from there so it doesn't mislead anyone . thanks for pointing it out :)

[2017-02-07 17:39] natemcmaster opened #4521 "Question: how to change generated nuspec dependency 'exclude' setting?"
I'm trying to create a package that contains dependencies which should include Build and Analyzer assets into the installed project. However, the generated nuspec always generates dependencies from package and project references as:

[code]

Is there a way to alter this? I would have expected something like this to work:

[code]

Workaround:
Use `<NuspecFile>` and `<NuspecProperties>` and manually

[2017-02-07 17:41] rohit21agrawal commented on #4521
IncludeAssets/PrivateAssets/ExcludeAssets should flow the right Exclude strings in the nuspec, if it's not doing it it's a bug. Repro project?

[2017-02-07 17:48] natemcmaster commented on #4521
[code]
dotnet restore
dotnet msbuild /t:GenerateNuspec

Nuspec file contains:
[code]

Using CLI 1.0.0-rc4-004757

[2017-02-07 17:49] sam-wheat commented on #4432
@rohit21agrawal Thanks very much - one more question if you don't mind please as this fix is important to me -  will the fix be released on the download page here https://www.visualstudio.com/vs/visual-studio-2017-rc/ or will a hotfix be released?  If so, where will the fix be published?

[2017-02-07 18:03] rohit21agrawal commented on #4432
keep a watch out on https://www.visualstudio.com/en-us/news/releasenotes/vs2017-relnotes , it will be updated with the relevant info when the update goes live.

[2017-02-07 18:07] rrelyea commented on #4416
Likely 4.0.1 - can you do quick analysis so we can triage.

[2017-02-07 18:15] zhili1208 commented on #4484
@ericwj Does deleting nuget cache fix your issue?

[2017-02-07 18:34] emgarten commented on #4521
Try PrivateAssets None.  Build/Analyzers are excluded as part of PrivateAssets by default. When creating a nuspec there is no concept of PrivateAssets, so they get added to the Include/Exclude lists. This isn't very intuitive however.

[code]

[2017-02-07 18:44] mhutch opened #4522 "Relative repositoryPath is not portable"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 3.5.0.1938

OS version (i.e. win10 v1607 (14393.321)): macOS 10.12.2

Worked before?: unsure

## Detailed repro steps so we can see the same problem

1. In NuGet.config, set the following key:

[code]

2. Run `mono nuget.exe restore`

3. A directory with the verbatim name `../packages/` is created, instead of a directory calle

[2017-02-07 19:14] twsouthwick opened #4523 "NuGet restore fails to restore dependencies in project.json when there are PackageRefs in other projects"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS

NuGet version (x.x.x.xxx): 4.0

VS version (if appropriate): 26206.0

OS version (i.e. win10 v1607 (14393.321)): 14393.693

Worked before? If so, with which NuGet version: No - using package refs

## Detailed repro steps so we can see the same problem

I have a project that uses the new csp

[2017-02-07 19:18] natemcmaster commented on #4521
Just checked. Setting PrivateAssets=None works. It generates `include="all"` on dependencies.

[2017-02-07 19:19] rohit21agrawal commented on #4521
@natemcmaster here is the test matrix, in case you need to see the various combinations :
https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Core.FuncTests/Dotnet.Integration.Test/PackCommandTests.cs#L175-L187

[2017-02-07 19:19] #4521 closed, assigned to nobody

[2017-02-07 19:25] emgarten commented on #4523
@twsouthwick can you create a simple solution that repros this? Or describe the project hierarchy.

Are you able to install a package into the project.json project using the NuGet UI? Does it show up in the project.json file?

[2017-02-07 20:52] dsplaisted opened #4524 "IncludeBuildOutput property name for NuGet pack is too generic"
You can set the `IncludeBuildOutput` property to false to prevent the output from the build of a project to be included in the NuGet package when packing.  However, this property name is too generic.  When you see it in a project file, there's nothing to indicate that it's related to creating a NuGet package.  It could easily refer to publishing or some other operation.

A better name would be som

[2017-02-07 21:12] emgarten commented on #4416
@rohit21agrawal what are the repro steps?

Did this recently break? Or does this also fail with older builds of NuGet?

[2017-02-07 21:30] emgarten commented on #4416
Investigating

[2017-02-07 21:43] rrelyea opened #4525 "Enable restoring one project via context menu"
We've heard this feedback through several channels recently.
May be existing issue tracking this request from the past?

FYI, in VS and via Command line -- we do work to make Solution Restore do fast no-ops for projects with no changes.

vsfeedback 776520

[2017-02-07 22:07] sam-wheat commented on #4432
@rohit21agrawal I installed the update however the problem remains.  Please advise, thx.

Microsoft Visual Studio Community 2017 RC
Version 15.0.26206.0 D15REL
Microsoft .NET Framework
Version 4.6.01586

Installed Version: Community

Visual Basic 2017 RC   00369-50000-00000-AA523
Microsoft Visual Basic 2017 RC

Visual C# 2017 RC   00369-50000-00000-AA523
Microsoft Visual C# 2017 RC

Visual C++ 201

[2017-02-07 22:19] rohit21agrawal commented on #4432
Can you tell me the file version you have of :
"C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Sdks\NuGet.Build.Tasks.Pack\CoreCLR\NuGet.Build.Tasks.Pack.dll"

[2017-02-07 22:25] sam-wheat commented on #4432
File Version 4.0.0.2259
Product version 4.0.0-rtm-2259

[2017-02-07 22:26] rohit21agrawal commented on #4432
weird..this should not happen..can you attach a repro project here so i can investigate?

[2017-02-07 22:33] nkolev92 commented on #4215
Should have been resolved in previous RCs.

[2017-02-07 22:33] #4215 closed, assigned to nkolev92

[2017-02-07 22:33] sam-wheat commented on #4432
[pkgError.zip](https://github.com/NuGet/Home/files/759231/pkgError.zip)
Attachment per your request.

[2017-02-07 22:39] rohit21agrawal commented on #4432
quick observation - this only repros if TargetFramework is netcoreapp1.1, if i set it to netcoreapp1.0, everything works fine.

[2017-02-07 22:45] sam-wheat commented on #4432
Thanks!  Thats better than nothing - I will try and use it.

[2017-02-07 23:17] emgarten commented on #4416
I'm not seeing any issues in the CLI after removing this workaround for tests. I'm also unable to repro any problems locally with conditional dependencies.

[2017-02-07 23:57] rohit21agrawal commented on #4432
This is due to the incomplete fix of : https://github.com/dotnet/roslyn/issues/15137

As a workaround for now, set ```<GeneratePackageOnBuild>false</GeneratePackageOnBuild>```

build using visual studio or CLI normally
run Pack from command line using : ```dotnet pack /p:ExcludeRestorePackageImports=true```

[2017-02-08 00:27] rainersigwald commented on #4316
I applied https://github.com/rainersigwald/ParallelBuildDebuggingLogger to debug this, scoping the query to the `_GenerateRestoreProjectSpec` target.

That showed that it was run twice for the same project:

[code]

The empty `<>` indicates that the traversal mechanism was doing the right thing in both cases and not setting any new global properties--so the problem (the distinct global properties)

[2017-02-08 00:30] davkean commented on #4386
I don't think this is a dup of #4225. These are two different cases.

[2017-02-08 00:32] rrelyea commented on #4316
@rainersigwald - so what does that mean?

[2017-02-08 00:39] mishra14 commented on #4505
Update: This is happening because 3 dlls (`NuGet.SolutionRestoreManager.dll`,` NuGet.Credentials.dll`, `NuGet.ProjectModel.dll`) are currently not being localized. I have started working on adding them to our artifacts and have informed the vendors.

[2017-02-08 00:39] natemcmaster commented on #4316
NuGet fails because the solution has "x86", "x64", and "Any CPU" solution configurations.

I can confirm that removing the x86 and x64 from `Configuration.sln` solves the issue. It would still be good to harden NuGet to handle this better.

[2017-02-08 00:40] mishra14 commented on #3888
This is fixed. Seems like this was a VS installation related bug.

[2017-02-08 00:40] #3888 closed, assigned to nobody

[2017-02-08 00:43] mishra14 opened #4526 "Fix dev14 E2E test failure/timeout"
Current dev14 E2E status -

`dev	#2277	 Tests passed: 208, ignored: 2; error message is logged (new); exit code 1 (new) 	`

Seems like one of our E2E test crashes VS and then the tests timeout.

[2017-02-08 00:48] mishra14 commented on #4526
I could see that test `InstallPackageIntoJSWindowsPhoneAppOnWin81UseTheCorrectFxFolder  `is crashing/restarting VS, but I haven't repro'd it yet.

[2017-02-08 00:51] emgarten commented on #4526
Is it crashing or hanging?

JS Phone apps are CPS based projects

[2017-02-08 00:52] mishra14 commented on #4526
@emgarten I haven't been able to repro it yet. But last time it happened, I logged into the machine and VS was open with nothing running. Seemed like VS had crashed and/or restarted. Any thoughts?

And the logs ended abruptly -

[code]

[2017-02-08 00:53] rrelyea commented on #4432
I need to absorb and consider the options for fixes on different sides here. Marking RTM and NeedsTriageDiscussion

[2017-02-08 00:56] rrelyea commented on #4474
@dtivel - can you help me understand the state of this issue. Summary?

[2017-02-08 01:14] rrelyea commented on #4432
lots of discussion from the folks on .net core call.
hack in sdk or fix the package?

[2017-02-08 01:24] nkolev92 commented on #4487
This is fixed now:

Verified with VS build: 26206.0.d15rel

I could repro the with the same project on 26204.0.d15rel. The restore was correct in 26206.0.d15rel

[2017-02-08 01:24] #4487 closed, assigned to alpaix

[2017-02-08 01:31] mishra14 commented on #3506
Update: This is happening because 3 dlls (`NuGet.SolutionRestoreManager.dll`,` NuGet.Credentials.dll`, `NuGet.ProjectModel.dll`) are currently not being localized. I have started working on adding them to our artifacts and have informed the vendors.

[2017-02-08 01:35] nkolev92 commented on #4496
This is fixed now.

Verified with 26206.0.d15rel

[2017-02-08 01:35] #4496 closed, assigned to rrelyea

[2017-02-08 01:39] rrelyea commented on #4316
so are we saying without this fix, anytime we have anycpu plus any other config, we will fail in restore?

[2017-02-08 01:45] rrelyea commented on #4519
@mishra14  - please open an internal bug, we'll see if we can get an exception for now.

[2017-02-08 01:51] nkolev92 commented on #4000
The dotnet/cli#4813 issue has been closed however, I do not see the behavior fixed.

[code]

[2017-02-08 01:52] rrelyea commented on #4316
Also...is this caused to be more prevalent by: https://github.com/dotnet/roslyn-project-system/issues/1458
When they fix that, will this be less important?

[2017-02-08 02:03] mishra14 commented on #4000
@nkolev92 : whats the output to `dotnet --info` ? You could be running old dotnet.

[2017-02-08 02:08] davkean opened #4527 "Rebuilding a project with multiple targets does not produce a NuGet package"
*Rebuild* the following project inside VS:

[code]

**Expected:** Project to produce a nupkg.
**Actual:** Project does not produce a nupkg

**Note:** If you just build, it does appear to build it.

[2017-02-08 02:19] davkean commented on #4527
Found via https://twitter.com/roryprimrose/status/829141692036980737, //cc  @roryprimrose

[2017-02-08 02:33] mishra14 commented on #4519
@rrelyea this is an accessibility error, I will change the title and create an appropriate bug.

[2017-02-08 02:33] zhili1208 commented on #4224
VS.psm1 still contains 2.x API

[2017-02-08 02:39] emgarten commented on #4416
Fixed in the CLI by removing the workaround.

[2017-02-08 02:39] #4416 closed, assigned to emgarten

[2017-02-08 02:41] mishra14 commented on #4000
@nkolev92 true, I have reopened the dotnet cli bug and added the logs there.

[2017-02-08 02:56] rainersigwald commented on #4316
From talking to @emgarten there are some conflicting requirements here:

* A project can build for different platforms. These produce distinct outputs and thus must be built (and evaluated) separately.
* A project can only have one assets file.

My understanding is that the restore traversal already considers TFM as a dimension (and unifies references that are conditional on TFM), but doesn't cons

[2017-02-08 04:09] bording opened #4528 "Visual Studio fails to restore PackageReferences when bin and obj folders have been deleted"
NuGet product used: VS UI
NuGet version: VS 2017 integrated version
VS version: VS 2017 RC4 (15.0.0-RC4+26206.0)
OS version: win10 v1607 (14393.693)

When using PackageReferences with one of the project formats that support them (WPF, WindowsForms and UWP Projects), if the bin & obj folders are deleted while Visual Studio has the solution open, VS fails to properly restore any referenced packages

[2017-02-08 09:42] AndreyAkinshin opened #4529 "A question about LibraryDependencyTypeFlags"
In the [LibraryDependencyTypeFlag](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.LibraryModel/LibraryDependencyTypeFlag.cs) class, we have the following declarations of 9 flags:
[code]
However, in the [LibraryDependencyTypeKeyword](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.LibraryModel/LibraryDependencyTypeKeyword.cs#L101) class we declare only 8 of

[2017-02-08 13:32] cni13 commented on #4418
What is the workaround for this issue? I use VS 2017 RC and it's VS that changed the reference setting to ProjectReference in csproj.

[2017-02-08 14:20] twsouthwick commented on #4523
This may be another manifestation of #4316. The project with project.json is compiling for x86. Although it is through the flag of prefer-32bit being checked, the project.json still has the win-x86 runtime identifier.

[2017-02-08 15:34] rainersigwald opened #4530 "Package-delivered props files ignored when MSBuild.exe is run from outside a Developer Command Prompt"
This was originally reported by @iskiselev as https://github.com/Microsoft/msbuild/issues/1678. The root cause of the issue is an order-of-MSBuild-imports thing, but it could be avoided with a NuGet change and affects primarily NuGet users so I'm filing a bug here too.

## Details about Problem

NuGet product used: Visual Studio 2017

VS version: 15.0.26206.0

Worked before? If so, with which NuGe

[2017-02-08 15:42] 2rik commented on #4467
Solution @natidea suggested does not work for me.

[2017-02-08 15:44] dtivel commented on #4474
I have not reproduced a crash in the solution-wide NuGet Package Manager on VS 2017 RC3 with @glatzert's solution.

The solution must first be migrated from an earlier version of Visual Studio.  There are several migration issues.  For example, I hit this non-fatal error during migration:  dotnet/roslyn-project-system#1213 / dotnet/roslyn-project-system#1290.  For me the actual restore operation d

[2017-02-08 15:52] rrelyea commented on #4467
@2rik - which build of VS 2017 RC are you running with? A new one was released on 2/7.
Have you just tried moving to that version, where a workaround shouldn't be needed?

[2017-02-08 15:55] glatzert commented on #4474
Just to make sure, we are talking about the same things:
The restore itself did not pose a problem.
Problem occured when I tried to update a package for multiple (say all) projects from the nuget solution wide management. That would not succeed in our case.

BUT my current machine went _aaaaalll_ the way from dotnet beta5 to the current state - so that _might_ perhaps be some whatsoever side effec

[2017-02-08 15:58] 2rik commented on #4467
I am running VisualStudio/15.0.0-RC.4+26206.0

[2017-02-08 16:03] rohit21agrawal commented on #4527
closing in favor of : https://github.com/NuGet/Home/issues/4475

[2017-02-08 16:03] #4527 closed, assigned to rohit21agrawal

[2017-02-08 16:05] rrelyea commented on #4522
@zhili1208  - Please dupe if appropriate - we have an issue tracking this problem that is pervasive in our code base.

[2017-02-08 16:07] rrelyea commented on #4520
Can you be more clear with what the user is doing, in what kind of project.
In addition with what you are doing with publishing new packages.
Then spell out what you'd expect and what you see. Then we'll try to help clear it up.

[2017-02-08 16:08] rrelyea commented on #4519
Please refer to the bug # in this issue.

[2017-02-08 16:13] rrelyea commented on #4516
@watashiSHUN - sounds like that is by design. We cannot find msbuild that you copy to other locations. We work when you give us an explicit path.
Sounds like you should be using an installer. Is there one you can use for msbuild? /cc @rainersigwald

[2017-02-08 16:17] rrelyea commented on #4530
As we work in developer command prompt, and there is a workaround if not - given the severity and the timeframe, moving to post 4.0

[2017-02-08 16:20] rrelyea commented on #4467
@emgarten - which SDK bug was fixed? Should it be reactivated? Or should we reactivate this issue? or both?

[2017-02-08 16:24] rrelyea commented on #4509
Unlikely to invest in, but placing in future for consideration.

[2017-02-08 16:25] rrelyea commented on #4507
3.5.0 had this problem.
4.0.0-rc4 and later should be fine. See http://nuget.org/downloads
Please confirm this works for you.

[2017-02-08 16:27] rainersigwald commented on #4316
I believe the answer is "no", but it might be indirectly related. Looking at the Configuration repro, the issue is caused because the default platform for the DockerSecrets projects is set to `x86`:
![image](https://cloud.githubusercontent.com/assets/3347530/22745957/e1974d4e-ede7-11e6-8aed-7dfba2f6f438.png)

I changed that to `Any CPU`, matching the other projects, and saw a successful `dotnet re

[2017-02-08 16:34] rainersigwald commented on #4316
Oh, and the answer to "what changed between MSBuild 15.1.523.56541 and 15.1.539.38876 to expose this?" is https://github.com/Microsoft/msbuild/pull/1590, which fixed a bug that was causing solution-level restore to not run, in favor of an inefficient jumble of project-level restore invocations.

[2017-02-08 16:34] rrelyea commented on #4461
We plan to address #2300 --- but it seems like this request won't be very common and can be achieved by using a nuspec. So closing this issue.

[2017-02-08 16:34] #4461 closed, assigned to nobody

[2017-02-08 16:37] rrelyea commented on #4343
Consider post RTM.

[2017-02-08 16:39] rrelyea commented on #4341
@karann-msft - can we please make the docs clear to distinguish Justin's clarification above?

[2017-02-08 16:44] #4516 closed, assigned to nobody

[2017-02-08 16:45] rrelyea commented on #4318
Putting request in backlog. Generally have been hesitant to do this. I wouldn't consider it likely.

[2017-02-08 16:49] rrelyea opened #4531 "Invalid framework version '.0' error when updating a package"
vsfeedback issue 801862
https://developercommunity.visualstudio.com/content/problem/17885/cant-update-nuget-packages-in-my-solution.html
Looks like Xamarin/UWP project.

Got similar error here: https://github.com/NuGet/Home/issues/4418 (unsure if related)

[2017-02-08 16:51] rainersigwald commented on #4516
Yes, MSBuild should be installed through the VS or the [Build Tools](https://www.visualstudio.com/downloads/#build-tools-for-visual-studio-2017-rc) installer. That sets up the right machine state for NuGet.exe to locate it.

[2017-02-08 16:57] dsplaisted commented on #2300
From @rrelyea  on #4461

I think we may want to use this by default in the .NET SDK for the NETStandard.Library reference.  If you target .NET Standard you'll get an implicit reference to NETStandard.Library 1.6.0.  If you reference a package which depends on NETStandard.Library 1.6.1, then you'll get package downgrade warnings.  So I'd like to make the NETStandard.Library dependency not be includ

[2017-02-08 17:09] cni13 commented on #4531
I worked around the problem by recreating the non existent packages.config (also no project.json). I use VS 2017 and after the migration PackageReference in csproj I started getting the issue with packages.config.

[2017-02-08 17:14] rrelyea opened #4532 "vsfeedback: msbuild /t:restore fails on ProjA (packageRef/.net461) w/ ref to ProjB (.netstandard)"
vsfeedback 801748 & https://developercommunity.visualstudio.com/content/problem/17821/restoring-packages-from-vs-and-from-the-msbuild-re.html

Given two net45 projects referencing, one referencing the other, if second is using the new way of declaring itss nuget dependencies using the new declaration style, restoring via "msbuild /t:restore" will fail the build, and from the VS context menus, the

[2017-02-08 17:21] rrelyea commented on #4514
Moving to 4.0.1 - just trying to confirm in linked issue that they don't absolutely need it in rtm.

[2017-02-08 17:29] tmat commented on #4461
@rrelyea Although it's true it can be achieved using nuspec it means I now need to manage the dependencies manually again, gaining no benefit from the Pack task whatsoever.

[2017-02-08 17:34] nkolev92 commented on #3799
Doesn't repro anymore with:
NuGet Version: 4.0.0.2275
VS Version: 26206.0-d15rel

[2017-02-08 17:34] #3799 closed, assigned to nkolev92

[2017-02-08 18:13] rohit21agrawal commented on #4522
throughout our code base we should do :
if (OS == Windows)
   Replace '\' with '/'

[2017-02-08 18:18] rrelyea opened #4533 "VSFeedback: Lightweight Solution - Error occurred while restoring NuGet packages: System.IO.FileNotFoundException: File not found File name: 'c:\somepath\projectname.csproj'"
vsfeedback 789387 -  reported against RC3.1 (currently being tracked by internal bug 383492 on vsplat team)

https://developercommunity.visualstudio.com/content/problem/17045/cant-build-an-individual-project-of-my-solution.html

[2017-02-08 18:22] jainaashish opened #4534 "Nuget extremely slow package upgrade"
Customer issue received via email:

Scenario, we have an internal framework composed by 4 nuget packages, published into Myget.

We have a client solution with 54 projects that uses this framework. When I open Manage Nuget Packages for solution and ask to update packages to a different version the time needed to complete the operation is really high (sometimes more than 10 minutes). During the upd

[2017-02-08 18:25] jainaashish opened #4535 "Nuget Crashes with OOM Exception"
NuGet partner issue received via email:

FSharp repository: http://github.com/Microsoft/visualfsharp

1.	I was using this global NuGet config:
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="dotnet.myget.org dotnet-buildtools" value="https://dotnet.myget.org/F/dotnet-

[2017-02-08 18:30] zhili1208 commented on #4484
close it, if you still hit this issue after cleaning cache, feel free to reopen it.

[2017-02-08 18:30] #4484 closed, assigned to zhili1208

[2017-02-08 18:55] srivatsn opened #4536 "Pack throws exception if IncludeSource is used in a project with multiple TFMs"
_From @niemyjski on February 8, 2017 15:41_

I'm running VS2017 RC3 (Latest) and I'm seeing this randomly when I build my solution or the `Foundatio.Redis` package.

Just clone (https://github.com/exceptionless/foundatio) and try building different projects / run the tests

[code]

_Copied from original issue: dotnet/sdk#838_

[2017-02-08 18:55] srivatsn commented on #4536
_From @niemyjski on February 8, 2017 15:54_

Also, is there a good place to log an issue with the VS Test runner? I can't seem to be able to profile any unit tests either. And My redis unit tests aren't discoverable now either :\

[2017-02-08 19:02] niemyjski commented on #4536
This issue is so annoying I wish I could go back to the previous RC

[2017-02-08 19:03] rohit21agrawal commented on #4536
@niemyjski  what arguments are you passing to pack foundation.redis ?

[2017-02-08 19:13] niemyjski commented on #4536
@rohit21agrawal  I have the new feature to package on build defined in the csproj... But this is just from within Visual Studio when I right click a project and select build or click run all unit tests (which does a build). It's super annoying

[2017-02-08 19:14] rohit21agrawal commented on #4536
@niemyjski  figured out..this is a bug in the Pack code when ```IncludeSource``` is set to true. while i am figuring out the exact cause, you can work around by setting this to false in your project.

[2017-02-08 19:15] rohit21agrawal commented on #4536
https://github.com/exceptionless/Foundatio/blob/master/build/common.props#L15 - set this to false for now.

[2017-02-08 19:40] rainersigwald commented on #4316
I just tried adding a new library to the Configuration sln and it was added as x86, presumably because of dotnet/roslyn-project-system#1458. So that would indeed exacerbate the problem here--without that, prevalence of solution configurations specifying platform in new projects should be very low.

[2017-02-08 20:10] nkolev92 commented on #4528
We throw an exception if the obj folder is not created in:

https://github.com/NuGet/NuGet.Client/blob/a192c0d2c0a627642211e04ba9808f840e205d94/src/NuGet.Clients/PackageManagement.VisualStudio/ProjectSystems/LegacyCSProjPackageReferenceProject.cs#L191

Not sure why we do that.
Investigating the impact of removing this check

[2017-02-08 20:12] niemyjski commented on #4536
Thanks, seems kinda odd that building of packages would happen so often even if nothing changed. Especially when I want to just run tests.

[2017-02-08 20:14] rohit21agrawal commented on #4536
@niemyjski i agree. we plan to fix this soon : https://github.com/NuGet/Home/issues/4363

[2017-02-08 20:27] zhili1208 commented on #4507
BTW, specifing 15 for msbuildVersion won't work for VS2017, because the msbuild version is 15.1, and nuget will automatically find msbuild 15, you don't need to use msbuildversion for msbuild 15

[2017-02-08 20:40] KrzysztofCwalina commented on #4189
@rrelyea, I tried to add --include-sources in the following corfxlab PR and I got this failure: https://github.com/dotnet/corefxlab/pull/1198

You might want to use it a s a repro.

BTW, do you know any workarounds for it?

[2017-02-08 20:56] rohit21agrawal commented on #4189
closing this as this is a dupe of https://github.com/NuGet/Home/issues/4536

[2017-02-08 20:56] #4189 closed, assigned to rohit21agrawal

[2017-02-08 21:12] attilah commented on #4316
I was just hit by this issue and having Any CPU and x64 for the same build configuration caused it, however it is a fully legal configuration, specially if one of the projects depending on some nugets which has platform specific binaries.

The funny thing that it was only failing from dotnet.exe command line, VS 2017 RC4 did something differently and handled it somehow.

[2017-02-08 21:19] nkolev92 commented on #4528
The only repro that I have found for this problem is doing a git clean while the solution is open in VS.

Doing an msbuild clean does not touch the obj nuget assets.
Opening a newly checked-out solution does not cause problems because VS would create the obj/bin folders.

[2017-02-08 21:25] bording commented on #4528
@nkolev92 Thanks for taking a look at this!

It does look like it's being considered for this behavior to change: #4476

[2017-02-08 21:38] rrelyea commented on #4307
@dtivel was investigating #4474, got the customer solution, and ran into this same problem.

[2017-02-08 21:39] #4507 closed, assigned to nobody

[2017-02-08 21:45] rrelyea commented on #4224
NuGet.Core.dll has been removed from VSIX. Determine compat risk in PS1 files.

[2017-02-08 21:50] rrelyea commented on #4189
@KrzysztofCwalina - not aware of workaround...perhaps this would work -- taking the intermediate nuspec created w/o the command line option, hand adding the source files into, then calling pack on the .nuspec.

[2017-02-08 21:56] KrzysztofCwalina commented on #4189
Thanks!
@rohit21agrawal gave me some pointers

[2017-02-08 21:56] rrelyea commented on #4316
@attilah  - thanks for the "+1" -- yes, today nuget restore has this problem, but restore in VS and NuGet.exe both avoid this problem.

[2017-02-08 21:56] dtivel commented on #4474
I think we're on the same page, @glatzert.  After migrating the solution (part automated, part manual), I did open NuGet Package Manager for the solution and tried to update all packages solution-wide that needed updating.  This update succeeded for me and did not result in a crash or VS becoming unresponsive.

It would be great if you could try your scenario on the latest RC build (RC4), which wa

[2017-02-08 21:56] #4474 closed, assigned to dtivel

[2017-02-08 22:07] nkolev92 commented on #4528
@bording Good catch.
#4476 would only clean up the data inside the folder though so it should not cause a problem.

What I should've said is:
Doing an msbuild clean does not delete the obj folder.

[2017-02-08 22:10] nkolev92 opened #4537 "NuGet.exe list from local packages folder does not work with the AllVersion flag"
NuGet.exe list does not work with the AllVersions flag:

NuGet version: 4.0.0.2275
From an e-mail:

[code]

[2017-02-08 22:24] joelverhagen opened #4538 "limit http request number per source through NuGet.Config"
## Problem Statement

Today, NuGet has no consistent story about the number of parallel HTTP requests allowed.

In our Visual Studio extension, I am not aware of any HTTP request throttling. We probably end up using whatever `ServicePointManager.DefaultConnectionLimit` is set to. In fact, it's possible VS or some other component sets this value. Needs investigation.

I am investigating a user repo

[2017-02-08 22:25] rrelyea commented on #4528
Post RTM.

[2017-02-08 22:26] nkolev92 commented on #4325
@mishra14
https://github.com/NuGet/Home/issues/4440
Is the above issue a dup of this one?

[2017-02-08 22:31] mishra14 commented on #4440
@karann-msft @rrelyea: this is a dupe of https://github.com/NuGet/Home/issues/4325 if karan is talking about `dotnet add package` code path.

Inside VS respective project system would own the code path responsible for adding the package reference. Not sure if we can fix that by our selves.

[2017-02-08 22:47] rohit21agrawal commented on #4479
This issue was moved to dotnet/roslyn-project-system#1503

[2017-02-08 22:59] KirillOsenkov opened #4539 "VS 2017 generates .nupkg that crashes NuGet Package Explorer"
## Details about Problem

NuGet product used: VS UI

NuGet version (x.x.x.xxx): VS 2017 RC4 26205.0 d15rel

dotnet.exe --version (if appropriate): 1.0.0-rc4-004769

VS version (if appropriate): VS 2017 RC4 26205.0 d15rel

OS version (i.e. win10 v1607 (14393.321)): windows 8 6.3 (9600)

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. In VS

[2017-02-08 23:16] emgarten commented on #4509
Pull Requests are welcome for this ✨

[2017-02-08 23:31] zhili1208 commented on #4532
This one is a dupe of https://github.com/NuGet/Home/issues/4515,
Repro step:
1. Create .net framework 4.6.1 lib
2. referenced a .net standard 1.4 lib.
3. install newtonsoft.json as package reference in .net framework 4.6.1 lib
4. msbuild /t:restore
5. msbuild /t:build

[2017-02-08 23:44] zhili1208 commented on #4532
the issue is during msbuild build,
In C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Microsoft\NuGet\15.0\Microsoft.NuGet.targets

it check ".xproj" extension to get ProjectReferencesCreatingPackages, since there is no xproj project, ProjectReferencesCreatingPackages is not specified.

nuget doesn't own this code, need to ask other team to fix this.

[2017-02-09 00:05] nkolev92 commented on #4482
I could not reproduce this in 26206.0-d15rel and NuGet version 4.0.0.2275.

@davkean Can you please provide the dummy project you're using?

[2017-02-09 00:12] iskiselev commented on #4316
@rrelyea, is nuget.exe 4.0 publicly accessible somewhere to workaround this problem?

[2017-02-09 00:17] davkean commented on #4482
@nkolev92 I just ported the bug, you might want to ask @praneethw.

[2017-02-09 00:19] clairernovotny commented on #4316
I'm still hitting this in RC4...and it's blocking me with xUnit for Devices:
https://github.com/xunit/devices.xunit/blob/master/xUnit.Devices.sln

I'm trying to call `msbuild  /t:restore xunit.devices.sln` and get:

[code]

[2017-02-09 00:25] iskiselev commented on #4316
I have the same problem, if configuration of any project doesn't match Solution configuration. So, not only setting Platform=x64 to some project within AnyCpu solution platform, but  also setting Release configuration to some projects in Debug solution configuration provokes it.

[2017-02-09 00:34] nkolev92 commented on #4531
We only have a workaround for VS only. MSBuild still doesn't work.
The workaround is copying the frameworks from project.json  to a property in the .csproj
(in #4418, it was "dotnet", in the xamarin/uwp-it was uap10.0)

[code]

Looks like a dup to #4418

[2017-02-09 00:51] rrelyea commented on #4533
Zhi sent email to customer.

[2017-02-09 00:51] kraigb commented on #3534
@mishra14 this should be resolved as the docs are on a new site, https://docs.microsoft.com/en-us/nuget/tools/nuget-exe-cli-reference, in which secondary headers in the auto-gen TOC don't appear. I believe you can close this.

[2017-02-09 00:54] kraigb commented on #4470
Do you know who owns the fwlink? I'd like to know what it's currently pointing to in order to see if there's older content that we can resurrect for this.

[2017-02-09 00:59] kraigb commented on #3513
@dtivel Search should be working on docs.microsoft.com/nuget where the docs now live. The search above is https://docs.microsoft.com/en-us/search/index?search=init.ps1&scope=NuGet and yields proper results. You should be able to close this.

[2017-02-09 01:03] #3534 closed, assigned to karann-msft

[2017-02-09 01:17] emgarten commented on #4470
@kraigb I had the fwlink created, it is brand new for this purpose.

[2017-02-09 01:35] rrelyea commented on #4482
Marking not repro. Pinged @praneethw in other repo for more info.

[2017-02-09 02:05] rrelyea commented on #4532
@zhili1208 and i worked on the workaround.
putting the following in your csproj after the targets import, avoids the build error in the simple case.
very weird that VS2017 targets still mention .xproj at all. Need to figure out how to address for 4.0.1 --
in Microsoft.NuGet.Targets (https://github.com/NuGet/NuGet.BuildTasks/blob/776bb2b300e1333a6bc3297d441eabba2d640264/src/Microsoft.NuGet.Build.Ta

[2017-02-09 02:27] AndyTian-Devops opened #4540 "[Test Failure]Can not get the correct intellisence list in PMC"
**NuGet Version:** 2277
**VS Version:** D15Rel 26206.00
**OS Version:** Windows 10 RS1_Release 14393.821.170127-1801

**Repro Steps:**
1. Download Nuget Client source code from https://github.com/NuGet/NuGet.Client
2. Open the NuGet Client solution with VS2017
3. Open PMC, Input "**Install-Package Microsoft.VSSDK.BuildTools -Version**"
4. Press "Tab" key on keyboard.
5. Observe the pop up intellis

[2017-02-09 02:43] rrelyea commented on #4540
When did this break?  3.5?

[2017-02-09 03:12] AndyTian-Devops commented on #4540
@rrelyea this issue can not repro on 3.4.4 But i can repro it on Dev14 U3 + 3.5.0.1938.
![201702091112](https://cloud.githubusercontent.com/assets/12235523/22767794/b1b5d498-eeb8-11e6-9b40-06ffa3b0f4dc.png)

[2017-02-09 04:20] emgarten commented on #4540
This is working fine for me in VS 2017 with 4.0 and VS 2015 with 3.5.0.1996

@v-atian  This could be due to network issue or bad source in your list. Try selecting an individual source to help narrow this down. 3.4.4 could have been doing more retries for v2 sources.

[2017-02-09 04:22] garuma commented on #3251
I spent a bit of time looking at this today trying to get NuGet push working on VSTS. I think the issue here is how NuGet does its weird magic with HttpHandler.

From my understanding of the whole pipeline, NuGet seems to be using a custom HttpHandler (`HttpSourceAuthenticationHandler`) wrapping the BCL default `HttpClientHandler` to do its authentication work.

This thing seems to rely on the fac

[2017-02-09 04:25] emgarten commented on #4316
Use nuget.exe to workaround this issue: https://dist.nuget.org/win-x86-commandline/v4.0.0-rc4/nuget.exe

Or Visual Studio as @rrelyea mentioned

[2017-02-09 10:18] mrward commented on #4538
Would this affect the use of the DefaultMaxDegreeOfParallelism? There is another [issue](https://github.com/NuGet/Home/issues/3539) about allowing the DefaultMaxDegreeOfParallelism to be configurable. That particular problem is more to do with limiting the number of tasks/threads being used when on Mono. However when dropping that value down to 1 the number of http requests is also reduced. Reduci

[2017-02-09 11:46] rrelyea opened #4541 "VSFeedback: Provide an easy way (from the UI) to upgrade NuGet packages after retargeting the framework."
vsfeedback 802550

No contact info, but good idea to consider:
Provide an easy way (from the UI) to upgrade NuGet packages after retargeting the framework.

It should be that just doing a restore after you retarget will get the right assets into your build pipeline.
So likely need to talk to people to better understand what this customer meant.

[2017-02-09 11:50] 2rik commented on #4467
Sometimes it helps to create new empty ASP.NET Core project and close it. After it error disappears for some time.

[2017-02-09 11:52] rrelyea opened #4542 "Help Roslyn-Project-System understand why infinite restore loop may happen with bad package."
@natidea asked for help from us in https://github.com/dotnet/roslyn-project-system/issues/1457
This is not blocking RTM, so tracking an issue in 4.0.1.

[2017-02-09 11:57] rrelyea opened #4543 "NuGet package restore keeps stealing focus in a .net core project"
Please engage with the customer from VS Feedback 786944 (https://developercommunity.visualstudio.com/content/problem/16748/nuget-package-restore-keeps-stealing-focus-in-a-ne.html)

Filed by internal user: @petermarcu
See @rrelyea for a few email threads about this.

#4542 sounds similar, but was caused by a bad package. We plan to help roslyn-project-system understand why that caused that situatio

[2017-02-09 12:12] rrelyea opened #4544 "LightweightSolutionLoad - gives file not found during restore"
Find repro by using clues in comments & engaging with customer.
vsfeedback 784971 | https://developercommunity.visualstudio.com/content/problem/16681/nuget-restore-fails-with-file-not-found.html

All packages are already installed and there is nothing to restore. Time Elapsed: 00:00:00.0047847 ========== Finished ==========

Error occurred while restoring NuGet packages: File not found

Which is f

[2017-02-09 12:18] rrelyea opened #4545 "NuGet ProjectSystemCache error when adding package in vsix package"
vsfeedback 784047 filed with RC3.1 | https://developercommunity.visualstudio.com/content/problem/16659/nuget-projectsystemcache-error-when-adding-package.html

(please consider that the user may had added the package via PackageRef or Packages.config)

I have an existing solution that builds in VS2017RC. It is a VSIX project and I'm trying to add the Microsoft.VSSDK.BuildTools package to it. When

[2017-02-09 12:19] sbaid commented on #4386
I hit today a hang during solution close with multiple threads with similar stack.  dump @ \\ddsbaid281\bugs\vs-hang-during-solution-close\

[2017-02-09 12:20] sbaid commented on #4386
`\\ddsbaid281\bugs\vs-hang-during-solution-close\`

[2017-02-09 12:49] rrelyea commented on #4467
team - reactivating since @2rik is seeing this on RC4 bits. please try to repro with old project loaded in RC4. can we repro? why? Will this be common enough that we should improve something?

[2017-02-09 12:56] rrelyea commented on #4545
Likely #4433 -- currently in 4.0.1
Please take a peek to confirm. Want to think more if we should be taking 4433 in RTM.

[2017-02-09 13:17] rrelyea commented on #4431
Please create a PR, but don't add anybody to it yet.
In addition to your normal details, please say "Once 4.0.1 work begins, i will add team members to the PR."

[2017-02-09 13:37] rrelyea commented on #4453
Marking as blocked, as I don't think we have a solid repro yet.

[2017-02-09 13:58] mide1234 opened #4546 "Nuget manager does not respect dependencies in nuspec files"
Microsoft Visual Studio Professional 2015
Version 14.0.25431.01 Update 3
Microsoft .NET Framework
Version 4.6.01055

NuGet Package Manager   3.4.4

Let's have a nuget package with following dependencies:
![obrazek](https://cloud.githubusercontent.com/assets/25344432/22786186/c0d9d5ae-eed7-11e6-9536-cc08be744029.png)

See how VS2015 interprets the dependencies:
![obrazek](https://cloud.githubuserco

[2017-02-09 13:58] rrelyea commented on #4361
#4358 is in 4.0.1 right now. REsolving this as a dupe.

[2017-02-09 13:58] #4361 closed, assigned to nobody

[2017-02-09 14:05] rrelyea commented on #4450
Marking as design and closing, as it appears that this should be working with the current template.
Please chime in if I have interpreted this incorrectly.

[2017-02-09 14:41] #3513 closed, assigned to karann-msft

[2017-02-09 14:46] CoolDadTx commented on #4545
I'm no longer having this issue in RC4-26206.0. The packages are being stored in packages.config.

[2017-02-09 15:08] joelverhagen commented on #4538
The plumbing to control the general maximum degree of parallelism is not in place today. I was not aware of a generic way in .NET to control this. I see [ParallelOptions.MaxDegreeOfParallelism](https://msdn.microsoft.com/en-us/library/system.threading.tasks.paralleloptions.maxdegreeofparallelism(v=vs.110).aspx), but this seems to effect `Parallel.ForEach`. In NuGet, we generally achieve parallelis