[2021-12-01 17:46] erdembayar commented on #11420
I only suspect that is the case, I could be wrong.

With "a network folder as "packagesPath" approach you might get perf penalty if there're large number of packages/versions.

I'll transfer to nuget.server team who can answer those questions better.

[2021-12-01 18:01] erdembayar commented on #11420
@aortiz-msft @nkolev92
Could you transfer this issue to NuGet/Gallery?

[2021-12-01 20:36] martinrrm opened #11427 "[Bug]: Unable to install a different version in an existing PackageReference project."
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Version 17.1.0 Preview 2.0 [31930.463.main]

### Worked before?

Yes

### Impact

I'm unable to use this version

### Repro Steps & Context

Root cause likely not on NuGet side, [1444702](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1444702)

1. Create a new console project (dotnet 6.0).
2. Open Project PM

[2021-12-01 22:21] erdembayar commented on #11426
It'll be rectified soon. It's in process, we wait for 2-3 weeks before make it default to prevent from any regression.

[2021-12-01 23:52] erdembayar commented on #7752
@JonDouglas
Is this spec https://github.com/NuGet/Home/wiki/%5BSpec%5D-Machine-readable-output-for-dotnet-list-package already approved? If yes then I can work on this.

[2021-12-01 23:59] JonDouglas commented on #7752
@erdembayar That spec predates my time here. I wrote https://github.com/NuGet/Home/blob/dotnet-audit/proposed/2021/DotNetAudit.md#dotnet-audit---json instead which hasn't been reviewed yet.

[2021-12-02 00:06] donnie-msft commented on #11425
@v-crchang Hello, thanks for finding this one. What is your Package Source dropdown at the time of this error (in your Actual section screenshots)?
Does it automatically change to something different? For example, "Visual Studio Offline Packages"?

[2021-12-02 00:08] erdembayar commented on #7752
@JonDouglas
Only deciding on json format should be enough for this issue. How do we proceed? Create new spec md proposal based on https://github.com/NuGet/Home/wiki/%5BSpec%5D-Machine-readable-output-for-dotnet-list-package? One problem is December is not good timing for spec reviews, most people will be OOF.

[2021-12-02 00:24] JonDouglas commented on #7752
It is small enough and has two directions to make a small proposal. When would be ideal to work on it?

[2021-12-02 00:33] erdembayar commented on #7752
If @aortiz-msft is ok with this then I can start working next Monday.

[2021-12-02 00:39] nkolev92 commented on #7752
One thing that we discussed as learnings when dealing with `dotnet list package` was that specs that have spent more than 3-6 months on the backburner need a refresher.

The idea behind that is that we're likely to have more relevant info now and we *might* have different policies by then.

Remember to put specs in the Home repo as a PR!

[2021-12-02 01:28] erdembayar commented on #7752
Related issue https://github.com/dotnet/sdk/issues/22366

[2021-12-02 01:37] arkalyanms commented on #11427
Fixed internally. It should flow out in P2

[2021-12-02 01:48] erdembayar commented on #6566
@martinrrm
Is it related to https://github.com/NuGet/Home/issues/9829?

[2021-12-02 01:55] erdembayar commented on #6284
Latest VS2022 UI has follow option.

![image](https://user-images.githubusercontent.com/8766776/144343069-b809eecb-ab81-4694-a690-1205c1107b82.png)
![image](https://user-images.githubusercontent.com/8766776/144343115-25fae2de-c98b-4efa-9bd1-db9e5b2cb78d.png)

[2021-12-02 02:09] v-crchang commented on #11425
@donnie-msft I am using the "nuget.org" Package Source, it will not automatically change to something different.

[2021-12-02 02:36] donnie-msft commented on #11425
@v-crchang Thanks for confirming. Today, could you try this repro again, and if you repro, submit to us a VS Feedback ticket with a screen recording? We will also get a trace that way we can analyze.
Thank you!

[2021-12-02 03:35] nkolev92 commented on #4014
Closing as stale. We log to the status ba.r

One would argue we log way too much.

[2021-12-02 03:35] #4014 closed, assigned to nobody

[2021-12-02 03:36] nkolev92 commented on #4525
Closing as lower priority.

With fast no-op and transitivity restore is best run on a solution level for now.

[2021-12-02 03:36] #4525 closed, assigned to nobody

[2021-12-02 03:38] nkolev92 commented on #5435
This has partly been done.

Source is deprecate as is for PR.

With source mapping, we now have different considerations.

This is not as relevant going forward.

[2021-12-02 03:38] #5435 closed, assigned to nobody

[2021-12-02 03:39] nkolev92 commented on #5460
Closing this as stale right now.

#5154 is a generic feature that can still be worked on.

[2021-12-02 03:39] #5460 closed, assigned to nobody

[2021-12-02 03:40] nkolev92 commented on #5411
Closing as stale.

[2021-12-02 03:40] #5411 closed, assigned to nobody

[2021-12-02 03:40] nkolev92 commented on #4498
This has been fixed with coded warnings.

[2021-12-02 03:40] #4498 closed, assigned to nobody

[2021-12-02 03:41] nkolev92 commented on #4374
Thank you reporting this issue. At this point we haven't received enough feedback to consider changing this behavior.
Please feel free to comment or open a new issue if needed.

[2021-12-02 03:41] #4374 closed, assigned to nobody

[2021-12-02 03:42] nkolev92 commented on #9499
Duplicate of https://github.com/nuget/home/issues/5272.

[2021-12-02 03:42] #9499 closed, assigned to nobody

[2021-12-02 03:44] nkolev92 commented on #7679
At this point we haven't received enough feedback to change this behavior.

We can reconsider if we receive more feedback.

[2021-12-02 03:44] #7679 closed, assigned to nobody

[2021-12-02 03:45] nkolev92 commented on #6925
At this point we haven't received enough feedback to change this behavior.

We can reconsider if we receive more feedback.

[2021-12-02 03:45] #6925 closed, assigned to nobody

[2021-12-02 03:48] nkolev92 commented on #6575
We have a new contract that's slightly different today:

That, https://github.com/NuGet/Home/blob/dev/proposed/2021/BulkRestoreCoordination.md, in addition to changes in GetPackagesAsync renders this less important.

I'm sure we'll revisit if necessary.

[2021-12-02 03:48] #6575 closed, assigned to nobody

[2021-12-02 07:31] v-crchang commented on #11425
@donnie-msft I can still repro this issue on Dev\6.1.0.68. I submit a VS Feedback ticket [1601679](https://developercommunity.visualstudio.com/t/the-status-of-installed-package-with-packagesrefer/1601679?from=email). You can trace the issue with the Feedback ticket.

[2021-12-02 15:01] fluffynuts opened #11428 "[Bug]: After adding key via `nuget setApiKey`, push commands error with `Key not valid for use in specified state.` & exit with code 1"
### NuGet Product Used

NuGet.exe

### Product Version

5.11.0.10

### Worked before?

Worked before a machine reload, so I have to assume the problem is more with setApiKey than with push perhaps?

### Impact

It's more difficult to complete my work

### Repro Steps & Context

1. generate an api key at nuget.org
2. `nuget setApiKey {key} -source nuget.org`
3. `nuget.exe push {package} -NonInterac

[2021-12-02 15:11] donnie-msft commented on #6566
This issue has multiple parts.
**Package Manager console** - I believe isn't improved yet. @martinrrm, we could consider for next sprint,

**PM UI** - We should validate that #9829 or other work has resolved:
-  >  but as a side effect it will change my Version tag to Version=”1.1.0” and so remove my version limitation
- This comment: https://github.com/NuGet/Home/issues/6566#issuecomment-72532196

[2021-12-02 17:58] aortiz-msft commented on #11409
@kartheekp-ms - Would you please get us memory allocations before and after this change?

[2021-12-02 18:03] kartheekp-ms commented on #11409
@aortiz-msft - The heap allocations of method have reduced by **200 MB** after the fix for OrchardCore solution restore scenario. I added more details to the PR description. https://github.com/NuGet/NuGet.Client/pull/4348

[2021-12-02 19:57] nkolev92 commented on #6566
I think some of the asks in this issue need customer validation/design.

Specifically, point 1 in the original issue body.

[2021-12-02 20:09] erdembayar commented on #11291
Received workaround suggestion, need to check if it works.

[2021-12-02 20:47] erdembayar commented on #11428
@fluffynuts
I was not able to repro this with nuget 5.1.1. It looks you have issue with your `nuget.config` file (%APPDATA%\Roaming\NuGet\NuGet.config on Windows, ~/.nuget/NuGet/NuGet.config on Linux/Mac). Please note encrypted value which red marked below is [specific per user](https://github.com/NuGet/Home/issues/7850#issuecomment-481475456).
![image](https://user-images.githubusercontent.com/87

[2021-12-02 21:20] nkolev92 commented on #5413
With 6.0, `dotnet restore` does;

[code]

In VS you'd get:

[code]

But you still get the SDK error.

As such, I think this can be considered fixed.

[2021-12-02 21:21] nkolev92 commented on #5413
Looking at it again, I think we can enhance the NuGet message to include the "alias".

We lose the

[2021-12-02 21:21] #5413 closed, assigned to rrelyea

[2021-12-03 00:30] nkolev92 commented on #10261
Hey @alfredo-pozo

Looking at your project setup, there are conditions that are different depending on the context that just can't be resolved in every scenario.

A few things:

1. Consider removing all custom imports of NuGet intermediate targets: obj\Analysis.csproj.nuget.g.props and the likes.
1. For example, some of your props/targets such as cs.props can't be loaded because they depend on Sol

[2021-12-03 00:30] #10261 closed, assigned to nobody

[2021-12-03 00:40] nkolev92 commented on #4376
A few things here:

1. Ensure that restore is not spamming the status bar.
This can be annoying.
1. Ensure the messages make sense when PC and PR are mixed.

[2021-12-03 00:41] nkolev92 commented on #4376
Specifically see: https://github.com/NuGet/Home/issues/9915#issue-679473943

[2021-12-03 00:41] nkolev92 commented on #4376
@JonDouglas Hoping I can get some support for this during customer sprint :)

[2021-12-03 00:43] nkolev92 commented on #8917
This covers https://github.com/NuGet/docs.microsoft.com-nuget/issues/2404.

[2021-12-03 00:45] nkolev92 commented on #9767
I vote for changing the message here instead of introducing a new warning.

[2021-12-03 04:31] mjkkirschner commented on #10261
@nkolev92 thank you for investigating.

[2021-12-03 06:40] dhymik commented on #9954
My nuget.exe is **not** blocked, yet I have the same problem. Version 5.11.0.10.

[2021-12-03 09:22] v-luzh opened #11430 "[Bug]: [Pack] No restore info shows in the CLI when running command “dotnet pack --no-dependencies”"
### NuGet Product Used

dotnet.exe

### Product Version

Dotnet SDK Version: 6.0.200-preview.21573.3

### Worked before?

Worked on Dotnet SDK Version: 5.0.200-preview.21077.7

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context
#### Details about the problem
VS Version: Main\32002.62
NuGet Version: Dev\6.1.0.68
OS Version: Windows-11-Enterprise-21H2

#### Repro steps
1. Crea

[2021-12-03 09:53] vincferr opened #11431 "[Bug]: nuget 6 not including native file"
### NuGet Product Used

NuGet.exe

### Product Version

6.0.0.280

### Worked before?

5.11.0.10

### Impact

I'm unable to use this version

### Repro Steps & Context

I am trying to wrap into a nuget package some native c++ code, using the following nuspec file

[code]

All the files are existing and correcly located.
I have noticed that the new version of nuget does not include the native files

[2021-12-03 15:26] Regenhardt commented on #11417
So I tried different things, have a slightly smaller example now with a problem that seems to be closely related, just from another perspective now, need some insights on how to diagnose this further or more deeply:

I noticed on building OurProduct that the error also comes from a referenced library project in the same solution: OtherTeamAdapter.

OtherTeamAdapter now has a PackageReference on In

[2021-12-03 17:10] erdembayar commented on #11417
You can create binlog for `build` action too and diagnose same way for restore.
`msbuild my.sln /bl`

[2021-12-03 18:50] erdembayar commented on #11430
I was not able to repro expected part, I used "5.0.209" version

[code]

Also, I don't get why both csprojs are packed same time. It looks I'm missing another context  here.

[2021-12-03 18:56] erdembayar commented on #11431
@vincferr
Thank you for filing this issue.
Can you help us with repro steps? Can you remove sensitive data/classes/info and share with us bare minimum project/solution which exhibit issue?
Without it it’s hard to repro for us.

[2021-12-03 19:39] voam commented on #7657
Replacing
`<PaddedSolutionDir Condition=" '$(OS)' == 'Windows_NT'">"$(SolutionDir) "</PaddedSolutionDir>	`
with
`<PaddedSolutionDir Condition=" '$(OS)' == 'Windows_NT'">"$(SolutionDir)\"</PaddedSolutionDir>	`

in NuGet.targets worked for me.

[2021-12-03 20:38] nkolev92 commented on #11406
I edited the main issue body to include the recommendation.

We're working on updating the docs with this guidance as well.

[2021-12-03 20:39] nkolev92 commented on #5261
Confirmed dup of https://github.com/NuGet/Home/issues/9864.

While that issue is newer, it contains *more* details, so closing this as a dup of that.

[2021-12-03 20:39] #5261 closed, assigned to nobody

[2021-12-03 21:15] nkolev92 commented on #3704
Fixed now.

Nowadays you'd get something like:

error : The
local source C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\'
doesn't exist.

[2021-12-03 21:15] #3704 closed, assigned to nobody

[2021-12-03 21:17] nkolev92 commented on #7362
Thank you reporting this issue. At this point we haven't gotten enough reports to continue investigating this issue.

Based on the name of the file in question, it's likely an issue on xamarin side.

If you're still seeing this please consider reporting it in that repo.

[2021-12-03 21:17] #7362 closed, assigned to nobody

[2021-12-03 21:57] nkolev92 commented on #7866
At this point, we haven't received enoguh information to add a special switch for RepositoryCommit.

Not that `dotnet` commands support MSBuild properties, so specifying `dotnet pack -p:RepositoryCommit:value should work.

[2021-12-03 21:57] #7866 closed, assigned to nobody

[2021-12-03 22:37] dominoFire commented on #4490
This Is what I see on latest VS 2022

[code]

When you use `-online` flag, it opens https://docs.nuget.org ; do we want an specific page with detailed instructions on using `install-package` ?

``
PM> get-help install-package -Online
[code]

[2021-12-04 01:06] nkolev92 opened #11432 "Add progress reporting during package installation"
Follow up to: https://github.com/NuGet/Home/issues/9782

In order to keep the changes manageable, the progress reporting for package installation/uninstallation/updates will be added separately.

[2021-12-04 03:38] #10921 closed, assigned to jebriede

[2021-12-05 00:47] KirillOsenkov opened #11433 "[Bug]: NuGet.Common.dll RuntimeEnvironmentHelper.GetIsMacOSX throws a first-chance exception"
### NuGet Product Used

dotnet.exe, MSBuild.exe, NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console, NuGet SDK

### Product Version

6.0.0-rc.275+165b5b858ac5fdc6011bf127a8cc920efa8a5849.165b5b858ac5fdc6011bf127a8cc920efa8a5849

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

When you debug NuGet with

[2021-12-05 13:01] vbjay commented on #4071
![image](https://user-images.githubusercontent.com/3629489/144747497-83ebad6e-53f8-4f5f-b73e-12fba19ff188.png)
![image](https://user-images.githubusercontent.com/3629489/144747510-7490b172-b476-4b8a-9924-b95b8f191e6b.png)

Yes this is pretty much a pain.  I don't want net 6.0 nuget packages suggested for update when I am in a 5.0 project.  It makes updating packages a chore.

[2021-12-06 06:46] v-luzh commented on #11430
Hi @erdembayar, just want to make sure if you had the step2: project1->project2 (project1 reference project2).

[2021-12-06 08:12] Regenhardt commented on #11417
The build has exactly this problem:

It notes the dependency on InternalLibY 2.67 and doesn't find it, because it looks in the wrong places. It should be looking in %USERPROFILE%/.nuget/packages/InternalLibY, but for some reason does not:

![image](https://user-images.githubusercontent.com/10476293/144810420-e025b2e9-bc4d-4173-835e-b1a79d09be66.png)

I guess this is not an MsBuild ticket, do I hav

[2021-12-06 10:04] andreasabel opened #11434 "[Feature]: nuget CLI should know options "--version" and "--help""
### NuGet Product(s) Involved

NuGet.exe

### The Elevator Pitch

My first invocations of brew-installed nuget (`brew install nuget`):
[code]
[code]
Yeah, that doesn't shine.
Sure I got the right `nuget`?

Just any serious CLI will support `--help` and `--version`.  How difficult to implement is that?

### Additional Context and Details

[code]

[2021-12-06 14:03] vlada-shubina opened #11435 "[DCR]: Better error reporting in API when certain credential provider is not installed"
### NuGet Product(s) Affected

dotnet.exe

### Current Behavior

When certain credential provider is not installed, the API returns the following error on the request,
[code]

The exception type is not different from other error, and it misses any details which would be useful to show to user.

### Desired Behavior

Consider returning different exception type for this error, so it can be caught an

[2021-12-06 15:41] erdembayar commented on #11430
Yes, I did it. There's tiny bit difference in logging, most likely due to no-op restore. In general packing wouldn't even start without successful restore, you can see restore did happen.

![image](https://user-images.githubusercontent.com/8766776/144875401-f4b1b3b9-aecd-47d6-b612-33fd755f1af5.png)

[2021-12-06 15:47] erdembayar commented on #11417
Did you do text search of that reference in your source code? There could be clue why it's different.
Msbuild repo: https://github.com/dotnet/msbuild

[2021-12-06 16:50] Regenhardt commented on #11417
I didn't actually change anything in the operational code - the only thing I changed is \<Reference> to \<PackageReference> in the csproj file.

[2021-12-06 17:21] erdembayar opened #11436 "Convert tests using TestDirectory to SimpleTestPathContext Part1"
It's related to https://github.com/NuGet/NuGet.Client/pull/4279
We have many tests using `TestDirectory` method which may pollute global packages folder since it doesn't clean up temporary created assets (causes flakiness). In order to onboard `PackageSourceMapping` we need to convert some to `SimpleTestPathContext` which is cleans up temporary created assets.  This will reduce overall flakiness o

[2021-12-06 17:34] #11189 closed, assigned to martinrrm

[2021-12-06 21:46] erdembayar commented on #9949
For my ref: https://blog.kellybrazil.com/2021/12/03/tips-on-adding-json-output-to-your-cli-app/

[2021-12-06 22:05] JonDouglas commented on #11434
[Try `help` or `?`](https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-help).

In .NET CLI, there is support for [`help`](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-help) and even [options](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet#options-for-dotnet-by-itself).

[2021-12-06 22:50] nkolev92 commented on #10766
Closing as dup of https://github.com/NuGet/Home/issues/6461.

The error is better, but not yet good enough.

[2021-12-06 22:50] #10766 closed, assigned to nobody

[2021-12-07 00:53] nkolev92 commented on #9417
Fixed in https://github.com/NuGet/NuGet.Client/pull/4172.

Try out Visual Studio 2022, dotnet SDK 6.0.100 and/or NuGet.exe 6.0 for the matching tooling.

Please ensure all your tooling is updated (consider using msbuild and VS since they ship together for best results).

[2021-12-07 00:53] #9417 closed, assigned to nobody

[2021-12-07 00:54] nkolev92 commented on #10255
Fixed in NuGet/NuGet.Client#4172.

Try out Visual Studio 2022, dotnet SDK 6.0.100 and/or NuGet.exe 6.0 for the matching tooling.

Please ensure all your tooling is updated (consider using msbuild and VS since they ship together for best results).

[2021-12-07 00:54] #10255 closed, assigned to nobody

[2021-12-07 00:57] nkolev92 commented on #6461
I have dupped a few different issues to this one and elevated this one into the backlog.

[2021-12-07 01:27] nkolev92 commented on #5591
Duping this to https://github.com/NuGet/Home/issues/7245, while this one is older, the linked issue has more engagement.

[2021-12-07 01:27] #5591 closed, assigned to nobody

[2021-12-07 01:33] nkolev92 commented on #5504
Dupping this to https://github.com/NuGet/Home/issues/6373.

Failing when a source is unavailable is by design. https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#packagereference-and-sources

[2021-12-07 01:33] #5504 closed, assigned to nobody

[2021-12-07 01:37] nkolev92 commented on #4065
Testing today, it returns 1.

Closing.

[2021-12-07 01:37] #4065 closed, assigned to nobody

[2021-12-07 01:41] #9163 closed, assigned to nobody

[2021-12-07 01:41] #9325 closed, assigned to rrelyea

[2021-12-07 01:42] #9166 closed, assigned to nobody

[2021-12-07 01:42] #9270 closed, assigned to rrelyea

[2021-12-07 01:43] #9472 closed, assigned to nobody

[2021-12-07 01:59] nkolev92 commented on #6773
Can't repro anymore.

[2021-12-07 01:59] #6773 closed, assigned to nobody

[2021-12-07 02:00] nkolev92 commented on #5661
Closing as lower priority.

[2021-12-07 02:00] #5661 closed, assigned to nobody

[2021-12-07 02:03] nkolev92 commented on #5549
I never realized I create 2 of the same issue, lol.

Closing as dup oif https://github.com/NuGet/Home/issues/7717 which was fixed in 16.7. https://github.com/NuGet/NuGet.Client/pull/3249

[2021-12-07 02:03] #5549 closed, assigned to nobody

[2021-12-07 02:48] nkolev92 commented on #11338
PR out: https://github.com/NuGet/NuGet.Client/pull/4361

We'd need to decide whether we want this in 6.0.200 preview 3 (feature stabilization).

Normally I'd say let's wait, but this shouldn't be something that's exercised at all.

[2021-12-07 18:18] kartheekp-ms commented on #11433
As per [doc](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.runtimeinformation.isosplatform), `RuntimeInformation.IsOSPlatform(OSPlatform)` method is available on .NET Core and .NET Framework 4.8 and greater. `NuGet.Common` targets `net45` framework also which may require existing code.

[2021-12-07 18:37] kartheekp-ms commented on #11434
`nuget help` command produced following output which has version number also.

[code]

[2021-12-07 18:46] andreasabel commented on #11434
But `--help` is standard.  You could make it an alias for `help`.  Cf.:
[code]
Option `--version` is also standard. Cf.:
[code]

[2021-12-07 18:59] KirillOsenkov commented on #11433
Even detecting if (IsWindows) return false would be great. If we know it's windows, no need to try to use a Mac API and throw.

[2021-12-07 20:21] iamjplant opened #11437 "[Feature]: Nuget Sign Support for CSP's and thus HSM's outside of the Windows Store"
### NuGet Product(s) Involved

NuGet.exe

### The Elevator Pitch

Over at https://github.com/nuget/home/issues/5907#issuecomment-348030881 the parameters for CryptographicServiceProvider and KeyContainer were removed.  I would like those added back.
Certificates are inherently ephemeral things.  As it stands, I have to add my signing certificate to the Windows Cert Store as part of my Jenkins pipe

[2021-12-07 22:51] #11338 closed, assigned to nkolev92

[2021-12-08 00:59] nkolev92 opened #11438 "Remove Mac Catalyst warning"
See https://github.com/NuGet/Home/issues/11338 for more details.

maccatalyst is no longer compatible with xamarin.ios

[2021-12-08 18:33] erdembayar opened #11439 "dotnet list package outdated doesn't suggest stable version"
Create simple console app then add Serilog  2.10.0-dev-01245.
When you do `dotnet list package outdated`, it should suggest "2.10" stable according to VS.

[code]
![image.png](https://images.zenhubusercontent.com/5eb1d84a3cd56675c3efe510/f683c112-174e-4c65-b7ad-3e11d344a561)

Output for `dotnet list package outdated --include-prerelease` is fine.

[code]

[2021-12-08 21:34] madkat opened #11440 "[Bug]: No fallback mechanism for projects without IVsRestoreInfoSource implementation blocks package restore, build, IntelliSense for supported projects"
### NuGet Product Used

Visual Studio Package Management UI, Visual Studio Package Manager Console, Other/NA

### Product Version

NuGet.VisualStudio.dll 6.0.0.275-6.0.1.1 (Visual Studio 2022)

### Worked before?

Worked in Visual Studio 2019 and earlier.

### Impact

I'm unable to use this version

### Repro Steps & Context

There is no fallback mechanism in place for project systems that do not

[2021-12-09 07:53] v-luzh commented on #11430
Hi, @erdembayar, I think your repro is expected result (only the first project should be restored) for this bug, You can see there is no restored info in my actual result (that's the issue) above. Can you repro my actual result in latest VS main build with .NET SDK 6.0?

And as you said  **"Also, I don't get why both csprojs are packed same time. It looks I'm missing another context here"**, do yo

[2021-12-09 11:45] mwmccallum commented on #10633
DevOps Server using DotNetCoreCLI@2 does not use argument '--skip-duplicate' supplied.

- task: DotNetCoreCLI@2
  displayName: "Push to Artifacts"
  inputs:
    command: 'push'
    arguments: '--skip-duplicate'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
    nuGetFeedType: 'internal'
    publishVstsFeed: '$(nuGetFeedPath)'

Common sent during Pipeline Run:
/usr/bin/dotnet nuget

[2021-12-09 16:56] jeffkl opened #11441 "[Epic]: NuGet-based MSBuild project SDK resolver improvements"
Since its original development, the NuGet-based MSBuild project SDK resolver has needed some improvements.  Several fixes have been shipped over the years but there are still some issues that we should fix.  Other general improvements are also needed.

# Open Issues ([Query](https://github.com/NuGet/Home/issues?q=is%3Aopen+is%3Aissue+label%3AProduct%3AMSBuildSDKResolver+label%3AType%3ABug))
- [x]

[2021-12-09 16:58] jeffkl opened #11442 "Improve NuGetSdkResolver tests"
The NuGet SDK resolver unit tests are missing some scenarios and do not simulate calls from MSBuild.  Let's improve the code coverage and add more scenarios.

Epic: https://github.com/NuGet/Home/issues/11441

[2021-12-09 17:03] jeffkl opened #11443 "[Bug]: NuGetSdkResolver does not support being called in parallel"
### NuGet Product Used

MSBuild.exe

### Product Version

All

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

The MSBuild SDK resolution APIs can call SDK resolvers multiple times in parallel for each unique SDK.  They can also call an SDK resolver for the same SDK if its part of two different builds (which happens in Visual Studi

[2021-12-09 17:04] erdembayar opened #11444 "Convert tests using TestDirectory to SimpleTestPathContext Part2"
It's related to https://github.com/NuGet/NuGet.Client/pull/4279
We have many tests using `TestDirectory` method which may pollute global packages folder since it doesn't clean up temporary created assets (causes flakiness). In order to onboard `PackageSourceMapping` we need to convert some to `SimpleTestPathContext` which is cleans up temporary created assets.  This will reduce overall flakiness o

[2021-12-09 17:07] jeffkl opened #11445 "[Feature]: Add more logging to NuGetSdkResolver"
### NuGet Product(s) Involved

MSBuild.exe, dotnet.exe

### The Elevator Pitch

I'm adding more logging to the MSBuild APIs that call SDK resolvers which will also allow our SDK resolver to add more logging.

Dependent on https://github.com/dotnet/msbuild/issues/7136

### Additional Context and Details

_No response_

[2021-12-09 19:02] donnie-msft commented on #2472
Disabled all my sources, and PM UI opened with blank controls, empty package source dropdown. All tabs/controls are loaded and enabled, but don't do anything.

![image](https://user-images.githubusercontent.com/49205731/145458699-7743f96a-097a-43ba-87e1-d83738e69882.png)

![image](https://user-images.githubusercontent.com/49205731/145458708-c80bdc58-02af-42c4-9849-5b562efcc5d1.png)

[2021-12-09 19:14] nkolev92 commented on #11426
6.0 has been published, https://www.nuget.org/packages/NuGet.CommandLine/6.0.0.

Update -Self should now work.

[2021-12-09 19:14] #11426 closed, assigned to kartheekp-ms

[2021-12-09 19:19] nkolev92 commented on #11433
We can always conditionally change the code so that net472  does not throw.

I really wish we'd get rid of net45, but that's a different conversation.

[2021-12-09 19:27] nkolev92 commented on #11439
There might be a thing where if the current verison is prerelease, the command may return prerelease results as well.

[2021-12-09 19:40] abatishchev commented on #4388
Got the same error between upgrading from 5.8.1.7021 to 5.11.0.10.

Working build:

[code]

Failing build:

[code]

[2021-12-09 19:52] aortiz-msft commented on #1851
@dtivel - Would you please summarize our current state? Also, if we are blocked on a crypto API, we need to create an issue against the proper team to drive the conversation.

cc @JonDouglas

[2021-12-09 20:04] nkolev92 commented on #10633
@mwmccallum

Try using the `NuGetAuthenticate` task and then using a general commandline task to run `dotnet nuget push`, the same way you'd run it from local.

[2021-12-09 21:20] madkat commented on #11440
I was able to get IVsProjectRestoreInfoSource implemented for my project system and get project nomination functional. This should prevent my language from blocking C# users. There are a number of non-CPS project systems out there that will likely not have implementation for IVsProjectRestoreInfoSource. Mixed project users are unlikely to understand why their C# projects are not working in that si

[2021-12-09 21:25] #11438 closed, assigned to nkolev92

[2021-12-10 00:57] kartheekp-ms commented on #9829
@martinrrm - I think we should reopen the issue because the commit was reverted.

[2021-12-10 09:42] gdoron commented on #6764
@anangaur
This feature is out for ~2 years and used by many companies and supported by things like Dependabot, but it is still in Incubation-preview mode.
I'm wondering what's missing in order to make it 1st class citizen and when do we expect it to happen?

Best,
Doron

[2021-12-10 16:54] Phenek commented on #7792
UP

[2021-12-10 17:27] anangaur commented on #6764
We have started to actively work on it. @JonDouglas is driving this effort

[2021-12-10 19:01] erdembayar commented on #7752
For my ref: https://blog.kellybrazil.com/2021/12/03/tips-on-adding-json-output-to-your-cli-app/

[2021-12-10 19:22] nkolev92 opened #11447 "When a package is installed in the global packages folder, add details about the package location"
Currently the message is:

The suggestion is that we add the `path` to this message as well.

cc @JonDouglas

[2021-12-10 19:38] nkolev92 opened #11448 "When running a restore in Visual Studio for both packages.config and PackageReference, there's a redundant `Restoring NuGet packages` message"
See https://github.com/NuGet/NuGet.Client/pull/4366.

Basically we have an extra message in both the status bar and the output window.

cc @JonDouglas

[2021-12-10 21:23] #4376 closed, assigned to nkolev92

[2021-12-10 21:23] #6047 closed, assigned to nkolev92

[2021-12-10 21:41] #11442 closed, assigned to jeffkl

[2021-12-10 23:16] erdembayar opened #11449 "Create spec for machine readable json output for "dotnet list package""
Sub issue of https://github.com/NuGet/Home/issues/7752, `json` output spec only.

Many organizations are required by regulation to audit packages that they're using in a repository.

Currently there's no easy way to produce a Software Bill of Material (SBOM) output which can be consumed by another auditing system or kept for records.
To do:
* Rename spec md file to `DotnetListPackageMachineReadabl

[2021-12-11 03:42] kartheekp-ms commented on #11430
@v-luzh - I followed the repro steps except that I added `Newtonsoft.Json` package to `project1` and then executed `dotnet pack --no-dependencies` which produced the following excepted output.

![image](https://user-images.githubusercontent.com/52756182/145662460-bd79187f-9d8b-4b88-8057-be6bb4b0600c.png)

The behavior seems to be working as expected. What do you think?

[2021-12-11 06:38] jeffkl opened #11450 "[DCR]: NuGet SDK resolver should cache global.json itself"
### NuGet Product(s) Affected

MSBuild.exe, dotnet.exe

### Current Behavior

Currently the NuGet SDK resolver relies on the MSBuild SDK resolver APIs to save state.  However, the state is not guaranteed to be thread-safe and so currently the NuGet SDK resolver is parsing global.json many times by Visual Studio.  This is because the state is only set after a resolver completes and the cache key is

[2021-12-12 01:42] kartheekp-ms opened #11451 "[Bug]: Avoid explicitly casting the result of GetService/GetServiceAsync, use the extension methods instead"
### NuGet Product Used

Visual Studio Package Management UI, Visual Studio Package Manager Console

### Product Version

VS

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

Address https://github.com/NuGet/NuGet.Client/pull/4324/files#r737866598 comment.

### Verbose Logs

_No response_

[2021-12-13 11:19] gdoron commented on #6764
Great to hear!
It's such an important feature. Do we have an ETA? @JonDouglas

[2021-12-13 20:00] warpedgeoid commented on #8186
Has this changed at all with .NET 6? I haven't seen any updates nor documentation that mention multi-targeting for WASM.

[2021-12-13 21:18] nkolev92 commented on #11402
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2021-12-13 21:18] #11402 closed, assigned to nobody

[2021-12-13 21:22] nkolev92 commented on #11440
We'll take a look.

[2021-12-13 21:52] nkolev92 commented on #11316
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2021-12-13 21:52] #11316 closed, assigned to nobody

[2021-12-14 00:44] nkolev92 commented on #11406
Just an update here.

Thanks to your help we have confirmed the problem is related to the azure devops tasks, as noted in https://github.com/microsoft/azure-pipelines-tasks/issues/15542.

We're going to close the issue on NuGet side, as there is no action from this part of the tooling.
If you're hitting this issue, please refer to the  recommendation https://github.com/NuGet/Home/issues/11406#issu

[2021-12-14 00:44] #11406 closed, assigned to nkolev92

[2021-12-14 15:04] JonDouglas commented on #11434
It's not difficult, but this would be making a change to a CLI that [already was designed & implemented these command/options over 10 years ago](https://docs.microsoft.com/en-us/nuget/release-notes/nuget-1.1#release-candidate) and follows [existing patterns of `help <COMMAND>`](https://en.wikipedia.org/wiki/Help_(command)).

[.NET CLI is the modern equivalent](https://docs.microsoft.com/en-us/nuge

[2021-12-14 17:27] martinrrm opened #11453 "Floating Versions in PM UI, define manual test cases for vendors"
With the implementation of Floating Versions, the behavior of the PM UI for installing/updating a package will change, that's why we need to update the manual test cases for our vendors so they know the new behavior and can test it to ensure there are no regressions on basic functionality.

[2021-12-14 18:18] martinrrm commented on #9829
Reopening because the changes were reverted and will be merged later in 17.2

[2021-12-15 01:02] erdembayar opened #11454 "dotnet integration pack test IL issue"
Please run any dotnet integration test like one below.

https://github.com/NuGet/NuGet.Client/blob/dev-eryondon-9949PackNoWarn/test/NuGet.Core.FuncTests/Dotnet.Integration.Test/PackCommandTests.cs#L5716-L5783

In the 1st run everything works as expected, but 2nd/3rd of same test fails with obscure error.

[code]

Workaround: Backup "NuGet.Client\artifacts\NuGet.Build.Tasks.Pack\bin\Debug\netstanda

[2021-12-15 10:31] tmds commented on #1851
We had a discussion about this with Microsoft 2 years back.

Two points came up:
* The solution can not be as-secure as on Windows.
* Depending on what you are encrypting, there are different requirements, which means using algorithms, key lengths, ...

The first is something we need to accept. We can make it as secure as it is on Linux. That means the key for encrypting/decrypting is stored under

[2021-12-15 18:01] #11348 closed, assigned to erdembayar

[2021-12-15 18:01] erdembayar commented on #11348
Issue moved to [NuGet/Client.Engineering #1343](https://github.com/NuGet/Client.Engineering/issues/1343) via [**ZenHub**](https://www.zenhub.com/)

[2021-12-15 18:09] erdembayar commented on #11349
@aortiz-msft  @nkolev92
Closing this one. We can tracking publish tool progress here:  https://github.com/NuGet/Client.Engineering/issues/1343

[2021-12-15 18:09] #11349 closed, assigned to erdembayar

[2021-12-15 19:12] #11451 closed, assigned to nkolev92

[2021-12-15 19:14] nkolev92 commented on #11348
Moving issues with the same org should/can be done through Transfer Issue

[2021-12-15 19:16] erdembayar commented on #11348
@nkolev92
Sure, I'll do next time. May I ask why? I'm just trying to understand what difference in end result would be.

[2021-12-15 19:19] nkolev92 commented on #11348
It won't close the issue, it'll just add a redirect.
So every link to the previous issue will still work automatically.

I'll also completely "hide" the issue, which means that if something was public, it's now private.

[2021-12-15 19:20] nkolev92 commented on #11348
In particular, you'd do https://docs.github.com/en/issues/tracking-your-work-with-issues/transferring-an-issue-to-another-repository instead of the zenhub thing.

[2021-12-15 20:03] tmat opened #11455 "[Bug]: SourceRoot items added in .nuget.g.props files do not take NuGetPackageFolders property in consideration"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.100

### Worked before?

Yes

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Below is the relevant part of the generated props file. Setting `NuGetPackageFolders` will not have any effect on the generated `SourceRoot` items. Shouldn't these be consistent?

[code]

### Verbose Logs

_No response_

[2021-12-15 23:30] nkolev92 commented on #11455
NuGetPackageFolders is not something you should be setting, it's something that only NuGet sets.

I think this is by design.

[2021-12-15 23:31] nkolev92 opened #11456 "Simplify methods in the LockFileUtils, obsolete unused LockFileDependencyProvider"
Related to https://github.com/NuGet/Home/issues/5957

[2021-12-16 01:40] tmat commented on #11455
I need to set it to establish deterministic test environment. If NuGet sets `NuGetPackageFolders` then it will still be inconsistent with SourceRoots, no?

[2021-12-16 01:42] tmat commented on #11455
Why not generate a simpler XML (note that the items in NuGetPackageFolders must have trailing `\` to be valid SourceRoot entries)?

[code]

[2021-12-16 02:02] nkolev92 commented on #11455
NuGet sets those 2 based on the global packages folder and fallback folders passed into that environment.

It's not done because of https://github.com/NuGet/Home/issues/7968.

When the original implementation was done to avoid the lack of trailing slashes cause issues in SourceRoot.

[2021-12-16 02:28] tmat commented on #11455
Which environment variables/msbuild properties can I set to control all these directories?

This should work if paths in `NuGetPackageFolders` don't have normalized trailing slash:

[code]

[2021-12-16 09:14] JensNordenbro commented on #1521
Hi @rohit21agrawal ; I can't relate your link to Visual Studio solution restore? Can you please examplify how to replace the ability of automatic package restore on solution level in Visual Studio without doing some kind of pre build script that runs on a project level?

[2021-12-16 10:43] vernou commented on #1192
I develop a library that use the NuGet package Microsoft.EntityFrameworkCore.SqlServer 3.1.
I write the csproj :
[code]
But when my library is installed in a project, then it resolves Microsoft.EntityFrameworkCore.SqlServer 3.1.0 that is a old version.

Ideally (in my case) would be NuGet to resolve the highest version of the range defines from a dependency. Maybe this can be :
[code]

I understan

[2021-12-16 15:03] rainersigwald commented on #11417
I can't find a good outline of "what actually happens when you restore and build using PackageReference" so let me sketch it out a bit:

1. You have `PackageReference` items in your project.
2. You run NuGet restore with `msbuild -t:restore` or in Visual Studio or `msbuild -restore` or implicitly in `dotnet build`
    1. NuGet walks through all your projects and figures out the references between

[2021-12-16 16:01] iconics-milan opened #11457 "[DCR]: NuGet allows version conflict resolution to cross major version boundaries potentially resulting in runtime errors"
### NuGet Product(s) Affected

Visual Studio Package Management UI

### Current Behavior

Per semver, new major versions are allowed to introduce breaking changes in their API.
Yet NuGet will not inform of any potential problems and will download packages with a higher major version than specified by a dependency, unless the dependency explicitly specifies a maximum version in its PackageReference

[2021-12-16 16:04] erdembayar opened #11458 "Retaining access to DevDiv data"
E-mail here:

What/Why

The VSTelemetryReaders security group ( http://idweb) is the previous platform where you can request to access DevDiv data. Currently, we are migrating to the MyAccess platform to better align to Corporate and Azure Access Control policies.

Current Status

Yesterday, we took the last step to complete the migration but noticed a few folks haven't migrated to MyAccess yet as

[2021-12-16 18:10] #11456 closed, assigned to nkolev92

[2021-12-16 20:02] heng-liu opened #11459 "Flaky signing tests on mac"
There are three flaky signing tests failed after macos version updated to 11.6:
[code]

[2021-12-16 20:45] madkat commented on #11440
We are continuing to run into problems with the bulk restore mechanism. Is there a way to disable the "nugetbulkrestorecoordination" feature? I don't seem to have access to setting values in the Experimentation Service, and the environment variable only enables the feature, not disables.

[2021-12-16 21:44] nkolev92 commented on #11440
@madkat

I tried to best understand your scenario, and I don't think it's the new feature that's causing a problem. The timeout has changed, which is probably what you're seeing, from 20s to 300s, so something that might've been an issue but you didn't notice it until now.

LegacyPackageReferenceProject isn't required implement IVsProjectRestoreInfoSource, in fact they cannot cause they don't nomi

[2021-12-16 21:58] nkolev92 commented on #11455
You can set `RestoreSources` and `RestoreFallbackFolders`.

Basically the general configuration.

[2021-12-16 21:58] madkat commented on #11440
Yes, my project system sets the PackageReferences capability. We added support for PackageReference items in a project system based on Managed Package Framework, so we are a Legacy project that supports PackageReferences.

[2021-12-16 22:00] nkolev92 commented on #11440
Setting that capability implies that a project will call nominate.

Can you try removing that and testing?

It's likely that your projects took 20s longer to load before becaue of that.

[2021-12-16 22:00] nkolev92 commented on #11440
Well 20s longer for the intellisense stage to load, not necessarily the project itself.

[2021-12-16 22:02] nkolev92 commented on #11440
A supported legacy project system can advertise PackageReference support by implementing VSProject4.

https://github.com/NuGet/NuGet.Client/blob/54e041fed028866a8695709f202dc1e5ee35cdc8/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/LegacyPackageReferenceProjectProvider.cs#L103-L104 contains details about when a project is PR (because by default, those project styles are considere

[2021-12-16 22:13] madkat commented on #11440
That makes sense. I previously did not have implementation for IVsProject4 until I was troubleshooting this issue. Removing the capability and keeping the IVsProject4 implementation looks like the right path forward.

[2021-12-16 22:24] nkolev92 commented on #11440
phew.

Glad that solved it, and we're not regressing anything with the bulk restore coordination, as that change is critical for making branch switching functional in VS.

I created an issue about documenting PR support: https://github.com/NuGet/docs.microsoft.com-nuget/issues/2620.

Anything you would've liked to see differently?
Beyond having documentation on how to do this successfully ofc.

[2021-12-16 22:32] madkat commented on #11440
I am generally really happy to see the unified package restore approach working. It's a pain point for my .NET Core/.NET 6 users whenever a restore fails to occur, and it looks like this may have cleaned up some rough edges. Documentation will be a big win for any remaining MPFproj developers that have not yet updated to support PackageRef.

Thank you for getting back to me today! Your timing coul

[2021-12-16 22:36] nkolev92 commented on #11440
Sounds good.

Closing this for now.

[2021-12-16 22:36] #11440 closed, assigned to nkolev92

[2021-12-16 23:54] nkolev92 commented on #11385
Reviewing NU1102 and the likes also makes sense for these scenarios.

[2021-12-17 09:47] ImrePyhvel commented on #8359
The issue is still relevant.

I do want my own satellite assemblies to be included for localization, but I need to exclude SOME satellite assemblies from dependencies, for example from https://www.nuget.org/packages/Microsoft.Data.SqlClient which packs in additional 10x 250KB files. My app has nothing to do with most languages forced on me (chinese, korean, whatnot.. ), nor do I want technical err

[2021-12-17 10:15] v-luzh opened #11461 "[Bug]: The “version” drop-down box shows the installed version instead of latest version in Browse tab before refreshing"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

NuGet Client Dev\6.1.0.83

### Worked before?

No

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

#### Details about Problem
VS Version: Main\32016.83
NuGet Version: Dev\6.1.0.83
OS Version: Windows-11-Enterprise-21H2
#### Repro steps
1. Create a C# Console App (.NET 6.0) project.
2. Open

[2021-12-17 15:15] Regenhardt commented on #11417
Thanks for the explanation, that really helps to know where to actually look :D

So step 2 may do something wrong here, since there isn't a reference to the actual library, only a relative reference from within the package. They all look like this:

![grafik](https://user-images.githubusercontent.com/10476293/146565821-2ef4bf15-9fd1-4ee0-9406-fa0347f6cd52.png)

The library in question is indeed in

[2021-12-17 22:05] nkolev92 commented on #5957
Design out at https://github.com/NuGet/Home/pull/11460.

Once that's been reviewed and approved, https://github.com/NuGet/NuGet.Client/pull/4372 is merge quality already.

[2021-12-17 22:20] nkolev92 commented on #11388
Made good progress in the linked issue: https://github.com/NuGet/Home/issues/5957#issuecomment-997058251.

I got to work on this in the context of our Customer Sprint, in which we get to spend time on specific high voted bugs.

[2021-12-18 00:11] mwmccallum commented on #10633
Cannot use DotNetCoreCLI@2 at all, fails as noted above. This is not an authentication issue, it just does not put --skip-duplicate on the command line.

In researching this I have seen it mentioned and some possible work arounds. I have gotten some of these two work with a Windows Agent ONLY, I cannot get these exact same commands to work on Linux Agent:

Option 1:

`- task: NuGetAuthenticate@0
-

[2021-12-18 03:44] costa100 commented on #10674
This issue resurfaced in VS 2019 16.11.8 the nuget window is insanely slow, it takes minutes to fully display it.

[2021-12-20 07:28] Regenhardt commented on #11417
Here's the actual entry in the project.assets.json if it helps:

![grafik](https://user-images.githubusercontent.com/10476293/146728513-a43773fc-8342-4b6f-adf0-0fafb356511c.png)

So why wouldn't NuGet just look in the package in the default NuGet package cache?

[2021-12-20 10:37] majkel89 opened #11463 "[Feature]: dotnet list package --include-transitive --vulnerable shoud return nopn-zero status code when issues are found"
### NuGet Product(s) Involved

NuGet.exe

### The Elevator Pitch

`dotnet list package --vulnerable` shoud return non-zero status code when issues are found.

The the CI could break build when problems are found.

### Additional Context and Details

_No response_

[2021-12-20 12:40] idan-h commented on #3891
What is going on guys? It is almost 2022 and still no real solution to this stupid problem? This is a major design flaw..

[2021-12-20 14:07] jzabroski commented on #3891
@kijube Just saw your question.

I have various nuspec files. One public one is: https://github.com/fluentmigrator/fluentmigrator/blob/master/publish/FluentMigrator.Console.nuspec

and I have also used something like the following to transclude an existing packages contents into a new package : https://github.com/microsoft/MSBuildSdks/issues/272#issuecomment-973199022

Transclusion with look throu

[2021-12-20 16:47] LittleLittleCloud commented on #11427
@arkalyanms
Hitting this error as well, could you share your solution on how fixing it internally?

Regards

[2021-12-20 21:14] nkolev92 commented on #11428
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2021-12-20 21:14] #11428 closed, assigned to nobody

[2021-12-20 21:17] nkolev92 commented on #11431
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2021-12-20 21:17] #11431 closed, assigned to nobody

[2021-12-20 21:20] nkolev92 commented on #11463
Dup of https://github.com/NuGet/Home/issues/11315

[2021-12-20 21:20] #11463 closed, assigned to nobody

[2021-12-20 22:15] nkolev92 commented on #10633
That's exactly what I said not to do.

Please use Command line task instead, https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/command-line?view=azure-devops&tabs=yaml

[2021-12-21 18:19] wuhkuh commented on #11177
You could print these using the CLI like so:
[code]
While not ideal, it should be sufficient to get you going :)

[2021-12-21 18:42] martinrrm commented on #11413
Fixed in https://github.com/NuGet/NuGet.Client/pull/4363

[2021-12-21 18:42] #11413 closed, assigned to martinrrm

[2021-12-22 00:41] pmozbert commented on #9020
This is still a problem  - I'm getting the unexpected EOF error.
Adding --disable-parallel fixed it for me.

[2021-12-22 21:01] #9767 closed, assigned to martinrrm

[2021-12-22 23:41] #9290 closed, assigned to martinrrm

[2021-12-22 23:52] nkolev92 commented on #8917
https://github.com/NuGet/docs.microsoft.com-nuget/pull/2623 goes a  long way in covering this.

After that PR has been complete, I'll revisit to determine if that PR can be considered resolved or if we should write something more details.

[2021-12-23 06:20] atlemann commented on #3891
I've used this workaround for a long time. Can't remember where I found it unfortunately:

Add this to some file e.g. `pack.props` in your repo:

[code]

Add it to the project you want to include references in and add `PrivateAssets=All` to the assemblies you want to include in the NuGet package.

[code]

[2021-12-23 10:24] v-luzh commented on #11430
@kartheekp-ms Yes, I got the same output as yours after I added `Newtonsoft.Json` package to project1 and then executed `dotnet pack --no-dependencies`. But I got the wrong result (as below) after I added `Newtonsoft.Json` package to project1 & `Castle.Core` package to project2.
![image](https://user-images.githubusercontent.com/20632625/147226818-cff9c0c5-1982-4ac9-8576-725b72d98841.png)

[2021-12-23 18:30] kartheekp-ms commented on #9020
Reading from the comments from the customers I am assuming it may be related to the default concurrency setting. Users have mentioned that disable parallelism fixes the issue. We set default degree of concurrency to `16` https://github.com/NuGet/NuGet.Client/blob/e3016693e01536996921d613152648d66eb0ce99/src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreRequest.cs#L20. I am assuming if this setti

[2021-12-23 19:22] zivkan commented on #9020
@kartheekp-ms don't confuse CPU bound work with network IO bound work.  CPU bound work it makes sense to limit to processor count, because having more threads (that are not blocked) than CPU cores will mean the operating system will keep context switching threads, and the overhead of doing that will decrease application throughput compared to limiting therads to processor count (and using good asy

[2021-12-23 20:48] Sl1ckR1ck commented on #3788
Any update on this? Basically we can't use floating version at all?

Why is it still listed as a feature in the documentations?

[2021-12-24 12:21] marcselis commented on #7752
Please consider this as high-prio.  The recent events with log4j make it very clear that an automatic scan in build pipelines is highly needed.  Having a machine-readable output is important to make builds fail whenever a vulnerable package is found.

[2021-12-24 18:09] zivkan commented on #7752
@marcselis do you have any suggestions about the json schema, feedback about whether it makes sense to you whether or not `--deprecated` and/or `--vulnerable` make sense in the same output, or require separate commands, anything else in the spec?

[2021-12-24 19:06] tonygiang opened #11467 "[Bug]: Packing a multi-target project fails to find the configured readme file"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.101

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

1. Create a blank C# project.
2. Create a readme.md file in the project.
3. Configure this readme file to be included in the package by right click project > Properties > Package > General > README, browse to said readm

[2021-12-24 21:58] roryprimrose commented on #7752
Hi @zivkan, thank you for working on this.

The primary use case here is automation processes that can interpret the results. It is therefore likely enough that these automation processes will be interested in more than one type of information. In our case, we are interested in all the possible package outcomes of outdated, depreciated and security vulnerabilities. Calculating and walking the pack

[2021-12-25 14:30] echuck66 commented on #10674
I concur. VS2019 *version 16.10.3

[2021-12-26 13:03] zivkan commented on #11430
@v-luzh when `dotnet pack` is run, are you running it in the directory that contains the solution file, or are you running it from the directory containing "project1" only?

All MSBuild commands, including pack, restore, and build, when run on a solution file, will run the target on all projects in the solution.

This means that `dotnet pack --no-dependencies whatever.sln` is equivalent to running

[2021-12-27 20:26] cadilhac commented on #10674
Slow with 16.11.8 here.

[2021-12-27 22:59] glopesdev commented on #8027
Speaking of the BSD-3-Clause, I found it concerning that removing the substitution text implies substantial differences between [SPDX/BSD-3-Clause](https://spdx.org/licenses/BSD-3-Clause.html) and the text on [licenses.nuget.org/BSD-3-Clause](https://licenses.nuget.org/BSD-3-Clause).

Compare the reading of clause 3 on the two sites above. Removing the placeholder text renders the sentence complet

[2021-12-27 23:22] zivkan commented on #10882
Today I was trying to figure out why this might happen, but I just can't. We [open the file with `File.OpenRead`](https://github.com/NuGet/NuGet.Client/blob/bc11fd124fd87b55532742db2a56f4a324288bcb/src/NuGet.Core/NuGet.Packaging/NupkgMetadata/NupkgMetadataFileFormat.cs#L29), which I "hoped" would open the file without `FileShare.Read`, but on both [.NET Framework](https://referencesource.microsoft

[2021-12-28 00:06] zivkan commented on #10674
I appreciate you made the effort to give us feedback, but there are so many variables that without additional information it's simply not actionable. Almost everyone has at least one HTTP source configured, which therefore means that your network connection and the server load/response time contribute to perceived performance. But I have no idea if the delay you experienced is HTTP related, or som

[2021-12-28 12:21] v-luzh commented on #11430
@zivkan Got it. Yes, it would only restore the project1 after I cd to project1's directory and run the command. So, the expected pre-step of running the `dotnet pack --no-dependencies` is going to the project1's directory, correct?

[2021-12-28 16:27] zivkan opened #11470 "Stop using PublicAPIAnalyzer on projects that are MSBuild tasks"
`NuGet.Build.Tasks` and `NuGet.Build.Tasks.Pack` are projects that pack into packages that provide NuGet's MSBuild target functionality. `NuGet.Build.Tasks.Console` is a console app, used by `NuGet.Build.Tasks`, to provide restore using a different MSBuild API. None of these are libraries intended for customers to use as APIs in their own projects, and for at least one of these projects, when incl

[2021-12-28 17:04] marcselis commented on #7752
No real suggestions for the json schema.  Having an output that is machine readable is the most important.  Giving the --deprecated and --vulnerable similar outputs is no problem, after all we usually know what arguments were passed executing the command.  But for --vulnerable having the CVE information is a MUST as we want to report on that.

Another suggestion I would like to make is to stop the

[2021-12-28 19:07] zivkan commented on #11430
Yes.

For what it's worth, `--no-dependencies` is only used by restore. It's just that the .NET CLI implicitly restores projects unless `--no-restore` is passed (or in the case of pack, test, or publish, if `--no-build` is passed). Therefore, this issue actually has nothing to do with pack, and would work the same with `dotnet restore --no-dependencies`.

[2021-12-28 19:07] #11430 closed, assigned to v-luzh

[2021-12-29 12:45] RomainHautefeuille commented on #8589
What are the use cases for IncludeSource? Do you still need it in some scenarios when you already use SourceLink to map to Github or AzureRepos urls?

[2021-12-29 21:43] UmaHarano commented on #8684
Hi,
I am creating a Nuget package that only supports "PackageReference". So I only have dlls in the "ref" folder.  When I run "dotnet pack" I get this warning.
[code]

My nuspec file looks like this:

[code]
The Nuget is created and I am able to successfully use it.   But - Any suggestion as to how I can fix these warnings?
Thank you!

[2021-12-30 17:37] zivkan opened #11473 "[Bug]: Handle cancelled CancellationTokens in PM UI when changing selection"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

17.0

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Open a solution and PM UI, then change the selected package quickly (when using a slow package source?).  [PackageManagerControl.xaml.cs runs an async method with a cancellation token](https://github.co

[2021-12-30 18:49] zivkan commented on #8315
Tracking issue on Developer Community that we need to mark as fixed once we fix this issue and ship in VS: https://developercommunity.visualstudio.com/t/Cannot-Reorder-Package-Sources-in-the-Vi/1625154

[2021-12-31 11:09] v-luzh opened #11474 "[Bug Bash] The package recommended from IntelliCode should have the recommend icon on the left of the package in Browse Tab"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

 NuGet Client Dev\6.1.0.86

### Worked before?

No

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

### Details about Problem
NuGet version: NuGet Client Dev\6.1.0.86
VS Version: Main\32030.25
OS: Windows-11-Enterprise-21H2
### Detailed repro steps
1. Launch VS and click “Create a new proje

[2022-01-01 13:45] patrickklaeren commented on #4254
+1 this would be massively beneficial in our scenarios where we need nuget packages to create a Squirrel installer.

[2022-01-02 10:17] tebeco commented on #10389
As long as it's optional that's fine.
A platform can only grow better when customer can choose what they want to opt-in / opt-out

[2022-01-03 11:57] Strandedpirate commented on #3891
@atlemann Holy sh$t, it works! And it's not hot garbage. You're a life saver.

![image](https://user-images.githubusercontent.com/1452996/147927779-2b974e5e-ea51-4231-8e1e-7a32575cf887.png)

[2022-01-03 19:10] nkolev92 commented on #11474
When there's a search term, there are no recommendations provided.

In the above screenshot, there's a search term.

Am I missing anything?

[2022-01-03 19:15] birgithi commented on #11474
IntelliCode does not make NuGet package recommendations when the user types in a search string. The packages listed in this case are the default (non-recommender) packages filtered by the search string, and do not include results from the recommender. We've considered integrating search and recommendation results in the future, but at this point, this is working as expected.

[2022-01-03 19:21] nkolev92 commented on #3788
@Sl1ckR1ck

You can use floating versions, it's just the package manager UI that doesn't show you the floating versions are being used.

[2022-01-03 19:32] kartheekp-ms opened #11475 "[Bug]: Reduce string allocations in restore code path"
### NuGet Product Used

dotnet.exe, MSBuild.exe, NuGet.exe

### Product Version

dotnet restore, msbuild restore on OrchardCore repo

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

![image](https://user-images.githubusercontent.com/52756182/147971321-a29c1350-2391-4b39-bf1e-462b21a9b7d7.png)

![image](https://user-images.githubusercont

[2022-01-03 20:08] #11112 closed

[2022-01-03 20:09] tobiasschulz commented on #3788
Yeah, but whyyy not?

Also the UI breaks / removes the floating versions if you use it.
It should at least leave those alone when updating packages. That would be the least they could do.

[2022-01-03 20:53] zivkan opened #11476 "[Bug]: IVsPackageInstaller sometimes deadlocks when called on background thread"
### NuGet Product Used

NuGet SDK

### Product Version

all?

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Visual Studio extensions can reference `NuGet.VisualStudio` to use NuGet's APIs in Visual Studio, including `IVsPackageInstaller(2)` which can install packages in projects programatically.  In NuGet 6.0.0 (VS 17.0), [we document

[2022-01-03 21:13] dominoFire commented on #10751
Updating estimate up due to feedback from API design review.

[2022-01-03 21:14] dominoFire commented on #10752
Updating issue estimate due to API design review.

[2022-01-03 22:17] #11385 closed, assigned to nkolev92

[2022-01-03 22:29] nkolev92 commented on #8917
Happy with that PR as is.

[2022-01-03 22:29] #8917 closed, assigned to nkolev92

[2022-01-03 23:44] nkolev92 commented on #11112
@jebriede

Can you link any outcomes from this issue?

I'm trying to provide an update for the sprint planning: https://microsoft.sharepoint.com/:x:/t/NuGet/EXIow2bgAdpKhIMhMj6xWsUB8KZFWW5I3MFWKuqq0rs3Rw?e=LGgvnP

[2022-01-04 01:06] aortiz-msft commented on #10633
There's only two comments/upvotes on this issue. Should this be Pri 3?

[2022-01-04 01:09] aortiz-msft commented on #10249
@zivkan  - Looking at this, it seems like we only need to add a test related to changes you made. Any chance you could work on it this Sprint as part of Quality Week?

[2022-01-04 01:11] aortiz-msft commented on #10157
One report so far, so setting to Priority 3.

[2022-01-04 01:13] aortiz-msft commented on #8871
@jeffkl - Would you mind fixing this sprint as part of Quality Week?

[2022-01-04 04:28] jeffkl commented on #8871
@aortiz-msft sure thing: https://github.com/NuGet/NuGet.Client/pull/4384

[2022-01-04 08:08] amirrazzaqi commented on #2978
Very Gooooood

[2022-01-04 16:51] erdembayar commented on #11444
For this one please use https://github.com/NuGet/NuGet.Client/tree/dev-eryondon-packagesourcemapping-1201 as base branch by forking it.  But once you make sure it works then better to please create new branch with fix commits by cherry picking.

[2022-01-04 17:56] heng-liu commented on #11350
Closed it as the spec is merged.

[2022-01-04 17:56] #11350 closed, assigned to heng-liu

[2022-01-04 20:13] rpaz-qontigo opened #11477 "[Bug]: C:\Windows\Temp\NuGet\TempCache folder taking up unlimited space"
### NuGet Product Used

dotnet.exe

### Product Version

3.1.408

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

This started happening a while ago, and I can't trace exactly what is causing this. I've noticed drive alerts for many servers runing TeamCity Agents and Octopus Tentacle process. I can only guess this all started when using

[2022-01-04 20:14] #11477 closed, assigned to nobody

[2022-01-04 21:34] heng-liu commented on #11351
Checked ClientToolsInsights (NiPackageArchiveEntries), for paths start with `lib `and `runtimes`, file extensions are like the following:
lib path:
|File extension|           Extension count|
|--|--|
|.dll |                             10274208|
|.xml |                             3609397|
|.pdb     |                       2322361|
|all other extensions|    2729831|

runtimes path:
|File extension

[2022-01-04 21:34] #11351 closed, assigned to heng-liu

[2022-01-04 22:20] zivkan commented on #10800
@josesimoes NuGet needs at least two "names"/identifiers for a supported TFM, a `TargetFrameworkIdentifier` (used as part of the `TargetFrameworkMoniker` in MSBuild's common props), and a "short folder name" which is used both in nupkg `lib/<name>/` paths, and also the name specified in SDK style projects `<TargetFrameworks>` elements.

Do you have any preferences?  My suggestion for both would be

[2022-01-04 22:23] zivkan opened #11480 "[Feature]: Attach nuget.config files when customers report a problem with Visual Studio"
### NuGet Product(s) Involved

Other/NA

### The Elevator Pitch

When customers use Visual Studio's report a problem, the feedback tool calls all VS extensions `IFeedbackDiagnosticFileProvider` implementations to tell ask it what files to attach to the feedback. The initial implementation of NuGetFeedbackDiagnosticFileProvider only attaches a single file.

We should attach either all nuget.config

[2022-01-04 22:27] josesimoes commented on #10800
@zivkan nothing against that. Please go with those! 👍

[2022-01-05 01:59] erdembayar commented on #10774
@aortiz-msft @nkolev92 @kartheekp-ms
Do I need to address https://github.com/NuGet/Home/issues/10011 issue too here? If no then I cost 1, if yes then I cost 3 just in case.

[2022-01-05 02:03] kartheekp-ms commented on #10774
IMHO, I think we should address both because we must maintain feature parity between `nuget.exe` and `dotnet.exe`.

[2022-01-05 02:10] #11470 closed, assigned to zivkan

[2022-01-05 02:10] nkolev92 commented on #10774
I'd try to fix both.

Given that it's a problem for both, my guess is that the issue is in the shared code anyways.

[2022-01-05 04:09] #8315 closed, assigned to donnie-msft

[2022-01-05 13:50] joperator opened #11481 "[Bug]: Errors NU3028 and NU3037 when restoring NuGet packages on FreeBSD"
### NuGet Product Used

dotnet.exe

### Product Version

.NET SDK (reflecting any global.json):  Version:   6.0.100-dev  Commit:    2f6dac4342  Runtime Environment:  OS Name:     FreeBSD  OS Version:  12  OS Platform: FreeBSD  RID:         freebsd.12-x64  Base Path:   /usr/local/share/dotnet/sdk/6.0.100-dev/  Host (useful for support):   Version: 6.0.0   Commit:  N/A  .NET SDKs installed:   6.0.10

[2022-01-05 15:01] websitewill commented on #3788
100% agree. Just ran into this and spent time trying to figure out what I was doing wrong...

[2022-01-05 15:04] zivkan opened #11482 "[Bug]: Package Source options in VS does not announce package sources or checkbox status"
### NuGet Product Used

Other/NA

### Product Version

17.0

### Worked before?

probably 16.7

### Impact

Other

### Repro Steps & Context

Open a screen reader of your choice. Windows Narrator is built into Windows, so doesn't require download or installation. Open VS, go to Tools->Options, NuGet Package Manager->Package Sources.  Now use either tab on the keyboard, or just click with the mouse

[2022-01-05 16:10] #11436 closed, assigned to erdembayar

[2022-01-05 16:44] neman commented on #8167
I have the same issue

[2022-01-05 17:14] #11473 closed, assigned to zivkan

[2022-01-05 19:22] Sl1ckR1ck commented on #3788
Yes, as soon as you update using the package manager, it replaces the floating version with the fixed version.

I would understand this logic if the package was replaced with a version that doesn't match the floating version pattern...

I am using the floating version to provide our CI pipeline with some automation that ensure that all the latest components of our software package are building wel

[2022-01-05 19:38] JonDouglas commented on #5553
Hi all,

I'm going to write a message here for now because this issue hasn't had a reply from the team in quite some time. I apologize in advance.

This issue is currently the 3rd 👍  most upvoted issue in our client repository. There are many considerations to take into account for the behavior of [package resolution](https://docs.microsoft.com/en-us/nuget/concepts/dependency-resolution#dependency

[2022-01-05 20:49] AgSync-Aaron commented on #5553
Thank you for providing an update, even if it is unfortunate news.

[2022-01-05 21:10] nkolev92 commented on #11481
Not sure this is the correct interpretation.

It's likely that https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.runtimeinformation.isosplatform?view=net-6.0 that returns `false` when on FreeBSD.

The FreeBSD option was added in https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.osplatform?view=netcore-3.0 netcoreapp3.0 but wasn't a thing before.

[2022-01-05 22:07] aortiz-msft opened #11483 "Prototype reading Vulnerability and Deprecation information from the Search service"

[2022-01-05 22:14] erdembayar commented on #10774
I'll try to address too [10111](https://github.com/NuGet/Home/issues/10011). Considering I need to add tests for both `nuget verify` and `dotnet nuget verify`  and need to learn about `verify` code increased costing to 4.

[2022-01-05 23:24] Flavien commented on #5553
Thanks, appreciate the update, and glad to know it's at least (somewhat) on your radar.

[2022-01-06 06:17] joperator commented on #11481
I checked it and `System.Runtime.InteropServices.RuntimeInformation.IsOSPlatform(System.Runtime.InteropServices.OSPlatform.Linux)` returns `false` on FreeBSD.

[2022-01-06 16:57] HugoLemieux commented on #5553
The ideal experience would be to resolve the transitive dependencies with a defined resolution strategy and consolidate the transitive dependencies for a solution because the lock file is by project.

[2022-01-06 17:58] JonDouglas commented on #7815
I know this is still under .NET 7, but there is definitely action to take here. It's not clear what that is right now but here's thoughts:

1. Move the default to snupkg (ex https://github.com/NuGet/NuGet.Client/blob/f24bad0668193ce21a1db8cabd1ce95ba509c7f0/src/NuGet.Core/NuGet.Commands/CommandArgs/PackArgs.cs#L30)
2. Skip moving default to snupkg and edit targets to include pdb embedded in the pa

[2022-01-06 19:31] nkolev92 commented on #11474
The gold bar is unrelated to the NuGet Package Recommender logic.

[2022-01-06 20:13] donnie-msft commented on #11474
@chgill-MSFT - could you please comment on whether we would consider having the gold bar data as input to the recommender?

[2022-01-06 21:05] nkolev92 commented on #11483
I'm not 100% confident, but this should be mostly code removal! :)

[2022-01-06 21:40] donnie-msft commented on #11483
@nkolev92 Some UI level code can likely be removed (secondary querying), but actually the metadata classes are shared from both registration & search, so not much to change there. That's my cursory understanding.

[2022-01-06 23:51] gopalar commented on #10423
I ran into this issue, when imported project name casing didn't match the actual file name casing.

###### Incorrect casing
[code]
###### Correct casing
[code]

[2022-01-06 23:56] zivkan commented on #11476
After talking to Visual Studio threading experts, the feedback is:

* When blocking the UI thread (with `JoinableTaskFactory.Run(..)`), call APIs you depend on from the UI thread. There's no point using multiple threads and contributing to thread pool starvation, so calling your depending on a thread you're already blocking with non-async code is best practice.
* Don't assume your dependencies com

[2022-01-07 00:16] dfederm opened #11484 "[Bug]: Static graph restore binlog doesn't log task inputs"
### NuGet Product Used

MSBuild.exe

### Product Version

msbuild 17

### Worked before?

Unknown (but probably no)

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Set `%RESTORE_TASK_BINLOG_PARAMETERS%` to something like `LogFile=restore.binlog`.

Run `msbuild /t:Restore /p:RestoreUseStaticGraphEvaluation=true` on any project.

Notice that task inputs are not logge

[2022-01-07 00:37] terrajobst commented on #10800
No objections either way; we could use the values you proposed, assuming @josesimoes is OK with that which sounds like he is :-)

[2022-01-07 00:49] dfederm opened #11485 "[Bug]: Static graph restore binlog doesn't have evaluation data"
### NuGet Product Used

MSBuild.exe

### Product Version

msbuild 17

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

[code]

Inspect `nuget.binlog` and notice the Evaluation node is empty/childless:
![image](https://user-images.githubusercontent.com/6445614/148473245-8fd041eb-d414-4ef7-be1a-28ddfabf5d72.png)

It should look more l

[2022-01-07 02:41] jebriede opened #11486 "Surface the transitive packages and its transitive origins through the search layer"

[2022-01-07 03:15] jebriede opened #11487 "[Bug]: ContentItemCollections.FindItems should not be obsolete as its implementation no longer uses yield returns"
### NuGet Product Used

Other/NA

### Product Version

6.0.0.163

### Worked before?

N/A

### Impact

Other

### Repro Steps & Context

This PR addresses overallocation of enumerators through the FindItemsImplementation: https://github.com/NuGet/NuGet.Client/pull/4099

Since FindItemsImplementation was fixed to no longer use yield returns, and the FindItems public method delegates to this method

[2022-01-07 07:38] GSPP commented on #5321
Configuring sources in the project file would allow the solution to become self-contained. Currently, every developer has to change global NuGet configuration to use an internal feed.

If you want to check in packages to source control, to make a project truly self-contained and not dependent on some external folder, you even have to configure one package source for each working copy that you chec

[2022-01-07 10:45] janecek-m commented on #2689
Hello,

I am still encountering this problem in VS 2019.
Changing settings:
Open Tools → Options → Environment → International Settings
To 'Same as Microsoft Windows' and then back to 'English' does nothing.

Messages in **Package Manager Console** are still in the same language as my OS enviroment (Czech for me).

Any other tips for this issue?

Thank you

[2022-01-07 13:34] zivkan commented on #5321
@GSPP You can check in a nuget.config file into your repo root, and use `<clear/>` in elements that support it. This makes the repo not depend on machine configuration. NuGet.Client repo, and basically every Microsoft repo, does this: https://github.com/NuGet/NuGet.Client/blob/dev/NuGet.Config

Reference docs: https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file

A quick way to boots

[2022-01-07 15:45] JonDouglas commented on #5553
@HugoLemieux In the meantime, how would that look in your current development experience? What type of CLI flags, VS UI, or other happy paths would allow you to do that?

Consider the ability to:

1. Decide the dependency resolution strategy for both direct & transitive levels.
2. Override or set an exact version for transitive packages.

How would you like to express that in your configurations t

[2022-01-07 16:27] zivkan commented on #2689
@janecek-m Do you mean the PowerShell running inside Package Manager Console is not in English, or do you mean that when you run NuGet's cmdlets, such as `Get-Help NuGet`, only that is not in English while the rest of PowerShell is?

[2022-01-07 16:58] erdembayar commented on #10011
Solving as part of https://github.com/NuGet/Home/issues/10774

[2022-01-07 17:02] HugoLemieux commented on #5553
It would be great to have the same experience as it was with the packages.config.

In order to resolve the transitive dependencies with a defined resolution strategy:
- CLI flag: -DependencyVersion [Lowest, HighestPatch, HighestMinor, Highest, Ignore]
- VS UI:
![image](https://user-images.githubusercontent.com/12341715/148575642-62e23b25-307b-483b-8655-fee1545aea1b.png)

The VS UI in order to cons

[2022-01-07 17:41] arkalyanms commented on #11427
I was OOF and just got back. @LittleLittleCloud did the latest preview update unblock you?

[2022-01-07 18:34] nicolascotton commented on #5553
We would like to have better control and cohesion between the versions of our dependencies (transitive included) across multiple projects (workspace/solution).
This could be done with a global lock file and a granular control of the transitive dependencies within.

[2022-01-07 19:13] jeffkl opened #11490 "ProductVersion should be generated at compile time"
When we rev our product version, we currently have to do it in two places:

https://github.com/NuGet/NuGet.Client/blob/ba01cc633f88fb2dd1bfcbcdd859fb89525a56eb/build/config.props#L13-L17

https://github.com/NuGet/NuGet.Client/blob/ba01cc633f88fb2dd1bfcbcdd859fb89525a56eb/src/NuGet.Clients/NuGet.Tools/NuGetPackage.cs#L85

We could use the values from `config.props` to generate the `ProductVersion`

[2022-01-07 19:16] LittleLittleCloud commented on #11427
@arkalyanms haven't try it yet, could you share with me the latest preview version.

[2022-01-07 21:55] donnie-msft commented on #11487
@jebriede - please add relevant labels, thanks!

[2022-01-07 22:07] loic-sharma commented on #7815
A possible 4th option could be to deprecate legacy symbol packages: warn when a build produces legacy symbol packages & recommend moving to "snupkg" format. This may be a good first step before changing the default to help customers transition. Personally my vote would be option 1 or 4 to reduce the overall complexity of symbol packages.

[2022-01-07 22:36] zivkan commented on #7815
ilmerge, while abandonware now, is a critical tool for building nuget.exe and doesn't support portable pdbs.  If we deprecate symbols.nupkg packages, we're going to have trouble building nuget.client itself. Technically we can stop producing a symbols package, but then we'll have to re-work our entire CI script and release process to make sure we publish its symbols.  Although deprecating nuget.ex

[2022-01-08 00:24] arkalyanms commented on #11427
The fix is on the VS side. Updating to the latest VS version should do it.

[2022-01-08 00:37] nkolev92 opened #11491 "DependencyGraphRestoreUtility.RestoreAsync should take an args object to minimize public API changes."
See https://github.com/NuGet/NuGet.Client/pull/4359/files#r779572952

cc @zivkan

[2022-01-08 01:32] donnie-msft commented on #11467
When I repro this, I get an error indicating that there's no TFM for my project. It warns me that Restore won't work correctly.
In that case, does the readme error make sense? /cc @nkolev92
If so, why doesn't the issue author see the same error?
![image](https://user-images.githubusercontent.com/49205731/148626300-307946f7-0706-4730-9d81-ec11d16d16ce.png)

[2022-01-08 02:39] nkolev92 commented on #11467
@donnie-msft There's a video by the OP.

In that video, the OP hits the same isssue, but clicks Reload projects.

Can you try the same thing?

[2022-01-08 02:43] nkolev92 commented on #11467
Actually in the video, I can see the issue:

[code]

If that's the generated XML by the project system, I'm not surprised it doesn't work.

If you look at the blog: https://devblogs.microsoft.com/nuget/add-a-readme-to-your-nuget-package/#add-a-readme-in-your-project-file-recommended

The value of PackageReadMeFile property needs to match the PackagePath attribute equivalent.
It's about the value *

[2022-01-08 02:46] nkolev92 commented on #10546
Guidance is that all of these issue are closed.

[2022-01-08 02:46] #10546 closed, assigned to rrelyea

[2022-01-08 02:50] #9647 closed, assigned to donnie-msft

[2022-01-08 06:42] donnie-msft commented on #11467
@nkolev92 yes, I already tried it which formed the basis of my question to you.

[2022-01-08 07:12] tonygiang commented on #11467
The XML in the video was not generated by the project system because I manually modified the `PackageReadmeFile` field, though the auto-generated XML yields the same result, that is successful pack for single-target, error for multi-target. Putting the readme file at project root also yields the same result.

[2022-01-08 07:38] GSPP commented on #5321
@zivkan Thanks! Can this be used to have the package source inside of the solution folder (like a `/PackageSource` folder)? And does this work with the Visual Studio NuGet UI?

[2022-01-09 01:37] EvanMichael91 opened #11493 "Overcome the odds"
https://youtu.be/Isim0ysZ6X4

[2022-01-09 04:02] EvanMichael91 opened #11494 "Cloudtnine 21' world premiere"
https://github.com/https-github-com-Milehigh-club/hello-world-/issues/1

[2022-01-09 04:25] EvanMichael91 opened #11495 "Https://www.Milehigh.club"
https://github.com/EvanMichael91/com.pheonixent.cloudtnine.life/issues/4#issue-1097101965

[2022-01-09 06:22] EvanMichael91 opened #11496 "Https://www.milehigh.club"
https://github.com/linuxmint/cinnamon/pull/10499

[2022-01-09 07:10] jimmylewis commented on #6764
@JonDouglas One more related scenario I've been spending a lot of time resolving manually that ought to be addressed with transitive pinning:

My team uses a consolidated bin folder for all projects (so we don't have ~200 copies of the common dependencies in a per-project output folder layout).  This means that any discrepancies in dependency versions in the graph can cause different versions to b

[2022-01-09 19:47] #11496 closed

[2022-01-09 20:18] EDToft commented on #5456
I know that this is ancient history and it is marked closed...BUT...4 years later, here we are. There does not seem to be any true documentation or any resolution to the issue. Here in this forum, the issue was closed because jonkerr quit using Visual Studio, and no one took it up.

Sooo...why the heck am I digging it back up?

a) It is 2021 and we ARE seeing this problem.
b) My team is using Micr

[2022-01-10 19:21] LittleLittleCloud commented on #11427
I update to the latest preview build but now I get a new error
[code]

This is probably because I'm updating a package that depends on another referenced package, which causes a restore error.

Any suggestions on fixing this? Is there a way to update several packages at the same time or simply skip the restore error when it occurs.

[2022-01-10 19:25] #11444 closed, assigned to nkolev92

[2022-01-10 20:00] nkolev92 commented on #11467
@donnie-msft

Did you click reload projects? After I click that, I can actually pack.

@tonygiang

The PackageReadmeFile modification is incorrect. The property points *inside* the package, the item is supposed to point to the file location.

That being said, I can repro your problem with the `TargetFrameworks` field.

In particular:

[code]

Fails consistently.

[2022-01-10 21:14] jeffkl opened #11498 "[Feature]: Enable enhanced retry by default"
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

In 17.0, we shipped an off-by-default feature to allow users to specify enhanced retry logic for connection resets.  This was because certain front-ends will reset a connection in certain cases with the assumption that the caller will retry.  However, the current retry logic proved to be too aggressive and would not be able to reco

[2022-01-10 21:18] arkalyanms commented on #11427
@nkolev92 who might be able to answer the restore order question.

[2022-01-10 21:40] #11482 closed, assigned to zivkan

[2022-01-10 21:56] donnie-msft opened #11499 "Add Author to the tooltip for a package in the packages list of PM UI"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Any

### Worked before?

No

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

### Details about Problem

### Detailed repro steps
1. Open the PM UI and find a package on any tab.
2. Hover over the packages ID or description
3. Observe the tooltip shows the ID/Description, but not the author.

[2022-01-10 22:06] nkolev92 commented on #11427
@LittleLittleCloud

Anything more to the error you're getting?
There should hopefully be actionable details in the error list.

[2022-01-11 00:31] nkolev92 commented on #11427
The original issue doesn't repro anymore on the latest preview.

Thanks for fixing this @arkalyanms

[2022-01-11 00:31] #11427 closed, assigned to nobody

[2022-01-11 09:18] yyjdelete commented on #5986
This make it difficult to build an actual plugins with more than one level (transitive) reference instead of just sample like https://github.com/dotnet/samples/tree/main/core/extensions/AppWithPlugin, without manually or write an tools to remove duplicate assembly files and maybe also rewrite `.deps.json` to remove them.

For example, `Plugin.Host`(ProjectReference) can be excluded all times
But o

[2022-01-11 10:01] tonygiang commented on #11467
I purposefully modified `PackageReadmeFile` that way to have a proof positive that any value in this field is not the cause of this bug, as demonstrated in the video: single-target packing is successful.

[2022-01-11 10:09] Joren-Thijs-KasparSolutions opened #11500 "[Bug]: Directory.build.props cannot be used in docker conainers or Azure pipelines"
### NuGet Product Used

dotnet.exe

### Product Version

.NET SDK Version:   6.0.101  Commit:    ef49f6213a  Runtime Environment:  OS Name:     debian  OS Version:  11  OS Platform: Linux  RID:         debian.11-x64  Base Path:   /usr/share/dotnet/sdk/6.0.101/  Host (useful for support):   Version: 6.0.1   Commit:  3a25a7f1cc  .NET SDKs installed:   6.0.101 [/usr/share/dotnet/sdk]  .NET runtimes i

[2022-01-11 17:23] #11499 closed, assigned to donnie-msft

[2022-01-11 18:04] nkolev92 commented on #11432
TODO: Address https://github.com/NuGet/NuGet.Client/pull/4359#discussion_r781717306 in the next PR.

[2022-01-11 18:05] #9782 closed, assigned to nkolev92

[2022-01-11 18:33] nkolev92 commented on #11432
Change for the PR feedback started in dev-nkolev92-projectUpdateInstallations.

[2022-01-11 20:17] #11277 closed, assigned to jeffkl

[2022-01-12 01:11] nkolev92 opened #11501 "[Responsiveness] RestoreOperationLogger blocking large number of thread pool threads trying to get access to the output window pane"
See [internal issue](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1436217/).

[2022-01-12 02:11] nkolev92 opened #11502 "Move NuGet test projects from netcoreapp2.1 to netcoreap3.1"
netcoreapp2.1 is deprecated, so we can move to netcoreapp3.1

[2022-01-12 06:22] #11490 closed, assigned to jeffkl

[2022-01-12 11:13] Joren-Thijs-KasparSolutions commented on #11500
Small update: after further debugging with the help of a coworker we have determined the root cause might be the underlying OS.
When we change the underlying OS in our azure pipeline to be `windows-2022` then restore succeeds but when we change it back to `ubuntu-latest` the build fails. An obvious culprit would seem case-sensitivity between these two but renaming `Directory.build.props` to `direc

[2022-01-12 12:58] dtivel commented on #10887
https://devblogs.microsoft.com/dotnet/file-io-improvements-in-dotnet-6/

[2022-01-12 13:07] zivkan commented on #10887
@dtivel I created some benchmarks to test sync vs async vs mmap IO for package extraction: https://github.com/zivkan/Benchmarks/blob/main/WritePerformance/PackageExtraction.cs

On .NET Framework I found that async IO is about 50% slower than sync IO, and even on .NET 6, it's only about the same perf as sync IO, it wasn't meaninfully faster (my memory was that it was still slightly slower, since as

[2022-01-12 13:14] zivkan commented on #11500
The correct casing, as documented: https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build?view=vs-2022

is `Directory.Build.props`.

For what it's worth, NuGet get project and package information from MSBuild, NuGet does not read MSBuild files itself, so https://github.com/dotnet/msbuild would have been the better place for this issue.

[2022-01-12 13:28] dtivel commented on #10887
That's great.  Feel free to close this issue then.

[2022-01-12 14:58] zivkan commented on #10887
Looking at the blog post, and the linked NuGet PR, I see that my benchmark was doing async IO wrong, causing it to use sync over async. Hopefully I fixed it properly (locally, I haven't yet pushed to my repo), I got the following results:

.NET 6

|      Method | MaxParallel |    Mean |   Error |   StdDev | Ratio | RatioSD |
|------------ |------------ |--------:|--------:|---------:|------:|-----

[2022-01-12 14:58] #10887 closed, assigned to nobody

[2022-01-12 17:33] jeffkl opened #11504 "[Epic]: Central Package Management Improvements for 17.2"
# Features

- [x] https://github.com/NuGet/Home/issues/11516
- [x] https://github.com/NuGet/Home/issues/10389
- [x] https://github.com/NuGet/Home/issues/11505

# Issues ([Query](https://github.com/NuGet/Home/issues?q=is%3Aopen+label%3AArea%3ARestoreCPM+-label%3AEpic+-label%3AEpic+-label%3AType%3AFeature))
- [x] https://github.com/NuGet/Home/issues/10327
- [x] https://github.com/NuGet/Home/issues/1

[2022-01-12 17:45] jeffkl commented on #9535
Closing in favor of https://github.com/NuGet/Home/issues/11504

[2022-01-12 17:45] #9535 closed, assigned to nobody

[2022-01-12 17:51] jeffkl opened #11505 "[Feature]: Require package source mapping when using CPM"
### NuGet Product(s) Involved

NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console, MSBuild.exe, dotnet.exe

### The Elevator Pitch

To make NuGet secure by default, there should be an option to required package source mapping when using more than one feed and central package management.

### Additional Context and Details

_No response_

[2022-01-12 20:09] rainersigwald opened #11506 "[DCR]: NU5040 error should point to the empty README.md file, not NuGet.Build.Tasks.Pack.targets"
### NuGet Product(s) Affected

MSBuild.exe

### Current Behavior

As part of adding READMEs to all of the packages in my repo, I added `<PackageReadmeFile>README.md</PackageReadmeFile>` to a `Directory.Build.targets`. I then tried to pack and got a bunch of errors like `error NU5019: File not found: 'S:\msbuild\src\Utilities\README.md'.` That was great! I created those files and then got

[code]

[2022-01-12 21:33] benlongo commented on #7092
Having snapshot style managing would be very nice for local development of packages and the consumer of the package.

[2022-01-12 21:36] #11373 closed, assigned to zivkan

[2022-01-13 09:13] Joren-Thijs-KasparSolutions commented on #10423
@tacitfirefox @radutomy I ran into the same issue. Appearently it's a simple matter of case sensitivity between Linux and Windows. The correct file name is `Directory.Build.props`. I forgot to capitalize the second word causing it to fail on Linux.
https://github.com/NuGet/Home/issues/11500#issuecomment-1011033072

[2022-01-13 09:15] Joren-Thijs-KasparSolutions commented on #11500
@zivkan Thank you so much! I feel very stupid now😅

[2022-01-13 09:15] #11500 closed, assigned to nobody

[2022-01-13 14:00] jjolidon commented on #7792
Hello all,

I'm facing a similar issue with ProGet for feeds requiring authentication (in my case from Azure DevOps pipelines). I believe the issue is that the PAT, resp. api key is not provided when trying to access the service description (I mean the initial source url ending in json).

When facing a 401 for these urls, the publisher should retry with the API key provided.

I've found a workarou

[2022-01-13 15:37] zivkan opened #11507 "[DCR]: NuGet VS extensibility packages should suppress themselves from customer vsix"
### NuGet Product(s) Affected

NuGet SDK

### Current Behavior

If you create a VSIX project in VSIX, and build it, notice that none of the VS SDK assemblies are in the bin folder or in the vsix itself.

Now add a PackageReference to NuGet.VisualStudio and/or NuGet.VisualStudio.Contracts and build again. Now NuGet's assemblies are both in the bin folder and the vsix

### Desired Behavior

Since Nu

[2022-01-13 16:05] fgreinacher commented on #10558
@zivkan I noticed that you removed this from the sprint. Can I help bring this forward somehow? Also happy to dig deeper into the code if this does not have enough priority for you at the moment.

[2022-01-13 16:54] zivkan commented on #10558
I was looking into this in December, but I only had a day or two of time available. The fix for this is needed to also fix https://github.com/NuGet/Home/issues/11226, which is currently in this sprint, but honestly I'm not confident that I'll have enough time given [all the other work I have planned for the end of the month](https://github.com/NuGet/Home/issues?q=is%3Aopen+is%3Aissue+assignee%3Azi

[2022-01-13 16:57] JVimes commented on #10566
I think so, maybe as a stopgap. I don't think it's practical in the long term. It's hard to make sure that config is done for every dev environment now and in the future.

[2022-01-13 18:18] JVimes commented on #10566
Correct me if I'm wrong, but it looks like #10660 does not fix the vulnerability in NuGet. It has each user mitigate it on each of their environments.

To fix the vulnerability, the NuGet clients must detect duplicate packages and stop with a helpful message. Then the user can mitigate how they see fit (nuget.org takedown, #10660, order sources, etc.)

This does away with the recent "fastest respo

[2022-01-13 18:30] #11475 closed, assigned to kartheekp-ms

[2022-01-13 18:57] Basssiiie commented on #10566
You can make solution scoped nuget.configs that can be checked in into source control by putting the nuget.config in the same folder as the solution file. No need to configure it per dev environment if everyone works on the same solution.

One potential issue with an error on duplicate packages is that it requires all sources to respond. If one source is down, then should it happily take the other

[2022-01-13 19:46] kartheekp-ms commented on #11475
@aortiz-msft - I added `PerfWins` label to this issue because there is around `38 MB reduction in memory allocations for OrchardCore solution restore scenario`

[2022-01-13 20:03] JVimes commented on #10566
Same problem: have to remember to do it for every project now and in the future.

What are you using duplicate sources for? I've never seen anyone use that feature on purpose.

[2022-01-13 20:56] zooba commented on #11232
Presumably breaking older clients would just mean that they can't validate those signatures?

My next three years of releases to Nuget will have to be unsigned, because my code signing certificate only supports ECDSA. This means that older clients will fail in exactly the same way, but newer clients will also fail. Everyone loses 🤷‍♂️

[2022-01-13 22:00] Basssiiie commented on #10566
What if you have your private source and the official Nuget source in your nuget.config. You have package A in private source. Now a bad person uploads package A to Nuget. Your idea was to then fail the restore and show a message. That's fine and all, but what if bad person somehow takes down (connection to) your private source as well, then the restore will succeed because package A was still fou

[2022-01-13 22:10] JonDouglas commented on #10566
Hi everyone,

We have a feature that we released last year that should help with this problem.

https://devblogs.microsoft.com/nuget/introducing-package-source-mapping/

https://docs.microsoft.com/nuget/consume-packages/package-source-mapping

While I know you're discussing this problem further, this issue should be closed for now. Please feel free to open up another issue regarding specific probl

[2022-01-13 22:10] #10566 closed, assigned to JonDouglas

[2022-01-14 00:13] #10679 closed, assigned to nobody

[2022-01-14 00:41] JVimes commented on #10566
@JonDouglas That does not fix the vulnerability in the NuGet clients. It was wrong to close this issue.

[2022-01-14 01:08] darakian commented on #7752
Hey all 👋

Stumbled on this thread by way of https://devblogs.microsoft.com/nuget/how-to-scan-nuget-packages-for-security-vulnerabilities/

I see you're using the github advisory database and I just want to point out that we have a graphql api available for direct consumption.
https://docs.github.com/en/graphql/reference/objects#securityadvisories

[2022-01-14 01:46] JonDouglas commented on #10566
@JVimes We would love to understand your situation further as this feature can always be improved. A new issue would be very appreciated and helpful.

Because we have shipped a solution in the context of this issue, we will close the issue for now. If others feel that this isn't fully addressed, we can always reopen this issue.

[2022-01-14 09:45] 23W commented on #8195
Does it mean that .NET Standard nuget packages can be installed in C++/CLI projects?

[2022-01-14 12:01] JonDouglas commented on #7752
@darakian Thank you kindly for the heads up. We will investigate further when we revisit this area shortly.

[2022-01-14 16:54] #10800 closed, assigned to zivkan

[2022-01-14 17:03] #10325 closed, assigned to zivkan

[2022-01-14 19:16] erdembayar opened #11509 "Improve error message for dotnet add package NuGet.Versioning fails for Repository trusted signers"
Let's say nuget.config contains below:
[code]

**"dotnet add package nuget.versioning" fails, error message is not clear exact what failed: error: Value cannot be null. (Parameter 'path1')**

[code]

[2022-01-14 23:18] #8936 closed, assigned to erdembayar

[2022-01-15 00:56] KirillOsenkov opened #11510 "PackageDownload: support GeneratePathProperty"
If my understand is correct, `PackageDownload` items currently don't support `GeneratePathProperty`. This loses a lot of potential value prop because in the scenarios where you use `PackageDownload` you're highly likely to want to know a deterministic path to the package contents where it was laid out on disk.

Right now the only way we can see is rely on `$(NuGetPackageRoot)` which is problematic

[2022-01-15 00:56] KirillOsenkov commented on #11510
@nkolev92 @sandyarmstrong

[2022-01-15 01:14] sandyarmstrong commented on #11510
Even with $(NuGetPackageRoot) you have to repeat a lot of information to get the full nupkg path. It would be nice to have `GenerateNupkgPathProperty` or something too. :-)

[2022-01-15 01:35] nkolev92 commented on #11510
Dup of https://github.com/NuGet/Home/issues/8476.

[2022-01-15 01:35] #11510 closed, assigned to nobody

[2022-01-15 01:36] nkolev92 commented on #8476
@sandyarmstrong @KirillOsenkov

PackageDownload allows multiple versions, so we'd need a conflict resolution for that.

`PkgDownloadCleanedUpPackageName_1` or something like that?

We'd also need to be different from PackageReference, so we'd need something to make them slight different.

[2022-01-15 02:54] sandyarmstrong commented on #8476
How about `GeneratePathProperty` to get the directory path like in Package reference, and `GenerateNupkgPathProperty` to get the nupkg, since it's a bit annoying to construct.

The resultant property names could just include the version. `PkgSome_Id_1_0_0` for the directory, and `PkgSome_Id_1_0_0_nupkg` for the nupkg.

Am I missing anything that would make this problematic?

[2022-01-15 06:36] KirillOsenkov commented on #8476
One downside is when the version is changed you'd need to rename all properties.

We could have a heuristic that if only a single version is specified (the 90% case), the behavior should be identical to PackageReference (or maybe use a different prefix such as Package if it has to be separate from PackageReference convention).

I'd like to not have to mention the version in the common case.

[2022-01-17 18:55] 7enderhead opened #11513 "[Bug]: NuGet.Client TopologicalSortUtility Retrieves Dependencies From Wrong Location"
### NuGet Product Used

NuGet SDK

### Product Version

NuGet.ProjectModel 6.0.0

### Worked before?

don't know

### Impact

I'm unable to use this version

### Repro Steps & Context

- NuGet.ProjectModel.DependencyGraphSpec provides static method SortPackagesByDependencyOrder
- this in turn uses NuGet.Packaging.TopologicalSortUtility
- method CalculateRelationships retrieves a package's dependen

[2022-01-17 19:25] expert4pro commented on #6408
"Package Manager Console switches to the Error List window automatically"

This problem affects vs2019 Release actually.

Why haven't they fixed it yet?

[2022-01-18 01:30] phoenixshi opened #11514 "Cannot install upgrade assistant [Bug]:"
### NuGet Product Used

dotnet.exe, Visual Studio Package Management UI

### Product Version

dotnet tool install -g upgrade-assistant

### Worked before?

Not sure

### Impact

I'm unable to use this version

### Repro Steps & Context

1 install .NET 6
2 RUN 'dotnet tool install -g upgrade-assistant' in cmd

### Verbose Logs

[code]

[2022-01-18 05:32] Nirmal4G commented on #10327
Really need this fixed!

[2022-01-18 08:55] AndrueCope commented on #6408
When it comes to UI issues Microsoft have a track record of not bothering to fix them. This plus their general attitude of 'as long as there's a workaround it doesn't matter' means such things are ignored. I don't know if it's lack of resources or lack of care. Maybe their assumption is that because we're software developers they don't need to put any effort in.

Occasionally they will have a splu

[2022-01-18 09:19] efdknittlfrank commented on #8154
I found that .NET Core 2.2.8 still generates the same error, but .NET Core 2.2.7 works. Which is weird, considering that 2.2.8 came out after 2.2.7. Looking at the exact version numbers could explain it though: 2.2.207 (2.2.8) vs 2.2.402 (2.2.7). But this begs the question: why has a newer release an older version?

[2022-01-18 09:21] adamralph commented on #8154
.NET Core 2.x is out of support

[2022-01-18 10:17] alessandrozuliani commented on #7550
if anyone still has this issue, I've managed a way to make it work:

` <PaddedSolutionDir Condition=" '$(OS)' == 'Windows_NT'">"$(SolutionDir) "</PaddedSolutionDir>`

becomes

` <PaddedSolutionDir Condition=" '$(OS)' == 'Windows_NT'">"$(SolutionDir.Trim('\'))"</PaddedSolutionDir>`

[2022-01-18 16:09] sandyarmstrong commented on #8476
Yeah this is also a fine option.

[2022-01-18 17:00] zivkan commented on #7550
https://github.com/NuGet/Home/issues/7657 is the "main" tracking issue for this, with more history and context.

I strongly recommend everyone migrate/fix their projects to stop using `.nuget/nuget.targets` in their csproj. This is from NuGet's initial integration back in VS2010, 2012 and 2013. It was removed from VS2015 and later. It's adding fragility into your build for no benefit.

[2022-01-18 17:58] dlech commented on #9954
If manual unblocking is a requirement that can't be worked around, it would be super-awesome if nuget would spit out an error message that explained how to fix the problem instead of any unrelated error.

[2022-01-18 18:54] nkolev92 commented on #6408
Hey all,

Does anyone hit this issue while *not* running an EF command?

As pointed out by @zivkan's the EF package has some logic that focuses the error list, https://github.com/NuGet/Home/issues/6408#issuecomment-862366885, and that could be the root cause.

[2022-01-18 19:46] nkolev92 commented on #8476
Unfortunately the multiple includes with the same name version does not work quite like that.

Due to a CPS limitation, PackageDownload is only 1 item with `;` separated version.

You'd need to specify the property with `;` as well.

I think there's also value to keeping the functionality similar, keeping GeneratePathProperty.

[2022-01-18 22:36] phoenixshi commented on #11514
sorry, it is our firewall problem, I will close it.

[2022-01-18 22:36] #11514 closed, assigned to nobody

[2022-01-19 05:57] hummpe opened #11515 "[Bug]: Toolbox Item Population problem from Referenced NuGet package (WPF, .NET, VS Professional 2017 Version 15.6.6)"
### NuGet Product Used

NuGet.exe, Visual Studio Package Management UI

### Product Version

NuGet Package Manager 4.6.0, .NET Framework 4.6.1, Visual Studio Professional 2017 Version 15.6.6

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Toolbox Item Population problem from Referenced NuGet package (WPF, .NET, VS Professional 201

[2022-01-19 08:54] AndrueCope commented on #6408
Me. I'm getting it while building projects and we don't use EF. The Error List comes to the focus any time Package Manager emits a message. What's curious is that sometimes Package Manager doesn't have anything to say (eg; right now ironically I don't seem able to get it to emit any warnings).

[2022-01-19 14:09] zivkan commented on #6408
I assume you're referring to Package Manager Console, and not the Package Manager UI (especially since the menu items are all called "Manage NuGet Packages").

An easy way to get PMC to report an error is to run commands like `Get-Project -Name "DoesNotExist"`, or `Install-Package "NoSuchPackageExists" -Version 99.99.99`. When I just ran these to make sure I got the syntax right, it did not switch

[2022-01-19 15:07] AndrueCope commented on #6408
The warnings I was getting were just during the build. Various projects would cause NuGet to emit a warning when they compiled. Strangely today it seems to have stopped despite me not doing anything related to package management.

[2022-01-19 22:00] zivkan commented on #6408
The title of this issue is about Package Manager Console. The closest non-PMC issue I can find it https://github.com/NuGet/Home/issues/8190, but it was closed with a code fix 2 years ago.

If you have steps that someone on a different computer can follow to reproduce the issue (outside of PMC), please create a new issue. If I can repro on my computer, in theory with access to Microsoft's internal

[2022-01-19 22:53] erdembayar commented on #11467
@nkolev92
What is the OP video here? If it's actual problem, then I can take it for next sprint.

[2022-01-19 23:02] nkolev92 commented on #11467
From the issue body:

Seems like a real bug, but unless you are going to work on it in a quality week, given that it's a P1 please wait for the sprint planning before assigning.

[2022-01-19 23:51] erdembayar commented on #11467
@nkolev92
Do you have rough estimate for costing? If it's 2 or less than I can take for quality week.

[2022-01-20 00:35] nkolev92 commented on #11467
I don't really have a good estimate because I believe it has something to do with default content includes so the fix might not be NuGet side.

[2022-01-20 16:50] #11481 closed, assigned to nobody

[2022-01-20 17:07] loicmorvan-ansys commented on #10030
Can we have a status on the resolution of this issue?

We're currently migrating our code base from net48 to net5.0 (~450 projects) and it takes around 15 minutes (previously took 1.5 minute with net48). So we will unexpectedly not be able to move our products to net5.0 under these conditions.

[2022-01-20 17:30] jeffkl opened #11516 "[Feature]: Allow overriding a centrally defined package version"
### NuGet Product(s) Involved

NuGet.exe, MSBuild.exe, dotnet.exe

### The Elevator Pitch

Central Package Management (CPM) allows users to specify versions for their packages in one place.  However, there are edge cases where a project might want to use a different version.  For example, a prototype project could need a newer version than a repo is using so it would opt into newer versions.

Ther

[2022-01-20 17:30] jeffkl commented on #9465
Closing in favor of https://github.com/NuGet/Home/issues/11516 which has final design

[2022-01-20 17:30] #9465 closed, assigned to jeffkl

[2022-01-20 18:18] #9949 closed, assigned to erdembayar

[2022-01-20 19:37] erdembayar commented on #11513
@7enderhead
Thank you for filing this issue, it looks legitimate issue. I can take a look in next week. Do you have repro project having issue because of this? If yes, could you be able upload or send to me? It'll make my Investigaton easier.

[2022-01-20 19:52] reynoldsbd opened #11517 "[Bug]: Race Condition Creating Plugin Log Files"
### NuGet Product Used

Other/NA

### Product Version

.NET 5.0.404

### Worked before?

Don't have specific versions, but we have been observing the bug for nearly 6 months.

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Original issue: dotnet/sdk#21320

NuGet credential provider fails to initialize if two .NET projects are being built concurrently.

Appears to b

[2022-01-20 20:08] reynoldsbd commented on #11517
Hey @nkolev92, I'm happy to submit a PR to fix this. What do you think would be the best solution?

Using process ID could work, but what if the same process tries to run two plugin instances in parallel? Is this even possible?

Another option would be to use `new Random().NextInt64()` instead of `DateTime.UtcNow.Ticks`. Would this work?

Maybe some combination of the above?

[2022-01-20 20:17] nkolev92 commented on #11517
That sounds great, thanks!

That shouldn't be possible.

I think we still need to keep the time element as it helps having multiple logs in the same folder.

I don't think there's  too big of a difference in what the extra qualifier is as long as it's short. Possible someone else has a better idea when the PR gets reviewed.

[2022-01-21 00:04] nkolev92 commented on #8195
@23W Not yet. There's still some work leftover on C++ side.

[2022-01-21 00:09] levicki commented on #8195
@nkolev92 Will they really only support .Net Core targets?

[2022-01-21 00:57] nkolev92 commented on #8195
That's what I am aware of, but I can't speak on behalf of the C++ team about what they'd be open to supporting.

[2022-01-21 01:54] erdembayar opened #11518 "Improve Error_NoClientAllowList message"
Follow up on [comment](https://github.com/NuGet/NuGet.Client/pull/4396/files#r787158323)

![image](https://user-images.githubusercontent.com/8766776/150451626-9f35eea9-54ee-48e0-b619-517d4e8006a6.png)

[2022-01-21 08:45] fgreinacher commented on #10558
Thanks @zivkan for the in-depth answer, I can fully understand your situation!

Your input is surely super helpful to implement the necessary changes. It looks like a lot of work, so I am not sure when I'll find the time needed to provide a high-quality contribution. I'll definitely ping you before starting bigger changes!

[2022-01-21 10:37] levicki commented on #8195
Our hardware and software vendor (large US comany in the financial sector) is using a mix of C++, C++/CLI, and C# .Net Framework code in their software stack and we are interfacing with that to provide added value to our customers.

Currently they support .Net Framework 4.5.2 (will be 4.8 when customers finally migrate to Windows 10 from Windows 7 SP1), and we have no idea when (if ever) will they

[2022-01-21 16:07] zivkan commented on #8195
Just curious, is P/Invoke an acceptable alternative to c++/cli?  I'm sure there are some disadvantages, but I think it might be a feasible workaround to dropping support for .NET Framework. I think that c++/cli is WIndows only, meaning anyone interfacing .NET with native code on Linux, Mac, iOS, Android, etc have no choice but to use P/Invoke.

[2022-01-21 17:10] godboutj commented on #8809
That would be so awesome to not have to put the .snupkg on a Symbol server. I use artifactory I can distribute the .nupkg to my client and internally, but I wan to debug them internally without packaging them for the clients. If we could load the symbols package from a web source (with auth) or from a local folder at least, that would be great.

[2022-01-21 18:13] nkolev92 commented on #8195
cc @AugP who's the PM on that side.

[2022-01-21 19:21] amaitland commented on #8195
No. For those of us that already have existing C++/CLI code bases (https://github.com/cefsharp/CefSharp) dropping support for .Net framework would be catastrophic for the existing user base.

[2022-01-22 02:05] erdembayar opened #11519 "MAC certificate chain build logs NU3018 warning for trusted certificate"
I found MAC certificate chain build logs NU3018 warning for trusted certificate on our tests,  not sure if it's dotnet runtime issue or our test fixture issue.

![image.png](https://images.zenhubusercontent.com/5eb1d84a3cd56675c3efe510/7ee06ab5-555a-4034-98df-078528faaa84)
[code]

Repro code: https://github.com/NuGet/NuGet.Client/compare/dev-eryondon-11519MACwarning?expand=1

CI build with error:

[2022-01-22 02:07] erdembayar commented on #11519
@heng-liu @dtivel @kartheekp-ms
Fyi

[2022-01-23 16:40] levicki commented on #8195
Platform Invoke purpose (as the name suggests) is for calling platform API.

C++/CLI is often used to wrap existing C++ classes in managed classes, and then expose those to both C++ and .Net Core / .Net Framework applications.

I don't see how you could accomplish the same with P/Invoke only.

Anyway, my question was why they wouldn't support .Net Framework targets for nuget package references in

[2022-01-23 18:15] zivkan commented on #8195
It's used to call any arbitrary "native" library (dll on windows, so on linux, dylib on mac). It's certainly convenient to call operating system (platform) APIs. But Kestrel in .NET Core 1.x and 2.x used libuv, which is not part of any operating system, and their .NET code they P/Invoke into it. There are also packages on nuget.org that contain both native libraries, plus a pure-.NET assembly that

[2022-01-24 13:17] levicki commented on #8195
@zivkan

But the outcome is totally not the same **for the developer** -- the amount of work and resulting code reeadability and maintainability are worlds apart.

Yes, you can call C++ code from a DLL using P/Invoke but that gets ugly really fast so you shouldn't do that unless that's your only option (i.e. when you don't have C++ source code but only a DLL).

Since we are discussing C++/CLI here

[2022-01-24 13:53] dtivel commented on #11519
Looks like https://github.com/NuGet/Home/issues/11178.

[2022-01-24 18:18] #9183 closed, assigned to nobody

[2022-01-24 18:35] #11031 closed, assigned to zivkan

[2022-01-24 19:26] kuhnboy commented on #8195
@AugP can you comment on the status of supporting this from the C++ side please?

[2022-01-24 20:24] clairernovotny opened #11520 "Detect license changes in packages"
**Summary**

NuGet packages are licensed for use according to either the `licenseUrl`, embedded license, or [SPDX expression](https://docs.microsoft.com/en-us/nuget/reference/nuspec#license). While the license for a particular package is considered to be immutable, new versions of packages can have different licenses. When a package is updated, a customer may get a license with different terms tha

[2022-01-24 20:48] dominoFire commented on #11515
@hummpe Thanks for your report.

Can you try this on Visual Studio 2022 ?

[2022-01-24 21:04] WhiteBlackGoose commented on #11520
My 5 cents:

No, but it can be enforced with tooling, I think. For example, updating the package would yield an error about license incompatibility, so one would need to pass something like `--accept-the-license` flag or something like this.

<hr>

Wouldn't it only make sense for semver, which isn't always strictly followed?

<hr>

In CLI it would by default try to update to the latest possible. T

[2022-01-24 21:06] heaths commented on #11520
Given nuget's limited/less-known support for version ranges, forcing an ID change for a more restrictive license seems like a good idea, but what - conceptually - does that even look like? Some rights might be more restrictive where others loosen. Who or what decides?

Certainly prompt when a license URL or ID/token changes. You might even use a sightly different dialog that really emphasizes that

[2022-01-24 21:10] OleAlbers commented on #11520
* Should NuGet block breaking license changes? This would require a new package id. Example (Apache -> MIT would be allowed, MIT -> GPL would not)

In my opion: yes. There still is the option to simply create a new package for the maintainer.

[2022-01-24 21:16] BenjaminAbt commented on #11520
No.

I think the NuGet lock file would be a good place for this, and a user must accept a license change, if the license is different from the last state in the lock file. This would also be an opt-in to the license check.

The problem would be that hardly anyone uses / can use the lock mechanism.

[2022-01-24 21:17] DanAtkinson commented on #11520
Excellent question!

Yes, but configurable. CLI design changes may be needed to decide whether license changes should cause a failure. For instance, ANY license change, a more permissive license change, a more restrictive license change, or no warning.

Yes. Ideally, a new version which has the old licensed software. This would be the last version of that software, besides any LTS or critical fixe

[2022-01-24 21:26] dansiegel commented on #11520
I do like the goal to ensure that there is a mechanism to alert people to a license change... Reading some of the proposals around this though I must say, I would be quite p***ed off if NuGet did anything explicitly to block me from publishing my packages. As a package author I do not want to have to publish an entirely new package id because of a license change, and it doesn't really lead down go

[2022-01-24 21:47] glennawatson commented on #11520
I would want to at least know that a license change has occurred in a dependent package. When I worked at a large software corporate we had to keep a dependent database of licenses, and we had restrictions on what licenses are acceptable for OSS. If one of those changes may prevent developers from using the package without legal approval.

Visual Studio should default to alerting you. With an opti

[2022-01-24 22:08] DavidKarlas commented on #11520
‪Would be nice to have list of approved/compatible licenses in nuget.config with same propagation rules as sources, and I have to manually add new license to nuget.config.

Idea is if I have MIT and BSD in list of compatible licenses and packages switches from MIT to BSD its not showing any warnings just upgrades. But if it goes to GPL and I dont have it in nuget.config it errors and it tells me t

[2022-01-24 23:54] groksrc commented on #11520
- Should NuGet block breaking license changes? This would require a new package id. Example (Apache -> MIT would be allowed, MIT -> GPL would not).
  - No, definitely not. Now you've got a dependency graph of all of the "breaking license" changes. Good luck figuring that out.
- Should it enforce a major version change?
  - No, definitely not. I should have the freedom to version my package as I se

[2022-01-24 23:59] ltrzesniewski commented on #11520
Wouldn't generating that file in `obj` be sufficient? VS restores NuGet packages when the solution is opened, so you'd already have a file you could compare against on restore.

I don't like the idea of having a _committed_ file that just duplicates information from `PackageReference` tags.

[2022-01-25 08:26] ryanbnl commented on #11520
There are some good replies here :-)

Basically:

1.  DO NOT fail on change. This will make new / dark matter developers get frustrated, break CI and is a breaking change to whichever tool you're changing.
2. DO make licence changes visible.
3. DO make the scope clear.

In practise that will mean:

- Showing a warning in any situations where a package will be updated without explicit action (iirc

[2022-01-25 08:26] ryanbnl commented on #11520
Requiring a major version change for license changes? My first feeling is that it makes a lot of sense - licenses are a **foundational** building block of a project/package, changing them is a **BIG** deal so it should be absolutely visible.

[2022-01-25 11:02] devlead commented on #11520
I like the idea of having better supply chain management features.

Some thoughts
* I see it there are two aspects, the consumer and the producer, which might have totally different needs.
* I don't think the major version is enforceable as there're many different types of versioning schemes, some use SemVer, some use `yyyy.mm.dd.xxx`, some use `0.x.y`, so if viable it would need to be opt-in and

[2022-01-25 12:08] pascalberger commented on #11520
I see two different features mentioned in these discussion:

1. Detect and notify on license changes of existing packages
2. Limit packages to specific licenses

While I think limiting packages to specific licenses is a nice feature, I'm not sure if CLI is the best place to implement this. As this is a feature interesting for enterprise scenarios, being in a enterprise scenario would often also me

[2022-01-25 12:17] ryanbnl commented on #11520
Sure in the enterprise I have my own artefact/package management repository and infrastructure to ensure compliance.

However I would argue that it's also very importent for smaller teams/companies. They don't have the resources to do this. Even the project I'm working on - which is very well resourced - doesn't have the capacity (checks are enforced during review).

Having this built in would hav

[2022-01-25 13:18] daveaglick commented on #11520
I'll weigh in a bit here as a package producer who's made license changes and who is likely to do so again in the future at some point. In my opinion, the package manager should be as unopinionated as possible, not just around licensing but around any package metadata. Others have already chimed in with similar sentiment, so this is mostly repetitive but to me, in this context, that means:

- Don'

[2022-01-26 00:08] zivkan opened #11521 "[Bug]: VS package source options clears all checkboxes when adding or removing sources"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

17.1 preview 4

### Worked before?

17.1 preview 3

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Open Visual Studio's Options, and go to NuGet Package Manger/Package Sources. If you click the + or - buttons to add or remove a source, all the enabled sources will have their checkboxs clea

[2022-01-26 00:16] #9746 closed, assigned to zivkan

[2022-01-26 00:16] #9745 closed, assigned to zivkan

[2022-01-26 00:17] #11476 closed, assigned to zivkan

[2022-01-26 16:11] #10011 closed, assigned to erdembayar

[2022-01-26 16:11] #10774 closed, assigned to erdembayar

[2022-01-26 17:44] zivkan opened #11526 "[Bug]: Extracting package with NuGet.Packaging throws ArgumentNullException when `ILogger` is null"
### NuGet Product Used

NuGet SDK

### Product Version

6.2 preview

### Worked before?

6.1

### Impact

_No response_

### Repro Steps & Context

See https://github.com/dotnet/sdk/pull/23563

### Verbose Logs

_No response_

[2022-01-26 18:23] heng-liu commented on #11467
Hi @tonygiang ,
I could repro with the following project file:
[code]
The error in the error list is:
`NU5039	The readme file 'README.md' does not exist in the package.`

But when I change the line from `<None Update="docs\README.md">` to `<None Include="docs\README.md">`, the pack is successful.
Could you help check if changing "Update" to "Include" works for you?

[2022-01-26 18:43] tonygiang commented on #11467
I can confirm that changing "Update" to "Include" works.

[2022-01-26 18:45] nkolev92 commented on #11467
@heng-liu

There's a few different things going wrong here, which is why I mentioned the content includes are likely a problem.

The project system generates a file *with* the `Update` element and it doesn't work when you multi target.

In particular:

[code]

works, but

[code]

Make sure you  clear the obj/bin folder between the `TargetFramework` to `TargetFrameworks` change.

[2022-01-26 19:43] heng-liu commented on #11467
I was unable to repro the first scenario (`TargetFramework` + `Update `=> successful pack), which is shown in the video at the beginning part.
When I tried to repro, it failed the pack for the same reason..Even though I unload the project and clear the obj/bin folder.
May I know how to repro for this scenario? @tonygiang Thanks!

[2022-01-26 19:44] heng-liu commented on #11467
BTW,I found an issue https://github.com/dotnet/project-system/issues/7642.
The issue is, when adding readme through package properties UI, when the file is at the project's directory or lower in the directory structure, the project file is changed incorrectly. One [comment ](https://github.com/dotnet/project-system/issues/7642#issuecomment-935156501) explains it causes a None item into an Update i

[2022-01-26 20:39] tonygiang commented on #11467
I always build once before packing by habit. Perhaps that was the missing step?

[2022-01-26 20:41] nkolev92 commented on #11467
@heng-liu

Try:

[PackFailure.zip](https://github.com/NuGet/Home/files/7945428/PackFailure.zip)

Extract it.

Run `msbuild /restore /t:pack` which will automatically build.

AFter that succeeds. Edit the csproj, run `git clean -xdf` and run `msbuild /restore /t:pack` and it should fail.

I can repro it locally, I'd be happy to help you repro offline.

[2022-01-26 20:44] nkolev92 commented on #11467
@heng-liu

The project system side sounds like it could be a problem, but I'm not 100% sure what the fix should be yet, or whether a fix for that is needed.

Understanding why TargetFramework vs TargetFrameworks behaves differently might help us understand what the overall root cause is.

[2022-01-26 21:01] heng-liu commented on #11467
Thanks @nkolev92 ! I'm now able to repro with the info you provided :)
I'll see why TargetFramework vs TargetFrameworks behaves differently.

[2022-01-26 22:32] #11521 closed, assigned to zivkan

[2022-01-26 22:59] #11401 closed, assigned to erdembayar

[2022-01-26 23:12] SimonCropp opened #11527 "[Feature]: Add an option for packages to have a "requires payment" setting"
### NuGet Product(s) Involved

Package management UI and nuget gallery

### The Elevator Pitch

This setting would be a key to a known list of "payed license" providers. For example GitHub, OpenCollective, Patreon etc. Each of these providers would implement a convention based web API. When someone adds or updates the package, their id (along with package name and version) is validated against the

[2022-01-27 01:15] heng-liu commented on #11467
The root cause is this [line](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack/PackTask.cs#L179) has different behavior for TargetFramework vs TargetFrameworks.
When it's `TargetFramework ` :
![image](https://user-images.githubusercontent.com/45407901/151272795-05275d66-5e69-4a46-ba67-3a7927666f55.png)

When it's `TargetFrameworks` :
![image](https://user-images

[2022-01-27 01:27] heng-liu commented on #11467
Hi @nkolev92 , do you have any idea if this is an issue in NuGet?

[2022-01-27 01:58] nkolev92 commented on #11467
Not sure, probably no, but we might need to implement a workaround potentially depending on the findings.

That was the extent of my analysis when I reproed it, looked at the binlog and observed that difference.

It's a NuGet scenario that's broken, so understand where the issue is coming from is the only way to determine what's happening.
I think the next step is to see where those default import

[2022-01-27 02:00] nkolev92 commented on #11467
Actually, I think I see the problem.

It is *possible* that _GetPackageFiles is only running in the inner build (with TargetFramework set, outer build is when TargetFramework is not set).

[2022-01-27 02:07] nkolev92 commented on #11467
This issue is essentially the same as https://github.com/NuGet/Home/issues/6792, which basically says conditionally included content is not considered.

[2022-01-27 04:44] zivkan commented on #3390
Can be done independently, so maybe belongs in a different issue, but implementing [`If-Modified-Since`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Modified-Since) in the client, and updating the timestamp of the http-cache file when it's a cache hit, would also significantly reduce bandwidth, even when an http request is made.

`ETag` might theoretically be better, but will be h

[2022-01-27 08:50] webprofusion-chrisc commented on #11527
Here's an API I just made up, by way of discussion. It has one `/license` endpoint you post to and http 200 means you are licensed: https://webprofusion.stoplight.io/docs/pay-package

[2022-01-27 10:49] Pvlerick commented on #7855
Having an env variable would indeed be helpful...

[2022-01-27 15:16] JonDouglas commented on #11527
Thanks for the feature request! We'll continue to keep a close eye as more comments, reactions, and discussion continues for this issue. For reference, we use 👍  in our yearly planning exercises to gauge what highly requested features to work on.

If there is enough interest and the community would like to move forward with a RFC (request for comments), please feel free to do so through https://gi

[2022-01-27 16:52] OleksiiFonin commented on #2617
I have same problem for VS 2022. After going to General tab and than back to Package Sources it shows everything.

[2022-01-27 18:13] kartheekp-ms commented on #11401
@erdembayar @aortiz-msft - I added `PerfWins` label to this issue because the improvements are great.

[2022-01-27 18:36] nkolev92 commented on #10030
@lmorvan

Do you have log4net in your dependencies?

[2022-01-27 18:44] #11487 closed, assigned to jebriede

[2022-01-27 19:05] #11526 closed, assigned to zivkan

[2022-01-27 20:03] stamminator commented on #10714
Looks like the "over one billion" issue again: https://github.com/NuGet/Home/issues/10864. Maybe a regression caused by https://github.com/NuGet/NuGet.Client/pull/4255.

![image](https://user-images.githubusercontent.com/10633170/151434171-12767a68-e907-4971-ba47-266ab4bb5f88.png)

[2022-01-27 20:20] stamminator commented on #10714
@nkolev92  Seems like an awful coincidence though that in both cases, it seems to be related to hitting the 1 billion figure.

[2022-01-27 20:35] nkolev92 commented on #10714
@stamminator

In this the download counts are not getting display for any of the recommended packages.
If you look at your screenshot, you'll notice that none of the packages with a 'star' have a download count.

[2022-01-27 21:09] heng-liu commented on #11467
I tried to get the binlog of `TargetFrameworks `+ `Include`, and found the _GetPackageFiles runs successfully (the pack was also successful).

Is it possible that the problem is `None ` item is empty for `TargetFrameworks ` + `Update` scenario?
Here is the comparison of `TargetFrameworks `+ `Include`(left + details in middle) and `TargetFrameworks `+ `Update`(right)
![image](https://user-images.gi

[2022-01-27 21:36] nkolev92 commented on #11467
@heng-liu

When you declare an include in the csproj, you're basically declaring it for both inner and outer builds unless you condition it.
The automatic includes are expanded as part of the inner build only, which is why it fails.

Outer build = not framework specific.
Inner build = `TargetFramework` property is set to one of the many options in TargetFrameworks. So if anything is done condition

[2022-01-27 22:02] nkolev92 commented on #6792
Related to github.com/dotnet/sdk/issues/1479.

[2022-01-27 22:42] julealgon commented on #5375
When will this be fixed? There is currently no way to temporarily handle a Nuget problem as a warning if you have `TreatWarningsAsErrors`. We don't want to completely disable the warning as it is valid and needs to be fixed eventually, however we can't do it while ensuring other warnings aren't introduced in our project.

This has been opened in 2017 and nuget respects every other common MSBuild p

[2022-01-27 23:33] nkolev92 commented on #11461
I don't think this is a bug.

This was an explicit change in https://github.com/NuGet/NuGet.Client/commit/fef7522ee0e7c5d8be656770a95c8262313f09cb, https://github.com/NuGet/NuGet.Client/pull/3050

[2022-01-28 00:59] erdembayar commented on #11341
@aortiz-msft @nkolev92
I was not able to repro again, I can see some duplicate read data with perfview logging and but actual code doesn't read repeatedly.
I'm closing for now. I'll revisit later if necessary.

[2022-01-28 00:59] #11341 closed, assigned to erdembayar

[2022-01-28 01:31] erdembayar opened #11529 "Implement If-Modified-Since cache for NuGet.Client"
While looking into [this](https://github.com/NuGet/Home/issues/8352) performance bug I noticed we're wasting so much time just downloading json and deserializing it. Some of those files are 300-400MB size for MS some internal projects. We need some way to know just content changed or not without having to download whole json response. We can either use `If-Modified-Since` or `Etag` cache.

Related

[2022-01-28 02:38] nkolev92 commented on #11529
nit: There's already an etags issue, this one could be `If-Modified-Since` in particular.

[2022-01-28 08:12] lmorvan commented on #10030
Yes, we currently have it at version 2.0.8, going to officially update it to version 2.0.14.
This reduces down the restore from 15 minutes to 2min30: way better and acceptable even though it is more than the initial 1min30 ;)
I'm going to hunt packages with "too many" dependencies in our solutions.

[2022-01-28 09:10] ViktorHofer opened #11530 "[Bug]: Pack target is causing unnecessary project evaluations which noticeably slows down a project's build"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.100

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

When building a .NET project which sets the `GeneratePackOnBuild` switch or when invoking the `Pack` target, NuGet calls into the underlying projects via an MSBuild Exec task (i.e. based on the project.assets.json data) and

[2022-01-28 09:40] marcin-krystianc commented on #10030
@lmorvan For us, the workaround was to start using ["Central package version management"](https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions) with ["transitive dependency pinning"](https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions#will-a-central-defined-package-version-influence-transitive-dependency-resolution), which to some extent helps with

[2022-01-28 14:16] v-luzh opened #11531 "[Bug]: [Bug Bash] The “PackageReference” package icon colors in Solution Explorer window are inconsistent between .NET SDK based project and .NET Framework project"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

NuGet Client Dev\6.2.0.26

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

### Details about Problem
NuGet version: NuGet Client Dev\6.2.0.26
VS Version: Main\32127.271
OS: Windows-11-Enterprise-21H2
### Detailed repro steps
1. Launch VS and click “Create

[2022-01-28 14:20] v-luzh opened #11532 "[Bug Bash] The “Select all packages” checkbox should not appear earlier than the package list below in "Updates" tab"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

NuGet Client Dev\6.2.0.26

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

### Details about Problem
NuGet version: NuGet Client Dev\6.2.0.26
VS Version: Main\32127.271
OS: Windows-11-Enterprise-21H2
### Detailed repro steps
1. Launch VS and click “Create

[2022-01-28 14:57] donnie-msft commented on #11532
Nice catch. I'm aware of this behavior. It's not ideal, but it shouldn't allow the user to do anything erroneous.
We don't have a good way right now to know when the list is complete, so the UI state is set immediately.

I'll use this as a Task reminder in the work to refactor the UI.

[2022-01-28 15:33] qlikTERror opened #11533 "[Bug]: push fail when Credential Provider fail even if ApiKey is passed on command line"
### NuGet Product Used

NuGet.exe

### Product Version

6.0.0.280

### Worked before?

Before credential providers

### Impact

I'm unable to use this version

### Repro Steps & Context

We are trying to push a package to GitHub packages. We verified that our Source and ApiKey works correctly. As Source we use **https://nuget.pkg.github.com/<owner>/index.json** where **<owner>** is replaced with o

[2022-01-28 16:28] zivkan opened #11534 "[Bug]: Disabling package source in VS throws null reference exception"
### NuGet Product Used

Visual Studio Package Management UI, Visual Studio Package Manager Console

### Product Version

17.1

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

[code]

Then go into VS options, NuGet Package Manger, Package Sources.

Uncheck the checkbox for the whatever source, and click ok.

The problem is here: https://

[2022-01-28 16:44] #11502 closed, assigned to nkolev92

[2022-01-28 16:46] zivkan opened #11535 "[DCR]: NuGet causes many ArgumentExceptions to be thrown & caught in VS"
### NuGet Product(s) Affected

Visual Studio Package Management UI, Visual Studio Package Manager Console

### Current Behavior

`src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/ProjectServices/VsProjectBuildProperties.cs` tries to get MSBuild properties from `IVsBuildPropertyStorage`, and if it's unable to get the property (even if the API returns a code saying the property does not exist)

[2022-01-28 19:04] heng-liu commented on #11296
Hi @AraHaan , I tried to repro on both ubuntu and macOS, but it seems the push command work correctly on both of them.
Here are my repro steps:
On Ubuntu:
1.Create a packages folder as following:
[code]
2.Create another 4 different folders as the sources
[code]
3.Go to `packages `folder, run push commands for different scenarios:
3.1 **double quotes and globstar is off**: ` dotnet nuget push "**/*

[2022-01-28 21:09] nkolev92 commented on #11530
The project version one is probably the most problematic one in your case right?
The other 2 look like they actually need to get data from the inner build.

Building the project refs there probably introduces a regression for projects with deep graphs, right?

I'm trying to brainstorm here, but we might need to involve msbuild folks who may have some advice.

[2022-01-28 21:55] dominoFire commented on #11531
@drewnoakes Do you think this is expected?

[2022-01-28 22:02] donnie-msft commented on #11461
After installing, I believe it's reasonable to leave the "just installed" as the selected version.
Let me know if you or anyone feels there should be a design change here.

Refreshing or leaving and returning to this tab, you'll then see the latest, as expected.

[2022-01-28 22:02] #11461 closed, assigned to nobody

[2022-01-28 22:24] dominoFire commented on #11533
Does this also happen with `dotnet nuget push` ? https://docs.microsoft.com/dotnet/core/tools/dotnet-nuget-push

[2022-01-29 09:49] drewnoakes commented on #11531
Yes this is expected. In old projects these were mixed under the same heading and colours helped differentiate. In the new tree we aim to keep all colour out of the tree, so that we can use colour to highlight error status etc. I have reached out to the design team about removing colour from the Analyzers node.

[2022-01-30 05:20] atrauzzi opened #11536 "[Bug]: Package unusable after pack"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.100

### Worked before?

N/A

### Impact

I'm unable to use this version

### Repro Steps & Context

I'm in the process of configuring builds for an open source project which can be found here: https://github.com/atrauzzi/protoculture-dotnet-postgres

Part of how this project works is that it **embeds** various versions of postgres as st

[2022-01-30 07:49] v-crchang opened #11537 "[Bug]: Versions dropdown default selection should be LatestStable on Updates tab in PM UI"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.2.0.29

### Worked before?

Dev\6.2.0.28

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Create a C# Console App (.NET Core) project.
2. Open PM UI of the project by right-clicking the project->Manage NuGet Packages… in Solution Explorer.
3. Install a package (e.g. “Newtonsoft.Jso

[2022-01-30 13:31] ViktorHofer commented on #11530
The other 2 look like they actually need to get data from the inner build.

I don't think it matters if just the outer or the inner builds are invoked. If I use `GeneratePackageOnBuild` or invoke the project via the `Pack` target without specifying the `--no-build` option, projects build and both outer and inner dimensions are invoked. What I wonder is why NuGet can't sequence the gathering of the

[2022-01-30 17:07] ransagy commented on #9340
I know this issue is a bit old; let me know if you want me to open a new one, but..

Since CPVM is getting some more attention now - Is it possible to make this a once-per-operation message rather than once per project? or even better IMO, make it suppressable, like the ".NET Core Preview SDK" messages?

This adds A LOT of spam to a build when using CPVM.

[2022-01-31 02:05] KirillOsenkov opened #11538 "[Bug]: NuGet.exe depends on Microsoft.Build.Framework.dll 4.0.0.0 from the GAC"
### NuGet Product Used

NuGet.exe

### Product Version

6.0.0.280

### Worked before?

No

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Nuget.exe references Microsoft.Build.Framework.dll and Microsoft.Build.Utilities.v4.0.dll which are both loaded from the GAC:

[code]

If you unGAC all MSBuild dlls on the machine, nuget.exe stops working:

[code]

I love that nu

[2022-01-31 10:45] kalirajanganeshan opened #11542 "Signature Verify warning in Syncfusion NuGet package"
### Impact

Other

### Describe the bug

We have signed and published the Syncfusion.Tools.Windows(v17.2.0.34) on 07/11/2019 at the time our signing certificate has validity till 2020. We are facing the below failure in below shared machine configuration while running the following NuGet signature verify command, but this issue was reproduced in some machine only. Can you please check and update s

[2022-01-31 13:14] OskarKlintrot commented on #7605
Still broken in dotnet 6:
[code]

[2022-01-31 15:42] rainersigwald commented on #11530
Yeah, it feels like you should be able to do this by doing something like "add a target that sets a property like `_NuGetTheBuildActuallyRan=true` in the build process that doesn't run on `Pack`-with-no-build, then check for it and if it's set don't use `BuildProjectReferences=false`.

That said, evaluations are ideally not too expensive, especially if we've already read a bunch of files from disk

[2022-01-31 15:44] sim590 commented on #6331
Hi. I'm a bit late to the party, but it seems it is feasible to import `Microsoft.Common.targets` as follows:
[code]
and that enables the following command to work on any `.proj` file that does contain the above line:
[code]
I hope it helps.

### On previous answers

At first, `Microsoft.Common.props` was proposed to be imported, but it doesn't import the targets.

Here, it seems like @emgarten me

[2022-01-31 16:28] ViktorHofer commented on #11530
In the case of dotnet/runtime libraries, project evaluations are quite expensive. Importing and evaluation everything from both the msbuild layout under the sdk's folder and from nuget packages + the Arcade SDK adds 200-250ms per project:

![image](https://user-images.githubusercontent.com/7412651/151832354-7c27c3e6-6537-472c-abff-07692faf724d.png)

dotnet/runtime has about 80 out-of-band projects

[2022-01-31 18:02] nkolev92 commented on #11537
@v-longmin

Please don't remove the automatically configured labels.
We rely on that to tells us which issues we're supposed to look at.

[2022-01-31 18:11] #5957 closed, assigned to nkolev92

[2022-01-31 18:27] nkolev92 opened #11539 "Move namespace of project update events from NuGet.SolutionRestoreManager to NuGet.VisualStudio"
by @zivkan in https://github.com/NuGet/Home/pull/11492#discussion_r788281766

[2022-01-31 20:36] nkolev92 commented on #11530
Probably not, but the biggest difference is the number of target frameworks that your repo has.

[2022-01-31 20:48] Alexander248365 opened #11540 "[Bug]:"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

VS 2019

### Worked before?

_No response_

### Impact

Other

### Repro Steps & Context

The Windows Forms project contained MSAL library files:
using System.Windows;
using Microsoft.Identity.Client;
using Microsoft.Identity.Client.Desktop;

VS gave an error: Must Use PackageReference.

A post at https://stackoverfl

[2022-01-31 21:04] ViktorHofer commented on #11530
Three platforms are quite common in .NET OSS repos. Many folks target .NETFramework and .NETCoreApp in addition to .NETStandard to avoid binding redirects or leverage new features.

You (NuGet) have such packages as well: https://www.nuget.org/packages/NuGet.Packaging/ :)

[2022-01-31 21:18] nkolev92 commented on #11519
Triage: Assigning to @erdembayar

Please verify if it's the same as #11178 and close if so.
Leave in New Issues if not.

[2022-01-31 21:24] nkolev92 commented on #11530
I'm not saying it never happens, but in the big picture, nuget.client and runtime repos are not the most common ones.

[2022-01-31 21:27] #11539 closed, assigned to nkolev92

[2022-01-31 21:59] nkolev92 commented on #11534
Triage: Let's close this as there's no immediate functional impact and no customer reports.

[2022-01-31 21:59] #11534 closed, assigned to nobody

[2022-01-31 23:34] nkolev92 commented on #11303
Hey @AraHaan

I think the last response provides enough information for your problem.
Looking at the latest version of your code, looks like you've moved away from it/refactored it.

Closing this as addressed.

[2022-01-31 23:34] #11303 closed, assigned to nobody

[2022-01-31 23:37] nkolev92 commented on #11294
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2022-01-31 23:37] #11294 closed, assigned to nobody

[2022-01-31 23:41] nkolev92 commented on #11515
Hey @hummpe

Thank you for filling this issue.

Can you please try later versions of the product as @dominoFire suggested?

This issue is particular to Visual Studio, not NuGet in particular.

Please file this issue in https://developercommunity.visualstudio.com/, and it can be routed to the appropriate team.

[2022-01-31 23:41] #11515 closed, assigned to nobody

[2022-01-31 23:50] nkolev92 commented on #11540
Hey @Alexander248365

Thanks for filling this. I'm not sure I can follow what the issue you're facing is exactly.

The error message `Must Use PackageReference` is *not* provided by NuGet itself, but rather the package, which NuGet cannot control.

Can you provide a repro of your problem so we can determine if there's anything NuGet could/should be doing differently.

[2022-01-31 23:52] nkolev92 commented on #5957
This should land in 6.2/6.0.200/17.2.

Not inserted yet, but should be in preview 1 of 17.2

[2022-01-31 23:55] nkolev92 commented on #11531
As mentioned by @drewnoakes this is as expected right now. As such we'll close this.

@drewnoakes Do you have a link for issue tracking the legacy project system change?

[2022-01-31 23:55] #11531 closed, assigned to nobody

[2022-02-01 00:08] nkolev92 commented on #11536
@atrauzzi
Looks like you've narrowed it down to a GPR problem, is that correct?

[2022-02-01 00:19] drewnoakes commented on #11531
We would be unlikely to change the legacy project system here. In that project system, two different kinds of reference are shown as siblings, and the colouration helps distinguish them.

[2022-02-01 01:20] atrauzzi commented on #11536
@nkolev92 - At least for the moment, yes.

It would be useful to help them with troubleshooting though if I can arm myself with as much information as possible.  I've attached a copy of a failing package to this ticket.  If you or anyone in-the-know :tm: can spot something wrong with it, please feel free to let me know.

It can be a bit difficult at times to track down a canonical and _complete_ r

[2022-02-01 01:27] nkolev92 commented on #11536
@atrauzzi

We strive for the tooling to *not* allow invalid packages to be created.
I don't see anything about the package that suggests it should be invalid here.

The usage for package is usually more permissive than uploads, but a good rule of thumb can be applied there as well.
In a large majority of the cases, if a package can be consumed/installed, then it's likely ok.

For now, i'll close t

[2022-02-01 01:27] #11536 closed, assigned to nobody

[2022-02-01 01:31] AraHaan commented on #11296
I have not rechecked it in github actions for some time to see if they fixed it, I could recheck it sometime when I get the time for it.

[2022-02-01 01:40] nkolev92 commented on #11533
Hey @qlikTERror

The API key and the general authentication have 2 different purposes here.

The general auth is something that a source can enforce as they see fit, but API keys are generally used for push scenarios *only*.

The credential provider will kick in 401/403 scenarios, and in this case it's when getting the service index, *before* you can push a package.

Basically, you to be able to a

[2022-02-01 01:46] nkolev92 commented on #11538
That might be coming from: https://github.com/NuGet/NuGet.Client/blame/4af7d7a3f4d8644f2329eb00b1c29d64eb553119/src/NuGet.Core/NuGet.Build.Tasks/NuGet.Build.Tasks.csproj#L46-L47.

It looks like we're already using the package versions in other cases, but for some reason we're not doing that for NuGet.exe.

[2022-02-01 01:50] #11423 closed, assigned to martinrrm

[2022-02-01 01:50] #11424 closed, assigned to martinrrm

[2022-02-01 01:50] #11425 closed, assigned to martinrrm

[2022-02-01 01:50] #11537 closed, assigned to martinrrm

[2022-02-01 01:52] #11439 closed, assigned to martinrrm

[2022-02-01 01:55] Alexander248365 commented on #11540
Hi Nikolche,

First of all, thank you for supporting NuGet!

You are correct: error Must Use PackageReference was reported by Visual Studio.

The action suggested to resolve this issue was to Migrate two items to PackageReference.

Once I did it, many objects in the project lost links, and I had to restore the project files from the created backup.

I thought NuGet does this migration and thus rep

[2022-02-01 02:07] nkolev92 commented on #11417
I think you may be misinterpreting the assets file.

The targets section is what got resolved.

At the bottom of the assets file, there's a dependencies section that has the direct dependencies specific.

Can you check that and see if the package in question is listed there?

[2022-02-01 02:11] nkolev92 commented on #11542
Hey @kalirajanganeshan

Do you see this issue with any other packages?

I'll try to get a machine to repro your scenario, but in the meantime you can hopefully help us clarify a few things about your scenario.

Thanks!

[2022-02-01 02:13] nkolev92 commented on #11540
Hey @Alexander248365,

It's the package itself that raises the message, not the tooling.
So somewhere in the package there's some logic that's raised. It's not the tooling that's forcing that.

Oh there was an action prompt? NuGet doesn't usually do that.

If you'd like you can provide more detail and we can continue digging.
If not, I can close this as external.

Thanks.

[2022-02-01 03:02] atrauzzi commented on #11536
That's wonderful to know!  Thank you so much for the insights and I'll continue to liase with your sister group over at GitHub :slightly_smiling_face:

[2022-02-01 03:09] kalirajanganeshan commented on #11542
Hey @nkolev92 ,

Please find the packages list which have this issue.

**Version**: 17.2.0.34

Syncfusion.Grid.Base
Syncfusion.Grid.Windows
SyncFusion.Shared.Base
SyncFusion.Shared.Windows
Sybcfusion.SpellChecker.Base
Syncfusion.Tool.BaseSyncfusion.Tool.Windows

Thanks,
Kalirajan Ganesan

[2022-02-01 03:11] Alexander248365 commented on #11540
Hi Nikolche,

There was no prompt from NuGet, it was an external suggestion.

If Migration to new packages is done by VS and not by NuGet, the issue can be closed as external.

Regards,

Alexander

From: Nikolche Kolev ***@***.***
Sent: January 31, 2022 9:14 PM
To: NuGet/Home
Cc: Alexander248365; Mention
Subject: Re: [NuGet/Home] [Bug]: (Issue #11540)

Hey @Alexander248365 <https://github.com/Alex

[2022-02-01 03:47] atrauzzi opened #11543 "[Bug]: Performance is quite severely degraded with lots of `contentFile` entries"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.100

### Worked before?

N/A

### Impact

It's more difficult to complete my work - although one might argue it's basically unusable.

### Repro Steps & Context

Take a look at the following nuget package: https://github.com/atrauzzi/protoculture-dotnet-postgres/suites/5130643290/artifacts/154430129

Out of necessity, it contains *a lot*

[2022-02-01 17:06] ignotus87 commented on #9411
I share the solution to my case, maybe it'll help someone.
Neither the workaround nor checking the errors in the nuget restore output helped my issue which occured only during an Azure DevOps Server pipeline build. After cleaning the agent's working folder, I found a new warning message in the log of the NuGet Restore task, and found out that the build was breaking due to a wrong value set to a pi

[2022-02-01 17:26] Forgind commented on #11530
200-250ms sounds like a lot. Can you get an etw trace with the Microsoft-Build provider on? https://github.com/dotnet/msbuild/blob/main/documentation/specs/event-source.md

[2022-02-01 18:19] nkolev92 commented on #11540
Closing per OPs comment.

[2022-02-01 18:19] #11540 closed, assigned to nobody

[2022-02-01 19:21] atrauzzi commented on #11543
The package is now up on nuget.org if you wish to work with something "nearby": https://www.nuget.org/packages/Protoculture.Postgres.Embedded/0.0.1-pre

Restore speed is still very bad.

[2022-02-01 20:26] jeffkl opened #11544 "[Bug]: Enhanced HTTP retry does not respect cancellation"
### NuGet Product Used

dotnet.exe, MSBuild.exe, NuGet.exe

### Product Version

Latest

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

The implementation of enhancing our HTTP retries in https://github.com/NuGet/NuGet.Client/pull/4220 unfortunately does not respect cancellation since the tokens aren't passed to the `Task.Delay()` calls.  When enabling thi

[2022-02-01 20:48] chgill-MSFT opened #11545 "UX redesign of Visual Studio Package Manager UI"
The Visual Studio Package Manaher UI is in need of a redesign. This issue will track the overall direction and scope of this work which is still fairly unclear - pending customer development.

Feedback from customer development and survey verbatims indicates that many NuGet users in Visual Studio are dissatisfied with the current UX of the Package Manager UI in both performance and design.

My hyp

[2022-02-01 20:50] chrisraygill opened #11546 "VS Package Manager UI performance and design whitepaper"
Publish a whitepaper focused on performance and design opportunities in the VS Package Manager UI based on customer developments with HaTS survey respondents and other stakeholders.

[2022-02-01 22:32] donnie-msft commented on #10978
Blocked on https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1470750

[2022-02-02 00:37] baronfel commented on #10039
Just a note that System.Commandline is in source build now (templating and the SDK consume it) and is targeting a stable GA release for the 6.0m3xx timeframe, if the team is considering this work at all.

[2022-02-02 00:41] timheuer opened #11547 "[Feature]: Show updates/issues in VS Solution Explorer for packages"
### NuGet Product(s) Involved

Other/NA

### The Elevator Pitch

When working within VS, the packages I use may have updates or may have issues (security issues, deprecations, etc) that I may want to be aware of.  Right now the only way to see that is launching the Package Management UI, but it isn't a normal thing I would do if nothing is alerting me to do that.

I propose that the Packages (and

[2022-02-02 01:02] NickCraver opened #11548 "[Bug]: Slow Restores on Windows in GitHub Actions - Signature verification taking a long time"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.101

### Repro Steps & Context

Running an identical restore in GitHub Actions, times are dramatically higher on Windows agents (2019 and 2022 tested) vs. Ubuntu agents. Here's an example run of [a `5m 39s` restore on Windows](https://github.com/StackExchange/StackExchange.Redis/runs/5029970749?check_suite_focus=true#step:4:1) vs [a `16s

[2022-02-02 01:51] aortiz-msft commented on #8027
@clairernovotny, @chgill-MSFT - Any guidance?

[2022-02-02 01:56] aortiz-msft commented on #7239
@nkolev92 - Can we close this issue now?

[2022-02-02 01:58] aortiz-msft commented on #11400
Should this be moved to Icebox?

[2022-02-02 02:04] #11067 closed, assigned to dc7497-1576912

[2022-02-02 02:04] #11068 closed, assigned to dc7497-1576912

[2022-02-02 02:04] #11066 closed, assigned to dc7497-1576912

[2022-02-02 02:12] aortiz-msft commented on #10046
We can update the description whenever we decide to implement further verifications as part of the verify command. Recommendation to close this issue.

[2022-02-02 02:13] aortiz-msft commented on #10167
Bulk-closing VS OE issues.

[2022-02-02 02:13] #10167 closed, assigned to dtivel

[2022-02-02 02:14] aortiz-msft commented on #10537
Bulk-closing VS OE issues.

[2022-02-02 02:14] #10537 closed, assigned to nobody

[2022-02-02 02:14] aortiz-msft commented on #10248
Bulk-closing VS OE issues.

[2022-02-02 02:14] #10248 closed, assigned to nobody

[2022-02-02 02:14] aortiz-msft commented on #10168
Bulk-closing VS OE issues.

[2022-02-02 02:14] #10168 closed, assigned to nobody

[2022-02-02 02:14] aortiz-msft commented on #10140
Bulk-closing VS OE issues.

[2022-02-02 02:14] #10140 closed, assigned to dtivel

[2022-02-02 02:14] aortiz-msft commented on #10095
Bulk-closing VS OE issues.

[2022-02-02 02:14] #10095 closed, assigned to nobody

[2022-02-02 02:15] nkolev92 commented on #7239
I think our action is:

Type:Bug is correct!

[2022-02-02 02:16] aortiz-msft commented on #10088
Bulk-closing VS OE issues.

[2022-02-02 02:16] #10088 closed, assigned to dtivel

[2022-02-02 02:16] aortiz-msft commented on #9552
Bulk-closing VS OE issues.

[2022-02-02 02:16] #9552 closed, assigned to dtivel

[2022-02-02 02:17] aortiz-msft commented on #10182
Bulk-closing VS OE issues.

[2022-02-02 02:17] #10182 closed, assigned to nobody

[2022-02-02 02:23] aortiz-msft commented on #10620
@heng-liu - Moving back to Backlog. LMK if that doesn't make sense.

[2022-02-02 02:23] aortiz-msft commented on #10626
@heng-liu - Moving back to Backlog.

[2022-02-02 02:28] nkolev92 commented on #11548
Thanks for the details @NickCraver!

I've tweaked the title to include the verification part, to make this issue more discoverable for relevant keywords.

[2022-02-02 02:37] nkolev92 commented on #11547
Thanks for filling this.

Duplicate of https://github.com/nuget/home/issues/8956.

[2022-02-02 02:37] nkolev92 commented on #8956
Duplicate reported in https://github.com/NuGet/Home/issues/11547.

I happen to find https://github.com/NuGet/Home/issues/1684 as well.

Probably should close in favor of the other.

Moved https://github.com/NuGet/Home/issues/1684 to the New Issues column for triage.

[2022-02-02 02:46] timheuer commented on #11547
@nkolev92 problem is the dupe explicitly says this is not in scope. So when the dupe is resolved then this will still be a request

[2022-02-02 02:47] nkolev92 commented on #7302
I can't realistically see us getting to this issue.
Closing for now.

[2022-02-02 02:47] #7302 closed, assigned to nobody

[2022-02-02 02:48] #8533 closed, assigned to skofman1

[2022-02-02 02:50] nkolev92 commented on #11547
Sure, I can reopen.

We'll likely consolidate at some point, but for now, I'll let it go through triage on its own.

[2022-02-02 02:54] nkolev92 commented on #8428
The original run in https://github.com/NuGet/Home/issues/10843 had this account for 16% of the total allocations.
We know that it's been improved

We need to get updated #s to see if there's anything else worth tracking.

[2022-02-02 02:58] nkolev92 commented on #7708
Lower priority, can't see it happening soon.

[2022-02-02 02:58] #7708 closed, assigned to nobody

[2022-02-02 03:34] #11484 closed, assigned to nobody

[2022-02-02 06:17] aortiz-msft commented on #8287
@nkolev92 - Not sure what the scope of this work is.

[2022-02-02 08:25] astukov commented on #6027
An update two years later. If you get the same error after setting `NUGET_PACKAGES` system variable, you can try setting it to `C:\Windows\SysWOW64\config\systemprofile\.nuget\packages`. There is were MSBUILD was storing downloaded nuget packages.

[2022-02-02 09:56] mos379 commented on #9222
any update here?

[2022-02-02 16:50] #8795 closed, assigned to dominoFire

[2022-02-02 18:34] #9639 closed, assigned to donnie-msft

[2022-02-02 19:26] erdembayar opened #11550 ""dotnet list package" should include transitive dependencies by default."
It looks there's support for include transitive dependencies by default to `dotnet list package` output. I believe it should be addressed separately from `Spec for machine readable json output for dotnet list package`.

https://github.com/NuGet/Home/pull/11446/files#r766924390
https://github.com/NuGet/Home/pull/11446#discussion_r766734450

I'm including screenshots since GH not good at keep track

[2022-02-02 19:53] nkolev92 commented on #8287
There are certain packages that are RID specific. Especially ones related to self contained publish.

Publish usually tends to run a restore with a certain RuntimeIdentifier/s set.
That can often be different from the regular workflow and the packages used there, so given that the inputs are different, you can't really do it in lock mode.

The action item  here is to either
* come up with a guidan

[2022-02-02 20:20] erdembayar opened #11551 "Add `--all` option for dotnet list package"
Currently customer have to make 2 separate queries to find out both `outdated` and `vulnerable` packages with `dotnet list package`, instead we need `--all` which shows all deprecated, vulnerable, and outdated top level and transitive packages

https://github.com/NuGet/Home/pull/11446#discussion_r766860629

I'm including screenshot given GH is not good at tracking comments/discussion.
![image.png]

[2022-02-02 20:20] loic-sharma commented on #11400
It looks like the fallback does work. I broke nuget.org's primary search (by making azuresearch-usnc.nuget.org point to 127.0.0.1 in my host file) and Visual Studio's search still worked:

![image](https://user-images.githubusercontent.com/737941/152230931-2419c3ab-95fb-48de-b5bb-c37fd89d74a7.png)

I think we can close this, but will wait for @heng-liu or @zivkan to confirm.

[2022-02-02 20:31] nkolev92 commented on #11548
This is detectable even by the basic perf scripts https://github.com/NuGet/NuGet.Client/tree/dev/scripts/perftests on my local machine.
[OrchardCore-git.csv](https://github.com/NuGet/Home/files/7989827/OrchardCore-git.csv)

Average drops from 29s -> 27s for the full restore, about 7% improvement.

Linux vs windows probably an unfair comparison for now, but the revocation change seem to have a huge

[2022-02-02 20:50] #11450 closed, assigned to jeffkl

[2022-02-02 20:59] erdembayar opened #11552 "dotnet list package include hash and source for output"
Currently lock file include hash but `dotnet list package` doesn't.
It's important to have one hash+source to detect/prevent dependency confusion attack.

https://github.com/NuGet/Home/pull/11446#discussion_r767030495
Given GH is not good at keep track of comments/discussion I'm including screenshot.

![image.png](https://images.zenhubusercontent.com/5eb1d84a3cd56675c3efe510/f82e35a3-0216-44a8-982

[2022-02-02 21:35] #11226 closed, assigned to zivkan

[2022-02-02 21:44] erdembayar opened #11553 "Show resolution tree for transitive dependencies and constraint for dependency in dotnet list package"
If we have something like https://lib.rs/crates/cargo-tree or npm tree that would we great.

https://github.com/NuGet/Home/pull/11446/files#r777233006
<img width="574" alt="image" src="https://user-images.githubusercontent.com/8766776/152241967-ea71201f-07ff-48ee-9444-e39f83228de3.png">

It looks above link not working, please check [here]( https://github.com/NuGet/Home/pull/11446/files#diff-54ce8

[2022-02-02 21:45] JonDouglas commented on #6764
@gdoron I am planning to publish a living roadmap for all of NuGet in the next couple days. After that, I will share with everybody our plans for this specific feature for the near future. If you want to get a sneak-peak, please head over to https://github.com/NuGet/Home/issues/11504

While we continue to finalize things, please feel free to chat with us over at https://aka.ms/talktonuget or comme

[2022-02-02 22:08] nkolev92 opened #11554 "Avoid double-checking for supported projects"
GetAllEnvDTEProjectsAsync already checks to see if a project is supported before returning it, only for these three methods to do again. Easier read commit per commit.

[2022-02-02 22:13] nkolev92 opened #11555 "VSSolutionManager.DoesNuGetSupportsAnyProjectAsync can exit at the first supported projec"
Currently, it would go through *all* of the projects to detect whether any are supported.

It should be easy to write a method that has exits quickly when it finds the first supported project.

cc @jeffkl's idea in https://github.com/NuGet/NuGet.Client/pull/4432#discussion_r797813988.

This should be extremely  cheap to write once is merged: https://github.com/NuGet/NuGet.Client/pull/4432

[2022-02-02 22:14] zivkan commented on #11547
@timheuer I had a brief chat with @drewnoakes (from project system team) about this. He tells me that the project system's dependencies tree doesn't have the capabilities to achieve this (although it's not clear to me if it's a dotnet/project-system feature, or CPS). In any case, this is going to take cross team collaboration and scheduling of priorities to achieve. I don't know who should take th

[2022-02-02 22:45] erdembayar opened #11556 "Sources should be included for all `dotnet list package`"
`dotnet list package --outdated` output includes sources but others don't. It's better to include by default for all.

[code]

[2022-02-02 23:13] timheuer commented on #11547
@zivkan Understood -- but gotta start somewhere who owns the customer :-)...give us the requirements 😜

[2022-02-03 00:11] aortiz-msft commented on #9017
Bulk-closing old issues for CPVM.

[2022-02-03 00:11] #9017 closed, assigned to anangaur

[2022-02-03 00:11] aortiz-msft commented on #9184
Bulk-closing old issues for CPVM.

[2022-02-03 00:11] #9184 closed, assigned to nobody

[2022-02-03 00:12] aortiz-msft commented on #9324
Bulk-closing old issues for CPVM.

[2022-02-03 00:12] #9324 closed, assigned to nobody

[2022-02-03 00:12] aortiz-msft commented on #9409
Bulk-closing old issues for CPVM.

[2022-02-03 00:12] #9409 closed, assigned to nobody

[2022-02-03 00:12] aortiz-msft commented on #9602
Bulk-closing old issues for CPVM.

[2022-02-03 00:12] #9602 closed, assigned to nobody

[2022-02-03 00:12] aortiz-msft commented on #9603
Bulk-closing old issues for CPVM.

[2022-02-03 00:12] #9603 closed, assigned to nobody

[2022-02-03 00:31] erdembayar opened #11557 "Sources in 'dotnet list package' need to include package source mapping details"
Currently it only displays sources but if package source mapping is enabled then we need to inform about it for precision.
For example: if someone is checking for dependency confusion attack then it helps to narrow down there it came from.

https://github.com/NuGet/Home/pull/11446/files#r798101062
Given GH is not good at keep track of comment/discussion I'll include screenshot too.

<img width="53

[2022-02-03 01:38] nkolev92 commented on #11557
The command in quesiton here is `list package`.
We have an equivalent `list sources` command.

We'll likely have an equivalent `list source-mappings`.

Curious what @JonDouglas thinks, but my proposal would be that we don't add it right now and close this for nwo.

[2022-02-03 01:52] erdembayar commented on #11557
If we dig down there're so many edge cases.

[2022-02-03 02:04] nkolev92 commented on #11557
Can you clarify what you mean by edge cases?

[2022-02-03 02:10] erdembayar commented on #11557
I just mean something like this. `Package source mapping  +  some scenario`.

[2022-02-03 12:34] JonDouglas commented on #11557
Yes I think it's a good issue to track. As Nikolche mentions, there will likely be other commands that give different outputs closer to what you might see in a nuget.config.

This is a good start to track the addition of seeing sources clearly defined in CLI. It may turn out similar to transitive dependencies and where they came from. i.e.

![image](https://user-images.githubusercontent.com/128884

[2022-02-03 12:35] JonDouglas commented on #11553
There was a design for this in transitive dependencies work already:

![image](https://user-images.githubusercontent.com/1288848/152343839-7856e19a-9cf8-4948-92b0-faaf03153505.png)

[2022-02-03 12:36] JonDouglas commented on #11551
I think https://github.com/NuGet/Home/pull/11549 should handle this situation. I don't think an "-all" flag frankly makes sense.

[2022-02-03 12:38] JonDouglas commented on #11551
I also just don't think list commands are going to scale well enough with this much information being outputted.

Say you have a project with 30 dependencies. Those might have 6 transitive dependencies each. Now produce output 3x and your console is not readable as a human.

[2022-02-03 13:49] ransagy opened #11560 "[Bug]: CPVM: Directory.Packages.props Imports aren't being respected"
### NuGet Product Used

dotnet.exe, MSBuild.exe

### Product Version

dotnet 6.0.1, nuget 6.0.0.280, msbuild 16.11.1+3e40a09f8

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

I have an existing code base that used a combination of `Directory.Build.targets` files to achieve a pre-cursor to what CPVM does.
The main repo folder has o

[2022-02-03 13:53] ransagy commented on #11560
Pinging @JonDouglas for general awarenes as who seems to be leading the CPVM effort lately.

[2022-02-03 14:35] DonkeyKongJr commented on #11315
I would love to see this happen. It would be a great addition to make the CI process smoother.

[2022-02-03 15:42] ransagy commented on #11560
I forgot to add (or rather, had to rewrite the issue because GitHub erased what I typed because it was too long) - i tried `Update` instead of `Include` where applicable and that didn't seem to matter either.

[2022-02-03 17:15] scholtz commented on #7765
i confirm that nuget pack does not work, and dotnet pack works with target frameowrks flag..

you should not close such bugs, but rather fix it.. it should not be that difficult

[2022-02-03 17:35] erdembayar opened #11561 "Add tree like output for dotnet list package"
Having tree like output might help customer to reason about dependency graph.
Similar arts:
[mvn dependency:tree](https://devwithus.com/maven-dependency-tree/) produces tree like output.
[cargo tree](https://lib.rs/crates/cargo-tree) is more of graphic tool than readable output.

[2022-02-03 17:37] erdembayar commented on #7752
@JonDouglas
Could we make this issue epic? I don't see option for it. I believe this issue is quite large, I created several related issues just for json output, so it need to be epic.

[2022-02-03 17:44] erdembayar opened #11562 "Add path info `dotnet list package`"
Currently `dotnet list package` doesn't have any project path info.

https://github.com/NuGet/Home/pull/11446#discussion_r798509892
Considering GH is not good at keep track of comments/discussion I'm adding screenshot

![image.png](https://images.zenhubusercontent.com/5eb1d84a3cd56675c3efe510/80236b68-19b8-4bfc-824c-ac6df99bbed4)

[2022-02-03 17:50] erdembayar commented on #11551
Yes, it doesn't make sense for plain output, but could be used as shortcut for `json output` instead of putting all possible combination.

[2022-02-03 18:16] nkolev92 commented on #7752
@erdembayar Can this track the main functionality?

The follow up issues are independent and kind of add-ons right?

[2022-02-03 18:22] erdembayar commented on #7752
Currently `json` is 1st sub issue. Still this one need sub issues like `parseable`,`yml` output, making it epic helps with keep progress of what is going on.

[2022-02-03 18:22] clairernovotny commented on #7752
As was called out, license information is not in scope for this initially. I don't think we should have several different tools for listing package related information so it would make sense for license info to be included here sooner rather than later.

A few other thoughts:
- The ordering of the data should be deterministic. I.e., running it again should always return the same ordering. New pack

[2022-02-03 18:27] nkolev92 commented on #7752
I say create json and then let the community open issues for yml/parseable whatever. Those are add-ons.
You don't have to implement all ideas.

[2022-02-03 18:43] JonDouglas commented on #7752
@erdembayar I do not believe we need an epic here. This issue is mostly resolved by https://github.com/NuGet/Home/wiki/%5BSpec%5D-Machine-readable-output-for-dotnet-list-package

Your proposal should be an updated version of this and scoped to providing machine-readable output for the human-readable output people see today.

Anything else at this point should be tracked in a separate issue and an

[2022-02-03 22:39] #11554 closed, assigned to nkolev92

[2022-02-04 01:17] erdembayar opened #11563 "Include license info details in dotnet list package output"
With `dotnet list package --include-transitive`, we can see all the dependencies in software. But if customer need to audit their dependencies for license compliance/SBOM (for example: startup going public, prevent possible copyright violation) then getting list of licenses in product is quite time-consuming work.
If we had `dotnet list package --include-transitive --licenses` or `dotnet list pack

[2022-02-04 17:22] zivkan commented on #7752
IMO we should either delete the spec in the wiki, or edit it to be nothing more than a link to the spec in the repo's main branch.

[2022-02-04 18:38] dfederm opened #11564 "[Bug]: AssetTargetFallback now brings in new dependencies and is causing build failures - Add a means to revert to the 17.1 behavior"
### NuGet Product Used

MSBuild.exe

### Product Version

Microsoft (R) Build Engine version 17.2.0-preview-22081-04+288ea72fc for .NET Framework

### Worked before?

Microsoft (R) Build Engine version 17.1.0+ae57d105c for .NET Framework

### Impact

I'm unable to use this version

### Repro Steps & Context

As of the latest version, it seems like a missing dependency group breaks restore.

When p

[2022-02-04 20:09] nkolev92 commented on #11564
Hey @dfederm,

I think this is an intended consequence of the fix for https://github.com/NuGet/Home/issues/5957, detailed in https://github.com/NuGet/Home/blob/dev/proposed/2022/AssetTargetFallback-DependenciesResolution.md.

tldr; When NuGet doesn't find a dependency group it uses AssetTargetFallback, which is basically the design of AssetTargetFallback itself.

[2022-02-04 20:35] JonDouglas opened #11565 "Help Us Improve Our Open Source Repositories!"
We'd love to hear from those of you who participate often in our open source project and let us know how we're doing as maintainers.

Whether you've been involved for awhile now or you're relatively new to open source, please let us know about your experience by [taking a survey that will take a couple minutes](https://www.surveymonkey.com/r/8QTQTGJ?Source=Home).

Thank you kindly!

[2022-02-04 20:57] nkolev92 commented on #11564
To avoid this behavior, you can disable asset target fallback for your project.

[2022-02-04 21:50] zivkan commented on #11516
What happens if a customer uses `EnablePackageVersionOverride` or `VersionOverride` on a project that is not opt into CPM?  Should we warn/error, to help them detect possible configuration errors?

[2022-02-04 22:32] jeffkl commented on #11516
If you don't specify a `Version`, you'll get an error.  If you specify both `Version` and `VersionOverride`, the `VersionOverride` is ignored.  I'm not sure if we need to warn a user in this case, maybe its something we add later if enough users complain?

[2022-02-04 22:35] nkolev92 commented on #11560
@ransagy

You basically have multiple includes, and NuGet will only read the first one, which happens to be the top one.
You're basically hitting https://github.com/NuGet/Home/issues/9864.

I'd change the version to PackageVersion Update in the Directory.Packages.Props

Closing this as dup of that.

[2022-02-04 22:35] #11560 closed, assigned to nobody

[2022-02-04 23:42] jeffkl opened #11566 "[DCR]: NuGet-based MSBuild project SDK resolver should run after .NET SDK resolver"
### NuGet Product(s) Affected

NuGet.exe, MSBuild.exe, dotnet.exe

### Current Behavior

Currently the NuGet-based MSBuild project SDK resolver runs _before_ the .NET SDK resolver.  The intention was that a user could override built-in SDKs with their own or we could ship official SDKs as NuGet packages.  However, after years of this SDK infrastructure being available, it is extremely unlikely we'

[2022-02-04 23:43] jeffkl commented on #11566
Related to https://github.com/NuGet/Home/issues/11443

[2022-02-04 23:49] ransagy commented on #11560
You're right; I missed that one, thanks.
One thing to note - it works as long as the nearest props file changes its directives to `Update`, It fails to build entirely if the baseline props file does. In case someone comes across that.

[2022-02-05 00:15] erdembayar commented on #11513
@7enderhead
I was not able to repro issue you reported. Could you be able to share actual repro with us?
It looks you're following this tutorial to learn about `nuget`.

I used below csproj:

[code]

As you can see both packages with or without specific TFM show up here for netcoreapp3.1.
![image](https://user-images.githubusercontent.com/8766776/152619377-c9bd9fb8-6604-45ff-80ce-a03fe8b96e32.png)

[2022-02-05 00:27] nkolev92 commented on #11543
I can see repro the slow restore.

I see 4348 different files and 4348 different lines in the nuspec, definitely on the higher end I've dealt with :D

Took about 5 mins on my machine.  Force restore also runs for a while, so it's probably somewhere in the selection code.

[2022-02-05 01:45] erdembayar commented on #11513
@aortiz-msft  @nkolev92
It looks not bug. Can I close it? If new repro is supplied, then reopen this.

[2022-02-05 17:49] zivkan commented on #11516
Becoming more restrictive in a higher version of tooling is a breaking change (a customer's commit which builds without error on a lower version of tooling fails on the higher version, despite no code changes). Becoming more permissive in a future version is not a breaking change.

[2022-02-05 20:28] atrauzzi commented on #11543
Yeah, it's definitely a lot, and even after trimming things down.  But I don't know why I should be limited. Maybe there needs to be support for globs at this level (and a way to propagate them from `.csproj` files)?

Would runtimes be subject to any similar issues?

[2022-02-06 13:59] zivkan opened #11567 "[DCR]: ExcludeAssets="all" should exclude the package from the restore graph"
### NuGet Product(s) Affected

Other/NA

### Current Behavior

Say there's a transitive dependency of some package you use, but the way you use your own dependency doesn't need the transitive package. It's possible to use `ExcludeAssets="all"` to avoid the package actually being used in your build.

However, tools like Dependabot and other security analysis tools that analyze the project.assets.js

[2022-02-07 00:41] zehavibarak opened #11568 "Readme node in .nuspec xml unable to compile"
We are using .nuspec & nuget pack cli. I tried to set a
[code]
in project .nuspec. But the `nuget pack .` throws an exception that _readme_ in not found in http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd.

[2022-02-07 16:57] zivkan commented on #11568
@zehavibarak  readme support was added into NuGet 5.10: https://devblogs.microsoft.com/nuget/add-a-readme-to-your-nuget-package/

This suggests to me that you're using a version of nuget.exe that is older than version 5.10.  You can download a newer version from https://www.nuget.org/downloads.

If this does not help, please try to provide us with a [minimal working example](https://en.wikipedia.o

[2022-02-07 18:05] erdembayar commented on #11331
Resolved by https://github.com/NuGet/NuGet.Client/pull/4414

[2022-02-07 18:05] #11331 closed, assigned to erdembayar

[2022-02-07 18:09] erdembayar commented on #4537
@aortiz-msft @nkolev92
Is someone working on it? Currently it's review pipeline. Looks low priority "Priority 3".

[2022-02-07 18:17] JonDouglas commented on #6764
Hi friends,

Please see a [recent proposal](https://github.com/NuGet/Home/pull/11569) regarding adding package version overrides to central package management.

We'd love **any and all feedback** we can get to make the best decisions for our efforts towards this feature.

[2022-02-07 18:30] erdembayar commented on #7792
@aortiz-msft
Are you working on this issue? May I take for this sprint?

[2022-02-07 18:36] jmecosta commented on #6764
@jeffkl @JonDouglas after the versionoverride what kind of features are we missing in nuget core that are available only on centralpackage? version override was of course one, but from top of my head dont remenber if something obviously important is available only on centralpackage. I know i could give it a try, but maybe save me some hours to find that something is not available.

other question,

[2022-02-07 18:56] erdembayar opened #11570 "[Responsiveness] Package Management UI can consume large number of threads all searching the disk, it needs to run from long running thread"
Tracking issue for: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1424937
I added `Around The World` tag here since internal issue has one.
Currently [LocalPackageSearchResource.SearchAsync](https://github.com/NuGet/NuGet.Client/blob/ac2cb86d726e1f0089fc6f5a63357a37940ca8aa/src/NuGet.Core/NuGet.Protocol/LocalRepositories/LocalPackageSearchResource.cs#L30) it's blocking (up to 316 threads

[2022-02-07 19:04] zehavibarak commented on #11568
Updating the .exe solved it. thanks

[2022-02-07 19:04] #11568 closed, assigned to nobody

[2022-02-07 19:08] JonDouglas opened #11571 "Plan for NuGet in 2022"
Today we are excited to share with you the plan for NuGet and NuGet.org. This issue contains summary of the plan for the year and acts as a place for you to leave feedback.

This plan is a collection of input from many stakeholders and outlines where we intend to invest our time in NuGet and NuGet.org.

# General information

NuGet has a major release following [NuGet 6.0](https://docs.microsoft.c

[2022-02-07 19:32] jmecosta commented on #6764
All good with plan. The version override was the feature that was blocking
us from using it. So if that is addressed we will gladly jump in and
benefit from the nice features that will arrive with 2022 version.

For the reminder of our user story unfortunately nothing is mentioned, we
have already lost hope nuget will ever cover it anyway. Which is the
c++/cli and even c++ alone and having central

[2022-02-07 20:01] #10751 closed, assigned to dominoFire

[2022-02-07 20:10] jimmylewis commented on #6764
No issues with the proposal.  I'm using the `<PackageVersion Update="" />` approach today.  The tradeoffs I see in the proposal vs. the Update method are:
* proposal syntax is shorter (inline on the PackageReference) which is convenient; on the flip side, using the Update item makes it stand out more (IMO) since it's a separate item type.
* The proposal does offer a way to disallow overrides, whic

[2022-02-07 20:51] dominoFire commented on #11486
Lowering estimate to 1: Spec was discussed. Only feedback needs to be incorporated.

[2022-02-07 20:58] nkolev92 commented on #10197
Moving to 2022-03 as there are other tasks that should be slightly higher priority.

[2022-02-07 21:02] martinrrm opened #11572 "[Bug]: Versions list in PM UI is empty in Floating Versions"

[2022-02-07 21:17] donnie-msft commented on #10271
Timeboxing to 2 points for 2022.02.

[2022-02-07 21:28] erinlah-ms commented on #6764
Unsubscribe ***@***.***

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Jimmy Lewis ***@***.***>
Sent: Monday, February 7, 2022 12:11 PM
To: NuGet/Home ***@***.***>
Cc: Erin Lahman ***@***.***>; Mention ***@***.***>
Subject: Re: [NuGet/Home] [PackageReference] Centrally manage NuGet package versions for a solution or a repo (#6764)

Hi friends,

Please see a re

[2022-02-07 21:56] nkolev92 commented on #2767
Can you please dedup @zivkan

[2022-02-07 22:05] kartheekp-ms commented on #2767
I think this should be a dedup of @erdembayar issue https://github.com/nuget/client.engineering/issues/1255

[2022-02-07 22:23] dominoFire commented on #11486
Bumping up estimate to reflect actual implementation work left.

[2022-02-07 22:30] nkolev92 commented on #11543
The slow task is the compatibility checking.

I don't know if the runtimes has a similar problem, as I haven't gone in depth, but it should be running similar codepaths, so if I had to guess, likely similar problems.

[2022-02-07 22:55] tebeco commented on #11505
Will this be MsBuild first so that one could finnaly get rid of `nuget.config` ?

[2022-02-07 23:05] atrauzzi commented on #11543
Would love to have that included for consideration here as I received advice from @damianedwards in a small Twitter thread about switching to using it... 🙂🙏

[2022-02-07 23:44] erdembayar opened #11573 "Package source mapping should check for duplicate node keys"
If you follow  `bad config`setup then you'll get `dotnet` source not considered for `Microsoft.Somepackage` error during restore,
problem is there 2 nodes with same `dotnet` key so last one overwrites the first one. We need to detect this and warn customer about it before try to restore.

Bad config:
[code]

Good config, 2 patterns for same source should be under same node key:
[code]

[2022-02-07 23:47] nkolev92 commented on #11573
We should validate this on a configuration level.

If this is a behavior that's source mapping specific, we should address it.
If this is a behavior that's configuration specific, then I'm not as worried.

[2022-02-07 23:50] erdembayar commented on #11573
If it's the case maybe we need to call this out in doc.

[2022-02-08 00:02] nkolev92 commented on #11573
I want to make sure we don't focus too much on singular feedback and increase the size of documentation unnecessarily.

imo, I don't see customers doing the above too often.

[2022-02-08 00:40] SimonCropp commented on #4103
here is my hacked approach https://github.com/SimonCropp/PackageUpdate

[2022-02-08 11:46] roycornelissen opened #11574 "[Bug]: Nuget.exe breaks in Azure DevOps agent container (Linux)"
### NuGet Product Used

NuGet.exe

### Product Version

6.0.0

### Worked before?

No

### Impact

I'm unable to use this version

### Repro Steps & Context

We are using a Azure DevOps build agent, installed as a Linux Docker container, as documented [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops#use-azure-kubernetes-service-cluster). In addition, i

[2022-02-08 16:13] zivkan commented on #11564
@dfederm with that repro, if the console app actually used an API from the Microsoft.Azure.Common.Dependencies and you restore with VS 17.1 or earlier, won't the app fail at runtime because none of the package's dependencies are restored and therefore none of their assemblies are int he console app's `bin` folder? FileNotFound exceptions, trying to load the assembly.

I feel like your repro is act

[2022-02-08 16:30] dfederm commented on #11564
@zivkan Nope, everything works fine. In this specific case the indirect dependencies (`Microsoft.Bcl`, etc) are all effectively polyfills for older frameworks which are not needed with newer frameworks.

[2022-02-08 16:31] dfederm commented on #11564
This is explained in the Microsoft.Bcl readme btw: https://www.nuget.org/packages/Microsoft.Bcl/

[2022-02-08 16:43] donnie-msft opened #11575 "[Bug]: Infinite Scrolling is broken after a package source error"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

d17.2

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Create a package source that doesn't exist (eg, http://localhost:5000)
2. Open PMUI to the Browse tab
3. Wait for the error to indicate the package source could not be reached.
4. Scroll down to the

[2022-02-08 17:12] zivkan commented on #11564
In the case of `Microsoft.Bcl`, looking at the assets file after restore, the only asset it has selected is `lib/net45/_._`, which is NuGet convention for none. Asking for a design change request (DCR) to stop NU1701 warnings when the only assets selected are `_._` seems reasonable.

However, in the case of Microsoft.Bcl.Async, the assets selected are `lib/net40/Microsoft.Threading.Tasks.Extension

[2022-02-08 17:33] zivkan commented on #11574
What version/build of Mono are you using?

I'm not motivated to spent 15 minutes searching right now, but we've had problems in the past with the Debian build of mono in the past. If you follow mono-project's instructions: https://www.mono-project.com/download/stable/#download-lin
and use their official & supported build of mono, things seem to work better. Also, mono-project's official feeds have

[2022-02-08 18:05] DamianEdwards commented on #11543
If the runtime assets are split into their own packages (one per runtime id) I'd hope the restore cost would be reduced. That said, it does seem like there might be an opportunity to identify and address the underlying cause in NuGet.

[2022-02-08 18:38] atrauzzi commented on #11543
I originally encountered this issue when only one set of postgres binaries were being included.  I'd say the issue is present for the most trivial of - at least my - scenarios.

[2022-02-08 19:20] AAATechGuy commented on #11222
likely facing similar issue here.

[2022-02-08 20:15] AArnott commented on #10311
Just a note on this: this issue is blocking our adoption of CPVM.

[2022-02-08 20:56] npakudin commented on #9954
Version 6.0.0.280 - for me problem exists

[2022-02-08 21:08] erdembayar commented on #9954
@npakudin
Please upvote this issue at top, we prioritize based on community upvote & engagement.
We're planning to add explicit message about need to `unblock` on Windows.

[2022-02-08 21:10] erdembayar commented on #9954
Please upvote this issue at top, we prioritize based on community upvote & engagement.
We're planning to add explicit message about need to unblock on Windows.

[2022-02-08 21:17] erdembayar opened #11576 "NuGet.exe on MAC show more than 1 result for latest version when using local feeds"
I used `nuget.exe` version 6.0.0 with mono.
![image](https://user-images.githubusercontent.com/8766776/153082135-252ba0d2-b514-4bb6-a104-821f7da27ecd.png)

`newBestPackageA` show 2 versions for MAC, but it doesn't happen for MAC only 1 package version per packageId.
![image.png](https://images.zenhubusercontent.com/5eb1d84a3cd56675c3efe510/5bd766e9-30fc-4c5b-8d74-80aba3ad2489)

Here is on Windows,

[2022-02-08 22:27] erdembayar commented on #11223
https://github.com/NuGet/NuGet.Client/blob/2c6141ab883f14c2dbb847b71c7d89d44a2f4fcb/test/EndToEnd/tests/InstallPackageTest.ps1#L802

[2022-02-08 23:27] dominoFire commented on #10759
Some thoughts:

- Add click through rate on transitive packages list elements in PM UI
- Add Transitive Origins API run-time/execution time
- Monthly Active users on Transitive Dependencies.

[2022-02-09 00:50] nkolev92 commented on #7016
There are at least 3 reports since my comment here: https://github.com/NuGet/Home/issues/7016#issuecomment-614981689 + another one reported in chat to me today.

While GH doesn't add comments, I see this issue as something common enough to be worth looking into.

[2022-02-09 00:51] nkolev92 commented on #7016
Assigning quality week, as I think the cost here is likely be under 5.

[2022-02-09 01:37] nkolev92 commented on #10458
Hey all,

This looks like a duplicate of https://github.com/NuGet/Home/issues/8465.

cc @martinrrm when you're working on https://github.com/NuGet/Home/issues/8465, please verify that your fix addresses this issue as well.

[2022-02-09 01:37] #10458 closed, assigned to nobody

[2022-02-09 01:38] nkolev92 commented on #8465
@martinrrm

https://github.com/NuGet/Home/issues/10458 is likely a duplicate of this issue.

[2022-02-09 01:49] nkolev92 commented on #8188
This is long done.

[2022-02-09 01:49] #8188 closed, assigned to nobody

[2022-02-09 01:55] nkolev92 commented on #10865
Prototype in https://github.com/NuGet/Home/issues/11483.

Already on the backlog, so need to keep it assigned to Jon.

[2022-02-09 01:56] nkolev92 commented on #10540
Closing this issue as it's codespaces only, and not an issue in standalone.

[2022-02-09 01:56] #10540 closed, assigned to dtivel

[2022-02-09 01:59] nkolev92 commented on #11575
Likely a dup of https://github.com/NuGet/Home/issues/2496.

[2022-02-09 05:36] #11575 closed, assigned to nobody

[2022-02-09 05:36] donnie-msft commented on #2496
Still reproes today: https://github.com/NuGet/Home/issues/11575

[2022-02-09 11:16] v-luzh opened #11577 "[Bug]: All the checked sources will be unchecked after pressing Up/Down button in Options dialog"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Release-5.11.x\5.11.1.15

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

### Details about Problem
VS Version: D16.11\32208.345
NuGet Version: Release-5.11.x\5.11.1.15
OS Version: Windows-11-Enterprise-21H2

### Repro steps
1. Launch VS and create a C# Co

[2022-02-09 16:25] #11566 closed, assigned to jeffkl

[2022-02-09 16:30] jeffkl opened #11578 "[DCR]: Make enhanced HTTP retry the default, deprecate older retry logic"
### NuGet Product(s) Affected

NuGet.exe, MSBuild.exe, dotnet.exe

### Current Behavior

Enhanced HTTP retry [was added](https://github.com/NuGet/NuGet.Client/pull/4220) as an opt-in feature and will be turned on by default in https://github.com/NuGet/NuGet.Client/pull/4403.  Once released, we should get rid of the legacy retry logic that is superseded by it and clean up the code.  We'll also need

[2022-02-09 16:52] erdembayar opened #11579 "NuGet.exe list doesn't search from local folders using local path on Linux/Ubuntu"
Currently `nuget list` [command tests ](https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Clients.Tests/NuGet.CommandLine.Test/NuGetListCommandTest.cs)are not running under Linux/Ubuntu CI pipeline, it's running under Windows CI and MAC CI.

[code]
When I try to run it manually try it only accept source name nuget.config
![image.png](https://images.zenhubusercontent.com/5eb1d84a3cd56675c3e

[2022-02-09 17:01] erdembayar commented on #11579
@heng-liu
Is it known bug?

[2022-02-09 17:34] robbyxp1 commented on #9954
The real solution of course would be to wrap the program in a proper installer, and then it would not be marked as blocked ;-)

[2022-02-09 20:22] #11498 closed, assigned to jeffkl

[2022-02-09 21:28] rub8n opened #11580 "[DCR]: Minimize the number of "retry auth prompts" to no more than one per feed"
### NuGet Product(s) Affected

Visual Studio Package Management UI

### Current Behavior

Based on our discussions, each feed that fails to authenticate seems to prompt for creds up-to four times.

If you have failures across multiple feeds, the addition of all these prompts results in the appearance of an infinite auth loop.

### Desired Behavior

The ask is to modify the current behavior to only

[2022-02-09 21:44] rub8n opened #11581 "[DCR]: Provide context as part of the prompt that asks users to enter their credentials"
### NuGet Product(s) Affected

Visual Studio Package Management UI

### Current Behavior

NuGet related auth prompts inside Visual Studio do not identify themselves as such and leave users wondering why Visual Studio is "randomly" asking for their credentials.

### Desired Behavior

Calls to show NuGet related auth prompts should identify themselves as coming from NuGet and surface that informatio

[2022-02-09 21:54] rub8n opened #11582 "[Feature]: Provide details that explain why there was an auth related failure for a particular feed"
### NuGet Product(s) Involved

Visual Studio Package Management UI

### The Elevator Pitch

On cases where the auth requests fails (silently before invoking auth prompts or after a new auth prompt fails), we should provide users context on why access to a feed failed and/or why creds were needed.

The information could be displayed in the output or error pane and should provide enough data to help

[2022-02-09 22:01] nkolev92 commented on #11579
Is the bug specific to LocalSearchResource?
List is just one one usage of it, so the impact could be great than just the list command.