[2017-06-14 20:06] rrelyea commented on #5380
Really don't want to open up this capability for Tools. We kept it restricted in V1 on purpose.
That said, want to help enable your scenario.

Would prefer to see Roslyn do the work to move over.

@jaredpar - when does Roslyn plan to enable NetStandard 2 versions of
[Microsot.CodeAnalysis.Workspaces.Common](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Workspaces.Common/)?

[2017-06-14 20:09] rrelyea commented on #5405
approved

[2017-06-14 20:10] rrelyea commented on #4898
Done.

[2017-06-14 20:10] #4898 closed, assigned to nobody

[2017-06-14 20:11] rrelyea commented on #4900
Restore - done.
Pack - if we know of problematic warnings/errors - we'll open specific bugs for them.

[2017-06-14 20:11] #4900 closed, assigned to nobody

[2017-06-14 20:11] rrelyea commented on #4917
@jainaashish - have we gotten more info back from customer?

[2017-06-14 20:12] rrelyea commented on #4977
Dupe of https://github.com/NuGet/Home/issues/4964

[2017-06-14 20:12] #4977 closed, assigned to nobody

[2017-06-14 20:16] rrelyea commented on #4763
Done in 15.3 via @shishirx34 work.

[2017-06-14 20:16] #4763 closed, assigned to nobody

[2017-06-14 20:27] tmds commented on #5380
This is considered a major feature of .NET Core 2.0. I don't understand why you'd want to restrict this for tools when it's available for apps.

[2017-06-14 20:29] danroth27 opened #5412 "Missing nuget restore error messages in VS Package Manager output window"
I had a restore failure when I updated my csproj include package references for packages versions that don't exist (I used `*` for the package version, when a stable version is not available yet). The VS Error List windows shows the restore errors:

![image](https://user-images.githubusercontent.com/1874516/27153086-fe9ce09a-5104-11e7-814d-c093edc3b415.png)

However, I don't see these errors liste

[2017-06-14 20:39] AArnott commented on #5408
Thanks. I already made a fix to our MicroBuild.Plugins.Localization package to set `FinalOutputPath` to accomodate your change. I just wasn't using the latest version of that package on my box. Thanks for pointing that out.

IMO, if you are adding a dependency on this metadata, it should be a soft dependency to avoid a breaking change in an Update. For example, you could ignore items that are miss

[2017-06-14 20:44] AArnott commented on #5408
Actually I take that back. I'm using the latest localization plugin that sets that metadata and I'm still seeing the error. Let me investigate a bit more...

[2017-06-14 20:57] AArnott commented on #5408
Oh, gosh. I totally forgot: this project doesn't even using the MicroBuild localization package. This is straight up .NET .targets. So to your point:

Why do you say MSBuild always does this, and what do suppose is different about my projects that would suppress this metadata? When I look at the diagnostic build log, I don't see the metadata that you say is required and "always there" on the satel

[2017-06-14 21:02] ericnewton76 commented on #738
After reading all this, I'm scratching my head wondering how setting the "common location" to a particular user's roaming profile makes this better, since ..\..\..\Users\Eric\AppData wouldnt work if the project path is even one level different?

At least ..\packages makes exactly one assumption: that packages repo is stored X levels higher than the project

[code]

Clearly the DTE contracts weren'

[2017-06-14 21:13] AArnott commented on #4853
I just tried this out on 15.3 Preview. The framework assemblies added to the nuspec are:

[code]

Yet the only reference I have explicitly in my csproj is:
[code]

Now I realize that the new .NET SDK project type adds a bunch of framework references implicitly, and that's probably where the longer list in the nuspec is coming from. But it seems a shame that I'm forcing all my users to require all

[2017-06-14 21:21] jaredpar commented on #5380
Are you asking when will the package target NetStandard 2 vs. the 1.3 it targets today? If so the answer is a long time. We don't plan on targeting NetStandard 2 anytime soon, dev16 at the earliest.

Note that we very recently moved our dependency from Microsoft.Compostition to System.Composition. This let us become a pure NetStandard package with no need for fallbacks.

[2017-06-14 21:29] nguerrera opened #5413 "Restoring with invalid target framework says 'unsupported' instead of showing bad framework name"
Given `<TargetFramework>abc123</TargetFramework>`, RestoreTask yields:
[code]

It should indicate the badly spelled framework  'abc13' in the error message instead of 'unsupported'.

We tried to fix this by running our own check before restore in the SDK, but that breaks adding support for additional TFMs like uap using the MSBuild.Sdk.Extras package.

[2017-06-14 21:32] emgarten commented on #5380
I think @tmds only needs this change to avoid the extra fallback in restore to consume the *portable-* assets in *Microsoft.Compostition*. When will Roslyn packages be released on nuget.org that have the *System.Composition* dependency (or is there one already)?

[2017-06-14 21:37] jaredpar commented on #5380
The latest is 2.3.0-beta1. That still uses Microsoft.Composition.

The 2.3.0-beta2 release will use System.Composition. That should be released soon. Will poke and ask why it's not up yet.

[2017-06-14 21:47] bording commented on #4853
@AArnott Which version of the 15.3 preview are you using? I'm using the publicly released `15.3.0 Preview 2.0` version, and I'm still not seeing framework references show up at all.

[2017-06-14 21:47] emgarten opened #5414 "Update NuGet.VisualStudio for PackageReference projects"
The NuGet.VisualStudio package currently relies on install.ps1 to set the embedded interop property. For PackageReference projects this is not executed.

One possible solution for this is to add a targets file to the package to reference the assembly appropriately.

[2017-06-14 21:52] AArnott commented on #4853
@bording I'm using an internal build of 15.3 preview. Build "d15rel 26612.0", specifically.

[2017-06-14 22:16] scalablecory commented on #4853
@AArnott The workaround for this is unfortunately a bit involved:

    <DisableImplicitFrameworkReferences>true</DisableImplicitFrameworkReferences>

And explicitly reference the "freebies" like System/System.Core.

@NickCraver does this in his [Dapper PR](https://github.com/StackExchange/Dapper/pull/766/files).

I agree it'd be nice if there was a way to scrub this a little better.

[2017-06-14 22:22] nguerrera commented on #4853
https://github.com/dotnet/sdk/issues/1179 tracks preventing implicit references from impacting nuspec. A fix was made for it, but recent discussion on it suggests there may still be an issue.

[2017-06-14 23:04] mishra14 commented on #4922
Discussed the best course of action offline:

1. Current scenario has improved from when the bug was created because now restore displays a meaningful warning -

[code]

2. Next step would be to increase the restore verbosity level to Warning so only warnings and errors are displayed.

3. Last step would be to hide all restore logs from the user and then on restore completion look for warnings and

[2017-06-14 23:08] jaredpar commented on #5380
Note: another Roslyn developer corrected me. The commit which moved us from Microsoft.Composition to System.Composition did not make the 15.3 Preview 2 release. It will not come around until Preview 3 (aka beta 3).

[2017-06-14 23:40] rohit21agrawal commented on #5408
@rainersigwald are satellite assemblies not supposed to have "FinalOutputPath" metadata or is this something that recently changed?
The original identity has path that comes from the obj folder so i don't want to be using that.

[2017-06-15 00:13] jainaashish opened #5415 "projects name shown in Default projects list on PMC has some discrepency"
As shwon in below image, default projects combo box doesn't show custom unique names of the projects where as the selected text box shows it. We need to update the combo box as well to show custom unique names.

![image](https://user-images.githubusercontent.com/18219758/27159836-d52d748e-5124-11e7-9155-a6c37c72a694.png)

[2017-06-15 00:22] clairernovotny commented on #4694
This needs to be reopened... this doesn't actually work in either 4.3 or the 2.0 preview 1 tooling... the MSBuild.Build.Tasks.Pack.Targets don't have any mention of `DevelopmentDependency` in them.

[2017-06-15 00:25] rohit21agrawal commented on #4694
your nuget.build.tasks.pack.dll version please?

[2017-06-15 00:27] chwarr commented on #3308
I just ran into this issue with version  3.4.4.1321 when one of my intermediate directories (specified via a property) was `.build`:

[code]

And packing via `nuget pack foo.nuspec -Properties SomeRoot=..\.build`

[2017-06-15 00:34] clairernovotny commented on #4694
In the tools preview 1 SDK, it's 4.3.0.2418

[2017-06-15 00:41] AArnott commented on #5408
Whatever you do, @rohit21agrawal, don't guess what the path should be. It's far better to use the `obj` path than make up a bin path that isn't given in the item metadata.
I agree that at least sometimes `FinalOutputPath` metadata may be present and it's fine IMO to use it when it's present. But if it isn't, using the identity of the item itself seems perfectly reasonable.

I'm happy to hear what

[2017-06-15 00:54] anangaur opened #5416 "NuGet concurrency issues"
Though reported for MacOS and Linux, we should test on Windows to see if same issues persist.

**Environment:** v2.8.6 and v4.0.0 NuGet versions have been tested on macOS (Sierra), also v2.8.6, v3.5.0, and v4.3.0-preview1 NuGet versions have been tested on Linux (Fedora).
Test case: open two terminals (instances) with different working directories and run “nuget install” command simultaneously (wi

[2017-06-15 00:55] caleblloyd commented on #5370
Since this is working as designed it should be OK to close then.  Thanks for explaining why Desktop is preferred over `netstandard` in NuGet.

[2017-06-15 00:56] rohit21agrawal commented on #3308
try passing -NoDefaultExcludes as a switch.

[2017-06-15 01:06] chwarr commented on #3308
Yup, `-NoDefaultExcludes` has made it work in my situation (`nuget pack foo.nuspec -Properties SomeRoot=..\.build`).

I can understand by default excluding a file/directory that *matches a glob* if it starts with a dot. I find it a bit of a stretch to exclude an *explicitly listed file/directory that happens to contain a dot prefix* anywhere. Though, I can see how the architecture of the applicati

[2017-06-15 01:35] emgarten commented on #5413
Good catch, it looks like we throw this error later after parsing the framework and lose the original. This should be fixed.

[2017-06-15 01:40] emgarten commented on #5412
@mishra14 should filtering be done at a higher level so that errors/warnings written to project.assets.json still go to the output window? Or restore could also replay the assets file messages to the output.

[2017-06-15 01:42] emgarten commented on #5411
I believe the default verbosity is set in dotnet.exe, but the actual help is in nuget.commandline.xplat.dll. We should investigate how this can be improved and kept in sync.

[2017-06-15 01:45] emgarten commented on #5410
Disabling the source in your user wide config should have removed it, there may be an issue here with how the config files are being prioritized.

[2017-06-15 03:59] ferventcoder commented on #3308
I call this a bug - and I called it a bug 3 years ago at http://nuget.codeplex.com/workitem/4285 and here https://twitter.com/ferventcoder/status/505048107520765952.

The key point of why it is a bug is that it excludes those explicitly included items by default and without warning.

[2017-06-15 03:59] ferventcoder commented on #3308
The key point was that it still excluded those explicitly included items.

[2017-06-15 04:27] dasMulli commented on #5259
Closing since this has been implemented in https://github.com/NuGet/NuGet.Client/pull/1450. verified that this works in dotnet cli build `2.0.0-preview2-006457`. Big thanks to @aw129 😄

[2017-06-15 04:27] #5259 closed, assigned to nobody

[2017-06-15 05:10] ttvrdon commented on #5409
Nuget 4.3.0 is causing same error.
Please re-open this ticket.

Build metadata cannot be forced to only following characters:
"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789-"
`(x >= 48 && x <= 57) || (x >= 65 && x <= 90) || (x >= 97 && x <= 122) || x == 45;`

[2017-06-15 05:45] #5370 closed, assigned to nobody

[2017-06-15 07:39] vsinghal7 opened #5417 "System.ValueTuple pacakge not properly downloaded from nuget."
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2017-06-15 07:40] vsinghal7 opened #5418 "System.ValueTuple pacakge not properly downloaded from nuget."
Hi,

I have a solution which is referencing System.ValueTuple package from Nuget gallary. I am trying to build(it restores the nuget packages) this solution from multiple machines, but it is giving me reference error for this package on some machines while working fine on some.

As per my research, Nuget is creating different named folders inside the System.ValueTuple folder inside packages folder

[2017-06-15 07:40] #5417 closed, assigned to nobody

[2017-06-15 07:42] tmds commented on #5380
So, this will be part of .NET Core 2.0? Great! That helps me with my use-case.
I would expect some other people to hit this issue too for libraries that aren't on the verge of being migrated to netstandard.

[2017-06-15 07:43] Moily commented on #4125
What's the status with this issue?  It seems a pretty fundamental oversight but seems to have been put on the 'ignore' pile.

The workaround is sub-optimal but the fix seems pretty straightforward so I'm surprised this hasn't been addressed yet.

[2017-06-15 07:51] emgarten commented on #5418
What version of Visual Studio are you using? What version of NuGet are you using? What type of project are you installing this package into? What is the error you see when trying to reference it?

How did you verify that net45 works but netstandard1.0 does not? Are you referencing these dlls manually?

[2017-06-15 09:49] VictorBlomberg commented on #5307
@diverdan92

Sorry for my slow response. That looks great, my concerns are addressed!

Thank you for taking your time. :)

[2017-06-15 11:00] vsinghal7 commented on #5418
Hi,
I am using the following version
Visual Studio version - 2015 and 2017
Nuget version - 2.8.50506.491
Project type - C# library
Error - Error	CS8179	Predefined type 'System.ValueTuple`2' is not defined or imported.
When we install package on the project, Nuget add reference to .dll automatically. I can see the path to .dll by peeking into properties of reference.

Thanks
Vinod

[2017-06-15 14:25] sharwell commented on #2504
Not sure why it changed. Always frustrating when you run the same script you've used for 2 years and it gives a bunch of errors during a release.

[2017-06-15 17:57] mishra14 commented on #5412
@danroth27 : Do you have the repro project? If not, then maybe the project type?

If this is a net core project then this is expected because we rely on sdk target to log the errors. We can reconsider this design to improve the user experience.

[2017-06-15 18:02] mishra14 commented on #5407
Working with Lifeng to improve the logging on the machine and get more details about the issue.

[2017-06-15 18:04] danroth27 commented on #5412
Yes, this was with a .NET Core project.

It's pretty easy to reproduce. Just create a .NET Core project with a non-existent package reference:

[code]

[2017-06-15 18:32] rohit21agrawal commented on #5408
@AArnott  had a chat with @rainersigwald about this, and msbuild does infact set this metadata:
https://github.com/Microsoft/msbuild/blob/vs15.3/src/Tasks/Microsoft.Common.CurrentVersion.targets#L5500

Is there anything in your project that is touching the SatelliteProjectGroupOutputGroup?

[2017-06-15 18:41] AArnott commented on #5408
Yes, I see MSBuild's .targets file sets that metadata. But that is irrelevant (unfortunately) because that MSBuild target is overridden by another .targets file that last I checked is very commonly imported by projects implicitly:
See this log message from my build:

Needless to say, this overriding target does *not* contain the new metadata that you require. And servicing it in .NET Framework, wh

[2017-06-15 18:44] nkolev92 opened #5419 "Legacy package reference does not no-op after building on package install."
Legacy package reference does not no-op after the first build after package install.

The package install adds the package to the "dependencies" but not in the frameworks.
In addition the version during install is normalzied version range while during on build restore it's not.

On install
[code]
On build restore
[code]

[2017-06-15 18:45] rohit21agrawal commented on #5408
why are Microsoft.WinFx.targets being imported? AFAIK, those targets are meant to be imported in legacy projects, which dotnet pack doesn't actually support. Can you do a pre-processor to see what is causing the file to be imported?

@livarcocc @dsplaisted do net core SDK projects have any dependency on Microsoft.WinFx.targets ?

[2017-06-15 19:12] rainersigwald commented on #5408
@rohit21agrawal It's imported for all `msbuild.exe` driven builds (`dotnet msbuild` invocations skip it and don't hit problems, apparently). Clarified this in https://github.com/Microsoft/msbuild/issues/2223#issuecomment-308836945.

Fixes to the real problem in MSBuild are pretty scary at this point in the cycle, because no one deeply understands the full implications of the change and we wouldn't

[2017-06-15 21:29] #5404 closed, assigned to jainaashish

[2017-06-15 21:33] jainaashish commented on #4917
@rrelyea No, let me send a reminder to him.

[2017-06-15 21:45] rrelyea commented on #5397
Internal bug: 451459

[2017-06-15 23:24] anangaur opened #5420 "Branding: VS 2017 15.3 update should start using the latest NuGet logo"
1. Ensure the logo is accessibility compliant
2. Replace the NuGet logo everywhere in VS 2017
3. When the package does not have any logo, the default logo should also be updated

[2017-06-15 23:32] mishra14 commented on #5343
Fixed with commit: https://github.com/NuGet/NuGet.Client/commit/fa273abed0bd26a23c820b975cf9b97536f43b04

[2017-06-15 23:32] #5343 closed, assigned to mishra14

[2017-06-15 23:39] #5405 closed, assigned to emgarten

[2017-06-15 23:41] anangaur commented on #5393
I agree to @emgarten that Package source filter means little on the "Installed" tab. The UI today may be confusing with the "Package source" visible with the "Installed" tab but it does some filtering on showing whether update is available or not for the feed selected as "Package source".

E.g.
If you have a PackageA installed with version 2.0.0 and in your local feed there is an updated version s

[2017-06-16 00:19] #5294 closed, assigned to rohit21agrawal

[2017-06-16 00:40] jaredpar commented on #5380
@tmds

This Roslyn change is not tied to Net Core 2.0. Our package will be shipped with this change and continuing to target Net Standard 1.3. So it will be usable in Net Core 2.0 but also Net Core 1.1.

Am I missing a subtly here?

[2017-06-16 01:42] livarcocc opened #5421 "dotnet-restore should accept --configuration"
_From @anoordende on June 15, 2017 23:45_

## Steps to reproduce
Build a project that selects packages based on configuration:

[code]

## Expected  behavior
When using dotnet restore with --configuration specified, it restores the correct package, especially now MSBuild does support this (and so does VS2017)

## Actual behavior
It doesn't, because the --configuration flag cannot be specified.

##

[2017-06-16 01:44] livarcocc commented on #5421
I disagree here. I think that your restore should not really be conditioned on any msbuild properties. I can see you needing to specify nuget config, like NuGet.Config or additional package sources. But everything else, should be restored by default in your project. If you depend on properties to be passed, this won't work in VS, for instance, where you can not pass any of these values to restore

[2017-06-16 02:53] tmds commented on #5380
@jaredpar my mistake. When (roughly) do you think there will be a NuGet.org package that contains the commit?
Until then, this package can not be used as a dependency of a 2.0 cli tool.

[2017-06-16 04:01] greatkeke commented on #5360
I wonder if it will be possible to pack multiple projects into one NuGet package?

[2017-06-16 04:52] jaredpar commented on #5380
@tmds

The packages with the changes are available now on our MyGet feed:

https://dotnet.myget.org/gallery/roslyn

Grab the latest `2.3.0-beta3-*` package. This is the package that will eventually become our `2.3.0-beta3` package on NuGet.org.

As for when it will appear on NuGet.org I don't know the exact date. But it will come out at roughly the same time as 15.3 Preview 3.

[2017-06-16 09:51] phatcher opened #5432 "NuGet 3.5.0 update fails with 'An additional constraint ... defined in packages.config prevents this operation"
NuGet product used (Package Manager Console):

NuGet version (3.5.0.1484):

VS version (if appropriate): VS 2015 Enterprise Update 3

I'm updating a package Microsoft.IdentityModel.Clients.ActiveDirectory which needs to be constrained to < 3.0 due to diffferences in ADAL 2 vs ADAL 3

    <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.19.208020213" allowedVersions="[2.19,

[2017-06-16 11:23] mmajcica commented on #545
It will be really beneficial for Nuget to support the sqlproj type of projects. This will allow us to package the dacpacts and then restore them in the sqlproj as Database references (ArtifactReference). This will avoid unnecessary scripts and checking dacpacs in the source code.

[2017-06-16 13:40] emphasis87 opened #5433 "nuget install skips the port in nuget source"
I am using the Nuget.Server package to host my nuget feed.
In the output from running the install command, notice how the port part (:81) of the address is skipped in the last GET command. The actual address is replaced for privacy.

[code]

When I try to manually download `http://hidden.address.com:81/APS.Nuget.Server/api/v2/package/aps.core.service.dto.restrictions/2.2017.10616.3863` it serves t

[2017-06-16 14:00] anoordende commented on #5421
Actually it works rather well in VS2017, if you don't mind restarting the solution. But that's besides the point, this is an extremely powerful feature in CI/CD workflows. Properties are an intrinsic part of MSBuild and therefore /t:restore happily abides.

All I'm asking for is for this to be exposed in dotnet-restore, but maybe I'm missing the point and it is going to be a complicated issue :)

[2017-06-16 14:26] emphasis87 commented on #5433
It seems that the server is actually serving the wrong address. We have it behind a proxy, so it actually runs on port 80.

The request to find packages:
`http://hidden.address.com:81/APS.Nuget.Server/nuget/FindPackagesById()?id=%27APS.Core.Service.DTO.Restrictions%27`

response contains:
`<content type="application/zip" src="http://hidden.address.com/APS.Nuget.Server/api/v2/package/aps.core.servi

[2017-06-16 14:33] nguerrera commented on #5421
Consider that the assets file, unlike most other artifacts, has the same location between configurations. This means a high risk of crossing the wires between debug and release if the assets file changes between them. That article should be updated to not encourage switching assets based on configuration IMHO.

You can pass /p:Configuration if you want and understand the risks. The only question i

[2017-06-16 15:28] osolliec opened #5434 "Nuget Restore slow on VS 2017 Community 15.2 and .Net Core 1.0.4"
## Details about Problem
We have a large solution (61 projects, and 178366 lines of code of c# files).
We target .net core 1.1 and .net framework 4.6.2.
It generally takes 60 seconds to execute a nuget restore command via Visual Studio 2017 Community 15.2.

We would like it to be much less, if possible. An acceptable number would be 15 seconds tops.

Our CI server (Teamcity) uses the following com

[2017-06-16 15:56] CoskunSunali commented on #5170
I cannot get this to work even if I specify 15.1 as the -MSBuildVersion.

P.S.: The agent is specified as "VS 2017". The NuGet version is specified as 4.0.0. I tried using 4.1.0 but no luck so far. There is no documentation regarding how to use "NuGet Tools Installer" task.

[code]

The same exception is thrown if I specify MSBuildVersion as "15" instead of "15.1".

[2017-06-16 16:07] alpaix opened #5435 "Consider deprecating `Source` parameter"
### Problem

Specifying a source when installing a package in `PackageRef` or `project.json` project won't make any effect on subsequent restores, because v3 restore operation will always look for best match across all **listed** sources.  Hence install operation will fail eventually. Moreover it might confuse user as providing one of listed sources won't give it a preference when resolving packag

[2017-06-16 16:21] livarcocc opened #5436 "Packaging a web application fails silently"
_From @CoskunSunali on June 16, 2017 11:23_

The scenario I am falling into requires me to develop plugins for a .NET Core web app. The plugins are standard NuGet packages. Some of the plugins require plenty of web related stuff and thus the plugin project's SDK is of type `Microsoft.NET.Sdk.Web`. It is also required to use the Web SDK in order to take advantage of Razor related stuff in Visual St

[2017-06-16 16:32] CoskunSunali commented on #5000
Copied from https://github.com/aspnet/DotNetTools/issues/297#issuecomment-309010069

[2017-06-16 16:33] natemcmaster commented on #5000
@rrelyea @mlorbetske this appears to be the same problem we were talking about yesterday. We've received multiple reports of this happening with dotnet-watch (https://github.com/aspnet/DotNetTools/issues/297).

Essentially, the problem is that NuGet takes in an MSBuild property named [DotnetCliToolTargetFramework](https://github.com/NuGet/NuGet.Client/blob/release-4.3.0-preview2/src/NuGet.Core/NuG

[2017-06-16 18:08] rrelyea commented on #5000
This second issue is a dupe to: https://github.com/NuGet/Home/issues/5397
The first issue is already fixed from the command line.

[2017-06-16 18:08] #5000 closed, assigned to nobody

[2017-06-16 19:05] nkolev92 opened #5437 "SkipContenFilesWrite flag is not set during VS restore of legacy pack ref projects"
The SkipContentFilesWrite flag is not being set in VS for legacy package reference projects.
This is a discrepancy between restore from VS & commandline clients.

For reference here's where the flag is being evaluated for commandline clients
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L508-L510

[2017-06-16 19:33] #5437 closed, assigned to nkolev92

[2017-06-16 20:42] dalestone commented on #5265
Is there a work around for this? I am getting the same error when trying to restore packages.

I tried setting the permissions on feed to the following:
**Contributors**: Project Collection Build Service
**Readers**: Project Collection Valid Users

The error persists.

I am using the Hosted VS2017 Queue.

[2017-06-16 21:41] emgarten opened #5438 "Improve package extraction robustness"
Restore has a specific order that it writes out package files, the final hash file marks that the package has been 100% extracted and written to disk when restore does the final move to put the hash file in place.

This can go wrong when the machine crashes while restore running. The result is that files are the correct size but contain all nulls. This is because restore wrote the file, but the fi

[2017-06-16 22:08] terrajobst commented on #5312
I like that.

However, if it's impossible I'd argue we should stop supporting parsing AssemblyInfo.cs in the new project system and only use MSBuild properties. The higher order for me as a customer is that my NuGet package/assembly info has symmetry.

[2017-06-16 22:42] #5397 closed, assigned to alpaix

[2017-06-16 23:49] debonte opened #5439 "build\native\PackageName.targets isn't imported after installing package in C++ project"
## Details about Problem

NuGet product used: VS UI or Package Manager Console
NuGet version (x.x.x.xxx): 4.3.0.4168
VS version (if appropriate): d15prerel 26615.05
OS version (i.e. win10 v1607 (14393.321)): rs2_release 15063.2.170323-1837

Worked before? If so, with which NuGet version: Yes in 4.2.0.2457 with d15svc 26430.13 (15.2)

## Detailed repro steps so we can see the same problem

1. Creat

[2017-06-17 00:38] anoordende commented on #5421
What do you mean by assets file?

[2017-06-17 01:29] nguerrera opened #5440 "Can dotnet pack include symbols in the same package?"
_From @thomaslevesque on June 16, 2017 23:46_

The `--include-symbols` switch creates a separate symbols package. However, a commonly used approach is to include the PDBs (patched with SourceLink or GitLink) directly in the main package. Is there a way to tell `dotnet pack` to include the PDBs in the main package, rather than a separate symbols package?

_Copied from original issue: dotnet/cli#691

[2017-06-17 02:03] thomaslevesque commented on #5440
Thanks for moving the issue to the right place @nguerrera.

Not being able to do this forces us to use NuGet.exe and a .nuspec file, instead of building the package directly from the .csproj. It leads to issues like https://github.com/FakeItEasy/FakeItEasy/issues/1126, where we forgot to update the dependencies in the .nuspec to match the reference in the .csproj.

[2017-06-17 02:43] emgarten commented on #5434
A lot of work around restore performance has gone into VS 15.3 and CLI 1.1.0/2.0.0.  Take a look at the following issues:
https://github.com/NuGet/Home/issues/5080
https://github.com/NuGet/Home/issues/4592

You might also want to check how long it takes MSBuild to evaluate your project, for example compare the restore time to the time it takes ``msbuild /t:Clean`` to run. Restore needs MSBuild to

[2017-06-17 03:12] emgarten commented on #5421
`obj\project.assets.json` is where restore writes output. Currently this file supports multiple target frameworks, but not multiple configurations or combinations of other msbuild input properties.

[2017-06-17 05:24] maxtoroq commented on #3830
@davidfowl did you see the json above?

[2017-06-17 06:29] davidfowl commented on #3830
@emgarten references seem to filter both runtime and compile elements. That would break these scenarios. It should only change what is compiled against.

[2017-06-17 09:50] stefandevo commented on #5267
Same here! Push not working.
[code]

[2017-06-17 13:44] m-henderson commented on #962
@sameerfairgoogl how did you install it ?

[2017-06-17 16:16] nevotheless commented on #5358
I have the `unable to load the service` issue as well.
[code]

I guess the root cause is similar. But unlike Xarkam i am behind a corporate proxy, will try to test the connection via fiddler in a few days as well.

[2017-06-17 18:15] sam-wheat opened #5441 "adding reference to package .dll causes reference to dependent dll to be ignored and vice versa"
Regarding .nuspec below - Looks like nuget will add project references to third party dlls only when reference to MyPackage.dll is omitted .   When the reference to MyPackage.dll is included, references to third party dlls are not created.

However, consumers of my package need references to all dlls. Is this possible?

The file names are spelled correctly.

All files exist in the packages lib fol

[2017-06-17 18:52] Xarkam commented on #5358
Hello,
I don't understand. Today, on my first pc, no problems found.
But, I will test to another pc with same problem.

[2017-06-18 18:44] CoskunSunali opened #5442 "Push with --no-symbols should also not push symbols.nupkg"
## Details about Problem

The command `dotnet nuget push` works as expected but reports wrong output.

dotnet.exe --info:

.NET Command Line Tools (2.0.0-preview1-005977)

Product Information:
 Version:            2.0.0-preview1-005977
 Commit SHA-1 hash:  414cab8a0b

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.15063
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\

[2017-06-19 04:56] nkolev92 opened #5443 "Tool no-op with floating versions issues"
This is just a tracking task. This is the expected behavior and currently there's no ideas for actually solving this issue. Finding a proper solution would require a complete redesign of tool restore.

The design for tools has a lot of holes itself, as we bind it to a project, but it's actually global etc.
Due to that there's a great amount of cases where tool restore will not work.

The simple sc

[2017-06-19 04:58] nkolev92 opened #5444 "Cross-Client no-op for legacy package reference"
The secondary target of this feature is to unify the restore behavior among all our clients.
One can restore with NuGet.exe, open VS, and then auto-restore no-ops. When that, the user can build use msbuild /t:restore and that would no-op as well.

At this point that's not the case.
The dg spec generated for msbuild/nuget.exe/dotnet.exe case is not the same as the one generated by VS. Some of those

[2017-06-19 05:00] nkolev92 opened #5445 "No-Op scenario hole with floating/non-exact versions"
#### Floating/Open ended version requested - *Scenario breaking change*
Since the No-Op evaluation needs to be minimal, we avoiding checking the sources, so the case where a new version of the requested package is uploaded, or a version of the package is unlisted it might change the package resolution behavior.

Example:
[code]
At the moment of the first restore, version="3.6.0" was the latest ver

[2017-06-19 07:04] CoskunSunali opened #5446 "Cannot push packages and symbols at the same time and issues with --verbosity option"
I am intending to push both packages and symbols to separate feed sources at the same time based on the documentation and the arguments I see. Please let me know if this is a wrong approach in advance.

If I do not pass the "symbol related" parameters to the `dotnet nuget push` command, the command succeeds and pushes the packages and symbols to the "same feed" which is not the intended usage - at

[2017-06-19 07:12] mess285 commented on #4488
@onovotny have you tried this other workaround? They both works for me
`<PackageReference Update="PlaceholderToConvinceThisProjectToGetTransitivePackageReferenceFromProjectReferences"/>`
https://github.com/Microsoft/msbuild/issues/1582

[2017-06-19 12:57] kzu commented on #5272
ping @emgarten ;)

[2017-06-19 13:01] kzu commented on #5383
Hi @Andne, actually the `.nuproj` project uses a `PackageReference` to reference NuGetizer, so you will not see any imports in the `.nuproj` itself, but rather in the `obj\[projectname].nuget.g.props` and `obj\[projectname].nuget.g.targets` after a restore happened.

If you have a `packages.config` in the `.nuproj` instead of a `<PackageReference ...`, then the project won't work and you need to m

[2017-06-19 13:07] kzu commented on #5369
@mhutch we're doing that already, but it would be nice to have the relevant metadata in there, instead of resorting to "private" item groups and package reference inspection. See https://github.com/NuGet/NuGet.Build.Packaging/commit/5141dcbef524bdc11c0393a057eb25abf1007df3

[2017-06-19 13:09] kzu commented on #5347
Thanks for the fix!

[2017-06-19 13:09] #5347 closed, assigned to nobody

[2017-06-19 13:09] davidfowl commented on #5400
It's not the same as an adding an upper bound. Upper bounds are there to make things fail, not change dependency resolution. "Nearest wins" (which honestly is a bad name) really means ancestor wins regardless of what any descendent asked for.

[2017-06-19 15:58] ashotmuradian commented on #1909
Increasing connections limit in `devenv.exe.config` file helped me:
[code]
**Update:** after the latest update 15.2 (26430.14), it's necessary to edit `devenv.exe.config` file again

[2017-06-19 15:58] Andne commented on #5383
I've updated the version of NuGetizer in my 15.3 Preview 2 install of Visual Studio 2017 to 0.1.315, upon creating a new project it has a `packages.config` contained in it.  When I installed the preview, I did limit the features a little bit, is there a specific workload/component I need to make sure I have in order for the project to work correctly?  I see this behavior even when I create a brand

[2017-06-19 16:28] sandord commented on #1909
This is golden.

[2017-06-19 16:43] kzu commented on #5383
I got a repro. Working on a fix

[2017-06-19 17:18] livarcocc opened #5447 "Credential provider support for dotnet.exe (cross-plat)"
_From @craigb on June 17, 2017 0:44_

## Steps to reproduce
1. Install the VSO [nuget credential provider](https://www.visualstudio.com/en-us/docs/package/nuget/nuget-exe)
1. Take a dependency on a VSO nuget package feed
1. `dotnet restore`

## Expected  behavior
I would expect it to auth and retrieve information about packages just like `nuget.exe restore`.
[code]

## Actual behavior
[code]

## E

[2017-06-19 17:19] kzu commented on #5383
Ok, @Andne there's definitely something not working as expected in the 15.3 VSIX installer with regards to pre-requisites. Also, I'm not getting even the nested Clide.vsix installed :\

[2017-06-19 17:48] Andne commented on #5383
If that's the case, is there a work-around I can do to get all of the right components installed until they sort that out?

[2017-06-19 17:50] abatishchev commented on #2530
hi, i'm sorry, got missed your response! sure, i'm willing to help.

[2017-06-19 18:03] kzu commented on #5383
Here's a PR build in the works: https://ci.appveyor.com/project/MobileEssentials/nuget-build-packaging. Please try the resulting VSIX artifact once it finishes. That should fix the missing nested VSIX (Clide) but it would not fix the missing Merq pre-requisite.  You should get that dependency by issuing the following command:

[code]

(see https://docs.microsoft.com/en-us/visualstudio/install/comm

[2017-06-19 19:06] natidea opened #5448 "NoWarn PackageReference Metadata is not respected in netcoreapp2.0"
`NoWarn` on a Package reference is not functioning properly for netcoreapp2.0 or netstandard2.0

Given the following project file:

[code]

The NoWarn correctly removes the warning from net461 and netcoreapp1.1, but not for netcoreapp2.0 and the assets file still contains:

[code]
Similar behavior is observed for netstandard2.0.

## Details about Problem

NuGet version (x.x.x.xxx):  4.3.0-preview3

[2017-06-19 19:22] nkolev92 opened #5449 "SDK based projects, with SDK 2.0 restore causes a build error"
Net Core SDK based projects with Net Core 2 causes a build error due to difference in the assets file.
The difference is below:
Old behavior
[code]

vs old behavior:

[code]

[2017-06-19 19:36] rrelyea commented on #5449
This happens with 4.3.0.4192 NuGet.Tools.vsix but not the current build inserted in VS.
@nkolev92 is investigating options.

[2017-06-19 19:42] Hanylylyya97 opened #5450 "Summary"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2017-06-19 19:46] Andne commented on #5383
After some bouncing around, I found that I need to install the Xamarin component from within the Visual Studio Installer.  This is maybe a heavy-weight method of getting Merq, but at least it should work.  The command-line you had didn't seem to do anything and when I extracted Merq.vsix and tried to install it directly, that's when I got the message about needing the Xamarin components installed.

[2017-06-19 19:47] jainaashish opened #5451 "Different restore behavior for build restore vs solution restore"
With NuGet 4.3.0.4192 NuGet noop restore behavior is different for build restore vs solution restore.

4.1 Behavior:
If it needs to restore, then it restores in both build restore as well as solution restore. When there is a noop, then it's noop for both the cases.

4.2 Behavior & Current behavior after no-op work.

If it needs to restore, then it restores in both cases. But when there is a noop,

[2017-06-19 20:23] rrelyea commented on #5449
SDK code is running in Msbuild process, not in DevEnv.
It uses NuGetPackageResolver API to read the assets file.
If the fix in 4.3.0.4192 needs to be a VS only change, (no SDK/CLI insertion) and as such, cannot change the format written to the assets file.
If it was loading the DevEnv copy of the nuget dll, it knows how to read the new format...

[2017-06-19 22:01] rohit21agrawal opened #5452 "restore no-op doesn't work if VS restore is followed by msbuild restore for UWP project.json < RS2"
Repro steps:
File -> New Project -> UWP Class Library, TPMinV 10586, TPV 14093
Build Solution (this will cause a restore)
Build solution again. (This will cause a no-op restore).

Open Dev Command prompt, do msbuild /t:restore . Restore does not no-op.

CC: @nkolev92

[2017-06-19 22:32] Eilon opened #5453 "NuGet "ImportsFallbackWarning" has grammatical error: 'instead ??? the project target framework'"
This error message: https://github.com/NuGet/NuGet.Client/blob/a51605604a75f89ea5a0017095b666b558aa4769/src/NuGet.Core/NuGet.Commands/Strings.resx#L201

Should be:

[2017-06-19 22:37] jainaashish opened #5454 "dotnet add doesn't work with legacy package reference"
dotnet add isn't working with c# class library with package reference and throw below error:
`info : Adding PackageReference for package 'angularjs' into project 'C:\Users\asja\source\repos\WpfApp1\ClassLibrary1\ClassLibrary1.csproj'.
error: Error while adding package '{0}' to project '{1}'. dotnet add package command supports adding package to one project at a time. But no project was found at th

[2017-06-19 23:03] ronnyek opened #5455 "Nuget pack doesnt pack assets that are private assets=all"
## Details about Problem

## tl;dr; version
I just want some way to easily specify private dependencies so that consumers of my library don't have to go reach out to all the servers and fetch my libraries dependencies. Not the normal use case, but I think perfectly justifiable.

## Full Version
I am sure this is a misunderstanding on my part, but documentation seems to be severly lacking. I'm at m

[2017-06-19 23:42] dazinator commented on #5372
Sorry, I haven't had time to put together a repro for this yet. My current build process restores the sln file, and I then have to do another restore on the project file that is missed. If I am the only one seeing this I think I'll leave this for now. If it happens with any more solutions i'll try and create a repro for you. Cheers.

[2017-06-20 00:51] anangaur commented on #5447
This was never supported. Refer to documentation: https://www.visualstudio.com/en-us/docs/package/nuget/nuget-exe

Unfortunately, to make use of authenticated feed on VSTS with dotnet.exe, the only option today is to specify a Personal Access Token in plain text as documented here: https://www.visualstudio.com/en-us/docs/package/nuget/dotnet-exe

It does makes sense however to have a mechanism to

[2017-06-20 01:24] rohit21agrawal commented on #5455
this is expected behavior since by marking PrivateAssets=all , you are essentially saying it's a build time dependency.

[2017-06-20 01:24] #5455 closed, assigned to nobody

[2017-06-20 01:24] rohit21agrawal commented on #5452
noticing this for sdk based projects too.

[2017-06-20 01:59] jainaashish opened #5456 "Init scripts are not being executed when package installed through dotnet add command"
Steps:
1. Create .net core console app
2. Open PMC
3. Go to dev command prompt and use dotnet.exe to add EntityFramework package into this project.
4. Come back into VS, you'll see it already restored after you added EntityFramework.
5. Run "Add-Migration" command in PMC, it won't recongnize it.
6. Close/open solution, and again run "Add-Migration" cmd, it will still won't recognize it.

Root caus

[2017-06-20 08:06] kukjevov opened #5457 "Multi target project cant be installed using VS 2017 with all updates"
## Details about Problem

NuGet product used (VS UI):

NuGet version (4.2):

VS version (if appropriate): 15.2 (26430.13)

OS version (i.e. win10 (15063 build)):

Worked before? If so, with which NuGet version: Not tested before

## Detailed repro steps so we can see the same problem

I have created project which looks like this.

[code]

Published this package to our NuGet repository. We are host

[2017-06-20 09:39] rendmath commented on #4614
As far as package search is concerned, I would disagree. Packages that are heavily depended upon are often infrastructure packages that you don't want on top of your list of results because they are usually pulled as dependencies by other "higher-level" packages.

At the moment, the most obvious problems seem to be:

1. No partial match for package name. You either have to enter the full name or i

[2017-06-20 13:13] anangaur commented on #4614
Related issue: https://github.com/NuGet/NuGetGallery/issues/4124

[2017-06-20 15:17] zvirja commented on #3891
Hi guys,

Just out of curiosity - are there any plans to proceed on this one? Currently, I need to use the dirty workaround that is MSBuild internals specifics:

[code]

[2017-06-20 15:19] AArnott opened #5458 "Satellite assemblies from PackageReference all copy to root bin folder"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): 4.3.0

VS version (if appropriate): 15.3.26616.2.d15rel

OS version (i.e. win10 v1607 (14393.321)): Win10 15063.rs2_release.170317-1834

Worked before? If so, with which NuGet version: Yes, this worked in 15.1 or 15.2 I believe.

## Detailed repro steps so we can see the same problem

Create a

[2017-06-20 15:29] chrisadipascual commented on #3078
The comment above solved my problem. I downloaded the latest nuget.exe and ran it as admin ,
then execute

`nuget.exe locals -clear all`

Seems i had issues on my local as the problem persists on different projects I'm working on when installing or updating any package

[2017-06-20 15:56] AArnott opened #5459 "Framework assembly dependencies still missing from nuspec on `dotnet pack`"
#4853 added `frameworkAssemblies` back to the nuspec file when the nuspec is generated by .NET SDK projects. But those references only show up for `msbuild /t:pack`, and are omitted from the generated nuspec file when using `dotnet pack`.

| tool | version |
|--|--|
dotnet.exe --version | 2.0.0-preview1-005842
VS version | 15.3.26616.2.d15rel

[2017-06-20 15:56] pepone commented on #5240
Hi,

Seems part of the problem is how the Zip entries are created in [PackageBuilder.cs](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/PackageCreation/Authoring/PackageBuilder.cs#L720 ) one possible fix is to set the [LastWriteTime](https://msdn.microsoft.com/en-us/library/system.io.compression.ziparchiveentry.lastwritetime(v=vs.110).aspx) using the time from the fi

[2017-06-20 16:30] tylerohlsen opened #5460 "Nuget package install and update fails for Unity target projects with new csproj format even though PackageTargetFallback is specified"
## Details about Problem

I have a VS 2017 project with the new csproj format. See file contents attached. Notice I have added the new PackageTargetFallback node to allow VS to allow .Net 3.5 packages to be installed.

If I manually enter a package reference to a package that contains a .Net 3.5 target, the package restore succeeds and all is well. (see NLog in example file)
If I attempt to use th

[2017-06-20 17:03] qguv commented on #1946
@zhili1208 The resolution to #3550 doesn't fix the issue for me either. On macOS, it's still not possible to build a nuget package from a `.csproj`.

[2017-06-20 17:10] kzu commented on #1946
@qguv maybe you could try NuGetizer instead and see if that fixes it? `install-package NuGet.Build.Packaging` ;)

[2017-06-20 17:11] kzu commented on #3891
Indeed @zvirja you could try `install-package NuGet.Build.Packaging`, which should be compatible with "sdk pack" and give you that behavior automatically.

[2017-06-20 18:09] natidea commented on #4724
These many errors have now been replaced with NU1105

[code]

There is still one error for each reference, but multi-tfm projects only produce one error.

[2017-06-20 18:14] natidea commented on #4555
Warning messages are now more consistent and less confusing:

This still produces up to 5 warnings since dependent packages that are pulled in are also flagged, but user the experience is much better. The only gap is some information to the user on how to use AssetTargetFallback to suppress the warning.

[2017-06-20 18:20] rohit21agrawal commented on #5061
also, related : https://github.com/NuGet/Home/issues/4476

[2017-06-20 18:20] natidea commented on #4340
This is fixed. NuGet now reports one error for each reference to that project:

The existing warning from `Microsoft.Common.CurrentVersion.targets` is still present, so user is alerted twice

[2017-06-20 18:36] rohit21agrawal commented on #5458
shouldn't this go to msbuild?

[2017-06-20 18:36] Tratcher opened #5461 "NU1201 for netcoreapp2.0 -> net461 project dependency using new csproj format/sdk, but not for classic csproj"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
dotnet --version => 2.0.0-preview2-006479

VS version (if appropriate): 15.3 preview3 [26615.0.d15rel]

OS version (i.e. win10 v1607 (14393.321)): Win7 SP1

Worked before? Unknown

## Detailed repro steps so we can see the same problem
Repro app: [NetRef.zip](https://github.com/NuGet/Home/files/1089211/NetRef.zip)

1. C

[2017-06-20 18:42] rohit21agrawal commented on #5459
the latest dotnet from https://dotnetcli.blob.core.windows.net/dotnet/Sdk/release/2.0.0/dotnet-sdk-latest-win-x64.zip has the pack change.

[2017-06-20 18:42] #5459 closed, assigned to nobody

[2017-06-20 18:53] zarenner commented on #5330
@emgarten Will NuGet accept this change if we implement it?

fyi @jmyersmsft @tkrick

[2017-06-20 18:53] AArnott commented on #5458
I expected NuGet owned the .targets that copy files from nuget packages into the user's bin folder based on PackageReference.

[2017-06-20 18:55] natidea commented on #4703
Package downgrade errors are now much more detailed:

 ClassLibrary3 (>= 1.0.0) -> NuGet.Commands (>= 4.0.0) -> NuGet.Client (>= 4.0.0) -> NuGet.Packaging (>= 4.0.0)
 ClassLibrary3 (>= 1.0.0) -> NuGet.Packaging (>= 3.5.0)

Users can suppress specific instances by adding the NoWarn attribute to the offending package reference,
[code]
or adding a NoWarn for all instances of NU1605
[code]

[2017-06-20 18:57] rohit21agrawal commented on #5458
NuGet doesn't decide where the DLLs would be copied to on disk. It only creates an assets file which is a dependency graph, then NuGetBuildTasks convert these to References. Finally, SDK targets decide what to do with these references. So I would lean towards this being something that SDK isn't handling well.

[2017-06-20 19:00] AArnott commented on #5458
Very well. It only seems to repro for .NET SDK projects so I'll move to dotnet/sdk

[2017-06-20 19:00] AArnott commented on #5458
This issue was moved to dotnet/sdk#1360

[2017-06-20 19:00] #5458 closed, assigned to nobody

[2017-06-20 19:21] qguv commented on #1946
I ended up writing a `.nuspec` file from scratch.

I'd really like to see support for building from a .csproj file on macOS as that is the method the [official tutorials](https://docs.microsoft.com/en-us/nuget/quickstart/create-and-publish-a-package) use when walking through the packaging process. Alternatively, the tutorials could be changed to use a different method.

[2017-06-20 19:30] phrohdoh commented on #1946
You can install PowerShell via homebrew: `brew install powershell`

Of course NuGet proper should support what it promises to support but I haven't seen that yet.

[2017-06-20 19:38] xavierdecoster commented on #5330
I'd love to see this happening too btw. Imho, being able to correlate requests to a single user interaction with the package management client/server could be extremely useful for all NuGet repository maintainers out there. As one of the maintainers of MyGet, I'd be happy to see this realized as part of the documented NuGet protocol.

[2017-06-20 19:42] analogrelay commented on #5461
/cc @rrelyea @davidfowl @Eilon @muratg

[2017-06-20 19:59] rrelyea commented on #5461
Let's understand and fix in post V15.3P3/CLI2P2.
@anurse - let us know if you think this is a V15.3P3/CLI2P2 blocker.

[2017-06-20 20:20] rrelyea commented on #5333
@dend  - can you give more details on "a test console project in VS"

[2017-06-20 20:21] dend commented on #5333
@rrelyea To clarify, what I mean by "test console project" is if I create a new console project, and use the NuGet package manager to install the package, it works perfectly fine. I can't do it through the API though for some reason.

[2017-06-20 20:23] rrelyea commented on #5333
My guess is that the type of project you are installing into is the problem. Still don't understand which one works. What kind of console project (full framework? core?), which TFM?
I don't know offhand what a PackagesFolderNuGetProject is. Is that similar to the test console project?

[2017-06-20 20:31] analogrelay commented on #5461
I think we can avoid having it for CLI2P2. It only affects .NET Framework projects using the new SDK-based project system, which is rare, since existing projects will use the older project system.

[2017-06-20 21:21] PeterMurdoch commented on #3324
We tried applying the long file paths GPO to work around this but it was a fail.  https://www.saotn.org/wp-content/uploads/2016/10/GPO_Enable_Win32_long_paths_2.png

[2017-06-20 21:42] livarcocc opened #5462 "DotNetCliReference causes multiple confusing "Restoring" messages"
_From @shanselman on June 20, 2017 21:37_

## Steps to reproduce

With _n_ number of DotNetCliReferences you get _n+1_ "restoring packages" messages. One per tool, plus one for the actual package references.

## Expected behavior

You should get "restoring tools" once and "restoring packages" once.

## Actual behavior

![image](https://user-images.githubusercontent.com/2892/27357136-e16f434e-55c5-

[2017-06-20 23:03] alpaix commented on #5439
@debonte The package doesn't have `.targets` files matching `uap10.0.xxx` framework.
The package structure should be similar to this [sample](https://github.com/NuGet/Samples/blob/master/ExtensionSDKasNuGetPackage/NativePackage/NativePackage.nuspec).

[2017-06-20 23:30] Igorbek commented on #5265
I've faced this issue as well, without any workaround found so far. Trying to access the feed via `dotnet restore` from a build that definitely has access.

[2017-06-21 00:10] debonte commented on #5439
@alpaix So Targets\native\MyNativePackage.targets used to be sufficient (in 15.2), but now Targets\uap\...\MyNativePackage.targets is required?  Can I get away with just Targets\uap\10.0\MyNativePackage.targets or do I also need a version-specific directory like Targets\uap\10.0.14393\MyNativePackage.targets?  This package is going to be used by automated tests and I'd like to make it future proof

[2017-06-21 02:46] mishra14 commented on #5448
Cause:
The Warning Properties collection holds package specific `NoWarn` properties in a `HashSet<NugetFramework>`. Currently that hash set did not have a comparer and used the `Equals` and `GetHashCode` methods from the objects being added/compared.
With work for `ATF` certain frameworks like `netcore2.0` were being read as `AssetTargetFallbackFramework` as a result the behavior for `GetHashCode`

[2017-06-21 04:43] JoseFMP commented on #4989
+1, can't wait for this. I think this is important because right now different packages implementing same namespaces.

@brianpos could you share your trick please?

[2017-06-21 05:39] fubar-coder commented on #4989
IIRC you can configure NuGet to store the NuGet packages in an packages folder instead of using the cache in the users home folder using the NuGet.config. This allows you to manually specify project-relative assembly references (via `Reference Update`) which can include the alias. The problem with this approach is, that you have to update the reference whenever the package version changes. However

[2017-06-21 05:59] JoseFMP commented on #4989
Ok, so basically referencing the .dll quasi-manually and including then the alias, right? I was also thinking about that as a work around

[2017-06-21 06:19] davkean commented on #4989
As a side note, a workaround is to write a target that does something like this: https://github.com/dotnet/project-system/blob/master/build/Targets/VSL.Imports.targets#L340.

Here we're setting the EmbedInteropTypes metadata, but the same could be applied to alias.

[2017-06-21 06:25] andymac4182 commented on #4989
It would be great if someone on the NuGet team could point in the right direction of the repo that requires the change. I am sure people are happy to look if they know where to look.

[2017-06-21 06:32] davkean commented on #4989
I think they'll need a design first, I don't see a flushed out proposal on syntax/behavior. Once we do that, we'll then need to work with the project systems (http://github.com/dotnet/project-system) and SDK (http://github.com/dotnet/project-system) to add/respect the property so that it can be passed to NuGet/show in Properties, etc, added to the `<REference/>` when we dynamically produce them, a

[2017-06-21 06:35] davkean commented on #4989
I'll help sponsor, point to the locations that need to change in SDK, ProjectSystem (NuGet team will need to jump in on the nuget side, as I don't have context), and driving this through, if a community member wants to pick up the design/changes.

[2017-06-21 06:43] davkean commented on #4724
I'd like to see MSBuild/us complain about this "missing" reference instead of NuGet.

[2017-06-21 08:00] JRi90 opened #5463 "Incorrect version ranges shown for PackageReference: Version conflict detected"
We try out the new PackageReference today, but an error occured:

_Version conflict detected for ProjectA.
Main (>= 1.0.0) -> ProjectB (>= 9.0.22) -> ProjectA (>= 9.0.22)
Main (>= 1.0.0) -> ProjectC (>= 6.1.50) -> ProjectD (>= 8.0.19) -> ProjectA (>= 8.0.19)._

Steps:
1. Install ProjectB 9.0.22
2. Install ProjectC - failed.

Expectation:
ProjectC successfully installed and ProjectA is used in Vers

[2017-06-21 10:26] haskaan opened #5464 "How to publish on Class Library (.NetCore) project to be downloaded from the nuget visual studio 2015?"
# **Environment**
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (3.5.0.1484):

dotnet.exe --version (if appropriate): 1.0.0-preview2-003131

VS version (if appropriate): Visual Studio 2015 Update 3

OS version (i.e. win10 v1607 (14393.321)): Win 10 v1703 (15063.332)

# ** Problem Details**
I created a Class Library (.NetCore) project on Visual Studio

[2017-06-21 11:24] viceice commented on #5368
It seems to be https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/Commands/ProjectFactory.cs#L967 is the line, which is throwing the exception.

The property TargetFramework is null.

[2017-06-21 11:42] 9Rune5 commented on #2880
Would be nice if the error message could say "cannot reach 93.184.221.200" or similar (basically tell me which host or IP that couldn't be reached).

Today our IDS had blocked nuget, because it believed the nuget host had performed a port scan on us. I doubt that is likely (far more likely that our frequent builds trigger lots of traffic to the nuget servers and this confused a poorly configured I

[2017-06-21 11:43] viceice commented on #5368
Adding `<TargetFrameworkMoniker>.NETFramework,Version=v2.0</TargetFrameworkMoniker>` helps

[2017-06-21 11:47] bartoszkp commented on #5368
@ViceIce Thanks, I'll try that next time when trying to go from nuspec packing to csproj packing :-) The NRE still shouldn't be getting its way out of the application IMHO ;)

[2017-06-21 12:07] Lexcess commented on #4945
We're using this to automate testing of newly created packages (after pushing to an internal feed). Works perfectly for Framework projects, broken as described above for .NET Core. Really disappointing to not even see a response on this since March.

[2017-06-21 13:15] osolliec commented on #5434
The problem is that VS 2017 Preview 3 (15.3) is unusable right now, it crashes and is much much slower than VS 15.2.

Here are the results of using Msbuild / Nuget restore for the same solution :

MSBuild /Version : (R) Build Engine version 15.1.1012.6693

msbuild /t:clean Solution.sln
Time Elapsed 00:00:19.68

Nuget Cli 4.3.0-preview1
nuget restore Solution.sln
command took 0:0:45.33 (45.33s tota

[2017-06-21 13:51] kzu commented on #5383
Ok, we escalated the issue since that should be a fully supported scenario. We'll work it out hopefully before 15.3 ships to stable. Will keep you posted.

For now, yes, you'll need to install Xamarin :(

[2017-06-21 14:01] kzu opened #5465 "Reference assembly generation fails"
Fails with:

/Users/nater/.nuget/packages/nuget.build.packaging/0.1.318/build/NuGet.Build.Packaging.ReferenceAssembly.targets(3,3): Error MSB3202: The project file “/Users/nater/.nuget/packages/nuget.build.packaging/0.1.318/build/GenerateReferenceAssembly.csproj” was not found. (MSB3202)

Looks like we missed adding the csproj to the package when we updated to latest nugetizer.

[2017-06-21 15:59] dalestone commented on #5265
I manged to work around this by targeting VS2017 host agent and using nuget restore and pointing it at a nuget.config which has the VSTS feed URL in. I also left permissions to what i mentioned above and it now restores with no issues.
<img width="1059" alt="vsts" src="https://user-images.githubusercontent.com/3886432/27394519-6372100e-56a4-11e7-84a5-17b3bcde00ef.png">

[2017-06-21 16:25] kzu opened #5466 "If CopyToOutput=Never, building package fails"
In this case, the package files should be referenced from their source path, not the outputpath-relative location.

This was not working if the CopyToOutput was because we were only considering `''` to mean "not copying", but 'Never' is also a valid value for the same situation.

[2017-06-21 16:35] kzu commented on #5367
Makes sense.

Thanks!

[2017-06-21 17:06] livarcocc opened #5467 "Unable to satisfy conflicting requests (recursive problem ? )"
_From @philippe-lavoie on June 21, 2017 15:15_

With the latest VS2017 update 3 preview code (installed on July 20th) I'm seeing this when doing a dotnet restore  (I'm seeing other stuff when doing nuget restore)

      Unable to satisfy conflicting requests for 'System.Runtime.Handles': System.Runtime.Handles (>= 4.3.0) (via package/System.Diagnostics.Process 4.3.0), System.Runtime.Handles (>=
 4

[2017-06-21 17:22] #5448 closed, assigned to mishra14

[2017-06-21 18:08] erick-thompson commented on #1806
Is there any movement on this? We also have a process that requires that nuget.exe install the latest version of matching dependencies.

[2017-06-21 18:11] erick-thompson commented on #2746
I've run into this same issue. The DependencyVersion is not getting picked up from the nuget.config specific on the command line via -ConfigFile.

[2017-06-21 18:16] NateRickard commented on #5465
Rebuilt with v0.1.323 and I can confirm this is resolved.

[2017-06-21 18:32] shishirx34 opened #5468 "NuGet SetApiKey Not working correctly with TeamCity CI"
@emgarten commented on [Tue Jun 06 2017](https://github.com/NuGet/NuGetGallery/issues/4069)

@mythz commented on [Tue Jun 06 2017](https://github.com/NuGet/Home/issues/5353)

I'm getting a 409 Error Response when trying to upload NuGet packages from the command-line using my `mythz` API Key.

NuGet Version: 3.4.4.1321

This is the .bat script I used to upgrade:

[code]

This is the error response

[2017-06-21 18:35] NateRickard opened #5469 "Nugetizer package generation leads to duplicate frameworkAssembly tags in nuspec in certain case(s)"
## Details about Problem

A nuproj project that references Android/iOS platform projects, and _those_ projects reference Android/iOS Xamarin binding projects.  After generating a package with this setup, my nuspec contains duplicated `frameworkAssembly` tags, as seen in this Gist:

https://gist.github.com/NateRickard/0a0208413942a70b3a548134f6d5e7b9

NuGet product used (NuGet.exe | VS UI | Package

[2017-06-21 18:38] alpaix commented on #5439
Confirming regression in native framework evaluation. Will work on a mitigation. As a workaround try using public build of Visual Studio 2017 to install your package.

[2017-06-21 18:58] mishra14 commented on #5441
@rohit21agrawal could you please take a peek?

[2017-06-21 18:59] DanRigby commented on #5463
I'm seeing this as well with `<PackageReference>` use and it makes working with packages that have shared dependencies painful.

In the below example, I would have expected `Xamarin.Android.Support.Compat` to be updated to `25.3.1` rather then a failure occurring.

[code]

[2017-06-21 18:59] mishra14 commented on #5450
Closing as there is not information.
@Hanylylyya97 Feel free to re open and add more details.

[2017-06-21 18:59] #5450 closed

[2017-06-21 19:00] rohit21agrawal commented on #5441
@sam-wheat is there anything special about "MyPackage.dll" ?

[2017-06-21 19:01] leaderanalytics commented on #5441
@rohit21agrawal no (I am Sam)

[2017-06-21 19:02] rohit21agrawal commented on #5441
You will have to attach a repro project for me because i cant repro this on my end

[2017-06-21 19:02] mishra14 commented on #5456
`dotnet add package` cannot execute the script as it runs outside VS. But maybe we need to add code to listen to added packages and execute scripts.

[2017-06-21 19:04] mishra14 opened #5470 "VS on build restore displays duplicate warnings/errors for CPS based projects"
E.g. -

![cap](https://user-images.githubusercontent.com/10507120/27401897-c0b7ed9a-5679-11e7-8254-ec9e5f102fc2.png)

Investigating to see if this is because we do not hide warnings and errors for on build restore as we should.

[2017-06-21 19:07] marktap opened #5471 "Nuget package manage shows updates for incompatible packages"
Hi!

I'm not sure if this is a bug or a suggestion, but I find it a little frustrating so I thought I'd mention it to see if you all agree :-)

Thanks!

Mark

----

# Steps to reproduce
Create a new Xamarin.Forms app in VS2017 on Windows
Open "Manage Nuget packages for Solution"
Click on the "Updates" tab
Select all updates and click Install

# Expected behavior
The packages are updated

# Actual

[2017-06-21 19:11] kzu commented on #1946
@qguv NuGetizer is supported on macOS.

[2017-06-21 21:10] Tratcher opened #5472 "Update and Uninstall not working for projects with multiple TargetFrameworks"
## Summary
When a project has at least three TargetFrameworks and tries to install a package that does not support one of them, then the PackageReferences for the others TFMs get added inside Conditional ItemGroups. If you then use the Package Manager UI to Uninstall or Update that package it only affects the first TFM. If there is no matching conditional for the first TFM the Uninstall gives an e

[2017-06-21 22:01] mishra14 commented on #3483
Closed as fixed.

[2017-06-21 22:01] #3483 closed, assigned to nobody

[2017-06-21 22:06] mishra14 commented on #5365
Seems fixed.

[2017-06-21 22:06] #5365 closed, assigned to rrelyea

[2017-06-21 22:08] mishra14 commented on #3933
May no longer be relevant after the move to VSTS

[2017-06-21 22:58] nkolev92 commented on #5449
Redundant now.

[2017-06-21 22:58] #5449 closed, assigned to nkolev92

[2017-06-21 23:42] rrelyea commented on #4396
This is fixed in CLI 2 preview 2 and in VS 15.3 Preview 3 - build 26526.00 and later.

[2017-06-21 23:42] #4396 closed, assigned to alpaix

[2017-06-22 01:20] maxtoroq commented on #4691
Duplicate of #3830

[2017-06-22 01:20] #4691 closed, assigned to nobody

[2017-06-22 05:36] Stonne commented on #5348
Had the same issue in the package management console. My solution was to do the migrations in acmd prompt see link
https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/migrations

[2017-06-22 06:44] aiham opened #5473 "API key not detected when pushing causing version conflict"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
nuget

NuGet version (x.x.x.xxx):
4.1.0.2450

OS version (i.e. win10 v1607 (14393.321)):
macOS Sierra 10.12.5

## Detailed repro steps so we can see the same problem

1. Ensure nuget API key is NOT set (or it may require an invalid API key to be set)

2. Modify the version of your package to on

[2017-06-22 07:02] davkean opened #5474 "CTRL+X doesn't work in the Managed NuGet Packages dialog"
## Details about Problem

VS version (if appropriate): Version 15.3.0 Preview 3.0 [26618.0.d15prerel]

## Detailed repro steps so we can see the same problem

1. Open Managed Package Dialog
2. Enter BenchmarkDotNet in the search box
3. Highlight word in the search box
4. CTRL+X

Expected: For the term to be cut
Actual: Nothing

[2017-06-22 07:05] davkean opened #5475 "Searching for a never searched before package in the Installed tab in an empty project takes > 1 minute"
## Details about Problem

VS version (if appropriate): Version 15.3.0 Preview 3.0 [26618.0.d15prerel]

## Detailed repro steps so we can see the same problem

1. Create a new .NET Console App (.NET Framework)
2. Open Managed Package Dialog
3. Enter "TermIveNeverSearchedBefore"
4. Press ENTER to search

Expected: For this to be instant
Actual: Takes over a minute to search a package with zero packa

[2017-06-22 07:06] aiham commented on #5473
I think I am hitting the same issue as #5468

[2017-06-22 07:06] davkean commented on #5475
It's quicker to search the Browse tab then the Installed tab.

[2017-06-22 07:10] aiham commented on #5473
Even though I set my api key:

[code]

It's not being detected:

[code]

[2017-06-22 11:06] bazzilic commented on #4615
Are there any updates on this issue? It is still there.

[2017-06-22 11:54] vgheri commented on #3664
Hello,

I'd like to submit new information so that the issue can be reopened.

I still have the problem of not being able to restore packages from a secured private repo.
Please find following information about dotnet version and commands executed:

`OS : Mac OS X 10.12.5`
`Dotnet version: 1.0.4`

NuGet.Config file
[code]

[code]

I tried with both SourceCredentials and apikeys, I tried using the

[2017-06-22 12:26] #5469 closed, assigned to nobody

[2017-06-22 13:10] Hanylylyya97 opened #5476 "Meihongonline.com"
Please read the following information before posting the issue.
https://github.com/NuGet/Home/issues/5475
## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you

[2017-06-22 13:25] bjartekh commented on #4292
I have experienced the exact same thing, and I also tested this with a 3rdparty package (not just locally development).

What we are trying to achieve is the following:

Retrieved from the Microsoft docs:
https://docs.microsoft.com/en-us/nuget/consume-packages/reinstalling-and-updating-packages

Products used:
Nuget Package manager 4.2.0
NuGet Version: 4.1.0.2450
Microsoft Visual Studio Enterprise

[2017-06-22 19:06] jbuedel commented on #1329
This has started happening for me as well. Pressing enter seems to have no effect (Shift + Enter does work though).  I am running Visual Studio Enterprise 2017 Version 15.2 (26430.14).

[2017-06-22 22:08] #5476 closed

[2017-06-23 00:00] jainaashish commented on #4917
NuGet restore perf has been improved since this issue was logged. And now there are couple of other issues with Xamarin and Roslyn to improve customer experience.

[2017-06-23 00:00] #4917 closed, assigned to jainaashish

[2017-06-23 00:52] mikeharder opened #5477 "nuget.org not added to %AppData%\NuGet\nuget.config if file already contains a packageSource"
I'm seeing some scenarios where nuget.org is not added to `%AppData%\NuGet\nuget.config` if it already contains a packageSource.  Here's an example:

1. Manually create `%AppData%\NuGet\nuget.config` with the following content:

[code]

2. Install Visual Studio 15.3, but do not open it after installing.
3. Install .NET Core CLI 2.0.0-preview2.  This adds `CliFallbackFolder` as a package source:

[

[2017-06-23 04:05] gertjvr commented on #4989
After some experimentation and got it to work.

Placed the below snippet into my csproj file where I had both references of `StackExchange.Redis` and `StackExchange.Redis.StrongName`  nuget dependencies.

[code]

[2017-06-23 04:37] JoseFMP commented on #4989
@gertjvr sounds great! I will give it a try over here

[2017-06-23 06:12] natidea opened #5478 "[15.3 feature] RestoreAdditionalSources, if set, will prevent searching normal sources from config"
## Repro steps

1. Installing VS on a clean VM and install the dotnet CLI (2.0.0-preview3-006546). This leaves behind an empty folder under C:\Program Files\dotnet\sdk\NuGetFallbackFolder because of https://github.com/dotnet/cli/issues/6989

2. In VS create a new netcoreapp2.0 project (restores successfully), and change the target framework to netcoreapp1.1

**Expected**
Restores successfully

**A

[2017-06-23 08:18] ReinoutW commented on #4194
When pulling the latest source code for NuGet.Client, I get this error when following the readme and try to build.

Steps to build NuGet client tools

1. Clone [NuGet/NuGet.Client](https://github.com/nuget/nuget.client) repository
`git clone https://github.com/NuGet/NuGet.Client`
2. Start PowerShell. CD into the cloned repository directory.
3. Run configuration script
`.\configure.ps1`
4. Build wi

[2017-06-23 08:26] ReinoutW opened #5479 "InstallPackageAsync not using DependencyBehavior"
When installing a package through the NuGet api, the DependencyBehavior doesn't seem to be applied on dependent packages.

On our private NuGet repository, we have a component with the following version numbers:

- 3.0.0-a0637958946
- 3.0.0-a0638256777
- 3.0.0-a0638871234

Another component has a dependency on this component, but always installs pre-release version 3.0.0-a0637958946 instead of usi

[2017-06-23 10:37] afficionaddo opened #5480 "Unhandled Exception: System.NotSupportedException: The requested security protocol is not supported."
Please read the following information before posting the issue.

My project is not building.
Whenever I build it says "Nuget command Line has stopped working".

The errors shown in the console are:
* Error1	Unhandled Exception: System.NotSupportedException: The requested security protocol is not supported.	Coach.Business.Components

* Error2	   at System.Net.ServicePointManager.set_SecurityProtoco

[2017-06-23 11:13] ja0b opened #5481 "Install-Package : An error occurred while applying transformation to 'Web.config' in project 'x' No attribute 'key' exists for the Match Locator"
## Details about Problem
Using web.config.install.xdt I'm trying to add a new appSetting to the web.config.

What I'm using is this:
[code]

I'm hosting this package on myget and the weird this is that if I download the nupkg and install it using

`Install-Package C:\………\package.nupkg`

It works! and applies all the desired transforms. No errors, all good.

But if I do

`Install-Package package`

[2017-06-23 11:35] ja0b opened #5482 "Creation of nuget package using the csproj creates a content file instead of content folder"
## Details about Problem
Using .Net 4.6.1, in a web project I tried to create a nuget package of it using the csproj but the package ends up with a file called content instead of a folder with the files I want to include in there.

This warning gets thrown for each of the files I try to add

`WARNING: File 'C:\....\Web.config.install.xdt' is not added because the package already contains file 'con

[2017-06-23 13:06] kzu commented on #5466
Fixed by https://github.com/NuGet/NuGet.Build.Packaging/pull/141

[2017-06-23 13:06] #5466 closed, assigned to kzu

[2017-06-23 13:09] kzu commented on #5465
Cool!

[2017-06-23 13:09] #5465 closed, assigned to kzu

[2017-06-23 13:15] kzu commented on #5383
Ok, this has been confirmed to be an issue in current 15.3 preview. It will be fixed in Preview 4.

Will keep it open until we can resolve it fixed when that build is public.

Thanks for reporting @Andne !

[2017-06-23 14:47] derigel23 commented on #5099
@rohit21agrawal any comments? you've added that tag in commit #9b899f5542d51507520eb358bdc1e5c325b57576 without bumping nuspec scheme version. Of course previous versions of clients are not compatible with it.
Now, I can't install this https://www.nuget.org/packages/protobuf-net/2.2.1 package

[2017-06-23 16:45] philippe-lavoie opened #5483 "Unable to satisfy the same version...."
VS 2017 Update 3 preview

I'm getting similar errors all the time inside Visual Studio. There is obviously a problem somewhere, to the point where nuget seems to be unusable...

[code]

In the first case, it's says it's conflicting because everyone has the same >= 1.0.0.1 dependency
In the second case, >= 1.0.2.1

I'm no expert, but I think it's a bug when nuget reports that there is a conflict be

[2017-06-23 17:15] spotlesscoder opened #5484 "How to always get the newest prerelease version of NuGet package without deleting the cache"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

VS UI

NuGet version (x.x.x.xxx):

3.4.4.1321

dotnet.exe --version (if appropriate):

1.0.0

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Windows 7 x64 (6.1.7601)

Worked before? If so, with which NuGet version:

No

## Detailed repro steps so we can see the same problem

1. I have a packa

[2017-06-23 21:46] RickStrahl commented on #4587
Can somebody comment here on what is supposed to go into NuGet. If NuGet has a `<summary>` tag (as it does currently unless that's also getting removed) then shouldn't the .csproj NuGet Target support it  as well?

[2017-06-23 21:58] kakins opened #5485 "CLI nuget pack does not update the package version number"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet.exe

NuGet version (x.x.x.xxx):
4.1.0.2450

VS version (if appropriate):
2015

OS version (i.e. win10 v1607 (14393.321)):
Win7

## Detailed repro steps so we can see the same problem

1. I've tried changing both AssemblyVersion and AssemblyInformationalVersion in my project's AssemblyInfo

[2017-06-23 22:02] kakins commented on #5485
I changed my configuration from 'release' to 'debug', built, and the version changed in the .nupkg file.  I realized also I can set the configuration in calling nuget pack.  Thanks.

[2017-06-23 22:02] #5485 closed, assigned to nobody

[2017-06-24 16:44] l6gslayer commented on #4234
I ran into this same problem and was able to fix it by making sure that the `<authors></authors>` section was defined in my .csproj file. Afterwards I had to update the token in the .nuspec file to $authors. It looks like the generated file uses $author without the "s" which caused the problem in my case.

[2017-06-24 18:50] dtivel opened #5486 "Package Manager UI: race condition between loading and displaying results"
There is a race condition between initial search results being available and the Package Manager UI displaying them.

This race condition is more likely to occur if prompted for credentials for an authenticated feed because the credentials prompt can delay initial search results long enough to line up with the UI displaying results.

**Repro steps:**
1.  Create a NuGet feed that requires basic aut

[2017-06-26 09:43] AlaricDelany opened #5487 "ExcludeVersion Setting for nuget.config"
Hallo out there,
I have a Problem regarding to the way Pathes are Build by nuget.
In my current Project we use Fake Scripts for Building, Testing and Package.
My Problem is, the Version Number in the Path, because we need to Reference the (not working #1521) Solution Level Packages like Fake itself from the Fake (F#) Scripts, this looked like this:
`#r @"packages\FAKE\tools\FakeLib.dll"`

But with

[2017-06-26 10:38] ewoutkramer commented on #4989
What would that entail?  Sorry, I am not very familiar with the process!

[2017-06-26 10:51] TAGC commented on #4719
Is this ever actually going to get fixed or even looked at? It's getting pretty annoying to have to manually browse to every single one of my classes defined in a dependency package when debugging.

[2017-06-26 11:32] spotlesscoder commented on #4513
@anangaur: Maybe this would be a solution for my problem #5484

[2017-06-26 12:07] fubar-coder commented on #4989
@gertjvr Just to clarify: `ChangeAliasesOfStrongNameAssemblies` is just a random target name? Does it need to be called/targeted somewhere?

[2017-06-26 12:14] gertjvr commented on #4989
@fubar-coder the target name is just a random name same goes for the alias signed, the snippet above was all I added to my csproj file.

[code]

[2017-06-26 15:00] bradphelan commented on #1909
I tried that. It still took 17 minutes to update around 60 projects from one version of a nuget package to another

[2017-06-26 15:41] lamontadams commented on #4615
Still exists running against a TeamCity 2017.1.1 Nuget feed. I am prompted for credentials every time Visual Studio restarts, even though I check "Remember my password" every time.

[2017-06-26 18:23] rrelyea opened #5488 "Provide migration tool to move from packages.config project to packagereference"
Some users would prefer to use VS2017's support for PackageReference, instead of the default Packages.config.

We've provided a way, in tools/options/nuget -- to choose what to use in a new project.
However, many people would like to migrate existing projects as well.

This issue is tracking our future work item to make that migration easier.

Note -- not all packages are compatible with PackageRe

[2017-06-26 19:11] livarcocc opened #5489 "Cannot restore pre-release dependecies of the package"
_From @AlexByte on June 26, 2017 11:42_

## Steps to reproduce

[code]

## Expected  behavior

## Actual behavior

Pre-release [dependencies](https://www.myget.org/feed/imagesharp/package/nuget/ImageSharp/1.0.0-alpha9-00152) are not installing
[code]

## Environment data
`dotnet --info` output:

[code]

The original issue https://github.com/JimBobSquarePants/ImageSharp/issues/256

_Copied from ori

[2017-06-26 19:50] livarcocc opened #5490 "dotnet restore at solution-level doesn't follow ProjectReference with ReferenceOutputAssembly of false leading to random build failures"
_From @jhudsoncedaron on June 26, 2017 19:34_

## Steps to reproduce

The attached .zip contains a solution that reproduces the problem intermittently.

## Expected  behavior

dotnet restore on B finishes before C resulting in a good build of C

## Actual behavior

dotnet restore on C sometimes finishes too soon causing nonsense build errors.

## Environment data

Bug is partially mitigated by NTF

[2017-06-26 19:54] skofman1 opened #5491 "Problems downloading big packages?"
@matthid commented on [Sat Jun 24 2017](https://github.com/NuGet/NuGetGallery/issues/4277)

Please see https://github.com/Microsoft/visualfsharp/issues/3253
The package I just had problems with was: `StrawberryPerl64.5.22.2.1`
Basically it seems like the NuGet server sends 504 responses on this package, or even stops responding from time to time...

---

@cartermp commented on [Sat Jun 24 2017](ht

[2017-06-26 20:15] rrelyea commented on #5420
Please investigate fix.

[2017-06-26 20:21] anangaur commented on #5420
@jonwchu can provide the icons if required.

[2017-06-26 20:23] rrelyea commented on #4895
In VS 2017 15.3 Preview 3 and later.

[2017-06-26 20:23] #4895 closed, assigned to nobody

[2017-06-26 20:29] rrelyea commented on #4817
options?

[2017-06-26 20:35] rrelyea commented on #4892
didn't do unity as part of 4.3, but otherwise, done.

[2017-06-26 20:35] #4892 closed, assigned to nobody

[2017-06-26 20:41] anangaur commented on #4892
@rrelyea Is there an issue for unity that can be linked here?

[2017-06-26 20:54] sam-wheat commented on #5441
@rohit21agrawal Ok... I created new dummy visual studio .sln and when I install the package it works fine.  However when I try to install the package to any project in my work .sln, the references are not created.  I have tried clearing the nuget cache and completely uninstalling the package.  I've tried on two different physical machines and it does not work.  What else can I try?  I can repeat t

[2017-06-26 21:11] dbaechtel opened #5492 "Microsoft.Bot.Builder Nuget Package does not Install"
In VS 2017 Community version, .Net Standard C# Class Library project, Microsoft.Bot.Builder Nuget Package does not Install. target .Net Framework 4.0 gets the error messages below.

What do I need to do to install Microsoft.Bot.Builder package?

Restoring packages for c:\users\dbaec\documents\visual studio 2017\Projects\Bot8\Bot8\Bot8.csproj...
Detected package downgrade: Newtonsoft.Json from 9.0.

[2017-06-26 21:30] zhili1208 commented on #5489
if you use "--source", nuget will only search from specified source.

So please specify nuget.org as a source.

[code]

[2017-06-26 21:30] #5489 closed, assigned to nobody

[2017-06-26 21:38] anangaur opened #5493 "SemVer 2.0.0 warnings"
**Problem**
SemVer 2.0.0 packages will not be visible from legacy clients (i.e clients before NuGet 4.3 release). In order to make sure that publishers are aware that they are about to publish a SemVer 2 package, they should be warned appropriately so that this is a conscious decision and not an inadvertent one.

Read more on [Identifying SemVer v2.0.0 Packages](https://github.com/NuGet/Home/wiki/

[2017-06-26 21:41] mishra14 commented on #4719
Tagging @rohit21agrawal  for visibility

[2017-06-26 22:00] zhili1208 commented on #5492
some dependency packages of this package only support netframework, it doesn't work for netstandard class library,

you can follow instruction here: https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-quickstart by using bot application template.

Or you can install this package to a net46 class library

[2017-06-26 22:54] anangaur opened #5494 "Show SemVer 2 build metadata on Package details page on VS"
For VS 2017 and VS 2015, we should show the SemVer 2 build metadata in the version string on Package details page:
Related issue to warn during pack and push is here: https://github.com/NuGet/Home/issues/5493
![image](https://user-images.githubusercontent.com/14800916/27563634-ae564702-5a87-11e7-907d-cbd8c304f9c7.png)

[2017-06-26 23:04] JarahSi opened #5495 "Slow sources cause update to be slower"
Steps to reproduce:

1. git clone https://github.com/NuGet/NuGetGallery.git
1. open NuGetGallery.sln
1. open PMC
1. Install-Package WebGrease -Version 1.6.0

Expected: Update result should appear quickly
Actual: Update result takes 20+ minutes to appear

VS 15.3.0 Preview 3.0 [26614.0.d15rel]

Nuget.exe  4.3.0.4146

Attempted similar steps with nuget.exe update

/cc @emgarten @jainaashish

[2017-06-26 23:32] zhili1208 commented on #5491
cloned and built visualfsharp, but can't repro this issue, restoring StrawberryPerl64 took some time but didn't get any error

[2017-06-26 23:50] zhili1208 opened #5496 "Targetframework incompatibility error message doesn't show which package is incompatible"
NuGet Version: 4.3.0.4168

Running restore with 2 concurrent jobs.
Reading project file c:\users\lzhi\source\repos\ClassLibrary5\ClassLibrary5\ClassLibrary5.csproj.
The restore inputs for 'ClassLibrary5' have changed. Continuing restore.
Restoring packages for c:\users\lzhi\source\repos\ClassLibrary5\ClassLibrary5\ClassLibrary5.csproj...
Restoring packages for .NETStandard,Version=v1.4...
Resolvin

[2017-06-26 23:51] zhili1208 commented on #5495
it took very long time to gather dependency information for package 'WebGrease.1.6.0'.

[2017-06-27 00:54] rohit21agrawal commented on #5379
ideally the UWP targets should add all project outputs to the BuiltProjectGroupOutputGroup so that it gets picked up by pack automatically.

@onovotny let me know if you need a workaround for this.

[2017-06-27 01:23] #5486 closed, assigned to nobody

[2017-06-27 03:28] leaderanalytics commented on #5441
@rohit21agrawal
I found it - here are steps to reproduce:

Create a new class library project.  Make sure Target Framework is .net 4.7
Create a lib folder in same folder as .csproj.
Copy any .dll to lib folder i.e. ThirdParty.dll
Add a reference to the .dll*
Build
run C:\"Program Files (x86)"\NuGet\NuGet.exe pack MyPkg.csproj -Outputdirectory bin\release -properties Configuration=Release

Create a

[2017-06-27 07:00] xavierdecoster commented on #5493
@anangaur we should use `SemVer 2.0.0` instead of `SemVer2` in the title/messages.

[2017-06-27 11:40] rlundy commented on #1627
I came here from #3234 hoping something is being done about the "AggregateException" message I get constantly.

I wonder if part of the problem is a lack of a clear scenario that doesn't have a good workaround.

So here's one: I have the standard nuget.org package source as well as several package sources from my company, which are only available when I'm connected to our VPN.

The fact that NuGet

[2017-06-27 12:11] MatteoSp commented on #491
same here. VS2017, randomly.

[2017-06-27 13:56] dtivel opened #5497 "Flaky unit tests"
Commit https://github.com/NuGet/NuGet.Client/commit/f8467d4e92f67d4c9c1cf764c8b76a0b987692fa (PR https://github.com/NuGet/NuGet.Client/pull/1512) introduced occasional failures in NuGet.PackageManagement.UI.Test.

[code]

[2017-06-27 15:10] davidfowl commented on #5239
I just installed 15.3 preview 3 and it still does a restore on project open:
[code]

[2017-06-27 16:11] #5497 closed, assigned to dtivel

[2017-06-27 17:03] mishra14 commented on #5492
@emgarten it seems that the warning experiences may have degraded here.

[2017-06-27 17:13] zhili1208 commented on #5495
looks like a dupe of https://github.com/NuGet/Home/issues/1909

[2017-06-27 17:33] rrelyea commented on #5412
as ankit mentioned, by design. we don't report any messages for netcore projects in output log, other than to say it failed. and then we show the errors/warning dialog.

[2017-06-27 17:33] #5412 closed, assigned to mishra14

[2017-06-27 17:33] rrelyea commented on #5407
updated VS on the e2e test machine, and all is golden. learn from this. newer is always better.

[2017-06-27 17:33] #5407 closed, assigned to mishra14

[2017-06-27 17:39] rrelyea commented on #5242
recommendation is to use IVSFramworkParser or similar via NuGet's extension APIs via MEF.
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio/Extensibility/IVsFrameworkParser.cs

We do not support VS components calling their own versions of our NuGet assemblies.

[2017-06-27 17:40] rrelyea commented on #5037
can consider post 4.3

[2017-06-27 17:42] rrelyea commented on #4699
blocked by lack of 4.4.*-* support in versions right now.

[2017-06-27 17:43] rrelyea commented on #4896
dupe of #4336

[2017-06-27 17:43] #4896 closed, assigned to nobody

[2017-06-27 18:16] rainersigwald opened #5498 "Libraries from ExcludeAssets="Compile" package still get copied to the output"
_From @borgdylan on June 25, 2017 20:5_

In a project where I only used the targets/props from a package I used the ```ExcludeAssets="Compile"``` metadata on the package reference. This correctly excluded those libraries from the compilation closure yet those assemblies still got copied to the output folder.

Is this an MSBuild or a NuGet issue? Please direct me in case I need to file this somewhe

[2017-06-27 18:17] spotlesscoder commented on #912
Please implement this

[2017-06-27 18:17] rainersigwald commented on #5498
NuGet is the right place for this since NuGet tasks and targets control the items produced to describe references.

Related: https://github.com/NuGet/Home/issues/5369#issuecomment-307440570

[2017-06-27 18:19] spotlesscoder commented on #4099
@danielgreen: Yes, this is the default behaviour but I want to be able to include prerelease versions, too

[2017-06-27 18:37] spotlesscoder opened #5499 "Pressing CTRL+C in Package Manager Console closes Visual Studio"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

Package Manager Console
Package Manager

NuGet version (x.x.x.xxx):

4.1.0.2450

dotnet.exe --version (if appropriate):

1.0.0

VS version (if appropriate):

2015 Professional Update 3 (14.0.25424.00 Update 3)
- Package Manager Console Host Version 4.0.0.2323

2017 Professional (15.0.0+26228.12)
- Package Manager Conso

[2017-06-27 18:49] natidea opened #5500 "Writing Version Information to Assets File can lead to Continuous Restore"
## Repro Steps

1. Clone https://github.com/SteveSanderson/Blazor.git and checkout commit [e00a389](https://github.com/SteveSanderson/Blazor/commit/e00a389967e9f6b31022e5a0489daacbc5c7e670)

2. Open Blazor.sln in Visual Studio

**Expected**
Solution auto restores once

**Actual**
Solution continuously restores

**Root Cause**
I've tracked the continuous restore here to timestamps in version suffix

[2017-06-27 20:42] bording commented on #4853
Is this still not working in a publicly released version? I'm using 15.3 preview 3.0 now, and I'm still not seeing assembly references being added to the packages I'm creating.

[2017-06-27 20:52] rohit21agrawal commented on #4853
@bording what are you using to pack (msbuild or dotnet)? can you tell me the file version of ```"C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Sdks\NuGet.Build.Tasks.Pack\CoreCLR\NuGet.Build.Tasks.Pack.dll"```

[2017-06-27 20:58] clairernovotny commented on #4853
@rohit21agrawal is it in there with VS or in the version that's part of the Preview2+ .NET Core SDK tools? I saw it working once I installed the .NET Core 2 Preview 2 build because it picked up the version from that SDK. The one that's alongside VS is 1.0.4 AFAIK.

[2017-06-27 21:00] rohit21agrawal commented on #4853
as of now it ships as part of both VS and .NET Core.

[2017-06-27 21:13] bording commented on #4853
@rohit21agrawal I've tried packing with Visual Studio, and also using `msbuild.exe /t:pack` from the command line. I can't currently use `dotnet pack` on this project because it uses GitVersion, which doesn't yet have build targets compatible with .NET Core.

The file version of `"C:\Program Files (x86)\Microsoft Visual Studio\Preview\Professional\MSBuild\Sdks\NuGet.Build.Tasks.Pack\Desktop\NuGet.

[2017-06-27 21:55] rrelyea commented on #4290
Doesn't look on track for 4.3 -- still haven't gotten right fix.

[2017-06-27 21:57] rrelyea commented on #5325
This is not quite "4.3" work. But very soon thereafter targeting VS2015. Likely "3.6.0"

[2017-06-27 22:38] #5470 closed, assigned to mishra14

[2017-06-27 22:44] rohit21agrawal commented on #4853
@bording that version definitely has the fix. can you provide me a sample of the project that repros this for you?

[2017-06-27 23:02] bording commented on #4853
@rohit21agrawal I've been seeing this while working on https://github.com/Particular/NServiceBus, and the develop branch now has netcoreapp2.0 targets.

As an example, [this project file](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.AcceptanceTests/NServiceBus.AcceptanceTests.csproj#L14) has framework assembly references that are not included by default in the new project

[2017-06-27 23:15] natidea opened #5501 "NoWarn does not flow transitively through P2P references"
## Repro

1. Create two .NETStandard projects and create a P2P reference: ProjA -> ProjB

2. Add the following package reference to **ProjB**:
[code]

3. Observe two NU1603 warnings, and corresponding warnings in the Dependencies Node:

![image](https://user-images.githubusercontent.com/7732033/27611923-0e8303b0-5b49-11e7-9606-f4406fbf8c4f.png)

4. Suppress the warning in **ProjB** either with `No

[2017-06-27 23:25] rohit21agrawal commented on #4853
I just tried packing the project file you provided with the version of msbuild that shipped with 15.3 Preview 3 and i got the following assembly references in my output nuspec:

I did have to remove netcoreapp2.0 as target framework because restore wasn't able to resolve some package required for that particular TFM.

[code]

[2017-06-27 23:26] natidea commented on #5501
Perhaps the real problem here is that the original NU1603 warning should not flow transitively through the P2P ref in the first place, because it ends up looking like a duplicate:

![image](https://user-images.githubusercontent.com/7732033/27614250-4837235a-5b55-11e7-89e9-773da75fc109.png)

[2017-06-27 23:28] bording commented on #4853
@rohit21agrawal I'm definitely not seeing that when I build it. What package could you not resolve for netcoreapp2.0? They should all be publicly available.

[2017-06-27 23:31] bording commented on #4853
When I pack that project here is the nuspec that gets generated in the obj folder:
[code]

[2017-06-27 23:31] clairernovotny commented on #4853
@bording silly question, but how are you invoking your build when you're trying this? Are you sure you're using the msbuild from the VS Preview directory and not the main VS 2017 stable directory? (just verifying) :)

[2017-06-27 23:35] bording commented on #4853
@onovotny I'm running it from a VM that has only ever had the preview VS installed, so there isn't another MSBuild to conflict.

To double check, here's the output from `which msbuild`:
[code]

[2017-06-27 23:46] bording commented on #4853
I just double checked to make sure I'm running the latest Preview release, and the Installer thinks I'm updated. Here's what I'm seeing in the About box:
![image](https://user-images.githubusercontent.com/753669/27614671-243bde70-5b71-11e7-97f2-c4a9917dfb90.png)

I've also have 15.3 Preview 3 installed on our CI build agent, and it is not producing packages with framework assembly references eithe

[2017-06-27 23:48] bording commented on #4853
@rohit21agrawal I also just tried removing the netcoreapp2.0 target from the AcceptanceTesting project to see if that was somehow causing the problem, but it just produces the following:
[code]

[2017-06-27 23:57] nkolev92 commented on #5239
@davidfowl There are still some inconsistencies among the restore behavior between the commandline clients and VS for some project types.
Tracked here:
https://github.com/NuGet/Home/issues/5444
&
https://github.com/NuGet/Home/issues/5452

Which project type do you have?
Which client does the build.cmd restore call? What version are the exact versions of both the command line client and VS?

The SD

[2017-06-27 23:57] #4457 closed, assigned to jainaashish

[2017-06-27 23:58] rohit21agrawal commented on #4853
can you do a diag build+pack and attach the log file?

[2017-06-28 00:03] bording commented on #4853
@rohit21agrawal What would be the specific command you'd like me to invoke? Just enable diagnostics level logging?

[2017-06-28 00:05] rrelyea commented on #4790
Thanks for the votes. Won't make 4.3 (VS 15.3) -- but will consider in future.

[2017-06-28 00:09] rohit21agrawal commented on #4853
Msbuild /t:pack /v:diag

[2017-06-28 00:22] bording commented on #4853
@rohit21agrawal Here you go:
[log.zip](https://github.com/NuGet/Home/files/1107189/log.zip)

[2017-06-28 00:30] bording opened #5502 "Pack metadata doesn't work if project is multi-targeted"
The [MSBuild pack targets documentation ](https://docs.microsoft.com/en-us/nuget/schema/msbuild-targets) indicates that `<Pack>` and `<PackagePath>` metadata can be added to other build action items, such as Compile. This appears to work fine as long as the project has a single target framework, but it stops working when the project is multi-targeted.

Given the following project file:
[code]

Her

[2017-06-28 00:41] rrelyea commented on #5390
That developer community item says this is addressed in 15.3 Preview 3. Please confirm.

[2017-06-28 00:41] #5390 closed, assigned to rohit21agrawal

[2017-06-28 00:49] rrelyea commented on #4307
Out of time for 4.3

[2017-06-28 01:20] rohit21agrawal commented on #4853
``` Using "PackTask" task from assembly "C:\Program Files\dotnet\sdk\2.0.0-preview1-005977\Sdks\NuGet.Build.Tasks.Pack\buildCrossTargeting\..\Desktop\NuGet.Build.Tasks.Pack.dll". ```

This is what i see in the log file. So the msbuild you are using is resolving the dotnet core sdk to 2.0.0-preview1-005977 which does not have the fix.

[2017-06-28 01:25] bording commented on #4853
@rohit21agrawal Is it supposed to do that? Is there a way for me to prevent that from happening?

[2017-06-28 01:26] rohit21agrawal commented on #4853
@bording I actually don't know that for sure. Tagging @nguerrera since he might be the best person to answer this.

[2017-06-28 01:29] rohit21agrawal commented on #4853
but for now, you can always install the latest CLI from https://github.com/dotnet/cli/tree/release/2.0.0-preview2 and that should fix your problem.

[2017-06-28 01:34] bording commented on #4853
I had been wanting to wait for the official preview 2 bits before installing them, but if that's the only way to work around the issue, I guess I should give them a try now.

[2017-06-28 01:34] clairernovotny commented on #4853
The way to stop it is to use a global.json and pin the SDK version to 1.0.4. That's the one VS 2017 ships "in box".

[2017-06-28 01:35] bording commented on #4853
@onovotny Will that still work if I'm actually targeting netcoreapp2.0, though?

[2017-06-28 01:36] clairernovotny commented on #4853
@bording nope. If you need netcoreapp2.0, then you'll need the latest SDK from the preview2 branch then. FWIW, I have that working on AppVeyor w/o issues:

https://github.com/paulcbetts/refit/blob/master/appveyor.yml#L7-L9

[2017-06-28 01:39] bording commented on #4853
Sounds like I'll be grabbing some preview2 bits then!

It does seem odd to me that MSBuild would ship with a version of the PackTask assembly that won't actually be used though, even when targeting just net452.

[2017-06-28 03:17] mishra14 opened #5503 "No build warnings generated for netstandard1.0 project referencing a net461 project"
reported by @natidea

Original text -
`I’m observing that netstandard1.0 projects that reference net461 do not generate any compatibility warnings. Similarly, netstandard1.6 referencing net45 projects does not generate any warnings. (Not sure which of those combinations is supposed to be invalid looking at https://docs.microsoft.com/en-us/dotnet/standard/net-standard )`

Seems to repro with VS Pre

[2017-06-28 03:17] mishra14 commented on #5503
Investigating.

[2017-06-28 03:32] mishra14 commented on #5489
@AlexByte:
could you please try -

`dotnet add package ImageSharp --version 1.0.0-alpha9-00148 --source https://www.myget.org/F/imagesharp/api/v3/index.json;https://api.nuget.org/v3/index.json`

If you are using powershell, then please add a ` before the ; between the sources.

I think the problem may be that the source override is causing the problem

[2017-06-28 04:12] mishra14 commented on #5501
I did some preliminary analysis. It seems that on restore, Newtonsoft.Json does flow up to ProjA as we take the flattened graph while restoring ProjA and that contains all the dependencies from ProjB.

Will discuss this a bit more internally.

[2017-06-28 06:56] MiaomiaoHuangfu commented on #5478
Install VS15.3 preview 3(d15Prerel.26627.3003) + CLI/SDK 2.0 preview 3 (2.0.0-preview3-006607);

Create a new .NET Core project (C# or VB );
Right click the project and click Properties;
- In Application tab:
- If changing the Target framework from ".NET Core 2.0" to ".NET Core 1.1", restore failed with an error in error list window "NU1103: Unable to find a stable package Microsoft.NETCore.App wi

[2017-06-28 07:31] dasMulli commented on #4853
Another workaround would be to use the `NuGet.Build.Tasks.Pack` nuget package that was published to nuget.org yesterday:
[code]

VS' MSBuild now carries an [SDK resolver](https://github.com/dotnet/cli/issues/6112) that uses the installed CLI. AFAIK mono's msbuild will do the same.

[2017-06-28 15:34] atanasa commented on #4781
@dsplaisted I tried the `CollectPackageReferences` target as a before-dependency but it works more like a post-restore rather than a pre-restore target.
What I do to test it in VS is use the context menu of the solution to do "Restore NuGet Packages". The log from the Package Manager in VS Output Window shows that it is restoring the packages and that it finished. A few seconds later, my target co

[2017-06-28 16:21] mhutch commented on #5369
So it looks the workaround doesn't work for transitive package dependencies, since there's no PackageReference for the dependency.

@emgarten I'm not sure what we should be doing in this case. Can you suggest any solutions?

[2017-06-28 17:33] livarcocc opened #5504 "Failed to retrieve information from source, if source is empty and package was not found"
_From @daxian-dbw on June 28, 2017 5:49_

## Steps to reproduce
`dotnet new console`

## Expected  behavior
No error and successfully restored

## Actual behavior
[code]

## Environment data
`dotnet --info` output:
[code]

_Copied from original issue: dotnet/cli#7013_

[2017-06-28 17:33] livarcocc commented on #5504
_From @JonathanLoscalzo on June 28, 2017 12:47_

this happens for all templates too :(

[2017-06-28 17:33] livarcocc commented on #5504
_From @JonathanLoscalzo on June 28, 2017 13:19_

@daxian-dbw maybe [this issue](https://github.com/dotnet/cli/issues/3330) solve the problem?

Create a nuget.config local and add =>
`
<add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
`
it solve my problem... or help for others (like me)

[2017-06-28 17:33] livarcocc commented on #5504
@JonathanLoscalzo, look under %appdata%/NuGet/NuGet.Config and remove any references to CLIFallbackFolder from it. This is an entry that we no longer need in preview3. If you do that, you will get the real error, which is that we can't find the M.NC.App package. The reason for that is that the runtime between the CLI and asp.net are out of sync and when that happens, you need the feed above.

Stil

[2017-06-28 17:39] rohit21agrawal commented on #5390
yes, looks like it works in preview 3.

[2017-06-28 18:14] rohit21agrawal commented on #4439
@anangaur @karann-msft i don't see this repro-ing, if it still happens for you, give me the visual studio build number and dpi settings of your laptop. would be even better if you can bring it over to my desk.

[2017-06-28 18:17] #4439 closed, assigned to rohit21agrawal

[2017-06-28 18:32] martincostello commented on #5386
@emgarten This issue appears to have resolved itself with `2.0.0-preview2-006497`.

[2017-06-28 18:38] #5386 closed, assigned to nobody

[2017-06-28 18:40] mhutch commented on #5103
This does not work for transitive package references :(

[2017-06-28 18:43] anangaur commented on #4439
I see this fixed on 15.3 preview 2:
![image](https://user-images.githubusercontent.com/14800916/27654381-ed548d36-5bf6-11e7-90a8-eebce7349b15.png)

![image](https://user-images.githubusercontent.com/14800916/27654357-daddcb18-5bf6-11e7-97e2-b4d870bf8d69.png)

[2017-06-28 18:52] natidea commented on #5478
Note: when I changed to netcoreapp1.0, it also failed to restore. So I assume it worked for Miaomiao because she had the 1.0 bits already restored somewhere.

As with the empty NuGetFallbackFolder case, deleting `C:\Program Files\dotnet\sdk\NuGetFallbackFolder` allows the netcoreapp1.1 project to restore successfully.

[2017-06-28 21:06] mishra14 commented on #5478
@zhili1208 who is on hotseat.

[2017-06-28 22:27] mishra14 commented on #5503
Update:
Restore does throw an error if the net 461 project contains a package reference and that is the expected behavior.

We feel that the build system/sdk should fail when a netstandard1.0 project references a net461 project.

I tried a net45 project referencing a net461 project and there is a warning. I dont think NuGet is throwing that warning.

[2017-06-28 22:42] #5503 closed, assigned to mishra14

[2017-06-28 22:52] mishra14 opened #5505 "NuGet project cache data not updated on package uninstall"
## Details about Problem
I ran into this while looking into https://github.com/NuGet/Home/issues/5503

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS2017

NuGet version (x.x.x.xxx): 4.3.0.4199

VS version (if appropriate): d15prerel/26627

## Detailed repro steps so we can see the same problem

1. File new project, ProjA, Net standard class library. Change the fr

[2017-06-28 23:12] frontegi commented on #5348
Same problem here, really annoying ! Thanks Alpaix for future bugfix and workaround.
However the workaround doesn't work everytime.
My workaround has been to downgrade the Package **Microsoft.EntityFrameworkCore.Tools** from version **1.1.1** to ver **1.1.0**

[2017-06-28 23:12] mishra14 commented on #5505
Seems that the actual problem is that the ProjectStyle is Set to unknown for a new legacy csproj project.

@emgarten worked on ProjectStyle.

[2017-06-28 23:41] rrelyea commented on #4532
Another internal customer just hit this error with "ProjectReferencesCreatingPackages" -- when they had vs 2017 15.0 on their CI machine. Updating the CI machine to VS 2017 15.2 fixed it for them.

[2017-06-29 01:11] mishra14 commented on #5502
tagging @rohit21agrawal

[2017-06-29 03:49] bording commented on #5502
Here's an example of how I've been working around this problem for now: https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.AcceptanceTests/NServiceBus.AcceptanceTests.csproj#L34

[2017-06-29 05:04] #5451 closed, assigned to nkolev92

[2017-06-29 05:04] #5061 closed, assigned to nkolev92

[2017-06-29 05:32] nkolev92 commented on #5453
Resolved by @Eilon in https://github.com/NuGet/NuGet.Client/pull/1502

[2017-06-29 05:32] #5453 closed, assigned to nobody

[2017-06-29 08:04] v-luzh commented on #4503
Fixed on D15PreRel 26626.02+NuGut Client 4.3.0.4226. Close this bug now, thanks.

[2017-06-29 08:04] #4503 closed, assigned to nobody

[2017-06-29 08:06] v-luzh commented on #4607
Fixed on D15PreRel 26626.02+NuGut Client 4.3.0.4226. Close this bug now, thanks.

[2017-06-29 08:06] #4607 closed, assigned to nobody

[2017-06-29 08:12] AndyTian-Devops opened #5506 "[Test Failure]A Warning dialog pop up when creating project on VS2015"
**NuGet Version: 4.3.0-dev-2680**
**VS Version**: VS2015 MU3.5
**OS Version:** Windows 10 th2_Release

**Repro Steps:**
1. Create any C# project(Web application) on Visual Studio 2015.

**Expected Result:**
 The project can be created successfully.

**Actual Result:**
A Warning dialog pop up when creating project

---------------------------
Microsoft Visual Studio
---------------------------
The

[2017-06-29 15:00] mateuszkozlik opened #5507 "Problem using NuGetizer3000 | Nugget CLI Area:NuGetizer"
NuGet product used (NuGet.exe | NuGetizer 3000 for VS2017)
NuGet version (4.1.0 | 0.1.324)
VS version: 2017 Enterpise

I'm trying to create NuGet package using CLI and NuGetizer3000 from PCL project. But when I'm trying to add it (the package) to iOS or Droid project, following errors occur:

Same problem with iOS but instead Mono there is Xamarin.iOS

The PCL I'm doing it from targets Xamain.iOS,

[2017-06-29 15:26] spotlesscoder commented on #2501
Pleas fix this

[2017-06-29 16:15] alpaix commented on #5506
@jainaashish Need to `ifdef` new on-build restore handler to support VS14 as well.

[2017-06-29 16:59] jainaashish commented on #5506
It isn't that straight forward since build restore will be broken for VS14 then... I'm confused here as to why are we running latest dev build on VS14? won't we branch of from release-3.5.0-rtm to have another release for VS14?

[2017-06-29 18:55] anangaur commented on #5028
I think the general issue here is that NuGet tries to touch all the sources mentioned on nuget.config irrespective of the selection on Package Manager UI. We should have an option to:

1. Either not try other sources when a particular source is selected, OR
2. Not block if the other sources require authentication or are inaccessible.

[2017-06-29 19:04] anangaur commented on #5028
Related issue: https://github.com/NuGet/Home/issues/3058. We need a setting option in nuget.config equivalent to --ignore-failed-sources. We should go beyond this and also try to be silent if user does not want authentication tried too if not already remembered.

[2017-06-29 19:25] jainaashish opened #5508 "Update packages at solution updates/ installs for all the projects"
while updating packages at solution level, it checks for all the projects in solution irrespective of the fact that not all the updating packages are applicable for all the projects and construct installing/ uninstalling actions for all the projects. This is wrong, it should always check for the projects where list of updating packages applies.

This is a regression post 3.5.0 release for VS 2017.

[2017-06-29 20:21] trondhindenes commented on #2987
Did anything happen here? We're struggling with nuget disabling our custom machine-wide sources. I need to provision global sources for our build server automation without interacting with the user that will be running nuget. Is there any flag I can set that allows the machine-wide sources to come up as enabled by default?

[2017-06-29 22:10] mishra14 opened #5509 "[regression since 15.2] net standard sdk project auto restore does not pop up error list for restore errors"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS

NuGet version (x.x.x.xxx): 4.3.0.4250

VS version (if appropriate): d15prerel/26627.3006

Worked before? If so, with which NuGet version: 4.2.0.2457 in VS 15.2

## Detailed repro steps so we can see the same problem

1. File New Project -> Net standard class library.

2. Change target frame

[2017-06-29 22:18] mishra14 opened #5510 "[regression since 15.2] net standard PM.UI package install rollback no longer displays detailed error in output window"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS

NuGet version (x.x.x.xxx): 4.3.0.4250

VS version (if appropriate): d15prerel/26627.3006

Worked before? If so, with which NuGet version: 4.2.0.2457 in VS 15.2

## Detailed repro steps so we can see the same problem

1. File New Project -> Net standard class library.

2. Change target frame

[2017-06-29 22:20] mishra14 commented on #5509
Similar issue https://github.com/NuGet/Home/issues/5412

[2017-06-29 22:23] mishra14 opened #5511 "net standard PM.UI package install rollback should displays detailed error in Error List"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS

NuGet version (x.x.x.xxx): 4.3.0.4250 in 15.3P4 and  4.2.0.2457 in VS 15.2

VS version (if appropriate): d15prerel/26627.3006

## Detailed repro steps so we can see the same problem

1. File New Project -> Net standard class library.

2. Change target framework to netstandard1.4.

3. Close

[2017-06-29 22:37] #5439 closed, assigned to alpaix

[2017-06-29 23:15] rohit21agrawal opened #5512 "restore causes lowest version to be installed"
dotnet.exe version = 2.0.0-preview2-006502

dotnet new classlib

add package reference to newtonsoft.json without specifying a version
run dotnet restore

version 3.5.8 gets installed.

CC: @rrelyea

[2017-06-29 23:31] rohit21agrawal opened #5513 "nuget package manager Ui shows installed version 0.0.0"
dotnet new classlib
add package reference newtonsoft.json , version= "*" or no version
dotnet restore

open package manger ui in visual studio, go to installed tab -> newtonsoft.json is shown as 0.0.0

26621.2 d15rel build of VS
dotnet.exe version: 2.0.0-preview2-006502

CC: @zhili1208 @rrelyea

[2017-06-29 23:48] #5512 closed, assigned to emgarten

[2017-06-30 00:24] nkolev92 commented on #5478
I think I've uncovered the root of the problem but it doesn't explain all the scenarios described above.

The issue happens when the RestoreAdditionalProjectSources

More NuGet info here:
https://github.com/NuGet/Home/wiki/%5BSpec%5D-NuGet-settings-in-MSBuild
The reasoning for this property is that we want to vary the fallbackfolder as a source in netcore1.x projects, and as a fallback folder in n

[2017-06-30 01:14] livarcocc commented on #5478
I believe in @natidea's case, it is not that the folder has been deleted, it is that it is empty and NuGet is failing because it is empty. When he deletes it, we stop adding it as a source/fallback and NuGet succeeds.

[2017-06-30 06:08] nkolev92 commented on #5506
We run our automation on VS14 since we don't have any for VS15.
Not sure if you got the answer earlier today.

[2017-06-30 06:10] ThinkAboutGitHub opened #5514 "Full .net 4.6.2 framework Console application package containing a dll instead of an exe"
## Details about Problem
I have a solution which contains 5 projects.  They all produce their own Nuget packages.

4 of the projects are Class Library projects which  produce dlls, and I am not having an issue with these.

The 5th project is a tool, it is a Console Application which produces an exe file.
The project is configured to produce a package on build.

When I build this project in Visual

[2017-06-30 11:33] UweKeim opened #5515 "Some files are being locked when using nuget.exe v4.3.0-preview3"
Not a much detailed buth rather vague error report, still I want alt least document it here:

Having various build scripts where I use nuget.exe from batch/[CS-Script](https://github.com/oleg-shilo/cs-script) files to copy files and build my SLN files through MSBUILD, I discovered the following:

Since switching to "[nuget.exe (v4.3.0-preview3)](https://dist.nuget.org/index.html)", I keep getting

[2017-06-30 12:33] ghost opened #5516 "Private Feed Credentials Dialog does not save/remember credentials"
## Details about Problem
Within VS 2015 or 2017,  after entering private feed credentials in the dialog it does not save/remember credentials.

Worked before?:
This has never worked before.

## Detailed repro steps so we can see the same problem

1. Set up private feed

2. Set the private feed as the NuGet source, then attempt to browse packages for the private feed

3. Enter your credentials, sel

[2017-06-30 13:08] rjso commented on #2867
It's a real shame this feature does not exist. I can come up with multiple reasons why we would like to discontinue a certain project and at least give a warning to whoever is using, in a similar fashion to the deprecated attribute in C#. Is this being considered? From my naivety, I suppose this is more of a strategic decision for the nuget team as opposed to amount of code needed.

[2017-06-30 16:27] anangaur commented on #5516
Looks like dupe of https://github.com/NuGet/Home/issues/4615

[2017-06-30 17:10] livarcocc opened #5517 "Add option for installing prerelease packages to dotnet add package"
_From @svick on June 30, 2017 10:48_

Currently, when I want to add a prerelease package to a project, I have to explicitly specify its version. For example: `dotnet add package System.Memory` does not work, but `dotnet add package System.Memory -v 4.4.0-preview2-25405-01` does.

This is inconvenient when I want to install the latest version of the package, even if it's prerelease. So I propose th

[2017-06-30 17:52] rrelyea commented on #5494
Merged into dev.

[2017-06-30 17:52] #5494 closed, assigned to xavierdecoster

[2017-06-30 17:53] rrelyea commented on #5493
Is this complete?

[2017-06-30 18:18] nkolev92 commented on #5478
That makes sense.
@livarcocc when did the fallback folder start being added as a source in for netcore 1.x?
As far as I can tell, it's only happening in 2.0.0 preview3.

[2017-06-30 18:27] livarcocc commented on #5478
A few weeks ago, for preview3. That was the plan to support fallback folder and a global offline cache.

[2017-06-30 18:58] mishra14 opened #5518 "Improve NuGet UI to invert icons to match the current VS theme"
Observed while working on https://github.com/NuGet/Home/issues/5420

Currently we have only one set of NuGet icons for VS. We should add feature to -

1. Detect current VS theme.
2. Either choose the right icon based on the theme or invert icons in code.

It might be possible to leverage existing VS APIs for this -

[code]
Source - https://msdn.microsoft.com/en-us/library/mt186350.aspx

[2017-06-30 18:58] mishra14 commented on #5518
cc: @anangaur

[2017-06-30 19:44] mishra14 commented on #5517
@emgarten restore should consider supporting `--pre-release` as we have discussed in the past.

[2017-06-30 21:04] mishra14 commented on #5420
punting to 4.4 based on team feedback

[2017-06-30 21:16] zhili1208 commented on #5515
@UweKeim Could you share any small repro steps or how you use nuget.exe and msbuild in your script?

[2017-06-30 21:37] jainaashish opened #5519 "NuGet update slow in VS2015/2017 despite add reference batching"
Issue came in the email from one of the internal customer:
takes about an hour to update 15 packages in 6 projects out of 178 projects total in the solution.

We've got the logs and repro solution.

[2017-07-01 00:00] livarcocc opened #5520 "Multi targetting with conditional references copies only one version to each output"
_From @Roemer on June 28, 2017 7:49_

## Steps to reproduce
Create a multitargetting project which includes different versions of an assembly based on the target.
For example:
[code]

## Expected  behavior
In each output folder is the correct referenced file.
In this example, net35 should have the 3.5 version of the Interop.UIAutomationClient.dll and net40 and net45 should have the 4.5 version of

[2017-07-01 00:00] livarcocc commented on #5520
_From @Roemer on June 28, 2017 13:45_

The only workaround I could think of for now would be to not copy the dlls to the output and using post-build hooks to manually copy the files.

[2017-07-01 00:00] livarcocc commented on #5520
@nguerrera can you take a look? @Roemer have you tried moving the condition into the ItemGroup and then having the 3.5 and 4.0/4.5 references inside these conditioned ItemGroups instead?

[2017-07-01 00:00] livarcocc commented on #5520
_From @nguerrera on June 28, 2017 19:57_

@livarcocc The conditions are fine where they are.

@Roemer I cannot reproduce this issue. Here is my attempt showing the correct behavior:  [ct.zip](https://github.com/dotnet/cli/files/1110040/ct.zip)

Is it possible that an error has caused the 3.5 Interop.UIAutomationClient.dll to land in the ..\libs\Interop\4.5\ folder? I ask because I actually had bui

[2017-07-01 00:00] livarcocc commented on #5520
_From @Roemer on June 28, 2017 20:52_

Hmm I must say I cannot reproduce it with the pc I am right now. Will double-check tomorrow with the one where I found the issue.

[2017-07-01 00:00] livarcocc commented on #5520
_From @Roemer on June 29, 2017 9:32_

The problem is actually something different. I Want to add those library files to the generated nuget assemblies as well. For that I use:
[code]

I tried having an `Interop\net35`, `Interop\net40` and `Interop\net45` folder (where net40 and net45 have the same content) and just using the ```$(TargetFramework)``` variable in the path like:
[code]
This works for

[2017-07-01 00:00] livarcocc commented on #5520
_From @Roemer on June 29, 2017 10:31_

I actually can't make this work with the csproj. Maybe someone of you got an idea. Otherwise I probably need to go back to nuspec or cake for building the nuget packages.
I added my sample here: [ReproSample.zip](https://github.com/dotnet/cli/files/1111677/ReproSample.zip)

[2017-07-01 00:00] livarcocc commented on #5520
_From @Roemer on June 29, 2017 10:41_

The problem seems to be that the files to include into the nuget are "added" to the project (with `None`) and according to [this](https://blogs.msdn.microsoft.com/manishagarwal/2005/09/28/resolving-file-references-in-team-build-part-2/) it first searches in the project files. That is probably why it is using the "wrong" file in the output.
The correct solutio

[2017-07-01 00:00] livarcocc commented on #5520
Given that this is an issue with pack, I am moving this to NuGet. If there this turns out to require changes in the CLI/SDK, please, just move it back. We will be glad to help.

[2017-07-01 06:50] anupBd commented on #3929
I have used generator-aspnetcore-spa to generate a project. Then when I tried to restore project using dotnet restore command I got the same error. I figured out that restore use "C:\Users\**\AppData\Roaming\NuGet\NuGet.Config" file for the config of package restore and there I got activePackageSource was a private feed that I am using for my other project which I have configured from visualstudio

[2017-07-01 09:42] xavierdecoster commented on #5493
Still need to verify the pack due to "GeneratePackageOnBuild" property in csproj file scenario. Other scenarios are complete, except for case 3 which is a non-goal of semver2 and out-of-scope.

[2017-07-01 11:53] Roemer commented on #5520
# I will recap the issue here

### Steps to reproduce
Create a project with the following content:
[code]
### Expected result
In build output there should be the .net folders with either the 3.5 oder 4.5 version of the interop.
Also there should be a nuget package with the interop dlls.

### Effective result
Because the `None Include` kinda adds the files to the project, the 3.5 version is copied

[2017-07-01 18:49] sam-wheat commented on #5441
Any resolution?

Thanks

[2017-07-01 22:36] Daniel15 opened #5521 "Upgrading NuGet packages in Visual Studio doesn't work when project targets multiple frameworks"
## Details about Problem

NuGet product used: Visual Studio UI

dotnet.exe --version: 1.0.0

VS version: Visual Studio 2017

OS version: 10.0.16193.1001

Worked before? If so, with which NuGet version: Unknown

## Detailed repro steps so we can see the same problem

Sample `csproj`:
[code]

Note that this `csproj` is conditionally including a few NuGet packages (`System.Diagnostics.TraceSource` an

[2017-07-02 09:59] knocte commented on #2775
Not having a way to specify a specific version when using `-self` is really suboptimal. Today, my CI builds started breaking because nuget decided to update to version 4.3.0-preview3-4168, which seems to bring some MSBuild version detection which is broken.

[2017-07-02 16:31] UweKeim commented on #5515
Sorry, I have to withdraw this ticket.

After long tries, it also happens with nuget.exe 4.1.0.

Seems to be more of an issue with Visual Studio 2017 and/or other components on my system.

[2017-07-02 16:31] #5515 closed, assigned to nobody

[2017-07-02 16:33] ChrisMaddock commented on #2867
I was surprise to hear that chocolatey now has a deprecation feature, which NuGet still doesn't. We'd also have use for this feature - we're currently maintaining duplicate packages, as we don't feel we can remove old packages without causing mass disruption to our users. And automatic upgrade path to a new package, like choco has would be a great solution for this.

[2017-07-02 16:43] CharliePoole commented on #2867
I think chocolatey's "feature" is more a matter of convention. I might be wrong, but I"m pretty sure you can do the same thing in nuget:
1. Change title to say "Deprecated something" (so people notice it)
2. Advance the version - perhaps some convention like x.y.9999.
3. Remove files and add a reference to the new package

That only works if you choose to no longer have the old package available.

[2017-07-02 18:29] Petermarcu opened #5522 "Unable to find package X with version (>= 1.0.0)"
## Details about Problem

I'm trying to add a reference to a package that has a version of 0.0.1 on Nuget.org. https://www.nuget.org/packages/Bifrost.Devices.Gpio/

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

.NET Command Line Tools (2.0.0-preview2-006497)

Product Information:
 Version:            2.0.0-preview2-006497
 Commit SHA-1 hash:  06a2093335

Runtime E

[2017-07-02 18:45] Petermarcu commented on #5522
Looks like I was able to get it to work by listing all the dependencies explicitly:

[code]

I don't think this is supposed to be required.

[2017-07-02 19:33] #5464 closed, assigned to nobody

[2017-07-02 23:22] maartenba commented on #5514
Seeing the same issue.

[2017-07-03 03:53] oliverjanik commented on #1909
Why is this closed? This is absolutely an issue. Today I was upgrading one of our dependencies. Nuget made about 1000 requests before it completed. This is getting worse with .Net Core as everything is split into millions of small packages.

[2017-07-03 06:01] Roemer opened #5523 "Adding assemblies to package with csproj messes up the build output"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

VS version (if appropriate): 2017.3

OS version (i.e. win10 v1607 (14393.321)): Win8 / Win10

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem
Create a project with the following content:
[code]
### Expected result
In build output

[2017-07-03 06:02] Roemer commented on #5520
Please close, I rewrote the issue into #5523

[2017-07-03 06:22] xavierdecoster commented on #2047
@emgarten is this still an unresolved issue?

[2017-07-03 06:54] livarcocc commented on #5523
If you don't want these files in your project output, just your package, have you tried setting CopyToOutputDirectory to false as metadata to the None item? Though, to be honest, I am not sure how that will interact with Pack.

[2017-07-03 08:33] sandord commented on #1909
Yeah, even though the increased connection limit speeds things up, it is anything but blazingly fast.

[2017-07-03 08:39] danwalmsley opened #5524 "Question: Nuget.Client Something like NugetFolderProject that uses cache folder directly"
Hi,

     I have been using Nuget.Client api, and I would like to try something perhaps a little unusual.

I would like something like NugetFolderProject, expect where it just uses the packages directly from the cache rather than copying to a separate folder.

Is there a way to get the nuget cache folder? or a recommended way to achieve the above?

[2017-07-03 09:03] Roemer commented on #5523
Unfortunately does not help. I think they are not copied by the `None Inclue` but because they are referenced by the project and this seems to favor the `None Includes` to the `HintPath` of the `Reference`.

[2017-07-03 09:17] geirsagberg commented on #4190
As a workaround, you can edit the .csproj file and add the tool manually, e.g.:
[code]

[2017-07-03 10:53] spotlesscoder commented on #2746
When I read the documentation correctly and did not miss anything, the default global NuGet.config also does not support the dependency behaviour "IgnoreDependencies"

https://docs.microsoft.com/en-us/nuget/schema/nuget-config-file

Whyyyyy?

[2017-07-03 11:04] phatcher commented on #5495
Yes but they closed that over a year ago and have yet to re-open it.

I'm updating a project with a minor update to a package and it's taking over 8 mins per project!

This is badly broken and needs to be addressed

[2017-07-03 13:07] Necroskillz opened #5525 "Specify exact version of a project dependency"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

dotnet.exe --version (if appropriate): 2.0.0-preview2-006497 / 1.0.4

OS version (i.e. win10 v1607 (14393.321)): win10 enterprise

Worked before? If so, with which NuGet version: works with .nuspec files

## Detailed repro steps so we can see the same problem

Right now we have `.nu

[2017-07-03 14:28] UweKeim commented on #5515
In case anyone has a similar issue:

I was able to reduce the issue to an executable called "VBCSCompiler.exe" that lives inside the "bin\roslyn" folder of my website.

When calling "msbuild.exe" via command line, it seems that this executable isn't cleaned up upon exit of the build process.

The pragmatic solution in my case was to simply kill the "VBCSCompiler" at the very beginning of my build

[2017-07-03 17:59] livarcocc opened #5526 "Using NuGet repository with password encryption - Not Supported on non-Windows Platforms"
_From @aleslash on July 3, 2017 17:48_

## Steps to reproduce
Use local nuget repository that demands password encription
My nuget.config works fine in Windows environment, but on linux OS it doesn't.

## Expected  behavior
Successfully connect with local Nuget repository.

## Actual behavior
  Restoring packages for /opt/apl/testeDotnet/testeDotnet.csproj...
  Retrying 'FindPackagesByIdAsyncCore'

[2017-07-03 18:15] thardy-pd commented on #5271
Is this normal nuget behavior, or does it sound like we set something up wrong?

[2017-07-03 18:18] jainaashish commented on #5495
I looked at the NuGetGallery solution issue, it took all that time for http calls to gather results for each package installed across all the sources configured. There were 6 sources out of those, myget dotnet-core feed (https://dotnet.myget.org/F/dotnet-core/api/v3/index.json) took the most time.

You can do two things to improve this experience for now:
1. Disable dotnet-core or any other source

[2017-07-03 18:19] jainaashish commented on #5495
@phatcher you can also try one of the above solutions to improve your experience and let us know how it goes... if you still see issues, then give us a repro solution and we'll be happy to look into that.

[2017-07-03 18:30] mishra14 commented on #5514
tagging @rohit21agrawal for pack.

[2017-07-03 18:41] mishra14 commented on #5514
@ThinkAboutGitHub:

Could you please try the following commands and let us know the result -

`msbuild src\DependencyCopy\DependencyCopy.csproj /t:Restore /p:Configuration=Release`

`msbuild src\DependencyCopy\DependencyCopy.csproj /p:Configuration=Release /p:IncludeSource=true /p:IncludeSymbols=true /p:GeneratePackageOnBuild=true`

---------------------
Update -

I think I know the problem here.

[2017-07-03 21:31] flytzen commented on #2504
@harikmenon Hi - you mentioned above in Jun 2016 that symbol packages are automatically published, ref the docs you linked to.
That doc still does not specify the -Source parameter, which is now mandatory.

Do you know if it is still possible to publish the package and the symbols in one operation or whether we now need two separate pushes with two different -Source params?

Thanks in advance.

[2017-07-03 21:40] alib50 opened #5527 "Alib7"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2017-07-03 21:40] alib50 opened #5528 "PayPal"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2017-07-03 22:56] ThinkAboutGitHub commented on #5514
Thank you! I have clearly been staring at that for too long, I have fixed the Outputtype tag and its now working correctly.

[2017-07-03 23:19] nkolev92 opened #5529 "RestoreAdditionalProjectSources nominations for multi TFM projects are different"
Related to https://github.com/NuGet/Home/issues/5478

Versions:
Latest NuGet
SDK preview3 and newer

In the multi-tfm case, the nominations for the different TFMs contain different values for the above mentioned property.

netcoreapp nominations contain the fallback folder value while the net45 in my case does not contain any.

NuGet expects a single value, and because of that we hard fail.
The co

[2017-07-03 23:33] nkolev92 commented on #5478
Related to this issue:
https://github.com/NuGet/Home/issues/5529

[2017-07-03 23:46] livarcocc commented on #5529
Like you said, this would just reduce the likelihood of this being hit. Customers could edit their project to get to this as well.

Now, regarding the RestoreAdditionalProjectSources, that should be doable in the SDK. But this difference may still happen, for instance, for projects that target netstandard2.0 and say netstandard1.6, for whatever reason. 2.0 will have a fallback folder, while 1.6 wi

[2017-07-03 23:56] mishra14 commented on #5514
@ThinkAboutGitHub great to hear that your issue is fixed!
I am going to close this bug.

@maartenba If you are seeing the same issue then please feel free to reopen.
Or if you have a different cause then, please make a new issue with relevant info.

[2017-07-03 23:56] #5514 closed, assigned to nobody

[2017-07-04 01:09] MikhailArkhipov opened #5530 "4.3.0-preview3 expects certain targets to exist (nuget.exe regression, msbuild /t:restore was broken)"
Wix (MSI) projects do not have `_GenerateRestoreProjectPathWalk` or `_GenerateRestoreGraphProjectEntry`.

`nuget.exe restore Mysolution.sln` fails if solution contains wixproj.
[code]
Workaround: added
[code]
to my wix projects for now.

[2017-07-04 01:45] bjorn-ali-goransson commented on #5237
This actually works, packaging the following my-nuget-package-id.targets inside build\ :

    <Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
      <ItemGroup>
        <None Include="$(NuGetPackageFolders)\Admin\1.0.10\content\admin.tar">
          <Link>admin.tar</Link>
          <CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory>
        </None>
      </ItemGroup>

[2017-07-04 04:53] aiham commented on #5473
Turns out the package *was* published successfully and now we have multiple redundant versions:

https://www.nuget.org/packages/OpenTok/2.4.0
https://www.nuget.org/packages/OpenTok/2.4.1
https://www.nuget.org/packages/OpenTok/2.4.2
https://www.nuget.org/packages/OpenTok/2.4.3

[2017-07-04 04:53] aiham commented on #5473
As you can see from the CLI output above there was no indication of a successful publish.

[2017-07-04 05:07] davkean opened #5531 "Get zero errors or warnings when a version number in a PackageReference is invalid"
## Details about Problem
VS version (if appropriate): Version 15.3.0 Preview 4.0 [26629.0.d15rel]

## Detailed repro steps so we can see the same problem

[code]

## Expected:
An error about invalid version number in the Error List (it has extraneous single quotes).

## Actual:
No error in the error list, but the dependency node show an warning icon on the package with zero information as to the i

[2017-07-04 05:46] davkean commented on #5295
Note, only the legacy project system cannot handle variables. The new project system does not suffer from this problem.

@onovotny That PackageReference though, is invalid. It's has extraneous single quotes.

Note, on latest bits - looks like we don't get any errors or warnings: https://github.com/NuGet/Home/issues/5531.

[2017-07-04 07:11] woellij commented on #737
Has this ever been fixed? I'm still experiencing the same issue.

VS 2017;
Package Manager Console Host Version 4.2.0.2457
using packages.config not PackageReference

[2017-07-04 08:04] tallichet commented on #2696
I reproduced the exact same error with a simple project I've posted here: [UWP-LocalizationTest](https://github.com/tallichet/UWP-LocalizationTest).

If the project is compiled with VS2017, the strings coming from the PCL is not in the correct language

[2017-07-04 08:26] StexGhost commented on #2696
@tallichet
I think you are posting this in the wrong topic. PCLs from nuget DO NOT work with VS 2015. This is what this thread is all about. Are you telling me, that in VS 2017 referencing PCLs directly (without nuget) doesn't work either (regarding resources)?

[2017-07-04 08:32] tallichet commented on #2696
Yes, sorry.

I arrived here while search issues for direct referenced libs. And so, I did not noticed this thread is about nuget all.

And yes, I have the exact same issue while directly referencing the PCL projet and using VS2017 (update2, up to date)

[2017-07-04 08:49] StexGhost commented on #2696
@tallichet
In your code you are accessing the string without telling it what language you want.
This works in 2017:
`FromPCL.Text = MyStrings.ResourcesProvider.Instance.Resources.GetString("PortableString", new System.Globalization.CultureInfo("de-DE"));`
Or set the culture of the resource:
`MyStrings.Resource.Culture = new System.Globalization.CultureInfo("de-DE");
FromPCL.Text = MyStrings.Resour

[2017-07-04 08:55] tallichet commented on #2696
I set the prefered language in the App.xaml.cs. And this works when built with VS2015. It should work the same way, no code change, in VS2017

[2017-07-04 09:10] StexGhost commented on #2696
@tallichet
Add this in App.xaml.cs:
`            Windows.Globalization.ApplicationLanguages.PrimaryLanguageOverride = "de-DE";
            System.Globalization.CultureInfo.CurrentCulture = new System.Globalization.CultureInfo("de-DE");
            System.Globalization.CultureInfo.CurrentUICulture = new System.Globalization.CultureInfo("de-DE");
            System.Globalization.CultureInfo.DefaultT

[2017-07-04 09:23] StexGhost commented on #2696
@emgarten @tmeschter
This problem seems to be partially solved in Visual Studio 2017. I have a question regarding the intended behavior. This seems to work without a problem:
[code]
However:
[code]
Only lists the english default value. The output in a Windows 8.1 app lists all language resources. My guess is, this problem was only partially solved in Visual Studio 2017. I'm currently unsure if thi

[2017-07-04 09:36] mrward opened #5532 "Incorrect package id case for PackageReference added by Package Manager console"
## Details about Problem

NuGet product used: Package Manager Console

NuGet version: 4.3.0.4199

VS version: VS 2017 15.3.0 Preview 3.0

## Detailed repro steps so we can see the same problem

1. Create a .NET Core console project.
2. Open the Package Manager Console
3. Run: `install-package newtonsoft.json`

**Expected result:**

PackageReference added to .csproj with the correct case for the pa

[2017-07-04 12:50] Necroskillz commented on #5525
I have a very dirty workaround to achieve what I want. It involves hooking into msbuild and rewriting `project.assets.json` before `GenerateNuspec` target.

I set `Directory.Build.props` so all projects have this target:
[code]

I use a command before the nuspec is generated (in my case a gulp task), to change `project.assets.json` with following:
 - find all projects for which i want to set custo

[2017-07-04 16:52] maartenba commented on #5514
@mishra14 Seems the above indeed fixed it - seem to have looked over the property.

[2017-07-05 02:34] AungS opened #5533 "Software huawei"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2017-07-05 02:36] AungS opened #5534 "H"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2017-07-05 03:07] mlorbetske opened #5535 "[Suggestion] Add "Check NuGet package manager settings" on failures"
Creating this issue in response to a thread on [developer community](https://developercommunity.visualstudio.com/comments/76251/view.html)

When a restore fails due to a package source not existing or being temporarily unavailable, it currently does so with a message like the following one:

[code]

It'd be super helpful if this message indicated that the user should check the NuGet package manage

[2017-07-05 07:19] hvidgaard opened #5536 "NuGet error in VS when using paket in dotnet projects."
I'm running Windows 10 v1703 (15063.413), VS2017 15.2 (26430.6 and NuGet package manager 4.2.0.2457) and VS2017 15.3 (preview 2.1 and nuget package manager 4.3.0.4113) both get the error.

When using paket to handle dependencies, I get a NuGet error upon opening the solution. [Here](https://1drv.ms/u/s!AhhMMYIXfwvmgcNnccaWmsXp3CDIzw) is a sample solution that exhibit this error. Having a solution

[2017-07-05 08:47] mlorbetske opened #5537 "VS2017 Community csproj doesn't like wildcards"
_From @moraleslos on May 8, 2017 20:4_

I'm converting one of my asp.net core projects from VS2015 that uses project.json to VS2017 community that converts it to csproj.  This project uses openiddict (and related libs).  My csproj file contains this:

[code]

When building the above I get the following errors:
**Unable to resolve 'OpenIddict.Mvc(>=1.0.0)' for '.NETCoreApp,Version=v1.1'**
Same for

[2017-07-05 14:34] samirparekh commented on #4996
I have same issue, dotnet restore does not restore when PackageReference has a build condition

for eg.

`   <PackageReference  Include="ABC.Serialization.NetCore" Version="1.0.0.12614" Condition="'$(Configuration)' == 'ProductionNew'">
    <PrivateAssets>All</PrivateAssets>
   </PackageReference>`

does not restore the lib and the compilation ends us with an error. Seems like Nuget restore needs

[2017-07-05 15:35] g0t4 opened #5538 "NU1701 - Change the wording of this warning"
In a netcoreapp2.0 project, if I add a package that targets net461, I get a new warning as of 2.0 preview2:

I had a hunch that this was just warning me about the new behavior in 2.0 to reference netfx packages. But I wasn't certain from the message alone. Upon looking up `NU1701` here https://github.com/NuGet/Home/wiki/Restore-errors-and-warnings#nu1701 I found an explanation that I understood:

[2017-07-05 17:40] mishra14 commented on #5534
@AungS: I am closing this bug as there is no info here. Please add info and reopen, if needed. Thanks.

[2017-07-05 17:40] #5534 closed, assigned to nobody

[2017-07-05 17:40] mishra14 commented on #5533
@AungS: I am closing this bug as there is no info here. Please add info and reopen, if needed. Thanks.

[2017-07-05 17:40] #5533 closed, assigned to nobody

[2017-07-05 18:20] rrelyea commented on #5510
triage: we should have hideerrorsandwarnings set to false for this restore that run for install.

[2017-07-05 18:24] rrelyea commented on #5511
dupe of #5510

[2017-07-05 18:24] #5511 closed, assigned to nobody

[2017-07-05 18:42] BillHiebert opened #5539 "Occasionally see the error: Error occurred while restoring NuGet packages: The supplied user buffer is not valid for the requested operation."
Please read the following information before posting the issue.
## Details about Problem
Sometimes after creating a new ASP.NET Core web application in Visual Studio, the restore fails with the following in the output window:
[code]

NuGet version (x.x.x.xxx): From VS help About: Nuget Package Manger 4.3.0. Note that I have seen this occur since VS2017 RTW.

VS version (if appropriate): 15.3.0 Pre

[2017-07-05 20:53] livarcocc opened #5540 "Project reference version when packing project"
_From @danielwertheim on July 5, 2017 20:24_

I have a solution with two projects **A** and **B** where **B depends on A** as a project reference.

I've tried packing the csprojs using `dotnet pack` and `msbuild` with target "Pack" passing version. This works fine, how-ever, what I want is to set the passed version on the project reference to A from B. How do I do this? The result should be A.1.0.

[2017-07-05 21:52] jainaashish commented on #5519
Most of the time is being spent in AddReference apis for this issue. We already added batch apis to improve performance in this case but somehow these AddReference calls aren't being batched correctly and so each add reference is being executed separately. Dropped an email to Project System to look further and provided them the etl logs.

[2017-07-05 22:06] neilcawse commented on #5169
@emgarten There are serious issues with dotnet restore performance in the latest 2.0.0-preview2 SDK.
dotnet restore is crazy slow even after its succeeded.
I deleted *all* files out of my project except for around 200 .cs files in various sub directories and added a minimal project below.
Restore took 30s. If I remove all the cs files its instant.
This can't be released like this.
I do have both 1

[2017-07-05 22:20] bricelam opened #5541 "Automatic package restore hangs VS 15.3"
VS 15.3 Preview 3 is unusable on the [aspnet/EntityFramework](https://github.com/aspnet/EntityFramework) repo's solution. It stalls after every key press in the editor and eventually hangs indefinitely. Unchecking **Allow NuGet to download missing packages** avoids the issue.

Sorry I haven't been able to narrow it down any further.

This is on a clean install with the following workloads selected

[2017-07-05 22:55] rrelyea commented on #5501
Let's continue meeting on friday. for now, this is pushed to post 4.3

[2017-07-05 23:20] emgarten commented on #5538
@anangaur would you take a look at the text of this message?

[2017-07-05 23:25] sam-wheat commented on #5441
@rohit21agrawal Please comment on steps to reproduce I have provided.  Thanks

[2017-07-05 23:27] anangaur commented on #5538
I like the first suggestion. I would avoid the use of `PackageTargetFallback` or `AssetTargetFallback` terms here as that's unnecessary confusion.

Proposed text:

[2017-07-05 23:49] g0t4 commented on #5538
Sounds good to me, if you want I can create a PR

--

----------
On Wed, Jul 5, 2017 at 7:27 PM, Anand Gaurav <notifications@github.com>
wrote:

I like the first suggestion. I would avoid the use of PackageTargetFallback
or AssetTargetFallback terms here as that's unnecessary confusion.

Proposed text:

/api/api.csproj : warning NU1701: Package 'Faker.Net 1.0.3' was restored
using '.NETFramework,V

[2017-07-05 23:53] anangaur commented on #5538
Sure. Go ahead. :)

[2017-07-06 00:09] nkolev92 opened #5542 "Not forcing in preview restore can lead to false positive no-op check"
Dup of internal bug 457857.

Basically what's happening here
1. Create a legacy package reference project and install a package reference.
2.  Close VS, then edit the csproj to remove the package reference. (This basically gets us to the same scenario that not saving the project would with a service. Basically restore happened and everything was written on the disk except that the csproj doesn't c

[2017-07-06 00:25] rohit21agrawal commented on #5441
let me get back to you tomorrow on this.

[2017-07-06 00:27] sam-wheat commented on #5441
@rohit21agrawal thanks looking forward to resolving this.

[2017-07-06 00:31] nkolev92 opened #5543 "Automated tests for scenarios where a csproj's package references are manually edited."
Similar to https://github.com/NuGet/Home/issues/5542

[2017-07-06 00:41] TravisBoatman commented on #5537
VS Developer Community post for more exposure: https://developercommunity.visualstudio.com/content/problem/53224/vs2017-community-csproj-doesnt-like-wildcards.html

[2017-07-06 01:19] mishra14 commented on #5509
Investigated a bit. It seems that since we rely on sdk target to log the errors into VS, we no longer display them. Thus the error log is not populated yet and hence, we do not pop open the error list.

[2017-07-06 02:06] colltoaction commented on #5477
For anyone looking for the error `error NU1101: Unable to find package XXXXXX. No packages exist with this id in source(s): CliFallbackFolder` after installing .NET Core Preview 2: You need to manually add the nuget feed to `%AppData%\NuGet\nuget.config`.

In my case I ended up with:

[code]

[2017-07-06 08:30] axedaddy commented on #5348
Mine was working, but just started occurring after I installed SQLServer 2016.
I first start the shell then attempt to paste a command in. I found when I paste a cd command into the command line it fails (using right click, paste).  If I type it by hand it worked, here's an example (output right from the start of when I opened package manager console):

Each package is licensed to you by its owner

[2017-07-06 08:39] vanjar commented on #5530
Thanks for workaround

[2017-07-06 10:53] ShreeSam commented on #4122
Hi Team,

We are getting same error in out TFS 2017 build. Builds were working fine till last week. Not sure what went wrong. All builds are failing with below error.

D:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\Sdks\NuGet.Build.Tasks.Pack\build\NuGet.Build.Tasks.Pack.targets (104, 5)
The "NuGet.Build.Tasks.Pack.PackTask" task could not be loaded from the assembly D:\P

[2017-07-06 11:49] dasMulli commented on #4122
@ShreeSam this looks like the issue logged at https://github.com/dotnet/sdk/issues/1384

[2017-07-06 11:55] ShreeSam commented on #4122
Hi dasMulli,

No. We are not getting any System.IO error.

Thanks,
Shree

[2017-07-06 13:41] clairernovotny commented on #5063
Here's another example of this with nasty workarounds:
https://github.com/paulcbetts/refit/blob/04db09ffb67ba500ee2bc3370bc68b81437b46a0/Refit/Refit.csproj#L28-L46

We need to call `dotnet publish` on the task package we want to include in our library package (we do build-time code generation). It leads to build-time weirdness and is far too hard to figure out. One of the issues is ensuring that t

[2017-07-06 15:49] KirillOsenkov commented on #4290
MSBuild itself has recently added a dependency on System.Io.Compression and a binding redirect in msbuild.exe.config. Perhaps that will help?

[2017-07-06 17:07] emragins commented on #545
Yes, please!  I'm dealing with a situation of databases depending on databases and multiple applications sharing the same database(s) (at different "levels" of the database hierarchy, even).  Every other idea I can come up with to attempt to handle this cleanly does not even come close.

Sadly, fixing the root cause of the database quagmire is not an option.

[2017-07-06 17:15] rohit21agrawal commented on #4122
@ShreeSam can you provide details of the Visual Studio version you are using?

[2017-07-06 17:15] rohit21agrawal commented on #4290
@KirillOsenkov yeah looks like that would fix it. where is system.io.compression 4.1.2.0 shipped ?

[2017-07-06 17:29] livarcocc opened #5544 "Dotnet restore fails on project which references another project from the same folder."
_From @lyuboasenov on July 6, 2017 13:1_

## Steps to reproduce
Have two csproj in the same folder. One of them (projA) references the other (projB).

## Expected  behavior
Expect restore to be run for both project projA and projB

## Actual behavior
When I run dotnet restore projA.csproj restoring is run only for projB.
When I run dotnet restore projA.csproj --no-dependencies restore is run for p

[2017-07-06 17:45] rrelyea commented on #5508
moving to 4.4 since we are in escrow for 4.3 and have no direct customer asking for this.

[2017-07-06 17:47] AArnott commented on #4290
And what version MSBuild makes this change?

[2017-07-06 18:03] rainersigwald commented on #4290
In https://github.com/dotnet/sdk/issues/1384, @jp2masa reports that the binding redirect is insufficient.

@AArnott MSBuild 15.3.399 and higher should have the binding redirect for System.IO.Compression 4.1.2.0.

[2017-07-06 18:22] g0t4 commented on #5538
Should I update the message in https://github.com/NuGet/NuGet.Build.Localization?

i.e. https://github.com/NuGet/NuGet.Build.Localization/blob/8f3a16696bfaf39c22963fcd21feb9cdf5d66eed/localize/ITA/15/NuGet.Commands.dll.lcl#L945

I obviously can't update all the translations :)

[2017-07-06 18:22] Eilon commented on #5541
NuGet folks - if there's some kind of logging or debug setting we can enable to provide more info please let us know.

[2017-07-06 18:28] jainaashish commented on #5519
Corresponding MSBuild issue# https://github.com/Microsoft/msbuild/issues/2265

[2017-07-06 18:31] RezaJooyandeh opened #5545 "NuGet pack does not automatically detect files and dependencies for multi-platform project"
To create a package for a Any CPU csproj, one could have practically an empty nuspec:
[code]
and everything would be detected when we do `nuget pack foo.csproj` and all the dependencies would be added automatically. But if the project is multi-architecture, we should manually specify all the files and dependencies and keep updating the dependencies versions which could cause a lot of mistakes and

[2017-07-06 18:33] jainaashish commented on #5401
Cache key consists of package, source, and target framwork... since your target framework is different for project1 vs project2 so it repeated the call and get package dependencies for that specific target.

We can certainly improve this experience and improve our cache. Since first call itself will give all the details about package dependencies for each framework so we can always reuse that.

[2017-07-06 18:43] emgarten commented on #5538
@g0t4 you don't need to worry about localization, that will be updated later.

[2017-07-06 18:44] mishra14 commented on #5509
Opened a bug  on the sdk repo. Will close this once they acknowledge.

[2017-07-06 19:04] #5478 closed, assigned to nkolev92

[2017-07-06 19:46] emgarten commented on #5530
This error occurs when projects do not include the common props/targets that bring in restore targets.

Previously these projects were being skipped but it looks like the improvements to error handling are now causing projects which are invalid for restore to fail completely. Restore should ignore these projects and warn instead.

[2017-07-06 19:47] emgarten commented on #5530
Moving to 4.3 for triage discussion and further investigation.

[2017-07-06 20:42] #5348 closed, assigned to alpaix

[2017-07-06 20:46] alpaix commented on #5348
The fix will be available in Preview 4.

[2017-07-06 21:13] jainaashish commented on #5541
Can you provide the dump file for this hang?

[2017-07-06 21:24] emgarten commented on #5169
Restore uses msbuild to evaluate the projects and get the list of *PackageReferences*. If the project is very slow to load Restore will also be slow, same as other targets. A good way to compare is to run *dotnet msbuild /t:clean* on your solution, that time should be similar to how long it takes just to evaluate the projects.

The original issue here for improving performance on the 2nd restore h

[2017-07-06 21:24] #5169 closed, assigned to nobody

[2017-07-06 21:50] emgarten opened #5546 "Include assets filtered out by nuspec's References in runtime assets"
Assets filtered out by the nuspec using *references* should be filtered from compile but not runtimes.

Original issue: https://github.com/NuGet/Home/issues/3830#issuecomment-309196959

[2017-07-06 21:51] #5546 closed, assigned to nobody

[2017-07-06 21:53] emgarten commented on #3830
I've updated the title, this should be investigated to see if changing this behavior will break any other scenarios.

[2017-07-06 22:11] bricelam commented on #5541
Repairing Windows seems to have fixed the issue. Many .NET-related things were behaving strangely. (Settings app was freezing, F5 in VS wouldn't show the Console...) I'll let know if it starts happening again.

[2017-07-06 22:16] bricelam commented on #5541
I spoke too soon. I'll try go get a dump...

[2017-07-06 22:42] lordofscripts commented on #1792
Another use case is when you have a series of Views and even a controller in  a web application that you would like to reuse in other web applications. Currently you can't put views in a NUPKG (at least not since I started .NET COre) and you want the user to be able to customize that controller and views to something that blends more with their web application or do some extra things.

I used to b

[2017-07-06 23:36] g0t4 commented on #5538
PR ready, do we need to do anything to make sure that the wiki and localization get updated? Create issues?

wiki: https://github.com/NuGet/Home/wiki/Restore-errors-and-warnings#nu1701

[2017-07-06 23:42] emgarten commented on #5358
@ununseptium @Xarkam Any updates on this?

[2017-07-06 23:58] rohit21agrawal commented on #5538
@g0t4 you don't have to worry about localization at all.

[2017-07-07 00:15] rohit21agrawal commented on #5441
[issue5441consumepkg.zip](https://github.com/NuGet/Home/files/1129578/issue5441consumepkg.zip)
[issue5441.zip](https://github.com/NuGet/Home/files/1129579/issue5441.zip)

@sam-wheat couldn't repro using your steps. I have attached my projects. issue5441 is the project i used to create the nupkg (you can find the created nupkg inside the zip too.

issue5441consumepkg is the project i used to add th

[2017-07-07 05:11] ShreeSam commented on #4122
Hi Rohit,

Please find the attached screenshot.

![image](https://user-images.githubusercontent.com/20398445/27943929-c1bc1ff2-6300-11e7-99e0-8fad60b4f022.png)

Thanks,
Shree

[2017-07-07 07:11] Xarkam commented on #5358
Hello,
Since the update of nuget 1.0.3 to 1.0.4 it seems that the problem is no longer present.

I've tested on 2 pc.

![image](https://user-images.githubusercontent.com/331816/27947005-772bc8c2-62f4-11e7-9f30-5b4d5f8b9527.png)

[2017-07-07 08:26] KatarinaOttosson opened #5547 "NuGet restore path differs from NuGet install path for source code files"
When installing a nuget package to a Visual Studio solution the package content will be restored to a package folder and if the package consists of dll's, the solution will reference these dll's as located in this package folder.
Building the same solution on another machine will restore the nuget package to the package folder and included dll's will be found as referenced by solution projects, al

[2017-07-07 08:36] JoseFMP commented on #1946
This issue still has no solution?! Means if you want to pack a nuget package in linux you are damn forced to use nuspec files?! That's ok, but it has more terrible implications: you are forced to use the old csproj format, and you can therefore not use .NET Core.

Any plans to work on this? msbuild for linux is out since a while ago an working fine. It should not be too hard any more to make nuget

[2017-07-07 09:17] neilcawse commented on #5169
@emgarten on this minimal project I ran:
dotnet restore
Time Elapsed 00:00:26.94
and
dotnet msbuild /t:clean
Time Elapsed 00:00:09.51

in verbose mode it looks like msbuild is being run 3 times by dotnet restore so poor performance in msbuild is magnified 3 times.

[2017-07-07 09:21] xavierdecoster commented on #5493
The following still needs fixing:

![image](https://user-images.githubusercontent.com/880728/27951785-5d9fc9a0-6306-11e7-8481-a89ac93866d6.png)

[2017-07-07 11:24] GitMonkey007 opened #5548 "NuGet Pack with invalid AssemblyInformationalVersion reports "description is required""
Hi

There seems to be an issue with the nuget pack option when the **AssemblyInformationalVersion** contains an invalid value. I had presumed "beta" was an acceptable value and then I see "author/description is required" which is the error from issuing the "nuget pack" command. This is misleading.

To recreate

1. Start a new project
2. Edit AssemblyInfo.cs and add [assembly: AssemblyInformational

[2017-07-07 12:52] sbrl commented on #1946
@Jose-CF Ummm what? You don't use .csproj files in .NET core? I have more reading to do than I thought......

[2017-07-07 13:08] sam-wheat commented on #5441
@rohit21agrawal I am looking at your projects.  What version of Nuget are you using?  Also, What parameters did you use to generate the pkg?  Thanks

[2017-07-07 16:11] emgarten commented on #2047
I don't think this is needed anymore.

[2017-07-07 16:11] #2047 closed, assigned to xavierdecoster

[2017-07-07 16:21] rainersigwald commented on #4530
@rrelyea You can probably close this; MSBuild plans to take a fix that will result in `VisualStudioVersion` being defined all the time: https://github.com/Microsoft/msbuild/pull/2258.

[2017-07-07 16:28] emgarten commented on #5169
@neilcawse would you open a new issue and provide a repro solution that I can try?

[2017-07-07 16:29] #5542 closed, assigned to nkolev92

[2017-07-07 16:50] nkolev92 opened #5549 "Rethink caching of nominations"
We have added the ability to specify NuGet related properties in MSBuild.
The validation of these properties needs to be done at restore time rather than nomination, so that we throw the appropriate warnings.

This is not fully the case right now.
The proposed solution would be to extend the nomination to include a property bag.
In addition we minht need to cooperate with Roslyn/SDK teams to poten

[2017-07-07 16:59] #5538 closed, assigned to emgarten, anangaur

[2017-07-07 17:00] mishra14 commented on #5544
@alpaix who is on hotseat this week!

[2017-07-07 17:04] mishra14 commented on #5544
@lyuboasenov could you check if the projects have the same `BaseIntermediateOutputPath` ?

If so then its possible that both restores are running but the project assets file is overwritten.

[2017-07-07 17:05] DerAlbertCom commented on #4670
Why is this a dupe?

[code]
There is an Option to set the verbosity, which get's ignored. So this is clearly a bug, and not a dupe #3772.

[code]
are both not delivering the diagnostic verbosity. Evertime minimal is used.

i found out the that with
[code]
i can set the desired verbosity. But this not user friendly when there is an official option on the cli for the verbosity which is ignored.

[2017-07-07 17:17] rohit21agrawal commented on #5441
4.3.0.4258 version of NuGet.

I am using a post 15.3 preview3 build of Visual Studio

[2017-07-07 18:00] ghost opened #5550 "Visual Studio 2017 Package Manager Console Requires PowerShell 2.0"
PowerShell 2.0 has gotten the ban hammer at work due to security issues, since then the Visual Studio package manager console won't work.

I keep getting the error
Error: The Package Manager Console requires PowerShell 2.0 runtime, which is not detected on this machine. Please install the PowerShell 2.0 from http://support.microsoft.com/kb/968929 and restart Visual Studio.

I am running a windows

[2017-07-07 19:17] nkolev92 opened #5551 "-NoCache got broken by --force changes"
Adding --force option broke the -NoCache option.
No cache should also force in the short-term.

[2017-07-07 19:46] attilah opened #5552 "Nuget restore throws exception in multiple versions of VS"
Building from VS is not working, building via dotnet.exe works as expected.

I’ve attached the repro project.

The reason to cause the failure is the targetFrameworks element. If it is net462 OR netstandard1.5 it works, if it is both, then don’t.

I’ve dotnet core sdk 2.0.0-preview3-006689 on my machine.

VS2017 15.2 Works, but I think that does not pickup this version of the SDK.
VS2017 15.3 Prev

[2017-07-08 12:55] Wil73 commented on #1192
I am going to take a different but safer position on this: leave this up to the user.

Why on earth should Microsoft FORCE users to adopt the "safest is best" strategy in the first place?

Is there any reason why we cannot add a switch to nuget.exe and NPM that allows the user to decide their own package restore strategy?

This way consumers of nuget can align nuget behavior to their own business

[2017-07-08 15:14] Wil73 opened #5553 "Allow users to determine package resolution strategy during package restore - direct or transitive"
I am not going to debate if highest or lowest should be the default: leave the actual behavior up to the consumer.

Why on earth should Microsoft FORCE users to adopt the "safest is best" strategy in the first place?

Is there any reason why we cannot add a switch to nuget.exe and NPM that allows the user to decide their own package restore strategy?

This way consumers of nuget can align nuget be

[2017-07-08 15:29] davidfowl commented on #5553
Lowest should be the default, but that's just my opinion. It's the best way to get a "working set of packages". Everyone in the graph gets what they compiled against and things only roll forward minimally if sibling packages need higher versions.

It's more of a "safest is default strategy" because people want to get a working set of packages by default. In a system where you *need* binary compati

[2017-07-08 15:36] Wil73 commented on #5553
I am not going to debate what the default ought to be.  I really am not concerned over that.  Technically this is NOT a default when you can't configure it otherwise. It's only a default if you can change it.  We can't.

My company is frustrated that Microsoft will not allow businesses to DECIDE Nuget resolution behavior for themselves.

It makes absolutely no sense why Microsoft should have a mon

[2017-07-08 16:30] smartcaveman commented on #5436
I'm running into the same issue.  The only difference is that my preview version is: 2.0.0-preview2-006497.

It is worth noting that removing the `.Web` from the `Sdk` attribute will result in the NuGet file being generated on build.

[2017-07-08 18:37] smartcaveman commented on #5436
So, I figured this one out.  Details are below, I hope this helps someone else:

- NuGet is exhibiting correct behavior.

- The MSBuild configuration that ships with .NET Core 2.0 Preview disables NuGet packaging for any projects using the `Microsoft.NET.Sdk.Web` project.

- It's reasonable to assume that this is actually not a bug but is an intentional safeguard against packaging web applications

[2017-07-08 19:33] sam-wheat commented on #5441
@rohit21agrawal  Thanks very much for your help :)
I finally tracked this down to an old version of nugget.exe on my laptop.
For the record for anyone else:  this is a bug in nuget 3.5.  This  has been fixed in 4.1.

[2017-07-08 19:33] #5441 closed, assigned to nobody

[2017-07-09 09:51] Necroskillz commented on #5540
see my issue: #5525. I think we have the same problem.

/cc @danielwertheim

[2017-07-09 22:51] davidfowl commented on #5553
It's required with `PackageReference` because there's no way to make restore deterministic if you don't add it. If there's no asset you can commit to source control to lock dependencies then restoring the latest versions of all dependencies could give dramatically different results build to build. That might not be an issue if you tightly control the feeds but it is in the general case so just add

[2017-07-09 22:58] Wil73 commented on #5553
I think having the flexibility to choose resolution strategies is just as important as having a deterministic build.  I do agree a deterministic build is important, but so is flexibility, which has been in short supply for long enough.

There is so much debate as to what the restore default should be (highest or lowest), but the point is irrelevant: higher or lower should be a choice the business

[2017-07-09 23:05] davidfowl commented on #5553
Sure. Like I said, it's possible with packages.config and that functionality should be ported to PackageReference (project.json is pretty much deprecated at this point) along with a way to lock the graph after resolution.

I think you can have both though. IMO it wouldn't be great if we had a feature that most people couldn't use because we didn't think through the end to end.

That doesn't work.

[2017-07-10 00:39] Wil73 commented on #5553
project.json will resolve to the lowest version it can find.  If the version the build uses normally gets de-listed your deterministic build is out the window.

If you are going to use dependencies from nuget.org or any other third party site, you cannot get a deterministic build every time, even with nuget restore working as it does now.

When you depend on a third party for some of your librarie

[2017-07-10 00:46] davidfowl commented on #5553
1. It's *super* uncommon to de-list things. That said, I'm not even sure restore respects this.
2. If you delete things, your build is broken anyways.

You can 98% of the time (I made that up), because de-listing on nuget.org is rare and deleting is impossible. Now, if you're mirroring your dependencies to a myget feed or controlled feed, it's even better since you'd rarely delete or de-list anyth

[2017-07-10 01:59] Wil73 commented on #5553
I would have to double check for Nuget 4, but you can get a deterministic build using highest version with a version number limit.  I don't think Nuget 4 will allow this scenario out of the box either.  It's not 100% predictable, but the point is we cannot even configure that.

If you want to lock, then use VS 2015 and Nuget 3.5.  You just have to check in your project.lock.json.
 That works just

[2017-07-10 02:09] davidfowl commented on #5553
Not only is it not predictable, it's probably more broken (especially for dependencies out of your control).

That works just fine.

VS 2017 with PackageReference is the future of nuget and it needs a proper lock file story.

[2017-07-10 02:16] Wil73 commented on #5553
How is getting the latest version "out of control?"

Our approach at our company is to use a fixed version number for third party dependencies and use the highest version for in house packages.  We don't update third party dependencies nearly as often as we update internal packages.  We have a very large in house class library framework that relies on nuget to be sensible: right now it's not.  We

[2017-07-10 02:40] davidfowl commented on #5553
You misread, I said "dependencies that are out of your control".

Sure. How do you restrict the resolution strategy to only update certain dependencies?

I think I agreed with you each time you made this comment but my position hasn't changed when it comes to needing a lock file with this feature.

I have little say in what the nuget team does here so I can't say how or when this would ever happen

[2017-07-10 03:49] Wil73 commented on #5553
You can use project.json syntax to restrict to specific versions or simply de-list other packages so you only have one version in your package line.  It's a hack, but it works.

Yes, you would want a switch or option for both NPM and the command line restore of course.

[2017-07-10 07:16] anangaur commented on #5553
That's a long thread over the weekend. :)
From what I have observed (here - this thread as well as talking to other folks), the requirements seem to be the following:
1. Allow users to decide the dependency resolution strategy - direct as well as transitive
2. Allow users to lock down on the dependency versions in the transitive world - to enable repeatable build

Both # 1 and # 2 seem to be lacki

[2017-07-10 07:26] j4zzlee commented on #4190
@geirsagberg,
Still does not work. When use "dotnet restore", it still says: "...  has a package type 'DotnetCliTool' that is not supported ..."

[2017-07-10 09:43] josephjoychristopher opened #5554 "nuget service is down? i am getting error on downloading the package"
nuget service is down? i am
![image](https://user-images.githubusercontent.com/8872113/28012094-62494296-6582-11e7-8b43-a787f7b28a30.png)
 getting error on downloading the package

[2017-07-10 11:42] AdrienTorris commented on #4190
Same error than @st2forget . I tried to add the package manually in the csproj but the error is still the same.

[2017-07-10 11:45] AdrienTorris commented on #4190
I created the issue 313 but maybe it's a duplicate of this one :s

[2017-07-10 14:50] AdrienTorris commented on #4190
It works now. I did nothing, just wait ...

[2017-07-10 15:10] OraDotNetDev commented on #5550
Looks as though there's a fix [here](https://github.com/NuGet/Home/issues/5294) but it's waiting to get pushed into the live stream?

[2017-07-10 15:44] #4128 closed, assigned to joelverhagen

[2017-07-10 16:02] mishra14 commented on #5501
Moving to 4.4/To-Do based on internal discussion.

[2017-07-10 16:05] mishra14 commented on #5517
Closing as dupe of #4699

[2017-07-10 16:05] #5517 closed, assigned to mishra14

[2017-07-10 16:39] sandyarmstrong opened #5555 "`UserSettingsDirectory` resolves incorrectly for dotnet on Mac"
## Environment

`dotnet 2.0.0-preview3-006689`
OS X (and presumably Linux)

## The Problem

When using NuGet functionality in .NET Core on Mac (and presumably Linux), `NuGetFolderPath.UserSettingsDirectory` incorrectly resolves to `~/.nuget`, causing a different default `NuGet.config` to be used than Visual Studio for Mac or any non-Core user of `Nuget.Client`.

## Impact

On Windows, users expect

[2017-07-10 16:42] livarcocc opened #5556 "Allow an upper limit Version for ProjectReference references in nupkg from `dotnet pack` to support semver"
_From @csMACnz on July 10, 2017 10:20_

It would be good to be able to support [Semantic Versioning](http://semver.org/) from a csproj `ProjectReference`, like you can with PackageReference. To do this, upper version limits in nuget packages help a lot.  You cannot currently do this with ProjectReferences and `dotnet pack`.

## Steps to reproduce
* Create two projects, MyReferencedPackage, and MyN

[2017-07-10 16:45] ajcvickers opened #5557 "The term 'Add-Migration' is not recognized as the name of a cmdlet, function, script file, or operable."
Fling this here to bring attention to the internal issue: https://devdiv.visualstudio.com/DevDiv/_workitems?id=456961&_a=edit

The issue that has been re-activated is now failing with:
[code]
In that case, the CLI is not in the picture, so I am not sure why we are tracking this in the CLI.

Please see the internal issue for full details.

[2017-07-10 16:47] bigwad opened #5558 "What is the msbuild /t:pack counterpart for nuget's IncludeReferencedProjects option"
With nuget it's possible to automatically add referenced project's output into a package. How to achieve the same with msbuild /t:pack?

[2017-07-10 16:54] sandyarmstrong commented on #5555
@livarcocc

[2017-07-10 17:18] BenjaminHolland commented on #5052
I've also experienced the same issue. I've got the curl version specified in the marked solution but it's still not working correctly.

[2017-07-10 17:35] d-arkhipenko commented on #5052
Hi, BenjaminHolland
you can try to install last curl from https://curl.haxx.se/ this helps too
or https://www.howtoinstall.co/en/ubuntu/xenial/curl

[2017-07-10 17:35] anangaur commented on #5538
I made the changes to the [wiki](https://github.com/NuGet/Home/wiki/Restore-errors-and-warnings)

[2017-07-10 17:53] rohit21agrawal commented on #5493
@mavasani @Srivatsn where should we file an issue for this?

[2017-07-10 18:07] rrelyea commented on #5461
This is because packages.config projects do not check compatibility during restore. Which is by design.
Build still fails for that scenario.

[2017-07-10 18:07] #5461 closed, assigned to rohit21agrawal

[2017-07-10 18:10] rohit21agrawal commented on #5558
@bigwad this is not possible out of the box right now, but you can do some msbuild magic to achieve this. let me know what scenario are you trying to solve and I will help you out with it.

[2017-07-10 19:07] nkolev92 opened #5559 "Prepare build for 3.6.0"
Prepare the CO build for VS 2015 3.5.x

[2017-07-10 19:09] nkolev92 opened #5560 "Semver 2.0 support VS 2015"
Add semver 2.0 support to VS 2015.

[2017-07-10 19:10] rohit21agrawal commented on #5550
@OraDotNetDev is right. the fix will be available in Visual Studio 2017 Update 3 soon.

[2017-07-10 19:10] #5550 closed, assigned to nobody

[2017-07-10 19:11] mishra14 opened #5561 "Discuss/Design a strategy for packing and delivering localized packages"

[2017-07-10 19:11] alpaix opened #5562 "Support Visual Studio Build Tools SKU"
Investigate and add a support for installing NuGet vsix in Build Tools SKU.

[2017-07-10 19:14] rohit21agrawal opened #5563 "Rohit -Bug Jail"
- [x] 455037 VS2017 hangs while updating NuGet packages in C++ project
- [x] #5408 Regression: msbuild /t:pack fails with `The file '' to be packed was not found on disk

[2017-07-10 19:14] alpaix opened #5564 "Acessibility tenet sign-off"
Review accessibility compliance of NuGet v4.3

[2017-07-10 19:15] rrelyea opened #5565 "Bug Jail"

[2017-07-10 19:17] nkolev92 opened #5566 "Compat tenet sign off for 4.3"

[2017-07-10 19:17] rrelyea opened #5567 "Ashish - Bug jail"
- [x] Internal bug# 460684 - Perf: CreateUAP_CSharp_VS.04.5.F5 to breakpoint after edit regressed Duration_TotalElapsedTime by 1,306.387 ms (40.5%). Baseline 26703.00

[2017-07-10 19:17] mishra14 commented on #4336
Related design task: https://github.com/NuGet/Home/issues/5561

[2017-07-10 19:19] rrelyea opened #5568 "Net standard 2.0 support for VS2015"
More details here:
https://github.com/NuGet/Home/issues/5325
https://github.com/NuGet/Home/issues/5188

[2017-07-10 19:19] ghost commented on #5550
Thanks.

[2017-07-10 19:19] rrelyea opened #5569 "NuGet build for VS 2015"

[2017-07-10 19:19] emgarten opened #5570 "Justin - Bug jail"
Clean up remaining issues for 4.3

- [x] #5583 Dotnet restore hangs indefinitely   (globs?)
- [x] #5530 4.3.0-preview3 expects certain targets to exist (nuget.exe regression, msbuild /t:restore was broken) - merged into dev.

Shepharding CLI Fix, with problem in VS  - may take a fix from us afterall ... need to drive.
- [x] #5529 RestoreAdditionalProjectSources nominations for multi TFM projects a

[2017-07-10 19:19] alpaix opened #5571 "Zhi Bug jails during 4.4"
VSTS - LSL hang issue Cost: 15
GitHub - config bug Cost: 15

[2017-07-10 19:20] johnrutherford commented on #4941
I'm having this same issue too.

[2017-07-10 19:20] alpaix opened #5572 "reserved package prefix work - client UI"

[2017-07-10 19:21] rrelyea opened #5573 "121.1 - Client Hot seat and Support Request"

[2017-07-10 19:22] rohit21agrawal opened #5574 "121.2 - Rohit- Support requests"

[2017-07-10 19:22] emgarten opened #5575 "E2E test investigation strategy"
Investigate replacing E2E powershell tests

[2017-07-10 19:23] alpaix opened #5576 "security tenet signoff"

[2017-07-10 19:23] mishra14 opened #5577 "Bug Jail Sprint S121"
Bugs: #5510

[2017-07-10 19:23] rrelyea opened #5578 "Perf tenet signoff for 15.3"

[2017-07-10 19:23] rohit21agrawal opened #5579 "Compliance Tenet work"

[2017-07-10 19:23] emgarten opened #5580 "Reliability tenet for 4.3"
Investigate top reliability issues for 4.3

[2017-07-10 19:23] mishra14 opened #5581 "tenet sign off for 15.3"
Need to sign off for World Ready Tenet

[2017-07-10 19:29] rrelyea commented on #5569
dupe

[2017-07-10 19:29] #5569 closed, assigned to jainaashish

[2017-07-10 19:38] DoRonMotter opened #5582 "Alex - Bug Jail"

[2017-07-10 19:59] bricelam commented on #5541
This only seems to happen after I restore with a local copy of `dotnet.exe` version 2.0.0-preview3-* then try to use the solution in VS with .NET Core 2.0 Preview 2 installed.

Probably low priority since it's an unsupported scenario and will most likely sort itself out in 2.0.0 RTM.

[2017-07-10 20:00] rrelyea commented on #4941
I think msbuild might be version 15.1, not 15?
@watashiSHUN - In order to discover the per VS install (per willow) - I believe you need to use NuGet.exe 4.1.0 or later

[2017-07-10 20:06] srivatsn commented on #5493
dotnet\project-system

[2017-07-10 20:13] dend commented on #5333
@rrelyea to give you a better example, we are trying to use the NuGet API to install the following package:

_Microsoft.VisualStudio.Services.ExtensionManagement.WebApi 15.118.0-preview_

One of the dependencies is this package:

[https://www.nuget.org/packages/Microsoft.VisualStudio.Services.Gallery.WebApi](https://www.nuget.org/packages/Microsoft.VisualStudio.Services.Gallery.WebApi)

Notice tha

[2017-07-10 20:15] thashepherd commented on #1823
Please re-add this feature! It's a huge boost to dev quality of life in our workflow.

[2017-07-10 22:10] #5510 closed, assigned to mishra14

[2017-07-10 22:24] joelverhagen commented on #5287
Any plans for this @rrelyea?

[2017-07-10 22:28] dtwilliams10 commented on #4190
Still not working for me, same error as @st2forget

[2017-07-10 22:31] sandyarmstrong commented on #5555
I just tested a new .NET Core 2.0 solution restore on Mac.

Mono 5.2.0.196
dotnet 2.0.0-preview3-006689
VSmac Version 7.1 Preview (7.1 build 1258)

Here are the results:

* `dotnet restore`
  - uses `~/.nuget`
* `dotnet msbuild /t:Restore blah.sln`
  - uses `~/.nuget`
* `msbuild /t:Restore blah.sln`
  - uses `~/.config`
* Visual Studio for Mac right-click solution and `Restore NuGet Packages`
  -

[2017-07-10 23:42] alpaix commented on #5557
Not related to earlier fixes. Bug repro's in the latest preview 4 builds.
The actual root cause is NuGet was unable to locate `init.ps1` scripts in packages installed in .NET Core fallback folders.
Increasing estimate as the fix may be tricky.

[2017-07-10 23:42] alpaix commented on #5557
//cc @rrelyea

[2017-07-10 23:48] ajcvickers commented on #5557
@alpaix @rrelyea Just to clarify where this is broken, since I'm not sure which preview4 is being referred to. Is this broken for the RTM bits that will be available for the .NET Core 2.0 release? If so, this is very likely a ship-stopper for that release.

[2017-07-10 23:49] ajcvickers commented on #5557
/cc @Eilon @divega

[2017-07-10 23:58] davkean opened #5583 "dotnet restore hangs indefinitely"
_From @richlander on July 3, 2017 20:57_

See:

- https://github.com/dotnet/core/issues/711#issuecomment-312688873
- https://github.com/dotnet/core/issues/711#issuecomment-312708156

/cc @rrelyea

_Copied from original issue: dotnet/core#724_

[2017-07-10 23:58] davkean commented on #5583
_From @MathiasKowoll on July 3, 2017 22:45_

I looked that while having many libs in the folder wwwroot\lib dotnet restore takes a while to restore the files, If I remove that folder it restores immediately.

This happens with al dotnet commands. CLI and Visual Studio 2017 Preview 3

[2017-07-10 23:58] davkean commented on #5583
_From @dsyme on July 4, 2017 22:22_

I put a full process dump of a hung dotnet.exe here: https://1drv.ms/u/s!Aq5gXOPBI5HdiroRLPy1hDY3yK80kQ

[code]

[2017-07-10 23:58] davkean commented on #5583
_From @dsyme on July 4, 2017 23:5_

I eventually realised that I had a very large number of files in the subdirectories under the ``c:\misc`` in which I was running "dotnet".  The c:\misc directory itself contained just the results of a ``dotnet new``. The subdirectories included Git repos and much more - 20,000 files and 1.6GB

Now, it's my belief that the presence of these files shouldn't have c

[2017-07-10 23:58] davkean commented on #5583
_From @Petermarcu on July 7, 2017 7:43_

@rrelyea should this get moved to the nuget repo to get tracked?

[2017-07-10 23:58] davkean commented on #5583
_From @Lanayx on July 7, 2017 9:1_

I got the same issue. For me the problem was that new _dotnet restore_ (from dotnet-sdk-2.0.0-preview2-006497-win-x64) ignores disabledPackageSources configuration in NuGet.Config, and I had some of them unreachable. Removing these sources helped.

[2017-07-10 23:58] davkean commented on #5583
_From @richlander on July 7, 2017 13:53_

@Petermarcu I was going to make @ https://github.com/NuGet/NuGet.Client but issues are not enabled.

[2017-07-10 23:58] davkean commented on #5583
_From @Petermarcu on July 7, 2017 15:24_

@richlander you make it on the nuget/home repo

[2017-07-10 23:58] davkean commented on #5583
_From @forki on July 7, 2017 18:0_

Same issue here: https://github.com/fable-compiler/Fable/issues/1042

[2017-07-10 23:58] davkean commented on #5583
_From @rrelyea on July 7, 2017 18:22_

Working on creating NuGet/home issues ... will link when created.
Update: Actually, I lied...let's drill into these 2 issues a bit first...

[2017-07-10 23:58] davkean commented on #5583
_From @rrelyea on July 7, 2017 18:24_

@dsyme  - in dotnet cli v1 previews, we used to walk all the sub directories. I had thought we changed that when we switched to make restore recursive (across project references) by defeault. do you have the same problem if you do a "dotnet restore --no-dependencies" in that same directory?

[2017-07-10 23:58] davkean commented on #5583
_From @rrelyea on July 7, 2017 18:25_

@MathiasKowoll - can you please give me repro steps for your problem (full details), and how you avoided it.

[2017-07-10 23:58] davkean commented on #5583
_From @rrelyea on July 7, 2017 18:34_

@forki - I am unable to repro.
after you have done dotnet new, a restore should have already been completed.
when you do a build, it will also do a restore, if it deems that one is necessary.
Can you please file an issue in NuGet/Home about the issue you are seeing, with repro steps (including setup steps if necessary?

[2017-07-10 23:58] davkean commented on #5583
_From @MathiasKowoll on July 7, 2017 18:49_

@rrelyea create mvc app with individual authentication.

replace bower.sjon with the following.

{
  "name": "ItsomaxCms",
  "private": true,
  "dependencies": {
    "jquery": "^3.2.1",
    "jquery-ui": "1.12.1",
    "bootstrap": "^3.3.7",
    "font-awesome": "4.3.0",
    "jquery-validation": "1.16.0",
    "jquery-validation-unobtrusive": "3.2.6",
    "

[2017-07-10 23:58] davkean commented on #5583
_From @forki on July 7, 2017 18:51_

@rrelyea thanks for looking into this. I notified the original author of the issue. We have multiple people reporting this on the fable gitter chat. I assume it's related to node_modules and dotnet restore iterating long time over it

[2017-07-10 23:58] davkean commented on #5583
_From @forki on July 7, 2017 19:24_

Seems that things worked with preview1 see https://github.com/fable-compiler/Fable/issues/1042

[2017-07-11 00:09] rrelyea commented on #5554
Which package source do you have set in the drop down list box in Package Manager console? (name & url?)

[2017-07-11 00:50] divega commented on #5557
If it is referring to Visual Studio 15.3 Preview 4 it likely is a ship stopper as well.

[2017-07-11 01:24] mishra14 commented on #5509
closing this as the project systems bug has been closed as "By Design" - https://github.com/dotnet/project-system/issues/2574

[2017-07-11 01:24] #5509 closed, assigned to mishra14

[2017-07-11 03:20] AArnott opened #5584 "msbuild /t:pack fails with The "DevelopmentDependency" parameter is not supported by the "PackTask" task"
## Details about Problem

VS version (if appropriate): d15rel 26709.00

[code]

This works fine on the latest 15.2 release, so **it's a regression in 15.3**.

## Detailed repro steps so we can see the same problem

[code]

**Expected**

Build succeeds

**Actual**

[code]

[2017-07-11 04:03] JoseFMP commented on #1946
@sbrl I use cspoj files to define my .NET projects. What do you mean?

[2017-07-11 04:33] maartenba commented on #5287
Or 4.2 and 4.3 for that matter, given I've seen those numbers in several issues here :-)

[2017-07-11 04:37] anangaur commented on #4703
@davkean I could not make out if these errors/warnings duplicate? Are you getting the same warning for the same package and project multiple times?

[2017-07-11 04:41] davkean commented on #4703
Both, getting the same warning (but maybe a different path?) for the same package in the same project, and getting them for lots of projects.

The latter is probably expected (and experience will be better due to the way you changed logging these errors) but the former should be collapsed into a single error.

[2017-07-11 04:49] anangaur commented on #4703
Agree getting the same warnings multiple times is bad.

@emgarten @mishra14 did we by any chance improve this scenario with the improved warnings/errors? Or is it still a known issue?

Btw is their a simpler repro of this?

[2017-07-11 06:00] forki commented on #5583
I don't think it's nuget issue since we also see slow behavior in dotnet build.

[2017-07-11 06:07] #5032 closed, assigned to nobody

[2017-07-11 07:42] davkean commented on #5519
@jainaashish Note that MSBuild issue isn't the bug - that's just an incidental performance issue, it's not going to be the cause of the bulk of the issue.

[2017-07-11 11:58] bhugot opened #5585 "Enable a way to add a dependency not use by the project but by children"
Maybe I missed the configuration for it,

I have a project with build dependency that come from another lib and I need to be able to add the dependency to the other lib without import the target.

It there a way to do it?

[2017-07-11 14:17] bigwad commented on #5558
I have a multitarget (net45 and netstandard1.6) library project that has direct and transitive dependencies on several another multitarget library projects. I want to pack top-level library along with all its dependencies into a single package.
Would be interesting to see "msbuild magic" you mentioned but in practice I prefer simple solutions so I created .nuspec file and listed all dependencies m

[2017-07-11 15:26] livarcocc opened #5586 "dotnet restore works for too long (almost 2 hours)"
_From @lampersky on July 11, 2017 6:50_

## Steps to reproduce
1. Go to sln directory,
2. Run "dotnet restore Solution.sln".

## Expected  behavior
This task should finish in few seconds if nothing has changed in your dependecies.

## Actual behavior
This task takes about 7000 seconds in azure environment.

## Environment data
`dotnet --info` output:
.NET Command Line Tools (2.0.0-preview2-006497)

[2017-07-11 16:30] jhudsoncedaron commented on #5490
We've been playing with the new tooling in .NET Core 2.0 preview; the new tooling fixes the bug by accident as it made dotnet restore implicit to dotnet build at the project level; it's still quite spectacular to open our master solution in Visual Studio and watch it promptly hose the build environment (apparently by invoking dotnet restore explicitly).

[2017-07-11 16:33] jhudsoncedaron commented on #5585
If I understand what you want this exist but is currently bugged: https://github.com/NuGet/Home/issues/5490

[2017-07-11 16:42] kzu commented on #1946
you mean forced to use the NEW csproj format ;), which totally rocks!

[2017-07-11 16:45] kzu commented on #5103
Ok, it looks like this will need some deeper inspection of the artifacts that nuget generates to determine this, because I'm not sure we're getting all the info we need in plain MSBuild to distinguish them (i.e. no `%(PrivateAssets)` metadata on assets resolved from nuget?

[2017-07-11 17:37] alpaix commented on #5557
@divega That's correct. The plan is to get escrow approval for this fix to be shipped with next release of Visual Studio 2017 15.3.

[2017-07-11 17:50] sbrl commented on #1946
@Jose-CF I'm just confused. What's changed? Does anyone have a good article they can recommend to me to bring my knowledge up-to-date?

[2017-07-11 18:01] rhythmnewt commented on #5447
Adding this support will help greatly those using dotnet CLI.

[2017-07-11 18:45] nhtbtmz commented on #962
Hello guys,
If you have problem with an entityframework package just try to install latest stable version from Nuget. Prerelease versions may cause trouble.

[2017-07-11 19:34] mikkeljohnsen commented on #5583
If I install "kendo-ui-core" through bower "dotnet build" will hang indefinitely.

If I delete "wwwroot/lib/kendo-ui-core/" it will build again.

Please fix this ASAP, so we can get on with development.

[2017-07-11 19:38] tmds commented on #5380
@emgarten @rrelyea this issue can be closed. Using the 2.3.0-beta3 package works for me. Thanks.

[2017-07-11 19:40] mishra14 commented on #5583
Tagging @emgarten for restore visibility.

@forki @mikkeljohnsen : Are you seeing an indefinite hang in  `dotnet restore`  as well?

[2017-07-11 20:04] emgarten commented on #5586
@lampersky do you have a github repository that reproduces this?

[2017-07-11 20:16] mikkeljohnsen commented on #5583
@mishra14  dotnet restore is not indefinitely but takes about 5 minutes.
and dotnet build is also not indefinitely from the command line it takes about 5 minutes as well.
(did not wait that long before)

[2017-07-11 20:20] forki commented on #5583
The same is happening on azure now. This issue spreads.https://github.com/dotnet/core/issues/724#issuecomment-314487750

[2017-07-11 21:14] #5380 closed, assigned to nobody

[2017-07-11 21:50] #5577 closed, assigned to mishra14

[2017-07-11 21:58] jainaashish opened #5587 "Analyze watson data for AddReference fix improvement"
Look for the internal customers who were facing AddReference issue and analyze if our fix has improved the overall experience. And are the improve numbers through perf watson.

[2017-07-11 22:06] rohit21agrawal commented on #5584
can you try installing dotnet 2.0.0-preview2 from https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.0-preview2-download.md and then giving this a try?

[2017-07-11 22:20] emgarten commented on #5583
This appears to be an issue with msbuild file globbing in the project on dotnet CLI. MSBuild in desktop does not have this issue. I also don't see any changes to the SDK around the props including these.

Using the bower.json file above here are the numbers I am getting:

| Scenario | Time |
| -------- | ----- |
| dotnet msbuild /t:clean | 56s |
| dotnet build --no-restore | 60s |
| dotnet restore

[2017-07-11 22:29] tomtheisen commented on #5490
For anyone else struggling with Visual Studio working with solutions like this, I have found a work-around that works for me.  The problem is that normally VS automatically restores packages for solutions when they load.  However, restore is broken, as per this issue.  So this automatic restore is a sure-fire way to break your build.

My solution is to create a delicate custom-built restore script

[2017-07-11 22:56] AArnott commented on #5584
Thanks for your help @rohit21agrawal. As you found, a stale copy of the NuGet.Build.Tasks.Pack.dll assembly is carried by ths msbuildsdkextras package.

[2017-07-11 22:56] #5584 closed, assigned to rohit21agrawal

[2017-07-12 00:13] nkolev92 opened #5588 "Package is not shown as resolved in the UI"
- Create a new .NET Core console app
- Add a dependency
[code]
- It should restore at resolve 2.0.0-preview2-final.
- Now change the dependency to 2.0.0-preview2-final explicitly
[code]
- The package fails to be resolved in Microsoft.AspNetCore 2.0.0-*

![pic](https://user-images.githubusercontent.com/2878341/28096624-163ef05c-665f-11e7-9519-a207e632a99b.png)
Note:
Closing and opening the solution

[2017-07-12 01:23] clairernovotny commented on #5561
This should hopefully include creating satellite packages. I cannot move Humanizer to use the pack targets because we cannot create the appropriate satellite package structure today:
https://github.com/Humanizr/Humanizer/tree/dev/NuSpecs