[2016-06-29 16:31] xied75 commented on #1523
@harikmenon Got you. So this issue is not really meant to discuss about the nuget.exe right? Is there an issue for that? That people may still want this kind of function in the command line.

[2016-06-29 16:48] rrelyea commented on #2763
appears to have been fixed with that commit from @zhili1208. setting milestone to 3.5rtm, as it will first ship there.

[2016-06-29 17:04] rrelyea commented on #3060
Unsure if this is inconsistent with a csproj?

[2016-06-29 17:06] rrelyea commented on #3056
@sigalsax  - you said "The caffe project is a download from online"
What is the URL that we can find that project at?
We need to understand the exact steps to find it.

[2016-06-29 17:13] rrelyea commented on #3063
Using VS 2012 Update 4, with built in NuGet Package Manager 2.6.40627.9000, I was not able to see a problem.
1. File new project / Console app targeting .net 4.5
2. add new package "Microsoft.OData.Client" via package manager

Succeeded, with the following packages.config at end:

[code]

[2016-06-29 17:32] rrelyea commented on #3063
Please reactivate if you have more details on how this can be reproduced.

[2016-06-29 17:32] #3063 closed, assigned to nobody

[2016-06-29 17:33] rohit21agrawal commented on #2860
@AndreyAkinshin  can you provide steps for triggering this exception?

[2016-06-29 17:52] AndreyAkinshin commented on #2860
@migueldeicaza, @rohit21agrawal, it is a bug in Mono, here is the bug report: https://bugzilla.xamarin.com/show_bug.cgi?id=41914
I think, you can fix the issue in NuGet using a global mutex (like in the CoreCLR case) instead of the named mutex.

[2016-06-29 18:01] sigalsax commented on #3056
http://caffe.berkeleyvision.org/installation.html

this is where I downloaded it from

Thanks!

Sigal

On Wed, Jun 29, 2016 at 1:07 PM, Rob Relyea <notifications@github.com>
wrote:

--
Best,
Sigal Sax

[2016-06-29 18:09] #3013 closed, assigned to jainaashish

[2016-06-29 18:16] #3041 closed, assigned to rohit21agrawal

[2016-06-29 18:29] CheloXL commented on #3060
@rrelyea Just a comment (as you changed the title): It's not only that it's defaulting to debug, but the folder where nuget tries to find the binaries is completely wrong.
Even building in debug mode, the correct path (to the debug .dlls) is `bin\Debug\netstandard1.6`

[2016-06-29 19:02] rohit21agrawal commented on #2860
@AndreyAkinshin I asked so I could thoroughly test my changes. This is what I have in mind:

[2016-06-29 19:15] harikmenon commented on #1523
nuget.exe is not meant to be used for updating VS projects. nuget.exe is a lightweight command line utility and in-order for it to have knowledge about VS, it would require it to take a dependency on VS assemblies or the product which defeats the purpose for the tool. Also, packages,config is not something we are looking into investing going forward (supported: yes, new investments: probably not).

[2016-06-29 19:33] AndreyAkinshin commented on #2860
Take the example from the [bugreport](https://bugzilla.xamarin.com/show_bug.cgi?id=41914) and replace the mutex code by a LoadDefaultSettings invocation.

[2016-06-29 20:53] rohit21agrawal commented on #2860
@AndreyAkinshin
or we could detect at runtime if we are running on mono, and revert to using global mutex :

https://github.com/NuGet/NuGet.Client/pull/720/commits/218a1c1ba5ab4580d15b94710af6e378a8b5b465

[2016-06-29 21:06] rohit21agrawal commented on #3030
@rrelyea

Would the correct string here be :

<value>A stable release of a package should not have a prerelease dependency. Either modify the version spec of dependency "{0}" or update the version field.</value>

[2016-06-29 21:48] SvenAelterman commented on #2392
I am unclear, using 15 Preview 2, how to avoid this problem?

[2016-06-30 08:17] nandersen674 opened #3064 "Problems maintaining parallel builds while caching packages locally."
Hi Support

We maintain build servers (TeamCity) which run a large selection of builds VS2015sp2. They consume a variety of nuget packages, and occasionally we upgrade one component or other. Some components are rather large. Some components are only used in one project and not in others.

Problem: When deselecting a package in a project using the NuGet Package manager, the package is deleted on d

[2016-06-30 08:29] davidxcrowe opened #3065 "How to confirm that the nuget call is happening on a TFS build?"
Basically, the build can't find packages, but I can't work out if nuget is even trying to restore them!

[2016-06-30 10:14] SERWare commented on #1854
Yes, if .nupkg exits, package manager doesn't show .symbols.nupkg. As a turnaround to select normal or symbols packages on local folders, create one folder to feed normal packages and other for the symbolic ones. Add both feeds with "package manager settings" in VS or modify nuget config file, and then select packages from the normal or symbolic feed.

[2016-06-30 10:36] rrelyea commented on #3065
I'm not an expert on TFS build. Have you raised this issue with TFS build experts?
Can you share relevant parts of the log, etc...
Does TFS build have a way to increase the verbosity of the logging?

By the way, checked 3.4.4 and 3.5.0-beta2 of "nuget.exe restore" in a directory with a .sln and saw that we had pretty good output:

When there is no work to do:

What version of NuGet is being used?

[2016-06-30 10:56] rrelyea commented on #3064
Thanks for the feedback. Understand the need.
Just did a quick repro. Looks like NuGet Package Manager will leave the package in the repository if one of the other projects in the solution is using it. However, if a project in another solution is using it, it doesn't clean it up.
As far as I know, we don't have a solution or workaround today. Assuming I'm correct, we'll add this issue to our backl

[2016-06-30 10:57] FransBouma commented on #2288
Still borked!

[code]

Do I have to restate the API key for every package I have to upload, even though I am the owner of all of them and am the same user?

Doing `nuget setApiKey <myApiKey>` doesn't fix it, even though it says it will store it for the nuget gallery.

The NuGet.config file contains proper nuget urls, `nuget push -help` states:

[code]

So, it should default to nuget.org, not requi

[2016-06-30 10:57] rrelyea commented on #3062
@harikmenon - I checked stackoverflow, but I didn't see this addressed there. Can you please help find the answer?

[2016-06-30 11:27] FransBouma commented on #2288
I'll open a new issue.

[2016-06-30 11:30] FransBouma opened #3066 "Pushing package using 3.4.4RTM gives Source parameter was not specified."
Probably related to #2288 but I don't use a DefaultPushSource specification.

[code]

Do I have to restate the API key for every package I have to upload, even though I am the owner of all of them and am the same user?

Doing `nuget setApiKey <myApiKey>` doesn't fix it, even though it says it will store it for the nuget gallery.

The NuGet.config file contains proper nuget urls, `nuget push -help`

[2016-06-30 11:50] MistyKuu opened #3067 "project.json with wildstar doesn't generate most recent dependencies when using pack"
Hey,
I am using csproj + project.json approach but it seems that it doesn't produce (at least for me) expected result. When you specify dependencies like this:

[code]

As you can see my project will use the newest version of automapper possible with major version of 2. Nevertheless when I nuget pack this project I'll get dependencies generated like this: >= 2.0. As a result in a consumer project

[2016-06-30 12:18] rrelyea commented on #3067
Please give more detailed repro steps.

I tried:
I took a consoleapp, added this project.json.
Ran "NuGet.exe restore"
Ran "NuGet.exe pack foo.csproj -build"
The nuspec file that was created had no dependency in it all.

How are your steps different?

Update:
retried with 3.5.0-beta2 instead of 3.4.4:
nuspec had the following dependency:
`<dependency id="AutoMapper" version="2.0.0" exclude="Build,

[2016-06-30 12:28] MistyKuu commented on #3067
Please use nuget.exe (v3.5.0-beta2). This version has introduced a concept of generating dependencies from this combination. If you want to stick with nuget 3.4.3 the steps to reproduce are the same except the fact that project shouldn't be csproj but rather .net core

[2016-06-30 13:04] MistyKuu commented on #3067
According to your update: yes it's 2.0.0 which is translated to >= 2.0.0. Now in a consumer project it will resolve 2.0.0 (the lowest possible). In the current project it will use 2.0.2 or whatever version is the highest (wildcard 2.0.\* will take the latest one). I would expect that it will create a package with dependency like this:
`<dependency id="AutoMapper" version="[current version used, wi

[2016-06-30 14:38] OsirisTerje commented on #1448
I don't think this is fixed, we're running 3.4.3.855 and we still see it, on packages coming from nuget org., on some build servers, and it is intermittent.

![image](https://cloud.githubusercontent.com/assets/203432/16492098/d5a4d06c-3ee0-11e6-8bea-cd931595db84.png)

Even if this is caused by something else than nuget, nuget should report properly what is causing it to fail.  Also, it says it is

[2016-06-30 14:43] timotei commented on #1448
@OsirisTerje NuGet 3.4+ has a nicer Verbose output. You should enable it as it will tell you each feed it tries to search the package into.

[2016-06-30 14:46] yishaigalatzer commented on #2288
Fran's the apikey issue is a separate issue that is fixed for 3.5

[2016-06-30 14:50] ravedata commented on #3063
Thank you.

[2016-06-30 15:00] OsirisTerje commented on #1448
@timotei Sounds good, but this is TFS XAML builds, I am not sure if I can easily modify what the nuget verbosity is set to there without murking arund with the xaml.  Thanks for the tip though.  I assume you mean  "-verbosity detailed" ?

[2016-06-30 15:20] harikmenon commented on #3066
The API key issue is fixed in https://github.com/NuGet/Home/issues/2627. Source parameter become mandatory a couple of releases back (3.4.3 or the one before). You need to either use the DefaultPushSource key in nuget.config to set it or specify it explicitly in the CLI.

You are correct that we havent updated the help text on nuget.exe for this breaking change, thanks for pointing it out. We will

[2016-06-30 15:40] harikmenon commented on #3062
@Kanimozhi12 Can you give us a sample project and a detailed repro with the code you have written to call into this method.

We believe this should also work for Website projects but would need to see how you went about constructing the objects and calling the method before we can take a look at this.

Also are you trying to install into a New Project -> WebSite?

[2016-06-30 15:40] harikmenon commented on #3062
CC: @joelverhagen

[2016-06-30 15:49] chauncat opened #3068 "Find-Package fails to display but Install-Package works"
We have a teamcity feedservice that has our private feeds.  In VS 2013 using Nuget 2.8.60318.734 we call get-package -ListAvailable and we get full list of packages.  When in VS2015 we use Find-Package and only get a small subset of available feeds.  Install-Package in VS2015 can find and usually works to install the package.  Sometime it will just update the package.config file but not the projec

[2016-06-30 15:56] #3037 closed, assigned to joelverhagen

[2016-06-30 16:16] xied75 commented on #1523
Thanks once again. So what is the future solution for CI/CD, Automation, Scripting purpose? Say I got a Jenkins, I can git clone some repo, then trying to install some libraries into an existing VS project then build and push, all these should be handled by Jenkins, but we don't have a command line tool that can do this, and nuget.exe is not meant for it. Thus whoever use Windows should continue t

[2016-06-30 16:20] ericstj commented on #1562
FYI: I didn't fix this, @Pilchie & @rchande  did by hiding the registration from NuGet but still putting it in a place that the PCL project system could use it.

[2016-06-30 16:27] joelverhagen commented on #2734
The fix we applied here is to improve the error message that appears to the user when a package contains this invalid framework. More details on the PR:
https://github.com/NuGet/NuGet.Client/issues/715

[2016-06-30 16:27] #2734 closed, assigned to joelverhagen

[2016-06-30 16:37] drewgillies commented on #3053
Not seeing the repro. Suggest closing and re-open if it turns up again.

[2016-06-30 16:42] chauncat commented on #3068
Forgot to mention version in VS2015.  3.4.4.1321

Found the issue with the package not installing but updated in the package.config.  VS2015 does not show the error but in VS2013.  When I corrected the targetfamework the error goes away.  not sure whey the error data does not display in 2015

Install failed. Rolling back...
Install-Package : Could not install package 'XXX.Core.Droid 1.2.683-dev'.

[2016-06-30 17:00] yishaigalatzer commented on #1523
@xied75 can you please take the discussion off this issue? It has diverged enough and it is just adding noise to this issue. I'll be glad to have this discussion with you  on how to address your scenario. This is not the place.

[2016-06-30 17:16] rrelyea commented on #3053
Have you asked @skofman1 ? She and @emgarten were able to hit this, I believe.

[2016-06-30 18:19] jainaashish commented on #3044
Shared a private build of nuget batch events with Resharper team and awaiting their private build with implementation. Then we'll analyze it further.

[2016-06-30 18:22] rrelyea commented on #3068
#2926 similar/same?

[2016-06-30 18:29] #3059 closed, assigned to nobody

[2016-06-30 18:36] 304NotModified commented on #3059
Why is this issue closed?

[2016-06-30 18:39] rrelyea commented on #3059
Should have given an update. Transferred to aspnet team: https://github.com/aspnet/Home/issues/1618

[2016-06-30 18:45] chauncat commented on #3068
Sounds like the same issue.

Date: Thu, 30 Jun 2016 11:22:32 -0700
From: notifications@github.com
To: Home@noreply.github.com
CC: chauncat@hotmail.com; author@noreply.github.com
Subject: Re: [NuGet/Home] Find-Package fails to display but Install-Package works (#3068)

#2926 similar/same?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or

[2016-06-30 19:17] 304NotModified commented on #3059
Ok thanks!

[2016-06-30 19:40] alpaix commented on #1056
@Torgrimm I was unable to repro this issue with 3.4.4.1321.
I tried 2 setups:
- Emulated network delay of 7 sec using Fiddler
- Provisioned isolated VM with no Internet access.

Can you share more details? A screenshot may be helpful as well.

[2016-06-30 19:51] joelverhagen commented on #2947
Hey @kkostrzewa, it looks like this is fixed in our latest release of nuget.exe, which is version `3.5.0-beta2`. You can download it from https://dist.nuget.org/index.html, or with this direct link:
https://dist.nuget.org/win-x86-commandline/v3.5.0-beta2/NuGet.exe

If your issue still persists, please feel free to comment back and re-open this issue. Thanks!

[2016-06-30 19:51] #2947 closed, assigned to joelverhagen

[2016-06-30 20:05] drewgillies commented on #3053
Yes, but nothing has yielded a repro yet. I'll re-open and bang on it some more.

[2016-06-30 20:07] drewgillies commented on #3057
Broken test is fixed and passes now. Looking into CI changes to accommodate multiple versions of VS.

[2016-06-30 20:31] joeyzderadicka opened #3069 "NuGetGalley Private IIS 8.5"
I was able to publish the site, create users and upload packages.  However, I was having trouble adding the server as a package source in visual studio 2015 update 3. I tried http://servername/api/v2, which doesn't return any results and errors.

When I goto http://servername/api/v2 in a browser, I get:
`<service xmlns="http://www.w3.org/2007/app" xmlns:atom="http://www.w3.org/2005/Atom" xml:base=

[2016-06-30 20:44] jainaashish commented on #3068
@chauncat can you try to reproduce this with nuget 3.0.0 version? other thread mentioned it was not reproducible with that version so just wanted to confirm that with you.

[2016-06-30 20:45] mlorbetske opened #3070 "nuGet error - 1.0.0-* is not a valid version string"
Originally at https://github.com/aspnet/Tooling/issues/604

Steps to reproduce:
1. Add the following line in tools section of project.json.
"tools": {
...
"Microsoft.AspNetCore.Razor.Tools":"1.0.0-*",

Tools->NuGet package manager->Mange NuGet packages for Solution. ![nuget_error](https://cloud.githubusercontent.com/assets/6814395/16226102/79640f8a-37dc-11e6-8353-54dd7ea8059c.pn
Only in 'tools' se

[2016-06-30 20:51] rrelyea commented on #3070
Are you using nuget 3.5.0-beta2 out older version? Which one?

[2016-06-30 20:57] mlorbetske commented on #3070
/cc @xatabhk

[2016-06-30 21:01] drewgillies opened #3071 "Fix broken unit tests for Dev15 build in Windows anniversary update"
Number of broken tests unknown at this point, due to VS test window not functioning as expected.

[2016-06-30 21:07] chauncat commented on #3068
Do you have to link to download the vsix for version 3.  I can say that if I use the command line it works.  Just not the powershell or vsix forms.

[2016-06-30 21:09] jainaashish commented on #3068
issue is with Find-Package command? otherwise get-package -ListAvailable is working good with vs 2015 or 2013 right?

[2016-06-30 21:17] timotei commented on #1448
Not sure I see the link between the NuGet params and XAML, they should be separate.

Yes, verbosity detailed is what you want.

[2016-06-30 22:07] #2998 closed, assigned to joelverhagen

[2016-06-30 22:24] rohit21agrawal commented on #3030
cc: @yishaigalatzer @harikmenon since rob is out, can you verify what the correct string to use here should be?

[2016-06-30 22:27] harikmenon commented on #3030
A stable release of a package should not have a prerelease dependency. Either modify the version spec of dependency "{0}" or update the version field in the nuspec.

This feels a bit more correct.

[2016-06-30 22:49] chauncat commented on #3068
VS 2013Id                             Version              Description/Release Notes                         --                             -------              -------------------------                                                                                                                                               XXX.Core                       1.2.112              XXX Core Portable C

[2016-06-30 23:09] #3030 closed, assigned to rohit21agrawal

[2016-07-01 00:10] yishaigalatzer commented on #3069
CC @maartenba

[2016-07-01 00:30] joelverhagen commented on #2949
This seems to be due to the fact that the `msbuild.exe` in your path is version 3.5. MSBuild 3.5 does not have two .dll's that we are attempting to load dynamically (`"Microsoft.Build.dll` and `Microsoft.Build.Framework.dll`) and we are not handling this case gracefully.

This problem can be easily reproduced by executing:

[code]

While we work on a resolution to this issue, please make sure NuGe

[2016-07-01 06:11] Kanimozhi12 commented on #3062
@harikmenon  I have a VSIX project, which will create a new project->Website. I need to install NuGet while project creation.but the project object for website project gives the null value , so i when i call the below code am getting null exception.
installer.InstallPackage(nugetLocation, project, packagename, id, false);

[2016-07-01 08:57] BamboOSZ commented on #2949
We had this same problem in our deployment script outside of VS. Now we are using following msbuild:

_C:\Program Files (x86)\MSBuild\14.0\Bin\MsBuild.exe_

and everything works fine!

[2016-07-01 11:14] mmajcica commented on #2987
@zhili1208 we are using it. The problem is that for every new user that logs on that machine, values that are in the default config file are then overridden in the user specific config file.

[2016-07-01 11:20] FransBouma commented on #3066
If I have to set DefaultPushSource, what does activePackageSource mean in that context? Why is it required to set DefaultPushSource if there's a source set as active? Or is 'Active' only for pull, not push? very vague...

[2016-07-01 11:32] FransBouma commented on #3066
Ok, I now get the setApiKey crap. I have no way to push this package automatically to the central, default nuget store now using 3.4.4 RTM?

I've specified the DefaultPushSource in nuget.config. I used several versions, the v2 resulted in 'not allowed', the v3 one:

[code]

apparently goes through but I now am greeted with this:

[code]

Which is unacceptable. What to do? I've added the API key al

[2016-07-01 11:37] johnkattenhorn commented on #3070
We are getting this issue, just installed 3.5.0-beta2, effecting `Add-Bindings` and `Update-Database` commands from package manager

[2016-07-01 11:38] FransBouma commented on #3066
Ok setting the apikey for https://www.nuget.org/api/v2/package directly works for 3.4.4:

[code]

It then will push using DefaultPushSource without asking for credentials

[2016-07-01 12:32] MistyKuu opened #3072 ".NET project with project.json cannot be built if VS is not installed"
Basically it's a copy of my topic on stackoverflow: http://stackoverflow.com/questions/38015480/net-project-with-project-json-cannot-be-built/38053320#38053320
I tried to build .net project with csproj + project.json combination. It didn't work on my build server where VS wasn't installed but MSBuild Tools 2015 were installed. The solution was to copy C:\Program Files (x86)\MSBuild\Microsoft\NuGet

[2016-07-01 13:39] harikmenon commented on #3066
Yes, that is correct. the SetAPIKey issue will be fixed in the next release.Both the v2 and v3 API endpoints work when you use the parameter directly in the command.

[2016-07-01 13:45] FransBouma commented on #3066
Ok, as the problem has a workaround for 3.4.4 (see above) and real fixes on its way in 3.5, I'll close the issue.

[2016-07-01 13:45] #3066 closed, assigned to nobody

[2016-07-01 13:47] harikmenon commented on #3066
Thanks!!!

[2016-07-01 14:43] drewgillies commented on #3053
I'm closing this again. I've re-run the steps above using 3.5.0-beta2 as the NuGet install, and still no failure. I've created a UWP app, modified packages in the VS UI, built, no problems. Tagging @skofman1 and @emgarten --if you're able to find any extra steps which will yield this repro, please add them and re-open.

[2016-07-01 14:43] #3053 closed, assigned to drewgillies

[2016-07-01 15:01] drewgillies opened #3073 "Errors in VS 15 Preview 3"
Filing on behalf of @zooba

Not sure this is the right place, but it was easiest to find.

I'm seeing this error in the ActivityLog.xml and a "failed to load extension" dialog box occasionally in VS 15 Preview 3:

CreateInstance failed for package [NuGetPackage]Source: 'mscorlib' Description: Exception has been thrown by the target of an invocation. System.Reflection.TargetInvocationException: Exc

[2016-07-01 15:06] chauncat commented on #3068
Issue is with VS2015.  Things are very inconsistent.  it is so bad I would use VS2013 if we still could.
Browse tab, Find-pacakge, and Get-package -ListAvailable all have the same result in VS2015 which is a small subset of available packages.  I get 2 packages in VS2015 and 13 in VS2013.

[2016-07-01 15:25] drewgillies commented on #3073
@zooba --any details you can give us about the steps that led to this failure would be very helpful in reproducing it ourselves (and fixing), including:
Was preview 3 installed over the top of another VS 15 preview?
If so, had you installed any other versions of the NuGet extension to Vs prior to installing preview 3?
Essentially, anything you can think of that might make your scenario unique or r

[2016-07-01 16:15] zooba commented on #3073
No shortage of things that make me unique here :) But it was a clean install using the classic installer on a clean VM and I didn't touch Nuget at all, so it shouldn't have had any other versions unless it updated automatically. (Very slight chance I may not have had the actual Preview 3 - build number is 25424.00 from Preview, but it should be essentially Preview 3 at this stage :) )

I was runni

[2016-07-01 16:39] #2920 closed, assigned to nobody

[2016-07-01 16:41] harikmenon commented on #3017
closing this issue @rrelyea reopen if I screwed up :)

[2016-07-01 16:41] #3017 closed, assigned to zhili1208

[2016-07-01 16:42] harikmenon commented on #3009
this is fixed

[2016-07-01 16:42] #3009 closed, assigned to harikmenon, karann-msft

[2016-07-01 17:34] mishra14 commented on #2665
@harikmenon @rrelyea @yishaigalatzer @rohit21agrawal

Please let me know if this looks fine?
1. WPF project launch - hence no warning.

![project_json warning - project launch](https://cloud.githubusercontent.com/assets/10507120/16529310/1652f60c-3f77-11e6-8779-bc1ffc93294b.png)

2/3. Solutionj launch - hence warning.

![project_json warning - solution launch 1](https://cloud.githubusercontent.com

[2016-07-01 18:09] jainaashish commented on #3068
It looks similar to https://github.com/NuGet/Home/issues/2456 And there's good explanation in this thread about moving away from teamcity nuget server since they only support nuget v1 protocol and that too there're bugs in here which they don't want to invest in.

Also, you could try changing your teamcity feed to use V2 with `Teamcity.nuget.api.version=v2` and see if you can query all the package

[2016-07-01 18:10] jainaashish commented on #3068
Also share a fiddler trace of working vs and non working vs to further investigate this.

[2016-07-01 20:27] niemyjski commented on #3020
They are not on the nuget download page or on the check for updates dialog of vs2012!!! Please fix this

http://blog.nuget.org/20160627/Announcing-NuGet-3.5-Beta-2-and-2.12-RTM.html

[2016-07-01 21:12] drewgillies commented on #3071
The broken tests are:
PushCommand_PushToServerNoSymbols
RestoreCommand_NoSolutionFilesInDirectory
RestoreProjectJson_P2PTimeouts (first 2 cases)

[2016-07-01 21:16] harikmenon commented on #3020
[Update]
2.12 RTM for VS 2012 RTM has not been released yet. 2.12 version of NuGet Packager Extension for VS 2013, I can see the downloads page https://dist.nuget.org/visualstudio-2013-vsix/v2.12.0/NuGet.Tools.vsix

[2016-07-01 21:28] niemyjski commented on #3020
Vs2012rtm was released 3+ years ago are you referring to a new update?

Get Outlook for iOS

On Fri, Jul 1, 2016 at 4:16 PM -0500, "Harikrishna Menon" notifications@github.com wrote:

VS 2012 RTM has not been released yet. 2.12 version of NuGet Packager Extension for VS 2013, I can see the downloads page https://dist.nuget.org/visualstudio-2013-vsix/v2.12.0/NuGet.Tools.vsix

—
You are receiving th

[2016-07-01 21:55] harikmenon commented on #3020
Yes, sorry. updated my comment to reflect that

[2016-07-01 22:55] davidebbo commented on #2476
Adding @shrimpy who will help with this on Azure side

[2016-07-01 23:44] vborovikov commented on #3034
Any clues how to change assets? I targeted my package to netstandard1.3 (it was 'dotnet' before) and no longer can install it in UWP projects
I noticed AutoMapper v5.0.0 has the same problem - it's cannot be installed to a blank UWP project. The error messages are the same.

[2016-07-02 06:24] drewgillies commented on #3073
I see. One thing that springs to mind with this release is that there is an issue (this one: https://github.com/NuGet/Home/issues/2369) relating to creating/restoring anything that utilizes the common project system (in this case, C++). We get a pretty large failure in these cases--it is fixed, but the fix isn't in preview 3. I can see this throwing VS into a state which could precipitate bizarre

[2016-07-02 06:33] timothyparez commented on #2907
I had the same issue, made the mistake of simply downloading the latest binary from NuGet.org
The error message is misleading and the last line might explain more:

[code]

[2016-07-02 14:14] harikmenon commented on #2665
Looks good to me.

[2016-07-03 08:57] stpatrick2016 opened #3074 "NoCache parameter not honored in nuget client version 3.4+"
The scenario is like this:
1. Push a package of version 1.0.0
2. Call nuget.exe with NoCache parameter to restore packages for solution (this will download a package and store it in cache)
3. Push a package of version 1.0.0, but recompiled binaries (binaries have increased version number), e.g. overwrite it in nuget server (we are using nuget server, not the gallery).
4. Completely remove "package

[2016-07-03 14:58] sigalsax commented on #3056
Did you receive this email? Awaiting a response

http://caffe.berkeleyvision.org/installation.html

this is where I downloaded it from

Thanks!

Sigal

##

Best,
Sigal Sax

[2016-07-03 14:58] kovalikp commented on #2740
The issue is caused by fact that NuProj does not set `Language` msbuild property. Setting it to any value does not appear to have any adverse effect on NuProj build system itself, but for sake of future-proofing it would be pertinent to handle possible null values of `ProjectLanguage` property in `ResolveNuGetPackageAssets` task.

[2016-07-03 21:51] MrCsabaToth commented on #333
I'm trying to prevent the installation of the new jQuery 3.0.0.1. I have a project level packages.config, with

[code]

The 3.0.0.1 jQuery is offered in the Manage NuGet Packages.../Updates project level GUI.

[2016-07-03 21:52] MrCsabaToth commented on #333
jQuery 3.0 contains more breaking changes as opposed to 1.x -> 2.x upgrade. So I expect more people popping up with that problem in the near future.

[2016-07-03 21:55] MrCsabaToth commented on #333
All right, as someone mentioned, this is now just a GUI issue. If I actually try to perform the upgrade, the constraint prevents it:

[code]

[2016-07-04 04:59] damonpkuml commented on #962
When I install signalR nugget package  for a UWP app, I have this problem too.How Can I fix this?

[2016-07-04 08:37] MistyKuu opened #3075 "nuget pack csproj with project.json -includeReferencedProjects does not work like Packages.Config"
Hey,
I am trying to use 3.5.0-beta2 nuget commandline with csproj + project.json combination.
. In my nuspec file I have some `<files></files>` into tools added. When I pack my project with 3.4.3 nuget, all referenced projects in a solution were added to lib folder if they didn't contain nuspec file and `<files>`were placed properly in a nuget package. With 3.5.0-beta2 it ignores nuspec `<files>`

[2016-07-04 10:08] maartenba commented on #3069
So here's the thing:
- the output at `http://servername/api/v2` is correct
- `http://servername/api/v2/Packages` should show packages (only one page)

If not there may be a file permissions issue or the .NET 4.6 runtime missing on the server.

Can you configure tracing for the app? (this should create a log file named `TextWriterOutput.log` which contains more details on the error)

Add the follow

[2016-07-04 11:36] pascalberger opened #3076 "Content files not added with recent release"
I'm building a NuGet package using the following command:

[code]

The project is some ASP.NET MVC code, with a `Content` folder containing some CSS files. The compiled binaries are in `d:\work\103\a\output`. There exists a `.nuspec` file besides the `.csproj` file, which doesn't contain any files or dependencies.

While with `nuget.exe` 2.8.50506.491 this created a NuGet package containing a cont

[2016-07-04 13:22] GeertvanHorrik opened #3077 "Can't update package when some packages can't be restored"
We have an app that uses some (outdated, deleted) packages. I want to update them to the latest version (we automatically clean up prerelease packages older than 25 builds when using prerelease versions).

However, the update fails because before updating, NuGet tries to restore the packages (not sure why) and fails in doing so.

This results in a catch 22, I cannot restore because packages are de

[2016-07-04 13:59] Seeker1437 commented on #3077
Hi I am not a Nuget person but I did want to say I had something similar myself, I ended up completely uninstalled the packages and reinstalling them with the updated versions.

I know that can be a hassle, but once it's done it should give you the breathing room you need again.

[2016-07-04 14:01] GeertvanHorrik commented on #3077
@Seeker1437 Thanks for the workaround, much appreciated!

[2016-07-04 14:01] Seeker1437 opened #3078 "Issue installing certain packages - '.', hexadecimal value 0x00, is an invalid character."
[code]

I am not sure as to what may be the issue, most other packages install correctly however this package fails.

**Update**

~~In a moment I am going to see if I can pull the stack trace!~~

I have updated the output with the verbose option turned on

[2016-07-04 15:37] harikmenon commented on #962
We need more details. Can you paste the contents in your output window?

[2016-07-05 01:46] damonpkuml commented on #962
I have fixed it, Thanks ,I just not select the SignalR.Client package.

[2016-07-05 06:41] jjqq2013 commented on #2793
+1 i ran into same problem in an non-root docker container. @IntelOrca  thank you.
It seems the first one who create ${TMPDIR}/NuGetScratch/lock should set correct permission because this lock directory will be used all other users, and the same for ${TMPDIR}/NuGetScratch.

I think this is a bug.

[2016-07-05 13:03] TimBarham commented on #2396
@drewgil looked at the remaining build warnings (which are about VS related assembly version conflics) - I believe he came to the conclusion that they are not able to be resolved.

[2016-07-05 13:03] #2396 closed, assigned to TimBarham

[2016-07-05 13:06] wbradney commented on #2817
Sorry if I'm being dense, but where can I get the latest beta?

[2016-07-05 13:07] TimBarham commented on #2779
I ran out of time to resolve the CommitHash piece. @emgarten has an idea for a solution. I'll create a new issue for that piece.

[2016-07-05 13:07] #2779 closed, assigned to TimBarham

[2016-07-05 13:11] TimBarham opened #3079 "Add CommitHash metadata to NuGet Assemblies"
Running `NuGetPackageVerifier` on NuGet assemblies reveals they are missing the `CommitHash` metadata attribute.

See #2779 for more information (other missing attributes reported there should be resolved).

@emgarten has an idea for a fix for this, so assigning this to him.

[2016-07-05 14:42] xperiandri commented on #2368
Any changes? What about adding options to choose from?
Is this feature very complicated to implement?

[2016-07-05 15:03] yishaigalatzer commented on #2368
We are not investing in this area, moving to a transitive restore, resolves this issue and since that is the way forward all our efforts go there.

[2016-07-05 15:13] drewgillies commented on #2396
@rrelyea @TimBarham: Correct. Most of the remaining warnings are caused by version conflicts on the dependencies Microsoft.Build and Microsoft.Build.Framework--version 4.x.x.x are dependencies of the .NET Framework 4.6, and 14/15.x.x.x are dependencies of project system assemblies. It's an MSB warning and as such cannot be suppressed; app.config changes don't remove the warning from command line b

[2016-07-05 15:32] harikmenon commented on #2817
The latest 3.5 Beta 2 is available from https://dist.nuget.org/visualstudio-2015-vsix/v3.5.0-beta2/NuGet.Tools.vsix

[2016-07-05 15:33] harikmenon commented on #2817
http://blog.nuget.org/20160502/Introducing-The-NuGet-Beta-Channel.html. if you want to subscribe to the our Beta Channel.

[2016-07-05 15:54] NilufarMakhmudova commented on #3040
Hi. I have similar problem with 3.4.4.1321. I have downloaded Template10 for creating Windows10 Universal app. I want to build the downloaded template which triggers restoration of packages. But restoration usually fails or never ends. Can you, please, help?

[2016-07-05 16:03] wbradney commented on #2817
OK thanks - I think that's the same as what appears here: https://dist.nuget.org/win-x86-commandline/v3.5.0-beta2/NuGet.exe
If so, that version doesn't appear to fix this issue.
The milestone on this issue is 3.6 beta, so I thought that maybe there was another nightly build I could grab.

[2016-07-05 16:13] harikmenon commented on #2817
our VSIX nightly builds are not exposed publically. @rrelyea any change we give a wayne a signed latest build to try out?

[2016-07-05 16:17] wbradney commented on #2817
It's not a big deal - I can build the client from source. We mostly test with the command-line client anyway.

[2016-07-05 16:20] mrchief commented on #2368
What is a "transitive restore" and how does it fix this issue? Just curious!

[2016-07-05 16:24] harikmenon commented on #2368
Here you go. Here is a primer about it http://docs.nuget.org/consume/ProjectJson-Intro . Transitive restore is a feature of project.json which is the new way of managing dependencies using NuGet. We will also be releasing a tool in the very near future that will enable you to upgrade your packages.config project to project. json.

[2016-07-05 16:39] PhotoAtomic commented on #2949
it's hard to me to repro now because I've restored a previous restore point, then repaired the VisualStudio 2015 installation. and now the things works, but i'll try the command you gave me and i'll post the output it it will be something meaning full, anyway as I said now it works so i'm not in the same situation as before :(

[2016-07-05 16:41] mrchief commented on #2368
This is just the way new core projects work (picking up refs and using folders as project, so everything flows seamlessly). How does this fix the issue for existing `csproj` based projects?

[2016-07-05 16:44] harikmenon commented on #2368
Almost all msbuild based projects like csproj can move over to project.json in VS 2015 and above and get it to work. Here is a detailed walk through of the steps required to do so

https://github.com/NuGet/Home/wiki/Converting-a-csproj-from-package.config-to-project.json

project.json way of managing dependencies is not limited to net core projects. Let me us know if you need more info.

[2016-07-05 16:51] mrchief commented on #2368
That is a welcome change. I didn't know about that until now. Thanks for pointing it out!!

This is a great relief at least for stuff like jQuery. I already started using gulp/bower/cdn for managing libs like jQuery/bootstrap etc but existing packages bringing them again n again was plain annoying. I'm glad for this feature not working in the latest! :smile:

Now, how does packages that bring in o

[2016-07-05 17:03] rohit21agrawal commented on #2665
Screenshots look good..will wait for pull request before signing off!

[2016-07-05 17:06] joelverhagen commented on #2949
@jmezach, could you run the commands that I [mentioned above](https://github.com/NuGet/Home/issues/2949#issuecomment-229825304)?

Also, could you run `where msbuild` from both plain old `cmd.exe` and from the Visual Studio developer command prompt?

[2016-07-05 17:13] drewgillies opened #3080 "Migrate CI VMs to ARM"
Current (classic) VMs will cease to be accessible 7/15. Migrating to new Azure Resource Management (ARM) service.

[2016-07-05 17:13] xperiandri commented on #2368
That is cool!
So which types of projects are supported? WPF? WinRT? Windows Phone?
In a sample framework assemblies are referenced in csproj. Is it still the same?

[2016-07-05 17:15] drewgillies commented on #3057
Closing this as the as-advertised issue is complete. Building a CI pipeline for Dev15 E2E should be tracked separately.

[2016-07-05 17:15] #3057 closed, assigned to drewgillies

[2016-07-05 17:15] drewgillies opened #3081 "Build CI pipeline for VS15 E2E"

[2016-07-05 17:36] Seeker1437 commented on #1550
Hi there, hate to bring back things from the dead, I am encountering this issue on Nuget 3.4.4 under VIsual Studio 2015.3 I can't figure out what it's looking at.

[2016-07-05 17:56] harikmenon commented on #2368
@mrchief : XDT transforms on content files should work, it just wont change your app.config or web.config or any other files already in you project. Source and content files can be added to your build  using content files, it just wont get physically added to your project. Essentially our promise is to not modify files in your project.
@xperiandri : per spec

https://github.com/NuGet/Home/wiki/NuG

[2016-07-05 17:57] harikmenon commented on #2368
Let us know if you have any feedback on the list.

[2016-07-05 18:11] yishaigalatzer commented on #1550
Can you open a new bug and share a repro? This might be unrelated.

Please share the full error output as well

[2016-07-05 18:33] MarkOsborneMS opened #3082 "nuget restore with PackageSaveMode nuspec always reinstalls package"
If a package has been restored with PackageSaveMode nuspec, then a subsequent attempt to restore the same package with PackageSaveMode nuspec will not detect that the package has already been installed.
However if the package was previously restored with PackageSaveNode nupkg then nuget will not attempt to re-restore the package.
This is because it is checking for the presence of the nupkg file.
C

[2016-07-05 18:48] joelverhagen commented on #3061
This seems to be due to the fact that this template depends on the 3.1.5 version of `AppForSharePointWebToolkit`, which is not available on NuGet.org or in the `C:\Program Files (x86)\Microsoft SDKs\NuGetPackages` installer source.

This is the latest version on NuGet.org:
https://www.nuget.org/packages/AppForSharePointWebToolkit/3.1.4

I am following up with the owner of this package to determine

[2016-07-05 18:50] rohit21agrawal commented on #3056
@sigalsax what version of Visual Studio are you using here?

[2016-07-05 18:55] rrelyea commented on #3082
Can you please report the behavior in our latest publicly available work (3.5.0-beta2 nuget.exe) ?
see http://nuget.org/downloads

[2016-07-05 18:57] rrelyea commented on #3078
What version was this from?
Can you please report the behavior in our latest publicly available work (3.5.0-beta2 nuget.exe) ?
see http://nuget.org/downloads

[2016-07-05 18:59] rrelyea commented on #3077
Generally, on Nuget.org at least, we never delete packages -- but instead unlist them.
Doing something similar with your package sources would prevent this kind of situation, right?

[2016-07-05 19:00] rrelyea commented on #3076
Can you please report the behavior in our latest publicly available work (3.5.0-beta2 nuget.exe) ?
see http://nuget.org/downloads

[2016-07-05 19:00] MarkOsborneMS commented on #3082
Confirmed in 3.5.0.1520

[2016-07-05 19:02] Seeker1437 commented on #3078
This covers Visual Studio 2015 Update 3, using Nuget 3.4.4 and carries over to Nuget 3.5.0

[2016-07-05 19:08] rohit21agrawal commented on #2515
@skofman1  should this be closed now?

[2016-07-05 19:14] rrelyea commented on #3082
Looks like you have a PR out to fix this?
https://github.com/NuGet/NuGet.Client/pull/731

[2016-07-05 19:31] #2860 closed, assigned to rohit21agrawal

[2016-07-05 20:02] joelverhagen commented on #3082
Related https://github.com/NuGet/Home/issues/2402

[2016-07-05 20:06] GeertvanHorrik commented on #3077
What you are suggesting doesn't fix the actual issue. There is absolutely no (technical) need to restore any packages when updating.

Unlisting wouldn't help. For example, on private feeds you are on a specific plan (x gb), MyGet automatically purges older packages for use.

[2016-07-05 20:31] drewgillies opened #3083 "Dev15 VSIX has same extension ID as Dev14 VSIX"
We need these ID's to be distinct in order to maintain distinct update stories.

[2016-07-05 20:41] rrelyea commented on #3078
With VS 2015 Update 3 + NuGet 3.5.0-beta2.
File new project>command line app (net fx 4.5.2)
Package Manager console: Install-Package AutoFixture -Verbose

Works for me.
What is different about your project?

[2016-07-05 20:44] rrelyea commented on #3078
Also, 2 related issues (that have the same error message mentioned) raised the following possibility:
"Looks like one of your app.config or web.config files is corrupt."
can you check yours?

[2016-07-05 20:55] yishaigalatzer commented on #3054
Notes:

The work here would mostly be in the .net tooling that actually updates the project. It will require a change to Visual studio to expose a new API to differentiate between delete/add to update so the tooling can preserve the extra properties. Right now the flow is

delete package
-> tooling removes the package and forgets about the extra properties
add package
-> tooling add the package an

[2016-07-05 21:01] abpiskunov commented on #3054
To clarify, what happens here is a limited design for contract between Nuget  and xproj project system. Upgrade operation works as remove and re-add, i.e. Nuget dialog first removes package and then re-adds new version. Having that, project system does not know that a "remove" request is actually an "upgrade" and thus just adds package with default properties missing "type" etc.
At this point in V

[2016-07-05 21:09] jainaashish commented on #3060
@CheloXL To workaround you can always use .nuspec file instead of .xproj and that will just work fine. Mean time we'll analyze it.

[2016-07-05 21:11] Seeker1437 commented on #3078
I found one of those issues and attacked the config first. The weird thing is that other packages do install, only AutoFixture seems to be the issue (and all packages from the developer)

[2016-07-05 21:15] CheloXL commented on #3060
@jainaashish nuget pack disposable.nuspec gives me "Value cannot be null or an empty string. Parameter name: value"

[2016-07-05 22:06] rohit21agrawal commented on #3056
@sigalsax
so far I have tried building with MSBUILD (14.0.25420.1) and NuGet.exe 3.4.4 and found no issues:
Steps:
1) Clone the repository
2) git checkout windows
3) cd into windows folder
4) copy .\CommonSettings.props.example .\CommonSettings.props
5) Change values in CommonSettings.props to:  CpuOnlyBuild = true , UseCuDNN=false
Run the following commands:

NuGet.exe restore Caffe.sln -Packages

[2016-07-05 22:13] jainaashish commented on #3060
You need to update the .nuspec file and give values to metadata like id, version, title, etc...

[2016-07-05 22:32] CheloXL commented on #3060
Ah, ok. A nicer/clearer error message would be also great...

[2016-07-05 22:51] Seeker1437 commented on #3078
Hey guys.... something made me think about caching.

I ran the following commands:

[code]

and tried again, the install was successful!

[2016-07-05 22:51] #3078 closed, assigned to nobody

[2016-07-05 22:55] joelverhagen commented on #3061
This problem only existing in Visual Studio '15 (dev15) Preview 3, which is not publicly released yet. I confirmed with the package owners that the package will be published prior to Preview 3 release.

[2016-07-05 22:55] #3061 closed, assigned to joelverhagen

[2016-07-05 22:57] Seeker1437 commented on #3078
It was that or because of a new package release lol

[2016-07-05 23:23] jainaashish commented on #3060
yeah, it's in pipeline to update error/ warning messages. And about picking 'Debug' then default configuration with MsBuild is Debug so it picks that. You can also change it to Release by passing `-Properties Configuration=Release` with Pack command and all these properties attributes are then passed into Msbuild.

You can also use project.json to create nupkg just like .nuspec... you would just n

[2016-07-05 23:33] rohit21agrawal commented on #2876
Verified that this problem has been fixed in 3.5.0-beta2 .
@bednart Could you try downloading [NuGet.exe 3.5.0-beta2](https://dist.nuget.org/win-x86-commandline/v3.5.0-beta2/NuGet.exe) from [here](https://dist.nuget.org/index.html) and verify?

[2016-07-05 23:35] CheloXL commented on #3060
Excellent. Using project.json everything seems to work fine. Thanks!

[2016-07-05 23:41] rohit21agrawal commented on #3075
@MistyKuu Would highly appreciate if you could provide a minimal repro project that highlights your problem, am not sure if I am understanding your issue correctly.

[2016-07-05 23:47] #3060 closed, assigned to jainaashish

[2016-07-05 23:48] #2937 closed, assigned to jainaashish

[2016-07-06 00:26] mishra14 commented on #2665
@harikmenon  @rrelyea @yishaigalatzer

Had a PR/discussion with @rohit21agrawal . Based on that, I have changed the position of the warning to make it clearer.

Please let me know if this looks fine?
- Solution launch with project.json and project.config projects - hence warning -

![project_json warning - solution launch with warning](https://cloud.githubusercontent.com/assets/10507120/16603897/a

[2016-07-06 00:30] rohit21agrawal commented on #2665
I feel the warning icon should be aligned on the left with Install and Update options title

[2016-07-06 01:36] mrchief commented on #2368
@harikmenon Thanks for taking time to answer these. Few more questions and bear with me if these are already addressed in docs.

Those are usually done via MSBuild targets that get added to csproj files.

So how will those get setup?

So if I have a version x of a package which does that currently, going forward, in the new system, how will version x work? I mean who will make the changes in the c

[2016-07-06 02:24] harikmenon commented on #2368
The package needs to document the necessary details and the consumer will have to modify those changes.

[2016-07-06 07:28] MistyKuu commented on #3075
@rohit21agrawal
First part:
1. Download nuget 3.5.0-beta2.
2. Create Console app (.Net framework)
3. Download nuget package to create packages.config and delete it, create project.json
4. Create nuspec file for the project, add some files into nuspec
5. Pack csproj with nuget pack
6. Only libs are included, nuspec was ignored.
Second part:
1. Create 2 projects in a solution with project.json follo

[2016-07-06 07:32] MistyKuu commented on #3054
why was it working correctly with packages.config?

[2016-07-06 07:43] jmezach commented on #2949
I just ran where msbuild from cmd.exe and got:

[code]

When I run it from the Visual Studio 2015 Developer Command prompt I get this:

[code]

Running msbuild.exe /version from the Package Manager Console gave me the following:

[code]

And Get-Command msbuild gives me this:

[code]

[2016-07-06 07:46] roalz commented on #2368
Does this "transitive restore" and project.json work for native C++ projects (vcxproj) ?

[2016-07-06 11:00] mfilippov opened #3084 "Which commit did you used for deploying NuGet.Client 3.4.3?"
I can't find tag in repository.

[2016-07-06 13:00] sign42 commented on #2991
I ran into the same issue but powered through. It looks like in https://github.com/NuGet/NuGet2/commit/ba264c60ef35b491f6d0e06be2bf3fe0a8fddedc that a reference was made from the Nuget2 repo to the Nuget.Client repo and in https://github.com/NuGet/NuGet.Client/commit/9012fdecbf4ee085956cf68d2d947fcbe7c23164 the files that were being referenced got moved.

[2016-07-06 13:15] stupiduglyfool commented on #3024
I have experienced the same problem, I tried the 3.5.0-beta2 release and got the same issue.

After some digging I discovered that it could be because the wixproj doesn't include the same target files as a csproj and therefore may not have certain expected properties set.

I inspected the c:\program files (x86)\msbuild folder and found the relevant nuget target files, I was particularly interested

[2016-07-06 13:47] ethomson opened #3085 "Nuget can't find `msbuild.exe` on Mono?"
[https://github.com/libgit2/LibGit2Sharp](LibGit2Sharp) is trying to [get fancy with the new .NET Core](https://github.com/libgit2/libgit2sharp/pull/1318).  It seems like things are working with the Nuget 3.5.0 beta on Windows with the proper .NET CLR.  However, `nuget restore` is not working for us on Mono:

[code]

There is, of course, no `msbuild.exe` on Mono.  :(

Not sure if this is not suppo

[2016-07-06 14:49] yishaigalatzer commented on #3054
@MistyKuu because it is a different code path

[2016-07-06 15:12] joelverhagen commented on #2949
@jmezach, yes this is the cause of the issue. Could you modify your `%PATH%` so that MSBuild 4.0 or later is first?

Is it necessary to have MSBuild in your user `%PATH%`? For my development environment, I simply depend on the Developer Command prompt to have it's own environment variables and `%PATH%` that make MSBuild available. For me, MSBuild is not in my `%PATH%` for plain old cmd.exe.

[2016-07-06 15:12] lachlann562 opened #3086 "Unable to use package manager VS2013 Windows 10 PS2 not recognized"
After upgrading from windows 7 to windows 10 i'm unable to use the package manager. the error i get is (Visual Studio 2013):
Error: The Package Manager Console requires PowerShell 2.0 runtime, which is not detected on this machine. Please install the PowerShell 2.0 from http://support.microsoft.com/kb/968929 and restart Visual Studio.

I've checked the steps to ensure PS2 is installed in windows f

[2016-07-06 15:16] mrchief commented on #2368
Ouch! :smile:

[2016-07-06 15:23] alainbryden commented on #2775
NuGet update -self updated to pre-release package 3.4.4-rtm-final today and is no longer working on my build machine, so +1 for this.

[2016-07-06 15:27] drewgillies commented on #3083
Dev15 ID inserted.

[2016-07-06 15:27] #3083 closed, assigned to drewgillies

[2016-07-06 15:50] theBoringCoder commented on #2393
Why is it that "dotnet new" works (in regards to retrieving packages) but Visual Studio 2015 Update 3 File --> New Project --> New .NET Core project fails to retrieve packages. Aren't they both using nugget.xplat?

[2016-07-06 16:07] drewgillies commented on #3073
Discussed offline. Filer is happy to close this for now. If Dev15 VSIX doesn't fix the problem we can re-investigate.

[2016-07-06 16:07] #3073 closed, assigned to drewgillies

[2016-07-06 16:17] rohit21agrawal commented on #2775
@alainbryden 3.4.4 is actually the latest available rtm version of nuget

[2016-07-06 16:25] MistyKuu commented on #3054
@yishaigalatzer but I don't understand how would it be different from packages.config. In packages.config you need to differentiate between update and delete/add as well, why do you need extra functionality from vs if you had it in packages.config?

[2016-07-06 16:31] yishaigalatzer commented on #3054
Like I said two completely different code paths

In packages.config and project.json for UWP, nuget itself updates the references
In xproj/project.json the project system itself does the updates (outside of nuget's control). In this world there is an API between the NuGet UI and the project system.

[2016-07-06 16:51] alainbryden commented on #2775
Shows up as a prerelease here: https://www.nuget.org/packages/NuGet.CommandLine.XPlat/3.4.4-rtm-final
With 3.4.3 listed as the latest stable.
Maybe I'm misinterpreting that.

[2016-07-06 17:09] sigalsax commented on #3056
I have changed all the CpuOnlyBuild and UseCuDNN values to their respective
values. When I ran the first and second command, I get a message that
reads... "NuGet.exe : The term 'NuGet.exe' is not recognized as the name of
a cmdlet, function, script file, or operable program. Check the
spelling of the name, or if a path was included, verify that the path is
correct and try again.
At line:1 char:1
-

[2016-07-06 17:13] rohit21agrawal commented on #3056
@sigalsax You need to have nuget.exe either in your path or copy it to that directory from where you are running the command.

[2016-07-06 17:18] sigalsax commented on #3056
nuget.exe is in my windows folder directory.
[image: Inline image 1]

On Wed, Jul 6, 2016 at 1:13 PM, Rohit Agrawal notifications@github.com
wrote:

##

Best,
Sigal Sax

[2016-07-06 17:30] rohit21agrawal commented on #3056
do .\nuget.exe

[2016-07-06 18:07] rrelyea commented on #3086
There is a PowerShell issue with Windows 10 10586.1 through 10586.62.
Run WinVer to see your version.
If that is the problem, run windows update to move to build 10586.63 or later.
If that does not address the problem, please reply.

[2016-07-06 18:10] rrelyea commented on #3085
Are you using 3.5.0-beta2 of NuGet.exe?
Which build of NuGet.exe last ran properly for you on Mono?
What project are you trying restore? LibGit2Sharp?

[2016-07-06 18:15] rohit21agrawal commented on #2876
@bednart We have verified on our end that this issue does not repro with 3.5.0-beta2, and so we are closing this bug.
Please feel free to reactivate  if this issue still persists for you with 3.5.0-beta2. Thanks!

[2016-07-06 18:15] #2876 closed, assigned to rohit21agrawal

[2016-07-06 18:17] lachlann562 commented on #3086
it says 10240, i will run the windows update

[2016-07-06 18:17] jainaashish opened #3087 "nuget restore performance issue with kudu"
per email from kudu team, nuget restore no-op takes around 22secs with kudu which eventually hit their performance. Ideally a no-op should not have taken this much time even on a slower vm.

Need to investigate and improve restore performance.

[2016-07-06 18:21] rrelyea commented on #3084
Believe that Release-3.4.3 is the branch to look at.
Think we tagged the release with:
v3.4.3.855-VSIX-Dev14
The last checkin in that branch was: 585b7f31574904ff627d1f41e83b477f3c797aaf

[2016-07-06 18:21] #3084 closed, assigned to nobody

[2016-07-06 18:44] rrelyea commented on #3086
I'm going to close for now. Please reactivate if you still have a problem after you've updated Windows.

[2016-07-06 18:44] #3086 closed, assigned to nobody

[2016-07-06 18:45] yishaigalatzer commented on #3064
The solution here is to move to project.json (or its next incarantion directly inside msbuild) and global packages folder. There is no support for sharing packages folders across multiple solutions, and we don't plan on building that.

I'm suggesting to resolve this issue as won't fix, and invest our efforts in the global packages folder design.

Not to say that we can't periodically do a cleanup

[2016-07-06 18:47] yishaigalatzer commented on #3064
Here is the related issue  https://github.com/NuGet/Home/issues/2308

[2016-07-06 18:51] mishra14 commented on #2665
Merged : https://github.com/NuGet/NuGet.Client/commit/e34c1928bc4915680e85bdebbfd5f5609deadb1d

[2016-07-06 18:51] #2665 closed, assigned to mishra14

[2016-07-06 18:55] yishaigalatzer commented on #2883
You probably mean "moving the nuget packages folder" rather than moving the cache?

This is expected and you will have reinstall the packages using `Update-Package -reinstall` command.

In the newer transitive restore mode (ala UWP apps, xproj) there is no longer a link to the files, and that issue goes away completely.

At least at this point we do not plan to make any changes here going forward.

[2016-07-06 18:55] #2883 closed, assigned to nobody

[2016-07-06 18:56] #1368 closed, assigned to nobody

[2016-07-06 19:07] rohit21agrawal commented on #1857
@yishaigalatzer @rrelyea  Are pack scenarios supported for projects which have converted from packages.config to project.json ?

[2016-07-06 19:10] bednart commented on #2876
@rohit21agrawal Sorry I wasn't nearby PC. I just tested it and I can confirm it works ;) Thanks a lot.

[2016-07-06 20:07] nandersen674 commented on #2308
Hi Yishai

I would not raise this as an issue, if there was an easy workaround , but I really hate misbehaved applications.

If you set readonly attributes on a server, it is usually because you want to preserve something .

Now n a DevOps environment it is not uncommon to maintain fusions or even hundreds of builds, and the current nugget behaviour is a hindrance of that, and it costs us many hou

[2016-07-06 20:26] yishaigalatzer commented on #2308
I'm suggesting that there is a new mechanism to use nuget that resolves your issue (or most of it) and that this current old mechanism is an area we don't want to keep evolving. Because it has numerous limitations and by investing in it we delay progress in the area where we see the most benefit to the bulk of the community. This is why I linked to an issue that covers a very similar ask.

At the

[2016-07-06 21:00] #3029 closed, assigned to rohit21agrawal

[2016-07-06 22:19] escamoteur commented on #710
I just encountered this message on packages that I created and host in VSTS. What does it mean? The packages work and can be installed

[2016-07-06 23:10] tritao commented on #2833
Hey, it indeed looks like that commit should deal with this issue. If after testing there are still any problems feel free to reach over so we can deal with them asap in Mono.

[2016-07-07 00:17] rohit21agrawal opened #3088 "Fix ILMerge issue that arises on depending on NuGet.Core 2.13.0-rtm-822"
Proposed solution:

Do ILMerge in 2 steps:

Step 1 : ILMerge exe + everything except NuGet.Core /internalize
Step 2: ILMerge output of 1st step + NuGet.Core

[2016-07-07 01:20] ghuntley opened #3089 "The UTC time represented when the offset is applied must be between year 0 and 10,000. Parameter name: offset"
# Problem

Package restore fails w/Mono and NuGet 3.4.3.0 (i.e. current version in Xamarin Studio 6.1 alpha channel). I've also observed this with NuGet v3.x during the restoring addins step with Cakebuild.

[code]
# Similar issues
- https://github.com/NuGet/Home/issues/1984
- https://github.com/NuGet/Home/issues/2020
# Environment

[code]

[2016-07-07 01:55] darrencauthon commented on #2833
Sounds good. I haven't had a chance to test, but I'm pretty confident this fix upstream will resolve the matter. (Did I just doom myself?)

I'll reopen if it's not resolved. Thanks for your help and consideration!

[2016-07-07 01:55] #2833 closed, assigned to nobody

[2016-07-07 06:02] hermot opened #3090 "Command Line: Update of solution does not update app.config / web.config files"
I am using nuget.exe command line to update packages in a solution.
I compared the differences between the same solution that was updated in VS Package Manager Console and command line.
I then discovered that no app.config / web.config files were updated by the command line.
I need the binding redirects in config files to be updated in config files when using the command line tool.
Not sure if thi

[2016-07-07 06:02] hermot commented on #3090
I am using version 3.4.4.1321

[2016-07-07 06:52] hermot commented on #1512
I also need to use command line "nuget update mySolution.sln", but it does not update binding redirects in web.config / app.config files.
csproj and packages.config files are updated correctly, just not the app.config / web.config files. Is this a bug or missing feature?

[2016-07-07 07:15] NilufarMakhmudova opened #3091 "Windows 10, VS2015 Update 10, Nuget 3.4.4.1321 not working"
I have upgraded to Windows 10. Installed VS2015 Professional with Upgrade 3. Current version of Nuget Package manager is Nuget 3.4.4.1321. Under this setup I have not been able to install a single package from nuget.org. Tried different types of projects and packages. Even installing Newtonsoft.Json to console app did not succeed. Sometimes, VS crashes. Sometimes, installation makes me wait (leavi

[2016-07-07 08:14] mrward commented on #3089
This is a [bug](https://bugzilla.xamarin.com/show_bug.cgi?id=37970) in Mono's zip implementation.

I added a fix to Xamarin Studio 6.1 to workaround this but unfortunately this fix is not in the latest release of Xamarin Studio 6.1 on the alpha channel. Using NuGet 3.4 from the command line requires the Mono bug fix.

A workaround is to switch your local time zone to be UTC+0 or a negative offset.

[2016-07-07 08:38] SoonDead commented on #2532
Issue still present in 3.5.0 what is forcefully installed on updating ASP.NET Tooling.

This regression has become a huge annoyance for us. I have no idea how to debug nuget in visual studio or how to get more descriptive error messages, so I need help on this issue.

[2016-07-07 12:14] martinsuchan opened #3092 "Broken package restore of nested transitive dependencies"
When I try to create new Windows 10 UWP project and use **System.Security.Cryptography.X509Certificates** NuGet in it, the package restore fails with these messsages:

project.json:

[code]

Detected package downgrade errors:

[code]

Payload contains two or more files with the same destination path errors:

[code]

Detailed log: http://pastebin.com/fQyQ1Qcb

It looks like NuGet tries to use both

[2016-07-07 13:08] 13xforever commented on #2689
Workaround that worked for me:
- Open Tools → Options → Environment → International Settings
- Change Language to 'Same as Microsoft Windows'
- Restart VS
- Optionally, return to English and restart again

[2016-07-07 13:36] ethomson commented on #3085
Yes:

[code]

AFAIK, this has never worked with our new .NET Core compatible project structure.  We are (successfully) building the old-style project structure using `NuGet Version: 2.8.60318.667`.

Yes - we're trying to run package restore to build LibGit2Sharp.

[2016-07-07 15:34] chauncat commented on #3068
We have V2 on our TeamCity Server.
Looking at the requests made in fiddler I can see the problem.

Working VS2013
`http://freightteamcity.con-way.com:8080/tc/guestAuth/app/nuget/v1/FeedService.svc/Search()?$filter=IsLatestVersion&$orderby=DownloadCount%20desc,Id&$skip=0&$top=30&searchTerm=%27%27&targetFramework=%27portable-net45%2Bwp80%2BMonoAndroid10%2Bxamarinios10%2BMonoTouch10%7Cportable-net45%

[2016-07-07 16:01] natemcmaster commented on #2476
@joelverhagen per in-person discussion yesterday, is the spec outdated? The wiki says:

https://github.com/NuGet/Home/wiki/Package-Type#installation

[2016-07-07 16:11] joelverhagen commented on #2476
Yes, good catch. I'll fix up the document. The second paragraph (vaguely) asserts the intended design.

Our in-person discussion yesterday was correct.

[2016-07-07 17:12] joelverhagen commented on #3070
Looks like the original image link is broken. I think it should be:

 ![nuget_error](https://cloud.githubusercontent.com/assets/6814395/16226102/79640f8a-37dc-11e6-8353-54dd7ea8059c.png)

[2016-07-07 17:46] AndreyAkinshin opened #3093 "nuget.exe fails to restore from the home directory"
Repro:

[code]

[2016-07-07 17:57] AndreyAkinshin commented on #3093
Here is the exception origin: https://github.com/NuGet/NuGet.Client/blob/90d885f025ede1be661dbd60c182f23862a070ca/src/NuGet.Clients/NuGet.CommandLine/Commands/RestoreCommand.cs#L565:

[code]

[2016-07-07 18:29] joelverhagen commented on #3082
Closed with:
https://github.com/NuGet/NuGet.Client/pull/731
https://github.com/NuGet/NuGet.Client/pull/737

[2016-07-07 18:29] #3082 closed, assigned to joelverhagen

[2016-07-07 19:43] AndreyAkinshin commented on #3093
Even the code

[code]

throws the same exception. Also, `Directory.GetFiles` with `SearchOption.AllDirectories` can be a **very** expensive call and take a lot of time. I suggest the following solution: we can implement the recursion manually (with try-catch blocks) + check that if there is at least one file which matches the given `searchPattern`. The implementation:

[code]

Profit:
1. We don't

[2016-07-07 20:21] rohit21agrawal opened #3094 "File -> New Project -> Class Library (Portable) project fails in VS2015 and Dev15"
Happens with the latest dev build .

[2016-07-07 20:21] rohit21agrawal commented on #3075
@MistyKuu thanks for the detailed steps..I'll start investigating.

[2016-07-07 20:40] drewgillies commented on #3080
This is an internal engineering issue--moving it to our engineering repo.

[2016-07-07 20:43] naamunds commented on #2793
Another possible workaround is to simply delete `/tmp/NuGetScratch`.  That worked for me in the limited testing I've done.

[2016-07-07 20:47] drewgillies commented on #3081
Internal engineering issue. Moving to engineering repo.

[2016-07-07 23:59] mlorbetske opened #3095 "Exception in Test output window"
Created on behalf of @rynowak

I'm getting this exception stack trace during test discovery on the aspnet/Routing repo

[code]

As far as I can tell, testing is still working as expected

Repro:
- clone routing
- run build.cmd at the command line
- open routing.sln
- open test window
- do a build in VS to trigger test discovery

[2016-07-08 00:04] mlorbetske commented on #3070
Probably related to https://github.com/NuGet/Home/issues/3095 as well (where it's manifesting in the test explorer output)

[2016-07-08 01:08] jjqq2013 commented on #2793
Yes remove the /tmp/NuGetScratch  will work fine. Besides, I have created a docker image to resolve some problem  about this and other   anti-root tools like yeomon .  https://hub.docker.com/r/osexp2000/dnetcore_docker_image/

[2016-07-08 07:06] IntelOrca commented on #2793
Deleting the folder will not solve the issue of two users doing a package restore at the same time.

[2016-07-08 11:40] Torgrimm commented on #1056
Torgrimm

[2016-07-08 11:48] jc1001 opened #3096 "NuGet.Core InstallPackage fails with unable to find compatible version error"
Hi there,

I've added a reference to the latest NuGet.Core libraries (2.12) to my project (.NET4.5.2 C#).  When using the `InstallPackage` method (`ignoreDependencies: false, allowPrereleaseVersions: false`) on the packagemanager to try and install the [RazorEngine ](https://www.nuget.org/packages/RazorEngine/3.8.2)package, I get the following error:

[code]

Here is the .dependencies section of t

[2016-07-08 11:50] MichaelSteinecke commented on #1056
@alpaix
To Setup the Problem, it is important to have a network connection, but being disconnected from the internet. For example a cable to another PC or Switch should be enough.
Now, NuGet tries to connect and retrieve some information for all packets. As soon as you disable the network adapter or unplug the network cable, everything works like a charm.
In the build from @zhili1208, the behavior

[2016-07-08 15:39] natehitze opened #3097 "How to deal with sample files"
Some packages install sample files into a project. Is there a way to stop certain packages from doing this?

We don't want sample files in our project, but they get added every time someone updates these packages. We figured we could just ignore it in source control, but that doesn't prevent the package from adding files to the .csproj file.

[2016-07-08 15:42] harikmenon commented on #3097
Have you considered moving to using project.json way of managing dependencies? http://docs.nuget.org/consume/ProjectJson-Intro. If you are using VS 2015, this is supported for most project types. A guide to transitioning is available here https://github.com/NuGet/Home/wiki/Converting-a-csproj-from-package.config-to-project.json

[2016-07-08 15:52] harikmenon commented on #2894
This issue was moved to NuGet/ProductTracking#88

[2016-07-08 15:52] #2894 closed, assigned to harikmenon

[2016-07-08 17:03] PatrickMcvay commented on #3023
So, I have found something interesting about this problem. This will actually fix the EntityFramework.Tools not working. First, here is what I did. I made a new project and made a copy of the project.json, then I closed the solution and reopened it. To my surprise, my project.json was completely in a different order.

Before closing project.json

[code]

After closing solution and reopening projec

[2016-07-08 17:08] yishaigalatzer commented on #3097
@laughinggoose I would contact the package owners, and suggest to remove the samples from being added to the project (and perhaps provide them in a separate package).

Long term we want to build a first class feature for samples, but we don't see it happening anytime soon given the current work items.

[2016-07-08 17:53] daheinz opened #3098 "NUGET.exe Pack skips required files."
When trying to package a c# ASP.Net Web Application with nuget, we are finding that several files are not included in the package.  As an example, I created a new visual studio (2013 professional) project and selected the ASP.NET Web Application template.   I built and deployed the project to the local file system.  I then added a .nuspec file and added at the .csproj level.  Here is the simple .n

[2016-07-08 18:15] HughMungas commented on #3098
Also, many of the font folders, as well as roslyn under the project /bin directory are missing after packing with nuget command line. Additional tiers of folders under a javascript folder may also be dropped when doing a pack. These usually have to be specified or "forced" to be included.

[2016-07-08 18:31] yishaigalatzer commented on #3098
These are all files that come from dependency packages, and will be installed as such. Hence they don't need to be included in the package.

Also stuff that gets copied to bin as part of build should not be included, NuGet is not an asp.net deployment mechanism

[2016-07-08 18:34] yishaigalatzer commented on #3096
NuGet.Core is no longer supported as an API, so unfortunately we do not plan to invest further in it.
Also we haven't yet made NuGet3 based API fully documented and officially supported either, but you can start by using the code that nuget.exe does for your scenario and use these packages instead.

[2016-07-08 18:36] yishaigalatzer commented on #3095
@joelverhagen this does look like a dup of #3070 .

Workaround use tooling without \* notation for now

[2016-07-08 19:09] yishaigalatzer opened #3099 "Allow mapping TFMs through configuration"
This is to allow platforms like Xamarin and .NET to control their own destiny when it comes to mapping .NET Standard (and perhaps more) through data files rather than hardcoding in the NuGet codebase.

This item needs design, and a discussion with both the .NET team and the Xamarin team.

[2016-07-08 19:20] yishaigalatzer commented on #3098
I'm going to close this issue, but feel free to continue the discussion. If we do figure out we have a bug here (and I'm missing something), we can re-open

[2016-07-08 19:20] #3098 closed, assigned to nobody

[2016-07-08 19:20] mhutch commented on #3099
I think it would make sense to put this into the existing `$(TargetFrameworkDirectory)\RedistList\FrameworkList.xml`.

[2016-07-08 19:21] yishaigalatzer opened #3100 "Support Samples in a NuGet package"
Today we don't have a first class story for shipping samples in a package. We would like to have one that:
1. Does not force users to install the samples as part of the project
2. Make it visible through tooling (perhaps as a scaffolder, but definitely as something a user can easily discover)
3. Make it visible through the gallery
#3097

[2016-07-08 19:23] yishaigalatzer commented on #3099
@mhutch we need to figure out how to find these
1. Outside of msbuild
2. On different platforms

[2016-07-08 19:26] wbradney commented on #2817
Rebuilt from a clean fetch and confirmed that this issue is fixed. Thanks!

[2016-07-08 19:48] mishra14 commented on #1674
@rohit21agrawal @yishaigalatzer @harikmenon @rrelyea

Please let me know if this looks fine?

Case 1 - invalid local path

[code]

Case 2 - Invalid http path that does not contain the package

[code]

Case 3 - Random String as path

[code]

[2016-07-08 20:04] mhutch commented on #3099
The logic is for determining the standard `TargetFrameworkDirectory` location from a TFM is straightforward, as frameworks are installed into well-known locations.

This won't be sufficient for places where the user overrides the value in the project file or the targets customize the lookup e.g. in order to support SxS versioning. In those cases the value will need to come from MSBuild to be corre

[2016-07-08 20:58] rohit21agrawal commented on #1674
a random string can be the name of a source in the nuget.config file

[2016-07-08 21:07] mishra14 commented on #1674
Yes. As we discussed offline, I will be removing the check for that. Thanks!

[2016-07-08 21:09] joelverhagen opened #3101 "NuGet Visual Studio UI shows floating versions incorrectly"
For a .csproj + project.json project, floating versions are not displayed properly. For example, try this project.json:

[code]

The UI does `7.0.1--`, not `7.0.1-*`.

![image](https://cloud.githubusercontent.com/assets/94054/16701603/96e37e2e-4515-11e6-9000-7903611e9902.png)

[2016-07-08 21:10] eerhardt opened #3102 ""dotnet restore" doesn't install custom MSBuild .targets files to users' projects"
When a user has a NuGet package in their project that has custom .targets files (see [doc](http://docs.nuget.org/create/Creating-and-Publishing-a-Package#user-content-import-msbuild-targets-and-props-files-into-project)), the .targets files are not being installed into the .csproj when running "dotnet restore".

We need to enable this for cross-platform .Net Core projects to work with MSBuild in t

[2016-07-08 21:53] joelverhagen commented on #3074
Adding link to mentioned issue: #2354.

[2016-07-08 22:02] eerhardt commented on #3102
FYI - just to call this out explicitly.  This is blocking CLI working with MSBuild, since the .Net Core .targets files will be delivered to the users' projects in a NuGet package.

Also calling it out explicitly, this needs to work on non-Windows.

[2016-07-08 22:14] mishra14 commented on #1674
@yishaigalatzer @harikmenon @rrelyea

Please let me know if this looks fine?

I have edited them, based on feedback from @rohit21agrawal .

Case 1 - invalid local path

PM> install-package Rules -source c:\temp\data

[code]

Case 2 - Valid http path that does not contain the package

[code]

Case 3 - Random String as path

[code]

Case 4 - Known source

[code]

[2016-07-09 14:07] jzeferino commented on #2992
@yishaigalatzer , @mrward,

 Using Mono 4.4.1 and nuget 3.4.4.1321.
When trying to create a simple nuget package:

 **nuget pack cpv.nuspec -verbosity detailed**

This is the nuspec file:

[code]

Any fix?

[2016-07-09 14:17] mrward commented on #2992
I believe this is because of a problem handling the relative path. Possible things to try:
1. Specify BasePath in the NuGet.exe command line.
   1. `mono NuGet.exe pack YourNuSpec.nuspec -BasePath ./`
2. Do not use `../` in your file path. So copy the .dll so it is inside the directory where your .nuspec is.
   1. `<file src="cpv/cpv/bin/Release/cpv.dll" target="lib/MonoAndroid403" />`

[2016-07-09 15:11] jzeferino commented on #2992
Thank you @mrward .

`mono NuGet.exe pack YourNuSpec.nuspec -BasePath ./` worked.
and removing the `../` and palcing the nuspec in that path worked too.

Personaly I prefer to have the `nuspec` folder at the same level of the folder with the `src` so in this case I will pick the first solution. Not so clean but, I will wrapped it in a `.sh` and it will be fine.

[2016-07-09 15:21] niemyjski opened #3103 "Windows 10, VS2015U3, NuGet 3.5 install package issue with Facade assemblies"
I created a new ASP.NET MVC Project (.NET 4.5.1) and then opened the package manager console and tried to install our package...

[code]

https://www.nuget.org/packages/Exceptionless/4.0.1880-pre

And I get an install error `Install-Package : Failed to add reference. The package 'Exceptionless' tried to add a framework reference to 'System.Runtime' which was not found in the GAC. This is possibly

[2016-07-09 15:22] niemyjski commented on #3103
Please let me know if this is in the wrong repo.

[2016-07-09 16:38] harikmenon commented on #1674
:shipit:

[2016-07-09 18:03] scottcate commented on #3103
I'm experiencing this same issue. Thank you for any guidance.

[2016-07-09 20:01] davkean opened #3104 "NuGet restore never finishes on a particular solution"
I can repro this both via the UI (VS 15 Preview 2) and command-line (3.4.2.830). When I attempting to restore via the UI, Visual Studio shows a dialog forever saying that it's restoring packages and never finishes. Cancelling the dialog, causes Visual Studio to become unresponsive and never recover.

The command-line just pauses and never finishes:

[code]

Dump: https://1drv.ms/u/s!Aut89JNwdg0Mib

[2016-07-09 20:15] davkean commented on #3104
I debugged a bit, it looks like NuGet has 24 threads trying to walk over a internal file share with 40,000 packages - no wonder it's taking forever. Why is it is doing that?

[2016-07-09 20:29] niemyjski commented on #3103
My latest commit (https://github.com/exceptionless/Exceptionless.Net/commit/c7becdb6e59356825ba296c92c4d7fd1debc1f86) seems to have fixed it. I changed the portable projects framework dependencies to build time.. Which is crazy because my net451 project shouldn't even be looking at the portable projects dependencies..

[2016-07-10 06:21] renkun-ken opened #3105 "Nuget restore hanging on gitlab-ci runner"
I use GitLab-CI shared runner to build a mono project. The runner starts with ubuntu image and installs mono-complete. But nuget restore always hangings at `Installing xxx` (a random package each time).

[code]

[2016-07-10 14:50] holytshirt commented on #2937
:+1:

[2016-07-10 20:25] yishaigalatzer commented on #3105
Sounds like a known issue about NuGet and Mono hanging.

CC @joelverhagen @alpaix

[2016-07-10 20:28] yishaigalatzer commented on #3104
That's insane. There is a few things to look into, the first one is where I guess the issue is.
1. Is the share structured like a V3 share - http://blog.nuget.org/20150922/Accelerate-Package-Source.html
2. Can you please update to the latest NuGet (I doubt that this is going to make a big difference). Either NuGet 3.4.4 (RTM) or 3.5-Beta2

[2016-07-11 02:31] glopesdev opened #3106 "Provide MSBuild integrated support for automating package builds"
I am currently migrating from the old MSBuild-integrated package restore workflow, but immediately found an annoying impediment: I was using the old **BuildPackage** target to automatically produce packages as a result of build.

With the new automatic package restore workflow, that functionality was removed. I understand I can add it by hand, but this seems somehow backwards. If NuGet is becoming

[2016-07-11 07:29] MarienMonnier opened #3107 "Nuget Package Manager slow when having own nuget server"
Hi,

I created a post on the VS forums : https://social.msdn.microsoft.com/Forums/vstudio/en-US/fd1596b0-ca30-4b38-ac74-1af01d9f00f0/nuget-package-manager-slow-when-having-own-nuget-server?forum=visualstudiogeneral
But was redirected to nuget contact page.

I have a problem with the Nuget Package Manager that calls my nuget server for lots of packages (more than 250), so it takes 40s each time I w

[2016-07-11 09:38] skyne commented on #2532
I have the same issue. I'm using SymbolSource Community for serving internal nuget packages. It's using `SymbolSource.Server.Basic version="1.3.3"` with `NuGet.Core version="2.1.0"` patched with `SymbolSource.Microsoft.Cci.Metadata version="1.0.65055.0"` for visual studio 2015 PDB support, all packages from nuget.org feed.

Every operation fails if nuget version is larger than 3.3 .

Since SymbolS

[2016-07-11 10:12] huoyaoyuan opened #3108 "Cannot package library targeting .Net Standard correctly"
The project and project.json is generated by the option "Target .Net Standard Platform" in Visual Studio.
In csproj:

[code]

and in project.json:

[code]

When packaging the project, there will be a "portable50" folder. Nuget 3.4.4 warns "invald framework folder", 3.5beta2 doesn't warn, but the folder name is the same.

[2016-07-11 14:29] chauncat commented on #3068
Can you say why the query string shows unsupported for the targetFramework on vs2015 and not vs2013?

[2016-07-11 15:29] bjorn-ali-goransson commented on #996
Me too. Using packages.config. But only sometimes, or in some solutions it seems.

[2016-07-11 17:04] rohit21agrawal commented on #3056
@sigalsax haven't heard from you..is your issue fixed now? If so, can we proceed to close out this bug?

[2016-07-11 17:33] GlennJohnson commented on #2175
I'm having the same problem.  If I delete the .vs folder, I can load the solution and in Package Manager Console, I see:
Set-DefaultScaffolder : Cannot get an instance of EnvDTE.DTEAt C:\TFS\wtfsapp01
p\HRSupplyChain\Merit\Dev\packages\T4Scaffolding.Core.1.0.0\tools\init.ps1:50
char:9
-         Set-DefaultScaffolder -Name CustomTemplate -Scaffolder
  T4Scaffolding.Cus ...

If I exit VS2015, the .v

[2016-07-11 17:45] sigalsax commented on #3056
Ya you can close it. Thank you for your help.

Best.
Sigal

‫ב-11 ביולי 2016, בשעה 13:04, ‏‏Rohit Agrawal ‏<notifications@github.com> כתב/ה:‬

[2016-07-11 17:45] #3056 closed, assigned to rohit21agrawal

[2016-07-11 17:56] yishaigalatzer commented on #2175
I suggest you contact the package owner, the hang is in the package and until we add hang detection you can either remove it, or ask the owner for a fix

[2016-07-11 18:09] emgarten commented on #3077
Package dependency information is stored in the nuspecs. When a package update happens NuGet checks for dependency constraints within the existing packages to see if the new package is valid/allowed. For this reason packages need to be restored first so that all constraints can be verified.

Here's an example, say a project has two packages A and B. A contains a dependency on B =1.0.0.
While updat

[2016-07-11 18:11] GeertvanHorrik commented on #3077
@emgarten The current versions of packages is stored in separate files, right? I can't keep up with all the updates, but at some point in time the versions were stored in packages.config.

Or is that too complex because this requires the nuget client to submit all currently installed packages + versions to the server?

[2016-07-11 18:24] emgarten commented on #3077
@GeertvanHorrik current versions are stored in packages.config, but that doesn't include the dependency relationships between the packages.

packages.config would contain something like A 1.0.0,  B 1.0.0. But it doesn't contain A -depends on-> B

[2016-07-11 18:29] emgarten commented on #2393
@tebeco the codebase for nuget.exe restore and dotnet restore are the same, nuget.exe is built against the desktop framework and contains msbuild and windows auth support. dotnet restore is built using the netstandard libraries and does not have support for all of these yet.

[2016-07-11 18:35] emgarten commented on #2403
@qbikez I agree and this behavior has been fixed for 3.5.0 RTM. `globalPackagesFolder` will be relative to the nuget.config file where it is defined now, the same as `repositoryPath`.

[2016-07-11 19:40] emgarten commented on #3108
@huoyaoyuan what version of Visual Studio are you using?

[2016-07-11 19:42] emgarten commented on #3107
@MarienMonnier what operations are you performing with NuGet? Is this using the Visual Studio UI or the package manager console?

[2016-07-11 19:49] emgarten commented on #3104
You could also try the nightly commandline build from: https://dist.nuget.org/index.html
It has improvements around local folders and shares.

[2016-07-11 19:56] emgarten commented on #3101
To match packages.config this would show the actual resolved version from project.lock.json. Having the range string verbatim from project.json would be great also. The UI was designed for packages.config and just needs support for the new concepts.

[2016-07-11 20:00] emgarten commented on #3102
NuGet skips targets/props for .xproj or when the project.json file is restored directly. I believe that when restoring a .dg file that contains .csprojs targets/props are restored normally. So everything should be in place already in dotnet restore, we just need to verify it after moving away from xproj/project.json.

[2016-07-11 20:01] natehitze commented on #3097
So we have 2 packages that we publish internally.

I have a project that has both of those listed as dependencies. Only one gets pulled into the packages folder. The build reports that it completed successfully. Does anything come to mind as to why? I've tried reinstalling the package and that didn't fix it.

[2016-07-11 20:03] natehitze commented on #3097
I should also mention that I've converted all of the mentioned projects to use project.json.

[2016-07-11 20:08] emgarten commented on #3091
@NilufarMakhmudova could you provide some repro steps along with the errors you are seeing?

[2016-07-11 20:22] emgarten commented on #3093
Typically restore is run against the root of a repository to restore all projects. Can you share some details on why you would want to run a restore on your home directory like this?

Failing silently and ignoring directories that cannot be accessed could be confusing later when projects in those directories aren't restored.

Longer term once .NET Core moves to using MSBuild dotnet restore will li

[2016-07-11 20:23] yishaigalatzer commented on #3097
Content does not get added in project.json you have to use contentfiles node instead.

[2016-07-11 20:56] natehitze commented on #3097
My nuspec:

[code]

I've confirmed that the nupkg contains a contentFiles folder with all of the content in it. I have setup a build script that copies some javascript and CSS into contentFiles\any\any. (That's what the xcopy comment is in reference to).

I installed this nupkg into another project, but I don't see any of the JS or CSS.

[2016-07-11 21:16] joelverhagen opened #3109 "NuGet UI cannot interact with version ranges with no minimum"
With a project.json + .csproj, version ranges without a minimum range (e.g. `(, 8.0.1]`) cannot be upgraded or uninstalled. None of the package details appear in the UI.

![image](https://cloud.githubusercontent.com/assets/94054/16747066/19475c42-4772-11e6-972e-94bf0861137f.png)
## example project.json

[code]

[2016-07-11 21:52] eerhardt commented on #3102
There is no .xproj involved. I am using a project.json + .csproj.  The project.json has my dependencies, frameworks, and runtimes listed.  I am using MSBuild to build my .csproj.

[2016-07-11 22:02] emgarten commented on #3102
@eerhardt what is your input for dotnet restore?

[2016-07-11 22:13] #3094 closed, assigned to rohit21agrawal

[2016-07-11 22:23] joelverhagen commented on #3018
Closed as "by design".

[2016-07-11 22:23] #3018 closed, assigned to nobody

[2016-07-11 22:34] #3070 closed, assigned to joelverhagen

[2016-07-11 22:34] #3095 closed, assigned to joelverhagen

[2016-07-11 22:42] rohit21agrawal commented on #2992
@mrward can you provide the steps to repro this issue from NuGet running on Mono ? Will need them to do some checking (and possibly write tests) while integrating your your HttpRequest patch.

[2016-07-11 22:44] alpaix opened #3110 "Get-Package does not support "DownloadCount" and "Authors""
Reported in support request #SR-411 by [samdevx1029](http://www.nuget.org/Profiles/samdevx1029)

[code]

[2016-07-11 22:57] eerhardt commented on #3102
`dotnet restore` in the current directory.  The CLI passes those args (i.e. no args) straight through.

[2016-07-11 23:00] dwrogers commented on #2836
No, I was not able to find a solution. It's pretty sad, but when I need to maintain packages, I log out of VS2015, and log into VS2013. Then I update the packages in VS2013 and log out of VS2013 and log into VS2015 and resume regular programming.

[2016-07-12 02:48] huoyaoyuan commented on #3108
@emgarten Visual Studio 2015 Update 3, the latest version.

[2016-07-12 06:41] teilin commented on #2939
I think I have the same issue as this one, is this solved by the fix in the Nuget Client that is referenced?

[2016-07-12 06:43] AndreyAkinshin commented on #3093
@emgarten, I did it accidentally. Other users also can run `nuget.exe` from the wrong place accidentally. In this case, `nuget.exe` shouldn't throw an incomprehensible exception with a strange stacktrace. Also, `nuget.exe` shouldn't spend minutes browsing all the files in the directory (a case with a directory without `project.json` in the root and with a lot of files in subfolders).

[2016-07-12 07:35] MarienMonnier commented on #3107
@emgarten this was from Visual Studio UI.

I just tested with the package manager console, and I have the same behavior :

[code]

This is my nuget sources list :

[code]

The "Nuget xxxx" is our own Nuget.Server

[2016-07-12 08:44] mrward commented on #2992
@rohit21agrawal - For the mono proxy patch I usually test this with [Fiddler](http://www.telerik.com/fiddler) installed on Windows and use it as a reverse proxy for the Mac.

**To enable the reverse proxy:**

http://docs.telerik.com/fiddler/configure-fiddler/tasks/usefiddlerasreverseproxy

**To enable proxy authentication in Fiddler:**

Select Rules menu, then select Require Proxy Authentication.

[2016-07-12 09:24] GeertvanHorrik commented on #3077
Ok, makes sense, thanks for the explanation. Then I'll uninstall + install instead.

[2016-07-12 09:24] #3077 closed, assigned to nobody

[2016-07-12 09:41] siobhanc opened #3111 "Cannot install any package with Visual Studio 2015.3"
I cannot install any package with a dll reference since updating to Visual Studio 2015.3. I was originally using Nuget 3.5.0 beta 2, I attempted a downgrade to 3.4.4 and then a subsequent downgrade to 3.4.3 and encountered the same error. I have attempted to use both an existing project that has nuget packages installed and a clean new console application. I have done the usual restart visual stud

[2016-07-12 09:45] erich-wang opened #3112 "VS2015.3: Can't install any nuget package with error: Install failed. Rolling back..."
I'm using Win10 + VS2015 Update 3 + Nuget3.4.4 and create a simple c# console solution, I always get the following error when installing any nuget package. I restarted or even reinstalled different version of Nuget manager per google search result, but no lucky.

Attempting to gather dependencies information for package 'EntityFramework.6.1.3' with respect to project 'TestConsole', targeting '.NET

[2016-07-12 10:20] siobhanc commented on #3111
I just performed a repair on my visual studio install and that seems to have resolved the issue.

[2016-07-12 10:20] #3111 closed, assigned to nobody

[2016-07-12 10:21] siobhanc commented on #3112
I was encountering the same problem with Visual Studio 2015.3. I performed a repair on my visual studio and Nuget is now functioning correctly.

[2016-07-12 12:26] andyfenna commented on #545
:+1: for dacpac support.

[2016-07-12 12:27] rolfik opened #3113 "Preserve reference aliases"
Is it possible to preserve assembly reference aliases set manually on a reference added by NuGet accross package update etc.?

Before update:
![image](https://cloud.githubusercontent.com/assets/4658651/16766768/3bf010fc-483c-11e6-89e6-f9a190a658af.png)
After update (aliases reset instead of kept):
![image](https://cloud.githubusercontent.com/assets/4658651/16766821/9254fe26-483c-11e6-9bf7-75b2bbf8

[2016-07-12 13:12] Thieum commented on #545
For reference, SSDT documentation mentions using dacpac in nuget packages, but only as binaries : https://blogs.msdn.microsoft.com/ssdt/2016/04/06/sqldb-cicd-part3-nuget-db/

[2016-07-12 13:42] andyfenna commented on #545
@Thieum this is for Azure SQL Server DBs & TFS, sqlproj's are not yet support by visual studio

[2016-07-12 14:09] natehitze commented on #3097
I've tried different `include=""` patterns such as `**/*`, `**/*.*` and I still haven't been successful.

The target project is an ASP.NET webapp project if it matters (not core).

[2016-07-12 14:58] natehitze commented on #3097
Just made an ASP.NET core (.NET framework) web app and it doesn't work in that one either.

I see the files listed in the project.json.lock, but they are not appearing in the solution view!

[2016-07-12 15:35] yishaigalatzer commented on #3097
I believe the asp.net project system does not list them at this time. And I'm actually not sure that that's how you want to deliver CSS/Js files into it. I'm directing to the owners to provide guidance here:

@davidfowl

[2016-07-12 15:41] rrelyea commented on #1674
Case 2 seems confusing. Why do we talk about package metadata?

[2016-07-12 16:15] migueldeicaza opened #3114 "Cross Platform: Add support for Anchor/Complementary Packages."
The above is just a working title, I am not attached to any names.

The short version is that we would like NuGet to support a notion of an anchor package as well as complementary packages linked to the anchor which augment the view of the core package when they are published.   This is not a theoretical issue, this is currently preventing several of our libraries from supporting .NET Core, Linux/

[2016-07-12 16:28] joelverhagen commented on #3023
After meeting offline about this, we came to the decision that we will not make this change to execute init.ps1 for tools.

The recommended way of delivering both Package Manager Console commands (in VS) and .NET CLI commands (in command line) to your customer is to have two separate packages. One package will have an init.ps1 and is to be installed as a dependency (`"dependencies"` node in projec

[2016-07-12 16:28] #3023 closed, assigned to joelverhagen

[2016-07-12 16:39] rwgbryant commented on #1451
it's back in VS2015 Update 3.

[2016-07-12 16:41] yishaigalatzer commented on #1451
Thanks I'll share with the vs extensibility team

[2016-07-12 16:49] rrelyea commented on #3113
Thanks for the request. We'll investigate this in the future, to see what it would take to fix.
This is based on the assumption that this hasn't worked properly in the past (with recent NuGet versions). If that assumption is wrong, please chime in.

[2016-07-12 16:52] rrelyea commented on #3110
@joelverhagen investigated similar issues. Same basic problem?

[2016-07-12 16:57] joelverhagen commented on #3110
Yes, the only fields available right now are ID, description, version, and license URL.

[2016-07-12 16:57] rrelyea commented on #3104
VS "15" Preview 4 in lab/bcb2 has more current NuGet. Better?

[2016-07-12 16:59] harikmenon commented on #3110
can they use the V2 feed to get this data?

[2016-07-12 16:59] jaredpar opened #3115 "NuGet push failure reason"
Is there a way to distinguish the reason `nuget push` failed based on exit codes?

Our official builds started failing recently on our NuGet package publish step.  The root cause was we simply failed to create the feed (oops). Took a bit of time to track that down as the problem though.

It would have been much nicer if we could have examined the exit code and printed a helpful message to our log:

[2016-07-12 17:11] joelverhagen commented on #3110
A cursory look at the code indicates that the internal model has a lot more information than ID, description, version, and license URL. These two requested fields are available and can be plumbed through to PMC.

[2016-07-12 17:18] Michael-Eng commented on #1451
@rwgbryant  I work on the Visual Studio Extensibility team and would like to investigate your issue further. Can you please email me meng at microsoft.com? I'd like to find out more about the current state of your machine. Thanks!

[2016-07-12 17:20] harikmenon commented on #3110
Okay. then we should probably fix this. Do you we know when we regressed this?

[2016-07-12 17:35] emgarten commented on #2345
The _FileSystemGlobbing_ package does not support net45, only net451. NuGet still needs net45 for Visual Studio.

[2016-07-12 17:40] emgarten commented on #2345
@anurse is it possible to get a version of _FileSystemGlobbing_ with support for net45 on nuget.org?

[2016-07-12 17:43] emgarten commented on #2939
@teilin there have been several fixes for package id casing, not all of them are in released versions of NuGet yet.

[2016-07-12 17:49] analogrelay commented on #2345
What is the context that requires .NET 4.5? Both .NET 4.5 and 4.5.1 are outside the extended support date according to the support lifecycle (https://support.microsoft.com/en-us/lifecycle/search?sort=PN&alpha=.net%20framework%204). So even on older (supported) versions of Visual Studio we'd be expecting users to have updated from 4.5 to 4.5.2 (at least)

[2016-07-12 17:49] emgarten commented on #3107
@MarienMonnier NuGet retrieves metadata for packages from all sources in parallel, from what you've pasted the above trace looks expected.

You can disable your local nuget server to avoid this behavior. 40s to look up 250 packages in parallel sounds very slow. Make sure that you are running the latest 2.11.2 version of NuGet.Server, it contains many performance improvements over older versions.

[2016-07-12 17:54] niemyjski commented on #3103
- https://github.com/scottksmith95/LINQKit/issues/37
- https://github.com/StephenCleary/Deque/pull/1

There is an issue here that needs to be resolved asap... There seems to be an installer issue when you have `frameworkAssemblies` that are not a build time dependency..

[2016-07-12 17:58] teilin commented on #2939
Okey, thanks. Is it a way to specify a nuget.exe or something somewhere? In that case so I can take the latest, build it and check if it is the problem I actually have? So to be clear, what I hope is that it is some way to let dotnet restore use a Nuget.exe that I build.

[2016-07-12 18:00] shanselman commented on #3103
I need more information to route this. Do you think this is a NuGet issue, or a VS issue? What went wrong, when? @csharpfritz

[2016-07-12 18:00] emgarten commented on #2345
nuget.exe is net45 and changing it could break some users

[2016-07-12 18:07] niemyjski commented on #3103
I think it's a nuget issue, package install just fails. You can reproduce it very easily..

[code]

Then create a new `NET45+` Console app (You can even remove all the project dependencies) and try to install the package. It will pick the `. NETPortable` framework and fail with a gac issue for collections or runtime. I've seen the same if you define full framework and have hit it in all of our [ex

[2016-07-12 18:07] #3088 closed, assigned to rohit21agrawal

[2016-07-12 18:09] yishaigalatzer commented on #2345
Is there anything requiring it to be 4.5.1?

[2016-07-12 18:09] StephenCleary commented on #3103
Note that `Nito.Collections.Deque 1.0.0-delta-9` works around this problem by making its framework assemblies build-time dependencies, similar to this:

[code]

But this feels wrong to me, since they are not build-only dependencies.

[2016-07-12 18:10] analogrelay commented on #2345
Technically, I don't think so, but .NET 4.5 is not supported by Microsoft so it's not really my decision :)

[2016-07-12 18:11] analogrelay commented on #2345
True, but they're already on an unsupported framework.

[2016-07-12 18:21] jainaashish commented on #3068
Can you update to latest version 2.12.0 and try again? And what's your project target framework with vs 2013?

[2016-07-12 18:34] chauncat commented on #3068
Not sure why updating vs2013 is needed the error is in vs2015.

Updated to 2.12.0.817

It works still here is link it is using.

`http://freightteamcity.con-way.com:8080/tc/guestAuth/app/nuget/v1/FeedService.svc/Search()?$filter=IsLatestVersion&$orderby=DownloadCount%20desc,Id&$skip=0&$top=30&searchTerm=%27%27&targetFramework=%27portable-net45%2Bwin%2Bwp80%2BMonoAndroid10%2Bxamarinios10%2BMonoTouc

[2016-07-12 18:40] jainaashish commented on #3068
I didn't ask to update vs version rather nuget version, pls update nuget from 2.8.6 to 2.12.0 with vs2013

[2016-07-12 18:44] jainaashish commented on #3068
oops sorry, I wanted you to check with nuget 3.5 beta2 release with vs2015 and mean time if you can tell me the project configurations as well...

[2016-07-12 18:52] rohit21agrawal commented on #2992
@mrward i am using mono version 4.4.1, and even without doing any proxy related stuff, if i do something like:

mono nuget.exe list -source http://www.nuget.org/api/v2

it says : ProxyNameResolutionFailure

any idea what's going on here?

[2016-07-12 19:02] ericstj opened #3116 "NuGet should refresh its HTTP cache if it can't find the package requested"
We see restore failures when we update a project to consume a package that was just published.  We can use `--no-cache` to workaround it, but that shouldn't be necessary.

It seems like NuGet should realize it is running from a cache, and attempt to refresh that cache, before failing the restore because it cannot find the package.

This would still let the common case be fast while not failing in

[2016-07-12 19:04] Thieum commented on #545
@andyfenna Totally agree, I wanted to point out that other tools are actually taking advantage of dacpac inside a nuget package, validating the use case.

[2016-07-12 19:10] emgarten commented on #3116
Are you using floating versions, or are you specifying the version exactly in your project.json?

[2016-07-12 19:13] emgarten commented on #2939
@teilin get the latest or latest nightly build from: https://dist.nuget.org/index.html

nuget.exe restore can be used in place of dotnet restore

[2016-07-12 19:15] teilin commented on #2939
Thanks @emgarten

[2016-07-12 19:19] chauncat commented on #3068
I get more but it is not included all the target frameworks that are in the solution.  It only picks up profile78
Here is the link
`http://freightteamcity.con-way.com:8080/tc/guestAuth/app/nuget/v1/FeedService.svc/Search()?$filter=IsLatestVersion&searchTerm=%27%27&targetFramework=%27net-profile78%2F.netframework%27&includePrerelease=false&$skip=0&$top=26`

[2016-07-12 19:30] rohit21agrawal commented on #2745
We have made some improvements in this space for the 3.5 release already - specifically, all the unlabeled UI in the Package manager window is now labeled.
Going to keep this issue open, as we will continue to invest in this area in the future releases as well.

[2016-07-12 19:58] rrelyea commented on #3086
@lachlann562  - did windows update fix it for you? other?

[2016-07-12 20:00] rrelyea commented on #3091
#3111 had a similar issue that was fixed with a VS repair. Does that address your issue as well?

[2016-07-12 20:12] brthor opened #3117 "Convert NuGet.BuildTasks to .NET Core"
In order to use https://github.com/NuGet/NuGet.BuildTasks with .net core msbuild in the dotnet cli, it needs to be converted to .net core.

A full list of needed changes:
- [ ] Convert https://github.com/NuGet/NuGet.BuildTasks to .NET Core
- [ ] Publish Nupkg with Task Binaries targeting netstandard.
- [ ] Alter ImportBefore/After .props/.targets files to fit new model

cc @jasonmalinowski @rainer

[2016-07-12 20:18] emgarten opened #3118 "ContentFiles under any are not added for netstandard projects"
Create a package with a contentFile under any/any
ex: `contentFiles/any/any/myfile.txt`

Install the package into a netstandard project
#### Expected

contentFiles will show up in the lock file
#### Actual

No contentFiles are added

This is caused by ContentModel treating `any` as `dotnet` which is not compatible with `netstandard`, within the ContentFiles folder `any` should mean `any`

[2016-07-12 20:34] ericstj commented on #3116
Version is specified exactly, not floating.

Workflow we see is:
1. Produce and publish package Foo version 1.0.2 in repo 1.  Wait for that to appear on myget.
2. Update references to Foo in repo 2 to version 1.0.2.  Submit a build.
3. Some machines will fail to restore, some succeed.  Failing machines claim that 1.0.2 doesn't exist.

[2016-07-12 20:41] mrward commented on #2992
@rohit21agrawal No idea. It works fine for me by default with no proxy but I have no system wide proxy and I am not on a company network.

I also tried out some other tests with Mono 4.4.1 and NuGet.exe that ships with Mono, which is currently 2.8.5, and also NuGet 3.4.4.

**Proxy enabled on Mac - no proxy configured for NuGet - NuGet 2.8.5**

[code]

**Proxy enabled on Mac - no proxy configured f

[2016-07-12 21:27] rrelyea commented on #3116
Today the best solutions for this are to:
1) clear the http cache before build; or
2) call restore with --no-cache

We've fixed this kind of thing in the UI scenario for install.
Not committing to doing this now...but keeping it around to consider.
Thanks for raising the issue.

[2016-07-12 21:29] rrelyea commented on #3115
Are the error messages that we output for Nuget push failure not descriptive enough?
Seems like we should just make sure our error messages are helpful enough?

[2016-07-12 21:35] jainaashish commented on #3068
i see, does it work good for individual projects?

[2016-07-12 21:35] rrelyea commented on #3113
Note, in Project.json this is not enabled, since the references are added on the fly by an msbuild task.

In both cases, packages.config and project.json, the answer is probably to have an msbuild target add this alias to the reference, which is either explicitly added to csproj or implicitly added by a build task.

Long term, we'll keep this open, but will only do if this shows up as a common req

[2016-07-12 21:37] rrelyea commented on #3112
@erich-wang - Can you try a repair on VS like @siobhanc tried?

[2016-07-12 21:50] rrelyea commented on #3108
@huoyaoyuan  - sounds like 3.5.0-beta2 has fixed your issue, but 3.4.4 (an older version) had a problem.
If that is the case, you'll be happy with 3.5.0 when it releases.
Please reopen if I misinterpreted?

[2016-07-12 21:50] chauncat commented on #3068
Version v3.5.0-beta2 works for individual projects.  Having issue rolling back to 3.4.4 atm

[2016-07-12 21:56] rrelyea commented on #3107
We are doing features to warn users when a slow or unavailable source is causing problems. It sounds like that may the case here.
Please reopen this issue if you are using 2.11.2 of NuGet.Server or later, and you still see this problem.

[2016-07-12 21:56] #3107 closed, assigned to nobody

[2016-07-12 22:00] rrelyea commented on #3106
We plan on making "nuget pack" more integrated into VS and msbuild. This is being tracked via: https://github.com/NuGet/Home/issues/2995

[2016-07-12 22:00] #3106 closed, assigned to nobody

[2016-07-12 22:05] rohit21agrawal commented on #2992
@mrward i have a pull request out integrating your patch into the dev branch. would be great if you can help validate as well.

[2016-07-12 22:08] huoyaoyuan commented on #3108
@rrelyea 3.5.0-beta2 just does not warn, but the folder name is still "portable50". According to [.Net Standard documentation](https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md#migrating-existing-pcls-in-nuget-packages), the corresponding folder name should be "netstandard1.0". I'm not sure whether "portable50" works or not.

[2016-07-12 22:11] rrelyea commented on #3103
@StephenCleary has the right workaround, we believe.
#2193 deals with Façade assemblies. Let's close this issue, as it is a dupe of that.

[2016-07-12 22:11] #3103 closed, assigned to nobody

[2016-07-12 22:14] rrelyea commented on #3096
@jc1001 - to clarify a bit. NuGet.Core is in the middle of being totally deprecated. As such, it is not being enhanced to handle new things like NETStandard.
Moving to the newer nuget packages, as @yishaigalatzer recommends (note his warnings about the API still changing a bunch), would be a way to go.

[2016-07-12 22:14] #3096 closed, assigned to nobody

[2016-07-12 22:15] niemyjski commented on #2193
Any timeline for a fix, the story is kind of horrible right now as end users don't know what's going on an even worse package owners don't expect this behavior or know what the fix is.. I came across the fix after sheer luck.

[2016-07-12 22:15] emgarten commented on #3108
@huoyaoyuan try the latest nightly build from: http://dist.nuget.org/index.html

NuGet 3.4.4 does not support packing project.json and 3.5.0-beta2 may have limited support compared to the latest build. From what you are describing it looks like the project.json file isn't being used when you create the package.

[2016-07-12 22:23] huoyaoyuan commented on #3108
@emgarten the issue still exists in the latest nightly build. Still "portable50". Another issue of not applying .nuspec seems fixed.

[2016-07-12 22:33] rrelyea commented on #3093
I ran "nuget restore" on my C:\ and c:\users\rob -- both failed within 1-3 seconds with a good error message. I agree that the stack trace is a bit much, but verbosity detailed appears to have added it.

Will make some comments in your PR.

[2016-07-12 23:25] rrelyea commented on #2071
Not clear on the right thing to do here now.
Not planning for 3.5.0

[2016-07-13 00:40] #2745 closed, assigned to rohit21agrawal

[2016-07-13 00:41] rohit21agrawal opened #3119 "Prevent narrator from narrating hidden UIElements in PackageManager UI"
Accessibility issues.

[2016-07-13 01:00] ipjohnson commented on #3108
I've run into the same issue, it does look like the project.json file is used correctly as the package that is generated has the correct .netstandard1.0 dependencies. The problem seems to be the dll is being placed in the lib/portable50 directory rather than lib/netstandard1.0

[2016-07-13 01:01] yishaigalatzer commented on #2071
I believe that the .net team was supposed to clean this up before rtm. Runtime graph is only supported in the core bcl packages.

So we should verify this doesn't repro, rather than moving the issue out of 3.5. it's a very legitimate concern that we should address rather than postponing

[2016-07-13 01:06] yishaigalatzer commented on #2193
@rob can we please remove this framework dependency from the package?

Blake - what specific package breaks you?

[2016-07-13 03:48] niemyjski commented on #2193
@yishaigalatzer any package... https://github.com/NuGet/Home/issues/3103

[2016-07-13 03:52] yishaigalatzer commented on #2193
Got you, thanks!

The official stance is that it is not going to be supported, and that these packages are invalid and bugs should be opened against the package owners to remove facades as framework references.

[2016-07-13 04:10] emgarten commented on #3108
@ipjohnson thanks for the update, this looks like a bug in pack. The framework from project.json should be used.

[2016-07-13 05:23] vindicatorr opened #3120 "Linux build.sh nuget location?"
Branch dev
Archlinux

I see the script:
1) downloads dotnet (if the distribution is included in the list (archlinux is not))
2) installs dotnet
3) echos the dotnet version
4) does some git stuff for submodules (that don't seem to do anything)
5) clears out the packages "cache" in ~/.nuget (if specified)
6) restores nuget packages using "dotnet"
7) finally runs tests using the "dotnet" command.

I

[2016-07-13 06:19] maartenba commented on #3069
@joeyzderadicka Did you see anything in the logs?

[2016-07-13 06:43] perlun commented on #1837
@yishaigalatzer - I don't think I'll do a PR, I'll remove the stuff from the `.csproj` files instead and rely on the new, recommended approach. Thanks!

[2016-07-13 07:58] maartenba commented on #2481
Relates to https://github.com/dotnet/roslyn/issues/8850 (at least the showing errors portion)

Seems related to content file being removed, an event being triggered with IntelliSense, and then IntelliSense no longerfinding the content file (which was rightfully removed).

(wondering if https://github.com/NuGet/NuGet.Client/pull/739 could fix this?)

[2016-07-13 07:58] maartenba commented on #2962
Relates to https://github.com/dotnet/roslyn/issues/8850 (at least the showing errors portion)

Seems related to content file being removed, an event being triggered with IntelliSense, and then IntelliSense no longerfinding the content file (which was rightfully removed).

(wondering if https://github.com/NuGet/NuGet.Client/pull/739 could fix this?)

[2016-07-13 08:00] rolfik commented on #3113
Thank You for comments.

Long term is not satisfying, but we have to cope with it anyway.

At least this is a bug in Visual Studio allowing to set the aliases (or other properties) of references added by NuGet, which are reset after NuGet operations.

[2016-07-13 09:15] mrward commented on #2992
@rohit21agrawal - That NuGet.exe does not seem to fix the problem. I still see the same error for the https url.

[code]

[2016-07-13 11:06] mahlzeit commented on #1512
The CI scenario is important for me, too. I want to add a nuget package only for (customer) specific builds of a project, so that modules are only included and deployed if needed. So I change the packages.config in the Jenkins build job to include the nuget package and then use nuget cli to restore the packages. That works all good for the binaries included in the nuget package, but not for the co

[2016-07-13 11:59] edvowles commented on #2836
I reproduced this error by running the x86 version of PowerShell.

I was able to resolve this problem by installing (or reinstalling) PowerShell from here https://www.microsoft.com/en-us/download/details.aspx?id=50395 (choosing this version: Win7AndW2K8R2-KB3134760-x64.msu for my windows 7 machine) and restarting.

I guess Visual Studio is using x86 powershell rather than x64 and that the x86 vers

[2016-07-13 12:40] NilufarMakhmudova commented on #3091
@rrelyea I also tried VS repair, which did not fix the problem for me. To install packages, I applied the following workaround: Downloaded separate nuget packages from nuget.org (my 1mb/s internet connection managed 1.5MB download from nuget.org within 6 hours, from other sources the speed was fine), installed all packages from local source.

[2016-07-13 12:40] #3091 closed, assigned to nobody

[2016-07-13 13:28] niemyjski commented on #2193
@yishaigalatzer tooling shouldn't let you make these mistakes.... This is still biting me in the ass on a few customer machines and I'm 100% sure I have no more framework/facade dependencies..

[2016-07-13 13:28] ipjohnson commented on #3108
@emgarten thanks for the quick reply, do you have any guidance on working around this?

[2016-07-13 13:29] yishaigalatzer commented on #1512
You can install visual studio an automate it. This is how our functional tests work. Installing a package is really just automating visual studio. Here is a sample: https://github.com/NuGet/Entropy/tree/master/NuGetFunctionalTestsLauncher

Alternatively consider using bower for delivering CSS and JavaScript (which is a good way forward anyways).

[2016-07-13 13:29] davidfowl commented on #2193
Where is the package?

[2016-07-13 13:31] yishaigalatzer commented on #2193
Tooling shouldn't understand it when you pack, framework assembly just means add from GAC, which can vary from machine to machine.

Like David suggests, help us see a sample failure

[2016-07-13 13:50] niemyjski commented on #2193
I'm having some reports with https://www.nuget.org/packages/exceptionless of `'Exceptionless' already has a dependency defined for 'System.Collections'` on full framework...

But you'd see this general failure with a lot of libs like this specific version: https://www.nuget.org/packages/Nito.Collections.Deque/1.0.0-delta-8

The issue is we are defining our assemblies we want imported using "system

[2016-07-13 13:52] niemyjski commented on #2193
@davidfowl no one really understands why this is happening in the community. Just talk to the #elasticsearch guys or package owner.. This bit them pretty hard and I think they have a different issue out around this..

[2016-07-13 14:18] gmarz commented on #2193
Yea, we hit this a while ago.  We've been using the workaround mentioned in #3103 and https://github.com/aspnet/Home/issues/1157 to get around this by making our frameworkAssemblies [build-time dependencies](https://github.com/elastic/elasticsearch-net/blob/master/src/Nest/project.json#L68).

[2016-07-13 14:45] joeyzderadicka commented on #3069
Seeing these types of logs when I go to the home page, however when browsing to the url `http://servername/api/v2/Packages`.  It doesn't generate any entries in `TextWriterOutput.log`.

Log file - http://pastebin.com/ibBsn8A3

Tried setting permissions to directories (everyone full control), sql (integrated app pool has sysadmin) and  Disabled UAC / DEP as well.  I saw a few .NET updates sitting i

[2016-07-13 14:46] yishaigalatzer commented on #2193
The issue really comes from the differences between nuget + msbuild and the dotnet build system. So for now the build flag seems to be the right thing as essentially it works exact the same as a csproj + nuget would have done it.

We do need to look at two aspects here:
1. Do we allow (and we couldn't find a good way to do it) visual studio to detect that add from GAC failed but it can be added as

[2016-07-13 14:56] maartenba commented on #3069
It looks like you may have to double check write permissions on the `App_Data` folder. Did you manage to get it running on a dev machine instead of local IIS?

[2016-07-13 15:33] joeyzderadicka commented on #3069
Will double check write permissions for `App_Data` (BUILTIN\Everyone has full control to root application folder) and try to get it working on a dev machine without deploying to IIS.

[2016-07-13 15:52] thesoftwarejedi commented on #2852
@hach-que I created a branch and test release of the 3.4.4-rtm build with compression hardcoded to off so that we could test performance and see if this change was worth it.

https://github.com/thesoftwarejedi/NuGet.Client/releases/tag/3.4.4-nct

I uploaded the binary in case anyone wanted a quick fix.

[2016-07-13 16:02] rohit21agrawal commented on #2992
@mrward just realized that nuget list command calls into the v2 codebase, and we haven't made the fix there.
Can you try a command like install?

[2016-07-13 16:12] emgarten commented on #2836
@edvowles did you install powershell on the machine yourself originally, or was this a standard windows 7 environment?

[2016-07-13 16:14] emgarten commented on #3108
@ipjohnson try `nuget.exe pack <project.json>`

[2016-07-13 17:25] mrward commented on #2992
Yeah that works correctly. I get a proxy credentials prompt when using the https source.

[code]

Trying the same thing with NuGet 3.4.4 I see:

[code]

[2016-07-13 17:29] ghost opened #3121 "Question - What is project.fragment.lock.json file?"
In some projects we have seen this file generated either by VS, nuget or dotnet-cli. Can anyone clarify what is this json for?

Based on the conversation with @tillig at https://github.com/autofac/Autofac.Extras.Moq/commit/b7babdc3e969e3fe6728005a1a4abca307974742#commitcomment-18233479.

[2016-07-13 17:35] dougbu commented on #3118
/fyi @davidfowl this is the bug I mentioned yesterday evening.

[2016-07-13 17:42] ipjohnson commented on #3108
@emgarten I get the following error

Attempting to build package from 'project.json'.
Object reference not set to an instance of an object.

[2016-07-13 19:27] sflanders opened #3122 "nuget doesn't appear to utilize NuGetDefaults.config properly"
We have setup nuget.exe (2.x and 3.x tried both) and added them to the path on our build servers.   We them added a NuGetDefaults.config to path C:\ProgramData\NuGet based on info here:

https://docs.nuget.org/consume/nuget-config-defaults

The problem is it never seems read it and always just recreates a nuget.config in the roaming path for the user.   For now we just added the config for each us

[2016-07-13 22:15] govin opened #3123 "Guidance needed on how to publish packages for core to nuget and myget"
My company internally uses myget to manage .NET 4.0 and .NET 4.5 packages. I would like to get some guidance on how to publish .NET Core 1.0 packages to internal myget as well as how to publish .NET Core 1.0 packages to nuget.

Also, need guidance on how to do the above from mac/linux as we're trying to build the publishing pipeline in linux.

[2016-07-13 23:26] joelverhagen opened #3124 "[Test Failure] VSTS server integration tests failing with 401 Unauthorized"
The tests going to be disabled until this is fixed as to not block the pipeline. Suspected root cause is expired test credentials.

[code]

[2016-07-13 23:28] abatishchev opened #3125 "Update (all packages) wrongly verifies integrity of all projects in solution, declines to update packages"
In my solution one of the projects has an internal project which was installed ignoring dependencies (too many of them while we need only interface definition).

When I open the Updates tab, select public NuGet.org feed, select All packages, click Update, I'm getting the following output:

And nothing happens.

However, I can update packages, one by one, by clicking Install in right menu.

[2016-07-13 23:30] abatishchev commented on #2748
What is the timeline to address this?

[2016-07-13 23:59] rrelyea commented on #2748
3.6 is targeted for November. We currently do not plan to do this in that release, as our backlog is very full.
Beyond that, do not know.
Like the idea. Understand the need.

[2016-07-14 00:24] rrelyea opened #3126 "Fix owner of Nuget.Configuration"
https://www.nuget.org/packages?q=nuget.configuration

[2016-07-14 00:25] rrelyea commented on #3123
Before we address the first paragraph:
what do you mean by "internal myget"?

"dotnet push" or something similar is in our roadmap. We plan to deliver something in the timeframe of the next feature release of .NET Core.
Until then, pushing via "NuGet.exe push" is your best option.
Linux using Mono to run NuGet.exe may be an option now as well.

[2016-07-14 00:45] rrelyea commented on #3125
What version of NuGet are you using?
What version of VS?

How can we reproduce the problem? (please give specific steps)

[2016-07-14 01:20] abatishchev commented on #3125
NuGet 3.5.0.1484
Microsoft Visual Studio Enterprise 2015 Version 14.0.25422.01 Update 3
Microsoft .NET Framework Version 4.6.01055

[2016-07-14 02:41] rrelyea commented on #3125
Repro Steps?
What kind of projects should we create (and how should we modify them) to minimally reproduce the problem?

[2016-07-14 03:14] goneale opened #3127 ""update-package -reinstall" solution wide issue"
"update-package -reinstall" reinstalls all packages solution wide, not just those within 'default project' selected in the drop down list.

[2016-07-14 04:13] Kanimozhi12 commented on #3062
Any updates??

[2016-07-14 04:38] vfrank66 commented on #1474
I have no idea if I have what your asking but this is what it looks like on my machine VS2015 Preview 3, Nuget Package Manager 3.4.2. Let me know if there is any more info that would be helpful.

![nuget-fail](https://cloud.githubusercontent.com/assets/7524999/16828132/ad3cc86a-4952-11e6-980b-d20c370ffa04.PNG)

[2016-07-14 04:46] vfrank66 commented on #1474
Oh github does not allow .saz files: https://drive.google.com/open?id=0B9aAzxUiqEgaZUpnbVVMekVwbUk

[2016-07-14 04:52] yishaigalatzer commented on #1474
Victor the current release is 3.4.4 can you please update ?

[2016-07-14 06:08] abatishchev commented on #3125
I can present my desktop (internal alias alexbat) if you'd like.

In general, we have the following disposition:
- Package1 is on public feed and has an update available
- Package2 is on private feed
- Package2 is installed without its dependency Package3 (no matter what kind of feed it is on)
- Project1 references both Package1 and Package2

I open Manage packages for solution (however, it's same

[2016-07-14 07:03] MichaelLogutov commented on #2736
This is big. Updating packages in solution with 100 project taking HOURS. No really. It's not usable.

[2016-07-14 07:32] mahlzeit commented on #1512
Fair point. That should do it as well, although we found another (pretty simple) way in the meanwhile to add all kind of additional files needed. Octopack came to the rescue, as it provides an option to handle the <files> section of a nuspec you add to the project not as an exclusive list, but as "on-top of everything I would normally add based on the csproj file" list ;)

If somebody is intereste

[2016-07-14 08:18] donnib commented on #3089
@mrward any idea when can expect a release of mono version that will solve this ? As far as i can see this bug is in master in Mono.

[2016-07-14 08:33] mrward commented on #3089
The bug is fixed in the master branch of Mono. It should be in the next service release of Mono which is [currently scheduled for a stable release](https://releases.xamarin.com/beta-release-cycle-7-service-release-1/) in July.

[2016-07-14 09:43] edvowles commented on #2836
@emgarten I'm using a laptop that I inherited from someone else. I suspect it hasn't had powershell installed separately to anything that comes with windows 7 or visual studio but I don't know.

[2016-07-14 11:10] BladeWise commented on #3108
@emgarten @rrelyea Using the NuGet.exe nightly build (3.5.1.1597) `nuget pack <projectname>.csproj` still places dll files inside `portable50` folder.
Moreover, using pack over the `<projectname>.project.json` is not a valid solution, since we cannot achieve the same results as before.

Ona a side note: using `<projectname>.csproj, <projectname>.nuspec, packages.<projectname>.config` and calling `

[2016-07-14 12:06] AdrianBathurst commented on #1451
I have similar issue trying to install DotNetCore.1.0.0-VS2015Tools.Preview2.exe. I have VS2015 Update 3 installed.

Seems to fail on `NuGetVisualStudio14_rc2_39.msi`, see near the end of log below...

[code]

[2016-07-14 12:53] JasonLawrenceDuncan commented on #2897
FWIW, we have the same problem, and would be delighted to have a better solution. What we settled on (for now), is not using the IncludeReferencedProjects flag in our build script, and having to manually maintain any such dependencies.

[2016-07-14 15:24] BladeWise opened #3128 "NuGet pack fails to resolve assembly when retrieving portable assembly metadata"
Using `nuget pack Sample.csproj -verbosity detailed` over the [attached project](https://github.com/NuGet/Home/files/364101/Sample.zip) produces a `System.IO.FileNotFoundException`, trying to resolve `System.Runtime, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a`.
Such exception is raised while trying to [access assembly metadata in the reflection-only context](https://github.c

[2016-07-14 15:43] govin commented on #3123
@rrelyea by "internal myget", I mean we have a corporate account to which we publish packages which are meant for internal consumption within the company - https://companyName.myget.org/F/dev/

I'm looking for guidance on publishing Core packages to that myget instance which can be consumed by the rest of the company.

[2016-07-14 15:50] joeloff commented on #1451
There will be separate log file for the NuGet MSI in %temp%, the file should be prefixed with dd_NetCoreTools that will shed more light on the failure

There should also be a corresponding vsixinstaller log in %temp%. Unfortunately, you'll need to find the correct one based on the timestamp/contents as the VSIX logs usually just get a GUID appended to the filename.

Could you please attach both th

[2016-07-14 16:14] eerhardt opened #3129 "The default restore verbosity is too verbose"
See https://github.com/dotnet/cli/pull/3229#discussion_r64662866 and https://github.com/dotnet/cli/pull/3229#issuecomment-221735677.

Currently the CLI is setting the default verbosity to 'minimal' if one isn't set during `dotnet restore`.  I would like to remove that code in the CLI and have the CLI strictly pass all the args straight through to NuGet. In order to remove the code in CLI's `dotnet

[2016-07-14 16:20] AdrianBathurst commented on #1451
Here are the logs.

I notice there is a reference to `C:\Program Files (x86)\NuGet\Visual Studio 2015\NuGet.Tools.vsix`, this does not exist, there is no NuGet directory at all.

I have NuGet v3.5.0.1484 already installed.

[logs.zip](https://github.com/NuGet/Home/files/364245/logs.zip)

[2016-07-14 16:22] eerhardt opened #3130 "`dotnet restore --help` "Usage" is incorrect"
[code]

Notice that the "Usage" line says: `Usage: nuget3 restore [arguments] [options]`. Specifically `nuget3 restore` and not `dotnet restore`.  `nuget3` is not a command I can run.

I am using the following CLI:

[code]

[2016-07-14 16:23] eerhardt commented on #3129
This issue is blocking https://github.com/dotnet/cli/issues/3862.

[2016-07-14 16:24] youngdelaney commented on #3130
Ok

Get Outlook for Android

On Thu, Jul 14, 2016 at 12:23 PM -0400, "Eric Erhardt" notifications@github.com wrote:

Usage: nuget3 restore [arguments] [options]

Arguments:
  [root]  List of projects and project folders to restore. Each value can be: a path to a project.json or global.json file, or a folder to recursively search for project.json files.

Options:
  -h|--help                       S

[2016-07-14 16:29] joeloff commented on #1451
Thanks @AdrianBathurst The MSI usually drops the VSIX there before running the VSIXInstaller on it to install NuGet.

I'll take a look at the logs.

[2016-07-14 16:42] joeloff commented on #1451
From what I can tell, the MSI is trying to install it, however, the VSIXInstaller seems to think that the VSIX doesn't apply to any VS SKU you have:

_14/07/2016 17:00:59 - VSIXInstaller.NoApplicableSKUsException: This extension is not installable on any currently installed products.
   at VSIXInstaller.App.InitializeInstall(Boolean isRepairSupported)
   at VSIXInstaller.App.OnStartup(StartupEvent

[2016-07-14 16:45] harikmenon commented on #3129
@blackdwarf - Z, we need to chat about this like we discussed before we fix this.

[2016-07-14 16:47] rrelyea commented on #2934
Was checked into dev already.

[2016-07-14 16:51] AdrianBathurst commented on #1451
Followed your steps. Same error. Yes I did notice that vs version message which I thought was strange.

When the error was thrown, I checked if the NuGet directory & vsix file existed, they did, so the installer is getting it there.

[2016-07-14 16:58] AdrianBathurst commented on #1451
I also tried running the NuGet installer standalone, same error...

![28d7da34-49c9-11e6-99b8-b4ac35e5bfe5](https://cloud.githubusercontent.com/assets/9006517/16848195/7b76eb86-49ec-11e6-985b-82480b80f481.jpg)

[2016-07-14 17:03] joelverhagen commented on #3062
Hey @Kanimozhi12, could you send a minimal repro for this problem? An example Website project as well as the VSIX project would be very helpful for our investigation. If you are concerned about privacy, feel free to upload a zip of the project to a file sharing website (like OneDrive, Dropbox, Google Drive, etc) and send the link to support@nuget.org.

[2016-07-14 17:05] Michael-Eng commented on #1451
What version of Visual Studio do you have installed? Can you send us a screenshot of the window from Help | About? Thanks

[2016-07-14 17:08] AdrianBathurst commented on #1451
![2016-07-14_180751](https://cloud.githubusercontent.com/assets/9006517/16848493/f039bff6-49ed-11e6-85e3-ff88f08460bc.jpg)

[2016-07-14 17:50] alpaix commented on #1674
When the implementation PR is pushed we need to add end-to-end tests for each of the cases.

[2016-07-14 18:00] AdrianBathurst commented on #1451
There is a similar issue raised on aspnet/Tooling by someone else...
https://github.com/aspnet/Tooling/issues/655

[2016-07-14 18:01] Michael-Eng commented on #1451
Does the vsix_\* log file for your last install attempt match the one in the zip file you sent? From the log, it looks like the vsix installer doesn't see any installed VS SKUs.

In the vsix_\* log file, we should see lines like this:
6/17/2016 11:29:00 AM - Found installed product - Microsoft Visual Studio Enterprise 2015

but in yours it's not there.

[2016-07-14 18:05] drieseng opened #3131 "NuGet Package Manager for VS 2012 does not support .NETStandard"
Version **2.8.60318.667** of the **NuGet Package Manager** - which is the latest version available for **Visual Studio 2012** - does not support packages that defines dependencies for **.NETStandard**.

When - for example - a given package defines dependencies for both **UAP10.0** and **.NETStandard 1.3**, then the following is reported:

'_package name_' already defines a dependency for '_depende

[2016-07-14 18:10] joelverhagen opened #3132 "packages.config operations should use the HTTP cache"
The following operation already uses the HTTP cache:
- `nuget.exe restore project.json`

The following operations do NOT use the HTTP cache and could benefit from it:
- `nuget.exe install ID -version VERSION`
- `nuget.exe install packages.config`
- `nuget.exe restore packages.config`

[2016-07-14 18:15] rrelyea commented on #3131
We shipped a version of 2.12 for VS2013 with NetStandard support on June 27th.
We wanted to ship one for VS2012 as well, however we ran into some problems. You are the first person to notice.

Putting into our current milestone to help us resolve the plan.

[2016-07-14 18:17] Michael-Eng commented on #1451
From your screenshot you have VS Community installed, however it does not appear that way to the vsix installer.

To verify:
1. in your registry, you should have HKLM\Software\Wow6432Node\Microsoft\VisualStudio\14.0\Setup\VS\Community[ProductDir] and it should be set correctly
2. You should also have HKLM\Software\Wow6432Node\Microsoft\VisualStudio\14.0[InstallDir] set and when you look at the pat

[2016-07-14 18:19] rrelyea commented on #3123
If you want to publish packages that can be consumed by .NET Core 1.0, you should look towards publishing packages with NetStandard support.

Choose a version depending on the API needs of your library. (1.0 - 1.6)
https://docs.microsoft.com/en-us/dotnet/articles/standard/library

Some NuGet servers may validate the target frameworks, and may need an update before they can support NetStandard. If

[2016-07-14 18:28] AdrianBathurst commented on #1451
Here are the screen shots...

![2016-07-14_192252](https://cloud.githubusercontent.com/assets/9006517/16850868/da428380-49f8-11e6-8b14-af36c6a6663a.jpg)

![2016-07-14_192432](https://cloud.githubusercontent.com/assets/9006517/16850875/e1e78400-49f8-11e6-8093-7f8eecf8e162.jpg)

![2016-07-14_192542](https://cloud.githubusercontent.com/assets/9006517/16850884/e5208040-49f8-11e6-84f7-db4f8cf82fd9.jpg)

[2016-07-14 18:34] AdrianBathurst commented on #1451
Not quite sure what you meant in your previous post, so here are all the logs...

[DotNetCore.1.0.0-VS2015Tools.Preview2.exe - Install logs.zip](https://github.com/NuGet/Home/files/364526/DotNetCore.1.0.0-VS2015Tools.Preview2.exe.-.Install.logs.zip)

[DotNetCore.1.0.0-VS2015Tools.Preview2.exe - Uninstall logs.zip](https://github.com/NuGet/Home/files/364527/DotNetCore.1.0.0-VS2015Tools.Preview2.exe

[2016-07-14 18:48] rohit21agrawal opened #3133 "update nuget.core dependency in NuGet.Client"
This is required in order to complete the fix for proxy authentication issue that we fixed : https://github.com/NuGet/NuGet2/pull/57

This will complete the proxy authentication hack for mono in the issue : https://github.com/NuGet/Home/issues/2992

Commands like NuGet.exe list still rely on v2 code, and hence the dependency must be updated.

[2016-07-14 18:49] drieseng commented on #3131
Another option would be to release SL4, WP7 (...) framework targeting packs for VS2013 and/or VS2015 :-)

[2016-07-14 21:09] #3068 closed, assigned to jainaashish

[2016-07-14 21:24] 304NotModified commented on #1339
Maybe this issue is broader, we like to have one package for Asp.net and asp.net core

[2016-07-14 21:32] #3133 closed, assigned to nobody

[2016-07-14 21:42] rohit21agrawal opened #3134 "Remove mono hacks for proxy authentication for https source"
As part of fixing issue https://github.com/NuGet/Home/issues/2992 , we added hacks in the v2 and v3 codebases. This is a tracking issue to remove these hacks when Xamarin has fixed these issues on their end.

Will need to revert the following pull requests:

https://github.com/NuGet/NuGet2/pull/57
https://github.com/NuGet/NuGet.Client/pull/747

[2016-07-14 21:43] alpaix opened #3135 "NuGet should automatically redirect to https where http is not supported"
**Problem**
A customer copied a command from his nuget.org profile page to push a package:

[code]

The operation has failed with following error:

**Expected**
The nuget client recognizes 403/SSL error and automatically retries the request with updated URL using SSL endpoint.

[2016-07-14 21:45] #2992 closed, assigned to rohit21agrawal

[2016-07-14 23:05] rohit21agrawal commented on #3075
@MistyKuu I tried the first scenario with nuget.3.5.0-beta2, and it works as expected. Here is the nuspec file i used :

[code]

I placed it in the same directory as the csproj file and ran nuget pack configtojson.csproj and it worked as expected. (Have attached the resulting nupkg)
[ConfigToJson.1.0.0.zip](https://github.com/NuGet/Home/files/364911/ConfigToJson.1.0.0.zip)

Maybe I am missing some

[2016-07-14 23:23] eerhardt opened #3136 "ResolveNuGetPackageAssets msbuild target needs RID fallback support for .NET Core"
As it exists today, the MSBuild Target `ResolveNuGetPackageAssets` doesn't do any RID interpretation.  However, this is a problem because when building in VS, I get errors like the following:

[code]

'win-x64' isn't really a supported RID in .NET Core.  Today, the "base" 10 RIDs that are supported for .NET Core are:

[code]

The `ResolveNuGetPackageAssets` target expects someone to set the $(Base

[2016-07-14 23:30] madnemesio commented on #71
Hi, I have a similar problema with NuGet.

No exports were found that match the constraint.
Referencing NuGet.VisualStudio.IVsTemplateWizard.

¿how can I solve this? Please help.

[2016-07-14 23:59] madnemesio commented on #3042
Hello.

I have a similar problema but diferent VS versión. I have installed the community edition.
Any idea of what can i do to fix this problem? I'll appreciate this.

[2016-07-15 00:01] rrelyea opened #3137 "Warn bad install/upgrade for project w/ tfm="dotnet""
Details to come...

[2016-07-15 00:02] madnemesio commented on #3126
Hi Good day.
Im having this problem when creating a new Project, referencing NuGet.

Can you help mw with this?

![image](https://cloud.githubusercontent.com/assets/19720919/16859558/6dfdf748-49f5-11e6-975a-7329761ed0f8.png)

[2016-07-15 00:15] harikmenon opened #3138 "NuGet needs to let users know that upgrading/installing in a dotnet tfm based PCL could cause issues"
1)  The NuGet team will be a check in place to detect the use of the dotnet TFM during Install and Update. We will show a warning dialog that will point users to a document that will be authored by the .NET Core team that will lay out the steps required to move to .NET Standard. We will not prevent the update/install if the user needs to but we will make clear that this could cause issues. This ch

[2016-07-15 00:48] harikmenon opened #3139 "Updating multiple packages with rollback leaves the project in a broken state"
Repro
1) Download Project from here https://1drv.ms/u/s!AiAm-9ay0h6wjpo4x5bCzer80z5R9A
2) In the Quandrant PCL you will see 2 updates in the nuget package manager
3) Update both

Expected
If any updates fail, then then it should be rolled back without leaving the project in a broken state

Actual
project is broken

[2016-07-15 00:54] joeloff commented on #1451
@AdrianBathurst which keys do you see under HKLM\Wow6432Node\SOFTWARE\Microsoft\DevDiv\vs\Servicing\14.0\

Is there anything for professional? That's how the NuGet MSI detects the SKU.

[2016-07-15 00:56] mishra14 commented on #1674
@harikmenon : Realized that we cant have different error message for a random string, since its treated as a local relative string ( like a local folder name!). So the case 3 would be updated to the following -

Update Case 3 -

[code]

Let me know your thoughts or if this is fine?

cc : @rohit21agrawal @rrelyea @yishaigalatzer

[2016-07-15 00:58] joeloff commented on #1451
If you see this key: HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Microsoft\DevDiv\vs\Servicing\14.0\professional

You can try to temporarily rename it to something other than professional and then run the .NET Core tool install.

If you only have Community installed, then you shouldn't have this key, but if you do have it, this should get you around the install issue you're facing

[2016-07-15 00:58] joelverhagen opened #3140 "Don't change the .nuspec namespace for the addition of package types"
This is aligning with the servicable change by @rohit21agrawal, where we chose not to introduce a new namespace.

[2016-07-15 01:13] #3118 closed, assigned to emgarten

[2016-07-15 02:47] yishaigalatzer commented on #3135
We shouldn't do that in the client. The error is valid. We should fix the docs instead. Please open a gallery bug and close this one

[2016-07-15 03:57] harikmenon commented on #1674
Sounds good to me.

[2016-07-15 07:03] abatishchev commented on #2317
Should this be closed?

[2016-07-15 07:05] #2317 closed, assigned to nobody

[2016-07-15 07:40] MistyKuu commented on #3075
Hey,
did you do that step ? - "3. Download nuget package to create packages.config and delete it, create project.json".
I think you are using packages.config not project.json.
Minimal reproducable example. Please read readme.txt for explanation
[ConsoleApplication61.zip](https://github.com/NuGet/Home/files/365419/ConsoleApplication61.zip)

[2016-07-15 07:55] JakeGinnivan commented on #1631
I just had this issue, I fixed it by removing a solution platform (had Any CPU and x86)

[2016-07-15 08:59] BladeWise commented on #3075
@MistyKuu using the file you provided I was able to generate a proper NuGet package once I removed the reference to the NewtonsoftJson assembly, and restored packages at the solution level.
As far as I know, dependencies injected through project.json are not mapped to `Reference` nodes in the csproj, so you need to remove them by hand (or uninstall the package before upgrading to project.json).
On

[2016-07-15 09:08] JakeGinnivan commented on #1631
Actually, it wasn't this exact error. It was a AggregateException not a decent error message

[2016-07-15 09:18] z2xlong opened #3141 "Is there any way to specify the HintPath of packages?"
Hi,

I have a system environment variable %REPO% to link to a folder, Is there any way change the default HintPath like '....\packages\dummy.dll'   to '$(REPO)\packages\dummy.dll'  in the .csproj file?

Thanks.

[2016-07-15 09:32] AdrianBathurst commented on #1451
@joeloff  Am away till tonight, will check then. I only have Community installed though.

[2016-07-15 10:06] MistyKuu commented on #3075
@BladeWise Newtonsoft.json.dll dll reference is there by accident. You should remove it because Newtonsoft.json nuget package is used instead. The behaviour you are describing is true for 3.4.4 version of nuget. If you use 3.5.0-beta2 you'll notice this behavior. Please download official builds: https://dist.nuget.org/index.html.
To sumup
3.4.4 -> `<files>` works, dependencies not included
3.5.0-b

[2016-07-15 10:24] TKonov commented on #456
@stevewilliamsuk thank you for the insight and the suggestion. Works like a charm!

[2016-07-15 10:39] BladeWise commented on #3075
@MistyKuu I can confirm that published 3.5.0-beta2 ignores the nuspec file but provides dependencies, the nightly build works exactly as the 3.4.4.

Recapping:
3.4.4 -> gets info from nuspec, dependencies not included
3.5.0-beta2 -> ignores nuspec, dependecies included
nightly build -> same as 3.4.4 (gets info from nuspec, no dependencies)

[2016-07-15 11:19] ursenzler opened #3142 "TODO: unknown keyword platform when executing nuget restore"
When I execute `nuget restore` on a solution with a .net core Web Application project, I get the following output:

[code]

I have installed:
- Visual Studio Update 3
- .NET Core 1.0.0 - SDK Preview 2 (x64)
- .NET Core 1.0.0 - VS 2015 Tooling Preview 2

The solution is created from Visual Studio Update 3 through the project template for ASP.NET MVC (.Net Core).

This is on a machine that I set up

[2016-07-15 12:13] StefH commented on #3034
Any update? I'm facing same issue : https://github.com/StefH/System.Linq.Dynamic.Core/issues/33

[2016-07-15 13:01] Ingerdev commented on #3092
Try to update Microsoft.NETCore.UniversalWindowsPlatform to 5.2.2 version.

[2016-07-15 13:33] ericstj opened #3143 "PackageManager Update All doesn't handle failures"
Consider 2 package updates, one will fail and the other succeeds.

If these updates are done individually NuGet will handle the failing one, and roll it back.

If these updates are done in an "update all" batch, NuGet will allow both the updates to occur leaving the project in a broken state.

I'd expect NuGet to allow the successful update, but roll back the failed update.

[2016-07-15 13:58] yishaigalatzer commented on #1631
Can you share the call stack?

[2016-07-15 14:27] drieseng opened #3144 "The type initializer for 'NuGet.ProxyCache' threw an exception"
I get the following error whenever I try to run the nuget command line client from a network share:

The type initializer for 'NuGet.ProxyCache' threw an exception.
  An invalid argument was supplied

Any idea what may be causing this ?

[2016-07-15 14:37] #3140 closed, assigned to joelverhagen

[2016-07-15 15:56] eerhardt commented on #3136
Another issue in this vein - in .NET Core today, the default app type is a "portable" app, which doesn't have a "runtimes" section at all.  However, when building from VS, I still get:

[code]

Which is incorrect, because portable apps don't have a "runtimes" section.

[2016-07-15 16:45] rrelyea commented on #3143
dupe of https://github.com/NuGet/Home/issues/3139

[2016-07-15 16:45] #3143 closed, assigned to nobody

[2016-07-15 16:48] rrelyea commented on #3123
Closing. Please reactivate if this didn't answer your question, along with your follow up.

[2016-07-15 16:48] #3123 closed, assigned to nobody

[2016-07-15 16:49] rrelyea commented on #3137
@harikmenon added the following in the dupe issue:
1) The NuGet team will be a check in place to detect the use of the dotnet TFM during Install and Update. We will show a warning dialog that will point users to a document that will be authored by the .NET Core team that will lay out the steps required to move to .NET Standard. We will not prevent the update/install if the user needs to but we wil

[2016-07-15 16:50] rrelyea commented on #3138
dupe of #3137

[2016-07-15 16:50] #3138 closed, assigned to nobody

[2016-07-15 16:51] rrelyea commented on #3144
Version of NuGet.exe?
Did this work before?

[2016-07-15 16:55] rrelyea commented on #3124
Joel fixed the credentials problem.

[2016-07-15 16:55] #3124 closed, assigned to nobody

[2016-07-15 17:10] rohit21agrawal opened #3145 "NuGet pack ignores dependencies in output nuspec for project.json"
This issue is being created out of the two issues filed under :
https://github.com/NuGet/Home/issues/3075

This is tested against the the latest nightly build on the date of filing of issue. The behavior with 3.5.0-beta2 is very different in the sense that it does output the dependencies (in the output nuspec) but it completely ignores the provided nuspec file.

Repro steps:

1) Take a project.jso

[2016-07-15 17:24] tmulkern commented on #2747
@rrelyea Thanks for looking into it

[2016-07-15 17:26] wbradney commented on #2965
Another data point is that I've noticed that since switching to project.json my internally generated packages no longer show our company logo in Visual Studio (this is specified in the .nuspec file).

[2016-07-15 17:38] rohit21agrawal commented on #2965
@wbradney there is a similar issue we are tracking , and the issue is summarized as follows:

3.4.4 -> gets info from nuspec, dependencies not included
3.5.0-beta2 -> ignores nuspec, dependecies included
nightly build -> same as 3.4.4 (gets info from nuspec, no dependencies)

https://github.com/NuGet/Home/issues/3145

[2016-07-15 17:44] rrelyea commented on #2844
dupe of https://github.com/NuGet/Home/issues/1851
@harikmenon  - why 3.5 rtm? (please follow up in email)

[2016-07-15 17:44] #2844 closed, assigned to alpaix

[2016-07-15 17:56] rrelyea commented on #2917
Looks like 3.5 rtm should be ok to ship with this in the code base. We may need to understand 1.0 and 1.1 projects in the future...and do old/new behavior.

[2016-07-15 18:01] rrelyea commented on #3074
tied up with joel's investigation of the large matrix of caching behaviors, etc... won't land in time for 3.5

[2016-07-15 18:10] AdrianBathurst commented on #1451
@joeloff Hooorayyy! Yes, that key was present. I renamed it & it worked!! Thank you!!! Odd, as I've not installed Professional. Question is, should I keep it renamed, or return it to it's original state?

Thanks again!

[2016-07-15 18:12] rohit21agrawal commented on #3075
@MistyKuu @BladeWise You are correct. I used the nightly build instead of 3.5.0-beta2.
Appreciate your detailed feedback and quick responses.

I am cutting a separate bug to track this issue:
https://github.com/NuGet/Home/issues/3145

As for the second issue, what I am seeing with the nightly build is that , ProjectB gets added as a dependency, (NUnit does not, which is basically the part 1 of the

[2016-07-15 18:13] joeloff commented on #1451
Awesome!. For now, rename it back to professional. I'll follow up with VS to find out why the professional key was created

[2016-07-15 18:14] rohit21agrawal opened #3146 "nuget pack does not work if you change the name of the exe"
Repros in 3.5.0-beta2 and nightly builds.

Throws the error:
Could not load file or assembly 'NuGet, Version=3.5.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. The system cannot find the file specified.

[2016-07-15 18:21] AdrianBathurst commented on #1451
Here is the screen shot for reference...

![2016-07-15_191820](https://cloud.githubusercontent.com/assets/9006517/16884389/0104c9ce-4ac1-11e6-8f46-4f023e83d63b.jpg)

[2016-07-15 18:32] wbradney opened #3147 "Floating versions: Is the wrong prerelease version being resolved here?"
This is with v3.5.1.1597
I just observed some very strange behavior after converting a couple of core projects from using a fixed version ref to using a floating version.

eg. 0.1.1-pre12 => 0.1.1-*

ProjectX references PackageA 0.1.1-*
PackageA references PackageB 0.1.1-*

The intent here was to resolve to the latest prerelease version, on the assumption that prerelease versions would be sorted a

[2016-07-15 18:40] emgarten commented on #2627
:shipit:

[2016-07-15 18:44] emgarten commented on #3146
Would you paste the stack trace by running with `-verbosity detailed`

[2016-07-15 18:47] emgarten commented on #3142
@ursenzler You need nuget.exe 3.5.0-beta2 from here: https://dist.nuget.org/win-x86-commandline/v3.5.0-beta2/NuGet.exe

The error you are seeing can come from older versions of NuGet.exe that do not support .NET Core projects. The installed components you list do not include nuget.exe, so I'm not sure what version you have currently.

[2016-07-15 18:48] joelverhagen commented on #3139
I was able to reproduce the problem on NuGet 3.4.4-rtm-1321, Visual Studio 2015 Update 3, and by doing a batch restore on the Irony project (not Quadrant). Investigating...

[2016-07-15 18:48] emgarten commented on #3141
NuGet doesn't support this, but you can edit your csproj manually after installing to update it.

[2016-07-15 18:51] emgarten commented on #3042
@madnemesio try the steps mentioned above, they apply to all versions of vs.

[2016-07-15 19:00] #2627 closed, assigned to alpaix

[2016-07-15 19:13] wbradney commented on #3147
Even more weird, as an experiment I removed all of the _-alpha_ packages from my repo and now the conflict is between 0.1.1-pre01 and 0.1.1-pre02.
It looks like at least one resolve is resulting in the _first_ or _earliest_ version...
If I revert my project.json changes back to fixed versions everything builds fine.
Also, if I _add_ a redundant floating reference to the problem assembly, everythin

[2016-07-15 19:21] rrelyea commented on #3147
Can you focus on 3.5.0 builds? ( dev branch )
3.5.1 is a little behind 3.5.0 now...

Still a problem with 3.5.0? Which build?

[2016-07-15 19:26] drieseng commented on #3144
It's version **3.4.4.1321**.
Can't tell if it worked before.
Is there a way to get the full stack trace?

[2016-07-15 19:32] kingerja opened #3148 "Nuget fails to fetch credentials."
Version of nuget used: 3.5.1.1597

The symptoms appear to be the same as:
[https://github.com/NuGet/Home/issues/2885](https://github.com/NuGet/Home/issues/2885)

I have been using a private build with this 2885 fix provided by Joel so it is possible the fix for 2885 has just never made it to the right branch.

Command run:

[code]

output:

[code]

Nuget credential log for failed invocation:

[cod

[2016-07-15 19:38] rrelyea commented on #3144
Ok. Going to put in "future" milestone instead of 3.5 or 3.6...as it looks like this is a newly discovered issue, and not a regression.
Please use NuGet.exe from the local drive for now.

If anybody has info different than that, please chime in.

[2016-07-15 19:39] rrelyea commented on #2885
this should be verified as part of our 3.5 RTM run.

[2016-07-15 19:42] rrelyea commented on #3148
Dupe of https://github.com/NuGet/Home/issues/3148 -- need to verify this hasn't broken since we fixed..
reopened 3148.

[2016-07-15 19:42] #3148 closed, assigned to nobody

[2016-07-15 19:44] rrelyea commented on #2885
Need to confirm that this is fixed in 3.5.0. Please also test #3148 repro (dupe issue) to ensure that both are fixed...etc...

[2016-07-15 19:45] rrelyea commented on #3142
Assuming this is fixed if you use a new enough NuGet.exe as @emgarten suggests, closing. Please confirm that works...and let us know.

[2016-07-15 19:45] #3142 closed, assigned to nobody

[2016-07-15 19:50] rrelyea commented on #2986
We've decided that we don't need to do this in 3.5 RTM. May need to understand 1.0 vs 1.1 in future, so putting in 3.6 beta for that possible work.

[2016-07-15 19:56] rrelyea commented on #2345
@anurse I'd prefer to minimize the engineering work here to use this package, and we still have a business need to not require people to have to update their .NET Framework versions just to continue to use the latest version of NuGet.exe.
Targeting 4.5 in your package, if your api usage allows, should be easy...and doesn't mean that microsoft now needs to do security patches for 4.5.
Wanted to tal

[2016-07-15 19:59] rohit21agrawal commented on #3146
@emgarten

[code]

[2016-07-15 20:55] alpaix commented on #3135
@nengberg reported a gallery issue to update the sample NuGet/NuGetGallery#3135.

[2016-07-15 20:56] yishaigalatzer commented on #3135
Sounds good, let's close this one

[2016-07-15 20:59] joelverhagen commented on #3137
Should it warn only if the project is targeting `dotnet`? Or also if a `dotnet` asset is being selected?

Should all `dotnet` TFMs be warned on, e.g. `dotnet5.1` - `dotnet5.6` as well as `dotnet`?

[2016-07-15 21:00] alpaix commented on #3135
@yishaigalatzer I think client behavior may be improved by at least showing more helpful and actionable message to user. The same way we inform user when API key is not provided and client asks user to run `setApiKey` command.

Does it make sense?

[2016-07-15 21:15] ericstj commented on #1843
Just hit this again, I suspect this will be more important as we bring project's which cross-compile to msbuild.

[2016-07-15 21:20] ericstj commented on #1843
Ping.  Just hit this again.  I suspect this will be more important now that we're moving cross-compile to msbuild-based projects.

[2016-07-15 21:28] analogrelay commented on #2345
@rrelyea As I said, there's no technical issue that I'm aware of, so if it gets approval from our PMs we can do it.

[2016-07-15 21:30] yishaigalatzer commented on #3135
Sure. Let's give it a good error message

[2016-07-15 21:58] z2xlong commented on #3141
IMHO, maybe this is a helpful feature that is used to decouple the path on the dev environment and the path on the build environment.

[2016-07-15 22:21] rrelyea commented on #3067
Moving to 3.6 beta. Cannot fit it into 3.5rtm.

[2016-07-15 22:25] rrelyea commented on #3043
Workaround for now is to use a .nuspec to get proper excludes. Have to let go past 3.5.0-rtm.

[2016-07-15 22:28] #3139 closed, assigned to joelverhagen

[2016-07-15 22:28] rrelyea commented on #2921
Hopefully, 3.6 beta.

[2016-07-15 22:30] rohit21agrawal commented on #3043
@rrelyea
if it's a project.json, then nuspec will be ignored completely.

[2016-07-15 22:34] rrelyea commented on #2345
Filed request on aspnet team: https://github.com/aspnet/FileSystem/issues/212

[2016-07-15 22:56] rrelyea commented on #3075
The fact that Packages.Config uses the presence of a .nuspec --- is hard to carry forward in the time we have left in 3.5.0-rtm.

[2016-07-15 23:57] rohit21agrawal commented on #3145
@mistykuu
Note that we have fixed the nuget pack case for csproj + project.json, however, it is expected behavior that the nuspec file will be completely ignored. anything you add in your nuspec file, can be added to your project.json file as well (reference: https://docs.microsoft.com/en-us/dotnet/articles/core/tools/project-json#packoptions)

In spite of this, if there is something you are still

[2016-07-15 23:58] stevenscreek opened #3149 "Change in <content> behavior between 3.4.3 and 3.4.4"
Repro steps:
- Create a new class library project.
- Create a new nuspec via nuget spec & provide value for tokens
- Add content items to the project, such as:

[code]
- Add `<files />` to the nuspec file.
- Build the package with nuget pack Project.csproj.

Using 3.4.3.855, the `<files />` suppresses addition of the `<content>` items as described in #1177.
Using 3.4.4.1321, the `<content>` items

[2016-07-16 00:03] emgarten commented on #3149
@stevenscreek would you try the latest 3.5.0-beta2 and latest nightly from here to see if this is fixed in those builds: https://dist.nuget.org/index.html

[2016-07-16 00:09] stevenscreek commented on #3149
Both 3.5.0.1520 and 3.5.1.1597 show the behavior of 3.4.4 (including the content).

To be clear, as long as there's some way of excluding the <content> items, we're fine with changing how we accomplish that.

[2016-07-16 00:13] joelverhagen commented on #3137
Can we formalize this error condition? My proposal is that if the following conditions are met, display the warning dialog:
- Preview restore fails
- Project targets `dotnet` (or `dotnet50`, which is equivalent)
- Incompatible packages support `netstandard1.0`
- User has not checked "ignore this warning"

/cc @ericstj, @rrelyea, @harikmenon, @emgarten - thoughts?

[2016-07-16 00:14] emgarten commented on #3149
Thanks for checking this sounds like a bug in pack.

[2016-07-16 00:34] mishra14 commented on #1674
@harikmenon : Had an offline talk with @rrelyea about the complexity of the error message in Case 2.

I will update that to the following, simpler error message -

Update Case 2 -

[code]

Let me know if this looks fine?

cc : @rohit21agrawal @yishaigalatzer

[2016-07-16 03:45] emgarten opened #3150 "Performance: Avoid reading runtime.json files for restores that do not have RIDs"
Reading runtime.json files can be skipped for portable project restores.

The current pattern in restore is:
1. Restore for each TxM
2. Check all packages for runtime.json and build the RuntimeGraph
3. Restore each TxM/RID combination specified in project.json

Currently all of these steps are performed during restore, even when there are no RIDs. For portable restores just building the RuntimeGra

[2016-07-16 04:07] emgarten opened #3151 "Tool restores should happen once per solution"
Tool references should be restored once per restore process instead of for each project. When the same tool package exists in multiple projects the generated and overwritten again and again.

Ideally tool restores should start before project restores and the results (or still running tasks) should be passed into the project restore to be added to the final success/failure result.

**Example:**
Sol

[2016-07-16 04:13] emgarten opened #3152 "Performance: Improve ProjectRestoreCommand.GetRuntimeGraph"
While profiling restore `ProjectRestoreCommand.GetRuntimeGraph` showed up as the majority of the total restore time. The method should be optimized and caching added if it makes sense.

**Steps**
1. clone https://github.com/troydai/live.asp.net/
2. Revert the fix for https://github.com/NuGet/Home/issues/3150 or add runtimes to the project.json file
3. Restore src/live.asp.net

**Expected**
Buildin

[2016-07-16 07:08] drieseng commented on #3144
I did some more tests:
- 2.8.6: OK
- 3.2.0: FAIL
- 3.3.0: FAIL
- 3.4.3: FAIL
- 3.4.4: FAIL
- 3.5.0-beta2: OK

[2016-07-16 08:18] MistyKuu commented on #3145
@rohit21agrawal I am not sure if I understand it correctly. What do you mean by **"note we have fixed the nuget pack case for csproj + project.json"** if in the next sentence you are saying that nuspec is ignored and it's expected behavior. So nuspec should be ignored and we should use project.json from now? Sorry maybe it's because I just woke up and I don't understand :)

Edit: I tried this and

[2016-07-16 09:12] BladeWise commented on #3145
@rohit21agrawal I knew that project.json **could** be used as a replacement for projectname.nuspec (it didn't seem to me that was going to be superseded by it), yet I have not found any documentation regarding tokens substitution.
Trying to use this project.json

[code]

does not work, since project cannot be compiled:
`Error occurred while restoring NuGet packages: Error reading 'folder\project.j

[2016-07-16 10:01] andyfenna commented on #545
Is this ever going to get done?

[2016-07-16 10:37] dilare commented on #1448
# dsdfghj,# [ryfhghmn](hm

hm

@harshgMSFT ertuyg

)

[2016-07-16 21:52] harikmenon commented on #3137
Can you explain Preview restore a bit?

Also, what do you mean by incompatible packages in this context?

[2016-07-16 22:48] MV10 commented on #2146
Isn't it a major issue that Unity routinely blows away all the project/solution files that nuget depends upon?

[2016-07-16 22:57] MV10 opened #3153 "New commandline switch? -- NuGet Install -tfm netfx35"
I have a scenario in which a NuGet package contains a set of files targeting two frameworks, lib/net35 (for a Unity game project) and lib/netstandard16 (for reusing the DLLs server-side in a .NET Core REST API). No problems loading up my package on the Core side through VS2015 as normal.

The trouble is getting the net35 files into the Unity game project. Unity routinely overwrites the solution/pr

[2016-07-17 01:35] ivanpointer commented on #545
I'm building CI tools for our team, and am hooking a part of the build process straight into the .csproj files, to copy the build artifacts out to a staging directory where the larger CI script then finishes transforms/packaging etc., before the packages will be shipped off for deployment.

While I am using ReadyRoll and Octopack, I'm building our scripts as a single headless command (the "Integra

[2016-07-17 01:38] harikmenon commented on #545
While I have re-opened this issue, this is just to encourage discussions on the topic so we can gather all the feedback. We are pretty full for the next 2 milestones (untill fall), so even if we decide to do it this probably wont happen this year.

[2016-07-17 01:39] harikmenon commented on #545
Another question. Are you able to use nuget.exe install to get around this? Not sure if this going to work but curious to see if you have tried it?

[2016-07-17 05:09] ivanpointer commented on #545
First, thank you for bringing this back to life Harikrishna!  I am very grateful!

I haven't yet considered leveraging nuget.exe directly; this may work.  To help shed some light on my situation, here's what I'm depending on the NuGet package to do:
1. Deliver the binaries needed to perform the single headless command build.  These include the MSBuild Extensions Pack (Thank you Sayed Hashimi and o

[2016-07-17 05:25] ivanpointer commented on #545
Looking through the chain of items associated with this one, I've found that a PR was opened for OctoPack to handle this (https://github.com/OctopusDeploy/OctoPack/pull/65), and an issue for OctopusDeploy (https://github.com/OctopusDeploy/Issues/issues/1594), but I think what we really need here is simply the ability to add NuGet packages to DB/SQL projects, and I think this is really a Visual Stu

[2016-07-17 06:58] agray commented on #2288
After reading this issue I resolved this for myself by:
1. Updating Nuget to 3.4.4-final
2. Changing my batch file by removing the -SetApiKey line
3. Changing my batch file to add the following to the end of  my nuget push line:

[code]

[2016-07-17 12:33] Otto404 commented on #3112
I was facing the same issue. performing repair on visual studio did the job.

[2016-07-17 19:58] samholder opened #3154 "When a empty `<references/>` element is specified all dlls are still added as references"
If I have a nuspec into which I have explicitly added an empty `<references/>` element I would expect that no references are added. However actually it seems to treat the omission of a `<references>` tag and it being empty as the same thing, and just adds references to all the dlls.

My use case is a plugin for an extension to VS. So I want to install the package and modify the app.config to point

[2016-07-18 06:18] ursenzler commented on #3142
I can confirm, that version 3.5.0-beta2 fixes the issue. I was using the latest stable version 3.4.4

[2016-07-18 09:57] renkun-ken commented on #3105
It seems that the problem is fixed with the latest `nuget.exe`?

[2016-07-18 10:09] renkun-ken commented on #3105
It still randomly hangs :(

[2016-07-18 12:10] MistyKuu commented on #3145
It looks like packOptions are not used by nuget pack (I suppose they are used by dotnet pack). Can we expect the fix in 3.5 RTM to use either nuspec or project.json pack options?

[2016-07-18 12:31] johnnycamby opened #3155 "BadImageFormatException"
The past 2 days when i was using NuGet to add new packages to an mvc web application and then after debugor run the application , **a yellow screen of death with 'BadImageFormatException: Cannot load a reference assembly for execution.' has always been displayed**.
I have checked most of stackoverflow and codeproject  solutions but non of their solutions has solved my problem.
I then decide to cre

[2016-07-18 12:52] jacqueskang commented on #1806
We are surprised to find out nuget.exe v3.5.0-beta2 doesn't take into account "dependencyVersion" specified in nuget.config, when restoring NuGet packages from project.json. Does anyone know a walk-around for this ? How can I have nuget.exe install "highestMinor" version for indirect dependencies?

[2016-07-18 13:01] johnnycamby commented on #3155
Alright I now solved the problem though i do think it's not the right way.
I went to the 'web.config' file and commented the **'System.Runtime'** assembly dependency .But still on building the application the **'System.Runtime'** assembly dependency is added automatically. Lead to doing the same process of comment it before running the application.
I don't think this is the solution to my problem,

[2016-07-18 14:51] wbradney commented on #3147
I just did a rebuild with 3.5.0.1520 and I get the same error

[2016-07-18 15:10] raffaeler opened #3156 "How to filter for dotnetcore?"
In VS, from a DotNetCore app or lib, I cannot find any way to filter the nuget packages that can be effectively used in .NET Core.
This means that I find a package, add it and obviously fails.
Am I missing something?

[2016-07-18 15:16] raffaeler opened #3157 "Creating a package for native / specialized runtimes"
I have two scenarios.
Scenario 1.
Say I have two C++ native implementation specific for Ubuntu14 and Windows.
But I am also able to provide a generic "IL-only" implementation which is very poor but that can be used as fallback for all the other platforms.
Question:
What are the steps to build the dlls and the packages?

Scenario 2.
I have two "IL-only" dotnetcore dlls but each one is specific for

[2016-07-18 15:20] wbradney commented on #3147
While trying to create the repro I noticed something weird: in the .nupkg for PackageA (which has a floating dependency on PackageB), I see this:

[code]

Is this even valid?
Also, in VS I can't add a reference to PackageA from ProjectX (it doesn't show up in the Repo). If I try to add a ref using the Package Manager Console I get:

`An error occurred while retrieving package metadata for 'Package

[2016-07-18 15:32] joelverhagen commented on #3137
When taking a NuGet action in the UI (install, update, uninstall) there is a "preview" stage followed by an "execute" stage. The preview stage updates no artifacts on disk and is completed prior to showing the preview dialog and the license acceptance dialog. In the case of UWP project.json, we execute the restore of the new project.json during the preview so we can detect the incompatibilities at

[2016-07-18 16:19] harikmenon commented on #3137
Okay makes sense. Thanks for the clarification.

[2016-07-18 16:25] harikmenon commented on #1806
@jacqueskang this is not supported in project.json. Our dependency resolution behavior is documented here https://docs.nuget.org/consume/projectjson-dependency

[2016-07-18 16:36] joelverhagen commented on #3137
@harikmenon and I spoke offline about this. We decided to broaden the warning to warn if there are any incompatible packages. The new criteria would then be:
- Preview restore fails
- Project targets `dotnet` (or `dotnet50`, which is equivalent)
- _Any incompatible packages_
- User has not checked "ignore this warning"

[2016-07-18 16:52] harikmenon commented on #3156
No, you are not. We don't yet support filtering the list in VS this way. A more detailed answer by @yishaigalatzer that applies to this case https://github.com/NuGet/Home/issues/2084

[2016-07-18 16:52] #3156 closed, assigned to nobody

[2016-07-18 16:56] joebeernink opened #3158 "Remove Package missing in latest version"
I'm running VS2015 with NuGET 3.4.4.1321 and when I bring up the NuGET Package manager window, click on installed packages, select a NuGET package previously installed, I no longer see the Remove Package button on the UI.  I co-worker with an earlier version of 3.4 does see it.

![image](https://cloud.githubusercontent.com/assets/3885965/16923194/ea3988d8-4ccd-11e6-9016-2da87d90f322.png)

[2016-07-18 17:08] #3150 closed, assigned to emgarten

[2016-07-18 17:32] harikmenon commented on #1674
:shipit:

[2016-07-18 17:37] rohit21agrawal commented on #3145
@BladeWise @MistyKuu there's a slight error due to which the nightly build is picking up builds from 3.5.1 branch (which is a special branch), however, the fix we made went into the dev branch. I am attaching a NuGet.exe as zip file here for you to try out.

UPDATE: The link to the nightly build has been fixed as well. It should give you a 3.5.0-rc package now.

[NuGet.zip](https://github.com/NuGe

[2016-07-18 17:48] jacqueskang commented on #1806
@harikmenon Thanks for your rely. But in our case we want to restore latest minor version of all packages in the entire dependency graph. The floating version works perfectly for direct dependencies but since nupkg doesn't support floating version, it restores minimum version for indirect dependencies. Our project is huge and we build it by parts, and thus we are getting conflicts in the end. Do y

[2016-07-18 17:53] emgarten commented on #3093
Fixed with @AndreyAkinshin's PR
NuGet/nuget.client@895c82b366d72d2484f49559801d41e004d1d7f1

[2016-07-18 17:53] #3093 closed, assigned to emgarten

[2016-07-18 17:55] emgarten commented on #684
nuget/nuget.client@080e692cc1774add754e98dc71389b5c76e50172

[2016-07-18 17:55] #684 closed

[2016-07-18 18:02] rohit21agrawal commented on #3145
@BladeWise  @MistyKuu to answer your other questions : project.json should be used as a replacement for nuspec in project.json based projects. If a project.json file exists, then NuGet will ignore the nuspec file. however, if you still want nuspec, you should pack using the nuspec file (note that you can pass nuspec file to the pack command).

We do support packOptions in project.json - the reason

[2016-07-18 18:02] #3145 closed, assigned to rohit21agrawal

[2016-07-18 18:06] harikmenon commented on #1806
Adding @joelverhagen @emgarten . Do you guys have any ideas?

[2016-07-18 18:46] rohit21agrawal commented on #3126
removed deepak as owner from NuGet.Configuration and NuGet.PackageManagement.

[2016-07-18 18:46] #3126 closed, assigned to rohit21agrawal

[2016-07-18 18:49] joelverhagen opened #3159 "Feature: Consider adding -dependencyVersion support for project.json/package reference install and update"
Today we have the `-dependencyVersion` option on PMC install and update as well as the `dependencyVersion` option in the config. It only applies to packages.config.

We could introduce support to project.json world by lifting transitive dependencies to the parent project.
## Example

Consider you have a project.json and you want to install WindowsAzure.Storage 6.2.0. This package depends on Newton

[2016-07-18 18:53] joelverhagen commented on #1806
Hey @jacqueskang, as @harikmenon said, this feature is not supported today on project.json.

I have created an issue to track this idea. Feel free to check this issue in the future for status: https://github.com/NuGet/Home/issues/3159.

This would definitely require a significant amount of careful design and implementation and is currently not scheduled for the next two NuGet releases.

[2016-07-18 20:05] MistyKuu commented on #3145
@rohit21agrawal It doesn't seem to work. I can't see any changes. Could you please provide an example of packOptions that include files? Authors, owners etc are simply ignored unless you provide them in root  of project.json.

[2016-07-18 20:16] jacqueskang commented on #1806
Thanks @joelverhagen for the clarification. I see manually lifting dependencies up to project.json is the only option for this time being. Allowing to have a similar behavior like npm would be nice in the future +1:

[2016-07-18 20:20] stevenscreek opened #3160 "NullReferenceException via NuGet.Packaging.PhysicalPackageFile.GetStream"
This repos in versions 3.5.0.1520 and 3.5.0.1611.
It does not repo in 3.4.4.1321
- Create a new Windows class library project.
- Use nuget spec on the Project.csproj to create a nuspec file.  Provide concrete values for all substitution variables.
- Add a nuget reference to Microsoft.AspNet.WebApi version 5.2.3
- Add a minimal Web.config to the project.  Ensure that the item type is `<Content>`
-

[2016-07-18 20:34] rohit21agrawal commented on #3145
@MistyKuu  Yes, we don't support tags like authors, owners under packOptions yet. (They will be supported in future releases, but I can't give you a clear time frame yet). However, the files tag does work and I have attached an example project for that.

[ProjectA.zip](https://github.com/NuGet/Home/files/370078/ProjectA.zip)

Here is the right way to use packOptions:

[code]

[2016-07-18 20:41] rohit21agrawal opened #3161 "nuget pack for project.json ignores packOptions tags like summary, authors , owners etc"
packOptions in project.json supports the following tags:
(reference : https://docs.microsoft.com/en-us/dotnet/articles/core/tools/project-json#packoptions)
summary
tags
owners
releaseNotes
iconUrl
projectUrl
licenseUrl
requireLicenseAcceptance
repository
files

So far, we only support files and take the value of other tags from the root of project.json instead of the ones from packOptions.

[2016-07-18 20:43] MistyKuu commented on #3145
@rohit21agrawal thank you very much., I confirm it's working.

[2016-07-18 20:44] rohit21agrawal commented on #3145
@MistyKuu glad to know that! As for your other concerns, here is a tracking issue:

https://github.com/NuGet/Home/issues/3161

[2016-07-18 20:47] xperiandri commented on #2368
@harikmenon, could you explain how will be changed a project model according to [this post on MSDN blog](https://blogs.msdn.microsoft.com/dotnet/2016/07/15/net-core-roadmap/).
Because this paragraph adds a lot of questions.

[2016-07-18 20:53] harikmenon commented on #2368
The long term plan is to move package dependencies into the project file. There will only be a single PackageReference entry and no duplicated data. This does not change our assertion around adding content files directly in the project and modifying it. Does that help? We are still figuring out the right path to get our customers there.

[2016-07-18 20:55] wbradney commented on #3147
I was using the latest beta because I need the fix for issue 2817. I just noticed my builds are now rebuilding even when nothing changed (again). Argh. :-)
Any ETA on a consolidated release candidate with the fix for 2817?

[2016-07-18 21:10] xperiandri commented on #2368
So you mean that moving to `project.json` will be beneficial any way as then it must be automatically converted into a new model because whatever it will be as the new model will provide the same approach of dependency specification and resolving. Is this correct?

[2016-07-18 21:33] #2225 closed, assigned to nobody

[2016-07-18 21:37] harikmenon commented on #2368
Yes. Possibly with more features since we will be part of MSBuild and that supports things like conditional references.

[2016-07-18 21:39] harikmenon commented on #2368
To be clear packages.config is not equivalent to project.json since there are fundamental differences here. MsBuild way of managing dependencies will be a evolution of the project.json method.

[2016-07-18 21:39] hvanbakel commented on #2956
I just checked the RC channel. What a difference, great work!

[2016-07-18 21:54] emgarten commented on #3157
@raffaeler nuget 3.x with project.json supports runtime specific assemblies which sound like what you are suggesting. Take a look at the help here: https://docs.nuget.org/create/uwp-create

[2016-07-18 22:31] Eilon commented on #2345
Can NuGet just change all their types to be internal? Does NuGet still take drops of new FileSystemGlobbing source code? Or is it just using some particular version that can essentially be forked?

[2016-07-18 23:04] raffaeler commented on #3157
I really hoped in some more detailed guide.
I already set-up some assemblies to test the solution but the resulting package is far from being working.
Also, there is so many obsolete documentation on the net that is extremely confusing.
If there is nothing better, I'll have to wait for spare time (which I definitely don't have till september)

[2016-07-18 23:40] emgarten opened #3162 "Performance: Improve ContentModel target framework parsing"
ContentModel re-parsers the NuGetFramework for every file path. These should be cached to reduce allocations and improve performance.

[2016-07-19 00:01] BladeWise commented on #3145
@rohit21agrawal I can confirm that it works fine too, and I noticed that if I omit package info, the values from the assembly are used instead, which is fine.
Now, I tested this version against #3128 (which I reported some days ago), but even this executable fails to generate a nuget package. I would really appreciate if you could have a look at the issue.

Edit: I tried to generate a package for

[2016-07-19 00:18] rchande opened #3163 "API to get the highest NetStandard compatible with a set of TFMs"
The PCL tooling needs to take a set of TFMs and get the highest NetStandard that can be installed into each TFM. For example an input of `[net46, uap10.0]` would return `netstandard1.3` based on the netstandard compat chart. This can be implemented using `IVsFrameworkCompatibility.GetNetStandardFrameworks` and `IVsFrameworkCompatibility.GetNearest`, but perhaps there should be a dedicated API with

[2016-07-19 00:25] rrelyea commented on #3163
Sounds like the update you are working on will have to work w/o this API (or with the API if it existed). We'll put in our backlog.

[2016-07-19 00:33] rrelyea commented on #3161
Assuming we've never shipped a released version with support for metadata at the root of Project.json, let's ship support in nuget pack for packoptions only. If we do that syntax will work with dotnet pack and nuget pack. DotNet pack today supports the older metadata at the root. Let's move towards the packoptions only.

[2016-07-19 00:36] rrelyea commented on #3158
Can you please try to repro with 3.5.0-beta2 vsix? (see nuget.org/downloads)
Fixed there?

[2016-07-19 00:38] rrelyea commented on #3157
@harikmenon - can you please work with @raffaeler here? docs request or feature request?

[2016-07-19 00:40] rrelyea commented on #3155
Please tell us the exact version of NuGet that you are using.
Also, can you please give us full repro steps and/or a repro solution?

[2016-07-19 00:45] rrelyea commented on #3154
What version of NuGet.Tools.vsix are you using?
What older version of NuGet.Tools.vsix used to work the way you wanted?

[2016-07-19 00:52] rrelyea commented on #3153
NuGet install was not designed to work with multiple TFMs. In the short term, we won't be able to address this feature request. Putting into future.

[2016-07-19 00:54] rohit21agrawal commented on #3161
@rrelyea
we currently do not have support for repository...should we add it?

[2016-07-19 01:03] rrelyea commented on #3149
Won't be able to address in 3.5, due to time restrictions.

[2016-07-19 06:08] Kanimozhi12 commented on #3062
Hi @joelverhagen ,

I have sent my project to support@nuget.org.

[2016-07-19 06:27] samholder commented on #3154
Sorry if I wasn't clear. There is no version in which this used to work as far as I am aware, although this is the first time that I have tried to use it, so I can't be 100% sure.

I'm reporting this as it seems from the documentation that this could work this way and if it did, it would give package authors an extra option for installing their packages. In order to get the functionality I want no

[2016-07-19 06:58] raffaeler commented on #3157
Thank you Rob, ... doc request, that's how most of the CoreFX libraries doing interop work. But looking at the sources is very dispersive.
I just want to avoid to waste time in guessing something that you guys already know how to do.

[2016-07-19 07:32] johnnycamby commented on #3155
NuGet version 3.5.0.1484

[2016-07-19 09:16] NightKID opened #3164 "negative value error"
hi. If you want to select a negative value is the value to 0 is return.

ex>connection.Query(Of T)(Query, param:=param)

DB type : numbric DB Value : -45

return Value : 0

[2016-07-19 11:18] MistyKuu commented on #3145
Yup and what about MsBuild variables like $OutputPath$?

[2016-07-19 13:00] ipjohnson commented on #3108
@emgarten maybe I'm missing something but this seems like a rather large stumbling block for getting open source package developers to move to .netstandard. Should we not be using the "Target .NET Platform Standard" link in VS and create the projects by hand with xsproj files?

[2016-07-19 13:56] tmulkern opened #3165 "Installing Powershell 5 on Windows 7 breaks Nuget Visual Studio package manager consoles (2013/2015)"
If you install Powershell 5, specifically Win7AndW2K8R2-KB3134760-x64.msu downloaded from here https://www.microsoft.com/en-us/download/details.aspx?id=50395, the following will be displayed in Package Manager Console for both Visual Studio 2013 and Visual Studio 2015

![image](https://cloud.githubusercontent.com/assets/8748428/16952373/dc17c8f2-4dc0-11e6-92c3-1726738f6ffd.png)

The Package Manage

[2016-07-19 14:48] harikmenon commented on #3154
@samholder : Can you show where in the documentation were we allude to this? This is something that we wont support and if it is in the documentation we will make it clear it is not supported. Going the tools route is right thing here.

Making assumptions to how metadata is specified is guaranteed to break a number of customers based on our past experiences. There might be a number of folks who al

[2016-07-19 14:48] #3154 closed, assigned to nobody

[2016-07-19 15:33] samholder commented on #3154
@harikmenon to my reading there are a couple of places on [this page](https://docs.nuget.org/create/nuspec-reference):

one says:

This implies that without the tag all references will be added, but with it only the names of assemblies under lib are added. So if I have the `<references/>` tag then only the specific `<reference>` elements contained within will generate references.

Also further dow

[2016-07-19 16:03] joelverhagen commented on #3163
Yes, @rchande and I spoke offline about how to achieve this with the existing IVS APIs. It's a simple algorithm but eventually should be mastered by us with a high level API.

[2016-07-19 16:26] harikmenon commented on #3154
@karann-msft. Can you please dupe this to the docs repo and add a issue to make sure that we call out specifying <references/> is a no-op, i.e reference will still get added.

[2016-07-19 17:10] rrelyea commented on #3087
we have two fixes going into 3.5.0-rtm to improve general restore perf.
we've also identified some opportunities for the future.
let's push this remaining investigation (improving no-op) into the future.

[2016-07-19 17:12] drewgillies commented on #3080
Re-opening to cover this as a completed work item here. Completed last week.

[2016-07-19 17:12] #3080 closed, assigned to drewgillies

[2016-07-19 17:18] drewgillies opened #3166 "Resume publishing NuGet.VisualStudio.nupkg to NuGet.org in CI"
Push to staging automatically through teamcity, test and commit.

[2016-07-19 17:20] rrelyea commented on #3161
what does dotnet pack do with it? add it to the nuspec?

[2016-07-19 17:24] rrelyea commented on #3026
please take this PR and make it public on ship day.

[2016-07-19 17:48] emgarten commented on #2874
This has been fixed in 3.5.0
https://github.com/NuGet/Home/issues/2956

[2016-07-19 17:48] #2874 closed, assigned to nobody

[2016-07-19 17:49] emgarten commented on #3165
Related: https://github.com/NuGet/Home/issues/2836

[2016-07-19 18:01] emgarten commented on #3108
@ipjohnson agreed, this looks like a critical bug in pack for project.json that should be fixed for the upcoming release.

[2016-07-19 18:52] krwq opened #3167 "Optional forcing update on reference without causing circular package dependencies"
Here is an example problem which currently cannot be solved with NuGet but should be easily fixed by adding new feature to NuGet:
# Packaging of System.Xml in corefx
## Facts
- System.Xml used to be one big dll which got split into multiple contracts/packages (i.e. System.Xml.ReaderWriter, System.Xml.XmlDocument).
- There is a lot of customers referencing System.Xml.ReaderWriter and libraries refe

[2016-07-19 19:00] tmulkern commented on #3165
@emgarten Thanks

[2016-07-19 19:05] alpaix opened #3168 "Find-Package does NOT return all packages in Klondike and ProGet"
I found following issue using `Get-Package -ListAvailable`.

List of packages in 'Klondike' server using package manager console:
![1](https://cloud.githubusercontent.com/assets/8239356/16962710/9b76a2fa-4da7-11e6-822e-f3b9e714bf20.png)

List of packages in Klondike using UI:
![2](https://cloud.githubusercontent.com/assets/8239356/16962713/9ea775c6-4da7-11e6-947a-6d1855433be0.png)

These packages

[2016-07-19 19:44] #3162 closed, assigned to emgarten

[2016-07-19 19:50] jainaashish commented on #3044
Merged d775d6fbdc1a25397fb8f1119b52b249a8940061
But still keeping it open to write spec for this.

[2016-07-19 20:15] emgarten commented on #2345
The types could be changed to internal to work around this, but ideally we want to stop maintaining a fork and just use the official package.

Currently NuGet has a submodule which references the _NuGet/SubModuleIntegration_ branch of FileSystemGlobbing.

[2016-07-19 20:42] #3137 closed, assigned to joelverhagen

[2016-07-19 20:42] rrelyea commented on #3168
found in partner team pass...no customer has noticed yet...3.5rtm about to go out the door...so moving to 3.6beta.

[2016-07-19 20:47] rrelyea commented on #3166
3.3 used to publish. Are we no longer building this nupkg?

[2016-07-19 20:57] rrelyea commented on #3164
appears to be spam? please clarify if this was a real question for the NuGet team.

[2016-07-19 20:57] #3164 closed, assigned to nobody

[2016-07-19 23:02] jainaashish commented on #3044
Spec doc added at nuget home wiki and also updated in PR.

[2016-07-19 23:02] #3044 closed, assigned to jainaashish

[2016-07-19 23:31] rohit21agrawal opened #3169 "End to end tests do not use the latest built nuget.exe"
it instead uses an older version of nuget.exe which is in the .nuget folder.

[2016-07-20 01:08] rrelyea opened #3170 "Web projects in VS "15" Preview 4"
Tracking TFS # 241537

[2016-07-20 01:33] clairernovotny opened #3171 "Cannot install packages into C++/CLR project"
As was reported in https://github.com/Reactive-Extensions/Rx.NET/issues/233, NuGet is not properly installing packages into C++/CLR projects.

To repro with VS 2015 U3:
1.  Create new C++ Console application using the "CLR Console Application" template
2.  Try to add `System.Interactive` using NuGet, either the package manager console or the UI

It fails with the following error:

`Could not insta

[2016-07-20 01:59] rohit21agrawal commented on #3145
@MistyKuu @BladeWise  I haven't had a chance to try out if those things work or not, but if they aren't working for you, please feel free to file specific issues and we'll do our best to fix them.

[2016-07-20 09:08] BladeWise commented on #3145
@rohit21agrawal It does not work the way it worked with a nuspec, but honestly I cannot even say if it works or not.
The [current documentation](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/project-json) regarding project.json is at best lacking... I don't even understand what is the difference between `include`and `includeFiles`, and does not state if wildcards are allowed or not.

[2016-07-20 09:18] MichalTelus commented on #3085
Hi! I have the same problem on version 3.4.4.1321. I want use it with Bamboo on OS X, is other way to restore packages? Or is some beta version with fixed this bug?

[2016-07-20 10:38] RobBowman commented on #980
Thanks harikm, I found your detailed steps very helpful. One thing I would add, to create the ".nuget" folder in windows explorer, you have to type the name ".nuget."

[2016-07-20 11:24] ghost commented on #329
It is very strange that @yishaigalatzer don't understand when it is necessary and marked it as `WontFix`... Set `CopyLocal` to `false` is often required for plugins developing.  For example it is required for AutoCAD plugins developing. Of course it is true for plugins developing for other applications also.  Reopen this issue, please.

[2016-07-20 11:35] MistyKuu commented on #3145
@rohit21agrawal the basic functionality doesn't work with packOptions. There are two main issues:

Packing directories ( this is connected with the second one because we can use wildcards to do that)

[code]

 Using wildcards

[code]

And MsBuild variables...

These are really common scenarios - getting dependencies, adding files etc. With nuspec it worked flawlessly. If you are planning to obsole

[2016-07-20 11:39] yishaigalatzer commented on #329
Andrey, please spell out the exact reason. The scenario Eric brought up was not a valid one and the visual studio team recommended not to go there.

[2016-07-20 11:54] mynkow commented on #1909
This is terrible even today. With nuget 2.8.6 restoring packages only from the local cache takes 3 seconds.  With nuget 3.4.4 it takes 5 minutes.

[2016-07-20 12:25] yishaigalatzer commented on #1909
@mynkow can you provide exact details? Thks bug is not about restore, and restore ans update are two completely different scenarios.

I suggest a couple of things:
1. Try 3.5 beta (available on nuget.org/downloads) and tell us what you see.
2. If it's still slow, can you send a repro project and exact steps to support@nuget.org and reference this bug?

[2016-07-20 12:57] mynkow commented on #1909
Ahh, my bad. It is actually about restore. Here is output log from the CI (nuget 3.4.4) https://gist.github.com/mynkow/df10e21144828cd6dd9bee2f3ed9613e

This is the third execution in a row so all packages are available on the local machine's cache folder

[2016-07-20 12:57] schuettecarsten opened #3172 "nuget 3.4.4-rtm fails when processing "bootstrap.3.3.4" or other older packages"
nuget 3.4.4-rtm fails when processing "bootstrap.3.3.4" or "jquery.2.1.3" packages. Both packages are older but should be processed by newer nuget versions without problems.

[code]

[code]

nuget 3.3.0 works fine here.

[2016-07-20 14:22] harikmenon commented on #3157
@raffaeler We would like to add these docs in the future. In the meantime, I believe you are looking for essentially bait and switch packages right?

If thats the case here is a post that walks through building this in detail

http://ryandavis.io/creating-and-publishing-a-cross-platform-library/ - This is basically derived from the plugins template in Xamarinf.

We hope to put out a doc explaining

[2016-07-20 14:42] ghost commented on #329
Autodesk company provides AutoCAD .NET API for developers. This API is part of [ObjectARX SDK](http://usa.autodesk.com/adsk/servlet/item?siteID=123112&id=785550). It **requires** set `CopyLocal` to `false` for its managed DLL files. Look [here](https://knowledge.autodesk.com/support/autocad-civil-3d/learn-explore/caas/CloudHelp/cloudhelp/2015/ENU/Civil3D-DevGuide/files/GUID-DE3A46DA-508E-43A0-8538

[2016-07-20 14:51] yishaigalatzer commented on #329
I see, this is a similar scenario to the visual studio extensibility. I would assume that a developer should not reship these libraries and they should go through a common package that Autodesk ships (and revs us necessary), I would advise contacting them for that rather than reshipping and bundling your own.

Now back to your question: are you shipping these internally or do you plan to ship on n

[2016-07-20 14:52] BladeWise opened #3173 "NugetPack .csproj + project.json: mappings do not preserve partial directory structure"
Using `nuget pack projectname.csproj` and having a nuspec like this

[code]

produced a package where `lib/net461` contained all `Sample.resources.dll` files in proper subfolders as specified in the pattern, i.e.
`bin\Debug\net461\en-US\Sample.resources.dll` -> `lib\net461\en-US\Sample.resources.dll`.

Using the equivalent (in terms of included files) project.json

[code]

will not produce the sam

[2016-07-20 14:58] BladeWise opened #3174 "Multiple NuGet pack issues using .csproj + project.json"
I decided to create this issue to keep track of all currently known problems related to the creation of a package from .csproj + project.json files, so that they can possibly be resolved (or closed) together. Some of these issues are limitations compared to what could be achieved through .csproj + nuspec.
1. ~~Dependencies are not properly included in final nuspec (#3145 )~~ [Fixed]
2. ~~Incorrect

[2016-07-20 15:06] BladeWise commented on #3145
@MistyKuu After a bit of testing I found some oddities with globbing patterns (as they are called in the [docs](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/project-json#packoptions)), some not clearly document behaviors, and what I think is a bug.
I can confirm that this

[code]

works as intended, but refer to #3173 for further discussion regarding mappings.

@rohit21agrawal As yo

[2016-07-20 15:35] joelverhagen commented on #2476
This was completed with https://github.com/NuGet/NuGet.Client/pull/680.

[2016-07-20 15:35] #2476 closed, assigned to joelverhagen

[2016-07-20 15:37] joelverhagen opened #3175 "Allow --disable-parallel to limit the concurrency of HTTP to 1"
Mitigation for https://github.com/NuGet/Home/issues/2945.

[2016-07-20 15:38] joelverhagen commented on #3175
Fixed with https://github.com/NuGet/NuGet.Client/pull/690.

[2016-07-20 15:38] #3175 closed, assigned to joelverhagen

[2016-07-20 15:45] yishaigalatzer commented on #2476
Who owns writing and publishing the doc?

---

From: Joel Verhagen notifications@github.com
Sent: Wednesday, July 20, 2016 6:35:45 PM
To: NuGet/Home
Cc: Yishai Galatzer; Mention
Subject: Re: [NuGet/Home] Design and implement a notion of package type to support tool packages (#2476)

This was completed with NuGet/NuGet.Client#680https://github.com/NuGet/NuGet.Client/pull/680.

##

You are receiving

[2016-07-20 15:47] harikmenon commented on #2476
Joel has written this doc and i will publish it when we go live. Currently this is hanging off our new docs site branch, I will move this to master since we wont be going live untill the 8th.