[2019-08-09 13:45] plug1n commented on #6408
Getting this issue on VS 15.9.13.
This happens when i run a command through Package Manager Console. Have verified it happens when running "Update-Database" and "Add-Migration".
If i type "c:" this bug does not happen.

If it's worth anything i have noticed the following:
1. I get forced from Package Manager Console to Error List two times during execution of Update-Database. This is observed by m

[2019-08-09 14:40] leonard-thieu commented on #3891
@DaveSneddon `--include-symbols` should just work. See https://github.com/leonard-thieu/IncludeDependents. As for `--include-source`, I couldn't get it working again. It's been awhile since I've used this and I've forgotten how `--include-source` works.

[2019-08-09 17:33] zkat commented on #8324
I might be misunderstanding the xaml here, but it looks to me like what we're creating a lot of here is entries in an `ItemsControl` -- are those `TextBlock`s?

Regardless, it doesn't seem to me like the desired outcome is to be able to copy individual lines here, but to be able to select the entire text or otherwise copy it from inside these `ScrollViewer`s (both the update preview and license vi

[2019-08-09 17:40] nkolev92 commented on #8324
@rrelyea can help.

Personally I think a C-c shortcut should be just fine.

[2019-08-09 18:33] nguerrera commented on #7344
See the uptick in discussion on https://github.com/dotnet/core-setup/issues/6222

As we concluded in our last meeting, there's no viable workaround left for SDK on this. We deferred it based on data that suggested it would not be common. The fact that there have been more reports suggests this should be revisited.

[2019-08-09 20:01] zivkan opened #8439 "Create docs for new pack validation codes"
Create docs pages for the pack validations that @JarahSi created.

- [ ] NU5127: Add rule for build in package
  * Spec: none
  * Feature issue: https://github.com/NuGet/Home/issues/8244
  * Feature PR: https://github.com/NuGet/NuGet.Client/pull/2897
  * Docs PR: https://github.com/NuGet/docs.microsoft.com-nuget/pull/1692

- [ ] NU5129: build.props do not match convention warning
  * Spec: https:/

[2019-08-09 20:18] scottbommarito commented on #8277
Note: this does not require deprecation information to be in search--all data for the Installed tab is fetched from registration.

[2019-08-09 20:38] #8151 closed, assigned to nkolev92

[2019-08-09 20:41] nkolev92 opened #8440 "Tests should run against 3.0 SDK"
We insert into 3.0. We should fix up the test infrastructure so that we test against that as well.

It will also allow us to enable. DotnetListPackage_DeprecatedAndOutdated_Fail.

//cc @NuGet/nuget-client @xavierdecoster

[2019-08-09 20:44] #8279 closed, assigned to xavierdecoster

[2019-08-09 21:07] scottbommarito opened #8441 ""Error_UnableToFindProjectInfo" message is not grammatically correct"
Message currently reads:

[code]

It is not very clear and is also not grammatically correct.

[2019-08-09 21:12] bergbria opened #8442 "Lock file missing entries when RuntimeIdentifier is specified for netcoreapp 3.0 projects"
## Details about Problem

NuGet product used: dotnet.exe

dotnet.exe --version: 3.0.100-preview7-012821

Worked before? If so, with which NuGet version: yes. Seems to work even with current sdk if targeting netcoreapp2.0

## Detailed repro steps so we can see the same problem

### Automated repro
Download [repro_missingRuntimePackage.zip](https://github.com/NuGet/Home/files/3488060/repro_missingRu

[2019-08-09 21:28] nkolev92 commented on #8442
This is a consequence of the whole PackageDownload implementation, https://github.com/NuGet/Home/wiki/%5BSpec%5D-PackageDownload-support.

Tracking cause: https://github.com/NuGet/Home/issues/7724.

Platform artifacts are not always declared in project files anymore and they do not get downloaded through PackageReference, but rather PackageDownload.

There's no locking mechanism in place for that

[2019-08-09 22:03] zivkan commented on #8433
It appears to be a bug in Ubuntu's mono package. Running the following commands:
[code]

fails when I run using `docker run -it ubuntu:19.04 bash`, but it succeeds if I use `docker run -it mono:5.18 bash`. Using Ubuntu 18.04 and Mono's package repository, mono 6.0.0 gets installed and does not have a problem.

I noticed in your docker file that you're also installing the .NET Core SDK. If all your

[2019-08-09 22:40] nkolev92 commented on #8266
Docs issue created by https://github.com/NuGet/docs.microsoft.com-nuget/issues/1477.

The behavior is inconsistent :)

In 5.2

The config command seems to be case sensitive.
Restore on the other hand is case insensitive.
Duplicate resolution, restore takes the first.

In 4.7

I have not verified the config command
Restore seems to be case insensitive.
Duplicate resolution, restore takes the last.

[2019-08-09 22:47] elvisFabian commented on #8433
Thanks for the answer. I will test another ubutu version.
I need the nuget.exe because `dotnet pack` need the scproj file.

I already have the nupkg file generated at another time.
I need the nuget.exe because i want to repack a nupkg file, just adding a suffix.

[2019-08-09 23:37] #8296 closed, assigned to JarahSi

[2019-08-10 15:10] William-Froelich commented on #8435
Ok, but it seems that it's impossible to generate an "any CPU" version of a winmd if the library has dependencies on native code, unless there's something obvious I am missing. The link step will fail because the project has a dependency that doesn't match. I suppose one could copy the generated .winmd at that point but it is technically a build error.

Is there a way to just skip the linking step

[2019-08-10 17:44] janabueno opened #8443 "how to use PackageReference to another project on same repo & build"
Assume Project A and Project B are on same repo and same build queue.
Project A creates package A which contains a set of tools, mulitple libraries, props, targets files.
Project B uses package A - via PackageReference to a nuget feed - and creates another package

When I make a change to Project A, I need to build, publish package A, then make a change on Project B to consume new Package A, build

[2019-08-11 19:25] dtivel opened #8444 "Test: improve Apex diagnostic logging"
To aid in diagnosing test failures, Apex tests should log contents of:
* the Package Manager output window pane
* the Package Manager Console window

[2019-08-12 04:31] itaibh commented on #7521
@karann-msft ^^

[2019-08-12 09:03] #7627 closed, assigned to nobody

[2019-08-12 14:23] elvisFabian commented on #8433
Works with ubuntu:18.04

[2019-08-12 14:23] #8433 closed, assigned to nobody

[2019-08-12 15:58] rainersigwald opened #8445 "Comment for not-imported package build logic"
I just had a bad time trying to figure out why a package I referenced wasn't working for one of the `TargetFramework`s in the project. It [turned out](https://github.com/microsoft/MSBuildLocator/commit/fec2e9e40250b9236a8d0a2b79ebf4bdfa81ce8e) that this was because we (accidentally) referenced the package _only_ for one of the TFs in the project.

NuGet (correctly!) generated MSBuild logic to impo

[2019-08-12 16:08] rainersigwald commented on #8445
Offline @sharwell suggested something like

[code]

[2019-08-12 16:17] zivkan commented on #8433
Glad to hear you resolved the problem.

FYI, if you're using SDK style projects, or NuGet.Build.Tasks.Pack to create your package, you can use `<VersionPrefix>` in your csproj and then `dotnet pack --version-suffix beta` or `msbuild -t:pack -p:VersionSuffix=beta` to pack with a beta label and simply don't provide a suffix (`dotnet pack`, `msbuild -t:pack`) to build the non-prerelease version of th

[2019-08-12 16:21] nkolev92 commented on #8432
I'd imagine it works with everything but `*`.

Namely I'd imagine 3.* works as expected.

The root cause is the same as https://github.com/NuGet/Home/issues/8073 and https://github.com/NuGet/Home/issues/6697.

[2019-08-12 16:23] nkolev92 commented on #8445
I'm marking this as "logging" for lack of a better way to describe the required change :)

[2019-08-12 17:17] rrelyea commented on #8137
@byfron  - can you please follow up on @zivkan's questions from May 16th?

[2019-08-12 17:23] drache42 opened #8446 "nuget list can show multiple version of same project"
## Details about Problem

NuGet product used (NuGet.exe):

NuGet version (x.x.x.xxx):5.1.0.6013

Worked before? If so, with which NuGet version: unknown

## Detailed repro steps so we can see the same problem

1. nuget.exe list -source <link>

According to nuget help list, list should only display the latest version of each package
Actual: some packages are listed multiple times with different ver

[2019-08-12 18:06] #8291 closed, assigned to kartheekp-ms

[2019-08-12 18:13] nkolev92 opened #8447 "Get-Package -Updates -ProjectName MyProject does not work"
@mrward commented on [Sat Jan 26 2019](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1287)

The following command does not seem to work in Visual Studio 2017 with NuGet 4.9.2 although it seems like it could work.

    Get-Package -Updates -ProjectName MyProject

Running the above returns the error:

Get-Package: Parameter set cannot be resolved using the specified named arguments.

The

[2019-08-12 18:16] nkolev92 commented on #8441
@rrelyea
Scott already has a PR for this, do you think it's ok to move it back to 5.3 since there already is a fix.

[2019-08-12 18:23] nkolev92 commented on #7802
Just re verified.
Fixed in 2.2.400,

Changing the milestone as 5.2 and closing.

[2019-08-12 18:23] #7802 closed, assigned to nkolev92

[2019-08-12 18:24] #8444 closed, assigned to dtivel

[2019-08-12 19:23] kzu commented on #8322
Agreed the fix could use that instead. @ericstj could you send a PR with a test plz?

[2019-08-12 21:02] nkolev92 commented on #8442
Closing this per the above comment.

[2019-08-12 21:02] #8442 closed, assigned to nobody

[2019-08-12 21:10] weitzhandler commented on #6324
@liciniomendes's solution did the job.
Was working on a solution with ~20 projects, unloaded and reloaded them all, just a few had the problems remaining, after reloading them individually the problems were all solved.

[2019-08-13 00:57] zivkan opened #8448 "Make NuGet.CommandLine.XPlat debuggable"
Historically it has been very difficult to debug NuGet.CommandLine.XPlat (the entry point to several `dotnet` cli commands), involving copying compiled binaries into a dotnet sdk folder, setting an environment variable to cause NuGet to pause until a debugger is attached, and then attaching Visual Studio as a debugger to the correct PID.

It should be as easy to debug as debugging any other comman

[2019-08-13 02:59] zivkan opened #8449 "Remove PDBGit warnings"
Our builds are full of warnings like this:

It appears that every single `.cs` file in the repo gets this warning.

We should resolve the issue, so it's easier to find real issues when looking at our build logs

[2019-08-13 04:31] djeikyb commented on #6931
@rohit21agrawal Can you explain more? I'm unzipping both my nupkg and snupkg, and there is no folder named "src". I'm using the dotnet core cli version 2.2.401 inside a docker container from image "mcr.microsoft.com/dotnet/core/sdk:2.2". I run `dotnet build` followed by `dotnet pack --include-source`. I also tried `dotnet msbuild /t:pack /p:IncludeSource=true /p:IncludeSymbols=true`. The target fr

[2019-08-13 05:10] nkolev92 opened #8450 "Remove Sha512HashFunction"
We should investigate removing the SHA512HashFunction.
SHA512Managed is supported in both net472 and netstandard2.0.
I'd imagine the motivation behind having our own function was the fact that .NETStandard did not have the APIs needed yet.

Note that we might want to have a hashing wrapper, so this is just a blind code removal.

[2019-08-13 05:12] nkolev92 commented on #7406
I believe there's no scenario for adding this right now.
It's super easy for any custom parsers to just look at the XML.

[2019-08-13 05:12] #7406 closed, assigned to nkolev92

[2019-08-13 05:13] nkolev92 commented on #7467
@karann-msft
Do you still think we need a close button?

[2019-08-13 05:17] nkolev92 commented on #8443
You can try declaring both a Package and Project reference and flip them based on conditions.

What prevents you from simply using a ProjectReference B to A?
I know there are plenty of cases where this is hard, but I'm curious what's the concern in your specific scenario.

[2019-08-13 05:31] nkolev92 commented on #8446
Any chance you can try this with 3.5.0?

Can you please tell us how many sources you have and what they are?
Details we'd be interested in knowing:
3 ADO, 2 MyGet/ 1 NuGet.Server/1 file feed etc.

[2019-08-13 05:37] nkolev92 commented on #8334
We cannot regress this.
Too many other tools rely on this.

[2019-08-13 05:37] #8334 closed, assigned to nobody

[2019-08-13 05:46] nkolev92 commented on #8075
Apologies for the late reply.

The V3 feeds such as nuget.org have the concept of resources, each specialized for certain tasks.

What you are hitting with the PackageMetadataResource resource is the following https://docs.microsoft.com/en-us/nuget/api/registration-base-url-resource.
It simply doesn't contain download count.

The IPackageSearchMetadata is shared and depending on what endpoint is h

[2019-08-13 06:20] txwizard commented on #3050
Facing this issue when I replaced the 4th part of the version string of [https://www.nuget.org/packages/WizardWrx.AnyCSV/](url) with a zero, to eliminate multiple versions of a given build in the repository, I devised a workaround in the form of a three-line custom task, of which only the first is strictlyrequired.

Since the correction can be accomplished by a single C# statement, the task is imp

[2019-08-13 07:15] #8424 closed, assigned to nkolev92

[2019-08-13 12:41] StingyJack commented on #3050
@txwizard - that seems like a lot of work and complexity just to get the specified version number respected.

@rrelyea - is this two year old issue with 85 comments and 137 thumbs ups siding with the version normalization being unwanted and less than 20 thumbs ups siding with the POV defending the version normalization really going to continue to linger as a sore spot, or will the corrective work*

[2019-08-13 14:55] drache42 commented on #8446
Do you mean with Nuget 3.5.0? isn't that really old?

How do I check the for the following? 3 ADO, 2 MyGet/ 1 NuGet.Server/1 file
feed etc.

-Steffen

On Mon, Aug 12, 2019 at 10:31 PM Nikolche Kolev <notifications@github.com>
wrote:

[2019-08-13 15:50] zkat commented on #8448
This would be AMAZING

[2019-08-13 16:03] rrelyea commented on #8446
Using nuget.exe, you can run "nuget sources" from the directory with the solution file in it.
(or project file, if you aren't using a solution)

[2019-08-13 16:13] wrightsonm opened #8451 "dotnet nuget push to network drive"
## Details about Problem

I have built a netstandard2.0 project using the following ps command
dotnet pack $csproj --include-symbols -p:SymbolPackageFormat=snupkg -o artifacts

The result is:
artifacts/Library.1.0.4-alpha.nupkg (164kB)
artifacts/Library.1.0.4-alpha.snupkg (59kB)

I then wish to push these to my nuget repository which is currently a shared network drive:

dotnet nuget push artifact

[2019-08-13 16:44] #8426 closed, assigned to dtivel

[2019-08-13 16:55] zivkan opened #8452 "Remove .NET Framework TFM from NuGet.CommandLine.XPlat"
NuGet.CommandLine.XPlat is intended to be used only by the dotnet cli, although searching github we can find multiple customers who use it and call our `Program.Main()` in their code. I can't verify that all existing usage is used by netcoreapp projects, so we'll wait until the next major release before removing the .NET Framework TFM.

[2019-08-13 19:05] #8427 closed, assigned to dtivel

[2019-08-13 19:29] LeandroNMedina commented on #545
In my company we use extensively this feature but we are stacked in VS 2013 that actually cover it. Fix it please!.

[2019-08-13 20:13] #6229 closed, assigned to nkolev92

[2019-08-13 21:04] drache42 commented on #8446
This works in nuget 3.5.0

`nuget sources` output
[code]

[2019-08-13 22:46] nkolev92 opened #8453 "Recursively touch all SDK files to fix the PackCommand_PackTarget_IsIncremental flakiness"
PackCommand_PackTarget_IsIncremental is flaky so sometimes the SDK files are creating with a Utc timestamp, meaning when the SDK is extracted on a redmond machine, it acts as it's in the future.
That breaks the msbuild incremental logic as it's timestamp based.

[2019-08-13 22:49] nkolev92 opened #8454 "Invalid options message outdated/deprecated for list package should be the same for dotnet cli and dotnet nuget"
https://github.com/NuGet/NuGet.Client/pull/3003/files#diff-0bcb0e6b25126ef631b9e118f853abebL213

ListPkg_InvalidOptionsOutdatedAndDeprecated and it's cli counterpart should be the exact same string.

//cc @xavierdecoster @donnie-msft

[2019-08-13 23:34] rrelyea commented on #7349
At risk for 5.3...unless these tests can get fixed very soon. @mholo65 - are you able address soon? Would love to get in.

[2019-08-14 11:50] geeeyetee commented on #637
@rohit21agrawal - This is still a very important issue, as evidenced by the ongoing comments on https://github.com/NuGet/Home/issues/545. What did you mean exactly by “a separate issue”? Just a new duplicate of this one?

[2019-08-14 12:21] JPlumridge commented on #3891
In case this hasn't already been said (difficult to go through 170+ comments) -

This behaviour is very tricky to work with when using the dotnet linux sdk docker images.

In this scenario the only way to get nuget.exe seems to be to install mono during your build/on base image, then download the nuget.exe i.e via wget, then invoke "nuget pack".

You *can* apt-get nuget, but it is a trimmed down v

[2019-08-14 12:58] mholo65 commented on #7349
@rrelyea submitted a fix for tests now, let's see how it goes. Having problems running whole test suite locally.

[2019-08-14 13:55] 304NotModified commented on #8259
FYI, the current JObject approach seems to make things unnecessary slow (and complex), so it would be in terms of performance already nice to remove that. See https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/issues/804

[2019-08-14 13:57] 304NotModified commented on #8259
I see .net core 3 is now go live. From
https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-preview-8/

[2019-08-14 14:11] ericstj commented on #8322
I don't need this fixed myself, and I'm not interested in contributing to yet another method for producing NuGet packages.   I'd really prefer we make the built-in Pack task better.

[2019-08-14 14:46] devinvisible opened #8456 ""Error occurred while restoring NuGet Package" and InvalidOperationException in Output window when the assembly name is different for different TFMs"
I get the following message on the Package Manager Output window when I open my project in Visual Studio 2019 (16.2.2):
[code]

The same message precedes the _1>------ Rebuild All started: Project: Foo, Configuration: Release Any CPU ------_ line on the Build Output window when I rebuild my project.

I see the following in my Tests Output window:
[code]

Here is my .csproj file:
[code]

This seems

[2019-08-14 15:57] kzu commented on #8322
Makes sense!

[2019-08-14 15:57] #8449 closed, assigned to zivkan

[2019-08-14 15:57] #8322 closed, assigned to kzu

[2019-08-14 18:02] #7163 closed, assigned to nobody

[2019-08-14 19:45] jstallm commented on #6140
For me the solution was to pass arg
`--no-dependencies`
into the task: DotNetCoreCLI@2 input arguments

[2019-08-14 20:23] kartheekp-ms commented on #7827
nuget.exe behavior to pick MSBuild path is explained in [this](/NuGet/Home/issues/7621) issue. MSBuild path can also be passed as argument to the restore command which gets higher precedence over PATH environment variable setting (see [doc](https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-restore)). Adding @nkolev92 @zivkan @rainersigwald for suggestions.

[2019-08-14 21:18] bergbria commented on #8442
@nkolev92 / @anangaur - is the lack of locking mechanism considered a bug that will be fixed before netcore3.0 is officially released or is it a 'meh, maybe sometime' issue?

[2019-08-14 23:14] nkolev92 commented on #8442
@bergbria
We consider this an important scenario and we'd like to fix, but 3.0 is almost fully on lockdown, so we cannot commit to fix it before that happens.

[2019-08-14 23:22] nkolev92 commented on #8146
This one seems to be failing quite frequently, maybe we sohuld disable it?
@dtivel

[2019-08-14 23:35] nkolev92 commented on #8456
Each PackageReference based NuGet powered project has what we call a PackageId, which defaults to AssemblyName.

Having a different PackageId is not a supported scenario.

Can you try setting PackageId to something that's same for both frameworks?

Few quick things:

1. I haven't tested this in VS yet, it's just my observation right now.
1. NuGet should try to provide a better error message, regar

[2019-08-15 01:29] agr commented on #8375
With @joelverhagen's help I think we found the cause:
[code]
In global nuget.config was causing it. When I put the correct URL there, it started to restore fine.

[2019-08-15 15:22] jcoutch commented on #5016
@rohit21agrawal / @dtivel - Are there any plans to fix this bug?

[2019-08-15 16:24] donnie-msft opened #8457 "nuget.config value parsing might be too lax"
## Details about Problem
Motivation was an invalid NuGet configuration in my AppData folder. Unclear if I manually created this config, but believe I always used the config command. If so, that means the command allowed me to enter an unmatched `"` which should have been an error. And I definitely did not type: ampersand "quot" semicolon.

Config file code appears to use `XDocument.Save` and I'm n

[2019-08-15 17:26] devinvisible commented on #8456
@nkolev92 I added <PackageId>Foo</PackageId> to the first <PropertyGroup> in my .csproj (shared above). This appears to resolve the "Error occurred while restoring" and the InvalidOperationException seen on the Tests Output window.

This seems to work for me even when I conditionally change the <AssemblyName>.

[2019-08-15 17:38] nkolev92 commented on #8456
Yeah, that makes sense.
PackageId takes preference over AssemblyName. AssemblyName is just the default.

I will rename a bit and leave this issue open to track the improvements for the error message shown.

[2019-08-15 17:39] #8441 closed, assigned to scottbommarito

[2019-08-15 17:39] nkolev92 commented on #8456
Actually, looking at it again, the root cause is: https://github.com/NuGet/Home/issues/7717, but I'll still leave it open as this is particular to the error message actually shown.

[2019-08-15 17:40] nkolev92 commented on #7717
Related: https://github.com/NuGet/Home/issues/8456

[2019-08-15 18:09] dtivel commented on #8146
Found the reason why tests are failing.  [This](https://github.com/NuGet/NuGet.Client/pull/2998) recent logging enhancement helped identify the problem.

When the test passes, PMC contains content like this:
[code]
When the test fails, PMC contains content like this:
[code]
Somehow line breaks are being inserted, which causes [substring validation](https://github.com/NuGet/NuGet.Client/blob/e0bf73

[2019-08-15 18:40] nkolev92 commented on #7744
Closing this as at this point we do not have enough information to investigate this issue.

[2019-08-15 18:40] #7744 closed, assigned to nobody

[2019-08-15 19:32] nkolev92 opened #8458 "Improve the NU1605 warning message"
A WIP PR already in https://github.com/NuGet/NuGet.Client/pull/2348

Other customer reports; https://developercommunity.visualstudio.com/content/problem/653804/nu1605-detected-package-downgrade-microsoftapplica.html

[2019-08-15 19:54] Stevie-O commented on #8377
In addition to changing the error message:

(1) Do you guys see value in allowing any of the following, on top of the

- `nuget version` to print just the version number, e.g.

[code]

- `nuget --version` as an alias for `nuget version`
- `nuget --help` as an alias for `nuget help`

The standard git command-line client behaves this way for all three of those cases.
(And `git --version` is clearly

[2019-08-15 20:17] Stevie-O commented on #8391
Looking through this, `nuget help add`  does not specify the behavior if the _folderBasedPackageSource_ refers to a path that does not exist.  The OP's complaint suggests that, if it does not already exist, the path specified for _folderBasedPackageSource_ is automatically created.

There seems to be two reasonable interpretations when _folderBasedPackageSource_ does not exist:
1. The user specifi

[2019-08-15 20:35] adamralph opened #8459 "Distribute the NuGet CLI as a .NET Core Global Tool"
I.e. so that it can be installed using `dotnet tool install`.

A continuous source of pain is the mismatch between `dotnet` and `nuget.exe`. The former does not support all the operations of the latter, and often lags behind when new features are released. Some of the problems described in https://github.com/dotnet/coreclr/issues/26175 also apply with regard to issues and repos. Often, I find it n

[2019-08-15 20:44] zkat commented on #7531
Update on this, since I started looking into it: doing this change seems to require refactoring `nuget spec` away from CoreV2, which will probably be a bigger change than expected. I'm happy to do this refactor and update the docs, though (is someone else besides us responsible for docs site changes?)

[2019-08-15 21:15] nkolev92 commented on #7827
As Kartheek suggested, the behavior is expected.
In the OP situation, I'd imagine both MSBuild instances are the exact same version, is that right?

There are probably situations in which SSDT MSBuild being selected is the correct one.

Maybe there's a way to make NuGet prefer the enterprise SKU instead of SSDT?
While that'd be more likely to succeed scenario, it could be a breaking change for som

[2019-08-15 21:30] nkolev92 commented on #7531
@zkat https://github.com/NuGet/Home/issues/7531#issuecomment-440449048 :D

As far as docs go, we usually doc our own features.
We now have a dedicated content developer, so if needed, he can help with structure/etc.

[2019-08-15 21:34] nkolev92 commented on #8459
Please refer to https://github.com/NuGet/Home/issues/8263#issuecomment-506024683.

At this point, we have no plans of doing this.

Note that as of now, the feature is .NET Core Global Tools. No .NET Framework tools are supported.

https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools

[2019-08-15 21:36] zkat commented on #7531
@nkolev92 omg of course it was -right there-

[2019-08-15 21:40] nkolev92 opened #8460 "Add arcade based automation for .NET Core CLI insertions"

[2019-08-15 21:46] Paul-Dempsey commented on #8377
In my opinion, help command output should be comprehensive, including the help command (and variants).   Otherwise, it is obviously incomplete, and people will wonder what else you’ve left out, which creates a support issue – questions that need to be answered out of band. (that’s what I think when I see a command’s usage leaves some things out)

I don’t think git is a great model for command-line

[2019-08-15 22:04] peterhuene opened #8461 "Confusing warning message about license, only for pack verb"
_From @richlander on Thursday, August 15, 2019 9:34:20 PM_

This is the experience with .NET Core 3.0 Preview 8:

[code]

This is the warning at issue:

That wording isn't directly actionable since I don't explicitly use "licenseUrl" in my project, and warning doesn't suggest that "licenseUrl might be a substring of another element.

Made this change (based on [NU5125](https://docs.microsoft.com/e

[2019-08-15 22:04] peterhuene commented on #8461
_From @peterhuene on Thursday, August 15, 2019 10:02:47 PM_

Moving to NuGet since this is pack-related.

[2019-08-15 23:34] #8453 closed, assigned to nkolev92

[2019-08-16 01:03] #8448 closed, assigned to zivkan

[2019-08-16 04:02] #8385 closed, assigned to zivkan

[2019-08-16 05:19] adamralph commented on #8459
@nkolev92 .NET Core Global Tools is the feature I am referring to.

Can you please offer an explanation of _why_ you are not planning on doing this? The comment you link to does not offer any explanation either.

[2019-08-16 12:49] CodeIsLie opened #8462 "No dependencies in Nuget.Protocol API for PackageSearchResource"
I use Nuget.Protocol 5.2.0 to investigate some features of Nuget dependency graph and i write next code:
[code]

And I realize that i don't get any dependencySet that way. Of course, i can use PackageMetadataResource to get dependencies for each package, but it took too many time for 500+ packages. Is it possible to get dependencies in package metadata by using PackageSearchResource? I mean, maybe

[2019-08-16 16:37] zivkan opened #8463 "dotnet list package with multi targeting WPF project"
From https://github.com/dotnet/cli/issues/12267

* `dotnet new wpf`
* Replace TargetFramework with <TargetFrameworks>netcoreapp3.0;net45</TargetFrameworks>
* `dotnet restore`
* `dotnet list package`

Restore succeeded, so `dotnet list package` should too.

[2019-08-16 16:50] mhsimkin opened #8464 "NU1107: Version Conflict on mix framework project"
## Details about Problem
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI
NuGet version (x.x.x.xxx): 5.2.0
dotnet.exe --version (if appropriate): N/A
VS version (if appropriate): VS 2019 Enterprise 16.2.2
OS version (i.e. win10 v1607 (14393.321)): Windows 10 Pro Build 1809
Worked before? If so, with which NuGet version: N/A

## Detailed repro steps so we can see

[2019-08-17 03:01] CrossBound commented on #4699
2 years later and I'm still getting this message.... any update??

[2019-08-17 03:32] daniel-white opened #8465 "Transitive lock files (with wildcard) result in NU1004"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet cli

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate): 2.1.801

OS version (i.e. win10 v1607 (14393.321)): macOS 10.14.6 (18G87)

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Create a .net standard project

[2019-08-17 12:11] dtivel opened #8466 "PMC: inserts hard line breaks based on view width"
1.  Create a C# console app project.
2.  Open Package Manager Console.
3.  Resize either Visual Studio's main window or Package Manager Console's tool window such that the width of the Package Manager Console tool window would be about 40 characters wide.
4.  Execute:

	`Uninstall-Package A`

5.  Maximize Visual Studio's main window and resize Package Manager Console's tool window to 75% screen wi

[2019-08-17 16:01] dtivel opened #8467 "Validation rule: spurious NU5131 warning"
**Repro steps:**
1.  Extract the contents of [repro.zip](https://github.com/NuGet/Home/files/3512173/repro.zip) to your disk.
2.  Open a command prompt and path into the \repro\script directory.
3.  With the latest 5.3 NuGet.exe execute:

    `NuGet.exe pack repro.nuspec`

**Expected result:**
No warnings.

**Actual result:**
`WARNING: NU5131: References were found in the nuspec, but some referenc

[2019-08-19 02:33] JerryJian commented on #6459
Thanks to @JeremyOne , it fixed!
NuGet Version: 5.2.0.6090, single .exe file downloaded from nuget.org.

[2019-08-19 03:53] robertmclaws commented on #6873
Just wanted to check in and see where we stand on this. I could really use this feature in my apps... at the very least, just to be able to open a `readme.md` instead of a `readme.txt` file.

[2019-08-19 15:44] skir opened #8468 "Azure DevOps Nuget login fail on Mac"
## Details about Problem

NuGet version: 5.1.0.6013
VS: Visual Studio Community 2019 for Mac Version 8.2.3 (build 16)
OS version: Mac OS 10.13.6

## Detailed repro steps

In our company we use local Azure DevOps (TFS) with set up for automatic builds and publishing NuGet packages to our private repository.
To login we usually use TFS credentials, but this works only on WIndows machines.
I use Mac

[2019-08-19 17:10] #8466 closed, assigned to dtivel

[2019-08-19 17:15] terrajobst commented on #4699
@mishra14

Why is this blocked by floating versions? This has nothing to do with floating versions that are persisted. It's only about the `dotnet add package` UX.

[2019-08-19 17:57] nkolev92 commented on #8465
@daniel-white
Can you please tell us which "wildcard" version you are referring to specifically?

There are some issues with `*`, but other versions like `1.*` or `1.0.0-preview.*` should work.

[2019-08-19 19:18] #8146 closed, assigned to dtivel

[2019-08-19 19:51] daniel-white commented on #8465
@nkolev92 the more specific versions like `1.*` or `1.0.0-preview.*`

[2019-08-19 21:15] dtivel opened #8469 "Test: NetCoreTransitivePackageReferenceLimitAsync is flaky"
Test `NetCoreTransitivePackageReferenceLimitAsync` is flaky.
[code]
Callstack:
[code]

[2019-08-20 00:04] rrelyea commented on #8468
As of [NuGet 4.9](https://docs.microsoft.com/en-us/nuget/release-notes/nuget-4.9-rtm), we've enabled xplat credential providers.
The Azure Dev Ops team provides an installable artifacts-credential provider: https://github.com/Microsoft/artifacts-credprovider

Would using that solve your problem?

[2019-08-20 00:07] rrelyea commented on #8465
(i'm assuming this was a problem with earlier nuget versions as well, right? this is not a regression?)

[2019-08-20 00:52] nkolev92 commented on #8460
//cc @rrelyea

We need to get a good understanding on the orchestration/maestro part of the CLI code flow.
I've been hunting different people to try to collect information to come up with a workable solution, but that has made it apparent, that we need a champion for this, so that the next person dealing with changes like this, does not have to relearn everything.

[2019-08-20 02:11] daniel-white commented on #8465
@rrelyea I’m not sure. I know there were some other issues that prevented me from using the lock files before this version

[2019-08-20 03:49] nkolev92 commented on #8465
I verified, this is not a regression, it's always been an issue.

[2019-08-20 03:51] yanshouwang opened #8470 "NU5030 error when pack package with NuGet.exe"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2019-08-20 03:56] nkolev92 commented on #8470
If you are packing extensionless files can you please try https://github.com/NuGet/Samples/blob/master/PackageLicenseFileNuspecExample/PackageLicenseFileNuspecExample.nuspec

Duplicate of https://github.com/NuGet/Home/issues/7601.

[2019-08-20 04:35] yanshouwang commented on #8470
Yes, I tried it and no error occured.
![image](https://user-images.githubusercontent.com/24455689/63317597-09241f00-c346-11e9-9915-53de306241bb.png)
![image](https://user-images.githubusercontent.com/24455689/63317632-26f18400-c346-11e9-87a9-1fde7b3d7333.png)
And after I changed the "LICE*" to "LICENSE", the error occured agian

[2019-08-20 04:44] nkolev92 commented on #8470
At this point, I'd have to call that by design.
The specific issue is about the handling of extensionless files in NuGet pack.
Paths have worked a certain way for a very long time and it'd be a significant breaking change to try to alter that.

[2019-08-20 04:47] yanshouwang commented on #8470
I think maybe the official should give us a best way to handle this error in the Doc?

[2019-08-20 04:54] nkolev92 commented on #8470
I think the sampels repo is linked from the docs, https://github.com/NuGet/Samples, but we can look into making that more apparent.

[2019-08-20 06:58] skir commented on #8468
Yes, I tried to use that artifacts-credential provider, but with no success.

Actually, today I came in to the office and this problem is gone. It is definitely the same setup on my Mac, and on our TFS server, as it was yesterday, when the issue was present. It's strange.

[2019-08-20 15:41] zivkan opened #8471 "Reduce memory usage (unsubscribe from events)"
From internal bug 951916, someone from the VS perf team did an analysis of some high memory usage scenarios and found that `VSSettings.SettingsChanged` had an average of 301 subscriptions, max of 3724.

More generally, we should find anywhere that uses `+=` to subscribe to an event, and ensure there are matching `-=`.

[2019-08-20 16:25] mhsimkin commented on #8464
It seems this got overlooked.

Gentleman, any comment?

Thanks

[2019-08-20 16:54] rrelyea commented on #8464
You filed it on a friday...and we didn't get to it on monday. We hope to look at it today.

[2019-08-20 17:54] #8434 closed, assigned to zivkan

[2019-08-20 18:12] zivkan commented on #7815
We're going to warn only for .NET Core 3.0 or 3.1. Tentatively moving this issue to NuGet 6.0.

[2019-08-20 19:52] nkolev92 opened #8472 "Certain version ranges have normalized version strings that do not round trip"
More specifically:
[code]

All normalize to `(, )`. We should avoid usage of these Version Ranges.

There's no straightforward intuitive way to change the normalization to represent these ranges, especially when you consider that for some of these ranges there's an implicit lower version.

For example, AllStable & AllStableFloating have a min version of `0.0.0`.

This, alongside the fact that * is

[2019-08-20 20:16] zivkan opened #8473 "Warn that default symbols package format will change"
In preparation for eventually changing the default: #7815

[2019-08-20 21:22] rrelyea commented on #6873
This continues to be on our backlog...but will likely not be started until post calendar Q4 (if i had to guess).

Thanks for continuing to 👍 and giving your feedback on items that are important to you.

[2019-08-20 21:31] rrelyea commented on #8468
Glad things appear to work well. If you find things that are indicative of a NuGet bug, please re-raise the issue.

[2019-08-20 21:31] #8468 closed, assigned to nobody

[2019-08-20 21:58] rrelyea opened #8474 "Adapt to moving package feed for CPS packages"
CPS is moving their packages from myget to a public Azure DevOps feed.

[2019-08-20 22:32] #8454 closed, assigned to xavierdecoster

[2019-08-20 23:12] #8277 closed, assigned to scottbommarito

[2019-08-21 00:28] nkolev92 commented on #8459
Our current approach is to try to deliver true cross platform functionality through the dotnet CLI.

What are the features that you are missing in dotnet.exe that you'd like to see ported from nuget.exe? We'd like to make sure we are tracking all asks.

Is the main pain point easier acquisition of NuGet.exe or feature parity?

[2019-08-21 03:21] dflo opened #8475 "mistake"

[2019-08-21 03:21] #8475 closed, assigned to nobody

[2019-08-21 15:32] sameer-kumar commented on #8373
I'm experiencing this same issue. If I use an older version 4.4.1 of nuget.exe, it works fine, however, the latest one 5.1.0 is the culprit.

[2019-08-21 15:44] Paul-Dempsey commented on #8373
I've never seen .exe in the PATH environment -- only folders. What happens when you remove the exe's?

[2019-08-21 16:47] #8474 closed, assigned to rrelyea

[2019-08-21 17:10] nkolev92 commented on #8432
This won't land in 5.3.

[2019-08-21 17:13] #7349 closed, assigned to zivkan

[2019-08-21 17:30] nkolev92 commented on #7557
The project sysrtem bug has been fixed in 16.4 (our 5.4).

Closing this as there is no NuGet work required.

[2019-08-21 17:30] #7557 closed, assigned to nobody

[2019-08-21 18:23] nkolev92 commented on #8462
The PackageSearchResource hits https://docs.microsoft.com/en-us/nuget/api/search-query-service-resource which doesn't contain dependency information.

The metadata resource hits https://docs.microsoft.com/en-us/nuget/api/registration-base-url-resource which contains all that information.

The IPackageSearchMetadata API is returned by all "query" resources.

[2019-08-21 18:24] #8462 closed, assigned to nobody

[2019-08-21 19:55] sharwell opened #8476 "'GeneratePathProperty' does not work on 'PackageDownload'"
The new `<PackageDownload>` elements do not support the `GeneratePathProperty` attribute, making it difficult to download a package whose contents will be used by an unrelated build task.

[2019-08-21 20:14] rrelyea commented on #8314
@xavierdecoster  - is there still work to be merged for 5.3 involved with this issue? If so, eta? Thx

[2019-08-21 20:22] dtivel opened #8477 "VS: enable partial-ngen-ing NuGet assemblies in VS - to reduce JIT cost in core scenarios."
NuGet assemblies are not getting NGEN-ed as I would expect after NuGet/Home#6007.

[2019-08-21 20:53] rrelyea commented on #7349
Thanks @mholo65 for your contribution. This should get into NuGet 5.3 release!

[2019-08-21 21:18] nkolev92 commented on #8071
Apologies for the delay.

We need to work with @davkean & project-system to clarify the capabilities NuGet should require from the project-systems in order to support auto restore.

//cc @rrelyea

[2019-08-21 21:35] donnie-msft opened #8478 "Searching in PMUI with Static / Sleet package sources causes OutOfMemoryException"
# Details about Problem

While using the PM UI and searching for a package, I received multiple 'System.OutOfMemoryException'. Discussing with @loic-sharma and @rrelyea, it seems we may need to discuss an approach to handling sleet / static sources in a better way.

Related past discussion: https://github.com/NuGet/Home/issues/7031
JSON Performance discussion: https://github.com/NuGetPackageExplor

[2019-08-21 22:17] terrajobst commented on #8376
Changing the NuGet compat mappings seems like a really bad idea because it would be a breaking change for folks where the current state is working fine. The best we could do is issuing a warning from restore when a .NET Standard 2.0 asset is selected for a project targeting .NET Framework 4.6.1 - 4.7.1. I'd be supportive of the latter.

[2019-08-21 22:31] nkolev92 commented on #8476
I'd be open to adding this eventually.
The thing is PackageDownload allows duplicate ids, so we'd need a different naming schema compared to PackageReference.

Note that because of the exactness of PackageDownload (specifically, only exact versions allowed), you can create the path fairly accurately as it will be:
`$(NuGetPackageRoot)\$(PackageId)\$(PackageVersion)`

[2019-08-21 22:39] anangaur commented on #8376
So do you mean we should have number 3) from Rob’s proposals?

[2019-08-21 23:56] zivkan opened #8479 "Remove or improve configuration change events"
`ISettings` and `IPackageSourceProvider` have events about changes to settings. However, the only place this appears to be used is in `ExtensibleSourceRespositoryProvider` and the only place it appears to be raised is in `VSSettings` when solutions are opened or closed.

The easier option would be to make `ExtensibleSourceRespositoryProvider` subscribe to the solution open and close events directl

[2019-08-22 00:02] JonathanHiggs commented on #4537
Still not fixed in the latest release... Originally referenced in #1219 in 2015

[2019-08-22 00:10] nkolev92 opened #8480 "Add a code owners file and add everyone from the team in it"
Since we are a relatively small team, we request reviews from everyone on the team for every PR.

We should add a codeowners file to remove the manual step.

This would also help us get notifications when external contributors create PRs.
We wouldn't need to "watch" the PRs for new ones :)

Note that draft pull requests do not request reviews, so there should be no hick-ups there.

[2019-08-22 00:44] nkolev92 opened #8481 "Add dotnet list package --deprecated tests"
This only really works with remote sources, so we'd need to do some clever mocking to get this to work.

[2019-08-22 01:12] nkolev92 opened #8482 "Update our RPS triggering infrastructure"
Right now the RPS infrastructure that we're using incorrectly determines the triggering build and the results in ADO might get misinterpreted.

There's a way to do it in that brat tool, but it's significantly more tedious.

//cc @rrelyea

[2019-08-22 05:53] gigaplex commented on #7707
This worked in 4.5.1 and earlier, fails in 4.7.1 and later. I'm not sure exactly which version introduced the regression.

[2019-08-22 08:09] xavierdecoster commented on #8314
The way alternate package info displayed has been fixed and merged, and I just verified behavior for deprecation info when multiple sources are selected and one of them emits deprecation info: LGTM; as @anangaur suggests, _"we should solve for this multiple sources in a better way, once we start seeing customer reports regarding this"_.

No further work involved for this issue.

[2019-08-22 08:09] #8314 closed, assigned to xavierdecoster, anangaur

[2019-08-22 09:31] Sellec commented on #5016
Im joining your question. Its too long to wait over 20 minutes while it packs 957 files into usual and symbol packages.

[2019-08-22 09:41] v-nancyj opened #8483 "[Test Failure] The ‘Update’ button is disabled in ‘Installed’ tab on PM UI"
## Details about Problem

NuGet Version: Dev\5.3.0.6182
VS Version: VS Master\29221.49
OS Version: Windows-10-Enterprise-19H1-04-01-2019

## Installation steps:
1. Install VS from: [https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2963681&view=results](url)
2. Install NuGet Client: [\\\ddfiles\Drops\NuGet\Drops\CI\NuGet.Client\Dev\5.3.0.6182\artifacts\VS15\NuGet.Tools.vsix](url)

## R

[2019-08-22 16:23] #8477 closed, assigned to dtivel

[2019-08-22 16:56] zivkan opened #8484 "Clean up NuGet components in Visual Studio setup"
When running the Visual Studio installer, there are two NuGet components in the individual components list: NuGet package manager, NuGet targets and build tasks

The "NuGet targets and build tasks" components was intended to only be installed in the Visual Studio Build Tools SKU, while the `NuGet package manager` component was intended to be installed with the other VS SKUs (community, pro, enterp

[2019-08-22 16:58] ransagy commented on #7438
Sorry for reviving this a bit; But i came across the exact same issue. I'm trying to use NuGet.Protocol (or rather, Using the github.com/NuKeeperDotNet/NuKeeper library) directly with an Azure DevOps feed (and the Azure Artifacts Credential Provider) and getting the exact same issue. I have dotnet SDKs installed ranging from 2.1 to latest 3.0 preview - Yet i do NOT have `DOTNET_HOST_PATH` set at a

[2019-08-22 17:14] nkolev92 commented on #8484
I remember us discussing this at some point.

Pretty sure we opted against it because this would break double-click install of our tools vsix.

We should make sure that the component we register is the package group one, instead of the packages themselves.

[2019-08-22 17:57] #8467 closed, assigned to zkat

[2019-08-22 18:42] rrelyea opened #8485 "Insert NuGet client build into VS16.3"
** Prepare Build Metadata ** -- https://github.com/NuGet/NuGet.Client/pull/3020
- [x] Increment NetCoreAssemblyBuildNumber
- [x] Change release label to "rtm" (as we may have 0 more insertions (??)

** Pick Build & Ensure Green **

| Candidate Build       | Description | Tests    | Vendor Pass    | Perf (RPS) |
| --- | --- | --- | --- | --- |
| 6192 | Exception in install tab |    | none yet |   |

[2019-08-22 19:06] Lukkian commented on #8373
I'm haveng the same issue with this command:

[code]
Is there any workaround?

[2019-08-22 19:06] terrajobst commented on #8376
No, my suggestion would be add a new warning ID to NuGet and issue a warning as part of restore. The override behavior for this warning would be the usual suppression mechanism via `<NoWarn>`

[2019-08-22 19:14] #7993 closed, assigned to dominoFire

[2019-08-22 19:29] #8480 closed, assigned to nkolev92

[2019-08-22 20:06] rrelyea commented on #8402
Another test run took longer than 10 minutes with this test: https://devdiv.visualstudio.com/DevDiv/NuGet/_TestManagement/Runs?runId=8089138&_a=runCharts

[2019-08-22 20:30] Lukkian commented on #8373
After some testing I found the culprit, one of my environment variables was like this `"%JAVA_HOME%\bin;%PATH%"` (including the quotes), which was being translated to `"C:\Program Files\Java\jre1.8.0_191\bin` (with only one quote at the beginning).

When I changed the value of this variable to simply `%JAVA_HOME%\bin;%PATH%` (without quotes) Nuget worked as expected, but I'm not sure if the modifi

[2019-08-22 21:49] dtivel opened #8486 "Test: InstallPackageWithNestedContentFile is flaky"
Test `InstallPackageWithNestedContentFile` is flaky and sometimes times out after 10 minutes.  In the last 8 days it has timed out 3 times.

[2019-08-22 22:02] nkolev92 commented on #8483
Hey @v-nancyj

I was not able to repro this with latest VS and the 5.3.0.6182.

Can you try retesting to see if it was some ambient state, like nuget.org being unreachable etc.

Another question about the repro, when you say install packages, do you select a packages.config or PackageReference project?
Both have significant differences, so it'll be helpful to get such information in the repros.

[2019-08-22 22:10] dtivel opened #8487 "VS: ngen priority should be 3 not 2"
I've been told that NuGet ngen priority should be 3 not 2.

[2019-08-22 23:21] #8324 closed, assigned to zkat

[2019-08-23 01:57] #8487 closed, assigned to dtivel

[2019-08-23 02:28] mcm-ham commented on #3891
@leonard-thieu I've tested your solution but only half the project references are ending up in package despite appearing to be built.

[2019-08-23 07:17] mcm-ham commented on #3891
Here's a PowerShell script to build nuget packages for all the projects found in a solution file. This seems to work as you can continue to use project references during development but when you build nuget packages these references become nuget references so this script makes it easier to build all these packages with the same version from a single command.

[code]

[2019-08-23 08:18] #7992 closed, assigned to dominoFire

[2019-08-23 08:25] dominoFire opened #8488 "Embedded icon support in NuGet pack"
Includes embedded icons support in the following NuGet clients:

- nuget.exe
- dotnet.exe
- MSBuild tasks.

[2019-08-23 08:55] #8488 closed, assigned to dominoFire

[2019-08-23 08:57] v-longmin commented on #8421
Verify the issue on D16.3\29222.88, only repro on DEU and JAP languages.

[2019-08-23 09:33] v-nancyj commented on #8483
Hi, @nkolev92 We can still repro this on VS Master\29222.30 + NuGet Client Dev\5.3.0.6189 and D16.3\29222.88 + NuGet Client Dev\5.3.0.6189.
1. The issue repro when installing a package on both Packages.config and PackageReference format.
2. The issue repro on other projects, such as .NET Core, .NET Standard or UWP Project.
3. The issue **not** repro in 'Browse' or 'Updates' tab.
4. The issue **not

[2019-08-23 11:00] cyberkito commented on #7765
I used **dotnet pack** and got my project packed up with multiple platforms. Nuget pack did not work.

[2019-08-23 11:01] cyberkito commented on #4491
Use dotnet task with pack option. That worked for me with multiple platform project.

[2019-08-23 12:00] CartmanErik opened #8489 "Bad or mistaken issue filed."
Bad or mistaken issue filed.

[2019-08-23 13:53] #8489 closed, assigned to nobody

[2019-08-23 16:49] nkolev92 commented on #8483
Thanks @v-nancyj
I can repro this now.

[2019-08-23 17:39] zivkan opened #8490 "Add test for NuGet/NuGet.Client#3024 change"
NuGet/NuGet.Client#3024 code change added quickly to meet shipping schedule. Need to add test.

[2019-08-23 17:44] #8483 closed, assigned to nkolev92

[2019-08-23 21:58] chrishylton opened #8491 "NPM Add Package failing (unable to get local issuer certificate)"
## Details about Problem

Nuget Package Manager Version 1.1.6
VS Code (with latest updates applied)

Worked before? If so, with which NuGet version:
Do not recall when this didn't work, but been working on a project for awhile with no new Nuget packages added.

## Detailed repro steps so we can see the same problem

Ctrl Shift P, Add Nuget Package, type in anything for the search, enter, and I get

[2019-08-23 22:26] nkolev92 commented on #7381
//cc @rrelyea @karann-msft With our focus on package validations, we're very soon gonna run out of warning codes :)

[2019-08-24 03:27] SimonCropp opened #8492 "Re-opening "installed nugets" screen should use cached results"
Environment

 * Visual Studio 16.2.3+29215.179
 * Solution https://github.com/Fody/FodyAddinSamples/
 * Windows 10
 * Nuget 5.2.0

Repro Steps

 * A build has happened so all packages have been restored
 * The "installed nugets" screen has been previously opened. so all requests and responses for nuget info have occurred
 * review the nugets by scrolling down
 * No changes have happened to any csp

[2019-08-24 03:32] SimonCropp commented on #8492
note that re-viewing installed packages also re-pulls down historical package info. eg

[code]

do you want another bug for this?

[2019-08-24 03:33] SimonCropp commented on #8492
also note that even though i dont have "unstable packages" ticked it pulls down infor for unstable packages

[code]

do you want another bug for this?

[2019-08-24 03:39] SimonCropp commented on #7285
can this be re-opened. it is still happening

[2019-08-24 10:23] SimonCropp commented on #7305
an example of the wiki showing up in a search result

![image](https://user-images.githubusercontent.com/122666/63636021-f34b8c80-c6ac-11e9-933c-016c78326e65.png)

[2019-08-24 21:33] txwizard commented on #3050
@StingyJack,, thanks for the backup.

It seems that the issue has suddenly been elevated to Priority 1, as I believe it should be.

Not only was devising that task nontrivial, but making it part of the build script is even more work, which remains to be done. I would love to be able to set that thankless task aside, and find some better-tasting fish to fry.

[2019-08-24 21:37] InteXX commented on #3050
@txwizard

Please clarify: do you mean within the NuGet team? If so, where are you seeing the indication?

[2019-08-25 21:38] tebeco opened #8493 "Difficulty using lockedmode on the CI (3.0.0 preview8/5.3 NuGet)"
## Details about Problem
NuGet product used dotnet.exe:
[code]
https://github.com/dotnet-experimentations/LockFiles/blob/master/azure-pipelines.yml#L28-L37

OS version :
* Local Computer :                10.0.18965 N/A Build 18965
* CI : https://github.com/dotnet-experimentations/LockFiles/blob/master/azure-pipelines.yml#L18

Worked before?
Never seen it working, tried at work, same behaior.
See m

[2019-08-26 05:25] joelverhagen commented on #8478
A simple approach spoken about before would be a new protocol just for package IDs. Listed state is a question.

https://github.com/NuGet/NuGetGallery/issues/3878

Do we know from telemetry how frequent this OOM is?

[2019-08-26 14:15] Tychus commented on #8148
Having this issue building and publishing packages, packages are published to our private repository but the Jenkins jobs fail because of the "*.snupkg" issue. when can we expect a fix ?

[2019-08-26 14:38] menaheme commented on #8412
why is this still labeled "waiting for customer" ? i posted back 3 weeks ago

[2019-08-26 14:51] HermannGruber opened #8494 "Operation failed as details for project could not be loaded during test discovery"
I originally posted the problem in the Visual Studio forum...
https://developercommunity.visualstudio.com/content/problem/685158/the-operation-failed-as-details-for-project-could-2.html
... and they reported that they migrated it to the "nuget forum", but I cannot find the issue in this github project. Unfortunately, I could not ask for a link to the migrated issue, since the original issue is clo

[2019-08-26 16:27] #8491 closed, assigned to nobody

[2019-08-26 16:45] #7279 closed, assigned to nobody

[2019-08-26 16:57] #8464 closed, assigned to nobody

[2019-08-26 18:54] dtivel opened #8495 "VS: ngen fails"
ngen of NuGet assemblies failed in a test run because `vsn.exe` was not found.
[code]
I suspect that by not specifying [`NgenApplication`](https://github.com/NuGet/NuGet.Client/blob/bb60d6720d24890b8f3e071e70d27ea0f2bef57e/src/NuGet.Clients/NuGet.VisualStudio.Client/NuGet.VisualStudio.Client.csproj#L117) it will just work.

[2019-08-26 21:41] dtivel opened #8496 "Test: 3 search-related tests failing consistently"
3 end-to-end tests are consistently failing due to https://github.com/NuGet/NuGetGallery/issues/7402

* FindPackageByIdAndPrereleaseVersion
* FindPackageByIdWithFirstAndSkip
* InstallPackageWithValuesFromPipe

Some investigation should be done to determine if there is a product bug here or not.

[2019-08-27 06:09] tebeco commented on #8493
`<DisableImplicitNuGetFallbackFolder>true</DisableImplicitNuGetFallbackFolder>`

Yes of course.
I think i already attempted similar on another repo so i probably made a typo
Can you please confirm few question ?
* i suppose i only do that once on my laptop and never commit that to the CI ?
* i also assumes it is just to regenerate brand new Hash in lockfile once
* Do i need to ask all the team to

[2019-08-27 06:12] tebeco commented on #8493
....
are generated :(.
I checked for the package from NuGet.org I see:

i can make a tool crawling my box if you tell me what / where / how to look at ^^

[2019-08-27 07:08] Tychus commented on #8148
new to nuget packages, we use `nuget cli` on a windows slave. executing `nuget.exe push ...` with a key return exit code 1 making the job fail.

`
Your package was pushed.
File does not exist (C:\Users\Jenkins\Documents\JenkinsWork\workspace\Common\XXXXX.snupkg).
C:\Users\Jenkins\Documents\JenkinsWork\workspace\Common>exit 1
 `

we fixed this by ignoring the return of the command since it always p

[2019-08-27 07:36] HermannGruber commented on #8494
Wow, many thanks for the feedback! That was really fast :-) We did not try to multi-target any of the projects. Every project has either
`<TargetFramework>netcoreapp2.2</TargetFramework>`
or
`<TargetFramework>netstandard2.0</TargetFramework>`
I'll try to create a minimal example.

[2019-08-27 08:35] tebeco commented on #8493
Ok, so i do commit in the `DisableImplicitNuGetFallbackFolder` in a props file of the repo ?

Can you be more specific on what's going away here ^^ ?

   Removing only the global packages folder should be sufficient.

Well i already did a `dotnet nuget locals -c all`, so i'm gonna try both this time + the props

[2019-08-27 08:39] tebeco commented on #8493
[code]

[2019-08-27 09:17] bddckr commented on #8493
I'm running `dotnet nuget locals all --clear && dotnet restore --configfile NuGet.Config` in a scheduled pipeline to raise PRs to update packages. My projects are using
[code]

When that pipeline is done I have a working build according to the (Azure DevOps) build agent, but as soon as I try to merge that branch to master, or just check out the branch locally on my machine and wait for Visual Stud

[2019-08-27 09:29] tebeco commented on #8493
quick question, since i see ` --configfile NuGet.Config`
should i do a :
`dotnet new nugetconfig`
and enforce a `<clear />` and only add the `https://api.nuget.org/v3/index.json` ?

[2019-08-27 09:31] bddckr commented on #8493
I tried that already, doesn't help either for the hash mismatch.

[2019-08-27 09:47] tebeco commented on #8493
@nkolev92

Here is the [github diff](https://github.com/dotnet-experimentations/LockFiles/commit/22a4ae102d7f207b6a1b2449d9d57716d4671488)
Is seems that [the build looks green now](https://dev.azure.com/dotnet-experimentations/LockFiles/_build/results?buildId=13&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9)

[2019-08-27 12:43] tebeco commented on #8493
@bddckr
I create a `bddckr` branch on this repo, can you fork it ? https://github.com/dotnet-experimentations/LockFiles
then
[code]

and create a PR on branch `bddckr` on that repo so it can be used as a reference in this issue ?

[2019-08-27 13:20] jvs1 opened #8497 "NuGet CLI cannot upgrade to newer package version whilst VS Package Manager can"
I'm using a .props file to include a Reference into my NuGet consuming C# project. [NuGet CLI](https://docs.microsoft.com/en-gb/nuget/reference/nuget-exe-cli-reference) doesn't upgrade to a newer NuGet package version. The [NuGet Package Manager for Visual Studio](https://docs.microsoft.com/en-gb/nuget/consume-packages/install-use-packages-visual-studio) is able to upgrade to newer NuGet package v

[2019-08-27 14:41] bddckr commented on #8493
If I clone your repo I do not have any issues when doing `dotnet restore --locked-mode`. Doing `dotnet nuget locals -c all && dotnet restore --force-evaluate` also gives no issues!

I can't make this work for my own (private) repo, though - my own CI build always fails, stating there's a mis-match of one of the hashes (is there any way to get more details?) compared to what my own machine **and th

[2019-08-27 15:47] #8495 closed, assigned to dtivel

[2019-08-27 16:27] tebeco commented on #8493
In the repo linked, did you tried ONLY `dotnet restore --force-evaluate` ? never use `--locked-mode` on it, that could help spotting a diff

That's why i opened this issue initially, i have the same issue in our private CI, so i managed to repro here.
Will try back in our CI.

you also said you ran, `dotnet restore --locked-mode --force-evalute`, why ? what is that supposed to do ? those 2 are not

[2019-08-27 16:35] bddckr commented on #8493
Yup. I did multiple clones, same for my own repo.

Nope! Just the Microsoft-hosted Azure DevOps agents that get thrown away/reset by them for each pipeline/job.

All defined in my `NuGet.Config`:
[code]

I didn't have the MSBuild property in the project files, so had to enforce the locked mode this way. You are probably right and I can drop it. I did try all of this, without any difference in the

[2019-08-27 16:36] dtivel opened #8499 "Build: transient NuGet.exe download failure fails Linux test suite"
[This line](https://github.com/NuGet/NuGet.Client/blob/34420e795cc382031b9ac6a4fc99cb168ac3351e/scripts/funcTests/runFuncTests.sh#L35) failed on Linux due to a transient failure.

Partial build log:
[code]

[2019-08-27 17:04] tebeco commented on #8493
well, will wait for @nkolev92 for all previous question then ^^

[2019-08-27 18:40] #2867 closed, assigned to anangaur

[2019-08-27 18:45] tebeco commented on #8493
@nkolev92 i did have the same issue on our teamcity on premise CI
i think i tried previous made here

i'll try that again this week and keep you in touch

What about other teamates ? since the fallback is disabled i guess they should be able to "restore" but i guess it will fail if
* in the past they did a restore
* it used the fallback
* fallback is now in their global package folder
* they attem

[2019-08-27 18:49] tebeco commented on #8493
@nkolev92

sorry for all the questions, as i am deeply trying to understand how it work to properly helps about 30 developers to migrate over lockfiles ;)

better be sure how it works out, potential glitches etc ...

[2019-08-27 18:55] #8499 closed, assigned to dtivel

[2019-08-27 19:10] devlead commented on #352
Great👍 @onovotny seems bulk work is in this commit
https://github.com/NuGet/NuGet.Client/commit/c05f9afa9c2fcee7fbe10754521b3f6424bee128

[2019-08-27 19:54] donnie-msft opened #8500 "Branch release-5.3 and increment dev branch version to 5.4"

[2019-08-27 20:28] tebeco commented on #8493
i would honestly recommend a complex scenario for the guidance
taking in account 2.x bug as 2.1 is LTS for a long time so i honestly suggest doing patch in sdk in all possible feature band to raise error if `DisableImplicitNuGetFallbackFolder` is still false
and prints out a URL to a detailed page explaining why it need to be `true` and who / when needs to `dotnet nuget locals -c all && git en - r

[2019-08-27 20:29] vsfeedback opened #8501 "NuGet Package properties Net Framework projects"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/705491/nuget-package-properties-net-framework-projects.html)._

---
When [NuGet.Build.Tasks.Pack](https://www.nuget.org/packages/NuGet.Build.Tasks.Pack/) is installed for Net Framework projects, it would be nice to have the NuGet properties tab like Net Standard/Core library p

[2019-08-27 20:45] vsfeedback opened #8502 "Add new Filter to update Nuget Packages to only show new prerelease when already using an old prerelease"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/697903/add-new-filter-to-update-nuget-packages-to-only-sh.html)._

---
Currently on the &quot;Updates&quot; tab of &quot;Manage Nuget Packages for Solution&quot; you have a boolean choice whether to include pre-release package updates or not.

I would like a 3rd filtering opti

[2019-08-27 20:46] vsfeedback opened #8503 "Automaticaly load pdb from NuGet global packages folder"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/702430/automaticaly-load-pdb-from-nuget-cache.html)._

---
<p>Hi, it looks Visual Studio does not support loading pdb from NuGet Cache.</p><p>Is it possible to improve VS this way.</p><p>In detail: Let's e.g. assume having NuGet Package unpacked in the NuGet cache and the dll

[2019-08-27 21:03] nkolev92 opened #8504 "PM UI - the details tab does not get loaded when on the browse tab"
1.Get the latest preview bits of Visual Studio.
1. Open a project
1. open the pm ui.
1. go to the browse tab
1. click on any selection
1. notice that the details metadata does not get loaded.

The same doesn't happen on 16.2 latest, so it's a regression within this release.

//cc @rrelyea

[2019-08-27 21:23] HermannGruber commented on #8494
I can no longer reproduce the issue at the moment - I had raised the issue when running Visual Studio 16.2 or so before my holidays. After returning, I updated to the latest VS version 16.2.3. Also, I cannot  that my codebase I tested with today was 100% in the same state (i.e. the same commit) as when I first reported the issue. Anyway, closing this since I no longer run into trouble.

[2019-08-27 21:23] #8494 closed, assigned to zivkan

[2019-08-27 21:59] tebeco commented on #8493
fair enought

will keep you in touch with our CI
as @bddckr i stumbled open issue even with these steps so i'll be sure to triple check again

will also try with multiple teammates to see what happens.

i would have suggest raising an `announcement` to raise awareness  but it seems the `nuget` organization does not have the same as `aspnet` or `dotnet`

and honestly ...thanks A LOT for your time h

[2019-08-27 22:21] dominoFire opened #8505 "UI delay when loading icon URLs in PM UI"
When loading icons, there's a lookup operation that causes an UI delay in the main thread.

https://devdiv.visualstudio.com/DevDiv/_workitems/edit/487404/

Tasks:

- Find out if `BitmapImage`/`BitmapSource` has thread affinity to WPF UI threads

Possible solutions:

- Backgorund, non-UI thread on the converter for loading the image
- Convert IconUrl to an async, non-UI threaded property

[2019-08-27 22:35] #8500 closed, assigned to donnie-msft

[2019-08-27 22:42] zkat opened #8506 "msbuild /restore works with Packages.Config"
Spec: [Backporting PC to msbuild /restore](https://github.com/NuGet/Home/wiki/Backporting-PC-to-msbuild--restore)

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): msbuild

NuGet version (x.x.x.xxx): current

## Tracking issues

* [x] Get the code working in usual scenarios #8676
* [x] Write E2E tests: #8677
* [x] Refactor into shared code #8

[2019-08-27 22:44] nkolev92 opened #8507 "Identify user data for HATS"

[2019-08-27 22:49] heng-liu opened #8508 "Temporary fix on patching SDK for System.Security.Cryptography.Pkcs.dll"
When implementing verification and signing, we bring in System.Security.Cryptography.Pkcs.dll and several dlls for netstandard2.1, which is in extension but not in netcoreapp3.x/5.0.
So we encounter an exception of System.Security.Cryptography.Pkcs.dll not found in patching tests as those dlls are not brought in in SDK.
For now, we need to temporary copy those dlls and update the deps.json files i

[2019-08-27 23:55] nkolev92 opened #8509 "AlternatePackage does not get cleared when the package selection changes"
1. Add NuGet.org INT as a source - https://apiint.nugettest.org/v3/index.json
1. Search for TestPackage.Deprecation
1. Observe the metadata for a package like TestPackageDeprecation.Legacy
![image](https://user-images.githubusercontent.com/2878341/63815938-2d09d680-c8eb-11e9-92ac-9dec9e8e2e14.png)
1. Select a package with .AlternatePackage in the name (that package has an alternate package specifi

[2019-08-28 02:30] hamburgerwang commented on #5358
I encountered this error when build my project with a library in NuGet. Setting the proxy in terminal works for me.
set http_proxy=my.proxy.com:80
set https_proxy=my.proxy.com:80

[2019-08-28 08:48] bddckr commented on #8493
Thanks a lot for finding the time!

Got it.

To quote from that issue:

That definitely could be the case, though I'd be surprised to see a version then having a different content hash. I guess it could easily have one if that wasn't build with lock files deterministically either 😉
I have no idea if this is the case. Is there any way for me to check humanly possible? Looking at my lock file as is

[2019-08-28 09:07] bddckr commented on #8493
I'm thinking about running my CI without `--locked-mode` for now and instead failing the build after the `restore` task if any of the lock files is modified according to git. Since the files aren't modified at all while the lock error is given by the `restore` command in the local and CI case, it doesn't actually modify any of the files until a "real package change" was done by the team. Thus that

[2019-08-28 10:17] v-nancyj opened #8510 "[Test Failure] VS hung when reoloding solution after adding a NuGet.Config file with parsing errors"
## Details about Problem
NuGet Version: Release-5.3.x\5.3.0.6197
VS Version: VS D16.3\29227.100
OS Version: Windows-10-Enterprise-19H1-04-01-2019

## Installation steps:
1. Install VS from: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2982864&view=results
2. Install NuGet Client: [\\\ddfiles\Drops\NuGet\Drops\CI\NuGet.Client\release-5.3.x\5.3.0.6197\artifacts\VS15\NuGet.Tools.vsix

[2019-08-28 15:40] TannerBragg commented on #5553
I don't understand the danger in allowing package mantainers to add additional options to their csproj files to specify the dependency resolution strategy.  At my workplace, minor version never break code and we always want to use the latest minor version.  If we need to lock to a specific version for a specific build, we would use the lock file.

Any traction on this issue?  It's outstanding.  It

[2019-08-28 16:14] karann-msft opened #8511 "Running msbuild t:restore,build in one step does not add dlls in output"
@scorpionlion commented on [Mon Aug 19 2019](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1642)

I was expecting same behaviour as would be for dotnet build , where it calls dotnet restore by default and copies all required package dlls in output. But when calling these two targets in one step, the build step does not find the project.asset.json file and does not copy some of the files

[2019-08-28 17:28] rrelyea opened #8512 "Confirm that all installed NuGet Packages with VS are properly signed"

[2019-08-28 17:58] #7827 closed, assigned to kartheekp-ms

[2019-08-28 18:01] mrward commented on #8330
My initial investigation indicated that any call to DependencyGraphRestoreUtility may result in the native HttpHandler being bypassed since the source repositories seem to be recreated at some point in the callstack.

https://gist.github.com/mrward/cb2cf92def183905250f707ea3e7077e

[2019-08-28 18:16] dtivel opened #8513 "VS: assemblies are fully ngen-ed not partially ngen-ed"

[2019-08-28 18:51] kartheekp-ms opened #8514 "Bug 959482: [PerfWatson] UIDelay"
microsoft.visualstudio.languageservices.dll!Microsoft.VisualStudio.LanguageServices.Packaging.PackageInstallerService+<>c__DisplayClass_0+<<OnWorkspaceChanged>b__>d.MoveNext|nuget.packagemanagement.visualstudio.dll!NuGet.PackageManagement.VisualStudio.VsProjectAdapter.GetTargetFrameworkStringAsync

Linked to ADO bugs 959482,961012

[2019-08-28 19:21] nkolev92 opened #8515 "NuGet should communicate the 403/401 to the user."
https://github.com/microsoft/artifacts-credprovider/issues/124#issuecomment-525870346

Specifically the issue here is with the new plugins.

fyi @dtivel @rrelyea

[2019-08-28 19:36] #8513 closed, assigned to dtivel

[2019-08-28 21:08] CuneytBozyel commented on #4190
it works for me

[2019-08-28 21:25] cgountanis commented on #4190
Little help for those trying Core 3 Preview

https://wildermuth.com/2019/08/19/My-First-Look-at-ASP-NET-Core-3-0

[2019-08-28 22:06] nkolev92 opened #8516 "Solution PM UI - Deprecation warning icon has issues"
![image](https://user-images.githubusercontent.com/2878341/63895701-bc26f500-c9a4-11e9-91c3-08f27f91c915.png)

1. Create a solution with 1 project.
1. Install a deprecated package.
1. Open the solution level PM UI
1. Go to the installed tab.

You will see that the installed label has a warning icon, but in the packages list you cannot distinguish visually which package is deprecated. This is an is

[2019-08-28 22:13] nkolev92 opened #8517 "[Accessibility] Tab navigation skips certain PackageDetails metadata causing it to be missed by narrator"
Found while testing the new deprecated metadata.

Note that  the description metadata gets skipped as well. It only goes to the information that's hyperlinked.

This is not a regression but just discovered due to it.

[2019-08-28 22:17] nkolev92 opened #8518 "[Accessibility] Installed tab with a warning icon due to deprecation is not announced"
Install a deprecated package and go to the PM/Solution PM UI.

Navigate to installed tab and notice that the deprecation warning is not announced.

Note that if you have a number in the updates tab it is announced, so there is precedent for this.

[2019-08-28 22:36] nkolev92 opened #8519 "TelemetryUtility.CreateFileAndForget name should indicate that it is in fact a file and forget name"
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio.Common/Telemetry/TelemetryUtility.cs#L10

Right now we end up with even names such as:

`vs/nuget/pvspackagerestoremanager/onnugetprojectadded`.

This would make it difficult to just categorize all of our file and forget failures.

I think that it might be useful for all these events to get prefixed somehow, so tha

[2019-08-28 22:50] dtivel commented on #8519
Was that backslash in your example intentional?  I expect only forward slashes.

Sure, how about:  `vs/nuget/fileandforget/...' or something like that where 'vs/nuget/' is still the prefix.

[2019-08-28 23:03] nkolev92 commented on #8519
It was a typing error :)

That's what I had in mind as well.

I'll talk to Rob about which release we want this in.

[2019-08-29 00:00] nkolev92 commented on #7853
I think the ADO issues assigned to @zkat are duplicates of this one.
@rrelyea I think it's a good idea to consolidate them.

[2019-08-29 01:12] nkolev92 opened #8520 "Reevaluate the bootstrapping packages.config"
It's possible that some entries are not needed/can be moved to a PackageReference or similar.

[2019-08-29 01:29] nkolev92 opened #8521 "The cursor in PMC is hard to spot in the light & blue themes"
The PMC cursor is hard to spot in the light and blue themes.

Not a regression.

![image](https://user-images.githubusercontent.com/2878341/63903302-d7ecc400-c9c1-11e9-9377-5e4a7a295a76.png)

[2019-08-29 01:54] v-luzh commented on #8521
@nkolev92, is that same with the bug #8119? We can only repro this issue when changing the color theme after building solution.

[2019-08-29 03:47] nkolev92 commented on #8521
@v-luzh Yeah it's a dup. Nice catch!

Pretty much consistently repros as long as VS is not restarted.

Closing as duplicate of https://github.com/NuGet/Home/issues/8119

[2019-08-29 03:47] #8521 closed, assigned to nobody

[2019-08-29 04:48] davidwengier opened #8522 "Better support for packaging from Visual Studio"
To fix https://github.com/dotnet/project-system/issues/1339 and https://devdiv.visualstudio.com/DevDiv/_workitems/edit/935258 we're improving the Pack command in the managed project system, but we can't solve the problem fully without changes to Nuget targets, which we're working around at the moment.

The issues are:

* Nuget targets should specify the actions to call for packaging
   * This mean

[2019-08-29 06:52] bddckr commented on #8493
I'm unable to recreate the issue in @tebeco's repo, and also unable to re-create using the same packages, the same distribution of settings (some `.props`, a `NuGet.Config` etc.) in a newly created project with and without using `Microsoft.Build.CentralPackageVersions`.

Copying my existing repo piece by piece into a new solution setup still gives the issue, so I'm kinda baffled as to what specifi

[2019-08-29 11:24] v-luzh opened #8523 "[Test Failure] Most packages’ package source link and package info are missing in the right panel of PM UI"
## Details about Problem
NuGet version: NuGet Client Dev\5.4.0.6201
VS Version: Master\29228.166
OS: Windows-10-Enterprise-19H1-04-05-2019
## Detailed repro steps so we can see the same problem
1. Launch VS and create a project (e.g. ASP .NET Core Web Application).
2. Open PM UI of this project and click go to “Browse” tab.
3. Select projects in the left panel and look at the package info in the r

[2019-08-29 16:10] dtivel opened #8524 "API: enable custom INuGetResourceProvider's"
Progress on https://github.com/NuGet/Home/issues/8330.

[2019-08-29 16:11] zkat commented on #7853
Grabbing this one for now so I don't forget! Thanks for the ping.

[2019-08-29 16:18] orcun opened #8525 "Package references should include source information for non-default sources"
I had this issue dotnet/cli#12289 and it looks like the problem is not limited to dotnet tools.

In short, when adding a package reference with custom source, package reference should also contain the source information.

[2019-08-29 16:28] dtivel opened #8526 "Test: PushCommand_PushToServerWithSymbols is flaky"
Test `NuGet.CommandLine.Test.NuGetPushCommandTest.PushCommand_PushToServerWithSymbols` failed on macOS [here](https://github.com/NuGet/NuGet.Client/blob/243111be8a0e31755d95672797174f8ff0b3036e/test/NuGet.Clients.Tests/NuGet.CommandLine.Test/NuGetPushCommandTest.cs#L419) with the following error:
[code]
Note that while NuGet.exe failed with exit code 1, the test did not log NuGet.exe output.  Reso

[2019-08-29 16:31] zivkan opened #8527 "[PerfWatson] UIDelay: nuget.packagemanagement.visualstudio.dll!NuGet.PackageManagement.VisualStudio.VSSolutionManager+<EnsureInitializeAsync>d__.MoveNext|nuget.packagemanagement.visualstudio.dll"
From internal bug 959478

[2019-08-29 17:16] nkolev92 commented on #8493
Those files are not considered by NuGet, so unfortunately I don't have any pointers for you :(

If you can't share a project, I can help guide you to debug nuget.exe (easiest of the clients) to see what exactly the problem is.

Fixing https://github.com/NuGet/Home/issues/7696 will help these investigations.

[2019-08-29 17:22] tebeco commented on #4254
@chris579 do you end up with the `csproj` and the `obj` folder packaged as well in the nupkg ?
it's kinda anoying ^^

i used somnething similar like :
[code]

[code]

Same if i add `<IncludeBuildOutput>false</IncludeBuildOutput>` to the csproj
or if i run
[code]

[2019-08-29 17:29] dtivel opened #8528 "Plugin: "A task was cancelled" - problem with ADO authentication due to this."
There's a report of "A task was canceled." error on NuGet 5.2.x.  The root cause is unknown.

(We are investigating potential fixes in NuGet client code and the interaction with https://github.com/Microsoft/artifacts-credprovider. This is impacting several customers badly.)

[2019-08-29 17:33] tebeco commented on #4254
@chris579 do you end up with the `csproj` and the `obj` folder packaged as well in the nupkg ?
it's kinda anoying ^^

i used somnething similar like :
[code]

[code]

Same if i add `<IncludeBuildOutput>false</IncludeBuildOutput>` to the csproj
or if i run
[code]

[2019-08-29 18:02] bddckr commented on #8493
That would be much appreciated as I can't share this project sadly. I did increase the verbosity all the way. Each project that isn't using the lock file is going through fine, then when it comes to the two that use lock files, this is what I get locally:
[code]

The two projects depend on the other projects via `ProjectReference`.

[2019-08-29 18:08] tebeco commented on #8493
i'll see if i can anonymize an empty shell of the repo at work
gonna take time

[2019-08-29 20:03] mrward commented on #5555
Related issue #4413 - NuGet writes the NuGet.Config in ~/.config folder, but dotnet restore reads from ~/.nuget

[2019-08-29 20:33] sandyarmstrong commented on #4413
@aventurella this is not just a Mono thing. .NET Core also resolves `Environment.GetFolderPath(Environment.SpecialFolder.ApplicationData` to `~/.config`.

It's just that NuGet for .NET Core has this old hard-coded logic in it to look for NuGet.config somewhere else. It used to have this same bad behavior on Windows, and eventually fixed it, but only on Windows.

This is all documented in https://g

[2019-08-29 21:08] #8485 closed, assigned to rrelyea

[2019-08-29 21:09] #7937 closed, assigned to rrelyea

[2019-08-29 21:10] #7953 closed, assigned to rrelyea

[2019-08-29 21:11] #8310 closed, assigned to rrelyea

[2019-08-29 21:12] rrelyea commented on #8094
Closing for now. Was not sufficient justification for backporting these fixes at this time.

[2019-08-29 21:12] #8094 closed, assigned to nkolev92, rrelyea, anangaur

[2019-08-29 21:13] #8268 closed, assigned to rrelyea

[2019-08-29 21:25] rrelyea commented on #8512
Installing 2 VMs:
- Release Channel - w/ VS Enterprise 16.2 with all workloads and many individual components installed
- Preview Channel - w/ VS Enterprise 16.3 preview2 with all workloads installed and many individual components installed

[2019-08-29 21:31] KirillOsenkov opened #8529 "Display which package source contains the package"
NuGet product used: NuGet.exe 5.1.0

I currently use `nuget list FooPackage -ConfigFile nuget.config` to see whether the source specified in the nuget.config contain the `FooPackage`. In the case of success however it doesn't tell me which source contained the package.

It would be super helpful to determine which source from the list NuGet found the package in.

[2019-08-29 21:48] nkolev92 commented on #8493
@bddckr

Sure.

1. Checkout the repo
1. Follow the steps to build the client https://github.com/NuGet/NuGet.Client#steps-to-build-nuget-client-tools. Make sure you don't run the tests when you build. They are unnecessary for you.
1. Load the NuGet.sln with a version of VS 2019.
1. A copy from some instructions I have written before.
![image](https://user-images.githubusercontent.com/2878341/639784

[2019-08-29 21:50] nkolev92 commented on #7935
Related: https://github.com/NuGet/Home/issues/8465

[2019-08-30 01:01] danpowell88 commented on #7699
We are now getting this error

[2019-08-30 09:40] rychlym commented on #8503
Hello,
I have tried to prepare the source code example(s) with small NuGet packages supposed to be stored in an offline NuGet repository.
Please follow the steps from the ReadMe.txt file inside of the attached package file.  Finally (the step 4 in the ReadMe.txt) you end up with not loaded pdb for the library and that is the problem as described in this topic.
![image](https://user-images.githubus

[2019-08-30 09:43] bddckr commented on #8493
It goes [here](https://github.com/NuGet/NuGet.Client/blob/243111be8a0e31755d95672797174f8ff0b3036e/src/NuGet.Core/NuGet.ProjectModel/ProjectLockFile/PackagesLockFileUtilities.cs#L168) and then fails [here](https://github.com/NuGet/NuGet.Client/blob/243111be8a0e31755d95672797174f8ff0b3036e/src/NuGet.Core/NuGet.ProjectModel/ProjectLockFile/PackagesLockFileUtilities.cs#L343), because of `0 + 6 != 0`.

[2019-08-30 16:27] nkolev92 commented on #8493
Thanks for investigating @bddckr
This is super helpful!

Yeah, sounds like a bug.
I'll investigate myself (get a repro) and confirm soon.

[2019-08-30 16:48] wmhhayes opened #8530 "Automapper 8.1.1 returns nu3008 error"
We are seeing a nu3008 error for Automapper 8.1.1 in our local nuget repository.
![automapper error nu3008](https://user-images.githubusercontent.com/45670667/64037628-aee04680-cb1b-11e9-8d6c-07b270e09fe3.png)

 I have deleted the local copy and downloaded again from https://www.nuget.org/packages/AutoMapper/8.1.1 with no change.

We are seeing that the last modification date  for the package file

[2019-08-30 17:09] dtivel opened #8531 "Build: CI pipeline failing to update build number"

[2019-08-30 18:23] heng-liu commented on #8510
Assigning to 5.3 milestone for consideration.

[2019-08-30 18:24] v-stland opened #8532 "NuGet.Protocol.Plugins.PluginDiscoveryUtility uses wrong file in non net472 version of library."
NuGet Product: API v3
NuGet version v5.2.0

There is a mismatch in the source provided for net472 and the netstandard version which will cause the other versions to fail to validated users when using credential providers.

Here is a copy of the source in the distributed dll in the netstandard version:
`public static IEnumerable<string> GetConventionBasedPlugins(IEnumerable<string> directories)
{

[2019-08-30 18:33] rrelyea opened #8533 "<Learning KR> Understand Microsoft internal usage of older nuget clients and protocols."

[2019-08-30 18:39] rrelyea opened #8534 "Learning KR: Understand the current blockers from packages.config to package reference"

[2019-08-30 18:54] nkolev92 commented on #8531
Seems fixed now?

[2019-08-30 19:56] rrelyea commented on #8512
Initial Results of 16.2 analysis: (note that MB are only correct if my dev machine also had those packages)

**SummaryOfFolders********************************************
signed: 5 / 5  - 3.57MB - C:\Program Files\dotnet\sdk\2.1.801\DotnetTools
signed: 7 / 7  - 2.52MB - C:\Program Files\dotnet\sdk\2.1.801\Templates
signed: 5 / 5  - 3.62MB - C:\Program Files\dotnet\sdk\2.2.401\DotnetTools
signed:

[2019-08-30 20:05] rrelyea commented on #8512
@anangaur would like a dump of the data like this:
PackageId, Version, Folder, Signed (author, repo, both, none), PackageOwner, InstallOwner

[2019-08-30 21:04] dtivel commented on #8531
Yup

[2019-08-30 21:04] #8531 closed, assigned to dtivel

[2019-08-30 21:07] rrelyea opened #8535 "Onboarding diagnostic files to IFeedbackDiagnosticFileProvider"
Please see email that I forwarded from @susanshi -- we should attempt to finish this sprint...or next - keeping Susan apprised of our timeline.

(i think this is because we include a dgspec in our feedback reports to help understand more diagnostic info when somebody reports a problem.)

[2019-08-30 21:17] rrelyea commented on #8532
FYI @nkolev92 @dtivel

[2019-08-30 21:20] nkolev92 commented on #8532
That's by design.

The net472 version works with .NET Framework providers, the expectation there is for the plugins to have an exe extension.

The netstandard version works cross platform. The providers are expected to be .NET Core based, so the extension expected is dll.

I'll admit it's not a perfect approach, but it did address our scenarios.

[2019-08-30 21:22] rrelyea commented on #8533
@donnie-msft flagged that VS Release team is locked to v4.3.0 of Nuget.exe -- see teams chat for details. (search for "8533")

[2019-08-30 21:26] zarenner commented on #8528
Thanks for your work here - @jmyersmsft and I are happy to test any possible fixes on @AArnott's consistent repro of this issue whenever you think you have something.

[2019-08-30 21:34] jmyersmsft commented on #8528
I've got [CancellationToken tracking code](https://github.com/NuGet/NuGet.Client/compare/5.2.0.6067...jmyersmsft:users/jmyers/cancelTracking-on-5.2.0.6067) in a branch in my fork to help further investigation if necessary too

[2019-08-30 21:41] rrelyea commented on #8530
You've seen the docs on NU3008?
https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu3008

[2019-08-30 21:44] rrelyea commented on #8530
I've just verified that a .net framework console project can install that package from nuget.org on VS 16.3 preview 3 internal bits w/ no verification problem.
I've also run "nuget.exe verify -signatures <filename>" on the .nupkg after it was downloaded -- and that suceeded.

[2019-08-30 22:07] rrelyea opened #8536 "Publish release notes for 5.3"
Likely should ship release notes for 5.3 when preview3 ships.
Finalize soon.

[2019-08-30 22:15] heng-liu commented on #8421
Rob says that you're already working on this.

[2019-08-30 22:18] donnie-msft commented on #8523
This is a known regression in this release.
See https://github.com/NuGet/Home/issues/8504

[2019-08-30 22:18] #8523 closed, assigned to nobody

[2019-08-30 22:19] donnie-msft commented on #8504
Duplicate issue here, but may have useful repro details/screenshot: https://github.com/NuGet/Home/issues/8523

[2019-08-30 23:16] nkolev92 commented on #8316
First attempt at https://github.com/NuGet/NuGet.Client/tree/dev-nkolev92-topLevelPackageUtility.

[2019-08-30 23:27] dtivel opened #8537 "VS: disable ngen for 16.3"
Most of the ngen-related work is in https://github.com/NuGet/NuGet.Client/tree/release-5.3.x.  However, 2 critical changes are in the dev but not yet the release-5.3.x branch.

https://github.com/NuGet/NuGet.Client/commit/34420e795cc382031b9ac6a4fc99cb168ac3351e
https://github.com/NuGet/NuGet.Client/commit/243111be8a0e31755d95672797174f8ff0b3036e

Before cherry-picking these commits to the release

[2019-08-30 23:47] donnie-msft opened #8538 "Visually indicate meaning of version numbers in PM UI tabs"
## Details about Problem
VSFeedback suggestion to add labels on the PMUI tabs (Browse/Installed/Updates) to visually indicate whether the displayed version number is installed or a suggested update. Version numbers in question are on the right side of the screenshot below.

"I would also recommend, also for the other tabs, to show some prefix like "newest:" "installed:" before the version or some

[2019-08-30 23:47] donnie-msft commented on #8538
//cc: @anangaur
Seems this would tie into Accessibility work here https://github.com/NuGet/Home/issues/7853

[2019-08-30 23:48] donnie-msft commented on #7853
Does NVDA read the Installed version and/or the Latest version so that you know which is which?
May be related: https://github.com/NuGet/Home/issues/8538

[2019-08-30 23:50] nkolev92 commented on #7853
reads the installed one, an issue nonetheless :)

[2019-08-30 23:55] nkolev92 commented on #2775
Fixed by https://github.com/NuGet/NuGet.Client/pull/897 probably?
@joelverhagen

[2019-08-30 23:55] nkolev92 commented on #2775
Change set: https://github.com/NuGet/NuGet.Client/commit/180fa576efe2578330c86a4952df253def6e2c1f

[2019-08-31 00:00] #8524 closed, assigned to dtivel

[2019-08-31 12:03] StingyJack commented on #7610
Test post

[2019-08-31 12:08] StingyJack opened #8539 "I can't comment or edit my existing comment on #7309"
I'm trying to add a comment of

But it's giving me
![Screenshot_20190831-075133](https://user-images.githubusercontent.com/15381181/64063738-5ade6c00-cbc6-11e9-8ff0-958958303228.png)

If someone could incorporate that feedback into #7309 it would be appreciated.

[2019-09-01 23:40] zivkan opened #8540 "Reduce multiple string concatenations"
In a few places, NuGet builds up strings by using concatenation over multiple lines of code. Since strings in .NET are immutable, this means that several strings are created that are only used once before being eligible for garbage collection, and the CPU has to do extra work copying these temporary strings into the new longer strings. We can get some perf improvement from removing the obvious exa

[2019-09-02 00:18] anangaur opened #8541 "Add deprecation information by default on the installed tab"
Feature: Deprecation

The idea of the feature on VS was to show the deprecation info as warning ⚠️ on the INSTALLED tab. Clicking on this tab leads to the packages listed and are deprecated using the warning ⚠️ icon on package’s installed version. Clicking on this reveals the warning ⚠️ icon and deprecation info on the details pane. Essentially the warning ⚠️ icons leads to the issue details.

Thi

[2019-09-02 13:42] IanKemp commented on #4491
Guys, I just got bitten by this and [spent a DAY figuring it out](https://stackoverflow.com/questions/57755378/transitive-runtime-dependencies-are-discarded-causing-runtime-failure). Why bother adding support for the new-format csproj if you aren't bloody well going to add support for the things inside that file, like `PackageReference`?

It's been **two and a half years, for crying out loud** and

[2019-09-02 13:44] IanKemp commented on #7778
This is the only logical solution, since the NuGet team apparently isn't interested in adding critical functionality to their app - merely making it look like it works when it actually doesn't, then ignoring the fact that it doesn't actually work for the next two-and-a-half years.

[2019-09-02 14:16] drauch commented on #6861
Any updates?

[2019-09-03 06:32] beachwalker opened #8542 "NuGet in Intranet not useable (without Internet connection)"
## Details about Problem

NuGet.exe

NuGet version: 5.1.0.6013

OS version: win10, 10.0.15063

Did not work befor afaik.

## Detailed repro steps so we can see the same problem

1. Use config that uses local folder as source for nuget files

2. Disable external sources (nuget.org, http outside of intranet)

3. Ethernet adapter is configured with standard gateway, but proxy with auth is required (b

[2019-09-03 06:35] beachwalker commented on #8542
When removing the standard-gateway of the ethernet adapter, then nuget restore command works fast again. However this is not very nice, because then you have to edit host files etc. to access internal servers (e.g. for connection between gitlab<->gitlab-runner).

[2019-09-03 08:07] MuiBienCarlota commented on #4699
And why this evolution need is a nuget issue? it is only a need for evolution that concerns dotnet cli.
I think the right place for this evolution is https://github.com/dotnet/cli/issues/7043

[2019-09-03 15:41] #8471 closed, assigned to zivkan

[2019-09-03 15:43] zivkan commented on #8473
@rrelyea added you as an assignee as we need ship room approval to add this to the dotnet cli.

[2019-09-03 16:15] wli3 opened #8543 "dotnet add local package -> error: Value cannot be null. error: Parameter name: path1"
_From @gdillen on Tuesday, January 29, 2019 3:56:08 PM_

## Steps to reproduce
I'm on macOS 10.14.2
dotnet version 2.2.103

1. Create a C# class library project
2. Add package metadata to the project file
- inside the existing <PropertyGroup> tag,
`<PackageId>mylib</PackageId>
<Version>1.0.0</Version>
<Authors>MyName</Authors>
<Company>MyCompany</Company>`

3. Run the pack command
$ dotnet pack
4

[2019-09-03 16:15] wli3 commented on #8543
_From @livarcocc on Tuesday, January 29, 2019 5:41:28 PM_

@wli3 can you take a look?

[2019-09-03 16:15] wli3 commented on #8543
_From @guydillen on Monday, February 11, 2019 9:03:11 AM_

Any progress?

Thanks.

[2019-09-03 16:15] wli3 commented on #8543
_From @wli3 on Monday, February 11, 2019 7:23:43 PM_

sorry I don't have any update

[2019-09-03 16:15] wli3 commented on #8543
_From @Rakiah on Thursday, March 21, 2019 11:40:24 AM_

I have the same problem but using a remote private NuGet server, any updates please ??

[2019-09-03 16:15] wli3 commented on #8543
_From @wli3 on Thursday, March 21, 2019 3:26:26 PM_

@nkolev92 anything on the top of your head

[2019-09-03 16:15] wli3 commented on #8543
_From @nkolev92 on Thursday, March 21, 2019 5:55:27 PM_

Where are you trying to install the package?

How did you generate the console app?

I've seen this goo get spewed when it detects a cycle.

Basically you are trying to install the package in the project that generated it.

[2019-09-03 16:15] wli3 commented on #8543
_From @ransagy on Monday, September 2, 2019 8:52:59 AM_

I've come across this myself. Is there any way for us to nail it down further? some diagnostic/verbose output to understand which path is it tripping on?

I tried adding the --verbosity diag and --diagnostics flags, but the cli doesn't accept those in any way i could add them coupled with the add package command.

[2019-09-03 17:10] nkolev92 opened #8544 "Update the license list"

[2019-09-03 17:15] #8519 closed, assigned to nkolev92

[2019-09-03 17:18] #8540 closed, assigned to zivkan

[2019-09-03 17:18] zivkan commented on #8540
abandoning, as per comments in PR.

[2019-09-03 17:53] nkolev92 commented on #2775
Fixed in https://github.com/NuGet/NuGet.Client/commit/180fa576efe2578330c86a4952df253def6e2c1f

[2019-09-03 17:53] #2775 closed, assigned to nkolev92

[2019-09-03 18:13] adamralph commented on #8459
@nkolev92 the idea sprang from https://github.com/dotnet/coreclr/issues/26175. As I [mentioned there](https://github.com/dotnet/coreclr/issues/26175#issuecomment-521408746) (note how many upvotes that comment has) I feel the same pain points due to the shipping required from NuGet to the .NET CLI as mentioned in the description of that issue.

Whenever I am following issues in the NuGet repo, it's

[2019-09-03 18:33] adamralph commented on #8100
In which version of the .NET SDK can we expect this change?

[2019-09-03 18:35] adamralph commented on #8459
@nkolev92 here's another example: https://github.com/NuGet/Home/issues/8154#issuecomment-507449455 - if they NuGet CLI were distributed as a .NET Core Global Tool then I could just install version 5.2 and be done with it.

[2019-09-03 18:46] dominoFire commented on #8421
Verified on D16.3\29230.54

| StringID |  `dev` branch | `release-5.3.x` branch | Notes |
|----------|-------------|------------|------|
|Label_Installed_DeprecatedWarning | Needs loc. | Needs loc. | The label in the 'Installed' Tab |
|Label_Deprecated | OK | OK | The label on the right panel that says 'Deprecated' |

[2019-09-03 18:50] rrelyea commented on #8100
It has missed NuGet 5.3 release. We hope to get it in 5.4, but it is currently behind some other priorities. 5.4 would likely mean 3.0.200 would have it.

[2019-09-03 19:04] #8537 closed, assigned to dtivel

[2019-09-03 19:45] nkolev92 commented on #8459
Thanks for elaborating on this @adamralph.

I believe we've done a better job at that in recent releases.
The root of the confusion is that NuGet ships at 2 different cadences with Visual Studio and the .NET Core toolset, and our version is closely aligned with Visual Studio instead of .NET Core as most of the other components that flow into both products do.
NuGet has a significant amount of func

[2019-09-03 19:50] adamralph commented on #8459
@nkolev92 perhaps I can I simplify what I'm proposing slightly:

Every time you build and release NuGet.exe, build and release a NET Core global tool at the same time, with the same version number. Effectively the same code as NuGet.exe built against an appropriate version of `netcoreapp`, with `<PackAsTool>true</PackAsTool>` in its csproj. I know I'm simplifying massively, but there is any techni

[2019-09-03 20:26] scottbommarito commented on #8504
I have not been able to reproduce this on my machine unfortunately. It always loads correctly. It might be related to some system configuration?

[2019-09-03 20:33] scottbommarito commented on #8516
How to disambiguate this view is a question for @anangaur.

As an easy option, we could consider removing the warning icon for the solution. Alternatively, we could show the warning icon in the list of versions on the right.

[2019-09-03 20:59] donnie-msft commented on #8529
If you append `-Verbosity detailed` you will see the HTTP calls out to the server. This might help if you only have Server sources (no local sources).

However, if you have local feeds as well, there's no way to know in the output which result is from a server and which is from a local feed. An HTTP "OK" from Server1 may be immediately followed by a result from a local feed. Zero matches were foun

[2019-09-03 21:02] anangaur commented on #8516
In this case the warning icon could be aligned to the package name with tooltip stating: “The package version(s) were deprecated. Refer to the project list to know where the deprecated versions are being referenced”.

In addition, the warning icons should be shown alongside the versions installed per project on the right hand side.

[2019-09-03 21:05] vsfeedback opened #8545 "Solution "Installed"-Tab shows unexpected the latest version not the installed version"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/712579/nuget-solution-installed-tab-shows-unexpected-the.html)._

---
Dear VS-Team,

I had to throw some work for cleaning up packages folder away, due the behaivior of the &quot;Installed&quot; Tab in NuGet Solution Browser. I think we can agree that the &quot;Installed&qu

[2019-09-03 21:11] scottbommarito commented on #8516
@anangaur - could you quickly mock-up a screenshot with the icons in the right place? It's not entirely clear to me where you'd like to put the icons from your description.

[2019-09-03 22:03] nkolev92 commented on #8459
Yes, there are functionalities that do not apply cross platform (msbuild discovery, extensibility), and others that there are no appropriate .NET Core apis for yet(prior to 3.0) such as encryption/signing.

Ideally we want customers to use dotnet.exe cross platform.

[2019-09-03 22:09] joshmcode commented on #6328
Same issue. I had 3 instances of Visual Studio 2017 open. It appears one of them may have acquired some kind of lock on a resource? Anyway, after closing down the other two instances, the restore worked.

[2019-09-03 22:25] dominoFire commented on #8421
I can confirm that both strings are localized. We should await a new build to confirm.

Label_Installed_DeprecatedWarning:
https://github.com/NuGet/NuGet.Build.Localization/blob/825309c176b04ae124aaf661760ff2c10dd95ef0/localize/ESN/15/NuGet.PackageManagement.UI.dll.lcl#L1399

Label_Deprecated:
https://github.com/NuGet/NuGet.Build.Localization/blob/825309c176b04ae124aaf661760ff2c10dd95ef0/localize/

[2019-09-03 22:29] anangaur commented on #8541
Default screen

![image](https://user-images.githubusercontent.com/14800916/64212858-9c3d7880-ce5f-11e9-8541-6093770c28a7.png)

[2019-09-03 23:51] KirillOsenkov commented on #8529
Thanks! As you note, even in the HTTP calls scenario I shouldn't need to decipher the logs and guess which network call was successful. There should be a nice report at the end that told me which package source exactly the package was found in.

[2019-09-03 23:54] donnie-msft opened #8546 "Provide constructive CLI message when Dotnet pack is missing MSBuild Target"
## Details about Problem
With a .NET Framework project, the dotnet CLI does not have necessary Targets (eg, NuGet.Build.Tasks.Pack) for performing `dotnet pack`. The user gets an error about a missing "pack" target. It would be more useful to provide a a constructive message, possibly pointing to the documentation on how to obtain the required Targets. I ran into this during another repro, and fou

[2019-09-04 00:08] heng-liu opened #8547 "Bless 5.2.0 NuGet.exe and publish 5.3.0-preview3 NuGet.exe and preview packages"
The checklist is as following:
- [x]  Change the link https://dist.nuget.org/win-x86-commandline/latest/nuget.exe to point to 5.2
- [x]  Publish https://dist.nuget.org/win-x86-commandline/v5.3.0-preview3/nuget.exe
- [x]  Merge PR : https://github.com/NuGet/NuGet.Services.Index/pull/147
- [x]  Push NuGet.* 5.3.0-preview3 packages to nuget.org  https://dev.azure.com/devdiv/DevDiv/_releaseProgress?_a

[2019-09-04 00:52] #8544 closed, assigned to nkolev92

[2019-09-04 09:27] bormm commented on #8545
Thank you for opening an official issue for my report.

[2019-09-04 12:23] 0xpuffy opened #8548 "cannot install xamarin.googleplayservice"
I tried to install Xamarin.GooglePlayServices.Base.
But these error appears.

Error		Package restore failed. Rolling back package changes for 'PushNotification'.
Error	NU1202	Package Xamarin.GooglePlayServices.Base 71.1610.0 is not compatible with netstandard2.0 (.NETStandard,Version=v2.0). Package Xamarin.GooglePlayServices.Base 71.1610.0 supports: monoandroid90 (MonoAndroid,Version=v9.0)	PushNot

[2019-09-04 12:33] ascjacob opened #8549 "ContentFiles with flatten true not flattened"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI
NuGet version (x.x.x.xxx): not sure what version visual studio is using
VS version (if appropriate): 16.2.3
OS version (i.e. win10 v1607 (14393.321)): win10 v1803 (17134.885)

I created a nuget package through nuspec that target mulitple version of the .net framework, with some content files (xsd & xml). Following

[2019-09-04 17:05] heng-liu commented on #7309
From @StingyJack    :
Instead of the Browse tab it would be great if it defaulted to a Recent tab that showed the 50 most recent packages installed, or a Most Used with the 50 packages I install the most.

[2019-09-04 17:06] #8509 closed, assigned to scottbommarito

[2019-09-04 17:06] heng-liu commented on #8539
Append the comment into #7309. Closed as duplicate.

[2019-09-04 17:06] #8539 closed, assigned to nobody

[2019-09-04 17:07] #8504 closed, assigned to scottbommarito

[2019-09-04 17:29] nkolev92 commented on #8546
NuGet can't do that.
The pack missing target error is an msbuild thing.
And we can't add an error message in a scenario where our code doesn't run.

It'd have to be msbuild/dotnet.exe to special case this scenario.

Even in that case there are caveats to consider:
- The pack target only really makes sense with PackageReference.
- The SDK brings in the pack SDK, so an SDK based project with a pack

[2019-09-04 17:59] Blacketik commented on #545
+1

[2019-09-04 18:19] #7531 closed, assigned to zkat

[2019-09-04 18:21] donnie-msft commented on #8546
This is a Framework project, not SDK, using packages.config.

[2019-09-04 18:35] nkolev92 commented on #8546
In that case, packages.config projects won't work with the pack target anyways :)
Which is the first caveat.

[2019-09-04 18:44] donnie-msft opened #8550 "Pack fails during AssemblyMetadataExtractor call when NuGet.exe filename is renamed"
## Details about Problem

Using a nuget.exe that is renamed to anything else (eg, nuget5.4.0.exe) causes the `Pack` command to silently fail, and incorrectly create package version 1.0.0.0.

Turns out that [AssemblyMetadataExtractor](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/Commands/ProjectFactory.cs#L776) which calls

[`return (T)domain.CreateInstanceAndU

[2019-09-04 18:47] donnie-msft commented on #8497
I've tried to repro this without success, using 15.9.15+28307.812. and NuGet.exe 5.1.0 and 4.9.4). Is the issue persisting? I'll see if others can repro.

I did find that I had trouble getting Pack in certain NuGet.exe's to honor the new assembly version. Created an issue for that https://github.com/NuGet/Home/issues/8550

[2019-09-04 19:38] nkolev92 commented on #8550
How are you generating the nuspec?

Look at AssemblyMetadataExtractor for debugging purposes.

Also, if it does work with the latest nuget.exe, what is your proposal?
Service down level?

[2019-09-04 19:55] donnie-msft commented on #8550
I'm not generating one. eg, Repro8497.1.0.5.nupkg

I've asked the team to try this repro. We can discuss once I'm sure this is a consistent repro.

[2019-09-04 20:14] scottbommarito commented on #8516
Discussed offline with @anangaur and @rrelyea. We would like to do the following changes in 5.3 to improve the situation, but some additional improvements in 5.4 are likely.

For now, we'd like to:
- Add the warning icon in the list on the left-side pane and hide the latest version icon if the package is both deprecated and installed
- To the dropdown list of versions on the right-side pane, add a

[2019-09-04 20:16] scottbommarito commented on #8541
Discussed offline with @anangaur and @rrelyea. The UI proposed above is a consideration for 5.4 but too complex and risky at this point for 5.3.

To mitigate this issue in 5.3, we would like to
- To the dropdown list of versions on the right-side pane, add a warning icon or "(deprecated)" text to indicate which versions are deprecated.
- Make it so that clicking on a version in the list on the lef

[2019-09-04 20:26] zivkan commented on #8527
Fixed by https://github.com/NuGet/NuGet.Client/pull/2729. It was reverted from release-5.2.x, which is why it was still causing hits in VS16.2, but we don't appear to be getting it any longer in the VS16.3 previews.

[2019-09-04 20:26] #8527 closed, assigned to zivkan

[2019-09-04 20:26] donnie-msft commented on #8414
From Jitin John on DevCom:

These are the products installled with VS

[2019-09-04 21:34] heng-liu commented on #8547
Closed as fixed.

[2019-09-04 21:34] #8547 closed, assigned to heng-liu

[2019-09-05 00:24] #8168 closed, assigned to kartheekp-ms

[2019-09-05 00:45] ilatypov opened #8551 "nuget.exe ignores packageSourceCredentials in nuget.config when downloading a package"
Our poorly coded pipeline uploaded public xunit packages to a local (password-protected) jFrog artifactory.  Attempts to download them using nuget.exe's packageSourceCredentials with a clear-text (encrypted) jFrog user name and password failed showing 403 Forbidden messages.  Proxying the traffic through BURP showed that nuget.exe ignored the credentials supplied in nuget.config.

## Details about

[2019-09-05 08:22] philip-reed commented on #3891
Can someone check I have implemented the work around correctly?

[code]

When this gets built with dotnet pack, the resulting nuget package has the Whds.Configuration.Models.dll within it, but when i try to use the nuget package I get the following error:

Have I missed something?

[2019-09-05 12:42] jvs1 commented on #8497
The issue still persists. I'm able to reproduce this issue on 3 machines. This also includes a clean Windows 10 Pro x64 virtual machine with up to date windows update for Windows 10 feature version 1803. I installed the specified Visual Studio with NuGet executable in the VM and it reproduces. I attached the .vsconfig file with the used Visual Studio configuration.

I think the Windows OS version

[2019-09-05 13:45] gilbahat commented on #8303
Hi. getting the same error here, this is a real drag.
here's the path I have:

C:\Program Files (x86)\Java\jre1.8.0_151\bin;C:\Program Files (x86)\Google\Chrome\Application;D:\app\product\12.2.0\client_64\bin;C:\Program Files (x86)\Common Files\Oracle\Java\javapath;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0\;C:\Program Files\ESET\ESET Securit

[2019-09-05 14:11] dtivel opened #8552 "VS: add additional telemetry for package install/restore"

[2019-09-05 14:16] shalomshachne commented on #8303
I would expect Nuget to work as it did in previous version, without
introducing new issue like this.

On Thu, Sep 5, 2019 at 4:45 PM gilbahat <notifications@github.com> wrote:

[2019-09-05 15:12] zivkan commented on #8303
Closing this issue as a duplicate of #8168, which had a fix merged yesterday.

[2019-09-05 15:12] #8303 closed, assigned to nobody

[2019-09-05 16:40] dtivel opened #8553 "Build: ShouldSkipOptimize is hard-coded in YAML"
[`ShouldSkipOptimize` is currently hard-coded to `false` in build\vsts_build.yaml](https://github.com/NuGet/NuGet.Client/blob/4b312015695f580eb307791a4544d0ec81292d05/build/vsts_build.yaml#L72).  The impact of this is that if sufficient time should pass between successive builds such that previous optimization data has been deleted due to retention limits, the next build will fail.  Resolving this

[2019-09-05 16:50] #8518 closed, assigned to scottbommarito

[2019-09-05 18:02] #8553 closed, assigned to dtivel

[2019-09-05 19:09] nkolev92 opened #8554 "NU5048 is a warning in the error range"
NU code from 5000-5099 are errors.
5100-5199 are warnings.

The root cause that the warning in question was originally an error and was never fixed.

We should discuss if/how we want to address this, given that this has shipped in previews already.

//cc @dominoFire @rrelyea

Note that the pack codes already have issues; https://github.com/NuGet/Home/issues/7381

[2019-09-05 19:36] timheuer opened #9220 "Is the error message correct"
The intent of this error is that the nuget task was unable to find the icon.  Is it really about unable to find it *in the package* or *during* packaging?  I get this error when the path is invalid during ```dotnet pack``` -- I feel the message is wrong in this case because I don't yet have a package, but I'm trying to create one...and the message should say something along those lines "The file '

[2019-09-05 20:13] dotMorten opened #8555 "Nuget command line parameters are inconsistent"
## Details about Problem
When using nuget.exe I was looking for help. So I naturally tried the various common ways to get the help output:
[code]
All of them returned:
[code]
Instead it turns out the command is
`nuget help` or `nuget ?`
This is a bit against common convention.
However it gets weirder. I needed help for the `nuget config` command, so now having learned you add `help` without a dash

[2019-09-05 21:52] #8490 closed, assigned to scottbommarito

[2019-09-05 22:06] heng-liu commented on #8497
I can repro this with the latest nuget.exe.

[2019-09-05 22:44] dander commented on #5726
Just a note for others who may run across this... This change makes NuGet generate packages that are incompatible with https://www.nuget.org/packages/NuGet.Core/

It uses System.IO.Packaging to read the package, which cannot even see files that have not been uri encoded.

[2019-09-05 23:27] danmosemsft commented on #8246
@dominoFire can you help set my expectations for completing your PR? this would help our customers using WSL who periodically hit this when trying to build.

[2019-09-06 00:32] mbranscomb opened #8556 "Provide option to upload packages for verification and be staged but unpublished."
## Details

We would like to be able to upload packages to NuGet.org for signature validation / virus scanning / verification but such that they could be deleted if necessary before publishing and listing. Effectively we would like to stage the NuGet packages ready for release but know that we could take them down if any last minute showstopper issues were discovered.

We want to do this because w

[2019-09-06 05:58] jsobell commented on #7131
Just as a follow-on to this, try adding `-Build` to your nuget command when you get this error and it may display the reason your packaging is failing. This tells nuget to try and build the project based on _it's_ interpretation of paths and dependencies, rather than the msbuild ones

[2019-09-06 10:07] v-longmin commented on #8421
Verify the issue on D16.3 29305.141, it has been fixed, closed it, thanks!

[2019-09-06 10:16] v-luzh opened #8557 "[Test Failure][Deprecation] Deprecated info of the deprecated package “test10k” will show on PM UI right pane with 30 seconds’ delay and VS hanging"
## Details about Problem
NuGet version: NuGet Client Dev\5.3.0.6224
VS Version: D16.3\29305.141
OS: Windows-10-Enterprise-19H1-04-05-2019
## Detailed repro steps
1. Launch VS and create a project. [e.g. Console Application (.NET Core)]
2. Add a deprecated package source: https://apidev.nugettest.org/v3-index/index.json.
3. Open PM UI of the project, select the above deprecated package source and s

[2019-09-06 10:52] #8421 closed, assigned to dominoFire

[2019-09-06 12:46] DaveEmmerson commented on #5127
Isn't this essentially the same issue as #4699 ?

[2019-09-06 14:28] gilescope commented on #4959
It's not unreasonable to expect .dll.config files to be supported by default.

[2019-09-06 17:29] scottbommarito commented on #8557
The package "test10k" has 10,000 versions (more than any actual packages on nuget.org), and the hang is likely associated with that.

Furthermore, the hang also appears to reproduce on 5.2, **without** the changes for deprecation, so I do not believe this is a regression, although whether or not the hang has been worsened by the changes is unclear to me.

As a side note, there are only around 250

[2019-09-06 17:47] DamianEdwards commented on #912
@davidfowl and I were looking at this again recently from the context of default .NET Core/ASP.NET Core templates during previews and the subsequent releases and the current need to continuously update the (fairly complex) version numbers there (both us on the SDK side and the customer on the updating their apps side). Of course once the previews are over and the final release is out the concern s

[2019-09-06 19:14] nkolev92 commented on #8554
Discussed with @rrelyea, due to the fact that it's so late in the 3.0 cycle (3.0 Preview 9), this will be something we just live with.

[2019-09-06 19:14] #8554 closed, assigned to dominoFire

[2019-09-06 19:25] dominoFire commented on #8321
Related PR: https://github.com/dotnet/source-build/pull/1189

Both seeing the error with NuGet.ProjectModel in a core-setup custom MSBuild task.

[2019-09-06 20:39] bergbria opened #8558 "'dotnet restore' emits invalid lock file when a referenced package cannot be found"
## Details about Problem

dotnet.exe --version: 2.2.401

## Automated repro
Download [invalidLockFileRepro.zip](https://github.com/NuGet/Home/files/3585627/invalidLockFileRepro.zip) and run repro.bat

## Manual repro steps

1. Create a csproj with a PackageReference to a nonexistent package (e.g. `<PackageReference Include="this.isnt.a.real.package" Version="1.0.0" />`

2. `dotnet restore`

**Expe

[2019-09-07 01:01] cristinamanum commented on #8257
Visual Studio integration is still under discussions.

[2019-09-07 01:09] cristinamanum opened #8559 "[Centrally managing NuGet packages and versions] Scenarios and experience definition."
Define all the Visual Studio user scenarios.

[2019-09-07 01:10] cristinamanum commented on #8559
Draft at https://github.com/NuGet/Client.Engineering/blob/cmanu-CPVM/Specs/Central-Package-Versions-Management-Scenarios.md

[2019-09-07 01:39] #8545 closed, assigned to nobody

[2019-09-08 10:55] lskillen commented on #7478
This isn't critical, but it's also impacting customers of @cloudsmith-io - Screenshot of example:

![nuget_example](https://user-images.githubusercontent.com/2248287/64487198-45ed8280-d22f-11e9-8f2c-41a22fa4d1d9.png)

We've implemented `PackageDetailsUriTemplate` and `ReportAbuseUriTemplate` in the same way, but the former interpolates `{id-lower}` and `{version-lower}` correctly. and the latter d

[2019-09-08 20:18] alexgav opened #8560 "How to suppress error NU1202 'Package is not compatible with netcoreapp'"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

NuGet version (x.x.x.xxx): 2.8.7.0 on Linux

dotnet.exe --version (if appropriate): 2.2.107

VS version (if appropriate): N/A

OS version (i.e. win10 v1607 (14393.321)): Ubuntu 18.04.3 LTS

Worked before? If so, with w

[2019-09-08 21:11] heng-liu commented on #8548
Hi, [NU1202 ](https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu1202)is caused by the package Xamarin.GooglePlayServices.Base doesn't contain any assets compatible with the project(netstandard2.0).
From [here](https://docs.microsoft.com/en-us/dotnet/standard/frameworks), we can see that "An app or library can target a version of .NET Standard. .NET Standard versions represent

[2019-09-08 22:14] centreboard opened #8561 "Rerunning 'dotnet add package ...' creates duplicate in non-SDK"
## Details about Problem

NuGet product used (dotnet.exe):

dotnet.exe --version:
Both 2.2.103 and 3.0.100-preview9-014004

OS version:
win10 1903

Worked before? If so, with which NuGet version:
Works in SDK projects and through Rider and VS UI

## Detailed repro steps so we can see the same problem

1. For a non-SDK project using PackageReferences and containing
`<PackageReference Include="Newto

[2019-09-09 01:50] v-luzh commented on #8557
Yes, that's not a regression and not a critical bug. That's the reason why we didn't file it before. Base on our disccusion, we think the issue should be fixed somehow (reduce hanging time or prohibit customer making large version like that) since customer may run into it, although the probability is not high.

[2019-09-09 06:49] tebeco commented on #8493
@nkolev92
it seems to be persistent depending on computer, build agent included (my guess is that the cleanup might not have been done properly)

is there an MsBuild variable to use lockfile for the restore but only skip hash ?
i do understand this is a security issue to avoid package tempering / man in the middle and spoofing ^^

i will continue to investigate here what's happening in details kin

[2019-09-09 09:45] v-longmin opened #8562 "[Test Failure]The “Update” button is still clickable in “Browse” tab on PM UI when the package with latest version has been installed"
## Details about Problem
VS Version: D16.3 29307.09
NuGet Version: Release-5.3.x\5.3.0.6231
OS Version: Windows-10-Enterprise-19H1-04-05-2019.
## Detailed repro steps
1. Launch Visual Studio 2019.
2. Create a C# Console Application (.Net Core) project and open PM UI in Solution Explorer window.
3. Install a package (e.g. Newtonsoft.json) with latest version into the project.
## Expected
The “Updat

[2019-09-09 09:59] juniormayhe commented on #8543
I would like to have a verbosity or diagnostics  option as reported earlier in this thread. I cannot see the reason for this error message while adding a package:

[code]

[2019-09-09 10:48] IanKemp commented on #3891
I think you want your BuildOutputInPackage &lt to be an &gt ;)

[2019-09-09 14:27] sae42 opened #8563 "VSLangProj/PackageReferences, Package Restore with .NET Core 3.0 and FrameworkReferences"
**Visual Studio project system and Framework References for NuGet client**

I've updated to using Visual Studio 2019 16.3 Preview 3 with .NET Core Preview 9. As a third-party language vendor I have an implementation of VSLangProj150/PackageReferences. It is unclear to me whether the implementation of get_InstalledPackages should include the new FrameworkReference element or not.

Before Preview 9

[2019-09-09 16:14] rrelyea commented on #8560
What version of dotnet sdk are you using on Windows? What version on Linux?
Are you doing the identical command on both OSes?

[2019-09-09 16:32] rrelyea commented on #8560
I see NU1202 on windows with NetCore SDK 2.2.401
With NetCore SDK 3.0.100-preview9, i don't see this.

[2019-09-09 16:44] heng-liu commented on #8542
Are you using netcore SDK 3.0 preview version?
Could you look into obj\project.assets.json to see the complete list of sources used in the restore?

[2019-09-09 16:47] nkolev92 commented on #8493
https://github.com/NuGet/Home/issues/7651

As far as the cleanup goes, another thought is ensuring that the same sources are being used for the same repo.

[2019-09-09 16:49] nkolev92 commented on #8543
There's a tracking issue for that already, that maybe needs reprioritized, /cc @rrelyea
https://github.com/NuGet/Home/issues/6374

[2019-09-09 17:04] heng-liu commented on #8558
Assigned per Rob.

[2019-09-09 17:09] alexgav commented on #8560
Hi Rob, yes, you are right, I had 2.2 on Linux and 3.0 on Windows. Installing 3.0 on Linux that error goes away. Now 3.0 on Linux is refusing to run my netcoreapp2.2 (says no compatible frameworks found), so I guess I'll need to have both of them side-by-side? In either case, I guess that's no longer a nuget issue so we can close this one. Thank you very much for your help!

[2019-09-09 17:09] #8560 closed, assigned to nobody

[2019-09-09 17:10] cristinamanum opened #8564 "[Centrally managing NuGet packages and versions] Prototype - dotnet.exe commands"
Understand what is needed for

| Command | Status | Notes |
| --- | --- | --- |
| add | Done| https://github.com/NuGet/NuGet.Client/commit/650be9d86b6545b34e08020cfcd5ef22125bc354|
| add --version | Done| https://github.com/NuGet/NuGet.Client/commit/650be9d86b6545b34e08020cfcd5ef22125bc354|
| remove | | |
| consolidate | | |
| consolidate --dry-run | | |
Spec : https://github.com/NuGet/Home/wiki/C

[2019-09-09 17:42] #8536 closed, assigned to rrelyea

[2019-09-09 18:07] rrelyea commented on #8563
I believe that FrameworkReference is an SDK concept...that NuGet participates in.
@livarcocc - does it make sense for your team to document and help people transition aware from Microsoft.NETCore.App to FrameworkReference? If not your team, recommendation?

[2019-09-09 18:13] drache42 commented on #8154
Is there a work around for this? We're still using visual studio 2017, which limits us to dotnet 2.2.108 according to the dotnet version page
https://dotnet.microsoft.com/download/dotnet-core/2.2#sdk-2.2.108

[2019-09-09 18:58] #8437 closed, assigned to nkolev92

[2019-09-09 19:38] beachwalker commented on #8542
I use netcore2.2.

[2019-09-09 19:53] rrelyea commented on #6504
We've released 5.3-preview3 with a warning for the old icon technique...and ask package authors to use a new embedded icon. This is the start of the move to embedded icons.
@karann-msft

[2019-09-09 19:56] rrelyea commented on #8542
For one of the long running restores, please look at the obj\project.assets.json and examine the list of the sources used. Is that the list you expected?

By on second thought...this may well be revocation checking.
See previous issue here: https://github.com/NuGet/Home/issues/7008
See docs on how to turn off here: https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu3028#revocat

[2019-09-09 21:20] #8516 closed, assigned to scottbommarito

[2019-09-09 22:22] stevenbrix commented on #8443
The WinUI team has been having dicussions about whether to use a ProjectReference or PackageReference. It takes roughly 40 minutes to compile one of our assemblies, and many devs on the team will never need to compile it, they'd rather just use the latest one from the server.

[2019-09-09 22:31] nkolev92 commented on #8443
@stevenbrix

The devs that want to use the pre-built packages would need to opt-in in some way. Using a switch/custom property.

Specifically this:

In a project file you could have something like:

[code]

Hope this helps.

[2019-09-10 00:22] nkolev92 opened #8565 "Project Dependencies of ProjectReferences marked as PrivateAssets should not be included in the lock file up to date check"
[8493.zip](https://github.com/NuGet/Home/files/3593090/8493.zip)

Extract the above project, run dotnet restore --locked-mode

Motivation from https://github.com/NuGet/Home/issues/8493.

Issue being hit by @bddckr

fyi @tebeco Not your specific issue, but one that the discussion produced.

I want to keep this issue focused to the problem at hand.

Specifically refer to https://github.com/NuGet/Hom

[2019-09-10 00:24] nkolev92 commented on #8493
Thanks to @bddckr who narrowed debugged to narrow down the bug, I have created a tracking issue https://github.com/NuGet/Home/issues/8565, which we hope to fix soon.

@tebeco
I'd like to keep this discussion focused to your specific issue, figure out why the locking down is not working out, so hopefully that produces some learnings.

So for now, I'm marking this issue as discussions, until we figu

[2019-09-10 00:25] nkolev92 commented on #8493
@rrelyea self assinging the discussions issue so it's tracked.
Feel free to assign bugs produced as you see fit.

[2019-09-10 06:50] tebeco commented on #8493
Can change the title if it helps people
`[DISCUSSION] 3.x,  Lockfile, Latest major version and smoking barrels`

this is kind of an edge case but it might help people as it cover lots of scenarios.

PS :
trying to find some time today, as i will be working on updating the CI, to check if it's green now.
If it's not it's gonna take lot of time but i'll probably try to remove all code a create empty

[2019-09-10 08:20] p3t3rix commented on #7413
Any news how to fix this ?
I am having the same problem, same scenario as @bradgyton.

Those that can't reproduce it anymore: it could be that now the packages are cached, try deleting the local nuget/packages directory.

[2019-09-10 12:11] dasMulli opened #8566 "Provide mechanism to mark packages as PackageReference style only"
Similar to "minimum client version", a nuspec should have a feature to indicate that the package was authored for consumption only for packages using `PackageReference`.

Currently, package authors have to add targets to create a build error when the package was installed using packages.config.

There should be a path forward for allowing maintainers to drop packages.config support, especially whe

[2019-09-10 18:12] anangaur commented on #8148
I hit the same issue today. Details here:  https://github.com/anangaur/entropy-packages/commit/c3a21773faa4d2d6f250e2906be91bb201627e2d/checks

[2019-09-10 19:40] stevenbrix commented on #8443
@nkolev92 this is great! to me this makes a lot of sense and is a very simple solution that doesn't require any egregious or hard-to-maintain workarounds.

[2019-09-10 19:57] scottbommarito commented on #8541
Reopening because @anangaur believes the fix is insufficient and, although the "(deprecated)" text helps, it doesn't mitigate the UI confusion.

[2019-09-10 20:18] scottbommarito opened #8567 "PM UI solution view left pane should show "multiple versions" when multiple versions are installed instead of minimum"
When multiple versions are installed, the left pane of the solution view currently shows the minimum version installed. This is not very descriptive, and is confusing because it hides the other versions installed. It should say "multiple versions" or something equally descriptive.

[2019-09-10 20:20] scottbommarito opened #8568 "PM UI solution view right pane should indicate what versions in the table are deprecated"
In the solution view, the right pane does not indicate what installed versions in the table are deprecated. This makes it difficult to identify which projects are using deprecated versions and should be updated to a later version.

[2019-09-10 20:38] livarcocc opened #8569 "Warning NU5048: The 'PackageIconUrl'/'iconUrl' element is deprecated with 3.0.100-preview9-014004"
_From @kdcllc on Thursday, September 5, 2019 4:49:06 PM_

This warning is displayed with DotNetCore 3.0.100-preview9-014004 with the following tag:
[code]
When changed to `<PackageIcon>` the sdk msbuild action is not able to find the local file.

_Copied from original issue: dotnet/core-sdk#4588_

[2019-09-10 21:23] heng-liu opened #8570 "Retarget task in dotnet/sdk to net5.0 when ready to insert nuget bits targeting net5.0"
[updated based on teams call with @heng-liu , @zkat , @nkolev92 , @zivkan , @rrelyea ]

When it's ready to insert nuget bits targeting net5.0,
(nuget current - net472, netstandard2.0, netstandard2.1)
(nuget change to - net472, netstandard2.0, net5.0)

Remember to go to the dotnet/SDK repository , change sdk/src/Tasks/Microsoft.NET.Build.Tasks/Microsoft.NET.Build.Tasks.csproj to ensure that they ar

[2019-09-10 21:31] heng-liu commented on #8570
https://github.com/dotnet/sdk/issues/3629

[2019-09-10 23:04] saucecontrol commented on #8254
I'm getting this warning now for Tools-only packages.  I'd suggest not including this warning if `IsTool` is true.

[2019-09-10 23:11] dsplaisted opened #8571 "Restore failing with "Too many open files in system" inside docker"
One of our tests in the dotnet/sdk repo (GivenThatWeWantToPublishAWebApp.It_publishes_as_framework_dependent_by_default) is failing in CI for the Linux-portable legs, which run inside docker.  Restore is failing with the error "Too many open files in system".

The project which is being restored looks like this:

[code]

Here is a run where it is failing: https://dev.azure.com/dnceng/public/_build

[2019-09-10 23:36] #8562 closed, assigned to scottbommarito

[2019-09-11 04:26] raandree commented on #3050
People in the Windows PowerShell DSC space are also suffering from that issue quite a lot. With the current way how NuGet forcefully normalized the versions we are unable to upload DSC resources to internal NuGet repositories. NuGet normalized the version in the package but not in the PSD1 file where PowerShell keeps track of versions. This mismatch causes the module to be unavailable when downloa

[2019-09-11 06:24] v-longmin commented on #8562
Verify the issue on D16.3\29310.141 + NuGet Client Release-5.3.x\5.3.0.6235, it has been fixed, close it, thanks.

[2019-09-11 13:32] dsimoes commented on #4768
I'm also "suffering" from the same issue it seems. Using VS 2017 15.9.6 with Nuget Package Manager 4.6.0.

Two sources: nuget and sitecore.

I install a sitecore package that has nuget repo dependencies. All goes well.
When I try to reinstall project packages using Update-Package -reinstall I well get an error:

Update-Package : Unable to resolve dependency 'EnterpriseLibrary.TransientFaultHandlin

[2019-09-11 17:27] anangaur opened #8572 "Show the new NuGet default icons everywhere"
1. When the icon is not provided, old icon is shown on PM UI:
   ![image](https://user-images.githubusercontent.com/14800916/64720052-695a3c80-d47e-11e9-90d6-d559eeebfef9.png)

2. Show NuGet icon (mono color) for "Manage NuGet packages..." https://github.com/NuGet/Home/issues/2790
![image](https://user-images.githubusercontent.com/14800916/64720094-7ecf6680-d47e-11e9-9529-2d0d314e3c9f.png)

[2019-09-11 17:31] sipsorcery opened #8573 "Improvement: Handle platform specific assemblies (x86, x64 etc) with msbuild conditionals"
Lots of us are having issues using nuget to package platform specific assemblies (#8435, #1221 etc). The crux of the problem is that while the platform specific artifacts can be packaged with nuget if the assembly reference(s) is platform specific there is no clean way to set it in the consuming project file.

To illustrate the problem my partial nuspec is:

[code]

The subsequent reference that e

[2019-09-11 18:01] MisinformedDNA opened #8574 "error NU1403: Package content hash validation failed"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet

NuGet version (x.x.x.xxx): 5.3.0.3

dotnet.exe --version (if appropriate): 3.0.100-preview9-014004

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)): win10 v1803 (17134.950)

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see th

[2019-09-11 18:03] dominoFire opened #8575 "Prepare insertion of 5.3.0.6245"
Prepare insertion of NuGet 5.3.0.6245 to VS

[2019-09-11 20:19] ericstj opened #8576 "PackTask validation failures don't always fail the build"
## Details about Problem

When encountering a validation failure the task will log errors but the build does not always halt.

See
https://dev.azure.com/dnceng/internal/_build/results?buildId=350161&view=logs&jobId=7c8326b9-0a5f-532a-e6de-db8515c72d9a&taskId=12d084b4-51e7-52c1-3fda-e5b95df7115e&lineStart=54&lineEnd=55&colStart=1&colEnd=1
vs
https://dev.azure.com/dnceng/internal/_build/results?buil

[2019-09-11 20:32] nkolev92 commented on #8576
Without digging too much into it, seems like a dupe of https://github.com/NuGet/Home/issues/7404.

I'll try to look into it for 5.4

[2019-09-11 22:06] nkolev92 opened #8577 "Remove VisualStudioAccountProvider"
VisualStudioAccountProvider was implemented for dev14 per @pspill

See: RE: NuGet Package Manager Credential Provider Duplicate in Discussions for relevant context.

[2019-09-11 23:35] donnie-msft commented on #8486
I believe this is related to https://github.com/NuGet/Home/issues/8402

[2019-09-12 00:42] dominoFire opened #8578 "Related OptProfV2 related tasks run even if `ShouldSkipOptimize = true`"
## Details about Problem

If you set `ShouldSkipOptimize = true` when you queue a build, the OptProfV2 install task is skipped but, the remaining related tasks are executed, leading to undefined behaviors.

Worked before? If so, with which NuGet version:
Last good build is 5.3.0.6234

## Detailed repro steps so we can see the same problem

1. Manually trigger an official build.

### Sample Project

[2019-09-12 01:02] dominoFire opened #8579 "Escrow builds fails in OptProfV2 CI tasks"
## Details about Problem

When you set `$IsEscrowMode = true` and increment `$NetCoreAssemblyVersionNumber`, official CI builds start to fail.

Worked before? If so, with which NuGet version:
Last good build is 5.3.0.6234

## Detailed repro steps so we can see the same problem

Manually trigger an official CI build

### Verbose Logs
https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=304

[2019-09-12 04:03] NivagL commented on #6636
My package contains many projects. The version is independent of any csproj.  Where is the package version suppose to be?

[2019-09-12 08:09] jwillmer opened #8580 "dotnet nuget push to GPR -- Invalid or unrecognized response"
I run the following script in GitHub Actions:

[code]

and I get the following output:

[code]

I'm running my code inside of `ubuntu-latest` (18.04) that has the following versions installed: [software-in-virtual-environments-for-github-actions](https://help.github.com/en/articles/software-in-virtual-environments-for-github-actions#ubuntu-1804-lts)

Can someone help me explain what this error mea

[2019-09-12 09:03] v-luzh opened #8581 "Same project reference names have different casings in packages lock file"
## Details about Problem
NuGet version: NuGet Client Dev\5.4.0.6233
VS Version: Master\29311.58
OS: Windows-10-Enterprise-19H1-04-05-2019
## Detailed repro steps
1. Create a solution with three .NET Core Class Library projects (named Lib1/Lib2/Lib3), make the project graph structure: Lib1 -> Lib2 -> Lib3 through “Add reference” context menu in Solution Explorer.
2. Set property “RestorePackagesWit

[2019-09-12 14:24] EasyLOB opened #8582 "Removing all packages from created as a test"
Hi,
I will publish my first set of Packages to NuGet, but before doing so I created a small test library and published 3 packages versions with NuGet CLI.
Now I would like to exclude all ( they are just tests ! ) but the only option I find is "delete/unlist".
How could I get rid of them ?
Will NuGet keep this packages forever ?

https://www.nuget.org/packages/Mock

Thanks

[2019-09-12 17:40] ericstj opened #8583 "Projects which set IncludeBuildOutput=false are likely to hit NU5128"
## Details about Problem
Many projects set IncludeBuildOutput=false, then manually define the layout of their package.  In case they are defining content other than lib/ref (eg: build/*, tools, or SDK) they are likely to hit NU5218, since the project's dependencies will make it into the package: IncludeBuildOutput does not control the inclusion of dependencies.

NuGet product used (NuGet.exe | VS

[2019-09-12 20:43] donnie-msft opened #8584 "Display repositoryUrl in NuGet Client (PM UI! Maybe List?)"
## Details about Problem
Repository URL should be displayed in the PM UI, when available. Nuget.org currently shows this, and would be nice to have parity inside of VS.

Additionally, `nuget list <...> -verbosity detailed` could show this as well? We show License URL there, today.

General area I'm thinking in VS (any tab could show this in the detail), both Solution and Project views.
![image](ht

[2019-09-12 20:52] donnie-msft opened #8585 "NuGet Client Package Version should link to commit in Source Code"
## Details about Problem
In https://github.com/NuGet/NuGetGallery/issues/7537, I suggested NuGet.org display a link to the commit for each package version where we know the commit hash, and the repository (eg, GitHub).

First, NuGet UI / List need to show the repositoryUrl in the first place: https://github.com/NuGet/Home/issues/8584

Once that parity is complete, the NuGet Client should also show

[2019-09-12 23:53] #8582 closed, assigned to nobody

[2019-09-13 01:03] ghogen opened #8586 "NU1101 in ASP.NET Core template projects with VS 2019 16.3 Preview 3"
## Details about Problem
I just installed VS 2019 16.3 Preview 3 and created a Web Application project (tried .NET Core 2.1 and .NET Core 3.0) and noticed that my NuGet packages are not restoring properly, so that out-of-the-box templates didn’t build.  I was getting NU1101 – couldn’t locate the package in the source ‘Microsoft VisualStudio Offline Packages’.

I was able to get these to build by g

[2019-09-13 13:28] tmds commented on #5862
I had a look at what happens to `runtime.json` for Linux platforms if you leave out the implicit relationship that comes from the rid name: e.g. `ubuntu.18.04[-x64]`, imports `ubuntu.18[-x64]`, `ubuntu[-x64]`.

Derive from linux/linux-musl:

[code]

Mapping between distros:
[code]

Express compatibility between versions:
[code]

This has rids which shouldn't be used. If the distro has binary compa

[2019-09-13 16:44] mwpowellhtx opened #8587 "Text templating inside of a nuget.config file"
Hello, more of a question than an issue. We have a case where we would like to define some custom `<config/>` bits for expansion during the `<packageSources/>`. Along these lines,

[code]

[2019-09-13 16:55] karann-msft opened #8588 "Path too long when consuming package with a .pp in it"
@julienshepherd commented on [Wed Sep 11 2019](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1676)

I have a .netstandard2.0 package containing a .pp file. When I consume this package in another UWP package (min target 1803, target 1903), I get a path too long error. This happens as well when using a CI pipeline in the restore build definition task. The error comes out in both Release a

[2019-09-13 17:26] ericstj commented on #8583
You don't need to break anything to fix the representation foR support.  Just add an explicit representation of support by evaluating where the package will install.  This isn't so hard to do.

That's a bug.  NuGet shouldn't permit install of a package if it has applicable assets on some framework but no applicable assets on the target framework and no indication of support via placeholders/empty

[2019-09-13 17:37] ericstj commented on #5862
@tmds if I understand you correctly, you're suggesting that the minor version RIDs for most distros aren't all that useful (assuming folks don't need to target those versions specifically).

Even if minor version were omitted from the RID, we'd still need to define all major versions and their relationships.  Today the system requires literal entries in the graph for every possible option.  We'd r

[2019-09-13 22:01] nkolev92 commented on #8583
It's unfortunate I think, and it retrospect probably a bug, but at the time the compatibility checking for PR was implemented, this was treated as by design.

See https://github.com/NuGet/Home/issues/6908#issuecomment-387856288

https://github.com/NuGet/NuGet.Client/blob/c82241cf7f9d27eba58550c5f86baa5d3fe2c7bf/src/NuGet.Core/NuGet.Commands/RestoreCommand/CompatibilityChecker.cs#L49-L56

[code]

[2019-09-13 22:16] rrelyea commented on #8583
A docs PR is in flight to cover NU5128: https://github.com/NuGet/docs.microsoft.com-nuget/pull/1677
We'll tweak when NU5128 is raised as needed - current POR is after 5.3.0.
Thanks for the continued effort to make the docs and warning hit the target.

[2019-09-14 06:50] dasMulli commented on #8439
Could you move the specs to the wiki so it is publicly accessible?

[2019-09-14 22:34] joelverhagen commented on #8478
This JObject shenanigans has been itching the back of my mind so I prototyped an implementation that does not break APIs... ish. Basically, I introduce an `internal` overload that client uses and leaves the `JObject` one as-is: https://github.com/NuGet/NuGet.Client/tree/dev-jver-nojobj

I ran some benchmarks on it with search `take` values 0, 100, 200, ..., 1000. This is not as much data as Sleet

[2019-09-15 18:42] livarcocc opened #8589 "IncludeSource and --include-source are ignored if SymbolPackageFormat is set to snupkg"
_From @Trolldemorted on Sunday, September 15, 2019 12:19:54 PM_

## Steps to reproduce
Take this .csproj:
[code]

This generates a symbols.nupkg archive with the source code as expected:
![grafik](https://user-images.githubusercontent.com/10261186/64921403-3b992e80-d7c3-11e9-8492-5fa59304476e.png)

But if you add `<SymbolPackageFormat>snupkg</SymbolPackageFormat>` because you want to push your sym

[2019-09-15 18:42] livarcocc commented on #8589
_From @livarcocc on Sunday, September 15, 2019 6:42:12 PM_

Going to move this to NuGet for them to take a first look at this issue. If this turns out to be an issue on the cli/sdk, we can re-activate this one.

[2019-09-16 07:37] tmds commented on #5862
I guess all code using the rid graph ends up doing these steps:
1. determine current platform rid, or get a value from user (e.g. `-r` argument).
2. use rid graph to turn it in to an ordered list (e.g. `fedora.30-x64` is preferred over `linux-x64`).
3. use from available assets the ones that are highest in the ordered list.

The suggestion is that we can reduce the size of the rid graph if we take

[2019-09-16 10:30] grahamehorner commented on #7412
any updates; I'm looking at using NuGet as a plugin/module delivery for a cross platform microservice framework I have been developing; and would need NuGet.Core to support .net standard 1.6 or better or have the features that NuGet.Core allows in a cross platform package?  any help or advice greatly received.

[2019-09-16 11:25] PaulVrugt commented on #3891
Please add this!

[2019-09-16 16:35] cristinamanum opened #8590 "[Centrally managing NuGet packages and versions] Evaluate the current usage of CPVM MsBuild SDK"
Use the current repos to get insights about the usage of the CPVM - MsBuild SDK . The goal is to help shape the user scenarios.

[2019-09-16 16:51] heng-liu opened #8591 "NativeCms could only work on windows platform"
dotnet/corefx has added SignedCms and SignerInfo changes for netstandard2.1 : https://github.com/dotnet/corefx/issues/36062

We need to change our code  accordingly.

For now, NativeCms only works for windows platform. We need to create a equivalent one for netstandard2.1 crossplatform.

[2019-09-16 17:06] nkolev92 commented on #7412
@grahamehorner Please refer to https://github.com/NuGet/Home/issues/7412#issuecomment-442646312.

The NuGet.Core package itself will not be updated.

[2019-09-16 17:13] zivkan opened #8592 "Improve network diagnostics to understand real world http download perf in VS"
We should improve information about NuGet.Protocol usage to better understand performance impacts of http vs file feeds, v2 vs v3 feeds.

Initial work:

* [x] Http source instrumentation: #8733
* [x] data aggregation: #8757

[2019-09-16 17:30] #8575 closed, assigned to dominoFire

[2019-09-16 17:31] dominoFire commented on #8578
This also needs an update in `dev` branch

[2019-09-16 17:42] nkolev92 commented on #8507
Done for this sprint. fyi @karann-msft

[2019-09-16 17:42] #8507 closed, assigned to nkolev92

[2019-09-16 17:44] #8316 closed, assigned to nkolev92

[2019-09-16 17:45] nkolev92 commented on #7940
This effort can be considered complete.
Unfinished tasks will be balanced.

[2019-09-16 17:45] #7940 closed, assigned to nkolev92

[2019-09-16 17:49] heng-liu opened #8593 "enable enough signing APIs to make verification tests could run crossplatform"
We need to enable signing APIs to make verification tests could run crossplatform.
Need to fix all related (signing) tests in the process.

[2019-09-16 17:57] dominoFire commented on #8034
PR in progress: https://github.com/dotnet/project-system/pull/5485

[2019-09-16 18:04] dominoFire opened #8594 "Investigate NuGet.Client tests timeout on MacOS"
We have some intermittent issues when running NuGet.Client tests on MacOS. We need to make sure that tests don't ran out of time.

[2019-09-16 18:13] nkolev92 commented on #6636
NuspecProperties is an MSBuild property, so it can be defined/amended as needed with MSBuild.
You can define some of the properties in some shared targets.

Note that this is only the case if you are using dotnet pack with a nuspec file.

[2019-09-16 19:45] nkolev92 opened #8595 "NuGet.Client Release should use updated InsertVSPayload task"
https://devdiv.visualstudio.com/DevDiv/_releaseDefinition?definitionId=257&_a=definition-tasks&environmentId=1022

There will be a breaking chnage in the InsertVSPayload task on 9/18/19

See internal e-mail for more details.

//cc @rrelyea

This needs to happen before the next insertion.
Potentially @zkat's insertion is not affected if the PR is created.

[2019-09-16 19:47] Spongman commented on #7848
I think i'm seeing the same issue. here's a repro:

[bug.zip](https://github.com/NuGet/Home/files/3617955/bug.zip)

[2019-09-16 19:53] nkolev92 commented on #7848
@Spongman
I think the same advice applies as above.
You should disable the validation.

That's a package that pre-dates PackageReference, so if you want to continue using you need some custom steps.

Given all that, I'm closing this as not a bug, but would be happy to continue engaging with you if you have any further questions.

[2019-09-16 19:53] #7848 closed, assigned to nobody

[2019-09-16 20:34] kartheekp-ms opened #8596 "More UIDelay issues to improve VS UI responsiveness"

[2019-09-16 20:53] zivkan commented on #8439
@dasMulli I've updated the links. Thanks for the reminder. They were supposed to be created in a public place originally.

[2019-09-16 21:56] dominoFire commented on #8569
Hi @kdclic,

Hope all is well.

Can you try rebuilding the project ?

[2019-09-16 22:00] dominoFire commented on #8594
Related issues:

- https://github.com/NuGet/home/issues/8047
- https://github.com/NuGet/Home/issues/8045
-

[2019-09-16 22:06] dasMulli commented on #8439
I don't mind things being initially worked on privately, I understand that a lot of specs require some critical thinking and iterations before being released as a draft / "RFC". But now when trying to figure out why a pack generates a warning is a bit hard once the implementation shipped 😅 .

[2019-09-16 22:54] rrelyea commented on #8588
.pp files and source file transformations are documented here: https://docs.microsoft.com/en-us/nuget/create-packages/source-and-config-file-transformations.

Can you please attach the repro and give us repro steps?

[2019-09-16 22:56] rrelyea commented on #8587
That isn't something that we do in config files. We don't have a templating mechanism inside of config files...and this would likely causes headaches for us to provide loading and saving these settings files, so we aren't keen to add it.

[2019-09-16 22:58] rrelyea commented on #8586
@ghogen  - more details?
Was this a fresh machine?
What other versions of VS were installed before?
What config files may have been defining or disabling sources?

[2019-09-16 23:00] rrelyea commented on #8581
@zivkan - i'm unclear with what we should do based on your statement. Is this good or bad behavior in the lock file? Why?

[2019-09-16 23:02] rrelyea commented on #8580
@anangaur - has your experience with GPR given you wisdom on how to reply here?

[2019-09-16 23:05] rrelyea commented on #8576
Thanks. We will take care of 7404 -- and we have links to the extra info here.

[2019-09-16 23:05] #8576 closed, assigned to nobody

[2019-09-16 23:06] zivkan commented on #8581
We should change the `Lib3` that's listed as `lib2`'s dependency to lowercase, so that the lock file doesn't change case in the following reproduction:

[code]

[2019-09-16 23:07] ghogen commented on #8586
It was not a fresh machine - it also had VS 2013 on it.  I don't know about any config files that might have changed - it was a fresh install of VS 2019 16.3 Preview 3

[2019-09-16 23:10] rrelyea commented on #8574
See the steps in this comment: https://github.com/NuGet/Home/issues/7921#issuecomment-478152479
Does that fix it for you?

[2019-09-16 23:18] anangaur commented on #1684
VS Mac has it. We need a similar functionality:
![image](https://user-images.githubusercontent.com/14800916/64999680-8ab39200-d89d-11e9-8930-3170c8873ad7.png)

[2019-09-16 23:24] dominoFire commented on #8574
Possible duplicate of https://github.com/NuGet/Home/issues/7921

[2019-09-16 23:34] anangaur commented on #8580
/cc: @infin8x

Unfortunately, GPR does not work with API keys as we would have expected it to work. I have provided this feedback to GitHub.

You would need to use `nuget sources add` command to add GPR as a source with the creds (GITHUB.TOKEN). See an example here: https://github.com/anangaur/entropy-packages/blob/master/.github/workflows/workflow.yml

[code]

Btw, there is a typo in your yaml fi

[2019-09-16 23:42] rrelyea commented on #8573
It is possible to build a package like this, that supports Packages.Config and PackageReference scenarios.

Your SIPSorceryMedia.1.0.0.nupkg would have a structure like this:

ref\netstandard2.0\SIPSorceryMedia.dll
runtimes\win-x64\lib\netstandard2.0\SIPSorceryMedia.dll
runtimes\win-x86\lib\netstandard2.0\SIPSorceryMedia.dll
build\netstandard2.0\SIPSorceryMedia.targets

the targets file would be c

[2019-09-16 23:44] rrelyea commented on #8572
@anangaur - Do we have an associated issue on the gallery as well? Do you want to coordinate releases?

[2019-09-16 23:54] rrelyea commented on #8571
@zkat - can you please take this issue on as this weeks hotseat...and do initial repro and or triage.

[2019-09-17 00:11] zkat commented on #8571
@dsplaisted What's your `ulimit -n` set to? Usually, this is issue with Docker images having oppressively low fd limits configured.

[2019-09-17 00:20] rrelyea commented on #8566
@nkolev92  - can you noodle on this with your other PR related work this sprint? This would have a downside of not erroring in way old versions. But we should think this through.

[2019-09-17 00:34] rrelyea commented on #8561
yes, this repros with .net core 3.0.0-preview9 (and maybe 2.x? 1.x?)
whether you specify a version or not, it adds a new entry (even if you choose the same version).

Note...the new tag also seems to add with an attribute...which isn't legal in old csproj files - project system doesn't support it.

Would love to understand if this works with 2.x or 1.x.
Would be more interested in fixing sooner if

[2019-09-17 01:20] anangaur commented on #8572
Gallery already shows the right fallback icon:
![5C8A747E-7C55-486F-88FE-56038F902197](https://user-images.githubusercontent.com/14800916/65003719-8cd21c80-d8ae-11e9-8965-9d8e2580d2e3.png)

[2019-09-17 05:33] dasMulli commented on #8566
I guess this what's minimum client version in the nuspec was for. So it would error on old versions and error for packages.config in new versions.

There are just scenarios that are way complicated to make work in both worlds. `contentFiles` comes to my mind first. Then ref/runtimes splits etc.

At some point it would be like "built with .NET Core in mind but should also work on UWP/Mono and even

[2019-09-17 08:26] f00f commented on #4864
Same here :-(

Happens (at least) for `--no-symbols` and `--interactive`.

[code]

[2019-09-17 10:06] f00f commented on #1234
Private feed sounds like a good solution to me 👍

[2019-09-17 10:12] v-longmin opened #8597 "Clicking “Open Containing Folder” on ASP.NET Web Site project level PM UI goes to solution folder"
##  Details about Problem
VS Version: Master 29316.39
OS Version: Windows-10-Enterprise-19H1-04-05-2019.
NuGet Version: Dev\5.4.0.6246
## Detailed repro steps
1. Launch Visual Studio 2019.
2. Create a C# ASP.NET Web Forms Site project and open PM UI for project.
3. Right click the tab “NuGet: WebSite” and click “Open Containing Folder”.
## Expected
Clicking “Open Containing Folder” on Web Site pro

[2019-09-17 14:28] ivan-danilov commented on #5097
Wow... that's completely awkward. [Docs](https://docs.microsoft.com/en-us/nuget/concepts/dependency-resolution#floating-versions) say:

In reality, `4.*` means `[4.*, )`. That's a bummer.
But even `[4.0.0, 4.1.0)` (assuming it resolves to the highest applicable version) does not solve the issue: `4.1.0-prerelease.label` matches that range as well. Therefore, taking the [explanations in this thread

[2019-09-17 14:52] mwpowellhtx commented on #8587
That's a shame, because I've got some applications for that which would lend themselves to that sort of solution.

[2019-09-17 15:00] mwpowellhtx opened #8598 "Possible to add NuGet.Config at the Project level"
Hello,

Is it possible to add `NuGet.Config` at the *Project* level? Or at least isolate config to a solution in which there are sister solutions in the same work space.

I've got config at the solution level at the moment, but I've got at least one case where it would be helpful to isolate package sources to at least a solution, if not a *Project* in that solution, for instance.

That is,

[code]

[2019-09-17 15:16] ivan-danilov commented on #5097
In fact, even the last one is not right because of #912 as it won't consider pre-release versions if there is at least one version without pre-release label (i.e. `4.0.1-rc` won't be considered if there is `4.0.0` present in the feed). Complete bummer, seems not possible to do at all. `[4.0.0-*, 4.1.0-0)` does not work either.

[2019-09-17 15:53] rrelyea commented on #8587
Perhaps T4 Text Templates as a technique to generate your config files would be something to consider.

https://docs.mcrosoft.com/en-us/visualstudio/modeling/code-generation-and-t4-text-templates?view=vs-2019

[2019-09-17 15:53] #8587 closed, assigned to nobody

[2019-09-17 16:00] rrelyea commented on #8597
Can you please give more exact repro steps for step 2? I cannot find how to create a "web site" project.

[2019-09-17 16:16] mwpowellhtx commented on #8587
@rrelyea Would that work without needing to reload the solution?

[2019-09-17 16:21] rrelyea commented on #8587
Not today. But we need to solve that problem sometime.

[2019-09-17 16:27] zkat commented on #8598
You can create a `nuget.config` file at a solution level, as [described in our documentation](https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#config-file-locations-and-uses). Unfortunately, you can't do this at a .*proj level.

[2019-09-17 16:27] #8598 closed, assigned to nobody

[2019-09-17 16:32] jonathanmendez commented on #6990
I am seeing this same error in a very similar setup.
I have a .net framework project.
I'm referencing the Nuget.Build.Tasks.Pack nuget using packages.config.
I was first seeing this invoking msbuild or building within VisualStudio (GeneratePackageOnBuild is set to true), but I can also reproduce it using invoking dotnet.

Running dotnet restore on the project does nothing:
"Nothing to do. None of

[2019-09-17 18:05] onovotny commented on #7344
Bump?

[2019-09-17 19:52] nkolev92 opened #8599 "Disable pack determinism because of unforeseen impact on deployment tools"
NuGet side of https://github.com/dotnet/core/issues/3388.

Figure out the NuGet actions, if any.
Update: looks like we are disabling the "determinisitic pack" behavior in a new build of 3.0.0 and VS 16.3

Insertion bug: https://devdiv.visualstudio.com/DevDiv/_queries/edit/984463

fyi @rrelyea

[2019-09-17 19:57] MisinformedDNA commented on #8574
@rrelyea I can try that, but if this is MS's solution, why is it not documented anywhere (except buried in a GitHub thread)? And how does .NET Core 3 SDK and/or runtime affect the solution?

[2019-09-17 20:00] sipsorcery commented on #8573
Thanks a lot for the pointers.

That's the problem. I cannot find a way to make assembly reference in the targets/props files override the assembly reference that gets set when the nuget package is installed.

For example installing the nuget package in a consuming project results in the reference being added as below and the only way I have found to override it is the suggestion in my first post.

[2019-09-17 21:22] #8578 closed, assigned to dominoFire

[2019-09-17 21:34] jalaniz1 commented on #6328
Thank you. I had this issue on fresh install of visual studio 19 on Mac. I used `sudo chown -R <insert username> .`

[2019-09-17 21:36] StachuDotNet commented on #6328
Glad it was helpful @jainaashish!

[2019-09-17 21:55] nkolev92 opened #8600 "Set ShouldSkipOptimize to true on 5.3 branch"

[2019-09-17 22:49] nkolev92 commented on #8599
Closing for 5.3

[2019-09-17 22:49] #8599 closed, assigned to nkolev92

[2019-09-17 22:56] nkolev92 opened #8601 "Revisit deterministic pack"
The pack implementation for deterministic was reverted in 5.3 due to https://github.com/NuGet/Home/issues/8599.

This issue tracks re-enabling that feature.

Important:

The implementation of this feature should account for https://github.com/NuGet/Home/issues/7001.
Consider the #8603 scenario.

[2019-09-17 23:01] zivkan commented on #8573
At a glance, your attempts in your first post about putting a condition on `$(PLATFORM)` looks good. Someone would need to do some MSBuild debugging to understand why it didn't work (I recommend using `msbuild -bl` and open the `msbuild.binlog` file with https://github.com/KirillOsenkov/MSBuildStructuredLog/releases).

It's unclear to me if the project you're testing with uses `packages.config` (P

[2019-09-17 23:03] nkolev92 opened #8602 "Remove the deterministic switch in nuget.exe for 5.3"
Related: https://github.com/NuGet/Home/issues/8599

[2019-09-18 00:06] BillDinger commented on #8373
Ran into this same issue as well using 'NuGet Version: 5.1.0.6013`
[code]

As suggested, I checked my `$env:path` and noticed the following problem - one of hte entries was in quotations marks as so `"C:\Program Files\Java\jre1.8.0_221\bin"`. After removal ,it worked fine. This behavior appears confined to nuget 5.x.x releases, older projects running on the same server with same environment variab

[2019-09-18 00:57] zsd4yr commented on #8576
Thanks @rrelyea

[2019-09-18 05:59] v-longmin commented on #8597
@rrelyea You can find "Web Site" project by searching "Web Site" in the search box in NPD dialog. And you can refer to the screenshot as below attachment:
![image](https://user-images.githubusercontent.com/40230425/65117361-75b13d00-da1c-11e9-9ec8-0fef4429e52b.png)

[2019-09-18 06:34] dominoFire commented on #8594
Current timeout test is `NuGet.CommandLine.Test.NetworkCallCountTest.NetworkCallCount_CancelPackageDownloadForV2`

Reproduced timeout in Mac.

By debugging on Mono, I found an interesting stack trace:

[code]

[2019-09-18 06:46] natemcmaster opened #8603 "NuGet packages produced with 3.0 SDK cannot be used by 2.2 SDK users...depending on your timezone"
Packages produced with a 3.0 .NET Core SDK cannot be consumed by 2.2 or 2.1 SDK users under the following conditions:

The producer:
* Build and released a package with a .NET Core 3.0 SDK

The consumer:
* The consumer is on a computer with the timezone set to GMT > 0 (e.g. Europe, Asia)
* The consumer is attempting to produce their own package which contains the content from the 3.0 package. Exam

[2019-09-18 06:47] sipsorcery commented on #8573
Do you mean why the condition for the reference in the `.props` file didn't take priority over the reference in the main `.vcxproj` file? I will follow your instructions and see what the build log reveals.

I'm using a package reference. I'm adding my nuget package to a C# .Net 4.7 Console project using the Visual Studio 2019 Package Manager Console:

`Package Manager Console Host Version 5.2.0.60

[2019-09-18 07:11] erik-kallen opened #8604 "Packages.lock.json different hashes on different machines"
We have a very simple project, whose content looks like

[code]

As seen in the project, we have enabled a lock file.

Now to the problem: We have two machines, and neither of them can restore using the package.lock.json generated by the other due to content hash differences. When running `dotnet restore --force-evaluate` Machine A produces:

[code]

On Machine B, `dotnet restore --force-evaluate`

[2019-09-18 12:03] jwillmer commented on #8580
`warrenbuckley/Setup-Nuget@v1` only installs nuget for Windows. Using your workaround on Linux via `sudo apt install nuget` does not work.
WARNING: No API Key was provided and no API Key could be found for 'https://nuget.pkg.github.com/NAME'. To save an API Key for a source use the 'setApiKey' command.`

[2019-09-18 12:55] coultonluke commented on #4864
Same

[2019-09-18 16:28] zivkan opened #8605 "Regenerate dgspec when customer triggers VS Feedback"
The initial implementation of NuGetFeedbackDiagnosticFileProvider just replicated what was being done before: include a static file.

This has the risk that if multiple solutions were restored, the static file might not be related to the VS instance that is being used to report a problem with the feedback tool.

Ideas for improvement:
* Regen dgspec with static filename when feedback triggered
* R

[2019-09-18 17:13] Trolldemorted commented on #8589
Is there a simple workaround we can use on azure pipelines? Having no source code in our symbol packages is very annoying.

[2019-09-18 18:06] nkolev92 opened #8606 "Insertion of 5.3.0.6251"
- [x] VS https://devdiv.visualstudio.com/DevDiv/_workitems/edit/984463
- [x] CLI https://github.com/dotnet/cli/pull/12668
- [x] SDK https://github.com/dotnet/sdk/pull/3653
- [x] Toolset https://github.com/dotnet/toolset/pull/2920
- [x] Vendor green
- [x] Automation green
- [x] CLI into VS loop back

fyi @rrelyea

[2019-09-18 18:13] nkolev92 commented on #7001
@rrelyea

With the deterministic work, this becomes a higher priority

[2019-09-18 18:17] nkolev92 commented on #8603
Thanks for bringing this to our attention @natemcmaster

This is addressed by the revert of the feature in 5.3 / .NET Core 3.0 in https://github.com/NuGet/NuGet.Client/pull/3058.

The long term plan is tracked in https://github.com/NuGet/Home/issues/8601 and will account for this scenario.

[2019-09-18 18:18] nkolev92 commented on #8601
Important scenario in https://github.com/NuGet/Home/issues/8603, hit because of https://github.com/NuGet/Home/issues/7001.

tl;dr; 1980-1-1 might not be the best standard date because of timezones.

[2019-09-18 18:18] nkolev92 commented on #8603
Closing this per my above comment, we'll certainly account for this in our future work for deterministic.

[2019-09-18 18:19] #8603 closed, assigned to nobody

[2019-09-18 19:30] #8600 closed, assigned to nkolev92

[2019-09-18 19:52] TomasHubelbauer commented on #4699
I don't suppose this will make .NET Core 3? It's really unfortunate that this is still a thing, for CLI users it means we now have to install NuGet separately just to install a pre-release package.

[2019-09-18 19:52] anangaur opened #8607 "dotnet add package output is not optimal"
Issues:
1. Too verbose
2. Not color scheme to indicate failure or warning

Example of verbosity of the output for a successful install:
[code]

For a failed install, it doesn;t indicate by color mechanism if anything failed unless I read the output. Eg.:
![image](https://user-images.githubusercontent.com/14800916/65181120-32060580-da13-11e9-994c-d12d220b3bc0.png)

[2019-09-18 19:55] nkolev92 opened #8608 "Revert deterministic docs"

[2019-09-18 19:56] nkolev92 commented on #8608
The feature was reverted: https://github.com/NuGet/Home/issues/8602, #8599

[2019-09-18 19:59] nkolev92 commented on #8370
Gonna look into them this sprint, but no need for this to stay in the 5.3 release.

[2019-09-18 20:47] anangaur commented on #4126
We need to support this, else GitHub Package Registry cannot use it.

[2019-09-18 20:47] anangaur commented on #8580
@jwillmer, you are right. We need to support `dotnet sources` command: https://github.com/NuGet/Home/issues/4126

[2019-09-18 20:59] nkolev92 commented on #8370
Within the last 15 days, the number of full refreshes is decreased by 40%.

fyi @rrelyea @dtivel

[2019-09-18 21:18] infin8x commented on #4126
@clarkbw FYI that this will make it easier to configure `dotnet` to use GPR.

[2019-09-18 21:27] nkolev92 commented on #8528
Moving to 5.4, once we have a fix, we can consider servicing if necessary.

[2019-09-18 21:29] AArnott commented on #8528
Since [raising the timeouts](https://dev.azure.com/devdiv/DevDiv/_git/VS.RPC.Contracts/commit/ad7c9e97d58b3f852065c6353ade5da2a04f4e45?refName=refs%2Fheads%2Fmaster) seems to have solved the problem for me, can we not simply deduce that the problem is that there are timeouts that cancel tokens and cause non-deterministic failures? Perhaps the default timeouts are far too aggressive.

[2019-09-18 21:45] nkolev92 commented on #8528
We believe there are multiple cancellation issues at hand.

- Some are related to unwanted cancellations that are happening due to the way NuGet manages the lifetime of the plugins.

- Thread starvation due to NuGet spamming the threadpool.

In your case logs and repros suggest the 2nd scenario.
Ideally we'd like to get to the bottom of why the threadpool becomes exhausted in some situations.
Incr

[2019-09-18 21:51] jmyersmsft commented on #8528
Whether or not we fix the root causes, I think the default timeouts should be increased to at least 30s. There's almost no downside (they only matter if the plugin is badly misbehaving), and 5s isn't really a very long time to wait for a .net process to start up when the system is under heavy load (e.g. when restoring a bunch of packages from a bunch of feeds)

[2019-09-18 22:00] rrelyea commented on #4126
note, since these earlier discussions, the ADO (azure dev ops) team has shipped an artifacts credential provider: https://github.com/Microsoft/artifacts-credprovider

That said, we do want to move an implementation of nuget sources to dotnet.exe.

here is the help output from "nuget sources -help"
I'm assuming the need is for somthing like this:

To learn more about NuGet configuration go to https

[2019-09-18 22:06] nkolev92 commented on #8528
I agree with this. We have a crazy high timeout for http request, the plugins should have a similar timeout.

I just didn't want us to do a reactionary fix in 3.0.

[2019-09-18 23:29] anangaur commented on #4126
@rrelyea I guess the idea is to not leak the token and still be able to use it i.e. support encrypting the password.

@infin8x, how long is the validity of `GITHUB_TOKEN`? Is there a new token created on every use?

[2019-09-19 00:37] donnie-msft commented on #8315
Users expressed confusion and actually wanted to control the order here:
https://github.com/NuGet/Home/issues/3676

[2019-09-19 06:42] michael-hawker commented on #7189
@karann-msft all MyGet packages suggest this command-line setup to add private packages via the `Package Manager Console`.  However, trying to execute that command leads to this issue.

[2019-09-19 10:22] v-longmin opened #8609 "[Test Failure] Install a package with PMC makes .Net Core “Default Project” is empty after setting package format is “Package Reference”"
## Details about Problem
VS Version: D16.4 29318.156
OS Version: Windows-10-Enterprise-19H1-04-05-2019.
## Detailed repro steps
1. Create a Console App (.Net Project) and set package format is “Package Reference” in setting General.
2. File >New Project>ASP.NETCore WebApplication (.NetCore)>1.0/1.1/2.0 no authentication.
3. Wait for the project restore completely.
4. Tools - NuGet Package Manager

[2019-09-19 10:58] TomasHubelbauer commented on #4699
Although I just realized one thing which might help others looking at this issue: You can use `dotnet add package` to install the latest stable version, then replace the version string in the CSPROJ manually and then run `dotnet restore` to install the pre-release version. Works well enough for my use-case, just got to keep that in mind.

[2019-09-19 15:30] 0xced opened #8610 "nuget pack does not include the `PackageIcon`"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 5.3.0.6192

OS version: Microsoft Windows 10 Enterprise 10.0.14393

Worked before? Not applicable, this is new feature of [NuGet 5.3](https://docs.microsoft.com/en-us/nuget/release-notes/nuget-5.3)

## Detailed repro steps so we can see the same problem

1. Clone https://github.com/NuGet/Samples/
2. Run `dotnet build PackageIc

[2019-09-19 16:27] zkat commented on #8604
That's strange. Thanks for the bug report. I have a question: Does this still happen if you upgrade Machine B to the same dotnet/nuget version as Machine A?

[2019-09-19 17:25] zkat commented on #8610
Closing as a duplicate of https://github.com/NuGet/Home/issues/4491. Thanks @nkolev92 for calling this out.

[2019-09-19 17:25] #8610 closed, assigned to nobody

[2019-09-19 17:26] nkolev92 commented on #8607
Linking the dotnet nuget verbosity issue as per our conversation yesterday @anangaur
https://github.com/NuGet/Home/issues/6374

[2019-09-19 17:42] #8606 closed, assigned to nkolev92

[2019-09-19 18:14] #8514 closed, assigned to kartheekp-ms

[2019-09-19 18:23] infin8x commented on #4126
@anangaur yep, it expires shortly after the run ends.

[2019-09-19 18:42] #8608 closed, assigned to nkolev92

[2019-09-19 19:00] nkolev92 commented on #7001
Folks that are hitting this issue, I'd be curious to understand how the assemblies in your scenarios ended up with a 1980 date.

When implementing deterministic pack we set the date for all the files in the package to 1980/1/1 and hitting this issue became more common.

We'd be curious to learn which tooling was used that ended up creating assemblies with those dates.

[2019-09-19 19:18] rrelyea commented on #4126
ah ok, so this whole thing is really just an ask for encrypted passwords in nuget.config via dotnet.exe?
(that is tricky...last time we talked to corefx about that one, they didn't have an answer for us that works cross platform.)

this issue is confusing...cause the title asks for the command. and during the thread, somebody says having a cross platform credential provider would solve it too.

1)

[2019-09-19 19:21] erik-kallen commented on #8604
I can check tomorrow, but as a sidetrack I tested to install SDK 2.2.108 on Machine A.

I then created a global.json to select 2.2.108 for my project and ran `dotnet restore --force-evaluate`. This resulted in the following new hashes:
[code]

Even if I delete the global.json afterwards (or switch it to use 2.2.402), the hashes still remain the new ones, so it seems like the mere act of installing

[2019-09-19 19:41] zivkan opened #8611 "nu5129 should check `buildMultiTargeting`"
The rule currently checks `build`, `buildTransitive` and `buildCrossTargeting`, but not `buildMultiTargeting`

[2019-09-19 19:47] zkat commented on #8604
This is possibly a duplicate of https://github.com/NuGet/Home/issues/7921. Could you try the steps in https://github.com/NuGet/Home/issues/7921#issuecomment-478152479 to see if that helps, as well?

[2019-09-19 19:53] livarcocc opened #8612 "Warning NU1603 should include the approximate best match found in the message"
_From @basbossink on Thursday, September 19, 2019 4:05:34 PM_

## Steps to reproduce
Create a project that depends on a pre-release package that is not available (yet).
[code]

## Expected  behavior
[code]

So the feature request is to add the actual version that was resolved to the warning message, since that information is more useful than repeating the version of the package that caused the war

[2019-09-19 19:53] livarcocc commented on #8612
_From @livarcocc on Thursday, September 19, 2019 7:53:21 PM_

I believe this warning comes from NuGet. I am going to move the issue there.

[2019-09-19 20:08] #8535 closed, assigned to zivkan

[2019-09-19 20:14] infin8x commented on #4126
`dotnet nuget sources` would make it easier for GitHub Package Registry to provide good configuration experiences for using NuGet packages in absence of a credential provider. I don't think it matters particularly to us if the token is encrypted or not - I assume it would be on Windows but not on Mac and Linux unless the `dotnet` team has solved the cryptography problem.

[2019-09-19 20:21] nkolev92 commented on #8611
https://github.com/NuGet/Home/issues/4098

I think the original issue wanted NuGet to support **both for a time**, but I think that ship has sailed now :D

[2019-09-19 20:27] anangaur commented on #4126
I agree. Not necessary or urgent but encryption will be great to have for dev machine scenarios. Not so much for Actions as they run temporarily and the GITHUB_TOKEN anyway expires after use.

/cc: @zivkan

[2019-09-19 20:31] #8602 closed, assigned to nkolev92

[2019-09-19 21:09] olsh commented on #8148
I have the same issue with `dotnet nuget push`
https://github.com/olsh/sentry-api-client/runs/229034352

[2019-09-19 21:21] infin8x commented on #4126
Yeah, and encryption is important to enterprise security types but there seems to be a strong culture on Mac and Linux of putting tokens in the home directory and using file system permissions to keep them limited access. Not my area of expertise, just an observation.

[2019-09-19 22:04] #8594 closed, assigned to dominoFire

[2019-09-20 00:17] zivkan commented on #4126
As a temporary workaround, here's a basic powershell script that can be used with Powershell Core anywhere that the dotnet cli runs:

[code]

I used it in a GitHub Actions workflow with the following YAML:

[code]

[2019-09-20 02:06] zkat commented on #8609
Note: I can reproduce this is 16.3 but not in 16.2.5. Calling this a regression.

[2019-09-20 02:26] zkat commented on #8597
I can't reproduce this myself. I installed everything I could find in the VS installer having to do with ASP.NET and there's no Web Forms Site. How did you get that?

Incidentally, I definitely can't repro this with a regular web application.

[2019-09-20 06:48] 0xced commented on #8610
Thanks for the quick reply. I think #7778 should really be prioritized as it looks like many people were mislead thinking that nuget pack would work with csproj files.

[2019-09-20 07:24] jwillmer commented on #8580
@anangaur How do you find/know the correct NuGet package name to push? Mine ends with the new version number so I can't hard code the name.

[2019-09-20 08:03] toanbkmt commented on #6166
Please support command:  **nuget update ProjectName or SolutionName**
For update all package lastest version in project or solution of .net core.  Because  .net core goodbyte packages.config , all packages dependency have been define in **.csproj**
Many thanks.

[2019-09-20 09:05] erik-kallen commented on #8604
I followed the steps, and now it is working.

Note that, contrary to what https://github.com/NuGet/Home/issues/7921#issuecomment-478157294 seems to say,
`<DisableImplicitNuGetFallbackFolder>true</DisableImplicitNuGetFallbackFolder>` was required for me.

Also, that issue is closed, but I think this issue should still be open. Needing to find these comments and adding secret .csproj properties is n

[2019-09-20 16:10] ViktorHofer commented on #8603
I'm still hitting this with b75150f2f4127a77a166c9552845e86fb24a3282

[2019-09-20 16:13] ViktorHofer commented on #8603
cc @rrelyea @ericstj

[2019-09-20 16:21] redwyre commented on #6795
I got this message, which I was able to fix by converting the project to the new project format. Have no idea what the real problem was.

[2019-09-20 16:25] ViktorHofer commented on #8603
Ok, sorry for the confusion. In arcade we haven't received the new version therefore in one of our packages where we depend on nuget libs we are carrying the older 5658 version around.

[2019-09-20 20:01] ghogen commented on #8586
I just retried this on another machine with a fresh install of the same preview build, but it did not reproduce.  Well, it did happen, but I'll see if I can narrow this done more.  If I can reproduce on a machine again, I can share that machine for investigation.

[2019-09-20 20:06] rrelyea commented on #8586
@ghogen  - if i recall there was an issue like this during vs2015 when upgrading to nuget 3.4.0 or 3.4.1.
we did work to address that...
it is possible that there is some upgrade matrix that would repro this. sorry if it hits you.
if it ends up being something that affects many customers, would be happy to investigate and consider fixes.

[2019-09-20 21:16] zivkan opened #8613 "NU5127 should check all build folders"
Currently, NU5127 only checks `build/`. It should check `buildTransitive/`, `buildCrossTargeting/` and `buildMultiTargeting/` as well.

[2019-09-20 21:18] DMW007 commented on #7601
Tried the workarounds, but doesn't work - at least not on the official ASP.NET Core 2.1 Docker image. I ended up renaming the file from `LICENCE` to `LICENCE.txt`. Seems the simplest solution to me, instead of banging my head with such trivial things.

[2019-09-20 22:06] sbanni opened #8614 "The output folder contains all runtime folders instead of the correct assets for the built arch"
**Repro**
Create a netcore3 WPF project
Add this PropertyGroup:

[code]
Add a PackageReference:
[code]
Build the project.

**Issue**
In the output folder instead of seeing the arch specific assets copied you will see all the different 'runtimes' and their contents.

[2019-09-21 07:12] svick commented on #4699
@TomasHubelbauer You can also use the `-v` option of  `dotnet add package` to install a specific preview version of a package.

[2019-09-21 11:43] knocte commented on #8148
I was hit by this issue today. Even downloading older version of nuget (4.5.1) didn't fix the problem. But I've found a workaround: don't use wildcards (*.nupkg), just use the exact file name.

[2019-09-21 13:02] ivanut commented on #6324
Had the same problem in VS 2019 16.2.5. @ArulPushpam's solution worked with removing and readding the project. Before that, the intellisense in the whole solution was broken. I do not have a repro now, but will register a bug next time it happens.

[2019-09-21 19:09] mwpowellhtx commented on #7601
@DMW007 I ended up doing the same thing. Then `MSBuild` *sees* it and life is good. Not perfect, but it is an acceptable work around.

[2019-09-22 14:57] poke commented on #8601
I personally think that having a _real_ date is somewhat useful. Since NuGet probably won't be able to figure out a deterministic _real_ date for a package, I think having a way to externally set the date would be useful.

@tmat said in the dotnet issue the following:

But I actually think that's exactly a valid way to solve this. NuGet does not have this information, nor has MSBuild. But there ar

[2019-09-22 21:41] #8408 closed, assigned to nobody

[2019-09-22 21:43] shoter opened #8615 "Remove unnecessary comment referencing solved issue."
There is the comment in RuntimeHelper.cs : 150 that is referencing issue that is already solved.

[2019-09-23 02:15] v-longmin commented on #8597
@zkat When installing Visual Studio, select "Additional project templates (Previous versions)" under the "ASP.NET and web development" workload as below attachment:
![image](https://user-images.githubusercontent.com/40230425/65398653-1459e700-ddeb-11e9-89fd-0724abf6d97f.png)

[2019-09-23 04:11] m2nlight commented on #4699
Dotnet (3.0-rc1) add package command doesn't support --prerelease and --configfile flags. --version cannot add some prerelease package

[2019-09-23 07:56] wazzamatazz commented on #7001
In my case, I just used the `pack` target in MSBuild (Visual Studio 2019 16.3 Preview 4 and .NET Core 3.0 RC1 SDK installed). I'm in UTC+2.

[2019-09-23 13:32] sipsorcery commented on #8573
A screenshot of the binlog analysis is shown below. The only thing I spotted that looked relevant was the `DoubleWrites`.

[code]

![binlog_analysis](https://user-images.githubusercontent.com/197660/65429963-5a2ca480-de17-11e9-8682-ae2c6a7a1276.png)

[2019-09-23 13:55] mavasani opened #8616 "Race condition in packages returned by IVsPackageInstallerServices.GetInstalledPackages"
## Details about Problem

NuGet product used: NuGet VS API (NuGet.VisualStudio.nupkg)

NuGet version (x.x.x.xxx): `5.1.0-rtm.5921`
https://github.com/dotnet/project-system/blob/952daf5617b5332ddc90088bb412c4b8d9830e1d/build/import/Packages.targets#L128

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): Latest VS2019 16.4 dogfood bits and also seen on VS2019 16.3

Worked befo

[2019-09-23 15:58] sbanni commented on #8614
Turns out this is because the netcore project does not specify a RuntimeIdentifier, adding that property and this will work correctly.

[2019-09-23 15:58] #8614 closed, assigned to nobody

[2019-09-23 16:08] nguerrera commented on #7344
@rrelyea @dsplaisted More customer pressure on https://github.com/dotnet/sdk/issues/3044. I suspect we'll see even more as 3.0 rolls out. Can we now move past the "do we need to do this?" and start talking about getting this work on the schedule and designing the feature?

[2019-09-23 16:10] zivkan commented on #8573
I just meant that MSBuild supports skipping over XML elements when the condition evaluates to false. So the concept of having two `<Reference` elements, one pointing to the x86 dll and the other to the x64 dll, and using only one of them by using conditions, that's a conceptually sound idea. The syntax looked about right, so I wouldn't have been surprised if it worked.

Perhaps the issue is that `

[2019-09-23 18:03] nkolev92 commented on #7001
Thanks for letting us know @wazzamatazz

That means you're in the

 group, so we understand the root cause in that specific scenario :)

[2019-09-23 18:36] zkat commented on #8597
Thank you!

After thinking about this and making sure I understood the issue, I realized this isn't really a bug -- just a slightly confusing wording in comparison with similar features.

"Open Containing Folder" is exactly what this is doing: it opens the folder **containing** the project's directory, not the project directory itself. You'll note that if you go to the solution explorer and try to

[2019-09-23 19:14] nkolev92 opened #8617 "PR triggering for external contributors not working."
See: https://github.com/NuGet/NuGet.Client/pull/3070
The labels are being set, yet https://devdiv.visualstudio.com/DevDiv/_build?definitionId=8118 shows no builds are being triggered.

[2019-09-23 19:21] nkolev92 commented on #8616
Off the top of my head, it's likely possible due to the fact that we call the project-system to write to the project file, and when the get installed packages API is called, we return the last returned value since a new nomination has not been processed yet.

[2019-09-23 19:42] SchreinerK opened #8618 "The ',' character, hexadecimal value 0x2C, cannot be included in a name."
NuGet Version: 4.9.2.5706

The ',' character, hexadecimal value 0x2C, cannot be included in a name. Line 21, position 124.
But the line 21 points to &lt;description>

AssemblyInfo.cs
[assembly: AssemblyDescription("Extentend System.Configuration classes. property registration (w/o attributes), IList<T>/IDctionary<string,T> support.")]
sample.nuspec
<description>$description$</description>
[sample.

[2019-09-23 19:44] zkat opened #8619 "Insertion of NuGet 5.4.0-preview.2.6259"
VS Insertion

* [x] PR: https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/203783

[2019-09-23 19:45] rrelyea commented on #8618
Dupe of https://github.com/NuGet/Home/issues/7948 - which is fixed in NuGet.exe 5.3.0 -- which should be live later today.

[2019-09-23 19:45] #8618 closed, assigned to nobody

[2019-09-23 20:09] bergbria commented on #7724
@nkolev92 / @rrelyea - is there a rough ETA for this issue? It's blocking some teams on our end from using .net core 3.0.

The first option @nkolev92 listed above (excluding from lock files) would be bad from our team's perspective. We want to both ensure the packages used in the build remain fixed over time and maintain a checked in record of those packages.

[2019-09-23 21:01] sipsorcery commented on #8573
@zivkan thanks to all your suggestions I was finally able to construct my nuget package so consuming projects build without warnings and get the correct native dll's copied to the output directory. The main thing was not to put anything in the nuget package's lib directory.

I've pasted the `.nuspec`, `.props` and `.targets` files below for the many others attempting the same thing:

`.nuspec`
[co

[2019-09-23 21:01] #8573 closed, assigned to nobody

[2019-09-23 21:13] anangaur opened #8620 "dotnet list package does not indicate presence of a deprecated package"
As part of the PR https://github.com/NuGet/NuGet.Client/pull/2928, it was supposed to put an indication on the presence of a deprecated package with the command `dotnet list package`. However it doesn't seem to work.

`dotnet list package --deprecated` works however.

Feature issue: https://github.com/NuGet/Home/issues/2867

[2019-09-23 21:15] donnie-msft commented on #1627
I just ran into an issue using PMUI, clicking Install, and getting no reaction from the UI at all. I looked in the output window (hidden in the background) and saw this:
[code]

This is despite the fact I had "nuget.org" selected as the Package source in PMUI, which is confusing.

The fact that we check for dependencies on all sources is from what I understand, an old design decision the early day

[2019-09-23 21:20] nkolev92 commented on #8620
Can you clarify what the indicator of the presence of a deprecated package is?

The appearance of the legend or?

[2019-09-23 21:28] anangaur commented on #8620
Thats right. It was supposed to do this:
https://user-images.githubusercontent.com/880728/61169770-75e71500-a561-11e9-98be-699c0f76fbc7.png

Right now it doesn't put the legend.

[2019-09-23 22:24] #6965 closed, assigned to anangaur

[2019-09-23 22:55] cristinamanum commented on #8590
Jeff shared the CloudTest and CloudBuild repos. I extracted some data from the repos and saved at \\ddfiles\team\Public\cmanu\CPVM\

In summary:
For CloudTest

There is a mix of SDK( 85) and Legacy(136) projects.
There are 43 projects that use VersionOverrides attribute. From these there are 26 Legacy projects that use VersionOverrides attribute.
There is not any solution file.
There is only one P

[2019-09-23 22:55] #8590 closed, assigned to cristinamanum

[2019-09-23 22:57] cristinamanum commented on #8559
https://github.com/NuGet/Client.Engineering/pull/104

[2019-09-23 23:47] nguerrera commented on #7344
https://github.com/NuGet/Home/issues/3541

[2019-09-24 00:18] loic-sharma commented on #7778
@rrelyea @anangaur Thoughts? This is a "breaking" change but would greatly help newcomers.

[2019-09-24 00:54] vsfeedback opened #8621 "Provide a tooltip on the Yellow Exclamation on Nuget References aka the yellow pain in the stomach"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/732731/provide-a-tooltip-on-the-yellow-exclamation-on-nug.html)._

---
Provide a tooltip / dialog on the Yellow Exclamation on Nuget References why this appears.

Provide any/more information why this /!\ Yellow Exclamation is shown ,
so I can guess if I care or not - old c

[2019-09-24 00:55] nkolev92 commented on #8621
This is an external partner bug, but originally tracked on NuGet side since it was filled there.
We should analyze the experience and file project-system bugs respectively.

[2019-09-24 05:17] Falconne opened #8622 ""nuget.exe list [search terms]" - behavior changed with nuget.org search improvements of August 2019"
`nuget list [search terms]` functionality allows searching for NuGet packages from the command line. This worked well upto 5.0.2, but in the version after that the list method ignores the search terms and will go on to list every single package in every package source.

## Details about Problem

Product: NuGet.exe

NuGet version: 5.3.0

OS version: Windows 10

Worked before? If so, with which NuGe

[2019-09-24 05:20] jehumb-havok opened #8623 "Guide for packaging C# library using P/Invoke to per-architecture and/or per-platform C++ native DLLs"
I am trying to make a NuGet package deploying a C# .NET Standard 2.0 library which does P/Invoke calls into a platform-dependent C++ library, which must therefore also be deployed, but is obviously architecture-dependent (x86, x64, ARM, ARM64), as well as platform-dependent (Desktop (Win32) vs. UWP).

I read most documentations on docs.microsoft.com, issues on this GitHub and others, SO issues, et

[2019-09-24 06:49] xavierdecoster commented on #8620
Looks like a mismatch in expectations: marking deprecated packages as part of `dotnet list package` (without `--outdated` or `--deprecated` switch) wasn't part of the [spec](https://github.com/NuGet/Home/wiki/Deprecate-packages#cli).

If `dotnet list package` already shows the deprecated packages, then what's the purpose of `dotnet list package --deprecated`? How do they differ?

[2019-09-24 13:34] HaGGi13 commented on #1823
Well this ticket was created before nearly 4 years, is there some information when the issue will be fixed?

In my opinion it is a major feature to provide update information about a new package version.

Currently Visual Studio 2017 displays no release notes for package updates. Can somebody confirm that behavior too?

[2019-09-24 13:38] tugrulelmas opened #8624 "Automatically reinstall packages during build in Visual Studio"
There is a huge monolithic application on which 400 developers actively work. It's an ASP.NET Web Application project and it has 35 modules and 1 `.sln` file. Each module has 5 class library projects and is located under its folder. Modules depend on each other via project references. I have to say that there is a dependency hell that makes development difficult.

Now, I'm replacing these project

[2019-09-24 14:36] StormRider01 commented on #3050
@anangaur as I pointed out twitter 3 months ago, fixing this was effectively pocket vetoed.

@emgarten spent far more time arguing against fixing this on this issue as well as on a PR: https://github.com/NuGet/NuGet.Client/pull/2374 wearing it down to the point of @mistachkin giving up and closing the PR.

@rrelyea didn't publicly comment on the PR when @jainaashish asked for comment last year, so

[2019-09-24 15:17] InteXX commented on #3050
Microsoft's response to this problem they've created and maintained has been a clear lesson on how NOT to behave (toward one's customers).

[2019-09-24 16:11] cdonnellytx commented on #7891
This error does happen to me quite frequently in Visual Studio when running `Update-Package`, as well as a number of other errors that suggest concurrency issues, so it's not just something that happens during a flaky test.

Based on the stack trace it's probably executing outside the main thread, so it looks like that code should call a Dispatcher to write to WriteError?

References:

* https://w

[2019-09-24 16:45] dfields-msft commented on #8623
The Desktop/UWP flavor dimension can potentially be simplified by deploying only UWP binaries, and adding a dependency on [Microsoft.VCRTForwarders.140](https://www.nuget.org/packages/Microsoft.VCRTForwarders.140) to enable those binaries to be used in Desktop apps as well.

[2019-09-24 17:00] rrelyea commented on #3050
Just asked on the powershell issue:
"Is there somebody from powershell gallery that could engage with the nuget team to discuss the variety of options to fix this?"

[2019-09-24 17:00] dmpe commented on #4234
Run into this issue as well!

[2019-09-24 17:12] jainaashish commented on #7669
`even just regular msbuild on my solution is now meaningfully slower because instead of the instant restore experience with packages.config when every package already exists on disk I sit through a bunch of time where nuget is committing restores and such so basic incremental build scenarios are regressed.`

@dtivel @nkolev92 this might be related to restore NoOp failing even though nothing change

[2019-09-24 17:18] nkolev92 commented on #8620
Rereading now I agree with @xavierdecoster, dotnet list package itself should remain offline.

[2019-09-24 17:21] nkolev92 commented on #7669
@danquirk
Reach out to myself nikolev at microsoft with the repro.

Much of what NuGet does is limited by how fast msbuild can evaluate.
Getting the repro would help us confirm.

[2019-09-24 18:00] anangaur commented on #8620
The spec calls out that we needed to show the deprecation info even as part of `--outdated` albeit with minimal flagging. I dont think it does that today:
[code]

But `--deprecated` shows the deprecated package:
[code]

[2019-09-24 18:46] nkolev92 commented on #8620
Ahh, maybe that happens because My.Sample.Lib is not outdated?

[2019-09-24 20:52] jmyersmsft opened #8625 ""Log" plugin-request should never fault"
While helping a customer with another issue, I noticed that sometimes Log requests are returning a fault complaining about some MSBuild problem.

All I have from the NuGet side in the credential provider log is "MSB0001: Internal MSBuild Error: ContextID 5 should have been in the ID-to-project file mapping but wasn't!" (along with information that it was a fault response to a Log request)

I think

[2019-09-24 21:11] dasMulli commented on #8287
Btw some RuntimeIdentifiers guidance was removed from the docs due to issues with the different package references for FDD and SDD https://github.com/dotnet/docs/issues/9239

[2019-09-24 21:11] bergbria commented on #7724
@nkolev92 / @anangaur - would it be a feasible workaround to manually add PackageReferences for the downloaded items? That would ensure they're included in the lock file. Is the downloaded version number stable over time or could it change based on nuget-server-side changes?

[2019-09-24 22:00] jmyersmsft commented on #8625
/cc @nkolev92 in case this ends up at all related to #8528

[2019-09-24 22:27] heng-liu opened #8626 "Set private key of an X509Certificate2 certificate failed on netcore"
We have some broken tests after enabling signing/verification tests on netcore3.0.
Those tests failed when we tried to set the private key of an X509Certificate2 certificate with following exception:
 System.PlatformNotSupportedException : Operation is not supported on this platform.

The [document ](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.x509certificates.x509cert

[2019-09-25 08:43] jepl4052 commented on #3292
Some sort of notification of available updates would be really handy. Currently I'm working in a microservices architechture where each microservice provides a NuGet package with some models, interfaces etc. Whenever one microservice has its NuGet package update with a new release, it would be super handy if there was a possibility in a depending microservice to be able to setup a custom "notifica

[2019-09-25 11:00] alphaleonis commented on #8622
Not sure this has to do with the nuget.exe version. I downloaded a couple of older versions, and the same behavior exists there now. So maybe a problem with the search API at nuget.org?