[2019-03-03 11:38] forderud commented on #442
Gentle reminder.

[2019-03-04 07:02] kriscremers commented on #6140
A solution for this problem, finally. This works perfectly, thanks @balpreet-boden.

[2019-03-04 09:15] oliverjanik commented on #6140
Same problem here.

I'm on windows and have my private repo in nuget.config with no credentials because visual studio asks for them interactively. dotnet commands fail to restore public packages from nuget.org.

[2019-03-04 10:55] CarbonLabsUK commented on #5800
Hi, I'm still seeing this error when building for netstandard2, ios and android.
I'm using v 0.2.5-dev.8 of NuGet.Build.Packaging.

Is it still an outstanding issue?

[2019-03-04 13:36] vihoti opened #7850 "Credentials not sharable via a common nuget.config file, errors with: Key not valid for use in specified state."
## Details about Problem
Hello,

I create a nuget.config file with a user account with which our build server runs as. Our NuGet repository is an Artifactory server. Pushing/listing to/from the repository works fine when using the nuget.config file with the account with which it was created.
However, if I want to share this 'common' nuget.config file with other colleagues, so that we all use the s

[2019-03-04 15:00] nicksterx commented on #6140
@oliverjanik You can add your credentials to your nuget config using this command

`.\nuget.exe sources update -name "Private Repo" -source https://private.nuget.repo -User yourName -pass yourPass`

[2019-03-04 16:02] AndreyAkinshin commented on #7304
@jainaashish,

I got such complaints from .NET developers every week. Is it OK if ask people who suffer from this problem to write comments on the issue #5643?

[2019-03-04 16:16] anangaur commented on #7304
@AndreyAkinshin voting #5463 up would definitely help us prioritize the issue against others.

[2019-03-04 18:18] jeanluc33 commented on #7432
Likewise.  Add-BindingRedirect does nothing when you switch to PackageReference, but BindingRedirects are still needed it seems!

[2019-03-04 18:20] joshmouch commented on #7432
Seems like there's some interest around this.  Any comments from the devs?

[2019-03-04 19:00] cleemullins commented on #2504
This is still broken. The actual help files in the *latest* Nuget.exe still show this as optional.

[2019-03-04 20:09] nkolev92 commented on #7846
//cc @zivkan @heng-liu @dominoFire
One of needs to investigate this to ensure that there are no product issues.

[2019-03-04 22:53] bording opened #7851 "Paths to the package folder(GeneratePathProperty feature) should be generated for all libraries in the project graph"
When Visual Studio 2019 RC came out, I switched over to using it full time, so I'm now using a version of VS that actually works correctly with the new `GeneratePathProperty` feature in https://github.com/NuGet/NuGet.Client/pull/2271.

Now that I can properly see it in action, I think it's current behavior is confusing and too difficult to use. Sometimes you have to opt-in to having the property w

[2019-03-05 00:06] infin8x commented on #7845
@anangaur thoughts on this?

[2019-03-05 00:37] nkolev92 commented on #7851
//cc @rrelyea @anangaur

[2019-03-05 05:31] nkolev92 commented on #7342
NuGet side spec at https://github.com/NuGet/Client.Engineering/pull/92

[2019-03-05 09:16] rogersillito commented on #4234
Likewise for me - I specifically need to do a debug build of my package.
NuGet Version: 4.9.3.5777

[2019-03-05 15:51] rlreis90 commented on #7617
I just wish to say it's hard to believe after years Package Reference still doesn't support all that packages.config did. I can't see how that's a reasonable status and how Package Reference is supposed to be a viable replacement.

[2019-03-05 16:23] DewanChoudhury commented on #5768
Still happening on VS 15.9.7. Will this be addressed anytime soon? Thanks!

[2019-03-05 16:30] rlreis90 opened #7852 "[Proposal] Side-by-side packages.config and Package Reference"
### Description
Since Package Reference still doesn’t support install/uninstall scripts, drop-in content or configuration (which packages.config does), I suggest the creation of a **Hybrid Mode** where **both** types of packages could be included.

### Proposal
Offer a hybrid mode allowing users to individually select for each NuGet package which package reference system to use. Additionally auto-

[2019-03-05 16:40] sonofaforester commented on #7341
We also see this seemingly randomly on ADO hosted agents (ubuntu 16.04)

[2019-03-05 19:09] anangaur opened #7853 "Accessibility issues with NuGet PM UI"
Issues reported from Program-L
- [x] The tabs at the top should have more standard keyboard controls; left and right arrow moves focus to the next/previous tab when your focus is on the control, instead of each tab being individually focusable with the tab key. - fixed in 5.5 / vs16.5 by @donnie-msft's addition of the real tab control.
- [ ] I was surprised to find that ctrl+tab moves focus to the

[2019-03-05 19:12] nkolev92 commented on #7847
@joelverhagen Do you see this consistently?

I don't see problems on my end, and we haven't really had any changes on our end, so I'd imagine something got pulled from beneath us.

[2019-03-05 19:14] joelverhagen commented on #7847
Yes, I saw it consistent on that feed and package. It perhaps has to do with one of those fields being empty or missing in the nuspec.

[2019-03-05 19:16] nkolev92 commented on #7846
I have a PR out at https://github.com/NuGet/NuGet.Client/pull/2748

[2019-03-05 19:18] nkolev92 commented on #7847
Duplicate of https://github.com/NuGet/Home/issues/7816.

[2019-03-05 19:18] #7847 closed, assigned to nobody

[2019-03-05 19:19] nkolev92 commented on #7816
@rrelyea We need to re-prioritize this.

it seems like a regression with more than 1 repro.

[2019-03-05 20:15] #7657 closed, assigned to zivkan

[2019-03-05 21:47] #7846 closed, assigned to nkolev92

[2019-03-05 22:22] rrelyea commented on #7845
@nkolev92 - Not sure if this was already addressed by your long filepath fix for this?
Can you please investigate?

[2019-03-05 22:24] rrelyea commented on #7844
This functionality relies on the msbuild targets/tasks for pack that ship with VS, and are versioned with the nuget components within VS.
nuget.exe doesn't ship with VS.
If you need to use old versions of nuget.exe, you should not use this feature.

[2019-03-05 22:26] rrelyea commented on #7843
Happy to talk, if you think there are issues with this approach. Let's target 5.1, if your question was just about milestone.

[2019-03-05 22:27] rrelyea commented on #7842
@dtivel is working on better logging and a fix for this. we plan to fix in 5.0, and likely also ship in 4.9.x

Update: i mistakenly thought that issue was identical to issue 7837 - we are not on path to address this - but would love continued details to help understand when it is happening, etc...

[2019-03-05 22:30] nkolev92 commented on #7836
So I did the some digging and this one is a doozy.
Following through 1-7 I could repro everything as demonstrated. Thanks for the great instructions @mthalman!

Looking through the code added in https://github.com/NuGet/NuGet.Client/pull/2521 it didn't make sense to me why only this file of the 5 is an issue. All the other files were written in a similar way.

The 5 files in question are:
* projec

[2019-03-05 22:30] rrelyea commented on #7838
@blair-ensinger  - please see my earlier response.

[2019-03-05 22:32] ColinM9991-zz commented on #7842
Thank you for that info @rrelyea, it certainly confirms that I am not going insane.

Is there any indication as to what the cause may be, or is it best to wait for the logging improvements to determine the cause?

[2019-03-05 23:04] blair-ensinger commented on #7838
Rob ... thanks ...
I contacted Artifactory and I am pursuing an action plan based on their response.

Blair Ensinger
Sent from my iPhone 6s

[2019-03-05 23:28] zivkan commented on #7657
Hello anyone still looking at this issue. I published a new NuGet.Build package, which is where Visual Studio gets the NuGet.targets file which is added to the solution. Therefore, anyone using the "solution right click -> Enable NuGet Package Restore" should no longer have build errors. Anyone who did this before the 20th of December should also be unaffected, since it was before we published the

[2019-03-06 00:18] nkolev92 opened #7854 "When doing a NoOp restore, avoid *.dgspec.json write in obj directory"
Found during the investigation of https://github.com/NuGet/Home/issues/7836#issuecomment-469884581.

The dgspec.json write does not have a dirty check.
Currently it's being overridden even during no-op scenarios where nothing has changed.

The issue was introduced in the original PR https://github.com/NuGet/NuGet.Client/pull/2521

[2019-03-06 00:22] nkolev92 commented on #7836
I created an issue for the dirty check bug #7854 and I have a PR out for that already. https://github.com/NuGet/NuGet.Client/pull/2750

[2019-03-06 00:30] nkolev92 commented on #7843
@jeffkl Already has a PR out for this and it looks good.
I'll merge once the tests pass.

[2019-03-06 01:55] nkolev92 commented on #7845
@shubham90
On the repro that you have can you please provide the dg file for the project on which you are running restore.

Do you can do by running
`dotnet msbuild /t:GenerateRestoreGraphFile /p:RestoreGraphOutputPath="someConvenientPathForYou"`

Also it'd be helpful if you can run restore with high verbosity.

`dotnet restore /v:d`

[2019-03-06 01:58] nkolev92 commented on #7845
Actually looking at it again, the plugins cache is created because nuget is probably asking the plugin if it can support Download.

[2019-03-06 02:40] shubham90 commented on #7845
@nkolev92 The repro is a test running in dotnet-docker repo. It's a very basic test which creates a project using "dotnet new console --framework netcoreapp2.2" and adds a nuget.config file similar to this:
[code]
It then adds a RuntimeFrameworkVersion to csproj file and sets it to 1.1.*

After that it runs "dotnet restore -r linux-x64" and fails. I could not get this repro on my box. I can try to

[2019-03-06 05:03] zarenner opened #7855 "NuGetSdkResolver doesn't respect pivots that come through msbuild properties (example --config-file, RestoreSources)"
The NuGet-based SDK resolver doesn't appear to respect --configfile, and instead just uses the nuget.config next to the project.

e.g. if I have a project-level nuget.config with a single source 'sourcenexttoproject', and a separate --configfile nuget.config with a single source 'differentsource':

[code]

The SDK is trying to restore from sourcenexttoproject, instead of from differentsource as I

[2019-03-06 12:41] FlorisDevreese opened #7856 "difference between backward slash and forward slash in file source"
The result of `nuget pack` differs depending on if you use forward slash `/` or backward slash `\` in the `.nuspec` file.

## Details
Used nuget.exe Version: 4.9.3.5777 on Windows 10 v1709 (16299.699)

## Repro

1. Create folder layout
[code]

2. Use this nuspec
[code]

3. `nuget.exe pack testPackage.nuspec`

## Expected result
[code]

### Actual result
[code]

### Notes

- I could be wrong, but I

[2019-03-06 13:40] emz00 commented on #7842
We're running into this as well (intermittently) when building in TeamCity on Windows using .NET Core SDK 2.1.504. Is there a known workaround?

[2019-03-06 13:52] ColinM9991-zz commented on #7842
@loop-evgeny I updated one of our problematic build processes to first do a NuGet restore directly with NuGet, and then use `dotnet restore` to generate the `project.assets.json` files. This seems to have given us a workaround for now and the build hasn't failed for this reason since.

[2019-03-06 13:55] shai-glat commented on #7825
Any news on this issue? been over a week since it was posted here and heard nothing on the subject.

[2019-03-06 17:26] rido-min commented on #7681
This by design. Signing verification is based on owners defined by Nuget.org. Authors in the nuspec can be considered as free text, hence is not trustable.

[2019-03-06 17:26] #7681 closed, assigned to rido-min

[2019-03-06 19:13] nkolev92 commented on #7836
@mthalman

Why do you do `COPY . .` when you try to create the 2nd image?

[2019-03-06 19:18] mthalman commented on #7836
That is necessary to copy the rest of the project files into the Docker daemon.  The first copy, `COPY *.csproj .` only brings over the project file, the minimum necessary to run `dotnet restore`.  But you still need the rest of the files.

[2019-03-06 19:25] nkolev92 commented on #7836
For my tests I removed `COPY . .` as it overwrites the obj folder generated inside the container.

The files that get copied from the local box to the container have the following permissions:

[code]

NuGet cannot change those.

The files generated within the container has the following rights.

[code]

I don't think there are any further NuGet issues here (beyond the one I fixed already in PR).

[2019-03-06 19:40] nkolev92 commented on #7836
Synced up with @mthalman in chat.

Closing this issue now.

The regression fix will probably propagate to all .NET Core SDK versions within the next few weeks.

2.1.600,
2.2.200 &
3.0 preview 3 all share the same NuGet code so likely all of them have the above problem.

[2019-03-06 19:40] #7836 closed, assigned to heng-liu

[2019-03-06 22:17] nkolev92 commented on #7845
On NuGet side we appear to the doing the correct thing when creating a shared directory.

This is where the file is being created https://github.com/NuGet/NuGet.Client/blob/b0df1ba400b116f711cd8588f9f0a163a81f33d7/src/NuGet.Core/NuGet.Common/ConcurrencyUtilities.cs#L222.

@shubham90
I would imagine there Dockerfile you linked already has an image that's created, so maybe there's an exact image tha

[2019-03-06 22:32] nkolev92 commented on #7855
This is becoming kind of challenge, because restore itself has various configuration pivots that likely don't work with the SDK resolver.

--config-file is one. I imagine RestoreSources & similar msbuild settings for NuGet don't work.

I'd imagine the whole list from https://github.com/NuGet/Home/wiki/%5BSpec%5D-NuGet-settings-in-MSBuild is an issue.

And that'll continue to be a moving target in

[2019-03-06 23:03] elmojo commented on #352
Any status on this issue?

[2019-03-06 23:46] nkolev92 commented on #7550
Is this maybe a dup of https://github.com/NuGet/Home/issues/7657?

@jeanluc33 When you say NuGet.targets, you mean the ones from nuget.build?

Which version of VS are you using?

[2019-03-07 00:55] nkolev92 commented on #7550
//cc @zivkan

[2019-03-07 01:05] karann-msft commented on #352
@elmojo - we just finished the self-contained license story (which also included a lot of work around licenses.nuget.org as well as the client side experience). We have started working on [self-contained icons](https://github.com/NuGet/Home/wiki/Packaging-Icon-within-the-nupkg). and it is currently in the technical design phase.

On a side note - I will be prsenting at the MVP summit on the 20th.

[2019-03-07 01:37] nkolev92 commented on #7845
Worked with @shubham90 offline to try to recreate the issue environment.

I am trying with ubuntu 16.04 & 18.04, no luck yet.

I will look through the NuGet code again, but I'm not sure how much I'll be able to do without a more consistent repro.

[2019-03-07 01:46] MarkKharitonov commented on #7178
Yes, please fix it.

[2019-03-07 01:47] nkolev92 commented on #7845
The permissions there are `-rw-r--r-- ` and this is a local directory, so not really what could be going on here.

[2019-03-07 02:30] nkolev92 opened #7857 "Better error message when the plugin startup fails with an exception"
Motivation coming from https://github.com/NuGet/Home/issues/7845.

We should not crash the process when an exception happens during the plugin creation.

We will terminate the process regardless, but the error message should be clearer.

//cc @rrelyea

This is a logging improvement that I'd like to take into 5.0.

[2019-03-07 02:32] nkolev92 commented on #7845
I have a PR out to improve the logging to help us with the investigation of future plugin startup issues.

https://github.com/NuGet/NuGet.Client/pull/2751

[2019-03-07 03:42] jimguyer commented on #3078
dotnet nuget locals --clear all

worked for me

These did not work for me:
dotnet nuget locals all --clear
dotnet nuget locals clear all

[2019-03-07 03:53] rrelyea commented on #7837
@dtivel is working on nuget fix. Hope to fix in 4.9.x sometime very soon. Likely by end of next week.

[2019-03-07 07:54] aserraric commented on #5887
Would it be possible to adopt a system like npm's or yarn's lock files? Wherein transitive dependencies are listed with a absolute versions to ensure that restoring packages always restores the same, on every machine the project is built on.

A transitive dependency can then be updated by just changing the lock file, without touching the direct dependencies. (see "yarn upgrade")

[2019-03-07 09:04] DomZZ commented on #7699
Same problem here (also with TeamCity).
I never seen this problem with nuget 2.7 and this one appears sometimes (with nuget v4.9.3), may be this is related to either client or server timeouts.
![nuget_canceled](https://user-images.githubusercontent.com/35232165/53944683-2dee4800-40c0-11e9-9302-55219181d922.png)

[2019-03-07 10:00] akamyshanov commented on #5887
@aserraric
http://lmgtfy.com/?q=nuget+lock
Sorry, couldn't help myself 😃

https://blog.nuget.org/20181217/Enable-repeatable-package-restores-using-a-lock-file.html

[2019-03-07 10:11] aserraric commented on #5887
@akamyshanov

Well, then we are halfway there. Now the only thing missing is a way to update transitive dependencies in the lock file, since manual editing is discouraged and error-prone.

[2019-03-07 16:13] aaronyeddula opened #7858 "Download NuGet package for every build in Jenkins"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx):4.3.2

dotnet.exe --version (if appropriate):

VS version (if appropriate): 2017

OS version (i.e. win10 v1607 (14393.321)):win 10

Worked before? If so, with which NuGet version:

1. Trying to download fresh NuGet packages every time i build the job in the Jenkins I tried all the commands but

[2019-03-07 16:45] ericnewton76 commented on #7268
Yip, still happening.  I needed to run this command when I switched to a new computer, to redownload existing packages in a project.

`update-package -reinstall -project MyProject` fails because `51degrees.mobi` has been delisted.

If you can't permanently delete a package to preserve these scenarios, then why is this scenario not working?

[2019-03-07 18:21] #7831 closed, assigned to nobody

[2019-03-07 19:21] zivkan commented on #7858
If I understand correctly, you don't want your CI builds to use the global packages folder, so all packages are downloaded from your nuget feeds on every build. If this isn't correct, please clarify your question.

A quick way to do this is to run `dotnet nuget locals global-packages --clear` or `nuget.exe locals global-packages -clear`. However, if you're running on a shared build server, this wi

[2019-03-07 19:30] nkolev92 commented on #7856
Thanks @fldvrees

You are right the master issue is #3584.

Exact report of your DUP is https://github.com/NuGet/Home/issues/3959.

[2019-03-07 19:30] #7856 closed, assigned to nobody

[2019-03-07 19:32] #7838 closed, assigned to nobody

[2019-03-07 19:45] #7178 closed, assigned to dominoFire

[2019-03-07 21:17] zivkan commented on #7825
Can you please explain the scenario of why you're trying this? We might be able to give a better answer.

1. It shouldn't be necessary to use a nuspec file. I'm only aware of a single NuGet metadata (lang) that can't be specified in the csproj. Otherwise I believe everything that can be done in a nuspec can be done in the csproj. In your case, look for `PackagePath` in [these docs](https://docs.mi

[2019-03-08 00:19] Eilon commented on #7341
ASP.NET/EF Core builds have been hitting this a lot on Mac as well.

Here's a publicly available build where this happened: https://dnceng.visualstudio.com/public/_build/results?buildId=115083

It's using this recent 3.0 build: https://dotnetcli.azureedge.net/dotnet/Sdk/3.0.100-preview4-010612/dotnet-sdk-3.0.100-preview4-010612-osx-x64.tar.gz

[2019-03-08 01:11] #7854 closed, assigned to nkolev92

[2019-03-08 01:16] dtivel opened #7859 "Plugins: enable diagnostic logging"
We need better logging for the NuGet plugin model to help diagnose failures.

[2019-03-08 07:12] jussimattila commented on #5016
Anything happening regarding this issue? Almost two years after reporting and having Priority 1, will this make into a release in the near future?

[2019-03-08 10:07] LukeHardyLexacom commented on #3078
This worked for me - the middle line didn't run, however the others fixed my issue.

I have moved my hard drives over to a new PC because of PC problems and this seemed to cause some issues when I was rebuilding our project while restoring the NuGet packages and I was getting the same error as the title suggests.

[2019-03-08 12:53] StingyJack commented on #7268
5.0? Will that be available for VS 2017?  I'm not really willing or able to tolerate another unstable release of VS.

[2019-03-08 14:38] tandeday commented on #2623
@yishaigalatzer  As a newcomer to the nuget ecosystem, what is the status of the strict mode you mentioned which would allow offline builds?

[2019-03-08 14:52] infin8x commented on #1630
@anangaur any thoughts on the prioritization of this? We have an ask on the Azure Artifacts backlog in Q2 to consider extending vstsnugetpush (which provides our "allow duplicates to be skipped" option) to x-plat and on-prem. I'd rather push towards an official nuget feature if it's available :).

[2019-03-08 15:08] anangaur commented on #1630
Makes sense. We will triage it next week.

[2019-03-08 16:46] jeffkl commented on #7855
Anything settings coming from MSBuild will not work with the SDK resolver because the project has not been evaluated yet.  So no properties or items are loaded to even pass along.  The feeds must be defined in the root `nuget.config` and auth tokens will have to be in that file that can be found by the SDK resolver or the credential provider needs to get them.

We could possibly plumb the custom p

[2019-03-08 17:08] zihotki commented on #6437
Can confirm that it still doesn't work. Stumbled upon this issue and spent a lot of time trying to fix it without any good solution (-k option may work for command line but not for build scripts, api keys don't belong there).

[2019-03-08 17:44] jeffkl commented on #7851
Some historical context around the current design:

We hoped that this feature would rarely be used and would only be useful for two reasons:

1. You are consuming a package with a command-line tool in your build.  The package has no `build\packageid.props` that declares a property to the package path so you need to know the path.
2. You are consuming a package that has a non-supported layout.  Th

[2019-03-08 22:12] peterhuene opened #7860 "Transiet package download timeouts when building dotnet/cli on macOS."
## Details about Problem

When building the latest out of `dotnet/cli` @ master on macOS, I receive a huge number of package download timeouts.  This occurred after a recent stage0 update for our repo.

There's a lot of console spew of the form:

[code]

This slows down the build considerably.  If I repeatedly run `./build.sh`, it seems to eventually get past the issue as the packages get download

[2019-03-08 22:27] peterhuene commented on #7860
Two other CLI team members are seeing the timeout messages on macOS as well from Microsoft's corporate network.

[2019-03-08 22:30] peterhuene commented on #7860
Myself and @livarcocc also saw an immediate failure from `RestoreTask` with `invalid argument`, which on subsequent build runs we didn't experience.  If I see it again I'll include that information here.

[2019-03-08 23:00] peterhuene commented on #7860
Note: we don't exhibit any of this behavior from the `release/3.0.1xx` branch, which is (currently) our preview 3 branch with a stage0 dotnet of `3.0.100-preview3-010272`.

[2019-03-08 23:28] mikesigs commented on #7459
I have this exact same issue. Have you managed to find a work around or solution?

[2019-03-09 15:26] yusufmsalh opened #7861 "installing ML.net On Visual Studio 2015 failed"
## Details about Problem

NuGet product used; VS2015

VS version (if appropriate): 2015

OS version ( win8

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem
a new Library called ML.net and I want to try it on Visual Studio
2015 , I tried .net framewok 4.5,4.6,
4.6.1 still having the below error

Severity	Code	Description	Project	File	Line	Supp

[2019-03-09 16:24] yusufmsalh commented on #7861
as per https://github.com/dotnet/machinelearning/issues/717#issuecomment-471186132

[2019-03-09 16:24] yusufmsalh commented on #7861
you will face
https://github.com/dotnet/machinelearning/issues/717#issuecomment-471186132
me:

[2019-03-09 16:25] yusufmsalh commented on #7861
solve it by

[2019-03-09 16:26] yusufmsalh commented on #7861
solved it by using .Net Framework v4.6

[2019-03-09 16:26] #7861 closed, assigned to nobody

[2019-03-09 22:29] andywahr opened #7862 "Post VS 15.9.7 update, unable to find packages with hard coded paths in CSPROJ of ..\packages.. (with ASP.Net .Net Framework)"
## Details about Problem

NuGet product used:  VS UI
NuGet version: 4.9.3.5777 and what ever version the VS version uses by default
VS version: VS Enterprise 15.9.7 and VS Enterprise 2019 RC.1 SVC1
OS version: Windows 10 version 1809 (Build 17763.316)

Worked before? From September of 2018 until Feb 25th 2019. (Dont know exact version).  Usually install VS updates within a few days of release.

##

[2019-03-09 22:48] andywahr commented on #7862
Update:   I was able to manually work around by running the following command in the Host.MVC.FullFramework directory:

nuget install -OutputDirectory ..\packages

Restore didn't work, but i can manually work around it.

[2019-03-10 01:00] snnz commented on #6553
Create a file like this:
[code]
Then import it to the csprojs of the plugins. Suppose the file is preventcopylocal.targets, and it is in the parent folder of the .csproj:
[code]
This does not prevent the Copy Local setting from changing on updates, but at least the referenced assembly won't be copied.

[2019-03-10 13:10] Amine-Smahi opened #7863 "error NU1202: is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0). supports: netcoreapp3.0 (.NETCoreApp,Version=v3.0)"
Package : https://www.nuget.org/packages/Razor-Components-Template/

`$user > dotnet new -i Razor-Components-Template`

 ` Persisting no-op dg to /home/amine-smahi/.templateengine/dotnetcli/v3.0.100-preview3-010431/scratch/obj/restore.csproj.nuget.dgspec.json
/home/amine-smahi/.templateengine/dotnetcli/v3.0.100-preview3-010431/scratch/restore.csproj : error NU1202: Package Razor-Components-Templat

[2019-03-11 09:56] imanushin commented on #7060
@genscape-agodfrey, yes, this can be workaround, however it does not solve issue (from my point of view).

We use the same script for the local build and for TeamCity build (for consistency of course). And sometimes TeamCity compiles the same project from the different branches in parallel (our TeamCity virtual machine has multiple TeamCity agents). And it leads to build failure exact with "v3-cac

[2019-03-11 13:11] bledbet commented on #7459
I think that the way we are working around it is that we are using the explicit version in the nuspec references, and we just don't update them until we are ready to release.  I think this means that, while in pre-release, projects that are dependent on these assemblies might have to explicitly update A, B and C, rather than having an update of C automatically update A and B.

For example, say the

[2019-03-11 15:39] livarcocc opened #7864 "dotnet add package ignores nuget.config <clear /> directive"
_From @flcdrg on March 11, 2019 0:12_

## Steps to reproduce

1. Create new project - eg. `dotnet new console`
2. Add nuget.config
3. Add `<clear />` directive but remove other package sources. eg.
[code]
4. Add a new package - eg. `dotnet add .\dotnetadd-bug.csproj package NewtonSoft.JSON`

## Expected  behavior

Adding package should fail because there are no package sources configured

## Actua

[2019-03-11 15:46] livarcocc opened #7865 "dotnet pack does not support owners property"
_From @rjgotten on March 11, 2019 15:16_

## Steps to reproduce
Try to create a package with `dotnet pack` based on `csproj` metadata properties.
Try to define owners separate from authors. E.g. where a package has a wide group of contributors but a limited set of core maintainers (or a company or other entity) that have full ownership.

## Expected  behavior
There should be an `<Owners>` metadata

[2019-03-11 16:53] shai-glat commented on #7825
What i am trying to achieve is to include an internal dependency DLL in the package i am generating, so that i don't have to release it as a separate package.
Ideally (and i am aware this is not possible at the moment) i'd like to mark this internal DLL so that its dependencies are added as package dependencies. To get past this issue i've tried using the nuspec file to define the package, but i k

[2019-03-11 17:03] livarcocc opened #7866 "dotnet pack does not support RepositoryCommit"
_From @JanEggers on March 11, 2019 16:0_

## Expected  behavior

dotnet pack --RepositoryCommit 123

nuget seems to support it

https://github.com/NuGet/docs.microsoft.com-nuget/pull/708

_Copied from original issue: dotnet/cli#10965_

[2019-03-11 21:16] dtivel commented on #7837
The bug is [here](https://github.com/Microsoft/artifacts-credprovider/blob/a140be2bcc9f6218fcb09d4397a7a5f4cf8f5582/CredentialProvider.Microsoft/RequestHandlers/RequestHandlerBase.cs#L55).  `IRequestHandler` instances are [singletons](https://github.com/Microsoft/artifacts-credprovider/blob/a140be2bcc9f6218fcb09d4397a7a5f4cf8f5582/CredentialProvider.Microsoft/Program.cs#L94).  The `CancellationTok

[2019-03-11 21:25] dtivel commented on #7837
See https://github.com/Microsoft/artifacts-credprovider/issues/77 for updates.

[2019-03-11 21:25] #7837 closed, assigned to dtivel

[2019-03-11 23:09] ridomin opened #7867 "Setting configuration from nuget.exe should use the local nuget.config if available"
Configuring client policies the blog post suggested to use `nuget.exe config -set` commands. When I ran this command in a folder that contains a `nuget.config`  the change should be applied to that file instead of the global one.

Additonally the command should report which file has been updated.

//cc @karann-msft

[2019-03-12 01:29] flcdrg commented on #7864
Sorry, wasn't sure whether it was an SDK or NuGet issue. Thanks for moving/copying it over

[2019-03-12 03:22] karann-msft commented on #442
cc: @rrelyea, @anangaur

[2019-03-12 03:32] kjbartel opened #7868 "PackageReference ignores $Platform condition"
## Details about Problem

NuGet product used (VS UI | Package Manager Console | dotnet.exe):

dotnet.exe --version (if appropriate): 3.0.100-preview3-010431

VS version (if appropriate): 16.0.0 Preview 4.1 SVC1 / 15.9.8

## Detailed repro steps so we can see the same problem

1. Create new C# project:
[code]
2. Try to publish x86:
dotnet publish -c Release -f netcoreapp3.0 -r win-x86

3. Error:
C:

[2019-03-12 08:56] vadivel1234 commented on #7268
@jokokko @nkolev92 @jainaashish

Update-Package package-name also gives the below error in VS2017 (15.9.0).

Error 1: Update-package : Unable to resolve dependencies. 'XXX.YY 6.3.0.2' is not compatible with 'YY.ZZ 6.4.0.5 constraint:

Error 2: Update-package : Unable to find package 'XXX.YY'. Existing packages must be restored before performing an install or update.

Was this issue fixed in latest

[2019-03-12 12:06] code2expert opened #9168 "Problems with target Framework"
I have developed a solution using .NET Core 2.2 and after a while, I it got corrupted and I had to do a repair.

The problem is that since the repair, I've been getting NU1701 error every time I update a library. I have checked the version I'm using on in the application properties and its still showing .NET Core 2.2.

Kindly advise on what I may be missing. Thanks

---
#### Document Details

⚠ *D

[2019-03-12 13:53] VladDerptastic opened #7869 "NuGet.API not fetching the latest versions of some packages"
## Details about Problem
Upon querying the [NuGet v3 API](https://api.nuget.org/v3/index.json), latest versions of packages are not available on it, in a similar fashion such as reported before (2016): https://github.com/NuGet/NuGetGallery/issues/2927

### A few examples (as of time of writing 12.03.2019):
#### NuGet.Configuration:
Request: https://api.nuget.org/v3/registration3/nuget.configuratio

[2019-03-12 14:32] ntrpnr commented on #1827
Same issue with VS2017 15.9.8. Nuget package published to Azure Devops.

[2019-03-12 15:18] BackTrak commented on #7842
Adding the dotnet restore in the teamcity build pipeline fixed this for me as well, thanks for the tip Colin! It's interesting that running dotnet publish directly on the build server without using teamcity works fine, but running the same command under teamcity always fails with this error.

[2019-03-12 15:54] dtivel commented on #7842
@ColinM9991, @loop-evgeny, or @BackTrak, can you provide me with a repro?

Are you using a credential provider?  If yes, which one?  ([Azure Artifacts Credential Provider](https://github.com/Microsoft/artifacts-credprovider), perhaps?)

How many package sources are you using?

[2019-03-12 16:34] nimDevOps commented on #7251
I've also faced NU3008 but with another package Grpc.Core.1.17.1.
How I troubleshooted this: first I added nuget.exe install -Verbosity detailed ...
That gave me more output.

I tried to install this package from company NugetServer server which is **http** source,
and 'nuget install' command failed for any nuget.exe starting from 4.6.2 and later (validation of signed packages). Then I changed the

[2019-03-12 19:17] TFTomSun opened #7870 "globalpackagesfolder in nuget.config is ignored in alpine linux"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
dotnet

NuGet version (x.x.x.xxx):
NuGet Command Line
4.9.0.6

dotnet.exe --version (if appropriate):
 2.1.503

OS version (i.e. win10 v1607 (14393.321)):
 OS Name:     alpine
 OS Version:  3.7
 OS Platform: Linux
 RID:         alpine.3.7-x64

Worked before? no

1. create a Nuget.Config in a ro

[2019-03-12 19:58] zivkan opened #7871 "Conform to Source Build requirements"
dotnet/core-eng#5279

[2019-03-12 20:04] DoRonMotter opened #7872 "Migrate Linux Testing to private VM pool"
We're currently using a pool managed by DDIT, let's transition to a Azure DTL based machine pool.

[2019-03-12 20:06] DoRonMotter opened #7873 "Investigate noise in Functional / Windows tests"
Currently there are tests which only pass occasionally, understand the set of flaky tests and address.

[2019-03-12 20:09] DoRonMotter opened #7874 "Investigation of Performance Issues in NuGet.exe / NuGet VS"
Take a broad pass over all VS customer submitted issues, github issues, NPS survey feedback, UIDelays, etc.  Summarize issues into key areas and begin prototype / investigation for performance improvements.

[2019-03-12 21:09] zivkan commented on #7673
Today we released a fix for all affects products (nuget.exe, dotnet cli/sdk, VS for Mac, Mono): https://portal.msrc.microsoft.com/en-us/security-guidance/advisory/CVE-2019-0757

The fixed binaries do not change permissions of existing files on disk, so you should either delete the files and restore again, or fix the permissions yourself. But the updated binaries will now respect umask when creatin

[2019-03-12 21:09] #7673 closed, assigned to zivkan

[2019-03-12 21:58] dtivel opened #7875 "Signing: chain building errors when timestamping"
Hi,

I have a very similar issue but can't figure out what's the root cause.
Can anyone help ?

![capture d ecran 2019-02-26 a 14 38 08](https://user-images.githubusercontent.com/3051737/53416610-277f1280-39d4-11e9-85b4-1fe55b92494c.png)

_Originally posted by @Dammmien in https://github.com/NuGet/Home/issues/6861#issuecomment-467441344_

[2019-03-12 22:09] dtivel commented on #7875
@Dammmien, it looks like NuGet.exe is unable to build a chain for the timestamping certificate.  Do you have any network restrictions that would affect your ability to reach any digicert.com URL's?

Do you have signtool.exe available?  If so, here's something to try:

1. Make a copy of your signed package and rename its extension from .nupkg to .zip.
2. Extract .signature.p7s.
3. Open a command pr

[2019-03-12 23:07] Eilon commented on #7341
From @bricelam:

We started seeing NuGet/Home#7341 after upgrading the .NET Core SDK from 3.0.100-preview-010010 to 3.0.100-preview4-010612. The corresponding NuGet versions are 5.0.0-preview1.5663+7bdbabc8a5038373ef972363beff6afff50e2469 and 5.0.0-rtm.5821+cf25cc76caccfa6f68e4c74d7d326fef9f9aa3d4.

[2019-03-12 23:15] agshah opened #7876 "NuGet LicenseURL to License transition"
Hi all,
I updated our nuspec file to use license.txt as below:

Basically I removed <licenseUrl> element
and added below one line instead:
    <license type="file">license.txt</license>

I used nuget.exe to pack our NuGet package.

When using VS2017 update 15.9.5, i can see the license.txt when installing the package.
But I have another VS2017 with update 15.7.6 and instead of license.txt I see ur

[2019-03-12 23:23] #7859 closed, assigned to dtivel

[2019-03-12 23:55] dominoFire commented on #7863
Hi @Amine-Smahi,

It seems that the package only supports netcoreapp3.0 and not previous versions of netcoreapp.

I will close the issue since it is not a bug. If you have more questions about NuGet, feel free to use stackoverflow.com

[2019-03-12 23:55] #7863 closed, assigned to nobody

[2019-03-13 00:27] fowl2 commented on #5602
are there plans for a **`nuget`**`restore --locked-mode`? Without this it seems like it's impossible to use the lock file on Azure Pipelines for framework/non-dotnetcore projects.

[2019-03-13 01:49] anangaur commented on #5602
@fowl2 Can you try `msbuild` instead:

 `msbuild.exe /t:restore /p:RestoreLockedMode=true`

[2019-03-13 09:02] GirishVilli commented on #5553
Hi, Any update on this issue. Need a solution to control dependency resolution behavior for transitive dependencies

[2019-03-13 14:11] jaime-olivares commented on #7876
Apparently your xml tags are not being shown in your question. Use tick fences, like:

[code]

that will output:
[code]

[2019-03-13 15:37] adun commented on #4234
I ran into this issue today with NuGet Version: 4.9.3.5777.

[2019-03-13 17:15] dominoFire commented on #7867
Thanks for your suggestion, @ridomin, a couple of questions:

1. Which blog post are you referring to? Maybe this?: https://blog.nuget.org/20181205/Lock-down-your-dependencies-using-configurable-trust-policies.html
2. What would happen with the `-configFile` flag in `nuget.exe config`?

[2019-03-13 17:55] anangaur commented on #7865
`Owners` is a NuGet Gallery concept. Once you upload a package to NuGet.org or any other NuGet Gallery that supports users/owners, this field should be set automatically on the Server. This field should **\*\*not\*\*** be set in the nuspec and if set will be ignored.

[2019-03-13 17:56] nkolev92 commented on #7815
Is it a good idea to do a breaking change like this in 5.1?

[2019-03-13 17:59] anangaur commented on #7815
Can we do this in nuget.exe 5.0 instead and follow up on dotnet asap?

[2019-03-13 18:10] nkolev92 commented on #7815
Actually, in dotnet.exe it's going to look like a breaking change regardless.
We are inserting into 2.1, 2.2 & 3.0.

So we will just have to bite the bullet and deal with the fall out.

[2019-03-13 18:29] Lizzy-Gallagher commented on #7646
@jainaashish @rrelyea  I am still seeing this error but only when the project reference is a Console project. I was able to reproduce today with NuGet 4.9.4.5839. Happy to open another issue with a similar repro.

[2019-03-13 18:45] agshah commented on #7876
thanks for the suggestion. Let me try what you say:

Basically I removed element:
[code]

and added below line instead:
[code]

[2019-03-13 18:52] dtivel opened #7877 "Test: NuGet.Core.FuncTest.DownloadTimeoutStreamTests.DownloadTimeoutStream_TimeoutSync is flaky"

[2019-03-13 18:58] nkolev92 commented on #7765
Closing per my above comment.

[2019-03-13 18:58] #7765 closed, assigned to nobody

[2019-03-13 19:01] mikkelbu commented on #7414
Ps. We solved the problem by inserting the following element in the project file
[code]

[2019-03-13 19:02] dtivel opened #7878 "Test: NuGet.CommandLine.Test.NetworkCallCountTest.NetworkCallCount_RestoreLargePackagesConfigWithMultipleSourcesWithPartialMissingPackages occasionally times out on macOS"
Test `NuGet.CommandLine.Test.NetworkCallCountTest.NetworkCallCount_RestoreLargePackagesConfigWithMultipleSourcesWithPartialMissingPackages` is flaky on macOS.
[code]
From test history, when the test passes, it completes in ~10 seconds.  When it fails, it times out after 3 minutes.
![image](https://user-images.githubusercontent.com/12734758/62009175-1e27dc80-b111-11e9-86d3-b7df073e701f.png)

[2019-03-13 19:43] nkolev92 commented on #7341
Mike's comment suggests 2.2.100 https://github.com/NuGet/Home/issues/7341#issuecomment-462465001, which contains 4.9.2.

So I'd imagine there's an issue in builds earlier than the commit list by Brice.
It could be that we have 2 different issues though.

https://docs.microsoft.com/en-us/nuget/release-notes/nuget-4.9-rtm

@zivkan summarized it well in an e-mail threads.

Things that you can do to h

[2019-03-13 20:22] rjgotten commented on #7865
Here's what the `nuspec` reference at https://docs.microsoft.com/en-us/nuget/reference/nuspec has to say:

That description only states it is ignored by nuget.org when uploaded to the official gallery. Not that it is ignored when building the package itself. Moreover it states that the `owners` field is _often_ the same as the `authors` field. Which implies it is **not** _always_ the same, i.e. it

[2019-03-13 20:29] dominoFire commented on #7869
By default, all preview versions in packages are not showed in the PackageManager UI for Visual Studio. You can list preview packages by checking the "Include prerelease" checkbox.

For more information on how to query the API for specific package info, look for the
[NuGet documentation](https://docs.microsoft.com/en-us/nuget/api/overview ); in special, [Package metadata](https://docs.microsoft.co

[2019-03-13 20:29] #7869 closed, assigned to nobody

[2019-03-13 20:58] nkolev92 commented on #7815
@loic-sharma thinks we can detect the SDK version and make a decision based off of that, avoiding a breaking change for 2.x SDKs.

`NETCoreSdkVersion` is a property that the SDK sets.

@nguerrera @dsplaisted is this a standard SDK property that NuGet could potentially use?

Personally I'm not sure if the pack targets should contain knowledge about their distribution vehicle.

[2019-03-13 20:59] nkolev92 commented on #7815
Another idea that @loic-sharma raised is having the SDK changing the default in 3.0 and later versions rather than making the change in the pack targets.

[2019-03-13 21:21] karann-msft commented on #7867
@dominoFire yes that's the right blogpost. The point is the user shouldn't have to explicitly specify `-configfile` if the currenty directory already has a nuget.config file.

[2019-03-13 21:23] anangaur commented on #7865
I am reopening the issue based on your comment. Though I am not convinced that this is a metadata that needs its place in csproj, but good to have the discussion going and do the **\*\*right\*\*** thing.

Where do you typically upload/put this package? I am asking this to understand where would you typically look at the `owner` information with rest of the package details. Does it have any impact

[2019-03-13 22:10] dominoFire commented on #7876
Hi @agshah , there's nothing wrong with the license file.

In the release of NuGet 4.9, we announced the support for [licenses in self-contained NuGet packages](https://docs.microsoft.com/en-us/nuget/release-notes/nuget-4.9-rtm). Previously released NuGet clients that don't support embedded licences will show instructions (i.e. the https://aka.ms/deprecateLicenseUrl URL) for reading the license in

[2019-03-13 22:10] #7876 closed, assigned to nobody

[2019-03-13 22:13] dtivel opened #7879 "Test: NuGet.Packaging.Test.SignedPackageArchiveUtilityTests.RemoveRepositorySignaturesAsync_WithMultipleCountersignatures_ReturnsSignedPackageWithoutRepositorySignatures occasionally fails"
The reason is that ZIP offsets are hard-coded while other inputs to a package are variable.

[2019-03-13 22:44] rjgotten commented on #7865
I happened to come across the owner information anomaly while inspecting version information for a previously built package in Nuget Package Explorer, and things rolled from there.

As far as I'm concerned, this is a matter of having the right data in the package, preserved over time. Also in earlier released versions of the package. Incase the Package Manager UI ever _changes_ to incorporate the

[2019-03-13 23:15] anangaur commented on #7865
Totally agree to this part - We do need to clean up our act on `owner`/`author` issues and come up with a consistent messaging and recommendation around them to avoid the perennial confusion.

[2019-03-13 23:24] zivkan commented on #7840
@jeffkl so I understand, are you asking for this so that git no longer says the file has changed, or is this causing restore failures?

I'm testing some scenarios around projects with the same name but different casing on Linux to see if the proposed change would be a problem. So far it seems to be that there are several other issues that prevent same-name, different case projects working, so writ

[2019-03-14 00:22] nkolev92 commented on #7341
It'd also be helpful to run restore `/v:d`, to allow us to see the full stack trace.

[2019-03-14 00:23] dominoFire commented on #7869
An additional note, in the case of the `RegistrationsBaseUrl` (i.e. https://api.nuget.org/v3/registration3/), it doesn't list package versions with SemVer 2.0.0 enabled; that's the reason why the examples doesn't fetch the latest versions.

You can use `RegistrationBaseUrl/3.6.0` (i.e. https://api.nuget.org/v3/registration3-gz-semver2/) for fetching package versions with SemVer 2.0.0; for example:

[2019-03-14 03:13] DevKumar4Git opened #7880 "Pre-release floating version doesn't resolve to the latest package."
I have this in my proj file.

[code]

On my feed, these are the pre-release packages with versioning implemented as Major.Minor.Patch. Patch gets incremented on a daily build.
0.1.35-alpha-313f0dda
0.1.38-alpha-ae402cd9
0.1.41-alpha-630080c4
0.1.42-alpha-f5e4e8e7
0.1.43-alpha-1942086d

The floating version 0.1-* doesn’t pick up the latest package, rather it gets the lowest one (0.1.35-alpha*).

Is

[2019-03-14 08:42] amoghadithya007 commented on #7251
I am facing the same error, after trying to install Selenium WebDriver 3.141.0 to Visual Studio 2017.
I have tried clearing the Nuget Cache, verifying the https source, restoring the package, downloading the package manually and installing it with the package manager console. But none of those methods work.

I am able to install "Selenium.Chrome.WebDriver" from the same source. This seems to be an

[2019-03-14 09:22] VladDerptastic commented on #7869
Perhaps I wasn't clear enough in my original text.

I was aware how to fetch them using the UI, but I was looking to query the API from code and get the latest version there, but the API endpoint I used did not produce the latest version (I was using the UI to manually validate my results against, which is why I mentioned it).

However your additional note addressed and clarified that. Thank you!

[2019-03-14 12:55] sbacquet commented on #4234
Same issue with 4.9.3.5777.
Had to replace $author$ with $authors$ manually.

[2019-03-14 13:15] xavierpena commented on #3891
@dozer75 I am exactly in the same state. Did the drawing board give you any answers?

Just to be clear, this is the dependency chain:

`PrivateProjectA` <-- `PrivateProjectB` <-- `PublicNugetPackageX`

@WallaceKelly 's workaround works totally fine _if_ you don't have the last `PublicNugetPackageX` dependency.

In that case, at runtime you have encounter the following error:

    System.IO.FileNot

[2019-03-14 13:53] nimDevOps commented on #7251
Just tried from git.bash terminal, not a problem for me: (NuGet Version: 4.9.2.5706)
$ nuget install Selenium.WebDriver -Version 3.141.0  -Source https://api.nuget.org/v3/index.json -OutputDirectory ./out
Feeds used:
  C:\Users\build\.nuget\packages\
  https://api.nuget.org/v3/index.json

Attempting to gather dependency information for package 'Selenium.WebDriver.3.141.0' with respect to project '

[2019-03-14 14:30] PeteBoyRocket commented on #4103
@Falconne to use `dotnet add package` to update packages you need to know the current packages used. How did you get that information?

Edit: never mind, found it! https://github.com/NuGet/Home/wiki/dotnet-list-package
`dotnet list package`

[2019-03-14 15:55] rrelyea commented on #7880
We don't have support for "x.y.*-*" yet, but are planning on something like that in the future.
So, don't think you have the ability to float prerelease, given your versioning strategy.

If you could keep the third set of digits to be the same, then you could float the prerelease part of version:
"0.1.0-*"

[2019-03-14 15:56] rrelyea commented on #7880
Note...this request is covered in: https://github.com/NuGet/Home/issues/912

[2019-03-14 15:57] #7880 closed, assigned to nobody

[2019-03-14 16:13] #7877 closed, assigned to dtivel

[2019-03-14 16:13] emz00 commented on #7842
I can't repro this intentionally, it only happens occasionally when running in TeamCity. We're not using a credentials provider and the only package source is the official NuGet one.

[2019-03-14 16:23] jeffkl commented on #7840
I haven't seen restore errors but I do see the lock file churning.  I keep hitting https://github.com/NuGet/Home/issues/7646 so its been hard to test lock files for our use.

[2019-03-14 17:00] knasher commented on #3891
@xavierpena I'm finding the same issue myself, I would be very interested if you come up with a solution

[2019-03-14 17:11] BackTrak commented on #7842
I think I found a clue. When TC is running dotnet restore, it is adding a response file on the command it is executing like this:

[restore] Starting: "C:\Program Files\dotnet\dotnet.exe" restore Dev\Application.sln --runtime rhel.7.2-x64 @D:\TC\temp\agentTmp\1.rsp

Unfortunately, TC is removing this file before I can grab it and see what's in there.

This command fails with:

[11:18:23][restore]

[2019-03-14 17:27] ColinM9991-zz commented on #7842
@BackTrak unless I'm mistaken, the rsp files which TeamCity generates are used to provide output back to you via the build logs from each individual step, they are essentially merged together into one bigger log file.

The certificate installation makes sense, though even with logging set to Detailed I have seen no errors about this on our build agents which are elastic instances in AWS. I will pi

[2019-03-14 17:32] xavierpena commented on #3891
@knasher I have built a standalone solution. I have tested it on a project with lots of sub-dependencies and it works.

Here it is:

https://gist.github.com/xavierpena/6d6999923072e8d6b4ce0d604d88c8cd

Usage:

    var conf = new PackageConfig()
    {
        ArtifactsFolder = @"C:\test\nuget\artifacts",
        NugetOutputDirectory = @"C:\test\nuget\export",
        ProjDirectoryPath = @"C:\code\M

[2019-03-14 17:59] #7843 closed, assigned to nkolev92

[2019-03-14 20:20] red8888 commented on #6379
how can you set the version from command line? I do this with nuget pack now:
`nuget.exe pack myapp.csproj -IncludeReferencedProjects -Properties Configuration=Release;prerelease=INeedToSetThisFromTheCommandNotStaticConfigFile-123`

[2019-03-14 22:47] shubham90 commented on #7845
@nkolev92 I think this is a good change to capture the cause. Could you please add this to 4.9.* patch as well so that we can test it with next dotnet sdk release?

[2019-03-14 23:35] #7879 closed, assigned to dtivel

[2019-03-15 00:27] rrelyea commented on #7842
Updated my earlier comment...but also wanted to say this here too:
i mistakenly thought that issue was identical to issue 7837 - we are not on path to address this - but would love continued details to help understand when it is happening, etc...

[2019-03-15 00:55] danpowell88 commented on #7699
Also getting this same issue on Teamcity as @DomZZ , detailed verbosity does not seem to add any more information, it has been around for a few versions of nuget at least

I worked with our ops team and they dont believe there is any filtering/firewalls in place, and I would assume so saying we can rerun the step directly after and it will work.

Ive also had this happen on windows server 2012 and

[2019-03-15 01:54] rrelyea opened #7881 "Upgrade fails with "Unable to find metadata of <somepackageid>" if a package is in fallback folder, but not remote feed"
PackageA v2
   depends on
       PackageB v3
Those 2 packages are in a fallback folder only.

Upgrade Package A to v4

PackageA v4
    depends on
      PackageB v5
Those 2 packages are not in the fallback folder, but are available in a package feed.

Believe an error message is raised from UIActionEngine - line 806.
At first look, it looks like, for licensing dialog reasons, we are trying to find

[2019-03-15 04:08] eerhardt commented on #7591
I assume this bug was fixed in the .NET Core SDK `2.2.105`? I am seeing this issue with `2.2.103`, but not `2.2.105`.

[2019-03-15 10:02] v-luzh opened #7882 "Only one package is highlighted when updating multiple packages at the same time in PM UI"
## Details about Problem
NuGet version: NuGet Client Dev\5.1.0.5896
VS Version: D16.1stg\28714.42
OS: Windows 10 RS4_Release 17134.1.180410-1804

## Detailed repro steps
1. Create a Console App (.NET Framework) in VS.
2. Open PM UI of this project and install multiple packages (not the latest version).
3. Click “Upadates” tab, check “Select all packages” and click “Update” button.
## Expected
All

[2019-03-15 12:06] rrelyea commented on #7882
@v-luzh  — when did this last work? (Need details on regression status)
(Did it work in 15.9? Etc)
Did it work in 16.0?

Update- i fixed my typo

[2019-03-15 17:36] nkolev92 commented on #7605
https://github.com/dotnet/cli/pull/10721#issuecomment-473372010

CLI folks want to take the CLI change in 3.0.1xx.

fyi @rrelyea We can try to argue otherwise or listen for feedback.

[2019-03-15 17:45] rhyous commented on #6553
@snnz This is pretty cool. It _could_ decrease the problem. There are issues with this suggested solution.

Pros:
1. This changes the default to Copy Local false from Copy Local true.

Cons:
- It doesn't fix the problem, it just allows you to choose the default. If the default is false, then when you _do_ need a dll to be copied, you have to change Copy Local to true, and the problem returns, just

[2019-03-15 17:50] daveaglick commented on #4940
Just hit this and spent several hours chasing the wrong problem given the totally incorrect error message:

[code]

[2019-03-15 18:51] loic-sharma opened #7883 "nuget.exe setapikey does not automatically update Symbol Server apikey"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 4.9.4.5839

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Run `nuget setapikey **

[2019-03-15 19:08] StingyJack commented on #6553
@rhyous - can I ask why you aren't using package reference? Its one redeeming feature is that it resolves all these hint path problems.

If you don't need any of the package.config functionality that it is missing, it seems like it would solve a large part of your troubles.

[2019-03-15 20:11] tiagoavila commented on #6743
I've followed the @Serjster 's example and changed a little bit to generate the files inside ProjectDiretory instead of MSBuildProjectDirectory.

That's my csproj file:

    <ItemGroup Label="Packaging">
        <Content Include="build\PackageToGenerateFile.targets" PackagePath="build\PackageToGenerateFile.targets" />

        <Content Include="scriptsToGenerate/*.js">
          <Pack>true</Pack>

[2019-03-15 20:23] rrelyea commented on #7881
My impression is that 15.9 was testing update from 6.2.3 to 6.2.8 of the main UWP package.
16.0 was testing update from 6.2.7 to 6.2.8 of the same package.

A) in the 15.9 case for 6.2.3, there were ~21 package updates.
B & C)While moving from 6.2.7 to 6.2.8 in 15.9 or 16.0, there were only 12 package updates.

In order to show license info, nuget needs to get metadata (nuspec) for each package.
I

[2019-03-15 21:04] tullo-x86 commented on #4521
Here's a link to a specific commit, so that the line numbers don't go out of sync with the code: https://github.com/NuGet/NuGet.Client/blob/8d300225298df9c6af6c784efffa7522109f0096/test/NuGet.Core.FuncTests/Dotnet.Integration.Test/PackCommandTests.cs#L379-L391

[2019-03-15 21:26] nkolev92 commented on #7847
@joelverhagen Are you still able to reproduce this?

[2019-03-15 21:29] joelverhagen commented on #7847
All good now!

![image](https://user-images.githubusercontent.com/94054/54462972-be670100-472e-11e9-9a73-47375faa90ce.png)

[2019-03-15 21:36] nkolev92 commented on #7816
There are 2 reported repros of this issue.

- Empty dependencies element + tags element with values
- Empty dependencies element + tags element without values.

Testing on the latest d16.0 Preview 4.2, I was not able to reproduce either one.
The reported by Joel with an actual package given did not repro for me either.

Looking through the code, the margin's seem right and it wasn't fully obvious

[2019-03-15 22:24] AceHack commented on #3891
Any update?

[2019-03-15 22:44] agr opened #7884 "Outdated help for delete command"
[code]

[code]

Notice the suggestion to use `-NoPrompt`. Now, of you actually use it, you get the following warning:

[code]

Help text should be aligned with warnings.

[2019-03-15 23:26] dtivel opened #7885 "Test: add symbols to EndToEnd.zip"
API.Test.dll symbols aren't dropped anywhere.

[2019-03-16 00:02] zachpainter77 commented on #3891
what is the accepted workaround here...
I need to add files to the file element in the generated nuspec file.

[2019-03-16 09:52] niwrA commented on #3891
Fair enough, I would indeed always have the contracts as a separate package, so would not run into this issue very quickly. If I would want to link up the versions between for instance a contract and a client that implements it, I would probably do that differently, for instance as a build requirement in CI.

[2019-03-16 12:33] dozer75 commented on #3891
@xavierpena Well, I am dropping dotnet pack and using nuget pack instead and will create a nuspec file manually with all configuration in that one. It will require some manual work but my project won't get many assemblies so it's not an issue.

[2019-03-16 13:41] dtivel opened #7886 "Test: MigrateVanillaUwpProjectJsonToPackageReference consistently fails in Dev16 test runs"
The reason is that the [requested Windows 10 SDK build (10.0.14393.0)](https://github.com/NuGet/NuGet.Client/blob/23b76fef368db1df85d4ff5418bb66c25c499c29/test/EndToEnd/ProjectTemplates/UwpClassLibraryProjectJson.zip/ClassLibrary6.csproj#L14) is not installed by default.

[2019-03-17 05:49] karann-msft opened #7888 "typo in nuget trusted-signers -h examples"
![image](https://user-images.githubusercontent.com/16904420/54485878-b649b700-483d-11e9-8cfb-017ac20480f0.png)

should be
`nuget(no-hyphen but space)trusted-signners....`

[2019-03-17 16:04] eltiare commented on #7839
This is a major pain point for anyone who has more than one feed to deal with and works from the command line.

[2019-03-18 08:37] v-longmin commented on #7816
@nkolev92 No, the issue does not repro on D16.1stg 28717.10 + NuGet Clinet Dev\5.1.0.5896.

[2019-03-18 08:38] v-luzh commented on #7882
@rrelyea, It is not a regression issue. It also repro on D16.0 28625.133 (NuGet 5.0.0.5856) , D15.9 28307.158 (NuGet 4.9.3.5777) and D15.8 28010.2050 (NuGet 4.8.1.5435).

[2019-03-18 14:12] commonsensesoftware commented on #4989
Adding to the mix... I just ran into this problem between `Microsoft.Extensions.Primitives` and the NuGet libraries themselves because the NuGet libraries are linking the source files via a submodule rather than referencing the package. I'm not sure what the rationale behind that is, but it led to me needing an alias.

To expand upon @davethieben solution, if you need an alias for a **transitive**

[2019-03-18 16:23] #7885 closed, assigned to dtivel

[2019-03-18 16:24] #7886 closed, assigned to dtivel

[2019-03-18 17:09] nkolev92 commented on #7816
While this does seem like something that needs fixing, I'm not sure I can do much without a repro on my end. Given that it's a very spotty repro I'd suggest moving to this to a future milestone.

@rrelyea thoughts?

[2019-03-18 17:31] nkolev92 commented on #7819
@anangaur @karann-msft

I am linking to https://docs.microsoft.com/en-us/nuget/reference/extensibility/nuget-cross-platform-authentication-plugin in the warning message.

Can I get a redirect link to account for the docs potentially changing.

[2019-03-18 17:47] livarcocc opened #7889 "RestoreLockedMode: Unexpected NU1004 when ProjectReference refers to a project with custom AssemblyName"
_From @patrikbeno on March 17, 2019 12:23_

## Steps to reproduce

[code]

[code]

## Expected  behavior

`dotnet restore -f --locked-mode` completes without error.

## Actual behavior

[code]

## Environment data
`dotnet --info` output:

tested in latest `dotnet/core/sdk:2.2-alpine` docker image

[code]

_Copied from original issue: dotnet/cli#10988_

[2019-03-18 17:47] livarcocc commented on #7889
_From @patrikbeno on March 17, 2019 19:30_

also tested in latest 3.0 preview:
[code]

[2019-03-18 18:18] karann-msft commented on #7819
https://aka.ms/nuget-cross-platform-authentication-plugin

[2019-03-18 20:57] nkolev92 commented on #7816
Synced up during stand-up.

Moving this to a future release until we get a better repro.

[2019-03-18 21:03] peterhuene commented on #7815
@nkolev92 @rrelyea that's a property that's set in the bundled props which will be imported by the .NET Core SDK automatically, so it's "standard" in the context that it should be available when restoring/building an SDK project.

[2019-03-18 21:48] #7819 closed, assigned to nkolev92

[2019-03-18 22:00] nkolev92 commented on #7605
The NuGet wiring of the command is in.
So once a successful restore is run which authenticates then the users should be able to do dotnet list with no problem.

The --interactive switch will only happen in 3.0.1xx on CLI side.

[2019-03-18 22:01] nkolev92 commented on #7715
I can repro the problem.
This is not a regression and as such it's priority is lower.

The design of the whole Options dialog is super weird (mix of elements that both resizable and not.
I'll play around a bit to see what can be done.

[2019-03-18 22:14] dominoFire commented on #7753
Can we include updating the help commands?

https://github.com/NuGet/Home/issues/7884

[2019-03-18 22:51] mnmr opened #7890 ""dotnet list package --outdated --include-transitive" also checks project references"
When using "dotnet list package --outdated --include-transitive", project references are listed as "Not found at the sources", but it would make more sense to not list/check these at all.

Using dotnet.exe v2.2.201 on Windows 10.

[2019-03-18 23:04] mnmr commented on #7785
I'd just like to add to this issue that it would be nice if the use of Directory.Build.targets was picked up not just by the command line tools, but also by stuff like the NuGet package manager. Currently, it is way to easy to accidentally add or update a package "the wrong way", and it's cumbersome to first have to find the package in the UI and then have to go to the CLI to actually add it.

[2019-03-18 23:18] rrelyea commented on #7753
Summary of our plans:
1. nuget list
	--> nuget search
	--> nuget list --> get a deprecation message, use search.

2. nuget add
	- nuget add -> get a deprecation message, use push
Nuget push / dotnet push
	- add functionality from nuget add -- to be able to "push" to a file feed

3. pack (nuget and dotnet.exe)
	We should also deprecate (i.e. warn) usage of Summary field in the nuspec
	instead, tehy

[2019-03-19 02:10] TechInceptions commented on #5467
Having the same issue. Along with "Error occurred while restoring NuGet packages: An item with the same key has already been added.
"
The confilcts go on for a while ...

 error NU1106: Unable to satisfy conflicting requests for 'Microsoft.Extensions.DependencyInjection': Microsoft.Extensions.DependencyInjection (>= 2.2.0) (via package/Microsoft.AspNetCore.Mvc 2.2.0), Microsoft.Extensions.Dependen

[2019-03-19 03:29] nsmithdev commented on #4837
Looks like a solution was added and merged here.
https://github.com/NuGet/NuGet.Client/pull/2271

The `GeneratePathProperty` attribute was added to PackageReference

[code]

[code]

Check your `<project>\obj\<project>.csproj.nuget.g.props` to verify the variables are generated

Variables are prefixed with `Pkg`.  It sounds like they are automatically generated for all nuget packages with a tools f

[2019-03-19 04:13] ignatandrei commented on #7752
json will be good to have.

[2019-03-19 10:06] hugonavak commented on #6581
Same error.

[2019-03-19 11:19] ColinM9991-zz commented on #7842
@dtivel

I have created a .NET Core repository and build definition in TeamCity which runs every on a schedule every 2 hours, once a build has failed for this reason then I will provide the TeamCity build configuration and repository source files in a GitHub repository.

[2019-03-19 19:43] dtivel opened #7891 "Test: NetCoreProjectExecuteInitScriptOnlyOnce test consistently fails"
[code]

[2019-03-19 20:43] loic-sharma commented on #2122
@rrelyea Can we close this issue? We've introduced "snupkg" NuGet packages that cover this :)

[2019-03-19 20:49] loic-sharma opened #7892 "Include symbols by default"
The [snupkg spec](https://github.com/NuGet/Home/wiki/NuGet-Package-Debugging-&-Symbols-Improvements#solution-) mentions:

Currently, symbols are not generated by default. We should consider making this the default experience. See also: https://github.com/NuGet/Home/issues/7815

/cc @rrelyea @karann-msft @anangaur

[2019-03-19 23:15] nkolev92 commented on #7605
CLI PR has been retarget to 3.0.1xx in https://github.com/dotnet/cli/pull/10994.

[2019-03-19 23:18] anangaur commented on #7843
@nkolev92, Is this feature documented somewhere? I couldn't find an issue that summarizes what we did finally?

[2019-03-19 23:22] nkolev92 commented on #7843
@anangaur It wasn't publicly advertised on purpose iirc.

Basically `no`, there's no documentation, it's just the issue. It should probably have been summarized in a desgin doc at the least however.

[2019-03-19 23:41] anangaur commented on #7843
Can you just create an issue on docs repo? Seems like an interesting and useful property.

[2019-03-20 00:02] nkolev92 commented on #7843
@anangaur
https://github.com/NuGet/docs.microsoft.com-nuget/issues/1355

[2019-03-20 03:45] hyankov commented on #5877
Work faster.

[2019-03-20 17:40] bricelam commented on #7341
Here's a binlog for the error we're seeing on macOS.

[Build.zip](https://github.com/NuGet/Home/files/2989423/Build.zip)

[code]

[2019-03-20 20:28] nkolev92 commented on #7892
I don't think symbols should be generated by default.

I'd say, we need at least > 50% of the pack runs to be with symbols generated.

Now we don't have the data for that, but can we comfortably say that 50% of all pack runs need symbols?
I'd say symbols are only needed by default when you are going to publish the build output on a feed.

In my opinion, this would just add unnecessary overhead, an

[2019-03-20 21:08] anangaur commented on #7892
I can argue both ways 😐. Let keep this open and see if it garners interest. We can come back to this once we have the community showing interest in it.

[2019-03-20 22:09] aeos opened #7893 "unable to build project using msbuild pack target with NuGet.Build.Tasks.Pack"
## Details about Problem

I am using a combination of: CakeBuild, MSBuild with NuGet.Build.Tasks.Pack
I am building a csproj file targeting .net framework 4.5.2. When I add the pack target to the msbuild command it fails to build complaining about the project.assets.json which is not present in the obj folder.

NuGet version (x.x.x.xxx): 4.9.3.5777
VS version (if appropriate): 15.9.9
OS version: w

[2019-03-21 00:03] ericstj opened #7894 "Manifest.ReadFrom fails on any nuspec with LicenseExpression"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2019-03-21 06:11] ashtonian commented on #2504
this is pretty annoying of an issue especially because I can't find any documentation on what the actual url is supposed to be on nuget.org, had to go through GitHub issues to find the url.

[2019-03-21 16:12] Zukka commented on #7001
There is a fix for this problem?

[2019-03-21 16:34] loic-sharma commented on #7892
I'm curious about this, when would someone pack a project but not publish to a feed?

The fact of the matter is, the vast majority of packages on nuget.org are not debuggable. This is largely because an author needs to opt-in to generate symbols. Could you imagine the benefits if instead authors had to *opt-out*? The .NET ecosystem would be dramatically better if developers could debug all of thei

[2019-03-21 16:54] mfkl commented on #7001
Also running into this. Modified date looks like `‎30 ‎November ‎1979, ‏‎00:00:00`

[2019-03-21 17:00] loic-sharma commented on #7892
Ah I forgot about `PackOnBuild`... Is this commonly used?

[2019-03-21 17:14] nkolev92 commented on #7892
We don't really have data on all those metrics unfortunately which our decision more difficult.

Take the dotnet repos (and the NuGet.Client repo itself).
Take PR/private builds for example. All of those pack. Most of those don't generate or archive symbols.

I understand that and I agree with you. But, which packages don't have symbols is way more important than whether packages have symbols.
Met

[2019-03-21 17:24] loic-sharma commented on #7892
Yeah, that's the sense I'm getting too now.

I think this would help. Should Visual Studio's `Package` pane for project properties have an `Include symbols` option?

[2019-03-21 17:30] nkolev92 commented on #7892
Maybe. The trouble I'm having is getting a representative sample of what people do & how they do it to make an educated decision.
If people use the UI to model their packages, I agree with you.

We really need a "best practices" guidance from the team since we feel strongly about these topics.

[2019-03-21 17:35] anangaur commented on #7892
Yup. We are indeed planning to make it a feature too, not just docs 🙂

[2019-03-21 17:45] nkolev92 commented on #7892
`nuget <verb> -bestPractice` 😆

[2019-03-21 18:33] jeffkl commented on #7889
@nkolev92 I think the issue is that the lock file is writing the project reference Id:

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/PackagesLockFileBuilder.cs#L76

But the verification uses the project file name:

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.ProjectModel/ProjectLockFile/PackagesLockFileUtilities.cs#L99

[2019-03-21 18:35] djkong7 opened #7895 "Allow package resource folders to be configurable"
This was posted to the codeplex site a long time ago and has been viewed many times on stack overflow (https://stackoverflow.com/questions/9989981/nuget-scripts-to-different-directory):

NuGet packages download JavaScript files to ~/Scripts

I prefer to keep my content organized in a ~/content folder, which contains

~/content/css
~/content/images
~/content/scripts
~/content/scripts/vendor (for pa

[2019-03-21 18:41] dtivel opened #7896 "Restore: improve error logging for exceptions"
* Exceptions are reported as an error [once per project](https://github.com/NuGet/NuGet.Client/blob/91d2331328d55ab9f450af1fbf184fc1f261ed25/src/NuGet.Clients/NuGet.SolutionRestoreManager/SolutionRestoreJob.cs#L428) in addition to one [global error](https://github.com/NuGet/NuGet.Client/blob/91d2331328d55ab9f450af1fbf184fc1f261ed25/src/NuGet.Clients/NuGet.SolutionRestoreManager/RestoreOperationLog

[2019-03-21 18:48] dtivel opened #7897 "Settings: PM UI sources shows no sources if one is an invalid file path"
If nuget.config has an invalid package source sandwiched between two valid package sources, NuGet Package Manager settings UI can fail to display any package source.  By "invalid" I mean, valid XML but an invalid package source value.  Ideally, the valid ones would be displayed and invalid ones would be marked in such a way so as to draw attention to the fact that they are invalid and not being us

[2019-03-21 20:35] jeffkl commented on #7840
@zivkan #7889 is much more critical and doesn't have a good workaround for large code bases.  I've investigated and found the root cause and have a potential fix here:

https://github.com/NuGet/NuGet.Client/commit/c7a02ffcce60087dc8cc091b2bfe8fb1aedab6cf

[2019-03-21 20:37] jeffkl commented on #7889
One workaround is to rename your project to the same as `<AssemblyName>`.  This can be painful for large repositories.  I have a potential fix here: https://github.com/NuGet/NuGet.Client/commit/c7a02ffcce60087dc8cc091b2bfe8fb1aedab6cf.  It uses the file name when writing the lock file to keep things consistent.

[2019-03-21 20:38] jeffkl commented on #7889
/cc @zivkan to get this on your radar

[2019-03-21 20:41] nkolev92 commented on #7845
@shubham90
Can you try increasing the verbosity of the command to `/v:d`.

That will contain information about the stack trace.

[2019-03-21 21:51] dominoFire opened #7898 "Cannot run tests from build script using VS 2019 Command Prompt"
## Details about Problem

**NuGet products used**
 - `NuGet.exe` version:  4.9.4.5839
 - `dotnet.exe` version: Sdk/2.2.202-preview-010036
 - Visual Studio version: v16.0.0-pre.4.3

**OS version**
Microsoft Windows [Version 10.0.17763.379]

**Worked before?**
Yes, using Developer Command Prompt for VS 2017 and with a non-preview version of dotnet 2.x

## Detailed repro steps so we can see the same

[2019-03-21 23:00] nkolev92 commented on #7341
That stacktrace suggests that NuGet cannot write to the obj folder, which does not make a lot of sense.

@bricelam Would you be willing to patch your dotnet CLI with NuGet bits that contain extra logging information?

fyi @dtivel

[2019-03-21 23:18] stas-lucky commented on #7341
I have never used Mono. The problem occurs on Azure DevOps agent, and it seems to be random. Run build again solves the issue

[2019-03-22 00:40] dtivel opened #7899 "Plugins: high collision rate in logging datetime values"
While `System.DateTime` precision is high, its accuracy is low relative to `System.Diagnostics.Stopwatch`.  See [this article](https://blogs.msdn.microsoft.com/ericlippert/2010/04/08/precision-and-accuracy-of-datetime/).

The result is that often log events have the identical `DateTime` values, and one can only guess at the correct ordering.

[2019-03-22 01:16] shubham90 commented on #7845
I have added this to the dotnet docker tests where we found the issue earlier. I will update if we hit this again with verbose logging

[2019-03-22 02:38] ctaggart commented on #6229
@Thealexbarney, how are you setting the timestamps?

[2019-03-22 03:15] ctaggart commented on #6229
Probably want to support `SOURCE_DATE_EPOCH` environment variable. and use a sensible default.

https://reproducible-builds.org/docs/source-date-epoch/
https://github.com/aspnet/BuildTools/issues/452

[2019-03-22 03:20] Thealexbarney commented on #6229
@ctaggart It's pretty hacky, but here's an example of making NuGet packages deterministic for simple projects

https://github.com/Thealexbarney/LibHac/blob/master/build/RepackNuget.cs
[Zip example](https://github.com/Thealexbarney/LibHac/blob/master/build/Build.cs#L338-L359)

[2019-03-22 04:39] xt0rted commented on #7268
I was pulling my hair out trying to figure out why nuget reinstall wasn't working for one of my projects, switched to VS2019 and it worked first try. Thanks for fixing this @jokokko 👍

[2019-03-22 09:31] madelson opened #7900 "Provide better support for "custom" target frameworks"
**Problem**

Creating a .NET assembly that can be used as "Safe" in SQL CLR has various limitations that aren't well captured by target frameworks today (and likely never will be), such as not allowing some usages of static variables (see https://docs.microsoft.com/en-us/sql/relational-databases/clr-integration/database-objects/clr-integration-programming-model-restrictions?view=sql-server-2017 fo

[2019-03-22 09:56] v-luzh opened #7901 "[Bug Bash] “Don’t show this again” is checked contradictorily after checking “Show preview window” option in PM UI"
## Details about Problem
NuGet version: NuGet Client Dev\5.1.0.5906
VS Version: D16.1stg\28721.190
OS: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps
1. Create a Console App (.NET Framework) in VS.
2. Open PM UI of this project and select a package in “Browse” tab (not the latest version).
3. Check “Don’t show this again” in the opened “Preview Changes” dialog and click “OK” bu

[2019-03-22 10:06] v-luzh opened #7902 "[Bug Bash][Accessibility] There is no horizontal scroll bar at the bottom of PMC window"
## Details about Problem
NuGet version: NuGet Client Dev\5.1.0.5906
VS Version: D16.1stg\28721.190
OS: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps
1. Create a Console App (.NET Framework) in VS.
2. Open PMC through clicking menu Tools-> NuGet Package Manager ->Package Manager Console.
3. Start shrinking width (to the left) of the VS Internal window.
## Expected
There should

[2019-03-22 11:10] Zukka commented on #7001
Thanks to my colleague Federico for the workaround:
1- Check if there is one or more files with date like 01/01/xxxx 00:00
![image](https://user-images.githubusercontent.com/6852409/54819030-fd4f0680-4c9a-11e9-868d-d1a621db68db.png)

2 - with Total Commander or other tools change the date value, for example in my fix I changed to 01/01/2018.
With Total Commander, select the file, then select menu

[2019-03-22 11:17] mfkl commented on #7001
That's a workaround for the bug, not a bugfix :) Both `7z` and `nuget` need a fix.

[2019-03-22 11:21] Zukka commented on #7001
Updated the comment. From fix to workaround ;)

[2019-03-22 13:31] #7899 closed, assigned to dtivel

[2019-03-22 14:15] x-light-ai opened #7903 "IVsPackageInstallerEvents"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2019-03-22 14:17] #7903 closed, assigned to nobody

[2019-03-22 15:26] igor84 opened #7904 "IconUrl defined as AssemlyMetadata isn't copied into generated nuspec file"
## Details about Problem
NuGet.exe version (4.9.4.5839)

At some point NuGet got the ability to read authors, owners and id from AssemblyMetadata attribute in AssemblyInfo.cs but other metadata like iconUrl are still not read from there. I guess something like this needs to be added to AssemblyMetadataExtractor.ExtractMetadata

`if (builder.Properties.ContainsKey("iconUrl")) builder.IconUrl = buil

[2019-03-22 16:22] nkolev92 opened #7905 "The bootstrapped pack target should be imported conditionally so source build works"
source-build runs /t:RestoreXPLAT to restore the NuGet libraries.

Now if they tried that on the latest NuGet repository it would fail because it won't find the pack targets bootstrapped by nuget.exe packages.config (note that they cannot run this cross-plat.)

As they only use this for building, the potential inconsistency with the pack output is ok.

[2019-03-22 16:23] #7905 closed, assigned to nkolev92

[2019-03-22 17:28] #7894 closed, assigned to nkolev92

[2019-03-22 18:00] zivkan commented on #7840
I should have chat with you earlier, but I've been out all week with the flu :(  I have started some discussions with others about storing the lower case project name in the lock file.

The specific scenario you used when opening the issue, where the case to the csproj is different in the sln and ProjectReference, this will cause one of the two to fail building on Linux, or on Windows or Mac when

[2019-03-22 18:04] jeffkl commented on #7840
Does the case of the project matter?  The value is gotten from MSBuild today which can vary because MSBuild just returns strings.  I thought the lock file can be lowercase because its just an index of what projects were referenced.  The full transitive closure of packages is already calculated in the other section so from my understanding the list of projects is only needed to help determine if th

[2019-03-22 19:09] zivkan commented on #7840
I didn't want to break or prevent a scenario that would otherwise work.

Having a quick chat with @nkolev92 about #7889, I think both issues can be resolved at the same time. My understanding is we'll try to align on using assembly name, not project filename, so filesytem casing will not be relevant.

[2019-03-22 19:42] jeffkl commented on #7840
It's important to understand that the "name" of the project does not always come from the file on disk.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L614

By default it is `$(MSBuildProjectName)`, then `$(AssemblyName)` and finally `$(PackageId)`.  The value of `MSBuildProjectName` value can come from the Solution file or a `<ProjectReference />`.

[2019-03-22 20:33] dominoFire commented on #7753
Discussed offline with @anangaur and @joelverhagen . For the `nuget.exe search` command, we should remove the following flags:

- ` -IncludeDelisted`

Please, correct me If I'm wrong

[2019-03-22 21:00] rrelyea commented on #7673
@gorazdzagar  -  thanks very much for bringing this to our attention.
@zivkan - thanks for hearing him...and getting this released for 4.3.x, 4.4.x, 4.5.x, 4.6.x, 4.7.x, 4.8.x, 4.9.x, 5.0 -- including coordination with mono, vs4mac, and dotnet sdk!

[2019-03-22 21:05] joelverhagen commented on #7753
See https://github.com/NuGet/NuGetGallery/issues/3274. `-AllVersions` does not work on V2, nuget.org.

[2019-03-22 21:06] joelverhagen commented on #7753
Also, we should define the expected behavior of multiple feeds on `nuget.exe search`.

[2019-03-22 21:09] nkolev92 commented on #7753
I think any changes to a command, beyond "let's deprecate", "let's change it's name" should have it's own issue.

Namely, the removal of includeDelisted should have it's own issue.

[2019-03-22 21:31] joelverhagen commented on #7753
@nkolev92 if we remove broken parameters now, then we can reduce breaks later if we remove them in a separate release. We are already ruffling feathers by deprecating `list`. Imagine the proactive user moves to `nuget.exe search` and is once again broken in a year when we find that `-AllVersions` or `-IncludeDelisted` doesn't make sense in the new polished `nuget.exe search` experience.

Do we rea

[2019-03-22 21:50] nkolev92 commented on #7753
I didn't mean to suggest don't do it now.

I just want a clear separation between the tasks + PRs.  Clear documentation of what's changing about list/search on a separate issue. It makes it easier for customers to understand what happened, and for us to review.

I'm fine if we do all of them in the same release.

[2019-03-22 22:02] rrelyea opened #7906 "Security Fix: Files inside of NUPKGs can have a relative path above the NUPKG directory"
We changed NuGet to not allow unzipping of package items if their relative path calculates to walk up the directory hierarchy.

For example if the relative path was "../foo.jpg" it used to extract foo.jpg in the parent directory of the root directory.

This was fixed in NuGet 4.8 / VS 15.8 / NetCore 2.1.400 before release.
It has also now been fixed in 4.0.1, 4.3.1, 4.4.3, 4.5.3, 4.6.4, 4.7.3 rele

[2019-03-22 22:03] #7906 closed, assigned to rohit21agrawal, zivkan, zhili1208

[2019-03-22 22:31] dtivel opened #7907 "Plugins: log when plugin process exits"

[2019-03-23 15:48] Latency commented on #7509
What is the MSBuild tag for replacement of the <LicenseUrl>?

The new build configurations 15.0+ will generate the .nupkg automatically so there is no need for .nuspec since it is been integrated into the IDE.

[2019-03-25 19:23] eerhardt commented on #5862
I wonder if we could somehow add a "hybrid" approach here to make progress where it really counts - our `linux` RIDs. (Windows and macOS RIDs don't really have this problem in the current world.)

Looking at the proposal for the next `manylinux` spec in Python- https://discuss.python.org/t/the-next-manylinux-specification/1043, the `Option 2: A ‘perennial’ manylinux` section seems to have a pretty

[2019-03-25 19:35] #7907 closed, assigned to dtivel

[2019-03-25 19:37] #7820 closed, assigned to dtivel

[2019-03-25 21:40] OkGoDoIt commented on #2867
It appears that this feature is currently live?  From reading the issue and spec document, I was under the impression that deprecation functionality has not yet rolled out, but just now I was able to set it on a package.  Is there a page tracking the current state of this feature?

[2019-03-25 21:52] nkolev92 opened #7908 "The obj folder should be created with Directory.CreateDirectory"
Originally reported in https://github.com/NuGet/Home/issues/7341.

Specifically this is the issue that @bricelam & team reported.

[code]

The scenario is restore on mac/linux & it repros equivalently  on 2.1, 2.2 and 3.0 preview runtimes.

NuGet writes to various directories during restore. NuGet uses the /tmp directory and as it’s a machine-wide directory NuGet has to create a directory that’s s

[2019-03-25 22:03] anangaur commented on #2867
@OkGoDoIt The feature is not yet live but in active development. A glitch in the roll out process made the current **not-fully-implemented** feature live, inadvertently, for some time.

We will announce when the feature will be fully functional and live. Apologies for the false-positive.

[2019-03-25 22:05] nkolev92 commented on #7341
Just the give you all an update on the investigation:

The symptoms of the problem are rather generic. The majority of reports are coming in about the `/tmp/NuGetScratch` folder, but I have not gotten a repro for those.

There's a newer problem that's not related to the `/tmp/NuGetScratch` directory that @bricelam reported that I have a fix for.

More info at:

https://github.com/NuGet/Home/issues

[2019-03-26 01:57] nkolev92 opened #7909 "Create a FrameworkReference & FrameworkReferenceGroups model"
Follow up to https://github.com/NuGet/NuGet.Client/pull/2745.

Create a FrameworkReference model that will allow us to extend it seemlessly rather than reuse than break existing customers.

The FrameworkSpecificGroup has that limitation at this point.

Furthermore, a FrameworkReference model will be a nice spot for the FrameworkReferenceComparer

[2019-03-26 06:20] 4c74356b41 commented on #7341
you even have a link to the public build with this error. there is nothing to repro. just do a dotnet build. this all happens on hosted agents, so running those commands after the error is **a bit** impossible.

[2019-03-26 09:27] y325A commented on #329
If anyone is still following this thread... this solution worked for me: https://github.com/PowerShell/PowerShellStandard/issues/35

[2019-03-26 14:56] RLCongithub opened #7910 "installing nuget nupkg code"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2019-03-26 14:58] RLCongithub commented on #7910
I am trying to use a piece of code from nuget using Visual Studio Express 2013. I can invoke the "Manage Nuget Packages" and the nupkg of interest shows under the "updates ->all item, but I cannot see how to add the code to the project. On the "manage NuGet packages form I can see the code that I have downloaded. The file of interest is GeoTimezone.net. I highlighted it and then entered ctrl-c to

[2019-03-26 14:58] #7910 closed, assigned to nobody

[2019-03-26 16:58] ctaggart commented on #6229
Thanks @Thealexbarney & @tmat. I took a crack at a pull request: https://github.com/NuGet/NuGet.Client/pull/2775

[2019-03-26 17:32] skofman1 opened #7911 "PM UI - right click on tab heading and clicking"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2019-03-26 17:33] dominoFire opened #7912 "Deprecate NuGet.exe list in favor of NuGet.exe search"
Following the deprecation effort in commands to avoid ambiguity, the `nuget.exe list` command will be renamed to `nuget.exe search`.

## Why we are renaming?
1. The `dotnet.exe list` command lists package or project references in projects or solutions, which is different from listing packages from a feed in the actual `nuget.exe list` behavior. To avoid confusion between those commands, we want to

[2019-03-26 17:36] skofman1 opened #7913 "PM UI - right click on tab header and clicking "Open file location" results in error"
## Details about Problem

VS version:
Microsoft Visual Studio Enterprise 2019 Int Preview
Version 16.0.0 Preview 4.1 [28701.123.d16.0]
VisualStudio.16.IntPreview/16.0.0-pre.4.1+28701.123.d16.0
Microsoft .NET Framework
Version 4.7.03062
Installed Version: Enterprise

NuGet Package Manager   5.0.0
NuGet Package Manager in Visual Studio. For more information about NuGet, visit http://docs.nuget.org/.

[2019-03-26 17:50] zivkan commented on #7911
dup of #7913

[2019-03-26 17:52] zivkan commented on #7913
If you select "Copy Full Path", then paste it, it actually contains the relative path that's in the .sln file, which is probably why opening the folder fails.

[2019-03-26 18:49] jam40jeff commented on #5525
Any movement on this?  I have the same need (to use the `=` constraint on project reference dependencies rather than `>=`).

[2019-03-26 19:03] vatsan-madhavan commented on #3116
@rrelyea, Setting `RestoreNoCache=true` prior to `RestoreTask` doesn't seem to work reliably for me. Is this not quite the same as `--no-cache` ?

[2019-03-26 19:05] dominoFire opened #7914 "Error messages in .\configure.ps1 and .\build.ps1"
## Details about Problem

NuGet product used: build script

NuGet version: 4.9.4.5839

dotnet.exe --version: sdk-2.2.300-preview-010042-win-x64

VS version (if appropriate):

OS version: Windows 10 [Version 10.0.17763.379]

Worked before? Yes, using a Developer Command Prompt

## Detailed repro steps so we can see the same problem

1. Start a PowerShell console
2. Start with a fresh copy of the Nu

[2019-03-26 19:20] nkolev92 opened #7915 "Improve the error case handling when validating licenseurl and license element in nuspec"
And fix the failing licenseurl tests

[2019-03-26 19:30] nkolev92 opened #7916 "The performance scripts should be able to generate binlog on demand"
Having the binlog would allow us to isolate the msbuild evaluation and NuGet's performance.

Parsing this into the csv results would be a stretch goal, as I am not sure how feasible it is.

Running the restore target with /clp:PerformanceSummary=true is another option.

//cc @dtivel @rrelyea

[2019-03-26 19:39] jeanluc33 commented on #7550
I have to admit, since I use the PackageReference approach I no longer experience the issue.  They should still fix it (if they didn’t already) for people who can’t switch.

[2019-03-26 20:07] nkolev92 commented on #7550
@jeanluc33 PackageReference wouldn't have this exact issue.

This would only happen if you are using the NuGet.Build package which is only 2.x https://www.nuget.org/packages/NuGet.Build/.

Looking at your repro again it seems like it was addressed by #7657

That package should not be used by anyone using VS 2015 and later. We have fixed it download for the VS 2013 customer and it just requires the

[2019-03-26 20:07] #7550 closed, assigned to nobody

[2019-03-26 20:38] zarenner opened #7917 "Add extensibility point in NuGet.targets to control if Restore should even run"
No-op PackageReference-style restore performance is not great today for restores of hundred or thousands of projects, and as @nkolev92 has already investigated, there isn't any low hanging fruit to significantly improve it.

As such, repos with many projects may want additional control over if restore even executes, based on their individual setup. For example, consider a large repo that uses trav

[2019-03-26 20:47] DarkChaos commented on #3664
Sorry for the late response. Right now I am using a Workaround. First i run a dotnet restore with restore target to a local path. Then I copy the folder into the build container witch I extended with a nuget.config file witch is tageting this container local path as Package source.

In the next days I will upgrade to DevOps Server 2019 witch should solve this issue as mentiont in [release notes](h

[2019-03-26 20:59] nkolev92 commented on #7917
//cc @rrelyea

[2019-03-26 21:04] #7915 closed, assigned to nkolev92

[2019-03-26 23:55] nkolev92 commented on #7908
Will close when it's merged to 5.0.1.

[2019-03-26 23:56] nkolev92 commented on #7893
The pack targets only work with PackageReference based projects that generate an assets file.

Is your project PackageReference based?

[2019-03-26 23:59] nkolev92 commented on #7902
Why is this a bug though?

The PMC console is responsive. I'd argue it's even better than the output window.

@rrelyea thoughts on this one?
Personally I think this is a good behavior.

[2019-03-27 00:01] nkolev92 commented on #7901
This one is confusing.
Both checkboxes are communicating the same intent, don't show me the preview window.

Personally I'd just remove one of them completely (The `Do not show this again`).

@anangaur Thoughts on this one?

[2019-03-27 00:05] clairernovotny opened #7918 "Unobserved task exception"
This comes from https://github.com/dotnet/corefx/issues/36364

Looks like the code here is not properly awaiting the task or observing the exception, causing unobserved exceptions:

@stephentoub in https://github.com/dotnet/corefx/issues/36364#issuecomment-476693635

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/Utility/DownloadTimeoutStream.cs
If so, I would wager t

[2019-03-27 00:31] nkolev92 commented on #7904
I understand the motivation, but logically I'm not sure why the assembly metadata would contain information like iconurl?
The owner\author & id feels right, the rest of it not so much.

What is your project type?
I assume you are using packages.config based restore?

Have you consider PackageReference + the pack targets?

https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets
https://doc

[2019-03-27 00:40] benaadams commented on #7918
Specifically `await Task.WhenAny(responseTask, timeoutTask)`

If the `timeoutTask` completes first and then the `responseTask` errors after its exception is not observed causing the Unobserved task exception.

[2019-03-27 01:04] shubham90 commented on #7845
@nkolev92 I have got the logs from the dotnet docker team where they saw the same failure again. Relevant part of the logs being at the end of the log file
[Standard_Console_Output (1).log](https://github.com/NuGet/Home/files/3011040/Standard_Console_Output.1.log)

[2019-03-27 01:11] anangaur commented on #7904
IconUrl is already deprecated. Not sure if someone would add the new icon property in assemblyinfo.cs

[2019-03-27 08:40] igor84 commented on #7904
Thanks nkolev92. I didn't know about PackageReference and pack targets, those might come in handy. My issue was that when I give nuspec file to the pack command it would pack everything unless I specify <files> explicitly while if I give it csproj file it would pack just the built artifacts just as I needed but would then miss some metadata in the package's nuspec like iconUrl. Also because of our

[2019-03-27 13:17] coffee-lover16 opened #7919 "ContentFilesExample package doesn't work when the PCL frameworks are selected as assets"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS Package Manager Console

NuGet version (x.x.x.xxx):
4.9.4.5839

VS version (if appropriate):
15.9.9
OS version (i.e. win10 v1607 (14393.321)):
Win 10

## Detailed repro steps

1. Enable PackageReference for Nuget in VS

2. Create new class library based on .Net Framework 4.6.2(same for 4.5)

[2019-03-27 17:43] joseccruz commented on #7341
so no luck on the /tmp/nugetscratch issue? it's rather annoying/random and as others have said for the most part as we dont own the build machines this is outside our control. BTW, in our case this reproes during 'dotnet restore'

[2019-03-27 17:50] nkolev92 commented on #7341
@joseccruz
A binlog would be helpful.

I'm digging into some potentially related code on the side, but it's hard to predict whether that's truly the problem without more information or a repro.

[2019-03-27 18:01] nkolev92 commented on #7904
It's not deprecated yet, but will be very soon. The replacement will be embedded icons.
You can track the following issue for more information  - https://github.com/NuGet/Home/issues/352

Why do you need to update both the nuspec and the assemblyinfo.cs when revving a version?

[2019-03-27 18:28] MarkPflug opened #7920 "Make MSBuild Pack target return the nupkg file as output"
## Details about Problem

NuGet product used:
MSBuild

NuGet version (x.x.x.xxx):
4.6.0

VS version:
15.9.3

OS version:
1607

Worked before? If so, with which NuGet version:
No

## Detailed repro steps so we can see the same problem

Working on a build script to publish nuget packages. The script is implemented in MSBuild. I want to "Pack" several projects, then publish their output to an interna

[2019-03-27 19:01] #7913 closed, assigned to zivkan

[2019-03-27 19:38] ctaggart opened #7921 "error NU1403: The package Microsoft.CSharp.4.0.1 sha512 validation failed."
I'm trying to add nuget 4.9 lock files, but I get the error:

[code]

Steps to reproduce:
Checkout the `lock` branch from https://github.com/ctaggart/froto/pull/104, then restore using docker:
[code]

My hunch is that the nuget is NuGetFallbackFolder is causing problems. It includes nuget packages that don't match NuGet.org. WHY DOES IT HAVE PACKAGES THAT DON'T MATCH NUGET.ORG?

The Froto.Serializ

[2019-03-27 20:29] igor84 commented on #7904
I was thinking that it might be useful for us to have properties on the dll show the same version as the package but after we though it through we realized it is not actually important.

[2019-03-27 20:44] nkolev92 commented on #7904
things like version and name are important I'd say, but not so sure about the licenseurl & related.
That feels like a package defining information rather than assembly defining.

[2019-03-27 20:54] igor84 commented on #7904
Yes, when I think about it you are right. Should I close the issue then?

[2019-03-27 21:06] nkolev92 commented on #7904
Yep, if you feel that your concerns have been addressed.

Thank you for being responsive, it makes our job easier :)

[2019-03-27 21:30] ctaggart commented on #7921
It looks like it may not be the NuGetFallbackFolder, but the `contentHash` in docker is not producing the same thing as on Windows for all packages. It is different on these packages:

https://github.com/ctaggart/froto/pull/104/commits/83f9bd3cc90d3d2521d858535c55ecf21a225524

I think `contentHash` implementation has a bug.

https://github.com/NuGet/Home/wiki/Nupkg-Metadata-File
Ashish Jain @jaina

[2019-03-27 22:12] ctaggart opened #7922 "error NU1403: The package Microsoft.NETCore.Platforms.2.0.0 sha512 validation failed."
mcr.microsoft.com/dotnet/core/sdk:2.2.105 & 2.2.1.04 end up with different `contentHash` values for:
* Microsoft.NETCore.Platforms 2.0.0
* System.Reflection.Emit 4.0.1

https://github.com/ctaggart/froto/pull/104/commits/b337106dd23d40c516556cc72635637605cce5d6

Is contentHash broken or is this expected? Should the lock files track platform dependencies if they are expected to change?

[code]

[2019-03-27 22:33] dominoFire opened #7923 "Deprecate nuget.exe add command"
In order to avoid ambiguity between `nuget.exe` and `dotnet.exe` commands, we are going to deprecate `nuget.exe add` command and merge its functionality to `nuget.exe push` command.

## Why we are deprecating `nuget.exe add`?

The `dotnet.exe add` commands adds a NuGet package to a project. On the other hand, `nuget.exe add` package *adds* the package to a *hierarchical source* (folder) so that yo

[2019-03-28 01:37] v-luzh commented on #7902
We thought there should not be arrows to the left and to the right at the bottom of PMC if we decide not to show the horizontal scroll bar.

[2019-03-28 02:06] jam40jeff commented on #5525
Is this duplicated by #7213?

[2019-03-28 02:06] jam40jeff commented on #7213
Any movement on this? I have the same need (to use the `=` constraint on project reference dependencies rather than `>=`).

[2019-03-28 04:48] #7721 closed, assigned to nkolev92

[2019-03-28 04:48] #7720 closed, assigned to nkolev92

[2019-03-28 04:48] #7719 closed, assigned to nkolev92

[2019-03-28 04:48] #7718 closed, assigned to nkolev92

[2019-03-28 04:49] #7771 closed, assigned to nkolev92

[2019-03-28 07:39] gethari commented on #3324
Any update on this ??

[2019-03-28 11:33] medianick commented on #4277
The nuget.exe (4.9.3) output was misleading when running the restore under a Local System account (as we do on our Jenkins servers); it claimed to be using `C:\Windows\system32\config\systemprofile\AppData\Roaming\NuGet\NuGet.config` as a configuration but in fact was using `C:\Windows\SysWOW64\config\systemprofile\AppData\Roaming\NuGet\NuGet.config`. I was able to fix our problem by opening the f

[2019-03-28 15:56] AceHack commented on #3676
Please allow for order, I rely on order.

[2019-03-28 16:48] dtivel opened #7924 "Signing: update algorithm names in error message"
[This error message](https://github.com/NuGet/NuGet.Client/blob/3328cbbd499181d4eb22e725d42ba8695ccb224a/test/NuGet.Core.FuncTests/NuGet.Packaging.FuncTest/SigningTests/TimestampProviderTests.cs#L370) should be consistent with other error messages with respect to hash algorithm names.

[2019-03-28 19:14] dtivel opened #7925 "Test: E2E test failures do not log callstack"

[2019-03-28 20:31] nkolev92 commented on #7921
The fallback folder issues are due to https://github.com/NuGet/Home/issues/7414.

It's a bug on Dotnet CLI side with the LZMA tool. The bug summarizes the findings the actionable. Unfortunately there will be no changes to the LZMA tool as it's being completely done away with in .NET Core 3.0.

What you are articulating sounds like the bug in https://github.com/NuGet/Home/issues/7682, which should

[2019-03-28 20:38] #7874 closed, assigned to dtivel

[2019-03-28 20:51] nkolev92 commented on #7922
There was a content hash bug that was fixed in https://github.com/NuGet/Home/issues/7682.

Are you suggesting that different versions of the sdk generate different values for the content hash of the same package?

[2019-03-28 20:55] slang25 commented on #7922
Fwiw I'm seeing this too, I will try disabling the Nuget fallback folder I'm a couple of hours and report back

[2019-03-28 20:59] nkolev92 opened #7926 "Improve the signing error messages"
Related to https://github.com/NuGet/NuGet.Client/pull/2741/files#r270175608.
All the error messages need reviewed.

In the particular example in the PR, we should call out which digest algorithm is unsupported.

[2019-03-28 21:00] ctaggart commented on #7921
No matter what I do the lock file that is generated while in a docker sdk container contains `17h8b5mXa87XYKrrVqdgZ38JefSUqLChUQpXgSnpzsM0nDOhE40FTeNWOJ/YmySGV6tG6T8+hjz6vxbknHJr6A==` as the contentHash when it should be `eEgt/ktABPBa/1xBex3M6b7C4dYsGQ0HWuwe9Xhflgu4cvn4a5VvFSLj5vyTKkp+hKrVpTRdqTXDTAxsIL1Reg==`.

I created a little app to troubleshoot this:
https://github.com/ctaggart/NuGet.Client/

[2019-03-28 21:12] nkolev92 commented on #7921
@ctaggart
If possible can you provide the docker file you used for testing, so we don't have to go through the same exercise?

Thanks

[2019-03-28 21:17] nkolev92 opened #7927 "Add VSIX signature validation at build time."
Initial work started at https://github.com/NuGet/NuGet.Client/tree/dev-nkolev92-addVSIXSignatureValidation

It's not respecting the exclude folders flag however, so that needs revisited.

Note that this also does NuGet.exe/NuGet.MSSign.exe validation.

But it also repeats the nupkg validation.

[2019-03-28 21:18] YipYipX4 commented on #3676
I agree that we should have control over the order.  I'm also not convinced that it even goes by fastest response as that hasn't been my experience, but in any case, as others have pointed out, some people want to be able to specify a preferred source.  There could be an option to enable or disable the "poll for fastest source" feature, and it could be enabled by default but something we can contr

[2019-03-28 21:20] ctaggart commented on #7921
@nkolev92, steps to reproduce:
[code]

Various other troubleshooting:
[code]

Nothing has worked. I've also tried `sdk:3.0.100-preview3`.

Worth noting that the `Directory.Build.props` contains:
[code]

[2019-03-28 21:41] ctaggart commented on #7921
I found this pretty strange. I was expecting these to hashes to match.

[code]

On Windows:

[code]

[2019-03-28 22:19] JeffreyCA commented on #4808
If using Azure Pipelines with YAML, add this task in the beginning:

[code]

[2019-03-28 23:34] nkolev92 opened #7928 "Warn of future removal of "nuget.exe pack project.json""
Follow up to:

https://github.com/NuGet/Home/issues/7753#issuecomment-474137995

[code]

Related https://github.com/NuGet/Home/issues/7199

[2019-03-28 23:36] nkolev92 commented on #7199
This can't happen in 5.0/16.0 due to some dependencies that are still using project.json.

@anangaur @rrelyea
Anything special we need to do ensure that we can remove support in 17.0?
Some deprecation announcement?

[2019-03-28 23:39] nkolev92 commented on #7753
I have created a spin off issue for project.json pack deprecation.

https://github.com/NuGet/Home/issues/7928

PR is out as well. https://github.com/NuGet/NuGet.Client/pull/2783

[2019-03-28 23:43] rrelyea opened #7929 "Enabled static analysis tools as part of build"
enable policheck (started: https://github.com/NuGet/NuGet.Client/tree/dev-rrelyea-addPolicheckToBuild)
enable others... (see NuGet/ADO#784560 for list of required.

[2019-03-28 23:59] jainaashish commented on #7921
@ctaggart it will also be worth checking what's the value in `*.nupkg.sha512` file on the system.

And btw what's this value `lIwCKwiI4K/KZHVAMki2zuq9MpwOP/HP2vcbpe1pKo6KHKC8R8zXfA2Z8VNcqXs0DDPMJfrk7JBcMNXLK3nJLg==`?? and `b9YcH7cOd8y0zsL8UqGh633QqxHf8A4Ehlia9HXvVBKvpURwF8iCYCllucq07uDQEYiSR95gZStAszIXYoO43Q==`

[2019-03-29 00:11] zivkan opened #7930 "lock file not updating when packagereference removed"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

NuGet version (x.x.x.xxx): 5.0.0.4

dotnet.exe --version (if appropriate): 3.0.100-preview3-010410

VS version (if appropriate): n/a

OS version (i.e. win10 v1607 (14393.321)):  17763.379

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the sam

[2019-03-29 00:35] nkolev92 opened #7931 "Remove project.json pack"
Follow up to https://github.com/NuGet/Home/issues/7928.

Related #7199

[2019-03-29 00:47] nkolev92 commented on #7921
@ctaggart
Those wouldn't match because of the bug in the LZMA.

The first hash value is the one that's written in the fallback folder prior to the LZMA is run.
The 2nd hash value is different because the package itself is different due to the LZMA scrambling it around.

[2019-03-29 00:49] davkean commented on #7719
Where can I consume these?

[2019-03-29 00:54] nkolev92 commented on #7921
The way that the `GenerateNupkgMetadataFile` method is the following.

[code]

1. If the package is signed, generate a content hash.
1. If it's not, fallback & use the value from the hashPath.

Now prior to the LZMA zips them, the package is signed.
The contentHash and the sha512 will be different.

[2019-03-29 00:57] nkolev92 commented on #7921
It seems to me like the .nupkg.metadata file in the fallback folder has the same value as the sha512.

Do you see any issues if you completely disable the fallback folder?

[2019-03-29 03:06] aeos commented on #7893
It is not. Thanks for the hint!

[2019-03-29 03:16] anangaur commented on #7199
We should announce on the announcements repo may be. Not sure if we should do anything more than that. But the announcement could be when we start previews of 17.0. Doing it now won’t serve much.

[2019-03-29 03:19] nkolev92 commented on #7199
Makes sense, figured to get clarity on this early enough, before it become an afterthought as we focus on the current release :)

[2019-03-29 09:21] slang25 commented on #7921
I'm seeing this for Microsoft.NETCore.Targets.1.1.0 (and other packages), I've disabled the fallback folder, and still have the issue. I've also pinned the dotnet sdk to 2.2.105 in global.json.

Locally I'm running macOS (and generating the lock files), it's building and failing on a docker container.

[2019-03-29 09:57] Deus-nsf commented on #1739
Still no progress on this ? the issue was opened in 2015 ! sorting should be a basic native feature !

[2019-03-29 10:15] alohaninja commented on #1827
Same issue with VS2017 15.9.10. Nuget package published to Azure Artifacts - credential cache must be getting corrupted during the upgrade. VS installer should probably just do this action for you. 😉

I didn't have any other issues reading packages from the v3 feeds outside VS IDE.

### Manually Resetting Nuget Cache in VS IDE after Updating
![image](https://user-images.githubusercontent.com/26234

[2019-03-29 11:36] v-luzh opened #7932 "The NuGet cache cleared information in Package Manager Settings dialog should not be navigate by Tab and hit by Enter"
## Details about Problem
NuGet version: NuGet Client Dev\5.1.0.5918
VS Version: D16.1stg\28728.22
OS: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps
1. Open exist C# Console App (.NET Framework) project (have installed packages previously) in VS.
2. Click menu Tools > NuGet Package Manager > Package Manager Settings.
3. Tab to button “Clear All NuGet Cache(s)” and hit Enter.
4.

[2019-03-29 13:06] medianick commented on #3839
We recently encountered this in switching a .NET Framework project to use PackageReference (rather than packages.config) and upgrading it to target .NET Framework 4.7.2 (from 4.6). This was being built on a Jenkins server running on Windows with the service running as Local System. The problem manifested as an inability to find our own packages on our private MyGet feed, which was correctly config

[2019-03-29 14:29] ctaggart commented on #7921
The expectation is that I am using that same dotnet sdk version, such as 2.2.105, I can lock the depdendencies on one system (Windows) and then restore the depdendencies on another system (Docker). That doesn't work and I haven't found a work-a-round.

dotnet sdk 2.2.105 on Windows produces this:
https://github.com/ctaggart/froto/pull/104/commits/2c6837c8adae2ac2a46fc411e675df31f50a4d0c#diff-ce2cb

[2019-03-29 15:53] heng-liu opened #7933 "Improve NU3024 warning message"
Correct NU3024 message for two scenarios.
In signing scenario, change the message string to make it more precise.
In validation scenario, add a new error message string, as it should not be the same with NU3022.

[2019-03-29 16:52] slang25 commented on #7921
Update from me:

I generate a lock file that then goes on to work in CI (docker for me) after deleting the package cache folder.

[2019-03-29 17:05] karann-msft commented on #6329
@GanesanRengasamy - no this has not be implemented and there aren't any plans yet to do so.
Can you talk more about your scenario? Do you unlist packages often? Or do you have a private nuget server and want a way to delete packages?

[2019-03-29 17:07] dtivel commented on #7873
https://github.com/NuGet/Home/issues/7877
https://github.com/NuGet/Home/issues/7879
https://github.com/NuGet/Home/issues/7885
https://github.com/NuGet/Home/issues/7886
https://github.com/NuGet/Home/issues/7925

[2019-03-29 17:08] #7873 closed, assigned to dtivel

[2019-03-29 17:08] #7928 closed, assigned to nkolev92

[2019-03-29 17:34] #7342 closed, assigned to nkolev92

[2019-03-29 17:49] dtivel opened #7934 "Test: E2E tests frequently time out"

[2019-03-29 17:59] nkolev92 commented on #7932
The text needs to be narrated, so maybe that's the reason you can tab to it?

I wouldn't know  without further investigation however.

[2019-03-29 18:09] rrelyea commented on #7292
Closing. Without a repro, or repro steps, cannot investigate.

[2019-03-29 18:09] #7292 closed, assigned to nobody

[2019-03-29 18:12] nkolev92 commented on #7396
Closing as a setup problem.

If you see this again @nandysoubhik please file a VS feedback issue.

[2019-03-29 18:12] #7396 closed, assigned to nobody

[2019-03-29 18:13] nkolev92 commented on #7311
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2019-03-29 18:13] #7311 closed, assigned to nobody

[2019-03-29 18:16] zivkan commented on #7649
@GanesanRengasamy sorry about the very late reply. If this is still an issue for you, can you please give more details, or a sample solution if possible. I don't understand what you mean, in particular the last sentence of your last comment.

[2019-03-29 18:21] nkolev92 commented on #7299
@1patryk What do you mean when listing sources?
See for info on how the configs are processed.
https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#config-file-locations-and-uses

Also why do you think the config at SysWOW64 is used if NuGet never tells you explicitly?

[2019-03-29 18:24] rrelyea commented on #7286
@dasMulli or @rainersigwald - can you point me towards the definition of UndefineProperties in msbuild. Was able to find next to nothing about it.

[2019-03-29 18:34] nkolev92 commented on #7310
@DanJ210
The idea of implicitly referenced is that you shouldn't update it from the UI.

You update that by upgrading the SDK that implies that reference.

I wouldn't know why one project was created without autoreferenced as that's on the project template and not NuGet.

Does this all make sense?
Any further assistance you need from us?

[2019-03-29 18:44] nkolev92 commented on #7331
@JRBonnema

What kind of a project do you have when trying to upgrade the package?
You refer to 3 packages, are you trying to update all those 3 packages individually?

Basically, anything you can provide to help us repro this.

[2019-03-29 18:48] #7925 closed, assigned to dtivel

[2019-03-29 18:52] nkolev92 commented on #7380
Sorry for the delayed response @plaurin

Unfortunately you cannot make it work without sharing the temp + global packages folder location.
This is not something we've seen people do often so it's not super well documented.

You can however override the NuGet temp location to be different from the usual temp location that teamcity redirects.
Of course this location would still have to be the same a

[2019-03-29 18:52] zivkan commented on #7642
@ranjan-ranjan thanks for your feedback and sorry about the very late reply.

I believe the behaviour you see is by design. The check boxes are used by the action buttons immediately below the project list ("uninstall" and "install" or "upgrade"). None are selected by default because we can't guess which action the developer is going to take, or which projects the action will want to be taken on.

[2019-03-29 18:52] #7642 closed, assigned to nobody

[2019-03-29 19:06] rainersigwald commented on #7286
It is currently under- or undocumented. My draft documentation is at https://gist.github.com/rainersigwald/1fbd21a24a41b9b7c6204cb9cfcbb1cf and I hope to publish it soon (don't look at the last-modified date 🤞).

[2019-03-29 19:08] nkolev92 commented on #7640
//cc @rrelyea @anangaur

[2019-03-29 19:17] nkolev92 commented on #7710
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2019-03-29 19:17] #7710 closed, assigned to nobody

[2019-03-29 19:19] nkolev92 commented on #7703
I agree with the above.
Closing per that comment.

[2019-03-29 19:19] #7703 closed, assigned to nobody

[2019-03-29 19:32] nkolev92 commented on #7692
@bitbonk The root of the problem is that the directory structure of the packages folder for PC restore and the global packages folder is different.
What we call V2 vs V3.

packageName.packageVersion\
vs
packageName\packageVersion\

NuGet should give a better error message though.

[2019-03-29 19:36] #7688 closed, assigned to nobody

[2019-03-29 19:45] #7583 closed, assigned to nobody

[2019-03-29 19:47] dominoFire commented on #7563
@tonyhallett Did you take a look at:
1.  [IVsPackageInstallerEvents#PackageInstalled](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio.Implementation/Extensibility/VsPackageInstallerEvents.cs#L13) ?
2. [VsPackageInstallerEvents#NotifyInstalled](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio.Implementation/Extensibility/VsPacka

[2019-03-29 19:48] nkolev92 commented on #7587
Already being worked on by project system team.

[2019-03-29 19:48] #7587 closed, assigned to nobody

[2019-03-29 19:48] zivkan commented on #7589
closing due to no response.

[2019-03-29 19:48] #7589 closed, assigned to nobody

[2019-03-29 19:51] rrelyea commented on #7280
Testing in VS 16.0, it appears if i add a local package source like c:\temp\foo with that directory not existing, then the first install will not even work.
If i reopen the project after manually adding the package to csproj, it won't restore, let alone update.
This was testing with netstardard project (classlib)
We do fail the operations. ANd messages appear to be written out to the package manag

[2019-03-29 20:06] rrelyea commented on #7279
Sounds to me this is a request for a way to do something like this:
`<PackageReference include="mypackage" version="2.0" useTfm="net45" />`

Renamed this title to:
- Support hardcoding a different TFM for a packagereference's resolution

In case we don't provide a more elegant way in the future, see this blog post for a hard coded way to do it:
http://duanenewman.net/blog/post/forcing-a-specific-t

[2019-03-29 20:09] zivkan commented on #7594
@jeffkl should MSBuildNugerResolver issues go to you?

[2019-03-29 20:25] jeffkl commented on #7594
@zivkan It depends.  There is code in the resolver that attempts to locate a package if its already on disk and the entirety of that code is owned by NuGet.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/Microsoft.Build.NuGetSdkResolver/NuGetSdkResolver.cs#L206

The API is pretty simple, the resolver is given a package name and version and is expected to return the path to it.  I c

[2019-03-29 20:28] rrelyea commented on #7278
Appears to be a dupe of #7286
One issue is complaining about RID.
The other is complaining about TFM.

[2019-03-29 20:34] rrelyea commented on #7274
@joelverhagen  - can you take a quick look to analyze nuget.server vs nuget client issue please?

[2019-03-29 20:38] rrelyea commented on #7272
From dotnet nuget push -h
Config isn't a valid switch.
nuget push does have config as a valid switch.
I'm assuming we should add it to dotnet nuget push, then doc it.

[2019-03-29 20:41] nkolev92 commented on #7919
@Eugenio161288
I was not able to reproduce the issue.

The content files that are copy to output are copied to the output directory at build time.

I believe what you are seeing is https://github.com/dotnet/project-system/issues/3431

[2019-03-29 20:45] nkolev92 commented on #7672
The issue about the content files being displayed is not NuGet's to solve.

You can track is at our partner team's repo. https://github.com/dotnet/project-system/issues/3431

Any repros you can provide?
If you need it to do something at build time, content files might not be the best approach.
You'd probably need a targets file that invokes the exe there.

[2019-03-29 20:48] rrelyea commented on #7266
yes, nuget.config is hierarchical. If other projects are being resolved without that setting being in scope, that would explain it.
If you can reproduce this on a fresh machine, with an isolated repro...we would love to know.
Otherwise, I'm going to close this as a question for now.

[2019-03-29 20:48] #7266 closed, assigned to nobody

[2019-03-29 20:49] rrelyea commented on #7264
No reply from @PJChamley - closing.
Please let us know if you are able to provide more details.

[2019-03-29 20:49] #7264 closed, assigned to nobody

[2019-03-29 20:49] nkolev92 commented on #7828
Closing this as external.

[2019-03-29 20:49] #7828 closed, assigned to nobody

[2019-03-29 20:50] nkolev92 commented on #7893
let us know if you face any issues after moving the project to use a project reference.

[2019-03-29 20:52] nkolev92 commented on #7775
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2019-03-29 20:52] #7775 closed, assigned to nobody

[2019-03-29 20:53] rrelyea commented on #7261
.symbols.nupkg is difficult to use globbing for.
That is why when we did some new symbol package work, we now use .snupkg

Regardless, closing.

[2019-03-29 20:55] rrelyea commented on #7260
Yes, we have decided to deprecate summary.
We show description in UI.
@anangaur - correct?

[2019-03-29 20:55] #7260 closed, assigned to nobody

[2019-03-29 20:57] JRBonnema commented on #7331
nkolev92 : in my case the problem was still there a few days ago, when I upgraded a few projects from EF Core 2.2 to 2.3. Some EF Core 2.2 references in app.config were left unchanged. I also remember seeing a project where app.config was referring to both the EF Core 2.2 and 2.3 version of the same package, confusing the compiler. The package I'm choosing in NuGet is Microsoft.EntityFrameworkCore

[2019-03-29 20:57] nkolev92 commented on #7774
Closing this per the above comment.

[2019-03-29 20:57] #7774 closed, assigned to nobody

[2019-03-29 20:58] nkolev92 commented on #7769
@sxmanton Any chance you can provide us a repro as @anangaur requested.
Thanks

[2019-03-29 21:00] nkolev92 commented on #7767
Closing this per the above comments.

[2019-03-29 21:00] #7767 closed, assigned to nobody

[2019-03-29 21:00] nkolev92 commented on #7764
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2019-03-29 21:00] #7764 closed, assigned to nobody

[2019-03-29 21:10] nkolev92 commented on #7331
@JRBonnema
I'm not sure how much I can help without a repro.

Binding redirects have been common pain points so they were removed from NuGet in PackageReference world.

Have you considered moving your .NET Framework project to PackageReference?
https://blog.nuget.org/20180409/migrate-packages-config-to-package-reference.html

[2019-03-29 21:10] anangaur commented on #7260
We show summary if present else we show first few lines of description.

[2019-03-29 21:17] ctaggart commented on #7921
My mistake was not locking down my NuGet sources with a NuGet.Config, ~which had this one enabled: Microsoft Visual Studio Offline Packages~, but probably better to lock down your the sources with NuGet.Config:

[code]

The `DisableImplicitNuGetFallbackFolder` of `true` is required for the restore to work correctly in docker. Here is my working `Directory.Build.props`:

[code]

I then best to clea

[2019-03-29 21:17] #7921 closed, assigned to nobody

[2019-03-29 21:26] nkolev92 commented on #7921
Thanks for following up @ctaggart

We are sorry that we could not make this easier.

Why did the `Microsoft Visual Studio Offline Packages` cause issues for you?

[2019-03-29 21:36] ctaggart commented on #7921
@nkolev92 I just tested with it enabled and it doesn't appear to have been a park of the issue. Thanks for clearing that up.

[2019-03-29 21:38] ctaggart commented on #7922
This was indeed fixed by disabling the nuget fallback folders, clearing all caches, and regenerating the lock files. Full steps I put here: https://github.com/NuGet/Home/issues/7921#issuecomment-478152479

[2019-03-29 21:38] #7922 closed, assigned to nobody

[2019-03-29 21:47] nkolev92 commented on #7921
Oh, perfect. That's good then.
Just wanted to make sure there are not any lingering issues that we might miss.

[2019-03-29 21:55] #7563 closed, assigned to nobody

[2019-03-29 22:38] moh-hassan commented on #7279
Thanks @rrelyea  for reply.
Good for the title renaming. That is really the feature that I need.
For the `HintPath` to the dll path, what if the  library has a `HintPath` and become  a new nuget package.
In that case I think that the dll is shipped with the new package.

Good news that the feature will be available in [vs 2019](https://twitter.com/bording/status/1108149992060043271)

[2019-03-30 00:07] nkolev92 opened #7935 "Reevaluate the packages lock file + transitive project versions"
Currently if you have a transitive projects, the transitive project will have a requested version for the project.
This would mean every project version change will require a lock file regeneration.

//cc @anangaur
@joelverhagen @zivkan @dominoFire @rrelyea

[2019-03-30 00:22] nkolev92 commented on #7803
You are building a prerelease package though, why should NU5104 be reported then?

https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu5104

NU5104 is about stable package releases being built with prerelease dependencies which is not the case for you.

[2019-03-30 00:26] nkolev92 opened #7936 "Add NU5104 no warn to nuget.client projects which build with prerelease dependencies by design"
Can be seen in https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2543327 under the build unit test and RTM

Root cause why we were not seeing failures is https://github.com/NuGet/Home/issues/7404

[2019-03-30 00:41] joelverhagen commented on #7274
Hey @web5d, based on the [StackOverflow question](https://stackoverflow.com/questions/50392599/the-port-number-is-being-ignored-when-downloading-package-from-private-nuget-ser), it looks like you figured out the problem on your own. I tried running NuGet.Server on a non-standard port in IIS Express and the `/Download` URLs seem to have the port just fine. Please feel free to re-open if you're stil

[2019-03-30 00:41] #7274 closed, assigned to joelverhagen

[2019-03-30 00:49] nkolev92 commented on #7027
@maracuja-juice That's by design in PackageReference.

Closing this as duplicate of https://github.com/NuGet/Home/issues/6373

[2019-03-30 00:49] #7027 closed, assigned to nobody

[2019-03-30 02:09] #7763 closed, assigned to nobody

[2019-03-30 02:10] nkolev92 commented on #7602
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2019-03-30 02:10] #7602 closed, assigned to nobody

[2019-03-30 04:59] b6o commented on #7299
@nkolev92 I mean running the sources list nuget command. This shows the newly added source, but the source itself is not picked up or used when running a restore command.

I understand how the configs are procsessed, which was why it was odd having to add the source to a config that is supposedly not being loaded.

When the source is only added to the config at SysWOW64, the source is used and res

[2019-03-30 05:24] nkolev92 commented on #7299
When you say restore runs correctly, do you clear the the global packages folder before running?

If all the packages are already in the packages folder or the global packages folder, it won't matter what sources it's running with, it will work.

[2019-03-30 07:41] KexyBiscuit commented on #7803
@nkolev92 Sorry, I pasted the wrong csproj. This issue remains when my Version is set to stable.

[2019-03-30 09:01] nkolev92 commented on #7803
@KexyBiscuit

I can't repro your issue. I see the warning being generated correctly on my end.
Make sure restore has run before packing.

Also make sure that the package is not already on disk.
When pack no-op (basically nothing has change since last time you packed), no warning will be reported.

[2019-03-30 10:34] mrward commented on #7280
In the screencast the project is using packages.config. The invalid package source is a secondary package source not the primary source. Projects that use PackageReferences seem to report an error on trying to update with an invalid directory.

With VS 2017 and 2019 using Update-Package from the NuGet Package Manager console, which is closest to what VS Mac does when it runs an update, you see no

[2019-03-30 15:56] klemmchr commented on #4254
Is there any progress about this issue? Needing to pack dotnet templates with nuget cli or with a dummy project is a PITA.

[2019-03-30 23:55] danstur commented on #7802
Is there any workaround for this problem?

[2019-03-31 05:11] b6o commented on #7299
Yep, the global packages folder was cleared inbetween

When running a restore without the source being added to the SysWOW64 config, the only source that would be checked for packages was nuget.org

[2019-03-31 12:17] iberodev commented on #4393
The documentation still states that you can push multiple nupkg at the same time but that's not true. So either the documentation is wrong or there is a bug as described here: https://github.com/dotnet/docs/issues/7146

[2019-03-31 14:22] ColinM9991-zz commented on #7842
12 days later, I have been unable to reproduce this build issue with a the new repository I created.

All other builds have been resolved also by adding a restore step using NuGet.exe directly first, and then `dotnet restore` to generate the project.assets.json file for the build.

I'd say that logging and error messages do need some improvement overall to better identify the issue, but this is a

[2019-03-31 16:49] theladyjaye commented on #4413
On a Mac it looks like **Visual Studio Mac** prefers to read from `~/.config/` I guess that's it's Mono Roots and **dotnet** wants to read from `~/.nuget/` Is this still the case in **Visual Studio Mac 2019**?

Additionally, invoking the CLI `nuget sources <operation>` seems to affect `~/.config/` **not** `~/.nuget`

I just need to figure out what to tell my devs to set. The Symbolic Link solution

[2019-03-31 18:26] apoleon commented on #7673
Hello, would it be possible to reference the fixing commit? Are older versions of nuget affected too (< 4.x)?

[2019-04-01 02:23] bklooste commented on #7842
I have same issue..

2.1 and 2.2 ..  It looks like its a net461 project  in a solution with other core projects.
Also looks like it relates to the other issues of using a private nuget repository

[2019-04-01 04:46] KexyBiscuit commented on #7803
You're correct. After several retries now I find the problem is on my side, thanks for answering this.

[2019-04-01 04:46] #7803 closed, assigned to nobody

[2019-04-01 08:22] emz00 commented on #7842
We're not using a private NuGet repository and the entire solution is composed of .NET Core 2.0 projects (no .NET Framework). Trying the "dotnet restore" workaround now. This should not be closed - it's a definitely a bug, and an annoying one.

[2019-04-01 08:58] JRBonnema commented on #7331
I agree that you will probably not be able to solve this on your own. In theory problems like this can be solved, but only when there is optimal cooperation between two, three or more departments, which in practice is not possible. That said there seems to be a possibility for better cooperation between the Nuget and Entity Framework teams. I will give PackageReference a try in the near future, to

[2019-04-01 09:00] marcus-sonestedt commented on #6397
@Cheesebaron We have the same issue. Could you perhaps share the .sln generation code?

[2019-04-01 11:32] rix0rrr commented on #7341
+1 on this, happens intermittently for us on CI builds on Ubuntu.

[2019-04-01 11:48] geekyed commented on #4254
Do you have a workaround for templating, I am really struggling to get anything together.

[2019-04-01 13:48] d2phap commented on #7796
Any update? I have a same issue when building with AppVeyor

[code]

[2019-04-01 13:49] Cheesebaron commented on #6397
@marcusl I've been doing this with a Cake script: https://gist.github.com/Cheesebaron/b21d2e9967bdedc56eac63a3d7b239aa

This is just C#. Although the globbing method `GetFiles()` is specific to Cake, the same goes for the NuGetRestore alias and some of the other method calls you see in there.

It is just a matter of locating projects which use packages.config and put them into a new temp solution.

[2019-04-01 14:30] coffee-lover16 commented on #7919
Just tried that on Console application. .Net Framework 4.6.2. There is the following error during project building:

![image](https://user-images.githubusercontent.com/14542827/55335460-c7ccc900-54a3-11e9-9224-db4eda24aa47.png)

Steps:

1. Create new solution
2. Choose Console Application with .Net Framework 4.6.2
3. Go to the Package Manager Console
4. Type `Install-Package contentfilesexample`
5

[2019-04-01 15:45] klemmchr commented on #4254
My current solution is a dummy project that contains a reference to my nuspec file
[code]
My nuspec:
[code]
My templates are located in the subfolder `content`, each in it's own folder.
The version is missing from the nuspec as I'm setting it while packing:

`dotnet pack Sample.csproj -p:NoBuild=true -p:PackageVersion=1.0.0 -p:NoDefaultExcludes=true -o publish`

Note the different syntax for prope

[2019-04-01 17:29] nkolev92 commented on #7848
If the migration tool does not delete certain assets, it usually means that the project was modified since it was last restored.

If you do the following:

- Start with an empty project similar to the one that fails
- Install all packages that used to be installed through VS (same versions, same everything).
- Run the migrator

Can you repro the issue?

[2019-04-01 17:30] rrelyea opened #7937 "Dashboard investement - repo, more"
Get dashboards checked in and organized in repo.
Research what other teams are doing to save reports and summary data.

[2019-04-01 17:53] nkolev92 commented on #6231
Draft PR in https://github.com/NuGet/NuGet.Client/pull/2784.

[2019-04-01 18:06] nkolev92 commented on #7605
The NuGet and CLI work is done.

The interactive parsing will be added in 3.0.100.

Until then, a user should run any other command (namely restore needs run anyways) that supports --interactive.
After that the plugins themselves will cache the PAT so when NuGet requests it for outdated it should just work.

[2019-04-01 18:07] AceHack opened #7938 "Please allow for prioritizing sources"
If the same package exists in two different sources I would like the ability to prioritize one source over another.  These are various use cases where we already depend on this behavior and it appears to be working.

See https://github.com/NuGet/Home/issues/3676 for a related issue.

[2019-04-01 18:17] rrelyea commented on #7815
1) likely nuget.exe in 5.x should warn if you produce the old symbol format...don't change default though.
2) also should warn that the default is changing in the future.
3) dotnet.exe 3.0 needs coordination of plan...as they will pass in the new settings, etc... Create a design to get default from host. $DefaultPackageFormat or the like.

[2019-04-01 18:21] rrelyea opened #7939 "XPlat Signing and verification for dotnet core & mono"
This epic covers the work needed in order to fully port NuGet's package signing and verification features to all platforms, including mono, as well as the dotnet command itself.
The dotnet APIs have specific XPLAT behaviors that we need to address when tackling signing and verification XPLAT. This will mean either document known behavior or do functional changes in specific platforms.

Some things

[2019-04-01 18:30] nkolev92 opened #7940 "Investigate performance improvements/ perf suite / large solution restore/ no op improvements"
//cc @dtivel @rrelyea

- [x] https://github.com/NuGet/Home/issues/8029
- [x] https://github.com/NuGet/Home/issues/7976
- [ ] https://github.com/NuGet/Home/issues/8037
- [x] https://github.com/NuGet/Home/issues/8039
- [x] https://github.com/NuGet/Home/issues/6570
- [x] https://github.com/NuGet/Home/issues/8358
- [x] https://github.com/NuGet/Home/issues/8339
- [x] https://github.com/NuGet/Home/issue

[2019-04-01 18:36] dtivel opened #7941 "Signing: cross-platform support"

[2019-04-01 18:37] rrelyea opened #7942 "More Security Review"

[2019-04-01 18:37] dtivel opened #7943 "Perf: sprint work"

[2019-04-01 18:53] nkolev92 commented on #7919
NuGet is the one generating the folders and the assets file.
It's the build tasks that handle the copying and wiring up into the build.

The error message suggests that the path is getting decoded.

I'll investigate and rout to them as necessary.

[2019-04-01 19:35] nkolev92 opened #7944 "Add a flag to avoid merging configs beyond a certain point"
Motivation from https://github.com/dotnet/arcade/issues/2352 and lots of other places. :)

[2019-04-01 19:48] nkolev92 commented on #7796
@d2phap
Refer to https://github.com/NuGet/Home/issues/7796#issuecomment-465369065 for more help.

[2019-04-01 19:51] nkolev92 commented on #7331
@JRBonnema

If you are seeing something going wrong with the binding redirects, it's very unlikely that EF & NuGet have anything to solve together.

Based on your comment, I assume I can close this as No Repro?

If you have any further information that can help us investigate we'd be happy to reopen this issue or just create a new one.

[2019-04-01 19:51] #7331 closed, assigned to nobody

[2019-04-01 20:38] zivkan commented on #7673
[Here's the commit](https://github.com/NuGet/NuGet.Client/commit/d62db666c710bf95121fe8f5c6a6cbe01985456f?w=1). NuGet only started modifying extracted file permissions because .NET Core 1.x would create (all) files with the u+x bit set, but .NET Core 2.x stopped, and some people were shipping tools (such as build tools, but now .NET global tools are also relevant) that needed the execute bit set,

[2019-04-01 20:56] apoleon commented on #7673
Thank you for the clarification. Debian is still shipping an old version of NuGet and I couldn't reproduce the problem. That makes sense now.

[2019-04-01 22:17] #7936 closed, assigned to nkolev92

[2019-04-01 22:34] nkolev92 commented on #7919
@Eugenio161288

This is a problem in the build targets.
New style projects have the same issue:

https://github.com/dotnet/sdk/issues/3069

//cc @tmeschter for the old csproj targets.

The build targets should not decode the path, but rather treat it as a string.

[2019-04-01 22:34] nkolev92 commented on #7919
@Eugenio161288

I will fix the contentfilesexample package to not include PCL framework as they are no longer the recommended way.

[2019-04-01 22:35] nkolev92 commented on #7919
What you are referring to seems to be a duplicate of another report https://github.com/NuGet/Samples/issues/21

[2019-04-01 23:29] dsplaisted commented on #7351
Downsides of current workaround (referencing platform package implicitly if there are any other package references):

- Platforms package shows up in dependency tree
- .NET Framework may still have issues if we don't also add code to automatically reference it

[2019-04-01 23:32] dsplaisted commented on #7351
Probably we would use an MSBuild property instead of an item for this, as that wouldn't require nomination API changes.

[2019-04-02 00:33] ctaggart opened #7945 "NuGet.Client dev branch build.ps1 fails on restore"
It fails on errors about:
[code]

[code]

[code]

[2019-04-02 00:34] ctaggart commented on #7945
Attached is the msbuild.binlog produced from `/bl`: [msbuild.zip](https://github.com/NuGet/Home/files/3031852/msbuild.zip)

[2019-04-02 00:47] nkolev92 commented on #7945
Can you try running it with a developer command prompt?

Open a dev command prompt, powershell into it.

.\configure.ps1
.\build.ps1 -SkipUnitTest

SkipUnitTest is optional so that you eliminate build issues.

[2019-04-02 00:51] nkolev92 commented on #7930
Pinpointed the issue in dev-nkolev92-lockFileRemovePackage .
Started some basic work, but will finish in week 3.

The issue is that we don't account for packages in the lock file, but not in the package graph when doing the dirty check.

//cc @anangaur

[2019-04-02 00:52] nkolev92 commented on #7927
Related work: https://devdiv.visualstudio.com/DevDiv/_wiki/wikis/DevDiv.wiki?wikiVersion=GBwikiMaster&pagePath=%2FEngineering%20System%20%26%20Tools%2FMicroBuild%2FEnabling%20Signing%20in%20Your%20Projects%2FCodesign%20Verification&pageId=653

There are some helpful customizations that can be done there to select what needs validated and what doesn't.

Will try to pick up week 3.

[2019-04-02 00:55] ctaggart commented on #7945
That appears to be working. Probably should updated:
https://github.com/NuGet/Home#steps-to-build-the-clients-tools-repo

[2019-04-02 02:42] nkolev92 commented on #7945
We already have a tracking issue for that from a few days ago.

Duping this one out in favor of that one. Apologies for the inconvenience.

https://github.com/NuGet/Home/issues/7914

[2019-04-02 02:42] #7945 closed, assigned to nobody

[2019-04-02 02:44] Scottj1s opened #7946 "Github documentation markdown is not rendering tables correctly"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2019-04-02 02:45] Scottj1s commented on #7946
See:
https://www.nuget.org/packages/Microsoft.Windows.CppWinRT/2.0.190329.3#

The documentation is being pulled as raw GitHub content from here:
https://github.com/Microsoft/xlang/blob/master/src/package/nuget/readme.md

GitHub renders the 3 tables correctly, but NuGet does not.

[2019-04-02 07:38] neilalexander commented on #3050
I was referred to this issue by PowerShell/PowerShellGallery#55 because it seems that even Microsoft's own PowerShellGallery contributions are affected by unwanted normalisation in the `.nuspec` file as opposed to the `.psd1` files.

Prominent examples that I've come across include:
- [SqlServerDsc](https://www.powershellgallery.com/packages/SqlServerDsc/12.3.0.0) – `SqlServerDsc.nuspec` says `12.

[2019-04-02 08:39] emz00 commented on #7842
Even with a separate `dotnet restore` step it occasionally fails. We have 2 permanently running TeamCity build agents and it hasn't happened on those since adding that workaround. However, we also have an AWS instance that gets created on demand and destroyed again later, which starts out with an empty NuGet cache. When it first started today the first two builds on it failed with this exception (

[2019-04-02 08:48] dcopestake commented on #7842
Not 100% sure if my issue was exactly the same as this or not, but I was experiencing something very similar to this, and after enabling [assembly bind failures](https://docs.microsoft.com/en-us/dotnet/framework/tools/fuslogvw-exe-assembly-binding-log-viewer) I managed to work out that the restore MSBuild task from `NuGet.Build.Tasks` was throwing an exception, resulting in the 'task cancelled' me

[2019-04-02 08:49] jskeet commented on #6351
I've run into this problem as well, in a slightly different way.

I have a file called `LICENSE` that I wish to be packed as `LICENSE.txt`. I would expect this to work:

[code]

... but that creates a file called `LICENSE` in a *directory* called `LICENSE.txt` in the NuGet package.

It looks like I'm going to have to either rename the file (which is annoying for other reasons) or copy it to `LICEN

[2019-04-02 08:57] ColinM9991-zz commented on #7842
Just to clarify, the workaround isn't just to add a separate `dotnet restore` step, but to add a `NuGet Installer` step in TeamCity _**BEFORE**_ the `dotnet restore`

![image](https://user-images.githubusercontent.com/2162419/55389704-b16b4f80-552d-11e9-9a95-85316e1b43ef.png)

[2019-04-02 09:03] emz00 commented on #7842
Oh, right! Thanks, @ColinM9991 , I've added it, will see if it helps.

[2019-04-02 10:48] mitchdenny commented on #7281
@rrelyea Are there any plans to generate lock files by default like in the NPM ecosystem?

[2019-04-02 12:02] StingyJack commented on #3050
@rrelyea - We'd prefer to have the version numbers be used as they were specified as the added behavior is...
* non-intuitive and this is outside of a reasonable expectation of behavior
* does not inform the user and permit them to override it at the time of execution
* causing subtle and difficult to deal with breakages throughout the ecosystem

Removing this coercion to your team's definition of

[2019-04-02 12:12] StingyJack commented on #7814
I'll take a prompt for credentials over more TF30063 errors.

[2019-04-02 12:21] geraldcsoftware commented on #6734
Anybody found a solution to this? I faced a similar issue where nuget restore doesnt work but MsBuild restore does.

[2019-04-02 14:19] sakopov commented on #6279
Any news on this?

[2019-04-02 14:21] InteXX commented on #3050
@StingyJack

I see the good work you've contributed in your PR remains unaccepted. Obtuse describes the response pretty well, especially from @emgarten (who seems to have left the conversation). The warden from Shawshank Redemption comes to mind.

I'd almost consider a PR fixing the original break and making normalization opt-in, but I doubt it'd gain much traction.

[2019-04-02 14:35] StingyJack commented on #3050
@InteXX - Thanks, but I actually wont submit a PR for this because I think there is a community negative behavior that needs to be addressed, and the pain of having to undo this change should be enough to correct that behavior.

Per his profile, @emgarten works on Azure IOT stuff now. For this issue, I dont know if he was griefing (again), spouting a party line, or both, but I let him off the hook

[2019-04-02 14:45] neilalexander commented on #3050
Right – and this train of thought is what also led me to raise PowerShell/PowerShellGallery#55 so that version numbers can be validated on the point of *upload* to PSGallery, rather than in the actual packaging process itself. I have no idea why NuGet mangling version numbers by itself is acceptable, *especially* when the process is invisible to the user and has resulted in invalid metadata being

[2019-04-02 14:47] jonathanpeppers opened #7947 "Two processes running MSBuild /t:Restore at once"
## Details about Problem

We have a set of MSBuild integration tests in [Xamarin.Android](https://github.com/xamarin/xamarin-android) that do these kinds of things:

* Generate a `foo.csproj` in a directory
* Run `msbuild /t:restore foo.csproj` (or use `/restore`)
* Run our actual test, `/t:build`, do things, assertions, etc.

These tests use NUnit, and we are using the parallel feature to speed u

[2019-04-02 14:56] gilescope commented on #7281
One the SHA is recorded, people can care less about where nuget actually gets the package from. If the hash matches cinders can go to the ball...

[2019-04-02 16:29] bergbria opened #7948 "Regression in 'Nuget sources add' causes "The ':' character, hexadecimal value 0x3A, cannot be included in a name" errors"
## Details about Problem

NuGet product used: nuget.exe

NuGet version: 4.9.4.5839

Worked before? If so, with which NuGet version: 4.6.0.4653

## Automated Repro

1. Unzip [nugetColonRepro.zip](https://github.com/NuGet/Home/files/3034964/nugetColonRepro.zip) somewhere on your machine
2. Run repro.bat

## Detailed repro steps so we can see the same problem

1. Run `nuget sources add -name http://f

[2019-04-02 17:28] rrelyea opened #7949 "Finalize and Publish 5.0.0 RTM release notes"

[2019-04-02 18:23] rrelyea opened #7950 "Change all NuGet Docs URLs to use HTTPS"
See tweet with picture here: https://twitter.com/onovotny/status/1113137876190019587

ideally...that url should be https://docs.nuget.org not http://docs.nuget.org

[2019-04-02 18:54] zivkan opened #7951 "Create and update lock file for packages.config projects on package install and uninstall"
task of #7281
spec: https://github.com/NuGet/Home/wiki/Packages.config-SHA-Validation

Update the packages listed in the lock file when packages are installed, uninstalled and upgraded.

[2019-04-02 22:35] nkolev92 commented on #7337
Update form the discussions:

The package type name is `DotnetPlatform` and the packages will follow conventions where an existing one exists. No conventions will be defined for types of assets that were never handled by NuGet.

[2019-04-03 01:06] nkolev92 commented on #7812
You need to install the credential provider from https://github.com/Microsoft/artifacts-credprovider.

The prompting has been ruled out as something we did not want to add to dotnet.exe

[2019-04-03 02:11] nathan-alden-sr commented on #7341
Just ran into this _again_. It's been happening for a long time now. Same issue as everyone else: Ubuntu 16.04 Microsoft-hosted build agent.
[code]

[2019-04-03 08:41] emz00 commented on #7842
Just happened again, even with the NuGet Installer step. This was again on a newly created AWS instance, which had an empty NuGet cache.

[2019-04-03 08:54] eladb commented on #7341
+1 here

[2019-04-03 09:14] ViktorHofer commented on #7812
Is that behavior documented anywhere? Why was the prompting ruled out? Trying to understand the reasoning.

[2019-04-03 10:02] TrabacchinLuigi commented on #7672
sorry i have no time to make a repro, but i've understood that putting "build pipeline" into nuget packages isn't a good idea, and that mostly it was a visualization problem, i'll track the other issue and close this one

[2019-04-03 10:02] #7672 closed, assigned to nobody

[2019-04-03 10:05] 4c74356b41 commented on #7341
looks like is are the only ones not using their hosted agents ;) pretty smart, eh? xD

[2019-04-03 12:58] ViktorHofer commented on #7812
Thanks it works.

[2019-04-03 12:58] #7812 closed, assigned to nobody

[2019-04-03 16:21] dtivel commented on #7871
Publishing packages to BAR failed after nearly 2 hours.

[2019-04-03 16:50] rrelyea opened #7952 "Publish 5.0 packages"
Publish nuget client packages
- `5.0.0-rtm.5867`
    Where 5867 is the build number of the last build that we inserted into the NetCore SDK 2.1.602 and 2.2.202

- `5.0.0`
     From build 5923 matching NuGet.exe 5.0.0

[2019-04-03 16:51] rrelyea opened #7953 "Consider publishing NuGet.mssign.exe"
Analyze 5.0 signing changes to determine if there is a new to upgrade consumers of NuGet.mssign.exe

/cc: @dtivel @rido-min

[2019-04-03 16:53] rrelyea opened #7954 "Tag NuGet.exe build in release-5.0.0-rtm branch (and develop and document convention)"

[2019-04-03 16:56] dtivel commented on #7669
@sixlettervariables, can you please contact me directly (dtivel @ microsoft) regarding the ETL trace?

[2019-04-03 17:45] #7933 closed, assigned to heng-liu

[2019-04-03 20:16] dtivel opened #7955 "Logging: exception callstacks are not reported with detailed verbosity"
While investigating https://github.com/NuGet/Home/issues/7837 and https://github.com/Microsoft/artifacts-credprovider/issues/77, I observed that callstacks were not reported even when `-Verbosity Detailed` was used.

There are 2 bugs in NuGet with respect to `-Verbosity Detailed` and exception callstack logging:

1. The [initialization of `logStackAsError`](https://github.com/NuGet/NuGet.Client/bl

[2019-04-03 21:14] AMoghrabi commented on #4126
Hello @TheRealPiotrP ,

Would you happen to know if this is on the team's radar? I see that there is a spec for a cross-platform credentials plugin but I don't see it being developed for generic uses, only for Azure pipelines: https://github.com/NuGet/Home/wiki/NuGet-Cross-Plat-Credential-Plugin

In any case, Is this something that I can attempt to develop and open a PR for or does the NuGet team

[2019-04-03 22:58] donnie-msft commented on #7950
@rrelyea @nkolev92
Wanted to mention, I found more URLs in code that are http://.
There's about 50 places, some are comments, some are metadata that I don't know if users will ever see. At least some Strings.resx but many don't show me references. An example string:
`Package '{0}' uses features that are not supported by the current version of NuGet. To upgrade NuGet, see http://docs.nuget.org/cons

[2019-04-04 02:39] Kryptos-FR commented on #3116
@rrelyea fixing it for a new version is not acceptable, it should be fixed in minor version on all version currently deployed.

[2019-04-04 02:54] #7951 closed, assigned to zivkan

[2019-04-04 05:43] knocte opened #7956 "Microsoft.NET.Sdk.targets(129,5): error MSB4018: System.TypeLoadException: Could not load type of field 'Microsoft.NET.Build.Tasks.DependencyContextBuilder:_filteredPackages' (12) (expected class 'NuGet.Packaging.Core.PackageIdentity' in assembly 'NuGet.Packaging, Version=5.0.0.6)"
## Details about Problem

NuGet product used: NuGet.exe
NuGet version (x.x.x.xxx): tested in 4.5.1.4879 and 5.0.0.5923 (affects both)
dotnet.exe --version (if appropriate): 2.1.602 (it was working fine in 2.1.505)
OS version: Ubuntu Linux 18.04
Worked before?: yes, but with previous .NET Core SDK version

## Detailed repro steps so we can see the same problem
1. Install mono from Microsoft deb pac

[2019-04-04 10:43] forderud commented on #442
Gentle reminder.

[2019-04-04 12:41] lukos commented on #3320
@rrelyea your workaround does not work unfortunately. We have a solution B with a project that is from another project area A. The packages folders are not at the same level in each project area so having a path to ../../packages is fine when building in the project area A but in B, it appears that this is used relative to the solution and not the project so it fails. This path, if anything, shoul

[2019-04-04 16:51] WeihanLi commented on #4393
A solution here? And any plan to fix this?

I find `dotnet nuget push *.nupkg` works normally on *unix os enviroment but on windows environment, it will also push *.snupkg

[2019-04-04 17:38] jevansaks commented on #7547
This also blocks trying to re-pack an unpacked nuget package using "nuget pack". Nuget itself blows up when it sees both license and licenseUrl. I had to modify my script to manually strip out the dummy licenseUrl out to work around this.

[2019-04-04 18:20] anangaur opened #7957 "Show missing metadata on VS PM - package details"
The following metadata is shown on Gallery but missing on VS Client:
* Release Notes
* Owner Info: https://github.com/NuGet/Home/issues/442
* Source code repository Link
* Package Size (from https://github.com/NuGet/NuGetGallery/issues/2957)
* Title (https://github.com/NuGet/Home/issues/5772)

New metadata, not yet exposed even on Gallery
* Signing information
* ReadMe

[2019-04-04 18:21] anangaur commented on #7865
The following issue was created to start showing owner info on VS: https://github.com/NuGet/Home/issues/7957

[2019-04-04 18:40] vsfeedback opened #7958 "Nuget Context Sensitive Menu should have "Manage Nuget Packages""
<p>Could you Add &quot;Manage Nuget Packages&quot; to the context sensitive menu when selecting the Nuget node? I know its there on Dependencies but I still right click on Nugets intuitively.  </p><p><a href="https://pbs.twimg.com/media/DzV7zOzVAAA0sLy.png:large"> Image:DzV7zOzVAAA0sLy.png:large</a></p>

_This issue has been moved from https://developercommunity.visualstudio.com/content/idea/45790

[2019-04-04 18:41] rrelyea opened #7959 "insertion of 5.1 into 16.1 preview 2"
@nkolev92 created insertion. I just reviewed the payload, and passed to @DoRonMotter for insertion approval.

[2019-04-04 18:44] vsfeedback opened #7960 "Manage Packages for Solution (all dialogs) would be very nice search box for projects to filter"
<p>Hello.</p><p>As we working with solutions with has many projects and heavily uses nugets.</p><p>Very nice feature in Nuget Package Manager would be to be bale to filter projects.</p><p>In example there is XXX project and I want to install/uninstall nuget for project Y. It is very hard to find that specific project to select and install nuget for it (similar as we have search box for nugets).</p

[2019-04-04 18:45] anangaur commented on #7960
@karann-msft Can you create or attach this issue to the list of PM UI  improvements we plan to do?

[2019-04-04 18:52] karann-msft opened #7961 "Allow package authors to define build assets transitive behavior in VS 2017 / NuGet 4.x"
source: https://twitter.com/dotMorten/status/1113867687266881536

Same as https://github.com/NuGet/Home/issues/6091 but for VS 2017 / NuGet 4.x

[2019-04-04 20:07] dtivel opened #7962 "Test: E2E tests use GenerateTestPackage.exe from \tools folder in EndToEnd.zip used instead of the just built executable"
EndToEnd.zip creation involves optional inclusion of a tools folder.  In CI builds the tools folder is always added.  The tools folder includes, among other things, a prebuilt copy of GenerateTestPackages.exe.  A setup script [overwrites](https://github.com/NuGet/NuGet.Client/blob/dev/scripts/e2etests/CopyToolsAndSetupMachine.ps1#L14) the just built GenerateTestPackages.exe with the version in the

[2019-04-04 20:28] SquGus commented on #7318
Please make this a feature, we are constantly trapped in update/consolidate hell 😢

[2019-04-04 20:33] anangaur commented on #7318
There is another feature where we are attempting to make the management of package version a central phenomenon i.e either at a Solution or a repository level. Though not scheduled to be implemented immediately but something we would like to start on, soon. Do review the spec and provide your feedback:
https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions

[2019-04-04 20:40] dtivel opened #7963 "Test: investigate test failures"
Continuation of https://github.com/NuGet/Home/issues/7873.

[2019-04-04 20:41] dtivel commented on #7963
https://github.com/NuGet/Home/issues/7934
https://github.com/NuGet/Home/issues/7962

[2019-04-04 21:17] mattiasnordqvist commented on #2867
I swear I had seen it somewhere! :D

[2019-04-04 22:26] rrelyea commented on #7959
VS Insertion done.

These are still outstanding...waiting for branches to exist, i believe.
CLI
https://github.com/dotnet/cli/pull/11054
https://github.com/dotnet/cli/pull/11053

SDK
https://github.com/dotnet/sdk/pull/3071
https://github.com/dotnet/sdk/pull/3070

[2019-04-04 22:27] #7949 closed, assigned to rrelyea

[2019-04-04 22:54] anangaur commented on #7958
Another similar request captured here: https://developercommunity.visualstudio.com/content/idea/474749/vs2019-nuget-packages-folder-doesnt-manage-nuget-p.html

[2019-04-04 22:55] rrelyea commented on #7952
Published on 4/4/2019 at 3:50pm (ish)

[2019-04-04 22:56] #7952 closed, assigned to rrelyea

[2019-04-04 22:56] vsfeedback opened #7964 "Identify dependency nuget packages"
<p>When I update NuGet packages I would to know if the package is a dependency (required) for another package.</p><p>In this case I can update only packages I have installed without breaking dependencies.</p>

_This issue has been moved from https://developercommunity.visualstudio.com/content/idea/437919/identify-dependency-nuget-packages.html
VSTS ticketId: 779424_
_These are the original issue c

[2019-04-04 22:57] anangaur commented on #7964
Seems to be related to `packages.config` based projects that list all the dependencies in a flat list without any indication on which packages were top-level vs those that got installed as dependencies.

[2019-04-04 23:49] chadwixk commented on #7848
From my description, how do you know that the issue is that certain assets didn't get deleted? These were all .netframework 4.6.2 projects that I converted.
Here's some screenshots that may add some more insight. They all point to this one line in the Microsoft.Bcl.Build.targets file.

![errorlist](https://user-images.githubusercontent.com/5115308/55595601-edefa480-5701-11e9-82d8-8a2823a390dc.PNG)

[2019-04-05 00:22] rrelyea commented on #7954
Did this with these commands:
git checkout release-5.0.0-rtm
git tag -a 5.0.0.5923 -m "NuGet.exe 5.0.0"

[2019-04-05 00:22] #7954 closed, assigned to rrelyea

[2019-04-05 06:46] albahari opened #7965 "How does one clear HttpHandlerResourceV3.CredentialService cache?"
So that I can handle authenticated feeds, I've implemented ICredentialProvider as follows:

[code]

I then assign it to HttpHandlerResourceV3.CredentialService as follows:

[code]

This works correctly if the username and password is entered correctly the first time. However, if the user first enters the credentials incorrectly, then re-enters them correctly, it still fails. The problem is that th

[2019-04-05 07:02] albahari opened #7966 "How do I programmatically configure an HTTP proxy with NuGet.Client?"
I would expect the following to work:

[code]

However, this does nothing because these settings are ignored in favor of ProxyCache.Instance, which always obtains its settings from the global default.

Also, an important setting appears to be missing from the configuration items - a flag to indicate that Windows credentials should be used, i.e., CredentialCache.DefaultNetworkCredentials.

Could I

[2019-04-05 10:32] sdg002 commented on #6280
Hi All,
Thanks for the responses. I have a question which related to Nuget packages on the Build Server. We are using Jenkins. We have been used to checking in the Nuget packages folder into Source Control because we found that this was a reliable way to version control all our dependencies. The Packages folder was under the .NET Solution folder and all worked well.

With the changes to Nuget as d

[2019-04-05 10:34] samneefs commented on #1827
I have the error also, but use another workaround:
I only get it on the solution level, when using the "Install" button, however, when you are on the "Updates" panel, there is also an "Update" button: using this button doesn't give the error.

After using  alohaninja's solution: I can now use the "Install" button again.

[2019-04-05 13:21] #7871 closed, assigned to dtivel

[2019-04-05 14:00] Flavien commented on #7427
Is there a reliable solution for this? I am running NuGet `5.0.0.6`, I've cleared all caches and fallback folders multiple times, and I'm still unable to get a CI build to pass without this error.

[2019-04-05 14:59] Flavien commented on #5602
I'm still struggling with this error:

(happens with any package randomly)

I'm using NuGet 5.0.0.6 and have cleared my caches and fallback folders numerous times. I am still getting this error on my CI build no matter what I try.

Any ideas what's wrong?

[2019-04-05 15:07] daveylad opened #7967 "NuGetizer - Support for Visual Studio 2019"
Will this extension be updated to support VS2019 ?

Tried running the the installer and although VS2019 is displayed as an option it is greyed out an not selectable.  The message displayed next to the option is "**The extension cannot be installed into this product due to prerequisites that cannot be resolved**"

![image](https://user-images.githubusercontent.com/2338522/55637382-d1647280-57bc-11e

[2019-04-05 15:54] anangaur commented on #5602
Can specify the exact steps? Or may be provide a repro?

[2019-04-05 15:55] anangaur commented on #5602
It would also be good to know the sources you are using. One of the reasons could be that the sources have different packages (with different SHA) and depending on which source was used to restore, you might see failures.

[2019-04-05 17:00] nkolev92 commented on #7967
//cc @kzu

[2019-04-05 17:05] nkolev92 opened #7968 "NuGet should normalize the trailing slashes for the global packages folder, fallback folder and the like"
Inconsistent configuration across commandline and VS can defeat no-op and cause an overwrite of the assets file, thus triggering a needless design time build.

Motivation from https://github.com/dotnet/arcade/issues/2351
//cc @rrelyea @markwilkie @tmat

[2019-04-05 17:20] nkolev92 opened #7969 "Fix the TargeFrameworkInformation equals method"
The EqualityUtility has a couple of debug asserts that are violated by the targetframeworkinformation equals for framework references.

https://github.com/NuGet/NuGet.Client/blob/dev/build/Shared/EqualityUtility.cs#L25-L26

[2019-04-05 17:26] #7337 closed, assigned to nkolev92

[2019-04-05 18:55] #7969 closed, assigned to nkolev92

[2019-04-05 19:03] nkolev92 opened #7970 "BuildIntegratedTests have a dependency to nuget.org"
This causes them to get outdated sometimes and start failing.

https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2561539&view=ms.vss-test-web.test-result-details

The 3 tests failing now are due to 5.0.0 being published and changing the TFM that makes them incompatible with the created projects.

These tests need reworked in the long term with the dependency removed (and that'll be rat

[2019-04-05 19:05] nkolev92 commented on #7339
Closing the epic as the "original requirements" are fulfilled. The rest of the issues linked are future work.

[2019-04-05 19:05] #7339 closed, assigned to nkolev92

[2019-04-05 19:15] nkolev92 commented on #7908
@rrelyea Do we want to patch https://github.com/NuGet/Home/issues/7854 as well?

It's a similar code path, but the impact is lower.

[2019-04-05 19:18] nkolev92 commented on #7908
Merged with https://github.com/NuGet/NuGet.Client/commit/e32a2ea7096debd3e513188f6779bb1041593326.

[2019-04-05 19:18] #7908 closed, assigned to nkolev92

[2019-04-05 19:19] nkolev92 commented on #7854
This was actually not merged in 5.0.
It got punted to 5.1.

[2019-04-05 19:37] #7898 closed, assigned to nobody

[2019-04-05 19:44] #7955 closed, assigned to dtivel

[2019-04-05 19:44] nkolev92 commented on #5725
The package types in question are:
`DotnetTool` and `DotnetPlatform`.

The Framework Reference feature also introduces other considerations.
https://github.com/NuGet/Home/wiki/%5BSpec%5D-FrameworkReference-in-NuGet

[2019-04-05 20:24] mdmoura opened #7971 "Nuget Pack in Azure Pipelines: The method or operation is not implemented"
I am trying to build a DotNetCore project and push the package to Azure Artifacts.

The Azure-Pipelines.yml I have is the following:

    trigger:
    - master

    pool:
      vmImage: 'Ubuntu-16.04'

    variables:
      buildConfiguration: 'Release'
      buildPlatform: 'any cpu'
      version: '1.0.0'

    steps:

    - task: DotNetCoreInstaller@0
      displayName: 'Install'
      inputs:

[2019-04-05 21:09] rrelyea commented on #7966
Haven't debugged into it, but this will work with 5.0.0, and would continue to work if we find out there is a bug here, as it seems:

[code]

[2019-04-05 21:13] rrelyea commented on #7964
Yes, the solution here is likely with PackageReference. You will only be proposed to update "top-level" or "direct" dependencies. This will prevent you from over-updating a dependencies beyond the desire of the component which uses it.
Can you migrate your solution to PackageReference from Packages.Config?

See https://docs.microsoft.com/en-us/nuget/reference/migrate-packages-config-to-package-ref

[2019-04-05 21:15] rrelyea commented on #7961
Assigning Milestone, but not yet planning to do.
Should we port this to 4.9.x codebase and ship as an update of VS and dotnet SDKs?

[2019-04-05 21:26] rrelyea commented on #7956
VS4Mac 7.8 and Mono 4.16 (?) and .NET Core SDK 2.1.602 or 2.2.202 have a problem.
We've removed the download for the Mac installers of those 2 SDKs, to avoid this problem.

Longer term, in VS4Mac8.x and Mono 4.18 (?), mono/msbuild should properly enforce loading compatible SDKs.  2.1.602 and 2.2.202 should only be loaded in an msbuild 16.0 environment.

This problem is showing up because we moved

[2019-04-05 21:28] rrelyea commented on #7950
It is reasonable to fix more of these. Why don't you fix all the ones that look very safe like this one. The ones that are questionable, make a list of those, and run by a few people on the team including @anangaur

[2019-04-05 21:30] rrelyea commented on #7948
@bergbria  - Can you test with 4.9.x as well?
My guess is the trusted sources and config work we did there may have broken this in 4.9.x.
Workaround for now, avoid ":".

@donnie-msft  - if this is a regression we introduced in 4.9.x, we should likely understand what other cases might be broken and review with @anangaur  and @rrelyea about the plan.

[2019-04-05 21:31] rrelyea commented on #7947
@jonathanpeppers  - do your tests run with different (isolated) temp directories?

[2019-04-05 21:34] rrelyea commented on #7938
@AceHack - are you asking this because your two packages differ, but have the same identity (id/version)? please describe why it is important, etc...

/cc @anangaur

[2019-04-05 21:43] nkolev92 commented on #7341
**Update**

I have another fix in the related code path in https://github.com/NuGet/NuGet.Client/pull/2795.
Note that while I am confident this will fix at least *some* of the issues reported here, I have no way of confirming that, so I will rely on feedback from you.

I will update again whenever this fix makes it in the previews of (2.1.700, 2.2.300 & 3.0.100).

[2019-04-05 21:43] rrelyea commented on #7944
The solution for this is to use `<clear />` in packageSources, disabledPackageSources, etc...
Not gorgeous, but we should explore using it first.

[2019-04-05 21:46] jonathanpeppers commented on #7947
The projects themselves, yes they each are in a separate directory.

It’s a directory such as `bin\Debug\temp\UniqueTestName`. They get deleted on `[TearDown]`.

[2019-04-05 21:48] rrelyea commented on #7971
@mdmoura  - Please try using the tool installer to switch to NuGet.exe v4.9.4 or later, and see if this problem still happens.

[2019-04-05 22:20] rrelyea commented on #7840
Discussing this more, we've decided that we'd like to:
1) keep our current behavior (like IDs in asset file) - case preserving, but case insensitive in comparisons.
2) make sure `dotnet add reference...` and similar scenarios should not lead you to the non-matching casing. @zivkan is going to test and follow up with any issues there.

@anangaur @nkolev92

keeping open while @zivkan researches the

[2019-04-05 22:46] zivkan commented on #7840
I confirmed that the latest .NET Core 2.2 `dotnet add reference` uses the case provided on the command line, not the case of the filesystem. I created dotnet/cli#11079 requesting this be changed.

[2019-04-05 22:49] jeffkl commented on #7840
@rrelyea I'm worried about the scenario where I changed one reference and the whole file is regenerated and I see a bunch of case differences instead of the single change.

The casing can come from a project-to-project reference, an SLN, or the command-line.  It seems like it should be normalized.

[2019-04-05 22:59] anangaur commented on #7840
@jeffkl
Essentially its about once vs. consistently showing these casing differences. And I kind of agree with you and vote for making this change once :) which means existing users will see a big change in the lock file one time when they change any dependency since we will shift to normalized casing after this fix. But subsequent changes would not affect the lock file.

@nkolev92 @rrelyea @zivka

[2019-04-05 23:01] karann-msft commented on #7960
related to - https://github.com/NuGet/Home/issues/7284

[2019-04-05 23:02] jeffkl commented on #7840
Lock files have a version.  Perhaps if it exists and its version 1, we keep the old behavior.  If it gets created the first time or I delete them all and start over they are version 2 with lowercase IDs.  Kinda complicated but might be worth it.

[2019-04-05 23:41] madelson commented on #7427
@Flavien not sure if you've already tried this, but we've found this issue to be very persistent even after updating it. The following usually fixes:

[code]

[2019-04-06 00:02] nkolev92 commented on #7840
But this again depends on how you keep regenerating your lock file.

It'll only be an issue if you keep alternating between sln file restore and project restore when adding references.
How likely is that?

It's such an edge case but our only option is a big hammer which makes things weird.

[2019-04-06 00:04] jeffkl commented on #7840
I'm more talking about a team of people.  You use solution files, I use traversal, another person restores a leaf node project.  We might all get different casing.

[2019-04-06 00:09] zivkan commented on #7840
A restore without changing package or project dependencies doesn't change the lock file (if it does, then there's a bug), so there shouldn't be large churn of the file, only when dependencies change.

Also, projects that are like this aren't cross-platform since they'll have problem on linux, or on Windows or Mac when file system case sensitivity is turned on. Although not all projects care about

[2019-04-06 00:15] jeffkl commented on #7840
For me, one of the big draws of lock files is I can see an exact diff of what changed when someone changes a dependency.  If there's a bunch of noise because of casing differences, it will lower the value of lock files

I do not understand why the casing in the lock files has to match what's on disk.  We never use the lock file to look for files on disk right?

It does lower the readability a litt

[2019-04-06 00:51] zivkan commented on #7840
The casing in the lock file does not have to match what's on disk, that's correct, so if implemented it won't prevent builds on case-sensitive file systems. I'm just saying this is a feature that "only" benefits solutions that have known environment-configuration issues and therefore won't build in environments where that configuration is different.

[2019-04-06 02:17] knocte commented on #7956
I'm reproducing this problem with Mono 5.18, the current stable version.

[2019-04-06 02:18] knocte commented on #7956
Can you do the same with Linux please? Remove the .deb files from the server.

[2019-04-06 02:20] knocte commented on #7956
So if I use Nuget 4.8, this might workaround the problem? If yes, can you tell me exactly what specific 4.8 version?

[2019-04-06 04:15] jeffkl commented on #7840
The first repo I tried out lock files hit it.  I think its because it has ~500 projects.  The teams I interact with have very large repos and will benefit greatly from lock files.  But if the lock files are churning a lot they will turn it off.

[2019-04-06 04:59] AceHack commented on #7938
@rrelyea Yes, we use VSTS i.e. Azure DevOps nuget repos and VSTS to store symbols.  So we have two feeds, 1st feed is optimized and built in release mode.  2nd feed is not optimized and built in debug mode.  This makes testing very easy since you can just point to the debug nuget feed.  Problem is not all the packages are on the debug nuget feed some are only on the release nuget feed, so it would

[2019-04-06 06:36] anangaur commented on #7938
Doesn’t upstreaming feature in ADO artifacts help you? You could use the debug feed that upstreams to release feed. And just mention the debug feed as source during development.

[2019-04-06 12:03] mrward commented on #7956
Right now we are tracking this problem for [VS Mac on Developer Community](https://developercommunity.visualstudio.com/content/problem/481018/resolvepackageassets-task-failed.html) - which @knocte you commented already. Although the error reported here is for .NET Core 3.0 preview 3, and the callstack is slightly different from what is in this github issue, the underlying problem is the same.

The

[2019-04-06 13:26] gulando commented on #7956
I have the same problem related with "ResolvePackageDependencies" task failed unexpectedly on my Ubuntu machine.
Ubuntu 18.04
dotnet  2.2.202
Global json file doesn't help too.
My project works under 2.1 version and uninstalling 2.2.202 doesn't help me too.
As you say above you have solved this issue for Mac. Can you please do it for Ubuntu 18.04???

[2019-04-06 14:41] AceHack commented on #7938
It does not help because there is no “during development”. We need to deploy to production, production services and at the same time we need to locally debug those same service which include many shared libraries.  We also don’t want to pull release packages in the debug feed.

[2019-04-06 14:50] AceHack commented on #7938
We also try to not depend on any specific VSTS features around nuget so we could switch providers if needed.

[2019-04-06 15:05] bdongus commented on #6795
Nuget 4.9.3.5777, VS2017 15.9.11. This still is an issue.

[2019-04-06 15:42] marcus-sonestedt commented on #6397
@Cheesebaron Thanks alot! I'll get on it next week and adapt it to cake-agnostic script, maybe a msbuild task or something.

[2019-04-06 16:14] Flavien commented on #5602
Here is a repro: https://github.com/Flavien/nuget-lockfile-repro.

I have generated the lock file by building the project on Visual Studio (Windows) 16.0.0.0 Preview 5.0. NuGet version is 5.0.0.

When I clone this on my Ubuntu WSL and run `dotnet restore --locked-mode`, I get this:

[code]

Here is `dotnet --info` on my WSL install:

[code]

The only source I have on Visual Studio is: nuget.org (h

[2019-04-06 16:43] The-Futurist commented on #4459
@davidnmbond

David, it's a year later and now I'm in the fully released version of VS 2019 and I have a trivial .Net Standard class library project that I just created. Yes I can use "Pack" to create a package but when I choose "Publish" I am presented with this:

![image](https://user-images.githubusercontent.com/12262952/55672444-11286a00-5850-11e9-9ba5-d91548c42e4f.png)

and that's pretty much

[2019-04-06 16:49] The-Futurist commented on #4459
@qJake - I agree, you'd think this was a hugely complex development effort but it's more or less adding a Project menu item to VS or adding support for a publish target that's a nuget feed (which amounts to running a simple push command).

This is like a Kafka novel.

[2019-04-06 17:52] Flavien commented on #7427
Thanks @madelson but unfortunately, this doesn't resolve the issue.

[2019-04-06 18:09] loic-sharma commented on #3601
Given this csproj:

[code]

Running `dotnet restore` results in the following error message:

`C:\Code\Hello\Hello.csproj(13,5): error MSB4232: Items that are outside Target elements must have one of the following operations: Include,
Update, or Remove.`

The issue here is that I've accidentally named the `Include` attribute as `Id`. This error message doesn't make that clear. Also, what are the `

[2019-04-07 13:49] ryno1234 commented on #4406
At 4.9 this still does not seem to be working. Do we have an estimated milestone yet for having this fixed?

[2019-04-07 13:52] ryno1234 commented on #4052
Any target date for this? It has been open quite a while.

[2019-04-07 20:35] bergbria commented on #7948
@rrelyea, I assume you meant to test with 4.**8**.x. I've just now confirmed that 4.8.2 works fine.

[2019-04-07 22:52] MarkPieszak commented on #6873
This would definitely be a nice feature, as it should just use the README inside Content folder (or whatever URL we'd like to specify).

It's a bit tough to remember to go to the nuget website and manually enter in the readme for every minor update 😞

[2019-04-08 03:28] KirillOsenkov commented on #5413
Similar issue, not sure if the same:

Restore a project with Microsoft.NET.Sdk that doesn't specify `TargetFramework` at all. You will get a pretty obscure error message:

[code]
It should probably fail earlier with a better error message, when it can't retrieve the TargetFramework from a project.

Right now it fails too late, with this stack:

[code]

Instead it should validate inputs earlier, so

[2019-04-08 03:33] KirillOsenkov commented on #5413
Aha, I see the GetProjectTargetFrameworksTask should probably be the one reporting an error:

![image](https://user-images.githubusercontent.com/679326/55697015-5d6cca80-5974-11e9-97c5-85623b34c307.png)

@KirillOsenkov

[2019-04-08 05:02] ruslanen commented on #7956
Same problem:
[code]
OS:
[code]
NET Core SDK
[code]
Mono:
[code]
(not repeated under Windows)

[2019-04-08 06:02] knocte commented on #7956
How does that global.json work? I thought that `apt` installations wouldn't depend on this? I for now am workarounding this problem by using an older version of .NETCore, yes, but downloading the .deb file manually.

[2019-04-08 08:19] mrward commented on #7956
A [global.json](https://docs.microsoft.com/en-gb/dotnet/core/tools/global-json) can be used to specify a particular sdk version when building with msbuild.

[2019-04-08 08:22] knocte commented on #7956
Ah I see, however I'm not sure that would help me because I'm actually just installing .NET Core SDK as a workaround to this other bug: https://github.com/mono/mono/issues/10570

[2019-04-08 10:30] Umc34 commented on #5358
thanks. 3 hours missed with my fault.. if no network, no restore...

[2019-04-08 14:07] kfertitta commented on #7347
Is there an update on this issue.  I'm seeing it with C++ projects and get the identical failure with regards to the top-level message "the result of evaluating...".

Worse still, the failure is a destructive operation because the roll-back does not put back the original `.props` import.

The top of my project, before the attempted `nuget update` operation was this:
[code]

After the update attemp

[2019-04-08 16:13] Dammmien commented on #7875
No network restrictions but I'm using [mono](https://www.mono-project.com), is it linked ?

[2019-04-08 16:50] dtivel commented on #7875
It's quite possibly linked to the failure.  What version of Mono are you using and what is your underlying operating system?

Package signing is currently supported only on Windows .NET Framework.  We may have overlooked explicit disablement of package signing under Mono, and that may explain why you're running into these unexpected issues.

Signed package verification, which is somewhat related t

[2019-04-08 19:43] peterhuene opened #7972 "dotnet add package should use use correct defaults at evaluation time"
_From @sharwell on Monday, 08 April 2019 18:34:35_

## Steps to reproduce

## Expected  behavior

The default values for `IncludeAssets` and `PrivateAssets` are determined automatically during the build:

[code]

## Actual behavior

The default values for `IncludeAssets` and `PrivateAssets` clutter the project file:

[code]

## Environment data

Unknown (filed in response to https://github.com/dot

[2019-04-08 19:43] peterhuene commented on #7972
_From @peterhuene on Monday, 08 April 2019 19:34:27_

The `dotnet add package` functionality actually responsible for modifying the project file lives in NuGet (in `NuGet.CommandLine.XPlat.dll`).

I'm going to move this there.

[2019-04-08 20:19] karann-msft opened #7973 "VS UI nuget.config management"
- [x]  discover config files that impact a project/solution - https://github.com/NuGet/Home/issues/8420
- [ ]  show the net effective config settings
    - [ ] packageSources
    - [ ] packageSourceCredentials
    - [ ] global packages folder
    - [ ] package trust policies (repo, owner, author, validation mode)
    - [ ] packageRestore
    - [ ] defaultPushSource
    - [ ] apikeys
- [ ]  ability

[2019-04-08 20:45] joelverhagen opened #7974 "How to interrogate NuGet for the globalPackagesFolder"
@mwpowellhtx commented on [Thu Apr 04 2019](https://github.com/NuGet/NuGetGallery/issues/7049)

Specifically, I am interfacing from a .NET context. I am taking a dependency on a Git package, which I need to invoke from the command line. But to do that I need to know where that dependency potentially landed. I'm assuming in a ``packages/``, but which ``globalPackagesFolder`` specifically?

For pack

[2019-04-08 20:46] joelverhagen commented on #7974
Hey @mwpowellhtx, I have moved this issue to NuGet/Home repository. NuGet/Home is where NuGet client related issues are tracked. NuGet/NuGetGallery is for nuget.org related issues. Sorry about the confusion!

[2019-04-08 21:40] zivkan commented on #7974
@mwpowellhtx I don't know the relevant parts of the code, but if you look into the implementation of `nuget.exe locals -l global-packages`, I hope that it should show a relatively simple way of reading/parsing the `nuget.config` settings files, then finding the global packages folder from the results. `dotnet nuget locals -l global-packages` also shows the output, and the NuGet entry point is in t

[2019-04-08 21:40] karann-msft opened #7975 "Why the CLI after all these years?"
@Korporal commented on [Sat Apr 06 2019](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1389)

It's incredible that Microsoft have still not added GUI publishing support for nuget packages into Visual Studio. I half expected to see something appear in Visual Studio 2019 but alas no. I can use the GUI to edit package details, I can use the GUI to run "pack" but then I must open a command

[2019-04-08 21:41] lukeschlather commented on #7341
I've just started playing around with ADO hosted agents and I hit this pretty quickly. I don't want to tie up one of my agents we're paying for but I imagine if I just ran the same build on a schedule every 10 minutes with some jitter it would fail several times a day. I encountered it on the 10th build or so.

[2019-04-08 22:48] nkolev92 commented on #7975
Duplicate here:
https://github.com/NuGet/Home/issues/4459

[2019-04-08 22:48] #7975 closed, assigned to nobody

[2019-04-08 22:51] nkolev92 commented on #7972
I'd imagine this is a dev dependency package? If so that's by design (as a popular ask by the community)
Those values are not the defaults.

https://github.com/NuGet/Home/issues/4125

[2019-04-08 22:53] #7972 closed, assigned to nobody

[2019-04-08 22:53] nkolev92 opened #7976 "The performance scripts should have better defaults, a readme and a synopsis"

[2019-04-08 23:04] nkolev92 opened #7977 "Threading issues with DirectoryUtility.CreateSharedDirectory cause failures in restore/pack on Linux/Mac"
Likely root cause of https://github.com/NuGet/Home/issues/7341.

This is the issue tracking the fix. The other issue has lots of engagement and I want to avoid closing it before getting a confirmation that the issues have been fixed.

https://github.com/NuGet/NuGet.Client/pull/2795

During the investigation of https://github.com/NuGet/Home/issues/7908, I found that this utility has threading issue

[2019-04-08 23:06] nkolev92 commented on #7977
Fixed in https://github.com/NuGet/NuGet.Client/pull/2795

[2019-04-08 23:06] #7977 closed, assigned to nkolev92

[2019-04-08 23:13] sharwell commented on #7972
@nkolev92 The values are not the defaults for all `PackageReference` items, but they are the defaults for _this_ `PackageReference` item. This bug indirectly blocks the use of `dotnet add package` in projects I work on, leaving users with manual editing of the project file as the only allowed way to update references.

[2019-04-08 23:17] sharwell commented on #7972
The specific situation where this arises is unit test projects. The projects have no downstream consumers, so the elements here are unnecessary noise in the project file for this case (they have no observable impact in the solution aside from clutter). Therefore, pull requests following the use of `dotnet add package` for these projects get rejected, and users are instructed to not use this comman

[2019-04-08 23:54] nkolev92 commented on #7972
Spec at https://github.com/NuGet/Home/wiki/DevelopmentDependency-support-for-PackageReference

I understand that, but that is the best solution we have.
Having the package be private assets implicitly is a non-starter. The user needs to be able to understand why certain assets were excluded/included. Furthermore the user needs to be able to change that.

The other options was having different item

[2019-04-08 23:55] SimonCropp opened #7978 "Dont refresh the nuget UI when changing tabs in VS"
Givem the nuget UI can take minutes to load, it is nice to be able to switch to another tab and get some other work done. But this is not possible since any time u focus back on the nuget tab it starts the whole load again.

[2019-04-09 08:40] serhii-diedov commented on #5128
Is there any changes on it? Have the same problem in 2019!

[2019-04-09 08:52] Dammmien commented on #7875
Ok so that's probably the issue I'm facing, I'm using `Mono SignCode - version 5.18.1.0`, it fails on my laptop (MacOS 10.14.3) and on my continuous integration server (Debian 8). Do you know how I could sign a `.nupkg` on these operating systems ?

[2019-04-09 12:48] tbolon commented on #5556
We have a similar problem for our versioning: we are building multiple packages using different builds for the same repo.

Projects are referencing each other using ProjectReference, and our build system set the third part of the version number based on azure devops BuildID. We a trying to respect SemVer, in the sense that we update the minor & major version number when breaking or non trivial cha

[2019-04-09 12:58] jnm2 opened #7979 "Misleading message "NU3028: The certificate is revoked.""
Using `nuget.exe sign -Timestamper http://tsa.starfieldtech.com` from the command line:

[code]

It would seem like the next step would be to go to our certificate issuer who runs that timestamp server and as them why our tools are saying that their timestamp certificate is revoked, but that just sounded too strange to me.

So I investigated by signing a DLL with `signtool /t http://tsa.starfieldt

[2019-04-09 15:43] peterhuene opened #7980 "global nuget.config not being used on run"
_From @kavitachana on Thursday, 04 April 2019 20:51:22_

## Steps to reproduce
I created a tool path for Jenkins to use ( /opt/jenkins/tools/com.cloudbees.jenkins.plugins.customtools.CustomTool/DotNet_2.1.403/xdgDataHome) and set the environment variable XDG_DATA_HOME to that tool path.

## Expected  behavior
When I run restores without a Nuget.config in the project or workspace, I expect it to us

[2019-04-09 15:43] peterhuene commented on #7980
_From @dnbr2002 on Thursday, 04 April 2019 21:49:08_

I wonder if this XDG_DATA_HOME env var even applies to the dotnet cli?  It's listed in the nuget docs [here](https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior) but when running restores with dotnet cli will it use this same Global env var or is this only for use with nuget cli commands?

[2019-04-09 15:43] peterhuene commented on #7980
_From @dnbr2002 on Friday, 05 April 2019 16:12:35_

This may be a linked issue??

https://github.com/NuGet/Home/issues/7839

[2019-04-09 16:17] dougbu opened #7981 "Invalid `NuGet.exe` commands should exit with a non-zero code"
# Information
## Details about Problem
- NuGet product used: NuGet.exe
- NuGet version (x.x.x.xxx): 4.1.0.2450 / 4.1.0 and 5.0.0.5923 / 5.0.0+42a8779499c1d1ed2488c2e6b9e2ee6ff6107766 though likely all versions
- OS version (i.e. win10 v1607 (14393.321)): Windows 10 v1809 (OS build 17763.379) though problem does not appear specific to the OS version
- Worked before? **No**

## Detailed repro steps

[2019-04-09 16:56] nkolev92 opened #7982 "Should absolutely all VSIX content be signed?"
Follow up to https://github.com/NuGet/NuGet.Client/pull/2798

Should the xmls like modules\nuget\cs\nuget.packagemanagement.powershellcmdlets.dll-help.xml be signed?
//cc @rrelyea

[2019-04-09 17:26] peterhuene opened #7983 "dotnet add package -s"
_From @Wscar on Tuesday, 09 April 2019 17:13:35_

## Steps to reproduce
I use "dotnet add package xxx -s https://api.nuget.org/v3/index.json
 " the command to install the specified package, which has been accessing my private package source instead of https://api.nuget.org/v3/index.json

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:
info : 正在将包“Newtonsoft.J

[2019-04-09 17:29] dtivel opened #7984 "Test: pregenerate E2E test inputs"
This would shorten E2E test run times by ~7 minutes, possibly more.

There's concern about checking into git the nupkgs as it would bloat the repo.  Consider publishing test inputs as a separate package that is downloaded as part of the build or test run.

[2019-04-09 18:11] lopezdp commented on #6812
OMG... What is the solution???

[2019-04-09 18:15] lopezdp commented on #6665
None of this is working... How can I restore after this error:

[code]

[2019-04-09 18:39] zivkan commented on #7959
New insertion started and the previous cli and sdk PRs have been closed. The new ones are:

CLI
dotnet/cli#11112
dotnet/cli#11113

SDK
dotnet/sdk#3105
dotnet/sdk#3106

[2019-04-09 18:41] nkolev92 commented on #6665
@lopezdp What kind of a project is that?

`msbuild /t:restore` or `nuget.exe restore` is the approach for projects not supported by the sdk.

[2019-04-09 18:46] nkolev92 commented on #7848
How is that targets file imported?
Microsoft.Bcl.Build.targets

If possible, can you zip up a project premigration?

Thanks

[2019-04-09 19:44] lopezdp commented on #6665
VS2019 neither of those commands worked either. Not sure what info to provide...

I can build from IDE but ultimately I am trying to `dotnet publish` so I can deploy minor changes to an existing application.

Any idea or resources you suggest I look at?

Thanks!

[2019-04-09 19:47] dtivel commented on #7875
Package signing and signed package verification is not yet supported outside of Windows .NET Framework.  We plan on delivering it later this year.  https://github.com/NuGet/Home/issues/7939 tracks the work.

[2019-04-09 20:21] nkolev92 commented on #6665
What's the type of the project you created?
Does it have PackageReference?

How does it fail when you run `msbuild /t:restore`?
Do you have a repro project?

[2019-04-09 20:24] lopezdp commented on #6665
msbuild : The term 'msbuild' is not recognized as the name of a cmdlet, function, script file, or operable program.
Check the spelling of the name, or if a path was included, verify that the path is correct and try again.

I will add you as a collaborator on the project now to take a look. This is a new project that I was assigned and just trying to figure out how to run it to deploy a small chang

[2019-04-09 20:28] nkolev92 commented on #6665
Do you have VS installed on the machine? It's likely msbuild.exe. Try that too.

If you do have VS, open a developer command prompt and run the command there.

[2019-04-09 20:31] lopezdp commented on #6665
Yes VS2019 is installed.

I tried with msbuild.exe and same error result observed.

Really want to run from PowerShell if possible.

Do you have any resources that you may recommend?

[2019-04-09 20:37] nkolev92 commented on #6665
@lopezdp
VSWhere should help.
You can find the location of msbuild with it.

https://github.com/Microsoft/vswhere

[2019-04-09 20:41] lopezdp commented on #6665
I meant in terms of figuring out how to publish and deploy changes to an app developed on dotnet? Not sure how VSWhere can help right now but thanks. Just a bit lost and looking to level up.

Cya.

[2019-04-09 21:01] lopezdp commented on #6665
Did not work from Cmd prompt either inside of my VS2019 install. Any help would be great.

[2019-04-09 21:22] karann-msft opened #7985 "set website project PackageReference"
@sunliusi commented on [Mon Apr 01 2019](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1374)

we have a old website porject. The website project reference netstandard library, website project no "csproj" file. how to set The website project to PackageReference.

[2019-04-09 22:06] zivkan commented on #7978
Closing as duplicate of #6570

[2019-04-09 22:06] #7978 closed, assigned to nobody

[2019-04-09 22:13] zivkan commented on #7985
@sunliusi PackageReference needs a project file, as that is where the references are stored. Therefore website projects that do not have a MSBuild file are incompatible with PackageReference.

[2019-04-09 22:13] #7985 closed, assigned to nobody

[2019-04-09 23:20] zivkan commented on #7850
@vihoti To provide some security for secret values, NuGet uses the [`ProtectedData.Protect`](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.protecteddata.protect?view=netframework-4.7.2) API to encrypt the password/apikey, but this uses a per-user encryption key, so will not work for other users, even on the same machine.

I recommend each developer edit their profile NuG

[2019-04-10 00:02] dtivel commented on #7979
I grabbed the certificates from the timestamp response, Base64-encoded them, and wrote this script:
[code]

Here is the output on Windows:
[code]

[2019-04-10 00:15] nkolev92 commented on #7981
Did @dominoFire's PR https://github.com/NuGet/NuGet.Client/pull/2505 address this?

[2019-04-10 00:20] karann-msft commented on #5879
recently when an enterprise customer attempted to move to Package Ref, they had a lot of pain doing this one project a time with 1400 projects. I believe this is representative of the enterprise customer experience in general.

[2019-04-10 00:34] jnm2 commented on #7979
Ah, thank you! I really appreciate it.

[2019-04-10 00:34] #7979 closed, assigned to nobody

[2019-04-10 01:34] erikest opened #7986 "Nuget pack opens files in ignored directories"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

nuget.exe

NuGet version (x.x.x.xxx):

5.0.0.5923

OS version (i.e. win10 v1607 (14393.321)):

win10 10.0.17134

## Detailed repro steps so we can see the same problem

1. Created a new project, ala `dotnet new grpc`

2. Opened in visual studio - so it creates .vs folders

3. put together a nu