[2017-11-03 05:42] emgarten commented on #6139
@davkean thanks for the trace and tracking this down!

[2017-11-03 05:44] youngerier commented on #6138
here is my .csproj file @emgarten
[code]

[2017-11-03 05:47] youngerier commented on #6138
i have  used .nuspec file  to pack
[code]

but its not work either

[2017-11-03 09:09] ghost commented on #3050
While reading this discussion I got the impression that most build chains were broken while copying/deploying the generated package as they expected another filename (as was our build chain). What if the build script could “ask” nuget.exe to get the expected filename of a package? e.g.
[code]
or
[code]
or
[code]
This would allow build scripts to always get the right filename.

[2017-11-03 12:27] OliverRC commented on #6133
it was as if I ran Update-Package -Reinstall with no package name

[2017-11-03 12:58] StingyJack commented on #3050
@JeanMarcHengen - Its not just build scripts.  Some of us produce software that is used in regulated (pharmaceutical) environments, where changes to the software (or the means with which is produced) can require "re-[validation](https://en.wikipedia.org/wiki/Validation_(drug_manufacture))".

Validation is tedious and costly - every action is pre-scripted, then executed, with evidence captured and

[2017-11-03 13:43] ievgennaida commented on #5996
I got same issue on VS 2017 @nkolev92  @rohit21agrawal  So problem is still there.
[code]

[2017-11-03 13:45] ievgennaida commented on #5996
Attempting to gather dependency information for package 'TEST.TEST.3.3.77' with respect to project 'UnitTesting\BusinessLayer\ServiceInterface\Implementation\TESTInterface.Test', targeting '.NETFramework,Version=v4.5'
Gathering dependency information took 1,66 sec
Attempting to resolve dependencies for package 'TEST.TEST.3.3.77' with DependencyBehavior 'Lowest'
Resolving dependency information too

[2017-11-03 14:33] emgarten commented on #6133
@OliverRC does it help to add -IgnoreDependencies?

Are the other packages being re-installed dependencies of the package you referenced?

[2017-11-03 14:54] emgarten commented on #6138
@youngerier add a `<files>` section to define which files are copied and where.

[2017-11-03 16:22] livarcocc opened #6140 "dotnet restore only tries one source"
_From @keslerm on March 6, 2017 19:14_

When using dotnet restore with either a nuget.config with multiple sources, or passing multiple -s options it only tries one source.

This means that when trying to do dotnet restore on a project that has a private repo and a public repo and pulls from both, the restore operation will fail because obviously some package disparity between the two repos will e

[2017-11-03 16:22] livarcocc commented on #6140
_From @richlander on March 10, 2017 5:56_

Are you saying that restore fails on the first source and doesn't try the second one?

/cc @blackdwarf

[2017-11-03 16:22] livarcocc commented on #6140
_From @keslerm on March 10, 2017 14:22_

Yes essentially, it tries to restore the private package's dependencies only from the private repo, and never tries to look in the public one even though both are specified in the config file.

I was able to work around it kind of by running `dotnet restore` first with only the private repo as a source, then again with the public repo as a source. This got

[2017-11-03 16:22] livarcocc commented on #6140
_From @blackdwarf on March 10, 2017 15:5_

@keslerm can you paste in your nuget.config? Also if you are using -s option can you provide the full invocation?

[2017-11-03 16:22] livarcocc commented on #6140
_From @keslerm on March 11, 2017 17:38_

@blackdwarf I have tried every variation i could. Using the switches or the config file. Ultimately what ends up happening is the first provided source is the only source tried.

The project I am doing `dotnet restore` only has the one dependency which is hosted on the private repo. That privately hosted dependency has more dependencies that are available o

[2017-11-03 16:22] livarcocc commented on #6140
_From @richlander on April 21, 2017 5:2_

/cc @rrelyea @livarcocc

[2017-11-03 16:22] livarcocc commented on #6140
_From @thenathanjones on November 3, 2017 3:44_

Hi all. Just wondering what the plan is with this? Our team just realised today they were running into this when trying to diagnose why restore was trying to pull public packages from the internal NuGet repo.

My concern here is that this was first opened in March and there has been radio silence since the last post in April. If this is being tracke

[2017-11-03 16:22] livarcocc commented on #6140
Moving the issue to the NuGet repo.

[2017-11-03 17:29] azchohfi commented on #6137
The NuGet restore option inside the MSBuild’s VSTS build task is being deprecated (and the recommended way of doing restore is thru the NuGet restore VSTS build task), then their behavior should match, and right now, they don’t.

I have no idea how this files were created, and I agree that they are bizarre...

[2017-11-03 19:47] zhili1208 commented on #6140
@keslerm Did you still repro this issue with latest dotnet cli? I restored a project which have one package from private repo and the package have dependency from public repo. but can't repro the issue.

[2017-11-03 21:13] jbrinkle commented on #3891
Also wishing there was a way for project references to be auto-included in nuget packages...

[2017-11-04 00:06] rmarinho commented on #5800
have the same issue.

[2017-11-04 03:01] jnm2 commented on #4142
In the meantime this is my workaround:

[code]

[2017-11-04 03:33] jnm2 commented on #3891
I'm having the exact same issue with `<PackageReference>`. I need `PrivateAssets="all"` but I also need the referenced DLLs to end up packaged along with the build output. I guess the [same](https://github.com/NuGet/Home/issues/3891#issuecomment-330668337) approach is the best approach for this?

[2017-11-04 03:46] davidfowl commented on #1538
Yes please 😄

[2017-11-04 04:11] nkolev92 commented on #5909
@netspark As indicated earlier, this was closed as  a duplicate of #1851.
Please follow/subscribe to that issue for updates.

[2017-11-04 05:10] jnm2 commented on #3891
What would be really cool though is to not have `PrivateAssets="all"` because that way the test project doesn't need to duplicate the package references, but still suppress the nuspec dependency and include it as `\lib` build output.

[2017-11-04 10:47] youngerier commented on #6138
I have tried ues this .nuspec file  @emgarten
[code]

but the  .nupkg structure is still worng
![image](https://user-images.githubusercontent.com/10486543/32404639-42341d56-c18e-11e7-9781-63b12b50f7ed.png)

but only if i   comment .csproj the <Import> element the package is right
![image](https://user-images.githubusercontent.com/10486543/32404645-8a0fce68-c18e-11e7-8284-c6829b185540.png)

and wha

[2017-11-04 15:13] ohadschn commented on #6124
Where can I find the validation logic / regex for package versions?

[2017-11-04 15:58] japj commented on #5220
I was wondering, if I want to load my own SDK  without having to code my own resolver, would it be possible to extend the MSBuildSDKsPath mechanism to support multiple paths? Then on my build I can just 'append' to the current path.
Or is that already supported with a different mechanism? (My SDK would be in source control and not be installed in the MSBuild sdk folder)

[2017-11-04 15:59] japj commented on #5220
Sorry, just realised this is the nuget repo.. not the MSBuild/SDK one

[2017-11-05 11:10] thomaslevesque commented on #4142
@jnm2 nice, thanks for the tip!

[2017-11-05 11:38] patroza commented on #3767
What a PITA, the whole nuget process is a mess recently. Especially solutions that mix csproj of .NET Framework, .NET Standard and  .NET Core. And now this..

[2017-11-05 11:43] patroza commented on #6020
What a PITA, the whole nuget process is a mess recently. Especially solutions that mix csproj of .NET Framework, .NET Standard and  .NET Core. And now this..

[2017-11-05 12:20] patroza opened #6141 "NU1605 by default treated as error instead of warning, breaks updating packages in solutions"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): VS 15.4

dotnet.exe --version (if appropriate):

VS version (if appropriate): 15.4

OS version (i.e. win10 v1607 (14393.321)): win 10 creators

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Create a

[2017-11-05 13:48] lambdakris commented on #4102
Hey, wondering what is the status of this? It has been awhile and the absence is still felt, especially if working with dotnet cli and vs code. Hope it makes it within the 15.5 timeframe...

[2017-11-05 17:31] ENikS opened #6142 "Higher priority for search results of reserved prefixes"
It would be nice if package search returned results for registered prefixes on top of the search list. For example if I search for package ``Unity``, which is reserved prefix, it returns 500+ results with other packages mixed in into the list:
[code]
It would be nice if prefix would be recognized and given higher priority

[code]

[2017-11-05 18:44] robertmuehsig commented on #6102
Question regarding those fields: Are they even still required? I guess if "Title" is not set, you will just use the PackageId, which in my point of view makes perfectly sense.

Even the "Summary" element doesn't seem to be that important, because I see my description text in the VS search, which is also great.

My question is: Does it really make sense to add those two fields to the VS page or sho

[2017-11-06 08:03] OliverRC commented on #6133
The other packages that were reinstalled were not dependencies on the package I wanted to reinstall.

[2017-11-06 09:50] AlexTeixeira opened #6143 "Restore nuget failed : Ambigous project name"
# Version details

**Nuget version** : AppVeyor version ( Current Visual Studio 2017 version )

**MSBuild version** : 15.4.8.50001

**OS** : AppVeyor version

**Project Type** : Multiplaform nuget for Xamarin

**Link to appveyor** :
https://ci.appveyor.com/project/AlexTeixeira/askmethat-xforms-controls/build/1.1.1-CI-11-ythksvpb

**Link to GitHub project** :
https://github.com/AlexTeixeira/Askmeth

[2017-11-06 18:27] azchohfi commented on #6137
I think this was a mistake from my end. MSBuild also throws when there are blank lines at the header. VS doesn't, but MSBuild does.

[2017-11-06 20:19] devlead opened #6144 "Regression in preview nuget.exe v4.4.0 install command"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe

NuGet version (x.x.x.xxx): v.4.4.0 (preview)

OS version (i.e. win10 v1607 (14393.321)): 17025, but also confirmed on AppVeyor CI Windows 2016 Server

Worked before? If so, with which NuGet version: 4.3.0

## Detailed repro steps so we can see the same problem

Have a folder with pac

[2017-11-06 20:33] nkolev92 commented on #6144
My guess is, it was probably introduced  in https://github.com/NuGet/NuGet.Client/pull/1634

It seems like we don't differentiate between no packages being isntalled and a package restore failed.
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/Commands/InstallCommand.cs#L211

//cc
@zhili1208

[2017-11-06 20:41] zhili1208 commented on #6144
I can repro this, it's a regression

[2017-11-06 21:03] zhili1208 opened #6145 "NuGet restore failed if one source is down even all packages are in cache"
the scenario is:

one enabled source is down and all package which need to be restored are in cache.

NuGet restore still fail due to one source is down.

[2017-11-06 21:03] devlead commented on #6144
Ok  great that you can repro. As most CI use exit codes to determine if a tool fails the build is not - this could potentially break quite a few builds.

[2017-11-06 21:21] anangaur commented on #6145
Historical issues with sources: https://github.com/NuGet/Home/issues/4949

[2017-11-06 21:23] anangaur commented on #6144
@devlead Agree. We plan to fix this before making 4.4.0 the default

[2017-11-06 21:27] devlead commented on #6144
Excellent 👍

[2017-11-06 21:28] anangaur commented on #6144
/cc: @rrelyea

[2017-11-06 21:47] DominikMe opened #6146 "Consume C# nuget from C++/Cx with additional C# dependencies"
## Problem statement

It is hard to pack a C# Windows Runtime Component that has dependencies to other CLR nuget packages so that it can be consumed from a C++/Cx Universal Windows App.

**Notice that this is not the typical "consume native from managed" problem but the opposite direction: an existing C++ app that needs to consume XAML controls and libraries written in C#.**

The question is how t

[2017-11-06 22:05] zachweg commented on #3676
@yishaigalatzer
I think this is a good design but looking for more clarity on this issue...
Is package source search order by quickest response specific to nuget.exe client? Otherwise why does Visual Studio NuGet Package Manager Settings allow you to order the available package sources? There is also contradictory documentation on docs.microsoft.com (see step 4):
https://docs.microsoft.com/en-us/n

[2017-11-06 22:24] crenshaw78 commented on #2854
Just click on Packages -> Control Right Click -> Restore Packages. That fixed it for me.

[2017-11-06 22:51] zhili1208 commented on #6141
NuGet treat NU1605 as warning by default, but looks like net standard template set TreatsWarningAsErrors to true for NU1605. @terrajobst Do you have any ideas why net standard template do this?

[2017-11-07 00:05] zhili1208 commented on #6146
@emgarten looks like we don't have a compete support for this scenario, do you know any better way to make this work?

[2017-11-07 05:39] gep13 commented on #6144
@zhili1208 @anangaur can you help me understand why the milestone on this issue has been changed?  Surely this is a serious regression that should be fixed in the next release?!?

[2017-11-07 08:01] paulinfrancis commented on #5024
I'm also experiencing this issue. The files appear in Visual Studio as expected, but if I look in project.assets.json, all my PowerShell files are listed with "buildAction": "Compile", and not "None", as specified in the nuspec.

When I build the project, the C# compiler tries to build the PS scripts, and that ends in tears.

Installing the package and building with the dotnet CLI and VS both yiel

[2017-11-07 12:51] PhilPJL opened #6147 "Package restore failed. Rolling back package changes"
VS version 15.4.2.

1. I have an existing .NET 4.5 project which uses packages.config
2. Change to use package references using VS extension "NuGet PackageReference Upgraded" - looks good
3. Try to downgrade a referenced package (e.g. Entity Framework from 6.2. to 6.1.3).  Get error message
  "Package restore failed. Rolling back package changes"

4. Remove package and add desired version (6.1.3)

[2017-11-07 15:27] hawk2411 commented on #4746
I have the same issue with nuget version 4.4.0.4475. A package with vesion number  "1.0.1-beta" cannot be deleted (NotFound) but package with version "1.0.1" is deleted without problems.

[2017-11-07 18:16] jainaashish commented on #5024
@paulinfrancis can you make sure you've the right package folder structure in project before packing this nuspec, which is `/contentFiles/{codeLanguage}/{TxM}/`? Also seems like you don't need `files` tag which is specified outside of `metadata` tag. You just need `ContentFiles`. Please refer https://docs.microsoft.com/en-us/nuget/schema/nuspec#including-content-files to get more details about pac

[2017-11-07 18:16] zhili1208 commented on #6144
@gep13 we just put all items in backlog for now, this will be fixed ASAP

[2017-11-07 18:18] zhili1208 commented on #6147
Could you share the error message from error list?

[2017-11-07 19:36] PhilPJL commented on #6147
The error list says: "Package restore failed. Rolling back package changes for ..."

The output window says:
Running restore with 8 concurrent jobs.
Reading project file C:\Users\ImpPhil\source\Workspaces\HexcelAppFx\AppFramework\Hexcel.Business.Shared\Hexcel.Business.Shared.csproj.
Restoring packages for C:\Users\ImpPhil\source\Workspaces\HexcelAppFx\AppFramework\Hexcel.Business.Shared\Hexcel.Bus

[2017-11-07 20:17] gep13 commented on #6144
@zhili1208 thanks for getting back to me.  Will keep an eye out for an update, and help test/verify once it is available.

[2017-11-07 21:58] clipsett opened #6148 "Unable to push packages with nuget CLI to local repository"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2017-11-07 22:18] zhili1208 commented on #6147
Could you please share the project.asset.json file from obj folder? Did you get any error in ErrorList windows?

[2017-11-07 22:31] jdom commented on #1590
Is there any progress in this or a similar feature?

[2017-11-07 22:48] dtivel opened #6149 "NuGet Plugin implementation: multiple issues"
- [x] The wrong `CancellationToken` is used [here](https://github.com/NuGet/NuGet.Client/blob/9201eaf4b163f5fe887cbf7bd8dc3619e0328272/src/NuGet.Core/NuGet.Protocol/Plugins/MessageDispatcher.cs#L459).
- [x] `TaskCompletionSource` [here](https://github.com/NuGet/NuGet.Client/blob/9201eaf4b163f5fe887cbf7bd8dc3619e0328272/src/NuGet.Core/NuGet.Protocol/Plugins/RequestHandlers/SymmetricHandshake.cs#L72

[2017-11-07 23:27] rrelyea commented on #5296
closing this issue, as we reactivated internal bug 395888 and assigned to our team.

[2017-11-07 23:27] #5296 closed, assigned to nobody

[2017-11-07 23:39] loudenvier commented on #3131
Still no working version for VS2012. By now we should infer that it will never be implemented. I'll download the sources manually on github for FcmSharp :-)

[2017-11-08 00:05] anangaur commented on #1590
Related feature proposal/discussion happening here: https://github.com/NuGet/Home/issues/2867

[2017-11-08 00:55] clipsett commented on #6148
Closing this because this was my fault. I created a group repository rather than a hosted repository in nexus. User error!

[2017-11-08 00:55] #6148 closed, assigned to nobody

[2017-11-08 03:45] FeodorFitsner commented on #6082
Looks like the certificate was updated.

[2017-11-08 05:27] rohit21agrawal commented on #5024
@jainaashish either should work - you can either have the convention based folder structure or use the files tag to include files and then also add them as contentFiles

[2017-11-08 06:41] gulbanana commented on #5024
also, that nuspec is the one which was generated (incorrectly) by nuget packtasks. it wasn’t hand written.

[2017-11-08 07:52] paulinfrancis commented on #5024
@jainaashish I've done another test, and the same behaviour as previously mentioned is exhibited; the C# compiler tries to compile the PowerShell scripts.

[code]
@rohit21agrawal I was also under the impression that files and contentFiles aren't mutually exclusive, and that they serve separate purposes.

[2017-11-08 09:27] rohit21agrawal commented on #5024
What does the generated nuspec file within the nupkg look like?

[2017-11-08 10:31] gatsbys commented on #4234
Same issue here!

Create lib project in Csharp.
nuget spec on the folder
nuget pack {mynugetspecfile} :
Value cannot be null or an empty string.
Nombre del parámetro: value

I change version manually to 1.0.0 then nuget spec -Force and pack :

Id is required.
Authors is required.
Description is required.

My AssemblyInfo is :

using System.Reflection;
using System.Runtime.CompilerServices;
using S

[2017-11-08 10:39] PartTimeLegend commented on #545
+1

[2017-11-08 11:38] PhilPJL commented on #6147
Here it is.
[project.assets.json.zip](https://github.com/NuGet/Home/files/1453687/project.assets.json.zip)

[2017-11-08 12:39] paulinfrancis commented on #5024
@rohit21agrawal
[code]

EDIT:

So I can see that the contentFiles node is missing. I generated the nuget-package with the nuget package explorer.

I have just tried generating the package using nuget.exe pack foopackage.nuspec.

The nuspec within the package now contains the contentFiles node, but the behaviour in VS is still the same; the C# compiler tries to compile the ps1 scripts.

[2017-11-08 17:47] pm64 commented on #4837
This issue is also affecting Microsoft.AspNet.SignalR.JS (a Microsoft.AspNet.SignalR dependency), causing the required Javascript to fail to get copied into the project's ~/Scripts folder, rendering SignalR unusable. I'm surprised Microsoft isn't at least addressing this problem in its own packages.

[2017-11-08 18:08] sandyarmstrong opened #6150 "Make NuGet.PackageManagement available as a .NET Standard package"
It seems that `NuGet.PackageManagement` is the only package in the client libraries that does not have .NET Standard support. It would be great to be able to use this package in other .NET Standard libraries, or in .NET Core apps, etc.

I notice that this package has a dependency on `Microsoft.Web.Xdt`. Is that the only thing blocking this from happening?

[2017-11-08 20:45] dazinator commented on #5901
Fyi another example of the problem can be seen via: https://github.com/aspnet/EntityFrameworkCore/issues/8498
The guidance there is for all dependencies to upgrade to referencing microsoft.extensions.dependencyinjection version 2 so that they will work in asp.net core 2 apps. But they cant do this without dropping support for asp.net core 1 apps. So dependencies that wish to be used by both aspnet

[2017-11-08 21:31] xoofx commented on #2753
As per issue [markdig:167](https://github.com/lunet-io/markdig/issues/163)
I'm not sure this is exactly the same requirement, but it would be super nice if in the new csproj we could specify a `changelog.md` file that would be linked automatically from the NuGet Gallery , similar to the way Visual Studio Code extensions are working, which are nicely handling this...

[2017-11-08 21:32] zhili1208 commented on #6147
For this case, "Dependency specified was EntityFramework (>= 6.1.3) but ended up with EntityFramework 6.2.0", it's a warning by default and caused by "Another dependency package required a higher version and bumped the package up.", but since your project set allWarningsAsErrors to true, it failed restore.

[2017-11-08 21:43] #6028 closed, assigned to joelverhagen

[2017-11-08 22:21] emgarten commented on #6150
That is the main blocker.

Could you provide some reasons for making this package support netstandard, are you using this cross platform?

[2017-11-08 22:30] dsplaisted commented on #3697
I ran into this today. The [xunit.performance](https://github.com/Microsoft/xunit-performance/blob/master/README.md#authoring-benchmarks) repo instructs you to reference the xunit.performance package as well as a version of Microsoft.Diagnostics.Tracing.TraceEvent:

This is because the TraceEvent package includes native libraries which are included via a .targets file.  So even though the xunit.pe

[2017-11-08 22:53] sandyarmstrong commented on #6150
I work on [Xamarin Workbooks](https://developer.xamarin.com/guides/cross-platform/workbooks/), and we use the NuGet client libraries (including this one) on Mac and Windows. We're interested in creating some cross-platform .NET Core apps, and `NuGet.PackageManagement` is the only dependency currently tying us to .NET Framework.

[2017-11-08 22:55] emgarten commented on #6144
Before 4.4.0 nuget.exe install was always returning an exit code of 0, even if restore failed completely.  https://github.com/NuGet/Home/issues/5017

[2017-11-08 22:57] emgarten commented on #6144
As a workaround I suggest using `nuget.exe restore` instead of `nuget.exe install`.

Install calls the same restore behind the scenes, however it is less supported/tested. Really it should be deprecated and removed to avoid confusion.

[2017-11-08 22:59] emgarten commented on #6150
So this would be for installing/uninstalling packages and other things that the VS UI handles?

[2017-11-08 23:02] abock commented on #6150
@emgarten yes, ultimately we need to provide a VS-like package management experience on .NET Core.

[2017-11-08 23:13] karann-msft commented on #4331
@kraigb did we close on this?

[2017-11-08 23:19] devlead commented on #6144
There's thousands and thousands of scripts using the install command, removing it would IMHO be a far worse regression.

Also install & restore are slightly  semantically different(especially when package id is used), so it’s just not find and replace, so while it might save maintainers some time to have one less command, it would cause several users a serious bag of hurt.

[2017-11-08 23:21] kraigb commented on #4331
@karann-msft Not that I know of.

[2017-11-09 00:31] emgarten commented on #6144
nuget.exe install supports *package id* and also *packages.config*
nuget.exe restore supports *solutions* and also *packages.config*

Install makes sense when using a package id, but for packages.config is confusing that install and restore do **almost** the same thing.

[2017-11-09 02:46] tmat commented on #4695
@emgarten Can this be fixed in 15.6? The workaround for this is making our build targets more complicated than they should be.

[2017-11-09 04:28] emgarten commented on #4695
@tmat I'll up the priority of this. What are you using as a workaround?

[2017-11-09 06:07] tmat commented on #4695
@emgarten Launching msbuild in a separate process like so:

https://github.com/dotnet/roslyn-tools/blob/master/src/RepoToolset/Build.proj#L89-L112

[2017-11-09 06:31] kentcb commented on #6020
I have a library targetting netstandard1.3 that builds fine (even after a full `git clean -xdf`). As soon as I change it to target netstandard2.0 (changing _nothing_ else), NuGet restore fails with this same problem:

[2017-11-09 06:59] BITAndreasFallman commented on #3050
Please remove this stupid functionality, this is causing alot of problem for our organisation. We use timestamps as version numbers due to our continuousdeployment approach and these "date"version are used in alot of ways more then just on the nugetpackages and reworking all deployments(50+) to handle a mismatch only for nugetfiles that are pushed to different sources is alot of work for a stupid

[2017-11-09 07:34] sverrehundeide commented on #3050
This is what the NuGet documentation says about version normalization (https://docs.microsoft.com/en-us/nuget/reference/package-versioning):

I think the version normalization should not be forced upon all existing users who rely on the version to be formatted in a certain way. At least there should be an option/parameter to skip version normalization when packing, as previously suggested. Else, m

[2017-11-09 07:56] gep13 commented on #6144
Really it should be deprecated and removed to avoid confusion.

In the time frame of 5.x.x of NuGet this would make sense, and I would suggest another issue be raised to track that effort.

However, as we stand right now, given that this is accepted as a regression in the public facing API of NuGet.exe, I feel that the only correct course of action is to correct this regression, without the need f

[2017-11-09 09:43] ferarias commented on #3530
Ok it's not prioritary since there are workarounds, but it's a malfunction anyway.
Solving using @atifaziz second workaround.

[2017-11-09 10:04] Kieranties opened #6151 "CopyToOutput does not support transitive references"
## Details about Problem

### Scenario

I have two packages (Alpha and Beta both target netStandard2.0)  being built via `dotnet pack` that specify content to be copied to output:
[code]

These packages build and pack correctly and contain the correct information in their nuspecs:
[code]
I also have a project (netcoreapp2.0) that consumes package Alpha via nuget.

The _Project_ references package

[2017-11-09 11:18] dasMulli commented on #6151
The `PrivateAssets` property on package and project references defaults to `contentfiles;analyzers;build` so content files will be consumed, but not directly forwarded to consuming projects unless the project also adds a reference to the transitively reference package.

You can set `PrivateAssets="analyzers;build"` on either a `PackageRefeence` or `ProjectReference` to change this behaviour specif

[2017-11-09 11:49] github-usr-name commented on #6020
Dear Microsoft,

Package management has been a solved problem for donkeys' years on "other platforms".  Why do you find it so hard to maintain a very basic and unfeatured system (for example, no "provides"- semantics)? My main OS's have been running for years with Arch's "pacman" and Debian's "apt" without any of the problems that constantly hit me with NuGet.

Please, get it together.

[2017-11-09 11:59] Kieranties commented on #6151
@dasMulli A _huge_ thanks.  I'm sure I had tried various combinations of IncludeAssets and ExcludeAssets, but it seems I missed the most simple cases.

Your solution does indeed work, however I have also found that the following works:
[code]

I think this more closely represents the intention to anyone viewing the code.
Many thanks for the pointer!

[2017-11-09 12:00] #6151 closed, assigned to nobody

[2017-11-09 12:11] #6096 closed, assigned to dtivel

[2017-11-09 14:53] #6149 closed, assigned to dtivel

[2017-11-09 15:49] ksmithRenweb commented on #6020
Confirmed that the issue no longer occurs with Visual Studio 2017 15.5 Preview 3.

[2017-11-09 17:20] mishra14 commented on #5222
@magol I think the problem is that you are using `$(TargetFramework)` in the `AssemblyName` property. But that is never defined, since you define `$(TargetFrameworks)`.

[2017-11-09 17:20] #5222 closed, assigned to nobody

[2017-11-09 17:34] livarcocc opened #6152 "Throw a helpful message when APPDATA is not set"
_From @Petermarcu on November 9, 2017 17:13_

@teo2akt commented on [Wed Nov 08 2017](https://github.com/dotnet/core/issues/1070)

Created a new classlib project using CLI/ VS code and it's throwing dotnet restore error.
I did create this new project with .NET core SDK 2.0.0

E:\t>dotnet restore
C:\Program Files\dotnet\sdk\2.0.2\NuGet.targets(476,5): error : Value cannot be nul
l.\r [E:\t\t.csproj

[2017-11-09 17:43] mishra14 commented on #6020
@kentcb can you please try 15.5 Preview 3 to see if you are still facing this problem?

[2017-11-09 17:57] mishra14 commented on #6020
@ksmithRenweb we are consider a servicing fix for this. I will update this thread once there is an update.

[2017-11-09 17:59] emgarten commented on #4690
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-09 17:59] #4690 closed, assigned to nobody

[2017-11-09 18:03] jainaashish commented on #3673
We're not going to do anything here since current plan is to have global tools which will also cover this.

[2017-11-09 18:03] #3673 closed, assigned to emgarten

[2017-11-09 18:04] rrelyea commented on #2207
Closing as we've not heard much demand for this kind of thing.

[2017-11-09 18:04] #2207 closed, assigned to nobody

[2017-11-09 18:05] emgarten commented on #4684
@mnivet are you able to repro this in the latest 4.4.0 build of nuget?

[2017-11-09 18:08] anangaur opened #6153 "Enable CLI push use enhanced authentication mechanism"
We need to clean up the various ways to push NuGet packages and storing the encrypted/plain-text API keys.

More coming soon..

[2017-11-09 18:09] anangaur commented on #4680
We need to revamp the the various mechanism to push packages. Many good suggestions here. Closing this issue in favor of https://github.com/NuGet/Home/issues/6153 where I am planning to put in a proposal that covers all the related scenarios.

[2017-11-09 18:09] #4680 closed, assigned to nobody

[2017-11-09 18:10] jainaashish commented on #3674
Even though it's a regression, still marking it as p1 since not a single customer has reported this so far. We'll re-evaluate the priority if we see more customer feedback here.

[2017-11-09 18:10] anangaur commented on #4686
Closing this in favor of https://github.com/NuGet/Home/issues/6153 where I am planning to put a proposal that covers other related scenarios as well.

[2017-11-09 18:10] #4686 closed, assigned to nobody

[2017-11-09 18:11] TimBo93 commented on #6020
@mishra14 is it possible to release nuget-hotfixes in Visual Studio 2017 even though users don't want to install the preview version? Anyway in my Visual Studio 2017 Preview everything works like a charm.

[2017-11-09 18:12] anangaur commented on #6101
No longer required as we plan to implement https://github.com/NuGet/Home/issues/6113

[2017-11-09 18:12] #6101 closed, assigned to anangaur

[2017-11-09 18:12] emgarten commented on #4677
@mishra14 has a prototype of this

[2017-11-09 18:13] mishra14 commented on #5221
@AArnott Are you still running into this issue with 15.5 Preview 4?

[2017-11-09 18:16] jainaashish commented on #3681
@maxgax  please try with latest nuget.exe and if it still doesn't work, please re-open it.

[2017-11-09 18:16] #3681 closed, assigned to zhili1208

[2017-11-09 18:16] anangaur commented on #6082
Closing this issue now as the cert was renewed. Nevetheless, we plan to stop auto-push of packages to SymbolSource as announced here: https://github.com/NuGet/Announcements/issues/13

[2017-11-09 18:16] #6082 closed, assigned to nobody

[2017-11-09 18:16] emgarten commented on #4672
This will be fixed with https://github.com/NuGet/Announcements/issues/13

[2017-11-09 18:16] #4672 closed, assigned to nobody

[2017-11-09 18:16] rrelyea commented on #2209
@mishra14  - not critical, but likely goodness to improve our comments on these kind of things...and suggest to team how to best do it. backlog p2.

[2017-11-09 18:18] jainaashish commented on #3682
It's fixed with latest Visual Studio, please move to 15.4 or latest.

[2017-11-09 18:18] #3682 closed, assigned to nobody

[2017-11-09 18:18] emgarten commented on #4668
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-09 18:18] #4668 closed, assigned to nobody

[2017-11-09 18:19] emgarten commented on #4666
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-09 18:19] #4666 closed, assigned to nobody

[2017-11-09 18:20] rrelyea commented on #2210
we are investing in perf tests (@jainaashish) , finally. however, this issue isn't going to be how we track this work or pick the scenarios.

[2017-11-09 18:20] #2210 closed, assigned to nobody

[2017-11-09 18:20] jainaashish commented on #3688
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-09 18:20] #3688 closed, assigned to nobody

[2017-11-09 18:22] mishra14 commented on #5225
@StingyJack Thanks for the comment. We consider this as a normalization issue and should be fixed as part of #3050. If you want to bring attention to this, please comment on that issue.

[2017-11-09 18:22] #5225 closed, assigned to nobody

[2017-11-09 18:22] zhili1208 commented on #6152
@teo2akt I tried this, but can't repro it. Could you do "dotnet restore -v diag" and provide the log?

[2017-11-09 18:23] jainaashish commented on #3693
Rob's context is lacking in this, he can't seems to remember the exact requirement now. So closing it for now, please put more details next time.

[2017-11-09 18:23] #3693 closed, assigned to rrelyea

[2017-11-09 18:23] anangaur commented on #6100
@karann-msft, I see that the link is now fixed and points to https://docs.microsoft.com/en-us/nuget/consume-packages/managing-the-nuget-cache but I still do not see troubleshooting steps there. Can you take care of getting it documented there? I created another [issue in the docs repo](https://github.com/NuGet/docs.microsoft.com-nuget/issues/559) and I am closing this one.

[2017-11-09 18:23] #6100 closed, assigned to mishra14, karann-msft

[2017-11-09 18:23] rrelyea commented on #2211
not tracking perf work here. we are investing in perf lab and other perf improvements currently, though.

[2017-11-09 18:23] #2211 closed, assigned to nobody

[2017-11-09 18:25] anangaur commented on #5912
We should fix this in the next VS release.

[2017-11-09 18:27] anangaur commented on #5856
Closing this as duplicate of https://github.com/NuGet/Home/issues/2867

[2017-11-09 18:27] #5856 closed, assigned to anangaur

[2017-11-09 18:27] jainaashish commented on #3694
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-09 18:28] #3694 closed, assigned to nobody

[2017-11-09 18:28] nkolev92 commented on #5798
@chrisgannon6
Have you made any progress on this issue?

[2017-11-09 18:31] zhili1208 commented on #4293
close it , this is by design

[2017-11-09 18:31] #4293 closed, assigned to nobody

[2017-11-09 18:32] rrelyea commented on #2212
agreed. Won't fix, due to shifting update strategies.

[2017-11-09 18:32] #2212 closed, assigned to rrelyea

[2017-11-09 18:33] emgarten commented on #4653
@ctaggart there are currently no plans allow mixing project tools and project dependencies. I can see how this would be useful for sourcelink (which is a great package that I use!). From a restore perspective the project restore and the tool restores are completely unrelated, with separate restore graphs, and they go into separate project.assets.json files.

[2017-11-09 18:33] #4653 closed, assigned to nobody

[2017-11-09 18:34] #4651 closed, assigned to nobody

[2017-11-09 18:35] mishra14 commented on #5971
Closing as there has been no new traction on this. Keeping the original issue open - #5919.

[2017-11-09 18:35] #5971 closed, assigned to mishra14

[2017-11-09 18:35] jainaashish commented on #3695
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-09 18:35] #3695 closed, assigned to nobody

[2017-11-09 18:36] rrelyea commented on #2213
This already works well in PackageReference.
We aren't planning to fix this in Packages.Config world.
The answer is to move the ecosystem to PackageReference, which we are actively investing in.

[2017-11-09 18:36] #2213 closed, assigned to nobody

[2017-11-09 18:36] zhili1208 commented on #4299
I tried this in VS 2017 15.4.3, if you reopen the same project which is opened before, Package Manager will return to the last used tab., looks like it's fixed. close it

[2017-11-09 18:36] #4299 closed, assigned to nobody

[2017-11-09 18:36] mishra14 commented on #5220
Closing in favor of https://github.com/Microsoft/msbuild/issues/2278 and https://github.com/jeffkl/NuGetSdkResolver.

We are working with msbuild folks on this. On our side we are tracking https://github.com/NuGet/Home/issues/5919 for a download API that might be consumed by msbuild folks.

[2017-11-09 18:36] #5220 closed, assigned to nobody

[2017-11-09 18:36] emgarten commented on #4649
Closing based on https://github.com/NuGet/Home/issues/4472

If this is still an issue let me know. Thanks!

[2017-11-09 18:38] emgarten commented on #4646
Fixed in the latest version 4.4.0

[2017-11-09 18:38] #4646 closed, assigned to nobody

[2017-11-09 18:42] emgarten commented on #4645
This would be an easy fix that we would accept a PR for.

The solution directory needs to be passed to msbuild here: https://github.com/NuGet/NuGet.Client/blob/2aad8d25e66e9c3737b220631f3661bb6235d14b/src/NuGet.Clients/NuGet.CommandLine/MsBuildUtility.cs#L110

[2017-11-09 18:42] jainaashish commented on #3697
We've decided to change this default behavior for build assets and being tracking via https://github.com/NuGet/Home/issues/6091

[2017-11-09 18:42] #3697 closed, assigned to rohit21agrawal

[2017-11-09 18:43] emgarten commented on #4641
Closing due to lack of response.

[2017-11-09 18:43] #4641 closed, assigned to nobody

[2017-11-09 18:44] jainaashish commented on #3703
We've moved from wsr-tc to vsts where we dont need to change configuration everytime to get the localized build.

[2017-11-09 18:44] #3703 closed, assigned to nobody

[2017-11-09 18:46] mishra14 commented on #5228
dupe of https://github.com/NuGet/Home/issues/1365  which has been fixed.

[2017-11-09 18:46] #5228 closed, assigned to nobody

[2017-11-09 18:46] #4317 closed, assigned to nobody

[2017-11-09 18:48] emgarten commented on #4614
Search ordering is handled on the gallery, closing this in favor of https://github.com/NuGet/NuGetGallery/issues/4124

[2017-11-09 18:48] #4614 closed, assigned to nobody

[2017-11-09 18:48] mishra14 commented on #5230
This does not repro with 15.4.2.

[code]

[2017-11-09 18:48] #5230 closed, assigned to nobody

[2017-11-09 18:49] jainaashish commented on #3705
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-09 18:49] #3705 closed, assigned to nobody

[2017-11-09 18:49] emgarten commented on #4631
There are no updates planned for the 3.x branch of nuget at this time.

[2017-11-09 18:49] #4631 closed, assigned to nobody

[2017-11-09 18:51] emgarten commented on #4627
This has been improved in 15.5 as part of noop/normalization.

[2017-11-09 18:51] mishra14 commented on #5236
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-11-09 18:51] #5236 closed, assigned to nobody

[2017-11-09 18:53] emgarten commented on #4626
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-09 18:53] #4626 closed, assigned to nobody

[2017-11-09 18:53] mishra14 commented on #5235
I cannot repro this with VS2017 15.4.3 -

[code]

[2017-11-09 18:53] #5235 closed, assigned to nobody

[2017-11-09 18:54] emgarten commented on #4623
This should be fixed in the latest version of nuget.

[2017-11-09 18:54] #4623 closed, assigned to nobody

[2017-11-09 18:55] emgarten commented on #4617
Fixed in 4.4.0 through several performance improvements.

[2017-11-09 18:55] #4617 closed, assigned to emgarten

[2017-11-09 18:55] jainaashish commented on #3707
Fixed with latest Visual Studio 15.4

[2017-11-09 18:56] maartenba commented on #4631
Does that mean VS2015 is EOL or that 4.x will be made available for 2015?

[2017-11-09 18:56] zhili1208 commented on #4318
powershel script is deprecated for package reference, we don't recommend people to use script in their packages. close this

[2017-11-09 18:56] #4318 closed, assigned to nobody

[2017-11-09 18:59] zhili1208 commented on #4319
dupe this as #5460

[2017-11-09 18:59] #4319 closed, assigned to nobody

[2017-11-09 19:01] jainaashish commented on #3708
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-09 19:01] #3708 closed, assigned to nobody

[2017-11-09 19:02] rrelyea commented on #2218
Not going to invest in nuget.exe install for this scenario as our backlog is way too large, and we need to make appropriate choices.

[2017-11-09 19:02] #2218 closed, assigned to nobody

[2017-11-09 19:02] emgarten commented on #4610
Restore can be disabled through tools > options.

[2017-11-09 19:02] #4610 closed, assigned to nobody

[2017-11-09 19:05] mishra14 commented on #5233
This should be fixed/ByDesign with work done for ATF. Please let us know if this is still a problem.

[2017-11-09 19:05] #5233 closed, assigned to nobody

[2017-11-09 19:07] #4595 closed, assigned to nobody

[2017-11-09 19:08] #5226 closed, assigned to nobody

[2017-11-09 19:08] emgarten commented on #4594
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-09 19:08] #4594 closed, assigned to nobody

[2017-11-09 19:08] mishra14 commented on #5226
Closing this as there is no action from NuGet.

[2017-11-09 19:08] emgarten commented on #4591
I believe this is done.

[2017-11-09 19:08] #4591 closed, assigned to nobody

[2017-11-09 19:09] nkolev92 commented on #5788
Related to https://github.com/NuGet/Home/issues/4142

[2017-11-09 19:12] #4585 closed, assigned to nobody

[2017-11-09 19:12] #4584 closed, assigned to nobody

[2017-11-09 19:13] jainaashish commented on #3712
There is a more broader initiative to deal with it as par of package applicability so that will also cover this aspect.

[2017-11-09 19:14] #4590 closed, assigned to nobody

[2017-11-09 19:15] #4589 closed, assigned to nobody

[2017-11-09 19:16] nkolev92 commented on #5787
@joo92 Can you please provide the information that @jainaashish requested?

The package restore failing could be due to a multitude of reasons, among which it might be that the package is just incompatible with your project.

[2017-11-09 19:18] mishra14 commented on #5240
it seems that https://github.com/NuGet/NuGet.Client/pull/188 did not fix this. Tagging @rohit21agrawal for visibility.

[2017-11-09 19:19] magol commented on #5222
But the output assembly is named ClassLibrary1.net4.5.dll and ClassLibrary1.net4.6.dll as expected.  So obvious $(TargetFramework) is working.

[2017-11-09 19:28] jainaashish commented on #3713
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-09 19:28] #3713 closed, assigned to nobody

[2017-11-09 19:29] #5974 closed, assigned to nkolev92

[2017-11-09 19:32] emgarten commented on #5983
The owners field in the nuspec typically corresponds to the **feed** owner. This information does not make sense for pack.

If you are using this locally or with some other feed that isn't setting this then I suggest using a custom tool to modify the nuspec and set this information.

[2017-11-09 19:32] #5983 closed, assigned to rohit21agrawal

[2017-11-09 19:42] mishra14 commented on #5243
This is fixed to NuGet.CommandLine.4.6.0-preview1-4622.nupkg

[2017-11-09 19:42] #5243 closed, assigned to nobody

[2017-11-09 19:42] emgarten commented on #6003
It looks like this question has been answered.

[2017-11-09 19:42] #6003 closed, assigned to nobody

[2017-11-09 19:47] emgarten commented on #4631
I don't know of any plans to make 4.x available to VS2015. The focus at this time is VS2017.

[2017-11-09 19:48] emgarten commented on #6004
Should this be logged on the gallery instead? Home is primarily for the client.

[2017-11-09 19:50] #6008 closed, assigned to nobody

[2017-11-09 19:55] emgarten commented on #6010
The UI verifies that all projects are restored successfully for each project change, if it fails things are rolled back.

This could probably be improved with some clever restore batching, optimistically restoring the entire solution and assuming it will just work, or by removing the rollback behavior for PackageReference.

The workaround for this is to set package versions using a common .props f

[2017-11-09 19:57] emgarten commented on #6015
Duplicate of https://github.com/NuGet/Home/issues/5553

[2017-11-09 19:57] #6015 closed, assigned to nobody

[2017-11-09 19:58] emgarten commented on #6018
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-09 19:58] #6018 closed, assigned to nobody

[2017-11-09 20:00] emgarten commented on #6022
This will be fixed with https://github.com/NuGet/Home/issues/6039

[2017-11-09 20:00] #6022 closed, assigned to nobody

[2017-11-09 20:02] emgarten commented on #6023
Related: https://github.com/NuGet/Home/issues/6039

[2017-11-09 20:02] #6023 closed, assigned to emgarten

[2017-11-09 20:04] emgarten commented on #6027
@pimanac has the correct answer. Set the global packages folder to override the system profile path.

[2017-11-09 20:04] #6027 closed, assigned to nobody

[2017-11-09 20:07] maartenba commented on #5788
And #6104

[2017-11-09 20:12] mishra14 commented on #6064
@Kittyfisto Since you are working with prerelease packages, you should use the `-Prerelease` flag.

e.g. -

`nuget.exe" update Foo.sln -Source Artifactory -Id Bar -Verbosity detailed -Prerelease`

Please let us know if you are still blocked.

[2017-11-09 20:12] #6064 closed, assigned to nobody

[2017-11-09 20:13] nkolev92 commented on #5786
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-09 20:13] #5786 closed, assigned to nobody

[2017-11-09 20:14] nkolev92 commented on #5778
Redundant now.

[2017-11-09 20:14] #5778 closed, assigned to nkolev92, zhili1208

[2017-11-09 20:16] nkolev92 commented on #5782
@NickCraver any updates on the repro?

Thanks!

[2017-11-09 20:16] nkolev92 commented on #5782
Hey @NickCraver any updates here?

Thanks!

[2017-11-09 20:17] mishra14 commented on #6061
@emgarten Since the msbuild issue is closed, can we get this in?

[2017-11-09 20:18] emgarten commented on #6061
@mishra14 we need to use the msbuild feature in our targets. Let's track that work there.

[2017-11-09 20:21] nkolev92 commented on #5770
Pinging @jonwchu, @anangaur again

[2017-11-09 20:22] nkolev92 commented on #5766
Was this discussed internally or?
@skofman1 @rrelyea
Anything actionable/ should we close it?

[2017-11-09 20:23] emgarten commented on #6030
Users should be able to clear out credentials in this way. The workaround for this is to avoid re-defining the same source without the credentials.

[2017-11-09 20:23] #6030 closed, assigned to nobody

[2017-11-09 20:25] emgarten commented on #6031
@JohnAtFenestra Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-09 20:25] #6031 closed, assigned to nobody

[2017-11-09 20:26] emgarten commented on #6033
duplicate of https://github.com/NuGet/Home/issues/5704

[2017-11-09 20:26] #6033 closed, assigned to nobody

[2017-11-09 20:32] emgarten commented on #6037
Duplicate of https://github.com/NuGet/Home/issues/4790

[2017-11-09 20:32] #6037 closed, assigned to nobody

[2017-11-09 20:35] emgarten commented on #6038
Duplicate of https://github.com/NuGet/Home/issues/4463

We need to add the project name to the assets file name as mentioned.

[2017-11-09 20:35] #6038 closed, assigned to nobody

[2017-11-09 20:35] emgarten commented on #6114
Related: https://github.com/NuGet/Home/issues/4463

[2017-11-09 20:39] emgarten commented on #4580
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-09 20:39] #4580 closed, assigned to nobody

[2017-11-09 20:40] emgarten commented on #4579
This should be fixed in the latest build of NuGet.

[2017-11-09 20:40] #4579 closed, assigned to nobody

[2017-11-09 20:41] emgarten commented on #4570
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-09 20:41] #4570 closed, assigned to zhili1208

[2017-11-09 20:43] #4561 closed, assigned to rrelyea

[2017-11-09 20:45] emgarten commented on #4555
This should be improved in the latest version of nuget.

[2017-11-09 20:45] #4555 closed, assigned to nobody

[2017-11-09 20:46] emgarten commented on #4553
NuGet 4.x should match the original 2.x behavior. We need to verify how 2.x handled this.

[2017-11-09 20:51] nkolev92 commented on #5728
Closing this as we haven't hit this issue.

[2017-11-09 20:52] nkolev92 commented on #5729
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-09 20:52] #5729 closed, assigned to nobody

[2017-11-09 20:57] nkolev92 commented on #5734
@mishra14
Any updates here?
Did anything change? Still needs worked on?

[2017-11-09 21:01] nkolev92 commented on #5733
We've had our fun, closing this :)

[2017-11-09 21:01] #5733 closed, assigned to rohit21agrawal

[2017-11-09 21:02] #5728 closed, assigned to nobody

[2017-11-09 21:03] emgarten commented on #4550
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-09 21:03] #4550 closed, assigned to nobody

[2017-11-09 21:04] emgarten commented on #4549
Fixed as part of the above PR

[2017-11-09 21:04] #4549 closed, assigned to emgarten

[2017-11-09 21:06] nkolev92 commented on #5724
Might be redundant with global tools in the future.

[2017-11-09 21:08] jainaashish commented on #3715
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-11-09 21:08] #3715 closed, assigned to nobody

[2017-11-09 21:08] emgarten commented on #4548
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-09 21:08] #4548 closed, assigned to nobody

[2017-11-09 21:10] jainaashish commented on #3716
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-09 21:10] #3716 closed, assigned to nobody

[2017-11-09 21:11] nkolev92 commented on #5719
@zosrothko Can you please specify more clearly what the issue is?

It seems like there were network performance issues. What particular client issue are you seeing? What about the client is not working as expected.

Are you to push the package if you try again?

Thank you.

[2017-11-09 21:12] jainaashish commented on #3717
UWP projects have moved from project.json to PackageReference where this issue is fixed.

[2017-11-09 21:12] #3717 closed, assigned to emgarten

[2017-11-09 21:12] emgarten commented on #4546
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-09 21:12] #4546 closed, assigned to nobody

[2017-11-09 21:15] nkolev92 commented on #5708
Redundant now.

[2017-11-09 21:15] #5708 closed, assigned to zhili1208

[2017-11-09 21:16] jainaashish commented on #3727
we've already added some dotnet nuget tests and will adding more and more for other features.

[2017-11-09 21:16] #3727 closed, assigned to nobody

[2017-11-09 21:18] rrelyea commented on #5751
@onovotny answer to your first question:
These packages are referencing system packages directly. This is causing it to try a higher version due to conflicts between the system packages.

We'd prefer to not invest in major changes in packages.config resolver changes...cost, danger, etc...

We understand that is troublesome here, but packages.config is not well designed for reversing dependency dir

[2017-11-09 21:32] zosrothko commented on #5719
I need to recover the context before supplying logs and a zip. Allow me some days....

[2017-11-09 21:35] chrisgannon6 commented on #5798
@nkolev92.
Apologies for the delay in responding. I wasn't able to resolve the issue. The only way I could workaround it was to backup the version of nuget that was installed in the image before updating nuget. With the updated nuget, I can generate the package.
Then I copy back in the backed up nuget from pre upgrade, so the push to artifactory will work.

A hacky workaround, but it at least got

[2017-11-09 21:46] rrelyea commented on #2219
Not enough actionable detail. Closing as won't fix.

[2017-11-09 21:46] #2219 closed, assigned to nobody

[2017-11-09 21:49] rrelyea commented on #2221
Let this be a reminder...we never get back to things. Block the PR until code is acceptable.

[2017-11-09 21:49] #2221 closed, assigned to alpaix

[2017-11-09 22:00] emgarten commented on #4541
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-09 22:00] #4541 closed, assigned to nobody

[2017-11-09 22:01] #4540 closed, assigned to nobody

[2017-11-09 22:01] jainaashish commented on #3733
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-09 22:01] #3733 closed, assigned to nobody

[2017-11-09 22:02] emgarten commented on #4538
There was a recent issue where azure web sites limited the number of sockets to 300. NuGet was going beyond that limit.

We should set a reasonable limit such as 200 or less.

[2017-11-09 22:04] jainaashish commented on #3735
We'll take it as part of Package Applicability spec and get the right behavior.

[2017-11-09 22:04] #3735 closed, assigned to nobody

[2017-11-09 22:04] emgarten commented on #4530
Closing based on @rainersigwald's comment.

[2017-11-09 22:04] #4530 closed, assigned to nobody

[2017-11-09 22:05] jainaashish commented on #3736
Fixed with latest Visual Studio 15.4

[2017-11-09 22:05] #3736 closed, assigned to nobody

[2017-11-09 22:06] #4520 closed, assigned to nobody

[2017-11-09 22:07] jainaashish commented on #3737
Fixed with latest Visual Studio 15.4

[2017-11-09 22:07] #3737 closed, assigned to nobody

[2017-11-09 22:09] jainaashish commented on #3738
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-09 22:09] #3738 closed, assigned to nobody

[2017-11-09 22:09] zhili1208 commented on #4328
this is already fixed

[2017-11-09 22:09] #4328 closed, assigned to nobody

[2017-11-09 22:09] emgarten commented on #4518
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-09 22:09] #4518 closed, assigned to nobody

[2017-11-09 22:11] emgarten commented on #4514
This would still be useful, however we have not heard a lot of feedback on this so far.

[2017-11-09 22:12] #4512 closed, assigned to nobody

[2017-11-09 22:13] jainaashish commented on #3743
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-09 22:13] #3743 closed, assigned to nobody

[2017-11-09 22:13] #4510 closed, assigned to nobody

[2017-11-09 22:14] emgarten commented on #4509
There are no plans to update NuGet 2.x at this time. Users should move to the 4.x packages.

[2017-11-09 22:14] #4509 closed, assigned to nobody

[2017-11-09 22:14] zhili1208 commented on #4329
"msbuild /restore" work for this scenario

[2017-11-09 22:14] #4329 closed, assigned to nobody

[2017-11-09 22:15] nkolev92 commented on #5702
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, we have decided that this is an unsupported scenario, and we won't invest any work in here.

[2017-11-09 22:15] #5702 closed, assigned to nobody

[2017-11-09 22:16] nkolev92 commented on #5688
Redundant.

[2017-11-09 22:16] #5688 closed, assigned to rohit21agrawal

[2017-11-09 22:16] #5687 closed, assigned to emgarten

[2017-11-09 22:19] jainaashish commented on #3758
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-09 22:19] #3758 closed, assigned to nobody

[2017-11-09 22:19] zhili1208 commented on #4332
this is fixed

[2017-11-09 22:19] #4332 closed, assigned to nobody

[2017-11-09 22:20] #5686 closed, assigned to rohit21agrawal

[2017-11-09 22:20] jainaashish commented on #3761
We already added required TFM until 15.4. And there is no new requirements to add any further tfm

[2017-11-09 22:20] #3761 closed, assigned to rrelyea

[2017-11-09 22:21] zhili1208 commented on #4333
Please try latest nuget.exe from https://www.nuget.org/downloads, if it still repro, feel free to reopen it.

[2017-11-09 22:21] #4333 closed, assigned to nobody

[2017-11-09 22:23] zhili1208 commented on #4338
Please update to VS 2017

[2017-11-09 22:23] #4338 closed, assigned to nobody

[2017-11-09 22:25] #4340 closed, assigned to nobody

[2017-11-09 22:27] davkean commented on #4340
It sounds like there's still two errors - which is not ideal. We should have just MSBuild report the missing reference, not NuGet.

[2017-11-09 22:27] emgarten commented on #1996
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-09 22:27] #1996 closed, assigned to nobody

[2017-11-09 22:29] emgarten commented on #1993
This was added in 4.0.0

[2017-11-09 22:29] #1993 closed, assigned to nobody

[2017-11-09 22:29] #1990 closed, assigned to nobody

[2017-11-09 22:30] jainaashish commented on #3764
It's by design to put this into a good state while installing or updating a package so we might not be able to do anything there. Besides, it's only with Packages.Config, it doesn't happen with PackageReference which is new format and will be used going forward.

[2017-11-09 22:30] #3764 closed, assigned to nobody

[2017-11-09 22:31] nkolev92 commented on #5671
@mishra14 This is one of those issues that are just localized once and not being updated?

It's in the NuGetCommandLineResources right?

[2017-11-09 22:32] clairernovotny commented on #4329
Huh? This is not closed... the goal was that `msbuild /t:restore` was not an explicit step. It needs to be chainable with build, so `msbuild /t:restore;build` works at the same time. More importantly, Build should have Restore as a dependency.

[2017-11-09 22:32] jainaashish commented on #3771
Closing since there isn't much context, please reopen if it's still valid and put more context.

[2017-11-09 22:32] #3771 closed, assigned to rrelyea

[2017-11-09 22:33] emgarten commented on #1987
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-09 22:33] #1987 closed, assigned to rrelyea

[2017-11-09 22:34] emgarten commented on #1980
@onovotny is this still an issue?

[2017-11-09 22:36] nkolev92 commented on #5696
We think this is fixed right now with the latest NuGet.

If you can still repro it, please open another issue.

[2017-11-09 22:36] #5696 closed, assigned to nobody

[2017-11-09 22:36] jainaashish commented on #3774
Dupe of https://github.com/NuGet/Home/issues/4681

[2017-11-09 22:36] #3774 closed, assigned to nobody

[2017-11-09 22:36] emgarten commented on #1979
ContentFiles are now written out to .props files. Additional metadata can be added through msbuild targets/props.

[2017-11-09 22:36] #1979 closed, assigned to nobody

[2017-11-09 22:37] emgarten commented on #1974
closing due to a lack of feedback on this.

[2017-11-09 22:37] #1974 closed, assigned to nobody

[2017-11-09 22:37] zhili1208 commented on #4349
it's fixed in cli 2.0.2

[2017-11-09 22:37] #4349 closed, assigned to mishra14

[2017-11-09 22:38] emgarten commented on #1970
@rchande is this still needed?

[2017-11-09 22:40] jainaashish commented on #3776
Fixed with latest Visual Studio 15.4

[2017-11-09 22:40] #3776 closed, assigned to nobody

[2017-11-09 22:40] nkolev92 commented on #5632
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-09 22:40] #5632 closed, assigned to nobody

[2017-11-09 22:41] #4356 closed, assigned to nobody

[2017-11-09 22:47] zhili1208 commented on #4358
close as dupe of https://github.com/NuGet/Home/issues/4103

[2017-11-09 22:47] #4358 closed, assigned to nobody

[2017-11-09 22:47] mishra14 commented on #6054
@kjbetz This is a dupe of https://github.com/NuGet/Home/issues/4103 and https://github.com/NuGet/Home/issues/4102.

We want to add support for `dotnet list package` and `dotnet update package` commands. In the meantime you can use `dotnet add package <package_id> --version <new_version>` and that will update the package reference in the csproj file.

[2017-11-09 22:47] #6054 closed, assigned to nobody

[2017-11-09 22:47] emgarten commented on #1966
Answered above, closing.

[2017-11-09 22:47] #1966 closed, assigned to nobody

[2017-11-09 22:47] nkolev92 commented on #5622
Redundant now.

[2017-11-09 22:47] #5622 closed, assigned to nkolev92

[2017-11-09 22:50] emgarten commented on #1965
Closing due to lack response.

[2017-11-09 22:50] #1965 closed, assigned to nobody

[2017-11-09 22:51] mishra14 commented on #6047
I have merged option 2 into dev. Option 1 needs a bit more work.

[2017-11-09 22:52] KirillOsenkov opened #6154 "Difficult error in NuGet restore when Version env. var is set to a random string"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet in MSBuild with PackageReference (non-SDK style project)

NuGet version (x.x.x.xxx):
NuGet in Mono 5.8.0

OS version (i.e. win10 v1607 (14393.321)):
Mac OS but doesn't matter

## Detailed repro steps so we can see the same problem

1. Have a simple .proj file with a PackageReference
2. Se

[2017-11-09 22:53] jainaashish commented on #3787
This is by design, nuget restore for packages.config projects, will only download the package if it's missing on disk. It cannot add reference or content file into project since it has no context for project system. It has been like this forever, you can use reinstall to workaround it.

[2017-11-09 22:53] #3787 closed, assigned to nobody

[2017-11-09 22:53] emgarten commented on #1943
Please update to the latest VS 2017 and NuGet 4.4.0.

[2017-11-09 22:53] #1943 closed, assigned to nobody

[2017-11-09 22:54] #1936 closed, assigned to nobody

[2017-11-09 22:55] emgarten commented on #1935
Hopefully the frameworks have stabilized. We'll re-consider this if more frameworks are added.

[2017-11-09 22:55] #1935 closed, assigned to nobody

[2017-11-09 22:56] jainaashish commented on #3791
Fixed with latest Visual studio 15.4

[2017-11-09 22:56] #3791 closed, assigned to rrelyea

[2017-11-09 22:56] emgarten commented on #1931
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-09 22:56] #1931 closed, assigned to nobody

[2017-11-09 22:58] jainaashish commented on #3796
This is by design, since install is running on UI thread which is why it doesn't allow you to start another action on UI. Even though it allows, then also it wont do anything until install is completed.

[2017-11-09 22:58] #3796 closed, assigned to nobody

[2017-11-09 22:59] zhili1208 commented on #4387
close as dupe of #5773

[2017-11-09 23:00] emgarten commented on #1907
I hit this recently and was also confused.

[2017-11-09 23:00] jainaashish commented on #3808
Fixed with latest Visual studio 15.4

[2017-11-09 23:00] #3808 closed, assigned to rrelyea

[2017-11-09 23:02] emgarten commented on #1904
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-09 23:02] #1904 closed, assigned to nobody

[2017-11-09 23:03] jainaashish commented on #3809
related issues are already closed so closing this on as well.

[2017-11-09 23:03] #3809 closed, assigned to rrelyea

[2017-11-09 23:03] #4392 closed, assigned to nobody

[2017-11-09 23:04] nkolev92 commented on #5629
@czb182 Which project style are you using?

I'm not sure I fully understand your scenario, can you provide a repro project prior to adding the package?

[2017-11-09 23:04] mishra14 commented on #5245
closing as dupe of internal issue: 497251

[2017-11-09 23:04] #5245 closed, assigned to nobody

[2017-11-09 23:06] jainaashish commented on #3810
We already had a pass at it to clean this code.

[2017-11-09 23:06] #3810 closed, assigned to alpaix

[2017-11-09 23:07] mishra14 commented on #5244
@burreld if you are on PackageReference style of project then it is expected. If you are using a packages.config file then let us know.

[2017-11-09 23:07] #5244 closed, assigned to nobody

[2017-11-09 23:07] jainaashish commented on #3811
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-09 23:07] #3811 closed, assigned to nobody

[2017-11-09 23:10] jainaashish commented on #3823
Since there is no information provided for the hang and neither I can access that feedback ticket id since the feedback system has been upgraded. So closing it for now.

[2017-11-09 23:10] #3823 closed, assigned to nobody

[2017-11-09 23:11] emgarten commented on #1874
Thanks for reporting this issue. At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

PackageReference supports updating packages from outside of VS where packages.config is only officially supported within VS. nuget.exe update

[2017-11-09 23:11] #1874 closed, assigned to nobody

[2017-11-09 23:14] emgarten commented on #1889
This is no longer needed now that changes to the build task have slowed.

[2017-11-09 23:14] #1889 closed, assigned to nobody

[2017-11-09 23:14] nschonni commented on #4387
This isn't the same issue, and is older that the "duplicate"

[2017-11-09 23:15] jainaashish commented on #3826
NuGet.Core package has been deprecated and there is no active development. Move to Visual Studio 2017 with other specific NuGet packages.

[2017-11-09 23:15] #3826 closed, assigned to nobody

[2017-11-09 23:15] nschonni commented on #4387
@zhili1208 thanks

[2017-11-09 23:16] emgarten commented on #1882
Duplicate of https://github.com/NuGet/Home/issues/5307

[2017-11-09 23:16] #1882 closed, assigned to nobody

[2017-11-09 23:18] emgarten commented on #1854
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-09 23:18] #1854 closed, assigned to nobody

[2017-11-09 23:19] #4400 closed, assigned to nobody

[2017-11-09 23:20] zhili1208 commented on #4402
close it as no response

[2017-11-09 23:20] #4402 closed, assigned to nobody

[2017-11-09 23:24] emgarten commented on #1850
@kzu can you give some guidance on when this scenario is important?

Going forward PackageReference should be used with CPS to solve this issue.

[2017-11-09 23:24] #4399 closed, assigned to nobody

[2017-11-09 23:25] nkolev92 commented on #5595
@afficionaddo Are you still able to reproduce this issue?
Have you made any progress diagnosing it?
Not sure we can do much on our side.

[2017-11-09 23:25] jainaashish commented on #3839
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-09 23:25] #3839 closed, assigned to zhili1208

[2017-11-09 23:26] emgarten commented on #1842
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-09 23:26] #1842 closed, assigned to rrelyea

[2017-11-09 23:27] zhili1208 commented on #4403
Please try latest nuget.exe from https://www.nuget.org/downloads, if it still repro, feel free to reopen

[2017-11-09 23:27] #4403 closed, assigned to nobody

[2017-11-09 23:27] mishra14 commented on #5255
dupe of internal issue 500532 fixed by https://github.com/NuGet/NuGet.BuildTasks/pull/40

[2017-11-09 23:27] #5255 closed, assigned to nobody

[2017-11-09 23:30] jainaashish commented on #3843
This is by design from NuGet perspective, you can check with Visual Studio team if they can update the template to fix it.

[2017-11-09 23:30] #3843 closed, assigned to nobody

[2017-11-09 23:31] mishra14 commented on #5257
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-09 23:31] #5257 closed, assigned to nobody

[2017-11-09 23:31] zhili1208 commented on #4417
it's fixed

[2017-11-09 23:31] #4417 closed, assigned to nobody

[2017-11-09 23:31] emgarten commented on #1835
@zjrunner is this still needed?

[2017-11-09 23:33] jainaashish commented on #3848
PR has already been merged.

[2017-11-09 23:33] #3848 closed, assigned to nobody

[2017-11-09 23:34] emgarten commented on #1832
This has been fixed with PackageReference.

[2017-11-09 23:34] #1832 closed, assigned to nobody

[2017-11-09 23:34] PatoBeltran commented on #3007
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-09 23:34] #3007 closed, assigned to nobody

[2017-11-09 23:35] jainaashish commented on #3849
We're adding automated tests as and when we work in some specific feature or bugs, which will be continued. So this will cover most of these scenarios as well.

[2017-11-09 23:35] #3849 closed, assigned to nobody

[2017-11-09 23:38] PatoBeltran commented on #3005
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-09 23:38] #3005 closed, assigned to nobody

[2017-11-09 23:41] PatoBeltran commented on #3008
Thanks for reporting this issue. At this time we suggest moving from project.json to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-11-09 23:41] #3008 closed, assigned to nobody

[2017-11-09 23:41] mishra14 commented on #5260
Folks, I want to close this in the favor of https://github.com/NuGet/Home/wiki/Author-Package-Signing. Please let me know otherwise.

[2017-11-09 23:41] jainaashish commented on #3850
We've made some progress to improve perf for packages.config projects and continue to do so. Meantime, You can upgrade to PackageReference which will give you better performance than packages.config

[2017-11-09 23:41] #3850 closed, assigned to nobody

[2017-11-09 23:44] jainaashish commented on #3852
`-NoCache` will simply avoid http cache but if you already have the package in global packages folder then it will take it from there and not hit the http source.

[2017-11-09 23:44] #3852 closed, assigned to nobody

[2017-11-09 23:46] zhili1208 commented on #4423
it's fixed

[2017-11-09 23:46] #4423 closed, assigned to nobody

[2017-11-09 23:47] anangaur commented on #5260
Agree with @mishra14.
@jariq Can we close this issue and have further discussions on the Package signing spec issue: https://github.com/NuGet/Home/issues/5889?

[2017-11-09 23:47] emgarten commented on #1818
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-09 23:47] #1818 closed, assigned to nobody

[2017-11-09 23:47] zhili1208 commented on #4430
it's fixed

[2017-11-09 23:47] #4430 closed, assigned to zhili1208

[2017-11-09 23:49] emgarten commented on #1812
Thanks for reporting this issue. At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-11-09 23:49] #1812 closed, assigned to nobody

[2017-11-09 23:50] PatoBeltran commented on #3024
Thanks for reporting this issue. At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-11-09 23:50] #3024 closed, assigned to nobody

[2017-11-09 23:50] #1810 closed, assigned to nobody

[2017-11-09 23:51] jainaashish commented on #3857
Fixed with latest version of NuGet.exe

[2017-11-09 23:51] #3857 closed, assigned to nobody

[2017-11-09 23:51] emgarten commented on #1800
Closing due to lack of response.

[2017-11-09 23:51] #1800 closed, assigned to nobody

[2017-11-09 23:51] mishra14 commented on #5261
@davkean are you still facing this problem with VS 15.5 Preview 4?

[2017-11-09 23:51] mishra14 commented on #5262
@davkean are you still facing this problem with VS 15.5 Preview 4?

[2017-11-09 23:52] davkean commented on #5262
No I'm not.

[2017-11-09 23:52] #5262 closed, assigned to nobody

[2017-11-09 23:54] emgarten commented on #4329
@onovotny I think you may have better luck filing this on msbuild with that explanation.

[2017-11-09 23:58] mishra14 commented on #5267
This should be fixed in cli v2.0.1 or later. If you are still facing this issue, please let us know.

[2017-11-09 23:59] #5269 closed, assigned to nobody

[2017-11-10 00:00] mishra14 commented on #5269
I am unable to repro this issue -

[code]

[2017-11-10 00:00] emgarten commented on #1795
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-10 00:00] #1795 closed, assigned to nobody

[2017-11-10 00:01] nkolev92 commented on #5545
There is currently no support for packing .net core projects in nuget.exe.

We have a task for that here, please follow and up vote there.

https://github.com/NuGet/Home/issues/4491

As a workaround, can you please try to use dotnet.exe  pack?

Thanks!

[2017-11-10 00:01] #5545 closed, assigned to nobody

[2017-11-10 00:02] zhili1208 commented on #4440
from @tmeschter
We've decided not to fix this in the legacy project system as it has no functional impact. The plan is that in the Dev16 time frame most common project types will be handled by CPS-based project system which already provides the desired behavior.

Close it

[2017-11-10 00:02] #4440 closed, assigned to nobody

[2017-11-10 00:02] emgarten commented on #1794
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-10 00:02] #1794 closed, assigned to nobody

[2017-11-10 00:02] davkean commented on #4627
@emgarten I'm still running into this.

1. git clone https://github.com/dotnet/project-system
2. git checkout 4d3123c78fcb3cc854fd39d9421f250337ef8e49
3. open ProjectSystem.sln
4. Wait for restore to finish
5. Close Visual Studio
6. Make a copy of project-system\artifacts\Debug\obj\Microsoft.VisualStudio.ProjectSystem.Managed.VS.UnitTests\project.assets.json
7. Run build.cmd which implicitly runs

[2017-11-10 00:03] emgarten commented on #1786
Closing due to lack of feedback in this area.

[2017-11-10 00:03] #1786 closed, assigned to nobody

[2017-11-10 00:05] #1781 closed, assigned to nobody

[2017-11-10 00:05] zhili1208 commented on #4444
project.json doesn't equal packages.config, it contains more information than packages.config, if it's missing, nuget can't create a new one for user. Close it as won't fix

[2017-11-10 00:05] #4444 closed, assigned to nobody

[2017-11-10 00:07] #1776 closed, assigned to nobody

[2017-11-10 00:07] nkolev92 commented on #5544
As @mishra14 mentioned, this seems to be an unsupported scenario.

Closing as not a bug, please reopen if you have more issues.

[2017-11-10 00:07] #5544 closed, assigned to nobody

[2017-11-10 00:09] emgarten commented on #4627
//cc @nkolev92 for cmd vs VS asset file issues.

[2017-11-10 00:09] zhili1208 commented on #4445
we should provide migrate tool to user for migrating from project.json to package ref, deleting project.json is not a support approach

[2017-11-10 00:09] #4445 closed, assigned to nobody

[2017-11-10 00:10] nkolev92 commented on #5541
@bricelam Are you still hitting any problems here?
Thanks.

[2017-11-10 00:10] #4446 closed, assigned to nobody

[2017-11-10 00:10] #1762 closed, assigned to nobody

[2017-11-10 00:11] zhili1208 commented on #4447
close it as dupe of https://github.com/NuGet/NuGetGallery/issues/4983

[2017-11-10 00:11] #4447 closed, assigned to nobody

[2017-11-10 00:12] emgarten commented on #1761
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-10 00:12] #1761 closed, assigned to nobody

[2017-11-10 00:12] emgarten commented on #1753
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-10 00:12] #1753 closed, assigned to nobody

[2017-11-10 00:13] zhili1208 commented on #4449
Thanks for reporting this issue. At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-11-10 00:13] #4449 closed, assigned to nobody

[2017-11-10 00:14] #1741 closed, assigned to nobody

[2017-11-10 00:16] #4453 closed, assigned to zhili1208

[2017-11-10 00:17] mishra14 commented on #5273
we should consider this as a User Experience improvement.

[2017-11-10 00:18] nkolev92 commented on #5539
@BillHiebert
Does this issue still reproduce?

I am not sure we can much here with the current information.

[2017-11-10 00:18] clairernovotny commented on #4329
I didn't file it here :) Can one of you move this to the right repo then using that tool you have?

[2017-11-10 00:21] emgarten commented on #1738
closing due to lack of feedback in this area.

[2017-11-10 00:21] #1738 closed, assigned to deepakaravindr

[2017-11-10 00:23] mishra14 commented on #5279
closing as dupe of #2861.

[2017-11-10 00:23] #5279 closed, assigned to nobody

[2017-11-10 00:24] mishra14 commented on #5280
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-11-10 00:24] #5280 closed, assigned to nobody

[2017-11-10 00:24] emgarten commented on #1731
Closing since we are moving from project.json to PackageReference. If not this would be a great idea.

[2017-11-10 00:24] #1731 closed, assigned to nobody

[2017-11-10 00:24] nkolev92 commented on #5540
Are all the questions answered here?

@danielwertheim @rohit21agrawal

From what I can tell from the replies, it seems like it's resolved.

I will close it, but please do chime in, if you didn't get something answered, and we'll be happy to reopen.

[2017-11-10 00:24] #5540 closed, assigned to nobody

[2017-11-10 00:25] emgarten commented on #1729
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-10 00:25] #1729 closed, assigned to nobody

[2017-11-10 00:25] nkolev92 commented on #5525
//cc
@rohit21agrawal Any ideas?

[2017-11-10 00:27] emgarten commented on #1718
Fixed with background restore.

[2017-11-10 00:27] #1718 closed, assigned to deepakaravindr

[2017-11-10 00:29] PatoBeltran commented on #3034
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-11-10 00:29] #3034 closed, assigned to rrelyea

[2017-11-10 00:29] kkm000 commented on #1753
Sure, thanks, this should be really not a very common scenario anyway, and a workaround is very easy (an explicit .nuspec).

🐑🐑🐑 I do not even remember what I was packaging...

[2017-11-10 00:30] emgarten commented on #1710
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-10 00:30] #1710 closed, assigned to nobody

[2017-11-10 00:30] jainaashish commented on #3858
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-10 00:30] #3858 closed, assigned to nobody

[2017-11-10 00:30] rrelyea commented on #4458
may come up in the future. Has not been a top request yet.

[2017-11-10 00:30] #4458 closed, assigned to nobody

[2017-11-10 00:31] #4460 closed, assigned to nobody

[2017-11-10 00:32] mishra14 commented on #5283
Thanks for reporting the issue. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-11-10 00:32] #5283 closed, assigned to nobody

[2017-11-10 00:33] jainaashish commented on #3859
This doesn't seem important for now so closing it.

[2017-11-10 00:33] #3859 closed, assigned to nobody

[2017-11-10 00:35] emgarten commented on #1706
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-10 00:35] #1706 closed, assigned to nobody

[2017-11-10 00:36] jainaashish commented on #3860
Seems it doesn't apply now, so closing it

[2017-11-10 00:36] #3860 closed, assigned to emgarten

[2017-11-10 00:37] emgarten commented on #1705
Thanks for reporting this issue. At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-11-10 00:37] #1705 closed, assigned to nobody

[2017-11-10 00:37] mishra14 commented on #5292
tagging @anangaur and @karann-msft for clarity on the need for this.

[2017-11-10 00:38] nkolev92 commented on #5526
Duplicate of https://github.com/NuGet/Home/issues/5447

[2017-11-10 00:38] #5526 closed, assigned to nobody

[2017-11-10 00:40] emgarten commented on #1703
Related: #5602

[2017-11-10 00:40] mishra14 commented on #5293
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-11-10 00:40] #5293 closed, assigned to nobody

[2017-11-10 00:41] emgarten commented on #1702
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-10 00:41] #1702 closed, assigned to nobody

[2017-11-10 00:42] emgarten commented on #1698
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-10 00:42] #1698 closed, assigned to nobody

[2017-11-10 00:43] jainaashish commented on #3872
dupe of https://github.com/NuGet/Home/issues/5069

[2017-11-10 00:43] #3872 closed, assigned to nobody

[2017-11-10 00:44] jainaashish commented on #2494
dupe of https://github.com/NuGet/Home/issues/5069

[2017-11-10 00:44] #2494 closed, assigned to nobody

[2017-11-10 00:45] jainaashish commented on #2384
dupe of https://github.com/NuGet/Home/issues/5069

[2017-11-10 00:45] #2384 closed, assigned to nobody

[2017-11-10 00:49] jainaashish commented on #3876
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-10 00:49] #3876 closed, assigned to nobody

[2017-11-10 00:49] nkolev92 commented on #5524
I assume you are using packages.config, with that in mind there's a few ways to solve this.
In packages.config you can use repository path in your NuGet config.
https://docs.microsoft.com/en-us/nuget/schema/nuget-config-file

You can move to package reference. By default package reference downloads the packages to a global packages folder and each project would just reference the package from the

[2017-11-10 00:49] #5524 closed, assigned to nobody

[2017-11-10 00:51] jainaashish commented on #3879
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-10 00:51] #3879 closed, assigned to nobody

[2017-11-10 00:52] jainaashish commented on #3882
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-10 00:52] #3882 closed, assigned to nobody

[2017-11-10 00:53] bricelam commented on #5541
Nope. Either RTM fixed it or my workflow changed to avoid it. No problems lately.

[2017-11-10 00:53] jainaashish commented on #3884
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-10 00:53] #3884 closed, assigned to alpaix

[2017-11-10 00:54] #4467 closed, assigned to nobody

[2017-11-10 01:03] rchande commented on #1970
Not sure. I think this experience no longer exists (PCL net standard). @Pilchie to confirm.

[2017-11-10 01:04] emgarten commented on #1683
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-10 01:04] #1683 closed, assigned to nobody

[2017-11-10 01:05] emgarten commented on #1679
Marking as won't fix based on the comments above.

[2017-11-10 01:05] #1679 closed, assigned to nobody

[2017-11-10 01:05] #1678 closed, assigned to nobody

[2017-11-10 01:06] abpiskunov commented on #6047
thanks!

[2017-11-10 01:07] forki commented on #2384
@jainaashish this one here is older and with customer subscriptions. Just saying...

[2017-11-10 01:07] #1673 closed, assigned to nobody

[2017-11-10 01:07] zhili1208 commented on #4495
it's fixed

[2017-11-10 01:07] #4495 closed, assigned to nobody

[2017-11-10 01:08] #1672 closed, assigned to nobody

[2017-11-10 01:08] emgarten commented on #1666
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-10 01:08] #1666 closed, assigned to nobody

[2017-11-10 01:09] emgarten commented on #1662
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-10 01:09] #1662 closed, assigned to nobody

[2017-11-10 01:10] jainaashish commented on #3892
Is this still relevant?

[2017-11-10 01:10] #3892 closed, assigned to nobody

[2017-11-10 01:10] emgarten commented on #1655
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-10 01:10] #1655 closed, assigned to nobody

[2017-11-10 01:13] emgarten commented on #1653
Restore performance has been improved in 4.4.0.

[2017-11-10 01:13] #1653 closed, assigned to nobody

[2017-11-10 01:13] jainaashish commented on #3896
Not related to NuGet client, if this is still a relevant ask, then please open an issue for NuGet.Server

[2017-11-10 01:13] #3896 closed, assigned to nobody

[2017-11-10 01:14] emgarten commented on #1652
@xavierdecoster is this still needed?

[2017-11-10 01:15] emgarten commented on #1651
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-10 01:15] #1651 closed, assigned to nobody

[2017-11-10 01:15] jainaashish commented on #3907
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-10 01:15] #3907 closed, assigned to nobody

[2017-11-10 01:16] nkolev92 commented on #5547
Unfortunately this is by design in the packages.config world.

In packages.config, nuget install in VS is the only command that would add references/copy content files to the project structure.

NuGet restore would just download the packages and not do any actions with the project system.

To workaround this, you should check-in the content files into your versioning system.

[2017-11-10 01:16] #5547 closed, assigned to nobody

[2017-11-10 01:17] emgarten commented on #1641
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-10 01:17] #1641 closed, assigned to nobody

[2017-11-10 01:18] emgarten commented on #1639
Thanks for reporting this issue. At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-11-10 01:18] #1639 closed, assigned to nobody

[2017-11-10 01:18] nkolev92 commented on #5537
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-10 01:18] #5537 closed, assigned to nobody

[2017-11-10 01:22] jainaashish commented on #3912
Agree there were some fundamental design issues with packages.config which we've tried to overcome in PackageReference world. Please start using PackageReference, and let us know if it covers most of your concerns with packages.config. We might not be able to get every design issue fixed with packages.config but will try and make PackageReference works in all cases.

[2017-11-10 01:22] #3912 closed, assigned to nobody

[2017-11-10 01:24] jainaashish commented on #3913
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-10 01:24] #3913 closed, assigned to nobody

[2017-11-10 01:24] nkolev92 commented on #5536
@hvidgaard Are you still hitting this issue with 15.4?

[2017-11-10 01:25] jainaashish commented on #3915
`global.json` is no more a supported scenario.

[2017-11-10 01:25] #3915 closed, assigned to nobody

[2017-11-10 01:25] emgarten commented on #1632
I don't believe this applies to PackageReference, installs should be much faster and do not hang the UI like packages.config did.

[2017-11-10 01:25] #1632 closed, assigned to nobody

[2017-11-10 01:26] jainaashish commented on #3916
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-10 01:26] #3916 closed, assigned to rohit21agrawal

[2017-11-10 01:28] emgarten commented on #1623
Guardrails are off by default for PackageReference projects since 4.0.0.

[2017-11-10 01:28] #1623 closed, assigned to nobody

[2017-11-10 01:28] jainaashish commented on #3917
We had made lot of perf fixes post 3.6.0 until 4.4.0 please try the latest one and let us know how it works now.

[2017-11-10 01:28] #3917 closed, assigned to nobody

[2017-11-10 01:29] jainaashish commented on #3925
Fixed with latest Visual Studio 15.4

[2017-11-10 01:29] #3925 closed, assigned to nobody

[2017-11-10 01:34] emgarten commented on #1619
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-10 01:34] #1619 closed, assigned to nobody

[2017-11-10 01:35] emgarten commented on #1616
ProjectK is gone.

[2017-11-10 01:35] #1616 closed, assigned to zhili1208

[2017-11-10 01:36] #1607 closed, assigned to nobody

[2017-11-10 01:36] jainaashish commented on #3932
Moved to NuGetDocs https://github.com/NuGet/docs.microsoft.com-nuget/issues/560

[2017-11-10 01:37] #3933 closed, assigned to nobody

[2017-11-10 01:37] #1606 closed, assigned to nobody

[2017-11-10 01:37] #1600 closed, assigned to nobody

[2017-11-10 01:38] jainaashish commented on #3942
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-10 01:38] #3942 closed, assigned to nobody

[2017-11-10 01:39] emgarten commented on #1591
Thanks for reporting this issue. At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-11-10 01:39] #1591 closed, assigned to nobody

[2017-11-10 01:40] jainaashish commented on #3943
Closing it here since we're tracking it in docs repo

[2017-11-10 01:40] #3943 closed, assigned to karann-msft

[2017-11-10 01:40] Pilchie commented on #1970
Correct - we don't need this anymore, there is no .NET Standard experience with project.json.

[2017-11-10 01:40] emgarten commented on #1590
Duplicate of https://github.com/NuGet/Home/issues/2867

[2017-11-10 01:40] #1590 closed, assigned to nobody

[2017-11-10 01:41] jainaashish commented on #3944
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-10 01:41] #3944 closed, assigned to nobody

[2017-11-10 01:41] jainaashish commented on #3946
We will never be able to get to this so closing it for now.

[2017-11-10 01:41] #3946 closed, assigned to nobody

[2017-11-10 01:43] #1582 closed, assigned to nobody

[2017-11-10 01:46] v-luzh commented on #4936
@emgarten Yes, it still repro on D15Rel 27108.00 (NuGet Client 4.5.0.4574). We believe it is not a regression.

[2017-11-10 01:46] emgarten commented on #1580
Thanks for reporting this issue. At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-11-10 01:46] #1580 closed, assigned to nobody

[2017-11-10 01:48] emgarten commented on #1579
Closing as fixed based on the comment above. Consolidate view is available in the UI.

[2017-11-10 01:48] #1579 closed, assigned to nobody

[2017-11-10 01:48] #1574 closed, assigned to nobody

[2017-11-10 01:50] emgarten commented on #1569
Thanks for reporting this issue. At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-11-10 01:50] #1569 closed, assigned to yishaigalatzer

[2017-11-10 01:51] emgarten commented on #1564
Still relevant, but not worth keeping around at this point.

[2017-11-10 01:51] #1564 closed, assigned to nobody

[2017-11-10 01:51] #1558 closed, assigned to nobody

[2017-11-10 01:52] #1554 closed, assigned to nobody

[2017-11-10 01:53] emgarten commented on #1552
Thanks for reporting this issue. At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-11-10 01:53] #1552 closed, assigned to nobody

[2017-11-10 01:54] #1549 closed, assigned to nobody

[2017-11-10 01:56] emgarten commented on #1530
This is fixed by automatic package restore with PackageReference projects in VS 2017.

[2017-11-10 01:56] #1530 closed, assigned to nobody

[2017-11-10 01:58] emgarten commented on #1524
Duplicate of https://github.com/NuGet/Announcements/issues/13

[2017-11-10 01:58] #1524 closed, assigned to nobody

[2017-11-10 02:01] #1515 closed, assigned to nobody

[2017-11-10 02:02] emgarten commented on #1511
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-10 02:02] #1511 closed, assigned to nobody

[2017-11-10 02:05] emgarten commented on #1510
This should work using PackageReferences instead of packages.config, both in traditional fsproj and NETCore SDK projects.

[2017-11-10 02:06] emgarten commented on #1502
Closing. Would accept a PR for this.

[2017-11-10 02:06] #1502 closed, assigned to nobody

[2017-11-10 02:56] nkolev92 commented on #5541
Cool.
I'll close this issue now.

[2017-11-10 02:56] #5541 closed, assigned to nobody

[2017-11-10 02:56] #1970 closed, assigned to jasonmalinowski

[2017-11-10 02:59] nkolev92 commented on #5719
@zosrothko
Sounds good.

[2017-11-10 03:50] jainaashish commented on #2384
@forki both issues have some customer subscriptions, but 5069 has more details and clear repro steps which is why I kept that open and also linked that bug here so that anyone watching this one, can go there.

[2017-11-10 04:50] AArnott commented on #4356
@zhili1208 why did you close this?

[2017-11-10 04:52] ateohwr commented on #6152
Logs attached!
[l.txt](https://github.com/NuGet/Home/files/1460105/l.txt)

[2017-11-10 04:52] AArnott commented on #4649
@emgarten Yes, it still repros:
[code]

[2017-11-10 05:25] AArnott commented on #5221
No repro with 15.5 Preview 4.

[2017-11-10 06:10] emgarten commented on #4649
@AArnott thanks! Moving this to the backlog for pack.

[2017-11-10 06:38] asbjornu commented on #5889
The spec says:

As expressed by both me and others elsewhere, I think it's a mistake to not use GPG/PGP, at least as an alternative to X.509 certificates.

[2017-11-10 07:43] tanaka-takayoshi opened #6155 "disabledPackageSources seems not working"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
.NET Core CLI on CentOS

NuGet version (x.x.x.xxx):
[code]

dotnet.exe --version (if appropriate):
[code]

VS version (if appropriate):
N/A

OS version (i.e. win10 v1607 (14393.321)):
[code]

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

[2017-11-10 08:51] pellea commented on #5269
Can you try the same command with and without the -verbose flag. It produces the same output. It should not.

Which package has been checked for update?
How many packages do you have in the project?

Why don't we see these kind of info in the log when using the verbose switch?

[2017-11-10 09:25] jariq commented on #5260
@mishra14 sure. I am closing this one.

[2017-11-10 09:25] #5260 closed, assigned to nobody

[2017-11-10 10:14] kevinkuszyk commented on #3415
I may have some time coming up to dedicate to this.

Before I get stated is there any preference on output?  I was thinking something like this based on `npm outdated`:

[code]

Also, is the preference still to add a new command for this, rather than adding a `-whatif` flag to the `update` command as per #5762?

[2017-11-10 11:26] xt0rted commented on #6035
I'm seeing this with [FakeItEasy.Analyzer.CSharp](https://www.nuget.org/packages/FakeItEasy.Analyzer.CSharp/). In a brand new project these install just fine initially, but when you update them every other update will remove the reference to the analyzer. It's pretty annoying but now that I know that's what happens I can downgrade, then upgrade to the newest version without it being removed from t

[2017-11-10 15:14] DerAlbertCom commented on #4595
Really?

[2017-11-10 18:08] rrelyea commented on #6155
Dupe of https://github.com/NuGet/Home/issues/5704.
Yes, please upgrade to 2.0.2 of .net core sdk, and that is fixed.

[2017-11-10 18:08] #6155 closed, assigned to nobody

[2017-11-10 18:09] jainaashish commented on #6035
I investigated this and the problem is NuGet isn't using the updated dte project to run install.ps1 which add these analyzers so when you update, it still uses old dte project reference which still has these analyzers so install.ps1 skips adding these. Next time, since there were no analyzers so it add them and this continues forever...

Thanks everyone for pointing this, we'll get this fix with u

[2017-11-10 18:24] mishra14 commented on #6071
In progress, Need another 10 hours this sprint for finishing the work and adding test infrastructure.

[2017-11-10 18:46] #6072 closed, assigned to zhili1208

[2017-11-10 18:46] mishra14 commented on #6074
Closing as done in dev and feature branch.

[2017-11-10 18:46] #6074 closed, assigned to PatoBeltran

[2017-11-10 18:49] mishra14 commented on #6070
closing as we are done from our side.

[2017-11-10 18:49] #6070 closed, assigned to jainaashish

[2017-11-10 18:50] mishra14 commented on #6069
blocked by ZipSigning.

[2017-11-10 18:50] mishra14 commented on #6068
closing as done.

[2017-11-10 18:50] #6068 closed, assigned to emgarten

[2017-11-10 20:09] rido-min commented on #5889
Hi @asbjornu , we evaluated the use of GPG vs. X509, and finally decided to use X509, here are the main reasons:

1. Windows does not support GPG natively. In Windows 10 we could use WSL or Git Bash, but that is an extra dependency we would like to avoid.
2. .NET does not support GPG natively. Sure, we can write the code to support it, but we want to design NuGet on top of existing APIs.
3. GPG do

[2017-11-10 20:29] rrelyea opened #6156 "web api project cannot create package unless ispackable is explicitly set."
See https://github.com/dotnet/project-system/issues/2941
@Pilchie asks "should there be an error/warning if GeneratePackageOnBuild is true, but IsPackable is false instead of just a UI indication?"
etc...

How should we improve here?

[2017-11-10 21:25] emgarten commented on #4595
@DerAlbertCom we appreciate the suggestion. At this time your feature request does not meet the bar, and the team will not be able to work on this foreseeable future. If additional feedback or requests come in for this feature we will re-evaluate this.

We would accept a PR for this.

[2017-11-10 21:50] BillHiebert commented on #5539
It was pretty common for a while but I haven't noticed it in recent builds. Feel free to close and I can re-activate it if I see it again.

[2017-11-10 22:07] zhili1208 commented on #4356
@emgarten

[2017-11-10 22:55] rrelyea commented on #6140
@keslerm - Please answer @zhili1208 's question

[2017-11-10 23:01] emgarten commented on #4356
This is a duplicate of https://github.com/NuGet/Home/issues/1428

Development dependencies do not flow to parent projects, here there is no parent project so it doesn't matter here, the project's graph contains a circular dependency.

I can see how this case is special because the dependency package is likely using targets, but for most scenarios this would be equivalent to having a project A that

[2017-11-10 23:16] emgarten commented on #3601
This should also include the `Version` and other properties in the csproj, not just PackageReferences. See: https://github.com/NuGet/Home/issues/6154

[2017-11-10 23:17] emgarten commented on #6154
@KirillOsenkov thanks for the issue. I think this is best tracked here: https://github.com/NuGet/Home/issues/3601

It is a little different for env vars, but as far as I know msbuild doesn't provide a good way to tell the difference so that we can tell the user where the bad data came from.

[2017-11-10 23:17] #6154 closed, assigned to nobody

[2017-11-10 23:26] jainaashish commented on #6070
We had another discussion here with ASP.NET team and after the design discussion, we agreed that we don't need anything from NuGet here, they can use existing features like Version range and private assets to restrict package update.

[2017-11-10 23:29] jainaashish commented on #6067
We completed some of these task (1,2,5) in 4.6 - oct24-Nov11 but stll left with other open tasks so will continue to make progress there in current sprint.

[2017-11-10 23:32] emgarten commented on #6146
The issue tracking support for C++ apps consuming managed assemblies is here: https://github.com/NuGet/Home/issues/5292  Please up vote and comment there.

I appreciate the detailed the write up of the issue, but at this time UWP is only using packages.config, which does not support the `ref/` folder. We would like to tackle this problem directly instead of providing workarounds for the currently

[2017-11-10 23:32] #6146 closed, assigned to nobody

[2017-11-10 23:35] jainaashish commented on #5488
We've made some progress here but needs to continue with it.

[2017-11-10 23:35] emgarten commented on #1645
Duplicate of https://github.com/NuGet/Home/issues/5292

[2017-11-10 23:35] #1645 closed, assigned to nobody

[2017-11-11 00:02] mishra14 commented on #3707
Reopening as this was closed in confusion. The merge was reverted at the time and should be refactored now.

[2017-11-11 00:04] mishra14 commented on #5222
@magol Your thought is right. But that is done internally by msbuild. It reads '$(TargetFrameworks)' and then internally oops through it.

[2017-11-11 00:06] #5221 closed, assigned to nobody

[2017-11-11 00:08] mishra14 commented on #5269
It means it checked all the packages for that project. There are other commands for that - https://docs.microsoft.com/en-us/nuget/tools/powershell-reference

[2017-11-11 00:48] skofman1 opened #6157 "VSTO VS2017 hosted build of unit test project with project reference to a Web UI project - nuget restore fails with error NU1105"
@IainmXray commented on [Thu Nov 02 2017](https://github.com/NuGet/NuGetGallery/issues/4944)

I have already raised this issue via Microsoft support ticket and have been asked by them to raise a ticket here as have suggested that it is a Nuget issue.

Nuget resolve is working locally but failing on the VSTO hosted VS2017 build server with the following error:

2017-10-31T16:04:14.5903315Z d:\a\1\s

[2017-11-11 01:41] ferventcoder commented on #5889
It's not a versus IMHO. At Chocolatey we are considering both. X509 makes sense for organizational use, GPG makes sense for community and traceability.

[2017-11-11 02:02] emgarten opened #6158 "Avoid clearing the package folder caches for packages that were not installed"
Currently if a package is installed all projects in the restore will attempt to install the same package, and clear the in memory cache afterwards.  This should only be done once per package to avoid unneeded reading of the disk.

[2017-11-11 02:02] emgarten commented on #6158
https://github.com/NuGet/NuGet.Client/commit/a5abb1bdc1aecdbc1d46f36c3eced4062843c249

[2017-11-11 02:02] #6158 closed, assigned to emgarten

[2017-11-11 02:14] emgarten commented on #6157
@IainmXray in order to help you I need:

1. Repro steps for how you are running restore (ex: VS, dotnet.exe, nuget.exe)
1. Please include the version of nuget that you are using.

I also suggest retrying with the latest 4.4.0 version of nuget.

[2017-11-11 05:21] emgarten commented on #6141
This is intentional since downgrading from netstandard2.0 to netstandard1.0 packages can cause problems.

As mentioned, this setting comes from the SDK and you can override it in your project. Restore is getting the values from TreatsWarningAsErrors and WarningsAsErrors.

[2017-11-11 05:21] #6141 closed, assigned to nobody

[2017-11-11 05:23] emgarten commented on #6137
Thanks for the update @azchohfi, NuGet uses msbuild libraries for parsing. I don't think we want to recreate VS's parsing logic also for restore.

[2017-11-11 05:23] #6137 closed, assigned to nobody

[2017-11-11 05:24] emgarten commented on #6142
This issue was moved to NuGet/NuGetGallery#4986

[2017-11-11 05:24] #6142 closed, assigned to nobody

[2017-11-11 05:35] emgarten commented on #6152
@teo2akt is the env var `APPDATA` set on the machine?

Based on the code here https://github.com/NuGet/NuGet.Client/blob/a5abb1bdc1aecdbc1d46f36c3eced4062843c249/src/NuGet.Core/NuGet.Configuration/Settings/Settings.cs#L324 it looks like this could be coming back empty and causing a NRE.

[2017-11-11 05:37] emgarten commented on #6147
Per @zhili1208's comment it looks like NuGet is behaving as expected here.

[2017-11-11 05:37] #6147 closed, assigned to nobody

[2017-11-11 05:39] emgarten commented on #6145
If all packages are in the global packages folder and there are zero misses, and zero floating versions then NuGet will not attempt to go online. We should have nuget.exe tests that verify there are zero network calls.

If NuGet does need to resolve a package then it will check the sources, and in that case is needs to contact all sources to get a coherent result.

So I'm unsure that this is a rea

[2017-11-11 06:09] AArnott commented on #4356
Can you elaborate on this? If the parent project sets a different `PackageId`, then it can't build the package it was meant to.

[2017-11-11 06:22] Martin-Smith2 commented on #5350
Removing the `.nuget` folder from `C:\Users\username` , and rebuilding the solution worked or me.

[2017-11-11 06:44] livarcocc opened #6159 "ContentFiles build action is not applied on linux"
_From @Petermarcu on October 6, 2017 21:49_

@AnisAli commented on [Mon Sep 11 2017](https://github.com/dotnet/core/issues/960)

# invalid csproj.nuget.g.props file generated by dotnet restore on Linux

I do have binary zip file and want to pack that zip file in nupkg as content therefore I am adding my binary file as content in csproj file

**basicmodule.csproj**

[code]

after packing basicmodul

[2017-11-11 06:44] livarcocc commented on #6159
_From @Petermarcu on October 6, 2017 21:50_

Moved this here for now. Not sure if NuGet is a better place or not...

[2017-11-11 06:47] livarcocc opened #6160 "dotnet pack produces an invalid symbols package under linux"
_From @sheltonc on October 4, 2017 5:2_

The following repository contains scripts and a sample project to reproduce the issue. You will need docker installed.

https://bitbucket.org/sheltony/dotnetpackbug

The sample dotnet project contains two classes
- dotnetPackBug.Class1
- dotnetPackBug.Namespace.Class2

To run this, just execute **run.ps1**

You'll end up with two folders **WindowsOut** and

[2017-11-11 06:47] livarcocc commented on #6160
Moving this to NuGet so that they can have first look. If this turns out to be an issue in the SDK, please move it back.

[2017-11-11 07:09] emgarten commented on #6159
The contentFiles of the nuspec looks correct as well as the path. It seems it is not getting applied to the file during restore based on the output.

[2017-11-11 07:14] emgarten commented on #4356
Hmm, that is true. Maybe that doesn't work as a workaround in this case.

In the case of Pack for NuGet we were using a nuspec file and packing that directly.

[2017-11-11 07:46] emgarten commented on #6143
The ambiguous error message is correct.

The name `Askmethat.XForms.Controls` is used for both:

[code]

And the nuproj references the csproj.

During restore packages and projects are treated the same in the dependency graph, which means the package id is used.  The result is `Askmethat.XForms.Controls -> Askmethat.XForms.Controls` which is caught by restore as two projects trying to re-use the s

[2017-11-11 07:46] #6143 closed, assigned to nobody

[2017-11-11 08:47] pellea commented on #5269
I was using a source which had a lot of packages dependencies and needed to wait 11 min to get one package. During those 11 *really* long minutes the console had zero log at all (even with the -verbose flag).

So when your Update-Package command got stuck and you don't know why nor where; there is absolutely a big problem here.

The problem is not "there are other command to see referenced package

[2017-11-11 10:35] ilexp opened #6161 "Improve Support for Custom / Wrapped NuGet Clients"
I'm currently trying to migrate a custom NuGet client from an old v2.x version to the latest v4.x NuGet in order to secure long-term support and allow dealing with netstandard packages that require a newer version. Maybe this is just me failing to wrap my head around some concepts, but so far the experience feels like a bit of a downgrade from the old v2.x integration. In any case, any input would

[2017-11-11 10:52] magol commented on #5222
Ok, i can accept that explantation. But what is the correct solution if i want the output binary to have the target framework in the name?

[2017-11-11 14:29] PhilPJL commented on #6147
I don't agree - the comment about was about my question "Dependency specified was EntityFramework (>= 6.1.3) but ended up with EntityFramework 6.2.0" - I'll accept that.

Why I get "Package restore failed. Rolling back package changes." hasn't been explained.

[2017-11-11 16:00] patroza commented on #6141
@emgarten I understand it is intentional in the scope of .net standard, as well as that it is a good default in general.
Howeve it isn't in practice. This results in a very painful situation to deal with, would be great if this can get reopened and addressed.

**Problem:** Treating NU1605 as error will leave solutions in an unusable state when upgrading NuGet packages solution wide because depende

[2017-11-11 18:37] emgarten commented on #6147
A rollback will happen if there is an error during restore.

Since you have warnings as errors enabled, any warning that happens during the install/restore will cause the install to fail and rollback.

[2017-11-11 18:53] emgarten commented on #6141
I understand the frustration around this.

I suggest importing a common props file into all projects to make it easier to control these settings, you can also use a dirs.props file.

To continue the discussion I think it would be better to open an issue at: https://github.com/dotnet/sdk/issues

The property is set here: https://github.com/dotnet/sdk/blob/cd25d6bbfc2aac61cc790c511900427ac64fdaa8/sr

[2017-11-11 23:19] ghost commented on #3767
Still actual... Please reopen!

[2017-11-11 23:38] livarcocc opened #6162 "Suggestion: Use the package name from Nuget site instead of the name user enters when running "dotnet add package" command"
_From @RickyLin on August 2, 2017 5:40_

## Steps to reproduce

run the follow commands (I run them on Mac OS):

1. `mkdir demo`
2. `cd demo`
3. `dotnet new console`
4. `dotnet add package microsoft.aspnetcore.mvc.core`
5. `vim demo.csproj`

Look at the `PackageReference` element in demo.csproj

## Expected  behavior
`<PackageReference Include="Microsoft.AspNetCore.Mvc.Core" Version="1.1.3" />`

#

[2017-11-11 23:38] livarcocc commented on #6162
_From @rohit21agrawal on August 4, 2017 5:24_

CC: @mishra14

[2017-11-11 23:38] livarcocc commented on #6162
Moving this to NuGet for consideration, but I don't believe there is any technical reason to do that, as it does not influence the package id nor the package folder where NuGet restores that package.

On top of that, with tab completion in the CLI, the right casing would be used if the package name were auto-completed in the command line.

[2017-11-12 03:52] StingyJack commented on #5225
@mishra14 - I'm on that one too, and I'll accept this as a dupe.

However I dont know of a definition for  "normalizing" that includes destroying or discarding data that isn't part of.  If you normalized records in a rdbms, it would be a de-duplication effort not a removal effort.

"Normalizing" in this case would mean expanding the shorter version numbers to match the longer ones.

[2017-11-12 03:53] StingyJack commented on #5236
@mishra14  - Did it get fixed it in 2017 then?

[2017-11-12 04:03] StingyJack commented on #3050
Also, if someone normalizes a database and there is data that was present before normalization, but afterwards is not available anymore in any way, I'm betting probably everyone on this thread would agree that would constitute a problem.

[2017-11-12 06:29] mishra14 commented on #4677
closing this as a dupe of #4102.

[2017-11-12 06:29] #4677 closed, assigned to mishra14

[2017-11-12 06:44] mishra14 commented on #6162
This is a known issue. Please use https://github.com/NuGet/Home/issues/5952 to track this.

[2017-11-12 06:44] #6162 closed, assigned to nobody

[2017-11-12 17:42] Starnick opened #6163 "Content File not copied using new csproj format + multitargeting"
I created a netstandard 2.0 project, then added additional targets for net35 and net45. I have a nuget reference that has a source file transformation as content, which correctly is copied into the obj/ folder for the netstandard target, but does not get copied for the other target obj/ folders, so the build fails.

I have a small sample project that shows the issue, and I found the issue in Visua

[2017-11-12 18:49] Starnick commented on #6163
Never mind, user error. I realized the nuget package didn't have its source file transformation in the "any" content folder.

[2017-11-12 18:49] #6163 closed, assigned to nobody

[2017-11-12 22:33] nkolev92 commented on #6161
Our documentation of the post-V2 libraries is lacking, so I'll try to give you as many pointers as possible for you to be able to get around.

Since you're moving on from V2, I assume you're only familiar with the concept of packages.config.
NuGet 4.x now has [PackageReference](https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files) which is our new and recomme

[2017-11-13 03:07] emgarten commented on #6144
@gep13 yes this will be fixed. My point was, for packages.config restore you should use `nuget.exe restore` instead of `nuget.exe install`.

[2017-11-13 03:31] emgarten commented on #3050
Just a reminder that this issue is up for grabs, I'm willing to helping someone with a PR for adding the `-VerbatimVersion` flag to pack.

I believe normalization happens here:
https://github.com/NuGet/NuGet.Client/blob/a5abb1bdc1aecdbc1d46f36c3eced4062843c249/src/NuGet.Clients/NuGet.CommandLine/Commands/PackCommand.cs#L158

Using `NuGetVersion.ToString()` instead of `NuGetVersion.ToFullString()`

[2017-11-13 05:18] emgarten commented on #6139
I made this change and found no difference in the profiler. It turns out that there is a bug in older versions of json.net: https://github.com/JamesNK/Newtonsoft.Json/issues/1249

The `LineInfoHandling` property is reversed. So to turn off line info in older versions it needs to be `LineInfoHandling = LineInfoHandling.Load`, but with a newer version it should be `LineInfoHandling = LineInfoHandlin

[2017-11-13 05:21] tmat opened #6164 "Unable to build NuGet.Client repo: configure.ps1 fails in CimCmdlets.GetCimInstanceCommand"
[code]

[2017-11-13 05:37] tmat opened #6165 "NuGet pack task leaves the resulting .nupkg files locked"
PackTask leaves the .nupkg files it produces locked even after it finishes running. Processes running after the task might thus fail due to access violation.

The issue is likely in ```PackCommandRunner.BuildPackage```:

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/CommandRunners/PackCommandRunner.cs#L84

where the instance of ```PackageArchiveReader``` is not dispo

[2017-11-13 06:35] tmat commented on #6164
Never mind, seems like Windows issue. Restarting the machine helped.

[2017-11-13 06:35] #6164 closed, assigned to nobody

[2017-11-13 06:49] ateohwr commented on #6152
ENV was missed. It's resolved now, working fine. Thank You!

[2017-11-13 07:28] #6144 closed, assigned to emgarten

[2017-11-13 07:30] emgarten commented on #6152
Thanks for the update @teo2akt, NuGet should throw a helpful message when this happens, similar to when HOME isn't set. I'll leave this issue to track that work.

[2017-11-13 08:29] davidjward30 commented on #1645
I see this is closed, yet marked as a duplicate of itself?

[2017-11-13 08:53] gep13 commented on #6144
@emgarten that is great news!  Yip, understood, going forward, we will make a point of recommending that people do this.

Since the PR is now merged, is there a place that we can take the latest code for a spin?  Or when will this be released?  Thanks.

[2017-11-13 08:53] emgarten commented on #1645
@davidjward30 good catch, I updated the issue number :smile:

[2017-11-13 08:55] emgarten commented on #6144
4.4.0 nuget.exe will be released soon, it was held up only by this issue.

Thanks again for reporting the issue! I'm glad it was caught before 4.4.0 went out to everyone :smile:

[2017-11-13 08:58] gep13 commented on #6144
@emgarten Perfect.  Just to clarify, does that mean that 4.4.0 will switch to being available on the `latest` download URL?

[2017-11-13 10:48] ChristophHornung commented on #2368
Since the project.json format seems to be abandoned or at least not the default in Visual Studio 2017 will this be re-opened?

[2017-11-13 11:39] evil-shrike commented on #6020
a fix is highly desirable to have ASAP. Please don't suggest installing a preview of VS.
I'm still getting this error in 15.4.3rtm and it's a real pain.

[2017-11-13 11:54] ADD-Juan-Perez commented on #5979
We have added a reference to NuGet.Build.Tasks.Pack in a .NET 4.6.1 project.

If we configure the TargetFramework property in csproj an error occurs:

But if we set the TargetFramework property through the command line works fine:
msbuild.exe -t:Pack -p:Configuration=Release -p:TargetFramework=net461

Thanks in advance

[2017-11-13 11:55] ADD-Juan-Perez commented on #4491
Related to #5979

We have added a reference to NuGet.Build.Tasks.Pack in a .NET 4.6.1 project.

If we configure the TargetFramework property in csproj an error occurs:

But if we set the TargetFramework property through the command line works fine:
msbuild.exe -t:Pack -p:Configuration=Release -p:TargetFramework=net461

Thanks in advance

[2017-11-13 12:14] MSAAAAuto commented on #5768
My Visual Studio 2017 **15.4.3** (Windows 10.0.16299.19) contains this error in Package Manager Console: "PM> PowerShell version 2.0 is not supported. Please upgrade PowerShell to 3.0 or greater and restart Visual Studio." So I'm not able to work with it. I found different way how to create Model as **Database-First** in Asp Net Core Api project.
I use:
**EF Core Power Tools**
https://marketplace.

[2017-11-13 15:15] JanSoundhouse opened #6166 "Nuget.exe update solution.sln does not use projects from solution but from directory hierarchy"
## Problem

NuGet product used: NuGet.exe
NuGet version (4.3.0.4406)

Nuget.exe does not use the projects from the solution file when updating nuget packages, it only updates projects that are on the same directory level as the .sln file or below.

## Steps to reproduce

To reproduce see the archive attached.
It contains a Visual Studio solution and two projects. Both projects have the package Git

[2017-11-13 18:31] #6139 closed, assigned to emgarten

[2017-11-13 18:39] zhili1208 opened #6167 "Package signing Error message polish - VS"

[2017-11-13 18:39] zhili1208 opened #6168 "PackageSigning - key isolation"

[2017-11-13 18:40] zhili1208 opened #6169 "PRSS - p7b file support"

[2017-11-13 18:41] ManveerSB commented on #737
Still happens in VS 2017

[2017-11-13 18:50] emgarten commented on #6144
This fix will go into 4.4.1 and will move to the latest.

[2017-11-13 18:58] karann-msft commented on #3932
@jainaashish why was this moved to docs? I am happy to update the docs if you can answer the questions in this issue.

[2017-11-13 19:08] #6078 closed, assigned to karann-msft

[2017-11-13 19:14] nkolev92 opened #6170 "Consider better progress and/or restore time summary at the end of operation"
We need to improve our perf measurements.

We need to get more detailed on the network time for certain actions, when we hit the soruces to get the versions available, to download etc.

Things to keep in mind.
- Longest network call time
- Total time spent waiting for network calls to return

We also need to make sure to write this restore summary in output window for VS or command line for dotnet

[2017-11-13 19:18] emgarten opened #6171 "Verify repository signature as primary signature"
Verify a repository signature as a primary signature on a package.

[2017-11-13 19:19] emgarten opened #6172 "PackageSigining - Add two additional signed attributes"

[2017-11-13 19:20] emgarten opened #6173 "Verify that only 1 primary signature exists in the package"
Update package verification to verify that only primary signature exists in a package.

Verify that root signedcms has 1 signerinfo.

[2017-11-13 19:21] emgarten opened #6174 "Closed - Verify package signature signed attributes"
Verify package signature signed attributes

[2017-11-13 19:54] rrelyea commented on #5768
@MSAAAAuto - What version of PowerShell is installed on your machine?

[2017-11-13 20:01] mishra14 opened #6175 "Signing API: change IO to invoke ZipSigningUtility"

[2017-11-13 20:04] mishra14 opened #6176 "PackageSigning - support signature timestamp verification"
related issue for enabling signature timestamping: https://github.com/NuGet/Home/issues/6071

[2017-11-13 20:06] mishra14 opened #6177 "Update sign command to plumb additional params to Signing API"
original issue for enabling signing: https://github.com/NuGet/Home/issues/5904

[2017-11-13 20:08] mishra14 opened #6178 "Update sign command to make timestamper param optional with a warning"
Original sign command issue: https://github.com/NuGet/Home/issues/5904
Original timestamper support issue: https://github.com/NuGet/Home/issues/6071

[2017-11-13 20:21] nkolev92 commented on #6165
Thanks for the issue and analysis @tmat.
What you recommend seems like the correct way to go.

[2017-11-13 20:53] spottedmahn opened #6179 "Searching from VS for Microsoft.AspNetCore.Static Yields Low Quality Results"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

VS version (if appropriate): 2017: 15.4.3

## Detailed repro steps so we can see the same problem

1. Open Package Manager GUI
1. Search for `microsoft.aspnetcore.static`
1. There are no search results

![image](https://user-images.githubusercontent.com/14079228/32748550-9524429a-c88a-11

[2017-11-13 21:01] jainaashish commented on #6035
Reopening to track it for 15.5

[2017-11-13 21:08] anangaur commented on #6179
Dupe of https://github.com/NuGet/NuGetGallery/issues/2789
Search on NuGet.org or from PMUI have same behavior as they use same APIs.
All related search improvements are tracked on https://github.com/NuGet/NuGetGallery/issues/4124

[2017-11-13 21:08] #6179 closed, assigned to nobody

[2017-11-13 21:47] ghost opened #6180 "Who can join PURL from .NET / NuGet side?"
There is a community push to standardize Package URL format "PURL":
package-url/purl-spec#1

The specs are being written based on knowledge gained by different language/platform runtimes.

If there is interest in NuGet community, please join the effort or at least cc the guys who might be interested / recognize the potential benefit from .NET side of the house.

cc @pombredanne, if you would like

[2017-11-13 23:00] nkolev92 commented on #6166
@JanSoundhouse Thanks for creating this issue.
I can reproduce it.

This is a bug with the update command and has been there as early as 2.8. ( < 2015)
When searching for the projects, it just looked at all the children directories, under the solution file.

Relevant code [here](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/Commands/UpdateCommand.cs#L121-L129)

[2017-11-13 23:01] PatoBeltran opened #6181 "PackageSigning - Update nuget.exe verify command to use Signing API"
Finish up verify command and make sure it calls the real signing api

[2017-11-13 23:03] PatoBeltran opened #6182 "Finish up ZipSigningUtilities"
[ ] Add tests
[ ] Code review

[2017-11-13 23:20] nkolev92 commented on #6180
//cc @anangaur @NuGet/nuget-client @rrelyea

[2017-11-13 23:21] jainaashish opened #6183 "Call DTE.Project.FullName instead of DTE.Project.Properties item"
Internal issue# 504715

[2017-11-13 23:39] pombredanne commented on #6180
FWIW, this is a discussion that started here https://github.com/nexB/scancode-toolkit/issues/805 then expanded a bit and led to this first [reviewable draft](https://github.com/package-url/purl-spec/blob/20f84b31d41a9c8aa082910ce46dc63fa6059f18/README.rst)

Feedback is much welcomed and appreciated.
The gist is to define a clear, simple and unambiguous way to uniformly reference software packages

[2017-11-13 23:43] tmat commented on #6165
@rrelyea Submitted PR with a fix. Can we get it into next release?

[2017-11-14 00:00] diverdan92 commented on #6104
@maartenba -

b. The debugger/VS/… uses the %sourceservertemplate% placeholder in the URL that was in source_link.json, then fetches the sources from there.

The way you envision this working, where would the source be uploaded to support these scenarios? It seems like the package author has not uploaded the source in this case?

[2017-11-14 00:07] #6183 closed, assigned to jainaashish

[2017-11-14 00:53] mishra14 commented on #6020
Folks, we are trying to get this fix into 15.4.4. I will update once there is an update. Thanks!

[2017-11-14 04:25] AArnott commented on #737
@woellij @johnataylor Can someone please respond to the comments on this bug? It doesn't make sense why it was closed without explanation and with a "2 - working" tag on it.

[2017-11-14 06:02] maartenba commented on #6104
That comes from the creation phase:

* User, when packaging using nuget.exe pack -Symbols for Portable PDB
  * If the Portable PDB does not contain embedded sources + sourcelink
    * Check whether source_link.json is available. If not:
      * Generate one based on the current folder and make sure the Portable PDB contains it (may need a recompile… so maybe generating one should be a default of c

[2017-11-14 06:08] emgarten opened #6184 "dotnet pack doesn't honor AppendTargetFrameworkToOutputPath in package structure"
_From @thomaslevesque on November 8, 2017 11:44_

[This project](https://github.com/FakeItEasy/FakeItEasy/blob/8f649f313f8afaa35871475ca00ae94a55db91ec/src/FakeItEasy.Analyzer/FakeItEasy.Analyzer.CSharp.csproj) used to produce the following package structure with the 1.0.4 SDK:

![image](https://user-images.githubusercontent.com/1864281/32543775-d0b3abc4-c476-11e7-9690-d58de230462d.png)

But with

[2017-11-14 06:08] emgarten commented on #6184
_From @thomaslevesque on November 8, 2017 14:4_

Apparently, including the TFM in the path is [hard-coded](https://github.com/NuGet/NuGet.Client/blob/eb6fe311289908d5e1fe6f644030c704be2bc15c/src/NuGet.Core/NuGet.Commands/MSBuildProjectFactory.cs#L142) and can't be disabled...

For the project I mentioned, it generates an analyzer packages that installs correctly in SDK-style projects, but not in c

[2017-11-14 06:08] emgarten commented on #6184
_From @livarcocc on November 9, 2017 3:6_

@emgarten Is this something that NuGet relies on the SDK for or is NuGet doing its own path calculation for the folder under pack?

[2017-11-14 06:08] emgarten commented on #6184
I'm not completely sure if NuGet appends the TFM to $(BuildOutputTargetFolder) here, or how this is getting added.

//cc @rohit21agrawal for pack

[2017-11-14 06:08] emgarten commented on #6184
_From @thomaslevesque on November 10, 2017 16:18_

From the [code I linked to](https://github.com/NuGet/NuGet.Client/blob/eb6fe311289908d5e1fe6f644030c704be2bc15c/src/NuGet.Core/NuGet.Commands/MSBuildProjectFactory.cs#L142), it seems pretty clear that it does ;)

[2017-11-14 06:08] emgarten commented on #6184
_From @livarcocc on November 10, 2017 16:50_

I agree with @thomaslevesque. It seems NuGet is the one that is doing this and not honoring the Append property.

[2017-11-14 06:08] emgarten commented on #6184
_From @blairconrad on November 14, 2017 2:38_

Does this mean that the issue should move to NuGet/NuGet.Client?

[2017-11-14 06:18] nkolev92 commented on #5539
Thanks, closing for now.

[2017-11-14 06:18] #5539 closed, assigned to nobody

[2017-11-14 07:09] MSAAAAuto commented on #5768
If I run PowerShell from the Windows **Start**:

If I run PowerShell in **Package Manager Console** in Visual Studio 2017 15.4.3, which was installed last week 9. November:

Perhaps this information from the PMC can also help:
Each package is licensed to you by its owner. NuGet is not responsible for, nor does it grant any licenses to, third-party packages. Some packages may include dependencies w

[2017-11-14 09:46] JanSoundhouse commented on #6166
@nkolev92 Thanks for your quick response.

Unfortunately fixing this is totally out of my scope.. Also I wonder how this works if PackageReference is used in .csproj files?

[2017-11-14 09:47] JanSoundhouse commented on #6166
Sorry, wrong button pressed - just wanted to comment..

[2017-11-14 10:58] maartenba commented on #2577
Seeing so many PR's right now in both the client and the gallery that involve signing, yet the spec still says "reviewing". What is the *real* status of the spec? Is there anything known about what is going to be implemented? (given all of the PR's I see also `throw new NotImplementedException();` all around)

[2017-11-14 17:17] StingyJack commented on #3656
@jainaashish - whats the reason for removing something that lets us addresses gaps present in nuget?

[2017-11-14 17:27] rido-min commented on #2577
@maartenba . Package signing is a complex feature that require multiple specs. The master spec [Package signing](https://github.com/NuGet/Home/wiki/Package-signing) contains links to related specs, and each of them is being reviewed (I've just changed the status of the CLI Sign and Verify specs), but the master spec will be "in review" for a while until we complete specs for Stage 2 and Stage 3.

[2017-11-14 17:31] jainaashish commented on #3656
@StingyJack These install.ps1 and uninstall.ps1 scripts are really vulnerable and people do all kind of random stuffs in there like adding n removing same assembly reference from project or just open a readme file. Besides, most of the legit functionality which users tries to achieve through these scripts, can already be achieved via msbuild targets or props which then has a huge scope of other sc

[2017-11-14 17:32] StingyJack commented on #3656
I can use an install.ps1 to work around how nuget does not handle SSDT projects or AdditionalFiles (non content), and a bunch of other stuff (setting up non-reference development dependencies, platform bitness handling w/ reference assemblies, etc).

If nuget packages are destined for adding references only, then they need to be dead simple to create and use, and all that basic functionality shoul

[2017-11-14 17:43] jainaashish commented on #3656
`I can use an install.ps1 to work around how nuget does not handle SSDT projects or AdditionalFiles (non content), and a bunch of other stuff (setting up non-reference development dependencies, platform bitness handling w/ reference assemblies, etc).`

Can you point me to some of the packages with these workarounds? so that we can take a look. We've recently started analyzing how can we better sup

[2017-11-14 17:51] jainaashish commented on #737
Marking this issue to backlog with priority0 so that we can pick it as soon as we can for an upcoming release.

[2017-11-14 18:26] zjrunner commented on #1835
The console change got added back in 3.5-ish timeframe and I was able to parse out of that.  I still really believe in a -downloadMetrics option that would allow callers to ingest telemetry to their own systems that included times and sources but in all honesty I wouldn't be consuming it right away so it is lower priority.  I'm more interested in a lockfile which would give a full summary of all p

[2017-11-14 18:26] #1835 closed, assigned to nobody

[2017-11-14 18:27] nkolev92 commented on #6166
The NuGet.exe update command is not implemented for PackageReference at this point.

[2017-11-14 19:10] kjbetz commented on #6054
@mishra14 Ok... but how do you know what the `<new_version>` is? I really suggest checking out how yarn has taken care of this, including the interactive upgrade. I just spent another time looking through my `.csproj` and searching nuget.org to see what the latest package versions were. There has to be a better way.

[2017-11-14 19:13] kjbetz commented on #4103
I would highly suggest checking out how yarn has taken care of this with `yarn upgrade` and `yarn upgrade-interactive`

https://yarnpkg.com/lang/en/docs/cli/upgrade/

https://yarnpkg.com/lang/en/docs/cli/upgrade-interactive/

I would just use the same names as well... `dotnet upgrade` `dotnet upgrade-interactive` or possibly `dotnet package upgrade` `dotnet package upgrade-interactive`

[2017-11-14 19:29] StingyJack commented on #3656
Some are not public packages so I have to describe them.
For SSDT, its kind of a piggyback operation.

1.  The SQL project builds, creating a dacpac
2.  The related data repository assembly compiles and has a post build event to copy the dacpac from the sql project output into a folder in its own project outputs.
3.  nuget pack is called on the data repo assembly's nuspec

nuspec file example
[cod

[2017-11-14 20:00] mishra14 commented on #6020
Folks, this has been fixed in 15.4.4 which released today. You can read more about it - https://www.visualstudio.com/en-us/news/releasenotes/vs2017-relnotes

[2017-11-14 20:06] alex-zyl opened #6185 "[Question] Update NuGet package dependencies with VS2017 PackageReference"
NuGet package may reference other packages that are not up-to-date at the moment of adding to the project.
Example:

Latest Microsoft.Azure.Search 3.0.4
--> Microsoft.Rest.ClientRuntime 2.3.7
      ... other dependencies

Latest Microsoft.Rest.ClientRuntime --2.3.10

With packages.config all dependent packages are installed along with initial package and can be updated to latest on Update tab all

[2017-11-14 20:19] ilexp commented on #6161
Thank you for the quick answer! I will investigate some more and gather a list of more concrete questions to get back to you.

[2017-11-14 20:20] kulov commented on #5895
Closed as WontFix?
This is very much needed.
How can you control project references based on configurations either way.
Please provide workaround at least!

[2017-11-14 20:34] emgarten commented on #5895
The workaround is to run `msbuild /t:restore /p:Configuration=release`

Any custom parameters you pass to build must also be passed to restore. If you do that conditioning on configuration works fine, it just isn't possible to run 1 restore and then N builds on N different configurations without restoring again.

[2017-11-14 20:36] emgarten commented on #6185
Duplicate of https://github.com/NuGet/Home/issues/5887

[2017-11-14 20:39] alex-zyl commented on #6185
@emgarten
I was trying to find similar threads. That's what i was looking for. Thanks!
Closing this one

[2017-11-14 20:39] #6185 closed, assigned to nobody

[2017-11-14 20:43] AgustinPradoDamez commented on #3131
I found out the same error with VS2012.
I could successfully install previous version, as @twobob , @mikenap and @HarriMaatta suggested.

[2017-11-14 20:45] kulov commented on #5895
How can this be applied with the Visual Studio build and debug experience?

[2017-11-14 20:50] #5401 closed, assigned to jainaashish

[2017-11-14 20:53] emgarten commented on #5895
Try using a Choose/When instead of a Condition to select the PackageReference.

[2017-11-14 20:54] jainaashish commented on #6035
Merged in release-4.5.0 branch with 4ea0fb23ddc1fa853e5c3e1b3d81fc7c97cd19c6

[2017-11-14 20:54] #6035 closed, assigned to jainaashish

[2017-11-14 21:07] TimLovellSmith commented on #5401
Me, my PC, and no doubt the NuGet.org servers thank you for attending to this issue!

[2017-11-14 21:12] splusq opened #6186 "RestoreOutputPath is not respected by Visual Studio"
When doing a standard msbuild from the command prompt g.props and g.targets get properly generated relative to the project path. However, when building the solution from Visual Studio, the g.props and g.targets gets restored in the intermediate or output path, resulting in the build to ultimately break from Visual Studio on a clean repository. The same repository works when one switches back to co

[2017-11-14 22:55] rrelyea commented on #6186
What type of project do you have?
Normal csproj? DotNet SDK based csproj?

How do you import nuget packages?
Packages.config | Project.json | PackageReference

[2017-11-14 22:57] emgarten commented on #6186
This is related to cloud build.

Command line restore has an option to set RestoreOutputPath which overrides BaseIntermediateOutputPath. In VS only BaseIntermediateOutputPath is read.

[2017-11-14 22:57] rrelyea commented on #5401
@jainaashish - thanks for getting this done. is this now working for only v3 sources or both v2/v3? looking at titles of PRs/Commits, I see both listed.

[2017-11-14 23:01] emgarten commented on #6186
The workaround for this is to set `BaseIntermediateOutputPath`

`RestoreOutputPath` is only intended for advanced scenarios where the user needs to redirect the restore outputs to a different location, which typically doesn't work with build.

[2017-11-14 23:10] kulov commented on #5895
Works great with Choose/When! Thank you!

[2017-11-14 23:32] jainaashish commented on #5401
This is now working for both V2 and V3 sources.

[2017-11-14 23:54] timg-mlbam commented on #6146
I'm running into similar problems when trying to consume WinRT components in UWP JavaScript apps. (where WinRT component is written in C# but has non-WinRT C# internal dependencies like Json.NET). A solution to this would be great!

[2017-11-15 00:32] jainaashish commented on #3932
yeah, this is product issue only.

[2017-11-15 12:00] holytshirt opened #6187 "Add support for Removing BindingRedirects"
Currently from the Package Manager Console  you can run `Add-BindingRedirect` to add missing bindings. The management of bindings is a bit rubbish, as is only adds and sometimes updates, never seems to delete. This is fine for small projects, I find in large solutions my workflow ends up like this.

1. Update nuget packages
2. Manually delete all assembly bindings sections from all app.configs and

[2017-11-15 16:34] ohadschn opened #6188 "Recursive / transitive package dependency resolution using the NuGet Client SDK"
Provided a package ID and version, how can I programmatically obtain its recursive/transitive list of dependencies? I'm using the NuGet Client SDK (`NuGet.Protocol` etc).

This code below is working, but I'm wondering if there's anything built in and/or more efficient (perhaps even some way to build a lock file and then load that up using a JSON deserializer?)

[code]

[2017-11-15 18:34] rlm95 commented on #6054
I know previously on dotnet sdk 2.0.0 it worked where you were able to do `dotnet add package <package_id>` and it would automatically update to the latest version. On dotnet sdk 2.0.2 it no longer works like this.

[2017-11-15 18:53] rlm95 opened #6189 "dotnet add no longer updates the package"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
  - dotnet.exe

dotnet.exe --version (if appropriate):
  - 2.0.2

OS version (i.e. win10 v1607 (14393.321)):
  - win10 v1607 (14393.1770)

Worked before? If so, with which NuGet version:
  - worked with dotnet.exe version 2.0.2
## Detailed repro steps so we can see the same problem

1.  In a fo

[2017-11-15 19:19] brazilbean commented on #3916
This is a problem for me too.

[2017-11-15 19:43] tmat commented on #4360
Also for .NET Core targets shouldn't _publish_ target be invoked before _pack_ and _pack_ copy the result of publishing to the ```tools``` directory?

[2017-11-15 20:51] bhanu1989 opened #6190 "how to integrate .net application with Nuget in jenkins"
please help me with integrating .net application with nuGet in jenkins and deploy it in IIS

[2017-11-15 23:03] nkolev92 commented on #6190
Thanks for creating the issue @bhanu1989
Unfortunately I do not think we can help you with much here.

NuGet is just one minor component of the whole build process and we provide a nuget.exe which you can download [here](nuget.org/downloads) and use on your CI.

Start with Jenkins docs and the the [dotnet docs](https://docs.microsoft.com/en-us/dotnet/index).

The NuGet docs are [here](https://docs

[2017-11-15 23:03] #6190 closed, assigned to nobody

[2017-11-16 00:09] nkolev92 commented on #6189
Thanks for reporting the issue @rlm95.
We will look into it.

[2017-11-16 00:20] emgarten commented on #6188
Restoring the provided package id and version and then reading the project.assets.json file will be the easiest way. To run it programmatically take a look at:
https://github.com/NuGet/NuGet.Client/blob/8bc20a92f97b5007b8cb80b2e4285da7c7a63a03/src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreRunner.cs#L103

If you are using DependencyInfoResource take a look at the gather code which finds all p

[2017-11-16 00:31] nkolev92 commented on #6187
@holytshirt
Is there a scenario where update gets the binding redirects wrong?

Why do you need to remove all binding redirects first and then add them again?

[2017-11-16 00:55] nkolev92 commented on #6188
@ohadschn Try using ResolvePackage**s**
But you're on track.
I don't see how you can do it simpler.

[2017-11-16 07:42] MSAAAAuto commented on #5768
Can I fix it temporarily?
Can I change something manually in the registry or in a configuration file or anywhere else to start using the latest version of PowerShell?
Some workaround?
Please :-)

[2017-11-16 09:35] Dirnei commented on #6111
i really miss the old version. in our development workflow we always used the configuration on solution context. the new way is IMHO less productive then the old one. i would love to see an configuration option to enable the old behaviour

[2017-11-16 09:51] mdhom commented on #6111
![17-11-16-vs17-dependcy-behavior-mockup](https://user-images.githubusercontent.com/30362954/32884832-ec5510e8-cabb-11e7-9f20-386ceadeb08e.png)
In my eyes, something like the screenshot attached would be the perfect solution for solution context. With an additional comobox-column you could immediately see which dependency behavior is selected for the individual project and you could edit it in sol

[2017-11-16 10:54] gep13 commented on #6144
@emgarten did this fix go into 4.4.1?  We have just had a report that this is still happening, as a result of using the latest download URL.

[2017-11-16 11:07] gep13 commented on #6144
@emgarten I have just verified that the reported regression has indeed been fixed.  Working with the person who reported still having an issue to figure out what is going on.

[2017-11-16 11:54] ohadschn commented on #6188
@emgarten thank you, but `ResolverGather` looks like too much code to copy/paste... any way to use it publicly? I guess I could also invoke the private ctor/methods using reflection...

I would rather avoid a full restore as it is too heavyweight for my needs.

[2017-11-16 12:16] loudenvier commented on #3131
@AgustinPradoDamez  my problem was that I needed the latest versions of HttpClient and FcmSharp. I've downloaded VS2017 Community, used nuget inside it, then opened the solution in VS2012. This is ridiculous, but the "nuget" guys don't seem to care :-)

[2017-11-16 14:35] georgecheyne opened #6191 "Downloading Nuget.exe from dist.nuget.org blocked"
Hi,

I'm not certain if this is the right issue tracker maybe it should be in the one for the website?

Anyway the url:

https://dist.nuget.org/win-x86-commandline/latest/nuget.exe

to download nuget.exe is being blocked in my company.  Apparently dist.nuget.org has been marked as suspicious as per this site:

https://sitereview.bluecoat.com/sitereview.jsp#/?search=https%3A%2F%2Fdist.nuget.org

Th

[2017-11-16 15:33] sayfulloev commented on #3767
~Having this with VS 2017 15.4.3~ Update to VS 15.4.4 which has the fix
https://www.visualstudio.com/en-us/news/releasenotes/vs2017-relnotes https://developercommunity.visualstudio.com/content/problem/128974/error-occured-while-restoring-nuget-packages-1.html

[2017-11-16 16:18] ladeak commented on #4142
@jnm2
Your suggestion works perfectly in VS 2017, but when I deploy to VSTS, it does not seem to have any effects.
`<AllowedOutputExtensionsInPackageBuildOutputFolder>$(AllowedOutputExtensionsInPackageBuildOutputFolder);.pdb</AllowedOutputExtensionsInPackageBuildOutputFolder>`

Do you know what the reason could be for this?

[2017-11-16 16:52] jnm2 commented on #4142
@ladeak I don't know, sorry. To diagnose you'd have to get the VSTS deploy task to pass CLI arguments to MSBuild which make it give you back a log file. See http://msbuildlog.com/.

[2017-11-16 16:53] bording commented on #4142
@ladeak `AllowedOutputExtensionsInPackageBuildOutputFolder` requires VS 2017 15.4 / .NET Core 2.0.2 SDK to work. Perhaps VSTS hasn't updated yet?

[2017-11-16 17:40] emgarten commented on #6144
@gep13 keep me posted if you find any other problems, thanks!

[2017-11-16 17:48] jainaashish commented on #6111
@Dirnei @mdhom this was indeed a regression caused in 15.4 release but it has been fixed in 15.5 and will be available soon.

[2017-11-16 18:46] nkolev92 commented on #6191
@joelverhagen Any ideas?

[2017-11-16 18:49] nkolev92 commented on #6191
Issue moved to [NuGet/NuGetGallery #5018](https://github.com/NuGet/NuGetGallery/issues/5018) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-16 18:49] #6191 closed, assigned to nobody

[2017-11-16 19:17] emgarten commented on #6188
There isn't a lightweight public way to use this. What is the scenario you are trying to achieve?

[2017-11-16 20:02] mavasani opened #6192 "VS deadlock during NuGet background restore after installing NuGet package to solution"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 4:5:0:3

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): 15.5.0 Preview 3.0 (27031.1.d15rel)

OS version: win10

## Detailed repro steps so we can see the same problem
No repro steps, dump shared at `<%my_share%>\Dumps\NugetRestoreHang\

[2017-11-16 21:25] whitneyland commented on #3324
_>NuGet developers: wouldn't simply upgrading the NuGet supportedRuntime to .NET 4.6.2 solve it?_
As far as I could tell it does not, did try this along with changing the registry setting.

Does anyone know how far back the 260 char path limit goes? I think it may actually have been in the code when Paul Allen himself mostly rewrote MS-DOS, to bring out version 2.0, thirty-five years ago.

Last co

[2017-11-16 21:50] emgarten commented on #3324
@whitneyland I've been meaning to try this, I'm really curious as to what errors you saw after making the changes, would you share what you found?

It has also been pointed before that restore is just the first step. If nuget.exe successfully writes out long paths these tools also need to support long paths in order to successfully use the packages:
* csc.exe
* MSBuild
* Visual Studio

[2017-11-16 22:55] phil-hodgson commented on #5265
Restoring NuGet packages for .NET Core projects is supported by VSTS build tasks. See https://docs.microsoft.com/en-us/vsts/build-release/tasks/build/dotnet-core for details.

[2017-11-16 23:13] jeffkl commented on #6186
I've created a repo that explains the workaround:

https://github.com/jeffkl/GPropsTest/blob/master/ClassLibrary1.csproj#L3-L15

[2017-11-16 23:43] ohadschn commented on #6188
I need to submit all my dependencies for open source licensing review (OSS MSFT). I just need the package IDs and versions, which is why a full restore is overkill. Like I said my code above works so I'm not blocked so far.

[2017-11-17 00:02] rrelyea commented on #6122
Design discussion with @Emgarten, @andygerlicher --
Need to research:
Do we do an item result at the project or solution level?
Or do we do a property result at each project level?

ideally...nuget could tell that an evaluation cannot be reused only iff the .g.props and .g.targets were not written.

[2017-11-17 00:12] jonwchu commented on #5770
Just submitted a pull request: https://github.com/NuGet/Media/pull/2

[2017-11-17 02:14] whitneyland commented on #3324
@emgarten thanks for your reply.  The error message and repro steps in my case are here in [#6034](https://github.com/NuGet/Home/issues/6034).

I assumed the runtime version configuration for nuget as used in VS2017 was controlled by the VS setup process, and that it was enough to have the latest framework/nuget/VS installed.

However, if changing it manually could make a difference I'm glad to tr

[2017-11-17 02:32] livarcocc opened #6193 "Feature Request: CLI feature update NuGet packages on solution, project, and/or folder level."
_From @Kritner on October 23, 2017 18:11_

It could potentially be beneficial to have a CLI command that would allow for the updating of NuGet packages from the solution level.

As we add more projects to our solutions, the projects created more recently often (as expected) have more up to date versions of packages.  In our case, we are creating several solutions, some of which depend on some libr

[2017-11-17 03:48] felixfbecker commented on #4083
@rrelyea did David Wilson ever respond? I am struggling with how to use a NuGet package inside a PowerShell Gallery module as packages.config and project.json are deprecated, but psproj doesn't work with NuGet

[2017-11-17 04:13] emgarten commented on #6186
@jeffkl is there something NuGet should do to improve this?

[2017-11-17 05:34] #5388 closed, assigned to nobody

[2017-11-17 08:09] ladeak commented on #4142
It say .Net Core 2.* (preview), log says Version 2.1.8 for dotnet pack.
The build step uses VS 2017 with MSBuild version 1.125.0. It seems to generate the pdb, just not included to the package.

[2017-11-17 08:52] greenmooseSE opened #6194 "Package Manager Console (PMC): Sorting in "default project" combobox changes after selection"
## Details about Problem
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): **Package Manager Console**
NuGet version (x.x.x.xxx): **Manager Console Host Version 4.4.1.4633**
VS version (if appropriate): **2017**

OS version (i.e. win10 v1607 (14393.321)): **Win10 1703**

Worked before? If so, with which NuGet version: **Not sure**

## Detailed repro steps so we can see

[2017-11-17 09:15] bartdkmediahuis commented on #3251
* bump .. Still not fixed in mono.
Any idea if there is a decent workaround ?

[2017-11-17 13:50] Mpdreamz commented on #5619
Even a `dotnet nuget locals -c <PACKAGEID> <VERSION>` would be somewhat of a step in allowing local packages to be used in tests without worrying whether nuget is taking the version that i point it to or one from the `global-packages` **cache**

[2017-11-17 15:39] bording commented on #4142
That seems to be pretty good indication that it's not using the version of the Pack targets included with the 2.0.2 SDK then.

If you want to get it working without waiting for the 2.0.2 SDK to be available, you can use this workaround instead:
[code]

[2017-11-17 16:01] jeffkl commented on #6186
@emgarten yes ideally the only property in play here would be `MSBuildProjectExtensionsPath`.  [The intent](https://github.com/Microsoft/msbuild/issues/784#issuecomment-241880891) was to be the one property that all package managers would use as a folder to generate stuff to that extends a project.  It defaults to `BaseIntermediateOutputPath` so in a perfect world:

1. `NuGet.targets` use `MSBuild

[2017-11-17 17:07] emgarten commented on #6186
Do you mean NuGet.targets use BaseIntermediateOutputPath?

From the NuGet side we also need to change project.assets.json to be project.csproj.assets.json, and make it easier to set that path. We could look at changing this as part of that.

At this point is there a reason to use BaseIntermediateOutputPath over IntermediateOutputPath? I think there was a timing issue when the SDK being a package t

[2017-11-17 17:38] jeffkl commented on #6186
Sorry I'm confusing this even more because I meant to say **MSBuildProjectExtensionsPath** not MSBuildExtensionsPath.

I don't think `IntermediateOutputPath` is used anywhere, only `BaseIntermediateOutputPath`.  Correct me if I'm wrong.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L534

I think NuGet should only use `MSBuildProjectExtensionsPath`.

[2017-11-17 18:32] #6165 closed, assigned to nobody

[2017-11-17 19:00] scottbommarito opened #6195 "Unable to load service index for api.nuget.org/v3/index.json"
@biourja-ajain commented on [Mon Nov 13 2017](https://github.com/NuGet/NuGetGallery/issues/4989)

I am unable to open the page where (manage nuget pachages). its just showing error occured,
I need to browse some packages and install it in my system
actually the error occured when i mistakenly deleted the nuget.config file from users/ appdata/local/nuget

can you please help me in this- i am using

[2017-11-17 19:39] jainaashish commented on #5954
Added NuGet samples to demonstrate how to author and consume packages with `PackageReference` which transform xml files using msbuild targets.

PR# https://github.com/NuGet/Samples/pull/15

[2017-11-17 19:53] nkolev92 commented on #6194
@GreenMooseWork Thanks for reporting this issue.

We are aware of this particular issue and we already have a [fix](https://github.com/NuGet/NuGet.Client/pull/1794) for the 15.5 release.
If you are using the 15.5 preview channel, it already is in the latest preview, so feel free to check it out.

[2017-11-17 19:53] #6194 closed, assigned to nobody

[2017-11-17 20:01] nkolev92 commented on #6193
Thanks reporting this issue @Kritner.

This is a dup of https://github.com/NuGet/Home/issues/4103.

Please follow that issue for further updates.

[2017-11-17 20:01] #6193 closed, assigned to nobody

[2017-11-17 20:09] nkolev92 commented on #6195
We haven't changed anything in this area.
@biourja-ajain
Which exact version of VS are you using?
Does it happen with older versions of Visual Studio?
Can you reproduce it with other sources?

[2017-11-17 20:34] rrelyea commented on #6165
@nkolev92 - thanks for making this happen.
@tmat - appreciate the issue and the pr. thx.

[2017-11-17 21:11] #5770 closed, assigned to nobody

[2017-11-17 22:26] mungojam commented on #6098
I've seen similar behaviour where I think I had to delete .vs folder or obj and maybe restart VS for things to catch up

[2017-11-17 22:30] twenzel commented on #4048
Try to change the path separator to `\`.

[2017-11-17 22:44] mungojam commented on #6091
Feels related: [this discussion](https://github.com/NuGet/Home/issues/5877#issuecomment-336997149)

In summary, having a way to include compile in private assets as default unless project/package needs to expose it, i.e.: `PrivateAssets="compile;contentfiles;analyzers;build"` (I checked what the implicit default is and it seems to be contentfiles;analyzers;build).

[2017-11-17 22:46] SeanFeldman opened #6196 "Installing a non-prerelease package using pre-release dependencies fails installation when packages.config is used, yet installs when PackageReference is used."
## Details about Problem

A non-prerelease package using pre-release dependencies fails installation when `packages.config` is used, yet installs when `PackageReference` is used.

NuGet product used
- [x] VS UI (VS 2017 15.4.4)
- [x] Package Manager Console (Package Manager Console Host Version 4.4.1.4633)
- [x] LinqPad

## Detailed repro steps so we can see the same problem

1. Create a new `Cons

[2017-11-17 22:59] nkolev92 commented on #6091
@mungojam

I think #4125 covers what you're articulating.

We are considering bringing developmentDependency back, which should allow the author of PackageA to affect the default flowing behavior for the dependencies of PackageA.

PrivateAssets is basically a transitive flow control for the consumer of the package, while DevelopmentDependency would be a transitive flow control for the author the p

[2017-11-17 23:10] mungojam commented on #6091
@nkolev92 It's similar to development dependency but more general. If I am using a package like Newtonsoft.Json in my package, I don't want it to be exported to consumers of my package unless I explicitly need to (or I'm creating a meta-package). It's more like a runtimeDependency rather than an apiDependency.

I wouldn't want Newtonsoft.Json to be part of the contract of my package because some d

[2017-11-17 23:22] mungojam commented on #6091
Just re-read the second bit of your comment. Perhaps I am mistaken, I haven't ever used DevelopmentDependency, but have assumed it is only for stopping dependencies going anywhere, i.e. PrivateAssets="All" which would be too extreme in my case as they are runtime dependencies that need to go up the chain and into bin folder.

[2017-11-18 00:35] emgarten commented on #6196
This looks like a duplicate of https://github.com/NuGet/Home/issues/2944

At the time the issue above was filed nuget.exe pack would fail saying that stable packages must have stable dependencies. Since then the rule has been relaxed, but it seems like packages.config still has issues with it.

[2017-11-18 09:21] ismailsameer12 commented on #1707
Hi All,
i have tried to install  system.net.mail from nuget package but could not be installed in my vs2015.
whats problem?

[2017-11-18 16:45] ilexp commented on #6161
Okay, so I have worked on a test project for a bit and did some research in David Glicks [implementation](https://github.com/Wyamio/Wyam/tree/5a9f5d5e0bfbf48aa3984046864be11982e5eb92/src/core/Wyam.Configuration/NuGet) beyond the tutorial post, but there's still some unclear points.

While I do have settings like package sources, the project I'm working on has its own way to store those URLs, so I

[2017-11-18 18:15] SeanFeldman commented on #6196
NuGet's 1-Prerelease` vs `-IncludePrerelease` is confusing. Tools like LinqPad uses `-PreRelease` rather than `-IncludePrerelease` for example.

Also, VS default settings are not helping.
![image](https://user-images.githubusercontent.com/1309622/32983434-bb84f5ea-cc51-11e7-8003-5a7b5b2bbfa5.png)

Would the checkbox be ticked, it would at least allow format to use.

[2017-11-18 21:55] jzeferino commented on #4048
Thanks for the suggestion. It was fixed later with the new mono version.

[2017-11-18 21:55] #4048 closed, assigned to rohit21agrawal

[2017-11-19 02:24] steve-todorov commented on #3689
@zhili1208 @dtivel I'm experiencing the same issue when trying to build the [HelloWorld](https://github.com/dotnet/core/tree/master/samples/helloworld) using [microsoft/dotnet:1.1.5-sdk](https://hub.docker.com/r/microsoft/dotnet/) which is running under Debian and has no mono installed. Are there any plans to fix this issue for linux?

[2017-11-19 11:22] enengee commented on #2880
@nkuhan Hi, could you elaborate the command? What is the value of `ip address`  and `port number`? I encountered this problem on my Mac too.

[2017-11-20 05:28] wli3 opened #6197 "Filter /tools on only TFM and RID, so the settings XML can be put in /tools folder"
## Additional requirement:

To support filter with sub folder
Given following folder structure,
[code]
Both
[code]
Should be in asset.json-target-tools session.

[2017-11-20 05:29] wli3 commented on #6197
CLI ask for tools

[2017-11-20 05:30] wli3 opened #6198 "Block package reference to tool package type when there is no property to indicate the project is a temporary project to restore the package"
Tools CLI ask

tool package can reference normal package 
tool package can reference tool package
 normal package **cannot** reference tool package

[code]

[2017-11-20 05:30] wli3 opened #6199 "Allow nuget.config probing start path to be able to set in project file"
Tools CLI ask

[2017-11-20 05:32] wli3 opened #6200 "Tools CLI ask summary issue"
[Spec](https://github.com/NuGet/Home/wiki/Global-Tools---NuGet-Implementation)

- [x] Filter /tools on only TFM and RID, so the settings XML can be put in /tools folder #6197
- [x] Block package reference to tool package type when there is no property to indicate the project is a temporary project to restore the package #6198
- [x] Allow nuget.config probing start path to be able to set in project

[2017-11-20 06:44] emgarten commented on #6199
@wli3 as a workaround until this is added you might be able to use `RestoreSolutionDirectory`

Relevant code is here:
* https://github.com/NuGet/NuGet.Client/blob/572962f1b1ee890533e5a75163264bd021426dc7/src/NuGet.Core/NuGet.Build.Tasks/GetRestoreSettingsTask.cs#L115
* https://github.com/NuGet/NuGet.Client/blob/572962f1b1ee890533e5a75163264bd021426dc7/src/NuGet.Core/NuGet.Build.Tasks/RestoreSettin

[2017-11-20 06:47] emgarten commented on #6197
@wli3 can you can some extra template paths to get this started? Will this need support for the `runtimes/{rid}/native/` equivalent, or just `runtimes/{rid}/lib/{tfm}`

[2017-11-20 07:28] ali-hk opened #6201 "NuGet chooses incorrect references for System.Reflection.TypeExtensions.dll for .NET Core for UWP 5.2.2 if Windows SDK Target version is 10.0.16299"
NuGet chooses incorrect references for System.Reflection.TypeExtensions.dll for .NET Core for UWP 5.2.2 if Windows SDK Target version is 10.0.16299 causing types like System.Reflection.BindingFlags to fail to resolve and consequently build failures.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe via MSBuild called from Visual Stu

[2017-11-20 08:45] Frank591 opened #6202 "nuget pack don't works when Net 4.6.1 project has project reference to netstandard project"
## Details about Problem
NuGet product used:NuGet.exe
NuGet version : 4.4.1.4656
VS version (if appropriate): VS 2017 (15.4.4)
OS version: win 10 (10.0 Build 15063)

## Detailed repro steps so we can see the same problem

I have 2 libraries:

    first library(`First.csproj`) - netstandard1.3
    second library(`Second.csproj`) - .Net framework 4.6.1

`Second.csproj` has project reference to` Firs

[2017-11-20 11:24] pascalberger opened #6203 "Provide verson 4.4.1 of nuget.commandline package"
Latest published version of the [nuget.commandline package](https://www.nuget.org/packages/NuGet.CommandLine/) on nuget.org is 4.4.1-svc.

What does the `svc` stand for here?
Would it be possible to also release 4.4.1 final as it is now the latest recommended download?

[2017-11-20 11:41] Indomitable commented on #1806
Hi, I see that this fix is only done for the Install command but in the Update command it is still hard coded to use Highest version.
https://github.com/NuGet/Home/issues/2746
I think we should reopen this issue.

[2017-11-20 12:40] tthiery commented on #4628
@rrelyea Some context from my side helping for triage:

- When analyzing Cordova Apps with its 1000s of NPM (sub)dependencies, standardized SPDX license identifiers inside of the NPM packages helped us to release software using whitelisting/blacklisting. Consider cases like "(MIT OR GPL-2.0)". Without this field, we would need literally weeks to analyze them.
- License-less and unclear licensed (N

[2017-11-20 13:38] Pzixel commented on #737
My workaround currently is delete package folder from `packages` and rebuild solution. In this case package gets updated correctly. But bug still be annoying.

[2017-11-20 14:36] andrewducker commented on #6166
This is also affecting us - we have solutions dating from VS2002 which were created with the Solution in its own folder in parallell to the projects rather than at the top of a hierarchy.

As a workaround I'm having to iterate over the projects and call the following:
`nuget update .\Myproject\Myproject.csproj -repositorypath .\Solution\packages\`
This works fine - but obviously it would be better

[2017-11-20 15:16] dagostinelli commented on #3320
I'm having this too.  It's wasted 3 hours this morning for me.  And a total of 3 days across the past couple of months.

[2017-11-20 15:20] emysa341 commented on #3251
I am getting the same error as discussed in this thread. I tested this on terminal.
`Pushing MyNuget.nupkg to 'http://Uri:port/nuget'...
  PUT http://Uri:port/nuget/
An error was encountered when fetching 'PUThttp://Uri:port/nuget'. The request will now be retried.
Cannot access a disposed object.
Object name: 'System.Net.Sockets.NetworkStream'.
  PUT http://Uri:port/nuget/
  NotAcceptable http://

[2017-11-20 15:31] petersuwara opened #6204 "Nuget Support does not work with Visual Studio for Mac"
## Details about Problem

Piotrs-MacBook-Pro:ContosoUniversity piotrsuwara$ dotnet add package Microsoft.VisualStudio.Web.CodeGeneration
  Writing /var/folders/c9/z9kxysr57hb5m7npd1lgtm400000gn/T/tmpfn7AP0.tmp
info : Adding PackageReference for package 'Microsoft.VisualStudio.Web.CodeGeneration' into project '/Users/piotrsuwara/Development/ContosoUniversity/ContosoUniversity/ContosoUniversity.cspr

[2017-11-20 16:19] petersuwara commented on #6204
If I VPN to a USA IP Address I can access api.nuget.org.

Go figure...

[2017-11-20 16:19] petersuwara commented on #6204
How on earth are you managing the hosting if it only runs via US IP ? What about the rest of the world ?

[2017-11-20 17:04] erikaspl commented on #6140
I get this same issue if my local feed is not successful restoring package:

`msbuild.exe" /t:restore MySolution.sln /p:Configuration=Release /p:RestoreConfigFile="../Nuget.config"`

[code]

And then it is not trying to restore from the second feed.

[2017-11-20 18:31] wli3 commented on #6197
Sorry, could you add more detail of this question? Do you mean if I can get it started without blocking? Today, as in https://github.com/dotnet/cli/pull/8035 without nuget filter,  I am downloading everything

[2017-11-20 18:40] wli3 commented on #6197
Yes, we do need support for `native`. A folder named `native` is the same convention as in /lib folder right?

In the end, we need a place to store native tools, and NuGet can filter by TFM(including native) and RID, however, we hope the folder structure to be close to existing NuGet conversion, or what NuGet think is the best.

[2017-11-20 19:01] emgarten commented on #1806
@Indomitable open a new issue and PR if you would like. At this point the recommended way to run nuget operations from the command line is to move to PackageReference.

The only complete way to update packages for a packages.config project is through Visual Studio. nuget.exe update is very limited in what it can do. Install is a bit different in that it doesn't install to the project at all.

[2017-11-20 19:05] emgarten commented on #6197
Native is similar, but there is no TFM.

[2017-11-20 19:07] rido-min opened #6205 "Package Signature Technical Details"
Status: In Progress

Spec for this feature will be available here: https://github.com/NuGet/Home/wiki/Package-Signatures-Technical-Details

This spec will define the signature format used by NuGet to satisfy the next requirements:

- Compatible with existing Clients.
- Allows verification of tampered packages.
- Cross platform support.

Discussion should happen on this issue.

[2017-11-20 19:23] emgarten opened #6206 "Targets not imported from dependency of a package reference"
_From @bhugot on November 17, 2017 23:11_

Hello,

If you create a package that, as a dependency, contains a target, the targets are not used by the project by referencing it.
[code]
If we install NugetB on Project, the targets are applied.

How to solve this problem because I do not want to apply the targets of the dependency.

Thanks

_Copied from original issue: dotnet/project-system#2973_

[2017-11-20 19:23] emgarten commented on #6206
_From @Pilchie on November 20, 2017 16:24_

@rrelyea @emgarten - this sounds like it should be moved to nuget/Home?

[2017-11-20 19:23] nkolev92 commented on #6203
@pascalberger
I will upload that version today, didn't want to do it on Friday, just in case we run into issues with people have nuget update -self in the build scripts/CIs

[2017-11-20 19:23] #6203 closed, assigned to nobody

[2017-11-20 19:24] emgarten commented on #6206
@bhugot can you share the reference in NuGetA's nuspec to NuGetB, does it have `exclude=build`?

[2017-11-20 20:08] emgarten commented on #6204
This issue was moved to NuGet/NuGetGallery#5041

[2017-11-20 20:08] #6204 closed, assigned to nobody

[2017-11-20 20:09] emgarten commented on #6201
This doesn't look like a NuGet issue. @diverdan92 where should this go?

[2017-11-20 22:03] PatoBeltran commented on #6202
does the bin/Release directory exists? Have you built the projects with the release definition?

[2017-11-20 22:55] nkolev92 commented on #6161
That code is a bit of a mess because this is written with a UI context in mind. So a bunch of those objects are long-lived so it'll be a bit confusing as to where they come from.
It also install for 2 different project styles which get the sources differently.

The Settings represent all the settings that NuGet loaded at solution load and all the changes that the user made while in that session. (

[2017-11-20 23:06] ali-hk commented on #6201
@emgarten are you sure? it appears to be the mapping logic in NuGet that causes the netstandard1.5 reference to be selected instead of netstandard1.3.

[2017-11-20 23:49] diverdan92 commented on #6201
@ali-hk - I'm following up with some folks to better understand the failure, but just to explain why you're seeing slightly different behavior, Windows 10 implements .NET Standard 2.0 in the 10.0.16299.0 build. That means, when you have an application with a TargetPlatformMinVersion of 10.0.16299.0, the NuGet package maps to .NET Standard 2.0 support. In addition, the .NET Core NuGet package versi

[2017-11-21 00:14] rohit21agrawal commented on #6160
what version of dotnet are you using? we have fixed related issues in the newer releases.

[2017-11-21 00:16] rohit21agrawal commented on #6138
can you do a msbuild on your project (using the version shipped with visual studio 15.4 at least) and pass the /bl and /v:diag  flag and attach the .binlog file that is generated?

[2017-11-21 00:36] rohit21agrawal commented on #6138
@youngerier it looks like the content is coming in from the librdkakfa.redist package which contains the librdkakfa.redist.props file.

Could you try uninstalling the package, and then reinstalling and  adding developmentDependency=true in the dependency in your packages.config file and trying the scenario again?

[2017-11-21 00:42] skofman1 opened #6207 "Is there any way to transform Views/_ViewImports.cshtml on instaling nuget package for asp.net project"
@WeihanLi commented on [Wed Nov 15 2017](https://github.com/NuGet/NuGetGallery/issues/5014)

Is there any way to transform Views/_ViewImports.cshtml on instaling nuget package for asp.net project?

I wanna transform the file like transform web.config or app.config, but I don't know how.

[2017-11-21 00:50] sheltonc commented on #6160
microsoft/dotnet:2.0.0-sdk

[2017-11-21 00:50] nkolev92 commented on #6189
Self-assigning as this should be resolved by my fix for VSTS bug 521955.

Even though they're dups, they manifest in totally different ways, so keeping it open for better visibility.

[2017-11-21 00:55] PatoBeltran commented on #6202
@Frank591 this seems to be a known issue dupe of https://github.com/NuGet/Home/issues/4054. Please try to use dotnet exe and see if this fixes your problem. Closing this issue in favor of #4054.

[2017-11-21 00:55] #6202 closed, assigned to nobody

[2017-11-21 01:00] rohit21agrawal commented on #6160
@sheltonc that doesn't tell me anything. please paste the output of ``` dotnet --version ``` here.

Or it would be even better if you could scroll down the page on https://github.com/dotnet/cli/tree/release/15.5 and download the appropriate cli+sdk for your OS, and give it a shot as those are the latest versions

[2017-11-21 01:02] #6113 closed, assigned to rohit21agrawal, anangaur

[2017-11-21 01:02] rohit21agrawal commented on #6113
@anangaur can you get the new behavior documented?

[2017-11-21 01:08] anangaur commented on #6113
@rohit21agrawal Thanks. Lets sync up on what changes we want to document. We need to provide information on how to publish symbols if required.

[2017-11-21 01:11] sheltonc commented on #6160
The version is 2.0.3

[2017-11-21 02:04] #5898 closed, assigned to nobody

[2017-11-21 04:15] GanesanRengasamy opened #6208 "Any restriction in Package count and size while uploading NuGet in nuget.org?"
Hi All,

I have generated my custom NuGet packages and I need to upload my custom NuGet packages in the [nuget.org](https://www.nuget.org) server to install/restore my NuGet packages by using the nuget.org online NuGet feed.

My question is,
Is there any restriction on package size?
Is there any restriction on packages count to upload under my nuget.org account?
How to get staging server source to

[2017-11-21 07:04] Frank591 commented on #6202
`dotnet pack` don't work for NET 4.6.1 project. It fails with error
`E:\blabla\Second.csproj : error MSB4057: The target "pack" does not exist in the project.`

[2017-11-21 07:25] Frank591 commented on #4054
Also got this error.
NuGet Version: 4.4.1.4656
First library(`First.csproj`) - netstandard1.3
Second library(`Second.csproj`) - .Net framework 4.6.1
`Second.csproj` has project reference on `First.csproj`.
`nuget pack Second.csproj -IncludeReferencedProjects` fails with error
[code]
Ugly workaround:
1) manually add dependency on package of First.csproj into .nuspec  file of  `Second.csproj`
[code]

[2017-11-21 08:32] emysa341 commented on #3251
This is weired, For me the order of the command matters. I tried with
- nuget push package source apikey (Working) (only works in mono version 5.2.0.125)
- nuget push package apikey source (406 not acceptable error). This command format is mentioned in official docs.

[2017-11-21 10:34] pantonis commented on #4860
Can confirm the same issue using VS 2017 15.4.0

[2017-11-21 10:39] pantonis commented on #4860
It stopped working after I installed .NET 4.7.1 on my nuget server.

[2017-11-21 11:01] bhugot commented on #6206
Hello, i found the problem I am using the nuget explorer and didn't see some hidden property in generated nuspec.
It's sad that we can't exclude a targets from the project A build but include it for the project who use nuget of project A. need to use nuspec to achieve this.

[2017-11-21 16:35] natemcmaster commented on #5321
I see this is in the 4.4 milestone. I'm using NuGet 4.5 in VS 15.5 preview, but this still doesn't appear to work. Can anyone provide a status update on this one?

cc @davidfowl

[2017-11-21 17:48] livarcocc opened #6209 "dotnet pack doesn't choose the right version for ProjectReferences"
_From @MangelMaxime on November 21, 2017 13:0_

Hello, I have a problem with `dotnet pack` command and `ProjectReferences` resolve version. It was working on dotnet 2.0.0

cc @forki

## Steps to reproduce

Repo used: https://github.com/MangelMaxime/Fulma

* git clone git@github.com:MangelMaxime/Fulma.git
* git checkout repro_nuspec_bug
*  .\build.cmd
* cd src
* cd Fulma.Extensions
* dotnet pack -c

[2017-11-21 17:54] nkolev92 commented on #5321
It's not done. I will change the milestone to something appropriate.
We haven't done the design work on this yet. Currently it's an advanced scenario not used by many as we havent really advertised it.

We have a lot of debt in this area with hierarchical settings.
So in my opinion we would need that resolved before continuing with this.
Bottom line, the user needs to know where these settings are

[2017-11-21 17:55] nwoolls commented on #4668
In our case this ended up being related to config in IIS. The site hosting [NuGet.Server](http://nugetserver.net/) was configured with both Basic Auth _and_ Windows Auth enabled. This worked fine when accessing the NuGet.Server homepage and feeds via a web browser, but causes the `dotnet` CLI to fail restoring packages:

[code]

Disabling Windows Auth for the NuGet.Server website allows the `dotne

[2017-11-21 18:13] mishra14 commented on #6178
checked into the feature branch as part of https://github.com/NuGet/NuGet.Client/commit/14549f30bddf52f5c53bdeb2f5faa15f3f0ddfc5

[2017-11-21 18:13] #6178 closed, assigned to mishra14

[2017-11-21 18:14] mishra14 commented on #6071
Checked into the feature branch as part of https://github.com/NuGet/NuGet.Client/commit/50214e48e264e386eeb4a227b0de125f0550c187

[2017-11-21 18:14] #6071 closed, assigned to mishra14

[2017-11-21 18:14] mishra14 commented on #6176
Checked in as part of https://github.com/NuGet/NuGet.Client/commit/14549f30bddf52f5c53bdeb2f5faa15f3f0ddfc5

[2017-11-21 18:14] mishra14 commented on #6176
Keeping this open to track adding tests.

[2017-11-21 19:21] emgarten commented on #6206
You can do this by setting `PrivateAssets=None` on the project reference. The nuspec captures the state of the project. In your scenario if all packages were projects this would not flow either.

[2017-11-21 19:41] emgarten commented on #6209
Passing `/p:Version=0.1.0-beta-007` applies the property globally to MSBuild and all projects read. dotnet pack is calling restore and build implicitly, and during those commands MSBuild is reporting the version of Fulma as `0.1.0-beta-007`, the global value.

This is a common scenario that we are looking to improve for pack, it is confusing that these properties impact dependency projects in scen

[2017-11-21 19:42] rohit21agrawal commented on #6160
@sheltonc i just tried the latest dotnet sdk for linux (downloaded from https://dotnetcli.blob.core.windows.net/dotnet/Sdk/release/15.5/dotnet-sdk-latest-linux-x64.tar.gz version 2.1.1-preview-007216 ) and ran it on your sample on an ubuntu 16.04 machine, and it works as expected.

[2017-11-21 19:49] MangelMaxime commented on #6209
@emgarten Hum, I am not sure to understand if I need to had this `PropertyGroup` to all my fsproj. And should I keep using calling `dotnet pack` with `/p:Version=0.1.0-beta-007` ?

Also what confused me is that it was working before with dotnet 2.0.0 for example.

[2017-11-21 19:51] nkolev92 commented on #5321
Setting the same priority as the prerequisite issue https://github.com/NuGet/Home/issues/1820

[2017-11-21 19:51] nkolev92 commented on #1820
https://github.com/NuGet/Home/issues/5321 needs to be considered when this is being done as well.

[2017-11-21 19:54] emgarten commented on #6209
No, this property group would be specific to a single project. Think hardcoding the right value into that specific fsproj and leaving the others unchanged. You want a property that only overrides a single fsproj's version property.

This should be all basic MSBuild that is setting and reading the property. Possibly if something else in your build changed how restore is called to make it skip the r

[2017-11-21 20:29] #6189 closed, assigned to nkolev92

[2017-11-21 21:04] PatoBeltran commented on #6208
@joelverhagen as you have more context with nuget server. Can you please answer this questions?

[2017-11-21 21:47] joelverhagen commented on #6208
Hey @GanesanRengasamy. Just as an FYI, the [NuGet/Home](https://github.com/NuGet/Home/issues) GitHub repository is more targeted to NuGet client issues. [NuGet/NuGetGallery](https://github.com/NuGet/NuGetGallery/issues) is the home for server side issues.

Yes, the limit is 250 MB. However, it's extremely rare for packages to be that large. In fact, less than 3% of packages are larger than 10 MB (

[2017-11-21 22:10] wli3 opened #6210 "`NuGet.CommandLine.XPlat package add` support `--config`"
CLI tools ask (optional).

Without this CLI are coping the config file to the temporary project root. It would be real nice to have this opinion so only path to the nuget config file is needed.

[2017-11-21 22:11] wli3 commented on #6200
Optional
- [ ] `NuGet.CommandLine.XPlat package add` support `--config`  #6210

[2017-11-21 22:15] rohit21agrawal commented on #5024
@paulinfrancis please paste the foopackage.nuspec file and the nuspec file that was generated within the package.

[2017-11-21 23:43] rrelyea commented on #6166
As @nkolev92 mentioned, our team is unlikely to get to this. However, marking up for grabs.

[2017-11-21 23:46] rrelyea commented on #6180
@anangaur - not sure if we can or should engage on this?

[2017-11-21 23:54] rrelyea commented on #6192
There is an internal mail thread going on about this one with @mavasani, @jainaashish, @nkolev92

[2017-11-21 23:55] rrelyea commented on #4103
Notice that #6193 added the additional requests to support cross-project updates, etc...

[2017-11-21 23:57] rrelyea commented on #6194
dupe bug scraped from the "fix" PR link above is:
* 513587, feedback here https://developercommunity.visualstudio.com/content/problem/134981/package-manager-conole-default-project-dropdown-no.html

[2017-11-21 23:58] rrelyea commented on #6195
@biourja-ajain -- is this still urgent? If so, please give us more details.

[2017-11-22 00:01] rrelyea commented on #6196
@emgarten - let's discuss offline about the relaxing on pack. I remember the debate, but want to discuss timing, etc...

[2017-11-22 00:05] mishra14 opened #6211 "Resolve open questions about SignedPackageArchive Verification"
Open questions -

For all NuGet packages that will be signed/verified.
+ Is it safe to asume we don't have an encryption header?
+ Is it safe to asume we don't have a data descriptor?
+ Is it safe to asume we don't have Archive Decryption Header and Archive Extra data record?

[2017-11-22 00:06] mishra14 opened #6212 "Add support for SignedPackageArchive verification if the signature is not the last entry in the zip"

[2017-11-22 02:40] liushuanggang opened #6213 "flatten for content files not working"
Create a nuspec like the following:

[code]

It packs properly, but the argument `flatten="true"` did not work as expected after install the packed packaged to the project.

According to the [description of flatten](https://docs.microsoft.com/en-us/nuget/schema/nuspec#including-content-files),

And [NuGet ContentFiles Demystified](https://blog.nuget.org/20160126/nuget-contentFiles-demystified.html

[2017-11-22 03:04] paulbatum commented on #5740
I just want to capture that this functionality would be useful for us (azure functions team). Our dependency chain pulls in `Microsoft.AspNet.WebApi.Client` via `Microsoft.AspNetCore.Mvc.WebApiCompatShim` and we'd like to suppress this particular warning without adding a global suppression or an explicit reference. Right now we don't have a good workaround.

[2017-11-22 04:53] albahari commented on #6196
Inside LINQPad, I call NuGet via the API. When the user ticks the prerelease checkbox, I instantiate ResolutionContext with includePrerelease:true. Is this correct?

[2017-11-22 05:05] cclauson opened #6214 "Build instructions for NuGet.Client don't work"
The build instructions for NuGet.Client don't work for me, and fail with the following errors:

RestoreCommand\ContentFiles\FileProviderGlobbingDirectory.cs(6,17): error CS0234: The type or namespace name 'AspNet' does not exist in the namespace 'Microsoft' (are you missing an assembly reference?) [D:\git\NuGet.Client\src\NuGet.Core\NuGet.Commands\NuGet.Commands.c
sproj]
RestoreCommand\ContentFile

[2017-11-22 06:02] mishra14 commented on #6175
Merged in the feature branch as part of https://github.com/NuGet/NuGet.Client/commit/48a5a9b1cb1fb2b3abe62e39f951d71eb7d0b15f

[2017-11-22 06:02] #6175 closed, assigned to mishra14

[2017-11-22 07:13] anangaur commented on #5740
@paulbatum Lets say we have the following dependencies for a project:
PackageA depends on PackageC
PackageB depends on Package C

Now lets say we have a capability to suppress warning for PackageA and all its transitive dependencies. Should the suppression apply to PackageC which is also being referenced from PackageB as a transitive dependency and there is no `NoWarn` on PackageB?

@mishra14, Do

[2017-11-22 07:47] pombredanne commented on #6180
@anangaur @rrelyea

There is a pending question wrt Nuget that you could chime in: See https://github.com/package-url/purl-spec/pull/1/files#diff-88b99bb28683bd5b7e3a204826ead112R597

Your feedback would be much welcomed and that's the only engagement that might be needed!
Beyond this, there is a very fine crowd of FLOSS folks that has been provided some valuable feedback and it would be great if

[2017-11-22 08:13] dasMulli commented on #6209
Because before 2.0.0, the CLI did not perform an implicit restore. You should get the same behavior by passing `--no-restore` to `dotnet pack`. Since dependency versions are set during restore, they will not be affected (as long as there was any other implicitly restoring command or `dotnet restore` run before without a global version property set).
However, there is an ongoing ask (and probably p

[2017-11-22 08:47] MangelMaxime commented on #6209
I didn't really understand all this change related to `fsproj`. Like I don't know how to set `$(ProjectAVersion)` value for example.

From your answers, I understand that's the problems is coming from `/p:Version` argument as it's a "global version". So I decided to remove it, and instead of updating the version in my fsproj after a successful push. I decided to update them before packaging and pu