[2017-03-16 20:54] jainaashish commented on #4820
It works fine when you retarget TPV, but fails when you also retarget TPMinV and the reason is somehow build restore isn't able to get the new changes so doesn't restore which is why build fails with previous assets file. I'll debug it and see what's the root cause.

But to workaround it, you can run a solution restore explicitly and then do the build. it will work fine.

[2017-03-16 20:58] corliss opened #4829 "Does the current version of Nugetizer create bait and switch assemblies? (Area:NuGetizer)"
The NuGetizer spec at https://github.com/NuGet/Home/wiki/NuGetizer-3000 mentions a "Bait and Switch Wizard" as part of the "Future Features." Is it possible to use the current version of Nugetizer to create bait and switch assemblies? If so, could you please list a set of steps? I could not find usage instructions in the wiki.

[2017-03-16 21:09] zhili1208 commented on #4823
this looks like "Project references also show up as Package references in Solution Explorer" bug(VSTS 377624)
the fix is already in PR: https://github.com/NuGet/NuGet.BuildTasks/pull/33

[2017-03-16 21:22] hubuk opened #4830 "Continuous "Restoring NuGet packages" for non-fixed package version"
## Details about Problem

**NuGet product used:**
Package Manager Host

**NuGet version:**
Name             : Package Manager Host
Version          : 4.0.0.2323
InstanceId       : 8c772c92-46b0-43ed-86c2-3e11d0663fb2
UI               : System.Management.Automation.Internal.Host.InternalHostUserInterface
CurrentCulture   : pl-PL
CurrentUICulture : en-US
PrivateData      : NuGetConsole.Host.PowerShe

[2017-03-16 21:27] automatonic commented on #4821
I can't be certain the above is precisely the same issue that I encountered, but it seems to be similar/related, so I will add my notes:

While working on VSTS builds for Visual Studio 2017 (DotNetCore 1.1.1 sdk/tooling) we first installed vs2017 on a build agent. Due to the fact that we needed to authorize private VSTS NuGet package feeds we found that we needed to explicitly run NuGet.exe v4.0 t

[2017-03-16 21:38] automatonic commented on #4821
Update: After finishing a vs2017 install (Community Edition) on the failing agent, the restore started working again. There definitely is a discrepancy between VS install and BuildTools Install.

[2017-03-16 21:45] olgaark commented on #4793
This is the first time I hear about VsProject4 so sorry, cannot tell much.

[2017-03-16 22:28] jainaashish commented on #4820
Merged to Dev, waiting for the approval for 4.1

[2017-03-16 22:33] dmarlow commented on #4821
Yep, I saw in the file system that the BuildTools does not install the NuGet related targets. There are also a lot of other targets that I found that were missing in BuildTools (deploy related ones). Furthermore, if you have config transforms, you'll also need to install the Windows SDK to get aspnet_merge.exe to properly work.

[2017-03-16 22:46] shanselman commented on #4415
I just hit this as well. This could just be "tools." @rrelyea

[2017-03-16 23:22] emgarten opened #4831 "nuget.exe pack calls dotnet.exe"
Support for NETCore projects with project.json has been removed from NuGet 4.0.0.

NuGet.exe still appears to support packing project.json for NETCore and it calls dotnet.exe to build first. All of this should be removed or cleaned up when adding support for packing NETCore projects.

dotnet.exe no longer supports project.json, so this attempt fails due to parameter changes and is never going to w

[2017-03-17 00:52] natemcmaster commented on #4396
👀 @mlorbetske

[2017-03-17 01:08] branh opened #4832 "After upgrading from project.json to PackageReference fails, build no longer works"
When I call the new IVsProjectJsonToPackageReferenceMigrateResult API and it fails, the project is no longer buildable.

The steps are:
1. Create a new UWP project targeting RS1.
2. Open project.json.
3. Change frameworks to read 

"frameworks": {
    "uap10.0": {},
    "net45": {}
  },

4. Call the upgrader API to convert from project.json to PackageReference.

Expected: Upgrade will fail. Projec

[2017-03-17 01:35] alpaix opened #4833 "Baseline for Code Analysis warnings"
Enforcing Code Analysis rules for NuGet.Client code. Warnings generated for new code should be addressed immediately. 100s of warnings detected in existing code should be suppressed for now. They will be resolved later against this issue.

[2017-03-17 03:11] fahadash opened #4834 "copyToOutput attribute is not working"
I packed my project with the following

[code]

When I pull the package into my project and I look at the obfuscated.dll, I see the following in the property window
![screenshot](http://i.imgur.com/DuOJVq4.png)

I am not sure if I am getting the right idea about *copyToOutput* attribute. I was expecting this property to be set to "Copy Always". How do I accomplish that?

## Details about Problem

[2017-03-17 04:47] jagrutichavan commented on #4822
for 3.5.0 it requires Msbuild version 14 and my Msbuild version on Jenkins is 12 . I cant change Msbuild version on Jenkins server
For Msbuild 12 it requires nuget.exe v3.4.4

[2017-03-17 07:33] emgarten commented on #4834
It looks like you are putting the dll under the ``content`` folder and using it with a ``packages.config`` project. ``contentFiles`` items usually have a format similar to ``contentFiles/any/any/obfuscated.dll`` and these items are used in ``PackageReference`` or ``project.json`` projects.  The nuspec section you've added is likely not being used here.

For a packages.config style project that use

[2017-03-17 07:41] emgarten commented on #4822
Use ``-MSBuildVersion 14`` or ``-MSBuildPath``, you can also try 4.0.0 which has some of the issues fixed around auto detecting msbuild.

[2017-03-17 07:49] emgarten commented on #4803
@damianh you need to have the files under both ``content`` and ``contentFiles``.

[2017-03-17 08:26] damianh commented on #4803
@emgarten Like this?

[code]

[2017-03-17 08:30] damianh commented on #4803
Unfortunately this statement is confusing me:

- There is a `<contentFiles>` tag, do you mean that?
- There is a `contentFiles\` path in the `<files>` element under `<contentFiles>`, do yo meant that?

Honestly a _working_ nuspec would be much easier to move forward on.

[2017-03-17 08:59] damianh commented on #4803
[code]

... did not work.

[2017-03-17 09:34] dtretyakov opened #4835 "NuGet client does not support relative URl in the next link url"
Since NuGet 3.4+ in the `V2FeedParser` while fetching results in the `QueryV2FeedAsync` method [does not supported case](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol.Core.v3/LegacyFeed/V2FeedParser.cs#L449) when in the results feed page link is relative, e.g.:
[code]

It tries to get data from it [without attempt to append `_baseAddress`](https://github.com/NuGet/Nu

[2017-03-17 09:47] glopesdev commented on #3131
Just adding my voice to the crowd here, also trying to migrate library dependencies into .NET standard and facing the same issues. This will become a serious maintenance problem growing forward as everyone seems to be migrating their projects to .NET standard (understandably). Projects faced with compatibility constraints seem bound to suffer...

[2017-03-17 14:26] dtretyakov opened #4836 "NuGet.CommandLine 4.0.0 package was not published on nuget.org"
Despite NuGet 4.0 was releases there is no NuGet.CommandLine package in https://www.nuget.org/packages/NuGet.CommandLine.

Do you have any ideas when it will be available there?

[2017-03-17 15:12] issafram commented on #3249
Can this be updated to a newer milestone?  I feel like this has been lost.

[2017-03-17 15:47] rainersigwald opened #4837 "PackageReference is missing copy files to output feature"
_Moved from https://github.com/Microsoft/msbuild/issues/1880 on behalf of original poster @Ciantic._

I'm trying to use [PhantomJS NuGET package](https://www.nuget.org/packages/PhantomJS/), but it's not possible with `PackageReference`:

[code]

It does not do anything. I'd expect it to copy the files inside PhantomJS package to the output directory so I could use the binary file inside the packag

[2017-03-17 15:52] Ciantic commented on #4837
NuGET is reading the csproj file when I run `dotnet build`?

Let me clarify, when I run `dotnet build` I want it to copy the `tools/*` from `PhantomJS` referenced package to output directory so I can use it in the dotnet app.

I think NuGet is not in that process.

[2017-03-17 15:55] rainersigwald commented on #4837
The MSBuild engine runs logic from a variety of sources when you run `dotnet build`. The targets and tasks that handle the `Restore` target and extracting information from NuGet packages for consumption in the build are owned by the NuGet team, so this is the best place for reporting problems/asking for features related to the handling of NuGet packages.

[2017-03-17 17:42] pantonis commented on #1365
I have the same problem on my CI. I am using nuget 3.5.0. It is a pain. What version of nuget includes this fix?

[2017-03-17 17:43] debonte opened #4838 "IVsPathContextProvider.TryCreateContext starts returning false for NuGet enabled C++ project"
NuGet product used: VS UI
NuGet version: 4.1.0.2392
VS version: Latest d15rel

Sorry for the long repro steps...

1.	Create a new blank C++ UWP project (packages.config)
2.	Add a reference to a native NuGet package
3.	At this point TryCreateContext gives me a context and TryResolvePackageAsset works as expected.
4.	Shutdown VS
5.	Open solution folder in Explorer and delete the following, which I’m

[2017-03-17 18:12] emgarten commented on #4803
Files at the root of contentFiles are not picked up. You need to have:

[code]

Your nuspec contentFiles section has ``contentFiles\cs\**`` which doesn't match ``contentFiles\App_Packages`` where you are putting the file.

[2017-03-17 18:29] rohit21agrawal commented on #4832
cannot repro this issue.

[2017-03-17 21:52] #4826 closed, assigned to alpaix

[2017-03-17 21:56] zhili1208 commented on #4768
merged to dev and 4.1 https://github.com/NuGet/NuGet.Client/commit/c361e1fe40e2955032e328296768e94a70c234cb

[2017-03-17 21:56] #4768 closed, assigned to zhili1208

[2017-03-17 22:28] #4812 closed, assigned to rohit21agrawal

[2017-03-17 22:49] #4832 closed, assigned to rohit21agrawal

[2017-03-17 23:28] jainaashish commented on #4820
Merged to 4.1.0# 784900b4a024e40a00796b8f3179083be35a65dc

[2017-03-17 23:28] #4820 closed, assigned to jainaashish

[2017-03-17 23:45] livarcocc opened #4839 "Feature: dotnet add should handle a list of packages"
_From @NCC1701M on March 17, 2017 6:37_

## Steps to reproduce
Type in your console the following:
`dotnet add package Microsoft.AspNetCore.Routing Microsoft.AspNetCore.StaticFiles`

## Expected  behavior
The CLI should install both packages at once.

## Actual behavior
Receiving the following error:
`Please specify one package reference to add.`
For each package you like to install you have to ca

[2017-03-18 00:23] emgarten commented on #4485
55 hits so far in VS 2017 RTW, this is currently the top issue

[2017-03-18 00:31] rohit21agrawal opened #4840 "dotnet pack puts DLLs in root of lib folder if RuntimeIdentifier is specified"
output path of DLLs changed between RC4 and RTM version of dotnet cli which broke pack scenarios where RuntimeIdentifier is specified for the library/app.

The workaround is to set ```AppendRuntimeIdentifierToOutputPath ``` to false in your csproj or command line while building.

[2017-03-18 01:14] bbowman opened #4841 "nuget.config should allow for Credential Providers search paths"
Currently only three locations are mentioned at: https://docs.microsoft.com/en-us/nuget/api/nuget-exe-credential-providers are looked at when getting creds. Now that nuget restore is invoked with msbuild.exe /t:Restore this removes any "Zero-config" and "portable" solution to Credential Providers.

To me it would make sense to allow the Cred Provider search paths to be customized in a nuget.config

[2017-03-18 02:00] rohit21agrawal opened #4842 "adapt pack tests to run with rtm CLI"

[2017-03-18 02:02] #4842 closed, assigned to nobody

[2017-03-18 07:56] damianh commented on #4803
Applied your suggest (please correct if wrong). Doesn't appear to work.

[code]

![image](https://cloud.githubusercontent.com/assets/57436/24070194/aa054acc-0bb8-11e7-9121-8842c5a9b8e9.png)

[2017-03-18 09:23] emgarten commented on #4803
@damianh take a look at https://www.nuget.org/packages/ContentFilesExample/

[2017-03-18 09:41] davidfowl commented on #4125
Should this really be an install time action? Shouldn't it be part of the task?

[2017-03-18 14:39] jdasilva commented on #4463
@davkean Does this mean that having a shared intermediate folder is supported once these issues are fixed?

[2017-03-18 20:38] petertiedemann opened #4843 "dotnet.exe restore in solution mixing new and old csproj fails"
## Details about Problem
Using dotnet restore in a solution that mixes new and old csproj files leads to error message. Running nuget restore (4.x) instead succeeds. I don't know if this is expected behavior, but the error reported is not exactly user friendly.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

NuGet version (x.x.x.xxx): 4.0.0.2283 (at leas

[2017-03-18 21:37] A87P commented on #3353
I'm getting the same issue dealing with TypeScript.

It also gives me a nice red error message with a title "Check Out" and a body "presentation\app.js could not be found in your workspace, or you do not have permission to access it."

I bet it's VS generic issue and has nothing to do with NuGet. I tried to turn off plugins that I thought may have tried to access the file too, but it still failed

[2017-03-19 20:04] damianh commented on #4803
@emgarten Thank you very much for that package! However, I've been testing it and there seems to be a number of issues. I hope the problem is me :(

### 1. Installing the package doesn't show the content files as part of the project:

![image](https://cloud.githubusercontent.com/assets/57436/24084179/ac3e4c0c-0ce5-11e7-89a2-f77a8f254701.png)

Closing and re-opening the solution subsequently shows

[2017-03-19 21:30] emgarten commented on #4803
Thanks for the details @damianh

@natidea has anything changed with .pp files? I tried also and didn't see them getting generated in VS 2017 RTM but I do see them in project.assets.json.

Related: https://github.com/dotnet/sdk/issues/70

The delay in adding/removing the files from Solution Explorer looks like a VS issue, I see them written out correctly to the obj props file.

[2017-03-19 22:12] bmeredith commented on #4803
I was also able to reproduce the same issues @damianh mentioned above when trying to use the `ContentFilesExample` package.

[2017-03-19 23:02] infin8x commented on #4841
This is a great idea, thanks! Right now, msbuild /t:restore uses dotnet under the hood, which doesn't support credential providers at all. It's on the medium-term roadmap for the NuGet and VSTS Package Management team to build that feature. We can't right now because dotnet doesn't support cross-platform encrypted credential storage.

[2017-03-20 03:59] den-run-ai opened #4844 "linux subsystem (bash) windows 10 - fails to communicate network"
nuget 3.5.0, windows 10 build 15061:

https://github.com/Microsoft/BashOnWindows/issues/1265

[2017-03-20 03:59] den-run-ai commented on #4844
Is there any work-around for this issue?

[2017-03-20 04:56] davkean opened #4845 "msbuild /t:restore refuses to restore one particular project from a solution"
RTM

1. Clone https://github.com/davkean/roslyn-project-system
2. Open VS Command Prompt
3. `> git checkout 6e9c5158b279919226c58a5289a81bf0ef8f8964`
4. `> git clean -dxf`
5. `> build.cmd`

Expected: No build errors
Actual:

[code]

If you look in bin\obj\ProjectSystemSetup - you'll notice that no assets/props files were generated.

Note, if I open the solution in VS and use VS's restore - the pro

[2017-03-20 05:08] davkean commented on #4845
Note, this was resolved on our side by removing an explicit dependency in the SLN from ProjectSystemSetup -> VisualStudioEditorsSetup: https://github.com/dotnet/roslyn-project-system/pull/1784/commits/e1a1d99f181932754cc6a85e9f3eab43c155c09e, but there's still a bug here.

[2017-03-20 05:31] davkean opened #4846 "Overwriting cs files in folder while folder is source of csproj in vs2017 RTM makes nuget restore fail on build"
_From @FransBouma on March 10, 2017 9:57_

Hi,

I have two .net standard 1.6 class libraries in one solution, with the following contents:

AW.Model.csproj
[code]

[code]

They're in their own folders, Model for the first, Persistence for the second. Both folders contain .cs files, all being generated.

Now I re-generate the code files in the two folders while I have the two csproj files open in a

[2017-03-20 05:31] davkean commented on #4846
_From @FransBouma on March 10, 2017 10:1_

Additional info: once the sln is loaded from disk in a new vs2017 session, I can't reproduce the problem. So my guess is that this is related to some state being wrong when the sln is created (and saved), projects are added and then modified outside vs2017. Might be related to the issue I reported yesterday: #1717

[2017-03-20 05:31] davkean commented on #4846
This looks a lot like https://github.com/NuGet/Home/issues/4577. @emgarten @alpaix?

[2017-03-20 05:31] davkean commented on #4846
_From @emgarten on March 10, 2017 16:46_

@FransBouma the message looks scary but you can ignore it, NuGet will retry when the project details are loaded and restore everything.

@davkean yes looks like the same issue, you can probably close this one out

[2017-03-20 05:31] davkean commented on #4846
_From @FransBouma on March 10, 2017 18:19_

@emgarten

But that never happens unless the sln is re-loaded. So although it might retry, it will never actually work: only reloading the solution works. I agree though that it looks like the same issue, which IMHO all come from a bug somewhere in the initialization of the internal datastructures, as the problems are gone when the sln is reloaded, but a

[2017-03-20 05:31] davkean commented on #4846
_From @emgarten on March 10, 2017 18:53_

Even after waiting the project isn't restored?

[2017-03-20 05:31] davkean commented on #4846
_From @FransBouma on March 10, 2017 20:45_

Indeed, it stays this way. I tried numerous things for 5-10 minutes, nothing. Restarted vs2017 and reloaded the solution and that sorted it.

it's not an error that you see due to some data that's not available yet and will be gone in a few seconds or so, it's not solvable unless the solution is reloaded.

[2017-03-20 05:31] davkean commented on #4846
_From @emgarten on March 10, 2017 21:23_

@FransBouma thanks for the details, sounds like you are hitting more than just the timing issues. If it does work to reload everything then the solution/projects are likely correct. It sounds like this is just an issue with restore.

Does right clicking on the solution and selecting restore help when you hit this?

[2017-03-20 05:31] davkean commented on #4846
_From @FransBouma on March 10, 2017 21:50_

I will try that tomorrow and see what the outcome is :)

[2017-03-20 05:31] davkean commented on #4846
_From @FransBouma on March 11, 2017 9:15_

I can't reproduce it now... very strange! And not very good of course, as it might pop up later. Anyway, let's chalk this up for the restore issue already known then. I have no other explanation.

Is issue #1717 also caused by the same issue?

[2017-03-20 09:38] damianh commented on #4803
I am relieved that it has been repro'd. Thanks guys.

[2017-03-20 12:30] pantonis opened #4847 "NuGet.Protocol.Core.Types.FatalProtocolException: The V2 feed at ''' returned an unexpected status code '404 Not Found'."
Remove the content above here and fill out details below.

When I try to install a packet from my own Nuget.Server instance I receive

```NuGet.Protocol.Core.Types.FatalProtocolException: The V2 feed at ''' returned an unexpected status code '404 Not Found'.``` If I use the Package Manager Console to install the package it works. When I use VS Nuget extensions I get the message above. I also have

[2017-03-20 14:39] rrelyea commented on #4847
The latest NuGet for VS 2015 is current 3.5.0, which is available via http://nuget.org/downloads
Can you please tell us if you still have issues once your are running the latest version?

[2017-03-20 14:56] rrelyea commented on #4837
NuGet packages that work with Packages.config, don't always work in transitive NuGet environments (projects using Project.json or PackageReferences).

In this case, it looks like Phantom.js has "content\" and tools\install.ps1.

Packages that work in transitive NuGet environments must use "contentFiles\" instead of "content\" -- you can have both, if a package would like to work in both environmen

[2017-03-20 15:01] niemyjski opened #4848 "nuget pack --include-source doesn't work with compile globs"
I'm running the latest VS2017 release and dotnet 1.0.0 on windows 10 x64 stable. I came across quite a scary bug where if I do dotnet pack of a csproj that contains compile globs (where multiple files with the same name exist they won't be copied).

Here is the a link the source:
https://github.com/exceptionless/Exceptionless.Net/tree/9614d2bc1d2cb949945d05ff4dbf0d8bed0738f0

Steps to reproduce.
1

[2017-03-20 15:02] rrelyea commented on #4836
We should publish to our docs site... but for now, check out my tweet: https://twitter.com/rrelyea/status/843839843054444544

![image](https://cloud.githubusercontent.com/assets/8865080/24105913/a371e8e6-0d43-11e7-8a51-64c9f3b22ea9.png)

[2017-03-20 15:02] niemyjski commented on #4848
cc @rainersigwald and @emgarten

[2017-03-20 15:03] #4836 closed, assigned to nobody

[2017-03-20 15:05] niemyjski opened #4849 "dotnet restore no longer restores recursivly all csproj files"
I'm running the latest VS2017 release and dotnet 1.0.0 on windows 10 x64 stable.  I came across an issue that worked in the previous dotnet cli (project.json). If I took my project (https://github.com/exceptionless/Exceptionless.Net/tree/5d063552f395fe8b43402ed7ed3566420d007e95) and did dotnet restore it would find all projects (.csproj) including those not in the solution file and do a restore. T

[2017-03-20 15:11] niemyjski opened #4850 "restore should support multiple project files targeting same baseintermediateobjdir"
I'm running the latest VS2017 release and dotnet 1.0.0 on windows 10 x64 stable. I came across a potential bug with dotnet restore.

Here is the a link the source:
https://github.com/exceptionless/Exceptionless.Net/tree/9614d2bc1d2cb949945d05ff4dbf0d8bed0738f0

I have to have signed nuget packages so my initial goal was to have my shared library have a project.csproj and a project.signed.csproj in

[2017-03-20 15:11] AArnott commented on #4694
@davidfowl I agree we should fix #4125, but fixing _this_ is absolutely useful even without that. I can't build packages that are consumed downlevel without this feature. I'm trying to migrate my nerdbank.gitversioning package over to your new pack targets and I am blocked because if I start releasing packages that are missing this metadata, everyone using packages.config will regress when they us

[2017-03-20 15:12] rrelyea opened #4851 "Publish process for updating NuGet.exe"
Question came up here: #4836

We should clarify our publishing process for NuGet.exe.

1) along the way to an RTM release, we usually publish 1 or more beta or RC versions to https://nuget.org/downloads
2) we work with a number of partners to ensure they are testing those pre-release versions
3) once we are ready to release an RTM release, we publish it to https://nuget.org/downloads
4) at that po

[2017-03-20 15:18] rrelyea commented on #4830
@alpaix  - We likely need to work with the Roslyn-Project-System to solve this one. Can you please propose a solution after working with them?

[2017-03-20 15:21] rrelyea commented on #4825
@emgarten - can you please recommend best way to handle today? (my guess is that restore isn't necessary?)

[2017-03-20 15:30] rrelyea commented on #4824
Investigate -- is it package issue and/or NuGet 4 change in behavior.

[2017-03-20 15:32] rrelyea commented on #4823
yes, should see the fix show up in d15rel builds today or tomorrow. Fix may take a bit longer to get into vsuwpt branch (for 4.3 verification)

[2017-03-20 15:34] rrelyea commented on #4822
Please let us know if that doesn't resolve it for you.

[2017-03-20 15:34] #4822 closed, assigned to nobody

[2017-03-20 15:35] AArnott commented on #4694
In trying to workaround the problem by using the `$(NuspecFile)` property as a template, I find I can specify `<developmentDependency>true</developmentDependency>` but then the files being packaged go to heck. Either I specify `<files />` section and get an error about no content, or remove that section and I get the whole project directory instead of the binaries and dependencies all nicely laid

[2017-03-20 15:35] rrelyea commented on #4821
We should add NuGet.Tools.vsix to build tools workload -- this will enable msbuild /t:restore, etc...

[2017-03-20 15:40] rrelyea commented on #4849
by design. we are now working similarly to "dotnet build". given a project, we will recursively restore all project dependencies. Or if you restore a solution, will will restore all of those projects.
Make sense to make build and restore work the same way?

/cc: @emgarten

[2017-03-20 17:41] kevinchalet commented on #4412
That's really a nasty surprise, and a very annoying breaking change! :-1:

[2017-03-20 18:07] rrelyea commented on #4578
Got another email complaint about this today from an external customer via @Pilchie

[2017-03-20 18:16] blackcity commented on #4824
The error states that the package expects a different version of System.Threading.Tasks. Under VS2015 there is no such error. The package Microsoft.BCL.Async hasn't changed for years, but it is wildly used because it brings async/await to .NET4.

[2017-03-20 18:21] rrelyea commented on #4485
Let's figure out issue. Depending on timing of fix availability, we'll take for 4.1 or 4.3.

[2017-03-20 18:31] emgarten commented on #4825
I asked @javitosanchez to open this issue. The uninstall/install method is currently the best way we could come up with to do this until there is a way to invoke a restore programmatically.

Long term if auto restore was done for UWP projects this would also solve the issue.

[2017-03-20 18:35] emgarten commented on #4846
@davkean if the project isn't found even after waiting as @fransbouma described it likely means that it wasn't nominated and NuGet cannot find it for that reason.

[2017-03-20 18:37] emgarten commented on #4849
@niemyjski which version of dotnet was this last working in?

Can you give me an example of a project in that repo that isn't restored, and the parent project that references it?

[2017-03-20 18:42] emgarten commented on #4412
@forrestab this sounds difficult, would you open a new issue to track adding framework assemblies during pack?

This issue is specifically for the restore/consuming side of framework assemblies.

[2017-03-20 18:44] emgarten commented on #4849
Also, Visual Studio doesn't support loading projects outside of the solution. This is true everywhere not just restore. There it is expected, but command line on the other hand does allow this.

[2017-03-20 18:49] #4759 closed, assigned to mishra14

[2017-03-20 18:53] emgarten commented on #4843
Thanks for the repro @petertiedemann, I was able to get it locally also.

The restore target isn't able to walk the project due to some extra target dependencies needed, this issue is being tracked here: https://github.com/NuGet/Home/issues/4650

[2017-03-20 18:53] #4843 closed, assigned to emgarten

[2017-03-20 18:54] niemyjski commented on #4849
I remember it working this way in `1.0.0-preview2-003131` as per the master branch right now (https://github.com/exceptionless/Exceptionless.Net) upon upgrading it I had to change the scripts around restores as they weren't happening to half my projects (signed container projects)

[2017-03-20 19:05] livarcocc opened #4852 "Improve error message for projects that reference a package with the same name"
_From @debo on March 19, 2017 15:19_

## Steps to reproduce
Intall dotnet with the following commands (those are the official packages):
[code]
Create the project via CLI
[code]
Restore it
[code]

## Expected  behavior
I am not sure what the result should be, I am new to .NET but I would assume something along the line of:
[code]
## Actual behavior
The entire log here
https://gist.github.com/debo/

[2017-03-20 19:05] livarcocc commented on #4852
Can you try downloading dotnet from dot.net and trying again.

Brew is not really a supported installation scenario for the CLI.

[2017-03-20 19:05] livarcocc commented on #4852
_From @debo on March 20, 2017 5:35_

@livarcocc I did that too and the result is the same.

Also for the record brew cask it's slightly different from brew, it downloads and install official packages as you can see here:

https://github.com/caskroom/homebrew-cask/blob/master/Casks/dotnet.rb
https://github.com/caskroom/homebrew-cask/blob/master/Casks/dotnet-sdk.rb

It basically automates a manual d

[2017-03-20 19:05] livarcocc commented on #4852
Ah, got it. Thanks for the info.

@emgarten can you take a look at the restore logs and see if something jumps at you?

[2017-03-20 19:05] livarcocc commented on #4852
_From @debo on March 20, 2017 5:41_

@livarcocc no problem and thanks for looking into this, additional info, I tried on two different OSX systems and got the same behaviour.

[2017-03-20 19:05] livarcocc commented on #4852
_From @debo on March 20, 2017 8:13_

@livarcocc @emgarten further attempts and google search later I did find the real issue and I facepalmed myself.

https://github.com/dotnet/sdk/issues/875

So unfortunate that the stack trace wasn't really meaningful in that regards. I hope it helps.

Feel free to close the issue if you think there is nothing else to add.

Thanks.

[2017-03-20 19:05] livarcocc commented on #4852
@emgarten do you guys have anything tracking this in nuget?

[2017-03-20 19:05] livarcocc commented on #4852
_From @emgarten on March 20, 2017 18:28_

@debo would you open an issue to track improving this error message on https://github.com/nuget/home/issues

Packages and projects are treated the same, so this behavior is expected, but looking at the log it is a very confusing result.

[2017-03-20 19:15] emgarten commented on #4852
We should look at improving the error message here.

[2017-03-20 19:26] emgarten commented on #4849
This is expected. Preview2 did not use msbuild and would recursively search the file system. In RTM msbuild runs the restore and it automatically detects project and solution files in your current directory. What you are likely seeing is that the projects that aren't being restored aren't linked to in any way by the one msbuild is finding.

Your best option is to create a solution file that includ

[2017-03-20 19:42] kevinchalet opened #4853 "Framework assemblies are no longer added to .nuspec when using the new .csproj project system"
_Moved from https://github.com/NuGet/Home/issues/4412#issuecomment-287148113:_

_______________

In the marvelous world of `project.json`, specifying a `frameworkAssemblies` node was enough to tell NuGet to add the corresponding entries in the `.nuspec` file:

[code]

[code]

With .csproj, this is no longer true when using `Reference`:

[code]

This breaking change has obviously important implicat

[2017-03-20 19:43] kevinchalet commented on #4412
@emgarten I went ahead and opened a new ticket: https://github.com/NuGet/Home/issues/4853.

[2017-03-20 19:44] niemyjski opened #4854 "dotnet pack is unable to package files from outside of the project directory"
I'm running the latest VS2017 release and dotnet 1.0.0 on windows 10 x64 stable. I came across a bug with dotnet pack.

Here is the a link the source:
https://github.com/exceptionless/Exceptionless.Net/tree/9614d2bc1d2cb949945d05ff4dbf0d8bed0738f0

So I read over the docs for pack and the following should work... But I can't seem to get a psm1 script that's common across all my projects to copy fr

[2017-03-20 21:08] niemyjski commented on #4854
I'm also seeing issues where I can't even get the readme to get packed into half of my projects (src\Exceptionless)

[2017-03-20 21:51] zhili1208 commented on #4485
vsSolution might be null in this method, this is the only place which can throw null ref exception: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/PackageManagement.VisualStudio/IDE/VSSolutionManager.cs#L580
attached debugger to the dump file, got following stack:
   at NuGet.PackageManagement.VisualStudio.VSSolutionManager.<<get_IsSolutionFullyLoaded>b__77_0>d.MoveNext() in C:\B

[2017-03-20 22:04] automatonic opened #4855 "Expand `dotnet nuget` to include more of the commands that nuget.exe has such as dotnet nuget config"
`dotnet msbuild` is clever about its project/solution context and knows how to find the right version of msbuild to support the task at hand. This is especially useful for a build agent doing CI/CD work where there are potentially many projects with potentially many tool/sdk/runtime version profiles.

I think this is equally valuable in `dotnet nuget` commands, as evidenced by the existence of:

[2017-03-20 22:33] nkolev92 commented on #4682
Another workaround for installing experimental VSIX into VS (No such luck on launching the experimental VS instance).

- Install Exp VSIX.
- Start VS once, close it.
- Clear the MEF components Cache
- Start VS and voila.

Issue here is that the when you install a different Exp VSIX (which means it goes to a different directory than the earlier VSIX) you end up having to do the same thing again.

[2017-03-20 23:30] davidmatson opened #4856 "Provide an option to hide content files from project tree in new-style csproj"
I'm currently using VS 2015 with project.json with a number of sources-style NuGet packages (packages that only have contentFiles with c# code as *.cs files).

There are quite a few files that come in this way, so having them not show up in the project root is key. When I try migrating to the new-style csproj, that's what happens, so I'm currently blocked (stuck back in project.json-style NuGet).

[2017-03-20 23:30] davidmatson commented on #4856
See also #4166 which may be related.

[2017-03-21 00:28] zhili1208 commented on #4844
I tried to work around this by specifying IP address, but it didn't work. the problem is httpclient can't resolve the host name. I don't think there is any workaround on nuget side.
@mrward

[2017-03-21 00:34] clairernovotny commented on #4337
We're hitting this here:
https://dotnet.myget.org/feed/rx/package/nuget/System.Reactive.Core

We set the `Version` at build time using GitVersionTask. This is causing bad refs in the packages.

We're using `msbuild /t:pack` since GitVersionTask calcs the version. But something is missing the dependencies versions:

https://github.com/Reactive-Extensions/Rx.NET/blob/5ab4dcab616dd43b9dc938e5b44aeeec

[2017-03-21 00:37] NickCraver commented on #4337
I just hit this with MiniProfiler, since I only have an alpha, people are unable to restore their packages. As an example: what should work is a simple reference in `MiniProfiler.AspNetCore`, which has a `<ProjectReference>` to `MiniProfiler.Shared`.

Though the build passed `--version-suffix="alpha23"` to *both* of these packages, you can see [the `MiniProfiler.AspNetCore` package](https://www.nu

[2017-03-21 00:43] davidmatson commented on #4856
I think there's a slightly broader question here to consider as well - if contentFiles do appear, how _should_ they show up in the project tree? One possible option (my preference) would be to have them appear underneath the Dependencies -> NuGet node in the project (show the .cs files directly underneath the name of the package that includes them).

There may be other/better options as well. Havi

[2017-03-21 01:06] davkean commented on #4578
I also just ran into this: https://github.com/NuGet/Home/issues/4845

[2017-03-21 01:07] davkean commented on #4845
This is a dup of https://github.com/NuGet/Home/issues/4578.

[2017-03-21 01:09] #4845 closed, assigned to nobody

[2017-03-21 01:19] anangaur opened #4857 "Ability to find and remove unsued NuGet packages in a project/solution"
Feedback from David:

I saw your post about what is new with the NuGet package manager in Visual Studio 2017. One feature that is not there that I would guess most of us need is  a way to find NuGet packages that are no longer used and remove them. This is especially important when moving to CI builds.

I can't find anything out there that helps with this.

Thanks,
David McCarter
Microsoft MVP
htt

[2017-03-21 01:46] rohit21agrawal commented on #4337
@onovotny @NickCraver why can't you pass ```/p:VersionSuffix ``` when you do a restore?

arguments to build and restore should be similar as far as possible.

CC: @emgarten

[2017-03-21 01:48] clairernovotny commented on #4337
I don't use `VersionSuffix` I set `Version` during the build step. Is it documented anywhere that `Version` needs to be calculated during a Restore? Is there a Target we can hook before into to make this happen automatically?

[2017-03-21 01:53] clairernovotny commented on #4337
/cc @AArnott for NB.GV too.

[2017-03-21 01:54] NickCraver commented on #4337
@rohit21agrawal I wouldn't expect that I need to - since there's no `--version-suffix` on `dotnet restore`, that's a *very* strong indicator that it's not needed in any way.

[2017-03-21 02:24] davidmatson commented on #4856
I'm currently using the following workaround (thanks to @emgarten for the idea):
[code]

[2017-03-21 02:37] AArnott commented on #4337
This sounds super similar (although the repro steps are wildly different) to the underlying problem behind https://github.com/NuGet/Home/issues/4790. I suggest we keep both in mind when developing a fix.

[2017-03-21 02:56] clairernovotny commented on #4790
What if you set `/p:ExcludeRestorePackageImports=false` on the command line to override?

[2017-03-21 04:28] davkean commented on #4463
@jdasilva These are two issues that I found scouting it - but I've not confirmed that it's fully supported yet. Sounds like @caleblloyd was running into issues that I'd like to capture

[2017-03-21 04:59] mthamil opened #4858 "Can't package a .NETStandard class library"
## Details about Problem
Visual Studio 2017
Nugetizer-3000 Visual Studio Extension v0.1.227
NuGet.Build.Packaging v0.1.227

## Detailed repro steps so we can see the same problem
I am trying to migrate from the NuProj system, so I have a separate project that creates a package. I have a class library targeting NETStandard 1.3

1. Create a class library targeting NETStandard 1.3.
2. Make sure class

[2017-03-21 05:13] livarcocc opened #4859 "No way to override resolution behaviour for floating versions in PackageReference"
_From @citizenmatt on March 20, 2017 16:56_

Given a `PackageReference` with a floating version that accepts pre-releases, e.g. `2.3-*`, then `dotnet restore` will always pick the oldest pre-release version. This is contrary to the description of [floating versions in NuGet for project.json](https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution#floating-versions) (as linked

[2017-03-21 05:13] livarcocc commented on #4859
_From @dsplaisted on March 21, 2017 2:47_

@emgarten

This sounds like it might be a NuGet bug, and I don't think there's anyway of changing this behavior.

It might be that the version number is not specified in a way NuGet likes.  2.3.0-* might work better (though you may not want to restrict the patch version).

[2017-03-21 06:35] v-nancyj commented on #4823
The issue has fixed in D15Rel 26319.00 + NuGet Client 4.1.0-RTM-2405.

[2017-03-21 06:41] emgarten commented on #4859
@citizenmatt I'm not able to repro this, would you share some repro steps or an example csproj and package id?

[2017-03-21 06:45] milan11 opened #4860 "The V2 feed at '' returned an unexpected status code '404 Not Found'."
STEPS TO REPRODUCE
- Visual Studio 2015
- Tools -> Extensions and Updates... -> verify that NuGet Package Manager version is 3.5
- Tools -> Options
- NuGet Package Manager / Package Sources
-- add:
--- Name: esa
--- Source: https://esa.eset.com/sdk/packages/nuget
- Manage NuGet Packages for solution
- Package source: select esa
- Browse
- there is Error occurred
- there is error message in Output

[2017-03-21 06:45] milan11 commented on #4860
Maybe related: #4847

[2017-03-21 07:59] AndyTian-Devops opened #4861 "[Test Failure]Expected package doesn't list in PMC intellisence list"
**NuGet Version:** NuGet 4.1.0-RTM-2405
**VS Version:** D15Rel 26320.00
**OS Version**: Windows 10 RS2_Release 15058.0.170310-1436

**Repro Steps:**
1. Create a C# console application(.NET Core)
2. Open PMC.
3. Input "**Install-Package Microsoft.NETCore.",** and press tab key.
4. Observe the list.

**Expected Result:**
 The expected package name "UniversalWindowsPlatform" should be listed.

**Actu

[2017-03-21 08:40] debo commented on #4852
@livarcocc @emgarten thanks for giving attention to this. Very much appreciated. If there is any further input that I can provide to help, please let me know.

[2017-03-21 08:46] v-nancyj opened #4862 "[Test Failure] The installed package can’t be added to reference on multiple projects"
**NuGet Version:** NuGet 4.3.0-Beta1-2413 (Insertable)
**VS Version:** D15VSUWPT 26320.03
**OS Version:** Windows 10 RS2_Release 15062.0.170316-1539

**Repro Steps:**
1.	Create a solution included two C# Class Library (Universal Windows) projects (renamed PJ1 and PJ2).
2.	**Add reference** PJ2 to PJ1 (PJ1->PJ2).
3.	Open the ‘Manage NuGet Packages…’ for **PJ1 project**.
4.	Install package ‘Newtonso

[2017-03-21 09:09] mbooh opened #4863 "Installing via Visual Studio Nuget and downloading package gives different version of dll?"
Hi!
I have a strange problem.
If I download our packages: https://www.nuget.org/packages/Amesto.AutoConnect.Core/ and then look at the dll in lib it is changed today 21th of March.
But when I use Visual Studio Nuget manager the dll in the packages folder get change date 10th of January.
Does anyone have any idea why this is happening?
Thanks!

/Kristoffer

[2017-03-21 10:20] dtretyakov opened #4864 "dotnet nuget push - Missing value for option"
[code]

When you trying to specify `--no-symbols` or `--disable-buffering` flag push command fails with:
[code]

Why should we need to provide some value for these flags and why it does not present in the docs?

[2017-03-21 10:31] citizenmatt commented on #4859
Sure.

[code]

I would expect this to install the latest prerelease of [JetBrains.ReSharper.SDK 2017.1](https://www.nuget.org/packages/JetBrains.ReSharper.SDK/), currently at `2017.1.20170316.165446-eap05`, but it resolves to `2017.1.20170209.154249-eap01` instead.

It actually fails to fully resolve `-eap01` due to an error in one of the packages that references a dependency that doesn't exist (s

[2017-03-21 11:37] forrestab commented on #4412
@PinpointTownes thanks, I will start tracking that one now.

[2017-03-21 12:12] jdasilva commented on #4463
Thanks, I was thinking about a comment like this https://github.com/dotnet/sdk/issues/760#issuecomment-276259786.  I've been using a common intermediate folder for a couple of projects since at least VS2013 and this still works under VS2017 with the old project system.  I'd love to move to the new one, so I really meant "supported" in the sense of if something blocks this will it be considered a b

[2017-03-21 13:38] AArnott commented on #4790
@onovotny that may work as a workaround. I document another workaround on the NB.GV side that doesn't require the user to add this switch each time as well, but it's kinda ugly internally.

[2017-03-21 13:40] AArnott commented on #4790
But any workaround aside, this also means that when a commit is made, the next build will be broken because the package versions across P2Ps are locked in at restore time instead of at build time. IMO that's the fundamental issue here.

[2017-03-21 13:43] clairernovotny commented on #4790
@AArnott is there a link to the docs with the workaround? I just need to get Rx.net working right now... :/

[2017-03-21 13:49] eliasnawfal commented on #4780
Thank you for the solution

[2017-03-21 13:56] MichaelSteinecke opened #4865 "NuGet.VisualStudioExtension: NuGet in Intranet not useable (without Internet connection)"
## Details about Problem
When working with NuGet VS AddIn on computers with network connection, but without internet connection, the AddIn tries to load additional package information from the publisher URL and freezes eventually due to failing DNS requests and timeouts.

The entire issues has been discussed previously in issue #1056 [https://github.com/NuGet/Home/issues/1056](url) and should have

[2017-03-21 14:37] AArnott commented on #4790
Yes: https://github.com/AArnott/Nerdbank.GitVersioning/issues/113

[2017-03-21 15:19] atrauzzi commented on #4286
@Petermarcu - Hmm, not sure privileged mode is working: https://travis-ci.org/atrauzzi/praxis/builds/213448129

[2017-03-21 16:02] bricelam commented on #4694
+1 to @AArnott's comments. We lose a lot of MSBuild magic by "dropping down" to nuspec. Using `<NuspecProperties>` helps a bit, but we still end up re-implementing (i.e. hard-coding) a lot of it.

[2017-03-21 16:56] Petermarcu commented on #4286
@rrelyea , looks like the workaround may not be working for @atrauzzi

[2017-03-21 17:16] davidmatson commented on #4856
Here's a fairly simple option that might improve things:
The props file currently does something like this:
[code]

Note that the link item just has the relative path of the cs file. Add some prefix to the link item, such as "NuGetContent\{package Id}":
[code]

Unfortunately, I think this approach would only work item types like Compile that aren't binplaced; items that are copied to the output di

[2017-03-21 17:20] davidmatson commented on #4856
The idea of the prefix was inspired by this technique from the pre-NuGet 3 days:
https://nikcodes.com/2013/10/23/packaging-source-code-with-nuget/

Though I'd suggest omitting the version from the path as only one version of a package can be installed anyway (and making the path longer might contribute to MAX_PATH issues; not sure if that matters in a Link though).

[2017-03-21 17:21] #4823 closed, assigned to nobody

[2017-03-21 17:24] emgarten commented on #4859
``-*`` only floats to the highest release label. Leaving out parts of the version does not have an impact, ``2016-*`` is the same as ``2016.0.0.0-*``.

To get the highest stable version use:
[code]

or

[code]

[2017-03-21 17:30] citizenmatt commented on #4859
Sorry, can you clarify, please? What does "only floats to the highest release label" mean? I'm not sure I'm seeing the behaviour you're describing - `-*` is resolving to the oldest pre-release version.

[2017-03-21 17:38] emgarten commented on #4859
Here are some examples

1.0.0-c is selected for 1.0.0-* because c is the highest release label for 1.0.0
[code]

1.1.0-a is selected for 1.0.0-* because 1.1.0-a is nearest to 1.0.0, there were zero release labels that matched the ``-*`` for 1.0.0  (this is what you are hitting)
[code]

For floating on a minor version with ``1.*`` you will get ``1.2.0`` since it matches the major version of 1 and h

[2017-03-21 17:43] emgarten commented on #4859
Alternatively you can think of it like this: ``1.0.0-*`` is the normal range of ``>= 1.0.0`` with a preference for the highest version it can get up to ``1.0.0.1``.  Once you go beyond the preferred range the lowest version/nearest will be preferred.

[2017-03-21 18:08] Mertsch commented on #4532
I have created a repo demonstrating the issue with pure VS 2017 projects

https://github.com/Mertsch/NuGet-issue-4532

[2017-03-21 18:19] emgarten commented on #4863
The older package could be coming from your cache, use ``nuget.exe locals -clear all`` and try the restore again.

[2017-03-21 18:52] mishra14 opened #4866 "Enable UWP and ProjectJson Migration related E2E tests"
Disabling 3 tests -

1. Test-UwpPackageRefClassLibraryCreate
2. Test-UwpPackageRefClassLibInstallPackage
3. Test-MigrateVanilaUwpProjectJsonToPackageReference

Reason -

Current E2E machines (Win2016 Server) do not allow creating new UWP projects.

Fix -

Next set of machines created for E2E will need to have client/developer experience added on during install.

[2017-03-21 19:14] emgarten commented on #4857
This is somewhat related to https://github.com/onovotny/ReferenceGenerator  This tool removes unneeded dependencies at pack time.

Also, a tool could find which dlls are used, but it may be difficult to determine which meta packages are needed, and which packages contain additional things such as init.ps1 files and runtime.json files that are actually used but aren't directly depended on by the as

[2017-03-21 19:24] emgarten commented on #4858
@mthamil what type of class library did you create?

[2017-03-21 19:25] #4629 closed, assigned to emgarten

[2017-03-21 19:26] emgarten commented on #4758
High priority 15.1 feedback has been addressed

[2017-03-21 19:26] #4758 closed, assigned to emgarten

[2017-03-21 19:35] niemyjski commented on #4849
I don't like having duplicated projects in a solution file just for restore. And then have to process those projects every time  I load vs. I'll just close this issue as it's by design.

[2017-03-21 19:35] #4849 closed, assigned to nobody

[2017-03-21 19:40] Ciantic commented on #4837
I've opened also a [StackOverflow question](http://stackoverflow.com/questions/42862739/how-to-copy-files-to-ouptut-directory-from-a-referenced-nuget-package-in-net-co). I'd hate to put a 18MB phantomjs.exe to the repository of the app, but that seems like the only way right now with .NET Core.

I gather you are not opposed to adding a feature to `PackageReference` since this is not closed. I thin

[2017-03-21 19:41] citizenmatt commented on #4859
Ah, ok. It would be so much more intuitive if you had to specify all parts of a version and it was illegal to miss parts out. Then it would be obvious that they matched zero, and would explain the nearest match. Similarly, it's frustrating that you can't make `2016.*` match pre-releases as well as stable releases - `2016.*-*` would be nice.

But I get it now. To get the behaviour I want (CI build

[2017-03-21 19:42] mthamil commented on #4858
It's multitargeting .NETStandard 1.3 and .NET 4.6 (however I started out just targeting .NETStandard 1.3 and had the same issue) using the new abbreviated csproj format.
The following is its entire contents:
[code]

[2017-03-21 19:51] rohit21agrawal commented on #4866
@mishra14 provide the commit here that we can revert when this bug can be fixed.

[2017-03-21 19:57] mthamil commented on #4858
I guess i'll add the nuproj contents too:
[code]

I'll add that if I unload the nuproj project the solution builds fine.

[2017-03-21 20:00] emgarten commented on #4859
Glad it helped, we're looking at supporting ``*-*`` to handle this. It is a known pain point. That worked is tracked here https://github.com/NuGet/Home/issues/912

[2017-03-21 20:01] #4859 closed, assigned to nobody

[2017-03-21 20:02] emgarten commented on #4858
@kzu this looks like a nugetizer issue, how should the target framework be found?

[2017-03-21 20:10] emgarten commented on #4671
Alternatively we could default to using the working directory if home does not exist. This would allow CI machines running under a service to work properly without a HOME env var.

[2017-03-21 20:12] emgarten commented on #4470
@kraigb has this doc been written?

[2017-03-21 20:15] rrelyea commented on #4577
Dupe of #4307

[2017-03-21 20:15] #4577 closed, assigned to nobody

[2017-03-21 20:44] kzu commented on #4858
@emgarten it's part of the [Authoring.props](https://github.com/NuGet/NuGet.Build.Packaging/blob/dev/src/Build/NuGet.Build.Packaging.Tasks/NuGet.Build.Packaging.Authoring.props#L14), which is [imported automatically](https://github.com/NuGet/NuGet.Build.Packaging/blob/dev/src/Build/NuGet.Build.Packaging.Tasks/NuGet.Build.Packaging.props#L124) for [packaging projects](https://github.com/NuGet/NuGet

[2017-03-21 21:12] rrelyea commented on #4862
@emgarten - does this sound like a non-NuGet issue? I guess we could test this with 4.1.0-rtm on vsuwpt to determine that.

[2017-03-21 21:18] rrelyea commented on #4855
Thanks for your asks. Helps us to prioritize future work here.
/cc @anangaur

[2017-03-21 21:33] emgarten commented on #4862
This should be read from the projectFileDependencies section of the project.assets.json file. If it exists there then NuGet is doing the right thing.

[2017-03-21 21:49] citizenmatt commented on #4859
Just one last question - is it possible to override this behaviour with a nuget.config? So instead of picking nearest/lowest it would pick highest?

[2017-03-21 21:59] livarcocc opened #4867 "Wrong dependency versions in the NuGet package after 'dotnet pack' if the project hasn't been rebuilt before"
_From @DmitrySikorsky on March 15, 2017 22:56_

## Steps to reproduce

0. You are using VS2017 and .csproj files.

1. Let's say you have ProjectA version 1.1.1 that has dependency (project dependency with no version specified) to the ProjectB version 1.1.1. You rebuild them and everything is fine.

2. After that you remove 'bin' and 'obj' folders, open the .csproj files and change (manually, in a

[2017-03-21 21:59] livarcocc commented on #4867
Have you run dotnet restore again after changing the versions?

Dotnet pack uses information based on your project.assets.json file that gets updated only when you run dotnet restore.

In any case, @rohit21agrawal @mishra14 can you guys take a look?

[2017-03-21 21:59] livarcocc commented on #4867
_From @DmitrySikorsky on March 15, 2017 23:19_

No, I didn't. But I didn't run it before too, when used project.json. And it worked as expected.

[2017-03-21 21:59] rrelyea commented on #4834
@emgarten speaks the truth.

[2017-03-21 21:59] #4834 closed, assigned to nobody

[2017-03-21 22:00] emgarten commented on #4858
If we did skip the TFM compatibility check restore would end up selecting strange dependencies for packages within the project.

NuGet needs a TFM to base the decision of which dependency group is nearest when walking the dependency graph. I don't see how we could remove the requirement and not end up with very random results.

Example: Project target framework: ``any``
Package dependency groups:

[2017-03-21 22:00] emgarten commented on #4859
Not currently for project.json/PackageReference. But that is another feature we plan to add.

[2017-03-21 22:02] citizenmatt commented on #4859
OK, thanks :thumbsup:

[2017-03-21 22:04] joelverhagen commented on #4851
Also, we need to define:

- when old RTM versions are removed
  - presumably X.Y.B replaces X.Y.A if B > A.
- when old RC versions are removed
  - presumably X.Y.A-* is replaced by X.Y.A
- How many versions we keep at once on the web page. It looks like 6 + latest link is all that will fit

[2017-03-21 22:05] mishra14 commented on #4866
Commit: https://github.com/NuGet/NuGet.Client/commit/98c810eadd6d614425abf437de27c9d2ed8e7cb0

[2017-03-21 22:10] DmitrySikorsky commented on #4867
@livarcocc  thank you!

[2017-03-21 22:11] rohit21agrawal commented on #4867
@livarcocc @DmitrySikorsky  we are already tracking this via : https://github.com/NuGet/Home/issues/4337

[2017-03-21 22:12] #4867 closed, assigned to nobody

[2017-03-21 22:22] kraigb commented on #4470
No, haven't pursued this one yet.

[2017-03-21 22:50] rohit21agrawal opened #4868 "fix flaky mono tests on mac"
The following tests fail a lot of times while running mono on Mac :

[code]

We should fix them to be consistent in our test results.

[2017-03-22 01:09] rohit21agrawal commented on #4828
this has been fixed in RTM version of CLI already.

[2017-03-22 01:09] #4828 closed, assigned to nobody

[2017-03-22 01:49] emgarten opened #4869 "NuGet.targets fails on _SplitProjectReferencesByFileExistence when called directly"
NuGet.targets fails to find _SplitProjectReferencesByFileExistence when called outside of a project.

This issue is to track investigating if this target is still required and how to work around the problem.

[2017-03-22 05:02] #4475 closed, assigned to rohit21agrawal

[2017-03-22 07:29] v-nancyj commented on #4862
Update **Actual Result:**
The **package ‘Newtonsoft.Json’** is not added to PJ1 reference as above screenshot.

[2017-03-22 14:30] chandandattahlk opened #4870 "Nuget configuration for azure deployment with git submodules for private repos"
I am using bitbucket private repos as gitmodules with .net core tooling for deploying a web api which has dependencies on DLLs built with .net 4.6.1.
I am using the project.json structure (https://oren.codes/2016/02/08/project-json-all-the-things/, https://github.com/NuGet/Home/issues/4124) and I have the two libraries as deps(Hlk.Cda.Converter and Hlk.GenericForm) for this project I am building.

[2017-03-22 15:03] dotMorten commented on #4813
Binary analytics works for apps. It doesn't really work for 3rd party libraries.
They also serve two different purposes. One tells you something about the environment the developer chooses to use, the other about the environment the end user runs it on. Both can be important but they are distinctly different.
Also a lot of apps aren't run connected, so gaining insight into what type of targets the

[2017-03-22 15:19] petertiedemann commented on #4491
I have a F# "legacy" fsproj file referencing a project that targets net461 using the new csproj format.

I am also getting this error.  Using dotnet pack or msbuild /t:pack does not work, as it will work only on the new project. Does this mean I have to run dotnet pack on one project and nuget pack on the other one? ( requires me manually enumerating the project files of each type in my build scri

[2017-03-22 15:43] livarcocc opened #4871 "ArgumentNullException in ResolvePackagesPath"
_From @danmosemsft on March 22, 2017 3:40_

Hit in a CI job in CoreClr. Do'nt have repro steps but I see it's CLI code.
https://github.com/dotnet/coreclr/pull/10323#issuecomment-288142586

[code]

_Copied from original issue: dotnet/cli#6099_

[2017-03-22 15:44] livarcocc commented on #4871
This happens when $HOME is not set in the box.

This is a requirement by NuGet and this is simply the first time we try to find the cache. Even if you had not hit this, when doing restore you would hit something similar. Can you try setting $HOME in your script and seeing if that goes away?

[2017-03-22 16:41] danmoseley commented on #4871
I think it's gone away by itself right now. Should CLI dump the callstack though?

[2017-03-22 17:04] #4811 closed, assigned to jainaashish

[2017-03-22 17:07] #4757 closed, assigned to jainaashish

[2017-03-22 17:52] #4788 closed, assigned to nobody

[2017-03-22 18:40] emgarten commented on #4491
@petertiedemann currently, yes. That is what you would need to do.

I worked around this by adding a Pack target to my legacy projects that ran an Exec with nuget.exe pack to pack the project, then it was possible to run Pack on all projects without manually splitting them up.

[2017-03-22 19:14] emgarten commented on #4871
The current options for this are:
1. Fail with a helpful error message
1. Use the current working directory to write out the .nuget folder and packages

@livarcocc @danmosemsft for your CI scenarios which one would work best for you?

[2017-03-22 19:16] danmoseley commented on #4871
In a CI situation in general it's nicer to have the error written out to stdout (or MSBuild logger) as a random file on disk is not necessarily gathered for the CI user and typically one can't log in ot the CI box to get it.

[2017-03-22 19:21] emgarten commented on #4862
@v-nancyj does newtonsoft.json exist in obj\project.assets.json under projectFileDependencies?

[2017-03-22 19:34] emgarten commented on #4871
It will write the error out in the same way. It's more a question of, should this fail, or should NuGet use a sub folder in the current directory to store the packages needed for the build.

[2017-03-22 19:59] danmoseley commented on #4871
I don't know mabye @livarcocc has an opinion.

[2017-03-22 20:02] livarcocc commented on #4871
I think failing makes more sense to me. I find it weird for these packages to get written to random places in the disk with the user's input.

[2017-03-22 21:01] jainaashish commented on #4665
Merged to release-4.1.0-rtm 8f6089d457a26dd64a581b88bc80557fa0db510d

[2017-03-22 21:02] emgarten commented on #4871
Dupe of https://github.com/NuGet/Home/issues/4671  I'll take a look at fixing that issue in the near future.

[2017-03-22 21:02] #4871 closed, assigned to nobody

[2017-03-22 21:09] jainaashish commented on #4757
Merged to release-4.1.0-rtm 4427dfdb4ad870889be69c1b4bffe4df3c89aa2a

[2017-03-22 21:19] livarcocc opened #4872 ".NET Core From Windows Volume and Running in Docker"
_From @cbeall on March 22, 2017 20:38_

I'm not sure if this is the correct place to ask this question, but for the last nine months or so, I've been using Visual Studio to work on my project.json based web applications running in Docker.

My Dockerfile adds all required packages to my NuGet Packages folder, but instead of copying the code to image, I mount the volume with the code on my windows d

[2017-03-22 21:54] livarcocc opened #4873 "Restore doesn't set configuration for P2P references"
_From @sbomer on March 22, 2017 21:35_

**Problem description**

I have a ProjectReference to a .csproj with a specific configuration (specified by setting `<SetConfiguration>Configuration=config</SetConfiguration>` under the ProjectReference element). When the referenced project has already been restored in the correct configuration, I can build the consuming project correctly (using the specifie

[2017-03-22 21:54] livarcocc commented on #4873
_From @sbomer on March 22, 2017 21:44_

It looks like the restore targets already try to set the child project configuration. For example:

[code]

This sets the configuration to `%(_MSBuildProjectReferenceExistent.SetConfiguration);`.

The problem appears to be that the `AssignProjectConfiguration` target doesn't run during restore, so `@(ProjectReferenceWithConfiguration)` doesn't get set, and t

[2017-03-22 21:54] livarcocc commented on #4873
The restore target is defined by NuGet, therefore I am moving this bug there.

[2017-03-22 22:07] abatishchev commented on #4819
Can you please take a look into this?

[2017-03-22 22:07] abatishchev commented on #2550
Any update on this, please? Was it fixed? Can it be closed? Or should it be addressed still?

[2017-03-22 22:52] emgarten commented on #4873
@sbomer are you setting conditions on package references to make them different between different configurations or how does this affect the restore output?

[2017-03-22 23:15] sbomer commented on #4873
@emgarten

In the repro I provided, `lib.csproj` has a conditional packagereference, so this doesn't get restored correctly in the default configuration.

I came across this problem in a slightly different setup:
I hit this in a project with different configurations for .net core and desktop builds, where the net core build imports a .props file that contains an implicit package reference to the s

[2017-03-22 23:18] #4838 closed, assigned to alpaix

[2017-03-23 00:45] zhili1208 commented on #4761
checked in to dev and 4.1-rtm https://github.com/NuGet/NuGet.Client/commit/d54d652c5e6ebdab4750b6ba100d3b11335a18c6

[2017-03-23 00:45] #4761 closed, assigned to zhili1208

[2017-03-23 00:46] rohit21agrawal commented on #4854
it looks like this doesn't work with ```Update``` but works with ```Include``` . @niemyjski can you help me understand why you are using ```Update``` here? trying to come up with workarounds for you as i investigate this.

[2017-03-23 00:48] rohit21agrawal commented on #4848
@niemyjski  if the source file is not in your project directory, where in the nupkg would you expect it to go? This is not something nuget can solve as your source file could come from three levels up your project directory and nuget packages don't have the luxury of guaranteeing that relative paths three levels up would exist.

[2017-03-23 01:52] stevenscreek commented on #4358
We're also hoping to see this.  Floating versions do not work for us, as we want reproducible builds, no matter what package version updates have happened since the last build.

We've ended up writing a tool that parses csproj files, looks for PackageReference, queries our nuget server, and updates the versions.  We'd love to throw this away.

[2017-03-23 02:12] emgarten commented on #4873
TargetFramework is the only officially supported condition allowed for PackageReferences. Restore and build do not block other conditions (there isn't a good way to detect it), but you may see issues with them.

Beyond that, I don't think setting properties for the project in the parent project will work for restore. Take a diamond dependency scenario as an example.

A -> B -(configuration=x)-> D

[2017-03-23 02:22] emgarten opened #4874 "Improve framework compatibility message for packages.config"
The packages.config failure message for non-compatible packages should be improved to match the one given during PackageReference restore.

From a user
[code]

The newer message for PackageReference projects includes a list of all discovered frameworks in the package and lists those out to the user, making it much more clear why it failed.

Example PackageReference error:

``Package Microsoft.Code

[2017-03-23 03:20] emgarten commented on #4872
@cbeall these files are intended to be intermediate files and generated for the machine you are on. Is there a way you can restore from the docker container to generate the correct paths there?

[2017-03-23 04:40] danielmclaugh commented on #4234
This related to this http://nuget.codeplex.com/discussions/262324
A work around documented here is to set the default project to release in the csproj instead of debug and then set author="Frank Dux" property.

[2017-03-23 04:41] danielmclaugh commented on #4234
In the csproj file!

[2017-03-23 05:18] vijayganeshpk commented on #1630
+1 for this feature. Very helpful when trying to migrate from [shared folder based nuget source to internal server](https://www.visualstudio.com/en-us/docs/package/nuget/move-from-fileshares). Issue occurs when the push is interrupted due to network issue and we have to retry the push again.

[2017-03-23 07:23] emgarten opened #4875 "Add dotnet msbuild integration tests for restore"
Add dotnet msbuild integration tests for restore

This should cover restoring solution files directly which is not covered by the nuget.exe tests since they parse the solution file first.

As part of this unit tests should be added for NuGet.Build.Tasks which passes in actual TaskItems. Currently this is tested at a lower level using the internal task abstraction, but it should also be tested at t

[2017-03-23 08:07] ErikEJ opened #4876 "[VS2017RC3] EntityFramework - No app.config created when using "packageReference" iso packages.config"
File, New Project, Console Appliation, Target .NET 4.0, add EntityFramework package, use PackageReference,
Result: app.config file with EF settings created
Actual: no app.config file at all... Causing EF to fail completely

Reported here: https://github.com/aspnet/EntityFramework6/issues/189

[2017-03-23 09:21] maartenba commented on #4813
See above comment on headers. That's what used to be there before v3.

[2017-03-23 09:47] v-nancyj opened #4877 "[Test Failure] The package can’t be added to ‘Reference’ node by add package code to ‘project.csproj’ file"
**NuGet Version:** **NuGet 4.1.0-RTM-2427** (Insertable)
**VS Version:** D15Rel 26322.00
**OS Version:** Windows 10 RS2_Release 15063.0.170317-1834

**Repro Steps:**
1.	Create a new C# Console App (.NET Framework) project.
2.	Right click the project and select ‘Unload Project’.
3.	Right click the project and select ‘Edit project.csproj’.
4.	Add the following properties to the **property** group  t

[2017-03-23 11:27] patricksadowski commented on #4780
I have the same problem with de-DE.
NuGet Version 4.0.0.2283

Same StackTrace for my project and project 'Echo' from @GitMonkey007:

[code]

[2017-03-23 11:56] cbeall commented on #4872
Yes, I can run the restore from either docker or windows.

The issue is, when I do the restore from the docker container, Visual Studio does not work (there are a bunch of "The type or namespace 'System' cannot be found" errors). And when I do the restore from windows, I can't run the application in the docker container.

Back with the preview tools and project.json, it did not matter where I ran

[2017-03-23 12:34] dat1010 commented on #4685
I'm having this same problem, any time frame on when or if this will be fixed?

[2017-03-23 12:41] niemyjski commented on #4854
All the examples and docs I saw were update, don't think I ever saw include once. I can try changing this to include and see fi it fixes. My understanding was that if you do update on a file path it could change the action / where that file is placed

[2017-03-23 12:44] niemyjski commented on #4848
So in my scenario, as shown in the GitHub project above. I have `src\exceptionless` and `src\exceptionless.signed`. Both of these projects are exactly the same except one is signed, but I had to do different projects because dotnet restore doesn't work to good when you have dependent packages and need to do a build based on `SignAssembly` flag (it's completely broken).

With that said, I basically

[2017-03-23 12:59] Ubloobok commented on #1943
May be will be helpfull, I also cannot pack package with such lines in nuspec files:
[code]
I get the same error "An item with the same key has already been added".

[2017-03-23 13:30] TheBeardedLlama commented on #1943
sorry @yishaigalatzer totally missed your response way back when :(

not powershell no

restore happened when building the solution in VS like I said

[2017-03-23 14:29] jasselin commented on #2657
The fix proposed by @mcliment works, just be sure to use psexec with "-u accountname" if you service runs under different account. :)

[2017-03-23 15:34] maciejw opened #4878 "nuget pack csproj -version overrides version of dependencis with *"
When I use project.json and class library, with dependency version *
{
  "runtimes": { "win": {} },
  "frameworks": { "net461": {} },
  "dependencies": {
    "NLog": "*"
  }
}

and nuget.exe pack ClassLibrary1\ClassLibrary1.csproj -version 1.2.3

will put wrong version of my dependency in nuspec

<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2013/05/

[2017-03-23 16:25] livarcocc opened #4879 "dotnet-nuget-push: does not support --config-file included in examples"
_From @dmccaffery on March 23, 2017 6:49_

## Steps to reproduce

[code]

## Expected  behavior

this would normally error out as the config file and package are empty files for the purposes of proving the point, but even with a valid pkg and config file, this does not work as expected as the command line parser does not support the --config-file option indicated in the example docs from:

https:/

[2017-03-23 16:34] jainaashish commented on #4877
This isn’t a valid test case now. Instead of doing this, you should follow below steps:
-	Create a new C# Console App (.NET Framework) project.
-	Enable “Allow package format chooser dialog” from tools -> options -> NuGet
-	Open PM UI and install newtonsoft.json package as PackageReference
-	Verify package is successfully installed and appears in Project References.

[2017-03-23 16:38] emgarten commented on #4872
NuGet uses ``BaseIntermediateOutputPath`` to determine the location for the project.assets.json file. You could change this based on your environment to create two different files which will allow you to work on both. There are some known issues with those however where tools aren't respecting the property yet, but you can try it out.

[2017-03-23 16:46] emgarten commented on #4878
Nuspec dependencies cannot contain a ``*``, pack gives you the version of the package that your code was compiled again.

Users can opt in to floating package versions themselves, but getting them from a package would be unexpected. When floating major versions with a ``*`` something will eventually break and this would leave users of the package in a broken state without making any changes themse

[2017-03-23 16:46] #4878 closed, assigned to nobody

[2017-03-23 16:54] emgarten commented on #4876
From the referenced issued it sounds like this was previously using install.ps1. This is is no longer used since it requires visual studio to perform the commands, however with PackageReference uninstall/install could occur during a restore from the command line outside of visual studio.

@ErikEJ do you know what settings are needed in app.config to make this work?

[2017-03-23 17:07] ErikEJ commented on #4876
@emgarten Yes, the package was using install.ps1 - you can install the package in a class library to see what happens to app.config, basically this:

    <?xml version="1.0" encoding="utf-8"?>
    <configuration>
     <configSections>

        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, Publ

[2017-03-23 17:12] #4698 closed, assigned to rohit21agrawal

[2017-03-23 17:12] #4704 closed, assigned to nobody

[2017-03-23 17:12] #4840 closed, assigned to rohit21agrawal

[2017-03-23 17:18] #4472 closed, assigned to rohit21agrawal

[2017-03-23 17:19] rohit21agrawal commented on #4854
@niemyjski can you point me to some of those example and docs..?

[2017-03-23 17:24] emgarten commented on #4876
Thanks for pasting it. It looks like the package will need to find a different way to configure itself that works from the command line and cross platform. I suggest working around it by adding this App.config in yourself.

[2017-03-23 17:24] #4876 closed, assigned to nobody

[2017-03-23 17:27] alpaix commented on #4797
Working on verifying the theory this issue was caused by CPS locking service deadlock.

[2017-03-23 17:29] rohit21agrawal commented on #4795
@alfonsogarciacaro thanks for the report..yes this will be fixed soon.

[2017-03-23 17:32] natemcmaster commented on #4704
So, if I understand https://github.com/NuGet/NuGet.Client/issues/1255, the recommend approach now is this:

[code]
Right @rohit21agrawal ?

[2017-03-23 17:35] rohit21agrawal commented on #4704
@natemcmaster correct, except that you also need to set ```FinalOutputPath``` metadata which will be the absolute path of this file on disk.
The result would be that this will put it in lib\TargetFramework folder.

If there is something you want to put outside of the lib folder, use the TargetsForTfmSpecificContentInPackage to write the appropriate target and set the PackagePath.

Feel free to mes

[2017-03-23 17:45] ErikEJ commented on #4876
OK - that is understood - I just notice that you have now "broken" the second most downloaded NuGet package of all time "by design"

[2017-03-23 18:06] natemcmaster commented on #4704
Thanks!

[2017-03-23 18:49] bradwilson commented on #4685
@dat1010 My belief is that this bug will go unacknolwedged (and thus unfixed) because it's in the 2.x code base.

[2017-03-23 18:50] abpiskunov opened #4880 "ProjectReference treats paths to projects case sensitive and can not resolve projects if caseingis different for folder name"
## Details about Problem

Create a sample class library A , and then create another classs library B and put it into some subfolder. Then add reference form A to B.

  <ItemGroup>
    <ProjectReference Include="..\SomeFolder\B\B.csproj" />
  </ItemGroup>

 after restore is done, open A project file and change SomeFolder with SomeFol**D**er. Restore would complaiN:

Unable to resolve 'c:\users\anto

[2017-03-23 18:54] rohit21agrawal commented on #4587
@DavidArno understand that Description is not actually truncated in the nuspec file. It's only in the Visual Studio UI where the Description is too long it collapses it to fit the space, but a user can however click on ReadMore to read the rest of the Description

[2017-03-23 19:24] emgarten opened #4881 "Update NuGet coding guidelines"
NuGet coding guidelines were originally copied over from ASP. Much of the doc no longer applies such as the requirements on using xproj and sake. We should review and update this document with the team so that we can provide good instructions for community members looking to contribute.

https://github.com/NuGet/Home/wiki/Coding-Guidelines

[2017-03-23 19:26] #4578 closed, assigned to emgarten

[2017-03-23 19:26] #4869 closed, assigned to emgarten

[2017-03-23 19:30] AArnott commented on #4587
I believe I heard somewhere that `<summary>` was getting deprecated. Is this why PackTask doesn't take it, or is it a legit bug that we can expect to be fixed? We'd like a short and a long form string so we can make the most of each one.

[2017-03-23 21:30] sbomer commented on #4873
@emgarten I would be happy to set the configuration of my projects in a global location such as a .sln file. I think this alleviates your concern about diamond dependencies and conflict resolution. However this doesn't work either, because the configurations still won't be propagated to project references.

@ericstj came up with a workaround for my specific issue:
Instead of conditionally importin

[2017-03-23 21:40] dheater commented on #3787
Agree. This should be a feature. Especially from the command line. I use NuGet to managed shared header files and scripts and I need `restore` to really `restore` just like it did an install. Maybe add a `nuget reinstall` command?

[2017-03-23 21:44] livarcocc opened #4882 "dotnet restore: The specified solution configuration "Debug|WINDOWS" is invalid"
_From @epignosisx on March 23, 2017 21:33_

## Steps to reproduce
1- Create new Console App (.NET Core) through VS2017
2- Run ```dotnet restore``` in the solution directory.

## Expected  behavior
Restore to complete successfully.

## Actual behavior
Getting the following error:

C:\Users\alejandroh\Documents\Visual Studio 2017\Projects\ConsoleApp2\ConsoleApp2.sln.metaproj : error MSB4126: The spe

[2017-03-23 22:07] kraigb commented on #1879
@TravisTheTechie I've done another consistency pass on the docset (https://docs.microsoft.com/nuget), and updated the readme.md on https://github.com/NuGet/docs.microsoft.com-nuget with conventions.

I believe these are sufficient to close this issue.

[2017-03-23 22:50] rmarinho commented on #1203
Any progress on this?

[2017-03-23 23:22] emgarten commented on #4882
@epignosisx any ideas on where it is getting ``WINDOWS`` from here? Are you passing any extra parameters when restoring?

Can you also try ``dotnet msbuild /t:Clean <path to your solution>`` and let me know if you get the same result.

[2017-03-23 23:24] emgarten commented on #4880
@rohit21agrawal this is fixed post-RTM already, right?

[2017-03-23 23:43] rohit21agrawal commented on #4880
Yes, but for 15.3

[2017-03-24 00:07] mikeharder opened #4883 "Add "MaxTries" optional parameter to PackageUpdateResource.Push()"
Our code wraps calls to `PackageUpdateResource.Push()` in a retry loop since it fails occasionally.  Our code could be simplified if `PackageUpdateResource.Push()` took an optional `MaxTries` parameter, and mapped it to the `HttpSourceRequest.MaxTries` property.  It also might be a good idea to increase the default value from `1` to something like `3` or `5`.

https://github.com/NuGet/NuGet.Client

[2017-03-24 02:04] epignosisx commented on #4882
I have no idea where the WINDOWS is coming from.

Ran the following:

[code]

and received the same error:

I guess that tells you it is not a nuget issue, right?

[2017-03-24 02:07] rohit21agrawal commented on #4587
@AArnott ```<summary>``` is deprecated for NET Core projects and there are no plans of bringing it back currently.

[2017-03-24 02:08] rohit21agrawal commented on #4587
the fix that we will do to close this bug is going to remove this warning for netcore projects.

[2017-03-24 02:10] rohit21agrawal commented on #4853
@dsplaisted Can ```<Reference>``` in Net Core projects point to a random DLL on disk which is not a framework assembly?

[2017-03-24 02:43] AndyTian-Devops opened #4884 "[Test Failure]Can not install "Newtonsoft.json" 10.0.1 to UWP project on Dev14"
**NuGet Version**: NuGet 4.1.0-RTM-2405
**VS Version**: Dev14 MU35
**OS Version**: Windows 10 th2_release 10586

**Repro Steps:**
1.Create a C# UWP project
2.Open PM UI, select "**Newtonsoft.Json 10.0.1**" on browse tab.
3.Install this package

**Expected Result:**
 Package can be installed successfully.

**Actual Result:**
 Package restore failed. Rolling back package changes.
![newtonsoftjson10]

[2017-03-24 02:44] AndyTian-Devops commented on #4884
Looks like this issue only happened on Dev14, i try to do this on VS2017, it can install successfully.

[2017-03-24 02:54] emgarten commented on #4873
@sbomer thanks for the suggestions! a few questions on this.

This would make the call ``Projects="%(_CurrentRestoreProjectPathItems.SetConfiguration)"`` instead of ``Projects="@(_CurrentRestoreProjectPathItems)"``?

I'm not fully clear on how ``SetConfiguration`` works here, this would ensure that when the project is loaded it also sets the configuration in that context? Without this it loads und

[2017-03-24 03:01] emgarten commented on #4882
Right, looks like there is a general issue with the project that is causing this error.

Would you share a zip of the repro? Does this happen on other machines for you, or is it something else in your environment bringing in the platform?

[2017-03-24 03:05] emgarten commented on #4880
@rohit21agrawal can you dupe it out?

[2017-03-24 03:48] emgarten commented on #4884
Here is the relevant part of the error output:

[code]

This comes from runtime guardrails detecting missing assemblies for the current tfm/rid.

[2017-03-24 04:23] emgarten commented on #4884
This fails with `` "Microsoft.NETCore.UniversalWindowsPlatform": "5.1.0"``
It works with  ``"Microsoft.NETCore.UniversalWindowsPlatform": "5.2.2"``

So the issue isn't specific to Visual Studio, it is the package dependency, and this can also be done with nuget.exe.

[2017-03-24 06:22] #4407 closed, assigned to rohit21agrawal

[2017-03-24 06:22] #4795 closed, assigned to rohit21agrawal

[2017-03-24 06:24] rohit21agrawal commented on #4880
already fixed via : https://github.com/NuGet/NuGet.Client/pull/1191

[2017-03-24 06:24] #4880 closed, assigned to nobody

[2017-03-24 06:39] bitcrazed commented on #4844
Could you try renaming your /etc/hosts file to, for example, hosts_old and then closing your bash shell and reopening? Your hosts file may have gotten corrupted/damaged

[2017-03-24 07:19] devlead commented on #4844
@bitcrazed that doesn't help for me at least, basically I can curl both V2 & V3 nuget API and fetch the package, but `mono nuget.exe` fails with `Error: NameResolutionFailure` .

Some suggested it's an IPv6 issue,  really old `mono 3.2.8` works but newer doesn't, and 4.8 and later is what's needed for current development.

[2017-03-24 07:58] v-nancyj commented on #4862
@emgarten Yes,the newtonsoft.json exists in obj\project.assets.json file

[2017-03-24 09:14] v-nancyj opened #4885 "[Test Failure] The PMC doesn’t respond when updating package by command in Web Application"
**NuGet Version:** NuGet 4.3.0-Beta1-2434 (Insertable)
**VS Version:** D15VSUWPT 26323.00
**OS Version:** Windows 10 RS2_Release 15063.0.170317-1834

**Repro Steps:**
1.	Create a C# ASP.NET Web Application (.NET Framework) -> MVC project.
2.	Open ‘Package Manager Console’.
3.	Type in ‘Update-Package’ and press ‘Enter’.

**Expected Result:**
The PMC should appear package update information.

**Actu

[2017-03-24 10:58] advapiIT commented on #4780
Excuse me,
Have you found a solution? Got the same problem here...Thanks

[2017-03-24 11:20] AndersAppelt commented on #2978
To add to this it isn't just restore that gives problems as it seems @GeorgeVovos thinks. You can't _install_ packages either. So I can't sit at home, disconnected from my employers VPN, and start a new project and then start adding NuGet packages.

[2017-03-24 11:28] epignosisx commented on #4882
I tried the same steps from my home computer and it worked just fine, although I have Win10 at home.

I'm going to ask some of my coworkers to repro to see what they get. At work we have a few things that have given us trouble in the past like an authenticated corporate proxy and Artifactory for our private libraries.

[2017-03-24 12:24] eliasnawfal commented on #4780
@advapiIT Just add -ForceEnglishOutput as an argument

[2017-03-24 13:42] srivatsn opened #4886 "Pack doesnt work for VB projects"
## Details about Problem

NuGet product used VS UI
VS version: Latest build from vsuwpt - 26323.2
Worked before? No

## Detailed repro steps so we can see the same problem

1. Create a VB .NET Standard class library (new template in vsuwpt).
2. Right-click the project and invoke Pack

Fails with this error:
[code]

[2017-03-24 14:21] epignosisx commented on #4882
Figured it out thanks to this issue:

https://github.com/fsharp/FAKE/issues/1312

There was a PLATFORM environment variable with the value of **WINDOWS**. Turns out MSBuild will pick it up.

Looks like HP machines set it up.

Thanks for the help!

[2017-03-24 15:17] christianhuening commented on #4337
@NickCraver I totally agree! No use would think about this and how should a consumer of a package eben know which versionSuffix to append? This really needs to work as it used to!

[2017-03-24 15:22] rrelyea commented on #4877
@jainaashish sent email to @v-nancyj about this. closing. please open a new issue if the new repro steps shows any problem.

[2017-03-24 15:22] #4877 closed, assigned to nobody

[2017-03-24 15:26] emgarten commented on #4882
Glad you found it! I'm going to close this issue, let me know if you hit any other restore problems.

[2017-03-24 15:26] #4882 closed, assigned to emgarten

[2017-03-24 15:27] emgarten commented on #4862
This looks like a project system issue then.

[2017-03-24 16:13] sbomer commented on #4873
@emgarten I'm glad I can help. :)

The call would still have `Projects="@(_CurrentRestoreProjectPathItems)"`, but the passed-in properties would be `Properties="...; %(_CurrentRestoreProjectPathItems.SetConfiguration); ..."`, etc.

This will run msbuild with the `_GenerateRestoreProjectPathWalk` target on the projects in `@(_CurrentRestoreProjectPathItems)`, in batches grouped by `SetConfiguration

[2017-03-24 16:40] ericstj commented on #4873
@emgarten you'll also want to be careful to flow metadata.

For instance, this https://github.com/NuGet/NuGet.Client/blob/68245312b050c5b992120448353eba3e20cdc414/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L620 should be using an item rather than property so that it doesn't strip the meta-data from ProjectReferences.  Properties are just strings and don't have metadata 😉

[2017-03-24 16:46] #4886 closed, assigned to rohit21agrawal

[2017-03-24 17:06] srivatsn commented on #4886
That was quick - thanks!

[2017-03-24 17:44] rohit21agrawal commented on #4777
@lassanter the PR https://github.com/NuGet/NuGet.Client/pull/1255 should solve your issues. Please message me if misunderstood.

[2017-03-24 18:45] tmeschter opened #4887 "PackTask fails when requiring license acceptance"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

VS version (if appropriate): d15rel 26323.0

OS version (i.e. win10 v1607 (14393.321)): Build 14393.rs1_release_inmarket.170303-1614

## Detailed repro steps so we can see the same problem

1. Create a new "C# Class Library (.Net Standard)" project.
2. Open the project properties.
3. Go to the

[2017-03-24 19:17] dsplaisted commented on #4853
It will be able to in the 2.0 tools.

[2017-03-24 20:03] #4694 closed, assigned to rohit21agrawal

[2017-03-24 20:07] rohit21agrawal commented on #4887
@tmeschter we have already added error handling in the task via https://github.com/NuGet/NuGet.Client/pull/1258 . That should take care of this .

[2017-03-24 20:07] #4887 closed, assigned to nobody

[2017-03-24 20:08] rohit21agrawal commented on #4853
@dsplaisted will there be a way to distinguish what References come from the framework and what come from a DLL on disk?  Is there a design doc for this so we can adapt pack accordingly?

[2017-03-24 20:09] clairernovotny commented on #4125
Agree with @davidfowl. This shouldn't be an install-time action, the task should set it when it reads the package meta-data during restore. A user may choose to override this by explicitly setting the metadata on PackageRef, but not sure why anyone would really do that.

[2017-03-24 22:58] jozefizso opened #4888 "dotnet restore is extremly slow on Azure Websites"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

NuGet version: 3.5.0.1938

dotnet.exe --version (if appropriate): 1.0.1

VS version (if appropriate): Microsoft Windows NT 6.2.9200.0

OS version (i.e. win10 v1607 (14393.321)): Azure App Service

## Detailed repro steps so we can see the same problem

1. Create ASP.NET Core project

[2017-03-24 23:23] emgarten commented on #4125
Shouldn't the user be able to control if the package flows transitively or not? If this isn't an install-time action they wouldn't be able to do this.

[2017-03-25 00:07] AArnott commented on #4125
I think @davidfowl  and @onovotny's point is the *default* behavior for a dependency on a package that sets `developmentDependency=true` is `PrivateAssets="all"` and therefore no user action and no extra project xml is required to do the commonly correct thing.
@emgarten This isn't to say that the user can't *override* that by explicitly specifying a `PrivateAssets` value. So yes, the user can sti

[2017-03-25 01:50] dsplaisted commented on #4853
Here's the PR where this was added to the SDK: https://github.com/dotnet/sdk/pull/876

It turns out we mentioned that nuget pack would need to handle this but never filed an issue.

The logic to figure out where the references actually come from is very complicated and involves the ResolveAssemblyReferences task.  I doubt there is a current spec for it.

It might be OK to just see whether the Item

[2017-03-25 02:38] emgarten commented on #4125
Currently there are no scenarios for restore where a package can modify how it was referenced (the incoming edge of the graph) because this can require re-walking everything.

For example if a package has a mix of versions, some with developmentDependency true and others with false. If at first a version with dd false is selected the packages flows, but then that tool package is bumped up to a hig

[2017-03-25 03:11] AArnott commented on #4125
Ok, install time it is.
I like your idea about a new msbuild item name and dependency graph. I talk about that here https://github.com/Microsoft/msbuild/issues/1756

[2017-03-25 03:23] davidfowl commented on #4125
It would happen at restore time. That package metadata should treat it like `PrivateAssets="all"`. We should just get rid of this metadata since it means really nothing.

[2017-03-25 10:15] advapiIT commented on #4780
Hello ,
that worked...but us tgis the behavior by design?

Il 24 Mar 2017 1:24 PM, "eliasnawfal" <notifications@github.com> ha scritto:

[2017-03-25 15:13] The-Futurist opened #4890 "No documentation?"
I'm exploring project "Package" options in VS 2017 for a .Net Core library project. I can see (and like) the settings for creating and building a package when the project is built.

But there are many settings and there seems to be no documentation for them.

For example "Repository URL" sounds like there's some support for publishing a package to a NuGet server but is that true?

And what of "Rep

[2017-03-25 23:28] NickCraver commented on #4853
What's the impact of this missing, for consumers?

[2017-03-25 23:31] NickCraver commented on #4853
This is a pretty big blocker to find out about at the end of a port. Is there a workaround? I'm porting major libraries here (Dapper, MiniProfiler, StackExchange.Redis, etc.) and this is a big step backwards for the consumer, having to reference framework libraries manually that just worked on the old system.

From a user point of view, they're better off with me not moving to the VS 2017 project

[2017-03-26 08:06] nexussays commented on #1021
To anyone else encountering this bug (which is not fixed, despite the issue being closed) who discovers this thread after tearing your hair out searching for a solution:

All you have to do is add a dummy file to /lib. (e.g. I'm generating XML documentation with my project so I just add that in the nuspec: `<file src="..\bin\Release\AnyCPU\ProjectName.xml" target="lib" />`)

See: http://stackoverf

[2017-03-26 09:53] damianh commented on #4803
@emgarten @natidea Gents, any update or thoughts on this? It appears that source transforms are completely broken. [LiteGuard](https://github.com/adamralph/liteguard) is another project that is affected. cc @adamralph

[2017-03-26 09:58] derigel23 commented on #1021
Yeah, the same solution for me - but better to place special file maker (empty directory) `_._`

[2017-03-26 10:07] adamralph commented on #4803
[LiteGuard](https://github.com/adamralph/liteguard), due to it's simplicity, is also a great test-bed for new/changed tooling. I've used it personally as my "hello world" for learning about PCL's, multi-targetting, project.json, etc. etc., with the benefit that it's also a real package, with real users. I'd be more than happy to use LiteGuard to help smoke test any work that comes out of this issu

[2017-03-26 12:06] Kralizek commented on #4809
Am I the only one having this issue?

[2017-03-26 14:09] dazinator opened #4891 "PackageReference - custom project system"
Hi,

I am developing my own custom project type (CPS), and trying to leverage `<PackageReference>`.
My custom project file (template) looks like this:

[code]

When I create an instance of my project (running under experimental vs instance) - nuget works great, and package references work in that if I add a nuget package I can see the package reference added to the project file, and I can see the

[2017-03-26 22:06] dsplaisted commented on #4853
One work around would be to continue to use a nuspec, I think.

[2017-03-26 22:43] davidfowl commented on #4853
@dsplaisted that's a pretty big hammer of a workaround.

[2017-03-26 23:39] anangaur opened #4892 "Enable TFM support: NetStandard2.0, Tizen"

[2017-03-26 23:42] anangaur opened #4893 "TFM support in VS 2015: NetStandard2.0 & more"

[2017-03-26 23:43] anangaur opened #4894 "NET Core 2.0: ensure that generation of lock/assets files is a no-op if there are no changes to projects at the CLI, similar to VS"

[2017-03-26 23:44] anangaur opened #4895 "NET Core 2.0: register all warnings/errors to assets file (including PackageTargetFallback)"
- PackageTargetFallback - Enable .NET Framework packages to be used in .NET Standard 2.0 projects
- Warn when such packages are being installed/used in a project

[2017-03-26 23:45] anangaur opened #4896 "NET Core 2.0: CLI localized assemblies"
NET Core libraries got an exception for localization, in the last release. This release we may have to localize.
The following steps are required to enable localization:
1.	Make NuGet libraries localizable
2.	Localize the libraries
3.	[Open] Localization strategy w.r.t delivering the localized assemblies. Design needs to be reviewed
4.	Adapt the nupkg based on approach taken in #3.

[2017-03-27 00:38] anangaur opened #4897 "Perf: Improve NuGet package 'restore' times"
Placeholder for all perf improvements in this area till VS 2017 Update 3

[2017-03-27 00:45] anangaur opened #4898 "NET Core 2.0: Enable users to ignore specific restore warnings (or elevate to error)"

[2017-03-27 01:33] GlennGendron commented on #4710
I am having the same problem.  Package Manager does say 2.0, but I have PowerShell version v6.0.0-alpha.17 installed. After loading my project and I attempt to use Package Manager with the command "Add-Migration", I get the following error message:
"The Entity Framework Core Package Manager Console Tools don't support PowerShell version 2.0. Upgrade to PowerShell version 3.0 or higher, restart Vis

[2017-03-27 02:47] anangaur opened #4899 "dotnet.exe - additional nuget functionality - update and update --all"
In the order or priority:

1. updateall
2. update - this functionality is present with 'add' command
3. list

[2017-03-27 03:11] anangaur opened #4900 "NET Core 2.0: Make restore/pack warnings clear and actionable for the referencing matrix"

[2017-03-27 04:18] livarcocc opened #4901 "dotnet add tool"
_From @shanselman on March 27, 2017 4:10_

I wish we could

`dotnet add tool DotnetWatcher:1.0.0`

and get

[code]

_Copied from original issue: dotnet/cli#6156_

[2017-03-27 08:00] patricksadowski commented on #4780
Usually the neutral resources language is used as fallback if the satellite assembly of the system language is missing. The -forceEnglishOutput argument is a workaround.

[2017-03-27 14:41] sburky opened #4902 "System.IO.FileFormatException on CreatePackage"
I use NuRep Project(https://bitbucket.org/galaktor/nurep) wich is a NuGet repository that also serves symbols and sources. It use Nuget.Server vs 2.0.1 and nuget.Core vs 2.8.5
it works fine on my environment.

I try to upgrade this projet with nuget.Server 2.8.13 and nuget.Core vs 2.14.0 and I have a curious edge effect.

in this simple code

     `           var request = context.Request;

[2017-03-27 14:47] dbrezack commented on #962
Having this issue in VS 2017 for Microsoft.Owin.Host.SystemWeb

[2017-03-27 15:59] rohit21agrawal commented on #4853
A better workaround in my opinion would be to use the GenerateNuspec task to get a nuspec without the framework assemblies in your obj folder, then write a custom task that takes in this nuspec and adds the framework assemblies (can use any xml reader writer for this), and then pack the resulting nuspec.

I know its not the most convenient thing but its not terribly hard either. I can come up with

[2017-03-27 16:11] NickCraver commented on #4853
Are we expecting every library author that writes a package that supports .NET full framework (the vast majority of packages) to do this in under to use the new tooling for the next 3 minor releases? Am I the only one that sees this as a large blocker that really needs to be addressed in NuGet 4.1 (or hopefully, sooner)?

Let me be as blunt as possible: We aren't porting our projects to the new `.

[2017-03-27 16:20] skofman1 opened #4903 "Order package dependencies in alphabetical order in the UI"
A customer reported a similar issue for nuget.org, that we are fixing: https://github.com/NuGet/NuGetGallery/issues/3550

[2017-03-27 17:33] rohit21agrawal commented on #4853
Cc: @rrelyea for your urgent triaging attention

[2017-03-27 17:35] rohit21agrawal commented on #4900
Pack already provides solutions for all warnings it gives out. Any specific examples you are talking about here?

[2017-03-27 19:31] jaredpar opened #4904 "Restore not picking up PackageReference in legacy csproj"
NuGet version: 4.0.0.2283

I'm attempting to convert [dotnet/roslyn](https://github.com/dotnet/roslyn) to use PackageReference over our csproj / project.json mix today.  The goal for the moment is to remain on the old project system so this isn't a full conversion to the new SDK.  It's only about moving to PackageReference.

I've moved over a large set of our files but when I restore I'm getting t

[2017-03-27 23:13] karann-msft opened #4905 "dependencies are not copied recursively"
https://github.com/NuGet/Home/issues/3830#issuecomment-278031018

http://disq.us/p/1ha0f36

NuGet does the right thing in copying only what's specified in <references>, but after that there's a step missing. Adding a reference is not just a matter of copying a dll to the bin. Perhaps taking the information from the assembly manifest, dependencies must be copied as well, recursively. If foo.dll dep

[2017-03-27 23:34] kraigb commented on #694
https://docs.microsoft.com/en-us/nuget/tools/nuget-exe-cli-reference#pack now has the note under the suffix argument.

[2017-03-27 23:52] kraigb commented on #3346
@sandersaares With https://github.com/NuGet/docs.microsoft.com-nuget/pull/253 I added more details to the minClientVersion nuspec ref, see https://docs.microsoft.com/en-us/nuget/schema/nuspec under "Optional metadata elements". Simply said, if you look at the nuspec ref for any feature that was introduced after version 2.5, like <contentFiles> in 3.3 then you'd want to specify the version like "3.

[2017-03-28 00:00] hongdai opened #4906 "Failed to resolve dotnet packages on some machines because feed defined in local NuGet.Config is ignored"
I'm not able to provide a repro because this only happens on some customer machines that I do not have access. However the log shows what has happened.

Failed to resolve dotnet packages on some machines **because feed defined in local NuGet.Config is ignored**
For example, the below output **shows the local config file is used, however the local feed is missing**:
Unable to resolve 'dotnet-svcuti

[2017-03-28 01:02] davkean opened #4907 "Failed to resolve dotnet packages on some machines because feed defined in local NuGet.Config is ignored"
_From @hongdai on March 27, 2017 23:55_

Failed to resolve dotnet packages on some machines because feed defined in local NuGet.Config is ignored

For example, the below output shows the local config file is used, however the local feed is missing:

Unable to resolve 'dotnet-svcutil (>= 0.5.10306-preview)' for '.NETCoreApp,Version=v1.1'.
NuGet Config files used:
C:\Users\pennerg\AppData\Roaming\Nu

[2017-03-28 01:02] davkean commented on #4907
I'm not understanding the bug or the issue, can you clarify?

[2017-03-28 01:02] davkean commented on #4907
_From @hongdai on March 28, 2017 0:58_

1. The app is in: C:\Users\pennerg\AppData\Local\Temp\WCFConnectedService\2017_Mar_21_06_41_30\svcutil_bootstrap
2. Under the root of the app, I have a local NuGet.Config that has the following package source information:
[code]
3. My project file depends on below package that is located under C:\myfeed
 `<PackageReference Include="dotnet-svcutil" Version="0

[2017-03-28 02:18] dtivel opened #4908 "Discover available plugins"

[2017-03-28 02:19] dtivel opened #4909 "Verify Authenticode signature of plugin"

[2017-03-28 02:25] dtivel opened #4910 "Query plugin operation claims"

[2017-03-28 02:26] dtivel opened #4911 "Implement overridable package download for packages.config scenarios"

[2017-03-28 02:26] dtivel opened #4912 "Implement overridable package download for project.json scenarios"

[2017-03-28 02:26] dtivel opened #4913 "Extensibility model for package download"
This request is from VSTS.

1.  A mechanism for providing custom package download implementation through a plugin.
2.  A plugin must run in a process separate from NuGet tools.

The primary motivation is to provide alternate forms of package transmission.

CC @jmyersmsft

[2017-03-28 04:13] nkigen commented on #3419
I also installed the latest Telerik on VS2015 Update 3(latest) Enterprise and this occured. My issue was fixed by installing [this  plugin](https://marketplace.visualstudio.com/items?itemName=kzu.FixNuGetGetFullVsVersionStringmustbecalledontheUIt)

[2017-03-28 06:15] emgarten commented on #1599
Moving to 4.3 to track adding warnings/errors to the assets file.

[2017-03-28 06:33] emgarten commented on #4906
Dupe of https://github.com/NuGet/Home/issues/4906 which contains more info. @hongdai I'm going to close this one and continue in https://github.com/NuGet/Home/issues/4906

[2017-03-28 06:33] #4906 closed, assigned to nobody

[2017-03-28 06:37] emgarten commented on #4907
@hongdai from what you've shared it looks like the config file is being used by the feed isn't used.

Try adding ``clear`` to the ``disabledPackageSources``, it is possible the source has been disabled in ``C:\Users\pennerg\AppData\Roaming\NuGet\NuGet.Config``. Adding the clear tag will make sure that this doesn't happen. Here's an example:

[code]

[2017-03-28 06:53] v703612 opened #4914 "Nuget Command Line not executing Powershell"
Hello,

We are currently trying to implement the following functionality
https://everydaylifein.net/netframework/running-powershell-scripts-during-nuget-package-installation-and-removal.html .

This all works great when we use the visual studio package manager console. But when we want to execute this with Powershell or Command line this doesn't work. So this means that the packages are get correc

[2017-03-28 06:54] davidfowl commented on #4914
It never did execute on the command line and it doesn't even execute in Visual Studio going forward. Don't rely on it.

[2017-03-28 06:59] v703612 commented on #4914
The execution does work on Visual studio that we tested yesterday and this works but we just want to launch our powershell script on nuget install

From: David Fowler [mailto:notifications@github.com]
Sent: Tuesday, March 28, 2017 8:54 AM
To: NuGet/Home <Home@noreply.github.com>
Cc: Landuyt, Thomas <Thomas.Landuyt@wolterskluwer.com>; Author <author@noreply.github.com>
Subject: Re: [NuGet/Home] Nug

[2017-03-28 07:14] davidfowl commented on #1599
When is 4.3?

[2017-03-28 07:15] davidfowl commented on #4914
Read this http://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-03-28 08:21] emgarten commented on #1599
2017 Update 1

[2017-03-28 09:25] aloneguid commented on #3295
@rohit21agrawal this is brilliant, thank you. A small modification to this and ready to use function for your profile:

[code]

[2017-03-28 10:00] Mythreyeehr opened #4915 "Unable to Install a .Net Core class lib nuget to a .net core console app"
I am using VS2015 Enterprise edition with .NetCore tools Preview 2

Here is what I did, Created a  .net core class library project (framework 4.6). Added a simple log class. Project.json file looks like below
[code]

Created a nuget package "Logger" for this.

Tried installing this package into a .net core console application. Project.json file is below:
[code]
`

But when I install I get error. I

[2017-03-28 10:18] v-luzh opened #4916 "[Test Failure] Package Reference is added into the wrong project when using ‘PackageReference’ format in multiple-projects"
**NuGet Version:** NuGet 4.2.0-RTM-2431
**VS Version:** D15PreRel 26327.00
**OS Version:** Windows 10 RS2_Release 15165.1000.170325-1411

**Repro Steps:**
1. Check ‘**Allow format selection on first package install’** format in NuGet Package Manager setting dialog.
2. Restart VS and create a C# Console App (.NET Framework)-ConsoleApp1.
3. Add another C# Console App (.NET Framework)-ConsoleApp2 int

[2017-03-28 11:42] bradphelan commented on #1909
I've upgraded my solution to using PackageReference under visual studio 2017. I can clearly state that the performance has changed .... in the wrong direction .... It is now taking over 20min to consolidate a single nuget package from my large solution of 50 projects.

I profiled visual studio to see what it is doing and it seems to spend most of it's time checking if a directory exists or not.

!

[2017-03-28 11:46] bradphelan commented on #1909
I used this script to update my solution

https://gist.github.com/a4099181/074a6c3dd524ea0d343382137492399c

[2017-03-28 12:00] bradphelan commented on #1909
Actually I think that script is garbage. It doesn't really work properly :(

[2017-03-28 15:11] jason-costello commented on #4809
I'm seeing this as well on a project that was migrated.   using Msbuild restore gives the same output you have above but no drop is created when the build is ran on TFS.

[2017-03-28 16:13] hongdai commented on #4907
@emgarten  Adding the clear tag does not work, a customer just verified it.

[2017-03-28 17:15] jainaashish opened #4917 "nVenture issue with auto restore performance"
Email discussion with Jerome (nVenture) about auto restore performance issue. We've got the perf etl logs from the customer to investigate.

[2017-03-28 17:21] jainaashish commented on #4916
dupe# https://github.com/NuGet/Home/issues/4675

[2017-03-28 17:21] #4916 closed, assigned to nobody

[2017-03-28 17:51] livarcocc opened #4918 "dotnet add fails when adding explicitly works"
_From @terrajobst on March 28, 2017 17:7_

## Steps to reproduce

1. Create a new console app targeting .NET Core
2. Run the command `dotnet add package Alexa.NET`

## Expected  behavior

Installs the latest version of `Alexa.NET`. It should work as it targets .NET Standard 1.6.

## Actual behavior

Fails with the following output:

[code]

## Workaround

Editing the project file by hand works:

[

[2017-03-28 18:50] kraigb commented on #4237
@tomkuijsten Other than changing the typo "required" to "requires" after Package A, where is the mismatch? Are you referring to the >=1.0 in the Package C box (which doesn't match other diagrams)? Otherwise the diagram shows A needing B 1.0 and C needing B >=2.0, which is what the text says.

[2017-03-28 18:55] mishra14 commented on #4780
Investigating.

[2017-03-28 18:58] jainaashish commented on #4915
@Mythreyeehr how did you created this Logger package? and look into created nupkg if you've any valid library assembly in there.

Ideally, you should be using `dotnet pack project.json` command to create the right nupkg.

[2017-03-28 19:11] mishra14 opened #4919 "nuget.exe pack does not accept --help"
[code]

Work around: use `-h`

[code]

[2017-03-28 19:12] mishra14 commented on #4919
@rohit21agrawal

[2017-03-28 19:14] rohit21agrawal commented on #4919
nuget.exe is not a netcoreapp, and won't accept arguments with a double ```--```

[2017-03-28 19:14] #4919 closed, assigned to nobody

[2017-03-28 19:16] mishra14 opened #4920 "NuGet.exe is not fully localized"
Currently nuget.exe is not fully localized. we localize the vsix.

This leads to some hard coded localized strings and some english strings -

[code]

[2017-03-28 19:34] jainaashish commented on #4918
@livarcocc since this package is a prerelease version, which is why it failed to add it via `dotnet add package` command. Use `-v 1.0.0-*` it will be able to get prerelease versions and add this package successfully.

We're already tracking this issue via https://github.com/NuGet/Home/issues/4699 to add support for -prerelease flag or something to allow users to add prerelease versions as well wit

[2017-03-28 19:34] #4918 closed, assigned to nobody

[2017-03-28 19:44] jainaashish commented on #4904
Taking this forward in email. Will explain the discussion here later.

[2017-03-28 19:48] jeromelaban opened #4921 "Inconsistent behavior between VS2017 and cli restore command regarding contentFiles inclusion"
Using nuget Version: 4.0.0.2283 and VS2017+26228.4, restoring a package that contains "compile" content files:
- nuget.exe generates a .nuget.g.props file that only contains imported .props files
- VS2017 generates a .nuget.g.props file that contains all the "compile" contentFiles, making builds from the IDE fail because of duplicate items sent to the CSC task.

This happens because _NuGetContentI

[2017-03-28 20:30] RyanDawkins commented on #3975
Is there a solution for when using this on a build server? Or do we need to install VS 2015?

[2017-03-28 20:41] rrelyea commented on #3975
NuGet.exe v3.5 requires msbuild 14 on the machine. Sorry.
NuGet.exe v4.0 should not have that problem, and also properly works with VS 2017's msbuild (which is now no longer installed machine wide).
@RyanDawkins  - does that solve it for you?

[2017-03-28 20:49] GitMonkey007 commented on #4780
The title of this issue seems to have changed... Just to clarify, this issue also occurs on English language systems. Occurs under en-GB.

[2017-03-28 21:08] rrelyea commented on #1599
I'm unsure if "update 1" is a thing.

I've updated "4.3" milestone to describe it as:
    4.3 will be the working name of the next major update after 4.1.
    POR: It will ship with what is internally called VS 2017 "15.3"

[2017-03-28 21:13] mishra14 opened #4922 "dotnet add package command does not provide helpful message if no stable version is available."
more info: https://github.com/NuGet/Home/issues/4918

[2017-03-28 21:15] jainaashish commented on #4891
When you're CPS and also declare TargetFramework property `<TargetFramework>net45</TargetFramework>` then NuGet treat it as .net core based project which means it waits for the nomination from project system in order to do restore for the packages which you might not be doing. So even though you added packages via `PackageReference` but they are never restored or added into project itself. You can

[2017-03-28 22:05] dazinator commented on #4891
Thanks @jainaashish  - I figured out the issue in the end, and I raised this: https://github.com/dotnet/sdk/issues/1051

I'll close this issue.

[2017-03-28 22:05] #4891 closed, assigned to nobody

[2017-03-28 22:20] livarcocc opened #4923 "Suggest needed: equivalent API for dotnet add package -s command"
_From @hongdai on March 28, 2017 21:9_

Hi,
I need to use dotnet add package -s to add/restore a nuget package to a .net core project. I need to do it in runtime. Is there an equivalent API I could use so that I do not need to create a process?

Thanks,
Hong

_Copied from original issue: dotnet/cli#6179_

[2017-03-28 22:21] livarcocc commented on #4923
These APIs are owned by NuGet. So, moving this issue there.

[2017-03-28 23:02] #4885 closed, assigned to jainaashish

[2017-03-28 23:09] jainaashish commented on #4885
Merged to release-4.3.0-beta1 branch as well df70151ad3e7c1a5b51c8b7c0e057ef0feb88bad

[2017-03-28 23:19] kraigb commented on #4551
@rohit21agrawal Where can I find source material for the necessary docs?

[2017-03-28 23:37] kraigb commented on #4270
@rrelyea Changes made. Please verify and close this issue.

[2017-03-28 23:39] kraigb commented on #4341
@piotrpMSFT Done, see https://docs.microsoft.com/en-us/nuget/schema/nuget-config-file.

[2017-03-28 23:41] kraigb commented on #3987
Added -recursive to the CLI reference, see https://docs.microsoft.com/en-us/nuget/tools/nuget-exe-cli-reference#restore

[2017-03-29 00:25] vijayrkn commented on #4360
@rohit21agrawal When `<IsTool>true</IsTool>` the output dll is getting copied to the tools folder directly instead of tools\targetframework\ folder when the project is built for multiple frameworks.

When IsTool is not set, then dlls are getting copied correctly to lib\targetFramework\ folder correctly.

Is this a known bug?

You mentioned setting $(BuildOutputTargetFolder) = tools as work-around

[2017-03-29 00:27] rohit21agrawal commented on #4360
@vijayrkn use the workaround of $(BuildOutputTargetFolder) only when you are not using $(IsTool) = true. The combination of both wouldn't work.

[2017-03-29 00:31] vijayrkn commented on #4360
When I am using  `<IsTool>true</IsTool> ` and want the output to go to tools\{targetframework}\ instead of tools\, is there a work-around?

[2017-03-29 00:32] rohit21agrawal commented on #4360
IsTool doesn't do anything special apart from adding the output to tools folder. so you can achieve the same result by just setting BuildOutputTargetFolder to tools.

[2017-03-29 00:33] vijayrkn commented on #4360
Ah. got it. that will work for now. Thanks!

But it would be really good if `<IsTool>true</IsTool>` behavior is fixed.

[2017-03-29 00:40] scottbommarito opened #4924 "Default ReportAbuseUriTemplate is hardcoded to nuget.org"
As noted in https://github.com/NuGet/NuGet.Services.Index/pull/57, [`nuget.exe` has a fallback for a missing ReportAbuseUriTemplate in `index.json` to use the value for `nuget.org`](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol.Core.v3/Resources/ReportAbuseResourceV3.cs#L19).

This is bad for a number of reasons:
1 - The field will show garbage if the user is using a

[2017-03-29 01:26] terrajobst commented on #4699
At the very least the error message needs to change. This is the current experience:

[code]

The message implies that the package isn't compatible, not that it cannot be found. FWIW I'm not a fan of the `-v <version>` number as the sole way to install pre-release packages. The whole point of using the CLI to install the package is so that I don't have to look up the version number on NuGet org. I

[2017-03-29 01:44] timheuer commented on #4699
@terrajobst is right. There are actually two things here. Bug: the error message is WRONG. Feature: add support for grabbing prerelease.

How can we at least fix the error message?

[2017-03-29 03:15] davkean commented on #4463
@jdasilva Sorry missed this comment (for some reason NuGet issues go to my personal email).

Yes we'd consider anything blocking multiple projects from building to a common intermediate as a bug - this is the reason that we prefix most things in obj with the project name. This issue is the last one that I know that is blocking building to a common intermediate folder (MSBuild fixed their last one)

[2017-03-29 04:39] emgarten commented on #4809
@Kralizek I'm not able to repro this. ``nuget.exe restore test2.sln`` restores the project correctly for me. Are you able to repro the same result on other machines?

@jrc60752 does restore create the obj\project.assets.json file for you?

[2017-03-29 06:18] AndyTian-Devops commented on #4884
@emgarten the default  "Microsoft.NETCore.UniversalWindowsPlatform" on VS2017 is 5.2.2. So i update the package to 5.1.0. After that i try to install Newtonsoft.json 10.0.1 and it installs successfully.
![uwp522](https://cloud.githubusercontent.com/assets/12235523/24441104/96e06c76-148a-11e7-9446-9dfc7db695c1.png)

[2017-03-29 06:38] shanselman commented on #4771
I am seeing this locally also.

* Add ANY tool before you add a reference
* Then try to add a reference "`dotnet add package Newtonsoft.Json`"

[code]

[2017-03-29 08:01] zjrunner commented on #4118
confirmation this is a bug/regression?  Sounds like (1) incorrect return code and (2) double auth attempts with second improperly sending in the IsRetry flag?

[2017-03-29 08:10] derigel23 commented on #1359
So, what is the status of the issue? Will nuget.org support SemVer 2.0?

[2017-03-29 08:14] Mythreyeehr commented on #4915
I used `nuget pack logger.nuspec `  command. I shall give a try with what you suggested

[2017-03-29 08:19] derigel23 commented on #2576
Is it duplicate of #1359?

[2017-03-29 08:19] xavierdecoster commented on #1359
A quick update on this issue: we're working hard on adding SemVer 2.0 support to nuget.org.
In fact, many semver2 issues are in [our current milestone](https://github.com/NuGet/NuGetGallery/milestone/84), but please note we'll have a phased deployment approach (so it may require an additional sprint to fully unlock semver2 support).

[2017-03-29 08:25] xavierdecoster commented on #2576
Closing as duplicate of https://github.com/NuGet/Home/issues/1359

[2017-03-29 08:25] #2576 closed, assigned to harikmenon

[2017-03-29 09:04] Mythreyeehr commented on #4915
I tried creating using the `dotnet pack project.json `command  it creates both .nupkg and .symbols.nupkg.

But in this case, packaging succeeds even if there is no .nuspec file. This was little surprising for me. I always assumed .nuspec file is required for creating a package.

Anyhow, restore still fails.

[2017-03-29 10:29] blackcity commented on #4803
Come on NuGet guy's. This problem has been reported at least one year ago. ContentFiles did not work in project.json and also do not work in the new csproj based projects. We need at least a way to copy additional assets to the project. This can't be too hard.

[2017-03-29 10:57] wayne-o commented on #4778
Any news on this? Seems to be a bit of a blocker for us

[2017-03-29 11:55] CornedBee commented on #4614
Another example: type "entity core" in the search box. First result is "MySql.Data.Entity". Second is "EntityFramework" (that's the EF6 thing, not EF Core). Fourth result is "Miscrosoft.Aspnet.WebApi.Core" (nothing to do with EF), fifth is "NuGet.Core" (ditto).

"Microsoft.EntityFrameworkCore", which is what I actually want, is the 17th result and not even visible without scrolling down. It appear

[2017-03-29 14:08] RyanDawkins commented on #3975
I'm having the same problem where it cannot find any of the packages.

I have NuGet.exe v4.0 and I'm using VS2017. My problem seems very similar to https://github.com/NuGet/Home/issues/4091

@rrelyea

[2017-03-29 16:16] Eilon opened #4925 "NuGet.exe command line help uses HTTP link to docs even though HTTPS is available"
## Details about Problem

NuGet product used: NuGet.exe
NuGet Version: 4.0.0.2283

## Detailed repro steps so we can see the same problem

1. Run NuGet.exe from Windows command line without any params
2. The help output shows an HTTP link even though HTTPS is available:
   * http://docs.nuget.org/docs/reference/command-line-reference
   * Could be: https://docs.nuget.org/docs/reference/command-lin

[2017-03-29 16:30] dferretti opened #4926 "dotnet restore fails with 401 unexpectedly"
## Details about Problem

NuGet product used: dotnet.exe

NuGet version (x.x.x.xxx): `dotnet nuget --version` 4.0.0.0

dotnet.exe --version (if appropriate): 1.0.0

VS version (if appropriate): 2017, but failing through command line in a test project too

OS version (i.e. win10 v1607 (14393.321)):
    dotnet --info
    .NET Command Line Tools (1.0.0)

    Product Information:
     Version:

[2017-03-29 16:59] dferretti commented on #4926
Some more info - when I only use the nuget.org package source, any misspelled package name will fail the restore task with a message like `C:\Program Files\dotnet\sdk\1.0.0\NuGet.targets(97,5): error : Unable to resolve 'xyz' `
When I add my VSTS package source back in, and remove NEST (and still include a package from my feed) everything works fine. But when I add a package with a misspelled name

[2017-03-29 17:17] hongdai commented on #4907
@emgarten Any other suggestions to workaround the issue?

[2017-03-29 17:30] livarcocc opened #4927 "dotnet restore failing"
_From @dferretti-fig on March 29, 2017 15:33_

`dotnet restore` fails unexpectedly on certain packages for me and I can't figure out why.

I have a private nuget repo hosted through the VSTS Packages extension, and my NuGet.Config looks like (as described here https://www.visualstudio.com/en-us/docs/package/nuget/auth#dotnet-core)

    <?xml version="1.0" encoding="utf-8"?>
    <configuration>

[2017-03-29 17:30] livarcocc commented on #4927
_From @dferretti-fig on March 29, 2017 16:15_

Matching stack overflow question: http://stackoverflow.com/questions/43098017/dotnet-restore-failing-when-mixing-private-nuget-feed-and-nest

And console output from running with more verbosity:

    C:\Users\davidf\temp\dotnet>dotnet restore -v diag
    C:\Program Files\dotnet\sdk\1.0.0\MSBuild.dll /NoLogo /ConsoleLoggerParameters:Verbosity=Minimal /

[2017-03-29 17:33] livarcocc opened #4928 "dotnet restore ignore's BeforeTargets="Restore" when using sub projects"
_From @schmitch on March 29, 2017 16:24_

Currently we have a project defined like that:
[code]

now we have defined some Restore Targets inside our project1.csproj:
[code]

However when running dotnet restore from the root folder it does not restore the npm node_modules, we need to explicitly call `dotnet restore src/envisia_cooperate`, which than works.

## Environment data
`dotnet --info` outpu

[2017-03-29 17:33] livarcocc commented on #4928
I believe there is some issue about the targets firing when restoring a solution versus a project. In any case, moving this issue to NuGet/Home.

[2017-03-29 17:39] Livven commented on #4234
I'm getting the same issue, even with new projects straight from the `Class Library (.NET Framework)` template. The value of the `AssemblyInformationalVersion` attribute (or whether it even exists) doesn't seem to matter (@thoemmi).

Repro (using nuget 3.5):

1. Create new project from `Class Library (.NET Framework)` template.
2. Run `nuget spec` in the project folder.
3. Run `nuget pack <Project

[2017-03-29 17:40] element533 commented on #1823
I would like to see release notes as well. I use Jenkins to generate release notes for my packages from Jira issues linked to a given release. Letting other engineers see them would improve adoption of new versions of my libraries.

[2017-03-29 17:50] zhili1208 commented on #3975
@RyanDawkins Could you explain your problem more? what's the scenario (restore?pack?) and how you use nuget.exe? Did you use "MsbuildPath" or "MsbuildVersion"? what's the error message?

If you just want to restore with VS 2017, "nuget.exe restore" should works well.

[2017-03-29 18:13] emgarten commented on #4803
@blackcity this issue is currently narrowed down to .pp files not being transformed for NETCore projects. If you are unable to get contentFiles to work at all then you may have a package that is authored incorrectly. Would you own a new issue explaining the issues you are currently seeing along with repro steps and a copy of the package that doesn't work?

[2017-03-29 18:15] rrelyea commented on #4893
This is the downlevel (VS2015) side to #4892
We need to consider which new TFMs from NuGet 4.3 need to be supported on VS2015.
Clearly NetStandard2.0 is a requirement.
Need to discuss Unity and Tizen with appropriate folks.

Current thought is that this is part of NuGet.tools.vsix v3.5.1 release for VS2015. We will selectively pick which fixes go there. TFMs being the key thing.

[2017-03-29 18:16] jainaashish opened #4929 "Avoid user specific data from nuget props/targets files"
Starting after my team updated to VS2017, the .nuget.props file for one of our projects now started to have user-specific data in it:

[code]

So either we should get rid of user specific data from these properties (have relative paths) or include this in .gitignore file by default.

[2017-03-29 18:29] 304NotModified commented on #1823
We stopped with a Changelog in the nuspec because of this missing feature.

[2017-03-29 18:30] emgarten commented on #4907
@jainaashish @zhili1208  can you take a look at this?

[2017-03-29 18:32] emgarten commented on #4778
@wayne-o the fix for this issue is to update the error message only. You likely want to open a new issue for the problem you are hitting.

[2017-03-29 18:47] dferretti commented on #4926
I had created a similar issue in the dotnet cli project that was moved over here - so can close this one

https://github.com/NuGet/Home/issues/4927

[2017-03-29 18:47] #4926 closed, assigned to nobody

[2017-03-29 18:50] emgarten commented on #4929
Users can specify any folder as the global packages folder during a restore, and the way build and other tools discover that path is through the project.assets.json and targets files. So this isn't something we can get rid of.

As already mentioned users should not check these intermediate files into source control. Updating .gitignore sounds like the right approach.

[2017-03-29 18:51] dferretti commented on #4927
False alarm it looks like! The nuget config was not quite correct - the <packageCredentials> should have been a <packageSourceCredentials>. My guess is that some of the packages from the VSTS feed were cached (a separate project had its own config with the correct element, to put them in the cache to begin with) which is why they appeared to resolve correctly even though they weren't authenticatin

[2017-03-29 19:01] mfaulkinbury commented on #4068
@rrelyea @yishaigalatzer

Just fetched the latest and resolved conflict with base.
Please provide an update on the status of this PR.

[2017-03-29 19:28] scottbommarito opened #4930 "Client incorrectly reads title from V2 NuGet.org feed"
Consider [Newtonsoft.Json](https://www.nuget.org/api/v2/Packages?$filter=Id%20eq%20%27Newtonsoft.Json%27%20and%20Version%20eq%20%279.0.1-beta1%27%20and%20true).

Outside of the `<m:properties>` node, there is a `<title>` node that contains the ID.
Inside the `<m:properties>` node, there is a `<d:Title>` node that contains the title.

[`V2FeedParser` reads the title from outside the `<m:properties>

[2017-03-29 19:40] blackcity commented on #4803
It is exactly like described in this post:
https://github.com/NuGet/Home/issues/4803#issuecomment-287523738

1) Cannot see the files/folders in Solution Explorer after the package has been installed.
2) Closing and reopening the solution shows files/folders (folders with a red cross) but
3) Files/folders are not physically copied to the solution (only referenced?)
4) Uninstalling leaves orphaned e

[2017-03-29 19:46] mukhole opened #4931 "Filename or extension is too long."
Nuget.exe hits the command line string limit and displays error "Filename or extension is too long."  for solutions having a large number of projects (200+) and which reside deep within a drive:
nuget restore C:\User\<name>\documents\projects\...\..\..\..\*.sln.
Directory shortening is a workaround for this problem, but the same problem manifests itself if the project name (<ProjectName> tag in .v

[2017-03-29 19:56] emgarten commented on #4803
This is not supported with project.json/PackageReference. With packages.config users had to run install and uninstall commands explicitly and this was done through Visual Studio.

With project.json/PackageReference packages can float which allows them to change from restore to restore without an explicit install/uninstall action being performed. For this reason the ``contentFiles`` folder is immut

[2017-03-29 20:45] niemyjski commented on #4854
@rohit21agrawal I did a quick search but I can't find them now. I saw it mentioned a few times in the conversion guides and I thought I saw it in the csproj docs. Either the blogs / docs were updated or I'm seeing things. But I wouldn't have logged this issue or came up with this code if I had seen it done this way.. I would have tried `<None Include` if I saw it....

[2017-03-29 20:45] #4854 closed, assigned to rohit21agrawal

[2017-03-29 20:52] blackcity commented on #4803
Thanks @emgarten for this detailed answer. So init.ps1 and and targets work in ASP.NET Core projects (csproj)?
 Currently it is a bit confusing because of the lack of docs. But I'll try it out.

[2017-03-29 21:09] emgarten commented on #4803
Yes, if installed using Visual Studio init.ps1 will be executed. This works on all types of projects. The script will also run when opening the solution if the nuget powershell console is open.

If someone manually edits the csproj outside of Visual Studio and restores then it will not run, but you could catch this scenario in a targets file where the config is missing and fail the build with a he

[2017-03-30 00:08] mishra14 commented on #4780
Should be fixed with NuGet/NuGet.Client#1269. Need to figure out RI check in plan. @rrelyea

[2017-03-30 00:32] karann-msft opened #4932 "For UWP projects, keep TPMinV and project.json in sync"
keep TPMinV (proj property) in sync with project.json frameworks version for uap during any package install or update or uninstall (from VS as well as any CLI)

[2017-03-30 00:34] karann-msft opened #4933 "(Spike) Can server send package metadata that PMUI can consume to conditioanlly allow install/update of a package based on TFM and TFM versions"
Finalize the design by Milestone 4.2

[2017-03-30 04:13] steventmayer commented on #3975
@rrelyea With the VSTS tasks, is Nuget 4.0 an option, or do we need to include 4.0 in source for this?

[2017-03-30 05:51] natidea commented on #4803
Sorry just getting to this after my vacation. I took a look at the pp file transformation issue and found a couple of things:
- For the [ContentFilesExample](https://www.nuget.org/packages/ContentFilesExample/) package, I don't see pp files listed as dependencies in the assets file. They occur in the "libraries" but we are only processing content from the active TFM here: [Microsoft.PackageDepende

[2017-03-30 06:18] emgarten commented on #4803
I should have mentioned, I had to modify ``ContentFilesExample`` locally to add the netstandard TFM, this package was originally created for a UWP tutorial. I'll take a look at updating it on nuget.org soon.

[2017-03-30 06:59] patricknolan opened #4934 "Targeting Multiple Frameworks and dotnet pack fails"
Attached is a copy of my project file Configuration.EntityFramework.csproj (Configuration.EntityFramework.zip).

It was converted from xproj to csproj when I installed 2017.

I am targeting multiple frameworks
`<TargetFrameworks>netcoreapp1.0;net462</TargetFrameworks>`

And performing a dotnet pack command
[code]

When I try and build I get the error  - (full error attached as msbuild.error.txt)
E

[2017-03-30 07:46] lythix commented on #4706
I've just started having a look at this repo (dotnet/roslyn-project-system) and discovered this Nuget fail/error when trying to build. Was there a fix/workaround to get past it? It blocks doing a build within Visual Studio 2017.

[2017-03-30 08:51] v-luzh commented on #4656
@rrelyea @mishra14 Same issus occur when installing package **'Microsoft.CSharp 4.3.0'** into .NetCore and .NetStandard templates as below screenshot.
![samewithmicrosoft csharp](https://cloud.githubusercontent.com/assets/20632625/24495825/f58c09ae-1568-11e7-948a-0b63dd938f10.PNG)

[2017-03-30 09:03] AndyTian-Devops opened #4935 "[Test Failure] Errors occur when installing package "MvcScaffolding""
**NuGet Version:** NuGet 4.3.0-Beta1-2447
**VS Version:** Dev15 VSUWPT 26329.01
**OS Version:** Windows 10 RS2_Release

**Repro Steps:**

1.  Create a C# MVC application
2.  Open PMC, Input **install-package MvcScaffolding -Version 1.0.0**

**Expected Result:**
Package can be installed successfully.

**Actual Result:**
Errors occur when installing package.

PM> Install-Package MvcScaffolding -Vers

[2017-03-30 09:04] AndyTian-Devops commented on #4935
This issue also happened on d15rel + NuGet 4.1 RTM
This issue also happened on Dev14 MU35 + NuGet 3.5 RTM

[2017-03-30 09:09] AndyTian-Devops commented on #4935
"MvcScaffolding" will install new commands for the Console, this issue causes user can not use these new commands.

**Expected:**
![20170330](https://cloud.githubusercontent.com/assets/12235523/24496619/4fa17350-156b-11e7-933d-4d06244606eb.png)

**Actual:**
![actual](https://cloud.githubusercontent.com/assets/12235523/24496707/9233e5fe-156b-11e7-8546-634468ea5f10.png)

This scenario comes from: ht

[2017-03-30 09:35] davkean commented on #4706
@lythix You should be able to build via the command-line first before opening VS - and it shouldn't block. If it still does, turn off package restore during build in tools -> options -> NuGet package manager.

@emgarten I did some research and this is basically because when PackageReference was implemented for old csproj, it was implemented using the MSBuild construction model not the evaluation m

[2017-03-30 09:36] davkean commented on #4706
That sounds like my team's issue - but regardless, this shouldn't stop restore for every other project. It also appears to block Test Explorer.

[2017-03-30 09:36] v-luzh opened #4936 "Intellisense doesn’t work when typing ‘Get-Package n’ in PMC of the project with the packages ‘N***’ installed"
**NuGet Version:** NuGet 4.2.0-RTM-2446
**VS Version:** D15PreRel 26329.00
**OS Version:** Windows 10 RS2_Release 15063.2.170323-1837

**Repro Steps:**
1. Create a C# Class Library (.NET Framework) via VS.
2. Open the ‘Manage NuGet Packages…’ for the project.
3. Install packages **‘Newtonsoft.Json 10.0.1’** and **‘NUnit 3.6.1’**.
4. Open Package Manager Console.
5. Type **‘Get-Package n’** and hit

[2017-03-30 10:22] TAGC commented on #4719
I've encountered this issue just now too, as it was causing problems with source-stepping when I published these symbol packages to my MyGet feed. I've tried creating these packages using dotnet SDK 1.0.1 on both a Windows 64-bit development machine and within Bitbucket Pipelines CI builds using a variant of the microsoft/dotnet:latest Docker image.

This issue only seems to occur when running wit

[2017-03-30 11:14] tomkuijsten commented on #4237
@kraigb you are right, I think I was looking at the versions mentioned in Package A and C. Can be closed.

[2017-03-30 13:10] KrupaMoliya opened #4937 "How to give Floating version in nuget package to get latest dependency."
I refered Dependency resolution in NuGet 3.x at below url
https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution#dependency-resolution-in-nuget-3x

There are 4 rules
1) Lowest applicable version
2) Floating versions
3) Nearest wins
4) Cousin dependencies

1st, 3d and 4th we can define in package while 2nd we can set in package.json

How can i set floting version on nuget pac

[2017-03-30 14:13] RyanDawkins commented on #3975
I am running nuget.exe on a build server and running restore. My server only has msbuild version 12 installed.

@zhili1208

[2017-03-30 15:31] kraigb commented on #4237
Understood...I'll tweak the image to be consistent with the others to avoid future confusion. In the meantime, @karann-msft can you close?

[2017-03-30 15:52] blackcity commented on #4803
@emgarten This seems to work now. We are using init.ps1, build props and targets.
Last question: We have a NuGet package with 3 TFM (net45, net461, netstandard1.6):
<pre>
lib
   net45
       library.dll    // for traditional Framework
   net461
       library.dll    // for ASP.NET Core (full Framework)
   netstandard1.6
       library.dll    // for ASP.NET Core
</pre>

The net461 library can only

[2017-03-30 16:08] alpaix opened #4938 "NuGet.exe uses the same cached credentials for all feeds in the host"
As reported by @ygeelen-tb.
The customer set up a multi-tenant host hosting feeds requiring different permissions and/or set of credentials:
[code]

The expectation is that NuGet.exe would send correct set of credentials to each feed URI. Instead it always sends the same credentials of the first accessed feed. The problem is NuGet caches credentials using host segment of feed URI only.

The bug #2

[2017-03-30 16:43] anangaur opened #4939 "NET Core 2.0: VS/Dotnet CLI should start using existing NuGet functionality: FallBack folders"
Tracking issue for dotnet issue : https://github.com/dotnet/cli/issues/6100. May require some work at NuGet end.

[2017-03-30 16:43] emgarten commented on #4803
NuGet will take the highest compatible asset. If the project is net462 for example it will take net461. If the project is net46 it will use net45 since net461 is not compatible. If you use a targets file in the package instead of the lib folder you can select the dll based on other project properties instead.

[2017-03-30 16:46] anangaur commented on #4897
[Rob] Measure current performance for restore times as part of the Perf Infra work being done with Apex in S116. Find bottlenecks and then improve.

[AG] This is an epic and hence individual perf fixes can be linked to this issue.

[2017-03-30 16:49] emgarten commented on #4706
Test explorer uses the list of installed packages to find the test adapter. NuGet is likely passing the exception up to test explorer here when it finds an invalid project. I think this is the correct behavior, silently ignoring a bad reference and returning the valid ones found seems like it could cause confusion.

I agree, this should be contained to only the project or project closures that are

[2017-03-30 17:04] v1ct0rv commented on #4808
Hi,

I'm creating a .net standard library.

I'm running `$ /c/Program\ Files\ \(x86\)/Microsoft\ Visual\ Studio/2017/Enterprise/MSBuild/15.0/Bin/MSBuild.exe /t:pack MyProyect.csproj` I'm getting the error:

[code]

This is the content of MyProject.csproj:
[code]

What I'm doing wrong?

[2017-03-30 17:07] mishra14 commented on #3616
done with the last commit : https://github.com/NuGet/NuGet.Client/commit/eefbd46c83eedc8578f887a02781c126b82e9b99

[2017-03-30 17:07] #3616 closed, assigned to mishra14

[2017-03-30 17:08] mishra14 commented on #4780
The commit has been checked into dev, release-4.1.0-rtm, release 4.2.0-rtm and 4.3.0-beta1.

[2017-03-30 17:08] #4780 closed, assigned to mishra14

[2017-03-30 17:25] zhili1208 commented on #3975
what's the error message? you mentioned "I'm having the same problem where it cannot find any of the packages", your issue is "nuget can't load msbuild" or "can't find packages"? and what's your nuget build number?

[2017-03-30 17:25] emgarten commented on #4808
@victorv977 that is an msbuild error and not related to Pack. You should see the same result with ``/t:clean``. Typically this error happens when msbuild is unable to determine which project to operate on, but in your example you specified the project directly, so it's not clear why this would happen.

[2017-03-30 18:40] joelverhagen opened #4940 "nuget.exe install fails with confusing error when dependencies are not on -source"
Tried nuget.exe 4.0.0.

Run this command:
[code]
or
[code]

It fails since `jver.semver1` has dependencies that are not on `https://dev.nugettest.org/api/v2`. This seems reasonable but the error message says that it tried NuGet.org, which has the desired package. Confusing log line:
[code]

Full:
[code]

If the package is already in the global packages folder, specifying the version explicitly wor

[2017-03-30 19:15] joelverhagen commented on #4940
Log without `-verbosity Detailed`:

[code]

[2017-03-30 19:26] rrelyea commented on #4940
@zhili1208 - this sounds similar to the 4.1 fix we did in VSIX. Same issue?

[2017-03-30 19:27] rrelyea commented on #4940
@joelverhagen  - did this work before? in what version? (remove semver from your repro?)

[2017-03-30 19:28] joelverhagen commented on #4940
@rrelyea, I did not try older versions. SemVer version has nothing to do with this. This is a typical old SemVer 1.0.0 package.

[2017-03-30 19:29] joelverhagen commented on #4940
Oh wait, I did try latest `dev` build. Still reproes.

[2017-03-30 19:38] rrelyea commented on #4940
@zhili1208 - if this worked in 3.5, we'd want to discuss a fix for 4.1.

[2017-03-30 19:39] emgarten commented on #4940
The 4.1 fix was around checking licenses which would not be part of command line.

👍 on fixing this for the next release.

[2017-03-30 20:18] ygeelen-tb commented on #4938
There's a second, possibly related, issue that has been bothering us for a long time. Visual Studio 2015 and now also Visual Studio 2017 tend to prompt for credentials in a dialog window often. I think this happens when you have not saved the credentials using your default browser for the domain of the feeds. (The feeds have a web interface with a login page.)

Visual Studio and nuget.exe should n

[2017-03-30 20:20] blackcity commented on #4803
Great answer thanks. Really last question: What if the project is net462 and the NuGet package provides TFM for netstandard1.5 and net461. Does the project choose the netstandard1.5 library because it is the highest compatible TFM or does it choose net461 because it is more specific.
In your tests we added a netstandard1.4 TFM as replacement for net461, but the project choosed the net45 assembly w

[2017-03-30 20:20] alpaix commented on #4938
@ygeelen-tb This does sound like a different issue. Please file a new one so we could investigate and address it separately.

[2017-03-30 20:36] zhili1208 commented on #4940
Per rob, moving to future-0

[2017-03-30 20:50] emgarten opened #4941 "Command line MSBuildVersion parameter should support 15"
nuget.exe auto detects msbuild 15, but fails when passing in ``-MSBuildVersion 15``

[code]

The help also does not list 15.
[code]

//cc @AArnott

[2017-03-30 20:55] emgarten commented on #4803
If the project is ``net*`` then a compatible ``net*`` from the package will be used. If there are no compatible matches then it will fallback to netstandard. It is debatable which should be used, but NuGet currently favors keeping the same framework as the project.

[2017-03-30 21:07] rrelyea opened #4942 "After enabling PackageReference support for projects, some packages may not install or work correctly"
As described in a recent NuGet team blog post "[NuGet now fully integrated into MSBuild](http://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html)", after enabling PackageReference support for projects such as WPF, Windows Forms, or ASP.NET, some packages may not install or work correctly.

The relevant part of the blog post is referenced below:

The NuGet team is current consid

[2017-03-30 21:09] rrelyea commented on #4876
Thanks for reporting this. We are internally discussing how to best support the ecosystem.

This general problem, and the steps the NuGet team needs to drive, are explained here: https://github.com/NuGet/Home/issues/4942

[2017-03-30 21:30] dazinator opened #4943 "[Bug with repro] - Sdk attribute and vstemplate nuget wizard interop"
## Details about Problem

UPDATE: sample to reproduce here: https://github.com/dazinator/VSProjectSystem/tree/issue-nugetwizard

1. Run the sample
2. Create the project from the project template
3. During project creation, nuget will error:

![image](https://cloud.githubusercontent.com/assets/3176632/24580249/c24ea4da-16fc-11e7-8093-b8d358e74fef.png)

Details:

I have a project template, and insid

[2017-03-30 22:08] kraigb commented on #4237
I've updated the image. Thanks for filing the issue in the first, as it did point out that one inconsistency. :)

[2017-03-30 23:21] sbomer opened #4944 "NuGet.Config resolution problem when restoring a .sln"
When restoring a .sln with a project that has a dependency on a package from a non-default nuget feed, restore doesn't find the NuGet.Config in some cases. There appears to be a problem with the path resolution logic, as I can toggle the behavior by changing the name of one directory.

## Details about Problem

NuGet product used: dotnet.exe

dotnet.exe --version (if appropriate): `2.0.0-preview1-

[2017-03-30 23:27] sbomer commented on #4944
@ericstj helped investigate, and found that moving `NuGet.Config` out of the solution directory causes both scenarios to work, which may be a suitable workaround for others encountering this.

[2017-03-30 23:48] v1ct0rv commented on #4808
@emgarten I ran `dotnet pack` and works, the package is generated, this another workaround until nuget 4.0 guy's fix the issue.

[2017-03-30 23:50] trampster opened #4945 "Update cli doesn't work on .net standard/core csproj"
## Details about Problem
NuGet.exe 4.0.0.2283

## Detailed repro steps so we can see the same problem

1. Create a .net standard csproj
2. Install a nuget package (not the latest)
3. Run NuGet update YouProject.csproj
Expected: PackageReference updated to the lastest
Actual: Unable to update. The project does not contain a packages.config file.

.net standard/core projects don't have packages.conf

[2017-03-31 01:02] davkean commented on #4706
I can't see how `Error occurred while restoring NuGet packages: System.ArgumentException: '$(NetStandardImplicitPackageVersion)' is not a valid version string.` is a useful nor actionable error for the user.

[2017-03-31 01:20] lythix commented on #4706
Agreed. My experience, as a user, when encountered with this error message was confusion. I did not know what I had done (nothing, really. Restoring Nuget packages is generally the first thing one does so very common timing would be when you first clone a repo).
Given it was not my codebase (yet!) the error message, although descriptive of what was missing, gives no indication on what to do about

[2017-03-31 01:21] davkean commented on #4706
@lythix If you pull the latest from master, restore should work for these projects because of https://github.com/dotnet/roslyn-project-system/pull/1900.

[2017-03-31 01:25] bbowman commented on #4751
@kzu

[2017-03-31 06:32] lythix commented on #4706
Tested that from a fresh clone and all built correctly.

I did see some errors, first attempt but a second build passed. Possibly due to some build order dependencies not being built in correct order.
Nuget restore worked in Visual Studio 2017 (which wasn't working before).

[2017-03-31 06:33] davkean commented on #4706
Build order should be correct, let me figure out what the cause of this is on Monday.

[2017-03-31 06:48] lythix commented on #4706
No probs.
I will have a look on the weekend and see if I can work out what's going on.
An example of some of the messages that showed up in Nuget Package Manager window (in red... that's new I think)

[code]

I tried it a second time from scratch as I only took a screenshot rather than cut error text first time, and it was slightly different second time.

![2017-03-31_11-32-47](https://cloud.githu

[2017-03-31 06:51] davkean commented on #4706
Yeah that's known, and shouldn't block restore.

[2017-03-31 09:34] mikefonted commented on #4211
The same happens here with NuGet.Server v2.11.3.0

[2017-03-31 09:57] v-luzh opened #4946 "‘Choose NuGet Package Manager Format’ dialog won’t pop out again after canceling installation from ‘Preview’ window with ‘PR’ format selected"
**NuGet Version:** NuGet 4.3.0-Beta1-2447 (Insertable)
**VS Version:** VSUWPT 26330.00
**OS Version:** Windows 10 RS2_Release 15063.2.170323-1837

**Repro Steps:**
1. Check **‘Allow format selection on first package install’** in NuGet Package Manager setting dialog.
2. Restart VS and create a C# Class Library (.NET Framework).
3. Open the ‘Manage NuGet Packages…’ for the project.
4. Go to ‘Browse

[2017-03-31 10:43] mariusGundersen commented on #4125
This is not limited to msbuild references (like https://github.com/Microsoft/msbuild/issues/1756 is limited to), it also applies to nugets that contain only Analyzers (like the [StyleCopAnalyzers](https://github.com/DotNetAnalyzers/StyleCopAnalyzers) project).

[2017-03-31 11:03] NickCraver commented on #4853
Is there any hope of getting this fixed soon? We're ready to merge in `.csproj` ports on several major NuGet packages with millions of downloads and we're blocked by *only* this issue. This is incredibly frustrating.

Remember to port to `.csproj` we had to abandon `project.json` all together and move our projects over. From the moment we do that, the move itself starts to decay if unmerged. We ha

[2017-03-31 12:23] tomkuijsten commented on #4237
No problem, thanks for the not-reported-but-found-during-discussion-bug fix ... 👍

[2017-03-31 12:29] Kralizek commented on #4809
@emgarten I'll check during the weekend (just posted to avoid the issue to be closed due to inactivity)

[2017-03-31 13:47] AlexGuedes1986 commented on #2721
I'm receiving this warning: Dependency specified was System.Net.Http >= 4.3.1 but ended up with System.Net.Http 4.0.0.0. I need to run System.net.Http 4.3.1 in order  to beat an exception that I am receiving:  "Could not load file or assembly 'System.Diagnostics.DiagnosticSource, Version=4.0.1.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. The located assembly's m

[2017-03-31 14:24] JasonRowe commented on #4837
Is there a work around to get the new style csproj PackageReference to work with content files in a nuget package?

example nuspec that worked before package reference.

[code]
In old csproj projects, when installing this nuget file all the files would show up in a tools folder in the project root. Now nothing happens.

The StackOverflow discussion on this issue mentions the work around is content

[2017-03-31 14:50] Richiban commented on #2867
I agree; this would be a seriously useful feature.

In particular I would also like to be able to deprecate specific versions of a package to indicate to anyone trying to install / restore this package that it no longer works (this situation normally arises when you write a client for an API and then the API itself gets deprecated or breaking changes are made). In this case the user should get a w

[2017-03-31 15:24] jdrake3 commented on #493
I am not sure why this is closed as it continues to happen in 2015 today.  Even with .nuget/NuGet.config in place.

[2017-03-31 15:34] jairbubbles opened #4947 "nuget restore fails with version 4.0.0 on a specific solution"
## Details about Problem

NuGet product used: NuGet.exe 4.0.0.2283
Worked before? If so, with which NuGet version: 3.5.0.1938

## Detailed repro steps so we can see the same problem

1. Unzip this example:  [issueNuGetRestore.zip](https://github.com/NuGet/Home/files/886143/issueNuGetRestore.zip)

2.  Execute `nuget.exe restore "projects\win64/MaxHammer.vs2015.sln"` (project.json) or `nuget.exe res

[2017-03-31 16:22] nkolev92 commented on #4938
The 2nd issue that @ygeelen-tb is articulating sounds similar to https://github.com/NuGet/Home/issues/4615

[2017-03-31 17:15] jainaashish commented on #4937
@KrupaMoliya currently there is no other solution then to manually specifying all the dependencies in project.json like you did. But we have this workitem in our backlog to work upon and we'll soon be working on it.

[2017-03-31 17:36] jaredpar commented on #4904
After some discussion the basic problem is that I'm trying something which is not supported.  The projects in Roslyn can be essentially broken up into two categories:

1. PCL producing Net Standard compatible libraries
1. Desktop projects

The errors were coming from my attempt to move 1 above to use PackageReference.  This is not a supported operation.  In order for us to move we'll need to conve

[2017-03-31 17:36] #4904 closed, assigned to nobody

[2017-03-31 18:02] WimBoom opened #4948 "IVsPackageInstaller, method InstallPackage package management format PackageReference"
## Details about Problem
When we use the IVsPackageInstaller, method InstallPackage from dll (Nuget.VisualStudio.dll) in a VSIX template project to create a MVC5 project, the NuGets are installed with the old package management format: packages.config. How can IVsPackageInstaller, method InstallPackage use the latest package management format: PackageReference? In Visual Studio we have select defa

[2017-03-31 18:28] rohit21agrawal commented on #4853
@NickCraver to get you a workaround as fast as we can, can you help me understand how are you packing projects? msbuild or dotnet or VS?

[2017-03-31 18:43] anangaur opened #4949 "Authentication issues for Restore with multi-feeds in nuget.config"
Till now, Following issues are identified:

## Todo:
[see Epic]

## Completed:
- [x] [Authentication] In multi-feed scenario, NuGet install does not honor the feed selected as package source in PM-UI#[5034](https://github.com/NuGet/Home/issues/5034)
- [x] NuGet should install package from local cache even if disconnected from other feeds. #[5035](https://github.com/NuGet/Home/issues/5035)
- [x] Nu

[2017-03-31 19:07] kzu commented on #4751
Care to elaborate @bbowman? ;)

[2017-03-31 19:12] jainaashish opened #4950 "Choose package format dialog always shown for new project on Update tab"
1. Create 2 projects in a solution.
2. Install any package in project1 such that it will show some updates available for this package.
3. Now open manager UI at solution level, and goto Update tab
4. Select the package to update and click Update button on left side.
5. It will show "choose package format" dialog for project2 which isn't expected.

[2017-03-31 19:12] kzu commented on #4858
The point is that for a nugetizer project it makes no sense to restore anything. Maybe the authoring project should set that flag to false then? A package added to such a project is only used to define a dependency that should end up in the resulting nupkg as a dependency, that's all.

Thoughts?

[2017-03-31 19:18] jainaashish commented on #4827
@brunomlopes Can you also try the same scenario with NuGet.exe 4.0 (https://dist.nuget.org/win-x86-commandline/v4.0.0/nuget.exe) and let us know how it goes.

[2017-03-31 19:22] jainaashish commented on #4917
Replied to customer with my findings and asked for more details about the specific scenario. Awaiting customer response.

[2017-03-31 20:02] scovetta opened #4951 "Exception from NuGet.exe -list (invalid version string)"
The current version of nuget.exe fails to list packages from nuget.org that don't conform to valid semantic versioning:

[code]

I'm now listing packages for the pre-release package `Cocotte`:

[code]

This also appears when listing all packages (the operation causes nuget.exe to quit when it gets to 'Cocotte').

This also affects the NuGet SDK (similar to bug #3826).

It appears that the server-s

[2017-03-31 20:34] bbowman commented on #4751
@kzu Sure :-)

The issue here is that Nugetizer can not be used to produce *complete* chocolatey packages ( https://chocolatey.org/ ). Chocolatey has extended the .nuspec to include several new items that they really want their packages to include (See the below image). These items are specified in the nuspec with extra metadata elements.

The fix to this issue is two part:
1. Enchance `IPackageMe

[2017-03-31 20:54] emgarten commented on #4858
A property to disabling restore for the project could work. What causes the project to get restored today? Does it have PackageReferences in the authoring project? Or just child projects?

[2017-03-31 21:41] kzu commented on #4858
Yes, the authoring uses PackageReference. References projects could of course also use them

[2017-03-31 22:45] mishra14 commented on #4305
This has been done. Keeping this open to improve the result format.

[2017-03-31 23:43] jainaashish commented on #4935
This is the issue with the package itself, `mvcscaffolding` has the dependency over `T4Scaffolding` which includes bunch of assembly references, out of which it's missing `Microsoft.VisualStudio.TextTemplating` And since it can't find this assembly, it fails to execute init.ps1 which tries to import-module `T4Scaffolding.dll`

So if you explicitly, install this missing assembly `Microsoft.VisualSt

[2017-03-31 23:55] jainaashish commented on #4946
It can go both ways. Since you already made up your mind to go with PackageReference, and selected it. And then why should it show the dialog again?

Will discuss it with PM for more clarity. Either way, it should be low priority and doesn't feel like a real customer scenario.

[2017-04-01 00:30] jainaashish commented on #4948
Currently it doesn't allow you to specify the package format type in `installPackage` api but we'll add that option soon.

For now, as a workaround you can define `RestoreProjectStyle` msbuild property in your project or template and set it to `PackageReference` then while installing the first package into the project, it will use that property to select the package format type.

`<RestoreProjectS

[2017-04-01 00:38] emgarten commented on #4951
@scovetta this should be improved in NuGet.exe 4.0.0, would you try it out and let me know if you are still able to hit this issue? You can find it here: https://dist.nuget.org/win-x86-commandline/v4.0.0/nuget.exe

[2017-04-01 01:23] mthamil commented on #4858
Is there anything I can do to the project files in the meantime as a work around?

[2017-04-01 01:46] v-luzh commented on #4946
@jainaashish Yes, the priority is low. But we got different results from 'Package.config' and 'PackageReference' formats. In my opinion, the 'Package.config' is better since it provide the user a chance to reselect if he/she clicked the wrong format in step5. :)

[2017-04-01 02:35] ctaggart commented on #4532
@onovotny That workaround package [worked great](https://github.com/fsprojects/Paket/pull/2200/commits/87cc4bc930ee9af470fe4e1b87b605999c88e84c)!

[2017-04-01 02:47] v-nancyj opened #4952 "[Test Failure] Some projects can't be created after installing NuGet client 4.3.0-preview1-2462 (Insertable) under dev folder"
**NuGet Version:** 4.3.0-preview1-2462 **(Insertable)**
**VS Version:** **D15VSUWPT 26404.00**
**OS Version:** Windows 10 RS2_Release 15063.2.170323-1837

**Repro Steps:**
1.	Install NuGet client under [\\nuget\nuget\Share\drops\ci\NuGet.Client\dev\2462\artifacts\VS15\Insertable\NuGet.Tools.vsix](url).
2.	Launch VS.
3.	Create a C# Web Application or UWP project.

**Expected Result:**
The project c

[2017-04-01 02:59] kkarsah commented on #4685
So are you suggesting we leave it unfixed because it is harmless?

[2017-04-01 03:06] scovetta commented on #4951
Thanks @emgarten, correct, this does work in NuGet.exe 4.0.0 (tried under Mono):

[code]

[2017-04-01 03:09] scovetta commented on #1219
This is also broken in 4.0.0.2283.

[2017-04-01 04:30] bbowman commented on #4532
@ctaggart glad it worked!! Hopefully it'll get fixed for real soon :-)

[2017-04-01 06:06] bradwilson commented on #4685
For xUnit.net, we have a workaround. But even if we didn't, the NuGet 2.x code base is dead. They would undoubtedly only fix security issues at this point.

[2017-04-01 10:19] blackcity commented on #4803
@emgarten Thanks for your fantastic support.

Two suggestions.
1) Please provide docs! NuGet is essential for .NET/.NET Core development. Imagine how many developers struggle when it comes to more advanced things like content files, install scripts, build props and targets. There is almost no documentation out there. We have to read through blogs, outdated docs or ask you guys stupid questions. Wh

[2017-04-01 12:25] NickCraver commented on #4853
@rohit21agrawal I have steps and an easy repro for you, an example library is MiniProfiler ([current commit link](https://github.com/MiniProfiler/dotnet/tree/70fd0a66bea2b37202edda9674253ff46b1743a9)). You only need to run this:
[code]
You can see everything [in the simple build script](https://github.com/MiniProfiler/dotnet/blob/70fd0a66bea2b37202edda9674253ff46b1743a9/build.ps1), but here's the

[2017-04-01 14:00] ferventcoder commented on #4751
To give you a general idea, this is the output of `choco new test`

[code]

[2017-04-01 14:08] ygeelen-tb opened #4953 "Visual Studio not using packageCredentials from NuGetDefaults.config"
Visual Studio UI, Package Manager Console, NuGet.exe and dotnet.exe should not rely on the browser cache for Basic HTTP credentials when packageCredentials are configured in NuGetDefaults.config, they should be read from NuGetDefaults.config for each request/query instead.

We have configured multiple private nuget feeds using ProGet, which have the same hostname but different credentials for each

[2017-04-01 14:14] ferventcoder commented on #4751
Pulling out the specific elements:

[code]

We have plans to [implement more items in the nuspec](https://github.com/chocolatey/choco/issues/325) (those may change) as well.  Chocolatey has different needs than NuGet, so while compatible in many respects, we understand the authoring side may never be compatible.

Yes, I know about arbitrary properties. Unfortunately they do not provide a good user

[2017-04-01 15:01] Kralizek commented on #4809
@emgarten I can confirm it worked on my home computer.

Would you please guide me troubleshooting the issue on my office computer?

[2017-04-01 15:12] kkarsah commented on #4685
Thanks Brad

[2017-04-01 15:33] WimBoom opened #4954 "With the package format PackageReference, contentfiles are not shown in the project tree, and not editable"
## Details about Problem
With the package format PackageReference, contentfiles are not shown in the project tree, and not editable.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS UI, Package Manager Console

NuGet version:
4.1.0.2427

VS version:
Microsoft Visual Studio Enterprise 2017 Preview (2) 15.1 (26323.1)

OS version (i.e. win10 v1607 (14393.321)):
win10

[2017-04-01 15:49] ferventcoder commented on #4751
updated comment above

[2017-04-01 16:05] dazinator commented on #4943
Have updated with a sample to reproduce: https://github.com/dazinator/VSProjectSystem/tree/issue-nugetwizard

[2017-04-01 16:57] dazinator commented on #4943
Also, if I switch to using a `<PackageReference>` in my proj file, nuget restores the package when I create the project and this works. However this has the downside that I can't install the package that is bundled with my vsix as nuget package restore can only restore from configured nuget repositories. The wizard extension allows me to install the package from my extensions installation director

[2017-04-01 17:37] bbowman commented on #4751
Another possible solution is have @ferventcoder and friends fork nugetizer to use the custom nuget.core. Chocotizer?

[2017-04-01 17:41] kzu commented on #4751
would it be too bad to provide something like

[2017-04-01 17:44] gitfriend1 commented on #4751
first time i use this so let me chance

[2017-04-02 06:43] valleydesperado commented on #4954
Seems some folks at NuGet decided contentfiles to be immutable:
https://github.com/NuGet/Home/issues/4803

[2017-04-02 12:44] raRaRa commented on #4872
I'm running into the same issue. I was hoping to be able to develop in Visual Studio and have the container running with `dotnet watch`.
The generated NuGet file `*.csproj.nuget.g.props` under `./obj` references files on Windows using absolute path, and as soon the container runs `dotnet watch` then it messes up the file with absolute paths within the container, and that messes it up for Visual St

[2017-04-02 13:24] raRaRa commented on #4872
I fixed the problem by mounting `./bin` and `./obj` to an empty folder. Voila, no more conflict! :) But this means my `docker run` command doesn't look very good.

`docker run -it --rm -p 5000:5000 -v C:\git\ExampleApp\:/app -v C:/empty:/app/src/ExampleProject/obj -v C:/empty:/app/src/ExampleProject/bin tests/example.app`

[2017-04-02 14:15] sameerfairgoogl commented on #962
Having this issue for EntityFramework VS2017, just stumbled over this thread through Google. Is there a workaround for this?
![exception](https://cloud.githubusercontent.com/assets/5323565/24587936/96fcc370-17d8-11e7-9faf-fc642b70dfc7.png)

[2017-04-02 14:18] sameerfairgoogl commented on #962
ok, tried with Package Manager Console, and got

"install-package : One or more packages are incompatible with .NETCoreApp,Version=v1.1."

well, atleast I have a ballpark

[2017-04-02 14:21] sameerfairgoogl commented on #962
ok folks, for future reference, got Microsoft.EntityFrameworkCore installed instead with no issues

[2017-04-02 19:10] xt0rted opened #4955 "Package Manager UI shows package summary while the website shows package description"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate):

VS version (if appropriate): 2015 & 2017

OS version (i.e. win10 v1607 (14393.321)): Win 10 build 15063

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Search

[2017-04-03 01:18] rohit21agrawal commented on #4934
@patricknolan are you trying to basically execute pack every time you build your project?
If that is the case, I suggest you set the property ```<GeneratePackageOnBuild>true</GeneratePackageOnBuild>``` and it will take care of everything for you.

[2017-04-03 02:24] davkean opened #4956 "Project system should watch all Nuget.Config files under the solution root for changes"
_From @cdmihai on March 31, 2017 21:2_

I had placed a Nuget.config at the solution level and expected VS to do another restore, but it didn't. Since Nuget.config files affect the restore graph, VS should probably detect changes to these files too.

And then there's all the other Nuget.config files from solution root to file system root + other Nuget.configs that Nuget looks at and I don't know ab

[2017-04-03 02:24] davkean commented on #4956
This should probably be NuGet, not the project system @emgarten

[2017-04-03 02:24] davkean commented on #4956
Going to move this to NuGet - this shouldn't be up to individual projects to do this. NuGet should watch for all projects.

[2017-04-03 04:15] anangaur opened #4957 "RS3 – UWP should work with NET Standard 2.0 using PackageTargetFallback"

[2017-04-03 07:30] mathikp opened #4958 "-IgnoreDependencies is not working"
-IgnoreDependencies is not working now with nuget.exe. Why? Then how can I install a package without its dependencies?

[2017-04-03 09:59] KrupaMoliya commented on #4937
Thank you very much for you reply.

I would like to know that is there any plan or any tentative date when i will get latest available dependency.

Main issue in mentioning manual is that it is too hard to gather all transitive dependency list and put it in project.json If i have reference like
Myapplication >> MyModules >> MyCommon >> MyCore >> MyAPIs
--------------------------------------  MyCom

[2017-04-03 10:35] tomkuijsten commented on #4783
Thanks for the answers, I decided to wait.

[2017-04-03 10:35] #4783 closed, assigned to nobody

[2017-04-03 12:28] cbeall commented on #4872
I was able to solve the problem using BaseIntermediateOutputPath and moving the obj folder to a directory that is a sibling to the directory within the solution folder (so effectively "..\obj").

This solution also works, but both this and@raRaRa 's answer feel a bit like a hack. It would be much better if the output of `dotnet restore` could be done in such a way where the output doesn't care abo

[2017-04-03 12:37] realvictorprm opened #4959 "Auto copy dll.config files to build output for non json projects"
### This issue is only related to cross platform projects targeting Mono and .NET Framework

Currently it isn't possible to declare dll.config files as files which must be copied like assemblies to the build output directory.

For my library this is _breaking_ the whole intention of a nuget package. If the dll.config file isn't  copied for OS like linux and Mac the library will through runtime exc

[2017-04-03 16:07] heaths commented on #4751
@bbowman why fork? I don't want to have to install choco on build machines that already have nuget. As I offered above, I'm happy to contribute a change that, basically, is little more than capturing non-standard metadata into a dictionary and spit it back out. Nuget doesn't have to understand it. I've seen lots of property systems work this way, including Windows own `IPropertyStore`, various JSO

[2017-04-03 16:12] nkolev92 commented on #4727
Fixed in changeset #1652928 in TFS

[2017-04-03 16:12] #4727 closed, assigned to nkolev92

[2017-04-03 16:15] #4260 closed, assigned to nkolev92

[2017-04-03 16:23] nkolev92 commented on #4615
Might be related to #4938

[2017-04-03 16:24] anangaur opened #4960 "The help link on NuGet settings window is incorrect"
1. The help link seems to be incorrect
2. The drop-down overlaps the label in high DPI (regression?)

![image](https://cloud.githubusercontent.com/assets/14800916/24619675/a898dd36-184f-11e7-94ab-d467afeaa8d3.png)

[2017-04-03 16:40] ferventcoder commented on #4751
@heaths that would be great if it could be added.

Just one statement here I would like to address:

IMHO this is the equivalent of saying "I don't want to install NPM on systems that have Bower." or "I don't want to install Ruby on systems that have Python."

NuGet != Chocolatey

Just because the technologies use a similar framework does not make them the same thing.

Like I said though, if you a

[2017-04-03 16:47] karann-msft commented on #4960
to Rob for triage.

[2017-04-03 17:30] bbowman commented on #4751
@heaths I would definitely prefer not forking as well. I was just throwing it out there as an option since @ferventcoder was wanting first class citizen support. i think maybe the optimal route here is that Nuget.Core is enhanced for property bag support as you state and then @ferventcoder could move to using that version in Chocolatey / make first class citizen support on top of it. In terms of m

[2017-04-03 17:36] ferventcoder commented on #4751
We have other customizations to NuGet as well. It would take quite a bit more to merge back to using the original NuGet. We do have work coming up to move to NuGet 3/4, but it is on the schedule for later this year. One thing to consider - we've added first class support for package release version notation, but will keep it dark until more of the ecosystem can support it. See the huge warnings an

[2017-04-03 17:40] kzu commented on #4751
Well, given that the nugetizer authoring is CPS-based, extending it with additional property pages and capabilities shouldn't be hard.

As far as passing done additional properties during pack, it could be as easy as (say) a new `<PackAdditionalProperties>Foo=Bar;...</PackAdditionalProperties>` that we pass down to NuGet... (provided they support it).

[2017-04-03 17:43] kzu commented on #4858
I wonder if setting `ResolveNuGetPackages=false` would work?

[2017-04-03 17:46] ferventcoder commented on #4751
The end using system here is Chocolatey, so it needs to pack it in a way that will be recognized by Chocolatey. As long as it packs those properties appropriately, 👍 . My guess is the devil is in the details.

[2017-04-03 17:58] emgarten commented on #4858
There isn't a flag for this currently (at least that I know of)

[2017-04-03 18:21] emgarten commented on #4956
This would be on the NuGet side to reload these settings.

Dupe of https://github.com/NuGet/Home/issues/1538

[2017-04-03 18:21] #4956 closed, assigned to nobody

[2017-04-03 19:28] kzu commented on #4858
https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.props#L77-L78 ?

[2017-04-03 21:30] kraigb commented on #4960
The ? is likely a docs issue, because VS generates a query using certain F1 keywords that we don't currently have in the metadata of the NuGet docs pages. @karann-msft please the Docs label to this issue.

[2017-04-03 21:32] karann-msft commented on #4960
I reactivated the high dpi bug we had before....feels like a regression....https://github.com/NuGet/Home/issues/4439

Let's use this issue just for the help link

[2017-04-03 21:34] karann-msft commented on #4439
Reactivating based on @anangaur feedback https://github.com/NuGet/Home/issues/4960

[2017-04-03 21:44] MatthewSteeples opened #4961 "Strange dependency resolution for NETStandard library"
From NuGet within Visual Studio (Version 4.0.0.2323), trying to update hyak.common to the latest version (1.1.2) from 1.1.0.

Gathering dependency information took 13.05 sec
Attempting to resolve dependencies for multiple packages.
Update-Package : Unable to resolve dependencies. 'Newtonsoft.Json 10.0.2' is not compatible with 'Hyak.Common 1.1.2 constraint: Newtonsoft.Json (>= 6.0.8 && < 7.0.0)'.

[2017-04-03 22:47] rrelyea commented on #4542
Looks like https://github.com/dotnet/project-system/issues/1457 is currently scheduled for 15.3 milestone. So this issue still occurs, but appears to be waiting for a fix from Roslyn-Project-System.

[2017-04-03 22:47] karann-msft opened #4962 "StartTime and EndTime formats are not consistent in the telemetry"
The columns StartTime and EndTime have dates in the different formats and cannot be used in any meaningful way.

RawAIEvents
| where ClientTimestamp > ago(1h)
| where EventName startswith "vs/nuget/restoreinformation"
| extend ParsedProperties = parsejson(Properties)
| extend OperationSource = tostring(ParsedProperties["VS.NuGet.OperationSource"])
| extend OperationStatus = tostring(ParsedProperti

[2017-04-03 22:56] karann-msft opened #4963 "NuGet is not forwarding Geoid and CountyRegion to VS AI events"

[2017-04-04 00:18] anangaur opened #4964 "NET Core 2.0: Finish UI work for auto-ref packages like NET Core libraries"
The following highlighted text needs to be fixed as it shows little information:
![image](https://cloud.githubusercontent.com/assets/14800916/26323825/398d3074-3ee5-11e7-9570-23d512f095d9.png)

[2017-04-04 00:29] anangaur commented on #4899
Making separate issues for each command

[2017-04-04 00:30] anangaur opened #4965 "dotnet.exe - additional nuget functionality - update"
Created by forking https://github.com/NuGet/Home/issues/4899

[2017-04-04 00:31] anangaur opened #4966 "dotnet.exe - additional nuget functionality - list"
Created by forking #4899

[2017-04-04 00:31] anangaur commented on #4899
Update - https://github.com/NuGet/Home/issues/4965
List - https://github.com/NuGet/Home/issues/4966

[2017-04-04 00:42] emgarten opened #4967 "Read PackageReferences from CollectPackageReferences"
Restore should read PackageReferences from ``CollectPackageReferences`` instead of the items directly.

see: https://github.com/dotnet/project-system/issues/653

[2017-04-04 00:47] emgarten commented on #4967
As part of this work we will need to ensure that PackageReferences coming from targets/props in packages are ignored. This would cause the first restore to give a different result than the 2nd and 3rd restores.

[2017-04-04 01:17] anangaur opened #4968 "Add telemetry to dotnet CLI's restore"
We should consider adding telemetry to dotnet CLI to track restore performance and failures. This will help us discover and resolve bugs faster.

This was updated as a follow-up to the incident in which the service index's updated "repository signature" resource caused restore failures in dotnet CLI. See [this OneNote](https://microsoft.sharepoint.com/teams/NuGet/_layouts/OneNote.aspx?id=%2Fteams%

[2017-04-04 01:18] anangaur opened #4969 "Improve restore telemetry in VSIX"

[2017-04-04 01:21] mountgellert commented on #1851
Hi @rrelyea , is there any update on this or on https://github.com/dotnet/corefx/issues/6746 ?

[2017-04-04 05:41] zopyx opened #4970 "mono nuget.exe install not working on CentOS 7.1"
I am trying to install all C# dependencies for this project

https://github.com/zopyx/zopyx.csharp.smashdocs/tree/master/test

on CentOS 7.1 (installed mono-core package).

I always get the following error
[code]

I could install the dependencies successfully using `mono nuget.exe install` on OpenSUSE and MacOS.

That is broken here on CentOS 7.1?

[code]

[2017-04-04 05:56] mbooh commented on #4863
I'm not sure if the nuget command would have solved my problems but in this directory:
C:\Users\Kiwi.SIT\.nuget\packages
I found old stuff that had conflicting version number. I'm not sure how the got there but I rearrenged some stuff some weeks into my project and I probably reseted the version in some way.
Any way, when I deleted all that was there it worked just fine. Does the "-clear all" empt

[2017-04-04 05:56] #4863 closed, assigned to nobody

[2017-04-04 06:58] livarcocc opened #4971 "dotnet restore should warn when a package being referenced is already part of the runtime"
_From @kichalla on April 1, 2017 6:28_

## Steps to reproduce
1. Create a .NET Core console app using VS or 'dotnet new'.
2. Change the .csproj content with the following:
[code]
3. Do a dotnet restore and you should see it succeed.

## Expected  behavior
Since `System.ComponentModel.Annotations` is already included as part of the netcoreapp2.0 runtime, the package being referenced is not used at

[2017-04-04 09:13] ygeelen-tb commented on #4953
@alpaix Can this be fixed in the next VS2017 update? The prompt window is driving us crazy..
It's more urgent for us than issue 4938, although that one isn't unimportant.

[2017-04-04 11:01] jyoungyun opened #4972 "Suddenly return at dotnet restore in arm environment"
## Detailed repro steps so we can see the same problem
dotnet command:
(`dotnet3` is linked to `/home/pi3/Downloads/cli3/dotnet`.)
[code]

dotnet info:
[code]

This is RaspberryPI3 board. I built a dotnet-dev archive for ubuntu.16.04-arm in cli project. And I tried to test dotnet command line in Rapsberry PI3 board.
The `dotnet new console` was working well.
Then I added `<RuntimeIdentifier>` to b

[2017-04-04 12:13] wayne-o opened #4973 "There should be a way to revert to packages.config if you select the csproj format"
I created a project using the csproj format for packages and everything worked fine - now I am trying to get it working on appveyor and i'm having all manner of issues and there is no way to revert the project to using packages.config

My only option it seems is to create a whole new solution and copy everything over rewiring as I go - I tried commenting out the package refs form the csproj files

[2017-04-04 15:22] jaredpar opened #4974 "Package downgrade warnings for unreferenced package"
NuGet version: MSBuild 15.1 RTM

While moving Roslyn to the new SDK + PackageReference we're running into the following restore warning:

[code]

The issue is that none of the projects involved here reference the Microsoft.CodeAnalysis.CSharp package: CodeAnalysis.csproj, CSharpCodeAnalysis.csproj or CscCore.csproj.  These projects are all either netstandard 1.3 or netcoreapp 1.0.  True the CSharp

[2017-04-04 16:40] mjyeaney opened #4975 "Nuget settings conflict between Powershell and VS"
VS Environment:
[code]

Powershell Environment:
[code]

Powershell Package Providers:
[code]

Package Source Locations:
[code]

Given the above configuration, VS2015 is able to browse NuGet packages without issue. PowerShell, however, is unable to search the NuGet repositories due to incorrect location URL (api v3). This results in the following HTTP trace when executing `Find-Package` from a Powe

[2017-04-04 17:25] jainaashish opened #4976 "VS 2015 hangs in PMC at solution load"
We got a crash dump from a customer of a VS 2015 hang and analysis showed it was in PMC while executing some user specific profile scripts.

[2017-04-04 19:25] #4976 closed, assigned to jainaashish

[2017-04-04 20:08] billwert commented on #4699
@richlander and I hit this last night as well. The experience must get better. I really like @terrajobst's suggestion of informing the user that no packages were found; I'd go a step further and only suggest --pre if pre-release packages exist. Otherwise just inform the user the package doesn't exist.

This sort of output is just frustrating:
[code]

[2017-04-04 21:50] #4662 closed, assigned to nobody

[2017-04-04 21:59] anangaur opened #4977 "AutoReferenced UI tweaks"
The highlighted text in the following UI has to be improved:
![image](https://cloud.githubusercontent.com/assets/14800916/24822010/edfdac3a-1ba6-11e7-92ae-070f41107267.png)

[2017-04-04 22:35] emgarten commented on #4858
@kzu that handles reading the restore outputs, it doesn't stop restore itself.

[2017-04-04 23:17] debonte opened #4978 "IVsPathContext.TryResolvePackageAsset returns false in WPF project for DLL from recently referenced NuGet package"
NuGet product used: VS UI
NuGet version: 4.2.0.2451
VS version: Latest d15prerel

1.	Create a new blank C# WPF project
2.	Add reference to a NuGet package containing a proper VisualStudioToolsManifest.xml (i.e. should show controls in the Toolbox).  See documentation [here](https://docs.microsoft.com/en-us/nuget/guides/create-uwp-controls).  I can provide a package.
3.	Open MainWindow.xaml

**Expe

[2017-04-05 00:54] emgarten opened #4979 "Restore misses project level config files"
``RestoreArgs`` caches settings incorrectly based only on the first ``NuGet.Config`` file in the chain. This is typically the machine wide settings under program files. The result of this is that all projects get the same settings, even if they have a ``NuGet.Config`` file in their project directory.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/RestoreCommand/Reque

[2017-04-05 02:59] mishra14 commented on #4979
I agree with @emgarten's  fix for short term. But that will lead to extra memory foot print because we will land up caching the same config file multiple times in different setting chains.

I propose the following for long term solution -

`SettingsPerProject-> LinkedList<string>` which maintains the priority of paths of different config files. This will be per project.
`GlobalSettings-> Dictionar

[2017-04-05 03:07] emgarten commented on #4979
@mishra14 avoiding the reload of each settings file during the restore args load was investigated here https://github.com/NuGet/Home/issues/2297 and no significant improvements came from it.

I agree that ideally we would only load each file once, and that the settings load would be improved to take a common cache where this info can be stored.

[2017-04-05 03:21] gulbanana commented on #4054
i'm still experiencing this issue with nuget 4.0.0 and .net core 1.0.0 in vs2017 rtm. it's a major blocker right now, because we have many projects where e.g. a wpf frontend depends on a netstandard library. it is not possible to pack these right now.

[2017-04-05 03:34] gulbanana commented on #4491
The workaround of manually packing different project types does not work if you have a legacy project referencing a non-legacy project.

[2017-04-05 06:16] terrajobst opened #4980 "A better cache clean-up and expiration policy"
*edit by @zivkan*: a first step has been implemented, allowing package "last used in restore" date to be updated: https://github.com/NuGet/NuGet.Client/pull/4222

*edit by NuGet Client Triage*:
- Restore driven - A minimally impactful approach might be to run a "gc" periodically, like say once a week or once a month.
- Additional command - Community projects like NuGet Cleaner combine with updateP

[2017-04-05 06:20] emgarten commented on #4980
Related: https://github.com/NuGet/Home/issues/2308

[2017-04-05 06:30] terrajobst commented on #4980
Yeah, I'm not a fan of an explicit clean as the sole mechanism. We have other discussions on how to hide package restore even more by making `dotnet build` behave like VS, i.e. running restore if necessary.

I think having a `nuget gc` command as @davidfowl suggested would be OK, but I really really want `nuget restore` to apply some cache expiration policy automatically. It doesn't have to be per

[2017-04-05 06:50] AndyTian-Devops commented on #4952
Looks like it is a regression from https://github.com/NuGet/Home/issues/3437

[2017-04-05 08:03] MichaelSteinecke commented on #3988
I would like to add, that also opening the NuGet Package manager console requires to load the entire solution. This is likewise slow, when Lightweight Load is enabled.

[2017-04-05 08:33] AndyTian-Devops opened #4981 "[Test Failure]Restore failed after changing Target framework from ".NET Standard 1.4" to ".NET Standard 2.0""
**NuGet Version:** NuGet 4.3.0-preview1-2461
**VS Version:** Dev15 VSUWPT 26404.00
**OS Version:** Windows 10 RS2_Release

**Repro Steps:**
1.Create a C# .NET Standard Class Library project.
2.Right click the project file on solution explorer and choose the "Properties".
3. Change Target framework to ".NET Standard 2.0"

**Expected Result:**
No error after changing Target framework from ".NET Stan

[2017-04-05 08:39] AndyTian-Devops commented on #4981
After changing target framework, the dependencies node is empty.
![netstandard20](https://cloud.githubusercontent.com/assets/12235523/24697064/62e8142a-1a1e-11e7-9c04-dd6fd86c43af.png)

[2017-04-05 14:16] dtivel opened #4982 "Add plugin IPC"

[2017-04-05 14:49] ygeelen-tb commented on #4953
@yishaigalatzer @dnfclas @emgarten
Can you please assign someone to fix this?

[2017-04-05 14:49] ygeelen-tb commented on #4938
@alpaix Can you please assign someone to fix this?

[2017-04-05 18:18] jainaashish opened #4983 "VS 2015 hangs in PMC at solution load"
Copied from https://github.com/NuGet/Home/issues/4976 to track it for VS 2015

[2017-04-05 18:27] XplMarcel opened #4984 "Unable to dotnet nuget push to VSTS feed"
In my project (netstandard classlibrary) i have an "AfterBuild" target which generates a nuget package and uses "dotnet nuget push" to push the nuget package to our Team Services packages feed.

My csproj looks like this:
[code]
However, this results in 2 errors:
[code]

If i use the "nuget.exe" (using the CredentialProvider.VSS)  like below i have no problems at all.
[code]

Any ideas how i can u

[2017-04-05 18:33] rrelyea commented on #4699
We are doing some error/warning rework in nuget restore in our 4.3 release. If things go well, internal consumers of restore (like dotnet add package) could have better ability to understand those errors, beyond just passing along the log output.
/cc @mishra14

[2017-04-05 19:58] xavierdecoster opened #4985 "NuGet pack should warn when dependency version range is invalid/empty"
To align with more strict nuget.org server behavior https://github.com/NuGet/NuGetGallery/pull/3728

[2017-04-05 21:01] mthamil commented on #4858
I'm still keeping an eye on this, but I figured out how to control versioning with the new autopackaging of netstandard projects by using environment variables.

[2017-04-05 21:14] jainaashish commented on #4917
Some improvements made for auto restore scenario via https://github.com/NuGet/NuGet.Client/pull/1285

But still, waiting on the customer to get his specific repro and if we can improve performance there.

[2017-04-05 21:20] eroller commented on #4034
I am seeing this same behavior in VS2017 targeting netcoreapp1.1. Nuget Package Manager 4.0.0

Documentation here can be updated to indicate package downgrade is now just a warning:
https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution

My question:

Shouldn't the default behavior be to treat downgrades as errors? Is there any way I can switch it back into an error? It seem

[2017-04-05 22:40] #4979 closed, assigned to nobody

[2017-04-05 23:12] jainaashish opened #4986 "VS NuGet restore is causing VS to not responding for few minutes (photos app)"
internal bug: Bug 401176:VS NuGet restore is causing VS to not responding for few minutes (photos app)

[2017-04-05 23:40] anangaur commented on #4985
It should error out IMO.

[2017-04-06 03:35] alpaix commented on #4952
It appears `NuGet.VisualStudio.Interop.dll` is built with invalid attributes. Will verify project settings and build scripts.

[2017-04-06 04:52] ahmedallam2995 commented on #3252
from nuget, install "JavaScriptSerializer" instead of Newtonsoft.Json it will work

[2017-04-06 05:09] ssuhas76 opened #4987 "Unable to install Entity Framework v5.0.0 on my VS 2015"
I am unable to install Entity Framework5 to my .NET MVC project.

I get the below error in the console.

Could not find a part of the path '\\BNGRDC-NA-V502\Suhas.S$\Cached\My Documents\Visual Studio 2015\Projects\eManager\GetEvent.types.ps1xml'.
Could not find a part of the path '\\BNGRDC-NA-V502\Suhas.S$\Cached\My Documents\Visual Studio 2015\Projects\eManager\Diagnostics.Format.ps1xml'.
Could n

[2017-04-06 06:34] davkean commented on #4463
Here's another issue that results as a problem of this - https://github.com/dotnet/project-system/issues/1935. Basically, building a new csproj in the same directory as the old csproj, breaks the build because the old csproj picks up the same assets file.

[2017-04-06 06:43] juanfranblanco opened #4988 "ProjectReferences dependencies do not include dev / rc versions"
When using dotnet pack on the latest csproj file format the suffix is not preserved on the dependencies.

This causes the incapability to resolve dependencies when using nuget packages.

Ideally:

* It should preserve the exact version
* It should be configurable to allow for higher versions as it used to be with project.json

[2017-04-06 06:56] davkean opened #4989 "extern alias support for NuGet package references"
* [Design document](https://github.com/NuGet/Home/blob/dev/designs/PackageReference-Extern-Alias.md)

_From @fubar-coder on April 5, 2017 15:59_

Currently, when a NuGet package reference is added, there is no way to set the alias from the project system for the new style csproj projects.

This feature is needed, because NuGet package references don't result in direct assembly references any more

[2017-04-06 06:56] davkean commented on #4989
Great suggestion. I'll move this over to the NuGet repo, they own the syntax for PackageReference.

[2017-04-06 07:06] juanfranblanco commented on #4337
Same here, all my packages have been released on rc2 and cannot be resolved.

[2017-04-06 07:13] christianhuening commented on #4337
I've found a **solution** on the .NET Core Slack Channel:

You want to use this:
[code]
when restoring.
The new CLI version writes a project.assets.json file in /obj which then gets used by ```dotnet pack``` to reference other packages in the resulting .nuspec file in the nuget package. So you have to provide the suffix when restoring for that to work in the desired way. Essentially the 'pack' and

[2017-04-06 10:00] juanfranblanco commented on #4988
Duplicated https://github.com/NuGet/Home/issues/4337

[2017-04-06 10:00] #4988 closed, assigned to nobody

[2017-04-06 10:25] #4984 closed, assigned to nobody

[2017-04-06 11:19] m0sa commented on #4853
The packaging in this case is done by the `PackTask` from the [Nuget.Client repo](https://github.com/NuGet/NuGet.Client):

![image](https://cloud.githubusercontent.com/assets/503702/24751844/64006ab2-1acb-11e7-8e94-7535e68a203b.png)

The build already walks all the framework targets to get it's output files per target framework. The same way it could get the required `<Reference>` items per target

[2017-04-06 11:46] m0sa commented on #4853
I've dug around a bit more, and there is an `AssemblyReference` task property that gets populated from the `_Reference` item group, but it doesn't seem to do anything, e.g.:

![image](https://cloud.githubusercontent.com/assets/503702/24752628/0e7618fe-1acf-11e7-85c3-c0bf2ca2be29.png)

I added this task to the .csproj

[code]

Those were passed in to the PackTask:

![image](https://cloud.githubuser

[2017-04-06 12:16] Moodys-SCMTeam opened #4990 "Nuget - Pack command failed"
Hi,

We are getting the following exception while trying to run the pack command

[INFO] Your package was pushed.
[INFO] Package was deployed successfully.
[INFO] MSBuild auto-detection: using msbuild version '14.0' from 'C:\Program Files (x86)\MSBuild\14.0\bin'.
[INFO] Attempting to build package from 'Moodys.Epi2.Publish.csproj'.
[ERROR] The imported project "C:\Program Files (x86)\MSBuild\Micro

[2017-04-06 14:33] #4987 closed, assigned to nobody

[2017-04-06 14:42] igloo15 opened #4991 "Local Packages folder missing with packagereferences"
Basically there is no local packages folder everything is getting installed to the global cache and referenced from there not sure if this is an issue with packagereference or not. Need to have a local packages folder. Also related is that it ignores the repositoryPath configuration option in NuGet.Config if it exists. On top of that it sometimes is unable to uninstall packages as well claiming th

[2017-04-06 15:02] brunomlopes commented on #4827
@jainaashish apologies for taking so long to reply. I just tested and it also fails to install the new version.
Tested with NuGet Version: 4.0.0.2283

[2017-04-06 16:38] livarcocc opened #4992 "Project references with ReferenceOutputAssembly=false should be ignored during VS restore"
_From @hach-que on April 6, 2017 11:15_

## Steps to reproduce
- Create a solution with two .NET Standard projects
- In the solution file, specify dependencies e.g.:
[code]
- Run `dotnet restore`.

## Expected  behavior
- `dotnet restore` should restore packages for `HiveMP.Test.Framework`.
- The `obj` folder inside `HiveMP.Test.Framework` with `project.assets.json` should exist.

## Actual behavi

[2017-04-06 16:38] livarcocc commented on #4992
_From @hach-que on April 6, 2017 11:17_

To clarify, we specify dependencies here because `HiveMP.Test.Framework` has a Prebuild step which runs `HiveMP.ClientGenerator` to create C# source files.

Both package restore and build for both these projects works fine in Visual Studio 2017, but doesn't work on the `dotnet` CLI (under either Windows or Linux).

[2017-04-06 16:38] livarcocc commented on #4992
_From @hach-que on April 6, 2017 11:31_

For some reason, removing and re-adding the project dependencies in Visual Studio changed all the project type guids in the solution from `FAE04EC0-301F-11D3-BF4B-00C04F79EFBC` to `9A19103F-16F7-4668-BE54-9A1E7A4F7556`.  However, `dotnet restore` still doesn't work in this case.  The only way to make `dotnet restore` is to remove the `ProjectDependencies` s

[2017-04-06 16:38] livarcocc commented on #4992
_From @hach-que on April 6, 2017 14:28_

So I tried using ProjectReferences in the `HiveMP.Test.Framework` project instead of ProjectDependencies in the solution, like so:

[code]

(I also tried `ProjectReference` instead of `ProjectReferenceWithConfiguration`).  This is the recommended way of doing build-time (but not runtime) dependencies as per this MSDN article: https://blogs.msdn.microsoft.co

[2017-04-06 16:38] livarcocc commented on #4992
_From @hach-que on April 6, 2017 15:4_

**So for anyone else running into this issue, this is what I ended up with.**

This allows you to have a .NET Core project whose source code files are generated from another .NET Core project in the same solution.

[code]

Important points are:
- The project references must be a compatible framework (i.e. you can't have a .NET Standard library reference a .N

[2017-04-06 16:57] tyohekim opened #4993 "NuGet failing to restore packages for projects containing ProjectReferences"
## Details about Problem

I'm running a ASP.NET Core app on the .NET 4.6.1 framework. I have 1 solution with multiple projects in it.  All of the projects are class libraries that reference each other via PackageReferences (this way we can build, package and version them independently).  In order to test integration in real-time without needing to push up NuGet packages, there is one runnable sand

[2017-04-06 17:59] emgarten commented on #4992
@hach-que are you setting project build order dependencies in the solution? Are you hitting this issue: https://github.com/NuGet/Home/issues/4578  or this unrelated?

``ReferenceOutputAssembly=false`` projects are currently skipped, this is tracked here: https://github.com/NuGet/Home/issues/4700

To workaround this you will need to restore these projects directly.

[2017-04-06 18:17] dtbiedrzycki commented on #802
This is still a problem, I am creating a new issue.

[2017-04-06 18:29] dtbiedrzycki opened #4994 "%temp%\NuGetScratch Excessively Large"
## The Problem
The NuGetSratch folder grows to be incredibly large. In my case, after about a month after clearing, I'm up to 80GB (again).

This issues is directly related to a closed issue (#802) that is still a problem.

## Details about Problem
NuGet product used:
* NuGet.exe
* NuGet Package Manager for VS 2015
* VS UI
* Package Manager Console

NuGet version: 3.4.4.1321

dotnet version: 4.6.0

[2017-04-06 18:49] emgarten commented on #4994
@dtbiedrzycki what files do you see in NuGetScratch?

You may also want to update to NuGet 3.5.0 from http://dist.nuget.org/  it has some changes around how extracted packages are cached.

[2017-04-06 18:52] #4952 closed, assigned to alpaix

[2017-04-06 18:59] dtbiedrzycki commented on #4994
I've just cleared mine, so I'll have to check back in when it starts to fill. In the meantime, I'll see if I can update to the latest and if I still get the issue.

[2017-04-06 18:59] ogrim commented on #4994
Just deleted around 40 GB yesterday. Will update nuget at work tomorrow and see how it evolves