[2021-03-01 20:01] aaronla-ms commented on #10606
Well, those report failure correctly.

This also appears to be isolated to sdk imports. PackageReferences don't have this problem.

[code]

Full repro:

/// nuget.config
[code]
<Project Sdk="Microsoft.Build.Traversal/2.999.1">
  <ItemGroup>
    <ProjectReference Include="src\**\*.*proj" />
  </ItemGroup>
</Project>
[code]

[2021-03-01 20:07] #10498 closed, assigned to jebriede

[2021-03-01 20:08] #3784 closed, assigned to erdembayar

[2021-03-01 20:18] jebriede opened #10608 "Update the background and foreground color tokens of the PMUI to CommonDocumentColors"
## Details about Problem
The background color token used in the PMUI is from the BrandedUI category and should be updated to use the background token from the CommonDocumentColors category to match the foreground text. This change should be done behind an experiment to validate the results. This issue is related to https://github.com/NuGet/Client.Engineering/issues/714 and the fix applied for that

[2021-03-01 21:17] erdembayar opened #10609 "Add PMC powershell version telemetry"
## Details about Problem

NuGet product used (Visual Studio):

Add Powershell version info PMC telemetry

[2021-03-01 21:49] JonDouglas commented on #10262
I think there's a longer term question here. By removing the ability for code execution in targets to happen, I believe we will break many packages, tools, etc that heavily rely on this functionality. We may need see what exactly that might mean impact wise & also functionality wise. We should also reach out to our resident security experts to understand what is at risk here given many ecosystems

[2021-03-01 21:55] nkolev92 commented on #10606
Yes, definitely, the SDK imports are discovered by an MSBuild SDK resolver feature that uses NuGet under the hood.

[2021-03-01 22:54] erdembayar commented on #8053
@heng-liu @dtivel  @nkolev92
Can I get some context? Where do I implement it? Is it NuGet.Client repo or dotnet repo?

[2021-03-01 23:01] nealef commented on #10567
PR located at https://github.com/NuGet/NuGet.Client/pull/3930

[2021-03-01 23:03] heng-liu commented on #8053
Hi @erdembayar, the nuget.exe trusted-signers command is already implemented. This is to parity dotnet CLI with nuget.exe.
You may take nuget.exe verify command and dotnet nuget verify command as an example.
We implemented verify command for dotnet under src\NuGet.Core\NuGet.CommandLine.XPlat\Commands\Signing\VerifyCommand.cs

[2021-03-01 23:47] invictus80 opened #10610 "Nugetmaxx"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):

Product version:

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

### Verbose Logs

[2021-03-02 01:22] #10610 closed, assigned to nobody

[2021-03-02 01:54] erdembayar commented on #10166
@aortiz-msft @nkolev92 @zivkan
I tested latest VS Internal preview with CPS team fix. Numbers looks great. 😃
Now `install` action duration is on par with `upgrade/downgrade/uninstall` actions.
[0 min 38 sec](https://gist.github.com/erdembayar/cbb2d909887816252066961bcbeb2974) for OrchardCore solution with 159 projects.

Also call durations to CPS is down to 20ms range from 200ms range.
`----Durati

[2021-03-02 01:54] #10166 closed, assigned to erdembayar

[2021-03-02 02:55] erdembayar commented on #8053
@aortiz-msft @heng-liu @zkat @kartheekp-ms
It looks spec for `dotnet nuget trusted-signer` not done due to complexity [mentioned here](https://github.com/NuGet/Home/blob/dev/proposed/archive/DotNetSignCommands.md#future-work). Do I need to create spec first and confirm with `dotnet` team first or not?

[2021-03-02 07:48] v-luzh commented on #8640
This bug is fixed on Main\31101.164 + NuGet Client Dev\5.10.0.7152. Close it now, thanks.

[2021-03-02 07:48] #8640 closed, assigned to kartheekp-ms

[2021-03-02 08:45] v-luzh commented on #10024
Hi @dtivel This bug is fixed on Main\31101.164 + NuGet Client Dev\5.10.0.7152. Thanks for your fixing.

[2021-03-02 09:31] v-luzh commented on #10265
This bug is fixed on Main\31101.164 + NuGet Client Dev\5.10.0.7152. Close it now, thanks.

[2021-03-02 09:31] #10265 closed, assigned to aortiz-msft

[2021-03-02 09:58] v-luzh commented on #9250
Reactivate this bug since it still repro on Main\31101.164 + NuGet Client Dev\5.10.0.7152. Please help to check if the fix is merged to dev branch? Thanks.

[2021-03-02 12:21] SymbioticKilla commented on #9417
Is there any fix planned => visual studio restore should create same lock files as nuget restore?

[2021-03-02 12:44] joeltankam commented on #10133
Hello,

Could this be related to #10578 ?

Thanks

[2021-03-02 12:50] joeltankam commented on #10115
#10578 seems to be an example of undesired pinned transitive dependencies.

[2021-03-02 14:11] dtivel commented on #10024
Great, @v-luzh.  Thanks for verifying.

[2021-03-02 16:30] cescllp commented on #3320
Still happened to me on Visual Studio 2019 on the latest version at this moment (16.8.6) Nuget 5.8.1
Tried to use the Package-Update -reinstall but didn't help
After removing the EnsureNuGetPackageBuildImports it worked

[2021-03-02 17:27] zivkan opened #10611 "Improve NuGetVersion sort performance"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): core libraries

Product version: all

Worked before? Didn't check, but I imagine it's always been there.

## Repro steps and/or sample project

I wrote some benchmarks comparing different implementations of NuGet's flavour of a version (union of SemVer2 + System.Version). The results showed that Nu

[2021-03-02 17:41] kartheekp-ms commented on #8053
@erdembayar - `nuget.exe` trusted-signers command spec is archived [here](https://github.com/NuGet/Home/wiki/Repository-Signatures#client-policies)

[2021-03-02 18:06] nkolev92 commented on #8053
@erdembayar Remember to follow https://github.com/NuGet/NuGet.Client/blob/dev/docs/feature-guide.md for the process.

You will probably need to update the template sued in the spec that @kartheekp-ms linked.

[2021-03-02 18:26] rrelyea commented on #9250
yes, was mistakenly closed. i fixed embedded icons...but doesn't yet work with authenticated feeds. More work to do that..

[2021-03-02 18:28] rrelyea commented on #9649
no longer needed. closing.

[2021-03-02 18:28] #9649 closed, assigned to rrelyea

[2021-03-02 21:47] tachyus-ryan opened #10612 "Centrally Managing Packages Fails for F# Projects"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): dotnet.exe

Product version: 5.8.0.6930

Worked before? If so, with which NuGet version: No

## Repro steps and/or sample project

* [Sample project](https://github.com/panesofglass/nuget-central-fsharp-core)
* Try to run `dotnet restore`
* Try to add `FSharp.Core` with `dotnet add src/Repro packag

[2021-03-02 23:53] erdembayar commented on #3784
There are still few instances of 'GetService' are still left but replacing them with GetServiceAsync doesn't do any good for now, because we have wrap it inside another JTF, so end result would be same or bit worse. Most of them related to PMC and most likely will be addressed in the future when we refactor it.

[2021-03-03 02:39] MelbourneDeveloper commented on #3320
Yeah, I still regularly get this when I come across projects that haven't been upgraded to SDK style.

[2021-03-03 06:18] softboy99 opened #10613 "update package.nuspec file if it is exists when install/update nuget package reference"
Hi,
Currently, we use an NuPack extension to pack nuget packages. But when depended package updated, we need to manually modify package.nuspec file, Please update package.nuspec file if it is exists when install/update nuget package reference to an project.

[2021-03-03 08:46] perlun commented on #10491
@kitingChris

Did you try the suggestion I posted in https://github.com/NuGet/Home/issues/10491#issuecomment-778841003? Maybe it would help. If not, please post the error message you're getting and we might be able to find a way forward.

[2021-03-03 12:10] marcin-krystianc opened #10614 "The CreateLockFileTargetLibrary method slows down the restore operation"
## Details about Problem

The [CreateLockFileTargetLibrary](https://github.com/NuGet/NuGet.Client/blob/97311b5cb48d38402b49fd41a6384b11db7dd453/src/NuGet.Core/NuGet.Commands/RestoreCommand/Utility/LockFileUtils.cs#L70) method is responsible for selecting assets from the NuGet package which are appropriate for a given restore target. It turns out that the assets selection procedure is so computatio

[2021-03-03 12:32] adetkov opened #10615 "Exception "The path is not of a legal form" on restoring project."
## Details about Problem

NuGet product used: NuGet.exe
Product version: nuget.exe - recommended latest v5.8.1

## Repro steps and/or sample project

I try to restore a project from repo https://github.com/dnnsoftware/Dnn.Platform with command like:

Got error:

It happens because something in nuget pipeline passes path "../../.nuget" as argument in method https://github.com/NuGet/NuGet.Client/blo

[2021-03-03 15:35] Jaurocha commented on #5138
The PackageId:{id} parameter does not work. In any form. Adding it just give no result back.
The list method just behaves like a simple contains. And the added parameters seem to be interpreted as a part of the package name.

I have a BusinessLogic package and it among other have its IOC setup in a separate package. And I named it BusinessLogicAutoFacSetup this gave off course multiple hits. SO I

[2021-03-03 16:33] matthewjones555 commented on #5138
I've been experiencing exactly the same pain.  I belived the PackageId trick is only applicable if you're using a v3 feed that also has that change.  I'm slumming it on a v2 feed, and there appears to be no client based way of doing this.  It would be nice if they added support instead of relying on the API for it, as it has to support multiple APIs.

[2021-03-03 18:12] dtivel opened #10616 "Suggestion: enable optional additional/alternate root-level trust capability during signed package validation"
It would be useful to have the ability to specify in a NuGet.config file a set of trusted root authorities independent of the underlying platform's trusted root authorities.  This would enable signed package validation to use additional or alternate root authorities without also conferring system-wide root trust by modifying the underlying platform's set of trusted root authorities.

For https://g

[2021-03-03 21:23] #10574 closed, assigned to donnie-msft

[2021-03-03 23:28] ViktorHofer opened #10617 "NuGet raises NU1201 compatibility error in projects that reference both a project and a package (transitively) with the same identity for different TFMs"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): dotnet.exe

Product version: 5.0.100 / 6.0 Preview 1

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

A project which references another project with the same identity as a transitive package reference causes NuGet's compatibility check to fail and believe tha

[2021-03-04 01:05] ChaseFlorell commented on #5553
I mean, 4 years old, perhaps it's just not a priority.

[2021-03-04 07:56] kitingChris commented on #10491
I tried. And it is used as shown here:

[code]
The error message I still get:
[code]

[2021-03-04 08:15] Rand-Random opened #10618 "[Request] init/add should have an option -force"
**NuGet.exe**

It would be nice if NuGet.exe could introduce an optional argument for init/add to force the packages, instead of bringing this warning
![image](https://user-images.githubusercontent.com/9868626/109931809-9da46700-7cc9-11eb-994a-b3d8f6ddef3c.png)

This would allow me to update my local source more easily, currently I have to delete those files manually before I can call init/add.

[2021-03-04 08:24] markusschaber commented on #5553
Is the NuGet team open for pull requests?

[2021-03-04 08:41] rdeago commented on #5553
Looks like they are.
https://github.com/NuGet/Home/blob/dev/CONTRIBUTING.md

[2021-03-04 14:55] psmulovics commented on #1851
ok, so how does https://devblogs.microsoft.com/powershell/powershell-team-2021-investments/#secretmanagement-and-secretstore-1-0 change this picture?

[2021-03-04 16:09] ViktorHofer commented on #5862
Filed https://github.com/dotnet/runtime/issues/49137 to get the host packages off runtime.json.

There are still places in dotnet/sdk that rely on the runtime.json host meta package. That would also need to be changed.

[2021-03-04 16:10] psmulovics commented on #1851
Specifically https://www.powershellgallery.com/packages/microsoft.powershell.secretstore/0.9.1

[2021-03-04 17:19] Nirmal4G commented on #5886
Can we merge the logic into `MSBuildLocator` project and use it here?

[2021-03-04 18:06] LaurianoElmiroDuarte commented on #10491
I'm having the same problem, I'm running dotnet, I installed it via snapd

OS: Debian 10
NuGet Version: 5.6.0.6489
dotnet-sdk 5.0.200 115 latest / stable dotnetcore✓ classic

Your solution solved my problem .
Thanks

[2021-03-04 18:13] zkat commented on #10578
Closing because this doesn't repro anymore in net5.0

[2021-03-04 18:13] #10578 closed, assigned to jeffkl

[2021-03-04 18:21] zkat commented on #10593
After some discussion, we decided this is not something we actually want to do. It's a very impactful change on nuget.exe while as a team we've been prioritizing PackageReference and dotnet.exe. As such, I'm closing this. Thanks for your time and the healthy discussions both here and in the other thread!

[2021-03-04 18:21] #10593 closed, assigned to nobody

[2021-03-04 18:25] Rand-Random commented on #10593
@zkat
Why not even as an optional argument?

[2021-03-04 18:47] zkat commented on #10593
It's still work to write, test, and maintain into the future. And the change is too low-priority for us to consider.

[2021-03-04 19:22] nkolev92 commented on #5886
I think it's totally possible that MSBuildLocator has the same functionality that the logic in NuGet.exe does.

At this point, it's largely, don't change what's not broken.

[2021-03-04 19:26] nkolev92 commented on #5886
Given that, I'm gonna go ahead and close this. Given the maturity of MSBuild locator, there's not much to win here.

[2021-03-04 19:26] #5886 closed, assigned to nobody

[2021-03-04 20:53] #10435 closed, assigned to donnie-msft

[2021-03-04 21:42] heng-liu opened #10619 "Add a new dotnet sign at src/NuGet.Core/NuGet.CommandLine.XPlat/Commands/Signing/SignCommand.cs"
Note that this new command should perform similar input validation as the existing NuGet.exe sign command at src/NuGet.Clients/NuGet.CommandLine/Commands/SignCommand.cs. For example, some option combinations are invalid/required.
Because the argument can expand to multiple packages, the new sign command must support multiple packages. (I think the spec has a typo in that the sign usage example sho

[2021-03-04 21:46] heng-liu opened #10620 "Dotnet nuget sign : Respect the --interactive option."
Note that the option has flipped from NuGet.exe's -NonInteractive option.

See all comments in NuGet/NuGet.Client#3069.
Propagating the NonInteractive option from SignArgs in SignCommandRunner seems like the best option.
If the default behavior must change as a result of this work, please sync with Claire Novotny.
It may be worth adding a test for the non-interactive case. The test may actually be

[2021-03-05 00:17] heng-liu opened #10621 "Add functional tests in dotnet.integrated.tests for dotnet nuget sign, and verify on all platforms"
Exit code, output, errors, etc. for argument validation failures.
With valid arguments the command creates a good, signed package.

The tests will need two fixtures: one for patching dotnet and another for setting up CA, TSA for signing.
Some other infrastructures might also need to be set up. e.g. https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Clients.Tests/NuGet.CommandLine.Test/MockS

[2021-03-05 00:34] heng-liu opened #10622 "Add more unit tests in SignCommandRunner"
The existing tests in [SignCommandRunnerTests](https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Core.Tests/NuGet.Commands.Test/SignCommandRunnerTests.cs) test only exceptions and error cases.
We need to expand SignCommandRunnerTests to verify different options on all platforms with following positive tests.

- When the certificate is a file path.
- When the certificate is in a certificate

[2021-03-05 00:44] heng-liu opened #10623 "Add unit tests to check if argument parsing is correct for dotnet nuget sign command"
We had [NuGetSignCommandTest.cs](https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Clients.Tests/NuGet.CommandLine.Test/NuGetSignCommandTest.cs) to test if the argument parsing is correct for the NuGet.exe sign command.
Since we have different code for argument parsing between NuGet.exe sign and dotnet.exe nuget sign, we need to have the equivalent tests for dotnet.exe nuget sign.

We need

[2021-03-05 00:46] heng-liu opened #10624 "Add to dotnet autocompletion for the sign command."
The priority of this task is lower than other tasks in the epic.

[2021-03-05 00:48] heng-liu opened #10625 "Add/update dotnet documentation for the sign command`"
The priority of this issue might be lower than other tasks in the epic.

[2021-03-05 01:01] heng-liu opened #10626 "Check formats of certificate used for signing cross all platforms"
Check formats of certificate used for signing cross all platforms.
e.g. .pfx (used on Windows), .pem (used on Linux)
Check if we support the formats according to document, and according the code. Check if there is any inconsistency.

[2021-03-05 01:06] heng-liu commented on #10619
This is fixed by @kartheekp-ms in his private branch.

[2021-03-05 01:06] #10619 closed, assigned to kartheekp-ms

[2021-03-05 01:20] jebriede opened #10627 "Tab ordering for the project grid's Version and Installed column headers is incorrect"
## Details about Problem

In the Solution PMUI, the projects grid's Version and Installed column headers have their tab ordering reversed. The Version column appears first but when tabbing through, keyboard focus goes from the Checkbox to Project to Installed to Version columns. It should go Checkbox -> Project -> Version -> Installed.

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe |

[2021-03-05 01:21] jebriede commented on #10627
Video that demonstrates tab ordering issue.
![ProjectsGridColumnsGetFocus](https://user-images.githubusercontent.com/10777837/110053309-01e91a00-7d0e-11eb-930e-cdcbde39fef2.gif)

[2021-03-05 01:39] paulhey commented on #10504
It looks like there was a fix issued, but there might need to be additional intervention. I'm on Ubuntu 20.10 and I followed the  [following](https://bugs.launchpad.net/ubuntu/+source/ca-certificates/+bug/1913951/comments/11) to resolve my issue.

[2021-03-05 01:49] nkolev92 commented on #8640
This was fixed by @kartheekp-ms!
gj @kartheekp-ms

[2021-03-05 03:21] wli3 opened #10629 "native assets in subfolders are not respected"
---
**Issue moved from dotnet/sdk#16211**
- Please respond to @stevenbrix.

---

_From @stevenbrix on Thursday, March 4, 2021 6:39:41 PM_

If you have a NuGet package with native assets in subfolders:

[code]

The .NET SDK copies these to the same location, and you lose the `en-us` locale subfolder.  This happens with both `Build` and `Publish` targets.

[2021-03-05 03:21] wli3 commented on #10629
---
**Issue moved from dotnet/sdk#16211**
- Please respond to @dotnet-issue-labeler[bot].

---

_From @dotnet-issue-labeler[bot] on Thursday, March 4, 2021 6:39:43 PM_

I couldn't figure out the best area label to add to this issue. If you have write-permissions please help me learn by adding exactly one area label.

[2021-03-05 03:43] stevenbrix commented on #10629
Here's a binlog:
[msbuild.zip](https://github.com/NuGet/Home/files/6087995/msbuild.zip)

[2021-03-05 03:48] fmir864 opened #10630 "Nuget replacement tokens not reading from AssemblyInfo class unless you Unblock nuget.exe in explorer"
## Details about Problem

NuGet product used: NuGet.exe

Product version: 5.9.0

Worked before? If so, with which NuGet version: 5.5.1

## Repro steps and/or sample project

1. Create a C# class library Project with .net framework 4.8
2. Modify `AssemblyInfo` as follows;

[code]
3. Create a `nuspec` file using below command
`nuget spec MyProject.csproj`

4. `nuspec` generated as below;

[code]

5.

[2021-03-05 15:03] tompazourek commented on #10389
I have updated from Visual Studio 2019 16.8 to 16.9 and transitive pinning doesn't seem to work anymore and lot of stuff broke.

Was is released as part of Visual Studio 16.9?

The documentation still doesn't reflect the changes: https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions

I'll be happy for any information on the topic. Thank you.

[2021-03-05 17:17] donnie-msft opened #10632 "VMs should be in ViewModels folder + PackageItemListViewModel is confusing"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): Visual Studio

Product version: any

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

We have VMs in a Models folder.
Also what is a `PackageItemListViewModel`? It sounds like at least 2 different things.

### Verbose Logs

[2021-03-05 19:25] rrelyea commented on #10612
using dotnet.exe 5.1.200, after doing the dotnet add command.
The .fsproj file changes from:
`    <PackageReference Include="FSharp.Core" />`
To:
[code]

[2021-03-05 19:29] rrelyea commented on #10613
@softboy99  -
can you please explain your scenario in more detail...and provide a simple set of repro files and steps? along with expected behavior and actual behavior you see?

[2021-03-05 19:33] tachyus-ryan commented on #10612
Thanks @rrelyea. I didn't have `5.1.200` when I tried this previously. I'll update and try again.

[2021-03-05 19:35] tachyus-ryan commented on #10612
@rrelyea is that an issue with FSharp.Core? cc @cartermp

[2021-03-05 19:36] tachyus-ryan commented on #10612
@rrelyea it looks like this changed after I merged a contribution from someone that found a work-around. Let me revert that and then post that as a work-around.

[2021-03-05 20:13] rrelyea commented on #10615
1. repros for me w/ nuget.exe 5.9 (with the given command) or with msbuild /t:restore -p:RestorePackagesConfig=true "DNN Platform\Library\DotNetNuke.Library.csproj"     (on msbuild 16.9)
2. doesn't repro in VS solution restore (16.9) or nuget restore of the solution file.

[2021-03-05 20:14] rrelyea commented on #10615
looks like dupe of https://github.com/NuGet/Home/issues/9766

[2021-03-05 20:14] #10615 closed, assigned to nobody

[2021-03-05 20:18] rrelyea commented on #10629
@wli3  - if this is publish only, then shouldn't we route to the owner of publish?

[2021-03-05 21:56] heng-liu commented on #10620
@kartheekp-ms has implemented in the sign command for respecting -NonInteractive option.
So just check if such test is added. If not, add one.

[2021-03-05 22:28] mairaw opened #10633 "dotnet nuget push --skip-duplicate generates error telling you that you need to use --skip-duplicate"
---
**Issue moved from dotnet/core#6023**
- Please respond to @JJ-Niemi.

---

_From @JJ-Niemi on Friday, March 5, 2021 10:41:39 AM_

### Description
When you already have a nuget package in a private nuget repository, you will get an error when using --skip-duplicate option.

When running the following command:
dotnet nuget push "test-package.6.1.1.nupkg" -k "*******" -s "https://127.0.0.1/nuget/

[2021-03-05 22:28] mairaw commented on #10633
---
**Issue moved from dotnet/core#6023**
- Please respond to @antonfirsov.

---

_From @antonfirsov on Friday, March 5, 2021 3:56:37 PM_

@rrelyea @nkolev92 this looks like a NuGet issue, can you transfer this to https://github.com/NuGet/Home ?

[2021-03-05 23:19] #10632 closed, assigned to donnie-msft

[2021-03-05 23:47] wli3 commented on #10629
use https://github.com/dotnet/sdk/issues/16211 back

[2021-03-05 23:47] #10629 closed, assigned to nobody

[2021-03-05 23:55] rrelyea commented on #10630
i debugged this in nuget.exe and saw it working. but also tried nuget.exe 5.9, and it was failing.
then i searched for existing issues, cause i thought it might have been fixed in a recent build.

see fix here:
https://github.com/NuGet/Home/issues/9954#issuecomment-754952859

(go "unblock" the download of nuget.exe)..and it should work as needed.

[2021-03-05 23:55] #10630 closed, assigned to nobody

[2021-03-06 00:08] heng-liu opened #10634 "Signing: Design dotnet nuget trusted-signers commands"
Write up an RFC describing the commands and options and get it reviewed.

Reference: https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-trusted-signers

[2021-03-06 00:26] rrelyea commented on #9954
likely fix...in ProjectFactory::ExtractMetadata
add something like this after try block
                catch (FileLoadException flex) when (flex.FileName.EndsWith("nuget.exe", StringComparison.OrdinalIgnoreCase))
                {
                    var message = string.Format(
                        CultureInfo.InvariantCulture,
                        LocalizedResourceManager.GetString("Error

[2021-03-06 01:03] Andres6936 opened #10635 "Unable to install packages with NutGet on Ubuntu 18 [x86_64]"
### Steps to reproduce
Create a project from template ''Razor Server App".

Try installing any nutget package dotnet version 5 on Ubuntu. For example, `dotnet add package Dapper --version 2.0.78` But it happens with any package.

### Exceptions (if any)

<details>

[code]

</details>

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`

[code]

- The IDE (V

[2021-03-06 06:19] nhatkhai commented on #6330
Wow - another B.S. reason to step backward on technology improve my live.

[2021-03-06 06:35] nhatkhai commented on #6330
Seem like software fork forget that software ran on hardware. There are packages that doing hardware and software too. Just unzip stuff would never work..... unless I could unzip the drivers into Windows OS too....

[2021-03-06 06:46] nhatkhai commented on #6330
Why don't you MICROSOFT keep the install,uninstall alone in .nuget. And introduce a .nugetx for only unzip concept only?

[2021-03-06 13:24] Andres6936 commented on #10491
Same problem [here](https://github.com/dotnet/aspnetcore/issues/30712), the [proposed solution](https://devblogs.microsoft.com/nuget/microsoft-author-signing-certificate-update/#who-will-be-impacted) did not work.

[2021-03-06 15:22] Andres6936 commented on #10635
See https://github.com/NuGet/Home/issues/10491

[2021-03-06 22:18] nhatkhai commented on #6330
Shift the install.ps1 out side do not solving the security problem at all. At the end of the day what need to be run in install.ps1 would be run some where else in some other method.
I think if we want to improve security, we should instead lead install.ps1 run and introduce a while-list servers set. So each company may need a difference set of while-list servers to meet their own security definit

[2021-03-06 22:29] StingyJack commented on #6330
@nhatkhai - The nuget team effectively stopped listening to the user community a few years ago. If it improves your mental health by responding in this thread, by all means keep doing so. Just dont expect anyone there to listen to you.

[2021-03-06 23:52] nhatkhai commented on #6330
where should I find open mind place?

[2021-03-07 01:49] nhatkhai commented on #6330
https://news.ycombinator.com/item?id=26087064
HOPE THIS Start some body engine again.

[2021-03-07 05:43] perlun commented on #10635
If I interpret the stack trace correctly (thanks for providing it!), this is the most relevant of the ones in the exception graph:

[code]

[2021-03-07 12:56] hardhub commented on #10566
No one of them really good solution.

Best way is simply implement this one: https://github.com/NuGet/Home/issues/5611

Priority will solve the problem.

[2021-03-08 02:05] Andres6936 commented on #10635
As mentioned above, the [proposed solution](https://devblogs.microsoft.com/nuget/microsoft-author-signing-certificate-update/#who-will-be-impacted) has not worked, in fact I am still getting the error despite modifying NuGet.Config.

[2021-03-08 03:28] Csharp-Girl opened #10637 "Are the mixed TFM issues should be reported by Nuget?"
Given a project whose dependency tree is described as follows:
![Case1](https://user-images.githubusercontent.com/80234440/110269927-b1203c80-7fff-11eb-847a-4552f776ea4c.png)

According to the "direct dependency wins" rule, C 2.0.0 (TFW: Standard 2.1) can be actually installed instead of C 1.0.0 (TFW: Standard 2.0). In such scenario, B 1.0.0 (TFW: Standard 2.0) will reference C 2.0.0  (TFW: Standa

[2021-03-08 14:45] JonDouglas commented on #8087
The first stage of this work has been blogged about here:

https://devblogs.microsoft.com/nuget/how-to-scan-nuget-packages-for-security-vulnerabilities/

Thanks everyone for your patience!

[2021-03-08 16:48] arashcomsense opened #10638 "Unable to push NuGet packages to GitHub Packages from Azure Pipelines, Error 400"
## Details about Problem

We're running the build pipeline on an in-house hosted build agent (Windows) and it fails to push the generated NuGet packages to GitHub Package due to error 400 (Bad Request).

Product version:

Worked before? If so, with which NuGet version: Never

Simply include the following script in your YAML file:

[code]
**Note 1:** `MyMaskedRepo` is just a fictitious name to hide

[2021-03-08 17:41] heng-liu commented on #10622
commit https://github.com/NuGet/NuGet.Client/commit/08aea849fd864ef12a50274f8c581bcdbba80f55
Closed as fixed.

[2021-03-08 17:41] #10622 closed, assigned to heng-liu

[2021-03-08 18:21] vsfeedback opened #10639 "Updating nuget packages fails on a solution backed with SVN version control."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Updating-nuget-packages-fails-on-a-solut/1353545)._

---
[severity:It's more difficult to complete my work]
We have a large solution stored in a SVN repository.
We use VisualSVN extension to provide version control services to VisualStudio.
We have some critical .csproj files for which w

[2021-03-08 18:23] ghost opened #10640 "Feature Request: support for nuget package consumption in framework-less projects"
## Details about Problem

Detailed in issue https://github.com/dotnet/msbuild/issues/6210

Presently, nuget client errors out during `dotnet restore` if a user's project does not specify either TargetFramework or TargetFrameworks. E.g. if I'm building a nuget package that contains only build scripts or tools, so has no dependency on any dotnet framework version.

NuGet product used (NuGet.exe | Vi

[2021-03-08 18:39] JonDouglas commented on #10640
@aaronla-ms Is this related? https://github.com/NuGet/Home/issues/4254

[2021-03-08 19:25] aaronla-ms commented on #10640
@JonDouglas no. My question is how to generate a nuget using msbuild. The link you posted is asking how to generate nupkg without msbuild using just a nuspec.

We don't have a nuspec, we would prefer to use msbuild's nuspec generation for consistency with our C# nugets.

[2021-03-08 20:00] JonDouglas commented on #10640
It sounded like you want to use NuGet and the SDK without a target framework. That's why I linked this other issue. i.e. decouple pack from target framework/project files.

[2021-03-08 20:03] aaronla-ms commented on #10640
Hmm, possibly. Though the other issue as filed does state:

I _do_ have a .csproj file (specifically, using Microsoft.Build.NoTargets), and i don't have a nuspec.  I don't want to decouple from project files, just from framework.

[2021-03-08 20:16] prasethu commented on #8985
Feedback from customer: https://developercommunity2.visualstudio.com/t/Version-1684-has-excessive-prompts-for/1332050

[2021-03-08 20:17] zivkan commented on #10336
That setting only affects when a non-SDK style .NET project installs the first package. Once a project contains at least one package, the project keeps using that package style. If you uninstall all packages in a project, unfortunately you'll also need to reload the project to "reset" NuGet's memory of the project.

Some projects that don't support PackageReference will also ignore the setting, an

[2021-03-08 21:05] aortiz-msft commented on #10577
Hi there. We are closing this issue since we didn't hear back from you, but definitely let us know if you can still reproduce this problem on the latest version of NuGet. Thank you for your feedback and happy coding!

[2021-03-08 21:07] aortiz-msft commented on #10612
Also, Central Package Version Management is in early preview so there's no support from it in the CLI or Visual Studio.

[2021-03-08 21:10] aortiz-msft commented on #10613
Is this an issue with NuPack? If yes, you might want to create an issue in their repo: https://github.com/cnsharp/nupack

[2021-03-08 21:50] zivkan commented on #8985
related, or maybe this one is a duplicate: https://github.com/NuGet/Home/issues/7814

[2021-03-08 21:56] tachyus-ryan commented on #10612
@aortiz-msft thank you for the update. Do you need anything more from me?

[2021-03-08 23:09] dtivel opened #10641 "ServiceActivationFailedException: Activating the "Microsoft.VisualStudio.NuGet.NuGetProjectService (1.0)" service failed"
Tracking AzDO 1240336.

[2021-03-09 01:04] drewgillies commented on #7752
As part of this work, we would want to include the output of the `--vulnerable` report. Extending @xavierdecoster's proposed output for `--outdated` and `--deprecated`, `--vulnerable` could look something like this:

[code]

@anangaur @JonDouglas

[2021-03-09 01:15] softboy99 commented on #10613
Hi,
no, when use nuget package reference, the package manager tracking dependecy by package.nuspec file, so when using package manager to install/update dependencies to it, it should update the package.nuspec file

[2021-03-09 01:16] nkolev92 commented on #10617
Without digging further, NuGet should select the project if the project & package have the same version.
Do you see the package getting selected in a graph where both are available?
If not, then this is likely by design.

[2021-03-09 04:22] erdembayar opened #10642 "NuGetFramework.ParseFolder could do a faster lookup when getting the identifier"
## Details about Problem

NuGet product used (Visual Studio):

Product version:  16.8

Worked before? If so, with which NuGet version: N/A

## Repro steps and/or sample project

While analyzing [VSFeedback#1286488](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1286488) I noticed 4 background NuGet threads are blocking for large solution and huge number of packages.
One thread blocked on N

[2021-03-09 05:27] erdembayar opened #10643 "NuGet telemetry data size need to be reduced also need to be thread safe"
## Details about Problem

NuGet product used (Visual Studio):

Product version: 16.8

Worked before? If so, with which NuGet version: N/A

## Repro steps and/or sample project
While analyzing [VSFeedback#1286488](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1286488) I noticed 4 background NuGet threads are blocking for large solution and huge number of packages.
Out 2 from 4 were telemet

[2021-03-09 05:29] erdembayar commented on #10643
cc @dominoFire

[2021-03-09 05:44] erdembayar opened #10644 "NuGet.ContentModel.Infrastructure Parser method need performance improvement"
## Details about Problem

NuGet product used (Visual Studio):

Product version: 16.8

Worked before? If so, with which NuGet version: N/A

## Repro steps and/or sample project
While analyzing [VSFeedback#1286488](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1286488) I noticed 4 background NuGet threads are blocking for large solution and huge number of packages.
One of was Parser in NuGe

[2021-03-09 05:50] erdembayar commented on #9906
@nkolev92 @aortiz-msft
We finished perf improvement for `PackageReference` type. But considering many enterprise users still use package.config type maybe we need to do something here.

[2021-03-09 06:36] Csharp-Girl commented on #10637
@nkolev92 hi, could you give me some insights? I am confused about this scenario.

[2021-03-09 09:46] v-luzh commented on #9804
It is fixed, base on the verification on Main\31108.185 + NuGet Client Dev\5.10.0.7157. Close it now, thanks.

[2021-03-09 09:46] #9804 closed, assigned to donnie-msft

[2021-03-09 10:29] #10639 closed, assigned to nobody

[2021-03-09 14:46] Csharp-Girl commented on #10637
@zivkan Thanks for your detailed explanations. I learned a lot from your comments. : )

[2021-03-09 20:08] dtivel commented on #10535
Currently the order of details is:

 * primary timestamp signature
 * primary signature
 * repository countersignature timestamp signature
 * repository countersignature

If I recall correctly, warnings are interleaved but immediately after the pertinent signature.

I'm OK with reordering timestamp signatures after their timestamped signature and moving all warnings to the end.  Correct me if I'm

[2021-03-09 20:28] BryceBarbara opened #10645 "Null Argument Passed to Path.Combine When Pushing Symbols"
From what I can tell, this problem only occurs on linux.

If the Folder or project name is the same as package name, you'll get a null reference. More detail about it can be found [here](https://github.com/NuGet/Home/issues/8543#issuecomment-537627066).

The [problem code](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/Resources/PackageUpdateResource.cs#L330) doesn't

[2021-03-09 20:51] crummel opened #10646 "Upgrade NuGet.Client arcade version to 6.0"
Arcade-powered source-build requires Arcade 6.0 or higher.  NuGet.Client will need to be upgraded to support ArPow.

[2021-03-09 21:25] nkolev92 commented on #9906
@erdembayar

I think the priority we have right now is reasonable.

[2021-03-09 21:26] kartheekp-ms commented on #10535
I am working on https://github.com/NuGet/Home/pull/10466 spec to improve the log messages displayed for every `verbosity` level of `dotnet nuget verify` command. There are few review comments in the spec _for e.g.,[1](https://github.com/NuGet/Home/pull/10466#discussion_r567139750) & [2](https://github.com/NuGet/Home/pull/10466#discussion_r567141200)_  to improve log message considering recent Debi

[2021-03-09 23:45] erdembayar commented on #10646
@crummel
Hi. Thank you for your contribution. It looks you already have PR created. Can you self assign ticket for yourself?

[2021-03-10 00:25] StingyJack commented on #6188
@jainaashish - can this be re-evaluated? Something like this would be nice for troubleshooting or understanding things like "Why does Visual Studio want to install System.Security.AccessControl v5.0.0 when my netstandard2.0 package has only newtonsoft.json v12.0.3 as a declared dependency?"

There was also an issue open here somewhere requesting the old visualization tool be resurrected for genera

[2021-03-10 00:31] heng-liu opened #10647 "Trusted-signers Add has inconsistent arguments"
Thanks for @loic-sharma 's question in https://github.com/NuGet/Home/pull/10628#discussion_r589856473

In NuGet.exe command, the package path could be [wildcard](https://github.com/NuGet/NuGet.Client/blob/ac97d923e633f4ee65eec5ec690c4d99d7a922f3/src/NuGet.Core/NuGet.Commands/TrustedSignersCommand/TrustedSignersCommandRunner.cs#L93-L108), so there might be multiple paths after parsing.
But there is

[2021-03-10 00:44] zivkan commented on #6188
@StingyJack The resolver algorithms themselves are in:
NuGet.DependencyResolver.Core for PackageReference
NuGet.Resolver for packages.config

I've never looked at NuGet.Resolver myself. But from what I've seen of NuGet.DependencyResolver.Core, it's very tied to NuGet.Command's RestoreCommand, to the point that it's probably just as difficult as performing a restore itself. I have no idea how to us

[2021-03-10 00:46] nkolev92 commented on #10590
I'm not confident this we can rely on this as an assumption.
This is invalid restore scenario, so what other components do post restore is not fully in our control.

If you had *actual code* in any of your projects, then at build time, you'd get many other other errors telling you that it can't resolve certain types.

There's a chance we can avoid this particular message. We create *dummy* targets

[2021-03-10 01:02] #10617 closed, assigned to nobody

[2021-03-10 01:34] erdembayar commented on #10637
I'm closing this one since I believe it's already answered.
But definitely let us know if it's not. Thank you for your feedback and happy coding!

[2021-03-10 01:34] #10637 closed, assigned to nobody

[2021-03-10 03:47] StingyJack commented on #6188
@zivkan - i found that using package manager console and the `Install-Package` along with `-WhatIf` and `-Verbose` were useful enough to locate that additional System.Security package issue I was having (some other package needed them that hadn't been installed correctly a few months ago, I'm just the next lucky maintenance programmer). Anyone needing the OP request because they are having a probl

[2021-03-10 06:24] helviett commented on #9222
`dotnet restore` doesn't work with Xamarin.Mac project.

[2021-03-10 09:27] johnkors commented on #8087
Adding [a comment](https://github.com/dotnet/runtime/issues/49377#issuecomment-795126279) on the latest security annoument. Maybe this is a more suitable thread for it. [As mentioned above](https://github.com/NuGet/Home/issues/8087#issuecomment-641848525), I think there is a clear need for:

Ex.: https://github.com/dotnet/runtime/issues/49377

Without a runtime check, `dotnet list packages --vulne

[2021-03-10 12:30] ViktorHofer commented on #10617
This issue is about NuGet selecting the project over the package even though the project isn't referenced by a specific TFM when multi-targeting.

[2021-03-10 12:33] ViktorHofer commented on #10368
Absolutely agree with @dagood on this one. Filed https://github.com/NuGet/Home/issues/10617 which was closed as a dup of this one but which includes a very simple repro.

This is causing unreasonable pain in dotnet/runtime in which we often reference via `<PackageReference />` and `<ProjectReference />` based on the TFM but IMHO is a bug that any customer could easily encounter when multi-targetin

[2021-03-10 13:03] samrueby commented on #10577
I believe that I reproduced it a few days ago.

[2021-03-10 15:53] donnie-msft opened #10648 "Authentication Prompts do not indicate the Feed and Retry count & can seem infinite"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): VS

Product version: any

Worked before? If so, with which NuGet version:

Authentication popups should be more detailed with which feed, and which retry count is being presented.
Showing generic popups 3x per feed can appear to be an infinite and arbitrary

From https://developercommunity.visualst

[2021-03-10 16:34] kzu commented on #4856
You have turned on "Show All Files", that icon:

![image](https://user-images.githubusercontent.com/169707/110663603-5a546780-81a5-11eb-950d-3a7452f30eb5.png)

So that's expected I think.

[2021-03-10 16:43] #10611 closed, assigned to zivkan

[2021-03-10 16:45] zivkan commented on #10648
related (duplicate?): https://github.com/NuGet/Home/issues/7814 https://github.com/NuGet/Home/issues/8985

[2021-03-10 16:51] remcoros commented on #4856
@kzu how embarrassing... I totally missed that.

[2021-03-10 17:15] donnie-msft commented on #10648
7814 says "should not automatically prompt" - that's different than making it clear what we're prompting for.
8985 is very generic "improve UX", so I'm sure this could be a step along that path, yes.

[2021-03-10 17:16] donnie-msft commented on #10648
Related https://developercommunity2.visualstudio.com/t/Version-1684-has-excessive-prompts-for/1332050

[2021-03-10 18:56] vsfeedback opened #10649 "Update-Package -Reinstall should not be required to perform a successful restore before reinstalling the package"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Update-Package--Reinstall-should-not-be-/1360432)._

---
[severity:It's more difficult to complete my work]
I'm getting the error

The package thats a problem is `System.Runtime.InteropServices.RuntimeInformation`.    If I try to use the PM UI to remove and reinstall the package, I cant,

[2021-03-10 19:03] erdembayar commented on #10649
I believe one of your raised issue being addressed here : https://github.com/NuGet/Home/issues/10184
And long path is here: https://github.com/NuGet/Home/issues/3324

[2021-03-10 19:45] nkolev92 commented on #10617
yeah @erdembayar is on hot seat this week so he correctly validated that it's a bug similar to the one we reported in #10368

[2021-03-10 20:51] vsfeedback opened #10650 "PMUI Update solution nuget packages: Collection was modified; enumeration operation may not execute."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Update-solution-nuget-packages:-Collecti/1359900)._

---
[severity:I'm unable to use this version] [regression] [worked-in:16.8.6]
After updating nuget packages for a solution, I sometimes see a yellow "Error occurred" message with this in the package manager output window:

**"Collectio

[2021-03-10 21:01] StingyJack commented on #10649
@erdembayar I didnt mention transitivity anywhere. I just dont want to have to have a completely healthy package restore need to occur before running a special utility to fix package install problems. Its like saying you cant write any code until the code you have compiles, and the code has a syntax error.

[2021-03-10 21:31] dtivel opened #10651 "Signing: add tests verifying primary + timestamp + countersignature + timestamp with expired primary/repository signing certificates"

[2021-03-10 21:48] donnie-msft commented on #10510
Released in 16.9 Preview 5

[2021-03-10 23:03] nkolev92 commented on #10649
The behavior you are experience is a design flaw of `packages.config`. In packages.config the content of packages is burnt *into* the project file, as such the uninstall/update actions needs to know the content of the package to run the uninstallation.

Reinstall is effectively running uninstall, then install, so it suffers from the same problem.

This has been reported previous in https://github.

[2021-03-10 23:07] vsfeedback opened #10652 "Manage NuGet packages for solution : Object reference not set to an instance of an object"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Manage-NuGet-packages-for-solution-:-Obj/1357563)._

---
[regression] [worked-in:16.8.6]
Hi,
after we update to Visual Studio 2019 16.9, clicking on "Manage NuGet packages for solution" show an error and in the output window we got "Object reference not set to an instance of an object.".

[2021-03-10 23:13] erdembayar commented on #10652
@aortiz-msft
It's regression related to "NuGet recommender", now trying to pinpoint exact location of problem.

[2021-03-10 23:14] erdembayar commented on #10650
@aortiz-msft
It's regression related to "NuGet recommender", now trying to pinpoint exact location of problem.

[2021-03-10 23:39] erdembayar commented on #10650
It's coming from [here](https://github.com/NuGet/NuGet.Client/blob/9dcb02945ce96a5ea8b98e5ff5e83fc67883fc16/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/PackageReferenceProject.cs#L70-L88). But change in [PR#3680](https://github.com/NuGet/NuGet.Client/pull/3680/files) is quite much, can't tell exactly what is wrong here.

[2021-03-11 00:21] nkolev92 commented on #10642
The title is scarier than the impact :)
It's only that 1 specific call instead of the whole codepath that's could be faster.

I'm also not sure this can be improved much.
In the scenario in question, we need to key from the dictionary to get the correct casing.
So the only thing you can do is replace `Where` with `First` which runs in the same time complexity.

Can you please improve the title?

[2021-03-11 00:28] nkolev92 commented on #9801
Not a consideration at this point.
Closing this issue for now.

[2021-03-11 00:28] #9801 closed, assigned to nobody

[2021-03-11 00:32] nkolev92 commented on #10644
Dup of https://github.com/NuGet/Home/issues/8428.

I am not confident the time complexity is the problem here, that's necessary, it's the allocations.

Either way, more investigations will be done in the linked issue.

[2021-03-11 00:32] #10644 closed, assigned to nobody

[2021-03-11 01:13] erdembayar commented on #10652
It's coming from one of those 4 lines

https://github.com/NuGet/NuGet.Client/blob/9dcb02945ce96a5ea8b98e5ff5e83fc67883fc16/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/CpsPackageReferenceProject.cs#L292-L295

[2021-03-11 14:48] Grivus commented on #3050
I'm also interested in resolving this issue in 2021.

[2021-03-11 15:45] levicki opened #10653 "[QUESTION] How to use NuGet packages in a C++/CLI project?"
I have a C++/CLI project which uses both native and managed code.

It is a common pattern where you have a native class implementation with core functionality, and a managed class exposed to external C# code. This managed class needs to use .Net NuGet packages, not native ones.

In Visual Studio 2019 16.9.0 when I try to add a NuGet package such as PCSC or NLog or Newtonsoft.Json to a C++/CLI proj

[2021-03-11 15:57] harigutta commented on #3788
Any updates on this issue?

[2021-03-11 16:07] donnie-msft opened #10654 "Vs2019 v16.9.0: Switching tabs in NuGet Package Manager from "Updates" to "Installed" doesn't update the frame."
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): VS

Product version: 16.9 GA (VS Community D16.9\31025.194) and Main\31110.293 + NuGet Client Dev\5.10.0.7160,

Worked before? If so, with which NuGet version: 16.8

## Repro steps and/or sample project

https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1288980

•	Click “Installed” Tab -> Click “

[2021-03-11 17:06] 24mu13 opened #10655 "Transitive dependent packages are not restored on Linux"
## Details about Problem

NuGet product used: dotnet

Product version: 5.0.201

Worked before? If so, with which NuGet version: No, AFAIK

## Repro steps and/or sample project

Let's consider two netstandard2.0 libraries: A and B used as NuGet packages.
Create a project P netstandard2.0 that references A, and A references B.
All references are PackageReference.

Now I have two different behaviors

[2021-03-11 18:10] aortiz-msft commented on #10594
We are closing this issue since we didn't hear back from you, but definitely let us know if you can still reproduce this problem on the latest version of NuGet. Thank you for your feedback and happy coding!

[2021-03-11 18:10] #10594 closed, assigned to nobody

[2021-03-11 18:12] aortiz-msft commented on #10612
No. I will close this issue for now since this functionality is not yet supported. Thanks again!

[2021-03-11 18:12] #10612 closed, assigned to nobody

[2021-03-11 18:18] aortiz-msft commented on #10638
Hi there. We think GPR requires the RepositoryUrl for a successful push. See: WARNING: No destination repository detected. Ensure the source project has a 'RepositoryUrl' property defined. If you're using a nuspec file, ensure that it has a repository element with the required 'type' and 'url' attributes.

[2021-03-11 18:18] aortiz-msft commented on #10638
We are closing for now but feel free to comment if that does not work for you. Thanks!

[2021-03-11 18:18] #10638 closed, assigned to nobody

[2021-03-11 18:26] aortiz-msft commented on #10646
Closing as per last comment from zivkan.

[2021-03-11 18:26] #10646 closed, assigned to nugetlurker

[2021-03-11 18:28] aortiz-msft commented on #10647
@erdembayar - Could we address this in the dotnet.exe implementation as first step?

[2021-03-11 18:32] #10649 closed, assigned to nobody

[2021-03-11 18:44] nkolev92 commented on #10642
You can't look up a key value in constant time. There's no API for that.

[2021-03-11 18:45] aortiz-msft commented on #9222
@v-luzh - Would you please repro this on Mac using our latest bits?

[2021-03-11 18:49] StingyJack commented on #4856
Even so, they aren't part of the project. You can't do anything with them except be confused by them.

[2021-03-11 18:50] aortiz-msft commented on #10491
@Andres6936  - We are not sure that you are hitting the same issue. If you open a new issue, we will take a look.

[2021-03-11 19:00] zkat opened #10656 "tfm_raw error happening for some TFMs during pack"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): dotnet.exe

Product version: 5.0.100-rtm.20522.4

Worked before? If so, with which NuGet version: Previews

## Repro steps and/or sample project

1.  Run open up a normal Windows PowerShell (do not run as administrator)
2. Create a folder and create a razor class library, then create a package
[cod

[2021-03-11 19:01] zkat commented on #10656
Fixed by https://github.com/NuGet/NuGet.Client/pull/3730

[2021-03-11 19:01] #10656 closed, assigned to nobody

[2021-03-11 19:07] erdembayar commented on #10642
Sure, I know that. We need refactoring, maybe I'll investigate in the future.

[2021-03-11 19:13] chrisraygill opened #10657 "Create NuGet.org login authentication workflow for `dotnet nuget push` (No API key required)"
Allow pushing to NuGet.org via the `dotnet nuget push` command by NuGet.org account login in the CLI or the browser.

[2021-03-11 19:21] Andres6936 commented on #10491
@aortiz-msft Yes sir, I have reopened the issue that I had previously closed, I leave a link [here](https://github.com/NuGet/Home/issues/10635).

[2021-03-11 19:58] donnie-msft commented on #10654
I also repro'd in 16.9 Preview 4.

[2021-03-12 07:22] TheGreatMcPain commented on #10504
I was just running into this while updating my `osu-lazer` ebuild.

Looks like updating `app-misc/ca-certificates` to 20210119.3.62 fixes it.

[2021-03-12 12:31] arashcomsense commented on #10638
@aortiz-msft Please do not close this issue as the issue still persists. Our nuspec file has had the repository info per the following definition: `<repository url=https://github.com/masked1/masked2 />`. I changed it to `<repository type="git" url="https://github.com/masked1/masked2"/>` and got the following error message **(please do continue reading my comments after the error message)**:

Micro

[2021-03-12 17:16] akovac35 commented on #9667
Speaking from production experience: we have a growing number of internal nugets. Using dotnet restore does not load symbols from our internal package server, so the reslease builds do not contain line numbers when exceptions are thrown from those packages.

 So there exists a very good reason for adding this function as a switch.

[2021-03-12 17:30] dtivel opened #10659 "Docs: broken template link"
The template link [here](https://github.com/NuGet/NuGet.Client/blob/76df48c2d8e62986b209f3c326606b17472bb181/docs/design-review-guide.md#design-rules) was broken by https://github.com/NuGet/Home/pull/10525/files?file-filters%5B%5D=.md#diff-4431dd48c0a37d7bb5bd3290526306f810847050d8a3afa77d98dc1e64827e4b.

[2021-03-12 18:35] JonDouglas commented on #10566
For those on this thread, we have now published a proposal for a feature we believe will help secure your software supply chain even further. Please feel free to provide your feedback directly on the PR.

https://github.com/NuGet/Home/pull/10660

[2021-03-12 18:52] nkolev92 commented on #9734
Hey @walterlv, we have a feature design for #6867 in https://github.com/NuGet/Home/pull/10660.

Does that fit your scenario?

[2021-03-12 19:20] nkolev92 commented on #8952
Issues such as this should be tagged with engineering to avoid getting picked up in the release notes.

[2021-03-12 19:38] tasmin commented on #9853
Like @tomdewilde our release version of the NuGet package is obfuscated and when the app that uses the NuGet package is run in Debug configuration, it breaks and cannot be debugged. We need to use the debug build of the NuGet package to be able to develop any code that uses the NuGet package that is obfuscated in Release configuration.

[2021-03-12 22:26] ajdintrejic commented on #4103
@JonDouglas Bumping this issue

[2021-03-12 22:34] nkolev92 commented on #6404
Closing this  as this wasn't a bug :)

[2021-03-12 22:34] #6404 closed, assigned to nobody

[2021-03-12 22:34] nkolev92 commented on #10642
I'm not sure there's much to be gained here.

What you did it you just caught the stack at the time the dump was taken, that doesn't mean that anything too expensive was happening there.

[2021-03-12 22:39] nkolev92 commented on #5749
Detailed and debug are the same now. Not much to gain from a big change rn.

[2021-03-12 22:39] #5749 closed, assigned to nobody

[2021-03-12 22:41] nkolev92 commented on #7000
This is a lower priority right now. Not something that's being hit too frequently

[2021-03-12 22:41] #7000 closed, assigned to nobody

[2021-03-12 22:43] nkolev92 commented on #7982
Answer is no here.

[2021-03-12 22:43] #7982 closed, assigned to nobody

[2021-03-12 22:43] #8069 closed, assigned to nobody

[2021-03-12 22:43] nkolev92 commented on #8061
Low pri.

[2021-03-12 22:43] #8061 closed, assigned to nobody

[2021-03-12 22:47] nkolev92 commented on #8203
Closing as low pri

[2021-03-12 22:47] #8203 closed, assigned to nobody

[2021-03-12 23:00] icnocop commented on #7796
Setting RestoreUseSkipNonexistentTargets=false before running nuget.exe caused nuget.exe to return a successful exit code (0), but after updating Visual Studio 2019 to 16.9, MSBuild version 16.9.0.11203, nuget.exe now returns a non successful exit code (-1).

[2021-03-12 23:08] icnocop commented on #7796
@soroshsabz, see this issue and comment for workarounds: https://github.com/dotnet/msbuild/issues/2064#issuecomment-315875143

[2021-03-13 00:30] walterlv commented on #9734
@nkolev92 Thanks for your reply.

I think #10660 (`package namespaces`) solves my issue. What our private source provides are packages with internal namespaces, which is the right scenario of the feature.

[2021-03-13 01:29] erdembayar commented on #10635
@Andres6936
It looks your `linuxmint.18.2-x64` not affected by [Debian Certificate root authority issue].(https://github.com/NuGet/Announcements/issues/49) Someone else is going on?
Can you open `https://api.nuget.org/v3/index.json` from your web browser?
Can first try run below console app to test your ssl connection?
https://gist.github.com/zivkan/5291f507c8c5724d41a18357b7afcd30
https://gist.gi

[2021-03-13 01:47] Andres6936 commented on #10635
Yes sir, here the result:

<details>

[code]

</details>

[2021-03-13 01:49] erdembayar commented on #10635
Please try to create simple console app and try to run for SSL connection test.
https://gist.github.com/zivkan/5291f507c8c5724d41a18357b7afcd30
https://gist.github.com/zivkan/eba3667d72277e3abf0785f6d5c6ee2f

[2021-03-13 01:57] Andres6936 commented on #10635
Reference: https://gist.github.com/zivkan/5291f507c8c5724d41a18357b7afcd30

ConsoleApp1.csproj

[code]

Program.cs

[code]

Result:

[code]

[2021-03-13 02:01] Andres6936 commented on #10635
Reference: https://gist.github.com/zivkan/eba3667d72277e3abf0785f6d5c6ee2f

ConsoleApp1.csproj

[code]

Program.cs

[code]

Result:

[code]

[2021-03-13 21:23] oscarromero commented on #7274
Just to add another point, uncomment the element "<add key="aspnet:UseHostHeaderForRequestUrl" value="true" />"  in the Web.config of your project or IIS. this is useful if you are behind a firewall or your NugetServer runs on different port. for me, this works.

[2021-03-14 00:14] JonDouglas commented on #10491
Hi everyone,

To provide an update, we have news that both _**Debian 9**_ & _**Ubuntu 20.10 (Groovy Gorilla)**_ have recently released fixes to this issue.

I've updated the https://github.com/NuGet/Announcements/issues/49 to reflect the status of these two environments with the respective bug reports.

If your Linux distribution has not received a fix yet, please file a bug report in the distro's

[2021-03-14 07:24] KalleOlaviNiemitalo commented on #10264
This would be cool for [ASP.NET 2.1 on .NET Framework](https://dotnet.microsoft.com/platform/support/policy/aspnetcore-2.1), as well.

[2021-03-14 08:03] KalleOlaviNiemitalo commented on #9706
Several projects that I maintain on .NET Framework use a \*.dll.config file as the configuration file of a non-default application domain in which the DLL is then loaded. Especially for automated testing ([NUnit Console uses the config by default](https://github.com/nunit/nunit-console/blob/bca0ea8dfb060a14651ab6752104f036cb12b5bc/src/NUnitEngine/nunit.engine.core/Services/DomainManager.cs#L108))

[2021-03-14 13:29] zivkan commented on #9706
The binding redirects being discussed here are only about projects using packages.config. NuGet does this at package install time, and it modifies the `app.config` or `web.config` file that is part of your source control.

For projects using PackageReference, NuGet doesn't generate binding redirects, hence only the `csproj` will be modified in your source control commits. The .NET SDK (and I mean

[2021-03-14 13:58] zivkan commented on #10635
@Andres6936 the second gist you found has nothing to do with connection problems to nuget.org. It was a test program for developing a new feature, and you see that it's connecting to localhost, not nuget.org.

This suggests to me that your issue is almost certainly an operating system configuration issue. Given it worked for you in your web browser, it also tells me that whatever web browser you'r

[2021-03-14 14:44] Andres6936 commented on #10635
No sir, I use Microsoft Edge Browser.

![browser](https://user-images.githubusercontent.com/18540634/111072548-0f8a6680-84a9-11eb-98ef-0db1dffb67df.png)

[code]

**Downloading the file with `curl` has failed (I have tried several times).**

Sir, this is the content of mi` /etc/ca-certificates.conf`

[code]

[2021-03-14 14:48] Andres6936 commented on #10635
The certificate is valid and the connection is secure.

![image](https://user-images.githubusercontent.com/18540634/111072816-3f863980-84aa-11eb-968c-5a1139d8faa9.png)

[2021-03-14 15:16] zivkan commented on #10635
As previously mentioned, I'm not an expert outside of NuGet. The test program you used of mine demonstrated that .NET's HttpClient is unable to connect to api.nuget.org on your machine. You could try contacting dotnet/runtime, and the System.Net.Http experts can try to help you. But NuGet depends on HttpClient being able to connect, and until that's true, I'm unsure how to further help.

[2021-03-15 04:31] zhhyu opened #10661 "Clients terminate the restore procedure, when any DNS failure is met."
## Details about Problem

NuGet product used: NuGet.exe

Product version: 5.6.0

It seems that clients terminate the restore procedure, when any DNS failure is met.

## Repro steps and/or sample project

For example: "NuGet Gallery" (https://github.com/NuGet/NuGetGallery)
1. Clone the repository;
2. Update "NuGet.config" to use the only feed: "apidev.nugettest.org";
3. Clear local caches: `dotnet

[2021-03-15 12:41] BlackGad commented on #5016
Made pull request. Seems problem solved.

[2021-03-15 18:06] markmcgookin commented on #10423
I'm getting this myself on macOS and on my linux containers... I can't figure out what is missing. I have dotnet SDK installed 5.0.201 and Runtime 5.0.4. I can build and run a solution fine and debug an app... but when I go to the project directory specifically and do `dotnet publish -c Release -o out` I get

`/usr/local/share/dotnet/sdk/5.0.201/NuGet.targets(131,5): error : Invalid framework iden

[2021-03-15 18:20] #10567 closed, assigned to nobody

[2021-03-15 18:22] zivkan commented on #10567
@uweigand  thank you for fixing this issue.  It should ship with NuGet 5.10, VS 16.10 (although perhaps this isn't a scenario where the fix will help), and  .NET 5 SDK 5.0.300

[2021-03-15 18:35] nkolev92 commented on #9734
Happy to hear that.

I will close this as dup of https://github.com/NuGet/Home/issues/6867, which is the tracking issue for the feature.

Please let us know if you have any feedback on our design!

[2021-03-15 18:35] #9734 closed, assigned to nobody

[2021-03-15 18:37] uweigand commented on #10567
Thank you!

[2021-03-15 19:44] ecuzzillo commented on #9347
We (Unity) would still like to do this, and we're currently blocked on shipping our Tiny targets to run on .NET Core / .NET 5 instead of mono/.NET Framework for local iteration, because we can't provide correct intellisense for Tiny in SDK-style project files. For versions bundled with a locally-installed .NET 5 SDK, we've been able to get correct Tiny intellisense by setting `NetCoreTargetingPack

[2021-03-15 20:23] #10608 closed, assigned to jebriede

[2021-03-15 20:32] nkolev92 commented on #10661
Copying my response from the e-mail:

NuGet PackageReference restore fails fast on the first network failure, that's [documented](https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#packagereference-and-sources) and is consistent across all tools.
packages.config is more permissive to network failures and will try to reach all sources.

What you are suggesti

[2021-03-15 20:44] jhonvolkd opened #10662 "Feature Request: Flag to fail restore if package.config contains prerelease"
## Details about Problem

I've read through the docs for the CLI and this doesn't seem to exist.

Our usecase:
We run .NET builds through CI with separate configurations for different environments (Dev, Debug, UAT, Production)
We'd like to fail builds on Debug, UAT and Production that contain prerelease packages, but allow them on Dev. This would let us be confident that we only push up Nuget refe

[2021-03-16 00:05] #10651 closed, assigned to dtivel

[2021-03-16 00:05] #10659 closed, assigned to dtivel

[2021-03-16 00:07] vsfeedback opened #10663 "textfile.nuspec failing to build the project after upgrading to Visual Studio 2019 16.9.1 from Version 16.8.7"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/textfilenuspec-failing-to-build-the-pro/1368425)._

---
[regression] [worked-in:16.8.0]
I have a .NET standard project which is having textfile.nuspec. When i was building the project it is failing with error.
After updagrading to latest Visual studio 2019 16.9.1. It was working without

[2021-03-16 01:12] donnie-msft opened #10664 "PMUI doesn't make clear when no actions were performed by a Package Management Action"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): VS

Product version:

Worked before? If so, with which NuGet version: unsure

If PMUI resolves 0 actions here: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.UI/Actions/UIActionEngine.cs#L358, I believe it will either complete silently (when `uiService.Disp

[2021-03-16 03:45] erdembayar commented on #10647
What is `reset` here?
Can you give actual full  command here for below cases and with expected result for reach?
1. `do not accept multiple paths`
2. `accept multiple 'Name'`

[2021-03-16 13:15] anoftc commented on #10423
Hi all

I confirm this error reason. The restore part of "dotnet build" fails with error message `error : Invalid framework identifier '' ` if there is no applicable TargetFramework parts in the csproj file. I can understand the error, but the error message should be improved, that is for sure...

With bad csproj contents:
[code]
With good csproj contents:

[code]

@markmcgookin thanks for the ide

[2021-03-16 13:22] IanKemp commented on #10264
I agree that overloading the meaning of `Version` was a big mistake. To sidestep that whole mess, we could add another property called `InstalledVersion`, that is quite literally the version of the package that is currently installed in that project against (i.e. what `Version **should** have been). `InstalledVersion` will have a higher precedence than `Version`, to allow for the eventual deprecat

[2021-03-16 13:35] IanKemp commented on #5553
Still waiting for this critical feature, Microsoft!

[2021-03-16 17:44] heng-liu commented on #10647
Hi @erdembayar , the command is` nuget trusted-signers add <package(s)> -Name <name> [options]`
we could do 1 or 2. I personally feel 1 is safer, but would love to learn more thoughts from others.
1. do not accept multiple paths, means when we pass package path to command, we verify if it's only 1 nupkg. If it's wildcard and there are multiple nupkgs resolved, it will fail and say like " there are

[2021-03-16 19:02] StingyJack commented on #10649
I dont mind this being called a dupe except that those two cited examples are talking about uninstall and update, not a repair (idempotent install) operation.  The problem is that -Reinstall is not re-installing, its uninstalling then installing.  The docs issue you logged doesnt make that differentiation either.

[2021-03-16 19:42] nkolev92 commented on #10649
What would expect to be the difference between a reinstall and uninstall then install of the same package ids?

[2021-03-16 19:47] #10598 closed, assigned to nkolev92

[2021-03-16 22:11] erdembayar commented on #10647
@zkat  @dtivel @joelverhagen @loic-sharma @nkolev92 @zivkan @JonDouglas
Please give your opinion. #1 or #2? I prefer number #1 too, same as @heng-liu. If there're many it's hard to match visually and might lead to unwanted event.

[2021-03-16 22:30] zkat commented on #10647
I see from the code that, yes, we'll throw that error.

That said, I thought it was possible to have, say, multiple `Author` certificates under a single name (as in the example under "list" here: https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-trusted-signers#nuget-trusted-signers-list).

Am I misunderstanding how this command works? I would expect this to _append_ new signe

[2021-03-16 23:40] rseanhall opened #10665 "Spurious NU5128 warning related to content in runtimes folder"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):

## Repro steps and/or sample project

1. Clone https://github.com/rseanhall/Core.Native/tree/nu5128-bug
2. Run appveyor.cmd

Observe no warnings or errors.

3. Reset to the previous commit (https://github.com/rseanhall/Core.Native/commit/4e3c12a45cb91828ac94963129495033a4402136).
4. Run appveyor.c

[2021-03-16 23:50] heng-liu commented on #10647
I tried with multiple nupkgs in the path, like:
`nuget trusted-signers add c:\testpackages\*.nupkg -Name TestTrustedSigner1 -Author`
Only the first nupkg's author cert is added into trusted-signers section.
The rest of nupkgs failed to be added. As we have a duplicate checking on argument `Name `. So no duplicate `Name ` could be added into trusted-signers section, and we don't accept multiple `Na

[2021-03-17 00:19] erdembayar commented on #10647
But here you're only passing single Name not multiple. Can we pass comma separated names?

[2021-03-17 03:03] heng-liu commented on #10647
I tried, multiple `Name`s doesn't work.
We assume there is only one `Name` in our [code ](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/TrustedSignersCommand/TrustedSignerActionsProvider.cs#L130).

[2021-03-17 16:25] zkat commented on #10647
I am aware that the code will fail as-is. I'm asking about the configuration itself. The spec says that if something already exists under `<name>`, the new signature should be _appended_. Is that something we can do, or does that make no sense?

[2021-03-17 16:26] StingyJack commented on #10649
I would expect that `-reinstall` either performs the actions done to install the package (idempotent install, even if the first one seems to have failed) or does an uninstall then install. Both cases should assume the preconditions are still met as they were when the package was installed originally.  That precondition mostly being the need to have a clean restore of everything.

[2021-03-17 17:38] erdembayar commented on #10647
Let's assume there were 3 files in that `c:\testpackages\*.nupkg` path.
Then `nuget trusted-signers add c:\testpackages\*.nupkg -Name TrustedAuthor1 -Author` command will result in below section in config file. Is below your expected assumption?

    <author name="TrustedAuthor1">
      <certificate fingerprint="A3AF7AF11EBB8EF729D2D91548509717E7E0FF55A129ABC3AEAA8A6940267641" hashAlgorithm="SHA25

[2021-03-17 18:01] zkat commented on #10647
I'm not overly concerned about this causing major trip-ups, tbh. Maybe @dtivel has a different opinion on what should be done? I'd rather have the wildcard feature, because it's something folks have asked for before (if I understand correctly something that Heng said)

[2021-03-17 18:33] raffaeler opened #10666 "Remove deprecated field "owners" from VS UI Details Pane"
## Details about Problem

Even if the field "owners" in the `.nuspec` file has been deprecated, the NuGet UI in Visual Studio shows this field when the `nuspec` is created from the `csproj` and consumed directly in VS.

Visual Studio version: 16.10.0 Preview 1

## Repro steps and/or sample project

1. Create a C# .NET 5 project with the following nuget attributes:
[code]
2.  Publish the library /

[2021-03-17 23:04] yaichenbaum commented on #10375
We recently had an issue where our app stopped working after updating a Nuget package that we had been using for a couple of years with no problems. It turned out that the library removed a dependency and it caused us to look all over before we found what we needed to add to our project. Implementing this proposal will make sure that we download the proper Nuget packages in the first place and wil

[2021-03-18 00:16] dtivel commented on #10647
I agree that the current behavior is broken.  It should be possible to add a new certificate to an existing trusted-signer.  We should fix this.

Separately, there is a concern that allowing multiple .nupkgs --- either by wildcard or multiple explicit file paths --- could lead to unintentional grant of trusted signer status to one or more package signers.

Initially, I considered other cases where

[2021-03-18 00:44] Varorbc commented on #6764
Why does Vs have no related [functions](https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions#visual-studio-experience)? Did I miss any configuration?

[2021-03-18 01:09] nkolev92 commented on #6764
@Varorbc

This feature is still under development, there's no VS experience yet.

[2021-03-18 01:15] Varorbc commented on #6764
@nkolev92
Thanks, is there any plan to release it?

[2021-03-18 01:25] nkolev92 commented on #6764
At this point we're evaluating the feedback we have received over the preview versions of the feature, so we can improve it and prepare it for it's final release.

[2021-03-18 01:26] brunodorati commented on #10491
Works for me!

[2021-03-18 01:46] mayerj commented on #10663
We also ran into this, possibly with the change from nuget.exe 5.8.1 to nuget.exe 5.9.0.  It appears that this is due to the following nuspec file content:

[code]

The following PR https://github.com/NuGet/NuGet.Client/pull/3691 seems to make the TargetFramework no longer optional (or at least, this code path doesn't handle it)

https://github.com/NuGet/NuGet.Client/pull/3691/files#diff-c01d3caec

[2021-03-18 11:02] Blinchik91 commented on #4537
Still not fixed....

[2021-03-18 11:13] JackDaniel91 commented on #4537
I have the same problem with my local repository

[2021-03-18 12:44] JensNordenbro commented on #5525
Any solution to this problem???
I was expecting there to be "dotnet pack --exact-versions-on-dependencies" or something :)

[2021-03-18 17:09] zkat commented on #10635
Closing, as this is not something we can help with. The cause runs deeper than what we're responsible for.

[2021-03-18 17:09] #10635 closed, assigned to nobody

[2021-03-18 17:12] zkat commented on #10655
@v-luzh Could you please try to repro this? It's pretty surprising to me that this wouldn't break our tests.

[2021-03-18 17:14] zkat commented on #10653
This is something we're actively working on. Closing as duplicate of https://github.com/NuGet/Home/issues/10194, which you can track for more details (and discuss further if needed)

[2021-03-18 17:14] #10653 closed, assigned to nobody

[2021-03-18 17:47] zkat commented on #10647
There is no cross-platform way to disallow wildcards while allowing multiple arguments. We either go with a single file argument, or we don't.

[2021-03-18 18:21] erdembayar commented on #10647
If detect multiple files then just throw exception here?
https://github.com/NuGet/NuGet.Client/blob/0158a5946a2e425943ac4f93e50e491a18b6f4e0/src/NuGet.Core/NuGet.Commands/TrustedSignersCommand/TrustedSignersCommandRunner.cs#L93-L96

[2021-03-18 18:27] DOMZE commented on #9020
Same problem here. with the following:
Docker version 20.10.5, build 55c4c88
WSL2: Ubuntu (Default)
Distributor ID: Ubuntu
Description:    Ubuntu 20.04.1 LTS
Release:        20.04
Codename:       focal

running
`RUN ulimit -n 8192` did not fix the problem
Only thing that worked is using `--disable-parallel`

[2021-03-18 18:55] erdembayar commented on #9020
Please upvote by pressing "Like" on issue to prioritize this issue, we'll fix in coming sprints.
Meantime please disable parallel connection work around. `mcr.microsoft.com/dotnet/core/sdk:3.1 - --disable-parallel`

[2021-03-18 20:22] zkat commented on #10647
looks about right, yeah

[2021-03-18 21:40] JonDouglas commented on #4103
Hi all,

Sadly I still need to move the spec to [an official home](https://github.com/NuGet/Home/tree/dev/meta), but here is a sneak-peak:

![image](https://user-images.githubusercontent.com/1288848/111699572-4e505180-8806-11eb-9a1b-4aacc38d3b2f.png)

As you may imagine, you run this command against your project or an individual package which will update to the latest available version respecting

[2021-03-18 23:48] joelverhagen opened #10668 "Pack from Visual Studio doesn't work with embedded readme"
## Details about Problem

NuGet product used: Visual Studio
Product version: private build 5.10.0.7298
https://devdiv.visualstudio.com/_apis/resources/Containers/7402507/VS15?itemPath=VS15%2FNuGet.Tools.vsix

## Repro steps and/or sample project

1. Create a SDK-based project (class library targeting .NET Standard 2.0 is easy way)
1. Create a README.md file in the .project
1. Open the .csproj and

[2021-03-19 06:48] JWilh commented on #4103
Hi,

looks really good 👍 , I like the "are updated to latest version respecting semver."
Would it be possible to add some sort of "--lastestCompatibleVersion" parameter,
cause from time to time you just want everything to be up to date and then if the build/unit tests are failing,
you switch to a more "manual" approach, where each package is checked individually?
(but of cause ignoring .net 5.0 on

[2021-03-19 07:08] KalleOlaviNiemitalo opened #10669 "Make "dotnet list package" also list packages referenced as MSBuild project SDKs"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): dotnet.exe

Product version: .NET SDK 5.0.201

Worked before? If so, with which NuGet version: AFAIK, no

## Repro steps and/or sample project

demo.msbuildproj references [Microsoft.Build.NoTargets/2.0.1](https://www.nuget.org/packages/Microsoft.Build.NoTargets/2.0.1) as an [MSBuild project SDK](<

[2021-03-19 07:10] KalleOlaviNiemitalo commented on #7752
A hacky workaround. First use `nuget restore -UseLockFile` to generate `packages.lock.json` files throughout the solution, and then parse them with PowerShell:

[code]

Alas, neither this nor `dotnet list package` lists NuGet packages that are referenced as [MSBuild project SDKs](<https://docs.microsoft.com/visualstudio/msbuild/how-to-use-project-sdk?view=vs-2017#how-project-sdks-are-resolved>). F

[2021-03-19 07:55] ajdintrejic commented on #4103
Shouldn't this be handled by a "Do you want to continue [y/n]" check? Linux package managers do this.

![image](https://user-images.githubusercontent.com/41389717/111747514-eb4ed100-887e-11eb-8b11-4bab0dd5f60f.png)

Maybe a way to see all packages which can be updated and the versions, something like "dotnet update --list" which doesn't even prompt to update.

[2021-03-19 08:39] v-luzh opened #10670 "[Bug Bash] Only the embedded license content of the latest version can be loaded correctly in PM UI when there are multiple versions in the same package from local feeds"
## Details about Problem
NuGet version: NuGet Client Dev\5.10.0.7170
VS Version: Main\31118.282
OS: Windows-10-Enterprise-20h1
## Repro steps and/or sample project
1.	Create a Class Library (.NET Framework 4.8) in VS and build the solution.
2.	In the Developer Command Prompt for VS, cd to the project path and create a nuspec file by executing command “nuget spec”.
3.	Make an image file (size limit

[2021-03-19 08:41] v-luzh opened #10671 "[Bug Bash] Error “operation canceled by user” show in Error List window when switching between tabs quickly in PM UI"
## Details about Problem
NuGet version: NuGet Client Dev\5.10.0.7170
VS Version: Main\31118.282
OS: Windows-10-Enterprise-20h1
## Repro steps and/or sample project
1. Launch VS and click “Create a new project” button in the G2C dialog.
2. Create an ASP.NET Web Application (.NET Framework 4.8) ->Single Page Application.
3. Open the PM UI of the project and switch between the “Browse”/”Installed”/”U

[2021-03-19 08:44] v-luzh opened #10672 "[Bug Bash] PM UI doesn’t sort correctly when searching a package whose name have the string “wcf” in WCF Service Application project"
## Details about Problem
NuGet version: NuGet Client Dev\5.10.0.7170
VS Version: Main\31118.282
OS: Windows-10-Enterprise-20h1
## Repro steps and/or sample project
1. Launch VS and click “Create a new project” button in the G2C dialog.
2. Create a C# WCF Service Application (.NET Framework 4.8) template.
3. Open the PM UI of the project and search “wcf” in the filter of “Browse” tab.
## Expected
P

[2021-03-19 08:46] v-luzh opened #10673 "[Bug Bash] Package recommendor gave a wrong package-installing suggestion to C++ UWP project"
## Details about Problem
NuGet version: NuGet Client Dev\5.10.0.7170
VS Version: Main\31118.282
OS: Windows-10-Enterprise-20h1
## Repro steps and/or sample project
1. Launch VS and click “Create a new project” button in the G2C dialog.
2. Create a Blank App (Universal Windows – C++/CX) template.
3. Open the PM UI of the project and go to “Browse” tab.
4. Try to install the first package “Newtonsof

[2021-03-19 13:35] donnie-msft commented on #10671
The error is expected, but perhaps should be in Output Window or nowhere at all.
The state of packages looks good.

[2021-03-19 13:38] donnie-msft commented on #10670
maybe related https://github.com/NuGet/Home/issues/10546

[2021-03-19 17:40] jeffkl commented on #10606
This needs to be moved to https://github.com/dotnet/msbuild as all the logic that controls this is in that component.  I have figured out what's going on and will update the issue once its been moved.

[2021-03-19 17:48] aaronla-ms commented on #10606
Thanks Jeff, posted the issue over there.

[2021-03-19 17:48] #10606 closed, assigned to nobody

[2021-03-19 19:25] adam8797 commented on #10251
Hey there @nkolev92. Sorry, my bad for letting this one go cold. We ended up going back to core3.1 for a while.

I did just now try to migrate again to net5 and I'm having very similar results.

Package restores that took ~15-20 sec are now taking ~2-3 mins

Here is a glob of the .nuget folder at project root of the net5 version of the project

[code]

I'm currently battling some build issues with

[2021-03-19 20:12] crummel commented on #5862
I'm working on a proposal for the wider concept of how we're dealing with RIDs.  @ericstj , @ViktorHofer , @omajid, @tmds , if there's anyone else who is interested or has an idea of how this should go please contact me.

[2021-03-19 20:30] dsplaisted commented on #5862
@crummel How we deal with RIDs would also impact the .NET SDK side, so keep me in the loop too.  Thanks.

[2021-03-19 22:17] GG123456932 commented on #6764
@nkolev92 hello, how can I test the option **--force-version-update** ? I tried with the following sdk versions
- 3.1.407
- 5.0.201
- 6.0.100

And none of these versions recognize the option **--force-version-update**

[2021-03-19 23:05] vitek-karas commented on #5862
Depending on the design this might have impact on the host (original proposal needed the host to start parsing RIDs for example) - in that case please include me. Thanks.

[2021-03-20 00:14] vsfeedback opened #10674 "Manage NuGet packages for solution extremely slow"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Manage-NuGet-packages-for-solution-extre/1371226)._

---
[severity:It's more difficult to complete my work] [regression] [worked-in:16.7 (I think)]
After installing the latest version of Visual Studio 2019, the Manage NuGet packages for the whole solution is terribly slow.
I have a solut

[2021-03-21 12:30] alexvaccaro opened #10675 "Using NuGet restore with lock files gives “NU1004: The packages lock file is inconsistent with the project dependencies” error"
I am getting this error when I use the `-LockMode` switch with the `nuget restore` command.

What I am trying to achieve is to automatically upgrade my nuget references by using wildcards but use specific versions when I want to re-build my project from known sources. this blog posts describes how this can be achieved [Enable repeatable package restores using a lock file](https://devblogs.microsof

[2021-03-21 15:51] tacitfirefox commented on #10423
I am also getting this when attempting to set up a new code repository. The project file is blank, as the TargetFramework attribute was moved into a directory.build.props file that's supposed to apply to all csproj files in the same folder.

Folder structure is:
/solutionDir/directory.build.props
/solutionDir/source/directory.build.props: contains an <Import Project="../directory.build.props"/> di

[2021-03-22 12:39] pdario66 commented on #10336
@kartheekp-ms  - Thanks - today I installed the 16.9.2 and it is all working ;)

[2021-03-22 13:35] MichaeIDietrich opened #10676 "[CPVM] Wrong version restored for transitive dependency"
## Details about Problem

NuGet packages that are referenced transitively seem not to be restored with the expected version defined in the `Directory.Packages.props`.

Tested with .NET SDK 5.0.201.

## Repro steps and/or sample project

1. Clone this repo: https://github.com/MichaeIDietrich/CpvmTransitiveDependencies

solution structure:
`App1.csproj` <- `Microsoft.AspNetCore.Authentication.JwtBea

[2021-03-22 17:14] nkolev92 commented on #5872
Supported in NuGet.VisualStudio.Contracts https://www.nuget.org/packages/NuGet.VisualStudio.Contracts/, code at  https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio.Contracts/NuGetInstalledPackage.cs, fixed by @zivkan

[2021-03-22 17:14] #5872 closed, assigned to nobody

[2021-03-22 18:10] nkolev92 commented on #6764
@GG123456932

That functionality is not implemented just yet. Only the core functionality is available for preview at this point.

[2021-03-22 18:26] nkolev92 commented on #4103
The `dotnet` commands are non interactive by default, so blocking for input might not be an option right now.

[2021-03-22 18:52] nkolev92 commented on #10661
By default all the NuGet requests retry 3 times, https://github.com/NuGet/NuGet.Client/blob/0158a5946a2e425943ac4f93e50e491a18b6f4e0/src/NuGet.Core/NuGet.Protocol/HttpSource/HttpSourceRequest.cs#L58.

As such intermittent failures should be handled.

[2021-03-22 18:52] #10661 closed, assigned to nobody

[2021-03-22 19:47] dasMulli commented on #4103
Plus a large set of projects will be in source control (I'd wish for `dotnet new` templates to initialize a git repo as well just like `ng new` does for angular if the target dir is not already in VCS), whereas you usually can't `git reset --hard` your whole linux system.

[2021-03-22 20:28] donnie-msft opened #10677 "Remove the "v" from the version number in PMUI"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): VS

Product version:

Worked before? If so, with which NuGet version:

Remove the "v" in the PMUI packages list just before the version number.
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/948022
![image](https://user-images.githubusercontent.com/49205731/112054052-78b64d80-8b2b-11eb-84a2

[2021-03-22 21:01] nkolev92 commented on #9467
Related to https://github.com/NuGet/Home/issues/9864.

I am fixing https://github.com/NuGet/Home/issues/9864, which might fix this issue as well.

[2021-03-22 21:04] nkolev92 commented on #10676
Hey @MichaeIDietrich,

The transitive pinning feature was met with some resistance and we got lots of mixed feedback about the feature and it was disabled in https://github.com/NuGet/Home/issues/10132 and https://github.com/NuGet/NuGet.Client/pull/3719.
Reenabling it is tracked in https://github.com/NuGet/Home/issues/10389.

For now, this is an expected behavior.

Please upvote the issue and pleas

[2021-03-22 21:04] #10676 closed, assigned to nobody

[2021-03-22 21:22] anangaur commented on #10634
Is this the Epic for trusted signers work for dotnet.exe? Or is it just for tracking the design work? /cc: @aortiz-msft

[2021-03-22 21:29] nkolev92 commented on #10251
The thing that I'm trying to figure out is if the discrepancy is because of the sheer number of packages that are getting downloaded in the net5 graph.

So isolating the global packages folder and globbing for files would help us understand that.

[2021-03-22 22:55] heng-liu commented on #10669
My understanding is, [MSBuild project SDKs](https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-use-project-sdk?view=vs-2019) is a different concept from PackageReferrence, although project SDKs is also a package.
For now, dotnet list package command only works with the PackageReferrence property in msbuild file but not Sdks property.

[2021-03-22 23:16] heng-liu commented on #10666
Hi @loic-sharma , according to this [blog](https://devblogs.microsoft.com/nuget/managing-package-owners/), Owners is deprecated from .nuspec, but it's still used when nuget.org repo signs the package, right?

[2021-03-23 00:09] heng-liu commented on #10666
I repro with two different packages and two kinds of sources:
Check **Newtonsoft.Json** in VS UI:
1. When the source is nuget.org:
![image](https://user-images.githubusercontent.com/45407901/112073110-9afe9a00-8b30-11eb-96c7-52a653f442af.png)

2. When the source is a local path:
![image](https://user-images.githubusercontent.com/45407901/112073085-8b7f5100-8b30-11eb-8eab-18ee17ed1531.png)

Check *

[2021-03-23 02:40] nkolev92 opened #10678 "NuGet should not eagerly start restore when there are pending design time builds"
Experience tracked: [1355522](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1355522)

A couple of real time scenarios here:

* A user edited a common file such as `Directory.Build.Props`
* Git operations such as branch switch.

NuGet has an easy tell about when to restore on solution load (wait for all the projects to be ready), during branch switching, that's not obvious because most of

[2021-03-23 02:40] nkolev92 commented on #9782
Related to https://github.com/NuGet/Home/issues/10678

[2021-03-23 02:47] KalleOlaviNiemitalo commented on #10669
@heng-liu do you mean I should file this feature request at dotnet/msbuild instead?

[2021-03-23 03:17] adam8797 commented on #10251
Fair enough. I’ll see if I can get you a glob of the 3.1 version during the work day.

[2021-03-23 04:40] heng-liu commented on #10669
Hi @KalleOlaviNiemitalo , actually we own the `dotnet list package` command.
Although NuGet has integrated into MSBuild,  we didn't read `Sdk ` property for this command.
I'm not sure how much effort do we need to implement getting 'Sdk' property in this command.

May I know why do you propose for this feature? Thanks.

[2021-03-23 05:04] KalleOlaviNiemitalo commented on #10669
I'd have a build agent list the SDKs and other packages used by a project, and then automatically verify that those packages are approved for use and that their license terms have not changed. It would also be interesting to know if the SDK version has been declared as vulnerable.

If this is difficult to implement in "dotnet list package", then an alternative might be to define an environment var

[2021-03-23 09:15] v-luzh commented on #9222
@aortiz-msft It repro with msbuild 16 on mono. Not repro on default msbuild V15. Please refer to the discussion mail with Heng.

[2021-03-23 10:10] tmds opened #10679 "NuGetScratch lock files are not cleaned up"
NuGetScratch lock files are not removed when the `dotnet` command that created them exited.

For example:
[code]

[2021-03-23 14:22] JonDouglas commented on #10669
@KalleOlaviNiemitalo You might be requesting a different type of list feature here. Maybe you can open a discussion on https://github.com/dotnet/sdk or https://github.com/dotnet/msbuild. I'd start with dotnet/sdk as they own the overall CLI experience & may have ideas as to where this makes most sense for custom SDKs.

Perhaps something like a `dotnet list project` or similar?

[2021-03-23 15:15] kartheekp-ms opened #10680 "RestoreNetCore_WithCustomAliases_WritesConditionWithCorrectAlias test started failing due to unsupported platforms on net5"
`RestoreNetCore_WithCustomAliases_WritesConditionWithCorrectAlias` started failing on CI with the below error message.

`C:\Program Files\dotnet\sdk\5.0.201\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.TargetFrameworkInference.targets(109,5): error NETSDK1139: The target platform identifier android was not recognized. `
[C:\a\5\s\.test\work\138cbb27\22e1160c\solution\proj\proj.csproj]\r\n\n\nNuGet

[2021-03-23 16:10] #10654 closed, assigned to donnie-msft

[2021-03-23 16:43] #10680 closed, assigned to kartheekp-ms

[2021-03-23 17:05] adam8797 commented on #10251
Ok, I have a glob from core 3.1. Its from an older commit, but should have largely the same packages in it

[code]

[2021-03-23 17:11] zivkan opened #10681 "INuGetProjectService.GetInstalledPackagesAsync throws before receiving CPS project system nomination"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): Visual Studio

Product version: 16.9

Worked before? If so, with which NuGet version: new API in 16.8

## Repro steps and/or sample project

In VS 16.8, we introduced a new API `INuGetProjectService.GetInstalledPackagesAsync`, an async way to get installed packages for a project.  The API's contrac

[2021-03-23 19:46] zivkan commented on #10430
Given https://github.com/dotnet/sdk/pull/16443 was merged, I'm going to close this issue.

Unfortunately the changes requested were complex and would have taken a lot of effort for the NuGet team to implement, so it was faster for the SDK team to use NuGet's APIs "lightly" and implement the required functionality themselves.

I hope we (NuGet) can do better in the future, but right now there are m

[2021-03-23 21:43] heng-liu commented on #10675
Hi @alexvaccaro , I tried to repro with following steps but seems failed:
1. Run `dotnet pack -p:PackageVersion=1.0.1-ci.1 -o C:\repos\demo\packages` command, to create a package TestLockPackage with 2 versions:
   TestLockPackage.1.0.1-ci.1.nupkg
   TestLockPackage.1.0.1-ci.2.nupkg

2. Create a class library project ClassLibrary1,
   add package reference with **floating version** to the above pa

[2021-03-23 22:47] dtivel opened #10682 "Add: fails on unsigned package under "require" client policy without a clear indication of why"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):  NuGet.exe

Product version:  5.9.0.7134

Worked before? If so, with which NuGet version:  No

## Repro steps and/or sample project
1.  Create a test directory.
2.  In the test directory create a NuGet.config file with the following content:
[code]
3.  Download [System.Memory 4.5.4](https://www.nug

[2021-03-23 23:08] ghost opened #10683 "Feature request: support subject+issuer trust instead of by cert thumbprint"
## Details about Problem

Presently, nuget only supports whitelisting nuget package authors by the SHA256 hash of their signing cert. This can be a problem when certificates are rotated, where the signing identity has not changed, but the thumbprint of the certificate does change. This problem is thoroughly documented in the blog post [The Microsoft author signing certificate will be updated as so

[2021-03-24 04:09] wli3 commented on #10430
@zivkan we can close this issue but note  dotnet/sdk#16443 is about 5% of the work. We merge it so that we can work on different implementation threads in parallel. We have a lot of "remining" tasks https://github.com/dotnet/sdk/issues/16470. And we will send emails ask for detail usage when we get to it. So please still allocate time for replying these emails.

[2021-03-24 04:18] wli3 opened #10684 "NU3028, NU3037 when trying to restore a project"
---
**Issue moved from dotnet/sdk#16482**
- Please respond to @IdkGoodName.

---

_From @IdkGoodName on Tuesday, March 23, 2021 5:00:59 PM_

I seem to have issues trying to restore a C# or F# project. I get tons of NuGet signature errors and I don't know what it is caused by. I tried completely reinstalling .NET, but it doesn't seem to work.

# Errors

This is what I get when trying to build C# co

[2021-03-24 04:18] wli3 commented on #10684
---
**Issue moved from dotnet/sdk#16482**
- Please respond to @dotnet-issue-labeler[bot].

---

_From @dotnet-issue-labeler[bot] on Tuesday, March 23, 2021 5:01:02 PM_

I couldn't figure out the best area label to add to this issue. If you have write-permissions please help me learn by adding exactly one area label.

[2021-03-24 06:13] adnan-kamili opened #10685 "nuget 5.9 pack crashes"
## Details about Problem

NuGet product used (NuGet.exe):

Product version: 5.9.0

Worked before? If so, with which NuGet version: 5.8.1

## Repro steps and/or sample project

Here is the error caused in 5.9.0:

https://github.com/cryptlex/lexactivator-dotnet/runs/2181577286?check_suite_focus=true

in Pack Nuget Package step.

and it worked till 5.8.1

https://github.com/cryptlex/lexactivator-dotn

[2021-03-24 09:25] Perry004 opened #10686 "why float version cannot work with pre-release version in this situation"
I have some problems with float version.

In my side,  I have these package version including pre-release version under the local package source.

![image](https://user-images.githubusercontent.com/52026687/112280791-57d33100-8cc0-11eb-9dd2-22afbe82146a.png)

As the picture shows, `modd 1.0.3` nuget package  has three versions, the formal version and the pre-release versions.

In my side, I want t

[2021-03-24 12:10] IdkGoodName commented on #10684
Ok, I managed to fix it. I apparently set `MSBuildSDKsPath` to a specific path and that's what caused it to throw bunch of errors.

[2021-03-24 12:34] philipahlberg commented on #8087
This would be very helpful, but it seems like it wasn't implemented. Why not?

[2021-03-24 14:14] somtiwari commented on #10663
Thanks mayerj. Its fixed the issue.

[2021-03-24 17:49] loic-sharma commented on #10666
Hello, this is a little confusing since owners information may come from several sources:

1. [.nuspec `owners` element](https://docs.microsoft.com/en-us/nuget/reference/nuspec#owners) - This is deprecated as per the docs. This value is controlled by the package's author and should not be trusted as it is susceptible to impersonation attacks. We've seen third-party authors package Microsoft code a

[2021-03-24 18:16] heng-liu commented on #10666
Thanks for the detailed explanation! @loic-sharma
I didn't check the code so I'm not sure how do we display owner in VS UI for packages from different sources.
But the behavior is different from what we expected.

[2021-03-24 18:34] donnie-msft opened #10687 "Embedded Icons cause Access Denied from source "Microsoft Visual Studio Offline Packages" on Browse tab"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): VS

Product version:

Worked before? If so, with which NuGet version: No

It appears that when a fallback folder is utilized by PM UI to retrieve a Package Icon, we unnecessarily require a Write permission which icon files do not grant to VS. The result is when using Browse Tab, if a package exists

[2021-03-24 19:10] heng-liu commented on #10685
Hi @adnan-kamili , thanks for reporting this issue!
I tried to use a class library project but failed to repro.
May I have a repro project and repro steps so that we could repro locally? Thanks.

[2021-03-24 19:20] heng-liu commented on #10684
Hi @IdkGoodName, may I know how did you fix it? Thanks.
It looks like the packages validation failed during restore.
So I'm not sure why changing MSBuildSDKsPath works.
May I know if you specify a SDK version earlier than 5.0 so there is no package validation there?
If so, I'm afraid we still need to look into it if package validation in 5.0.201 doesn't work.

[2021-03-24 19:50] zivkan commented on #10430
Thanks for the reminder. I'm reopening for sprint planning purposes, as suggested.

[2021-03-24 20:52] heng-liu commented on #10686
Hi @Perry004 , thanks for asking this question.
My understanding is, 1.0.3 is a stable version, which is already released, so it's greater than any pre-release versions.
From the proposal https://github.com/NuGet/Home/blob/dev/proposed/archive/FloatingStableAndPrerelease.md#scenarios, we can see:
![image](https://user-images.githubusercontent.com/45407901/112381300-aa542380-8ca7-11eb-9163-03a39439

[2021-03-24 21:15] kartheekp-ms opened #10688 "dotnet pack accepts empty readme file"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): dotnet.exe
Product version: 5.0.300-preview.21173.7 downloaded from https://github.com/dotnet/installer/blob/main/README.md#installers-and-binaries

Worked before? If so, with which NuGet version: No.

## Repro steps and/or sample project

- Created `.NET Core` class library targeting `net5.0` plat

[2021-03-24 21:16] nkolev92 opened #10689 "Restore silently dedups projects that point to the same MSBuildProjectExtensionsPath"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): All

Product version: 5.9

Worked before? If so, with which NuGet version: No

## Repro steps and/or sample project

1. Create a solution with 2 PackageReference projects.
1. In the root directory of the sln (higher than the 2 projects), add a directory.build.props and set MSBuildProjectExtensionsP

[2021-03-24 21:19] Anipik opened #10690 "Add hook for excluding certain build output extensions from the nuget package"
Currently there is no way to exclude certain output extensions from the package.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack/NuGet.Build.Tasks.Pack.targets#L48

adding something like  should do the trick

[code]

 cc @safern @nkolev92 @ericstj @viktorhofer

[2021-03-24 22:39] ViktorHofer commented on #10690
Can't you override that property in a target before the PackTask is executed?

Makes sense to me. I don't think this change requires much discussion. cc @nkolev92

[2021-03-24 22:47] ericstj commented on #10690
What happens to an existing project that set AllowedOutputExtensionsInPackageBuildOutputFolder=.foo?

[2021-03-24 22:51] ViktorHofer commented on #10690
Oh I did misread the proposal above. I see 31 hits of that property being used in the dotnet org alone: https://github.com/search?q=org%3Adotnet+AllowedOutputExtensionsInPackageBuildOutputFolder&type=code.

And about 3k on GitHub overall: https://github.com/search?q=AllowedOutputExtensionsInPackageBuildOutputFolder&type=code.

[2021-03-24 23:01] IdkGoodName commented on #10684
Huh. I am not even sure myself. Deleting .NET fully without any leftovers and removing `MSBuildSDKsPath` worked for me... temporarily... Now it happens again and I have to reinstall it entirely. It's pretty annoying to keep deleting .NET and rebuilding it.

[2021-03-24 23:02] IdkGoodName commented on #10684
It happens randomly too even if I don't touch .NET in any way.

[2021-03-25 00:03] nkolev92 commented on #10315
Can't get to it this sprint.

[2021-03-25 00:15] heng-liu commented on #10684
Yes, we validate the package before extracting the package into global package folder.
So if the package is not in global package folder yet, any restore using dotnet 5.0 above (or nuge.exe and vs on windows) will do the validation.

Could you run command `dotnet nuget verify <package-path> -v d` and paste the output here? Thanks!

FYI @dtivel @JonDouglas, it might be caused by artix removes root

[2021-03-25 00:23] dominoFire opened #10691 "File Conflict dialog does not have access keys"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): Visual Studio

Product version:  16.9

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

1. Create a .NET Framework ASP.NET WebForms project
2. Modify Scripts\bootstrap.js file
3. If bootstrap.js is not installed, install it via PM UI
4. Modify Scripts\bootstrap

[2021-03-25 00:49] erdembayar commented on #10400
@loic-sharma
I believe it's not complete removal of `icon-url`, but we're replacing with `icon`, is it right?

[2021-03-25 01:10] JonDouglas commented on #10400
Yep that's right @erdembayar!

[2021-03-25 02:50] dominoFire opened #10692 "Add flag/option to enable or disable mmap in NuGet"
To better understand mmap effects on NuGet restore, consider adding a flag/option that controls mmap activation in NuGet.

See how NuGet uses mmap at: https://github.com/NuGet/Home/issues/9807

## Design draft

- The flag should work on command line scenarios.
- For SDK-style and Legacy .csproj projects: use a property in the project files: `<DisableMmap>true</DisableMmap>`
- For packages.config,

[2021-03-25 03:30] #10559 closed, assigned to erdembayar

[2021-03-25 06:42] adnan-kamili commented on #10685
Yes, here it is:

https://github.com/cryptlex/lexactivator-dotnet

[2021-03-25 09:54] marcin-krystianc commented on #10389
Hi @rconard,

are you actively working on bringing back the transitive pinning and making it opt-in feature ? If not, I'll start working on it next week. Any guidance on the implementation details will be very appreciated.

[2021-03-25 10:13] LI-XIAOYAO opened #10693 "Upload nuget package to nuget.org tip NU3018"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):
NuGet.exe
Product version:
5.9.0.7134

## Repro steps and/or sample project
### Command line :
[code]
The signature and verification are successful, but the upload message is **NU3018**.

### Verbose Logs
[code]

[2021-03-25 11:45] v-luzh commented on #10655
@zkat It doesn't repro on Linux (Ubuntu Server 18.04) for me on dotnet 6.0.100-preview.3.21168.18. You can see both packages after running "dotnet restore" as below screenshot.
![image](https://user-images.githubusercontent.com/20632625/112467938-a0fbb180-8da2-11eb-8d13-676308b34c75.png)

[2021-03-25 12:36] s-krawczyk commented on #5556
+1

[2021-03-25 12:46] IdkGoodName commented on #10684
`<package-path>` being what? `~/.nuget/packages/<package-name>/...`?

[2021-03-25 14:22] dtivel commented on #10684
This sounds like https://github.com/NuGet/Announcements/issues/49.  @IdkGoodName, is your OS is also affected?

Try this:
1.  Save this PEM-encoded certificate to file (e.g.:  cert.pem).
[code]
2. Open a shell prompt and execute:  `openssl verify -verbose cert.pem`

What output do you get?

[2021-03-25 15:02] heng-liu commented on #10693
Hi @LI-XIAOYAO ,  may I know if you're using self-issued certificate to sign the package?
If so, there is a warning in https://docs.microsoft.com/en-us/nuget/create-packages/sign-a-package#create-a-test-certificate , that "NuGet.org does not accept packages signed with self-issued certificates."
So the self-issued certificate is just for testing purpose.

Pls refer to the requirement on nuget.org:

[2021-03-25 15:26] dtivel commented on #10684
Also check your ca-certificates.conf file --- at /etc/ca-certificates.conf , I'm guessing --- to see what the status is of
[code]
Is that line even present?  Does it have a leading bang (!)?
[code]

[2021-03-25 17:03] IdkGoodName commented on #10684
[code]

[2021-03-25 17:10] zkat commented on #10613
We are closing this issue since we didn't hear back from you, but definitely let us know if you can still reproduce this problem on the latest version of NuGet. Thank you for your feedback and happy coding!

[2021-03-25 17:12] zkat commented on #10655
@24mu13 Do you have a more specific project that reproes that you could pack up for us to test with? As you can see, our test team was unable to reproduce with the instructions you gave.

[2021-03-25 17:23] zkat commented on #10665
Native assets should not go under the `lib/` folder. They should instead go either under `runtimes/` or `build/native` with a `.targets` file.

[2021-03-25 17:30] nkolev92 commented on #10692
I don't think we should do this.
We shouldn't subject customers to experiment just to look at performance in the wild.
Our lab measurements should be enough for this.

[2021-03-25 17:30] zkat commented on #10669
This issue was moved to dotnet/sdk#16523

[2021-03-25 17:30] #10669 closed, assigned to nobody

[2021-03-25 17:32] rseanhall commented on #10665
@zkat Of course. The only reason I put it under the `lib/` folder was to show the minimal change to make the warning go away - implying that the warning is incorrectly complaining about something in the `runtimes/` folder.

[2021-03-25 17:35] #10595 closed, assigned to joelverhagen

[2021-03-25 17:36] zkat commented on #10673
This is a known limitation in the current package recommender, and part of the roadmap already.

[2021-03-25 17:36] #10673 closed, assigned to nobody

[2021-03-25 17:46] #10686 closed, assigned to nobody

[2021-03-25 18:01] vsfeedback opened #10694 "Problem update nuget package Microsoft.NETCore.UniversalWindowsPlatform"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Problem-update-nuget-package-MicrosoftN/1283336)._

---
[severity:Other]
**Hi, I would like to update the nuget package for my uwp app. I get the error when I tried to upgrade from Microsoft.NETCore.UniversalWindowsPlatform version 6.2.10 to version 6.2.11**

  GET https://api.nuget.org

[2021-03-25 18:33] heng-liu commented on #10684
So the root cert is not trusted on artix.
Shall we add this into https://github.com/NuGet/Announcements/issues/49 ?

[2021-03-25 19:10] kartheekp-ms commented on #10694
I cloned https://github.com/MichaelRumpler/GestureSample repo and tried to reproduce the issue locally. But the package update succeeded after changing the package version of `Microsoft.NETCore.UniversalWindowsPlatform` to `6.2.12`. I am wondering if the users are experiencing this issue because of the package size.

[code]

[2021-03-25 22:23] #10681 closed, assigned to zivkan

[2021-03-25 22:44] brunodorati commented on #8169
Works for me.
Tanks!

[2021-03-25 23:31] rconard commented on #10389
I will defer to @nkolev92 and @zivkan for implementation details.

I believe that we laid the groundwork with #3719 to bring this functionality back as we implemented a feature flag that could evolve into the opt-in feature that you proposed.

[2021-03-26 01:19] softboy99 commented on #10613
Hi,
No, it's not an issue with NuPack. It's your Package Manager. We pack the project to nuget package, when this project depends on other nuget package, when update with the Package Manager, it just download it and add the packagereference to the project, it doesn't update the version info in the package.nuspec file. Is it clear?

[2021-03-26 02:06] nkolev92 commented on #10690
I don't have many concerns. If you add a default value that is set conditionally, you could avoid breaking people that are using this to include extra files.

[code]

Maybe something less wordy :D

[2021-03-26 08:43] Mizux opened #10695 "NuGet restore failing on .NET 5 for Archlinux"
disclaimer: seems related to *NuGet restore failing on .NET 5 for Debian-based OSes (CA trust changed)* aka #10491

## Details about Problem
Using the archlinux package: `community/dotnet-sdk 5.0.4.sdk104-1` (47.3 MiB 165.6 MiB)

## Repro steps and/or sample project
Here a simple exe to create snk key (since this tools is still not available on MacOS and Linux dotnet cli)
see: https://github.com/d

[2021-03-26 08:50] Mizux commented on #10695
Also spotted by our public CI -> https://github.com/google/or-tools/runs/2195354201?check_suite_focus=true#step:6:4489

[2021-03-26 09:28] Mizux commented on #10695
Current workaround: install `dotnet-sdk-3.1` **and** remove `dotnet-sdk`
[code]

[2021-03-26 15:49] #10677 closed, assigned to donnie-msft

[2021-03-26 17:17] heng-liu commented on #10695
Hi @Mizux , could you try the commands in the following comments? Thanks!
https://github.com/NuGet/Home/issues/10684#issuecomment-806842279
https://github.com/NuGet/Home/issues/10684#issuecomment-806947048

[2021-03-26 18:35] Kitwradr commented on #3324
Please fix this issue, not able to proceed with build because of this issue

[2021-03-26 19:32] KirillOsenkov opened #10696 "GetReferenceNearestTargetFrameworkTask should not log params when LogTaskInputs is set"
When MSBuild sets LogTaskInputs, there's no need to specifically log task inputs or outputs as MSBuild will take care of that.

See here:
https://github.com/NuGet/NuGet.Client/blob/58fd22bfc941a6d5cc9404f41a583efb4dfeeaf0/src/NuGet.Core/NuGet.Build.Tasks/GetReferenceNearestTargetFrameworkTask.cs#L64

See https://github.com/dotnet/msbuild/issues/6305 for guidance. Otherwise there's duplication, all

[2021-03-26 19:38] heng-liu commented on #10679
Hi, thanks for reporting this issue!
Sorry, looks like we dispose lock file in temp folder on Windows, but not Linux/Mac, due to some concurrency issues.
So you have to clean it up by running `dotnet nuget locals temp --clear` command. (https://docs.microsoft.com/en-us/nuget/consume-packages/managing-the-global-packages-and-cache-folders#clearing-local-folders)

[2021-03-26 20:12] #10513 closed, assigned to donnie-msft

[2021-03-26 20:46] Mizux commented on #10695
Seems it fail on archlinux...
[code]

There is no `/etc/ca-certificates.conf` on Archlinux

[code]

[2021-03-26 21:02] KirillOsenkov commented on #10696
This should also apply to:

1. GetRestoreProjectStyleTask
2. GetRestorePackageReferencesTask
3. GetRestoreSolutionProjectsTask
4. WarnForInvalidProjectsTask
5. GetRestoreSettingsTask
6. GetRestoreDotNetCliToolsTask

and potentially others I'm missing.

[2021-03-26 21:06] tmds commented on #10679
Can you give more info about these concurrency issues? Or point me to the code?

[2021-03-26 22:49] heng-liu commented on #10695
Thanks @Mizux !
May I know  if you have run dotnet restore with version above 5.0 successfully before?
Is it happening recently just after you start to use dotnet version 5? Thanks!

[2021-03-26 22:57] heng-liu commented on #10679
Hi @tmds , I haven't looked into what are the exact issues, but people encountered the issues before so we use different FileOptions for Windows and other platforms at
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Common/ConcurrencyUtilities.cs#L200-L212

[2021-03-26 23:37] dbent commented on #10695
This can be temporarily worked around by downgrading the [ca-certificates-mozilla](https://archlinux.org/packages/core/x86_64/ca-certificates-mozilla/) package to the previous version of 3.62-1.

The current version (3.63-1) was released on 2021-03-19. The upstream release notes for [NSS 3.63](https://developer.mozilla.org/en-US/docs/Mozilla/Projects/NSS/NSS_3.63_release_notes) notes:

[FS#70095](

[2021-03-26 23:44] heng-liu commented on #10695
Thanks a lot @dbent ! That's very helpful!

FYI @dtivel  @JonDouglas

[2021-03-27 01:10] #10584 closed, assigned to erdembayar

[2021-03-27 01:33] #10352 closed, assigned to erdembayar

[2021-03-27 05:51] heng-liu commented on #10685
I could repro with following steps:
1. Run `git clone https://github.com/cryptlex/lexactivator-dotnet.git`
2. Run `cd C:\repos\lexactivator-dotnet\src\Cryptlex.LexActivator`
3. Run `msbuild /t:restore`
4. Run `cd C:\repos\lexactivator-dotnet`
5. Run `msbuild Cryptlex.LexActivator.sln /p:platform="Any CPU" /p:configuration="Release" /p:VisualStudioVersion="16.0" `
6. Run script: `.\post-build.ps1`

[2021-03-27 15:33] kartheekp-ms commented on #10694
As per customer last [comment](https://developercommunity2.visualstudio.com/t/Problem-update-nuget-package-MicrosoftN/1283336#T-N1382151), it looks like clearing cache and then reinstalling the package worked.

[2021-03-27 16:06] #9145 closed, assigned to erdembayar

[2021-03-27 18:53] loic-sharma commented on #6754
Here is another report: https://github.com/CompositionalIT/farmer/issues/595

Here is the output the customer received:

[code]

While support this scenario may be too costly for NuGet, it certainly does seem like we could improve the user experience with a better error message. For example:

[code]

Also, it seems that we could add more information to NU1108's docs: https://docs.microsoft.com/en-

[2021-03-27 19:17] isaacabraham commented on #6754
@loic-sharma Agreed. There seems to be some resistance to fixing this issue / it being "by design". I think that that's an unfortunate attitude, but I don't want to get into any of that really: just fixing the error message would probably solve 90%+ of reports across projects and save lots of developers going down the wrong path:

* The package doesn't work.
* The package doesn't work with the ver

[2021-03-27 19:49] #10687 closed, assigned to donnie-msft

[2021-03-28 08:51] tmds commented on #10679
Looks like this was introduced in https://github.com/NuGet/NuGet.Client/pull/431.

Let's see what happens if we use `DeleteOnClose` on Linux. Maybe .NET is handling this better than 5 years ago.

[2021-03-28 10:52] alexvaccaro commented on #10675
HI @heng-liu ,

Thank you for looking into this issue.

I now think the issues I am seeing are being caused be caused by using an **_authenticated feed in Azure DevOps_**.

I was able to run your steps without errors but with a different outcome (I'll explain this shortly) by publishing my package to an Azure DevOps feed, yet when I tried to retrace your steps to double check the outcome I started

[2021-03-29 01:46] jholovacs commented on #8812
This really seems like a pretty big gap to me.  CI is usually set up using api keys, most CI tools recommend using it that way.  But if the same CI tool can't restore a nuget package with an api key, it seems like a non-starter.  Must there be multiple means of authenticating the same account in one system?

[2021-03-29 08:52] schittli opened #10697 "Why is using nuget always a mightmare?"
## Details about Problem

Every time we want to use nuget.exe, we have to ask google why it doesn't work. It would be great if nuget.exe:
- is either is smart and recognizes what the user is trying to do
- or it does report useful errors

this would make it to _work as expected_ for Customers who don't use this tool every 2nd day.

Today, we tried to install the PackageManagement Version 1.4.7, we

[2021-03-29 15:47] zivkan commented on #10389
@marcin-krystianc The NuGet team currently has other work as a higher priority, so we're not actively working on CPVM at this time.

As for guidance, I assume that the opt-in will be at a per-project level. Our msbuild property gathering and reading is spread across [NuGet.targets](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets) and [MSBuildStaticGrap

[2021-03-29 16:06] erdembayar opened #10698 "Installed version column takes a long time to populate"
## Details about Problem

NuGet product used : (Visual Studio)
Product version:  16.10.0 Preview 2.0 [31129.12.main]

Worked before? If so, with which NuGet version: It was working back in few weeks ago.

## Repro steps and/or sample project

Install new package 'Text2Xml' into OrchardCore solution, even though install action is successful, PMUI doesn't reflect it.

![image.png](https://images.zen

[2021-03-29 17:10] Anipik commented on #10690
Thanks @nkolev92, i will put up a pr for it.

[2021-03-29 17:11] #10226 closed, assigned to zivkan

[2021-03-29 18:41] NeilMacMullen commented on #10674
Will second this.  Can take many minutes for upgrade list to recalculate even if it's *already* been calculated and all you've done is switched tabs or upgraded a single package.

[2021-03-29 18:53] NeilMacMullen opened #10699 "Nuget in Visual Studio is quickly becoming unusable without a .Net3/5 filter"
I appreciate this isn't just a 'Nuget' problem but life as a Visual Studio user is becoming quite unpleasant with the increasing uptake of .Net 5.

The issue is that existing codebases are squeezed between SDKS that do not yet support .Net 5 (Azure functions/Service Fabric etc) and an increasing number of Nuget Packages that do support .Net5 and, indeed, are only providing updates for that platfor

[2021-03-29 18:59] NeilMacMullen commented on #10699
ah - have just spotted Discussions are open so will close and post this there....

[2021-03-29 18:59] #10699 closed, assigned to nobody

[2021-03-29 19:56] bording commented on #9810
@nkolev92 Has this fix shipped yet? If so, what version includes it?

As some general feedback, it's really difficult to tell when changes get released because nothing in your issues labels or milestones make that clear.

[2021-03-29 20:11] nkolev92 commented on #9810
It was fixed in 5.9, https://docs.microsoft.com/en-us/nuget/release-notes/nuget-5.9.

You need zenhub to view the list of bugs fixed. Common feedback for us.

cc @zkat @aortiz-msft

[2021-03-29 20:13] zkat commented on #10665
@heng-liu can you take a look at this?

[2021-03-29 20:14] zkat commented on #10665
@dominoFire can you take a look at this?

[2021-03-29 20:21] aortiz-msft commented on #10674
Closing this issue on GitHub since we will track it in https://developercommunity.visualstudio.com/t/Manage-NuGet-packages-for-solution-extre/1371226

[2021-03-29 20:24] zkat commented on #10675
@dominoFire can you look further into this?

[2021-03-29 20:28] zkat commented on #10688
I'm pretty much fine with there being an empty readme :)

[2021-03-29 20:28] #10688 closed, assigned to nobody

[2021-03-29 20:33] zkat commented on #10694
Closing as hiccup

[2021-03-29 20:33] #10694 closed, assigned to nobody

[2021-03-29 20:36] zkat commented on #10697
You need a version in the nupkg name :)

[2021-03-29 20:36] #10697 closed, assigned to nobody

[2021-03-29 20:38] zkat commented on #10698
@jebriede hey, we assigned it to you. idk if you have bandwidth, but feel free to bump it over to someone else. It's a pretty high-pri thing, though.

[2021-03-29 21:57] zivkan commented on #10688
@zkat why are you fine with it?

Any scenario where the readme should be shown to the user will look like a bug if the tool effectively says "This package has a readme and the contents are: ` `".

To avoid this, every single implementation (nuget client, nuget.org, every other nuget server with browse functionality, rider, anyone with custom nuget tooling) will have to duplicate effort to treat an

[2021-03-29 22:01] JonDouglas commented on #10692
Unless there is a discrepancy of this flag on other factors like restore success, user experience, etc then we should just leave it on by default / included in the box as a perf win IMO.

[2021-03-29 22:28] ghost opened #10700 "Feature request: easier way to upgrade transitive package references"
## Details about Problem

In a repository with a large number of projects, it's difficult to upgrade a transitive package reference.

To give a simple example, I have a net462 application being built on dotnetsdk 3.1.407 using AspNetCore 2.1.7 (latest). However, AspNetCore 2.1.7 (latest) has a transitive reference on System.Text.Encodings.Web/4.5.0, a package with known security vulnerabilities ([

[2021-03-29 22:32] zkat commented on #10688
I see it as a corner case that doesn't need extra attention. I don't think it should be treated as an empty file. I think it should be rendered exactly as it is: With no content.

[2021-03-30 00:45] mikamins commented on #5553
If there's no way to override the lowest version behavior, how are people expected to deal with security vulnerabilities in transitive dependencies?

As a concrete example, [Azure.Core](https://www.nuget.org/packages/Azure.Core/1.11.0) has a dependency on System.Text.Encodings.Web 4.6.0 which is [susceptible to remote code execution](https://github.com/dotnet/announcements/issues/178). Even though

[2021-03-30 01:10] dominoFire commented on #10700
Thanks for your thoughts, @aaronla-ms

We're working on a feature called Central Package Version Management so you can manage packages for all projects in one place. This feature is still in preview and it could change.

The spec can be found at: https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions

## Workarounds

### Using `Directory.Build.props`

Create a `Directory.Buil

[2021-03-30 01:13] dominoFire commented on #10700
I will close this issue as duplicate of https://github.com/NuGet/Home/issues/6764

Any thoughts, please let us know!

[2021-03-30 01:14] #10700 closed, assigned to nobody

[2021-03-30 01:23] jebriede commented on #10698
Updating priority to P1 after conversation with @nkolev92.

[2021-03-30 04:31] BlackGad commented on #5016
@Sellec PR with fix was merged, problem solved in dev branch :)

[2021-03-30 04:32] BlackGad commented on #5706
PR with fix was merged, problem solved in dev branch :)

[2021-03-30 07:50] marcin-krystianc commented on #10586
@nkolev92 I think that this is a real issue with NuGet and it affects one of the repository that I'm maintaining.
Until recently our CI pipeline based on GitHub actions worked very well, but now it fails due to this issue.

Fortunately I've managed to prepare a standalone repro for it https://github.com/marcin-krystianc/NuGet_10586/blob/master/.github/workflows/ci.yml.

What I've found out so far:

[2021-03-30 07:58] wouterroos opened #10701 ".nupkg.metadata missing when executing 'nuget add -Expand' from Azure DevOps MSBuild task"
## Details about Problem

NuGet product used (NuGet.exe | MSBuild.exe):

Product version: 4.7.1, 5.8.1, 5.9.0

## Repro steps and/or sample project

Hi,

We're using the -Expand option in a MSBuild task to publish newly generated NuGet packages to a local fallback folder (see below).

[code]

This works beautifully when invoking MSBuild from the command line. However, when we use the `MSBuild@1` t

[2021-03-30 08:44] v-longmin opened #10702 "[Test Failure] Warning “Feature 'Dependent type finder’ is currently unavailable due to an internal error” after reloading C# WPF Application (.Net Framework) solution"
## Details about Problem
VS Version: Main\31129.12
NuGet Version: Dev\5.10.0.7187
OS Version: Windows-10-Enterprise-20H1.

## Installations
1. Install VS Main\31129.12 from https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4600429&view=ms.vss-build-web.run-extensions-tab
2. Install NuGet Client Dev\5.10.0.7187 from: \\\ddfiles\Drops\NuGet\Drops\CI\NuGet.Client\dev\5.10.0.7187\artifacts

[2021-03-30 13:38] althurman opened #10703 "System.BadImageFormatException after installing my nuget"
NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe ):

Product version:
Visual Studio 2019

Worked before? If so, with which NuGet version:
Works with nuget that was created on my Win 10 laptop. I get a runtime exception when using the nuget packed on my build machine

I have my own solution that builds a .dll (mytest.dll). I then pack the .dll for referencing into a nuget package using a

[2021-03-30 13:47] samsmithnz commented on #10586
I'm suddenly having the issue in GitHub actions today too. Using `dotnet nuget locals all --clear` doesn't change the result.

[2021-03-30 14:39] gallettoNL opened #10704 "nuget creates spurious space in path during build in VS 2019"
I need to upgrade NuGet.exe from 2.7.3 to address a SemVer versioning  issue with preview packages, so I downloaded and installed Nuget 5.8.1.
Then I ran into issues with a path generated by Nuget.exe, containing a spurious space (see logging below).

I could get around that by upgrading ALL projects but one (ASP.NET) to use package reference instead of packages.config, but apparently that's impos

[2021-03-30 15:35] beechgrovejoe opened #10705 "Cannot Add NuGet Package To Visual Studio WebSite Project"
In a Visual Studio WebSite project there is no project file.  However there is a setting in the solution named TargetFrameworkMoniker that can interfere with the installation of NuGet packages.

Typically a WebSite project is configured to use a specific version of the .NET Framwork to compile and execute the code from within the web.config file.  However a different framework version can be calle

[2021-03-30 15:49] Sebbstar commented on #3245
took me hours. This error message isn't helpful. But i am still sure my password is correct maybe another parameter 😔🤔

[2021-03-30 16:17] aaronla-ms commented on #10700
@dominoFire, @anangaur

Thanks for the pointer to the spec. I didn't see any place to attach feedback, so providing it here:

Will this support traversal projects, like dirs.proj / Microsoft.Build.Traversal? I ask because we don't use solutions in our official builds (poorly supported / undocumented behavior), using traversal projects instead.

[2021-03-30 16:22] aaronla-ms commented on #6764
Adding this feedback here, as item #10700 was resolved duplicate

One of the major challenges of PackageReferences, one not addressed at all by the Microsoft.Build.CentralPackageVersions nuget, is upgrading transitive package references due to security vulns. We were recently hit by [CVE-2021-24112](https://msrc.microsoft.com/update-guide/vulnerability/CVE-2021-24112), and it was a major, multi-ho

[2021-03-30 16:25] aaronla-ms commented on #6764
@nkolev92

This might surprise you, but some developers actually know how to write code, and not just point-and-click through wizards and templates.

Absence of this feature is posing an active security risk to our products. Is there any way we can adopt this feature with just a "command line" or "manually edit the configs" experience yet?

[2021-03-30 16:38] martincostello commented on #6764
Yes, you can add a `Directory.Packages.Props` file to your solution root to define your packages, enable `<ManagePackageVersionsCentrally>true</ManagePackageVersionsCentrally>` in either `Directory.Build.props` or your individual `.csproj` files, and then drop the versions from the `PackageReference` MSBuild items in your project files.

If you're happy to manually edit the files (e.g. with Visual

[2021-03-30 16:57] aaronla-ms commented on #6764
@martincostello

Does that include support for updating transitive references as well? We're currently already using the Microsoft.Build.CentralPackageVersions sdk with a Packages.props file, but that sdk specifically does _not_ support updating transitive references, only direct references.

[2021-03-30 16:59] martincostello commented on #6764
I'm not sure on _that_ specific feature of central package management.

[2021-03-30 17:18] aaronla-ms commented on #6764
Yeah, I'm chatting with @aortiz-msft and @nkolev92 now, and they both are indicating transitive package pinning is not available in any form in any release version of dotnetsdk.

[2021-03-30 17:28] martincostello commented on #6764
Yeah, that was slightly painful with trying out the later .NET 5.0 previews when the instructions in the blog post to just do `5.0.0-rc1.*` stopped working.

[2021-03-30 17:29] nkolev92 commented on #10701
I think when .nupkg.metadata was originally, this behavior was as intendend, https://github.com/NuGet/Home/wiki/Nupkg-Metadata-File#solution.

However, NuGet doesn't consume this file in non-lock file scenarios, so normally I wouldn't expect you'd get that error as a consequence of the .nupkg.metadata file not being present.

Someone on our team will take a further look.
cc @dominoFire

[2021-03-30 17:32] tebeco commented on #6764
I would not say slightly
using wildcard basically allow you to always have patches for free
or even minor change (so non-breaking)

combining that with msbuild could also force lock file on CI and wildcard on major locally with auto regeneration of major

and could even do nightly equivalent of dependably just by running `--force-evaluate` instead of `--locked-mode`

🤷‍♂️

[2021-03-30 18:39] aaronla-ms commented on #10700
@dominoFire

Note that we are _already_ using the Microsoft.Build.CentralPackageVersions nuget. That nuget does _not_ address this issue. It only updates packages which are directly referenced by the project; it does not update packages transitively referenced. E.g. our Packages.props already referred to `<PackageReference Update="System.Text.Encodings.Web" Version="[4.7.2]" />`, but we saw that v

[2021-03-30 19:59] zivkan opened #10706 "Test PackageUpdateResource_SourceAndSymbolNuGetOrgPushingAsync is flaky"
The test `NuGet.Protocol.Tests.PackageUpdateResourceTests.PackageUpdateResource_SourceAndSymbolNuGetOrgPushingAsync` ~appears to make real network connections to nuget.org and nuget.smbsrc.net~.  it's just flaky

I don't think our CI should block PRs being merged if an external resource has a service outage, or the CI agent is having flakey network access to the outside world.

[2021-03-30 21:05] psmolkin commented on #5706
![IMG_20210331_000339_484](https://user-images.githubusercontent.com/24776038/113056653-b9aa0400-91b4-11eb-8971-5c5b74691f74.jpg)

[2021-03-30 21:32] donnie-msft commented on #10145
Upgrading to just a Tracking item so that when the Epic work is implemented, I make sure this behavior doesn't regress.

[2021-03-30 21:39] donnie-msft commented on #9750
Promoting to a Tracking item just as a reminder of this goal.

[2021-03-30 21:40] donnie-msft commented on #9749
closing in favor of more fleshed-out Epic https://github.com/NuGet/Home/issues/10082

[2021-03-30 21:40] #9749 closed, assigned to donnie-msft

[2021-03-30 21:49] dnaranjor opened #10707 "Visual Studio Manage Package for Solutions shows error while browsing packages from an internal JFrog NuGet Artifactory"
## Details about Problem

NuGet product used: Visual Studio

Product version: Community 2019

Worked before?: No

## Repro steps and/or sample project

In a fresh install of Visual Studio Community 2019, I need to setup as Repository an internal JFrog Artifactory server, Commercial license 7.7.8 rev 70708900.

After opening a brand new Project in Visual Studio, I click on Tools > NuGet Package Man

[2021-03-30 22:17] nkolev92 commented on #10251
I think you are right.
The 5.0 SDK does signature verification, while the 3.1 did not.

fyi @heng-liu @kartheekp-ms

Thanks for following up.

[2021-03-30 22:18] #10251 closed, assigned to nkolev92

[2021-03-30 22:27] donnie-msft commented on #10707
If you navigate to your index.json URL, and manually check the Certificate, is it showing as valid?

[2021-03-30 23:25] erdembayar opened #10708 "PackageArchieveReader doesn't override CopyNupkgAsync so package extraction fails"
## Details about Problem

NuGet product used (Visual Studio | dotnet.exe):

Product version:

Worked before? If so, with which NuGet version: N/A

## Repro steps and/or sample project
`PackageArchiveReader.cs` is derived from `PackageReaderBase.cs` but it's not overriding `CopyNupkgAsync` in base class.
So when I try to use [ExtractPackageAsync ](https://github.com/NuGet/NuGet.Client/blob/c6ca6ebc

[2021-03-31 02:01] v-longmin commented on #10702
We will continue track this issue on VSO [1303657](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1303567), close it, thanks.

[2021-03-31 02:01] #10702 closed, assigned to nobody

[2021-03-31 10:44] dnaranjor commented on #10707
Actually no. In a browser the URL appear as invalid, so I have to manually
instruct the browser to allow it so I can get the content

El mar., 30 de marzo de 2021 7:27 p. m., donnie-msft <
***@***.***> escribió:

[2021-03-31 11:18] adam8797 commented on #10251
Just a follow up for posterity:

Adding the exception to the corp firewall for that symantec url cut the time spent restoring packages **again** by 50%. Same project that used to take ~5-10 minutes to restore now takes 10 seconds.

[2021-03-31 12:40] phatcher opened #10709 "GeneratePackageOnBuild and PackAsTool - no properties assigned to exe"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): Visual Studio

Product version: 16.9.2

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

I'm writing a dotnet tool and I'm using GeneratePackageOnBuild and PackAsTool in the csproj file.

The issue is that the exe is generated without version number or any of t

[2021-03-31 17:03] dominoFire commented on #8414
Workaround: Install one Workload that depends on NuGet component, named `Microsoft.VisualStudio.Component.NuGet`, documented [here](https://docs.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-professional?view=vs-2019)

[2021-03-31 17:30] tapika opened #10710 "nuget command line ignores credentials saved by Visual studio"
Tested with nuget 5.8.0.6930, and 5.9.0.7134.

When running "nuget.exe restore solution.sln" command - nuget does not use Visual Studio credentials, and does not prompt to enter login and password.

First provider which gets executed is `MsalDeviceCodeFlowBearerTokenProvider`.

Text banner looks like this:

[code]

Brief analysis of https://github.com/microsoft/artifacts-credprovider code and coup

[2021-03-31 18:36] RandyT97 commented on #5553
Hi @mikamins , I actually ran into the same issue with specifically :
    "Microsoft.ServiceFabric.AspNetCore.Kestrel 4.2.477" => "Microsoft.ServiceFabric.AspNetCore.Abstractions 4.2.477" => "Microsoft.AspNetCore.Http.Abstractions 1.0.0"=>"System.Text.Encodings.Web 4.0.0":

I resolved this by adding System.Text.Encodings.Web 4.7.2 as a direct dependency of the msbuild project, and it will cause al

[2021-03-31 18:55] ScottShingler commented on #9786
Just had a fun day dealing with this in .NET Core 3.1.407 while trying to address [CVE-2021-26701](https://github.com/dotnet/runtime/issues/49377). The workaround @AlexVallat suggested was very helpful, but I found that `Paket.Restore.targets` would get overwritten every time `paket restore` is run. To work around this, I ended up adding the following to our affected `fsproj` and `csproj` files ju

[2021-03-31 20:35] jebriede commented on #10698
I found that the Installed column does eventually populate, it just takes a long time when there are many projects that are getting the package installed so the bug is slightly different than reported. I tested using the same OrchardCore solution and after leaving it to run overnight, at some point the Installed column was populated for all projects. The problem does not manifest itself in any vis

[2021-03-31 21:45] erdembayar commented on #10698
For me it doesn't repo on "VS 16.10.0 Preview 1.0". Only on VS 16.10.0 Internal Preview 2

[2021-04-01 02:52] dominoFire commented on #10703
Are you compiling for .NET Framework, .NET Core or Native?

Did you take a look at this [article](https://docs.microsoft.com/en-us/troubleshoot/windows-server/shell-experience/0x800700c1-not-valid-win32-application-applocker-hash-rule) ?

Are you directly referencing the .dll assembly? or are you using a local or remote NuGet Feed to use your package in your remote computer?

[2021-04-01 04:51] rdeago commented on #5553
@RandyT97 while your workaround of course works, it solves the problem for a specific package. Your project could well have other transitive dependencies suffering from the same problem without you even being aware of it.

Besides, a few months from now, anyone working on the project (or even some automatic tool) may remove the direct dependency on `System.Text.Encodings.Web` because it is not use

[2021-04-01 06:53] wouterroos commented on #10701
@nkolev92 @dominoFire  Thanks! Do you have an ETA on when you guys will have a look/the issue will be fixed? We are currently blocked by this issue so I would like to plan accordingly.

[2021-04-01 09:21] althurman commented on #10703
.Net Framework 4.7.1

For the referencing I have actually tested both ways at this point. I have even just run it in debug mode on the server and I get the same thing. SO I think at this point it is not specifically a nuget issue. I'll check out the article as well. Thanks

[2021-04-01 09:21] #10703 closed, assigned to nobody

[2021-04-01 14:35] #9887 closed, assigned to donnie-msft

[2021-04-01 14:35] #10510 closed, assigned to donnie-msft

[2021-04-01 14:35] #10671 closed, assigned to donnie-msft

[2021-04-01 15:12] zivkan opened #10711 "Log packages already in the global packages folder that are used in a restore"
We've had requests from multiple people that when a restore uses a package that already exists in the global packages folder, or a fallback folder, that we should log it.

I'm proposing that it's only output at diagnostic verbosity, so it doesn't spam most people.

Since HTTP and extracting/installed messages are listed once per restore, not once per project that uses the package, the new log mess

[2021-04-01 17:39] JonDouglas opened #10712 "Notice: NuGet Restore Failures on Linux distributions using NSS or ca-certificates"
Hey friends,

We're aware of an upcoming change in Linux distributions in which an upstream change in the popular [Network Security Services(nss)](https://bugzilla.mozilla.org/show_bug.cgi?id=1686854) and `ca-certificates` packages can disrupt your `dotnet restore` experience on .NET 5+.

For more information about this issue, see the following announcement:

https://github.com/NuGet/Announcements

[2021-04-01 17:41] donnie-msft commented on #10706
Hit this https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4614095&view=ms.vss-test-web.build-test-results-tab&runId=20308800&resultId=104398&paneView=debug

[2021-04-01 18:10] erdembayar opened #10713 "Make default validation disabled on Linux, but enabled by default on Windows"
## Details about Problem

NuGet product used (NuGet.exe | dotnet.exe):

Product version:

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

Anticipating Mozilla going to drop Symantic certificate CA from their trusted database we need to release pre-empt mitigation.
More details please check https://github.com/NuGet/Announcements/issues/56.

### Verbose Logs

[2021-04-01 18:19] nkolev92 commented on #10685
Duplicate might be available in https://github.com/NuGet/Home/issues/10663

[2021-04-01 18:39] kai-dg commented on #10684
Having same issue on Arch Linux.
linux kernel 5.11.8
dotnet version 5.0.104

[2021-04-01 18:43] joelverhagen opened #10714 "Download counts do not appear for packages suggested by Package Recommender"
## Details about Problem

NuGet product used: Visual Studio
Product version: 16.10.0, preview 2
Worked before? Version prior to package recommender

## Repro steps and/or sample project

Open the Browse tab on the PM UI.
Ensure you have Package Recommender enabled (my understanding is that it's an A/B test, but I am not sure)

![image](https://user-images.githubusercontent.com/94054/113339476-5bc6

[2021-04-01 18:44] joelverhagen commented on #10714
Strangely, the download counts work for the V2 feed:
https://www.nuget.org/api/v2
![image](https://user-images.githubusercontent.com/94054/113339667-aba4d200-92df-11eb-8722-e5758e89a76a.png)

[2021-04-01 18:50] erdembayar commented on #10713
Fixed by https://github.com/NuGet/NuGet.Client/pull/3979

[2021-04-01 18:50] #10713 closed, assigned to erdembayar

[2021-04-01 18:53] #10685 closed, assigned to zkat

[2021-04-01 18:53] #10663 closed, assigned to nobody

[2021-04-01 19:11] joelverhagen opened #10715 "[Speculative bug] Ensure all code paths work with a download count exceeding int.MaxValue"
## Details about Problem

NuGet product used: all
Product version: latest

## Repro steps and/or sample project

See https://github.com/NuGet/NuGetGallery/issues/8476. In short, sooner or later Newtonsoft.Json will exceed `int.MaxValue` (2,147,483,647) as may cause problems.

End-to-end, we (NuGet team) need to ensure that a download count exceeding `int.MaxValue` does not break the client. The af

[2021-04-01 19:41] kai-dg commented on #10684
I actually fixed this by downgrading ca-certificates-mozilla 3.63-1 to 3.62-1 using AUR's `downgrade`

[2021-04-01 19:44] transtrike commented on #10491
So basically I had a similar issue. It seems it's mostly present to Linux based machines, so far unknown to me for Windows ones. There are several paths you can go on to try to fix it:

1. Easiest is just to delete NuGet cache folder(I'm on Linux, that for me is `~/.nuget`). That fixes it most of the time
2. You most likely have the `ca-certificates-mozilla` package installed. The version that was

[2021-04-01 19:47] dominoFire commented on #10705
I created a sample Web Site Project in VS 2015. Then I opened the solution in VS 2019.

I believe you can modify Target Framework in Project Properties page

![image](https://user-images.githubusercontent.com/1192347/113346005-1bb75600-92e8-11eb-8d08-34e345ae5336.png)

Does that work for you?

[2021-04-01 20:16] beechgrovejoe commented on #10705
Fernando,

     Yes you can change the Framework version on the project properties
page.    However that affects the web.config file but doesn't affect the
TargetFrameworkMoniker setting in the solution file.  For example,
create a website project with framework 4.6.1 in VS 2019.  Build it and
see it works.  Then unload the solution and manually edit the project
entries in the solution file to be:

[2021-04-01 20:18] zkat commented on #5016
Closing, since this was merged :)

[2021-04-01 20:18] #5016 closed, assigned to zkat

[2021-04-01 20:37] #9973 closed, assigned to zivkan

[2021-04-01 20:37] #10139 closed, assigned to zivkan

[2021-04-01 21:15] abeehler opened #10716 "DirectoryNotFoundException in PackTask PathResolver"
## Details about Problem

NuGet product used: dotnet.exe

Product version: 5.0.201

## Repro steps and/or sample project

I'm relatively new to nuget package creation.  I'm attempting to pack a .NET Standard project with 3rd party .NET Framework dll dependencies.
csproj:
[code]

SEALaserfiche.nuspec:

[code]

I attempt to run the following command:

```dotnet pack -p:config=debug```

...and get th

[2021-04-01 22:33] #10392 closed, assigned to donnie-msft

[2021-04-01 22:33] JonDouglas commented on #10491
@transtrike You are likely running into https://github.com/NuGet/Home/issues/10712 which I created this morning as it's a very similar scenario, just a problem upstream in Linux distros we're working on.

[2021-04-01 23:32] zkat opened #10717 "Implement new precedence for xamarin TFMs when using net6.0+"
As part of net6.0, we're implementing [new compatibility rules for xamarin TFMs](https://github.com/dotnet/designs/blob/main/accepted/2021/net6.0-tfms/net6.0-tfms.md#compatibility-rules). This is a tracking issue for implementing the precedence part of it.

Note: This should be feature-flagged for inclusion in 16.10.

[2021-04-01 23:36] zkat opened #10718 "Implement maccatalyst warning when "falling back" to xamarin.ios for net6.0+ projects"
As part of net6.0's [new precedence rules](https://github.com/dotnet/designs/blob/main/accepted/2021/net6.0-tfms/net6.0-tfms.md#compatibility-rules) (see #10717), we're adding a warning so that when xamarin.ios is picked for net6.0+ projects, we raise a warning informing customers of what we did.

As part of this task, we need to come up with a good warning message, and a new warning code, and run

[2021-04-02 05:24] transtrike commented on #10491
@JonDouglas I thought I was. But after a whole day of trying out ideas, I just gave up and deleted the <.nuget> folder by accident. That actually solved my problem, but I still wrote about what I found worked for other and what worked for me.

[2021-04-02 10:07] ArsenijK commented on #9369
@jessehouwing how did you do that? I.e. we want to make a Nuget package, that has both x86 and x64 dlls in it, and BOTH should be built, and then .NET assembly, which checks dynamically if it's running x86 or x64 and loads one of those dll to use. We have a problem to creating a nuget, that has both dlls, which get copied to the build folder (/bin/Debug/ or Release or whatever) for the end user, w

[2021-04-02 11:55] jessehouwing commented on #9369
I did this at a client and no longer have access to that codebase. Sorry.

If I remember correctly we ended up with an any cpu project with the dotnet
any put assemblies in them, a content folder with a x64 and an x86 folder
with the respective native binaries in them.

A piece of MS build target file to copy the binaries to the output
directory.

On Fri, 2 Apr 2021, 12:07 ArsenijK, ***@***.***> w

[2021-04-02 16:53] kartheekp-ms opened #10719 "CpsPackageReferenceProjectTests.TestPackageManager_PreviewProjectsUninstallPackageAsync_AllProjects_UninstallExistingPackage_Success test is flaky"
`TestPackageManager_PreviewProjectsUninstallPackageAsync_AllProjects_UninstallExistingPackage_Success` is flaky. It failed on few [1](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4615033&view=ms.vss-test-web.build-test-results-tab&runId=20317228&resultId=115623&paneView=debug), [2](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4596916&view=ms.vss-test-web.build-tes

[2021-04-02 18:33] erdembayar commented on #10719
@kartheekp-ms
I think this one is connected: https://github.com/NuGet/NuGet.Client/pull/3800#pullrequestreview-552054122
There are many activities were going on that (CpsPackageReferenceProject.cs file), but don't know exactly which one is causing the failure. I suspect [weakReference](https://github.com/NuGet/NuGet.Client/blob/a0671e946ce71dc59def5cc8a67c6457d66f33bf/src/NuGet.Clients/NuGet.Packa

[2021-04-02 19:07] donnie-msft commented on #10707
In that case, NuGet is responding as expected. I'd suggest you investigate the problem from both directions:
1. Is JFrog configured correctly? See https://www.jfrog.com/confluence/display/JFROG/Managing+TLS+Certificates.
2. Is your Windows installation trusting the certificates for your package source?

You may find a tool like `certutil` helpful, https://docs.microsoft.com/en-us/windows-server/ad

[2021-04-02 19:07] #10707 closed, assigned to nobody

[2021-04-02 21:26] dtivel opened #10720 "Documentation: improve/add documentation on signed package verification"
We should expand documentation to cover signed package verification in more detail (e.g.:  client policies, trust evaluations, trusted root authorities, etc.)

[2021-04-02 23:05] kartheekp-ms opened #10721 "[Mac] VerifySignaturesAsync_ExpiredCertificateAndTimestampWithTooLargeRange_FailsAsync is flaky"
`VerifySignaturesAsync_ExpiredCertificateAndTimestampWithTooLargeRange_FailsAsync` test if flaky on `Mac`. Failed in [1](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4618922&view=ms.vss-test-web.build-test-results-tab&runId=20358558&resultId=110154&paneView=debug), [2](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4616569&view=ms.vss-test-web.build-test-results-tab

[2021-04-03 01:59] donnie-msft opened #10722 "Unit Test is system Timezone dependent: `NuGet.CommandLine.Test.NuGetRestoreCommandTest.RestoreCommand_PreservesPackageFilesTimestamps`"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): N/A

Product version: N/A

Worked before? If so, with which NuGet version:

A test failed for me, and a quick look seems to indicate the Actual timestamp is pertinent to my timezone.
Tests should be passing regardless of the system's timezone.

## Repro steps and/or sample project

[code]
### Verbo

[2021-04-03 03:12] dominoFire commented on #10714
@birgithi FYI

[2021-04-03 22:58] AArnott opened #10723 "Package restore fails on Ubuntu 20 with This package was not repository signed with a certificate listed by this repository."
## Details about Problem

Ubuntu 20.04.2 LTS
dotnet SDK 5.0.102

Worked before? If so, with which NuGet version:
It works fine on Windows.

## Repro steps and/or sample project

[code]

[code]

Note that:
1. the new project has no nuget.config to even require signed packages.
2. version 3.3.37 of the same package installs just fine. (nuget.org used a different cert to sign it between these two ver

[2021-04-04 11:22] scottkupec commented on #6754
I've been using the work around above to run the published version of my code analyzer against the version currently being built.  Today, I decided to (finally) update all of my build pipelines to .NET SDK 3.1.x and see that I get this error:

[code]

Updating the assembly version is sufficient to mitigate.  I haven't looked into if something can be done about with an AssemblyVersion_temp or simil

[2021-04-05 08:49] dominoFire commented on #10709
You need to set `GenerateAssemblyInfo` property to true:

[code]

Result in exe:

![image](https://user-images.githubusercontent.com/1192347/113556335-2a845e00-95b1-11eb-8066-5b1a60754b00.png)

[2021-04-05 08:49] #10709 closed, assigned to nobody

[2021-04-05 09:27] dominoFire commented on #10701
I tested with `nuget.exe 5.8.1` and it extracted the nupkg.

[code]

![image](https://user-images.githubusercontent.com/1192347/113558885-4c7fdf80-95b5-11eb-9070-f263719d6a12.png)

On the other hand, using `nuget.exe 4.7.3`, it does _not_ extract the metadata file

[code]

![image](https://user-images.githubusercontent.com/1192347/113558911-56a1de00-95b5-11eb-9b4f-dca8d5a80dda.png)

.nupkg metadat

[2021-04-05 09:50] dominoFire commented on #10710
Thanks a lot for you detailed analysis, @tapika

nuget.exe works with .NET Framework ; so, it will use .NET Framework Authentication plugin. The Azure Artifacts Credential plugin is maintained by a team external to NuGet.

I will close this issue and repost in microsoft/artifacts-credprovider.

Any questions, let us know.

[2021-04-05 09:50] #10710 closed, assigned to nobody

[2021-04-05 09:58] dominoFire commented on #10716
Can you first try building the project and then packing the NuGet ?

[code]

[2021-04-05 10:13] dominoFire commented on #10723
Recently, there was a certificate update on nuget.org; see https://github.com/NuGet/Announcements/issues/53

Your package might be affected by this update.

Can you run dotnet add again with `NUGET_SHOW_STACK` set to `true` to see full call stack from the exception?

[code]

[2021-04-05 10:32] dominoFire commented on #6764
Mentioned in https://developercommunity.visualstudio.com/t/VS2019-has-regression-after-169--Centr/1388352

[2021-04-05 11:41] tapika commented on #10710
Are you sure `artifacts-credprovider` is right repository to raise this error ?

.net core 2 theoretically goes into direction - less UI, more portable direction - would work also on linux, mac, android.

with .net 5 it's possible to get more UI and more portable.

[2021-04-05 13:22] AArnott commented on #10723
Thanks, @dominoFire. Here is the result:

[code]

[2021-04-05 15:25] fabriciomurta commented on #10586
If you are getting this issue with GitHub Actions on Windows environment, the issue you should be looking at is actions/virtual-environments/issues/3038. The issue happens randomly and _may be_ due to improper clean up of previous runs the host served.

[2021-04-05 15:38] jimmylewis commented on #6764
@dominoFire I would hazard a guess that the VS Feedback item is about [this](https://github.com/microsoft/MSBuildSdks/tree/main/src/CentralPackageVersions), not the NuGet CPVM feature.

[2021-04-05 16:10] erdembayar commented on #10294
@heng-liu @zkat @kartheekp-ms @aortiz-msft
Do you have spec for this one?

[2021-04-05 16:10] heng-liu commented on #10621
Commit is https://github.com/NuGet/NuGet.Client/commit/d5567123d805107118e38eb34037de82b65d952b
Closed as fixed.

[2021-04-05 16:10] #10621 closed, assigned to heng-liu

[2021-04-05 16:11] heng-liu commented on #10623
Commit is https://github.com/NuGet/NuGet.Client/commit/96faf2d3fd926496faefb552f61f542a3b7363ac
Closed as fixed.

[2021-04-05 16:11] #10623 closed, assigned to heng-liu

[2021-04-05 16:23] zkat commented on #10294
No. We'll need one and will have to run it by Kathleen, too.

[2021-04-05 16:54] loic-sharma commented on #10723
Hello, I wasn't able to repro this on Ubuntu 20.04 and .NET SDK 5.0.201. Could you try clearing NuGet's cache with these commands:

[code]

Please let us know if the issue still reproduces after clearing your cache.

[2021-04-05 17:09] AArnott commented on #10723
Thanks. That fixed it up (after fixing your second command to use lowercase `-c`).

Here are the steps that on my machine led up to the failure:

[code]

Update [this line](https://github.com/microsoft/vs-validation/blob/47b3041cda92fefa1f1ec994252e87ae2ff2ac41/Directory.Build.props#L30) to `3.4.179-rc`:

[code]

Run:

[code]

This failed because the repository cert didn't match [this fingerprint]

[2021-04-05 17:11] Keboo opened #10724 "TfmSpecificPackageFile .targets file is causing NU1012 when running dotnet pack with 5.0.201"
## Details about Problem

[code]
Microsoft Visual Studio Enterprise 2019 Preview
Version 16.10.0 Preview 1.0

## Repro steps and/or sample project
I have a WPF NuGet package that contains a custom .targets file to extend the build process of consumers. The full project is [XAMLTest](https://github.com/Keboo/XAMLTest), but I have created a smaller [sample project](https://github.com/Keboo/PackIssue

[2021-04-05 18:14] MisinformedDNA commented on #10491
I'm seeing hundreds of these warnings in Azure DevOps using VM images ubuntu-16.04 and ubuntu-20.04. Is anyone else seeing this?

[2021-04-05 18:54] dominoFire commented on #6867
Mention from https://developercommunity.visualstudio.com/t/NuGet-should-keep-a-reference-to-package/1387876

[2021-04-05 19:18] dominoFire commented on #9348
Performance issue in Updates tab: https://developercommunity.visualstudio.com/t/why-oh-why-does-calculating-the-list-of-/1383113

[2021-04-05 19:42] zivkan commented on #10724
I had a very quick look, perhaps too quick and I didn't fully understand the issue, but it seems to me to be related to https://github.com/NuGet/Home/issues/10063.

That thread has some suggestions. Some are proposals that are not implemented, but others are more verbose proposals that should work today.

An alternative is to specify yourself which platform version, you want to use, rather than le

[2021-04-05 19:45] #10085 closed, assigned to zkat

[2021-04-05 19:51] nkolev92 commented on #9782
This is blocked on prioritization for now.

[2021-04-05 20:09] zivkan commented on #10463
Update for anyone curious. We learned that our pdbs are being generated correctly, but the issue is that Microsoft's symbol server is intentionally stripping out sourcelink information. I assume it's because most Microsoft products are closed source.

What the dotnet org does is:

* Generate snupkgs with portable pdbs
* Publish nupkg+snupkg to nuget.org
* Use pdb2pdb.exe to convert to pdbs to wind

[2021-04-05 20:14] nkolev92 commented on #6867
Hey all,

We will be using this issue to track the complete effort mentioned in the package namespaces proposal at https://github.com/NuGet/Home/pull/10660.

Note that this is a large feature and some parts may ship partially/experimentally earlier.

[2021-04-05 20:20] nkolev92 opened #10725 "Add package namespaces support as part of the configuration - add a reading capability only"
Child of https://github.com/NuGet/Home/issues/6867.

Add the configuration writing/reading for namespaces as documented in https://github.com/NuGet/Home/pull/10660.

[2021-04-05 20:21] dominoFire opened #10726 "build.sh script should build cross-platform binaries"
Update build.sh script to build binaries for source-build.

source-build 5.0 uses two MSBuild commands to build cross-platform binaries, as shown below.

https://github.com/dotnet/source-build/blob/c13177f2205e4eb8e19e08ac45889b793edc9a2d/repos/nuget-client.proj#L42

[2021-04-05 20:23] nkolev92 opened #10727 "Add namespaces filtering support for PackageReference"
Child of https://github.com/NuGet/Home/issues/6867

[2021-04-05 20:24] nkolev92 opened #10728 "Add namespaces filtering support for packages.config"
Child of https://github.com/NuGet/Home/issues/6867

[2021-04-05 20:26] nkolev92 opened #10729 "Clarify and implement the strict mode scenarios"

[2021-04-05 20:27] nkolev92 commented on #10729
cc @JonDouglas as we progress in the implementation, we will need to clarify and ensure we're happy with the strict mode proposal.

[2021-04-05 20:29] nkolev92 opened #10730 "Design Package Source mapping package installation experiences epic"
Follow up to https://github.com/NuGet/Home/issues/6867 and https://github.com/NuGet/Home/pull/10660.

https://github.com/NuGet/Home/pull/10660 talks about the MVP, primarily focusing on the restore experience and not the PM UI, PMC & dotnet add package experience.

fyi @JonDouglas

- [x] https://github.com/NuGet/Home/issues/11377
- [x] https://github.com/NuGet/Home/issues/11378
- [ ] https://githu

[2021-04-05 20:33] nkolev92 opened #10731 "Package Namespaces: Add configuration reading as part of the restore input (dependency graph spec) generation in commandline and VS scenarios"
Add configuration reading in PackageReference restore input generation.

[2021-04-05 20:37] nkolev92 opened #10732 "Package Namespaces: Account for package namespaces filtering in package downloading in PackageReference restore"
This is a more generic issue.
May involve download, new warning/error generation etc.

[2021-04-05 21:55] JonDouglas commented on #10730
I'll start to work on these experiences as we progress in the MVP.

[2021-04-05 23:00] domints commented on #10712
You mentioned to comment, so here I am. Freshly new install of dotnet on Debian 10:
ca-certificates/stable,stable-updates,now 20200601~deb10u2 all [installed]
dotnet-sdk-5.0/buster,now 5.0.201-1 amd64 [installed]
dotnet-runtime-5.0/buster,now 5.0.4-1 amd64 [installed,automatic]

Aaaand it's failing very hard for me.

[2021-04-05 23:04] heng-liu commented on #10723
Hi @AArnott , thanks for reporting this issue.
I could repro without adding new repository certificate in the NuGet.Config file, but once I added the new repository certificate, it restores successfully. So I assume you don't have this issue now, right? Pls correct me if my understanding is wrong. Thanks!

I would like to clarify that, if you add `trusted-signers` section in NuGet.Config file, eve

[2021-04-05 23:13] heng-liu commented on #10723
Raised an issue about the document at https://github.com/NuGet/docs.microsoft.com-nuget/issues/2377

[2021-04-05 23:21] JonDouglas commented on #10491
@MisinformedDNA Can you post a stack of the errors you're receiving so we can see what type of packages and error codes? Also there's a few comments in this thread that talk about viewing the root CAs on the machine, can you confirm it's not distrusted?

[2021-04-05 23:23] JonDouglas commented on #10712
@domints can you paste some snippets of the error messages you're receiving? Additionally there's a few threads in https://github.com/NuGet/Home/issues/10491 that talk about how to view the trust of the root CA, can you confirm your distro has trust or not?

[2021-04-05 23:28] richlander commented on #10712
I believe that version of `ca-certificates` is good. Can you try removing and then installing `ca-certificates`? I think you may someone be experiencing the issue from February, not the April/current one. I just tested on Debian 10 amd64 w/o issue. I tested in our .NET 5.0 container images, with updating all packages.

[code]

[2021-04-05 23:54] AntonLapounov commented on #10571
It would be nice to allow package dependencies conditioned on the _host_ RID. For instance, ILCompiler supports targeting win-arm64 RID on a win-x64 host using the `dotnet publish -r win-arm64` command. To make that work, the ILCompiler meta-package should list a dependency on the win-x64 _tools_ package, containing the win-x64-hosted compiler, and the win-arm64 _runtime_ package, containing the f

[2021-04-06 01:21] zivkan commented on #5195
@danwalmsley I know it's been 4 years since this issue was opened. Is this still something you want, or can we close it?

`FolderNuGetProject` corresponds to a `packages.config` solution packages folder. NuGet's tooling experience (nuget.exe and visual studio) don't have any features to restore packages into the solution packages folder without also going into global packages folder, so I assume t

[2021-04-06 01:21] domints commented on #10712
@JonDouglas Here is snippet:
`Building...
[a lot of messages like the one below]
/root/FacebookPhoneLeak/LeakSearchApp/LeakSearchApp.csproj : error NU3028: Package 'System.ComponentModel.Annotations 5.0.0' from source 'https://api.nuget.org/v3/index.json': The repository countersignature's timestamp found a chain building issue: UntrustedRoot: self signed certificate in certificate chain
/root/Fac

[2021-04-06 01:28] AArnott commented on #10723
Yes, curiously enough the repro steps doesn't repro the problem for me any more. Thank you.

[2021-04-06 01:28] #10723 closed, assigned to heng-liu

[2021-04-06 01:30] JonDouglas commented on #10712
@domints Inside the bug report of https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=962596 there seems to suggest that updating the package does not automatically trust the CA.

   won't automatically be trusted again on upgrade.  Affected users may
   need to reconfigure the package to restore the desired state.

Perhaps try the solution in https://github.com/NuGet/Home/issues/10491#issuecomment-

[2021-04-06 01:36] erdembayar opened #10733 "Nuget trusted signers add command -AllowUntrustedRoot is ignored for ServiceIndex"
## Details about Problem

NuGet product used (NuGet.exe | dotnet.exe):

Product version: 5.9

Worked before? If so, with which NuGet version: N/A

## Repro steps and/or sample project
Execute below command, it ignores  `-AllowUntrustedRoot` part.
` nuget59 trusted-signers Add -Name NuGetTestTrust -ServiceIndex https://apidev.nugettest.org/v3-index/index.json -config ..\nuget.config -AllowUntrusted

[2021-04-06 04:13] heng-liu commented on #10723
You might need to run `dotnet nuget locals global-packages -c` to clear the extracted `Nerdbank.GitVersioning` package. (Or go to the global package folder and only delete Nerdbank.GitVersioning folder.
The verification is done during extraction in restore. If the verification is good, the package will be extracted into global package folder.
Next time, when you run restore, if the package is alre

[2021-04-06 05:01] lbargaoanu commented on #10463
While interesting, this doesn't help :) I'm using NuGet.Commands 5.8.0. I cannot debug NuGet. The only symbols found are on Microsoft's symbol server, and those don't do the trick. If I disable Microsoft's symbol server (and keep the NuGet symbol server), no symbols are found. So if SourceLink is supposed to work, how's that exactly? :) I think I gave it a fair shot.

[2021-04-06 05:19] heng-liu commented on #10463
As @zivkan mentioned above, Microsoft's symbol server is intentionally stripping out sourcelink information. That's the why you could not debug into it.
After we finish the above steps and publish new versions of NuGet packages, you should be able to debug into that.

[2021-04-06 05:55] HeikeHofmann commented on #6764
We had opened a issue for VisualStudio 2019 V16.9.x (16.9.0-16.9.3):
https://developercommunity.visualstudio.com/t/ManagePackageVersionsCentrally-does-not/1371228

But it was closed with forward to this nuget issue 6764.
I readed this nuget issue here and dont understand one part. Why was transitive restore working with VS 2019 V16.8.x ?
We have an own ProGet Server, where we store only a part of

[2021-04-06 06:11] lbargaoanu commented on #10463
Thanks. It wasn't obvious to me what's the current situation (other than what I saw).

[2021-04-06 06:28] tompazourek commented on #6764
@HeikeHofmann  The "transitive dependency pinning" part of CPVM was disabled recently in #10132, which got into NuGet version 5.9, which got into MSBuild version 16.9, which got into VS version 16.9...

See my comment here: https://github.com/NuGet/Home/issues/10389#issuecomment-791475359.

[2021-04-06 07:23] wouterroos commented on #10701
@dominoFire Thanks, that seems to solve the issue.

[2021-04-06 07:23] #10701 closed, assigned to nobody

[2021-04-06 09:14] batzen commented on #10389
@zivkan Why were the changes made in the first place?
Whats the purpose of CPVM when we can't manage versions centrally anymore?
If some "internal customers" don't want transitive version pinning, why are they using CPVM in the first place?

[2021-04-06 10:49] Sebbstar commented on #6374
is there any workaround to troubleshoot (enable logs)  for `dotnet nuget push`?

[2021-04-06 13:00] 24mu13 commented on #10655
Thank you for double-checking: we have some code ([ConsoleAssetsJson.zip](https://github.com/NuGet/Home/files/6264760/ConsoleAssetsJson.zip)) to package a library of us with its dependencies.
To get these deps we parse the **project.assets.json** of the initial library of us.

When compiling on _Windows_ everything goes well and we get all deps on .nuget/packages, but when compiling on _Linux_ som

[2021-04-06 14:28] AArnott commented on #10723
Not in my case. I had in fact deleted the package from the global cache. I also tried restoring to an alternate cache by setting `NUGET_PACKAGES` to some other location.

[2021-04-06 15:22] zivkan commented on #10389
The discussion is in https://github.com/NuGet/Home/issues/10115. As you can see, the people who dislike the functionality are not Microsoft employees.

[2021-04-06 16:24] Keboo commented on #10724
@zivkan thank you. Yes, changing the `TargetFramework` to `net5.0-windows7.0` does appear to address the problem.

Is there some documentation to explain this? I had been using [this table](https://docs.microsoft.com/en-us/dotnet/standard/frameworks#net-5-os-specific-tfms) for setting up the target frameworks.

[2021-04-06 17:11] zivkan commented on #10724
This is the design spec that the various teams based their own component's implementation on: https://github.com/dotnet/designs/blob/main/accepted/2020/net5/net5.md

Here's where the SDK sets the default value: https://github.com/dotnet/sdk/blob/e6494d1d529fa00e76693b6d7d8f6ef9401b3e4f/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Windows.targets#L27-L30

But I don't follow the NuGet d

[2021-04-06 17:13] #10724 closed, assigned to nobody

[2021-04-06 17:20] zivkan commented on #10553
This issue does not explain what the expectations are, and the linked issue is also missing sufficient context for anyone who either was not in the meeting, or forgot the details of the meeting.

The problem was that packing a Razor classlib project failed.

So, the goal is not to write integration tests for the `dotnet new` command, the goal is that we should have tests that restore and pack rele

[2021-04-06 17:29] richlander commented on #10712
An updated .NET 5 build is now available that resolves this issue: https://devblogs.microsoft.com/dotnet/net-april-2021-updates/

[2021-04-06 18:24] JonDouglas commented on #10695
Please note that a .NET 5 release is now available that should resolve this issue. You can find a link to download it on the announcement below:

https://github.com/NuGet/Announcements/issues/56

[2021-04-06 18:24] JonDouglas commented on #10684
Please note that a .NET 5 release is now available that should resolve this issue. You can find a link to download it on the announcement below:

https://github.com/NuGet/Announcements/issues/56

[2021-04-06 20:25] zivkan commented on #10704
@gallettoNL I provided a solution in the thread you linked at the time the issue was closed: https://github.com/NuGet/Home/issues/7657#issuecomment-469901706

A better solution would be to [migrate to automatic package restore](https://docs.microsoft.com/nuget/consume-packages/package-restore#migrate-to-automatic-package-restore-visual-studio) that does not depend on the files created by "Enable N

[2021-04-06 21:53] #10023 closed, assigned to zivkan

[2021-04-07 02:04] #10562 closed, assigned to erdembayar

[2021-04-07 06:13] tompazourek commented on #10389
@batzen I think that without transitive dependency pinning, CPVM essentially becomes just a very simple cosmetic feature, just like a syntactic sugar. It's just to save you repeating the version number in many places. It's still a little bit useful, but not very much.

It's the transitive dependency pinning that actually solved a difficult problem, and that is to get the versions of the dependenci

[2021-04-07 07:26] asklar commented on #10586
@aortiz-msft we have many repos hitting this, both internal and external, since the most recent update to GitHub actions/AzDO pipelines. Everything worked fine before then, and without requiring a nuget.config on the repo.
Now everyone's repos are failing to restore, causing _widespread disruption_.

Can this issue be reactivated and investigated please? There's no fix given on this thread other t

[2021-04-07 07:40] springy76 commented on #5553
net5 now totally f*cked up it just from the start. Being now at 5.0.4 some newest packages are at 5.0.3, 5.0.2, 5.0.1, 5.0.0, and some other versions.
And it doesn't matter whether I use 5.0.4 packages on 5.0.0 runtime or 5.0.0 packages on 5.0.4 runtime. All combinations just work and I can't tell the build server that this all probably is just wrong and smelly bullshit.

[2021-04-07 08:05] gallettoNL commented on #10704
Hi Andy,
thanks for your link, I'll give it another try.

Migrating to automatic restore is tempting, but then I'll need to change all (about 100) project files in our solution, and I'm not sure it'll fix the issue of not having package references in the ASP.NET project that sits in the solution too.

Any ideas on that?

Cheers,
Will de Haan

[2021-04-07 08:15] jimmylewis commented on #10389
Whole-heartedly agree with @tompazourek.  Transitive pinning is the hugely appealing for managing dependencies; without it, trying to micro-manage dependency versions eventually leads to adding layers of transitive dependencies as primary references, which is little better than packages.config.

If it's just pinning primary reference versions, that problem was already been solved a number of ways

[2021-04-07 08:38] v-luzh commented on #8929
Hi Heng, sorry for the late reply. This issue has been blocked by another known issue [10265](https://github.com/NuGet/Home/issues/10265) for a long time, and I saw it a few times (about 3 times) on VS Main+Dev after the fixing of the bug 10265.

[2021-04-07 11:11] ds1709 commented on #6764
Transitive dependencies is big problem for developers. It's pain to debug applications with big bunch of projects. Every time you update any nuget package version or add new dependency you are at risk of crash with assembly loading exception. More then, you dont know all transitive dependencies, so, when it happens, you should analyze all dependencies for all projects to find conflicting dependenc

[2021-04-07 11:19] tebeco commented on #6764
Yet again I would love to have an Opt In for that feature ...
and as a reminder `dotnet` is suppose to have `lockfile`

so if one think that floating transitive on latest is an issue ... just enforcing lockfile for that feature would fix point raised previously

if lockfile are flacky then this needs to be also addressed at some point 🤷‍♂️

I really think that together
* lockfile
* opt-in floating

[2021-04-07 14:42] vdanilin opened #10734 "NuGet packaging should support symlinks within packages."
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): nuget.exe CLI via Mono

Product version: 5.8.0.6930

Worked before? If so, with which NuGet version: No

Operating Systems: Linux and macOS

We create nuget packages on Linux and macOS by ‘nuget.exe pack ..’. Our source folder contains libraries and the set of symbolic links following Linux Shared

[2021-04-07 16:00] zivkan commented on #10704
Correct, it was removed from VS2015 and later.

Assuming that your projects were originally created in VS2013 or earlier, then whoever did the "solution right click -> Enable NuGet Package Restore" caused the 100 projects to be modified.

Additionally, assuming that the targets file is causing nuget.exe to restore your project on every build, you're experiencing slower performance because of it. N

[2021-04-07 16:56] zivkan commented on #10586
Assuming the problem is that someone modified the user profile nuget.config on the CI agent to remove nuget.org, and the CI agent doesn't revert this file between different builds, NuGet is working as designed, and to do otherwise to fix this issue you're experiencing, will break long-standing functionality.

From a build reliability point of view, it's in your best interest to not only in a nuget

[2021-04-07 17:31] MisinformedDNA commented on #10491
I created a public repo and pipeline on Azure DevOps. You can check out the logs [here](https://dev.azure.com/yellowcounter/PublicTest/_build/results?buildId=938&view=results). Let me know if you still have additional questions.

[2021-04-07 17:56] JonDouglas commented on #10491
@MisinformedDNA Can you run `dotnet nuget verify` or `nuget verify` on a DevExpress.* package? Might be a similar certificate that expired and chaining to the root CA.

https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu3018

Looks like all the Ubuntu versions are throwing these warnings. I'm not seeing anything in changelogs: https://launchpad.net/ubuntu/focal/+source/ca-certi

[2021-04-07 23:31] asklar commented on #10586
@zivkan actions team says each run runs on a clean agent so there is no "prior state".
Moreover what we are seeing on our runs is that nuget.org _is_ in the list of feeds, the logs say as much, however the build fails because some of the packages are not in the "Visual Studio offline packages" feed, which seems bogus. Nuget/msbuild should not require a package to exist on _all_ feeds, it should be

[2021-04-07 23:33] zivkan commented on #10586
I just did a test that validates that the `windows-latest` image comes pre-installed with a nuget.config that does not have nuget.org as a package source, while `ubuntu-latest` and `macos-latest` do not have the file, allowing NuGet to create the default contents with nuget.org on first restore: https://github.com/zivkan/ci-nugetconfig-check/runs/2292176156?check_suite_focus=true

We're contacting

[2021-04-07 23:35] asklar commented on #10586
Thanks @zivkan - our repo has a nuget.config with nuget.org in it, and it was being used, and we still ran into this though, so there may be 2 issues to chase.

[2021-04-07 23:46] zivkan commented on #10586
@asklar

The original comment in this issue contains this error message:

This shows that NuGet detected that the only configured source is "Microsoft Visual Studio Offline Packages". If there were any other configured sources, NuGet would have listed it as a comma separated list.

If your CI builds are showing a similar thing, an error message that says "No packages exist with this id in source(s

[2021-04-07 23:52] asklar commented on #10586
Actually no it's the other way around: I get the error that no packages exist, but it DOES list nuget.org.

Here's an example of the errors:

From:
- https://dev.azure.com/ms/8d8e50dd-c5b4-4b44-8668-86558c5aa5b7/_apis/build/builds/154289/logs/549
- https://dev.azure.com/ms/react-native-windows/_build/results?buildId=154289&view=logs&jobId=2368c293-a607-576b-f9cf-404335799b61&j=2368c293-a607-576b-f

[2021-04-08 00:03] nkolev92 commented on #10586
On the commandline, you can configure project level nuget.config.

That output at the end is all sources merged together.

The project that failed is:

The config that likely adds the sources is:

Per https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#how-settings-are-applied, that config won't apply to that project.

The config should be at the root of the repo to

[2021-04-08 00:12] asklar commented on #10586
Thanks @nkolev92
CC @agnelukoseviciute and @dannyvv

the testcli project is generated in CI (we have a tool that is used to create apps, we validate that the tool works properly by creating such apps in the CI). In that case D:\a\1\testcli\windows is where the app's sln file lives. I don't know that we expect that nuget config to be used in building Microsoft.ReactNative.Managed.CodeGen.csproj tho

[2021-04-08 00:30] nkolev92 commented on #10586
The project is `D:\a\1\testcli\node_modules\react-native-windows\Microsoft.ReactNative.Managed.CodeGen\Microsoft.ReactNative.Managed.CodeGen.csproj` was relying on machine state, and I think it makes sense to say that you need a configuration for it to ensure repeatability.

Some people in the team are considering this option in the context of https://github.com/dotnet/installer/issues/10171.

We

[2021-04-08 01:13] nkolev92 opened #10735 "PackageSourceMapping config/source command additions"
Child of https://github.com/NuGet/Home/issues/6867.

This covers adding the respective dotnet.exe and nuget.exe commands to edit the config namespaces.

[2021-04-08 01:14] nkolev92 opened #10736 "Propagate package namespaces information to the restore command"
Child of https://github.com/nuget/home/issues/10727.

Blocked on https://github.com/nuget/home/issues/10731

[2021-04-08 01:22] nkolev92 opened #10737 "Add namespaces filtering support in packages.config restore in nuget.exe and msbuild /t:restore"
This task covers adding support in NuGet.exe, MSBuild.exe ~~, VS~~.
~~A lot of the code is shared, but if need be, this task may be broken into smaller tasks.~~

I splitted into 2 pars. 2nd part is https://github.com/NuGet/Home/issues/10823

[2021-04-08 01:25] nkolev92 opened #10738 "Ensure the namespaces filtering is respected in packages.config package installation/updates in PMUI"
In PR, restore and package installation are equivalent.
In PC they are not.

This task covers ensuring that the namespaces are respected during package installation.

*Detailed explanation:*

* In https://github.com/NuGet/Home/issues/10823, support for namespaces filtering was added in restore.
* This issue ensures that commands run through:
    * Package Manager UI, both project level and solutio

[2021-04-08 08:47] v-luzh commented on #10207
Fixed on VS Main\31207.226 + NuGet Client Dev\5.10.0.7201. Close this bug now. Thanks.

[2021-04-08 08:47] #10207 closed, assigned to nobody

[2021-04-08 15:38] AraHaan commented on #10626
If the codebase only ships a pfx, could the pfx be used on non-windows systems as well too?

[2021-04-08 16:10] loop-evgeny commented on #4176
Is this fixed for the Updates tab in Visual Studio, then? If so, in which VS version?

[2021-04-08 16:52] heng-liu commented on #10626
Yeah, the .pfx on non-windows platform will be supported.

[2021-04-08 17:11] nkolev92 commented on #4176
@loop-evgeny 16.9.

I just verified it on my end by switching between a cs file and previously opened updates tab in the package manager UI.

[2021-04-08 17:29] zivkan opened #10739 "INuGetProjectService.GetInstalledPackagesAsync throws when MSBuildProjectExtensionsPath is not set"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): Visual Studio

Product version: 16.8 - 16.9

Worked before? If so, with which NuGet version: New API in 16.8

## Repro steps and/or sample project

### Verbose Logs

VS extensions using NuGet's `INuGetProjectService.GetInstalledPackagesAsync` will get an exception if the project being queried is a

[2021-04-08 18:46] donnie-msft opened #10740 "`NuGetProjectManagerService` calls to get installed packages should batch projects"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): VS

Product version: all

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

The following methods are called repeatedly for each project, rather than batched:
[code]

Batching these may save significant overhead in common PM UI actions, and reduce the overall lo

[2021-04-08 19:12] christianwinters1989 opened #10741 "Not Compatible"
Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1202	Package Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore 5.0.5 is not compatible with net50 (.NETFramework,Version=v5.0). Package Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore 5.0.5 supports: net5.0 (.NETCoreApp,Version=v5.0)	BulkyBook2	C:\Users\christian.winters\Desktop\BulkyBook-master\BulkyBook2\BulkyBook2\Bul

[2021-04-08 19:40] aaronla-ms commented on #6764
Lock files only cover _resolved_ packages, not _restored_ packages. We already saw cases where lockfiles failed to detect downloading of the wrong package version, only because a closer dependency ended up resolving a closer package version. Packages which are restored but not resolved don't end up in the log file. :S

This might be by design, but it's putting a _lot_ of faith in the resolution me

[2021-04-08 19:57] nkolev92 commented on #6764
I'd love to learn more about that in a separate issue.

[2021-04-08 20:29] tebeco commented on #6764
this is exactly part about f my proposa here
Allow resolving transitive to the latest at the condition you also have to enable lockfile

on dev computer: resolve up to date / latest => update lockfile

on ci: just restore from lockfile

That way you have a repeatable and predictable CI while human have the ability to force the update
you can also force the update on nightly trigger and create PR w

[2021-04-08 23:17] erdembayar opened #10742 "Add an ENV Variable for Package Signing Verification on .NET 5+ Linux/MAC"
## Details about Problem

NuGet product used (NuGet.exe | dotnet.exe):

Product version:

Worked before? If so, with which NuGet version: N/A

## Repro steps and/or sample project

Add an environment variable to opt-in to the package signing verification on .NET 5.
Env var name is `DOTNET_NUGET_SIGNATURE_VERIFICATION` and to enable it set value to `TRUE`. Please note both env var name and value ar

[2021-04-08 23:47] JamesNK opened #10743 "NuGet support for the csproj editor in Visual Studio, show dependency upgrade info"
re: https://twitter.com/JamesNK/status/1379904221575663620

VSCode + golang has an interesting feature where it shows package updates in the editor. Clicking on a link updates the package for you.

Should csproj + Visual Studio do something similar.

![image](https://user-images.githubusercontent.com/303201/114109391-46795e00-9929-11eb-8727-0e32f6dfdaa6.png)

[2021-04-09 01:21] fldeploy commented on #3891
Any updates on equivalent to nuget.exe's -IncludeReferencedProjects flag? This is a highly needed feature.

[2021-04-09 01:23] motion-x86 commented on #3891
Any updates on equivalent to nuget.exe's -IncludeReferencedProjects flag? This is a highly needed feature.

[2021-04-09 01:25] #10742 closed, assigned to erdembayar

[2021-04-09 02:26] AraHaan commented on #3891
Sadly the only way currently is to provide your own nuspec and telling the csproj to use that when doing ``dotnet pack`` but then alsp provide the NuSpecProperties so then all of the things that are normally set in the csproj and then spit out into an autogenerated nuspec file would then need to be passed into the manual one in the form of properties of the same names and accessed by doing things

[2021-04-09 14:27] Nekkiton opened #10744 "MsBuild restore task doesn't use packages.config path from RestorePackagesConfigPath"
I use the latest MSBuild version to restore NuGet packages from the packages.config file. There are a lot of properties Restore* that I can manage to change needed fields. One of this property is RestorePackagesConfigPath but as it turned out this property doesn't matter at all, since the path to this file is hardcoded as project folder path + "packages.config" constant (see line 477 NuGet.Client/

[2021-04-09 15:33] TysonMN commented on #10532
This bug is still present in version 16.9.3 of Visual Studio, which was released on March 30, 2021 (which was 10 days ago).  In which version of Visual Studio should I expect to see this fix incorporated?

[2021-04-09 15:57] heng-liu opened #10745 ""dotnet nuget remove source nuget.org" doesn't work the first time"
@aortiz-msft commented on [Fri Feb 12 2021](https://github.com/NuGet/Client.Engineering/issues/778)

Inside the interactive container, run

It will list nuget.org as a source:
“Registered Sources:
1.
nuget.org [Enabled]
https://api.nuget.org/v3/index.json
”

Run

It will say “Package source with Name: nuget.org removed successfully.”
 Run (again)

 Expected behavior:
The list should be empty. Nuge

[2021-04-09 15:58] heng-liu commented on #10745
Closed as fixed.

[2021-04-09 15:58] #10745 closed, assigned to nobody

[2021-04-09 16:28] AArnott opened #10746 "Support for source generators that add non BCL code"
In VS 16.9.3 (or as new as 16.10 Preview 3, 31206.385.main)...

1. Create a new C# class library:
[code]

2. Use the NuGet Package Manager to install Microsoft.Windows.CsWin32 0.1.422-beta to the project.
3. Add a type reference to `Span<byte>` somewhere in a .cs file

**Expected**

No compilation errors.

**Actual**

`Span<byte>` produces a compiler error because System.Memory.dll is not a refere

[2021-04-09 16:35] jnm2 commented on #10746
I suspect the answers will be "this is by design" or "it can't be `compile` because that has other consequences." In that case, please consider extending the design to make dependency packages capable of adding runtime dependencies for consuming projects, or in some other way make the state of things more friendly for consumers of source generators.

[2021-04-09 16:43] #10739 closed, assigned to zivkan

[2021-04-09 17:39] daniellwdb commented on #10504
[code]
[code]

[2021-04-09 18:02] donnie-msft commented on #10532
@TysonMN this will be released in 16.10 Preview 2.

[2021-04-09 18:52] AraHaan commented on #10746
The way I work around this is to have the ``build\<package name>.props`` file to contain the ``PackageReference`` instead so that way it will work like how this issue expects. This is due to the fact that all Analyzers automatically are considered development dependencies only and as such are excluded from being reference-able by the main project.

This means all analyzers that list packages under

[2021-04-09 19:44] jnm2 commented on #10746
@AraHaan I've explored the suggestion of adding a package reference in a package's .props for very different reasons and it's not stable last I checked. The .props does not exist on the first restore, and there is no loop to restore over and over until the set of package references stabilizes. It's necessary for a clean build with no prior restores to restore correctly and compile and run the firs

[2021-04-09 20:00] AraHaan commented on #10746
On my github repository (that does implicitly add packages inside of the props) I did only a single restore on using the .NET 6 SDK (this was when preview 1 was released) and it ran the analyzer packages just fine from them (they added stylecop, idisposable, among other analyzer packages back then).

[2021-04-09 20:27] AArnott commented on #10746
I share @jnm2's concern. The only supported way for one nuget package to bring in another is via nuspec dependency. A PackageReference item added by an msbuild import file brought in by another package does not work in a single-phase restore that our tools assume today.

[2021-04-09 20:46] JonDouglas commented on #10504
@daniellwdb Does the nuget.config on disk have the NuGet.org source?

[2021-04-09 20:46] JonDouglas commented on #10504
/cc @erdembayar & @heng-liu

[2021-04-09 21:50] heng-liu commented on #10504
This one looks like a different issue.
The failure happened at a very early stage, during establishing SSL connection, but not at package verification, which happened after establishing SSL connection and downloading the .nupkg.
It looks like a duplicate of https://github.com/NuGet/Home/issues/10057

[2021-04-10 00:08] jebriede opened #10747 "Write technical spec for transitive dependencies feature in PMUI"

[2021-04-10 00:08] abatishchev commented on #4856
4 years later, any progress on this one, please?

[2021-04-10 00:47] jebriede opened #10748 "Add support for grouping to the InfiniteScrollList, allowing it to be enabled or disabled"
Add support for grouping to the InfiniteScrollList, allowing it to be enabled or disabled, and specify the grouping property of the data structure being presented in the list

[2021-04-10 00:47] jebriede opened #10749 "Make the InfiniteScrollList grouping sections expandable and collapsible"

[2021-04-10 00:47] jebriede opened #10750 "Make the Installed tab group by dependency type, e.g. "Top-level packages" or "Transitive packages""
Make the Installed tab group by dependency type, e.g. "Top-level packages" or "Transitive packages" with transitive dependencies collapsed by default

[2021-04-10 00:48] jebriede opened #10751 "Read and store the transitive origins of a package while reading installed packages from assets file"
Add an API to fetch the top-level package that installs a given transitive dependency -- read the dependency tree from the lockfile (assets file)

From design review, we decided to modify an existing API to include transitive origins information.

Modified API: `NuGetProjectManagerService.GetInstalledAndTransitivePackagesAsync()`

[2021-04-10 00:48] jebriede opened #10752 "Add caching of the transitive dependencies data pulled from the lockfile (assets file)"

[2021-04-10 00:48] jebriede opened #10753 "Create and style popup to display originating package info on a hovered transitive dependency"

[2021-04-10 00:48] jebriede opened #10754 "Handle the scenario when the asset file does not yet exist"
Handle the scenario when the asset file does not yet exist -- need more info on design

[2021-04-10 00:49] jebriede opened #10755 "Enable viewing details of transitive dependency when selected in PMUI"

[2021-04-10 00:49] jebriede opened #10756 "Enable installing transitive dependency as a top-level package in the PMUI"

[2021-04-10 00:49] jebriede opened #10757 "Ensure transitive dependencies UI is accessible and localizable"

[2021-04-10 00:50] jebriede opened #10758 "Enhance the experimentation infrastructure in NuGet code to support transitive dependencies"

[2021-04-10 00:51] jebriede opened #10759 "Create experimentation metrics to measure engagement of transitive dependencies"

[2021-04-10 00:51] jebriede opened #10760 "Create A/B experiment and progression for transitive dependencies"

[2021-04-10 01:00] jebriede opened #10761 "Show transitive dependencies in the Package Manager UI for PackageReference projects"
Design spec: https://github.com/NuGet/Home/blob/dev/proposed/2020/Transitive-Dependencies.md

This epic covers the PMUI portion of the transitive dependencies spec

[2021-04-10 03:17] davkean commented on #8675
@donnie-msft @nkolev92 @kartheekp-ms Can we please bump the priority of this bug? See the linked bug for details.

[2021-04-10 11:47] millokeller opened #10762 "Offer push functionality through the public API"
Issue [NuGet/Home#9821](https://github.com/NuGet/Home/issues/9821) changed the public API of `NuGet.CommandLine.XPlat` to `internal`.

We use `NuGet.CommandLine.XPlat` to push packages to a company internal NuGet feed by a direct call of the executable:
[code]
With the [introduced changes in v4.8.0](https://docs.microsoft.com/en-us/nuget/release-notes/nuget-5.8) this call is not possible anymore.

[2021-04-10 13:17] zivkan commented on #10751
Keep in mind there may be multiple top packages that caused a particular package to be a transitive dependency.

[2021-04-10 13:21] zivkan commented on #10057
Closing as not enough info, can't reproduce.

[2021-04-10 13:21] #10057 closed, assigned to nobody

[2021-04-10 13:30] zivkan commented on #10762
Most of our commands, including push, are available in the `NuGet.Commands` package. Here's the push command runner: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/CommandRunners/PushRunner.cs

NuGet.CommandLine.XPlat is the entry point for the dotnet CLI. It's not intended to be a public API, and is a package only because of the process for how NuGet gets inserted in

[2021-04-10 23:37] mattleibow commented on #5226
Gonna make a comment here... This got me for a few days as I was unable to find exactly what was causing the issues.

If there is a way to have an actual error message that could effectively mean "Unable to find unique ID for project when restoring. Either use the same AssemblyName for all TFMs or add a PackageId."

Or something like that. This looks like some internal error that gets out and ther

[2021-04-11 01:30] louis-z commented on #10342
Thanks to @nkolev92's hint, the fix seems straightforward. I can submit a PR if you want.

[2021-04-11 03:46] Chewhern opened #10763 "How to reference nuget libsodium dll?"
Currently I am working on a .Net standard binding that aims to call libsodium(coded in C language) in .Net(Cross platform), the binding was done, however, whenever I want to call any of the binding's functions (using DLLImport) the binding failed to locate the dll of libsodium regardless of which binding's functions I called.

I would like experts/people here to help to solve the issues or provide

[2021-04-11 12:02] gbaydin commented on #10430
May I please bring the following issues to your attention? My interpretation of the conversation above is that this is relevant for the code you're working on. The issue is the lack of a very basic progress bar (or any indicator of progress) during the download of individual files (imagine `dotnet restore` hanging for 30 mins without printing a single thing). This is a big shortcoming in the user

[2021-04-11 16:36] zivkan commented on #10763
Your package is fine.

Testing your ASodium package in an SDK style project, everything works.

Testing your package in a non-SDK style project, with PackageReference, and changing the project's "platform target" to either x86 or x64, it also works.

The non-SDK project system does not support packages with `runtimes/*` files, which is what your package's dependency, `libsodium`, uses, when using