[2018-01-29 23:35] diverdan92 commented on #6104
@dotMorten

Excellent questions!

1. Yes, you should be able to host your own symbol server. You can setup your NuGet server to do the processing of .snupkgs manually, or you can just spin it up as a regular server to distribute .pdbs (e.g. upload directly to your symbol server, rather than to your own NuGet server).
2. The policy we are imposing is specific to the NuGet.org server. You are free t

[2018-01-30 00:36] ctaggart commented on #6104
@diverdan92, so if you include the .pdb files in the regular .nupkg, are there debugging scenarios that do not work? Wouldn't eliminating the need for Symbol Servers for a large portion of debugging scenarios simplify things for those scenarios? Why not make adding .pdb files to the regular .nupkg the default?

[2018-01-30 00:47] diverdan92 commented on #6104
@ctaggart we don't want to bloat the entire NuGet ecosystem unnecessarily. It impacts nearly everything - from Visual Studio install time, project creation time (for most projects), restore times, and more. We also have evidence that a majority of users won't debug into third party components, so promoting a model where the .pdbs are included in the .nupkg by default, we impact the performance for

[2018-01-30 01:01] ctaggart commented on #6104
@diverdan92 As a compromise, can you support a scenario to restore the symbols upfront at the same time that we restore the packages? A `RestoreSymbols` target was [suggested](https://github.com/aspnet/Universe/issues/131#issuecomment-358404977): `msbuild /t:RestoreSymbols MySolution.sln`. A property could work too.

[2018-01-30 01:14] clairernovotny commented on #6104
@ctaggart I was proposing a setting in the nuget.config file for this.

I also suggest having the symbol sever endpoint being part of the v3 protocol spec, being part of the feed info itself. Then each NuGet client can discover the symbol server endpoint info. You could enable the per-feed symbols with an on/off setting on the nuget.config feed item element easily then.

So you may want symbols fr

[2018-01-30 01:15] diverdan92 commented on #6104
@ctaggart that's where the option issue came from 😊. We will do something for this scenario to support the ability to download symbols upfront. The exact mechanism is TBD.

[2018-01-30 01:23] kingerja commented on #3374
I have switched teams and no longer care about this issue and simply advise people away from using v2 feeds as they appear to be very problematic in general.  I am leaving this issue open as several other folks have commented that they are seeing the same problem.  Feel free to close this issue nuget team.

[2018-01-30 02:01] kingerja opened #6500 "lockFile.GetLibrary is case sensitive"
## Details about Problem
4.5.0.4696 nuget.exe used to generate project.assets.json
4.6.0.4825 libs used to call lockfile.getlibrary (I also tried 4.5.0 with same results).

Worked before?
It only seems to fail on this specific nuget package. Swashbuckle.AspNetCore.SwaggerUi

## Detailed repro steps so we can see the same problem

Repro steps:
\\joshking-dev\dump\nuget\Issues\missingLibrary
Run nug

[2018-01-30 02:28] ctaggart commented on #6104
I see this is labelled `Priority:1`. Would this be in the VS 2017 15.7 time-frame?

[2018-01-30 04:04] diverdan92 commented on #6104
Still to be determined. There are several moving pieces (compiler work to embed hashes of .pdbs in .dlls, client changes, spinning up the service, etc...). I would expect it after 15.7, but we may be able to start lighting up certain scenarios between 15.7 and whatever is next. Can't make any promises just yet.

[2018-01-30 04:54] chucklu opened #6501 "proxy setting in NuGet.Config did not work"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx):
NuGet Version: 4.4.1.4656

OS version (i.e. win10 v1607 (14393.321)):
OS Name:                   Microsoft Windows Server 2008 R2 Standard
OS Version:                6.1.7601 Service Pack 1 Build 7601
OS Manufacturer:           Microsoft Corporation

Worked before? I

[2018-01-30 06:09] tmat commented on #6104
Yes. The implementation we are working on will support git submodules if that's what you mean by multiple repos. You can even have one dll built from multiple submodules. It will also support sources included from NuGet source packages.

The build task will automatically determine the commit sha from the repository using Git API (or changeset number for TFVC repositories). No need to specify anyth

[2018-01-30 07:02] jnm2 commented on #6104
What can we do to change this culture though, and what would it look like when we get there? I see that change as a worthy end goal which is why I'm so thrilled you're making this a focus.

[2018-01-30 08:46] thyn opened #6502 "can't build with msbuild"
Please read the following information before posting the issue.

(NuGet.exe | VS UI ) -

NuGet version (4.5.0):

Worked before? If so, with which NuGet version: 4.4.1

build with msbuild from latest vs 2017 community results in
 "Process 'NuGet.exe' exited with code '1'."

error MSB3073: The command ""...\NuGet.exe" install "...\packages.config" -source ""  -NonInteractive -RequireConsent -solutio

[2018-01-30 08:56] thyn commented on #6502
another issue

https://stackoverflow.com/questions/48508960/nuget-restore-in-ms-build-step/48517163#48517163

[2018-01-30 08:57] snaits opened #6503 "All packages installed gives exit code 1"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet.exe

NuGet version (x.x.x.xxx): 4.5.0.4651

Worked before? If so, with which NuGet version: 4.4.1

## Detailed repro steps so we can see the same problem

1. From command line, run nuget install "some packages.config"

2. Do it again, verify that output says "All packages listed in some p

[2018-01-30 09:58] hickford commented on #4062
@mishra14 Where can I read the documentation? Please could you share a link?

[2018-01-30 13:43] precisioninfinity commented on #6503
Agreed, this is definitely a bug.  I updated NuGet.exe client from 4.4.1 to the recently released 4.5.0 and it's returning %ERRORLEVEL% 1 when "All packages listed in {0} are already installed." whereas 4.4.1 was returning %ERRORLEVEL% 0 for that same case. I don't know why because I looked over the code diff of InstallCommand.cs and doesn't look like anything has changed there that would cause th

[2018-01-30 14:05] thomas-christiansen commented on #3324
Any update on this?

[2018-01-30 15:16] aluhrs13 commented on #6104
There's already a solution pretty much available for this. SymChk has the concept of "manifest" files for offline scenarios - https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/using-a-manifest-file-with-symchk

[2018-01-30 16:09] dotMorten commented on #6104
That would turn it on for all packages. That could end up being a lot of stuff to restore.

I'd prefer having a per-package symbol setting. How about doing it in the properties window (which would set a property on the package reference)?
![image](https://user-images.githubusercontent.com/1378165/35576811-c727293c-0594-11e8-85c2-245196f0f63a.png)

[2018-01-30 16:13] erict-powersoft opened #6504 "Nuget tries internet even though only local package repository"
## Details about Problem
Computer is on a network that cannot be connected to the internet.  When browsing for local package sources, VS hangs until internet timeout even though nuget.org package source not enabled.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): v3.6.0

dotnet.exe --version (if appropriate):

VS version (if appropriate):

[2018-01-30 16:14] erict-powersoft commented on #6504
Note that in our case, we are on a network (which is different than the recreate steps).  But our network does not have access to the internet.

[2018-01-30 17:12] jimitndiaye opened #6505 "Nuget.exe version 4.5 breaks package restore when version 4.3 works."
Remove the content above here and fill out details below.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Nuget.exe

NuGet version: 4.5

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version: 4.3

## Detailed repro steps so we can see

[2018-01-30 17:13] kraigb commented on #4062
@hickford See https://docs.microsoft.com/en-us/nuget/api/overview.

[2018-01-30 17:20] jimitndiaye commented on #6503
I'm having this same issue (raised here https://github.com/NuGet/Home/issues/6505). All our builds are broken as a result.

[2018-01-30 17:21] jimitndiaye commented on #6505
Seems to be the same issue as #6503

[2018-01-30 17:27] devlead commented on #6503
Seems to be very similar to #6144

[2018-01-30 17:31] hickford commented on #4062
Hi @kraigb. That link documents the HTTP API. This issue concerns documentation for the NuGet.Client and NuGet.PackageManagement libraries (ie. the NuGet SDK).

Please reopen this issue.

[2018-01-30 18:07] bording commented on #6104
While I think that making symbol servers easier to use is a good thing, I really do wish the "include the symbols in the main package" approach was becoming the preferred recommendation here, especially given the size reduction of portable PDBs.

When a package author includes SourceLinked PDBs directly in the package, then a lot of great debugging scenarios light up automatically without the cons

[2018-01-30 18:18] emgarten commented on #6505
Duplicate of https://github.com/NuGet/Home/issues/6503

Thanks for reporting the issue, based on the log this does look like the same issue.

[2018-01-30 18:18] #6505 closed, assigned to nobody

[2018-01-30 18:20] anangaur commented on #6503
/cc: @rrelyea @jainaashish

[2018-01-30 18:22] emgarten commented on #6503
I'll take a look. As mentioned https://github.com/NuGet/Home/issues/6144 was fixed in 4.5 and has the same repro steps. Before 4.5 `nuget.exe install` **always** returned exit code 0, even if the restore failed. In 4.5 the command will now fail with a non-zero exit code if an error occurred.

[2018-01-30 18:23] PNI-GS commented on #6503
But should the error code be not 0 even if all packages are already installed?

[2018-01-30 18:24] emgarten commented on #6503
Correct, that should be 0.

[2018-01-30 18:36] PNI-GS commented on #6503
Would it be possible to got this resolved in a hot fix vs. the next release?

[2018-01-30 18:48] mayermart commented on #6503
A Hotfix would be great, as all our CI Jobs run 'update -self' before the build and fail as a result.

[2018-01-30 18:48] emgarten commented on #6503
It looks like an older version of nuget.exe in the NuGet.CommandLine package was published to nuget.org yesterday. It does not contain the fix for https://github.com/NuGet/Home/issues/6144

Download page version: 4.5.0.46**96**
NuGet.CommandLine package version: 4.5.0.46**51**

### Workaround
Use the actual 4.5.0 release version here: https://dist.nuget.org/win-x86-commandline/v4.5.0/nuget.exe  in

[2018-01-30 18:51] PNI-GS commented on #6503
4.5.1 would be fine, as we use 'update -self' as part of our CI systems.

Side request: If we could also allow for a -version to the 'update -self' so we can override the version number in case of a similar issue in the future so we can just point to the last "working" version.

Thank you,

[2018-01-30 18:54] emgarten commented on #6503
@PNI-GS the best way to get NuGet.exe is to use the downloads page instead of update -self. You can specify an exact version in the URL or use latest.
https://www.nuget.org/downloads

Latest: `https://dist.nuget.org/win-x86-commandline/latest/nuget.exe`
4.5.0: `https://dist.nuget.org/win-x86-commandline/v4.5.0/nuget.exe`
4.4.1: `https://dist.nuget.org/win-x86-commandline/v4.4.1/nuget.exe`
Format:

[2018-01-30 19:00] emgarten commented on #6503
An alternative workaround, and suggested best practice here is to use `nuget.exe restore <packages.config>` instead of `nuget.exe install <packages.config>`.

The *restore* command does the exact same thing, but does not have this issue.

`nuget.exe install` when given a packages.config runs the same code as `nuget.exe restore` but with  slightly different error handling since the command also han

[2018-01-30 19:13] emgarten commented on #6503
Moving to @rohit21agrawal for tracking. Please close this issue once 4.5.1 has been published on nuget.org.

[2018-01-30 19:40] emgarten commented on #6502
Duplicate of https://github.com/NuGet/Home/issues/6503

[2018-01-30 19:40] #6502 closed, assigned to nobody

[2018-01-30 19:50] emgarten commented on #6501
@chucklu unfortunately we are unable to diagnose your local proxy issues. Unless you are seeing a regression between different versions of nuget.exe then it is likely that the problem is with your network or the provided settings.

I suggest looking at the documentation here for further info on configuring your proxy:
https://docs.microsoft.com/en-us/nuget/schema/nuget-config-file

Using a tool to

[2018-01-30 20:25] rohit21agrawal commented on #6503
package has been pushed.

[2018-01-30 20:25] #6503 closed, assigned to rohit21agrawal

[2018-01-30 20:32] SeanFeldman commented on #6104
A few Microsoft teams have adopted SourceLinked PDB approach and it works great for the customers. 👍 to that to become the preferred approach.

[2018-01-30 20:58] emgarten commented on #5324
Reopening this, it isn't quite the same as the other path too long issue because this *should* work, but NuGet does extra probing that fails and it isn't handled gracefully.

[2018-01-30 21:15] LokiMidgard commented on #5292
I have exact the same problem. Thank you @Danielku15 for the tip with the other c# project.

[2018-01-30 21:17] ctaggart commented on #6104
@diverdan92 Until the tooling is ready in a few or more months, can projects like https://github.com/aspnet/Universe/issues/131 get the blessing to ship portable pdb files? It works today with SourceLink 2. With the plan in place, we can switch to the new tooling when it becomes available. SourceLink 3 will be a part of the new tooling.

[2018-01-30 21:23] #5324 closed, assigned to emgarten

[2018-01-30 22:04] dansiegel opened #6506 "Issue restoring Fody"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet cli on Mac

NuGet version (x.x.x.xxx):
4.3.0
updated to 4.5.1.4879 with the same result

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)): macOS X 10.13.2

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

[code

[2018-01-30 22:08] diverdan92 commented on #6104
@ctaggart - you mean for them to ship portable .pdb files in the .nupkg? There is nothing blocking anyone from doing that today. When you do a package restore, the entire contents of the .nupkg will be downloaded and cached at the NuGet package cache. This experience isn't impacted from this spec - I just was calling out that we won't index those symbols to our service unless they are explicitly a

[2018-01-30 22:21] #6500 closed, assigned to rohit21agrawal

[2018-01-30 23:02] mishra14 commented on #4062
@hickford does https://docs.microsoft.com/en-gb/nuget/reference/nuget-client-sdk resolve what you are looking for?

[2018-01-30 23:08] emgarten commented on #6506
@dansiegel can you share the output logs? I don't see anything indicating an error here or what you are expecting.

[2018-01-30 23:09] jessehallam commented on #6324
Just wasted half my day trying to figure out why I am having this error, only to read this thread and discover that the '$' character somewhere in my path (which I have no control of... symlink time) is causing it. This MUST be fixed.

[2018-01-30 23:13] dansiegel commented on #6506
I can't publicly share log files on this project, and some combination rebooting, downgrading and then upgrading seems to have resolved whatever was causing the issue

[2018-01-30 23:23] dtivel commented on #6239
Need to add a few more tests.

[2018-01-30 23:25] jainaashish commented on #6324
Please follow this thread to get latest update on this issue - https://developercommunity.visualstudio.com/content/problem/160750/nuget-bug-in-vs155.html

[2018-01-31 00:30] tmat commented on #6104
@diverdan92 Since there is a clear interest in including Portable PDBs in nupkgs I wonder if we could relax that restriction and provide both options. By default we would generate nupkg and snupkg, but if the package author wants to opt into including PDBs in nupkg and not build a snupkg at all then why not index such PDB?

[2018-01-31 00:32] diverdan92 commented on #6104
@tmat - we will figure out a way to best provide this solution.

It may just be a flag on dotnet / nuget pack command. Any suggestions?

Regarding .pdb indexing, we want to make it an explicit action. At package ingestion time we will have additional validation on .snupkgs that are different than .nupkgs. There will be different requirements for having .pdbs ingested into the symbol server, hence

[2018-01-31 00:35] clairernovotny commented on #6104
@tmat I agree that they should be indexed, but the question is around security and what should be indexed from inside the nupkg?

Files may live outside of `\lib` and `\ref`, for example, what do you do with files in the `\tools` for tools packages? What about packages that have files in `build\_foo\` and include them dynamically in included targets?

Some of those packages may have 3rd party pdb'

[2018-01-31 00:48] tmat commented on #6104
@onovotny Definitely need to think about that. I'd enumerate all .dlls and .exes in `\lib`, `\ref`, `\tools` directories (recursively). If the dll/exe file has a matching associated PDB next to it it would be a candidate for indexing. The matching would be based on PDB ID (GUID) and a strong crypto hash of the PDB content. Non-matching PDBs would be ignored.

I don't *think* indexing 3rd party PDB

[2018-01-31 00:49] jainaashish commented on #6289
This is done, we now collects NuGet dependencyGraph details (dgSpec file) as part of VSFeedback item from VS 15.6 preview3 onwards.

[2018-01-31 00:49] #6289 closed, assigned to jainaashish

[2018-01-31 00:49] clairernovotny commented on #6104
@tmat Imagine the scenario that there's `foo.dll` and `foo.pdb` in the `\tools` directory as a 3rd party lib that was brought in during publish. Now what if `foo.pdb` only has a `sha1` hash. Do you reject the entire package or just skip that one symbol? What if that 3rd party one has source server v1 commands in it?

It's easier to reject a `snupkg` if any of the packages are bad since it's an exp

[2018-01-31 00:51] tmat commented on #6104
@diverdan92
The following will include Portable PDB in nupkg today:

[code]

So one option would be to do this automatically if some new property is set, we can call it e.g. `IncludeSymbolsInNupkg`.

[2018-01-31 00:54] tmat commented on #6104
@onovotny I'd just ignore that one pdb. The rules for `.snupkg` would be stricter - no pdb would be ignored there.

[2018-01-31 00:56] clairernovotny commented on #6104
Is `.snupkg` the final extension or is that still being decided?

[2018-01-31 01:19] jainaashish commented on #4553
Tried with latest VS prerelase bits 15.6.0 preview3 and couldn't repro it. I tried it with Newtonsoft.json as well as MySql.Data packages and in both cases, it didn't update to the prerelease version.

[2018-01-31 01:41] chucklu commented on #6501
@emgarten  Is it possible for you to make the nuget output the detail of proxy setting?
I am  not sure if nuget really read the proxy setting form the config file successfully.

[2018-01-31 02:24] diverdan92 commented on #6104
It's final when it's implemented 😉. We haven't heard any push-back on it so far, though. When we have a more technical spec ready, we'll have this finalized.

[2018-01-31 02:45] chucklu commented on #6501
@emgarten  The previous output is run as Local System.
When  I run it as a normal user, the proxy works fine.

So, I think maybe you did not read the proxy settings when the command line run under Local System,

[2018-01-31 05:49] maartenba commented on #6104
One question: what is there to index for .snupkg? The PDB contains either embedded sources, or a SourceLink pointing to a repo out there. Windows PDB need indexing, for the new ones all that is needed is hosting the .pdb files, right? (barring extracting the PDB and assembly guid to match them up)

[2018-01-31 06:03] chucklu commented on #6501
@emgarten  I found maybe it's the permission problem about proxy.
The Local System account might can not access the proxy configured in NuGet.config.

Solution:
I  am using Jenkins run this command, so I switch the Jenkins windows service to another normal account who has access to proxy.
![default](https://user-images.githubusercontent.com/3004057/35607518-8302f816-068f-11e8-9672-b2991d7bf984.png

[2018-01-31 06:03] #6501 closed, assigned to nobody

[2018-01-31 07:30] xRoulanDx commented on #3060
I have the same problem. I want to pack my project from my CI pipeline and don't want to add some overhead step for preparing .nuspec file.

[2018-01-31 07:44] emgarten commented on #6501
@chucklu thanks for the update, I'm glad you were able to track it down!

[2018-01-31 10:04] Macjon commented on #3251
Any updates on this issue?

[2018-01-31 10:20] echarrod commented on #3060
I managed to get it working by:
1. Right clicking my project
2. Click Properties
3. Select Package from the left hand menu
4. Select "Generate NuGet package on build"
5. Using this NuGet package file instead of using `nuget pack`

[2018-01-31 11:26] nicknijenhuis commented on #6468
The newest visual studio update (15.5.6) seems to fix this. At least for me.

[2018-01-31 11:40] nicknijenhuis commented on #6468
The newest visual studio update (15.5.6) seems to fix this for me. I must note that I am also running as Administrator now.

[2018-01-31 15:23] StingyJack opened #6507 "Assembly binding redirects applied during install operations needs a finer control mechanism"
The addition of binding redirects is currently an "all or nothing" situation.  This causes problems in one direction or another; disabling it can lead to runtime errors, and enabling it can lead to needless source control churn and maintenance.

Consider a solution with 1 exe and 5 dll's, and a package used by some of them is updated. The dll projects will have an app.config created for them, and

[2018-01-31 16:20] diverdan92 commented on #6104
@maartenba the .pdb itself will be indexed on a symbols server. We aren't indexing source (as you call out, it's either found via SourceLink or it's embedded), we are just indexing the symbols so when you add the NuGet.org Symbol Servers as a source in your IDE, symbols can be automatically found and downloaded.

Not sure I understand your second question? What do you mean all that is needed is ho

[2018-01-31 16:23] maartenba commented on #6104
So in essence you repeated my remark - `barring .....` is the stuff you described - nothing to see here, carry on :-)

[2018-01-31 20:35] dtivel opened #6508 "Signing: relax validation at signing and verification time"
For the default client policy, at signing time and verification time:

* warn for but allow untrusted self-signed certificates
* warn for but do not error if revocation information is unavailable

[2018-02-01 08:22] per-samuelsson commented on #6321
Any pointer to where I can find out what that's about, and how it's progressing?

I'm just about to design the build-integration of a new tool our ours, that we want to make available as a package, and that has the trait that it should be executed on build. I just recently reached the conclusion that standard packaging won't work, and that I must turn to publishing first. Hence, I found my way her

[2018-02-01 11:38] svisagie commented on #5997
@rrelyea, but why did you guys go and break something that was working perfectly in VS2015

[2018-02-01 13:43] Kampfmoehre commented on #4864
I have the same problem, workaround for me is to specify `-n true`

[2018-02-01 13:54] StingyJack opened #6509 "Where is the utility to convert projects from package.config to package reference?"
I saw a writeup for one here somewhere, but haven't seen one materialized yet. The current documentation lists steps that would take ~4.5 weeks (at ~15 minutes per project to update and quick test) to complete with our current project count.

There isn't any good way to justify losing that many billable or otherwise productive hours. So if the intent is to effectively coerce this upgrade path, som

[2018-02-01 16:16] natemcmaster commented on #6321
I'm not on the NuGet team, so I can't tell you if they have plans to make it easier to work with the pack targets. As others have pointed out on this thread, getting the most current version of `dotnet pack` to bundle a published app requires jumping through some non-trivial MSBuild hoops...that is if you want to completely define package layout in the csproj. I recommend using a nuspec file inste

[2018-02-01 18:04] karann-msft commented on #6465
@StingyJack nope I think you are missing my point which is we don't want to have the same conversation on two different threads. It is good for everyone to be required to follow just one thread and not have forked conversations to reach a logical conclusion.

To ensure that, only one of them can be active. Hence, I had closed the Dev Comm issue which pointed to this one and anyone interested in kn

[2018-02-01 18:54] dtivel opened #6510 "Signing: need to do anything for nowarn-ing signed package verification warnings?"

[2018-02-01 19:43] emgarten commented on #6506
Thanks for the update @dansiegel, I'll close this out unless you are able to repro it again.

[2018-02-01 19:43] #6506 closed, assigned to nobody

[2018-02-01 19:43] jviau opened #6511 "[Nugetizer] Packaging projects fail during design-time builds in Visual Studio"
## Details about Problem

When using a .csproj (or other existing project type) as a packaging project with Nuget.Build.packaging, Visual Studio design time builds will fail for the project. The issue is that `NuGet.Build.Packaging.Authoring.targets` redefines the `CoreCompile` target, without considering design-time builds. This causes DTB's to trick a real build (or rather, `Pack`) for that proj

[2018-02-01 20:09] Latency commented on #2443
Having a similar issue.   Unable to access my GitHub repository packages I have uploaded.

Obviously, the package is there since I am able to download it [here](https://github.com/Latency/HearthDb/blob/master/HearthDb/bin/Debug/HearthDb.10.0.1.nupkg)!

**Nuget.config**
[code]

`[HearthSim] The V2 feed at 'https://github.com/Latency/HearthDb/tree/master/HearthDb/bin/Debug/Search()?$filter=IsLatestV

[2018-02-01 20:50] emgarten commented on #6504
This could be due to NuGet trying to load icons from http urls.

[2018-02-01 21:00] emgarten commented on #6337
Fixed with NuGet/NuGet.Client@b130abccf5302f47a3e791062ab43436bbafc297

[2018-02-01 21:00] #6337 closed, assigned to rido-min

[2018-02-01 21:09] rohit21agrawal commented on #6509
@StingyJack it's currently in the works. We are currently tracking this work in the PR: https://github.com/NuGet/NuGet.Client/pull/1749

If you would like to test out the tool on some of your projects, you can build from source and try it out. @karann-msft might be able to tell you more details about trying out the preview bits through a different channel

[2018-02-01 21:09] #6509 closed, assigned to nobody

[2018-02-01 22:21] #6495 closed, assigned to emgarten

[2018-02-01 22:41] emgarten commented on #6224
Closing due to lack of response. 4.6.0 will contain several performance improvements that should help this.

[2018-02-01 22:41] #6224 closed, assigned to nobody

[2018-02-01 23:14] nkolev92 commented on #3440
Thanks for filing this issue.

At this point, we don't have enough information to reproduce this issue.

Please create a new one if you still hit this problem with our latest VS 2017 release.

[2018-02-01 23:14] #3440 closed, assigned to nobody

[2018-02-01 23:14] jainaashish commented on #2519
Yeah, it seems like it would be a good addition but currently we are tied up with other important stuff so won't be able to get to this. We would still love to get a PR if someone wants to pick it up.

[2018-02-01 23:15] justincockrell opened #6512 "MSBuild Fails to Restore Packages with Package Manager Console Version Requirements Using NuGet.exe"
Project that builds on local machine with Package Manager Console does not build on server using NuGet.exe due to NuGet versioning. Prior to the addition of the offending package, the project built without issue for 2 years.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 4.5.1

dotnet.exe --version (if appropriate): NA

VS vers

[2018-02-01 23:18] jainaashish commented on #2577
@rido-min  please take care of this issue, if this is already done or being tracked as part of other specific issue then close this.

[2018-02-01 23:22] jainaashish commented on #2584
Thanks for the feedback. This will be a good addition to NuGet UI but unfortunately we won't be able to get to this in near future since we are occupied with other important stuff.

[2018-02-01 23:22] #2584 closed, assigned to nobody

[2018-02-01 23:24] emgarten commented on #6512
Are you sure that nuget.exe 4.5.1 is being used and not nuget.exe 2.8.6 or VS 2013?

[2018-02-01 23:26] jainaashish commented on #2608
we are not able to repro it with latest visual studio, please try with latest VS and if you still see this, then create a new bug with repro solution or steps.

[2018-02-01 23:26] #2608 closed, assigned to nobody

[2018-02-01 23:26] nkolev92 commented on #3443
Duplicate of https://github.com/NuGet/Home/issues/1510.

[2018-02-01 23:26] #3443 closed, assigned to nobody

[2018-02-01 23:28] nkolev92 commented on #3400
At this point we don't have enough information to further investigate this issue.

Closing it.

[2018-02-01 23:28] #3400 closed, assigned to nobody

[2018-02-01 23:30] emgarten commented on #2495
Some of this has been fixed. Registration blobs are cached now. We should still look into reading only a subset of the reg pages.

[2018-02-01 23:30] nkolev92 commented on #3448
Wasnt nocache added to fix this scenario?

Closing this now.

@joelverhagen Please let me know if I misunderstood this.

[2018-02-01 23:30] #3448 closed, assigned to nobody

[2018-02-01 23:31] jainaashish commented on #2609
This issue is not related to NuGet, please read about i18n online or other sources. This is a general approach for globalization, nothing specific to NuGet. From NuGet standpoint, you may refer [this link](https://docs.microsoft.com/en-us/nuget/create-packages/creating-localized-packages) to know how to create localized packages.

[2018-02-01 23:31] #2609 closed, assigned to nobody

[2018-02-01 23:31] #2493 closed, assigned to nobody

[2018-02-01 23:32] nkolev92 commented on #3449
This was already done.
The mock servers have a random url, and the global packages folder is isolated per test context

[2018-02-01 23:32] #3449 closed, assigned to nobody

[2018-02-01 23:32] emgarten commented on #2488
This should be fixed in 4.x

[2018-02-01 23:32] #2488 closed, assigned to nobody

[2018-02-01 23:33] jainaashish commented on #2624
This is by design, since NuGet didn't create the `local` folder

[2018-02-01 23:33] #2624 closed, assigned to nobody

[2018-02-01 23:34] emgarten commented on #2485
Closing due to lack of feedback in this area.

[2018-02-01 23:34] #2485 closed, assigned to nobody

[2018-02-01 23:35] #2481 closed, assigned to nobody

[2018-02-01 23:37] emgarten commented on #2477
This option is no longer part of dotnet.exe

[2018-02-01 23:37] #2477 closed, assigned to nobody

[2018-02-01 23:37] nkolev92 commented on #3450
We haven't received feedback on this.

We haven't had these issues with 3.6.0 on VS 2015 and VS 2017.

[2018-02-01 23:37] #3450 closed, assigned to nobody

[2018-02-01 23:38] #2474 closed, assigned to alpaix

[2018-02-01 23:39] #2473 closed, assigned to nobody

[2018-02-01 23:41] jainaashish commented on #2630
We normalize all packages version and tried it to make it better with 3.5.0. Please check with latest version and try to have the correct package version at first place.

[2018-02-01 23:41] #2630 closed, assigned to nobody

[2018-02-01 23:42] jainaashish commented on #2636
No more project.json besides, those build tasks are handled by Project system only.

[2018-02-01 23:42] #2636 closed, assigned to nobody

[2018-02-01 23:44] #2641 closed, assigned to nobody

[2018-02-01 23:44] #2467 closed, assigned to nobody

[2018-02-01 23:45] #2466 closed, assigned to nobody

[2018-02-01 23:47] justincockrell commented on #6512
I really didn't think it was, but doing a search on the server, it appears Kudu DOES keep a local copy in a Scripts folder that it uses when running msbuild, as opposed to the one I thought it was using. I replaced it and the project built again.

Thanks for making me double check!

[2018-02-01 23:47] #6512 closed, assigned to nobody

[2018-02-01 23:47] jainaashish commented on #2652
Please try with latest `nuget.exe` or `dotnet.exe` and create a new issue with repro steps if you still see problem.

[2018-02-01 23:47] #2652 closed, assigned to nobody

[2018-02-01 23:48] emgarten commented on #2457
Closing due to lack of takers on this up for grabs issue.

[2018-02-01 23:48] #2457 closed, assigned to nobody

[2018-02-01 23:48] nkolev92 commented on #3452
Thanks for filling this issue.
Apologies for the long overdue reply.

At this point we're prioritizing other issues and we're not ready to invest in this space.

Would be happy to take a second look if we get more engagement.

[2018-02-01 23:48] #3452 closed, assigned to nobody

[2018-02-01 23:49] jainaashish commented on #2655
not specific to NuGet, should be handled at project system level

[2018-02-01 23:49] #2655 closed, assigned to nobody

[2018-02-01 23:49] #2450 closed, assigned to nobody

[2018-02-01 23:50] emgarten commented on #2447
This is a good idea, but it doesn't meet the bar at this time.

[2018-02-01 23:50] #2447 closed, assigned to nobody

[2018-02-01 23:51] jainaashish commented on #2659
Since apikey are now temp key which needs to be refreshed timely so this becomes low priority. And currently we're dealing with other priority items.

[2018-02-01 23:51] #2659 closed, assigned to nobody

[2018-02-01 23:53] emgarten commented on #2441
At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2018-02-01 23:53] #2441 closed, assigned to nobody

[2018-02-01 23:56] emgarten commented on #2427
So far there hasn't been much for feedback around this. users seem to understand it when the generic invalid config dialog appears.

[2018-02-01 23:56] #2427 closed, assigned to nobody

[2018-02-01 23:57] nkolev92 commented on #3460
Apologies for the long overdue reply.

This is already supported by NuGet.
NuGet selects the closest matching framework assets from each group.
lib, ref, etc.

So basically, if the target framework of the project is netcore, nuget will select only net core assets as those are the closest matching ones.

[2018-02-01 23:57] #3460 closed, assigned to nobody

[2018-02-01 23:57] emgarten commented on #2414
I am unable to repro this in the latest bits.

[2018-02-01 23:57] #2414 closed, assigned to nobody

[2018-02-01 23:58] emgarten commented on #2412
Thanks for reporting this issue. At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2018-02-01 23:58] #2412 closed, assigned to nobody

[2018-02-02 00:01] rohit21agrawal commented on #6504
@erict-powersoft do you also see this issue in VS2017?

[2018-02-02 00:01] nkolev92 commented on #3466
This would need to be part of a comprehensive UI redesign, for which we have relevant issues.
With Package Reference a lot of these things would not be looked at from a different perspective.

Closing it now.

[2018-02-02 00:01] #3466 closed, assigned to nobody

[2018-02-02 00:04] #2410 closed, assigned to nobody

[2018-02-02 00:05] nkolev92 commented on #3474
Thanks for the filling this issue, and apologies for the long overdue reply.

At this point we've made lots of improvements in the performance area of NuGet.

Please open another issue if you're still facing problem with our latest VS 2017 release.

[2018-02-02 00:05] #3474 closed, assigned to nobody

[2018-02-02 00:07] jainaashish commented on #2662
I dont see this going any where. There was a open PR for over an year but then no further movement so we had to close that PR. I'm not sure what NuGet can do here except this scenario is supported for new `PackageReference` world with net core project with multiple target frameworks or with fallback target frameworks.

I'm not sure we're going to do much about `packages.config` scenarios to suppor

[2018-02-02 00:07] #2662 closed, assigned to nobody

[2018-02-02 00:13] nkolev92 commented on #3480
Reinstall is a heavy operation that involves a lot of IO and in packages.config means installation of a lot install/uninstall.ps1 scripts.

We have made improvements in the performance in that area.

Please try out the latest VS 2017 release and please do create another issue if you're still facing performance problems.

[2018-02-02 00:13] #3480 closed, assigned to nobody

[2018-02-02 00:13] emgarten commented on #2381
nuget.core is deprecated at this point.

[2018-02-02 00:13] #2381 closed, assigned to nobody

[2018-02-02 00:14] jainaashish commented on #2663
these build tasks are own by project system itself at https://github.com/NuGet/NuGet.BuildTasks please raise a bug for Project system to consider it.

[2018-02-02 00:14] #2663 closed, assigned to nobody

[2018-02-02 00:14] nkolev92 commented on #3473
@v-luzh Is this still reproducible in VS 2017?

[2018-02-02 00:15] nkolev92 commented on #3476
At this point, we're not going to invest in this area.

[2018-02-02 00:15] #3476 closed, assigned to nobody

[2018-02-02 00:15] jainaashish commented on #2671
This is fixed with latest VS, please try with latest release.

[2018-02-02 00:15] #2671 closed, assigned to nobody

[2018-02-02 00:16] emgarten commented on #2380
I am unable to repro this. please create a new issue if this still happens in vs 2017

[2018-02-02 00:16] #2380 closed, assigned to nobody

[2018-02-02 00:16] nkolev92 commented on #3471
The no-op part has been fixed.

The parent project restore has been fixed as well.

[2018-02-02 00:16] #3471 closed, assigned to nobody

[2018-02-02 00:17] jainaashish commented on #2676
Please try with latest NuGet, and let us know if this is still an issue.

[2018-02-02 00:17] #2676 closed, assigned to nobody

[2018-02-02 00:17] emgarten commented on #2383
This should be fixed. Please yell if you are still hitting this.

[2018-02-02 00:17] #2383 closed, assigned to nobody

[2018-02-02 00:19] #2375 closed, assigned to nobody

[2018-02-02 00:19] emgarten commented on #2375
Closing due to lack of feedback on this.

[2018-02-02 00:21] jainaashish commented on #2689
Please try with latest Visual Studio 2017 release and let us know if you still see this issue.

[2018-02-02 00:21] #2689 closed, assigned to nobody

[2018-02-02 00:25] nkolev92 commented on #803
Redundant now.
This has changed.

[2018-02-02 00:25] #803 closed

[2018-02-02 00:26] jainaashish commented on #2692
This has been there for over an year and I dont see it getting to any conclusion end. So closing it for now.

[2018-02-02 00:26] #2692 closed, assigned to jasonmalinowski

[2018-02-02 00:26] rohit21agrawal commented on #561
if we receive more feedback about pef problems in this area, we will open a separate bug.

[2018-02-02 00:26] #561 closed

[2018-02-02 00:27] #614 closed

[2018-02-02 00:28] emgarten commented on #2366
There have been several issues fixed in this area. If you are still seeing problems with private feeds ensure that you are using the latest version of NuGet and that the issue is not a problem with the feed. Then open a new issue containing a network trace and details with exactly which requests the nuget client makes that are invalid.

[2018-02-02 00:28] #2366 closed, assigned to alpaix

[2018-02-02 00:28] #719 closed

[2018-02-02 00:28] jainaashish commented on #2693
This experience has been improved in latest release so please try with latest Visual Studio 2017 release and let us know if you still see any issue.

[2018-02-02 00:28] #2693 closed, assigned to nobody

[2018-02-02 00:28] rohit21agrawal commented on #719
closing for being too dated.

[2018-02-02 00:29] #638 closed

[2018-02-02 00:29] #635 closed

[2018-02-02 00:30] emgarten commented on #2360
Closing due to lack of feedback on this.

[2018-02-02 00:30] #2360 closed, assigned to nobody

[2018-02-02 00:30] rohit21agrawal commented on #734
will open another issue if we get more feedback on perf around this area.

[2018-02-02 00:30] #734 closed

[2018-02-02 00:31] rohit21agrawal commented on #703
i think we have covered this with our work with errors and warnings in nuget 4.x

[2018-02-02 00:31] #703 closed

[2018-02-02 00:31] #698 closed

[2018-02-02 00:31] emgarten commented on #2357
This seems very risky at this point, each have their own optimizations and error handling.

[2018-02-02 00:31] #2357 closed, assigned to zhili1208

[2018-02-02 00:31] #683 closed

[2018-02-02 00:32] emgarten commented on #2355
This is no longer needed.

[2018-02-02 00:32] #2355 closed, assigned to nobody

[2018-02-02 00:32] jainaashish commented on #2696
Its already improved (mostly fixed) with VS 2017 and unfortunately we might not be investing further here. So closing it with lower priority.

[2018-02-02 00:32] #2696 closed, assigned to tmeschter

[2018-02-02 00:32] rohit21agrawal commented on #637
if this is still an important enough ask in VS2017, please open a separate issue

[2018-02-02 00:32] #637 closed

[2018-02-02 00:33] rohit21agrawal commented on #545
@zhili1208 you did some work for database projects...can you update/close this issue accordingly?

[2018-02-02 00:34] jainaashish commented on #2702
There hasn't been any noise here neither a pr so closing it assuming this might not be needed anymore.

[2018-02-02 00:34] #2702 closed, assigned to nobody

[2018-02-02 00:34] #892 closed

[2018-02-02 00:34] #933 closed

[2018-02-02 00:35] emgarten commented on #2353
Closing due to lack of feedback to support this change.

[2018-02-02 00:35] #2353 closed, assigned to rrelyea

[2018-02-02 00:35] emgarten commented on #2351
Closing due to lack of feedback supporting this.

[2018-02-02 00:35] #2351 closed, assigned to nobody

[2018-02-02 00:36] rohit21agrawal commented on #938
our errors and warnings work in nuget 4.x has improved this experience

[2018-02-02 00:36] #938 closed

[2018-02-02 00:36] #809 closed

[2018-02-02 00:36] nkolev92 commented on #6407
At this point, we don't have enough information to continue the investigation of this issue.

Please do let us know if you face further problems, by opening a new issue.

[2018-02-02 00:36] #6407 closed, assigned to nobody

[2018-02-02 00:36] jainaashish commented on #2703
No attraction here and neither we had any pr for this. And we won't be able to get to this since we are tied up with other priority workitems.

[2018-02-02 00:36] #2703 closed, assigned to nobody

[2018-02-02 00:37] #856 closed

[2018-02-02 00:37] #835 closed

[2018-02-02 00:38] emgarten commented on #2350
I do not see any mention of what isnt working or what is expected here.

`Runtime/` should always be used with `ref/`, runtime just does a copy to the output folder at publish time.

[2018-02-02 00:38] #2350 closed, assigned to nobody

[2018-02-02 00:38] jainaashish commented on #2704
This has been fixed.

[2018-02-02 00:38] #2704 closed, assigned to nobody

[2018-02-02 00:38] #2338 closed, assigned to nobody

[2018-02-02 00:40] jainaashish commented on #2706
Working with latest release.

[2018-02-02 00:40] #2706 closed, assigned to nobody

[2018-02-02 00:42] emgarten commented on #2333
This should be improved in the latest VS 2017. If you are still seeing this issue then open a new issue containing repro steps for your specific scenario.

[2018-02-02 00:42] #2333 closed, assigned to nobody

[2018-02-02 00:42] rohit21agrawal commented on #1521
no plan to bring this back for now. Dotnet tools (available with 15.7 shortly) will bridge this gap.
https://github.com/dotnet/cli/issues/5147#issuecomment-359836475

[2018-02-02 00:42] #1521 closed, assigned to alpaix

[2018-02-02 00:43] jainaashish commented on #2708
It seems this has been fixed with latest release. If not, then please open another issue with all the details

[2018-02-02 00:43] #2708 closed, assigned to nobody

[2018-02-02 00:44] nkolev92 commented on #3375
In the Visual Studio 2015, NuGet use some custom logic to help manage TFS.
In Visual Studio 2017, we don't do any of that custom work so the experience is a little bit different.
All the TFS logic is on TFS side.

[2018-02-02 00:44] #3375 closed, assigned to nobody

[2018-02-02 00:44] #686 closed

[2018-02-02 00:44] #744 closed

[2018-02-02 00:45] nkolev92 commented on #3333
Do we still want to do this?
//cc @rrelyea @mishra14

[2018-02-02 00:47] #960 closed

[2018-02-02 00:47] #3304 closed, assigned to harikmenon

[2018-02-02 00:47] #915 closed

[2018-02-02 00:47] rohit21agrawal commented on #910
this experience has improved with our errors and warnings work in nuget 4.x

[2018-02-02 00:47] #910 closed

[2018-02-02 00:48] #878 closed

[2018-02-02 00:48] #989 closed

[2018-02-02 00:51] jainaashish commented on #2713
@rrelyea this might be related to multiple branches issue we discussed with nVentive the other day.

One good workaround for this is to have common props file which define the version for all the packages which shares similar pattern. And everytime you want to update to a specific version for all such packages, just update it at one place and run restore. it will make sure all the packages are upd

[2018-02-02 00:54] jainaashish commented on #6496
dupe of https://github.com/NuGet/Home/issues/2714

[2018-02-02 00:54] #6496 closed, assigned to nobody

[2018-02-02 00:56] nkolev92 commented on #3372
Binding redirects is not a concept that's handled by NuGet in project.json and PackageReference worlds.
It's now handled by the VS project-system.

[2018-02-02 00:56] #3372 closed, assigned to jainaashish

[2018-02-02 00:58] jainaashish commented on #2723
Dont see much feedback here so closing it as lower priority.

[2018-02-02 00:58] #2723 closed, assigned to rohit21agrawal

[2018-02-02 00:59] nkolev92 commented on #3159
We probably don't want to verbatim implement this, but as joel mentioned, certainly something we need to give some thought.

[2018-02-02 01:03] jainaashish commented on #2753
Thanks for the feedback but currently we're tied up with other priority work items so won't be able to get to this.

[2018-02-02 01:03] #2753 closed, assigned to rrelyea

[2018-02-02 01:06] nkolev92 commented on #3292
Not sure if we want to make this such a prominent thing, as it might be interpreted as NuGet recommending this update.

The VS extensions updates are normally recommended changes and not expected to break the experience.
Package update can break the experience and until we have a better package compatibility story, I don't think this should be added.

//cc @rrelyea @anangaur
Thoughts here?

[2018-02-02 01:27] DanWallaceAdslot commented on #1634
This would be a great addition to CI environments. Something like nuget update --outdated would be perfect

[2018-02-02 02:25] lzybkr commented on #2714
At a minimum, the error message should be improved, but as I mention in #6496 - sometimes expansion of a replacement token with nothing (because it was not specified) results in no error, and there should be a way to turn that into a good error.

[2018-02-02 02:49] seangwright commented on #2441
@emgarten One step ahead of you - I've been migrating my company's projects over the past month to either the new VS2017 project system or at least to `PackageReference` if they are a project type not supported by the new VS2017 project system (ex: full framework ASP.Net apps).

I've run into a few issues but so far they've all been resolvable. Of course there is a non-trivial set of packages out

[2018-02-02 03:37] rashadrivera commented on #3298
I've developed a PowerShell script that will update your config file (be it web.config or app.config) based on the packages in your packages.config and the DLL(s) in your BIN directory; so I suggest you run it on a published product.

[code]

[2018-02-02 03:39] rashadrivera commented on #3298
BTW, the Add-BindingRedirect command of the NuGet package console does not work.  It only updated 3 of the 72 referenced packages.  The asterisks option did not help either (AKA "Add-BindingRedirect *")

[2018-02-02 04:24] jainaashish commented on #2752
Thanks for the feedback but currently we're tied up with other priority work so won't be able to get to this. Closing it with lower priority.

[2018-02-02 04:24] #2752 closed, assigned to nobody

[2018-02-02 04:30] jainaashish commented on #2751
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2018-02-02 04:30] #2751 closed, assigned to nobody

[2018-02-02 04:35] jainaashish commented on #2748
Binding redirects are not even supported for new package format like `PackageReference` so I'm closing it in that respect.

[2018-02-02 04:35] #2748 closed, assigned to nobody

[2018-02-02 04:41] abatishchev commented on #2748
Does adding it to the 4.6 milestone mean it might be addressed?

[2018-02-02 04:42] StingyJack commented on #6465
Don't make the mistake of thinking Its good for everyone - its good for you. I wouldn't really want to manage multiple discussions either, but preventing any avenue of communication is going to be counter to the goal of exchanging ideas.

[2018-02-02 04:43] jainaashish commented on #2746
Current thinking is to let users move to `PackageReference` and use commandline for NuGet operations where you won't need all these different switches in nuget.config file. So I'm closing it in that regards.

[2018-02-02 04:43] #2746 closed, assigned to nobody

[2018-02-02 04:45] jainaashish commented on #2744
No updates from customer, closing it.

[2018-02-02 04:45] #2744 closed, assigned to nobody

[2018-02-02 04:51] jainaashish commented on #2740
I don't think nuproj is supported for VS 2017. Let me know if it's indeed supported and still an issue.

[2018-02-02 04:52] jainaashish commented on #2737
fixed with latest release

[2018-02-02 04:52] #2737 closed, assigned to rrelyea

[2018-02-02 04:53] jainaashish commented on #2733
No further communication here, closing it for now. Let us know if this is still an issue.

[2018-02-02 04:53] #2733 closed, assigned to nobody

[2018-02-02 05:03] jainaashish commented on #2731
It might have been intentional with respect to cross platforms, but not sure. But let us know if this is still an issue, will look into it then.

[2018-02-02 05:03] #2731 closed, assigned to nobody

[2018-02-02 05:03] emgarten commented on #2441
@sgwatgit glad to hear it! EntityFramework is probably the most common blocker, but we are working on improving this and making it easier to migrate. If you hit any other blockers feel free to open an issue on it.

[2018-02-02 05:04] jainaashish commented on #2729
No traction here for over an year, so closing it with low priority

[2018-02-02 05:04] #2729 closed, assigned to nobody

[2018-02-02 05:05] jainaashish commented on #2728
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2018-02-02 05:05] #2728 closed, assigned to nobody

[2018-02-02 05:06] jainaashish commented on #2727
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2018-02-02 05:06] #2727 closed, assigned to nobody

[2018-02-02 05:12] jainaashish commented on #2725
Let us know if this is still an issue with latest release and we'll further investigate.

[2018-02-02 05:12] #2725 closed, assigned to nobody

[2018-02-02 05:43] jainaashish commented on #2748
No, it indicate what milestone we close it.

[2018-02-02 08:05] jorgebay commented on #686
Any info on why this was closed @rohit21agrawal ?

[2018-02-02 10:03] careri commented on #5888
I nice catch with the drive letter. I was browsing the nuget source code without much success.
Thanks for the sanity check :)

[2018-02-02 10:57] guidobouman commented on #6140
Any status on this? I'm running into this problem on a mac right now.

[2018-02-02 11:10] guidobouman commented on #6140
Wait, this might help. My current NuGet is writing to `~/.config/NuGet/NuGet.config` while `dotnet restore` uses `~/.nuget/NuGet/NuGet.config`. When copying the info from the `.config` folder to the `.nuget` folder dotnet restore starts to run trying both sources.

But a new message appears:

That I can work with. So my issue is resolved. Maybe a hint for others running into this.

Environment inf

[2018-02-02 12:55] mungojam commented on #6104
Our main issue with debugging into our internal nuget packages is that they are optimised by the compiler so some lines get jumped over. We would love a way that we could publish a Debug version of every package (internally) and be able to switch between it and the Release version easily.

This would increase storage requirements significantly, though maybe it could have a clever delta format that

[2018-02-02 13:13] gdodd1977 opened #6513 "/t:restore causes NotFound https://api.nuget.org/v3-flatcontainer/{My Nuget package}/index.json"
I am using /t:restore on my MSBuild task in TFS for a ServiceFabric WebApi project. When it goes to do the restore, it is attempting to do a GET https://api.nuget.org/v3-flatcontainer/{My Nuget package}/index.json. Why is it looking for my nuget package in that location? I have a few custom nuget packages in this project, but it only seems to be doing it for this one.

EDIT: I also see this:  No p

[2018-02-02 14:34] gdodd1977 commented on #6513
I figured this out. You need to specify all package locations to MSBuild.

[2018-02-02 14:34] #6513 closed, assigned to nobody

[2018-02-02 16:22] diverdan92 commented on #6104
@mungojam - are your projects using the Packages.config model of referencing packages, or PackageReference? One thing you can do with PackageReference is create both a debug and release version of your package (e.g. Foo.nupkg and Foo.Debug.nupkg), and then conditionally include those packages depending on the configuration of your project.

Check out [adding a PackageReference condition.](https://

[2018-02-02 17:02] MV10 opened #6514 "Auto-generate net461 package using SDK-style csproj"
Visual Studio 15.5.6

Short version: Can the current VS UI auto-generate packages for .NET Framework projects that use the newer SDK format csproj file?

I have a project that began as a v1 Azure Functions application, which means it targets net461. It has been pared down to utility functionality that I want to package up as a reusable library. To be clear, there are no Functions triggers in the p

[2018-02-02 17:23] jp2masa opened #6515 "[NuGetizer] Questions about the build system"
NuGetizer is really interesting and I'd like to help, but I have a couple questions:
1. I see that `NuGet.Build.Packaging.Tasks` currently targets `net46`, so it won't work in the dotnet CLI, right? Will .NET Core support be added? (either by retargeting to .NET Standard or multi-targeting .NET Core too)
2. Will `NuGet.Build.Packaging.Tasks` be distributed as an MSBuild SDK? I think it would be th

[2018-02-02 17:45] MV10 commented on #6514
Closing, this appears to be a side-effect of referencing Microsoft.NET.Sdk.Functions. When I reference the individual packages, everything works as expected.

[2018-02-02 17:45] #6514 closed, assigned to nobody

[2018-02-02 17:58] abatishchev commented on #2748
It's sad that the only prescribed solution for this (annoying for years) issue is to upgrade to the .net build system. Numerous projects (including Microsoft internal) don't plan to do that in near future, numerous won't do that ever.

[2018-02-02 19:11] natemcmaster opened #6516 "Add netstandard2.0 support to NuGet.* packages"
I'm trying to prototype a standalone netcoreapp2.0 app that uses NuGet APIs, but am running into what appears to be an authoring error in dependencies of NuGet.Protocol

## Repro
[code]

dotnet restore produces 35 errors like this.
[code]
Full list of errors:
[msbuild.log](https://github.com/NuGet/Home/files/1690524/msbuild.log)

## Details
[code]

[2018-02-02 19:52] mungojam commented on #6104
@diverdan92 - great idea, maybe I could put that as a build step on the packages so that it automatically did the same for transitive dependencies when switching the top one to debug mode. Otherwise it would need lots of manual effort from developers in my team.

We haven't yet converted to PackageReference, partly because of [this issue I raised](https://github.com/NuGet/Home/issues/5715) regardi

[2018-02-02 20:04] karann-msft commented on #5069
cc: @anangaur

[2018-02-02 20:43] rohit21agrawal commented on #686
@jorgebay Couple of reasons - we are closing bugs that have not been active for over a year, and two, this doesn’t fit in with the plans we have for NuGet in the near future.

You can open a new issue if you have a strong case for this feature and we would consider it.

[2018-02-02 20:44] HappyNomad opened #6517 "Cannot restore for project name with spaces"
I first reported this at https://github.com/aspnet/Home/issues/2845 but they say it belongs here.  The exception message says:

Assets file 'C:\Users\Me\Documents\Visual Studio 2017\Projects\My Solution\WebAPI (some thing)\obj\project.assets.json' not found. Run a NuGet package restore to generate this file.

When I remove the ` (some thing)` from the project name then it works.

[2018-02-02 20:56] emgarten commented on #6516
NuGet packages should add support for netstandard2.0. I've hit problems like this also when consuming the packages from netcoreapp2.0 projects.

[2018-02-02 20:58] emgarten commented on #6517
Does the error happen during restore or during build? Does project.assets.json exist in the correct place?

[2018-02-02 22:18] HappyNomad commented on #6517
It was happening for me while I was trying to build the solution in Visual Studio.  Sorry, I didn't check if the file existed or not.

[2018-02-02 22:24] natemcmaster commented on #6516
That would be even better. Would you drop netstandard1.x or net45? Or just add ns2.0?

[2018-02-02 22:28] karann-msft opened #6518 "Fix NuGet's packages' metadata"
Our NuGet packages should be updated to use the required metadata.

​Autho​rs
The Authors for the package should just be "Microsoft".

License URL - https://github.com/NuGet/NuGet.Client/blob/dev/LICENSE.txt
Requiring License Acceptance - true
​Project URL - https://github.com/NuGet/nuget.client/
Copyright - "© .NET Foundation. All rights reserved."
Logo
Update the package logos to use the new off

[2018-02-02 22:47] anangaur commented on #6518
For Project URL, we may use https://aka.ms/nugetprj. Will this be fine @karann-msft ?

Should it point to just nuget.org?

[2018-02-02 22:55] rohit21agrawal commented on #6518
why should project url not point to the github repo?

[2018-02-02 22:55] rohit21agrawal commented on #6518
please give a url for the package logo

[2018-02-02 23:02] anangaur commented on #6518
Icon: https://aka.ms/nugetlogo

I am fine either way for the project URL. In my mind project URL is the product landing page and repoUrl is other one.

[2018-02-02 23:03] rohit21agrawal commented on #6518
getting http 404 for aka.ms/nugetlogo

[2018-02-02 23:07] nkolev92 commented on #850
Closing as redundant.

[2018-02-02 23:07] #850 closed

[2018-02-02 23:18] dtivel opened #6519 "Signing: accuracy not read from timestamp"
[`CryptRetrieveTimeStamp(...)`](https://msdn.microsoft.com/en-us/library/windows/desktop/dd433803(v=vs.85).aspx) does not return accuracy in `CRYPT_TIMESTAMP_INFO`.

[2018-02-02 23:20] nkolev92 commented on #1859
Redundant now.

[2018-02-02 23:20] #1859 closed, assigned to jasonmalinowski

[2018-02-02 23:23] nkolev92 commented on #849
This is not a public feature anyore, right?
Closing now.

[2018-02-02 23:23] #849 closed

[2018-02-03 01:35] AArnott opened #6520 "nuget.exe restore works, and the automatic restore in VS causes build failures"
**I believe this is a regression in 15.6**

nuget.exe v4.3.0
VS d15.6 27401.0

[code]

When following these steps, the build should succeed.

But when you open the src\ConnectedServices\ConnectedServices.sln solution in VS and build, automatic package restore occurs, and screws up the ConnServ.UnitTests project's restored files and the build for that project ends up breaking due to missing referen

[2018-02-03 10:41] dasMulli opened #6521 "dotnet CLI add: framework option ignored when packages are already in the project"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet CLI

NuGet version (x.x.x.xxx): 4.5.0.4, 4.7.0.1

dotnet.exe --version (if appropriate): 2.1.4, 2.1.300-preview2-008024

VS version (if appropriate): -

OS version (i.e. win10 v1607 (14393.321)): macOS 10.13.3

Worked before? If so, with which NuGet version: don't remember, may have work

[2018-02-03 10:43] dasMulli commented on #6521
Ran into this while scripting a series of remove and add commands to allow some form of "update all packages" which is blocked by this bug.
https://gist.github.com/dasMulli/d343e95edd4be7a629f85b29c7d78fde

[2018-02-03 18:51] angularsen commented on #2406
I know this is closed, but this happens to still be the case for WinJS UWP apps on latest Visual Studio as of 3 February 2018 (v15.5.6). I guess WinJS never got much love and is probably already a fading memory to most people.

[2018-02-03 20:19] emgarten commented on #2406
Thanks for the update @angularsen. We'll work with the javascript project system to help resolve this.

[2018-02-03 21:55] natemcmaster commented on #1290
@nkolev92 can we reconsider options here?

I ran into this too trying to create a template package for dotnet-new. Took a while to figure out that  NuGet was silently ignoring this directive:
[code]

It seems to me like this should be allowed. If my nuspec explicitly says "include this .nuspec file", why would it be dangerous for NuGet to honor that?

At the very least, issue a warning or somethin

[2018-02-04 10:28] ghost commented on #5919
Any updates on this one? Can we have any visibility what is going on, what is missing, tasks, blocker, something we can help with? Please SHARE to get HELP

[2018-02-05 03:22] JoseFMP commented on #2887
Any news here? This is a terrible bug... so if the nuget gallery requires authentication... nothing that we can do?!

[2018-02-05 07:44] anangaur commented on #2887
Related https://github.com/NuGet/Home/issues/6486. We are looking into this issue and early discussion in this regard is taking place. Do monitor this thread for more info in future. (You may also want to subscribe to https://github.com/NuGet/Home/issues/6486)

[2018-02-05 12:58] guidobouman commented on #1851
What's the roadmap on this? Is the NuGet or the dotnet project responsible for this implementation? I can't seem to find anything about this in https://github.com/dotnet/designs/issues/11

[2018-02-05 13:09] clairernovotny commented on #5525
Bump?

[2018-02-05 14:07] clairernovotny commented on #5894
Ping, any updates?

[2018-02-05 14:25] rhyous opened #6522 "Dependencies are installed for netstandard2.0 even though targetframework is netstandard1.6"
## Details about Problem

Goal:
Ceate a multi-targeted NuGet package, to target netstandard1.6 and netstandard2.0.
Note: I chose this very small project: https://github.com/rhyous/BusinessRules

Problem:
Dependencies are installed for netstandard2.0 even though the dependencies are specifically targeted in the nuspec for netstandard1.6 and the project it was installed on chose to use the netstanda

[2018-02-05 14:57] petsuter opened #6523 "Multiple -ConfigFile Nuget.Config / misleading help text"
NuGet product used: NuGet.exe

NuGet version: 4.5.1.4879

OS version: win10 v1709 (16299.192)

`nuget.exe help install` shows:
[code]
But this help text is very misleading, as by default there are actually multiple `Nuget.Config` files that might be used. This help text does not mention them, nor that these other files are also skipped if the `-ConfigFile` option is specified.

Is it somehow possi

[2018-02-05 18:17] mishra14 commented on #3333
Closing this as there has been no customer requests.

[2018-02-05 18:17] #3333 closed, assigned to nobody

[2018-02-05 18:56] #6322 closed, assigned to mishra14

[2018-02-05 19:06] emgarten commented on #6523
It looks like the help in nuget.exe hasn't been updated since hierarchical config support was added. I'm marking this as up for grabs, it should be an easy fix to improve these strings.

[2018-02-05 19:06] nkolev92 commented on #6520
From the assets file it seems like the project references are not being resolved in VS.
//cc
@emgarten

[2018-02-05 19:08] rohit21agrawal commented on #5525
@emgarten does the P2P ref version take a version range like  ``` [1.2.3] ``` ? What is needed to enable that?

[2018-02-05 19:11] clairernovotny commented on #5525
@rohit21agrawal it shouldn't take a specific version on the ref, but it should have an option like `ExactVersion=true` or something, so that whatever the calculated/generated version that the reference is at time of build is used in the `[]` exact version syntax.

[2018-02-05 19:13] emgarten commented on #6522
Dependencies are selected based on the project's target framework.

You can find additional help on consuming packages here: https://docs.microsoft.com/nuget

[2018-02-05 19:18] emgarten commented on #5525
We need a generic way to override the version range put into the nuspec for a project reference. This shouldn't be specific to exact versions.

Project to project reference versions are ignored by restore for the most part since we aren't going to fail restore if you link to an exact project path but also specified that you want a different version of it.

[2018-02-05 19:22] emgarten commented on #6516
Ideally this would be just adding ns2.0. But if msbuild and the cli are no longer using ns1.3 then we might be able to drop it completely.

[2018-02-05 19:23] mishra14 commented on #6521
@dasMulli Thanks for reporting this issue. This may be caused by the way we query msbuild to get itemgroups that will contain the reference.

We have prioritized this as P1 and will investigate, when possible.

[2018-02-05 19:23] emgarten commented on #6516
Updating the title to match the work that needs to be done here.

[2018-02-05 19:25] emgarten commented on #6493
For help with a specific package please contact the package author.

[2018-02-05 19:25] #6493 closed, assigned to nobody

[2018-02-05 19:26] mishra14 opened #6524 "[Spec] Add support for trusted signers in commandline"
This follows the work in https://github.com/NuGet/Home/issues/6419 to enable users to update the repository certificates/keys/trust via commandline and UI.

Commandline is specc'd [here](https://github.com/NuGet/Home/wiki/%5BSpec%5D-NuGet-Config-schema-changes-to-enable-repository-signatures).

UI: To be done.

[2018-02-05 19:27] mishra14 opened #6525 "Add support for storing trusted repository information into nuget config"
Follows the spec task: https://github.com/NuGet/Home/issues/6419

[2018-02-05 19:31] mishra14 opened #6526 "[Spec] NuGet client policy for package signing"
We need to spec the way we will store the nuget client security policy for signed packages along with the user actions that can set this policy.

Status: In Review
Spec: https://github.com/NuGet/Home/wiki/%5BSpec%5D-NuGet-Client-Security-Policy

[2018-02-05 19:33] emgarten opened #6527 "Log source information in VS"
Log additional information about VS sources.

[2018-02-05 19:41] PatoBeltran opened #6528 "Apex stabilization phase 3"
Continue the efforts to make apex infrastructure more stable and reliable

[2018-02-05 19:55] nkolev92 commented on #6484
I have a couple of questions I'd like us to clarify before continuing here. I will schedule an offline meeting to discuss this.

For example, what's the point of build/foo.props etc if there's no build going(I assume) on here?
How about the tfm based lib assets, but the sdks are not tfm based?

What's the VS UI experience long term?
How will this package be downloading, since the plan for download

[2018-02-05 19:58] jeffkl commented on #6484
@nkolev92 yeah we should probably have a quick meeting to discuss the implications here.  There's a need to keep these packages out of normal search and possibly enforce more/less rules.

[2018-02-05 19:59] rohit21agrawal opened #6529 "imporve warnings experience in pack and unify with migrator"
The objectives of this task are to enable warning codes in Pack, and support suppress all warnings

The warning/validation code should also be refactored in a way that the server validation pipeline and the migrator can also use it.

[2018-02-05 20:00] natemcmaster commented on #6484
Can you include me in this meeting? It may affect some of the engineering work we are planning for .NET Core.

[2018-02-05 20:01] nkolev92 commented on #6484
Alright.

I edited the comment with more questions etc.

I just sent an e-mail to you, few mins ago.

[2018-02-05 20:04] Necroskillz commented on #5525
Sounds like my proposal is pretty close to what you want. Would be nice to remove this workaround after half a year 👍 .

[2018-02-05 20:05] rohit21agrawal opened #6530 "Improve the PC->PR Migrator UI"
- [x] Update main migrator UI
- [x] Update upgrade report UI
- [x] Remove Update option from Project's context menu
- [x] Add gold bar to show that project can be migrated

Spec: https://github.com/NuGet/Engineering/blob/master/Staged%20PM%20Specs/PC2PR.md

[2018-02-05 20:31] clairernovotny commented on #5525
@Necroskillz the issue is that the version needs to come from the target project, not what your project.

I.e., it's not "your" `$(Version)` that's needed, but the referenced project's `$(Version)`. They may not be the same and they may be calculated. One way to get that is by using the `MSBuild` task on the referenced project to invoke the new "GetTargetVersion" stub that was just added in to fix

[2018-02-05 20:34] Necroskillz commented on #5525
Well `$(Version)` can be any MSBuild variable, that you are free to calculate however you want. This was just an example that it would take the version from the command line parameter `/p:Version` that is passed to `pack`.

[2018-02-05 20:36] nkolev92 opened #6531 "Test plan for PC to PR migrator"
Test plan for PC -> PR migrator.
Scenarios, gotchas etc, for the migrator.

We need to figure how to test this, automation vs manual etc.
Potentially we need to prep a bunch of projects for manual verification etc.

Maybe go on github, look for packages.config projects and try to migrate?
etc.

[2018-02-05 20:39] clairernovotny commented on #5525
@Necroskillz my point here is that the verisons in a project dependency graph may not all align intentionally. That can work, but the underlying mechanism still needs to "query" the target project for its version. The ask here is to make it a fixed version in the nuspec not a `>=`

[2018-02-05 20:39] nkolev92 opened #6532 "Course of action for packages that raise warnings, fail the build in the migrator"
Determine what our plan is.
How do we report this.

Ask in upgrade report via feedback, have an open entry point? Github issue? Feedback etc.

[2018-02-05 20:43] nkolev92 opened #6533 "Validation rules on NuGet.org for packages incompatible with PR"
Dependent on https://github.com/NuGet/Home/issues/6529.

Add the validation rules in the NuGet.org validation orchestration.

P0: Ingestion time validation
P1: Validate packages already on nuget.org

[2018-02-05 20:49] rhyous commented on #6522
You realize that in any technical forum or bug repo, posting the top level documentation is an insult, right? Is it common practice for you to insult your users?

I didn't come here to be insulted. I came here for help. I expect a higher level of etiquette and courtesy.

Now, back to my issue . . .

I've been living with a weird issue for a while that I'd like to eliminate.

Here is a more directl

[2018-02-05 21:05] emgarten commented on #6522
[code]

[2018-02-05 21:50] rhyous commented on #6522
Ok so the dependencies push to later version. So when netstandard2.1 releases, I wouldn't need another group for it, because it would fallback to the 2.0 group, right?

I have this target frameworks document:
https://docs.microsoft.com/en-us/nuget/reference/nuspec#dependencies
https://docs.microsoft.com/en-us/nuget/reference/target-frameworks

How would someone know that net461 falls back to use t

[2018-02-05 22:32] wjk commented on #5894
@onovotny See the very bottom of this file: <https://github.com/Microsoft/dotnet-framework-early-access/blob/master/release-notes/build-3052/dotnet-build-3052-changes.md>. Once .NET Framework 4.7.2 is released and installed, this issue should go away.

[2018-02-05 22:33] emgarten commented on #6522
That's correct. For dependencies, assets, and all things in packages NuGet takes the nearest compatible framework found. You can also think of it as the nearest without going over, so if your project is netstandard2.0 then netstandard1.6 is the nearest framework. When you add in an empty group with netstandard2.0 that becomes the nearest. An incompatible framework such as netstandard2.1 would be i

[2018-02-05 23:07] clairernovotny commented on #5894
@wjk Is there any more details on how this is fixed? Also, how about a workaround that doesn't rely on a .NET Fx fix? Is there anything that can be done out-of-band? Any ETA on 4.7.2 as a release?

[2018-02-05 23:17] nkolev92 commented on #5894
@onovotny
The fix is in NET 472, which should ship alongside RS4/Visual Studio Update 6.

The PR on msbuild side that still needs to be merged is [here](https://github.com/Microsoft/msbuild/pull/2701).

Currently, there's no plans for down-level support.

[2018-02-05 23:36] clairernovotny commented on #5894
@nkolev92 Does 4.7.2 *always* get installed with 15.6? I.e., if I have 15.6, will this always build ok? Just trying to understand how to ensure that builds are always successful here. What about people on RS3 or lower?

[2018-02-05 23:37] clairernovotny commented on #5894
Also, any idea when that PR will be merged to msbuild?

[2018-02-05 23:41] rhyous commented on #6522
Thank you. That link was very useful.

And your solution worked.

OK, you have convinced me that this isn't a bug and does not need a code change. It is just as you said:

[2018-02-05 23:46] nkolev92 commented on #5894
@onovotny
I can't really answer your first question definitively. AFAIK there's normally an option in the installer to install .NET 4.7.2, so I'm pretty sure it doesn't just install when updating to 15.6.

.NET 4.7.2 can also be installed in RS3 and lower Windows builds, so any machine with .NET 4.7.2 + 15.6 should work.

[2018-02-06 00:20] StingyJack opened #6534 "Something in nuget client is breaking mstest"
More info at the [original report](https://github.com/Microsoft/testfx/issues/241), including several repro cases and examples.

Reporting it here as advised. Please note the longevity of the issue and its subtle but evil effects.

From original issue:
when you run [that sample ](https://github.com/smadala/samples/blob/master/Test%20Explorer%20fails%20to%20show%20tests/ConsoleApp1/Program.cs)it fa

[2018-02-06 00:20] emgarten commented on #6522
Glad it worked for you! I'll close this out, if you hit any other issues let me know.

[2018-02-06 00:20] #6522 closed, assigned to nobody

[2018-02-06 00:21] JeremyMorton opened #6535 "dotnet pack with NuspecFile set doesn't pack if you have previously packed with the generated nuspec file."
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet

NuGet version (x.x.x.xxx): Not sure, it is called from dotnet pack: C:\Program Files\dotnet\sdk\2.1.100-preview-007326\Sdks\NuGet.Build.Tasks.Pack\buildCrossTargeting\..\CoreCLR\NuGet.Build.Tasks.Pack.dll

dotnet.exe --version (if appropriate): 2.1.100-preview-007326

VS version (if app

[2018-02-06 00:24] emgarten commented on #6534
@StingyJack would you provide some additional details here. I see binding redirects mention in the original issue, if you could provide a simple repro with the actual and expected outputs it would help make this issue actionable.

[2018-02-06 00:28] StingyJack commented on #6534
the thread is long but a necessary read since you want repros and actual/expected descriptions.

[2018-02-06 00:34] clairernovotny commented on #5894
@nkolev92 From what I've seen before, VS may not default to including/installing 4.7.2, so there's no way to be sure. That can be problematic for broken builds here as well as for build agents.

[2018-02-06 00:37] rohit21agrawal commented on #6535
the fix here would be to update NuGetPackInput to include the NuspecFile provided by ```NuspecFile``` property if that property is set.

@JeremyMorton if you want to take a stab at the fix, would gladly accept a PR. If not, I can get to it in the next few days.

[2018-02-06 00:43] JeremyMorton commented on #6535
It should also add the nupkg that will be generated by packing the NuspecFile to NuGetPackOutput, because you can't count on the file pointed to by NuspecFile to change each time (and it most likely won't).

I don't know how to figure that output filename out from the targets file, since it needs to read the Id and version information from the NuspecFile.

[2018-02-06 00:44] emgarten commented on #6534
I'm sorry but this issue does not currently contain enough information to prioritize it and put it into the team backlog. I will be happy to reopen this once this has been updated.

Please understand that NuGet is just one component in the .NET build system and that your issue may be caused by other components if your build process, or it may be caused by package authoring issue which cannot be fi

[2018-02-06 00:44] #6534 closed, assigned to nobody

[2018-02-06 00:51] nkolev92 commented on #5894
I understand that it can get painful, that decision was a longer discussion, that @rrelyea has more insights on.

There's a lot of risk in shipping via NuGet since it's basically overwriting what the build tasks that ship with the .NET full framework itself do.

[2018-02-06 01:11] rohit21agrawal commented on #6535
actually, we should just skip the target ``` _CalculateInputsOutputsForPack ``` if a NuspecFile is provided

[2018-02-06 01:18] clairernovotny commented on #5894
@nkolev92 fair enough, but can any of the proposed changes be an opt-in out-of-band fix? I.e., something I can ship as part of my `MSBuild.Sdk.Extras` for people to opt-in to?

Basically, what was the fix NuGet was going to do and can I use that fix in my project directly?

[2018-02-06 01:51] nkolev92 commented on #6520
@AArnott I was not able to reproduce the issue the way you describe it with 27404.4.d15.6
Latest stable from Preview 4 of d15.6.

I do still see discrepancies in the assets files but they're super weird.

Namely it's project versions and an extra package in the project, Microsoft.VisualStudio.ConnectedServices.Package2, when run in CommandLine,
[code]
Versioning:

[code]
vs
[code]
I also see a dis

[2018-02-06 01:59] rohit21agrawal commented on #6533
this is not necessary packages incompatible with PR, right? this is just badly authored packages.

[2018-02-06 02:05] dsplaisted opened #6536 "allow project reference to override package dependency"
This seems to be a regression of #4620, or a different case which was never fixed.

Repro steps:

- Check out https://github.com/dsplaisted/msbuild/tree/update-cli
- `build -skiptests -bootstraponly`
- Comment out the following in `src\MSBuild.Bootstrap\MSBuild.Bootstrap.csproj`:

[code]

- `msbuild /restore src\MSBuild.Bootstrap\MSBuild.Bootstrap.csproj`

**EXPECTED**: Successful build
**ACTUAL**

[2018-02-06 02:05] dsplaisted commented on #6536
@emgarten

[2018-02-06 02:13] jainaashish commented on #6170
Got busy with other high priority issue so didn't get any time for this issue. Moving it to backlog with p0 to be picked next.

[2018-02-06 02:15] jainaashish commented on #6067
It was blocked since VS was upgrading msbuild tooling so no work was done in Sprint130. Will pick it as soon as some bandwidth is available.

[2018-02-06 03:17] Imisnew2 opened #6537 "error : Unable to obtain lock file access on .../lock/<hash>"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
dotnet.exe

NuGet version (x.x.x.xxx):
Whatever comes with dotnet --version described below.

dotnet.exe --version (if appropriate):
2.0.3

VS version (if appropriate):
N/A

OS version (i.e. win10 v1607 (14393.321)):
win7 and win10

Worked before? If so, with which NuGet version:
N/A

## Detail

[2018-02-06 04:07] emgarten commented on #6537
@Imisnew2 do User1 and User2 share a `%TEMP%` folder in this scenario?  Normally users do not share this which is why this has never been an issue on windows.

[2018-02-06 05:07] Imisnew2 commented on #6537
@emgarten Ah, yes. We use cygwin to provide SSH access to the machine, which ends up using < cygwin-install-path >/tmp as the tmp dir for all users using SSH to access the machine. The lock file is trying to be created at C:/cygwin/tmp/NuGetScratch/lock/< hash > for us.

[2018-02-06 05:46] emgarten commented on #6536
Thanks for the issue @dsplaisted I was able to repro this. It look like this is happening because a project reference is overriding a package dependency. So the result is that a nupkg depends on a project (which is supported).

This should still be ignored since it isn't a downgrade. The fix would be to skip checking the version range constraint if the accepted type is a project here: https://gith

[2018-02-06 05:56] steevcoco commented on #4491
... I had the same problem; and perhaps it's been noted since there are multiple issues: only on "older" .csproj project styles; which I only had projects targeting net471.

To solve: I simply deleted the .csproj files and pasted in new style files with

    <TargetFramework>net471</TargetFramework>

... And dotnet pack will now run without complaint --- I am now simply able to run dotnet pack and

[2018-02-06 06:07] emgarten commented on #6537
Are you able to set `%TEMP%` to a  user specific temp folder?

[2018-02-06 08:21] AArnott commented on #5894
If you overwrite enough targets yes you should be able to fix it.
And no, 15.6 will not require net472.

[2018-02-06 08:28] lbargaoanu opened #6538 "The versions disk cache and http cache headers"
While using RestoreCommand and repeatedly publishing new versions of a package, we've noticed that new versions are not found and the restore fails. We always request the latest published version. This seems to be because the results of the queries for package versions are cached on the disk. But the responses for those requests send HTTP cache headers that say the results should not be cached. I

[2018-02-06 10:09] BradleyUffner commented on #3676
I would also like an answer to the questions @zachweg raised.  Why is the documentation conflicting?  What is the _actual_ behavior?  If order _doesn't_ matter, why does Visual Studio allow it to be changed?  If order _does_ matter, how do I control the order when multiple sources are added from different nuget.config files?

[2018-02-06 10:11] randalvance commented on #6468
Can still be replicated on a Xamarin.Android project in Visual Studio 15.5.6. I was installing Firebase Analytics nuget package.

[2018-02-06 12:40] Dabbel commented on #6439
Running NuGet Restore with options  **-DisableParallelProcessing** and **-NoCache** and everything works without problems

[2018-02-06 13:33] StingyJack commented on #6534
If you had read the last comment you would see that this was referred to the nuget team by Satya Madala [MSFT] after he found that nuget is creating incorrect assembly bindings.

If you had scrolled up just a few posts form there you would see there are at least 3 repro cases immediately available from smadala, spottedmahn, and myself.

If you had scrolled up a bit farther you would see that this

[2018-02-06 15:07] jeroenlandheer commented on #5350
@johncrim Thank you for posting this here, I had the same issue with casing in a solution file.

[2018-02-06 15:37] AArnott commented on #6520
The `1.0.0` version issue is probably due to https://github.com/NuGet/Home/issues/4790
It only manifests for this repo the very first time you run restore. After that, restores in that repo _should_ have the right version.

For `ConnServ.UnitTests` vs. `Microsoft.VisualStudio.Nonshipping.ConnectedServices.UnitTests`, the former is the name of the project while the latter is the name of the assembl

[2018-02-06 15:41] AArnott commented on #6520
Incidentally, it doesn't repro for me with d15.6 27404.0 either.
I'll leave it to you to determine whether there's something worth pursuing here.
Thanks.

[2018-02-06 16:25] emz00 commented on #2714
Almost 2 years later, a simple error message improvement bug is still not fixed!

Is there a workaround for this when building a NuGet package for multiple .NET versions, as @qwertie  mentioned?

[2018-02-06 17:20] Imisnew2 commented on #6537
Setting 'TMP' to some user-specific location before running a 'dotnet' command that uses the lock works around the issue. Setting 'TEMP' does not.

[2018-02-06 17:24] JeremyMorton commented on #6535
Does an empty Inputs and Outputs list cause a target to be ran or to be skipped?

One advantage of adding NuSpecFile and the output .nupkg file to Outputs is getting incremental packing when NuspecFile is specified, instead of having it pack every time.

[2018-02-06 18:06] jainaashish commented on #5350
@johncrim @jeroenlandheer casing issue in solution file has been fixed with latest VS 2017 15.6 preview bits. Please try those and let us know if you still see that issue.

[2018-02-06 18:31] emgarten commented on #6537
Interesting that `Path.GetTempPath` uses that under cygwin.

I will keep this issue open for tracking and to collect further feedback. If this were fixed I think NuGet would need to start using a temp folder under `%USERPROFILE%` instead, but this would end up leaving more files around. My guess is that this scenario isn't common enough.

[2018-02-06 18:33] rohit21agrawal commented on #6535
@JeremyMorton that kind of scenario will be hard to get working incrementally, because the files pointed to by nuspec could change, and we would not be able to determine that pack shouldn't skip such a case.

I would rather not have incremental packing behavior when a nuspec file is specified as packing using a nuspec .

[2018-02-06 18:38] nkolev92 commented on #6520
Yeah that makes sense.

Since it's not breaking your build currently, I'll just consider it a lower priority, but I'd still like to investigate a bit more, as part of the drive to minimize differences among VS and CLI to eliminate unneeded restores.

[2018-02-06 18:39] PatoBeltran opened #6539 "Verification fails for signature with different algorithm than timestamp"
If you sign a package with a different algorithm than the one used to generate the timestamp the verification will fail when checking for timestamp integrity.

[2018-02-06 19:04] #6239 closed, assigned to dtivel

[2018-02-06 19:06] Imisnew2 commented on #6537
Considering the 'fix' for the previous issue merely did 'chmod 777 ...' for every folder it created, would doing the same on Windows not be possible?

`icacls [Folder] /grant Everyone:(OI)(CI)F`

Or perhaps using [`GetAccessControl(DirectoryInfo)`](https://docs.microsoft.com/en-us/dotnet/api/system.io.filesystemaclextensions.getaccesscontrol?view=netcore-2.0#System_IO_FileSystemAclExtensions_GetAc

[2018-02-06 19:56] emgarten commented on #6538
It looks like you found the correct way to disable caching when calling the restore APIs.

At this time caching is a client policy, changing this to use the server policy instead would likely cause performance problems for most users.

//cc @joelverhagen

[2018-02-06 19:58] livarcocc opened #6540 "How to update referenced package versions from CLI"
_From @AustinWise on February 3, 2018 7:42_

## Steps to reproduce
1) Type `dotnet help`

## Expected  behavior
1) Expect to see `dotnet update` or similar command to update referenced packages. Something equivalent to Visual Studio's GUI that allows upgrading packages.

## Actual behavior
1) After much searching, I can't find any command to update the package version.

## Other thoughts
Currently

[2018-02-06 19:58] livarcocc commented on #6540
There is no such command today.

I believe this is in the NuGet backlog.

cc @richlander this is a feature request that we had to NuGet for a while:  a dotnet update package command.

I will move this issue to NuGet.

[2018-02-06 20:16] livarcocc opened #6541 "nuget.exe add for dotnet.exe"
_From @steevcoco on February 5, 2018 6:31_

I would like to see the addition of `nuget add` to the commands. I use it to build a local repository ... And unlike Push, it will create the hierarchical folder structure.

It seems like a very simple addition: the command is just like push ...

Alternatively, could `push` support the folder structure in a local folder?

_Copied from original issue: dot

[2018-02-06 20:16] livarcocc commented on #6541
_From @unusual-thoughts on February 5, 2018 18:15_

Same here. There is no way to use locally built packages without this

[2018-02-06 20:16] livarcocc commented on #6541
_From @dasMulli on February 6, 2018 11:46_

Is your problem consuming packages or pushing built packages to a directory?

Consuming local packages can be done by configuring a folder as package source in nuget.config..
e.g. https://stackoverflow.com/questions/43400069/dotnet-add-package-with-local-package-file

[2018-02-06 20:16] livarcocc commented on #6541
_From @steevcoco on February 6, 2018 13:44_

~~I believe a problem is that you cannot push multiple targets?~~ I haven't encountered it myself ... I simply would like the option because the local repo is faster ,and better laid out that way ... It is just a better layout and is much preferred. ~~But if you DO have multiple targets, then how could you push both locally?~~

I am trying to also work

[2018-02-06 20:25] AustinWise commented on #6540
This is probably a dup of #4103.

[2018-02-06 21:04] joelverhagen commented on #6538
Hey @lbargaoanu, could you provide a bit more context on your issue?

1. **What package source are you working with?** NuGet.org does send back cache headers in some case but these are not intended for official NuGet client to consume (they are actually meant for our CDN).
1. Since it seems you are using NuGet as a library rather than `nuget.exe`, **could you use [`HttpCacheUtility`](https://githu

[2018-02-06 21:29] JeremyMorton commented on #6535
[code]

It looks like having an empty `Outputs` causes a target to be skipped, not to always run.

[2018-02-06 21:55] dsplaisted commented on #6536
Thanks for investigating this.

[2018-02-06 22:35] emgarten commented on #6541
Support for building v3 folders using push is a good idea.

Just a note here, nuget also supports flat folders. So a simple copy of *.nupkg to a folder will work as a source. As the number of packages in the folder goes up performance goes down, so there should still be a way to build the v3 structure.

[2018-02-06 23:38] rohit21agrawal commented on #6540
closing as duplicate of #4103

[2018-02-06 23:38] #6540 closed, assigned to nobody

[2018-02-06 23:46] Imisnew2 commented on #6537
I gathered a little more information in case it helps.

[`Path.GetTempPath()`](https://docs.microsoft.com/en-us/dotnet/api/system.io.path.gettemppath?view=netcore-2.0#System_IO_Path_GetTempPath) will return the first of (see link for documentation):
- The path specified by the TMP environment variable.
- The path specified by the TEMP environment variable.
- The path specified by the USERPROFILE e

[2018-02-07 00:11] zhili1208 opened #6542 "VS verify package signature when package is resotred from global folder for package.config"
Repro Step:
1. Create a .net framework class lib.
2. make sure newtonsoft.json is already in .nuget/packages folder
3. install newtonsoft.json
4. remove package from solution packages folder
5. restore package.

Expect: no signature verification in restore
Actual: nuget verify signature

[2018-02-07 00:34] nkolev92 commented on #6484
Just putting up some notes from our earlier meeting.

The package type will be "MSBuildSdk", case irrelevant, since PackageTypes are case insensitive.

15.6
- The NuGet resolver on MSBuild side, will validate that only SDK package types are allowed. //cc @jeffkl

15.vNext:
- NuGet will consider the download API to allow the MSBuild resolver to avoid calling restore. #5919
- Consider the handling o

[2018-02-07 00:35] MSFTFox opened #6543 "Project that does not target net40 now requires it via nuget restore"
## Details about Problem

When running nuget restore on the Islandwood project, https://github.com/Microsoft/WinObjC, we've encountered a new issue with Visual Studio 2017 update 15.4. The projects in build.sln do not target net40.

NuGet version: 4.4.0.4475

dotnet.exe --version: 2.1.2

VS version (if appropriate): VS 2017 15.4.5

OS version: Windows 10 17091

Worked before? If so, with which NuG

[2018-02-07 00:43] nkolev92 commented on #5725
@karann-msft Yep, that's already called out in the tools spec and implemented as such :)

A similar ask came through https://github.com/NuGet/Home/issues/6484.
We should consider the handling of the MSBuildSdk package type in search based on the decisions in that issue.

No "actionables" here yet, before we narrow that down.

[2018-02-07 01:31] rohit21agrawal commented on #6541
isn't this what we are talking about ? https://github.com/NuGet/NuGet.Client/pull/1692

[2018-02-07 02:56] #6508 closed, assigned to dtivel

[2018-02-07 03:47] emgarten commented on #6541
This is the equivalent of `nuget.exe add` for `dotnet.exe`

[2018-02-07 03:56] kzu commented on #6515
Hi @jp2masa, both very good questions!

1. Absolutely. When NuGetizer was started, .NET Standard 2.0 hadn't shipped yet. We'll retarget it at some point before v1
2. It makes perfect sense and I was planning on precisely that spike in the coming weeks. I think it makes sense to provide it both as an MSBuild SDK and a regular nuget package like now, so that people on older systems can still use it.

[2018-02-07 04:33] #6519 closed, assigned to dtivel

[2018-02-07 05:54] lbargaoanu commented on #6538
Yes, we have multiple feeds too and I did notice they send different headers. But we do have control on the feed that gets updated and causes the problem. Thanks for the tips. I guess I'm missing more granular control. I just want to be able the restore the latest versions, otherwise the cache is great :) We'll look more closely to see what MaxAge will do for us.

[2018-02-07 07:53] vlobrigo commented on #6242
I have the same issue with Visual Studio Enterprise 2017 15.5.6.

[2018-02-07 08:39] VitaliyHetsman commented on #3408
the same issue using NuGet Version: 4.5.0.4651
`MSBuild auto-detection: using msbuild version '4.0' from 'C:\Windows\Microsoft.NET\Framework\v4.0.30319'.`

MSBuild.exe /version
`Microsoft (R) Build Engine version 15.5.180.51428 for .NET Framework
Copyright (C) Microsoft Corporation. All rights reserved.
15.5.180.51428`

where msbuild:
`C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools

[2018-02-07 10:51] jeroenlandheer commented on #5350
@jainaashish I've solved it by hand-editing the sln file, I'm unable to use preview/pre-releases versions here  on this project. (Company policy :( )

[2018-02-07 11:04] ankitaa123 opened #6544 "ankita"
please help me with this

1   Severity	Code	Description	Project	File	Line	Suppression State
Error		The "LinkAssemblies" task failed unexpectedly.
System.NullReferenceException: Object reference not set to an instance of an object.
   at Mono.Linker.TypeReferenceExtensions.<GetMethods>d__4.MoveNext()
   at Mono.Linker.Steps.TypeMapStep.TryMatchMethod(TypeReference type, MethodDefinition method)

[2018-02-07 12:55] roryprimrose commented on #6279
I have to run this powershell on my builds as a workaround using the parameters ```-path $(Build.SourcesDirectory) -packageName $(Build.DefinitionName)```

[code]

[2018-02-07 15:44] awesley commented on #4491
This appears to still be an issue with 4.6.0 preview 3 (4.6.0.4825).

Additionally, dotnet pack is not a viable workaround due to https://github.com/dotnet/cli/issues/3959 which in turn references https://github.com/NuGet/Home/issues/3891

The latter was opened in November 2016.  For internal package producers (a common use case for enterprise), this is quite problematic.  The workarounds of maint

[2018-02-07 15:55] AlexaCodex opened #6545 "Package Manager Console and Interface in Visual Studio returns 404 for .NetCore and .Net Standard packages"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe, VS UI, Package Manager Console

NuGet.exe version (x.x.x.xxx): 4.5.1.4879

dotnet.exe --version (if appropriate): 2.1.4

VS version (if appropriate): Visual Studio is 2017 15.5.6

OS version (i.e. win10 v1607 (14393.321)): win 10 enterprise

Klondike version : v2.1.1 https://github.c

[2018-02-07 17:04] myermian commented on #912
Reading through all these messages, I'm still a bit confused. I'm hoping that `1.0.*-*` would get the prerelease version. In the following, **1.0.2-ci-2** should be selected:

1.0.3
1.0.2
1.0.2-ci-2
1.0.2-ci-1
1.0.1
1.0.1-ci-1

An example of this working out well would involve using a Choose/When... When we are compiling in debug mode, get the highest prerelease version (1.*-*) which is non-breaki

[2018-02-07 19:12] grantbowering commented on #6159
I'm actually experiencing this same issue on Windows 10 in Visual Studio 2017, with packages that were generated via CI in a Linux environment.  I don't experience the issue if I reference the same package built on my local Windows machine, and upon further inspection, the critical difference between the resulting packages appears to be the pathing in their respective `.nuspec` files.

On the righ

[2018-02-07 19:22] rohit21agrawal commented on #4491
@awesley msbuild /t:pack is same as dotnet.exe pack.  There are workarounds available in dotnet.exe/msbuild to include P2P references in the package. See: https://github.com/NuGet/Home/issues/3891#issuecomment-330668337

@daveaglick  Backlog means that it's in the list of things that we will consider, it doesn't mean we won't be pursuing this. However, I can't give you an ETA for this right now.

[2018-02-07 19:23] rohit21agrawal commented on #4491
@juanperezADD do you have a repro project i could look at for your problem?

[2018-02-07 19:24] rohit21agrawal commented on #6544
@ankitaa123 please open a bug on the mono repository at  https://github.com/mono/mono

[2018-02-07 19:24] #6544 closed, assigned to nobody

[2018-02-07 19:31] awesley commented on #4491
@rohit21agrawal That is a highly undesirable workaround (that I will have to accept) due to the fact that it requires maintenance of such references.

This seems like a very common use case to me and I am having difficulty understanding the duration at which this issue has been allowed to persist.  Surely it is significant in reducing adoption and improving developer experience.

[2018-02-07 19:40] rohit21agrawal commented on #4491
@awesley are you worried about having to list down each P2P reference with the workaround provided and concerned that every time a P2P changes, you'll have to update this list? If that is the case, i can help you do this dynamically so it automatically obtains the list of p2p reference DLLs and adds it to your package.

I am aware that this is a significant issue and like I said, we do plan on fix

[2018-02-07 19:42] awesley commented on #4491
@rohit21agrawal That is it exactly - and a manner in which to do it dynamically would alleviate my concerns.

[2018-02-07 19:50] rohit21agrawal commented on #4491
@awesley give me some time, will spend some time over the weekend and get back to you..if you have a particular P2P scenario, feel free to attach as a zip file (or a URL if it is open source, and i'll check it out).

[2018-02-07 19:52] #6539 closed, assigned to dtivel

[2018-02-07 21:01] StingyJack commented on #6534
@emgarten

[2018-02-07 22:13] #6425 closed, assigned to zhili1208

[2018-02-07 22:13] #6424 closed, assigned to zhili1208

[2018-02-07 22:13] #6422 closed, assigned to zhili1208

[2018-02-07 22:13] #6075 closed, assigned to zhili1208

[2018-02-07 22:19] zhili1208 opened #6546 "Repo sign implementation"
- [x] Repo sign command (parameter, repo sign request)
- [x] native counter sign utility
- [ ] sign and overwrite behavior (only overwrite repo signature, repo signature as primary for unsigned package, as counter signature for signed package)
- [ ] repo sign attribute

[2018-02-07 22:41] ghost commented on #2692
So this was closed by design because no one wanted to work on it?

[2018-02-07 23:21] jainaashish commented on #2692
Currently, there is no resource bandwidth to work on it. And keeping it open, doesn't give the right picture.

[2018-02-08 01:50] emgarten opened #6547 "Add repository/commit attribute to nuspec format"
Nuspecs currently include repository type and url, this should be extended to include the commit hash.

Example:
[code]

Pack should be updated to allow passing this in from a property in the same way the repo url is set.

[2018-02-08 01:51] emgarten commented on #6492
Related: https://github.com/NuGet/Home/issues/6547

[2018-02-08 01:57] tellamon commented on #6468
Same issue here, with Xamarin.Forms from 2.3.3.175 to 2.5.0.122203, VS 2017 15.5.2

[2018-02-08 02:17] rohit21agrawal commented on #6492
@weshaggard is there particular metadata in which SHA is embedded or it can be arbitrary? We can't really use AssemblyInformationVersion/AssemblyFileVersion/AssemblyVersion as that breaks some of our version checks, but I can embed the SHA in description.

[2018-02-08 02:46] anangaur commented on #912
I find the **-** notation confusing. Instead we should have an explicit flag. In the above example, IMO 1.0.2 is the highest version of the package matching the floating version as prerelease versions are considered lower versions compared to the same versioning without prerelease portion of the versioning.

Hope I didn’t confuse you further?

[2018-02-08 04:22] emgarten commented on #6159
@grantbowering this is an issue with consuming correctly authored packages. Your issue looks like a problem with pack, would you please open a new issue for it?

[2018-02-08 06:01] lbargaoanu commented on #6538
Closing as #3389 seems the gist of it.

[2018-02-08 06:01] #6538 closed, assigned to nobody

[2018-02-08 08:48] ADD-Juan-Perez commented on #4491
@rohit21agrawal

We have decided to wait for the new version of VS 16.0 that will support the new csproj format in .NET projects (see https://github.com/dotnet/project-system/blob/master/docs/repo/roadmap.md).

Right now in the WPF projects we use a .nuspec file where we keep the dependencies updated manually (it includes references to projects and third party software such as NuGet packages).

Th

[2018-02-08 09:34] sandersaares opened #6548 "NuGet package's content files are not copied to .NET Core project but are copied to .NET Framework project"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS UI

NuGet version (x.x.x.xxx):
4.5.0

dotnet.exe --version (if appropriate):
2.1.4

VS version (if appropriate):
2017 (15.5.6)

OS version (i.e. win10 v1607 (14393.321)):
Windows 10 1709

Worked before? If so, with which NuGet version:
Unknown

## Detailed repro steps so we can see the same

[2018-02-08 18:07] karann-msft commented on #5917
This feature has been now been implemented and is live.

[2018-02-08 18:07] #5917 closed, assigned to nobody

[2018-02-08 20:19] metatem commented on #4942
Hi guys. I want to ask if there is a way to support adding a content file with Package Reference to a project but adding it as a "link" to the target project file.

I used to do that with the "install.ps1" and "uninstall.ps1" scripts, but it seems they are not supported in Package Reference mode.

Here is what I actually want to achieve: [Linking a file from a NuGet package](http://blog.stashev.co

[2018-02-08 20:27] nkolev92 commented on #4942
@metatem
What you are articulating can be achieved with content files.

https://docs.microsoft.com/en-us/nuget/reference/nuspec#optional-metadata-elements
https://blog.nuget.org/20160126/nuget-contentFiles-demystified.html.

You'd have something like
[code]
 in your package.

And then in the nuspec you can specify the copyToOutput  and build action metadata.

[2018-02-08 23:02] emgarten commented on #6548
packages.config projects use `content/`
PackageReference projects use `contentFiles/`

You can find more about immutable content for NETCore projects here: https://github.com/NuGet/Samples/tree/master/ContentFilesExample

https://blog.nuget.org/20160126/nuget-contentFiles-demystified.html

[2018-02-08 23:02] #6548 closed, assigned to nobody

[2018-02-08 23:04] emgarten commented on #6545
@Rajshall this appears to be a configuration problem with your klondike server. I suggest checking your configuration and ensuring that the server is putting the expected resources at the URL shown.

[2018-02-08 23:21] dtivel opened #6549 "Signing: incorrect GeneralizedTime handling"
There are a few issues:

* Under some unknown circumstances the DER encoded `TSTInfo.genTime` value in tests is sometimes invalid.  An example is [here](https://lapo.it/asn1js/#305902010106042A030405302F300B0609608648016503040201042085356064D03872AC4BED179B8BBE8318AB67A9626BE55D0D72288EE14E165265020811FC8A02B3B6943818113F3F3F223F3F273F223F3230323930335A3000).  This does not repro reliably and I've

[2018-02-08 23:28] mishra14 opened #6550 "nuget sources remove does not remove credentials if the sources is not in the user wide config"
steps -

1. dotnet new nuget.config
2. nuget sources add -Name test -Source random -Username testuser -Password testpassword -configfile .\nuget.config
3. nuget sources remove -Name test
4. observe that the source is removed, but the credentials are left.

Culprit code is [here](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Configuration/PackageSource/PackageSourceProvider.cs

[2018-02-09 00:31] weshaggard commented on #6492
For our corefx libraries we generally add it to AssemblyInformationalVersion and the embedded product version, which is what I recommend. However some folks also just add the information as in an AssemblyMetadata attribute. Either would work and allow folks to find the information. For the package version we also sometime drop in a version text file with the information in our packages, which is a

[2018-02-09 00:41] #6549 closed, assigned to dtivel

[2018-02-09 06:32] AmiNadimi commented on #3767
I had the same problem and updating VS 2017 solved it.

[2018-02-09 10:05] AlexaCodex commented on #6545
@emgarten How is this working with nuget.exe? As i am able to download this using the nuget install command.

[2018-02-09 10:43] nietras commented on #3136
I have these exact issues in VS 15.5.5. Building from command line using `dotnet build` works, but not from VS. So it doesn't seem resolved to me.

[2018-02-09 14:11] Serinus1 commented on #3112
Similar issue.  Seems to be part of greater issues with Visual Studio.  I just "repaired" Visual Studio.  Could be Oracle related?

Unbound from TFS source control and the package successfully installed.
[code]

[2018-02-09 16:54] Yoann-Pearson commented on #3324
We have a project which adds the nuget package 'NPM'. This package has a '_longest filename including the /package folder_' of 207 characters. This is extremely restrictive in our environment since the /package folder is not at the root of the 'trunk'. And people usually like to have their branches inside a subfolder (ex: project name).

All of this quite easily breaks the 260 character limit. Can

[2018-02-09 16:58] NN--- commented on #3324
I solved npm issue with my own NuGet which had flatten-packages package run before packaging.
This removes the nesting and somehow workarounds the NuGet issue.

[2018-02-09 17:13] joelverhagen commented on #6547
Related: https://github.com/NuGet/NuGetGallery/issues/4941.

If this starts showing up in .nuspec, we could also show this on the gallery.

[2018-02-09 19:37] emgarten commented on #6547
Would *branch* be useful information also? A user could find the branch from the commit hash, but for the gallery's purposes it might be easier to just have this info in the nuspec instead of having to track it down in git.

[2018-02-09 19:45] joelverhagen commented on #6547
Branch can change over time so capturing at pack time would be great, in my opinion.

[2018-02-09 20:01] emgarten commented on #6545
@Rajshall that seems unexpected, are you using the same version of nuget.exe?  They use the same code.

[2018-02-09 20:04] dtivel opened #6551 "Signing: get signature value of repository countersignature"
Required by https://github.com/NuGet/Home/issues/6276 and https://github.com/NuGet/Home/issues/6546.

CC @PatoBeltran, @zhili1208

[2018-02-09 21:28] dtivel opened #6552 "Test: fix root cause of test flakiness"
The new `TstInfo` tests [occasionally fail](https://github.com/NuGet/Home/issues/6549).

The root problem is that a test (`NuGet.Packaging.Test.PackagesConfigWriterTests.PackagesConfigWriter_BasicWithDifferentCulture`) introduced by the fix for https://github.com/NuGet/Home/issues/5976 changed the datetime format but didn't change it back.  If this test executed before `TstInfo` tests, the `TstInf

[2018-02-09 22:00] AlexaCodex commented on #6545
@emgarten I am not sure how to check the Package manager console version in VisualStudio
My Nuget.exe version is : 4.5.1.4879

[2018-02-09 22:39] emgarten commented on #6545
Then it should be the exact same code executing for network requests between nuget.exe and VS. Do you have any proxy settings for VS or nuget.exe that would change things?

[2018-02-09 22:53] AlexaCodex commented on #6545
This is the fiddler log of **unsuccessful** installation of package through visual studio:
![image](https://user-images.githubusercontent.com/4513589/36053804-2a3719e8-0deb-11e8-8c30-23960967fc82.png)

This is fiddler log of **successful** installation of package when installed through nuget.exe:

![image](https://user-images.githubusercontent.com/4513589/36053931-b9fcd554-0deb-11e8-8c09-8c16423ab

[2018-02-09 23:09] emgarten commented on #6545
Thanks for the trace, that is helpful. Is the difference here that in VS, packages.config projects work with your Klondike server, but PackageReference/NETCore projects fail?

[2018-02-09 23:13] #6551 closed, assigned to dtivel

[2018-02-09 23:14] #6552 closed, assigned to dtivel

[2018-02-09 23:22] AlexaCodex commented on #6545
@emgarten In VS it fails for PackageReference/Packages.config (I tired both setting for the sake if it)  settings for .Net  core application.
The .Net 4.6 framework works with packages.config
Also these libraries are  .Net standard Libraries that are failing.

Let me know if you need anything else, i don't mind even screen sharing if that helps.

[2018-02-09 23:53] emgarten commented on #6545
From an implementation perspective, the TFM makes no difference on which code paths are executed. But the style: packages.config or PackageReference does.

[2018-02-09 23:53] AlexaCodex commented on #6545
Sorry for wasting your time, i think i have resolved it. The url was wrong in VS :-(

[2018-02-09 23:53] #6545 closed, assigned to nobody

[2018-02-10 00:23] emgarten commented on #6545
Glad you were able to track it down, and thanks for the update on this!

[2018-02-10 00:39] zhili1208 commented on #545
this is in plan, but we are blocked by SQL project team now

[2018-02-10 00:45] rohit21agrawal commented on #545
@zhili1208 can you mark the bug appropriately and link it to the bug/task on SQL project team?

[2018-02-10 03:39] rhyous opened #6553 "Copy Local Setting lost on NuGet package update"
## Details about Problem

I have a solution that has a lot of plugin projects. I have well over 100 projects. The majority of them are plugins. The Plugins must have referenced dlls set to Copy Local = False if the primary system already used that plugin.

Now I need to update to the latest NuGet package. My reference is currently 1.0.7 with Copy Local = False.

[code]

Then I upgrade my nuget pac

[2018-02-10 10:02] AlexaCodex commented on #6545
Thanks for your help!

[2018-02-10 11:00] sanderaernouts commented on #6306
@emgarten I am aware of how the resolver works. But I ran into the NU1605 error again last week.

As you said:

Apparently behavior when create a new project is to threat NU1605 as an error. Which, if I understand you correctly, is wrong.

![image](https://user-images.githubusercontent.com/6184673/36061373-9a39ec52-0e59-11e8-985d-6188586fa983.png)

[2018-02-11 02:39] NickCraver commented on #5201
Just chiming in: I'm hitting this now as well and would very much like a way to turn *only* this warning off (short of `/p:NoPackageAnalysis=true`) or just remove it for everyone.

[2018-02-11 02:59] rohit21agrawal commented on #5201
@NickCraver this work is almost done. Track it @ https://github.com/NuGet/NuGet.Client/pull/2013

[2018-02-11 03:08] NickCraver commented on #5201
@rohit21agrawal I'm confused by that PR - is that allowing me to ignore *this* warning, or just *all* warnings? I see that LegacyVersionWarning is still intact there as a warning itself. Several issues note intent to remove this, but I'm confused on what the plans and options are here.

[2018-02-11 03:14] rohit21agrawal commented on #5201
Every warning will have an assigned cod, and you will be able to turn each warning on/off

[2018-02-11 04:22] jamesqo opened #6554 "[Question] How to get all tags for package using NuGet v3 API"
It looks like sometimes the tags displayed on the nuget.org website are not reflected in the metadata returned by the catalog API. Example: [this](https://www.nuget.org/packages/adam.jsgenerator/) has a `javascript` tag, but there is no `tags` attribute here: https://api.nuget.org/v3/catalog0/data/2015.02.01.06.22.45/adam.jsgenerator.1.1.0.json How can I reliably get the tags associated with a pac

[2018-02-11 11:26] gwalschl commented on #912
I agree with @patricknolan that this is a very important feature for many of us.  I too have the exact same use case as he does and would be extremely grateful if this would be implemented ASAP.  We are transitioning from using packages.config to new PackageReference in projects and would like to transition to using NuGet wildcard versioning that meets stated use case.  We are holding up this tran

[2018-02-11 13:10] NickCraver commented on #5201
@rohit21agrawal awesome news, thank you!

[2018-02-11 14:45] StingyJack commented on #6534
@rrelyea - this will be one of the things I would like to discuss on the call Chetan is arranging.

[2018-02-11 14:50] StingyJack commented on #545
Does that team have a specific presence here on GH (or elsewhere)?

EDIT: They are either not paying attention to external communication, or the [SQL team does not exist any longer](https://developercommunity.visualstudio.com/content/problem/168913/there-doesnt-seem-to-be-anyone-left-on-the-ssdt-te.html).

[2018-02-11 16:55] MikeInSwitzerland commented on #4308
Feb 2018, VS2017 v15.5.6, and this problem is still alive and kicking.

However, what eventually fixed it for me was to go into VS2017, click on Tools\NuGet Package Manager\Package Manager Settings, then, in the General tab, click on "Clear all NuGet Cache(s)".   Then I quit VS2017, restarted VS2017, right-clicked on my Solution, and "Restore NuGet Packages".

After jumping through all of these ho

[2018-02-11 20:50] anangaur commented on #912
@pranavkm I would like to change the description to the following, with your permission. Do let me know if the below covers your usecase and if you are okay with the change?

As Noel, who uses NuGet packages in PackageReference based projects,

- I would like to use floating versions that only resolves to stable versions of the package (Current behavior)
- I would like to use floating version that

[2018-02-12 01:17] pranavkm commented on #912
Sure, our team has abandoned the use of floating versions for our projects, so I'm not entirely vested in this particular feature. Feel free to rephrase it!

[2018-02-12 04:12] #5330 closed, assigned to emgarten

[2018-02-12 04:16] emgarten commented on #5330
I've merged this change for NuGet 4.7.

The header name is: `X-NuGet-Session-Id`

For PackageReference restore operations there be a single session id, for other scenarios such as auto complete, and packages.config restore there may be several different session ids due to how the code is factored. Session id in the code base is now attached to SourceCacheContext objects and in some scenarios multi

[2018-02-12 04:20] emgarten commented on #6553
Duplicate of https://github.com/NuGet/Home/issues/446

[2018-02-12 09:21] tjl10 opened #6555 "Could packages hosted on private servers become open to hackers?"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS UI

NuGet version (x.x.x.xxx):
3.4.4

VS version (if appropriate):
2015 (14.0.25431.01 Update 3)

OS version (i.e. win10 v1607 (14393.321)):
Win10 v1709 (16299.192)

## Detailed repro steps so we can see the same problem

1. Host a package on a private nuget server.
2. Install that package in a project.
3. Open the p

[2018-02-12 09:40] brunoamancio commented on #4193
"ClosedAs:NotRepro"
So, in which VS2017 build was this solved?

[2018-02-12 09:43] tjl10 commented on #6555
Just read the [blog post on package signing](https://blog.nuget.org/20170914/NuGet-Package-Signing.html) which sounds like it would help this.

But is there any workaround while waiting for these features to be implemented?

[2018-02-12 11:02] creyke commented on #6003
This is quite a fundamental blocker for Mac users of .NET Core adopting the VSTS SDLC (or indeed any NuGet-based enterprise SDLC).

Are there plans to address this? Are the dependencies blocking it moving / being nudged?

[2018-02-12 13:32] ChristophLindemann opened #6556 "contentFiles metadata incorrect when building with Nugetizer?"
When using nugetizer to create packages with contentFiles the generated `<contentFiles>` metadata incorrectly includes the `contentFiles\` folder in the path.

This results in `<Compile>` items instead of  `<Content>` items being generated during nuget restore

## When doing:

**NuGet.Build.Packaging**: 0.2.2 and also lates dev version 0.2.0-dev-build0023

When building the following .nuproj
[code

[2018-02-12 14:50] rhyous commented on #446
I see that #6553 is very similar to this one.

However, I am not sure they are the same. The ability to choose the value on install would be a nice feature enhancement. Erasing an already chosen value on upgrade is a bug and an unexpected change.

The problem is that values we've chosen are being removed by what the UI is stating is an Update. It is quite ubiquitous in the industry to persist sett

[2018-02-12 16:13] awesley commented on #5877
Is it the case that #4491 should be included in this checklist?

[2018-02-12 18:58] rohit21agrawal commented on #5877
@awesley https://github.com/NuGet/Home/issues/6285 is tracking that work and is included in the list in the OP.

[2018-02-12 19:00] abpiskunov opened #6557 "Initial restore on project open does not happen randomly in latest vsuwpt branch"
## Details about Problem

\\vwdbuild01\Temp\antonpis\repro\VerifyRunCommandAndArguments-Failure-devenv.16340.png

Zhi is our hotseat next week.
I’ll have him check versions in 15.7 branches versus vsumain…and do an insertion into vsunuget if vsumain is behind the times.

From: Nat Ayewah
Sent: Friday, February 9, 2018 4:12 PM
To: Kevin Pilch <kevinpi@microsoft.com>; Anton Piskunov <Anton.Piskunov@

[2018-02-12 21:31] zhili1208 commented on #6555
nuget is using all enabled source to resolve dependency, that's why nuget send a request to nuget.org for your case. the workaround is disable nuget.org here.

[2018-02-12 21:35] zhili1208 commented on #6554
moved to nuget.org issues

[2018-02-12 21:35] #6554 closed, assigned to nobody

[2018-02-12 22:42] pepone opened #6558 "Error occurred while restoring NuGet packages: System.InvalidOperationException"
I getting this error with Visual Studio 15.5.5, I have a solution with several .NET Core projects, all the projects has a reference to [zeroc.icebuilder.msbuild](https://www.nuget.org/packages/zeroc.icebuilder.msbuild/) NuGet package I create.

I have[ Ice Builder](https://marketplace.visualstudio.com/items?itemName=ZeroCInc.IceBuilder) extension installed

My NuGet package defines a new project [

[2018-02-13 01:03] clairernovotny commented on #2375
Please re-open this.... we do want size in the v3 feed, there's people following https://github.com/NuGet/NuGetGallery/issues/2957 for it.

[2018-02-13 03:38] wli3 opened #6559 "Allow project with DotnetToolReference=RestoreProjectStyle to add additional PackageReference when marked with metadata"
Tools CLI ask

So CLI can add package and specify the `Microsoft.NETCore.Platforms` version using the temp project to restore

Relate https://github.com/NuGet/Home/issues/6198

[2018-02-13 03:40] wli3 commented on #6559
@emgarten @nkolev92 this is the follow up issue from last Thursday's meeting.  Sorry that I didn't catch the specific metadata you mentioned that existed and passed all the way down. Could you add it here?

[2018-02-13 04:13] #6527 closed, assigned to emgarten

[2018-02-13 07:42] RamazanBIYIK commented on #5477
I have same issue. I am using a private Nuget Server and from that server a private package in my visual studio 17  asp.net core project. When ı prepare and launch dockerfile with build command it turns:

My NuGet.Config file is:

[code]

MyDockerfile is:

[code]

The error pops up at `RUN dotnet restore` command.  Is there any solution for that?

[2018-02-13 09:26] lbargaoanu commented on #3389
I'm interested in solving this. I guess there are many options. I would mention two. Not caching version lists and having a separate MaxAge setting for version lists. What would work for you?

[2018-02-13 10:16] jayaramdas commented on #1298
![image](https://user-images.githubusercontent.com/36440245/36143858-4b8280da-10d2-11e8-8a98-2a6ed4fed190.png)

Hi i am working on xamarin cloud test, I am trying to push the code/script/file  into cloud by using package manager console.
after opening PM> used to " appcenter login" login command  and Authentication succeeded code is opened in new window.
But unable to code code and paste in packag

[2018-02-13 10:28] jayaramdas commented on #1298
I am trying in Visual Studio Enterprise 2017 trial version

[2018-02-13 11:09] Guillaume-Fortin commented on #6468
In my computer with vs 2017 15.5.6, Msbuild.exe is in execution and lock xamarin.forms package file.
Update work when i kill Msbuild.exe  instance

[2018-02-13 17:32] pranavkm commented on #3389
@lbargaoanu there's already a max age of 30 minutes. The problem is invalidation of caches for dependent package versions when any one package's version list updates. IMO, a simple fix would be to invalidate all cached version list from a feed when any of them is updated. Removing the caching entirely might be problematic especially if you're working with floating versions - every build with resto

[2018-02-13 18:10] lbargaoanu commented on #3389
Yes, but the problem is the setting applies both to version lists and packages. How are the version lists supposed to be updated? That doesn't happen now, right?

[2018-02-13 19:23] zhili1208 commented on #6558
Did this work in any version of VS 2017?

[2018-02-13 19:33] Bloodday commented on #6468
Seems that the problems is the Xamarin.Android.SupportV4 Package.

i have updated Xamarin.Forms with Ignore dependencies option, then i was updating the packages one by one until trying to update the Xamarin.Android.Support.Animated.Vector.Drawable Package. I tried to uninstall the package to install it again, but then, the same error again: the collection is read only

Then another error came out

[2018-02-13 20:02] vsfeedback opened #6560 "Clicking "Report Abuse" link in Nuget pages lead to a 404 page for a package coming from VSTS packages feed"
The link is on `nuget.org` which is inappropriate when the package is not coming from this source.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/184612/clicking-report-abuse-link-in-nuget-pages-lead-to.html
VSTS ticketId: 553839_
_These are the original issue comments:_
(no comments)
_These are the original issue solutions:_
(no solutions)

[2018-02-14 00:17] JVimes opened #6561 "Nuget.exe prerelease update broken when -Id present"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 4.5.1.4879

OS version: win10 v1703 (15063.850)

## Detailed repro steps so we can see the same problem

1. Create a new WPF app, "WpfApp1"

2. Install package MahApps.Metro v1.6.0-alpha**0128**. Note this is *not* the latest alpha.

3. On the command-line, run:

        nuget update WpfApp1.sln -Id MahApps.Metro -Prerelease

[2018-02-14 00:39] joelverhagen opened #6562 "When downloading a package, the expected package ID and version should be asserted"
Consider the following scenario.

1. All packages on NuGet.org must have a repository signature (i.e. new packages get signed)
1. A malicious actor has hacked into NuGet.org and has the ability to mutate blob storage.
1. The hacker submits EvilNewtonsoft.Json 9.0.1 with some virus in it.
1. Hacker waits for the package to become available on NuGet.org.
1. Hacker replaces the blob of Newtonsoft.Jso

[2018-02-14 00:59] #6529 closed, assigned to rohit21agrawal

[2018-02-14 01:46] jp2masa commented on #6515
Thanks for the answers.

[2018-02-14 01:46] #6515 closed, assigned to nobody

[2018-02-14 03:14] Kyle-Muir commented on #3308
I'm going to add my comments here since I don't think this warrants a dedicated issue of it's own.

As @ferventcoder indicated this issue is frustrating because nuget.exe (version: 4.5.1.4879) doesn't provide any feedback that these files are being excluded even when passing `-verbosity detailed`.

It would have been much simpler to diagnose and fix if there was any indication at all that my expli

[2018-02-14 06:47] #6492 closed, assigned to rohit21agrawal

[2018-02-14 06:47] #3606 closed, assigned to rohit21agrawal

[2018-02-14 09:45] davidfowl commented on #6279
@rrelyea I see this is both a pri 0 and on the backlog. Any chance we can re-triage this?

[2018-02-14 12:16] forki opened #6563 "NuGet is restoring wrong version if referenced indirectly from lib"
Original issue by @pshrosbree https://github.com/fsprojects/Paket/issues/2976

The attached projects shows an inconsisteny when referencing packages indirectly. Just run `dotnet build` in the `app` folder and see it fail with `NU1608`:

![image](https://user-images.githubusercontent.com/57396/36203754-ed41debe-1188-11e8-987f-14d8a3d3c055.png)

The problem is the following. In the `lib` project we

[2018-02-14 14:25] lbargaoanu commented on #3389
A separate setting for version lists seems [simple enough](https://github.com/lbargaoanu/NuGet.Client/commit/d05341acbc1d762fcbe3dedddb76884c372a37cc).  I guess invalidating the cache by hand can be done outside NuGet. Find the folders for sources that have versions for that package and then delete all the version lists from those folders.

[2018-02-14 16:40] cwardcode commented on #4126
Any idea of when this will be added? :(

[2018-02-14 17:12] delphyne commented on #1946
to anyone who finds this issue while trying to use Cakebuild...

[code]

...will get you past the issue.

[2018-02-14 18:36] dtivel opened #6564 "Signing: improve DER GeneralizedTime handling"
DER GeneralizedTime parsing can be further improved to increase fidelity with less code by taking advantage of `DateTime.TryParseExact(...)`.

Also, in tests, the revocation date's fractional seconds are truncated [here](https://github.com/NuGet/NuGet.Client/blob/7461cdf55e1da8e8fea43eccca8df1af4db1e0e0/test/TestUtilities/Test.Utility/Signing/CertificateAuthority.cs#L243), which means the actual r

[2018-02-14 18:41] dtivel opened #6565 "Signing: SignatureUtility.GetCertificateChain(...) does not check all chain statuses"
https://github.com/NuGet/NuGet.Client/blob/7461cdf55e1da8e8fea43eccca8df1af4db1e0e0/src/NuGet.Core/NuGet.Packaging/Signing/Utility/SignatureUtility.cs#L484 does not check all chain statuses and it should.

[2018-02-14 19:12] #6421 closed, assigned to rohit21agrawal

[2018-02-14 19:13] rohit21agrawal commented on #6354
closing this. Currently this can be achieved by setting Publish=true along with PrivateAssets=all

To apply it to every Package Reference, yo can use an ItemDefinitionGroup that does this.

[2018-02-14 19:23] emgarten commented on #4897
I would say this is complete as part of the perf work for CLI 2.1

[2018-02-14 20:44] zhili1208 opened #6566 "Respect upper bounds of Version Range when updating in UI, PMC and dotnet package update"
Hi everyone at NuGet.org.

I’m using new format of the nuget package management that is fully integrated with MSBuild, it is very awesome and work very good except that it have one really odd error.
In old format(packages.config), we could use `allowedVersions` to limit version of allowed nugets, in this new format Version range should specified in `Version` tag of the `PackageReference` but
we ha

[2018-02-14 21:19] dtivel opened #6567 "Signing: small changes to NativeCms"
- [ ]  Dedupe `X509_ASN_ENCODING` and `PKCS_7_ASN_ENCODING` flags with `CMSG_ENCODING`.
- [ ]  The [`detached`](https://github.com/NuGet/NuGet.Client/blob/e1625065971453ccabd11759faf53dac3c4d241d/src/NuGet.Core/NuGet.Packaging/Signing/Native/NativeCms.cs#L13) flag is unused.

[2018-02-14 21:50] weshaggard commented on #6492
Thanks for fixing this. Can I also suggest you consider porting the change to your release branches so that servicing events will have these markers.

[2018-02-14 22:18] #6315 closed, assigned to nobody

[2018-02-14 22:22] emgarten commented on #6039
My plan for this was to add the diagnostic info headers from responses to a hashset persisted in `SourceCacheContext`. At the end of an operation unique info headers would be logged to ILogger.

`SourceCacheContext` is unique an operation, and is passed through the entire stack. At the top level the command could decide if it wanted to display this info or not, and if it did, read it from the cach

[2018-02-14 22:24] emgarten commented on #5710
This is a general problem which now also exists in MSBuild since it checks project compatibility.

[2018-02-14 22:25] emgarten commented on #5438
I'm not sure that there is a good way to fix this without degrading performance.

[2018-02-14 22:26] emgarten commented on #4831
@rohit21agrawal please close this is if this is already done.

[2018-02-14 22:30] emgarten commented on #2035
This seems like a breaking and unexpected change for calls.

[2018-02-14 22:30] #2035 closed, assigned to nobody

[2018-02-14 22:30] #2079 closed, assigned to nobody

[2018-02-14 22:46] jamalkaksouri opened #6568 "Microsoft.EntityFrameworkCore.Tools.DotNet Rolling back package changes!!!"
Install-Package : Detected package downgrade: Microsoft.NETCore.App from 2.0.3 to 2.0. Reference the package directly from the project to select a different version.
 ASPNetCoreIdentity (>= 1.0.0) -> Microsoft.EntityFrameworkCore.Tools.DotNet (>= 2.0.1) -> Microsoft.NETCore.App (>= 2.0.3)
 ASPNetCoreIdentity (>= 1.0.0) -> Microsoft.NETCore.App (>= 2.0.0)
At line:1 char:1
+ Install-Package Microsof

[2018-02-14 22:51] #4831 closed, assigned to rohit21agrawal

[2018-02-14 22:53] rohit21agrawal commented on #3308
@Kyle-Muir thanks for bringing this to my attention. Agree this is an issue and I have started working on fixing this such that it will warn for each file that is excluded because of the default exclude wildcards. These warnings will be suppressible in the csproj file (or via the -Properties ) switch.

The feature itself will land in NuGet.exe 4.7.0 (equivalent to VS 15.7).

[2018-02-14 23:23] #6565 closed, assigned to dtivel

[2018-02-14 23:34] dtivel opened #6569 "Signing: improve testability of signing infrastructure"

[2018-02-14 23:59] #6029 closed, assigned to emgarten

[2018-02-15 00:01] emgarten commented on #6029
`IVsSolutionRestoreStatusProvider.IsRestoreCompleteAsync` will true once all nominations and restores are complete.

This will be available as a MEF export. The interface will be part of https://www.nuget.org/packages/NuGet.SolutionRestoreManager.Interop/4.6.0-rtm-4825 and can be used as an embedded interop type (Same as NuGet.VisualStudio).

[2018-02-15 00:24] mishra14 commented on #6412
@zhili1208 has taken this task. Dupe of https://github.com/NuGet/Home/issues/6546

[2018-02-15 00:25] #6412 closed, assigned to mishra14

[2018-02-15 00:29] mishra14 commented on #5420
We should revive https://github.com/NuGet/NuGet.Client/pull/1523 when possible.

[2018-02-15 00:54] PureKrome opened #6570 "Reduce UI refreshes in install and update tabs of Package Manager UI"
The Manage NuGet Packages for <Solution|Project> in Visual Studio is refreshing _far too much_. it feels like it's based on too many window-like events.

It would be really nice if the UI only _automatically_ refreshes when:

- The UI is first opened.
- A tab <Browse|Installed|Updates|Consolidate> is selected
- The package source is changed (new item in drop down is selected)
- Include Pre-Release

[2018-02-15 02:00] emgarten commented on #6568
Based on the error message this is the correct behavior due to a conflict between packages.

[2018-02-15 07:20] guFalcon commented on #4553
Ok. I thought that the update to the unlisted version is the way it's supposed to work.
How else do I 'deprecate' a package if it doesn't update?

IMO:
* Package should update to unlisted version
* Unlisted packages should no longer show up in lists online
* You shouldn't be able to (newly) install unlisted packages

So the update to the unlisted version is OK here, isn't it? (is there something I

[2018-02-15 14:16] ajsmith27 commented on #6232
I'm having this issue on v2.1.4.

I specify a specific source and all sources from my global NuGet.Config file (can't get a local NuGet.Config to be recognised anywhere in the project structure but that's another issue) are searched.

Example command:
`dotnet add "API.csproj" package Swashbuckle.AspNetCore --source "https://api.nuget.org/v3/index.json"`

Logs are emitted showing that sources other

[2018-02-15 14:40] #6569 closed, assigned to dtivel

[2018-02-15 15:37] chrisgilbert commented on #6467
Hi there, we've also encountered this problem.  It affects our CI builds in a problematic way, because the `Version` tag overrides the `VersionPrefix `and `VersionSuffix` tags as well as explicit command line options.  Here's an example csproj:

[code]

Here's what happens when you build it with a `VersionSuffix` (desired behaviour):

[code]

Now, if you open that csproj file in Visual Studio 2017

[2018-02-15 16:05] StingyJack commented on #6570
Similar devcomm request - https://developercommunity.visualstudio.com/content/problem/185791/nuget-package-manager-ui-refreshes-even-when-you-l.html

[2018-02-15 16:15] StingyJack opened #6571 ""Unable to find package" error when updating is too vague"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS UI

NuGet version (x.x.x.xxx):
w/e VS 2017 has

dotnet.exe --version (if appropriate): its not used

VS version (if appropriate):
15.5.4

OS version (i.e. win10 v1607 (14393.321)):
Windows 10 "StartMenuCantFindPrograms" edition

Worked before? If so, with which NuGet version:
i dont know

##

[2018-02-15 17:02] TheJayMann opened #6572 "Nuget fails with TFS credential provider"
In about 90%+ of the cases when using the nuget task in a TFS 2017 release definition, using version 4.0.0, while also allowing access to the OAuth token, nuget failes with an InvalidOperationException, stating that the process has exited.  Following the stack trace, I found that it occurs in the PluginCredentialProvider class in an anonymous delegate defined in the Execute method.  A call to proc

[2018-02-15 17:09] crysyn commented on #5828
We are able to reproduce this on a minimum spec'd cloud system with a single CPU core... Version 2.1.3 .net core. Not sure if this information is helpful. We are swapping to a system with more cores as we believe this is how we remedied it in the past.. Will update shortly.

EDIT: Multiple cores did indeed remedy the situation with no other changes.. It barely spiked any of them above 33% but it d

[2018-02-15 18:03] #6567 closed, assigned to dtivel

[2018-02-15 19:58] emgarten commented on #6571
@StingyJack thanks for the repro steps! 🍰

Is this happening from the powershell console? or nuget.exe?

In the UI NuGet is careful to message that the constraint is coming from allowedVersion. This looks like a bug where install is going around the checks.

[2018-02-15 20:50] StingyJack commented on #6571
Its reporting that error in the VS Errors List, and I'm using the VS "manage nuget packages for solution" UI. The message was copied from that list and pasted here.

I only use the package manager console for running package reinstalls or my own VS scripts (its got a the $dte handy). The keyboard is faster than the mouse, but not when retyping package names over and over.

EDIT: Is that cake is in

[2018-02-15 21:32] ForrestTrepte opened #6573 "Is it possible to sort by logical version instead of alphabetically?"
I am working on a project that uses the v2 API to retrieve packages within a range of versions. For example, this is intended to return all versions greater than 9.0.0:

[code]

It appears that this doesn't work to find version 10.0.0 because versions are treated alphabetically and the character '1' comes before '9'. Is there a way to format such a request so that versions 10 and above are include

[2018-02-15 21:42] StingyJack commented on #6547
I've tinkered with using projecturl to point to the TFS build that originated the package. Perhaps a set of origination uri's for changeset/commit, branch ident, etc.

Please no git or nuget.org specific implementations.

[2018-02-15 22:02] StingyJack commented on #6504
If you have any package references in your project (like the ones that can come as part of a web  templates) that were sourced from nuget.org, this can also happen.

Can fiddler or another http trace be used on your workstation to see if VS is attempting to contact any internet sites?

[2018-02-15 22:09] zhili1208 commented on #6572
#4004 is a mono issue, Did you hit this on windows or mac?

[2018-02-15 22:11] zhili1208 commented on #6570
we should review all refresh event, make sure this is no unnecessary refresh

[2018-02-15 22:12] PureKrome commented on #6570
@StingyJack these two replies hurt. hurt. really. really. hard....

and

Just use this product with a number of projects and have heaps of nugets in a project or even in a solution!

EDIT: Ha! just as I posted, @zhili1208 posted also :) So thanks for looking into this and giving it some nice tags :)

_REALLY_ appreciate it, @zhili1208

[2018-02-15 22:27] zhili1208 commented on #6573
Moved to nuget.org issue, close this one

[2018-02-15 22:27] #6573 closed, assigned to nobody

[2018-02-15 22:38] emgarten commented on #6547
These strings are free form, type currently allows any source control system name, so TFS should work fine.

[2018-02-15 22:50] ferventcoder commented on #3308
@rohit21agrawal So what about fixing the bug? If a user indicates explicitly that they want a file/folder in the package and it doesn't happen, warning or not, it's still a bug. A workaround should not be required either. That's why Chocolatey corrected this behavior in our version of NuGet years ago.

[2018-02-15 23:00] rohit21agrawal commented on #3308
@ferventcoder  unfortunately, the way the application is written, will require substantial re-work to determine if something was included as a result of being hardcoded or as a result of wildcard. It's especially more difficult with ``` dotnet.exe pack / msbuild /t:pack ``` where msbuild resolves all the wildcards and passes NuGet a full list of files.

For now, a reasonable workaround of includin

[2018-02-15 23:02] erict-powersoft commented on #6504
That’s a great thought.  Starting NuGet Package Manager Console, VS2015 tries to get to a bunch of sites, all seemingly related to certificates (see list below).  Once it’s done that, access to the GUI is swift, until VS has shutdown

Interestingly it seems to access the same sites when first starting VS (not verified if they’re identical).

There’s also an attempt to tunnel to raw.githubuserconte

[2018-02-15 23:04] TheJayMann commented on #6572
Never said this was the same as #4004, rather that the same problem was occurring, even though a workaround was put in place.  I was actually able to resolve this problem, but the code changes are still on my work PC.

This is on Windows and does not involve mono.

[2018-02-15 23:08] ferventcoder commented on #3308
@rohit21agrawal  August 28, 2014 - that's when I logged the bug and informed the team. I was hoping for at least a warning then. I'm glad that you are working to finally address this now, although I'm not sure if *reasonable* bears in mind given that much lead time to fix the architecture.

That aside, thank you for finally doing something about this.

[2018-02-16 00:01] rohit21agrawal commented on #3308
@ferventcoder I understand your concern and frustration at the delay in fixing this issue. We are a small team, and as you can see we have over 900 issues in our backlog which we need to prioritize based on user impact. This is apart from all the new features that we have added over the last year to make the user experience better. While I can't tell you the historical reason at why there was so m

[2018-02-16 01:36] ferventcoder commented on #3308
@rohit21agrawal no worries. I was part of the NuGet team from 2010-2011ish (non-softie).

[2018-02-16 01:40] ferventcoder commented on #3308
@rohit21agrawal well that was enough to get me to file the issue https://github.com/NuGet/NuGetGallery/issues/5495

[2018-02-16 08:15] martinsuchan commented on #6520
Hi, any chance this is related to my issue with broken NuGet restore since VS 15.6 Preview 4?
https://developercommunity.visualstudio.com/content/problem/195751/nuget-broken-in-vs-2017-156-preview-4-error-0x8000.html

[2018-02-16 10:33] rokx commented on #4516
You cannot install MS Build Tool 2017 on Window Server 2012 (not R2). So this workaround is needed.

[2018-02-16 14:27] TheJayMann commented on #6572
This is a quick patch which appears to have fixed the issue for me (I was able to run the build and release twice in a row with success for the first time).

[code]
Best I can say is that, for some reason, on my setup, the credential provider sometimes completes so quickly that any attempt to get the ProcessName property throws an InvalidOperationException due to the process already having exited.

[2018-02-16 18:03] kelvinvm commented on #4459
FWIW, you can now specify AfterTargets="Pack" in the PostBuild event. (You'll have to edit the csproj file manually.) I'm using v 15.5.5.

[2018-02-16 18:36] nkolev92 commented on #6520
@martinsuchan
I don't think so.
They issue you're hitting is a generic error to me. It's very unlikely it's related to NuGet.

I think 15.6 - preview 5 is out thoguh, can you please try that?

[2018-02-16 18:52] emgarten opened #6574 "External credential provider support for headers and query string parameters"
External credential providers should be able to contribute headers and query string parameters to http requests made by HttpSource to enable auth for additional protocols beyond basic auth.

Auth support in NuGet is currently limited to NTLM and username/password credentials using `NetworkCredential`.

https://github.com/NuGet/NuGet.Client/blob/3cfa0d51e338c32aa16ac05098cd7b74d595717c/src/NuGet.Co

[2018-02-16 20:54] #6547 closed, assigned to nobody

[2018-02-16 21:10] emgarten opened #6575 "Add support for requesting nomination data for projects"
GetPackageSpec should block and request nomination info from the project system when there is no data present. The current behavior is to return null which ultimately causes a failed restore when project details are missing.

This requires a way to query the project system for that information instead of just waiting until it is pushed to the nomination API.

### Expected flow
Test explorer **->**

[2018-02-16 21:13] emgarten commented on #6558
The issue is that the project system hasn't yet sent the list of PackageReferences in the project to NuGet at the time restore begins.

Root cause is likely: https://github.com/NuGet/Home/issues/6575

[2018-02-16 21:31] #6564 closed, assigned to dtivel

[2018-02-16 21:39] emgarten opened #6576 "Warn when nuget.org v2 is used instead of the v3 endpoint"
The client should log a warning during restore if `https://www.nuget.org/api/v2/` is used and suggest that `https://api.nuget.org/v3/index.json` should be used instead.

Benefits of v3:
* Trusted source support for package signing
* Improved performance on the client and reduced server load when using flatcontainer (static files) instead of the odata feed.

If a restore has both the v2 and v3 endp

[2018-02-16 21:51] qJake commented on #4459
@kelvinvm That sounds like a good workaround, could you post a complete XML snippet that we would put into the .csproj file so I am understanding you correctly?

[2018-02-16 21:56] GeorgeAlexandria commented on #3324
Can you build the nuget under `.net462`?
If so we will use the **DOS Device Paths** to solve this issue.

[2018-02-16 22:04] kelvinvm commented on #4459
[code]

$(NuGetPath), $(NuGetSourceDebug), and $(NuGetSourceRelease) are OS-level environment variables. The conditionals push to different feeds for debug vs release builds, and also ensure that these targets are not run by Jenkins, etc.

[2018-02-16 22:07] rzteux commented on #4459
Thanks for this code snippet, I was able to produce a similar one, but not so clean :)

[2018-02-17 00:48] NattyNarwhal opened #6577 "NuGet can't parse service index"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 4.5.1.4879

dotnet.exe --version (if appropriate): n/a, but also "Mono JIT compiler version 5.13.0 (more-aix-fixes/1eaeb8e Fri Feb 16 15:35:44  2018)"

VS version (if appropriate): n/a

OS version (i.e. win10 v1607 (14393.321)): AIX 6.1

Worked before? If s

[2018-02-17 01:31] ElanHasson opened #6578 "Question: How to copy the dependencies to the runtime directory"
I followed the examples in #5674 and am able to resolve and download all dependencies to a folder.

I'd like to be able to copy the appropriate lib files from those folders into the folder for my execution environment for a specific TargetFramework. I was able to find https://github.com/NuGet/NuGet.Client/blob/870340673ba75a95407ab55ce1f46f57fe9bf25b/src/NuGet.Core/NuGet.PackageManagement/Utility/

[2018-02-17 05:38] dasMulli commented on #6369
I'm using custom concatenation successfully. I'm no longer sure this should be done in NuGet itself, especially if I'd be the only user..

[2018-02-17 13:34] NickCraver commented on #4790
I'm hitting this on build servers now as well - which version of the SDK should we see it resolved in?

[2018-02-17 15:19] ap0llo commented on #5602
I would really like to have this feature in the NuGet client. Are there any updates (or perhaps even a roadmap) you can share?

[2018-02-17 17:49] Xonshiz commented on #6324
Thanks @jainaashish for the link. Was having same problem, this fixed it... 👍

[2018-02-18 09:28] KevinBurton commented on #5621
I am not able to see the "obvious circular reference". I am on Visual Studio for Mac with a .NET Core application. In order to make the project references more portable I have created NuGet packages for most all of my library projects. On the particular project I am working on it is a very simple solution that has a code project and a test project. The project compiles and builds just fine. The un

[2018-02-18 18:15] 0username commented on #5979
Hello. Sorry for necroposting. What do you think about this [commit](https://github.com/0username/NuGet.Client/commit/355532169461d688d5d650b7a7bc03759682db25)? I tried add support of **PackageReference** to **NuGet** **CommandLine**  (**CLI**) for legacy projects. It's works, but was tested manually, because don't understand how adds this feature to existing tests.

What works:

- Creating depend

[2018-02-18 21:39] anangaur opened #6579 "Enhance the experience for the testing of packages in development"
https://twitter.com/Mpdreamz/status/965325828455321600
![image](https://user-images.githubusercontent.com/14800916/36357321-20ee36a6-14b1-11e8-93ec-c84e6c904dfa.png)

[2018-02-19 02:50] xen2 commented on #6091
Interested in this feature.

In case the fact it's a breaking change is a blocker, it could be done in .nuspec?
i.e. `MyBuildTools.nuspec` could override the default `PrivateAssets` when it is referenced in another project.

Note: I am personally fine if implemented as a breaking change.

[2018-02-19 06:14] patnolan opened #6580 "Nuget Restore does not work with pre-release Versions"
## Detailed repro steps so we can see the same problem

1. Create Nuget feed with only pre-release versions
2. Create Project (.csproj) with reference to nuget package using floating version i.e. <PackageReference Include="[package name]" Version="3.*" />
3. Perform Nuget CLI Restore as part of build process using Nuget feed

## Error Received
Unable to find a stable package [package name] with ve

[2018-02-19 12:08] RamazanBIYIK opened #6581 "Unable to see my Private Server inside NuGet.Config file with docker"
I have ASP.Net Core 2.0 project and ı am using packages from nuget.org and My Private Server. I succesfully launch my API with visual studio. But when issue come to docker it gets complicated. It was not seeing my private server at the beginning because of NuGet.Config file was absend inside project directory. This time nuget see only 1 of sources(Nuget.org or my private server).

NuGet product us

[2018-02-19 12:29] sharwell opened #6582 "NuspecFile is not an up-to-date check input"
## Details about Problem

NuGet product used: Visual Studio 2017 version 15.6 Preview 5

NuGet version (x.x.x.xxx): Built in

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): See above

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version: Unknown

### Detailed repro steps so we can see the same problem

1. Create a project with the fol

[2018-02-19 14:38] qJake commented on #4459
That's fantastic @kelvinvm, thank you for sharing! 😄

Now, if only Microsoft would put this into the official Visual Studio tooling, we'd be set!

[2018-02-19 18:44] #5800 closed, assigned to nobody

[2018-02-19 20:13] jamesqo opened #6583 "[Question] Why do some packages show up twice in the catalog API?"
There appear to be some packages showing up twice here: https://api.nuget.org/v3/catalog0/page0.json, e.g. `Autofac` and `Antlr`. Is there any reason for this?

[2018-02-19 21:15] bdcoder2 opened #6584 "NuGet Package Manager Console fails to initialize powershell host..."
## Details about Problem

Using Visual Studio 15.5.6 on Windows 10, 64bit.

All details regarding this 4-day adventure have been posted at / on:

https://github.com/PowerShell/PowerShell/issues/6189

https://stackoverflow.com/questions/48837473/visual-studio-2017-unable-to-initialize-powershell-host

https://developercommunity.visualstudio.com/content/problem/199976/visual-studio-failed-to-initial

[2018-02-19 21:20] bplumlee-sh commented on #6018
I too would like this feature. We have to reformat dozens of configuration files after upgrading NuGet packages.

[2018-02-20 01:35] xen2 commented on #890
Bump: for [Xenko](https://xenko.com), we reduced package from 260mb to 140mb by using 7z inside the package (automatically decompress on install). We reused Microsoft.DotNet.Archive to deduplicate files too.

However, since there is no init.ps1 anymore in new NuGet, we can't rely on that anymore...

[2018-02-20 07:29] maartenba commented on #6583
The catalog is basically an event stream. So whenever a change happens to a package (list, unlist, delete, intentional reflow from the NuGet team, ...), it will have an entry in there.

[2018-02-20 09:09] tjl10 commented on #6555
Is there a way today to use the nuget.org source to browse for new packages, but disable nuget.org source for existing packages?

Or change the order of the source resolution so nuget.org is only used for resolution if the package is not resolved by another source?

[2018-02-20 12:26] nietras commented on #6382
[code]
does not update. If say 1.2.4 is installed, and a 1.2.5 is available then this command will not update to 1.2.5. If however I write:
[code]
It will change to 1.2.5. But I can't do that in my scenario, I need to update to latest version.

[2018-02-20 12:32] nietras commented on #6382
What you can do then is to remove and then update:
[code]

[2018-02-20 17:13] skofman1 opened #6585 "Should I put .mdb or .pdb files up on NuGet?"
@define-private-public commented on [Sun Feb 18 2018](https://github.com/NuGet/NuGetGallery/issues/5504)

I'm a little confused by this.  At the moment, I've got two instances of MonoDevelop configured.  One where it's generating `.pdb` files, and the other one where it's making `.mdb` files.  When packing & submitting my library, is there one that I should be giving preference to?  IIRC, they are

[2018-02-20 17:14] esencu commented on #4488
Have this issue with UWP project in VS15.5.6

[2018-02-20 18:01] zhili1208 commented on #6585
@define-private-public mdb file is generated by xbuild and pdb file is generated by msbuild. I believe mono is moving from xbuild to msbuild now. So I think you should be giving preference to pdb files.

[2018-02-20 18:32] zhili1208 commented on #6555
Unfortunately there is no way to do that today, source resolution is not one by one, all source are processing parallel

[2018-02-20 18:52] mishra14 commented on #6336
@dillibabun Please let us know if you are still facing this.

[2018-02-20 18:52] #6336 closed, assigned to nobody

[2018-02-20 18:53] mishra14 commented on #6377
@ArchieCoder Please let us know if you are still facing this issue.

[2018-02-20 18:53] #6377 closed, assigned to nobody

[2018-02-20 18:54] mishra14 commented on #6430
@Tiberio-B Please let us know if you are still facing this issue.

[2018-02-20 18:54] #6430 closed, assigned to nobody

[2018-02-20 19:19] define-private-public commented on #6585
Okay.  At the moment I'm using `mono` as provided by their .debs (not the ones in the ubuntu repos).  It is generating .pdbs instead of .mdbs.  I'm worried if they are portable or not.  Is there some flag/magic no. in the .pdb file itself I can check to see if it's a Portable PDB?

[2018-02-20 19:19] mzalves opened #6586 "NuGet.exe -NoServiceEndpoint will avoid appending service url suffix"
## Details about Problem

NuGet product used (NuGet.exe):

NuGet version (4.4.1.4656):

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):
Microsoft Windows [Version 10.0.15063]

Worked before? If so, with which NuGet version:
No

## Detailed repro steps so we can see the same problem

1. Create a repo in Artifactory like https://compan

[2018-02-20 19:35] nkolev92 commented on #6580
@patnolan
PackageReference restore does support prerelease version.

Can you provide a repro?

Please note, that per the way NuGet ranges are implemented:
[code]

[2018-02-20 19:49] nkolev92 commented on #6584
@bdcoder2
From glancing at it, this looks like a known issue, with PS 2.0.
Workarounds/solutions discussed here:
https://stackoverflow.com/questions/12638289/embedding-powershell-v2-0-in-net-app-on-windows-8-rtm

Related:
https://docs.microsoft.com/en-us/nuget/release-notes/known-issues#opening-package-manager-console-fails-with-objectsecurity-exception

[2018-02-20 19:50] #6555 closed, assigned to nobody

[2018-02-20 20:03] dtivel opened #6587 "Signing: random timestamping failures"
Occasionally timestamping fails with a nonce mismatch failure.

The root cause is that [`CryptEncodeObjectEx(...)`](https://msdn.microsoft.com/en-us/library/windows/desktop/aa379922(v=vs.85).aspx) has some additional requirements that are not guaranteed by a completely random sequence of bytes.

An example timestamping failure (with additional local logging detail) is below:

[code]

[2018-02-20 21:13] mishra14 opened #6588 "Enable data analytics for Include Prerelease"
We should enable data analytics on the include prerelease setting in VS.

[2018-02-20 21:17] mishra14 commented on #6588
cc: @zhili1208 @rohit21agrawal

[2018-02-20 22:24] #6587 closed, assigned to dtivel

[2018-02-20 22:31] dtivel opened #6589 "Signing: API for stripping repository signature/countersignature"

[2018-02-20 23:35] #6583 closed, assigned to nobody

[2018-02-20 23:36] mishra14 commented on #6583
Closing this as a question.

[2018-02-20 23:43] nkolev92 commented on #6579
I guess the intent here is to use this for testing?

For example in my day-2-day flow I have some extra targets that let me add a new source and new global packages folder, so each time I have a new iteration of the package restored.

Personally, I'm not confident that "teaching" NuGet PR to work with individual nupkgs is a good idea, but there's definitely some improvements we can do here.

[2018-02-21 00:02] nkolev92 commented on #6579
I updated the title a little bit.
We can come up with a better out of the box experience for this scenario.

The easy workaround here for customers facing this is to define a new global packages folder, by potentially adding a new nuget config file, in the root of the project where they are working.
[code]

Ofc, you can always use some msbuild goo, but lots of people would be more comfortable with

[2018-02-21 00:36] anangaur commented on #6579
I don't think it would solve the problem. I guess the intention is to replace the same version package in the project on every restore.

May be if we had the `nuget locals all -clear` for individual or set of packages then that might have helped?

[2018-02-21 00:44] nkolev92 commented on #6579
Yeah, I forgot to mention it...they'll just do locals clear -globalpackagesfolder when ready for a new version.

That's the best you can do without any work and msbuild tricks.

[2018-02-21 03:03] bdcoder2 commented on #6584
Thanks for the reply.

Unfortunately, NONE of the above "solutions" have worked for me under VS 15.5.6 --

When trying to open the Package Manager Console, the window just hangs with the message "Initializing Powershell host..."

The command prompt NEVER appears, rendering Nuget Package Manager useless.

I have a second system (duplicate hardware) with the same version of Visual Studio (NuGet Pack

[2018-02-21 05:32] jnormen opened #6590 "Dotnet restore gives 401 and nothing seams to help when compse docker yml"
I can run Dotnet restore in package-manager in VS .Net without any problem.
I can run my project in Docker from Visual Studio as well. But when I will compose my yml file the command for Dotnet Restore will give 401 against my private VSTS packages.

I have NuGet.config and I have also tried to use --configfile for Dotnet restore and pointed out my NuGHet.config but still 401...

When I ping insid

[2018-02-21 05:59] RamazanBIYIK commented on #6581
Ok i figure it out. My NuGet.Config file was wrong. When ı delete

[code]
that it worked.

[2018-02-21 05:59] #6581 closed, assigned to nobody

[2018-02-21 09:32] nietras commented on #4699
What is the status of this? It's been several months, and this does not seem to have been added yet. I need this as well.

[2018-02-21 15:05] bdcoder2 commented on #6584
Just tried to install a NuGet Package...

OUTPUT WINDOW:

[code]
ERROR LIST WINDOW:

[code]

[2018-02-21 15:53] solfried commented on #4491
In VS2017 under project properties, Select the Package tab.
There is an option there to Generate NuGet package on build.
This works for me on .Net Standard 2.0 libraries

[2018-02-21 15:56] rtaylor72 commented on #3537
Ran into a problem with our build server on the "dotnet restore" step for TFS 2017.  If the nuget.config file has a file share location (instead of a internal NuGet server), but still has the 'protocolVersion="3"' property, you will get these "C:\Program Files\dotnet\sdk\2.1.4\NuGet.targets(103,5): error : Object reference not set to an instance of an object." errors in the build on the call to "R

[2018-02-21 16:59] ghost commented on #5802
Is this changed? Any setting i have to change? I still see this output in every build.

[2018-02-21 17:31] bdcoder2 commented on #6584
This finally worked for me:
https://developercommunity.visualstudio.com/content/problem/199976/visual-studio-failed-to-initialize-the-powershell.html

[2018-02-21 18:13] PatoBeltran opened #6591 "Ensure NugetLockService doesn't deadlock waiting for the UI thread"
NuGetLockService should not require the UI thread. This makes it have a possible deadlock if anything inside the lock that needs the UI thread goes to another thread and when trying to resume, the resource is blocked by a thread waiting on the lock.

The code from `EnsureNuGetAndVsProjectAdapterCacheAsync` needs to be refactored to make sure the code is only running the necessary processes inside

[2018-02-21 18:25] zhili1208 commented on #6585
added mono people @mrward

[2018-02-21 18:38] karann-msft commented on #6532
As we discussed, the report will have a link to open an issue on our GitHub home repo.

[2018-02-21 18:50] mrward commented on #6585
[Mono 5.0](http://www.mono-project.com/docs/about-mono/releases/5.0.0/) switched to using the Roslyn C# compiler. This generates .pdb files.

[2018-02-21 18:55] Troncek commented on #3891
Any update on this yet?

[2018-02-21 19:27] karann-msft opened #6592 "packages.config (PC) to PackageReference (PR) Upgrader"
Moved to -> https://github.com/NuGet/Home/issues/5877

[2018-02-21 19:47] #6592 closed, assigned to nobody

[2018-02-21 19:48] terrajobst commented on #4699
@rrelyea, what are your thoughts on making the cut for an upcoming release? It's probably too late for 2.1, but it's a high hitter in the UX. What's the next train this could catch?

[2018-02-21 21:13] nicswan commented on #3050
+1 for at least removing "normalization" on package restore. If I specify 0.1.1.0 in my packages.config, use that - it shouldn't go looking for package 0.1.1.  Then the next time I build these packages, I can enforce semantic versioning, but as it is everything breaks after Nuget 3.3.

[2018-02-21 21:26] anangaur opened #6593 "NuGet error messages refer to project.json for UWP PackageReference based projects"
Eg.

C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Microsoft\NuGet\15.0\Microsoft.NuGet.targets(178,5): Error : Your project is not referencing the "UAP,Version=v10.0.14393" framework. Add a reference to "UAP,Version=v10.0.14393" in the "frameworks" section of your project.json, and then re-run NuGet restore.

[2018-02-21 22:24] NattyNarwhal commented on #6577
Appears to have been a Mono bug. Updating to latest Mono master branch solved it. (Though NuGet on my platform still isn''t working quite yet... those are other issues though.)

[2018-02-21 22:24] #6577 closed, assigned to nobody

[2018-02-21 22:42] mishra14 opened #6594 "Update to mef imported nuget lock service in vs solution manager"
We should analyze and change the `NuGetLockService` instance in `VSSolutionManager` to be MEF imported instead of creating a new one, which is currently done [here](https://github.com/NuGet/NuGet.Client/blob/98fd6e140c80c3932d6e857b456ee5120751ae46/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/IDE/VSSolutionManager.cs#L43).

[2018-02-22 00:16] anangaur opened #6595 "Pack doesn't respect SolutionDir from commandline to look for packages if there are more than one sln files in the folder hierarchy"
*From Paulo on mail:*

I have a project that has a dependency on Newtonsoft.Json version 10.0.3 and compiles just fine.

However, nuget pack throws this error:

Found packages.config. Using packages listed as dependencies
NuGet.CommandLine.CommandLineException: Unable to find 'Newtonsoft.Json.10.0.3.nupkg'. Make sure the project has been built.
   at NuGet.CommandLine.ProjectFactory.AddDependencie

[2018-02-22 00:26] johnseghersmsft opened #6596 "nuget command line update does not remove old package references in .csproj when repository locations are different"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx):4.3.0.4406 (obtained via VSTS NuGet Tool Installer task

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):Win Server 2016 v1607 (1

[2018-02-22 00:44] #6584 closed, assigned to nobody

[2018-02-22 01:27] nkolev92 commented on #5802
@MrBjorn
It is changed, this message is now at the "normal" level.

The average VS user has this set to minimal.

You can check your verbosity in VS by going to Tools -> Options -> Projects and Solutions -> Build and Run -> MSBuild project build output verbosity.

[2018-02-22 01:58] mishra14 commented on #6525
Fixed by https://github.com/NuGet/NuGet.Client/commit/430cb7a9ec4e7f977e8947a571cdadca366cc468.

[2018-02-22 01:58] #6525 closed, assigned to mishra14

[2018-02-22 02:03] mishra14 commented on #4699
@terrajobst I have moved it to Priority 0 to reflect the request.

[2018-02-22 02:14] terrajobst commented on #4699
Thanks!

[2018-02-22 02:18] mishra14 commented on #6276
@PatoBeltran is this done?

[2018-02-22 02:45] mishra14 commented on #6585
@define-private-public please let us know if you are still blocked on this.

[2018-02-22 02:53] mishra14 commented on #6590
@nkolev92 this looks like a VSTS auth issue. Can you please see if this is same as the one that you are planning to work on?

[2018-02-22 02:55] mishra14 commented on #6595
cc @rohit21agrawal

[2018-02-22 03:03] mishra14 commented on #6441
@ermshiperete please let us know if you are still blocked by this.

[2018-02-22 03:03] #6445 closed, assigned to nobody

[2018-02-22 03:36] define-private-public commented on #6585
I'm using Mono 5.x right now, so it is generating PDB files,  I'm just not sure if they are portable or not.  Like I asked yesterday, is there someway I can inspect the file to tell if it is a portable PDB?

[2018-02-22 05:10] nkolev92 commented on #6590
@mishra14
Part of the auth experience, but not necessarily directly related to what I'll be looking into.

@jnormen
Does this happen when you're not running inside a docker image

[2018-02-22 05:21] jnormen commented on #6590
@nkolev92
Hi, It suddenly started to work for me. Not sure if it's temporary or not. I did nothing. My keys are active in VSTS and so on. I know that I also have some random problem on Mac host in VSTS that make my dotnet restore go bananans 4 of 5 times with some socket error. But don't know if that is related.

`An error occurred while sending the request
Error: SecureChannelFailure (One or more

[2018-02-22 05:55] thrnkumar opened #6597 "Nuget flatten true along with copyToOutput true not working"
Hi,
Please find below the nuspec configuration which I tried to use to create the nuget package, but when I install this package to any consumer, the text file is placed inside the contentFiles folder and not under the root. Please check what I have done wrong and let me know:

<?xml version="1.0"?>
<package>
  <metadata minClientVersion="3.3.0">
    <id>ClassLibrary9</id>
    <version>1.0.0</vers

[2018-02-22 06:06] paulomorgado commented on #6595
I'm *Paulo*.

[2018-02-22 06:07] rohit21agrawal commented on #6595
@paulomorgado does the newtonsoft.json nupkg exist  in the solution packages folder on disk?

[2018-02-22 06:17] paulomorgado commented on #6595
As far as I can tell, yes. It's where the project itself picking it for referencing.

This is happening with version 4.1.0.2450 of nuget.exe.

If you point me to the commit for this version, I could try to debug it.

[2018-02-22 06:38] paulomorgado opened #6598 "Why does NuGet.Build have a dependency on NuGet.CommandLine if it doesn't use it?"
[NuGet,Build 2.12.0](https://www.nuget.org/packages/NuGet.Build/2.12.0) has a dependency on [NuGet.CommandLine](https://www.nuget.org/packages/NuGet.CommandLine/), which makes sense to me.

But, as far as I can tell, it doesn't use it.

Wouldn't it make sense to have a package that includes a version of NuGet.exe and adds MSBuild properties to its location?

[2018-02-22 07:14] nkolev92 commented on #6590
Hmm, weird.

The Mac issues sound weird.
Does  --disable-parallel make a difference at all?
There were some weird issues with that, but in mono, never heard of this error with dotnet.exe

[2018-02-22 08:11] jnormen commented on #6590
@nkolev92  I can do a test with  --disable-parallel
I know there is issues up regarding this iOS Xamarin dotnet restore issue https://github.com/Microsoft/vsts-tasks/issues/6429 one more has the problem, but no feedback at all regadring this... it's random... And I have tried different nuget versions but the same. But this is another topic. just wanted you to know if it might be related but I thin

[2018-02-22 08:16] nkolev92 commented on #6590
Yeah, they're definitely not related.

Those exceptions would happen auth or no auth.

If you still hit the auth issues, a fiddler trace or an equivalent would go a great way to help us investigate this.

[2018-02-22 08:20] jnormen commented on #6590
@nkolev92 can't do any fiddler in VSTS tasks on build. Regarding the odd random socket problem.
The other problem I cannot create now. It just works :/ So if it happens again I will let you know it a new thread I guess? I have built the docker yml all day with no 401 problems at all. So maybe it was something temporary with the services in vsts I don't know :( and can't reproduce it... tried a new

[2018-02-22 10:20] chiragcSharp opened #6599 "EPPlus OOXML, when generating excel file then status bar dose not showing AVG and SUM for the selected range of values."
Hi,

I'm using EPPlus to generate the excel file for various reports, I have numeric values in one column, if I select the range of that column the bottom status bar not showing the Average and SUM of the selected values. It only shows the count of the selected range. Please find the attached Image for more details.
![issue](https://user-images.githubusercontent.com/36402952/36532906-0439646a-17e8

[2018-02-22 11:27] paulomorgado commented on #6595
As far as I can tell, yes! But NuGet.exe is not telling me where it's looking for it.

[2018-02-22 12:06] paulomorgado commented on #6595
I've tried with the latest version (nuget.exe 4.5.1)  and the issue seems to have been resolved.

Nevertheless, when I choose verbosity detailed, the error message should mention the full path of what's looking for.

[2018-02-22 14:25] jnm2 commented on #4537
Every tool I've written so far that works with NuGet feeds has had to work around this bug.

[2018-02-22 15:55] paulomorgado commented on #6595
OOPS! Looks like it's back with 4.5.1.

The detailed output is:

[code]

I tried using ProcMon to get where nuget.exe is trying to retrieve 'Newtonsoft.Json.10.0.3.nupkg' from and there's no mention of it in the capture.

nuget.exe tries to access "<solution dir>\src\packages" and the project is at "<solution dir>\src\<project dir>" and the packages directory is "<solution dir>\packages".

Is ther

[2018-02-22 16:31] AnisAli commented on #6159
@emgarten @grantbowering

I found the actual problem which caused this issue. The path of the content file in the csproj files is in windows format (backward slash).  By making it in Unix format (forward slash) fix this problem.
**BEFORE**
` <PackagePath>contentFiles\any\any\MyPackage\package.zip</PackagePath>`

**AFTER**
` <PackagePath>contentFiles/any/any/MyPackage/package.zip</PackagePath>`

Th

[2018-02-22 18:04] dtivel opened #6600 "Signing: incorrect encoding used"
[`SigningSpecifications.Encoding`](https://github.com/NuGet/NuGet.Client/blob/e2fb49fed454bcdd48c53efcb40ba26a50be761e/src/NuGet.Core/NuGet.Packaging/Signing/Specifications/SigningSpecifications.cs#L47) is incorrectly used all over the place.  It is only intended to be used for signature content, nothing else.

[2018-02-22 18:10] ermshiperete commented on #6441
@mishra14 This is actually still a problem. Trying to force it to use MSBuild 15 also doesn't work:

[code]

[2018-02-22 18:42] dtivel opened #6601 "Signing: SignedPackageVerifierSettings.VSClientDefaultPolicy is unused"
[`SignedPackageVerifierSettings.VSClientDefaultPolicy`](https://github.com/NuGet/NuGet.Client/blob/e2fb49fed454bcdd48c53efcb40ba26a50be761e/src/NuGet.Core/NuGet.Packaging/Signing/Verification/SignedPackageVerifierSettings.cs#L72) is not used anywhere.  Instead, `SignedPackageVerifierSettings.Default` is used and `Default` settings happen to match `VSClientDefaultPolicy` settings.

[2018-02-22 18:48] nkolev92 commented on #6590
Yeah, not sure, it's possible that there were some issues with the VSTS services.

Yeah, feel free to open a new thread if you still face any issues.

Unfortunately authentication issues are very hard to investigate without a reliable repro or at least a fiddler trace.

You good with closing this issue @jnormen ?

[2018-02-22 19:11] #2606 closed, assigned to nobody

[2018-02-22 19:18] #3177 closed, assigned to nobody

[2018-02-22 19:42] jnormen commented on #6590
@nkolev92  yes you can close it :) thank you. It still rocking today so must have been some temporary thing.

[2018-02-22 19:52] zhili1208 commented on #640
close it, if this still repros on VS 2017, feel free to reopen it.

[2018-02-22 19:52] #640 closed

[2018-02-22 19:55] #794 closed

[2018-02-22 19:58] nkolev92 commented on #996
I could not repro this.
Lots of changes have happened since this issue was created.

If anyone has a reliable repro, please create a new issue, sharing that.

[2018-02-22 19:58] #996 closed

[2018-02-22 19:59] #821 closed

[2018-02-22 20:00] #997 closed

[2018-02-22 20:04] #890 closed

[2018-02-22 20:06] #967 closed

[2018-02-22 20:07] nkolev92 commented on #969
We've done a lot of pack improvements in this area, and we're currently adding more pack validation to make sure authors create valid packages.

As such, I'll close this issue.

[2018-02-22 20:07] #969 closed

[2018-02-22 20:08] mishra14 commented on #5368
Please let us know if you are still blocked.

[2018-02-22 20:08] #5368 closed, assigned to nobody

[2018-02-22 20:09] #988 closed

[2018-02-22 20:18] #6590 closed, assigned to nobody

[2018-02-22 20:19] PatoBeltran commented on #3295
@joelverhagen can you take a look at this and see if this is still a relevant concern?

[2018-02-22 20:21] PatoBeltran commented on #3299
@zhili1208 is this issue still relevant?

[2018-02-22 20:22] nkolev92 commented on #1831
@rrelyea Did you find the bug status and number here?

Closing it as external.

[2018-02-22 20:22] #1831 closed, assigned to rchande

[2018-02-22 20:25] nkolev92 commented on #1860
It's been almost 2 years and we haven't had any progress on this issue.

As a lot of things have changed since then, and we're not planning on shipping updates to VS 2015, I'll close this.

Please create another issue if this still a problem.

[2018-02-22 20:25] #1860 closed, assigned to jasonmalinowski

[2018-02-22 20:28] rohit21agrawal commented on #3295
This should be moved to NuGet gallery

[2018-02-22 20:28] nkolev92 commented on #1980
Closing this issue, as we haven't had any activity on it.

Please open another issue if you're facing similar problems.

[2018-02-22 20:28] #1980 closed, assigned to jasonmalinowski

[2018-02-22 20:36] nkolev92 commented on #3361
Issue moved to [NuGet/docs.microsoft.com-nuget #718](https://github.com/NuGet/docs.microsoft.com-nuget/issues/718) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-22 20:36] #3361 closed, assigned to karann-msft

[2018-02-22 20:37] nkolev92 commented on #3364
This is redundant right now, as the project.json.lock file is dead.

We're working towards a true lock file to enable repeatable builds.

I think it's safe to close.

[2018-02-22 20:37] #3364 closed, assigned to nobody

[2018-02-22 20:41] livarcocc opened #6602 ".Net Core 2.0 Nuget packages not being restored on build server"
_From @Petermarcu on February 21, 2018 1:41_

@philultfin commented on [Sat Feb 17 2018](https://github.com/dotnet/core/issues/1271)

**.Net Core 2.0 Nuget packages not being restored on build server**

**Local Machine:** Windows 7, Visual Studio 2017 Professional 15.5.6, dotnet core 2.1.4
**Build Server:**  Windows Server 2012 R2, msbuild 15.5.180.51428, dotnet core 2.1.4, nuget 4.5.1.4879

Solut

[2018-02-22 20:42] livarcocc opened #6603 "Troubles to set up internal NuGet server for .NET Core development/publishing"
_From @Petermarcu on February 21, 2018 1:45_

@lextm commented on [Wed Feb 07 2018](https://github.com/dotnet/core/issues/1261)

A company can block internet access for its internal development machines. In such cases, an internal NuGet server would be required to host the necessary packages, so as to enable .NET Core development and publishing.

I built a detailed example and documented it in [my

[2018-02-22 20:44] nkolev92 commented on #2144
At this point, we're urging users to move to package reference where they have different type of resolution control, which we're considering enhancing with a true lock to enable repeatable builds etc.

https://github.com/NuGet/Home/issues/5602

As such, we're not planning on investing in this area.
Since there aren't too many similar requests here, I'll close this issue.

[2018-02-22 20:44] #2144 closed, assigned to nobody

[2018-02-22 20:45] #3295 closed, assigned to nobody

[2018-02-22 20:45] nkolev92 commented on #3295
Issue moved to [NuGet/NuGetGallery #5534](https://github.com/NuGet/NuGetGallery/issues/5534) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-22 20:45] nkolev92 commented on #2803
This is redundant now.

CLosing.

[2018-02-22 20:45] #2803 closed, assigned to nobody

[2018-02-22 20:47] #4897 closed, assigned to nobody

[2018-02-22 20:48] mishra14 commented on #6441
@ermshiperete  Thanks for confirming that. I have reopened the issue.

[2018-02-22 20:49] #3340 closed, assigned to nobody

[2018-02-22 20:49] nkolev92 commented on #3340
Issue moved to [NuGet/NuGetGallery #5535](https://github.com/NuGet/NuGetGallery/issues/5535) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-22 20:49] mishra14 commented on #6585
@mrward do you have more info for @define-private-public ?

[2018-02-22 20:51] #2331 closed, assigned to nobody

[2018-02-22 20:53] #4833 closed, assigned to nobody

[2018-02-22 20:54] #4722 closed, assigned to nobody

[2018-02-22 20:58] #2071 closed, assigned to nobody

[2018-02-22 21:33] #6369 closed, assigned to rohit21agrawal

[2018-02-22 22:05] cwharris commented on #5556
This is relevant for those developing frameworks. If I could specify semver for pack, I could publish an entire framework worth of libraries in a single command.

`dotnet msbuild /t:pack /p:Version=[0.0.0-dev]`

where `0.0.0-dev` is the package version of all framework packages being packed, and `[0.0.0-dev]` is the package reference version for all project dependencies.

I'm probably oversimplify

[2018-02-22 22:41] DHowett-MSFT commented on #4360
Priority 1 seems a little high for something last touched an entire quarter ago.

[2018-02-22 23:05] mishra14 commented on #6597
@thrnkumar can you please give us the nuspec file that you used. From the above description it is unclear.

[2018-02-22 23:11] mishra14 commented on #6598
@paulomorgado you are referring to an old implementation of nuget found [here](https://github.com/NuGet/NuGet2/blob/2.13/src/Build/NuGet.Build.nuspec). We no longer use that and the package is no longer updated.

THe new implementation of NuGet.Build can be found [here](https://github.com/NuGet/NuGet.Client/tree/dev/src/NuGet.Core/NuGet.Build.Tasks). The package is [here](https://www.nuget.org/pac

[2018-02-22 23:11] #6598 closed, assigned to nobody

[2018-02-22 23:23] mishra14 commented on #6599
This issue was moved to JanKallman/EPPlus#140

[2018-02-22 23:23] #6599 closed, assigned to nobody

[2018-02-22 23:24] mishra14 commented on #6599
@chiragcSharp I have moved your issue to the EPPlus repo. NuGet does not provide support for individual packages. Please contact the package owners directly, in the future.

[2018-02-22 23:27] mishra14 commented on #6602
@philultfin can you please give us repro steps that we can use to better understand your problem? Do you have a sample project that is running into this issue?

[2018-02-22 23:35] anangaur commented on #6595
@rohit21agrawal will setting the NUGET_PACKAGES env variable explicitly help? Does pack respect the env variable or command line option to state where the packages are?

[2018-02-23 00:57] thrnkumar commented on #6597
@mishra14 Please have a look at this, below is the one which I have been using. Please let me know where I have done wrong.
![netstandardcapture](https://user-images.githubusercontent.com/36723215/36573133-40807eaa-1837-11e8-8975-aa5d942a4b62.PNG)

[2018-02-23 01:12] AArnott commented on #4360
@DHowett-MSFT Your phrasing suggests we should lower the priority. Were you suggesting that over the alternative which is actually treating this like a pri-1 bug?

I create a *lot* of nuget packages that are tools-style in nature. I'd love it if this were fixed so I didn't have to hack up custom .targets all the time to do what IMO ought to be a built-in feature.

[2018-02-23 01:37] DHowett-MSFT commented on #4360
@AArnott sorry: I think this should be treated as a p1 bug if it's tagged as a p1 bug!

[2018-02-23 02:28] nkolev92 commented on #6532
As Karann said.

We will add a pointer in the report, asking users to open a github issue for any build/runtime problems they face once they switch to PR.

In there, we will try to provide them with workarounds and/or communicate with  package authors to "fix" the problem packages.

+ we will add some events for problem packages.

//cc @rohit21agrawal
I will sync up with you tomorrow on how to get

[2018-02-23 02:59] dasMulli commented on #6369
Now that I wrote that, a user on StackOverflow also asked for this: https://stackoverflow.com/questions/48926503/is-there-a-variable-in-vs2017-for-the-package-id-and-version-number

[2018-02-23 05:33] shoff commented on #4163
Huge problem still for me trying to convert a project to use PackageReference from packages.config. Lot's of Method XXX of interface XXX does not implement method etc etc. When obviously they do.

[2018-02-23 07:22] atsushieno opened #6604 "building NuGet.Client on unix: make build.sh just work"
## Details about Problem

First of all, it should be possible that NuGet.Client builds on Mac and Linux. The README.md prerequisites says it is Windows-only.

If I try to build NuGet.Client on Ubuntu 17.10 with "build.sh", it results in CoreCLR crash:

	/sources/NuGet.Client$ ./build.sh
	Installing dotnet CLI
	  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

[2018-02-23 09:02] SabotageAndi commented on #5880
I have this issue still with an actual VS2017 15.5.7.
Should the fix already included in Visual Studio?

[2018-02-23 09:28] paulomorgado commented on #6598
Thanks, @mishra14!

Is there any documentation on what those tasks are and how to use them?

[2018-02-23 09:46] paulomorgado commented on #6595
Nope!

[code]

Contents of `NUGET_PACKAGES`:

[code]

[2018-02-23 09:51] OPunktSchmidt commented on #6468
Running as Administrator solved this for me! Thanks to nicknijenhuis.

[2018-02-23 11:02] mrward commented on #6585
@davidkarlas ^

[2018-02-23 13:11] bartoszkp commented on #5368
Hi @mishra14. No, I'm not blocked anymore. I'm not developing this part anymore, and as far as I remember the workaround posted above worked for me.

[2018-02-23 14:51] DavidKarlas commented on #6585
If you are using Linux or macOS your .pdb is 100% Portable .pdb, since "native .pdb" can only be generated on Windows.

[2018-02-23 15:28] mistachkin opened #6605 "multiple targets for the nuspec file element"
Currently, the "target" attribute of the file element only supports a single target directory, e.g. "build/net40".

Normally, this is fine; however, there are some cases where it would be nice to be able to support multiple target directories without causing the nupkg (zip) file to significantly increase in size.

One example of this is being able to copy an assembly to both the "build" directory

[2018-02-23 18:26] zhili1208 commented on #3299
My current thought is adding more data event for initialization

[2018-02-23 18:27] kodty commented on #4491
Confirmed this works. Thank you solfried.

[2018-02-23 20:54] #6419 closed, assigned to mishra14

[2018-02-23 20:55] mishra14 commented on #6524
cc: @rido-min

[2018-02-23 21:44] mishra14 commented on #6598
Unfortunately we don't have awesome docs for our API. Your best source of information should be https://docs.microsoft.com/en-us/nuget/

I hope this helps. Feel free to reach out to us with a new issue for any specific problems...

[2018-02-23 22:51] mjring commented on #2987
*bump*. Also having this same issue with the build server scenario, as described by others above.

In our case, trying to stand up a TFS 2018 RTM build agent that relies on the [NuGet Install build task](https://docs.microsoft.com/en-us/vsts/build-release/tasks/package/nuget) (which uses NuGet 4.0.0.2283).

Is this still outstanding or is there a version that resolves this issue.

[2018-02-24 00:37] zhili1208 opened #6606 "Validate with RepoSign (IDE) For all v3 servers that are reposigned"

[2018-02-24 00:38] zhili1208 opened #6607 "Repo Sign: NuGet Sources sync-keys"

[2018-02-24 00:39] zhili1208 opened #6608 "Product construction stabilization variable intake"

[2018-02-24 18:31] paulomorgado commented on #6598
Well, you could start by bootstrapping the documentation and let the community chime in to add to it.

[2018-02-25 03:52] define-private-public commented on #6585
Okay.  I'm good then.  Thanks!

[2018-02-25 05:24] Tadimsky opened #6609 "CredentialProvider in MSBuild Nuget Restore?"
## Details about Problem

I have a project that has Nuget dependencies that are in our private feeds in VSTS. We have an issue where running Nuget restore via `msbuild` from the command line results in a 401 failure as it does not have credentials to access the feed.
We've been using this guide: https://docs.microsoft.com/en-us/vsts/package/nuget/bootstrap-nuget but this seems to only work if runn

[2018-02-25 16:33] clairernovotny opened #6610 "Crash: ManifestReader.ReadDependencyGroups (4.6)"
I don't have a repro package for this, but I'm seeing a crash in the NPE store crash reports (https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/issues/363) with the following call stack. This is with the 4.6-rtm branch binaries.

clr_exception_system.io.invaliddataexception_80131501_nuget.packaging.dll!nuget.packaging.manifestreader+__c._readdependencygroups_b__8_0
[code]

[2018-02-25 19:54] bchavez opened #6611 "Update-Package -Reinstall should reinstall, not update version numbers"
Once upon a time, typing `Update-Package -Reinstall` in the **Package Manager Console** meant reinstalling all packages at their current versions as defined in `packages.config` and `<PackageReference>`.

After a recent update of **Visual Studio 2017** from `15.3` to `15.5.7` seems much has changed.

Now, `Update-Package -Reinstall` means ignore the version numbers defined inside `packages.config`

[2018-02-26 09:47] ghost commented on #5802
Thanks for fast reply! I Think I still get the verbose output!? or is this the correct output with thsi setting? 

I attach a screenshot. Essentially I only want a onliner, informing if nuget Went good or bad, since it usually goes good, its disturbing see to much info about it.

Regards,
Bjorn

On Feb 22, 2018, at 02:28 AM, Nikolche Kolev <notifications@github.com> wrote:

@MrBjorn
It is changed,

[2018-02-26 15:28] ericdunn commented on #3891
Adding my voice to this. We're running in to the same issue. Just feels dirty and wrong without it auto-including project references.

[2018-02-26 18:02] zhili1208 commented on #6546
the rest part is assigned to pato

[2018-02-26 18:02] #6546 closed, assigned to zhili1208

[2018-02-26 19:44] nschwerzler commented on #3050
We are hitting the .0 version for the forth part causing an error at least once a month across our business. Request that this issues priority be increased.

[2018-02-26 19:50] InteXX commented on #3050
@emgarten

Would you comment on @StingyJack's  assessment of your position:

"This reads as 'We broke it, but aren't willing to fix it. One of you can.' Is that really what is being said?"

[2018-02-26 20:04] paulomorgado commented on #6595
After making a custom build with more detailed logging, I found out that NuGet.exe is trying to find the packages in \<solution dir\>\src instead of \<solution dir\> even when NUGET_PACKAGES is set to \<solution dir\>.

Why? I don't know!

[2018-02-26 20:15] rohit21agrawal commented on #6595
is there a repro project/solution you can attach for us to investigate this?

[2018-02-26 20:48] sayedihashimi opened #6612 "Visual Studio Mac: Error after Upgrade NuGet packages after creating a new project"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
Visual Studio Mac

NuGet version (x.x.x.xxx):
4.3.1.4445

dotnet.exe --version (if appropriate):
n/a

VS version (if appropriate):
Visual Studio Mac - 7.4 Preview (build 1026)

OS version (i.e. win10 v1607 (14393.321)):
macOS High

[2018-02-26 22:53] paulomorgado commented on #6595
I'm afraid I can't.

I'll try adding more logging to find out where nuget.exe is loosing the correct solution dir.

[2018-02-27 01:12] paulomorgado commented on #6595
Running from \<solution dir\>,
NuGet.Commands.PackCommandRunner.BuildFromProjectFile is being called with \<solution dir\>\src\\<project dir\>\\<project file\> for path.
NuGet.CommandLine.ProjectFactory.CreateBuilder is being called with null for basePath.

[2018-02-27 01:14] paulomorgado commented on #6595
Found the source of the problem. There's a solution in the <solution dir>\src folder and there seems to be no way to override it.

[2018-02-27 01:17] rohit21agrawal commented on #6595
Can you pass ``` -Properties SolutionDir= <actual solution dir> ``` from the command line?

[2018-02-27 01:53] rohit21agrawal commented on #6605
@mistachkin  You can just specify the file element twice with same source but different target to achieve this. Here is an example:

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack/NuGet.Build.Tasks.Pack.nuspec#L17-L18

[2018-02-27 01:53] #6605 closed, assigned to nobody

[2018-02-27 02:36] define-private-public opened #6613 "How to get the DLL of a dependency to be included in the build output of a project"
I've tried googling for this and scouring the NuGet docs and I've been hard pressed to find a solution to my problem.  I've got two packages: `libgphoto2` and `SharpCamera`.  The first is C# friendly bindings to the library of the same name, and the second is a friendlier interface to using a tethered camera.  Right now `libghoto2` doesn't have and dependencies, but `SharpCamera` has a dependency

[2018-02-27 04:33] GKBelmonte opened #6614 "Transitive Dependencies are referenced"
NuGet product used:

NuGet version: 4.5.1
VS version: 2015 update 3

Transitive dependencies are added as direct references to the consuming project.

There's no way of distinguishing private vs. public dependencies that I could find anywhere.
A public dependency is a dependency that the dependent will also need to reference (current default behaviour)
Described in [this ](https://stackoverflow.co

[2018-02-27 07:52] forki commented on #6563
what does priority:1 mean?

[2018-02-27 09:39] daiz93 commented on #2880
Firstly i was removing the .nuget folder located in C:\Users\YourNameHere fixed the problem. but wen i have creat another new project in VS i have the same problem

So i have do  remove this environnemental variable path value : C:\Program Files\dotnet
and update VS 17.
i'm on Windows 10 Pro.

[2018-02-27 09:43] paulomorgado commented on #6595
The only difference was that I had this warning:

    WARNING: NU5114: 'SolutionDir' key already exists in Properties collection. Overriding value.

But it's still not looking into that folder.

If I remove all `.sln` files in subfolders, `NuGet pack` works just fine.

[2018-02-27 11:17] daiz93 commented on #2880
else you can download and install this https://cloudnimble.gallerycdn.vsassets.io/extensions/cloudnimble/nugetpackagereferenceupgrader/1.0.1/1508705706028/281869/2/NuGet%20PackageReference%20Upgrader%20v1.0.1.vsix
and restart your laptop

[2018-02-27 13:16] lukas-lansky commented on #3858
Just for others seeing this: I have the same issue against Nexus. A package with a simple version like `1.2.3+09d6b7c` is succesfully stored, it's listed, but fails to be downloaded by NuGet client.

What I see when I look into URLs confirms your suspicion about escaping characters.

[code]

Note the `+` sign missing in the response. Now when I escape manually:

[code]

This is clearly problem of

[2018-02-27 13:51] mistachkin commented on #6605
@rohit21agrawal Funny, I've tried exactly that and it (apparently) causes the file contents to be included twice, resulting in a much larger NuPkg file.  Example can be seen here:

https://www.nuget.org/packages/Eagle.Tools.CLRv4/1.0.6543.59000

To clarify, the "Eagle.dll" is included twice, as it is needed in both contexts.

[2018-02-27 13:58] mistachkin commented on #6605
Example can be seen here:

https://www.nuget.org/packages/Eagle.Tools.CLRv4/1.0.6543.59000

[2018-02-27 17:28] anangaur opened #6615 "NuGet package manager does not get package version"
From Feedback Ticket 571447:
[View on Developer Community](https://developercommunity.visualstudio.com/content/problem/202752/nuget-package-manager-does-not-get-package-version.html)

The NuGet package manager is not getting the package version for one of the packages.

That causes it to also miss updates for that package.

[2018-02-27 17:35] rido-min opened #6616 "Signing: sign command fails to find untrusted self-issued certificate in certificate store"
NuGet.exe 4.7 preview (installed from https://dotnet.myget.org/feed/nuget-build/package/nuget/NuGet.CommandLine) fails to sign with a certificate if the revocation server is unavailable.

4.7 should have the same behavior as 4.6, where the sign command succeeds but produce the next warnings:

[code]

[2018-02-27 17:36] anangaur commented on #6615
@paulomorgado, is it possible to send us the misbehaving NuGet package? Or may be a stripped down version that exhibits the same problem?

[2018-02-27 18:25] anangaur commented on #6616
Btw, why two lines for the same warning code. It can be combined into one:
[code]

[2018-02-27 18:42] dtivel commented on #6616
Chain building can return 0, 1, or many failure reasons.  NuGet logs each one separately.

[2018-02-27 19:46] mhutch commented on #5725
Figured I'd chime in here instead of creating a new issue.

I'd love to have a `type` parameter on the search and autocomplete web APIs so MSBuild intellisense can provide correctly filtered suggestions for SDKs and tools.

[2018-02-27 20:56] #6600 closed, assigned to dtivel

[2018-02-27 21:08] mynkow commented on #4681
Doing my own experiment on this. Using VisualStudio 15.5.7, the nuget package reference was only updated for the framework which appears first inside `<TargetFrameworks />`.

Here is my usual flow deciding how to target multiple frameworks. Hope it helps somehow:
https://mynkow.github.io/How-to-add-netstandard2.0-to-a-C-.NET-4.5-class-library/

[2018-02-27 21:30] livarcocc opened #6617 "Cannot update to 2.1.0-preview1-final"
_From @mhosman on February 27, 2018 21:26_

## Steps to reproduce
Update from 2.0.5 to 2.1.0-preview-final using NuGet Administrator (Preview releases included).

## Expected  behavior
Update to 2.1.0-preview-final

## Actual behavior
Error: Restore package failed (no inner errors, no extra information)

## Environment data
`dotnet --info` output:

Herramientas de la línea de comandos .NET (2.1.4)

[2018-02-27 22:29] rrelyea commented on #6617
@mhosman - can you clarify the repro steps....

I not sure how to do this: "Update from 2.0.5 to 2.1.0-preview-final using NuGet Administrator (Preview releases included)."
what is NuGet Administrator? etc...

[2018-02-27 22:39] shanselman opened #6618 "NuGet -version (4.5) gets mad"
NuGet should not freak out when I do a -v ersion check.

## Details about Problem
[code]
Did something change in NuGet.exe 4.5?