[2017-04-06 19:11] dtbiedrzycki commented on #4994
@emgarten, do you happen to know why the latest packages don't show up in the Visual Studio Extension and Updates? According that tool, the latest version is the 3.4.4.1321.

[2017-04-06 19:16] emgarten commented on #4994
3.5.0 hasn't been published to the extension gallery yet. Currently the only way to get it is through dist.

[2017-04-06 23:22] hach-que commented on #4992
Yeah, that's the one.  Though that doesn't address the build-time issues I was having around framework checks (even if NuGet currently doesn't support `ReferenceOutputAssembly=false`, the MSBuild targets that happen as part of `publish` should).

[2017-04-07 00:27] livarcocc opened #4995 "Restoring only accounts for depnedency project's nuget dependencies"
_From @am11 on April 6, 2017 6:25_

Consider `A.csproj`:

[code]

is referenced by `B.csproj`:

[code]

▶️  Both csprojs are in same directory
*(in my real scenario, they are in same folder and by the virtue of glob pattern, compiling different code files)*

Running `dotnet restore --packages packages B.csproj` results in *only* restoring `newtonsoft.json` in `./packages` directory.

If I remove t

[2017-04-07 02:09] emgarten commented on #4463
@davkean when will https://github.com/dotnet/project-system/issues/1437 be fixed?

[2017-04-07 02:11] emgarten commented on #4992
What issues are you seeing with framework checks?

[2017-04-07 02:56] hach-que commented on #4992
When `ReferenceOutputAssembly=false` for a ProjectReference, the MSBuild targets still check if the frameworks are compatible, even though no assembly reference will be made.

It means that you can't have a ProjectReference to a .NET Core console project from a .NET Standard project with `ReferenceOutputAssembly=false` because it says you can't reference .NET Core from .NET Standard due to framewo

[2017-04-07 06:46] emgarten commented on #4992
@hach-que thanks for explaining it, I was able to repro this.

From Visual Studio 2017 ``ReferenceOutputAssembly=false`` is ignored and these are treated as normal project references.
From the command the property is checked and those projects are not checked for compatibility.

I verified when debugging this that ``ReferenceOutputAssembly=false`` is sent as part of nominations. NuGet should exclu

[2017-04-07 07:05] XplMarcel opened #4996 "Nuget failing to restore packages when in a conditional Itemgroup"
I'm trying to use a project configuration where i switch between ProjectReferences en PackageReferences depending on Debug or Release build.

The .csproj looks like this:

[code]

The referenced projects are within the same solution so during development i can debug and modify the referenced projects. When i switch to release, the referenced projects are build, packed and pushed to a local nuget f

[2017-04-07 07:35] v-nancyj opened #4997 "[Test Failure] Error occurs after creating .NET Core and .NET Standard project finished"
**NuGet Version:** 4.3.0-preview1-2479 (Insertable)
**VS Version:** D15VSUWPT 26406.00
**OS Version:** Windows 10 RS2_Release 15063.2.170323-1837

**Repro Steps:**
1.	Create a C# Console App (.NET Core) project.

**Expected Result:**
The project can be created successfully.

**Actual Result:**
There are some errors in ‘Error List’ after creating the project finished as below screenshot.
![407](htt

[2017-04-07 08:34] maartenba commented on #4913
Is there a spec for this somewhere?

[2017-04-07 09:21] gezzahead commented on #2405
Also reproduced in 4.0.0.2283

[2017-04-07 09:44] gezzahead commented on #4827
Are you sure it worked on 3.4.4.1321? I just tried and it failed. I think it only works in 2.8.6. I believe this is the same issue as #2405

[2017-04-07 13:26] igloo15 commented on #4991
I see now that packagereferences only looks at globalPackagesFolder. Changing that got packages to install in a new location. While this works there are still some issues. One is that all the runtime and netstandard packages also get installed to this location.

It would be nice if there was a way to separate the packages installed by the user Newtonsoft.Json, etc. and those installed automaticall

[2017-04-07 14:55] livarcocc opened #4998 "Failure to restore packages from file share in Linux in docker"
_From @MortenChristiansen on April 7, 2017 13:18_

## Steps to reproduce
On Windows 10 host machine:
* Create new .net core console application.
* Change it to target `net461`. This should not be necessary but was required by the nuget package I referenced.
* Add a nuget reference from a custom package feed served from a file share (simple nuget files, nothing else)
* Run `dotnet restore` to obser

[2017-04-07 14:55] livarcocc commented on #4998
_From @MortenChristiansen on April 7, 2017 13:45_

A bit more context: http://stackoverflow.com/questions/43139342/how-to-restore-nuget-packages-from-network-share-in-linux-docker-container

[2017-04-07 15:03] jmyersmsft commented on #4913
Details are still in progress, but it's here: https://github.com/NuGet/Home/wiki/NuGet-Package-Download-Plugin

[2017-04-07 16:08] maartenba commented on #4913
Thanks!

[2017-04-07 16:31] skofman1 opened #4999 "Nuget takes highest prelease"
@v703612 commented on [Fri Apr 07 2017](https://github.com/NuGet/NuGetGallery/issues/3760)

Hello,

We are currently doing some testing of nuget to use nuget command line in our deploy system. We would like to use the latest version of nuget but there we encountered that when you are having prereleases that it is always taking the lowest(first) prerelease and we would need the latest prerelease. I

[2017-04-07 18:09] emgarten commented on #4827
This may be the same as https://github.com/NuGet/Home/issues/2405

[2017-04-07 18:27] emgarten commented on #4996
@davkean how does the project system handle switching these values and evaluating this?

[2017-04-07 19:10] emgarten commented on #4803
Moving this to https://github.com/dotnet/sdk/issues/1100

The issue here appears to be in the SDK. I see the correct outputs from NuGet.

[2017-04-07 20:17] anangaur commented on #4965
This needs to be done as part of update --all as part of https://github.com/NuGet/Home/issues/4899

So this is essentially a dupe.

[2017-04-07 20:17] #4965 closed, assigned to nobody

[2017-04-07 22:06] jonasric commented on #4753
I'm experiencing the same issue, where using MSBuild /t:Restore to restore many projects together is failing with error similar to: "error : Unable to resolve '<my common .csproj>' for '.NETFramework,Version=v4.5'.

In my case, this error appears for several projects, and they're all referring to the same <my common .csproj>, which is a common project that almost all other projects reference (by P

[2017-04-07 22:32] anangaur commented on #4977
Proposal:
This package reference is implicitly added and managed by the SDK installed. To change the package reference version, you need to change the underlying SDK that you project depends on. [Learn more](TBD link)

[2017-04-07 23:19] sbomer opened #5000 "DotNetCliToolReference fails to restore"
## Details about Problem

Restore fails on a DotNetCliToolReference, where both the cli tool and the consumer target netcoreapp2.0. It complains that the cli tool is not compatible with netcoreapp1.0, even though I'm not using netcoreapp1.0 anywhere.

[code]

NuGet product used: dotnet.exe

[code]

Worked before? If so, with which NuGet version: Not to my knowledge.

## Repro steps

[repro.tar.gz]

[2017-04-07 23:39] mgravell commented on #4853
Context: I have changes I want to deploy in multiple fairly high usage libs: dapper, protobuf-net, stackexchange.redis, etc (including multiple MS PRs that I'm sure they'd love to see deployed). Being "bleeding edge, feel the pain", I've updated from csproj to project.json back to csproj. And the thing that makes me not want to push to nuget: this glitch, because it will actively hurt my users.

[2017-04-08 01:46] rrelyea commented on #4851
http://dist.nuget.org/tools.json (explained by schema at tools.schema.json) lists NuGet.exe versions and status for each.

[2017-04-08 02:57] NickCraver commented on #4853
@rohit21agrawal @rrelyea Is there any update here? This is a HUGE pain for us. We'll soon have to throw away the ports of projects we've done or face severe merge headaches, and we don't know which route is worse.

We have an entire pipeline of new tooling in play that works from start to finish (even if it's a workaround in place) up until the final packaging. We can't release the libraries gener

[2017-04-08 03:02] rohit21agrawal commented on #4853
@NickCraver I am working on this issue, I will update this thread very soon.

[2017-04-08 03:06] kevinchalet commented on #4853
Personally, I opted for the "custom .nuspec approach". It's not ideal, but it works:
  - https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/blob/dev/src/Owin.Security.OpenIdConnect.Server/Owin.Security.OpenIdConnect.Server.csproj#L32-L61
  - https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/blob/dev/src/Owin.Security.OpenIdConnect.Server/Owin.Security.OpenI

[2017-04-08 03:15] NickCraver commented on #4853
@PinpointTownes I'm torn on whether the bug or the workaround is worse. While it gets you to a buildable state, any lapse in adding or changing a dependency reference in the `.nuspec` (or many `.nuspecs`) along with any `.csproj` (or other `.targets`) changes will result in a schism between what's actually built and what's reflected NuGet. That quickly results in *another* set of user breaking cha

[2017-04-08 03:23] kevinchalet commented on #4853
@NickCraver well, easy: this package must go RTM soon and introducing a dependency change like the one implied by the lack of `Reference` -> `frameworkAssemblies` transformation support in the new .csproj format was unfortunately not an option for me ; so I had to move forward and find a workaround, good or bad. I 100% agree that it sucks, but it's the only one I could come up with with my (very)

[2017-04-08 03:26] kevinchalet commented on #4853
@NickCraver the cool thing is that the NuGet team is now working on a better workaround/fix, so I hope I'll be able to get rid of this ugly hack soon.

[2017-04-08 03:27] NickCraver commented on #4853
@PinpointTownes totally understood - I appreciate the thoughts. We may have to go this same route and *hope* we don't break anyone with any changes, PR, etc. I hate to put this into a dozen major projects, but it so far it seems like the only option proposed...so we have to choose a roll back to `project.json` or the more dangerous route.

@rohit21agrawal I very much look forward to updates here,

[2017-04-08 04:01] rohit21agrawal commented on #4853
Would you guys be willing to take a dependency on private bits?

[2017-04-08 05:48] gulbanana commented on #4853
In my builds, I would - i'm building packages for an internal enterprise ecosystem, so we can treat the actual library-dev process as an expert activity (and accordingly, we are already using the handwritten-nuspec workaround).

It wouldn't address the problem of OSS package authors unknowingly breaking full-framework consumers, though.

[2017-04-08 09:17] m0sa commented on #4853
Since the `.nuspec` file is emitted to `/obj`, maybe a better workaround would be to add a separate build target, depending `Pack`, that would do a "nuspec transform", adding the required framework references, and re-pack the package?

[2017-04-08 11:09] NickCraver commented on #4853
@rohit21agrawal I'm not against testing private bits (I'm already doing that - see the MVP threads) - but how would this work on a build server? These packages are built by Appveyor and published to MyGet in an automated way...I'm not sure how that could work and be private at the same time.

We may be able to temporarily build a release internally/locally for NuGet.org, but any automated feeds wo

[2017-04-08 11:47] m0sa commented on #4853
Here's the code for the workaround I've described earlier (using [Dapper's csproj](https://github.com/StackExchange/Dapper/blob/ae7a29a9f1ef7b13a67f05aaa59f3e9d9e653e7f/Dapper/Dapper.csproj) as an example). It's not ideal though, since the framework assembly extraction and nuspec patching should be per target framework.

[code]

![image](https://cloud.githubusercontent.com/assets/503702/24828651/d

[2017-04-08 12:06] buffcode commented on #3034
Same error here when adding `Microsoft.Data.SQLite` to a UWP application.

[2017-04-08 13:54] NickCraver commented on #4853
@m0sa anything stopping us from putting that into a `FrameworkAssembliesWorkarounds.targets` so we can do a few props and an include in the `.csproj`? (since we'll have to mirror in many projects at the moment) I'm certainly game to try it.

[2017-04-08 18:47] HarelM commented on #1512
I have the following scenario which I have trouble solving:
I have locally created NuGet packages created from open-source projects which are having hard time migrating to .Net core.
While I wish these project finish the migration to .Net core this is not the case.
Since I can't add reference to local .DLL file I need to locally create a nuget package and reference it in the project.
Now I need my

[2017-04-09 06:41] davidfowl commented on #1512
@HarelM I have some questions:

- Why not push those packages to a myget feed or an internal feed accessible by the CI?
- Why would you need to run install package in this scenario? Aren't you already referencing them?

[2017-04-09 06:47] HarelM commented on #1512
1. This is what I eventually did, but this assumes I have an internal feed, which might not be the case for everyone.
2. I might be doing it wrong but I haven't found a way to let NuGet know that I have a local package without using install-package command on local NuGet file.

[2017-04-09 09:34] ddynamight commented on #962
Hello guys, I got the issue when I tried adding "Microsoft.AspNet.Identity.EntityFramework" to a .NET Standard Class Library Project. But when I added it to a .NET Framework Class Library Project it worked successfully without a problem.

[2017-04-10 07:48] v-atian commented on #4884
@emgarten this issue have been fixed on Newtonsoft.json 10.0.2. Feel free to close it. Thanks.

[2017-04-10 08:39] v-nancyj commented on #4997
The package can't be installed on .NET Core and .NET Standard project as below screenshot.
![untitled](https://cloud.githubusercontent.com/assets/20632775/24853046/449135b4-1e0c-11e7-813d-5e84a16d4917.png)

[2017-04-10 09:44] gulbanana commented on #4532
VS 15.1 is out, but this fix doesn't seem to have been released.

[2017-04-10 10:52] XplMarcel commented on #4996
When i switch between "Release" mode and "Debug" mode visually it looks like this in the solution explorer:

Debug Mode:

![porjectreferences](https://cloud.githubusercontent.com/assets/14347467/24858300/0170fc4e-1dec-11e7-95e9-ac3fd1f77b61.png)

Release Mode:

![packagereferences](https://cloud.githubusercontent.com/assets/14347467/24858314/1a22b7dc-1dec-11e7-8d86-d1bbaea665a3.png)

I don't know

[2017-04-10 11:26] ezra100 commented on #1215
This worked for me on VS2017:
1. Closing VS
2. Going to `AppData/Roaming` and deleting `Nuget`
3. Going to `AppData/Local` and deleting `Nuget`
4. Reopening VS with the solution.

[2017-04-10 13:54] andrew-vdb opened #5001 "Package Manager Console failed to initialize"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (4.0):

VS version : 15.1 (26403.0)

OS version : Win7 x64

Worked before? If so, with which NuGet version: 4.0

View->Other Windows->Package Manager Console

![image](https://cloud.githubusercontent.com/assets/12871379/24864865/cb3c4754-1e05-11e7-8247-eed0c8de4123.png)

![image](https://cloud.githubuserc

[2017-04-10 14:21] andrew-vdb commented on #5001
It works if I open visual studio 2017 that has no project

![image](https://cloud.githubusercontent.com/assets/12871379/24866206/c4e1d578-1e09-11e7-9d88-acad75ac026e.png)

[2017-04-10 14:47] andrew-vdb commented on #5001
Installing this and still have the error
https://www.microsoft.com/en-us/download/details.aspx?id=50395

[2017-04-10 15:07] lassanter commented on #4777
My apologies for not being timely in my feedback.

I updated to NuGet.Build.Packaging v0.1.231 and I now see the Resources folder, but the Model files are still absent.

This is the first time I have ever reported a bug to an open source project. What more is needed for this feedback to be productive?

[2017-04-10 15:16] jnm2 commented on #4532
Yes, it would be nice to know as soon as we can remove workarounds from our projects. Will you update us?

[2017-04-10 15:20] dbreshears opened #5002 "Failed to update binding redirects for (<>). Object reference not set to an instance of an object"
From https://github.com/Azure/service-fabric-issues/issues/184

Repro steps:
Service fabric SDK  2.5.216

create new service fabric project in VS2015, adding a stateless web api service
update nuget packages for solution
select all update options (at the moment mainly Owin, Owin.Hosting, Owin.HttpListener & Newtonsoft.Json)
apply the update
Notice package manager output - "Failed to update binding

[2017-04-10 16:25] thoemmi opened #5003 "Wrong version constraint when building dependant libraries using ProjectReference and GitVersion"
I have a solution with two library projects, using VS2017. Project B has a ProjectReference to A. The version are determined at compile time by GitVersion (4.0.0-beta0011). The current version of my libraries is 0.1.0.

I create the NuGet packages using msbuild:
[code]
While both packages have the version **0.1.0**, the nuspec of B says it depends on A, version **1.0**! However, v1.0 doesn't exist

[2017-04-10 16:41] ptsoccer commented on #4488
Is there a workaround for VS2015 based solutions, or am I possibly doing something wrong? I used some of the workarounds above but it doesn't seem like my project files supports XML tags such as "RestoreProjectStyle". Currently I'm having to manually add nuget packages to my top-level win32 exe solutions every time I get a runtime error because of the missing dlls in the output directory. This typ

[2017-04-10 16:52] thoemmi commented on #5003
I also tried `msbuild /t:restore;build /p:GeneratePackageOnBuild=true`, but the result is the same.

[2017-04-10 17:22] rohit21agrawal commented on #4853
so here is the solution i am working on as of now:

[code]

The above will cause a reference to show up in nuspec as a frameworkAssemblyReference. You can put conditions for target frameworks too:

[code]

If putting Pack=true seems messy on each framework, you can make it better by using an ItemDefinitionGroup and put Pack=true as default metadata on each Reference item.

CC: @NickCraver @Pinpoin

[2017-04-10 17:26] zarenner opened #5004 "X-NuGet-Warning doesn't work when using proxy due to missing ServerWarningLogHandler"
The code that sets up ProxyAuthenticationHandler is missing ServerWarningLogHandler: https://github.com/NuGet/NuGet.Client/blob/7645448a1fbeff4bc17b9c74be115aa92c5b9b4a/src/NuGet.Core/NuGet.Protocol/HttpSource/HttpHandlerResourceV3Provider.cs#L55

As such, X-NuGet-Warning doesn't work when using a proxy (even fiddler).

[2017-04-10 17:27] kevinchalet commented on #4853
@m0sa thanks for the workaround :+1:

@rohit21agrawal sounds really great, but could `Pack` be an attribute? Something like:

[code]

[2017-04-10 17:41] nguerrera commented on #4853
@PinpointTownes Yes, msbuild 15 lets you write all metadata that way.

[2017-04-10 17:44] nguerrera commented on #4853
@rohit21agrawal I'm not sure if Pack=true is very-intuitive. I would prefer something more explicit like PackAsFrameworkReference=true.

I think we should update the SDK to make sure that implicit framework assembly references have the metadata by default.  We can also probably auto-set it if it's explicit, but matches a well-known framework assembly name. Can you file an SDK issue for that when t

[2017-04-10 17:50] rohit21agrawal commented on #4853
@nguerrera as far as i understand, avoiding implicit framework assembly references is exactly the reason we might want to have separate metadata here. We do not want all implicit framework assembly references to show up in the output nuspec, do we?

I think Pack=true might actually be intuitive because that is the metadata we set on every other file too, but I'll let that be open for discussion. A

[2017-04-10 17:55] emgarten commented on #4996
@XplMarcel if you right click on the solution and select ``restore nuget packages`` does it update things?

[2017-04-10 17:57] nguerrera commented on #4853
Are there other cases where Pack=true implies putting a reference to another asset in the nuspec and not putting a file inside the nupkg?

[2017-04-10 17:58] rohit21agrawal commented on #4853
no, but my point is that setting Pack=true should do the appropriate thing for whatever it is being set on - which maybe packing it as a file or writing it out as a reference, as appropriate.

[2017-04-10 18:18] XplMarcel commented on #4996
@emgarten The Package Manager output shows the following:
[code]
The solution explorer however doesn't show any changes at all.
I even tried to see if clearing the nuget cache before opening VS 2017 and the solution made any differences at all, but the outcome is the same.
If i try to rebuild the solution in Release mode i also get a ton of errors which indicate that those 2 faulting package refer

[2017-04-10 18:39] zhili1208 commented on #4532
@gulbanana @jnm2 I just checked VS 15.1, this fix is in that release, and I can't repro this issue any more. If you still hit the problem and get same error message, the msbuild might not be updated for some reason on your machine. If you get other error message, Please share the log, then I can take a look. thanks

[2017-04-10 18:54] rohit21agrawal commented on #5004
Thanks for the bug report @zarenner . We will investigate this as soon as we can.

[2017-04-10 18:58] rohit21agrawal commented on #4990
@Moodys-SCMTeam would really appreciate if you could share more information such as:
1) Version of NuGet being used for packing
2) Any details of the project you could share publicly. (The best bug reports often have an attached sample project which help us repro the bug to diagnose the underlying issue)

Thanks,
Rohit

[2017-04-10 18:59] rohit21agrawal commented on #5003
@thoemmi restore and build should not be done in one msbuild session. Could you try executing them separately to see if the problem still persists?

@emgarten will be better able to explain why restore and build should not be run in one msbuild session.

[2017-04-10 19:02] rohit21agrawal commented on #5001
@andrew-vandenbrink it's not immediately clear how you got into this state. Did you try to install a nuget vsix on top of what was already installed? where did you get the vsix from? In VS2017, we do not support the scenario of installing a vsix separately as NuGet is a system component within Visual Studio.

[2017-04-10 19:33] zarenner opened #5005 "X-NuGet-Warning doesn't work for v3 service index loading errors"
X-NuGet-Warning isn't logged when errors occur loading the v3 service index (e.g. a 404 / "Unable to load the service index for source..." errors).

Per https://github.com/NuGet/Home/wiki/%5BSpec%5D-Server-side-warnings-for-NuGet-client it looks like it should be logged for "all HTTP communications"

[2017-04-10 19:45] nperno opened #5006 "Authentication error restoring package from private feed when using VSTS Builds and dotnet core"
Trying to restore a private nuget package on our VSTS build server using the latest vs2017 hosted build agent.  I have tried a simple dotnet restore with the -Source argument pointing to our private feed URL. I made sure that the "project collection build service" has access to the feed as mentioned here: https://www.visualstudio.com/en-us/docs/package/feeds/feed-permissions

The package was built

[2017-04-10 20:03] jnm2 commented on #4532
@zhili1208 I was just waiting to see some release note confirming that it was time to try again. Just now, tested working on 15.1.26303.3! This resolves the `project.json(1,1): error MSB4025: The project file could not be loaded. Data at the root level is invalid. Line 1, position 1.` issue because now there is no more reason to use project.json with traditional csproj. I'm quite happy with how qu

[2017-04-10 20:47] thoemmi commented on #5003
The result is the same if I call MSBuild for each target separately.

[2017-04-10 20:52] m0sa commented on #4853
I've updated [my workaround](https://github.com/NuGet/Home/issues/4853#issuecomment-292712922). The issue with it is, that it uses the `CodeTaskFactory` which isn't supported in `dotnet msbuild`.

What's the ETA on an official fix here? Is it worth packing my workaround up into a nuget package with the MSBuild task in a DLL and a `.targets` file? Before I do that (and I hope, I won't have to do it

[2017-04-10 22:04] rohit21agrawal commented on #5003
@thoemmi i think this is a dupe of : https://github.com/NuGet/Home/issues/4790 . There is a [workaround](https://github.com/NuGet/Home/issues/4790#issuecomment-288098255) listed there too . If you think that's the issue, can you please close this out and subscribe to that issue for updates?

[2017-04-10 22:21] rohit21agrawal commented on #4777
i didn't realize you were using NuGetizer to pack your project. @kzu should be able to help you out with this.

[2017-04-10 22:23] emgarten commented on #4080
Closing as a dupe of #2836

[2017-04-10 22:23] #4080 closed, assigned to nobody

[2017-04-10 22:31] rohit21agrawal commented on #4853
@m0sa i will fix it in the dev branch within the next couple of days, however, it will be  a while before it gets  integrated into the official visual studio release or the dotnet cli release. there would still be ways ( might still be a bit of a hack) to pick up the bits published from our dev branch and use them in your projects. more details soon.

[2017-04-10 22:36] debonte commented on #4978
@alpaix

[2017-04-10 23:04] lassanter commented on #4777
My apologies for the confusion - I started by filling out the questionnaire, and it did not reference anything but the NuGet version, that I recall. It did not occur to me to add that in.

[2017-04-10 23:31] natemcmaster opened #5007 ".NET Core 2.0: restore mixes up the version of NETStandard.Library"
### Setup
dotnet.exe, 2.0.0-preview1-005418
Windows 10

### Repro
Download dotnet-CLI 2.0.0
Repro: [testapp.zip](https://github.com/NuGet/Home/files/911713/testapp.zip)

 1. dotnet new classlib -o Lib
 1. dotnet new xunit -o Test
 1. Edit Lib.csproj to match this:
[code]
 1. Edit Test.csproj to match this
[code]
  1. Add nuget.config with package feed to:  https://dotnet.myget.org/F/aspnetcore-ci-

[2017-04-10 23:36] rohit21agrawal commented on #4777
no worries, @kzu  will reach out whenever he sees this.

[2017-04-11 05:03] avluis commented on #3975
For those still having issues on a build server -- you need to install the .net [targeting/dev packs](https://www.microsoft.com/net/targeting)

[2017-04-11 06:50] andrew-vdb commented on #5001
Its also not clear for me too how do I get into this state.
I found a workaround anyway,

Assuming, Package Manager Console working fine when you open visual studio 2017
Open the solution/projects from that visual studio

(Don't double click solution directly from explorer as the package manager console will failed to initialize)

[2017-04-11 06:50] #5001 closed, assigned to nobody

[2017-04-11 08:06] gulbanana commented on #4532
`dotnet msbuild -version` returns 15.1.1012.6693
The problem I have is actually "Your project.json doesn't have a runtimes section.", which I thought was closed as a duplicate of this issue, but it might actually just be a misleading message. I'll try adding some `<RuntimeIdentifiers>` to my PackageReference-using old csprojes..

[2017-04-11 08:42] jyoungyun commented on #4972
How can I build NuGet.Client in Linux x64? When I tried to build it, I couldn't get `NuGet.Build.Tasks.dll`.

[2017-04-11 09:13] gulbanana commented on #4532
That didn't help, but I'll file a more-specific issue.

[2017-04-11 09:53] gulbanana opened #5008 "msbuild /t:pack fails to pack an sdk project with a reference to a framework project which contains a PackageReference"
This is kind of the opposite of https://github.com/NuGet/Home/issues/4532, but still occurs now that #4532 is fixed. Perhaps it's really a build issue, but it manifests as a failure to pack, because the build is done in Visual Studio using the full-framework version of msbuild.

## Details about Problem
NuGet product used: dotnet.exe and msbuild (the only ways to pack sdk projects)
NuGet version:

[2017-04-11 11:16] cihadaktaran commented on #3252
@ahmedelsaka862
I run this command: Install-Package JavaScriptSerializer
get this error: Unable to find package 'JavaScriptSerializer'.

[2017-04-11 15:14] kzu commented on #4777
I downloaded the sample, cleaned the output, built (with PackOnBuild=true) and the resulting package has the exact same binary that was built, so, I don't know what the issue might be.

Reflector shows the Resources inside the DLL, inside the pkg or outside.

Note that nugetizer doesn't built itself anything, it just packs whatever was previously built.

[2017-04-11 16:31] molnara commented on #4872
I am also running into this very same issue and would love to have a good solid container development workflow.

I am using @raRaRa solution for now which works great but I still get the "Unresolved" Info popup every time I open vscode, even though `dotnet restore` says the lock file hasn't changed and was skipped.

[2017-04-11 16:35] kraigb commented on #3987
@zhili1208 please review and close the issue if it's been addressed satisfactorily.

[2017-04-11 16:36] livarcocc opened #5009 "Nuget push fails in Debian/Docker container"
_From @17twenty on April 11, 2017 6:16_

## Steps to reproduce

Attempt to use Debian `dotnet nuget` to push to a repository.
[code]

## Expected  behaviour
`nuget` pushes to [nexus repo](http://www.sonatype.org/nexus/) - same behaviour is seen trying to push to MyGet as well

## Actual behaviour
[code]

The interesting part is that although that is stated - if you change the URI to a non valid on

[2017-04-11 16:36] livarcocc commented on #5009
Are you sure that the URL is reachable from the docker container? Or even that the URL works as a NuGet feed?

In any case, moving this over to NuGet.

[2017-04-11 16:43] lassanter commented on #4777
Interesting... I was using "msbuild /t:pack" with no luck. When I did "msbuild /p:PackOnBuild=true", everything appeared as one would expect. I'm not sure if the result of "msbuild /t:pack" is an error, but using "/p:PackOnBuild=true" works for me.

[2017-04-11 17:13] #3987 closed, assigned to nobody

[2017-04-11 17:20] rohit21agrawal commented on #5008
can you try restoring and building the project first and then doing ``` dotnet pack --no-build ``` ?

[2017-04-11 17:53] emgarten commented on #4532
``dotnet msbuild`` does not support old style csprojs.

[2017-04-11 19:10] karann-msft opened #5010 "For UWP projects, NuGet exposes an API that keeps the project file and project.json in sync"
Work related to -  For UWP projects, keep TPMinV and project.json in sync #4932

[2017-04-11 19:23] ahmedallam2995 commented on #3252
@cihadaktaran
Search for it in Nuget window not from console, Choose from results "WebApiContrib.Formatting.JavaScriptSerializer" then click install button, after installing it call namespace "using Newtonsoft.Json" in your code.

[2017-04-11 20:02] rohit21agrawal opened #5011 "ilmerge nuget.build.tasks.pack"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2017-04-11 21:16] 17twenty commented on #5009
Yeah, we can hit it with curl and it works fine.

[2017-04-11 21:17] dee-see commented on #491
Same issue here on fully updated VS2015.3. It happens randomly to everyone on the team.

It hasn't happened yet with VS2017 though,

[2017-04-11 21:29] thoemmi commented on #5003
@rohit21agrawal I can confirm that the referenced [workaround](https://github.com/AArnott/Nerdbank.GitVersioning/issues/113#issuecomment-285903085) does work. I've created following file and imported it in my `.csproj`'s:
[code]
I'll close this issue and subscribe to #4790 as requested.

[2017-04-11 21:29] #5003 closed, assigned to nobody

[2017-04-11 23:39] emgarten opened #5012 "Better restore handling of deleted feed packages"
#### Scenario
1. Restore downloads the index.json file from packagebaseaddress and it contains version 1.0.0, 2.0.0, 3.0.0
1. The feed prunes version 1.0.0
1. Later restore loads the cached index.json file and attempts to download version 1.0.0
1. The download fails because the package was not found.

When investigating a recent asp.net build issue it looked like this was leading to errors that co

[2017-04-11 23:40] m0sa opened #5013 "Pack and Restore targets don't import props/targets from PackageReferences"
I've been trying to pack up a workaround for #4853 as a nuget package (the WIP project [is here](https://github.com/m0sa/NuGet.FrameworkAssemblyPacker)), but it turns out that the `build/*` files from the `<PackageReference>` are only included in the Build target, but skipped in the Pack and Restore targets.

I was trying that on
[code]

[2017-04-12 04:07] livarcocc opened #5014 "dotnet restore failing in Docker container"
_From @willseward on April 11, 2017 17:58_

## Steps to reproduce

[code]

[code]

## Expected  behavior

Command restores packages.

## Actual behavior

[code]

### Filtering for solution file access

<img width="959" alt="screen shot 2017-04-11 at 12 53 01 pm" src="https://cloud.githubusercontent.com/assets/5386568/24923059/fab88f82-1eb5-11e7-874c-84e69c1054a9.png">

## Environment data
`dotnet

[2017-04-12 06:23] emgarten commented on #5013
@rohit21agrawal is pack excluding package content?

@m0sa As a workaround you could inject props/targets for these scenarios by writing out a props or targets file to: ``$(BaseIntermediatePath)\$(MSBuildProjectFile).<toolname>.g.props``

In the props file reference your package, or include the needed targets there.

Restore needs to exclude all package content to avoid restore outputs changing the

[2017-04-12 09:01] gulbanana commented on #5008
OK, I ran a build in Visual Studio and then dotnet pack --no-build. This created a package.
So the only problem with pack in this scenario is that it tries to perform a build (which can't succeed, since it is using core msbuild).

[2017-04-12 10:00] davkean opened #5015 "nuget does not filter netstandard projects"
_From @jmarolf on April 11, 2017 15:52_

1. Create new netstandard1.4 class library
2. Use nuget to install `Microsoft.Diagnostics.Tracing.TraceEvent` version 1.0.41

**Expected:**
either nuget tells me that this package is incompatible or it install and works without error

**Actual:**
nuget package successfully installs, but none of the types it contains can be referenced

_Copied from original

[2017-04-12 10:01] jussimattila opened #5016 "NuGet.exe pack performance problem with `..` relative path"
## Description
I'm NuGet packing our JavaScript application for Octopus Deploy to deploy to a test server. All content in the *unbundled* app creates a 40 MB NuGet package including ~8000 files. This was never a problem, as with 3.5.0 packing the app was quite quick. After upgrading to Visual Studio 2017 and NuGet 4.1.0, our build server started failing on the packaging step since it timeouts afte

[2017-04-12 14:18] chris1248 commented on #3050
Nuget version 4.0.0.2283 is also removing leading zeros:
Converting: `27.0001.02220-alpha`
to this: `27.1.2220-alpha`

Do I have to fork my own repo to fix this? I hope not.
[Edit]
This is happening on versions 3.5, 4.0 and 4.1
Version 3.4 doesn't do the name mangling, so that's what I'm going back to...
Sorry Microsoft, looks like you dropped the ball on this: Forcing normalization when no one wa

[2017-04-12 14:57] stas-lucky commented on #2748
This helped:
1. Go to Tools --> Options... --> NuGet Package Manager --> General
2. Uncheck "Skip applying binding redirects" checkbox

I use VS2015 Pro Update 3 (version 14.0.25431.01)
NuGet Package Manager version is 3.4.4

Hope that help

[2017-04-12 15:03] abatishchev commented on #2748
I would say this is a workaround. The solution would be 'smart' binding redirects that take into consideration project's guid so don't apply them on dll projects other than tests.

[2017-04-12 15:57] mabead opened #5017 "nuget install exits with code 0 when packages fail to be restored"
## Details about Problem

Using nuget.exe version 3.5.0.1938, when I use `nuget install` to restore a set of packages defined in a packages.config, nuget.exe returns an exit code of 0 even when some packages fail to be restored.

The exit code should not be 0 so that the failure can be detected by the calling script and make the build fail.

OS version: Windows 10

## Detailed repro steps so we ca

[2017-04-12 17:29] kzu commented on #4599
@rrelyea we have users hitting this in 15.1 still. It didn't make it? :(

[2017-04-12 17:51] emgarten commented on #5015
@jmarolf the targets file in the root of ``build/`` allows the package to be compatible with **all** target frameworks.

When using a targets file in the root it is expected that the targets file will handle all scenarios, including erroring when the package is not compatible.

A better structure for this would be to add the same tfm folders under the build folder as the lib folder instead of putt

[2017-04-12 18:00] rohit21agrawal commented on #5013
Pack runs in the outer build, so you need to put your target in buildCrossTargeting.

[2017-04-12 18:02] emgarten commented on #3050
@chris1248 I would expect the verbatim option to leave leading zeros in also.

In general I strongly suggest avoiding leading zeros, older clients such as 2.x and even 3.4.4 have difficulty finding these packages from local folder sources.

[2017-04-12 18:10] m0sa commented on #5013
TIL, didn't know that's a thing till now, thanks!

[2017-04-12 18:34] chris1248 commented on #3050
After talking with some colleagues here at work we decided against against using a version with leading zeros.
[Edit]
This is only an issue in the first place because of version normalization. If it had been left alone in the first place... ??

Sent from my iPhone

On Apr 12, 2017, at 12:03 PM, Justin Emgarten <notifications@github.com<mailto:notifications@github.com>> wrote:

@chris1248<https://g

[2017-04-12 18:52] mishra14 commented on #4526
This is has been fixed sometime in the recent past.

[2017-04-12 18:52] #4526 closed, assigned to nobody

[2017-04-12 18:58] #4868 closed, assigned to rohit21agrawal

[2017-04-12 19:58] DaveHarney commented on #4626
I'm trying to add this line of code in a Property Group to my csproj in an otherwise unmodified project using the ASP.NET Core Web Application (.Net Core) template in VS 2017:
` <RuntimeIdentifier>win10-x64</RuntimeIdentifier>`
Without this line of code, the project runs fine.  However, as soon as I save the the csproj, I get 4 errors which are all similar to this one:
`Unexpected dependency 'runt

[2017-04-12 21:00] jmarolf commented on #5015
@emgarten so [Microsoft.Diagnostics.Tracing.TraceEvent](https://www.nuget.org/packages/Microsoft.Diagnostics.Tracing.TraceEvent) has authored their package wrong and declared that they support all platforms when they do not?  @davkean can the project system warn when we add a reference to a dll that is incompatible with out TFM?

[2017-04-12 21:40] joelverhagen opened #5018 "Inconsistency in the casing of the "ID" abbreviation"
This error message is used in NuGetGallery (www.nuget.org) when rejecting invalid version ranged:
https://github.com/NuGet/NuGet.Client/blob/dcd728cf9ff33223cead100938a75d35773cd9c3/src/NuGet.Core/NuGet.Packaging/Strings.resx#L133

It has the abbreviation "ID" displayed as "id". This is inconsistent with the rest of the gallery.

I did a search for the possible different casings of "ID" in our NuG

[2017-04-12 21:56] ek68794998 opened #5019 "Included DLLs inside lib/ folder throw warnings"
## Details about Problem
NuGet product used:
MSBuild v15.1.1012.6693 with `Pack` target.

NuGet version:
Whatever version is included in VS2017 with the MSBuild version designated above. If this is important, let me know how I can get this version number.

`dotnet.exe --version`:
N/A

VS version:
15.1 (26403.3)

OS version (i.e. win10 v1607 (14393.321)):
win10 v1703 15165.1002

Worked before? If s

[2017-04-12 22:24] ek68794998 opened #5020 "Included DLLs inside tools/ folder throw warnings"
## Related issue: [#5019](https://github.com/NuGet/Home/issues/5019)

## Details about Problem
NuGet product used:
MSBuild v15.1.1012.6693 with `Pack` target.

NuGet version:
Whatever version is included in VS2017 with the MSBuild version designated above. If this is important, let me know how I can get this version number.

`dotnet.exe --version`:
N/A

VS version:
15.1 (26403.3)

OS version (i.e.

[2017-04-12 22:41] ericwj commented on #4337
There is in fact another problem being that whatever I tried, unless `VersionSuffix` is actually on disk, `AssemblyInformationalVersion` will not match the version used during build.

That is after realizing that unless you actually do a `dotnet clean` with the same configuration as the one you'll use to restore+build+pack+push, this value is not updated at all. It gets written to `obj\$(Configura

[2017-04-13 00:21] AArnott commented on #4337
Yes, the incremental build of this file is buggy. I mentioned this as well in https://github.com/dotnet/sdk/issues/650 but as it was a side-mention the issue was closed without fixing the incremental build issue.

[2017-04-13 01:41] #5011 closed, assigned to nobody

[2017-04-13 01:47] rohit21agrawal commented on #5020
@ekumlin thanks for the report! for now you can set ``` <NoPackageAnalaysis>true</NoPackageAnalysis> ``` to workaround this warning.

[2017-04-13 02:01] ek68794998 commented on #5020
Thanks for the suggestion!

For now we're going to probably just leave the warnings in just so we are alerted if there are other actual warnings.

[2017-04-13 05:49] AArnott opened #5021 ".NET Core projects supporting portable profiles are suddenly failing with FileNotFoundException: File not found: '*.pri'"
On completely different projects on appveyor I'm suddenly seeing PackTask failures as shown below. All these are open source projects so you can follow the links to the source code if you want.

Code-generation: [Good](https://ci.appveyor.com/project/AArnott/codegeneration-roslyn/build/75) [Bad](https://ci.appveyor.com/project/AArnott/codegeneration-roslyn/build/81#L19)
vs-validation: [Good](https

[2017-04-13 06:36] AndyTian-Devops opened #5022 "[Test Failure]Fail to create UWP project after installing latest 4.3.0 build"
**NuGet Version**: 4.3.0-preview1-2495 (Insertable)
**VS Version**: D15VSUWPT 26412.00
**OS Version**: Windows 10 RS2_Release 15063.2.170323-1837

**Repro Steps:**
1. Create a C# UWP project.

**Expected Result:**
The project can be created successfully.

**Actual Result:**
![uwperror](https://cloud.githubusercontent.com/assets/12235523/24992932/c29a635e-1fd8-11e7-8abd-760a18a1173b.png)

[2017-04-13 06:41] AndyTian-Devops commented on #5022
**More info:**
1. we can create C# console application successfully, but fail to open PM UI
2. Here is the error from Activitylog.xml
SetSite failed for package [NuGetPackage]Source: 'System.ComponentModel.Composition' Description: The composition produced multiple composition errors, with 6 root causes. The root causes are provided below. Review the CompositionException.Errors property for more d

[2017-04-13 06:58] emgarten commented on #5022
@v-atian does File > New Project work for MVC Web Applications?

[2017-04-13 08:33] AndyTian-Devops commented on #5022
@emgarten , MVC Web Applications still fail. The following dialog show after creating it.
![mvcwebapplication](https://cloud.githubusercontent.com/assets/12235523/24996840/41b4018a-1fe9-11e7-8ba6-7f56c8f77ccc.png)

[2017-04-13 09:07] emgarten opened #5023 "Restore downloads unneeded packages searching for the original id casing"
In 3.4.4 the resolver for project.json discovered all package versions from the sources, then selected the best matching version and downloaded only that package.

In 3.5.0 this regressed and now the best match for each feed is downloaded during the check for the original casing of the id/version. The download happens before the versions are compared across all sources where the feed specific best

[2017-04-13 09:15] emgarten commented on #5015
Yes, but putting things in the root of build is a common approach, and it usually works the majority of users. However the result is that on the nuget side there is no way to check compatibility.

[2017-04-13 09:41] davkean commented on #5015
@jmarolf Not sure what you are suggesting the project should check? You mean if you manually reference a binary?

The project system is getting out of the business of validating references - instead, we now rely on MSBuild . This allows a consistent experience regardless of how you add the reference (ie via editing project file, or in VS Code, etc).

If there's an invalid reference that you want M

[2017-04-13 09:47] ygeelen-tb commented on #4953
VS 2015+2017, nuget.exe v4 and dotnet.exe certainly have this issue.

[2017-04-13 11:04] yakunins commented on #802
I have experienced same problem. Cache folder is too big. 64 GB.
Gigabytes, Karl.

![image](https://cloud.githubusercontent.com/assets/2505676/25002244/cb7dc062-2062-11e7-985a-1e8d98e7d22b.png)

[2017-04-13 12:11] gulbanana opened #5024 "Packed contentFiles are included as source code even when they're some other form of content"
I've got an sdk project for building a nuget package which includes this section:

[code]

The goal is to provide typescript definition files to consumers of the package. I don't want them to be compiled as C# files, and the item isn't of type Compile.

The generated package contains the content files at the specified path. However, when my package is referenced by some project, it tries to compil

[2017-04-13 15:00] mesheets commented on #4251
This error still persists in NuGet 4.1
[code]

Two independent issues might actually be surfacing here.
1.  When restoring packages for a project, NuGet is not checking the project.json file that is specific to that project, which in this case is Foundation.DNX.project.json
2. Profile44 is not being handled correctly

The issue initially reported here relates to item 1 above.  I have since seen be

[2017-04-13 15:49] mesheets commented on #4251
Here is more on the Profile44 issue.
[code]

Referencing back to the documentation (e.g. https://docs.microsoft.com/en-us/nuget/schema/target-frameworks), the full name for Profile44 should be "portable-net451+win81" and not "portable46-net451+win81" as the NuGet error is reporting when attempting to add a NuGet packages to project "xyz" when project "xyz" (monoandroid60) includes a reference to p

[2017-04-13 17:17] csdahlberg commented on #5021
I just started seeing this in one of my NETStandard projects that includes a portable target framework. I was able to repro by creating a new NETStandard project in VS2017 and editing the .csproj to be this:

[code]

It used to build just fine, I think up until I installed the most recent VS2017 update.

[2017-04-13 17:23] kraigb commented on #4470
@emgarten I'm at the point where I can work on this now, but I'll need more details to pull a doc together.

- What are the circumstances under which an error appears? You mention "netcore app package" but that doesn't mean anything to me. Nor am I use what SDK you're referring to. I can see that it would apply to anything with the IsImplicitlyDefined tag, but where would that appear in the packag

[2017-04-13 17:56] rohit21agrawal commented on #5024
@gulbanana can you paste your generated nuspec ? (you can find it in the obj folder)

[2017-04-13 18:25] jmarolf commented on #5015
@davkean  I would prefer that nuget simply rejected this case but I understand that this is an escape hatch for package authors.  In lieu of that, I would like us to issue at least a warning indicating that the reference is incompatible with our TFM.  I assume the only sane way to do this is through MSBuild?

[2017-04-13 18:25] rohit21agrawal commented on #5021
I looked into this with the project file that @csdahlberg provided. The Pack target packs pri file if ```IncludeProjectPriFile``` is set to true, in which case, it looks at ```ProjectPriFullPath``` to see where the pri file is generated at. It turns out that msbuild does set IncludeProjectPriFile=true for this project, and set ProjectPriFullPath = D:\temp\prifilefailure\prifilefailure\bin\Debug\po

[2017-04-13 18:35] davilimap opened #5025 "Visual Studio API - Checking if a project supports NuGet"
In the NuGet.VisualStudio API, it would be useful to have a direct and fast way to check if a user's project supports NuGet. Something similar to `IVsPackageInstallerServices.GetInstalledPackages(Project)` but that doesn't perform any additional operations and just returns a bool.

[2017-04-13 18:42] emgarten commented on #4470
There are no errors. Packages marked as implicitly referenced on the PackageReference found in the SDK will have the update/uninstall options disabled in the NuGet UI. They will also not be displayed under the updates tab.

The reason for this is that to upgrade this the user needs to upgrade their SDK and not just the nuget package.

[2017-04-13 18:45] kraigb commented on #4470
What SDK are we talking about here, exactly? I need to walk through the scenario to show a few screenshots too, I think. In other words, what are the repro steps to see this in action?

[2017-04-13 18:56] kraigb commented on #3361
What information do you have on this that I can work from?

[2017-04-13 18:59] kraigb commented on #3364
I'm not clear on what the * means here, or the surrounding context for these points. It seems that we're talking about using source control for one thing, but what about "repeatable builds"? Are we talking locally or on a build server? More context please.

[2017-04-13 19:43] AArnott commented on #5021
I filed [a support forum issue with AppVeyor](http://help.appveyor.com/discussions/problems/6465-vs-2017-image-was-building-fine-then-fails-ever-since-2-days-ago) and they concur that this is a regression in 15.1.

[2017-04-13 19:45] AArnott commented on #5021
Given it's related to portable profiles, @onovotny should be aware of it. Perhaps if setting `<IncludeProjectPriFile>false</IncludeProjectPriFile>` is a workaround it can be done in his MSBuildSdkExtras package.

[2017-04-13 19:51] rohit21agrawal commented on #5021
I have verified that setting ```<IncludeProjectPriFile>false</IncludeProjectPriFile>``` works.

[2017-04-13 19:55] AArnott commented on #5021
Thanks, @rohit21agrawal. Does anyone know where the behavior change in 15.1 came from? Did msbuild make a change? @andygerlicher?

[2017-04-13 19:58] rohit21agrawal commented on #5021
@AArnott the change to include Pri files in nupkg came from NuGet itself. We fixed the issue where Pri files weren't being included for cross-targeting projects which have pri files. It seemed like checking ```IncludeProjectPriFile``` was a reasonable thing to do to determine whether there was a pri file to include or not. Whether started setting this wrongly for certain frameworks in 15.1 or not

[2017-04-13 20:04] stas-lucky commented on #2748
At least it solves problem with adding number of files on each nuget update.
I understand that sometimes changes are really required in config files. Then you need to remember about that and in case of any problems after adding (updating) NuGet packages just disable checkbox temporally again and try to update the packages.
Having real 'smart' solution would be good, but for now this is only what w

[2017-04-13 20:08] ryanabbott22 commented on #3320
Agreed! this is a major headache and took me a long time to figure out why my projects weren't building when the references in my .csproj were correct.

[2017-04-13 20:15] AArnott commented on #5021
I see the property set to true in in an Appx related MSBuild import:

[code]

This import is brought in if `'$(WindowsAppContainer)' == 'true'` , which is set to true by Microsoft.Portable.CurrentVersion.props.

That explains (I think) why this shows up for projects targeting portable profiles.

[2017-04-13 20:20] AArnott commented on #5021
I just confirmed that Microsoft.Portable.CurrentVersion.props has been setting WindowsAppContainer=true for a very long time. So this regression appears to be exclusively due to the change to nuget. Please fix this in a servicing release quickly.

[2017-04-13 20:26] clairernovotny commented on #5021
@AArnott do you want to submit a PR for this or should I?

[2017-04-13 20:28] AArnott commented on #5021
@onovotny I'm not confident about when we force either of these properties to `false` in the general case. Portable libraries *can* have PRI files, I believe. So setting it to false for all portable libraries would probably be wrong. But setting it to false if the file doesn't exist would require setting it in the middle of the build after the file would have been created if it were to be created.

[2017-04-13 20:29] clairernovotny commented on #5021
I think the only portable profiles that can legitimately have PRI files are the ones that are WinRT-only -- like win8+wpa81, etc. I *think* wp8 has it too.

[2017-04-13 20:29] AArnott commented on #5021
Please 'thumbs up' the issue to vote for it if it impacts you. I'm trying to make the case that this warrants a fix to the servicing release of VS.

[2017-04-13 20:33] rrelyea commented on #5025
Can you please explain more about the scenario?
how is your behavior going to change based on this data?
How do you deal with this situation now?

[2017-04-13 20:43] clairernovotny commented on #5021
@AArnott I've pushed 1.0.2 to NuGet with the attribute set for the profiles that shouldn't have Pri files
https://www.nuget.org/packages/MSBuild.Sdk.Extras/1.0.2

[2017-04-13 20:45] bbowman opened #5026 "Latest Nugetizer VSIX fails to install due to Merq dependency on Xamarin"
@kzu We are seeing this for our customers. Interesting details in bold. I don't think Nugetizer should have a dependency on Xamarin as it is intended to be the generic solution for nuget package authoring.

4/13/17 1:38:14 PM - Microsoft VSIX Installer
4/13/17 1:38:14 PM - -------------------------------------------
4/13/17 1:38:14 PM - vsixinstaller.exe version:
4/13/17 1:38:14 PM - 15.0.26228.9

[2017-04-13 21:22] The-Futurist opened #5027 "Define nuspec Metadata in project files"
I have a question about this (which is briefly explained on your blog [here](http://blog.nuget.org/)).

Are there any plans to make this feature available for Class Library projects that target .Net Framework?

The blog post doesn't seem to clearly state what project types do support this feature and which don't.

I'd dearly like to be able to specify the nuget properties and auto generate the pac

[2017-04-13 21:30] davilimap commented on #5025
My situation is that I have an extension that adds options for the user based on their project type. Right now, I limit the project types by file extension, which is not ideal. I want to be able to support all projects that support NuGet. This should determine whether my extension shows a certain context menu option or not, so it needs to be relatively fast. A suggestion was to get the installed p

[2017-04-13 21:30] rohit21agrawal commented on #5027
@Korporal this feature is only supported .NET Core project types. However, you can still build for the full framework by setting TargetFramework = net46 or whatever you want to target. Let me know if you have any more questions I can answer.

[2017-04-13 21:38] The-Futurist commented on #5027
@rohit21agrawal

Hi, basically I do not understand what you say. First the features seems to be present for .Net Core projects **and** .Net Standard (not just .Net Core).

Do you mean I can create a new .Net Core/Standard class library project and then manually edit the project to target some other framework like .Net 4.5?

Thanks !

[2017-04-13 21:57] anangaur opened #5028 "[Authentication] PM on VS tries to authenticate to a feed even when the authenticated feed is not selected as the package source"
Repro steps:

1. Create a authenticated VSTS feed and add the feed to nuget.config either manually or through the PM-UI
2. Select NuGet.org as Package source:
![image](https://cloud.githubusercontent.com/assets/14800916/25025928/18bbe9bc-2059-11e7-9f1b-216a2573e0f4.png)
3. Try to browse or install one of the packages from NuGet.org

Expected: Only the packages available in NuGet.org should be show

[2017-04-13 23:06] anangaur commented on #5028
This behavior seems to be sporadic for me. But when it does, it just irritates with continuous pop-ups. May be we need a policy on number of times it pops up or if we do, limit it to a lower number.

[2017-04-13 23:56] rohit21agrawal commented on #5027
Exactly. Just set ```<TargetFramework>net45</TargetFramework>``` in the csproj and you will have built a .net 4.5 library!

when i said .net core, i mean the project type is .net core and not the target framework or platform. .net core project types are the ones which have ```<Project Sdk="Microsoft.NET.Sdk">``` at the top of the project file.

[2017-04-14 00:01] eroller opened #5029 "Configuring PackageReference version when installing/updating packages through VisualStudio 2017 UI to be consistent with Semantic Versioning"
The .csproj PackageReference attribute has support for floating versions and version ranges which is a very nice feature, but when installing or updating packages through the Visual Studio UI we only get one behavior, for example:

`<PackageReference Include="Newtonsoft.Json" Version="9.0.1" />`

Which means allow any version >= 9.0.1 preferring the lowest. It would be nice to allow configuring th

[2017-04-14 01:55] AndyTian-Devops commented on #5022
@emgarten Could you close this issue, it have been fixed on latest 4.3 build 2499. Thanks.

[2017-04-14 02:25] andymac4182 commented on #3324
Any update on this?
I am running into this with a path that is long because of the system package names. `\runtime.opensuse.42.1-x64.runtime.native.system.security.cryptography.openssl\4.3.0\runtime.opensuse.42.1-x64.runtime.native.system.security.cryptography.openssl.4.3.0.nupkg.sha512`

[2017-04-14 04:59] rohit21agrawal commented on #4853
For people willing to test private bits, I have attached a NuGet.Build.Tasks.Pack.nupkg here. In order for this to work, you need to add a package reference to the given nupkg, and call ``` msbuild /t:pack /p:NuGetBuildTasksPackTargets="asasda" ``` or ``` dotnet.exe pack /p:NuGetBuildTasksPackTargets="asasda" ``` . Passing a junk value to NuGetBuildTasksPackTargets property via command line is nec

[2017-04-14 06:20] #5022 closed, assigned to nobody

[2017-04-14 06:20] emgarten commented on #5022
thanks @v-atian

[2017-04-14 11:15] Moodys-SCMTeam commented on #4990
Hi Rohit,

          Please find attached a sample C# web app. It’s a very basic app nothing much.
          While doing a “Nuget Pack” I am getting the same exception which I was getting with our original app. I have attached the log as well.

          NuGet Version: 3.3.0.212

Regards,
Gaurav Kushwaha
Software Configuration Management (SCM)
Architecture & Engineering
Mobile +91 9763907559
Direc

[2017-04-14 14:16] danroth27 opened #5030 "First restore after installing latest .NET Core SDK takes a very long time"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

dotnet.exe --version (if appropriate): .NET Core SDK 2.0.0-preview1-005791

OS version (i.e. win10 v1607 (14393.321)): win10 v1607 14393.1066

## Detailed repro steps so we can see the same problem

1. Install latest .NET Core SDK
2. dotnet new mvc -au Individual

After the local pa

[2017-04-14 16:09] matkoch opened #5031 "Floating versions with prereleases"
With the new csproj format I can write:

`<PackageReference Include ="ExamplePackage" version="1.4.*"/>`

But how can I define that prereleases should be included?

[2017-04-14 16:53] emgarten opened #5032 "NuGet.sln restore is unable to noop due to a dependency on a non-existent package"
Moq 4.7.1 depends on Castle.Core 4.0.0 which depends on System.ComponentModel.TypeConverter 4.0.1.

System.ComponentModel.TypeConverter 4.0.1 does not exist which causes every restore to check online for it.

The fix for this is to move to a version of Moq that does not depend on Castle.Core 4.0.0 when possible.

https://github.com/castleproject/Core/issues/239

[2017-04-14 18:21] anangaur opened #5033 "[Authentication] In authenticated multi-feed setup, PM-UI: Updates window hangs if one of the feeds is not authenticated"
Repro steps:
1. Have multiple feeds setup with atleast one authenticated feed
2. Open PMUI, install a package that is present in atleast 2 feeds including the authenticated feed.
3. Go to updates tab

Expected: It shows the update from the feed that is accessible.

**Actual**: It hangs, may be trying to connect to the authenticated feed. Even so many a times the login window is not shown so user i

[2017-04-14 18:35] anangaur opened #5034 "[Authentication] In multi-feed scenario, NuGet install does not honor the feed selected as package source in PM-UI"
Repro steps:
1. Have multiple feeds setup with atleast one authenticated feed and one local feed
2. Open PMUI, select the authenticated feed as your source.
3. Search for a package that is present in both local and authenticated feed.
4. Install the package

Expected: It should install the package from the authenticated feed that is selected in the PM-UI as package source.

**Actual**: It may inst

[2017-04-14 20:00] eerhardt commented on #4424
@rrelyea - as we are getting more people using .NET Core 2.0, this is becoming more of an issue.  See https://github.com/dotnet/cli/issues/6286.  Can we get this looked into?

[2017-04-14 20:01] eerhardt commented on #4424
/cc @livarcocc

[2017-04-14 22:54] anangaur opened #5035 "NuGet should install package from local package sources even if disconnected from other feeds."
Repro steps:
1. Disconnect from Internet
2. dotnet.exe new console
3. dotnet.exe add package <PackagePresentInLocalCache>

Expected: add package and subsequent restores should be able to work off the local package source
Actual: This errors out as NuGet tries to connect to the sources mentioned in nuget.config

This works though if the local package source is provided as:
dotnet add package <Packa

[2017-04-14 23:33] jaredpar opened #5036 "Extra props file being added to lock file in NuGet 4.0"
Presently moving the [dotnet/roslyn](https://github.com/dotnet/roslyn) repo to the new SDK on our [features/sdk branch](https://github.com/dotnet/roslyn/tree/features/sdk).

This also involves us upgrading from NuGet 3.6 to 4.X.  Sorry to be unspecific about the NuGet version but now that restore is driven by MSBuild I'm not sure what version to report.  MSBuild though is 15.1.1012.6693 (Int Previ

[2017-04-14 23:50] matkoch commented on #4945
I know it's not clearly stated, but with blog posts like [NuGet is now **fully integrated** into MSBuild](http://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html) you're suggesting that it would do exactly that - working *fully*. That's why it's very disappointing to find out that an essential command like _update_ doesn't work.

[2017-04-15 00:25] dsplaisted opened #5037 "When restoring DotNetCliToolReferences, generate .targets and .props files for imports from NuGet packages"
For DotNetCliToolReferences, each reference is restored separately and a project.assets.json is written out to the `.nuget\.tools\<ToolPackageId>\<ToolVersion>\<TargetFramework>` folder.  For .NET Core 2.0, the Microsoft.NETCore.App package has a .props file in it that is used to set some MSBuild properties and items used for conflict resolution.

In order for these to be picked up, it would be he

[2017-04-15 05:49] bbowman commented on #5031
@emgarten seems like another *-* request. Can you comment on if this is in plan anytime soon?

[2017-04-15 19:05] rpokrovskij opened #5038 "Area:NuGetizer - NuGetizer installed ... and nothing happens"
VS version: 2017

Installed to .NET Classic Library project but absolutely unclear what to do after it. Huge and verbose documentation is misleading:  "Elize adds New Project..."  I do not see any new projects available. This is only in your fantazies or what?

What I see after nugetizer installed:
new folder  `...packages\NuGet.Build.Packaging.0.1.243`

and those entries in the csproj:

[code]
It

[2017-04-15 20:04] emgarten commented on #5036
@jaredpar was *xunit.runner.visualstudio.props* being referenced in *projectName.nuget.props* when using project.json?

The build entry in 4.x is there for completeness, it should not be read by the SDK during the build. NuGet handles these imports by writing them out to the project's generated props file. All of this *should* be the same between 3.x and 4.x.

The project here looks like it is net

[2017-04-15 21:14] AArnott opened #5039 "dotnet restore should restore DotNetCliToolReference items across P2Ps"
As first discussed in dotnet/sdk#1123, we eventually found that a build failure was due to `dotnet restore` not restoring `DotNetCliToolReference` items across P2P references. So if I `dotnet restore test`, the build can fail because the referenced library project requires a `DotNetCliToolReference` to be restored in order to build.

**Impact:** Both @ctaggart's SourceLink and my own CodeGeneratio

[2017-04-15 23:27] bbowman opened #5040 "Nugetizer Floating Version Ranges should be resolved when creating package"
@kzu

Including a PackageReference with a floating version range yields .nuspec that can't be uploaded to nuget.org

The PackageReference is [here](https://github.com/Microsoft/WinObjC/blob/72583443d48460645b042289b8008314c874beac/msvc/sdk-build.props#L47)

and the resulting nuspec looks like

[code]

Uploading to nuget.org complained with:

2017-04-15T15:53:34.8780823Z System.AggregateException:

[2017-04-16 04:37] emgarten commented on #5039
This is fixed in MSBuild full with VS 15.1, and in dotnet cli 2.0.0

https://github.com/NuGet/Home/issues/4711

[2017-04-16 15:17] AArnott commented on #5039
Thanks.

[2017-04-16 15:17] #5039 closed, assigned to nobody

[2017-04-16 16:06] ch-hristov commented on #4626
Just got this error, clueless what caused it.

[2017-04-16 16:40] am11 commented on #4995
After updating to dontet 1.0.3, VS2017 [Update / v15.1](https://blogs.msdn.microsoft.com/visualstudio/2017/04/05/visual-studio-2017-update/), while many of the issues I had with large solutions have been resolved, this one is still reproducible.

Re-emphasizing on note: this happens only when same directory has multiple csproj files referencing each other.

[2017-04-17 00:53] DaveHarney commented on #4626
Hi ch-hristov, please see my last entry in this post: https://forums.asp.net/t/2119601.aspx?SCD+Deployment.  There really should be a better error message.

[2017-04-17 00:54] DaveHarney commented on #4626
I just posted a comment about this on the GitHub thread.

Sincerely, Dave Harney  harney.dave@gmail.com  www.bikex.net

From: ch-hristov [mailto:notifications@github.com]
Sent: Sunday, April 16, 2017 11:06 AM
To: NuGet/Home
Cc: DaveHarney; Comment
Subject: Re: [NuGet/Home] "Unexpected dependency 'Microsoft.AspNetCore.Razor.Evolution' with no version number" opening MVC/CLI repros (#4626)

Just got

[2017-04-17 01:01] kzu commented on #5040
Yep, at a minimum, it should have preserved the `*` as the version.

[2017-04-17 08:51] tulis commented on #4771
In my case, I added AWS Lambda Tool before adding ImageSharp

[code]

[2017-04-17 09:30] jamalkaksouri commented on #3112
http://stackoverflow.com/questions/32344232/unable-to-install-any-package-in-visual-studio-2015
Go to this path: C:\Users\{{username}}\AppData\Roaming\
Delete Nuget.config
Restart VS for good measure

[2017-04-17 09:38] johnkors commented on #4771
Anyone adding a tool first (or using a template that includes a tool, like mvc core + BundlerMinifier) will be subject to this behaviour and `add package` won't work. Not a great on-boarding experience for the CLI here.

I'll leave the priorities up to you, but shouldn't this issue at least be marked as a bug..?

[2017-04-17 09:47] allyusd commented on #2945
Some problem with VirtualBox Host-Only Network,
**Disabling the VirtualBox Adapter fixed it for me.**

ref: [dotnet restore consistently times out on Win7x64](https://github.com/dotnet/cli/issues/1732)

[code]

[2017-04-17 10:19] ch-hristov commented on #4626
Actually I fixed it by just removing all the stuff in the project and transfered them to a new project. Neat right ;D

[2017-04-17 11:44] mattleibow opened #5042 "NuGets with native UWP and .NET core runtimes"
I am wondering how to create a package that contains native payloads for both UWP and .NET Core clients.

I am building SkiaSharp which supports both UWP apps and .NET Core (Windows 7+). My initial idea was to create a NuGet using a .targets file to include the native payloads:

[code]

This worked fine, but then I added .NET Core support (via .NET Standard support). Also, I added the `win7` nativ

[2017-04-17 15:14] jaredpar commented on #5036
Yes.  The entry exists there as a conditional import on the file existing.

Sounds like in 3.X it was used, hence put in the projectName.nuget.props, but excluded from the lock file.  It was added in 4.X to the lock file for completness but didn't otherwise change behavior.  Is that the right of it?

[2017-04-17 15:43] jaredpar opened #5043 "MSBuild restore and NuGet.config"
When using msbuild to restore packages for a project / solution, how can we explicitly specify a NuGet.config file to use?

Old

[code]

New, unsure how to specify NuGet.config explicitly.

[code]

I looked through this page but didn't see an answer

https://docs.microsoft.com/en-us/nuget/consume-packages/package-restore

[2017-04-17 17:24] diverdan92 commented on #1882
Use this issue to track comments on nuget.org package owner verification, as described in this blog post: http://blog.nuget.org/20170417/Package-identity-and-trust.html

Use this issue to track package signing as a feature: https://github.com/NuGet/Home/issues/2577

[2017-04-17 17:30] livarcocc opened #5044 "List disabled feeds in restore output"
_From @billwert on April 17, 2017 0:10_

See [comment](https://github.com/dotnet/cli/issues/6337#issuecomment-294534904) below. The repro is the same but now I understand better the cause.

***

This might be related to #6336, but looked sufficiently different I thought I'd open another issue. For example, mine does not fail in the initial restore.

## Steps to reproduce
dotnet new console
add Run

[2017-04-17 17:30] livarcocc commented on #5044
_From @techyian on April 17, 2017 12:10_

The latest version of Microsoft.NETCore.App on Myget as of now is 2.0.0-preview1-002013-00. Just tested with a new console app and it restores correctly. Could you try with that version in your .csproj?

[2017-04-17 17:30] livarcocc commented on #5044
_From @billwert on April 17, 2017 17:27_

Thanks, @techyian. I tried that last night as well and it didn't work.

It appears that the CLI is ignoring feeds with the name ```dotnet-core```. If I change the name in the local Nuget.config to ```dotnet-core2``` it works properly.

[code]

This seems to be the actual bug. I'll re-title this.

[2017-04-17 17:36] billwert commented on #5044
Ah the second.

Somehow my global nuget.config has this:
[code]

I have no idea how that got there. I did recently install VS2017 community on this machine but I'd be shocked if that just did this.

I'll setup a clean machine and see what I get.

[2017-04-17 17:37] billwert commented on #5044
Regardless of how this turns out, it seems like the CLI/nuget.exe should print disabled feeds and note that they are disabled. I'd have gotten there a lot faster if the tools had helped me.

[2017-04-17 17:42] NickCraver commented on #1882
How will this work for multiple authors, e.g. how would I verify MiniProfiler, yet allow a few of us to push? Would I have to register a foundation to secure the MiniProfiler.* prefix for users as intended? (I realize this crosses issues, but this is a prereq so...commenting here)

[2017-04-17 19:14] FransBouma commented on #1882
I don't get why verification is tied to these limiting rules, one of them is a popularity contest. It shouldn't matter how many users a package has to get the author verified. It's actually rather crucial to get everyone verified who is who s/he say they are, simply because it will allow them to register a prefix: you can't register a prefix without being verified.

So to get SD.LLBLGen.* register

[2017-04-17 19:49] livarcocc opened #5045 "dotnet pack fails (MSB4018) in release configuration when GeneratePackageOnBuild is set"
_From @StephenCleary on April 15, 2017 12:46_

## Steps to reproduce

1. In VS2017, create a new "Class Library (.NET Standard)".
2. Check the "Generate NuGet package on build" checkbox in the project properties.
3. Run `dotnet pack -c Release` for that project.

[This repository](https://github.com/StephenCleary/DotnetPackErrorRepro) contains a repro project.

Interestingly, this appears to work

[2017-04-17 19:49] livarcocc commented on #5045
@rohit21agrawal

[2017-04-17 19:49] livarcocc commented on #5045
Interestingly enough, dotnet build -c Release works just fine, at which point a dotnet pack -c Release will work as well.

Moving to NuGet for now to see why pack is not doing the implicit build.

@StephenCleary It worked for Debug because probably you did a build for Debug before running the pack. Without having a bin folder, when running dotnet pack -c Debug I hit the same issue as above.

[2017-04-17 20:25] NickCraver commented on #1882
@FransBouma I don't think this is correct:

My understanding is relatively few prefixes will be reserved overall, not that the intent it to reserve many. I'd bet *most* packages aren't namespaces at all, they're single element names with no dot in them. At least, that's my experience. Given that few reservations will actually exist, what's then the driver for *everyone* to be verified?

There's al

[2017-04-17 20:58] jariq commented on #1882
I have already been verified by [Certification Authority](http://www.certum.eu) that have passed [Microsoft Trusted Root Certificate Program Requirements](https://technet.microsoft.com/en-us/library/cc751157.aspx) and issued a [code signing certificate](http://www.certum.eu/certum/cert,offer_en_open_source_cs.xml) for me. During the process they have verified my e-mail address, my identity (with e

[2017-04-17 21:13] NickCraver commented on #1882
@jariq Just so I understand here - isn't it possible for me to take your DLLs, put them in my package with a confusing name, and put a malicious `.targets` file in there? I agree these things are very *related*, I'm not in agreement that the DLLs inside the package (which are re-packageable) serve the same purpose in the container system we have. The package itself can execute more code and carry

[2017-04-17 21:14] joelverhagen opened #5046 "Consider sending Accept-Language to customize server error message"
Today, all of the error messages returned by NuGetGallery to the client are in English.

The client (nuget.exe and Visual Studio) knows the user's locale (this is something .NET can tell us). Client can send this information to the server with the `Accept-Language` header and the server can react by giving localize error messages.

Today, most of the client error experience when contacting the ser

[2017-04-17 21:14] joelverhagen commented on #5046
/cc @rrelyea

[2017-04-17 21:16] asbjornu commented on #1882
I have to echo the concerns of @jariq and ask why you can't use regular code signing, which is a process that will benefit all users of NuGet (such as Octopus Deploy) and guarantee package integrity, none of which will be achieved by the proposed account verification.

Perhaps these are two orthogonal problems, but the way you're describing it, I feel you think you're solving both, when you're in

[2017-04-17 21:19] FransBouma commented on #1882
That's a good point, and indeed if they are going for very few reserved reservations, the requirement to get verified for that is then gone. I have the feeling they wanted this reservation system primarily for their own assemblies and to avoid questions from others like "Oh I want that too!" they put up the requirements.

	I still think it would be a good thing if one could register a prefix which

[2017-04-17 21:25] daveaglick commented on #1882
I had some very long thoughts on this topic that I sent to the team, but I'll summarize here so they're public.

As a practical matter there has to be some sort of "bar" if verification is to be a manual review (obviously self-service verification processes like certificates or signing are different). Given that, download counts as a measure of popularity seems as reasonable as any metric given th

[2017-04-17 21:35] NickCraver commented on #1882
I get the sentiment, but I have to strongly disagree there. I'm also a sysadmin, and compromising a package (including fooling people into using yours) that runs on 1,000 build servers is obviously more dangerous than 1 that runs on 10. There's inherent value in scale of impact all around here (both install time and runtime), piggy backing on a larger name is also a larger target if you weave your

[2017-04-17 21:37] jariq commented on #1882
@NickCraver that is correct and that's exactly the reason why NuGet also needs package level signing (more than account verification IMO). Important thing to note however is that package level signature will most likely be verified only when the package is added as a reference by the developer. On the contrary assembly level signature can be verified in the runtime (where nupkg does not exist anym

[2017-04-17 21:42] NickCraver commented on #1882
@jariq Sure; that's totally valid to argue for that - I'm not seeing how it argues *against* verification though. IMO, you're arguing we should do verification: another way. That's totally legit, but also lost in your first comment I think. I'd restate it from that angle.

Of course we have to note that puts onus and infrastructure *on each developer* rather than anywhere centralized, which flips

[2017-04-17 21:43] daveaglick commented on #1882
@NickCraver

Is it? What if those 10 build servers are powering Critical Internet Infrastructure (TM) and the 1,000 are all behind the firewall utilities or something. My point was that if you have to down-select what to verify then, yes, obviously impact as measured by download counts is one of, if not the, best way to do it. However, there's no reason why that package author with a package runni

[2017-04-17 21:44] diverdan92 commented on #1882
Great feedback everyone! Please keep it coming :)

@NickCraver - being a package owner on a package where one or more the other owners was previously verified is one of the criteria that may expedite your verification. In other words, if other verified owners trust you enough to be a co-owner on their packages, that is a good indicator of you as an owner. This will help us drive confidence for pac

[2017-04-17 21:44] clairernovotny commented on #1882
Adding my thoughts here that I also sent to the team, I agree with the overall sentiment that it's hard to have a manual verification system that doesn't immediately put in a two-tier system like social. The concept of verification is too engrained there.

I'm also not a fan of re-inventing the wheel. Certificate Authorities already have the infrastructure and auditing requirements and are setup t

[2017-04-17 21:46] davilimap commented on #5025
I've been doing some testing with an SQL database project in Visual Studio. If I attempt to open the NuGet package manager for the solution, it tells me that the project does not support NuGet, which is exactly what I want to detect. But if I attempt to use `GetInstalledPackages`, no exception is thrown, even for the project that doesn't support NuGet. Other methods in the API also don't seem to t

[2017-04-17 21:49] JamesNK commented on #1882
@jariq @asbjornu -

Bad actor: "Hello NuGet, here is my code signing certificate. As you can see I am trusted by them so I should be verified. I hereby reserve Google.* on NuGet"

NuGet: "A code signing certificate? Why of course sir. No one shall have Google.* packages but you"

Google: "wtf"

[2017-04-17 21:50] clairernovotny commented on #1882
@jamesnk I don't think any one is suggesting that prefixes be automatic to anyone. They would be manually vetted regardless so that doesn't happen.

[2017-04-17 21:52] diverdan92 commented on #1882
@JamesNK @onovotny - correct, no prefix reservations will happen without a manual vetting process against some of the criteria described in the blog post: http://blog.nuget.org/20170417/Package-identity-and-trust.html

[2017-04-17 21:53] JamesNK commented on #1882
I agree. I'm pointing out the problem of automatically relying on someone else for trust with no manual verification.

[2017-04-17 21:53] NickCraver commented on #1882
@onovotny What's the mapping of certificates to packages? Certificates to *domains* is covered (what most of the systems you describe are setup for), but how do we map certs to packages they should be related to? I think that's a critical, blurry link we need to solve the signing route. I'm not disagreeing there's some avenue there, but it's not so clear cut. It also only verifies the package, not

[2017-04-17 21:54] clairernovotny commented on #1882
@NickCraver That would be a manual step the account owner has to do -- go to NuGet.org and upload your public code signing key. Or sign a dummy package and upload that. The system will then map that public key to your account.

[2017-04-17 21:55] NickCraver commented on #1882
@onovotny but that just says the package came from my account...that's already not in question. The question is whether my account is the one the user intended to get it from.

[2017-04-17 21:56] clairernovotny commented on #1882
@NickCraver If the UI only listed the subject name for signed packages instead of the account owner, does it really matter? Keep in mind, we're talking about a signed package as a whole, not a DLL. The "Microsoft Corporation" on the x509 certificate is the only account/owner that really matters then.

[2017-04-17 21:56] NickCraver commented on #1882
@diverdan92 Is there any plan for forced 2-factor auth on verified accounts here? If we don't have strong assurances that the uploader is the verified entity NuGet claims it to be, the entire system isn't something we can put much trust in. This is a must have for me to have any faith in any setup proposed here.

[2017-04-17 21:59] NickCraver commented on #1882
@onovotny I disagree, any package that executes code on my servers matters to me - I'm the one responsible when malicious code hits the CPU. It depends in the NuGet team aims to solve *that* problem with this particular approach (which isn't clear to me).

Also bear in mind there are hundreds of variations of the Microsoft name (subsidiaries, countries, dupe company names, etc.), and I could regis

[2017-04-17 22:02] diverdan92 commented on #1882
@NickCraver we plan to enforce [scoped API keys](http://blog.nuget.org/20170202/introducing-scoped-api-keys.html) for all packages submitted by verified package owners. When we are able to do 2FA (https://github.com/NuGet/NuGetGallery/issues/3252) we would also enforce this for verified package owners.

[2017-04-17 22:06] NickCraver commented on #1882
@diverdan92 Do you consider https://github.com/NuGet/NuGetGallery/issues/3252 a pre-req then, or just a nice-to-have later? The former: awesome. The latter is rife with problem, including de-verifying accounts until they have 2-factor enabled or similar down the road.

IMO, 2FA must be in place before verification is, or else you're verifying something fundamentally weak. The scoped API keys aren'

[2017-04-17 22:06] clairernovotny commented on #1882
@NickCraver Fair point and that's fine. I would still posit that the basis of any owner information/verification be tied to externally audited data like what a CA does. NuGet can tie that to an account and they can look to verify/group all of the various Microsoft CS subject names into a single account so a user doesn't need to.

Either way, CA's should be the underpinnings.

[2017-04-17 22:10] diverdan92 commented on #1882
@NickCraver - woops, sorry about that. We were currently planning on this before 2FA, but we'll consider this additional feedback.

@skofman1 / @dtivel FYI.

[2017-04-17 22:11] NickCraver commented on #1882
@diverdan92 ...I'm guessing that's a private repo?

[2017-04-17 22:12] JamesNK commented on #1882
A while back I was asked to disable logging in via my nuget.org account and rely on my Microsoft account because Microsoft accounts could be protected with 2FA.

What does this mean? Will verified accounts log in with their NuGet password again?

[2017-04-17 22:14] diverdan92 commented on #1882
@NickCraver woops, yes you are correct. That post was created before my time. I'll see if we can get it migrated to a public repo.

@JamesNK - sorry for the ambiguity - that line should just mean that packages coming from nuget.org can have verified owners. It won't automatically appear for other NuGet feeds. Any way you sign into nuget.org should be supported; the verification will be based on ac

[2017-04-17 22:18] emgarten commented on #5044
@billwert glad you were able to track it down. Let me know if you see this feed being disabled automatically. I would expect that this doesn't happen unless you open the Visual Studio NuGet UI and disable the feed yourself.

Running ``nuget.exe sources`` will print out the full list of enabled/disabled sources.

[2017-04-17 22:25] onovotny commented on #1882
@JamesNK I think that's means it's with the account not with how you log in to that account -- as in, if I have my package on MyGet, I have an account there and there won't be any verification tied to that account (unless MyGet does something).

That's my read on it -- just saying that the feature is tied to your account on NuGet.org regardless of how you log in to it. And yes, MSA is clearly more

[2017-04-17 22:44] jariq commented on #2577
Are there any details available on this subject? I would be happy to review/comment the design or even take a part in implementation if possible.

[2017-04-17 23:08] conniey commented on #3617
From the documentation on [extensibility](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/extensibility#building-tools), it appears that .NET expects developers to be able to write their own .NET CLI tools... I am having issues with DotNetCliToolReference not using PackageTargetFallback because some 3rd party dependencies do not compile for .NETStandard yet, but use dotnet or profile25

[2017-04-17 23:36] davidmatson opened #5047 "IntelliSense fails on newly installed packages with ContentFiles"
On VS 2017 (15.1, 23403.0).

1. Create a CPS-style csproj with a target framework of full .NET framework (for example, net462).
2. Install a NuGet package that has contentFiles with C# code in it.
3. Reference this package from other source code.
4. Build. Watch the build succeed.
5. Try to Go to Definition or otherwise use IntelliSense on the new package.

Expected:
IntelliSense works

Actual:
In

[2017-04-17 23:46] davidmatson opened #5048 "CPS projects can't handle contentFiles from separate packages using the same file name"
[ContentFilesCollision.zip](https://github.com/NuGet/Home/files/926900/ContentFilesCollision.zip)

See the attached zip for a repro.

1. Create a CPS style csproj.
2. Reference multiple contentFiles packages that happen to use the same file name internally.
3. Build (it succeeds)
4. Close and re-open the solution.

Expected:
The project continues to load successfully.

Actual:
The project fails to

[2017-04-17 23:48] davidmatson commented on #4856
Actually it looks like there's a more fundamental problem here and something like the NuGetContent approach mentioned above is essential to correct behavior, due to collisions with multiple packages using the same file name. See #5048 for details.

[2017-04-17 23:49] davidmatson commented on #5048
This issue is currently blocking us from switching from project.json to CPS-style (PackageReference) csproj. We use .Sources (contentFiles with cs code) fairly extensively, and in practice most projects fail to load today if we try to convert, due to this bug.

[2017-04-17 23:53] davidmatson commented on #5047
The attachment on #5048 should also provide a repro for this issue.

[2017-04-17 23:54] davidmatson commented on #5047
It appears that the linked items are only being evaluated if the solution is re-loaded, and not at package install time.

[2017-04-18 00:10] shanselman commented on #4771
Yes, this is super annoying, and we also need "dotnet tool add" to have symmetry.

[2017-04-18 00:46] billwert commented on #5044
Okay, a clean machine doesn't have the bad behavior. It's likely this is left over from last summer or so when I was doing some experimentation at home.

It's good that ```nuget.exe sources``` helps out. I'd love to see CLI also do so. I believe the output from ```dotnet restore``` is actually out of the Nuget library, correct? If so, would it be possible to make it look like this?

[code]

That w

[2017-04-18 01:09] rrelyea commented on #4884
Newtonsoft.Json 10.0.2 has now been released -- please try this scenario with both 5.1.0 and 5.2.2 on vs 2015 and let us know the results.

[2017-04-18 01:42] sayedihashimi opened #5049 "Add Manage NuGet packages to context menu for NuGet node"
Any reason why we don't have "Manage NuGet packages" for the NuGet node under Dependencies?

Note: screenshot taken from an asp.net core project.

![image](https://cloud.githubusercontent.com/assets/1283154/25110986/f8b337dc-239c-11e7-8d24-ce4bf9ae7505.png)

[2017-04-18 01:47] emgarten opened #5050 "Update ILogger to support additional logging context"
Update ILogger to support passing additional information such as:

1. Warning/Error number
1. project name
1. related target graph tfm/id
1. package id/version related

[2017-04-18 01:51] emgarten opened #5051 "Integrate project.assets.json logging with the SDK and VS"
Integrate logging from project.assets.json with the SDK and VS where it will be displayed.

[2017-04-18 01:57] emgarten commented on #5044
Overriding at the global level with a disabled source is confusing. For this reason it is usually a good idea to clear disabled sources if you know they are needed such as in a git repo.

Here is what nuget has: https://github.com/NuGet/NuGet.Client/blob/dev/NuGet.Config#L11-L13

Your suggestion on marking a feed as disabled in the restore output is part of why the list of config files used is dis

[2017-04-18 02:58] billwert commented on #5044
I think the challenge with the current thinking is that it requires the end user to understand a lot of nuget details. I didn't know you could disable a feed like this, for example, because I use Nuget in a very straightforward way: I add feeds when some project tells me to. Further, because my local Nuget.Config seemed to have what I wanted, it was a few turns of the crank before I even noticed t

[2017-04-18 03:50] emgarten commented on #5044
I'll update the title on this one, we can track it here :smile:

[2017-04-18 06:14] emgarten commented on #5048
Ideally there would be an option to have restore de-duplicate these or place them under a folder as you suggested.

Until that is added you can update the compile items in your project to workaround this. This builds on your previous fix.

Place items under the package id:
[code]

Remove the link completely:
[code]

[2017-04-18 06:32] d-arkhipenko opened #5052 "dotnet restore failed : Unable to load the service index for source https://api.nuget.org/v3/index.json."
## Details about Problem

NuGet product used (dotnet nuget):

NuGet version (NuGet Command Line 4.0.0.0):

dotnet --version (if appropriate): 1.0.1

OS version (i.e. win10 v1607 (14393.321)):

dotnet --info
.NET Command Line Tools (1.0.1)

Product Information:
 Version:            1.0.1
 Commit SHA-1 hash:  005db40cd1

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  16.04
 OS Platform: Lin

[2017-04-18 06:57] petriashev commented on #4778
I had the same issue with old cs projects. The problem was in environment variable MSBUILDDEFAULTTOOLSVERSION set to 14. I removed it and the problem solved.

[2017-04-18 07:03] #5012 closed, assigned to emgarten

[2017-04-18 07:03] #5023 closed, assigned to emgarten

[2017-04-18 07:31] gulbanana commented on #5024
Here is the generated nuspec:

[code]

[2017-04-18 07:31] gulbanana commented on #5024
The original project file:

[code]

[2017-04-18 07:42] FransBouma commented on #1882
@diverdan92

Then why are there strict rules with e.g. amount of downloads as the criteria? That doesn't make sense, sorry. If you want to solve owner identity problems, you have to vet the owners, one by one, so the rightfully owners are verified, and the ones who don't get verified are apparently not genuine or not who they say they are.

What else does 'verified' mean on NuGet if only a handful

[2017-04-18 07:51] emgarten commented on #5036
That's correct, it would all be the same.

Is the missing condition causing your issue? Previously this was added because restore would be unable to load the project if packages were not yet restored, the current behavior is that the imported props/targets files are excluded during restore. Outside of restore these files should exist unless you are doing something to change that.

[2017-04-18 07:51] forki commented on #1882
@FransBouma keep calm. It's just yet another enterprisey feature that doesn't really get to the core of issues people have. It's more like a feature Microsoft needs to implement in order to stay in control. See it as that and all the anger goes away.

[2017-04-18 07:58] emgarten commented on #5043
You can pass it with: ``/p:RestoreConfigFile=<path>``

It looks like the docs need to be updated on this.

For reference the set of properties are here:
https://github.com/NuGet/NuGet.Client/blob/68245312b050c5b992120448353eba3e20cdc414/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L100-L106

[2017-04-18 08:05] FransBouma commented on #1882
@forki I'm not angry, I just have a couple of questions I'd like to see addressed: now is the chance to give them the feedback and I know it likely is futile and they'll do whatever they think they must, but doing nothing now is no option.

[2017-04-18 08:20] AndyTian-Devops commented on #4884
This issue blocked by another bug now, i will update the comments later.

[2017-04-18 08:42] asbjornu commented on #2577
I'm also very interested in this. What I want it for is to ensure as far as possible that between source code is committed to source control (with a signed Git tag or signed commit) and until it ends up on a production server (with Octopus Deploy), the code can be verified against a signature so it's certain that it hasn't been tampered with.

Using the same key infrastructure to sign both the sou

[2017-04-18 08:54] asbjornu commented on #2577
Also, as @diverdan92 writes in https://github.com/NuGet/Home/issues/1882#issuecomment-294603338, I do not think code or package signatures need to be vetted by a CA. As long as the signature can be verified towards a public key and the key is associated with an entity that the package consumer trusts, a CA does not have to be involved.

A CA should at least not be required, since the value of pack

[2017-04-18 09:03] asbjornu commented on #1882
Just to kick another idea into the account verification pen, I feel that [Keybase](https://keybase.io) has solved this in a very scalable and trust-worthy way (imho; I'm not a cryptographer). Perhaps something similar can be considered for account verification, or perhaps Keybase can be used directly?

To the uninformed, Keybase is a website on which you upload your public keys and verify your acc

[2017-04-18 15:04] abatishchev commented on #1882
What if I wrote a plugin, extension or helper for a package with reserved prefix? How should I name it? I wrote one for Entity Framework and [named it accordingly](https://www.nuget.org/packages/EntityFramework.Testing.Async/). Any other name would mean it would be never ever found, downloaded and used.
What if I want to create a package for an extension in the Microsoft.Extensions namespace? Is i

[2017-04-18 15:52] jaredpar commented on #5036
No.  I added that comment for completeness just in case it was unexpected.

Thanks for the answers here!

[2017-04-18 15:52] #5036 closed, assigned to nobody

[2017-04-18 15:55] alpaix opened #5053 "Lightweight Solution Load: Support - PMC"

[2017-04-18 15:56] alpaix opened #5054 "Lightweight Solution Load: Support - PM UI (for solution)"

[2017-04-18 15:56] alpaix opened #5055 "Lightweight Solution Load: Support - PM UI (for project)"

[2017-04-18 15:57] alpaix opened #5056 "Lightweight Solution Load: Support - Live Unit Testing"
Our feature, Live Unit Testing, requires VS test adapters to work, so we check if any adapter packages is installed in current solution when user hit `start` and halt the start if we didn’t find any. With DPL, if adapter package is installed in deferred projects, then LUT will not be able to start, until user force loaded them. By the way, I believe running tests through test explorer uses the sam

[2017-04-18 15:58] alpaix opened #5057 "Lightweight Solution Load: Common Core for PM UI, PMC, and IVs*"
1. Create a shared interface (IVsProjectAdapter) for all DteProject API and LSL API, remove all DteProject dependency and make all nuget logical depends on IVsProjectAdapter. [Done]
2. Add all DTE API and LSL API service to IVsProjectAdapdter.
4. VsSolutionManager works with LSL mode.

[2017-04-18 15:58] alpaix opened #5058 "Lightweight solution load support"
Implement missing pieces for full lightweight solution load support according to the [spec](https://github.com/NuGet/Home/wiki/Full-support-of-LSL).

[2017-04-18 16:24] diverdan92 commented on #1882
@FransBouma - We _would_ like to verify owners who we feel are positive contributors to the .NET Community. The listed criteria are a practicality to start with. In order for the verification indicator to have any meaning, we (the NuGet team in collaboration with .NET Foundation) must have a thorough review of each applicant (view existing packages, functionality, package metadata, etc...). That's

[2017-04-18 16:55] diverdan92 commented on #1882
@asbjornu I'll have our team take a look at Keybase. Thanks for the suggestion!

[2017-04-18 17:06] nperno commented on #5006
seems to be working now that nuget 4 is an option on the nuget restore build step.

[2017-04-18 17:06] #5006 closed, assigned to nobody

[2017-04-18 17:17] FransBouma commented on #1882
@diverdan92 That sounds like you have 2 interns on call to do the vetting for the next year, with a massive book of rules so they can verify at most 1 per day.

At no point have you addressed the concerns where you effectively create two groups of packages: the haves and the have-nots. I'm not kidding here: with .net core, NuGet has become the central place to obtain assemblies to take a dependenc

[2017-04-18 17:20] nkolev92 opened #5059 "Investigate if MSBUILD incremental build can be leveraged for CLI no-op restore"

[2017-04-18 17:22] nkolev92 opened #5060 "Implement no-op hash CLI restore"
Implement no-op hash for cli restore - persist it to obj(?)

[2017-04-18 17:24] nkolev92 opened #5061 "The hash file in obj for no-op restore should be cleaned by MSBUILD /t:restore"

[2017-04-18 21:34] forki commented on #1882
@FransBouma maybe Microsoft feels that you "are positive contributors to the .NET Community" - so just stay positive. `</sarcasm>`

[2017-04-18 22:35] jaredpar commented on #5043
Thanks!  Will leave this open in case you want to use it to track the documentation change.

[2017-04-19 00:15] emgarten commented on #5052
Are any packages being restored?

It looks like the issue is in System.Net.Http. NuGet restore uses HttpClient from the framework.

[2017-04-19 00:52] emgarten commented on #5043
@karann-msft can we get the docs updated for this? Or possibly I'm just not finding them.

[2017-04-19 01:41] matkoch opened #5062 "PackageVersion and solution compilation"
Assuming there is a solution with multiple projects and dependencies between those, when executing `msbuild solution.sln /p:PackageVersion=0.1.2.3` the generated package dependencies are set to `>=1.0.0.0`.

So even after all those nice little additions to the msbuild ecosystem, it's still necessary to manually update csproj files.

[2017-04-19 03:03] emgarten commented on #5062
@matkoch ``PackageVersion`` is read at restore time. The reason being that Projects and Packages are handled in the same way by restore when building the complete dependency graph. At pack time the dependency graph created by restore is captured and put into the nupkg so that everything works the same when you replace the project with the new package.

Try this:
[code]

Going forward this will be

[2017-04-19 03:48] mishra14 commented on #4034
@emgarten : Can this be done as part of Restore Error and warnings task?

[2017-04-19 04:01] emgarten commented on #4034
Yes, that would be part of that work.

[2017-04-19 04:09] livarcocc opened #5063 "Producing an MSBuild task package"
_From @natemcmaster on April 14, 2017 18:41_

Can we get better support for projects designed to produce MSBuild tasks?

**Pain points**
 - packing. You _can_ get a task assembly and files into the package, but requires deep understanding of how to alter the default layout of the package in csproj.
   - TargetFrameworks. A package that only has task assemblies/targets is compiled for net46 and net

[2017-04-19 04:09] livarcocc commented on #5063
cc @emgarten @rohit21agrawal

[2017-04-19 04:09] livarcocc commented on #5063
_From @rohit21agrawal on April 14, 2017 21:27_

we already added some extension points that should make this easier : https://github.com/NuGet/NuGet.Client/pull/1255

We can't make a generic Task package type since all packages would differ widely. Do you have any concrete suggestions on what you would like to see that would make it easier for you to create task packages?

[2017-04-19 04:09] livarcocc commented on #5063
_From @natemcmaster on April 14, 2017 21:59_

In a world of unlimited resources, I'd love to see this:
[code]

Microsoft.NET.Sdk is geared towards runtime packages, not MSBuild task packages. Packages designed to carry MSBuild tasks are fundamentally different from packages that only carry runtime bits.

[2017-04-19 04:09] livarcocc commented on #5063
_From @natemcmaster on April 14, 2017 22:18_

@rohit21agrawal if you're looking for short-term fixes to the pack task...

One of the problems today is that package authors have to choose between nuspec and csproj=>nuspec generation. Keeping csproj and nuspec aligned is difficult, esp. for users new to MSbuild. Wrangling MSBuild to make csproj=>nuspec generation work right is difficult, even for ad

[2017-04-19 04:09] livarcocc commented on #5063
_From @rohit21agrawal on April 16, 2017 19:19_

@natemcmaster instead of making csproj + nuspec easier, i'd like to understand more about what we can do to make the need for nuspec go away.
what are some of the things that you can't achieve via csproj currently and for which you absolutely do need the nuspec?

[2017-04-19 04:09] livarcocc commented on #5063
_From @natemcmaster on April 17, 2017 18:14_

@rohit21agrawal

- Packing the output of multiple projects. Example: [Microsoft.EntityFrameworkCore.Tools.nuspec](https://github.com/aspnet/EntityFramework/blob/bc1909bc3b24b2cd0a2635c0a657cf6787837e20/src/EFCore.Tools/EFCore.Tools.nuspec)
- "Fat packages". i.e. I want a nupkg with the output of "dotnet publish". Example: [NuGetPackageVerifier.nuspec](

[2017-04-19 04:09] livarcocc commented on #5063
_From @conniey on April 18, 2017 20:17_

I think this issue overlaps with: https://github.com/Microsoft/msbuild/issues/1756

[2017-04-19 04:09] livarcocc commented on #5063
Given that this conversation is happening around pack, I am moving this issue over to NuGet. Please, re-activate or file new issues for specific asks for the SDK to support this.

[2017-04-19 04:16] emgarten commented on #5040
@rohit21agrawal how is pack handling this currently?

[2017-04-19 04:19] rohit21agrawal commented on #5040
It looks at the assets file for the resolved version

[2017-04-19 04:23] livarcocc opened #5064 "Dotnet restore doesnt stop when is interrupted by user"
_From @enricosada on March 23, 2017 17:20_

repro

[code]

expected:

first command start restore
the `CTRL-C` interrupt the restore, and give back control to prompt
second command start restore again (like first one was never done)

actual:

after interrupted, is like restore continue in background, is not possibile to stop it, mess with current command window.
and next `dotnet restore` need to w

[2017-04-19 04:23] livarcocc commented on #5064
_From @enricosada on March 23, 2017 17:27_

I opened there because i think is not a dotnet/cli issue (all other commands are ok).
So i think are the restore targets in sdk.

But i'll close and move, if there is a better repo (directly nuget/home ?).

[2017-04-19 04:23] livarcocc commented on #5064
Yes, I think we should start with Nuget/Home for this.

[2017-04-19 04:41] emgarten commented on #5040
Packages cannot float the version of other packages. Only projects may opt into this behavior.

From the example @bbowman gave it looks like there may be an issue with pack finding the version then, it is dropping the version attribute completely.

[2017-04-19 04:44] rohit21agrawal commented on #5040
@emgarten this project is being packed via nugetizer, and not dotnet pack.

[2017-04-19 04:48] marky15 commented on #4931
To solve this problem I recommend the use of a long  path tool. This will help you on any kinds of similar issues. proven and tested by many users.

[2017-04-19 04:51] emgarten commented on #5040
@rohit21agrawal didn't catch that at first, thanks :smile:

@kzu stars are not allowed in nuspecs, it will need to find the actual version.

[2017-04-19 05:39] bbowman commented on #5040
@emgarten @kzu I've seen Nugetizer produce "--" before in a nuspec. Is that valid?

To solve the issue, it seems like there should be something in the nuget object model to inspect what was restored. Does that exist? I know the generated targets has some extra metadata but does it include the restored version? Would be handy to have it add an item group like RestoredPackages that looks like Packag

[2017-04-19 06:42] emgarten commented on #5064
Thanks for the issue @enricosada, it is definitely painful when restore ignores ctrl+c. I'm hoping to get this fixed soon.

Support for making the restore task an *ICancelableTask* is here: https://github.com/NuGet/Home/issues/4517

[2017-04-19 06:42] #5064 closed, assigned to nobody

[2017-04-19 07:49] JoGillis commented on #2372
Just tested wit 4.1.0.2450 and the issue still exists. This is a showstopper for now on our build server.
NuGet seems great, but when yo try to get to the bottom and try to use the features as documented, it fails on several places.

[2017-04-19 08:39] jeremyVignelles commented on #4052
@nickverschueren : Could you explain the procedure you have made to make it work on you build server? I have the same issue with my build on my VSTS build pipeline, with NuGet 3.5 and .NET standard 1.6

For now on, I'm adding a copy task that copies the `System.Runtime.dll` from `C:\Windows\Microsoft.NET\Framework\v4.0.30319\` to my output folder. Will do the trick for now.

[2017-04-19 08:52] saschanaz commented on #2333
I have the same issue even on VS2017 (it was also on VS2015). Installing Microsoft.TypeScript.MSBuild from NuGet causes hang on VS2017.

1. It reproes on newly created JavaScript Blank App (Windows) project with a TypeScript file.
2. No
3. Both update and new installation causes hang.

[2017-04-19 08:52] saschanaz commented on #2333
I'm willing to share logs but where can I find it?

[2017-04-19 09:39] pepone opened #5065 "Support dependency groups for native packages"
Native packages currently don't support dependency groups, for projects that need to build with different Platform Toolset will be nice to have per toolset dependencies

	<dependencies>
	    <group platformToolset="v120">
	        <dependency id="expat.v120" />
	    </group>

	    <group platformToolset="v140">
	        <dependency id="expat.v140" />
	    </group>
	</dependencies>

So we can have

[2017-04-19 09:59] pepone opened #5066 "Allow for custom conditions in package imports"
I want to disable package imports selectively, to be able to build the same project with or without a NuGet package.

In this circumstance I found myself having to hack the generated Imports and Errors to add custom Conditions

It will be nice if the Package Manager allows for custom conditions , so an import can be conditioned by custom MSBuild properties.

[2017-04-19 12:46] danielgreen commented on #4099
Having tested PackageReference in VS 2017, I found that 1.* would take the latest non-prerelease version.

So if the available packages are 1.5 and 1.6-beta, it will take 1.5.

I'd be interested to learn if other developers are seeing the same behaviour, and what the NuGet team think about including prerelease packages in that floating version (or whether a slightly different floating version coul

[2017-04-19 13:19] danielgreen commented on #5031
+1 for this.

Also seems to relate to #4099

[2017-04-19 13:56] mesheets commented on #4251
In continuing to further analyze this issue, it seems that perhaps the Profile44 issue might be the primary issue.

[2017-04-19 14:56] d-arkhipenko commented on #5052
Yes, restored only if packages start from Microsoft.*
like : Microsoft.AspNetCore.Server.Kestrel, Microsoft.AspNetCore.Diagnostics, etc.

just if you create new project and call 'dotnet restore' - this action will be execute OK

[2017-04-19 15:03] abatishchev commented on #2550
Any update on this, please? Was it fixed? Can it be closed? Or should it be addressed still?

[2017-04-19 15:04] abatishchev commented on #2530
@alpaix hi, was this addressed, can the issue be closed?

[2017-04-19 15:53] alpaix commented on #2530
We didn't address this particular issue but we made number of improvements in this area in v4.0+ and VS2017. VS2015 client will get a minor update only. Given the fact we couldn't repro your scenario locally we're going to need your help in re-validating this issue. Will you be able to install and run VS2017?

[2017-04-19 17:27] dsplaisted opened #5067 "When restoring DotNetCliToolReferences, choose TargetFramework to restore with based on what the tool package targets"
For .NET CLI tools, we want to run the tools on the same version of .NET Core as the tool targets.  A tool built for 1.1 should run using the 1.1 shared framework, and a tool built for 2.0 should use the 2.0 shared framework.  The tools need to be restored using the same target framework they will run on (otherwise a tool running on 1.1 could end up bringing in 2.0 assets, which would fail).

Curr

[2017-04-19 17:32] mishra14 commented on #4771
This has been fixed in NuGet with https://github.com/NuGet/NuGet.Client/commit/34e1a9b070905d105d1e161aa374b3c6ff852e8b.

This should reflect with NuGet's next insertion into dotnet cli-sdk. Keeping this bug open till then.

[2017-04-19 17:59] xavierdecoster opened #5068 "Expose OriginalVersion property on NuGetVersion"
There's no reliable way to get a hold of the _original, unmodified version string_ used to construct a `NuGetVersion` instance.

[`NuGetVersion.ToString()`](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Versioning/NuGetVersion.cs#L154) returns normalized version string for SemVer2 versions, and original version string for non-SemVer2 versions.

[`NuGetVersion.ToFullString()`]

[2017-04-19 20:25] d-arkhipenko commented on #5052
I found fix!
when we install libcurl3
from : https://launchpad.net/ubuntu/xenial/amd64/libcurl3/7.47.0-1ubuntu2.2
relay on yours arh server (for my ubuntu server it was amd64)
and after that this error with 'dotnet restore' disappear.

[2017-04-19 20:30] #5052 closed, assigned to nobody

[2017-04-19 21:06] emgarten commented on #5068
Is there a reason to allow non-normalized SemVer2 versions?

If it were not for legacy reasons ToString() would also return the normalized version. The design here was that going forward everything would be normalized, since SemVer2 is new, all of those should be normalized.

[2017-04-19 21:08] skofman1 opened #5069 "Install-Package should filter unlisted packages when no version is given"
@jsakamoto commented on [Wed Apr 19 2017](https://github.com/NuGet/NuGetGallery/issues/3802)

### What you were trying to do.

Update the NuGet package "Selenium.WebDriver.MicrosoftWebDriver" from version v.10.0.14393.1 to latest version.

### What you expected to happen.

The version of the NuGet package "Selenium.WebDriver.MicrosoftWebDriver" update to v.10.0.15063.0.

### What actually happened

[2017-04-19 21:34] emgarten commented on #5052
That is extremely odd that some packages download and not others! Glad you were able to find the fix, I will keep it in mind if anyone else hits this.

[2017-04-19 21:56] emgarten commented on #5066
@pepone you could do this by conditionally setting the ExcludeAssets property on the package reference.

[code]

For this to take effect you will need to run a restore and pass /p:CustomCondition=true

[2017-04-19 22:02] emgarten commented on #5049
Adding the NuGet UI menu item to the NuGet node sounds like a good idea to me.

[2017-04-19 22:09] emgarten commented on #5047
This issue was moved to dotnet/project-system#2022

[2017-04-19 22:09] #5047 closed, assigned to nobody

[2017-04-19 22:12] emgarten commented on #5038
@kzu

[2017-04-19 22:42] nickverschueren commented on #4052
@jeremyVignelles : So basically Nuget.exe needs to find the System.Runtime.dll file. That means like any .NET assembly it will search in the execution path, the probing paths and the gac. These are the options you have to place it.
I chose to use a probing path by creating a nuget.exe.config file, which I placed in the directory where I have nuget.exe. I use a custom nuget.exe location in my build

[2017-04-19 23:28] emgarten opened #5070 "Add compat package for netstandard 2.0 during pack"
Pack on a csproj should auto add the compat shim to a net461 dependency group. net471 should clear this out.

We should also warn during package analysis if this is missing. Potentially during custom nuspec scenarios we should just warn instead of adding it.

[2017-04-19 23:39] alpaix commented on #4797
Root cause of this hang was addressed in NuGet/NuGet.Client#1284.

[2017-04-19 23:45] emgarten commented on #4485
@rrelyea @zhili1208 this has 56 hits in 15.1. Can we get this merged for 15.3?

[2017-04-19 23:49] kzu commented on #5038
Here's a concise readme: https://github.com/NuGet/NuGet.Build.Packaging/blob/dev/README.md

Being in its early stages, user-focused documentation (as opposed to developer-focused spec we have now) is still missing, yes.

[2017-04-19 23:53] kzu commented on #5038
Also, for the most part, what you're asking is basically documented at https://docs.microsoft.com/en-us/nuget/guides/create-net-standard-packages-vs2017

Nugetizer supports basically the same metadata, but in any project type. Plus, the (not documented yet) IDE project and templates mentioned in the readme above.

[2017-04-20 00:22] eerhardt commented on #5042
@ericstj @emgarten - Can you select native assets based on a TFM?  It sounds like we need a different native asset on `netcoreapp` than when used on `uap`.

[2017-04-20 00:36] anangaur commented on #5070
I am assuming this covers VS pack option in the project context menu as it would call msbuild /t:pack?
![image](https://cloud.githubusercontent.com/assets/14800916/25208001/b9eb865e-2526-11e7-967b-819cf689e5a3.png)

[2017-04-20 01:11] emgarten commented on #5042
Support for ``runtimes/{rid}/nativeassets/{tfm}/{any?} `` was added with https://github.com/NuGet/Home/issues/2782

Set a min client version of 3.5.0 in your nuspec to ensure that consumers have the correct client version to pick up this nupkg path.

[2017-04-20 01:11] #5042 closed, assigned to nobody

[2017-04-20 01:15] sashkode opened #5071 "Unable to Build a NuGetizer .nuproj in TFS with the Hosted VS2017 agent"
Hi,

I just installed the NuGetizer Visual Studio Extension for VS2017 and created a NuGet Package Project using the template. However, doing so broke our TFS build for the solution in which we added this project. Our build uses the default Hosted VS2017 agent.

Here's the error:

`C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\amd64\Microsoft.Common.CurrentVersion

[2017-04-20 01:18] mattleibow commented on #5042
Awesome! Thanks!

Just wanted to add that to use NuGet v3.5 in VS 2015, you may have to install the vsix: http://dist.nuget.org/

[2017-04-20 02:50] DVMirchev opened #5072 "Package Manager Console not working with path containing grave accent (`)"
## Details about Problem
Package Manager Console

NuGet version: 4.1.0

VS version: MS VS Community 2017 15.1 (26403.7)

OS version:  win10 v1607 (14393.1066)

1. I tried to integrate VCPKG to a project with the command line provided by VCPKG (I like to organize my folders with a grave accent (`) in front of them, it is a valid path):

**Install-Package vcpkg.F.vcpkg -Source "F:/`vcpkg/scripts/bui

[2017-04-20 03:31] emgarten commented on #5071
@kzu

[2017-04-20 03:40] emgarten commented on #5072
The back tick is the escape character in powershell.

does it work if you use: ``Install-Package vcpkg.F.vcpkg -Source "F:/\`vcpkg/scripts/buildsystems"`` or escape it in some other way?

[2017-04-20 03:48] DVMirchev commented on #5072
That is unfortunate.

Same result:

[code]

[2017-04-20 03:56] emgarten commented on #5072
I was off on the escaping, double back tick works.

[code]

[2017-04-20 04:06] DVMirchev commented on #5072
Indeed. Thanks a lot for the help.

What do you think - should I file a bug in VCPKG bug-base about this. Since I just copied and pasted this from vcpkg output:

[code]

[2017-04-20 04:08] emgarten commented on #5072
@DVMirchev if that is what the instructions for VCPKG say, then yes it looks like an issue with the docs.

From what I can tell this looks like normal powershell behavior, NuGet isn't getting a chance to handle this.

[2017-04-20 07:30] pepone commented on #5066
Will this work for native packages where you have .props/.target files imported as part of the package? In my case using NuGet native packages with .props/.targets files I end-up having to add this Conditions in multiple places manually/

        <Project DefaultTargets="Build"
             ToolsVersion="14.0"
             xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
        <Impor

[2017-04-20 07:31] dweggemans commented on #4234
I just ran into this issue as well. I can confirm it has to do with the AssemblyInformationalVersion produced by GitVersion.

On my local machine packaging works. The version generated locally is
`[assembly: AssemblyInformationalVersion("0.1.0-unstable.6+Branch.develop.Sha.5e3df28141ab83c853b26f35d1732d491cc266c2")]`

On the buildserver a different version is produced:
`[assembly: AssemblyInformat

[2017-04-20 07:55] emgarten commented on #5066
It looks like you are using a packages.config project. Adding custom conditions on the nuget added conditions is currently the only way to do this for those projects.

[2017-04-20 08:17] v-luzh opened #5073 "[Test Failure] No update under ‘References’ node after installing a package through PMC in C# UWP"
**NuGet Version:** NuGet 4.3.0-Preview1-2506 (Insertable)
**VS Version:** D15Rel 26419.00
**OS Version:** Windows 10 RS2_Release 15063.2.170323-1837

**Repro Steps:**
1. Create a C# UWP through New Project->Visual C#->Windows Universal->Blank App (Universal Windows).
2. Open PMC and PM UI for this project.
3. Expand the **‘References’** node of the project in Solution Explorer.
4. Type **‘Install-

[2017-04-20 09:00] Moodys-SCMTeam commented on #4990
Hi Rohit,

          Do you have any update for us?

Regards,
Gaurav Kushwaha
Software Configuration Management (SCM)
Architecture & Engineering
Mobile +91 9763907559
Direct  +91 2066348000 ext 336715

From: Kushwaha, Gaurav (non-empl)
Sent: Thursday, April 13, 2017 7:11 AM
To: 'NuGet/Home' <reply@reply.github.com>; NuGet/Home <Home@noreply.github.com>
Cc: Moody's - SCM Team <Moodys-SCMTeam@moodys

[2017-04-20 10:24] shaikhspear16 commented on #3078
@Seeker1437 I am naive to NugetPackages. Can you please tell me where did you run the commands? A command prompt does not recognise nuget.exe.

[2017-04-20 10:52] xavierdecoster commented on #5068
The issue here is that V2 endpoints (OData) currently have the behavior of always returning the original version string as-is in the Version property. For SemVer2 packages, that would be a call to `.ToFullString` (to include the metadata). However, that very call would return a normalized version string instead of the original version string for non-SemVer2 packages.

To not break that behavior, a

[2017-04-20 11:02] Seeker1437 commented on #3078
Downlaod this:

https://dist.nuget.org/win-x86-commandline/latest/nuget.exe (or check here: https://dist.nuget.org/index.html)

You can run this from anywhere using command prompt or powershell.

Then you can run the following commands::

[code]

[2017-04-20 12:01] forki opened #5074 "Getting HTTP 400 from nuget.org after push"
I trying to push to nuget.org with paket like we always do.
The package seems to be uploaded and shows up in the nuget.org gallery. But somehow it still sends HTTP 400 back. This was reported first time on april 17 by @Horusiath and now we see it everywhere.

Did something change server side? Do we need to adjust?

![image](https://cloud.githubusercontent.com/assets/57396/25229688/817f01d2-25d1-11

[2017-04-20 12:14] dasMulli commented on #4337
This is https://github.com/dotnet/sdk/issues/967

[2017-04-20 12:29] m0sa commented on #4853
@rohit21agrawal finally came around to taking your nupkg for a spin. The build fails with the following errors:

[code]

You can try it out for yourself by running `.\build.ps1 -SkipTests`  from this commit: https://github.com/StackExchange/Dapper/commit/972db0625b2a1d0912591bb5a9cf4c62c269f13c

[2017-04-20 13:03] kroniak opened #5075 "VS2017 and dotnet produced nuget package without PCL"
## Details about Problem

NuGet product used: VS UI and dotnet.exe

dotnet.exe --version: 1.0.3

VS version: vs 2017.1 15.1 (26403.7)

OS version: win10 v1703 (15063.138)

## Detailed repro steps so we can see the same problem

1. Create class library project with multitarget and enable creating nuget packages on build

[code]

2. Use VS 2017 msbuild or dotnet pack command. It produced nuget packa

[2017-04-20 13:17] forki commented on #5074
scratch that. it is not uploaded.

[2017-04-20 13:24] forki commented on #5074
I tried manually:

![image](https://cloud.githubusercontent.com/assets/57396/25232968/73e770de-25dd-11e7-8f71-8eaed387df11.png)

Is that new?

[2017-04-20 13:42] joozek78 opened #5076 ""End of Central Directory record could not be found" when trying to push a package"
## Details about Problem

NuGet product used: **NuGet.exe**

NuGet version (x.x.x.xxx): **3.5.0.1938**

VS version (if appropriate): 2015

OS version: **win10 v1607 (14393.1066**

Worked before?: **no**

## Detailed repro steps so we can see the same problem

1. `git clone git@github.com:starcounter/authorization`
1. `cd authorization/authorization`
1. `msbuild Authorization.csproj` <-- actually y

[2017-04-20 13:52] forki commented on #5074
https://docs.microsoft.com/en-us/nuget/create-packages/dependency-versions#version-ranges says packages with missing version attribute are rejected now. There are still many samples in nuget docs which show that this would work. Anyways, I'm happy I found it and it's fixed in paket 4.5

[2017-04-20 13:52] #5074 closed, assigned to nobody

[2017-04-20 14:11] ygeelen-tb commented on #4938
I created a separate issue for the second issue #4953 but it isn't getting much attention it seems.

[2017-04-20 14:44] saf-itpro opened #5077 "Updating NuGet packages in Visual Studio 2015 causes the project build to fail"
In the Updates tab of NuGet Package Manager in `VS2015` I saw updates available for about 25 already installed packages. Most of the updates indicated an update from 1.0 to 1.1. So, I decided to update them. But, after the updates, when I tried to Rebuild solution the build failed with the errors shown below. I ran dotnet restore command as suggested by one error below but the build still fails wi

[2017-04-20 15:19] m0sa commented on #4853
I've played around a bit more, the error above seems to happen as soon as `/p:NuGetBuildTasksPackTargets="asasda"` is passed to `dotnet pack`, regardless of @rohit21agrawal's package being added or not.

[2017-04-20 15:26] rohit21agrawal commented on #4853
Let me get back to you in a few hours to see why this is happening.

[2017-04-20 15:49] gsainagendraprasad opened #5078 "Unable to load the service index for source https://api.nuget.org/v3/index.json."
Remove the content above here and fill out details below.

## Details about Problem
I am trying to deploy (cf push) an dot net core application in to pivotal cloud foundry (PCFDEV) in my local machine. Once i run cf push command as part of staging process , it is not able to restore the packages using :  https://api.nuget.org/v3/index.json.

2017-04-19T15:31:01.399-05:00 [STG/0] [OUT] log : Restor

[2017-04-20 16:54] nkolev92 opened #5079 "Add force option for restore"
Potential solutions:
- SkipNoOp

- Force
force might be confusing as there is already a force flag for install-package
In addition, this won't force anything in the packages config case.

[2017-04-20 16:58] nkolev92 opened #5080 "Improve NuGet Restore Perf - Implement smarter NoOp for command line restores and VS"
More information in the spec here.

https://github.com/NuGet/Home/wiki/NuGet-Restore-No-Op

[2017-04-20 17:04] nkolev92 opened #5081 "decide"

[2017-04-20 17:04] nkolev92 opened #5082 "dg spec"

[2017-04-20 17:04] #5082 closed, assigned to nobody

[2017-04-20 17:04] #5081 closed, assigned to nobody

[2017-04-20 17:11] karann-msft commented on #2456
@rrelyea doesn't feel like a docs issue. Let me know if you feel otherwise.

[2017-04-20 17:22] mishra14 opened #5083 "Determine what restore inputs should be part of the dg file"
@mishra14 commented on [Tue Apr 18 2017](https://github.com/NuGet/Client.Engineering/issues/34)

---

@mishra14 commented on [Wed Apr 19 2017](https://github.com/NuGet/Client.Engineering/issues/34#issuecomment-295449754)

Current thoughts -

![image](https://cloud.githubusercontent.com/assets/10507120/25202889/edfd3322-250b-11e7-83c9-dceb57814d01.png)

[2017-04-20 17:53] rohit21agrawal commented on #4990
i will get back to you by the end of day regarding this. in the meanwhile, could you try using later versions of NuGet.exe (3.5.0, 4.0.0, 4.1.0) from https://dist.nuget.org/index.html .

[2017-04-20 17:55] rohit21agrawal commented on #4990
@Moodys-SCMTeam i don't see the attachment in your comment. perhaps you could upload it to OneDrive and share a link with us?

[2017-04-20 18:07] karann-msft commented on #2905
The way to test this would be:
1. create the nuget package
2. copy it to a local folder
3. list that folder as a source
4. install the nuget package from that source into the 7 projects using nuget.exe

[2017-04-20 18:16] jbogard commented on #4853
I got the same as @m0sa as well.

[2017-04-20 18:27] kraigb commented on #3361
@joelverhagen Do you have suitable information?

[2017-04-20 18:35] srivatsn opened #5084 "Pack succeeded but with no .nupkg generated for ASP.NET core web project"
_From @mlorbetske on April 20, 2017 3:58_

_From @MiaomiaoHuangfu on April 17, 2017 9:52_

create an ASP.NET Core web project, right click the project and click "Pack".

- Expected result: .nupkg is generated under the path bin\debug;
- Actual result: .nupkg is not generated under the path bin\debug or other path.

![packsucceededwithnonupkggenerated](https://cloud.githubusercontent.com/assets/229

[2017-04-20 18:39] livarcocc opened #5085 "Error "path1 cannot be null" when invoking "dotnet run" on Linux when HOME is not set"
_From @mikeharder on April 8, 2016 22:57_

## Steps to reproduce

On Linux, invoke "dotnet run" when HOME is not set.  My specific scenario was invoking "dotnet run" from an Upstart job.
## Expected  behavior

Works correctly or displays friendly error message.
## Actual behavior

[code]
## Environment data

`dotnet --info` output:

[code]

_Copied from original issue: dotnet/cli#2385_

[2017-04-20 18:39] livarcocc commented on #5085
_From @vahpetr on April 9, 2016 15:58_

Thanks @mikeharder
Every launch the supervisor crashing, three weeks could not understand the reason

[code]

[2017-04-20 18:39] livarcocc commented on #5085
_From @stanislavromanov on September 30, 2016 9:33_

It requires nuget package to be in home for some reason. e.g. `/home/{user}/.nuget/packages` that's why it's dependant on this env variable.

[2017-04-20 18:39] livarcocc commented on #5085
_From @piotrpMSFT on November 10, 2016 5:6_

Just verified this still repros on preview3 on OS X. Fix should be easy. The dependency exists when validating or prepping the offline nuget cache.

[2017-04-20 18:39] livarcocc commented on #5085
_From @inormis on November 27, 2016 6:12_

@piotrpMSFT is there any workaround for this?

[2017-04-20 18:39] livarcocc commented on #5085
_From @droyad on November 27, 2016 8:19_

@inormis IIRC setting the `Home` environment variable works around this issue

[2017-04-20 18:39] livarcocc commented on #5085
_From @inormis on November 28, 2016 11:28_

@droyad could you elaborate more on this?

[2017-04-20 18:39] livarcocc commented on #5085
_From @droyad on November 28, 2016 12:1_

As OP mentions, this issue occurs when the `HOME` environment variable is not set. Setting it works around the issue.

[2017-04-20 18:39] livarcocc commented on #5085
_From @inormis on November 28, 2016 14:10_

@droyad  Home is set to /home/teamcity. Should it be set to something else?

[2017-04-20 18:39] livarcocc commented on #5085
_From @inormis on November 28, 2016 20:20_

Maybe it's related to https://github.com/dotnet/cli/issues/354

[2017-04-20 18:39] livarcocc commented on #5085
_From @PeterVenable on January 11, 2017 22:4_

I'm getting the same error message on Windows whether or not HOME is set.

[2017-04-20 18:39] livarcocc commented on #5085
_From @blackdwarf on January 14, 2017 15:15_

@PeterVenable can you provide more details? Which version of the tools are you using?

[2017-04-20 18:39] livarcocc commented on #5085
_From @PeterVenable on January 16, 2017 17:20_

DotNetCore.1.0.1-VS2016Tools.Preview2.0.3 and dotnet-dev-win-x64.1.0.0-preview2-003156 were installed. Unfortunately I don't have login access to the machine where the error occurred so it's hard to provide more details.

[2017-04-20 18:39] livarcocc commented on #5085
_From @piotrpMSFT on January 19, 2017 9:26_

@PeterVenable thanks for the context. As your version number and the callstack above suggest, this was an issue in the `project.json` back-end. The issue got resolved when we moved to MSBuild in preview3. We don't have plans to ship additional project.json updates now that we've transitioned to msbuild. Closing the issue, therefore.

[2017-04-20 18:39] livarcocc commented on #5085
_From @mikeharder on February 9, 2017 2:30_

I'm seeing a similar issue with CLI 1.0.0-rc4-004757, though it appears the root cause has moved from the CLI to NuGet.

My upstart script contains the following:

[code]

The call to `dotnet run` fails with the following callstack:

[code]

`dotnet --info`:
[code]

[2017-04-20 18:39] livarcocc commented on #5085
_From @mikeharder on February 9, 2017 2:36_

I was able to workaround the issue by adding the following to my upstart script:

[code]

[2017-04-20 18:39] livarcocc commented on #5085
_From @piotrpMSFT on February 9, 2017 6:47_

@livarcocc can you take a look?

[2017-04-20 18:39] livarcocc commented on #5085
_From @juanfranblanco on April 19, 2017 8:21_

Same problem on 1.0.1, and none of the workarounds work
NUGET_PACKAGES=/root/.nuget/packages
NUGET_HTTP_CACHE_PATH=/root/.local/share/NuGet/v3-cache
are set in env

[code]

[2017-04-20 18:39] livarcocc commented on #5085
The fact that this is happening during first run is just because that's the first time we try to use these nuget apis. If you disabled first run, you will still hit issues when doing a regular restore, for instance.

I am moving the issue over to NuGet. @emgarten, let me know if we are using this API incorrect, in which case we can change it, but we have seen this issue before where the only way t

[2017-04-20 18:41] mishra14 opened #5086 "[Consider] dotnet add package should support adding a package as a tool"
e.g. -

`dotnet add package <tool_name> --isTool` -> This can be done within NuGet with least work load.

or

`dotnet add tool <tool-name>` -> This would require more work on dotnet cli side. But seems cleaner.

[2017-04-20 18:42] mishra14 opened #5087 "[Consider] dotnet remove package should support removing tools"
e.g. -

`dotnet remove package <tool_name> --isTool` -> This can be done within NuGet with least work load.

or

`dotnet remove tool <tool/-name>` -> This would require more work on dotnet cli side. But seems cleaner.

[2017-04-20 18:43] mishra14 commented on #5086
Related: https://github.com/NuGet/Home/issues/5087

[2017-04-20 18:43] mishra14 commented on #5087
Related: https://github.com/NuGet/Home/issues/5086

Related task for dotnet add tool: https://github.com/NuGet/Home/issues/4901

[2017-04-20 18:46] mishra14 opened #5088 "Restoring a project with tools reference seems to throw extra logs"
@shanselman reported this through email.

Seems that restoring a project containing a tools reference displays _TWO identical lines that both say restoring packages._

[2017-04-20 18:46] mishra14 commented on #5088
@emgarten can you confirm?

[2017-04-20 19:16] emgarten commented on #5088
Dupe of https://github.com/NuGet/Home/issues/4415

[2017-04-20 19:16] #5088 closed, assigned to emgarten

[2017-04-20 19:23] debonte opened #5089 "NotImplementedException from IVsPathContextProvider.TryCreateContext when called for a vdproj"
**NuGet product used:** VS UI
**NuGet version:** 4.2.0.2451
**VS version:** d15rel 26419.1
**OS version:** rs2_release 15063.0.170323-1837

IVsPathContextProvider.TryCreateContext throws NotImplementedException when it’s called on a vdproj (Visual Studio Installer project).  The exception originates from NuGet's call to EnvDTE.Project.get_ParentProjectItem.

Since the project system is extensible

[2017-04-20 19:24] debonte commented on #5089
FYI @alpaix

[2017-04-20 19:43] zhili1208 opened #5090 "Lightweight Solution Load: Package.Config Project"

[2017-04-20 19:44] zhili1208 opened #5091 "Lightweight Solution Load: Integration + Bugs"

[2017-04-20 19:44] zhili1208 opened #5092 "Lightweight Solution Load: ProjectK Project"

[2017-04-20 19:45] zhili1208 opened #5093 "Lightweight Solution Load: Legacy Csproj Project"

[2017-04-20 19:46] zhili1208 opened #5094 "Lightweight Solution Load: CPS Project"

[2017-04-20 19:58] gsainagendraprasad commented on #5078
I specified the credentials in power shell using this :
$webclient=New-Object System.Net.WebClient
$creds=Get-Credential
$webclient.Proxy.Credentials=$creds

after this it was able to restore the NuGet packages. Thank you.

[2017-04-20 20:03] emgarten commented on #5085
Setting NUGET_PACKAGES should avoid the code path this is going down. My guess is the env var NUGET_PACKAGES isn't set correctly here, but if it is there must be a bug in nuget.

[2017-04-20 20:34] MikhailArkhipov commented on #4986
Frankly simple switch to turn automatic off would also be useful. Even it is not blocking it will burn CPU cycles (VS has many threads) and drain laptop battery.

[2017-04-20 20:34] alpaix commented on #3711
Need to address To-Dos left in client code.

[2017-04-20 20:35] MikhailArkhipov commented on #4451
Or provide switch to turn automatic operations off.

[2017-04-20 21:02] alpaix commented on #4451
@MikhailArkhipov This is tracked in NuGet/Home#3963.

[2017-04-20 21:16] danwalmsley opened #5095 "Nuget.Client API How to get download progress?"
Hi,

   I am using the nugget.client api to download packages like this:

[code]

However I'm not sure how to get the download progress? Is this possible, for large packages it would be nice to give ui feedback on dl progress,

Many Thanks in advance.

Dan

[2017-04-20 21:43] IlyaBiryukov opened #5096 "UIDelay: nuget.solutionrestoremanager.dll!NuGet.SolutionRestoreManager.SolutionRestoreWorker.Restore"
## Details about Problem

NuGet product used: client that ships with Dev15 RTW
VS version (if appropriate): Dev15 RTW

Worked before? If so, with which NuGet version: N/A - this is a new feature in Dev15

## Detailed repro steps so we can see the same problem
See [DevDiv bug 410078](https://devdiv.visualstudio.com/DevDiv/Connected%20Experience/_workitems?id=e64f58f1-a31a-4f8b-98e2-e3a48f544b53&_a=

[2017-04-20 21:49] anangaur opened #5097 "Floating version patterns like '1.*` are treated as ranges without a max, `1.*` is [1.*, )"
1. Create a NETCore/NETStandard project (PackageReference).
2. Have it depend on a package (say NuGetPlayLib) that has versions 1.1.0,1.2.0,1.3.0,2.0.0
3. Now edit the csproj file to make the dependency on "1.*"
`  <ItemGroup>
     <PackageReference Include="NuGetPlayLib" Version="1.*" />
   </ItemGroup>`
4. Remove the versions 1.* from the feeds
5. Restore package dependencies for the project

**

[2017-04-20 21:51] anangaur commented on #5097
For reference look at the documentation:
http://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-04-20 21:58] emgarten commented on #2456
@karann-msft there has been a lot of confusion around this area. A short doc on dropping v1 support would help.

[2017-04-20 22:01] emgarten commented on #5097
Users can specify ``[1.*, 2.0.0)`` to enforce an upper bound.

[2017-04-20 22:09] emgarten commented on #5097
A floating range is treated as two ranges currently.
1. The allowed bounds
1. A preferred version within those bounds

In the case of ``1.*`` the preferred range is ``1.MAXINT``, the nearest version to that will be used. Versions below the bounds of ``[1.0.0, )`` will be considered errors.

[2017-04-20 23:09] emgarten commented on #5095
There isn't currently a way to get download progress. But it could be done by injecting a custom HttpMessageHandler.

To do this you would need to create something like ``HttpHandlerResourceV3Provider`` and add it to your provider list. Currently the handler being used comes from this call
``providers.AddRange(Repository.Provider.GetCoreV3());``

[2017-04-20 23:51] IlyaBiryukov commented on #5096
Another UI Delay on the same frame, with different callers. More details are in [DevDiv bug 410081](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/410081)
[code]

[2017-04-21 00:04] IlyaBiryukov commented on #5096
Another UI delay on the same frame, with different callers. More details in [DevDiv bug 410080](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/410080)
[code]

[2017-04-21 03:40] emgarten commented on #5096
From the stack trace this issue looks like it could be fixed once this goes in: https://github.com/NuGet/NuGet.Client/pull/1294

@alpaix would you dupe this out if it is the same cause?

[2017-04-21 06:28] SergeyAlexeev opened #5098 "Can't automatically update a nuget package within .core app(VS 2015)"
I'm developing a project template based on standard .core StarterWeb app template. My project contains some additional nuget packages. I'd like to update these packages automatically. Well, I've created a custom project context menu item. Click on this item should update the related package.

At first, I've tried to update it using the `IVsPackageInstaller.InstallPackage` method. Unfortunately, th

[2017-04-21 14:01] pedrolamas opened #5099 "NuGet.exe complains about "repository" element!"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet.exe

NuGet version (x.x.x.xxx):
3.5.0.1996

OS version (i.e. win10 v1607 (14393.321)):
win10 v1703 (15063.138)

## Detailed repro steps so we can see the same problem

1. Create a new nuspec file with all the defaults and inside it add a `repository` element inside the `metadata` element.

[2017-04-21 14:24] GlenAppleton opened #5100 "nuget.exe update doesn't update path in .csproj ItemGroup/Analyzer/@Include"
nuget.exe version : 3.5.0.1938

**Steps:**

1) Add a reference to Microsoft.CodeAnalysis.Analyzers.1.0.0 to your C# project and save the changes.
2) Run the command line:  nuget update [path to packages.config]\packages.config -id Microsoft.CodeAnalysis.Analyzers -version 1.1.0 -fileconflictaction ignore -noninteractive -source "nuget.org"

**Result:**

The packages.config file will be updated wit

[2017-04-21 15:48] jeremyVignelles commented on #4052
I finally upgraded to Visual studio 2017, and am using the new csproj-based metadata.
The issue is now gone for me, because I am packaging the nupkg with `dotnet pack` rather than `nuget.exe`.

[2017-04-21 16:59] brendandixon opened #5101 "Nuget fails to read local cache under macOS 10.12 (Sierra)"
## Details about Problem
### Overview
Using .NET Core 1.1.1 (installed via package dotnet-dev-osx-x64.1.0.1.pkg), Nuget (via dotnet) fails to "see" the local cache. The problem makes itself apparent in Omnisharp which fails to see restored assemblies unless restored to the global cache.

### Detailed Setup
I use a Docker container to build / test code that I develop under macOS using VSCode. To en

[2017-04-21 18:18] danwalmsley commented on #5095
@emgarten I tried this...

[code]

everything still works, but I only get to intercept messages with the nugget protocol, not when actually downloading the package files, any clues on what I need to do?

[2017-04-21 18:26] zhili1208 opened #5102 "Lightweight Solution Load: Restore by using new interface"

[2017-04-21 18:27] anangaur commented on #4898
This feature is dependent on https://github.com/NuGet/Home/issues/4895

[2017-04-21 19:05] mhutch opened #5103 "Package should include private lib assets from package ref"
When building a NuGetizer package, if the project has PackageReferences with PrivateAssets=lib, then those references are copied to the output directory. However, they are not included in the the package.

This is important, for example, for msbuild tasks that depend on other assemblies and need them to be bundled alongside the tasks assembly.

https://docs.microsoft.com/en-us/nuget/consume-packag

[2017-04-21 19:06] mhutch opened #5104 "NuGetizer should support IsTool property"
NuGetizer should support the `IsTool` property for compatibility with dotnet pack.

This would basically be

[code]

[2017-04-21 19:07] mhutch opened #5105 "NuGetizer should include None files with CopyToOutput"
NuGetizer should automatically include in the package any `None` files with `CopyToOutput` enabled. And their packagepath should be relative to the primary output.

[2017-04-21 19:10] MichaelSimons opened #5106 "dotnet restore tries to access /.nuget/NuGet/NuGet.Config"
Copied from https://github.com/dotnet/dotnet-docker/issues/229

Steps to reproduce the issue

Use the dotnet:1.1.1-sdk image to build a dotnet project with Jenkins on Linux.
Start off the build with dotnet restore --configfile NuGet.Config in the directory with the solution
Expected behavior

Restore works

Actual behavior

dotnet restore --configfile NuGet.Config

/usr/share/dotnet/sdk/1.0.1/NuGe

[2017-04-21 19:10] MichaelSimons commented on #5106
_MichaelSimons commented_
roederja2, can you check if Jenkins is running the image with a specific user e.g. docker run -u <XXX>? I recall Jenkins does this by default. The behavior you describe is what I see if you run a dotnet image with a non-root user. To workaround this you can run as root user e.g don't specify the -u option or use -u 0 or you can set the HOME variable to a directory the cur

[2017-04-21 19:10] MichaelSimons commented on #5106
_roederja2 commented_
Hi,
you are right Jenkins runs the image as a non-root user. I built an image that contains a config file at that location to fix this. I also mounted directories for the cache and packages directory to speed up the build. Nuget restore is insanely slow without the cache (even compared to running with an empty cache).

This should probably be documented somewhere. And yes agr

[2017-04-21 19:11] MichaelSimons commented on #5106
_MichaelSimons commented_
I believe NuGet's semantics are that any custom config is composed on top of the global config.

Ideally it would be nice if the experience would just work in this scenario, perhaps by building a package cache in the local directory. Alternatively, the user experience could guide users down the path to how to either setting up the correct permissions or instruct you how t

[2017-04-21 19:12] MichaelSimons commented on #5106
@roederja2

[2017-04-21 20:12] anangaur commented on #5097
I find this non-intuitive. The `1.*` seems like it should match to just `1.MAXINT`. Was there a requirement to match to the nearest version if the pattern match doesn't happen? I find the usecase a bit weird.

[2017-04-21 20:12] adayIvey opened #5107 "Issue with powershell command from install.ps1 locking visual studio"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGetPackageExplorer, vs2017

NuGet version (x.x.x.xxx): 4.1.0

dotnet.exe --version (if appropriate):

VS version (if appropriate): 15.1 (26403.7)

OS version (i.e. win10 v1607 (14393.321)): win 7 sp1

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the s

[2017-04-21 23:44] JamesNK opened #5108 "msbuild pack failing"
## Details about Problem

msbuild pack is failing on AppVeyor for some reason. The same msbuild pack command works without issue on my own computer.

## Detailed repro steps so we can see the same problem

Run Newtonsoft.Json project in AppVeyor, e.g. https://ci.appveyor.com/project/JamesNewtonKing/newtonsoft-json/build/1.0.1176

### Verbose Logs

[code]

### Sample Project

The csproj that is bei

[2017-04-22 00:21] mhutch opened #5109 "NuGetizer should not include a reference to itself"
It's very easy to forget to include the PrivateAssets=true on the reference to the NuGetizer package. It would be good if NuGetizer handled this particular package differently, perhaps give a warning, or even filter out the package ref unless some special property is set.

[2017-04-22 00:33] #5021 closed, assigned to nobody

[2017-04-22 01:30] mhutch opened #5110 "Nugetizer is over-eager about adding framework references"
Nugetizer always adds framework references, even when the primary output is tool or build extension and won't actually be referenced by the project.

IncludeFrameworkReferencesInPackage should default to false for primary output types.

[2017-04-22 02:29] mhutch opened #5111 "NuGetizer should not set target framework for build packages"
NuGetizer always assigns a target framework to `PackageFiles` created from project output, even if they are `build` or `tool`.

This generally not the desired behaviour, as it causes them to be dependent on the framework of the host project. This make it impossible, for example, to write tools or build targets using .NET 4.6 and consume them from a .NET 4 or netstandard 1.6 project.

[2017-04-22 07:43] SimonCropp opened #5112 "Why are nuget web requests so slow?"
eg

 * OK https://api.nuget.org/v3/registration1-gz/vandelay.fody/index.json 74412ms

[2017-04-22 16:16] AArnott commented on #4678
I am seeing this consistently in at least one of my solutions when I try to build to run tests. The callstack for the NRE is slightly different.

[code]

[2017-04-22 17:10] #4797 closed, assigned to alpaix

[2017-04-22 19:31] emgarten commented on #5108
Thanks for logging the issue @JamesNK, this looks like the same exception as https://github.com/NuGet/Home/issues/5021 which will be fixed in NuGet 4.2.0/Visual Studio 15.2

[2017-04-22 19:31] #5108 closed, assigned to rohit21agrawal

[2017-04-22 19:39] emgarten commented on #5101
Use ``globalPackagesFolder`` to set the package folder path, dotnet does not use ``repositoryPath`` since it is only for packages.config projects.

Does restore list the NuGet.Config file you modified as a contributing config? My guess is that you may have this file in the wrong location and it isn't being used.

[2017-04-22 19:41] emgarten commented on #5098
``IVsPackageInstaller.InstallPackage`` is the correct way to install packages. You could alternatively use the template wizard since this is for a new project.

In Visual Studio 2017 NETCore projects are automatically restored after they are created which sounds like what you are asking for here.

[2017-04-22 19:42] emgarten commented on #5112
//cc @karann-msft @rrelyea who are investigating similar scenarios

[2017-04-22 20:37] emgarten commented on #4986
@MikhailArkhipov you can disable automatic package restore under the Visual Studio options for NuGet.

[2017-04-22 20:40] MikhailArkhipov commented on #4986
Which one of the options is it?

![image](https://cloud.githubusercontent.com/assets/12820357/25308035/3d4e18ea-2761-11e7-8e4f-2808136ea547.png)

I would like to restore packages when I do run build.

[2017-04-22 20:43] emgarten commented on #4986
There currently isn't an option to disable auto restore separate from on build restore. The pattern I typically use when restore gets in the way is to uncheck both of those boxes, and then manually restore when needed using the right click restore packages option on the solution node from solution explorer.

[2017-04-22 23:31] brendandixon commented on #5101
@emgarten The detail I included above both notes that I tried using `globalPackagesFolder`. The output from `dotnet nuget locals --list` also shows both Linux and macOS *claiming* to abide by `NuGet.config`. But on macOS it has no effect.

Did you attempt the repro steps I outlined?

[2017-04-22 23:48] tofutim commented on #4808
I also had the same problem using nuget pack from TeamCity (nuget 4.1).

[Step 5/5] pack: Create NuGet package from src\Loqu8.Azure.Mobile.Client.SQLiteStore\Loqu8.Azure.Mobile.Client.SQLiteStore.csproj (2s)
[16:42:59][pack] NuGet command: C:\TeamCity\buildAgent\plugins\nuget-agent\bin\JetBrains.TeamCity.NuGetRunner.exe C:\TeamCity\buildAgent\tools\NuGet.CommandLine.4.1.0\tools\NuGet.exe pack C:\T

[2017-04-23 00:09] alpaix commented on #4986
Not for 4.2. Duplicate to #4457.

[2017-04-23 00:09] #4986 closed, assigned to jainaashish

[2017-04-23 07:31] ras0219-msft commented on #5072
This was a bug in vcpkg and should be fixed by Microsoft/vcpkg#964. Thanks!

[2017-04-23 13:36] dmitriyse commented on #4592
I still have this problem. 62 projects are restored in 90 seconds. Machine is fast enough (Core I7-6800k@4.2, SSD).
Tested on NuGet 4.1, 4.2, 4.3 beta. Result the same.
It will be nice to have 20 second for the restore operation.

[2017-04-23 13:43] dmitriyse commented on #4592
This is very annoying to wait packages restore 2+ minutes every time after solution opening.

I was forced to perform hack to break VS restore functionality:
In the file: c:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Microsoft\VisualStudio\Managed\Microsoft.Managed.DesignTime.targets
[code]
And do packages restore manually by command.

[2017-04-23 16:52] emgarten commented on #4592
@dmitriyse you mentioned opening a solution, this issue was fixed for command line restore. It sounds like you seeing slow perf with visual studio automatic package restore which hasn't been fixed yet. Take a look at these issues for more details:

https://github.com/NuGet/Home/issues/4307
https://github.com/dotnet/project-system/issues/1600

Also, you can disable auto restore under the NuGet opti

[2017-04-23 20:00] ljani opened #5113 "Library aliases do not seem to work"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
- `dotnet`
- `msbuild`
- VS2017

NuGet version:

[code]

[code]

dotnet.exe --version:
[code]

VS version: `15.1.26403.7`

OS version: `win 10 v1703 (15063.138)`

## Detailed repro steps so we can see the same problem

`.csproj`:

[code]

Then `dotnet restore` or `msbuild /t:restore`

## Other

[2017-04-23 20:05] ljani commented on #5113
Ah, my bad. The package name is `MediaBrowser.Server.Core` even if the [`Version History`](https://www.nuget.org/packages/MediaBrowser.Server.Core/#dependencySets) and the page say [`Emby.Server.Core 3.0.698`](https://www.nuget.org/packages/MediaBrowser.Server.Core/3.0.698) in the title.

I wish I could delete issues on GitHub...

[2017-04-23 20:05] #5113 closed, assigned to nobody

[2017-04-23 21:33] clairernovotny commented on #4488
@jainaashish Is setting `<RestoreProjectStyle>PackageReference</RestoreProjectStyle>` the correct manual workaround for this scenario?

Will this be needed in 4.3/15.3 anymore or will it "just work" there?

[2017-04-24 03:06] toannguyen83 commented on #2372
Just an update, since I don't know if this will ever get fixed or considered that it's an issue, I'm targetting .nuspec now instead of .csproj. When targeting .nuspec, I have to do the following
- When targeting .nuspec, I need to be explicit on which files to include in the package and describe them in the .nuspec files. It's extra work, but on the bright side it gives me full control on files th

[2017-04-24 08:22] blackn1ght commented on #2657
Unfortunately, @mcliment's answer doesn't fix it for us.  We can `dotnet new` and `dotnet restore` successfully, but the TeamCity restore still times out.

[2017-04-24 15:49] kzu commented on #5111
Good point. Since build *can* be TF dependent (if you want different imports depending on the project's TF), we just need a way to opt in/out of either behavior.

For tools, it may not make sense, I think?

[2017-04-24 15:52] mhutch commented on #5111
Agreed 👍

[2017-04-24 15:54] ghost commented on #4234
I'm running Win 7 enterprise SP1 with VS2015 and VS2017 installed side by side. Targetting .Net 4.6.2

I cannot reproduce all of the above  - this is happening to me with nuget  versions v4.1 - NOT v3.5

I do notice that :
1. Running v3.5.0.1938 of nuget it reports auto detection of MSBuild v14
2. Running v4.1.0.2450 of nuget ir reports auto detection of MSBuild v15

Attribute value is:
`[assembly

[2017-04-24 16:30] JohnLBevan commented on #1215
I received the same issue when working with a PowerShell project.
It seems that this issue has its own bug: https://github.com/NuGet/Home/issues/4083
Mentioning here to associate the threads / in case it's the project template that causes the issue, rather than NuGet itself.

PowerShell Project Template from extension: https://marketplace.visualstudio.com/items?itemName=AdamRDriscoll.PowerShellToo

[2017-04-24 16:59] #5083 closed, assigned to mishra14

[2017-04-24 17:06] livarcocc opened #5114 "Dotnet restore fails when create a xunit project"
_From @qian6 on April 24, 2017 6:27_

## Steps to reproduce
1. Execute the following command to create a xunit project
mkdir xunit-test
cd xunit-test
dotnet new xunit
dotnet restore

## Expected  behavior
It can restore successfully.

## Actual behavior
It have error message as blew:
![capture](https://cloud.githubusercontent.com/assets/20922638/25324652/8dc4e8be-28f9-11e7-89d4-207f212bb9f7.PNG)

[2017-04-24 17:39] shubham90 commented on #4118
I can still repro this issue. This happens only in List with two sources in one command. @rrelyea Any confirmation for the bug ?

[2017-04-24 19:34] zhili1208 commented on #5114
@qian6 I tried dotnet 2.0.0-preview1 on Ubuntu 14.04, can't repro this issue. what's your dotnet version? from the error message, it looks like a network issue.

[2017-04-24 19:53] zhili1208 commented on #5107
@alpaix looks like the issue you fixed

[2017-04-24 20:15] Eilon commented on #4424
@rrelyea - this issue blocks ASP.NET Core (and presumably other) apps from running after running the publish operation. Do we have an idea when we might see a fix for this?

[2017-04-24 20:30] muratg commented on #4424
:eyes:

[2017-04-24 20:35] kraigb commented on #1508
Adding a response from Eric when I queried about the sample and docs he refers to above:

Those docs were a time-boxed effort that was meant to show direction and the NuGet folks were going to pick it up and flesh it out.  The NuGet team did try to pick up a lot of that and translate it to documentation which I reviewed at the time.  I don’t think they had the bandwidth to flesh out the samples an

[2017-04-24 20:54] alpaix commented on #5107
Same as #4797.

[2017-04-24 20:54] #5107 closed, assigned to nobody

[2017-04-24 22:26] rrelyea commented on #4424
From thread with NetCore team...i think they are addressing this.
However, Eric said in that thread:
I kind of think this will *have* to get resolved in NuGet regardless.  The reasoning being that we already have a bunch of .nupkgs that were built with 1.0 that don’t have permission information inside of them.

[2017-04-24 23:00] xavierdecoster commented on #5068
Just discovered another inconsistency: I noticed that e.g. `new NuGetVersion("1.0.0+metadata")` returns `"1.0.0"` as the original version, which is incorrect. This never surfaced, as the `Metadata` property is correctly set, and the `.ToString` method never had to return SemVer2 original version strings so far :)

[2017-04-24 23:16] zhili1208 commented on #5101
@brendandixon "dotnet nuget lcoals --list" always show default location(~/.nuget), I think this is a bug.
I tried the repro steps, it's working on mac by using "globalPackagesFolder" .
[code]
dotnet restore puts all packages in ./.nuget/.
dotnet version is 2.0.0-preview1-005791
OS version is Mac OS X 10.12

[2017-04-24 23:30] zhili1208 commented on #5101
@mishra14
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.CommandLine.XPlat/Commands/LocalsCommand.cs#L45
**BUG**: "dotnet nuget lcoals --list" always show default location(~/.nuget)

[2017-04-25 06:57] #5068 closed, assigned to xavierdecoster

[2017-04-25 07:26] AndyTian-Devops opened #5115 "[Test failure]csproj file doesn't include new added source file"
**NuGet Version:** NuGet 4.2.0-RTM-2451 (Insertable)
**VS Version:** D15Rel 26412.00
**OS Version:** Windows 10 RS1_Release 14393

**Repro Steps:**
1. Download NuGet.Client source code from GitHub.
2. Config the solution and build it successfully. Open with VS2017.
3. Open test project "NuGet.Tests.Apex", add a new class file(e.g. MyTests.cs) to the project.
4. Upload the project file and  edit it

[2017-04-25 08:47] ferdaarikan commented on #1778
Is the commit always adding the fully qualified name? The bug report was complaining about the strong name being removed. Seems like fix is always adding the strong name. We have some use cases that strong name is intentionally excluded from the reference entry. It seems like this fix is breaking the functionality.

[2017-04-25 09:44] ghost commented on #4234
OK I've narrowed this down:
V.3.5.0.1938 - works correctly
V.3.5.0.1996 - gives the "authors required" bug

[2017-04-25 10:08] Thaoden opened #5116 "Update error message from "-f" to "-force" since there are now two commands that start with f."
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet.exe

NuGet version (x.x.x.xxx):
4.1.0.2450

## Detailed repro steps so we can see the same problem

1. Use nuget.exe spec on a project.

2. Attempt to re-spec the project. NuGet fails with:

3. Attempt to use suggested parameter -f, that parameter does not exist:

4. Use parameter -force

[2017-04-25 10:13] dmitriyse commented on #4592
@emgarten Thank you for tip with disabling two checkboxes.

I solved my problem by removing ```<RuntimeIdentifiers>``` from all projects.
Now I have 62 projects ~ 35 seconds.

I found that when I put in the project section:
[code]
packages are restored 3x times longer.

I think this is real performance BUG. Probably it should be posted in another issue.

Also I think 62 projects ~ 35 seconds is st

[2017-04-25 10:18] dmitriyse commented on #4592
Read solution file, then read 62 csproj files, then read brief info from nuget.spec files from the packages cache (.nuget/<package>) + CPU thinking. 1000 Files read +some calculations, then write 62x500kb files should take ~ not more than 10 seconds on modern hardware.

[2017-04-25 10:21] AndyTian-Devops commented on #4884
@rrelyea this issue still happened on Newtonsoft.Json 10.0.2 with both 5.1.0 and 5.2.2
![20170425](https://cloud.githubusercontent.com/assets/12235523/25380704/c669f322-29e3-11e7-9bbc-d53c292397c9.png)
2015

[2017-04-25 10:24] dmitriyse commented on #4592
For example in my case 62 projects finally references 506 different packages (according to project.assets.file).

[2017-04-25 14:03] chris1248 opened #5117 "Build in Visual Studio 2017 utterly fails"
## Details about Problem

NuGet HEAD is da863e0eb0cdc7d4fc079a573ed2558f00836fcf

VS version (2017):

OS version (win10):

## Detailed repro steps so we can see the same problem

1. I pulled down the nuget client repo this morning and built the default branch `dev`. It built fine, but there were a ton of warnings btw (i.e. MSB3277).
2. Started up the solution file: `NuGet.sln` found in the root of

[2017-04-25 14:07] eerhardt commented on #4424
The NetCore team is not addressing this.  It is an intentional breaking change from `netcoreapp1.x` to `netcoreapp2.0` in the System.IO.Compression area.

[2017-04-25 14:15] chris1248 opened #5118 "Silverlight package goes to sl14 instead of sl15"
## Details about Problem

NuGet product used (NuGet.exe):

NuGet version (4.0.0.2283):

dotnet.exe --version (1.0.0-preview2-003131):

VS version (2015):

OS version (win10):

Worked before? If so, with which NuGet version: 2.8

## Detailed repro steps so we can see the same problem

We are creating a nuget package for a silverlight DLL. The Silverlight package uses version 5.0 of Silverlight.
Any

[2017-04-25 15:11] Zarickan commented on #1943
Still encountering this issue using NuGet 4.1.0 in Visual Studio 2017 version 15.1, removing all the duplicate entire sin all package.config solution wide does not fix the problem, neither does deleting duplicate entries in the "packages" folder.

This was **not** an issue when using NuGet 3.5.0, but rather something that only happens in NuGet 4.1.0

EDIT:
Given a solution with more than one proje

[2017-04-25 16:17] adayIvey commented on #4797
when should i be able to try this fix in visual studio 2017?

[2017-04-25 16:24] alpaix commented on #4797
Next Visual Studio preview ships within next few days. Consider installing a preview version side by side and check for updates https://www.visualstudio.com/vs/preview/.

[2017-04-25 16:30] adayIvey commented on #4797
thanks

From: Alex Panov [mailto:notifications@github.com]
Sent: Tuesday, April 25, 2017 12:25 PM
To: NuGet/Home <Home@noreply.github.com>
Cc: Day, Andrew <aday@ivey.ca>; Comment <comment@noreply.github.com>
Subject: Re: [NuGet/Home] Abnormal shutdowns caused by nugetconsole.host.powershell.dll!NuGetConsole.Host.PowerShell.Implementation.PowerShellHost.Initialize (#4797)

Next Visual Studio previe

[2017-04-25 16:49] brendandixon commented on #5101
@zhili1208 The problem occurs under .NET Core 1.1.1 (as noted above). You appear to have tested under .NET Core 2.x.

[2017-04-25 17:21] livarcocc opened #5119 "dotnet restore should work for all configurations or have a parameter for specifying the configuration"
_From @stephan-tolksdorf on April 25, 2017 16:1_

The `dotnet restore` command should either restore dependencies and tools for all configurations of a solution/project or support specifying the configuration with a command line parameter.

The `build` and `clean` commands have the `c|--configuration` parameter for this purpose.  With the `restore` command one currently has to use `dotnet restore

[2017-04-25 20:04] mishra14 commented on #4678
@emgarten

[2017-04-25 20:08] livarcocc opened #5120 "dotnet restore doesn't restore Microsoft.NETCore.App package when a fixed RuntimeFrameworkVersion is used"
_From @kichalla on April 25, 2017 18:28_

**Scenario:** As part of our mirroring we currently get latest CLI and latest shared runtime. As you know the shared runtime that comes with CLI has been older compared to the one available as a separate download, we have been using `<RuntimeFrameworkVersion>2.0.0-*</RuntimeFrameworkVersion>` property to get the latest version. But we sometimes want to loc

[2017-04-25 21:10] zhili1208 commented on #5120
@kichalla Could you try to use dotnet cli preview2? I followed your repro steps, but couldn't repro the issue.
dotnet cli version is 2.0.0-preview2-005840

![capture1](https://cloud.githubusercontent.com/assets/7131513/25407812/ac54ecf8-29c0-11e7-8113-993adbebf512.PNG)
![capture](https://cloud.githubusercontent.com/assets/7131513/25407811/ac45c78c-29c0-11e7-94d6-f567fa9524a7.PNG)

[2017-04-25 21:50] zhili1208 commented on #5119
@livarcocc I followed the repro steps, the issue is building for netStandard included Compile Item Library.fs twice, one is included by default from disk, another is from csproj. I tried to remove the Compile Item or conditional include it from csproj, but it caused other issue. I don't think this is related to nuget.

[2017-04-25 21:54] zhili1208 commented on #1943
@Zarickan Could you provide a simple repro solution we can look at?

[2017-04-25 22:02] brendandixon commented on #5101
@mishra14 @zhili1208 I think I better understand the issues. As noted above, I use containers to build my code. *This is an increasingly common development practice.* Sadly, the restore process writes *absolute* paths into the `project.assets.json` file. Those paths are good only in the context of the container and not the host environment. Editing the code (say, using Omnisharp in VSCode) fails t

[2017-04-25 22:04] stephan-tolksdorf commented on #5119
@zhili1208 Please note this is a repro case with an F# project where files shouldn't be included by default. If you run `dotnet restore /property:Configuration=Release` before `dotnet build -c Release` you won't get this error. AFAICT, this error is caused by `dotnet restore` not properly restoring for the `Release` configuration.

[2017-04-25 22:05] zhili1208 commented on #5118
@chris1248 it should not change the folder name, I just tried a sl5 package, the folder name is "sl50".
Could you provide a sample package we can look at?

[2017-04-25 22:15] zhili1208 commented on #5119
@stephan-tolksdorf thank you, "dotnet restore /property:Configuration=Release" fixed this error. But then I built successfully, what's the error message you got?

[2017-04-25 22:17] zhili1208 commented on #5115
@mishra14 is this a wpf netcore project issue?

[2017-04-25 22:19] zhili1208 commented on #5117
it's supported in Visual studio, Did you follow those steps?

Steps to build NuGet client tools
Clone NuGet/NuGet.Client repository
git clone https://github.com/NuGet/NuGet.Client
Start PowerShell. CD into the cloned repository directory.
Run configuration script
.\configure.ps1
Build with
.\build.ps1 -SkipUnitTest
Or Build and Unit test with
.\build.ps1
Run all test-suites if inside Microsoft cor

[2017-04-25 22:31] stephan-tolksdorf commented on #5119
I got the same error as you, before running "dotnet restore /property:Configuration=Release".

The repro case is just a simple example demonstrating why the `dotnet restore` behaviour is problematic, or, depending on your point of view, `dotnet restore` should have a simple command-line option for setting the configuration, like `dotnet build` and `dotnet restore`.

[2017-04-25 22:32] zhili1208 commented on #5116
nuget.exe spec command have two option start with f : Force and ForceEnglishOuput. we need to fix error message

[2017-04-25 22:41] zhili1208 commented on #5119
I see, actually dotnet restore call "msbuild /t:restore" to start nuget restore, in this case, dotnet restore should use the configuration parameter like dotnet build, internally call "msbuild /t:restore /property:Configuration=Release". On nuget side, we might need to add "configuration parameter" to nuget.exe.

[2017-04-25 22:45] bytemaster-0xff opened #5121 "Within Visual Studio Online, I can not restore private feed from VSTS"
## Details about Problem

NuGet product used: NuGet.exe, VSTS

Seems to be an issue with: NuGet version 3.3, 3.5 and 4.0:

Using VSTS Nuget Install (and Restore) Task

Within the Task Settings:
Path to solution or packages.config: Engine.sln (originally had **\*.sln)

I can restore from the private feed with Visual Studio.net, however I get the error below when attempting to restore as part of a b

[2017-04-25 23:13] zhili1208 commented on #5121
nuget install can't use path of sln file, you need to use restore like following:
 NuGet.exe restore -NonInteractive C:\a\1\s\Engine.sln -Verbosity Detailed

[2017-04-25 23:14] chwarr commented on #4729
Are any more details needed? I haven't heard anything in almost two months.

[2017-04-25 23:39] zhili1208 commented on #4729
I can repro this issue, looks like nuget don't handle double slash here @rohit21agrawal

[2017-04-26 00:16] #5121 closed, assigned to nobody

[2017-04-26 00:44] emgarten commented on #4678
@AArnott can you share your solution and steps?

[2017-04-26 01:20] AArnott commented on #4678
I'm afraid I've lost the repro. ☹️

[2017-04-26 01:37] mishra14 commented on #5115
Not sure. But we can take a look at this tomorrow....

[2017-04-26 01:38] mishra14 commented on #5101
@emgarten : Is this a problem in restore?

[2017-04-26 02:23] NickCraver commented on #4853
@rohit21agrawal Any progress on this? We're still blocked on every library here :(

[2017-04-26 02:29] qian6 commented on #5114
I update SDK version(1.0.3), and can create successfully a xunit project .Thank for your help, you can close this issue.

[2017-04-26 02:33] gulbanana commented on #4853
i've been using XmlPoke to add nodes to the generated nuspec 😰
not the most maintainable of workarounds.

[2017-04-26 03:34] emgarten commented on #5117
This may have been caused by a15fd847eb1a764db1cce17e1858f24c0421e0c0 try syncing to 471d02c54b1e2b6e8c20352da474cb7096dc87d4

[2017-04-26 03:54] emgarten commented on #5101
@mishra14 @brendandixon absolute paths in project.assets.json for docker is covered by this issue: https://github.com/NuGet/Home/issues/4872

Let's keep this issue for the nuget locals change

[2017-04-26 04:10] emgarten commented on #5120
You might also check the ``packageFolders`` property in ``obj\project.assets.json``, this package could be coming from a fallback folder.

If restore completed successfully then it would have been found in one of the locations listed.

[2017-04-26 05:56] msd-kharazi commented on #1739
Yet another request to sort 'Browse' tab by download counts.

[2017-04-26 07:07] tkumark opened #5122 "Visual Studio 2015 NuGet 3.5 Unable to do Updates due to '500 Internal Server Error'"
I get the below error when I try to do updates

I am running VS 2015 Update 3 with NuGet 3.5.
![nuget](https://cloud.githubusercontent.com/assets/2689801/25422025/01a6087e-2a7d-11e7-8d2c-aeed7bf70758.PNG)

[2017-04-26 08:10] BalassaMarton commented on #4360
@AArnott Could you solve the problem with the dependencies? I'm also working on a MSBuild task that I want to distribute as a nuget, but I face the same problem.

[2017-04-26 10:41] Zarickan commented on #1943
I will try and reproduce, but I might know why it is doing this.

The project is a sepia of libraries, published as NuGet packages, lets call them Core, A, B, C, all in the same solution, also in the solution is a test project, Test. Test depends on all the libraries, Core, A, B, C as project references. The other projects, A, B, C depend on Core as a NuGet package.

[2017-04-26 10:50] NuclearFishin commented on #5122
I observed the same issue on my build server (AppVeyor), but seems to be working OK now- successful for 2 consecutive builds.

[2017-04-26 12:21] VQuery opened #5123 "Hint path and Reference path"
I set Hint path and reference path for same dll but hint path location not correct .Project getting unresolved assembly reference .Reference path contains that hint path mentioned assembly.

Can we use same hint and reference path both reference in csproj?

[2017-04-26 13:40] mountgellert commented on #1851
@mrward , How does your change fix this? Still cannot seem to see a way to use encrypted credentials from a Linux machine.

[2017-04-26 13:50] evil-shrike opened #5124 "CLI: Username/Password prompts in console are overwritten by output from the tool"
I have a custom NuGet repository (Artifactory) which requires auth. Username/password in userprofile are outdated. So when I run `nuget restore` nuget.exe ask for credentials. But that requests are handled incorrectly in console as they as overwritten by output from the tool. It looks like several threads write to the output and only one waits for credentials.

Please see the screenshot:
![image](

[2017-04-26 13:59] ricardosmoke opened #5125 "VS2015 Professional - Error when trying to open all Nuget options"
Hello. I'm facing a problem when I try to open NuGet in VS2015. When I try to open, I receive a error Unable to cast object of type 'NuGet.PackageManagement.VisualStudio.VSSettings' to type 'NuGet.Configuration.ISettings'. And after "Process cannot access the file because it is being used by another process". I can't upgrade Nuget in VS2015 and manually too. I reinstalled VS2015, but the problem c

[2017-04-26 14:03] AArnott commented on #4360
@BalassaMarton yes,  I wrote https://github.com/AArnott/Nerdbank.MSBuildExtension to resolve this.

[2017-04-26 15:57] rainersigwald opened #5126 "Problem when Directory contains 2 csproject files (a new one and a old one) -> msbuild thinks it's project.json"
_From @jogibear9988 on March 29, 2017 16:7_

I've started to port my Software to NetStandart.

For this I've created a new csproj in the same directory. The new netstandart Project builds without problems in VS2017, but the 3 old Project files (wich are not modified), throw the following error:

(ResolveNuGetPackageAssets target) ->
  C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\M

[2017-04-26 15:57] rainersigwald commented on #5126
_From @eallegretta on April 26, 2017 4:7_

I am having the exact same issue, is there a temporary solution for this?

[2017-04-26 15:57] rainersigwald commented on #5126
_From @jogibear9988 on April 26, 2017 5:13_

I've found none. I removed the old projects and used also new csproj format for the old ones (but i changed target to net4.5)

[2017-04-26 15:57] rainersigwald commented on #5126
_From @eallegretta on April 26, 2017 6:32_

My problem is that the old project is 4.0 and cannot be changed, I'm actually trying to make the SyslogNet.Client project work as a netstandard library, but I was stopped by this random issue.

I tried modifying the MSBuild path of the old project to a Visual Studio 2013 location but with no luck.

[2017-04-26 15:57] rainersigwald commented on #5126
It looks like the problem is the existence of `obj\project.assets.json` after the `.core` project builds. I was able to work around in the original repro by moving the new core projects `obj` directory to a distinct location. Since there was a project naming convention, I conditioned the move on that.

I added a `Directory.Build.props` in the root of the repo that had this contents:

[code]

@eall

[2017-04-26 16:53] karann-msft commented on #5112
+@skofman1 to do a server side investigation....

[2017-04-26 17:06] #4237 closed, assigned to nobody

[2017-04-26 17:07] #791 closed

[2017-04-26 17:15] karann-msft commented on #4551
@kraigb https://github.com/NuGet/Home/wiki/%5BSpec%5D-Managing-dependency-package-assets

[2017-04-26 17:20] #4341 closed, assigned to karann-msft

[2017-04-26 17:24] #4270 closed, assigned to karann-msft

[2017-04-26 17:37] zhili1208 commented on #5126
@emgarten

[2017-04-26 17:37] #5114 closed, assigned to nobody

[2017-04-26 17:43] zhili1208 commented on #5122
we had some server issue yesterday, they are fixed now. the v2 source should work now.

[2017-04-26 17:48] zhili1208 commented on #5125
could you try to uninstall nuget vsix and install 3.5 vsix from https://dist.nuget.org/index.html?

[2017-04-26 17:52] ricardosmoke commented on #5125
I tried already, but ever I receive the error that the "process cannot access the file because it is being used by another process". I can't update or uninstall. Ever the same error. Thanks!

[2017-04-26 17:57] zhili1208 commented on #5123
@VQuery hint path is used during build time and reference path is used by VS to load all reference dll when VS IDE loads project. why hint path location is not correct in your case?

[2017-04-26 18:05] zhili1208 commented on #5125
Could you try following?

1. Open visual studio and don't open any solution or project.
2. Open package manager console from tools/NuGet Package Manager.

does this works? if not, delete NuGet.Config from %appdata%\NuGet and try again

[2017-04-26 18:22] ricardosmoke commented on #5125
Yay! I solved my problem trying what is explained here, in paulhickman-a365's comment:

https://github.com/NuGet/Home/issues/1138

"I had the issue on two machines. On the simplest scenario it was a clean build, with Windows 2012 R2, Visual Studio 2015, SQL Server 2014, iTunes, Chrome and Notepad++ as the only applications installed. Attempting to upgrade NuGet was the first thing I did after inst

[2017-04-26 18:27] #5125 closed, assigned to nobody

[2017-04-26 20:42] kichalla commented on #5120
You can close this issue. We are currently not getting shared runtime separately and are using the one from the CLI. Thanks.

[2017-04-26 21:05] karann-msft commented on #2456
agreed. Teamcity should probably write about it :-)

https://youtrack.jetbrains.com/issue/TW-49855

[2017-04-26 21:10] #5120 closed, assigned to nobody

[2017-04-26 21:19] #2456 closed, assigned to rrelyea

[2017-04-26 21:28] #5101 closed, assigned to mishra14

[2017-04-26 22:26] livarcocc opened #5127 "Package 'NameOfPackage' is incompatible with 'all' frameworks in project"
_From @bsmayer on April 26, 2017 21:13_

## Steps to reproduce

Create a folder named 'Domain'
Create a folder named 'App'

Inside of Domain, run these commands:
[code]

Inside of App, run these commands:
[code]

## Expected  behavior

Reference added in the project

## Actual behavior

error: Unable to resolve 'Domain' for '.NETCoreApp,Version=v1.1'.
error: Package 'Domain' is incompatible with '

[2017-04-27 03:52] emgarten commented on #5126
Setting BaseIntermediateOutputPath to a unique location as @rainersigwald gave an example of is the best option.

Dupe of https://github.com/NuGet/Home/issues/4463

[2017-04-27 03:52] #5126 closed, assigned to nobody

[2017-04-27 04:12] jogibear9988 commented on #5126
I understand the issue, but I think with the Errormessage you get in visual studio, no one will find out whats the reason!

[2017-04-27 07:21] paradisehuman opened #5128 "PrivateAssets="All" doesn't work in .netstandard csproj for Android Xamarin"
Hi . I'm Using .netstandard 1.4 in Xamarin.Forms.
For example I'm using **Microsoft.AspNetCore.Identity.EntityFrameworkCore** in A layer.
because A layer referenced from B layer and B Layer referenced from Xamarin.forms, I have to install **Microsoft.AspNetCore.Identity.EntityFrameworkCore** in Android .
I don't want to do that because this package is useless in Android.

I'm using

`<PackageRefer

[2017-04-27 09:10] v-luzh commented on #3941
This issue is fixed on D15Rel 26424.02 (NuGet Client 4.2.0-RTM-2457) and D15PreRel 26426.04 + NuGet Client 4.3.0-Preview1-2524.

[2017-04-27 12:28] tmds commented on #4424
In 1.x, files created by .NET Core had the x-bit set. In 2.x, files created by .NET Core no longer have the x-bit set. This change is not specific to System.IO.Compression.

A change made in ZipArchive is making the permission bits accessible (https://github.com/dotnet/corefx/pull/18565) but no-one is using those yet.

Packages created so far, don't have the x-bit set for their files. Extracting p

[2017-04-27 12:37] mrward commented on #1851
@mountgellert - For some reason merging the latest code into my fork closed this issue when it should not have. Re-opening.

[2017-04-27 14:00] stephan-tolksdorf opened #5129 "dotnet pack --include-sources should preserve the relative file location of files from sibling folders of the project folder"
If a project includes source files from a sibling folder, the symbols nuspec generated by the msbuild pack target will have wrong target locations.

Take for example a solution folder with the 3 subfolders `Lib`, `Common` and `Libs-Common` and suppose the project file `Lib\Lib.csproj` has the following compile items

[code]
Then the generated Lib.symbols.nuspec will contain the following file item

[2017-04-27 16:23] stonstad commented on #4947
I can reproduce this error with VS 2017 Update 1.

[2017-04-27 16:30] jairbubbles commented on #4947
I tried to debug directly with NuGet source code but I couldn't compile it 😭

[2017-04-27 17:54] #5122 closed, assigned to nobody

[2017-04-27 18:28] #3941 closed, assigned to nobody

[2017-04-27 18:37] Steve51D opened #5130 "Dependencies not installed when adding a package to a .NET Core application in Visual Studio 2015"
## Details about Problem

NuGet product used: NuGet.exe for creating package | VS UI for installing

NuGet versions:
Package manager for Visual Studio 2015: 3.5.0.1484
Version used to build package: 3.5.0.1938

VS version: Enterprise 2015 Update 3

OS version: Win10 v1607 14393.1066

## Detailed repro steps so we can see the same problem

1. Get package attached to this issue.
2. Create new .NET C

[2017-04-27 18:57] zhili1208 commented on #5128
I don't understand why you need to install that in android? Can you share a simple solution I can take a look?

[2017-04-27 19:43] zhili1208 commented on #5127
I can repro this issue

[2017-04-27 21:59] zhili1208 opened #5131 "VSIX name in json file doesn't match NuGet.Tools.vsix"
In Microsoft.VisualStudio.NuGet.Core.json, the VSIX name is NuGet.VisualStudio.Client.VSIX.

but we produce NuGet.Tools.VSIX

this cause setup failure during insertion

[2017-04-27 22:10] jnm2 commented on #4059
I could really use this behavior. This is what I'm doing:

[code]

`msbuild Foo.csproj /t:build,pack` works beautifully except that this unwanted bit shows up in the nuspec:

[code]

which is totally wrong. There needs to be some way to prevent a particular `ProjectReference` from being considered a package dependency. Ideally, I don't want to see a `<dependencies>` node in the nuspec at all.

[2017-04-27 22:12] rohit21agrawal commented on #4059
@jnm2 add ```<PrivateAssets>all</PrivateAssets>``` to the project reference metadata.

[2017-04-27 22:16] jnm2 commented on #4059
@rohit21agrawal Thanks! Where did you find that?

It did not seem to work though :-(

[code]

does not seem to have any effect on the nuspec.

[2017-04-27 22:18] rohit21agrawal commented on #4059
@jnm2  did you restore after making the suggested change?

[2017-04-27 22:19] jnm2 commented on #4059
@rohit21agrawal No, that did the trick! You rock! Wish this stuff was documented somewhere on MSDN.

[2017-04-27 22:20] jnm2 commented on #4059
Now, it would be satisfying to get rid of that empty `<dependencies>` tag. I don't suppose you've got something for that?

[2017-04-27 22:21] rohit21agrawal commented on #4059
@jnm2 glad to help! :) i'll see if i can get it documented. though, in general, this is what we are trying our best to achieve - ProjectReference = PackageReference . Anything that can be be added to a PackageReference in general can also be added to a ProjectReference.

[2017-04-27 22:22] rohit21agrawal commented on #4059
@jnm2 we don't have that, but maybe in the future we can add a -SuppressDependencies switch to make this happen. Feel free to open an issue :)

[2017-04-27 22:30] jnm2 opened #5132 "Suppress the <dependencies> element when packing a project"
Via https://github.com/NuGet/Home/issues/4059#issuecomment-297855568

When I pack my project using `msbuild /t:pack`, the generated nuspec contains an empty dependencies section. I'd like to be able to entirely remove the `<dependencies>` element:

[code]

To me it makes sense to remove it by default if there are no dependencies, but if removing it can't be the default behavior for some reason, co

[2017-04-27 22:34] jnm2 opened #5133 "Suppress the <requireLicenseAcceptance> element when packing a project"
When I pack my project using `msbuild /t:pack`, the generated nuspec contains this redundant element with the default value:

[code]

To me it makes sense to remove it if the csproj does not contain a `<PackageRequireLicenseAcceptance>` element.

[2017-04-27 22:38] jnm2 opened #5134 "Suppress the <owners> element when it is redundant"
When I pack my project using `msbuild /t:pack`, the generated nuspec contains this element which is redundant because the contents are identical to the `<authors>` element:

[code]

To me it doesn't make sense to write the element at all because there is currently [no way to override it](https://docs.microsoft.com/en-us/nuget/schema/msbuild-targets#pack-target) in the csproj to become different th

[2017-04-27 22:57] anangaur opened #5135 "[Tracking dotnet/project-system#2083] Content does not show up in solution explorer from content packages"
https://github.com/dotnet/project-system/issues/2083
Doc issue to do proper documentation for contentFiles: https://github.com/NuGet/docs.microsoft.com-nuget/issues/300

**Repro steps:**

1. Create a package with some content files in it
2. Consume the package from a NET core project.
3. Do a build that should do the restore.
4. [Current] The content files are not visible in the solution explorer

[2017-04-27 22:59] rohit21agrawal commented on #5131
@nkolev92 is this related to your change of splitting up the vsix?

[2017-04-27 23:26] #5131 closed, assigned to nkolev92

[2017-04-28 00:36] jlholtus commented on #4079
I'm using Cake Build (C# make) and it bootstraps itself using NuGet. But to run NuGet it depends on mono. I have an interest in getting rid of that dependency and doing exactly what am11 suggested; download the command line util and run it stand-alone.

Are there any blockers that would prevent adding this feature?

[2017-04-28 02:00] rynowak commented on #4412
Can we get an ETA on this or reprioritize it?

This keeps coming up for our users when they try to integration test MVC sites or develop a multi-project MVC site.

Example here: https://github.com/aspnet/Razor/issues/1212 We've had many bugs like this 😞 Our best mitigation right now is to spread the hack that's described [here](https://github.com/NuGet/Home/issues/4412#issuecomment-282081051).

[2017-04-28 02:17] livarcocc opened #5136 "Cannot build a sample code when user home is not under /home"
_From @parjong on April 27, 2017 23:30_

## Steps to reproduce
 - Create a user account whose home is not under /home
 - Run dotnet new console, dotnet restore, dotnet build

## Actual behavior
[code]

## Environment data
`dotnet --info` output:
[code]

_Copied from original issue: dotnet/cli#6449_

[2017-04-28 02:17] livarcocc commented on #5136
_From @parjong on April 27, 2017 23:33_

I tried dotnet-dev-1.0.3, and it also shows the same error:
[code]

[2017-04-28 02:17] livarcocc commented on #5136
This is not 2.0 CLI, where we introduced the fallback folder. So, I imagine this is something else in NuGet. Moving it over.

[2017-04-28 03:44] nguerrera commented on #4620
Is there a workaround for this. Cc @agocke @jaredpar

[2017-04-28 04:37] rakeshsinghranchi commented on #5009
I hit the exact same issue.

[2017-04-28 04:57] dsplaisted commented on #4620
You should be able to set the package version property of the project to the same version as the package it's replacing.

[2017-04-28 04:59] jaredpar commented on #4620
Which property is this?

[2017-04-28 05:06] dsplaisted commented on #4620
I don't know exactly (I'm on a phone). I think it's PackageVersion.  Version would also work but would also affect the assembly version.

[2017-04-28 05:07] jaredpar commented on #4620
Thanks.  Version was working but I was worried that it was having other consequences as well.

[2017-04-28 05:53] paradisehuman commented on #5128
@zhili1208 No I don't want to install it Android ... I said I don't want to use it in android but Android request to install them even after I use this code in upper layers of Android
`<PackageReference Include="Microsoft.AspNetCore.Identity.EntityFrameworkCore" Version="1.1.1" PrivateAssets="All" />`

[2017-04-28 06:53] johnkors commented on #4771
Thanks, @mishra14 . How do I track the updating of NuGet.Client in the SDK? Do you have a linked issue in another repo?

[2017-04-28 07:48] emgarten opened #5137 "Dependency bumped up warnings are not displayed if the package reference contains the incorrect casing"
Dependency bumped up warnings are not displayed if the package reference contains the incorrect casing.

[code]

### Expected
``Dependency specified was NuGet.Commands (>= 1.0.0) but ended up with NuGet.Commands 3.2.0``

### Actual
No warning

[2017-04-28 07:57] EamonNerbonne commented on #3676
This would be quite handy also to evaluate temporary fixes to packages. I.e. if a package likely contains (or triggers) a bug, then it's useful to be able to make a change to that package, and see if that change really fixes downstream dependencies you care about, and then repeat that process a few times until you settle on the most appropriate fix (which you then can publish as usual).

[2017-04-28 08:54] karann-msft commented on #1077
The nuspec only allows pivoting on target framework. A .targets file would be needed to conditionally reference dlls in this way.

[2017-04-28 08:54] #1077 closed

[2017-04-28 10:01] jjanuszkiewicz opened #5138 "exact match and version search for nuget.exe list command"
(See https://nuget.codeplex.com/workitem/2130 for a related discussion)

I'd like to be able to find a specific package (exact match on package ID) using the nuget.exe command line client. I'd also like to be able to find a specific version of the package (to check if that version exists in the feed).

Something like:

    # list the most recent version of MyPackage, matching by exact package ID

[2017-04-28 11:46] sjoerd222888 commented on #1077
Just to understand: This means a feature like this will not be implemented. If I work with C++ dlls I will have to create a separate nuget package, one for 32bit and one for 64bit, in case I want to support both.

Is this correct?

[2017-04-28 11:58] dasMulli commented on #3660
Is this still planned so that we can be sure that all combinations of `<PackageReference/>` and classic + sdk-based projects work on Build Tools? Or is it no longer needed going to be needed?

[2017-04-28 16:38] madenwala commented on #3062
Thank you so much for pointing out IVsPackageInstaller  --- this worked perfectly!

[2017-04-28 17:24] zhili1208 commented on #5128
@paradisehuman Can you build the solution? I know there is an issue about aspnetcore that it request to install package even the package is already installed.

[2017-04-28 17:25] paradisehuman commented on #5128
@zhili1208 After Adding the package to Android project,Yes, I can build but before that , No I cant !!!

[2017-04-28 17:27] paradisehuman commented on #5128
@zhili1208 Let me clear, I want to use Microsoft.AspNetCore.Identity.EntityFrameworkCore in A Layer and I don't want to reference it in Android . Even after I using this :

I have to add this package to Android, because A layer has a reference in Android .

[2017-04-28 18:02] zhili1208 commented on #5128
I just created two project and did the reference, but can't repro this issue.

what's the project type of your A layer and Android?

are following repro steps right? Please provide project template
1. create A project from template [the project template?]
2. create android app from template [the project template?]
3. install  Microsoft.AspNetCore.Identity.EntityFrameworkCore to A project
4. Add re

[2017-04-28 18:06] sbomer opened #5139 "Breaking change introduced by merging NuGet.Packaging.Core.Types into NuGet.Packaging.Core"
## Details about Problem

I have a tasks package with a dependency on NuGet.ProjectModel, which pulls in the dependencies NuGet.Packaging.Core.Types.dll and NuGet.Packaging.Core.dll. When I run this on recent SDKs, a newer NuGet.Packaging.Core.dll gets loaded, and I see the following:

[code]

Looking into this, I found that the problem is that the version of NuGet.Packaging.Core.dll I compiled wi

[2017-04-28 18:07] paradisehuman commented on #5128
@zhili1208
1.Create A project from .netstandard class library.
2.Install Microsoft.AspNetCore.Identity.EntityFrameworkCore to A project
3.Create a .netstandard Xamarin.Forms .
4.Reference A project from Xamarin.Forms.
5.Build project and run android.
See what is happening .

[2017-04-28 18:16] emgarten commented on #5139
Thanks for the report @sbomer, 4.3.0 contains some long planned refactoring to reduce the number of nuget assemblies.

Do you have any general advice for how scenarios like this could be improved with packages? If NuGet.Packaging.Core contained a type forwarding assembly for NuGet.Packaging.Core.Types would it solve this?

[2017-04-28 18:29] ericstj commented on #5139
@emgarten typically that's what we'd do if we moved types in .NET.  In this case you moved types up, so if you fix it, make sure you test the case where someone as an old reference and new in the same graph.  IIRC NuGet doesn't like it when packages invert their dependencies between versions and may flag it as a cycle.

[2017-04-28 18:30] emgarten commented on #5128
@paradisehuman from the steps you gave what is the result? what is the expected result?

NuGet should not flow dependencies to parent projects that have ``PrivateAssets=All`` set. Are you seeing the package appear in a parent project?

[2017-04-28 18:31] karann-msft commented on #1077
I am saying, this feature is currently not available. If you want to achieve this today, you could author a targets file that can conditionally reference dlls based on whatever you'd like to pivot on.

[2017-04-28 18:33] paradisehuman commented on #5128
@emgarten
When I use` PrivateAssets=All` on **Microsoft.AspNetCore.Identity.EntityFrameworkCore** in Layer A, I expected build project without adding Microsoft.AspNetCore.Identity.EntityFrameworkCore to Android .
Is it correct ?

[2017-04-28 18:58] zhili1208 commented on #5128
@paradisehuman I can repro this now, looks like android is try to load this dll for some reason, PrivateAssets=All doesn't work, we will investigate more about this

[2017-04-28 19:01] mishra14 commented on #4771
@johnkors : you can track the status of the OR into sdk at https://github.com/dotnet/sdk/pull/1101

We have already inserted into cli.

[2017-04-28 19:05] paradisehuman commented on #5128
@zhili1208 This problem in UWP is same as Android and in UWP I got this error :
`Microsoft.Win32.Registry 4.0.0 provides a compile-time reference assembly for Microsoft.Win32.Registry on UAP,Version=v10.0, but there is no run-time assembly compatible with win10-x86.`

[2017-04-28 19:54] NickCraver commented on #4853
What is the priority on this? Is it just extremely low? We've paused changes/fixes on ported open source projects because we can't merge in. See my comments [earlier in this issue](https://github.com/NuGet/Home/issues/4853#issuecomment-290683981).

Is everyone just supposed to shred zip files and XML, or are we all supposed to generate our own .nuspecs again and effectively throw out the new packa

[2017-04-28 20:14] dtivel opened #5140 "Make PackageReaderBase async for install/restore code paths"

[2017-04-28 20:17] dtivel opened #5141 "Multiplex plugin instance (particularly around ILogger instance)"

[2017-04-28 20:25] dtivel opened #5142 "Get last known good credentials from credential service cache"

[2017-04-28 20:37] stephan-tolksdorf opened #5143 "The msbuild pack target should have a public hook for running user targets before itself"
The `Build` and `Clean` targets have public subtargets `BeforeBuild` and `BeforeClean` that can be used to ensure that custom targets are evaluated before the `Build` or `Clean` target, see https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-extend-the-visual-studio-build-process

The `Pack` target currently lacks such a subtarget.  `_IntermediatePack` could be used within a `BeforeTasks`

[2017-04-28 21:56] zhili1208 commented on #5134
@rohit21agrawal  is there any way override this from /t:pack?

[2017-04-28 21:57] stephan-tolksdorf opened #5144 "File items with a package path below src\ should not be included in non-symbol packages"
A file item like the following should not be included in the nuspec that the msbuild `pack` target generates for a non-symbol package (at least when the `--include-source`/`IncludeSource` option is used and a second nuspec for a "symbols" package is also generated):

`<None Include="build.sh" Pack="true" PackagePath="src\" />`

Currently such file items will be included in both packages.

[2017-04-28 22:07] kzu commented on #3515
Closing for now since MSBuild is the default in VSfM nowadays

[2017-04-28 22:07] #3515 closed, assigned to kzu

[2017-04-29 01:15] rohit21agrawal commented on #4853
@m0sa @jbogard did you guys restore after the adding the package reference to the private nupkg? I couldn't repro this issue on my end. I am currently building another version and upload it here in ~10 mins.

[2017-04-29 01:24] NickCraver commented on #4853
@rohit21agrawal Yep - note restore is part of the build script in our repro above. Same behavior after a manual restore.

Our repro is public, you can test the branch in Dapper [here](https://github.com/StackExchange/Dapper/tree/vs2017), commits are here showing the test: https://github.com/StackExchange/Dapper/commits/vs2017 - @m0sa listed the output above and I just re-confirmed it locally.

Rep