[2016-09-19 15:53] rrelyea commented on #3461
I assume you are talking about Project.json for .NETCore?
If so, that is going away, and will be replaced with values in csproj. At that point, you won't have to keep two things in sync anymore.

[2016-09-19 15:53] #3461 closed, assigned to nobody

[2016-09-19 16:20] rrelyea opened #3465 "Restore3 for a RID"
msbuild /t:restore /p:runtimeIdentifier=win7-x86

/cc @eerhardt

[2016-09-19 17:01] drewgillies opened #3466 "Unable to uninstall package in VS UI if package source not selected"
VS version 25715.01, NuGet version 3.6.0.1821 (not a regression from 3.5, however)
- Install a package.
- Select a different source in the Package source dropdown, somewhere where this installed package doesn't live
- There is no uninstall option for the package

i.e. Unless you know from where your package is installed, you can't uninstall it in the VS UI.

[2016-09-19 17:07] drewgillies commented on #3466
This is somewhat bogus. While this is an accurate description of the experience on the Browse tab, the Installed tab gives an uninstallation route.

[2016-09-19 17:14] rrelyea commented on #3450
And those menus are not functional, I assume?

If not functional:
1) please install 3.4.4
2) run "devenv /setup" with VS closed from a command line.
3) then run VS again, and tell us behavior...

There is a cache of different components that seems to be out of sync with things that are installed.

[2016-09-19 17:37] drewgillies commented on #3466
Reopening after discussing with @rrelyea. It's worth ensuring that we're happy with the design here. Briefly:
- On the Browse tab, even though there's an uninstall button, there's no way to enable that button for an installed package (even with its name in the search box) without that package being discovered in the source/s chosen--so if you don't know the source, you can't uninstall here, even t

[2016-09-19 17:37] drewgillies commented on #3466
Setting as P2 as we have no P3. ;-)

[2016-09-19 17:42] rrelyea commented on #1298
Sounds like this may be a problem with 3.5.0-rc1 era work on filesystem/network based sources.
Please confirm this is a regression from 3.4.4. If it isn't we may not want the risk of bringing to 3.5.0-rtm.

[2016-09-19 18:28] yishaigalatzer commented on #3464
On the surface this looks like jetbrains runner is using an internal API in nuget.exe instead of calling the command directly. This is an implementation detail level of nuget.exe that cannot be relied upon in any code invoking nuget.exe.

Work for us:
1. Validate this is indeed the case
2. Reach out to jetbrains and work with them to remove this direct dependency
3. Consider making it at least tem

[2016-09-19 18:30] rrelyea commented on #3463
Started here: https://github.com/NuGet/Home/wiki/PackageReference-Specification

[2016-09-19 18:36] scottbommarito opened #3467 "[validation] Hovering over the "Package source" dropdown shows disabled sources"
Reproduces on VS 2015 Update 3, NuGet 3.4.4 and VS version 25715.01, NuGet version 3.6.0.1821
- Add some sources to your config.
- Disable some sources.
- Go to "Manage NuGet Packages"
- Hover over the "Package source" box, which currently contains "All".
- Observe:

![nuget-solution](https://cloud.githubusercontent.com/assets/18014088/18644143/00cc359e-7e5d-11e6-9f22-d8e4b8500ec8.png)
- Change th

[2016-09-19 18:37] kzu opened #3468 "Annotate assembly references from NuGet packages with ResolveFrom metadata"
`@(ReferencePath)` from regular assembly references contain metadata like `ResolvedFrom={TargetFrameworkDirectory}` or `ResolvedFrom=ImplicitlyExpandDesignTimeFacades`. It would be nice if the references added by [ResolveNuGetPackageAssets](https://github.com/NuGet/NuGet.BuildTasks/blob/dev/src/Microsoft.NuGet.Build.Tasks/ResolveNuGetPackageAssets.cs#L311) annotated the reference as resolved by Nu

[2016-09-19 18:51] scottbommarito commented on #3467
Note: I looked into the issue more and edited the description.

[2016-09-19 19:05] scottbommarito opened #3469 "[validation] Crash after authenticating a private v2 MyGet feed and clicking "Show x more results""
VS version 25715.01, NuGet version 3.6.0.1821
- Create a private MyGet feed. Add a package to the feed.
- Add the v2 unauthenticated version feed as package source in VS.
- Wait for the password prompt. Click "Remember me" and input the username and password for the feed.
- Observe:

![packages found](https://cloud.githubusercontent.com/assets/18014088/18645084/aa2ba432-7e60-11e6-9389-101bc0592539

[2016-09-19 19:29] kzu commented on #2995
Regarding [Output Assemblies](https://github.com/NuGet/Home/wiki/Adding-nuget-pack-as-a-msbuild-target#output-assemblies), the targets should rely on `BuiltProjectOutputGroupOutput`. No need to deviate from the standard way for project targets to expose what they build. Likewise, there is no need to rely on file lookups for including symbols, rely on `DebugSymbolsProjectOutputGroupOutput` instead.

[2016-09-19 19:47] bunkerdives commented on #1392
Just make sure whichever msbuild version you're looking to use has its parent dir listed in your system (not user) path environment var.

[2016-09-19 20:20] drewgillies opened #3470 "[validation] Browsing Klondike server from VS UI gives errors"
Error is:
Unable to retrieve results from one or more sources: Klondike. Error in out put is as follows:
  GET https://api.nuget.org/v3/registration1-gz/entityframework/index.json
  GET http://klondikeserver:8081/nuget/nuget/Packages(Id='EntityFramework',Version='6.1.3')
  OK http://klondikeserver:8081/nuget/nuget/Packages(Id='EntityFramework',Version='6.1.3') 5ms
  OK https://api.nuget.org/v3/reg

[2016-09-19 20:23] drewgillies commented on #3470
VS version: 25715.01, NuGet version 3.6.0.1821

[2016-09-19 20:30] jainaashish commented on #1298
Issue is with Update-Package command only and its reproing with 3.4.4, 3.5.0-rc1 branches. It works fine with nuget 2.x in vs2013

[2016-09-19 22:57] zhili1208 commented on #3469
the issue is from this commit https://github.com/NuGet/NuGet.Client/commit/86ec4b29ec5ddea7dc08294ddd9054a3a4e1a4c4
it's not about credentials, the problem is UpdatePackageList() cause deadlock.
@jainaashish

[2016-09-19 23:17] rrelyea opened #3471 "Install/update restore code and Restore code paths are not consistent"
- Install/Update and Restore have different Restore implementations which breaks NoOp on first build after install.
- When you install a package to UWP Project.Json, it doesn’t find parent projects that might be csproj/pref and know to restore them too.

[2016-09-19 23:35] rrelyea opened #3472 "ToolsRef implementation"
Blocked on #3462

[2016-09-20 00:10] yishaigalatzer commented on #3470
Couple of questions to @drewgil
1. can you compare to 3.4.4 ?
2. We should have these tests automated
3. We should have this work without the nuget.org feed

[2016-09-20 05:05] harikmenon commented on #3225
Sorry, I was on vacation. Just started looking at this. The NuGet package I'm building from the solution is incomplete, for some for the projects, X86, x64 or ARM is not being packaged. Please share the complete package from you end.

[2016-09-20 07:58] v-luzh opened #3473 "PMC said ‘No packages installed’ with command ‘Get-Package Updates’ even after several packages are installed"
**Repro Steps:**
1.  Click File -> New project -> Visual C# -> Web -> ASP.NET Web Application, then uncheck the box for "Application Insights".
2.  Click Web Forms template and check “Web Forms” and “Web API”.
3.  Change Authentication to “No Authentication” and click OK button.
4.  Open ‘Package Manager Console’ and ‘Manage NuGet Packages…’.
5.  Click ‘Installed’ tab in PM UI and type command **‘

[2016-09-20 09:05] devlead commented on #2596
Any plans for an API?

[2016-09-20 09:18] maartenba commented on #2596
The V2 API is still around for this.

[2016-09-20 09:31] Evangelink commented on #3225
Np! I hope you had a good time off.

I have actually reproduced how the team is working with the code (always x64 for WinRT and always ARM for WindowsPhone) so there is no real benefits for me to add the other cases but if you prefer I can work on it.

[2016-09-20 12:51] boekabart commented on #2869
+1

[2016-09-20 14:39] SergeyKabaev opened #3474 "Nuget Package Manager froze VS 2015"
Hi!
Subj.
Case 1. When i stop debugging - after pressing Shif-F5, then application stopping, then VS execute of switch to the editing-environment and then VS froze.
Case 2. Start debugging - after pressing F5 and the successful project build, but before the application
start.
Case 3. When i break app bulding by Ctrl+Break.
Time of delay - from 2 min to infinity.
Monitoring utility shows that, when

[2016-09-20 15:50] svick opened #3475 "docs.nuget.org has invalid HTTPS certificate"
When I open https://docs.nuget.org/ in Firefox, I get the following error:

[2016-09-20 16:08] maartenba commented on #3475
This has now been fixed. Can you verify things are as expected now?

[2016-09-20 16:21] svick commented on #3475
Yeah, it works for me now.

[2016-09-20 16:21] #3475 closed, assigned to nobody

[2016-09-20 16:26] cameronsjo commented on #3474
I'm having similar issues, where the Package Manager Console will completely lock up Visual Studio. However, my issue is when I first open the solution. It will completely lock up for an indefinite amount of time.  I can reliably replicate the issue with one solution that has 10 projects.

Here's the stacktrace, and some other info from dotTrace:

[code]

VS Info:

[code]

System Info:

[code]

[2016-09-20 17:04] joelverhagen commented on #3261
I have given the test team these new test cases. They have added them to their routine pass.

[2016-09-20 17:04] #3261 closed, assigned to joelverhagen

[2016-09-20 17:04] drewgillies commented on #3470
Closing this--there was a URL transcription error. In response to 2., I agree--let's look at how to make this happen. 3. we can discuss offline.

[2016-09-20 17:04] #3470 closed, assigned to nobody

[2016-09-20 17:06] joelverhagen commented on #2522
My work is done here. The last open item on the checklist mentioned above is owned by ASP.NET team (@troydai) .

[2016-09-20 17:06] #2522 closed, assigned to joelverhagen

[2016-09-20 17:08] drewgillies opened #3476 "[validation] Browse tab fails to populate in VS UI [slug]"
VS version 21715.01, NuGet 3.6.0.1821
On opening of Browse tab of Package Manager, when multiple sources are present (even if only one is selected), the list of packages is _sometimes_ empty. Switching to Installed tab and back to Browse causes it to populate.

[2016-09-20 17:20] kzu opened #3477 "Add Pack support"
Should take the package contents and generate a package without resorting to intermediate spec files.
- [x] Basic packing of package metadata
- [x] Add PackageReference as dependencies
- [x] Pack project main output to the right package folder
- [x] Pack contentFiles
- [x] Add Framework references to proper dependency group
- [x] Add support for package references as development dependencies
- [x]

[2016-09-20 17:30] tsublette commented on #3263
Just tried this again 3.6.0.1842 (nightly build). It still does not include project dependencies.

[2016-09-20 17:41] scottbommarito opened #3478 "Docs incorrectly state that NuGet silently ignores invalid NuGet.Config xml"
https://docs.nuget.org/ndocs/consume-packages/configuring-nuget-behavior

`Although you can modify the file in any text editor, NuGet silently ignores the entire configuration file if it contains malformed XML (mismatched tags, invalid quotation marks, etc.).`

This is not true and has been changed intentionally. These docs should change.

![nuget config is not valid xml](https://cloud.githubuserc

[2016-09-20 17:52] joelverhagen commented on #1292
Spoke to @rrelyea during stand-up, this is an invasive change with some risk. Moving to 3.6 beta2.

[2016-09-20 19:08] natemcmaster commented on #3274
FWIW this issue is fixed by upgrading to Microsoft.CodeDom.Providers.DotNetCompilerPlatform 1.0.2.

[2016-09-20 21:03] kzu opened #3479 "Fix namespaces to match repo name"
We currently use `NuGet.Packaging.Build` but the repo is `NuGet.Build.Packaging`.

Fix it before it's way more work :)

[2016-09-20 22:10] mishra14 commented on #3437
Update:
1. Still investigating on dev 14.
2. The issue does not repro on dev15 Enterprise/wpt/25713.00 with NuGet build 1842. @v-atian could you please confirm that you are not blocked on dev15?

//cc: @rrelyea

[2016-09-20 22:19] emphasis87 opened #3480 "Installing packages takes a very long time in Package Manager Console"
I just ran a command `Update-Package -reinstall -project <myproject>` to repair dependencies to 8 packages and It took a very long time to complete, almost 20 minutes. The same goes for `Install-Package` command. I am not really sure what goes on but it should have been over in seconds. I have noticed this behaviour perhaps for a month. I use VS 2015 community eidtion, version 14.0.25431.01 Update

[2016-09-20 22:56] dtivel opened #3481 "Delay signing fails"
Delay signing fails because the [build/common.ps1](https://github.com/NuGet/NuGet.Client/blob/4cccb13833ad29d6a0bcff055460d964f1b49cfe/build/common.ps1#L261) build script specifies a max serialization depth of 999, but the `ConvertTo-Json` PowerShell command enforces a maximum `Depth` value of 100.

**Repro steps (trivial)**:
1.  Execute:  `"" | ConvertTo-Json -Depth 101`

**Repro steps (with the

[2016-09-20 22:56] dtivel opened #3482 "Build error reporting does not report useful stack frame"
**Repro steps:**
1.  Execute:  `.\build.ps1 -NuGetPFXPath:"D:\key.snk" -MSPFXPath:"D:\key.snk"`

**Expected result:**
The build will report a useful stack frame for an error.

<pre>
Error-Log : [15:52:17 +0]       [FAILED +0:00] Enabling delayed signing
At D:\git\NuGet.Client\build\common.ps1:120 char:17
+ ...             Error-Log "[FAILED +$(Format-ElapsedTime $sw.Elapsed)] $B ...
+

[2016-09-21 00:00] AndyTian-Devops commented on #3437
@mishra14 I'm not blocked on dev15, this issue just happened on Dev14.

[2016-09-21 00:08] rrelyea commented on #3478
3.4.3 is the version that we made this change to fix https://github.com/NuGet/Home/issues/2158

[2016-09-21 00:10] rrelyea commented on #3473
Please compare this result with 3.4.4.1321 and Dev14U3 (but no microupdate).
(is microupdate causing the problem, or did it exist with 3.4.4.1321 and U3)

[2016-09-21 00:34] rrelyea commented on #3442
Closing as it appears everybody agrees that the 3.5.0-rtm-1829 build has fixed it.

[2016-09-21 00:34] #3442 closed, assigned to nobody

[2016-09-21 00:46] rrelyea commented on #3419
Closing won't fix, as I think that is where we have landed on this issue. Xamarin needs to take a fix, as this needs to work with VS2015 as well as VS "15". Please chime in if I didn't capture the current thinking.

[2016-09-21 00:47] rrelyea commented on #3256
Closing. Please chime in if our investigation missed something.

[2016-09-21 00:47] #3256 closed, assigned to zhili1208

[2016-09-21 01:01] kzu commented on #2995
@rrelyea I'm going to track the implementation of this at  #3477, since it's just one part of the whole NuGetizer feature. We added the [Area:NuGetizer](https://github.com/NuGet/Home/labels/Area%3ANuGetizer) to easily filter. I'm also going to give the new [Project](https://github.com/NuGet/Home/projects/1) stuff a short for this.

@kovalikp how about this (which I'm implementing as part of NuGeti

[2016-09-21 02:06] v-luzh commented on #3473
@rrelyea It **doesn't repro** on Dev14U3 25425.01 (with NuGet 3.4.4.1321 in it, without microupdate). But it **repro** on **_Dev15 Preview 25719.02 (NuGet 3.6.0.1821_)**，**_Dev15 Preview 25719.02 + NuGet 3.6.0-xprivate-2004_** and **_Dev15 Preview 25721.01+ NuGet dev-msbuild 3.6.0-xprivate-2028_**.

[2016-09-21 02:56] mishra14 opened #3483 "NuGet Package Manager VSIX does not uninstall from VS dev15"
Repro -
1. Install dev15/Enterprise/wpt/25713.00
2. Install NuGet PM Vsix CI dev drop build 1842
3. Uninstall vsix
4. restart PM

Error -

NuGet PM is still listed in the VS Extensions list

[2016-09-21 06:39] Bidthedog commented on #3442
Yep, 3.5.0-rtm-1829 fixed my problem too

[2016-09-21 07:22] valeriob opened #3485 "Update Solution Packages is VERY slow and vs is frozen"
Hi,
i tried to upgrade 4 packages in a solution with 20 projects, and it took 21 minutes... after 4 hours of trying thinking it was hanging because visual studio was unresponsive....

Nuget 3.5.1737
Vs 2015 update 3
[nuget_solution_update.txt](https://github.com/NuGet/Home/files/484344/nuget_solution_update.txt)

Thanks.

[2016-09-21 08:52] v-luzh opened #3486 "[Test Failure] Could not find the full path of reference ‘System.ValueTuple’ after creating F# ConsoleApplication template"
**Repro Steps:**
1.  New a project (F# ConsoleApplication template).
2.  Expand ‘References’ node in Solution Explorer.
3.  Right-click ‘System.ValueTuple’ and look at the full path of it in ‘Properties’.

**Expected Result:**
There is no yellow warning icon on the reference and the full path is not empty.

**Actual Result:**
There is a yellow warning icon on the reference and the full path is emp

[2016-09-21 08:59] Kanimozhi12 opened #3487 "Assemblies are not properly referred from NuGet"
Hi,

I have faced the following issue with NuGet.

Case 1:
1. Added some references from GAC to the project.
2. Due to some reasons installed the NuGet which contains the patch assemblies ,which i referred from GAC before.
3. The path of the reference is still GAC location not the NuGet packages location.

Case 2:
1. Created fresh project
2. Installed NuGet
3. reference path is set to GAC not the

[2016-09-21 09:04] AndyTian-Devops commented on #3242
Victor Garcia Aprea added a comment.
I just verified this with Preview 25719.00 and I can still repro.

@Andy Gerlicher is the fix in Preview branch already? If so, maybe the fix is not working? This is currently breaking building of Xamarin iOS projects so we need to make sure we have a fix in place for Preview 5.

Yesterday at 11:50 AM

[2016-09-21 12:53] abhidotnet opened #3488 "Sticky References!"
This is an issue which I have dubbed "sticky references". I am adding a package. in this case Microsoft.WebApi from Nuget. There is a similar package in the GAC. The assembly that is being referenced in System.Web

When I add the package, my expectation is that the VS 2015 will stop referencing the System.Web from GAC and reference the one that is part of this package.

This does not happen. I hav

[2016-09-21 13:27] bmjames commented on #3327
I get the same exception (as the original issue) with NuGet 3.4.4. I am running Windows 7 with PowerShell 2.0 and .Net Framework 4.0.

[2016-09-21 14:06] MscrmTools commented on #3328
@daveaglick Hi Dave, I didn't have much time to work with new nuget API but I guess you might drive me to the appropriate direction.
I'm using Nuget to distribute some plugins for an application I'm writing.
With the new API (thanks to your blog posts), I'm able to list packages
Now, I would like to perform installation packages to a specific directory. The rest of the process will be to copy some

[2016-09-21 14:25] daveaglick commented on #3328
@MscrmTools Sure - check here: https://github.com/Wyamio/Wyam/blob/3dbdb81aabce034616f92ec4eb69e5f5628238e2/src/Wyam.Configuration/NuGet/Package.cs#L105 You'll notice the code calls `NuGetPackageManager.InstallPackageAsync()` and creates a new `PackageIdentity` for the call. The first argument is the key to placing the package in a folder of your choice. In this case, I'm passing a `FolderNuGetPro

[2016-09-21 14:52] MscrmTools commented on #3328
Thank you very much, I will review it and try to adapt it for my app

[2016-09-21 14:56] bmjames commented on #3327
It turned out I needed a newer version of .NET Framework. 4.6 worked.

But there was a reason I installed 4.0 - the first time I ran NuGet, I got an error message about the .NET version which was oddly specific and asked for 4.0.30319, so I installed that one.

[2016-09-21 15:22] rrelyea commented on #3288
Dupe of #3456

[2016-09-21 15:22] #3288 closed, assigned to alpaix

[2016-09-21 15:25] rrelyea opened #3489 "First OnBuild event is missed for Restore during Build for UWP"
Internal bug 194090 covers this issue.

Because our VSIX loads in the onbuild event, the first onbuild event is not successfully handled.
Our thought is that NuGet.Restore.Manager work can address this issue, including for UWP.

[2016-09-21 15:28] rrelyea commented on #3489
just found out there was already an issue tracking this - #2121

[2016-09-21 15:28] #3489 closed, assigned to alpaix

[2016-09-21 15:51] rrelyea opened #3490 "NuGet VSIX package needs an install size"
See internal bug 259319

[2016-09-21 16:14] rrelyea opened #3491 "AppDomain Unload used for Binding Redirect causes UIDelays in VS"
More data in internal bug 263039.

If 3.5.0-rtm hasn't shipped yet, we could consider this fix for 3.5 as well as dev branch.

[2016-09-21 16:36] #1298 closed, assigned to jainaashish

[2016-09-21 16:45] rrelyea commented on #3486
Found as part of validation of your private build. Your fix, or just a regression in dev?

[2016-09-21 17:50] kovalikp commented on #2995
I can only second using `BuiltProjectOutputGroupOutput` or similar targets to get items to package. This way it should be possible to pass package related metadata to referencing projects. Then you could use the information to filter outputs and use them to build package dependencies. Ideally it would be the same metadata that are provided by projects using `project.json` (`NuGetPackageId`, `NuGet

[2016-09-21 17:59] dmeyer573 opened #3492 "NuGet v3.4 not requesting full version on restore when normalized version results in 404"
I am using the latest version of NuGet packaged with Visual Studio 2015 Update 3 (3.4.4.1321). When I attempt to restore packages from my internal NuGet feed (hosted in ProGet) I get the following error message on some of my packages, "Unable to find version '5.1.0' of package 'MyPackageName'". The portion of the error log showing the attempt to find the package on my internal feed shows the messa

[2016-09-21 18:22] Dalmirog-zz commented on #1823
Hi Nuget Team. Are there any updates on bringing back the Release Notes for V3?

[2016-09-21 18:46] yishaigalatzer commented on #3492
Hey @dmeyer573: We do not want to introduce extra calls to the server that will delay the most common case for users.

The reason proget returns 404 is that some of (very old projects) treat 5.1.0 differently than 5.1.0.0, that is not supported and we won't make it work again in NuGet.

Our recommendation is as follows
1. Use semver (5.1.0) rather than 4 numbers so 5.1.0 rather than 5.1.0.0
2. Con

[2016-09-21 18:47] yishaigalatzer commented on #3488
1. What version of VS 2015 and NuGet are you using
2. Can you share the actual reference added in your case?

[2016-09-21 18:50] yishaigalatzer commented on #3487
Can you share the exact entries you are referring to (xml from the csproj),  and what/where do you see stuff being picked up from.

Also what is the version of visual studio (include update level) and what is the version of NuGet.

I believe this is a common issue with how msbuild picks up references, but I want to be sure.

CC @davkean

[2016-09-21 18:51] yishaigalatzer commented on #3488
CC @davkean

[2016-09-21 19:11] dmeyer573 commented on #3492
Yishai,

Thank you for your quick response. I will consider the options you have provided. I’m sure we will find one of them suitable.

Thank you!

Derek Meyer
Director of Engineering

o. 303.357.5115 | m. 720.350.5768 | commercesync.comhttp://commercesync.com/

[http://commercesync.com/assets/emailsig/commsync_logo.png]http://commercesync.com/

[http://commercesync.com/assets/emailsig/FB.png]http

[2016-09-21 19:16] rohit21agrawal commented on #2995
@kovalikp @kzu thanks..i'll make sure to use the BuiltProjectOutputGroupOutput ..currently booked with some integration stuff, will look into this after that..

[2016-09-21 19:54] mishra14 commented on #3379
Merged: https://github.com/NuGet/NuGet.Client/commit/f67f6660547119689b559bf2b0725ac8a0176a60

[2016-09-21 19:54] #3379 closed, assigned to mishra14

[2016-09-21 20:31] joelverhagen commented on #3486
From what I can tell, the `System.ValueTuple` is a new package dependency for the F# template. Dev14 U3 does not have this dependency at all. The Dev15 template simply has a .fsproj and packages.config with this dependency, meaning that NuGet does not have a change to restore this package when the user does File > New Project. When you build this project for the first time, the yellow "alert" disa

[2016-09-21 20:33] joelverhagen commented on #3486
I will reach out to the template owner to determine the proper course of action. My thought here is that the template should call one of the NuGet `InstallPackage*` APIs during project creation to install (and therefore restore) this package.

[2016-09-21 21:03] Sebosek commented on #3229
Same for Ubuntu 16.04.1 LTS, CLI: 1.0.0-preview2-003131

[2016-09-21 21:11] joelverhagen commented on #3486
This is an issue with the F# project template:
https://github.com/Microsoft/visualfsharp/issues/1558

Closed as external.

[2016-09-21 21:11] #3486 closed, assigned to joelverhagen

[2016-09-21 21:21] #3437 closed, assigned to mishra14

[2016-09-21 21:26] joelverhagen commented on #3455
Merged to `dev-msbuild` with https://github.com/NuGet/NuGet.Client/commit/bf2af74e48d174c0e97a3c41a93cf3aec5122aad.

[2016-09-21 21:26] #3455 closed, assigned to joelverhagen

[2016-09-21 23:18] mishra14 commented on #3437
@v-atian : Can you please verify with dev build 1857?

[2016-09-21 23:45] joelverhagen opened #3493 "Restore3 is looking for _SplitProjectReferences in the outer build"
I am working on getting a repro right now, but this was reported by @nguerrera.

/cc @rrelyea

_edit: added repro steps and such_
## Repro steps
1. Download latest rel/1.0.0 CLI: https://dotnetcli.blob.core.windows.net/dotnet/Sdk/rel-1.0.0/dotnet-dev-win-x64.latest.zip
2. Download `Microsoft.Common.CrossTargeting.targets` from @nguerrera's commit: https://raw.githubusercontent.com/Microsoft/msbuil

[2016-09-21 23:49] rrelyea commented on #3462
# Plan of Record for Preview 5 OOB:

[code]

## Restore location for Tools Today:

[code]

## Restore location for Tools in P5OOB:

[code]

## CLI Team:
- Will enhance CLI to be able to run tools that were registered/restored as above.

[2016-09-21 23:49] #3462 closed, assigned to rrelyea

[2016-09-21 23:53] rrelyea opened #3494 "NuGet Restore support for PackageTargetFallback (f.k.a Imports)"
Design posted: https://github.com/NuGet/Home/wiki/PackageTargetFallback-(new-design-for-Imports)

[2016-09-21 23:54] abatishchev commented on #2748
Folks, will this ever end?

![nuget-asm-bi-red-1](https://cloud.githubusercontent.com/assets/351644/18732984/1d1853de-801c-11e6-9d45-b6e68e3425a9.PNG)

[2016-09-22 00:05] rrelyea commented on #3494
cc: @davidfowl

[2016-09-22 01:38] #3479 closed, assigned to nobody

[2016-09-22 04:04] Kanimozhi12 commented on #3487
@yishaigalatzer
I have added Assembly "X" to my project using NuGet.
1. In my .csproj the hint path of Assembly X is set to NuGet packages location
2. While checking from my Visual Studio-> References-> Properties the  path of Assembly X is set to GAC location
3. Visual Studio Version is VS2015

[2016-09-22 04:19] yishaigalatzer commented on #3487
This is a bug in msbuild that was the supposed to be fixed already. Can you make sure you are on update 3?

[2016-09-22 05:20] maartenba opened #3495 "Nuget 2.8.5.207 can't install PowerShell modules"
_From @swernli on September 21, 2016 19:5_

I'm working on the Docker PowerShell project (https://github.com/Microsoft/Docker-PowerShell) and we recently starting having issues with our automatic appveyor builds because of the new Nuget 2.8.5.207.  It seems that installing packages via PowerShell's `Install-Module` command fails if the client machine has the latest version, but succeeds with versi

[2016-09-22 05:20] maartenba commented on #3495
_From @swernli on September 21, 2016 19:5_

@jterry75 @jstarks for FYI

[2016-09-22 06:29] AndyTian-Devops commented on #3437
@mishra14 @rrelyea Verify this issue on latest CI\NuGet.Client\Dev\1857, it have been fixed. Thanks

[2016-09-22 08:14] ivan-prodanov commented on #3461
No, I'm asking for regular .NET .csproj files (not .NET Core, not UWP). There's an option for using project.json to both define the package and also list its NuGet dependencies instead of using a .nuspec file + keeping the NuGet as references in the .csproj. VS 2015 Update 2+ supports this for legacy .csproj files and NuGet 3.5 RC1 supports the 'version' field to be defined in the project.json, wh

[2016-09-22 13:47] apxltd commented on #3492
I thought this was already addressed in NuGet Client 3.4?

"If we get a 404 we will get all versions of the packages and pick it from there"

[2016-09-22 15:16] vtbassmatt commented on #493
I got a Send-a-Smile from an external customer about this issue today.

[2016-09-22 15:35] niemyjski commented on #3020
Any news?

[2016-09-22 15:37] HiranPeri commented on #3020
Not available till date, forced to use VS2015 community

[2016-09-22 15:50] dmeyer573 commented on #3492
For documentation's sake, we are using ProGet version 2.1.4. We have plans to update this to the latest version (4.3.1) for other reasons. I'm happy to report back if this changes the issue in any way; however, it likely won't happen for at least a couple of weeks. Additionally, I am happy to provide any additional information that might be helpful.

[2016-09-22 15:52] apxltd commented on #3492
Oh my. Yeah, you should definitely upgrade. I'm surprised it still works.

[2016-09-22 16:18] dmeyer573 commented on #3492
Agreed. That being said, it has served us well for years. Thanks!

[2016-09-22 16:49] joelverhagen commented on #3493
The full failure I am seeing is:

<pre>
Microsoft (R) Build Engine version 15.1.0.0
Copyright (C) Microsoft Corporation. All rights reserved.

Build started 9/21/2016 5:47:38 PM.
Project "C:\trash\nick\project\ClassLibrary3.csproj" on node 1 (Restore target(s)).
Building with tools version "15.0".
Project file contains ToolsVersion="14.0". This toolset may be unknown or missing, in which case you

[2016-09-22 16:49] joelverhagen commented on #3493
/cc @emgarten

[2016-09-22 17:01] nguerrera opened #3496 "Generated restore props and targets need cross-targeting participation support"
Quoting @srivatsn:

[code]

[code]

[2016-09-22 17:45] maxgax opened #3497 "Is it possible to include content files through a nuspec w/o installing them to a project. If not what is an appropriate mechanism for adding files to a nuget package w/o necessarily installing them?"

[2016-09-22 20:40] abhidotnet commented on #3488
I am using Visual Studio 2015 Professional Edition - version 14.0.25431.01 Update 3
Nuget Version is 3.5.0
Operating system is Windows 7 64 bit.

[2016-09-22 20:47] yishaigalatzer commented on #3488
Thanks, can you also paste the actual entries from the csproj you are concerned with?

[2016-09-22 21:49] jainaashish opened #3498 "Update tab doesn't select the latest available version to update instead select current installed version"
Install a lower version of any package into a project and go to Update tab to see it's update. By default update tab detail page shows the current installed version selected in Version combo box instead of showing latest version. See the image below.

Regression from 3.4.4

![image](https://cloud.githubusercontent.com/assets/18219758/18767416/d9046288-80d3-11e6-93af-d37184c84037.png)

[2016-09-22 21:49] dsplaisted commented on #3488
Do you mean that you expect that the DLL will be copied to the output folder during the build (and it's not happening), that at runtime you expect the DLL to be loaded from the output folder instead of the GAC, or something else?

Also, I don't see a Microsoft.WebApi NuGet package.  Are you referring to [Microsoft.AspNet.WebApi.Core](https://www.nuget.org/packages/Microsoft.AspNet.WebApi.Core/)?

[2016-09-22 21:59] yishaigalatzer commented on #3487
Also is assembly x in the GAC with the exact same strong name version or a different one? It will be very helpful if you included a concrete sample here.

[2016-09-22 22:26] emgarten commented on #3493
These extra dependencies were not needed in the outer loop, I've removed them.

NuGet/NuGet.Client@7b45b1fb590a2eb9e835246e5e88b08d23cc0ff5

[2016-09-22 22:26] #3493 closed, assigned to emgarten

[2016-09-22 23:12] rrelyea opened #3499 "Nupkg needs to support \buildCrossTargeting\ folder - and import .targets/.props for "crosstargeting" msbuild scope."

[2016-09-22 23:15] rrelyea commented on #3499
Duplicate of #3496

[2016-09-22 23:15] #3499 closed, assigned to emgarten

[2016-09-22 23:15] rrelyea commented on #3496
Our plan:
Nupkg needs to support \buildCrossTargeting\ folder - and import .targets/.props for "crosstargeting" msbuild scope

[2016-09-22 23:20] rrelyea commented on #3495
When you say new Nuget 2.8.5.207, can you be more specific. Who shipped that version? When? What worked before you moved to that version?

[2016-09-22 23:23] rrelyea commented on #3472
Design is completed in #3462

[2016-09-22 23:55] rrelyea commented on #164
This is still commented out in:
nuget.client\test\EndToEnd\tests\uninstall.ps1

[2016-09-23 00:02] rrelyea opened #3500 "UIDelay in VS "15" preview 5 branch"
Internal bug 267648

[2016-09-23 00:27] rrelyea commented on #3351
@emgarten  - we'll move to the right msbuild property name in rc. currently we look at $(intermediateobjectpath) I believe.

[2016-09-23 00:28] rrelyea commented on #3240
verify as part of 3.5 rtm verification.

[2016-09-23 00:29] rrelyea commented on #3341
finish in RC.

[2016-09-23 00:30] rrelyea commented on #2994
Integrated into CLI. Feature done. rest is bugs.

[2016-09-23 00:30] #2994 closed, assigned to emgarten

[2016-09-23 00:31] TraGicCode commented on #3076
I'm having the same issue even with the beta

[2016-09-23 00:33] rrelyea commented on #2570
This EPIC is done for Beta2, except for #3454

[2016-09-23 00:33] #2570 closed, assigned to rohit21agrawal

[2016-09-23 00:35] rrelyea commented on #2196
done. implemented in 3.6beta2 (preview 5 oob)

[2016-09-23 00:35] #2196 closed, assigned to emgarten

[2016-09-23 00:47] #3446 closed, assigned to jainaashish

[2016-09-23 01:21] jainaashish commented on #3464
We updated the namespace from Nuget to Nuget,CommandLine for CommandAttribute class which has broken this. To make it temporarily fix we can revert back to the original namespace. But we updated this namespace for many other classes so I'm not sure if this is the only issue or they use other APIs as well.

[2016-09-23 01:28] jainaashish commented on #3464
@HakanL  Is there a way we can repro it locally?

[2016-09-23 02:03] yishaigalatzer commented on #3464
This runner seems to be using unsupported apis. Nuget exe is not providing a public API surface other than the command line interface

[2016-09-23 03:58] emgarten commented on #3496
https://github.com/NuGet/NuGet.Client/commit/9b3a460712c2c881f6ad120b822d2328688aefec

Use `buildCrossTargeting/{packageId}.targets` and `buildCrossTargeting/{packageId}.props`

[2016-09-23 03:58] #3496 closed, assigned to emgarten

[2016-09-23 08:43] fernandobeltranjsc commented on #1823
Bringing back Release Notes would be VERY USEFUL for us!  Any update?

[2016-09-23 14:24] srivatsn opened #3501 "Restore3 fails to resolve a P2P ref"
I am trying to run restore3 on a project like this:
- There’a TestApp.csproj which is targeting NETCoreApp 1.0 and still uses project.json for dependencies (no TargetFrameworks property in the csproj).
- This has a `<ProjectReference Include=”..\TestLibrary\TestLibrary.csproj” />`
- The TestLibray targets netstandard1.5 (again project.json – no TargetFrameworks)

restore3 fails for this project sa

[2016-09-23 14:25] srivatsn opened #3502 "Restore3 imports NuGet.targets twice"
When running restore3 on a project, this msbuild warning is emitted:

[code]

[2016-09-23 14:27] srivatsn opened #3503 "Restore3 failures are logged as warnings instead of errors"
Run restore3 on a project where it fails (for eg: the project mentioned in #3501. Instead of errors, this is the msbuild output:

[code]

[2016-09-23 16:09] swernli commented on #3495
@rrelyea Previously, our appveyor build environment had Nuget 2.8.5.206 on it, but each run gets a new instance that installs Nuget by running `Install-PackageProvider NuGet -Force` so it automatically picks up the latest version.  After building our PowerShell module and packaging it via `nuget pack` we then set the folder containing the nupkg files as a local PSRepository and try to perform an `

[2016-09-23 16:20] srivatsn opened #3504 "Restore3 couples PackageReferences with TargetFrameworks."
Restore3 today only looks for PackageReference items in a project if the project has the TargetFrameworks property. While that is being used as a proxy for core projects, that introduces unwanted coupling. For eg, to enable packagereferences in UWP projects we will need to introduce this property there.

My proposal for restore3 behavior is:
Look for the existence of a project.json and if it exist

[2016-09-23 16:34] #3500 closed, assigned to joelverhagen

[2016-09-23 16:35] HakanL commented on #3464
I've only seen this error while running it under the TeamCity agents, it may be a TC issue, but 3.5-b2 worked so I figured maybe it was something specific TC uses that was now broken in RC1.

[2016-09-23 16:36] HakanL commented on #3464
There is a new version of TeamCity (v10), but I haven't had a chance to upgrade our build server so I haven't tested that, maybe they've changed how they call NuGet, I don't know.

[2016-09-23 17:04] jainaashish commented on #3464
Can you check with latest TeamCity (v10) release, i've a hunch that they've already updated this namespace in their codebase?

[2016-09-23 17:45] rrelyea opened #3505 "ToolsRefs in UI"

[2016-09-23 17:49] mishra14 opened #3506 "Localization needs significant updating for NuGet.Tools.vsix and NuGet.exe"
Tracking an Internal bug - [266593](https://devdiv.visualstudio.com/DevDiv/_workitems?id=266593&_a=edit)
RElated:  vsfeedback 744804 --- 'detected package downgrade' warning in my error list on a French install

[2016-09-23 18:01] zone117x commented on #3433
Ping @rrelyea - could I at least get a confirmation that something is wrong with either the tooling or my setup? If this is intended behavior or not yet supported I've love to know so I can stop wasting time trying to get it to work.

[2016-09-23 19:17] yishaigalatzer commented on #1823
It is currently slated to 3.6 RC (look at the milestone tab). RC should coincide with VS15 RC release time.

Reality check: Given that we have a long list of issues to resolve for 3.6RC, this item is at a moderate risk of not making it.

[2016-09-23 19:48] eerhardt opened #3507 "Need to determine API for getting "type: build" dependency information in MSBuild"
With the conversion of dependencies being specified in MSBuild <PackageReference> items, the marking "type: build" on a dependency has moved to `<PrivateAssets>All</PrivateAssets>`.

When publishing an app, it is important to exclude any "type: build" dependencies (and any dependencies that were solely brought in by "type: build" dependnecies) when building up the set of assemblies to publish.

We

[2016-09-23 19:49] yishaigalatzer commented on #3495
This looks like a powershell team issue, rather than a nuget team issue. Looping in the appropriate team - CC @krishna_msft

[2016-09-23 19:51] yishaigalatzer commented on #3495
Correcting the id - @KrishnaV-msft

[2016-09-23 20:18] alpaix opened #3508 "Codesign task fails on WSR-TC"
Due to recent changes in `NuGetBinariesToSignCert72` list code signing job has been failing.
After deeper investigation reason of failure was mismatch between delay-sign public key and actual certificate.

[2016-09-23 20:21] harikmenon opened #3509 "Converting extension SDKs into NuGet Packages"
Details for the spec available here

https://github.com/NuGet/Home/wiki/Converting-Extension-SDKs-into-NuGet-Packages

[2016-09-23 20:55] jianyunt commented on #3495
Are you running Nano server TP5? What's your OS?

[2016-09-23 21:05] jianyunt commented on #3495
In addition, to help us diagnosis the issue, can you add "Get-PackageProvider -debug -verbose", "Get-PackageSource -debug -verbose"  and "Find-Package  -Name Docker  -debug -verbose" before calling install-module.

Also are there any ways to help us to repro it locally?

[2016-09-23 21:05] tonicsoft commented on #3405
Any update on this one guys? Should be straightforward to agree whether the behaviour is desirable or not.

[2016-09-23 21:13] rohit21agrawal commented on #3405
@tonicsoft this is a bug - we will fix this in the 3.6 RC timeframe.

Appreciate your feedback!

[2016-09-23 22:24] mishra14 opened #3510 "Nuget/MSbuild unable to load default tasks"
Reported by Roslyn team.

From client -

I installed today’s Preview 5 build and I’ve been trying to restore and build Roslyn, which uses nuget.exe 3.5.1520, but it doesn’t seem to find the right msbuild to use.

[code]

[2016-09-23 22:35] tonicsoft commented on #3405
Great, thanks. If it helps you can use the tests I created on my fork.

[2016-09-23 23:54] yishaigalatzer commented on #3497
All depends on what you are trying to achieve. If you want files to exist in the package, get unpacked next to the package, but not get added to the project you can put them in a folder that is not one of the known folders affecting the project (lib/ref/content/contentfiles etc.).

It really depends on what you are trying to achieve, but for example you can look at the [EntityFramework](https://ww

[2016-09-23 23:54] yishaigalatzer commented on #3497
@karann-msft please triage if you think this is worth a doc entry, go ahead make it and then close this bug. Otherwise just go ahead and close it.

[2016-09-23 23:55] yishaigalatzer commented on #3492
@dmeyer573 @apapadimoulis closing as I think this is resolved. Feel free to continue the discussion if I missed something.

[2016-09-23 23:55] #3492 closed, assigned to nobody

[2016-09-24 00:01] yishaigalatzer commented on #3485
@valeriob thanks for reporting the issue. Can you clarify what do you mean by 4 hours?

Also can you tell us if you are using Resharper?

@jainaashish will take over from here.

[2016-09-24 07:00] gsumankumar commented on #740
is there any solution to issue? share the link how to resolve it ?

[2016-09-24 07:29] valeriob commented on #3485
@yishaigalatzer sorry for deceiving you, i just meant that i've beeing trying to do that for hours. Not having the patience to wait for the process to finish 😄

[2016-09-24 17:12] emgarten commented on #3501
https://github.com/NuGet/NuGet.Client/commit/192818520df9d8a165d9ae0e2a24ed7c803f3def

[2016-09-24 17:12] #3501 closed, assigned to emgarten

[2016-09-24 17:13] emgarten commented on #3503
https://github.com/NuGet/NuGet.Client/commit/192818520df9d8a165d9ae0e2a24ed7c803f3def

[2016-09-24 17:13] #3503 closed, assigned to emgarten

[2016-09-24 17:35] kzu commented on #3356
Is there a feed where we can get packages from CI for upcoming releases? (or even from dev branch?)

I desperately need a package containing this fix :)

[2016-09-24 18:29] kzu commented on #3356
Found it https://dotnet.myget.org/gallery/nuget-build :)

[2016-09-26 01:56] MicahZoltu opened #3511 "NuGet.props file generated on `dotnet restore`?"
I recently updated all of my stuff to 1.0.1 along with updating `dotnet` to `1.0.0-preview3-003686`.  Now when I do `dotnet restore` a file named `<project_name>.nuget.props` is generated in the root of my project.  I am unable to find any information about this file, such as whether to commit it to source control, what it is for, why it is just now being created, etc.

If this is not a bug and th

[2016-09-26 08:12] gustaveracosta commented on #3419
Same problem here, thanks @dktechindia your fix works for me

[2016-09-26 09:01] v-luzh opened #3512 "[Test Failure] The order of listed package when searching in the filter of PM UI is confusing"
**Repro Steps:**
1.  New a project [such as C# Blank Application (Universal Windows)].
2.  Open ‘Manage NuGet Packages for Solution’ and click ‘Browse’ tab.
3.  Type a ‘c’ in search filter and look at the listed packages.

**Expected Result:**
The packages whose name include ‘c’ should be listed at first.

**Actual Result:**
The order of listed package is confusing. The packages whose name include

[2016-09-26 13:25] dtivel opened #3513 "Documentation: search index out of date?"
**Repro steps:**
1.  Go to https://docs.nuget.org.
2.  In the search box search for:  init.ps1

**Results:**
1.  The [first result](https://docs.nuget.org/docs.nuget.org/create/Creating-and-Publishing-a-Package) mentions init.ps1, but after navigating to the page, init.ps1 is nowhere to be found.
2.  The [second result](https://docs.nuget.org/create/enforced-package-conventions) results in HTTP 40

[2016-09-26 13:26] ivan-prodanov opened #3514 "Is it wrong to define package metadata in project.json?"
The official documentation says that project.json replaces packages.config, but doesn't mentioned at all the .nuspec file. The questions is **not** related to .NET Core.

Let's say that I want to create a NuGet package - I can, for example, create a regular .csproj file, define all of its NuGet dependencies in the project.json file and **also define the package metadata** in that very same file.

[2016-09-26 13:36] mrward opened #3515 "xbuild fails with missing _SplitProjectReferencesByFileExistence target"
Not sure if we are planning to support xbuild or not. When I tried to run the following:

[code]

I get an error:

[code]

MSBuild on the Mac supports the _SplitProjectReferencesByFileExistence targets so replacing xbuild with msbuild in the command works.

[2016-09-26 13:47] mrward opened #3516 "Could not find pdb file when packing Xamarin.iOS project on Mono"
With a Xamarin.iOS project having NuGet package metadata when trying to pack the project with Mono there is an error finding a .pdb file.

[code]

[code]

Sample test project:  https://github.com/mrward/TestPortableAndIOSNuGetPackage

This looks more like an MSBuild problem on Mono since with /v:diag you can see the pdb file extension defined in a few places and the files being passed to the _Coll

[2016-09-26 14:26] mrward commented on #3516
This might be a problem with the Xamarin.iOS MSBuild targets. Xamarin.Android projects work fine.

[2016-09-26 15:25] rrelyea commented on #3454
checked in on 9/23.

[2016-09-26 15:25] #3454 closed, assigned to rohit21agrawal

[2016-09-26 15:38] rrelyea opened #3517 ""dotnet restore" and recursing directories"
"dotnet restore" had recursed directories.
Should "dotnet restore3" do the same thing?

@emgarten

[2016-09-26 15:41] kzu commented on #3515
We should focus on MSBuild I think, given that xbuild is going away...

/cc @mhutch

[2016-09-26 15:45] kzu commented on #3516
Since latest Mono supports PPDBs already, maybe we should try generating them instead? Also, IIRC XI can't switch to PPDBs until the linker is updated accordingly (that is, Mono itself supports it, but the XI linker doesn't?). I may have gotten that wrong :)

/cc @spouliot

[2016-09-26 15:47] kzu commented on #3516
How about making sure the item that ends up in the [DebugSymbolsProjectOutputGroupOutput](https://github.com/NuGet/NuGet.Build.Packaging/blob/dev/src/Build/NuGet.Build.Packaging.Tasks/NuGet.Build.Packaging.targets#L79) is the .mdb rather than the PDB in that case?

[2016-09-26 15:49] rohit21agrawal opened #3518 "Give users ability to specify the output folder for content and libraries instead of creating lib and content by default"
Pack, by default, creates a lib and content folder by default. There should be a way to specify what folder the output assemblies go to, and a way to tell Pack to stop copying output assemblies at all.

Same for content as well. There should be a way for users to tell Pack to stop creating the content/contentFiles folder by default.

[2016-09-26 15:49] alpaix opened #3519 "Make CI builds repeatable"
CI build scripts evolve to accommodate the most recent dev and release changes. This makes re-building older releases virtually impossible.

**Proposed solution**
Move CI build, test, and publish scripts and settings into the NuGet.Client git repo. Minimize TeamCity integration protocol to a small number of commands.

[2016-09-26 15:51] mrward commented on #3515
On the Xamarin Studio side if only we support MSBuild then we may need to look at enabling MSBuild support on a per solution basis in the short term.

Currently MSBuild can only be enabled globally in Xamarin Studio's preferences so it affects all solutions. Right now this preference is marked as experimental and by default it is unchecked so xbuild is used.

Being able to turn on MSBuild support

[2016-09-26 15:53] mrward commented on #3516
Yeah making the .mdb end up in DebugSymbolsProjectOutputGroupOutput seems fine to me. Android projects seem to already do that.

[2016-09-26 15:54] alpaix commented on #3508
Fixed `nuget.msbuild` project by moving `NuGet.Credentials` and `NuGet.Facade` to `NuGetBinariesToSign25` code sign list. Re-wrote nugetci vsix signing script to automatically detect correct sign code.

wsr-tc project needs refactoring to prevent similar issues from happening in future.

[2016-09-26 15:54] #3508 closed, assigned to nobody

[2016-09-26 15:54] kzu commented on #3515
:+1:. With MSBuild almost ready for xplat (right @radical? ;)), I'd say
this is the best, rather than going backwards fixing the multitude of
xbuild workarounds we'll surely need to put in place otherwise..)

##

/kzu from mobile

[2016-09-26 16:21] kzu commented on #3516
/cc @jstedfast

[2016-09-26 17:01] TimLovellSmith opened #3520 "Why doesn't this parameter set work? (3.5.0)"
I tried this in package manager console and I get an error:

[code]

It doesn't seem very ambiguous to me! Am I misunderstanding, or could the package manager console support this command?

[2016-09-26 17:09] jainaashish commented on #3485
@valeriob is it possible for you to share a small repro solution which takes this 20 mins to update these packages? I tried to repro it with the help of your logs but it's pretty fast in my case.

[2016-09-26 17:15] jstedfast commented on #3516
How do the Android targets do that?

[2016-09-26 17:22] radical commented on #3516
Why a `.pdb` and not `.mdb` here?

[2016-09-26 17:27] kzu commented on #2995
@rohit21agrawal we have support for Pack now in NuGetizer at https://github.com/NuGet/NuGet.Build.Packaging.

[2016-09-26 17:33] radical commented on #3516
@mrward I am not able to reproduce this. Could you share the XI/mono/msbuild versions that you are using? Also, could you please share the full diagnostic build log?

[2016-09-26 17:36] radical commented on #3516
JFYI, in mono's msbuild, if the C# compiler is `mcs` or `mcs.exe`, then `.mdb` files are used, else `.pdb` files. If you happen to change `$(CscToolExe)` to another name then it `.pdb` files would be used. You can override that behavior by setting `$(CscDebugFileExt)` to `.mdb`, for example.

Esee
https://github.com/mono/msbuild/blob/xplat-c8p/src/XMakeTasks/Microsoft.CSharp.Mono.targets#L25

[2016-09-26 17:38] jamesmontemagno commented on #3419
Has been resolved in the latest beta release: https://releases.xamarin.com/beta-preview-cycle-8-service-release-0/

[2016-09-26 17:42] mrward commented on #3516
@radical

Mono 4.8.0 (mono-4.8.0-branch/25d7170) (64-bit)
Xamarin.iOS: 10.0.0.6
MSBuild: 14.1.0.0

[Full msbuild output after running a clean](https://gist.github.com/mrward/e0e87d8a7bea9ad63acb681964c56330)

[2016-09-26 17:44] godefroi commented on #77
Using NuGet 3.3.0.212, still saves the entire .nupkg when using -packagesavemode nuspec

[2016-09-26 17:50] #3498 closed, assigned to jainaashish

[2016-09-26 17:55] yishaigalatzer commented on #77
The current version is 3.4.4 or 3.5 (either rc1 or nightly build that is almost rtm ready on myget).

Are you still seeing an issue?

[2016-09-26 18:17] rohit21agrawal commented on #77
@godefroi @yishaigalatzer tried using 3.5rc1 and 3.4.4-rtm and -PackageSaveMode only saves the nuspec and the other files within the nupkg.
Following folders were created on executing the below commandline :

nuget.exe restore packages.config -PackagesDirectory "D:\TestCache" -Source "https://api.nuget.org/v3/index.json" -PackageSaveMode nuspec

packages.config had only one entry :  `<package id="

[2016-09-26 18:18] yishaigalatzer commented on #3514
Hey @ivan-prodanov ,

This is a great question. A few months ago that was indeed what we wanted to do.  We did build a first cut of pack using project json, but did not advertise it. So it's there, but we didn't declare it as supported it "kind off" works today, but there is no support plan/bug fixing strategy around it.

Then lately we have decided to move support back into csproj for .netcore **

[2016-09-26 18:20] yishaigalatzer commented on #3513
CC @qianjun22

[2016-09-26 18:21] godefroi commented on #77
It definitely works in 3.4.4. I don't know how I decided (last week) that 3.3 was the latest, but I was incorrect. Sorry for the noise.

[2016-09-26 18:23] yishaigalatzer commented on #3511
We are going to generate props/targets files going forward. The idea is that with msbuild support in .net core package will start bringing their target/props and the way to link them into the build is by nuget writing out this file.

It shouldn't be checked in, and @emgarten can comment if this is the final location or not. And yes it should definitely be documented.

CC @blackdwarf @karann-msft

[2016-09-26 18:28] TimLovellSmith commented on #3520
Clarifying - I already had that specific version of the package installed in the project

[2016-09-26 18:28] yishaigalatzer commented on #3520
The issue is that specifying the -version on the command blows it up. At a minimum we should provide a better error message (which could be hard with how powershell reports it), and a better experience to take the value will be much better

[2016-09-26 18:32] #3469 closed, assigned to zhili1208

[2016-09-26 18:48] swernli commented on #3495
@jianyunt I added the debug statements you suggested (and reverted my workaround that pinned us to 2.8.5.206).  We can see the results from the run as it happens here:
https://ci.appveyor.com/project/WindowsVirtualization/docker-powershell/build/101-trwbyqyk

[2016-09-26 19:12] kzu opened #3521 "NuGetize project references without the NuGetizer package"
Currently, if a project that has the NuGetizer nuget references a project without it,
the transitive packaging won't work. The build will actually fail since the referencing
project will try to invoke the GetPackageContents target and fail since the project
won't have it.

We could extend the nugetizer targets so that they detect this condition and make
it work automatically as follows:
- NuGetize

[2016-09-26 19:13] jainaashish commented on #3421
This has already been fixed in 3.5.0-rc1 release. Please upgrade from https://dist.nuget.org/win-x86-commandline/v3.5.0-rc1/NuGet.exe and let us know if you still see any issue.

[2016-09-26 19:16] jainaashish commented on #1670
This has already been fixed in 3.5.0-rc1 with #1013 So closing this issue.

[2016-09-26 19:16] #1670 closed, assigned to jainaashish

[2016-09-26 19:38] emgarten commented on #3511
These files are placed under the obj folder for projects using PackageReference. With csproj + project.json, which I am assuming you have, you get the UWP behavior of project.lock.json + targets and props files next to the lock file.

[2016-09-26 19:39] jainaashish commented on #3421
Dup of #1013

[2016-09-26 19:39] #3421 closed, assigned to jainaashish

[2016-09-26 19:42] harikmenon commented on #3513
This just looks like the google search index for the site is out of date. We will need to submit a sitemap with expiry dates and new links to update this. Not sure if we can do this since we have a free account (I don't believe so :)). In that case, it should resolve in some time once the index gets refreshed organizally on their end. @karann-msft

[2016-09-26 20:00] zhili1208 opened #3522 "[Mono issue]NuGet.exe pack doesn't work well for including files with wildcard"
PackCommand_JsonPackOptionsFiles() test failed on mono.

pack the project.json with following pack option:
""files"": {
      ""include"": ""contentFiles/**"",
      ""exclude"": ""contentFiles/**.txt"",
      ""includeFiles"": [ ""contentFiles/file2.txt"" ],
      ""excludeFiles"": [ ""contentFiles/image3.jpg"" ],
    }

Expected files path in Nupkg are :
contentFiles/image1.jpg, contentFiles/ima

[2016-09-26 20:18] zhili1208 opened #3523 "[Mono issue] Nuget packing with missing package doesn't throw right message"
PackCommand_MissingPackageCausesError test failed on mono

pack proj1.csproj with one missing package in packages.config.

expect:
error message "unable to find "[missing package]".

actual:
failed to build "proj1.csproj"

[2016-09-26 20:35] dtivel opened #3524 "Documentation: contributing link broken"
**Repro steps:**
1.  Navigate to https://github.com/NuGet/Home/blob/dev/README.md.
2.  Click the [contributing](http://docs.nuget.org/contribute) link at the bottom of the page.

**Result:**
HTTP 403

[2016-09-26 21:20] #3514 closed, assigned to nobody

[2016-09-26 21:20] rrelyea commented on #3522
Take a look at the comment that @yishaigalatzer made over here: https://github.com/NuGet/Home/issues/3514

[2016-09-26 21:20] #3522 closed, assigned to nobody

[2016-09-26 21:23] #3524 closed, assigned to nobody

[2016-09-26 21:23] radical commented on #3516
This should fix it - https://github.com/xamarin/xamarin-macios/pull/896

[2016-09-26 21:25] karann-msft commented on #3478
updated docs to reflect the NuGet version this change was made.

[2016-09-26 21:25] #3478 closed, assigned to karann-msft

[2016-09-26 21:28] zhili1208 opened #3525 "[Mono issue] NuGet pack can't find build on Mono."
related test failure:
PackCommand_BuildProjectJsonWithRelativeBasePath()
PackCommand_BuildProjectJsonWithFullBasePath()
PackCommand_PackJsonCorrectLibPathInNupkgWithOutputName()
PackCommand_PackJsonCorrectLibPathInNupkg()

nuget.exe pack project.json got error "No build found in [targetPath]".

there are some hardcode path issues in tests and PackCommandRunner.AddOutputFiles(),
I fixed them but st

[2016-09-26 21:31] yishaigalatzer commented on #3495
@jianyunt where should this issue move to? I'd hate to close it here without a follow-up public issue tracking it.

[2016-09-26 21:37] zhili1208 opened #3526 "[Mono issue] nuget.exe pack wild card exclude doesn't work on mono"
Related Test failure:
PackCommand_ExcludesFilesOutsideRoot()

pack packages.nuspec with following:

[code]

Expect :
Nupkg only contains include.me.

Actual:

Nupkg still contains exclude.me

I guess this issue is also related to "**" search.

[2016-09-26 21:47] #3497 closed, assigned to karann-msft

[2016-09-26 21:52] jianyunt commented on #3495
There is a dup one in their repo. NP to close it. thx

[2016-09-26 22:02] zhili1208 opened #3527 "[Mono issue] Nuget pack -symbol doesn't work on mono"
related test failure:
PackCommand_WithProjectReferencesSymbols()

pack proj2.csproj -symbol

expect:
Nupkg contains pdb files.

actual:
Nupkg doesn't contain pdb files

[2016-09-26 22:09] karann-msft opened #3528 "Get-Package command in Find-Package example"
@BartHamer commented on [Wed Sep 14 2016](https://github.com/NuGet/NuGetGallery/issues/3241)

The Find-Package examples section contains the following:

`Get-Package jquery -AllVersions -ExactMatch`

which should be

`Find-Package jquery -AllVersions -ExactMatch`

---

@maartenba commented on [Wed Sep 14 2016](https://github.com/NuGet/NuGetGallery/issues/3241#issuecomment-246961803)

@karann-msft

[2016-09-26 22:18] zhili1208 opened #3529 "[Mono issue] nuget.exe pack PCL with msbuild 14.1 doesn't work on mono"
Related test failure:
PackCommand_PclProjectWithProjectJsonAndTargetsNetStandard()

pack proj1.csproj -build Got "can't find Microsoft.Portable.CSharp.targets".

[2016-09-26 22:26] rrelyea commented on #3472
checked in to dev-msbuild. build should come out in a bit.

[2016-09-26 22:56] #3495 closed, assigned to nobody

[2016-09-26 23:11] joelverhagen opened #3530 "nuget.exe pack with both -symbols and -suffix give incorrect name to symbol package"
## Steps
1. Create a .nuspec on disk.
2. Make sure there are some files to pack (`nuget.exe pack` won't make an empty package).
3. Run `nuget.exe pack path\to\my.nuspec -symbols -suffix beta`
## Expected

Two nupkgs, one ending in `beta.nupkg` and the other ending in `beta.symbols.nupkg`.
## Actual

The symbols package's file name has the version number without the suffix. The .nuspec inside the p

[2016-09-26 23:38] swernli commented on #3495
Looks like the official recommendation from the PowerShell team is to use `Publish-Module` and not package the module directly via nuget (https://github.com/Microsoft/Docker-PowerShell/issues/145#issuecomment-249682862).  Closing this issue as we can resolve this in our package production.

[2016-09-27 07:05] Birgos commented on #3340
I can confirm this problem and was able to test it locally. Only if I delete the cache via an api call, the feed gets updated and the copied packages **are shown in the feed**. Just calling

after copying didn't helped! Indeed the package(s) were processed (extract and sort it into the folder structure) but the feed still doesn't shows the new one(s).

### Not updated feed
- Copy new package(s) to

[2016-09-27 07:30] maartenba commented on #3340
Anything in the logs? (add a system.diagnostics in web.config)
This may be due to permissions on your system where the file watcher errors out (which will be visible in traces)

[2016-09-27 07:51] valeriob commented on #3485
I've been updating some more dependencies lately, and i've noticed that it happens on a specific web project, i could isolate the problem to the extension https://github.com/madskristensen/BundlerMinifier, if it's enabled Procmon shows a lot of activity around bundle files.
Sorry for bothering, i was sure to have made the test without that extension ! I think i forgot to restart visual studio 😄

[2016-09-27 09:03] AndyTian-Devops opened #3531 "[Test Failure][Localization]Tooltip of Settings button is unlocalized"
**Repro Steps:**
1. Create a Web project.
2. Right click project and select "Manage NuGet package.." item.
3. In the NuGet package manager page, observe the tooltip of settings button.

**Expected Result:**
The tooltip should be localized.

**Actual Result:**
The tooltip is unlocalized.
![settingsbutton](https://cloud.githubusercontent.com/assets/12235523/18866719/c63c2d3a-84d3-11e6-8dd2-55fe12014

[2016-09-27 09:04] AndyTian-Devops commented on #3531
More info:
1. This issue happened on Preview5 + 3.6 1882.
2. This issue happened on 3.5 RTM 1896

[2016-09-27 10:46] Birgos commented on #3340
Now i tried it locally on my PC (IIS Express) and with my nuget server. The logfile of both systems shows the same behavior.
First it recognizes the changes:
`Verbose: File system changed. File: mongocsharpdriver.2.3.0.nupkg - Change: Changed`
but later on it logs an error:
`Error: Error adding package file mongocsharpdriver.2.3.0.nupkg from drop folder: Could not find file 'd:\Packages\mongocshar

[2016-09-27 11:05] maartenba commented on #3340
Can you try updating to this (prerelease!) version of NuGet.Server?
`Install-Package NuGet.Server -Version 2.11.3-dev-0012 -Source https://dotnet.myget.org/F/nuget-build/api/v2`

[2016-09-27 12:13] Birgos commented on #3340
Sorry, failed :-(
Where can I find the dependency: NuGet.Core (>= 2.14.0-rtm-830) ?

[2016-09-27 12:46] maartenba commented on #3340
Should be on this same feed

[2016-09-27 14:25] sdebruyn commented on #3251
Same happens on my machine, with every NuGet version available today.
Version info: https://gist.github.com/SamuelDebruyn/6e807c6bc1aeb077a01c9b36ffe26366
I also tried with NuGet that ships with Mono 4.6.1

[2016-09-27 14:28] dtretyakov commented on #3464
Issue in TeamCity tracker to update integration with nuget 3.5: [TW-47134](https://youtrack.jetbrains.com/issue/TW-47134)

[2016-09-27 16:45] #3481 closed, assigned to dtivel

[2016-09-27 16:57] nguerrera opened #3532 "buildCrossTargeting/ mechanism doesn't work for props files"
Unfortunately, the mechanism we designed and implemented for https://github.com/NuGet/Home/issues/3496 doesn't actually work for props files.

The problem is that props are (by convention) the very first thing imported. Microsoft.Common.props does not define $(IsCrossTargetingBuild) as Microsoft.Common.targets does. Worse, it can't, because the $(IsCrossTargetingBuild) is short-hand for '$(TargetF

[2016-09-27 17:02] harikmenon opened #3533 "Supporting Package Reference in UWP WPF WinForms and Classic Libraries"
Spec of the work is tracked here https://github.com/NuGet/Home/wiki/Supporting-Package-Reference-in-UWP-WPF-WinForms-and-Classic-Libraries/

[2016-09-27 17:28] rrelyea commented on #3510
Your PR build in a private worked for roslyn team. let's have quick spec review and get into a nuget.exe in release-3.6.0-beta1 branch. Also look at @zhili1208 change in this area...

[2016-09-27 17:42] zhili1208 commented on #3525
nuget 3.4.4 doesn't not support packing project.json, this is not an regression from 3.4.4

[2016-09-27 17:53] zhili1208 commented on #3529
3.4.4 doesn't support project.json and netStandard, this is not an regression

[2016-09-27 18:01] zhili1208 commented on #3526
3.4.4 can't pack this due to path issue, this is not an regression

[2016-09-27 18:05] zhili1208 commented on #3527
3.4.4 can't pack this,  it's not an regression

[2016-09-27 18:23] dtivel commented on #3428
Ported fix to 3.5 RTM branch via commit [964fe41760395a44d7adf29f9f896524ccb72025](https://github.com/NuGet/NuGet.Client/commit/964fe41760395a44d7adf29f9f896524ccb72025).

[2016-09-27 18:23] #3428 closed, assigned to dtivel

[2016-09-27 18:25] #3395 closed, assigned to joelverhagen

[2016-09-27 19:07] BartHamer commented on #3528
Of course, sorry about that: https://docs.nuget.org/ndocs/tools/powershell-reference
The text is part of the Examples section of the Find-Package command.

[2016-09-27 19:27] mishra14 opened #3534 "Secondary header links in CLI references docs redirect to wrong section"
Details -

Clicking on a secondary header link on the new CLI reference page redirects to the wrong section

Repro -
1. Go to [http://docs.nuget.org/ndocs/tools/nuget.exe-cli-reference](http://docs.nuget.org/ndocs/tools/nuget.exe-cli-reference)
2. Click any command (other than install) from the right hand sidebar.
3. Click on any secondary like usage or example.
4. Observe that the page is redirec

[2016-09-27 19:28] harikmenon commented on #3534
@karann-msft

[2016-09-27 19:29] abhidotnet commented on #3488
I expect the DLL to be referenced in my project. I don't expect it to be a part of the output folder.
I am referring to the Microsoft.AspNet.WebApi Dll.

[2016-09-27 19:45] yishaigalatzer commented on #3488
@abhidotnet it will be really helpful if you can provide a clear picture of what exactly is that you are doing
1. What assembly is in the GAC, and what version
2. What package are you installing including what version

Preferrably walk us through the process step by step, and show what the entry in the csproj looks like at the end of the process.

[2016-09-27 19:46] mishra14 opened #3535 "CLI reference does not mention update option for nuget sources command"
[http://docs.nuget.org/ndocs/tools/nuget.exe-cli-reference#sources](http://docs.nuget.org/ndocs/tools/nuget.exe-cli-reference#sources) does not mention update option for the nuget sources command.

[2016-09-27 19:51] harikmenon commented on #3535
@karann-msft

[2016-09-27 20:40] yishaigalatzer commented on #3525
This is UWP style projects, suggest we disable the tests for mono at this point.

CC @mrward  @kzu

[2016-09-27 20:41] yishaigalatzer commented on #3529
Disable the tests for 3.5

CC @mrward @kzu

[2016-09-27 21:08] karann-msft commented on #3528
Fixed. Thanks for reporting. We encourage contribution from the community most docs can be edited by clicking on the Edit in Github button at the top.

[2016-09-27 21:08] #3528 closed, assigned to nobody

[2016-09-27 21:33] karann-msft commented on #3363
updated docs. https://docs.nuget.org/ndocs/consume-packages/finding-and-choosing-packages

[2016-09-27 21:33] #3363 closed, assigned to karann-msft

[2016-09-27 21:36] mishra14 commented on #3535
Since other commands like sources add/remove/enable are not detailed, the doc is consistent for sources update.

[2016-09-27 21:36] #3535 closed, assigned to nobody

[2016-09-27 23:04] karann-msft commented on #3260
updated docs. removed `force` option for `install-package`.
`uninstall-package` would not uninstall a package if another depends on it unless you use it with `force` which seems like the expected behavior.
Whether this should be supported for `update-package` or `sync-package` is a different discussion.

[2016-09-27 23:04] #3260 closed, assigned to karann-msft

[2016-09-27 23:09] karann-msft commented on #3366
@kraigb

[2016-09-27 23:11] #3362 closed, assigned to karann-msft

[2016-09-28 02:01] kabua opened #3536 "How to indicate that Dependencies are for output only, and not added as References?"
First of all, thanks for creating a very useful tool!

Question: from within the `nuspec` file, how do we specify that only the package should be added as a Visual Studio project Reference (i.e. `<ItemGroup><Reference...>`) but all of its dependencies should be copied to the output folder?

**Use Case**:
We have two frameworks, the first is general content that could be used by any company, but fo

[2016-09-28 05:28] dtivel opened #3537 "Package Manager browse error / restore error for non-HTTP package source with protocol version 3"
**Environment:**
- VS 2015 Update 3
- dev build 1911

**Repro steps:**
1.  To nuget.config --- the global one is fine --- add the following element to the `<packageSources />` element:

[code]
2.  In Visual Studio 2015 create a new C# console application project.
3.  Open NuGet Package Manager.
4.  In NuGet Package Manager change the "Package source" dropdown to "test."
5.  In NuGet Package Manage

[2016-09-28 06:02] g0t4 commented on #1502
A new package is ready for ASP.NET Core, enjoy! https://www.nuget.org/packages/Microsoft.AspNetCore.Identity.MongoDB/

[2016-09-28 09:36] AndreyAkinshin opened #3538 "API for <clear /> section in NuGet.config"
NuGet.config may contain the `<clear />` section in `<packageSources>`:

[code]

Is there any way to specify this section via API?

[2016-09-28 10:25] mrward opened #3539 "Provide a way to change the DefaultMaxDegreeOfParallelism value programmatically"
Can we provide a way to change the DefaultMaxDegreeOfParallelism used in various places in NuGet?

Having a large default value of 16 causes [problems with restore](https://bugzilla.xamarin.com/show_bug.cgi?id=42342) in Xamarin Studio on Mono.

In the InstallCommand parallel processing is disabled on Mono:

https://github.com/NuGet/NuGet.Client/blob/250b20d83f57c687665f8682d80ef76efaaf5a00/src/NuG

[2016-09-28 12:20] kzu commented on #3529
/cc @radical

[2016-09-28 12:20] kzu commented on #3525
/cc @radical

[2016-09-28 13:41] Vasilich commented on #3421
tested with 3.5 RC1 and found no issues. thanks.

[2016-09-28 13:45] dtivel commented on #3537
[httpSourceResource](https://github.com/NuGet/NuGet.Client/blob/180fa576efe2578330c86a4952df253def6e2c1f/src/NuGet.Core/NuGet.Protocol.Core.v3/Providers/ServiceIndexResourceV3Provider.cs#L114) is null.

[2016-09-28 14:00] dtivel commented on #3537
This also repros using `Update-Package` in Package Manager Console.
![screenshot](https://cloud.githubusercontent.com/assets/12734758/18916406/31438dec-8549-11e6-8d64-e1e6ea446a45.png)

[2016-09-28 14:09] mrward commented on #2992
Update: The workaround added for proxy auth failing with https on Mono no longer seems to work with Mono 4.6, nor Mono 4.8, nor latest from mono/master. So there is never any proxy auth prompt with these versions of Mono. Mono 4.4 still seems to be OK.

[2016-09-28 15:08] maartenba opened #3540 "NuGet pack fails with -Build"
_From @jochenwezel on September 28, 2016 13:46_

Following command fails with NuGet Version: 3.4.4.1321
(V2.8 ran successfully with very same files)

[code]

I only found https://social.msdn.microsoft.com/Forums/vstudio/en-US/395e7d71-a8fa-476d-a9f8-8760ac3997b4/after-installing-vs2013-and-upgrading-to-msbuild-api-120-some-older-projects-fail-to-build?forum=msbuild regarding this msbuild error but

[2016-09-28 15:08] maartenba commented on #3540
_From @jochenwezel on September 28, 2016 13:51_

This shows up several warning, but at least it runs successful - the only change is to use the .nuspec file instead of .vbproj

[code]

[2016-09-28 15:15] Birgos commented on #3340
`Unable to find a version of 'NuGet.Core' that is compatible with 'NuGet.Server 2.14.0-dev-0003 constraint: NuGet.Core (>= 2.14.0-rtm-830)', 'NuGet.Server.Core 2.14.0-dev-0003 constraint: NuGet.Core (>= 2.14.0-rtm-830)', 'NuGet.Server.V2 2.14.0-dev-0003 constraint: NuGet.Core (>= 2.14.0-rtm-830)'.`

I already tried to install with `-IgnoreDependencies`, repacking `NuGet.Server` locally and changin

[2016-09-28 15:56] ericstj opened #3541 "NuGet claims downgrades (NU1605) for packages brought in through lineup"
Copied from https://github.com/dotnet/corefx/issues/12114

Consider the following project.json:

[code]

This restores without error.  Now change it by updating the lineup for corefx packages (using source `https://dotnet.myget.org/F/dotnet-core/api/v3/index.json`)

[code]

Restoring this results in downgrade warnings from NuGet

[code]

I don't believe those should be considered downgrades given

[2016-09-28 15:58] rrelyea opened #3542 "Fix NuGet.targets for VS and Developer command line"
Need to install NuGet.targets in vsix.
Need to make vsix addressable with a constant file path.
Need to include NuGet.targets from msbuild targets somehow. Will start dialog with msbuild team about how.

[2016-09-28 16:39] kzu opened #3543 "Automatically pack dependencies output groups without NuGetizer"
For project references that don't have the NuGetizer nuget, we currently
[fail the build](https://github.com/NuGet/NuGet.Build.Packaging/commit/75d53762f72611d907165c7f04acc7b18dbed2ed) with a friendly error message remining the user to install the package
in those projects.

We could instead consider those projects part of the referring project automatically
and just fetch its output via the [All

[2016-09-28 16:55] joelverhagen opened #3544 "nuget.exe push .nupkg with multiple slashes in path fails"
## Steps
1. `nuget.exe push C:\path\to\my\\package.nupkg -Source ...`
## Expected

nuget.exe should find the package even though there are duplicate slashes in the path.
## Actual

nuget.exe does not find the package.
## Example

<pre>

Pushing NuGet.Commands.3.5.0.nupkg to 'https://www.nuget.org/api/v2/package'...
  PUT https://www.nuget.org/api/v2/package/
Please provide credentials for: https:/

[2016-09-28 16:55] jochenwezel commented on #3540
@maartenba Thank you for pushing this issue into the right channel! :)

[2016-09-28 17:12] grtaylor commented on #2836
@edvowles worked for me as well, thank you!

[2016-09-28 17:15] davidmatson commented on #3386
I tried looking here:
http://docs.nuget.org/ndocs/create-packages/project.json-and-uwp

But it says:
"Support for content inclusion in the project is planned for a later release"

Is there other documentation somewhere that explains how to migrate to "uwp-style project.json" for packages.config projects as suggested to get this feature?

Thanks,

David

[2016-09-28 17:16] jochenwezel commented on #3540
## Latest test with nuget.exe v3.5.0-beta2-1520

after downloading nuget.exe v3.5.0-rc1 from https://dist.nuget.org/index.html or using v3.5.0-beta2-1520, I get following result:

[code]

So, it was a little more successful this time! :-) - at least partially...
The last line contains a failure notification:

## The nuget packages directory lookup fails

[code]

This is my packages.config:

[code]

[2016-09-28 17:32] karann-msft opened #3545 ""File a doc bug" link broken."
@davidmatson commented on [Wed Sep 28 2016](https://github.com/NuGet/NuGetGallery/issues/3254)

The 404 page, for example:
http://docs.nuget.org/ndocs/consume-packages/support-for-native-projects

Points to the following link to file doc issues:
Maybe it was a bug
•File a bug so we can fix it. https://github.com/NuGet/NuGetDocs/issues

But it looks like issues have since been disabled in the NuGet

[2016-09-28 17:45] rrelyea opened #3546 "Adapt joel's 3.6b1 fix for 3.5rtm"

[2016-09-28 17:55] jochenwezel commented on #3540
After creating the folder "packages" in the directory of the .vbproj, I get following result

[code]

So it searches at
`D:\svn_repository\compumaster_products\camm\Web-Manager\libraries\cammWM.WebApp\packages`
instead of
`D:\svn_repository\compumaster_products\camm\Web-Manager\libraries\cammWM.WebApp\..\base\cammWM\packages\`
alias
`D:\svn_repository\compumaster_products\camm\Web-Manager\librarie

[2016-09-28 18:02] karann-msft commented on #3545
Fixed

[2016-09-28 18:02] #3545 closed, assigned to karann-msft

[2016-09-28 18:05] dotMorten opened #3547 "Allow hiding packages from local repo"
Since you have the 250mb package limit, and we need more for iOS we split our packages into sub-packages (due to it needing static libraries in it for each platform).
On nuget.org we can hide these sub-packages, so you only find the main iOS Package. It gives a really great user experience without showing some confusing sub-packages that doesn't really do anything by themselves.

However with loca

[2016-09-28 18:06] joelverhagen commented on #3544
@zhili1208 brings up a good point. This perhaps should be considered a bad path, e.g.

[code]

[2016-09-28 18:14] joeloff commented on #3544
Right, for the drive it would cause an error, but something like dir c:\foo\bar works fine

[2016-09-28 18:54] mohamedmansour commented on #2887
The issue is that your authentication failed. If you do the following:

`nuget.exe sources Add -Name "SomeFeed" -Source "your nuget feed" -Username someuser -password somepassword -StorePasswordInClearText`

Then it will work. Perhaps better error messaging is needed, and should allow us to popup authentication.

[2016-09-28 19:03] mohamedmansour commented on #2887
What should be done to help developers, in the meantime. Add proper logging messages for this:

[2016-09-28 19:14] karann-msft opened #3548 "Broken link from Creating Native Packages to Consuming Native Packages"
@davidmatson commented on [Wed Sep 28 2016](https://github.com/NuGet/NuGetGallery/issues/3255)

This page:
http://docs.nuget.org/ndocs/create-packages/native-packages

Has the following content, with a broken link:
A native package contains native C++ code instead of managed code, allowing it to be used within C++ projects. (See Support for Native Projects in the Consume section.)
Links to:
http:/

[2016-09-28 19:24] karann-msft opened #3549 "Top hit for solution-level packages doesn't say the feature has been removed"
@davidmatson commented on [Wed Sep 28 2016](https://github.com/NuGet/NuGetGallery/issues/3256)

The top Bing hit for "nugget solution level package" is:
http://docs.nuget.org/Consume/NuGet-FAQ

Which redirects to:
http://docs.nuget.org/ndocs/policies/nuget-faq

It mentions solution-level packages without mentioning that they no longer exist in the latest NuGet:

[2016-09-28 19:26] karann-msft commented on #3386
Here you go:
https://github.com/NuGet/Home/wiki/Converting-a-csproj-from-package.config-to-project.json

[2016-09-28 20:34] sbrl commented on #1946
I'm seeing this too on Ubuntu 16.04.
- NuGet Version: 3.4.4.1321

Output of `nuget pack MyProject.csproj -Build`:

[code]

[2016-09-28 20:43] yishaigalatzer commented on #1946
@zhili1208 can you please dedup against your 3.5-RTM issue?

[2016-09-28 20:55] zhili1208 commented on #1946
3.3 and 3.4.4 all has this issue,  3.5-rtm doesn't have this issue but pack still does not work with xbuild,  With my pack fix, pack will work with msbuild.

[2016-09-28 20:56] radical commented on #3525
@yishaigalatzer Could you please point me to such a project? Is such a project expected to build only on windows?

[2016-09-28 20:58] yishaigalatzer commented on #1946
Thanks, can you link the issue you are fixing and close this one then as a dup?

[2016-09-28 21:03] yishaigalatzer commented on #3525
The test covers this project - https://github.com/NuGet/NuGet.Client/blob/a6837535175490846af9ea8ff8b89d83efc9d783/test/NuGet.Clients.Tests/NuGet.CommandLine.Test/NuGetPackCommandTest.cs#L3860

In general it would have been nice to have these build on mono as well, however they never really went main stream beyond UWP and UWP class libraries. Moving forward we are going to support `<PackageReferen

[2016-09-28 21:03] zhili1208 commented on #3525
https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Clients.Tests/NuGet.CommandLine.Test/NuGetPackCommandTest.cs#L3553
this is one test example

[2016-09-28 21:06] zhili1208 opened #3550 "[Mono issue] Pack doesn't use msbuild 14.1 on mono"
Filed a bug to track my pack fix

[2016-09-28 21:07] zhili1208 commented on #1946
this will be fixed by using msbuild on mono, https://github.com/NuGet/Home/issues/3550.

[2016-09-28 21:07] #1946 closed, assigned to nobody

[2016-09-28 21:10] radical commented on #3525
Okay, IIUC, this is something that needs to be done in `nuget` itself then. Let me know if you need anything from msbuild/mono side for this.

[2016-09-28 21:15] rrelyea commented on #3502
Is this our fix, or msbuild's?

[2016-09-28 21:23] yishaigalatzer commented on #3525
We currently suggest no fix for mono. We will just disable the tests on mono. @kzu this is more of an FYI at this point. we are open to feedback from customers trying to use it and potentially invest in this at some later point in the 3.6 timeframe. For now we don't plan on tracking any further items.

[2016-09-28 21:33] kzu commented on #3525
I think with the current and upcoming support from NuGetizer, the need for standalone pack on project.json becomes less critical.

[2016-09-28 21:41] #3464 closed, assigned to jainaashish

[2016-09-28 22:06] zhili1208 commented on #3085
https://github.com/NuGet/NuGet.Client/commit/df9d2eea5930f3ebb74f36387810198550b3509a

[2016-09-28 22:06] #3085 closed, assigned to zhili1208

[2016-09-29 00:06] rohit21agrawal opened #3551 "Write unit tests for the Escape function for msbuild command line params"
As part of fixing https://github.com/NuGet/Home/issues/3432 , we added a new escape function in nuget.client\src\nuget.clients\nuget.commandline\msbuildutility.cs inspired from Stack Overflow answer :  http://stackoverflow.com/questions/5510343/escape-command-line-arguments-in-c-sharp/12364234#12364234

This is a tracking task to write unit tests for this function.

[2016-09-29 00:06] #3432 closed, assigned to rohit21agrawal

[2016-09-29 05:31] harikmenon commented on #3505
Spec - https://github.com/NuGet/Home/wiki/ToolsReference-and-Multi-TFM-Support-in-NuGet-UI

[2016-09-29 05:31] harikmenon commented on #3457
Spec - https://github.com/NuGet/Home/wiki/ToolsReference-and-Multi-TFM-Support-in-NuGet-UI

[2016-09-29 05:44] sbrl commented on #1946
Ummm why was this closed, @zhili1208? MSBuild AFAIK doesn't run on linux, only windows, so I don't get how #3550 is related. I'm probably missing something here. Unless the issue I'm seeing is a completely different one (probable), in which case I'll file a separate bug..

[2016-09-29 06:04] yishaigalatzer commented on #1946
Msbuild now runs on Linux

Sent from Ninehttp://www.9folders.com/

---

From: Starbeamrainbowlabs notifications@github.com
Sent: Sep 28, 2016 10:44 PM
To: NuGet/Home
Cc: Yishai Galatzer; Mention
Subject: Re: [NuGet/Home] NuGet pack fails with 'The method or operation is not implemented.' (#1946)

Ummm why was this closed, @zhili1208https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fg

[2016-09-29 06:25] maartenba commented on #3340
Can you try once more? Just pushed the package to the feed again. Note this is very prerelease :-)

[2016-09-29 07:11] AndyTian-Devops opened #3552 "[Test Failure]Error occurs when updating a latest package"
**Product:
Dev15 Preview5 25727.01**

**Repro Steps:**
1. Create a C#Web MVC project.
2. Open NuGet packages manager, make sure package "EntityFramework" is the latest 6.1.3.
3. Open Package Manager console, input "Update-Package EntityFramework". Enter.

**Expected:**
![entityframeworkexpected](https://cloud.githubusercontent.com/assets/12235523/18944252/f49f392c-8656-11e6-9855-6cd43311c0d9.png)

[2016-09-29 07:39] kummahiih opened #3553 "Nuget update does not sometimes update reference's version numbers from vsproj-files"
Nuget update does not sometimes update reference's version numbers to csproj -files. See the attached picture where the reference of the lifecare.desktop.theme was not updated.

![image](https://cloud.githubusercontent.com/assets/220791/18944588/fbbf79e2-862e-11e6-86af-0bae6545ea3c.png)

On this setup, the themeutil -files have been copied on nuspec -file via using files -tag  instead of being on

[2016-09-29 07:53] AndyTian-Devops opened #3554 "[Test Failure]Latest package display in the PMC intelliSence list"
**Repro Step:**
1. Create a C# Web MVC project.
2. Open NuGet package manager, make sure there are latest packages (e.g. Entity Framework, Microsoft ApplicationInsights and so on).
3. Open NuGet Package Console, input Update-Package and then press Tab.
4. Observe the IntelliSence List.

**Expected:**
Latest packages should not be listed in the IntelliSence list.

**Actual:**
Latest packages are li

[2016-09-29 08:06] AndyTian-Devops commented on #3554
This issue also happened on 3.5RTM and 3.4.4

[2016-09-29 09:56] jogerh commented on #2785
NuGet Version: 3.5.0.1737 seems to miss this fix, whereas NuGet Version: 3.5.0.1520 seems to work. Is   33a3740 removed from the later builds, or is there a regression?

[2016-09-29 13:13] Sebosek opened #3555 "Wildcard in project.json version"
I'm able to pack library with flag `--version-suffix <VERSION_SUFFIX>` but in project.json I can's use wildcard for patch version

[code]

I'm asking myself: so, why is there flag `--version-suffix`?

[2016-09-29 14:12] Birgos commented on #3340
Finally, now I was able to install the packages! Took me some time to get the solution up and running, due to some error messages regarding dependencies of old Newtonsoft.Json packages (6.0.0.0) from _System.Net.Http.Formatting_ and the the new ones (8.0.3) used in the NuGet.Server V2 package...

I've tested the following scenario ( _after i've built me a simple integration test ;-)_ ):
- 2 local

[2016-09-29 14:35] phrohdoh commented on #1946
MSBuild runs on *nix, but I don't think this is resolved until msbuild is either required or shipped, or xbuild is picked up correctly.

[2016-09-29 15:15] anthonypburns opened #3556 "Nuget.exe update -Version flag not recognized"
I'm trying to update to specific versions of nuget packages on my build server, but nuget.exe is not recognizing it.

Error: "Unknown option: '-Version'"

Also does not appear in help.  Using nuget.exe 3.4.4-rtm-final

[2016-09-29 15:26] yishaigalatzer commented on #1946
True but it is covered by fixing 3550

[2016-09-29 16:09] anthonypburns commented on #3556
seems to be an issue with the version I was using...

[2016-09-29 16:09] #3556 closed, assigned to nobody

[2016-09-29 16:40] sbrl commented on #1946
It does? I had no idea. Huh. Why can't nuget use xbuild though?

And how do I install the linux version of msbuild?

[2016-09-29 16:42] maartenba commented on #3340
Awesome! We have some work with the dependencies and a few other things but it's great to hear this solves the issue.

[2016-09-29 16:59] zhili1208 commented on #1946
@sbrl nuget can use xbuild, but it still won't work due to xbuild bug. Mono will install msbuild for you, so you don't need to install that, but for now mono only do that for mac. not sure when they will do that on linux

[2016-09-29 17:07] joelverhagen commented on #2785
Yes, this looks like a regression. I'll take a look.

[2016-09-29 17:11] emgarten commented on #3555
What are you using to pack? And what version of the tool?

[2016-09-29 17:48] rohit21agrawal opened #3557 "automate the process of having to rename lib folder to tools for nuget.build.tasks.pack"
Currently, we have to rename lib to tools every time we upload the nuget.build.tasks.pack package to a feed. This should be automated.

[2016-09-29 19:13] psandhu79 opened #3558 "Nuget 3 .targets file not added to csproj file"
Hi

Trying to use accord 3.0.2 nuget package with project.json . The package contains a .targets file and dll.config. I cannot see the targets file imported which copy the .dll.config file to the output directory.

The project.json.lock looks like this

 "libraries": {
    "Accord/3.0.2": {
      "sha512": "Rr4qe5MkUql9qdEZyAMlRBFBEHztILnDdLongRgr8e5sp+EkZcZG3xCRhWCPKLyWD/Jk5Vn2aqPBttOfqvo+cQ==",

[2016-09-29 19:21] #2785 closed, assigned to joelverhagen

[2016-09-29 19:24] jogerh commented on #2785
Thank you @joelverhagen. I am impressed.

[2016-09-29 20:19] karann-msft commented on #3548
Fixed.

[2016-09-29 20:19] #3548 closed, assigned to karann-msft

[2016-09-29 20:42] karann-msft commented on #3549
Fixed

[2016-09-29 20:42] #3549 closed, assigned to karann-msft

[2016-09-29 21:16] #3546 closed, assigned to joelverhagen

[2016-09-29 22:39] emgarten commented on #3558
What type of project is this package used from?

[2016-09-29 22:44] davidmatson opened #3559 "Broken link from Use a Package to first related topic"
https://docs.nuget.org/ndocs/Quickstart/Use-a-Package

Has a broken link to:
•NuGet 3.0, .NET and project.json
https://docs.nuget.org/ndocs/consume-packages/projectjson-intro

[2016-09-29 22:45] davidmatson commented on #3559
Actually, all four Related topics links at the bottom of that page are broken.

[2016-09-29 22:48] augustoproiete opened #3560 "Update/Redirect https://nuget.org/nuget.exe to download the latest version of NuGet"
Hello,

The path to download the latest NuGet.exe file used to be `https://nuget.org/nuget.exe` and now it seems it changed to `https://dist.nuget.org/win-x86-commandline/latest/nuget.exe`

The latest nuget.exe as I'm writing this is `3.4.4.1321` and downloading from `https://nuget.org/nuget.exe` returns version `2.8.60717.93`

I'd suggest you add a redirect, so people who have automation scripts

[2016-09-29 22:52] harikmenon opened #3561 "Supporting Package Reference in UWP WPF WinForms and Classic Libraries"
Spec for the work is available here - https://github.com/NuGet/Home/wiki/Supporting-Package-Reference-in-UWP-WPF-WinForms-and-Classic-Libraries/_edit

[2016-09-29 22:55] augustoproiete opened #3562 "NuGet self update downloads pre-release version, instead of latest stable"
Hello,

I'm running NuGet Version: 3.4.4.1321 (command-line) downloaded from `https://dist.nuget.org/win-x86-commandline/latest/nuget.exe`

Running a self update, is causing it to download version `3.4.4-rtm-final` instead of version `3.4.4.1321` which should be the correct one (as I'm writing this).

[code]

I'd expect the self update to only download stable versions based on SemVer.

[2016-09-30 00:30] davidmatson opened #3563 "NuGet.exe 3.4.4 no longer packs files where src is a UNC"
As of NuGet.exe version 3.3.0, a file could specify a UNC:

[code]

As of 3.4.4, this no longer works and fails with file not found:

[code]

[2016-09-30 00:33] emgarten commented on #3542
The VSIX has been updated with a ShortcutPath and now includes NuGet.targets. MSBuild will reference this targets file from Microsoft.NuGet.ImportAfter.targets.

The code changes are complete, everything just needs to make it into the same build to verify this is fixed.

[2016-09-30 00:35] emgarten commented on #3502
This appears to be coming from NuGet's use of custom import after targets. My current plan is to add a property to enable/disable this. By default it will be off, and in NuGet.exe where it is needed and the output is not displayed to the user, the extra import will be turned on.

[2016-09-30 00:36] emgarten commented on #3472
https://github.com/NuGet/NuGet.Client/commit/75c231b730a7c9f63cf94132e5ad0860c990a582

[2016-09-30 00:36] #3472 closed, assigned to emgarten

[2016-09-30 00:36] davidmatson commented on #3563
Seems to be fixed in the latest RC.

[2016-09-30 00:36] #3563 closed, assigned to nobody

[2016-09-30 00:38] emgarten commented on #3465
I've added support for reading RIDs from property: _RuntimeIdentifiers_

Since this allows for multiple RIDs I've made it plural, this also matches TargetFrameworks.

The property may be defined in the project file or passed in from the command line.

https://github.com/NuGet/NuGet.Client/commit/01453ff9d2fa066b97ed53c85f127c7ca3b337da

[2016-09-30 00:38] #3465 closed, assigned to emgarten

[2016-09-30 02:27] AndyTian-Devops opened #3564 "[Test Failure]UWP project build fail after installing package "Microsoft.IdentityModel.Clients.ActiveDirectory""
**Repro Steps:**
1. Create a C# UWP project.
2. Open PMC and run command "Install-Package Microsoft.IdentityModel.Clients.ActiveDirectory".
3. After the installation finished, build the project.

**Expected:**
The project can be built successfully.

**Actual:**
Build Fail.
![nugetuwperror](https://cloud.githubusercontent.com/assets/12235523/18978779/6b091e24-86f8-11e6-9a93-fdb793daee52.png)
Error

[2016-09-30 02:29] AndyTian-Devops commented on #3564
1. This issue also happened on 3.5 RTM 1930
2. I installed this package to a C# MVC Web application,this issue don't repro.

[2016-09-30 03:49] Jaykul commented on #3356
@kzu what build did you find worked? I tried the NuGet.Commandline package 3.6.0-rc-1927
and it still seems blocked?

[2016-09-30 04:57] emgarten commented on #3356
@Jaykul what error did you get? It should be unblocked in 3.6.0-rc

You can find the latest 3.5.0 build which is close to RTM here: https://dotnet.myget.org/feed/nuget-build/package/nuget/NuGet.CommandLine/3.5.0-rtm-1829

[2016-09-30 05:46] v-nancyj opened #3565 "[Test Failure] Additional information display after typing “Get-Package -Updates” in PMC"
**Repro Steps:**
1. Create a new project C#-> Windows 8->Hub App (Universal Windows 8.1).
2. Right-click the project **'HubApp.Windows(Windows 8.1)**'node and click "Manage NuGet Packages…" menu to start package manager.
3. Install package “Newtonsoft.Json” version **7.0.1**.
4. Start “Package Manager Console” and type “Get-Package -Updates”.

**Expected Result:**
The detail of update information

[2016-09-30 09:04] sbrl commented on #1946
Hrm. So I just have to wait until it works then?

[2016-09-30 09:28] Sebosek commented on #3555
Oh, sorry. `.NET Command Line Tools (1.0.0-preview2-003121)`, `win10-x64` and tested on .net core class library and .net core web application (web api)

[2016-09-30 11:35] psandhu79 commented on #3558
C# Class library , from reading the documentation i was suspecting the accord.targets file is added to the project.json.lock file

[2016-09-30 13:12] tomkuijsten opened #3566 "NuGet pack resolves dependency ID from directory name when -IncludeProjectReferences is used for csproj + project.json"
My situation:

Visual Studio 2015 Update 3
Tested with nuget: 3.5 RC / 3.6 rc 1927 (nightly)
Setup:
- one solution folder "helpers" with two libs; lib1 in folder "lib1" and lib2 in folder "**monkey**"
- both libs are .NET standard 1.4 project types (with project.json files)
- lib1 has a project reference to lib2
- I didn't add any .nuspec file

I'm running the command:

[code]

The generated packa

[2016-09-30 15:58] eerhardt commented on #3465
@emgarten - I'm not fully understanding the "RuntimeSupports" property.  If I just pass in `<RuntimeIdentifiers>win10-x64</>`, will NuGet still restore all the correct packages without me setting `<RuntimeSupports>`?

In project.json today, a user only needs to list `win10-x64` in the "runtimes" section, and all the packages get restored correct, even if that means falling back to `win7-x64` packa

[2016-09-30 16:01] eerhardt commented on #3465
Also, since "RuntimeIdentifiers" is plural, I can pass `win10-x64;osx.10.11-x64` to restore for both RIDs.  How does "RuntimeSupports" map into that list? How would I say "these 3 RIDs map to win10-x64 and these other 2 RIDs map to osx.10.11-x64"?

[2016-09-30 17:13] zhili1208 opened #3567 "Mono users should use msbuild. Guidance should be documented."
this bug is for tracking xbuild issue

[2016-09-30 18:28] emgarten commented on #3465
@eerhardt _RuntimeSupports_ is equivalent to the _Supports_ section in project.json. Supports performs additional restores, usually just on a TFM and then checks compatibility. So if for example of you are building a netstandard library you can add supports for net462 to verify that it can be installed there. Supports has zero impact on the resulting assets file, it can only cause errors. It is al

[2016-09-30 19:31] joelverhagen opened #3568 "<clear /> on <packageSourceCredentials> does not work"
Tested in `3.3` - `3.5.0-rc1`. All the same behavior. This is a feature request, considering this never worked 😄 .
## Steps
1. Put some `<packageSourceCredentials>` in a NuGet.config.
2. Create a subdirectory.
3. Create a NuGet.config in that subdirectory.
4. Put a `<clear />` under `<packageSourceCredentials>`.
5. Run a nuget.exe command requiring those credentials (i.e. `nuget.exe install Newton

[2016-09-30 20:13] rrelyea commented on #3555
Thanks for the report. We'll investigate.
We are migrating .NET core project support to msbuild from project.json. We'll test this case in that new world.

[2016-09-30 20:16] #3550 closed, assigned to zhili1208

[2016-09-30 20:20] rrelyea commented on #3553
What version of NuGet.exe are you using?
What exact command are you running?
What type of project are you running it on?
What % of the time does it not work?
Does it always work for a project or not...or is it variable?

[2016-09-30 20:36] rohit21agrawal commented on #3566
@tomkuijsten can you attach the repro project? That would really help.

[2016-09-30 20:39] mishra14 commented on #3552
@v-atian @rrelyea: I am already working on this as part of  https://github.com/NuGet/NuGet.Client/pull/904

[2016-09-30 21:07] rrelyea commented on #3565
According to @zhili1208 This behavior is the same for 3.4.4 -- the message is for the other project in the solution.

[2016-09-30 21:25] #3529 closed, assigned to zhili1208

[2016-09-30 21:25] #3525 closed, assigned to zhili1208

[2016-09-30 21:30] mishra14 commented on #3564
@v-atian @rrelyea: This issue seems to repro with [3.4.4.1321 ](https://dist.nuget.org/visualstudio-2015-vsix/latest/NuGet.Tools.vsix) as well.

Needs more investigation. The problem could be in the specific packages.

Ref -
![2016-09-30](https://cloud.githubusercontent.com/assets/10507120/19007565/774ac242-871a-11e6-84bc-86a0fef326e7.png)

[2016-09-30 21:32] mishra14 commented on #3552
@v-atian @rrelyea : This seems related to current CI failure. I am trying to get a fix in at https://github.com/NuGet/NuGet.Client/pull/904.

[2016-09-30 22:14] tkrick commented on #3568
splitting hairs a bit but the [documentation](http://docs.nuget.org/ndocs/consume-packages/configuring-nuget-behavior) says: When <clear /> is present for a given node, previously defined configuration values for that node are ignored.

which means clear should have worked for packageSourceCredentials. Either way, thanks for looking in to this and appreciate your time.

[2016-10-01 09:12] AndyTian-Devops commented on #3564
@rrelyea  I list VS information here. We found this issue on VS15 Preview5 25729.01 + NuGet Client Version 3.6.0-Beta1-1882

[2016-10-01 09:17] AndyTian-Devops commented on #3554
@rrelyea add VS and NuGet information here, we found this issue on Dev15 Preview5 25728.01 + NuGet Client 1882

[2016-10-01 09:49] AndyTian-Devops commented on #3531
@rrelyea  this issue happens Dev15 Preview5 25725.00. I can not compare it with 3.4.4 1321 because there is no tooltip for setting button.
![settingbutton](https://cloud.githubusercontent.com/assets/12235523/19013291/42bb029a-87ff-11e6-81d6-c604a0240af8.png)

[2016-10-01 09:55] AndyTian-Devops commented on #3552
@rrelyea @mishra14  I verified this issue on Dev14 MU35 25430.01 + 3.4.4 and it not repro.

[2016-10-01 11:47] tomkuijsten commented on #3566
Created a sample project, you can [download it here](https://1drv.ms/u/s!AgSBicI7Mqqmifg-0rQmhyaXbOBexQ)

I included the reproduction steps and the nupkg that was generated, quick recap:
- Visual Studio Community Edition 2015 update 3
- NuGet 3.5 RC1
- Build project in Release configuration
- Run: `nuget pack .\lib1\lib1.csproj -Properties Configuration=Release -IncludeReferencedProjects`

[2016-10-01 12:22] gary-b opened #3569 "Using NuGet to add Microsoft.CodeDom.Providers.DotNetCompilerPlatform to a Web Site"
When I install Microsoft.CodeDom.Providers.DotNetCompilerPlatform to a web site (not app) from NuGet, I get the dll and a roslyn folder in my Web\Bin folder. (The roslyn folder has exes for the compiler and some other stuff.)
Packages.config in the web folder is updated as expected and the web.config is updated to use the new compiler.
I just checked in these 2 files to TFS, but when my colleagues

[2016-10-01 20:04] zone117x commented on #3433
Solved the problem. http://stackoverflow.com/a/39810908/794962

[2016-10-01 20:04] #3433 closed, assigned to nobody

[2016-10-02 05:10] Jaykul commented on #3356
Thanks for your patience, when I looked through there, I missed the fact that the "3.5.0-rtm" files were hiding down under the betas 😊

[2016-10-02 13:41] StephenCleary opened #3570 "Package search finding incompatible (netstandard) packages for (pcl) target"
Repro:
- Create a new PCL library targeting `Profile259`.
- Do a NuGet search for "AsyncEx".

The first result is `Nito.AsyncEx.Tasks`, which only targets `netstandard1.3` and `net46`.

Attempting to install this search result causes an error `Could not install package 'Nito.AsyncEx.Tasks 1.1.0'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=

[2016-10-02 20:09] #3527 closed, assigned to dtivel

[2016-10-03 00:10] mgasparel commented on #3308
Came across this thread diagnosing an issue I was having. I was trying to include file with a relative path starting with "./" or "../" and they were being ignored as well.

[2016-10-03 09:38] gep13 commented on #3308
@mgasparel I wasn't sure if they were related or not.  I had thought about this issue when we were talking on Gitter 😄

[2016-10-03 14:26] mrward commented on #2992
Update: The [WebException.Response is null when https request needs proxy authentication](https://bugzilla.xamarin.com/show_bug.cgi?id=19594) problem has been fixed in Mono 4.8.0. This fixes NuGet v2 on Mono not prompting for proxy credentials.

There is a problem NuGet v3 not prompting for proxy credentials with Mono. I have opened a separate bug report for this other problem:

[HttpClientHandler

[2016-10-03 17:57] rrelyea opened #3571 "Perf measurements"

[2016-10-03 18:12] yishaigalatzer commented on #3570
@StephenCleary there is no filtering at the moment in search, so this is an expected behavior until we re-implement search filtering.

@rrelyea can we find the dup and close?

[2016-10-03 18:14] yishaigalatzer commented on #3569
I suggest working with the authors of the package directly (contact them on nuget.org).

One potential way to workaround it is to add a post build script to execute the copy.

[2016-10-03 18:14] #3569 closed, assigned to nobody

[2016-10-03 18:19] yishaigalatzer commented on #3562
1. Self update pulls in the latest version regardless if it is stable or not. That has always been the design.
2. The issue you are seeing is that 3.4.4 is misconfigued and the InformationalAssemblyVersion in nuget.exe is 3.4.4-rtm-1321 instead of 3.4.4. Practically speaking nothing is changing, but nuget unintentionally redownloads the same version again and again. This issue is already fixed in

[2016-10-03 18:19] #3562 closed, assigned to nobody

[2016-10-03 18:22] yishaigalatzer commented on #3560
This is by design. The intent is not to break existing builds that rely on 2.8.X given that the 3.X release introduces a set of breaking changes.

See the docs at - https://docs.nuget.org/ndocs/guides/install-nuget

[2016-10-03 18:22] #3560 closed, assigned to nobody

[2016-10-03 18:23] yishaigalatzer commented on #3558
The targets are not supposed to be added to the lock file, but to a target file at the root of the project

[2016-10-03 18:32] emgarten opened #3572 "NuGet.exe could hang on a large amount of msbuild error output"
NuGet.exe shells out to MSBuild. Standard out goes directly to the console, but error output is redirected to a stream. There are no readers for this stream which means that if the stream hits the buffer size msbuild and nuget.exe will hang until the msbuild timeout is reached.

To fix this NuGet.exe should run a stream reader on another thread to continually drain this stream as needed.

https://

[2016-10-03 18:39] emgarten opened #3573 "NuGetv3LocalRepository.ClearCacheForIds does not ensure a recently added package will show up"
NuGetv3LocalRepository allows for refreshing a package id once a new version has been added. The current implementation of the code does not ensure that the clear will occur after an already in progress GetOrAdd is taking place.

This results in unresolved packages when building the lock file.

https://github.com/NuGet/NuGet.Client/blob/737af820d16c34dcb498832b1e26f03cf1b51aba/src/NuGet.Core/NuGet

[2016-10-03 19:29] emgarten commented on #3573
NuGet/NuGet.Client@75ccb34571466bddaed5c1d7a91cbe255420ec5e

[2016-10-03 19:29] #3573 closed, assigned to emgarten

[2016-10-03 19:32] emgarten opened #3574 "Performance: NuGetv3LocalRepository improvements"
NuGetv3LocalRepository performance could be improved. Restore should be profiled to see if it is a problem area and worth fixing.

Possible improvements
1. Avoid reloading nuspec files that have already been loaded. This class should be append only, there are no scenarios where packages are removed from the global folder during restore.
2. Improve clear/get locking. Clear could potentially store a

[2016-10-03 19:37] mishra14 commented on #3435
Merged: https://github.com/NuGet/NuGet.Client/pull/904

[2016-10-03 19:37] #3435 closed, assigned to mishra14

[2016-10-03 19:39] mishra14 commented on #3552
@v-atian : I have merged a fix into dev, https://github.com/NuGet/NuGet.Client/pull/904.

Can you please verify if the issue still persists in CI dev build 1940?

[2016-10-03 19:54] dtivel commented on #3526
The issue is that on Unix-like operating systems the `\` character in the `exclude` attribute values are not interpreted as directory separators.  If the `exclude` values use `/` instead, `pack` works as expected.

[2016-10-03 20:03] yishaigalatzer commented on #3567
@zhili1208 can you expand on the core issue and what it is impacting? Please add what version of Mono, what is the expected result with msbuild etc.

[2016-10-03 20:39] rrelyea commented on #3574
triage: If you have a profile showing significant issues, please reopen, otherwise, we'll let profiling drive this.

[2016-10-03 20:39] #3574 closed, assigned to nobody

[2016-10-03 20:42] zhili1208 commented on #3567
mono version 4.4.2, pack with xbuild doesn't work due to this issue. with msbuild, it will return the OutputPath value in csproj.

[2016-10-03 20:44] rrelyea commented on #3568
workaround - use "-config" which will only put that config into effect, effectively dropping the config context based on directory location.

[2016-10-03 20:46] rrelyea commented on #3567
@mhutch & @mrward - recommendation here? known issue with xbuild?

[2016-10-03 20:47] rrelyea commented on #3566
@tomkuijsten  - did this work differently in 3.4.4?

[2016-10-03 20:55] tomkuijsten commented on #3566
I honestly don't know, we starting moving to .NET standard about a week ago and I'm trying to get the same package creation behavior as we did have with csproj+nuspec, but now with csproj+project.json. I got it all working again, except for this weird thing.

[2016-10-03 20:55] mrward commented on #3567
@rrelyea - xbuild does not implement parts of the Microsoft.Build.Evaluation namespace so I would guess that something is not implemented. The last time I looked at nuget pack on Mono there were [some issues](https://bugzilla.xamarin.com/show_bug.cgi?id=18837).

Shipping msbuild with Mono should fix these problems.

[2016-10-03 20:58] yishaigalatzer commented on #3567
So are we ok with closing as won't fix/external and routing users to use msbuild?

[2016-10-03 21:01] rrelyea commented on #3564
@ericstj @vibronet - known problem with netcore packages?

[2016-10-03 21:05] rohit21agrawal commented on #3566
@tomkuijsten @rrelyea 3.4.4 is not complete when it comes to packing csproj + project.json .

The issue here is that nuget is inferring the name of the dependency from the name of the directory in which it is located, instead of the assembly name or the "name" property from the referenced project's project.json .

@tomkuijsten Note that with csproj + project.json, the expected behavior is that the

[2016-10-03 21:23] tomkuijsten commented on #3566
@rohit21agrawal thanks for the info. That is indeed my only problem, the name. Another question pops up: are all referenced projects added as dependencies? Even if they don't have "packageOptions" in the project.json? It used to be based upon the existence of a <projectname>.nuspec file.

[2016-10-03 21:26] rohit21agrawal commented on #3566
@tomkuijsten yes, all referenced projects are added as dependencies in the project.json world. If this was a packages.config file, then it would respect the nupec file rule. But project.json == nuspec basically, so we can't rely on the existence of the nuspec file.

[2016-10-03 22:12] bbowman opened #3575 "NuGet needs better support for developer testing of new packages."
NuGet currently has a great separation of the production and consumption of packages which is great to help isolate dependencies and ensure that consumers don't get broken. Unfortunately, this process adds a lot of strain to developers working on the production side to test and validate packages. The current workflow my team has to endure is as follows:
1. Make a feature change.
2. Build and Unit

[2016-10-03 22:24] ericstj commented on #3564
You get in this state when you only reference some of the new packages and some of the old.  Due to the way runtime.json works (and changes requested by the NuGet team) we list all runtime packages in a single runtime.json.  The result is that if a package moves from being fat to split you can hit this error.

Simple fix: update Microsoft.NETCore.UniversalWindowsPlatform to version 5.2.2.

[2016-10-03 22:36] ericstj opened #3576 "Update NuGet.Frameworks for NETStandard2.0"
NETStandard2.0 will be supported by the following:
- net461, net462, net463
- netcoreapp2.0
- ~~uap10.1 (not uap10.0 nor netcore50).~~ UAP is not yet committed and folks who own UAP can't commit to the actual version.  That will need to be done separately.

Can these mappings please be added to NuGet?  Ideally to the version that is shipping with netstandard2.0 (dev15?)

We wouldn't have to ask if

[2016-10-03 23:04] yishaigalatzer commented on #3576
Is there a bigger/better spec with more details? As far as I heard the next RTM release doesn't yet support netstandard 2.0

[2016-10-03 23:07] yishaigalatzer commented on #3575
Is this in a nutshell a request to support `*-*` in project.json ?

[2016-10-03 23:11] bbowman commented on #3575
@yishaigalatzer Yes or provide another mechanism to easily test locally built packages. I didn't want to be so specific since I know you are moving away from project.json and our needs are more around a less painful workflow but`*-*`would definitely work for us.

[2016-10-03 23:13] yishaigalatzer commented on #3575
The version spec will work on project.json or the new `<packagereference` in msbuild.

@emgarten @rrelyea I would love to squeeze this into 3.6 (and of course find the dup if we already have one)

[2016-10-03 23:53] brthor commented on #3494
Is there a straw man for tool imports?

[2016-10-03 23:59] rrelyea opened #3577 "dotnet restore3 foo.csproj should follow projectref dependencies, and restore those too. Like build."
thought is that we would do this by default:
1) dotnet restore3 foo.csproj should follow projectref dependencies, and restore those too. Like build.
and
2) nuget.exe restore would add a -recursive (or the like) to opt into this behavior.

[2016-10-04 00:12] Yousha opened #3578 "ndocs -> NuGet Package Manager in Visual Studio -> Page Not Found"
Missing `NuGet Package Manager in Visual Studio` link in http://docs.nuget.org/ndocs/guides/install-nuget

404 : Page Not Found

http://docs.nuget.org/ndocs/guides/nuget-package-manager-in-visual-studio

[2016-10-04 00:14] #3542 closed, assigned to emgarten

[2016-10-04 01:53] rohit21agrawal commented on #3555
@Sebosek  can you paste a project.json that repros this issue here along with the exact command line you are using to pack your project?

[2016-10-04 02:01] harikmenon commented on #3578
Thanks. Fixed :). Was missing a #

https://github.com/NuGet/NuGetDocs/commit/77d719c097f4a3cf2753b3b559dab52f6bcaeea3

[2016-10-04 02:05] #3578 closed, assigned to nobody

[2016-10-04 02:27] rohit21agrawal commented on #3555
@Sebosek also note that version string for wildcards should be of the format 1.0.0-\* . then the \* will be replaced by whatever you pass in the --version-suffix.

[2016-10-04 04:53] livarcocc opened #3579 "dotnet restore3 does not put tools in the project.assets.json"
I tried restoring a project like the one below and my project.assets.json had an empty tools section. I was expecting for the tools section to be filled with information from the DotNetCliToolsReference section.

[code]

[2016-10-04 05:25] mhutch commented on #3567
Short version:

Yes, and I recommend using MSBuild's Microsoft.Build.dll instead of xbuild's. It's already shipping in Mono on Mac.

Long version:

MSBuild 4.0 abandoned its older Microsoft.Build.Engine.dll engine and moved to a new Microsoft.Build.dll engine and API. xbuild's a clone of MSBuild, and had implemented the old engine API.  xbuild did not initially implement the new engine but instead

[2016-10-04 05:35] wallymathieu commented on #3553
I've seen this issue when you forget to save project (but then for csproj). It has happened to me when I want to upgrade the package references and check in, without compiling. Could it be that?

[2016-10-04 07:09] henkmollema opened #3580 "<packageSourceCredentials> ignored when feed defined in higher config"
Related to #3568 but slightly different as it works the other way around. Tested with NuGet 3.5.0-beta2/.NET CLI 1.0.1.
## Steps
1. Put a `<packageSource>` with `<packageSourceCredentials>` in a NuGet.Config at **application** level, next to project.json.
2. Add a `<clear />` to the `<packageSources>`. Config looks like:

[code]
1. Add the same feed to a "higher" NuGet.Config, e.g. the one in `%AP

[2016-10-04 15:33] Petermarcu commented on #3576
netcoreapp1.2 will support netstandard2.0.

[2016-10-04 15:44] weshaggard commented on #3576
Closest thing we have to a spec is https://github.com/dotnet/standard/tree/master/docs/netstandard-20. Let us know if you need further information.

cc @terrajobst

[2016-10-04 16:24] nguerrera commented on #3504
We also need to address this (quoting @srivatsn) when supporting a project with only `TargetFramework` singular:

+1 to the suggested solution.

[2016-10-04 16:35] nguerrera commented on #3504
It is also worth noting that we have a related problem for props in buildCrossTargeting: #3532. Fixing the issue for single TargetFramework is much higher priority, but it might help to think about the general problem while fixing this.

[2016-10-04 16:49] rrelyea opened #3581 "Finalize NuGet.Core.nupkg for publishing"

[2016-10-04 16:54] drewgillies opened #3582 "[validation] nuget.exe pack excludeemptydirectories ignores lib folders"
Determine expected behavior and fix (or complete the documentation if current behavior is expected).
NuGet.exe version 3.5.0 build 1938 (not a regression from 3.4.4).

See attached for an example (tweak the pack1.cmd file, adding and removing excludeemptydirectories option--you'll need nuget.exe in the parent dir)--the created nupkg does exclude the empty folder in content, but it excludes the emp

[2016-10-04 18:17] drewgillies opened #3583 "[documentation] typo in includereferencedprojects option in pack docs"
Here: http://docs.nuget.org/ndocs/tools/nuget.exe-cli-reference#pack
includereferenceprojects should be includereferencedprojects
@karann-msft

[2016-10-04 18:52] emgarten commented on #3579
@livarcocc this info is no longer put in the project.assets.json file, can you read the project file instead to find the tools?

[2016-10-04 19:46] harikmenon commented on #3583
Fixed https://github.com/NuGet/NuGetDocs/commit/32bd7010865afb11ff490df3b9cdf963974b60a0

[2016-10-04 19:46] #3583 closed, assigned to nobody

[2016-10-04 19:53] dtivel opened #3584 "Cross-platform glob pattern and path issues"
NuGet/NuGet.Client#909 fixes a few issues, but there are more.
1.  `PathResolver.IsWildcardSearch(...)` [only checks for presence of a star character (`*`)](https://github.com/NuGet/NuGet.Client/blob/6d3daa0cfac052f6a4f42919f32ebdb5b11f205f/src/NuGet.Core/NuGet.Common/PathUtil/PathResolver.cs#L195), but `PathResolver.WildcardToRegex(...)` [supports question mark character (`?`)](https://github.com

[2016-10-04 20:03] yishaigalatzer commented on #3099
We are suggesting as a first step to create a MEF import for framework mapping support. This will enable extending/overriding without having to release a new version of nuget, even before we figure out the whole e2e story of describing the dependencies in files and in shipped frameworks. If we take such a change there is a chance for it to make it into 3.6 (vs15 RTM)

[2016-10-04 20:31] yishaigalatzer commented on #3580
I don't understand why you expect an error message? This looks like a valid setup

[2016-10-04 20:35] henkmollema commented on #3580
@yishaigalatzer the setup is correct, yet the `dotnet restore` error message is rather vague about what is going wrong:

[code]

[2016-10-04 20:48] emgarten opened #3585 "DependencyGraphRestoreUtility.RestoreAsync fails when restoring packages.config projects"
Steps
1. Create a packages.config project in VS "15"
2. Restore
#### Expected

Restore noops
#### Actual

Restore fails when validating the dg file

DependencyGraphRestoreUtility.RestoreAsync  should check the dg file to see if there is work to do before passing it to RestoreRunner. RestoreRunner correctly validates it and fails when there are no projects to restore.

[2016-10-04 21:01] drewgillies opened #3586 "[documentation] No such option as nuget.exe pack -verbose"
We need to remove "verbose" from pack's list of options here: http://docs.nuget.org/ndocs/tools/nuget.exe-cli-reference#pack

[2016-10-04 21:01] drewgillies commented on #3586
@karann-msft

[2016-10-04 21:03] pspill commented on #3568
I don't think this issue should be fixed, as this seems to be a valid user scenario:  1) I have nuget.config in the root of my source control, 2) I use "clear" to ensure that no other package sources are used during restore, but 3) I do _not_ want to configure credentials in source, I want these to be specified in my user profile nuget.config.

[2016-10-04 21:11] tkrick commented on #3568
actually @pspill now that you say that, I agree. creds are meant to be user specific which means the result can't really reside in source control.  This is really about nuget 3.3 not falling back to cred provider when creds from nuget.config fail due to expiry/etc, which we can deal with by either upgrading (once 3.5 rtm comes out) or like rrelyea says to be specific about the config that should b

[2016-10-04 21:40] emgarten commented on #3504
@nguerrera would you open a different issue for tracking the use of TargetFramework in the imports targets/props with an explanation of what is expected there.

This issue relates to the precendence for how NuGet determines which type of Restore to perform, ex: create project.lock.json or obj/project.assets.json when a project contains both TargetFrameworks and project.json.

[2016-10-04 21:46] yishaigalatzer opened #3587 "Search in docs site broken"
Search for runtimes -> links to https://docs.nuget.org/ndocs/guides/build-for-uwp -> should link to https://docs.nuget.org/ndocs/guides/create-uwp-packages

[2016-10-04 21:50] nguerrera opened #3588 "Restore to project with single TargetFramework must not condition props"
A project declaring a single TFM, e.g `<TargetFramework>netstandard1.0</TargetFramework>` will do so _after_ props are imported.  As such, if the .g.props file has a $(TargetFramework) condition as it does today, the condition will never be true, and the props will never be imported.

Nuget needs to distinguish the single TFM case and not emit conditions to the .g.props file (and probably not to t

[2016-10-04 21:50] nguerrera commented on #3504
@emgarten OK. https://github.com/NuGet/Home/issues/3588. Is that clear enough?

[2016-10-04 21:52] emgarten commented on #3504
@nguerrera thanks!

[2016-10-04 21:54] emgarten commented on #3588
What is the expected behavior for buildCrossTargeting? Are they left out or are they also put in without a condition?

[2016-10-04 21:55] nguerrera commented on #3588
They should be left out of the single TFM case. There is no outer build there.

[2016-10-04 21:59] harikmenon commented on #3587
Fixed https://github.com/NuGet/NuGetDocs/commit/3374d30d4f3fead218cf31f0856362440c63238f

[2016-10-04 21:59] #3587 closed, assigned to karann-msft

[2016-10-04 22:02] emgarten commented on #3588
That makes sense. For Pack then it seems like the targets file will need to be under both buildCrossTargeting and build, one will be used for multiple TFMs, and the other for a single TFM. //cc @rohit21agrawal

[2016-10-04 22:04] #3585 closed, assigned to emgarten

[2016-10-04 22:22] emgarten commented on #3502
This should be fixed in the latest NuGet.targets, I'll leave this open until it has been validated everywhere.

[2016-10-04 22:23] emgarten commented on #3494
@brthor can you share the id/versions of any tools that you know of that still require imports?

[2016-10-04 22:25] brthor commented on #3494
Perhaps @mlorbetske knows? You were mentioning a couple in the monday sync.

[2016-10-04 22:35] mishra14 opened #3589 "NuGet.exe sources remove does not remove credentials associated with a source from a local nuget.config"
Repro steps -
1. `.\NuGet.exe sources add -name SourceName -source http://Source.com/source -username UserName -password pass -configfile .\nuget.config`
2. Check local nuge.config to verify that the source has been added with the credentials.
3. `.\NuGet.exe sources remove -name SourceName`
4. Check the nuget.config to see that the credentials are not removed.

Note- Credentials are removed if we

[2016-10-04 22:36] drewgillies opened #3590 "[validation] nuget.exe pack -build -properties fails to pass property"
v3.6.0-beta1 (regressed from 3.5.0)
This repro passes Configuration=Release to the msbuild task, but the property isn't received by msbuild--we get a debug build and an ensuing error on pack.
FYI @joelverhagen
[pack build properties - uwp.zip](https://github.com/NuGet/Home/files/509658/pack.build.properties.-.uwp.zip)

[2016-10-04 22:55] livarcocc commented on #3579
@emgarten The problem with that is if the user specifies a \* for the version of the tool. Reading the tools from the project file we won't know what the right version is, while using the lock file, NuGet will use the right logic to decide that.

[2016-10-04 23:02] joelverhagen opened #3591 "Consider: nuget locals should still support nuget.exe locals -clear packages-cache"
From 3.5.0 to 3.6.0-rc1, `nuget.exe locals -clear packages-cache` is no longer supported:

[code]

We should consider continuing support for this option so a) CI's doing `nuget.exe locals -clear packages-cache` do not fail and b) it still has use today to clear old nuget.exe left-overs (versions that actually populated the packages cache).

That being said, package is no longer populated so perhap

[2016-10-04 23:10] joelverhagen commented on #3591
/cc @mishra14, thoughts?

[2016-10-04 23:12] joelverhagen opened #3592 "nuget locals help text still mentioned packages cache"
Problems with `nuget.exe locals -help`:
- Shows packages cache, which is no longer supported (https://github.com/NuGet/Home/issues/3591)
- Should mention `temp`
- The global packages folder is user-specific, not machine-wide
## Example

<pre>
usage: NuGet locals <all | http-cache | global-packages | temp> [-clear | -list]

Clears or lists local NuGet resources such as http requests cache, <b>packa

[2016-10-04 23:22] mlorbetske commented on #3494
Microsoft.composition 1.0.27 is the one we were discussing earlier

[2016-10-04 23:50] emgarten commented on #3579
Discussed this offline with @livarcocc

From the NuGet side the goal is to decouple tools from project since the tool output currently lives in a global location, and because they are not actual assets in the same sense as the rest of the items in project.assets.json.

NuGet could make it easier to find the tool assets file that was just restored by dropping a file into the obj folder with the nam

[2016-10-04 23:53] rrelyea commented on #3590
i think this is the fix you made in 3.5.0-rtm and 3.6-rc, right?
what was the original issue number? (this was broken in 3.4.4, right?)

[2016-10-05 00:09] #3439 closed, assigned to nobody

[2016-10-05 01:11] mishra14 commented on #3591
@joelverhagen, package-cache was removed as part of https://github.com/NuGet/NuGet.Client/pull/829

Reason: I had an offline chat with @emgarten and @rrelyea while I was working on this and since it was no longer used, it seemed better to remove it.

[2016-10-05 04:32] kzu opened #3593 "Add Output Groups to include to project references"
Just like VSIX projects allow you to easily select what to include from a project reference:

![outputgroups](https://cloud.githubusercontent.com/assets/169707/19101080/0d8b83a8-8a9b-11e6-9350-eb9269939cc2.png)

Once the NuGetizer is installed it should also enhance project references so that an _Output Groups Included in Package_ property can be customized too, by declaring BuiltOutputGroup, Symb

[2016-10-05 04:33] kzu commented on #3593
@mhutch thoughts?

[2016-10-05 05:08] alienisty commented on #2987
@zhili1208 I think that when you implemented #663, you didn't properly analyze the problem. In my opinion, the better way of implementing it would have been to add support to NuGetDefault.Config to disable such sources, rather than doing so by default within the user configuration.
Actually, if you read the documentation as it is at the moment of this writing, the `disabledPackageSources` section

[2016-10-05 05:32] alienisty commented on #2987
I would like to present a full example of how this change breaks the documented behavior and also breaks NuGet altogether.
Imagine you are in a big organisation and you want to provision NuGet to all your developer machines with a default configuration to add your internal feeds (say a Nexus server) and disable the `nuget.org` feed so that all developers can use that cached packages from the inter

[2016-10-05 05:38] mistachkin commented on #3050
Today, I received a report from a user about NuGet mangling the version within the nuspec file that gets embedded into the nupkg file.  Apparently, this "normalization" completely broke the package restore feature, with an error complaining about the package "not being found" until he manually re-added the final trailing zero.

Linked to ticket [https://system.data.sqlite.org/index.html/info/e9573

[2016-10-05 05:57] mistachkin commented on #3050
Linked to ticket [https://system.data.sqlite.org/index.html/info/e9573e2d12387877].

[2016-10-05 08:25] magol opened #3594 "CoApp is dead"
On [docs.nuget.org/ndocs/create-packages/native-packages](https://docs.nuget.org/ndocs/create-packages/native-packages), you say that you can use [CoApp](http://coapp.org/) to generate packages for C++ projects. The problem is that CoApp is only in beta stage, is dead and unsupported.

Is there no better alternative to suggest?

The documentation on how to create nuget-pack for C++ are nonexistent

[2016-10-05 12:17] rohit21agrawal commented on #3590
This fix went into dev and 3.5.0-rtm . https://github.com/NuGet/Home/issues/3432

[2016-10-05 14:13] #3405 closed, assigned to dtivel

[2016-10-05 14:13] #3526 closed, assigned to dtivel

[2016-10-05 14:23] SeanKilleen opened #3595 "Unable to restore from offline package source while offline"
This is a similar issue to those elsewhere on this repo, but not quite the same. I'm filing an issue though it may be a problem with my expectations.

This is not related to .NET core development.
## Versions
- Visual Studio Enterprise 2015 version 14.0.25241.03 Update 3
- Nuget Package Manager 3.4.4.
- Windows 10
## Steps to Reproduce
- Take machine off internet  (disconnect wifi in this case).
-

[2016-10-05 15:47] twsouthwick opened #3596 "NuGet.Packaging.Core assemblies are delay-signed/test-signed"
I have a project that loads `NuGet.Packaging.Core` 3.4.3 and it worked for a while. I nuked my global packages repo and it was redownloaded. Now, it fails to load for strong name validation. When I run `sn -v NuGet.Packaging.Core.dll` I get the error:

[code]

This happens with the `dnxcore50` version as well.

[2016-10-05 15:49] twsouthwick commented on #3596
btw seems like this is a repeat of an issue that looks like it was fixed #2690

[2016-10-05 15:55] twsouthwick commented on #3596
And if I download it directly from https://www.nuget.org/packages/NuGet.Packaging.Core/3.4.3 they are valid signatures - I only see it when I restore from the command line. I'll copy the fully signed ones into the package repro, but it seems like there may be some caching of the bad version somewhere

[2016-10-05 16:24] joelverhagen opened #3597 "Logging of nuget.exe push does not agree with source parameter"
## Steps

`nuget.exe push my.nupkg -Source https://www.nuget.org/api/v2/package`
## Expected

See an log message with an HTTP PUT to the same source URL.
## Actual

The log shows a forward slash appended:

<pre>

Pushing jvertestpackage.1.0.0.nupkg to 'https://www.nuget.org/api/v2/package'...
  PUT <b>https://www.nuget.org/api/v2/package/</b>
  Forbidden https://www.nuget.org/api/v2/package/ 529ms

[2016-10-05 16:51] kraigb commented on #3559
Fixed in PR649

[2016-10-05 17:08] zhili1208 commented on #2987
@alienisty I agree with you,  https://github.com/NuGet/Home/issues/663 is to disable slow machine wide source by default, it should not disable source from NuGetDefault.Config, it's a bug, we should fix it

[2016-10-05 17:08] drewgillies opened #3598 "Remove noninteractive option from nuget.exe pack command"
It doesn't do anything. Pack doesn't use it.
Also remove it from documentation.

[2016-10-05 17:48] mhutch commented on #3593
Makes sense to me, but we should definitely document it :)

[2016-10-05 17:58] #3494 closed, assigned to emgarten

[2016-10-05 20:29] bbowman opened #3599 "Add ability to build a "partial" prerelease package (for native code)"
For the NuGetizer project or similar VS build integration of package creation, it is necessary to allow the creation of a partial package. MsBuild by default operates on a specific build configuration that specifies the target platform and configuration for a build (Debug|x86 for example). Therefore it is most common that a developer building locally will only build for one "flavor" of a package t

[2016-10-05 20:37] dtivel opened #3600 "NullReferenceException with incorrect package source in NuGet.Config - local package source and protocolversion attribute"
**Repro steps:**
1.  Create a C# class library project.
2.  Add a package reference (e.g.:  Newtonsoft.Json).
3.  Save the solution.
4.  Exit Visual Studio.
5.  Delete the project's .\packages directory.
6.  Create a NuGet.Config file with the following contents:

[code]

<ol start="7">
<li>Open a command prompt and path to the directory which contains the .sln file.</li>
<li>Execute:</li>
</ol>

[2016-10-05 20:42] emgarten opened #3601 "Error handling for PackageReferences in msbuild"
NuGet should provide complete error messages for malformed _PackageReferences_ and other NuGet inputs. Both Pack and Restore should share the same logic for validating the project file.

These messages should ideally include:
- Project file path
- Line/Char numbers
- Clear message on the expectation and what the input is invalid
- NuGet error number to help in localized scenarios

Example problems

[2016-10-05 20:46] emgarten commented on #3050
@mistachkin restore could only break if the user is changing the package and re-packing it using an existing id/version. That scenario is not supported since packages are cached based on the id/version, having different copies of the same id/version will cause other problems.

[2016-10-05 20:57] mistachkin commented on #3050
Sorry, but no.  The user stated the package would not restore **until** he manually "un-normalized" the version to add the trailing zero.  To be perfectly honest, this is going to be a huge headache.  The packages I manage have a total of around 3.3M downloads at this point.  If even a small fraction of the users end up with issues like this, that will be a major problem.  Looks like the solution

[2016-10-05 20:57] joelverhagen opened #3602 "Version conflicts can occur when a project is used instead of a package"
Reported over email by @mikeharder.
## Steps
### Minimal

This is a smaller graph so it should be easier to debug.
1. Download this .zip: [reproduality.zip](https://github.com/NuGet/Home/files/512308/reproduality.zip)
2. Extract.
3. Run `dotnet restore myproject1` in the directory.
### Original
1. git clone https://github.com/aspnet/benchmarks
2. git clone https://github.com/aspnet/Caching
3. Run

[2016-10-05 21:01] emgarten commented on #3050
@mistachkin would you open a new issue for what you are seeing with restore along with some repro steps?

This issue is around package creation, it sounds like you are seeing issues on the consuming side.

[2016-10-05 21:02] joelverhagen commented on #3602
`dotnet` info:

[code]

[2016-10-05 21:03] mistachkin commented on #3050
Respectfully, I disagree.  The real issue is that what ended up in the embedded nuspec file was **not** what I originally authored.  Subsequently, this "normalization" ended up breaking package restore (and other features?).

[2016-10-05 21:05] emgarten commented on #3050
@mistachkin NuGet supports all both normalized and non-normalized versions during restore. The question is what part of the process is treating the nuspec version as a string instead of a version.

[2016-10-05 21:09] mistachkin commented on #3050
That part of the process, whatever it is, by definition, does not "support" the version normalization.  Meanwhile, some of the most popular non-Microsoft packages on NuGet.org are effectively broken.

[2016-10-05 21:16] emgarten commented on #3050
@mistachkin please open a new issue for the restore issues you are seeing. Any extra details on how this affects existing packages would be extremely helpful and I would like to understand it better to help you out.

Normalizing the version at pack time only, as this issue covers, only affects new packages from what I can see. Users installing those new packages will have the version form used in

[2016-10-05 21:17] mistachkin commented on #3050
I did not discover the issue myself and I do not know the reproduction steps.  I will contact the original user and ask them to file a new issue.  Done, email sent to original user.

[2016-10-05 21:40] kzu commented on #3593
Yes, that's coming next 😃

On Wed, Oct 5, 2016, 2:48 PM Mikayla Hutchinson notifications@github.com
wrote:

##

/kzu from mobile

[2016-10-05 21:44] emgarten opened #3603 "Move NuGet.targets to contentFiles in NuGet.Build.Tasks"
NuGet.Build.Tasks currently contains NuGet.Targets under `runtimes/any/native/`  this should be moved to contentFiles.

Previously contentFiles was not working when integrating into the CLI, possibly due to an older copy of the CLI without contentFiles support being used for the initial stage.

[2016-10-05 22:09] slaneyrw commented on #3050
Do we have any direction on what NuGet will be doing in regards to normalization.  Are we doing to be able to turn OFF this behaviour during pack ?

[2016-10-05 22:42] emgarten opened #3604 "Exclude package target/props imports during restore"
Now that NuGet supports PackageReference in msbuild files there is a potential for packages to include targets/props files under the build folder which change the dependencies of a project.
### Problem

If a package contains a build/package.targets file that contains a _PackageReference_ the output of restore will change based on if the project had previously been restored.
### Proposal

NuGet sho

[2016-10-05 22:47] emgarten opened #3605 "Add end to end tests for MSBuild targets"
Restore and Pack can both be used directly from MSBuild. This is partially covered through NuGet.exe command line tests for Restore which uses the same targets.

To cover additional scenarios such as incomplete parameters there should be a new set of end to end tests that use MSBuild directly. This will need to be done in a way that allows for finding msbuild on the machine, and potentially for te

[2016-10-05 22:49] emgarten opened #3606 "Engineering: NuGet.Client should produce nupkgs using SemVer 2.0.0"
The NuGet.Client repo should make sure of SemVer 2.0.0 by producing nupkgs with release labels that include `.` instead of `-` for proper ordering.

Current: `3.6.0-rc-1950`

Expected: `3.6.0-rc.1.1950`

[2016-10-05 23:29] joelverhagen opened #3607 "nuget.exe locals -clear temp does not show temp was cleared"
## Steps
1. Get a nuget.exe of 3.6.0-rc1 or later
2. `nuget.exe locals -clear temp`
## Expected

There should be a message showing what path was cleared.
## Actual

It only says "Local resources cleared.". This is different than `http-cache` and `global-packages`.
## Example

[code]

[2016-10-05 23:51] emgarten commented on #1914
Moving this to 3.6.0 RC since it affects consumers of the assets file. The current plan is to use `PackageId` and fallback to `AssemblyName`. This matches how Pack will find the id, so converting a project to a package will keep the same id.

[2016-10-05 23:57] zhili1208 opened #3608 "Can't enable package source from local config if that source is disabled in global config."
@skofman1 found this issue (happens on 3.5-rtm, 3.6-beta1, dev)
Repro Step:
local config:

[code]

Global config:

[code]
1. Open setting UI and enable package source dotnet-core.
2. click OK.

Expect: dotnet-core source is enabled.
actual: dotnet-core source is still disabled.

the issue is from here : https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Configuration/PackageSource

[2016-10-05 23:58] zhili1208 commented on #3608
@rrelyea @yishaigalatzer

[2016-10-06 00:21] yishaigalatzer commented on #3608
Seems like a super edge case for me. The user cannot get into this case from the UI, it can wait

[2016-10-06 01:56] kzu commented on #3521
Implemented in https://github.com/NuGet/NuGet.Build.Packaging/pull/22

[2016-10-06 01:56] #3521 closed, assigned to nobody

[2016-10-06 01:57] kzu commented on #3543
Implemented in https://github.com/NuGet/NuGet.Build.Packaging/pull/22

[2016-10-06 01:57] #3543 closed, assigned to nobody

[2016-10-06 09:02] #3166 closed, assigned to nobody

[2016-10-06 12:10] kzu commented on #3593
I think this will ultimately be unnecessary, since project references are intended to also have the nugetizer targets, at which point the customization is via the `GetPackageContentsDependsOn`. The included output groups only applies to cases where the referenced project is _not_ nugetized and in this case, we even issue a build warning, discouraging its use.

[2016-10-06 12:10] #3593 closed, assigned to nobody

[2016-10-06 13:24] SabotageAndi opened #3609 "ndocs ->Retargeting of Framework Message - no redirection"
This message is displayed in VS after changing framework of a project:

Link goes to 404

Should go to https://docs.nuget.org/ndocs/consume-packages/reinstalling-and-updating-packages

[2016-10-06 13:58] mrward commented on #2992
- [Bug 44978 - HttpClientHandler.SendAsync should throw HttpRequestException for proxy auth failure](https://bugzilla.xamarin.com/show_bug.cgi?id=44978) has been fixed in Mono 4.8.0.

Further testing has revealed another Mono problem with proxy credentials not being used for https package sources:
- [Bug 45108 - Proxy credentials not used for https url](https://bugzilla.xamarin.com/show_bug.cgi?id

[2016-10-06 14:47] fubar-coder commented on #2713
Related to issue #1635

[2016-10-06 15:43] #3482 closed, assigned to dtivel

[2016-10-06 16:22] yishaigalatzer commented on #3609
Thanks @SabotageAndi there are a few broken redirects on the new docs site, we will get the fixed ASAP.

[2016-10-06 16:25] yishaigalatzer commented on #3602
We should only attempt to fix this scenario when we have a design for how to replace a project reference with a package reference in the msbuild world.

@emgarten @davkean

[2016-10-06 16:27] yishaigalatzer commented on #3594
There is currently no good alternative yet for CoApp, and yes there is no good story for packing C++ packages.

@harikmenon we can add more info in the docs

[2016-10-06 16:32] yishaigalatzer commented on #3595
From a cursory look I would assume that you didn't disable the source on the bottom of the UI?

![image](https://cloud.githubusercontent.com/assets/1238711/19161213/bd640da6-8ba7-11e6-938c-b8c1404a5a34.png)

[2016-10-06 16:33] yishaigalatzer commented on #3599
@rohit21agrawal @kzu

[2016-10-06 16:36] harikmenon commented on #3609
Fixed https://github.com/NuGet/NuGetDocs/commit/f38e40cc66bda52b316f099f8086d9720fcb335f

@karann-msft - Can you work with Kriag to make sure that updated pages have the right redirect?

[2016-10-06 16:40] dtivel commented on #2193
System.Globalization was [removed](https://github.com/NuGet/NuGet.Client/commit/c9a1ca1364202a80183deabc229d5fbab8166a76#diff-b23d69f408e97e2b49d722d1760cdaf3L33) as a framework assembly from NuGet.Configuration on April 21 via commit jainaashish/NuGet.Client@c9a1ca1.  The first release of NuGet.Configuration to have this change is [3.4.3](https://www.nuget.org/packages/NuGet.Configuration/3.4.3).

[2016-10-06 16:44] dtivel commented on #2193
We're still working on the general scenario.

[2016-10-06 16:44] joelverhagen commented on #3607
I think this method is missing a log statement. The other two similar methods have logging:
https://github.com/NuGet/NuGet.Client/blob/7724da4154ab795601840520b1a1739f95487501/src/NuGet.Core/NuGet.Commands/LocalsCommandRunner.cs#L196-L201

[2016-10-06 16:49] yishaigalatzer opened #3610 "Semver 2.0.0 protocol support"
Tracking protocol changes to servers and clients to support backward compatibility of servers with nuget clients that do not support semver 2.0.0.

The goal is that for heterogeneous client environments to be able to see only semver 1.0.0 versions on a server that supports both 2.0.0 and 1.0.0 and thus not breaking the clients and allowing a gradual migration (if at all).

Example of clear example

[2016-10-06 16:52] yishaigalatzer commented on #3610
CC @zjrunner @xavierdecoster @maartenba

[2016-10-06 16:53] yishaigalatzer commented on #1359
Now that we have the basics implemented in the 3.5 client, we can start looking into enabling this for heterogeneous environments on servers via https://github.com/NuGet/Home/issues/3610

[2016-10-06 17:57] bbowman commented on #3606
would be super swell if this lifted the 20 character limit as well (20 characters per . separated portion perhaps?)

[2016-10-06 18:05] emgarten opened #3611 "ProjectFileDependencyGroups section of the assets file should use library names for projects"
Project.assets.json displays the project file path under ProjectFileDependencyGroups for msbuild project references. This should be changed to the library name so that the behavior is the same for both packages and projects.

[2016-10-06 18:20] emgarten opened #3612 "Project and package reference conflict handling"
### Scenarios
- A project contains both a PackageReference to _A_ and a ProjectReference to a project that has the property or assembly name _A_
- Project -> PackageA and Project -> ProjectB and PackageA -> PackageB, here ProjectB should override PackageB since B was directly referenced. This matches the previous xproj behavior.
- Project -> ProjectA, Project -> ProjectB   where A and B both conta

[2016-10-06 18:31] emgarten commented on #3606
@bbowman there's an issue for that here: https://github.com/NuGet/Home/issues/2735  Add your input and any scenarios you have where removing the limit would help there so we can prioritize what release the limit will be removed in.

[2016-10-06 18:48] psandhu79 commented on #3558
Ok, this is not created so is this a bug or a problem with the accord package

[2016-10-06 19:14] #3557 closed, assigned to rohit21agrawal

[2016-10-06 19:14] emgarten commented on #3558
@psandhu79 can you provide some repro steps for this issue? What version of NuGet are you using?

[2016-10-06 19:55] psandhu79 commented on #3558
I am using Nuget 3.4.4

I created a project.json file with the following contents

{
  "dependencies": {
    "Accord": "3.0.2"
  },
  "frameworks": {
    "net461": {}
  },
  "runtimes": {
    "win": {},
    "win-x64": {}
  }
}

Then add this to the csproj file

Then perform a nuget restore on the project.json file (because i am using teamcity)
Then build the .sln

[2016-10-06 20:03] mistachkin commented on #3050
I agree with @slaneyrw, there needs to be a **-verbatim** option (or similar) to the NuGet **pack** command that retains the originally authored nuspec file _exactly as authored_.

[2016-10-06 20:08] emgarten commented on #3558
@psandhu79 here's what I tried
1. Create a new class library
2. Added your json to project.json
3. Reloaded the project
4. Restored in Visual Studio

Next to the project ClassLibrary1.nuget.targets was created with this output:

[code]

Are you seeing that output?

[2016-10-06 20:24] harikmenon commented on #3595
We are working on detecting and making it easier to disable these sources. We have a rough spec that lays out some scenarios we are looking into. Any and all feedback is welcome :) Happy to get on a call to discuss any specific feedback you might have as well.

https://github.com/NuGet/Home/wiki/Package-Sources-Diagnostics

@karann-msft

[2016-10-06 20:38] bbowman commented on #2735
I concur. This was a little troublesome in my team's project as we used the following prerelease string
1.0.0-ci-yyyyMMdd-hhmmss which does not leave a lot of room for detail beyond the build time/string. To separate between locally built packages and build machine packages we ended up with 1.0.0-my-yyyyMMdd-hhmmss which is less nice than say 1.0.0-%USER%-yyyyMMdd-hhmmss or similar.

It could be u

[2016-10-06 20:39] bbowman commented on #3606
@emgarten added a comment to #2735 with an explanation of what I ran into.

[2016-10-06 21:59] rrelyea opened #3613 "Move settings file to Program Files"

[2016-10-06 22:00] rrelyea opened #3614 "DPL support in VS "15" - minbar"

[2016-10-06 22:08] rrelyea opened #3615 "Restore project refs to match build behavior (recurse)"
dotnet restore in VS "15" timeframe, should no longer support recursing directories for projects.
instead, we should support the following:
1) solution level restore
2) project level restore
   a) with a new default -- to restore itself plus all recursive project references.
   b) enable, with a switch, to choose non-recursive restore of just one project

In Nuget.exe, for compat, default to non-r

[2016-10-06 22:13] rrelyea opened #3616 "Move Nuget repo off of xproj/p.j to msbuild w/ packref"

[2016-10-06 22:20] rrelyea opened #3617 "DotNetCliToolReference PackageTargetFallback"
Currently, we do not plan to support PackageTargetFallback for DotNetCliToolReferences.
We are assuming that Microsoft can ship all of our tools, and their dependencies, properly supporting NetStandard by RC/RTM.

[2016-10-06 22:24] rrelyea commented on #3615
dupe of 3577

[2016-10-06 22:24] #3615 closed, assigned to emgarten

[2016-10-06 22:53] rrelyea opened #3618 "$(RestoreLegacyPackagesDirectory) should be respected at a project level by restore"
This will allow projects targeting netcore 1.0.0 (and perhaps some other 1.0.x versions) to properly restore on case sensitive operating systems.

/cc @joelverhagen

[2016-10-07 01:44] harikmenon commented on #3594
@karann-msft : can you work with me on updating the language here?

[2016-10-07 03:58] eerhardt commented on #3117
We no longer need this work. We are officially off of this package. It is no longer needed in the CLI and has been removed by https://github.com/dotnet/cli/pull/4288

Not sure I can close issues in this repo. @rrelyea - please close.

[2016-10-07 06:44] adrianm64 commented on #491
I have packages which contain source files.
This TFS problem occur around 50% of the time on the source files when I update these packages.
Sometimes some files in a package works fine while others are marked as deleted.

VS2015 update 3, nuget 3.4.4

[2016-10-07 06:54] maartenba commented on #3610
Hasn't the NuGet V3 client always supported SemVer 2.0 since the beginning? (@emgarten ?) If yes, we don't need to change V3 protocol nor registrations/package download URL's.

For older clients targetting the OData feed, there are a few options:
- Not support SemVer 2.0 packages at all on the OData feed. Anyone targeting www.nuget.org/api/v2 would never see the SemVer 2.0 packages. Want to see th

[2016-10-07 07:28] emgarten commented on #3610
Yes, the v3 protocol has had SemVer 2.0.0 support from the start.

It could benefit pre-3.5 clients if SemVer 2.0.0 versions were removed from the registration blobs so that they would not show up as install options in the UI.

PackageBaseAddress is only used by project.json restore, and that has supported SemVer 2.0.0 since 3.1.0 when it was introduced, so that part of v3 wouldn't need to split.

[2016-10-07 07:36] psandhu79 commented on #3558
Hi

Your correct this works in my situation too if i open the solution and use the automatic restore within visual studio.

What i need is to be able to do was restore using either the project.json file or packages.config not the sln before the building of the solution. And was hoping the targets file is created.

Or msbuild the .sln and it triggers the same automatic restore it does when you open

[2016-10-07 08:42] tomkuijsten commented on #3566
Are there any work around or other options to be able to generate a correct package? (like using package.config instead)

[2016-10-07 08:52] rlipovski commented on #2443
This issue ist still there with the latest release version (3.4.x)

[2016-10-07 13:47] Evangelink commented on #3225
@harikmenon Have you found something?

[2016-10-07 14:51] yishaigalatzer commented on #3558
You should be able to restore the csproj or the sln directly from nuget.exe as well. And as long as your nuget.exe version is new enough things should work.

Updating to the latest is nuget.exe update /self

[2016-10-07 14:57] rohit21agrawal commented on #3566
@tomkuijsten we are very soon going to be releasing a new version of pack for NETCore projects which will have all their dependencies and metadata managed in a csproj file. Do you think that will work for you?

packages.config should work too.

[2016-10-07 15:20] tomkuijsten commented on #3566
That would probably work for me, thanks. Does "very soon" imply a couple of days, or couple of weeks?

Adding a packages.config doesn't work. The `pack` doesn't do anything with it (I guess because I have a project.json as well, and that one takes preference).

[2016-10-07 15:27] rohit21agrawal commented on #3566
I'll let @rrelyea comment on the timeline.

[2016-10-07 15:39] michaelAngeloEgypt opened #3619 "enabling Package reinstall from Package Manager UI"
Hi,
you describe in [this ](https://docs.nuget.org/ndocs/consume-packages/reinstalling-and-updating-packages) document how to reinstall a misconfigured package from the nuget prompt. Please target implementing this feature right from the Package Manager UI as not all team members are aware of the use of the nuget console. You can simply place a button below the buttons (Uninstall, Update) as in th

[2016-10-07 16:56] dtivel opened #3620 "configure.ps1 and build.ps1 errors"
configure.ps1 fails with:

[code]

After running configure.ps1, build.ps1 fails with two different kinds of errors:

[code]

[code]

[2016-10-07 17:38] joelverhagen opened #3621 "dotnet restore3 does not observe imports (PackageTargetFallback)"
## Steps
1. `dotnet new --type msbuild`
2. Add an import via the `<PackageTargetFallback>` (I added `dotnet5.4`)
3. Add a package that supports this fallback framework but does not support `netcoreapp1.0` (I added `Microsoft.Extensions.CommandLineUtils.Sources`).
4. `dotnet restore3`

Minimal repro project: [importstest.zip](https://github.com/NuGet/Home/files/516761/importstest.zip)
## Expected

[2016-10-07 17:48] emgarten commented on #2443
@rlipovski what type of feed are you using? What output are you seeing from NuGet?

[2016-10-07 17:51] emgarten commented on #3558
As @yishaigalatzer mentioned, you need to restore the MSBuild file to get the MSBuild targets/props.

Project.json by itself is treated as standalone/xproj which does not support targets/props, all imports are ignored when restoring project.json instead of the csproj.

[2016-10-07 17:57] joelverhagen commented on #3621
/cc @emgarten

[2016-10-07 17:58] emgarten commented on #3621
@joelverhagen I'll take a look

[2016-10-07 18:11] #3620 closed, assigned to dtivel

[2016-10-07 19:10] xavierdecoster opened #3622 "InfiniteScrollList stays in loading state after interactive auth using credential provider"
This is a pure UI bug, as authentication is handled properly, and search results are received, successfully completing the call to `WaitForCompletionAsync`.
The items are not loaded in the model bound to the UI after waiting for completion, which causes the `ScrollViewer.ScrollChanged` event not to fire after waiting for completion.

[2016-10-07 19:11] xavierdecoster commented on #3622
The fix loads the items available after waiting for completion, when no items were loaded before waiting.
Addressed with https://github.com/NuGet/NuGet.Client/pull/664/commits/99693cd839fce7a1195f13a6c6766972e4e77cda

[2016-10-07 20:28] simon130 opened #3623 "Issues when working with Visual Studio 2013"
Hi,

I see that when trying to install nugget package on Visual Studio 2013, it constantly asks me for credentials. We have ~8 nuget sources, but it asks more than 8 times for credentials. If I install nuget package from command line - it just works. Any clue what can cause that and how to work around that? I'd like to be able to use nuget in Visual Studio just like I can do from command line.

[2016-10-07 20:52] rrelyea commented on #3623
What types of NuGet sources do you connect to?  VSTS, NuGet.Server, etc...?
What version of NuGet are you using in Visual Studio 2013?

[2016-10-07 20:54] #3617 closed, assigned to nobody

[2016-10-07 21:13] simon130 commented on #3623
VSTS

[2016-10-07 21:14] rrelyea commented on #3595
@SeanKilleen - please confirm or correct @yishaigalatzer's assumption. I'm closing this issue now, assuming that he was correct.

[2016-10-07 21:14] #3595 closed, assigned to nobody

[2016-10-07 21:15] dtivel opened #3624 "RestoreRetryTests tests are flaky"
RestoreRetryTests tests are flaky.  Example failures from test runs:

[code]

[code]

[2016-10-07 21:16] rrelyea commented on #3591
Makes sense, for compat, leave it as it was.

[2016-10-07 21:19] rrelyea commented on #3623
What version of NuGet are you using in Visual Studio 2013?

[2016-10-07 21:22] simon130 commented on #3623
2.12.0.817

[2016-10-07 21:24] rrelyea commented on #3582
@drewgil / @rohit21agrawal  - what would be the use of an empty folder under lib<tfm>\ ?
I cannot think of one. Seems reasonable to not include it, regardless of setting, doesn't it?

[2016-10-07 21:59] shishirx34 commented on #3391
The server side fix should be live in production: https://github.com/NuGet/NuGetGallery/issues/3196

[2016-10-07 22:01] rohit21agrawal commented on #3582
talked to @emgarten  about this . The reason an empty folder would be included in lib would be to show that it's compatible for a given framework.

So if I had a lib\net45 and lib\netstandard13 folder which didn't have any DLLs under them, but instead had the placeholder _._ file, it would indicate that the nupkg is still compatible with net45 and netstandard13, as opposed to those folders not bei

[2016-10-07 23:05] joelverhagen commented on #2995
Adding to what @kovalikp said, I think having a special `$(IsTool)` MSBuild property is weird. In PR https://github.com/NuGet/NuGet.Client/pull/918, `$(IsTool)` does two things: defaults the `$(BuildOutputTargetFolder)` to `tools` and makes it so build artifacts aren't added under TFM subdirectory.

Instead of treating tools specially in this way, we should have another property `$(SkipFrameworkFo

[2016-10-07 23:55] #3590 closed, assigned to rohit21agrawal

[2016-10-07 23:56] rohit21agrawal commented on #3555
@Sebosek any update on this?

[2016-10-08 00:01] ExcaliburVT commented on #545
I was also shocked when I found that I could not use a Nuget within a Sql Project.  I was trying to package in some T4 Templates so that we could easily share them among all the Sql Projects that the team would use in the future in addition to my intention to share .dacpacs for cross cutting concerns.

[2016-10-08 06:28] AndyTian-Devops commented on #3552
@mishra14 @rrelyea I verified this issue on CI dev build 1940 and latest CI build 1968, it have been fixed.  Thanks.

[2016-10-08 14:10] gravidThoughts opened #3625 "package.config targetframework not updating"
Updating target framework does not update packages.config.

VS 2015 Update 3 All Patches applied as of 10/8/2016

[Video Evidence here.](https://www.youtube.com/watch?v=Qs5WRk0PJe0)

[2016-10-08 14:15] SeanKilleen commented on #3595
@rrelyea After some more experimentation, it appears @yishaigalatzer's explanation is correct. (Thank you!)

I think my disconnect in this case was that I assumed package sources were searched in order. For example, when I searched "all sources", I assumed that it would search my offline nuget folder first before looking at the machine-wide package source.

To confirm: In order for offline nuget f

[2016-10-08 14:33] #3491 closed, assigned to dtivel

[2016-10-08 14:43] gravidThoughts opened #3626 "Nuget Package Manager Installed Filter Behavior"
Just wanted to verify, is the filter behavior more strict (ie exact match) in the installed tab? I have a filter active in Browse tab that shows several of my installed packages. When I switch to the installed tab, they all disappear.

[2016-10-08 15:51] yishaigalatzer commented on #3595
Yes, except the order doesn't really matter. Here is the logic:

First look at the cache, then all file based sources (because they are typically faster) if you find perfect matches, you are done.

Then go to the http sources.

@harikm we should probably document it, and also add a tooltip to the up/down arrows explaining it

[2016-10-08 17:02] SeanKilleen commented on #3595
@yishaigalatzer I'm not sure that logic was followed in this case. I had all machine-wide package sources checked (which included the one with the URL). However, my file-based package source was the first one in my list of sources, and all other non-machine sources were unchecked.

if the logic as you described is followed, shouldn't it have hit my local package source (a file-based source), found

[2016-10-08 18:10] yishaigalatzer commented on #3595
It might need more info or there might be that the match is not perfect and then it goes online.

It would help to know what exactly you are restoring (project.json or packages.config).

Justin might know if I got the logic mixed up or is it only in 3.5 that it works this way

[2016-10-08 18:47] SeanKilleen commented on #3595
It's definitely a package.config restore.

Was doing a quick demo of some testing tools so was creating two class libraries and looking to restore  xunit, specflow, and fluentAssertions -- all of which I'd copied from another project that I'd done for a similar demo previously.

I'll try to run some more tests to narrow it down.

[2016-10-09 03:42] ivanpointer commented on #545
We've converted to DbUp to get around this issue.  I'm sure this would still be advantageous for SSDT, RedGate ReadyRoll, etc., but we'll probably be too invested in DbUp to make a move any time soon.

[2016-10-09 09:13] ranjan-2209 opened #3627 "unnecessary characters shown in NuGet window in VS 2015"
I have created new UWP project in VS 2015 and opened NuGet window. There are some unrecognized characters there as shown in the snapshot
![1](https://cloud.githubusercontent.com/assets/16834561/19219359/b988384a-8e2e-11e6-88ee-79d8ade496e9.png)

[2016-10-09 10:10] Foroughi opened #3628 "Dotnet restore failed on Windows server 2012"
Hello
I am working on a project with the attached project.json. But Team City fails on restore step (dotnet restore --no-cache) .I`ve attached the log of TeamCity
Also I tried to run that command under administrator privilege , but the result is same as the TeamCity result. Let me raise this point that on my local system all work fine without any problem !
and --disable-parallel didn't help as wel

[2016-10-09 10:49] v-luzh opened #3629 "[Test Failure] Version.txt didn’t created under the installed package folder after installing package ‘TestPackage.SupportingMultipleFrameworks.1.2.0’"
**Repro Steps:**
1.  New a VB ClassLibrary project.
2.  Open ‘Manage NuGet Packages…’ and click ‘Browse’ tab.
3.  Install package ‘TestPackage.SupportingMultipleFrameworks.1.2.0’.
4.  Check the version.txt under C:\school[ProjectName]\TestPackage.SupportingMultipleFrameworks.1.2.0

**Expected Result:**
There is a version.txt file under the package folder as below screenshot.
![expected](https://cl

[2016-10-10 04:15] kzu opened #3630 "Parsing a .NET Standard targetting PCL should properly recognize short name"
This test fails:

[code]

It should pass in some form. Out of the box, PCLs targetting .NET Standard are reported as "portable50". There should be a straightforward way to determine a project targets a certain version of .NET Standard (currently, there's no target framework profile to check, and the version is just "5.0" so it's not very useful either.

[2016-10-10 06:33] Rivierg commented on #2840
Hello, I am having a similar issue and I would like to ask for your help.
I have a PCL project, and 3 platform projects for Android, iOS and UWP. in VS2015.
I am trying to install the [Neo4J.Driver NuGet](http://www.nuget.org/packages/Neo4j.Driver), but I get the following errors. However it seems to have installed on UWP .
- On the PCL:

- On Android:

I have these targets in the project: .Net Fr

[2016-10-10 07:56] tbolon opened #3631 "NuGet.exe push -Timeout parameter ignored"
It seems to be a regression from previous versions. In latest 3.4.4 bits, the -Timeout parameter is not used, and the default values does not seems to match the command description.

See this log:

[code]

And the push help:

[code]

[2016-10-10 09:09] bednart opened #3632 "Package Version - Support for Major.Minor.Build.Revision"
Hi,
I was trying to find the answer but without any clear result. I' am using **NuGet 3.5.0-beta2** CMD to create and publish packages to our own NuGet server. And my problem is how to version packages.

As described in documentation [here](https://docs.nuget.org/ndocs/schema/nuspec) "_version  - The version of the package, in a format like 1.2.3._" So it tells me that only A.B.C version is allowe

[2016-10-10 09:12] davidfowl commented on #3632
You should be doing the inverse. Making your assembly version based on the package version.

You should assume semver for package versions. The only reason nuget supports 4 part versions is because when we originally started, we followed assembly versions.

[2016-10-10 09:23] bednart commented on #3632
So it is better to set package version in nuspec file instead of AssemblyInfo.cs and propagate this version somehow (automatically) to AssemblyInformationalVersion during build?

And ok I will stay with 3 part versions ;)

[2016-10-10 13:53] psandhu79 commented on #3558
@emgarten Will there be an automatic restore implemented from the command line when you build a solution, just like when you build in visual studio

[2016-10-10 14:01] stvndall commented on #3188
I'm having this same issue on ubuntu 16.04. The proxy here intercepts all ssl traffic, and uses it's own cert. although I can import the cert, and I can access https://api.nuget.org/v3/index.json myself. I cannot download this through dotnet restore
Error:
error: Unable to load the service index for source https://api.nuget.org/v3/index.json.
error:   An error occurred while sending the request.
e

[2016-10-10 14:02] yishaigalatzer commented on #3558
It is already, just need to run two command in a script :)

Nuget.exe restore xxx.sln
Build

Sent from Ninehttp://www.9folders.com/

---

From: psandhu79 notifications@github.com
Sent: Oct 10, 2016 6:53 AM
To: NuGet/Home
Cc: Yishai Galatzer; Mention
Subject: Re: [NuGet/Home] Nuget 3 .targets file not added to csproj file (#3558)

@emgartenhttps://na01.safelinks.protection.outlook.com/?url=https%3A

[2016-10-10 14:15] rlipovski commented on #2443
@emgarten we are using an internal nuget service (v1) and the output message is basically the same like in the title. I deleted the version 3.4.x and installed 3.3.x, which did the trick. after downgrading the nuget package manager is working again.

[2016-10-10 17:43] mishra14 commented on #3552
@v-atian : Thanks.

Closing NuGet/NuGet.Client#904.

[2016-10-10 17:43] #3552 closed, assigned to mishra14

[2016-10-10 17:46] balachir opened #3633 "Restore logging in VS doesn't always show"
**INSTALL STEPS**
WPT.25810.00
Add private MyGet feeds to Package Manager Settings

**REPRO STEPS**
1. Open VS, File > New Console Application (.NET Core)
2. Right-click solution > Restore packages

**ACTUAL**
You get this dialog for a second or two and then it goes away
![image](https://cloud.githubusercontent.com/assets/8246794/19281069/4034f1c0-8f9d-11e6-9a5c-b39f190c3b06.png)

If I delete the

[2016-10-10 17:51] #3621 closed, assigned to emgarten

[2016-10-10 18:37] CZEMacLeod commented on #912
Wondering if there is any progress on this as for CI purposes it would really help us to support `7.0.*-*` or something like

[code]

[2016-10-10 18:42] yishaigalatzer commented on #912
Not yet, a good indication of progress would be if the item is assigned to someone for work.

[2016-10-10 19:30] CZEMacLeod commented on #912
Unfortunately that's what I thought... Just been open for over a year and bumped again and again... :(

[2016-10-10 21:10] #3028 closed, assigned to nobody

[2016-10-10 21:18] DavidTurton commented on #1215
I got this error on an ASP.NET Core MVC site using Visual Studio 2015 Update 3 with .NET Core 1.0.1. I was trying to generate my models and context from an existing database, using "scaffold-dbcontext" in Package Manager's console

Turned out that Package Manager does a build before doing anything like this, and I had build errors in the project.  Fixed the build errors, problem went away.

[2016-10-10 22:01] #3611 closed, assigned to emgarten

[2016-10-10 22:05] emgarten commented on #1914
This is easier with .NETCore projects where Include/Exclude flags are set on the ProjectReference.

Additional project naming clean up has been added in NuGet/NuGet.Client@f9c92a0f12631f91418e8ea3a6705a1e8dd01dcf

[2016-10-10 22:05] #1914 closed, assigned to emgarten

[2016-10-10 22:07] emgarten commented on #3633
NuGet pops up a modal dialog while restoring. Is a restore actually taking place? Do you see the assets.json file appear after it completes? Are you able to build while the restore is taking place?

[2016-10-10 22:09] emgarten commented on #3628
From the log it appears that restore is hitting network issues and timing out. Are you able to download the same packages to that machine manually?

[2016-10-10 23:02] #3559 closed, assigned to karann-msft

[2016-10-10 23:05] #3359 closed, assigned to karann-msft

[2016-10-11 01:04] emgarten commented on #3588
@nguerrera what is the expected behavior if a single TFM is passed in `<TargetFrameworks>`?

[2016-10-11 02:01] SupporterMan opened #3634 "Automate offer suggestions for NuGet packages"
While upgrading an older VS solution to VS 2015, it complained about MVC v3 references and I was able to update them to v5.2.3 and also related ones, but that got me thinking, it would be nice to have a tool that analyzes all of the non-NuGet references in a solution and offers suggestions to be migrated to their equivalent NuGet packages. This way, I can easily upgrade or downgrade as needed and

[2016-10-11 02:24] eerhardt commented on #3588
The same behavior as if multiple TFMs are specified in $(TargetFrameworks).  There is an "outer" build, and NuGet would add the single condition on the Import.

[2016-10-11 03:21] emgarten commented on #3588
Thanks for confirming. NuGet will need to keep track of _how_ it got the single framework to decide if _buildCrossTargeting_ and TFM conditionals are used then.

[2016-10-11 04:45] NagarajMasub opened #3635 "NuGet Server creates temp files in C:\Windows\Temp\nuget in server"
Hi,

we have our own nuget feed in our server,we are using NuGet.Server . C:\Windows\Temp\nuget in this location there are more than 100 gb of nuget files are stored, due to this my server gets hanged, how can i resolve this. Please update me as soon as possible

[2016-10-11 06:45] ghost opened #3636 "Nuget Installing"
I'm trying to install Nuget package from C# code, it is downloading the folder but not installing the nuget packages. Please help me to solve the problem.

[2016-10-11 06:54] emgarten opened #3637 "$(TargetFramework) support for .NETCore projects in Visual Studio"
The VSIX should check for either $(TargetFrameworks) or $(TargetFramework) when determining project type in Visual Studio.

Currently only $(TargetFrameworks) is supported

[2016-10-11 08:56] 0xced commented on #1264
Brent Krueger created a [Nuget Package Visualizer Extension for VS2015](https://www.kruegerwebdesign.com/blog/nuget-package-visualizer-extension-vs2015).

[2016-10-11 08:58] #2909 closed, assigned to nobody

[2016-10-11 08:59] #3622 closed, assigned to nobody

[2016-10-11 11:37] mbp opened #3638 "404 link"
http://docs.nuget.org/ndocs/create-packages/symbol-packages has a link to "enable symbol packages": http://docs.nuget.org/ndocs/consume-packages/enabling-symbol-packages

But that link is broken.

[2016-10-11 14:24] #3624 closed, assigned to dtivel

[2016-10-11 14:40] harikmenon commented on #3638
I have fixed this. You need to add https://nuget.smbsrc.net/ to your symbol sources in VS.

[2016-10-11 14:40] #3638 closed, assigned to nobody

[2016-10-11 14:43] harikmenon commented on #3225
Can you send me an email? This is easier to do it there. harikm@microsoft.com. I will have one our of PMs help you through this.

[2016-10-11 14:43] #3225 closed, assigned to nobody

[2016-10-11 17:31] balachir commented on #3633
Restore is taking place. Updated the repro steps above to clarify my ask, thanks.

[2016-10-11 17:51] rowanmiller opened #3639 "project.lock.json is being used by another process"
Moving from https://github.com/aspnet/EntityFramework/issues/6740, reported by @mmisztal1980

This may be a `dotnet` issue, but starting with NuGet as it's nuget.exe that is being called.
### Steps to reproduce

Run `nuget.exe restore Solution.sln`
### The issue

While restoring packages using nuget or run a `dotnet restore`,
I'm getting the following error message.

[code]

It's impossible to do

[2016-10-11 18:26] rrelyea commented on #3639
Which version of NuGet.exe are you hitting this with?

[2016-10-11 18:28] rrelyea commented on #3636
Please give details of what code you are executing, using which components (and versions), and how it is failing.

[2016-10-11 18:29] rrelyea commented on #3635
@qianjun22

[2016-10-11 18:31] mmisztal1980 commented on #3639
The latest one, my bootstrap scripts always downloads the latest copy from
the public source.

[2016-10-11 18:39] mishra14 opened #3640 "Update build instructions at NuGet.Client readme"
After Commit: https://github.com/NuGet/NuGet.Client/commit/6bef73c728b8f49d4a7c197582b859fb4b6f21da the build instructions at https://github.com/NuGet/NuGet.Client may not be precise/correct.

We should update those. Using this issue to track.
@alpaix

[2016-10-11 18:43] rrelyea commented on #3627
looks like this is a problem in 5.1.0 of this package, that has been fixed in 5.2.2.
/cc @ericstj

[2016-10-11 18:43] #3627 closed, assigned to nobody

[2016-10-11 18:44] rrelyea commented on #3626
Can you give us the filter you are using, and the specific packages you are seeing in browse, but not install tabs?

[2016-10-11 19:41] emgarten commented on #3604
This can be limited to just `ExcludeRestorePackageImports`, there are currently no scenarios for excluding build vs buildCrossTargeting

[2016-10-11 19:42] emgarten opened #3641 "Support $(RuntimeIdentifier)"
Add support for $(RuntimeIdentifier) in addition to $(RuntimeIdentifiers)

[2016-10-11 20:43] emgarten commented on #2443
@rlipovski if you are using team city change it from v1 to v2 NuGet feed mode. The 404 you are seeing comes from the request for FindPackagesById returning a 404 since it does not exist in v1.

[2016-10-11 20:45] emgarten commented on #3151
Fixed in NuGet/NuGet.Client@25b739dada217a5890c8d5068c2aafec65bdf8bd

DotnetCliToolReferences are now restored as individual projects

[2016-10-11 20:45] #3151 closed, assigned to emgarten

[2016-10-11 20:46] emgarten commented on #2986
Fixed with the legacy path switch.

[2016-10-11 20:46] #2986 closed, assigned to emgarten

[2016-10-11 20:50] emgarten commented on #3633
Thanks @balachir, the updated steps help. I've noticed a behavior change around this also, I'll investigate to see where the log messages are being dropped.

[2016-10-11 21:03] emgarten commented on #2840
@Rivierg that compatibility issue looks unrelated to this one for adding framework references to a project. Please open a new issue and include details on what version of NuGet you are using.

[2016-10-11 22:16] #3199 closed, assigned to emgarten

[2016-10-11 22:16] #3588 closed, assigned to emgarten

[2016-10-11 22:16] #3604 closed, assigned to emgarten

[2016-10-11 22:16] #3637 closed, assigned to emgarten

[2016-10-11 22:16] #3641 closed, assigned to emgarten

[2016-10-11 23:08] ejizba commented on #1850
Any update on this issue? In addition to the targets/props problem, a nuget package also completely fails to install to my CPS-based project if I have a file in a subfolder of the content folder.  For example:

"content\Example.txt" works (installing the package succeeds and the file is added to the project)

"content\Folder\Example.txt" fails (installing the package throws an error like "Destinat

[2016-10-11 23:58] joelverhagen opened #3642 "Performance regression causing VS ddrit failure"
ddrit:
ManagedLangs_CS_DDRIT
0500.Add New Project

Performance degradation seems to be related to the attempt to create the `MSBuildShellOutNuGetProject`, which makes two calls to `IVsBuildPropertyStorage.GetPropertyValue`.

[2016-10-11 23:58] joelverhagen commented on #3642
Fixed with https://github.com/NuGet/NuGet.Client/commit/f3b496bd4294bb6bb27e08f6664fdee9bd1415a0.

[2016-10-11 23:58] #3642 closed, assigned to joelverhagen

[2016-10-11 23:58] joelverhagen commented on #3642
PR: https://github.com/NuGet/NuGet.Client/pull/928

[2016-10-12 04:25] NagarajMasub commented on #3635
Hi Guys,

Any update on this..?

[2016-10-12 04:33] worldspawn commented on #1359
I'm not sure what is or isn't supposed to work for  3.5.0.1737, I tried to pack using a version with metadata and it just ignored the metadata part.

I can now start a release tag with a number. It still can't exceed 20 characters in total. 1737 doesn't allow `.` in the release part but 1938 does.

Same in 3.5.0.1938. Which also gave a warning.
3.6.0.1978 (no one said it would work in 3.6 tho) pre

[2016-10-12 05:13] emgarten commented on #1359
@worldspawn would you open an issue to track that? Internally NuGet ignores the metadata labels by default since it does not impact the order or identity of the version, it looks like it is also ignored when writing out the passed in _Version_ from pack.

Putting the full version string directly into the nuspec and packing will keep the metadata labels, you could use that as a workaround for now.

[2016-10-12 05:16] worldspawn commented on #1359
Ok @emgarten. Will do

[2016-10-12 05:18] worldspawn opened #3643 "SemVer 2.0 - nuget pack with provided version ignores metadata (3.5.0-rtm-1938)"
Hi, using the latest 3.5.0 build I am getting the following behaviour. (3.5.0-rtm-1938)

`Nuget.exe pack -Version 1.0.2-1some.release+3hashes .\database.nuspec` produces a file called `Database.1.0.2-1some.release.nupkg`.

The meta data is not included in the filename nor is in the nuspec file embedded in the package.

[2016-10-12 09:06] mrward commented on #2992
- [Bug 45108 - Proxy credentials not used for https url](https://bugzilla.xamarin.com/show_bug.cgi?id=45108) has been fixed in Mono 4.8.0.

[2016-10-12 13:23] drewnoakes commented on #2721
I've landed here while searching to find out the meaning of this diagnostic. In my case it's:

I'm publishing a library and really need to target `netstandard1.3` or earlier.

How can I diagnose why a higher version is being used instead?

[2016-10-12 16:39] abelbraaksma commented on #2686
This happened to me after installing the most recent .NET Core 1.0.1. VS2015 Tools Preview, using Windows 7 and Visual Studio 2015 (stressing that this issue may arise on other systems than Win10).

After uninstalling MS Package Manager and reinstalling it again the Package Manager console seems to work again.

An alternative solution with a registry fix may also work, as laid out in this answer:

[2016-10-12 16:56] rrelyea commented on #3240
Was validated as fixed in 3.5rtm validation pass.

[2016-10-12 16:56] #3240 closed, assigned to nobody

[2016-10-12 16:58] rrelyea commented on #3510
Provided a work around for 3.6b1 timeframe for Roslyn. Added a command line switch that allows you to pass in your msbuild path.

[2016-10-12 16:58] #3510 closed, assigned to drewgillies

[2016-10-12 16:58] #3463 closed, assigned to rrelyea

[2016-10-12 17:01] kzu opened #3644 "If importing *.nuget.props/targets, add them to MSBuildAllProjects"
The Microsoft common targets use the [MSBuildAllProjects](https://github.com/Microsoft/msbuild/blob/master/src/XMakeTasks/Microsoft.Common.CurrentVersion.targets#L521-L522) property to make it easy for targets to depend on changes to all project-modifying targets.

NuGet contributes two key project-modifying imports of its own: [project].nuget.props and [project].nuget.targets, yet these aren't ad

[2016-10-12 17:04] rrelyea commented on #3272
I think you solved this. have you reenabled the test yet?

[2016-10-12 17:05] rrelyea commented on #3561
Dupe of #3533

[2016-10-12 17:05] #3561 closed, assigned to drewgillies

[2016-10-12 17:08] rrelyea opened #3645 "Move NuGet off of v2 NuGet.Core dependencies"
Discover and port functionality as necessary.

[2016-10-12 17:11] rrelyea opened #3646 "Establish a Mono CI for NuGet.exe validation on Mac using msbuild"
Involves fixing tests and product code as necessary.

[2016-10-12 17:28] #2995 closed, assigned to rohit21agrawal

[2016-10-12 17:45] rrelyea commented on #3579
by design today.
if cli needs a list of tools that were restored, we could do.

[2016-10-12 17:48] harikmenon commented on #3644
adding @rrelyea. We will pick this up in triage today.

[2016-10-12 17:49] livarcocc commented on #3579
I already worked around it. I was just surprised that it was there for dotnet restore but removed for dotnet restore3.

[2016-10-12 17:50] rrelyea commented on #3629
Concerned here because this looks like a behavior change for packages.config scenarios. Please work with @emgarten as needed.

[2016-10-12 17:56] rrelyea commented on #3566
@tomkuijsten - Our first release with this support should come later this year.

[2016-10-12 18:17] emgarten commented on #2721
@drewnoakes NETStandard.Library 1.6.0 contains assemblies for netstandard1.3, there isn't a NETStandard.Library 1.3.0, but I can see how it would be easy to expect that :smile:

[2016-10-12 18:47] kzu opened #3647 "Allow a project with Any TFM to install any package"
NuGet packaging projects should be able to reference any package, regardless of the
target frameworks they support.

Currently, none of the following TFMs in the nuget packaging project work for this scenario:
- NuGet,Version=v1.0
- Any,Version=v0.0
- Agnostic,Version=v0.0

They all result in errors like: `Package Newtonsoft.Json 9.0.1 is not compatible with any (Any,Version=v0.0) / win.`

NuGet r

[2016-10-12 18:47] kzu commented on #3647
/cc @yishaigalatzer @harikmenon and @emgarten (since I saw your name on that part of the code that does the checking ;))

[2016-10-12 18:58] drewnoakes commented on #2721
@emgarten thanks for replying. In that case, is there any action I should take regarding this warning? I'd like to have a warning-free build. Should I just set the dependency to NETStandard.Library 1.6.0?

**EDIT** just tried this and yes, setting NetStandard.Library to 1.6.0 got rid of the warnings.

[2016-10-12 19:13] emgarten commented on #3647
@kzu can you give a scenario where this is useful?

`nuget.exe install` runs the install with `Any` and it is seen as problematic, here is an example of where it gets into trouble.

[code]

In the above dependency graph the target frameworks do not have a relationship that can be used to determine which path should be follow. The user ends up with an arbitrary set of packages, which would probably

[2016-10-12 19:18] kzu commented on #3647
Here's the scenario: https://github.com/NuGet/Home/wiki/NuGetizer-3000

Install should only add the PackageReference (or entry in project.json), nothing more. In this case, all it has to do is add a reference to PackageA. It doesn't matter what other transitive dependencies exist. That's the purpose of another part, which is resolving the referenced package assets to use, which can trivially be di

[2016-10-12 19:19] #3644 closed, assigned to nobody

[2016-10-12 19:28] emgarten commented on #2721
That's the correct approach. The warning was because 1.3.0 means >= 1.3.0, and 1.6.0 is the lowest available.

[2016-10-12 19:32] emgarten commented on #3647
So what you need is a way to force adding a reference to the package, and to not restore or do any checks on the nuget side after?

[2016-10-12 19:38] The-Futurist opened #3648 "Inconsistency between packages folder and project's packages.config"
This is a question and possible suggestion:

In a solution with several projects, if the list of packages in the current packages folder differs from the union of the packages from all of the projects' packages.config files, bring this to a user's attention.

Not sure how you feel about this, but we have some solutions (historic) that are in this state, and it becomes confusing when someone has ad

[2016-10-12 19:39] emgarten commented on #3643
I was able to repro this. Putting the full version into the nuspec and packing works, but passing the version from the command line drops the metadata.

The code that copies this over may need to use _NuGetVersion.ToFullString()_ instead of _NuGetVersion.ToString()_ which defaults to leaving metadata out.

[2016-10-12 19:51] kzu commented on #3647
well, I only need a way for ResolveNuGetPackages=false to be honored after the reference is added :). Which I thought would happen automagically :)

[2016-10-12 20:17] rrelyea commented on #3635
CLosing this issue. Believe that NuGet Server issues should be filed in the NuGetGallery repo. Ported your issue to: https://github.com/NuGet/NuGetGallery/issues/3275

[2016-10-12 20:17] #3635 closed, assigned to nobody

[2016-10-12 21:01] drewnoakes commented on #2721
That fact wasn't obvious, and I didn't find a good reference online with the error message, though I guess that's what this issue is tracking.

Thanks again for clearing things up for me.

[2016-10-12 21:05] axunonb opened #3649 "Details of the package are not displayed in VS 2015"
After installation of package MailMergeLib there are no details shown on the package property window, like Description, Version, Authors, License etc. Everything below "Options" is blank.
In NuGet Package Explorer everything looks fine.
Can't figure out a reason for this behavior. Any hint appreciated.
Package: http://www.nuget.org/packages/MailMergeLib/

[2016-10-12 21:23] nguerrera commented on #3532
@rrelyea I'm having to put an unsightly workaround for this in the SDK. We need to have a working mechanism for props in cross-targeting builds by RTM.

[2016-10-12 21:31] nguerrera commented on #3532
I think the fix would be this: since nuget knows at restore time if the project has '$(TargetFrameworks)' !=  '', the expression for IsCrossTargetingBuild can be simplified to just '$(TargetFramework)' == '' for such a project, which could be written to the generated props.

[2016-10-12 21:42] emgarten commented on #3532
I like this idea, having all groups conditioned on $(TargetFramework) makes sense.

NuGet tracks how the frameworks came in, if $(TargetFrameworks) is set it will pass a flag along to use when creating the imports.

The odd scenario would be if someone set $(TargetFrameworks) and $(TargetFramework) in the same project, does this cause a special failure anywhere? Or will the user just get odd behav

[2016-10-12 21:45] nguerrera commented on #3532
Currently, TargetFramework wins in this case. Though it should probably be an error. There were some workarounds exploiting this while blocked on cross-targeting, but needing TargetFrameworks to trigger VS and nuget behavior. I think that shouldn't be needed anywhere anymore, though.

[2016-10-12 22:14] nguerrera commented on #3532
The web template is still like that, actually so we shouldn't error out just yet. We need to treat it as TargetFramework (singular wins) until nobody is setting both anymore.

[2016-10-13 00:33] mishra14 opened #3650 "See if New Machine Wide Config work needs to be "willowed""

[2016-10-13 00:47] robertmclaws opened #3651 "VS2015 "Manage Packages" can't see where packages are installed w/o internet"
## Problem

If your internet connection goes down for some reason, the NuGet "Manage Packages" UI will show you which packages are installed in your solution, but will NOT load up the right-hand list showing which packages are installed in which project.
## Expected Behavior

As each project has a packages.config or a project.json, an internet connection should not be necessary to make that determ

[2016-10-13 00:56] emgarten commented on #3651
@robertmclaws what version of NuGet are you using?

[2016-10-13 01:24] robertmclaws commented on #3651
Visual Studio says I'm using version 3.5.0.1484.

[2016-10-13 06:22] thirukkural2022 commented on #2836
Try this simple solution: open an administrator command prompt.

copy C:\windows\System32\WindowsPowerShell\v1.0*ps1xml C:\windows\SyswOW64\WindowsPowerShell\v1.0\

Close Visual Studio and open it again. Check Nuget Package manager Console.

[2016-10-13 06:32] livarcocc opened #3652 "dotnet restore3 is not restoring tools dependencies correctly"
I ran into this when working on https://github.com/dotnet/cli/issues/4366.

To test this out I created a test project here: https://github.com/livarcocc/cli-1/blob/projectdependenciescommandresolver/TestAssets/TestProjects/MSBuildTestAppWithToolInDependencies/MSBuildTestAppWithToolInDependencies.csproj. This project has a tool dependency whose job is to then use the ProjectDependenciesCommandResol

[2016-10-13 09:03] emgarten commented on #3652
I am not able to get this to work. Following the directions above I get an error due to the tool package missing imports for newtonsoft.json 7.0.1 which is referenced by Microsoft.DotNet.ProjectModel, adding a 9.0.1 reference to dotnet-invoke-portable fixes the restore problem.

The lock file for the tool has lib/netstandard**1.6**/ for Microsoft.DotNet.Cli.Utils

I may have a different mix of pac

[2016-10-13 09:14] joostvz opened #3653 "Wrong version of System.Net.Http.Formatting.dll restored"
Please see my attached solution. The structure is like this:
- ClassLibrary1 (depends on CacheCow and Microsoft.AspNet.WebApi.Client (System.Net.Http.Formatting.dll) nuget packages
- ClassLibrary2 (has a project reference to ClassLibrary1)

I've updated all nuget packages to the latest version; CacheCow requires version 4.0.3 of Microsoft.AspNet.WebApi.Client, but I use the latest version in my pr

[2016-10-13 12:03] conniey opened #3654 "NuGet dependencies are not packaged in VSIX when using project.json"
We have a repository that uses project.json to get NuGet dependencies and on build, all the dependencies get output into the bin folder but they are not being packaged up into the VSIX.  (The only things in the VSIX are the referenced projects' output dll.)

I was looking around and there was a [StackOverflow question](http://stackoverflow.com/questions/12110135/vsix-package-doesnt-include-referen

[2016-10-13 12:05] Hoplo commented on #1401
Hi,
We are having the same issue and its causing a major headache at the moment. Is there any update or an ETA on a fix for the issue?

We are using:
VS 2015 Update 3 (14.0.25431.01)
NuGet Package Manager (3.5.0.1484)

Also see the same issue in VS 2012 and Nuget 2.8.

Thanks,

Adrian

[2016-10-13 15:22] kzu commented on #3647
Ok, I've been trying to submit a PR that would essentially honor the `ResolveNuGetPackages=false` project  "metadata" and not perform a restore but just install in that case, without much success.

There are many places where this logic could go, and I'm sure I can make an informed call as to which is the right one, so I'd better leave you to do it. I looked at the [BuildIntegratedRestoreUtility](

[2016-10-13 15:24] kzu commented on #3647
Basically the issue here is that Xamarin Studio can trivially modify the behavior of what installing a nuget package means for the packaging project, and we (obviously) don't want to rewrite the entire GUI for browsing packages for the VS experience ;). They even had `<PackageReference>` working instead of `project.json`, but we can't depend on that yet, I guess?

[2016-10-13 15:24] kzu commented on #3647
@mhutch @mrward FYI

[2016-10-13 15:52] PraveenPeri commented on #2262
@yishaigalatzer Any update on the scaffolding model work on asp net core?

[2016-10-13 15:57] yishaigalatzer commented on #2262
That work is not happening as part of nuget. I'm not sure how far it progressed so far. I'll forwarded this thread around

[2016-10-13 15:59] PraveenPeri commented on #2262
Thanks!

Just to reiterate, if we want to share some typescript code across different teams, it is not currently possible via nuget, is it?

[2016-10-13 16:28] kzu commented on #3647
For now, the following hack worked (adding `imports` to the widest possible .NET):

[code]

Ideally, we should switch to a build of NuGet that already does the PackageReference thing...

[2016-10-13 16:54] mrward commented on #3647
Some NuGet packages fail to install for me, such as NUnit and Moq, with just the netstandard1.6 import. I am assuming we would need to add imports for other frameworks.

[2016-10-13 17:10] kzu commented on #3630
cc @rrelyea @yishaigalatzer

[2016-10-13 18:10] rohit21agrawal commented on #1401
@zhili1208 did the fix for this go into 3.5?

[2016-10-13 18:30] conniey commented on #3654
I guess this will be a non-issue with the move away from project.json

[2016-10-13 18:30] #3654 closed, assigned to nobody

[2016-10-13 18:34] kzu opened #3655 "Manage NuGet Packages command requires AssemblyReferences capability"
In our custom project (NuGetizer) when we remove the AssemblyReferences capability, the command gets disabled.

This should not be the case, since nuget packages can contribute things other than assembly references, clearly ;)

[2016-10-13 18:35] kzu commented on #3655
/cc @rrelyea (should I stop cc'ing people altogether? plz do let me know :))

[2016-10-13 19:07] livarcocc commented on #3652
The packages are these. Had to change them to zip for github to let me upload them.
[dotnet-invoke-portable.1.0.0-rc-003846.zip](https://github.com/NuGet/Home/files/527918/dotnet-invoke-portable.1.0.0-rc-003846.zip)
[dotnet-portable.1.0.0.zip](https://github.com/NuGet/Home/files/527917/dotnet-portable.1.0.0.zip)

These are the tools assets.json files. Again, had to change the extension to txt for

[2016-10-13 19:32] #3532 closed, assigned to emgarten

[2016-10-13 21:55] kzu commented on #3647
Yes, I had to add many more imports afterwards

[2016-10-13 23:00] joelverhagen commented on #3629
@mishra14 and I looked at this. This is a regression caused by https://github.com/NuGet/NuGet.Client/commit/4cccb13833ad29d6a0bcff055460d964f1b49cfe. There is a faulty assumption that `install.ps1` is always directly under the `tools` directory.

[2016-10-13 23:19] mishra14 opened #3656 "NuGet docs do not specify behavior for ./tools or install.ps1 args"
Stemming from https://github.com/NuGet/Home/issues/3629

We do not have docs for what should be the format/args for install.ps1 and what is expected in the ./tools folder.

[2016-10-13 23:23] #3577 closed, assigned to emgarten

[2016-10-13 23:27] rrelyea opened #3657 "Auto Restore 2/3: background restore on nomination"

[2016-10-13 23:29] rrelyea opened #3658 "Auto Restore 3/3: non blocking UI"

[2016-10-14 00:06] emgarten commented on #3652
I've tracked this down to tool projects resolving packages to project.json projects through global.json and sibling directories.

The workaround is to remove global.json and any projects that would conflict with package names.

I'll make a fix for this on the nuget side.

Also, the sooner we can drop xproj restore the easier it will be for NuGet here.

[2016-10-14 00:17] rrelyea commented on #3652
per @yishaigalatzer's recommendation, we may want to skip a fix in nuget for this now. @livarcocc - would the workaround work for now?

[2016-10-14 00:45] emgarten commented on #3652
@rrelyea part of the problem here is that xproj resolution is happening for non-xproj projects including .NETCore csproj projects. I think it may make sense to make a small change which blocks that, and then remove all of it when xproj goes away.

[2016-10-14 01:17] #3652 closed, assigned to emgarten

[2016-10-14 03:27] gitfriend1 commented on #3656
How i do

[2016-10-14 04:58] falahati commented on #1985
This is still the case. Using following command line in a target file results in the fallowing message:

My target file is:

[code]

My build.ps is:

[code]

Works well with 2.8 version, but not 3.x; but then 2.8 support for PCL is not very good

[2016-10-14 05:05] yishaigalatzer commented on #1985
Does it work from the command line? What version are you using?

[2016-10-14 07:54] KFR42 opened #3659 "Version number not auto generated correctly on built package."
My assembly info has:

`[assembly: AssemblyInformationalVersion("1.0.*")]`

But the package is built as version 1.0.0.  If I remove that then the package builder picks up:

`[assembly: AssemblyVersion("1.0.*")]`

Which results in the package number being correctly auto generated.

This was working correctly in the last stable build.

[2016-10-14 08:13] dmitrii-lobanov-1982 commented on #1823
Having release notes back would be great. Thanks!

[2016-10-14 12:47] sandersaares commented on #3419
This started happening for me today in solutions with no relation to Xamarin (though I have Xamarin installed). Steps to reproduce:

1. Create new Console Application project.
1. Right click on project or solution node and select "NuGet Package Manager"
1. Receive error dialog.

![image](https://cloud.githubusercontent.com/assets/9914262/19387859/7f2758c0-9225-11e6-93bd-54576794b046.png)

[code]

[2016-10-14 13:48] Eric-Lizotte commented on #3419
I was experiencing this same issue with the 3.5 release, without having Xamarin installed. I'd say this is definitely a nuget issue rather than a Xamarin. I reverted to 3.4.4 where this does not happen.

[2016-10-14 16:00] joelverhagen commented on #3419
Thanks for reporting in @Eric-Lizotte, we'll take a look.

Re-opening and leaving in 3.5 RTM milestone.

[2016-10-14 16:14] joelverhagen commented on #3419
@Eric-Lizotte, could you provide some repro steps? Up until now, it seems like the reports of this error have involved Xamarin.

[2016-10-14 16:22] kzu commented on #3419
As I originally mentioned, this can happen if anyone (not just Xamarin),
consumes the NuGet interop assemblies from any extension at any point
before the package is loaded. Easily avoidable too :P

On Fri, Oct 14, 2016 at 1:15 PM Joel Verhagen notifications@github.com
wrote:

##

/kzu from mobile

[2016-10-14 16:46] Foroughi commented on #3628
hi , sorry for the delay
Yes I`ve checked 3 of them and all can be downloaded from my browser correctly

[2016-10-14 16:48] Eric-Lizotte commented on #3419
Hmm you know what? Looking at the extensions "Get Xamarin" is installed. I hadn't realized it was as I hadn't purposefully installed it myself. Uninstalling that did fix it, so sorry, it does look like a Xamarin issue. I'm not even sure what the "Get Xamarin" is, probably a teaser or some sort of prompting to get you to download the full Xamarin package? MS must be installing it by default with VS

[2016-10-14 16:55] rrelyea commented on #3579
closing then. if we end up needing something, let's reopen or open new issue.