[2018-11-19 20:03] livarcocc commented on #7524
_From @hrumhurum on November 17, 2018 10:40_

A small ready-to-use reproduction sample that shows the error with an existing authenticated MyGet feed:

[NuGetAuthRepro.zip](https://github.com/dotnet/cli/files/2591681/NuGetAuthRepro.zip)

The repro is real and self-sufficient. Just launch the `Run.bat` file.

It does not work with .NET SDK 2.1.500.
It does work with .NET SDK 2.1.400.

P.S. You may

[2018-11-19 20:05] livarcocc opened #7525 "Help needed: Using VSTS CI to build and package shared libraries that project reference themselves"
_From @lukasvosyka on November 18, 2018 17:36_

Hi,

I am wondering what the intended approach is, when I want to have multiple projects within a repository being built and packaged using nuget (or dotnet pack) that have project references, but are not built all at the same time, but on a per project base. An important side note might be that I want to have the *build number being part of the nuge

[2018-11-19 20:22] mbp commented on #7516
I was not seeing this locally with just `dotnet restore` command
However I could log into my build agent and reproduce it there on Windows Server 2016
I then took the temporary nuget.config file and copied to my machine and could also reproduce it here

By running the command:
[code]

The contents of the nuget.config looks like the following. XXX, YYY were some guids before I masked them:

[code]

[2018-11-19 20:28] nkolev92 commented on #7516
@mbp
Locally, what do you use to authenticate?
Do you use https://github.com/Microsoft/artifacts-credprovider?

[2018-11-19 20:40] mbp commented on #7516
Not sure, how can I tell?

[2018-11-19 21:19] Luiz-Franco commented on #7516
No, only at Azure DevOps. Now I'm using the NuGet task to restore and push the packages and it's working.

[2018-11-19 21:46] nkolev92 commented on #7516
@mbp You would've need to take a manual action to get the credential provider.

The best way to double check is to add /v:d and see if there's a line like the following:
Using {0} as a credential provider plugin.

[2018-11-19 21:55] mbp commented on #7516
@nkolev92 I don't see the credential provider plugin. I seem to be using `%appdata%\Roaming\NuGet\NuGet.config` file with the following contents:

[code]

[2018-11-19 22:06] #6518 closed, assigned to PatoBeltran

[2018-11-19 22:23] binki commented on #5621
Like @golayp, I triggered this error by setting an environment variable without realizing it would be consumed by MSBuild. I had set `ASSEMBLYNAME` which results in presetting the `AssemblyName` property in .net core project (which have very tiny `.csproj` files which don’t explicitly set `AssemblyName`). Since `PackageId` is derived from this, I ended up with a very confusing error until I notice

[2018-11-19 22:36] PatoBeltran commented on #7524
This seems to be the same issue from https://github.com/NuGet/Home/issues/7517. @hrumhurum can you try not using spaces in the source name and see if that fixes it? Note that the credentials element should match the source name so you might have to edit that one as well...

[2018-11-19 23:24] hrumhurum commented on #7524
@PatoBeltran Removing spaces from the source name does not affect the outcome. The issue still persists.

[2018-11-20 01:27] PatoBeltran commented on #7524
Try updating the nuget.config to something like:

[code]

[2018-11-20 01:30] shubham90 commented on #7516
@mbp can you run dotnet restore with failing nuget.config on your local machine with detailed verbosity? Please send me the logs with redacted password at shbhawsi at microsoft dot com. I tried to repro what you suggested but the restore is passing for me on 2.1.500.

[2018-11-20 03:36] softboy99 opened #7526 "Improve Edit and Continue feature for NuGet package debugging experience"
Currently, we cannot do modify any code when debugging, the ide said the module not loaded, but it really loaded with debugging symbols in fact. So, we modify one line /several lines of code and then publish the package and rerunning and modify the code and publish again and again. The Edit and Continue feature  cannot be used.

[2018-11-20 05:57] livarcocc opened #7527 ".NET SDK 2.1.500 Auth problem with NuGet Source with space in its name (401 Unauthorized during build restore step)"
_From @Allann on November 20, 2018 1:46_

I raised this issue in the community forum https://developercommunity.visualstudio.com/content/problem/386555/401-unauthorized-1.html but might have been the wrong place.  Delete this if not required.

## Steps to reproduce
Install SDK 2.1.500 on build machine (or use the .Net Core Tools Installer step)
Queue a build
Fails the restore step

## Expected  be

[2018-11-20 07:46] mbp commented on #7516
@shubham90 I have sent you the logs
I can also confirm if I put in a `global.json` specifying the old 2.1.403 SDK, dotnet restore works.

[2018-11-20 08:29] tomaz77 opened #7528 "Can't install Selenium.WebDriver"
I am trying to install Selenium.Webdriver in Visual Studio Professional 2017. I am having .NET 4.0.

The installation always fails with same reason. I have cleared local cache, but no succes. Error stays the same.

Attempting to gather dependency information for package 'Selenium.WebDriver.3.13.0' with respect to project 'Selenium', targeting '.NETFramework,Version=v4.6.1'
Gathering dependency inf

[2018-11-20 11:28] ShiloOlga commented on #7518
Issue was resolved by replacing password in custom Nuget.Config with personal access token. PAT was generated according to https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/use-personal-access-tokens-to-authenticate?view=vsts#create-personal-access-tokens-to-authenticate-access and put to "packageSourceCredentials" section as ClearTextPassword value

[2018-11-20 11:28] #7518 closed, assigned to nobody

[2018-11-20 12:53] jmeijrink commented on #7527
We have the same issue. I was running dotnet restore with version 2.1.402 and it was working fine. After installing dotnet core 2.1.500 _dotnet restore_ started giving 401 errors on our private nuget feed (JFrog Artifactory) that requires authentication.

After adding a global.json to the folder that specified the previous version, the nuget packages could be restored successfully again.

[2018-11-20 13:39] LordMike opened #7529 "When restoring with lock file, NU1603 warning shouldn't be raised."
We're trying to adopt Locked package files in SDK 2.1.500, and were trying it out which revealed an issue. When we restore using `--locked-mode` (as if by CI), a lot of packages cannot be found, shown in messages like `warning NU1603: System.Globalization 4.0.11 depends on Microsoft.NETCore.Platforms (>= 1.0.1) but Microsoft.NETCore.Platforms 1.0.1 was not found. An approximate best match of Micro

[2018-11-20 14:20] GSPP commented on #7440
I'm tracking related issues and information in a list. They are related to System.Net.Http, System.Runtime, System.IO, System.ValueTuple, System.Buffers and others.

https://github.com/dotnet/corefx/issues/32587
https://github.com/dotnet/corefx/issues/32561
https://github.com/dotnet/standard/issues/481
https://github.com/dotnet/standard/issues/567
https://github.com/dotnet/standard/issues/558
http

[2018-11-20 14:39] lbargaoanu opened #7530 "Infinite loop in ConcurrencyUtilities.ExecuteWithFileLockedAsync"
When restoring a project in a destination path longer than MAX_PATH, the lock utilities enter an infinite loop. We expect the restore to fail immediately with PathTooLongException.
NuGet.Commands 4.8.

[2018-11-20 18:05] KarinBerg commented on #7209
Short question: is that bugfix already released because I still have the problem if I try to consume a NuGet package from a private VSTS source

[2018-11-20 19:11] rrelyea commented on #7379
@PatoBeltran - did this get fixed with your metadata change in 4.9.1?  (/cc @nkolev92 )

[2018-11-20 19:12] rrelyea commented on #7350
Missed 4.9. Will consider post 4.9.

[2018-11-20 19:13] rrelyea commented on #7281
May ship in 4.9.x, but lets track this as 5.0 for now.

[2018-11-20 19:14] anangaur commented on #7350
As @jainaashish mentioned, if we implement this feature, we should measure the perf impact of restore E2E before making the feature live.

[2018-11-20 19:23] nkolev92 commented on #7379
Doesn't seem covered.

[2018-11-20 19:26] nkolev92 commented on #7379
Visual inspecting it, the following look inconsistent.
Request license acceptance is false, but should be true.
licenseUrl, projectUrl, icon Url are not set.

The tags are not set.
The copyright is wrong, say .NET Foundation, while it should be Microsoft.

[2018-11-20 20:30] karann-msft opened #7531 "nuget spec should remove licenseUrl and favor the new license property instead"
We are [deprecating licenseUrl](https://github.com/NuGet/Home/issues/4628)  and several getting started docs like [Quickstart: Create and publish a package using Visual Studio (.NET Framework, Windows)](https://docs.microsoft.com/en-us/nuget/quickstart/create-and-publish-a-package-using-visual-studio-net-framework#generate-the-initial-manifest) still have a `nuget spec` step that will lead new use

[2018-11-20 20:36] #4628 closed, assigned to anangaur, karann-msft

[2018-11-20 20:38] rrelyea commented on #4628
Shipped in NuGet release 4.9
   (which ships in VS 2017 15.9 and .NET SDK 2.1.500 and .NET SDK 2.2.100)

[2018-11-20 20:47] rrelyea commented on #5602
PackageReferences with LockFile shipped in NuGet 4.9.0
Ship Vehicles:
- NuGet.exe 4.9.x
- NuGet.*.nupkg 4.9.x
- VS 2017 15.9.x
- .NET SDK 2.1.5xx and 2.2.1xx

[2018-11-20 21:04] shubham90 commented on #7516
@mbp cool thanks! I will update the issue if I find anything.

[2018-11-20 21:06] nkolev92 commented on #7379
This is the only package that failed that validations through int.

[2018-11-20 21:44] ScottSEA opened #7532 "Nuget should not require ALL package sources be available when installing a package."
## Details about Problem

Product | Version
-------- | ------
NuGet product used | VS UI  & Package Manager Console (PMC)
NuGet version | 4.6.0
dotnet.exe --version | 2.1.403
VS version (if appropriate) | 15.8.9
OS version | Win10 v1709, OS Build  16299.726
Worked before | unknown

## Detailed repro steps so we can see the same problem

At the moment of issue, the https://api.nuget.org/v3/index.js

[2018-11-20 22:09] nkolev92 commented on #7532
Thanks for filing this @ScottSEA
This is by design and only in package reference as of now.
The PMC already displays a warning when the -source is used.

More details in the following open issue https://github.com/NuGet/Home/issues/6373.

[2018-11-20 22:09] #7532 closed, assigned to nobody

[2018-11-20 22:16] nkolev92 commented on #7531
//cc @rrelyea
This is not a bad starter work item.

This basically means removing some more of the nuget.core.v2 dependencies from our codebase.

[2018-11-20 22:24] nkolev92 commented on #7530
NuGet (and all corresponding .NET build siblings) do not work too well with long paths.
There is no special long path handling embedded in the client libraries.
See related https://github.com/NuGet/Home/issues/3324.

Currently we only utilize whatever the underlying FS allows us to do.
If possible, can you please provide a small repro for us exactly showing your scenario?

Thanks.

[2018-11-20 22:31] pombredanne commented on #4628
@ karann-msft

Good... but a reminder that deprecation is a moving target as each new version of the SPDX license list may come with new deprecations.

[2018-11-20 22:47] pombredanne commented on #4628
@karann-msft commented on Sep 7 ...

Actually if you do not include the license text of most open source license in a package you are creating a non-compliant package as most license texts should be included as a condition of the license. Using only a well known license identifier is not enough and not a substitute for the text in most cases and it certainly lack clarity always. **You need that an

[2018-11-20 23:11] ScottSEA commented on #7532
"*More details in the following open issue #7532*"... this *is* issue #7532

[2018-11-20 23:17] nkolev92 commented on #7528
@tomaz77 I was unable to repro the simple case (with nuget.org).

Can you please try the following:

Create a project file from this:

[code]

Download https://dist.nuget.org/win-x86-commandline/v4.9.0-rc1/nuget.exe and run
nuget.exe restore -verbosity detailed, and upload the logs here.

[2018-11-20 23:29] jainaashish commented on #2365
`interop` is a special type of `dependency` type packages, which is why I said there could be multiple package types for a single package as in this case it would be `dependency` and `interop` or `embed` or something. Since `dependency` is default so authors will only need to specify one. Also interop are not applicable for `tools` packages which is the other type.

Anyways, we'll discuss it more,

[2018-11-20 23:50] nkolev92 commented on #7379
Dev is fixed.
In 4.9.1 we were still using the nuspec to pack.
Pato is changing that.

[2018-11-21 00:38] jainaashish commented on #7529
This is interesting, thanks for pointing this out. Seems like first time there was one package which wanted `Microsoft.NETCore.Platforms` as `2.1.0` which is why it brought that version and didn't show any NU1603 warning. But with locked mode it just resolves to that specific version from lock file instead of doing any resolution which is why at later stage, it just raise these warnings.

We'll lo

[2018-11-21 00:40] anangaur commented on #7392
The label states `ClosedAs:Question` but the issue isn't closed. Should it be? @rrelyea @tmat ?

[2018-11-21 00:41] vsfeedback opened #7533 "Support specifying path to Nuget.Config for NuGet settings on VS"
<p>In a large, multi-solution environment, managing Nuget sources can be a problem, especially when repeated change is required in those sources.  By default, when no solution is open, you edit your machine's nuget.config and when you edit your local folder's nuget.config.  This can lead to dozens of nuget.config files existing that need to be found and updated when a change occurs. <br><br>it wou

[2018-11-21 00:41] anangaur commented on #7533
Related epic issue: https://github.com/NuGet/Home/issues/7284

[2018-11-21 00:44] vsfeedback opened #7534 "Packages in "Managed NuGet Packages..." window should have a link to the NuGet site."
<p>When selecting a package in the NuGet window, some information about the package is displayed, such as link to License, Project URL, and a link for &quot;Report Abuse&quot;.</p><p>What is missing, is a clickable link to the NuGet website for the package. <br><br>For instance, the package &quot;Microsoft.NETCore.UniversalWindowsPlatform&quot; has links to the License (github.com/dotnet/core-setu

[2018-11-21 00:47] vsfeedback opened #7535 "Display whether a nuget package is signed"
<p>In the Visual Studio 2017 NuGet Package Manager, it would be nice if it displayed whether a package is signed, possibly with a blue checkmark similar to NuGet.org.</p>

_This issue has been moved from https://developercommunity.visualstudio.com/content/idea/381773/display-whether-a-nuget-package-is-signed.html
VSTS ticketId: 728470_
_These are the original issue comments:_

Fiona Niu[MSFT] on 1

[2018-11-21 00:48] #7535 closed, assigned to anangaur

[2018-11-21 00:48] anangaur commented on #7535
Issue moved to [NuGet/NuGetGallery #6693](https://github.com/NuGet/NuGetGallery/issues/6693) via [**ZenHub**](https://www.zenhub.com/)

[2018-11-21 00:50] anangaur commented on #7535
We have had discussions before whether or not show some kind of checkmark but we decided not to create a 2-tier system for packages based on author signatures that may be trivial to get for everybody. However, since this information is an information on the package, this should be surfaced somewhere as package details IMO.

[2018-11-21 00:52] nkolev92 commented on #7527
@jmeijrink,  @Allann

Do you know if your build tasks are using configs or the credential provider?

Potentially related to https://github.com/NuGet/Home/issues/7524

[2018-11-21 01:53] Matt-J-Hosking commented on #7524
I was having this issue and removing the space from the source name did fix it. It seemed that using a clear text password kind of fixed it (still failed for custom packages output folder), but no space in the name and it works well now.

[2018-11-21 02:10] clairernovotny commented on #7523
For triage purposes, this is an unhandled exception which will crash the host process. Please fix ASAP....

[2018-11-21 02:30] hrumhurum commented on #7524
@PatoBeltran I followed with the template you have provided. In that case, it does work fine.

The pitfall is this: not only the space character causes the issue, but any other special character like '&' does.

Please find enclosed a ready to use reproduction sample that shows both ' ' and '&' characters causing the problem:
[NuGetAuthRepro2.zip](https://github.com/NuGet/Home/files/2602364/NuGetAu

[2018-11-21 02:35] Varorbc opened #7536 "Package restore version is inconsistent"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):VS UI

NuGet version (x.x.x.xxx):4.6.0

dotnet.exe --version (if appropriate):

VS version (if appropriate):15.9.2

OS version (i.e. win10 v1607 (14393.321)):win10 v1803(17134.376)

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1.The tar

[2018-11-21 05:03] #7536 closed, assigned to nobody

[2018-11-21 05:30] nkolev92 commented on #7534
Duplicate of #5299 and https://github.com/NuGet/Home/issues/7470

[2018-11-21 05:30] #7534 closed, assigned to nobody

[2018-11-21 05:53] nkolev92 commented on #7533
If a NuGet.Config is placed next to a solution file it already is treated as a solution level config.

Furthermore if you set the clear tag for all the elements you are effectively limiting the configuration to just that single file.
See https://github.com/NuGet/NuGet.Client/blob/dev/NuGet.Config for example.

Basically, you can already achieve most of this ask with the current state of the toolin

[2018-11-21 06:04] nkolev92 commented on #2365
Interops are still a compile time decision though, defining it on the package is too broad.

`dependency` is the default if nothing is specified.
With that proposal, you'd need to explicitly specify dependency and embed for it work.

Furthermore right now, the UI will "fail" when installing packages with multiple package types.
We have even had some reservation about the design of package type, se

[2018-11-21 06:13] nkolev92 commented on #7526
I'm not sure I understand your concern.
Edit and continue only works when you are in debug mode and when you own the source code directly.
Since you own the product, you can setup your experience as you please.

Furthermore it's a good practice to only pack release assemblies.

[2018-11-21 06:13] AArnott commented on #2365
I disagree. The package author knows whether they designed the assembly for linking or referencing, since linking requires very special considerations. The user should not reference an assembly that is meant to be linked. That causes problems like compiler warnings, failures at runtime when the assembly isn't even present, etc.

BTW, on that subject, nuget should *not* deploy a embed/link assembly

[2018-11-21 07:29] Allann commented on #7527
Build task points to the local package feed within Azure DevOps.
![build pipeline](https://user-images.githubusercontent.com/2005474/48825391-f11d7000-edb2-11e8-829c-1740e06aa449.PNG)
We don't use nuget.config in our solutions, instead forcing everyone to use our "Framework" feed.

[2018-11-21 08:48] ZenwalkerD opened #7537 "[Question] Nuget structuring of native library with additional files"
Dear All,

I am very new to the nuget packaging. For last 2 days i have been reading various Nuget docs and stackoverflow. Based on that, I have my project structured as below. This is the structure i get off the shelf of the build. I need to package this in Nuget. This library is mix of win32 native and managed wrapper.

Please note that i am not using CoApp, rather manually generating nuget pack

[2018-11-21 10:31] wieslawsoltes commented on #7341
Have same error in Azure DevOps, sometimes it works and sometimes the error is thrown:
[code]
[code]
[code]

[2018-11-21 11:03] jmeijrink commented on #7527
The feed credentials are stored in Nuget.config, if that is not what you mean, then please tell me what to check. Never heard of the credential provider before. I'm running dotnet restore from the command line.

[2018-11-21 12:13] lbargaoanu commented on #7530
I've attached a repro package. It fails for us with the API, but the same happens in VS. It's possible for that path to be that long by accident. It seems to me it should fail immediately, rather than enter an infinite loop.
[1LongNameProcessLongNameProcessLongNameProcessLongNameProcessLongNameProcessLongNameProcessLongNam.1.0.6897.29548.nupkg.zip](https://github.com/NuGet/Home/files/2604129/1Long

[2018-11-21 13:43] RyanMathewson commented on #1827
Same issue on VS 2017 15.9.2, specifically when pulling from packages published to our Azure Devops Nuget server.  @zorgoz 's solution worked.

[2018-11-21 14:36] tomaz77 commented on #7528
Hi,

this is my new csproj file:
[code]
And after running "nuget.exe restore -verbosity detailed" I get this:
NuGet Version: 4.8.1.5435
Restoring NuGet packages for solution D:\projekti\Razvoj\Selenium_Console\Selenium_Console.sln.
MSBuild auto-detection: using msbuild version '14.0' from 'C:\Program Files (x86)\MSBuild\14.0\bin\amd64'. Use option -MSBuildVersion to force nuget to use a specific v

[2018-11-21 16:20] markusschaber commented on #4628
As far as I can see, Debian distributes common licenses in `usr/share/common-licenses` to avoid duplications of license texts. I'm not sure how they manage to do it in detail, but Debian legal is well known for their "attention to detail"...

[2018-11-21 16:31] #7428 closed, assigned to nobody

[2018-11-21 17:11] Thealexbarney commented on #6229
Has there been any more discussion on this? It would be useful to have reproducible builds.

Current builds could workaround the zip timestamps by modifying them after running `dotnet pack`, but random GUIDs are still used in generating some files.

I've been packing reproducible zip files in some of my builds by setting the timestamps to `DateTime.UnixEpoch`.

I wouldn't be surprised if changing

[2018-11-21 17:28] Rzpeg commented on #4491
@bergmeister Thanks! We are running the following script based on the one you provided to automate the process in our CI/CD environment:

[code]

[2018-11-21 17:36] jainaashish commented on #2365
`With that proposal, you'd need to explicitly specify dependency and embed for it work.`

No you don't. With new proposal, `PackageType`:
- Default continue to be `dependency` (no change)
- `embed` which means its dependency package but interop type.
- `dotnettool` continue to be same
- `dotnetclitool` continue to be same
......................

`BTW, on that subject, nuget should not deploy a emb

[2018-11-21 17:58] #7268 closed, assigned to nobody

[2018-11-21 18:06] AArnott commented on #2365
Can you verify this as part of this feature work, please? I don't know how the lines divide nuget vs. csproj build authoring goes, but it's the responsibility of the thing that creates the Reference/ReferencePath items to set metadata on those items to prevent copying to the bin folder. I expected NuGet owned the MSBuild targets that converted `PackageReference` to `ReferencePath`, which if that's

[2018-11-21 19:26] tinaschrepfer opened #7538 "NuGet fails to install package due to wrong directory separator picked."
When attempting to install a package, I'm getting this error:

Install-Package Microsoft.VisualStudio.ImageCatalog -Version 16.0.28316-pre

Install failed. Rolling back...
Package 'Microsoft.VisualStudio.ImageCatalog.16.0.28316-pre' does not exist in project 'VSIXProject13'
Package 'Microsoft.VisualStudio.ImageCatalog.16.0.28316-pre' does not exist in folder 'C:\Users\tinali\source\repos\VSIXProje

[2018-11-21 19:31] nkolev92 commented on #2365
@AArnott
I worded that badly. I am not suggesting it's a user decision.
It's an author decision.
I meant solely as "link" vs "ref" during compilation.

Even if it's not a scenario where people have packages that don't do both, I don't see the need to change a well established pattern that doesn't have any obvious issues.

@jainaashish
If you want to do both is what I mean.

[2018-11-21 19:34] nkolev92 commented on #7528
Why do you have
[code]
? It's gonna get included through the SDK.

[2018-11-21 19:41] nkolev92 commented on #7527
@jmeijrink In 2.1.400 of the SDK, NuGet support for a cross platform credential provider.
https://github.com/Microsoft/artifacts-credprovider

Have either of you reproduced this issue locally?

Also is it consistently reproduce on your CI and on all build agents?

We have had similar reports but we haven't been able to get a consistent repro on our end.

[2018-11-21 19:45] nkolev92 commented on #7527
We think it could be related to
https://github.com/NuGet/NuGet.Client/pull/2538 and
https://github.com/NuGet/Home/issues/7517

[2018-11-21 19:48] zivkan opened #7539 "Fix FormatException in DateTime.Parse from DateTimeConverter"
From internal bug 671653.

We're seeing crashes coming from `DateTime.Parse` within `DateTimeConverter`. We know it's a `FormatException`, but don't have enough date to know exactly why it happens. Best guess is that the machine has a custom date format setting, so the `value.TroString()` is outputting a format that can't be parsed by `DateTime.Parse`.

[2018-11-21 19:51] tintoy opened #7540 "AutoCompleteResource.IdStartsWith does not return packages that only have pre-release versions"
## Details about Problem

Hi.

As far as I can tell, `AutoCompleteResource.IdStartsWith` (v3 API) incorrectly passes the query parameter `includePrerelease=true`, but it should be passing `prerelease=true` (according to the API docs [here](https://docs.microsoft.com/en-us/nuget/api/search-autocomplete-service-resource#search-for-package-ids)).

NuGet product used: NuGet client library (specificall

[2018-11-21 19:54] nkolev92 commented on #7527
@jmeijrink @Allann
Do either of you have any spaces in your source name?

[2018-11-21 19:56] tintoy commented on #7540
The code responsible seems to be here:

https://github.com/NuGet/NuGet.Client/blob/3803820961f4d61c06d07b179dab1d0439ec0d91/src/NuGet.Core/NuGet.Protocol/Resources/AutoCompleteResourceV3.cs#L45-L48

[2018-11-21 20:28] nkolev92 commented on #7516
Are either of you using source names with special characters?
Related
https://github.com/NuGet/Home/issues/7524

@mbp , @Luiz-Franco @Kvikal

[2018-11-21 20:30] jnm2 opened #7541 "Locate Windows Forms design-time assemblies in NuGet packages"
Following up from https://github.com/NuGet/Home/issues/6440#issuecomment-436240128.

I'm interested in the ability to keep [design-time assemblies](https://msdn.microsoft.com/library/a19191fh.aspx) in the nupkg, as a producer of Windows Forms libraries myself and as a customer of DevExpress who I wish would also be able to use this.

The company I work with has had issues with the design-time asse

[2018-11-21 20:39] jnm2 commented on #7541
What happens when the wrong design-time assemblies are located is that the Windows Forms designer prevents you from interacting with the controls and shows them in the component tray instead.

[2018-11-21 20:40] mbp commented on #7516
Our organisation has a dash in it (foo-bar)
The nuget.config is generated by the build, and there is no special characters. The source name is a guid. Nothing special besides that.

One thing I just noticed is that the element under packageSourceCredentials doesn't match the key in packageSources. (see from my sample above: https://github.com/NuGet/Home/issues/7516#issuecomment-440029293)

[2018-11-21 20:47] nkolev92 commented on #7516
@mbp
Sorry about that, I overlooked the full config, but it smells like the  encoding config issue.

The source name not matching the creds name is definitely what's causing the 401s.

[2018-11-21 20:54] nkolev92 commented on #7539
I don't think this meets the 4.9.x bar.
The QB suggests that in the issue.

[2018-11-21 21:41] nkolev92 commented on #5299
Let's triage this appropriately about whether we want to take it and close on Joel's PR.

There's already a discussion in the PR.

[2018-11-21 21:46] nkolev92 commented on #7540
@ryuyu
I think you might have some context about the protocol.
Has this always been the case?
Was the client implementation always wrong?

[2018-11-21 22:21] nkolev92 commented on #7525
You can consider using floating versions + the latest lock file feature.
https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution

Note that the lock file feature is available starting in 15.9

[2018-11-21 22:24] jbe2277 opened #7542 "Generate NuGet package on build does not use the correct package version"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (4.9.0):
dotnet.exe --version: 2.1.4
VS version: 2017.9.2

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem
1.  Clone: https://github.com/jbe2277/waf/tree/6a973162d5256afc908e0c36b8d24ec2ffdd7e55 (Commit: 6a973162d52

[2018-11-21 22:38] zivkan opened #7543 "latest XAML install has rendered VS 2017 Unusable"
@billwoo commented on [Wed Nov 21 2018](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1178)

I've already reported the details on the failed pm install; now I can't build a WinForm project that is not using anything but standard features. I have followed the instructions given for setting the pm options at the recommended link 322105/l no improvement.

Severity	Code	Description	Project

[2018-11-22 00:05] nkolev92 commented on #7542
The package version is not generated with the AssemblyInformationVersionAttribute property.

If you look at the targets here, there's no mention of it
https://github.com/NuGet/NuGet.Client/blob/release-4.9.1-rtm/src/NuGet.Core/NuGet.Build.Tasks.Pack/NuGet.Build.Tasks.Pack.targets

You need to use PackageVersion.

[2018-11-22 08:05] drauch commented on #6861
@PatoBeltran : We're using an in-house CA and would like to sign in-house deployment packages (which are NuGet packages, as [Octopus Deploy](https://octopus.com/) requires NuGet packages) with certificates signed by our in-house CA. We're using a 3rd-party service to sign our packages. The 3rd party service is not able to install our CA-root as a trusted root certificate. Therefore all our signing

[2018-11-22 08:06] kierenj commented on #5805
Cripplingly slow VS NuGet UI here - what details would be best to share?  .NET Core, new csproj format, ~20 projects.  Installed/Updates tab sits for minutes before refreshing..

Edit: it seems to be downloading what must be hundreds of .json files for package versions from NuGet, each ~200kb.  Been running for ages.

Edit: I opened and close a project file (no modifications) and it's re-started r

[2018-11-22 08:16] jmeijrink commented on #7527
Yes, and I can confirm that removing the space solved the issue for me.

[2018-11-22 08:43] jbe2277 commented on #7542
It is inconsistent with

1. NuGet.exe CLI supports the `AssemblyInformationVersionAttribute`.
2. The Visual Studio 2017.9 UI shows the correct version number (see image below) but it generates a .nupkg with Version 1.0.0

![nuget-pack-version-issue](https://user-images.githubusercontent.com/10452896/48891069-c24adc80-ee3a-11e8-8574-bce09b7ae4ce.png)

[2018-11-22 09:07] tintoy commented on #7540
I'm happy to submit a PR if it turns out this needs fixing, by the way :)

[2018-11-22 09:19] tomaz77 commented on #7528
I have removed this line, but the error stays the same

NuGet Version: 4.8.1.5435
Restoring NuGet packages for solution D:\projekti\Razvoj\Selenium_Console\Selenium_Console.sln.
MSBuild auto-detection: using msbuild version '14.0' from 'C:\Program Files (x86)\MSBuild\14.0\bin\amd64'. Use option -MSBuildVersion to force nuget to use a specific version of MSBuild.
MSBuild P2P timeout [ms]: 120000
C:

[2018-11-22 09:38] Allann commented on #7527
locally works fine, the build server fails constantly.  I will double check in the morning but since the step uses the feed in the combo box as shown in the image above, I don't think a space is included.  Not sure what the step does internally.

[2018-11-22 10:54] adamralph opened #7544 "There is no explanation of what PackageLicenseExpressionVersion means"
## Details about Problem

The [documentation](https://github.com/NuGet/Home/wiki/Packaging-License-within-the-nupkg-(Technical-Spec)#license-expression-pack) currently states:

But doesn't offer any explanation of what a license expression version _is_.

## Detailed repro steps so we can see the same problem

1. Read the [documentation](https://github.com/NuGet/Home/wiki/Packaging-License-within-t

[2018-11-22 12:53] stigperez commented on #6975
In retrospect I probably did not try the `dotnet restore` command - for anyone else who might encounter this issue it might be worth trying out.

[2018-11-22 14:04] MatthijsKrempel commented on #4393
try; `dotnet push **\*.nupkg`

[2018-11-22 14:55] clairernovotny opened #7545 "NRE with dotnet pack 2.1.500"
https://dev.azure.com/dotnet/Humanizer/_build/results?buildId=6966&view=logs

I'm getting null reference exceptions when calling `dotnet pack`:

[code]

No idea what the issue is yet, but I'd expect a better error message.

[2018-11-22 16:28] lbargaoanu opened #7546 "Existing destination folder casing and package files that contain ~ (tilde)"
I have this package that for some reason has files with ~ in the name. If I try to install it in an existing folder that contains letters in upper case, but specify the folder in lower case, I get an error - NU1402: The package 'Core.2.1.6899.17226' contains an entry which is unsafe for extraction. That's not accurate, but because of the casing difference, the API sees it that way. We get the same

[2018-11-22 16:35] rdeveen commented on #7527
The temporary generated NuGet.config in c:\build\Agent\_work\1\NuGet\tempNuGet_1074.config contains the packageSources and the packageSourceCredential like this:

[code]

The first character of the GUID "7" has been changed to "_x0037_" . So i think NuGet can't get the correct packageSourceCredentials and thus can not autorize to the NuGet server.

I have copied the temporary NuGet.config file to

[2018-11-22 16:38] clairernovotny opened #7547 "License URL and license causes read error with Metadata"
With the new license element, it exports both the license and licenseUrl properties (for backwards compat).

The problem is that the Manifest reader throws if both are present meaning it cannot read the metadata of those packages.

The manifest reader should not throw if both are present.

This line fails in this scenario. I should not need to munch the xml before reading it; the API should allow

[2018-11-22 17:00] gautelo commented on #4491
@Rzpeg I suppose you don't have any project-references that you include directly? I mean, if you have project references that also generate nuget packages, this should work.

In one of our solutions only one project generates a nuget package. Meaning I'd have to expand this to recursively iterate over all project dependencies and include their PackageRefereces as well.

[2018-11-22 17:12] Rzpeg commented on #4491
@gautelo You are right, it won't work in your case.
I only have project references, that are built as nuget packages as well. The packages are built with
"nuget pack -IncludeReferencedProjects", after patching nuspecs with the script above, and everything is fine.

Please share the script if you happen to expand it.

[2018-11-22 17:41] lukasvosyka commented on #7525
Ok, thank you! I will have a look into it and come back here. It looks like what I was looking for. I was wondering though if I can do the same without using PackageReference, but with ProjectReference instead within the .csproj files?

Maybe there is an answer somewhere in the posted docs..

[2018-11-22 18:46] #7392 closed, assigned to nobody

[2018-11-22 22:20] zvirja commented on #7509
For those who struggles and looking for the documentation, refer to this spec: https://github.com/NuGet/Home/wiki/Packaging-License-within-the-nupkg.

[2018-11-23 08:04] lbargaoanu commented on #7546
What happens is that Path.GetFullPath(@"C:\\tools\\~file") == @"C:\\Tools\\~file" when @"C:\Tools" exists. Maybe smth about short file names.

[2018-11-23 10:10] CasperWSchmidt commented on #7508
We also have this problem.

[2018-11-23 11:04] mbp commented on #7516
I opened an issue against the Azure Pipelines task that generates the file.

[2018-11-23 11:08] mbp commented on #7516
It's really not transparent that the .NET Core 2.1.500 SDK also comes with an upgraded NuGet version (4.9.0.6). It is not mentioned in the changelog: https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.6/2.1.6.md#notable-changes-in-216 and there is no mention of a NuGet 4.9 release anywhere (4.8 is mentioned here as latest: https://docs.microsoft.com/en-us/nuget/release-notes/nuget-4.

[2018-11-23 11:33] mpreyskurantov commented on #7437
Is there any resolution regarding this issue? Not only this behavior is inconsistent with other .NET-based class libraries, but also between different UWP targets. Let me know if you need any clarification.

[2018-11-23 12:18] nathanchere commented on #6306
Clearing out the local packages and restoring has worked around a significant number of these for me.

[2018-11-23 15:26] fhchina opened #7548 "what's the replacement of ZipPackage in NuGet.Core(V2) in NuGet.Client(V3/V4)?"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2018-11-23 15:28] fhchina commented on #2243
@ferventcoder did you find the replacement of ZipPackage in NuGet.Client?

[2018-11-23 19:04] remmus opened #7549 "NuGet.VisualStudio hangs during RestorePackages"
## Details about Problem

Package version: NuGet.VisualStudio.4.8.0
VS version (if appropriate): VS 2017 Enterprise
OS version (i.e. win10 v1607 (14393.321)): Windows 10 17134.345

I have created a VSIX plugin to create a solution template. Part of this process is to restore the Nuget package to the project using the following code:

[code]

Occasionally this works, but most of the time it hangs d

[2018-11-23 23:31] AlenToma commented on #7490
dont like the fix but i fixed the problem by unstalling visual studio

[2018-11-24 13:14] phatcher commented on #7509
The question is what property do we set in the csproj file so that it generates a license property in the nuspec?

[2018-11-24 20:38] jbe2277 commented on #7542
Same issue with Package `Description` and the `AssemblyDescriptionAttribute`.

[2018-11-25 14:23] rokups commented on #4318
With ps1 support removed and `contentFiles` being meant for read-only content is there really no way to some files to the package that user could modify?

I would like to create a package for game engine. This package should ship some resource files (shaders/materials/etc) which user will most likely modify. `init.ps1` would have been ideal to extract these files to solution folder if resources di

[2018-11-25 22:03] nkolev92 commented on #7528
It seems like NuGet.exe is discover MSBuild 14.0 which doesn't work with PackageReference.

Can you try force the msbuild version to 15.x?

You can do that by passing `-MSBuildVersion 15.x` to restore where x, is the update of Visual Studio you have.

[2018-11-25 22:31] nkolev92 commented on #7516
@mbp That's a nuget bug.
The azure tasks simply use updated nuget.exe/dotnet.exe.

https://github.com/NuGet/Home/issues/7517
https://github.com/NuGet/Home/issues/7524

The release notes are still being worked on
https://github.com/NuGet/docs.microsoft.com-nuget/pull/1177/files

Every major/minor update of dotnet.exe comes with an updated nuget version.
NuGet is a dependency in the SDK build proces

[2018-11-25 23:07] nkolev92 commented on #7509
@phatcher

Those docs are currently in PR.
https://github.com/NuGet/docs.microsoft.com-nuget/pull/1173

If you want to use an expression, please use `PackageLicenseExpression`.

If you want to use a license file, please look at
https://github.com/nkolev92/docs.microsoft.com-nuget/blob/nkolev92-licenseDocs/docs/reference/msbuild-targets.md#packing-a-license-file

Some similar related docs are alrea

[2018-11-25 23:37] nkolev92 commented on #7538
@tinaschrepfer

Can you please provide a feed that either contains the package or that package itself so we can repro it better?

As I assume you don't want this publicly providing this on an internal share or sending it to nuget-client[at] should work.

[2018-11-25 23:40] nkolev92 commented on #7544
@adamralph

Is the following sufficient?

https://github.com/NuGet/Home/wiki/Packaging-License-within-the-nupkg-(Technical-Spec)#nuspec-schema-changes

From the spec:

[2018-11-26 00:33] nkolev92 commented on #7542
@jbe2277
That looks like an issue in the UI, which is not handled directly by NuGet.
The expectation by pack is that the PackageVersion/Version are used.

Please refer to https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets for more details.

In the meantime, consider using PackageVersion and Description in some of the directory.build.props through your project.
//cc @NuGet/nuget-clien

[2018-11-26 04:03] netcore-jroger commented on #7514
how to resolve this problem ? @forki

[2018-11-26 05:33] forki commented on #7514
We applied an ugly workaround in paket.

[2018-11-26 07:55] aj2r commented on #6220
+1

[2018-11-26 08:46] adamralph commented on #7544
@nkolev92 the relationship between that section and the .NET SDK properties is a little obfuscated (and that's why I missed it).

[2018-11-26 10:21] zvirja commented on #7509
Hi guys,

I've found that if you follow the described steps, the corrupted package is generated.

Project file:

[code]

When I'm trying to open the package in the latest version of NuGet Package Explorer, I'm getting the following error:
![image](https://user-images.githubusercontent.com/1074182/49007990-77500280-f175-11e8-8c12-5220b6ac9aa8.png)

The NuSpec file (`obj\Debug\PackTest.1.0.0.nuspec`

[2018-11-26 12:52] adamrodger commented on #5138
This doesn't work without additional parsing of the version number client side. For example if you have versions `1.9.9`, `1.9.10` and `1.10.0` then you can't just sort them and pick the last one to get the latest for a particular version (e.g. `1.9.x` or `1.x`). You need to parse the individual segments and sort them to create the correct semantic ordering and then pick the latest.

Edit: I do it

[2018-11-26 12:55] tomaz77 commented on #7528
Doesn't work either, Nugget is not able find the proper MSBuild version. I'm using VS 2017, which has MSBuild in a different folder. I have tryed also with -MSBuildPath but nothing seems to happen.

_D:\Selenium_Console>nuget restore selenium_console.sln -verbosity detailed -MSBuildPath C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\15.0\Bin
restore: invalid arguments.
us

[2018-11-26 15:22] jainaashish commented on #7538
A little more investigation into this, showed that this was related to manual modification of nupkg which resulted into invalid entries format in nupkg so when we read through ZipArchieve, it failed. So this isn't related to NuGet.

Bottom of the issue is CloudBuild is not able to sign the package which resulted into Xaml team to modify the nupkg after it was build. There is already a email thread

[2018-11-26 15:22] #7538 closed, assigned to nobody

[2018-11-26 15:55] jainaashish commented on #2365
`Even if it's not a scenario where people have packages that don't do both, I don't see the need to change a well established pattern that doesn't have any obvious issues.`

I'm sorry but loosing the point here, when did it become a well established pattern? which nobody uses...? interop types are already a advance concept which only handful of people use so they know what they are doing.

[2018-11-26 17:17] pombredanne commented on #4628
@markusschaber  indeed. And Debian does this only for a very few licenses that allow such practice... not for MIT licenses for instance. Furthermore, Nuget is not a distro, so you cannot assume that there is some base present

[2018-11-26 17:29] nkolev92 commented on #7524
@hrumhurum Your repro solution confirms that the issue is duplicate of https://github.com/NuGet/Home/issues/7517.

With that I mean, the fix for #7517 will cover all special characters.

Please follow that one for updates.

[2018-11-26 17:29] #7524 closed, assigned to nobody

[2018-11-26 17:33] nkolev92 commented on #7527
Thanks all for you help in diagnosing this.
We will be fixing it in a patch release.

Please track https://github.com/NuGet/Home/issues/7517 for when that happens.

[2018-11-26 17:33] #7527 closed, assigned to nobody

[2018-11-26 18:03] nkolev92 commented on #7528
Can you try running it from a 2017 developer command prompt?

What I am trying to do here is where the faulty package is coming from.

In one of your restores you obviously have a package from a source that's invalid.
If we can figure out the source we can continue with the investigation into how/why that package is tampered.

If you are struggling with the SDK based project try installing into a

[2018-11-26 18:03] skofman1 opened #7550 "Nuget.exe 4.8.1 reads path incorrectly with space (generates "Could not find part of the path c:\path\ \packages\AngeSharp.0.9.9.2" etc.)"
@jeanluc33 commented on [Mon Nov 26 2018](https://github.com/NuGet/NuGetGallery/issues/6696)

I experienced this issue when MSBuild, using the Nuget.targets, downloaded Nuget 4.8.1 as specified int he Nuget.targets file (url: https://dist.nuget.org/win-x86-commandline/latest/nuget.exe ).  When I deleted the 4.8.1 executable and hard coded https://dist.nuget.org/win-x86-commandline/v4.7.1/nuget.exe

[2018-11-26 18:05] nkolev92 commented on #4851
Feedback related to this from a side thread.
https://github.com/NuGet/Home/issues/7516#issuecomment-441213622

Basically, make the mapping of versions between VS/dotnet SDK/nuget.exe readily available.

[2018-11-26 18:56] #7517 closed, assigned to PatoBeltran

[2018-11-26 18:56] PatoBeltran commented on #7516
Closing as the PR has been merged

[2018-11-26 18:56] #7516 closed, assigned to PatoBeltran

[2018-11-26 20:04] #7452 closed, assigned to nkolev92

[2018-11-26 20:07] nkolev92 commented on #2365
The well established pattern is the folders for different asset groups.
ContentFiles has a similar approach to this where the build action is specified by the nuspec, but even that's for a specific asset group rather than on a whole package.

[2018-11-26 20:14] jainaashish commented on #2365
in that sense, these are still compile assets which are being linked instead of reference which is a implementation details. So essentially these are still not entirely a different asset group rather a different package type, IMO.

[2018-11-26 21:48] noahmarcus opened #7551 "Dll's packed as contentFiles can be referenced in a consumer project"
## Details about Problem

NuGet product used: dotnet.exe
NuGet version: 4.5.1.4879
dotnet.exe --version: 2.1.402
OS version: win10 v1809 (17763.134)

Dll's packed as content with build action content or none can be referenced by consumer projects.
My use case is packing a self-contained health checking application for a process which runs on Docker.
I can't deliver the application as a NuGet packa

[2018-11-26 22:44] waterfoul commented on #7489
I should have a chance to get more information this week

[2018-11-26 23:05] PatoBeltran commented on #7548
Hey @fhchina, there's no direct replacement for that type in the new APIs, nevertheless much of the same concept is covered by `PackageReaderBase` children, the most common one would be `PackageArchiveReader`. Does this help?

[2018-11-27 00:14] jasonracey commented on #1827
Expanding on the workaround provided by @bvirkler here's more detail:
1. `Tools > NuGet Package Manager > Package Manager Settings`
2. Select `NuGet Package Manager` option
3. Click `Clear All NuGet Caches(s)` button

[2018-11-27 00:31] dsplaisted commented on #7213
`*` already means something, so the syntax could be something like the following:

[code]

In this case we would be using `_` as a placeholder for the actual version of the referenced project.

[2018-11-27 07:08] lbargaoanu opened #7552 "Embed the pdbs in the release packages"
As far as I can tell SourceLink doesn't work because the pdb-s are not in the package. That just makes debugging NuGet itself difficult.

[2018-11-27 08:01] nkolev92 commented on #7379
This was fixed.

[2018-11-27 08:01] #7379 closed, assigned to nobody

[2018-11-27 10:09] karann-msft commented on #7498
@rrelyea the error experience is pretty poor for snupkgs and the user has no clue what to do or where to look to fix the issue or what the issue is. Can we prioritize this in the upcoming sprint?
cc: @anangaur

[2018-11-27 10:19] #7509 closed, assigned to nkolev92

[2018-11-27 12:40] dracan commented on #6677
@m-j Did you ever get to the bottom of this? I have the same issue :(

[2018-11-27 13:13] MichaelSteinecke commented on #6426
Hello,

in our environment another mode would be helpful: DoNotValidateSignatures or Offline

We're developing in a LAN network, completely disconnected from internet, with a TFS Package Server as source. We're downloading new packages from nuget.org manually and install them on our TFS with push. When installing packages a signature validation is performed, but it will timeout with several retrie

[2018-11-27 13:40] m-j commented on #6677
I couldn't solve that. In the end I've written this: https://github.com/m-j/nuget-downloader

But it covers rather unusual scenario: we've used nuget as BRM to store build artifacts not .NET libraries.

[2018-11-27 15:02] jainaashish commented on #1827
Reopening to run with an investigation

[2018-11-27 16:02] ruijarimba commented on #7524
I was having this issue as well when trying to use the `dotnet restore` task on Azure DevOps, using a private build agent. My `%appdata%\NuGet\nuget.config` looks like this:

    <?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="MyFeed" value="https://xxxxxxxxxx.pkgs.visual

[2018-11-27 16:27] rido-min commented on #6426
@Torgrimm you can configure how NuGet verifies the certificate revocation status , see [this doc](https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu3028#revocation-check-mode) for more information.

If you want a complete disconnected environment (probably because security requirements) you can also overwrite the package signature with another one that is fully trusted in your

[2018-11-27 16:33] rido-min commented on #6426
The feature is complete and available in 4.9+, docs available in [here](https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#trustedsigners-section).

[2018-11-27 16:33] #6426 closed, assigned to rido-min

[2018-11-27 19:33] vsfeedback opened #7553 "Allow project/solution setting to preference Nuget framework versions"
<p>Nuget allows packaging of multiple frameworks in a single Nuget, which is great.  However, getting projects to start referencing something like Standard over Framework is a pain because the consuming Framework project will automatically pick up the Framework DLLs, even if you want it to start referencing the newer Standard DLLs.  It would be great if you could set at a project or solution or nu

[2018-11-27 19:39] dracan commented on #6677
@m-j Thanks for getting back so quickly. I ended up creating a LetsEncrypt certificate instead.

[2018-11-27 21:55] natemcmaster opened #7554 "Intermittent PackagingException errors on Ubuntu 18 - "file not found" even though it exists"
We're intermittently seeing issues with NuGet throwing "File not found" errors, even though the file exists on disk. This appears to be unique to Ubuntu 18, and is intermittent.

## Details about Problem

NuGet product used: dotnet.exe
dotnet.exe --version: 3.0.100-preview-009750
OS version: Ubuntu 18.04

## Detailed repro steps so we can see the same problem

1. Create an Ubuntu 18.04 machine
1.

[2018-11-27 22:01] m-j commented on #6677
@dracan It's good to know that proper certificate works correctly. In my case it wasn't an option as I didn't want to have domain address attached to this IP.

[2018-11-27 23:15] agr opened #7555 "Invalid constructor of FileNotFoundException is used in ZipArchiveExtensions"
The following line throws `FileNotFoundException` and sets its `Message` to the file name:

https://github.com/NuGet/NuGet.Client/blob/70589cd27e3e2c6d38a017d61d9950506fd89df7/src/NuGet.Core/NuGet.Packaging/PackageExtraction/ZipArchiveExtensions.cs#L25

`FileName` property of the exception object ends up with `null`. It would be nice if well-formed exceptions were thrown.

[2018-11-28 04:01] DHowett commented on #5929
_jeopardy music plays_

And now I'm still running into problems like this with 15.8 and 15.9. It looks like `vcxproj` is the unloved step-child in the MSBuild project system.

[2018-11-28 06:12] philippdolder commented on #7427
I get the same, or similar behavior with different packages. But I believe it has nothing to do with the packages being PR packages as the title suggests. I get the same behavior with stable packages.
In my case, I can clear all the caches using `dotnet nuget locals all --clear` and run `dotnet restore` again. This will fix it for a while, but will get back eventually. It's difficult to track down

[2018-11-28 06:43] dracan commented on #6677
@m-j This was internal too, but I got around it by having a public domain resolving to an internal IP address. With LetsEncrypt, you can use a DNS TXT record for verfication, so LetsEncrypt doesn't need access to the IP address - just the DNS. Worked perfectly :)

[2018-11-28 08:34] bdominguez commented on #7412
Any news @anangaur ??

[2018-11-28 09:35] v-longmin opened #7556 "[Test Failure][Signing] Error “Bad gateway (502)” occur after signing a package when timestamp signing certificate does not satisfy certificate requirements"
## Details about Problem
VS Version: D15.9 28307.145
OS Version: 17763.RS5_Release.180914-1434.
NuGet Version: Release-4.9.2-RTM\4.9.2.5701
## Detailed repro steps
1. Create a new test certificate:  .\CreateTestCertificate.ps1 –AddAsTrustedRootAuthority.
2. sign a package:  NuGet.exe sign <PackageFilePath> -CertificatePath <PfxFilePath> -Timestamper http://freetsa.org/tsr
3. Verify the previous st

[2018-11-28 13:54] tomaz77 commented on #7528
Have done it and bellow is the result. This is done through Developer Command Prompt for VS 2017. My packages.config looks like:
`<Project Sdk="Microsoft.NET.Sdk" ToolsVersion="15.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <TargetFramework>netstandard2.0</TargetFramework>
  </PropertyGroup>
  <ItemGroup>
    <PackageReference Include="Selenium.WebDriver"

[2018-11-28 14:04] mbirnios commented on #3891
This is very dissapointing. Decisions like this are obviously made by people who are only focused on their work, but can't understand the real world out there.

We need to expose a few Nuget packages within our organization. We DONT want to expose and manage hundreds of them, just because we decided to split them in different internal projects. Period.

[2018-11-28 15:45] FranklinYu commented on #2391
It has been more than two years. Is there any update?

[2018-11-28 16:29] ajwaka commented on #329
We too need this feature.

We develop modules/plugins/etc for other software.  We must reference a core version of the framework - but may be using a newer version of the site.  Upon build - we push our dll to the local website and work.  If I'm running version 8.0.4 of a site - but I can support back to a 7.0.2 -- then I reference the 7.0.2 version.  But upon adding the reference - the 7.0.2 get'

[2018-11-28 16:41] jainaashish opened #7557 "[PerfWatson] UIDelay: nuget.packagemanagement.visualstudio.dll!NuGet.PackageManagement.VisualStudio.VsManagedLanguagesProjectSystemServices+<AddOrUpdatePackageReferenceAsync>d__.MoveNext"
Tracking issue for Classic csproj - https://devdiv.visualstudio.com/DevDiv/_workitems/edit/633668

[2018-11-28 17:42] nkolev92 commented on #7528
Did you mean your csproj?

The sentence "All packages listed in packages.config are already installed." is weird.
Is the project part of the solution?
All projects should be restore individually.

[2018-11-28 18:33] divinebovine commented on #6060
@rrelyea any chance that this will get looked at in next quarter or so? Adding this capability would help with some of our automation pipelines.

[2018-11-28 18:38] rrelyea commented on #7539
Merged to 4.9.2 yesterday.

[2018-11-28 18:38] #7539 closed, assigned to nobody

[2018-11-28 18:50] anangaur commented on #7412
@bdominguez about this issue or about **Deprecate** packages? Deprecate package spec is in progress and we plan to publish the spec for review in a week or two.

[2018-11-28 20:05] nkolev92 commented on #7540
I synced up with @joelverhagen
The v2 protocol used includePrerelease https://github.com/NuGet/NuGetGallery/blob/7bcc3973abd94302c3f61df992113dd3d31693e9/src/NuGetGallery/Controllers/ApiController.cs#L890, but the v3 uses only prerelease.

So only that needs changing.

[2018-11-28 21:02] nkolev92 commented on #6930
New report https://devdiv.visualstudio.com/DevDiv/_workitems/edit/567750.

[2018-11-28 21:17] nkolev92 commented on #7512
@JeffRausch

Are you still able to reproduce this issue?

Which versions of NuGet did you try?
Have you tried dotnet.exe?
Would you be able to provide a test solution for us? We can always do that privately.

//cc @dtivel

[2018-11-28 22:47] tb-mtg opened #7558 "Improve package search by sorting search results"
After performing a search is it possible to sort packages by not just relevance, but by any of the details provided (date last updated, total downloads, developer, version, etc...)?

[2018-11-28 22:56] PatoBeltran commented on #2572
Closing this in favor of https://github.com/NuGet/Home/issues/6764

[2018-11-28 22:56] #2572 closed, assigned to anangaur

[2018-11-28 23:20] paulomorgado opened #7559 "Reference from SDK project (A) to non-SDK project (B) will result in (A)’s project.assets.json not having (B)’s PackageVersion"
VS 15.9

See the repro here: https://github.com/paulomorgado/PackRepro

[2018-11-28 23:22] bdominguez commented on #7412
Sorry, I meant about this issue.

[2018-11-28 23:30] nkolev92 commented on #7412
@bdominguez

The few core NuGet libraries are the following:

NuGet.Commands,
NuGet.Packaging,
NuGet.Protocol,
NuGet.PackageManagement

These have multiple other dependencies but those are lower on the dependency graph, so they'd be pulled in by the above.

Other than that, it's helpful to look at https://www.nuget.org/profiles/nuget, and just use the ones that are updated regularly.

[2018-11-28 23:38] bdominguez commented on #7412
https://www.nuget.org/packages/NuGet.PackageManagement/

Doesn't target .net standard I suppose because of:

https://www.nuget.org/packages/Microsoft.Web.Xdt/

Is there any solution?

[2018-11-28 23:45] joelverhagen commented on #7540
For reference, the v3 implementation is here:
https://github.com/NuGet/NuGet.Services.Metadata/blob/37b26ada86a09ce26f02c218bf4322ac1f9e6482/src/NuGet.Services.BasicSearch/ServiceEndpoints.cs#L96

[2018-11-29 00:09] nkolev92 commented on #7559
The reason for this is a mixture of PackageReference and “unrecognized” projects.
From a NuGet perspective Project C is not PackageReference so MSBuild /t:pack will have issues.

There are 2 ways you can approach this.

The shorter fix is to add “<RestoreProjectStyle>PackageReference</RestoreProjectStyle>” to project C.

The other fix, is to add NuGet.Build.Tasks.Pack as a dependency (PrivateAsset

[2018-11-29 00:33] nkolev92 commented on #7412
No, PackageManagement is primarily packages.config, it's not used in the cross platform tools, so it was never made cross platform.

[2018-11-29 00:42] PatoBeltran commented on #7503
hey @cclauson thanks for the issue. The trk file is just a blank file used to track if we have created an user-wide nuget.config so we don't create again if the user explicitly erased it. I'm curious about how you got this issue since we don't hold any locks for that file apart from the code you provided (where we just create it), if you could find a way to reproduce this more consistently I would

[2018-11-29 00:44] PatoBeltran commented on #7505
@quasarea you can fork our repo and create the branch there, then just send a PR from your fork to this repo. Let me know if you have any question!

[2018-11-29 00:56] PatoBeltran commented on #7507
Hey @ctaggart and @devlead, thanks for opening the issue.

We are aware that nuget.exe has some features that dotnet cli doesn't, however we keep striving to have dotnet cli cover all of our xplat scenarios.

We are continuously working in improving our xplat experience. If you have specific pain points or feature requests for our current xplat toolset I would appreciate if you comment and upvote

[2018-11-29 01:19] PatoBeltran commented on #7546
Hey @lbargaoanu this looks really similar to https://github.com/NuGet/Home/issues/7505, I will close this issue in favor of that one. There might be a bug here, but the fix should be a bit more complicated since for windows paths are not case sensitive, but in unix systems they are. We would need to use an utility that takes this into account and performs the comparison correctly. Please feel free

[2018-11-29 01:19] #7546 closed, assigned to nobody

[2018-11-29 07:05] bdominguez commented on #7412
@nkolev92 but as I understand the only blocking issue that it's preventing from being cross platform it's that dependency I mentioned.

[2018-11-29 07:22] davidfowl commented on #2391
Nope

[2018-11-29 07:43] paulomorgado commented on #7559
I don't think the issue is with `msbuild /t:pack`. The issue seems to be with the `project.assets.json` generated by `msbuild /restore`.

The problem with `PackageReference` is that it doesn't support the execution of the PowerShell scripts on install and uninstall and I have some of those. If `PackageReference` was an immediate solution, I'd just convert the project to an SDK project.

The versio

[2018-11-29 10:42] karann-msft opened #7560 "VS NuGet PMUI - Machine-wide package sources area should be vertically resize-able as well"
@dstrube1 commented on [Tue Oct 23 2018](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1109)

When resizing the Options window, the Available package sources area resizes with it, but the Machine-wide package sources area only resizes horizontally. It'd be great if the Machine-wide package sources area could be resized vertically as well, like the Available package sources area.

---
##

[2018-11-29 10:50] karann-msft opened #7561 "Sign multiple packages"
@jozefizso commented on [Tue Nov 13 2018](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1159)

How can we sign multiple nuget packages with single call to `nuget.exe sign`? We had a lot of packages to sign with each release (18 with symbol packages) and our certificate is on a smart card which requires entering PIN each time we call the `sign` command.

PS: The `signtool.exe` allows sig

[2018-11-29 10:50] karann-msft opened #7562 "Sign multiple packages"
@jozefizso commented on [Tue Nov 13 2018](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1159)

How can we sign multiple nuget packages with single call to `nuget.exe sign`? We had a lot of packages to sign with each release (18 with symbol packages) and our certificate is on a smart card which requires entering PIN each time we call the `sign` command.

PS: The `signtool.exe` allows sig

[2018-11-29 10:52] karann-msft commented on #7558
https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools-how-to-create#remove-the-tool

[2018-11-29 14:15] JeffRausch commented on #7512
It looks like this is a NuGet issue because I was able to reproduce it by making the same NuGet call from the command line.  I was able to get it to work using dotnet.exe but the issue is that I have one Task Group that's used by all of my repositories (around 130) for building the solutions, which is a mix of .Net Framework and .Net Core/Standard.  To get around that I'm normally using the Nuget

[2018-11-29 14:15] #7512 closed, assigned to nobody

[2018-11-29 14:44] fmerkel commented on #7550
Same symptom here with NuGet restore. My RestoreCommand in NuGet.targets looked like this:

`<RestoreCommand>$(NuGetCommand) install "$(PackagesConfig)" -source "$(PackageSources)" $(NonInteractiveSwitch) $(RequireConsentSwitch) -solutionDir "$(SolutionDir) " </RestoreCommand>`

A workaround is to replace the space after $(SolutionDir) with a slash. Simply removing the space produces an "illegal c

[2018-11-29 15:01] tonyhallett opened #7563 "Nuget.VisualStudio API clarity"
Nuget.VisualStudio for nuget API in visual studio extension

Is it possible to determine, with the events of IVsPackageInstallerProjectEvents and IVsPackageInstallerEvents, when a package has been installed for a particular project ?

Is there a guarantee that there is only a single batch operation being processed at a time - there is a guarantee that BatchStart is always followed by BatchEnd befo

[2018-11-29 15:06] FranklinYu commented on #2391
Then is this feature ever considered? Would at least Pull Request be reviewed and merged? (Only after that we can discuss about possible implementation details.)

[2018-11-29 15:38] DanJ210 commented on #7310
Ok I have more info @jainaashish

So both projects were created using the Visual Studio 2017 template for Asp.Net Core Web API. Both are the same target framework of 2.1. One project I can update the Microsoft.AspNetCore.App via the NuGet package manager which is how I'm used to doing it. The other one says blocked by project because it's implicitly referenced.

Below is the code from the project.

[2018-11-29 15:46] DanJ210 commented on #7310
And it looks like remove the `autoReferenced` from the blocked project doesn't lift the block either.

[2018-11-29 16:22] DanJ210 commented on #7310
Also, I don't even know how to update the one that's implicitly referenced. I've deleted all .Net Core 2.1.1* installations from control panel. I only have 2.1.5 and 2.2 preview 3 but the project still says that it's on 2.1.1 and I can't update it like all the other projects that I have. So how does one update a project that's implicitly referenced?

[2018-11-29 17:54] jainaashish opened #7564 "Cancellation token is not passed through all the restore code paths"
Closing a solution or exiting VS will trigger a cancellation of restore task if there was one in progress, but this cancellation doesn't pass through all the restore code path which doesn't allow us to cancel the task immediately hence delay the VS shut down or closing of solution which sometimes results into VS hangs/crash.

So we should go through all the restore code paths and respect cancellat

[2018-11-29 18:37] tillig commented on #7414
Just updated VS to 15.9.3 which came with .NET SDK 2.1.500 and started getting this error. Even clearing `%userprofile%\.nuget\packages` didn't solve it for me; I had to rename the `C:\Program Files\dotnet\sdk\NuGetFallbackFolder` to something else and create a new, empty `C:\Program Files\dotnet\sdk\NuGetFallbackFolder`. After that and running restore... finally I could build again.

[2018-11-29 19:11] nkolev92 commented on #7414
@tillig
You would need to somehow get a valid version of the faulty package into the global packages folder before trying to restore again.

Simply deleting the global packages folder, and restoring the same project again would get you in the same situation.

[2018-11-29 19:18] tillig commented on #7414
It could be that I'm just not following the workaround then.

Simply cleaning the global packages folder as noted - literally deleting everything out of it - doesn't fix anything for me. I had to both clean that _and_ nuke everything from `NuGetFallbackFolder`. Did I miss that step? Is there something else I should be looking at?

[2018-11-29 19:27] nkolev92 commented on #7414
There are 2 different issues here.

One is getting bad packages in the global packages folder. That's the whole multi targeting scenario.
That was a problem in 15.8 and it's equivalent SDK release already.

To workaround that, you'd need to clean the global packages folder and have the packages that would be used from the fallback downloaded from nuget.org. You achieved that by creating an empty f

[2018-11-29 19:39] tillig commented on #7414
I think it was this bit that I missed (emphasis mine):

Of course, I didn't actually put anything back into the fallback folder, so I'm not sure if anything else will be broken or if that just means it'll force everything to be downloaded and put into the global packages folder. If it means everything will just be re-downloaded... why is the NuGetFallbackFolder even there? Wouldn't it be better to

[2018-11-29 20:15] erickephart commented on #7528
I am having a similar issue, also specifically with WebDriver.  I can install non-Selenium packages fine.

It has to be something local, as everything works as expected from another laptop.  Any ideas?

Also ran this and still no luck:

PS > .\nuget locals all -clear
Clearing NuGet HTTP cache: C:\Users\Ekephart\AppData\Local\NuGet\v3-cache
Clearing NuGet global packages folder: C:\Users\Ekephart\.

[2018-11-29 20:19] jainaashish commented on #7414
@tillig by your description so far, it seems you're experiencing first part of this issue, which was:

And this part only happens when you're multi targetting where one target being netcoreapp 1.0 or 1.1. Please confirm your scenario matches this otherwise you shouldn't see this issue altogether.

Now, if this is indeed your case, then only way to fix it to remove all these packages (which threw s

[2018-11-29 20:27] tillig commented on #7414
Yes, I am building something targeting `netcoreapp1.0`. I will have to get more surgical about which things I remove from the fallback folder; there were something like 184 errors across all the projects, some of which were duplicate, but in just trying to unblock myself I cleared the whole thing. I copied the original content off to another location so I can be more precise later.

What is the pr

[2018-11-29 20:31] dotMorten commented on #7531
I have some issues with the current approach. Try this:

1. Create a nuspec with a `<license type="file">` tag pointing to an embedded license file.
2. Pack the nuget
3. Note that a `<licenseUrl>` is generated in the nuspec file inside the nuget, that points to a non-existing page:
[code]
That page just takes you to some generic nuget doc landing page.

I assume it's done for some backwards compat

[2018-11-29 20:39] jainaashish commented on #7414
there is no process to update the content of fallback folders, its suppose to be meant static and just for consumption purpose. Only dotnet team (who owns it) could update it with any new dotnet release but since there wont be any support for netcoreapp1.0 going forward so they aren't planning to update their lzma tool to fix this fallback folder issue. So I'd recommend if you can move to nercorea

[2018-11-29 20:57] tillig commented on #7414
Well, I'm working on a PR for code I don't own, so moving isn't an option. I'll muddle through.

[2018-11-29 21:59] clairernovotny commented on #7531
There are many issues, see this entire thread:

https://twitter.com/dotMorten/status/1068232919334801408

[2018-11-29 22:00] clairernovotny commented on #7531
For example, you cannot have the client generate licenses to nuget.org, since that would be an information disclosure for private packages. Not all packages go to nuget.org.

How would the client even know at pack time what the destination is?

[2018-11-29 22:20] adam-c-anderson commented on #4360
FWIW the way I solved this problem prior to finding this issue was to do a `dotnet publish` and then `nuget pack` with a custom .nuspec file that takes the contents of the `publish` output and puts it in the `tools` folder. Less hardcoding of versions in paths that way.

e.g.

**foo.nuspec**
[code]

Then run `nuget pack foo.nuspec -BasePath path/to/publish/folder`

[2018-11-29 22:21] cristinamanum opened #7565 "NuGet packages payload should contain only release built assemblies"
Currently the packages can contain payload from debug as well as release builds.
There are different levels of verification/enforcement that could be done. Below a few

- Add as part of nuget verify
- Fail ingestion
- Add a configuration flag in the package

[2018-11-29 22:27] rrelyea commented on #7523
@onovotny  - can you help with more data to help us triage. Is this a regression? what version did you hit this on? possible workarounds? impact?

[2018-11-29 22:31] clairernovotny commented on #7523
I don't have VS crash data, but I see many crashes due to it in my telemetry for NuGet Package Explorer. It's in at least 4.8+, I don't know how long its been there. I only started collecting telemetry data earlier this month.

There are no possible workarounds because it's unhandled.

[code]

[2018-11-29 22:53] PatoBeltran commented on #7545
Hey @onovotny, I tried downloading the Humanizer project, building and then doing `dotnet pack Humanizer.csproj` and couldn't repro it. I'm also using dotnet 2.1.500 … Is this something you could repro locally consistently?

[2018-11-29 22:56] clairernovotny commented on #7545
I fixed it in the script, I think one of the parameters was blank. will try to repro again. It was consistent with the "wrong" parameters.

[2018-11-29 23:11] PatoBeltran commented on #7558
Hey @tb-mtg thanks for opening this issue. WE currently don't have any way to filtering our search results. Nevertheless there is some work going on around improving the search experience, for example https://github.com/NuGet/Home/issues/5725, if this sounds like something that would solve your issues I encourage you to jump in that thread and upvote so we can understand how many customers are aff

[2018-11-29 23:17] PatoBeltran commented on #7562
Closing this as a dupe of https://github.com/NuGet/Home/issues/7561

[2018-11-29 23:17] #7562 closed, assigned to nobody

[2018-11-29 23:53] jainaashish commented on #7435
Fixed with https://github.com/NuGet/NuGet.Client/pull/2546

[2018-11-29 23:53] #7435 closed, assigned to nobody

[2018-11-30 00:43] anchal288 commented on #6674
any fix for this issue? i need nuget on 2015 shell to code the integration with powerBI. appreciate any help with the solution/workaround.

[2018-11-30 01:19] PatoBeltran commented on #7556
I think this is not a bug, but freetsa.org is not available anymore...

@dtivel how should we proceed?

[2018-11-30 02:45] fhchina commented on #7548
Yes! Thanks for your answer. I just have a try for PackageArchiveReader. And try to implement an Adapter on top of PackageArchiveReader, to fit the interface of old ZipPackage.  In this process I find the design of LocalPackage/ZipPackage is problematic, especially for the resource leaking problem. So throw away these old API is correct refactory decision, but lack of documentation and migration g

[2018-11-30 03:01] fhchina commented on #7548
PackageArchiveReader.GetFiles() will return all files in zip package, including usually hidden stuff. Which method will return the real "content" files in zip, i.e. compatible for the NuGet.Core V2 behavior?

[2018-11-30 03:17] fhchina commented on #7548
I didn't find any method just like GetContentFiles(), This is what I need. In fact, I use nupkg as a generel packaging mechanism, not for .NET development. So it's content can be any file, and not follow the .NET packaging layout.

[2018-11-30 03:25] gallivantor commented on #5445
This issue causes some real workflow problems when iterating rapidly over a prerelease package.

Would it not be reasonable for the no-op scenario to always check the feed for a newer version for any floating version references? While this would take a bit longer, it would at least produce the correct result, which is better than a fast process that produces the wrong result regularly

[2018-11-30 06:30] tintoy commented on #7540
Should I open a PR for this, then? Happy to have a go.

[2018-11-30 06:34] nkolev92 commented on #7540
@tintoy
Thanks, I have assigned it to @heng-liu as she is familiarizing herself with the codebase.
I imagine she'll have a PR soon :)

[2018-11-30 07:56] LightVolk opened #7566 "Nuget 4.6 can not find beta package"
Nuget 4.6 can not find beta package.

Version 4.6. Works on:

Task         : MSBuild
Description  : Build with MSBuild
Version      : 1.120.0

 NuGet Version: 4.6.2.5055

So, i add nuget package to feed, but build can not find it when nuget restore:

NU1101: Unable to find package StyleCop.Analyzers. No packages exist with this id in source(s): MySource

I add 1.1.1-beta.61 version of this package

[2018-11-30 07:57] LightVolk commented on #7566
Error message:  ""c:\Build1\externals\nuget\nuget.exe" restore "c:\Build1\.......\Project.csproj" -recursive" exited with code 1.

[2018-11-30 12:54] gautelo commented on #3891
Honestly, the tooling isn't even consistent.

How can it try to include a project dependency as a package dependency when it's marked as IsPackable=false? Doesn't make any sense. Obviously it should then include the dll and their package references recursively rather than including it as a package reference.

Thanks to @dasMulli, the real MVP, for a workaround that I can use while microsoft ponder

[2018-11-30 15:55] rainersigwald opened #7567 "msbuild -t:restore fails to authenticate when the packagesource key contains spaces"
_From @dejoost on November 30, 2018 15:48_

### Steps to reproduce

MSBuild version 15.9.20+g88f5fadfbe

the restore works with "nuget restore" from a solution folder but fails with msbuild, did not happen with previous version (15.8).

msbuild -t:restore

returns 401 (Unauthenticated) when reading index of private feeds (MyGet)

Example config:

FAILS:
[code]

WORKS
[code]

### Expected  behavior

[2018-11-30 17:16] nkolev92 commented on #7567
Duplicate of https://github.com/NuGet/Home/issues/7517.

It's been fixed pending release.

[2018-11-30 17:16] #7567 closed, assigned to nobody

[2018-11-30 17:18] rainersigwald commented on #7567
Thanks! I think my search didn't turn that up because of `whitespace` versus `space` :(

[2018-11-30 17:19] nkolev92 commented on #7431
Closing as we have received no feedback back from the customer.

[2018-11-30 17:19] #7431 closed, assigned to nobody

[2018-11-30 17:27] nkolev92 commented on #6801
Duplicate of that.

[2018-11-30 17:27] #6801 closed, assigned to nobody

[2018-11-30 17:30] zivkan opened #7568 "NuGet missing on this computer"
@perryraskin commented on [Fri Nov 30 2018](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1200)

I'm trying to import my .sln file from a Visual Studio project (from a Windows computer) into Rider on my Mac. I'm getting the following error.

[code]

I already copied the .nuget folder from the Windows computer (where the project is working properly). Anything I'm missing here? Usually do

[2018-11-30 17:35] nkolev92 commented on #7256
Originally when looking at this issue, I missed that there's already a reported duplicate of it.
https://github.com/NuGet/Home/issues/6697

[2018-11-30 17:35] #7256 closed, assigned to nobody

[2018-11-30 17:37] nkolev92 commented on #6636
This is by design.
NuGet will not read the PackageVersion, as "token" replacements are what's being done in the nuspec.

Using NuspecProperties is the correct approach.

[2018-11-30 17:37] #6636 closed, assigned to nobody

[2018-11-30 17:38] nkolev92 commented on #6636
Furthermore the error messages have since been improved, so it should be easier to diagnose.

[2018-11-30 17:58] nkolev92 commented on #6026
Fixed in https://github.com/NuGet/NuGet.Client/pull/2013.

Duplicate of https://github.com/NuGet/Home/issues/6529

[2018-11-30 17:58] #6026 closed, assigned to nobody

[2018-11-30 18:06] nkolev92 commented on #7165
This is currently by design.

When you use a nuspec, you change values with token replacements.
When you use a nuspec with dotnet pack, you need to pass the token replacements with the NuspecProperties property.

See docs.
https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-using-a-nuspec

[2018-11-30 18:06] #7165 closed, assigned to nobody

[2018-11-30 18:14] nkolev92 commented on #7412
@bdominguez
Yes, probably, but we'd need to do some looking.

As I mentioned NuGet.PackageManagement primarily contains code used by VS/packages.config related code which is not cross plat by design.
There are some other classes which are unnecessary with PR, due to the fact that everything boils down to a restore.

The NuGet Client repo is primarily a tool, then library, so that just hasn't been

[2018-11-30 18:46] terrajobst commented on #6026
Awesome! 👍

But technically 6529 was a duplicate of 6026 😄

[2018-11-30 18:58] dtivel commented on #7556
It is a test bug.  The test has an external dependency which is unavailable.  Normally, the test should be updated to not have an external dependency; however, since we already have automated test coverage for this scenario [here](https://github.com/NuGet/NuGet.Client/blob/3803820961f4d61c06d07b179dab1d0439ec0d91/test/NuGet.Core.FuncTests/NuGet.Packaging.FuncTest/SigningTests/TimestampProviderTest

[2018-11-30 19:46] bdovaz commented on #7412
Is there any reason it doesn't also target .NET Standard 2.0?

The problem now is that with 1.6 requires many many nuget package dependencies. In 2.0 we will reduce it drastically.

[2018-11-30 20:19] anangaur opened #7569 "List --outdated lists all packages with --include-transitive"
When you run the following command to show only outdated packages, it should list only those packages (transitives) that are outdated.

**Actual:** It lists all the transitive packages even if they are not outdated.

**Note:** The behavior for top-level dependencies is correct.

Another minor issue:
The language is incorrect while running the same command for a project with no outdated packages.

[2018-11-30 20:49] wbaffy opened #7570 "NuGet does not use DTE.SourceControl in order to checkout project files when adding packages."
P4VS (Visual Studio Extension for Perforce) will implement DTE.SourceControl in its next release. This allows for P4VS to offer to check out packages.config when NuGet is editing it.

The related project file appears to be edited at the same time, and is made writable without calling:
DTE.SourceControl.IsItemUnderSCC
DTE.SourceControl.IsItemCheckedOut
DTE.SourceControl.CheckOutItem

In NuGet.Packa

[2018-11-30 20:52] wbaffy commented on #7570
@skofman1 We're finally addressing the P4VS dependencies for https://github.com/NuGet/Home/issues/2276

Could the same DTE.SourceControl calls be made for all files that the Package Manager makes writable and edits?

[2018-11-30 21:17] tmat commented on #4695
Ping.

[2018-11-30 21:32] clairernovotny opened #7571 "NuGet doesn't restore dependencies of compatible tfm's in fallback"
I just hit an issue when using an old (.NET 3.5-era) package for WPF on .NET Core 3. I added the top-level package (Microsoft.WindowsAPICodePack-Shell), and that worked, but NuGet did not bring in its dependency because its has a .NET 3.5 group. This lead to a broken restore.

I suspect more people will hit that when using old packages on .NET Core 3. Seems like something in NuGet needs to account

[2018-11-30 21:38] nkolev92 commented on #7412
We're doing that in 5.0.
https://github.com/NuGet/NuGet.Client/pull/2118

[2018-11-30 21:45] nkolev92 commented on #7559
msbuild /t:pack will have issues when all projects are not PackageReference which is your scenario.
The pack.targets need to be available in all projects for this to work correctly.

What you can do is bootstrap the pack targets.
Download the NuGet.Build.Tasks.Pack package and just include them in your Directory.Build.Targets.
Save caveat as earlier applies, you can easily get out of sync, but you

[2018-11-30 21:51] bdominguez commented on #7412
Estimated ETA? Thanks.

[2018-11-30 23:35] nkolev92 commented on #7412
5.0 will ship along side VS 2019.
I don't have exact dates yet, but it will be in the first half of 2019.
Preview packages with the NS2.0 change, might happen somewhere in ~February.

[2018-11-30 23:36] kkm000 commented on #3891
I cannot help but ask the commenters to please be more empathic to their fellow engineers working on quite a complex and extensive piece of software. We all, in the end, belong to the same guild.

On a positive note, compare what we already have with the "classic" mode of packaging. Write and maintain a nuspec file. Invoke nuget command in a post-build step. Fail because nuget.exe is not on the pa

[2018-11-30 23:39] nkolev92 commented on #7565
I think they already contain release assemblies only.

The build runs with the Release configuration.

See [link](https://devdiv.visualstudio.com/DevDiv/_apps/hub/ms.vss-ciworkflow.build-ci-hub?_a=edit-build-definition&id=8117&view=Tab_Variables) and https://github.com/NuGet/NuGet.Client/blob/dev/build/vsts_build.yaml

[2018-11-30 23:39] PatoBeltran commented on #7568
Hey @perryraskin, thanks for opening the issue! This error message since to be a Rider message instead of a nuget one. As far as NuGet knows, the suggestion to run a restore to get the missing packages, have you tried using `dotnet` to restore your project?

[2018-11-30 23:43] PatoBeltran commented on #7566
Hey @LightVolk that seems weird, can you try with the latest nuget.exe v4.9.1? You can get it from https://www.nuget.org/downloads... Also, you mentioned it shows in the VS UI, have you tried installing it from there? If this works, do you see any difference in the package reference that was added from VS and the one you did manually?

[2018-12-01 00:21] rrelyea commented on #5957
retitled: Project A referencing package B via AssetTargetFallback, doesn't use that same AssetTargetFallback to pull B's dependency package C

@AArnott likely had a scenario where A called an API in B and B called an API in C so he ran into a runtime issue.
When I tried creating the same situation...and had A call B and C, it was a compile time error.

[2018-12-01 00:22] rrelyea commented on #7571
dupe of https://github.com/NuGet/Home/issues/5957, I believe.

[2018-12-01 00:23] rrelyea commented on #5957
@nkolev92 - please address...this is likely more important with netcoreapp3 increased usage.
if you can balance to a new member of team, that is fine also.

[2018-12-01 00:26] rrelyea commented on #5957
workaround is to manually reference C as a top level package reference, I believe.

[2018-12-01 01:58] fhchina commented on #7548
I have borrowed some code from V2 to implement ZipPackage.GetFiles(), mainly excluding opc stuff by name rule.

[2018-12-01 01:58] #7548 closed, assigned to nobody

[2018-12-01 02:35] jnm2 commented on #3891
@kkm000 Thank you for saying so! I agree.

[2018-12-01 02:38] rido-min commented on #7565
I guess the feature is for any package, no only packages created by the NuGet team, but I don't think we can say to everyone that they can submit Release binaries only. How this feature will work with snupkgs?

[2018-12-01 02:47] rido-min opened #7572 "Order of trustedSigners in config file affects trust evaluation"
I'm using the next config file

[code]
To install the next package
[code]
but it fails with
[code]

however if I change the order in the configuration file, and move the author element first, then the install succeeds.

/cc @PatoBeltran @dtivel

[2018-12-01 02:51] rido-min opened #7573 "TrustedSigners owners are evaluated with CaseSensitive strings"
NuGet.org has packages owned by Microsoft with different casing in the repository signature metadata.

Customers who want to trust packages owned by Microsoft must add two entries in the config file.

[code]

Since NuGet.org does not accept owners with different casing, NuGet clients should evaluate trust as case insensitive

/cc @PatoBeltran  @dtivel

[2018-12-01 03:04] rido-min opened #7574 "dotnet.exe should not evaluate trusted-signers while signed packages are not supported"
dotnet.exe restore shows errors related to client policies with a message saying the package is unsigned even when the package is signed.

[2018-12-01 05:56] KirillOsenkov opened #7575 "NuGet.exe restore: allow specifying Solution Configuration to use for .sln, for example -Properties similar to pack."
## Details about Problem

NuGet product used: NuGet.exe

NuGet version (x.x.x.xxx): `4.9.1.5694`

dotnet.exe --version (if appropriate): `2.2.0-preview1-007622`

VS version (if appropriate): 15.9.2

OS version (i.e. win10 v1607 (14393.321)): Win10

Worked before? If so, with which NuGet version: not a regression

## Detailed repro steps so we can see the same problem

Have an .sln file with two co

[2018-12-01 05:59] KirillOsenkov opened #7576 "NuGet.exe should pass IgnoreMissingImports to MSBuild"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version (x.x.x.xxx): `4.9.1.5694`

dotnet.exe --version (if appropriate): `2.2.0-preview1-007622`

VS version (if appropriate): 15.9.2

OS version (i.e. win10 v1607 (14393.321)): Win10

Worked before? If so, with which NuGet version: not a regression

## Detailed repro steps so we can see the same problem

Currently if using `NuGet.exe

[2018-12-01 06:01] KirillOsenkov opened #7577 "NuGet should report which package source was used to restore each package from"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version (x.x.x.xxx): `4.9.1.5694`

dotnet.exe --version (if appropriate): `2.2.0-preview1-007622`

VS version (if appropriate): 15.9.2

OS version (i.e. win10 v1607 (14393.321)): Win10

Worked before? If so, with which NuGet version: not a regression

## Detailed repro steps so we can see the same problem

It is difficult to determine

[2018-12-01 08:36] rafsanulhasan opened #7578 "Migration to PackageReference"
## Details about Problem

I'm working on a Xamarin.Forms solution which includes a Xamarin MAC project. In all the projects, I used Xam.Plugins.Settings NuGet package By James from Microsoft. When I tried to convert the project from PC to PR, I found this warning message propping up into a browser:
**"Xam.Plugins.Settings v3.1.1<br/>
'content' assets will not be available when the package is insta

[2018-12-01 17:31] OrbintSoft opened #7579 "Missing .nuget meta properties in visual studio project"
When I created my first .nuget package in Visual Studio I encountered a lot of issues:

1. I get a couple of warnings when I try to create a nuget package:

 **warning NU5105: The package version '5.4.0-rc.2' uses SemVer 2.0.0 or components of SemVer 1.0.0 that are not supported on legacy clients. Change the package version to a SemVer 1.0.0 string. If the version contains a release label it must

[2018-12-01 18:55] zivkan opened #7580 "nuget.exe sources command to control <clear /> behavior (ideally in all applicable places in config)"
(note I'm asking as a customer, not a team member)

`nuget.exe sources` has a way to add and remove sources from a nuget.config file, but no way to set or remove the `<clear />` element. `dotnet new nugetconfig` creates a sample nuget.config, which is convenient for automation (test scripts), but the template includes `<clear />`, which is difficult to remove in a simple script.

[2018-12-01 20:18] livarcocc opened #7581 "dotnet new nugetconfig -- should have option to remove "clear" element"
_From @zivkan on December 1, 2018 18:47_

I couldn't find where the nuget.config template is, so I hope creating this issue here is good enough.

`dotnet new nugetconfig` creates a `nuget.config` file with the following content:

[code]

I propose that the `<clear />` element be commented out by default and the comment above amended appropriately. Consider also commenting out the sample package so

[2018-12-01 22:33] perryraskin commented on #7568
I get errors when using `dotnet` commands.

[code]

[2018-12-02 22:37] perryraskin commented on #7568
This was fixed by putting the .nuget folder from the Windows computer where the original project was, in the root directory of the project.

[2018-12-03 08:52] evadelnuevo commented on #6082
It seems the certificate expired again

[2018-12-03 11:36] LightVolk commented on #7566
@PatoBeltran , very strange.. I update nuget.exe to 4.9.1 and nuget fails because he cannot find microsoft.visualstudio.web.codegeneration.tools package.
So, i add it into repo (2.0.4) and he can not find it again!

Log:

NuGet Version: 4.9.1.5694

[code]

Response from Nuget Server: FindPackagesById()?id=%27Microsoft.VisualStudio.Web.CodeGeneration.Tools%27&semVerLevel=2.0.0

[code]

I need to cl

[2018-12-03 11:48] ZenwalkerD opened #7582 "Environment variable support in Nuspec file src attribute"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Nuget.exe

NuGet version (x.x.x.xxx): 4.8.1.5435

dotnet.exe --version (if appropriate):

VS version (if appropriate): 2013

OS version (i.e. win10 v1607 (14393.321)): Win10

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Building Nug

[2018-12-03 13:26] abbastoz commented on #4308
hi all for this you have to  go to tools-> nugetpackagemanager -> manage nuGut Package for solution
and install
  Microsoft.AspNetCore.App
  Microsoft.EntityFrameworkCore.Tools"
Microsoft.VisualStudio.Web.CodeGeneration.Design
then close vs and open it again .
reference
https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/powershell

[2018-12-03 13:41] paulomorgado commented on #7559
I've ended up upgrading all projects to SDK.

But this will always be an issue that keeps teams and companies tied to packages.config.

[2018-12-03 13:41] #7559 closed, assigned to nobody

[2018-12-03 15:00] eliassal opened #7583 "TFS dotnet restore - Unable to load the service index for source"
Hi, I have a package which I added to to TFS feed, I can browse it the feed in VS 2K17, add the packge to add it to a dotnet project compile correctly and it downloads the pkg, on command line also msbuild t:restore works fine.
In TFS, I am using a nugget restore step but it is failing with the following error for the same package

## Details about Problem

NuGet product used (NuGet.exe | VS UI |

[2018-12-03 15:10] waterfoul commented on #7489
After looking at my build it looks like it was anything past 4.7 which was causing the error (using 4.7 fixed it). I've just now tested with 4.8 which is working now, I'm waiting on the run to test 4.9

[2018-12-03 15:25] bilal-fazlani commented on #6082
It's expired again

[2018-12-03 17:17] waterfoul commented on #7489
4.9.1 appears to be working now as well

[2018-12-03 17:32] nkolev92 commented on #7565
I misunderstood the issue :) I had some context on what @cristinamanum had been working on and I led myself on.

I'm also not confident this would be the right behavior for **all** packages even when we special case snupkgs.

NuGet.org could potentially have an asynchronous validation step, but not sure the client should be doing much.

//cc @rrelyea

[2018-12-03 17:45] nkolev92 commented on #7575
You can already achieve that with an environment variable.
https://docs.microsoft.com/en-us/nuget/tools/cli-ref-environment-variables

`NUGET_RESTORE_MSBUILD_ARGS`

Furthermore in PackageReference NuGet itself does not use the Configuration when evaluating Package/ProjectReferences, so not sure relying on NuGet to play well with these Configuration conditions imports is a good idea.

[2018-12-03 17:48] nkolev92 commented on #7581
I'm not sure this is a good idea.

For starters, it's a major breaking change.
This is heavily used in CI scenarios(Azure DevOps specifically) where the sources are specified though a UI and a nuget.config is created out of them.
People bootstrapping this way could get drastically different behaviors, with no easy way to communicate this breaking change.
The `clear` behavior is heavily depended on

[2018-12-03 18:14] wbaffy commented on #7570
Closing. Not an issue. NuGet does not directly edit project files.

[2018-12-03 18:14] #7570 closed, assigned to nobody

[2018-12-03 18:48] tonyhallett commented on #6872
Please make it consistent.  What is your suggested workaround ? Poll IsInstalled ?

[2018-12-03 20:01] ptoonen commented on #4901
@dasMulli probably not, especially not when https://github.com/dotnet/cli/issues/10288 is resolved.

[2018-12-03 20:05] rido-min commented on #6861
We will investigate what's the best option to implement this. We need to build the chain anyway, one option will be to accept all the needed certificates.

[2018-12-03 20:58] nkolev92 commented on #6697
The problem here is that when * is the version, during restore, the version range in the assets file is written as "(, )" which basically no version, rather than floating.

Then here, when such version is detected, it is default to the version of the current project.
https://github.com/NuGet/NuGet.Client/blob/b404acf6eb88c2b6086a9cbb5106104534de2428/src/NuGet.Core/NuGet.Commands/CommandRunners/Pac

[2018-12-03 21:47] Rick-Anderson commented on #6887
@bensongathee

- Kill  **.NET Core Host**  - for example, from Task Manager.
- Don’t execute `dotnet run` in the PMC until it’s resolved. I know that’s inconvenient.

[2018-12-03 22:15] bensongathee commented on #6887
@Rick-Anderson what's the name of the .NET Core Host in task manager. Can't seem to locate it

[2018-12-03 22:31] voltcode commented on #4412
Guys, any update on this ? I have a .NET FX csproj that references .NET Standard csproj. That .NET Standard csproj packagereferences a package.
The problem is that the project.assets.json is not generated on build for .NET FX csproj.

How can this be generated so that transitive project->package references are properly collected, without resorting to manually redeclaring all nested package referen

[2018-12-03 22:31] FeodorFitsner commented on #6082
Yep, publishing of symbol packages from AppVeyor builds is not working.

[2018-12-03 23:12] PatoBeltran commented on #7550
Hey @jeanluc33 thanks for opening this issue! I was looking into it and the reason why you see that it works in 4.7.1 and it doesn't in the new versions is because we updated from ne46 to net462. Since net462 .NET updated the way the handled paths to be more consistent with the OS, you can read more about it here: https://blogs.msdn.microsoft.com/jeremykuhne/2016/06/21/more-on-new-net-path-handlin

[2018-12-03 23:48] NTaylorMullen commented on #7342
I imagine this would also need to be reflected as part of deps.json as well for transitive packages that have framework references yes?

[2018-12-04 00:02] Rick-Anderson commented on #6887
![image](https://user-images.githubusercontent.com/3605364/49409287-0a53e400-f704-11e8-915b-761928f95966.png)

[2018-12-04 00:02] Rick-Anderson commented on #6887
The exe is `dotnet.exe`, but there are usually alot of those.

[2018-12-04 00:18] bensongathee commented on #6887
@Rick-Anderson works perfectly. Thanks you sir. Appreciate it

[2018-12-04 06:12] LightVolk commented on #7566
Maybe the error is that I am not using the 3rd version channel?
1. How can I find out which version of the channel I use?
2. How to explicitly specify version 3 for the local repository?

NugetServer (on local repo):You are running NuGet.Server v3.1.2.0

Error: https://docs.microsoft.com/ru-ru/nuget/reference/errors-and-warnings/nu1101

[2018-12-04 07:46] AndreyAkinshin commented on #7304
@jainaashish,
In the official documentation, there is a section about NuGet Client SDK: https://docs.microsoft.com/en-us/nuget/reference/nuget-client-sdk
It says:

However, you wrote:

Only the [NuGet.VisualStudio](https://www.nuget.org/packages/NuGet.VisualStudio/) package includes APIs from your list (because the title of the list is "NuGet API in Visual Studio"). Do I understand correctly that

[2018-12-04 07:54] drauch commented on #6861
There is now even the option to verify a chain with an untrusted root when using the trusted-signers feature (see "AllowUntrustedRoot" in https://docs.microsoft.com/en-us/nuget/tools/cli-ref-trusted-signers). So it's even more a pity that signing does not have an option "-allowUntrustedRoot" yet :-)

[2018-12-04 08:34] voltcode opened #7584 "Support for transitive project and packagereferences in netfx and .net core"
Scenario:

Project A packagereferences nuget X
Project B projectreferences Project A

When building Project B, I wish that it's nugets are automatically resolved from Project A dependency (Project B has indirect dependency on nuget X).

Can this be supported with current nuget ? I tried it to no avail (Project B on ,NET FX, Project A on netstandard). dotnet restore didn't work - project.assets.jso

[2018-12-04 09:48] v-luzh commented on #7429
This issue is fixed on D16.0 28327.66 + NuGet Client Dev\5.0.0.5703.

[2018-12-04 10:26] rossng opened #7585 "nuspec should support optional files/folders"
## Details about Problem

NuGet product used: NuGet.exe, VS UI

NuGet version: 4.6.2.5055

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): Professional 15.9.3

OS version: win10 v1809 (17763.134)

Worked before? If so, with which NuGet version: N/A

## Steps to reproduce

1. In a nuspec file, create a `<file>` reference to the contents of a folder which does not exist, e.g

[2018-12-04 11:13] LightVolk commented on #7566
@PatoBeltran about installing package:

I cannot see any differnce.
P.S. for now, this package find well from MS Build(nuget) and VS UI.

But not microsoft.visualstudio.web.codegeneration.tools. Not on MS Build and from VS UI.

[2018-12-04 14:11] praveena-m commented on #4808
Using Nuget 4.9.1 version resolved my issue.
![capture](https://user-images.githubusercontent.com/1097942/49447455-9ea17200-f7fc-11e8-85ca-d6a6aaae0753.PNG)

[2018-12-04 16:01] MarkDordoy commented on #7341
Im also seeing this issue:
[code]

We are building a .net core project on the Azure Devops hosted Ubuntu image. Generally if you re-trigger the build the problem goes away for a bit, but this is not ideal in a ci environment

[2018-12-04 17:43] #7429 closed, assigned to jainaashish

[2018-12-04 17:46] #6742 closed, assigned to dtivel

[2018-12-04 17:54] jainaashish commented on #7304
Those libraries `NuGet.client`, `NuGet.Packaging` and `NuGet.Protocol` are part of NuGet SDK to support NuGet IVS apis and NuGet Web apis. So these libraries provide required model classes, utilities, or resources to consume NuGet public apis. There are no documented public apis out of these libraries but we try to make sure that these libraries are backward compatible.

[2018-12-04 18:00] JDCain commented on #3891
As a workaround, I instead used [Fody/Costura](https://github.com/Fody/Costura) to merge the specific assemblies into the nuget dll package.

[2018-12-04 18:20] AndreyAkinshin commented on #7304
Well, you publish these libraries on nuget.org, and they are available for everyone. There are a lot of different applications which use the NuGet Client SDK. I'm trying to understand your policy about these applications. Am I right that you are not going to make any changes which will be useful for non-Microsoft NuGet clients (all clients except Visual Studio or NuGet Gallery)?

[2018-12-04 18:23] #7510 closed, assigned to nkolev92

[2018-12-04 18:30] jnm2 commented on #3891
@JDCain Fyi https://github.com/Fody/Fody/blob/master/readme.md#licensingpatron-faq

[2018-12-04 18:39] JDCain commented on #3891
D'oh. Thanks for the heads up.

[2018-12-04 18:43] jeanluc33 commented on #7550
Obviously that’s something I can do, but various VS versions are adding the targets file with the space.   Those .targets files are out there and are unfortunately not updated on the build (since nuget is not itself implemented as a nuget package).

It sort of seems wrong to break those for everyone, no?

[2018-12-04 19:16] brentapex commented on #5016
I have this issue and not  with relative paths. I have a fairly large and complex file structure I want to pack into a nuget package. I use a nuspec file. The file command is very similar to what I use in an inno setup script. Inno setup can package up the entire directory structure in a matter of seconds. Nuget is taking over an hour. I don't know what nuget is doing but it is doing it very badly

[2018-12-04 19:30] skofman1 commented on #6082
If you are publishing portable PDBs take a look at the NuGet hosted Symbol server: https://blog.nuget.org/20181116/Improved-debugging-experience-with-the-NuGet-org-symbol-server-and-snupkg.html

[2018-12-04 19:37] nkolev92 commented on #4598
The first 2 bullet points are kind of covered in the new plugin model.
The last can be added.

[2018-12-04 19:39] nkolev92 opened #7586 "Deprecate and remove the old nuget.exe credential plugin model"
https://github.com/NuGet/Home/issues/6642 shipped in 4.8/2.1.400 SDK/15.8 of Msbuild.

We should deprecate the plugin in 5.0 and completely remove it a few releases later.

This task covers the complete removal of the plugin.

The task to add a message is in https://github.com/NuGet/Home/issues/7819.

//cc @anangaur @rrelyea

[2018-12-04 19:46] jainaashish commented on #7304
Again you're misreading it. I only meant that those libraries have supported infrastructure for existing IVS apis and web apis. But any consumer is free to consume them or any other NuGet library as and when it fits their requirement. But they aren't publicly supported APIs.

Making a change in non-public apis or adding new ones always depends on the individual cases, we've done it in past dependi

[2018-12-04 20:10] AndreyAkinshin commented on #7304
@jainaashish, here is another issue from me: https://github.com/NuGet/Home/issues/3324 It has 72 👍 , dozens of comments, and even a [blog post](https://medium.com/@whitneyland/is-microsoft-managing-oss-initiatives-well-the-case-of-issue-3324-b83247b40dbc) about this issue. You had an awesome solution for this problem in NuGet 2.x. However, you don't want to reimplement it in NuGet 4.x.

I (and som

[2018-12-04 22:55] #7569 closed, assigned to nobody

[2018-12-04 23:56] nkolev92 commented on #7544
Thanks @adamralph
I have updated the spec to explicitly call out the relationship and improved the readability of the nuspec schema changes section.

I will close this issue now.
Feel free to comment if you don't consider your concerns addressed.

[2018-12-04 23:56] #7544 closed, assigned to nobody

[2018-12-05 00:05] nkolev92 opened #7587 "NuGet in VS should implement the Operation Progress API"
NuGet in Visual Studio should implement the Operation Progress API.

[2018-12-05 00:06] PatoBeltran opened #7588 "Address .NET Core 2.1+ System.IO Changes"
Starting on netcoreapp2.1 there were some changes made in System.IO that made the `*` character to be a legal character in paths.

PathValidator relied on the `*` character not being valid to do it's own validation. Since netcore has changed this behavior and it's different from net472, we need to update the PathValidator to take this into account.

Relevant: https://github.com/dotnet/docs/issues/

[2018-12-05 01:58] bergbria opened #7589 "'dotnet restore' --source option is not respected when installing msbuild project sdks"
## Details about Problem

dotnet.exe --version: 2.2.100

The --source option to 'dotnet restore' is not respected when installing msbuild project sdks

## Detailed repro steps so we can see the same problem

1. Unzip the attached .zip file ([NetCoreConsoleApp.zip](https://github.com/NuGet/Home/files/2646839/NetCoreConsoleApp.zip)) to somewhere on your machine
2. Run repro.bat

...

Essentially, th

[2018-12-05 02:12] jainaashish commented on #6091
I've updated the [exisitng spec](https://github.com/NuGet/Home/wiki/Allow-package--authors-to-define-build-assets-transitive-behavior) to reflect the new understanding and our next step. This is still in review but feel free to provide any early feedback.

[2018-12-05 04:24] sam-wheat opened #7590 "Target net47 versus net472 causes "Cannot resolve dependency..." error"
Unknown build error, 'Cannot resolve dependency to assembly 'OtherDll.dll' because it has not been preloaded.   When using the ReflectionOnly APIs, dependent assemblies must be pre-loaded or loaded on demand through the ReflectionOnlyAssemblyResolve event.'

Project configuration:

MyApp.exe - net472
depends on
MyDll.dll - net472
depends on
OtherDll.dll

I am creating a nuget package for MyDll.dll

[2018-12-05 06:41] chitsaw opened #7591 "Error building symbol .snupkg package when using embedded license file"
## Details about Problem
Attempting to build symbol NuGet .snupkg package fails when using embedded license file with the `PackageLicenseFile` property.

NuGet product used: VS UI, dotnet pack

dotnet.exe --version: 2.1.500

VS version: 15.9.3

OS version: win10 v1809 (17763.134)

## Detailed repro steps so we can see the same problem

1. Build a C# netstandard2.0 project in Visual Studio 15.9.3 w

[2018-12-05 09:24] v-longmin opened #7592 "[Test Failure] Error “Provide value on ‘System.Windows.Markup.StaticExtension’ threw an exception” occur when opening PM UI in Solution Explorer window"
## Details about Problem
VS Version: D16.0 28404.61
OS Version: 17763.RS5_Release.180914-1434.
NuGet Version: Dev\5.0.0.5710
## Detailed repro steps
1. Launch VS and create a new Console App (.Net Core) project.
2. Open the PM UI in Solution Explorer window.
## Expected
PM UI should be opened successfully.
## Actual
Error “Provide value on ‘System.Windows.Markup.StaticExtension’ threw an exception

[2018-12-05 09:52] lucasolv100 commented on #6233
This command saved me, after 3 days looking for a solution whre my dotnet add package CLI command were not working at all in any project, seems that it's related with Nuget Path configuration, Thanks!

[2018-12-05 10:30] AnthonySteele opened #7593 "breaking changes in NuGet.Protocol package version 4.9"
When updating the package [NuGet.Protocol to 4.9.1](https://www.nuget.org/packages/NuGet.Protocol/4.9.1) from 4.8, there are a few things that break. I am not aware of any docs on how to fix.

Particularly  I see the property `PackageSource.Origin`  has gone.
And `NuGet.Configuration.Settings.ISettings` no longer has the property `Priority`.

This fails at compile-time after the minor version upda

[2018-12-05 12:10] boexler commented on #5940
I have exactly the same problem! After falling back to v4.1 it is working!

[2018-12-05 13:02] BrightLight commented on #4463
Glad I found this. I ran into the same issue last week. Is there any ETA on when this will be fixed? Our build server calls msbuild with `/p:BaseIntermediateOutputPath=<somefolder>` (a "Temp" folder inside the working directory of the build job). All was fine as long as the solution only contained .Net framework targets. Now colleagues have added two(!) .Net Standard projects which breaks the buil

[2018-12-05 13:52] StingyJack commented on #7577
It would also be nice to have a /whatif  to see what packages _would_ be restored and from where

[2018-12-05 13:58] StingyJack commented on #7575
@nkolev92 - instead of specifically for a restore,  perhaps this is for installing a development or debug tool inclusion? Some additional logging or tracing that only needs to be present for debug configuration, or even something like non-minified JS for a web project.   Or maybe the opposite; something that needs to only be included on a release or production build.

[2018-12-05 14:07] StingyJack commented on #7565
Thanks, but I dont want any more restrictions on what I can or cannot include in a private nuget package.  I'm already getting the added-work-beatdown over nuget.org's flavor of semver, the loss of ps1 support, and the general loss being able to include non-assemblies in a package, and still no dacpac/sqlproj support.

Permitting only a specifically named build configuration seems like an impossib

[2018-12-05 14:53] fenneh commented on #7262
Still missing Nuget 4.8.1 Command Line package. It's also missing from the XPlat packages.

To give an example of a real world effect of this - Teamcity uses the Nuget Command Line nupkg for its own Nuget runners, if you're looking to do a nuget restore which requires that client then you'll need to create your own nupkg currently.

[2018-12-05 15:53] devlead commented on #7262
@fenneh 4.8.1 had release issues, 4.9.1 is expected to be released in the near future.

[2018-12-05 17:19] dtivel commented on #7512
@JeffRausch, I'd love to get to the bottom of this.

If you have a repro you can share with me, I'd appreciate it.

[2018-12-05 18:23] bergbria opened #7594 "'dotnet restore' enumerates local package sources for MSBuild project sdk packages already in the packages cache"
## Details about Problem

dotnet.exe --version: 2.2.100

Suppose I have a .csproj that lists a nuget-based MSBuild sdk and that I've already run 'dotnet restore.' The sdk package will be installed to my packages cache. Theoretically, if I re-run restore, it will realize the package is already cached and not bother looking on my package sources.

However, the second restore will indeed look on my p

[2018-12-05 18:39] piksel commented on #4463
@BrightLight I posted a [workaround](#issuecomment-404806889)

[2018-12-05 18:52] JeffRausch commented on #7512
In the next few days I'll see if I can get a test repo together that causes the issue.  If I can I'll post it here and reopen this issue.

[2018-12-05 19:04] nkolev92 commented on #7593
//cc @PatoBeltran would have context.

[2018-12-05 19:14] AnthonySteele commented on #7593
Is this code equivalent? https://github.com/NuKeeperDotNet/NuKeeper/pull/587

[2018-12-05 19:17] nkolev92 commented on #7593
@AnthonySteele It looks fine to me, but @PatoBeltran would know for sure if the order is correct there. (Not sure if it's relevant for your case however)

[2018-12-05 19:35] KirillOsenkov commented on #7577
yes `whatif` would be fantastic. 💯

[2018-12-05 19:57] PatoBeltran commented on #7588
Since .NET Core 2.1+ no longer attempts to pre-validate paths and `LocalFolderUtility.GetAndVerifyRootDirectory()` [relied](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/Utility/LocalFolderUtility.cs#L742) on this to make sure the path was valid, we need to update the LocalFolderUtility to avoid take this into account.

[2018-12-05 20:44] PatoBeltran commented on #7593
Hey @AnthonySteele, sorry that we broke you with these changes. While improving the `NuGet.Configuration` we tried to change as little as possible, but unfortunately `Priority` is one of the things that did change.

The change you point out in your PR is the perfect solution. The only difference between your previous code and this one is that we do a `Path.GetFullPath(...)` on the combined path (h

[2018-12-05 20:51] PatoBeltran commented on #7566
@LightVolk it is weird that it works on VS but it doesn't on nuget.exe, the code that is running both of those should be the same one.

From one of the logs you provided I see:

[code]

which caught my eye... can you run restore with detailed verbosity to see if that gives us more info in what is going on?

Also, could it be possible that you provide me with a small repro project to see if I can g

[2018-12-05 23:28] maryammadzadeh commented on #4808
@praveena-m  your solution worked for me too!

[2018-12-05 23:41] nkolev92 commented on #7584
Is B a PackageReference based project?

If it's already a real project you have a few options:

If PC -> [migrate](https://docs.microsoft.com/en-us/nuget/reference/migrate-packages-config-to-package-reference)
If not PC -> Add `<RestoreProjectStyle>PackageReference</RestoreProjectStyle>` in a property group.

[2018-12-06 00:51] vsfeedback opened #7595 "NuGet - Manage Solution Packages Major Improvements Needed"
Sorry if my title offends, but simply stated: the NuGet UI is terrible when it comes to assigning multiple packages to multiple solution projects.  In my case I have a solution with 30 projects and a total of about 100 individual packages, I have to manually go through each package, apply them and try to remember where I was last because the UI refreshes and losses the selected package I just appl

[2018-12-06 00:52] anangaur commented on #7595
Some good feedback here that should feed into https://github.com/NuGet/Home/issues/7284

[2018-12-06 00:53] anangaur commented on #7284
More feedback on https://github.com/NuGet/Home/issues/7560

[2018-12-06 14:06] Mizux commented on #912
FYI
`1.0-*` seems to be able match `1.0.[0-9]*` **and** `1.0.[0-9]*-.*`.
note: `N-*` is transformed to `N.0-*`

So using the https://docs.microsoft.com/en-us/nuget/reference/package-versioning#version-ranges-and-wildcards convention

| Notation  | Applied rule | Description |
| ------------ | ---------------- | --------------- |
| `1-*` | 1.0 <= x < 1.1  | Exact range, inclusive, **including pre-r

[2018-12-06 16:42] NickCraver commented on #3116
I just spent an hour clearing out the HTTP "cache" folder on a whole series of build agents, instructing developers how to do it locally, and getting builds back in order due to a cached 404 yet again.

PLEASE stop caching a 404 forever. This behavior is nuts. I cannot find a single other product or platform that does this...and I looked, really hard.

[2018-12-06 16:50] AlexaCodex commented on #5384
Any updates on this, the issues is also there with : microsoft.visualstudio.web.codegeneration.tools.2.0.4
[Content_Types].xml :
[code]

This is the culprit with double slash '//':  `<Override PartName="//prefercliruntime" ContentType="application/octet" />`

[2018-12-06 17:04] kekekeks commented on #3891
I had to develop a [postprocessing tool](https://github.com/kekekeks/Numerge) that merges nupkg files. Config looks like this:
[code]

Not ideal, but it works for us.

[2018-12-06 17:14] #7530 closed, assigned to nobody

[2018-12-06 18:11] bergbria opened #7596 "Restore unnecessarily enumerates global package folder in attempt to determine type"
## Details about Problem

Nuget version 4.9.0.6

## Detailed repro steps so we can see the same problem

1. Create a packages.config file like the following
[code]
2. Open procmon and filter to accesses by nuget.exe

3. 'nuget restore <path to packages.config>

4. Notice that procmon has recorded a directory enumeration in an unrelated subdirectory of the global packages cache

This is caused by t

[2018-12-06 18:14] bergbria commented on #7596
PR [here](https://github.com/NuGet/NuGet.Client/pull/2553)

[2018-12-06 18:28] rrelyea commented on #7596
@dtivel  - u able to take a quick look at this PR, perf wise, compat wise?

[2018-12-06 19:13] zivkan opened #7597 "Add dependencies for multiple frameworks in NuSpec file"
@p0onage commented on [Wed Dec 05 2018](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1206)

I've created a Nuget package from a project targetting .Net Standard 2.0 but when coming to install this project from the Nuget feed it is not visible within a .Net framework 4.7 solution. The reason for the is having .Net Standard 2.0 as a dependency.

I fixed this in the end by using
`  <Targe

[2018-12-06 20:44] jainaashish commented on #2365
Updated Spec - https://github.com/NuGet/Home/wiki/Embed-Interop-Types-with-PackageReference

[2018-12-06 21:14] bensongathee commented on #6887
@Rick-Anderson
I've been using dotnet run command on PMC to run my Application in ASP.NET Core Web Application, but then switched to ASP.NET Web Application(.NET Framework) but it doesn't work. Any recommendations on how I can use dotnet run command to run my application in ASP.NET Web Application(.NET Framework)?

[2018-12-06 21:56] zivkan commented on #7597
As documented in the [.NET Standard docs](https://docs.microsoft.com/en-us/dotnet/standard/net-standard#net-implementation-support), .NET Framework 4.6.1 and higher implements .NET Standard 2.0, so a NuGet package with netstadard2.0 libs should work just fine in a net47 project.

The problem you experienced might be due to incorrectly packing the class library project, if you used `nuget.exe pack`

[2018-12-06 22:10] toconnorcdx commented on #7551
I am encountering this same issue:
* I have a self-contained netcore1.1 application whose dlls are packed as contentFiles in a nuget package.
* I have a net462 WPF application that consumes this nuget package, which results in an ambiguous assembly reference to mscorlib.dll due to the copy in the contentFiles of of the downloaded nuget package

Unsurprisingly, the issue only arose after switching

[2018-12-06 22:54] p0onage commented on #7597
I was using Dotnet pack, this issue occurs due to the Nuget feed. I compiled the nuget locally using Dotnet pack and it finds the package but when it’s on the nuget server it has dependencies in the feed and if it says a dependency of dot net standard 2.0 then it doesn’t appease when searching nuget packages on a .net framework.

The above shows my work around where I had to use target frameworks

[2018-12-06 23:15] dtivel commented on #7596
The change looks good to me.  I don't see a significant performance change.

Thanks for the contribution, @bergbria.

[2018-12-07 00:09] joelverhagen opened #7598 "In VS, the "Pack" option in project context menu no-ops if build no-ops"
Found in VS 15.9.4 Preview 1.0. NuGet version 4.9.2.5706.

## Steps to repro

1. Create new .NET Core class library
2. Build solution
3. Right click on project
4. Click "Pack"

## Expected

The .nupkg should be produced.

## Actual

The build no-ops and no package is produced.

[code]

## Workaround

Clean the project then pack.

[code]

[2018-12-07 00:09] bergbria opened #7599 "MSBuild SDK resolver tries to validate SHA for a SDK package which fails restore when using packages.lock.json"
## Details about Problem

dotnet.exe --version: 2.2.100

Suppose I have a project P that uses nuget sdk N and N has never been installed on the machine.

If P does not contain a packages.lock.json file, `dotnet restore --use-lock-file` will succeed.
If P *does* have a lock file, `dotnet restore --use-lock-file` will print errors the first time, then succeed on subsequent runs

## Detailed repro st

[2018-12-07 00:11] joelverhagen opened #7600 "NuGet Package Manager version in VS > Help > About ... is out of date"
VS Version: 15.9.4 Preview 1.0

The version says "4.6.0". But really it is 4.9.
![image](https://user-images.githubusercontent.com/94054/49619451-74bd8c00-f971-11e8-8c57-ecd1642df861.png)

From PMC:

![image](https://user-images.githubusercontent.com/94054/49619472-869f2f00-f971-11e8-83d4-2e2d4cdb83ea.png)

[2018-12-07 00:18] nkolev92 commented on #7598
This is not reproducible with the targets only so it might some evaluation that's being cached in VS.

[2018-12-07 00:33] zivkan commented on #7597
The nuget protocol doesn't have a way to filter on TFM (target framework moniker), so search results should not be different depending on what TFMs the package contains, or what TFM(s) the local project targets.

The best thing you could provide us is a sample that reproduces the problem. Otherwise, a step by step instruction list would be helpful, as I'm not sure if the problem you're reporting i

[2018-12-07 02:27] agr opened #7601 "License file with no extension fails to pack with dotnet pack and msbuild /t:pack"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe and msbuild.exe

dotnet.exe --version (if appropriate): 2.1.600-preview-009426
msbuild version: 16.0.218-preview+g5c625fa747

## Detailed repro steps so we can see the same problem

* `dotnet new classlib`
* edit generated csproj, add the following lines:
[code]
* Create the `license

[2018-12-07 02:39] GanesanRengasamy opened #7602 "Install the.NetFramework packages in .NetCore projects"
Hi Everyone,

I have generated the custom NuGet package for our assemblies with some dependent NuGet packages.

NuGet package lib folder structure:

![image](https://user-images.githubusercontent.com/16695209/49623870-6a44d600-f9f5-11e8-8f48-4a1795d26e25.png)

Dependent NuGet package lib folder structure:

![image](https://user-images.githubusercontent.com/16695209/49623997-d7f10200-f9f5-11e8-81d6

[2018-12-07 05:06] nkolev92 commented on #7601
This is function of how paths are handled in general.

Putting simply "license" in PackagePath (what it resolves to), gets treated as a folder, rather than a file. Which also explains why dropping PackagePath works.
Another option would be to specify ".".

[2018-12-07 05:09] nkolev92 commented on #7600
This could probably be made better somehow, so we don't need to rename a value in a cs file ideally.
For reference here's where the code is.
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.Tools/NuGetPackage.cs#L71

[2018-12-07 07:38] voltcode commented on #7584
The last bit helped, thanks!

[2018-12-07 07:38] #7584 closed, assigned to nobody

[2018-12-07 07:56] CarlosLanderas commented on #6082
We are having trouble as well

[2018-12-07 08:16] v-luzh commented on #7600
Same with internal bug 651994. We will verify after you fix it with a better way somehow.

[2018-12-07 08:21] unaizorrilla commented on #6082
One year later, certificate is expired again....

[2018-12-07 10:30] p0onage commented on #7597
Okay I just checked DevOps pipeline and it might be because I'm using Microsoft build step instead of DotNet build?

![image](https://user-images.githubusercontent.com/6472111/49641436-0d9ee680-fa08-11e8-9047-a647769f392d.png)

I'm using these arguments for the MSBuild Arguments
`/t:Pack /p:PackageVersion="$(GitVersion.NuGetVersion)" /p:Version="$(GitVersion.NuGetVersion)"`

This gets pushed to a

[2018-12-07 12:28] CZEMacLeod commented on #912
@Mizux One of the main issues is that if you specify including pre-release, it does not match release versions, and the wildcard ranges are not supported universally anyway.
My main use case is for a 7.4.x release range where I want it to take the highest release or pre-release version. e.g. 7.4.10-ci-1 or 7.4.11 or when it is published 7.4.12-ci-1 etc.

[2018-12-07 13:48] Mizux commented on #912
@CZEMacLeod in this case "7.4-*" have the strange behaviour that it will match `7.4.10-ci-1` or `7.4.11` or `7.4.12-ci-1`.

1) yes it weird, don't ask me why it work like this but according to few tests it seems to work as explained.
2) yes it should not work as this but at least currently I have something working for my use case where  I have **optional** pre-release and only the PATCH changing (

[2018-12-07 14:28] Yashuaaa commented on #3324
Does anyone know when this will be resolved? This is unbelievable.

[2018-12-07 14:30] Yashuaaa commented on #5835
Why is this closed? This issue was never resolved.

[2018-12-07 15:49] brienRosenquist commented on #4808
@praveena-m's solution worked for me also. Time to update the NuGet task to allow for choosing version 4.

[2018-12-07 17:09] MarkKharitonov commented on #4013
Gentlemen, how about the following scenario - I am writing UI tests that need chromedriver.exe to run. This is a run-time dependency that must be placed into the bin folder. The way to do it seems to import the nuget package `Selenium.WebDriver.ChromeDriver`. This package contains an import targets file that makes sure the chromedriver.exe is published or copied to the bin folder.

I am importing

[2018-12-07 17:30] livarcocc opened #7603 "dotnet restore failed on private (authenticated) feeds on .NET SDK > v2.2.100"
_From @DoCode on December 7, 2018 16:7_

## Steps to reproduce
`dotnet restore project.proj`

## Expected  behavior
NuGet restore is successful.

## Actual behavior
[code]

It works with all version before 2.2.100!
All other versions, also 3.x failed.

_Copied from original issue: dotnet/cli#10448_

[2018-12-07 18:09] zivkan opened #7604 "`msbuild /t:restore` should give better message when project is packages.config"
Currently when you run `msbuild /t:restore` against a project that uses packages.config, you get the message:

This makes me think that doing a `msbuild /t:build` should also give the same message, but in fact the project does build.

We should look into changing the reported message to say something like

Only report the "not selected for building in solution configuration" if a `/t:build` would

[2018-12-07 18:11] jainaashish commented on #7599
the issue is it tries to validate SHA during SDK resolver because SDK resolver also internally calls restore API.

[2018-12-07 18:48] nkolev92 commented on #7603
@DoCode
What's your scenario? Repro steps?
Which versions before 2.2.100 worked?

How are you connecting to a feed? Using a credential provider or clear text credentials?

Is it related to https://github.com/NuGet/Home/issues/7517?

[2018-12-07 18:55] rohit21agrawal opened #7605 "`dotnet list package --outdated` doesn't work with sources that need auth"
if a project has a source that needs to be authenticated, dotnet list package --outdated fails with the following error:

[code]

[2018-12-07 18:59] dtivel commented on #7001
The `ZipArchiveEntry.LastWriteTime` setter [enforces a min and max value](https://source.dot.net/#System.IO.Compression/System/IO/Compression/ZipArchiveEntry.cs,233).  This behavior is [documented](https://docs.microsoft.com/en-us/dotnet/api/system.io.compression.ziparchiveentry.lastwritetime?redirectedfrom=MSDN&view=netframework-4.7.2#System_IO_Compression_ZipArchiveEntry_LastWriteTime).

A NuGet

[2018-12-07 19:01] nkolev92 commented on #7605
P0 : The easy fix is just adding the following in the command. https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.CommandLine.XPlat/Commands/DeleteCommand.cs#L73.

P2: The long fix is to rework the XPLAT commands to derive from 1 base command, similarly nuget.exe does and have it configured so it's not missed again.

The easy fix should be done ASAP.

[2018-12-07 19:10] PatoBeltran opened #7606 "Manage .NET XPLAT cryptography"
The dotnet APIs have specific XPLAT behaviors that we need to address when tackling signing and verification XPLAT. This will mean either document known behavior or do functional changes in specific platforms.

Some things are:

- [ ] X509RevocationMode.Offline is not supported on macOS
- [ ] OSCP are not supported in Linux

More info: https://github.com/dotnet/corefx/blob/master/Documentation/arc

[2018-12-07 19:12] #7596 closed, assigned to dtivel

[2018-12-07 19:27] rohit21agrawal opened #7607 "dotnet list package on a solution outputs duplicate entries for framework"
running dotnet list package --outdated on nuget.sln leads to entries like the following:

[code]

[2018-12-07 19:28] nkolev92 commented on #7607
//cc @zivkan I don't know if you had seen any issues like this when working on the tests.

Edit: Actually I think these are tfm/rid combos. Feedback at some point was to not pivot on rids, so probably when the bug sneaked in.

[2018-12-07 19:41] nkolev92 commented on #7604
I don't think this is NuGet:
`
The project "MyProject" is not selected for building in solution configuration "Debug|Any CPU".
`
This is just an msbuild goo, which could have been caused by multiple issues.

Regarding the issue in general:
The indicator that a project uses packages.config is the existence of packages.config or packages.projectName.config files.
Any improvement to this message woul

[2018-12-07 20:34] DoCode commented on #7603
It works with .NET SDK 2.0 to 2.2.100!
And no, it not relates to #7517.

## Repro steps:

1) Add private NuGet feed with credentials and API key;
[code]
2) Push a test package to the feed
[code]
3) Test if packae is listed
[code]
4) Create project file `project.proj` and reference the `testpackage`
[code]
5) Try to restore `project.proj` with dotnet restore
[code]

**FAILED with HTTP error 401!**

[2018-12-07 20:42] nkolev92 commented on #7603
What's an exact version of 2.0.x or 2.1.x SDK that you have tried?
What's the version of nuget.exe that you are using?

2.2.100 and 2.1.500 have matching NuGet code, meaning 1 not working and the other one working would potentially suggest a runtime problem.

[2018-12-07 21:03] DoCode commented on #7603
Currently, I tried 2.1.500, 2.2.100. Both worked also since 2.0.x.
**I tried 2.2.200-preview-009648 and 3.0.100-preview-009812. Both not working!**

I'm tried 4.8.1, 4.9.1 and 5.0.0.5713.

[2018-12-07 21:11] nicksterx commented on #6140
I was getting back 401 unauthorized from packages in my private repository on TFS with the `dotnet restore` Build Task.  I was also getting 401 unauthorized on my local desktop within Powershell using the same NuGet.config as the build server. I never had issues with Visual Studio and the packages restoring. Thanks to @dyadenka I adding the `--disable-parallel` flag to my build task on TFS and tha

[2018-12-07 21:29] PatoBeltran opened #7608 "Re-enable signing/verification tests on macOS"
As part of https://github.com/NuGet/NuGet.Client/pull/2118, some signing/verification tests were disabled in macOS because of changes in the dotnet APIs.

As part of the xplat support for signing/verification we should make sure that the behavior is similar in all platforms, therefore all or most of the issues with this tests should be resolved and the tests re-enabled.

[2018-12-07 22:11] MarkKharitonov commented on #4013
I have described the problem here - https://stackoverflow.com/questions/53674627/how-are-we-supposed-to-execute-package-build-targets-in-the-new-world-where-nuge

[2018-12-07 22:25] karann-msft commented on #7531
We discussed this, below is summary of the workflow:
![image](https://user-images.githubusercontent.com/16904420/49674825-1acbcd80-fa28-11e8-896b-04f5b6cd6871.png)
![image](https://user-images.githubusercontent.com/16904420/49674846-261ef900-fa28-11e8-9d07-66f9f066cbc9.png)

[2018-12-07 22:42] bergbria opened #7609 "'nuget restore packages.config' doesn't populate global packages cache when pulling packages from a local source"
## Details about Problem

`nuget restore <packages.config>` should always populate the global packages cache. However, it does not do so if the package being installed comes from a local source rather than a remote feed

NuGet product used: Nuget.exe
NuGet version: 4.9.1.5694

In the code, the current behavior seems to be manifested by the fact that LocalDownloadResourceProvider doesn’t use GetDow

[2018-12-08 14:52] StingyJack opened #7610 "Is there a way to block a package from being included?"
_Originally opened [here](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1212) (please figure out how to transition issues between content and product without burdening your customers with "paperwork" they should not be responsible for doing)._

From the original...
I dont want some packages to ever be installed. And I dont see a way in here to exclude it without adding it and setting an

[2018-12-09 11:18] aalmada commented on #7509
I was able to add the license file to my package but then, when I try to upload it to NuGet.org, I get the error **"License files are not yet supported."**

[2018-12-09 12:58] taori opened #7611 "-Force -NoCache seems to have no effect"
Using this command: nuget restore solutionname.sln -Force -NoCache

i keep getting "Assets file has not changed. Skipping assets file writing." I am attempting to restore my solution packages using this command to bypass the awfully tedious process of patching a multi project solution template to load my nuget references.

---

Original Post:
https://github.com/NuGet/docs.microsoft.com-nuget.de-de

[2018-12-09 17:55] rahatur commented on #3078
This seems to have worked!

[2018-12-10 04:44] GanesanRengasamy commented on #7602
Hi All,

Could you please suggest me to achieve this?

[2018-12-10 09:17] Rajkumar-Uppala commented on #6625
Hello there,
Currently i am using VS 2017 Version 15.9.3 and Nuget Package manager 4.6.0
Package Manager Console Host Version 4.9.0.5661

When i am trying to use the 'PackageReference' feature, I am experiencing an issue as below when trying to restore NuGet Packages.

Failed to retrieve information about 'cnLogger' from remote source 'http://londbcntfs/nuget/FindPackagesById()?id='cnLogger'&semVe

[2018-12-10 13:38] NicolasDorier opened #7612 "Some servers of api.nuget.org are giving timeout"
I noticed that `api.nuget.org` was making timeout  on my CI server.

[code]

It was working on my machine which was resolving a different IP, so I tried to modify my `/etc/hosts` on the CI server.

[code]

Then things start working again.

This problem started today.

[2018-12-10 14:35] kgrosvenor commented on #6334
Was there a solution to this? I'm getting the same errors on GitLab CI and no way to get it to work currently, what is the issue exactly - i can call the file directly and grab it.

[2018-12-10 14:43] DoCode commented on #7603
**Update:**
- .NET Core SDK 2.2.100-preview3-009430 **WORKED**
- .NET Core SDK 2.2.100 **NOT WORKED**

[2018-12-10 14:45] GeertvanHorrik commented on #6943
@mishra14 any updates on this?

[2018-12-10 14:57] StingyJack commented on #6283
@jainaashish - quite the different Monday in December than originally planned, but here is the repro as promised. https://github.com/StingyJack/nuget6283

[2018-12-10 15:03] GeertvanHorrik commented on #6943
btw seems to work now (I am using latest Dotnet preview though)

[2018-12-10 15:40] sherloqholmes commented on #7612
I was seeing the same issue on our CI environment.
The problem seems to be resolved now.

[2018-12-10 15:59] NicolasDorier commented on #7612
Still had this problem 1H ago.

[2018-12-10 16:14] skofman1 commented on #7612
Hi, We will need additional information in order to investigate. Please follow the instructions here: https://docs.microsoft.com/en-us/nuget/policies/nuget-faq#nugetorg-not-accessible to gather logs and send to support@nuget.org

[2018-12-10 16:15] jugg1es commented on #7612
You don't even need nuget to reproduce this.  Just try to do a GET on https://api.nuget.org/v3-flatcontainer/system.diagnostics.tracesource/index.json

It times out.

[2018-12-10 16:26] PeteBoyRocket commented on #7612
The above link @jugg1es posted now works for me in the UK, but we are still seeing this issue on our AWS CI agents hosted in a US region

[2018-12-10 16:27] skofman1 commented on #7612
@jugg1es  , it's a CDN related issue, so it's not reproducible from any location (works from Redmond). To investigate we need logs from YOUR location.

[2018-12-10 16:29] PeteBoyRocket commented on #7612
ON it! Bear with me, takes a bit of faffing to get onto our CI nodes...

[2018-12-10 16:47] jugg1es commented on #7612
our build servers are linux, I can't run that tool.  But the error is coming from AWS us-east-1 and my office which is near DC.   Here is the nslookup from my office:
 nslookup api.nuget.org
Server:  ai-vmdc2.intranet.local
Address:  10.41.117.30

Non-authoritative answer:
Name:    cs22.wpc.v0cdn.net
Address:  152.199.4.33
Aliases:  api.nuget.org
          nugetapiprod.trafficmanager.net

[2018-12-10 16:48] PeteBoyRocket commented on #7612
Our CI agents that are failing are also in us-east-1 fyi

[2018-12-10 16:52] skofman1 commented on #7612
Thanks for the info! I'm working with Verizon CDN on investigation.

[2018-12-10 16:59] PeteBoyRocket commented on #7612
Heres the WinMTR test results so far:
[code]

I've also emailed it to support@nuget.org

[2018-12-10 17:10] kgrosvenor commented on #2961
What was the fix??

[2018-12-10 17:46] skofman1 commented on #7612
Is the issue still in progress? We need some additional details for investigation:
1. Source IP
2. HAR file (instructions [here](https://support.zendesk.com/hc/en-us/articles/204410413-Generating-a-HAR-file-for-troubleshooting))

[2018-12-10 17:55] jugg1es commented on #7612
no it appears fixed.  thank you!

[2018-12-10 18:05] skofman1 commented on #7612
Is this fixed for everyone else as well or only @jugg1es ?

[2018-12-10 19:07] #7612 closed, assigned to nobody

[2018-12-10 19:41] PatoBeltran commented on #7573
@loic-sharma can you update this issue with your progress once you get to work on this?

[2018-12-10 19:42] PatoBeltran commented on #7572
This has been merged into 4.9.3 and dev.

[2018-12-10 19:42] #7572 closed, assigned to PatoBeltran

[2018-12-10 20:07] jwyglendowski-precisionlender opened #7613 "Nuget Credential Providers Not working with dot net cli add or restore and a private feed"
I am unable to authenticate using dotnet restore nor dot package add using nuget credential providers. The credential provider can authenticate without issue using the nuget cli. The nuget source is a private feed hosted in Team City.

If have tried with dotnet cli version 2.1.300 and I updated to 2.2.100 to see if that would resolve the issue but I experienced the same result. This is for a proje

[2018-12-10 20:22] PatoBeltran commented on #7574
This repros in 2.1.500

[2018-12-10 20:28] rrelyea commented on #6104
Shipped. Closing

[2018-12-10 20:28] #6104 closed, assigned to nobody

[2018-12-10 21:11] bjorkstromm opened #7614 "Can't implement ISettings"
I'm using the NuGet client libraries in a application, and now I need to write some tests. I've previously mocked `ISettings` quite easily. But now, when updating from `4.7.0` to `4.9.1` I've run into a problem with `ISettings`.

The problem:
- I need to implement method `SettingSection GetSection(string sectionName);`
- [`SettingSection`](https://github.com/NuGet/NuGet.Client/blob/release-4.9.1-r

[2018-12-10 21:55] PatoBeltran commented on #7340
closing this issue since the PR for vswhere has been merged.

[2018-12-10 21:55] #7340 closed, assigned to PatoBeltran

[2018-12-10 21:56] nkolev92 commented on #7601
Closing per my above comment.

[2018-12-10 21:56] #7601 closed, assigned to nobody

[2018-12-10 21:59] bjorkstromm commented on #7614
I went the easy route and used reflection for creating an instance of `VirtualSettingSection`, see https://github.com/cake-build/cake/pull/2371/files#diff-16c125384e832bf918d13f23c42bd6c4.. There should be a better option for implementing `ISettings`...

[2018-12-10 21:59] PatoBeltran commented on #2987
Closing this as it should have been fixed in 15.9. Feel free to reopen is this issues are still reproing.

[2018-12-10 21:59] #2987 closed, assigned to PatoBeltran

[2018-12-10 22:00] nkolev92 commented on #7593
Apologies again for breaking your build again, while we do our best not to, sometimes these changes are unavoidable, after all, NuGet.Client is a tool first.

[2018-12-10 22:00] #7593 closed, assigned to nobody

[2018-12-10 22:41] agr opened #7615 "Need a clear documentation/API for extracting the license file"
Right now the code to get the license file from the nupkg one has to do roughly the following:
* Obtain an instance of `PackageArchiveReader`;
* Create an instance of `NuspecReader` using the return value of `PackageArchiveReader.GetNuspec`;
* Get the `LicenseMetadata` from `NuspecReader`;
* Check if `LicenseType` is `File`;
* Get the value of `LicenseMetadata.License` and "fix" the path by callin

[2018-12-10 23:05] jmarolf opened #7616 "Please contribute back to APEX proper"
In [nuget.client](https://github.com/NuGet/NuGet.Client/tree/dev/test/NuGet.Tests.Apex/NuGet.Tests.Apex/Apex) there are several useful test fixtures that other teams will need to copy in order to use.  It would be preferable if these were available in the base APEX packages so all teams could benefit.

ccing @Pilchie

[2018-12-10 23:32] kzu opened #7617 "Allow package authors to provide AfterRestore behavior via MSBuild"
When `PackageReference` came along and dropped support for `install.ps1`, package authors lost the ability to perform some potentially expensive one-time stuff during install. Examples of this might be some additional downloads, extraction of embedded resources or pre-generation of immutable stuff (i.e. generating some `obj`-style code that never changes for a given shipped package (i.e. Xamarin/J

[2018-12-10 23:35] kzu commented on #7617
/cc @bholmes @mhutch @rrelyea @jonpryor

[2018-12-10 23:43] zivkan opened #7618 "Error on build due to missing NuGet packages: "..\packages\Microsoft.Bcl.Build.1.0.21\build\Microsoft.Bcl.Build.targets""
@wfuller commented on [Fri Dec 07 2018](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1215)

I am getting this error "Error on build due to missing NuGet packages: "..\packages\Microsoft.Bcl.Build.1.0.21\build\Microsoft.Bcl.Build.targets" when I try and build this solution in VS 2013.

Despite the error, I can see the 3 BCL files in my packages.config file:
    <package id="Microsoft.Bc

[2018-12-10 23:43] zivkan opened #7619 "Package Restore not Working"
@Rainamay commented on [Sat Dec 08 2018](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1216)

The error is:

This project references NuGet package(s) that are
 missing on this computer. Use NuGet Package Restore to download them.  For more information, see http://go.microsoft.com/fwlink/?LinkID=322105. The missing file is ..\packages\Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.

[2018-12-10 23:44] zivkan opened #7620 "System.NullReferenceException: Object reference not set to an instance of an object"
@astrowalker commented on [Mon Dec 10 2018](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1217)

NuGet Version: 4.9.1.5694 (CLI)

For the record version 4.7.1 behaves the same way.

I tried to make a custom package out of FSharp.Data (https://github.com/fsharp/FSharp.Data) -- I added my nuspec and key -- and then I executed:

    c:\tools\nuget pack FSharp.Data.fsproj -includereferenced

[2018-12-10 23:53] dansiegel commented on #7617
I really like this... unlike the former ps1 method, this just works everywhere that msbuild works. I do however have a concern with the fact that NuGet does not respect transitive build assets. If this is added this would be yet another example for why NuGet needs to add transitive restoration of build targets

[2018-12-11 00:47] karann-msft commented on #7509
@aalmada license file support is coming to nuget.org very soon. We'll announce it on the [anouncements repo](https://github.com/NuGet/Announcements).

[2018-12-11 01:13] JacobSnyder opened #7621 "MSBuild auto-detection always selects 16.0 after installing VS 2019 Preview"
Last week I installed VS 2019 Preview.  Since installing the Preview, NuGet.exe always picks version '16.0.218.25180' regardless of which Developer Command Prompt I use.  This seems similar to some issues reported in the past with previous Visual Studio Preview versions but I haven't found any reports yet for VS 2019.

This is specifically causing problems when trying to restore packages from the

[2018-12-11 02:14] NicolasDorier commented on #7612
@skofman1 the source IP is in my logs `152.199.4.33`, give it a try. With a request at `https://api.nuget.org/v3-flatcontainer/system.diagnostics.tracesource/index.json`. You can simulate this by changing your hosts to have `api.nuget.org` point to `152.199.4.33` and trying to fetch with `wget`.

I will try again today on my CI.

[2018-12-11 02:29] JacobSnyder commented on #7621
Oh.  I forgot to mention that I can resolve this by invoking NuGet on the command line with `-MSBuildVersion 15.9`.  But not everybody on my team has updated to the latest MSBuild - some people still have 15.8 installed for instance.

[2018-12-11 05:44] bjornna commented on #5808
We are working in healthcare and use NuGet as a package manger for clinical models. The identification regime is based on openEHR archetype identification specification: https://www.openehr.org/releases/AM/latest/docs/Identification/Identification.html#_formal_model

An example might be identified like this: **org.ihtsdo.general::openEHR-EHR-OBSERVATION.behavioural_observation_audiometry_result.v2

[2018-12-11 09:29] AnthonySteele commented on #7593
I understand that breaking changes are inevitable, but [they are not expected in a minor version update](https://semver.org/).

[2018-12-11 09:42] PeteBoyRocket commented on #7612
@skofman1  Working for me too now! thanks!
(Sorry for the late reply, I was asleep!)

[2018-12-11 12:48] adalon opened #7622 "NominateProjectAsync should only restore the project being passed"
NuGet version: latest
VS version: dev16 (and probably dev15 too)
OS version: win10

CPS-based projects will trigger a `NominateProjectAsync` when the active configuration changes (or when the project template is unfolded too).

Repro steps:
1- With nuget package restore settings enabled, create an empty solution
2- Add New Project -> Class Library (.Net Standard)
3- Add New Project -> Console App

[2018-12-11 13:51] kzu commented on #7622
/cc @davkean @rrelyea @Pilchie

[2018-12-11 14:06] andremarcondesteixeira commented on #7521
where can I find the equivalent .csproj tags for this?
I hate the fact the tag names are not equal between those files

[2018-12-11 15:58] jainaashish commented on #7592
@nkolev92 it seems upgrading to net472 PR# https://github.com/NuGet/NuGet.Client/pull/2544 has broke this. Can you look at this on high priority?

[2018-12-11 16:36] jainaashish commented on #7622
This is by design for now that NuGet always does a solution restore inside VS either as part of NominateProject or manually triggering a solution restore or restore running as part of build.

But we're having disucssion and evaluation to see if restoring individual projects instead of solution will be more efficient, given we'd still need to figure out P2P (project references) recursively for give

[2018-12-11 17:38] adalon commented on #7622
In our scenario we really need to avoid restoring the Android project while the solution is unfolded or loaded. It really impacts on solution perf load and makes the metric pretty much useless. Taking account that also the runintellisensebuild is triggered for csproj projects when the restore occurs.

@davkean from your (CPS) point of view is it expected to nominate the project when the solution i

[2018-12-11 17:49] phatcher commented on #7509
@karann-msft I think a more general point would be that you shouldn't be generating deprecated warnings until the whole end-to-end experience is debugged and released.

We are in the situation now where if we fix the VS warnings, the nuget packages are non-compliant

[2018-12-11 18:42] skofman1 commented on #7612
@NicolasDorier , are you still able to reproduce the issue?

[2018-12-11 18:49] karann-msft commented on #7509
@phatcher yes in an ideal world. But we had to ship client code with VS 2017 so that most users would be on a client that understands the new license metadata and in parallel we are working on the gallery support. At the same time, we can't just flip a switch one day and say move to license, which is why we warn and not error. licenseUrl has not been deprecated just yet. NuGet.org still very much

[2018-12-11 19:04] PatoBeltran commented on #7574
This has been merged in 4.9.3 branch and dev.

[2018-12-11 19:04] #7574 closed, assigned to PatoBeltran

[2018-12-11 19:12] AnthonySteele commented on #5762
This is great.

I would like to have either a function that I can call from my code to get all of this info, or failing that, the data output in an easily machine-readable format

I would like sufficient data to calculate the "[libyear](https://libyear.com/)" metric amongst others

[2018-12-11 19:49] npickett commented on #7352
It appears from this post that nuget.exe pack currently doesn't support package reference based projects.

See https://github.com/NuGet/Home/issues/5979

[2018-12-11 19:52] PatoBeltran commented on #7251
Closing this as there is not enough information for us to investigate it further. Feel free to reopen if you are still experiencing the same issue.

[2018-12-11 19:52] #7251 closed, assigned to nobody

[2018-12-11 19:55] PatoBeltran commented on #7322
Closing as we do not have enough information to investigate further. Please feel free to reopen if you continue to see this behavior.

[2018-12-11 19:55] #7322 closed, assigned to nobody

[2018-12-11 19:56] karann-msft commented on #7521
@andremarcondesteixeira https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-a-license-expression-or-a-license-file

[2018-12-11 20:01] npickett opened #7623 "msbuild -t:pack command, the project references (non-nuget package references) in a .Net class library (csproj) are included in dependencies for the package."
## Details about Problem

When using msbuild -t:pack command, the project references (non-nuget package references) in a .Net class library (csproj) are included in dependencies for the package.

VERSIONS
=======
MSBuild Version: 15.8.169+g1ccb72aefa
Powershell Version: 5.1.17134.407
OS version: Windows 10 v1803 (OS  Build 17134.407)

## Detailed repro steps so we can see the same problem

1. Open

[2018-12-11 20:04] PatoBeltran commented on #6542
This has been fixed in https://github.com/NuGet/NuGet.Client/pull/2471

[2018-12-11 20:04] #6542 closed, assigned to zhili1208

[2018-12-11 20:11] PatoBeltran commented on #6562
@joelverhagen do you think this has been solved with repository signing and client policies? (cc. @dtivel )

[2018-12-11 20:18] kfalkowski11 opened #7624 "way to list packages from command line?"
Trying to automate getting a list of our package license information through a continuous integration tool (jenkins). We are using the Get-Package powershell command but we currently have to do this through the Visual Studio Package Manager Console. Was hoping for a way to execute this command outside of Visual Studio, either using visual studio command line or nuget.exe?

[2018-12-11 20:28] karann-msft commented on #4628
@pombredanne what I meant to say was, NuGet.org does not need the license file if you provide the license expression. NuGet.org will display license information based on the license expression alone.
If the license requires you to include the license text, you should absolutely pack it within the package. You don't need to add metadata to point to the file.

[2018-12-11 20:29] joelverhagen commented on #6562
No, in my scenario the malicious actor takes a repository signed package from the very same repository and replaces his target.

[2018-12-11 21:00] nguerrera commented on #4071
Not just VS, but also `dotnet add package` and `dotnet tool install`.

[2018-12-11 21:12] randysimplist commented on #5800
The latest version 0.2.5-pr169.7 seems to have the same problem when targeting .NET Core 2.2

[2018-12-11 21:23] PatoBeltran commented on #6562
I see, nevertheless, if the package is author signed, the malicious actor will not be able to impersonate the author signature, so if the user has `signatureValidationMode=require` and explicitly trusts Newtonsolft.Json's author this scenario wouldn't be an issue.

[2018-12-11 21:50] PatoBeltran commented on #7556
If we wish to continue with this test we could use http://timestamp.globalsign.com/scripts/timstamp.dll, which is also a SHA1 publicly available free timestamping server... Although in the future this server might not be available and face this same issue.

[2018-12-11 22:06] PatoBeltran commented on #7561
@jozefizso thanks for opening the issue. NuGet sign does actually support signing multiple packages with a single call. You can use `*` for this (e.g. `*.nupkg`). We understand that this is not a verify powerful language to let you choose multiple packages, but it can easily be used as part of a script where you put all the desired packages in a directory and use nuget.exe to sign all packages the

[2018-12-11 22:26] joelverhagen commented on #6562
Yes, any policy on author signature should prevent this from happening. That being said, this is not the default (right?) so we should protect the majority case with an ID/version verification.

[2018-12-11 22:44] PatoBeltran commented on #6411
@rido-min is this still an issue?

[2018-12-11 22:50] davkean commented on #7622
In my opinion, NominateProject should not equal Restore. Nominate should be a hint to NuGet that the project's data has changed, and it should use state of the solution to determine whether that means Restore now, or Restore later.

However, I suspect above is not the real repro, but really what's happening during File -> New?

- You should avoid changing configurations during File -> New, the con

[2018-12-11 23:00] dtivel commented on #6562
I think NuGet should perform this validation even if a package is unsigned.  If a package is signed, we should perform integrity checks before this verification is performed, but the verification described in this issue is independent of signed package verification.

[2018-12-11 23:01] adalon commented on #7622
We're not changing the active configuration. And it can also be reproducible unfolding a single .net standard class library.

What we're doing is changing the platform of the IOS project (which does not trigger the Nomination). And still disabling that IWizard, the restoreinformation is still triggered.

Disabling the designtime build while the Wizard is running is not enough in my opinion. We cou

[2018-12-11 23:04] PatoBeltran commented on #7042
Since https://github.com/NuGet/NuGet.Client/pull/2454, the verification provider in charge of validating allow lists has been refactored and this is not an issue anymore.

Now the user has to provide the allowList itself to the provider. This list is made of `VerificationAllowListEntry`, which include the `VerificationTarget` that each entry should be tested against.

[2018-12-11 23:04] #7042 closed, assigned to dtivel

[2018-12-12 00:20] bergbria opened #7625 "'dotnet restore' and 'dotnet build' emit many spurious warnings when using a lock file"
## Details about Problem

dotnet.exe --version: 2.2.100

If you clear your global packages cache, `dotnet restore` will emit inaccurate, spurious warnings for projects with an already-generated packages.lock.json.

If you've already run restore and cached all packages, `dotnet build` will emit even more spurious warnings than the case above.

## Detailed repro steps so we can see the same problem

[2018-12-12 02:34] davkean commented on #7622
These are the same.

What is "fully loaded" in this context?

[2018-12-12 03:22] NicolasDorier commented on #7612
I just removed the hack I added on my CI server to see if it restores.
Seems to work fine now thanks.

[2018-12-12 08:14] pascalberger opened #7626 "Release Notes for 4.9.2"
I saw that NuGet 4.9.2 was released but couldn't find any release notes for it [here](https://docs.microsoft.com/en-us/nuget/release-notes/nuget-4.9-rtm).

[2018-12-12 09:16] v-longmin opened #7627 "Creating ASP.NET Web Application (that uses the template wizard) does not work when the assembly is not signed"
## Details about Problem
VS Version: D16.0 28410.60
OS Version: 17763.RS5_Release.180914-1434.
NuGet Version: Dev-nkolev92-fixlnteropBuild\Local
## Detailed repro steps
1. Launch VS.
2. Create a new ASP.NET Web Application (.NET Framework) project.
## Expected
The project should be created correctly.
## Actual
Nothing created as below screenshot.
![created failed](https://user-images.githubusercon

[2018-12-12 09:36] rmsryu commented on #7341
We are also seeing the same issue. And as @MarkDordoy said re-triggering the build it works, but it's breaking all our CI environment.

[2018-12-12 11:19] adalon commented on #7622
No, we're changing the platform (iPhone or iPhoneSimulator) of the iOS project in the current selected configuration. That does not trigger your Nomination. And still disabling the IWizard which modifies the platform of the IOS project, we get the same result.

Being pragmatic, it would be to delay anything until the vs/solution/perf/load event occurs. In practice, doing it in the IVsSolutionLoadE

[2018-12-12 11:30] davkean commented on #7622
I have a trace on my box from a File -> New -> Android solution template that creates 3 projects (1 CPS, 2 legacy). It shows that we kicked off two legacy builds due to a configuration change (1 for each legacy project):

![image](https://user-images.githubusercontent.com/1103906/49866918-2c183e00-fe5d-11e8-88a8-105bfa8d715b.png)

You can also see that Nomination ("RefreshReferencesAfterRestore")

[2018-12-12 12:10] kzu commented on #7622
Can you share the template without any of our stuff and regular .net
projects @adalon? That should make clearer what we're taking about here.

[2018-12-12 12:14] davkean commented on #7622
Traces would help, with the VS events turned on.

[2018-12-12 13:22] adalon commented on #7622
For the reason of this issue the only event we're focusing on is the restore and the associated builds (RefreshReferencesAfterRestore) that each csproj is triggering while the solution is being loaded/unfolded.

We're aware that we also have other builds we should avoid such the ConfigChange you're mentioning. And we're evaluating to postpone those changes after the solution is fully loaded or imp

[2018-12-12 13:40] mrward opened #7628 "NuGet 4.9 seems to ignore fallback folders when restoring"
## Details about Problem

NuGet product used (NuGet.exe):

NuGet version (4.9.1 and 4.9.2):

dotnet.exe --version: 2.1.302

VS version: N/A

OS version: macOS 10.13.6

Mono: 5.18.0.209 (2018-08/7b9d9b3f1ba Tue Nov 20 07:04:23 EST 2018)

MSBuild: 16.0.40-preview+g105cb8a157 for Mono

Worked before? If so, with which NuGet version: 4.8.1

## Detailed repro steps so we can see the same problem

It se

[2018-12-12 15:33] tmds commented on #6742
@dtivel @rrelyea the PR used to close this issue is performing a workaround for single CPU systems. There is room for improvement.

[2018-12-12 16:55] yevhen commented on #6082
C'mon ((

[2018-12-12 17:01] devlead opened #7629 "NuGet.Core & NuGet.Clients License.txt clarification"
## Details about Problem

NuGet product used: NuGet.Core & NuGet.Clients projects ( https://github.com/NuGet/NuGet.Client/ )
NuGet version; 4.9.2
dotnet.exe --version (if appropriate):  v2.1.6 SDK 2.1.500

Currently when compiling the NuGet.Core & NuGet.Clients projects you get an error because projects use `licenseUrl` element which as of a couple of weeks back with the 4.9.x release is deprecate

[2018-12-12 17:19] jainaashish commented on #6742
Agree, we should still run with this issue and do a better job for slow machines. With that in mind, this issue could also be used to combine all the existing parallel switches or configurations.

[2018-12-12 17:33] JoshClose commented on #6082
Use @skofman1's suggestion. That worked for me.

[2018-12-12 18:25] FeodorFitsner commented on #6082
@skofman1 Am I correct to assume `.snupkg` is doable from/with VS 2017 only or is it the latest `nuget.exe` that works with VS 2015 too?

[2018-12-12 18:34] skofman1 commented on #6082
@FeodorFitsner , the blog provides all the details on this. You will need to build your code using VS 2017 15.9 to generate the PDBs. There were changes to the compiler in 15.9 that are required.

[2018-12-12 18:40] FeodorFitsner commented on #6082
OK, what about VS 2015 support with "old" symbol packages?

[2018-12-12 18:50] JoshClose commented on #6082
I'm using VS 2015 but building with `dotnet pack` using the latest dotnet core.

[2018-12-12 18:52] FeodorFitsner commented on #6082
Right, but I'm talking about "traditional" .NET Framework apps.

[2018-12-12 19:08] JoshClose commented on #6082
I build netstandard2.0 and net 45 using `dotnet pack`
[code]

[2018-12-12 19:19] jainaashish commented on #7341
Is it also reproducible on dev box instead if Azure DevOps? and Can someone provide me verbose logs for the issue?

[2018-12-12 19:36] #6455 closed, assigned to nobody

[2018-12-12 19:42] tolgaonbay opened #7630 "NuGet Install NoCache Doesn't Install Latest Prerelease Package"
## NuGet Install NoCache Doesn't Install Latest Prerelease Package

I try to install the latest pre-release package from a nuget server with Prerelease and NoCache parameters, but the nuget install command installs the earlier version of the package from the local cache. Then I clean the local cache and try to install the same package with the same parameters, the latest version is installed as ex

[2018-12-12 20:16] nkolev92 commented on #7627
This is an issue because the VSIX is not signed.
The template tries to load a signed version of the interop assembly which obviously does not exist in this case.

Note that this is known, and if you try to do the same thing with a VSIX from 2 months, you'd see the same behavior.

A signed VSIX sohuld fix it.

[2018-12-12 20:18] nkolev92 commented on #7627
I want to leave this issue open for tracking, so we can check if this ever worked. I will fix the issue title.

This effecrtively means that you can't create an ASP.NET Web App in .NET Framework within the experimental instance.

[2018-12-12 20:57] davkean commented on #7622
How many RefreshReferencesAfterRestore per project do you see? They have to eventually happen if Restore is involved, regardless of when it occurs.

To make progress here we need traces so that we talking about exactly the same thing. I think my definition of solution load and your definition of solution load might diff.

[2018-12-12 21:37] mythz opened #7631 "Can't export unused PackageReference to generated .nuspec"
I'm trying to migrate to using MSBuild Pack support for using .csproj to building NuGet package where I'm using local .dll's to build the project which I want to replace/swap to reference an external NuGet package in the generated .nuspec.

The closest documented example of this I could find is [Replacing one library from a restore graph
](https://docs.microsoft.com/en-us/nuget/reference/msbuild-t

[2018-12-12 21:52] jwyglendowski-precisionlender commented on #7613
Using nuget.config with encrypted credentials works for me as long as I put quotes around my password when I use nuget sources add. What drove me to using credential providers because I could only get clear text to work with nuget sources.

[2018-12-12 21:52] #7613 closed, assigned to nobody

[2018-12-12 22:37] ScottyMacDev commented on #6625
Hi,

I believe I am encountering the same situation in .NET Core 2.0 and 2.1 in Azure DevOps. In the csproj we have the version of a component as 1.0.0--version-- in the Package section as such:

![versioningdotnetcore2](https://user-images.githubusercontent.com/28740640/49902892-3c5af980-fe1a-11e8-9a9a-a54fef7e7f12.JPG)

Then we run a replace tokens on the csproj the RegEx --(\w+)-- and the versi

[2018-12-12 23:50] #7592 closed, assigned to nobody

[2018-12-13 05:34] cristinamanum opened #7632 "Cannot publish symbol package for .NET Core Global Tool"
This was a bug where the PackageTypes were not being cleared for the snupkgs.
The snupkgs can/should only contain 1 package type, which is not combinable with other package types (similar to DotnetTool).

Original Comment text:
This is a copy of issue:
https://github.com/NuGet/NuGetGallery/issues/6743
As discussed the pack command for snupkg will ignore all the packageTypes but SymbolsPackage.

[2018-12-13 07:09] ffMathy commented on #6873
Also, are there any updates on this? How long does the review phase typically take? Is this still being prioritized?

[2018-12-13 07:19] Blue1992 opened #7633 "Error in Package Manager Console"
Hello

For days and days I have been struggling with the following: In the Package Manager Console (VS 2017), I get the following error when trying to do this:

Install-Package Microsoft.AspNet.Providers.LocalDB -Version 2.0.1.

The error is: 'Unable to find version 2.0.1 of Microsoft.AspNet.Providers.LocalDB'. According to the discussion here, [](https://stackoverflow.com/questions/31082137/unabl

[2018-12-13 08:21] eriawan commented on #7621
@JacobSnyder wow, thanks! I was having these problems since two days ago and I was going to write new issue, but you have beaten me 🙂

Thanks for reporting this with detail repro! 👍

[2018-12-13 08:25] eriawan commented on #7621
FYI, this issue won't happen if I have both VS 2017 15.8.x and VS 2017 15.9.x preview. After installing VS 2019 Preview, this issue happens and **it always be reproducible**.

cc @rrelyea @anangaur @nkolev92

[2018-12-13 12:45] lorond opened #7634 "project.assets.json with invalid targets generated in case of different target platforms on different configurations"
## Description
When AnyCPU set on Debug configuration and x64 on Release configuration there is no way no generate `project.assets.json` with valid `targets` other then set x64 on Debug configuration too.

## Environment
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe
NuGet version (x.x.x.xxx): 4.7.1.5393
dotnet.exe --version (if appropriate): 2.1.502
VS v

[2018-12-13 14:49] virasana commented on #3042
Upgraded from .Net Core 2.0 to 2.1 by installing the .Net Core 2.1 SDK.  Upgraded to Visual studio 2017 15.9.4 The same issue occurs.

[2018-12-13 15:32] bording commented on #7617
@kzu Perhaps I'm missing something, but how would this be a replacement for `install.ps1`? Install was an action that occurred once, so `install.ps1` was executed once.

With PackageReferences there is no install step, everything is a restore. Restores happen all the time, not just once. If you ran logic in your proposed AfterRestore step, it would get run much more often than the old `install.ps1

[2018-12-13 15:51] lorond commented on #7634
And when project is not selected to be built for Debug configuration but selected for other, file `project.assets.json` not generated at all.

[2018-12-13 15:58] jherby2k commented on #7509
You shouldn't have generated the warning until the feature was ready to be deprecated. This is just causing everyone's wheels to spin unnecessarily. Oh well.

[2018-12-13 19:13] jainaashish commented on #7634
In your current repro, If I build/restore with `Debug` configuration, then It has `win7-x86` target from either VS or dotnet commandline. And if build/restore with `Release` configuration then it has `win7-x64` target from both VS or dotnet commandline.

Now, if you want the `win7-x64` target for both `Debug` and `Release` configuration then set `<RuntimeIdentifier>win7-x64</RuntimeIdentifier>` in

[2018-12-13 19:20] jainaashish commented on #7633
It seems the bottom of the issue is you already have a NuGet dependency on `Microsoft.AspNet.Providers.LocalDB` Version `2.0.1` in your current project. So when you try to restore the existing project it fails to get this package from any of the sources. Now I'm not sure how did you get this packages added in your project. This package could be a direct dependency in your project or a transitive d

[2018-12-13 19:47] jainaashish commented on #7631
You can have an explicit `.nuspec` file with your desired behavior and use that to pack your project. But besides that, I don't see this is a valid usecase in itself, what you're saying is PackageB wont consume assembly from PackageC but any one depending on PackageB should consume PackageC assembly. So I'm not sure why you have such requirements.

If your requirement is that you have our own `Pac

[2018-12-13 20:06] mythz commented on #7631
I'm already currently using a custom .nuspec file but the goal is to migrate to use MSBuild generated .nupkg. When I tried using a custom `NuspecFile` it overrode the entire generated .nuspec, I just want to be able to inject the missing dependencies into the MSBuild generated .nuspec. The catalyst to migrating to MSBuild pack is to use SourceLink which injects custom properties in the generated .

[2018-12-13 20:07] jainaashish commented on #7628
There has been a change with nuget 4.9 with dotnet 2.1.5xx and 2.2.1xx so in order to use nuget 4.9 you'd also need to update the dotnet version on your machine. Check your current dotnet version on the disk and upgrade it to the latest or at least above mentioned versions.

But I'll a workitem to update our release notes for nuget 4.9.2 to mention this.

[2018-12-13 20:19] jainaashish commented on #7631
Even MSBuild or dotnet pack can also use an explicit nuspec file to generate nupkg.

Why would you generate a package dependency for an assembly reference? Just set `Pack=true` on that assembly reference which will be added in the generated nuspec as Assembly reference only. And will be added into the generated nupkg file. You can read more about assembly references in nuspec [here](https://docs.m

[2018-12-13 20:24] jainaashish commented on #7626
@anangaur can you take care of this?

[2018-12-13 20:32] mythz commented on #7631
The external .dll's allows us to maintain self-encapsulated projects where we can build external solutions and publish any changes in the local `/lib` folder. The .dll's used for development shouldn't be included in the package, they need to be replaced with the external NuGet package reference that they'll be published under.  The linked docs doesn't show anywhere that I can tell it what NuGet pa

[2018-12-13 20:33] nkolev92 commented on #7629
Thanks for filing this @devlead

If you run "build.ps1" you should be able to avoid this.
Or /t:pack on the build.proj itself.

It's something that we plan on doing before the next release.
We are planning on using a license expression.

We need to rework our build scripts a bit before doing that, because right now we are a bit too machine dependent (we use the pack.targets on the build machine).

[2018-12-13 20:37] jainaashish commented on #7625
Dupe of https://github.com/NuGet/Home/issues/7529

[2018-12-13 20:37] #7625 closed, assigned to nobody

[2018-12-13 20:44] jainaashish commented on #7624
You can use `dotnet list package` command to get the similar experience. Design spec# https://github.com/NuGet/Home/wiki/dotnet-list-package

Soon (in next couple of days), we're going to update [dotnet list docs](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-list-reference) to explain this new feature as well.

[2018-12-13 20:49] jainaashish commented on #7623
Project to project references are considered by default as nuget package references, which is why these are included in generated nupkg file. But you can set `PrivateAssets=All` on this ProjectReference to exclude it from being added as nuget reference in resulted nupkg.

[2018-12-13 20:49] #7623 closed, assigned to nobody

[2018-12-13 21:03] devlead commented on #7629
@nkolev92 Ok, I'll try to fork and take a look at this tomorrow.

[2018-12-13 21:15] jainaashish commented on #7621
Another workaround is to specify `MSBuildPath` to the correct msbuild folder like `...\msbuild\15.0\Bin` which will work irrespective of the version.

[2018-12-13 21:24] jainaashish commented on #7619
I'm not able to understand the issue here? it simply put an error message without any more context like where did you encounter this error? what happens when you run an explicit restore? was restore not triggered as part of build? is the issue that restore isn't being triggered or restore not able to resolve this dependency or the wrong error message?

It will help to clearly statet the purpose of

[2018-12-13 21:37] npickett commented on #7623
Perfect, thank you for the response.  Added `PrivateAssets=All` and the referenced project `NugetPackDirectProjectRef` is now removed from the  dependencies.

[2018-12-13 21:38] jbastnagelcwp commented on #7003
I'm having the same issue.

My NuGet.Config:

`<?xml version="1.0" encoding="utf-8"?>
<configuration>
<config>
  <add key="repositoryPath" value="$/../packages" />
</config>
<packageSources>
  <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
</packageSources>
</configuration>
`
Directory.Build.props:
`<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ItemG

[2018-12-13 21:41] jbastnagelcwp commented on #7003
@mishra14 I'm not sure how/if I can re-open this issue.

[2018-12-13 21:49] chenriksson opened #7635 "Add Component Governance detection to builds"
Scope: "Repos that host the source code for any components that ship in one of our primary products (i.e. VS, VS for Mac, VS Code, .NET, TFS, Extensions, OOBs, Services), contain a lot of OSS, or pose an unusual security risk." --> Assuming this means https://github.com/NuGet/NuGet.Client

Requirement is to enable [Component Governance detection](https://docs.opensource.microsoft.com/tools/cg.html

[2018-12-13 21:56] chenriksson opened #7636 "Take 1CS assessment and complete tasks for Dev16"
Date | Action
-- | --
Dec 10 through Jan 22 | Take 1CS assessments   Review & complete the   generated tasks
Jan 22 | Tenet Checkpoint   All tenet work identified, costed, and scheduled to be   done by Dev16 GA.   All known exceptions   anticipated for GA are logged.
Feb 26 | Sign-off on tenets   All tenet work complete.   All exceptions signed off.

Next Steps
1.	Review the requirements for Compl

[2018-12-13 22:22] jainaashish commented on #7003
As it has been multiple times in this thread, and repeating again, `repositoryPath` will be ignored if your project is `PackageReference` type so this is not an issue, rather by design.

Now, when you need to make sure that the project whcih wants to use `repositoryPath`, should not import `Directory.build.props` file. You can either do that by having an empty directory.build.props file at the pro

[2018-12-13 22:23] jbastnagelcwp commented on #7003
My project is not a PackageReference type.

[2018-12-13 22:25] jainaashish commented on #7618
what happens when you do an explicit restore? does it get the missing files on disk?

[2018-12-13 22:28] jainaashish commented on #7617
Agree with @bording this is not that simple. But we need to some replacement for `install.ps1` or `uninstall.ps1` for `PackageReference`. Until then, current workaround is to use msbuild targets to do some of those stuffs as part of build.

[2018-12-13 22:32] jainaashish commented on #7616
We're not sure how do we contribute to the base APEX packages, if there are some links/docs that will be appreciated.

[2018-12-13 22:32] jainaashish commented on #7003
yes but importing this directory.build.props file making it as `PackageReference`

[2018-12-13 22:33] jainaashish commented on #7615
@nkolev92

[2018-12-13 22:34] jainaashish commented on #7614
@PatoBeltran can you help here?

[2018-12-13 22:39] Blue1992 commented on #7633
Many thanks Jainaashish
You have cracked it! I deleted LocalDB from my Packages.config file and restarted VS 2017. Then I did this: Install-Package Microsoft.AspNet.Providers.LocalDB and got this (as it should):

Successfully installed 'Microsoft.AspNet.Providers.LocalDB 2.0.0'

Thanks again!

[2018-12-13 22:41] jainaashish commented on #7611
Both of these parameters will try to resolve all the dependencies and skip machine level cache to download everything from configured NuGet feeds. But if there is no change in the existing `project.assets.json` file then it wont be re-written. There is no way which allows you to force overwriting the assets file because that has much more implications not just on restore but on project system as w

[2018-12-13 22:46] jainaashish commented on #7610
No, there isn't a way. Please explain your scenario here and then we can take it forward based on community feedback.

[2018-12-13 22:51] jainaashish commented on #7609
This is by design because package is already available locally so it doesn't populate global packages folder. Are you facing any issue because of this behavior?

[2018-12-13 23:25] taori commented on #7611
Ok i think i found out what's wrong. It seems like this is a result of updating the projects several times which turned into packages being deployed to different packages folders.

For me the issue occured when i switched branches in VS, which altered the folder structure, suddenly destroying nuget references for some dependencies.

While some packages referenced nuget packages like  ..\packages\p

[2018-12-13 23:26] jmarolf commented on #7616
Apex source lives [here](https://devdiv.visualstudio.com/DevDiv/_git/VS?path=%2Fsrc%2FOmni%2FApex&version=GBlab%2Fd16.0stg)

documentation is [here](https://microsoft.sharepoint.com/teams/DD_OMNI/Apex/Home.aspx)

Sadly these are closed-source

[2018-12-14 01:12] PatoBeltran commented on #7556
I created a PR to improve the test. We should not rely on an external service for our tests, and we already have enough automated coverage for this scenario.

@v-longmin can you delete this test from our signing manual test matrix?

[2018-12-14 03:25] jaurenq commented on #4254
Just wanted to point out here that project templates for use with "dotnet new" are a use case for this.  If you follow the instructions here...

https://docs.microsoft.com/en-us/dotnet/core/tutorials/create-custom-template

...they mostly make use of the dotnet cli, but the template is packaged up for nuget **as content**, rather than being built to **create content**, and the instructions to do t

[2018-12-14 09:21] GioAbq opened #7637 "LF endings in .csproj are breaking migration to PackagesReference"
## Details about Problem

NuGet product used: **VS UI**

NuGet version (x.x.x.xxx): **4.6.0**

VS version (if appropriate): **15.9.4**

OS version (i.e. win10 v1607 (14393.321)): **win10 v1803 17134.471**

## Detailed repro steps so we can see the same problem

1. Create .NET Framework project

2. Install any NuGet package via packages.config

3. Change .csproj file line endings from CRLF to LF

4

[2018-12-14 10:10] ioancrisan opened #7638 "The new option "-SymbolPackageFormat snupkg" generates an error when the .nuspec file contains an explicit assembly reference element"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used: NuGet.exe.

NuGet version: 4.9.2

OS version: win10 v1803

## Detailed repro steps so we can see the same problem

1. The content of the .nuspec file (somehow I cannot attach a zip)

[code]

2. The ps1 file content (part of):
$build = "Release"
$version = "5.0.0"
$refversion = "5.0.0"
.\N

[2018-12-14 10:25] mrward commented on #7628
Thanks. After installing .NET Core 2.1.502 both nuget.exe (4.9.2) and VS Mac using NuGet 4.9 work as expected.

[2018-12-14 10:31] virasana commented on #3042
Confirm that deleting the ComponentCache and restarting Visual Studio fixed it for me:

Visual Studio Version: VS 2017 15.9.4
C:\Users\<me>\AppData\Local\Microsoft\VisualStudio\15.0_b4a85ab0\ComponentModelCache <== DELETED
Restart Visual Studio and all working.

[2018-12-14 11:04] StingyJack commented on #7610
Specifically, I want to prevent the System.Collections.Immutable package versions greater than 1.3.1 from being included. If the package is already installed I can use allowedVersions to restrict it  If its not yet installed I dont have a way to prevent it.

I want to prevent that as versions after that are netstandard target and bring a [ton of baggage ](https://github.com/dotnet/standard/issues/

[2018-12-14 11:24] quasarea commented on #7262
any news about syncing those things?
there is 4.9.2 already available and if this package does not keep up it should be obsoleted as now it is just misleading.

[2018-12-14 11:36] pascalberger commented on #7262
@quasarea 4.9.2 is not blessed/recommendet yet, I expect that they will update the nuget.commandline package once it is blessed. 4.8.1 is still the recommendet version, but due to release issues with this version, nuget.commandline is still on the previous recommendet version which is 4.7.1

[2018-12-14 17:55] bergbria opened #7639 "restore unnecessarily enumerates the contents of all versions of referenced package in the machine cache"
## Details about Problem

Suppose
* Versions 1 and 2 of package PkgFoo are both present in my global packages cache
* .csproj P contains a PackageReference for PkgFoo version 1

If I run `dotnet restore` on P, dotnet.exe should theoretically only need to access the cached files for version 1. However, it will also recursively enumerate all the directories in the cache for version 2.

In general, t

[2018-12-14 19:32] PatoBeltran commented on #7614
hey @mholo65 I was looking into this, the idea is that if you want to implement `ISettings`, you should be able to implement the whole thing, and not necessarily take some of the decisions we used when doing our internal implementation.

I see that for your case you only want to mock it for testing purposes. From what I see there could be two options in how to solve this:

1. Update `Clone()` to b

[2018-12-14 20:17] #7556 closed, assigned to nobody

[2018-12-14 20:52] bjorkstromm commented on #7614
@PatoBeltran, thanks for looking into this. Option 1) making it public is probably the best option. Want me to send a PR?

[2018-12-15 00:36] jainaashish commented on #7639
Global packages folder is not just a cache, but instead also treated as local feed for restore or installation which is why it enumerates all the versions of dependent package to built the metadata. So this is kind of a design limitation at this point since it understands all the available versions before starting to resolve dependencies.

can you give me real scenario of correctness issue instead

[2018-12-15 00:38] jainaashish commented on #7638
@nkolev92 is this also related to https://github.com/NuGet/Home/issues/7632?

[2018-12-15 01:02] nkolev92 commented on #7638
@jainaashish No, it's not related.

[2018-12-15 01:03] nkolev92 commented on #7639
Another way to think about it, is that in PackageReference, the global packages folder is **the** installation directory.
You won't find the package extracted fully in another place on disk.
It's consumed from that folder during build.

[2018-12-15 03:20] ericnewton76 commented on #4532
Okay. So we're still tracking this bug.  And I bet its far down on the Github issues page because its so old.

Sigh.

[2018-12-15 20:04] clairernovotny opened #7640 "Package bloat with duplicate native files (global tools)"
With .NET Core global tools, they are tied to the major version of the framework. They will auto roll-forward to the minor, so if you have a `netcoreapp2.1` tool, if .NET Core 2.2 is the only one on the box, it'll work. However, if .NET Core 3 is the only one on the box, it'll fail under the current roll-forward policy.

That means tool authors will need to multi-target at least each major version

[2018-12-15 20:24] dotMorten commented on #7640
Just solve that with a .targets file instead that deploys the native resources.
IMHO the issue here isn't to have a way to handle duplicate files more efficiently, but to avoid needing duplicate files instead.

[2018-12-15 20:25] clairernovotny commented on #7640
@dotMorten That doesn't work with the way `runtimes/tfm/RID/` works today. Publish takes all those outputs and bundles them up. You'd have to go to tremendous effort to work around it.

[2018-12-15 20:56] dotMorten commented on #7640
Are you thinking something like this in the nuspec?
[code]
I do see how something like that could avoid a bit of the .targets hoopla I currently do.

[2018-12-17 02:43] XtroTheArctic opened #7641 "Package is stuck in validation for hours"
Package is stuck in validation for hours :(

https://www.nuget.org/packages/Atesh.BindableProperties

[2018-12-17 02:58] v-longmin commented on #7556
@PatoBeltran we have deleted this test from our signing manual test.

[2018-12-17 05:57] ranjan-2209 opened #7642 "package not shown in Nuget packages in Solution"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 5.0.0.5663

VS version (if appropriate): Community 2017

OS version (i.e. win10 v1607 (14393.321)): Windows 10 Enterprise 1803 17134.471

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Add many projects in one solution

2.

[2018-12-17 09:23] v-luzh opened #7643 "[Test Failure][Doc] Clicking error link NU3037 in VS Error List window goes to the wrong page"
## Details about Problem
NuGet version: NuGet Client Dev\5.0.0.5728
VS Version: D16.0\28414.68
OS Version: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps
1. Create a new test certificate:  .\CreateTestCertificate.ps1 -AddAsTrustedRootAuthority -NotAfter "2018-12-16 23:32:00" (one minute after current time)
2. Before the test certificate expires, sign a package:  `NuGet.exe sign

[2018-12-17 09:25] v-longmin commented on #7627
@nkolev92 The issue does not repro on D16.0 28414.68 + NuGet Client Dev\5.0.0.5728.

[2018-12-17 10:00] nkolev92 commented on #7627
@v-longmin
The issue is not a product bug, rather whether the VSIX was signed or not signed.
It is only about improving the day-to-day workflows of the team.

[2018-12-17 13:00] tmds commented on #6742
@dtivel can you re-open the issue?

[2018-12-17 15:29] wfuller commented on #7618
No it doesn't do anything; that was what was so weird.
However, I have since resolved the problem another way - by removing from the project and then adding back the package that was depending on the BCL.

[2018-12-17 16:36] livarcocc opened #7644 "dotnet restore hangs on a TFS build agent"
_From @mmisztal1980 on December 17, 2018 12:40_

## Steps to reproduce
Here's our build log obtained with **dotnet restore -v diag**
https://gist.github.com/mmisztal1980/6ce8e016da620efbf0aa4693d4bc85b9

## Expected  behavior
We expect our build agent to complete this step (TFS dotnet task  v2.*, targeting **/*.csproj (linked by default))

## Actual behavior
The build appears to hang after iterati

[2018-12-17 16:45] nguerrera opened #7645 "[3.0.100-preview-009791] 'dotnet pack' uses intermediate output files for embedded resources"
_From @GeertvanHorrik on November 29, 2018 13:42_

I am updating all the build scripts to use the 3.0 SDK, and most of it is working, except the embedding of resources.

[code]

Note that these builds were succeeding with the 2.x SDK stuff.

I am adding a custom output directory, here are the properties specified for the build (using Cake):

[code]

This has worked perfectly, but with the update t

[2018-12-17 16:45] nguerrera commented on #7645
_From @GeertvanHorrik on November 29, 2018 14:22_

Doing some additional investigation with diagnostic output of MSBuild while executing Dotnet pack:

[code]

[2018-12-17 16:45] nguerrera commented on #7645
_From @GeertvanHorrik on November 29, 2018 14:39_

Trying to enforce overriding the intermediate output path:

[code]

Alsmost seems to work, getting this:

`C:\Source\orc.analytics\output\Release\Orc.Analytics\$(TargetFramework)\de\Orc.Analytics.resources.dll`

[2018-12-17 16:45] nguerrera commented on #7645
_From @dasMulli on November 29, 2018 15:5_

does it change when you don't set `NoBuild=true`?

This looks like a custom property, how do you use it inside the project file?

[2018-12-17 16:45] nguerrera commented on #7645
_From @GeertvanHorrik on November 29, 2018 15:6_

When I set NoBuild = false, it will probably (re)build the project, but I want to prevent it because it's already built (and analyzed using SonarQube, etc).

It's a custom property which I enabled for some workarounds:

[code]

[2018-12-17 16:45] nguerrera commented on #7645
_From @GeertvanHorrik on November 29, 2018 15:23_

Got it working!

1) For local builds, I "simulate" the build agents by deleting the dll from the obj folders, but always do a restore to ensure projects.assets.json
2) Explicitly set a custom property on msbuild for the Dotnet pack:

[code]

3) In a targets file, use this:

[code]

Here is the result:

![image](https://user-images.githubuserconten

[2018-12-17 16:45] nguerrera commented on #7645
_From @GeertvanHorrik on November 29, 2018 15:24_

Btw, this shows a workaround, I still think it's weird that packaging with `nobuild=true` somehow requires the /obj/release folders.

[2018-12-17 16:50] jainaashish commented on #7618
Not sure what you mean by this? A sample repro solution explaining the issue or your current workaround will help better understand the issue.

[2018-12-17 17:08] #7489 closed, assigned to nobody

[2018-12-17 17:20] DoCode commented on #7603
Any news here?
This blocks the 2.2.100 RTM release for production!

[2018-12-17 21:16] nkolev92 commented on #5835
@Yusha813

It's marked ClosedAs:Duplicate.
Follow #3324 for updates.

[2018-12-17 21:19] PatoBeltran commented on #7614
@mholo65 if you can send a PR I would appreciate it!

[2018-12-17 22:00] kzu commented on #7622
Related bug triggered by this restore and its "eagerness": https://devdiv.visualstudio.com/DevDiv/_workitems/edit/753071.

I think it would be useful for nuget to queue all such nominations that happen before `IVsSolutionLoadEvents.OnAfterBackgroundSolutionLoadComplete` and essentially discard all except one (since it does a solution restore anyway) so a single restore is done after that event. Th

[2018-12-18 00:27] mattleibow commented on #2662
Reopened this with https://github.com/NuGet/NuGet.Client/pull/2572

[2018-12-18 00:30] bergbria opened #7646 "'--locked-mode / RestoreLockedMode' causes spurious Restore failures when ProjectReferences are involved"
## Details about Problem

dotnet.exe --version (if appropriate): 2.2.100

## Detailed repro steps

1. Create 2 .csproj files targeting netstandard2.0 using the vanilla VS templates (say dll.csproj and exe.csproj)

2. Add a project reference from one project to the other (say exe.csproj references dll.csproj)

3. `cd` next to the referencing project (exe.csproj)

4. `dotnet restore --use-lock-file`

[2018-12-18 01:08] PleasantD commented on #7400
We are fixing the version limits for packages. The auto-generated nuspec file doesn't allow us to lock things to semantic versioning and we have a very automated process. We are also fixing build script inheritance for our packages.

The simple method to solve this was a custom build task that unzips the generated nupkg, updates the nuspec file inside, and re-zips everything. This works fine... ex

[2018-12-18 01:16] replaysMike commented on #7601
IMO this is a bad behavior. It is very common to include an extension-less LICENSE file along with the repo.

[2018-12-18 01:43] wli3 opened #7647 "NuGet should not print project path during restore with minimal logging"
So during global tools install when `--verbosity:minimal` the output does not contain temp project's path. nuget can identify temp project by using `RestoreProjectStyle` being `DotnetToolReference`

@rrelyea @nkolev92 action item from 12/17/2018 meeting

[2018-12-18 01:45] nkolev92 commented on #7647
@wli3
We can probably suppress the full message if we wanted to.

We can discuss when we get to the implementation.

[2018-12-18 01:46] wli3 commented on #7647
That's also fine or even better. Maybe whatever is easier to implement

[2018-12-18 01:47] nkolev92 commented on #7647
Note that this change is "related" to https://github.com/NuGet/Home/issues/4695.

That other issue needs done as before this will be considered complete.

[2018-12-18 01:55] natemcmaster opened #7648 "RestoreTask is not "thread safe" - NuGet restore fails with "Cannot create a file when that file already exists" when restore invoked in parallel"
Invoking the "Restore" target on projects in parallel leads to a race condition in committing the restore result to disk. This appears most often as the result of developers writing their own MSBuild targets and using the `<MSBuild>` task to invoke Restore.

The only workaround I could find was to avoid this calling pattern completely. Instead, you can call the the 'restore' target in NuGet.target

[2018-12-18 02:04] loic-sharma commented on #7573
@PatoBeltran All Microsoft owned packages on NuGet.org now have an uppercased "Microsoft" listed as an owner in the repository signature metadata.

[2018-12-18 06:31] nkolev92 commented on #7629
@devlead I have a PR out to move to the license expressions.

The 2nd part of this issue is addressing the content of the license in our repo itself, so the PR won't auto close it.

[2018-12-18 06:55] devlead commented on #7629
Excellent 👍

[2018-12-18 08:48] GanesanRengasamy opened #7649 "NuGet downgrade issue"
Hi Everyone,

I have installed the third party NuGet packages  with the latest version and all the dependent NuGet packages are installed successfully and I have faced some issues in my project.

So, I have decided to downgrade the packages to the lowest version. I have tried to downgrade the packages to the  lowest version in my WPF application. But the dependent packages are not downgrade to the

[2018-12-18 09:49] v-longmin opened #7650 "[Bug Bash][Test Failure]The web page of https://github.com/wwizz/CrossBase cannot be found when clicking the link of Project URL"
## Details about Problem
VS Version: D16.0stg 28417.07
OS Version: 17763.RS5_Release.180914-1434.
NuGet Version: Dev\5.0.0.5728
## Detailed repro steps
1. Launch VS and create a new C# iPad Blank App project.
2. Build Solution and open PM UI in Explorer Solution window.
3. Search ‘CrossBase’ in the filter of Browse tab and click a searched package.
4. Click the link of Project URL: https://github.

[2018-12-18 11:16] codebased commented on #2880
in 2018 we are still struggling to resolve a proxy issue. Microsoft Visual Studio does not either provide an option to define a proxy location. You have to manually go to devenv config to set this up.
Nuget issue is still not resolved after spending 2 hours. !!!

[2018-12-18 13:42] yuefengkai commented on #5358
###  Restarting docker on my windows system resolved it for me.

[2018-12-18 15:37] lorond commented on #7634
I fount no information about passing msbuild parameters to dotent cli neither in cli help nor in msdn. Didn't expect it possible.

It works fine with `/p:Configuration=Release`. However it worth to note somewhere about passing msbuild parameters and so on.

@jainaashish I guess issue could be closed.

[2018-12-18 15:50] rainersigwald commented on #7648
I think there's another problem here beyond the race: if I understand the restore operation correctly, the _results of restore_ can differ when invoked for different project graph subsets, because a supergraph can result in a different solution to the diamond-dependency-resolved closure of package references.

[2018-12-18 17:02] #7634 closed, assigned to nobody

[2018-12-18 17:46] Flavien commented on #5602
I have a problem with this feature. When running on my dev environment (Windows), the `contentHash` of some packages is different from the one on my build environment (LXSS). For example, on Windows:

[code]

But on Ubuntu (LXSS):

[code]

So of course, trying to restore on the build environment fails, and if I delete the lock file on the build environment, it gets recreated with different `conten