[2016-08-18 21:27] workabyte commented on #1137
been having this issue for a long time myself
[edit] not sure how my comment unassigned @deepakaravindr .....

[2016-08-18 22:34] abatishchev commented on #3125
Yes, this seems to fix the issue. I'll come back on this if it does not. Thanks!

[2016-08-18 22:34] #3125 closed, assigned to jainaashish

[2016-08-18 22:44] natemcmaster opened #3337 "Matches of recursive pattern differ by OS"
## Steps to reproduce

Create a nuspec with a file pattern such as

[code]

Call the "pack" command using NuGet.CommandLine.XPlat 3.6.0-beta1-1763
## Expected

All files in `<working directory>/tools/` are put into `<nupkg>/tools/`
## Actual

Linux: All files in `<cwd>/tools/` are put into `<nupkg>/tools/`
Windows: All files in `<cwd>/tools/` are put into `<nupkg>/tools/tools/`

[2016-08-18 23:02] fahadash commented on #2298
Is this fix up on the VS Extensions and Updates manager? I looked for updates on Nuget Package Manager and found nothing.

[2016-08-18 23:49] yishaigalatzer commented on #2298
@fahadash  Yes, what version do you have installed?

[2016-08-19 01:26] ghuntley commented on #352
Yes please, this would be fantastic. Please only require single size (biggest) and do your conversion using NuGet.exe at the pack stage which then creates the needed sizes for display in the NuGet.org gallery and Visual Studio/Xamarin Studio. Potentially use the most excellent library by @imazen (ImageResizer.NET) within NuGet.exe?

[2016-08-19 01:29] ghuntley commented on #352
- Yes please, this would be fantastic.
- Please only require single size (biggest) and do your conversion using NuGet.exe at the pack stage which then creates the needed sizes for display in the NuGet.org gallery and Visual Studio/Xamarin Studio which uses this by default.
- By using the embedded image by default in Visual Studio/Xamarin Studio it prevents network profiling/leakage of which packag

[2016-08-19 01:30] ghuntley commented on #352
- Yes please, this would be fantastic.
- Please only require single size (biggest) and do your conversion using NuGet.exe at the pack stage which then creates the needed sizes for display in the NuGet.org gallery and Visual Studio/Xamarin Studio which uses this by default.
- By using the embedded image by default in Visual Studio/Xamarin Studio it prevents network profiling/leakage of which packag

[2016-08-19 01:51] mishra14 commented on #3289
Updated UI - [spec link ](https://github.com/NuGet/Home/wiki/Add-Clear-Cache-button-to-VS-Package-Manager-options)

![2016-08-18 7](https://cloud.githubusercontent.com/assets/10507120/17796340/96a187d8-6574-11e6-808b-077eab738780.png)

![2016-08-18 8](https://cloud.githubusercontent.com/assets/10507120/17796346/9c0885f0-6574-11e6-8843-3259e40d0180.png)

![2016-08-18 9](https://cloud.githubusercont

[2016-08-19 02:51] harikmenon commented on #3289
Looks good. Minor feedback.

Th button and the last option has a huge gap, make it consistent with the size of the current groups.

The link to the doc should be a hyperlink not text.

[2016-08-19 13:41] colelloa commented on #3259
Hey,

So I have been trying to optimize my connection by using a single TCP session  (specifically I am using the python 2 package requests.Session(), if that matters) for my many GET requests to the API.

After a few hours or so with this constant session active, I get a "connection reset by peer" socket error indicating the server has sent an RST bit.

Do you have any insight as to what may be g

[2016-08-19 13:58] patrickjamesbarry commented on #3251
I did. I disabled it and problem persist.

On Thu, Aug 18, 2016 at 4:46 PM, Rob Relyea notifications@github.com
wrote:

[2016-08-19 14:02] fahadash commented on #2298
@yishaigalatzer  I have 3.4.4.1321 . I installed VS 2015 Update 2 and it works fine now. Thanks.

[2016-08-19 14:24] vphad opened #3338 "NuGet throws Unable to connect to Remote Server & Version not found"
Hi Team,
When trying NuGet restore sometimes we get this Warning Message followed by Unable to find version,

cmd>NuGet restore My.sln -NoCache
WARNING: Unable to connect to the remote server
WARNING: Unable to connect to the remote server
Unable to find version '2.0.3930.0' of package 'DocumentFormat.OpenXml'.
Unable to find version '4.157.1212.0' of package 'Sybase.AdoNet4.AseClient'.

The above

[2016-08-19 15:00] rrelyea commented on #3338
What version of nuget.exe are you using?
What sources are configured? (characterize them...types of servers, location (corporate, internet, etc...), etc...)

[2016-08-19 15:04] rrelyea commented on #3332
Package authors should design icons that work with a variety of background.
#PackageAuthorGuidelines

[2016-08-19 15:04] #3332 closed, assigned to nobody

[2016-08-19 15:06] rrelyea commented on #3328
Can you move to v3 apis?
there may be a solution with NuGet.Core, but people should be moving to v3.

[2016-08-19 15:08] rrelyea commented on #3327
What version of NuGet.exe are you trying to run?
If you upgrade to a newer version (see http://nuget.org/downloads), does that work better?

[2016-08-19 15:10] rrelyea commented on #3324
We do not yet support long paths in NuGet.
https://channel9.msdn.com/Shows/On-NET/Jeremy-Kuhne-long-path-support has some details on new .net framework support for it. We'd like to support this in the future.

[2016-08-19 15:11] rrelyea commented on #3323
What version of NuGet are you using? (I'm assuming 3.4.4 in VS2015, but please verify)

[2016-08-19 15:18] rrelyea commented on #3319
Kinect nupkgs should work fine with .NET Framework.
If you goal is to use speech APIs, this package may help: https://www.nuget.org/packages/Microsoft.Kinect

(i'm a bit out of date on kinect APIs, but used to be on the team.)
This discussion forum may help: https://social.msdn.microsoft.com/Forums/en-US/home?forum=kinectv2sdk

[2016-08-19 15:19] MscrmTools commented on #3328
Nuget.Core is easy to use with a strong typed model object. Is there anything similar with v3? BTW, when you talk about v3, is there a .Net library?

[2016-08-19 15:23] #3319 closed, assigned to nobody

[2016-08-19 15:26] AndreyAkinshin commented on #3324
@rrelyea, why did you drop the `IFileSystem` approach? We worked with NuGet 2.x + long paths for a long time. But we can't do it anymore because there is no `IFileSystem` in NuGet 3.x.

[2016-08-19 15:27] rrelyea commented on #3318
Going back and forth with @v-atian on how to attach to that machine.

[2016-08-19 15:39] taimur38 commented on #3319
@rrelyea thanks for the links and all the help @zhili1208 -- really appreciate it

[2016-08-19 15:41] rrelyea commented on #3317
yes, target project is still valid.
in the future, we plan to move projectreferences to csproj ... so this is short lived with preview2 of the tooling.
NuGet code running in VS parses those fragments with this code: https://github.com/NuGet/NuGet.Client/blob/e2b7161273f13bf3e51023a3b109c3eb5eabd318/src/NuGet.Core/NuGet.ProjectModel/JsonPackageSpecReader.cs#L389

[2016-08-19 15:41] #3317 closed, assigned to nobody

[2016-08-19 15:48] lukepuplett commented on #1021
Why is this closed?

I'm struggling to see how the three commits fix the issue. The commits concern _._ empty contentFiles folders. The contentFiles feature is only for project.json projects.

I am trying to create a private package with just files and its failing to install on VS2015 with NuGet 3.4.4.1321.

http://stackoverflow.com/questions/39022761/how-do-i-create-a-nupkg-that-just-contains-fil

[2016-08-19 15:49] rrelyea commented on #3310
If you look at mvvmlight 5.3.0, you'll find: ".nuget\packages\mvvmlight\5.3.0\Content\ViewModel\ViewModelLocator.cs.pp"
This is why this would be a problem in a vb project.
Closing as "PackageInappropriateForProject"

[2016-08-19 15:49] #3310 closed, assigned to nobody

[2016-08-19 15:55] rrelyea commented on #3295
Rohit had a support request for a customer that had many things to unlist.
We ended up helping him write a script, but our server UI should be enhanced to support this better.

[2016-08-19 15:57] rohit21agrawal commented on #3295
Current workaround for doing this through a script :

Powershell :

[code]

Ruby : https://gist.github.com/haf/760ac442e309b94bd891656444ef5615

[2016-08-19 15:59] rrelyea commented on #3298
@jainaashish  - can you please remind me which versions of NuGet have this problem?

[2016-08-19 16:05] rrelyea commented on #3328
To learn more about the APIs, I might recommend Dave Glick's posts from May/June 2016 here: http://daveaglick.com/tags/nuget

v3 packages have .NET Core or .NET Framework libraries.

[2016-08-19 16:05] #3328 closed, assigned to nobody

[2016-08-19 16:07] daveaglick commented on #3328
@MscrmTools I'd be happy to answer any questions I can about general usage of the libraries. Just drop me a line over in the comments of the relevant blog post.

[2016-08-19 16:09] jainaashish opened #3339 "Install tab at solution level doesn't show package's version"
Open package management ui at solution level which has 4-5 projects and multiple packages installed. Move back and forth from install tab to update tab and come back to install tab, now it will not show version details for any of the package. Also if clicked any specific package, it doesn't show version list in details.

Repro with 3.5.0-rc1 and dev branch
Not repro with 3.5.0-beta2

[2016-08-19 16:10] MscrmTools commented on #3328
I'm just reading your blog now and it is very instructive! I will perform some tests and let you know if I need help

Thank you

[2016-08-19 16:10] patrickjamesbarry commented on #3251
- I uninstalled Xamarian Studio, Mono and nuget.
- I then installed latest mono from homebrew.
- Nuget was not found on command line.
- I then installed Xamarian Studio
- Xamarian Studio complained that it did not find Mono. Apparently
  homebrew installs a version that Xamarian does not like (64bit vs 32?)
- I then uninstalled mono with Homebrew and installed latest mono from
  Mono website.
- Xa

[2016-08-19 16:12] rrelyea commented on #1021
@lukepuplett  - can you please open a new issue with details, and link to this one.

[2016-08-19 16:14] rrelyea commented on #3339
We'd like to have all 3.5rtm vsix issues addressed by mid next week.

[2016-08-19 17:00] lukepuplett commented on #1021
Hi Rob, thanks for the prompt response. I've given up on it, sorry. Obviously, I found it tough going, but I've had a change of heart as to using a NuGet package in the way I was going to use it, I think a Git submodule or some TeamCity trick will be a better solution.

[2016-08-19 17:29] zhili1208 commented on #3251
@patrickjamesbarry  thank you, good find. I compared the code between NuGet 2.12 and 3.4, the difference is 3.4 added one more header ( request.Headers.TransferEncodingChunked = true;) So I can remove that line and get a private build, could you help to verify that build? Please send email to me(lzhi@microsoft.com), I can give you the build.

[2016-08-19 17:53] emgarten commented on #3259
nuget.org v3 uses Azure CDN on top of Azure storage, so there isn't anything specific to NuGet that would cause this.

[2016-08-19 18:01] rrelyea commented on #3251
If this does turn out to be the problem, this may be a mono bug?
This post discusses some mono problems in this area:
- http://stackoverflow.com/questions/24613769/downloadstring-and-httpwebresponse-is-not-returning-the-full-json-content

if that turns out to be the case, we could work with @mrward

[2016-08-19 18:31] CvilleDev opened #3340 "NuGet.Server - Long Delay in Package Showing in Feed When .nupkg Copied to Packages Directory"
We are seeing a delay of up to 45 minutes between when a .nupkg is copied to the Packages directory for our internally hosted remote NuGet feed and when that package shows as available in the feed. It appears that the packages are not being immediately processed and filed to the appropriate package-specific subfolder within the Packages directory.

The only way that we have found to force the proc

[2016-08-19 18:46] drewgillies opened #3341 "Add nuget command to dotnet cli"

[2016-08-19 18:53] patrickjamesbarry commented on #3251
No dice on the custom build.
(I did  notice that you guys do not accept "-s" anymore for source. Now I
have to spell it out.  Will you be bringing back the -s so it does not
break current scripts using that command?)

On Fri, Aug 19, 2016 at 2:01 PM, Rob Relyea notifications@github.com
wrote:

[2016-08-19 19:00] harikmenon commented on #3287
@karann-msft  - cn you own this?

[2016-08-19 19:01] maartenba commented on #3340
Can you enable tracing (system.diagnostics) in web.config and see if there are any exceptions after copy? Alternatively you can use NuGet.exe push to immediately invalidate the cache.

[2016-08-19 19:01] zhili1208 commented on #3297
did more investigation. I was wrong before.
1. this is not related to packages.config or Project.json, only related to source type(v2, v3, UNC/local)
2. we never cache pacakges on disk for all packages from UNC/local paths. Actually we cache packages from UNC/local sources in memory before 3.5 (that's why I was wrong before, I didn't notice those cached packages are never wrote to disk)

[2016-08-19 19:11] zhili1208 commented on #3251
thank you, you can file a bug for "-s" support. NuGet doesn't do any magic things around push, just send HttpRequest, we might need help from mono. @mrward

[2016-08-19 20:55] ChristopherHaws commented on #545
I would really like to see this functionality as well. Currently we are packing the dacpac's as content and using a powershell script to add the reference to the sqlproj file. Would love to see this become a first class citizen. :+1:

[2016-08-19 21:16] emgarten commented on #3259
This sounds reasonable for any web server, you should handle this and retry on the client side.

[2016-08-19 21:49] DougWest commented on #3327
Version 3.4.4.1321 of nuget.exe, the newest general release. Downgrading to 3.2.0 gets a similar error.

[2016-08-19 22:15] TheRealPiotrP opened #3342 "Allow transitive dependency NuPkgs with .targets to be available in MSBuild"
Consider the following dependency graph:

[code]

PublishTargets.nupkg provides a Publish.targets and BuildTargets.nupkg provides a Build.Targets.

In Publish.targets we have a:

[code]

In Build.targets we have a:

[code]

Today, only Publish.targets will be added to foo.csproj. It would be great to enable the top-level dependency on publishtargets.nupkg to transitively bring in buildtargets.nupk

[2016-08-19 22:48] kingerja opened #3343 "Pack Failure: Failed to retrieve information from remote source 'd:\dump\nuget\issues\x\packages'."
When running nuget pack under some situations such as not having a nuget.config to load the above error occurs.

Additional info:
[‎8/‎19/‎2016 3:35 PM] Zhi Li:
I found out the reason, because NuGetPackages folder doesn't exist on my disk, nuGet try to get information from that folder

[2016-08-19 22:49] kingerja commented on #3343
Repro steps:
robocopy \joshking-main\dump\nuget\issues\3343 d:\temp\nuget\issue\3343
cd /d d:\temp\nuget\issue\3343
nuget.exe pack GatedBalance.csproj

[2016-08-19 22:50] kingerja commented on #3198
Local repro found.
Make sure you have a clean nuget cache then do the below:

robocopy \joshking-main\dump\nuget\issues\3198 d:\temp\nuget\issue\3198
cd /d d:\temp\nuget\issue\3198
nuget.exe pack GatedBalance.csproj

*note you may hit issue https://github.com/NuGet/Home/issues/3343 if you nuget packages dir doesn't exist yet.

[2016-08-19 23:01] mishra14 commented on #3289
Updated :

![2016-08-19](https://cloud.githubusercontent.com/assets/10507120/17826473/f9382e90-6625-11e6-9b3d-a7bc19b779f6.png)

![2016-08-19 1](https://cloud.githubusercontent.com/assets/10507120/17826480/0471d0cc-6626-11e6-9939-dc8056e9d1da.png)

![2016-08-19 2](https://cloud.githubusercontent.com/assets/10507120/17826479/0470cd76-6626-11e6-95f6-4fd1f935773d.png)

![2016-08-19 8](https://cloud.g

[2016-08-19 23:19] zhili1208 commented on #3309
fixed it https://github.com/NuGet/NuGet.Client/commit/abf55b06af8f85586410cbcbc8156867746b9b3a

[2016-08-19 23:19] #3309 closed, assigned to zhili1208

[2016-08-20 00:08] yurrriq commented on #3338
Possibly related: https://dist.nuget.org => `404`

[2016-08-20 18:34] andyfenna commented on #545
@ChristopherHaws this is exactly how we do it, it would be so much easier and fluent if this functionality was added

[2016-08-20 18:36] harikmenon commented on #3289
LGTM

[2016-08-21 11:20] Tasteful opened #3344 "Find-Package (Powershell) ignore -Version parameter"
The Find-Package ignores the `-Version` parameter. I want to use that to see if a package exists in a specific version.

[code]

Environment

[code]

[2016-08-21 11:20] Tasteful commented on #3344
Workaround is to use the -AllVersions and check if the returned versions contains the expected

[code]

[2016-08-22 03:42] gavynriebau commented on #3284
Far from ideal but this issue can be worked around by using batch or powershell to do the wildcard expansion, e.g.

[code]

[2016-08-22 04:54] mathikp commented on #2366
Hi Team,

Any update on this ?

[2016-08-22 08:07] asjafjell commented on #3323
Package Manager Console states `3.4.3.855`. Do you need more info for this?  If yes, the repositories I am testing with are publicly available.

[2016-08-22 08:39] ThinkAboutGitHub opened #3345 "NuGet packages can't be added to netcoreapp1.0 projects"
I have a question, I have been playing with creating some .Net Core applications to get a feel for it.

I tried to install a couple of the NuGet packages (Like NuGet.PackageManagement 3.3.0) in my application, but it seems it only supports the full framework and they are not compatible with netcoreapp1.0.

Is there an intention for these packages to support .net core apps? If so, is there a time f

[2016-08-22 11:53] Evangelink commented on #3225
@harikmenon I have updated the [repro case](https://github.com/Evangelink/ReproNugetPayloadErrors) using the guide you have created ([fixed link](http://nugetdocsbeta.azurewebsites.net/ndocs/guides/create-uwp-packages#adding-xaml-content)). Using your example helped me fix most of the errors but I am unable to reference controls coming from the nuget package using the .targets based on your exampl

[2016-08-22 12:29] sandersaares opened #3346 "Publish guidance for minClientVersion"
I am not able to find any published documentation or guidance about what should be specified as minClientVersion when publishing NuGet packages. It is not at all obvious to know what version supports what feature.

An authoritative reference for this would be very useful.

[2016-08-22 13:23] Evangelink commented on #3225
Looking to ReactiveUI cross-platform nuget package, they do as follow:

[code]

[2016-08-22 13:45] Mike-E-angelo commented on #3298
I got the same problem with a non-web application project when updating Moq on all my testing projects recently.  This worked flawlessly in 2.0 but not 3.0 it seems.  Is this a supported feature?

[2016-08-22 13:54] CvilleDev commented on #3340
I added the following to the web.config for the service
[LogFile.txt](https://github.com/NuGet/Home/files/430290/LogFile.txt)
:

<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true" >
        <listeners>
             <add name="xml"/>
        </listeners>
      </source>
      <so

[2016-08-22 13:58] CvilleDev commented on #3340
I enabled tracing and captured the attached logs when I tried copying a new nupkg file (Newtonsoft.Json.9.0.1.nupkg) into the Packages drop. As you can see, there does not appear to be any event captured to trigger the processing of the package. It just sits in the drop location until I either clear the server cache or restart the service.

[LogFile.txt](https://github.com/NuGet/Home/files/430300/

[2016-08-22 14:35] maartenba commented on #3340
Does it pick up when you navigate to `/nuget/Packages`? When the app pool is down, there is also no file system watcher enabled (it will only start when navigating to `/nuget/Packages` once)

[2016-08-22 15:14] CvilleDev commented on #3340
Yes, when I navigate to /nuget/Packages the nupkg file is processed immediately.

[2016-08-22 15:23] maartenba commented on #3340
Then this behaviour is by design. You can try to keep the app pool warm, and then the file watcher will also remain active.

Good thing is that this URL is also hit by VS, so when someone browses the feed, the package will be processed.

[2016-08-22 15:34] CvilleDev commented on #3340
I configured the application pool to recycle every 5 minutes, thus the longest we should have to wait is 5 minutes for a new package to get picked up.

[2016-08-22 15:37] maartenba commented on #3340
It only really registers the file watcher after that URL is hit, so essentially a 5min recycle kills the file watcher every 5min

[2016-08-22 16:29] jainaashish commented on #3298
@rrelyea it's reproing with 3.4.4, 3.5.0-beta2, 3.5.0-rc1, and dev branch. I didn't try it with 3.4.3 or earlier builds.

[2016-08-22 16:55] CvilleDev commented on #3340
Prior to setting the app pool recycle to 5 minutes I was seeing the following behavior.

I would reset IIS, navigate to /nuget/Packages, and then drop a new .nupkg file in the packages drop. The .nupkg would sit there until I either navigated to /nuget/Packages, reset IIS, or recycled the app pool. This is why I chose to set the app pool recycle at 5 minutes.

It would appear that the file watcher

[2016-08-22 18:11] mishra14 opened #3347 "Add --clear | -c test coverage to xplat nuget locals function tests"
Based on the work done on supporting xplat locals done here : https://github.com/NuGet/NuGet.Client/pull/829

Clear test cases do not currently execute on CI machines, since multiple build/test processes on the same machine can interfere with clearing the global packages cache.

As discussed with @joelverhagen , the xplat locals test cases should start new process to execute the test and dummy pre

[2016-08-22 18:14] mishra14 opened #3348 "Light up help switch on xplat locals command"
Since @drewgil has enabled help within xplat project - https://github.com/NuGet/NuGet.Client/pull/836 - , Locals should also support help switch.

[2016-08-22 18:35] jeremymeng opened #3349 "Error when installing Moq from the Package management UI for a net451 project"
I have ASP.NET and Web Tools 2015.1 - 14.1.20810.0.  This issue doesn't repro on the earlier version 14.1.20512.0 on another machine.
# Repro steps:
1. Create a C# class lib project that targets .NET Framework 4.5.1
2. Open the package management UI
3. Search for "Moq" then install the latest prerelease version, which is 4.6.38-alpha at the time of writing this
# Actual:

[code]
# Expected:

Packa

[2016-08-22 18:58] mishra14 commented on #3221
Merged : https://github.com/NuGet/NuGetDocs/pull/505

[2016-08-22 18:58] #3221 closed, assigned to mishra14

[2016-08-22 20:41] joelverhagen commented on #3347
This work item should be considered at the same time, since it needs the same work of starting a new `dotnet.exe` process inside of a test: https://github.com/NuGet/Home/issues/2410.

[2016-08-22 23:20] mishra14 commented on #3289
Merged : https://github.com/NuGet/NuGet.Client/pull/829

[2016-08-22 23:20] #3289 closed, assigned to mishra14

[2016-08-22 23:23] dpoeschl opened #3350 "Remove "Restore NuGet Packages" from Solution node context menu when "Allow NuGet to download missing packages" is unchecked"
With that option unchecked, the context menu entries are useless at best, but for me they were misleading/confusing.

[2016-08-23 00:33] eerhardt opened #3351 "NuGet should have a mechanism for getting the path to the lock file in MSBuild"
When a build task needs to consume the lock file (project.assets.json), it needs to calculate the path to the lock file in order to read it.  However, calculating the path isn't trivial, and the algorithm may change in the future.

To fix this, we should have some sort common MSBuild $(Property) or `<Target>` that is responsible for calculating the path to the lock file.  That way all consuming ta

[2016-08-23 01:55] kovalikp commented on #2995
Couple remarks:
I think the `Pack` target should be exposed via .sln metaproject, or be able to build `Pack` as a `Deploy`.

Once you start dealing with project to project references, you will inevitably depend on `ResolveReferences` and subsequently  `ResolveProjectReferences` targets. The later uses `<MSBuild Properties="%(_MSBuildProjectReferenceExistent.SetConfiguration); %(_MSBuildProjectRefe

[2016-08-23 02:09] kovalikp commented on #2995
IsTool:
I don't think this is sufficient as proposed in the document: There are currently three possible directories where to put project output: `lib`, `tools` and `analyzers`. Analyzers folder has additional structure (`analyzers/dotnet/{language}`), that is independent from any other project properties. There might be some workarounds, like looking for `DiagnosticAnalyzer` and/or `ExportCodeFix

[2016-08-23 08:49] zachweg commented on #2866
This issue was occurring for me too in VS 2015 VISX (v3.4.4) but it appears **fixed** in VS 2015 VSIX (v3.5.0-rc1)

I confirmed with Fiddler that in v3.5.0 when browsing for packages with 'Manage Packages for Solution" the targetFramework parameter now correctly specifies a value for each framework version used by the projects in a solution instead of only passing 'net' and excluding from the sear

[2016-08-23 09:56] WitnessMee opened #3352 "Package Manager Console no longer working: The term 'Set-Location' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again."
Hi,

This issue might be related to "https://github.com/NuGet/Home/issues/974"
I have already executed all steps there but the Package Manager Console is still not working.
Fails both in Visual Studio 2013 and Visual Studio 2015. I have Windows 10 64-bit installed

In **Package Manager Console** I get this error:
"The term 'Set-Location' is not recognized as the name of a cmdlet, function, script

[2016-08-23 10:28] asjafjell commented on #3323
Updating Visual Studio 2015 Professional Update 1 to Update 3 seems to have fixed the issue. The version of NuGet is still`3.4.3.855`, but the restrictions are now enforced. Unclear what caused it, but as far as I can see the problem is fixed.

[2016-08-23 11:10] CobraCalle opened #3353 "Error "could not be found in your workspace, or you do not have permission to access it""
I know, there were many issues about this and all of those issues where closed / fixed. But the problem is still alive... nothing changed for me.

In the past we could help us by using Visual Studio 2013, but now we have some project types that are nor compativle with visual studio 2013, so we are stucked and have to update the nuget-references BY HAND!!!!

So please, have a look at this. This is

[2016-08-23 11:55] CobraCalle commented on #3353
OK... the problem is not related to TFS... creating a complete new project and adding a reference from our lokal repository don't work to.

Attempting to gather dependency information for package 'Diomex.Framework.Release.2.1.16236.1' with respect to project 'PackagesConverter', targeting '.NETFramework,Version=v4.5.2'
Gathering dependency information took 677,81 ms
Attempting to resolve dependenc

[2016-08-23 12:40] luty81 commented on #1298
I am facing the same issue!
My Nuget Package Manager version is 3.4.4.1321

[2016-08-23 14:02] jibeiz commented on #1985
Just so you know, this issue happens again to me with nuget.exe (v3.4.4)

[2016-08-23 14:36] mrward opened #3354 "Unable to install Microsoft.Azure.Mobile.Client.SQLiteStore 2.1.1 into Xamarin.iOS project with NuGet 2.12"
Trying to install Microsoft.Azure.Mobile.Client.SQLiteStore 2.1.1 into a Xamarin.iOS project with NuGet 2.12 using Visual Studio 2013 or Xamarin Studio 6.0.2 fails with:

[code]

Older versions of NuGet 2 and NuGet 3.4.4 and 3.5.0 RC1 will install this NuGet package into a Xamarin.iOS project.

Looking at the NuGet package it contains an assembly in the directory:

[code]

If the NuGet package is

[2016-08-23 17:03] rohit21agrawal commented on #1985
@jibeiz what kind of project are you using? I just tried nuget-3.4.4 and nuget-3.5.0-rc with a simple console application and ran nuget pack  without specifying a csproj or nuspec file and it packed as expected.

[2016-08-23 17:10] jainaashish commented on #3298
@Mike-EEE Can you share a sample with your issue which involves non-web app projects? I looked deeper into my case and figured out for a web app project, there are multiple references for newtonsoft.json package in csproj file which causes this issue.

[2016-08-23 17:39] Mike-E-angelo commented on #3298
Well I wouldn't say sample, but I have a solution under heavy development that you can check out here:
https://github.com/DevelopersWin/VoteReporter/tree/development

I upgraded from NuGet 2.0 to 3.0, so I am no longer using any references under csproj's (that is, all references are in `project.json` now -- and work pretty well).  Everything works like a champ with the exception of these assembly

[2016-08-23 18:12] emgarten commented on #3323
@asjafjell thanks for the update, I don't know of this problem existing in any version of NuGet since it's a pretty basic scenario. I'm glad it is fixed for you. Let me know if it shows up again.

[2016-08-23 18:59] zhili1208 opened #3355 "3.5 install/restore from UNC share has performance Regression from 3.4.4"
issue:
Compared the time of Gathering dependency information for all packages from UNC share.

3.4.4

First access for one package time: 2.85 seconds (slow UNC share, do not check feed type at that time)
Then 10 times access for same package time: 2 ms. (v2 local repo memory Cache)

3.5
First access for one package time:  around 8.1 seconds (2.13 seconds for gathering package information, around 6

[2016-08-23 20:23] emgarten commented on #1743
This should be fixed as of 3.5.0-rc1
http://dist.nuget.org/index.html

[2016-08-23 20:25] rrelyea commented on #3179
This looks like it is in 3.6beta1, but has not been ported to 3.5rtm. VSTS folks asking to get it there. Risk/Time enough?

[2016-08-23 20:27] kevinkuszyk commented on #1743
Thanks @emgarten - I actually tried it last week and it seems to be working.    I didn't want to close the issue in case it didn't make it into the RTM for any reason.

[2016-08-23 20:28] emgarten commented on #1743
@kevinkuszyk thanks for verifying! I'll close it.

[2016-08-23 20:28] #1743 closed, assigned to emgarten

[2016-08-23 20:36] emgarten opened #3356 "Remove SemVer 2.0.0 block from pack"
Pack blocks SemVer 2.0.0 versions in packages. This should be removed.

[2016-08-23 20:46] rrelyea commented on #3327
Just noticed that your running this on Windows XP.
NuGet's call to .NET Framework turns around and calls Windows.
Our belief is that Windows XP doesn't have the appropriate support.
As such, you probably have two options:
1) use NuGet on a supported OS version
2) downgrade to an older version of NuGet.exe (perhaps 2.8.6 would still work)?

[2016-08-23 20:46] #3327 closed, assigned to nobody

[2016-08-23 20:48] rrelyea commented on #3338
@vphad - please respond to the questions above.
@yurrriq - unsure why that would be related.

[2016-08-23 20:50] rrelyea commented on #3341
Please make sure to update docs as appropriate here. (working with @harikmenon and team)

[2016-08-23 20:50] DougWest commented on #3327
Nuget 2.8.6 gives the following error:
C:\packages>nuget.2.8.6.exe
Could not load type 'System.Runtime.CompilerServices.ExtensionAttribute' from assembly 'mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'.

[2016-08-23 20:51] DougWest commented on #3327
Nuget 3.2.0 gives this error:
C:\packages>nuget.3.2.0.exe
Unable to load one or more of the requested types. Retrieve the LoaderExceptions property for more information.

[2016-08-23 20:54] yurrriq commented on #3338
Turns out my problem was [my hosts file](http://someonewhocares.org/hosts/hosts).

[2016-08-23 20:55] rrelyea commented on #3342
Please work with Justin to work out plan.
The key change is likely to put the targets in dependency order (C then B then A if A depends on B depends on C).
Please review with msbuild team (rainier&mihai perhaps)

[2016-08-23 21:00] karann-msft opened #3357 "Nuget Automatic Package Restore Does not have a clear implementation for Nuget 2.7 using MSBuild and TFS"
_From @gortok on February 12, 2015 22:39_

Scanning through the Nuget Docs for Post 2.7 Automatic Package Restore; a few things stand out:

Post 2.7:
- Use TFS 2013 Build Process Templates;
- Use Visual Studio's "Automatic Package restore" (not Right Click Solution -> Enable Package Restore for solution)

But what isn't covered (or at least; not apparent) is what to do if you are using TFS 2013 Bu

[2016-08-23 21:01] karann-msft opened #3358 "gaps with Nuget package restore doc"
_From @karann-msft on August 4, 2016 21:37_

Karan: Can you open a new issue to trazck this? We probably wont be able to deliver on this by the go live date but we can consider doing it for later.

Harikrishna Menon  |  Senior Program Manager
NuGet & Windows App Tools
+1 (425) – 614 - 6886
@devatmic

From: Ashish Jain
Sent: Thursday, August 4, 2016 10:20 AM
To: Karan Nandwani karann@microsoft.com;

[2016-08-23 21:01] karann-msft opened #3359 "Supporting Multiple Frameworks Example Needs Work"
_From @jonwchu on August 3, 2016 22:51_

In NuGet.Docs/ndocs/Create-Packages/Supporting-Mulitple-Target-Frameworks.md, the section "Grouping Assemblies by Framework Version" needs a better example since it is confusing.

_Copied from original issue: NuGet/NuGetDocs#550_

[2016-08-23 21:01] karann-msft opened #3360 "Explicitly call out specifying is a no-op, i.e reference will still get added"
_From @karann-msft on July 21, 2016 4:1_

Duped from https://github.com/NuGet/Home/issues/3154

_Copied from original issue: NuGet/NuGetDocs#500_

[2016-08-23 21:02] karann-msft opened #3361 "Document precedence rules for package frameworks"
_From @harikmenon on July 18, 2016 17:4_

We need to explicitly call out our resolution rules and possibly link to joels site.

_Copied from original issue: NuGet/NuGetDocs#495_

[2016-08-23 21:03] karann-msft opened #3362 "Update constraints example in the new Dependency Versions doc"
_From @harikmenon on July 2, 2016 16:59_

_Copied from original issue: NuGet/NuGetDocs#485_

[2016-08-23 21:04] karann-msft opened #3363 "Add details around Virus scanning to the new publish document."
_From @harikmenon on June 24, 2016 15:54_

Based on request from here https://github.com/NuGet/NuGetGallery/issues/3092

_Copied from original issue: NuGet/NuGetDocs#479_

[2016-08-23 21:04] karann-msft opened #3364 "Doc Request: Project.lock.json"
_From @harikmenon on June 10, 2016 13:41_

Some examples of the content we would like to see
1.  If project.json contains \* and you want repeatable builds without checking in the lock file, you must lock down the sources used for restore so that you control the content.  This ensures that the \* will always pick the same version.
2.  If project.json contains \* and you want repeatable builds whil

[2016-08-23 21:04] karann-msft opened #3365 "Mirror Command, Doc for Enabling Doesn't Work"
_From @tshadle on July 9, 2015 21:50_

In the NuGet Command Line Reference, for the Mirror Command, the doc states

There are no artifacts available from that site to download as Guest. I cannot find any other instructions for enabling Mirror, or a note that it's been replaced or deprecated.

_Copied from original issue: NuGet/NuGetDocs#345_

[2016-08-23 21:04] karann-msft commented on #3365
_From @maartenba on July 13, 2015 8:5_

This mirror is currently disabled until we have full v3.0 out. /cc @yishaigalatzer

[2016-08-23 21:04] karann-msft opened #3366 "Improve documentation for the $references$ replacement token"
_From @StevenLiekens on March 27, 2015 13:55_

The Nuspec Reference page describes the existence of a `$references$` replacement token, but the documentation is not very useful.

The Nuspec Reference should be updated to contain a sample that demonstrates the `$references$` token, and a description of what it replaces and how it is replaced.

http://docs.nuget.org/Create/Nuspec-Reference#replaceme

[2016-08-23 21:10] rrelyea commented on #3343
If you restore first, this works fine.
We should improve the error message when a packages folder doesn't exist.
Currently: "failed to retrieve information from remote source packages "c:\temp\foo\packages""
Should be better...like "Packages folder ('c:\temp\foo\packages') is missing. Please do a "nuget restore" to fix."

[2016-08-23 21:15] sliekens commented on #3366
Thanks for taking a look at this.

[2016-08-23 21:21] rrelyea commented on #3297
@kingerja  - restore from http is put in v3 user package cache. restore from file sources, don't get put into user package cache. by design.
Note, while testing to see if there was a change in behavior, we found a perf regression: https://github.com/NuGet/Home/issues/3355 that we are planning to address.

[2016-08-23 21:21] #3297 closed, assigned to zhili1208

[2016-08-23 21:42] #3339 closed, assigned to jainaashish

[2016-08-23 21:49] jainaashish commented on #3339
Merged to 3.5.0-rtm 76f30e9eb91f25890afc724e5785070a37c65f29

[2016-08-23 21:56] jainaashish commented on #3298
As of now nuget doesn't handle binding redirects for project.json so it will need to be done manually. Work is in progress to get this feature well define and may gets into nuget 3.6

[2016-08-23 22:22] emgarten commented on #3356
Related to https://github.com/NuGet/Home/issues/1359

[2016-08-23 22:23] emgarten commented on #3356
This change is needed for 3.5.0 RTM.  Now that SemVer 2.0.0 is supported in the client it should be possible to create SemVer 2.0.0 packages.

[2016-08-24 05:07] mathikp opened #3367 "NuGet packages listing failed in private repository"
We are using NuGet.Server in private repository. If we add .NET Core packages in the repository, the packages listing failed and shows error if we select the respective package source. I have sent the fiddler trace of the issue to the mail id support@nuget.org by mentioned the issue id in the subject of the mail. Please look into it and help me asap. Thanks.

[2016-08-24 06:54] Mike-E-angelo commented on #3298
Great, thank you for the clarification, @jainaashish!

[2016-08-24 07:04] Madlord commented on #2393
Still got error 407 with actual 3.5rc installed.

[2016-08-24 07:07] tebeco commented on #2393
@alpaix
I'll give it a try today
I could not test earlier

[2016-08-24 08:20] navin22 opened #3368 "IVsPackageInstaller InstallPacakge API with source as null throwing exception"
We are using the Nuget Visual Studio extension service IVsPackageInstaller service to install the package dynamically. We are using the following method particularly.

`VsPackageInstaller installer = (IVsPackageInstaller)componentModel.GetService<IVsPackageInstaller>();   installer.InstallPackage(null, project, packageId, packageVersion, false);`

This was working fine with package source as null.

[2016-08-24 09:22] Mike-E-angelo commented on #3298
Just curious (said the cat :smile_cat:)... is this being tracked with an issue(s) here on GitHub by chance?  Or perhaps we should create one?

[2016-08-24 10:55] jibeiz commented on #1985
@rohit21agrawal i was trying to pack a C# project, using the nuget Commandline downloaded from [here ](https://dist.nuget.org/index.html). There is a .nuspec and a .csproj in the direcotry at the sametime. I tried to run "nuget pack" with v3.3.0 and v3.4.4, they gave me "Please specify a nuspec or project file to use", then i tried v2.8.6, which worked fine. thx

[2016-08-24 11:51] ghost opened #3369 "How to build on Linux kernel 4.6 (known issue)"
Hi,
How can I build nuget.client while https://github.com/dotnet/coreclr/issues/6016 is still an issue in the dotnet binaries that build.sh uses?

[code]

build.sh needs to use a slightly newer set of dotnet binaries - see https://github.com/dotnet/coreclr/issues/6604

[2016-08-24 14:45] rohit21agrawal commented on #1985
@jibeiz is it possible for you to attach a sample project which repros the problem?

[2016-08-24 15:09] yishaigalatzer commented on #1985
And the exact commandline you run

On Aug 24, 2016 7:46 AM, Rohit Agrawal notifications@github.com wrote:

@jibeizhttps://github.com/jibeiz is it possible for you to attach a sample project which repros the problem?

##

You are receiving this because you commented.
Reply to this email directly, view it on GitHubhttps://github.com/NuGet/Home/issues/1985#issuecomment-242090178, or mute the threadht

[2016-08-24 15:24] matthid commented on #1672
A similar thing happens when you create a filesystem based package source from windows (-> lower case names are used) and later try to restore on linux.

I noticed this when adding alpha packages directly to the repository and later try to restore and build on linux (a dotnetcore application).

[2016-08-24 15:33] harikmenon commented on #3225
Hmm. On our end the example was tested thoroughly and it worked. Unless we have a look at your package, its hard to figure out what could be wrong.

[2016-08-24 15:51] yishaigalatzer commented on #1672
The feature to handle path casing across the board is being worked on and will be available in 3.6

[2016-08-24 16:36] drewgillies commented on #3341
Sure thing, @rrelyea, @harikmenon. As well as any core docs, this work includes a readme in the cli code in md format (like this: https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-restore/README.md) and a man page in groff format for Linux (like this: https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/manpages/sdk/dotnet-restore.1).

[2016-08-24 16:48] yishaigalatzer commented on #3367
@maartenba I don't believe we have support for this released yet. Can you please take a look? (and move the issue over to the right place)

[2016-08-24 17:34] maartenba commented on #3367
This issue was moved to NuGet/NuGetGallery#3210

[2016-08-24 17:34] #3367 closed, assigned to nobody

[2016-08-24 18:55] harikmenon commented on #3341
Adding @karann-msft

Our current plan is to do the following and karan will work with the devs on our end owning the specific commands to document this in docs.microsoft.com/dotnet/\* space. In addiiton, we will add a new doc on our end which will point to these docs for these commands. We dont want to mix and match these commands (since the arguments could be a subset) with NuGet.exe CLI referenc

[2016-08-24 20:35] emgarten commented on #3369
Build.sh currently just runs tests. You could try working around the issue by running _mono nuget.exe restore_ instead of _dotnet restore_

[2016-08-24 20:43] jainaashish commented on #3298
You can create one for this!

[2016-08-24 22:47] emgarten commented on #3368
What changed around the time this started?

What version of NuGet and what version of Visual Studio are you using?

[2016-08-24 22:50] rrelyea commented on #3345
NuGet 3.5.0 packages will support .NetStandard1.3, which is compatible with Net Core 1.0.
3.5.0 packages are available in RC1 presently.

[2016-08-24 22:50] #3345 closed, assigned to nobody

[2016-08-24 22:53] rrelyea commented on #3349
This should be addressed in 3.5.0 of NuGet. It has not released yet.
The RC1 is available from http://nuget.org/downloads

[2016-08-24 22:58] rrelyea commented on #3350
Curious, why do you have the capability to download disabled?
Many Roslyn folks turn off restore at build.
Curious to understand your scenario.

[2016-08-24 23:03] rrelyea commented on #3352
Do you 1511 or 1607 builds of Windows 10 installed?
I believe if you have 1511, you need to have been updated to .64 or later of the builds...otherwise you run into a powershell bug.

[2016-08-24 23:09] rrelyea commented on #3353
1) unsure how to repro this, since this package seems internal. Can you share this package with us via email to support@nuget.org?
or
2) perhaps we have fixed this in our latest work. Version 3.5.0-rc1 is available for download from http://nuget.org/downloads

[2016-08-24 23:57] davkean commented on #3342
Build targets should also transitively flow across project-to-project graphs, in the same way that packages references do.

This means that:

[code]

Should have the same behavior as:

[code]

For a few reasons:
1. This becomes consistent with references and copy local items from packages, which are also transitive.
2. This enables us to implement the ability to swap [package references with proje

[2016-08-24 23:57] davkean commented on #3342
tag @emgarten as we've discussed this before.

[2016-08-25 02:15] #3192 closed, assigned to jainaashish

[2016-08-25 02:19] jainaashish commented on #1640
Fixed with 25ff09d3ba6cafecfba67c7f3a0610a3f650324c

[2016-08-25 02:19] #1640 closed, assigned to jainaashish

[2016-08-25 02:58] neethasp commented on #3145
Dear Rohit,

Please be informed that your suggestion of  "'\' instead of '/' and using
includeFiles instead of include wherever you can" did not work for adding
files into nuget package using 'packOptions'.

Also your suggestion on extracting nuget content locally will not work
because the 'packages' folder will no more be created with the migration to
project.json.

Regards,
Neetha S. Patill

On

[2016-08-25 03:31] karann-msft commented on #3341
[New Doc for dotnet nuget push #955](https://github.com/dotnet/core-docs/issues/955)
[New Doc for dotnet nuget delete #956]https://github.com/dotnet/core-docs/issues/956()
[New Doc for dotnet nuget locals #957](https://github.com/dotnet/core-docs/issues/957)
[Update doc for dotnet restore #958](https://github.com/dotnet/core-docs/issues/958)
[Update doc for dotnet pack #959](https://github.com/dot

[2016-08-25 03:40] emgarten commented on #3342
@davkean would you open a separate issue for this? The work needed for this issue just involves ordering the imports.

[2016-08-25 05:50] navin22 commented on #3368
We are using Visual Studio Enterprise 15 Preview.
And NuGet Package Manager for Visual Studio 15 Extension.

[2016-08-25 06:03] emgarten commented on #3368
Which version of NuGet?

[2016-08-25 06:13] TecProTools commented on #1137
Intellisense not displaying in the package manager console window on my machine: VS Community 2015 Update 3.3, Windows 10Pro, Package Manager Console Host Version 3.5.0.1484

[2016-08-25 06:20] navin22 commented on #3368
NuGet Package Manager 3.5.0

[2016-08-25 06:23] ThinkAboutGitHub commented on #3345
So I tried the RC version in my app, but when I restore packages I get this error:

log  : Restore failed in 2011ms.
Errors in C:\Workspace\Genesis\samples.Net Core Nuget Samples\NuGetSamples\src\NuGetSamples\NuGetSamples.xproj
    Package NuGet.PackageManagement 3.5.0-rc1-final is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0). Package NuGet.PackageManagement 3.5.0-rc1-final support

[2016-08-25 06:26] ThinkAboutGitHub opened #3370 "NuGet.PackageManagement 3.5.0-rc1-final supports: net45 (.NETFramework,Version=v4.5)"
I was informed that the Nuget packages version 3.5 would work with .Net Core.  Unless I misinterpreted this.  So I tried to install NuGet.Packagemanagement to my .net core app, I got an error on restore

log  : Restore failed in 2011ms.
Errors in C:\Workspace\Genesis\samples.Net Core Nuget Samples\NuGetSamples\src\NuGetSamples\NuGetSamples.xproj
    Package NuGet.PackageManagement 3.5.0-rc1-final

[2016-08-25 08:25] Evangelink commented on #3225
@harikmenon I did gave you a failing example so you can have a look 27 days ago and I have updated it (as said in my previous comment) 3 days ago with your solution so you can see that it doesn't work.

Please have a look at the example project here: [EXAMPLE](https://github.com/Evangelink/ReproNugetPayloadErrors)
The MyProject project is an example of the kind of cross-platform nuget package we c

[2016-08-25 09:23] v-luzh opened #3371 "[Test Failure] The first selected version can’t be remembered in Package Manager for Solution Window"
**Repro Steps:**
1.  New a project [such as C# Blank Application (Universal Windows)].
2.  Open ‘Manage NuGet Packages for Solution’ and click ‘Browse’ tab.
3.  Click a package and select a **version (not the latest)** in ‘Version’ dropdown list.
4.  Select a project you want to install the package to.

**Expected Result:**
The selected version can be remembered in step3.

**Actual Result:**
The s

[2016-08-25 12:20] WitnessMee commented on #3352
Hi Rob,

I had version 1511 of Windows 10 installed.
I updated to version 1607 (using this [link](https://support.microsoft.com/en-us/help/12387/windows-10-update-history))
Everything is working again!

[2016-08-25 13:29] Mike-E-angelo opened #3372 "Assembly Binding Redirects Do Not Work as Expected in Project.json only"
3.0 is super awesome and amazing.  It is very impressive and vastly improves the user experience in Visual Studio reference management.  However, the one (noticeable) feature that seems to have been overlooked is that of assembly binding redirects.

As an example, I recently had an update arrive for `Moq` 4.5.21.0 (from 4.5.16.0).  The binding redirect looked like this in my unit testing [`App.con

[2016-08-25 13:30] Mike-E-angelo commented on #3298
Great. Done:
https://github.com/NuGet/Home/issues/3372

(Thanks again to those who have put in the hard work and hours into 3.0!)

[2016-08-25 16:17] rrelyea commented on #2848
Are you seeing this on Windows 7?
What version of .NET Framework do you have installed?

[2016-08-25 17:01] #3355 closed, assigned to zhili1208

[2016-08-25 17:38] joelverhagen opened #3373 "When restoring for the second time, bumped up version warnings do not appear"
First restore (when there is not lock file):

[code]

Second restore:

[code]

Notice the warnings about a dependency bumping up do not appear in the second output.

[2016-08-25 17:59] joelverhagen commented on #3373
Restoring "fooproject" in this .zip file should allow you to reproduce the issue and verify the fix.
[restore-warnings.zip](https://github.com/NuGet/Home/files/437719/restore-warnings.zip)

[2016-08-25 18:00] joelverhagen commented on #2142
Added a permalink to the commit @davidfowl was talking about:
https://github.com/NuGet/NuGet.Client/blob/fa622dccaa09bfa3a8c94a2c4a0c19032e48aa84/src/NuGet.Core/NuGet.DependencyResolver.Core/GraphModel/GraphOperations.cs#L143

Restoring the "fooproject" project in this .zip should reproduce this issue.
[restore-warnings.zip](https://github.com/NuGet/Home/files/437724/restore-warnings.zip)

[2016-08-25 18:45] SQLGuyChuck commented on #1215
I had this issue of Project 'Default' is not found when trying to install local or remote nuget packages when using a database project. I did the reinstall idea and didn't help. I had to add a console application and then was able to install the package.

My solution file had just the .sqlproj project and was failing. Just adding the console .csproj project enabled me to add the package.

Microsof

[2016-08-25 19:33] zhili1208 commented on #1215
@SQLGuyChuck that's because sql project is not supported by nuget now, if you open NuGet UI, NuGet will show a message "this project is not supported", we should send a better message for powershell too.

[2016-08-25 19:37] zhili1208 commented on #3343
Checked with dev branch, this is already fixed in dev branch.

[2016-08-25 19:37] #3343 closed, assigned to nobody

[2016-08-25 19:41] yishaigalatzer commented on #1215
@zhili1208 can we add a good error message in the sql case?

[2016-08-25 20:22] jainaashish commented on #3298
Since this is not our issue, rather template system team and they are working on a fix. So closing this issue.

[2016-08-25 20:22] #3298 closed, assigned to jainaashish

[2016-08-25 20:37] joelverhagen commented on #2406
I have verified that the provided `project.json` works when added manually. Example project:
[App1.zip](https://github.com/NuGet/Home/files/438007/App1.zip)

One strange thing I found is that when your platform in VS is set to Any CPU, restore fails since there is no `win10` runtime in the project.json. Adding `win10` doesn't work since the `Microsoft.NETCore.UniversalWindowsPlatform` package does

[2016-08-25 20:55] zhili1208 commented on #1215
Yes, I will add a good error message in https://github.com/NuGet/Home/issues/3299

[2016-08-25 22:32] rohit21agrawal commented on #3145
@neethasp  could you please attach a repro project that highlights your issues? Would help a great deal to investigate the issue at hand. thanks!

[2016-08-25 22:51] joelverhagen commented on #2406
In NuGet code, we call the `VSLangProj.References.Add(string bstrPath)` API with the full path to .winmd file. This adds the following code to the .jsproj:

[code]

NuGet then explicitly sets the following two elements:

[code]

Lifeng Lu (in an email thread) said that `<SpecificVersion>` only works if your identity has a version in it. Notice how the identity is `UnitsNet`, not the strong name `U

[2016-08-25 23:04] #3373 closed, assigned to joelverhagen

[2016-08-26 02:18] kingerja opened #3374 "Error downloading when running nuget in parallel"
Using  3.5.0.1737

I do not currently have a repro for this it is simply something some devs seeing.  I am trying to work with them to get a repro.  This only occurs if we are building multi proc and therefor have multiple instances of nuget running at the same time.

[code]

[2016-08-26 02:19] kingerja commented on #3374
For full log see \joshking-main\dump\nuget\issues\3374\msbuild.log
look for: Error downloading 'Microsoft.Bcl.1.1.10'

[2016-08-26 03:21] SetTrend opened #3375 "Can't exclude "packages" folder from TFS pending changes list"
Using Visual Studio Enterprise 2015 Update 3 I can't get the solution's `\packages` folder excluded from TFS source control.

I have tried all the suggested workarounds, but to no avail:

![can t exclude packages folder](https://cloud.githubusercontent.com/assets/9283914/17993021/af488790-6b4c-11e6-8804-df5cb60108c4.gif)

---

Can we get an option in Nuget Options (Tools > Options > Nuget Package

[2016-08-26 05:08] emgarten commented on #3370
_NuGet.PackageManagement_ does not support .NETCoreApp. NuGet.Commandline.XPlat and NuGet.Commands are the top level libraries supporting .NETCoreApp, take a look at those.

_NuGet.PackageManagement_ is currently not used in any cross platform scenarios where .NETCoreApp is required. It also has dependencies on non-.NETCoreApp dependencies such as XDT which are external to NuGet.

[2016-08-26 05:12] navin22 commented on #3368
@emgarten : Any update on this ?

[2016-08-26 06:56] mallikharjunaa commented on #2848
Environment:
OS: Windows 7 SP1 x64
Role: Client machine
Development : VS 2013 update 5

[2016-08-26 08:08] #3352 closed, assigned to nobody

[2016-08-26 08:50] v-nancyj opened #3376 "[Test Failure] The installed package ‘bootstrap 3.3.6.1’ can’t be find in the ‘Version’ dropdown list"
**Repro Steps:**
1. Create a new C#->WebApplication->Web Forms project.
2. Open ‘Packages Manager Console’ and type ‘update-package’.
3. Right-click the project and select ‘Manage NuGet Packages…’.
4. Go to ‘Updates’ tab and update package ‘AspNet.ScriptManager.jQuery’.
5. Click the package ‘bootstrap’ and select the dropdown list of ‘Version’.

**Expected Result:**
The installed package ‘bootstra

[2016-08-26 09:32] neethasp commented on #3145
Dear Rohit,

Sorry but I shall not be able to provide the project related details. All I
am trying to imply is it is not possible to pack/ unpack files in/ out of
nuget packages as is possible with .nuspec file using the foll. elements: -
<files>
        <file src="..\File.txt" target="content\My.txt" />
</files>

This is w.r.t retrieving the non dll files from nuget like 'My.txt' above
and making

[2016-08-26 13:18] harikmenon commented on #3225
Why are you adding SQLLite into the package? Cant you take a dependency on the SQLLite package instead?

[2016-08-26 13:43] Evangelink commented on #3225
As I was telling you. As soon as I include the .pri file into the nuget (which I need to do to get resources) and install that package, I end up with payload errors saying it can find `sqlite3.dll, SQLitePCL.Ext.dll and SQLitePCL.Ext.pri` into the nuget package.

EDIT:
On the given repro case, you can try to remove them. Then recreate a nuget package and install it on the MyApplication solution an

[2016-08-26 16:50] rrelyea commented on #1712
@OsirisTerje - we'd like to investigate if you can help us understand how to reproduce the problem. please try to help us repro with 3.5.0-rc1 (or later) and we'll dig in.

[2016-08-26 16:51] rrelyea commented on #1670
@Kamarey - we are interested in investigating. is this still an issue?
Can you help us reproduce the problem?

[2016-08-26 16:58] OsirisTerje commented on #1712
This was an old one that drowned in time - I'll create a repro, amd check if it still there, and if so, then upload to github.

[2016-08-26 16:59] zhili1208 commented on #3198
@kingerja looks like nuget 3.4 behavior is a bug, 3.5 fixed it. NuGet needs dependency package for pack, so if it can't find that package, in 3.4, it will just not add that package as dependency, in 3.5, it will throw.
I think throw is right here, otherwise user got wrong package without any error.

[2016-08-26 17:04] #3235 closed, assigned to zhili1208

[2016-08-26 17:04] rrelyea commented on #3028
@AndriySvyryd  - can you try this scenario with NuGet 3.5.0-rc1 (http://nuget.org/downloads) -- I believe we warn properly in the case that you are working with "dotnet" tfm project, such as the PCL project.

[2016-08-26 17:57] rrelyea commented on #3264
@Eilon - what aspnet repo should I create an issue in? (see @jainaashish's analysis from above)

[2016-08-26 17:59] rrelyea commented on #3264
Please work with @Eilon, or other folks in aspnet team room, to figure out the right place to file an issue on aspnet team for the problem you list above. Then we'd close this issue as external with a link to that issue.

[2016-08-26 18:03] emgarten commented on #3376
This package may have been unlisted, I don't see it on https://www.nuget.org/packages/bootstrap/ either.

[2016-08-26 18:21] mishra14 opened #3377 "Invalid argument to dotnet restore throws a bogus error message"
The error message in the following scenario does not provide any help or insight into the problem.

Steps -
1. Run dotnet restore RandomArgument
2. Observe error

The error I saw was -

[code]

[2016-08-26 19:30] kingerja commented on #3198
Thanks Zhi for helping me narrow down on an accurate repro and identifying the issue.
\joshking-main\dump\nuget\issues\3198\repro.cmd
The issue is that in the lab we install our packages using nuget restore -PackagesDirectory %enlistmentRoot%\external\packages
For our local dev builds we install the packages via the nuget.config configuration option which is set to \NugetPackages.
Nuget pack only

[2016-08-26 20:13] Kamarey commented on #1670
I'm in vocation right now. Will try to reproduce it in 2 weeks

[2016-08-26 20:51] zhili1208 opened #3378 "NuGet Pack Adding -PackageDirectory option to override packages folder"
https://github.com/NuGet/Home/issues/3198

From @kingerja :
The issue is that in the lab we install our packages using nuget restore -PackagesDirectory %enlistmentRoot%\external\packages
For our local dev builds we install the packages via the nuget.config configuration option which is set to \NugetPackages.
Nuget pack only considers the nuget.config for packagedirectory lookup and doesn't provide

[2016-08-26 20:51] zhili1208 commented on #3198
First I thought we can override nuget.config , but overriding nuget.config is disallowed for pack since nuget 2.8. So the best way here is adding -PackageDirectory as an option. filed a feature request bug for it.https://github.com/NuGet/Home/issues/3378

[2016-08-26 21:13] #2422 closed, assigned to joelverhagen

[2016-08-26 21:37] zhili1208 commented on #3374
I guess this error message ”The request was aborted: The request was canceled.“ is a WebException, looks like nuget read nupkg stream from network failed for some reason in this case. Need an repro to investigate.

[2016-08-26 21:45] joelverhagen commented on #2406
This issue is being tracking internally (Visual Studio bug 257713). More investigation by the project system owner is needed.

[2016-08-26 22:01] mishra14 opened #3379 "Add test cases to Nuget.exe locals to verify param/arg translation into xplat objects"
Since we have moved the locals business logic into xplat, we should add test cases to cover the translation between nuget.exe locals and locals command runner.

[2016-08-26 23:30] Eilon commented on #3264
@rrelyea I actually don't know almost anything about these packages. Start an email with @damianedwards because he (through Outercurve) actually owns these. It's not technically part of ASP.NET "proper".

[2016-08-27 00:21] joelverhagen opened #3380 "Duplicated resource strings between NuGet.CommandLine.Xplat and NuGet.Commands"
There are some strings duplicated between two resource files. This can potentially lead to wasted localization effort. My hunch is that some are unused (probably the Xplat ones):

I found these so far:

[code]

We should think about a way to detect unused resource strings.

[2016-08-27 00:24] joelverhagen commented on #3380
@rrelyea, correct tag? I made a guess :smile:

[2016-08-27 01:15] #3356 closed, assigned to emgarten

[2016-08-28 14:32] OryanHassidim opened #3381 "Error: Illegal characters in path"
I can't install NuGet packages and the error in downloading and installing is:

An error occurred while writing file 'D:\turhh\Documents\Visual Studio projects\Room arrangement\Room_Arrangement\packages.config': Failed to write packages.config as XML file 'D:\turhh\Documents\Visual Studio projects\לישיבה\Room arrangement\Room_Arrangement\packages.config'. Error: 'Illegal characters in path.'.

It

[2016-08-28 23:51] define-private-public opened #3382 "NuGet client 2.12 on Ubuntu Linux"
I was trying to install the `Microsoft.AspNetCore.Http` package from NuGet.  When I tried to, I got this message:

[code]

So how do I update my NuGet client to 2.12 on Ubuntu Linux?  running `apt-get update/upgrade` didn't do it.

[2016-08-29 01:21] emgarten opened #3383 "Add SemVer 2.0.0 support to NuGet.Core"
NuGet.SemanticVersion in NuGet.Core.dll needs to support SemVer 2.0.0 to enable NuGet.Server and other projects build on the NuGet.Core package to support packages created with NuGet.exe 3.5.0.

[2016-08-29 06:36] SimonCropp opened #3384 "A better "give feedback" link"
For starters https://docspreview.nuget.org/ is awesome. good work to all involved

Next a minor feature request

so on a given page u have a give feedback link to https://github.com/Nuget/Home/issues

But u can use the Github new issue url syntax to give a better experience. eg https://github.com/Nuget/Home/issues/new?title=Feedback%3A+PAGETITLE&body=PAGEURL

or whatever you want the title and bod

[2016-08-29 06:37] SimonCropp commented on #3384
thanks to @shiftkey for providing the new issue url syntax

[2016-08-29 06:58] neethasp commented on #1908
Kindly end the thread by either specifying the working details to extract 'content' from nuget into ASP.NET project or by redirecting to a related link. Thank you.

[2016-08-29 08:08] tonyeung commented on #1298
ermagawd... i spent a few hours on this.... I want to cry...

Chances are there is something wrong with the folder structure in the nupkg.
For my situation, I used TeamCity and OctoPack to generate a package to be deployed.

The folder structure that OctoPack creates is flat, whereas the correct folder structure has extra meta data as well as a convention for how the folders are supposed to be nam

[2016-08-29 08:41] neethasp commented on #2060
The settings specified by @emgarten do not work for extracting contents from nuget which contains .js files. Please provide working settings for this usecase. Thanks.

[2016-08-29 08:49] asjafjell commented on #3323
No worries, just happy to help!

[2016-08-29 09:14] Heinzelemente commented on #1298
Is this issue already under investigation? I think a lot of developers facing the same issue, but do not think it is a nuget bug. (like tonyeung )

[2016-08-29 10:37] AndyTian-Devops opened #3385 "[Test Failure][Lab/wpt]Can not uninstall NuGet package Manager from Dev15"
**Repro Steps:**
1. Launch Visual Studio 15
2. Click "Tools" -> "Extensions and Updates"
3. In the search box, input nuget
4. Select "NuGet Package Manager for Visual Studio"
5. Click Uninstall button.

**Exepected Result:**
NuGet Package Manager should be uninstalled from Visual Studio.

**Actual Result:**
NuGet Package Manager still existed in Visual Studio.

**More Info:**
1. This issue only ha

[2016-08-29 13:32] ThinkAboutGitHub commented on #3370
I just tried installing the two packages mentioned.
NuGet.Commandline.XPlat and NuGet.Commands.
However apparently one of the dependant packages requires the full framework?

error: Package Newtonsoft.Json 6.0.4 is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0). Package Newtonsoft.Json 6.0.4 supports:
error:   - net20 (.NETFramework,Version=v2.0)
error:   - net35 (.NETFramework,Versi

[2016-08-29 14:01] harikmenon commented on #3384
- Karan @karann-msft . Thanks for the feedbacK @SimonCropp!

[2016-08-29 16:18] zhili1208 commented on #3198
Since this is not a bug, close this one. Will fix this issue in #3378

[2016-08-29 16:18] #3198 closed, assigned to zhili1208

[2016-08-29 16:26] drieseng commented on #3131
Is this issue indeed scheduled to be fixed in 3.5 RTM (and 2.13) ?
I'm getting reports by users of SSH.NET almost daily.

[2016-08-29 18:08] emgarten commented on #2060
@neethasp please open a new issue with repro steps.

[2016-08-29 18:09] #3323 closed, assigned to emgarten

[2016-08-29 18:11] emgarten commented on #3370
@ThinkAboutGitHub you need to add `imports` to allow other frameworks or add a dependency to Newtonsoft.Json 9.0.1 which has netstandard support.

[2016-08-29 18:45] zhili1208 commented on #3251
@patrickjamesbarry I just create a test app which just use basic HttpClient API, Can you help me to test it on your machine? https://github.com/zhili1208/monoPushIssue/MacPushTestApp.exe, just type"mono MacPushTestApp.exe [package path] [apikey] [source]". If this doesn't work, we need to look at those mono API, otherwise, I will check nuget timeout, credential and configuration code. thanks

[2016-08-29 19:10] rrelyea commented on #3369
Sounds like https://github.com/dotnet/coreclr/issues/6016 is now fixed -- perhaps you could get their nightly build (or wait until the next public release with that fix)
Then, you could submit a PR for a way to build on Linux. We only need one build though, so we'd continue to use our current build.

[2016-08-29 19:11] #3369 closed, assigned to nobody

[2016-08-29 19:14] #3370 closed, assigned to nobody

[2016-08-29 19:15] patrickjamesbarry commented on #3251
https://github.com/zhili1208/monoPushIssue/MacPushTestApp.exe   => 404 for me

[2016-08-29 19:16] rrelyea commented on #3371
Sounds like 3.5.0-rc1 regression from 3.4.4 on vs2015 update3. Please investigate and analyze.

[2016-08-29 19:19] rrelyea commented on #3372
Let's discuss in tomorrow's meeting.

[2016-08-29 19:22] zhili1208 commented on #3251
Please go to https://github.com/zhili1208/monoPushIssue/

[2016-08-29 19:25] rrelyea commented on #3376
This package is unlisted, and therefore shouldn't show up in that dropdown.

[2016-08-29 19:25] #3376 closed, assigned to nobody

[2016-08-29 19:33] rrelyea commented on #3377
discussed in triage.
dotnet restore -a 45 -b 56 -c tom Fred -packagesdirectory c:\temp
Will pass through props like this to msbuild in the new world:
msbuild /t:restore -a 45 -b 56 -c tom Fred /p:restorepackagespath=c:\temp
(those params we know about, we'll convert, otherwise, we blindly pass).

[2016-08-29 19:33] #3377 closed, assigned to emgarten

[2016-08-29 19:39] rrelyea commented on #3381
What version of VS15 are you using?
If you aren't using Preview4, try that.

If you are using Preview 4, how can we reproduce the problem? (please give us detailed repro steps)

[2016-08-29 19:40] rrelyea commented on #3382
Are you trying to run NuGet.exe on mono on Ubuntu Linux?
Or something else?

[2016-08-29 19:43] davidmatson commented on #2895
+1

I do this manually today by removing and re-adding as linked items from the packages folder, but it's a pain and would be really nice to add this support.

[2016-08-29 19:45] define-private-public commented on #3382
Yeah, it was through the MonoDevelop IDE.  I got that from the Mono project's PPA.

[2016-08-29 19:46] davidmatson opened #3386 "Support contentFiles in regular .NET (.csproj)"
The newer contentFiles has some really nice properties - immutable content, allows specifying build action and copy to output directory.

I'm using this heavily for normal .NET assemblies and currently consumers have to do painful work around remembering to set CopyToOutputDirectory/ContentType manually. It would be really nice to have the same contentFiles feature that today only works with proje

[2016-08-29 19:46] rrelyea commented on #3383
Let's target NuGet.Core.dll that ships after 3.5.0-rtm. (2.14?)

[2016-08-29 20:21] patrickjamesbarry commented on #3251
I tested with the test app and it resulted in a successful message, yet the package did not appear in the nuget feed.  This supports the above network trace of the client reporting a 201 Created status code, yet nuget package was never sent.

[2016-08-29 20:23] zhili1208 commented on #3251
Thank you, Patrick! then we need to look at mono API, this TestApp doesn't include any nuget logic, just simple send a "put" request.

[2016-08-29 21:31] rohit21agrawal commented on #3145
[ProjectA (1).zip](https://github.com/NuGet/Home/files/443496/ProjectA.1.zip)

@neethasp it does work, please find an attached project which shows how the files tag works under packOptions

[2016-08-29 22:23] #2142 closed, assigned to joelverhagen

[2016-08-29 23:20] emgarten commented on #3383
Checked into 2.14 with NuGet/NuGet2@ed693fca1718a46f70da3c645d666240d07968ad

[2016-08-29 23:41] #3383 closed, assigned to emgarten

[2016-08-30 00:37] kingerja commented on #3374
Additional info.  The dev has reported failures occasionally in single proc as well now.
However the failures seem to be scoped to the use of the V2 vso feeds and it does not repro in using the v3 vso feeds.

I have been unable to get a repro myself however you can reach out to the dev who may be able to give you access to a box that this repro's on.  Dev alias is chwill.

[2016-08-30 01:48] davkean opened #3387 "NuGet during restore doesn't respect the same compat shims as MSBuild when running in VS 15 command prompt"
We're running into restore issues under VS 15 with the new installer.

Basically, we're importing MIcrosoft.VS.SDK.targets via:

[code]

Under MSBuild.exe, this targets file will be looked for in two different paths:

_C:\Program Files (x86)\Microsoft Visual Studio\VS15Preview\MSBuild\Microsoft\VisualStudio\v15.0\VSSDK_

-and-

_C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v15.0\VSSDK (fo

[2016-08-30 01:53] radical commented on #3387
`nuget.exe.config` would need to add the search paths like (taken from https://github.com/Microsoft/msbuild/blob/xplat/src/XMakeCommandLine/app.config )

[code]

The above sets the fallback search paths used for importing projects from `$(MSBuildExtensionsPath)`. Any app hosting `msbuild` needs this to support the same search paths.

[2016-08-30 06:03] JochenHWezel opened #3388 ".NET assembly reference missing after install, frameworkAssemblies tag without effect"
VS2015 with NuGet 3.5.0.1484 shall import package CompuMaster.Imaging which uses following reference spec:

[code]

(Since the reference is required regardless to the target framework, I haven't added a target framework to the spec file of CompuMaster.Imaging.)

Unfortunately, after installing this package into the project, the reference from the project to System.Drawing.dll is still missing :-(

[2016-08-30 14:13] kl7323 commented on #3131
I'm one of the users still using VS2012, yes AT&T is still using it as a standard.  I really need to SFTP files for a deadline fast approaching.

[2016-08-30 14:31] joelverhagen commented on #3388
Which type of project are you installing this package to? Could you provide some minimal steps to reproduce this issue?

[2016-08-30 15:14] mscrivo commented on #3374
We're having this problem as well on our TeamCity agents randomly, using 3.4.4 against ProGet 4.1.1 (build 7).  We had to revert back to 2.8 to get stability.

[2016-08-30 16:30] rrelyea commented on #3179
@zhili1208  - please port this change to rtm branch.

[2016-08-30 16:52] joelverhagen opened #3389 "Caching of version lists leads to not seeing a new package version for 30 minutes"
Talked to @pranavkm offline about this one.

Currently, we cache the following resources for 30 minutes in the HTTP cache (`v3-cache` directory):
1. Flat container index.json, in `HttpFileSystemBasedFindPackageByIdResource`
2. V2 `FindPackagesById()` OData endpoint, in `RemoteV2FindPackageByIdResource`

Note that `RemoteV3FindPackageByIdResource` (unused if the V3 server has a flat container resou

[2016-08-30 17:10] zhili1208 commented on #3179
Done

[2016-08-30 17:10] #3179 closed, assigned to zhili1208, alpaix

[2016-08-30 17:11] pranavkm commented on #3389
FYI @Eilon

[2016-08-30 17:51] #3371 closed, assigned to zhili1208

[2016-08-30 18:32] #1357 closed, assigned to joelverhagen

[2016-08-30 18:32] #2216 closed, assigned to joelverhagen

[2016-08-30 18:39] joelverhagen commented on #3389
Another idea is to somehow be able to mark a source with `-NoCache`. This problem mainly happens on CI feeds when a lot of inter-related packages are frequently being pushed.

[2016-08-30 18:44] joelverhagen opened #3390 ".nupkg's are cached for only 30 minutes in the HTTP cache"
Since https://github.com/NuGet/NuGet.Client/commit/6792c6ddacfa50a61107e181a4b28edc93c0adc8, `SourceCacheContext.NupkgMaxAgeTimeSpan` has been unused. Instead of caching .nupkgs in the HTTP cache for 24 hours, they are cached for the same amount of time as lists (30 minutes).

We should re-introduce longer cache life for .nupkgs (3 days was mentioned by @emgarten).

[2016-08-30 20:20] shishirx34 opened #3391 "Forbidden status and prompted to enter credentials when attempt to push new package with same ID as an existing one"
Issue reported on Gallery https://github.com/NuGet/NuGetGallery/issues/3218 by @AnotherSadGit:

I investigated and I see that the command line nuget.exe(latest: 3.4.4) does indeed return forbidden for duplicate ID package push.

[code]

[2016-08-30 20:57] emgarten opened #3392 "Download/Restore operations should check the http cache before making http calls to all sources"
Download and restore operations should check the http cache before making http calls to all sources. In many cases the package already exists in the cache, but parallel calls are still made to all http sources. The source with the cached nupkg quickly wins but feeds but the tax of these extra calls are still incurred by both the client and servers.
#### Actual flow today
1. Request a package id/ve

[2016-08-30 21:00] emgarten commented on #2287
//cc @joelverhagen

[2016-08-30 21:08] #1493 closed, assigned to jainaashish

[2016-08-30 22:01] emgarten commented on #3391
@shishirx34 isn't the bug here that gallery returns a 403 forbidden? In this case the request from the client was not valid as the status code indicates, it is more of a 400 bad request, or 409 conflict.

I would expect the gallery to return a non-credential related error code for a duplicate package upload.

[2016-08-30 22:04] emgarten commented on #3386
You can work around this for packages.config based projects by adding an install.ps1 file that modifies content added from the content folder to include additional properties.

[2016-08-30 22:05] shishirx34 commented on #3391
It is possible that it could be Gallery issue. I wasn't sure if the client masked the message hence wanted to check here first. I will open the other bug on gallery.

[2016-08-30 22:36] davidmatson commented on #3386
Thanks! - is there a sample of how to set Copy To Output Directory, for example?

[2016-08-30 22:49] shishirx34 commented on #3391
@emgarten - I looked at this some more and it looks like Gallery is returning a `Forbidden` code, however there is also the following message returned along with it.

[code]

From the code it looks like the `Forbidden` code was by design (@xavierdecoster @skofman1 - Thoughts?).

[code]

Perhaps client should surface this error message(although in the case above it doesn't make it clear that there

[2016-08-30 22:52] Sarabeth-Jaffe-Microsoft commented on #3387
@radical The toolset which includes search paths is only loaded from `msbuild.exe.config`, so no need to add anything to `nuget.exe.config`.

[2016-08-30 22:56] radical commented on #3387
Oh, I misunderstood then. I thought the program was hosting msbuild and so not running msbuild.exe .

[2016-08-30 22:58] davkean commented on #3387
This could be because NuGet is picking up the wrong/different version of MSBuild - and not the willow version. @Sarabeth-Jaffe-Microsoft Is there an environment variable to figure out what the "current" msbuild is?

[2016-08-31 00:16] AndriySvyryd commented on #3028
@rrelyea The template has correct dependencies now and my scenario works.

[2016-08-31 00:47] Sarabeth-Jaffe-Microsoft commented on #3387
@davkean There's no environment variable except for `VSINSTALLDIR` if you're in a VS command prompt. Willow provides a COM API that could be used to locate Willow and thus MSBuild.

[2016-08-31 00:58] emgarten commented on #3391
The gallery may not even be getting to the id collision in that case.

From the client side prompting for a 403 is by design for scenarios where the wrong use was specified. Printing out the message may be helpful to user here.

[2016-08-31 01:08] BaiYu0120 opened #3393 "I can not download caffe 3rd package when compile caffe using VS2013 Nuget."
Compile the caffe cnns framework needs to download 3rd package. When doing compile, the error is operation timed out. And It shows as below when I open the NuGet feed v2 (VS 2013 and earlier / NuGet 2.x): https://www.nuget.org/api/v2.

[code]

[2016-08-31 01:09] BaiYu0120 commented on #3393
<service xml:base="https://www.nuget.org/api/v2"><workspace><atom:title type="text">Default</atom:title><collection href="Packages"><atom:title type="text">Packages</atom:title></collection></workspace></service>

[2016-08-31 06:09] shishirx34 commented on #3391
I am sorry if I wasn't clear earlier. The API does detect the collision, it looks up the package registration by ID and if one is found, verifies if the package's owner is the current user trying to push(PUT request) the package. Which is when it detects that it is not, shown above, and returns a Forbidden result.

https://github.com/NuGet/NuGetGallery/blob/master/src/NuGetGallery/Controllers/ApiC

[2016-08-31 08:07] AndyTian-Devops opened #3394 "[Test Failure] System.IO.FileLoadException throw when doing F5 after updating "Newtonsoft.json""
Copy from issue: https://github.com/NuGet/Home/issues/3239

**Repro Steps:**
1. New project -> Visual C# -> Web -> ASP.NET Web Application, then uncheck the box for "Application Insights".
2. Click Web Forms template and check “Web Forms” and “Web API”.
3. Change Authentication to “No Authentication” and click OK button.
4. Build solution and do F5, no error.
5. Open “Package Manager Console”  and

[2016-08-31 08:17] AndyTian-Devops commented on #3385
This issue also happened on latest wpt 25630.00

[2016-08-31 08:56] UweKeim opened #3395 "NuGet.exe Update -Self keeps on updating itself"
In a Windows 10 command line window I'm calling

[code]

This is an excerpt from my German command line:

[code]

Manually translated to English this looks like:

[code]

This goes on forever, no matter how often I call the `Update -self`, it updates again.

Plus, a file "nuget.exe.old" is being left over after one operation succeeds.

**My question:**

Which steps can I take to actually get the l

[2016-08-31 10:35] efrainsteinbach commented on #2443
Same issue here (when using a TeamCity 8 Nuget feed) .. none of the above fixes seemed to work - I have now downgraded to Nuget Package Manager 3.3.x where it still works.

I was able to find the old version here: https://dist.nuget.org/index.html

[2016-08-31 10:57] sheitmann commented on #3218
I have the same issue with a specific package. The hint path is always updated but the version in the include attribute is sometimes wrong.
Not sure if it helps to identify the source for the issue but I have other packages that have this problematic package as dependency with an older version.

[2016-08-31 11:11] xavierdecoster commented on #3391
The gallery checks whether the pushing user is actually an owner of the package registration. If it is not the case, then that operation is forbidden. It is not necessarily a conflict as it may concern a new version of the package being pushed. As there's a meaningful message returned in the response, it may be useful to show it in the client?

[2016-08-31 11:27] UweKeim commented on #3395
This is the verbose output in case it is of any interest:

[code]

[2016-08-31 11:42] jmseigneur commented on #3264
this happening to me too. Does it mean we have to wait until AspNet.ScriptManager.bootstrap is compatible with bootstrap 3.3.7?

[2016-08-31 12:01] Saturate commented on #2852
@thesoftwarejedi What were the performance improvements? I'm having issues with nuget pach when packing 20.000+ files, it takes around 10 minutes.

[2016-08-31 12:02] sancho2412 commented on #1292
Are there some updates when this bug will be fixed? It's the only showstopper to use NuGet in our company :(

[2016-08-31 17:13] zhili1208 commented on #3394
this is not a bug, that's because web application binding redirect newtonsoft.json to 6.0.0 in web.config, if you build the project, you will get warning and the fix.

1>------ Rebuild All started: Project: WebApplication55, Configuration: Debug Any CPU ------
1>  Consider app.config remapping of assembly "Newtonsoft.Json, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed" from Version "6.0.0.0" []

[2016-08-31 18:23] yishaigalatzer commented on #1292
@sancho2412 can you do a couple of things
1. Try 3.5-RC and see if it resolves your issues?
2. Describe exactly what is broken for you. Can you list the exact steps that leave your broken?

[2016-08-31 19:29] drieseng commented on #3131
@kl7323: as workaround, you can download the nuget package from [nuget.org](https://www.nuget.org/packages/SSH.NET/), extract it and pick the assembly that you need.

[2016-08-31 20:22] joelverhagen commented on #910
I am going to set aside the downgrade warnings now produced by the original project.json. I think @davkean's intent here was just the "not supported" errors. I modified the project.json to depend on packages that are on NuGet.org:

[code]

With this project.json, I am seeing **33 distinct error messages**.

As @davkean said, there is a LOT of output and it's hard to understand as a mere mortal. We

[2016-08-31 20:23] joelverhagen commented on #910
/cc @emgarten @davidfowl

[2016-08-31 22:48] mishra14 commented on #3348
Merged : https://github.com/NuGet/NuGet.Client/pull/844

[2016-08-31 22:48] #3348 closed, assigned to mishra14

[2016-08-31 22:48] mishra14 commented on #3347
Merged : https://github.com/NuGet/NuGet.Client/pull/844

[2016-08-31 22:48] #3347 closed, assigned to mishra14

[2016-08-31 23:14] yishaigalatzer commented on #3395
This looks like the package nuget.commandline 3.4.4 is missing from the feed.

[2016-08-31 23:19] yishaigalatzer commented on #3391
The message is incorrect in this case, and the status code is also potentially incorrect.

This is not a forbidden case, as different user credentials will not allow for the request to go through, 409 seems much more appropriate (and the error message should indicate that the id/version already exists)

[2016-09-01 00:17] somewhatabstract commented on #1239
I have VS2015 Update 3 and have just started having this issue. I cannot work out what is causing it.

[2016-09-01 04:12] UweKeim commented on #3395
That's something I can _not_ fix on my side, correct?

[2016-09-01 04:36] jopdam opened #3396 "nuget & artifactory"
Goodmorning everyone (it is morning here).

I am hoping you guys and/or ladies can help me with an issue I am facing.
I am trying to setup nuget client to use an internally hosted nuget feed on a private artifactory repository (Specific users are allowed to read and/or write)

We got an api key (based on a username:password combination) from the internal artifactory team.

We pushed a nuget packag

[2016-09-01 05:06] jopdam commented on #3396
Btw, tried with nuget 3.4.4 and latest rc

[2016-09-01 06:30] Kamarey commented on #1670
Looks it's ok now. The v3.5.0-rc1 is working, while the 3.4.4 doens't.

To reproduce it do next:
1. Make a project which use packages from multiple sources
2. Try to update packages from some specific source:
    nuget update ".../myproject.csproj" -source MySource

In 3.4.4 I get this error:
_Package 'AutoMapper' is not found in the following primary source(s): 'http://MySourceServer/nuget'. Plea

[2016-09-01 09:16] xlegalles opened #3397 "Dependencies specified by RID as not usable as project's references (but shown as)"
Hi,
We try to use project.json to describe dependencies to a package containing C++ managed libraries. Its content is something like that:

[code]

The project.json is very simple:

[code]

The result is 1) the package is well displayed in VS under references and 2) the right dll from the package is well copied in the output folder depending on the platform x86/x64.
**BUT** the referenced dll is n

[2016-09-01 11:26] ravensorb commented on #3085
Any update on this? Maybe a build eta?

[2016-09-01 14:14] tuzand commented on #3276
Thank you for your answer, I wrote to the owner of the package (daniel.gracia), but he didn't answer me. Who could help me in this case with this issue?

Link to the package: https://www.nuget.org/packages/hdf5-v120-complete/

[2016-09-01 14:59] xlegalles opened #3398 "Debugging Package Source Code only works for ASP.NET Core projects (xproj)"
Debugging Package Source Code as described in this [article](https://msdn.microsoft.com/magazine/mt736459?f=255&MSPPError=-2147217396) does not work with a standard solution that contains only csproj. But as soon as you add an ASP.NET Core project (xproj), it does.

To make it short: you add in a global.json the path to the source code of the package dependency and VS automatically includes the pa

[2016-09-01 15:00] migueldesousa commented on #1670
I'm having the same problem, when running nuget update with private source, nuget gives error of not finding the package xy.

Is there a way to ignore nonexisting packages?

[2016-09-01 17:10] jainaashish opened #3399 "Write out targets/props files on failed restore"
Today we don't write *.nuget.targets and *.nuget.props files when a restore fails but could give some confusing errors to the users for .net core projects. So we should write these files irrespective of restore failed or succeed.

[2016-09-01 19:00] rrelyea commented on #3349
Unsure of why I marked as closedas:duplicate, without putting any supporting info.
Please confirm that this addressed, etc...

[2016-09-01 19:02] rrelyea commented on #3356
Note...spec was to warn when creating this package with a semver2.0 id.
When validating, please confirm the warning is being produced.

[2016-09-01 19:07] yishaigalatzer commented on #3351
I see it differently, the current design should eliminate all readers of the assets file, and there should be a single task reading it and translating it to msbuild language.

From: Eric Erhardt notifications@github.com
Reply-To: NuGet/Home reply@reply.github.com
Date: Monday, August 22, 2016 at 5:33 PM
To: NuGet/Home Home@noreply.github.com
Cc: Yishai Galatzer yigalatz@microsoft.com, Mention ment

[2016-09-01 19:53] gzak opened #3400 "NuGet doesn't support spaces in MsBuild path?"
I'm not sure if that's the issue exactly, but here's what I get when I try to restore packages in my solution from the command line:

[code]

[2016-09-01 19:57] gzak commented on #3400
Actually there is another possibility, my solution has a somewhat strange structure.

Directory structure:

[code]

Solution structure:

[code]

In other words, I have virtual solution folders which group the projects together that don't actually exist on the underlying filesystem.

[2016-09-01 20:08] eerhardt commented on #3351
I don't agree because "msbuild language" doesn't represent graphs of objects as well as .NET does.

It is orders of magnitudes easier to consume a .NET object model as a graph than it is a bunch of string-string metadata items.  You also lose all sorts of type safety, intellisense, etc. when consuming "msbuild language".

Thus there are certain classes of tasks that are better written consuming th

[2016-09-01 20:23] yishaigalatzer commented on #3351
Let me re-iterate/clarify the stance, there will be a single point in msbuild that can load a lock file, there will be no guarantees to the shape of the lock file or the location other than that one entry point can load it.

From: Eric Erhardt notifications@github.com
Reply-To: NuGet/Home reply@reply.github.com
Date: Thursday, September 1, 2016 at 1:08 PM
To: NuGet/Home Home@noreply.github.com
Cc:

[2016-09-01 20:44] yishaigalatzer commented on #3114
A couple more points to consider in the design
1. Runtime packages are currently (as of 3.5) only supported as a secondary package that is defined in the original packages, in other words packages can be sharded, but the original author has to do that. We only officially support the scenario in .net core libraries and not for 3rd party packages.
2. Runtime IDs have an inheritance behavior. For exa

[2016-09-01 20:45] zhili1208 commented on #3349
verified with 3.5-rtm, it's fixed

[2016-09-01 20:45] #3349 closed, assigned to zhili1208

[2016-09-01 20:51] yishaigalatzer commented on #3114
Another concern that comes to mind (from @emgarten) is the fact that restore will now have to find a way to not try and light up the better match package.

This is very similar to the 1.\* floating package version scenario, except now we are going to have a floating mode by default as soon as a user installed a package like skia

[2016-09-01 21:06] #3342 closed, assigned to jainaashish

[2016-09-01 21:08] davkean opened #3401 "Build targets should be transitive across project-to-project references"
Build targets should also transitively flow across project-to-project graphs, in the same way that packages references do.

This means that:

Project -> Package Reference -> Package Reference (with targets)
Should have the same behavior as:

Project -> Project -> Package Reference (with targets)
For a few reasons:

This becomes consistent with references and copy local items from packages, which a

[2016-09-01 22:18] drewgillies commented on #3368
@navin22 Are you running Visual Studio 15 Preview 1, 2, 3 or 4?

[2016-09-01 22:18] rrelyea commented on #3382
This sounds like a question for MonoDevelop IDE, I think. Will try to get their attention...via an email with a pointer to this item.

[2016-09-01 22:20] rrelyea commented on #3381
@OryanHassidim  - ping

[2016-09-01 22:21] maciejw opened #3402 "missing references in solution explorer when version in package.json is set to *"
given package.json below in portable class lib in vs 2015 update 3

{
  "supports": {},
  "dependencies": {
    "NETStandard.Library": "1.6.0",
    "NLog": "*"
  },
  "frameworks": {
    "netstandard1.5": {}
  }
}

nlog is missing in references in solution explorer tree. when I change version to 4.\* then it will appear. In both cases intellisense works fine and project will compile.

could it be

[2016-09-01 22:24] rrelyea commented on #3385
Per internal email, this is fixed in BCB2 branch.

[2016-09-01 22:24] #3385 closed, assigned to nobody

[2016-09-01 22:28] rrelyea commented on #3386
This is how I did this in a previous life: http://stackoverflow.com/questions/8474253/nuget-how-can-i-change-property-of-files-with-install-ps1-file

Otherwise, closing the issue, we aren't going to backport that feature to packages.config, but people can choose to migrate to "uwp-style project.json" for packages.config projects.

Thanks, Rob

[2016-09-01 22:28] #3386 closed, assigned to nobody

[2016-09-01 22:30] rrelyea commented on #3387
We are working to incorporate that COM API now. Assigning this bug to @drewgil, as he is doing that work.

[2016-09-01 22:33] rrelyea commented on #3388
@JochenHWezel  - what joel said, plus, what version of NuGet/VS supported this correctly? Does NuGet 3.4.4 which comes with Update 3 support this correctly?
Also, it would help if you could tell us if NuGet.Tools.vsix 3.5.0-rc1 from http://nuget.org/downloads fixes things. Thanks!

[2016-09-01 22:38] davidmatson commented on #3386
Thanks, Rob.

For "uwp-style project.json", is there a non-packages.config approach that works for full .NET projects? (I thought project.json was only for .NET Core and had heard something about UWP, but I'm not familiar with the details.) Does this option also have full support in the VS UI?

(Or is there a good link to learn about which options are supported where?)

Thanks,

David

[2016-09-01 22:38] rrelyea commented on #3389
Could consider not caching lists. We added this list caching to reduce hit on MyGet and other servers.
Good ideas to consider in future.

[2016-09-01 22:41] rrelyea commented on #3391
There was a server change. Please test the experience at that point and ensure the client is providing a good error experience.

[2016-09-01 22:53] rrelyea commented on #3390
Let's change to 7 days. Feel free to do in beta1 if priorities allow.

[2016-09-01 23:04] rrelyea commented on #3401
cc @eerhardt
I think this needs to be part of a larger plan for package/project duality. unsure if it would land in vs "15", but we should design it, minimally.

putting it in 3.6 beta2 milestone for design, likely not implementation.

[2016-09-01 23:21] shishirx34 commented on #3391
FYI, with the change to the server to return 409 following is the response when pushing duplicate ID package for a user whose ApiKey does not match, current client behavior:

[code]

[2016-09-02 00:31] dwrogers commented on #2836
Thanks, @edvowles, that worked!

[2016-09-02 06:28] v-luzh opened #3403 "[Test Failure] The default value of ‘Version’ drop-down box is blank in Package Manager UI"
**Repro Steps:**
1. New a project [such as C# Blank Application (Universal Windows)].
2. Open ‘Manage NuGet Packages for Solution’ and click ‘Browse’ tab.
3. Click a package and look at the ‘Version’ dropdown box.

**Expected Result:**
The default value of ‘Version’ drop-down box is the latest stable version.

**Actual Result:**
The default value of ‘Version’ drop-down box is blank as below screen

[2016-09-02 06:55] navin22 commented on #3368
Preview 5

[2016-09-02 07:37] biliktamas79 commented on #1264
Yeah. I miss it too.

[2016-09-02 14:41] luckielordie opened #3404 "Two .vcxproj files in the same directory share the same packages.config file without installing packages in both projects."
When two .vcxproj files in the same solution are in the same directory they attempt to share the same packages.config file.

This results in both projects saying they have a package that is only installed in one project while the other project can still uninstall the package and corrupt the installation of the package in the first project.

To further illustrate the problem I've created a repo dem

[2016-09-02 15:04] san7hos commented on #2689
@13xforever It has not worked for me

[2016-09-02 17:09] drewgil commented on #3368
@navin22 - can you please send a hello mail to support@nuget.org? I want to get some details from you directly and need your name.

[2016-09-02 17:39] yishaigalatzer commented on #3391
The error message is wrong, can we please correct it?

We should have the following errors for the following scenario
1. The apikey doesn't match a user that owns the id - Keep the current error message
2. The apikey does match but the version exists - The package with ID 'BaseTestPackage' and version 'XXX.XXX' already exists on the server and cannot be overriden

[2016-09-02 18:00] joelverhagen commented on #3403
/cc @rrelyea, we should consider this for 3.5.0 (RTM).

[2016-09-02 18:05] zhili1208 commented on #3403
I will look at it

[2016-09-02 18:44] #3403 closed, assigned to zhili1208

[2016-09-02 19:31] shishirx34 commented on #3391
Talked offline with Yishai. The bug addresses the above point.

This has been working correctly. We do have the check for ID and Version after the user permission check which throws the message described here.

[2016-09-03 00:01] karann-msft commented on #3157
@raffaeler here is the doc for bait and switch https://docspreview.nuget.org/ndocs/guides/create-cross-platform-packages

[2016-09-03 13:15] gulbanana commented on #3167
this feature seems like it could be a huge increase in conceptual complexity if it allows the package dep graph to have cycles. is it really necessary to bring back System.Xml contracts precisely as they were, rather than having the same functionality available in potentially different namespaces and types? this whole thing wouldn't be an issue if it weren't for the type forwarding.

how about jus

[2016-09-03 16:10] tonicsoft opened #3405 "nuget.exe pack: exclude mask **\foo behaves identically to **foo."
Suppose we wish to create a NuSpec file that will exclude all files with a file name of "foo". We may try the following:

[code]

However, this will behave as if we had written `exclude="**foo"`, i.e. it will exclude all files whose file name _ends with_ foo.

The attached ZIP contains two nuspec files, one working and one which demonstrates the bug.
[NuGetBugReproduce.zip](https://github.com/NuGe

[2016-09-03 16:59] tonicsoft commented on #3405
I have created a failing test which documents the issue which I can submit a pull request for if helpful. If people agree that this is not the correct behaviour then I'm also happy to have a go at fixing it.

[2016-09-03 18:12] OryanHassidim commented on #3381
Is it free? from where?

[2016-09-03 20:23] davidfowl commented on #3167
Yea this sounds like a disaster. I don't know of any other package manager that supports cycles. Can you guys spell out the package graph in your scenario? Maybe it's possible to avoid creating packages for some of the things and instead keep them as dlls but remove the 1-1 mapping package -> dll for edge cases like this

[2016-09-04 03:33] emgarten opened #3406 "NuGet.exe push does not pass the API key from nuget.config to the symbol server"
NuGet.exe push does not pass the API key from nuget.config to the symbol server. There are several problems here and it leads to a very poor user experience for what I consider to be the basic push happy path.
### Steps
1. Use nuget.exe 3.5.0.1737
2. Create a nupkg and symbol package, have them both in the same directory
3. `nuget.exe setapikey <key> -source https://api.nuget.org/v3/index.json`
4.

[2016-09-04 10:58] AndreiGorlov commented on #3112
Same issue here. Repairing VS didn't help. Reinstalling didn't help too.
VS 2015 Enterprise Update 3 (v14.0.25425.01), NuGet 3.4.4

[2016-09-04 11:55] AndreiGorlov commented on #3112
Repairing VS one more time fix problem. Very strange things happening here...

[2016-09-05 09:06] mahendra-gajera opened #3407 "Package update after delete cache in NuGet.Server v2.11.2.0"
Hello

I am using latest NuGet.Server v2.11.2.0 as a my local repository.It hosted at my local system.
My problem is that newly added package is not listed while refresh the link.
For example In my server Packages folder has 5 .nuget package.But when i add new one , It will not show after the link refresh.

It will show the new one after deleting "aatfsbuild.cache.bin" file from server packages.
P

[2016-09-05 13:51] Zimmergren commented on #1264
I'd love to hear about any progress on this issue too, as it's a pretty vital tool for the toolbasket.

[2016-09-05 19:15] paulvanbrenk opened #3408 "Nuget picks unexpected version of MSBuild in VS "15" Preview 4 dev. command prompt"
Using the VS "15" developer command prompt `Nuget.exe restore` picks the MSBuild 4, which I didn't expect based on the output of the `where` command.

Nuget output:

[code]

[code]

This happens both for NuGet 3.4.4 and 3.5.0-rc1

[2016-09-05 21:21] slaneyrw commented on #3050
This is now causing problems downstream as tools now start upgrading their nuget versions.  Octopack now uses 3.4.x which is dropping the 4th part of the version number if it's zero, and breaking templated builds in our TeamCity.  Please consider command line options

[2016-09-06 01:05] kamranayub commented on #1338
It would be preferable if, when referenced explicitly via `<file src="">`, that the path be respected, since it took me like 20 minutes to figure out why my package wasn't being built and now I have to reorg my entire directory structure because of it :-1:

[2016-09-06 02:31] emgarten commented on #3050
@slaneyrw can you explain how TeamCity uses this? Which part of the build breaks due to this change?

[2016-09-06 05:12] slaneyrw commented on #3050
Octopack generates an nupkg file which we are expecting to be in a specific format {package name}.{version number}.nupkg that we are publishing to our internal ProGet feed.

The version number is TC's system build number which is a 4 part number.  The file name we expect is not present when it has been normalised.  The TC configuration template is shared by many individual build projects.

All bui

[2016-09-06 06:28] Zwergenpunk commented on #3020
Any news vor VS 2012? ;(

[2016-09-06 08:52] HiranPeri commented on #3020
Any news for VS 2012?

[2016-09-06 09:06] v-nancyj opened #3409 "[Test Failure] Package ‘Newtonsoft.Json’ can’t be installed into CPPWin32Project"
**Repro Steps:**
1. Create a new C++->Windows->Win32->Win32 Project.
3. Right-click the project and select ‘Manage NuGet Packages…’.
4. Go to ‘Browse’ tab and install package ‘Newtonsoft.Json’.

**Expected Result:**
Package ‘Newtonsoft.Json’ can be installed successfully.

**Actual Result:**
Package ‘Newtonsoft.Json’ can’t be installed with the error as below screenshot.
![untitled123456](https://

[2016-09-06 09:10] davidfowl commented on #3409
CPPWin32Project? Isn;t that a C++ project? Why would Newtonsoft.Json work there?

[2016-09-06 11:03] gawie-yssel opened #3410 "VersionUtility.TryGetCompatibleItems throws exception "An item with the same key has already been added.""
To replicate this issue:
1. Install Xamarin (4.1 in my environment).
2. Execute NuGet.VersionUtility.TryGetCompatibleItems on files in the NJsonSchema package.

[This](https://github.com/NuGet/Home/files/456493/TestNuget.zip) solution illustrates the problem. Install Xamarin and change the const pathToPackagesContainingJsonSchema in Program to point to the packages directory. Run the app.

Stack t

[2016-09-06 11:51] jochenwezel commented on #3388
Here is a step-by-step-guide for reproduction of the issue:
1. Create new empty library project (here with VB.NET in VS 2015, with NuGet.Tools.vsix 3.5.0-rc1 installed)
   ![image](https://cloud.githubusercontent.com/assets/3033827/18272361/bd332e84-7437-11e6-9fbd-53b03ffd8f8f.png)
   ![image](https://cloud.githubusercontent.com/assets/3033827/18272412/f3f99d54-7437-11e6-9ab2-86868ecbab3b.png)
2.

[2016-09-06 12:31] ranjan-2209 opened #3411 "dll referred also to be shown in nuget window in VS"
the dll referred by the solution also to be shown as marked in the snapshot
![4](https://cloud.githubusercontent.com/assets/16834561/18273648/f359e448-745b-11e6-836e-0a09d2ac7519.png)

[2016-09-06 16:07] frobijn opened #3412 "NuGet does not use credentials from NuGet.Config"
I'm trying to use NuGet.exe (no extra helpers) 3.4.4.1321 to list/... packages in a VSTS feed. That fails because the NuGet client is broken: it does not use the credentials from the NuGet.Config file. I've read the known issue on https://docs.nuget.org/Release-Notes/Known-Issues about double-encrypted passwords, but even when stored in clear text it does not work.

What I've done:
- Added usernam

[2016-09-06 16:44] yishaigalatzer commented on #1338
CC @rrelyea for triaging. I would consider at a minimum providing an error message if a folder with `.` was referred to directly in the nuspec

CC @rohit21agrawal

[2016-09-06 16:46] joelverhagen opened #3413 "Provide more information when template package install fails"
Suppose a VS template tries to install a package from the VS disk source (`C:\Program Files (x86)\Microsoft SDKs\NuGetPackages`) that does not exist. Currently, there is a very vague failure pop-up that the user will have a hard time acting upon.

This is related to VS bug 258630.

![image](https://cloud.githubusercontent.com/assets/94054/18282624/c46582e0-7416-11e6-9de7-134f9638a0ab.png)

[2016-09-06 16:47] yishaigalatzer commented on #1264
It's currently not on our roadmap due to other high priority items. However as the label `UpForGrabs` indicate, we will gladly take a pull request to bring it back.

We are not sure about the complexity and cost of the work when it comes to transitive restore scenarios, so this might go a bit beyond porting the old code from the nuget2 repo over to the new code base.

[2016-09-06 16:59] zhili1208 commented on #3251
Created a mono bug: https://bugzilla.xamarin.com/show_bug.cgi?id=44027

[2016-09-06 17:48] frobijn commented on #3412
Just verified:
- NuGet 2.8.60717.93 does work correctly with credentials in NuGet.Config (and the v2-endpoint of the feed: "https://xxx.pkgs.visualstudio.com/_packaging/Develop/nuget/v2").
- NuGet 3.4.4.1321 also works correctly with the v2-endpoint of the VSTS feed.

So the issue is related to the v3-versions of both the NuGet client and VSTS feeds.

[2016-09-06 18:37] zhili1208 opened #3414 "Creating PCL class library failed"
VS version: 14.0.25425 update 3
NuGet version: 3.5.0.1819

Repro step:
1. Create a C# Class Library (Portable) project.
2. In the "Add Portable Class Library" dialog, check ".Net Framework 4.6", "Windows Universal 10.0" and "ASP.NET Core 5.0"

Expected Result:
There is no error occur during creating.

Actual Result:

![capture](https://cloud.githubusercontent.com/assets/7131513/18286111/38d26f62-7

[2016-09-06 18:38] zhili1208 commented on #3414
@rrelyea should consider this for 3.5.0 (RTM). repro same issue on 3.4.4.1321

[2016-09-06 18:44] yishaigalatzer commented on #3412
I believe this issue was fixed in 3.5 RTM, we don't have this up on the feed yet, but we will put it up and you can then with a build that has the fix from https://dotnet.myget.org/feed/nuget-build/package/nuget/NuGet.CommandLine

CC @emgarten @zhili1208 @rrelyea

[2016-09-06 20:22] mtttcgcg commented on #2393
Where should I place this new Nuget.exe in order to make VsCode's dotnet restore command use it?

[2016-09-06 20:24] emgarten commented on #3410
This looks like a problem with NJsonSchema that is being handled poorly by the nuget.core.dll (legacy) used by Xamarin.

NJsonSchema contains these frameworks:

[code]

Both of them are the same portable profile, just written in different ways.

[2016-09-06 20:29] emgarten commented on #3408
Which version do you get if you just run `msbuild /version` from your developer prompt?

NuGet tries to take the first one on the path, I'm not sure which would win here based on your `where msbuild` output.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/MsBuildUtility.cs#L262

[2016-09-06 20:36] paulvanbrenk commented on #3408
Interesting:

[code]

[2016-09-06 20:51] rrelyea commented on #3414
Known issue from VS2015 MicroUpdate 3.4. First problem is that two packages aren't found by template creation. Workaround would be to get them into the package cache.
MicroUpdate 3.5 will revert that change.

[2016-09-06 20:51] #3414 closed, assigned to nobody

[2016-09-06 20:54] rrelyea commented on #3414
@zhili1208 -
1) please make sure to type in error strings so they are searchable: "Package Restore Failed. Rollling back package changes."
2) can the packagemanager output window provide any more information, to increase searchability as well? if so, please include

[2016-09-06 21:22] rrelyea commented on #3406
@emgarten - Curious if it is a regression from 3.4.4?

[2016-09-06 21:23] brianbegy opened #3415 "Command line - list outdated packages, similar to leiningen's "lein ancient" command"
This is a feature request for a command line "list outdated packages" feature. This would be similar to what "lein ancient" provides for Clojure developers.

NuGet command line offers an update command, but I'm looking for a read-only version. Just show me a list of all packages that are out of date in a solution and let me decide. This is something we could automate as part of our build process.

[2016-09-06 21:28] yishaigalatzer commented on #3388
@jochenwezel the packages on nuget.org do not contain the `frameworkassemblies` tag. Is that intentional?

[code]

[2016-09-06 21:35] emgarten commented on #3412
@frobijn try the latest 3.5.0 build here: https://dotnet.myget.org/F/nuget-build/api/v2/package/NuGet.CommandLine/3.5.0-rtm-1822

[2016-09-06 21:54] jainaashish commented on #3152
Need to merge to 3.5.0

[2016-09-06 22:01] jainaashish commented on #3152
Merged to 3.5.0 with 369a708b3590b3b0ccab9f737a79bf252d64ca3b

[2016-09-06 22:01] #3152 closed, assigned to jainaashish

[2016-09-06 22:12] jiantaow opened #3416 "Show releaseNotes in Package Manager"
Please show the nuspec tag <releaseNotes> content in Package Manager.

[2016-09-06 22:54] #3416 closed, assigned to nobody

[2016-09-06 22:55] yishaigalatzer commented on #3416
https://github.com/NuGet/Home/issues/1823

[2016-09-06 23:00] yishaigalatzer commented on #3415
We could consider this, we have a similar feature in the powershell console. We need to agree on spec, and we will be open to a PR.

The equivalent command is `Get-Package -Updates`

Here is a top of my head strawman spec -

The scenarios this needs to work in:
1. packages.config
2. project.json
3. Upcoming `<packageref />`

Needs to work against a single or multiple servers
Needs to support pre-r

[2016-09-06 23:04] yishaigalatzer commented on #3411
This is part of a bigger feature we want to do that shows package content, scripts that are going to run, content files that are going to get installed.

[2016-09-06 23:10] yishaigalatzer commented on #3411
Find or create the dup bug and link to a spec

CC @harikmenon @rrelyea

[2016-09-06 23:13] yishaigalatzer commented on #3410
We don't plan to make any more fixes in nuget.core. Xamarin is moving over to nuget.frameworks going forward.

I'm suggesting a won't fix here on our side, and not try to fix nuget.core as we don't plan on supporting it going forward.

[2016-09-06 23:14] rrelyea commented on #3409
@v-nancyj  - did this work in 3.4.4 -- agreed, likely doesn't make sense to work.

[2016-09-06 23:17] #3407 closed, assigned to nobody

[2016-09-06 23:27] rrelyea commented on #3405
@rohit21agrawal - please analyze this issue and current behavior.

[2016-09-06 23:27] yishaigalatzer commented on #3404
You should use packages.{project-name}.config in this scenario.

see https://docs.nuget.org/consume/nuget-faq

[2016-09-06 23:30] rrelyea commented on #3402
Is this a .Net Core project or a UWP project?
What version of NuGet are you using? 3.4.4 or 3.5.0?
If 3.5.0, can you please try 3.5.0-rc1 from http://nuget.org/downloads

[2016-09-06 23:31] #3404 closed, assigned to nobody

[2016-09-06 23:32] rrelyea commented on #3400
What version of NuGet.exe are you using?
Can you try 3.5.0-rc1 from http://nuget.org/downloads and tell us if that has fixed it or not?

[2016-09-06 23:37] rrelyea commented on #3398
This is using a feature in .NET Core that allows the developer to switch between a package and a project.
NuGet does support debugging into source code if the publisher of a package has published a symbol package with source -- see http://docs.nuget.org/Create/Creating-and-Publishing-a-Symbol-Package (the first paragraph shows how to set up the symbol server in VS)

[2016-09-06 23:37] #3398 closed, assigned to nobody

[2016-09-06 23:41] rrelyea commented on #3396
Only push uses the API key.
The other commands rely on authentication from the server, and username/password on the client, which can be encrypted and put in nuget.config.

[2016-09-06 23:41] #3396 closed, assigned to nobody

[2016-09-06 23:44] rrelyea commented on #3394
Known issue in VS 2015 - The ASP.NET Team has fixed this in VS "15" in the preview 5 milestone.

[2016-09-06 23:45] #3394 closed, assigned to nobody

[2016-09-06 23:46] rrelyea commented on #3393
Please give us more detailed repro steps and re-open this issue when you do.

[2016-09-06 23:46] #3393 closed, assigned to nobody

[2016-09-06 23:50] rrelyea commented on #3382
I've been told that filing a bug in Bugzilla and assigning to Jo Shields is the best way to work with the owners of this. As such, I'm going to close this issue as external. Please file the bug in Bugzilla, and then put a link to it here.

[2016-09-06 23:50] #3382 closed, assigned to nobody

[2016-09-06 23:53] iskiselev opened #3417 "Build targets dependencies resolution"
Looks like there is no way for project that install build targets resolve path to other nuget packages that are declared as it's dependencies from MsBuild targets (unless if dependency version is not fixed).

For example, I'd like to create 2 packets:
1. Packet.Tool, that will contain tools\utility.exe
2. Packet.Build, that dependent on Packet.Tool [1.0,2.0), with build\Packet.Build.targets, that

[2016-09-06 23:53] rrelyea commented on #3381
VS "15" Preview 4 can be installed from: https://www.visualstudio.com/en-us/news/releasenotes/vs15-relnotes

[2016-09-06 23:56] rrelyea commented on #3417
In 3.6 beta1, we've changed the sort order for targets and props files from alphabetical to dependency order. As part of this work, A which uses B which uses C will end up including the following, and in this order:

C.props
B.props
A.props

....

C.targets
B.targets
A.targets

In order to achieve your desired goal, you would likely need to include a props for Packet.Tool pointing to setting a pro

[2016-09-06 23:56] #3417 closed, assigned to nobody

[2016-09-07 00:01] iskiselev commented on #3417
Thank you for quick answer.
Unfortunately it is still not solve problem if original packet is controlled by other persons.
There are lot's of packages that contains some tools in NuGet already, and lot's of authors publish updated version of tool to NuGet.
If I'd like to create package, that will use such tool inside MsBuild, there is no possibility to do it in clear way now.

[2016-09-07 00:02] rrelyea commented on #3354
We are unlikely to go address this in the 2.x branch. Options include working with package authors to improve their framework string, or work around in your 2.x codebase.

[2016-09-07 00:02] zhili1208 opened #3418 "[3.5 regression from 3.4] UI no longer to accept file URI format"
NuGet version: 3.5.0.1822

Repro Step:
1. add source : "test" : "file://nuget/tools" to nuget.config.
2. create a console app, open UI and select source to test.

Expecting:
works well

actual:
[test] The path 'file://nuget/tools' for the selected source could not be resolved.

nuget 3.5.0.1822 exe works well.
nuget 3.4.4.1321 works well.

[2016-09-07 00:02] zhili1208 commented on #3418
@rrelyea @emgarten

[2016-09-07 00:05] jasonmalinowski commented on #3397
I'm not sure if there's better docs out there than [these](https://docs.nuget.org/create/uwp-create) (@rrelyea can probably comment on that) but you'll probably want to read that if you haven't already. The NuGet model here explicitly splits up the concept of build time (i.e. passed to the compiler) vs. run time (needed to be deployed with the app). The runtimes folder is explicitly the latter _on

[2016-09-07 00:18] rrelyea commented on #3320
Sorry, this is a general limitation of "packages.config".
Our new model, providing Transitive Restore (Project.json or PackageRef in VS "15", solves this.)

Workaround: In Package Manage Console, type: "Update-package -reinstall"

We will improve the error message.
https://github.com/NuGet/NuGet.Client/search?utf8=%E2%9C%93&q=EnsureNuGetPackageBuildImports

[2016-09-07 00:22] rrelyea commented on #3300
We've not seen this before. Sorry.

Can you please try the following:
1) repair VS

if that doesn't work, try "devenv /setup"

if that doesn't work, uninstall and reinstall VS 2015?

[2016-09-07 00:23] rrelyea commented on #3299
@zhili1208  - is this checked in already?

[2016-09-07 00:25] #3294 closed, assigned to joelverhagen

[2016-09-07 00:30] drewgillies commented on #3408
The path isn't the only issue here. nuget.exe uses the path to find an MSBuild version _prior to 15.1_. But MSBuild 15.1 is a whole new ballgame, and nuget.exe needs to adapt. I have a prototype which should see the light of day soon.

[2016-09-07 00:31] rrelyea commented on #3284
"NuGet.exe init" does this exact thing. Can you try that please?
If you still have issues, we'll be happy to talk more.

[2016-09-07 00:31] #3284 closed, assigned to nobody

[2016-09-07 00:35] rrelyea commented on #3262
@drewgil  - think you want to close?

[2016-09-07 00:37] rrelyea commented on #3261
as a short term, could you please --
1) write up a short test script
2) work with me to have test team add to manual test data.

[2016-09-07 00:39] rrelyea commented on #3259
Think this is a question thread that is closable now. Please reactivate if I've interpreted incorrectly.

[2016-09-07 00:39] #3259 closed, assigned to nobody

[2016-09-07 00:41] rrelyea commented on #3257
Please analyze if we do have a break in behavior here.

[2016-09-07 00:43] rrelyea commented on #3256
please confirm that this is a regression and isn't fixed in later builds.

[2016-09-07 00:47] rrelyea commented on #3254
This may help: https://xunit.github.io/docs/getting-started-dotnet-core.html

If not, please answer the following:
What version of NuGet is installed in VS?
Also, do you have .NET Core Tools preview 2 installed?
Please see 3.5.0-rc1 at http://nuget.org/downloads

[2016-09-07 00:48] rrelyea commented on #3253
Sorry, no workaround since project.json won't run install.ps1.

[2016-09-07 00:48] #3253 closed, assigned to nobody

[2016-09-07 00:52] rrelyea commented on #3248
Can you please tell us if you still have this issue?

[2016-09-07 00:53] rrelyea commented on #3246
Please reopen if you still have issues.

[2016-09-07 00:53] #3246 closed, assigned to nobody

[2016-09-07 01:05] drewgillies commented on #3262
Yes, this was addressed in above commit.

[2016-09-07 01:05] #3262 closed, assigned to drewgillies

[2016-09-07 01:18] MelbourneDeveloper commented on #3320
@rrelyea thanks for looking at this, but I don't think you've grasped the magnitude of the problem. This problem may not rest solely with your team.

I'm not mentioning this problem simply because the problem exists - I am mentioning it because it affects nearly every recently created project template in Visual Studio. It happens with Xamarin and ASP .NET Core projects for a start. Many people wil

[2016-09-07 04:43] grillba commented on #747
I'm hitting this issue too.

Is there a known work around to this issue?

Ta

[2016-09-07 06:07] gawie-yssel commented on #3410
The bug was introduced in release 2.12. It worked in 2.12.0-rtm-815. We fixed our code by rolling back to the rtm.

[2016-09-07 06:39] tebeco commented on #2393
You cant
It's part of the c# extension if i'm not wrong

[2016-09-07 07:02] khorvat commented on #3246
Hi,

  allowedVersions should be placed in the packages.config but I'm searching for solution as described on StackOverflow:

So I'm asking if there is a variable that can be used in nuspec to always use installed version in project as minimum version in nuspec, note that I want to use the variable as the nuspec version range min.

Thanks

[2016-09-07 07:50] HEBOS opened #3419 "GetFullVsVersionString must be called on the UI thread"
Cannot open Nuget package manager in Visual Studio 2015:

Here is the error log:
LegacySitePackage failed for package [NuGetPackage]Source: Microsoft.VisualStudio.Composition
 Description: An exception was thrown while initializing part "NuGet.PackageManagement.VisualStudio.VSSolutionManager".
Microsoft.VisualStudio.Composition.CompositionFailedException: An exception was thrown while initializing

[2016-09-07 08:10] xavierdecoster commented on #3406
If you'd print it as `CREATED https://www.nuget.org/api/v2/package/`, it may be more clear :) I think CREATED refers to the HTTP 201 status code returned by the server as a result of the `PUT` operation.

[2016-09-07 08:45] mrward commented on #3382
[Bugzilla bug](https://bugzilla.xamarin.com/show_bug.cgi?id=44043)

NuGet 2.12 is included with Xamarin Studio 6.0.2. Currently there are no Linux packages available for MonoDevelop 6 and you will need to compile the code from [GitHub](https://github.com/mono/monodevelop/).

If you are using MonoDevelop 5.10 and do not want to compile MonoDevelop 6 from source you can try replacing the NuGet binar

[2016-09-07 09:16] frobijn commented on #3412
Indeed, in 3.5.0 this is fixed.

[2016-09-07 09:16] #3412 closed, assigned to nobody

[2016-09-07 10:13] luckielordie commented on #3404
Thanks for the Info yishaigalatzer

[2016-09-07 11:11] jochenwezel commented on #3388
@yishaigalatzer you're absolutely right! Thanks for this valueable hint :-)

I created my package with:

[code]

The directory of CompuMaster.Imaging.VS2015.vbproj also contained my CompuMaster.Imaging.nuspec file.

Unfortunately, The packaging didn't use my CompuMaster.Imaging.nuspec file and that's why it created a new .nuspec file from scratch from project just-in-time.

After renaming my Compu

[2016-09-07 11:46] jochenwezel commented on #3388
After republishing the package, everything works as expected :-)

The question is: is the not-using of CompuMaster.Imaging.nuspec (the .nuspec file which doesn't match the name of the .vbproj file) a bug or a feature?
My expectation was that if the project directory contains 1 .nuspec file, it automatically takes that...

[2016-09-07 13:21] AlesDo commented on #3248
Yes it is still happening. I have attached also the visual studio log file
[vslog.zip](https://github.com/NuGet/Home/files/459177/vslog.zip)

.

[2016-09-07 15:53] yishaigalatzer commented on #3410
Re-opened and moved to Joel

[2016-09-07 16:00] alpaix commented on #2393
@Madlord Would you be able to capture verbose output and/or Fiddler trace and share it? Please send it to support@nuget.org and mention issue id in the subject.

[2016-09-07 16:09] yishaigalatzer commented on #3388
It is the design. Going forward we are building a complete pack feature that will include all the metadata directly in the project file (and with UI support) and not require a nuspec partly to alleviate this kind of pain.

[2016-09-07 16:09] #3388 closed, assigned to nobody

[2016-09-07 16:13] ericstj commented on #3167
Whenever types are pushed down we need to update both higher level packages and lower level packages.  If someone only references the newer version of a lower level package they'll get type conflicts.  Even if we put all DLLs in the lower level package they'll still get conflicts (in fact, bin clashes) because the old DLL is still in scope for the higher level package.

The generic scenario is pus

[2016-09-07 16:29] alpaix commented on #2393
@mtttcgcg VSCode invokes `dotnet restore` to perform NuGet package restore operations. In its turn it doesn't call NuGet.exe but rather uses _embedded_ NuGet API. You can install the latest .NET Core on your desktop from [here](https://microsoft.com/net/core).

[2016-09-07 16:41] ericstj commented on #3397
RID assets have always been only for "runtime" not "compile" time.  There is a feature request to allow NuGet to support RID-specific compile time but it's on the backlog: https://github.com/NuGet/Home/issues/1660.

That means for any package today that needs RID-specific implementations, it must also expose a assembly in either ref or lib to be used at compile time.  If in 'ref' it can be a refer

[2016-09-07 17:06] rrelyea commented on #3368
Closing per email communication with the team. They were able to resolve the issue. Will ask them to add more info to this issue, to help other folks who may run into this in the future.

[2016-09-07 17:07] #3368 closed, assigned to drewgillies

[2016-09-07 17:09] zhili1208 commented on #3299
not yet

[2016-09-07 17:45] zhili1208 commented on #3256
verified this, it's a regression and still repro in latest 3.5-rtm build

[2016-09-07 17:51] paulvanbrenk commented on #3408
@drewgil Thanks for looking into this, if you need anything from me let me know.

[2016-09-07 18:02] emgarten commented on #3246
No there is not. The token replace wouldn't need to be aware of the dependency context and that is not supported today, token replacements are global across the nuspec file.

[2016-09-07 18:04] emgarten commented on #3412
@frobijn thanks for verifying!

[2016-09-07 18:07] joelverhagen commented on #3410
Fixed with https://github.com/NuGet/NuGet2/pull/60. Spoke offline with @rrelyea. This will be shipping with 2.14.

[2016-09-07 18:07] #3410 closed, assigned to joelverhagen

[2016-09-07 18:22] alpaix commented on #747
@grillba It can also be set via environment variables `http_proxy` and `no_proxy`. `http_proxy` should be specified in the format `http://[username]:[password]@proxy.com` whereas `no_proxy` should be a comma-separated list of domains to bypass the proxy server.

[2016-09-07 18:47] rrelyea commented on #3251
Doesn't appear there is a work around we can do, as Mono team and NuGet team haven't been able to reproduce the problem that @patrickjamesbarry sees in his environment.

Closing as not repro. If we are able to reproduce in other environments, please reopen this issue.

[2016-09-07 20:35] livarcocc commented on #3351
@yishaigalatzer the CLI reads the lock file to find the tools available for the project when resolving tools commands. We will then use the tool's lock file to generate its deps file. So, we use it twice.

[2016-09-07 20:59] #3257 closed, assigned to rohit21agrawal

[2016-09-07 21:02] rohit21agrawal commented on #3257
3.5.0-rtm : https://github.com/NuGet/NuGet.Client/commit/b755c08b8419757c588b275795c10fa047028122

[2016-09-07 21:06] zhili1208 commented on #3256
@gordonwatts Looks like 'ROOT.534.36.13' is a bad package, the build folder is under a "no name" folder, that's why nuget can't find it from zip. ROOT.534.34.13 works well.

[2016-09-07 21:55] yishaigalatzer commented on #3351
We should really get rid of that and go through a single channel in the msbuild task if possible and not produce multiple code paths that understand the lock file. IMHO the lock file is an implementation detail of NuGet and not something we should have partners take a dependency on.

By doing so we will be able to raise our confidence when making changes (even if additive) to the file.

I suggest

[2016-09-07 23:34] #3418 closed, assigned to zhili1208

[2016-09-07 23:41] brthor commented on #3351
Assuming we keep the tool resolution and execution in c#, we need to be able to consume something that describes the dependency graph of the tool so we can find the appropriate assembly to execute.

Today, that is the lock file through the LockFile model.
Is this task becoming the thing we should consume to find the dependency graph, and other lock file information (tool groups for example)?

[2016-09-07 23:46] yishaigalatzer commented on #3351
I'm saying we should strive for one single model, so yes that should be the goal

[2016-09-08 00:42] dhei commented on #3354
Hi @mrward, I am from Azure Mobile team. Could you work around this issue by using older version of Nuget v2.x or later version of v3.0?

[2016-09-08 01:29] grillba commented on #747
Thanks. I'd worked out to just set the proxy as part of the msbuild script.

[code]

[2016-09-08 02:29] stevenscreek commented on #3257
This looks like it should have fixed #3149 as well.

[2016-09-08 03:49] rohit21agrawal commented on #3257
@stevenscreek yes it does look like these are the same issues and this should fix that one too!

[2016-09-08 07:13] v-luzh opened #3420 "[Test Failure] Error occur when typing an ‘e’ in search filter of ‘Browse’ tab on PM UI"
**Repro Steps:**
1.  New a project [such as C# Blank Application (Universal Windows)].
2.  Open ‘Manage NuGet Packages for Solution’ and click ‘Browse’ tab.
3.  Type an ‘e’ in search filter.

**Expected Result:**
No error occur.

**Actual Result:**
An error occur as below screenshot.
![erroroccur](https://cloud.githubusercontent.com/assets/20632625/18340232/6a29552e-75d6-11e6-807b-78c2e39a691b.png

[2016-09-08 07:24] mrward commented on #3354
@dhei - Xamarin Studio 6.0.2 is using NuGet 2.12 so it has support for .NET Standard assemblies in NuGet packages so we cannot workaround it by using an older version of NuGet. This problem also affects Visual Studio 2013. The next release of Xamarin Studio 6.1 will use NuGet 3.4.3 but currently this is not released.

[2016-09-08 07:34] gulbanana commented on #3167
I'm not sure that I understand the problem. Let's say you've got System.Xml.A and System.Xml.B, and B depends on A...
- If you move a type from B to A and someone is depending on only A, there's now a new type in their updated package. No problem.
- If you move a type from B to A, update B 1.0.1 to depend on A 1.0.1. If someone is depending on B, both packages update. No problem.
- If you move a t

[2016-09-08 07:50] xlegalles commented on #3397
Thank you for your explanation. The doc that you reference is simple and clear enough but this is not the case for everything I read about project.json! And my mistake was that I tried to understand the problem and make it work from the json definition :( For instance I found that I should do a clear distinction in the `runtime` folder between native dlls (in a `native` folder) and .NET ones (in a

[2016-09-08 08:05] xlegalles commented on #3398
Thank you for your answer but it's not really what I was expecting: there is a major difference between a debugging experience using symbols and the one described in this article which uses the original source code and let you update it directly. Plus the fact that debugging with symbols works... sometimes and can be a real headache!

It's really disappointing to watch all improvements made for .N

[2016-09-08 08:05] v-nancyj commented on #3409
@rrelyea This issue repro on 3.4.4.

[2016-09-08 08:52] mlidbom commented on #3290
It is also important to consider the case where you have more than one source.
In that case the sources should be tried in the order specified.

[2016-09-08 12:07] Vasilich opened #3421 "update command breaks on first package update failure instead of trying to update the rest of packages from packages.config"
We are using local NuGet Server, that can proxy/cache requests to external Nuger servers. On this server we publish out own nuget packages. Surely our projects use both our and external packages, so first thing our BuildServer does is restoring packages before building the project/solution. After that it should **update only our packages to latest version** so we call update command and define nug

[2016-09-08 13:58] MartinJohns commented on #2521
@alpaix Will there be a fix made for VS2013? I'm having the same issue with the latest NuGet tools.

[2016-09-08 14:02] brettwgreen commented on #545
I'm interested in using DACPACs in Nuget to support an empty-database testing package that my applications can use. The idea is to pull the latest dacpac through a nuget dependency, deploy it to localdb, then run your tests against this instance. Having the dacpac nuget-able would greatly simplify pulling in this dependency to the testing project.

[2016-09-08 14:10] MartinJohns opened #3422 "Credentials from NuGet.Config not used in VS2013"
Visual Studio 2013 Professional Update 5
NuGet Package Manager 2.12.0.817

`NuGet.Config` file at solution level:

[code]

`NuGet.Config` in %AppData%/NuGet is empty.
I also tried to have this configuration in the system-wide %AppData%/NuGet configuration, but it made no difference. I also attempted to store the Password in clear text, with no difference either.

Expected behavior:
- No credential

[2016-09-08 15:48] ericstj commented on #3397
@harikmenon didn't you have some docs you were working on around this?

[2016-09-08 16:01] jainaashish commented on #3264
This has been resolved by ASP.NET team by publishing new version of AspNet.ScriptManager.bootstrap

[2016-09-08 16:02] #3264 closed, assigned to jainaashish

[2016-09-08 16:13] jainaashish commented on #1670
@migueldesousa are you seeing this issue with 3.5.0-rc1 (https://dist.nuget.org/visualstudio-2015-vsix/v3.5.0-rc1/NuGet.Tools.vsix ) release as well?

[2016-09-08 16:16] ericstj commented on #3167
If they depend on both they must update both B and A, if they update only A they will be broken.

So B depends on A.  In version 2.0 type X moves from B to A.  A project is referencing A and B both version 1.0.  Now project updates a package, say Json.NET, which uses A 2.0.  Now the project is using A 2.0 and B 1.0.  Both expose type X.  The compiler will fail saying that type X lives in both A an

[2016-09-08 17:57] mdkf opened #3423 "Nuget add does not allow both a package with symbols and without to be in the same repo"
On our MyGet feed we have 2 copies of all of our packages, one with symbols and one without. We would like to have the same setup on our optimized file share feed as well. After adding the package without symbols, we cannot add the package with symbols as nuget add says the package already exists.

[2016-09-08 18:12] rrelyea commented on #3240
@pdwetz - can you please try 3.5.0-rc1 from http://nuget.org/downloads?

[2016-09-08 18:24] #2293 closed, assigned to nobody

[2016-09-08 18:26] yishaigalatzer commented on #2293
@rrelyea can you please add a comment/commit to clarify the state of this work?

[2016-09-08 18:27] rrelyea commented on #2196
current plan is to move to "privateAssets"

[2016-09-08 18:39] rohit21agrawal commented on #3149
this has been fixed in 3.5 as a result of fixing https://github.com/NuGet/Home/issues/3257

[2016-09-08 18:39] #3149 closed, assigned to nobody

[2016-09-08 18:39] yishaigalatzer commented on #2521
There is no plan to update 2013 with authentication pieces.

[2016-09-08 18:45] erezvani1529 opened #3424 "NuGet fails to install a package targeting netstandard1.0 into a PCL(profile 111) project targeting Windows Phone 8.1"
Hi,

**Solution/Project and references Structure**

We are using the VS2015(latest update) template to create a Native Portable solution. The solution consists of a Droid, iOS, Windows Phone 8.1 and a PCL (Profile 111) project which by default targets the following platforms:

NetFx 4.5
ASP .Net Core 1.0
Windows 8
Windows Phone 8.1
Xamarin.ndroid
Xamarin.iOS

The Nuget package we are trying to ins

[2016-09-08 19:16] mdkf commented on #1778
Just tested 3.5.0-RC1 command line client, instead of dropping the private tag it changed it from False to True.

[2016-09-08 21:29] ericstj commented on #3424
I believe is an issue with the RuntimeInformation package.  Have you seen issue https://github.com/dotnet/corefx/issues/10445?

[2016-09-08 21:42] joelverhagen commented on #2917
Duplicate of https://github.com/NuGet/Home/issues/2522.

[2016-09-08 21:42] #2917 closed, assigned to joelverhagen

[2016-09-08 23:58] erezvani1529 commented on #3424
Thanks @ericstj! We will continue following that thread.

[2016-09-09 00:00] #3424 closed, assigned to nobody

[2016-09-09 00:15] maciejw commented on #3402
Microsoft Visual Studio Community 2015 Version 14.0.25425.01 Update 3
NuGet Package Manager 3.5.0.1484

project is newly created portable class library that targets .netstandard1.5. the same is for the project type class library with project.json added manually.

[2016-09-09 04:03] NikGovorov commented on #1365
I have same issue, it would be perfect to have the flag that would allow to override default behaviour.

[2016-09-09 04:43] gulbanana commented on #3167
I see.. so the problem is that XDocument depends on ReaderWriter without specifying an upper bound, and you want to make a backward-incompatible change to ReaderWriter (at least, it's backward incompat for people who had types with certain names).

[2016-09-09 04:48] gulbanana commented on #3167
Here's an idea for a non-circular nuget feature, then: "force deps to be updated, even if they didn't specify an upper version".

Nuspec could support an "IncompatibleWith" property, to be used in the _base_ dependency. ReaderWriter 4.0.12 would then specify IncompatibleWith 4.0.11; this would mean that dependers which have version ranges that include 4.0.11 would _not_ support depending on 4.0.12

[2016-09-09 06:27] nkuhan commented on #2880
In mac os x shell I typed
`export ALL_PROXY=proxy ip address :port number`
then typed
`dotnet restore`
It's work fine

[2016-09-09 08:59] mrward opened #3425 "Unable to install or update NuGet package if one package source is failing"
With NuGet v3 If one package source is invalid or is failing then it is not possible to install or update a NuGet package when all package sources are being used. With NuGet v2 it is possible to install or update a NuGet package if one package source is failing.

I believe that the NuGet v3 behaviour is by design but wanted to confirm it.

A simple way to reproduce this is in Visual Studio:
1. Ena

[2016-09-09 09:33] mrward commented on #2995
Why is the summary nuspec value no longer supported in the csproj file?

The summary is used as the short description for the NuGet package in the UI and is used by several NuGet packages (e.g. Automapper, Bootstrap, NUnit). For many NuGet packages the description is too long to be displayed in the list of packages so a summary is specified.

[2016-09-09 09:35] mrward commented on #2995
Why is Owners not available to be specified in the csproj file?

[2016-09-09 09:53] mrward commented on #2995
For the content files the spec says you have to specify a package path otherwise all files will be in the root of the NuGet package.

[code]

How is this PackagePath determined/specified? Is it based on the directory the Content file is added to in the project or do you have to specify it separately?

Just wondering if instead of a separate PackagePath property the folder structure of the project

[2016-09-09 13:09] oatsoda opened #3426 "NuGet 3.5.0 no longer uses a default package source, you have to specify one in NuGet.Config"
See  [This SO Post](http://stackoverflow.com/questions/39352013/nuget-fails-to-restore-netstandard-libary-for-netstandard1-2-in-vnext-build-agen)

The [NuGet docs](https://docs.nuget.org/consume/nuget-config-defaults) state:

But this no longer appears to hold true.  Instead you must supply a NuGet.config and specify a package source, e.g.

[code]

[2016-09-09 13:26] khorvat commented on #3246
Is there a variable/token that can be used in allowedVersions to accomplish this:

`allowedVersion="[$packageVersion$,2.0.0)"`

this way I can use installed version as minimum and fixed 2.0 as maximum version ? If this is not supported at the moment do you plan to introduce this feature ?

Regards

[2016-09-09 17:02] andyfenna commented on #545
Does anyone have an update on this?

[2016-09-09 17:08] ericstj commented on #3167
Yes, that is what I meant by this:

[2016-09-09 17:09] TimLovellSmith commented on #1298
I am hitting a very similar issue trying to install a nightly build of xunit, in VS2015 package manager console, like this:

[code]

My packages.config for AzureCache.ResourceModel.Tests is:

[code]

My package source is a local file share with files copied from xunit's myget (e.g. https://www.myget.org/feed/xunit/package/nuget/xunit.core)

[2016-09-09 17:20] TimLovellSmith commented on #1298
I note that I had package manager console set to use my local file share package source...
However the same package is on nuget.org:

https://www.nuget.org/packages/xunit.core/2.2.0-beta2-build3300

And it seems like if I do Install-Package of it, the one from nuget.org gets installed, not the package source I had selected.

[code]

[2016-09-09 18:05] yishaigalatzer commented on #3426
Yes, this is true and by design. Will update the docs

[2016-09-09 18:09] yishaigalatzer commented on #3425
Yes this is by design. The problem here is that if one source is temporary off, you will get different results from if it was on because packages on that feed may have more applicable dependencies.

In project.json this could trigger invalid restores as well.

We are building a feature in 3.6 to detect this scenario and prompt the user to disable the source for the session (while explaining the po

[2016-09-09 18:09] #3425 closed, assigned to nobody

[2016-09-09 18:10] yishaigalatzer commented on #3425
Here is the spec https://github.com/NuGet/Home/wiki/Package-Sources-Diagnostics (not yet fully fleshed out), feel free to comment and help enhance the spec.

[2016-09-09 18:14] apolcyn opened #3427 "Nuget 2.12 doesn't install all files in package as expected"
When installing a certain nuget package, Grpc.Tools.1.0.0 in my case, not all of the files from the published nuget package are getting included in the resulting package folder after install.

To reproduce unexpected behavior:

Using nuget 2.12 on linux or OS X (nuget 2.12 downloaded via apt-get, or installed with Xamarin Studio 6.0 in my case):
1. `/path/to/nuget install Grpc.Tools` (should get v

[2016-09-09 19:48] yishaigalatzer commented on #3427
NuGet 2.12 commandline (nuget.exe) is not a supported product, we never tested it and we never intended for it go be distributed. I'll chat with the Xamarin folks about it

[2016-09-09 19:50] yishaigalatzer commented on #3423
We do not plan to support it. There is an inherent collision between the two packages, and there is no meaning to the symbols in the same repo. You could have two repos and two feeds if you'd like instead.

[2016-09-09 19:50] #3423 closed, assigned to nobody

[2016-09-09 19:52] yishaigalatzer commented on #3422
@alpaix can you take a look and help @MartinJohns out? If there is a bug here, please change the tags and lets discuss

[2016-09-09 19:54] yishaigalatzer commented on #3419
What version of the nuget extension are you using (the latest is 3.4.4, and the latest pre-release is 3.5-RC1 available on https://www.nuget.org/downloads

[2016-09-09 20:01] yishaigalatzer commented on #3421
I'll let the engineers take a deeper look and help with a suggestion, but this is somewhat intentional. When not having all the versions available the end result of an update operation is not deterministic. We have considered mechanism that will allow narrowing down what updates to take.

I know I'm not answering this specific question, but at the same time, we are moving away from packages.config

[2016-09-09 21:24] yishaigalatzer commented on #3085
We don't have an update on this at the moment, we never planned to support .net core builds on mono with nuget.exe.

We will however look at:
1. Can we run msbuild for restoring a solution on mono for packages.config scenarios (3.5 +)
2. Can we nuget.exe restore for a solution for the final .net core mode. (3.6 +)

At this point in time if you want to build .net core on linux use `dotnet restore`.

[2016-09-09 22:38] mishra14 commented on #3316
Retested after feature/msbuild was merged into rel/1.0.0. The error is no longer observed.

[2016-09-09 22:38] #3316 closed, assigned to mishra14

[2016-09-10 07:23] gulbanana commented on #3167
What I've described wouldn't be considered a cycle because it wouldn't _be_ a cycle - the updated base package would only need to refer to itself :)

[2016-09-10 08:12] WimBoom opened #3428 "Nuget IKVM slow install on large project"
When we install the Nuget Package IKVM with the package manager console command: Install-Package IKVM (https://www.nuget.org/packages/IKVM). The Executing nuget actions took +/- 40 seconds
could this be improved?

Test Environment:
- Windows 10 Enterprise
- VS 2015 VSIX (v3.5.0-rc1), Package Manager Console Host Version 3.5.0.1737
- Visual Studio 2015 Enterprise with update 3
- Samsung 850 Pro SSD

[2016-09-10 17:33] gordonwatts commented on #3256
This is embarrassing. I wasn't aware my automated packaging code had changed. I will investigate by Monday, when I have a real internet connection. Thank you for taking a look.

[2016-09-10 21:09] HEBOS commented on #3419
Just installed 3.5-RC1 and I'm getting same error.

[2016-09-10 22:06] emgarten commented on #3428
How long does `Update-Package -reinstall` take? Was the package being downloaded from nuget.org each time or was it in the cache?

There should be little difference in installs times for a class library vs MVC.

[2016-09-10 22:34] craigajohnson commented on #3419
Same.

[2016-09-11 05:43] moizmh commented on #2239
@brainwipe Thanks for the solution. Just wanted to add that in my case I didn't have to reinstall the NuGet extension. I just deleted/moved the config file from %appdata% and restarted VS.

[2016-09-12 07:51] WimBoom commented on #3428
The Sample project:
[WebApplication4.zip](https://github.com/NuGet/Home/files/465299/WebApplication4.zip) is MVC.
The package is in cache, the Update-Package IKVM -reinstall (on a another pc, first installed/uninstalled/installed/reinstall)

Test Environment:

[code]

Result:

[code]

**Executing nuget actions took 29.97 sec
Time Elapsed: 00:00:30.6095238**

Test Environment:

[code]

Result:

[co

[2016-09-12 08:13] sammosampson commented on #1112
This seems to be happening again. https://www.nuget.org/packages/SystemDot.MessageRouteInspector.Server/1.2.1

[2016-09-12 08:13] sammosampson opened #3429 "This package has not been indexed yet"
See https://www.nuget.org/packages/SystemDot.MessageRouteInspector.Server/1.2.1

[2016-09-12 08:14] maartenba commented on #3429
This is a search index lag which is being worked on.

[2016-09-12 08:14] #3429 closed, assigned to nobody

[2016-09-12 08:49] Evangelink commented on #3225
@harikmenon Have you made any progress regarding this case?

[2016-09-12 09:10] jtattermusch commented on #3427
@yishaigalatzer   on the Downloads page of www.nuget.org (https://dist.nuget.org/index.html), one can download "VS 2013 VSIX (v2.12.0)" which gives you nuget 2.12, also, installing the latest version of mono on Linux or Mac gives you nuget client of version 2.12. So it really sounds it is officially distributed.

It also should be distributed because you need it to be able to restore solutions tha

[2016-09-12 09:14] jtattermusch opened #3430 "Make nuget 2.12 available for download"
On the www.nuget.org download page, one can download different versions of nuget command line client, but version 2.12 is missing.
The reason why it is important is that you need it to be able to restore solutions that are using some of the newer nuget packages (such as System.Interactive.Async).  Nuget 3.x is not usable because it doesn't allow to restore .sln files when on Linux on Mac (when usi

[2016-09-12 11:33] asatsi opened #3431 "OwinSelfHost fails to install..."
This is quite annoying, trying to create a sample WebApplication from the template :

Visual Studio Community 2015: Version 14.0.25425.01 Update 3
Package Manager Console Host Version 3.4.4.1321

Severity    Code    Description Project File    Line    Suppression State
Error       Could not install package 'Microsoft.AspNet.WebApi.Client 5.2.3'. You are trying to install this package into a projec

[2016-09-12 14:41] TheBigRic opened #3432 "NuGet cmdLine 3.6 beta does not honor -Prop Configuration = Release"
I used NuGet 3.3 before for creating packages using the commandline with this command:

[code]

Because of this issue #1922, I tried to use 3.5 RC1, but this gave me still some problems, so I decided to try 3.6. This builded the project in Debug and then tried to package (zip) the files from the \bin\release folder, which was empty. Sometimes it failed, Other times it succeeded, however looking in

[2016-09-12 15:43] zone117x opened #3433 "Packages won't install stating that they don't support the framework yet lists that framework as supported"
I just setup a new development machine with fresh installations of visual studio and tooling.
Now I can no longer install nuget packages targeting .NET Standard.

Here's an example: the package `System.ComponentModel.EventBasedAsync` won't install for a .NETStandard1.3 portable project type as stated in output: `One or more packages are incompatible with .NETStandard,Version=v1.3`,

Yet outputs `n

[2016-09-12 16:37] asatsi commented on #3431
Figured out  I need to select only the webservices service for installing the extension and not the main service/application. This should be closed.

[2016-09-12 16:37] #3431 closed, assigned to nobody

[2016-09-12 16:54] yishaigalatzer commented on #3419
Thanks @HEBOS and @craigajohnson.

We are not seeing this locally, so would be very helpful if you can share more details about your setup (version of VS, Windows, what other extensions you have installed).

[2016-09-12 16:58] asbjornu commented on #1882
I would love to see NuGet build more verification into the platform, in as many layers and vectors of it as possible. Verification of accounts can be done by integrating [Keybase](https://keybase.io/), for example.

[2016-09-12 16:59] yishaigalatzer commented on #1112
The package looks indexed properly. Are you still seeing this?

[2016-09-12 17:00] ericstj commented on #3167
I see what you mean.  I suspect it would have the same effect as a cycle: NuGet would need to invalidate another branch of the graph, but now it would need to do some sort of search until it found a package version that didn't use the incompatible dependency.  My experience in the past is that NuGet (nor NuGet's customers) don't like the search-like behaviors, nor do they like the case where they

[2016-09-12 17:00] yishaigalatzer commented on #3427
@jtattermusch the nuget vsix is officially released. But from your bug it didn't seem to be that you have a problem with that artifact.

NuGet 2.12 is not released, the mono team chose to fork it and ship a version. We only support NuGet 3.5 and on, we do not ship (nor test) versions of nuget.exe for 2.12.

[2016-09-12 17:01] emgarten commented on #3428
@WimBoom very helpful, thanks for the numbers :smile:

[2016-09-12 17:15] alpaix commented on #3422
@MartinJohns Will you be able to capture a Fiddler trace with network calls and send it to support@nuget.org? Also please share the output from PMC.

Another alternative to verify the configuration would be performing restore with command line nuget.exe.

[2016-09-12 17:20] WimBoom commented on #3428
@emgarten :-) I have added the first test environment results with command Update-Package IKVM -reinstall

[2016-09-12 17:33] craigajohnson commented on #3419
Visual Studio 2015 with Update 3
Windows 10 Build 14915
Happens on either NuGet 3.4.4.1321 or latest 3.5 RC

Sometimes going in and out of VS and loading from a new solution will work. Once the "NuGet - Solution" view has loaded successfully at least once it will usually allow subsequent loads on different solutions.

Copy of Diag info from VS:

Microsoft Visual Studio Enterprise 2015
Version 14.0

[2016-09-12 17:54] JobaDiniz commented on #2372
Yeah, docs are wrong.
And the only benefits for me using .csproj are the `$var$` that are picked up from Assembly.cs.

[2016-09-12 17:55] yishaigalatzer commented on #3419
Thanks, we are taking a look

[2016-09-12 18:11] alexxn opened #3434 "Nuget 3.4+ can not restore some packages fails with "The given path's format is not supported""
1) Download https://github.com/umbraco/Umbraco-CMS/releases/tag/release-7.2.1 sources
2) Unpack and run nuget restore command

D:\Temp\nuget.exe restore "D:\Temp\Umbraco-CMS-release-7.2.1\src\umbraco.sln"
MSBuild auto-detection: using msbuild version '14.0' from 'C:\Program Files (x86)\MSBuild\14.0\bin'.
The given path's format is not supported.

3) Packages are not restored

The issue can be repr

[2016-09-12 18:11] rrelyea commented on #3433
What version of VS/NuGet are you using? If it is older, you may not have proper support for .NET Standard.

[2016-09-12 18:14] rrelyea commented on #3434
Please investigate.

[2016-09-12 18:14] JobaDiniz commented on #2936
Latest version today is [3.4.4](https://dist.nuget.org/index.html). Issue's _Milestone_ shows `3.4.5`. Question: `3.4.4` has this fix?

[2016-09-12 18:15] rrelyea commented on #3432
please investigate

[2016-09-12 18:17] zhili1208 commented on #3419
@HEBOS Can you provide an error log for 3.5-RC1? thanks

[2016-09-12 18:17] rrelyea commented on #3430
Sorry, nuget.exe won't be released for 2.12. Sorry, we cannot test that release, and therefore shouldn't release it.
We are working on fixing the .sln restore on Mono.

[2016-09-12 18:17] #3430 closed, assigned to nobody

[2016-09-12 18:21] #3427 closed, assigned to nobody

[2016-09-12 18:23] rrelyea commented on #3420
image uri problem? Please take a peek

[2016-09-12 18:24] mishra14 opened #3435 "Investigate current CI E2E test failure"
Currently, one of the E2E tests (update.ps1/UpdatePackageFailsIfNewVersionLessThanInstalledPrereleaseVersion) is failing consistently on dev14 and dev 15 CI test machines.

Opening an issue to track the matter.

[2016-09-12 18:25] rrelyea commented on #3409
yes, working as it should.

[2016-09-12 18:25] #3409 closed, assigned to nobody

[2016-09-12 18:28] alexxn opened #3436 "Nuget 3.5.0rc1 can not parse solution file"
1) Download Source code (zip) from https://github.com/dnnsoftware/Dnn.Platform/releases (direct link:https://github.com/dnnsoftware/Dnn.Platform/archive/v8.0.4.zip)
2) Unpack and run nuget restore command

D:\Temp\nuget350rc1.exe restore "D:\Temp\Dnn.Platform-8.0.4\DNN_PlatformNoTests.sln"
MSBuild auto-detection: using msbuild version '14.0' from 'C:\Program Files (x86)\MSBuild\14.0\bin'.
Error pa

[2016-09-12 18:41] rrelyea commented on #3395
Correct. We plan to address with 3.5 work.

[2016-09-12 18:43] rrelyea commented on #3436
Was there a version of NuGet that worked for this solution?
Does it help if you pass in the command to choose msbuild version 4 or something else?

[2016-09-12 18:52] zhili1208 commented on #3419
@craigajohnson I can't get an repro, do you have a consistent repro? Please share repro step or repro solution? thanks

[2016-09-12 19:06] rohit21agrawal commented on #3432
@TheBigRic could you share more details of the kind of project it was? or even better, could you attach a small repro project so I am able to repro this issue on my end?

[2016-09-12 19:08] craigajohnson commented on #3419
There may be a correlation with the latest Xamarin for Visual Studio extensions (beta channel). If I open any solution containing Xamarin projects as the FIRST solution, I always get the error. If, however, I open a non-Xamarin solution first, I do not get the error and then I am able to load the Xamarin solution(s).

[2016-09-12 19:29] HEBOS commented on #3419
craigajohnson, this is also true at my side.
I'm also using beta channel. When I rollback to stable channel (this requires repairing Visual Studio), everything was all right, than after swiching to beta channel again, I get same "GetFullVsVersionString must be called on the UI thread" problem.

[2016-09-12 19:31] zhili1208 commented on #3419
@craigajohnson thank you, that's helpful, I guess for some reason, Xamarin project trigger nuget initialization on a non-UI thread. What's the beta Version of Xamarin for visual studio extension?

[2016-09-12 19:35] craigajohnson commented on #3419
Version at present is 4.2.675.

[2016-09-12 19:38] HEBOS commented on #3419
Here is my error log:
[ActivityLog.zip](https://github.com/NuGet/Home/files/468201/ActivityLog.zip)

My configuration is as follows:
Microsoft Visual Studio Professional 2015
Version 14.0.25425.01 Update 3
Microsoft .NET Framework
Version 4.6.01038

Installed Version: Professional

LightSwitch for Visual Studio 2015   00322-40000-00000-AA317
Microsoft LightSwitch for Visual Studio 2015

Microsoft

[2016-09-12 19:57] HEBOS commented on #3419
zhili1208, I created a new bug ticket on [https://bugzilla.xamarin.com/show_bug.cgi?id=44146](url) 3 days ago, but they haven't begun resolving it yet.
If you want you can join discussion there and I'm sure your suggestions will be priceless.

[2016-09-12 19:59] #1406 closed, assigned to joelverhagen

[2016-09-12 19:59] #3074 closed, assigned to joelverhagen

[2016-09-12 20:36] zhili1208 commented on #3419
@HEBOS @craigajohnson I updated to beta version 4.2.675 and created some IOS and android project, but I can't repro this issue, is there any special thing I need to do for repro?

[2016-09-12 20:49] zhili1208 commented on #3419
@mrward @mhutch Can you look at this issue? Looks like Xamarin trigger nuget initialization on a non-UI thread.

[2016-09-12 20:53] zone117x commented on #3433
Should be latest of everything...

[code]

[2016-09-12 21:11] zhili1208 commented on #3434
I think this is a duplicate issue, https://github.com/NuGet/Home/issues/3235
@alexxn Can you try RC2 bits: https://dotnet.myget.org/feed/nuget-build/package/nuget/NuGet.CommandLine/3.5.0-rtm-1829?

[2016-09-12 21:22] craigajohnson commented on #3419
@zhili1208 if I create a brand new solution with no packages it works. I will try to add the packages in the solution that is causing errors one-by-one and see if there is a clear repro.

[NugetError_ActivityLog.txt](https://github.com/NuGet/Home/files/468388/NugetError_ActivityLog.txt)

[2016-09-12 21:36] joelverhagen commented on #3261
# Verify that the PMC warns about deprecated dotnet
1. Create a new C# Class Library (Portable) project.
2. When selecting the portable targets, select .NET Framework 4.6 and ASP.NET Core 1.0.
3. Open the project.json in the created project.
4. Verify that the "dotnet" framework is under the "frameworks" section.
5. Right-click on the project and Manage NuGet Packages...
6. In the Installed tab, v

[2016-09-12 22:04] zhili1208 commented on #3436
I can't repro this issue with rc2 bits, Can you try https://dotnet.myget.org/feed/nuget-build/package/nuget/NuGet.CommandLine/3.5.0-rtm-1829?

[2016-09-12 22:46] craigajohnson commented on #3419
@zhili1208 see link to zipped solution on OneDrive - I pared down my errant solution until it can get no smaller. In this case it appears to be with a Xamarin Component.

This does cause an error every time I run it.

https://1drv.ms/u/s!AiamtlJ7P8BQ1p8HFGnvAxT7Bj-G-A

[2016-09-13 00:16] karann-msft commented on #3426
Docs updated.

[2016-09-13 00:16] #3426 closed, assigned to karann-msft

[2016-09-13 04:16] mhutch commented on #3419
cc @kzu ^

[2016-09-13 05:22] karann-msft commented on #3360
Docs updated.

[2016-09-13 05:22] #3360 closed, assigned to karann-msft

[2016-09-13 05:34] #3157 closed, assigned to karann-msft

[2016-09-13 05:42] karann-msft commented on #3363
@yishaigalatzer what is the exact statement that we want to say for this? How does the following sound:

Anything else you would like to add here?

I am planning to add this statement to the [Finding and Choosing Packages](https://docspreview.nuget.org/ndocs/consume-packages/finding-and-choosing-packages) doc.

cc: @harikmenon

[2016-09-13 06:43] AndyTian-Devops opened #3437 "[Test Failure][Dev14] NuGet.VisualStudio.Interop failed to load - Fail to create UWP and ASP.NET application after installing latest NuGet Client from Dev folder"
**Repro Steps:**
1. Install Visual Studio 2015 Update3.
2. Install latest NuGet Client **1833** from Dev folder.
3. Launch Visual Studio 2015.
4. Create a C# UWP project or ASP.NET application.

**Expected:**
Projects should be created successfully.

**Actual:**
Fail creating UWP project.
![nugetuwp](https://cloud.githubusercontent.com/assets/12235523/18463836/6f314e40-79bf-11e6-9ecc-4d96661b2d87.

[2016-09-13 06:51] HEBOS commented on #3419
I cannot reproduce error using new clean project, even if I use packages.config from my project and make full reinstall of nuget packages. I downloaded @craigajohnson project also, and couldn't reproduce the error using it. It must be that project files are somehow corupted.

[2016-09-13 10:33] jtattermusch commented on #3085
@yishaigalatzer, is this the issue to track for "1. Can we run msbuild for restoring a solution on mono for packages.config scenarios (3.5 +)". Is there an ETA for the 3.5 release?
For our project (gRPC) this is important because the user experience is really bad when developers cannot run `nuget restore` for our solutions on mono. We are in a weird state where one needs at least nuget 2.12, but t

[2016-09-13 10:57] ravensorb commented on #3085
I agree - I to have several frameworks that can be compiled on mono and are still using package.config - there needs to be a way to restore those packages in an easier manner then restoring to a very old version of nuget :)

[2016-09-13 12:36] HEBOS commented on #3419
@craigajohnson, I just found temporary workaround.
Before you open any project, open Nuget Package Manager Settings, and click ok.
Now open your project, and everything works, until next VS restart.

[2016-09-13 12:40] StephenCleary opened #3438 "`Nuget.Packaging` does not have stable 3.4.4 package version"
The [`NuGet.Packaging` version](https://www.nuget.org/packages/NuGet.Packaging) for the (presumably stable) 3.4.4 release is using a prerelease version string `3.4.4-rtm-final`.

So, if a user installs `NuGet.Packaging` into a new project (without including prerelease packages), they will get the older 3.4.3 version, which has bug #2690 in particular.

Please re-release `NuGet.Packaging 3.4.4-rtm-

[2016-09-13 12:44] TheBigRic commented on #3432
[Nuget.Repro.zip](https://github.com/NuGet/Home/files/469782/Nuget.Repro.zip)

I attached a zip file which contains 2 solutions:
1. Default build config = debug
2. Default build config = release

Solution 1 has this config in de csproj files:

[code]

Solution 2 has this config in de csproj files:

[code]

Both solutions contain 2 batch files for creating the package. One fails, the other succeeds

[2016-09-13 16:04] kzu commented on #3419
- @josegallardo

On Tue, Sep 13, 2016, 9:36 AM HEBOS notifications@github.com wrote:

[2016-09-13 16:09] yishaigalatzer commented on #3085
Yes, we are looking at a fix for this right now. The range at the moment is within weeks for an official release. The mono team did release their own version of 2.12 (though we do not support it), does that unblocks you?

[2016-09-13 16:32] pspill opened #3439 "NuGet.exe plugin credential providers should be able to provide tracing / debug logging"
Plugin credential providers are not properly hooked in with NuGet.exe's verbosity flag, and provide no additional trace and debug logging from providers.  This makes it more difficult to debug credential acquisition problems.

The current behavior is for plugin providers to provide a {Username, Password, Message} json result, but the Message itself is typically insufficient for debugging.

Better

[2016-09-13 18:26] mdkf opened #3440 "Error during NuGet update"
When updating a package, NuGet tells me that it first uninstalled the old package and all of the files included with it. However when it attempts to install the new version of the package, it complains about a file conflict with a file it said it had removed during the uninstall. Whats going on here? Log below:

D:\Jenkins_Home\workspace\CSGAP\My Project>"C:\nuget.exe" update "D:\Jenkins_Home\work

[2016-09-13 18:47] drewgillies commented on #3437
This looks like a strong naming problem. @v-atian -- please elaborate on "from dev folder". Did you build this yourself or get a CI build?

[2016-09-13 20:09] drewgillies commented on #3437
Actually, it looks more like we're stamping NuGet.VisualStudio.Interop.dll with a version which is a surprise to the VS templates, which expect v1.0.0.0 (as per error). Will coordinate a fix with @alpaix.

[2016-09-13 21:26] drewgillies commented on #3437
Fixed by https://github.com/NuGet/NuGet.Client/pull/869

[2016-09-13 22:10] skofman1 opened #3441 "nuget.exe list -allversions doesn't work"
Version: 3.5 rc2
Repro:
Run:`NuGet.exe list packageid:EntityFramework -verbose -allversions`
Result:

[2016-09-13 23:22] rrelyea commented on #3437
Per Drew's email, dev branch build 1838 has this fix.

[2016-09-13 23:34] rrelyea commented on #3436
@alexxn - please reply to both my early question and zhi's question as well. we are short on time. Please reply asap.

[2016-09-13 23:38] jamesmontemagno commented on #3419
I was able to repo this on my machine with I updated. I uninstalled Xamarin and re-Installed Xamarin and it fixed it up for me. I attached some logs into the Bugzilla report private though for the team to look at.

[2016-09-13 23:40] rrelyea commented on #3441
this appears to be broken in 2.8.6 and up. I didn't test before 2.8.6.
should fix or remove the switch/docs.

[2016-09-14 00:00] craigajohnson commented on #3419
@jamesmontemagno uninstalling and reinstalling Xamarin on Windows did not fix it for me. I uninstalled from Add/Remove programs and then re-installed using the Xamarin installer. If there are other steps to perform for the uninstall/reinstall besides that then I will try them.

[2016-09-14 00:01] jamesmontemagno commented on #3419
@craigajohnson that is what I did via the add/remove and then used the Xamarin installer from the site. odd....

[2016-09-14 01:50] AndyTian-Devops commented on #3437
@rrelyea @drewgil I think we should keep this bug alive because it still happened on VS14 CI build 1838 and 1839

[2016-09-14 02:18] akamud commented on #3085
Is there a workaround for this issue while we don't get an official release?

[2016-09-14 07:29] OnTheFenceDevelopment commented on #3419
@kzu - your workaround works for me.

Odd that I have two systems here, both updated with the latest Xamarin for VS this morning and the laptop is playing up while the workstation is fine.

[2016-09-14 10:05] Bidthedog opened #3442 "v3.4.4 - Nuget restore throws "The given path's format is not supported""
I recently updated to 3.4.4 from 3.3.0 and started getting this error when running "nuget restore" from the SLN folder. I tried a few params, but could not get it working. I've tried all of the following:

nuget restore
nuget restore My.Project.Name.sln
nuget restore "My.Project.Name.sln"
nuget restore My.Project.Name.sln -ConfigFile nuget.config
nuget restore My.Project.Name.sln -MsBuildVersion 1

[2016-09-14 11:14] alexxn commented on #3434
Rtm-1829 seems to work well.
It fails to restore, but this time due to outdated packages in the solution.

[code]

[2016-09-14 11:20] alexxn commented on #3436
Just tried 3.5.0-rtm-1829. Not working.

[code]

[2016-09-14 11:29] kzu commented on #3419
You mean the clean MEF one?

On Wed, Sep 14, 2016, 4:29 AM Dave Carson notifications@github.com wrote:

[2016-09-14 11:30] alexxn commented on #3436
Not sure how to use msbuild 4, but I tried

`d:\Temp>D:\Temp\nuget_rtm-1829.exe update "D:\Temp\Dnn.Platform-8.0.4\DNN_PlatformNoTests.sln" -MSBuildVersion 4
`

And got huge output with no errors. Afterwards I tried to restore again and got the same problem

[code]

[2016-09-14 11:31] alexxn commented on #3436
Probably you will find this output useful as well:

[code]

[2016-09-14 11:36] OnTheFenceDevelopment commented on #3419
@kzu - I meant this one:

[2016-09-14 11:53] kzu commented on #3419
Ah, I was sure I hadn't provided any workarounds :)

Is there anything Xamarin should be doing to mitigate this? I guess we
could request a service provided by NuGet that would cause it to initialize
on the right thread?

On Wed, Sep 14, 2016, 8:37 AM Dave Carson notifications@github.com wrote:

[2016-09-14 13:28] seesharper commented on #3287
What about NuGet.ProjectManagement ?

This package does not seem to support .NetCore

Or is there another way to do a package install from .NetCore?

[2016-09-14 14:52] kzu opened #3443 "If reference assembly exists for nuget library, no HintPath is added"
from: https://bugzilla.xamarin.com/show_bug.cgi?id=43915#c18

[code]

Is this by-design?

[2016-09-14 16:27] yishaigalatzer commented on #3419
My guess is that you are initializing NuGet from a background thread, which is not supported. We haven't been able to reproduce the scenario, so we can't help you yet with where to make a fix.

There are ways to make to force initialization back on the main thread, but the concern there is deadlocks which are even worse than the situation today.

[2016-09-14 17:12] zhili1208 commented on #3085
@akamud I don't think there is a workaround for this, the issue is NuGet hardcode "msbuild.exe" in code,
I made a fix to fallback to xbuild when msbuild doesn't exist, the fix will be in 3.5-rtm release

[2016-09-14 17:19] zhili1208 commented on #3434
@alexxn Can you provide your nuget.config? Looks like nuget can't find packages from your sources, not sure which source is using in your case.

[2016-09-14 17:20] craigajohnson commented on #3419
@yishaigalatzer forgive dumb question but what is the risk in NuGet basically re-Invoking the initialization request on the UI thread (just catching Xamarin's/any one else's mistake?)

[2016-09-14 17:25] kzu commented on #3419
@yishaigalatzer well, it does look like nuget is using the JoinableTaskFactory, so it should be safe for us to initialize using the same, which is intended to prevent such deadlocks...

[2016-09-14 17:39] yishaigalatzer commented on #3419
@craigajohnson the risk is deadlocks, and @kzu got it right,

[2016-09-14 17:41] Mattygs6 opened #3444 "Nuget Update from Command Line not running install.ps1 or editing csproj files for added/removed files"
It does however add new hint paths for updated dll versions in the csproj files.

The setup:
git.reset-update-push.bat
@echo off

FOR /D %%G in (.*) DO (
 Pushd %%G
 CALL git.reset.bat
 FOR %%i in (*.sln) DO .nuget\nuget.exe update %%i -MSBuildVersion 14 -Verbosity Detailed -FileConflictAction Overwrite -source "http://nugets.client.com/nuget/Client-Shared;http://nugets.client.com/nuget/Client-Sta

[2016-09-14 18:21] MosheL commented on #2798
Update again: same machine, other User Account - works.

[2016-09-14 18:23] zhili1208 commented on #3436
I tried 2.8, 3.4.4 and 3.5, this doesn't work with all the versions, I think the issue is msbuild can't parse this solution because
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "Dnn.Modules.Newsletters", "DNN Platform\Admin Modules\Dnn.Modules.Newsletters\Dnn.Modules.Newsletters.csproj", "{DF9DA7E9-FBD6-4411-A4C1-768E0DC945E3}"
EndProject

doesn't exist on disk.

[2016-09-14 18:29] schiebel opened #3445 "nuget.exe fails with mono (4.4.2.11) on rhel7 linux"
Hi,
I'm trying to use NuGet to get GitVersion working on my linux system, but it seems like nuget.exe fails to even run with mono on rhel7...below is the output I get; sorry if this is a configuration issue, I am relatively new to using mono...

-bash-4.2$ cat /etc/redhat-release
Red Hat Enterprise Linux Workstation release 7.2 (Maipo)
-bash-4.2$ rpm -qi mono-core
Name        : mono-core
Version

[2016-09-14 19:31] rrelyea commented on #3437
Drew is OOF today. Ankit will take a look.

[2016-09-14 19:31] yishaigalatzer commented on #3445
1. Please tell us what version of nuget.exe are you using?
2. This would probably be a mono issue rather than a nuget.exe issue. I would report it on the mono site. @kzu

[2016-09-14 19:34] yishaigalatzer commented on #3444
This is a known limitation of the packages.config pattern.

We have built a mechanism to include packages only as metadata which is currently expressed by project.json, and in the future directly in the msbuild file as packagereference element, but we do not know of a good way to make install.ps1 run outside of visual studio nor we plan to attempt to support it.

[2016-09-14 19:34] #3444 closed, assigned to nobody

[2016-09-14 19:36] yishaigalatzer commented on #3443
This is a duplicate of a known bug in the F# project system. We discussed with Don Syme and agreed that the fix will need to go there.

@rrelyea can you please find and dedup the issue.

[2016-09-14 19:37] yishaigalatzer commented on #3442
I'm suspecting this has to do with the packages entry, we should look into this in 3.5.

[2016-09-14 19:38] yishaigalatzer commented on #3442
@rrelyea @zhili1208 is this something we already fixed?

[2016-09-14 19:41] yishaigalatzer commented on #3438
Are current plan of record is to release 3.5 shortly without the pre-release tag (and skip the step you suggested above). Mostly due to cost/timing, it is definitely the right thing to do, ignoring the effort to do so.

If you disagree, we'd love to hear feedback.

[2016-09-14 19:50] yishaigalatzer commented on #3438
to add a couple more details
1. To reship nuget.commandline we need to do more work because the metadata is nuget.exe affects nuget.exe update /self
2. To reship the other packages we just need to change the references without recompiling

Will get together and revisit the plan today

[2016-09-14 19:51] schiebel commented on #3445
It looks like:
- curl -Lsfo nuget.exe https://dist.nuget.org/win-x86-commandline/latest/nuget.exe

retrieves version 3.4.4...

[2016-09-14 19:53] yishaigalatzer commented on #3445
Thanks, I missed that.

[2016-09-14 19:58] yishaigalatzer commented on #3428
I'm not familiar with this package, but looking in it, it seems badly malformed designed/malformed.
1. It includes many dlls in the lib folder without any target framework. So it pretends to install everywhere, which obviously doesn't actually work.
2. I'm wondering if there is an actual need to have direct references to all the dlls in this package. It goes against the basic one dll/package patte

[2016-09-14 20:00] schiebel commented on #3445
No problem, thanks for the quick reply!

I also (just) tried the v3.5.0-rc1 version, but with the same results...

[2016-09-14 20:04] kzu commented on #3445
/cc @mrward

[2016-09-14 20:30] StephenCleary commented on #3438
I think that's fine. As long as 3.5 is released shortly. :)

[2016-09-14 21:04] zhili1208 commented on #3442
I think this is fixed, Can you try https://dotnet.myget.org/feed/nuget-build/package/nuget/NuGet.CommandLine/3.5.0-rtm-1829?

[2016-09-14 21:19] vphad commented on #3442
Hi,
 Is there any workaround available ?

[2016-09-14 21:39] zhili1208 commented on #3442
@vphad  have you tried latest bit? https://dotnet.myget.org/feed/nuget-build/package/nuget/NuGet.CommandLine/3.5.0-rtm-1829?

[2016-09-14 21:52] vphad commented on #3442
I am trying that now, however, I appreciate if you could share the root cause ?

Also, if any workaround available.

[2016-09-14 22:04] zhili1208 commented on #3442
https://github.com/NuGet/Home/issues/3235 here is the issue, website project path in csproj is host URL, NuGet will throw when try to parse it

[2016-09-14 22:07] vphad commented on #3442
This works fine with 3.5.0-rtm-1829 for me.

[2016-09-14 22:13] yishaigalatzer commented on #3442
@zhili1208 what is the workaround?

[2016-09-14 22:22] yishaigalatzer commented on #3402
So this is the UWP scenario class library scenario. We need to double check where the issue comes from.

Because intellisense works fine, I'm assuming NuGet does the right thing, but the project system for some reason does not pick it up correctly. Getting these folks involved

CC @rchande @jasonmalinowski @Pilchie

[2016-09-14 22:27] zhili1208 commented on #3442
removing website Project from solution should make it work

[2016-09-14 23:06] rohit21agrawal commented on #3432
@TheBigRic thanks for the repro! I am investigating this as I am typing this, and will get back to you soon.

[2016-09-15 00:21] zhili1208 opened #3446 "log messages seem to be in reverse order for UI"
Example: update newtonsoft.json from 6.0.1 to 9.0.1 for UWP kind of project

the message will be
"installed newtonsoft.json 9.0.1
uninstalled newtonsoft.json 6.0.1"

the message order is reverse

[2016-09-15 03:00] dharamhbtik commented on #3419
extension is available to solve this issue . http://xvs.xamarin.com/patcheddrops/NuGetFixer.vsix untill it is fully fixed, this extension cold be used.

[2016-09-15 06:15] Bidthedog commented on #3442
Ah yes, we have a website project in most of our solutions. I'll try the beta today.

[2016-09-15 06:52] ghuntley opened #3447 "proposal: add nuget.exe download $package -version $version"
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Idea: Method from CLI with <a href="https://twitter.com/nuget">@nuget</a> download $package -version $version to nab a package without packages.config.</p>&mdash; Geoffrey Huntley (@GeoffreyHuntley) <a href="https://twitter.com/GeoffreyHuntley/status/776201422140350464">September 14, 2016</a></blockquote>

<script async src="/

[2016-09-15 07:19] emgarten commented on #3447
Would this extract the package or just download the nupkg to disk?

[2016-09-15 07:43] ghuntley commented on #3447
This proposal is to download the nupkg into the current working directory and potentially add an `-destination "c:/downloads` configuration option. No strong feelings about configuration option naming. Feel strongly that download verb should only download a package. Nothing else.

I'd also like to see two verbs added, unpack and repack. That unzip and then repack/zip. That should be discussed in a

[2016-09-15 08:14] Bidthedog commented on #3442
I tried this with NuGet Version: 3.5.0.1737 (the one on the downloads page - https://dist.nuget.org/index.html) and it's still happening. How do I get a later build than that?

[2016-09-15 08:16] Bidthedog commented on #3442
Found NuGet Version: 3.6.0.1842 in the "nightly builds", and that seems to work. Can't find 3.5-rtm-1829 anywhere though.

[2016-09-15 08:19] emgarten commented on #3447
`nuget.exe install <package> -version <version>` will download and unpack the package directly, have you tried using that?

[2016-09-15 09:11] mrward commented on #3445
Ubuntu 16.04 and NuGet 3.4.4 works OK for me with Mono 4.4.2. Not tried Red Hat. /cc @directhex

[2016-09-15 09:16] directhex commented on #3445
Mono 4.4+ has a persistent problem with distributions using Solaris-style directory names, like Red Hat. The relevant bug is https://bugzilla.xamarin.com/show_bug.cgi?id=41953

There are changes to the runtime needed to resolve the issue - I'll try and steal an engineer's time to hotfix the issue before 4.6 for Linux hits the stable channel.

[2016-09-15 10:01] ciani commented on #3419
Same problem here, thanks @dktechindia your fix works for me

[2016-09-15 11:18] kzu commented on #3419
Cool, thanks confirming my little tool fixes the issue. I'll implement that
in our package now. (Essentially, ensure the NuGet package is loaded when
we load, on the UI thread).

On Thu, Sep 15, 2016, 7:01 AM Ciani Afonso notifications@github.com wrote:

[2016-09-15 11:40] alexxn commented on #3434
I used vanilla Umbraco-CMS release-7.2.1 sources and have no my own nuget sources configured.

[code]

[2016-09-15 11:42] alexxn commented on #3434
C:\Users\USERNAME\AppData\Roaming\NuGet\NuGet.Config:

[code]

[2016-09-15 12:18] kzu commented on #3419
@ciani since you have a clear repro, I could use your help in implementing the fix in a smart way so that it doesn't negatively impact perf. for users that aren't facing the issue.

If you uninstall the extension, can you reproduce the issue again? (This will allow me to implement a selective fix and get your help in testing it out :))

[2016-09-15 13:13] tcabanski commented on #2761
Try enclosing in CDATA.  Worked for me (I actually had a problem with a URL but also seems to work in this case:

<![CDATA[<]]>

[2016-09-15 14:34] bondarenkod commented on #3419
uninstall, reboot, install
+.

[2016-09-15 15:09] kzu commented on #3419
Ok, @yishaigalatzer @rrelyea here is a simple repro of the issue. Create a new VSIX project, add a VS Package, and place this code in it:

[code]

The `Debug.Fail` will kick in with the exact same exception shown in the stacktrace pasted in the original report.

Since MEF components can't assume they are being instantiated in the UI thread, I think it's improper for them to require being called on

[2016-09-15 15:13] kzu commented on #3419
PR submitted.

[2016-09-15 15:25] kzu commented on #3419
@bondarenkod @ciani @dktechindia could you verify this updated extension fix still works for you?

https://visualstudiogallery.msdn.microsoft.com/77ffcb6d-3d94-47fa-8259-3112efac0a3e

[2016-09-15 16:09] WimBoom commented on #3428
With IKVM package we have been able to integrate our Umbraco application with the Tika text extraction library implemented in Java (http://tika.apache.org/0.7/formats.html). With Tika we can easily pull text out of rich documents from many supported formats. We can do a research with the IKVM assemblies which do not appear to be used, and bring our own nuget package.

On the other hand we use serv

[2016-09-15 16:19] yishaigalatzer commented on #3428
Yes that's what I'm seeing as well. Dlls in the lib folder are meant to be added as references. Adding a reference is a relatively expensive operation in Visual Studio and there are many listeners to reference changed events.

We do have a batching API that we _should_ call to reduce some of the cost, but many dlls and particularly ones that do not need to actually be used as reference is going to

[2016-09-15 16:23] decv86 commented on #3419
Thank you - your extension has helped me!

[2016-09-15 16:32] yishaigalatzer commented on #3447
This does look like a duplicate. And we do track enhancing install with flags to only download the package without dependencies.

I'm suggesting we close out this one as a dup

[2016-09-15 16:34] zhili1208 commented on #3442
@Bidthedog here is the link https://dotnet.myget.org/feed/nuget-build/package/nuget/NuGet.CommandLine/3.5.0-rtm-1829

[2016-09-15 16:40] kzu commented on #3419
Awesome :)

[2016-09-15 16:54] zhili1208 commented on #3434
I checked those packages, they don't exist in nuget.org, that's why restore failed

[2016-09-15 17:37] sachinjoshi27 commented on #2615
@jasonmalinowski I'm facing exactly the same issue, however in our csproj we have explicitly referred both the xprojs.

[2016-09-15 18:14] yishaigalatzer commented on #764
Dev14 now allows for it, in dev15 nuget will no longer be an extension. So closing as external.

[2016-09-15 18:14] #764 closed

[2016-09-15 19:01] joelverhagen opened #3448 "CI builds should run with isolated user packages folder and HTTP cache"
Today, they share these things. Since out NuGet.Clients projects has floating specs (e.g. `"NuGet.Frameworks": "3.5.0-*"`), it's possible that the wrong package (one from an online source) is picked instead of the package just built.

This can lead to unexpected test failures (new tests hitting old code) or compilation failures (new client code depending on old core code).

[2016-09-15 19:01] rrelyea commented on #3436
Our behavior sounds good. We should not silently ignore the problem with the solution.

[2016-09-15 19:01] #3436 closed, assigned to nobody

[2016-09-15 19:04] rrelyea commented on #3434
Dupe of #3442

[2016-09-15 19:04] #3434 closed, assigned to zhili1208

[2016-09-15 19:04] joelverhagen opened #3449 "NuGet.CommandLine tests should have isolated global packages folder and HTTP cache"
Right now, many of NuGet.CommandLine.Tests test cases shell out to the nuget.exe that was just built. When doing this, they may pass in the URL to a mock server (e.g. `http://localhost:53201/index.json`) that was used in a different test. If URL is cached in the HTTP cache, it's possible that the running test will encounter the wrong version of a resource. This is particular obvious when two tests

[2016-09-15 19:12] rrelyea commented on #3419
Our MEF component needs to run on the main thread because it accesses DTE, which must happen on the UI thread.
Please make sure you initialize NuGet on the main thread. Happy to have further discussion if you disagree.
Don't believe we should do any code change in NuGet for this...(we could fail faster...)

[2016-09-15 19:38] BigDaddyD opened #3450 "Nuget Package Manager repeatedly breaking in Visual Studio 2015"
Any update to visual studio 2015 breaks the most recent version of the nuget package manager. Attempting to view it in the options menu after a Visual Studio update results in this display

![image](https://cloud.githubusercontent.com/assets/5808850/18564495/b260161a-7b59-11e6-9063-e605be03fa2a.png)

Options to manage Nuget packages have also disappeared from the Tools Menu
![image](https://cloud.

[2016-09-15 19:51] rrelyea commented on #3256
@gordonwatts  - what did you find?

[2016-09-15 20:04] natemcmaster opened #3451 "Document library include flags"
I couldn't find documentation for [library include flags](https://github.com/NuGet/NuGet.Client/blob/3.5.0-rc1-final/src/NuGet.Core/NuGet.LibraryModel/LibraryIncludeFlag.cs)  in project.json. The flags show up in schema store (which supplies VS autocompletion), but doesn't show up in https://docs.microsoft.com/en-us/dotnet/articles/core/tools/project-json or https://docs.nuget.org/consume/projectj

[2016-09-15 20:06] kzu commented on #3419
As the PR shows, the only reason this is failing with the reported stacktrace is because you're retrieving the VS version from the DTE and ensuring that the helper is called from the UI thread. You can safely do that from any thread. A simple test will show this:

[code]

This totally works, because the DTE has already been initialized, and those properties don't fail when accessed from another th

[2016-09-15 20:24] kovalikp commented on #2995
Btw, what kind of packages could we possibly expect to be supported by this feature?
- [x] Single platform lib package: `lib\net452\Lib.dll`
- [x] Multi platform lib package:  `lib\net35\Lib.dll;lib\net452\Lib.dll`
- [x] Single tools package: `tools\Tools.dll`
- [ ] Single analyzer package: `analyzers\dotnet\Analyzers.dll`
- [ ] Multiple analyzers package: `analyzers\dotnet\cs\Analyzers.CSharp.dll

[2016-09-15 20:30] rrelyea commented on #3450
When did this stop working?
What build # of vs do you have installed?
What build # of NuGet do you have installed (see tools/extensions/installed/...)
Have you tried a VS repair?

[2016-09-15 20:41] yishaigalatzer commented on #3419
@kzu I do agree with you general assessment. Looking more into it I think that the fix has to be in Xamarin. There are a two reasons I can think of
1. NuGet will not ship another release for dev14 as a general update. Hence Xamarin should fix the beta bits to load the component on the UI thread, rather than rely on everyone updating the nuget bits
2. The contract of this MEF component was always t

[2016-09-15 20:42] BigDaddyD commented on #3450
Just today, when I went ahead with the updated recommend by VS. I have Visual Studio 14.0.25431.01 Update 3, I have tried repairing VS, no change. I've been using the most recent version, 3.4.4.1321

[2016-09-15 22:28] #3420 closed, assigned to zhili1208

[2016-09-15 22:28] rrelyea commented on #3341
@drewgil - this feature done? if not, what work remains? covered by this issue or another?

[2016-09-15 22:30] yishaigalatzer commented on #3451
PJ is dead, there is no point in fixing this in PJ, we should document the feature in Msbuild

@emgarten @karann-msft

[2016-09-15 22:30] drewgillies commented on #3341
@rrelyea It needs some test coverage (which will be adapted from existing tests), and some general manual testing. I plan to get back to this now that other work is winding up.

[2016-09-15 22:35] yishaigalatzer commented on #3447
Here is the dup - https://github.com/NuGet/Home/issues/3336

I'm also suggesting to follow this idea, and make download the official verb, and make install post a deprecated message use download instead.

[2016-09-15 22:36] yishaigalatzer commented on #3336
I'm also suggesting to follow this idea in #3447, and make download the official verb, and make install post a deprecated message use download instead.

[2016-09-15 22:43] ghuntley commented on #3447
Closing this out for 3336. Official verb would be great. Here's the context:

[2016-09-15 22:43] #3447 closed, assigned to nobody

[2016-09-15 22:47] ghuntley commented on #3336
INSTALL:

UNPACK:

REPACK:

INSTALL:

[2016-09-15 22:48] yishaigalatzer commented on #3336
From @ghuntley

The verb will be single download, with various extraction option as exists today.

FYI: You can today download the package directly from nuget.org with a simple http call, the purpose of  this feature it to allow (on top of the above for:
1. Correct access to other 3rd party servers with a single API/call.
2. Authentication for 3rd part servers.
3. Extraction modes
4. Downloading t

[2016-09-15 22:52] yishaigalatzer commented on #3336
Also note we want this feature in commandline.xplat AND we want it as an official public API

CC @mlorbetske

[2016-09-15 22:52] ghuntley opened #3452 "proposal: add nuget.exe unpack|repack MyCoolPackage.nupkg"
UNPACK:

REPACK:

Scenario:

In the last couple days, I've had to download an older package of a package I control from NuGet.org and bump the version of a dependency, which is a nuspec metadata change. In doing so, we used unzip on windows and then zipped it right back up. Turns out Windows loves to URL Encode + in directory folders and we didn't notice.

Thus release 6.5.1 was a dud and we had t

[2016-09-15 22:58] rrelyea opened #3453 "Integrate Restore3 into CLI"
This version of Restore3 does:
- Moves assets file to \obj from \obj\debug
- Rename props/targets
- Support packagereference (w/ Include/exclude/private assets)
- DG2 support
  - in dotnet.exe code path - (needs to support NetCore)
  - In nuget.exe code path - add support for NetCore projects via msbuild (for UWP Project.json or .NETCore projects)
  - In restorerunner
- Supports multitargeting

[2016-09-15 23:05] rrelyea opened #3454 "Integrate Pack3 into SDK branch"
Create a Nuget.Build.Tasks.Pack.nupkg which SDK nupkg depends on
Add support for PackageReference
Add Cross Targeting support
Add test for single TFM project

[2016-09-15 23:30] rrelyea opened #3455 "Fix NuGet UI to support restore w/ PackageReferences in csproj"
Need solutions w/ packages.config, uwp style project.json or csproj (cps) with package references to be able to restore. Create intermediate DG2 file and pass to RestoreRunner.

In this step, we'll be creating the DG2 by asking msbuild /t:restore to create the DG2 file.
Longer term, but still in P5OOB, we'll be working with NugetRestoreManager to get info about CPS projects via the nomination proc

[2016-09-15 23:36] rrelyea opened #3456 "Auto Restore 1/3: Implemenation of Nomination API via Caching Project Restore Info"
overall design: https://github.com/NuGet/Home/wiki/NuGet-Restore-Manager

In P5 OOB, CPS will nominate projects, and we'll cache this data.
When we start a restore, we will build restore data (DG2) from this cache for CPS projects.

This relies on CPS work items.

[2016-09-15 23:41] rrelyea opened #3457 "NuGet UI to support Add/Remove/Update of PackageRefs"
Relies on work from Balaji to "Provide Add/Remove/Update PackageRef APIs for CPS" (issue # coming)

[2016-09-16 00:06] zhili1208 opened #3458 "[Mono issue] msbuild /p:foo=”bar;baz” is not working on mono"
On Mac, msbuild /p:foo=”bar;baz” will get following error:

/t:NuGet_GetProjectsReferencingProjectJson /nologo /nr:false /v:q /p:BuildProjectReferences=false /p:NuGetTasksAssemblyPath="/Users/nugetciagent/Downloads/lzhi-test/Debug/nuget.exe" /p:NuGetCustomAfterBuildTargetPath="/var/folders/tx/b_85gmkd2p3brgmx95fzwv040000gn/T/NuGet-Scratch/dk1iag4a.9i5.targets" /p:ResultsFile="/var/folders/tx/b_85g

[2016-09-16 00:07] zhili1208 opened #3459 "[Mono issue] nuget.exe restore does not throw when solution file is invalid."
the issue here is xbuild doesn't throw and just return empty project list when solution file is invalid

[2016-09-16 00:25] bondarenkod commented on #3419
@kzu

yes. thank you!

[2016-09-16 01:42] kzu commented on #3419
One questions for the affected users: you all happen to have Xamarin Components in at least one of the projects, don't you?

[2016-09-16 03:20] rrelyea commented on #3450
Can you try to uninstall the nuget extension via tools/extensions. Then shut down VS. Then install 3.4.4 again via http://nuget.org/downloads and Double click the vsix u download.

If that does not work, uninstall 3.4.4 and install 3.5.0rc1

Please let us know.
We were not able to reproduce an upgrade problem on our end.

[2016-09-16 04:35] craigajohnson commented on #3419
@kzu as per an earlier comment, yes, the simplest repro case I could generate involved a Xamarin Component. I kept removing packages one-by-one (at the time curious if it was package-specific) and it wasn't until I removed the components that it worked. Adding back in a component then raised the error (once out and back in to VS).

https://1drv.ms/u/s!AiamtlJ7P8BQ1p8HFGnvAxT7Bj-G-A

[2016-09-16 08:04] Bidthedog commented on #3442
Thanks @zhili1208 :)

[2016-09-16 09:47] luckielordie commented on #3404
For anyone stumbling upon this issue. I couldn't get this fix to work for my version of Nuget.

[2016-09-16 10:53] greenplanet opened #3460 "Problem with ASP Core running on traditional .NET Framework"
ASP.NET Core can be executed in .NET Core and traditional .NET environments. I am contributing to a library developer with 100,000+ installations. We provide the library for traditional ASP.NET projects as well as ASP.NET Core projects in a multi-targeting package.
Our library needs the HttpContext of the application, so we reference System.Web.dll for traditional ASP.NET applications and some Mic

[2016-09-16 11:54] admaiorastudio commented on #3419
@kzu I can tell you this:
1. new fresh project
2. added Xamarin Component (Azure Messaging)
3. Try to manage nuget package => ERROR
4. Removed Xamarin Component
5. Try to manage nuget package => IT WORKS
6. Re add the Xamarin Component
7. Try to manage nuget package => IT WORKS

[2016-09-16 12:15] kzu commented on #3419
No VS restart between 4 and 5?? :o)

##

/kzu from mobile

[2016-09-16 12:27] BigDaddyD commented on #3450
No change

[2016-09-16 12:30] BigDaddyD commented on #3450
![image](https://cloud.githubusercontent.com/assets/5808850/18585914/d3f1b2b4-7be7-11e6-9075-900fb8dcd590.png)

A new error message from visual studio regarding this issue. This one became present after I uninstalled the 3.5 version. I currently have no version of installed. Now the option has reappeared in the tools menu

![image](https://cloud.githubusercontent.com/assets/5808850/18585958/1f1be1

[2016-09-16 16:20] ivan-prodanov opened #3461 "Is there a way to keep package version and AssemblyVersion in sync?"
When using nuspec files, there's an option to set the version of the package from the assembly version / assembly informational version. How is this possible when using project.json? Is there a way to set package version from assembly version? How do we keep them in sync?

I noticed a lot of libraries keep assembly version to be equal with the package version, but this I don't know how to do with

[2016-09-16 19:30] vphad commented on #3338
My apologies for delay, this is with version 2.8
Could this be issue with the network ?

[2016-09-16 20:40] #3453 closed, assigned to emgarten

[2016-09-16 20:41] emgarten commented on #3453
Merged into CLI rel/1.0.0

[2016-09-16 23:12] rrelyea opened #3462 "ToolsReference Design"
Made progress this week on this, finalize asap.
Write up progress, and link to it from here.

[2016-09-16 23:15] rrelyea opened #3463 "Publish PackageReference Spec on wiki"
Most issues have been ironed out in email discussions. Need to publish and finalize any open issues.

[2016-09-17 02:50] mikebrown0 commented on #545
This should definitely be added.

I've spent the last few days converting our development framework from using git submodules to nuget packages and I just got to the modules that have SQL objects that go with them.  I was a bit surprised when I found out I couldn't add a nuget package to an SSDT project... it's so natural in Visual Studio I just assumed it was supported.  I think it's a common sce

[2016-09-18 16:30] zone117x commented on #3433
Just installed some recent updates for VS and netcore. Still running into same problem.

[code]

[2016-09-18 16:32] zone117x commented on #3433
I'm also unable to install .netstandard packages that are of a lower version than my project. For example I have a .netstandard1.5 project and its failing to install MimeKit which targets netstandard1.3

[code]

Is this intended behavior? What is going on here?

[2016-09-18 16:37] abatishchev commented on #2550
Any update on this, please? Was it fixed? Can it be closed? Or should it be addressed still?

[2016-09-18 16:39] abatishchev commented on #2530
Was it addressed, can the issue be closed?

[2016-09-18 16:48] zone117x commented on #3433
Just pulled the MailKit source and tried compiling the netstandard lib with same type of problem...

[code]

Again, this is on a fresh Windows 10 installation. All this stuff _used_ to work when I had gone through the VS tooling upgrade paths for the last ~2 years. Are the fresh installs of VS & tooling missing something that only comes through the upgrade installers?

[2016-09-18 21:30] chrsin commented on #1428
I am experiencing this problem with a directory structure like this (In a dotnet core project)

/src/Company.Project/project.json
/test/Company.Project.Test/project.json (Experiencing the problem in this project)

If i rename
"/test/Company.Project.Test/project.json"
to
"/test/Test.Company.Project/project.json"
I don't get the error anymore. Is this as expected?

[2016-09-19 05:25] HakanL opened #3464 "NuGet 3.5.0-rc1 fails to restore under TeamCity 9.1.7"
Version 3.5 beta 2 works fine, but if I switch to 3.5 RC1 then I get this in the error log when it retries to call NuGet restore:

[code]

With the main error being this:
`Could not load type 'NuGet.CommandAttribute' from assembly 'NuGet, Version=3.5.0.1737, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.`

[2016-09-19 09:49] GrimaceOfDespair commented on #1448
I totally agree on the remark about making nuget output more debug friendly. I suffered from a permission issue that manifested itself with the dreaded `Unable to find version`.

In hindsight, all symptoms should have pointed me in the right direction, but the actual message leaves the regular user baffled. If NuGet arrives at the stage where it actually queries a file share, I guess it would enco