[2020-03-09 23:18] #8388 closed, assigned to nkolev92

[2020-03-09 23:28] nkolev92 commented on #5154
@rrelyea we should discuss this and tackle it for .NET 5.0.

[2020-03-10 00:23] #9267 closed, assigned to nugetlurker

[2020-03-10 00:51] #9225 closed, assigned to dominoFire

[2020-03-10 04:01] v-luzh commented on #8929
Hi, @heng-liu , the project you selected in step2 is different from mine. Please use the ASP.NET Web Forms Site as below.
![image](https://user-images.githubusercontent.com/20632625/76277451-bac77500-62c3-11ea-957c-f03c24865070.png)

You need to install "Additional project template (previous versions)" (as below screenshot) in the workload "ASP.NET and web development" as a prerequisite. (you can

[2020-03-10 04:10] v-luzh commented on #8928
Hi @heng-liu, you can see the second-time restart request (as below screenshot) in PM Console in your step6.
![image](https://user-images.githubusercontent.com/20632625/76279007-185dc080-62c8-11ea-88d0-7951583c91d0.png)

[2020-03-10 12:47] #9277 closed, assigned to nugetlurker

[2020-03-10 13:19] tgradu opened #9284 "Azure Devops Build Fail when using GeneratePathProperty true for PackageReference"
## Details about Problem
NuGet product used NuGet.exe
NuGet version : 4.3.0
VS version (if appropriate): Visual Studio 2019
OS version: Widows 2019 Azure Hosted Agent
Worked before? No

## Detailed repro steps so we can see the same problem

We have set up a Project in Visual Studio where we are using NuGet Packages references. For one of the NuGet Packages we are setting the GeneratePathProperty

[2020-03-10 17:57] #8937 closed, assigned to kartheekp-ms

[2020-03-10 19:11] Nirmal4G commented on #7448
Related issues: #4054 , #4491

[2020-03-10 19:30] shantanu1singh commented on #9248
@zivkan any chance you could get to this?

[2020-03-10 19:57] heng-liu commented on #8929
Thanks! @v-luzh :)
I tried to install the "Additional project template (previous versions)" and repro, but could not repro. May I know if there is anything missed in the following steps? Thanks!

I also noticed that " I can always get the error at the second-time/third-time repro (repro start from the second-time/third-created Web Forms Site project, that's weird). That's why I called that unstabl

[2020-03-10 20:20] heng-liu commented on #8928
Hi @v-luzh thanks for your reply! I'm able to repro now :)
This is after updating all the packages, before the first restart
![image](https://user-images.githubusercontent.com/45407901/76354886-8312fa00-62d0-11ea-8fe3-35200ca1405c.png)
If I click the restart button on the top, after the first restart, I could not found any restart request in my repro..
![image](https://user-images.githubuserconten

[2020-03-10 20:22] zkat commented on #9028
closing as duplicate of https://github.com/NuGet/Home/issues/9205

[2020-03-10 20:22] #9028 closed, assigned to nobody

[2020-03-10 20:27] heng-liu commented on #9008
Closed as fixed.

[2020-03-10 20:27] #9008 closed, assigned to heng-liu

[2020-03-10 20:28] heng-liu commented on #9013
Closed as fixed.

[2020-03-10 20:28] #9013 closed, assigned to heng-liu

[2020-03-10 22:01] donnie-msft commented on #6523
Hit this today. My repro:

NuGet version (x.x.x.xxx): 5.4.0.42325

## Detailed repro steps so we can see the same problem

1. Run `nuget config -help`

2. Observe ConfigFile help text that says not specifying a file is supported:

                               d. **If not specified, the hierarchy of configuration files from the current directory will be used.** To learn more about NuGet configura

[2020-03-10 22:24] #9278 closed, assigned to nobody

[2020-03-10 23:34] #9268 closed, assigned to nkolev92

[2020-03-10 23:53] zivkan commented on #9248
I was able to reproduce the issue on my local machine using Windows Subsystem for Linux. In my case, it was due the .NET Core SDK's NuGetFallbackFolder. The files there don't match exactly the nupkgs downloaded from nuget.org, and as a result their content hashes are different.

If you add `<DisableImplicitNuGetFallbackFolder>true</DisableImplicitNuGetFallbackFolder>` to a `PropertyGroup` in your

[2020-03-11 00:52] shantanu1singh commented on #9248
Still noticed the same behavior even with that change.

What fixed it was clearing my local package cache and then regenerating the lock file.

Thanks!

[2020-03-11 00:53] zkat opened #9285 "XPlat Signing: Rebase onto dev again"
There were some fairly large changes in dev, including a major revert that definitely caused a lot of conflicts for us.

[2020-03-11 05:06] donnie-msft commented on #9275
Check these instructions and let me know the state of your settings mentioned here:

https://docs.microsoft.com/en-us/nuget/consume-packages/package-restore#restore-packages-manually-using-visual-studio

[2020-03-11 06:53] NicolasDorier commented on #6437
@another-guy I guess unless somebody can go to redmond and bang on the door of devs, nobody will look at it.

[2020-03-11 07:17] v-luzh commented on #8929
Hi @heng-liu, here are my steps to repro this bug.
1. Launch VS and click "Create a new project" button.
2. Input "Web Site" in the search box, select "ASP.NET Web Forms Site" and click "Next" button.
![image](https://user-images.githubusercontent.com/20632625/76390190-e91e8080-63a7-11ea-9487-0ec288b2e1f5.png)
3. Type the project name I want, select .NET Framework 4,8 (I can repro on default .NET

[2020-03-11 12:53] tgradu commented on #9284
I got an answer to this issue on stackoverflow https://stackoverflow.com/questions/60618205/azure-devops-build-fail-when-using-generatepathproperty-true-for-packagereferenc

[2020-03-11 12:53] #9284 closed, assigned to nobody

[2020-03-11 18:10] #9248 closed, assigned to nobody

[2020-03-11 18:55] asklar opened #9286 "NuGet should give more descriptive error message when hitting WIP/EDP restrictions"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe
NuGet version (x.x.x.xxx): 5.4.0.6315

dotnet.exe --version (if appropriate):
VS version (if appropriate):
OS version (i.e. win10 v1607 (14393.321)): 19582

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Get a device that is

[2020-03-11 23:38] heng-liu opened #9287 "Adding tests for xplat verification in Dotnet.Integration.Test"
When we ship xplat verification, we will insert the verification bits into dotnet. Then the dotnet restore will have the verification process.

For now, we only have 1 test in Dotnet.Integration.Test.DotnetRestoreTests `DotnetRestore_WithAuthorSignedPackage_Succeeds`, which is making sure even if there is no xplat verification, the dotnet restore will work correctly with signed packages.

So the c

[2020-03-12 05:12] nkolev92 opened #9288 "Perf: RestoreOperationLogger has unnecessary thread affinity"
With https://github.com/NuGet/NuGet.Client/commit/ef53f3fe5f590e30283b625f698a90f25245c1c3 merged, there's now a bunch of RestoreOperationLogger stuff that has unnecessary thread affinity.

Cleaning these up could improve the responsiveness when dealing with heavy logging (think large solutions).

[2020-03-12 10:03] matthewjones555 commented on #5138
@jainaashish said:

The packageid trick is specific syntax for v3 package feeds, and works fine unless you're using multiple sources which include a v2 feed, or a file system source, in which case it doesn't work. It would be nice to have some kind of -packageid switch available directly in the list command, so we don't have to use api specific syntax.

@karann-msft said:

I'm trying to use nuget

[2020-03-12 10:04] RoPe311 commented on #9276
I had the same problem and changed my migrated SDK style projects to "dotnet pack .." instead of "nuget pack ..".

[2020-03-12 10:34] aw2003 commented on #5146
This doesn't work. I'm also trying to get a solution with a csproj in it to build under teamcity using devenv.com (VS2017), and PackageReference doesn't work with exactly the nuget command line you're suggesting used. I'm using Nuget 5.4.0.6315.

I'm also infuriated that the accepted answer appears to be "Use MSBuild". The application is developed and debugged in the VS IDE. If I build and test us

[2020-03-12 14:32] PeterPann23 opened #9306 "I get build error NU5012 and I'm not sure why, for sure not becouse my project does not build"
I have a project that I would like to have a nuget package for. The project builds and targets several frameworks. As the nuget package should include dependent files I thought I'd make a .nuspec file

when I run the package build I get an error:
![image](https://user-images.githubusercontent.com/44400822/76531905-2b15f800-6476-11ea-9343-3f980692202b.png)

Makes no sense as clearly the project bui

[2020-03-12 17:38] nkolev92 opened #9289 "PackageReference NU1604 error handling is different across VS and command line (Restore & Package Manager UI)"
Specifically if a PackageReference version is a property and that property is not set.
* On the commandline the customer will get NU1604 and a restore.
* In VS, the whole operation fails.

Worth clarifying in both SDK and non-SDK cases.

See internal thread `RE: NuGet Package Manager does not work in VS`

[2020-03-12 18:05] MatthewRobson commented on #3324
Ridiculous

[2020-03-12 18:19] nkolev92 opened #9290 "PackageReference ungracefully handles duplicate Runtime Identifiers in csproj PackageReference"
Specifically see:

https://github.com/NuGet/NuGet.Client/blob/9ba90610a465d3c73921ba88b0e338b71a17fc72/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/VsProjectAdapter.cs#L310-L313

Repro:
Create a csproj.dll PR project.
Manually edit the project and set:

[code]

And see an exception:
[code]

Validate the same experience with SDK based projects.

[2020-03-12 18:37] darmalovan opened #9291 "Latest version is not present using the NuGet API"
## Details about Problem
 I'm seeing a discrepancy in getting the latest version of a package between the NuGet website and the NuGet API.

## Detailed repro steps so we can see the same problem

1. Going to the NuGet web site for the `EntityFrameworkCore.Relational` package https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.Relational/
the latest version is `3.1.2`.

2. Using the API ht

[2020-03-12 19:57] donnie-msft commented on #9291
Hi! I'm sending this over to the Server team to take a look.

[2020-03-12 19:57] #9291 closed, assigned to nobody

[2020-03-12 19:57] donnie-msft commented on #9291
Issue moved to [NuGet/NuGetGallery #7866](https://github.com/NuGet/NuGetGallery/issues/7866) via [**ZenHub**](https://www.zenhub.com/)

[2020-03-12 20:59] donnie-msft commented on #9272
Hi... I'm not the expert on this topic, but did want to point out there's a similar issue here https://github.com/NuGet/Home/issues/8623.
If you think it represents your concern, you can upvote it (it already has several) and move your comments there. Otherwise, we can keep a separate discussion here.

[2020-03-12 21:44] jeffkl opened #9292 "NuGet plug-in API fails when doing simultaneous restores"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): 5.5

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Execute parallel restores that require a

[2020-03-12 22:08] nkolev92 commented on #9292
Do you have the full stack trace?
We actually had a very coarse locking and it caused perf issues :)
Since then we've switched it to a more granular one: https://github.com/NuGet/NuGet.Client/blob/b6ba5908951c172ed7df75e3074a7af409f743d7/src/NuGet.Core/NuGet.Protocol/Plugins/PluginManager.cs#L208.

So it might be possible to improve the cross process locking.

[2020-03-12 22:18] nkolev92 commented on #8429
I think this has been fixed.

[2020-03-12 22:18] #8429 closed, assigned to heng-liu

[2020-03-12 22:30] nkolev92 commented on #8827
Just closing the loop.
The root cause here is that a different pack entry point is being used.
Ideally we'd like to bridge that gap so you can use production NuGet. Feel free to create issues for that as necessary.

At this point the NuGet actionable is #7404

[2020-03-12 22:30] #8827 closed, assigned to nobody

[2020-03-12 22:34] heng-liu commented on #8429
Sorry, I didn't see it earlier.
Yes. The MacOS 10.14 issues are fixed. The SDK 3.0 has changed to 5.0, and the new issue is https://github.com/NuGet/Home/issues/9029.

[2020-03-12 22:44] nkolev92 commented on #4234
Is anyone able to repro this issue with `nuget.exe` as the tool name? Specifically trying to figure if #3146 is the root cause for these problems.

[2020-03-13 00:05] cristinamanum opened #9293 "[CPVM] Lock file needs to get invalidated if central dependencies change."
## Details about Problem

When a project is using Central Package Version management, changes in the central version should invalidate the lock file. The reason is the fact that any central version can be transitive for other direct dependency.

[2020-03-13 00:20] nkolev92 opened #9294 "async"

[2020-03-13 00:21] nkolev92 commented on #9294
zenhub usage fail :)

pebkac

[2020-03-13 00:21] #9294 closed, assigned to nobody

[2020-03-13 00:47] dominoFire commented on #9265
These are the commands that use `-Source` parameter.

- `nuget add`
- `nuget push`
- `nuget delete`
- `nuget install`
- `nuget list`
- `nuget restore`
- `nuget setapikey`
- `nuget update`
- `dotnet nuget push`
- `dotnet restore`

[2020-03-13 01:32] srburton commented on #6140
I had this problem, after thinking a lot I realized that it was my internet that was rubbish, I connected to another network and it was quiet. this when I built a docker image.

[2020-03-13 02:39] nkolev92 opened #9295 "Bring the VSO output window to focus when necessary"

[2020-03-13 03:02] dominoFire commented on #5133
One concern is that you're making NuGet clients 'interpret' what it means to not to have the `requireLicenseAcceptance` attribute.

Let's say that we make all the changes to not to ask for a license acceptance when the attribute is not set. Later, we decide that all NuGet clients requires the license acceptance. In that case we just broke a lot of packages.

I'm not that confident of making this c

[2020-03-13 03:35] ericsampson commented on #7961
@dotMorten seems like this got canceled from VS 15.9.x servicing?

[2020-03-13 03:53] dotMorten commented on #7961
@ericsampson huh? Where do you see that? The milestone is still 4.9.x

[2020-03-13 04:27] CyrusNajmabadi commented on #8872
Yes please.  :)

[2020-03-13 05:13] SowmyaDantuluri opened #9305 "Fakes assembly is not generating with PackageReference"
I have created one nuget package. Name of that nuget package is MyFirstOne. Inside that package one dll is there named abc.dll

I have created 2 WPF projects. One with packages.config(WPFPackageConfigProject) and the other one with PackageReference((WPFPackageReferenceProject).

I have added MyFirstOne package to both projects. I tried to create fakes assembly for that in WPFPackageConfigProject.

[2020-03-13 08:17] Nirmal4G commented on #9231
Not when targeting single Framework. Also `Platform` will be present even when we're multi-targeting.

[2020-03-13 08:18] Gearard opened #9296 "NuGet pack ignoring AssemblyInformationalVersion for netcoreapp3.1 targetframework library"
Remove the content above here and fill out details below.

## Details about Problem
Creating a NuGet package targeting  netcoreapp3.1 (to share some extensions for startup for aspnetcore) the nuget packaging is ignoring the versioning used in the project and default to 1.0.0.0 (and also complains about description and other properties not being set even though they are in the project file).

If I

[2020-03-13 10:14] clvLabs commented on #8713
Same issue with `NuGet Version: 5.4.0.6315`

* Create a sample package:
  * Name: `sample-nuget-package`
  * Target Framework: `.NET Framework 4.5`
* Build
* Pack
[code]
* Ignore the `NU5128` warning
* Push
[code]
* Create a sample consumer:
  * Name: `sample-nuget-consumer`
  * Target Framework: `.NET Framework 4.7.2`
* Install `sample-nuget-package 1.0.0`
* This new entry appears in the `<packag

[2020-03-13 11:17] vanderthiel commented on #6324
I had this issue when generating projects and solution from commandline, then loading in Visual Studio. Solved it by unloading and reloading all projects. Structure generated using:

`
dotnet new sln --name <domain>
dotnet new web --name <domain>.<domain>Service --output <domain>Service
dotnet new xunit --name <domain>.<domain>Service.Tests.Unit --output <domain>Service.Tests.Unit
dotnet new class

[2020-03-13 13:19] Bramvanelderen10 opened #9297 "ContentFiles to output directory in project which refers a nuget which refers another nuget package"
I'm building multiple nuget packages which include content files and can refer each other. These content files should always be copied to output directory.

The problem i'm having is that content files from a nuget package are correctly outputted to the output directory if the project references the nuget directly. But if a nuget package refers another nuget package with contentfiles, these conten

[2020-03-13 14:22] jeffkl commented on #9292
I don't have a stack, the exception is caught by PluginManager and only the message is logged.  We probably need coarse locking for this plug-in cache file, not the whole operation.

[2020-03-13 14:53] tannergooding opened #9298 "/t:pack target doesn't include or have an option to include reference assemblies"
## Issue

The C# compiler has support for a special `-refout` switch and a `ProduceReferenceAssembly` project property which causes it to generate a reference assembly alongside the normal assembly output.
NuGet likewise supports a `ref` folder where these types of reference assemblies can go and it will consume them if available.
However, NuGet does not appear to currently have a mechanism to aut

[2020-03-13 16:21] AraHaan commented on #9298
Also if you manually try to add it yourself; it would generate an ``NU5131`` because of the use of ``TfmSpecificPackageFile`` to attempt an hack support for ``PackageReference`` to bypass this issue.

The bypass of course then snags onto another issue because it is obviously not added to the nuspec and if the project uses warn as errors it then becomes an ``error NU5131``.

The best fix is to inst

[2020-03-13 17:45] zkat commented on #5763
This is intentional and by design. After some discussion among the team, we've decided to keep things as they are. Thank you for your time filing this issue and for the healthy ongoing discussion!

[2020-03-13 17:45] #5763 closed, assigned to zkat

[2020-03-13 20:12] zivkan opened #9299 "Test: NuGet.Commands.Test.PushCommandTests.PushCommand_AbsolutePathSourceAsync is flaky"
Since moving to the AzDO hosted linux machines, many builds are timing out/hanging on Linux. Since enabling verbose test logging, NuGet.Commands.Test.PushCommandTests.PushCommand_AbsolutePathSourceAsync has appeared the highest number of times (almost, if not every timed out build)

[2020-03-13 21:39] nkolev92 opened #9300 "Static Graph restore won't warn for invalid projects"
Have a sln with 2 projects, one restoreable, the other without the NuGet.targets.

Regular restore will warn https://github.com/NuGet/NuGet.Client/blob/b6ba5908951c172ed7df75e3074a7af409f743d7/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L282-L292, while static graph restore quietly skips the project.

cc @jeffkl

We need to understand what we want the experience to be.

[2020-03-13 23:04] donnie-msft commented on #9286
@asklar could you provide details about your scenario? Completing the relevant portions of the issue template will help us triage your concern.

[2020-03-13 23:25] donnie-msft commented on #9273
Are you incrementing your version? NuGet uniquely identified packages by their identifier and version. This is by design and is documented in https://docs.microsoft.com/en-us/nuget/concepts/package-versioning.

Secondly, you can disable package sources so that Restore use them. In your case, disable NuGet.org by following the instructions in https://docs.microsoft.com/en-us/nuget/consume-packages/

[2020-03-13 23:44] Gustavilo commented on #8646
I have the same Issue, it is still present.

[2020-03-14 00:06] nkolev92 opened #9301 "Remove LSL related code"
Specifically https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Services/DeferredProjectWorkspaceService.cs was deprecated starting with VS 2019.

[2020-03-14 00:45] donnie-msft commented on #9286
I see you have a repro, which I didn't see before. Edited out the boilerplate Issue text.

[2020-03-14 00:47] donnie-msft commented on #9286
Curious if you tried the same command with `dotnet list` ([docs](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-list-package))?

[2020-03-14 00:50] asklar commented on #9286
I didn't try dotnet (and I have since opted out of EDP) **but** the reason I found this was because I was trying to use chocolatey which was failing when sourced on a corpnet UNC share (it uses nupkgs too)

[2020-03-14 08:41] Konard commented on #8580
Any news? It is possible to publish the NuGet package from ubuntu to GPR?

[2020-03-14 09:18] jinweijie commented on #6437
On Linux, the nuget version is quite old, not compatible with current nuget servers. So we have to use dotnet nuget push. But unfortunately, the setapikey is missing for the CLI, quite annoying. A workaround is to use environment variables, like:

 `dotnet nuget push ./nupkgs/*.nupkg -k $NUGET_AUTH_KEY -s https://api.nuget.org/v3/index.json`

and in your .bashrc or .zshrc:

`export NUGET_AUTH_KEY=

[2020-03-14 11:31] gilly42 commented on #8646
Comon. Gitlab just released nuget package support, stop me from going there.....

[2020-03-14 12:56] Dids commented on #8580
It should be. Although I use "dotnet", I can definitely push to the registry by setting it up in the dotnet setup phase (other solutions/attempts failed), like so:

[code]

[2020-03-14 14:21] MarkusRodler commented on #8580
I can confirm that this solution works

[2020-03-14 16:48] donnie-msft commented on #9274
Could you show a screenshot of the menu option you're referring to? Are you referring to the option to Migrate Project to Package Reference?

Is your project Package Reference? Including a simple sample project will help us understand your scenario.

[2020-03-14 17:44] poke commented on #9265
@rrelyea I don’t know. I just came from #2504 and tried to fix the CLI documentation to match the documentation that was used on docs.microsoft.com.

[2020-03-14 22:22] lovettchris commented on #9273
Thanks for your ideas.  I cannot disable NuGet.org because there's lots of other packages that need to come from there.    I could rev the version, but it's a hassle to do that, since I would need to update all my test projects to that version and so on.  But since this is the only thing that works, updating the version of my local package is the only solution right now.

[2020-03-15 02:00] moh-hassan opened #9302 "Visual studio 2019 can not load local pdb file extracted from snupkg"
**Environment:**
Visual studio 2019 v16.4.2
console project in net461
using nuget from CI appveyor server loaded locally to my machine.

I try to debug a console project using snupkg package locally in my machine for debugging locally.

reference the package
[code]
Appveyor don't support loading snupkg, so I downloaded the corresponding  snupkg package from CI Appveyor server to my machine from th

[2020-03-15 11:33] zivkan opened #9303 "Test: using nuget.exe `msbuildversion` argument is flaky"
Tests that need multiple versions of Visual Studio installed, in order to test nuget.exe's `-msbuildversion` feature do not work on machines without the right versions of Visual Studio installed. So far, this has been the VSEng-MicroBuildSxS agent pool, however, the queue time of this pool has been increasing, slowing down builds. On the internal MicroBuild group, another team asked if new agents

[2020-03-15 11:48] ericsampson commented on #7961
@dotMorten from this comment, unless I misunderstood?
https://github.com/NuGet/Home/issues/8094#issuecomment-526363508

[2020-03-16 00:38] StingyJack commented on #9276
Yeah, well, `dotnet` isnt going to be an option for me in this case (netfx project). I also resent the entire `dotnet` wrapping of existing tools. In this case it was time spent doing something that took away the time needed to clear the path for, or to actually compose and run regression tests for `nuget pack`. Sometime before I had to lose productivity over this.

I nuspec things all the time as

[2020-03-16 03:25] v-luzh commented on #8928
Hi @heng-liu, yes, that's how I repro this issue. Please have a look, thanks,

[2020-03-16 03:43] dotMorten commented on #7961
Ugh! I missed that. @rrelyea ???

[2020-03-16 11:00] PatrickRyder opened #9304 "SQLite will not migrate"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2020-03-16 12:01] ericsampson commented on #7961
Yeah it’s definitely disappointing

[2020-03-16 13:10] zivkan commented on #9045
@dominoFire how do we report this to the loc team?

[2020-03-16 14:08] AraHaan commented on #9298
cc @nkolev92

[2020-03-16 16:04] jeffkl commented on #9300
This would be easy to add so yeah we just need to brainstorm on the experience

[2020-03-16 17:16] donnie-msft commented on #9297
By default, all assets are Private assets. You would need to remove `contentfiles` from the `PrivateAssets` section of your PackageReference.

Add this to your Package Reference

The documentation for this is https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets

By the way...did you already see this doc and does it make sense? If

[2020-03-16 17:27] rrelyea commented on #9242
yes, reusing 9110

[2020-03-16 17:27] #9242 closed, assigned to rrelyea

[2020-03-16 17:57] #8890 closed, assigned to dominoFire

[2020-03-16 18:10] nkolev92 commented on #9298
Duplicate of https://github.com/NuGet/Home/issues/4184

I imagine that'll have to be the case as well.

Let's continue any further discussion in the older issue.

Thanks!

[2020-03-16 18:10] #9298 closed, assigned to nobody

[2020-03-16 18:17] tannergooding commented on #9298
Thanks, I missed that one when searching for existing issues 😄

[2020-03-16 18:18] tannergooding commented on #4184
A related scenario, from what I put in #9298, where this could be automatically detected.

## Issue

The C# compiler has support for a special `-refout` switch and a `ProduceReferenceAssembly` project property which causes it to generate a reference assembly alongside the normal assembly output.
NuGet likewise supports a `ref` folder where these types of reference assemblies can go and it will con

[2020-03-16 18:19] dominoFire opened #9307 "Screen reader doesn't announces "Searching..." message when switching tabs"
Link: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/994460/

[2020-03-16 18:33] nkolev92 commented on #9298
yeah, it took me a while to find it as well.
I just knew I had seen something like this before, so I kept on searching :D

[2020-03-16 18:46] donnie-msft commented on #9296
I repro'd that the DLL versions were updated, but nupkg is always named with "1.0.0". @nkolev92 any thoughts on this behavior?

[2020-03-16 19:04] nkolev92 commented on #9296
If the project in question is PackageReference based, then NuGet.exe does not pack it properly.
See https://github.com/NuGet/Home/issues/4491.

For PackageReference based project the recommendation is dotnet pack for SDK based projects and msbuild /t:pack for the other standard csproj PackageReference based projects.

Docs on that: https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-

[2020-03-16 19:55] #9288 closed, assigned to nkolev92

[2020-03-16 20:43] kartheekp-ms commented on #9306
I believe this issue is a duplicate of #7765. If the solution posted doesn't help then reopen or create new issue [here](https://github.com/NuGet/Home/issues/new).

[2020-03-16 20:43] #9306 closed, assigned to nobody

[2020-03-16 20:49] nkolev92 opened #9308 "Add the restore service functionality for online environments"
Specifically related to https://github.com/NuGet/Home/issues/9162.

The "execution" of the context menu click.

[2020-03-16 22:01] TheArchitectDev commented on #6102
I'm wondering the same thing. You make excellent points about their absence seeming to produce a desirable effect.

[2020-03-16 22:01] Gearard commented on #9296
even if I use dotnet pack, it still has the same issue and ignores the project version.

Comand: dotnet pack --no-build -c Release -v detailed Common\ApiCore\SmartML.ApiCore\SmartML.ApiCore.csproj

result: SmartML.ApiCore.1.0.0.nupkg instead of SmartML.ApiCore.0.0.0-dev00000.nupkg

log file:
[dotnetpacklog.txt](https://github.com/NuGet/Home/files/4340584/dotnetpacklog.txt)

[2020-03-16 22:30] nkolev92 commented on #9296
@Gearard

The PackageReference based pack won't sniff assemblies anymore.

The properties are read from MSBuild.
The 2 values that are read there are PackageVersion and Version in that priority order.

If you set version in your project file it should be respected by both pack and build.

We apologize because this isn't very well documented, but it was a necessary change as we transitioned from pa

[2020-03-16 22:32] nkolev92 commented on #9296
Also note that AssemblyInformation version is free text.
So having pack interpret it as a version for the package was probably not the best idea.

[2020-03-16 22:38] kartheekp-ms opened #9309 "release nuget.exe 5.5.0 and 5.6.0-preview1 and publish packages to nuget.org"

[2020-03-16 23:11] Gearard commented on #9296
I see. perhaps I'm not understanding something here - why does it work when I switch TargetFramework to netstandard2.0? THe project is still using PackageReference in that scenario too, no?

[2020-03-16 23:18] nkolev92 commented on #9296
In my tests, i don't find that to be the case.

[2020-03-16 23:20] MSLukeWest opened #9310 "PackageReferences put ref instead of lib assemblies in the BuiltProjectOutputGroupDependencies output group used by VS installer projects"
NuGet product used: VS UI

NuGet version: 5.6.0.6489

VS version (if appropriate): 16.5

OS version: 19h1

Worked before? If so, with which NuGet version: Never worked with PackageRef, still works with Package.json

## Detailed repro steps so we can see the same problem

1)	Create a .NET framework C# console app
2)	Manage Nuget packages, add latest System.ValueTuple (4.5.0)
3)	Right click on packa

[2020-03-17 00:05] Gearard commented on #9296
On my machine, if I take that same project and modify the csproj to uncomment the other targetframework and comment out the netcoreapp3.1, and run the same nuget or dotnet pack commands, it uses the desired version number. I only see this when I have targetframework set to netcoreapp3.1 - everything else in the project is the same.

[2020-03-17 00:20] aortiz-msft commented on #8875
Ideas to incorporate:
https://github.com/dotnet/arcade/blob/f50767f96246063f33a6565d318f3adf9058bace/eng/common/post-build/nuget-validation.ps1

Doc for the script is here:
https://github.com/NuGet/NuGetGallery/tree/master/src/VerifyMicrosoftPackage

[2020-03-17 00:21] nkolev92 commented on #9296
Can you upload a clean project with that behavior?
How are you running pack?

[2020-03-17 07:48] Bramvanelderen10 commented on #9297
@donnie-msft That worked! I read the documentation, where i went wrong was the <IncludeAssets> element, i thought if i add that with the all value that it would include all files from the package.

I do still have a small problem. Now i do see the file in the resources folder where i expect, but there is a copy still in the root directory. Can this be removed somehow? I've updated the demo project

[2020-03-17 08:01] #912 closed

[2020-03-17 12:00] v-luzh commented on #9256
It is fixed on Dev\5.6.0.6508. Close it now. Thanks.

[2020-03-17 12:00] #9256 closed, assigned to nobody

[2020-03-17 13:28] v-luzh opened #9311 "No error occurred after packing and installing a package with an invalid .txt format icon"
## Details about Problem
NuGet version: NuGet Client Dev\5.6.0.6509
VS Version: Master\29916.153
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1.	Create a Class Library (.NET Framework 4.8) in VS and build the solution.
2.	In the Developer Command Prompt for VS, create a nuspec file by executing command “nuget spec”
3.	Make an invalid image file (size limited to 1 MB with a .txt format) an

[2020-03-17 14:26] AraHaan commented on #4184
So to resolve this issue what file needs changed? Is it a task issue or a ``Nuget.Pack.targets`` issue?

[2020-03-17 14:31] AraHaan commented on #9276
actually netfx projects using sdk style projects have no issues with the ``dotnet`` variant of commands. In this case like suggested above the solution is to instead use ``dotnet pack``. I even used it despite targeting ``net48`` or ``net472``, etc. It's much nicer and allows me to have no issues even if I decided to go with ``net4?`` or ``netcoreapp3.0``, ``netcoreapp3.1`` being the project's onl

[2020-03-17 14:41] StingyJack commented on #9276
Being able to use dotnet.exe does not release the responsibility of nuget pack from operating correctly.

[2020-03-17 15:11] jwillmer commented on #8580
Works for me as well. Below is the whole workflow I'm using. Note the `--no-symbols true` - Another bug, it doe not work with `--no-symbols`.

[code]

[2020-03-17 15:11] #8580 closed, assigned to nobody

[2020-03-17 16:59] kartheekp-ms commented on #9304
@PatrickRyder - Unfortunately, we can't provide further assistance because the issue description is copied from [template](https://github.com/NuGet/Home/issues/new) and has no additional information. Please contact [SQLite package authors](https://www.nuget.org/packages/sqlite/3.13.0/ContactOwners) if you have any questions about the package itself.

[2020-03-17 16:59] #9304 closed, assigned to nobody

[2020-03-17 20:31] aolszowka commented on #8791
Pinging the thread; any documentation that answers the questions?

1. Is there anything programmatic that we can gather to give higher quality evidence to show speed ups on the restore?
2. Does this imply /graphBuild or is this separate from that flag?

[2020-03-17 20:53] cdmihai commented on #8791
I'll defer to @jeffkl here, but you should see end to end build times go down if you have super long restores.

While fast restore does use static graph, it doesn't require the users to use `/graph`. It should be transparent for users. It does mean that you have to use `ProjectReference` to describe project dependencies.

[2020-03-17 20:57] Pilchie commented on #8875
ASP.NET had previously built a validation system as well.  It implemented a set of rules you can [see here](https://github.com/aspnet/BuildTools/tree/master/modules/NuGetPackageVerifier/console/Rules).

Some  of these are .NET Core specific, some are Microsoft specific, but there have been a bunch of issues here.

Additionally, with package reservation and signing requirements, it would be extreme

[2020-03-17 22:02] zachhats opened #9314 "MSBuild Restore is flaky (with corext bridge)"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): msbuild /restore

NuGet version (x.x.x.xxx): unknown (CloudBuild)

dotnet.exe --version (if appropriate): n/a

VS version (if appropriate): n/a

OS version (i.e. win10 v1607 (14393.321)): Unknown (CloudBuild)

Worked before? If so, with which NuGet version: no

## Detailed repro steps so we can

[2020-03-17 22:05] heng-liu opened #9315 "Test ExecuteCommandAsync_WithAmbiguousMatch_ThrowsAsync runs 10-40 mins on Linux."
A test runs 10-40 mins on Linux
ExecuteCommandAsync_WithAmbiguousMatch_ThrowsAsync
Need to investigate the test.

[2020-03-17 23:06] druske opened #9316 "Migration option shows up for C++ projects, contrary to documentation"
This page states _"You should now be able to see the migration option. Note that this option is not supported and **will not show** up for ASP.NET and C++ project types."_ This is not true on VS2019 16.4.5; right-clicking on an unmanaged C++ project's packages.config file does show the option **Migrate packages.config to PackageReference...**, but attempting to perform the operation fails with a m

[2020-03-17 23:33] zachhats commented on #9314
For context, [here](https://mw-s7.cloudbuild.microsoft.com/dir?path=%5C%5CMW1SCH101331922%5Cd$%5Cdbs%5Csh%5Cappq%5C0316_125328_log&stampId=MW_S7) is an example of a successful build.

More info from colleague:
----------------------------
I personally cannot understand why they behave differently.
This is what happens when the build succeeds:
![restore1](https://user-images.githubusercontent.com/4

[2020-03-18 02:47] kartheekp-ms commented on #9302
Please uncheck `Enable Just My Code` in `Debug -> Options -> General` and also in debug session open the `Modules` window and see if the symbols are loaded. Please refer [doc](https://docs.microsoft.com/en-us/visualstudio/debugger/specify-symbol-dot-pdb-and-source-files-in-the-visual-studio-debugger?view=vs-2019#configure-symbol-locations-and-loading-options) just to make sure all the required set

[2020-03-18 04:26] NMSAzulX opened #9317 "Who can help me solve this problem? I don't know how to do it.I can't understand nuget's documentation."
https://github.com/dotnet/roslyn/issues/42439#event-3135330568

[2020-03-18 05:20] cristinamanum opened #9318 "[CPVM] Enhance the E2E test coverage"
## Details about Problem

Enhance the E2E test coverage with more scenarios for:
P2P with combinations of CPVM for each of the projects, same dependencies or different.
Multiple levels of pining transitive dependencies.

[2020-03-18 07:49] nnyegaard commented on #8646
Doing what @foriequal0 suggested and that worked. So `dotnet publish "Foo.sln" -c Release -p:HideWarningsAndErrors=true -p:EmitAssetsLogMessages=false -o out`

[2020-03-18 12:46] moh-hassan commented on #9302
yes, it's unchecked

I did all required options including in the symbol page. I added the path to my extracted pdb file from snupkg:

When opening the Modules window, i find a message:

Then i clicked "Symbol load information..", i find the path that i entered above show the message:

So, why it does not match image although my workaround solution in my post is working. The pdb match the same dll

[2020-03-18 14:00] MidasLamb commented on #6764
Anything I can do to help with this? I'm very interested in this approach and it would help me out immensely if this gets added.

[2020-03-18 14:10] jmezach commented on #545
So I managed to work around the issue I mentioned earlier and think I've managed to create an MSBuild SDK that provides much of the functionality requested here while sacrificing some features of SSDT. Check out my [announcement blog post](https://jmezach.github.io/post/introducing-msbuild-sdk-sqlproj/) and the associated [repository](https://github.com/jmezach/MSBuild.Sdk.SqlProj) and [NuGet Pack

[2020-03-18 14:35] bzuidgeest commented on #545
@jmezach SQLCLR is very valuable to us (my and my colleagues), so though interesting solution this solves nothing for us. (for example CLR is the easiest route I know to get regex support in SQL which can be very usefull)

[2020-03-18 14:40] jmezach commented on #545
@bzuidgeest I guess with some work SQLCLR could be supported as well, it's just that I didn't want to spent time on it if we weren't using it. Feel free to file an issue [here](https://github.com/jmezach/MSBuild.Sdk.SqlProj/issues). If there's enough demand for it I can consider adding it. Or perhaps someone could send a PR ;).

[2020-03-18 16:50] kartheekp-ms commented on #9317
Please refer to [NuGet doc](https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package#include-msbuild-props-and-targets-in-a-package) to learn more about how to include `msbuild props and targets file in a package`. If you need further assistance, then please reopen or create new issue and provide issue description as per [this](https://github.com/NuGet/Home/issues/new) template.

[2020-03-18 16:50] #9317 closed, assigned to nobody

[2020-03-18 20:42] ericstj commented on #7344
Bump.  Just hit this again and would really like to see progress here.  /cc @rrelyea

[2020-03-18 21:33] kartheekp-ms commented on #9309
PR - NuGet/NuGet.Services.Index/pull/161

[2020-03-18 22:09] #8246 closed, assigned to dominoFire

[2020-03-18 22:53] #6697 closed, assigned to nobody

[2020-03-18 22:53] #7505 closed, assigned to kartheekp-ms

[2020-03-18 22:53] #7652 closed, assigned to rrelyea

[2020-03-18 22:53] #7699 closed, assigned to nobody

[2020-03-18 22:53] #7842 closed, assigned to nkolev92

[2020-03-18 22:53] #7881 closed, assigned to rrelyea

[2020-03-18 22:53] #8073 closed, assigned to nkolev92

[2020-03-18 22:53] #8189 closed, assigned to dominoFire

[2020-03-18 22:53] #8333 closed, assigned to nobody

[2020-03-18 22:53] #8370 closed, assigned to nkolev92

[2020-03-18 22:53] #8432 closed, assigned to nkolev92

[2020-03-18 22:53] #8528 closed, assigned to nkolev92

[2020-03-18 22:53] #8742 closed, assigned to nobody

[2020-03-18 22:53] #8764 closed, assigned to zivkan

[2020-03-18 22:53] #8811 closed, assigned to nkolev92

[2020-03-18 22:53] #8816 closed, assigned to nkolev92

[2020-03-18 22:53] #8782 closed, assigned to nobody

[2020-03-18 22:53] #8802 closed, assigned to nkolev92

[2020-03-18 22:53] #8829 closed, assigned to jeffkl

[2020-03-18 22:53] #8847 closed, assigned to zivkan

[2020-03-18 22:53] #8733 closed, assigned to zivkan

[2020-03-18 22:53] #8757 closed, assigned to zivkan

[2020-03-18 22:53] #8783 closed, assigned to nobody

[2020-03-18 22:53] #8804 closed, assigned to jeffkl

[2020-03-18 22:53] #8837 closed, assigned to donnie-msft

[2020-03-18 22:53] #8853 closed, assigned to nkolev92

[2020-03-18 22:53] #8855 closed, assigned to jeffkl

[2020-03-18 22:53] #8778 closed, assigned to donnie-msft

[2020-03-18 22:53] #8796 closed, assigned to rrelyea

[2020-03-18 22:53] #8881 closed, assigned to dtivel

[2020-03-18 22:53] #8887 closed, assigned to nkolev92

[2020-03-18 22:53] #8927 closed, assigned to nkolev92

[2020-03-18 22:53] #8931 closed, assigned to donnie-msft

[2020-03-18 22:53] #8955 closed, assigned to dominoFire

[2020-03-18 22:53] #8718 closed, assigned to nobody

[2020-03-18 22:53] #8840 closed, assigned to nobody

[2020-03-18 22:53] #8888 closed, assigned to dominoFire

[2020-03-18 22:53] #8949 closed, assigned to donnie-msft

[2020-03-18 22:53] #8960 closed, assigned to nobody

[2020-03-18 22:53] #8965 closed, assigned to nobody

[2020-03-18 22:53] #8967 closed, assigned to nkolev92

[2020-03-18 22:53] #8653 closed, assigned to zivkan

[2020-03-18 22:53] #8865 closed, assigned to nobody

[2020-03-18 22:53] #8975 closed, assigned to nkolev92

[2020-03-18 22:53] #8984 closed, assigned to nkolev92

[2020-03-18 22:53] #8992 closed, assigned to nobody

[2020-03-18 22:53] #8995 closed, assigned to bmajik

[2020-03-18 22:53] #1518 closed, assigned to rrelyea

[2020-03-18 22:53] #8463 closed, assigned to nobody

[2020-03-18 22:53] #8592 closed, assigned to zivkan

[2020-03-18 22:53] #8974 closed, assigned to nkolev92

[2020-03-18 22:53] #8978 closed, assigned to nkolev92

[2020-03-18 22:53] #8991 closed, assigned to nkolev92

[2020-03-18 22:53] #9032 closed, assigned to zivkan

[2020-03-18 22:53] #9036 closed, assigned to nkolev92

[2020-03-18 22:53] #8630 closed, assigned to dominoFire

[2020-03-18 23:04] #9160 closed, assigned to kartheekp-ms

[2020-03-18 23:04] #9206 closed, assigned to donnie-msft

[2020-03-18 23:06] #5201 closed, assigned to nkolev92

[2020-03-18 23:06] #8674 closed, assigned to nkolev92

[2020-03-18 23:06] #8939 closed, assigned to kartheekp-ms

[2020-03-18 23:06] #9040 closed, assigned to dtivel

[2020-03-18 23:06] #9042 closed, assigned to dtivel

[2020-03-18 23:06] #9085 closed, assigned to zkat

[2020-03-18 23:06] #8793 closed, assigned to nkolev92

[2020-03-18 23:06] #8909 closed, assigned to cristinamanum

[2020-03-18 23:06] #8918 closed, assigned to heng-liu

[2020-03-18 23:06] #9031 closed, assigned to dtivel

[2020-03-18 23:06] #9074 closed, assigned to nkolev92

[2020-03-18 23:06] #9078 closed, assigned to donnie-msft

[2020-03-18 23:06] #9143 closed, assigned to rrelyea

[2020-03-18 23:06] #9157 closed, assigned to rrelyea

[2020-03-18 23:06] #9167 closed, assigned to dtivel

[2020-03-18 23:06] #9196 closed, assigned to rrelyea

[2020-03-18 23:06] #9077 closed, assigned to dominoFire

[2020-03-18 23:06] #9192 closed, assigned to donnie-msft

[2020-03-18 23:06] #9210 closed, assigned to dtivel

[2020-03-18 23:06] #9211 closed, assigned to dtivel

[2020-03-18 23:06] #9131 closed, assigned to kartheekp-ms

[2020-03-18 23:06] #9165 closed, assigned to heng-liu

[2020-03-18 23:06] #9199 closed, assigned to nkolev92

[2020-03-19 12:34] touseefbsb opened #9323 "Doesnt work while trying to add theme dictionaries"
I tried to add custom theme and some control styles through a dictionary Themes.xaml in my component project and it was working as expected when trying directly but when I upload it to nuget and consume from there, it cant find resources.
More details : https://stackoverflow.com/questions/60722735/uwp-styles-and-themes-in-a-nuget-cannot-find-resource-file/60722835?noredirect=1#comment107495661_607

[2020-03-19 16:14] semsogutlu commented on #5127
Hello, I am using dotnet core 3.1 and I also encountered this issue while I am using my private feed. Everything works fine if I use Visual Studio in Windows but It does not work with dotnet add package on mac (Clearing nuget cache did not work for me). Here's I come up with a workaround:

[1] Installed mono and nuget https://docs.microsoft.com/en-us/nuget/install-nuget-client-tools
[2] Updated my

[2020-03-19 16:17] #8910 closed, assigned to cristinamanum

[2020-03-19 17:29] feboz commented on #2880
Great! That worked for me! Thank you

[2020-03-19 23:14] NPadrutt opened #9320 "Namespace no longer found on build server after migrated to package reference"
## Details about Problem

I have a rather big application based on .net framework 4.7.2 which so far uses package.config. I now wanted to migrate that project step by step to package reference. So I migrated one project via the VS option. After that I was able to build without issue on my local machine. But as soon as I push it on our TeamCity Server I get a lot of missing namespace errors in the

[2020-03-19 23:52] davidhunter22 commented on #6931
I am also having this issue adding <IncludeSource> does not include the source in the created nupkg or snupkg file. When the was closed as "ByDesign" I would also add what is the "Design" supposed to do then?

[2020-03-20 00:35] #9265 closed, assigned to dominoFire, nugetlurker

[2020-03-20 02:09] nkolev92 commented on #9201
https://github.com/NuGet/NuGet.Client/pull/3306 out to fix the performance regression from 4.9.

As far as further caching goes it's already happening for SDK based projects and it's impossible to cache for Legacy projects, so we are as good as we can be.

[2020-03-20 06:09] janbaltus commented on #9045
@lukaschal please review with LM translation for
by {0}
0; "Text_ByAuthor"

[2020-03-20 09:57] vikashatri commented on #3131
Is there any fix done for this issue to use .Net Standard dependent projects in VS2012?
I am getting 'Newtonsoft.Json' already has a dependency defined for 'Microsoft.CSharp'. while trying to install Swagger.

[2020-03-20 12:49] v-luzh opened #9321 "[Test Failure] The installed version is inconsistent with the embedded icon in the solution level PM UI for one package id with multiple versions installed"
## Details about Problem
NuGet version: NuGet Client Dev\5.6.0.6525
VS Version: Master\29919.118
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1.	Create a solution with two C# Console App (.NET Framework 4.8) (called ConsoleFW1 and ConsoleFW2) in VS.
2.	Open the solution level PM UI.
3.	Select the remote feed “nuget.org” in the “Package source” dropdown box in the PM UI and type “Text2Xml.

[2020-03-20 14:02] PeteBoyRocket commented on #4103
Best I've got to get round this is parsing the projects in a solution with `dotnet sln $solutionPath list`, & parsing `dotnet list` result then using `dotnet add` one at a time. Seems clunky but works for me. Would love a better solution though.
https://gist.github.com/PeteBoyRocket/5ae25f8fb2a6505a425e778dd35c20a8

[2020-03-20 14:57] #9320 closed, assigned to nobody

[2020-03-20 15:24] kartheekp-ms commented on #9305
Found another [thread](https://social.msdn.microsoft.com/Forums/en-US/8a01867d-4cf2-4a7d-9cfb-c2500668d2c4/fakes-assembly-is-not-generating-with-packagereference) that talks about the same issue.

[2020-03-20 16:38] kartheekp-ms commented on #9305
As per [NuGet doc](https://docs.microsoft.com/en-us/nuget/create-packages/select-assemblies-referenced-by-projects#packagesconfig-support), Projects using `packages.config` to manage NuGet packages normally add references to all assemblies in the `lib\<tfm>\ directory`. That is the reason why `Fakes` assembly are generated in your `WPF-PackageConfig-Project`.
The `project.assets.json file under ob

[2020-03-20 16:50] PeteBoyRocket commented on #8561
Just come across this issue with a web project. I assume the only workaround right now is to ALWAYS do `dotnet remove package` first, then `dotnet add package`?

[2020-03-20 17:06] bananacles commented on #957
@msfcolombo The NuGet package is just a renamed .zip, when you publish a package you _are_ publishing the dll. NuGet does other nice things that make life easier.

[2020-03-20 18:45] ievgennaida opened #9322 "MsBuild version picking works badly on some non-english cultures"
I have the latest sources for the NuGet (20.03.2020)
and for me **TestMsBuildPathFromVsPath** is failing with an error:
[code]
""\15.0\" is selected instead of "15.1" while the number cannot be parsed as float."

Problem is that the wrong MSBuild path is selected for a culture where ',' is used as float separator.

How to reproduce:
1. Change current regional settings to be with a culture where ',

[2020-03-20 21:16] Braineeee commented on #9274
I am sorry I have quit using Xamarin due to a number of crappy issues. Your software cost me a full week of time trying to get a build up and going. I could have finished it in that amount of time, or spent more than 6 hours actually writing code instead of monkeying with stupid settings just to get a singular build.

I have no idea how to reproduce this. I had the NuGEt pkg manager installed and

[2020-03-20 22:04] moh-hassan commented on #9302
I resolved the issue.

The package is generated in CI appveyor for both windows and ubuntu 18.04.
It seems that Appveyor upload  the packages from the  last image (ubuntu) while I used the snupkg of windows. That is interpret why vs show `PDB does not match image.`

when I used snupkg of ubuntu image, VS 2019 load the  symbol file correctly.
So, Vs 2019 can  use snupkg correctly.

Thanks for help.

[2020-03-20 22:04] #9302 closed, assigned to nobody

[2020-03-20 22:39] cristinamanum opened #9324 "[CPVM] Tools available to evaluate the Directory.Packages.props for possible downgrades."
If a downgrade happens because of a transitive dependency presented in Directory.Packages.props an error will be produced at the restore.

This issue is to open the discussion to make available tooling around the evaluation of the  Directory.Packages.props without the context of a specific project and present the errors before an eventual package restore.

[2020-03-20 23:29] nkolev92 commented on #4989
Hey all,

You can take a look at our design for this here:
[Design document](https://github.com/NuGet/Home/blob/dev/designs/PackageReference-Extern-Alias.md).

[2020-03-20 23:48] nkolev92 opened #9325 "Handle localization in Visual Studio Online Environment scenarios"

[2020-03-21 00:32] heng-liu opened #9326 "Improve the patching CLI on Linux and Mac"
In order to manual test on Linux and Mac, we need to patch CLI on Linux and Mac.
However, the patching console I wrote still need improving in the following two ways:
1.the patched CLI is very slow when running dotnet command.
2.the patching code needs to be simplified.

[2020-03-21 00:42] zkat commented on #9011
This was fixed, but issue didn't auto-close.

[2020-03-21 00:42] #9011 closed, assigned to kartheekp-ms

[2020-03-21 00:53] nkolev92 commented on #9301
This was harder than I anticipated. I removed too much in my first go around.

I'll give it another shot once https://github.com/NuGet/NuGet.Client/pull/3300 is merged.

[2020-03-21 11:50] buckleyGI commented on #1359
The above link is dead now. Use this instead
https://devblogs.microsoft.com/nuget/whats-nu-in-nuget-with-visual-studio-2017-version-15-3/#support-for-semantic-versioning-200

[2020-03-21 12:58] slater1 commented on #5292
@aelij Thank you for the solution. When I run `msbuild /t:restore` I get `error MSB4057: The target "Restore" does not exist in the project.` Could you provide an example `Restore` target?

[2020-03-22 10:11] Njoro007 commented on #7765
How does one then change the Package Versioning, since Nuget Pack is not an option for multi-Targeting?

[2020-03-22 14:32] archfz commented on #9126
Unfortunately I had no proper solution for this yet. What I have done is disabled the cache for local WSL development: `$$(which wsl.exe > /dev/null || echo '--packages .nupkg')`

[2020-03-22 16:16] thomasd3 commented on #2623
in the case of docker builds, right now we get all the containers pulled at every build without having an offline mode.

[2020-03-22 18:37] furesoft opened #9327 ".net core lib"
is there a .net library to interact with nuget to use nuget as update server?

[2020-03-23 02:51] jonathan-hopkins commented on #8373
I had this issue on 5.4.0. I was unable to spot anything strange with my path variable though, so I was forced to downgrade to 4.9.4, which worked fine. As Lukkian said, nuget should probably just ignore any faulty paths, rather than fail entirely.

[2020-03-23 03:47] msfcolombo commented on #957
@bananacles The question is more like "Since each Nuget is supposed to have a single DLL and the DLL contains metadata, why can't we simply publish the DLL? i.e. Why we have to pack it inside a zip file and call it a Nuget?"

A similar question but from the other point of view, would be "Why an assembly cannot reference a Nuget package directly? i.e. Why isn't the runtime smart enough to unpack th

[2020-03-23 06:57] apobekiaris opened #9328 "How to use the consolidate/centralize command?"
How do I access the command at

https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions#next-steps-post-mvp

i get `error: Unrecognized command or argument 'consolidate/centralize'`

[2020-03-23 07:13] Mazas17 commented on #4864
For me workaround was to use `--no-symbols 1`

[2020-03-23 09:15] KeltarHelviett commented on #9222
@nkolev92 Are there any changes?

[2020-03-23 12:32] ViktorHofer commented on #7648
This is fixed with the new RestoreTaskEx path which can be enabled via the `RestoreUseStaticGraphEvaluation` switch.

[2020-03-23 13:43] aolszowka commented on #5764
@davidfowl We are encountering this with the Microsoft SQL Server Reporting Services (SSRS Team) Provided Package "Microsoft.ReportingServices.ReportViewerControl.Winforms" (https://www.nuget.org/packages/Microsoft.ReportingServices.ReportViewerControl.Winforms/)

According to your statements above this indicates that Microsoft's Reporting Team has a defect in their package creation process, this

[2020-03-23 14:28] luminescent opened #9329 "Invalid characters error in nuget pack for nuspec file with absolute path in file target"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 5.4.0.6315

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)): Windows 10 Enterprise 1903 18362.720

Worked before? If so, with which NuGet version: Yes but I don't remember the version (about a

[2020-03-23 14:43] Science-and-Motion-Sports opened #9330 "Package created with `NuGet.exe pack` contains files and folders that start with a dot."
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): NuGet Version: 5.4.0.6315

OS version (i.e. win10 v1607 (14393.321)): win10 v1909 (18363.720)

## Detailed repro steps so we can see the same problem

1. Extract the following files [test.zip](https://github.com/NuGet/Home/files/4369991/test.zip)

2. Folder

[2020-03-23 15:25] kartheekp-ms commented on #9329
This behavior is by design. If target path in `nuspec` file contains [these](https://github.com/NuGet/NuGet.Client/blob/dfe01104665d72e0331c5262a537b63fab0b8c12/src/NuGet.Core/NuGet.Packaging/PackageCreation/Authoring/ManifestFile.cs#L21) invalid chars then `pack` will throw an exception. This has been the case since [March 2016](https://github.com/NuGet/NuGet.Client/commit/d497be9944feb8a4a10c014

[2020-03-23 15:57] donnie-msft commented on #1739
The Updates Tab will now have a default sort of Alphabetical thanks to a Community PR (https://github.com/NuGet/NuGet.Client/pull/3278) Issue: https://github.com/NuGet/Home/issues/9278. This behavior matches the Installed tab.

I expect it to ship in 16.6 Preview 2.

Regarding the larger Sorting discussion in general, I found another tracking issue: https://github.com/NuGet/Home/issues/2585.
I'm g

[2020-03-23 16:05] luminescent commented on #9329
Thank you for coming back so quickly.

I need `:` because I am specifying a full absolute path in `target`, which must contain the drive. Like `C:\MyFolder`.

How else can I put in a full path if the standard way of specifying it isn't allowed? Is there way of escaping the semicolon?

Does it support environment variables? Will `nuget install`, later on, be able to replace the environment value wi

[2020-03-23 16:15] heng-liu commented on #8934
Status:
On Linux: 14 out of 15 tests are fixed.
On Mac: 10 out of 19 tests are fixed.
On Windows: 1 test is fixed.

[2020-03-23 16:30] donnie-msft commented on #8924
A Bug was reported against the a11y of Browse tab's available recommendations. As part of this work, we should find a way to make users aware how many recommendations are available. (Bug #1049190)

[2020-03-23 17:31] rrelyea commented on #9330
Which version of nuget.exe did this work differently with?
can you share an example nuspec file that shows the problem you are hitting?

[2020-03-23 17:43] rrelyea commented on #9329
We don't allow NuGet packages to have any files, than when extracted, affect files elsewhere on the disk. This is a security concern.
In fact, starting with NuGet.exe 4.5 (or so), we also don't allow "..\" in packages and will prevent them from being created during extraction.
If you need to move a file from within the package to somewhere else, Using msbuild logic in a custom .targets file (in bu

[2020-03-23 17:44] rrelyea commented on #9328
Central Version Package Management is a feature still being developed. @cristinamanum would be able to point you to which issue to stay tuned to...so you know when it first becomes available in preview form.

[2020-03-23 17:44] #9328 closed, assigned to nobody

[2020-03-23 17:46] rrelyea commented on #9327
Please describe your goals in more depth.
What are you trying to update?
Bringing binaries down to your client app?
Bringing binaries down to a server?
are you trying to update some files/binaries during runtime, instead of during the normal build time that nuget is usually used?

[2020-03-23 17:51] rrelyea commented on #9323
By looking at that stackoverflow - looks like you solved your problem.
If our documentation has any deficiencies...please navigate to that page in the documentation...scroll to the Feedback section...and report feedback about "this page".

[2020-03-23 17:51] #9323 closed, assigned to nobody

[2020-03-23 18:24] nkolev92 opened #9331 "Add an Online Environment assembly, basic NuGet menu items & ingest required dependencies"

[2020-03-23 19:09] nkolev92 commented on #7648
@ViktorHofer
Seems unlikely.
Static graph restore changes the msbuild part, the rest of it is mostly the same.

I'd need to investigate to confirm though.

[2020-03-23 19:10] nkolev92 commented on #9222
cc @rrelyea

[2020-03-23 19:43] donnie-msft commented on #4864
I'll take a look as part of Quality Week in a couple weeks.
Considering the workarounds that are in-place, will have to evaluate not breaking everybody by fixing this.

[2020-03-23 19:45] #9274 closed

[2020-03-23 19:52] #9203 closed, assigned to donnie-msft

[2020-03-23 19:57] #9331 closed, assigned to nkolev92

[2020-03-23 20:02] madelson opened #9332 "NU1004 when restoring with lockedmode after nuget restore -ForceEvaluate returns successfully"
## Details about Problem

I recently spent a good deal of time debugging a strange NuGet error in one project which would only happen when restoring with locked mode on our CI server.

Ultimately, the problem had to do with the following invalid setup:

* 3 projects in one solution PackageA, PackageB, and PackageB.Tests. The Package projects are published as NuGet packages.
* PackageB has a projec

[2020-03-23 20:04] donnie-msft opened #9333 "Create Performance-Testing Lab for NuGet in VS - Package Management UI."
Investigate ways of measuring performance for various NuGet entry points.

Initial focus will be on Visual Studio's Package Management UI.

[2020-03-23 20:13] rrelyea opened #9334 "CodeFlow - insertion into VS/SDK"

[2020-03-23 20:28] #8996 closed, assigned to nkolev92

[2020-03-23 20:28] nkolev92 commented on #8996
Issue moved to [NuGet/Client.Engineering #235](https://github.com/NuGet/Client.Engineering/issues/235) via [**ZenHub**](https://www.zenhub.com/)

[2020-03-23 22:06] nkolev92 commented on #8460
cc @zivkan

Dup of https://github.com/NuGet/Client.Engineering/issues/225

[2020-03-23 22:06] #8460 closed, assigned to nobody

[2020-03-23 22:38] davkean opened #9335 "Cannot uninstall/fix a packages.config project that has a missing package that does not exist at one of the sources"
## Details about Problem
Version 16.6.0 Preview 2.0 [29919.92.master]
## Detailed repro steps so we can see the same problem

1. Download and extract https://github.com/dotnet/project-system/files/2062473/VSIXProject2.zip
2. Open project and save solution
3. Attempt to build

Get this build error (is the stack intended?)

[code]

4. Right-click on project and choose Manage NuGet Packages
5. Click

[2020-03-24 00:02] #9269 closed, assigned to nkolev92

[2020-03-24 01:04] nkolev92 commented on #9282
I think this issue is a chicken or egg problem.

The feature is not enabled because the assembly is not there, we don't know about the feature because the assembly is not there.

I understand that it can be painful, unfortunately there's no value to adding this warning/error now.
Adding this error in 3.1.300 will provide no value because 3.1.300 will always have the assembly.

Given that I'm closi

[2020-03-24 01:04] #9282 closed, assigned to nobody

[2020-03-24 08:17] aelij commented on #5292
@slater1 The Restore target is built-in, so I don't know why it's not working of you. Haven't used this solution in a while, so might not be compatible with every version.

[2020-03-24 10:42] luminescent commented on #9329
Ok, thank you, I will close the issue as this is by design.

By the way, I was able to use environment variables to achieve what you are trying to disallow. I set  this: `target="%ProgramData%\MyFolder%"`. Perhaps it's worth adding `%` and `$` (for Linux) to the list of invalid characters.

[2020-03-24 12:07] bondarenkod commented on #9224
One more example.
Here is the scheme and short overview why it happening to me:
![image](https://bdfss.blob.core.windows.net/shots/2020-03-24_13-40-02-912655d6-a674-4736-a820-fedab7593bc5-POWERPNT.png)
When I'm working from the **Solution B** with core projects, I'm updating packages.
When I'm switching to the **Solution A**, I have different versions of packages in the **Solution A**'s projects.

[2020-03-24 13:07] somnathchaudhary commented on #7158
Thank you Sir this is really helpful

[2020-03-24 13:25] v-luzh opened #9336 "[Test Failure] Focus-rect color in themes for PM UI tabs"
## Details about Problem
NuGet version: NuGet Client Dev\5.6.0.6529
VS Version: Master\29923.142
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1.	Create project in VS.
2.	Open the solution level PM UI or project level PM UI.
3.	Tab through the PM UI and focus on the tabs.
## Expected
The dash-line box should not be black when focusing on “Browse”/”Installed”/”Updates”/”Consolidate” tab in

[2020-03-24 13:53] kartheekp-ms commented on #9329
I am re-opening this issue to repro and fix it if required.

[2020-03-24 14:31] furesoft commented on #9327
i want to bring down my binaries to my client app and at runtime

[2020-03-24 14:46] jschwanz opened #9337 "Missing format default on `dotnet nuget list source`"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe

NuGet version (x.x.x.xxx): 5.5.0

OS version (i.e. win10 v1607 (14393.321)): win10 v1909, windows-2019 (on Azure Pipelines)

Worked before? If so, with which NuGet version: 5.4.0

## Detailed repro steps so we can see the same problem

1. Run "nuget sources list"

With 5.4.0 (and ear

[2020-03-24 15:37] ViktorHofer commented on #7648
You are right, I just hit this again with RestoreTaskEx :(

[2020-03-24 15:39] jschwanz commented on #9337
Here is the line in Register-PSRepository that is now not working:

https://github.com/PowerShell/PowerShellGetv2/blob/development/src/PowerShellGet/public/psgetfunctions/Register-PSRepository.ps1#L244

[2020-03-24 16:38] TrabacchinLuigi commented on #5894
Just found out this is affecting our source only packages too.
We use some source only nuget packages, we need them as source only because license and obfuscation matters, the point is: In wpf projects the linked files are not linked because nuget targets are not there.

[2020-03-24 18:32] #8148 closed, assigned to donnie-msft

[2020-03-24 19:26] zachhats commented on #9314
Talked offline with Nikolche, we are going to try out the static graph restore but we're currently blocked because corext is missing Nuget.Builds.Tasks.Console.dll.

[2020-03-24 19:30] donnie-msft commented on #9146
What's the cost to make `list` identify the nuget.config where it found the listed Source?
Perhaps Verbosity Detailed could be required.

My understanding is you need to open all the nuget.configs in your directory tree if you want to identify where a Source is being added. Tricky to eye-ball this since a </clear> could be applied upstream.

[2020-03-24 19:49] donnie-msft commented on #7883
What's happening here is that setapikey updates a source directly, without looking up any Symbol Source. I'm not sure if we want this behavior change? Should setapikey be smart, lookup the symbol server, and somehow know that the apikeys should both be set?

[2020-03-24 19:49] rrelyea commented on #9146
I've not investigated this. My guess is that it wouldn't be too big. My impression is that the config data structure keeps track of where it came from. But I haven't dug in.
That isn't tracked by this issue though.

[2020-03-24 20:04] rrelyea commented on #9309
Release notes: https://docs.microsoft.com/en-us/nuget/release-notes/nuget-5.5

[2020-03-24 20:04] #9309 closed, assigned to rrelyea

[2020-03-24 22:45] rrelyea commented on #9337
Thanks for the catch. Fix in PR now. Likely, we ship a 5.5.1 version of nuget.exe - but need approval first.

[2020-03-24 23:23] weitzhandler commented on #8186
[Related](https://github.com/dotnet/designs/blob/master/accepted/2020/net5/net5.md).

[2020-03-25 01:17] nkolev92 commented on #8124
cc @jeffkl @aortiz-msft, the issue tracking the problem we discussed.

[2020-03-25 02:06] donnie-msft opened #9338 "Push SkipDuplicate Docs should clarify that snupkgs always overwrite on nuget.org"
### Details
When a user performs a `push` of snupkgs to nuget.org, the behavior is to always accept a snupkg and re-validate it. I wrote an Issue regarding this inconsistency here: https://github.com/NuGet/NuGetGallery/issues/7681

### nuget.exe push
In the meantime, `SkipDuplicate` as currently documented may be interpreted by users as "don't push a snupkg at all if that snupkg already existed".

[2020-03-25 02:14] donnie-msft commented on #8148
Merged and should go out in **5.6 Preview 2**.

Quick clarification about this PR:
`-SkipDuplicate` was not applying to the automatic snupkg push (when pushing nupkgs) before this change. The option will be available now, and if you want to see the detailed output you provided (eg, validation in progress) , you can now specify `-Verbosity detailed`.

@Aarklendoia Your scenario sounds a bit differe

[2020-03-25 02:22] donnie-msft commented on #8148
That's a good workaround for 5.5.
I expect 5.6 Preview 2 will contain my fix and make that unnecessary.

[2020-03-25 02:27] donnie-msft commented on #9146
Great. If you can direct me to the right issue, I'll complain in the appropriate place 🤣

[2020-03-25 02:45] heng-liu opened #9339 "PortResever doesn't work correctly for netcoreapp5.0"
PortReserver has the following code, setting TimeSpan.Zero for a CancellationTokenSource:
[` var tryOnceCts = new CancellationTokenSource(TimeSpan.Zero);`](https://github.com/NuGet/NuGet.Client/blob/dev/test/TestUtilities/Test.Utility/TestServer/PortReserver.cs#L60)

In netcore5.0, the task will get cancelled, so it will never get a chance to run task on this port. Then it will keep trying to incr

[2020-03-25 16:25] ViktorHofer commented on #7648
Here's the call stack:

[code]

[2020-03-25 17:13] nkolev92 commented on #7648
Thanks @ViktorHofer That's super helpful.
We have a mechanism for locking on that but it could often be expensive.

We've focused on parallelization of package install operations cause those are a lot more infrequent.
We haven't used the expensive locking mechanism for the project specific assets.

[2020-03-25 17:21] ViktorHofer commented on #7648
I think you should be able to force this to happen locally with the repro that @natemcmaster posted. @natemcmaster implemented a [workaround for that a year ago in Arcade](https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/Build.proj#L214-L246) but with the new RestoreTaskEx path, this doesn't work anymore which basically means we are blocked turning on the new stat

[2020-03-25 17:26] rrelyea commented on #9335
Dupe of closed issue: https://github.com/NuGet/Home/issues/3077 (see workarounds there)
cc @aortiz-msft

[2020-03-25 17:26] #9335 closed, assigned to nobody

[2020-03-25 17:38] babelshift commented on #3891
4 years later, is this on any roadmap at all?

[2020-03-25 17:39] ViktorHofer commented on #7648
Ok @jeffkl pointed out that this could be related to us having multiple files with the same name, ie `packages.proj` which are now binclashing in the intermediate dir.

[2020-03-25 17:51] jeffkl commented on #7648
Yeah I'm pretty confident after looking at the code (which does a delete then move) that two or more projects are sharing the same restore output path which is not supported.  I know Arcade defaults to using a rooted BaseIntermediateOutput path so you have to ensure that every project in the tree has a unique file name.

NuGet could add an error and fail restore if two projects collide as well

[2020-03-25 18:34] zivkan commented on #9229
@v-luzh Can you explain, or link to instructions, on how you patched dotnet.exe to use the NuGet 6473 binaries?

I'm trying to reproduce locally, but I correctly get the error saying that the lock file is inconsistent with the project.

[2020-03-25 19:00] cristinamanum opened #9340 "Add an information message on restore to inform the CPVM users that the feature is in preview"
## Details about Problem

This is a new feature request.
Add an information message on restore to inform the CPVM users that the feature is in preview.

[2020-03-25 19:41] cristinamanum opened #9341 "Error when a Project has CPVM enabled but there are not any PackageVersion items defined"
## Details about Problem
This is a new feature request.

A project can be opted-in but it may not have any PackageVersion elements loaded. Currently there will be a NU1604 warning. This issue is to track if there will be a different error/warning needed.

Proposal:
When a project is optedin CPVM error on PackageReference included but no corresponding PackageVersion exists.

[2020-03-25 21:15] #9337 closed, assigned to rrelyea

[2020-03-25 21:21] #8752 closed, assigned to cristinamanum

[2020-03-25 22:01] rrelyea opened #9342 "`dotnet nuget list source` should be able to show which config a source was defined in."
design? perhaps this would be tied to verbosity detailed?

[2020-03-25 22:12] nkolev92 commented on #9234
In which project types is this an issue?

Can you give an actual example?

In https://github.com/NuGet/Home/issues/9231, I simply wanted a default so that when you install the SDK, you don't get errors such as PackageOutputPath not being set!

[2020-03-25 22:16] nkolev92 commented on #9234
In SDK based projects the structure is and should remain:

bin\Debug*.nupkg
bin\Debug\targetFrameworkName1*.dll
bin\Debug\targetFrameworkName2*.dll
obj\Debug*.nuspec
obj\Debug\targetFrameworkName1*.dll
obj\Debug\targetFrameworkName2*.dll

The outputs should mimic one another.

So the non-sdk based project defaults should be:

App
bin\Debug\*.dll, *.exe, *.nupkg
obj\Debug\*.nuspec, *.dll

[2020-03-25 23:18] Nirmal4G commented on #9234
In the SDK project, the structure becomes

[code]

If we just use the `OutputPath` in the pack targets without the `PackageOutputPath` being set in the SDK!

With `BaseOutputPath` the above problem goes away. But `BaseOutputPath` is not present in the common targets, only in SDK targets. See the issue here...?!

[2020-03-25 23:20] Nirmal4G commented on #9234
That's why I offered two solutions without needing to modify common targets

https://github.com/NuGet/NuGet.Client/pull/3270#discussion_r392676996

[2020-03-26 00:06] nkolev92 commented on #9234
Please provide a repro.
Pack runs in the outerbuild, no rid and tfms are set in the outer build.

[2020-03-26 01:06] angusbreno commented on #3891
Yes, at _Our Dreams_

[2020-03-26 01:25] nkolev92 opened #9343 "NuGet in VS should be more resilient to project system misbehavior."
Specifically we have a scenario where this like threw and halted the whole restore process.

https://github.com/NuGet/NuGet.Client/blob/1c2681b16a0bb9be9271abe043a1cbf892761ef8/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/ProjectServices/VsCoreProjectSystemReferenceReader.cs#L136

Ideally we are more resilient and don't stop running a restore.

[2020-03-26 01:43] nkolev92 commented on #9334
We have a template for future reference :)

https://github.com/NuGet/Client.Engineering/issues/new?template=insertion.md

[2020-03-26 01:51] chgill-MSFT commented on #6873
As part of this work, we should also consider allowing embedding files for release notes and description. Release notes being the big one. Currently, very few authors take advantage of the release notes section because it has be manually typed in, even though they likely have release notes or a changelog in their repo somewhere already. Very similar reasoning for why embedded readme would be helpf

[2020-03-26 02:12] chrisraygill opened #9344 "Automatically download and embed icon from iconUrl"
**Problem:** At some point nuget.org will stop accepting packages with iconUrls in favor of migrating package authors to embedded icons. This will require package authors to modify their current metadata practices.

**Solution:** Automatically download the image from the iconUrl and embed it into the nupkg at pack time. This will achieve the same benefits of embedded icons (because the icon will b

[2020-03-26 02:19] donnie-msft commented on #9297
@Bramvanelderen10 Glad you're making progress, let us know if you have other concerns.

For the small problem, try removing this from base.csproj:
[code]

[2020-03-26 02:19] #9297 closed, assigned to nobody

[2020-03-26 02:33] donnie-msft opened #9345 "Consider enhancing GUI for Pack / PackageReference"
### Hypothesis

Visual Studio NuGet customers would be more aware of, and efficient with, NuGet features if those features were accessible from the VS UI.

General concepts that may apply: Forms, workflows, validation (guiding the user), etc.
This is in contrast to current XML editing that generally takes place outside of VS, today. Are users aware of the features we offer? Do they understand why

[2020-03-26 02:35] babelshift commented on #4864
Should be simple enough to work as expected if no value is supplied. In the case where people are supplying workaround values, just let them override the behavior.

[2020-03-26 05:18] bradsa commented on #6404
FYI nuspec.txt file referenced above by @hisuwh has a spelling mistake in "copyToOuput" .. it's missing copyToOu**t**put

[2020-03-26 06:58] rchouser opened #9346 "Nuget 5.4.0 in ADO - PluginException: Problem starting the plugin /..\CredentialProvider.Microsoft.exe'. Plugin 'CredentialProvider.Microsoft' ... with exit code -1"
Nuget 5.4.0 downloaded into our ADO build
Worked before? Yes with Nuget 4.7.0

## Detailed repro steps so we can see the same problem

We are simply running our build which hasn't had many recent changes to the tasks itself.  We started getting some build breaks by a behind the scenes change which necessitated our moving to newer task versions for several of our nuget and build related tasks.  We

[2020-03-26 08:47] lukaschal commented on #9045
Translated as "作者 {0}" on CHT and CHS.

[2020-03-26 09:03] dhinesh-v commented on #4989
Hi @nkolev92 ,

Is there a way to alias three packages which have the same namespace. I have tried the design document mentioned solution, but I can't able to achieve that.

I have tried below solution,
`
<Target Name="AddPackageAliases" BeforeTargets="ResolveReferences" Outputs="%(PackageReference.Identity)">
    <PropertyGroup>
        <AliasPackageReference>@(PackageReference->'%(Identity)')</A

[2020-03-26 09:16] v-luzh commented on #9229
Hi @zivkan , this issue is fixed on the newer build. Now we can see the inconsistence error on VS Master\29925.152 + NuGet Client Dev\5.6.0.6532. You can resolve it as fixed. Thanks.

[2020-03-26 09:48] janbaltus commented on #9045
PR with fix
https://github.com/NuGet/NuGet.Build.Localization/pull/581/files
https://github.com/NuGet/NuGet.Build.Localization/pull/582/files

[2020-03-26 10:14] xVinCe commented on #9020
I have the same issue on a single project with ~20 packages referenced (Serilog, EF Core, EPPlus) `mcr.microsoft.com/dotnet/core/sdk:3.1`

I have a slow network at home (~2Mbps), I guess that explains it.
--disable-parallel flag works, takes 6 minutes

[2020-03-26 10:28] hisuwh commented on #6404
Good spot @bradsa unfortunately this so old I don't think what I was working on this for exists anymore.

[2020-03-26 12:07] joshpeterson opened #9347 "Add a TFM for Unity's DOTS profile"
At Unity, we would like to explore the possibility of having a new target framework moniker for a very small base class library profile that Unity will use for some of its products.

This profile will focus on a few principles:
* Small code size
* No support for reflection
* Focus on value types
* Limited GC allocations
* Limited use of exceptions
* Limited use of virtual methods

We would like to

[2020-03-26 12:08] joshpeterson commented on #9347
cc @rrelyea @mhutch @terrajobst

[2020-03-26 14:08] clairernovotny commented on #5957
Bump? This is still an issue AFAIK.

[2020-03-26 14:26] #9229 closed, assigned to zivkan

[2020-03-26 14:46] Bramvanelderen10 commented on #9297
One last question, I tried removing that element but it did not work. I've also tried playing around with different configurations in PrivateAssets, IncludeAssets and ExcludeAssets but all of that did not work.

The only thing that seems to work now is after i use dotnet pack and go to the generated package and edit the nuspec in there. Where i set the buildAction to none manually like:

![image](

[2020-03-26 16:22] rrelyea commented on #9297
what if you set Pack="true" on the None item in csproj? that should pack it...and stay buildaction none, right?

[2020-03-26 17:01] rrelyea commented on #9332
Can you describe how to repro exactly? Perhaps even give us a small solution that repros the problem?
I experimented with sdk style projects, and when restoring with:
dotnet restore -- i got:

when doing the same with: nuget.exe restore, i got a slightly less useful:

However, I don't know what kind of projects you have?
- csproj with packagesconfig?
- csproj with packagereference
- sdk style cspr

[2020-03-26 17:14] rrelyea commented on #9346
engaging in teams messaging with filer.

[2020-03-26 17:23] rrelyea commented on #9327
That is documented here:
https://docs.microsoft.com/en-us/nuget/reference/nuget-client-sdk#download-a-package

[2020-03-26 17:35] rrelyea commented on #9322
Have fix running tests in dev-rrelyea-fixMsBuildToolsetWithInvariantCulture branch of nuget.client
Assuming all works well, will add tests for this problem, and complete.

[2020-03-26 18:10] donnie-msft opened #9348 "VS UI PM Performance Improvements"
Epic for tracking various work on PM UI Performance Improvements.

[2020-03-26 18:19] #9245 closed, assigned to nkolev92

[2020-03-26 18:23] donnie-msft opened #9349 "Discuss user-study to get a baseline on Perf issues"
Let's investigate how PMUI performance is perceived at a more granular level.

A Baseline score would help us know that we've improved performance after some work is done in that area.

//cc: @aortiz-msft

[2020-03-26 18:30] rrelyea commented on #9314
Should this issue stay open? or close for now, and reopen if necessary?
/cc @nkolev92

[2020-03-26 18:31] donnie-msft opened #9350 "Measure PMUI tab-switching Performance"
When switching tabs in the PMUI, we need to be able to measure the time between the user-action, data is refreshed, and when WPF has drawn the controls.

My goal for now is to figure out a strategy for measuring this timing on my own machine, so I can recognize and report when I've made a noticeable improvement. Current plan is not to introduce such measurements to clients via telemetry, Consider

[2020-03-26 18:33] #9201 closed, assigned to nkolev92

[2020-03-26 18:44] nkolev92 commented on #9314
I'll let @zachhats make the call there.
We *think* static graph makes this better, but we have not confirmed it yet.

I also think it's ok to potentially close it for now and reopen if necessary if @zachhats agrees.

[2020-03-26 19:27] terrajobst commented on #9347
Thanks for filing this after our discussion. To add some more points we discussed:

1. For now, you'd like a one-way compatibility rule, that is `unity2.0-dots` can install into `netstandard2.0` (and by extension any .NET that implements `netstandard2.0`), but not the other way around.
2. Later, you said that you'd want a one-way compatibility rule, that is `unityX.Y-dots` can install into `net5.0

[2020-03-26 19:33] furesoft commented on #9327
thanks alot

[2020-03-26 19:33] #9327 closed, assigned to nobody

[2020-03-26 19:39] joshpeterson commented on #9347
This might be difficult. Is there some way to name the TFM so that Unity can make non-breaking changed (e.g. add APIs) without the need to tell NuGet about a new version?

So maybe `unity5.0-dots` is a proper subset of `net5.0`. Then we want to add a new method to `unity5.0-dots` which is already in `net5.0`. Could we add an additional version number, like `unity5.0-dots-1.0`. Then the next versio

[2020-03-26 19:40] joshpeterson commented on #9347
Points (1) and (3) do make sense based on our discussion. Thanks!

[2020-03-26 20:21] nkolev92 commented on #9333
For reference we have some perf scripts for commandline restore that we've been using:

https://github.com/NuGet/NuGet.Client/tree/dev/scripts/perftests

[2020-03-26 20:28] donnie-msft opened #9351 "PMUI could be more explicit/strict regarding native API Failures"
If a native API fails, we can choose to throw those exceptions. In most cases, we don't throw and silently ignore them. In a recent PR of mine, I throw, and this generated a lot of discussion which I'm formalizing here.

Throwing from the PMUI stack causes our telemetry to document the exception, but our UI continues to operate in an unintended state.

Example:
I added [ThrowOnFailure in this comm

[2020-03-26 20:36] zachhats commented on #9314
@rrelyea @nkolev92 sure, closing and will reopen if static graph doesn't help

[2020-03-26 20:36] #9314 closed, assigned to nobody

[2020-03-26 20:43] #9239 closed, assigned to donnie-msft

[2020-03-26 20:44] terrajobst commented on #9347
We could have rule like that:

* `unityX.Y-dots` is considered compatible with `netX.0`, when `X >= 5`

But that means *the only* allowed additions to the Unity DOTS profile are APIs that already are in the corresponding .NET X.0 release. But while we don't have plans to ship minor versions moving forward, I wouldn't bet my architecture on it, so I'm not sure how to feel about this.

I'm not sure

[2020-03-26 21:13] sbraswell commented on #8926
@Whiletru3 Did you ever figure out how to get this to work? I'm trying to package a 3rd party native library for my team to use on our internal Azure DevOps artifact feed.

I need to be able to include native binaries that aren't referenced by the project but are copied to the output folder of the project. Sounds like you were trying to accomplish something similar. Would appreciate any advice you

[2020-03-26 22:41] ViktorHofer commented on #7648
Happened again for a uniquely named project:

[code]

[2020-03-26 22:43] ViktorHofer commented on #7648
Definitely looks like a race as you can see that the same project was restored above.

[2020-03-26 22:44] jeffkl commented on #7648
It kind of looks like multiple restores are happening at the same time for the same project?  Is that true?

[2020-03-26 22:58] rrelyea commented on #9334
yes, duplicated to that template, now that i'm reading through the instructions.

[2020-03-26 22:58] #9334 closed, assigned to rrelyea

[2020-03-26 23:00] nkolev92 commented on #9289
Specifically when something "goes wrong" with the input in the project file, we need ensure the experience is actionable.

In restore scenarios, that means a clear message indicating which package reference from which project is missing.
In Package Manager UI scenarios, that means a clear message indicating which package reference id has a missing version.

If you are a customer hitting this issue

[2020-03-26 23:04] Nirmal4G commented on #9234
Sorry about the mistake! _fixed the comment_

Only nupkg path is wrong. nuspec uses `BaseIntermediateOutputPath` which will always have correct path.

#### Here's the repro
[NuGet OutputPath Repro](https://github.com/NuGet/Home/files/4390444/ClassLibrary.zip)

Pack any project and look at the directory tree. Then change the properties in `Directory.Build.props` and pack again to see the changes (w

[2020-03-26 23:24] nkolev92 commented on #9271
This is already happening for the project types required.

[2020-03-26 23:24] #9271 closed, assigned to nkolev92

[2020-03-27 00:49] nkolev92 commented on #4989
@dhinesh-v That workaround is not handling the cases where the assembly name is not equal to the package name.

Specifically:

[code]

[2020-03-27 02:11] albahari commented on #7966
This is still causing a massive headache. Why does proxy configuration have to be so complicated? Why can't I just do this?

`HttpClient.DefaultProxy = …`

Why must it ignore HttpClient.DefaultProxy?

[2020-03-27 08:34] Bramvanelderen10 commented on #9297
Thats worked thanks :)

[2020-03-27 08:59] dhinesh-v commented on #4989
@nkolev92  Thanks for mentioning this case. But all the packages that i'm using has single assembly in it and named same as the package. So the mentioned case didn't  cause any problem in my project.

Using this workaround, I can able to alias **three assemblies which has different namespaces.**

But I'm unable to alias **three assemblies which has same namespaces.**

Can you please let me know th

[2020-03-27 09:15] ViktorHofer commented on #7648
Those are transitive dependencies, ie [AppHost.Bundle.Tests.csproj](https://github.com/dotnet/runtime/blob/7d67d17a9f49ad5f365467fcd3bf0d25f2b9349a/src/installer/test/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/AppHost.Bundle.Tests.csproj#L16) references `Microsoft.NET.HostModel.csproj` which then gets restored multiple times:

[code]

So restoring entrypoints with same dependencies in para

[2020-03-27 10:28] madelson commented on #9332
Sorry. We have sdk style csproj with packagereference.

As I said in my issue, I am using `nuget.exe` for restore. We don't use `dotnet` yet because (a) we're still targeting .NET framework (in the process of converting) and (b) we have things set up so that each repo embeds a version of NuGet.exe that it is compatible with (a necessity for our build system given the various issues with SHA hashin

[2020-03-27 11:21] ievgennaida commented on #9322
@rrelyea Thanks for the quick response. I am not sure that it was only one place that leads to an error. I would really suggest to change the culture globally and execute all the tests. Thanks in advance!

[2020-03-27 11:39] joshpeterson commented on #9347
This is pretty much exactly the behavior we want. Let me try to make it more concrete with an example:

Suppose the `unity5.0-dots` profile ships with `System.Collections.Generic.List`, but the `Count` property is not included in that release. Then later on we realize "Oh no, we forgot about `Count`! Some users need that." So then we would like to ship an update to the TFM which includes the `Coun

[2020-03-27 15:17] jeffkl commented on #7648
@nkolev92 there's parts of NuGet that support multiple restores at the same time, but I don't think we support restoring the same project at the same time right?

@ViktorHofer one massive restore for the whole repo is sort of how retail NuGet is designed.  My static graph evaluation improvements are meant to speed up the MSBuild side of things by loading projects faster.  I made other improvements

[2020-03-27 15:24] #9336 closed, assigned to donnie-msft

[2020-03-27 17:34] #9339 closed, assigned to heng-liu

[2020-03-27 18:34] nkolev92 opened #9352 "Better handling on unexpected error cases on the client side"
For diagnostics purposes, it's easier now if use the activity log. We should use the file and forget method in the future.

[2020-03-27 19:07] nkolev92 commented on #7648
Not really. The shared parts are synchronized, global packages folder, http cache, plugin cache, temp cache, but we never synchronize the project intermediates.
Process wide synchronization is expensive so we avoid it unless absolutely necessary.

[2020-03-27 19:16] nkolev92 commented on #4989
@dhinesh-v
Adding aliases to multiple assemblies are independent actions.
So both scenarios you mentioned are possible.

[2020-03-27 19:52] #7717 closed, assigned to zivkan

[2020-03-27 21:22] AustinWise commented on #8713
At least when telling Nuget to pack a .csproj file, it looks like this problem is [ProjectFactory.ProcessDependencies](https://github.com/NuGet/NuGet.Client/blob/f616fda3ca687960ac472fe2678c39f0cbca24b3/src/NuGet.Clients/NuGet.CommandLine/Commands/ProjectFactory.cs#L954-L959) always clears all dependency groups and puts back one with no target framework. Then when [DependenciesGroupsForEachTFMRule

[2020-03-27 23:33] nkolev92 commented on #9234
Ok, I finally understand your concern.

A few points however:

* No regression/changes in SDK based projects. That means in sdk based projects we default to OutputPath, the same way we always have.
* In non-SDK based projects, we can add a default that goes to $(BaseOutputPath)$(ConfiguratioN) to avoid putting the nupkg in platform specific folders.
* Avoid using both Platform and RuntimeIdentifie

[2020-03-28 01:51] #9308 closed, assigned to nkolev92

[2020-03-28 01:52] #9162 closed, assigned to nkolev92

[2020-03-28 01:53] nkolev92 commented on #9295
Fixed in https://github.com/NuGet/NuGet.Client/commit/69276891c4a2e391b3711c6b7d5276886a5d857b

[2020-03-28 01:53] #9295 closed, assigned to nkolev92

[2020-03-28 01:58] Nirmal4G commented on #9234
In SDK projects, single-targeting will put the output nupkg to `bin\<platform>\Debug\<tfm>\<rid>\*.nupkg` when we remove the property in the SDK targets.

**Are you sure that's what we want**?

The `BaseOutputPath` will unify package output into single directory on both sdk (both outer/inner builds) and non-sdk projects.

We can do the `BaseOutputPath` changes along with MSBuild's Common targets'

[2020-03-28 02:00] chgill-MSFT opened #9353 "Guidance for lifting transitive dependency versions to avoid vulnerabilties"
If I finds that some transitive dependencies have vulnerabilities, the easiest solution is to lift the version of the transitive dependency to a version that doesn't have a vulnerability by directly depending on that dependency.

For example, if:
MyProject --> Package A 1.0.0 --> Package B 1.0.0

Package B 1.0.0 has a vulnerability, but Package B 1.1.0 doesn't. I can "lift" Package B's version to

[2020-03-28 02:12] nkolev92 commented on #9234
I screwed up something in my test for SDK based projects.
Let's just do BaseOutputPath and configuration for both.

[2020-03-28 02:19] Nirmal4G commented on #9234
It's practically done. Let me know if there are any issues with the tests. I have yet to add framework pack tests too but that depends on changes from MSBuild common targets.

I have asked MSBuild team on `BaseOutputPath` in common targets.

[2020-03-28 02:23] nkolev92 commented on #9234
I posted a comment on the PR to clean up a thing or two.

Because the pack targets are installed and used with both newer and older VS versions, we can consider a different default for non-SDK based projects.
We are really only trying to improve things there.

Sorry it took us a while to fully understand to what you were proposing.
The inconsistency throughout the targets got me so many times whil

[2020-03-28 02:33] Nirmal4G commented on #9234
I have updated the repro projects link: https://github.com/NuGet/Home/issues/9234#issuecomment-604731414

VS team can update pack targets in the next revision, right?

If we're back porting changes just to have the default, we can set `OutputPath` for older versions. but this also depends on the answer from MSBuild team. If they too are back-porting `BaseOutputPath` to older versions then we can j

[2020-03-28 05:04] zivkan commented on #9253
Is there a specific question?

Each of our official builds gets [published to the .NET Build Asset Registry (BAR)](https://github.com/NuGet/NuGet.Client/blob/69276891c4a2e391b3711c6b7d5276886a5d857b/build/vsts_build.yaml#L524-L533).

Insertion into the .NET SDK means that we [promote our build into a .NET channel](https://github.com/dotnet/arcade/blob/master/Documentation/BranchesChannelsAndSubscr

[2020-03-28 11:47] ViktorHofer opened #9354 "ProjectReferences clashing with PackageReference in multi-targeting project restore"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

NuGet version (x.x.x.xxx): 5.6.0-preview.2.6508

dotnet.exe --version (if appropriate): `5.0.100-preview.3.20170.6`

OS version (i.e. win10 v1607 (14393.321)): ` 10.0.19587`

### Error

[code]

### Sample Project

[code]
from: https://github.com/dotnet/runtime/pull/33553

#### Steps

[2020-03-28 14:33] maxcherednik commented on #6213
Still does not work for me.

[2020-03-28 15:59] Xeinaemm opened #9355 "[Question][MSBuild] Determine circular dependency before Exception"
Hey,

It's possible to detect circular dependency before [FindFirstCircularDependency](https://github.com/NuGet/NuGet.Client/blob/3803820961f4d61c06d07b179dab1d0439ec0d91/src/NuGet.Core/NuGet.Resolver/PackageResolver.cs#L190) will be checked? Ideally in MSBuild and using NuGet.targets?

I'm creating bundling packages that contain contracts/endpoints for all systems and I know that bundled package

[2020-03-28 16:52] ViktorHofer commented on #9354
cc @jeffkl.

Probably connected to what @nkolev92 mentioned [here](https://github.com/NuGet/Home/issues/8213#issuecomment-502787749):

[2020-03-28 19:29] ganeshgk commented on #5980
@prisar running
nuget config Set http_proxy.password="plaintextpass"
Will encrypt password in your Nuget.Config

[2020-03-28 19:31] ganeshgk commented on #5980
@PatoBeltran I tried with both http & Https & still have the same issue, with proxy authentication on CentOS. Any solution?

[2020-03-28 19:50] ganeshgk commented on #6978
@tebeco  any clue / solution to get this working on CentOS, tried all the above methods. Setting DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER to zero gives authentication required. Unsetting gives an error related to GSSAPI error. Going crazy over this. Both dotnet 2.2 & 3 have the same error

[2020-03-28 20:08] tebeco commented on #6978
I'm not surprised, on windows disabling this one could help re-enable the `WinHttpSockerHandler` (can't remember the real name) that could (in `netfx`) handle Authentication based on the user logged in.

I'll be honest i have no idea what it is and that it existed.

To be fair, i found literally no clean solution if the proxy is an explicit proxy.
The only way we had it working was to create an on

[2020-03-28 22:04] conioh commented on #6674
Ola?

[2020-03-29 19:07] prisar commented on #5980
@ganeshgk encode the password into base64 string

[2020-03-29 19:10] ganeshgk commented on #5980
Yes it was a reply for this. @prisar

[2020-03-29 22:37] bo-tu opened #9356 "NuGet.exe 5.x on machines that don't have .NET runtime version 4.7.2 installed"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx):  5.5.0

dotnet.exe --version (if appropriate):

VS version (if appropriate):  MS BuildTools 2017

OS version (i.e. win10 v1607 (14393.321)):  windows server 2012

Worked before? If so, with which NuGet

[2020-03-30 01:43] mdell-seradex commented on #9316
It is the same for ASP.Net projects.  I assume that is how they intended it.

[2020-03-30 02:10] mdell-seradex commented on #5488
When will migration support C++ and/or ASP.NET Projects?

[2020-03-30 10:58] frankkilcommins commented on #9034
@wli3 Today related to other issues, I switched to use version 2 of task `Use .NET Core` to installing .net core sdk version and the dotnet pack tasks started outputting to the relative paths correctly. Not sure if related but seems to consistently impact if I switch to and from `Use .NET Core` v0.* and v2 task versions

[2020-03-30 13:20] wouterroos opened #9357 "Add error code to IsPackableFalseWarningTask.cs so it can be suppressed by MSBuild"
Hi,

When packing a solution that has an ASP.NET Core project that has `<IsPackable>` set to `false` the `IsPackableFalseWarningTask` will throw a warning. However, this warning doesn't have an error code so it seems impossible to suppress it. Am I missing something or can this be added?

Regards,

Wouter

[2020-03-30 16:24] rrelyea commented on #9344
@dominoFire @karann-msft - you folks should understand this idea and see if it fits well
/c: @agr @aortiz-msft

[2020-03-30 16:33] rrelyea commented on #9346
@rchouser has moved to the latest generation of auth plugins and nuget.exe. Still has a problem.
he has also turned on logging for auth (plugin diagnostic logging - https://github.com/NuGet/Home/wiki/Plugin-Diagnostic-Logging)

@nkolev92 said I looked at the logs and they don’t indicate any problem whatsoever.
Unfortunately I’m not an expert in the Azure DevOps tasks, but what you have done seems

[2020-03-30 16:37] sbanni opened #9358 "Add Packaging Project to SupportedProjectTypes"
Need to add ProjectTypeGuid for Packaging Project (C7167F0D-BC9F-4E6E-AFE1-012C56B48DB5) to: https://github.com/NuGet/NuGet.Client/blob/3803820961f4d61c06d07b179dab1d0439ec0d91/src/NuGet.Clients/NuGet.VisualStudio.Common/SupportedProjectTypes.cs

Ideally, this would be a Project System Capability check instead of a hard coded list.

[2020-03-30 16:42] rrelyea commented on #9354
@ViktorHofer  - steps aren't correct. line 2 fails without a cd into runtime dir. then 3rd line needs runtime removed, and the last directory doesn't exist on my machine.
so i'm not really confident with the last command.
can you clean that up, so we are chasing the right thing?

[2020-03-30 16:45] rrelyea commented on #9356
@jeffkl - related to your change?
Does it not work well on older .NET Framework, where it worked fine with 5.4.0?

[2020-03-30 17:10] rrelyea commented on #9357
Repo steps:

[code]

Error is raised here:
https://github.com/NuGet/NuGet.Client/blob/3803820961f4d61c06d07b179dab1d0439ec0d91/src/NuGet.Core/NuGet.Build.Tasks.Pack/IsPackableFalseWarningTask.cs

Previous improvement of wording:
https://github.com/NuGet/NuGet.Client/pull/2809

Unsure why web projects have WarnOnPackingNonPackableProject turned on.

Workaround: set WarnOnPackingNonPackableProject t

[2020-03-30 17:13] rrelyea commented on #9358
@aortiz-msft - @sbanni works on xaml team next door. Important small request.

[2020-03-30 17:39] heng-liu commented on #9285
Fixed https://github.com/NuGet/Home/issues/9339, closed as fixed.

[2020-03-30 17:39] #9285 closed, assigned to heng-liu

[2020-03-30 17:40] joelverhagen opened #9359 "Version range 1.2* normalizes to the same thing as 1.* but they are different"
## Details about Problem

NuGet product used: NuGet.Versioning
NuGet version: 5.4.0
Worked before? No, don't think so.

## Detailed repro steps so we can see the same problem

1. Plug `1.2*` into `VersionRange.Parse`
1. Plug `1.*` into `VersionRange.Parse`
1. Compare the behavior on a set of version ranges.
1. Compare the normalized version range string.

Example: [`1.2*`](https://nugettoolsdev.az

[2020-03-30 17:45] madelson commented on #9332
@rrelyea are you still waiting for anything from me?

[2020-03-30 17:46] jeffkl commented on #9356
I don’t think it has to do with my change. ValueTuple has been around a long time

https://apisof.net/catalog/System.ValueTuple%3CT1,T2,T3%3E

[2020-03-30 18:25] mazlov1989 opened #9360 "StockSharp 5.0.0 не доступен для скачивания через Nuget"

[2020-03-30 18:32] rrelyea commented on #9346
Answer from Azure Artifacts team:
This seems like a disconnect between two ways of consuming nuget.
A – use nuget authenticate and script your call to nuget.exe. This flow is documented here: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-devops
B – use the nuget command (heavyweight tasks). This flow is documented here: https://docs.microsoft.c

[2020-03-30 18:32] #9346 closed, assigned to nobody

[2020-03-30 18:43] rrelyea commented on #9356
Jeff's pointer said ValueTuple is in .net framework 4.7 and later.

According to: https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/versions-and-dependencies
Server2012 has .NET Framework 4.5 by default... and later versions are installable.

If this is the problem (running nuget.exe on .net 4.5), should nuget.exe complain that it needs a newer framework version.

[2020-03-30 19:07] rrelyea commented on #9332
Here are my attempted repro steps:

[2020-03-30 19:09] JosepBalague opened #9361 "csproj: how to pack at build platform-specific native assemblies"
Microsoft Windows [Version 10.0.18363.720]
VS 2019 16.5.1

Hi,

I created a netstandard 2.0 project with this structure:

![imatge](https://user-images.githubusercontent.com/4932314/77951807-eb02a200-72ca-11ea-88e6-c2cc44aafff9.png)

When I consume it in an Console Core 3.1 x86 project, output bin has this structure:

\bin\x86\Debug\netcoreapp3.1\runtimes\ plus all content of above solution blue s

[2020-03-30 19:19] heng-liu commented on #9360
Hi, thanks for reporting this issue.
Are you referring to [StockSharp package](https://www.nuget.org/packages/StockSharp/) from source NuGet.org? If so, I can only see the highest available version is 4.4.16

[2020-03-30 19:28] mazlov1989 commented on #9360
Но в NuGet.org версия 4.4.16 указана как устаревшая. К тому же в релизе на GitHub последней версией числится 5.0.0

[2020-03-30 19:31] rrelyea commented on #9332
@madelson  - please try these steps. Seems like everything is working fine to me.

the first execution of nuget.exe with lockedmode, showed a message that sounded more verbose that you said:

Then running -forceevaluate afterwards fixed the lock files. then the last exection w/ lockedmode worked fine.

do i have something in the steps wrong?
have things gotten better with the latest versions?

Tha

[2020-03-30 19:54] bo-tu commented on #9356
1. We have multiple  .NET Frameworks installed on the windows 2012 server,  please refer this attachment.
<img width="1002" alt="Screen Shot 2020-03-31 at 8 49 29 AM" src="https://user-images.githubusercontent.com/29054217/77955472-bfb09f00-732c-11ea-849a-4cbd45fbdd02.png">

2.  Also,  I attached my build step in TeamCity.  Sorry that I'm not sure which .NET Framework is used by nuget.exe.  I just

[2020-03-30 20:08] rrelyea commented on #9356
@bo-tu - .net framework targetting packs are used during compilation. I'm asking about the .net framework runtime version installed on your CI. See https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/how-to-determine-which-versions-are-installed for details on how to determine which version is installed on that machine.
can you please determine that?

[2020-03-30 20:14] nkolev92 commented on #9234
Not sure what you by vs team, but NuGet owns these experiences.

I don't think there'll be any servicing...the need is not there.
So for old style csproj we should do something that works today.

[2020-03-30 20:33] #5881 closed, assigned to nobody

[2020-03-30 20:33] aortiz-msft commented on #5881
Issue moved to [NuGet/docs.microsoft.com-nuget #1974](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1974) via [**ZenHub**](https://www.zenhub.com/)

[2020-03-30 20:55] aortiz-msft commented on #7016
@zhili1208 - Hi Zhi, would you please provide detailed repro steps for this issue? It sounds like a dupe of https://github.com/NuGet/Home/issues/5154, but we don't have enough information to confirm.

[2020-03-30 21:37] heng-liu commented on #9360
So are you using Github as the source? If so, could you follow the instructions as follows?
https://help.github.com/en/packages/using-github-packages-with-your-projects-ecosystem/configuring-dotnet-cli-for-use-with-github-packages#authenticating-to-github-packages

https://help.github.com/en/packages/using-github-packages-with-your-projects-ecosystem/configuring-dotnet-cli-for-use-with-github-pack

[2020-03-30 22:40] nkolev92 opened #9362 "Write to the Package Manager output in VS OE scenarios"
In on-build restore scenarios, NuGet usually writes to the build output window.
In Online Environments we can't do that yet, so as a workaround until we have the ability to do it, we will write to the same output window as auto-restore and explicit restore.

Specifically this is a workaround until https://github.com/NuGet/Home/issues/9270 is unblocked.

[2020-03-30 22:46] nkolev92 opened #9363 "online environment"

[2020-03-30 22:46] #9363 closed, assigned to nobody

[2020-03-31 03:17] lanyizi opened #9364 "Nuget does not add files to SDK-style project"
## Details about Problem

NuGet product used: Visual Studio UI

NuGet version: 5.4.0

dotnet.exe --version: 3.1.101

VS version: VS Community 2019 - 16.4.6

OS version: Windows 10 1909 18363.720

## Detailed repro steps so we can see the same problem

1. This package: https://www.nuget.org/packages/WPFThemes.DarkBlend/1.0.8/
(https://github.com/DanPristupov/WpfExpressionBlendTheme) should be suppo

[2020-03-31 06:56] strizzwald commented on #9020
I've got the same issue with 63 packages referenced, using  `mcr.microsoft.com/dotnet/core/sdk:3.1`. Adding `nuget.config` didn't resolve the issue for me.

[2020-03-31 07:15] rsmartapps commented on #2880
@VSG24 Thanks a ton! Removing .nuget from my profile (C:\Users\<username>\.nuget) worked like a charm!

[2020-03-31 11:04] Nirmal4G commented on #9234
I suppose, we could wait for microsoft/msbuild#1664. I'll open a PR there when they approve of adding the `BaseOutputPath` in the common targets.

If it's urgent, I'll open a separate PR for using `OutputPath` as a default. Is that ok?

[2020-03-31 11:43] fowl2 opened #9365 "NuGet.exe suggests incorrect argument form "--force-evaluate" (should be "-ForceEvaluate") for NU1004"
Looks like the help/error message is getting confused with the "dotnet restore" version of the argument.

## Repro Steps

`> nuget.exe restore`

Ok sure, let's try.
[code]

NuGet Version: 5.5.0
Platform: Windows 10 x64 10.0.17763.1098

[2020-03-31 12:15] fowl2 commented on #9180
The `NuGet.exe `help text` is:

Which at least mentions "machine", which I guess is different from that `%USERPROFILE\.nuget` which would be the "user cache"?

Whereas `dotnet restore`s says:

Which very very strongly suggests that it will download them all from the feed. Try`-DirectDownload` - still no direct downloads.

(there doesn't seem to be a PowerShell version of this argument?)

One scena

[2020-03-31 12:41] anangaur opened #9366 "Improve inner-loop testing for packages"
Its difficult for package authors to test their package while in development. Some context: https://twitter.com/khellang/status/1244892768717209600
![image](https://user-images.githubusercontent.com/14800916/78027440-fdd4af80-737a-11ea-86d3-1054587e5119.png)

Related issue, that was closed: #1821

Lets discuss possible (current/future) solutions, here.

[2020-03-31 12:46] anangaur commented on #9366
/cc: @nkolev92 @rrelyea fro NuGet
@khellang, @joacar from twitter thread

[2020-03-31 14:15] joacar commented on #9366
I'm working on a NuGet packages that integrates with MSBuild by having `.targets` file in `build/` directory. This use case isn't covered by adding library under test the project reference way since the files won't be picked up by VS (latest 16.5). I'll outline the steps I've done to make it work

1. Add `nuget.config` to sample project (project used to test NuGet) and add directory where artifact

[2020-03-31 14:56] lawsonAGMT commented on #8646
Same issue

[2020-03-31 16:43] MatthieuHernandez commented on #6404
@hisuwh @bradsa Yes it helps me, I did the mistake. Thank you.

[2020-03-31 17:34] #9322 closed, assigned to rrelyea

[2020-03-31 17:43] WillAutioItrax opened #9367 "NuGet Migration for package.config to PackageReference does half the job and then dies."
Remove the content above here and fill out details below.

## Details about Problem
I am trying to do a NuGet Migration for package.config to PackageReference in VS 2019 using Xamarin Forms. The process unloads all the packages for Droid and then stops. It leaves my project with no links for nugets and no entries using PackageReference in Droid.csproj. This is for our app that has about 100 Nugets

[2020-03-31 17:57] MatthieuHernandez commented on #8086
I seem to have the same problem with my, *.nuspec.

[code]

[2020-03-31 17:57] nkolev92 commented on #9234
If you want to keep the changes isolated, let's reopen #9231 and handle that in a different PR.
I am ok with doing both in the current PR though. I think both changes need to go in the same release.

[2020-03-31 18:03] nkolev92 commented on #9366
Hey all, this ask is a duplicate of https://github.com/NuGet/Home/issues/6579.

Clearing the individual packages in the global packages folder is the best thing we have today.

An idea would be to provide some metadata on a package that we can put in a separate directory, but that mgiht get tricky from a perf perspective.

[2020-03-31 18:03] #9366 closed, assigned to nobody

[2020-03-31 18:08] nkolev92 commented on #6579
@joacar Trying to continue the discussion from https://github.com/NuGet/Home/issues/9366, here.

Would an explicit gesture to update a package that's in active development be satisfactory?
What about its dependencies? How often do you test packages with many local dependencies?

[2020-03-31 18:09] MatthieuHernandez opened #9368 "copyToOutput option of contentFiles inside nuspec seems seems not work"
I seem to have the a problem with my, *.nuspec because when I build and use my package I see my files in the contentFiles directory but there are not copy in the bin/x64/Release directory in the project witch use the package. The files are just copied in the project directory (not in bin).
Did I miss something ?

NuGet product used: NuGet.exe
NuGet version: 5.4.0.6315
dotnet.exe: .NET Framework 4.

[2020-03-31 18:14] khellang commented on #9366
This issue just keeps coming up, spread all over the place. Here's a thread (with a myriad of links) on this very topic going back years; https://github.com/dotnet/sdk/issues/1151. And here's a year-old thread from Twitter with a *bunch* of comments and feedback; https://twitter.com/natemcmaster/status/1099021447920406529.

[2020-03-31 18:15] khellang commented on #6579
This issue just keeps coming up, spread all over the place. Here's a thread (with a myriad of links) on this very topic going back years; https://github.com/dotnet/sdk/issues/1151. And here's a year-old thread from Twitter with a bunch of comments and feedback; https://twitter.com/natemcmaster/status/1099021447920406529.

[2020-03-31 18:17] khellang commented on #6579
What would that look like? Sounds like what you could do today by pointing a local NuGet feed to the bin folder of a project and manually updating version numbers and build packages.

I would say it's pretty common to have at least a few dependencies, at least in the cases I've needed it.

[2020-03-31 18:36] nkolev92 commented on #9270
Moving this out of the current milestone.
Something to consider in the future.

[2020-03-31 18:51] nkolev92 commented on #6579
Thanks for the links. @khellang

An idea would be to mark a package with certain metadata and then we can maybe overload previous gestures like `-force` and rebuild in VS.

Given that restore runs on every build, it'd be unperformant to check if the packages are up to date.

So a solution would require the user saying something like "I changed the package".

The Package/Project Reference is certai

[2020-03-31 19:01] nkolev92 commented on #8673
Moving #9270 out of this epic.

This epic is the one targeting build.

[2020-03-31 19:21] joacar commented on #6579
Don't know that much of the inner details of the NuGet magic, but here's an idea.

Extend child element of `<packageSource>` in `nuget.config` with additional attribute `development="true"` to indicate that a path have special meaning. The presence of this attribute signals to NuGet. upon probing sources for package to install, two things:
1. The found package must not be added to the cache (globa

[2020-03-31 19:54] rrelyea commented on #9146
I replied offline pointing to a new issue tracking this.

[2020-03-31 20:00] dominoFire commented on #9250
I will use this issue as an Epic to track all efforts to enable this scenario in NuGet PM UI and Azure DevOps

[2020-03-31 21:41] jessehouwing opened #9369 "Create a x86+x64 .NET 4.6+Native nuget library and it's driving me NUTS"
# Details about Problem
I've been trying to craft a nuspec file (to be used with nuget.exe pack) to create a nupack that has the following elements:

 * a 32-bit native library (must be part of project output for x86)
 * a 64-bit native library (must be part of project output for x64)
 * a 32-bit managed assembly (must be part of project output for x86)
 * a 64-bit managed assembly (must be part o

[2020-03-31 21:43] jessehouwing commented on #9369
Or should the guidance here really be: create 2 nuget packages.

 1. x86
 2. x64

[2020-03-31 22:05] Deepscorn commented on #4476
There should be a way to clean. While I see removing project.assets.json is not recommended (see https://github.com/NuGet/Home/issues/7368#issuecomment-457411014), there should be a supported way to clean every cache, so I launch like on clean environment.

PS My team is experiencing https://github.com/NuGet/Home/issues/7368 because of switching git branches so that dotnet & TargetFramework versio

[2020-04-01 01:39] cristinamanum opened #9370 "[LockFile] Lock file validation should fail on Version update or on Restore data inconsistency"
## Details about Problem

There is a difference between the lock file invalidation of PR and PC projects.
A lock file contains the description of packages that a project was restored with. In addition it contains metadata as a Version, type of the Dependency etc.

For PC the version is used for invalidation of the lock file for PR it is not.

The issue is to make an explicit decision if

- the ver

[2020-04-01 07:05] sgf opened #9371 "add language Category filter support to nuget ?"
when we search some keyword in nuget,we always got some C# package.
but maybe we are searching native or other languages(C++....)
pls give peoples a Options for filtering language. thanks

[2020-04-01 08:45] f1nalspace commented on #9368
I have the exact same problem. No content files are copied to the build path of my application!
The resulting nuget package is valid and all files and folders are in the correct place.
Even the extracted nuget package in the .nuget folder looks correct, but for some reason it wont copy any files after build. I tried changing all the attributes in the <files> tag, but had no luck.

Tools i am using

[2020-04-01 10:02] hisuwh commented on #6404
@MatthieuHernandez glad its not just me

[2020-04-01 10:53] Deepscorn opened #9372 "dotnet build fails due to obj/project.assets.json not refreshed in certain case"
## Details about Problem

NuGet product used dotnet.exe

NuGet version 5.5.0.4

dotnet.exe --version 3.1.200 & 3.0.100

OS version win10 & macOSX catalina

## Detailed repro steps so we can see the same problem

1. Create console .net core project (TargetFramework netcoreapp3.1, will call it "edart") with 2 dependencies:
TargetFramework netcoreapp3.0 ("dart")
TargetFramework netstandard2.0 ("nub")

[2020-04-01 11:03] Deepscorn commented on #9372
Attaching the project with repro.
With this you can simply reproduce.

1. Open following files in you lovely text editor:
gist\dart\dotnet.version
gist\dart\dart.csproj
Toolset\edart\edart.csproj
With those you can set versions.

2. Set versions as follows:
dotnet dart edart
3.1.200 3.0 3.1

perform build. By the way you can do that simply with:
dart.bat / dart.sh
It's our tool, which downloads do

[2020-04-01 12:10] Deepscorn commented on #9372
May be related:
https://github.com/dotnet/project-system/issues/3164
https://github.com/NuGet/Home/issues/7368

[2020-04-01 14:46] tompazourek opened #9373 "NU5123 (possibly other warnings) are not treated correctly with TreatWarningsAsErrors"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): **The "Pack" target from Microsoft.NET.Sdk** (dotnet\sdk\3.1.200\Sdks\NuGet.Build.Tasks.Pack)

NuGet version (x.x.x.xxx): **5.5.0-rtm.6473+4ba7bfa82f894ec32a554ca8d2df143675c85735.4ba7bfa82f894ec32a554ca8d2df143675c85735**

dotnet.exe --version (if appropriate): **3.1.200**

VS version (if appr

[2020-04-01 15:04] clairernovotny opened #9374 "dotnet pack with NuSpec removes repository element"
## Details about Problem

dotnet pack with a supplied NuSpec that contains a parameterized repository element strips the repository element from the generated nupkg. Same NuSpec with NuGet.exe pack works.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
dotnet.exe 5.x (all versions)
NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate):

VS version (if ap

[2020-04-01 15:16] madaleno commented on #6795
It would be nice that the error message mentions the duplicate package that NuGet found.
In big solutions it's hard to find what that duplicate package is.

[2020-04-01 16:12] stevenbrix opened #9375 "Allow for a "Debug" or "Developer" mode of package"
Many times when dealing with local Nugets, it can be very easy to be in a state where someone tries to build your project, only to have different behavior, only to realize later that it's because the nuget was already restored and that's why behavior is different. It would be great if there was a concept of a "Debug" or "Developer" mode package that would always restore so that you know it's up to

[2020-04-01 16:26] rainersigwald opened #9376 "Runtime only ProjectReference support for PackageReference based projects"
_From @elangelo on Wednesday, April 1, 2020 7:12:13 AM_

### Steps to reproduce

Either include a project sample, attach a zipped project, or provide IDE / CLI steps to create the project and repro the behaviour. Example of a project sample:

Attached zip file
[Solution.zip](https://github.com/microsoft/msbuild/files/4413317/Solution.zip)

Directory contents:
[code]

Command line
[code]
### Expect

[2020-04-01 16:28] rainersigwald opened #9377 "GeneratePackageOnBuild generates invalid package for WinForms control library"
_From @lextm on Saturday, March 28, 2020 5:43:13 PM_

Not sure if this is an MSBuild or NuGet issue, so post it here first.

### Steps to reproduce

I was trying to build NuGet packages for an open source project. The goal is to compile a WinForms control (DockPanel Suite) for three platforms, .NET Core 3.1, .NET Framework 4.0 and 3.5.

So the main project can be found here,

https://github.com/do

[2020-04-01 17:07] JB101UK commented on #8580
I've been attempting to upload dotnet nupkgs to GitHub packageds. I've followed all of the troubleshooting advice, I've got my tokens, my repository url set, my nget.config file configured, but I find that both pushing/pulling packages is relatively intermittent. Sometimes it just works - other times I get the following error:

`Pushing <packageName> to "http://nuget.pkg.github.com/<Owner>
PUT htt

[2020-04-01 17:13] Dids commented on #8580
The method above shouldn't be failing, but all the other methods did fail for me, most of the time at least.

[2020-04-01 17:20] aortiz-msft commented on #1827
Sorry to hear that this continues to be an issue for folks. We tried this on 16.6 Preview 1 and weren't able to reproduce the problem. These are the steps that we followed:
1.	Launch VS and create a solution with multiple projects (e.g. ASP.NET Web Application (.NET Framework)).
2.	Right click on the solution and choose “Manage NuGet Packages for Solution…”
3.	Go to “Updates” tab (make sure there

[2020-04-01 17:21] nkolev92 commented on #7968
See related https://github.com/dotnet/arcade/pull/5172

[2020-04-01 18:42] bgiromini commented on #1827
The issue is specifically with packages sourced from an Azure Dev Ops Nuget feed, not general nuget.org packages.

[2020-04-01 18:59] syakimchik opened #9378 "Issue with load list of package versions (nuget list [search terms] [options])"
When I call:
`nuget list [search terms] [options]`
for example:
`nuget list Xamarin.Android.Arch.Core.Common`
I expect, as descripted in documentation, that this command will return a list of versions for current package. But instead of this, the command is loaded all packages with latest versions. It takes a lot of time.
As I remember, previous version was loaded only list of versions available f

[2020-04-01 19:44] rrelyea opened #9379 "add a local tools manifest with t4 configured and run dotnet tool restore as part of configure.ps1"
from feedback during this PR: https://github.com/NuGet/NuGet.Client/pull/3253#discussion_r401186216

[2020-04-01 20:18] egavrilenko opened #9380 ""update" command breaks conditional markup in csproj"
## Details about Problem

NuGet product used: NuGet.exe | VS UI | Package Manager Console

NuGet version (x.x.x.xxx): all versions

VS version (if appropriate): 2017, 2019

OS version (i.e. win10 v1607 (14393.321)): any

Worked before? If so, with which NuGet version: no. never

## Detailed repro steps so we can see the same problem

1. create csproj with condition for reference package

[code]

2

[2020-04-01 21:27] nkolev92 opened #9381 "WorkspaceCommandHandler.Exec should return unsupported"
Specifically the bug is here:

https://github.com/NuGet/NuGet.Client/blob/9d97fbb3e401ba99fb67f2165d8045ca850a1524/src/NuGet.Clients/NuGet.VisualStudio.OnlineEnvironment.Client/SolutionExplorer/NuGetWorkspaceCommandHandler.cs#L57

We should return `Microsoft.VisualStudio.OLE.Interop.Constants.OLECMDERR_E_NOTSUPPORTED`

[2020-04-01 22:44] zivkan commented on #8580
@JB101UK [GitHub's current docs](https://help.github.com/en/packages/using-github-packages-with-your-projects-ecosystem/configuring-dotnet-cli-for-use-with-github-packages) use `https://nuget.pkg.github.com/OWNER/index.json` as the example. Make sure you use the trailing `/index.json` for best luck.

[2020-04-01 23:11] #9362 closed, assigned to nkolev92

[2020-04-01 23:34] abkonsta commented on #5764
my nuget NLog.Extensions.RabbitMQ has the following in the nuspec

[code]

However I am seeing this message:

[code]

I see that a few people above have reported a similar issue. Why this this a warning if 12.0.1 perfectly matches 12.* ?

[2020-04-01 23:45] zivkan commented on #1827
@bgiromini the scenario you described sounds like a duplicate of https://github.com/NuGet/Home/issues/3116. If this whole issue is about the same scenario, packages not downloadable for about 30 minutes after publishing to a feed, then one of the two issues can be closed as a duplicate.

[2020-04-01 23:55] nkolev92 opened #9383 "RestoreNetCore_MultipleProjects_SameTool_OverlappingVersionRanges_DoesNoOpAsync is flaky"

[2020-04-02 00:00] #9381 closed, assigned to nkolev92

[2020-04-02 00:31] raleighbuckner commented on #3891
@teroneko - We're running into exactly this issue in a project and are trying to find a way to add these dependencies automatically rather than having to remember to add them manually. Any thoughts on how to do that easily?

[2020-04-02 01:50] cristinamanum opened #9384 "[CPVM] Error on floating transitive dependencies defined in Directory.Packages.props"
## Details about Problem

Discuss the behavior for transitive dependencies when defined with floating versions.

- Allowed/Not allowed
- If they are not allowed what is the desired behavior

[2020-04-02 03:28] davidfowl commented on #5764
Your NuGet package should have floated to get a specific version then that version should have beeen burnt into the nuspec.  Don’t put floating versions in the nuspec because it doesn’t mean anything

[2020-04-02 03:34] nzbart commented on #5764
@davidfowl I don't recall encountering this problem in any of the other package managers that I've used for various languages. So long as there is a package available that fits within the specified version range, other package managers are happy.

Is NuGet unique in having this restriction/philosophy? Why?

[2020-04-02 03:56] davidfowl commented on #5764
NuGet doesn’t work like lots of other package managers (though it does like the java ones). You may bee familiar npm which prefers the highest version of a dependency by default and it’s up tothe package author to clamp versions down. Works fine for dynamic languages where everything is a runtime breaking change, not so great in a statically types ecosystem which needs binary compatibility to func

[2020-04-02 06:14] shaunsales commented on #9020
Same issue here at 70 package references. I hope this gets some attention, it's slowing down our build & run iteration time in VS quite a bit.

I've tested on a 10Mbps connection vs 1Gbps connection and it seems bandwidth related - i.e. NuGet tries to connect, times out too quickly and then fails with the error above.

[2020-04-02 08:20] obeyda commented on #9020
can't we control the max number of concurrent connections? since `--disable-parallel` solves the issue (at least for me, but it takes a long time as i said)

[2020-04-02 08:50] Deepscorn commented on #9372
Note:
This does not reproduce when you change versions smoothly:
clean both caches (nuget packages & bin & obj)
			dotnet dart edart
			3.0 3.0 3.0 ok
			3.1 3.0 3.0 ok
			3.1 3.0 3.1 ok,
			3.1 3.1 3.1 ok
			(going back)
			3.1 3.0 3.1 ok
			3.1 3.0 3.0 ok
			3.0 3.0 3.0 ok

And if you change versions no smoothly, here comes the error again:
			3.1 3.0 3.1 ok
			3.0 3.0 3.0 fail error NETSDK1005:

[2020-04-02 14:48] jmroyb commented on #9361
Any update?

[2020-04-02 18:03] #9174 closed, assigned to nobody

[2020-04-02 18:03] aortiz-msft commented on #9174
Issue moved to [NuGet/docs.microsoft.com-nuget #1980](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1980) via [**ZenHub**](https://www.zenhub.com/)

[2020-04-02 18:56] glopesdev commented on #4693
Any progress on this? I started to update a VSIX project from using `packages.config` to `PackageReference` and hit this exact same issue. At this point I'm taking the approach to just specify `PackageReferences` directly into the project template and just let the user find a way to resolve the dependencies. However, the biggest issue is the user may not know how to setup his own package sources c

[2020-04-02 20:06] heng-liu commented on #8929
I tried to repro for about 10 times but could not repro it.

[2020-04-02 20:09] heng-liu commented on #8928
It doesn't repro on ASP.NET .netcore. Only repro for ASP.NET .netframework.
And after clicking restart in PMC for two times, it goes back to normal. So it doesn't affect any operation after it.

[2020-04-02 21:33] #8673 closed, assigned to nkolev92

[2020-04-02 22:17] aortiz-msft commented on #7213
Duplicate of https://github.com/NuGet/Home/issues/5525.

[2020-04-02 22:17] #7213 closed, assigned to nobody

[2020-04-02 22:17] aortiz-msft commented on #5525
https://github.com/NuGet/Home/issues/7213 closed as duplicate of this issue.

[2020-04-02 22:28] aortiz-msft commented on #7980
Dupe of https://github.com/NuGet/Home/issues/7839

[2020-04-02 22:28] #7980 closed, assigned to nobody

[2020-04-02 22:28] aortiz-msft commented on #7839
https://github.com/NuGet/Home/issues/7980 closed as dupe of this issue.

[2020-04-02 22:30] #8037 closed, assigned to nkolev92

[2020-04-02 22:43] aortiz-msft commented on #8944
Hi there! We will be closing this issue since we haven't heard back since the last comment from @nkolev92. Please feel free to comment or open a new issue if needed. Thank you for your feedback.

[2020-04-02 22:43] #8944 closed, assigned to nobody

[2020-04-02 23:09] nkolev92 commented on #9038
![Uploading image.png…]()

[2020-04-02 23:09] #9038 closed, assigned to nobody

[2020-04-03 06:38] Whiletru3 commented on #8926
@sbraswell do you targeting .Net core ?

Here is how i got it worked for .net Core :

`<?xml version="1.0"?>
<package  xmlns="http://schemas.microsoft.com/packaging/2013/05/nuspec.xsd">
  <metadata>
    <id>xxx.x64</id>
    <version>15.5.3.3</version>
    <title>xxx toolkit</title>
    <authors>xxx</authors>
    <owners>xxx</owners>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>

[2020-04-03 07:28] v-luzh commented on #3473
It still repro on Master\30001.138 + NuGet Client Dev\5.6.0.6555.

[2020-04-03 12:58] bayramucuncu opened #9385 "Request headers must contain only ASCII characters."
## Details about Problem

NuGet product used (NuGet.exe | dotnet.exe):

NuGet version (5.4.0.2):

dotnet.exe --version (3.1.102):

OS version (Win10 v1903 (18362.720)):

`dotnet nuget delete MyPack 1.0.1 -s https://api.nuget.org/v3/index.json -k apikey`

So when I run dotnet nuget `delete `or `push `command with an **apiKey** that generated `nuget.org`, throws an exception:

In this stuation, I am

[2020-04-03 13:08] bayramucuncu opened #9386 "Nuget acceptance command works wrong!"
NuGet product used (NuGet.exe | dotnet.exe):

NuGet version (5.4.0.2):

dotnet.exe --version (3.1.102):

OS version (Win10 v1903 (18362.720)):

When I run my dotnet nuget command in console like following:

`dotnet nuget delete B3.Extensions.Data 1.0.2 -s https://api.nuget.org/v3/index.json -k apikey`

it asks me if I want to continue.

![e](https://user-images.githubusercontent.com/2901269/783637

[2020-04-03 13:12] elangelo commented on #9376
It would be nice to get some update on this. Is this supposed to work or is this expected behavior? And if it is expected behavior could anyone point me in the direction how i could still resolve this with nuget/msbuild ?

[2020-04-03 13:35] glopesdev opened #9387 "PackageRestore fails on nuget packages included in VSIX installer"
## Details about Problem

Previously it was possible to include NuGet packages locally inside the VSIX installer itself. It seems like this scenario is now broken in a major way. Clearly the generated installers are running and respond to various MSBuild config flags, but it's just not possible to have the VSIX source resolve the NuGet packages unless they come from an external pre-configured pack

[2020-04-03 14:00] elangelo commented on #9376
I actually found why this is not working and created a PR. Hopefully you agree with the reasoning in the fix.
https://github.com/NuGet/NuGet.Client/pull/3329

[2020-04-03 14:12] matkoch opened #9388 "NU5129 doesn't consider upwards directories"
My `/build` directory structure for my project `Nuke.Common` is as follows:

[code]

Even though this doesn't cause any issues in practice, I'm getting the `NU5129` warning:

[code]

So in essence, validation doesn't match actual resolution.

[2020-04-03 14:17] glopesdev commented on #9387
Notice this very important point: everything works as expected _as long as there is a pre-configured package source **or cached package**_ somewhere in the NuGet Package Manager that can resolve the package.

You can really only see the problem if **all** NuGet caches are cleared with `Tools > Options > NuGet Package Manager > Clear All NuGet Cache(s)`, **and** there is **no** Visual Studio config

[2020-04-03 15:10] heng-liu commented on #9360
May I know if your problem is solved? Thanks!

[2020-04-03 17:12] SeanLively commented on #3050
@rrelyea Is the forced SemVer behavior going to be rolled back or not?

[2020-04-03 18:25] dominoFire opened #9389 "Solve more wording isssues"
To have a more concise wording in the whole repo, there are some words in docs and strings that need to be rephrased. This issue track this effort.

[2020-04-03 20:40] donnie-msft opened #9390 "dotnet nuget push globbing works inconsistently across environments"
## Details about Problem
From a Docs issue https://github.com/dotnet/docs/issues/7146

Behavior for `*.nupkg` doesn't work properly in Unix environments. @heng-liu discovered that quotes are required, such as `'*.nupkg'`, in order for push to behave as expected:  https://github.com/dotnet/docs/issues/7146#issuecomment-607566832

@zivkan commented very clearly why this happens (Unix parses the glob

[2020-04-03 20:56] donnie-msft opened #9391 "Docs need to indicate varying behavior for push *.nupkg"
Add a note to the docs page to resolve these comments:

https://github.com/dotnet/docs/issues/7146#issuecomment-607566832
https://github.com/dotnet/docs/issues/7146#issuecomment-608629024

[2020-04-03 21:03] Nirmal4G commented on #9215
Both `netstandard` and `netcoreapp` have dots in them. So we warn for `netcoreapp`, `netstandard` and `net` (>=5.0). We don't need to warn for the rest of them.

[2020-04-03 21:18] nkolev92 commented on #9376
Thanks for creating this issue @elangelo

I have fixed up the title a bit, let me know if you think I'm not capturing your ask correctly :)

[2020-04-03 21:55] juandrn commented on #5350
When Project Of Solution A Refer a Project Of Solution B

I've solve the problem building solution B and then solution A works succefull again

Thanks All.

[2020-04-03 21:56] alex-jitbit opened #9392 "'nuget restore' via CLI does not restore content files"
## nuget restore does not restore content files

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe

NuGet version (x.x.x.xxx): 5.4.0

OS version (i.e. win10 v1607 (14393.321)): Win Server 2019

**This bug ruins CI/CD** because my web project's `/Scripts` folder and similar JavaScript/CSS/images and other static stuff is not being copied during deploy!

[2020-04-03 22:41] StingyJack commented on #3050
Also tagging @aortiz-msft since this item has had a Triage discussion

[2020-04-03 23:07] aortiz-msft commented on #9391
Closing since we want to pursue: https://github.com/NuGet/Home/issues/9390

[2020-04-03 23:14] tmds commented on #5862
@ericstj @eerhardt are there some plans in .NET 5 to improve this?

[2020-04-03 23:15] aortiz-msft opened #9393 "Investigate accessibility bugs reported by users"

[2020-04-03 23:28] debonte opened #9394 "NuGet should support multiple config files in %APPDATA%\NuGet directory"
## Details about Problem
NuGet product used: VS UI
NuGet version: 5.6.0.6489
VS version: 16.7
Worked before?: No

## Detailed repro steps so we can see the same problem
1. Unzip [SomeOther.zip](https://github.com/NuGet/Home/files/4430294/SomeOther.zip)
2. Place SomeOther.config in %APPDATA%\NuGet. This config file declares a single package source named "IssueRepro"
3. Start VS and open/create some

[2020-04-03 23:39] debonte opened #9395 "Add interop API to enumerate fallback folders without requiring a solution/project"
## Environment Details
NuGet product used: VS UI
NuGet version: 5.6.0.6489
VS version: 16.7
Worked before?: No

## Feature Request
NuGet settings can be set in the following locations:
- machine-wide (%ProgramFiles(x86)%\NuGet\Config\\*.config)
- user-specific (%APPDATA%\NuGet\NuGet.config)
- solution-wide

The XAML and WinForms teams need an API to enumerate machine-wide and user-specific fallbac

[2020-04-03 23:39] debonte commented on #9395
@rrelyea @zivkan @aortiz-msft @mgoertz-msft

[2020-04-04 01:05] nkolev92 opened #9396 "Use TaskStatusCenter instead of IVsStatusBar for restore progress reporting in VS"
This API will work the same in both VS & VS.Oe scenarios.

[2020-04-04 13:38] benmccallum commented on #5127
Just ran into this. Publishing a new package, as `1.0.0-alpha.0`, didn't work in VS or cli, so thought, hmm, I'll try `1.0.0-rc1`, nope. This exact error about "all". Cleared nuget package cache, viola. Weird. I'm on latest everything at time of writing.

[2020-04-04 13:57] ebicoglu commented on #7001
**My solution:**

Run the below Powershell script.
It sets all the invalid DLL dates to 01/01/2000.
Change the `path` parameter for your computer.
My GitHub repositories are on my `C` drive so I'm running this `-path C:\`.

[code]

[2020-04-04 15:54] jessehouwing opened #9397 "Feature Request: Match assemblies to nuget packages."
As a devops consultant I'm often brought in to help clients to brush up their old code bases, migrate them to newer technologies, lean out their repositories etc.

In these quests I often stumble upon folders with a gazillion binaries. Worst case randomly thrown together in a big folder. One of my clients has about 1.7GB in external dependencies in their TFVC repo. I'd like to get rid of that as p

[2020-04-05 01:59] heng-liu commented on #9386
Thanks for reporting this issue!
Tried to repro in English, it worked correctly. So it should be a localization issue.
[code]

[2020-04-05 08:19] jmroyb commented on #9361
Can anyone help?

[2020-04-05 13:34] ViktorHofer opened #9398 "UseStaticGraphEvaluation results in item not being expanded inside property"
In dotnet/runtime we use the [property item conversion feature](https://docs.microsoft.com/en-us/visualstudio/msbuild/comparing-properties-and-items?view=vs-2019#conversions-between-strings-and-item-lists): https://github.com/dotnet/runtime/blob/master/src/installer/pkg/projects/Directory.Build.props#L166. When using the new NuGet static graph evaluation mode, that property doesn't get expanded. I

[2020-04-05 16:50] kryptine opened #9399 "Adopt MIT license"
See also https://github.com/dotnet/roslyn/commit/0d04884c243978cdd609e219fdb63cb58ebec69d

[2020-04-05 18:14] JereckNET commented on #5548
Had the same problem today with NuGet version: **5.4.0.6315** and the following in `AssemblyInfo.cs`
[code]

The error message `Description is required.` is completely misleading.

[2020-04-05 18:58] cwilgo commented on #5350
I recently came across Error NU1105 while using JetBrains Rider on Linux. So this involves Mono and the MSBuild version that comes with it.

It turns out this was being caused by my solution files being in a directory that was a symbolic link to another directory. I believe MSBuild was dereferencing the linked directory and instead referencing the source directory. This makes some of the reference

[2020-04-06 16:42] jeffkl commented on #9398
This is by design at the moment, the static graph restore is not executing targets but the normal restore is.  Specifically, this `RuntimeIdentifiers` is actually being evaluated [here](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L706).

[2020-04-06 16:44] ViktorHofer commented on #9398
But that property is set during evaluation outside of a target. Are you saying that the property item conversion is running as part of a target?

[2020-04-06 16:46] cristinamanum opened #9400 "[CPVM] Update the PackCommand_PackProjectWithCentralTransitiveDependencies Directory.Build.props -> Directory.Packages.props when the cli drop version will be updated."
## Details about Problem
The sdk version for the cli that the E2E downloads/use is 3.1.201. It does not contain the latest changes necessary to import the Directory.Packages.props.

Tested the test with 3.1.300-preview-015048 and the test passed.

This issue is a reminder to enable the test when the new cli will be used.

[2020-04-06 16:49] jeffkl commented on #9398
Yeah during top-level evaluation, the property is not fully evaluated:
![image](https://user-images.githubusercontent.com/17556515/78583261-74463700-77eb-11ea-928c-d94212472e13.png)
![image](https://user-images.githubusercontent.com/17556515/78583300-81fbbc80-77eb-11ea-8a16-37f760fdc7b3.png)

But if you run a target, it gets fully evaluated:
![image](https://user-images.githubusercontent.com/17556

[2020-04-06 17:01] timheuer opened #9401 "NuGet Package Manager should filter out types that cannot be installed in project"
When you search for NuGet packages in the NuGet Package Manager UI it will show packages that can't actually be installed in the VS contexts within Visual Studio/VSMac.  For example, "Templates" show up but are not able to be installed/used in VS.

We are not helping customers to success.

![image](https://user-images.githubusercontent.com/4821/78583666-fb93aa80-77eb-11ea-8c21-d5b70e1671b1.png)

[2020-04-06 17:11] ViktorHofer commented on #9398
Hmm that's unfortunate as it means property item conversion isn't supported at all in a restore context. Any idea how to support this scenario Jeff? I suppose we aren't the only ones that use this feature.

[2020-04-06 17:18] jeffkl commented on #9398
Technically some targets are run before the property is read, so you can leverage that:
[code]

[code]

[2020-04-06 17:28] jayasurya-jeyakodi commented on #3891
Can't believe microsoft doesn't have the resources to fix this problem

[2020-04-06 17:42] anangaur commented on #9401
Related issue: #3098

[2020-04-06 19:05] dominoFire commented on #9399
@kryptine Why do you think it's a good idea to adopt MIT license?

[2020-04-06 19:07] nkolev92 commented on #9390
As an FYI, the dotnet CLI preparses the values before forwarding them to the pack task, so worth understanding if the pack task is getting different values based on whether quotes are used or not, https://github.com/dotnet/sdk/blob/master/src/Cli/dotnet/commands/dotnet-pack/PackCommandParser.cs.

[2020-04-06 19:20] dominoFire commented on #9401
Might be related to - #7284

[2020-04-06 19:57] dominoFire commented on #9397
@jessehouwing Are you asking to add a query API in NuGet for Visual Studio?

[2020-04-06 20:10] nkolev92 opened #9402 "The up to date status bar message is not great in VS"
Say you have 15 projects in your solution, and 5 are up to date, the last message in restore would be:

"5 of 15 projects are up-to-date for restore"

This is rather confusing: RE: "5 of 15 projects are up-to-date for restore"

Regressed in https://github.com/NuGet/NuGet.Client/pull/3111

cc @zkat @aortiz-msft

[2020-04-06 20:24] #9401 closed, assigned to nobody

[2020-04-06 20:29] nickdalt opened #9403 "Visual Studio NuGet Does Not Present Login Prompt When Existing Credential Become Invalid"
## Details about Problem

Windows 10 1909
VS version v16.5

Scenario 1

- Using the VS UI
- Access a private NuGet server with valid credentials
- Access is successful
- Change credentials (e.g. password expires)
- Attempt to access repository via VS UI

The expected outcome would be that internally the authentication would fail and VS would present a credentials request to the user. The actual ou

[2020-04-06 20:34] #2302 closed, assigned to nobody

[2020-04-06 20:46] #2740 closed, assigned to nobody

[2020-04-06 20:49] aortiz-msft commented on #2944
Thank you for your feedback. We appreciate you letting us know about the problem. Based on input from the community, this is currently low priority for us. We will look at this again if the issue is upvoted by the community. Also, we recommend moving from packages.config to PackageReference if possible.

[2020-04-06 20:49] #2944 closed, assigned to nobody

[2020-04-06 20:49] nkolev92 commented on #4749
This is outdated by now.
A quick test suggests that this doesn't repo now.
With the lack of additional reports I imagine this is not an issue anymore.

[2020-04-06 20:50] #4749 closed, assigned to nobody

[2020-04-06 20:51] donnie-msft commented on #9275
Closing due to no response. Docs link above should answer the question.

[2020-04-06 20:51] #9275 closed, assigned to nobody

[2020-04-06 20:54] aortiz-msft commented on #3251
Thank you for your feedback. We believe that this is fixed on 16.6 Preview 2 or later. Would you please let us know if you continue having issues with updated repro steps? Thanks!

[2020-04-06 20:54] #3251 closed, assigned to heng-liu

[2020-04-06 21:02] nkolev92 commented on #4765
Closing this as stale.
CPP projects use a different version compared to CS.

[2020-04-06 21:02] #4765 closed, assigned to nobody

[2020-04-06 21:12] nkolev92 commented on #5606
Thank for you reporting this issue.
At this point, the issue has been open for a very long time, and we consider it as stale and closing.
If you are still facing an issue please feel free to open a new one at [NuGet/Home](https://github.com/NuGet/Home/issues/new)

[2020-04-06 21:12] #5606 closed, assigned to nobody

[2020-04-06 21:14] nkolev92 commented on #6079
Fixed internally with wapproj.
Wapproj had authoring problems that have been addressed for the 16.6 release.

[2020-04-06 21:14] #6079 closed, assigned to zivkan

[2020-04-06 21:25] nkolev92 commented on #9273
Hey @lovettchris
Thanks for filing this issue.

We are tracking the overall story in https://github.com/NuGet/Home/issues/6579

[2020-04-06 21:25] #9273 closed, assigned to nobody

[2020-04-06 21:26] nkolev92 commented on #9375
Hey @stevenbrix, thanks for filing this issue.

We are tracking the overall story in #6579

[2020-04-06 21:26] #9375 closed, assigned to nobody

[2020-04-06 21:27] nkolev92 commented on #9373
Hey @tompazourek

Thanks for filing this issue. This is a duplicate of https://github.com/NuGet/Home/issues/7404

[2020-04-06 21:27] #9373 closed, assigned to nobody

[2020-04-06 21:36] nkolev92 commented on #8253
Hey @pascalberger

After further investigation, the repro for this bug seems equivalent to https://github.com/nuget/home/issues/6138, so I am closing this bug as equivalent to that one.

[2020-04-06 21:36] #8253 closed, assigned to nobody

[2020-04-06 21:39] nkolev92 commented on #6693
Thank you filing this issue.

This issue is a duplicate of https://github.com/NuGet/Home/issues/4989.

[2020-04-06 21:39] #6693 closed, assigned to nobody

[2020-04-06 21:50] nkolev92 commented on #7496
Hey @manuelxmarquez

Apologies for the super late replies on this issue.

CPS based projects are expected to work with PackageReference.
The imports in PackageReference are handled through different means, which youcan read about here: https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-
files.
At this point we don't have any plans to support packages.config + CPS

[2020-04-06 21:50] #7496 closed, assigned to nobody

[2020-04-06 22:20] nkolev92 commented on #9153
This is not possible today, you have to handcraft your nuspec.

Duplicate of https://github.com/NuGet/Home/issues/8133

[2020-04-06 22:21] #9153 closed, assigned to nobody

[2020-04-06 22:23] nkolev92 commented on #8133
A potential workaround it to call GenerateNuspec https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack/NuGet.Build.Tasks.Pack.targets#L195, edit through your own task and run pack.

[2020-04-06 22:48] manuelxmarquez commented on #7496
Thanks for the reply!

I just recently got this working. In case someone is looking to do the same thing, the trick was to implement INuGetProjectProvider like I mentioned above but the provider must be before NetCorePackageReferenceProjectProvider. I then check for my custom project extension and create the project services and NuGetProject object.

LegacyPackageReferenceProjectProvider is a good

[2020-04-06 23:47] zivkan commented on #9391
@aortiz-msft even if we fix the issue for new versions of the dotnet cli (and nuget.exe?), should we document that old versions have this behaviour?

[2020-04-07 00:32] zivkan commented on #9360
We don't support individual packages (unless it's one of our own). Please contact the package author/owner.

[2020-04-07 00:32] #9360 closed, assigned to nobody

[2020-04-07 00:54] KeltarHelviett commented on #9222
@nkolev92 A month has passed. Are there any changes?

[2020-04-07 01:08] AArnott commented on #8133
@nkolev92 I've noticed that the `GenerateNuspec` target tends to actually do the packing itself. How would I suppress that, and how would I then get it to pack with my rewritten nuspec later?

[2020-04-07 01:10] stevenbrix commented on #6579
I could share the novel of internal emails/messaging threads of times our team has hit this issue. This task has been open for over 2 years, what will it take to get this work in?

[2020-04-07 01:22] nkolev92 commented on #8133
I actually did not mean to close this issue.
In my triaging I think I forgot the fact that GenerateNuspec calls the pack task today, so I'll just strike through my comment as it's not a valid suggestion.

[2020-04-07 05:33] tompazourek commented on #7404
I recently created a duplicate of the issue #9373.

I wouldn't actually mind that the package is created. What's important to me is that the program exit code is not 0. Currently it's 0 and appears all successful. That means that the build/pack is all green in CI and I don't notice the errors unless I specifically dig for errors in successful tasks.

[2020-04-07 05:46] tompazourek commented on #9373
Hey @nkolev92. I tried searching before, but didn't find that one, it probably didn't have all the keywords.

I added some more comments for discussion to the original.

Thanks

[2020-04-07 07:45] anangaur commented on #9401
While all of these can be clubbed under “Package applicability”, I feel this one is a low hanging fruit. Can we make it a task under the package applicability?

[2020-04-07 10:27] pfeigl commented on #3116
@karann-msft - Would you expect the environment variable workaround to also work within visual studio?

I could make it work when running msbuild from the developer command line, but within visual studio doing a rebuild-all did not work as expected to fetch transitive packages right after they are available on the internal nuget server.

[2020-04-07 15:59] cristinamanum opened #9404 "[CPVM] Add E2E tests for cpvm enabled and lock enforced projects."
## Details about Problem

Add E2E tests for cpvm enabled and lock enforced projects.

[2020-04-07 17:57] nkolev92 commented on #9400
You can always hack Directory.Packages.props import & remove it later.

That'd be safer than having the tests disabled complete.y

[2020-04-07 18:36] nkolev92 commented on #7412
Looping back here, the feature we discussed in https://github.com/NuGet/Home/issues/7412#issuecomment-433243759 is now shipped!

If you go to https://www.nuget.org/packages/NuGet.Core/, you will see that it's deprecated.

Furthermore we have improved the docs a tiny bit. https://docs.microsoft.com/en-us/nuget/reference/nuget-client-sdk

[2020-04-07 18:36] #7412 closed, assigned to nobody

[2020-04-07 18:55] orck-adrouin opened #9405 "SolutionDir is not defined when running 'nuget.exe update'"
## Details about Problem
Hello,

I am trying to use `nuget.exe` to automate updating a package in a PowerShell script and I am getting an error because `SolutionDir` is undefined.

In many project of my solution I `<import>` a file that includes properties/variables used in msbuild `targets` files.  My import statements are using the `SolutionDir` variable and because of that nuget.exe is unable t

[2020-04-07 18:58] nkolev92 commented on #7404
Yeah, the exit code was implied. Adding it explicitly :)

[2020-04-08 00:40] nkolev92 commented on #3146
Closing as dup of https://github.com/NuGet/Home/issues/4234 as it's more popular.

[2020-04-08 00:40] #3146 closed, assigned to rohit21agrawal

[2020-04-08 00:50] nkolev92 commented on #8550
Dup of https://github.com/NuGet/Home/issues/4234

[2020-04-08 00:50] #8550 closed, assigned to nobody

[2020-04-08 00:51] nkolev92 commented on #4234
At this point I'm treating this as a dup of #3146 but keeping this open as it has more engagement.

[2020-04-08 02:53] nkolev92 commented on #8411
Dup of https://github.com/NuGet/Home/issues/8333, fixed in 5.5.

[2020-04-08 02:53] #8411 closed, assigned to nobody

[2020-04-08 02:58] nkolev92 commented on #8794
Closing this as by design per https://github.com/nuget/home/issues/8794#issuecomment-551967051.

This is a known MSBuild behavior.

[2020-04-08 02:58] #8794 closed, assigned to nobody

[2020-04-08 03:00] nkolev92 commented on #8707
Closing per the above comment.

[2020-04-08 03:00] #8707 closed, assigned to nobody

[2020-04-08 03:02] nkolev92 commented on #8703
@zivkan Related to https://github.com/NuGet/Home/issues/9388 & https://github.com/NuGet/Home/issues/9055

[2020-04-08 03:06] nkolev92 commented on #8942
Dup of https://github.com/NuGet/Home/issues/7438

[2020-04-08 03:06] #8942 closed, assigned to nobody

[2020-04-08 03:09] nkolev92 commented on #7438
Hey folks,

I think it's ok to fall back to `dotnet` or `dotnet.exe` based on the environment we're running in case `DOTNET_HOST_PATH` is not set.

At this point I'm not sure when we'd be able to get to this, but we'd be happy to take a PR.

[2020-04-08 05:52] #9223 closed, assigned to nobody

[2020-04-08 07:42] WonyoungChoi opened #9406 "Restore fails with -Source <Relative Path>"
## Details about Problem

`nuget restore` fails when specifying a relative path with `-Source` option in 5.5.1 or later versions. Because it tries to resolve the relative path based on the project file location.

This problem also occurs in dotnet-sdk 3.1.201, but dotnet-sdk 3.0.103 is fine.

NuGet product used : NuGet.exe and dotnet.exe
NuGet version : 5.5.1
OS version (i.e. win10 v1607 (14393.32

[2020-04-08 11:14] babuch02 opened #9407 "Source link missing symbols"
Hi,

Am new to Nuget Package Explorer. i tried to package my dll using utube videos but am getting some error as missing symbols at Health. please advise what i done wrong here

attached the Screenshot for your reference

Thanks.
![Nuget Error](https://user-images.githubusercontent.com/62982614/78778049-3d714c00-79b8-11ea-8a62-1046684f2b05.PNG)

[2020-04-08 13:49] tillig commented on #7438
[For reference, here's where the query for `DOTNET_HOST_PATH` gets done.](https://github.com/NuGet/NuGet.Client/blob/6f7be0986028256f05c894eac2f7816c85611984/src/NuGet.Core/NuGet.Protocol/Plugins/PluginFactory.cs#L168)

[2020-04-08 14:59] stefanluchian commented on #7778
The problem with "nuget pack" is known since 2017.
One could do the trick with "msbuild -t:pack".
One could use "dotnet pack".
But the others that rely on "nuget pack" loose many hours till they figure out what is going on.

@Microsoft: Will you please do something about it?

[2020-04-08 15:15] olivier-spinelli commented on #7438
Should I sign a CLA or something?

[2020-04-08 15:32] rainersigwald opened #9408 "PoM/BoM Project/Bill of Materials"
_From @peni4142 on Wednesday, April 8, 2020 10:50:25 AM_

I am missing a Project of Materials!

What I expect that to be.

If you include that thing(can even be one file), you are only allowed to include NugetPackages from that List, but you don't have to.

The benefit I expect from that is nothing less than to solve the DLL-hell.

You can define one in your company, including that in every projec

[2020-04-08 15:32] rainersigwald commented on #9408
_From @rainersigwald on Wednesday, April 8, 2020 2:21:42 PM_

This sounds like a NuGet request that may already be satisfied by some features there. I'll move it to the NuGet repo.

[2020-04-08 15:35] peni4142 commented on #9408
Wich feature?

[2020-04-08 16:51] cristinamanum opened #9409 "[CPVM] Suggestion - Add centralTransitive group for all the CPVM enabled projects"
## Details about Problem

To enable packing of the transitive dependencies a new centralTransitiveGroup is added to the project.assets.json.
Currently if the collection of centralTransitive dependencies is empty the group will not be serialized to project.assets.json.

The suggestion is to serialize an empty collection.
The pros will be that will allow to differentiate between CPVM is ignoring thi

[2020-04-08 16:53] zivkan opened #9410 "Test: CreateNetCoreProject_AddProjectReference is flaky"
There have been numerous CI failures on this test. Exception message:

stack trace:
[code]

[2020-04-08 17:32] donnie-msft commented on #9391
I asked the same question offline, and seems he agrees. Reopening

[2020-04-08 17:46] nkolev92 commented on #5420
Fixed by https://github.com/NuGet/NuGet.Client/pull/1623

[2020-04-08 17:46] #5420 closed, assigned to nobody

[2020-04-08 17:48] nkolev92 commented on #3786
Yep, that's correct, this seems fixed.

Closing

[2020-04-08 17:48] #3786 closed, assigned to nobody

[2020-04-08 17:53] nkolev92 commented on #2545
Apologies for the super long turnarounds.
This was fixed early in 1.x.

[2020-04-08 17:53] #2545 closed, assigned to nobody

[2020-04-08 17:57] nkolev92 commented on #8958
@eriawan

NuGet will try to work with pretty much any msbuild version, the challenges is the capabilities that'll be enabled.

In practice, it's best to match NuGet to match the MSBuild version that ships around the same time.

Given a Visual Studio/MSBuild version of x.y.z equation is something like `Visual Studio Major - 11.y.z`.

So 5.4 of NuGet is best used with 16.4 of MSBuild.

Per this, I'm

[2020-04-08 18:54] dominoFire commented on #9408
@peni4142 I think you're referring at [Maven Bill of Materials](https://www.bing.com/search?q=maven+bill+of+materials).

We have a similar feature in NuGet still in development, called [Central Package Version Management](https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions). Note that you can define all packages in one central files but, packages are not installed by defau

[2020-04-08 18:54] #9408 closed, assigned to nobody

[2020-04-08 19:31] #9146 closed, assigned to rrelyea

[2020-04-08 19:42] dominoFire commented on #9407
@babuch02 Those are not errors, just health checks that makes the page a good quality one

- Source Link: More info [here](https://github.com/dotnet/sourcelink#using-source-link-in-net-projects)
- Deterministic is a feature to produce the same package using the exact same package inputs. Deterministic pack is disabled [since 5.3](https://github.com/NuGet/Home/issues/8599).

Check out this NuGet vi

[2020-04-08 19:42] #9407 closed, assigned to nobody

[2020-04-08 19:46] dominoFire commented on #9406
@WonyoungChoi does that work if you use a source folder created with `nuget add` commands? For example:

[code]

[2020-04-08 19:50] rrelyea opened #9411 "WARNING: Error reading msbuild project information, ensure that your input solution or project file is valid. NETCore and UAP projects will be skipped, only packages.config files will be restored."
In NuGet 4.7 and later, we started loading msbuild project files in a faster way. This faster way had the side effect of not being forgiving when loading msbuild project files that have includes to .props/.targets files that don't exist when being evaluated.

when running "nuget.exe restore foo.sln"
you may see: WARNING: Error reading msbuild project information, ensure that your input solution or

[2020-04-08 19:51] rrelyea commented on #9411
@nkolev92  - feel free to edit my first post above for any corrections necessary.

[2020-04-08 19:51] #9411 closed, assigned to rrelyea

[2020-04-08 20:07] wli3 opened #9412 "Add multiple packages to existing project"
_From @akshaybabloo on Monday, March 23, 2020 10:27:33 PM_

Is it possible to add multiple packages to existing project using the CLI?

_Copied from original issue: dotnet/sdk#10970_

[2020-04-08 20:07] wli3 commented on #9412
_From @wli3 on Wednesday, April 8, 2020 8:05:28 PM_

It is not supported today

[2020-04-08 22:33] nkolev92 commented on #9156
Closing as dup of https://github.com/NuGet/Home/issues/9289, because that's the one linked in multiple partner conversations.

[2020-04-08 22:33] #9156 closed, assigned to nobody

[2020-04-08 22:34] #9178 closed, assigned to nobody

[2020-04-08 22:42] #9233 closed, assigned to rrelyea

[2020-04-08 22:42] nkolev92 commented on #9233
Issue moved to [NuGet/docs.microsoft.com-nuget #1986](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1986) via [**ZenHub**](https://www.zenhub.com/)

[2020-04-08 22:43] #7714 closed, assigned to nobody

[2020-04-08 22:43] nkolev92 commented on #7714
Issue moved to [NuGet/docs.microsoft.com-nuget #1987](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1987) via [**ZenHub**](https://www.zenhub.com/)

[2020-04-09 00:17] kartheekp-ms commented on #9329
@luminescent - I assumed based on this comment that `nuget install` command created a new file by expanding environment variable under the path `C:\ProgramData\MyFolder`. When I tried to reproduce the issue by following below steps the outcome proved that my assumption was false.

1. Created a package from nuspec file which contains a `<file>` entry as shown below
`<file src="texts\$one.txt" targe

[2020-04-09 00:37] WonyoungChoi commented on #9406
@dominoFire Same error in `NuGet 5.5.1` 😢
[code]
The absolute path of the specified relative path './LocalSource' is `/home/foo/LocalSource`, but `nuget restore` resolves the path to `/home/foo/ConsoleApp1/LocalSource`.

[2020-04-09 04:25] nkolev92 commented on #9126
Hey all,

This is a docker permission issue.
The process running in the container does not have the rights to overwrite files like the assets file or any other NuGet caches in the obj folder.

NuGet is really the red herring here.

When creating your imagine ensure that you are not copying the obj artifacts.

[2020-04-09 04:25] #9126 closed, assigned to nobody

[2020-04-09 08:17] acordiner92 commented on #8646
+ 1

[2020-04-09 08:56] akshaybabloo commented on #9412
OK. This could be a feature request

[2020-04-09 12:36] JB101UK commented on #8580
Hi @zivkan thanks for your comments.
I have the key:value pair setup in my .csproj file as stated in the GitHub docs you mentioned.

Please see code below.

[code]

However, when I push the package it trims the index.json off of the end in the terminal output, so the error message ends up being the one I've provided above.

Do you have any further thoughts?
Still having the same problem at the mom

[2020-04-09 12:53] odalet commented on #5548
@JereckNET
I'm trying to reproduce the bug so that I may come up with a fix, and I'm not successful: I've tried to reproduce with  a simple project. But nuget (versions 5.4, 5.5 or 5.6-preview2) do not seem to exhibit the problem any more.
Could you elaborate on the circumstances you encounter the issue? Do you use nuget in command line? Do you have a nuspec? The best would be a repro project!
Tha

[2020-04-09 13:01] IvanStoychev opened #9413 "Pushing package to nuget.org always gives internal server error 500"
## Details about Problem
I am trying to upload a new version of my package to Nuget through console.
It always encounters an internal server error 500, no matter what I do and try.
Even when status.nuget.org lists systems all green and trying different days.

NuGet product used:
NuGet.exe and dotnet.exe

NuGet version:
5.4.0

dotnet.exe version:
3.1.100

OS version:
win7

Worked before?
No.

## De

[2020-04-09 13:02] peni4142 commented on #9408
Hui... that is complicated... again I think I am doing something wrong.

I can neither install/add in the old project format nor in the new Microsoft.Build.CentralPackageVersions

At least in the new project format, I can use it.
But if I use the Nuget Package Manager to add a package which is defined in the Packages.props, it is adding a Version. So after adding the package via Nuget Package Mana

[2020-04-09 15:29] vdevappa commented on #9411
Do you think doing this will resolve my issue?

https://developercommunity.visualstudio.com/content/problem/981107/service-fabric-build-failing-with-error-microsoftp.html

If so, I did try running this command, but from cmd or visual studio command prompt both, the nuget command is not recognized. How do I run this?

[2020-04-09 17:10] zkat commented on #8999
This was a dummy issue when we were experimenting with how to track stuff. I'm going to be closing this.

@awesley that issue has been fixed :)

[2020-04-09 17:10] #8999 closed, assigned to nobody

[2020-04-09 17:13] dominoFire commented on #9413
@IvanStoychev Have you tried publishing the package manually in nuget.org? If that's the case, do you  see any errors ?

[2020-04-09 17:26] IvanStoychev commented on #9413
@dominoFire , manual publishing through nuget.org works fine - never had problems with it, including after encountering these errors.

[2020-04-09 17:47] mmitche opened #9415 "NuGet should not fail a restore if a feed is inaccessible but no * versioning is required"
## Details about Problem

- Any nuget configuration
- Nuget Version: 4.*? Really anything recent

## Detailed repro steps so we can see the same problem

1.  Create a new project (of any real kind that has a nuget package reference). A dotnet core console app works fine. The project should have not * versioning. For example, the following package ref works:
[code]
2. Add a feed to the Nuget.config

[2020-04-09 17:59] nkolev92 commented on #5926
@wli3
Let us know when this becomes a priority for you.

[2020-04-09 18:02] vdevappa commented on #9411
Answering my own question:

"Install the nuget.exe CLI by downloading it from nuget.org, saving that .exe file to a suitable folder, and adding that folder to your PATH environment variable."

https://docs.microsoft.com/en-us/nuget/consume-packages/install-use-packages-nuget-cli

[2020-04-09 20:15] nkolev92 commented on #9058
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed. 

[2020-04-09 20:15] #9058 closed, assigned to nobody

[2020-04-09 21:05] outcast opened #9416 "Getting "Text file busy" error while update NuGet.exe"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version (x.x.x.xxx): 4.1.0

dotnet.exe --version (if appropriate): No using mono 6.8.0.105

VS version (if appropriate): N/A

OS version (i.e. win10 v1607 (14393.321)): Linux Ubuntu 18.04.4 kernel 4.15.0-96-generic

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Fresh inst

[2020-04-09 21:39] jzabroski commented on #3891
I am the co-maintainer of FluentMigrator (3M+ downloads) and this issue has haunted me for the longest time but I never knew about this issue until now.  What sucks is that I broke release 3.2.4 due to a small change in the build process, and had to delist 20 packages as a result of a bad release.

This is a good idea, but the question "how to do that easily?" and MSBuild are [known to be tricky](

[2020-04-09 22:30] niwrA commented on #3891
Private dependencies sound like a good solution. However to make it rock solid, that does mean that those dependencies should be placed in a package specific folder, so you cannot accidentally get conflicts with other packages that have the same dll. I haven’t thought out what the implications of that is.

Perhaps those dependencies should then be embedded in a single dll, and the feature should r

[2020-04-09 23:41] Mizux commented on #8623
FYI:

1) You don't need anymore a specific variant of .Net Standard dll wrapper simply omit the extension and .Net magic will pick the correct native library.

2) Please take at look at my fully working project https://github.com/Mizux/cmake-swig

3) I'll try to update the dotnet-native project accordingly...

3) Notice this project, dotnet-native, was intended to only focus on the .Net cpsroj stu

[2020-04-10 00:01] jzabroski commented on #3891
Nuget.org packages already have "private dependencies".  Which are irritating as hell.  How can a package I know has dependencies not list dependencies?  What nuget.org "Dependencies" really mean are public dependencies.  What I'm advocating for is structure around private dependencies.  Similar to a private class variable.  You shouldn't depend on these private dependencies, but you should also h

[2020-04-10 08:45] JereckNET commented on #5548
I used the **exact** same steps as described in the first post of this thread.

The (very light) test project :  [TestNuGet.zip](https://github.com/NuGet/Home/files/4460634/TestNuGet.zip)

Check `AssemblyInfo.cs` and (un)comment the last lines to test.

AssemblyInformationalVersion | Pack ? | Package name
----------------------------------|--------|------------------
_No attribute tag_ | Yes | Tes

[2020-04-10 08:51] djee-ms commented on #8623
Note that point 1. from @mizux is partially wrong; the no-extension `DllImport` will only work if the DLL filename doesn't contain any dot '.' character in it, due to a bug in `LoadLibraryEx()` which doesn't add automatically the `.dll` if there's already another dot `.` character. So `[DllImport("mydll")]` will work, but `[DllImport("a.b.c")]` will dot find `a.b.c.dll`. We hit that on https://git

[2020-04-10 10:05] Zastai commented on #3788
Note: JetBrains' Rider IDE had the same issue (https://youtrack.jetbrains.com/issue/RIDER-37878). It was fixed the day after I reported it (the actual rollout won't be until the upcoming 2020.1 release though).

[2020-04-10 10:30] Bidthedog commented on #8713
Getting this warning myself too. Scenario:

I am creating nuget packages for .Net Framework 4, 4.5 and 4 Client Profile assemblies of varying complexity. All three report the same error when I target a .csproj (`nuget pack assembly.csproj`) but also create a .nuspec file of the same name in the same directory (as OP reported). I also get the error when I do not include a .nuspec file.

I add a fra

[2020-04-10 10:57] odalet commented on #5548
Thanks for the details. I'll have a look into it

Concerning your last assertion:

I'm not sure this is applicable here.  The documentation you refer to indicates what an `AssemblyInformationalVersionAttribute` can be with respect to the C# compiler or the .NET framework: neither expects anything special from this attribute.

However, **nuget** requires Semver versions for the packages: See <https

[2020-04-10 11:17] JereckNET commented on #5548
Thank you for the "SemVer" explanation

I re-downloaded my sample project, and ran some more tests.

If I run the "pack" command _without_ creating the .nuspec file, I receive the following warning, but no error :

Then, I created the .nuspec file, and I removed the '$' in the Author and Description fields :
[code]

Then, the pack command works, but and generates the `TestNuGet.1.0.0.nupkg` packag

[2020-04-10 12:05] odalet commented on #5548
I'll look into this as well, but that may be the subject for another issue :,-)

[2020-04-10 12:32] PaulVrugt opened #9417 "PackagesLockFile issues with projects with an assembly name different from the project file name"
#  Details about Problem

I have an issue in which the lock file generated by visual studio differs from the lock file generated by nuget.exe. This causes the error I get during a CI build:
NU1004: The packages lock file is inconsistent with the project dependencies so restore can't be run in locked mode. When I run a build in visual studio and having the lock file enabled, some project references

[2020-04-10 13:40] umarali-aai opened #9418 "Error NU5008: Manifest file not found at path"
I am trying to create a Nuget package of the files built at the end of Nuke build pipeline.
I’ve created the and xml file named “NugetSpecFile.nuspec” to set the details of the package.
File is NugetSpecFile.nuspec.xml

- If I add .xml at the end of file name, its says
Error NU5002: Please specify a nuspec
- If I skip .xml at the end then it says
Error NU5008: Manifest file not found at ‘C:\Users\

[2020-04-10 13:54] tebeco commented on #5553
sorry about pushing that topic again, is there any info on how to to get that `Highest` resolution for transitive from an `MsBuild Props` today ?
especially when using `[*, )` and lockfile properly.

For example :
If you depend on `Serilog`
You would get transitive resolution of some `Microsoft.Extensions.xxxx` (like logging) to 2.x while the Host project is `aspnetcore /
netcoreapp3.1`
It seems t

[2020-04-10 14:37] tebeco commented on #6978
to be fair, this issue could potentially be fixed if there's a way to add specific code in the Windows binary to support PAC proxy and "IE Proxy"
see https://github.com/NuGet/Home/issues/6981

[2020-04-10 15:38] jimruisi opened #9419 "circular dependency"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2020-04-10 15:39] 27aadesh commented on #9126
Thanks @Xcone, I also downgraded from 2.2.0.5 to 2.1.0.5 and the issue is gone.  👍 💯

[2020-04-10 15:39] #9419 closed, assigned to nobody

[2020-04-10 15:39] jimruisi commented on #9419
Invalid entry

[2020-04-10 15:57] donnie-msft opened #9420 "Manage NuGet Packages should be unavailable for unsupported projects"
Projects which don't support NuGet should have the "Manage NuGet Packages" options disabled, rather than having them available in a state which presents errors.

NuGet product used: VS
Worked before? No

## Detailed repro steps so we can see the same problem

1. Open a Python Solution/Project in Visual Studio.
2. Select Manage NuGet Packages
![image](https://user-images.githubusercontent.com/49205

[2020-04-10 16:45] donnie-msft opened #9421 "Package Manager Console should be more clear about unsupported projects"
Solutions which have no NuGet-supported projects are causing "Package Manager Console" to show cryptic error messages.

A more preferred option would be to disable the console pane, or have some overlaying message inside the console which indicates there's nothing that this console can currently do.

At a minimum, improving the error that's shown would be more clear to the user:
Current error: "Pr

[2020-04-10 16:56] dominoFire commented on #9418
@umarali-aai Are you able to create your package using nuget.exe ? For example

[code]

[2020-04-10 17:05] dominoFire commented on #9417
@PaulVrugt  Can you try restoring your project using the latest nuget.exe preview version available at nuget.org/downloads?

[2020-04-10 17:25] dominoFire commented on #9416
Can you run it again with the `NUGET_SHOW_STACK` environment variable set to `true` and the mono debug options enabled? For example:

[code]

[2020-04-10 17:45] dominoFire commented on #9415
What about using `RestoreAdditionalProjectSources`

$result = curl https://unstable.feed.org/v3/index.json

[2020-04-10 17:54] anangaur commented on #442
We are tracking the missing elements for VS PM UI on #7957. Closing this as duplicate.

[2020-04-10 17:58] anangaur commented on #7865
Closing this issue as we are tracking the showing the `owner` field on Visual Studio PM UI as part of #7957

[2020-04-10 17:58] #7865 closed, assigned to nobody

[2020-04-10 18:08] zkat commented on #9252
@aortiz-msft Hey Arturo -- this is that issue I mentioned that someone else outside the xplat team might be able to help us with, since we ultimately want to do this on dev for other reasons.

[2020-04-10 18:13] lostmsu commented on #8623
@djee-ms do you happen to know if this problem is also present on *nix?

[2020-04-10 18:18] nkolev92 commented on #9420
I think this is more of a specific project type bug.

We should check why we think python projects are supported, and just fix that.
For reference the code that decides whether to show a menu item.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.Tools/NuGetPackage.cs#L942 and then:

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.Tools/NuGetPackage.cs

[2020-04-10 18:21] nkolev92 opened #9422 "Extern alias feature implementation, NuGet side"
See design document: https://github.com/NuGet/Home/blob/dev/designs/PackageReference-Extern-Alias.md

Implementation of https://github.com/NuGet/Home/issues/4989.

Given that this is a cross team feature, don't want to close the bug until all the partner work has been done too.

[2020-04-10 19:14] rifuller commented on #5764
I treat warnings as errors on release builds to enforce compliance with Roslyn rules.  I don't know why my build should be blocked by this warning.

`Microsoft.Azure.WebJobs.Extensions 3.0.5 depends on Microsoft.Azure.WebJobs.Host.Storage (>= 3.0.11) but Microsoft.Azure.WebJobs.Host.Storage 3.0.11 was not found. An approximate best match of Microsoft.Azure.WebJobs.Host.Storage 3.0.13 was resolved.

[2020-04-10 19:39] umarali-aai commented on #9418
NuGet version 5.4.0
I am able to create the package using myProject.csproj file instead of NugetSpecFile.nuspec file.

[2020-04-10 19:53] djee-ms commented on #8623
As far as I know the issue I am referencing (https://github.com/dotnet/runtime/issues/7223) is a specific issue with how `LoadLibraryEx()` is implemented on Windows, and therefore only affects `DllImport` on Windows. On Linux I am pretty sure `DllImport` uses `dl_open()` which has different rules. I cannot guarantee however that `dl_open()` doesn't have the same kind of issue, although to the best

[2020-04-10 21:02] Rohit9968 commented on #6140
Has there been any resolution to the issue, I have been facing the same issue as pointed by @whvanderpost  when I try to restore using multiple package sources(one private and one public ) inside a docker.
`RUN dotnet restore -s "http://myprivaterepo/nuget/.NET/" -s "https://api.nuget.org/v3/index.json"`

[2020-04-10 21:59] cristinamanum opened #9423 "Visual Studio non-sdk style PR projects with PR items without version silently fail to add package References."
## Details about Problem
In a non-sdk package reference project if a PR item does not have a version:
1. Reading the package references fails without any error in the build output and the build succeeds .
The error is displayed in the "Test" result window.
![image](https://user-images.githubusercontent.com/16580006/79025495-cdd79a00-7b3a-11ea-802c-cda0f897ea69.png)

2. The package is not added in

[2020-04-10 22:58] nkolev92 commented on #9423
Yep this is become more and more frequent.

https://github.com/NuGet/Home/issues/9289

[2020-04-10 22:58] #9423 closed, assigned to nobody

[2020-04-10 23:01] nkolev92 commented on #9289
Another specific scenario in https://github.com/NuGet/Home/issues/9423 raised @cristinamanum.

Adding a CPVM label to track the scenario too.

[2020-04-11 00:46] donnie-msft commented on #9349
Learned about the Quick Pulse process and completed an interview of 4 participants on 4/09/2020.

[2020-04-11 00:46] #9349 closed, assigned to donnie-msft

[2020-04-11 00:48] donnie-msft commented on #9350
Created a branch and added events throughout the PMUI logic flow.

Can measure distance between action taken, search/data retrieval completed, approximation to XAML-rendering complete (Containers Generated). I compared this to a stopwatch which I stopped as soon as I noticed the UI draw items in the packages list.

[2020-04-11 00:48] #9350 closed, assigned to donnie-msft

[2020-04-11 02:58] yirkha commented on #8723
FYI I think neither MSBuild nor NuGet nor the Azure SDK for .NET project is the right place for this bug.
I've provided an update together with a workaround in https://github.com/Azure/azure-sdk-for-net/issues/3699#issuecomment-612306965

[2020-04-11 02:58] yirkha commented on #9310
FYI I think this is not an issue with NuGet but rather the Visual Studio Installer Extensions SDK.

Their MSBuild integration uses `BuiltProjectOutputGroupDependencies` in a way that should not be done – see this issue for details: https://github.com/microsoft/msbuild/issues/3069

I've provided a workaround in https://github.com/Azure/azure-sdk-for-net/issues/3699#issuecomment-612306965 which migh

[2020-04-11 08:11] #442 closed

[2020-04-11 14:55] odalet commented on #5548
@JereckNET
I just submitted a PR. It appears that the second problem you describe (choosing 1.0.0 over the assembly version) was directly related to the wrong error messages. So given the PR is accepted it should fix both issues.

[2020-04-11 15:05] JereckNET commented on #5548
@odalet Sorry I was not more explicit : that "second problem" was meant as a hint for you (I guessed there was that deeper problem) and not as a second grievance.

Thank you for the fix.

[2020-04-11 16:38] IvanStoychev commented on #9413
@dominoFire , never mind. For some reason the problem was with the API key. After creating a new one with the same permissions and glob pattern everything works fine.

[2020-04-11 16:38] #9413 closed, assigned to nobody

[2020-04-12 12:00] WebAzOps opened #9424 "NughetVisual"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2020-04-12 14:04] PawelAdamczuk commented on #6437
Stumbled across this when trying to containerize a .NET Core 2.2 application. Seems to be a real show stopper in my case.

[2020-04-12 23:39] loic-sharma opened #9425 "Confusing error message when incorrectly using a clear text password"
The `nuget.config` file uses the `Password` key for encrypted passwords and the `ClearTextPassword` key for clear text passwords. Installing a package when a clear text password has been added to the `Password` key results in a confusing error message:

[code]

Instead, I'd recommend an error message like:

[code]

## Details about Problem

NuGet product used: nuget.exe and dotnet.exe
NuGet versio

[2020-04-13 16:26] #8911 closed, assigned to cristinamanum

[2020-04-13 16:31] #9293 closed, assigned to cristinamanum

[2020-04-13 16:42] cristinamanum commented on #9370
Discussed with @nkolev92 and @zivkan.  For PR projects this was added as part of PR https://github.com/NuGet/NuGet.Client/pull/3322. The current tools will fail validation for a lock file with version > current tools version.

For PC projects the validation is done on equality [here](https://github.com/NuGet/NuGet.Client/blob/32cbb0ad13cf4b1abdb961b7ac111463e5f7b31a/src/NuGet.Core/NuGet.ProjectMod

[2020-04-13 16:42] #9370 closed, assigned to nobody

[2020-04-13 16:43] #9016 closed, assigned to zivkan

[2020-04-13 16:45] cristinamanum commented on #9400
The test was enabled using the Directory.Build.props. Change the issue title to reflect the changes needed.

[2020-04-13 16:59] Zastai commented on #8646
Another workaround, which does not potentially hide relevant warnings/errors:
- comment out the GPR source in NuGet config
- run `dotnet build` (or possibly just `dotnet restore`)
  - this should not give the warning
- re-enable the GPR source
- further builds should be fine again, at least until the local package cache is cleared again

[2020-04-13 16:59] cristinamanum commented on #9404
Tests were added [here](https://github.com/NuGet/NuGet.Client/blob/32cbb0ad13cf4b1abdb961b7ac111463e5f7b31a/test/NuGet.Clients.Tests/NuGet.CommandLine.Test/RestoreNETCoreTest.cs#L9122[](url))

[2020-04-13 16:59] #9404 closed, assigned to cristinamanum

[2020-04-13 17:00] cristinamanum commented on #9400
Also update the tests at : https://github.com/NuGet/NuGet.Client/blob/32cbb0ad13cf4b1abdb961b7ac111463e5f7b31a/test/NuGet.Clients.Tests/NuGet.CommandLine.Test/RestoreNETCoreTest.cs#L9122

[2020-04-13 18:10] Nirmal4G commented on #9234
Me too. One PR is enough for this change.

Still waiting on the MSBuild PR.

[2020-04-13 18:23] zkat opened #9426 ".NET Versioning Scheme"
This is a tracking issue for any work and discussions necessary in order to support a solid versioning scheme for .NET starting with .NET 5.

There's a few ways this could go, so further tasks will be created under this epic as things are hashed out further.

[2020-04-13 18:31] zkat opened #9427 "Talk with .NET team to suss out versioning solution"
See ".NET versioning proposal" email. Need to get in touch with the team and figure out which solution we're going to go with.

[2020-04-13 19:04] wackoisgod commented on #3099
So I am wondering if there was any thought or discussion around this issue? I ask because I am running into an issue where I have a MSBuild SDK which defines a new TFM, and this TFM implicitly brings in a Runtime which then has API levels for which it could bring in based on the TFM.

Today we can do things like:

`<dependencies>
      <group targetFramework=".NETStandard2.0">
        <dependency

[2020-04-13 19:31] zivkan commented on #9388
Closing as duplicate of https://github.com/NuGet/Home/issues/8627

[2020-04-13 19:31] #9388 closed, assigned to zivkan

[2020-04-13 20:15] MSLukeWest commented on #9310
Thanks @yirkha.  I'm adding the work around here for easier access.  Putting this at the end of your csproj file will get around this issue when using installer projects (requires a restart of VS):

	<Target
		Name="BuiltProjectOutputGroupDependencies"
		DependsOnTargets="$(BuiltProjectOutputGroupDependenciesDependsOn)"
		Returns="@(BuiltProjectOutputGroupDependency)">
		<ItemGroup>
			<BuiltProje

[2020-04-13 20:15] nkolev92 opened #9428 "Add a context menu for PM UI in VS OE"

[2020-04-13 20:26] donnie-msft opened #9429 "Create strong baseline of metrics for current PMUI Performance"
A percentage is not enough moving forward. This needs to be presentable and as reliable as possible since it will be used to indicate improvements.

[2020-04-13 20:29] donnie-msft opened #9430 "Record metrics with improved PMUI Performance"
A percentage is not enough moving forward. This needs to be presentable and as reliable as possible since it will be used to indicate improvements.

[2020-04-13 20:54] nkolev92 commented on #8736
The AzDO issue has been won't fixed, closing this per that.

@kartheekp-ms Let me know if you think I missed something.

[2020-04-13 20:54] #8736 closed, assigned to kartheekp-ms

[2020-04-13 21:01] nkolev92 commented on #8058
Long time dup of https://github.com/NuGet/Home/issues/2495, I just didn't find it back then..

[2020-04-13 22:38] clairernovotny opened #9431 "DeterministicSourcePaths doesn't take NuGet source packages into account"
Transferred from https://github.com/dotnet/sdk/issues/11105

**Version Used**: 5.0p1

**Steps to Reproduce**:

1. Create a class library
2. Add a package reference to xunit.assert.source
3. `ContinuousIntegrationBuild`

**Expected Behavior**:
A source root should be created for the NuGet source package and the path to the source normalized/deterministic.

**Actual Behavior**:
The source paths for

[2020-04-13 22:39] clairernovotny commented on #9431
See https://github.com/dotnet/sdk/issues/11105#issuecomment-613130894 for additional solution comment: https://github.com/dotnet/sdk/issues/11105#issuecomment-613130894

[2020-04-14 00:15] Sampleeeee opened #9432 "No packages will install"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
Jetbrains Rider UI

NuGet version: 5.5.0

dotnet.exe --version: 2.1.512

VS version: Community 2019

OS version: Version 1909 (OS Build 18363.720)

## Detailed repro steps so we can see the same problem

1. Right click on project

2. Manage NuGet Packages

3. Choose any package, so far I have t

[2020-04-14 03:15] donnie-msft commented on #9432
Please review the Package Source [documentation](https://docs.microsoft.com/en-us/nuget/consume-packages/install-use-packages-visual-studio#package-sources). It looks like you have an improperly configured package pointing to `http://packagesource`.

[2020-04-14 03:19] #9424 closed

[2020-04-14 07:05] kulov commented on #7575
This issue is reported in 2018.
https://github.com/NuGet/Home/issues/5895#issuecomment-432767345
You can have workaround with Choose/When/Otherwise msbuild constructs.
But it fails to work in Azure DevOps as NuGet defaults to Otherwise condition and there is not way to build When construct on specific project configuration.

[2020-04-14 07:14] PaulVrugt commented on #9417
@dominoFire Thank you for the quick reply! I've tested it with the latest nuget preview, but the result is the same:

[code]

[2020-04-14 10:59] kulov commented on #7575
I managed to workaround the issue by setting NUGET_RESTORE_MSBUILD_ARGS to /p:Platform=$(BuildPlatform) /p:Configuration=$(BuildConfiguration) in my Azure DevOps pipeline. Without this NuGet parses all csproj files with no Platform value set and it defaults to Debug because of this msbuild line:
    <Configuration Condition=" '$(Configuration)' == '' ">Debug</Configuration>

So with Choose/When/Ot

[2020-04-14 14:06] v-luzh opened #9433 "[Test Failure][VS.Oe] The “Package Manager” in the Output window showed nothing when restoring in VS Online Environment"
## Details about Problem
NuGet version: NuGet Client Dev\5.6.0.6563
VS Version: Master\30013.172
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1.	Run \\vspreinstall\preinstall\preinstall.cmd.
2.	Install the latest master build (https://aka.ms/vs/16/int.master/vs_enterprise.exe)
a)	Select recommend workload “.NET Core cross platform development”
b)	Select recommend workload “Desktop Develop

[2020-04-14 14:34] v-luzh opened #9434 "[Test Failure][VS.Oe] Cannot find build solution/project menu in VS client terminal in VS Online Environment"
## Details about Problem
NuGet version: NuGet Client Dev\5.6.0.6563
VS Version: Master\30013.172
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1.	Run \\vspreinstall\preinstall\preinstall.cmd.
2.	Install the latest master build (https://aka.ms/vs/16/int.master/vs_enterprise.exe)
a)	Select recommend workload “.NET Core cross platform development”
b)	Select recommend workload “Desktop Develop

[2020-04-14 15:24] kartheekp-ms commented on #8736
I am okay closing this issue because the AzDO issue is closed as won't fix.

[2020-04-14 19:44] zkat commented on #9253
So it sounds like this is basically taken care of? I mostly made this issue to do some due diligence to make sure everything was already taken care of, but it sounds like it is?

[2020-04-14 20:39] zivkan commented on #9253
yes, we've been inserting into both .net 5 and .net core 3.1 previous simultaneously.

[2020-04-14 20:57] rrelyea commented on #9411
To help others...
I added [PlusOtherArgsYouNeed] to the first post

[2020-04-14 21:14] kevinsyel commented on #6140
Similar issue inside a docker container. Weirdly, it builds fin when I run my Dockerfile on my local machine, but throws the error when running the same Dockerfile on a linux build machine.
RUN dotnet restore --configfile ./NuGet.config

NuGet.config contains both the standard nuget, and our private nuget.

[2020-04-14 21:21] zkat commented on #9089
Reopening this to use as an epic for net5 tfm work.

[2020-04-14 21:22] zkat commented on #9089
Reopening to use as an epic for net5 tfm-specific work

[2020-04-14 21:27] zkat opened #9435 "net5 tfm: Add xamarin compatibility support for net5 platforms"
According to [the spec](https://github.com/dotnet/designs/blob/master/accepted/2020/net5/net5.md), the following compatibilities need to be defined:

| TFM             | Compatible With                                            | Comments                          |
|-----------------|------------------------------------------------------------|-----------------------------------|
| net5.0-android

[2020-04-14 21:31] zkat opened #9436 ".NET 5.0 TFM: Framework Precedence Rules"
net5 has [specific precedence rules](https://github.com/dotnet/designs/blob/master/accepted/2020/net5/net5.md#precedences) that need to be followed. We need to implement them.

[2020-04-14 21:45] zkat opened #9437 "net5 tfm: Warn for dotless tfm"
We need to make sure there's some kind of information/warning available when `net50` is used, since [we're going to warn now if the `.` is missing, starting from `net5.0`](https://github.com/NuGet/Home/issues/9215). I'm not sure what level to do this at.

[2020-04-14 21:46] zkat opened #9438 "net5 tfm: design manifest entries"
Design NuGet manifest entries for TargetPlatformVersion and TargetPlatformMinVersion (not sure what "design" is needed -- TPV should be treated as part of the tfm itself. TargetPlatformMinVersion is a separate, new attribute. This is a bit more involved than just passing it through.)

[2020-04-14 21:47] zkat opened #9439 "net5 tfm: TargetPlatformMinVersion in packed nuspec"
Ensure Pack target passes TargetPlatformMinVersion to .nuspec generator.

[code]

[2020-04-14 21:49] zkat opened #9440 "net5 tfm: fail pack when packing equivalent platforms"
Fail pack when packing equivalent TFMs like net5.0-ios and net5.0-ios13.0 (note: we do want to eventually allow multi-targeting with equivalent TFMs, but that's out of scope for this work, and [seems to be a Big Task](https://github.com/NuGet/Home/issues/5154) -- also, we don't support them right now, so this isn't an issue yet)

[2020-04-14 21:50] zkat opened #9441 "net5 tfm: produce error when missing TPV"
Produce an error when a OS flavored .NET 5 TFM is consumed but the package has no TPV in either folder name of the manifest. Is this supposed to be during restore??

[2020-04-14 21:51] zkat opened #9442 "net5 tfm: Warn on high TPMV"
Produce a warning when a project consumes a library with a higher `TargetPlatformMinVersion`

[2020-04-14 21:54] zkat opened #9443 "net5 tfm: msbuild props supersede NuGetFramework data"
When present, msbuild props like `TargetPlatformIdentifier` and `TargetPlatformVersion` should supersede the corresponding data in `NuGetFramework` objects.

[2020-04-14 22:09] MaceWindu commented on #5764
What I found interesting, is that half of examples here reference packages from Microsoft itself.
Here another one:
`
NU1603: Microsoft.ServiceHub.Framework 2.3.56 depends on StreamJsonRpc (>= 2.3.81) but StreamJsonRpc 2.3.81 was not found. An approximate best match of StreamJsonRpc 2.3.99 was resolved.
`

[2020-04-14 23:28] donnie-msft commented on #2495
Closing after reviewing outstanding items offline with @joelverhagen

[2020-04-14 23:28] #2495 closed, assigned to nobody

[2020-04-14 23:47] zkat commented on #9253
Then we're all set here. Cheers :)

[2020-04-14 23:47] #9253 closed, assigned to nobody

[2020-04-15 00:47] zkat opened #9444 "net5 tfm: "hydrating" empty TargetPlatformVersions"
NuGet itself doesn't have the information it needs in order to understand what version `net5.0-ios` and such might mean, but omitting versions is an important part of this feature.

After discussions with the dotnet and msbuild teams, my understanding is that they will "fill in" the `NuGetFramework` instances with the actual version using some API call that's yet to be determined (or, preferably,

[2020-04-15 01:20] dsplaisted commented on #9444
We will be splitting the `NuGetFramework` into the following MSBuild properties:

- `TargetFrameworkIdentifier`
- `TargetFrameworkVersion`
- `TargetFrameworkProfile` (this is for completeness, we don't expect this to be used normally)
- `TargetPlatformIdentifier`
- `TargetPlatformVersion`

If the platform version isn't specified in the `NuGetFramework`, then the `TargetPlatformVersion` will initia

[2020-04-15 03:58] rasavant-ms commented on #7216
Same thing with VS Community 2019 v 16.5.0

[2020-04-15 05:10] heng-liu commented on #8807
Closed as fixed.

[2020-04-15 05:10] #8807 closed, assigned to heng-liu

[2020-04-15 10:38] Lonsarg commented on #6659
While i do not agree with initial decision to not support "content" in packages config, i see no posibility to change this in non-breaking way.

So i vote to close this issue.

If you have to copy files to output this can be dona via msbuild targets (you ge ta lot of control this way), this is an example how i made nuget copy static files to bin:

[2020-04-15 18:15] loic-sharma commented on #2495
@donnie-msft, was this piece done?

[2020-04-15 18:42] ViktorHofer commented on #9398
Thanks Jeff for the workaround which I just validated and it works. Is there a long term solution planned? I expect this will impact more people going as they try out that feature.