[2015-09-27 23:27] emgarten opened #1469 "NuGet.PackageManagement package is missing dependencies"
The 3.2.0 PackageManagement package does not define any dependencies.
https://www.nuget.org/packages/NuGet.PackageManagement/

The dependencies are now defined in the project.json file and these are not being picked up at pack time.

[2015-09-28 05:18] maartenba opened #1470 "Cannot install some packages in VS15 Community on Win10 (Both command and GUI)"
_From @heku on September 27, 2015 2:53_

PM> install-package System.Data.SQLite -dependencyversion highestminor
Attempting to gather dependencies information for package 'System.Data.SQLite.1.0.98.1' with respect to project 'OralEval.Infrastructure.Repositories', targeting '.NETFramework,Version=v4.0'
Attempting to resolve dependencies for package 'System.Data.SQLite.1.0.98.1' with DependencyBehav

[2015-09-28 07:01] tmat opened #1471 "Support for runtime light-up dependencies"
We need to add a reference to System.Runtime.Loader FX library to one of our projects. The project targets portable-net452 like so:

"frameworks": {"dotnet": { "imports": "portable-net452" } }

It is supposed to be used on both CoreCLR and Desktop FX. At runtime we detect what CLR we run on and either use the Desktop FX assembly resolver or the Core CLR AssemblyLoadContext implemented in System.Ru

[2015-09-28 07:25] AndiRudi commented on #1279
Today i retested with 3.2 and everything worked! Issue can be closed

[2015-09-28 07:25] #1279 closed, assigned to nobody

[2015-09-28 08:36] mszeb opened #1472 "NuGet 3.2 push -Source does not take the repo-name anymore only URL"
I used the push -Source parameter in 2.8.6 with the name of the repository. After updating to 3.2 I am getting an URI-Exception when I am not using the repository URL.

[2015-09-28 10:41] maartenba opened #1473 "nuget install -ExcludeVersion not working with packages.config"
_From @vonlipwigmoist on September 28, 2015 9:44_

with nuget version  3.2.0.10516 the following command does not work as expected:
nuget install packages.config -ExcludeVersion
The destination directory still contains the version number while the documentation states that it shouldn't.
If a packageId is given instead of a packages.config file it works as expected.

_Copied from original issue: Nu

[2015-09-28 15:30] functionreturnfunction commented on #1329
I'm also having this issue, NuGet 2.8.60732.765, Visual Studio 2013 12.0.40629.00 Update 5.  I've actually had this problem for quite a while, and I used to be able to work around it by pressing Shift + Enter, but lately that no longer works either.  I've tried disabling extensions I use which mess with keyboard input such as Emacs emulation and ReSharper to no avail.

[2015-09-28 16:04] uchinago opened #1474 "VS2015 Enterprise nuget version 3.2 fails on metadata download"
Using both the GUI and the command console I get the following error in 2015
From the Console:
Find-Package : Failed to retrieve metadata from source 'https://api-v3search-2.azurewebsites.net/query?q=&skip=0&take=20&prerelease=false'.
At line:1 char:1
From the Extension:
Error occured:\nFailed to retrieve metadata from source 'https://api-v3search-2.azurewebsites.net/query?q=&skip=0&take=26&prerel

[2015-09-28 17:16] gravidThoughts opened #1475 "A Task was Cancelled"
VS 2015
Nuget Package Manager for VS 3.2.60914.10516
verbosity = Detailed
source = https://www.nuget.org/api/v2   (V3 source just plain does not work)

Brand new HTML Typescript application project. Attempting to install package. Here is the "detailed" output.

[code]

Zero help. Anywhere else I can look to attempt to troubleshoot this issue?

[2015-09-28 17:19] nambrose opened #1476 "NullReferenceException : Cannot install Aspose.Email into VS2015 Console App."
Version of Nuget is 3.2.60914.10516

Make a blank C#/Console app

Install Aspose.Email

Attempting to gather dependencies information for package 'Aspose.Email.5.7.0' with respect to project 'DVS', targeting '.NETFramework,Version=v4.5.2'
Attempting to resolve dependencies for package 'Aspose.Email.5.7.0' with DependencyBehavior 'Highest'
Resolving actions to install package 'Aspose.Email.5.7.0'
R

[2015-09-28 17:30] csharpfritz commented on #352
We see some customers unable to view icons as the web location of the icon image is blocked by their corporate firewall.  Possible solution could be to download and serve the images from NuGet.org as a resource at the same URI as the package when an image media type is requested

[2015-09-28 17:43] yishaigalatzer commented on #1476
Just tried it, and the package installs without a hitch (Console App 4.5.2, api.nuget.org/v3/index.json).

Is there anything else special about the project/solution?

[2015-09-28 17:46] yishaigalatzer commented on #1458
@remcomulder there is an API for eventing when installing/uninstalling packages - http://docs.nuget.org/Create/Extensibility-APIs

[2015-09-28 17:49] maartenba commented on #352
-> https://github.com/NuGet/NuGetGallery/issues/2613

[2015-09-28 18:27] vtbassmatt commented on #1460
I'm having a hard time reproing today, so I can't verify what you said. I'll assume you're right, but that leaves me with two questions:
1) Are you saying I need to enter my credentials before NuGet will proceed, or is the race happening in the background and it will eventually complete correctly?
2) I have credentials for all the private feeds saved in my machine nuget.config. When I give an expl

[2015-09-28 18:35] yishaigalatzer commented on #1460
1. You need to enter your credentials in this case.
2. Can you check that all of your sources are accessible, this could happen if your password doesn't match. We don't expect prompting if the password are in your nuget.config and are valid. If we do that's a bug. I believe we have a test covering this scenario, going to look into it.
3. If you never want to get prompted (which is what you would d

[2015-09-28 18:44] vtbassmatt commented on #1460
I confirmed that I can access all of the sources without being prompted for
a password if I specify -source. Seems like there may be a bug here.

On Mon, Sep 28, 2015 at 11:35 AM, Yishai Galatzer notifications@github.com
wrote:

[2015-09-28 19:14] deepakaravindr commented on #1460
@vtbassmatt, I just tried and it seems to work for me without the -Source switch.
- When you say it works with the -Source switch, Do you use the URL or the package source name?
- Can you tell us how your nuget.config looks like? Mine looks like the following. And, note that I added the private feed source 'test', to my nuget.config, using nuget.exe sources command. (https://docs.nuget.org/consume

[2015-09-28 19:51] yishaigalatzer commented on #1474
Can you provide some more details to what is that you are trying to do? What command, what steps?

[2015-09-28 20:00] kkm000 opened #1477 "Project that find themselves at varying nesting depths cannot find `packages/`"
I do not know if this is a right venue for questions, but I cannot find a mailing list or a google group where I can communicate with other users. If there is one, please point me to one and close this.

We have some projects that can be pulled as Git submodules into different solutions. The projects sometimes end up at a different depth from the solution directory. Since NuGet always inserts a si

[2015-09-28 20:00] yishaigalatzer commented on #1470
Can you please update to NuGet 3.2 from the gallery? I don't see this issue reproducing on my machine.

[2015-09-28 20:23] nambrose commented on #1476
Hmmm, it was just a brand new Console app. Just a blank Program.cs
I will try to see if there is anything special. I may have another machine I can try to see if it also happens there.

[2015-09-28 20:56] danliu commented on #1452
Also added support for creating new dnx project.

[2015-09-28 21:01] uchinago commented on #1474
From Visual Studio:
    I am right clicking on the project and going to "Manage Nuget Packages
From Command just typing
  Find-Package

Not  trying to do anything fancy.  Just simple  Apparently I cannot upload an image.

[2015-09-28 21:04] yishaigalatzer commented on #1474
Any resason you closed the issue?

[2015-09-28 21:05] vtbassmatt commented on #1460
I use the URL as the argument to -Source. All of my sources were added by `nuget sources add`. Here's my nuget config, with sensitive portions of URLs and username/password removed:

[code]

[2015-09-28 21:07] yishaigalatzer commented on #1460
These look like VSO feeds, is that correct?

[2015-09-28 21:07] vtbassmatt commented on #1460
Correct.

On Mon, Sep 28, 2015 at 2:07 PM, Yishai Galatzer notifications@github.com
wrote:

[2015-09-28 21:08] yishaigalatzer commented on #1460
I'm not sure how these are supposed to work, I'm following up with the VSO team (they seem to be gone for the day, so perhaps will hear tomorrow what is going on)

[2015-09-28 21:12] yishaigalatzer commented on #1477
This is not a discussion group in general, stackoverflow is a good place for this kind of question.

In general the solution long term for this is to move to project.json based projects. It is currently a bit limited (no content support) and it is not fully tested on all project types, but it avoid using hard links in the project (for similar reasons to what you are experiencing).

A simple sugges

[2015-09-28 21:18] yishaigalatzer commented on #1476
I tried again this time with dependency version highest, still works fine. Would help if we can get more specific repro steps or an accurate callstack to see if we can pinpoint things.

Can you share your nuget.config (s)?

[2015-09-28 21:28] yishaigalatzer commented on #1468
To reproduce this you need to restore the coreclr packages first or to run the following command instead:

`nuget.exe restore project.json -Source c:\temp\pkgsrc -Source https://api.nuget.org/v3/index.json`

[2015-09-28 21:31] kkm000 commented on #1477
@yishaigalatzer: Thanks for the response. Moving to a different project system is hardly an option, given our sheer codebase size, as is reorganizing it to a single level. Unfortunately, we are talking an old, large, quirky codebase complicated with additional tools and services putting additional limitations on the code structure.

I am wondering though, why does not NuGet even try to use `$(Solu

[2015-09-28 21:38] yishaigalatzer commented on #1477
1. NuGet doesn't know anything about msbuild when it adds references, it merely calls the DTE.AddReference and each project system is responsible to do whatever it needs to do. So you end up with hint paths etc.
2. Packages folder is configurable at the solution level (or to a global folder) by changing nuget.config at any level above the solution. So solution dir is just a good default, but not t

[2015-09-28 21:45] vtbassmatt commented on #1460
I'm on the VSO code sharing team :) We have some folks out of office today.

We just tried the exact same scenario on a coworker's machine and it worked
for him. Maybe there's something wacky in my nuget.config?

On Mon, Sep 28, 2015 at 2:08 PM, Yishai Galatzer notifications@github.com
wrote:

[2015-09-28 21:50] kkm000 commented on #1477
I see, that's a clear explanation, thanks!

[2015-09-28 21:50] yishaigalatzer commented on #1460
That's why I asked about the passwords not being applicable. Lets get Zache Renner involved tomorrow, he was looking into this area before

[2015-09-28 21:51] remcomulder commented on #1458
Excellent thank you!!! :)

[2015-09-28 21:53] nambrose commented on #1476
Repro was literally
- Make C# Console app with no specific nuget.config
- Try to add the package

is there a way to get a better call stack than the one I provided ?

[2015-09-28 22:03] martingem opened #1478 "Visual Studio 2015 with Nuget 3.2 + PCL targetting Windows Universal 8.1 throws NullReferenceException"
I am trying to make PCLs for my Windows Universal 8.1 application. It seems in VS 2015 that Nuget doesn’t like targeting anything lower than 4.6 and I can’t do anything. Everything in a WindowsPhone/WinRT project with Shared works, but when it comes to PCL that targets both, Nuget 2015 3.2 handles very badly the fact that I want my PCL to target both of Universal 8.1 (and up).

Repro steps:
1-

[2015-09-28 22:04] yishaigalatzer commented on #1476
I get it, but it doesn't repro for me with exact same steps.

Its tricky to get a callstack, but if you are willing to help that would be great!

You need to attach another instance of visual studio, and turn on catching thrown exception (handled). Then look for a nullref, they are rare so that's going to make it easier.

You can find symbols and sources on symbolsource.org

[2015-09-28 22:05] emgarten commented on #1476
It looks like the package is failing to download from a v3 source.
- Do any packages installs work?
- Is it only Aspose.Email that fails for you?
- Does this work: _Install-Package Aspose.Email -Source https://www.nuget.org/api/v2/_

If you are able to get it in the debugger as @yishaigalatzer mentioned and see why the download is failing that would very helpful also.

[2015-09-28 22:20] emgarten commented on #1478
Crittercism does not contain any PCL compatible libraries:

![image](https://cloud.githubusercontent.com/assets/6381138/10150379/ff1565c2-65f3-11e5-8d56-e21c2037f311.png)

Installing that package should give you an error message saying that there are no compatible items for your target framework, is that what you saw?

The crash looks interesting, can you find the stack from this in your visual st

[2015-09-28 22:29] emgarten commented on #1475
What happens when you install from a V3 source?

Does the task canceled message show up right away, or does it take a couple minutes?

[2015-09-28 22:32] vtbassmatt commented on #1460
I'm not sure how the service is involved, though. When I specify a -source,
it correctly reads my credentials from nuget.config and works. When I
don't, I'm sometimes prompted for credentials (although it's intermittent).

On Mon, Sep 28, 2015 at 2:50 PM, Yishai Galatzer notifications@github.com
wrote:

[2015-09-28 22:54] martingem commented on #1478
_Crittercism does not contain any PCL compatible libraries_
I can't deny that for Crittercism at least.

_Installing that package should give you an error message saying that there are no compatible items for your target framework, is that what you saw?_
I cannot get to that. For Crittercism it was what you said and I was unaware that it didn't support PCL. But for others, it works under 2013.

Fo

[2015-09-28 23:37] emgarten commented on #1478
Doesn't look like the error made it into the activity log here. What are your steps for reproing the crash? Create a PCL targeting .NET 4.6 and then change it to .NET 4.5, then open NuGet?

In your original repro steps above you said install-package could not find the package, that is where the compatibility error should have been displayed.

[2015-09-29 00:05] martingem commented on #1478
Repro steps:
1- Make a Windows Runtime Library (for 8.1) -> _It automatically targets v4.6 in VS2015._
2- Change target framework to v4.5 + WinPhone 8.1 + Windows 8.1
3- try right-click -> Manage Nuget Package
3.1- Object reference not set to an instance of an object.
3.2- Check the Nuget Package Console, the project is not there.

[2015-09-29 00:43] heku commented on #1470
THX for the  reply, it is 3.2 already.

[2015-09-29 01:07] AArnott opened #1479 ""nuget.exe restore project.json" creates *.nuget.props and *.nuget.targets files with incorrect name after project rename"
Package restore within VS and at command line based on solution works fine.
Package restore directed at a particular project's project.json file incorrectly produces *.nuget.targets files named after the original name of the project instead of its new name. As demonstrated by the following repro steps:
## Prebaked steps

[code]

Build fails with error that the import was not found.
## Manual steps

[2015-09-29 01:12] AArnott commented on #1479
This is probably because in the execution path for project.json, the .props and .targets file names are based on the `AssemblyName` property of the project rather than the `$(MSBuildProjectName)`. Since the automatic imports are actually based on the `$(MSBuildProjectName)`  however, this leads to a malfunction in the build as the files are not imported as required.

[2015-09-29 01:32] emgarten commented on #1479
Restore when passing the project.json file as the input is very limited. It will be treated as a standalone file, and msbuild will not be used. No project to project references will be taken into consideration and the targets will be generated using the directory name.

When restoring the solution file nuget uses the project file name as the name, this may need to be updated to use the same proper

[2015-09-29 06:47] emgarten commented on #1478
There are two issues here.
1) Before re-targeting, does the correct compatibility message show when installing Crittercism into the PCL.
2) Crashing when opening the NuGet UI after re-targeting to net45+wpa81+win81

Are you seeing #1?

I am unable to repro #2. What version of windows 10 tools are you using? I don't have a "Windows Runtime Library (for 8.1)" template, and the Windows Runtime projec

[2015-09-29 07:21] martingem commented on #1478
1) I cannot install Crittecism into a PCL targetting multiple platforms (e.q. in this case Windows Phone 8.1 and Windows 8.1)
2- It is right after, yes. Everything closed from scratch, in a sentence: New Project -> Windows Runtime Library (autotargets v4.6) -> net45+wpa81+win81 -> Manage NugetGet Packages -> throws exception

[2015-09-29 08:15] AArnott commented on #1461
The bug where _all_ targets and props files are imported instead of just one TxF folder's being imported is `doubleImports` branch of the repo linked in the original repro steps.
Should I file a separate bug for the multiple imports problem or should we repurpose (and retitle) this bug to track that? I think you already have another issue tracking the possible DCR of making project.json import fil

[2015-09-29 09:15] emgarten commented on #1461
I've updated the title.

[2015-09-29 09:19] hmemcpy opened #1480 "Packages are missing when selected pre-release option!"
We have a custom feed on MyGet for our pre-release packages.
When I select this feed, and search for the package, when I select "include prerelease", it disappears from the search results.

See gif:
![](http://i.imgur.com/sDo38dk.gif)

Tried with both NuGet 3.2.609... build, and 3.1.607....
Colleague reports this works fine for him with 3.1.607

What should I be looking for?

[2015-09-29 09:38] hmemcpy commented on #1480
Gah! It became obvious after I tried installing it from the console:

My project was .NET 4.5, but the new version requires 4.5.1 at least. There's no way to know this, of course, but the UI doesn't give any hint whatsoever!!
Just disappearing the incompatible packages is bad UX.

[2015-09-29 10:37] Hawkeyes0 commented on #1413
hi,
My Visual Studio's version is 2015. And NuGet's version is 3.2.60914.10516.
My project is a winform project, so there is no file named project.json.

Thx for reply

[2015-09-29 10:42] csharpfritz commented on #1480
The package does not meet your filter, and you want it displayed regardless?

[2015-09-29 10:44] hmemcpy commented on #1480
@csharpfritz well, I didn't know that they didn't meet my filter, so I thought that was a bug. So yes, I would expect them to appear, maybe become grayed out (with a message stating the reason for incompatibility).

The best thing would be for NuGet to offer to upgrade my target framework, but that's another story.

[2015-09-29 12:47] uchinago commented on #1474
No... it is still issue..

[2015-09-29 13:40] maartenba opened #1481 "NuGet.config settings are not enforced between workspaces"
_From @theo-albers on September 29, 2015 13:0_

We have a workspace like this:
- src
  - build
  - build-output
  - solution-folder-1
  - ...
  - solution-folder-n

We have release branches in TFS. We have local NuGet packages with a hard coded version number, so in release branch v1.0 we have NuGet package abc-1.0.0, but in release branch v2.0 we also have abc-1.0.0. The packages are different, c

[2015-09-29 13:40] maartenba opened #1482 "Nuget Pack doesn't include resource files (single localized package approach)"
_From @richieeeeeeee on September 29, 2015 12:10_

Hi,
I try to pack an NugGet package that contains all my localized resource files as described here:
https://docs.nuget.org/create/creating-localized-packages

Unfortunately, the resource DLLs are not included in the packed file. Whats wrong? Here is my nuspec (I removed some attributes like license):

[code]

My output folder of VS 2013 bin\Debug

[2015-09-29 13:44] phil-scott-78 commented on #1458
@remcomulder let me know if you need any help with testing this. I can reproduce pretty consistently.

[2015-09-29 14:05] fubar-coder opened #1483 "nuget update updates packages.config, but not the *.csproj/vcxproj references"
We use "nuget update" in our workflow and I realized that - with NuGet 3.2 - the project files aren't updated any more. It only updates the packages.config. Is there a reason/workaround for this behaviour?

[2015-09-29 14:09] heku commented on #1470
Not only above problem, here is another one.

Attempting to gather dependencies information for package 'EntityFramework.6.1.3' with respect to project 'NugetTest', targeting '.NETFramework,Version=v4.0'
Attempting to resolve dependencies for package 'EntityFramework.6.1.3' with DependencyBehavior 'HighestMinor'
Resolving actions to install package 'EntityFramework.6.1.3'
Resolved actions to insta

[2015-09-29 14:13] fubar-coder commented on #1367
I'm currently unable to provide an Azure VM (due to limited resources), but I'm willing to test it again when the PDB files are available.
@MeniZalzman Any time frame when the PDB files are uploaded?

[2015-09-29 14:16] yishaigalatzer commented on #1367
Symbols are available in symbolsource.org

[2015-09-29 14:16] heku commented on #1470
In addition, I just create a clean console application under.NET 4 by VS15 Community on win10 32bit.
Nuget version is 3.2.60914.10516
![nuget_issue](https://cloud.githubusercontent.com/assets/3367199/10166539/058fa2ce-66f7-11e5-91b2-d842d2db236b.PNG)

[2015-09-29 14:30] heku commented on #1470
Attached the error message when I run 'install-package System.Data.SQLite -dependencyversion highestminor' on above console application.

Package Manager Console Host Version 3.2.0.10516

Type 'get-help NuGet' to see all available NuGet commands.

PM> install-package System.Data.SQLite -dependencyversion highestminor
Attempting to gather dependencies information for package 'System.Data.SQLite.1.0

[2015-09-29 14:33] heku commented on #1470
Feel free to ask me for more details if those could help you.

[2015-09-29 14:39] yishaigalatzer commented on #1470
Can you share a fiddler trace? Are you able to make the http calls from another application (fiddler/browser?)

Sent from my Windows Phone

---

From: Hekumailto:notifications@github.com
Sent: ‎9/‎29/‎2015 7:33 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Cannot install some packages in VS15 Community on Win10 (Both command an

[2015-09-29 14:52] paulhickman-a365 commented on #1138
I had the issue on two machines. On the simplest scenario it was a clean build, with Windows 2012 R2, Visual Studio 2015, SQL Server 2014, iTunes, Chrome and Notepad++ as the only applications installed. Attempting to upgrade NuGet was the first thing I did after installing visual studio. There was no antivirus or similar installed on the server. My log file looks the same as that posted above.

I

[2015-09-29 17:23] #1452 closed, assigned to danliu

[2015-09-29 17:24] danliu commented on #1453
For now, this is no longer a requirement.

[2015-09-29 17:24] #1453 closed, assigned to danliu

[2015-09-29 17:38] yishaigalatzer commented on #1367
@fubar-coder please contact me directly on my microsoft email, and I can hook you up with a VM for this purpose (y i g a l a t z @ ...)

[2015-09-29 17:45] nambrose commented on #1476
Other package installs are working OK.

Install-Package Aspose.Email -Source https://www.nuget.org/api/v2/ - This worked

[2015-09-29 17:57] nambrose commented on #1476
I can trap the exception but even when I add the symbols server into my debugger, I only get an assembly dump. Anything special I have to do to force it to load symbols for NuGet ?

EDIT: Synbolsource.org appears to be down for me...

[2015-09-29 18:07] danliu opened #1484 "Add functional tests for project K"
as to have regression coverage

[2015-09-29 18:07] czfq2b commented on #1138
![installed](https://cloud.githubusercontent.com/assets/13698219/10173662/4c676586-669a-11e5-887c-509e4a358b2b.png)

I'm glad just not me has the issue.  By what is installed on my machine, I'm assuming you mean relating to the IDE, as otherwise the list would be pages.  It is attached.

[2015-09-29 18:07] emgarten commented on #1476
There may be an issue with the Aspose.Email package on v3 based on what you are seeing.

[2015-09-29 18:23] yishaigalatzer commented on #1138
@czfq2b can you try the work around that @paulhickman-a365 has suggested?

[2015-09-29 18:26] yishaigalatzer commented on #1483
This seems pretty serious. We are taking a look.

[2015-09-29 18:58] RickStrahl opened #1485 "Package install error and Rollback"
I have a problem with a package install on my machine. It appears this problem is isolated as others can install the package just fine.

Specifically this relates to Westwind.Globalization.Web version 2.2.0.

When I install this package on my install of VS2015 with the latest NuGet extension installed using the PM console:

[code]

all the dependencies install, but when the actual package installs

[2015-09-29 19:50] AArnott opened #1486 "Support semver-2.0+buildMetadata"
[This doc](http://blog.nuget.org/20140924/supporting-semver-2.0.0.html#BuildMetadata) says Nuget will support build metadata as defined by semver 2.0.0. But in NuGet 3.2 it doesn't work:

[2015-09-29 20:04] fubar-coder commented on #1367
@yishaigalatzer It's still unable to download the symbols from symbolsource.org. Maybe it's a configuration problem on my side? However, I'm not sure if a VM really works as it doesn't happen on every PC I have access to.

[2015-09-29 20:31] czfq2b commented on #1138
This didn't work for me, In fact VS 2015 is now trashed and I am repairing it.  :8ball:

[2015-09-29 21:29] emgarten commented on #1486
Pack is still using NuGet.Core 2.8.6 which does not support semver 2.0.0.

[2015-09-29 21:48] emgarten commented on #1485
Try clearing %userprofile%\.nuget\packages

[2015-09-29 22:33] RickStrahl commented on #1485
Deleted - it was there, but after deleting and restarting it's still not working from the official package source. Locally it works.

I don't get what the problem could be - file comparison shows exact same files in the local and remote packages so this is really bizarre.

[2015-09-29 23:12] emgarten commented on #1486
Dupe of https://github.com/NuGet/Home/issues/1359

[2015-09-29 23:12] #1486 closed, assigned to nobody

[2015-09-29 23:16] emgarten commented on #1485
Does it work from: install-package westwind.globalization.web  -version 2.2.0 -source https://www.nuget.org/api/v2/

Are there any errors related to nuget in your Visual Studio ActivityLog.xml ?

You can also remove %localappdata%/nuget/v3-cache

[2015-09-29 23:19] emgarten commented on #1482
What version of nuget.exe are you using? Running nuget.exe with no parameters will show you.

[2015-09-29 23:20] RickStrahl commented on #1485
So I created a new package (had some updates anyway) and that is now working properly. I'll circle back tonight and will try the -source install. But this is all very mysterious since the failing package work in VS2013, for many others and from local install, but not from Web even after blowing away all the the package cache folders.

I guess chalk that one up to Murphy's Law against me again :-)

[2015-09-29 23:28] emgarten commented on #1481
NuGet does not look at workspaces and it is difficult to tell what is going on here from the folder structure.

There was previously an issue with relative paths in nuget.config. Does it work if you change these to absolute paths?

You can also try running nuget.exe sources   from the solution folders to see what the sources are.

[2015-09-30 01:29] emgarten opened #1487 "Display source information before starting nuget.exe operations"
Display source information before starting nuget.exe operations

This should be done for Restore.
Install and Update could use this also.

[2015-09-30 01:43] heku commented on #1470
OK, will let you know once I come back from my hometown, I`ll have a 7 days holiday since tomorrow.

[2015-09-30 04:40] AArnott commented on #1486
But #1359 is already closed (as won't fix, evidently). Might this issue be considered as a request for a subset of semver-2.0? (one that can be done without all the breaking changes brought in by the rest of semver-2.0?

[2015-09-30 06:46] richieeeeeeee commented on #1482
Nuget Version 2.8.60717.93

[2015-09-30 07:29] maartenba commented on #1476
Not able to reproduce this issue either. @nambrose can you run the following requests using curl or Fiddler and see if they return data?
- `https://api.nuget.org/v3/registration1/aspose.email/index.json` should return a JSON document. The last entry of this document should have `packageContent: "https://api.nuget.org/packages/aspose.email.5.7.0.nupkg"` in it
- `https://api.nuget.org/packages/aspos

[2015-09-30 13:01] theo-albers commented on #1481
Thanks for the quick reply. I know about the relative path issue, something we ran into before and has been fixed by the latest nuget version.
Anyway I replayed the whole story once more to see if I could reproduce it and guess what: I can't. The best thing would be to close the ticket. Maybe the problem was related to my machine state. We open and close various solutions during the day. I have to

[2015-09-30 16:37] emgarten commented on #1448
Fixed with https://github.com/NuGet/NuGet3/commit/0669fceea385affb4d9f85721e3abeb9ea2f84ac

[2015-09-30 16:38] emgarten commented on #1427
I've updated the constant to the original NuGet.Config casing.
NuGet/NuGet3@39c7f5173f5acc5999fc7aaea436df449e72cce9

[2015-09-30 16:39] emgarten commented on #1426
NuGet/NuGet3@652c55ffd59f99c2175b958017a1e1ef3e96fd40
NuGet/NuGet.PackageManagement@a12484c3e03818878f294ce233216d85d481021d
NuGet/NuGet.PackageManagement@f4165c27f32c809cbeb6c6f8ec5c17b0feda443b

[2015-09-30 16:40] emgarten commented on #1321
NuGet/NuGet.PackageManagement@f4165c27f32c809cbeb6c6f8ec5c17b0feda443b
NuGet/NuGet3@35d6d170c8cfee244f36fd84d9a87c23b6a54956

[2015-09-30 16:41] emgarten commented on #1227
NuGet/NuGet.PackageManagement@4c04f8955b5523014a6d28c99ff7073e80b1424a

[2015-09-30 16:50] pranavkm commented on #1427
Why not use `nuget.config`? `NuGet.Config` is incredibly easy to mess up on a case sensitive platform.

[2015-09-30 16:55] danliu commented on #1420
Not required anymore.

[2015-09-30 16:55] #1420 closed, assigned to feiling

[2015-09-30 17:14] yishaigalatzer commented on #1427
Because that was how it always worked. Changing it is a breaking change.

[2015-09-30 17:24] pranavkm commented on #1427
The current change will break DNX builds - https://github.com/aspnet/dnx/commit/8e31f4f61e8960544e0f9e63c152e00725e187e3 (NuGet.Config → NuGet.config)

If the intent is to not break, then just supporting multiple casings would be the appropriate fix.

[2015-09-30 17:34] yishaigalatzer commented on #1427
The ask came from your team, to revert back to what it always was.

CC @davidfowl

[2015-09-30 18:04] danliu commented on #1419
It would be best to validate against latest web tools changes. Will start when build is ready.

[2015-09-30 18:20] #1483 closed, assigned to deepakaravindr

[2015-09-30 18:30] deepakaravindr commented on #1322
https://github.com/NuGet/NuGet.PackageManagement/commit/bff6cc98060b02e91a221ce2108ba710bb922e81 added most of the P0 tests.

Can add more tests around the following
1. Show a warning or message if there are no updates
2. packages with content files,
3. fileconflictaction and more

[2015-09-30 18:49] deepakaravindr opened #1488 "Installing a package with a .Nupkg extension fails. Works for .nupkg extension"
Installing a package with a .Nupkg extension fails. Works for .nupkg extension

Repro steps:
1. Create a folder containing a package, say, A.1.0.
2. Make sure that package A's file name is A.1.0.Nupkg.
3. Create a Console Application in VS.
4. Open Powershell Console in VS.
5. Install-Package A

Expected:
Package A gets installed into the Console application.

Actual:
![image](https://cloud.github

[2015-09-30 19:02] deepakaravindr opened #1489 "nuget.exe update with no updates available does not show proper message"
nuget.exe update with no updates available does not show proper message.

Repro steps:
1. Create a Console Application
2. Create a package source <folderOfNupkgs> with a package, say, A.1.0.nupkg
3. Install-Package A -Source <folderOfNupkgs> from Powershell console
4. Go to cmd. Run 'nuget.exe update <projectFilePath>'

Expected:

Shows a message saying that 'There are no available updates.'

Actu

[2015-09-30 19:14] deepakaravindr opened #1490 "nuget.exe update does not update packages if some of the packages are inaccessible"
nuget.exe update does not update packages if some of the packages are inaccessible.

If there are 2 packages A and B installed to a project and there is 1 package source X. package source X has updates for A, but, there is no package B on X.

[NOT A REGRESSION from nuget.exe 2.8.*. Is this by design?]

Repro steps:
1. nuget.exe update <projectFile>

Expected:
Package A gets updated OR there is a c

[2015-09-30 19:29] fubar-coder commented on #1490
It is a regression from 2.8, because this did work there. Now I have to pass the "packages" folder as source to get NuGet.exe to update all other packages just from a single source...

[2015-09-30 19:29] #1157 closed

[2015-09-30 20:18] feiling commented on #1430
Some screenshots:

![image](https://cloud.githubusercontent.com/assets/2679220/10205350/938fb5b8-6775-11e5-9aff-69ae2b857d11.png)

![image](https://cloud.githubusercontent.com/assets/2679220/10205361/a5704608-6775-11e5-9e25-398c4b85530d.png)

[2015-09-30 20:20] feiling opened #1491 "UI change: change class SearchResultPackageMetadata to match the new UI design"

[2015-09-30 20:21] feiling opened #1492 "UI update: improve "Installed" tab performance"

[2015-09-30 20:23] feiling opened #1493 "UI update: improve "Updates" tab performance"

[2015-09-30 20:23] feiling opened #1494 "UI: improve "Browse" tab performance"

[2015-09-30 20:38] gravidThoughts commented on #1475
@emgarten

https://api.nuget.org/v3/index.json

I cannot get V3 source to work at all. It just sits on loading animation whenever I switch to that source.

It takes a couple of minutes.

Does a v3 source work with package manager from VS 2013?

[2015-09-30 20:51] #467 closed

[2015-09-30 21:02] emgarten commented on #1475
VS 2013 does not have v3 source support.

From what you have described it sounds like the network calls are not making it to the server. V2 and V3 sources could be timing out in different ways due to the same issue.

Would you be able to run fiddler or another tool to view the network calls and see what is happening on your network?

[2015-09-30 23:07] nambrose commented on #1476
Yes,I  can download via that link and successfully unzip

and my JSON seems OK too ?
JSONLint validates it ...

[2015-09-30 23:17] danliu opened #1495 "Null ref exception when calling nuget.exe update with packages not present under Packages folder"
c:\school>nuget.exe update WebApplication4\WebApplication4\WebApplication4.csproj
MSBuild auto-detection: using msbuild version '14.0' from 'C:\Program Files (x86
)\MSBuild\14.0\bin'.
Attempting to gather dependencies information for multiple packages with respect
 to project 'c:\school\WebApplication4\WebApplication4\WebApplication4.csproj',
targeting '.NETFramework,Version=v4.0'
Object reference

[2015-09-30 23:20] danliu opened #1496 "No information was given when calling nuget.exe update *.csproj while the project does not have a packages.config"
c:\school>nuget.exe update "C:\Users\danliu\Documents\Visual Studio 2015\Project
s\UAPApp\UAPApp.csproj" -repositorypath c:\school
MSBuild auto-detection: using msbuild version '14.0' from 'C:\Program Files (x86
)\MSBuild\14.0\bin'.

There is no packages.config in UAP app. The call above should have emitted a message saying "No packages.config was found".

[2015-09-30 23:26] danliu opened #1497 "NuGet.exe update should complete package resolution before updating"
Sometimes it will go ahead with the update, and then roll back after discovering that the target framework is not compatible.

c:\school>nuget.exe update "C:\Users\danliu\Documents\Visual Studio 2015\Project
s\WpfApplication1\WpfApplication1\packages.config" -pre
MSBuild auto-detection: using msbuild version '14.0' from 'C:\Program Files (x86
)\MSBuild\14.0\bin'.
Attempting to gather dependencies

[2015-09-30 23:40] danliu opened #1498 "NuGet.exe update does not replace the content files"
c:\school>nuget.exe update SilverlightApplication1\SilverlightApplication1.sln
....
Removed package 'jQuery 1.4.4' from 'packages.config'
Successfully uninstalled 'jQuery 1.4.4' from SilverlightApplication1.Web.csproj
For adding package 'jQuery.2.1.4' to project 'SilverlightApplication1.Web.csproj
' that targets 'net452'.
For adding package 'jQuery.2.1.4' to project 'SilverlightApplication1.Web.cs

[2015-10-01 01:26] deepakaravindr commented on #1495
Couple of quick points on this issue
- Same issue exists with nuget.exe 2.8.6, in that, the old nuget.exe does not do anything
- In addition, if the packages folder is not present, there is an error message, both on 2.8.6 and 3.2.*. So, default TFS scenario should not be a problem per se. However, there is a problem when there is a packages folder, yes.

[2015-10-01 02:07] yishaigalatzer commented on #1157
Also - https://github.com/NuGet/NuGet3/commit/1b2bbafa99f6382375810f8b934922efe34d1126

[2015-10-01 02:07] yishaigalatzer commented on #1405
Fixed with:
https://github.com/NuGet/NuGet3/commit/1b2bbafa99f6382375810f8b934922efe34d1126
https://github.com/NuGet/NuGet3/commit/00053876b86fd29b46bfdaccb76dfd5ceba7701b

Duplicate of https://github.com/NuGet/Home/issues/1157

[2015-10-01 02:07] #1405 closed, assigned to yishaigalatzer

[2015-10-01 02:09] yishaigalatzer commented on #1386
Fixed with https://github.com/NuGet/NuGet3/commit/00053876b86fd29b46bfdaccb76dfd5ceba7701b

@emgarten please close when the 2 commits are ported over to NuGet.Client

[2015-10-01 02:11] yishaigalatzer commented on #1475
Regardless of if we can help this user, this error message should be improved and provide some more input as to what timed out while making what request.

[2015-10-01 02:12] yishaigalatzer commented on #1474
Do other online connections work for you (like extensions and updates)?

[2015-10-01 02:12] deepakaravindr commented on #1495
@yishaigalatzer  @johnataylor

This problem does not happen on the UI, because, UI always restores packages before performing any action such as Install, Uninstall or Restore.

The null ref comes from https://github.com/NuGet/NuGet.PackageManagement/blob/dev/src/PackageManagement/NuGetPackageManager.cs#L577. I believe that it is not a simple fix to simply handle when packageInfo is null, because o

[2015-10-01 02:32] danliu commented on #1496
In 2.8.6, it says "Cannot find the packages folder, please use -RepositoryPath switch to specify it". Then I added that switch, still got the same message back.

So the behavior was different in 2.8.6, though not a proper behavior either.

[2015-10-01 02:38] danliu commented on #1498
In 2.8.6, after nuget.exe update, in scripts folder, 2.1.4 version of scripts were added, whereas 1.4.4 versions were removed. It left behind warning signs for jQuery-1.4.4.js etc. In 3.2.1, we left behind 1.4.4 versions.

Screenshot for 2.8.6

![default](https://cloud.githubusercontent.com/assets/1087852/10211705/ad756f7e-67aa-11e5-9109-5ed90f051805.PNG)

[2015-10-01 02:39] danliu commented on #1498
IMO, since we can update the references in IDE after nuget.exe update, can we also update content as well.
Right now, behaviors in both 2.8.6 and 3.2.1 are not ideal.

[2015-10-01 02:55] danliu commented on #1497
This is a regression.

With 2.8.6, nuget.exe was able to complete.

[code]

[2015-10-01 02:58] danliu commented on #1497
To repro, create a new WPF application and install the following:

Restsharp -version 105.1.10
LanguageExt -version 1.0.0
Castle.core -version 3.3.0
Unity -version 3.5.1405-prerelease -pre

then call nuget.exe update -pre

[2015-10-01 06:16] emgarten commented on #1486
What subset are you looking for? build metadata?

[2015-10-01 07:24] ToineSeiter commented on #604
I solved my error like you. The issue was due to my MVC project file.
My workaround :
- create a new MVC project,
- import all the Nuget packages I want,
- import my code in this project.

[2015-10-01 11:06] wabirch opened #1499 "NuGet Package Manager in VS 2015 not adding reference to assemblies whose name ends in .Resources"
When using the NuGet package manager to install a package containing an assembly whose name ends in .Resources, the package installs correctly but a reference to that assembly is not added to the project.

Tools: -
- Visual Studio Enterprise 2015 v4.6.00081
- NuGet Package Manager for Visual Studio 2015 v3.2.60914.10516

.nuspec file:

[code]

.nupkg contents: -

All 6 of the assemblies are empty

[2015-10-01 16:13] yishaigalatzer commented on #1123
Done

[2015-10-01 16:13] #1123 closed

[2015-10-01 16:31] pranavkm commented on #1123
FYI - the default document rule isn't working as yet. https://dist.nuget.org/ produces an error from the blob store.

[2015-10-01 16:33] yishaigalatzer commented on #1123
Yes, I know the rule was not deployed to CDN

From: Pranav K [mailto:notifications@github.com]
Sent: Thursday, October 1, 2015 9:31 AM
To: NuGet/Home Home@noreply.github.com
Cc: Yishai Galatzer yigalatz@microsoft.com
Subject: Re: [Home] Add static index.html to dist.nuget.org (#1123)

FYI - the default document rule isn't working as yet. https://dist.nuget.org/https://na01.safelinks.protection.out

[2015-10-01 16:56] yishaigalatzer commented on #1406
The -NoCache option is a misnomer, it means always download the packages (but they will still make it into the cache).

Looking at our current backlog, this seems relatively low priority.

[2015-10-01 17:29] RanjiniM opened #1500 "NuGet should indicate the credentials (or lack thereof) used when trying to access a private feed"
This is not a regression

When trying to restore from an authenticated feed whose credentials aren't specified in nuget.config a message "Please provide credentials for feed <feedname>" is displayed
1. in White
2. Doesn't specify that the credentials should be specified in nuget.config in <packageSourceCredentials> section
3. And an username prompt is emitted but the command continues to run witho

[2015-10-01 18:49] zlrenner opened #1501 "Push always sends entire package twice with authenticated package sources"
...or alternatively stated: push continues to send entire request even after server responds with an error (e.g. 4XX).

When pushing to an authenticated feed, push continues to send the entire request, even if the server has already seen the headers and determined that the request is invalid (e.g. due to authentication).

Something like "Expect: 100-Continue" and/or pre-authenticate should be used

[2015-10-01 19:53] veleek commented on #1464
This appears to be working with v2 instead of v3.  What is the process of getting a package properly registered with v3?

[2015-10-01 20:18] yishaigalatzer commented on #890
NuGet is currently using the packaging APIs rather than ZipArchive. There is a possible potential for improvements, but this doesn't seem to be high on the immediate to do list

[2015-10-01 20:22] yishaigalatzer commented on #1418
We should only use runtime.json from one package, since we don't actually allow multiple versions of the same package in the compile time graph.

[2015-10-01 20:40] yishaigalatzer commented on #1457
We are not clear on why this package is trying to mix the runtime.json and the runtime folder.

Are you seeing the error we are seeing:

![image](https://cloud.githubusercontent.com/assets/1238711/10233176/dd012444-6841-11e5-9f59-22181cc28a42.png)

[project.lock.json.txt](https://github.com/NuGet/Home/files/6369/project.lock.json.txt)

[2015-10-01 20:47] zarenner opened #1502 "Push doesn't use apiKey for service index when talking to PackagePublish/2.0.0 service"
The apiKey must currently be set using the URL for the PackagePublish/2.0.0 service, rather than the service index.  The service index url should (also) work, but does not.

This means that a user has to first try to push, see the message:

"WARNING: No API Key was provided and no API Key could be found for 'https://<v2_push_service>'. To save an API Key for a source use the 'setApiKey' command."

[2015-10-01 20:50] yishaigalatzer commented on #1457
We think we do have a bug on our side, but we also think the package shouldn't be factored this way. Put all the runtimes in the runtime package

[2015-10-01 20:54] yishaigalatzer commented on #964
Conslusion: RIDs are case sensitive.

We recommend that from now on you make all of them lower case, and we can consider enforcing it on pack and server uploads.

[2015-10-01 21:10] ericstj opened #1503 "Nuget is dropping packages from the TFM/RID on first restore"
I'm seeing that on first restore some packages are present in the TFM target but absent from the TFM/RID target.  This only seems to happen if the packages haven't already been downloaded, so make sure to do this on a fresh packages folder with no project.lock.json.

Repro project.json

[code]

Restore using the command:

[code]

This runs successfully and produces a lock file.  Examine the TFM ta

[2015-10-01 21:41] feiling opened #1504 "UI: Allow multiple selection of packages in Updates tab"

[2015-10-01 21:55] knudmt commented on #708
this thread is a bit old, did support for this ever get pushed in a release?

[2015-10-01 22:31] yishaigalatzer commented on #708
No progress was made, and this is not going to make it into 3.3

[2015-10-01 22:34] zhili1208 commented on #1227
verified this, it's fixed in 3.2.1

[2015-10-01 22:34] #1227 closed, assigned to emgarten

[2015-10-01 22:39] danliu commented on #1484
https://github.com/NuGet/NuGet.Client/pull/4

[2015-10-01 22:47] zhili1208 commented on #1426
verified restore command, it's fixed and @deepakaravindr verified install.

[2015-10-01 22:47] #1426 closed, assigned to emgarten

[2015-10-01 23:04] ericstj commented on #890
I tested ZipArchive when I created this bug and didn't find much benefit.  I also tried some other zip utilities with different compression quality and didn't see much benefit.

LZMA on the binaries showed some major wins ~2/3 the size of zip, much greater when files were very similar as would be the case for cross-compiled implementations.  Also potentially using other compression tech for XML co

[2015-10-01 23:40] yishaigalatzer commented on #890
The down side of fancier compressions means breaking compat with older clients.

Sent from my Windows Phone

---

From: Eric StJohnmailto:notifications@github.com
Sent: ‎10/‎1/‎2015 4:04 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Nupkg compression is bad (#890)

I tested ZipArchive when I created this bug and didn't find muc

[2015-10-02 00:03] ericstj commented on #1503
/cc @chcosta who found this.

[2015-10-02 00:04] ericstj commented on #890
You could do it on the server.  If the client tells you it supports the new format, give it to them.  Otherwise give them the old format.

[2015-10-02 00:25] yishaigalatzer opened #1505 "Additional potential corruption when downloading packages"
See - https://github.com/NuGet/NuGet3/commit/00053876b86fd29b46bfdaccb76dfd5ceba7701b#diff-81ea29218a578d3a3f3492f0b1e45b32R122

The code writing the hash is not Atomic, so that hash can be corrupt.

The right code should

[code]

[2015-10-02 00:26] yishaigalatzer commented on #1505
The good news is that this is a dormant bug, because nothing is currently looking at the hash, and if/when it does it will just replace the package.

[2015-10-02 00:29] yishaigalatzer commented on #1502
@zarenner good catch. Pushing this out post 3.3 unless you want to PR, in that case we will bring it back.

[2015-10-02 00:47] yishaigalatzer opened #1506 "Package manager doesn't load for any project in the solution"
When one of the project has a corrupt (or empty) project.json, manage packages for project UI does not load, and manage packages for solution is disabled.

Why?

In:

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/PackageManagement.VisualStudio/IDE/VSSolutionManager.cs#L506

The solution manager tries to initialize the cache, and if it fails it catches any exception bubbling up a

[2015-10-02 01:18] ericstj commented on #1457
Yeah, that was a bug in System.Threading that was fixed in the latest version.  http://www.myget.org/F/dotnet-core/api/v2/package/System.Threading/4.0.11-beta-23401

I fixed the bug when I saw this, but the behavior from nuget was clearly wrong so I filed this bug.

We never saw this before because I never had a package that only had an AOT asset without having a non-AOT asset.

[2015-10-02 01:43] csharpfritz commented on #890
Not everyone is using Nuget.org as a server.  I think this needs to be thought through further to have a migration strategy with compatibility for older clients considered.

[2015-10-02 03:16] yishaigalatzer commented on #1506
After the suggested fix, all other projects will load fine, and the project that is failing will show -

![image](https://cloud.githubusercontent.com/assets/1238711/10238790/4288f198-6879-11e5-9008-5042bbc29bcf.png)

The same error will be shown by manage packages for solution

[2015-10-02 03:58] ericstj commented on #890
@csharpfritz of course.  I'm not suggesting anything breaking here.  As I mentioned it can be something opt-in by the client, and optional from the server.  Sort of how Accept-Encoding and Content-Endcoding work with HTTP: client tells server it can understand the new format.  Server tells client what format its giving it.

[2015-10-02 08:02] spetroll opened #1507 "Sqlite seems to be installed, but is only added to packages.config and not referenced by the Project"
Hi,

After installing System.Data.Sqlite with either the NuGet GUI or the console, it is still missing the references.

[code]

This is added into my `packages.config` and the corresponding folders show up in my `packages`-folder. However, in this folder there is only the `System.Data.SQLite.1.0.98.1.nupkg` file. I tried reloading VS, reinstalling the package, but the `dll` keeps missing. I can ad

[2015-10-02 09:22] pavelhritonenko commented on #624
Nuget package 0.31.2 have this issue again: https://api.nuget.org/packages/suave.0.31.2.nupkg

![image](https://cloud.githubusercontent.com/assets/2510026/10243292/49520d66-6900-11e5-8114-21a2a379b0ad.png)

[2015-10-02 11:38] JamesNK commented on #1327
@Pilchie When do you expect the change to make writing NuGet DLLs to the output directory to be the default will be released?

Unit test runners like ReSharper expect DLLs to be in the output directory on build and currently nothing from NuGet gets copied. Hard to run nunit tests with no nunit dll!

[2015-10-02 11:54] jeff-r-skillrev opened #1508 "Referencing a WinRT component generates a warning, no implementation found for winmd"
I'm in a similar situation to @furmek on #1221 but my project is a WinRT component written in C++. I have a .winmd and 3 architecture specific .dll files (x86, x64, and ARM), but my .dll is NOT managed. As such, I can't use corflags to convert it to a reference implementation.

My existing solution works, but I get a warning about it not being able to find the implementation for lib\uap10.0\curve2

[2015-10-02 12:07] Pilchie commented on #1327
With the next VS Update. In the meantime you can set <CopyNuGetImplementations>true</> in your project file instead of just using /p on the command line.

[2015-10-02 15:06] tom-englert commented on #304
@tmat https://github.com/dotnet/roslyn/tree/master/src/Test/PdbUtilities/Pdb does not use these interfaces, but https://github.com/dotnet/roslyn/tree/master/src/Debugging/Microsoft.DiaSymReader.PortablePdb, which I can't find anywhere as a package.

[2015-10-02 16:30] oliver-feng commented on #708
VSO has a similar solution which is in beta, and they will contribute back
once that's ready.

On Thu, Oct 1, 2015 at 3:31 PM, Yishai Galatzer notifications@github.com
wrote:

[2015-10-02 17:00] yishaigalatzer commented on #1508
Can you clarify a bit more about your scenario.

Are you trying to install your package into a C++ project? Or are you building your package in a C++ project but expect it to be consumed by C++ and C# projects (basically all project types)

 CC @ericstj @MeniZalzman @csharpfritz - Docs for this need to go live ASAP

[2015-10-02 17:03] yishaigalatzer commented on #1507
How did you install the package? This package has dependencies, that seem to be missing from your packages.config. The package itself has no dlls in it.

[2015-10-02 17:29] yishaigalatzer opened #1509 "Too aggressive caching of TFM might have side effects"
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.ProjectManagement/Projects/BuildIntegratedNuGetProject.cs#L56

As I was fixing a bug in this code, I noticed that the TFM from project.json is grabbed once, and never updated when project.json changes (couldn't find any trigger that will change this).

I'm not sure where the data is being used, and what side effects it might had.

[2015-10-02 17:31] yishaigalatzer commented on #1507
From what I can tell, this package does not install correctly in Visual Studio 2015 + NuGet 3.2, but does work on Visual Studio 2013

[2015-10-02 17:32] jeff-r-skillrev commented on #1508
In my case, I am consuming a C++ WinRT component in a C# class library. For the purposes of this issue, I'm primarily concerned with using my WinRT component from a managed library, but will eventually verify it can also be consumed from a C++ library.

-----Original Message-----
From: "Yishai Galatzer" notifications@github.com
Sent: ‎10/‎2/‎2015 22:30
To: "NuGet/Home" Home@noreply.github.com
Cc:

[2015-10-02 18:07] mellinoe opened #1510 "System.Numerics.Vectors fails to install in an F# project"
Hi, I'm resubmitting this issue over here, because I believe it may be a NuGet-specific issue:

https://github.com/dotnet/corefx/issues/3103

It is a pretty standard package, but it fails to install properly in an F# project. The main problem is that a <HintPath> element isn't emitted into the reference in the project file. This is probably because System.Numerics.Vectors exists in the .NET 4.6 re

[2015-10-02 18:08] zhili1208 commented on #1447
used Visual studio order for sorting. close this task.

[2015-10-02 18:08] #1447 closed, assigned to zhili1208

[2015-10-02 18:15] vtbassmatt opened #1511 "Dependency range lower bound incorrect in VS"
[Per the docs](http://docs.nuget.org/Create/versioning#Specifying-Version-Ranges-in-.nuspec-Files), a dependency range `<dependency id="StrictlyGreaterThan" version="(1.0,)" />` means 1.0 < x, which is mathematically equivalent to x > 1.0. But the IDE shows: `StrictlyGreaterThan (≥ 1.0.0)`. See screenshot. This is VS 2015 with VSIX 3.2.60914.10516.

![image](https://cloud.githubusercontent.com/ass

[2015-10-02 18:36] vtbassmatt commented on #1460
I can't repro consistently. I will reactivate if I get a consistent repro. Probably garbage in my nuget.config.

[2015-10-02 18:36] #1460 closed, assigned to deepakaravindr

[2015-10-02 18:48] zhili1208 commented on #1284
it's fixed in 3.2, close this bug

[2015-10-02 18:50] zhili1208 commented on #755
it's fixed in 3.2, close this bug

[2015-10-02 18:50] #755 closed

[2015-10-02 19:24] yishaigalatzer commented on #1507
Actually that was just a bug in my private build of NuGet. I can see the package installed correctly and also the references

![image](https://cloud.githubusercontent.com/assets/1238711/10255625/8219ffaa-6900-11e5-9e6a-4bd7fcbe2782.png)

[2015-10-02 20:01] deepakaravindr commented on #1498
Note that nuget.exe update cannot update content files properly, since, nuget.exe MSBuild API to edit the csproj file with references. However, it cannot do the same for content files, since, they could be under solution folders and we need ProjectItemContainers to handle this. This is true for 2.8 as well as already stated. Note that nuget.exe update also does not delete old versions of the packa

[2015-10-02 20:19] csharpfritz commented on #1106
Added statements clarifying the pack action

[2015-10-02 20:19] #1106 closed

[2015-10-02 21:00] yishaigalatzer commented on #1510
Looks like the F# project system returns the path to the DLL unlike what C# does. So the hack in nuget working around the project system issues for C# is skipped.

See code - https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/PackageManagement.VisualStudio/ProjectSystems/VSMSBuildNuGetProjectSystem.cs#L356

And screenshot

![image](https://cloud.githubusercontent.com/assets/1238711/1

[2015-10-02 21:22] yishaigalatzer commented on #1510
I'm assuming at this point that the fix will happen in the F# project system, alternatively if we can get a guaranteed longterm and backwards compatible reliable behavior from the F# project system we can introduce the fix here.

[2015-10-03 02:10] #1498 closed, assigned to deepakaravindr

[2015-10-03 03:19] AArnott commented on #1486
Yes, per the example and issue title.

[2015-10-03 05:40] GERMANOCARELLA opened #1512 "Can I use Package manager console powershell outside visual studio?"
I know it is nuget.exe, but it doesn't have uninstall command, find-package command etc. I uninstalled visual studio and I must uninstall some packages from nuget, but, without vs i can't do this. There is a way to run package manager console powershell outside visual studio?

[2015-10-03 06:36] davidfowl commented on #1512
Nope

[2015-10-03 10:48] adamralph commented on #522
Why have solution level packages been deprecated? Was this announced somewhere?

Just about everything I work on relies on solution level packages and is now broken!

[2015-10-03 10:59] adamralph commented on #522
And would it be fair to say that they have not just been "deprecated"? It would seem that the feature has in fact been removed.

[2015-10-03 17:07] yishaigalatzer commented on #522
Yes it was removed. We do think this was not a good decision and we are devising a way to bring it back in a more sane way. The alternative in Visual studio 2015 is to put packages in a project.

[2015-10-03 18:15] yishaigalatzer commented on #1512
There is no way to do that outside visual studio. You can remove the references manually (content is a bit trickier).

[2015-10-03 18:15] #1512 closed, assigned to nobody

[2015-10-03 20:44] dmccaffery commented on #522
It's become a non-issue for me, as it just doesn't make any sense in the world of DNX. For the MsBuild project system, I was able to write a PowerShell module to handle scenarios where I used to use solution level packages.

In reality, a solution-level package in its previous implementation was nothing more than a dump of assets and a PowerShell script that gave you an opportunity to do something

[2015-10-03 21:02] shrimpy opened #1513 ""Published" field is always null"
We are using below library.

[code]

Notice that publish date seems to be always null from below code, while we can see there is data from payload.

[code]

print metadata:

[code]

GET http://www.siteextensions.net/api/v2/Packages(Id='filecounter',Version='1.0.19')

[code]

[2015-10-04 10:49] sliekens commented on #787
@yishaigalatzer @MeniZalzman  I just joined the party and it looks like this is still not fixed.

Last info log before the build crashes

This is the error

[2015-10-04 12:11] sliekens opened #1514 "NuGet still fails to pack PCL libraries"
Relates to: https://nuget.codeplex.com/workitem/4013
Relates to: #1106

The above issues were closed without a fix, so I'm opening a new one. Third time's the charm, right?
# tldr; nuget 2.8.8 and 3.2.0 use a broken version of AssemblyMetadataExtractor
##### The Scenario

PCL profile 151 (.NET 4.5.1, Windows 8.1, Windows Phone 8.1)

[code]
##### The Command

[code]
##### The Error

[code]
##### Th

[2015-10-04 12:16] sliekens commented on #1514
Please treat with the highest priority.

Repro: https://github.com/StevenLiekens/MyPortableLib

I spent a lot of time digging around the sources to figure out why this is happening and I will personally come to your home and slap your face if you close this issue without a fix.

[2015-10-04 15:24] yishaigalatzer commented on #787
Hey Steven we are in another change mode. The home build was failing in various cases and we are moving to a simpler model.

We will document in details but here is the jist:

Pre requisites:
Vs 2015 with window 10 tools, visual studio SDK and ASP.net 5 beta7

Clone nuget.client, use the dev branch
Run Build.ps1

You will see two solutions
Core and clients

The first builds xproj projects and gene

[2015-10-04 16:19] adamralph commented on #522
@dmccaffery the utility of solution level packages is wider than that. I use it for a number of tools packages, e.g test runners.

Incidentally, in most of my OSS projects, PowerShell is a no-go since they x-plat from the ground up. Yet I still find solution level packages very useful in those projects.

[2015-10-04 17:36] yishaigalatzer commented on #522
Adam - you can put these packages in a project now.

There is a downside (which is why we will bring it back) where the project wont round trip with vs 2013.

---

From: Adam Ralphmailto:notifications@github.com
Sent: ‎10/‎4/‎2015 9:19 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Solution-level packages are no longer working i

[2015-10-04 18:34] adamralph commented on #522
That's probably enough of a downside for me to keep using 2.x until it's been reintroduced to 3.x.

Even without that downside, it's not logical for these packages to be installed in a project. They are almost always used to operate on the solution as a unit, e.g .NuGet.CommandLine to restore all packages, or on a group of projects, e.g. xunit.runner.console to run against a group of test assembli

[2015-10-04 18:58] yishaigalatzer commented on #522
I get your point.

A few pieces of feedback:

The idea is that you put it in some common project.

Also using restore as part of msbuild is broken for many packages and we recommend using nuget in a pre build script. It mostly impacts packages using msbuild targets.

---

From: Adam Ralphmailto:notifications@github.com
Sent: ‎10/‎4/‎2015 11:34 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yi

[2015-10-04 19:05] adamralph commented on #522
The common project pattern feels messy. What if I don't already have one? Would I create one specifically for this purpose?

I don't use restore as part of MSBuild. I use NuGet.CommandLine to restore in a pre-build script. I do this by committing `packages/Nuget.CommandLine` to the repo, but I ignore the rest of `packages/`. I realise I could put NuGet.exe in it's own special folder or even bootst

[2015-10-04 19:27] yishaigalatzer commented on #522
This makes complete sense. I didn't realize people are using the command line package this way.

The reason this is not so great with git I that many people frown on checking binaries in a git repo. So bootstrapping is the mechanism we favor and recommend, and why we introduced the latest download link (initially on nuget.org/nuget.exe and now the more obvious one on dist.nuget.org).

When it come

[2015-10-04 19:42] adamralph commented on #522
@yishaigalatzer thanks, that sounds good. I'll watch the new issue and chime in if I can add anything.

I like the idea of making it explicit, rather than based on sniffing the content.

In the case of NuGet.exe, the bootstrapping approach is indeed compelling and I may switch to it. Incidentally, when using a .NET based build system, such as Bau, the bootstrapping comes for free, since NuGet.Comm

[2015-10-05 06:36] spetroll commented on #1507
Steps I did:
- Start new Console Application
- Open PacketManager GUI
- Select System.Data.Sqlite
- Refreshed the solution explorer after install

![image](https://cloud.githubusercontent.com/assets/140701/10274267/0f066538-6b3c-11e5-812b-681333b30eb2.png)

It adds the dependencies just right, but in my project only `EntityFramework` and `EntityFramework.SqlServer` is referenced.

[2015-10-05 13:04] richieeeeeeee commented on #1482
Any update? Its a fundamental feature, wondering if others have the same problem?

[2015-10-05 14:44] yishaigalatzer commented on #1514
The CodePlex repo has been abandoned for a long time now, and we do not monitor it at all (as it says on every page there). So thanks a lot! for bringing it to our attention.

On another issue I believe asked about fixing the code yourself. The NuGet core code relevant code is at https://github.com/NuGet/NuGet2/blob/dev/src/Core/Authoring/AssemblyMetadataExtractor.cs#L69

[2015-10-05 15:29] NVentimiglia commented on #1325
@ericstj That worked. I manually adjusted my nupkg file with a target for portable-net45+win+wpa81+wp80+SL5+Xamarin.iOS10+MonoAndroid10+MonoTouch10

[2015-10-05 15:31] yishaigalatzer opened #1515 "Need to make changes to NuGet when csproj moves to CPS"
From @aarnott

I experienced a long hang in VS. I "filed" this against Xamarin but wanted to make you all aware since it took a chain of behaviors for the hang to reproduce:
http://forums.xamarin.com/discussion/52746/xamarin-android-hangs-vs-for-long-periods

Switching csproj.dll to CPS allows for asynchronous design-time builds. But NuGet would also need to switch to CPS' async APIs for reference

[2015-10-05 15:33] #1325 closed, assigned to nobody

[2015-10-05 15:38] yishaigalatzer commented on #1507
Assigning to @xavierdecoster to take a deeper look.

[2015-10-05 15:59] yishaigalatzer commented on #1513
Sorry for the confusion, this package is no longer published or supported. As you can tell from the fact that it is not [listed](https://www.nuget.org/packages/NuGet.Protocol.V2V3/) , please stop using this package. And use one of the other packages like  https://www.nuget.org/packages/NuGet.Protocol.Core.v2/

[2015-10-05 15:59] #1513 closed, assigned to nobody

[2015-10-05 16:07] yishaigalatzer commented on #1511
@vtbassmatt thanks for reporting this issue. I agree we should fix it, I'm just putting the priority lower than the immediate next release.

Feel free to provide more feedback if you disagree.

[2015-10-05 16:11] yishaigalatzer commented on #1501
@johnataylor assigning over to you, this looks like another good optimization for push.

CC @maartenba

[2015-10-05 16:19] yishaigalatzer commented on #1499
This appears to be by design: assemblies ending with .resources are considered localization assemblies, and hence are not added as references.

http://docs.nuget.org/create/creating-localized-packages

[code]

[2015-10-05 16:42] yishaigalatzer commented on #1499
Still looking at NuGet 2.X to see if the behavior is the same or this is a change in behavior

[2015-10-05 16:43] yishaigalatzer commented on #1499
Looks like it - Here is the code from the V2 code base

https://github.com/NuGet/NuGet.Client/blob/3a9e61a52f0e9bc47380031bcddc0a73ff3883ea/src/NuGet.Core/NuGet.ProjectManagement/Projects/MSBuildNuGetProject.cs#L533

[code]

[2015-10-05 16:44] #1499 closed, assigned to nobody

[2015-10-05 16:51] #705 closed

[2015-10-05 16:55] yishaigalatzer opened #1516 "Need a nuget.exe command to clear and list local caches and global packages folder"
With the plethora of caches NuGet support, it is pretty hard to clear them out.

Perhaps the option name needs to become a bit better, since I would expect it to also wipe the global pacakges folder.

CC @davidfowl

[2015-10-05 16:58] yishaigalatzer commented on #1485
@RickStrahl is there any update on this issue?

We are working on making debugging easier. You have two ways

### First
1. Attach another visual studio
2. Make sure jit option in debugger is turned off
   ![image](https://cloud.githubusercontent.com/assets/1238711/10287252/d4c1cc18-6b46-11e5-98f1-bf01fac03517.png)
3. Add symbolserver.org to your symbol servers
4. Turn on first chance exception

Ty

[2015-10-05 17:02] RickStrahl commented on #1485
@yishaigalatzer No I never managed to get the package to work on my machine. I tried on another machine and it worked perfectly fine.

I ended up pushing a new, updated package and that works fine now on my machine.

I had a few more complaints from others also running into issues with that particular package but for most people it seemed to just work. Really weird and inconsistent behavior.

[2015-10-05 17:06] vtbassmatt commented on #1511
Fine by me :)

Sent from Outlook for iPhone

On Mon, Oct 5, 2015 at 9:07 AM -0700, "Yishai Galatzer" notifications@github.com wrote:

@vtbassmatt thanks for reporting this issue. I agree we should fix it, I'm just putting the priority lower than the immediate next release.

Feel free to provide more feedback if you disagree.

—
Reply to this email directly or view it on GitHub.

[2015-10-05 17:16] dougbu opened #1517 "`nuget.exe` creates ugly `~/.nuget\packages\` folder on Linux"
For example `mono .nuget/nuget.exe install Sake -ExcludeVersion -Out packages` correctly downloads the Sake package and installs it into `$PWD/packages/Sake`. However it also expands the package content into `~/.nuget\packages\/Sake`. Obviously `nuget.exe` contains at least one hard-coded Windows path separator.

[2015-10-05 17:18] yishaigalatzer commented on #1482
@zhili1208  please take a look

[2015-10-05 17:20] deepakaravindr commented on #1448
This was verified by Justin

[2015-10-05 17:20] deepakaravindr commented on #1321
I have verified this fix.

[2015-10-05 17:20] #1321 closed, assigned to emgarten

[2015-10-05 17:21] pemari-msft commented on #1334
Just to clarify, getting back to this, there is indeed a difference of behavior that causes a blocking bug between the win8 and UWP project types ;) So I wouldn't really say it's compatible. I'll let you know what the root cause is when I find it.

[2015-10-05 17:22] AArnott opened #1518 "Alt+S in VS Tools->Options->NuGet Package Manager->"Package Sources" jumps to wrong text box"
VS
Tools->Options->NuGet Package Manager -> Package Sources
Press Alt+S
Focus should be set to the Source text box. Instead, it focuses on the Name textbox.

![image](https://cloud.githubusercontent.com/assets/3548/10287939/dbbae258-6b4a-11e5-96f0-be3b41967eac.png)

[2015-10-05 17:24] zhili1208 commented on #1427
@pranavkm please verify this is fixed.

[2015-10-05 17:24] #1427 closed, assigned to emgarten

[2015-10-05 17:26] yishaigalatzer commented on #1485
@RickStrahl that concerns me, the problem is that it is really hard to debug these issues without a repro machine.

There could be one related issue I just fixed last week, and we will release in CommandLine 3.2.1. https://github.com/NuGet/Home/issues/1405

What happens there is that if you run restore, and broke it half way, the transaction for downloading the package is ending up in a corrupt st

[2015-10-05 17:26] #1485 closed, assigned to nobody

[2015-10-05 17:29] maartenba opened #1519 "The 'IntegrationPackage' package did not load correctly after Installing Latest Build"
_From @rmegal on October 5, 2015 13:41_

Running VS2015 Community Edition. I am getting the following error after updating to NuGet Package Manager for Visual Studio 3.2.60914.10516:

I can easily recreate the error by firing up VS2015 and opening any file. Or starting VS2015 and passing it a file to open in the editor.

I get the following error if I select `Tools/Options/Nuget Package Manager`:

[2015-10-05 17:46] zhili1208 opened #1520 "NuGet.VisualStudio.Implementation revs the version, NuGet.VisualStudio should be 1.0.0"

[2015-10-05 17:47] yishaigalatzer commented on #1519
We need more information, on what else you got installed on your visual studio?

Do you have xamarin installed?

[2015-10-05 18:01] RickStrahl commented on #1485
It wasn't a restore that failed in this case - new install. The first install failed right out, but when it failed it DID take a long time for the packages to load. I ran the original install right after pushing to NuGet so I wonder if the package got pulled before it was fully ready. Regardless though - I cleared all the caches and it still continued to fail.

FWIW, which of the locations is the

[2015-10-05 18:03] rmegal commented on #1519
Apparently I do have Xamarin installed. Not sure why since I'm not using it - yet.

The following is from the Help About:

[code]

[2015-10-05 18:03] sliekens commented on #1514
I believe the code is already fixed, but not released. The command utility uses an older version of the code. This is not something I can fix.

[2015-10-05 18:40] yishaigalatzer commented on #1514
Thanks for that, we can take a look at fixing it then.

[2015-10-05 19:06] yishaigalatzer commented on #1519
I would like to ask for your help trying to identify this issue. We are investigating a similar issue, but since the message for loading a vs extension is so cryptic it is hard to tell if they are the same,

Is it possible for you to attach another instance of visual studio and try to catch the exception that caused it (since I can't get a local repro easily)? I would suspect a nullref is popping

[2015-10-05 19:09] sliekens commented on #1514
Thanks. I appreciate it.

[2015-10-05 19:48] zhili1208 commented on #1482
@richieeeeeeee I think we don't support automatically pack resource dll, but you can do it by specifying the dll you want to pack. For example, you can add this to spec for .net 4.0 project under "package" section. http://docs.nuget.org/create/nuspec-reference

[code]

it should work, if there is any problem, feel free to ask. thanks

[2015-10-05 19:54] yishaigalatzer commented on #1482
So in conclusion, this seems to be a feature we could support in the future, but this never did work. @zhili1208 please update the documentation to clarify that this is the case.

I'm moving this to be a feature ask, that we might address in one of the future releases. This could also be something we will happilly take a pull request for,.

[2015-10-05 20:09] yishaigalatzer opened #1521 "Bring back solution level packages"
This is an initial strawman suggestion for bringing back solution level packages (work in progress, I plan to update this a bit more, capturing some initial notes)
### Why

NuGet 3 supports installing packages that previously where moved to solution level based on content into projects. So theoretically this doesn't prevent developers from using these packages.

However this solution doesn't round

[2015-10-05 20:17] yishaigalatzer commented on #1408
This issue seems to be more prominent when Xamarin is installed into Visual Studio 2015. So raising the priority to 0 as it blocks Visual Studio Update I.

The manifestation in this case is that no file can be opened.

[2015-10-05 20:29] yishaigalatzer commented on #1273
This is now fixed

[2015-10-05 20:29] #1273 closed, assigned to MeniZalzman

[2015-10-05 21:01] yishaigalatzer commented on #1519
@rmegal I do have a fix for the issue I investigated on my side. Would you be able to test a private drop once I have one ready to see if it is indeed the same issue?

Please reach out to me on my Microsoft email y i g a l a t z @ msft.com

[2015-10-05 21:25] thecopypaster commented on #974
Joswalt and Satish's steps worked for me.
Removing the value for the MachinePolicy fixed for me as well.
E.g:
[HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\PowerShell]
"ExecutionPolicy"=

[2015-10-05 21:29] bradygaster-zz commented on #1404
I am still seeing this issue happen. I'm running the default install of RTM 2015, with the Azure SDK 2.7.1 installed, too. If you need my machine come grab it. @yishaigalatzer saw it not work on my machine, and I saw it work on his, so something's installed that's probably stealing the Ctrl-E shortcut on my machine. The only thing I can think of would be the Azure SDK, but that seems like a large

[2015-10-05 21:36] danliu commented on #1419
PR to modify nuget's project.json schema and upload new version has been merged:
https://github.com/SchemaStore/schemastore/pull/45

[2015-10-05 22:19] danliu commented on #1419
http://json.schemastore.org/nuget-project-3.3.0 is the new schema
http://json.schemastore.org/api/json/catalog.json is the catalog where versions for nuget-project schema has been added.

[2015-10-06 00:13] dmccaffery commented on #1521
As a side note, the NuGet.exe "update" command line currently requires a package.config, solution, or project file as an argument. Packages installed using:

[code]

 cannot be updated using nuget.exe.

[2015-10-06 00:14] dmccaffery commented on #1517
I cannot reproduce this on OS X, as an FYI.

[2015-10-06 00:24] yishaigalatzer commented on #1521
@dmccaffery I don't understand how this comment (although correct, and by design) is related to this issue. Can you please explain?

[2015-10-06 00:26] yishaigalatzer opened #1522 "Remerge settings origin for package sources"
https://github.com/NuGet/NuGet3/commit/2ae84e2d251be26217bcc552501de6bad2e9eb7d

CC @anurse @emgarten

[2015-10-06 00:41] dmccaffery commented on #1521
I suppose, after thinking about it, its not truly related.

Its just my way of getting around the fact that solution-level packages don't exist for the moment. One could add a line to a build script that installs the package in a predefined location; but its impossible to then update that package without first deleting it and reinstalling it -- so its 50% of what a solution-level package provides.

[2015-10-06 00:48] yishaigalatzer commented on #1521
You are right, but you can delete it an install again, which is almost exactly what update would do (except it will rollback on failure, and its a bit more expensive). So that shouldn't block you. And you can always use a packages.config file you author manually and call update on it

[2015-10-06 00:52] dmccaffery commented on #1521
Agreed @yishaigalatzer, except that update does a version check to decide whether or not to delete / re-download. Since I am using this as part of a build script, it adds a bit of time to get going that would otherwise be unnecessary. Its not blocking, just... meh.

I guess all that I am asking for, is that any implementation of explicitly installed solution-level packages be supported by the CLI

[2015-10-06 00:54] yishaigalatzer commented on #1521
What's wrong with putting it in packages.config and calling NuGet.exe update on that file?

[2015-10-06 01:03] dmccaffery commented on #1521
Nothing except staying out of the way of the developer that is using it
My use case is https://github.com/pulsebridge/condo

I could move their packages.config out of the way (if its there), drop my own, call update, and move theirs back; but that is a delicate process. I don't want to muck with theirs (if it exists), or create a dependency where something they change breaks the build, which is ot

[2015-10-06 01:08] yishaigalatzer commented on #1521
It could be. But I don't see it happening soon without a community pull request.

Please file a separate issue for this

[2015-10-06 02:25] yishaigalatzer commented on #1467
I have been asking other folks about this, and apparently this was never an intended feature. Seems like a by accident behavior of  the usage of `repositories.config`.

`repositories.config` was an internal implementation detail designed to optimize querying the project list from the solution and was used as some sort of a cache, that by the way can safely be deleted.

Also note that in the new nu

[2015-10-06 02:27] yishaigalatzer commented on #1467
Here is a comment from @davidebbo on stackoverflow on the matter. He might have more input on this subject.

[2015-10-06 02:28] yishaigalatzer commented on #1520
I believe this is not correct, and we can rev it just fine. The only package not revved is nuget.visualstudio.interop.

CC @emgarten @deepakaravindr @MeniZalzman

[2015-10-06 02:28] #1520 closed, assigned to nobody

[2015-10-06 04:00] heku commented on #1470
Hi, here is a screenshot regarding Fiddler trace.
![nuget_issue](https://cloud.githubusercontent.com/assets/3367199/10299837/c1294024-6c21-11e5-9d3c-47c067f91e8b.PNG)

[2015-10-06 04:29] yishaigalatzer commented on #1470
Thanks for getting back with more details.

Its hard to tell what is going on from a screenshot of the trace, but I am seeing a more serious issue:

It looks like EntityFramework is trying to load package installer services and fails. That seems odd, because this is a pretty fundamental service that nuget provides to Visual Studio. I can see the same thing work fine on my machine, so I'm wondering

[2015-10-06 04:30] yishaigalatzer commented on #1470
@zhili1208 can you please investigate this issue? I would suggest going down a few avenues
1. Open the extension folder (@heku you can try it), and find out if nuget.visualstudio.dll and nuget.visualstudio.implementation.dll are installed (if not please reinstall)
2. @zhili1208 lets set up a community edition machine and try to follow the repro steps.

[2015-10-06 04:32] yishaigalatzer commented on #1514
Looks like @emgarten merged the fix in codeplex, but didn't port it into https://github.com/nuget/nuget2, can you please integrate?

[2015-10-06 04:35] yishaigalatzer commented on #1490
@fubar-coder thanks for the clarification and following through on the issues. This makes me think we want to take it for 3.3 or immediately after if we don't get to it

[2015-10-06 04:40] yishaigalatzer commented on #1481
NuGet.config is designed to be per solution, though since it is hierarchical you can place it above the solution level (if all your solutions are installed/checked out into the same folder structure).

For nuget.exe you can definitely share an implementation by dropping it into a common folder, and running nuget.exe restore from a script rather as part of msbuild.

Anyways based on your feedback I

[2015-10-06 04:40] #1481 closed, assigned to nobody

[2015-10-06 05:46] tom-englert commented on #304
@yishaigalatzer @tmat any news on this, or is this a dead end?

[2015-10-06 05:52] tmat commented on #304
@tom-englert It's certainly not dead end. We'll have an RC nupkg ready in a couple of days, with RTM planned for VS U1 RTM.

[2015-10-06 05:55] tom-englert commented on #304
@tmat will this include the DiaSymReader.PortablePdb? Neither Microsoft.DiaSymReader nor Microsoft.DiaSymReader.Native provide anything of use to solve this!

[2015-10-06 06:05] tmat commented on #304
@tom-englert Microsoft.DiaSymReader provides interfaces implemented by Microsoft.DiaSymReader.Native. You can use ISymUnmanagedReader.GetDocuments method to enumerate all source files referenced in the PDB.

[2015-10-06 06:08] adamralph commented on #522
For anyone watching this thread, the new issue is at https://github.com/NuGet/Home/issues/1521

[2015-10-06 06:10] yishaigalatzer commented on #522
Thanks @adamralph forgot to add the link

From: Adam Ralph [mailto:notifications@github.com]
Sent: Monday, October 5, 2015 11:08 PM
To: NuGet/Home Home@noreply.github.com
Cc: Yishai Galatzer yigalatz@microsoft.com
Subject: Re: [Home] Solution-level packages are no longer working in Visual Studio 2015 RC (#522)

For anyone watching this thread, the new issue is at #1521https://na01.safelinks.protec

[2015-10-06 06:15] adamralph commented on #1521
Another reason for bringing back this feature is semantics.

For many tools packages it is counter-intuitive to add them to a project. E.g. a build tool which has the entire solution as it's target of operation. Yes, you can work around it by installing the tool into "some" project, but this is awkward and counter-intuitive. If the semantics dictate that the tool is required for the entire solutio

[2015-10-06 06:37] yishaigalatzer opened #1523 "Content support in 3.3 discussion"
The rational behind the design laid out in https://github.com/NuGet/Home/wiki/Bringing-back-content-support,-September-24th,-2015

Is that we want content to be immutable and not affect the projects to the extent possible. This prevents many of the drawbacks content had in the packages.config world, where projects are modified, and content files cannot be overridden safely.

We also don't want to

[2015-10-06 06:38] tom-englert commented on #304
@tmat so there are two questions left:
- How do I create an object that implements ISymUnmanagedReader?
- How can I get Microsoft.DiaSymReader.Native - NuGet can't install it, it always complains there are no binaries for the selected framework?

[2015-10-06 06:48] tmat commented on #304
project.json:

[code]

.csproj:

[code]

[code]

You don't need to supply a real metadata importer as long as you don't need to retrieve constant and variable signatures. A dummy implementation should suffice:

[code]

[2015-10-06 06:58] tom-englert commented on #304
@tmat OK, this seems to be the missing link - is there any official documentation for this?

[2015-10-06 07:00] yishaigalatzer commented on #1465
Moved to gallery https://github.com/NuGet/NuGetGallery/issues/2719

[2015-10-06 07:00] #1465 closed, assigned to nobody

[2015-10-06 07:49] fubar-coder opened #1524 "Disable symbol package upload"
It would be nice to disable symbol package upload (even though a symbol package is created) with a command line option for a `nuget push`, because `symbolsource.org` is often so extremely slow and unreliable, that a simple switch to disable the symbol package upload would make my life much easier.

This would allow a two-step package upload from a build server, where I first upload the normal pack

[2015-10-06 08:23] xavierdecoster commented on #1507
So far I was unable to repro this on VS2015 with NuGet 3.2, targeting a NET45 console app. It also does not repro using our latest dev builds.

[2015-10-06 09:10] sliekens commented on #1514
This is the file on the master branch: https://github.com/NuGet/NuGet2/blob/master/src/Core/Authoring/AssemblyMetadataExtractor.cs

It's fixed on this branch, but maybe 'master' is not the main branch anymore? The bug still exists in all of the 2.x.x branches.

[2015-10-06 12:22] rmegal commented on #1519
The fix resolved the issue on my machine. I will look for the next update.

Thanks!

[2015-10-06 15:51] deepakaravindr opened #1525 "Fix and re-enable PackageDownloaderTests.TestDownloadPackage_InV2"
Fix and re-enable PackageDownloaderTests.TestDownloadPackage_InV2.
Currently, this test has been marked to be skipped, since it was flaky. Re-enable this test upon finding the root cause of the problem

[2015-10-06 16:29] yishaigalatzer commented on #1524
Sounds like a good idea, priority wise moving to vNext and would love a pull request if you want it faster.

NuGet.Client is the repo where things are happening now for command line

[2015-10-06 16:30] yishaigalatzer commented on #1408
Fix was pushed into the 3.2.1 branch, and the PR is open on 3.3, waiting for 3.3 branch to open

[2015-10-06 16:31] yishaigalatzer commented on #1519
Duplicate of #1408

[2015-10-06 16:31] #1519 closed, assigned to nobody

[2015-10-06 16:31] yishaigalatzer commented on #1519
@rmegal thanks for verifying. Its awesome to know these where the same

[2015-10-06 16:32] yishaigalatzer commented on #1478
@emgarten please investigate further to figure out what is going on.

[2015-10-06 16:33] yishaigalatzer commented on #1474
bump

@xavierdecoster please take a closer look

[2015-10-06 17:42] tom-englert commented on #304
@tmat now that uses an internal class

roslyn/src/Compilers/Core/Portable/InternalUtilities/ComStreamWrapper.cs

Are you sure this was ever targeted for public usage?

Also with these interfaces i feel like falling back in the 1990s doing clumsy c++ COM interface programming. Can you provide a .Net wrapper that is just usable (like CCI was)?

[2015-10-06 17:42] Viacheslav01 opened #1526 "nuget 3.2 freeze Visual Studio 2015 on install/update/remove package"
Since the update to Windows 10 and Visual Studio 2015 each manipulation with packages by the Nuget console either the Package manager dialog, the Visual Studio is frozen and crushed in 10 seconds.

[2015-10-06 18:53] ghost commented on #974
csharpfritz  2015 Patch worked for me. Thanks a bunch. Cheers.
Win8 VS 2015 V.14.0.
3.1.1 for VS 2015 (Posted By: csharpfritz ):
https://github.com/NuGet/Home/releases/download/3.1.1/NuGet.Tools.vsix

[2015-10-06 20:55] danliu commented on #1419
verified with latest beta8 tools that it's working fine.

[2015-10-06 20:55] #1419 closed, assigned to danliu

[2015-10-06 21:34] zhili1208 commented on #1470
I set up a win10 32 bit machine with community VS 2014, nuget version 3.2. But can't repro the issue. checked the extension folder, both dlls are installed correctly. I think 'Unable to find type [NuGet.VisualStudio.IVsPackageInstallerServices].' issue looks like a MEF problem there, maybe the vs or nuget extension is installed incorrectly, My suggestion is you can try to recovery the vs or reinst

[2015-10-06 21:40] yishaigalatzer commented on #1470
Can we get a listing of the folder structure under extensions?

C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions

If we think the files are missing (or duplicated), this could be the issue

From: Zhi Li [mailto:notifications@github.com]
Sent: Tuesday, October 6, 2015 2:35 PM
To: NuGet/Home Home@noreply.github.com
Cc: Yishai Galatzer yigalatz@microsoft.com
Subject: Re: [Ho

[2015-10-06 22:15] zhili1208 commented on #1470
![dlllist](https://cloud.githubusercontent.com/assets/7131513/10324229/e161beaa-6c3c-11e5-8194-3fe7d380bd52.PNG)
all nuget dlls under extensions

[2015-10-06 22:27] yishaigalatzer commented on #1470
This was more of a question for @heku , please see if you either are missing dlls or have multiple folders with the same dll showing up twice.

[2015-10-06 22:38] kogir opened #1527 "Respect existing web.config formatting and whitespace."
I format my XML with attributes on their own lines, and use two spaces instead of 4. Whenever I perform a NuGet operation that edits web.config, it reformats the whole file with different settings.

If the Visual Studio NuGet extension respected my Visual Studio editor configuration settings, it would get the formatting completely right. If this is too much work, please minimize changes to only li

[2015-10-06 22:49] kogir opened #1528 "Cache package metadata locally for duration of session."
I primarily use NuGet through the Visual Studio plugin. It's infuriatingly slow.

When I "Manage NuGet Packages for [Solution|Project]", any retrieved package metadata should be cached. Already cached metadata should be used when possible.

When online, viewing installed packaged for my solution takes 15 seconds on my 100/20Mbps connection. The same operation while offline takes < 1 second. Instal

[2015-10-06 23:16] alexangas commented on #1467
That's interesting, thank you @yishaigalatzer. Your comment has reminded me of an issue we used to have under our scenario with NuGet 2.x, if someone created a branch in TFS but only retrieved a part of it to their local computer. The `repositories.config` file would update with only the solutions on disk which then caused NuGet to delete packages required by those solutions not downloaded. Simila

[2015-10-06 23:19] yishaigalatzer commented on #1467
Thanks you!

As FYI this is a simple way to do a backup local share for your packages in case you lose network connectivity. I wouldn't add it as a source if you don't need to, but it will perform quite well as an alternate. http://blog.nuget.org/20150922/Accelerate-Package-Source.html

[2015-10-06 23:19] #1467 closed, assigned to nobody

[2015-10-06 23:21] RanjiniM commented on #162
New UI doesn't need this.

[2015-10-06 23:21] #162 closed

[2015-10-06 23:28] Jon12345 opened #1529 "The 'IntegrationPackage' package did not load correctly."
"The 'IntegrationPackage' package did not load correctly." error dialog appears when clicking on a file in a code review in VS2015.

Activitylog.xml contains the following errors:

<entry>
    <record>622</record>
    <time>2015/10/06 23:24:19.128</time>
    <type>Error</type>
    <source>VisualStudio</source>
    <description>SetSite failed for package [IntegrationPackage]</description>
    <guid

[2015-10-06 23:30] yishaigalatzer commented on #1529
@Jon12345 please send me an email directly, and I'd like to send you a private build to try out. y i g a l a t z @ msft.com

I assume you are already on nuget 3.2

[2015-10-06 23:31] yishaigalatzer commented on #1529
potential duplicate of https://github.com/NuGet/Home/issues/1408

[2015-10-06 23:32] yishaigalatzer commented on #1529
A work around would be to open a saved solution first, and open package management console (or some other action that initializes NuGet)

[2015-10-07 00:00] yishaigalatzer commented on #1528
Fair feedback. This is already on our plan for 3.3

There are a few strategies that may help you speed up your scenario
1. If you use many sources, consider removing unnecessary sources. NuGet goes in parallel to all of them to find the latest versions.
2. If you use www.nuget.org/api/v2, as a package source, consider using api.nuget.org/v3/index.json instead.

We plan to both do more caching of u

[2015-10-07 00:03] yishaigalatzer commented on #1528
Closing, because there is no extra action on this issue, but feel free to continue the discussion on this thread.

Related issues #1493 #1492 #1494 #1504

[2015-10-07 00:03] #1528 closed, assigned to nobody

[2015-10-07 00:04] kogir commented on #1528
Great news, thanks!

api.nuget.org/v3/index.json was and is currently my only source.

[2015-10-07 00:07] yishaigalatzer commented on #1527
XDT transforms are performed by the `Microsoft.Web.Xdt` package, we can reach out to the owner of the package. Or perform the editor edit like you suggest (or perhaps even simpler, perform an auto format operation when we are done - though this might open a bunch of unexpected side effects).

This issue doesn't seem to meet the bar for an immediate release, I'm moving it to vNext and we will prior

[2015-10-07 00:08] yishaigalatzer commented on #1476
@nambrose can you share the fiddler trace?

[2015-10-07 00:10] yishaigalatzer commented on #1464
@maartenba can you please take care of this issue?

CC @joyhui

[2015-10-07 00:24] yishaigalatzer commented on #1463
The right approach is to do:
B depends on A [1.3.7, 2.0) because that states the true dependency between the two. You might even want to consider tighter coupling so you can still release patches [1.3.7, 1.3.8) but force the two packages to rev together. (This is what I did for my previous team - MVC and Web API)

You could update package A with dependency version constraints such as -highestMinor

[2015-10-07 00:24] #1463 closed, assigned to nobody

[2015-10-07 00:28] yishaigalatzer commented on #1526
@Viacheslav01 we would love to help you, but we will need some more information.
1. Did you update the NuGet extension to 3.2? Tools->Extensions and Updates->Updates->Visual Studio Gallery?
2. If you did and you still see issues, please provide us with some details on your setup, project and what packages are you trying to install.

[2015-10-07 00:30] yishaigalatzer commented on #1451
@tombrown571 I assume you mean Visual Studio 2013?

We plan to update NuGet to 2.9 later this week, I hope this will resolve your issue. If not please re-open and we can try and figure out what to do.

Alternatively can you please try the following?
Download the vsix, and close all instances of visual studio (devenv, vshost, etc).

Then double click on the vsix.

[2015-10-07 00:53] nehmebilal opened #1530 "Improve embeddeding NuGet packages as part of a template/vsix"
Embedding NuGet packages in a VSIX is currently very very painful.

As far as I understand from the [documentation](http://docs.nuget.org/create/packages-in-visual-studio-templates), all the .nupkg associated with the NuGet packages to be installed to a project template **and all of their dependencies** must be downloaded from the NuGet gallery and included in the VSIX.

There are several issues w

[2015-10-07 01:12] yishaigalatzer commented on #1530
1. You can install the packages into your project once through nuget UI. That will resolve the first item.
2. It does take longer to install the project, but that is the expected behavior. Users will otherwise get a broken project as soon as they start their projects
3. The VSIX is bigger for a good reason. It allows you to install the packages even if your visual studio is offline. You can go to

[2015-10-07 01:15] yishaigalatzer opened #1531 "nuget.exe creates an extra .nuget folder"
Root cause:

In Kudu console the Environment.GetFolderPath(Environment.SpecialFolder.UserProfile) does not return the expected value, hence finding the user profile folder fails, and we create a local folder for nuget packages.

[2015-10-07 01:22] #1531 closed, assigned to yishaigalatzer

[2015-10-07 07:01] maartenba commented on #1464
@veleek can you try again on API v3? I have re-generated the registration for the package.

[2015-10-07 07:44] jeff-r-skillrev commented on #1508
If this is being categorized as docs, does that mean there is something I can do now to get this warning to go away? What is it?

[2015-10-07 08:06] Viacheslav01 commented on #1526
My English is not good, but I'll try to describe.

I have tried the next actions:

1) Update nuget to the latest version -> it doesn't resolve the issue
2) Remove nuget + reboot + install nuget -> the issue stay here

[2015-10-07 08:08] Viacheslav01 commented on #1526
My solution contains 20 projects including:
1) Win 8.1 + WP 8.1 PCL
2) WP 8.0
3) Universal App 8.1
4) WinRT Components C++

[2015-10-07 08:13] Viacheslav01 commented on #1526
The first time when I see the issue it was update Newtonsoft.Json from 6.0.8 to 7.0.1.
Visual Studio froze and reboot on each updated project.

The result was:
1) pacages.config is updated to a new version of package
2) *.csprj is not updated and links to an old version of the package

Now I try to add package Newtonsoft.Json to a C# PCL project.
I have tried to add the other project especially Au

[2015-10-07 08:14] Viacheslav01 commented on #1526
[Auto] Package restore is working correct.

[2015-10-07 10:47] wgtmpeters commented on #1490
I am running into the same problem. We use local repositories which contain only prerelease version to update a solution's prerelease dependencies with locally build prerelease dependencies.

So far i am unable to find a workaround, @fubar-coder  you mentioned that you add your packages folder but that does not seem to work for me.
I tried adding the prerelease source and the solution packages fol

[2015-10-07 10:55] xavierdecoster commented on #1474
@uchinago can you please provide the following information to help us reproduce this issue?
- NuGet version (if not the latest, please upgrade)
- The active package source URL (the selected one in the dropdown)

I haven't been able to repro this issue so far.

[2015-10-07 12:06] heku commented on #1470
![image](https://cloud.githubusercontent.com/assets/3367199/10336926/c4e89e22-6d2e-11e5-8b37-fdf01d4234a0.png)

[2015-10-07 12:11] heku commented on #1470
Yes, there were multiple folders contain Nuget.\* files under Extensions folder, I`ve cleaned them now.(However the issue is still there)
![20151007200816](https://cloud.githubusercontent.com/assets/3367199/10337013/8e4d7418-6d2f-11e5-8662-2f601d374693.png)

[2015-10-07 12:25] heku commented on #1470
The NuGet.Protocol.Core.v3.DependencyInfo.Utils issue doesn`t repro now, but another NuGet.Protocol.Core.v3... issue is coming.

---

Attempting to gather dependencies information for package 'System.Data.SQLite.1.0.98.1' with respect to project 'NugetTest', targeting '.NETFramework,Version=v4.0'
Attempting to resolve dependencies for package 'System.Data.SQLite.1.0.98.1' with DependencyBehavior '

[2015-10-07 13:35] yishaigalatzer commented on #1526
Is it possible to get access to your project? This is a very common scenario that we think should work fine, it will really help if we can get a sample and run through it to figure out what is going wrong with your project.

[2015-10-07 13:47] yishaigalatzer commented on #1490
I'm assuming the issue you are reporting is related but a bit different. It's hard to tell without a small exact repro. Would you mind sharing one? We will make sure your exact scenario is resolved when we fix this issue

Sent from my Windows Phone

---

From: wgtmpetersmailto:notifications@github.com
Sent: ‎10/‎7/‎2015 3:47 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto

[2015-10-07 14:51] SetTrend opened #1532 "Can I have NuGet install packages to custom directory?"
NuGet always seems to install JavaScript libraries, like AngularJS or jQuery, into the `/Scripts/` root directory.

I want to manually choose a different target directory when installing these packages so they won't conflict with other NuGet packages.

How can I do this?

[2015-10-07 14:55] csharpfritz opened #1533 "COM Errors while installing EntityFramework in Vs2013"
From @Fransbouma on Twitter:

Installing EntityFramework package throws COM error:
PM> install-package entityframework
Installing 'EntityFramework 6.1.3'.
You are downloading EntityFramework from Microsoft, the license agreement to which is available at http://go.microsoft.com/fwlink/?LinkID=320539. Check the package for additional dependencies, which may come with their own license agreement(s).

[2015-10-07 15:16] SetTrend opened #1534 ""VS 11 Common Tools not found" error after installing Gulp/Grunt/NPM"
In Visual Studio 2015, after installing Gulp/Grunt/NPM, whenever building a web application, the above error `VS 11 Common Tools not found` is logged to the output window.

Perhaps an update of the corresponding packages is required to correctly support Visual Studio 2015?

[2015-10-07 15:19] FransBouma commented on #1533
What I have discovered:
- When having saved the solution and making _no change_ whatsoever, it is often avoided
- When having saved the solution and then making some change, it is likely going to fail with the errors mentioned above.
- It happens with most packages, including my own which contain no script at all.

If I have to look at logs somewhere, let me know.

[2015-10-07 15:27] FransBouma commented on #1533
Additionally, it's also very slow (as in: it hangs for half a minute to a minute, vs.net is unresponsive) right before it crashes with the error reported in some cases. Mind you that the errors are also sometimes different, as shown in the gist:

[code]

Repeatedly retrying to install the package gives different errors after an error like the one above, mostly ending with the comobject error.

It

[2015-10-07 15:45] Viacheslav01 commented on #1526
Unfortunately, this is a company project I can't share the sources. I'll try to create a sample solution with the same configuration.

[2015-10-07 16:09] nehmebilal commented on #1530
You still need to download all the .nupkg manually and add them to the VSIX project. Installing packages into the project helps resolving the dependency tree but the experience of creating a VSIX with NuGet packages is still painful and the VSIX is hard to maintain (updates to NuGets means resolving the dependency tree again and finding out which .nupkg need to be replaced).

[2015-10-07 16:16] yishaigalatzer commented on #1530
You don't need to manually download them manually, they get dropped into the packages folder of your project.

Creating and maintaining a vsix is not something we can speak to, NuGet does not own it. I'll point you offline to other solutions for building templates.

[2015-10-07 18:45] yishaigalatzer commented on #1468
This is reproducible even without your package

[2015-10-07 19:11] ericstj commented on #1508
That warning means you're either missing the implementation metadata from the WinMD item or it's invalid.  It would actually result in failed activation of your component in some cases.

Just package your WinMD in `lib` since a WinMD for a native winrt component is just a metadata assembly which is architecture agnostic.

For your native DLLs put then in `runtimes/{rid}/native`.  By defining both

[2015-10-07 19:16] xavierdecoster commented on #1516
Should this `nuget.exe clearcache` command wipe the global packages folder by default or only the machine default cache located at `%localappdata\nuget\cache`?

Maybe there could be an optional switch to also wipe the global cache (if that makes any sense)?
E.g. `nuget.exe clearcache -g`

[2015-10-07 19:20] emgarten commented on #1522
This is ready in emgarten/321merge  https://github.com/NuGet/NuGet.Client/commit/b1b3f2a2a1b6bb7e1e553721e1a96159883e0679

[2015-10-07 19:29] yishaigalatzer commented on #1516
The command should be

`nuget.exe -clearcache -clearGlobalPackages`

Clear cache should clear all caches (http caches, global cache etc.)

CC @davidfowl @emgarten

[2015-10-07 19:38] yishaigalatzer commented on #1534
Moved to https://github.com/aspnet/Tooling/issues/212

[2015-10-07 19:38] #1534 closed, assigned to nobody

[2015-10-07 19:44] yishaigalatzer commented on #1532
That is not supported, which is why the ASP.NET team is recommending to use Bower.

We are working on a new feature for content, that might eventually support determining the root location see - https://github.com/NuGet/Home/wiki/Bringing-back-content-support,-September-24th,-2015

[2015-10-07 19:44] #1532 closed, assigned to nobody

[2015-10-07 19:47] yishaigalatzer commented on #1466
You can call Update-Packate with packageId, instead of calling Update-Package.

The error should definitely be improved.

[2015-10-07 19:49] yishaigalatzer commented on #1462
Sorry, but there is not enough information to help you with this request. Perhaps look at a fiddler trace between the two and compare.

[2015-10-07 19:51] yishaigalatzer commented on #1454
@dsplaisted I believe this was resolved already, with another approach. Please correct me if I'm wrong (and i'll re-open)

[2015-10-07 19:51] #1454 closed, assigned to nobody

[2015-10-07 20:08] xavierdecoster commented on #1516
So `nuget.exe clearcache` is the command. This clears all caches (http, global, etc).

What's the purpose of the `-clearGlobalPackages` command option? To only clear the global packages cache?

[2015-10-07 20:49] tmat commented on #304
@tom-englert Yes, the COM interfaces are documented (somewhat) on MSDN:

https://msdn.microsoft.com/en-us/library/ms233503(v=vs.110).aspx

Yes, it is targeted for public usage. The ComStreamWrapper is just an implementation of general IStream COM interface. You can copy it from Roslyn or write your own if you have some special requirements (not likely).

http://source.roslyn.io/#Microsoft.CodeAnal

[2015-10-07 20:52] tmat commented on #304
@tom-englert Re clumsy C++ COM interfaces from 90's - I agree. We are dealing with a legacy proprietary format in the first place. We are working on a long term project to replace it with a new modern open format: https://github.com/dotnet/roslyn/blob/master/docs/specs/PortablePdb-Metadata.md, with modern reader and writer APIs.

[2015-10-07 21:45] yishaigalatzer commented on #1476
One more set of thoughts on this:
1. Can you share the content of c:\users{userName}.nuget\packages\Apose.Email
2. Can you share your nuget.config

Would be interesting to delete c:\users{username}\packages and see if the issue goes away. But please take a copy first so we can see the root cause of the nullref.

It would be interesting to attach a debugger and try to get the call stack for the nul

[2015-10-07 21:46] #1464 closed, assigned to maartenba

[2015-10-07 21:53] yishaigalatzer commented on #1450
The newtonsoft.json dll should not be copied to the output folder of a class library. It will get added to the app consuming it.

This is an msbuild behavior, and to work around it you can add:

See - C:\Program Files (x86)\MSBuild\Microsoft\NuGet\Microsoft.NuGet.targets, and set CopyNuGetImplementations to true.

These targets are owned by the C# project team, and they are considering flipping th

[2015-10-07 21:53] #1450 closed, assigned to nobody

[2015-10-07 21:56] yishaigalatzer commented on #1449
This could be an issue with how the relative path is defined. Try to use an absolute path or avoid defining all together.

We are currently spending most of our efforts in Visual Studio 2015 3.3, so I'm going to move this to the next release of Visual Studio 2013, which is currently unfortunately not scheduled.

[2015-10-07 22:00] yishaigalatzer commented on #1443
That's a cool idea, we will consider adding it after 3.3.

[2015-10-07 22:01] yishaigalatzer commented on #1442
This is coming in 3.3 - See https://github.com/NuGet/Home/issues/1504

[2015-10-07 22:01] #1442 closed, assigned to nobody

[2015-10-07 22:09] yishaigalatzer commented on #1441
-NoPackageAnalysis is just an analysis of the built package, not something participating in the actual packaging process. It will for example tell you that you accidentally dropped dlls in the wrong folder, but it will not affect the actual content of the package.

The dependencies are only the dependencies coming from packages.config, not indirect dependencies that are not defined.

It will be he

[2015-10-07 22:23] yishaigalatzer commented on #1516
-clearGlobalPackages is to clear more than just the caches

[2015-10-07 22:34] AArnott opened #1535 "Can't install portable-net451-* package into .NET 4.5.1 class library"
VS: 14.0.23107.0 D14Rel
NuGet Package Manager for VS 3.2.60914.10516

Repro steps:
1. Create a new C# class library that targets .NET 4.5.1 (_not_ a portable library)
1. In the Package Manager Console: `install-package nerdbank.fullduplexstream -pre -version 0.1.15-beta`

Expected:
package installs successfully because it has a `lib\portable-net451%2Bwin81%2Bwpa81` folder, which obviously suggests

[2015-10-07 23:48] RanjiniM commented on #1094
After discussing with Fei, I am assigning this bug to him. Currently while in the dialog we don't read packages.config and apply the constraints in the values show in the dropdown. We always return all listed versions available.Only when we invoke an action version constraints are applied. As Fei is working on redesigning the dialog he is going to add code to read packages.config while populating

[2015-10-07 23:52] agocke commented on #1104
@ellismg What did you do here? This is not working for me either.

[2015-10-08 00:00] agocke commented on #1104
@yishaigalatzer Matt describes 4 different mutually exclusive implementations. Which worked?

[2015-10-08 00:00] agocke commented on #1104
@yishaigalatzer I guess I should also ask -- what _should_ be working here?

[2015-10-08 00:23] ellismg commented on #1104
IIRC, I did `<file src="empty\_._" target="ref\dotnet" exclude="" />` in the nuspec and passed `-ExcludeEmptyFolders` to nuget.

[2015-10-08 03:33] AArnott commented on #1535
Perhaps a dupe, but a very similar bug is this:
1. Create a .NET 4.5 class library (not 4.5.1)
2. `install-package Validation -Version 2.2.4`

**Expected**
Successful install. This particular version of the package includes a Profile259 library folder and the only dependency is Validation.2.2.4.

**Actual**
Install fails with this log:

[code]

[2015-10-08 06:42] xavierdecoster commented on #1516
I see. So, `nuget.exe clearcache` clears all caches. `-clearGlobalPackages` cleans "more than just the caches"? Can you please define "more"? Confused :)

[2015-10-08 07:05] maartenba opened #1536 "NuGet Slow, becuase of UI refresh"
_From @reader-man on October 7, 2015 21:39_

When you use nuget at the solution level to add/remove a package to multiple Projects, it takes a long time for a trivial functionality, i think one of the reasons is because its trying to show the changes in the Solution Explorer and maybe other UI controls, instead of using the new VS 2015 mechanism of having a watch on nodes and metadata instead of a

[2015-10-08 09:11] xavierdecoster commented on #1516
Here's my understanding of the requirements:
- `nuget.exe clearcache` will clear `%localappdata%\NuGet\cache` and `%localappdata%\NuGet\v3-cache`
- `nuget.exe clearcache -clearGlobalPackages` will clear the above, and also clear the global packages folder as defined using the `NUGET_PACKAGES` environment variable, or if not defined, the default location `%userprofile%\.nuget\packages`

[2015-10-08 09:28] xavierdecoster commented on #1507
I wasn't able to repro this issue on Win7 x64 with VS2015 Community Edition (exact same build), using NuGet 3.2, targeting a NET45 console app.

Below the full packages.config generated by installing `System.Data.SQLite` version `1.0.98.1`.

[code]

This adds the following assembly references to the project:

[code]

Refreshing the solution explorer had no impact on the referenced assemblies for t

[2015-10-08 09:28] #1507 closed, assigned to xavierdecoster

[2015-10-08 13:34] yishaigalatzer commented on #1516
Exactly.

[2015-10-08 15:01] FransBouma commented on #1533
Another log, this time with different packages, and a different issue. I quote the complete log so you can see that when retrying things go OK.

My suspicion is that the following happens:
- a certain error occurs/exception occurs
- the error ends up in a piece of code which has the cast exception or runs into another issue and _that_ issue what's reported back to the user.

I tried to save the so

[2015-10-08 15:48] wgtmpeters commented on #1490
I am not sure it is related.
Issue 1 (this issue) The warning "Package 'x' is not found is given whenever you try and update packages that are in the packages.config but not in any of the source folders.
So as a workaround we add the current solution\packages folder to make sure it finds all the defined packages.

This was not needed in 2.8 and also not wanted because this will make it impossible

[2015-10-08 16:06] yishaigalatzer commented on #1536
NuGet is using DTE to add/remove items from a project, it doesn't attempt to understand the project. We don't plan to and can't really change that.

There is one known slowness that has to do with batching operations when uninstalling packages. Tracked here - https://github.com/NuGet/Home/issues/1397.

We are investing in project.json based approach that makes nuget completely disengage from the p

[2015-10-08 16:06] #1536 closed, assigned to nobody

[2015-10-08 16:07] shaynevanasperen commented on #1523
There is issue #627 for this

[2015-10-08 16:09] yishaigalatzer commented on #1535
The issue here is that the package declares a dotnet folder. dotnet takes precedence over the portable profiles, and fails to install.

This is a known limitation, you need to pick either using dotnet or portable, both can't work together.

We are working on an alternative mechanism, your solution will be to either ditch the dotnet folder, or to create a net451 folder.

CC @ericstj

[2015-10-08 16:09] #1535 closed, assigned to nobody

[2015-10-08 16:13] nambrose commented on #1476
Hi, I did attach the debugger but had trouble getting the symbols loaded so all I got was an assembly dump.
I'll try to get ahold of that package directory but for now I went ahead and installed the 2.0 sources as I needed to get stuff done.

[2015-10-08 16:21] yishaigalatzer commented on #1476
We are working on creating a debug build that we can share for you to be able to debugger better. Please shoot me an email y i g a l a t z @ msft.com

[2015-10-08 16:23] yishaigalatzer commented on #1523
This is a slightly different approach

[2015-10-08 16:24] nambrose commented on #1476
Done

[2015-10-08 16:27] ericstj commented on #1535
_aside:_ Originally `dotnet` was supposed to be lower than `portable-` since that matches the semantics of `lib\` or `lib\any` however folks wanted `dotnet` to be special, as you'll see with the upcoming generation work.

Looking at the dependencies:

[code]

All of these require at least .NET 4.6.

@AArnott , if you don't actually need the newer surface area I'd recommend to build a single PCL th

[2015-10-08 16:33] yishaigalatzer commented on #1535
@ericstj it is probably simpler to avoid dotnet all together

[2015-10-08 16:35] ericstj commented on #1535
Yeah if you don't care about running on DNXCore and you don't need to use any contracts that were added post-net451 that'd be simpler.

[2015-10-08 16:42] ericstj commented on #1535
The package will be pretty simple once nuget3 goes everywhere:

[code]

The only reason why you need to add the second `portable-` copy is to support profile-based PCL projects since NuGet decided not to map `dotnet` to portable profile projects.

The only reason why I was suggesting empty dependency groups was to avoid noise in old packages.config projects (empty packages that just validate the p

[2015-10-08 16:53] AArnott commented on #1535
@ericstj What you prescribe as just the one `<group>` tag and the two lib folder sis exactly what I had. But nuget 3 evidently tries to install all the dependencies in my net45 or net451 targeting class library anyway and fails in the process. It was only by adding a bunch of empty groups that target each platform (net, wpa, wp, etc.) that I was able to get the package to install. It doesn't just

[2015-10-08 16:55] AArnott commented on #1535
One example in particular for guidance I've read that suggests creating a package with a lib\dotnet folder as well as other lib\portable- folders is [Lucian's blog post](http://blogs.msdn.com/b/lucian/archive/2015/09/15/writing-a-nuget-package-for-vs2015-rtm-repost.aspx) (see step 2)

[2015-10-08 16:57] AArnott commented on #1535
Also from [nuget's own blog](http://blog.nuget.org/20150729/Introducing-nuget-uwp.html):

[2015-10-08 17:10] danliu opened #1537 "Add automated test for (non-projectK) project.json schema"
Steps include:
1. create a uwp project
2. open project.json, verify the schema selected on the dropdown menu
3. type a package name, verify name completion. type version, verify version completion.
4. add runtimes section, verify intellisenses for it.

[2015-10-08 17:15] ericstj commented on #1535
Thanks, for sharing those docs.  I think you'll find that we're all saying the same thing if you read through them and compare to the doc I linked.   My statement about `portable-` was calling out the fact that there isn't any technical problem with associating `dotnet` with the correct `portable-` combinations, it was just something that NuGet decided not to do.  If you think it's important and m

[2015-10-08 17:27] AArnott commented on #1535
@ericstj: one concern I have is that I've spent a very considerable amount of time (at least 24 real hours) studying docs, blogs, emailing, and experimenting to try to find out what works for my nuget packages. And I still didn't get what you're proposing that I should understand if I read and understood it all. I think if we improve our nuget docs and edit the blog posts as necessary, we can redu

[2015-10-08 17:29] yishaigalatzer commented on #1535
Andrew we completely agree, and we are already working on this issue, no need to file a new one.

Same answer for docs.

CC @csharpfritz

From: Andrew Arnott [mailto:notifications@github.com]
Sent: Thursday, October 8, 2015 10:28 AM
To: NuGet/Home Home@noreply.github.com
Cc: Yishai Galatzer yigalatz@microsoft.com
Subject: Re: [Home] Can't install portable-net451-\* package into .NET 4.5.1 class li

[2015-10-08 17:43] AArnott commented on #1535
@ericstj Have you taken a look at Validation 2.2.4? It follows the folder structure you suggested, with just one addition: it adds a portable-net40+\* profile as well:

[code]

The 2.2.4 nuspec has no empty dependency groups. It just has the 'dotnet' one. If I understand your comments correctly, you suggest this should work, albeit with some 'noise' in the packages.config file for extra dependenci

[2015-10-08 18:23] emgarten opened #1538 "Reload Visual Studio package sources when nuget.config is modified manually"
Visual Studio should reload nuget.config settings after the config files have been manually modified outside of Visual Studio. Today sources are only reloaded when the Tools > Options dialog is used.

This could be achieved by re-initializing settings before package restores and before package operations. Note: SourceRepositories should be kept between reloads to avoid losing cached data such as i

[2015-10-08 18:33] rcarduner opened #1539 "Package restore adds binding redirects to Views\web.config instead of project-level web.config"
NuGet PM 3.2.0; VS 2015.

Upgraded packages in several ASP.NET/MVC web projects in a single solution and binding redirects were added to Web.config in Views subfolder; the web.config at the project level was left untouched.  Pretty sure this is not correct.

[2015-10-08 18:35] zhili1208 commented on #1470
@heku since I can't repro your issue, I have no idea why it fails. Can you repair your vs? it might fix the issue

[2015-10-08 19:13] ericstj commented on #1535
Validation would fail in a net45 project since it references `id="System.Runtime" version="4.0.10"` which is only supported on net451.  If you wanted the dotnet implementation to work everywhere you'd need to build this against a PCL profile including net45 which would result in a 4.0.0.0 System.Runtime reference.
1. Making `dotnet` applicable for profile based PCLs would eliminate the need for se

[2015-10-08 19:32] AArnott commented on #1535
No it doesn't. A net45 project would use the portable-net40+\* folder, and the assembly in that folder does not reference System.Runtime, but references mscorlib instead:

![image](https://cloud.githubusercontent.com/assets/3548/10377445/302ca640-6db8-11e5-8536-005c382be08b.png)

But a net45 project doesn't need to reference all these extra .NET packages that NuGet v3 is trying to bring in. That's

[2015-10-08 20:20] johnataylor commented on #1333
Justin's changes fixed this across a bunch of commits.

[2015-10-08 20:20] #1333 closed, assigned to johnataylor

[2015-10-08 20:27] ericstj commented on #1535
Nope, it uses the dotnet folder.  As Yishai mentioned, NuGet prefers `dotnet` over `portable-a+b+c`.  If you install Validation 2.2.5 in a net45 project you get a reference to `Validation.2.2.5\lib\dotnet\Validation.dll`.  That library has a reference to System.Runtime 4.0.10.0 which, as mentioned before, is invalid for net45.

The point of dotnet is to be an open ended qualifier.  You represent a

[2015-10-08 20:33] AArnott commented on #1535
I see. It was the 'dotnet always wins' that I had forgotten. Suppose I remove that folder. How can I keep the package working for all the new platforms and PCL types (at least those that exist today)? Is it enough that I have a `portable-net46+win81+wpa81` folder, or do I need to explicitly call out everything out in that folder name such as `portable-net46+win81+wpa81+dnxcore+xamarinios+...`?

[2015-10-08 20:37] shaynevanasperen commented on #1523
It's a broken link though. Can you please fix it? Also, it can't hurt to reference a related issue.

[2015-10-08 20:41] yishaigalatzer commented on #1523
Fixed the link. Of course you can add extra ref

[2015-10-08 21:01] johnataylor commented on #1370
This should be fixed on branch updateBug1370

[2015-10-08 21:33] chandramouleswaran opened #1540 "Respect ReferenceOutputAssembly when packing a CSPROJ"
Hi,

Today all project references of a CSPROJ file are added to the package if nuget pack is called with -IncludeReferencedProject.

There are many real life production scenario where we have project references only to control build order - we use <ReferenceOutputAssembly>False</ReferenceOutputAssembly> to control the same.

We need a way in ProjectFactory.cs to also look at this metadata before i

[2015-10-08 21:37] RanjiniM commented on #1410
Xavier, both VS 2013 and VS 2015 show the Microsoft icon now? Is that what is expected? If yes, then this issue is fixed. Can you please confirm and close? Thanks!

Please reassign to me if I have misunderstood the issue.

[2015-10-08 21:41] emgarten commented on #1539
Would you provide the structure of your project and include the paths to all web.config files in the project? What were you steps for installing the package when you saw this behavior?

[2015-10-08 21:56] damianh commented on #1521
Delighted to see this come back. I use this heavily in commercial and oss project to deliver tooling such as test runners, build tools (psake), etc. Associating these with a specific project really made no sense.

[2015-10-08 22:05] rcarduner commented on #1539
Hi Justin,

Thanks, I will try to get some essential details for you presently.  I did
undo those changes and also just upgraded PM for VS from 3.2.60902.10488 to
3.2.60914.10516.  But I have some more packages to clean up so if I can
reproduce that I can get you the exact steps.

Thanks,

Robin

On Thu, Oct 8, 2015 at 2:41 PM, Justin Emgarten notifications@github.com
wrote:

[2015-10-08 22:14] yishaigalatzer commented on #1538
Another alternative is to have a file watcher on all folders to indicate a change to nuget.config (need to track add/remove/move/change)

[2015-10-08 22:15] yishaigalatzer commented on #1470
You probably want to have a clean uninstall and reinstall

[2015-10-08 22:33] yishaigalatzer commented on #1425
This turned out to be not necessary

[2015-10-08 22:33] #1425 closed, assigned to deepakaravindr

[2015-10-08 22:33] yishaigalatzer commented on #1424
This turned out to be not necessary

[2015-10-08 22:33] #1424 closed, assigned to deepakaravindr

[2015-10-08 22:34] emgarten commented on #1539
@rcarduner that should fix the issue. There were some known problems in this area in 3.2 RC. Let me know if you see it again with 3.2.60914.10516

[2015-10-08 22:38] rcarduner commented on #1539
I think that may have indeed fixed the issue.  I rolled back all my source
code to before the package updates and tried updating everything again with
the latest version, and did not see the issue again.  I was just looking to
see if I could find the previous version of package manager, but hadn't
yet. I didn't realise that it was only an RC version.  If you believe that
it was one of the issues f

[2015-10-08 22:40] #1176 closed

[2015-10-08 22:40] johnataylor commented on #1466
This does appear to be a problem. It appears that we don't automatically allow packages that are already prerelease in the project when you run update all.

This is probably a fix around NuGetPackageManager.cs l.571 PrunePrereleaseForStableTargets should probably always be give the current list of packages so packages that are currently prerelease can automatically remain prerelease.

[2015-10-08 22:41] davkean opened #1541 "No way to know which project is selected in Package Manager Console if the name is too long and similar to other projects"
In the following, which project is selected?

![image](https://cloud.githubusercontent.com/assets/1103906/10381836/e34887a2-6dd2-11e5-94f1-59435a8f3f77.png)

I have 4 different projects that it could be:

![image](https://cloud.githubusercontent.com/assets/1103906/10381829/d18531be-6dd2-11e5-8d99-14c91ae7abf9.png)

[2015-10-08 22:58] johnataylor commented on #1495
The command line should be consistent with the other scenarios (UI and PowerShell) and first restore the packages. When that happens first this shouldn't happen. Regarding the scenarios referred to in the comment in the Update package code (see references in previous comments). Basically if the package has gone from the feed or the sources have been reconfigured then the restore would fail which m

[2015-10-09 00:21] AArnott commented on #1535
@ericstj I just manually tested a nuget package with a dotnet folder as well as portable-net45+... by installing it into a net45 packages.config project. The project references the lib\net45 assembly. This seems to contradict you're assertion that dotnet always wins, and again suggests that my approach works. What am I missing?

[2015-10-09 00:44] ericstj commented on #1535
Lib\net45 wins over lib\dotnet wins over lib\portable-net45+a+b+c.

[2015-10-09 01:04] AArnott commented on #1535
I don't have a lib\net45 folder. So I'm seeing lib\portable-net45+... win over lib\dotnet

[2015-10-09 01:06] AArnott commented on #1535
But in an Android project, the reference goes to the lib\dotnet folder. Gah!
I'm just going to write it off as "dotnet in nuget is just too buggy to use at this point" and switch to legacy lib folders exclusively.

[2015-10-09 01:19] yishaigalatzer commented on #1293
We would like to control Update operation from the UI with two controls
1. What version to update the selected packages to
2. How to treat dependencies.

This needs another UI discussion.

We also think that the right pane should drop some of the controls when multiple packages are selected for update (many of the controls are irrelevant)

We also want to add back the release notes field

cc @csha

[2015-10-09 01:28] ericstj commented on #1535
Same rule applies on android, did you have a lib/android folder?  DotNET will win over potable, only thing that beats DotNET is a TFM-specific folder.

[2015-10-09 01:52] AArnott commented on #1535
As described above, my package doesn't have a TFM-specific folder. All it has is:

[code]

And my observation is that when I install this package into a net45 class library it references the assembly from the portable-net40-\* folder. And when I reference it from an C# Android project, it references the assembly from the dotnet folder.

I do appreciate all the time you've put into this thread, @er

[2015-10-09 01:57] paulbatum commented on #142
It would be awesome if the Update All UI allowed for you to specify whether the update should be -ToHighestMajor, -ToHighestMinor or -ToHighestPatch for each of your top level packages. Ideally it would default to -ToHighestMinor so that semantic versioning is respected by default.

[2015-10-09 02:18] AArnott commented on #1535
@ericstj In my attempt to remove the dotnet folder and still get my Validation package to work in an Android package, I've run into another nuget error that doesn't make sense to me:

This seems like a contradiction. Of course the version it's testing (4.0.0) complies with a >=4.0.0 constraint. Why is it complaining?

[2015-10-09 02:29] AArnott commented on #1535
Interesting. _That_ error somehow is generated because no active package source allowed NuGet to find the System.Diagnostics.Debug package. Once I activated the appropriate package source, that error went away. I can think of some more helpful error messages than the one I saw there...

Next one is that apparently Xamarin.Android doesn't work with System.Resources.ResourceManager 4.0.0:

How can I

[2015-10-09 02:50] ericstj commented on #1535
If you'd like I can sit down with you tomorrow and walk through scenarios and determine if you are hitting bugs or if you need updates to your package.

[2015-10-09 03:31] AArnott commented on #1535
I'd very much appreciate that, @ericstj. Thanks. I'm willing to change my package in any way in order to meet the requirements of working on my target platforms. Tomorrow afternoon looks good for me. I'll send an S+ in a spot I can find open on your calendar. For my own notes, I'll keep this list updated with those requirements:
- net40
- SL5
- wp80
- win80
- wpa81
- monoandroid
- monotouch
- xama

[2015-10-09 04:08] emgarten commented on #1535
@AArnott I'm not able to repro this:

In a new net45 console app: _install-package Validation -Version 2.2.5_ adds a reference to lib/dotnet for me. Are you by chance using Visual Studio 2013 or retargeting your project as part of your steps when you see lib/portable-net40\* show up after the install?

[2015-10-09 06:04] kevingosse commented on #142
To be in par with current requirements while still keeping the efficiency of the NuGet 2.x "Update All" button, the new button could work in two steps:
- After clicking the button, the list of packages to be updated would appear. From there, you could manually uncheck a package that you wouldn't want to update for some reason (powering a new use-case for NuGet, when you want to update most package

[2015-10-09 06:04] maartenba opened #1542 "Could not install package in VS 2015"
_From @mikasoukhov on October 8, 2015 18:4_

Could not install package 'StockSharp 4.3.7'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.6', but the package does not contain
any assembly references or content files that are compatible with that framework. For more information, contact the package author.

Works ok in VS 2013. In VS 2015 the package ht

[2015-10-09 06:37] spetroll commented on #1507
I got a new pc today and low and behold, it works. Not sure what went wrong on my previous pc. Is there something to trigger a more detailed log that I could post, it still doesn't work on my old one..

[2015-10-09 07:55] albertjan commented on #414
@yishaigalatzer?

[2015-10-09 10:22] DoCode commented on #1521
:+1: Please bring back this feature!!
What would be the successor in your mind?

[2015-10-09 10:24] adamralph commented on #1521
If the feature is being brought back, why does it need a successor?

[2015-10-09 10:30] DoCode commented on #1521
Hi Adam, If the future brings back the function, then no successor is required :wink:

[2015-10-09 10:39] heku commented on #1470
Well, I`ll have a try, thank you all the same.

[2015-10-09 13:04] xavierdecoster commented on #1507
@emgarten could this be caused by some external process locking the csproj file in-between modifications done by the VSIX? Are there more detailed logs that could help in diagnosing this? This sounds like an edge case scenario to me.

[2015-10-09 13:09] delcypher opened #1543 "Nuget 3.2.0.10516 command line client cannot restore packages under mono"
The latest build of the nuget command line client does not seem to be able to run under Mono (4.0.4).

[code]

The old nuget client `2.8.60717.93` worked fine.

For context I'm running Arch Linux (kernel 4.1.6).

[2015-10-09 13:20] delcypher commented on #1543
I can't seem to find `Microsoft.Build.Construction.SolutionParser` as a documented type under https://msdn.microsoft.com/en-us/library/microsoft.build.construction.aspx

Where does it come from?

[2015-10-09 13:20] xavierdecoster commented on #1410
@RanjiniM looks fixed indeed!

[2015-10-09 13:20] #1410 closed, assigned to xavierdecoster

[2015-10-09 14:03] xavierdecoster commented on #352
To support an embedded package icon in the nupkg, it seems we only need the 32x32 icon. All other images are only served on the gallery and don't need to be in the package.

As this issue is about supporting an embedded icon in the package, it sounds to me that a convention-based icon.png in the package root could be sufficient?
IconUrl is an optional nuspec element, so not sure if we should make

[2015-10-09 14:09] maartenba commented on #352
That's an entirely different discussion. All we need is package icon proxying over www.nuget.org.

[2015-10-09 14:45] yishaigalatzer commented on #142
We are going with a different approach where you will click select all then update. Or check the selection of packages. Overall less clicks.

Sent from my Windows Phone

---

From: KooKizmailto:notifications@github.com
Sent: ‎10/‎8/‎2015 11:04 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] NuGet.PackageManagement.UI: Implement u

[2015-10-09 15:42] kamenlitchev commented on #1450
Hm, thanks! But why then those get copied to the output for Windows 8 / .NET 4.0 Class Library?

[2015-10-09 15:56] SurferJeffAtGoogle opened #1544 "Package present in https://www.nuget.org/api/v2 but missing from https://api.nuget.org/v3/index.json"
Severity    Code    Description Project File    Line
Error       NuGet Package restore failed for project BigQuery: Unable to find version '1.9.3' of package 'Google.Apis'..            0

Did we make a mistake while publishing the Google.Apis package?  How do we fix it?  We tried publishing again, but it failed:
$ nuget push google.apis.1.9.3.nupkg  ...
Pushing Google.Apis 1.9.3 to the NuGet galle

[2015-10-09 16:00] Pilchie commented on #1450
Hi @kamenlitchev - In a packages.config based world, msbuild's `ResolveAssemblyReferences` task marked libraries that are referenced to be copied.  However, when references come from project.json, we actually give the compiler different references than you need at runtime.  We use contract assemblies from the `ref` directory of the package for the compiler, but at runtime you need the architecture

[2015-10-09 16:10] SurferJeffAtGoogle commented on #1544
FYI confirmed that the NuGet v3 API does not list 1.9.3:
https://api-v3search-0.nuget.org/query?q=Id:Google.Apis

But the v2 API does:
https://www.nuget.org/api/v2/Packages?$filter=Id%20eq%20%27Google.Apis%27

Also note that other 1.9.3 Google.Apis.\* packages released on 8/12 do show up in the new API, eg. Google.Apis.Core and Google.Apis.Auth.

[2015-10-09 16:14] maartenba commented on #1544
Can you give it another go?

[2015-10-09 16:17] SurferJeffAtGoogle commented on #1544
I rebuilt, and it worked!  Thanks for your help!

Any tips for avoiding this issue with future releases?

[2015-10-09 16:19] maartenba commented on #1544
None, seems our indexing process missed this guy, I just gave it a punch. We'll be looking into why it wasn't included in the first place.

[2015-10-09 16:19] #1544 closed, assigned to nobody

[2015-10-09 16:26] xavierdecoster commented on #352
Nope, your discussion is here: https://github.com/NuGet/NuGetGallery/issues/2613
Related,
 but not the topic of this client issue 😊
So, on topic, how about this client issue?

[2015-10-09 16:28] feiling opened #1545 "Need an API to update list of packages in a list of projects"
We have APIs in PackageManager to
- Update one package in a list of projects
- Update all packages in a list of projects

But we don't have an API to update list of packages in a list of projects, which is needed to support multiselect update in the new UI design.

[2015-10-09 16:41] yishaigalatzer commented on #1078
Nuget.Core is now building from https://github.com/nuget/nuget2

[2015-10-09 16:45] #775 closed

[2015-10-09 16:47] yishaigalatzer commented on #142
@paulbatum We will support controlling how packages are being updated (major/minor/patch for top level packages and dependencies, we haven't yet decided how the UI is going to look like)

@KooKiz here is a screen shot of the @feiling 's machine showing what its going to look like (final colors and spacing is not done yet)

![image](https://cloud.githubusercontent.com/assets/1238711/10399917/8986ff

[2015-10-09 18:59] dudeNumber4 opened #1546 "Can't install any package"
Using Visual Studio 2015, Package Manager Console Host Version 3.2.0.1051.  Large solution with many .dlls, the project I'm trying to add a package to is an ASP.NET MVC web application.  Same result attempting to install any package.  Recently upgraded solution following steps here (http://docs.nuget.org/consume/package-restore/migrating-to-automatic-package-restore), no difference.  Here is the o

[2015-10-09 20:26] AArnott commented on #1535
No. I don't even have VS2013 installed on this box. But just now, I'm seeing the same thing you are (although I saw what I claimed to several times yesterday....i think)

[2015-10-09 21:24] yishaigalatzer opened #1547 "Unnecessary exception being thrown"
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.ProjectManagement/Utility/MSBuildNuGetProjectSystemUtility.cs#L344

The second delete throws most of the time on the happy path. Not sure why this call is there to begin with, but we can definitely check if the directory doesn't exist before trying to delete it the first time.

[code]

[2015-10-09 23:29] AArnott commented on #1535
@ericstj was able to resolve the issue for me. Here was the magic combination of settings that makes it all work (from what I've tested so far):
- dependency groups in nuspec explicitly called out for every target platform that are _empty_
- a dependency group for 'dotnet' that accurately express all contract package dependencies.
- of my two PCL projects, the contract-based one should target net4

[2015-10-09 23:39] AArnott opened #1548 "NuGet client adds reference to inappropriate target platform assembly"
1. Create a PCL targeting Profile7 (net45+dnxcore50+win8+monoandroid+monotouch+xamarianios)
2. Configure a NuGet Package Source for this URL: `https://ci.appveyor.com/nuget/validation-qrkoqeildw84`
3. Install-Package Validation -Version 2.2.18-g0904725fe0
4. Inspect the reference to Validation.dll that was added to the project. In particular, look at its HintPath metadata.

**Expected**
The assemb

[2015-10-09 23:39] AArnott commented on #1548
This found in the process of working with @ericstj on #1535

[2015-10-09 23:48] yishaigalatzer commented on #1535
Andrew the point is that we are changing all of this to be reasonable. So not sure spending the effort is that valuable, particularly since it will be obsolete and confusing by update 1

Sent from my Windows Phone

---

From: Andrew Arnottmailto:notifications@github.com
Sent: ‎10/‎9/‎2015 4:29 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject:

[2015-10-09 23:49] nambrose commented on #1476
Debugged a little with Yishai and Aspose.Email 5.8.0 installs fine (my original version was 5.7.0 which still fails)

EDIT:
I installed 5.7.0 with the prod version and it failed again.
Then I went to the debug bits to install 5.7.0 and trap the failure ... and now 5.7.0 works for both the debug and production bits.

i guess I will close this out and keep an eye on any re-occurences ?

Pretty irrit

[2015-10-09 23:50] AArnott commented on #1535
I'd love to save my effort where its value would be obsolete quickly, @yishaigalatzer. What part(s) of it is obsoleted by update 1 and where can I read about the newer design?

(and _my_ point is that I have to get something working with the software available today, so that why I'm happy Eric unblocked me)

[2015-10-09 23:59] #1476 closed, assigned to nobody

[2015-10-10 00:03] carpnick commented on #1521
I am with @damianh  - We use this heavily to bring in all build tools.  GitHub Releases, Nunit, Code Coverage, Nant etc.

We install Nuget.exe using configuration management globally on the system and then just call nuget restore on the solution.  Then our next build step calls all tools from inside packages.

[2015-10-10 00:54] RanjiniM commented on #1475
@gravidThoughts, do you have a fiddler trace that you can share for this issue? Thanks!

[2015-10-10 01:50] heku commented on #1470
Hi, last night I re-installed a clean OS (windows 10 pro 32 English) and installed VS2015 community (English) and updated Nuget to the latest version. then try to install EntityFramework and System.Data.SQLite,  the SQLite can install successfully but the EntityFramework still have the issue.

At C:\Codes\NugetTest\packages\EntityFramework.6.1.3\tools\EntityFramework.psm1:1004 char:5

$packageInst

[2015-10-10 05:41] zhili1208 commented on #1470
It's still same issue. where do you download VS community version and can you provide the link?

[2015-10-10 10:49] poizan42 opened #1549 "ConcurrencyUtilities.FilePathToLockName in NuGet.Packaging issue with long paths?"
I noticed that you have the same ConcurrencyUtilities.FilePathToLockName implementation as used by DNX where I reported aspnet/dnx#2943. I couldn't find anywhere it's used in NuGet though, so maybe the class should just be removed?

[2015-10-10 14:42] MatzeG opened #1550 "hexadecimal value 0x00, is an invalid character. Line 1, position 1."
Hello

I get on some Projects the following error and i don´t know how to find it. Any hints? I use VS 2015 and Nuget 3.2.60914.10516

regards Matthias

System.Xml.XmlException: '.', hexadecimal value 0x00, is an invalid character. Line 1, position 1.
   at System.Xml.XmlTextReaderImpl.Throw(Exception e)
   at System.Xml.XmlTextReaderImpl.Throw(String res, String[] args)
   at System.Xml.XmlTextRe

[2015-10-10 18:31] mababey opened #1551 "NuGet v3.2 does not negotiate Kerberos, but only for restore and only for project.json references"
I was catching up with this thread: https://github.com/NuGet/Home/issues/456, but the discussion revolved around basic auth.  I’m seeing issues with Windows Integrated Auth.

We have a UWP app we’re trying to migrate from VS2015 RC to RTM.  For the RC, using packages.config and NuGet v3.0, there’s no problem installing packages from our intranet server for third-party components, let's call it htt

[2015-10-11 07:12] tom-englert commented on #304
@tmat, @yishaigalatzer another unresolved issue: If I modify the project as described above, $(NuGetPackageRoot) is undefined, and I had to replace it with a constant value. I found no documentation about how to set this dynamicaly.

[2015-10-11 14:45] yishaigalatzer commented on #304
@tom-englert which project are you changing, where it doesn't work.
@tmat we should make the package work for net45 projects natively

[2015-10-11 18:10] tomspilman commented on #1102
FYI.  The Windows 10 SDK Tools release includes the fix for this:

https://social.msdn.microsoft.com/Forums/en-US/e9df01f6-1474-4a4e-98fc-2567591c764f/update-11-release-notes-and-installation-instructions?forum=Win10SDKToolsIssues

[2015-10-11 20:54] spankr commented on #694
Hrm, I seem to have issues trying to get the dev environment up and running. I've been following the [instructions](http://docs.nuget.org/Contribute/Setting-up-the-NuGet-Development-Environment) and most of it seems to be building from my Powershell (v5) prompt.

I am seeing a lot of _Build succeeded._ and passing tests so that's good. I just seem to be having difficulties finding the ProjectManag

[2015-10-12 00:14] yishaigalatzer commented on #694
Yes. Use nuget.client, we finally got good builds there.

Make sure you have aspnet 5 beta7 installed and deleted as well as vs SDK and win 10 toolset

Sent from my Windows Phone

---

From: Lealand Vettlesonmailto:notifications@github.com
Sent: ‎10/‎11/‎2015 1:54 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] NuGet pack append

[2015-10-12 01:27] regisbsb commented on #1094
Cool will we need a visual studio update? @RanjiniM

[2015-10-12 01:37] yishaigalatzer commented on #1094
No visual studio update will be necessary, just a nuget extension update

[2015-10-12 08:49] FransBouma commented on #1533
A different one this morning:

the lib _is_ registered as a normal project reference. I also don't understand why it wants to generate binding redirects as the vs.net project is .net 4.5, and nunit.framework supports that.

[2015-10-12 09:34] tom-englert commented on #304
@yishaigalatzer https://github.com/tom-englert/NuGet2/blob/2.9/src/CommandLine/CommandLine.csproj

[2015-10-12 13:42] spankr commented on #694
Will do. Thanks for the help, Yishai!

[2015-10-12 14:30] kjeremy commented on #1526
I just saw this on a Xamarin project trying to install Xamarin.Android.Support.Design.  It took over 20 minutes to install the nuget packages into my bare-bones project.

[2015-10-12 15:57] riplikash commented on #1521
This is an incredibly important feature for us. We built our development environment around it, with solution packages for different project types and roles. Right now it's keeping us from updating to VS 2015, as we would have to redefine a lot of our scripts.

It's worth noting that this feature was actually a bit broken in VS 2013. Two major issues come to mind:

1) Solution packages couldn't re

[2015-10-12 16:23] yishaigalatzer commented on #1526
@kjeremy can you share more details? What version of NuGet are you using? What version of Xamarin.Android.Support.Design did you try to install? What exact bare bone project are you using?

In general we find that NuGet 3.2 is installing packages quicker than NuGet 2.8.X, so we ask you for exact details to help us pinpoint the issue you are referring to

[2015-10-12 16:28] yishaigalatzer commented on #1526
@kjeremy one other thought is that this could come from your package sources. Do you have a very slow server or a large file share as a source?

[2015-10-12 16:34] yishaigalatzer commented on #1550
Can you look at your app.config or web.config across your solution?
Can you share the project?

Our error handling should probably call out the file name that is causing this to happen.

[2015-10-12 18:01] yishaigalatzer commented on #1550
Fix through - https://github.com/NuGet/NuGet.Client/pull/17/files

[2015-10-12 18:06] yishaigalatzer commented on #1548
@emgarten can you provide a quick opinion on the matter?

[2015-10-12 18:22] deepakaravindr opened #1552 "nuget.exe install generates a lot of (parallel) network requests compared to UI or nuget.exe.2.*"
nuget.exe install generates a lot of (parallel) network requests compared to UI or nuget.exe.2.*.
This happens, because, nuget.exe has to install under "Any" target framework, and with the new dependency resolution mechanism, it seems necessary that those requests are made.

Repro steps:
1. nuget.exe install t4mvc

Expected:
Number of requests generated is comparable to the UI or nuget.exe.2.8

Ac

[2015-10-12 18:24] deepakaravindr opened #1553 "nuget.exe install does not say 'All the packages are already installed', when they are."
nuget.exe install does not say 'All the packages are already installed', when they are.
[Regression from nuget.exe 2.8.*]

Repro steps:
1. Create a net45 Console Application and install WindowsAzure.Storage
2. Confirm that the packages are restored
3. Run nuget.exe install on the packages.config from Step 1

Expected:
Message saying 'All the packages are already installed'.

Actual:
There is no me

[2015-10-12 18:28] deepakaravindr opened #1554 "nuget.exe install jQuery -Version 5.0.0 says 'Package 'jQuery' does not exist'."
nuget.exe install jQuery -Version 5.0.0 says 'Package 'jQuery' does not exist'.
[Regression from nuget.exe 3.1]

Repro steps:
1. Run nuget.exe install jQuery -Version 5.0.0

Expected:
Unable to find version '5.0.0' of package 'jQuery'.

Actual:
Package 'jQuery' does not exist

[2015-10-12 18:44] deepakaravindr opened #1555 "nuget.exe install throws if one of the sources is bad on the -Source switch."
nuget.exe install throws if one of the sources is bad on the -Source switch.
[Regression from nuget.exe 2.*]

Repro steps:
1. nuget.exe install EntityFramework  -Source "https://nuget.doesnotexist.org;https://www.nuget.org/api/v2"

Expected:
Package gets installed with a warning that a source does not exist.
WARNING: The remote name could not be resolved: 'nuget.doesnotexist.org'
Installing 'Entit

[2015-10-12 18:45] deepakaravindr opened #1556 "nuget.exe install does not honor '-DisableParallelProcessing' switch"
nuget.exe install does not honor '-DisableParallelProcessing' switch

Repro steps:
1. nuget.exe install t4mvc -DisableParallelProcessing

Expected:
Necessary package(s) are installed serially and parallel requests are not made

Actual:
Used Fiddler to verify that parallel requests are made and the switch '-DisableParallelProcessing' is not honored

[2015-10-12 20:26] lilith commented on #300
There are already comments to the effect on the page. Kind of a wasted survey.

[2015-10-12 20:53] MeniZalzman commented on #1555
We get that this issue is a regression but we consider this behavior incorrect. we will consider reopening based on customer feedback

[2015-10-12 20:53] #1555 closed, assigned to nobody

[2015-10-12 21:04] MeniZalzman commented on #1552
this bug is about doing multi phase gather when resolving the dependency tree

[2015-10-12 21:09] MeniZalzman commented on #1548
Profile 7 does not include dnxcore50, try removing that from your folder path

[2015-10-12 21:13] MeniZalzman commented on #1546
Dupe: https://github.com/NuGet/Home/issues/1550

[2015-10-12 21:15] MeniZalzman commented on #1546
we assume that what happens in your solution that one of your app.config or web.config is corrupted or empty.

[2015-10-12 21:16] #1342 closed, assigned to zhili1208

[2015-10-12 21:17] ericstj commented on #1457
I reordered the assets in a package and actually hit this on a completely valid package, so it wasn't happening due to no matching RID.

The bug is here: https://github.com/NuGet/NuGet3/blob/007e3477862665eb3d9dcc3a03aa29133bde511c/src/NuGet.ContentModel/ContentItemCollection.cs#L98

When evaluating groups against criteria this algorithm doesn't account for the case when a group is "overly qualifi

[2015-10-12 21:17] #1539 closed, assigned to nobody

[2015-10-12 21:27] MeniZalzman commented on #1542
this package seems to be not following the NuGet package authoring guidelines, please ref to the following document to fix the package
http://docs.nuget.org/Create/Creating-and-Publishing-a-Package

[2015-10-12 21:40] ericstj commented on #1548
@MeniZalzman I believe it does as of the latest VS update.  /cc @rchande

[2015-10-12 21:59] yishaigalatzer commented on #1457
@ericstj we are now building out of https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Client/ManagedCodeConventions.cs

[2015-10-12 22:11] mikasoukhov commented on #1542
I've created it using Nuget API v2.8.60717.93

Does the API still workable?

[2015-10-12 22:20] kimjohnson opened #1557 "Nuspec dependency w/o version specified installs earliest"
In prior NuGet versions a version-agnostic dependency, such as
     dependency id="NuGetPowerTools"
would install the latest version.  Now with NuGet 3 the earliest version is installed.

[2015-10-12 22:33] danliu commented on #1505
PR submitted: https://github.com/NuGet/NuGet.Client/pull/19

[2015-10-12 22:34] ericstj commented on #1457
Then that fix would go here: https://github.com/NuGet/NuGet.Client/blob/3a9e61a52f0e9bc47380031bcddc0a73ff3883ea/src/NuGet.Core/NuGet.Client/ManagedCodeConventions.cs#L201

[2015-10-12 22:48] yishaigalatzer commented on #1557
You have worlds here:

In packages.config you can control the dependency behavior through a dropdown in the UI or through a parameter in the powershell console

In project.json it is by design.

[2015-10-12 23:21] emgarten commented on #1548
Was this added to the .NET framework or to Visual Studio for projects of this type?

[2015-10-12 23:28] yishaigalatzer commented on #1542
The package is violating many basic tenants of what a NuGet package should look like
1. The dlls should be in the lib folder, under a target framework
2. You are including many dlls your package should reference as a dependency or as a Framework assembly

Without the first step, your package just cannot work, no references would be added. The second step makes the package bloated and it will confl

[2015-10-12 23:28] #1542 closed, assigned to nobody

[2015-10-12 23:36] yishaigalatzer commented on #1543
For now you have to restore packages.config only.

There is remaining work to bring back support for xbuild.

[2015-10-12 23:48] yishaigalatzer commented on #1540
@chandramouleswaran this is the first time I'm seeing project references used this way. I've used batch build before to control the build order.

The simple answer for this kind of question is: Use a nuspec based packing. .csproj packing is a very limited feature, and our investment in it come at a low priority.

We would consider a pull request of course (code, test & docs).

[2015-10-12 23:54] yishaigalatzer commented on #1441
ping

[2015-10-12 23:57] yishaigalatzer commented on #1392
If you want to control it, you have to use the parameter. In most cases the command line used to call msbuild, is used to call nuget and hence they should be the same.

If you want to opt out, you can use the flag, or control the path environment variable.

We though about doing -msbuildversion Latest, but it is not very useful because of breaking changes between versions of msbuild

[2015-10-12 23:57] #1392 closed, assigned to nobody

[2015-10-12 23:59] yishaigalatzer commented on #1298
Sorry we dropped this thread, are you still blocked on this?

[2015-10-13 00:03] yishaigalatzer commented on #1291
Looks like we need to fix nuget.exe update to recognize that the TFM is "native" or enable a flag to select the TFM when running nuget.exe update.

[2015-10-13 00:07] yishaigalatzer commented on #1243
@ericstj ping?

[2015-10-13 00:07] yishaigalatzer commented on #1222
Haven't hear back

[2015-10-13 00:07] #1222 closed, assigned to nobody

[2015-10-13 00:08] yishaigalatzer commented on #1215
We didn't hear anything back. Closing for now

[2015-10-13 00:14] yishaigalatzer commented on #1224
@CobraCalle any updates on the matter? Do you mind updating to the latest NuGet available (either 3.2 from the gallery or to 3.2.1-rc from http://dist.nuget.org/index.html

[2015-10-13 00:17] yishaigalatzer commented on #1235
@feiling is this issue resolved already?

[2015-10-13 00:58] emgarten opened #1558 "Add sym link feature for nupkgs"
Allow nuspecs to define sym links. This would avoid duplicating files in the nupkg.

[2015-10-13 01:23] emgarten commented on #1509
This shouldn't be an issue beyond logging and potentially search. The project.json file is re-read for each restore and the TFM is taken directly from there. Removing this property could cause issues since other parts of the code require the project to have a TFM.

[2015-10-13 01:24] ericstj commented on #1548
It was a change to the portable targeting pack afaik. Kevin or Ravi should be able to give more details. @pilchie

[2015-10-13 01:30] #1243 closed, assigned to nobody

[2015-10-13 05:04] mprevot commented on #1298
Still but I also dropped to use this package.

Le mardi 13 octobre 2015, Yishai Galatzer notifications@github.com a
écrit :

[2015-10-13 05:16] yishaigalatzer commented on #1298
Sorry, but I don't understand. Can you elaborate?

[2015-10-13 05:32] mprevot commented on #1298
I didn't managed to make the package work, but I also dropped the idea to
use it.

Le mardi 13 octobre 2015, Yishai Galatzer notifications@github.com a
écrit :

[2015-10-13 06:51] pmcgrath opened #1559 "nuget.exe scripted package update issues"
Hi all,
I am currently working in a system that has lots of micro-services where I sometimes want to update a package across a number of services which are in their own repositories. That is I do not want to necessarily want to update all the services.
I have looked into scripting updating these updates with nuget.exe but have observed that its behavior is different to the nuget package manager wi

[2015-10-13 09:46] davidfowl commented on #1538
Yes please :smile:

[2015-10-13 10:34] mikasoukhov commented on #1542
So in VS 2015 behavior for Nuget packages was changed?

[2015-10-13 11:11] davidfowl commented on #1542
Very strange that it ever worked really. The package doesn't even have a lib folder.

@mikasoukhov Are you the owner of this package?

[2015-10-13 11:37] mikasoukhov commented on #1542
Yes, owner.

[2015-10-13 12:12] dudeNumber4 commented on #1546
OK, finally after thrashing for hours, I got an error in the error list coming referencing the app config on a unit test project.  Something had turned that config into a whole lotta nulls.  When I restored the contents from source control and attempted nuget again, it became corrupted again - bunches of spaces before the first xml declaration and after the end of the last node.  Fixed that manual

[2015-10-13 12:23] FransBouma commented on #1533
Is there _anyone_ even interested in solving this? I have to wade through this mess every damn day. I can now not install a package at all, retrying doesn't work. When I open the solution 2015, it works. Before you say 'so that solves it then', it doesn't, I prefer 2013 over 2015 as 2015 has some issues e.g. with debugger visualizers so I can't use 2015.

[2015-10-13 13:15] kjeremy commented on #1526
The latest stable of all of the above.  Package source is the default that
comes with VS2015.  It occurs to me that I have resharper 9 installed and
I'm thinking that may be part of the problem.

On Mon, Oct 12, 2015 at 12:28 PM, Yishai Galatzer notifications@github.com
wrote:

[2015-10-13 14:12] yishaigalatzer commented on #1526
Sounds like a good path. The packages are very simple nothing that should take that long.

Can you let us know what is up once you removed resharper?

Sent from my Windows Phone

---

From: Jeremy Kolbmailto:notifications@github.com
Sent: ‎10/‎13/‎2015 6:15 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] nuget 3.2 freeze Visual S

[2015-10-13 14:50] Pilchie commented on #1548
Yes, we opted dnxcore50 into the existing contract based profiles.

[2015-10-13 14:50] Pilchie commented on #1548
Tagging @rchande too.

[2015-10-13 15:21] spankr commented on #694
Okay, Nuget.Client\build.ps1 ran with no errors yesterday on my Win10 system so I'll use that. :+1:
_(I seem to have 18 build errors from my Win7 about not finding packages\NuGet.MsBuild.Integration.)_

To clarify, I want to use [Nuget.Client](https://github.com/NuGet/NuGet.Client) for investigating the change and not the [Home](https://github.com/NuGet/Home) + [PackageManagement](https://github.c

[2015-10-13 15:27] yishaigalatzer commented on #694
Yes, some code might still be in nuget2

Sent from my Windows Phone

---

From: Lealand Vettlesonmailto:notifications@github.com
Sent: ‎10/‎13/‎2015 8:22 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] NuGet pack append prerelease suffix to version (#694)

Okay, Nuget.Client\build.ps1 ran with no errors yesterday on my Win10 syst

[2015-10-13 15:33] yishaigalatzer commented on #694
You need win10 tools on your win7 machine

Sent from my Windows Phone

---

From: Yishai Galatzermailto:yigalatz@microsoft.com
Sent: ‎10/‎13/‎2015 8:27 AM
To: NuGet/Homemailto:reply@reply.github.com; NuGet/Homemailto:Home@noreply.github.com
Subject: RE: [Home] NuGet pack append prerelease suffix to version (#694)

Yes, some code might still be in nuget2

Sent from my Windows Phone

---

From: Leal

[2015-10-13 16:02] Viacheslav01 commented on #1526
I have removed Resharper unfortunately it doesn't solve the issue.

[2015-10-13 16:04] yishaigalatzer commented on #1526
Do you have any other tool running tests in the background or locking files? Can you share a sample project (so we do exactly the same thing, and I'll try on my side with a vanilla visual studio)

[2015-10-13 16:38] kimjohnson commented on #1557
Thanks.  It is a breaking change, but it's good to know the workaround is easy.

[2015-10-13 16:38] #1557 closed, assigned to nobody

[2015-10-13 16:45] xavierdecoster commented on #952
Is this nuget.exe restore or VS right-click on References node > Restore Packages?
Are you using the bad URL in the sources list of the options dialog or in nuget.config?

[2015-10-13 16:48] yishaigalatzer commented on #952
VS, I suspect it will show up in other places as well. need some trial and error here.

[2015-10-13 16:49] ecsousa opened #1560 "NuGet 3.2 Freezing Visual Studio 2015"
There is one solution in which I work that, when I open it in Visual Studio 2015 with NuGet 3.2 installed, Visual Studio freezes after a while (usually, when I use the search feature in Solution Explorer).

I am not sure what is causing this behavior, but there is a special configuration in this solution that might be the cause: it contains a Nuget.Config inside .nuget folder that clears package s

[2015-10-13 16:59] codepic opened #1561 "NuGet should respect specific version dependency even if higher version package exists locally"
Here's my NuGet.config in the solution folder

[code]

In the `Lojaali` feed, we have a package that has specific version dependency to package id `Facebook`.

[code]

In the feed `Lojaali` there is only that specific version `5.4.1` of `Facebook` available. The private feed also has an upstream source to `NuGet.org` but that feed is filtered to exclude prerelease versions.

In my local packages f

[2015-10-13 17:50] MeniZalzman commented on #1078
:shipit:  @xavierdecoster Please make sure you are merging this PR to 2.10 branch, we ship 2.9

[2015-10-13 17:51] Pilchie opened #1562 "Old portable profiles have been opted into dnxcore50."
As part of Win10Tools1.1/VS2015 Update 1, the portable tooling now opts existing profiles that support it into ASP.NET Core 5.0/dnxcore50.

NuGet will need to be able to reason about this.

[2015-10-13 17:52] yishaigalatzer commented on #1078
We _shipped_ 2.9

From: Meni Zalzman [mailto:notifications@github.com]
Sent: Tuesday, October 13, 2015 10:51 AM
To: NuGet/Home Home@noreply.github.com
Cc: Yishai Galatzer yigalatz@microsoft.com
Subject: Re: [Home] Fix overflow in HttpClient (#1078)

[:shipit:]@xavierdecosterhttps://na01.safelinks.protection.outlook.com/?url=https%3a%2f%2fgithub.com%2fxavierdecoster&data=01%7c01%7cyigalatz%40micros

[2015-10-13 18:07] xavierdecoster commented on #1078
Merged in 2.10 branch with https://github.com/NuGet/NuGet2/issues/15

[2015-10-13 18:07] #1078 closed

[2015-10-13 18:30] nguerrera opened #1563 "Failure to install portable nuget packages in VS 2013 + NuGet 2.8.60273.765"
**Setup**
- Visual Studio 2013 Update 4
- NuGet 2.8.60273.765

**Repro steps**
- File -> New Project
- Class Library (Portable)
- .NET Framework 4.5 + Windows 8
- Tools -> NuGet Package Manager -> Package Manager Console
- `Install-Package System.Collections.Immutable -Version 1.1.36`

**Expected result**
Package installs successfully

**Actual result**

[code]

At first, I thought this might have

[2015-10-13 18:50] deepakaravindr opened #1564 "Need to refactor NuGetPackageManagerTests to avoid code redundancy"
Need to refactor NuGetPackageManagerTests to avoid code redundancy.
A lot of tests have redundant code and they could be simplified significantly by refactoring
NuGetPackageManagerTests to have a (private) helper class to construct the test context.

[2015-10-13 18:56] yishaigalatzer commented on #1546
Thanks. We will take a look on what could be the source

[2015-10-13 19:13] yishaigalatzer commented on #1562
This needs a discussion, after spending some time with @emgarten we think this change should be reverted, or a new profile added.

I can be convinced otherwise, but this needs an immediate discussion, and we need to know about any such desired changes going forward.

[2015-10-13 19:22] Pilchie commented on #1562
It's not "a new profile".  It is the 8 or however many profiles that already have surface area that matches.

[2015-10-13 19:22] emgarten commented on #1522
Merged

[2015-10-13 19:22] #1522 closed, assigned to emgarten

[2015-10-13 19:26] yishaigalatzer commented on #1562
@Pilchie I think that your statement above is the core of the issue here.

Creating portable-Random1+Random2+(wellKnownProfile1)  doesn't behave the same as portable-(wellKnownProfile2) when wellKnownProfile2 == Random1+Random2+(wellKnownProfile1)

[2015-10-13 20:04] csharpfritz commented on #1562
Questions that need to be answered:

Does this break existing clients?
Does this break existing packages?
Will existing packages not work with this new mechanism?

If the answer is yes to any of these questions then we need to find a better strategy.

[2015-10-13 20:27] ecsousa commented on #1560
Hello,

Sorry for this issue. I did some digging, and the freeze were being cause by another extension: https://visualstudiogallery.msdn.microsoft.com/e8d1fcad-5fa5-4353-ba9c-90f4b6a68154?SRC=VSIDE

I will close this issue.

[2015-10-13 20:27] #1560 closed, assigned to nobody

[2015-10-13 20:45] Pilchie commented on #1562
Tagging @ericstj and @rchande in this issue too.

[2015-10-13 21:12] danliu opened #1565 "NuGet did not update targets import correctly"
Here is the ending imports section:

![c2](https://cloud.githubusercontent.com/assets/1087852/10468571/a421f708-71b4-11e5-8066-de6ae49fbc5c.PNG)

[2015-10-13 21:16] danliu opened #1566 "Packages.config may become invalid with incorrect sections"
[code]

 <package id="Microsoft.VisualStudio.ProjectSystem.SDK.Tools" version="15.0.18-alpha-g26b779c4a0" />

[2015-10-13 22:32] emgarten commented on #965
@anurse I think this fix was mainly to get old packages working again, not for the new any convention. We should support build/any/id.targets.

Should we ignore TFM sub folders if files exist in the root, or should we ignore the root if tfm folders exist? It is messy to support both conventions, but I think we've already decided to do that here.

[2015-10-13 23:25] #1505 closed, assigned to danliu

[2015-10-13 23:29] feiling commented on #1430
Fix committed. https://github.com/NuGet/NuGet.Client/commit/0832a8029c12e6cdc0dba2b9498b13445811625d

[2015-10-13 23:29] #1430 closed, assigned to feiling

[2015-10-13 23:45] yishaigalatzer opened #1567 "Corrupt NuGet.config is ignored by nuget"
example:

Create a console app
install jquery
Clean the packages folder

Drop the following content into a local nuget.config

[code]

run nuget.exe restore consoleapp.sln
## Expected

Fail or warn
## Actual

The invalid config is ignored and restore proceeds

Why does it matter?
Imaging the config file was pointing to a different repository, but it had a flaw where the XML was invalid. The restor

[2015-10-14 00:34] #796 closed

[2015-10-14 00:42] analogrelay opened #1568 "NuGetFramework.GetShortFolderName is a little odd"
`DNXCore,Version=v5.0` => `dnxcore5`? It should be `dnxcore50`... Same for `net4`, etc.

/cc @davidfowl @yishaigalatzer

[2015-10-14 00:45] emgarten commented on #1561
That is very strange that it is ignoring the dependency constraint in your scenario. What version of the NuGet vsix do you have installed?

[2015-10-14 01:02] #1387 closed, assigned to zhili1208

[2015-10-14 01:17] codepic commented on #1561
NuGet Package Manager for Visual Studio 2015 Version `3.2.60914.10516`

Same version as available in [Visual Studio Gallery](https://visualstudiogallery.msdn.microsoft.com/5d345edc-2e2d-4a9c-b73b-d53956dc458d)

[2015-10-14 02:18] emgarten commented on #1561
Are you able to repro this issue when using the v2 source for your MyGet feed? The resolution phase does not read the nupkgs, only the package metadata as given by the feed, so if we can rule that out it would narrow this issue down.

You could also try copying the packages to a local folder, adding it as a source, and installing from that.

[2015-10-14 02:26] #1444 closed, assigned to zhili1208

[2015-10-14 02:28] #1445 closed, assigned to zhili1208

[2015-10-14 02:29] codepic commented on #1561
I'll check. Just a moment.

[2015-10-14 02:30] yishaigalatzer commented on #1563
I would guess that this could be because of the changes that added dnxcore50 without coordinating with nuget changes.

@ericstj @emgarten

[2015-10-14 02:37] codepic commented on #1561
@emgarten I just checked multiple times switching between v3 and v2 sources while closing and reopening the solution in beween the tests. Every time the result was consistent. While it does replicate in v3, it does not replicate with v2 source.

[2015-10-14 02:38] yishaigalatzer commented on #1397
I've made a change that improves performance here by x3/x4, I still see install being about x3/x4 faster than uninstall, but all the time is spent in the csproj.dll.

Reaching out to @pilchie and @jasonmal to see if we can do something better about this.

[2015-10-14 02:48] emgarten commented on #1561
Thank you for checking that, I haven't seen this issue come up anywhere else so this could be a MyGet  v3 issue.

@maartenba @xavierdecoster is the strict version range syntax making it into the MyGet v3 feed in the same way it does on nuget.org?

[2015-10-14 03:01] codepic commented on #1561
Not sure if it helps but here's the difference of the preview window in visual studio when I switch the feeds in order to repro the situation. Note, there's no single specific version reported by the v3 feed.

![ngbg](https://cloud.githubusercontent.com/assets/3933589/10473806/325d83f6-7238-11e5-9679-5faf8ae29d38.png)

And here's the nuspec for the package I'm installing. For if it helps.

[code]

[2015-10-14 03:25] #1397 closed, assigned to yishaigalatzer

[2015-10-14 03:29] yishaigalatzer opened #1569 "Follow up to #1397"
Made a pretty large fix, but looks like we have more room for improvement

From @jwynia

Currently - Most of the time is spent in projectItem.Delete() which is a DTE call.

[2015-10-14 04:18] ericsciple opened #1570 "Improve extension load error message"
Consider improving the extension load error message. The error printed from nuget.exe to the console is:

_Unable to load one or more of the requested types. Retrieve the LoaderExceptions property for more information._

Something like the following might be more helpful:

_Failed to load extension <FULL PATH TO EXTENSION DLL>. If you are using the environment variable NUGET_EXTENSIONS_PATH to loa

[2015-10-14 04:55] emgarten commented on #1568
This could easily be fixed, but we would more or less need to define the expected format for every TxM due to how random the format is today.

Example: win80, wp80 look odd also.

[2015-10-14 05:07] emgarten commented on #1561
@codepic that shows the problem clearly. The nuspec looks correct to me. The V3 feed must be dropping the []'s when writing the ranges into the registration files.

[2015-10-14 05:19] emgarten commented on #1563
@yishaigalatzer that would be my guess. There is no other way to get dnxcore50 into a portable framework for the project otherwise.

[2015-10-14 07:21] mbp opened #1571 "Cannot update package X when package Y is installed as pre-release package"
With Visual Studio 2015 / NuGet Package Manager 3.2.60914.10516, I get problems when my solution contains pre-release packages. It is not possible to update a package without getting an error. The same works in Visual Studio 2013 / NuGet Package Manager 2.8.60318.734.

Steps to reproduce:
1. `Install-Package FluentAssertions -Version 3.5.0`

Output:

[code]
1. `Install-Package MvcExtensions -Pre`

[2015-10-14 08:01] Miiite opened #1572 "VS2015 Community "Object not set to an instance of object""
Hello,

I recently did a clean install of both Windows 10 and VS2015 Community (using parrallels desktop).

I created a new Xamarin project, added a PCL project to it, and openned the Nuget Package Manager using the "Manage Nuget Packages" menu on my PCL project. By default the PCL targets .NET Framwork 4.0.3

The manager opened correctly, but I needed to retarget my PCL project in order to instal

[2015-10-14 09:24] akoeplinger commented on #1427
@yishaigalatzer what's the verdict on this one? did you standardize on `nuget.config` as the default (with fallback for the other casings) like in DNX?

I still see other casings in the codebase: https://github.com/NuGet/NuGet3/blob/fdf204fa74ab3a336eb0ce11ac4eb0e87309bb0d/src/NuGet.Configuration/Settings/Settings.cs#L24

[2015-10-14 13:00] tomkuijsten opened #1573 "Bring powershell cmdlets outside visual studio"
We are trying to automate the update package proces of in-house packages through a powershell script. The commands we need (e.g. update to a specific version) are not exposed in nuget.exe, only by the powershell cmdlets in visual studio. Why isn't it possible to bring those cmdlets outside visual studio?

[2015-10-14 13:56] maartenba commented on #1561
@codepic we deployed an update to MyGet which should fix this, can you verify?

[2015-10-14 14:30] jc1001 opened #1574 "NuGet 2 mirror command does not replace missing packages"
Hi there,

I've found an issue while using the "mirror" command (NuGet.ServerExtensions.dll) in NuGet 2 to mirror from several remote repositories to a local path.

The problem occurred in the following scenario:
- Package A has a dependency on package B.
- Using the mirror command on package A (with the default DependenciesMode option), mirror pulls both package A and B as expected.
- I then went

[2015-10-14 16:31] analogrelay commented on #1568
I'd rather just normalize to at least two digits than try to emulate exactly the format used by older versions. As @yishaigalatzer and I discussed, it's not likely to break anything since everywhere that reads them does full parsing to understand them, so it's just for aesthetics. I think the two digit values are clearer, even for `win80` (especially with `win81` in existence)

[2015-10-14 16:39] lilith commented on #300
NuGet 3 won't work on VS2013, so it's really not something we can target as library developers.

Anything we should keep in mind or try to stay compatible with as we implement native dependency support in Paket?

[2015-10-14 16:51] yishaigalatzer commented on #300
The story for 2013 is to use msbuild targets. If you want to target all audiences paket is not your answer. A good sample is the win2dd package.

There is nothing to do here, and this is not the paket repo. Start an issue there and we can collaborate over it.

[2015-10-14 17:01] lilith commented on #300
Already done https://github.com/fsprojects/Paket/issues/714

Is the official NuGet client the answer to targeting all audiences?

Anecdotally, NuGet implodes on every real-world project I give it, but Paket does just fine.  Maintaining compatibility with the default NuGet client isn't my first priority; rather, my first priority is to supply my users with a solution that 'just works' - everywhere

[2015-10-14 17:14] yishaigalatzer commented on #1427
That is the standard (with that casing), but we allow for all lowercase. Obviously it doesn’t matter on windows, and does a very small “performance damage” on case sensitive file systems.

The case is as such, because that is what it was in Nuget 2.8.X so minimal breaking changes.

From: Alexander Köplinger [mailto:notifications@github.com]
Sent: Wednesday, October 14, 2015 2:24 AM
To: NuGet/Home

[2015-10-14 17:17] akoeplinger commented on #1427
@yishaigalatzer DNX goes a different route though, they are looking for `nuget.config` by default on all platforms with the fallback for the other casings on !Windows and standardizing on nuget.config across their repos. That is the way to go IMHO, so would be great if NuGet proper could follow this (there are no breaking changes as well with this approach).

[2015-10-14 17:20] yishaigalatzer commented on #1427
Well, NuGet is RTM, DNU is not. So we need to be a bit careful with this.

We are going to merge the two eventually into one codebase, when that happens we can make more changes.

Right now there are no functional differences, so I don’t know that we need to spend more time on this.

[2015-10-14 17:23] zhili1208 commented on #1514
merged to 2.10

[2015-10-14 17:23] #1514 closed, assigned to zhili1208

[2015-10-14 17:30] akoeplinger commented on #1427
Sure, just wanted to make sure that we'll eventually move to a standardized `nuget.config` everywhere and support the other casings just as a fallback.

[2015-10-14 17:49] danliu commented on #1484
There is also a requirement for adding the missing scenario for project K. Will update the PR.

[2015-10-14 17:54] yishaigalatzer commented on #1427
Yup

[2015-10-14 18:20] emanuelquintero opened #1575 "NuGet.exe does not restore packages from project.json correctly when using one authenticated feed"
## Problem

I try restoring the packages in project.json.
1. It tries to get index.json from AuthenticatedFeed
2. Gets 401 (3 times)
3. Gets 200 (with auth headers)
4. Tries to get PackageInNuGetOrg from AuthenticatedFeed
5. Gets 401
6. Gets 404 (with auth headers)
7. Retries to get the same package from the same feed so steps 5 and 6 are repeated
8. NuGet.exe hangs waiting for credentials to be i

[2015-10-14 19:20] yishaigalatzer commented on #1506
Fixed with https://github.com/NuGet/NuGet.Client/commit/eea288ef7137a7bfac5743b82f57619860e03179

[2015-10-14 19:20] #1506 closed, assigned to yishaigalatzer

[2015-10-14 19:30] zarenner opened #1576 "Extensions are no longer loaded from the directory where nuget.exe lives"
Extensions were previously loaded from the same directory as nuget.exe, in addition to NUGET_EXTENSIONS_PATH and %LOCALAPPDATA%\NuGet\Commands.
It looks like this code got dropped when NuGet.CommandLine moved repos.

This feature is useful in that NUGET_EXTENSIONS_PATH is used by multiple versions of nuget.exe 2.X and 3.X, while extensions are very likely only compatible with specific versions of

[2015-10-14 19:31] zarenner commented on #1576
https://github.com/NuGet/NuGet.PackageManagement/pull/110

[2015-10-14 19:48] codepic commented on #1561
@maartenba  Unfortunately I cannot repro it anymore. But that's a good thing... right?

So, to recap:
1. Had a beta nupkg on local folder
2. Used v3 feed
3. DependencyBehavior Highest
4. IncludePrerelease on
5. Prereleases filtered from upstream
6. Try to install a package that depends on the beta-package but a specific version dependency to lower stable release version

NuGet **used to** offer lo

[2015-10-14 20:30] danliu opened #1577 "Investigate the random failures on InstallPackageAddImportStatement test"
Found 2 issues:
1. On the test assert itself, it's calling project.Save(). A test should not do that.
2. project.Save is being called without exception catching and logging. So if a file save failed, it might be silently and not being noticed.

[2015-10-14 20:35] yishaigalatzer commented on #1576
@zarenner please move the pr over to nuget.client

[2015-10-14 20:42] yishaigalatzer commented on #1575
Can you tell us some more about your scenario.

What version of nuget.exe are you using? (Please use https://dist.nuget.org/index.html to get 3.2.1)
What type of authentication is used on your server (basic auth? Windows Auth?)

What server are you hitting that has a V3 feed other than nuget.org ?

[2015-10-14 20:43] yishaigalatzer commented on #1574
Thanks for the report, we will not be fixing this any time soon (as it falls well below our other issues we are prioritizing at the moment), but we would love to take a PR if you want to give it a try.

[2015-10-14 20:45] yishaigalatzer commented on #1573
Because these commandlets depend on visual studio environment to run. We don't plan to bring them out of visual studio.

If there is a specific feature you are missing in nuget.exe we will gladly add it. Going forward with project.json we are obsoleting many of the reasons for these cmdlets.

[2015-10-14 20:45] #1573 closed, assigned to nobody

[2015-10-14 20:52] yishaigalatzer commented on #1572
What version of nuget extension are you using?

Please try https://dist.nuget.org/visualstudio-2015-vsix/v3.2.1-rc/NuGet.Tools.vsix to see if it resolved your issue or given you better indication.

If not we have fixed several similar issues in NuGet 3.3, and if you want to give it a try please contact me directly on my email, y i g a l a t z @msft.com and I'll work with you on private build and p

[2015-10-14 20:53] yishaigalatzer commented on #1571
Thanks for reporting it, this looks like a duplicate of https://github.com/NuGet/Home/issues/1370

We are working on fixing it for 3.3

@johnataylor - Please validate my assumption and re-open if this is similar but not identical

[2015-10-14 20:53] #1571 closed, assigned to nobody

[2015-10-14 20:54] yishaigalatzer commented on #1570
@ericsciple can you please share with us the extension you had that failed and the exact setup that leads to it?

[2015-10-14 20:57] yishaigalatzer commented on #1563
@nguerrera looks like the .NET team/PCL team needs to revert their changes.

@ericstj @pilchie

[2015-10-14 20:57] yishaigalatzer commented on #1563
https://github.com/NuGet/Home/issues/1562

[2015-10-14 20:58] #1561 closed, assigned to nobody

[2015-10-14 21:00] yishaigalatzer commented on #1559
Hey Pat,

We do not plan to support these scenario from commandline and packages.config.

Projects using project.json will be able to do most of that, because they do not modify your projects. You might still have to do binding redirects manually.

[2015-10-14 21:00] #1559 closed, assigned to nobody

[2015-10-14 21:04] tomkuijsten commented on #1573
I understand your point of view. I'll add another issue as question about my situation.

[2015-10-14 21:06] tomkuijsten opened #1578 "How do I update multiple solutions at once"
We use nuget packages for enterprise components. Some components are used by many others and when we release a new version, we now manually open each solution and update through the nuget package manager. Is there any way to automate this (preferabel powershell)?

[2015-10-14 21:22] emanuelquintero commented on #1575
NuGet version: 3.2.1
The server is the VisualStudioOnline.

The problem is that I was using https://www.nuget.org/api/v2/ instead of https://api.nuget.org/v3/index.json

Still, the client should've just thrown an exception saying that it couldn't restore all the packages instead of misleading with auth problems.

What throws me off is that if I restore only the PackageInNuGetOrg OR the PackageInAu

[2015-10-14 21:36] emgarten commented on #1578
Visual Studio can be updated using DTE. It is possible for an external process to find Visual Studio through the running object table and pass commands to the NuGet powershell window through DTE.

Within NuGet project.json is designed to solve this problem, it allows floating versions which are determined at restore/build time.

[2015-10-14 22:12] #1550 closed, assigned to nobody

[2015-10-14 22:18] yishaigalatzer commented on #1408
Resolved with https://github.com/NuGet/NuGet.Client/commit/d4a128fe85877d86e9eaa8475948e2daa116d8aa

[2015-10-14 22:18] #1408 closed, assigned to yishaigalatzer

[2015-10-14 23:16] richardschneider commented on #1287
I'm just running .Net 4.0 and get the above error.  Here's some background info I found [Stackoverflow](http://stackoverflow.com/questions/13748055/could-not-load-type-system-runtime-compilerservices-extensionattribute-from-as?lq=1).

[2015-10-14 23:33] yishaigalatzer commented on #1287
At this point we realize this was a breaking change, but we are not going to go back and fix 2.8.6, you can use 2.8.5 or update to 3.2.1 (or newer) and move to .NET 4.5.

We will eventually produce a version of NuGet.exe that runs on core clr, and that would be independent from the .NET installed on the user's machine.

For now I'm closing this as Won't fix, with the plan to produce an .net indepe

[2015-10-14 23:33] #1287 closed, assigned to nobody

[2015-10-14 23:37] #225 closed

[2015-10-14 23:37] #1547 closed, assigned to yishaigalatzer

[2015-10-14 23:52] zhili1208 commented on #863
fixed in https://github.com/NuGet/NuGet.Client/commit/90167c9b9b4e8d7c442c7d67c19efa6a8e745745

[2015-10-14 23:52] #863 closed

[2015-10-14 23:52] zhili1208 commented on #884
fixed in https://github.com/NuGet/NuGet.Client/commit/90167c9b9b4e8d7c442c7d67c19efa6a8e745745

[2015-10-14 23:52] #884 closed

[2015-10-15 00:08] plaurin opened #1579 "Prevent installing multiple versions of a package in the solution"
I would like to see a way to prevent multiple versions of the same NuGet packages to be installed in my solution. What happens is that developers usually add packages at the project level and usually the latest stable version at that point in time. Over time if we are not careful we end up with different versions of the package in the solution. This is a problem as my experience with this is hard

[2015-10-15 00:14] zarenner commented on #1576
I've moved this over to NuGet.Client, but I don't know where to add a functional test.  The EndToEnd tests look like they're for the Package Manager Console, not for nuget.exe.

[2015-10-15 00:25] yishaigalatzer commented on #1576
Thank you. @deepakaravindr will add a pointer shortly

[2015-10-15 00:28] deepakaravindr commented on #1576
@zarenner , For adding functional tests to nuget.exe, Please check out

https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Clients.Tests/NuGet.CommandLine.Test/NuGetRestoreCommandTest.cs

 and other files under https://github.com/NuGet/NuGet.Client/tree/dev/test/NuGet.Clients.Tests/NuGet.CommandLine.Test

They are all functional tests that use https://github.com/NuGet/NuGet.Client/blob/dev/

[2015-10-15 00:30] zarenner commented on #1576
Perfect, thanks.

[2015-10-15 01:46] emgarten commented on #1395
NuGet/NuGet.Client@1974574a8b3b4df9b1690c2718ba7010b5f8f64e

[2015-10-15 03:40] tomkuijsten commented on #1578
Project.json is not an option for it only supports UWP/PCL/ASP projects and not the "regular" .NET applications (WPF/Console/Assembly).

Do you have some sample code for executing powershell in Visual Studio from another application?

[2015-10-15 04:15] #1570 closed, assigned to yishaigalatzer

[2015-10-15 06:28] yishaigalatzer commented on #1570
Another commit: https://github.com/NuGet/NuGet.Client/commit/8bc54adc3ce0e4c1756fb0ccf2fbde2202c50bfe

[2015-10-15 07:13] maartenba commented on #1561
Thanks @codepic !

[2015-10-15 08:02] sliekens commented on #1514
Thanks everyone!

[2015-10-15 10:15] csabar commented on #1470
I have similar problem, but with Visual Studio Express 2015 for Windows Desktop. OS is Windows 10 x64. Interesting is that yesterday it worked after downgrade of Entity Framework, but today the same issue... The express edition (and also the community version) is available here: https://www.visualstudio.com/products/mt238358

[2015-10-15 14:42] timgaunt opened #1580 "nuget fails to install/update/remove when there is a reference with an Alias"
We recently came across a situation where we needed to alias a reference and ever since then, nuget won't install erroring in the Add-BindingRedirect call with “same key has already been added.”

There's a full stack trace/further information here: http://stackoverflow.com/questions/33110295/nuget-fails-to-install-update-or-remove-packages-same-key-has-already-been-add

To replicate, add two refer

[2015-10-15 15:23] daveaglick opened #1581 "Error in Package Manager when packages folder gets out of sync"
Here's the scenario:
- I have a multiple-project solution
- I installed some packages and some updates to one of the projects but not the others
- Stuff wasn't working
- I backed it out by resetting my entire repository to the last commit (which worked fine before)
- This (probably) left stale packages in my packages folder (since that's excluded from the repo)
- Opening the NuGet Package Manager

[2015-10-15 15:45] xavierdecoster commented on #1474
@uchinago closing as unable to reproduce. feel free to reply with more information if you still hit this issue.

[2015-10-15 17:30] gravidThoughts commented on #1475
@RanjiniM I don't and (un)fortunately it resolved itself. I came to find out our proxy server was having issues that day. If it happens again I will run a trace on fiddler.

[2015-10-15 17:37] #1577 closed, assigned to danliu

[2015-10-15 17:59] danliu commented on #1565
For the Microsoft.VisualStudio.ProjectSystem.CSharp project, although it has the import statement, the package (Microsoft.VisualStudio.ProjectSystem.SDK.14.0.50729-pre) that introduced the import statement was NOT listed on packages.config.

Since that package is not listed on packages.config, when newer version is installed, it will not perform uninstall of the older version (hence removal of the

[2015-10-15 17:59] #1565 closed, assigned to danliu

[2015-10-15 18:01] danliu opened #1582 "Binding redirect was added to one project while install-package was called on another"
![c3](https://cloud.githubusercontent.com/assets/1087852/10522814/11531f6e-732c-11e5-8f60-46d90aaee151.png)

[2015-10-15 18:20] sliekens commented on #1359
Regarding http://blog.nuget.org/20140924/supporting-semver-2.0.0.html

The third point under "Downstream Implications" is a non-issue, and here's why:

• Only NEW packages will carry SemVer 2 versions; existing projects are guaranteed to not break by themself
• It's perfectly reasonable to require people to update their NuGet client tools if a package update requires it
• There are two kinds of pe

[2015-10-15 18:20] zhili1208 commented on #1470
it looks like everyone hit this when they install entityframework, you just said "downgrade of entityfremwork", what's the version of entityframework you installed and what's the version you downgrade to? thanks

[2015-10-15 18:42] zhili1208 commented on #1470
BTW, can you help me check this? Open your NuGet Packager Console, type " $test = Get-VSComponentModel", and check $test is not null, then type "$test1 = $test.GetService([NuGet.VisualStudio.IVsPackageInstallerServices])", then check $test2, it should be NuGet.VisualStudio.VsPackageInstallerServices

[2015-10-15 18:45] TripleEmcoder opened #1583 "Update SymbolSource auto push URL"
We've made the new SymbolSource engine live - see http://tripleemcoder.com/2015/10/04/moving-to-the-new-symbolsource-engine/ for more info.

Now would be a good time to update nuget.exe to push to https://nuget.smbsrc.net instead of the old URL. The old service redirects packages automatically, but that incurs a performance penalty that we'd all want to avoid.

I'd be happy to create a pull reques

[2015-10-15 18:54] yishaigalatzer commented on #1583
Please don't create a PR for this, as we can't take new ones for a while (as we are locking down for 3.3 release), we can make it happen.

[2015-10-15 18:56] yishaigalatzer commented on #1581
@daveaglick I completely agree with you, we probably need a better repro, to figure out what was the core of the issue here.

Do you have a copy of the offending packages folder by any chance?

What version of NuGet did you use?

[2015-10-15 18:57] TripleEmcoder commented on #1583
Ok, great. Are there any 2.x maintenance releases planned that could also receive this?

[2015-10-15 18:59] yishaigalatzer commented on #1580
What version of NuGet are you seeing this in? From you SO post, I assume it is 3.2? FYI we do have a 3.2.1-RC out on https://dist.nuget.org/index.html

What do you mean by similar dlls? Same name? Same version etc.

[2015-10-15 19:01] yishaigalatzer commented on #1579
We are going to have a consolidate view in solution level package manager, so that issue should resolve the UI help.

We could have a feature to warn/enforce it in one of the next releases. This needs some more thought to how exactly we will materialize it.

[2015-10-15 19:05] yishaigalatzer commented on #1578
project.json does work for other apps, but it has the same limitations as UWP (and is not yet officially supported). We do use it to build nuget.exe and nuget itself. But as it is experimental for these other project types, I completely understand not opting to using it.

We have a piece of sample code (not production hardened) that will show you how to do that. @deepakaravindr  is going to push i

[2015-10-15 20:49] zhili1208 commented on #1470
@csabar Please first uninstall NuGet 3.0 and reinstall 3.2

[2015-10-15 21:05] zhili1208 commented on #1470
I tired windows desktop express, it repro with 3.0 but when I uninstall and reinstall it, both 3.0 and 3.2 works well

[2015-10-15 21:16] #1431 closed, assigned to feiling

[2015-10-15 21:17] #1491 closed, assigned to feiling

[2015-10-15 21:19] feiling opened #1584 "UI update: change the right pane for project according to new design"

[2015-10-15 21:19] daveaglick commented on #1581
Happy to help any way I can. I'm on the latest 3.2.1-RC version of the Visual Studio extension. The solution this happened in is pretty complex with lots of projects. I've been trying to reproduce, but unfortunately I can't seem to get the right sequence of adding and removing packages to make it happen again. FWIW, I do know that I was playing around with the Roslyn Microsoft.CodeAnalysis.\* pack

[2015-10-15 21:27] feiling opened #1585 "UI update: change the right pane for solution according to new design"

[2015-10-15 22:36] yishaigalatzer commented on #1581
Hey Dave. I'm keeping this open (but not assigned), will see if we can get a good repro next time you hit it.

We are working on a few issues we found with the roslyn solution, they might be related (but it is hard o tell).

I did fix a major bug where restore failures created corrupted packages, that could be the issue here. So the scenario is restore from command line and break, or something thr

[2015-10-15 23:18] daveaglick commented on #1581
Great, thanks a lot. It may very well be related to the other things you've found with the Roslyn packages - I've noticed other seemingly random oddness (best way to describe it) while working with them. In any case, I'll pay close attention and grab the packages config file and folder if it happens again.

[2015-10-15 23:23] deepakaravindr commented on #1421
Fixed with
https://github.com/NuGet/NuGet.Client/commit/30046491fb164a94a38a36f7b384b6fb2904d83c,
https://github.com/NuGet/NuGet.Client/commit/5eefae084d91f62b2fe0a10559f15d9fd39f5639
and
https://github.com/NuGet/NuGet.Client/commit/5272f060f2162c93b8d26f16fb365c5beed8d23e

[2015-10-15 23:23] #1421 closed, assigned to deepakaravindr

[2015-10-15 23:24] deepakaravindr commented on #1423
Fixed with
NuGet/NuGet.Client@3004649,
NuGet/NuGet.Client@5eefae0
and
NuGet/NuGet.Client@5272f06

[2015-10-15 23:24] #1423 closed, assigned to deepakaravindr

[2015-10-16 03:26] davkean opened #1586 ""Out of memory" and "Task was cancelled" while attempting to restore Roslyn's solution"
1. Sync to this commit https://github.com/dotnet/roslyn/tree/0df0937a5cd03bcc7c185cd04a541512cf360954
2. From a VS command prompt, and from the Roslyn root, run:

[code]

Got a bunch of issues like:

[code]

This machine has 12 GB of RAM with ~4 GB free.

[2015-10-16 03:32] davkean commented on #1586
Note on retry this worked immediately, so it's in-deterministic.

[2015-10-16 03:52] AArnott opened #1587 "Net45 class library fails to build after using project.json to depend on PCLTesting package"
**Repro steps**
1. git clone https://github.com/AArnott/NuGetIssue1587
2. nuget restore NuGetIssue1587
3. msbuild NuGetIssue1587\projectJsonSystemDllBug.sln

**Expected**
Build success

**Actual**
The build fails with this error:

The build log reveals that `System.dll` is not referenced by the compilation. Opening the solution file in VS2015 shows that the System.dll reference fails to resolve in

[2015-10-16 04:02] AArnott commented on #1587
CC: @terrajobst, in case it's a bug in the Microsoft.Bcl.Async package or one of its dependencies somehow.