[2016-04-22 08:41] #2640 closed, assigned to nobody

[2016-04-22 09:17] magmax commented on #2630
Hi again.

That is not the point.

The problem starts with the package own version. The last version of package `CompareNetObjects` is 3.05.0.0, and when you ask `nuget.exe` to install it, it creates the `CompareNETObjects.3.05.0.0` folder.
The point is when you specify the version without the zero: `nuget install CompareNetObjects -version 3.5.0.0`, because it will create the `CompareNETObjects.3

[2016-04-22 09:22] IanKemp opened #2641 "[Question] Can NuGet be hinted as to locations of packages?"
Please refer to this Stack Overflow question: http://stackoverflow.com/questions/36766798/nuget-restoring-packages-unnecessarily

I'm assuming the simple answer is "NuGet doesn't know/care about `HintPath` in the `.csproj` file, so it can't figure out that referenced packages already exist on disk". That answers the why, but still leaves me with the problem of duplicate packages being downloaded a

[2016-04-22 09:30] bondarchook opened #2642 "Nuget update command add packages in to project that does not use it."
I am trying to update one package in all projects of solution.

using something like this:
`nuget.exe update My.sln -Id package1`

Some projects in solution use package1 some not.
But when i run this command, package1  gets added to projects that does not use it.

Example:
Before

[code]

After running command  `nuget.exe update My.sln -Id package1`:

[code]

This does not have any sense.

When yo

[2016-04-22 12:30] jords1987 opened #2643 "Please help: Error occurs on send"
I have the following issue when attempting to install a package from a cooperate nuget server.

The server is on the intranet and as I'm explained from the administrators a reverse proxy is used to se/recieve data

When I try to install package I get the following error:
System.Net.WebException: The underlying connection was closed: An unexpected error occurred on a send.

The stacktrace is:
`Syst

[2016-04-22 12:52] jords1987 commented on #2643
Also, I can browse to the nuget server on my browser so maybe a VS2015 config?

[2016-04-22 13:55] yishaigalatzer commented on #2630
Yes I completely agree, I was describing how it is supposed to work rather than how it does

[2016-04-22 15:13] jeffschwMSFT opened #2644 "Mysterious Newtonsoft.Json conflict when depending on a library from a Web app"
Port of https://github.com/dotnet/cli/issues/2605

The root issue is that this is an undiscoverable problem that developers will struggle to fix.  The simplest fix would be to doc it, but I encourage us to look for diagnostics that help lead developers to a working solution.

[2016-04-22 16:14] bjorn-ali-goransson commented on #1909
The 3.4 update (from 3.2) did it for me. Thanks. :+1:

[2016-04-22 17:41] agocke commented on #2163
Note that we've also started seeing this on Linux: https://github.com/dotnet/roslyn/pull/10768

[2016-04-22 17:46] joelverhagen commented on #2163
@agocke, we are going to pull in a fix for dotnet/corefx#7932 today, which addresses this issue. After that point, this problem should go away.

[2016-04-22 17:47] dagood opened #2645 "Add xplat nuget restore flag that fails restore when exact dependency not found"
Right now, when NuGet can't find a dependency with the version number in a `project.json`, it tries to find an applicable version in the source feed. This causes problems like the ones listed in https://github.com/dotnet/buildtools/pull/652. The two that are probably the most important are:
1. The build isn't repeatable. If these "fuzzy-matched" dependencies are used, the build depends on which pa

[2016-04-22 17:56] agocke commented on #2163
@joelverhagen Thanks! Can you try the Roslyn repro I posted above or let me know when a build is available so I can try it myself?

[2016-04-22 18:23] cevarief commented on #2644
[MacOSX] Same, if i add EF package it throw errors

[code]

Output :

[code]

[2016-04-22 19:02] technicallyerik commented on #1909
I had the same problem as @marisks.  NuGet would hang on "Attempting to gather dependencies information...", when one of my NuGet servers was behind a VPN that I wasn't connected to.

After updating to NuGet 3.4.2, adding or updating packages now immediately fail with the error:

However, the package I'm adding is not on the private NuGet repository.  Is there a way to get it to ignore  package so

[2016-04-22 21:03] yishaigalatzer commented on #1909
That's unrelated to this thread. There is a way to just turn it off, and we plan to build a detection feature in the next release (misbehaving sources)

[2016-04-22 21:37] emgarten commented on #2645
Does this show up as a warning for you? Or is this a top level dependency in project.json?

You may want to use `[1.0.1-rc2-444]`. By specifying `1.0.1-rc2-444` you are actually saying `>= 1.0.1-rc2-444`.

[2016-04-22 21:48] zhili1208 commented on #2628
@kingerja I add a lock in folderNuGetProject, Can you help to validate the fix with my private build? Please ping me on skype, I can give you the build, thanks

[2016-04-22 21:53] emgarten commented on #2643
This looks like an older version of NuGet. Would you try updating to the latest: https://dist.nuget.org/index.html

[2016-04-22 22:15] ericstj commented on #2645
Using exact match isn't quite the same.  Suppose project A references package C version 2 and project B and project B references package C version 1.  Exact match here would cause A to fail to restore due to conflict.

[2016-04-22 22:19] dagood commented on #2645
Yep, it shows up as a warning:

There are other warnings that CoreFX gets, but maybe we could set up a regex to turn this particular type of warning into an error. (The warnings are tons of package downgrades. They look intentional but I'm not completely sure. [Example](https://gist.github.com/dagood/54607aa8f1d561ae22df703cf4321adf))

Or maybe there's a way to change these warnings into errors th

[2016-04-22 22:23] emgarten commented on #2645
The warnings as errors feature is being tracked here: https://github.com/NuGet/Home/issues/2395

[2016-04-22 22:24] ericstj commented on #2645
@dagood we actually need to clean up those warnings

[2016-04-22 22:25] yishaigalatzer commented on #2644
@cevarief this is not the same issue. You need to add imports, and this is being fixed by updating newtonsoft.json to actually support netcoreapp

@jeffschwMSFT the behavior is by design, you have an import statement in one project that is a backdoor to allow packages that are not guaranteed to be compatible to be added to your project. So imaging this project is packaged (projects and packages ar

[2016-04-22 22:29] dagood commented on #2645
Aha, thanks @emgarten! I didn't see that in my searches.

@ericstj Cool, I'll log a corefx issue on that.

[2016-04-22 22:29] emgarten commented on #2639
It looks like the path is resolved against the project path because that is the root for settings. `RestoreArgs` should resolve the full path of the argument before passing it into settings.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/RestoreCommand/RequestFactory/RestoreArgs.cs#L63

[2016-04-22 22:30] ericstj commented on #2645
I think we already have an uber issue tracking moving to all latest packages and using non-deprecated monikers.

[2016-04-22 22:38] dagood commented on #2645
Hmm, I can't find it, but I'll leave it be, then.

Closing this--already ways to detect this now and plans already exist to be able to formally make it a restore error. Thanks!

[2016-04-22 22:38] #2645 closed, assigned to nobody

[2016-04-22 23:17] pranavkm opened #2646 "Restore randomly fails with An item with the same key has already been added."
[code]

Is there some sort of race condition at https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.ProjectModel/PackageSpecReferenceDependencyProvider.cs#L334 which needs to be guarded against?

[2016-04-22 23:20] yishaigalatzer commented on #2646
Version?

[2016-04-22 23:26] yishaigalatzer commented on #2641
#### Good news in a few lines...

This is not supported, and we don't plan to add support directly for this scenario. You merge the packages folders across all the solutions using nuget.config, but porting/moving projects around cannot be supported.

#### Inserting good news

If you move your projects to rely on project.json instead of packages.config (csproj + projcet.json next to it), the packag

[2016-04-22 23:27] pranavkm commented on #2646
This failed as part of the CLI build (http://dotnet-ci.cloudapp.net/job/dotnet_cli/job/rel_1.0.0/job/release_windows_nt_x64_prtest/1415/consoleText) so, CLI 1.0.0-rc2-002476.

[2016-04-22 23:27] yishaigalatzer commented on #2641
@IanKemp closing as I think I answered your question, feel free to keep this discussion alive, and if there a feature to build/bug to fix we should figure it out as a result

[2016-04-22 23:31] rrelyea opened #2647 "restore is not using stored credentials from nuget.config for VSTS feeds"
Our build machines are failing to restore packages from VSTS with the latest nuget.exe downloaded from https://dist.nuget.org/win-x86-commandline/latest/nuget.exe  (3.4.3 published today)

We are storing the PAT token with the above NuGet.exe but during restore it still prompts. Surprisingly nuget.exe install seems to work.

We use the following command to store the credentials:
.\nuget.exe source

[2016-04-22 23:34] joelverhagen commented on #2646
I'm looking into this.

[2016-04-23 00:00] JamesNK commented on #2644
FYI a .NET CLI/netstandard version of Json.NET is ready, but I can't really put it on NuGet until RC2 is on NuGet.

https://github.com/JamesNK/Newtonsoft.Json/compare/master...dotnet-cli

[2016-04-23 00:13] joelverhagen commented on #2646
Yes, there is a potential for a race condition here. We have a caching mechanism in a method that can be called from multiple threads simultaneously. That cache is a `Dictionary`. This should clearly be a `ConcurrentDictionary`.

[2016-04-23 00:32] chrisrestall opened #2648 "nuget 3.4.3 release - getting Value cannot be null on package build"
As of todays release our packagebuilder stopped functioning.  Looks like it auto updated nuget.exe to 3.4.3 and now we get errors with building a package from a nuspec file.  Below is the log:

2016-04-22 16:20:34 [INFO] : NuGet Packager 2.0.3
2016-04-22 16:20:35 [INFO] : Updating NuGet...
2016-04-22 16:20:37 [INFO] : Checking for updates from https://www.nuget.org/api/v2/.
2016-04-22 16:20:37 [IN

[2016-04-23 00:35] rohit21agrawal commented on #2637
Fixed.
https://github.com/NuGet/NuGet.Client/commit/3b436f6f6b02f3dd116c9f9f2480bbd169551831

[2016-04-23 00:35] #2637 closed, assigned to rohit21agrawal

[2016-04-23 01:43] rrelyea commented on #2647
@alpaix found that out settings Save code likely double encrypts encrypted strings in NuGet.config.

[2016-04-23 04:19] yishaigalatzer commented on #2648
Can you please share the package/nuspec or a simple repro so we can verify the scenario?

[2016-04-23 18:02] chrisrestall commented on #2648
yes, we are using the nugetpackage.ps1 which checks for updates of nuget and handles the packaging.  The line:

[code]

is what kicks things off for packaging.

Our attached Package.nuspec is pretty standard.
[package.nuspec.txt](https://github.com/NuGet/Home/files/233095/package.nuspec.txt)

I thought it might be the pathing in the <files>  but I've tried putting in the full path and other variat

[2016-04-23 18:49] patrickjlee commented on #1909
I've updated to the 3,4.3.855 version of NuGet Package Manager (the latest available), and although it no longer hangs, it consistently fails to install either Piranha or Umbraco. The error message in the Output window of Visual Studio 2015 is:

"Attempting to gather dependency information for package 'UmbracoCms.7.4.3' with respect to project 'Umbraco1', targeting '.NETFramework,Version=v4.5.2'
E

[2016-04-23 19:24] chrisrestall commented on #2648
I pulled down the latest nuget code but was unable to load it or compile.  I'm looking through nuget3.4.3 release which did load, but wouldn't compile and walked the stack from the log.  From what I can tell, the issue is in NugetPackaging.ManifestReader.ReadFrameworkAssemblies.

In the linq query, it calls into an extension method, "GetOptionalAttributeValue("targetFramework") and passes that to

[2016-04-23 19:24] mynkow opened #2649 "NuGet.Client: Package not found bug when using private nuget source"
When I try to restore a nuget using the CLI tool with the following configuration I get an error that the package is not found:

**C:\Users\user\AppData\Roaming\NuGet\nuget.config**

[code]

Then I have a custom nuget source for a specific project:
**D:\ProjectX\nuget.config**

[code]

Now, if I execute one of the following commands I get an error:
current dir = D:\ProjectX\

`C:\Users\user\AppDat

[2016-04-23 19:43] yishaigalatzer commented on #2648
Thanks, first take the 3.4.3 branch. Second compile from command line.

Will get a fix out on Monday

[2016-04-23 19:45] yishaigalatzer commented on #1909
Does Disconnecting that source fixes your issue?

[2016-04-23 19:59] patrickjlee commented on #1909
Yes, thanks: unticking "Alternative nuget (http://168.62.110.126/api/v2)" in Tools, Options, NuGet Package Manager, Package Sources seems to have fixed the problem!

[2016-04-23 20:12] emgarten commented on #2649
@mynkow it looks like you are trying to use the nuget v3 source with nuget v2. Try using `https://www.nuget.org/api/v2`  instead of `https://api.nuget.org/v3/index.json`

Or update to the latest nuget.exe here: http://dist.nuget.org/index.html

[2016-04-23 21:10] mynkow commented on #2649
Correct. I did not realize this till now. Thank you.

[2016-04-23 21:10] #2649 closed, assigned to nobody

[2016-04-24 12:43] NickCraver opened #2650 "Nuget.Server: Add read-through cache, fetching from other feeds (first-time) and caching locally"
Nuget.Server does most of what we need to build Stack Overflow locally for _our_ packages (mostly produced by TeamCity today). However, it could be much more useful with read-through caching. Here's the flow:
- Client asks for a specific package version
  - Nuget.Server has it locally
    - Package returned
  - Nuget.Server doesn't have it
    - If no cache-miss feeds configured, 404 (same as toda

[2016-04-25 05:55] maartenba commented on #2650
This issue was moved to NuGet/NuGetGallery#3004

[2016-04-25 05:55] #2650 closed, assigned to nobody

[2016-04-25 07:14] jords1987 commented on #2643
Thanks for the reply @emgarten, I'm really struggling to diagnose.... I am using VS2015 update 2 with version 3.4.3.855 of nuget.

The stack trace i gave is from the nuget command line as I don't think there is a "verbose" parameter for the extension?

The error when using install-package from the exstension is:
 Unable to load the service index for _https://{{cooperate server name}_ however like

[2016-04-25 07:23] fluffynuts opened #2651 "Nuspec with escaped < or > (&lt; / &gt;) in text fields no longer builds"
I have some packages (PeanutButter.*) which have, in their descriptions, xml-escaped entities: &gt; & gt;. As of Nuget commandline version 3.4.2.855, they no longer build unless I remove the escaped entities -- which is a pity, because I put them there to describe the packages' provisions, which are code-based.
These used to build fine, for over a hundred releases. Also, the error messages which I

[2016-04-25 07:49] jords1987 commented on #2643
also, not sure if its significant but if I untick the source in the settings I can download from nuget.org, but it is very slow

[2016-04-25 08:17] jords1987 commented on #2643
sorry, I can also reproduce what looks like the error in my browser (chrome says connection unexpectedly ended)by unticking "Automatically detect settings" in proxy settings... I dont think it is a proxy issue though

[2016-04-25 09:20] jords1987 commented on #2643
OK so this is where it gets weird, if I run fiddler and I put the proxy settings into the nuget .config
`
<config>
    <add key="http_proxy" value="http://127.0.0.1:8888" />
  </config>
`
The traffic shows in fiddler and the package downloads.......

[2016-04-25 12:56] adameska opened #2652 "Making pre-release packages using the new -Suffix argument"
When i'm making a pre-release package using the -Suffix argument and call packing on a csproj file it's referencing the other dependent package as non-prelease so it's failing to install my package. Is there a way to specify pre-release dependencies if i'm building my package with a suffix?

[2016-04-25 13:01] adameska commented on #2652
If i add -beta to the version number in the nuspec file the dependency reference is beta. But then i can't remove this beta tag using -Suffix because you can't pass an empty parameter to -Suffix. Is there any way to make all dependent csproj nugets use the same -suffix name as well when packing via a csproj file that has a same name nuspec? Or let me pass nothing into -Suffix so i can remove the -

[2016-04-25 13:14] fubar-coder opened #2653 "DefaultPushSource in NuGetDefaults.config (ProgramData\NuGet) doesn't work"
I always get the error message `Source parameter was not specified` even though my `NuGetDefaults.config` (stored in `C:\ProgramData\NuGet`) looks like this:

[code]

According to the [documentation](https://docs.nuget.org/consume/nuget-config-defaults#default-nuget.exe-push-source), this should work...

EDIT: I'm using NuGet 3.4.3.

[2016-04-25 14:54] joelverhagen commented on #2646
Fixed with https://github.com/NuGet/NuGet.Client/commit/c9a1ca1364202a80183deabc229d5fbab8166a76.

[2016-04-25 14:54] #2646 closed, assigned to joelverhagen

[2016-04-25 15:20] adameska commented on #2652
I should note i'm using RC 3.4.2 command line

[2016-04-25 15:48] xperiandri commented on #2551
NuGet 3.5.0.1195
Visual Studio 2015 Enterprise Update 2
[Dump](http://rusfolder.com/44960902)
[Repro steps](http://rusfolder.com/44960903)

[2016-04-25 16:02] joelverhagen commented on #2163
The latest dotnet CLI has been fixed to address this problem. Basically you should look for a version of `System.Net.Http` to have a build number of `24022` or greater. This was bumped in CLI with https://github.com/dotnet/cli/commit/e420515c2bde047c568cc86156b340bdf06259e5 and in NuGet with https://github.com/NuGet/NuGet.Client/commit/b3fecd48a02bfbd9c7c4536c9435259b8c9b2220.

I just tried restor

[2016-04-25 16:38] pranavkm commented on #2646
Does the CLI need to pick up a new build of NuGet?

[2016-04-25 16:51] rrelyea commented on #2653
Putting in 3.4.4 until we know if regression or not.

[2016-04-25 17:07] jainaashish commented on #2635
https://github.com/NuGet/NuGet.Client/pull/524

[2016-04-25 17:07] #2635 closed, assigned to jainaashish

[2016-04-25 17:37] rrelyea commented on #2642
What version of nuget.exe are you using?

[2016-04-25 17:39] rrelyea commented on #2642
Duplicate of #2394.
Please update to 3.4.3 and confirm it still repros.

[2016-04-25 17:39] #2642 closed, assigned to nobody

[2016-04-25 18:01] toddm commented on #2651
I'm starting to look at this.  Can you give us an example of a bad description so I can test for sure that my change fixes your file?

[2016-04-25 18:17] #2536 closed, assigned to joelverhagen

[2016-04-25 18:17] joelverhagen commented on #2536
Closed with https://github.com/NuGet/NuGet.Client/pull/511.

[2016-04-25 18:26] fluffynuts commented on #2651
Hi

Thanks for checking this out (:
Here's the commit before I encountered the issue:
https://github.com/fluffynuts/PeanutButter/blob/444b6893f771621a0321c361d9c185c10c56ec62/source/TempDb/PeanutButter.TempDb.LocalDb.NugetPackage/Package.nuspec
and here's after:
https://github.com/fluffynuts/PeanutButter/blob/9941e6f0519911a109ba67895875c6fcb68905b1/source/TempDb/PeanutButter.TempDb.LocalDb.NugetP

[2016-04-25 18:30] emgarten commented on #2643
Typically when NuGet works only when Fiddler is running it means that you are hitting proxy/environment issues outside of NuGet.

Do you know which SSL protocol version your corporate server is using? NuGet restricts the allowed SSL types, you can see the list here:
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Common/NetworkProtocolUtility.cs#L18-L21

[2016-04-25 18:30] javiercn opened #2654 "nuget.exe and dotnet restore error experiences for Project.*.json"
If I run nuget restore c:\path\project.something.json nuget client does nothing. It will be good for tools that rely on nuget (installers, etc.) to be able to directly give it a path no matter the name of the file and have nuget discriminate the case based on the file extension, or to have a parameter on restore that can be used to discriminate the case (project.json vs packages.config, vs solutio

[2016-04-25 19:14] joelverhagen commented on #2646
Yes. @rrelyea, can someone (maybe me) bump the NuGet version in CLI to include this fix?

[2016-04-25 19:16] rohit21agrawal commented on #670
https://github.com/NuGet/NuGet.Client/commit/25cd04ed70c4505bfed81c7705035c80c4821f46

[2016-04-25 19:16] #670 closed

[2016-04-25 19:19] rohit21agrawal commented on #2486
https://github.com/NuGet/NuGet.Client/commit/72d791a34317645b7411deac6f992c4966880a35

[2016-04-25 19:33] jords1987 commented on #2643
Thanks @emgarten, I have asked the question which ssl the server uses and await an answer.... I suspect that it is an issue with the environment rather than nuget. As I understand fiddler forces all traffic onto TLS1.0? I asked the question in here in case anyone had came across the issue before.

If I clone this repo, could I run in debug to see what that helper is returning?

[2016-04-25 19:34] rrelyea commented on #2654
Looks like our Docs are out of date when it comes to this.
Either one of these should work for you:
`NuGet Restore <project.json> | <*.project.json>`

[2016-04-25 19:44] javiercn commented on #2654
That worked. Thanks! (changed the name for noimports.project.json and it ran fine

[2016-04-25 20:15] emgarten commented on #2643
@jords1987 the easiest way to build right now is to use the `release-3.4.3` branch from: https://github.com/NuGet/nuget.client

Run `build.ps1 -SkipTests` and then debugging with nuget.exe (NuGet.CommandLine).

[2016-04-25 20:23] joelverhagen commented on #2633
Closed with https://github.com/NuGet/NuGet.Client/pull/522.

[2016-04-25 20:23] #2633 closed, assigned to joelverhagen

[2016-04-25 20:34] rrelyea commented on #2654
Let's improve the error experience.
`nuget.exe restore project.2.json`
gives no error.
`dotnet restore project.2.json`
gives:
`error: Invalid input 'project.2.json'. The file type was not recognized.`

Let's improve both...and make them the same.
Suggestion:
if the file ends with `.json` -- but doesn't match the pattern
Say that supported patterns are `project.*` | `*.project.json`
If the file end

[2016-04-25 20:40] rrelyea commented on #2490
please link the commit

[2016-04-25 20:44] emgarten commented on #2490
nuget/nuget.client@c7b2acdfd0f2594e3e796c5d3cfa86af62909794

[2016-04-25 20:44] #2490 closed, assigned to emgarten

[2016-04-25 21:15] abpiskunov opened #2655 "INuGetPackageManager needs to be updated to take target imports into consideration"
With changes that Joel has done we can compare target frameworks using imports on project system side, however there is a scenario that happens outside of our project system:

INuGetPackageManager has an API Task<IReadOnlyCollection<FrameworkName>> GetSupportedFrameworksAsync(CancellationToken cancellationToken) which sends targets from project to nuget dialog so it could determine what targets su

[2016-04-25 21:45] daveaglick opened #2656 "Can't install NuGet.PackageManagement 3.4.3"
Based on the comment at https://github.com/NuGet/Home/issues/1870#issuecomment-169103414 as well as browsing through the code, it looks like NuGet.PackageManagement is a good place to start exploring in order to replace code based on the v2 APIs with v3 APIs. However, it doesn't look possible to install NuGet.PackageManagement 3.4.3 right now (at least not without some sort of alternate package fe

[2016-04-25 22:19] mhov commented on #1164
I'm on VS 2015 Update 2, TFS 2015 Update 2, Nuget 3.4.2.820 and I still have this problem.  Updating a few packages across my 30 project sln can take 30-40 minutes.  The sln started out on VS 2012 years ago and upgraded along the way, so i'm not sure if that's part of this issue.

[2016-04-25 22:23] natemcmaster commented on #2635
Thanks @jainaashish Is there a public feed for consuming these latest builds?

[2016-04-25 22:31] yishaigalatzer commented on #1164
@mhov this looks like an unrelated issue, the good news is that we are working on perf improvements for this scenario, and have a couple of improvements in flight, are you able to share your project with us so we can validate it? email support @ nuget.org

CC @emgarten

[2016-04-25 22:37] yishaigalatzer commented on #2656
Yup, fixing it right now. Give it a couple of hours

[2016-04-25 22:38] yishaigalatzer commented on #2656
@daveaglick can you clear your cache and try again?

[2016-04-25 22:39] daveaglick commented on #2656
Alright, that was fast! :+1:

Won't be back at my computer for a few hours, but I'll give it a shot when I am and let you know.

[2016-04-25 22:40] yishaigalatzer commented on #2656
Closing for now, ping me if this is not fixed

[2016-04-25 22:40] #2656 closed, assigned to jainaashish

[2016-04-25 22:50] mhov commented on #1164
@yishaigalatzer Sorry if it wasn't clear in my original post, but I am experiencing the "_... could not be found in your workspace, or you do not have permission to access it._" errors, with each one causing a 30-60 second delay (some sort of timeout/retry scenario?) for each package on each project.  Adding up to 30-40 minute for some nuget scenarios.  Does that change your opinion?

[2016-04-25 22:58] emgarten commented on #2619
Checked into dev with NuGet/NuGet.Client@c26f25efb05a82a23f22c701cf1e9a56c06adfac

This still needs to go into 3.4.5

[2016-04-25 23:00] emgarten commented on #2285
Checked into dev with NuGet/NuGet.Client@e3d73b26cac905d987c0bfe02dd8226b4618e42b

This still needs to go into 3.4.5 when the branch is created.

[2016-04-25 23:07] emgarten commented on #1164
@mhov would you share the full output log from your nuget update?

I don't see that error text anywhere in the nuget code base, but nuget may be causing Visual Studio to write it out.

[2016-04-25 23:23] harikmenon commented on #2486
Sorry, was pretty late to the party. Have we decided how to handle this case when we do this from the Manage Packages in Solution command? Or are we going to track this separately in a different issue?

[2016-04-25 23:23] rohit21agrawal commented on #2486
@harikm86  We should track it in a separate issue.

[2016-04-25 23:25] yishaigalatzer commented on #2655
Chatted with @billhiebert, please have an internal discussion and get back to us (or setup a meeting with us).

My general thought is that we should avoid revving the API unless we absolutely have to, it is going to be short lived.

[2016-04-25 23:26] harikmenon commented on #2486
Did you open one or do you want me to?

[2016-04-25 23:27] rohit21agrawal commented on #2486
@harikm86 you can open one and add in the details of the string we should display to indicate that those options are not valid for project.json scenarios.

[2016-04-25 23:40] yishaigalatzer commented on #1164
@mhov yes it does, we do not have a fix for this in flight. Could you please open a new bug with exact repro steps, and if you could share a solution or repro over the bug or email, it will get us some traction.

I know I shouldn't be saying it, but did you try GIT (TFS servers support it) ?

[2016-04-25 23:54] joelverhagen opened #2657 "dotnet restore after 100000ms return for all request error message 'has timed out after 100000ms'"
_@gormy, we have moved this bug from https://github.com/dotnet/cli/issues/2674 since this seems to be a NuGet issue._
## Steps to reproduce

Windows Server 2012 x64
I have solution with 4 projects. When I try run 'dotnet restore' from TeamCity runner, don`t load all packages,
## Expected  behavior

Load all packages from nuget
## Actual behavior

Load packages only in first 100 seconds.
## Environ

[2016-04-25 23:57] joelverhagen commented on #2657
Hey @gormy, a couple questions to help understand the environment:
- What version of .NET CLI are you using?
- Do you happen to be running in Virtual Box? (looks similar to https://github.com/dotnet/cli/issues/1732)
- Could you attach the full log as a file to this bug?
- Does `--disable-parallel` help?
- Does this problem reproduce on any restore? For example, does `dotnet new` in a new directory

[2016-04-25 23:59] mhov commented on #1164
For example if i try to upgrade AWSSDK i'll get this message

It sounds very much like a TFS issue surfaced by nuget. The upgrade succeeds eventually, but each of these error messages take a certain amount of time to come up.  It may help to know that i have a `.tfignore` file in the root with `\packages` completely ignored by TFS.  I had to do this because `<add key="disableSourceControlIntegrati

[2016-04-26 00:09] yishaigalatzer commented on #1164
Yes please try `disableSourceControlIntegration` again

[2016-04-26 01:04] harikmenon commented on #2486
Thanks. I will take this offline with you and Rob and open an issue once I have a solid understanding of the scenario

[2016-04-26 01:04] #2486 closed, assigned to rohit21agrawal

[2016-04-26 01:05] daveaglick commented on #2656
Worked like a charm, thanks again.

[2016-04-26 02:24] Gormy commented on #2657
## What version of .NET CLI are you using?

## 1.0.0-rc2-002485

## Do you happen to be running in Virtual Box? (looks similar to dotnet/cli#1732)

## No

## Could you attach the full log as a file to this bug?

## [DEV_auto_deployment_45.txt](https://github.com/NuGet/Home/files/235762/DEV_auto_deployment_45.txt)

## Does --disable-parallel help?

## No

## Does this problem reproduce on any resto

[2016-04-26 02:31] harikmenon commented on #2644
Adding this to doc tasks on our end

[2016-04-26 03:25] maxgax opened #2658 "pack from .csproj and .nuspec content regression from 3.3"
I generate NuGet packages as part of my build process, using the NuGet pack command. After upgrading from 3.3.0 to 3.4.3, I noticed that my packages no longer included content files which were previously being added to my packages.

I am currently using "dummy projects" which in turn have references to multiple projects. I am only using the nuspec file for metadata and depend on references to pull

[2016-04-26 07:50] Semax commented on #1896
Hi. I'm using NuGet 3.4.3.855 and spacebar checks only the latest selected project instead of all selected. And it gets really annoying to check several dozens of projects among hundreds. Could you please make spacebar check all the selected projects and add a way to check all projects that are referencing the selected package (maybe Ctrl + click on the checkbox in the table header)?
Thanks.

[2016-04-26 09:46] forderud commented on #2546
This problem seem to have been fixed after upgrading to NuGet plugin 3.4.3 in VS2015. You can therefore resolve this issue.

Thanks for all the fixes delivered in 3.4.2 & 3.4.3. They are really making my life easier. :+1:

[2016-04-26 12:04] olehkurzov commented on #2527
Guys, sorry for posting here. But I have almost the same question and don't know whether I need to create new question or ask here. The question about restoring packages in the c:/users/userprofile/.nuget/packages folder.
I have 3.4.3.855 version of nuget.exe. I've read that Nuget downloads packages to "c:/users/userprofile/.nuget/packages" folder and after build from Visual Studio it really appea

[2016-04-26 12:59] yishaigalatzer commented on #2527
This should definitely work, there is probably something small you are missing. Please shoot an email to support @ nuget.org with your script and we will help you analyze

[2016-04-26 12:59] yishaigalatzer commented on #2527
This should definitely work, there is probably something small you are missing. Please shoot an email to support @ nuget.org with your script and we will help you analyze

[2016-04-26 12:59] #2527 closed, assigned to harikmenon

[2016-04-26 14:12] paddie opened #2659 "nuget setapikey <apikey> outputs the secure apikey"
Having the command output the secure apikey is really inconvenient - since it forces us to use the Verbosity quiet attribute on it. In my opinion, the command should simply confirm that the key was successfully added. A separate command should retrieve the key if that is required (which I am sure there is a way to do - but I have not had a need for it).

[2016-04-26 15:04] Semax opened #2660 "Allow package-dependent selection of Projects in Solution PMUI"
I'm using VS2015 Update 2 with NuGet 3.4.3.855. In NuGet UI, despite the fixes in #1896 pressing the spacebar checks only the latest selected project instead of all selected projects. And it gets really annoying to check several dozens of projects among hundreds. Could you please make spacebar check all the selected projects?
And it also would be great if you added a quick way to check all project

[2016-04-26 15:32] jasoncouture opened #2661 "NuGet 3.4.3 Push doesn't work with OctopusDeploy"
`User-Agent: NuGet Command Line/3.4.3.855 (Microsoft Windows NT 6.2.9200.0)`

[code]

`User-Agent: NuGet Command Line/3.3.0.212 (Microsoft Windows NT 6.2.9200.0)`

[code]

Headers were captured with Fiddler.

Issue discovered while attempting to push a NuGet package to Octopus for Deployment using NuGet.exe
Have downgraded to NuGet 3.3

Package upload command:
NuGet.exe push package.nupkg https://

[2016-04-26 16:31] holytshirt commented on #2653
This is a regression from 3.3.0

It just doesn't read the %ProgramData%\NuGet\NuGetDefaults.Config

This has just broken all our build servers as we do a `update -self` before `restore`

[code]

[2016-04-26 18:18] sayedihashimi commented on #2615
Should we label this as RC2 and `blocking-release`?

[2016-04-26 18:37] mteper opened #2662 "Impossible to target Xamarin.Mac .NET 4.5 Framework"
## Situation

Xamarin.Mac projects can be set up to target one of the following Frameworks:

**Xamarin.Mac Mobile Framework**, defined as:

**Xamarin.Mac .NET 4.5 Framework**, which is defined as:

The list of supported assemblies is here: http://developer.xamarin.com/guides/mac/advanced_topics/assemblies/

**Unsupported Framework**, e.g. `Mono / .NET 4.5`, but the UI has this to say:

## Problem

[2016-04-26 19:37] jasonmalinowski commented on #2615
This is an issue trivially worked around, and the references you have to add would be required if everything was just csproj in the first place. This isn't nearly as important as the other bugs @spadapet has filed and we are investigating.

[2016-04-26 20:24] davkean opened #2663 "NuGet build task should output file and/or line information for project.json when error'ing"
[code]

When I get this error, it would be very helpful if this error was associated with project.json - so I could double-click and open it. Currently, I need to hunt down the project in Solution Explorer and open project.json.

[2016-04-26 20:49] nathan-alden-sr commented on #980
Still broken as of April 26. The .nuget folder under the folder containing the .sln file seems to be completely ignored.

[2016-04-26 20:52] jasonmalinowski commented on #2610
csproj.dll/msvbprj.dll is the thing that is producing this warning. We ask the xproj project's IVsHierarchy for it's TFM, and they're answering back .NET 4.5.1 even if you've said you're targeting net45. Not sure if the fix here is to:
1. Disable the check if the target is an xproj. We already do this for portable-targeting references.
2. Ensure the xproj isn't lying.
3. Both 1 and 2.

[2016-04-26 21:46] jinujoseph commented on #2610
Talking to @abpiskunov , The right solution is to create a new IVsHierarchy property and consume it for projects that can have multiple TFMs - this should be implemented in U3, then we will send all  TFMs, and caller can consume that new property.

Till that happens , to unblock the nuget scneario , does option 1 sounds feasible? Do we see any issue with disabling this check ?

[2016-04-26 21:55] kingerja commented on #2628
Sorry for delay my DRI rotation was very eventful.
I have been unable to get a standalone repro.  However I do have a consistent repro in one of the build systems I use.  So I can try any private I need and set any flags you desire for additional tracing.
I have pinged you on skype let me know what bits you want me to try.

[2016-04-26 22:03] rrelyea commented on #2659
Thanks for the report.

[2016-04-26 22:04] rrelyea commented on #2660
Thanks for the report.

[2016-04-26 22:12] rrelyea commented on #2662
can you please find the right Xamarin contact here?

[2016-04-26 22:15] mhov commented on #1164
Removing `\packages` from the `.tfignore` file and relying on `disableSourceControlIntegration` did not resolve the situation, I saw the same errors and slow nuget package updating.  Packages _weren't_ added to source control, but all 600+ \packages\_._ nuget files end up in the Pending Changes tab's Excluded Changes as "Detected: 600 add(s)".

[2016-04-26 22:15] daveaglick opened #2664 "Some questions about FolderNuGetProject and the v3 API"
Hope you folks don't mind me asking a couple questions about the v3 APIs. I've actually managed to get up and running after a lot of decompiling and spelunking through the source (the `InstallCommand` and `UpdateCommand` classes in the `NuGet.CommandLine` app were very helpful), but I've hit a blocker with regards to working on my local package store.

For context, I'm building an application that

[2016-04-26 22:22] rrelyea commented on #1164
we're going to open a new issue and work on isolating the repro (with your help). thanks.

[2016-04-26 22:45] toddm commented on #2658
Sorry you're having trouble.  I'm trying to repro the problem but so far I don't see a difference between 3.3.0 and 3.4.3. I might not have my test project set up the same way as you, though. Can you give us a project to use to see the issue? (please email projects to support@nuget.org)

[2016-04-26 23:06] rohit21agrawal commented on #761
@yishaigalatzer @harikm86 @rrelyea
project.json scenarios work for non Project K projects (UWP etc) .

What should we do about ProjectK projects?

[2016-04-26 23:10] joelverhagen commented on #2657
I have tried this restore on a Windows Server 2012 (not R2) machine and had did not see any problem. Does performing a similar restore using NuGet.exe (download from [dist.nuget.org/index.html](http://dist.nuget.org/index.html))? Could you try the v3.4.3 and v3.3.0 NuGet.exe?

Also, when you reproduce the problem, could you use Fiddler to capture the network failures? Since I am not able to reprod

[2016-04-26 23:24] rohit21agrawal commented on #2214
I understand that...my question is does it make sense to save here? @harikm86 @yishaigalatzer @rrelyea

[2016-04-26 23:31] yishaigalatzer commented on #2214
Yes, that's what this bug says to do :)

[2016-04-27 00:07] kingerja commented on #2560
I tried with the latest build 3.5.0.1208 and it still repro's.
I also asked the wanuget guys and they report they are on 2.10 for their server feed.
I will add you to that thread in case you want to attempt a repro on your end.

[2016-04-27 03:46] harikmenon commented on #2214
Lets chat tomorrow in person. I will also play around with the scenario a bit as well.

[2016-04-27 04:00] mrward commented on #2662
@chamons should be the Xamarin contact for this.

[2016-04-27 04:24] harikmenon opened #2665 "NuGet package manager should make it clear that options list in packages detail does not apply to project.json"
This is to track the continuation of work for https://github.com/NuGet/Home/issues/2486#issuecomment-214562003.

In this scenario, we should have a warning error message in the options section.

Icon: Information
Text: These options are not applicable to projects managing their dependencies through project.json.

Send me a mail offline if you need the warning icon.

[2016-04-27 05:06] maxgax commented on #2658
Here is a small solution with two projects that reproduces the issue. The "DummyProject" is a Console application project which references the Class Library project "ReferencedProject". I've specified a nuspec file for DummyProject.csproj that only contains metadata. I've shown below the results of creating the package using both NuGet version 3.3.0 and 3.4.3. My expectation is that version 3.4.3

[2016-04-27 05:09] ghuntley commented on #2662
There are three distinct problems which need resolving:
- `XM45` does not have a TFM.
- A Xamarin Mac 45 application when consuming a library will consume `NET45` ignoring `XamarinMac`. This feels wrong, if a package has a `XamarinMac` (aka Mobile) assembly then it should it not be chosen over the `NET45` assembly?
- What should the Xamarin Mac 45 application resolution order be when there is a `N

[2016-04-27 07:02] jhngrant opened #2666 "nuget configuration is invalid - VS 2015 VSIX (v3.4.3)"
No joy after trying most suggested fixes listed here: http://stackoverflow.com/questions/32344232/unable-to-install-any-package-in-visual-studio-2015

Only solution was to fallback to VS 2015 VSIX (v3.4.2)

Seems to occur when a website project is running in IIS rather that IIS Express ?

[2016-04-27 07:27] jberezanski commented on #1806
In addition to gaining a command-line argument, nuget.exe should also respect the value from NuGet.config (currently it does not).

[2016-04-27 08:27] jhngrant commented on #2666
Wrong repo

[2016-04-27 08:27] #2666 closed, assigned to nobody

[2016-04-27 08:30] jhngrant opened #2667 "nuget configuration is invalid - VS 2015 VSIX (v3.4.3)"
No joy after trying most suggested fixes listed here: http://stackoverflow.com/questions/32344232/unable-to-install-any-package-in-visual-studio-2015

Only solution was to fallback to VS 2015 VSIX (v3.4.2)

Seems to occur when a website project is running in IIS rather that IIS Express ?

[2016-04-27 08:40] SoonDead commented on #2532
The issue is still present in 3.4.3

[2016-04-27 10:07] miladganjali opened #2668 "[Newtonsoft.Json] Visual studio 2013 nuget package manager"
When I trying add Newtonsoft.Json packages to my Projects this error appears :

Other Packages work just fine

![untitled](https://cloud.githubusercontent.com/assets/8298544/14848946/900ce356-0c85-11e6-9794-9414ccf0da35.png)

[2016-04-27 10:21] FamilyMan opened #2669 "nuget configuration is invalid"
Just updated to the latest version. I now get 'nuget configuration is invalid.' when I go to Manage Nuget Packages

[2016-04-27 14:14] daveaglick commented on #2664
After exploring some of the `NuGetProject` implementations, I think I'm seeing where I went wrong. Am I correct that `NuGetProject.GetInstalledPackagesAsync()` isn't actually intended to get the _installed_ packages (I.e., those that have been downloaded and unpacked), but rather those that have been _declared_ in whatever project system is in use? For example, the `BuildIntegratedNuGetProject` cl

[2016-04-27 14:27] toddm commented on #2658
Thanks! I am able to repro the problem. I'll start debugging it.

[2016-04-27 15:53] rrelyea commented on #2668
Thanks for the report.
What version of NuGet is running with your copy of VS 2013?

[2016-04-27 15:55] rrelyea commented on #2667
Thanks for the report.
Please tell us detailed steps on how we can reproduce the problems?

[2016-04-27 16:00] jhngrant commented on #2667
Are there any error log files I can send you?

[2016-04-27 16:05] chamons commented on #2662
Hello everyone. I'm the Xamarin.Mac lead from Xamarin. :wave:

Sorry I didn't get the summons before.

The breakdown from @mteper is pretty solid from what I can tell. We have things documented here:

https://developer.xamarin.com/guides/mac/advanced_topics/target-framework/

My detailed knowledge of nuget is lacking, so I apologies in advance for my ignorance.

A bit of a history lesson here will

[2016-04-27 16:36] rrelyea commented on #2669
My guess is that you have a nuget.config that is invalid XML, which used to be silently ignored.
In 3.4.0 we changed that to error: https://github.com/NuGet/Home/issues/1567

[2016-04-27 16:37] rrelyea commented on #2667
My guess is that you have a nuget.config that is invalid XML, which used to be silently ignored.
In 3.4.0 we changed that to error: https://github.com/NuGet/Home/issues/1567

[2016-04-27 16:57] rrelyea commented on #2653
@zhili1208 can you dig into this report from @holytshirt and look at more commands ensuring that progdata is appropriately being loaded. He reports that sources doesn't load it too.
/cc @yishaigalatzer

[2016-04-27 17:09] jkotas commented on #2534
Does this mean that I have to list all supported runtimes in my project.json even if I have portable code that will run on any runtime that supports the given netstandard? If it is the case, it looks pretty broken to me.

[2016-04-27 17:13] yishaigalatzer commented on #2653
I want to understand regressions from 3.3 vs regressions from 2.x in 3.4.4 we will only fix 3.3 and on regressions

[2016-04-27 17:22] daveaglick commented on #2616
May I suggest adding this information to the readme in the NuGet.Client repository until the workarounds are no longer needed? It took me a long time of trying different things until I stumbled on this issue (especially since the issue is now closed).

[2016-04-27 17:25] yishaigalatzer commented on #2667
Our fix went in 3.4 and this complaint is about 3.4.2 vs 3.4.3 so I'm guessing something else is going on. Can you share the nuget.config files and error logs?

[2016-04-27 17:26] holytshirt commented on #2653
I'm good with that, this is a regression from 3.3. If you need any more information or testing from me, just let me know.

[2016-04-27 17:28] yishaigalatzer commented on #2664
Dave let's not use this forum for questions. The best approach is to open an so question and work with us through support @ nuget.org to engage.

I'm going to close now, let's add the so thread to this issue though

[2016-04-27 17:28] #2664 closed, assigned to nobody

[2016-04-27 17:28] adamralph opened #2670 "Can't upload xBehave package due to "title similar to ID of existing package""
ref: https://twitter.com/adamralph/status/725372223586992129

![image](https://cloud.githubusercontent.com/assets/677704/14861573/25025e28-0cae-11e6-8610-0d718e53222c.png)

The title of this package has _always_ been "xBehave.net". See the history at https://www.nuget.org/packages/Xbehave/

I guess some change has been put into the gallery which now bans me from uploading the package with this tit

[2016-04-27 17:31] yishaigalatzer commented on #2664
I'm agreeing with the assessment of the API being internally oriented, and not yet ready as a public facing API. Which is why we don't want to spend time on documenting it at the moment.

[2016-04-27 17:33] yishaigalatzer commented on #2661
The headers are not corrupt, they are now valid upload headers. We started a chat with octopus deploy to figure out why the server is being strict about them. We did test with all nuget servers to validate this change. Octopus deploy wasn't on our radar unfortunately.

Will loop back when we get more progress with octopus folks

[2016-04-27 17:37] yishaigalatzer commented on #2653
@holyshirt, are you referring to sources or defaultpushsource?

[2016-04-27 17:39] FamilyMan commented on #2669
I don't know enough about the inner workings of NuGet to debug this. The NuGet.Config file that seems to be associated with my webforms app is in the path AppData\Roaming\JetBrains\ReSharperPlatformVs14\v05, because this is the NuGet.Config file that gets its time stamp updated when I open my project.

The file contains this:

[code]

I can't see what is wrong with this XML.

[2016-04-27 17:41] yishaigalatzer commented on #2534
I do agree here

[2016-04-27 17:44] cc-interview opened #2671 "Can't restore ASP.Net Core Packages with Custom Package Source"
We have our own internal NuGet package source we use along with the standard NuGet repository. All that works fine with package restores with classic ASP.NET MVC.

With the new ASP.NET Core, nothing was restoring, even the basic built in packages when creating a new simple app off a template. Somewhere I found a post suggesting deleting the Nuget.config in AppData\Roaming to fix the issue (having

[2016-04-27 17:49] heaths opened #2672 "Support minClientVersion for project.json"
Maybe this has limited use after RTM (or maybe not), but with things moving at a rapid pace it would be nice if _project.json_ supported something akin to `minClientVersion` supported today by _.nuspec_ files. So even if packages are attributed to require specific minimum clients, we can attribute our projects to require them and get better, more actionable error messages on different machines wit

[2016-04-27 17:59] ericstj commented on #2672
It also seems like something that would be useful in pack-from-project.json scenario.  Looks like today pack only supports getting minClientVersion from the commandline args when packing a project.json.

[2016-04-27 18:00] harikmenon commented on #2214
Looked at this issue in more detail. While this is probably in some cases a cool thing to auto-save. That is not how rest of VS works. There are no cases (I could find ) where the project file is saved to the disk without an explicit gesture like Build or Save. I know we automatically save package.config/project.json but changes to the project are always saved with an explicit gesture. I don't thi

[2016-04-27 18:03] yishaigalatzer commented on #2214
I disagree let's have an offline discussion. Without fixing it we end up in a broken state, im OK with adding a backdoor to avoid saving, but this is a pretty essential  fix.

[2016-04-27 18:13] rohit21agrawal opened #2673 "Watson crash due to ObservableCollection in InfiniteScrollList not being thread-safe"
As per Sam Bent's analysis from WPF Team:
Nuget is adding a bunch of items to the ObservableCollection<object>.
Thread A adds the actual items (of typeNuGet.PackageManagement.UI.PackageItemListViewModel),
while Thread B adds and removes a fake item (of type NuGet.PackageManagement.UI.LoadingStatusIndicator).
The threads aren't using the synchronization that governs the collection.   [This is the b

[2016-04-27 18:14] emgarten commented on #2643
@jords1987 any luck tracking the root cause down?

[2016-04-27 18:18] emgarten commented on #2669
@FamilyMan check your machine wide configuration file at %appdata%/nuget/nuget.config

[2016-04-27 18:22] yishaigalatzer commented on #2403
We also need this API for the build task to pick up

[2016-04-27 18:25] emgarten commented on #2672
This is being tracked here: https://github.com/NuGet/Home/issues/2390

There is a plan to add netstandard to NuGet 2.8.x which will mean minClientVersion won't necessarily be useful for blocking clients without support for these new TFMs.

[2016-04-27 18:33] daveaglick commented on #2664
@yishaigalatzer No problem, I wasn't sure where the prefered place to ask usage questions was. I've opened the following Stack Overflow question: http://stackoverflow.com/q/36898032/807064

With regard to the API design, I understand that you and the team are still trying to "get it right" before cleaning it up and making it friendly to use. That's perfectly acceptable. Unfortunately, I'm starting

[2016-04-27 18:33] FamilyMan commented on #2669
I have a NuGet.Config file located in %appdata%/Roaming/NuGet/
It contains:

[code]

I also have a directory %appdata%/.nuget/ (Note the . before nuget) that contains a directory /packages, but no NuGet.Config file

[2016-04-27 18:34] jhngrant commented on #2667
I've reinstalled 3.4.3.855. I have a number of projects in a VS solution. When I pick 'Manage NuGet Packages...' on a C# class library NuGet opens as expected. When I try the same command on a Website project hosted in IIS I get the 'nuget configuration is invalid' error alert.

In Tools > NuGet Package Manager > Package Manager Console: All the projects with the error don't appear in the 'Default

[2016-04-27 18:35] heaths commented on #2672
Perhaps a different concept then, like NPM's `engineDependencies`:

[code]

[2016-04-27 19:00] dotMorten commented on #904
@yishaigalatzer When you say "NuGet now provides full support for laying out whatever you'd like on disk" are you referring to the 'contentFiles' feature? Because that currently flattens the folder structure.

[2016-04-27 19:00] harikmenon commented on #980
I just tried this on my end and I cant seem to repro it. This is on Visual Studio 2015 + Update 2 with 3.4.3v of NuGet Package Manager which is the latest RTM combination.
1. Created a WPF app and added it to TFS source control
2. Added a package to the WPF app
3. Looked at pending changes and I could see the packages folder in it
4. Add a NuGet.config to a .nuget folder with the disableSourceCont

[2016-04-27 19:20] daveaglick commented on #2471
@emgarten Can you elaborate on this? It seems to contradict the discussion [here](https://github.com/NuGet/Home/issues/1406#issuecomment-141569881):

[2016-04-27 19:30] jasonmalinowski commented on #2610
I've checked in internal pull request 20413 which disables the check. We should update the code properly once we have the ability to do so, but until then yeah this check isn't useful.

[2016-04-27 19:30] #2610 closed, assigned to jasonmalinowski

[2016-04-27 19:48] csharpfritz commented on #2308
The cache management is currently only accessible from the command-line.  Can we add this feature into the powershell console and a button in the NuGet settings dialog?

[2016-04-27 19:51] dannyvv opened #2674 "Nuget.exe fails when it is denied access to"

[2016-04-27 19:51] dannyvv opened #2675 "Nuget.exe fails when it is denied access to"

[2016-04-27 19:51] dannyvv opened #2676 "Nuget.exe fails when it is denied access to %APPDATA%\Nuget\NuGet.config"
I'm trying to run nuget in a restricted environment i.e. where nuget cannot be influenced by any installed state on the machine.
When I deny access to %APPDATA%\Nuget\NuGet.config
I get a crash of Nuget:

[code]

For file operations nuget should protected against IOException and UnauthorizedAccessException.
In this case I'd like nuget to just ignore the file and treat it like empty.
But the bare b

[2016-04-27 19:55] jords1987 commented on #2643
Hi @emgarten I have cloned the clients repo but when I run the powershell command it fails with a null reference exception? I tried to build in visual studio but each time it takes forever to restore packages and ends up failing? I have the server administrators for a remote session, see if they can fix it.... Do you know why the build would fail? It says something about "submodules" just before f

[2016-04-27 20:13] rrelyea commented on #2669
Is this website app hosted in IIS?
See: https://github.com/NuGet/Home/issues/2667

[2016-04-27 20:14] toddm commented on #2651
We've decided not to take a fix for this in 3.4.4. It works correctly in 3.3.0, and it is already fixed in nightly builds of 3.5.0 beta and rc.  The error only happens in the validation, so you can use --NoPackageAnalysis to skip the validation for 3.4.4 or use a different version of NuGet to workaround the problem.

[2016-04-27 20:14] #2651 closed, assigned to nobody

[2016-04-27 20:16] themadat commented on #1823
Bringing back Release Notes would be VERY USEFUL. I would like to see what I am potentially doing when upgrading without have to go out to our repository and search each package I want to upgrade

[2016-04-27 20:33] toddm commented on #2658
The fix is in the Dev branch as well as release-3.4.4.

[2016-04-27 20:41] yishaigalatzer commented on #2308
@csharpfritz that's ready tracked as a separate issue

[2016-04-27 20:59] emgarten commented on #2471
@daveaglick %localappdata%\NuGet\Cache is no longer used, packages are download first to %userprofile%.nuget\packages and then copied to their final destination. If the package already exists in %userprofile%.nuget\packages it will not be downloaded.

[2016-04-27 21:02] emgarten commented on #2643
Take a look at the steps that build.ps1 runs, you can see the git submodule commands there.

[2016-04-27 21:02] daveaglick commented on #2471
@emgarten Ah, okay. So am I correct that no matter what settings are used, packages will _always_ be copied to the project's local package path for use and a reference is added from that final destination? To put it another way, would NuGet ever add a project reference to an assembly that lives in %userprofile%.nuget\packages?

[2016-04-27 21:03] jainaashish commented on #1670
@Kamarey Can you confirm if it updates all the dependent packages (dependent packages could be there as target packages as well) or it goes and update all the packages irrespective of dependent or target?
And also can you try to repro this with latest nuget version 3.4.3? If you're still able to repro then please share steps or small repro project will be great.

[2016-04-27 21:03] skofman1 opened #2677 "Nuget.Core: Double-checked locking does not work"
Similar to the issue opened on the Gallery:
https://github.com/NuGet/NuGetGallery/issues/2995

It has been long known that double-checked locking is [broken](http://www.cs.umd.edu/~pugh/java/memoryModel/DoubleCheckedLocking.html).

We can see an example of this in client code: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol.Core.v3/HttpSource/HttpSource.cs#L305

The su

[2016-04-27 21:08] jainaashish commented on #1827
@deadlydog We had some code fixes around cache busting n resetting it, so can you try to repro this with latest nuget 3.4.3? And if you can still repro, then share the repro steps.
I tried to repro it as mentioned above, like pushed a package version to nuget.org and within minutes tried to update it through nuget UI (which was already opened) and it worked fine with latest build.

[2016-04-27 21:09] emgarten commented on #2471
@daveaglick that's correct. Project.json based projects use the dlls directly from %userprofile%.nuget\packages, packages.config projects will reference the solution level packages folder.

[2016-04-27 21:11] daveaglick commented on #2471
@emgarten That was super-helpful, thanks!

[2016-04-27 21:17] benaadams commented on #2677
That's C and Java. Double checked locking is fine in C# the lock imposes a strong read/write memory barrier.

[2016-04-27 21:44] harikmenon commented on #2675
https://github.com/NuGet/Home/issues/2676

[2016-04-27 21:44] #2675 closed, assigned to nobody

[2016-04-27 21:44] harikmenon commented on #2674
https://github.com/NuGet/Home/issues/2676

[2016-04-27 21:44] #2674 closed, assigned to nobody

[2016-04-27 22:02] harikmenon commented on #2662
@joelverhagen. We talked about this a bit internally. Adding Joel, He can take a look at this issue and help identify what exactly is needed to fix this issue.

[2016-04-27 22:37] joelverhagen commented on #2662
@ghuntley, could you give me a little more background on your repro? I have not worked with Xamarin Studio very much so it's not clear to me how to reproduce the issue. Also -- another silly question -- what is the "XM45" TFM?

[2016-04-27 22:49] mteper commented on #2662
@joelverhagen when you open the solution in Xamarin Studio, right-click on the project and select Options. Then, switch to "General" tab under "Build". You will see the framework target options I referred to in the initial case description.

`XM45` refers to `Xamarin.Mac .NET 4.5 Framework` target.

[2016-04-27 22:50] ghuntley commented on #2662
@joelverhagen Xamarin internally calls "Xamarin.Mac .NET 4.5 Framework" by the codename `XM45`, a proper identifier/moniker has not been assigned by MSFT or Xamarin. This is the internal codename, potentially could/should be renamed?

Inside that repro you will find two dummy applications:

[code]

Additionally there are three dummy libraries.

[code]

The end goal is to make XM45 recognised by Nu

[2016-04-27 23:01] #2401 closed, assigned to alpaix

[2016-04-27 23:01] #2419 closed, assigned to alpaix

[2016-04-27 23:01] #2546 closed, assigned to rrelyea

[2016-04-27 23:07] dagood commented on #2534
This might be crazy, but it seems to me like `dotnet publish` might actually be where runtimes should be found/restored. This issue seems similar to the PCL profile problem, where if a new framework comes along you need to edit the project definition to add it. I'm wondering if maybe you should be able to publish a project for a new platform without any project changes. I'm probably oversimplifyin

[2016-04-27 23:28] #2594 closed, assigned to jainaashish

[2016-04-28 00:17] cdmihai opened #2678 "Nuget pack should check if the package to be produced is structurally valid. And warn if it is not"
Nuget Pack should check if the package that the user wants to create is structurally valid and warn / error if it isn't.

Valid needs to be defined. Each folder in the nuget package has some semantics, and those semantics need to be checked.

For the CLI, we've hit the issue where a user added a native dll in a lib folder rather than in the native folder: https://github.com/dotnet/cli/issues/2660

[2016-04-28 00:22] cdmihai opened #2679 "Nuget restore should check if downloaded packages are structurally valid and warn if they are not"
This is the package consumer side of checking whether packages are structurally valid. The issue for the package producer side is #2678

If a user does restore and nuget downloads 500 packages, it would be a good user experience for nuget to check if the packages are structurally valid. Otherwise, somebody could publish a structurally invalid package and break arbitrary clients in arbitrary ways.

[2016-04-28 00:35] emgarten commented on #2679
Checking this at pack time makes sense, but on the consuming side the current behavior is expected, and NuGet doesn't have a way to know what will be done with the selected assets. NuGet doesn't read the assemblies at all today.

For packages.config scenarios in particular having a native dll works, `lib\net45` contains assets needed to make the package work on net45, it's not a guarantee that tho

[2016-04-28 00:44] joelverhagen commented on #2662
Got it. It seems to me that you would like to add a new `xm` TFM with new compatibilities with existing TFMs (e.g. `net45`).

Adding a TFM to NuGet is relatively straightforward. The list of frameworks that NuGet knows about is in this file, so this is where the work should be started:
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Frameworks/DefaultFrameworkMappings.cs

This

[2016-04-28 00:57] FamilyMan commented on #2669
Yes it is. It appears to be the same issue.

[2016-04-28 01:18] emgarten commented on #2667
@jhngrant what type of project are you using, a web site, web application, something else? Is there an msbuild project file for this project?

Does the project contain a project.json file or packages.config file?

[2016-04-28 01:21] emgarten commented on #2669
@FamilyMan what type of project are you seeing this issue with? Does the project contain a packages.config or project.json file? Is there an msbuild project file?

[2016-04-28 01:31] FamilyMan commented on #2669
It's a Web Site. There is a packages.config which contains this:

[code]

Under Documents/Visual Studio 2015/Project/localhost_50854 there is a .vs directory, a packages directory, a .sln file and a .sln.DotSetting.user file.

[2016-04-28 01:31] rrelyea commented on #2668
Just tried this with VS 2013 Update 5 w/ NuGet 2.8.6 running on Window 10.0.10586 (Nov 2015 update)
1) create a WPF project
2) install Newtonsoft.Json 8.0.3
3) everything works.

What details are different about your repro attempts?

[2016-04-28 02:10] zhili1208 commented on #2653
@yishaigalatzer I think he is referring to sources, we load sources from nugetDefault.config in 3.3, but doesn't do that in 3.4. This is regression from 3.3, but 3.3 has another issue: writing sources from nugetDefault.Config to local nuget.config during saving package sources.

[2016-04-28 02:12] zhili1208 commented on #2676
@dannyvv what's the nuget.exe version you are using?

[2016-04-28 02:18] zhili1208 commented on #2669
looks like this issue https://github.com/NuGet/Home/issues/2601, this is a web site project, right? is your nuget.exe version 3.4.3? I believe it's fixed in 3.4.3

[2016-04-28 02:21] zhili1208 commented on #2667
@emgarten I think this is also https://github.com/NuGet/Home/issues/2601, for some reason, website nugetProject initialization fails.

[2016-04-28 02:29] yishaigalatzer commented on #2667
Can you compare to 2.8.x ?

Sent from Outlook Mobilehttps://aka.ms/xp9y6l

On Wed, Apr 27, 2016 at 7:21 PM -0700, "Zhi Li" <notifications@github.com<mailto:notifications@github.com>> wrote:

@emgartenhttps://github.com/emgarten I think this is also #2601https://github.com/NuGet/Home/issues/2601, for some reason, website nugetProject initialization fails.

##

You are receiving this because you com

[2016-04-28 02:34] DamianEdwards commented on #2534
This is indeed an eventual goal (take a "portable" project and publish for
a specific platform), we just have to do a bunch of design and work to get
to that place. It's very unlikely to happen for v1.0

On Wed, Apr 27, 2016 at 4:07 PM, Davis Goodin notifications@github.com
wrote:

##

Cheers,
Damian

[2016-04-28 02:44] davidfowl commented on #2534
We need a lock file per runtime instead of listing all targets in a single lock file. That way publish can just run restore for that specific RID

[2016-04-28 02:54] cdmihai commented on #2679
Does this mean that the CLI only works with a subset of Nuget packages, and should thus check for "CLI friendly packages"?

[2016-04-28 02:59] davidfowl commented on #2679
What's a structurally valid package?

[2016-04-28 06:07] jhngrant commented on #2667
@emgarten Web site project

[2016-04-28 06:13] ryanhelms commented on #1112
Has this bug be reintroduced? I am getting the "This package has not been indexed yet" banner on many packages, example:
- https://www.nuget.org/packages/NUnit.Runners/3.2.0
- https://www.nuget.org/packages/NUnit.Runners/2.6.4

And after just searching around for a few, I noticed that there are a lot (90% of the non-latest package) being reported "not been indexed yet", example:

 **_(3 randomly s

[2016-04-28 06:19] maartenba commented on #1112
Looking into it, thanks!

[2016-04-28 06:36] maartenba commented on #1112
This issue was moved to NuGet/NuGetGallery#3006

[2016-04-28 06:47] emgarten commented on #2669
Thanks @FamilyMan that helps narrow it down, this looks like the same issue as https://github.com/NuGet/Home/issues/2667

[2016-04-28 06:47] #2669 closed, assigned to nobody

[2016-04-28 07:46] Gormy commented on #2657
I download latest nuget.exe and now if I use 'dotnet restore' from cmd, all packages restored. But in TeamCity I still the same errors. Fiddler don`t see requests from teamcity.

[2016-04-28 08:31] MatzeG opened #2680 "NuGet 3.4.3 is unable to build a package with &amp; inside the copyright"
Hello

in Nuget Version 3.4.3 the **&amp;** seems does not work any more.

Matthias

<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2011/08/nuspec.xsd">
    <metadata>
        <id>MyPackage</id>
        <version>1.0.0</version>
        <authors>MyName</authors>
        <requireLicenseAcceptance>false</requireLicenseAcceptance>
        <description>My

[2016-04-28 09:03] holytshirt commented on #2653
@yishaigalatzer as @zhili1208 said 3.3 does not load `%ProgramData%\NuGet\NuGetDefaults.config`   due to a path issue.
This is suggest location for machine wide settings for nuget configuration https://docs.nuget.org/consume/nuget-config-defaults.

Not loading this file causes all default settings to be not load for :
- Enabled package sources
- Registered, but disabled-by-default package sources

[2016-04-28 09:04] fubar-coder commented on #2653
I suggest fixing this for 3.4.4 anyway, because the removal of the default push source being nuget.org is a breaking change without a solution (yet).

[2016-04-28 11:52] jasoncouture commented on #2661
Fair enough, I should probably read the header RFCs before making assumptions like that. Figures they'd use something  strange as a separator in an HTTP header. (While i've made plenty use of mime-multipart uploads, I've never actually used filename*.)

It seems as though filename\* isn't being parsed on their end, and they're trying to save a file named: utf-8''package.nupkg if that's helpful. If

[2016-04-28 13:58] yishaigalatzer commented on #2653
We will have a 3.4.4 build out today for verification

[2016-04-28 14:03] rrelyea commented on #2680
Thanks for the report. We've already investigated the regression.
See details here: https://github.com/NuGet/Home/issues/2651

[2016-04-28 14:07] #2680 closed, assigned to nobody

[2016-04-28 14:10] rrelyea commented on #2648
@toddm fixed with: https://github.com/NuGet/NuGet.Client/commit/2f9e8574998b5fbb3c0f3dde9ea88e4a4006d25a

[2016-04-28 14:30] jhngrant commented on #2667
@emgarten Attached is the packages.config of a Web site project with the 'nuget configuration is invalid' error:
[packages.zip](https://github.com/NuGet/Home/files/240706/packages.zip)

There is no project.json

To create this type of project File > New > Web Site...

[2016-04-28 14:33] pranavkm opened #2681 "NuGet.exe pack project fails with Argument Null"
Version: NuGet 3.4.3

[code]

Saw this on my CI which builds fine with v3.3.0.

[2016-04-28 14:50] davidebbo commented on #2681
Maybe same as #2648?

[2016-04-28 14:54] rrelyea commented on #2681
Likely, we'll share a build asap with a fix to confirm.
@toddm - can you peek at this case...to confirm that it is likely a dupe?
If so, close, if not, remove duplicate label.

[2016-04-28 15:07] toddm commented on #2681
Yes.  I confirmed that it's fixed with the same fix as https://github.com/NuGet/Home/issues/2648.

[2016-04-28 15:07] #2681 closed, assigned to toddm

[2016-04-28 15:41] harikm86 commented on #2662
Thanks @joelverhagen. @chamons would you be able to create a PR for the change? We would love to have this in the product as soon as possible :). You will need to update the client on the Mac side of things as well once this is committed.

[2016-04-28 15:48] joelverhagen commented on #2662
I have knowledge in this area so I could work on the implementation, probably within the next couple weeks. You are also free to work on a PR which NuGet team can review.

I understand these Xamarin TFMs as abstract terms but I am pretty ignorant about when or why they are used. Let's nail down some details.

Clarifying questions for points already made:
1. Can we agree on a different TFM for the

[2016-04-28 15:59] dannyvv opened #2682 "HttpCacheFolder is not configurable like other settings i.e. GlobalPackagesFolder"
### Issue

Method `GetHttpCacheFolder` in [settingsUtility.cs](https://github.com/NuGet/NuGet.Client/blob/d74b04c1bdd3a6bb14b0ba6edd319e9c839c6eae/src/NuGet.Core/NuGet.Configuration/Utility/SettingsUtility.cs#L156)

[code]

does not have a way to be overridden via an environment variable or a section in the config like [GetGlobalPackagesFolder](https://github.com/NuGet/NuGet.Client/blob/d74b04c1bd

[2016-04-28 16:00] dannyvv commented on #2676
D:\temp\nugettest>nuget.exe
NuGet Version: 3.4.0.653

[2016-04-28 16:06] hyrmedia commented on #686
:+1:

[2016-04-28 16:17] #1903 closed, assigned to jainaashish

[2016-04-28 16:35] cdmihai commented on #2679
Needs to be defined. Can you put anything in nuget packages? Can you zip recycle bin and rename it to .nupkg? :)

There should be some format / meaning to the contents which is checked somewhere. For starters, the directory structure. If a folder with some name has constraints (e.g. only has managed dlls) then nuget pack and maybe post restore should check that.

Maybe multiple Nuget package types

[2016-04-28 17:41] rrelyea commented on #2653
@holytshirt  I'm seeing slightly different behavior with my testing. can you tell us the paths of the different config files under %progdata%, along with their contents?

[2016-04-28 17:56] chamons commented on #2662
We are looking at renaming the "XM 4.5" target framework already. I agree that it is a terrible name. I'm ok with the internal name not matching that. :)

I am honestly unsure on all of the existing nuget identifiers. I _think_ how it works is:
- xamarinmac10 = Xamarin.Mac Classic - This is XamMac.dll and standard net45 (we pull from whatever is installed on system). We're not making any real chan

[2016-04-28 18:01] holytshirt commented on #2653
@rrelyea
This is from a clean rebuilt build agent so %ProgramData%\NuGet\NuGetDefaults.config is the only nuget configuration on the machine, which gets pushed out via global policy.
`%ProgramData%\NuGet\NuGetDefaults.config` maps to `C:\ProgramData\NuGet\NuGetDefaults.config` and that files contains

[code]

Anything else you need?

[2016-04-28 18:07] jainaashish commented on #2512
We are trying to install a pre release version without specifying the prerelease flag so it tries to prune prerelease versions but since it has 190 packages depth dependency with many multiple prerelease versions so it's talking too much time to walk dependencies. So ideal solution is to use -pre flag while trying to install a prerelease version.
But through specified version also, we can come to

[2016-04-28 18:13] jainaashish commented on #2512
I'll also log another bug to improve WalkDependencies api performance since even in normal case, it's talking too much time to process.

[2016-04-28 18:24] mm201 commented on #2667
I made the issue replicate. I started my project in VS 2012 then later migrated to 2015. The .sln file looks as follows:

[code]

If I change the second Project line to read, `Project("{E24C65DC-7377-472B-9ABA-BC803B73C61A}") = "testSite", "testSite\", "{348EB0EA-8C3F-45CB-A248-BBC2616AAFE4}"`, the problem goes away. Note that sln files generated by VS2015 look like this.

Downgrading to 3.4.2 als

[2016-04-28 18:29] joelverhagen commented on #2657
So, to clarify:
- `nuget.exe restore` from CMD on your TeamCity agent works. Which nuget.exe version are you trying?
- `dotnet restore` from CMD on your TeamCity agent works.
- `dotnet restore` when running as part of the TeamCity build fails.

Does that accurately represent the problem?

[2016-04-28 18:41] jainaashish opened #2683 "Improve performance for WalkDependencies api for prune pre release packages for stable targets"
`nuget.exe install Microsoft.AspNet.Mvc -Version 6.0.0-beta2 -NoCache -Source https://api.nuget.org/v3/index.json`

Above command is taking 2 hr 10 mins to complete prune pre release api call since we uses DFS to walk dependencies in PrunePackageTree.cs and that too without maintaining a local cache for visited packages which makes it to process duplicate packages and add into stack calls. So if y

[2016-04-28 18:44] zhili1208 commented on #2676
Can you try 3.4.3 from here: https://dist.nuget.org/index.html?

[2016-04-28 18:48] rrelyea commented on #2653
That helps. Thx. We are considering options.
I was using %ProgramData%\nuget\config\foo.config, instead of %programdata%\nuget\NugetDefaults.config -- so my sources didn't disappear.
DefaultPushSource was broken in both ways.

[2016-04-28 19:28] StexGhost opened #2684 "Nuget packages containing localized resources not working with UWP/UAP. Is there a workaround?"
Installing a nuget package that has localized resources in an UWP app, you can only access the default language resources.

How to reproduce:
-1. Create blank UWP app
-2. Install localized nuget package, you can use this test package I created:
`Install-Package LocalizationTest`
-3. Add this code to MainPage.xaml

[code]

-4. Add this code to MainPage.xaml.cs

[code]

-5. Start the app, press the

[2016-04-28 19:35] alpaix opened #2685 "Clean authentication state after pre-defined period of time"
Follow-up on https://github.com/NuGet/NuGet.Client/pull/388.

**Problem**
`HttpSource` retains authentication state of failed requests for entire application lifetime. Hypothetically this can reach significant redundant memory waste in VS.

**Solution**
Consider cleaning unused state objects after certain period of time. This can be implemented the same way as we did for image load failures.

[2016-04-28 19:36] alpaix commented on #2362
Fixed by https://github.com/NuGet/NuGet.Client/pull/388.

[2016-04-28 19:36] #2362 closed, assigned to alpaix

[2016-04-28 19:40] joelverhagen commented on #2662
So `xamarinmacnet45` should not support any version `xamarinmac`? I am not sure what you mean by `xamarinmac` being it's own thing.

My assertion "iii" above was:

I want to make sure these details are exactly right :smile:

[2016-04-28 20:00] Gormy commented on #2657
dotnet restore command result from cmd different from teamcity.

## TeamCity result: all request from nuget has timeout:

## [1._DEV_auto_deployment_62.txt](https://github.com/NuGet/Home/files/241342/1._DEV_auto_deployment_62.txt)

## CMD result: didn`t send request to nuget, only write that:

PS C:\TeamCity\buildAgent\work\e602d2b9cd736a2c\test> dotnet restore
log  : Restoring packages for C:\Tea

[2016-04-28 20:47] rrelyea commented on #2685
Triage- let's close this issue...and handle a case of a user cancelling 3 times, or failing to authenticate 3 times -- by treating that source as a misbehaving source. #1627

[2016-04-28 20:47] #2685 closed, assigned to nobody

[2016-04-28 20:48] rrelyea commented on #1627
Note...see #2685 -- if the user doesn't authenticate after 3 tries (via cancel, or typing badly), treat that source as misbehaving.

[2016-04-28 20:48] Gormy commented on #2657
Now, when I try to use dotnet restore for my project from CMD, I the same result as in TeamCIty. How can I check which version nuget is use dotnet?

[2016-04-28 20:50] rrelyea commented on #2684
Unfortunately there is no way around this at the moment. One needs to use fat packages for this.
Duplicate of #2245

[2016-04-28 20:50] #2684 closed, assigned to nobody

[2016-04-28 20:52] rrelyea commented on #2683
ONLY If profiling shows this is a problem, then we are ok fixing it.

[2016-04-28 20:54] rrelyea commented on #2682
Thanks. Duplicate of #1394
We would love a PR.

[2016-04-28 20:54] #2682 closed, assigned to nobody

[2016-04-28 20:56] rrelyea commented on #2678
Triage - pack isn't going to validate native vs managed DLLs.

[2016-04-28 20:56] #2678 closed, assigned to nobody

[2016-04-28 20:57] rrelyea commented on #2679
Triage - won't fix. The package producer is responsible to validate their package.

[2016-04-28 20:57] #2679 closed, assigned to nobody

[2016-04-28 21:01] rrelyea commented on #2677
Triage - by design. We've reviewed the code and are ok with it because this isn't a double check locking and as Ben says it is fine.

[2016-04-28 21:01] joelverhagen commented on #2657
.NET CLI version `1.0.0-rc2-002485` shipped with NuGet build `3.5.0-beta-1199`.

The NuGet version that ships with `dotnet` does not necessarily have a corresponding nuget.exe release. But you can find the NuGet build number by:
1. Go to the same directory as the `dotnet` executable.
2. Go to `sdk\<CLI version>`.
3. Find a NuGet DLL (such as `NuGet.Versioning.dll`).
4. Right-click on it, click on

[2016-04-28 21:05] rrelyea commented on #2676
@yishaigalatzer will reach out to discuss the scenario.

Our plan for a fix: don't throw...but do give real error message.

[2016-04-28 21:08] rrelyea commented on #2672
In order to do that, we'd need to ship 2.8._, 3.3._, etc... with support for that.

[2016-04-28 21:08] #2672 closed, assigned to nobody

[2016-04-28 21:09] alpaix commented on #2346
Fixed with previous changes. Closing...

[2016-04-28 21:09] #2346 closed, assigned to alpaix

[2016-04-28 21:21] Gormy commented on #2657
I understand that problem is in shipped NuGeT. Is it?

[2016-04-28 21:39] ericstj commented on #2672
I think you took this issue in a different direction than the initial intent.

NuGet now knows about project.json and what is valid to have in it.  Suppose a new feature comes along that requires a change to project.json (eg: new framework support, include/exclude etc).  Suppose my project is invalid if an old client tries to consume that.  What can I do in my source to catch early if someone is u

[2016-04-28 21:41] Ankh25-zz opened #2686 "failed to initialize powershell host on Windows 10 build 10586.xx (where xx is < 63)"
hello
i am getting this errors,

tried reinstalling nuget and using older versions also..

errors only appear when trying to create web api / mvc project in vs2015 on win 10 x64.

how to correct this issue? failed to initialize powershell host

[2016-04-28 21:54] skofman1 commented on #2677
Take a look here: https://msdn.microsoft.com/en-us/library/ff650316.aspx
You have to use volatile to make double-checked locking work in C#.

[2016-04-28 22:00] benaadams commented on #2677
@skofman1 it also says:

[2016-04-28 22:45] emgarten opened #2687 "Add validation for _._ file includes"
From @nil4

https://github.com/aspnet/KestrelHttpServer/issues/773

Using dotnet CLI 1.0.0-rc2-002485 and `Microsoft.AspNetCore.Server.Kestrel/1.0.0-rc2-20682` from the `aspnetcirelease` feed in an application targeting framework `net461` with RID `win7-x64`. The application fails to start with the following error:

[code]

After running `dotnet build -f net461`, `System.Numerics.Vectors.dll` is n

[2016-04-28 22:57] joelverhagen commented on #2657
We are not able to reproduce this issue on our end. Could you send an email to support@nuget.org with some Skype contact details? We can work together directly. I won't be able to diagnose this problem unless I have access to the machine.

[2016-04-28 23:10] yishaigalatzer commented on #2677
@benaadams double checked with clr folks, this code is indeed safe. The warning applies to scenarios where you have two fields like bool _initialized.

We are going to add volatile to _httpClient for two reasons
1. This might fail on Mono
2. This stops the questions about is this ok or not.

[2016-04-28 23:12] benaadams commented on #2677
lol :smile_cat:

[2016-04-28 23:26] rrelyea commented on #2667
Can you please try:
1) download not yet final version 3.4.4. of the vsix:
https://www.myget.org/F/nuget-vsix/vsix/NuGet.0d421874-a3b2-4f67-b53a-ecfce878063b-3.4.4.870.vsix

2) close VS 2015.
3) double click the new vsix to install.
4) launch VS.
5) try out your project.
6) tell us how it went

[2016-04-28 23:31] rrelyea commented on #2681
@pranavkm  - Can you please try:
1. download not yet final version 3.4.4. of nuget.commandline.nupkg from https://www.myget.org/F/nugetbuild/api/v2/package/NuGet.CommandLine/3.4.4-rtm-870
2. rename the .nupkg to .zip
3. Grab nuget.exe from inside the zip file in the tools directory.
4. Try this version of nuget.exe to verify that it has fixed your issue.
5. Tell us how it went

[2016-04-28 23:34] rrelyea commented on #2658
@maxgax - can you please verify the fix:
1. download not yet final version 3.4.4. of nuget.commandline.nupkg from https://www.myget.org/F/nugetbuild/api/v2/package/NuGet.CommandLine/3.4.4-rtm-870
2. rename the .nupkg to .zip
3. Grab nuget.exe from inside the zip file in the tools directory.
4. Try this version of nuget.exe to verify that it has fixed your issue.
5. Tell us how it went

[2016-04-28 23:34] rrelyea commented on #2648
@chrisrestall - can you please help verify that this has fixed this issue?
1. download not yet final version 3.4.4. of nuget.commandline.nupkg from https://www.myget.org/F/nugetbuild/api/v2/package/NuGet.CommandLine/3.4.4-rtm-870
2. rename the .nupkg to .zip
3. Grab nuget.exe from inside the zip file in the tools directory.
4. Try this version of nuget.exe to verify that it has fixed your issue.
5

[2016-04-28 23:40] joelverhagen commented on #2322
Hey @kmcginnes... slight tangent but could we have worked together at SpaceX for a couple years back? I was one of the lowly interns :smile:. I hope things are going well!

Sorry about the delay on this issue. I can't seem to reproduce the problem. Could you provide what nuget.exe version you are using as well as attach a self-enclosed solution (or project) that reproduces the issue?

[2016-04-28 23:53] alpaix opened #2688 "NuGet.exe should break on Ctrl-C"
NuGet.exe doesn't react on Ctrl-C pressed when user is prompted for credentials.
There's no other way to terminate execution in that case.

[2016-04-29 00:29] rohit21agrawal commented on #2673
checked ino dev :  https://github.com/NuGet/NuGet.Client/commit/2ee48fd368c4f4bb6037f6925e2e82607ff2493f

checked into 3.4.4 :  https://github.com/NuGet/NuGet.Client/commit/4d4a90b19db7fc65624b32acc41e541060dd9732

[2016-04-29 01:43] yishaigalatzer commented on #2671
Thanks for reporting this issue.

This is a known bug, where the root nuget.config might have been missing a source. Regenerating it fixed it. The next version fixes it by adding the source (one time) for you automatically.

For the sake of completeness it would be helpfull to know exactly what version of visual studio, nuget and asp.net core did you use?

[2016-04-29 02:32] chrisrestall commented on #2648
I commented out the auto updater line in the ps script and used the rtm-exe.  No issues.  Thanks for jumpi9ng on this so quickly!
Date: Thu, 28 Apr 2016 16:34:48 -0700
From: notifications@github.com
To: Home@noreply.github.com
CC: mitre7@hotmail.com; mention@noreply.github.com
Subject: Re: [NuGet/Home] nuget 3.4.3 release -  getting Value cannot be null on package build (#2648)

@chrisrestall - ca

[2016-04-29 02:40] rrelyea commented on #2647
Working with the internal reporter to confirm that this is fixed with this private build:
1.download not yet final version 3.4.4. of nuget.commandline.nupkg from https://www.myget.org/F/nugetbuild/api/v2/package/NuGet.CommandLine/3.4.4-rtm-870
2.rename the .nupkg to .zip
3.Grab nuget.exe from inside the zip file in the tools directory.
4.Try this version of nuget.exe to verify that it has fixed yo

[2016-04-29 02:50] harikmenon opened #2689 "NuGet package manager does not respect VS language settings"
Opening in behalf of a couple of customers who complained about this on our gallery https://visualstudiogallery.msdn.microsoft.com/5d345edc-2e2d-4a9c-b73b-d53956dc458d/viewReviews/Reviews

Direct comment

"I've updated to latest VS 2015.2 and after that Package Manager speaks French to me.

In the meantime, I have:
- VS 2015 in English
- Windows 10 display language set to English
- Regional format

[2016-04-29 03:19] emgarten commented on #1598
NuGet/NuGet.Client@1cd4679a

[2016-04-29 03:19] #1598 closed, assigned to emgarten

[2016-04-29 06:29] jhngrant commented on #2667
@rrelyea 3.4.4 has fixed the 'nuget configuration is invalid' issue on the web site projects. Also OK on other projects types I work on.

[2016-04-29 06:30] StexGhost commented on #2684
Wait, I'm telling you fat packages are not working!

This package is a normal Portable Class Library with multiple languages inside. It's not possible to access the other languages inside that Portable Class Library. (That's the definition of a fat package, is it not?)

[2016-04-29 07:54] aelij opened #2690 "'Strong name validation failed' for NuGet.Packaging.Core v3.4.3"
It seems there's something wrong with the signing of `NuGet.Packaging.Core`. The file is also missing its digital signature (right click -> properties -> no "Digital Signatures" tab).

The following exception is thrown when calling `NuGetPackageManager.InstallPackageAsync`:

[code]

[2016-04-29 10:44] StexGhost commented on #2684
Can this be reopened? The issue was missunderstood. This is NOT a duplicate of issue #2245

I apologize, the title should have been worded differently. I edited the title to make it more clear.

[2016-04-29 11:41] bondarchook opened #2691 "Nuget update command does not update projects that use project.json"
Commandline Nuget **update** command does not update projects that use **project.json** instead of packages.config

[2016-04-29 11:57] damnlogin opened #2692 "Please return References from ResolveNuGetPackageAssets"
Hello

We are using NuGet targets in our MSBuild process to identify references added by NuGet. Currently we have to modify ResolveNuGetPackageAssets target within Microsoft.NuGet.targets to let it return resolved references.

Can you please change the targets file to include  Returns="@(ReferenceCopyLocalPaths);@(_ReferencesFromNuGetPackages)" into ResolveNuGetPackageAssets target. So that resolv

[2016-04-29 15:29] #2322 closed, assigned to joelverhagen

[2016-04-29 15:30] joelverhagen commented on #2557
Fixed with https://github.com/NuGet/NuGet.Client/pull/549

[2016-04-29 15:30] joelverhagen commented on #2322
Fixed with https://github.com/NuGet/NuGet.Client/pull/549

[2016-04-29 15:33] #2557 closed, assigned to joelverhagen

[2016-04-29 15:47] ardentra commented on #2667
@rrelyea we just ran into this same issue for our website projects. Installing this new vsix fixed the issue for usas well.

[2016-04-29 16:25] maxisam commented on #2443
vs2015 update2 + version 3.4.3.855  with https://api.nuget.org/v3/index.json

it still shows the error message

but it works if I use Install-Package from package manager console.

[2016-04-29 16:26] jainaashish commented on #1013
6327234c4dafc32c6d50817680725f23906aae03

[2016-04-29 16:26] #1013 closed

[2016-04-29 16:28] #2512 closed, assigned to jainaashish

[2016-04-29 16:57] cc-interview commented on #2671
Thanks.

Visual Studio 2015 Update 2 (14.0.25123.00). NuGet Package Manager 3.4.3. Asp.net core *-rc1-final.

[2016-04-29 17:26] yishaigalatzer commented on #2658
Reopening for validation - Please include the commit ids

[2016-04-29 17:28] yishaigalatzer commented on #2648
@toddm  Please include commit hashes on the issue, reopening for validation

[2016-04-29 17:29] yishaigalatzer commented on #2647
Reopening for validation

[2016-04-29 17:30] yishaigalatzer commented on #2667
@emgarten please close with the commit hash and assign to @zhili1208 for validation

[2016-04-29 17:35] toddm commented on #2658
https://github.com/NuGet/NuGet.Client/commit/c2443fd2aec84a1c9b1ab1b34a4abe79dd3eb1fa https://github.com/NuGet/NuGet.Client/commit/10a986f0959638cf975688619b720a1a0eec193a

[2016-04-29 17:37] toddm commented on #2648
https://github.com/NuGet/NuGet.Client/commit/04dcef032aab97fb8998599437320e9f383af992 https://github.com/NuGet/NuGet.Client/commit/2f9e8574998b5fbb3c0f3dde9ea88e4a4006d25a

[2016-04-29 17:42] toddm commented on #2461
https://github.com/NuGet/NuGet.Client/commit/0021c1fde2fe47ae25de89ebde116f65ecbc2eb7

[2016-04-29 17:42] #2461 closed, assigned to nobody

[2016-04-29 17:43] toddm commented on #609
https://github.com/NuGet/NuGet.Client/commit/88330551e465e5673505c525515e74129f73d98c

[2016-04-29 17:43] #609 closed

[2016-04-29 17:45] toddm commented on #2281
https://github.com/NuGet/NuGet.Client/commit/3776553c7c4499ecedf17720377045883d326c2e

[2016-04-29 17:45] #2281 closed, assigned to toddm

[2016-04-29 17:47] toddm commented on #1983
https://github.com/NuGet/NuGet.Client/commit/80a8f7d13d7ca8228b212649902eefb5cb2bee98

[2016-04-29 17:47] #1983 closed, assigned to toddm

[2016-04-29 18:08] kmcginnes commented on #2322
@joelverhagen Hey man! Yeah, we totally worked together at SpaceX. I'm glad to see you got a nice cushy job at NuGet 😄 !

And I can try to get a sample app to you, but it depends on what sources you have configured in the NuGet.config. We were using TeamCity along with a project.json file. This configuration just won't work, mainly because of #2347 .

But it was failing on packages that it can cle

[2016-04-29 18:58] alpaix commented on #2648
Verified using customer's .nuspec with 3.4.4.870 build. Closing...

[2016-04-29 18:58] #2648 closed, assigned to alpaix

[2016-04-29 19:18] alpaix commented on #2658
Was able to repro using provided project.
Validated the fix with 3.4.4.870 build.
Closing...

[2016-04-29 19:18] #2658 closed, assigned to alpaix

[2016-04-29 19:51] emgarten commented on #2667
NuGet/NuGet.Client@00b0839c33a79423cad358184769715be4dbf22a

[2016-04-29 19:51] #2667 closed, assigned to zhili1208

[2016-04-29 20:40] javiercn opened #2693 "Include information about the dependency chain when a package is unable to restore"
I have a project.json file with a list of dependencies. When I try to restore, it fails indicating that it can't resolve a given dependency that is not directly referenced in my project.json

When I try to look at the project.lock.json file, I can't see any information about who is bringing in that dependency that is failing. When running with -Verbosity detailed it doesn't tell me either.

It wil

[2016-04-29 20:57] zhili1208 commented on #2653
https://github.com/NuGet/NuGet.Client/commit/288fb184fb85e904aab461dcbf9460f4d40286a1

[2016-04-29 20:57] #2653 closed, assigned to spadapet

[2016-04-29 21:38] spadapet commented on #2653
I tested DefaultPushSource in local nuget.config, user nuget.config, and machine nugetdefaults.config. Works fine.

[2016-04-29 21:42] zhili1208 commented on #2667
Tested the fix, works well

[2016-04-29 22:44] rohit21agrawal commented on #2214
https://github.com/NuGet/NuGet.Client/commit/c022ca256a74340a05e25b11f3d8b3d0e90214ca

[2016-04-29 22:44] #2214 closed, assigned to rohit21agrawal

[2016-04-29 22:46] rohit21agrawal commented on #2052
@yishaigalatzer @harikm86

This sounds like dupe of https://github.com/NuGet/Home/issues/2214 . Correct me if I am wrong.

[2016-04-29 23:31] yishaigalatzer commented on #2052
Yes, please close

[2016-04-29 23:32] rohit21agrawal commented on #2052
https://github.com/NuGet/NuGet.Client/commit/c022ca256a74340a05e25b11f3d8b3d0e90214ca

[2016-04-29 23:32] #2052 closed, assigned to rohit21agrawal

[2016-04-29 23:35] emgarten commented on #2687
The nupkg itself contains both a dll and _._ in the same folder. I think this should be fixed in the package.

![image](https://cloud.githubusercontent.com/assets/6381138/14932242/496b1540-0e28-11e6-9ed9-71d62d241737.png)

[2016-04-29 23:42] emgarten commented on #2687
@toddm NuGet should check for this during validation if it does not already.

[2016-04-29 23:54] brian-white opened #2694 "Request to introduce semantic versioning friendly $version3digit$ replacement token"
Use case:
- We use Jenkins and the Change Assembly Version plugin to set toggle between version numbers like 3.0.1 for release packages and 3.0.1.${BUILD_NUMBER} for sandbox packages
- When we set it to 3.0.1 even though the dll says it's file version 3.0.1 the $version$ replacement token in the nuspec file turns that into 3.0.1.0 package and we want it to be 3.0.1 instead

Target audience:
- Peop

[2016-04-29 23:59] rohit21agrawal commented on #1823
@yishaigalatzer @harikm86

Where should the release notes be placed? (A UI Mockup might be helpful here?)

And what's the final decision on the gallery link?

[2016-04-30 00:09] yishaigalatzer commented on #1823
We should add a gallery link

Sent from Outlook Mobilehttps://aka.ms/xp9y6l

On Fri, Apr 29, 2016 at 4:59 PM -0700, "Rohit Agrawal" <notifications@github.com<mailto:notifications@github.com>> wrote:

@yishaigalatzerhttps://github.com/yishaigalatzer @harikm86https://github.com/harikm86

Where should the release notes be placed? (A UI Mockup might be helpful here?)

And what's the final decision on

[2016-04-30 00:19] jainaashish commented on #2647
Verified with 3.4.4-872 by adding sources through nuget.exe sources with username n pwd and then used these sources to browse/install packages.

[2016-04-30 00:19] #2647 closed, assigned to jainaashish

[2016-04-30 01:30] brthor opened #2695 ""type": "platform" Dependencies represented as "type":"package" in lock file"
Repro
1. `dotnet new`
2. `dotnet restore`

In the lock file:

[code]

I'd expect:

[code]

In the cli, this is a meaningful difference.
The real issue is that restoring without "type":"platform" produces a different lockfile, but no way to determine (from the lock file) whether "type":"platform" is used. If a `win10-x64` is present in the project.json, the "type": "platform" restored lock file wil

[2016-04-30 02:05] emgarten commented on #2694
@brian-white what version of nuget.exe are you using? In the latest 3.4.3 nuget.exe the version should be normalized to three digits unless a fourth non-zero digit exists.

https://dist.nuget.org/index.html

[2016-04-30 07:12] StexGhost opened #2696 "Packages containing PCL with localized resources not working with UWP/UAP"
This is a new submission of issue #2684
#2684 was closed because it was marked as a duplicate of #2245 **which it is NOT**. I believe this was a simple missunderstanding because my first title was worded wrong.

As to my understanding, we are talking about a fat package (assembly + assembly resources) not working with UWP. If that's not what "fat package" is defined as, please link or tell me to w

[2016-04-30 11:29] aelij commented on #2690
The `NuGet.Packaging.Core.dll` file in the [VSIX distribution](https://dist.nuget.org/visualstudio-2015-vsix/latest/NuGet.Tools.vsix) is fine BTW.

[2016-04-30 12:31] Ankh25-zz commented on #2686
![1](https://cloud.githubusercontent.com/assets/7635892/14935834/8230e5fa-0efd-11e6-922f-6e83b1d25ba8.jpg)

[2016-05-01 11:44] stevanusw commented on #2667
cheers guys!

[2016-05-01 12:19] BobbyCannon commented on #2504
If this is by design then can we get the profile page sample to have the source parameter.

[2016-05-01 18:45] harikmenon commented on #2504
I will update the doc page for our Command-line reference http://docs.nuget.org/Consume/Command-Line-Reference. Is there something else we should be update @BobbyCannon ?

[2016-05-01 18:49] BobbyCannon commented on #2504
The profile page that gives you example do not tell you that you must now provide the source. I was needing to deploy so I just rolled back to the older exe so my old publish scripts would work. I'll attempt later but the profile example to set key and push need updating.

[code]

[2016-05-01 18:52] harikmenon commented on #2504
This is the page you are thinking about right?

https://docs.nuget.org/consume/command-line-reference

[2016-05-01 18:53] BobbyCannon commented on #2504
No, I'm talking about. At the bottom, when it's helping you setup your API key.

https://www.nuget.org/account

However, those docs should probably be updated also.

[2016-05-01 18:56] harikmenon commented on #1823
@yishaigalatzer @rohit21agrawal lets chat in the office on Monday. I have a couple of questions I want to clarify before we make this change.

[2016-05-01 18:57] harikmenon commented on #2504
Ha, I see. Thanks for confirming. I will make this change today or tomorrow and send out a PR.

[2016-05-01 22:42] harikmenon commented on #2504
https://github.com/NuGet/NuGetGallery/pull/3011, will create the one for the command line reference doc soon.

[2016-05-02 02:05] migueldeicaza commented on #2518
Which bugs are these System.IO.Compression bugs in Mono?

What I gather from other commits referenced here is that we throw an exception if we find an invalid date in the package, but such a bug has not been filed against Mono.

I could not find any bugs related to this in our bug tracking system.

Alternatively, can someone provide us with reproduction instructions?   I tried downloading NuGet 3.

[2016-05-02 02:18] yishaigalatzer commented on #2518
This bug was about setting the date time to min, 3.4.2 nuget.exe was never released, we only released 3.4.3.

I need to dig up the original bug (this one is a regression in a fix over the mono behavior).

[2016-05-02 04:43] yishaigalatzer commented on #2696
@jasonmalinowski @ericstj @emgarten can you guys take a look, I would guess that answer goes between what we put in the lock file or something to do with the build task.

[2016-05-02 04:47] yishaigalatzer commented on #2692
CC @jasonmalinowski

[2016-05-02 04:49] yishaigalatzer commented on #2691
Can you tell us for what scenario are you using it? If you are using it to get CI builds to update we have a much better feature for this case which is to use a \* notation in the file - for example you could reference 2.1.0-\* to get all pre-release builds of 2.1.0 or 2.1.\* to get all versions 2.1 (and so on up to using \* which will be get the latest)

[2016-05-02 04:50] yishaigalatzer commented on #2690
@jainaashish can we make sure this gets fixed in 3.4.4 (and validated completely before pushing)

[2016-05-02 04:53] yishaigalatzer commented on #1192
@SimonCropp we are coming up with ideas that could enable this scenario, stay tuned to when we come up with the lineup design docs.

[2016-05-02 04:56] SimonCropp commented on #1192
@yishaigalatzer awesome and thanks. let me know if u need a beta tester?

[2016-05-02 05:00] yishaigalatzer commented on #1192
We are a couple months out, this is a pretty fundamental feature we want to add, and this feature can be built on top of it. But I will definitely ping you when it becomes a thing.

[2016-05-02 05:25] aelij commented on #2690
@yishaigalatzer When will you be publishing 3.4.4?

[2016-05-02 05:26] yishaigalatzer commented on #2690
We plan to release by the end of the week if all goes well. Are you currently blocked?

[2016-05-02 05:28] aelij commented on #2690
Yes, but it's a side project so it can wait a few days. Thanks :)

[2016-05-02 05:34] yishaigalatzer commented on #2690
As a workaround you can create a new version for your purposes only, and swap in the dll from the vsix.

[2016-05-02 07:12] Tasteful commented on #2521
@alpaix I think this issue not is fully solved. I can now list the packages when using the private authenticated feed, but can download them during package restore in the yellow bar in package manager console that saying that some packages is missing.

VSIX Version 3.4.3.855 (Also tested with version 3.5.0.1236 and the same issue)

[code]

[2016-05-02 07:24] mathikp commented on #2366
@yishaigalatzer Could you please update the status on this issue? Have you checked?

[2016-05-02 07:28] yishaigalatzer commented on #2366
Missed the email to support. Will assign in the morning

[2016-05-02 07:47] Mpdreamz commented on #1192
:tada: :cake: thanks for revisiting this ticket!

[2016-05-02 09:20] bondarchook commented on #2691
If I use this asterisk notation what command I should use then to get latest versions of libraries? Does restore will get latest versions? And how I can control it? I do not want always automatic update I want to run some command when I need it to be updated.

My case is. In CI build I need to get **latest versions** of **specific packages**
And I should decide whether I want to update or not.

An

[2016-05-02 11:03] StexGhost commented on #2696
I had a look at the lock file. The lock file includes the resource dll. So it doesn't seem to be a problem with the lock file. I also looked at the detailed build output from visual studio. It seems to initially find the language resource files but still fails to include them in the final product.

(Please note, that my knowledge of the lock file and msbuild are limited. I know a little bit about

[2016-05-02 11:17] damnlogin commented on #2692
Hello

Just want to add some words to justify the need for the change:

We have a huge project with lots of dependencies between projects. To let MSBuild better parallel operations it performs - we parse 20 solutions we have and generate single large solution replacing binary references with project references where we can passing that sigle solution to MSBUild, but parallel build often is stuck w

[2016-05-02 12:55] ErikSchierboom commented on #2681
@rrelyea I had the same problem as @pranavkm. The fix you suggested worked for me!

[2016-05-02 14:14] devlead opened #2697 "v3.4.3 introduced private feed regression"
When upgrading to v.3.4.3 NuGet console MyGet private feeds get a `returned an unexpected status code '401 Unauthorized'`error on AppVeyor CI
Going back to https://dist.nuget.org/win-x86-commandline/v3.3.0/nuget.exe or https://dist.nuget.org/win-x86-commandline/v2.8.6/nuget.exe resolves all issue with no change in build scripts.

Commands used sensitive info stripped.
1. NuGet.exe sources Add -Nam

[2016-05-02 14:51] Mertsch opened #2698 "All nuget sources are queried when installing a package even if not selected, this forces redundant feed authentication"
In the list of NuGet feeds (3.4.3 with VS2015 Update 2) I have one private feed from VSTS package server. This private feed requires authentication.
The annoying thing is that nuget ALWAYS requires you to sign in to your MSA even if you browse and install specifically from another feed like nuget.org

Please update the client, so that auth is only required when actually connecting to the feed spec

[2016-05-02 15:02] adamralph commented on #2670
Have I raised this in the correct repo?

[2016-05-02 15:14] adamralph opened #2699 "Asked to accept license for a package which doesn't require it"
https://www.nuget.org/packages/StyleCop.MSBuild/ has never required license acceptance but yet, today...

![image](https://cloud.githubusercontent.com/assets/677704/14957997/a29584a4-1088-11e6-992a-d3d82a573a17.png)

[2016-05-02 15:18] wbradney opened #2700 "nuget pack with project.json misses dependencies"
I just converted some internal nuget-deployed projects over to the project.json method, and noticed that the resulting nupkg files don't properly reference dependencies (which worked fine when the projects used packages.config). Am I missing something?

This is with nuget.exe 3.4.3.855

[2016-05-02 16:27] jainaashish commented on #2629
@magmax can you pls take the latest nuget.exe (3.4.3) from here https://dist.nuget.org/index.html and confirm if it gives you enough logs in verbose? We had recently added download urls and other stuff in there so hopefully it should be enough but still if you feel anything missing, then let us know!

[2016-05-02 16:28] brian-white commented on #2694
I realized I put in a bad name for the replacement token, given the behavior it should be something like version3digitPreferred

[2016-05-02 16:28] Tasteful commented on #2521
@alpaix it's not the same issue. I will create another issue for that one.

[2016-05-02 16:30] yishaigalatzer commented on #2521
@Tasteful before proceeding with a new bug please pick up 3.4.4 and let us know.

[2016-05-02 16:31] brian-white commented on #2694
Doh!  We must be behind, I'll check

[2016-05-02 16:34] magmax commented on #2629
Now it is really verbose.

Thank you very much!

[2016-05-02 16:34] #2629 closed, assigned to jainaashish

[2016-05-02 16:37] Tasteful opened #2701 "Nuget source add/update will break current persisted passwords"
Using NuGet Version: 3.4.3.855 (command line client)

If you add an password protected package source

[code]

you will add a new source into the nuget.config file with a persisted password that will work for the feed, nuget.config is updated with the packageSourceCredentials.

[code]

Adding another password protected package source

[code]

Nuget.config now is updated to, as you can see the pass

[2016-05-02 16:39] rrelyea commented on #2701
This is likely a dupe of #2647 - which has a link to a private build with a fix. Please reopen this issue, if your issue appears to be a unique one.

[2016-05-02 16:39] #2701 closed, assigned to nobody

[2016-05-02 16:41] yishaigalatzer commented on #2700
No you are not missing a thing. This is a feature being developed and will show up in 3.5. For now you have to use a nuspec or make the leap of faith and grab a nightly build of of 3.5 (and give us feedback).

[2016-05-02 16:41] #2700 closed, assigned to nobody

[2016-05-02 16:43] yishaigalatzer commented on #2699
Not sure why this changed today, but you do have a license in the package - https://raw.githubusercontent.com/adamralph/stylecop-msbuild/master/license.txt

[2016-05-02 16:45] yishaigalatzer commented on #2699
[code]

[2016-05-02 16:47] yishaigalatzer commented on #2697
I suspect this might be related to https://github.com/NuGet/Home/issues/2647

Can you please pick up the 3.4.4 build, and tell us if this was fixed? Here are instructions:

1.download not yet final version 3.4.4. of nuget.commandline.nupkg from https://www.myget.org/F/nugetbuild/api/v2/package/NuGet.CommandLine/3.4.4-rtm-870
2.rename the .nupkg to .zip
3.Grab nuget.exe from inside the zip file in

[2016-05-02 16:47] maartenba commented on #2699
Hmm... Will look into it.

[2016-05-02 16:49] Tasteful commented on #2701
@rrelyea Can confir that the internal build in linked issue also solves my problem. Thanks!

[2016-05-02 16:50] rrelyea commented on #2697
Yes, looks like a dupe. Please reopen if that doesn't appear to be the case.

[2016-05-02 16:50] #2697 closed, assigned to nobody

[2016-05-02 16:53] rrelyea commented on #2701
great. thanks for confirmation.

[2016-05-02 16:59] rrelyea commented on #1443
Fixed in 3.4

[2016-05-02 16:59] #1443 closed, assigned to nobody

[2016-05-02 16:59] daveaglick opened #2702 "Make MSBuildNuGetProjectSystemUtility public"
There are a lot of valuable utility methods in the `NuGet.ProjectManagement.MSBuildNuGetProjectSystemUtility` class, including several that are more general than just MSBuild projects. For example, `MSBuildNuGetProjectSystemUtility.GetMostCompatibleGroup()` is very helpful to get the correct files from a package archive given a framework.

A related suggestion (though a little more work) would be

[2016-05-02 17:13] yishaigalatzer commented on #2660
We could also consider a filter feature (by project name perhaps?), not sure if it fits within this improvement as it will require more design.

[2016-05-02 17:17] brian-white commented on #2694
We had 3.3.0.212.  Thanks a bunch!  This will be much simpler than the silly windows batch scripting I put in our Jenkins build job

[2016-05-02 17:34] jasonmalinowski commented on #2692
Your scenario/justification seems completely reasonable, no concerns there. I've made a few comments on the PR.

[2016-05-02 17:43] jasonmalinowski commented on #2692
(assigning to me since it's at least on me to merge @damnlogin's PR)

[2016-05-02 18:08] emgarten commented on #2677
NuGet/NuGet.Client@e9ba9f9cd3f34f3d49f24bf9e027b6e1fa7e5e47

[2016-05-02 18:08] #2677 closed, assigned to emgarten

[2016-05-02 18:10] jainaashish commented on #2690
@aelij I just checked this nuget,packaging.core 3.4.3 dll and i can see digital signature tab in properties also checked through sn.exe it shows as valid strong name. Anything i'm missing here? could you help reproduce this issue?
and just to confirm, you would have got the dll from https://www.nuget.org/packages/NuGet.Packaging.Core/  right?

[2016-05-02 18:19] adamralph commented on #2699
Yes, that's always been there, but `requireLicenseAcceptance` has always been `false`.

I first noticed this about 5 days ago when installing other packages which also do not require license acceptance.

[2016-05-02 18:22] wbradney commented on #2700
Thanks, works perfectly with the nightly!

[2016-05-02 18:26] emgarten commented on #2699
@adamralph  I wasn't able to repro this with 3.4.2. Could you give me a few more details on the steps you took to install the package and where it is coming from?

Here are the steps I tried:
1. File > New Project > C# Console App
2. Manage NuGet Package
3. Search: stylecop.msbuild
4. Install 4.7.53

I did this for both the v2 and v3 nuget feeds and did not get the license acceptance dialog.

The

[2016-05-02 18:34] adamralph commented on #2699
@emgarten I can reproduce by following exactly the same steps as you describe.

[2016-05-02 18:48] robertmuehsig commented on #2699
Couldn't reproduce it as well with NuGet Client 3.4.0.798 & v3 API
![image](https://cloud.githubusercontent.com/assets/756703/14964101/1b2ce894-10a7-11e6-99f3-ecae8720781c.png)

[2016-05-02 19:03] wbradney commented on #2700
Actually, I think I spoke too soon. Though the nupkg dependencies look fine, existing projects that reference the "top-level" package don't compile - it looks like the &lt;dependencies&gt; inside the package are still not being picked up at restore time. I made sure my local cache was clean to avoid picking up an old package.

[2016-05-02 19:05] kingerja commented on #2628
Hi I have been unable to produce a repro with this private.  I have run many builds and have not hit it.  Since it was a consistent repro it appears you have fixed this issue.

You may close this issue. Thanks.

[2016-05-02 19:05] wbradney commented on #2700
I have to explicitly add all the dependencies down the graph to the project.json file in order to compile again :-(

[2016-05-02 19:06] yishaigalatzer commented on #2700
@wbradney @toddm can you please work with us offline, I want to figure out exactly what is missing and see if this is code that is in PR or actually a bug. You can use support @ nuget.org with a sample

[2016-05-02 19:07] wbradney commented on #2700
OK I'll see if I can create a sample that reproduces

[2016-05-02 19:07] yishaigalatzer commented on #2699
@adamralph can you share a fiddler feed with us?

[2016-05-02 19:12] yishaigalatzer commented on #2628
That's great news! @zhili1208 please include the commit on the issue before closing

[2016-05-02 19:13] yishaigalatzer commented on #2700
Would be nice to clarify if the package has the right dependencies and compilation fails, or if the package is missing dependencies.

[2016-05-02 19:27] rrelyea commented on #2686
This is a powershell issue with Windows 10 release of November 2015.
You need to install an update that will upgrade Windows 10 to build 10586.63 or later.
https://technet.microsoft.com/en-us/windows/release-info

Please reopen this issue, if that information does not prove to work for you.

[2016-05-02 19:27] #2686 closed, assigned to nobody

[2016-05-02 19:29] rrelyea commented on #2668
Closing. Please reopen if you can reproduce and give detailed repro steps.

[2016-05-02 19:29] #2668 closed, assigned to nobody

[2016-05-02 19:35] wbradney commented on #2700
The package created by nuget pack appears to have the correct dependencies, the project that references the resulting .nupkg fails to compile - missing the namespaces declared by the dependencies.

eg.

MyLibrary depends on log4net
nuget pack MyLibrary creates a nupkg containing a nuspec with:

[code]

MyProgram depends on MyLibrary:

[code]

MyProgram fails to compile:
error CS0246: The type or n

[2016-05-02 19:39] ericstj commented on #2687
We'll clean that up, but why does NuGet care here?  Shouldn't it deploy both or at least let the one that matches the impl pattern win over the placeholder?

[2016-05-02 19:41] wbradney commented on #2700
With packages.config the MyLibrary package was being created with:

[code]

With project.json:

[code]

Is that significant?

[2016-05-02 19:43] toddm commented on #2700
I have a PR out right now that will make it so that the dependency ends up inside the group with the targetFramework instead of in it's own group. There's a good chance that will fix it up for you. I expect to get that pushed to Dev today so I can let you know when to grab the latest build.

[2016-05-02 19:46] wbradney commented on #2700
Yep. I just reverted the redundant project.json entries and manually changed the nuspec in my package cache to:

[code]

And that seems to have done the trick. Thanks!

[2016-05-02 19:47] wbradney commented on #2700
Out of interest, what is the **exclude="Build,Analyzers"** all about?

[2016-05-02 19:49] toddm commented on #2700
It means that it won't try to build or run analyzers on the dependency.  This was the default behavior with a packages.config file, but gets set explicitly now to allow other options when needed.

[2016-05-02 19:50] toddm commented on #2700
Thanks for verifying the fix, even before I have it pushed :)

[2016-05-02 19:53] wbradney commented on #2700
No problem. I think this is all coming together nicely and the project.json style is going to be a big help to us.

[2016-05-02 20:46] rrelyea commented on #2702
We would accept a PR.
Note...our API surface is not very developed...and will change over time.

[2016-05-02 20:48] rrelyea commented on #2698
This is by design because other feeds may be used if there are dependencies.
We do the requests in parallel to satisfy the dependencies.

[2016-05-02 20:49] #2698 closed, assigned to nobody

[2016-05-02 20:49] daveaglick commented on #2702
@rrelyea Okay, cool. And yeah, I'm aware the API isn't really designed for public use right now. That said, as more packages start requiring v3 anyone embedding NuGet into their own application is going to need to look at it whether it's ready or not (as I am having to do).

I certainly don't mind working up a contribution. What approach would be preferred?
- Just making the class public
- Doing a

[2016-05-02 20:51] rrelyea commented on #2695
likely need...an api so that CLI can detect if the lock file is out of date.

[2016-05-02 20:53] rrelyea commented on #2688
(nuget restore may have the same problem.)

[2016-05-02 20:58] rrelyea commented on #2670
You have raised this in the wrong repo. (Nuget/NugetGallery)

However, we have the right people in the room to give you the answer.
We enforce a strict policy on this...in which the title of a package cannot match the ID of another package.
You may either change it locally, or on the server for packages that already exist.
This change was made to address major security concerns of users about bein

[2016-05-02 20:58] #2670 closed, assigned to nobody

[2016-05-02 21:00] rrelyea commented on #2643
@jords1987 - any progress?

[2016-05-02 21:07] jesslilly commented on #2443
Friends!  I have another workaround.  For me, I had to **append my URL with /nuget**.  Then the Search api works.

[2016-05-02 21:16] chamons commented on #2662
I'll spell it out in non-nuget first, since I'm 99% sure on that, then do the translation:

Xamarin.Mac Mobile (/Library/Frameworks/Xamarin.Mac.framework/Versions/Current/lib/mono/Xamarin.Mac/) - Really only is safe pulling it builds just built for it. It is a rather limited subset of the BCL. If you pull in net45 here, then you often get brokenness.

Xamarin.Mac XM 4.5 (Library/Frameworks/Xamarin

[2016-05-02 21:21] mteper commented on #2662
@chamons,

What about XM45 falling back to `xamarinmac` first, before `net45`? For example, Xamarin Insights ships with a `xamarinmac` dll but doesn't (yet?) ship an XM45 one. We would want to fall back to `xamarinmac` over `net45` in this scenario, right?

[2016-05-02 21:22] toddm commented on #2700
I've pushed the fix to Dev.  Go ahead and try the next nightly when it comes out.

[2016-05-02 21:34] robertmuehsig opened #2703 ""Connect to NuGet Source" via Powershell or Protocol?"
This is just a small idea to enhance the "Register a custom NuGet Endpoint inside VS"-scenario.

Somehow my NuGet.config got corrupted and I needed to re-register the NuGet.org Endpoint via my local Visual Studio and to be honest the Settings dialog with the Plus & Update confuses me from time to time.

So I thought: Maybe there is a command line interface for this and [there is one](https://docs.

[2016-05-02 21:57] rrelyea commented on #2703
We'd also need the ability to remove a source, etc...

[2016-05-02 22:05] alpaix commented on #2673
The fix wasn't complete. Debug assert is raised when package installed notification is received:

[2016-05-02 22:11] alpaix commented on #2366
Related to https://github.com/NuGet/Home/issues/2357.
The actual [fix](https://github.com/NuGet/NuGet.Client/pull/434) is in review and it is planned to be released with 3.5.

[2016-05-02 22:14] alpaix commented on #2366
@mathikp As a temporary workaround I'd suggest setting _full_ feed Url (after all redirects).
As I've seen in the Fiddler trace you sent it should be: http://nuget.syncfusion.com/nuget_universalwindows/nuget/getsyncfusionpackages/universalwindows

[2016-05-02 22:41] rrelyea commented on #2661
OctopusDeploy is fixing in next patch release. (Their RegEx no longer worked with our change to use filename\* in contentdisposition)
https://github.com/OctopusDeploy/Issues/issues/2464
Thanks for the report.

[2016-05-02 22:41] #2661 closed, assigned to nobody

[2016-05-02 22:48] jainaashish opened #2704 "Package Manager filter not available in vs output window for restore command"
run nuget restore through visual studio UI and check output window, there won't be package manager filter to show output from. Now run install/update package from nuget package manager ui, then it will show package manager filter in output window.

It should show package manager filter in output window even for restore command as well.

[2016-05-02 22:48] rrelyea commented on #2554
I've not noticed that. If you can come up with a solid repro, please give us the detailed steps.

[2016-05-02 22:52] #2548 closed, assigned to nobody

[2016-05-02 22:53] jainaashish opened #2705 "There is no way to set logs verbosity level for Nuget package manager UI actions"
There is no way to set logs verbosity level for Nuget package manager UI actions like install or update packages. We have hard coded setting to always shows Info/Warning/Error logs only.

We need to provide a way to the users to set verbosity level for package manager logs similar to msbuild output verbosity option. And then based on this setting adjust verbosity level for package manager logs.

[2016-05-02 23:32] rrelyea commented on #2347
Dupe of #2456

[2016-05-02 23:32] #2347 closed, assigned to nobody

[2016-05-03 00:03] rrelyea commented on #995
Looks fixed in 3.4.3...
"nuget.exe install -packagerestoreconsent"
returns "Unknown option: '-packagerestoreconsent"

[2016-05-03 00:03] #995 closed

[2016-05-03 00:14] joelverhagen commented on #2662
Correct. `xamarinmac` is a known TFM in NuGet and frameworks always support themselves (if the version is less than or equal).

Yes, NuGet does not know about the `xamarinmacnet` moniker at all (or `xm` for that matter). It seems like we are arriving at a consensus :+1:

@mteper and @chamons, this is your call as you know the details of these compatibilities at runtime. If `xamarinmac` has an API

[2016-05-03 01:36] Gormy commented on #2657
I send a email to support@nuget.org,

[2016-05-03 03:32] yishaigalatzer opened #2706 "Restore with packagesavemode -nupkg fails for json.net"
Restore the following project.json

[code]

with the following command:
C:\temp\repro>nuget restore project.json -packagesavemode nupkg
Restoring packages for C:\temp\repro\project.json...
  CACHE https://api.nuget.org/v3-flatcontainer/newtonsoft.json/index.json
  CACHE https://api.nuget.org/v3-flatcontainer/newtonsoft.json/8.0.3/newtonsoft.
json.8.0.3.nupkg
Installing Newtonsoft.json 8.0.3.
--->

[2016-05-03 03:34] yishaigalatzer commented on #2706
@rrelyea potential 3.4.4 candidate

[2016-05-03 03:46] harikmenon commented on #2705
We should probably do this in 3.5, otherwise users who are running updates through the UI will never be able to get the full verbose logs. We will have to explicitly ask them to use the the Package Manager Console.

@rrelyea : What do you think?

[2016-05-03 03:52] harikmenon commented on #639
Parented this to the telemetry epic and added the install failure to my spec to track. @rrelyea - assigning it back to you at this time to reassign to an engineer.

[2016-05-03 03:54] yishaigalatzer commented on #639
This issue is not ready to be assigned. We already track download by CDN, but tracking failed installed needs a lot more thought and design, and I don't see us doing it in 3.5-RC.

Moving out to Future

[2016-05-03 03:54] robertmuehsig commented on #2703
Well... Once configured I would say the normal remove would be ok. On the other hand we could implement all commands for managing the sources via PS.
Would a PR be accepted for option 1 or is this something that you don't want to see?

[2016-05-03 04:37] eatdrinksleepcode commented on #1219
Is anyone working on this? It's a little mind-boggling that this hasn't worked for at least 9 months and (apparently) no progress has been made.

[2016-05-03 04:41] harikmenon commented on #2700
@wbradney - I'm the PM for NuGet and I loved your article on project.json on your blog http://lesscode.net/. If you have some time, I would love to get on a quick call with you to talk about your experience with it.

[2016-05-03 06:33] adamralph commented on #2699
@yishaigalatzer sure, here's the smoking gun:

### Request

[code]

### Response

[code]

Note:

[code]

[2016-05-03 06:36] yishaigalatzer commented on #2699
Thanks Adam. Now we turn our gaze to the server again :)

[2016-05-03 06:38] yishaigalatzer commented on #2699
Adam out of curiosity would you mind changing your feed to the v3 endpoint?

[2016-05-03 06:39] adamralph commented on #2670
@rrelyea thanks for the response. I still have concerns to voice on this, but I'll continue the thread at https://github.com/NuGet/NuGetGallery/issues/3012

[2016-05-03 06:44] aelij commented on #2690
Yup. I'm attaching the .nupkg file I downloaded directly from nuget.org.
[nuget.packaging.core.3.4.3.nupkg.zip](https://github.com/NuGet/Home/files/246377/nuget.packaging.core.3.4.3.nupkg.zip)

[2016-05-03 06:51] adamralph commented on #2699
@yishaigalatzer sure - is this the correct URL?

https://www.nuget.org/api/v3/

[2016-05-03 06:55] adamralph commented on #2699
np - I found it on the gallery home page - https://api.nuget.org/v3/index.json

[2016-05-03 06:56] cameronfletcher commented on #2699
I'm getting the same issue for my packages since I republished them last week. What's odd is that when I attempt to upgrade all 4 packages (published from the same build) I only get asked to accept the license for a subset of them - and the ones I get asked about change every time.

![image](https://cloud.githubusercontent.com/assets/1025171/14976540/e231e830-110c-11e6-87fc-a0065aa957ce.png)

(tha

[2016-05-03 06:59] yishaigalatzer commented on #2699
I have some guesses, will follow up tomorrow.

[2016-05-03 06:59] cameronfletcher commented on #2699
Got asked about license for all 4 on the v3 endpoint.

[2016-05-03 07:05] adamralph commented on #2699
@yishaigalatzer using the V3 feed:

### Request

[code]

### Response

[code]

Note:

[code]

[2016-05-03 07:17] maartenba commented on #2699
Thanks guys, looking into it

[2016-05-03 08:04] devlead commented on #2697
@yishaigalatzer @rrelyea Thanks for getting back to me.
3.4.4 indeed solves the issue and setting StorePasswordInClearText also seems to solve the issue when using 3.4.3, which confirms the #2647 issue. :shipit:

[2016-05-03 08:16] Mertsch commented on #2698
@rrelyea OK, understandable, but

if you fail to auth with the feed (e.g. by clicking cancel) NuGet will fail to restore any more packages as the unauthenticated feed blocks all further connections to other sources :-1:

[2016-05-03 08:45] maartenba commented on #2699
V3 registration blobs say `"requireLicenseAcceptance": false,`, V2 search returns true.
Seems the issue may be in the search service - https://github.com/NuGet/NuGet.Services.Metadata/blob/dev/src/NuGet.Indexing/ResponseFormatter.cs#L346 - where we default to "true" if the property is not in the index.
The property does not seem to be in the index because we have a wrong property name in https://g

[2016-05-03 09:30] maartenba commented on #2699
A fix has been deployed, can you confirm if this solves the issue on your end?

[2016-05-03 09:54] adamralph commented on #2699
@maartenba confirmed. The issue is now solved.

Thanks to you and @yishaigalatzer for you prompt response to this!

BTW - does it make sense that this first starting happening about a week ago?

[2016-05-03 09:56] maartenba commented on #2699
It absolutely does. We deployed a fresh search service last wednesday.

[2016-05-03 09:56] #2699 closed, assigned to nobody

[2016-05-03 11:21] #2654 closed, assigned to TimBarham

[2016-05-03 14:16] wbradney commented on #2700
@harikm86 : I'd be happy to talk, probably towards the end of this week I'll have time. I'll email you to co-ordinate.

[2016-05-03 14:35] chamons commented on #2662
Hmm. That is a hard one @mteper Mobile is almost, but not a complete subset of XM 4.5. That is not a scenario that we've considered / tested / know even works.

However, it would be rather useful, as the insights use was shows.

Let me think and get back to this thread later today...

[2016-05-03 14:41] mteper commented on #2662
@chamons wrote,

FWIW, we have it working in production for `ReactiveUI`, `Splat`, and `Xamarin.Insights` (all of which target `xamarinmac`). Perhaps it would be helpful to enumerate those things in XM Mobile that lie outside XM45?

[2016-05-03 14:41] harikmenon commented on #2700
Much appreciated. My email is harikm@microsoft.com. Also, you can use the following calendly link to block a slot on our calendar that works for youb https://calendly.com/harikm/nuget-feedback

[2016-05-03 14:48] chamons commented on #2662
So in terms of just number of assemblies, I believe XM 4.5 is an actual superset of Mobile:

https://github.com/xamarin/xamarin-macios/blob/master/builds/Makefile#L102

However, we build the mono class library _very_ differently:

https://github.com/mono/mono/blob/master/mcs/build/profiles/xammac.make
https://github.com/mono/mono/blob/master/mcs/build/profiles/xammac_net_4_5.make

where Mobile is

[2016-05-03 15:18] harikmenon commented on #2504
https://github.com/NuGet/NuGetDocs/pull/459/ for source docs

[2016-05-03 15:23] joelverhagen commented on #2034
Addressed action items with https://github.com/NuGet/NuGet.Client/pull/498.

[2016-05-03 15:23] #2034 closed, assigned to joelverhagen

[2016-05-03 15:31] bastianeicher commented on #2651
Edit: False alarm, sorry. Problem does indeed not occur on 3.3.0.

[2016-05-03 16:08] joelverhagen commented on #2662
To give you an idea of the sort of changes I plan on making for this new TFM, take a look at my feature branch here:
https://github.com/NuGet/NuGet.Client/compare/jver-xamarintfm?expand=1

I will not put this as a PR until I've heard back from you @chamons about `xamarinmacnet45` supporting `xamarinmac`. Oh, and one detail is that I made the compatibility such that any version of `xamarinmacnet` w

[2016-05-03 16:22] rrelyea opened #2707 "Tools/Options - "Machine-wide package sources" is truncated in ENU"
Localization caught a problem with our English string in Tools/Options.
Appears that the label is not showing all the content, despite being placed into a tablelayoutpanel and having columnspan set to 4.
Perhaps having the hard coded size is the problem?

Related internal bug: https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/193372

[2016-05-03 16:26] jainaashish commented on #2690
That's surprising, did you download this dll before 4/25? And can you take the latest nupkg file from nuget.org and try

[2016-05-03 16:44] rrelyea commented on #2706
On my machine, appears to be a regression from 3.3 nuget.exe

[2016-05-03 16:48] rrelyea commented on #2366
We have a fix that was already rejected from 3.4.x as it was too risky, I believe.

This is not a regression from 3.3
This is a serious problem.

As such, moving to 3.5rc – where we can get more bake time and customer feedback before final release.

[2016-05-03 17:02] harikmenon commented on #2704
Weird discrepancy, we should fix it :). Thanks for filing @jainaashish

[2016-05-03 17:14] jmdjr commented on #738
Bump. anyone know the progress of a fix for this? It is causing problems at my own work.

[2016-05-03 17:46] jainaashish commented on #2551
https://github.com/NuGet/NuGet.Client/commit/b9d825ccafb16517c240e9a796b1e19a186067fa

[2016-05-03 17:46] #2551 closed, assigned to jainaashish

[2016-05-03 17:52] spadapet commented on #2706
In 3.3, PackageSaveMode didn't work. The bug that fixed it was: https://github.com/NuGet/Home/issues/77
Now that the bug is fixed, the .nuspec file isn't saved to the cache, since the PackageSaveMode is nupkg.

I need to find which code is actually looking for the .nuspec and see why it's required.

[2016-05-03 17:58] emgarten commented on #2687
@ericstj NuGet doesn't really care, it's just listing all files in the folder. It could be filtered out before writing it to the lock file, it's just a question how far NuGet should go to work around strangeness in packages.

[2016-05-03 18:07] spadapet commented on #2706
The .nuspec is needed to get package dependencies for building the project.lock.json file.
In this case, even though the .nuspec is NOT there, the .nupkg is there and it does contain the .nuspec inside of it.

Two ideas:
1. Stop using "-PackageSaveMode nupkg" with project.json, they aren't compatible
2. I can change the code to look for the .nuspec inside of the .nupkg if the .nuspec isn't on disk

[2016-05-03 18:09] ericstj commented on #2687
Yeah, the bug turned out to be in CLI which was "caring".  I don't think NuGet should do anything special here.  It does need to communicate in the lock file that the package was applicable and explicitly decided not to provide assets.  I think the way NuGet persists the placeholder file entries in the lock is a resasonable way to do that.
I don't think NuGet should bother pointing out that someon

[2016-05-03 18:13] emgarten commented on #2687
NuGet won't block those scenarios, it will just warn as part of the package validation (which can be turned off). It's similar to if a user has a dll outside of the known folders, NuGet will detect it and show a message, but it can be ignored if it was intentional.

[2016-05-03 18:13] ericstj commented on #2687
I see, that seems reasonable.

[2016-05-03 19:04] balneaves opened #2708 "Nuget add hangs on CentOS"
I've been running the latest dotnet core builds via Jenkins on our Centos build server, however the last step of KoreBuild always hangs, which is when it tries to run 'nuget add'.  All other commands (restore, etc) seem to work just fine.

I can reproduce this manually with any .nupkg, below is with one of the standard .net libs:

[code]

It hangs at that point, and unfortunately can't seem to get

[2016-05-03 19:22] chamons commented on #2662
I can't think of a reason why this isn't a great idea, and my colleagues at work (who also don't know nuget super well) can't come up with a counterexample either.

👍

When would this change reach a nuget near me? I'd like to tweet / post on our forums to let Xamarin.Mac users know about the change.

[2016-05-03 19:35] brian-white commented on #2694
I closed this prematurely.  This doesn't work as advertised for me.  I pulled out the extra environment variable we were using and this looked fine in 'sandbox' mode with .$BUILD_NUMBER at the end.  But when building for release with version set to 3.1.0 I still got a 3.1.0.0.nupkg file.

[2016-05-03 19:36] brian-white commented on #2694
Build output from Jenkins:
E:\Jenkins\workspace\concur-core-artifact-build>exit 0
Changing the file(s) **/AssemblyInfo.cs to version : 3.1.0
Updating file : E:\Jenkins\workspace\concur-core-artifact-build\concur.core.test\Properties\AssemblyInfo.cs, Version : 3.1.0
Updating file : E:\Jenkins\workspace\concur-core-artifact-build\concur.core.test\Properties\AssemblyInfo.cs
Updating file : E:\Jenkins

[2016-05-03 20:17] brian-white commented on #2694
This is with nuget.exe version 3.4.3.855

[2016-05-03 20:36] dee-see opened #2709 "Is the NuGet mirror command still supported / Does NuGet.ServerExtensions.dll still exist?"
The instructions on the [`mirror` command documentation](https://docs.nuget.org/consume/command-line-reference#mirror-command) are outdated and point to the old CodePlex repository where the ServerExtensions are still in the 2.8 version.

What should I do to have this functionality with the latest NuGet version?

[2016-05-03 20:55] spadapet commented on #2706
Moving to 3.5 RC as per discussion with @rrelyea and @yishaigalatzer

[2016-05-03 21:54] ericstj opened #2710 "Import fallback behavior is wrong"
Recreating https://github.com/NuGet/Home/issues/2377 because I'm still seeing issues with the latest NuGet.exe.

Consider the project

[code]

Restore of this project is successful.  See https://gist.github.com/ericstj/a6d940bc23217b63c7d7cb5d16c7d9e6/cbe37f16491abfe0571779613b64111e50d961f0

Now add an import:

[code]

Based on the spec for imports it should do **nothing** since the project was a

[2016-05-03 22:03] rohit21agrawal commented on #2673
dev : https://github.com/NuGet/NuGet.Client/commit/a3459beec87da49f6c93113205ee58b463abcd31

release-3.4.4 : https://github.com/NuGet/NuGet.Client/commit/7d0c29d72214e60b22e365b2fa979e596b1c4de1

[2016-05-03 22:03] #2673 closed, assigned to rohit21agrawal

[2016-05-03 22:22] rohit21agrawal commented on #1823
@yishaigalatzer @rrelyea @harikm86

I've got this feature working with V2 feeds(snapshot attached below). For V3 feeds, we need the server to send the galleryUrl and releaseNotes in the json.

![capture](https://cloud.githubusercontent.com/assets/1857490/15000185/b0c8f686-1142-11e6-934f-103afa0b2f37.PNG)

[2016-05-03 22:42] spadapet commented on #1746
I'll open a new issue for "push -Source foo" being relative. I don't want the change for that to be mixed up with the change for this fix.

[2016-05-03 23:39] emgarten commented on #2710
Assets are selected independently, the same issue could happen without imports where `ref` selects one TFM and `lib` selects another. Packages should add the same frameworks across all asset types to avoid situations like this.

That said, we have discussed selecting items from the lib, ref, runtime, and resources folders all at once so that they do not pivot independently and end up in this situa

[2016-05-03 23:56] emgarten commented on #2694
@brian-white is the version correct in the nuspec? The filename shouldn't impact anything, but I think this was fixed in the latest nightly version already. Could you try nuget.exe from here: https://www.myget.org/F/nugetbuild/api/v2/package/NuGet.CommandLine

[2016-05-03 23:57] AArnott opened #2711 "nuget.exe restore doesn't produce .props and .targets files for .nuproj projects (regression in v3.4.3.855)"
Repro steps:

[code]

**Expected** (NuGet 3.3 behavior)

NuGet restore places adds a src\PCLCrypto.NuGet\PCLCrypto.NuGet.nuget.props and .targets file in my source tree.

**Actual** (NuGet 3.4.3 behavior)

No .props and .targets files are added to the src\PCLCrypto.NuGet directory.

[2016-05-04 00:04] tmat commented on #2710
@ericstj Is System.Resources.ResourceManager bad then?

[2016-05-04 00:06] joelverhagen commented on #2662
How do you normally consume NuGet? Do you use the .NET CLI experience? NuGet.exe?

[2016-05-04 00:09] emgarten commented on #2711
Is restore succeeding for you? I get an error saying `Invalid portable frameworks.` when restoring the `src` folder.

[2016-05-04 00:09] mteper commented on #2662
My dev team and I use Xamarin Studio on OS X. Sometime in the near future, hoping to try JetBrains Rider. On our CI server, we rely on TeamCity, which, in turn, calls nuget.exe.

@ghuntley is working on getting ReactiveUI built fully on Windows.

[2016-05-04 00:15] emgarten opened #2712 "NuGet.Commands.RestoreCommand support for nuspec mode (work w/o nupkg on disk)"
NuGet.Commands.RestoreCommand should use `PackageFolderReader` instead of `PackageArchiveReader` when opening packages from the global folder. This is already true for most of the code but a few areas remain such as the CompatibilityChecker where `PackageArchiveReader` is used as a fallback.

When restoring packages with nuspec only mode the nupkg will not be saved, PackageArchiveReader will not b

[2016-05-04 00:15] AArnott commented on #2711
Sorry, I left out a step to check out a branch where I've fixed that issue.

[2016-05-04 00:16] ericstj commented on #2710
@emgarten I think you are missing the diff.

[code]

NETStandard1.3 is the target framework. Portable-\* is the import.  The netstandard1.0 asset should always be preferred here since it is better on the scale of target-framework > imports-target-frameworks.

I'm OK with the import adding a bunch of placeholders for Lib.  We'll still bring in impls via the runtime.json.  I'm not OK with NuGet deci

[2016-05-04 00:16] AArnott commented on #2711
That issue is also new in NuGet 3.4. 3.3 was wiling to tolerate 'net-cf' but with 3.4 I had to fix that. So the update to the repro steps I just made switches to the branch where I've updated my package dependencies to remove the net-cf reference.

[2016-05-04 00:27] joelverhagen commented on #2662
It looks like [Xamarin Studio is using NuGet 2.8.7](http://lastexitcode.com/blog/2015/11/22/NuGetSupportInXamarinStudio5-10/). The [PR referenced](https://github.com/NuGet/NuGet.Client/pull/562) is for NuGet 3.x. So the steps remaining are:
1. @joelverhagen, update NuGet 2.x to have the same notion of `xamarinmacnet` support.
2. @mrward, take this new version of NuGet 2.x in the NuGet add-in for X

[2016-05-04 00:35] ericstj commented on #2710
I noticed that dotnet CLI doesn't exhibit this behavior, nor does the latest build of NuGet 3.5, so perhaps the fix for https://github.com/NuGet/Home/issues/2377 didn't make it into 3.4 somehow?

[2016-05-04 00:40] emgarten commented on #2711
Thanks, I was able to repro this. Nuproj isn't a known extension type in NuGet right now so it gets skipped. This was added in 3.4.0 along with support for restoring .Xproj which does not support msbuild targets.

I think the fix here is to generate targets for all project types except xproj, instead of only generating targets for known msbuild types. And nuproj should be added to that list as wel

[2016-05-04 00:45] yishaigalatzer commented on #2711
Or we can add a project capability

[2016-05-04 00:59] rrelyea commented on #2710
We expect CLI/NetCore users to be using 3.5.0-beta builds and later.
Given that, are we ok to close this issue?

[2016-05-04 02:15] harikmenon commented on #2504
@rrelyea can you do a quick review for the above PR's? I will commit after that

[2016-05-04 03:23] emgarten commented on #2710
@ericstj yes, that does look like #2377. From the diff entries where it just adds in a new section and leaves compile the same it seemed like it was due to the package layout.

#2377 is not in 3.4.x, it went into 3.5.0

[2016-05-04 04:00] mathikp commented on #2366
When can we expect main release with the fix?

[2016-05-04 06:44] brian-white commented on #2694
We are using the $version$ replacement token there, not a hard-coded value.

[2016-05-04 07:18] Semax opened #2713 "Bulk package update to a specific version"
Please consider a situation when a single solution provides a bunch of packages. All these packages have the same version and are used in other solutions in various combinations. More over, each solution may reference a specific version of packages different from the versions used by other solutions. So it would be a great improvement if NuGet UI provided a way to make bulk update of the packages

[2016-05-04 08:46] mrward commented on #2662
@joelverhagen - Xamarin Studio 6.1 on the alpha channel currently uses NuGet 3.3. So there is probably no need to update NuGet 2.x to support xamarinmacnet.

[2016-05-04 08:50] aelij commented on #2690
I downloaded the file 5 days ago, right before opening this issue. Was it replaced, then? I think this could be a problem for other users who won't get the update unless they clean their cache.

Anyway, the current file works.

[2016-05-04 10:32] ChrisMaddock opened #2714 "Unhelpful error message when incorrectly using nuspec version tag of nuget pack"
I was just trying to use:

`nuget pack file.nuspec`

I was stuck for a while because of the error message:

`Value cannot be null or an empty string.
Parameter name: value`

Turns out this is because I was using `<version>$version$</version>` in my nuspec, but not explicitly passing the package version. That makes sense, but I struggled to track this down - would it be possible to improve the erro

[2016-05-04 12:22] cwe1ss opened #2715 ""The dependency Microsoft.Bcl >= 1.1.9 could not be resolved" on "dotnet build""
Hi, as requested by @piotrpMSFT, I'm moving the bug https://github.com/dotnet/cli/issues/2835 to this repo.

`dotnet build` (1.0.0-rc2-002610) for the following project.json fails with error `error NU1001: The dependency Microsoft.Bcl >= 1.1.9 could not be resolved.`

[code]
## Steps to reproduce

[code]
## Expected  behavior

The build should succeed.
## Actual behavior

`dotnet restore` output.

[2016-05-04 12:32] cwe1ss commented on #2715
When I delete the `_._` file from `.nuget\packages\Microsoft.Bcl\1.1.9\lib\net45` and do a `dotnet restore`, the project.lock.json takes the files from net40 and the build succeeds!

I don't know the meaning of these `_._` files so I'm out of further ideas. Some tips for a quick fix would be great!

[code]

[2016-05-04 14:06] harikmenon commented on #2662
Can Xamarin Mac projects be opened on VS 2013? If so, we should port it to 2.12. If not and we except all Xamarin Studio customers to stay current on 3.3 and not roundtrip with older versions of Xamarin Studio then we probably don't need to do this. @yishaigalatzer will have more more context if we need to port as a policy or not

[2016-05-04 14:09] yishaigalatzer commented on #2662
We do need to port down. Otherwise weird behaviors happen when we will pick the wrong assemblies for compilation

[2016-05-04 14:13] alareau opened #2716 "Can't install version 3.4.3.855 of VSIX - "IOException: The process cannot access the file...""
Hi,
When I went to update nuget this morning with version 3.4.3.855 (both directly from VS2015 and by downloading the extension from https://visualstudiogallery.msdn.microsoft.com/5d345edc-2e2d-4a9c-b73b-d53956dc458d)
I get the following error.
![nugeterrorscreen](https://cloud.githubusercontent.com/assets/959561/15016691/5804009c-11e0-11e6-8bff-2251cbd00d3f.PNG)

When I open the log file, I get I

[2016-05-04 14:33] toddm commented on #2687
https://github.com/NuGet/NuGet.Client/commit/bba98883398ee64d8095e781c5cb3e2bbb6b5e98

[2016-05-04 14:33] #2687 closed, assigned to toddm

[2016-05-04 14:46] chamons commented on #2662
Xamarin.Mac projects really can't be opened in Visual Studio (supported/technically). The only supported mechanism for building them involves OS X.

However @ghuntley has some hacks that I don't know much about that change this :)

[2016-05-04 14:52] gmarz opened #2717 "Unable to find compatible `Microsoft.CSharp` version when installing from nuget.org"
We're running into the following error when trying to install the latest version of our Elasticsearch.Net package (v2.3.1) when targeting any 4.x .NET Framework version.  This doesn't seem to be a problem on .NET Core (1.0.0-rc1-update1).

[code]

The project.json file for Elasticsearch.Net is [here](https://github.com/elastic/elasticsearch-net/blob/master/src/Elasticsearch.Net/project.json).  The

[2016-05-04 14:52] cwe1ss commented on #2715
@piotrpMSFT Are you sure this isn't an issue of `dotnet build`/`dotnet cli`? I tried to find out what `_._` means and found thid quote by @emgarten from https://github.com/dotnet/cli/issues/2250#issuecomment-206704507

This sounds like `dotnet build` should be able to deal with this. We haven't had issues with this until recently so maybe a recent change somewhere in dotnet cli broke this?!?

This

[2016-05-04 15:13] harikmenon commented on #2716
Looks like an external issue. Can you try the workarounds listed here in this issue https://github.com/NuGet/Home/issues/1138

[2016-05-04 15:18] ericstj commented on #2710
Bummer. That means folks building PCLs with Update2 will hit this.  /cc @pilchie @rchande

[2016-05-04 15:39] cwe1ss commented on #2715
I tried this with a few older CLI versions:
- 1.0.0-rc2-002439: success
- 1.0.0-rc2-002457: success
- 1.0.0-rc2-002474: failure

So it seems like this is an issue in dotnet/cli. Unfortunately, I don't have any version in between and I also don't know to which commit messages they relate so I'm having a hard time narrowing it further down.

[2016-05-04 15:52] ghost opened #2718 "System.Xml.XmlException: Unrecognized root element in Core Properties part. Line 2, position 2."
One of my projects is failing to pack with the following errors which seems related to:

This has happened after a merge from a different source branch (which still seems to compile and pack properly) However, only a small amount of code has changed with some packages changes in  packages.config.

I was running nuget.exe v.3.3 but after reading #https://github.com/NuGet/Home/issues/1921 and updati

[2016-05-04 15:58] jainaashish commented on #2690
There were very few downloads before file got replaced n you happened to be one of those :)

Thanks for confirming that current file works for you.

[2016-05-04 15:58] #2690 closed, assigned to jainaashish

[2016-05-04 16:09] ghost commented on #2718
as an addendum to this.
When run in Package manage Console (VS2015)
I had thought this might be an issues with XML documentation files embedded - but having removed those and rebuilt the solution, I still get the same error.

[2016-05-04 16:11] ghost commented on #2718
Accidentally closed in error!

[2016-05-04 16:46] rrelyea commented on #2717
V2 or v3 feed from NuGet.org?

[2016-05-04 16:54] gmarz commented on #2717
Ah...this only happens on the v2 feed.

[2016-05-04 17:06] gmarz commented on #2717
So, I'm not really sure if this is an issue now since using the correct feed based on the version of VS works (v2/2013, v3/2015).

It just caught us (and users) by surprise since the v2 feed use to work in VS2015 for earlier versions of the package.

[2016-05-04 17:21] harikmenon commented on #2504
Both are now merged. The Account page change will go live with the next deployment. The docs should be live now

[2016-05-04 17:21] #2504 closed, assigned to nobody

[2016-05-04 17:51] emgarten commented on #2715
@cwe1ss that looks like a good analysis of the issue. I agree, this looks like a build problem.

[2016-05-04 18:17] cwe1ss commented on #2715
ok, should I reopen the issue in dotnet/cli and close this one?

[2016-05-04 18:39] emgarten commented on #2715
@cwe1ss yes

[2016-05-04 18:40] cwe1ss commented on #2715
ok. thanks!

[2016-05-04 18:40] #2715 closed, assigned to nobody

[2016-05-04 19:40] emgarten commented on #2538
I've lowered the framework to netstandard1.3

[2016-05-04 19:40] #2538 closed, assigned to emgarten

[2016-05-04 19:48] #2285 closed, assigned to emgarten

[2016-05-04 19:50] emgarten commented on #2618
NuGet/NuGet.Client@84071d8ee466dbd9db4d670f3671c632db43e6a0

[2016-05-04 19:50] #2618 closed, assigned to emgarten

[2016-05-04 19:52] emgarten commented on #2643
I'm closing this issue. @jords1987 please reopen this if you are able to track down the root cause.

[2016-05-04 19:52] #2643 closed, assigned to emgarten

[2016-05-04 19:52] #2619 closed, assigned to emgarten

[2016-05-04 19:54] emgarten commented on #2464
@joelverhagen would you merge this as part of your 2.12 target framework changes?

[2016-05-04 21:11] joelverhagen commented on #2662
Another question, how was `net45` picked for compatibility?

From https://developer.xamarin.com/guides/mac/advanced_topics/target-framework/:

More specifically, if not all of `net45`APIs are available in `xamarinmacnet`, won't some `net45` packages just blow up?

[2016-05-04 21:25] rrelyea opened #2719 "Typing "nuget <packagename>" in vs quicklaunch search box keeps "nuget " prefix"
1. type in nuget somepackageName in VS quicksearch box (I was using VS 2015 update 2)
2. press enter
3. nuget package manager launches to browse tab and puts "nuget somepackageName" in the search box.

Expected: "somepackageName" is put into the search box.

Note: I had 3.4.0 of the vsix installed when testing.

[2016-05-04 21:27] rrelyea commented on #2618
great. please make sure to port to 3.4.5 branch, in addition to dev.

[2016-05-04 21:28] rrelyea commented on #2285
Moving to 3.4.5 so we can track that.

[2016-05-04 21:30] joelverhagen opened #2720 "Add framework compatibilities missing in NuGet 2.x (which are already in 3.x)"
Most notably compatibilities with:
- `netstandard1.0` - `netstandard1.6`
- `dotnet` - `dotnet5.6`
- `netcoreapp1.0`
- `netstandardapp1.0`
- `xamarinmacnet` (https://github.com/NuGet/Home/issues/2662)

[2016-05-04 21:40] rrelyea commented on #2717
Looks similar to https://github.com/NuGet/NuGetGallery/issues/3015 which has been fixed.
A problem with our v2 feed from NuGet.org
Try v3 feed, see 4.5 and 4.6 w/ no dependencies
Try v2 feed on nuget.org, 4.5 and 4.6 are not mentioned in VSIX UI.

[2016-05-04 21:54] rrelyea commented on #2714
Repros in 3.4.3 nuget.exe. Attaching repro project.
1. build project
2. nuget pack blankconsole.nuspec

[repro2714-badErrorInPackWhenVersionIsParameterized.zip](https://github.com/NuGet/Home/files/249649/repro2714-badErrorInPackWhenVersionIsParameterized.zip)

[2016-05-04 22:09] skofman1 opened #2721 "warning "Dependency specified was X but ended up with Y" should come with a reason"
Example:
warning NU1007: Dependency specified was NuGet.Services.Metadata.Catalog >= 3.0.2137-r-searchcloud but ended up with NuGet.Services.Metadata.Catalog 3.0.2315-r-sc-appinsights.

It's very useful for the user to understand why the replacement occurs, in order to fix the warning.

[2016-05-04 22:21] rrelyea commented on #2709
This is not supported in NuGet 3.x.
For now, we'll fix the docs.
We have an issue tracking supporting this scenario here: #2021

[2016-05-04 22:22] natemcmaster commented on #1538
FWIW, in WTE, NuGet.config changes will trigger a restore on .NET Core projects, but PMC and NuGet GUI still don't update to include latest sources.

[2016-05-04 22:31] rrelyea commented on #2721
Perhaps we list the couple of reasons why this may happen, if perf is impactful.
@skofman1  - can you please update the result when running on update 2

[2016-05-04 22:37] rrelyea commented on #2713
NuGet UI only works across a single solution.
We do have a way to do bulk updates in one solution: solution level package manager/consolidate tab.
We are considering a lineup feature #2572 that may cover some of these scenarios.
Follow that issue.

[2016-05-04 22:39] harikm86 commented on #2572
#2713

[2016-05-04 22:39] harikmenon opened #2722 "2713"

[2016-05-04 22:39] #2722 closed, assigned to nobody

[2016-05-04 22:41] rrelyea commented on #2710
Yes, 3.5.0-beta is the story for those users.

[2016-05-04 22:41] #2710 closed, assigned to nobody

[2016-05-04 22:46] rrelyea commented on #2708
plan is to enable "dotnet nuget add ..." in future and run directly on core clr.
Will get back to the mono issue at a later time.

[2016-05-04 23:16] emgarten commented on #2711
Fixed in 3.4.4

NuGet/NuGet.Client@f4b3fdc2512fe31cfe147de3195ca70cbcd2a78c

[2016-05-04 23:43] AArnott commented on #2711
Thank you, @emgarten!

[2016-05-05 01:15] rrelyea commented on #2395
Needs design. Does it need to support individual warnings, etc...

[2016-05-05 01:17] rrelyea commented on #2396
Can you please catalog the current warnings, and loop us in.

[2016-05-05 02:07] migueldeicaza commented on #2708
From a different terminal, find out the PID for the process running NuGet, and then type:

kill -QUIT PID

This will produce a stack trace that shows where the Mono process is hanging.

[2016-05-05 02:58] harikmenon commented on #2709
Here is the PR that updates the documentation https://github.com/NuGet/NuGetDocs/pull/460/files. @dee-see - We are working on some alternate designs at this time and if you would like to try this out, please email me at harikm@microsoft.com and I can give you some information around this that you can try out. Please note that the design and implementation is not final and subject to change.

[2016-05-05 02:58] harikmenon commented on #2709
@rrelyea can you review the PR above?

[2016-05-05 11:21] Semax commented on #2713
Ok, thanks. Actually, having a way to select the update mode in UI might also cover some of these cases. I mean those modes which are available for console with Package-Update options -Safe and -ToHighestMinor followed by "to highest" as default.

[2016-05-05 11:35] FransBouma commented on #2288
The console app nuget.exe still gives the wrong using text:
NuGet Version: 3.4.3.855

[code]

[2016-05-05 12:06] rgl commented on #2288
This is also failing for me in 3.4.3.855. In what version did/will this fix shipped on?

[2016-05-05 12:17] alexmg commented on #2648
We have a failing AppVeyor PR build over on autofac/Autofac.Wcf#5 caused by this same issue. Do you have an ETA for the 3.4.4 release? Looks like it's close to RTM based on the version number on your MyGet feed. :smiley:

[2016-05-05 13:19] balneaves commented on #2708
[code]

[2016-05-05 15:24] spadapet commented on #2288
Looks like that change is actually getting into 3.4.4 through this issue: https://github.com/NuGet/Home/issues/2653

[2016-05-05 15:38] FransBouma commented on #2288
What's strange is that it worked fine last week and to my knowledge I didn't update nuget.exe after that nor did I update anything within vs.net

[2016-05-05 15:57] #1746 closed, assigned to spadapet

[2016-05-05 16:00] dee-see commented on #2709
Ok thanks for clearing that up.

I'll contact you @harikm86, I'm interested

[2016-05-05 16:17] spadapet opened #2723 "nuget.exe should support a relative source path for push command line: "nuget push -Source""
Related to: https://github.com/NuGet/Home/issues/1746

Sources specified on the command line should support relative paths:

nuget push foo.nupkg -Source packages
nuget push foo.nupkg -Source ..\packages
nuget push foo.nupkg -Source .\packages

[2016-05-05 16:47] Jonathan34 commented on #1812
Or at least provide a way to do this from a prebuild step in visual studio?

[2016-05-05 16:48] jainaashish opened #2724 "update package doesn't get dependencies for non-target packages"
while updating package, we only get dependencies for all the target packages, ignoring dependencies for non-target packages which might be required. For example:

A
|\
B C
|
D

And we’re trying to update D then it will not get package C since it’s not in the direct dependencies list of target package.

[2016-05-05 16:55] yishaigalatzer commented on #1812
@jonathan34 can you elaborate why you want this in a build step?

[2016-05-05 17:01] #2709 closed, assigned to harikmenon

[2016-05-05 17:06] #2683 closed, assigned to jainaashish

[2016-05-05 17:08] natemcmaster opened #2725 "PMC does not use "All" feed sources after adding new source"
### Repro steps
1. New machine (no nuget caches)
2. Open VS
3. Tools > Options > Package Sources
4. Add new source for 'https://www.myget.org/F/aspnetrelease/api/v3/index.json' (click update)
5. File > New Project... > .NET Core > ASP.NET Web Application (Empty)
6. Open Package Manager Console. (Default project: src/WebApplication1, Package source: all, which shows the new feed we added).
7. `Inst

[2016-05-05 17:38] natemcmaster commented on #2644
@harikm86 can we put something about imports in the error message? This seems like a OOB error lots of people will have.

[2016-05-05 17:41] yishaigalatzer commented on #2644
This will go away when James publishes. We don't want to encourage the import it's a hack

[2016-05-05 17:44] natemcmaster commented on #2644
For Newtonsoft.Json, but what about other packages?

Entity Framework will still need imports because it depends on external packages: Ix-Async and re-linq. Although we have started collaboration with them to support netstandard, it may take a while. cref https://github.com/aspnet/EntityFramework/issues/5176

[2016-05-05 17:50] yishaigalatzer commented on #2644
Exactly the same answer. This will drive other package owners to fix them. We do not want to promote imports as a solution, because it isn't really a solution it is a rough approximation.

[2016-05-05 18:07] toddm commented on #2718
This sounds like it might be the same issue as https://github.com/NuGet/Home/issues/2651 that is fixed in 3.4.4.  Would you verify that our upcoming release fixes the problem?
- Download not yet final version 3.4.4. of nuget.commandline.nupkg from https://www.myget.org/F/nugetbuild/api/v2/package/NuGet.CommandLine/3.4.4-rtm-870
- Rename the .nupkg to .zip
- Grab nuget.exe from inside the zip file

[2016-05-05 18:10] natemcmaster commented on #2644
IMO I don't see the harm in adding a fwlink to docs. The docs could still explain why imports are not the best but necessary. The primary issue I'm picking at is that path from the error to the fix is Google search results, scanning release notes, and finally some project.json wizardry. Not a great OOB, day-one experience. A link in the in error can guide users to a solution.

[2016-05-05 18:17] #2628 closed, assigned to zhili1208

[2016-05-05 18:21] toddm commented on #2694
I confirmed that this doesn't work in 3.4.3 and the upcoming 3.4.4, but it will be fixed in 3.5.  If you get the latest nightly build as Justin said above, it should work for you.

[2016-05-05 18:25] brian-white commented on #2694
Thanks, I'll have to wait until that's released though before adding it to our toolchain.

[2016-05-05 19:07] ashtonian commented on #738
I've been running into this as well and any kind of searching on hint paths leaves to a ton of issues with it.

Nuget 3 recently added support for a project.json but as far as I can tell it's only for Windows 10 UWP, ASP.NET 5+ and a few other types of projects. So thats great for all the new stuff - but the new framework is a bit of a hot mess right now - I wish we could use this for existing pro

[2016-05-05 19:33] wbradney opened #2726 "nuget pack on project.json-enabled project fails to include additional "build" files"
I have a project that has no Nuget depedencies, and a .nuspec file containing additional files targetting the "build" folder (and a .targets file to copy those files to a project's bin folder on build).
Nuget pack happily creates a package with the right build folder. This has worked fine for a while, and  also works on similar projects that use the packages.config approach for their dependencies.

[2016-05-05 19:33] #2694 closed, assigned to toddm

[2016-05-05 20:02] joelverhagen commented on #2711
@AArnott and I both tried this offline and we're seeing a different error now:

<pre>
MSBuild auto-detection: using msbuild version '15.0' from 'C:\Program Files (x86)\MSBuild\15.0\bin'.
Restoring packages for D:\trash\2016-05-05\PCLCrypto\src\PCLCrypto.Tests.Desktop\project.json...
Restoring packages for D:\trash\2016-05-05\PCLCrypto\src\PCLCrypto.WindowsPhone\project.json...
Restoring packages f

[2016-05-05 20:55] joelverhagen commented on #778
I have a PR for this:
https://github.com/NuGet/NuGet2/pull/50

[2016-05-05 21:45] joelverhagen commented on #2711
Looks like your PCLCrypto.NuGet project.json is depending on ReadOnlySourceTree 0.1.24-beta instead of 0.1.36-beta (which [seems to have been fixed](https://github.com/AArnott/ReadOnlySourceTree/commit/cc25ea52c97ecc63f8ab20c056f20fe93758b7c9#diff-f7d5587c1307d05f77a447fb9776d44a) to remove that invalid TFM).

Does bumping that dependency version (along with using the latest nuget.exe) unblock you

[2016-05-05 21:49] joelverhagen commented on #2711
To clarify, I am talking about this line:
https://github.com/AArnott/PCLCrypto/blob/ef3645121224d4f9f85e9594f04ac560b63375a7/src/PCLCrypto.NuGet/project.json#L12

[2016-05-05 23:03] rohit21agrawal commented on #1180
This seems to have been fixed. Verified using VS 2013 Update 5 and NuGet 2.8.60723.765

[2016-05-05 23:03] #1180 closed

[2016-05-05 23:24] alpaix opened #2727 "NuGet.exe config needs to warn on incorrect syntax usage"
Removing config value doesn't work when `nuget config -set name` is used. But there is no warning on incorrect usage.

[2016-05-05 23:26] alpaix opened #2728 "NuGet.exe config should create new nuget.config file"
There is no way to create a new nuget.config file using the nuget.exe. I would expect `nuget.exe config -ConfigFile '<fileName>'` to create a new file.
    1. Instead it fails saying there is no file.
    2. If there is an empty file, it says there is no writable config files.

[2016-05-05 23:32] zhili1208 commented on #1842
checked with dev branch, v2 and v3 use same cache folder now, it still repros if the cache file is corrupted after extraction.
If something wrong during extraction, nuget will reextract again. then it will work well

[2016-05-05 23:36] eroller opened #2729 "nuget pack -version completely overwrites version tag instead of simply replacing $version$ variable"
Somewhere between 3.3.0 and 3.4.3 this behavior changed. Is this expected? I guess for backwards compatibility with the original nuspec file I should use "nuget pack my.nuspec -Prop Version=1.0.0" instead of "nuget pack my.nuspec -Version 1.0.0"

my.nuspec:

[code]

[2016-05-05 23:47] rohit21agrawal commented on #1329
@functionreturnfunction @emanoelxavier @maartenba @lynnewu
Tried this with NuGet 2.9.0-rc and 2.8.60732.765 (https://dist.nuget.org/index.html) and Visual Studio 2013 Update 5 on a Windows 10 machine. No repro so far.

Does this issue still persist for you guys? Does this only happen with specific projects? What OS are you guys using? Would like more details of the environment and the project in w

[2016-05-05 23:59] skofman1 opened #2730 "Version not parsed correctly"
Scenario:
Using project.json with .NET CLI.

project.json:
`{
    "frameworks": {
        "net451": {
        }
    },
    "dependencies": {
        "NuGet.Services.Metadata.Catalog": "3.0.*",
    }
}`
1. Run from command line: `dotnet restore`
2. Got error:

[code]

The package exists on https://www.myget.org/gallery/nugetbuild, and it's version is 3.0.2496-r-master.
When specifying the exact ver

[2016-05-06 00:04] rohit21agrawal commented on #1533
@FransBouma Can't repro this with NuGet 2.8.60723.765 + VS 2013 Update 5 on Windows 10. Can you share the specifics of the project in which this repros? Or attach a small project with which this happens and list the exact steps so we can easily identify the issue?

[2016-05-06 00:33] #2464 closed, assigned to joelverhagen

[2016-05-06 00:40] joelverhagen commented on #778
Fixed with https://github.com/NuGet/NuGet2/pull/50.

[2016-05-06 00:40] #778 closed

[2016-05-06 00:41] joelverhagen commented on #2464
Fixed with https://github.com/NuGet/NuGet2/pull/50.

[2016-05-06 02:37] AArnott commented on #2711
Yes, fixing that allowed use of 3.4.4, which does generate the .props and .targets files.
It's curious that 3.4.4 stumbled on the invalid portable frameworks error when 3.4.3 didn't though. Should I open another issue to improve the error message to specify where it found an invalid framework to make it quicker to find what packages need to be updated? Who else is hitting this besides me?

Thanks

[2016-05-06 02:37] #2711 closed, assigned to joelverhagen

[2016-05-06 06:33] FransBouma commented on #1533
Sorry, I don't use 2013 anymore, with 2015 I haven't seen it (and nuget 3.3+). I must say, if you had replied sooner I might have been able to get you a repro

[2016-05-06 08:56] AArnott opened #2731 "Lists in project.lock.json no longer sorted with OrdinalIgnoreCase"
I noticed that in NuGet.exe 3.3, project.lock.json lists (in the `files` field arrays) were sorted with OrdinalIgnoreCase. Now in NuGet.exe 3.4.4, they are sorted with Ordinal.

This makes it harder to find files in the lists because they aren't where a person would typically find them in alphabetical order (`Z` appears before `a`).

Perhaps low priority, but wanted to raise it in case this was no

[2016-05-06 09:06] AArnott opened #2732 "Build breaks with NullReferenceException after NuGet.exe 3.4.4 restore operation"
After restoring my solution with NuGet.exe 3.3.0 or 3.4.3, the build succeeds.
After restoring my solution with NuGet.exe 3.4.4-rtm-0874, the build fails with the following error:

[code]

Repro solution:

[code]

[2016-05-06 10:55] TimBarham commented on #2110
@yishaigalatzer and/or @davidfowl - could you guys clarify for me exactly what it is you want to see in the output (an example output based on the example `project.json` above would help)? Thanks!

[2016-05-06 12:11] mathikp opened #2733 "Unable to install packages from private feed in Mac"
We have a private NuGet feed (NuGet.Server). We are unable to install packages from that feed using nuget.exe in Mac. Can install package from nuget.org. But cant install package from the private feed. Also, I have tried to install packages from local directory as package source which also fails. How can I install package from any local directory in Mac?

[2016-05-06 12:21] ghost commented on #2718
No luck with the new version same error reported

However: I managed to work out a way to reproduce this error consistently after messing around with my project, finally pinning it down to a single a single library: structureMap.automocking.

As soon as following line is added the error occurs
`<package id="Structuremap.Automocking" version="4.0.0.315" targetFramework="net461" />`

So:
1. I create

[2016-05-06 13:22] harikmenon commented on #2110
@glennc had a pretty sweet looking prototype around showing errors and issues with resolutions in the CLI, is this design or approach something we can leverage?

[2016-05-06 14:27] toddm commented on #2718
Thanks. It's always nice to get an exact way to reproduce the problem. I created a project, added structuremap.automocking, and then pack shows the error. I'll start debugging it to see if I can fix it.

[2016-05-06 15:13] glennc commented on #2110
I have no problem using what I have as a basis for some of this if it helps. Do you have a project.json that I can restore? I can put some screenshots in here showing what it does already and we can go from there

[2016-05-06 15:13] joelverhagen commented on #2711
3.4.3 had the same framework validations that 3.4.4 has. 3.4.3 did not get to the point that 3.4.4 did because it does not recognized the `.nuproj` project type.

[2016-05-06 15:16] ghost commented on #2718
Have actually tried to debug ... but realised it's DNX now which I'm not conversant with. Bit of an intuitive leap!

[2016-05-06 15:43] joelverhagen commented on #2657
@Gormy, any luck debugging those network or proxy issues you were facing? To reiterate, I would try to figure out why this Powershell command is hanging

[code]

[2016-05-06 16:42] joelverhagen opened #2734 "Portable frameworks with hyphenated profiles are rejected."
Prompted by https://github.com/NuGet/Home/issues/2711.

This change was made with #1869. It broke some existing packages (e.g. [ReadOnlySourceTree 0.1.24-beta](https://www.nuget.org/packages/ReadOnlySourceTree/0.1.24-beta)).

If we are okay with this breaking change, we should clearly communicate this to the user by a) improving the error message and b) mentioning this in our docs.

@rrelyea @yish

[2016-05-06 16:43] toddm commented on #2718
It appears to be the .NET packaging that throws the XML exception when reading the properties of the zip file. Still trying to work out the root cause, though. The packages might be bad but I don't know for sure yet.
I did find one workaround that could possibly help if you don't need particular versions. If I use v2.6.4.1 of structuremap.automocking, that package works fine. It depends on structu

[2016-05-06 16:53] pranavkm opened #2735 "Remove length restriction on Semver special \ release version"
NuGet does not allow building packages with a special version in the semver that exceeds 20 characters. There's no reason for the check to exist since semver has no length restrictions.

Code to delete:
- https://github.com/NuGet/NuGet.Client/blob/4cb70d3a26c9df214f0ca40d89a856ca5587bbf4/src/NuGet.Core/NuGet.Packaging/PackageCreation/Authoring/PackageBuilder.cs#L264-L267
- https://github.com/NuGet

[2016-05-06 17:01] jainaashish opened #2736 "Collect dependencies for target packages is slow"
We collect all the dependencies for all the target ids which are to be updated or installed right before deciding the install/uninstall actions in nuget package manager. For a scenario where you have 5 targets each having 20-30 deep dependencies chain takes ~10 mins to complete. where as it should not have taken more than ~30ms.

Real issue is as in other cases, we dont maintain visited nodes whil

[2016-05-06 17:07] casualblair commented on #1760
Pull requests created for code and documentation:
Code : https://github.com/NuGet/NuGet.Client/pull/570
Documentation : https://github.com/NuGet/NuGetDocs/pull/462

The change only supports specifying a version if a single package id has been provided.

This will be able to support the original feature request (update everything to specific version) through powershell piping.  I don't believe an "

[2016-05-06 17:46] joelverhagen commented on #2662
Hey @ghuntley, @chamons, @mrward, before moving forward with this plan I'd like to understand more about the actual compatibilities between `net45` and `xamarinmacnet`. In addition to the questions in my [previous comment](https://github.com/NuGet/Home/issues/2662#issuecomment-217004157):
- If `net45` is really the closest matching API surface area, then `netstandard1.1` should be supported, (not

[2016-05-06 17:57] zhili1208 opened #2737 "Dev15: Got "The extension is not installable on any currently installed products" during installing preview vsix 3.4.2"
This is user report from NuGet.org support request.

Hi, I am using VS 15 Preview and would like to install NuGet. I downloaded "VS '15' Preview VSIX (v3.4.2)" but the installer just says "The extension is not installable on any currently installed products". I installed Visual Studio 15.0.25123.0 Preview using the new slim installer (only the C++ components) on a secondary hard disc. The NuGet in

[2016-05-06 18:02] toddm commented on #2718
The structuremap.automocking package was created by using paket.exe instead of NuGet.exe. The standard .NET zip package code is throwing the XML exception trying to read the package properties. There doesn't seem to be a NuGet bug here. It seems to be that the packages are bad.
I'd suggest you contact the package owner and suggest they pack using NuGet.exe instead.

[2016-05-06 18:04] rohit21agrawal commented on #1533
Closing this issue since cannot get a repro anymore.

Please feel free to reactivate if you hit this issue again.

[2016-05-06 18:04] #1533 closed, assigned to nobody

[2016-05-06 18:30] #2639 closed, assigned to zhili1208

[2016-05-06 18:31] ghost commented on #2718
Thanks for your investigation. I'll raise it with author. I'll also raise it with the creators of paket.exe

##

You are receiving this because you modified the open/close state.
Reply to this email directly or view it on GitHubhttps://github.com/NuGet/Home/issues/2718#issuecomment-217515915

[2016-05-06 18:53] harikmenon opened #2738 "Add Telemetry to NuGet Extension in VS 2015"
Currently, we are blind to any client operations at this time. We are proposing to add telemetry to the Package Manager Extension in Visual Studio 2015 and above. The following are the first 2 data points we should capture as part of this work.
1. What project types use NuGet
2. Number of packages used per Project.

[2016-05-06 19:06] w1th0utnam3 commented on #2737
Hi, I wrote the support request. More information (contains all from above, thanks web form for the great formatting...):
- I downloaded the `VS '15' Preview VSIX (v3.4.2)` package from the official website (https://dist.nuget.org/index.html)
- Error message:

- I can reproduce this on two physical Windows 10 machines.
- On both machines Visual Studio 2015 Enterprise and Visual Studio 15 Preview a

[2016-05-06 21:26] davidebbo commented on #2476
Context: I chatted with @yishaigalatzer about using PackageType for a different type of packages (not related to CLI tools).

My main feedback on the working document is that it is too much about addressing .NET CLI Tools. The proposal may be more general, but the document does not convey that well. It would be nice to rephrase it in a more general way, with CLI tools being used as just an example

[2016-05-06 21:43] joelverhagen commented on #2476
@davidebbo, thanks for the feedback. Totally agreed. I was shooting for a specific, well-understood scenario to inform package type. Package type could potentially be a concept that blows up with _too many_ requirements (considering that NuGet is already used for all sorts of, well, "versioned blob" delivery, i.e. Chocolatey, Octopus deployments, etc).

Could you provide some more details about yo

[2016-05-06 22:16] rrelyea commented on #2737
We'll follow up with the VS team to understand if this is a problem with our VS "15" preview VSIX or if it is a generally VSIX installation issue.
(right now our VS "15" Preview version has a bug - it won't install any nuget components into C++ projects. So even if you did get it installed, you would be able to use it for much yet.
Thanks for the report.

[2016-05-06 23:04] pcgeek86 commented on #2651
I ran into the same problem on AppVeyor's build servers. My automated builds broke after they upgraded NuGet to 3.4. I posted about it on their forums, and they gave me a script to downgrade to NuGet 3.3.

https://ci.appveyor.com/project/pcgeek86/azure-powershell-extensions/build/1.0.66

![image](https://cloud.githubusercontent.com/assets/466713/15088026/d89f1990-13ab-11e6-97d4-8898d34ea49b.png)

[2016-05-06 23:11] zhili1208 opened #2739 "TFS Error "[file]not be found in your workspace, or you do not have permission to access it" during upgrade or uninstall when solution/project is bound to TFS source control"
https://github.com/NuGet/Home/issues/1164
Reopen this bug, will look into this in 3.5.

[2016-05-07 00:08] alpaix opened #2740 "ResolveNuGetPackageAssets msbuild task fails processing analyzers"
Build of NuProj fails when project depends on a package with analyzers.

**Repro steps**
1. Create solution with .NET Core class library project
2. Install StyleCop.Analyzers 1.0.0 package
3. Add NuProj project
4. Add class library as a dependency to the latter
5. nuget restore
6. msbuild

[2016-05-07 00:12] yishaigalatzer commented on #2705
I'm not sure we want this in the settings UI directly. Can we please have a short discussion before adding UI items to NuGet?

[2016-05-07 00:33] alpaix commented on #2732
Closing this issue in favor of https://github.com/NuGet/Home/issues/2740.

[2016-05-07 00:33] #2732 closed, assigned to alpaix

[2016-05-07 00:36] joelverhagen commented on #2476
@davidebbo, @harikm86, I've improve the documentation to walk through a simple custom package type example:
https://github.com/NuGet/Home/wiki/Package-Type#other-package-types

[2016-05-07 00:39] davidebbo commented on #2476
I can give two specific scenarios:
1. Azure Web App site extensions. We currently have our own gallery (http://www.siteextensions.net/), but want to get out of the gallery hosting business. Having our packages on NuGet.org with the right package type (e.g. "AzureSiteExtension") would work.
2. Our new Azure Functions. We're working on an upcoming extensibility model that will be NuGet based. Again

[2016-05-07 00:40] yishaigalatzer commented on #2476
yes

[2016-05-07 00:53] rohit21agrawal commented on #1136
@claq2 Did you notice that at that time that nuget.org was sending a different title value than the artifactory server?

However, it seems like Artifactory has fixed this on their end (verified using  version 4.7.1) and they now send the right value in title.

Closing this issue for now - if you still see this issue, or upgrading to a newer artifactory version is not an option for you, please feel

[2016-05-07 00:53] #1136 closed

[2016-05-07 01:29] harikmenon commented on #2705
sure, lets chat on Monday

[2016-05-07 08:44] shepherd007 commented on #2554
@rrelyea Here are the reproduction steps:
- create Visual C++ project (_New Project -> Templates -> Visual C++ -> Win32 -> Win32 Console Application_)
- go to: _Tools -> NuGet Package Manager -> Package Manager Settings -> Package Sources_
  -  add new pakage source with name TEST and address: https://www.nuget.org/api/v2/ - both feeds should be checkad as active
  - press OK
- go to _Tools -> NuG

[2016-05-07 13:42] shepherd007 opened #2741 "[Question] NuGet and JFrog - restoring packages without password"
Did anyone managed to configure NuGet/Artifactory to use ApiKey only? Currently we are using such configuration but every time active directory password changes, NuGet complains while restoring package with error 403. The only way to workaround that is to update password retrieved from JFrog in the NuGet. And since active directory password is changed frequently it is getting annoying.
The same ha

[2016-05-07 21:48] ventoshe commented on #2667
3.4.4 has also fixed the 'nuget configuration is invalid' issue on my web projects. Thanks!

[2016-05-08 13:19] asherber opened #2742 "nuspec with empty files section still includes files"
Using NuGet client 3.4.3.855.

I'm trying to build a dependency-only package. My nuspec file includes a blank `<files />` element, but `nuget pack` still includes other files in the directory.

[2016-05-08 17:16] ranjan-2209 opened #2743 "checking for update of nuget packages in a solution/exe"
When building a solution, all the nuget packages should check for updates (it can be in specified intervals also, instead of every build, like every one week, the solution would be checking for updates of nuget packages). This can also be implemented in the exe. Whenever the exe is run, it will check for updates of nuget packages that were used in building this exe.

[2016-05-08 22:07] DavidKDeutsch opened #2744 "NotImplementedException thrown from NuGet.VisualStudio.VsPackageInstallerServices.GetInstalledPackages"
I am creating a VS extension to automatically update certain NuGet packages, and am getting a NotImplementedException when running the following:

[code]

The full stack trace is:

[code]

As this is my first attempt at writing an extension, I suspect I am doing something wrong; any guidance would be much appreciated.

[2016-05-09 00:24] harikmenon opened #2745 "Label the unlabeled UIElements in Package Manager UI for accessibility"
[From Saqib Shaikh]
There are two classes of low-hanging fruit: unlabelled buttons and inconsistent keyboard focus.

The unlabelled buttons should be straight forward to fix – we just need to set the AutomationElement.Name property, or override ToString() on the backing class.

In terms of keyboard focus, we need to make sure that you can tab and shift+tab to everything that is actionable. However

[2016-05-09 01:41] harikmenon commented on #2738
The current proposal is to build a shim library that does a Assembly Load and uses reflection VS Tel API's to do telemetry. Hopefully in the future, we will be able access the telemetry API's as a nuget package.

[2016-05-09 04:43] #1887 closed, assigned to TimBarham

[2016-05-09 04:45] TimBarham commented on #2110
I was just working with @davidfowl's `project.json` above (which forces downgrade of `System.Runtime`)

[2016-05-09 12:15] bondarchook opened #2746 "Nuget update command ignore "DependencyVersion" setting set in nuget.config"
In **nuget.config** i set  DependencyVersion to Lowest like this

[code]

when I do call nuget.exe update command this setting ignored completely and it update all packages to  highest version.

if I have next project structure

[code]

I expect after update with DependencyVersion to **Lowest** to see something like this

[code]

So package A is resolved to version **2** because Package B depend o

[2016-05-09 12:22] tmulkern opened #2747 "Nuget Update Solution will update projects inside the folder hierarchy, but not listed in solution"
I have a Folder structure like below

[code]

When I call update on Solution.sln, it try's to update the packages in Project3 even though Project3 is not in the solution. Here is the log

[code]

[2016-05-09 12:23] tmulkern commented on #2747
Here is the Nuget Version by the way
`NuGet Version: 3.3.0.212`

[2016-05-09 15:57] forki commented on #2718
@toddm can you please explain what exactly is wrong? The package looks right in Nuget package explorer and also installs fine.

[2016-05-09 16:04] forki commented on #2718
This is the coreProp.psmdcp file:

[code]

looking into other packages I see "coreProperties" instead of "Relationships" nodes.

That looks indeed strange. I assume it's built with older paket.exe

[2016-05-09 16:05] toddm commented on #2718
I'm not sure what is causing the error, but here is a way to test it.  I created a blank console app and tried this:
using System.IO.Packaging;

[code]

It throws the exception when reading the PackageProperties.  Some of the earlier versions of the nupkg don't throw.

[2016-05-09 16:22] joelverhagen commented on #2482
Fixed with https://github.com/NuGet/NuGet.Client/commit/eaf372a46362a2d2d295e3bde5abec598acaac3e.

[2016-05-09 16:22] #2482 closed, assigned to joelverhagen

[2016-05-09 18:33] abatishchev opened #2748 "Updating packages applies assembly binding redirects to all projects, including class libraries"
Updating packages having binding redirects, such as Json.Net or Azure SDK, is causing adding app.config to all projects, including class libraries (DLLs) what doesn't make sense to me. I delete them after each update what is unnecessary chore.

I'd like this command to be smart enough to distinguish project types/kinds, such as Console apps, Web apps or Test projects, and update/add config only th

[2016-05-09 18:38] zhili1208 commented on #2739
repro step:
1. create a console app, bound it to TFS.
2. set disableSourceControlIntegration to true in nuget.config
3. install newtonsoft.json 8.0.1 and upgrade to 8.0.3

Got TFS error: "[file]not be found in your workspace, or you do not have permission to access it"

the bug is during uninstalling packages, nuget will delete package files from TFS, but if user set disableSourceControllntegratio

[2016-05-09 18:42] #1953 closed, assigned to zhili1208

[2016-05-09 18:58] oviradoi opened #2749 "NuGet pack produces invalid nupkg file when using leading slash in file target attribute"
I noticed that the `nuget pack` command is producing an invalid nupkg file when you are adding a leading slash or backslash to the target attribute of a file element.

This can be reproduced by using this minimal nuspec file:
(you also need a "test.txt" file that can be packed)

[code]

The problem I see is in the contents of the "target" attribute. If it contains a leading slash or backslash, whe

[2016-05-09 19:41] rohit21agrawal commented on #524
@urbas Are you still facing this issue? Page listing seems to have been updated with the correct casing and package id seems to be consistent for local and package repository for NuGet.Core

If you are still facing the issue, please let me know the version of VS and NuGet that you are using.

[2016-05-09 20:43] rrelyea commented on #2747
Is project3 a dependency of project1 or project2? (perhaps via a project to project reference).
And can you please try 3.4.3?

[2016-05-09 20:44] rohit21agrawal commented on #2603
@yishaigalatzer This is not repro'ing for Nuget 2.8.60610.756 with a Simple WPF project on Windows 7 Visual Studio 2013 Update 5

Can you provide more details on the kind of project? Or attach the project with which it repro's on your end, if possible?

[2016-05-09 20:47] rrelyea commented on #2746
When you run nuget update, you can choose to update 1 package via "-id" .. and you would get what you want.
If you don't specify this, we update all packages by default, and the behavior is correct for that.

[2016-05-09 20:50] rrelyea commented on #2745
We'll target fixing the accessibility names for 3.4.5. The tabbing issue may not fix in this release.

[2016-05-09 20:52] rrelyea commented on #2744
Are you using the latest VSIX (3.4.3?)
What version of VS are you using?
Please send a small repro project to us and indicate repro steps.

Update: I had asked for you to send via email...but attaching a zip to this issue is probably a fine way to do it.

[2016-05-09 20:55] rrelyea commented on #2743
We'd like to leave this in the customer hands. As we think auto-updating packages as part of the build would be problematic.
Users could a pre-build script to check for updates if this was important to them.

[2016-05-09 20:58] rrelyea commented on #2742
@toddm  can you please work to get details and check for regression, etc...

[2016-05-09 21:00] rrelyea commented on #2741
Sorry, nuget.exe only supports basic auth. So therefore apikey only isn't possible.
We do have extensibility such that if JFrog wanted to support AD auth, they could implement it, like VSTS team has done.

[2016-05-09 21:01] #2741 closed, assigned to nobody

[2016-05-09 21:19] toddm commented on #2742
I'm able to see the issue. The code just checks if there any files in the list when deciding whether or not to include all files instead of whether not there was an element there. It is a regression from 3.3.0. I'll prioritize fixing it.

[2016-05-09 21:28] rickwebiii opened #2750 "Security issue: nuget sources add takes password in clear text on command line"
Command lines are logged as part of Windows Command Line Auditing. https://technet.microsoft.com/en-us/library/dn535776.aspx. This is problematic with any command that takes a password on the command line, such as nuget sources add.

On a machine with this feature enabled (which by default is any machine as of Win 10), any password you type will be logged in clear text in the Event Viewer. To see

[2016-05-09 21:46] bondarchook commented on #2746
What if I put more then one package id in to "-Id"?
What if I put -Id "Package A; Package B" from example above?

Do I really have to update things one package at a time?
And how is it correct behavior if it is create inconsistency in references?

I specifically choosing **Lowest** strategy to find lowest common denominator for all packages.

[2016-05-09 21:59] rrelyea commented on #2742
Consider fix for 3.4.4 if slam dunk fix.

[2016-05-09 21:59] rrelyea commented on #2749
Consider fix for 3.4.4 if slam dunk fix.

[2016-05-09 23:24] ThinkAboutGitHub opened #2751 "IVsPackageInstallerEvents could do with some more events"
Sometimes I need to install NuGet packages programmatically in my VS extension.  I am using the API to do this, and it is working, however it would be nice to provide a little more feedback to the user during the process.

I would like for example the following events:
DependencyResolved
DependencyResolving
PackageScriptExecuting
PackageScriptExecuted

Currently these operations all happen in the

[2016-05-10 00:38] TimBarham commented on #2396
Downgrade warnings are all gone. Will look at some of the build warnings just to clean things up.

[2016-05-10 02:19] ranjan-2209 commented on #2743
OK. Another solution to the problem.

[2016-05-10 02:19] #2743 closed, assigned to nobody

[2016-05-10 06:56] urbas commented on #524
Great, I'm not facing the issue anymore. Thanks a bunch!

[2016-05-10 06:59] #524 closed

[2016-05-10 09:46] tmulkern commented on #2747
@rrelyea No project3 is not a dependency of project1 or project2. Updated to 3.4.4 and issue is still there. Here is the log

[code]

You can try it for yourself, I have attached to code. The code doesn't two anything, it is just an example.
[MyCode.zip](https://github.com/NuGet/Home/files/256865/MyCode.zip)

[2016-05-10 10:05] mathikp opened #2752 "Aliignment issues in Web.Config.Transform"
Hi Team,

We have faced the alignment issue in web.config.transform file while installing our custom nuget package. I have created the sample NuGet packages for show this alignment issue.

I have added the below web.config.transform entries in my NuGet packages.

[code]

</configuration>

Steps to reproduce.
1. Create ASP.NET MVC Application.
2. Download the Sample NuGet packages from [here ](http

[2016-05-10 13:22] jnm2 opened #2753 "Changelog summary and links for package manager updates"
The number one thing I want to do every time I upgrade a package in the VS package manager is read the changelog for every version between the version I have and the newest version. It would be fantastic to have an expandable section visible near the version dropdown or near the description when an upgrade is available, listing changes from each version.

Ideally once #1203 is resolved more packag

[2016-05-10 16:48] #2724 closed, assigned to jainaashish

[2016-05-10 17:18] skofman1 opened #2754 "nuget.exe pack fails when packaging csproj with rc2 dependencies in packages.config"
Repro happens in 3.3, 3.4, 3.5

Command ran:
NuGet.exe pack "C:\Nuget\NuGet.Jobs\src\NuGet.Services.Logging\NuGet.Services.Logging.csproj"

Result:
Attempting to build package from 'NuGet.Services.Logging.csproj'.
MSBuild auto-detection: using msbuild version '14.0' from 'C:\Program Files (x86)\MSBuild\14.0\bin'.
Packing files from 'C:\Nuget\NuGet.Jobs\src\NuGet.Services.Logging\bin\Debug'.
Using

[2016-05-10 17:48] rohit21agrawal commented on #1449
@rrelyea @yishaigalatzer
Investigated this and found out that if a .tfignore file is present in the TFS project, disableSourceControlIntegration is not honored, and everything under the packages folder is added to the TFS Source Control.
If the tfignore file is not present, then the repositories.config file is added (if it is created) to source control.

@ObsidianPhoenix - Could you verify this fi

[2016-05-10 17:48] rrelyea commented on #2754
Putting into 3.4.4 -- but could be 3.4.4 3.5.0-beta or later...

[2016-05-10 17:59] spadapet commented on #2706
The right fix seems to be throwing an error with:
    nuget restore project.json -packagesavemode nupkg
Because a restore of project.json can't work with only the nupkg, it needs the nuspec. The command should fail before doing any work.

@emgarten

[2016-05-10 18:14] nietras opened #2755 "`Retrieving package metadata` error when trying to update from SymbolSource.Server.Basic feed"
Something has changed in the NuGet client lately, not sure from which version, but in 3.4.3 this error consistent occurs when using an internal feed that is hosted via `SymbolSource.Server.Basic`. Why does this not work?

It is incredibly frustrating that nuget packaging no longer works at all since the nuget update.

[2016-05-10 18:58] rrelyea commented on #2517
Verified fixed with 3.5.0-beta (build 3.5.0.1249)

[2016-05-10 18:58] rohit21agrawal opened #2756 "Package Manager UI ScrollBar scrolls to the top if the down arrow key is kept pressed to scroll down the list of packages"
Page Down works fine, but if you keep the Down arrow key pressed, the scroll bar often jumps to the top while scrolling.

[2016-05-10 19:40] adamralph commented on #2698
This is indeed very annoying.

The reason given for "by design" doesn't really hold up. If I install a package from a given source, it's reasonable to query that source first for the dependencies, before trying other sources (in parallel if so desired).

[2016-05-10 19:54] adamralph commented on #2698
After more thought, I think that parallel querying of the remaining sources after the initial source is attempted is also not a good idea. I order my NuGet sources in the order I would like them to be queried, and I believe this should also be respected.

[2016-05-10 19:57] kingerja commented on #2560
If you need anything for me please feel free to reach out to me.

There are really two issues the first issue is it fails to find packages on the myget feeds.  This is annoying but given that later versions nuget aren't really backwards compatible this isn't unexpected.

The other issue which I think is the more important one is that the nuget client deadlocks.  So perhaps instead of fixing the ba

[2016-05-10 20:54] rrelyea commented on #2413
Verified fixed with 3.5.0-beta (build 3.5.0.1249)

[2016-05-10 21:24] rudras1 opened #2757 "url encoding using HttpClient (Microsoft HTTP... 2.2.29 (latest stable))"
Problem:

URL encoding is not working when I call a .net dll (that has the encoding logic) from SSIS script task. But works as expected when I call the same dll from a .net console project.

Description:

I have built a .net function that is part of a dll I reference in SSIS script task.

This .net function takes in a string value as parameter and builds a uri. I url encode the parameter value sin

[2016-05-10 21:26] rrelyea opened #2758 "Should the framework assemblies be supported under netstandard? likely an error, right?"
While validating #2349
With @emgarten's guidance, he recommended change B\project.json to use netstandard
**A\project.json**

[code]

**B\project.json**

[code]

After a "dotnet restore". Should the framework assemblies be supported under netstandard?
**A\project.lock.json turns out as:**

[code]

[2016-05-10 21:41] AArnott commented on #2740
#2732 demonstrates that this failure is _new with nuget.exe 3.4.4_. That is, with the MSBuild Task unchanged, nuget.exe restore with v3.3 _can_ build, but using v3.4.4 of nuget.exe for restoring packages _can't_ build.

CC: @rrelyea @yishaigalatzer If I could pick just one bug to be sure to fix before 3.4.4's release, it would be this one (assuming it is in fact a dupe of #2732, which is the one I

[2016-05-10 22:23] raulplanas opened #2759 "System Test Nuget package before commiting to nuget server"
I am new to nuget package development. Curious on best way to locally test a nuget package before publishing. This is for internal development where packages are only hosted internally. I don't want to only test the binaries in nuget package.

Ideally I could have a project that I could redirect to consume my local copy of nuget package. Then after I publish the package, I can easily redirect it t

[2016-05-10 22:40] yishaigalatzer commented on #2740
Talked to Alex and Justin. We think this has to do with adding top level support for nuproj. We will verify this doesn't happen from csproj to csproj, and then we should proceed with a decision

[2016-05-10 22:41] #2742 closed, assigned to toddm

[2016-05-10 22:42] #2749 closed, assigned to toddm

[2016-05-10 22:46] ThinkAboutGitHub opened #2760 "IVsPackageInstaller can't find packages in V3 Feed https://api.nuget.org/v3/index.json"
I just wrote a quick test function that installs a NuGet package programmatically.  This works fine using the V2 feed, but when I use the V3 feed I consistently get 'Package Not Found' errors.

public bool InstallAndReferencePackage(string source, string package, string version, bool ignoreDependencies, EnvDTE.Project project)
{
       bool installedPkg = false;
       source = "https://api.nuget.

[2016-05-11 00:03] rohit21agrawal commented on #1401
@aosgo @revel8n This seems to be fixed in Nuget 2.8.60723.765 and VS 2013 Update 5. If you are still seeing the issue, please attach a repro project if possible.

[2016-05-11 03:28] knightpfhor commented on #2746
I understand that the behaviour is as designed, but it is now inconsistent with the package manager console and with the VS plugin.  These will default to getting the highest versioned dependency, but allow for you to specify something different if you have to.

I suspect that the problem comes from the resolution strategy being hard coded in NuGet.CommandLineUpdateCommand.UpdatePackagesAsync: