[2022-03-31 03:58] v-luzh commented on #11703
@heng-liu @kartheekp-ms, after showing-up the issue and Fernando's investigation, it seems not a NuGet issue. I have created an internal bug 1511563 to track. I'm closing this one now. Thanks.

[2022-03-31 03:58] #11703 closed, assigned to nobody

[2022-03-31 05:42] rolfbjarne commented on #11653
That would be me.

[2022-03-31 10:09] AbishakeD commented on #11542
Hi Team,

We checked our NuGet signature certificates in trusted CA certificate list from our machine. Those certificates are trusted on that machine but still nuget signature verification command warning issue are persists.

Could you please check and update on this?

Thanks,
Abishake

[2022-03-31 12:41] saravanan-2112 commented on #11693
Hi Team,

Do we have any solution for this issue?

[2022-03-31 14:08] jeffkl commented on #11709
@jimmylewis sorry this warning is missing the source count.  Can you run the `nuget.exe sources` command on a machine that emits the warning from the root of your repo to see what sources are configured?

Example:
[code]

[2022-03-31 16:32] benvillalobos opened #11710 "_CleanPackageFiles target fails sporadically when (re)building"
---
**Issue moved from dotnet/msbuild#7465**
- Please respond to @wouterroos.

---

_From @wouterroos on Monday, March 14, 2022 12:28:54 PM_

### Issue Description

When rebuilding our 80+ project solutions we sporadically get the following error on the `_CleanPackageFiles` target:

`MSB3061 Unable to delete file "C:\Projects\MyProject\src\MyProject\obj\MyPlatform\Debug\MyProject.MyPlatform.3.0.0-

[2022-03-31 16:32] BenVillalobos commented on #11710
---
**Issue moved from dotnet/msbuild#7465**
- Please respond to @BenVillalobos.

---

_From @BenVillalobos on Thursday, March 31, 2022 4:32:03 PM_

MSBuild Team Triage: We believe this is an issue with NuGet. Your inner builds of Copper.Discovery.Interface are all trying to delete the nupkg and nuspec files.

The first one deletes the files
The second one gives the error
The third one doesn't see

[2022-03-31 17:07] jimmylewis commented on #11709
@phenning can you post the results of your `nuget.exe sources` here for Jeff to see?  IIRC it only had one entry, right?

[2022-03-31 17:09] phenning commented on #11709
d:\dd\WebTools>assets\nuget.exe sources
Registered Sources:
  1.  WebTools VSTS Feed [Enabled]
      https://devdiv.pkgs.visualstudio.com/_packaging/WebTools/nuget/v3/index.json

[2022-03-31 17:25] jeffkl commented on #11709
@phenning thanks!  That's weird that only one source is listed.  Can you attach a `project.assets.json` file from one of the projects that emit the warning as well?  That will have the sources that are triggering it.

[2022-03-31 17:37] phenning commented on #11709
It looks like there is one being added by dotnet:

      "sources": {
        "C:\\Program Files\\dotnet\\library-packs": {},
        "https://devdiv.pkgs.visualstudio.com/_packaging/WebTools/nuget/v3/index.json": {}
      },

[project.assets.json.txt](https://github.com/NuGet/Home/files/8391859/project.assets.json.txt)

[2022-03-31 17:42] jeffkl commented on #11709
@phenning so helpful thank you.  To figure out where that feed is coming from, can you please attach these configs which are contributing feeds:

* D:\dd\WebTools\NuGet.Config,
* C:\Users\phenning\AppData\Roaming\NuGet\NuGet.Config,
* C:\Program Files (x86)\NuGet\Config\Microsoft.VisualStudio.FallbackLocation.config,
* C:\Program Files (x86)\NuGet\Config\Microsoft.VisualStudio.Offline.config,
* C:

[2022-03-31 18:01] jeffkl commented on #11709
@phenning and I worked offline and figured out the source is coming from here:

https://github.com/dotnet/sdk/blob/main/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.NuGetOfflineCache.targets#L17

I'm going to look into this and report back.  Thanks for reporting this!

[2022-03-31 18:22] #2387 closed, assigned to nkolev92

[2022-03-31 19:08] dsplaisted commented on #9937
## Consumers of Maui essentials packages must set `UseMauiEssentials` property

A project can opt in to "Maui Essentials" by setting the `UseMauiEssentials` property.  If a NuGet package is created from this project, it will have a framework reference to Maui essentials.  Currently, projects that reference the NuGet package will have to also set the `UseMauiEssentials` property in order for the fr

[2022-03-31 20:53] heng-liu commented on #11691
Hi @snebjorn , thanks for your reply!
You're right, the dotnet pack implicitly run dotnet build when `GeneratePackageOnBuild` is false or not set.
When `GeneratePackageOnBuild` is set to true, the dotnet pack won't implicitly run dotnet build,  to avoid running build twice.
So this is kind of by design.
I think it might be good if we clarify this in our documentation. So I created a doc issue at h

[2022-03-31 20:53] #11691 closed, assigned to nobody

[2022-03-31 21:52] #11707 closed, assigned to nkolev92

[2022-03-31 23:55] #11689 closed, assigned to kartheekp-ms

[2022-04-01 03:36] #11614 closed, assigned to kartheekp-ms

[2022-04-01 08:51] adschm commented on #6566
I can "validate" that the current situation is still completely unusable if you want to manually update packages via NuGet UI.

1. If we use the limitations via Version, it either updates packages automagically when a new one arrives (which we don't want) or the constraint gets overwritten after manual update of a package.
2. If we do not constrain, we are bombarded with .NET 6 package builds (whi

[2022-04-01 09:36] Nirmal4G commented on #6566
Yeah, What's the point of NuGet PowerShell and PM UI if you make us use Notepad++ or Code to upgrade packages through find and replace? That's just sad! With CPVM, I at least have one place to perform search and replace. Still, there's a use of find and replace!!

**Bring back `AllowedVersions` on CPVM at least.**

[2022-04-01 11:22] wouterroos commented on #11710
@BenVillalobos Thanks, I'll start monitoring this issue. I hope to hear from your colleagues soon!

[2022-04-01 12:35] snebjorn commented on #11691
I would prefer that `dotnet pack` just worked. But don't know how much work that would take.

And documenting the issue so everyone is aware of it is a good first step :)

[2022-04-01 15:18] tmm360 commented on #10253
This looks to be fixed

[2022-04-01 15:18] #10253 closed, assigned to nobody

[2022-04-01 15:30] hrlourenco opened #11711 "[Bug]: Two packages with different names with the same assembly name - error when install"
### NuGet Product Used

NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console

### Product Version

VS2019, Nuget 5.x

### Worked before?

Don't know, new behavior

### Impact

I'm unable to use this version

### Repro Steps & Context

Hello everyone,

*Scenario:*

_a) Create a project A with netstandard 2.0, create 2 packages:_
- A.1.0.0.nupkg (based on project A,

[2022-04-01 19:08] JonDouglas commented on #11706
Hey Marek,

Hope you're doing well and thanks for filing a feature request! I'll bring this up in a future meeting, but in the meantime, I've edited the description to help collect votes.

[2022-04-02 00:36] joero4 opened #11712 "The package integrity check failed for almost all Microsoft packages I have tried to install"
This all started about 4 hours ago when I tried to update the Microsoft.Data.SqlClient from 3.0.1 to 4.1.0.  I got the "The package integrity check failed" error, and I began looking for solutions.  Microsoft recommends running the following command "dotnet nuget locals http-cache --clear" from here (https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu3008).  I did that, and tri

[2022-04-02 15:11] joero4 commented on #11712
Found the cause of my issue.  It was my corporate proxy that was causing this issue.  I disabled my corporate VPN and things worked fine.  I think I need to set the http_proxy settings somewhere.  I'll have to look into that.

[2022-04-02 15:11] #11712 closed, assigned to nobody

[2022-04-03 20:46] erdembayar commented on #7752
My ref: https://github.com/dotnet/diagnostics/blob/main/src/Tools/dotnet-counters/Exporters/ICounterRenderer.cs

[2022-04-04 08:51] niektuytel commented on #9425
Any update on this?

[2022-04-04 08:52] 0liver commented on #6938
[This example](https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#:~:text=in%20the%20following%20example%2C%20everything%20except%20the%20content%20files%20from%20the%20package%20would%20be%20consumed%20by%20the%20project%20and%20everything%20except%20content%20files%20and%20analyzers%20would%20flow%20to%20the%20parent%20project.) in the current documentati

[2022-04-04 10:33] timmkrause opened #11713 "[Bug]: NuGet package update reformats multi-line "Exec Command" string in project files"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Visual Studio 2022 (17.1.3)

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

- Have some kind of multi-line exec command in the project file, e.g.:

[code]

- Update a NuGet package via the VS package management UI.
- Observe, that the exec command st

[2022-04-04 17:09] joelverhagen opened #11714 "[Bug]: dotnet nuget push --help does not show proper help text"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.300-preview.22154.4

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

`dotnet nuget push --help`

[code]

Strangely, this works:
[code]

### Verbose Logs

_No response_

[2022-04-04 17:59] madelson commented on #11692
@nkolev92 is there documentation somewhere on how the include/exclude tags on a package's dependency element interact with restore? If a package appears multiple times in the restore graph, which sets of tags gets applied on the final compilation? Is in the union of all the (include - exclude) sets across all references to that package in the tree?

[2022-04-04 18:52] #11709 closed, assigned to jeffkl

[2022-04-04 19:03] jeffkl opened #11715 "[DCR]: Print sources in NU1507"
### NuGet Product(s) Affected

NuGet.exe, MSBuild.exe, dotnet.exe

### Current Behavior

As part of https://github.com/NuGet/Home/issues/11505, we emit a warning that only displays the number of sources in use.

### Desired Behavior

We should just print the sources themselves in the warning because the sources can come from lots of places and at the moment its hard to determine what sources are i

[2022-04-04 20:15] dominoFire opened #11716 "17.3 Tenet Pass for World Readiness"
[Copy from 17.0 tests]

- GB18030
- Localization
- Globalization

[2022-04-04 20:17] dominoFire commented on #10759
Lowering estimate to reflect progress from previous sprint. Still some metrics to implement.

[2022-04-04 21:01] dominoFire commented on #11716
Tasks will come from 1CS Assessment.

[2022-04-04 23:01] 0liver opened #11717 "[Bug]: dotnet pack: IncludeAssets and ExcludeAssets on PackageReference differ in generated .nuspec file"
### NuGet Product Used

dotnet.exe

### Product Version

dotnet 6.0.201

### Worked before?

N/A

### Impact

I'm unable to use this version

### Repro Steps & Context

Create a project file [like this](https://github.com/Lombiq/NodeJs-Extensions/blob/a6b3353235bc56613ff792bfc7b743a99fb48617/Lombiq.NodeJs.Extensions/Lombiq.NodeJs.Extensions.csproj); in short:

[code]

After running [`build`](https

[2022-04-04 23:40] 0liver commented on #11717
Is this issue ([#6388](https://github.com/NuGet/Home/issues/6388)) related?

[2022-04-05 04:50] aortiz-msft commented on #7796
Let's keep this issue open as we continue to follow up with the partner.

[2022-04-05 08:16] lbargaoanu commented on #11609
Would you accept a PR to make the existing constructor public? Because _that_ I can do :) I'm not sure about smth more involved, but I could try.

[2022-04-05 10:16] 0liver commented on #11717
Here's a list of inputs in `.csproj` and outputs in `.nuspec` (added spaces after punctuation for readability):

| No. |`<Pack-`|`-ageRefe-`|`-rence>`|`<depen-` |`-dency>` |
|---|---|---|---|---|---|
|| IncludeAssets | ExcludeAssets | PrivateAssets | include | exclude |
|1| build | - | - | - | Runtime, Compile, Build, Native, Analyzers, BuildTransitive |
|2| all | compile | - | - | Compile, Build,

[2022-04-05 12:26] AArnott commented on #6938
@0liver your example has `ExcludeAssets` set to a subset of `PrivateAssets`, so the bug doesn't show up there. The issue appears where `ExcludeAssets` includes elements that `PrivateAssets` doesn't. In such a case, I've found (as of when I filed the bug anyway) that `PrivateAssets` acts as if it is the union of what I set across both attributes.

[2022-04-05 16:50] kartheekp-ms opened #11718 "Remove InteractiveLoginProvider from NuGet Client repo"
Follow-up for https://github.com/NuGet/Home/issues/8577 issue.  We removed `VisualStudioAccountProvider` from the repo in https://github.com/NuGet/NuGet.Client/pull/4482 PR. However, I forgot to remove NuGet's implementation of `InteractiveLoginProvider` which is causing some RPS test failures for VS Team explorer team. `InteractiveLoginProvider` implementation in partner team's repo can be found

[2022-04-05 17:28] nkolev92 commented on #11718
Likely a dup of https://github.com/NuGet/Home/issues/7676.

Can you please dup them out?

Thanks!

[2022-04-05 18:23] kartheekp-ms commented on #11718
Duplicate of #7676

[2022-04-05 18:23] #11718 closed, assigned to nobody

[2022-04-05 18:23] kartheekp-ms commented on #7676
Follow-up for https://github.com/NuGet/Home/issues/8577 issue.  We removed `VisualStudioAccountProvider` from the repo in https://github.com/NuGet/NuGet.Client/pull/4482 PR. However, I forgot to remove NuGet's implementation of `InteractiveLoginProvider` which is causing some RPS test failures for VS Team explorer team. `InteractiveLoginProvider` implementation in partner team's repo can be found

[2022-04-05 18:32] #11696 closed, assigned to nobody

[2022-04-05 19:01] erdembayar commented on #10045
@[NamrataJha](https://github.com/NamrataJha)
Did you test organization scenario?

Also is it possible for me create organization account for testing? Does it cost $$ to do that?

[2022-04-05 19:17] seangwright commented on #6560
I just noticed our internal packages have Report Abuse links that point to nuget.org. That's definitely a poor UX and it would be nice if this link wasn't displayed in VS (or anywhere else) for non NuGet.org packages.

[2022-04-05 20:50] #9829 closed, assigned to martinrrm

[2022-04-05 21:51] AArnott commented on #10311
This repro'd with .NET SDK 5.0.100, but it no longer repros in 6.0.103. I'm not sure what the first version that fixed this was.
Even with `<CentralPackageTransitivePinningEnabled>true</CentralPackageTransitivePinningEnabled>` set, the problem doesn't repro. Yay!

[2022-04-06 10:40] marcin-krystianc commented on #10311
@AArnott I think that this issue was closed prematurely. The change that re-adds the "transitive dependency pinning" functionality (https://github.com/NuGet/NuGet.Client/pull/4025) was merged at the beginning of March and I believe it wasn't released yet. So what you actually observe is just a consequence of missing the "transitive dependency pinning" feature.

[2022-04-06 19:29] nkolev92 commented on #11717
@0liver

Remember that PrivateAssets has a default which excludes build.

What gets written there is a union of PrivateAssets and the effective Include/Exclude assets. https://github.com/NuGet/NuGet.Client/blob/5b0ee2562df6cf2c66cc9905a8a65f2b09ea5473/src/NuGet.Core/NuGet.Commands/CommandRunners/PackCommandRunner.cs#L577

Try adjust PrivateAssets.

[2022-04-06 20:40] 0liver commented on #11717
Thanks, @nkolev92.

From what you're saying I understand that **not** specifying `PrivateAssets` at all, it's like passing the default value. But in that case, example #3 should still `include` all but `contentFiles` and `analyzers,` no?

Thanks to your hint, though, I was able to get the `include` attribute generated in example #4. I have to admit thought that the logic of combining `PrivateAsset

[2022-04-06 20:52] nkolev92 commented on #11717
contentFiles aren't writen in the nuspec.

IncludeAssets and ExcludeAssets are combined to form the effective assets consumed by the package (this is a restore only concern).

To figure out what will be represented in the nuspec, we combine the effective assets with PrivateAssets.

Basically:

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.LibraryModel/LibraryIncludeFlag.cs
[c

[2022-04-06 20:54] nkolev92 commented on #11717
Here's where the contentFiles are being handled: https://github.com/NuGet/NuGet.Client/blob/5b0ee2562df6cf2c66cc9905a8a65f2b09ea5473/src/NuGet.Core/NuGet.Commands/CommandRunners/PackCommandRunner.cs#L608-L628

[2022-04-06 20:54] dominoFire commented on #11710
@wouterroos Could you be able to provide a minimal project repo example?

[2022-04-07 02:29] dominoFire commented on #11714
Reproduced in 6.0.300-preview.22178.8

Commmand: `dotnet nuget push --help`

Output:

[code]

[2022-04-07 06:12] wouterroos commented on #11710
@dominoFire That’s a though one, as the issue doesn’t seem to happen all the time and, if it happens, it happens at a seemingly random project in the solution. What I can say it that it only happens for projects with multiple target frameworks (3 in our case) that have set ‘IsPackable’ and ‘PackOnBuild’ to ‘true’. Calling the ‘Rebuild’ target increases the chance of it happening but still not a re

[2022-04-07 08:25] v-crchang opened #11720 "An unexpected warning “NU1505: Duplicate 'PackageDownload' items found” occurs after build tools restoring"
### NuGet Product Used

Other/NA

### Product Version

BuildTools vsix\6.3.0.10

### Worked before?

Dev\6.2.0.120

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

## Repro steps:
1. Install Visual Studio Build Tools 2022 Preview.
2. Download the BuildTools vsix (6.3.0.10) from https://devdiv.visualstudio.com/_apis/resources/Containers/10237311/VS15?itemPath=VS15%2FMicro

[2022-04-07 14:37] tombogle opened #11721 "[Bug]: TargetFrameworks netstandard2.0 does not set TargetFramework for inner build"
### NuGet Product Used

MSBuild.exe

### Product Version

Microsoft (R) Build Engine version 17.1.0+ae57d105c for .NET Framework

### Worked before?

Yes, but not sure what broke it

### Impact

_No response_

### Repro Steps & Context

 I run msbuild l10n.proj /t:ReportVariables /verbosity:detailed with l10n.proj having these contents:
[code]
And get this [output](https://github.com/NuGet/Home/fi

[2022-04-07 15:12] smaudet commented on #8373
For me it looks like this is in src\NuGet.Clients\NuGet.CommandLine\MsBuildUtility.cs (NuGet.CommandLine.MsBuildUtility), in the ballpark of line 1011 or so, in NuGet.CommandLine.MsBuildUtility.GetMSBuild - there is an unsafe select statement which doesn't bother to catch the **ArgumentException** properly - classic case of GIGO.

[2022-04-07 15:50] AArnott opened #11722 "[Bug]: NU1507 message includes unformatted string"
### NuGet Product Used

dotnet.exe

### Product Version

dotnet 6.0.300-preview.22206.8

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

The following warning is emitted. Notice how `{0}` is a placeholder for a value that is not actually substituted in.

### Verbose Logs

_No response_

[2022-04-07 15:53] AArnott commented on #10311
Quite right, @marcin-krystianc : it _does_ still repro.
Updated repro: [issue10311.zip](https://github.com/NuGet/Home/files/8444650/issue10311.zip)

[2022-04-07 16:17] JonDouglas opened #11723 "NuGet's OSS Issue Triage Policy"
Hi friends,

NuGet is adding an issue triage policy to help you understand how we work within OSS. You can get an idea of how we triage issues and what you can expect when you file an issue on our repositories.

https://github.com/NuGet/Home/pull/11719

We'd love any and all feedback on it! 🎉

[2022-04-07 16:53] AArnott opened #11724 "[Bug]: No way to suppress very noisy "The project ... is using CentralPackageVersionManagement, a NuGet preview feature.""
### NuGet Product Used

dotnet.exe

### Product Version

6.0.200

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Every single project gets a warning about using CPVM as a preview feature in the console log. This adds a lot of noise and it would be nice to be able to suppress it.

  Restored C:\git\VS-Platform\src\Editor\Text\Impl\Invis

[2022-04-07 17:32] nkolev92 commented on #11720
@v-luzh Can you please post the csproj content in https://github.com/dotnet/sdk/issues/24747?
Thanks!

[2022-04-07 17:32] #11720 closed, assigned to nkolev92

[2022-04-07 17:36] dominoFire commented on #11722
This seems to be the line that emits the message:

https://github.com/NuGet/NuGet.Client/blob/5b0ee2562df6cf2c66cc9905a8a65f2b09ea5473/src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreCommand.cs#L477

[2022-04-07 17:50] tombogle commented on #11721
Just got word from the dev who did the "fix" a few days ago that it is _not_ working for him now. So not sure what that means, but it kind of points away from it being something machine-dependent. I suppose it could mean that some file is getting created on a successful build that is causing a subsequent build to fail.

[2022-04-07 17:57] dominoFire commented on #11721
`TargetFrameworks` property is intended to be used with more than one target framework.

If you just want to use one target framework, `TargetFramework` should be set instead of `TargetFrameworks`

Could you try if using `TargetFramework` solves your problem?

[2022-04-07 17:59] ermshiperete commented on #11721
My understanding is that it might be correct that `TargetFramework` is not defined when `ReportVariables` runs.

However, that leads to a different problem in that the `PkgNuGet_CommandLine` doesn't get set: if `TargetFrameworks` is defined the generated nuget.g.props file gets an additional condition:

[code]

If `ReportVariables` target runs `TargetFramework` isn't set and so `PkgNuGet_CommandLi

[2022-04-07 18:09] dominoFire commented on #11711
@hrlourenco can you try with VS 2022 or nuget.exe 6.x ?

[2022-04-07 18:12] ermshiperete opened #11725 "[Bug]: Generated path property not set for custom targets"
### NuGet Product Used

MSBuild.exe

### Product Version

16.11.2.50704

### Worked before?

not sure

### Impact

It's more difficult to complete my work

### Repro Steps & Context

When building the following project with `msbuild /t:ReportVariables l10n.proj` the property `PkgNuGet_CommandLine` isn't set.

[code]

#### Expected result:
because of specifying `GeneratePathProperty="true"` in `Pac

[2022-04-07 18:14] ermshiperete commented on #11721
See also https://github.com/NuGet/Home/issues/11725

[2022-04-07 18:16] jeffkl commented on #11722
Closing as a duplicate of https://github.com/NuGet/Home/issues/11709

The fix is in main for 17.3 and we're working on getting it in 17.2: https://github.com/NuGet/Client.Engineering/issues/1543

[2022-04-07 18:16] #11722 closed, assigned to nobody

[2022-04-07 18:25] ermshiperete commented on #11721
Using `TargetFramework` solves the problem that `PkgNuGet_CommandLine` isn't set, but it doesn't solve the problem that if a project uses `TargetFrameworks` (with multiple frameworks specified) `TargetFramework` still isn't set in `ReportVariables`.

[2022-04-07 18:27] jeffkl commented on #11724
Linking to https://github.com/NuGet/NuGet.Client/pull/3376 and https://github.com/NuGet/Home/issues/9340

[2022-04-07 18:30] nkolev92 commented on #9937
Team Triage: We need to discuss this in more detail with @dsplaisted

[2022-04-07 18:42] #11685 closed, assigned to heng-liu

[2022-04-07 18:52] chrisraygill opened #11726 "[Bug]: Significant delay in UI state change following package operations"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Visual Studio 17.3 Preview 1

### Worked before?

Unsure

### Impact

_No response_

### Repro Steps & Context

1. Open browse tab in solution or project level PMUI
2. Keep output window open so you can see when package operations complete
3. Install any package through the PMUI
4. Notice that the installation comple

[2022-04-07 19:05] nkolev92 commented on #11726
Hey @v-luzh
We are seeing this occasionally, would you be able to try reproing it a few times and with different versions of Visual studio (17.1, 16.11 and latest)

[2022-04-07 19:08] dominoFire commented on #11726
Note: Delay is more visible in PM UI Details Tab

[2022-04-07 19:14] JonDouglas commented on #11645
Hey @HurricanKai,

Apologies to getting to this late. Sadly I didn't get a chance to talk to you online, but let's chat here.

With the new NuGet.org feature, we try to make it clear to users what is compatible in terms of what asset is provided in the package, and what is compatible given said asset provided. You can read more about this here:

https://devblogs.microsoft.com/nuget/introducing-com

[2022-04-07 19:18] chgill-MSFT commented on #11726
Repro'd in 17.1 and 16.11 to a smaller extent (2-3s delay). I haven't ran into the 10s+ delays I can see in VS 17.2.

[2022-04-07 19:20] tombogle commented on #11721
Setting TargetFramework instead of TargetFrameworks results in this output:
ReportVariables:
  TargetFramework=netstandard2.0
  TargetFrameworks=net461
  ExcludeRestorePackageImports=
  PkgNuGet_CommandLine=
So PkgNuGet_CommandLine still isn't set, and TargetFrameworks is set incorrectly (I think that's the default).
If I make a similar change to the original (not stripped-down) [l10n.proj](https:

[2022-04-07 19:22] JonDouglas commented on #11609
I see no concern with it. Seems like a good contribution to enable more scenarios.

[2022-04-07 19:49] chrisraygill opened #11728 "[DCR]: Focus shifts from Output window to Error List after every package operation, even with no error or warnings"
### NuGet Product(s) Affected

Visual Studio Package Management UI

### Current Behavior

When I perform any package operation in the PMUI (install, uninstall, update), the Output window flicks open for a moment and then immediately switches focus to the Error List, even when there are no errors or warnings.

See gif:
![Error List covers output](https://user-images.githubusercontent.com/15097183/1

[2022-04-07 19:49] 0liver commented on #11717
This is very helpful! Thank you, @nkolev92!

[2022-04-07 19:49] nkolev92 commented on #11728
It seems like up until 4.7, we were not always bringing the error list to focus.

https://github.com/NuGet/NuGet.Client/blob/5f03bad3794603516c0a1f395f91d056246a1070/src/NuGet.Clients/NuGet.Tools/OutputConsoleLogger.cs#L83-L98

We seemed to have been checking whether there are any error before focusing on the error list.

Note that I have not attempted a repro, so I could be wrong, but it seems li

[2022-04-07 19:51] nkolev92 commented on #11728
Note for the implementer, please remember to test packages.config, PackageReference SDK and PackageReference csproj projects when working on this.
There are different error list behaviors for all of them.

[2022-04-07 20:12] ermshiperete commented on #11721
@tombogle Do you have a `Directory.Build.props` file that sets defaults? That would explain why there's a value for `TargetFrameworks`. Try and explicitly add the line `<TargetFrameworks/>` to the .proj file.

[2022-04-07 20:13] nkolev92 commented on #11717
I think my explanation above (or a version of it) should probably make it into the docs.

@0liver Do you agree that this should be turned into a docs issue?

[2022-04-07 20:41] tombogle commented on #11721
Yes, it looks like you added that on April 16, 2021. So I guess that's probably what actually broke this.

[2022-04-07 20:50] tombogle commented on #11721
Adding the line <TargetFrameworks/> solves the problem. Maybe we should just remove that from Directory.Build.props (but then I guess maybe we'd have to re-add it to all the individual csproj files).

[2022-04-07 21:04] 0liver commented on #11717
I was thinking the exact same thing 😀 So, yes!

[2022-04-07 22:37] Forgind commented on #8871
Turns out this was a breaking change:
https://developercommunity.visualstudio.com/t/Robocopy-command-exited-with-code--1/1690181#T-ND10008741

If an argument is supposed to be a folder, and you pass it quoted, the `\"` is treated as an escaped quote instead of the end of the path, and you get errors.

I'm sure there are other tools that do something similar.

[2022-04-07 23:53] hrlourenco commented on #11711
We cannot use VS 2022 in this solution, related to a dependency with microsoft.visualstudio that have a breake change.

We made a change in ".psmdcp" file, changing "identifier" name. With that change, we need to install manually package "A" in project "C" and then we can install package "B".

[2022-04-08 06:49] ermshiperete commented on #11721
The motivation behind the change was to have the target frameworks in one central place which makes it easier to change (and see what's used). If individual projects want to build for a subset they can override the value.

[2022-04-08 10:01] msdkool commented on #11574
@zivkan suggestion worked for me. All I did was to follow the link provided and install mono all over again.

[2022-04-08 11:08] ZainebLM opened #11729 "Error NU3008 Package 'SQLitePCLRaw.lib.e_sqlite3 2.0.2' from source 'https://api.nuget.org/v3/index.json': The package integrity check failed. The package has changed since it was signed.[Bug]:"
### NuGet Product Used

NuGet.exe

### Product Version

visual studio 2019

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

while cloning git repository . my packages are not installed properly.i i am getting this error.please provide solution

### Verbose Logs

[code]

[2022-04-08 13:20] workgroupengineering opened #11730 "[Feature]: Allowed export list package to CSV,Json,XML"
### NuGet Product(s) Involved

NuGet.exe, Visual Studio Package Manager Console, dotnet.exe, NuGet SDK

### The Elevator Pitch

Add the ability to export the output of the list package command to a file in CSV, Json, XML format so that you can easily manipulate it.

### Additional Context and Details

I would need it to create a script that checks for new package versions.

[2022-04-08 14:14] tombogle commented on #11721
I'm not 100% sure that there isn't still something here that could be thought of as a "bug" since it is at least very difficult to see what is happening and why, but since we've found a solution, should we consider closing this?

[2022-04-08 14:41] JonDouglas commented on #11730
This is a dupe of https://github.com/NuGet/Home/blob/dev/proposed/2022/DotnetListPackageMachineReadableJsonOutput.md

Closing for now.

[2022-04-08 14:41] #11730 closed, assigned to nobody

[2022-04-08 17:25] grochoge opened #11731 "[Feature]: Add Package Source Mapping MSBuild files"
### NuGet Product(s) Involved

NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console, MSBuild.exe, dotnet.exe

### The Elevator Pitch

We want to prevent package source confusion for security and maintainability.

The [Package Source Mapping](https://devblogs.microsoft.com/nuget/introducing-package-source-mapping/) feature is a good start, but being limit to package

[2022-04-08 17:34] nkolev92 commented on #11725
Those properties are set by restore, so they won't be available in the restore evaluation which is what can happen if restore wasn't run.

Restore can't be affected by what it generates, otherwise you risk an infinite loop (restore -> generate assets that invalidate restore -> generate assets that invalidate restore etc.)

The thing missing in your scenario is that the target you have runs in the

[2022-04-08 17:34] #11725 closed, assigned to nobody

[2022-04-08 18:27] #10760 closed, assigned to jebriede

[2022-04-08 19:48] #7676 closed, assigned to kartheekp-ms

[2022-04-08 22:46] Erarndt opened #11732 "Unnecessary Allocations in SemanticVersion.ParseSections()"
SemanticVersion.ParseSections() allocates a System.Tuple to return the parsed elements to the caller. Switching to using out parameters will save about 7MB of allocated memory when opening OrchardCore.

[2022-04-08 23:05] Erarndt opened #11733 "Large number of allocations while processing package references"
When calling `GetPackageReferenceUtility.GetInstalledVersion()` and `GetPackageReferenceUtility.GetTransitivePackagesForLibrary()` large amounts of memory are allocated to execute LINQ queries; primarily due to capture classes, delegates, and enumerators. In the case of OrchardCore, this totals to ~22MB. By unrolling these LINQ queries, we can eliminate these allocations and get a small reduction

[2022-04-09 00:22] #6872 closed, assigned to nkolev92

[2022-04-09 00:29] nkolev92 commented on #11721
I think my comment in https://github.com/NuGet/Home/issues/11725#issuecomment-1093120677 applies here as well.

The pkg variables are only going to be set in the inner build.

The inner build is a function of calling the target in the right context.
Anytime you call a target from the commandline, you're calling it in the outer build, so you'd need a target to delegate to the inner build one.

[2022-04-09 03:50] dominoFire commented on #11733
@Erarndt Did you create this issue using 'blank issue' feature in GitHub? I'm asking because our bot should have labeled this issue automatically.

@heng-liu Does bot should also tag issues created from blank template?

[2022-04-09 18:30] joelverhagen opened #11734 "[Bug]: PM UI version list only shows a single latest version"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

17.2.0 Preview 3.0 [32407.349.d17.2]

### Worked before?

Yes, works in 17.1.1 and 17.3.0 preview 1.0

### Impact

It's more difficult to complete my work

### Repro Steps & Context

1. Open PM UI for a .net project
1. Switch to Browse tab
1. Ensure NuGet.org is the selected source
1. Search for `azure.resourcemanage

[2022-04-09 18:42] joelverhagen opened #11735 "[Bug]: Install-Package using package consumer-provided casing not package owner-provided casing"
### NuGet Product Used

Visual Studio Package Manager Console

### Product Version

17.1.1

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Create a new .NET 6 project
2. Open PMC
1. Type `install-package system.linq.async`
1. Wait for command to complete
1. Open .csproj

The package ID casing is not the original from NuGet.org. Inst

[2022-04-09 18:44] joelverhagen commented on #11735
Duplicate of https://github.com/NuGet/Home/issues/5951.

[2022-04-09 18:44] #11735 closed, assigned to nobody

[2022-04-09 18:45] joelverhagen commented on #5951
This also applied to the .NET CLI. `dotnet add package nuget.versioning` has the same behaviour.

[2022-04-09 19:46] dominoFire commented on #11693
I just tried attached project and NuGet restores the project successfully.

Analyzing packages with NuGet package Explorer shows this error:

![image](https://user-images.githubusercontent.com/1192347/162589390-c30e7e0c-00b7-49c6-aad3-be3c57a5970d.png)

It seems you are experimenting this issue: https://docs.microsoft.com/en-us/answers/questions/39120/pri-errors-when-compiling-uwp-app.html

Some s

[2022-04-09 19:46] #11693 closed, assigned to nobody

[2022-04-09 20:56] dominoFire commented on #11711
Where do you install package  C ?

I just reproduced steps with instructions above and I can generate all three packages.

Am I missing something?

[issue11711.zip](https://github.com/NuGet/Home/files/8457755/issue11711.zip)

[2022-04-09 21:01] dominoFire commented on #11734
We are tracking this on https://github.com/NuGet/Client.Engineering/issues/1487

There is a PR available with bugfix: https://github.com/NuGet/NuGet.Client/pull/4509

[2022-04-09 21:29] dominoFire commented on #11729
Can you provide a sample project/solution and all build/restore messages that shows the restore failure?

Also, take a look at NU3008 page with possible solutions. https://docs.microsoft.com/nuget/reference/errors-and-warnings/nu3008

[2022-04-09 22:24] dominoFire commented on #11721
[code]

[2022-04-09 22:27] #11721 closed, assigned to nobody

[2022-04-10 07:23] dominoFire commented on #11734
My bad, this is the fix: https://github.com/NuGet/NuGet.Client/pull/4478

[2022-04-11 10:55] hrlourenco commented on #11711
Not exactly, the scenario is:

Using VS 2017:
1 - Create Package A with netstandard:   **A.nupkg**
2 - Copy A.nupkg and inside of this package rename <ID> at nuspec to a A.RENAME
3 - Create **A.RENAME.nupkg**
4 - Create project B.csproj with net 472
5 - Install A.RENAME.nupkg at B.csproj
6 - Create package of B: B.nupkg
7 - Create project C.csproj with net 472
8 - Install B.nupkg

Project C should

[2022-04-11 12:03] mt3sliv commented on #11712
Hey Joe, did you ever figure out the http_proxy setting? I think I may be running into a similar issue, and can't find much else online about NU3008 and vpn conflicts. I was able to restore my packages once I was not on the vpn as well.

[2022-04-11 16:16] Erarndt commented on #11733
@dominoFire I created a blank issue.

[2022-04-11 16:55] nkolev92 commented on #11720
Thanks for posting the repro in the issue @v-crchang

[2022-04-11 17:55] dominoFire commented on #11734
Workaround is to delete content in version textbox/drop down list and PM UI will show you available versions.

[2022-04-11 17:56] martinrrm commented on #11734
@dominoFire I think this bug is different from https://github.com/NuGet/NuGet.Client/pull/4478, I can see this error without Floating Versions feature.

Version 17.2.0 Preview 3.0 [32320.37.main]

![image](https://user-images.githubusercontent.com/43253759/162800309-23940d4d-886a-4f5a-98e3-9f154b1e0145.png)

[2022-04-11 17:58] martinrrm commented on #11734
Wait, no it works, is just that there is only one version that is not prerelease

[2022-04-12 00:22] nkolev92 opened #11737 "The trailing slash in GeneratePathProperty causes ROBOCOPY failures"
See https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1496902.

Orioginal issue is [1522444](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1522444)

[2022-04-12 01:55] dominoFire opened #11738 "[Bug]: Cannot compile NuGet.Client due to duplicated PackageReference"
### NuGet Product Used

Other/NA

### Product Version

VS Version 17.3.0 Preview 1.0 [32410.47.main], NuGet 6.3.0.10

### Worked before?

Yes

### Impact

I'm unable to use this version

### Repro Steps & Context

1. Clone NuGet.Client to dev in commit: e70d3c6167fc1c878acee98050784726152e4a31
1. Open Dev PowerShell for VS 2022 IntPreview
2. Run `cd path\to\repo`
3. Run `git clean -xdf; .\configur

[2022-04-12 09:14] 0liver commented on #6938
A lot of information has been gathered in #11717 as to how the three attributes play together, including links to the concrete places in code that are responsible for the behavior. The current documentation is not correct in all aspects.

For example, I now have this:

[code]
which generates:
[code]
and my own project **does not consume** the build assets of the referenced package, while consumers

[2022-04-12 09:41] Balkoth commented on #7752
Will there be a way to call into this from a c# application when you dont have the project checked out. I am specifically thinking about a git bare repositiory.

[2022-04-12 10:22] KalleOlaviNiemitalo commented on #7752
@Balkoth, because PackageReference items can be added by Directory.Build.props, I think supporting bare Git repositories would need a virtual file system for MSBuild. There is Microsoft.Build.FileSystem.MSBuildFileSystemBase but I don't know whether all I/O goes through that.

[2022-04-12 14:41] AArnott commented on #6938
Thanks, @0liver. You reference `#11717` but that didn't turn into a hyperlink.  Was it perhaps a typo?

[2022-04-12 18:22] dominoFire opened #11739 "[Bug]: TestPacManPreviewUpdateWithAllowedVersionsConstraint started failing due to new package version"
### NuGet Product Used

Other/NA

### Product Version

NuGet 6.3.0.10

### Worked before?

Yes

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Run test TestPacManPreviewUpdateWithAllowedVersionsConstraint located at NuGet.Client\test\NuGet.Core.Tests\NuGet.PackageManagement.Test\NuGetPackageManagerTests.cs

Few hours ago, version 2.0.0 of Microsoft.Web.Infrastructu

[2022-04-12 18:45] fabsulous commented on #982
I can still reproduce the problem with Visual Studio 2022 / NuGet Package Manager 6.1.0, for example with https://nuget.info/packages/OpenCvSharp4.runtime.win/4.0.0.20190108 - I can install, clean, close the solution, delete the package folder, reopen the solution, build with automatic restore and the folder "dll" will not be present in $(OutDir), however when I reload the solution after restoring

[2022-04-12 20:58] nkolev92 commented on #11734
Hey folks, for issues that obvious bugs and that are known as something that needs to be done, or being actively worked on, to fully self triage:

https://github.com/NuGet/Client.Engineering/blob/main/docs/creating-github-issues.md

[2022-04-12 20:59] nkolev92 commented on #11733
@dominoFire The Triage:Untriaged label is set by the issue templates, not a bot.

[2022-04-12 21:04] jeffkl commented on #8871
We are going to revert https://github.com/NuGet/NuGet.Client/pull/4384 since it turned into a breaking change (https://github.com/NuGet/Home/issues/11737)

[2022-04-12 21:04] nkolev92 commented on #11715
Hey folks, for issues that obvious bugs and that are known as something that needs to be done, or being actively worked on, to fully self triage:

https://github.com/NuGet/Client.Engineering/blob/main/docs/creating-github-issues.md

[2022-04-12 22:07] bricelam commented on #8186
Note that there is a RID for Wasm that you can use.

* runtimes/
  * browser-wasm/
    * lib/
      * net6.0/
        * MyLib.dll *<-- This assembly is used on **Wasm***
* lib/
  * net6.0-ios/
    * MyLib.dll *<-- This assembly is used on **iOS***
  * net6.0/
    * MyLib.dll *<-- This assembly is used **everywhere else***

You can also add `net6.0` MSBuild files to include additional assets on Was

[2022-04-13 00:23] nkolev92 commented on #11711
@hrlourenco

NuGet doesn't really use the assembly name for installation and restore. It's not really an input, that's usualyl more of a build time concern.

I created a repro per your instructions and as there's no issues.

[11711.zip](https://github.com/NuGet/Home/files/8477233/11711.zip)

Can you please provide a zip with your repro?
It'd be great if you can post the logs of the error you are r

[2022-04-13 02:49] #11739 closed, assigned to dominoFire

[2022-04-13 04:07] dominoFire commented on #11738
Now, I am seeing duplicate package Downloads

[code]

By enabling detailed debug in msbuild for GenerateLicenseList.csproj:

[code]

[2022-04-13 14:09] dtivel opened #11741 "Test: package signing test classes use separate test fixture instances"
Package signing tests which use a test fixture like [CertificatesFixture](https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Core.Tests/NuGet.Packaging.Test/SigningTests/CertificatesFixture.cs), to create a bunch of test PKI pull in the fixture using `IClassFixture<CertificatesFixture>`, which creates one instance of the fixture per class test.  Certificate creation is slow, so, in the spir

[2022-04-13 18:25] #11737 closed, assigned to nobody

[2022-04-13 18:27] nkolev92 opened #11742 "Move all projects in release-5.11.x to Lang Version 8.0"
This would allow us to use the new using syntax and make it easier to cherry-pick things into older branches.

See: https://github.com/NuGet/NuGet.Client/pull/4023/files

[2022-04-13 18:59] #11741 closed, assigned to nobody

[2022-04-13 19:22] JonDouglas commented on #6764
Hi friends,

With the help of you all and our wonderful team, we have shipped this today.

https://devblogs.microsoft.com/nuget/introducing-central-package-management/

You should be able to get it with the latest .NET 6, VS, and a future NuGet version.

You can find new documentation on the topic here as well:

https://docs.microsoft.com/en-us/nuget/consume-packages/Central-Package-Management

🎉🚢

[2022-04-13 19:22] #6764 closed, assigned to JonDouglas, jeffkl

[2022-04-13 19:43] ransagy commented on #6764
Does that mean the requirements are now set higher than when it was in preview? Because technically none of the listed versions are available in stable form.

VersionOverride aside, it does work with older VS and CLI tools.

[2022-04-13 19:55] japj commented on #6764
It seems nuget 6.2 and visual studio 2022 17.2 are not released yet?

Is this supported in the latest 17.2 preview? (I can’t find it in the 17.2 preview release notes)

[2022-04-13 19:59] JonDouglas commented on #6764
Hi all,

For more clarity, this feature has landed in preview in many of these release vehicles. Some are not out yet and some will come out relatively soon.

You should be able to use the latest VS 17.2 preview 3 with this feature. Some binaries may take one more release cycle to release for availability. For example, NuGet 6.2 usually releases with 17.2 stable.

Sorry for the confusion, I will u

[2022-04-13 20:04] JonDouglas commented on #6764
This means that code has been formally merged in preview releases and we will be keeping eyes on feedback around the time the stable releases happen so people can take formal dependencies on it without it being "preview" or "experimental". We introduced a few features as well.

[2022-04-13 20:07] kichalla commented on #6764
Awesome, thanks for the update!, @JonDouglas.

Quick question regarding **Transitive pinning**. The article does not mention this so wanted to check. If I want to pin a transitive package to a specific version (for example, I want to pin a package to version 5.0.9 as it has a fixed vulnerability and this is the version used all across my projects), can I do this in `Directory.Packages.props`? Basi

[2022-04-13 20:12] kichalla commented on #6764
Adding some details to my earlier post:
For example, let's say there is a package called `Foo` which is a transitive dependency across several projects in my solution and none of those projects directly reference package `Foo`. Can I pin `Foo` to a specific version in `Directory.Packages.props` so that all the projects in my solution must use that specific version provided I use `<CentralPackageTr

[2022-04-13 20:30] batzen commented on #6764
@JonDouglas The blog states that transitive pinning is opt-in. That's extremely surprising as that's, again, contrary to what the community voted for. Can you clarify that and explain why the community was overruled again?

[2022-04-13 20:59] JonDouglas commented on #6764
We use many different data points to consider risk. As you may have noticed I conducted much of that early research and even interviewed over 10 individuals. It was unanimous from one angle and advocated for. However that's just one data point. We also broke many less vocal users without good reason and plenty of internal systems.

Sometimes we have to decide to move forward and reduce the risk of

[2022-04-13 21:06] kartheekp-ms opened #11743 "[Bug]: The criteria to raise a warning for no symbol api key while pushing symbol packages is incorrect"
### NuGet Product Used

dotnet.exe, NuGet.exe

### Product Version

dotnet nuget push and nuget.exe push

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

Execute `dotnet nuget push *.nupkg -s https://packagesource/v3/index.json --api-key apikey --symbol-source https://symbolsource` command.  Please note `--symbol-api-key` is neither passed to the commandlin

[2022-04-13 21:21] nkolev92 commented on #11713
NuGet calls Microsoft.VisualStudio.ProjectSystem.References.AddAsync, which is owned by dotnet/project-system.

I'll copy over the issue there.

[2022-04-13 21:24] #11713 closed, assigned to nobody

[2022-04-13 21:25] erinlah-ms commented on #6764
I also see that the security issue, NU1507, is just a warning. Is there a handy way to promote that to an error?

Also, if packagesourcemapping is enabled but a package is found in multiple sources, will it still generate a NU1507 error? Or is it assumed safe? I'm mostly trying to determine if can/should list * for nuget.org, or if we'll need to list every single package one by one.

[2022-04-13 21:43] JonDouglas commented on #6764
@erinlah-ms Right now it's a warning. We didn't want to be too aggressive with it quite yet as we're working to finish other experiences with package source mapping first. We want to bring awareness of best security practices through this warning. If the detection doesn't capture all scenarios, please file an issue and we'll make sure we can ensure we detect more or add more codes for different sc

[2022-04-13 21:48] nkolev92 commented on #11710
`_CleanPackageFiles` is set up to run with AfterTargets=Clean

I don't think `_CleanPackageFiles` was meant to run in the inner build on purpose.
It's possible that the it wasn't done purpose, and before the `Clean` target.

For example, the `_PackAsBuildAfterTarget` has an inner build check.

I think `_CleanPackageFiles` can have one as well.

So something like the following probably does it:

[c

[2022-04-13 21:57] nkolev92 commented on #6764
@erinlah-ms

NuGet respects `TreatWarningsAsErrors`, `WarningsAsErrors` and `NoWarn`.

In your case your might `WarningsAsErrors`

[2022-04-13 22:48] nkolev92 commented on #11638
Related issue: https://developercommunity.visualstudio.com/t/Manage-nuget-for-solution/1587399

[2022-04-13 22:48] nkolev92 commented on #11638
Moving to new issues for retriage.

[2022-04-13 23:15] nkolev92 commented on #11738
That's a bug on the SDK side, https://github.com/dotnet/sdk/issues/24747.

[2022-04-13 23:31] nkolev92 opened #11744 "NuGet.Commands.FuncTest.RestoreCommandTests.RestoreCommand_FrameworkImport_WarnOnAsync is flaky"
It's flaky, likely becausen it depends on NuGet.org.

In similar ilk like some recent fixes, we should rewrite this test to work without nuget.org.

[2022-04-13 23:47] #11738 closed, assigned to dominoFire

[2022-04-13 23:59] nkolev92 opened #11745 "Disable flaky test: PushCommand_PushToServer_WhenPluginReturnsAbort_ThrowsAndDoesNotFallBackToConsoleProvider"

[2022-04-14 01:01] nkolev92 opened #11746 "NuGet Package Manager window causes persistent WPF frame rate spike due to a runaway animation"
See details in the internal issue, [1496338](https://devdiv.visualstudio.com/DevDiv/_queries/edit/1496338).

This is a consequence of a bug in WPF, where an animation does not get stop despite it being not visible.

[2022-04-14 04:20] japj commented on #6764
With respect to package source mapping, what is the expected way to configure this correctly for the combination of nuget.org and AzureDevOps Azure Artifacts (upstream mirror) feed?

the nuget.org feed is there to ensure packages can be discovered, but is actually disabled on the build servers

[2022-04-14 10:31] sae42 opened #11747 "MSBuild NuGet SDK Resolver fails to locate global.json file in Visual Studio project folder"
### NuGet Product Used

dotnet.exe, MSBuild.exe

### Product Version

Visual Studio 2022 17.2 Preview 3

### Worked before?

Visual Studio 2022 17.1 and earlier

### Impact

It's more difficult to complete my work

### Repro Steps & Context

The issue is a dotnet CLI template which contains a global.json file (in my case referencing a project SDK) which is then also used via the Visual Studio new

[2022-04-14 15:43] jeffkl commented on #11747
At this time this is by design.  The .NET SDK resolver has always respected the solution path over the project path and we wanted to make the NuGet-based MSBuild project SDK resolver consistent.

https://github.com/dotnet/sdk/blob/1c817a47346f4db67ce3463cad7f60b54bfe122f/src/Resolvers/Microsoft.DotNet.MSBuildSdkResolver/MSBuildSdkResolver.cs#L91

Its only supported to have one `global.json` in the

[2022-04-14 17:16] tlmii opened #11748 "[Bug]: Unexpected NU1008 errors"
### NuGet Product Used

Visual Studio Package Manager Console

### Product Version

VS Internal Previews

### Worked before?

17.2 Preview 3

### Impact

It's more difficult to complete my work

### Workaround
Restore from the command-line before building in Visual Studio

### Repro Steps & Context

1. Install internal preview of VS
2. Clone our repo (not public, so can't link - I can provide dire

[2022-04-14 17:48] nkolev92 commented on #6764
@japj
That's really up to you.
When we designed the feature, often times the people had different preferences (ex. map out nuget.org, vs map out their private feed).

https://docs.microsoft.com/en-us/nuget/consume-packages/package-source-mapping#package-pattern-precedence and https://docs.microsoft.com/en-us/nuget/consume-packages/package-source-mapping#setting-default-sources has some details abo

[2022-04-14 18:45] nkolev92 commented on #11606
Team Triage: It's a reasonable ask because there isn't a good way for package authors to detect this specific failure and retry it alone; you'd have to recognize that the sign operation failed (in part or whole) and retry the entire operation.

By comparison, we're not aware of other signing tools (e.g.:  signtool, jarsigner, vsixsigntool) that accept multiple timestampers for any reason (e.g.:  f

[2022-04-14 18:49] nkolev92 commented on #11638
For anyone that's seen this issue, please capture a trace for us and upload it.

[code]

[2022-04-14 20:03] erinlah-ms commented on #6764
@JonDouglas out of curiousity, will the transitive pins be represented in some way in the resulting nuget?

For example, I have a package named CF. It consumes Flubber/1.0.0, which consumes System.Http/4.1.0. But System.Http/4.1.0 has reported security vulns. So suppose I have transitive pinning to pin System.Http/4.3.4. I'll compile against 4.3.4, right?

But what will users of CF/1.0.0 see? Will

[2022-04-14 20:43] BertanAygun opened #11749 "[Bug]: Restore from Visual Studio fails after package changes"
### NuGet Product Used

Visual Studio Package Manager Console

### Product Version

VS 32413.50.main

### Worked before?

VS 17.1

### Impact

It's more difficult to complete my work

### Repro Steps & Context

This happens when I pull changes from man branch that includes package version changes or sometimes target framework changes. A generic repro is:

- Open a solution from VS, do restore/buil

[2022-04-14 21:01] kartheekp-ms opened #11750 "Package manager UI should be only updated only when there is an important state change"
Track https://github.com/NuGet/NuGet.Client/pull/4535#discussion_r848924794. Package manager UI should be only updated only when there is an important state change.

Also https://github.com/NuGet/NuGet.Client/pull/4535#discussion_r848675522 and https://github.com/NuGet/NuGet.Client/pull/4535#discussion_r848675567

[2022-04-15 06:23] tlmii commented on #11748
An update here - this now happens for me in 17.2 Preview 3 as well. Same machine. So it doesn't seem to be limited to internal builds as I initially thought. My team is mostly seeing it on internal builds, but it seems there's not a causal relationship either way - internal and public builds each will sometimes work and sometimes not. Can't figure out the common thread yet...

[2022-04-15 14:12] CoenraadS commented on #7752
In the meantime, I made a powershell script to parse the output. Sharing incase it's useful for others:

[code]

Output:

[code]

[2022-04-15 15:27] erdembayar commented on #10045
@nadesu  @NamrataJha
Could you validate this organization account?
Do you have any metrics which record this kind of errors where you can filter by "dotnet nuget push" scenario?

[2022-04-15 16:39] #11745 closed, assigned to nkolev92

[2022-04-15 16:39] #11744 closed, assigned to nkolev92

[2022-04-15 16:40] #11746 closed, assigned to nkolev92

[2022-04-15 17:03] mwwhited commented on #5069
5 years later and this is still and issue.  I should really sell my MS stock.

[2022-04-15 17:14] jeffkl opened #11752 "[Epic]: Central Package Management Improvements for 17.3"
These items need to be addressed to make central package management production ready.

## Issues
- [x] https://github.com/NuGet/Home/issues/11828
- [x] https://github.com/NuGet/Home/issues/11724

## Features
- [x] https://github.com/NuGet/Home/issues/11715
- [x] https://github.com/NuGet/Home/issues/9467

## Performance
Take performance measurements for large repositories to ensure that there is no

[2022-04-15 18:14] nkolev92 commented on #5069
@mwwhited
This issue is closed. The linked issue for PMC, https://github.com/NuGet/Home/issues/4553, was fixed in 2018 https://github.com/NuGet/NuGet.Client/pull/2270.

[2022-04-15 21:32] nkolev92 commented on #9467
In 6.3, [NU1506](https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu1506) is raised as a warning when a duplicate is detected.

We can choose to error when we detect duplicates or we can call the warning good and move on to other issues :)

@jeffkl @JonDouglas

[2022-04-15 22:23] jarig commented on #10511
@lorenz-haenggi-jarowa  can you please share your condition or remove in the Directory.Build.Props?

[2022-04-15 22:27] nkolev92 commented on #11623
P1 issue raised in https://developercommunity.visualstudio.com/t/Nuget-does-not-load-custom-credential-pr/10015436.

[2022-04-15 22:32] nkolev92 opened #13486 "NuGet.exe credential providers docs is inconsistent with the consuming packages from authenticated feeds"
Especially the part about plugins is not obvious.

Read https://docs.microsoft.com/en-us/nuget/reference/extensibility/nuget-exe-credential-providers.

It's not obvious that https://docs.microsoft.com/en-us/nuget/consume-packages/consuming-packages-authenticated-feeds#nugetexe the env var for the new plugins is different.

[2022-04-15 23:02] nkolev92 commented on #11749
Sounds similar to https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1461787.

I'll attempt a repro.

[2022-04-15 23:17] dfederm commented on #11564
@nkolev92 I finally got around to doing a board smoke test of 17.2.

I ran a total of 733 test builds on internal MSFT repos and 55 (~7.5%) failed with NU* errors and *do not fail* with 17.1:

* 2x NU1107
* 2x NU1202
* 2x NU1603
* 8x NU1605
* 11x NU1608
* 30x NU1701

I do believe *most* of these are ultimately due to the issue mentioned (I didn't dig into individually).

Based on this I do believe

[2022-04-15 23:44] nkolev92 commented on #11749
[ConsoleApp1.zip](https://github.com/NuGet/Home/files/8498908/ConsoleApp1.zip)

I attempted a repro, but no luck.

Back when the similar issue was reported, there was an experiment run.

Can you collect some logs for us for the second run (the one that fails, so the one after the branch switch).

CPS_DiagnosticRuntime=1 and that'll open a output window called Project. All that content would be rel

[2022-04-16 00:18] ThaRaven403 opened #11753 "[Feature]: Option to migrate package references from a project to Directory.Packages.props"
### NuGet Product(s) Involved

Visual Studio Package Management UI, Visual Studio Package Manager Console

### The Elevator Pitch

The new Directory.Packages.props feature is a great way of having a central place to specify package versions to use throughout a solution. For existing solutions that have multiple projects and as much packages installed, going through the csproj files to migrate them

[2022-04-16 00:45] #11672 closed, assigned to erdembayar

[2022-04-16 00:45] #10890 closed, assigned to erdembayar

[2022-04-16 05:20] SpocWeb opened #11754 "[Bug]: Most SPDX license Expressions not resolved by https://licenses.nuget.org/ instead "We have no information regarding the 'Xyz' license.""
### NuGet Product Used

dotnet.exe, Visual Studio Package Management UI

### Product Version

dotnet

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. create a Visual Studio Project Nuget Package with an SPDX Expression e.g. <PackageLicenseExpression>Hippocratic-2.1</PackageLicenseExpression>
2. build, pack and push the Package using

[2022-04-17 00:58] maxkatz6 commented on #9937
Isn't it what new dotnet workloads are for? It would make sense to install new "windows workload" to be able to edit and build net6-win projects on the machine. Though I am not against of automatic downloading.

[2022-04-17 11:15] BasTossings commented on #3116
When will this be fixed? This bug is really disruptive to my nuget workflow; after I push a new package version to GitHub packages, visual studio will claim the new version does not exist for a good 15 minutes (presumably until the http cache for the nuget server `/query` request expires).

Manually clearing all nuget caches works but this feels like killing a mosquito with a howizer. Plus, it req

[2022-04-18 07:39] v-crchang opened #11755 "The tooltip of warning icon on the right of “Installed” tab only appeared for less than one second after installing a deprecated/vulnerable package in PM UI"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.3.0.10

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Create a C# Console App (.NET core) project via VS.
2. Open PM UI of the project by right-clicking the project->Manage NuGet Packages… in Solution Explorer.
3. Select package source: Nuget.or

[2022-04-18 08:43] NamrataJha commented on #10045
@erdembayar apologies for the delay. Will check for the org account and get back to you. Do you have any package that I can use for testing?
Meanwhile is there any repo from which you have encountered this error recently so I can look up in the logs?

[2022-04-18 11:51] v-luzh opened #11756 "[Bug]: [ARM64] Command “nuget pack” cannot be run since could not load file or assembly 'C:\Program Files\Microsoft Visual Studio\2022\Preview\MSBuild\Current\Bin\arm64\Microsoft.Build.dll'"
### NuGet Product Used

NuGet.exe

### Product Version

Dev\6.3.0.10

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

#### Device info
Device: Surface Pro X
System type: ARM-based 64bit processor
OS: Windows 11 Pro 21h2
#### Installation
1.Install Preinstall from: \vspreinstall\preinstall\preinstall.cmd
2.Install Visual Studio 2022

[2022-04-18 16:49] BertanAygun commented on #11749
Unfortunately, I don't have a consistent repro either. It seems to depend on when/where I built from before merging to tip. Next time I have a repro I will record the commits and also collect the log.

[2022-04-18 17:46] #11453 closed, assigned to martinrrm

[2022-04-18 18:16] jeffkl commented on #11748
I have determined that this is caused by a failing design-time build in Visual Studio which results in an incomplete representation of the restore graph by NuGet.

Injecting any target that fails design-time builds will result in this error.  This repository had a target that would log an error if something wasn't correct, but that target should not have been run during a design-time build.  Disab

[2022-04-18 18:48] agr commented on #11754
As mentioned in the [`license`](https://docs.microsoft.com/en-us/nuget/reference/nuspec#license) element documentation, www.nuget.org only accepts FSF and OSI-approved licenses and thus we host only those as well.

[2022-04-18 19:07] nkolev92 commented on #9190
Parsing errors are not reported to std error. That's true for dotnet build as well, so this is probably more of a dotnet.exe issue.

[2022-04-18 20:24] nkolev92 commented on #11724
Team Triage: This is currently `noisy` by design, because we want to make sure all customers are aware that they're using a preview feature.

[2022-04-18 20:24] #11724 closed, assigned to jeffkl

[2022-04-18 20:35] nkolev92 commented on #11743
Team Triage: Unclear what the faulty behavior is, and what the expected is.

[2022-04-18 20:36] nkolev92 commented on #11747
Team Triage; Closing per @jeffkl's comment.

[2022-04-18 20:36] #11747 closed, assigned to jeffkl

[2022-04-18 20:43] jpobst commented on #6461
Note the same can happen if you are varying `<Version>` by TF:

[code]

The workaround is the set `<PackageVersion>` to a dummy value.

[2022-04-18 20:45] nkolev92 commented on #11750
Closing as the fix was reverted.

[2022-04-18 20:45] #11750 closed, assigned to kartheekp-ms

[2022-04-18 20:47] nkolev92 commented on #11743
@kartheekp-ms To add more context about before and after.

[2022-04-18 20:47] SpocWeb commented on #11754
Ah, sorry, overlooked that. Please include a Link to the SPDX List in the Error Message:

https://spdx.org/licenses/

so people can look it up, after all the License Codes there are official.

[2022-04-18 22:25] nkolev92 commented on #11564
Thanks for those details @dfederm!

The good part is that 4 of those failures are errors (harder to resolve) and the rest are warnings elevated to errors.

Unfortunately I don't think we have any other approaches beyond delaying (and making it more complicated for the people that need this change).

[2022-04-19 11:16] hrlourenco commented on #11711
Hi @nkolev92, could you try to use packages.config instead of packagereference on net472 projects?

[2022-04-19 11:21] pinkfloydx33 commented on #9195
Is there any update on this or perhaps an "official" workaround?

Our primary development enviroment is windows (one dev is on macos), but we do all CI and deployments on Linux, with our primary distributable a Linux docker image. Despite the docker build/artifact we do primary development outside of docker, direct in vs/vscode. Ideally the lock file would be generated/updated there and then copie

[2022-04-19 11:40] v-crchang opened #11757 "[Bug]: There is no black arrow install button on the right of custom feed package when hovering on the package in “Browse” tab of PM UI"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.3.0.24

### Worked before?

Dev\6.3.0.12

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. File->New Project->Visual F#, create a Console Application project.
2. Open Package Manager Settings dialog (Tools->NuGet Package Manager->Package Manager Settings).
3. Add a custom feed sourc

[2022-04-19 13:42] v-luzh commented on #11726
@nkolev92 It repro on 17.3 latest: Main\32415.346 with implicit NuGet Client Dev\6.3.0.24 and 17.1 GA D17.1\32210.238, it delays 5s in average and ran into 20+ seconds occasionally (Rate: 20%). It doesn't repro on 16.11.12 Preview1 D16.11\32311.313 (2-3s delay).

[2022-04-19 16:45] xPaw opened #11758 "[Bug]: NU1701 - Package restore errors should mention which dependant package it came from"
### NuGet Product Used

dotnet.exe

### Product Version

6.1.0.103

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

[code]

`dotnet restore` and nuget in Visual Studio 2022.

In my project I have `SkiaSharp.Views.WindowsForms` package, which depends on OpenTK (>= 3.1.0), OpenTK.GLControl (>= 3.1.0).

My project itself also depended on O

[2022-04-19 17:06] #4183 closed, assigned to nkolev92

[2022-04-19 17:47] nkolev92 commented on #11711
@hrlourenco

I am using dotnet pack. You can view the script inside my repro.

Note that nuget.exe pack won't automatically figure out the dependencies for packages.config projects. That's not a thing for those projects. You're expected to specify a nuspec with all that information.

We're hoping you can provide us a repro, as there's definitely something specific about your scenario.

[2022-04-19 22:44] #9190 closed, assigned to nkolev92

[2022-04-20 02:20] kellielellie1 opened #11759 "[Feature]: Retain Command History After Closing and Opening Visual Studio"
### NuGet Product(s) Involved

Visual Studio Package Manager Console

### The Elevator Pitch

Package Manager Console does retain command history in a temporary manner but in between closing and opening of Visual Studio that history is gone.

Please can the command history be retained after closing and opening of Visual Studio.

### Additional Context and Details

_No response_

[2022-04-20 12:11] marcin-krystianc opened #11760 "[Bug]: Package version downgrade is not detected due to invalid transitive pinning"
### NuGet Product Used

dotnet.exe

### Product Version

7.0.100-preview.3.22179.4

### Worked before?

no

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

There are some correctness issues when restoring packages for a solution in which projects specify different versions using CPVM and transitive pinning
As in the [attached example](https://github.com/NuGet/Home/files/

[2022-04-20 12:47] Balkoth commented on #11326
`dotnet list package` has the same problem. It does not respect `DOTNET_CLI_UI_LANGUAGE` and use the installed os language instead.

[2022-04-20 14:49] hrlourenco commented on #11711
We use nuget cli with nuspec in Project B, Project A we use dotnet pack.

The error: You are trying to install this package into a project that targets '.NETFramework,Version=v4.7.2', but the package does not contain any assembly references or content files that are compatible with that framework...
![image](https://user-images.githubusercontent.com/6207067/164257957-bc34a77b-c642-47f0-9f94-947d23

[2022-04-20 17:36] nkolev92 commented on #11711
In the original post you mentioned, the error is package B, which is different from the latest comment here.

Can you please try to zip up dummy packages (the file content doesn't matter unless you build) that look exactly the same as the generated ones?

[2022-04-20 18:02] #11733 closed, assigned to nobody

[2022-04-20 20:54] papeh commented on #8373
The problem is not necessarily with the PATH environment variable. [The line in question](https://github.com/NuGet/NuGet.Client/blob/f7208c454ebf18fc37b15fda3438d6a5ece6cdd7/src/NuGet.Clients/NuGet.CommandLine/Commands/InstallCommand.cs#L115) combines the Solution Directory with ".nuget", but the error could mean that the solution directory is incorrect (this was the problem in my case)

[2022-04-21 00:14] nkolev92 opened #11761 "Restore with static graph evaluation fails with an NRE when a `TargetFramework` is specified"
Take the following project for example:

[code]
Run the following command:

### Actual

See output below.
[code]

Run it without static graph, and note that there's no failure.

### Expected

[code]

Discovered this while working on https://github.com/NuGet/Home/issues/11653.

Note that when fixing this, we might need to do the same thing as the fix in https://github.com/NuGet/Home/issues/11653

[2022-04-21 00:16] nkolev92 commented on #11761
cc @jeffkl

Did some quick debugging, and we basically end up with a project with nodes, but no outer node as TargetFramework is always set globally, so technically we can't discover an outer build project.

[2022-04-21 00:17] nkolev92 commented on #11653
I have something that seems to work, cleaning it up now.
Unfortunately static graph doesn't work https://github.com/NuGet/Home/issues/11761.

[2022-04-21 00:21] hrlourenco commented on #11711
Thanks nkolev, follows attached.
The error happens installing packaging B in project C, taking into consideration A is installed in project B, A is netstandard and B net472.
[prj.zip](https://github.com/NuGet/Home/files/8526246/prj.zip)

[2022-04-21 00:56] kartheekp-ms commented on #11758
I agree that error message could be improved by adding package dependency path. One option that I can think of right now to look at the package dependencies is to either look at `project.assets.json` file or depedencies node in VS solution explorer.

![image](https://user-images.githubusercontent.com/52756182/164349886-8c1a7411-ec56-4727-b6ac-afcfe18e24f9.png)

[2022-04-21 01:12] nkolev92 commented on #11711
Hey @hrlourenco

The lib/net472 folder of B is empty.

[2022-04-21 01:19] #10758 closed, assigned to jebriede

[2022-04-21 03:47] kartheekp-ms commented on #11759
@kellielellie1 - AFAIK this looks like a feature of PowerShell in general. I created a sample project and then installed a package using PMC and then followed the example in https://docs.microsoft.com/powershell/module/microsoft.powershell.core/add-history?view=powershell-7.2#example-1-add-commands-to-the-history-of-a-different-session to share the commands across different sessions.
- Open VS and

[2022-04-21 04:19] erdembayar commented on #10045
I don't have any specific repo reported to me recently.
Please try this one, it should create quite large nupkg package.
https://github.com/erdembayar/JustLargePackage

[2022-04-21 09:39] hrlourenco commented on #11711
[prj_final.zip](https://github.com/NuGet/Home/files/8529741/prj_final.zip)

Hey nkolev92, Follow the scenario. Thank you

[2022-04-21 13:05] sensslen commented on #7752
Hanks a lot for this script. However this script ins not culture neutral. Unfortunately I was unable to change the culture with which the dotnet command is run in powershell.

[2022-04-21 13:35] jeffkl commented on #11761
Possible duplicate of https://github.com/NuGet/Home/issues/11680.  Basically, static graph doesn't give NuGet the full representation of the project graph when you specify a TargetFramework because it doesn't think it needs to enumerate the values of TargetFrameworks.  I think we'll need to update MSBuild static graph to have a mode where it always loads the full graph even if it could get a scope

[2022-04-21 14:14] Balkoth opened #11762 "[Bug]: ASP.NET Core hosted in IIS using NuGet.Protocol does not work"
### NuGet Product Used

NuGet SDK

### Product Version

Nuget.Protocol 6.1.0

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

- Create ASP.NET Core Project
- Add Nuget.Protocol reference
- Try querying information using the api

-> Application crashes

### Verbose Logs

_No response_

[2022-04-21 14:18] rainersigwald opened #11763 "No Nuget package creation in Release mode for a .Net Framework project (Visual studio 2022)"
---
**Issue moved from dotnet/msbuild#7557**
- Please respond to @rainersigwald.

---

_From @rainersigwald on Thursday, April 21, 2022 2:17:48 PM_

### Discussed in https://github.com/dotnet/msbuild/discussions/7555

<div type='discussions-op-text'>

<sup>Originally posted by **lgsndbox** April 21, 2022</sup>
Hello,

With Visual Studio 2022, I'm trying to automate the building of a Nuget package

[2022-04-21 14:33] #11504 closed, assigned to jeffkl

[2022-04-21 16:03] nkolev92 commented on #2345
@jeffkl the checklist confused GH :D
Closing this given that you fixed it.

[2022-04-21 16:48] erdembayar commented on #10045
@JB101UK @bjorhn @RehanSaeed @rido-min @Airn5475

Sorry for resurrecting old thread. Do you still experience with "nuget push" in Github action I was not able to repro this issue? Probably things improved during last 2 years. Please let me know if you're still experiencing this issue. We need recent log with error.

[2022-04-21 17:19] nkolev92 commented on #11761
That does workaround it.

[2022-04-21 17:34] RehanSaeed commented on #10045
@erdembayar All good at the moment, thanks.

[2022-04-21 17:38] jeffkl commented on #11761
Maybe for implicity restore `/restore` in MSBuild, we can block certain global properties from getting through which we know aren't really applicable.  Or on NuGet's side we could ignore these properties that don't apply.

[2022-04-21 17:53] nkolev92 commented on #8373
Hey @papeh

I'm not sure https://github.com/NuGet/Home/issues/8373#issuecomment-1104447279 is quite right.

https://github.com/NuGet/Home/issues/8373#issuecomment-514430216 has a different stack trace.

@smaudet

The failures here are about discovering MSBuild to read the project file/solution file.

In VS, the process itself knows where msbuild is because it ships with it.

[2022-04-21 18:23] nkolev92 commented on #11726
Team Triage:

@jebriede has familiarity with the codepaths, assigning to him for initial investigation.

Please note the Priority label :)

[2022-04-21 18:27] nkolev92 commented on #11743
Team Triage: Assigned to @heng-liu as the push area owner.

[2022-04-21 18:29] nkolev92 commented on #11748
@jeffkl Is this is an external issue, or do we think there's something more that needs to be fixed on NuGet side?

Please add the `Resolution:External` label if necessary.

[2022-04-21 18:35] nkolev92 commented on #11757
Possible that https://github.com/NuGet/NuGet.Client/commit/74ec8baeb1577f68d77320223c7c6285b8f9c779 is the problem.

Assigning to @martinrrm for the initial investigation.

[2022-04-21 18:38] papeh opened #11764 ""Illegal characters in path" (Solution Directory)"
Attempting a `nuget install` with an incorrect solution directory gives the cryptic error "Illegal characters in path." The first assumption is that there is a problem with the PATH environment variable, but [the line in question](https://github.com/NuGet/NuGet.Client/blob/f7208c454ebf18fc37b15fda3438d6a5ece6cdd7/src/NuGet.Clients/NuGet.CommandLine/Commands/InstallCommand.cs#L115) combines the Sol

[2022-04-21 18:38] nkolev92 commented on #11760
Team Triage: Assigning to @jeffkl for the initial investigation.

[2022-04-21 18:40] papeh commented on #8373
@nkolev92, yes, my problem and stack are different than the original poster's, although the non-verbose message is exactly the same. It sounds like you'd like me to raise a separate issue; here it is: #11764

[2022-04-21 18:44] nkolev92 commented on #11759
Team Triage; Closing per the above comment.

The history is PMC is a general powershell feature.

[2022-04-21 18:44] #11759 closed, assigned to nobody

[2022-04-21 19:40] nkolev92 commented on #11761
Not sure what you mean by ignoring certain properties.

I have a PR that might provide you some context about how I discovered this: https://github.com/NuGet/NuGet.Client/pull/4587

[2022-04-21 20:36] nkolev92 opened #11765 "Update SPDX licenses to bb0099c"

[2022-04-21 20:48] papeh opened #11766 "[DCR]: Include caught exceptions as inner exceptions when rethrowing (in MsBuildUtility)"
### NuGet Product(s) Affected

NuGet.exe

### Current Behavior

When MsBuildUtility catches certain exceptions, it throws different exceptions, including only the outermost one or two messages from caught exception.

### Desired Behavior

When catching an exception and throwing a different one, the original exception should be included as an inner exception so that all original call stacks and mes

[2022-04-21 21:07] #11742 closed, assigned to nkolev92

[2022-04-21 23:45] smaglio81 opened #11767 "[Bug]: dotnet SDK 6.0.202 - Detected package downgrade during dotnet restore"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.202

### Worked before?

6.0.102

### Impact

I'm unable to use this version

### Repro Steps & Context

I originally posted this issue in the `dotnet\sdk` github:

  * [https://github.com/dotnet/sdk/issues/24931](https://github.com/dotnet/sdk/issues/24931)

----------------

### Describe the bug

After updating to `dotnet sdk 6.0.202`,

[2022-04-22 02:59] Varorbc opened #11768 "[Bug]: NU1604 Project dependency Newtonsoft.Json does not contain an inclusive lower bound. Include a lower bound in the dependency version to ensure consistent restore results."
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

17.2.0 Preview 4.0

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

[code]

### Verbose Logs

_No response_

[2022-04-22 04:45] tapika opened #11769 "[Bug]: ServiceUnavailable for slow internet connections when pushing large nuget package"
### NuGet Product Used

NuGet.exe

### Product Version

NuGet Version: 6.0.0.280

### Worked before?

Works on faster internet connection

### Impact

I'm unable to use this version

### Repro Steps & Context

Create large nuget package - size of 222 Mb - 500 Mb.

You should be behind bit slower internet connection - I'm behind optical fibre - download 100 MB/s, upload 10 MB/s.

(Upload is used in

[2022-04-22 05:55] tapika commented on #11769
Tried to transfer same file for example via Teams - it works slowly, but works. Issue is most probably within nuget push command.

[2022-04-22 06:39] cmeeren opened #11770 "[Feature]: Make dotnet list package work without restore when using lock files"
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

(Was asked to post this here instead of https://github.com/dotnet/sdk/issues/24194)

We are running `dotnet list package` (with `--vulnerable`, `--outdated`, and `--deprecated`) in a CI pipeline. This seems to require restoring the projects first. This adds overhead in the pipeline, which seems unnecessary since we use lock files (

[2022-04-22 09:30] NamrataJha commented on #10045
@erdembayar tested from both user and org accounts. I am unable to repro the issue from either.

[2022-04-22 11:15] mariusingjer commented on #6226
The aforementioned workaround:

[code]

[2022-04-22 12:37] bouchraRekhadda opened #11771 "[Bug]: False NU1701 warning"
### NuGet Product Used

MSBuild.exe

### Product Version

17.1.0.7609

### Worked before?

Yes with MSBuild 16.11.2.50704

### Impact

I'm unable to use this version

### Repro Steps & Context

Sample reproduction project:
[code]
Building using `MSBuild.exe` : `"C:\Program Files\Microsoft Visual Studio\2022\Professional\Msbuild\Current\Bin\MSBuild.exe" ConsoleApp2.csproj /t:restore /v:m` generate

[2022-04-22 12:46] marcin-krystianc commented on #11760
My understanding is that the [code](https://github.com/NuGet/NuGet.Client/blob/cebb6903635a0dde1059315a1363599eb5ae3099/src/NuGet.Core/NuGet.ProjectModel/PackageSpecReferenceDependencyProvider.cs#L342-L354) that adds central package versions to the list of dependencies should run only for top-level projects. Currently, it runs for all projects, which makes it difficult to understand what should ac

[2022-04-22 13:17] jeffkl commented on #11768
@Varorbc Sorry I just realized our documentation does not call out that central package management (CPM) is off by default and you must enable it with the `ManagePackageVersionsCentrally` property:

[code]
I recommend you place that property in `Directory.Packages.props`

Here is an example of CPM and some of the features: https://github.com/NuGet/Samples/tree/main/CentralPackageManagementExample

[2022-04-22 14:12] lonix1 opened #11772 "[Feature]: Nuget links in `dotnet list package --outdated`"
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

The [command](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-list-package#description) `dotnet list package --outdated` shows something like this:

[code]

This is not friendly. It would be helpful to include a link to the nuget repository:
[code]

In many cases this is run in a terminal and we could click the link to go

[2022-04-22 15:27] Varorbc commented on #11768
Thank you very much for your reply. I have another question. how to update the central package version by Visual Studio package management UI?

[2022-04-22 15:42] jeffkl commented on #11768
@Varorbc We are actively working with folks in Visual Studio to support updating PackageVersion items in Visual Studio.  At this time, you must manage the XML manually.

[2022-04-22 15:44] jeffkl commented on #11768
I've updated the docs: https://github.com/NuGet/docs.microsoft.com-nuget/pull/2732

@Varorbc thanks for reporting the issue, please close the if you feel that it has been addressed.

[2022-04-22 15:55] japj commented on #11768
I also just ran into this issue with 17.2.0 Preview 4.0 (so very glad to get the solution here ;) )

I also noticed when enabling (and having multiple package sources) there might be a string formatting issue in one of the error messages (notice the {0} in the actual message):

`error NU1507: There are {0} package sources defined in your configuration. When using central package management, please

[2022-04-22 15:57] jeffkl commented on #11768
The warning message missing the number has been fixed and should be available soon

https://github.com/NuGet/Home/issues/11709

[2022-04-22 20:35] #11732 closed, assigned to nobody

[2022-04-22 20:52] papeh opened #11774 "[Bug]: misspelling in RestoreCommandCannotDeterminePackagesFolder_deu"
### NuGet Product Used

NuGet.exe

### Product Version

6.1.0.106

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

in RestoreCommandCannotDeterminePackagesFolder_deu (in NuGet.Client\src\NuGet.Clients\NuGet.CommandLine\NuGetResources.resx), "Widerherstellen" should properly be spelled "Wiederherstellen".

### Verbose Logs

_No response_

[2022-04-22 21:34] papeh commented on #11764
Output after wrapping exceptions:
[code]

I added another commit to NuGet/NuGet.Client#4586 to trim `"` from paths passed to `Path.Combine` but then realized that it may be better to trim `"` from all paths as soon as they're passed on the command line, since quoting paths is common on Windows, and the command line processor is retaining them in some cases when it shouldn't. I'm happy to create a

[2022-04-22 22:39] HurricanKai commented on #11645
Thank you for the detailed response.
First of all, I'm not sure what similar metadata/properties you are referring to, have I missed something that can help me here?
I think part of the problem is that most of those links above aren't clear on what modern (-> new / updated) libs should be targeting, especially if they can't / don't want to go all the way back to netstandard2.0 the reasonable choic

[2022-04-22 23:45] #11768 closed, assigned to jeffkl

[2022-04-23 23:48] kartheekp-ms commented on #11771
@bouchraRekhadda - I am wondering if this behavior is by design. I am able to reproduce this issue even on VS 2019 (Version 16.11.13).

![image](https://user-images.githubusercontent.com/52756182/164947115-35f77d89-f959-4bd5-96e1-768d7b74a1fe.png)

Did I miss anything in the repro steps?

[2022-04-24 06:36] kartheekp-ms commented on #11770
If we run `dotnet list package` after `restore` in the same job in CI pipeline, then there won't be any additional overhead because `project.assets.json` files will be generated during restore.

This feature request make sense to me unless I am missing any other scenario where `project.assets.json` have some information that is not present in the `packages.lock.json` file.

[2022-04-24 06:45] kartheekp-ms commented on #11769
@tapika - Will there will be any difference in the behavior when you try to push the package using [`dotnet nuget push`](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-push). The reason I am asking is `nuget.exe` runs on `.NET Framework 4.7.2` where as `dotnet nuget push` runs on `.NET Core`.

[2022-04-24 09:45] Nirmal4G commented on #8871
Can't it be opt-in or opt-out for the time being?

[2022-04-24 10:01] scharnyw commented on #8209
Any update on this after 3 years? The inconsistency in tooling between PackageReference and packages.config is a still a big frustration after all these time

[2022-04-24 16:38] kzu commented on #11516
I would expect a `<PackageReference Version="..." />` to always override a central package version. I fail to see when/why you'd need a differently named attribute (`VersionOverride`) for that. MSBuild is quite flexible in how it exposes all this and editing item metadata via targets is quite trivial.

Trying to understand the design decision behind this. Seems weird to introduce new attributes fo

[2022-04-24 17:05] kartheekp-ms commented on #11762
I am unable to reproduce the scenario by following below steps.

1. Create ASP.NET Core Web Application in VS 2022 internal preview version
2. Add package reference to `NuGet.Protocol` package 6.1.0 version
3. Copied code to `List package versions` from https://docs.microsoft.com/en-us/nuget/reference/nuget-client-sdk#list-package-versions
4. Launched the web application in debug mode

The applica

[2022-04-24 17:30] Balkoth commented on #11762
You have to host the site in IIS within an ApplicationPool with ApplicationPoolIdentity.
-------- Ursprüngliche Nachricht --------Von: Kartheek Penagamuri ***@***.***> Datum: 24.04.22  19:06  (GMT+01:00) An: NuGet/Home ***@***.***> Cc: Balkoth ***@***.***>, Author ***@***.***> Betreff: Re: [NuGet/Home] [Bug]: ASP.NET Core hosted in IIS using NuGet.Protocol does not work (Issue #11762)
I am unable

[2022-04-24 17:36] kartheekp-ms commented on #11763
I am unable to reproduce this issue.

1. Create .NET Framework ClassLibrary application
2. Unloaded the project in VS
3. Modified `.csproj` file as shown below.

[code]
4. Click on Build in Visual Studio in `Release` mode.
5. Package got generated. See below log

[code]
Did I miss any step while reproducing this issue?

[2022-04-24 18:13] vsfeedback opened #11775 "Removing NugetRecommender extension breaks nugetpackage manager"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Removing-NugetRecommender-extension-brea/10019083)._

---
[severity:It's more difficult to complete my work] [regression] [worked-in:16.11.13]
Removing Nugetrecommender extension breaks the 'browse' function of the package manager on VS2022 with the following error:
Could not load file o

[2022-04-24 18:20] kartheekp-ms commented on #11775
I am able to reproduce this issue however, If I disable `NuGetPackageRecommender` after browsing packages in PM UI once then the issue no longer reproduces.

I found an entry in the `VSActivityLog.xml` related to this error.

[code]

[2022-04-25 04:10] Forgind commented on #8871
Up to NuGet, but in my opinion, that would just make it more confusing. You'd have to make it opt-in or opt-out when the property is set but use it (without getting to opt-in or -out) in other files, so if you don't want any extra slashes, you might have something like:
[code]

People seeing just one line would often get it wrong if they copy/paste...

[2022-04-25 04:26] tapika commented on #11769
For dotnet command it looks identical behavior:

[code]

I could increase timeout, but doubt it will help.

[2022-04-25 04:27] Nirmal4G commented on #8871
So, if it has to be a breaking change, then better do it for all built-in/generated properties, I guess. This can go so wrong in so many ways 🤯 that I can't begin to describe it, if not done properly. MSBuild itself is resiliant but not the external commands we pass the properties too. This is tricky!

[2022-04-25 11:37] bouchraRekhadda commented on #11771
The package `Microsoft.Build` version should be compatible with `MSBuild` version to be used; in case of VS 2019 the last version that used to work for us is `16.9.0`, starting from `16.11.0` we can reproduce (here again what changed with this version is the supported TFMs in the nuspec file
- **16.9.0**
[code]
- **16.11.0**
[code]
)

[2022-04-25 17:02] #11771 closed, assigned to nobody

[2022-04-25 17:05] nkolev92 commented on #11770
I only see challenge/consideration here.

It is possible that the project file and packages.lock.json are out of sync with one another.

That's something that only restore knows how to check. Would that check be done? Ignored? An information message to the user that the lock file would be used?

The risk if someone has a lock file out of sync with the project file.
If one runs `dotnet list package

[2022-04-25 18:03] nkolev92 commented on #10045
Hey all,

This issue has been open for over 2 years, and at this point we aren't getting too many new reports or are able to repro this issue.

If you are still hitting similar problems, feel free to open new issues as appropriate.

[2022-04-25 18:03] #10045 closed, assigned to erdembayar

[2022-04-25 18:54] xoofx commented on #11516
Agreed, that could be done with e.g `OverrideVersion=true` for example

[2022-04-25 19:02] kzu commented on #11516
Indeed. Anything but having an unnecessary fork in how you add package references in *every reference* instead of a top-level property (either that `OverrideVersion` or just a `NoWarn`) via `Directory.Build.props`.

[2022-04-25 19:28] erdembayar commented on #11711
Thank you for sharing repro files, I tried to repro your issue by installing "Primavera.Core.ApplicationServices.12.6.0-alpha0491.nupkg" into my newly created `C.csproj` but it looks there're other missing packages too. Probably error is coming from those other dependency packages. Could be test your repro on your local by removing local cache (for packages.config project remove `packages` folder,

[2022-04-25 19:28] cmeeren commented on #11770
Could it perhaps be made opt-in via a command line switch? For example, in my case, I am confident that the checked-in lock file is always in sync and can be used for the purposes of scanning for vulnerabilities and outdated packages in CI pipelines without running a restore.

[2022-04-25 19:29] cmeeren commented on #11770
The point being, having this option would then make my CI pipelines quite a bit more efficient since restore is a fairly heavy operation.

[2022-04-25 19:32] nkolev92 commented on #11770
playing devil's advocate here, I imagine you have a build pipeline...can you add the dotnet list package command there, where you likely have already done a restore?

Not try to undervalue the ask ofc, mostly trying to help with what we have today :)

[2022-04-25 19:43] cmeeren commented on #11770
Not sure exactly what you're asking. I have not done a restore. I run a scheduled nightly/weekly build in all of our repos that run `dotnet list package` and fails if there are outdated/vulnerable/deprecated packages. This is a separate pipeline from the normal build/release pipeline. We have a lot of repos, and while there's no extra monetary cost for us with our current infrastructure to run a r

[2022-04-25 19:50] nkolev92 commented on #11770
I was merely suggesting that you can add some of those checks in your standard build pipeline. AzDO allows you to have different phases and you can have that run after your standard build, and it can reuse assets  from your build (such as the assets file).

I'm just offering suggestions based on what exists today, as even if we immediately started on this, it'd take some time before it just "works

[2022-04-25 20:14] nkolev92 commented on #11729
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2022-04-25 20:14] #11729 closed, assigned to nobody

[2022-04-25 20:31] nkolev92 commented on #6051
Team Triage: Assigning to @dominoFire

[2022-04-25 20:39] #11775 closed

[2022-04-25 21:12] cmeeren commented on #11770
Hm, I think we may be talking past each other.

I already have a working solution; the only thing I want to optimize away is the restore step, since all the necessary information is already present in the lock file. But to clarify:

My use-case is that I need to run an outdated package check in a _scheduled_ pipeline so that it checks for vulnerabilities etc. even if I haven't committed in a while

[2022-04-25 21:34] nkolev92 commented on #11772
The client and the server communicate through a well established protocol, and the gallery informatino (the pretty package link) is not available in the package metadata and content resources, https://docs.microsoft.com/en-us/nuget/api/overview.

They are available in the PackageDetails resource, but that resource is not mandatory nor is it commonly implemented, so there may be implementation chal

[2022-04-26 03:36] erdembayar commented on #11762
Please share us Application log with Event Viewer or crash dump. IIS is not working on my local machine some reasons, so hard to repro your issue.

[2022-04-26 06:32] Balkoth commented on #11762
I don't think providing crash dumps here is an option. In any case you find the first crash, then it crashes in another place and then what? Someone with working IIS on their machine has to pick this up and debug.

[2022-04-26 08:25] nzain commented on #9425
Just ran into this error message... and I'm not sure what's wrong on my side. I'm using generated API keys with the companys Artifactory server (which hosts several nuget feeds). I'm pretty sure it has been working before (like a month ago). On the other hand, this was the first time I'm working with Artifactory based nuget feeds.

I figured out that my credentials now have to be declared as `Clea

[2022-04-26 14:59] erdembayar commented on #11762
Let's start with application log, please share cooresponding your application log with event viewer. We have many other dev tools such as docker configured on local so our IIS experience could be your experience.

[2022-04-26 15:20] jeffkl commented on #11516
The reason is for enforcement.  Large repositories don't want extra versions of packages creeping into their projects so they want no versions at all allowed in a project.  To detect this, NuGet looks at the `Version` metadata and can provide an error telling the user that a version must be specified in the central location instead.  However, in some edge cases, users need to override the version

[2022-04-26 16:30] JonDouglas commented on #3891
Hi friends,

Thanks again for the initial proposal for this feature. I'd like to give @maxkoshevoi a huge shoutout for getting the conversation started and for everyone who has started to contribute their voice to the design already.

Before we add our team's voice into the proposal, I would like to set expectations for the design process.

Here are a few things that we'd like to remind everyone w

[2022-04-26 17:44] #7186 closed, assigned to nobody

[2022-04-26 17:45] MisinformedDNA commented on #10675
@TheRSP Where did you find that this doesn't work with Azure DevOps?

[2022-04-26 17:50] #6588 closed, assigned to nobody

[2022-04-26 17:50] nkolev92 commented on #6588
Redundant

[2022-04-26 17:52] nkolev92 commented on #5505
Low priority restoer scenario.

Closing.

[2022-04-26 17:52] #5505 closed, assigned to nobody

[2022-04-26 17:57] TheRSP commented on #10675
@MisinformedDNA I ran into this when testing it out with our company feed hosted in AzureDevOps

[2022-04-26 18:26] MisinformedDNA opened #11776 "[Bug]: RestoreLockedMode fails when overriding reference from Directory.Builds.prop"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.202

### Worked before?

_No response_

### Impact

It's more difficult to complete my work.

### Repro Steps & Context

1. Run `dotnet new console`
2. Replace the project file contents with the following

[code]

3. Run `dotnet restore`
4. Note that `packages.lock.json` specifies version `6.0.0` of `Microsoft.Extensions.DependencyInject

[2022-04-26 20:42] smaglio81 commented on #11767
As listed in the ticket,

"I'm not really sure how to reproduce this issue. It's only occurring on our build servers; which are on premise VMs (Windows 2016, info below). When attempting to reproduce this issue on our local machines (Windows 10/21H2) with dotnet sdk 6.0.202 using Visual Studio 2022, we don't receive any errors."

[2022-04-26 21:04] kabua opened #11777 "[Bug]: Upgrading a package across a large solution is downgraded when it should not have been"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

vs 16.11.5

### Worked before?

Not really

### Impact

It's more difficult to complete my work

### Repro Steps & Context

We have 187 projects in our master solution and we publish several internal frameworks as nuget packages, which these projects require. Also, there are several project dependencies between the v

[2022-04-26 21:13] erdembayar commented on #11767
Probably biggest difference your local and CI is cache. Did you try to clear local cache before restoring? `dotnet nuget all -c`
Or you can try inside [Windows Sandbox](https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-sandbox/windows-sandbox-overview) to check how your restore works on clean machine.

[2022-04-26 21:35] erdembayar commented on #11769
Sorry about encountering this issue.
Network issues are tricky to diagnose, beside slow speed it could be packet loss, wifi, virus scan or just Azure side issue too.
After how many minutes do you get above exception? Do you get more details if verbosity detailed option? `dotnet nuget push -v d`
I would try  `--timeout <seconds> ` with higher numbers before reaching to conclusion.
I suspect Azure i

[2022-04-26 21:52] erdembayar commented on #11777
@kabua
Sorry hear about this. Did you try solutions from [MS NU1605 doc](https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu1605)? Here nearest win logic resolving F (>= 9.5.4-a015-Debug), instead you can install  `F (>= 9.5.4-b001-Debug)` directly to top project `A` to make more near than `A -> B -> F (>= 9.5.4-a015-Debug)`.
There're 2-3 different approaches for this issue in

[2022-04-26 21:58] youn123 commented on #11607
Does anyone know if the fix for this is available in VS/MSBuild 17.2 Preview 3? Thanks!

[2022-04-27 02:09] zivkan commented on #11769
ServiceUnavailable is HTTP 503, which means the server (in this case Azure DevOps) is returning this error to the client (nuget.exe or dotnet.exe).

You can report problems to Azure DevOps directly here: https://developercommunity.visualstudio.com/report?space=21&entry=problem

We, the NuGet team, can contact Azure DevOps on your behalf, but if they ask questions we might not be able to answer. Pl

[2022-04-27 06:51] Balkoth commented on #11762
[code]

[2022-04-27 14:02] costin-zaharia-sonarsource commented on #11099
Hi @dtivel,

I cannot find the environment variable you mention. Do you mean `NUGET_EXPERIMENTAL_CHAIN_BUILD_RETRY_POLICY`?

[2022-04-27 16:37] dtivel commented on #11099
@costin-zaharia-sonarsource, yes, that's the one.

See https://github.com/NuGet/NuGet.Client/pull/4259#issue-993700059

[2022-04-27 16:50] erdembayar commented on #2345
Reverted the merge https://github.com/NuGet/NuGet.Client/pull/4595
See https://github.com/NuGet/Client.Engineering/issues/1581 for details.
Fyi @jeffkl @nkolev92

[2022-04-27 17:33] #11609 closed, assigned to JonDouglas

[2022-04-27 18:06] #11765 closed, assigned to nkolev92

[2022-04-27 18:31] erdembayar commented on #11776
I can repro this issue.

[2022-04-27 20:03] taoofstefan opened #11778 "[Bug]: warning NU1701: Package 'Microsoft.Azure.KeyVault.Core 1.0.0'"
### NuGet Product Used

Other/NA

### Product Version

bot framework composer v2.1.2

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

I use the Microsoft Bot Framework to create a bot. It worked fine until I installed the following package:

Microsoft.Bot.Components.AdaptiveCards

Afterwards I got the following error:

warning NU1701: Packa

[2022-04-27 20:20] nkolev92 commented on #11181
Closing in favor of the main issue. No need to have the details open.

[2022-04-27 20:20] #11181 closed, assigned to dc7497-1576912

[2022-04-27 20:21] nkolev92 commented on #11062
Dup of https://github.com/NuGet/Home/issues/11032

[2022-04-27 20:21] #11062 closed, assigned to nobody

[2022-04-27 20:26] nkolev92 commented on #8048
Redundant as of today.

[2022-04-27 20:26] #8048 closed, assigned to nobody

[2022-04-27 20:39] nkolev92 commented on #9712
Closing in favor of https://github.com/NuGet/Client.Engineering/issues/1271.

cc @heng-liu Correct me if I'm wrong.

[2022-04-27 20:41] #9712 closed, assigned to heng-liu

[2022-04-27 20:43] nkolev92 commented on #9003
Dup of https://github.com/NuGet/Client.Engineering/issues/591 which has since been implemented.

[2022-04-27 20:43] #9003 closed, assigned to heng-liu

[2022-04-27 20:43] nkolev92 commented on #9738
1 task leftover, closing this task and allowing that one to live standalone.

[2022-04-27 20:43] #9738 closed, assigned to nobody

[2022-04-27 20:50] zivkan opened #11779 "[Bug]: NuGet does not retry some HTTP timeouts"
### NuGet Product Used

dotnet.exe

### Product Version

dotnet 7.0 previews

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

NuGet's `HttpRetryHandler` has a `catch (OperationCancelledException) { throw; }` block in order to not retry when the input `cancellationToken` requests cancellation. However, `HttpClient` throws `Operation

[2022-04-27 21:04] Balkoth commented on #11762
I'm sorry but shifting the blame to somewhere else is not helpfull to fix this problem. Now i am left puzzled on how to get this to work.

[2022-04-28 01:02] erdembayar commented on #11778
Thank you filing this issue.

I can repro your issue on my local and found 2 solutions, there could be better way of doing this.

Solution 1. Suppress warning in your `csproj` or `Directory.packages.props` file.
[code]
Solution 2. Reference latest version of `Microsoft.Azure.KeyVault.Core` directly.
[code]

[2022-04-28 03:07] kalirajanganeshan commented on #11542
Hi Team,

Any update on this?

Thanks,
Kalirajan Ganesan

[2022-04-28 03:41] kalirajanganeshan opened #11780 "[Bug]: NuGet API return Blob was not found"
### NuGet Product Used

Other/NA

### Product Version

Syncfusion Blazor Version API

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

We try to get the versions of our package using following NuGet API. It was return as blob was not founded but the package was exists in NuGet.Org.

API URL : https://api.nuget.org/v3-flatcontainer/PackageName/index.json

Res

[2022-04-28 10:28] mekk1t commented on #8189
The issue persists. We're hosting the feed on Nexus and the embedded icon does not show in Visual Studio NuGet Manager.

[2022-04-28 13:43] cosminstirbu opened #11781 "[DCR]: dotnet list package --outdated exit code"
### NuGet Product(s) Affected

dotnet.exe

### Current Behavior

We'd like to check for outdated packages as part of our PR pipeline.

We would like to use `dotnet list package --outdated`, however there is no way to tell (without parsing the output), if there are any outdated packages.

Would it be possible to opt into returning a non-zero exit code if there are outdated packages, so we can then

[2022-04-28 15:54] ericstj opened #11782 "[Feature]: Add tracing to NuGet to identify all possible sources of package downloads"
### NuGet Product(s) Involved

NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console, MSBuild.exe, dotnet.exe, NuGet SDK

### The Elevator Pitch

Component Governance is important to help identify potential vulnerabilities in a repository.

Today component governance detects direct references, but also side-effects of restore -- the assets file, packages downloaded,

[2022-04-28 16:09] erdembayar commented on #11781
Related issues:

- https://github.com/dotnet/sdk/issues/16852
- https://github.com/NuGet/Home/pull/11549#issuecomment-1094976531

I like the idea of additional argument so it wouldn't break existing users.

[2022-04-28 16:13] #11780 closed, assigned to nobody

[2022-04-28 16:13] erdembayar commented on #11780
Issue moved to [NuGet/NuGetGallery #9111](https://github.com/NuGet/NuGetGallery/issues/9111) via [**ZenHub**](https://www.zenhub.com/)

[2022-04-28 16:34] nkolev92 commented on #11782
Adding partner labels as some of the dotnet partners have been affected by this.

[2022-04-28 18:56] nkolev92 commented on #11776
Latest NuGet will raise a warning for duplicate PackageReference, https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu1504.

Duplicate PackageReference cause ambiguity among the different toolings and as such should be avoided.

[2022-04-28 19:40] JonDouglas commented on #11762
@Balkoth We encourage you to file an issue in another repository more related to your question or ask your question on a platform like Stack Overflow as we have already triaged this issue and do not have any action we can take at this time to help you further. Please refer to https://github.com/NuGet/Home/issues/11762#issuecomment-1111115468 for more details.

If you have a question about using th

[2022-04-28 19:40] #11762 closed, assigned to JonDouglas

[2022-04-28 19:58] Balkoth commented on #11762
You could if you really wanted, all your team has to do is host this in IIS and debug for yourself, but your comment makes it clear, you dont give a damn about this.

[2022-04-28 23:18] MisinformedDNA commented on #11776
The warning makes sense for duplicate PackageReferences within a single project file. But should that be the case when the "duplicate" is coming from another file (i.e. `Build.Directory.props`)? Or should it override it?

[2022-04-28 23:43] nkolev92 commented on #11776
For MSBuild purposes, project file vs any other file doesn't really matter. It's still part of the project.

[2022-04-29 00:30] #11779 closed, assigned to zivkan

[2022-04-29 00:38] zivkan commented on #11776
If you want to override a version in the csproj, for a package referenced in Directory.Build.props, you can use MSBuild's Update (rather than Include):  `<PackageReference Update="Microsoft.Extensions.DependencyInjection" Version="5.0.0" />`.  This way MSBuild doesn't see two items with the same id, and therefore there are no risks of which one gets chosen when deduplicated (first wins vs last win

[2022-04-29 00:50] dagasparmsft opened #11783 "[Feature]: Nuget SDK Resolver support for wildcard characters"
### NuGet Product(s) Involved

NuGet SDK

### The Elevator Pitch

We are creating a new SDK that partners will consume and will have consistent changes to the package. We want partners to be able to consume the latest version of the SDK and always build with the latest be being able to use wildcards such as

[code]
### Additional Context and Details

_No response_

[2022-04-29 01:09] zivkan commented on #11762
The stack trace shows `NuGet.Configuration.Settings.LoadUserSpecificSettings` near the end of the stack, which means it's trying to load the user-profile nuget.config file (as defined in [the docs for nuget configuration](https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#config-file-locations-and-uses)).

It appears that `ApplicationPoolIdentity` runs as a Windows

[2022-04-29 01:28] erdembayar commented on #11776
I tested your scenario on my local.
In this case override in `Build.Directory.props` didn't work, but placing into `Build.Directory.targets` worked for me.
It looks like settings in props is seen by msbuild 1st but csproj is overriding it, but targets is executed later than csproj.
[code]

![image](https://user-images.githubusercontent.com/8766776/165871886-6772e732-c2a5-404d-aaad-c1a7ad872c9f.png

[2022-04-29 03:59] jeffkl opened #11784 "[Bug]: global.json reader fails to parse file with anything but a leading StartObject (curly brace)"
### NuGet Product Used

MSBuild.exe, NuGet.exe, Visual Studio Package Management UI

### Product Version

17.2.0

### Worked before?

Yes, 17.1

### Impact

I'm unable to use this version

### Repro Steps & Context

Use a `global.json` with a leading comment or not a `{`:

[code]

https://github.com/NuGet/NuGet.Client/blob/92f7c1cd472d6a47dde580baab4a455350c9d2ac/src/NuGet.Core/Microsoft.Build.NuG

[2022-04-29 06:51] Balkoth commented on #11762
Even when running in an ApplicationPool with an identity that was logged on to the machine (so all necessary directories should be there), nuget somehow wants to access these folders and files:

[code]

[code]

[code]

The second two directories are accessed and written to on every single request, so this is not a one off let it create the files and you are done. Can we please now stop the guessin

[2022-04-29 07:24] davidfowl commented on #11762
@Balkoth Can you try setting Load User profile on the application pool? It seems nuget really wants a user profile (to write these caches to).

[2022-04-29 07:54] Balkoth commented on #11762
I tried with both options making sure to "iisreset /restart" and it does not matter. The same directories are accessed.

[2022-04-29 14:24] MisinformedDNA commented on #11776
Yes, this works, but in my case, I replaced `Include` with `Update` in my CSPROJ file to override the PROPS file.

[2022-04-29 14:24] #11776 closed, assigned to nobody

[2022-04-29 15:03] erdembayar commented on #11776
Sure, yesterday I didn't test correctly.

CSProj file file:
[code]

Build.Directory.props:

[code]

packages.lock.json:
![image](https://user-images.githubusercontent.com/8766776/165971077-d1f73d7e-a312-46ea-a90f-84aa5c12fd28.png)

[2022-04-29 15:15] erdembayar commented on #11777
@kabua
Please take a look at latest [Central Package Management](https://devblogs.microsoft.com/nuget/introducing-central-package-management/#:~:text=To%20get%20started%20with%20central%20package%20management%2C%20you,elements%20that%20define%20the%20package%20ID%20and%20version.) feature. It's designed for addressing same problems you're facing now.
Not only it lets you set version for top level

[2022-04-29 18:11] nkolev92 commented on #11777
Hey @kabua

You mentioned `Which project? We have 187 of them. Therefore, this message should be changed to specify which project.`

Can you paste the full log.

For example when I try to repro I see the path in front.
Also the first project in the path will be one where you can add the package.

Example

Reference the package directly from the project to select a different version.
 A -> B -> C -

[2022-04-29 18:12] erdembayar commented on #11778
@taoofstefan

Draft
Here is more detailed approach how to solve this issue.
You can find out how this indirect/transitive dependency brought in with `VS 2022 Solution explorer`.
You can just search for id and expand Project > Dependencies> Packages to view it.

![image](https://user-images.githubusercontent.com/8766776/165999558-8769f916-ef2c-4881-8d62-9049a1f67498.png)

Here path is
Microsoft.Bot

[2022-04-29 18:19] nkolev92 commented on #11777
Re-reading your post, I have a few more clarifications :)

That's fair, but NuGet respects the user intent. If someone explicitly wants a lower version, like in your case, B explicitly wants a lower version of than it's dependencies are trying to bring.
It's not a really semver thing.

[2022-04-29 19:07] Nessitro opened #11785 "[Bug]: Unable to load the service index for source https://api.nuget.org/v3/index.json"
### NuGet Product Used

dotnet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console

### Product Version

Windows 7 (6.1.7601 Service Pack 1 Build 7601)/ dotnet.exe/ VS2019 (16.11.11)/ nuget package manager (5.11.0)

### Worked before?

Cannot determine last known working version

### Impact

It's more difficult to complete my work

### Repro Steps & Context

## Using Pa

[2022-04-29 21:08] erdembayar commented on #11785
Thank you for filing this issue.
Your issue sounds like [TLS issue in Windows 7](https://devblogs.microsoft.com/nuget/deprecating-tls-1-0-and-1-1-on-nuget-org/#operating-systems). Please do the fix in your registry according to [guide](https://devblogs.microsoft.com/nuget/deprecating-tls-1-0-and-1-1-on-nuget-org/#operating-systems).
See previous related issue: https://developercommunity.visualstud

[2022-04-29 21:21] zivkan commented on #11785
In addition, Azure DevOps have recently deprecated TLS versions older than 1.2, and have created this tool to help customers diagnose and fix their machine configuration: https://github.com/microsoft/azure-devops-tls12

[2022-04-29 22:43] smaglio81 commented on #11767
Hmm ... I still can't reproduce it on the local machine. I used this script:

[code]

Which came back with clean output.

![image](https://user-images.githubusercontent.com/169953/166077436-773fac2c-cb66-40cf-8143-02ce20ea94db.png)

But, then again, the issue is occurring on the build server. And the issue only occurs when building using `6.0.202`; if `6.0.102` is used, then it succeeds. What migh

[2022-04-30 00:20] zivkan commented on #11762
So the issue is known. NuGet.Protocol wants to read configuration files, and wants to write to the temp directory. There's nothing to investigate/debug.

If you intended this issue to be a feature request to change NuGet.Protocol so that it doesn't use the filesystem at all, then that's not clear to me from this thread.

In fact, that may violate some aspects of the design of the library, so it wo

[2022-04-30 00:24] davidfowl commented on #11762
It's not a problem that nuget wants to read and write config files, we just need to figure out what that means when running on IIS with an app pool identity. It might mean loading the user profile (which alone may not work) and granting extra permissions. We just need to figure out what the magic incantation is 😄

[2022-04-30 04:38] cmeeren opened #11786 "[Feature]: Make dotnet list package --vulnerable take the target framework into account"
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

(Sent here from https://github.com/dotnet/sdk/issues/24193)

I did a scan using `dotnet list package --vulnerable --include-transitive`. I get the following:

[code]

According to information linked from [the advisory URL](https://github.com/advisories/GHSA-7jgj-8wvc-jh57), this only affects some old .NET Core 1.x and 2.x runtimes.

[2022-04-30 07:34] Balkoth commented on #11762
You dont get it. The ApplicationPool is running wwith an identity (AD-User) with loaded user profile. So it should use the users folders for which it has access rights.

[2022-04-30 18:03] erdembayar commented on #11777
@kabua

Soon new feature which surfaces all transitive dependencies so you can view which project is bringing which dependencies more clarity. You can see brief details here: https://github.com/NuGet/NuGet.Client/pull/4465

[2022-04-30 18:10] taoofstefan commented on #11778
@erdembayar thank you very much for your time and the provided solutions =)

I got it up and running with the first 2 suggestions and will have a look at your latest one too.

[2022-04-30 18:10] #11778 closed, assigned to erdembayar

[2022-04-30 18:42] erdembayar commented on #11786
Thank you for filing this issue.
I can repro this. 1 solution could be upgrading `System.Net.Http` to latest `4.3.4` make warning disappear, not sure if there is any constraint preventing this.

[2022-04-30 18:55] erdembayar commented on #11767
I'm not aware of any noticeable difference between them.
@NuGet/nuget-client Any ideas?

[2022-04-30 19:39] cmeeren commented on #11786
I mention that as a solution in the paragraph, but it's not good solution for reasons I describe in [this discussion I also posted here today](https://github.com/NuGet/Home/discussions/11787).

[2022-04-30 22:07] zivkan commented on #11762
[NuGet gets the app data folder using `Environment.GetEnvironmentVariable("APPDATA")`](https://github.com/NuGet/NuGet.Client/blob/7a5b0aafd767d105014c995378a1dbb71a5d86bd/src/NuGet.Core/NuGet.Common/PathUtil/NuGetEnvironment.cs#L135).

Can you test if `Environment.GetFolderPath(Environment.SpecialFolder.ApplicationData))` returns the same path, or the user profile AppData path that you would expec

[2022-05-01 08:54] tapika commented on #11769
Apparently I have problems with https://developercommunity.visualstudio.com/ account - it shows old account, which cannot be deleted in a turn. Can you raise same ticket for Azure  - I'll try to investigate with my IT how to fix this issue.

[2022-05-01 12:37] Smaug123 opened #11788 "[Bug]: Improve error message when transitive package has same name as project in solution"
### NuGet Product Used

dotnet.exe, MSBuild.exe

### Product Version

6.0.2

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Create an fsproj called `Pulumi.fsproj` with the following contents:

[code]

2. Perform `dotnet build`.
3. Observe the build failure:

[code]

Workaround is to rename your `fsproj`.

### Verbose Logs

[code]

[2022-05-01 12:37] Smaug123 commented on #11788
[`dotnet build --verbosity diag`](https://github.com/NuGet/Home/files/8598888/diag.log) as promised.

[2022-05-01 12:42] Smaug123 commented on #11788
I found https://github.com/NuGet/Home/issues/1428 which was closed as "won't fix". Could we at least have an error message of the form "NuGet does not support projects with the same name as any of their dependencies"?

[2022-05-01 23:45] JonDouglas commented on #11786
There doesn't exist any field nor tooling to do this. It is a false positive but something we don't have much control over right now. I can talk to GitHub to see if we can add something like this in the future.

It is best practice to regularly audit your dependencies and be on newer versions as time passes. While .NET may have a bias towards lowest applicable version, it puts you in a position wh

[2022-05-02 06:31] Balkoth commented on #11762
Interestingly this with AD-User as ApplicationPoolIdentity and "Load user profile" also returns:
`
C:\Windows\system32\config\systemprofile\AppData\Roaming
`

[2022-05-02 06:46] cmeeren commented on #11786
That would be great. What does GitHub have to do with this, though? Isn't this something that would be good to have support for directly in `dotnet list package`, which I assume is not specifically related to GitHub?

That is a perspective I hadn't considered. I'll respond to this and the rest of your comment in [TODO](https://github.com/NuGet/Home/discussions/11787#discussioncomment-2671663).

[2022-05-02 11:33] JonDouglas commented on #11786
@cmeeren We use the GitHub Advisory database as noted by your example advisory url.

Many CVE/GHSA do not contain any informational fields such as an affected target framework, programming language version, runtime, and more. The only thing available is the description and package versions today which isn't enough to decipher. If we can better classify the advisories, then we could in theory build

[2022-05-02 14:16] DOMZE opened #11789 "[Feature]: dotnet list [project | solution] package does not work with solution filters"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.202

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

`dotnet restore` works with [solution filters](https://docs.microsoft.com/en-us/visualstudio/msbuild/solution-filters?view=vs-2022).

`dotnet list solution.slnf package --vulnerable` fails with

[code]

Not sure if this

[2022-05-02 15:18] jeffkl commented on #11760
@marcin-krystianc Yes feel free to take a crack at a fix, I'll be more than happy to accept a contribution.

[2022-05-02 15:22] jeffkl commented on #11761
@nkolev92 for example:

[code]

The global property `TargetFramework` is then set for all project evaluations by static graph restore.  But `TargetFramework` isn't really a global property we want to set since restore won't be correct.  So we could just ignore that as a global property and not blindly add it.

Where we get global properties to pass to static graph restore:

https://github.com/NuGe

[2022-05-02 16:55] nkolev92 commented on #11761
I don't think we should do that.
That'd break `dotnet command -f xyz`

Would appreciate feedback to https://github.com/NuGet/NuGet.Client/pull/4587

[2022-05-02 16:58] nkolev92 commented on #11777
You can always use the solution explorer to view the transitive dependencies.

![image](https://user-images.githubusercontent.com/2878341/166291246-afa0a6b2-26fa-49be-9cb3-ba99b6944960.png)

[2022-05-02 17:14] jeffkl commented on #11761
I'm only talking about restore.  Do we ever want to restore for a single target framework?  I'm just saying whenever NuGet restores, it never needs to tell MSBuild the TargetFramework property during evaluation of the outer project.

`dotnet build -f net472` runs `msbuild /restore /p:TargetFramework=net472` and the restore portion would just ignore the TargetFramework global property to do a full

[2022-05-02 17:34] martinrrm commented on #7216
Hi everyone, I have tried to repro this, and I was unsuccessful, please try again in the latest version of Visual Studio and if the problem continues, please open a new bug or comment in this one.

[2022-05-02 17:34] #7216 closed, assigned to martinrrm

[2022-05-02 18:13] #11766 closed, assigned to nobody

[2022-05-02 19:26] erdembayar commented on #10275
@nkolev92 @aortiz-msft
Unassigned myself for load balancing.

[2022-05-02 19:28] erdembayar commented on #9020
@nkolev92 @aortiz-msft
Unassigned me for load balancing.

[2022-05-02 22:10] wtgodbe commented on #11782
👀

[2022-05-02 23:31] williamdenton opened #11790 "[Feature]: dotnet list package report with definable column widths"
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

an option to specify the minimum width of the package name column in the list packages report

### Additional Context and Details

I would like to use the dotnet package list command to inspect all the packages in a project and compare the packages referenced between builds. I use this to monitor the changes to packages, especially

[2022-05-03 14:01] jeffkl commented on #9467
Thanks @nkolev92, I've verified that your new warning covers this scenario so I'll close this as fixed!

[2022-05-03 14:01] #9467 closed, assigned to jeffkl

[2022-05-03 16:54] #11757 closed, assigned to martinrrm

[2022-05-03 17:33] #11774 closed, assigned to nobody

[2022-05-04 18:45] cfairchi opened #11791 "Package Newtonsoft.json install fails with NU3008"
GET https://api.nuget.org/v3-flatcontainer/newtonsoft.json/index.json
  GET https://api.nuget.org/v3-flatcontainer/system.data.sqlclient/index.json
  OK https://api.nuget.org/v3-flatcontainer/newtonsoft.json/index.json 202ms
  GET https://api.nuget.org/v3-flatcontainer/newtonsoft.json/13.0.1/newtonsoft.json.13.0.1.nupkg
  OK https://api.nuget.org/v3-flatcontainer/system.data.sqlclient/index.json 2

[2022-05-04 23:49] Saibamen opened #11792 "[Bug]: `dotnet add "x.csproj" package y` adds NuGet package instead of updating existing `<PackageReference>`"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.202

### Worked before?

Don't know

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Moved from https://github.com/dotnet/sdk/issues/25209

### Describe the bug
`dotnet add "your.csproj" package SimpleInjector.Packaging` command does not update `<PackageReference><Version></Version></PackageReference>` tem

[2022-05-05 06:30] PiterGoCompany commented on #9624
Hi,
@nkolev92 it would be great if nuget.exe  could be downloaded by WinGet as an installable tool.

[2022-05-05 16:11] nkolev92 commented on #11782
For reference, this is where the unresolved packages are downloaded: https://github.com/NuGet/NuGet.Client/blob/2d93510efe2537fb26b3d1057a05e0cc9a6f07c5/src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreTargetGraph.cs#L166-L169

[2022-05-05 17:19] divinebovine commented on #4103
If it helps anyone, I just wrote a bash script to update everything to the latest stable. It searches the current directory for all C# projects and updates all outdated packages. I'm sure it could be improved but it works.

[code]

Here is a vscode task that can be added as a [user level task](https://code.visualstudio.com/docs/editor/tasks#_user-level-tasks).

[code]

[2022-05-05 18:27] nkolev92 commented on #11749
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

@BertanAygun Feel free to ping us if you hit this again.

[2022-05-05 18:27] #11749 closed, assigned to nobody

[2022-05-05 18:27] nkolev92 commented on #11763
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2022-05-05 18:27] #11763 closed, assigned to nobody

[2022-05-05 18:31] nkolev92 commented on #11767
We're not aware of any differences that might've caused this.

Without a repro we don't think we'll be able to move forward.
Please let us know if you have more information @smaglio81

[2022-05-05 18:35] nkolev92 commented on #11769
@tapika

I think it's best if you report it. The team there might have additional questions and you need to be able to answer them.

Closing this issue as the error is coming from the Azure DevOps server.

[2022-05-05 18:35] #11769 closed, assigned to nobody

[2022-05-05 18:39] nkolev92 commented on #11777
Thank you for your feedback, at this point we cannot confirm that there's an issue with the downgrade warnings.

Consider trying out CPM as @erdembayar suggested in https://github.com/NuGet/Home/issues/11777#issuecomment-1113436780, which is an experimental feature designed to help scenarios like yours.

[2022-05-05 18:39] #11777 closed, assigned to nobody

[2022-05-05 18:40] nkolev92 commented on #11781
Marking as duplicate of https://github.com/NuGet/Home/issues/11315.

[2022-05-05 18:40] #11781 closed, assigned to nobody

[2022-05-05 18:47] jmyersmsft opened #11793 "[DCR]: Plugin timeout defaults should be increased"
### NuGet Product(s) Affected

NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console, MSBuild.exe, dotnet.exe, NuGet SDK

### Current Behavior

Currently the handshake and response timeouts for plugins default to 5 seconds. While this should theoretically be long enough, in practice we've had to give our customers instructions to increase those timeouts with environ

[2022-05-05 18:50] jmyersmsft commented on #11793
See also https://github.com/NuGet/Home/issues/8528#issuecomment-532885684 where increasing the timeouts was discussed way back in 2019

[2022-05-05 18:51] nkolev92 commented on #11783
Closing per @jeffkl

[2022-05-05 18:51] #11783 closed, assigned to nobody

[2022-05-05 21:30] hrlourenco commented on #11711
@nkolev92  @dominoFire
Hi,

Have here a reproduced scenario where this happens, i.e., package netstandard does not install in multi-project solution.

folder _localpackages: I add the package without DLL
folder _original: I add the package with DLL

[example.zip](https://github.com/NuGet/Home/files/8636136/example.zip)

![debug](https://user-images.githubusercontent.com/6207067/167028494-d455ef7e-

[2022-05-05 21:50] nkolev92 commented on #11711
@hrlourenco

Someone else will look in detail, but from looking at your gif, the package in the _localPackages does not have a dll, so it has nothing compatible with that project to install. That package is correct in not installing.

Did I miss anything?

[2022-05-05 21:53] hrlourenco commented on #11711
@nkolev92 thank you

It was just to show the installation is working with the metadata of this package (related to the rename that we did). The failed instalation is the reported scenario.

[2022-05-05 22:43] nkolev92 commented on #11711
This one threw me for a loop :D

The problem is that the path separator in the package in the `_original` folder is incorrect.

The path separator has to be `/` and it is in the `_localpackages` folder, but it's not in the `_original` folder.

the package in `_localpackages` folder seems to install because of the resource assemblies.

[2022-05-05 22:46] hrlourenco commented on #11711
wow! XD

What path, could you please explain exactly (example) :)

[2022-05-05 22:54] nkolev92 commented on #11711
In the zip package that separator for `lib/netstandard2.0` is wrong.

It fails installing because it sees no files, so it can't be project level compatible, it has no dependencies and it has no tools.

[2022-05-05 23:03] hrlourenco commented on #11711
sorry...i'm not getting you :)

If I extract `example.zip` I have this path (after extract nupkg): `example\_original\Primavera.Lithium.TaxAuthority.Portugal.Client.Rest.SingleAssembly.5.0.3\lib\netstandard2.0`

Where are you seeing the error? What are the correct path and where?

[2022-05-05 23:06] nkolev92 commented on #11711
Zip tooling will usually convert the paths, so it's be hard to see.
As does nuget when you pack content into a package.

Try loading the package using ZipArchive.

[2022-05-05 23:31] hrlourenco commented on #11711
OMG....

this is when we repack, powershell it's changing the slah!!! 🤣

Thanks for the support, if possible try to make some fix there :)

Uploading images for someone that could have the same issue.

| original pack | renamed pack with powershell zip tool |
|-|-|
| ![image](https://user-images.githubusercontent.com/6207067/167043012-86f3d1f8-c9fd-44ee-a475-2576b90aba8b.png) | ![image](https://us

[2022-05-06 10:49] tg73 opened #11795 "[Bug]: Visual Studio restore sometimes sets originalTargetFrameworks incorrectly in project.assets.json"
### NuGet Product Used

Other/NA

### Product Version

VS 2019 16.11.7, VS 2022 17.1.6

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

The issue is seen in `project.assets.json` at `project/restore/originalTargetFrameworks`. The issue is present only for some values of `$(TargetFramework)`. I see the issue when `$(TargetFramework)

[2022-05-06 14:49] MartinBarkerPhilips opened #11796 "[Bug]: Visual Studio 2019 can't find private Artifactory NuGet package"
### NuGet Product Used

MSBuild.exe, NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console

### Product Version

visual studio 2019

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

Download nuget for the Win10 command line.
Download Visual Studio 2019.
Setup a JFrog Artifactory repo online.

Recently I used V

[2022-05-06 15:12] slang25 commented on #11796
We use Artifactory at my workplace, when we use it, there is a v3 in the url path after nuget part, so `https://..../artifactory/api/nuget/v3/your-feed`, I think you'll need this to get the v3 protocol.

[2022-05-06 15:13] slang25 commented on #11796
Ah, I see further down in your explanation that you've tried that in the `NuGet.config`, I was going on the screenshot

[2022-05-06 15:26] MartinBarkerPhilips commented on #11796
One question i was wondering, when I get this popup in Visual Studio, I should enter my password as cleartext and not the longer/encyrpted version seen online in the artifactory tutorial yes?
![image](https://user-images.githubusercontent.com/99444148/167163816-b0725ef6-7b95-444f-9d3c-c57600c4da65.png)

[2022-05-06 15:27] MartinBarkerPhilips commented on #11796
interestingly now n Visual Studio I am getting this error
[code]

[2022-05-06 15:52] donnie-msft opened #11797 "Package Source Mapping UI - PM UI Actions support source pinning & create mappings in nuget.config"
Refer to https://github.com/NuGet/Home/issues/11361 and https://github.com/NuGet/Home/blob/dev/implemented/2021/PackageSourceMapping.md

[2022-05-06 15:56] MartinBarkerPhilips commented on #11796
I am using cisco anyconnect on my pc, maybe I need to set nuget http_proxy ?

[2022-05-06 16:27] nkolev92 opened #11798 "PackageDownload multiple versions doesn't work in Visual Studio."
Originally changed in https://github.com/NuGet/NuGet.Client/commit/ef9eb47e886cd5abe7e5d3160cc48312274b1c06, works on the commandline, but doesn't work in VS.

Bug here: https://github.com/NuGet/NuGet.Client/blob/f52a83999070237288d7e1c8ec5934a65eda77ac/src/NuGet.Clients/NuGet.SolutionRestoreManager/VSNominationUtilities.cs#L123

Example failure:

Error NU1105 Unable to read project information fo

[2022-05-06 16:58] MartinBarkerPhilips commented on #11796
But I've tested on a desktop without a vpn and faced the same issue

[2022-05-06 17:05] ericstj commented on #7709
The lack of this feature leads to gaps in the package Validation experience see https://github.com/dotnet/sdk/issues/25268.  It would be nice to have this as it would help us fill a gap that users are hacking around at the moment.

[2022-05-06 17:25] aortiz-msft commented on #11782
Another alternative would be to create a separate folder, or a sub-folder, for packages downloaded to determine the graph but are not actually used for building the code.

[2022-05-06 18:51] patrick-m-kendall opened #11799 "nuget integrity check DocumentFormat.OpenXml 2.16.0"
I am getting an integrity check on the DocumentFormat.OpenXml 2.16.0 package. I have tried both the Package Manager Console and the NuGet Package Manager.

thanks

[2022-05-06 21:56] pilcherd commented on #8985
Just experienced what was likely this today with Visual Studio 2022. We have a private VSO feed and when you open a project checked out in Visual Studio that references the private VSO feed, but the user does not have permissions to access the feed, we got infinite login requests with no detail or cause.  Killing VS was the only out.

Guessed that the project nuget restore might be the cause. Adde

[2022-05-07 16:39] xoofx commented on #11516
FYI, I had to fix an issue with Central package mgt in dotnet-releaser and the fix is in the following commit https://github.com/xoofx/dotnet-releaser/commit/0aea1e59b45517ff72117a558cc90c6fb245c4dc showing in practice the trouble that we were discussing here.

I had to duplicate entirely the entry because in one case I have to use `VersionOverride` and in the other `Version`

[code]

Injecting pa

[2022-05-08 02:45] kartheekp-ms commented on #10994
I took a quick look at the open issues related to authentication experience and I couldn't find a duplicate issue. https://github.com/NuGet/Home/issues?page=2&q=is%3Aissue+is%3Aopen+label%3AArea%3AAuthentication

[2022-05-08 04:50] kartheekp-ms commented on #11582
Related https://github.com/NuGet/Home/issues/9688

[2022-05-09 04:24] martinrrm commented on #11791
Thanks for filing the issue, but please open a new bug following the template so we can understand your issue better.

[2022-05-09 04:24] #11791 closed, assigned to nobody

[2022-05-09 05:33] martinrrm commented on #11789
My understanding is that Solution Filters only works with msbuild, not dotnet, when you do a `dotnet restore` it is going to restore the `.sln`. You can do a msbuild -r to restore the `.slnf`.

You can try using [msbuild commands](https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-command-line-reference?view=vs-2022) and see if you can do it. If you think this should be a feature you ca

[2022-05-09 05:45] joelverhagen commented on #11548
I thought I had run into this on my project https://github.com/joelverhagen/MiniZip, but I this environment variable `NUGET_CERT_REVOCATION_MODE=offline` does not seem to have a significant impact on Windows performance from my tests.

![image](https://user-images.githubusercontent.com/94054/167347573-85fcc754-40f0-486f-ac52-5848ed835e65.png)

That being said, Windows restore does appear to be sig

[2022-05-09 05:49] martinrrm commented on #11792
Hi! I can repro that the template is not being updated, but I see in your images that there is a `<PackageReference>` tag created. For me the version from the existing `PackageReference` is updated and doesn't create a new one, is that something you are experiencing or was just for showing the differnce?

[2022-05-09 06:52] mahgo opened #11800 "[Feature]: Allow for viewing readme when package not hosted on nuget.org"
### NuGet Product(s) Involved

Visual Studio Package Management UI

### The Elevator Pitch

I have a nuget package hosted in a private repository (Aerion Devops Artifacts). It would be good to be able to view the readme file in Visual Studio that is embedded in my nuget package.

### Additional Context and Details

_No response_

[2022-05-09 07:56] DavidKarlas opened #11801 "[Bug]: `SecurePluginCredentialProvider.GetAsync` calls `GetAuthenticationCredentialsRequest` wrong"
### NuGet Product Used

NuGet SDK

### Product Version

Any version

### Worked before?

No

### Impact

I'm unable to use this version

### Repro Steps & Context

I wrote at length about this issue in https://github.com/NuGet/docs.microsoft.com-nuget/issues/2715

At time I was asking about documentation mismatch between caller and callee. It was answered I should look at https://docs.microsoft.co

[2022-05-09 09:32] v-crchang opened #11802 "[Bug]: The Latest Stable version does not show in the "Version" dropdown box after installing a package with not the latest version in “Updates” tab"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.3.0.51

### Worked before?

Dev\6.3.0.15

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

## Repro steps:
1. Create a C# Console App (.NET core) project via VS.
2. Open PM UI of the project by right clicking the project->Manage NuGet Packages… in Solution Explorer.
3. Install a packag

[2022-05-09 13:06] Saibamen commented on #11792
Yes, I'm experiencing this. From documentation (https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-add-package), `dotnet add package` should ` Adds or updates a package reference in a project file`, but for me (you can see it in my screenshots) - it adds new line into csproj without deleting already existing one package from csproj, so I can't commit this file into git repo, because it is w

[2022-05-09 15:50] AArnott commented on #11752
Please seriously consider #9464 as part of this initial stable release. At the very least, before deferring it make sure that implementing it later won't require any breaking change that would block its delivery later. It's a _very_ important scenario for us.

[2022-05-09 16:00] jeffkl commented on #11752
@AArnott I'm pretty sure https://github.com/NuGet/Home/issues/10389 covers this scenario.  When you opt into it, any `<PackageVersion />` defined will override a transitive dependency version without need to specify a top-level `<PackageReference />`.  Do I understand https://github.com/NuGet/Home/issues/9464 correctly?  Does that sound right to you?

[2022-05-09 16:24] #11784 closed, assigned to jeffkl

[2022-05-09 17:05] martinrrm commented on #11789
Reopening, after talking with the team, they explained me that Solution Filter works with dotnet

[2022-05-09 23:43] AraHaan commented on #6306
Another thing that annoys me is that nuget always considers ``-dev`` as an downgrade for ``-preview.*``, or ``-beta.*`` packages when they are not (local builds).

Consider the following:
- Project A references EFCore.SqlServer and an local build of Microsoft.Data.SqlClient (5.0.0-dev)
  - EFCore.SqlServer references Microsoft.Data.SqlClient (5.0.0-preview.2)

In this case it warns (or errors) eve

[2022-05-09 23:49] AraHaan opened #11803 "[Bug]: Special case packages that use ``-dev`` suffixes as always being the latest version of the package."
### NuGet Product Used

dotnet.exe, MSBuild.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console

### Product Version

.NET SDK: 7.0.100-preview.5.22229.2, MSBuild (From Visual Studio and .NET SDK), Visual Studio: 17.2 Preview 6

### Worked before?

Nope

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

This thing annoys me that nuget always con

[2022-05-10 01:31] nkolev92 commented on #11803
The priority is based on the semver guidelines.

In particular: https://semver.org/spec/v2.0.0.html#spec-item-11

Example here: https://nugettools.azurewebsites.net/6.0.0/sort-versions?versions=1.0.0-dev%0D%0A1.0.0-preview.1%0D%0A1.0.0-beta.1%0D%0A

This'd be a breaking change.

[2022-05-10 01:32] #11803 closed, assigned to nobody

[2022-05-10 01:48] nkolev92 commented on #11795
Great catch @tg73. Thanks for the analysis.

The fix should be in https://github.com/NuGet/NuGet.Client/compare/dev-nkolev92-fixOriginalTargetFrameworks?expand=1
I'll add some tests soon.

[2022-05-10 08:26] #11711 closed, assigned to nobody

[2022-05-10 09:32] mirespace opened #11804 "[Bug]: NOTICE.TXT includes Lucene references"
### NuGet Product Used

Other/NA

### Product Version

dotnet --info .NET SDK (reflecting any global.json):  Version:   6.0.104  Commit:    915d644e45

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Hi,

I'm writing here as I'm packaging dotnet suite for Ubuntu from source build, and we are finding some 3rd party software issues,

[2022-05-10 10:09] v-luzh opened #11805 "[Bug]: [Bug Bash] “Updates” tab will not show available-to-update packages in the solution-level PM UI when the solution having more than one project"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.3.0.51

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

### Details about Problem
VS Version: Main\32509.107
NuGet Version: Dev\6.3.0.51
OS Version: Windows-11-Enterprise-21H2

### Repro steps:
1.Create a solution with two C# Console App (.NET F

[2022-05-10 10:11] v-luzh opened #11806 "[Bug]: [Bug Bash] The “Version” dropdown box is blank in “Consolidate” tab of solution-level PM UI"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.3.0.51

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

### Details about Problem
VS Version: Main\32509.107
NuGet Version: Dev\6.3.0.51
OS Version: Windows-11-Enterprise-21H2

### Repro steps:
1.Create a solution with two C# Console App (.NET F

[2022-05-10 17:42] #8465 closed, assigned to martinrrm

[2022-05-10 17:44] #11715 closed, assigned to jeffkl

[2022-05-10 17:46] zivkan commented on #11804
The NuGet.Client repo contains the source not only for NuGet's components that ship in the .NET SDK, but also NuGet's Visual Studio extension.  As the folder name for the NOTICES.txt file suggests, the file is related to our Visual Studio extension, not the .NET SDK. We don't ship Lucene.NET in the .NET SDK, only in Visual Studio.

Additionally, we don't build Lucene.NET ourselves, or copy the sou

[2022-05-10 18:45] kartheekp-ms opened #11807 "[Feature]: dotnet.exe add package support for projects onboarded onto central package management"
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

The [dotnet add package command](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-add-package) provides a convenient option to add or update a package reference in a project file. If the repo has been onboarded onto [`Central Package Management`](https://docs.microsoft.com/en-us/nuget/consume-packages/central-package-manag

[2022-05-10 22:01] jk-85 commented on #11785
Sorry, but I will stop it here. I wasted SOOO much time to get this to work, but nothing helps. I ran a Win10 VM and did the publish-steps there. Prior I installed Windows 7 x64 update KB3140245 and now tried to install Windows 7 x64 KB3042058, but the last update failed, don't know why, I have Windows 7 x64 SP1 and don't see a reason why it failed. I changed the gpedit.msc cipher list, but I thin

[2022-05-10 22:17] #11767 closed, assigned to nobody

[2022-05-10 23:32] nkolev92 opened #11808 "For C++/CLI PackageReference projects, NuGet should ignore the TargetPlatformMoniker"
Per a recent discussion, for C++/CLI projects NuGet will ignore the TargetPlatformMoniker when evaluating the effective target framework.

This will require a change https://github.com/NuGet/Home/pull/10299

cc @olgaark @dsplaisted @aortiz-msft @lukka

[2022-05-11 05:10] #11723 closed, assigned to nobody

[2022-05-11 11:55] dorssel opened #11809 "[Bug]: Regression in 6.0.300 'dotnet restore' for custom SDKs with version in global.json"
### NuGet Product Used

dotnet.exe

### Product Version

dotnet SDK 6.0.300

### Worked before?

dotnet SDK 6.0.202

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Was working before (6.0.202):

.csproj with:
[code]

global.json with:
[code]

With 6.0.300, `dotnet restore` fails, and the project won't load in VS 2022 version 17.2.

To fix, I need to provide the SDK vers

[2022-05-11 15:08] marnilss opened #11811 "[Bug]: Can't build anymore with temporarily failing nuget source"
### NuGet Product Used

dotnet.exe

### Product Version

Microsoft (R) Build Engine version 17.2.0+41abc5629 for .NET / mcr.microsoft.com/dotnet/sdk:6.0.300

### Worked before?

Microsoft (R) Build Engine version 17.1.1+a02f73656 for .NET / mcr.microsoft.com/dotnet/sdk:6.0.202

### Impact

I'm unable to use this version

### Repro Steps & Context

In a nuget.config file we have the following line:

[2022-05-11 15:09] marnilss commented on #11811
Commandline:
===============================
docker build -t drt-booking . -f src\ST.DRT.Booking.API\Dockerfile --no-cache --progress=plain > builder.log 2>&1

Dockerfile:
===============================
FROM mcr.microsoft.com/dotnet/aspnet:6.0 AS base
WORKDIR /app
EXPOSE 80

FROM mcr.microsoft.com/dotnet/sdk:6.0 AS build
COPY "src/" "/src"
WORKDIR "/src/ST.DRT.Booking.API"
RUN dotnet build "ST.DR

[2022-05-11 17:06] JonDouglas commented on #4103
Hi friends,

I have published a draft proposal for this feature. Please feel free to comment and provide your feedback on it.

https://github.com/NuGet/Home/pull/11812

I tried my best to incorporate all the feedback here while also comparing to other ecosystems and existing feedback we've heard over the last year or so.

[2022-05-11 18:18] #11809 closed, assigned to nobody

[2022-05-11 18:55] zivkan opened #11813 "[Bug]: Canceling msbuild restore is slow when invalid/unreachable source configured"
### NuGet Product Used

MSBuild.exe

### Product Version

msbuild 17.2

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Find a solution that does not restore quickly. The longer it takes, the better. For example, try https://github.com/OrchardCMS/OrchardCore
2. Run `dotnet nuget add source https://invalid.nuget.org/v1234/index.json -

[2022-05-11 21:49] sharwell opened #11814 "[Bug]: NuGet should show in the Task Status Center instead of the status bar"
### NuGet Product Used

Other/NA

### Product Version

Visual Studio 2022 Version 17.3.0 Preview 2.0 [32509.446.main]

### Worked before?

No

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Open a solution in Visual Studio.

Expected result:

NuGet restore progress shows in the Task Status Center.

Actual result:

NuGet restore progress does not show.
NuGet logs verbose

[2022-05-12 00:02] AArnott commented on #11752
No, that's not the same. #10389 is explicit pinning of transitive dependencies, whereas #9464 is about not specifying package versions _at all_ when it can be inferred via the transitive dependencies of another package whose version _is_ specified.

[2022-05-12 08:16] VasekLexa commented on #11584
This issue hapens every day, sometimes several times a day on our CI pipeline. We always have to restart server to resolve this. Could you increase priority of this issue?

[2022-05-12 17:47] dominoFire commented on #11796
@MartinBarkerPhilips Can you try this in VS 2022 and using v3 Artifactory feed? I recently did a repro with a free Jfrog account and found no issues.

[2022-05-12 17:54] dominoFire commented on #11806
@martinrrm Could you please take a look?

[2022-05-12 17:57] dominoFire commented on #11802
@martinrrm Could you please take a look? Thanks! This seems related https://github.com/NuGet/Home/issues/11806

[2022-05-12 18:15] zivkan commented on #11801
team triage meeting:  Looks like a duplicate of https://github.com/NuGet/Home/issues/11210

please add a 👍 reaction to upvote that issue.

[2022-05-12 18:15] #11801 closed, assigned to nobody

[2022-05-12 18:15] nkolev92 commented on #11210
Tweaking some of the labels as this is not VS only. It's a general issue with authentication and applies to commandline scenarios as well.

[2022-05-12 18:15] zivkan commented on #11210
https://github.com/NuGet/Home/issues/11801 was a duplicate, and had 2 upvotes at the time it was closed.

[2022-05-12 18:19] zivkan commented on #11799
team triage meeting:
1. You can try deleting the package from your global packages folder, and run `dotnet nuget locals http-cache --clear` and try again.
2. We don't support individual packages, so you can go to https://www.nuget.org/packages/DocumentFormat.OpenXml/ and use the [contact owners](https://www.nuget.org/packages/DocumentFormat.OpenXml/2.16.0/ContactOwners) link to contact the package

[2022-05-12 18:19] #11799 closed, assigned to nobody

[2022-05-12 18:26] dominoFire commented on #11811
@marnilss Could you please provide a sample project that shows your issues? Thanks!

[2022-05-12 18:26] zivkan commented on #11790
@williamdenton would you still want this feature if `dotnet list package` had a `--format json` feature? https://github.com/NuGet/Home/issues/7752

[2022-05-12 18:32] nkolev92 commented on #11814
Dup of https://github.com/NuGet/Home/issues/9396.

We attempted this change a while back, but on build restore tends to be super quick and the task status center would often display a popup even though restore has completed by end.

Maybe we need to consider different behavior for on build vs solution load restore?
After all, is on build a background task in the same style that solution load tasks

[2022-05-12 18:34] zivkan commented on #11607
.NET SDK 6.0.300 has shipped now, so upgrading will resolve this issue.

[2022-05-12 18:34] #11607 closed, assigned to zivkan

[2022-05-12 18:42] sharwell commented on #11814
Yes. Restore on Build shows in the build output window, so it doesn't need to show in the task status center or status bar. Only restore operations _not_ tied to a build need to show separately.

[2022-05-12 18:43] zivkan commented on #11800
The private feeds need to implement the Nuget API to provide Visual Studio with the information/links to display.

Unfortunately for embedded readmes, the documentation appears to be lacking, so I've filed this docs bug as a first step: https://github.com/NuGet/docs.microsoft.com-nuget/issues/2752

[2022-05-12 18:44] #11800 closed, assigned to nobody

[2022-05-12 18:45] nkolev92 commented on #11814
Closing as dup.

I'll leave a comment in the other issue.

[2022-05-12 18:45] #11814 closed, assigned to nobody

[2022-05-12 18:45] nkolev92 commented on #9396
We should try not having a task status center for on build and explicit restore, but have one only for solution load.

[2022-05-12 21:56] marnilss commented on #11811
Yes, finally managed to reproduce the problem. Vital for the reproduction is to use the following MSBuild properties (in addition to folder based feed in nuget.config file):
[code]
NOTE: I'm specifying these MSBuild properties in Directory.Build.props file, instead of the csproj file. But that has no impact for sample, but is how I usually structure things for similarity between all csproj files i

[2022-05-13 07:35] artem-iron commented on #5621
Same here with PackageId problem. 4 .csproj files had the same PackageId in them, once changed - nuget restore went smoothly

[2022-05-13 09:11] cbersch commented on #11574
@roycornelissen Works for me with Ubuntu if I install the `mono-devel` package

[2022-05-13 13:02] zivkan commented on #9396
Another option is to start the restore, and if it takes more than x time (0.5 seconds? 1 second?) to add the task status center item. That way quick restores don't cause a popup, but longer restores do (whether it's solution load, git branch change, manually editing a csproj).

[2022-05-13 14:16] xPaw commented on #11758
I had warnings as errors in my csproj.

[2022-05-13 15:35] #11795 closed, assigned to nkolev92

[2022-05-13 16:42] nkolev92 commented on #9396
The API is a bit of a nightmare :D It requires you to pass it a task and it basically tracks completion based on the task returning.

[2022-05-13 16:42] nkolev92 commented on #9396
Also right now PC and PR restores are completely separate, 2 different progress reportings, so we'd need to combine that somehow, so require some refactoring there.

[2022-05-13 16:48] ericstj commented on #11782
Not looking for alternatives unless those are easy to use diagnostics.  The goal here is to help folks easily reason about where packages are coming from.  It should be a simple flag to enable then logging should tell them all the possible sources of where a package might have come from.

[2022-05-13 17:13] nkolev92 commented on #11811
@marnilss

NU1801 is a warning, which is getting elevated to an error.

Prior to the change in the latest version, we were not respecting NoWarn or TreatWarningsAsErrors for NU1801, but now we do.
Can you try suppressing the warning?

[2022-05-13 17:36] PhilipAtz opened #11815 "The NuGet CLI stops listing packages if it fails to parse one of them"
The NuGet CLI will throw an exception and stop listing packages if one of the packages in the repo fails to parse (i.e. if it throws while parsing the version number from the filename). I have tested this with version 6.1.0. The expected behaviour would be to perhaps complain about the offending package but continue with listing the rest of the packages in the repo. We shouldn't be trashing an ent

[2022-05-13 17:40] marnilss commented on #11811
**Breakthrough! (but now I think documentation is wrong)**

In the supplied failing sample I tried to suppress the error, but failed, with this line:
`<WarningsNotAsErrors>1801;NU1801</WarningsNotAsErrors>`

BUT if I instead use the following line:
`<NoWarn>@(NoWarn);NU1801</NoWarn>`
It now works and my build completes!

So for anyone wanting to know the recipe of properties to use:
[code]

BUT: I

[2022-05-13 17:52] nkolev92 commented on #11811
`WarningsNotAsErrors` is not supported in NuGet, https://github.com/NuGet/Home/issues/5375, only NoWarn is.

The title is wrong there. I'll get that fixed.

For reference, in restore, anything ending with 0-499 is an error, anything ending with 500-999 is a warning :)

Yep.

The logic is:

Source Fails -> RestoreIgnoreFailedSources == true ? NU1801 : NU1301

Trick is NU1801 can still be elevated t

[2022-05-13 18:01] nkolev92 commented on #11811
I created a fix for NU1301. https://github.com/NuGet/docs.microsoft.com-nuget/pull/2754

[2022-05-13 20:02] dominoFire opened #11816 "Improve VS and NuGet performance by making some methods non-asynchronous"
This is a tracking issue for this PR: https://github.com/nuget/nuget.client/pull/4440

The main goal is to make some NuGet Visual Studio methods synchronous to improve Visual Studio performance.

More details in PR description.

[2022-05-13 20:10] #11816 closed, assigned to nobody

[2022-05-13 20:17] dominoFire opened #11817 "Redundant calls to get `VsHierarchy` in NuGet VS code"
This is a tracking issue for PR: https://github.com/NuGet/NuGet.Client/pull/4439/files

There are some VS call that fetches `IVsHierarchy`-based objects, which can be redundand in NuGet client code.

More details on PR description.

[2022-05-13 20:19] #11817 closed, assigned to nobody

[2022-05-13 22:33] ericstj opened #11818 "[Bug]: When using the CentralPackageTransitivePinningEnabled feature please avoid redundant references"
### NuGet Product Used

dotnet.exe

### Product Version

7.0.100-preview.4.22227.3

### Worked before?

No

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Grab the project from this gist: https://gist.github.com/ericstj/badca81e76de6875b1bad0958e70b0dc
2. `dotnet pack` with a 7.0 preview4 SDK.
3. Examine the nuspec.

**Expect:**
No dependency listed for `System.Text.

[2022-05-16 08:04] Zastai commented on #10735
With a Visual Studio now released that actively _requires_ source mapping when using central version management with more than one source, it'll be more important to be able to do this.

[2022-05-16 08:11] ransagy commented on #10735
Is there documentation for this change? So far I've noticed it as a warning only. Seeing as how there are still some open issues on using source mapping (like the very basic restore tasks in Azure Pipelines not supporting it) I'd be surprised if this became a breaking change.

[2022-05-16 13:46] ViktorHofer commented on #11818
cc @jeffkl

[2022-05-16 15:20] a98c14 opened #11819 "[Feature]: Support for specific suffix after wildcard version using floating notation"
### NuGet Product(s) Involved

MSBuild.exe, dotnet.exe

### The Elevator Pitch

Currently, NuGet package versions support floating notation, e.g `1.5.*-*`, `*-*`. However, it does not support a specific version suffix after a floating version like `1.5.*-beta`. I want to be able to always use the beta version despite whatever version number I am on for my package.

### Additional Context and Detai

[2022-05-16 19:19] nkolev92 commented on #10735
The CPM requirement is documented in https://docs.microsoft.com/en-us/nuget/consume-packages/central-package-management#warning-when-using-multiple-package-sources.

Please note that those tasks are not  what the azure devops team recommends anymore.
They want to deprecate that and have people use `NuGetAuthenticate` and issue direct commands to dotnet.exe the same way you would locally.

[2022-05-16 19:26] Zastai commented on #10735
Well, the /warning/ is now documented, yes. What is not documented is /why/ the warning is issued. Is it just a strong recommendation? Or will there be actual breakages if I add `NU1507` to `NoWarn`? If so, what kind of breakages?

Note that given warnings-as-errors is a common thing in release builds, the introduction of the warning is a potentially breaking change, should probably have been give

[2022-05-16 20:30] ransagy commented on #10735
Warning and Required are two different things. Will a restore/build break or stop if no source mapping is enabled in any current released VS/NuGet/dotnet CLI?

Also; key word, want to. Which is another new, relatively jarring change esp. if the above is true.

[2022-05-16 20:37] nkolev92 commented on #10735
I'd appreciate if you folks could file an issue at NuGet/Home with these questions, that way others can discover this discussion.

I'll loop in right people to help answer your questions and concerns.

[2022-05-16 20:38] Zastai commented on #10735
Only when warnings-are-errors is set, which is not an uncommon release build scenario.

Which is why it's relevant to know what, if anything, will break if the warning is inhibited via `NoWarn`, which would be the obvious workaround.

It's also not super clear to me whether it's the presence of source mapping that us required, or whether the mapping has to be non-overlapping. I'll have to see whet

[2022-05-16 20:40] nkolev92 commented on #11819
@a98c14

Would `1.5.*-beta*` work for you?

[2022-05-16 21:13] a98c14 commented on #11819
I actually didn't try it like that at all, my bad. It works perfectly for us. Thanks a lot 👍

Also, very nice tool, I didn't know that existed either.

[2022-05-16 21:15] martinrrm commented on #10759
Completed in Azure DevOps, https://experimentation.visualstudio.com/ExpMetrics/_git/VisualStudioInProc/pullrequest/156881

[2022-05-16 21:15] #10759 closed, assigned to martinrrm

[2022-05-16 21:18] #11798 closed, assigned to nkolev92

[2022-05-16 21:24] a98c14 commented on #11819
Just a quick question regarding `1.5.*-beta*`. Let's say I have `1.5.3-charlie` and `1.5.3-beta` available, would it match `beta` or `charlie` if I have `1.5.*-beta*` in my version?

[2022-05-16 21:36] #11819 closed, assigned to nobody

[2022-05-16 22:16] nkolev92 commented on #11819
Glad you found the tool helpful.

Consider upvoting https://github.com/NuGet/NuGetGallery/issues/7828, which covers adding this tool to the nuget.org website directly.

[2022-05-16 23:23] specialforest commented on #11607
I still may have the issue with SDK v6.0.300:
[code]

[2022-05-17 07:08] kenans commented on #11758
UPDATE: we resolved the issue by removing all the incompatible transitive dependencies. After that, we no longer have NU1701 warnings. [This sample project](https://github.com/NuGet/Samples/tree/main/AssetTargetFallbackTransitiveDependencies) explains why NU1701 wasn't reported before, and why it got surfaced out since Nuget 6.2

[2022-05-17 08:06] xPaw commented on #11758
This issue is about making the warning more informative, not resolving it.

[2022-05-17 11:02] Nirmal4G commented on #11585
Also, please have default mapping rules for built-in sources, like Visual Studio offline source and NuGet.

[2022-05-17 15:37] Zastai opened #11822 "[DCR]: Issues with new NU1507 warning"
### NuGet Product(s) Affected

MSBuild.exe, dotnet.exe

### Current Behavior

With the VS 2022 17.2 (.NET SDK 6.0.300) release, a change has been introduced in the handling of CentralPackageVersionManagement: if there are multiple package sources defined, a new warning, `NU1507`, is issued.

Note: the current nuget.exe (6.1.0) _does not_ issue this warning (but I'm assuming the next version will?)

[2022-05-17 15:38] Zastai commented on #10735
Done - #11822. Wasn't sure what the best issue type was, so used [DCR]. I think it covers what was talked about here.

[2022-05-17 16:25] Zastai opened #11823 "Incompatible change to NuGet package resolution"
### NuGet Product Used

dotnet.exe, MSBuild.exe

### Product Version

6.0.300 / 17.2

### Worked before?

6.0.20x / 17.1

### Impact

It's more difficult to complete my work

### Repro Steps & Context

We have a company nuget server (using Nexus), which hosts not only our own packages, but also any versions of third-party packages that have been allowlisted (so no nuget.org access).

We only targe

[2022-05-17 16:45] breidikl commented on #11564
Note that this causes failures when using lock files, since the transitive dependencies are not listed ("dotnet restore --use-lock-file" fails before attempting to update).  You need to use --force-evaluate in order for the lock file to be correctly updated.

https://github.com/NuGet/Home/issues/5740 also becomes more problematic after this change.

[2022-05-18 15:26] philipstratford opened #11824 "[Bug]:"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Visual Studio 17.2.0, NuGet Package Manager 6.2.0

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

In Visual Studio 2022 Community Edition running on Windows Server 2012 R2, when I open the NuGet Package Manager UI, the Browse tab, after a few seconds, display

[2022-05-18 15:41] dauger commented on #11824
I'm seeing the same on our on prem Azure DevOps Server build agents running on Windows Server 2012R2. The nuget restore step is failing with the same error. The step is using Nuget version 5.11.0.10. I first noticed the failure yesterday after adding a nuget package to a codebase that wasn't in the local cache already.

[2022-05-18 16:17] zivkan commented on #11824
Related:
* https://github.com/NuGet/Announcements/issues/60

Moving to NuGetGallery, as this is a nuget.org connection issue

[2022-05-18 16:19] Stefan137 commented on #3584
File separator handling in globbing expressions should really be documented and fixed. Bugs like [the one reported by beatcracker](https://github.com/NuGet/Home/issues/3584#issuecomment-967327536) cause [issues in other projects](https://gitlab.kitware.com/cmake/cmake/-/issues/22489#note_1186995), while the root cause is within NuGet. A portable solution (e.g., support slashes on all platforms) wo

[2022-05-18 21:03] DreadLordMikey commented on #11292
When you say this "is fixed in the latest 6.0", what exactly are you referring to? .NET 6.0? NuGet? Something else?

Our Azure build pipelines are using dotnet pack, and this is still impacting us. When was this update released, and what update was it released in? I need to communicate this information to my superiors, as it's a blocking issue for us.

[2022-05-19 02:35] dfederm commented on #11564
@Dan-Albrecht yes 6.0.300 corresponds with VS 17.2

[2022-05-19 18:32] nkolev92 commented on #11805
Started by https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=5985668&view=results.

[2022-05-19 18:33] nkolev92 commented on #11811
@marnilss

I think this is resolved. I'm closing this issue now. Please let us know if you disagree.

[2022-05-19 18:33] #11811 closed, assigned to nkolev92

[2022-05-19 18:35] nkolev92 commented on #11815
@PhilipAtz

In nearly all scenarios, NuGet employs a fail fast approach with a misbehaving feed that has unparsable data.

Changing this everywhere would be a big change.
Not sure if we'd want to consider changing list only at this point.

[2022-05-19 19:33] GNUGradyn commented on #8809
Are there plans to implement this? I have a local nuget folder that I put development versions of shared libraries in, I need to be able to load snuget packages from there along with their nuget packages so I have debug symbols.

[2022-05-19 21:52] zivkan commented on #11210
I had a brief chat with @kartheekp-ms, and I'm also using this as an excuse to use Mermaid for the first time 😁.  But keep in mind I consider my knowledge of NuGet's credential provider to be almost zero.

Let's consider the timeline where the server uses HTTP basic auth (so not Azure Active Directory, or other OAuth2 where the cred provider will validate username/password before passing back the

[2022-05-19 22:01] kartheekp-ms commented on #11210
Great diagram Andy. I love using Mermaid too.

The question that I have is should the `retry` be set to `true` for `sequence no:16` in the diagram?

[2022-05-19 22:11] zivkan commented on #11210
On the topic of expired OAuth2 tokens, doing just a quick search, I found this interesting StackOverflow answer about refreshing OAuth2 tokens: https://stackoverflow.com/a/30826806/2843065

It claims that Facebook retuns HTTP 467 Invalid access token, whereas LinkedIn and PayPal return HTTP 401 Unauthorized. I'm not an auth expert, but I'm guessing it might be possible that all HTTP 401 (or 467) c

[2022-05-19 22:22] #11808 closed, assigned to nkolev92

[2022-05-19 22:39] FaustinCarter commented on #3584
Just got bit by this today. Took ages to figure out that I needed to switch to backslash for Windows. Would love to have a cross-platform solution!

[2022-05-19 23:12] jzabroski commented on #3584
@JonDouglas I dont know if this is something your team is looking into, but the general lack of documentation on this is frustrating. More and more people will get bit by this as people use Nuget 6 (upgrade to VS 2022 for example).

[2022-05-20 07:24] Rabadash8820 commented on #1203
I hate to be that guy, but this issue has been around for almost 7 years... I see that this was put on the "backlog" last July; does that mean it will actually receive some attention in the next decade? Integration of NuGet release notes with Keep a Changelog would really be fantastic.

[2022-05-20 21:29] martinrrm commented on #11573
The XML parser uses a map and cannot handle duplicate keys, to enable this we will need to do a custom parser for XML

[2022-05-22 19:52] sbenzenko opened #11826 "[Bug]: NuGet Package Manager does not update Directory.Packages.props"
### NuGet Product Used

Visual Studio Package Management UI
Visual Studio Package Manager Console

### Product Version

dotnet 6.0.300, Visual Studio 17.2.1

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

When using Central Package Management with `Directory.Packages.props` file on solution level, trying to update package from _Vi

[2022-05-22 22:10] #10189 closed, assigned to kartheekp-ms

[2022-05-23 11:50] gonzalofernandezmoya commented on #10745
I was suffering exactly this but I hadn't got the NuGet.org source.

I will leave here the content of the XML so it may help anyone
[code]

[2022-05-23 13:55] jamers99 commented on #11673
@greengumby fixed it for me too! Thanks!

[2022-05-23 16:28] jonathan-hamilton opened #11827 "[Bug]:"
### NuGet Product Used

Visual Studio Package Manager Console

### Product Version

VS 2019, .netcore 4.0

### Worked before?

no

### Impact

_No response_

### Repro Steps & Context

Create console app .net framework

In VS, Tools/Nuget Package Manager/ Manage Nuget Packages for Solution, install Microsoft.Azure.Cosmos any version

install fails with error below

(the same thing happens when you

[2022-05-23 17:05] #11827 closed, assigned to nobody

[2022-05-23 17:21] jeffkl opened #11828 "[Bug]: Installing a package in Visual Studio when using central package management results in an error before projects can be modified"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Latest

### Worked before?

No

### Impact

I'm unable to use this version

### Repro Steps & Context

When installing a new package in Visual Studio, NuGet attempts to preview the restore by modifying the graph and running the restore without committing it to disk.  However, the package dependency that gets added to

[2022-05-23 17:49] erdembayar opened #11829 "Compatibility tenet work"

[2022-05-23 21:16] heng-liu commented on #11792
Hi @Saibamen , I tried to repro with the following steps but it worked correctly. Could help check if the following works for you? Or if there is anything different from your repro steps? Thanks!

1.Install dotnet sdk version 6.0.202 with nopath and set `DOTNET_MULTILEVEL_LOOKUP` to 0, to make sure the 6.0.202 is used for repro.
[code]
2.Create a new classlib Test11792
`C:\test\dotnet.exe new clas

[2022-05-23 22:25] nkolev92 commented on #11209
PackageReference only has 1 resolution algorithm which prefers lowest.

The general ask is tracked here: https://github.com/NuGet/Home/issues/5553.

[2022-05-23 22:25] #11209 closed, assigned to nobody

[2022-05-23 22:38] nkolev92 commented on #11829
@erdembayar Moving this to Client.Engineering.
This is more of an epic/tracking issue that doesn't have a direct client action.

[2022-05-23 23:02] nkolev92 commented on #6803
Fixed https://github.com/NuGet/NuGet.Client/pull/3247, in 5.6

[2022-05-23 23:02] #6803 closed, assigned to nobody

[2022-05-23 23:11] pragnya17 commented on #11807
When using the CLI command `dotnet add package` on a project that is already onboarded to Central Package Management the following error is thrown: `error: NU1008: Projects that use central package version management should not define the version on the PackageReference items but on the PackageVersion items: [PackageName].`

The aim of this project will be to resolve this by enabling the dotnet CL

[2022-05-23 23:48] nkolev92 commented on #11823
Hey @Zastai,

What you are seeing is a change in 6.2, https://docs.microsoft.com/en-us/nuget/release-notes/nuget-6.2#summary-whats-new-in-62, best described in https://github.com/NuGet/Samples/tree/main/AssetTargetFallbackTransitiveDependencies.

The tldr is when `AssetTargetFallback` was being used before, the dependencies weren't being downloaded.

Because you have `microsoft.netframework.refere

[2022-05-23 23:53] Saibamen commented on #11792
@heng-liu:

Where I can download `dotnet-install.ps1`?

I see the differences now:

For new `csproj` (SDK-style) template (`<Project Sdk="Microsoft.NET.Sdk">`) it works as expected -> update existing `<PackageReference>`.

But for old `csproj` template (`<?xml version="1.0" encoding="utf-8"?><Project ToolsVersion="12.0" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2

[2022-05-24 00:37] nkolev92 commented on #8416
This tends to hit people developing for NuGet.
We have a net40 and a net45 dependency and both of those can be difficult to download targeting packs for.

In fact that VS installer doesn't provide the option for these 2.

[2022-05-24 00:40] nkolev92 commented on #8416
https://docs.microsoft.com/en-us/dotnet/framework/install/guide-for-developers even calls out that VS 2022 should not be used for development of net45 and net40, it's unsupported.

cc @drewgillies

Obv to address the above you'd need to remove NuGet.Packaging.Extraction which is a different discussion.

[2022-05-24 00:50] nkolev92 opened #11830 "Remove net45 and net40 targets from the NuGet build"
These are outdated and out of support frameworks.

Currently VS 2022 doesn't even give you the option to install the framework components for .NET Framework 4.0 - 4.5.1, which means that you have to jump through hoops to get those targeting packs installed.

See : https://docs.microsoft.com/en-us/dotnet/framework/install/guide-for-developers

I understand that there are other reasons for targettin

[2022-05-24 00:56] nkolev92 commented on #11830
Related https://github.com/NuGet/Home/issues/8416.

cc @zivkan

[2022-05-24 00:58] heng-liu commented on #11792
Thanks @Saibamen ! I could repro for non-SDK style project.

You don't have to do step1 :) I added this step just to use the same dotnet version with you

[2022-05-24 01:01] heng-liu commented on #11792
1.If run `add  package SimpleInjector.Packaging --version 4.10.2` to a newly created non-sdk project, it will fail with:
`error: Error while adding package 'SimpleInjector.Packaging' to project 'C:\Repos\ClassLibrary5\ClassLibrary5\ClassLibrary5.csproj'. The project does not support adding package references through the add package command.`

2.If I install a package SimpleInjector.Packaging (4.10

[2022-05-24 01:19] drewgillies opened #11831 "Refactor NuGet CLI list runner code to better support unit testing"
I'd like to explore an opportunity to make the CLI list command code more robust. Currently we have a codebase with challenges to unit testability. Here are a few examples from the method `ExecuteCommandAsync` in the `ListPackageCommandRunner` class:

- https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.CommandLine.XPlat/Commands/PackageReferenceCommands/ListPackage/ListPackageCom

[2022-05-24 02:24] danielchalmers commented on #3584
Ran into this problem as well (on Windows 10 21H2).

Forward slash in `dotnet pack MyApp/MyApp.csproj -o publish` works,
but `dotnet nuget push ... publish/*.nupkg` returns `error: File does not exist (publish/*.nupkg).`.

Changing from `publish/*.nupkg` to `publish\*.nupkg` makes it work. Not great.

[2022-05-24 02:49] drewgillies commented on #11830
@zivkan @nkolev92 If net40 and net45 do need to be there, installing from VS 2019 isn't too bad if you avoid all workloads and just select the two targeting packs. It's done in a few minutes.

[2022-05-24 14:08] vgriph commented on #11798
Is the fix for this issue released in any Visual Studio version?

[2022-05-24 15:18] janstaelensskyline commented on #3830
Would it be possible to add fixing this bug back to the backlog? I've come across this myself while trying to make a NuGet starting from a NuSpec file and individual DLLs where only some of them should be referenced but the others should be present as dependencies for the referenced nugets.

[2022-05-24 15:46] zivkan commented on #3830
We prioritize work on a number of factors, including upvotes. At the time I'm posting this, this issue has only 1 upvote (despite one of the comments having 6 upvotes 😕 ).

Since this issue is already assigned to me and tagged as quality week, I hope I'll eventually get to it without upvotes. But upvotes will help when we look at [quality week issues sorted by upvotes](https://github.com/NuGet/Hom

[2022-05-24 17:13] JonDouglas opened #11834 "[DCR]: Central Package Management - Respect .props file as a way to opt-in to the feature."
### NuGet Product(s) Affected

Other/NA

### Current Behavior

To opt-in to central package management, one must explicitly enable a MSBuild property today. This brings quite a bit of confusion to users given the original spec mentions that if a file exists, all projects will be opted-in to the feature.

https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions#opt-in-central-pa

[2022-05-24 19:37] heng-liu commented on #11792
Duplicate of: https://github.com/NuGet/Home/issues/8561

[2022-05-24 20:01] Saibamen commented on #8561
This is probably the only workaround

[2022-05-24 20:02] Zastai commented on #11823
I wish there was more care taken with introducing breaking changes in point releases...

Now I'll need to add a conditional, one something that has no "nice" variable to test, because AFAIK there is no property set to the "class" of target specified by `$(TargetFramework)` (something with a value like "netfx", "netstandard", "netcore").

I'll have to hope that something like `$(TargetFramework.Sta

[2022-05-24 23:01] nkolev92 commented on #11823
Consider using the MSBuild property functions instead:

https://docs.microsoft.com/en-us/visualstudio/msbuild/property-functions?view=vs-2022#msbuild-targetframework-and-targetplatform-functions

You might be able to condition on the TargetFrameworkIdentifier as well.

[code]

here's the dotnet list package of the above project:

[code]

[2022-05-24 23:01] #11823 closed, assigned to nkolev92

[2022-05-24 23:33] nkolev92 commented on #11830
I'm not sure I agree with the sentiment that it is difficult to service all versions.

If the last version on which we leave NuGet is an LTS version one through either VS or .NET SDK, then we will be maintaining the build on that branch.

How often would we try to service NuGet.Packaging.Extraction?
How often has .nupkg.metadata changed? Is the change a breaking change or is it a nice to have?

Fa

[2022-05-25 00:31] wrall commented on #11669
I see that there hasn't been a PR for this, so I'm submitting one.  This probably doesn't have a substantial performance impact - I was not able to reproduce the significant slowness reported in @mjolka's [LotsOfDependenciesIntersect](https://github.com/mjolka/LotsOfDependenciesIntersect) solution.  Perhaps that was remedied by the fix for #11222.

[2022-05-25 01:34] yangskyboxlabs opened #11836 "[Bug]: Hierarchical nuget.config files are ignored when `-configFile` parameter is used"
### NuGet Product Used

NuGet.exe

### Product Version

6.1.0, 5.3.1

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

When `-configFile` option is used to invoke NuGet.exe, hierarchical configuration support appears to be disabled. This contradicts the documented behaviour: https://docs.microsoft.com/en-us/nuget/consume-packages/co

[2022-05-25 16:46] jeffkl commented on #11830
I can fix the build errors by referencing [Microsoft.NETFramework.ReferenceAssemblies](https://www.nuget.org/packages/Microsoft.NETFramework.ReferenceAssemblies) so you no longer need VS 2019 workloads installed to build.

https://github.com/NuGet/NuGet.Client/compare/dev-jeffkl-reference-microsoft-netframework-referenceassemblies?expand=1

Can I send a PR?

[2022-05-25 17:41] nkolev92 commented on #11830
PR would be great. I'd still love to remove these targets altogether from our latest builds.

[2022-05-26 05:50] heng-liu commented on #11836
Thanks @yangskyboxlabs ! I could repro.
When `-configFile` is specified,  only the specified config file is used.
But the document at https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#how-settings-are-applied says NuGet loads settings from the different config files in a certain order.
Shall we fix the document?

[2022-05-26 08:51] yangskyboxlabs commented on #11836
Yes, please fix the online documentation.

I've also just now noticed that the in-app help documents the correct, actual behaviour with `-configFile`:
[code]

[2022-05-26 11:28] zivkan commented on #11830
This doesn't work in VS, so it's still necessary to install VS2019 just for the two netfx targeting packs, if you want to build NuGet.sln in VS2022.

[2022-05-26 14:27] zivkan commented on #11798
Not yet. It will be in VS 17.3 preview 2.

[2022-05-26 15:03] jeffkl commented on #11830
@zivkan That's funny that the error fails the design time build so Project System doesn't even restore the project to get the reference assemblies.  How about I add conditions to just not build `net40` and `net45` in Visual Studio?  It will still build everything from the command-line but make our build work in VS.

[2022-05-26 15:05] jeffkl commented on #11830
This is what it would look like: https://github.com/NuGet/NuGet.Client/compare/dev-jeffkl-reference-microsoft-netframework-referenceassemblies?expand=1

[2022-05-26 15:50] zivkan commented on #11830
Works for me. Did you test on a VM that does not have the .NET Framework targeting packs installed, to verify that it actually works for potential contributors who try?

[2022-05-26 16:00] jeffkl commented on #11830
Yes, I've been hitting this error since I joined the team because I don't have VS 2019 installed.  I never understood what was going on so I've been ignoring the error.  The changes fixed the errors for me!

[2022-05-26 16:41] zivkan commented on #8416
Closing as a duplicate/subset of https://github.com/NuGet/Home/issues/11830

[2022-05-26 16:41] #8416 closed, assigned to nobody

[2022-05-26 17:00] nkolev92 commented on #11830
I don't think we should do the building in visual studio change.
It will invalidate no-op restore and cause a full rerestore.

[2022-05-26 17:05] GNUGradyn opened #11837 "[Feature]: Allow specifying a package source for a PackageReference in the csproj"
### NuGet Product(s) Involved

MSBuild.exe, dotnet.exe

### The Elevator Pitch

Say your company has a nuget package on their private nuget repository called `VeryGood.Package`, and an unrelated package also exists by the same name on nuget.org. This is not a problem when working on the project locally in visual studio, because the Nuget Package Manager tab will show both when you search and you c

[2022-05-26 18:20] JonDouglas commented on #11547
I've drafted an initial spec with motivation and scenarios here:

https://github.com/NuGet/Home/pull/11838

[2022-05-26 18:43] heng-liu commented on #11837
Hi @GNUGradyn , we implemented package source mapping feature last year.
Do you think that solve this problem? Thanks!

The doc is https://github.com/NuGet/Home/blob/dev/implemented/2021/PackageSourceMapping.md
and https://devblogs.microsoft.com/nuget/introducing-package-source-mapping/

[2022-05-26 18:43] zivkan commented on #11804
Closing as there has not been any reply in 2 weeks.

[2022-05-26 18:43] #11804 closed, assigned to nobody

[2022-05-26 18:47] zivkan commented on #11792
Closing issue as duplicate

[2022-05-26 18:47] #11792 closed, assigned to nobody

[2022-05-26 18:50] zivkan commented on #8561
Team triage meeting: non-SDK projects are not intended to be supported by the dotnet cli.  We should check if there's an easy way for us to detect if the project is SDK or not, and error out, rather than adding a duplicate (probably less effort than actually fixing the issue)

[2022-05-26 18:59] GNUGradyn commented on #11837
Yes, this is perfect. thank you

[2022-05-26 18:59] #11837 closed, assigned to nobody

[2022-05-26 21:17] heng-liu commented on #11837
Close as fixed.

[2022-05-27 03:57] pensono commented on #11724
Now that this feature has been made generally available, can this warning be removed?

[2022-05-27 10:19] Saibamen commented on #8561
Error?

What about currently used scripts in CI pipelines?
Please make it as warning.

[2022-05-27 11:10] yiszza opened #11839 "[Bug]: PackageReader.CanVerifySignedPackages(SignedPackageVerifierSettings) result is always true in the maui.android"
### NuGet Product Used

NuGet SDK

### Product Version

NuGet.Protocol-v6.2.0

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Maybe the problem in the `RuntimeEnvironmentHelper.IsMono`, `RuntimeEnvironmentHelper.IsMono` should return true, but in the Maui.android, `RuntimeEnvironmentHelper.IsMono` return false

### Verbose Logs

_No re

[2022-05-27 13:55] zivkan commented on #11584
@VasekLexa thanks for the comment. Please also upvote the original comment, to help our triage process: https://github.com/NuGet/Home/blob/dev/Issue-Triage-Policy.md#up-voting-a-feature-requestbug

[2022-05-27 16:49] jchristn opened #11840 "[Feature]: Add indexing status to the status page"
### NuGet Product(s) Involved

Other/NA

### The Elevator Pitch

Indexing has taken over an hour for a package I've published.  Please add indexing status to the status page on nuget.org

### Additional Context and Details

_No response_

[2022-05-27 17:23] #11734 closed, assigned to martinrrm

[2022-05-27 17:23] #11802 closed, assigned to martinrrm

[2022-05-27 21:06] #11653 closed, assigned to nkolev92

[2022-05-28 00:45] heng-liu commented on #11839
Hi @yiszza , thanks for taking time filing this issue.
May I know your os and platform?
And how about `RuntimeEnvironmentHelper.IsWindows`, `RuntimeEnvironmentHelper.IsMacOSX` and `RuntimeEnvironmentHelper.IsLinux`?
BTW, may I know what are you going to use this API CanVerifySignedPackages for? Thanks!

[2022-05-28 01:11] yiszza commented on #11839
net6-android31.0

[2022-05-29 09:32] CamiloTerevinto commented on #1823
Six years, multiple iterations of VS (2015, 2017, 2019, 2022), and we still don't have release notes!

Why is this taking so long? It's just another field for the NuGet Package Manager UI

[2022-05-30 03:03] zhangyazhong opened #11841 "How to include nuget lib's dll.config into my project's output binary folder?"
I have an SDK style C# project "HelloWorld" whose .csproj is like below
[code]
The `ABCLibrary` files in my local nuget cache are under
`C:\Users\MyUsername\.nuget\packages\abclibrary.retail-amd64\1.0.0\lib\net472` and have such files:
- ABCLibrary.dll
- ABCLibrary.dll.config

When I build my project "HelloWorld", the output binary folder only has `ABCLibrary.dll` but no `ABCLibrary.dll.config`. B

[2022-05-30 06:51] sungam3r commented on #1823
😢 Sometimes the best way out will be to accept the reality of what it is.

[2022-05-30 14:59] Steinblock opened #11842 "[Feature]: Allow to specify version range for packagereferences while using the latest / a specific version during build."
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

In a packagable project it should be possible to specify a specific version in a `PackageReference` inside a .net core project file that is used for package restore but still use a version range in the resulting nupkg-File.

### Additional Context and Details

# Situation

I  a dotnet core project you can define PackageReferences t

[2022-05-30 20:27] bjuraga commented on #1823
Or close this as "won't fix" instead of dragging it out?

[2022-05-31 03:49] asklar opened #11843 "How to create a NuGet package for a tool built in .net, to be used in a native C++ project"
### NuGet Product Used

dotnet.exe, MSBuild.exe, NuGet.exe

### Product Version

.net 5

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

I am writing a tool in .net and need to create a nuget package from it. This tool / nupkg is to be used from native C++ projects.
So the target framework for the tool itself is something like net5.0, where

[2022-05-31 04:03] johnfrombluff commented on #8169
Does not work for me, sadly, on Fedora 36 Silverblue.

[2022-05-31 16:08] jeffkl commented on #11842
I've wanted this functionality as well for some time.  NuGet currently uses the safest version of a dependency, the one used to build your component.  It is a little tricky since semantic versioning is used and the proposal here is to say that you want to tell NuGet the version of a dependency that _could_ be used by others.  But there is no guarantee that there are breaking changes.

A better use

[2022-05-31 16:16] jeffkl commented on #11843
@asklar The folder that .NET tools is packaged under is necessary for them to work correctly.  When the tool is installed, its placed under a folder that matches its runtime and that version is used when the tool is executed.  `native` is not a valid runtime for .NET so I don't think this will work.  If you want to build a package that can be referenced by a project then placing the stuff under `n

[2022-05-31 17:47] #8831 closed, assigned to nobody

[2022-05-31 20:05] asklar commented on #11843
hi @jeffkl !
The idea is to ship a nuget package that will be referenced by C++ apps. The nuget package will contain a tool, which happens to be written in .net 5. The nuget package has props/targets that add some Target that runs this tool during the app's project's build.

I'm therefore looking for guidance for the best way to produce such a nuget package from a .net 5+ C# project. Setting the P

[2022-05-31 20:32] jeffkl commented on #11843
Okay thanks for clarifying.  Support for native tooling in NuGet is limited as its really designed for packaging up dependencies for managed projects.

You can accomplish this manually with the following logic:

[code]

1. The `IncludeBuildOutput` property set to `false` disables the built-in packing of the project's outputs
2. The `TargetsForTfmSpecificContentInPackage` property can be used to in

[2022-05-31 21:13] erdembayar opened #11844 "[Bug]: Error message for dotnet nuget push with apikey from another machine need improvement"
### NuGet Product Used

dotnet.exe

### Product Version

n/a

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

If you create apikeys with "nuget setapikey xxxxx -source somesource" then it creates `apikeys` section in nuget.config.
If you copy whole repo including nuget.config into another machine, then try push nupkg then it gives me `e

[2022-05-31 21:30] erdembayar opened #11845 "[Bug]: dotnet nuget pack is missing create snupkg option"
### NuGet Product Used

dotnet.exe

### Product Version

n/a

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

For nuget.exe there is dedicated option for creating snupkg with it. `nuget pack -symbols -version 1.0.0  -SymbolPackageFormat snupkg`, but same option doesn't exist for for `dotnet nuget pack` and we have to pass as property fo

[2022-05-31 22:57] erdembayar opened #11846 "[Bug]: dotnet nuget push not detecting apikey for 3rd party symbol server"
### NuGet Product Used

dotnet.exe

### Product Version

n/a

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Set apikey for `myget repo v3 index`.
2. Create nupkg + snupkg.
3. Please do `dotnet nuget push .\somepackage.1.1.0.nupkg --source myget`
It doesn't detect apikey for 3rd party symbol server, not sure if it's myget implementa

[2022-06-01 03:08] williamdenton commented on #11790
json format would be excellent

[2022-06-01 05:42] asklar commented on #11843
confirming that this worked great :) Thanks for the help @jeffkl, I wouldn't have figured it out alone :)

[2022-06-01 07:03] wazzamatazz opened #11847 "[Feature]: Get centrally-managed package versions via build properties"
### NuGet Product(s) Involved

MSBuild.exe, dotnet.exe

### The Elevator Pitch

In a similar way that MSBuild path properties can be generated for packages, it would be great if centrally-managed package versions could be made available as build properties.

### Additional Context and Details

I have a repository where one of the projects contains project templates for Visual Studio and `dotnet ne

[2022-06-01 15:26] #11790 closed, assigned to nobody

[2022-06-01 15:32] jeffkl commented on #11843
Great, glad to help!

[2022-06-01 15:32] #11843 closed, assigned to jeffkl

[2022-06-01 15:37] jeffkl commented on #11847
As you mentioned, I think the best solution is to define the properties yourself.

`Directory.Packages.props`:

[code]

The version is still defined in one place and you can use the value in all kinds of custom ways. I can see how it would be convenient for NuGet to generate the property for you but this other method is also pretty straightforward.

[2022-06-02 07:40] AlexeyStarkov commented on #3891
probably they have been collecting consumer feedback
As per @rrelyea : https://github.com/NuGet/Home/issues/3893#issuecomment-265843267
...still... since 2016

[2022-06-02 09:35] v-luzh commented on #11806
Hi @martinrrm, it still repro on Dev\6.3.0.75 as below. I am reopening it now.
![image](https://user-images.githubusercontent.com/20632625/171601405-f2c696e0-f745-4dec-99a2-e7bf7ef740c2.png)

[2022-06-02 09:35] navs commented on #6027
Thanks !
It works for me.

[2022-06-02 15:47] MsdnUsrSince1994 opened #11850 "[Feature]: nuget.exe uninstall command"
### NuGet Product(s) Involved

NuGet.exe

### The Elevator Pitch

nuget.exe has an install command but no uninstall command.  This is an obvious oversight and quite annoying when needed.
This is especially important when nuget.exe has been run outside any project, thus making the installed packages unavailable to commands that can only be run in a project context.

### Additional Context and Detai

[2022-06-02 18:37] zivkan commented on #11796
We are closing this issue since we didn't hear back from you, but definitely let us know if you can still reproduce this problem on the latest version of NuGet. Thank you for your feedback and happy coding!

[2022-06-02 18:37] #11796 closed, assigned to nobody

[2022-06-02 18:40] zivkan commented on #11830
team triage meeting: @aortiz-msft agrees with @nkolev92.  We'll remove net45 and net40, and if we need to service NuGet.Packaging.Extraction, we'll do it from whatever `release-*` branch had the last published package.

[2022-06-02 18:47] zivkan commented on #11839
Team triage meeting:  Our team's focus is on nuget.exe, dotnet cli and VS, but we're happy to take contributions for NuGet SDK improvements.

[2022-06-02 23:23] fowl2 opened #11851 "[Bug]: NuGet 6.2 incompatible with lock file from NuGet 6.1 - NU1101: Unable to find package"
### NuGet Product Used

MSBuild.exe, NuGet.exe

### Product Version

NuGet 6.2

### Worked before?

NuGet 6.1

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Consider this csproj:

[code]

1. Restore project with NuGet 6.1 `nuget.exe restore repro.csproj`. The lock file is:
[code]

3. Delete the obj\ directory. Restore project with NuGet 6.2. Receive error:

Workar

[2022-06-02 23:29] fowl2 commented on #11851
The error message is a little different in build pipeline:
[code]

<details><summary>Full log (from a slightly more complicated sln/project):</summary>

[code]

</details>

[2022-06-03 03:08] MartinBarkerPhilips opened #11852 "[Bug]: nuget.exe command line keeps prompting for username/password"
### NuGet Product Used

NuGet.exe

### Product Version

NuGet Version: 6.1.0.106

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

I am trying to use NuGet packages with a pre-existing nightly build system, so I need to automatically check for missing / out of date NuGet package and update them if needed.

So far I've created a Visual Studio 2019 project whi

[2022-06-03 10:10] will-crawford commented on #8169
Failing on Fedora 35 here. Have tried symlinking /usr/local/ssl -> /etc/ssl, no joy.

[2022-06-03 15:37] menees commented on #11724
I concur with @pensono. This feature is no longer in preview as of NuGet 6.2, VS 2022 17.2, and .NET SDK 6.0.300 per the [Central Package Management (CPM)](https://docs.microsoft.com/en-us/nuget/consume-packages/Central-Package-Management) docs. There really needs to be a way to get rid of the "noisy by design" message now. It's not only bothersome; it's incorrect since it's no longer a preview fe