[2015-05-19 22:39] #621 closed

[2015-05-19 22:42] anurse opened #622 "Read the lock file in Restore and check for locked:true"
If the lock file exists and contains "locked: true", it should be used to constrain the packages that are restored. This code needs to be added to `RestoreCommand`.

[2015-05-20 06:14] yishaigalatzer commented on #359
No Repro - We are building and using the command line. This might have been fixed outside of this bug.

[2015-05-20 06:14] #359 closed

[2015-05-20 06:21] #248 closed

[2015-05-20 06:26] yishaigalatzer commented on #94
@feiling lets get together and look at this tomorrow.

[2015-05-20 06:35] yishaigalatzer opened #623 "First class support for extension SDKs in NuGet"
We can add top level support for SDK references, similar to how we support Framework references.

This will eliminate a case where package developers use install.ps1 or target files today.

We should couple it with CPS granular support, where we can tell if the project supports adding an SDK reference

CC // @davidfowl  @AArnott

@Aarnott I recall you showed me how to do this through a new Visual

[2015-05-20 10:16] xavierdecoster opened #624 "bad timestamp on DLL when calling nuget pack on nuspec file"
issue ported from codeplex: https://nuget.codeplex.com/workitem/4412

[2015-05-20 11:13] haf commented on #624
@xavierdecoster Thank you!

[2015-05-20 17:03] danliu opened #625 "Fix functional tests that's currently failing and reenable them"
Failed tests summary: 12 (12 new)
(new) BuildIntegratedDependencyUpdatedByInstall 		details »

(new) BuildIntegratedInstallAndUninstallAll 		details »

(new) BuildIntegratedInstallAndVerifyLockFileContainsChildDependency 		details »

(new) BuildIntegratedInstallMultiplePackages 		details »

(new) BuildIntegratedInstallPackage 		details »

(new) BuildIntegratedInstallPackagePrefersWindowsOverWindow

[2015-05-20 17:09] yishaigalatzer commented on #94
This is not critical for RTM, moving out. We need to triage this again, I don't think the effort here is justified.

[2015-05-20 17:17] #566 closed

[2015-05-20 17:18] xavierdecoster commented on #550
@GeertvanHorrik @naveensrinivasan can you please provide some detailed instructions so we can repro this?

[2015-05-20 17:19] GeertvanHorrik commented on #550
Well, it depends on the server. If I just uploaded a package, it's not always directly available. Then we get this. Sometimes it takes a few minutes to solve, sometimes hours.

[2015-05-20 17:21] lawrencejohnston opened #626 "Visual Studio 2015 RC does not pick up the repositoryPath setting from nuget.config in solution folder"
[StackOverflow question](http://stackoverflow.com/questions/30335211/how-do-i-get-visual-studio-2015-rc-to-pick-up-the-repositorypath-setting-from-my)

We use a custom location for our packages folder which we specify in a nuget.config file in the same folder as our solution:

    <settings>
        <repositoryPath>..\..\lib\packages</repositoryPath>
    </settings>

Visual Studio 2013 picks this

[2015-05-20 17:34] bhuvak commented on #563
Searching for the package from nuget.org website returns proper result. We will be removing target framework filtering in v2 as well ( as part of consolidating v2/v3 search). Hence linking  it to https://github.com/NuGet/NuGetGallery/issues/2419 and close it.

[2015-05-20 17:34] #563 closed

[2015-05-20 18:38] anurse opened #627 "A possible way forward for Content in Transitive Restore"
Currently, the `project.json`/transitive restore workflow does not support `content/` files. This hasn't been a problem in DNX because DNX is focused on Web scenarios and tools like bower and gulp/grunt are both capable and well-understood for solving this problem. Unfortunately, in other non-Web scenarios, these are less ideal (though they would, in fact, work fine).

Also, the bower/gulp/grunt w

[2015-05-20 19:29] deepakaravindr opened #628 "NuGet Powershell Console does not show up 'Restore' button properly every time it is opened. UI window does"
NuGet Powershell Console does not show up 'Restore' button properly every time it is opened. UI window does

Repro steps:

1. Create MVC Web application
2. Open NuGet Powershell console if not already open
3. Delete the packages folder
4. Open NuGet Powershell console again

Expected:

NuGet Powershell Console has a 'Restore' button

Actual:

NuGet Powershell Console does not show a 'Restore' butt

[2015-05-20 19:33] deepakaravindr commented on #628
Note that this is very likely caused by changes to unregister the UserControl loaded event on the UserControl loaded event. Because, on the user control loaded event, it is determined if packages are missing or not. In the case of Powershell Console, the PackageRestoreBar UserControl is added to the console's Panel Control, which is created only once. However, with the UI, the doc window is create

[2015-05-20 20:19] feiling commented on #456
@roryprimrose I checked our code and didn't find anything wrong. It does send out basic authentication headers.

Please use fiddler to capture all requests and responses. Then search for requests  of "GET https://nuget.myserver.com/api/v2/package/othersystem.client/2.0.2".

There should be at least two requests. The response of the first request should look like this:
[code]
Note the line `WWW-Aut

[2015-05-20 20:23] #602 closed

[2015-05-20 20:41] zhili1208 commented on #362
Fixed NuGet.VisualStudio in https://github.com/NuGet/NuGet.VisualStudioExtension/commit/03f38f01161b50a9a319d54a6563cfe8f29fddb2

[2015-05-20 20:41] #362 closed

[2015-05-20 20:49] feiling commented on #599
@patrickjamesbarry I checked our code and didn't find anything wrong. I set up a server with basic authentication and verified (with fiddler of course) that NuGet does send out basic authentication headers (on the 2nd request).

Note that every request will be sent twice. The response of the first request will be 401, and it contains the challenge, e.g.
[code]

The line `WWW-Authenticate: Basic re

[2015-05-20 20:55] feiling opened #629 "No pop up window for username/password for authenticated feed in automatic restore during build."
In fact the getting user input code is called, but it doesn't use JoinableTaskFactory so the pop up window cannot get to the UI thread. So the wait dialog will stay there forever. If the user clicks the cancel button to close the wait dialog, then VS will be totally locked up. The fix is super easy: just use JoinableTaskFactory.

[2015-05-20 21:01] danliu opened #630 "ResolverGather is not pruning prerelease packages properly"
Repro steps:
Run-test FSharpDependentPackageUninstall

The failure of this test is due to the addition of the call below to ResolverGather.

package.SetIncludePrereleaseForDependencies();

The effect of it is that all prerelease versions are included in dependency resolution during install (even though –pre is not specified) for dependency packages.

In the functional test itself, it’s breaking an

[2015-05-20 21:16] rowanmiller commented on #605
I was just playing around with this (using the public VS2015 RC bits) and was seeing the hang when installing latest builds from the aspnetvnext myget feed but not when installing from build server share.

Not sure how that plays into anything but thought I'd mention it incase it helps isolate the issue. BTW for me the Beta4 packages on NuGet.org install without the hang (though it sounds like oth

[2015-05-20 21:58] #469 closed

[2015-05-20 21:58] danliu opened #631 "The returned type for DNX project on PMC is unknown"
PM> get-project

![capture](https://cloud.githubusercontent.com/assets/1087852/7737684/e63e6980-ff01-11e4-900c-5f84313d6149.PNG)

[2015-05-20 22:05] deepakaravindr commented on #469
Also, fixed with https://github.com/NuGet/NuGet.PackageManagement/commit/80e6e5a7b902a40618bdfac118ac70e62713f5c1

[2015-05-20 22:05] deepakaravindr commented on #419
Fixed with https://github.com/NuGet/NuGet.VisualStudioExtension/commit/059265bcf710ec01e62da072c2d78358fe52c529 and NuGet/NuGet.PackageManagement@80e6e5a

[2015-05-20 22:05] #419 closed

[2015-05-20 22:10] anurse commented on #610
I'm assigning this to @pranavkm only because his PR NuGet/NuGet3#33 will fix this. If necessary, I can take over the PR, but if he gets that working and checked in, we should be good.

[2015-05-20 22:14] bhuvak commented on #462
I looked in to it. api/v2/packages(Id='xx',Version='xx') endpoint is being used in this case - both with 2.8.6 and 3.0.0. With around 35 packages, nuget.org takes around 13-15 secs with machine cache in both cases. There were couple of improvements on the server side - increase the instance size of the Gallery Cloud service and reducing load on DB and that might have helped.
api/v2/Packages() endp

[2015-05-20 22:14] #462 closed

[2015-05-20 23:09] #564 closed

[2015-05-20 23:26] zhili1208 commented on #596
fixed

[2015-05-20 23:28] #470 closed

[2015-05-20 23:37] #607 closed

[2015-05-20 23:55] zhili1208 commented on #558
fixed in https://github.com/NuGet/NuGet3/commit/b81dbad143b9b09a13e6875fe63aadd4c469c66a

[2015-05-20 23:55] #558 closed

[2015-05-21 00:05] patrickjamesbarry commented on #599
I'll have to check that, but if you register credentials with a nuget source, why would you wait for a failure before you send the credentials?  Even if some nuget providers do not use basic auth (which I am not familiar with any), wouldn't it make sense to at least try basic auth on the first request, since it is by far, the most popular authentication protocol?  Seems like a waste to always fail

[2015-05-21 00:10] PaulStovell opened #632 "Handle leak"
For some time we've had users reporting issues with querying NuGet feeds - it seems to be caused by the process running out of handles:

https://github.com/OctopusDeploy/Issues/issues/1071

Here's what we do:

1. We use NuGet.Core's `DataServicePackageRepository` to query NuGet packages
2. It makes a `HttpClient` or `RedirectedHttpClient`
3. This uses a `SendingRequestEventManager` which is a `Wea

[2015-05-21 00:10] feiling opened #633 "NullReferenceException after user checks "Do not show this again" on the preview window"
The problem is that at this line

https://github.com/NuGet/NuGet.PackageManagement/blob/dev/src/PackageManagement.UI/Xamls/PackageManagerControl.xaml.cs#L306

the variable settings can be null, thus null reference exception.

[2015-05-21 00:20] feiling commented on #615
Don't repro with the current dev branch. Whatever the original bug must have been fixed.

[2015-05-21 00:20] #615 closed

[2015-05-21 00:33] feiling commented on #337
In NuGet 3.0 UI, NuGet does not include unloaded proejcts. So this, "The NuGet Package Manager shows a green checkmark indicating the package is already installed for you project", will never happen.

Also in the new UI, install can be performed on a project by project basis.

[2015-05-21 00:33] #337 closed

[2015-05-21 02:25] roryprimrose commented on #456
I spent a couple of hours working on this yesterday. I can't reliably reproduce this now. I looked at a restore scenario that uses both local and Azure based NuGet server. Looks like it is working on the command line ATM. Interestingly, a restore via the VS IDE fails though.

I still don't think it is a permissions issue because it works sometimes in some circumstances and works reliably with the

[2015-05-21 03:50] yishaigalatzer commented on #632
What you are describing doesn't sound like a leak, it sounds like a manager per thread. Am I correct here?

The code is in nuget.codeplex.com and we plan to move it over the github shortly. Currently we are not accepting PRs for code that is going to ship in Visual Studio into the master branch because of legal issues, but you are more than welcome to fork, fix and we will gladly take it when the

[2015-05-21 03:53] yishaigalatzer commented on #630
@johnataylor I believe you fixed this already, can you close and open up the follow up issue we discussed?

[2015-05-21 03:55] yishaigalatzer commented on #605
@johnataylor I believe this is fixed? Can you resolve?

[2015-05-21 04:05] yishaigalatzer commented on #456
@roryprimrose thanks for pushing on this, if you get a fiddler trace of what is going on, we will gladly take another look.

When you say restore from Visual Studio fails, can you share the version and a fiddler trace?

[2015-05-21 04:08] yishaigalatzer commented on #274
Please verify and add functional tests as needed

[2015-05-21 07:14] xavierdecoster commented on #599
@feiling what do you mean with "every request"?

Having client latency and server load in mind, we should only do the auth handshake on the initial request and reuse it for subsequent requests to the same package source. Is this what we currently do?

[2015-05-21 08:05] rossross commented on #545
@karaken12 Are you still working on your fork?

[2015-05-21 14:13] patrickjamesbarry commented on #599
@feiling
If I add a new Source...
    nuget sources Add -Name Artifactory -Source http://company.artifactoryonline.com/company./api/nuget/inin-nuget-local -UserName patric
k.barry -Password xxxx

Then setup the apikey
    nuget setapikey patrick.barry:xxxx -Source Artifactory

and then push a package...
    push mypackage.1.0.0.nupkg Artifactory

I think what I am hearing, is that even though I ha

[2015-05-21 15:50] Vannevelj commented on #550
I just had this same issue as well. I released a new version of my NuGet package (which somehow only appears on NuGet V2) and saw the upgrade available in the NuGet window. When I tried to upgrade to this new version (from stable to pre-release), it threw this error.

After this I just waited +- 5 minutes and it worked automatically.

[2015-05-21 16:27] #605 closed

[2015-05-21 16:27] #630 closed

[2015-05-21 16:49] rowanmiller commented on #605
@johnataylor do we have a workaround folks can use with the currently public bits (VS2015 RC) to install our nightly packages?

[2015-05-21 16:53] rowanmiller opened #634 "Package Manager Console hook for ASP.NET 5 projects"
If a user is developing on Windows in Visual Studio, it's clear from aspnet/EntityFramework#1196 that they still expect to be able to use the Package Manager Console with ASP.NET 5 projects.

The piece that's missing for us to light up the Entity Framework PowerShell commands on ASP.NET 5 projects is a hook to import our PowerShell module.

For *.csproj projects this is as simple as calling `Impor

[2015-05-21 16:54] julielerman commented on #605
thanks for continuing to try this, Rowan. I've been unable to work since Sunday so haven't had a chance to check status beyond these comments on GH. WHy closed, though, @johnataylor?

[2015-05-21 16:56] johnataylor commented on #605
Playing with the problem a little, I found that if I installed a couple of the dependencies independently it worked fine.

For example, EF depends on EF.Cmds which, in the 4.5 case, depends on five other packages. I tried installing a couple of these first, explicitly, then the went back and installed EF and it worked.

I can't remember the exact ones I tried but I think it was something like:
Mic

[2015-05-21 17:05] johnataylor commented on #605
This should be fixed in future builds. The above "manual" work around is for the RC bits.

[2015-05-21 17:29] feiling commented on #599
@xavierdecoster, @patrickjamesbarry , we didn't set PreAuthenticate (https://msdn.microsoft.com/en-us/library/system.net.webrequest.preauthenticate(v=vs.110).aspx) to true, so no authentication in subsequent requests. Probably this is something we should consider to do. However, this code has been there for a LONG time, and I fear that there was a good reason that PreAuthenticate was not set to tr

[2015-05-21 17:34] yishaigalatzer commented on #605
Closed because it is fixed.

[2015-05-21 17:38] feiling commented on #316
Fixed. https://github.com/NuGet/NuGet.PackageManagement/commit/f9d1fb990fc28f206da4cce23e97e8411a51b01c

[2015-05-21 17:38] #316 closed

[2015-05-21 17:52] patrickjamesbarry commented on #599
That sounds like a low hanging fruit of something to fix.

[2015-05-21 17:53] anurse commented on #611
It looks like this is caused by NuGetFrameworks not finding a matching framework in the list of frameworks supported by the package. We need to lock down the set of allowed portable profiles for `core50` to fix this.

[2015-05-21 18:22] julielerman commented on #605
Ahh got it, thanks!

[2015-05-21 18:45] yishaigalatzer commented on #634
Please talk to your friends in the DNX project.

[2015-05-21 18:45] #634 closed

[2015-05-21 19:26] rowanmiller commented on #605
Thanks guys, I'll distill down the workaround and add it to the issue in the EF repo.

[2015-05-21 20:32] yishaigalatzer commented on #598
Hey Tony - Can you please share the actual VSIX somewhere? The sample itself is not sufficient to get a repro (at least not easily).

This seems like an important issue so I'd like to get it into RTM as soon as possible.

[2015-05-21 20:58] rowanmiller commented on #605
@johnataylor did you also verify installing EntityFramework.SqlServer from the nightly ASP.NET 5 feed? I was seeing that fail on more machines than installing Beta4 from nugget.org.

[code]

[2015-05-21 22:45] AndriySvyryd opened #635 "[V2] Actions on missing packages result in error"
Upgrade and uninstall on a missing package shows package not found error.
Install works, but adds duplicate entry to packages.config if same package is installed.

[2015-05-22 00:02] yishaigalatzer commented on #598
@tonysneed the template you are providing is not following the guidelines in the document you share above. You are including the packages.config and the references in the template itself. Where the guidance says to not do it.

Once I removed them things start working for me. So this seems like perhaps a behavior change, but it is still within the spec.

I prefer not to try and fix it, can you plea

[2015-05-22 01:46] #598 closed

[2015-05-22 02:32] deepakaravindr commented on #601
As discussed with @yishaigalatzer , moving this bug to Update 1

[2015-05-22 02:35] johnataylor opened #636 "Appinsight template regression"
File new project with appinsights fails to install.
The problem is the package is prerel and so is the dependency.
Fixing prerel install caused this functionality to regress.
We need to allow this template to install its packages.

[2015-05-22 02:35] johnataylor commented on #636
https://github.com/NuGet/NuGet.PackageManagement/commit/d2277b7f12d9057ebf8e2992150d656f9b5112d1

[2015-05-22 02:36] johnataylor commented on #636
This is fixed in current dev branch. Refer to the above commit.

[2015-05-22 03:33] tonysneed commented on #598
Let me give it a try. It used to be you would have to Indicate the location of packages in the vstemplate file, in the WizardData section. Didn't realize that had changed.

[2015-05-22 04:14] tonysneed commented on #598
I see now ... here is the relevant paragraph:

I'll update the project template to exclude packages.config and references, and I'll let you know if that helps.

[2015-05-22 05:27] yishaigalatzer commented on #598
I made the change on my side (remove packages.config and references from the project) and it worked for me. I had to build my own vsix.

[2015-05-22 06:42] tonysneed commented on #598
Alright, this works for me now. It looks like the omission of packages.config and references was not enforced prior to VS2015 RC.  It's a tad inconvenient because it requires modifying the csproj and vstemplate files to remove those items, then re-zip the template.  But as you mentioned, that's what the docs say to do. :smiley:

Yes, the option I selected was to *embed the NuGet packages in the VS

[2015-05-22 07:12] tonysneed commented on #598
Updated my repro: https://github.com/tonysneed/VsTemplateWizardRepro/tree/master

[2015-05-22 13:16] maartenba commented on #550
On the MyGet side, we have done an update to reduce possible inconsitency. We're eager to hear if this improves the situation.

For the NuGet client side: @deepakaravindr @yishaigalatzer @xavierdecoster What would be the expected result in this case? (feed said package exists, download results in a 404) - should we retry the operation? Show a meaningful error message? Or leave as-is?

[2015-05-22 13:48] deepakaravindr commented on #550
I think client's messaging has been changed to say 'package stream is not available for download from <packagaesourceurl>'

[2015-05-22 13:52] maartenba commented on #550
So client-side is okay then? Let's wait for some feedback here then.

[2015-05-22 14:42] maartenba commented on #569
Linking https://github.com/NuGet/NuGet.VisualStudioExtension/pull/30

[2015-05-22 15:19] AArnott commented on #569
Yay! We're getting this fixed! Thanks, @sharwell  for filing this and thanks @maartenba and @yishaigalatzer for making it happen!

[2015-05-22 18:05] shawnallen85 opened #637 "SSDT & SSDT-BI Support"
Howdy, all!

I originally posted this in the NuGetGallery project, but I think it is a better fit here -- sorry about that ...

Would it be possible to add support for Database, SSRS, SSAS, and SSIS projects to NuGet?

For the Database project, you can deploy custom static code analysis assemblies to the project.

For the BI tools, it would be nice to manage templates, resources, etc., in a NuGet

[2015-05-22 19:12] julielerman commented on #604
finally got home! (family emergency) but best I could think of to show you the problem was to create a little video. I put it on googledrive. Here: https://drive.google.com/drive/u/0/folders/0B0q9tUxAcMl2bWV2eG9EU1VVZ0U  (I haven't watched the final results since google keeps telling me it is still processing it)
Also my version is 14.0.22823.1 D14REL
HTH

[2015-05-22 19:44] #636 closed

[2015-05-22 19:46] yishaigalatzer commented on #637
We have been asked in the past about it, and we don't plan to add support in NuGet for this project type. We are ok with taking a pull request for it though if the team that owns this is willing to test it out.

We just enabled CPS based projects (without yet granular support) which enables any project type to opt into NuGet without any NuGet changes. If these projects move to CPS things will ligh

[2015-05-22 19:47] yishaigalatzer commented on #635
Install should just fail as well.

[2015-05-22 20:01] yishaigalatzer commented on #603
@mluparu we might got you part way there already in RTM. We should have a drop shortly after @maartenba merges his PR, and you can try from there.
https://github.com/NuGet/NuGet.VisualStudioExtension/pull/30

[2015-05-22 20:29] maartenba opened #638 "Remove if (IsTypicalCpsProject(envDTEProject))"
In https://github.com/NuGet/NuGet.VisualStudioExtension/blob/138ac5ad0b710af9f989cfd9d5cdbd81fe4875e4/src/PackageManagement.VisualStudio/Utility/EnvDTEProjectUtility.cs#L665, remove the if statement. This:

[code]

should become:

[code]

Make sure known project types don't break because of this.

[2015-05-22 20:30] maartenba commented on #569
Merged NuGet/NuGet.VisualStudioExtension#30 - once you have a drop please verify the resolution.

[2015-05-22 20:30] maartenba commented on #603
Merged NuGet/NuGet.VisualStudioExtension#30.

[2015-05-22 20:39] AArnott commented on #638
Amusingly, you describe that the code should become something that includes the `// REVIEW` comment. :)

[2015-05-22 20:40] maartenba commented on #638
Late night work :-) Hehehe.

[2015-05-22 21:00] AArnott commented on #569
Note that to verify you'll need both the NuGet client drop and the very latest MSBuild .targets from VSPro_Platform or to add this XML to your project file:

    <ItemGroup>
        <ProjectCapability Include="DeclaredSourceItems" />
        <ProjectCapability Include="UserSourceItems" />
    </ItemGroup>

[2015-05-22 21:11] yishaigalatzer commented on #569
Fixed

[2015-05-22 21:11] #569 closed

[2015-05-22 22:21] johnataylor commented on #539
#571 and this bug both look good on the latest bits in dev.
We're adding addition tests at the NuGet.PackageManager level to catch these issues.

[2015-05-22 22:21] #539 closed

[2015-05-22 22:39] johnataylor opened #639 "Need to integrate calls to Metric Service into client installs"
As we install packages directly from storage/cdn we need to track install metrics by some other mechanism.

A "best effort" call to the Metric Service is one such mechanism.

(Alternatively we can have the client always attempt to download from a service we run where by we redirect the request to storage/cdn. And we record the redirects. However the availability of this service then becomes an iss

[2015-05-22 22:44] johnataylor commented on #639
The client should also support reporting FAILED install attempts to the service. This way we can be proactive about addressing potential problems in package resolution. Given the complexity of the more recent package dependency graphs and the fact that we have a lot of new code such a reporting mechanism might be very useful.

[2015-05-22 23:32] yishaigalatzer commented on #623
Here is a code snippet that should do this

[code]

[2015-05-23 00:10] yishaigalatzer commented on #603
Lets close after the android team verifies it

[2015-05-23 02:54] roryprimrose commented on #456
Sorry, I tried to get a fiddler trace, but nothing was recorded.

[2015-05-23 16:20] AArnott opened #640 "Install-Package fails for ps1 package due to permission?"
When installing an analyzer package into a portable class library, it usually works. But this time I got some unexpected output. At the end, the package _was_ added to packages.config but the analyzer was not installed.

[code]

Note in the output how it complains about permissions for running scripts.

VSPro_Platform 22915.00

[2015-05-25 12:30] rpringadi opened #641 "Nuget repository has packages with virus!"
A virus was detected on one of the package that was downloaded using nuget.exe.
https://nuget.codeplex.com/workitem/8328

https://www.codeplex.com/Download/AttachmentDownload.ashx?ProjectName=nuget&WorkItemId=8328&FileAttachmentId=1458680

[2015-05-26 04:12] yishaigalatzer commented on #640
We don't control permissions or what is in a script. We just hand over the dte object. Either way analyzers are moving away from scripts.

[2015-05-26 04:33] yishaigalatzer commented on #641
Where did you download the package from? What is the package id?

[2015-05-26 06:42] yishaigalatzer commented on #640
@deepakaravindr did we change threading when we start the powershell scripts leading to a potential race condition?

@AArnott can we have access to the machine where this happens? Does it still repro? If it does, can you grab the latest nuget vsix and verify with it?

[2015-05-26 08:59] stefann42 opened #642 "Command line client hangs if publish feed is password-protected and credential in nuget.config is incorrect"
Expected: an error message should be displayed saying credentials are incorrect. I watched the transaction with Fiddler, NuGet server responds with 401 Status Code and command line client hangs waiting for..., not sure for what.

[2015-05-26 11:50] rpringadi commented on #641
I don't know which package, since I downloaded so many of them. I downloaded them using nuget.exe

If you work or have access to the repository itself try finding this "Worm.Attachments.dll"
As seen in the picture.

[2015-05-26 13:16] maartenba opened #643 "Automatic failover to other endpoints when possible"
When an endpoint discovered in the resource index (e.g. api.nuget.org/v3/index.json) is not responding, we should fail over to other endpoints of the API type we want to work with.

This issue came up during incident [1689](https://nuget.pagerduty.com/incidents/PZAZFHW): the api-search-0 instance was very slow to respond, yet no automatic failover to api-search-1 happened.

Definitely applies to t

[2015-05-26 13:24] maartenba commented on #641
Seems to be this one http://www.nuget.org/packages/Worm/. I just ran all files from this package through a variety of virus scanners using www.virustotal.com, only AVG seems to mark this file as "infected": https://www.virustotal.com/nl/file/4393327c929502b54c34cd97aed0b5ffb6fe05de58e7801ac1b9076cf5da771c/analysis/1432646514/

This may be a false positive, although we'll have to investigate to mak

[2015-05-26 13:26] nul800sebastiaan opened #644 "VS2015 RC: Install-Package hangs"
Tried installing the UmbracoCms package using NuGet `3.0.60410.213`:
File > New Project > .NET Framework 4.5 > ASP.NET Web Application > Empty (using ASP.NET 4.6 Templates)

[code]

The "Attempting to resolve" message then just stays there and nothing else happens (waited about 10 minutes).

I tried disabling the v3 feed as a source and using the default `https://www.nuget.org/api/v2/` but that re

[2015-05-26 13:27] blowdart commented on #641
Maarten can you reach out to the package author and let him know?

[2015-05-26 13:31] maartenba commented on #641
@blowdart Done. Is there a way of getting a proper scan of this package?

[2015-05-26 13:43] blowdart commented on #641
You've pretty much done what I would. We have an internal site that runs through multiple scanners, but virustotal actually has more :)

[2015-05-26 16:03] RehanSaeed commented on #550
Just received the following error. Published a new package 15 mins ago. Thought it might help you.

Install-Package Boilerplate.Web.Mvc5
Attempting to gather dependencies information for package 'Boilerplate.Web.Mvc5.1.0.0' with respect to project targeting '.NETFramework, Version=v4.5'
Attempting to resolve dependencies for package 'Boilerplate.Web.Mvc5.1.0.0' with DependencyBehavior 'Lowest'
Res

[2015-05-26 16:05] maartenba commented on #550
On which NuGet feed?

[2015-05-26 16:31] feiling commented on #633
Fixed. https://github.com/NuGet/NuGet.VisualStudioExtension/commit/fd99200a1ab469c3ed6a23c6e4d97be7188dea81

[2015-05-26 16:31] #633 closed

[2015-05-26 17:01] RehanSaeed commented on #550
Just used package manager console in visual studio using defaults.

[2015-05-26 19:31] maartenba commented on #644
This was caused by an issue on www.nuget.org. It should be resolved right now. Feel free to respond to this issue in case you are still seeing issues.

[2015-05-26 19:31] #644 closed

[2015-05-26 19:31] maartenba commented on #550
This was caused by an issue on www.nuget.org. It should be resolved right now. Feel free to respond to this issue in case you are still seeing issues.

[2015-05-26 19:52] yishaigalatzer opened #645 "Guardrails support"
* "supports" element in runtime graph:

[code]

* "supports" element in project.json:

[code]

* On restore, we build the "supports" set by reading the project.json values in "supports" and looking them up in the runtime graph to get a set of (TXM, RID) tuples. In the above example we get: `(netcore50, win8-x86)`, `(netcore50, win8-x86-aot)`, etc.

* Perform a new restore for each of these tuples

[2015-05-26 19:54] yishaigalatzer opened #646 "init.ps1 support"

[2015-05-26 19:55] yishaigalatzer opened #647 "Targets/props support (this seems to be mostly in visual studio code)"
This is more about functional tests covering the scenario.

[2015-05-26 19:58] yishaigalatzer opened #648 "UI updates to reflect V3 scenarios"
1. Dependency behavior is not supported
2. Verify preview still works
3. File conflict action does not work
4.

[2015-05-26 20:52] yishaigalatzer commented on #641
@maartenba please verify if this is indeed a virus or not and update the bug.

As far as we can tell it is not a Virus as far as we know.

[2015-05-26 20:53] yishaigalatzer commented on #642
Can you provide as with more info, like the version of nuget.exe you are using, what server are you trying to push to?

[2015-05-26 21:09] yishaigalatzer commented on #550
So we do have an eventual consistency issue in nuget.org where when you publish a package there is a brief period where it is available on search and not on the client.

I don't believe we need to improve anything on the client, and instead fix our server. This is tracked by https://github.com/NuGet/Home/issues/268

[2015-05-26 21:09] #550 closed

[2015-05-26 23:05] stefann42 commented on #642
Using command line version 2.8.60318.667 and server version 2.8.60318.667 deployed according to these instructions http://docs.nuget.org/create/hosting-your-own-nuget-feeds password protected with Basic Authentication over SSL.

[2015-05-27 00:59] yishaigalatzer commented on #639
We want to separate this into two issues

1. Need a way to track download counts on V3 - Lets first explore getting CDN logs as input, and as a secondary have a compute end point that does redirects to storage. We would really like to avoid compute if possible.

2. Need an end point and client behavior to report failed installs, we need to discuss this one in details to make sure we are ok trackin

[2015-05-27 10:31] maartenba commented on #641
Our internal scanning service marked this package as safe, closing the issue.

[2015-05-27 10:31] #641 closed

[2015-05-27 15:34] nul800sebastiaan commented on #644
Thanks @maartenba - did you mean that the issue was solved yesterday just before you posted this reply?
Currently, I can't even manage to get to the `Attempting to resolve dependencies` any more now, I only see `Attempting to gather dependencies` and then after a looong wait (10+ minutes) I get the following error when using the `api.nuget.org` feed:
[code]
Using the v2 feed, VS15 just crashes abo

[2015-05-27 15:36] maartenba commented on #644
That sounds like it may have a different cause. Is this on every package or just this one?

[2015-05-27 15:59] nul800sebastiaan commented on #644
Seems to be just Umbraco, NewtonSoft.Json works great immediately. I've suspended ReSharper just in case that was causing issues (it has before) but no luck there.
We do have a lot of dependencies in the UmbracoCms.Core project, they may cause issues with the new version of NuGet?
See: https://www.nuget.org/packages/UmbracoCms.Core/

[2015-05-27 16:10] nul800sebastiaan commented on #644
As an update: I tried installing each of the dependencies individually, VS15 seems to crash when installing AutoMapper (3.0.0 and 3.3.1).
I'll try again on a different PC to see if I can install Umbraco and Automapper there.

[2015-05-27 16:19] yishaigalatzer commented on #640
Assigning to @feiling to take a look

[2015-05-27 16:33] feiling commented on #640
@AArnott could you tell me the NuGet version installed on your VS? The version number that you get thru Tools -> Extensions and Updates. Recently there was a fix about the powershell execution policy so that no matter what your current policy is, NuGet always uses ByPass when executing powershell scripts in packages. Also, as Yishai suggested, please try the latest build and see if it still repros

[2015-05-27 19:08] onovotny opened #649 "NuGet 3.0 RC has unreadable text in dark theme (main UI)"
See the screen shot. I'm using VS 2015 RC and the descriptions are unreadable. I didn't see an existing bug for this for the RC build.

![2015-05-27_15-07-07](https://cloud.githubusercontent.com/assets/1427284/7845009/27496116-0482-11e5-942b-e4a09d208830.png)

[2015-05-27 19:09] anurse commented on #645
/cc @ericstj

[2015-05-27 20:23] AndriySvyryd opened #650 "[V3] NRE thrown from package manager UI"
1. Create a new .NET 4.5 project
2. Manage NuGet Packages...
3. Search for Moq
3. Install Moq
4. Set filter to Installed
5. Click on Uninstall

NullReferenceException thrown from NuGet.PackageManagement.UI.NuGetUI.FileConflictAction, model is null

[2015-05-27 20:42] csharpfritz opened #651 "Path too long error when attempting to install a package"
// Tracking TFS 1178236

nuget is getting me mad because phisical project path is too long subst-ed path does not work

// Screenshot available in TFS

[2015-05-27 20:43] csharpfritz opened #652 "Argument out of range exception in NuGet console"
// Tracking TFS 1174753

Bad things happened while I was trying to use the package manager console.

 <entry>
 <record>1608</record>
 <time>2015/05/20 13:55:10.997</time>
 <type>Error</type>
 <source>Editor or Editor Extension</source>
 <description>System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values.&#x000D;&#x000A;Parameter name: span&#x000D;&#x000A; at Mi

[2015-05-27 20:44] csharpfritz opened #653 "Update All option missing from NuGet UI"
// Tracking TFS 1178242
// Reported multiple times by many customers, listed in TFS

 where is the "update all" button?

-----

New NuGet package manager design is awful! Please, return Update all button.

-----

I cannot find an "Upgrade All" option in the NuGet package manager.

----

Where is the option to upgrade all nuget packages ( I miss the checkbox feature).

[2015-05-27 20:49] yishaigalatzer commented on #653
Duplicate of #142

[2015-05-27 20:49] #653 closed

[2015-05-27 20:59] yishaigalatzer commented on #652
There are no repro steps here, I don't know what we can do about this. @csharpfritz can you please follow up with the customer?

[2015-05-27 21:01] emgarten commented on #651
This has been fixed. It was caused by duplicate packages being returned by GetInstalledPackages.

[2015-05-27 21:01] #651 closed

[2015-05-27 21:03] emgarten commented on #649
@onovotny did this happen while changing to the dark theme when the NuGet window was already open? Does the text stay dark even after restarting VS?

[2015-05-27 21:28] emgarten commented on #619
netportable50

[2015-05-27 21:37] zhili1208 commented on #650
can't repro on my machine

[2015-05-27 22:11] johnataylor opened #654 "Package Manager Dialog sometimes doesn't reflect state of packages.config after uninstall"
Repro steps:
1) file new project console app
2) install Microsoft.Diagnostics.Tracing.EventSource.Samples samples
3) Show "Installed" packages
4) remove all the packages (in a reasonable order)
5) UI shows all the packages gone
6) Microsoft.Diagnostics.Tracing.EventRegister is left behind in package.config but UI shows it is gone. Expected behavior: package is also gone from packages.config

7) cl

[2015-05-27 22:13] johnataylor opened #655 "Package ID cannot be cut and paste from Package Manager dialog UI"
You can't cut and paste the package-id from the UI.

This is extremely frustrating, especially when opening bugs.

[2015-05-27 22:36] feiling commented on #649
Couldn't repro. This is what the UI looks like in the dark theme:

![image](https://cloud.githubusercontent.com/assets/2679220/7848953/4ef05d70-0485-11e5-92c7-00a672daef74.png)

@onovotny It seems you might have other settings changed in Options -> Environment -> Fonts and Colors. You can export the settings (Options -> Environment -> Import and Export Settings) and send us a copy of your vs setti

[2015-05-27 22:41] onovotny commented on #649
If there's a bad color in there, I certainly didn't mean it! :)

Here's the exported fonts/colors:
https://gist.github.com/onovotny/c31fc21e84a120776123

[2015-05-27 23:03] csharpfritz commented on #648
When entering NuGet UI from Solution node of Solution Explorer, its hard to tell which package version is installed in each project.

[2015-05-27 23:06] csharpfritz opened #656 "Uninstall Experience is tedious"
// Feedback from TFS 1178238

The NuGet Uninstall Experience has gotten so much worse! used to just click one time and say uninstall all the crap that came with this package and now it has me removing crap one thing at a time.

--------

We should revisit the user experience for this to identify steps that could be simplified.

[2015-05-27 23:08] AndriySvyryd commented on #650
For me it reproes on 22823.1 D14REL, but doesn't on 22923.0 VSCLIENT_1

[2015-05-27 23:50] emgarten opened #657 "'Collection was modified' message appears in PMC when opening a solution"
Steps:
1. Install the 3.0-rtm 429 build of NuGet
2. Open PMC
3. Delete out the NuGet packages from the NuGet.PackageManagement Packages folder
4. Open NuGet.PackageManagement

"Collection was modified; enumeration operation may not execute." appears in PMC

[2015-05-28 09:55] TanukiSharp opened #658 "nuget restore fails when the source is a shared directory"
I need to restore packages from the command line. When I use

`nuget restore packages.config -PackagesDirectory ./temp -Source \\server\path\to\packages`

I get the error

`Unable to find version '<VERSION>' of package '<PACKAGE>'.`

However, when I map this path to a network drive B:\ for example, then the following

`nuget restore packages.config -PackagesDirectory ./temp -Source B:\path\to\pack

[2015-05-28 13:13] onovotny opened #659 "V3 RC - Exception trying to install packages with VS 2015 RC"
Opened my project, tried to add a nuget packge to some of my projects, got the following in the output window. Trying again unchecking the "show preview window" succeeded:

Attempting to gather dependencies information for package 'GitVersionTask.3.0.0-beta0002' with respect to project targeting '.NETPortable, Version=v4.5, Profile=Profile259'
Attempting to resolve dependencies for package 'GitVer

[2015-05-28 13:48] onovotny commented on #649
Not sure if this helps, but I see a style being overridden in the visual tree. Check out these two screen shots from XAML Spy:

Here the text foreground color looks right,
![2015-05-28_9-43-39](https://cloud.githubusercontent.com/assets/1427284/7861526/9fe80b30-051e-11e5-8158-cfbfd0e306e9.png)

And here when on the ListBoxItem, the foreground style is changed to something darker
![2015-05-28_9-45-

[2015-05-28 13:57] csharpfritz commented on #142
Tracking in TFS 1178242

[2015-05-28 14:29] onovotny commented on #649
One more update - changed them from dark to light, then back to dark and hit use defaults on the fonts and colors. I then restarted VS. I still see the same unreadable dark grey text....so no real idea where that color is coming from.

[2015-05-28 17:25] emgarten commented on #596
Reopening based on bug bash feedback, stack traces are still shown from UI exceptions.

[2015-05-28 17:30] emgarten commented on #596
It may help to find all locations where logging to INuGetProjectContext occurs, and make sure the stack is not being logged.

[2015-05-28 17:37] KenKilty commented on #657
I have observed repro of this bug with extremely large solutions (200+ .csproj's for example) when a PM Console command is run before Visual Studio has fully loaded all projects.  Running a command that is solution wide such as Update-Package <packageName> shortly after opening such a large project will reproduce the bug.  I suspect that when the cmdlet is run a List<T> or other collection is capt

[2015-05-28 18:10] feiling opened #660 "Blank line in the output of find-package jquery.validation"
Repro steps:
- Open PMC,
- Run `find-package jquery.validation`. The beginning of the output is
[code]

Note that there is a blank line after DMK.WebForm.JQuery.Validation. It should not be there.

[2015-05-28 18:12] feiling opened #661 "There are error messages after an MVC application is created"
Repro steps:
- create a new mvc application
- delete the packages folder
- start package manager, go to installed tab

Expected: the packages listed in packages.config should be shown as installed.
Actual: no items found.

[2015-05-28 18:18] deepakaravindr opened #662 "Can't disable machine wide configs"
Machine wide feeds 'Microsoft and .NET' feed never get disabled. Since it is always enabled, it always get involved in package restore and results in almost as many 404 as there are packages to restore

		a. Repro steps
			i. Open Tools-> Options -> NuGet Package Manager - > Package Sources
			ii. Disable 'Microsoft and .NET' under Machine-wide package
			iii. Click OK
			iv. Repeat Step 1 to open

[2015-05-28 18:19] deepakaravindr opened #663 "Disable curated feeds by default to speed up the common scenarios"
Suggestion: 'Microsoft and .NET' curated feed is almost never used. Should we make sure it is disabled by default? NOTE: Possibly, this could mean that OData client does not get loaded since there is no enabled V2 feed by default. Also, it participates in package restore every time and slows down things a bit when there are several packages to restore

[2015-05-28 18:20] deepakaravindr opened #664 "Source of data for packages in the UI installed filter should be packages.config"
No packages shown in the installed tab of the UI.

If there are no packages in the packages folder (or open a solution from solution control). It shows up after restoring the packages. If only some are missing, only missing packages are not shown as installed

		a. Repro steps
			i. Create a console application. Install a bunch of packages
			ii. Open 'Manage NuGet Packages' UI window and switch t

[2015-05-28 18:21] deepakaravindr opened #665 "Installing a package to a project under solution folder, installs it to another project not under solution folder, if they have the same name"
a. Repro steps
	i. Create a console application say 'ConsoleApplication1'
	ii. Create a solution folder, say,  'Folder1'
	iii. Add a new project called ConsoleApplication1 too under the created solution folder
	iv. Now, launch 'Manage NuGet Packages' for the project under the solution folder
	v. Install a package, say, latest stable of Newtonsoft.Json
	vi. Expected: Newtonsoft.Json is installed su

[2015-05-28 18:23] deepakaravindr opened #666 "Inconsistency in the way UI window is launched for projects and solutions. Either only 1 window should show up or multiple windows should show up in all the cases"
a. Repro steps
	i. Create a console application
	ii. Launch the 'Manage NuGet Packages' for solution. It opens a new window
	iii. Launch the 'Manage NuGet Packages' for a project.
        iv. Expected: It opens a new window
	iv. Actual: It selects the 'Manage NuGet Packages' for solution rather than open a new window.
b. NOTE: If this is by design, note that 2 windows can be opened if the window f

[2015-05-28 18:23] deepakaravindr opened #667 "'Installed' icon is shown for a package with available updates. Only happens when installed version is latest stable"
a. Repro steps:
	i. Make sure that 'Include Prerelease' check box is set
	ii. Install latest stable version of 'EntityFramework'
	iii. Expected: 'Upgrade available' blue icon is shown on 'EntityFramework'
	iv. Actual: 'Installed' green icon is shown
	v. NOTE: This does not happen if one does not install a latest stable version
	vi. NOTE: This is true for all the installed packages which are latest

[2015-05-28 18:24] deepakaravindr opened #668 "Scrolling the UI back and forth pretty fast, results in incorrect details on the details pane on the selected package. It is stuck in this state too, only switching the feed refreshes the inconsistency"
a. Repro Steps
	i. Use any V2 feed like nuget.org or any of the curated feeds
	ii. Scroll back and forth at a reasonably high speed (Do it too fast, and it gives a feeling of a hang. It is not smooth)
	iii. Switch the package selection quite fast too
	iv. Expected: Details for the package selected is shown on the details pane
	v. Actual:  Details for another package is shown instead of the selecte

[2015-05-28 18:25] deepakaravindr commented on #668
![image](https://cloud.githubusercontent.com/assets/2380340/7867657/376b1b7a-052c-11e5-8aec-bbce4b2538a8.png)

[2015-05-28 18:27] deepakaravindr opened #669 "Performance of toggling UI elements can be improved with caching"
Redundant Network calls on toggling 'Include Prerelease' check box. There are multiple scenarios here.

The issue here is of course that we don't have proper caching for results, and if we did then we will probably need a refresh button to deal with changes, a caching strategy (how long do we hold on the results, 5 min?)

		a. In V2, 3 queries are made to get the versions of the packages, when a p

[2015-05-28 18:28] deepakaravindr opened #670 "Deleting a project closes corresponding UI window, but, renaming a project does not rename the UI window. Note that PMC listens to project rename and project remove events"
a. Repro steps
			i. Create 2 Console Applications in a solution
			ii. Open the 'Manage NuGet Packages' window for both the projects
			iii. Delete a project. The window corresponding to the project goes away
			iv. Rename the other project
			v. Expected: The title of the UI window corresponding to the renamed project is renamed as well, just like responding to the project delete event
			vi. Ac

[2015-05-28 18:29] deepakaravindr opened #671 "Auto-complete on Uninstall-Package cmdlet lists the installed packages from the solution and not just the default project name"
[code]

[2015-05-28 18:30] deepakaravindr opened #672 "Package Manager Console does not load back the active package source when a solution is open unlike UI windows for a project or the solution"
a. Repro steps
	i. Create or open a solution with 2 projects. Console applications will do. It should also have a nuget.config at the solution level with a custom package source
	ii. Switch the active package source to the custom package source on the UI window for the solution and one of the projects. Do the same for package manager console
	iii. Close solution. Note that the active package sourc

[2015-05-28 18:30] deepakaravindr opened #673 "On PMC, When a package is already installed in another project in the solution, following message shows up as a warning instead of information"
![image](https://cloud.githubusercontent.com/assets/2380340/7867795/ee2d669c-052c-11e5-82ce-aa227cd94ac8.png)

[2015-05-28 18:31] deepakaravindr opened #674 "A few network calls are made even after cancel is pressed during on-build package restore"
a. Repro steps
    i. Create a new MVC Web application
    ii. Delete the packages folder
    iii. Make sure that you have 4 or 5 enabled package sources
    iv. Open Fiddler on the side
    v. Build solution. This should start the 'Restoring packages' dialog
    vi. After a couple of seconds, cancel the dialog
    vii. Expected: There are no network calls made after cancel is pressed
    viii. Ac

[2015-05-28 18:35] deepakaravindr commented on #674
a. During package restore, GetSourceRepository call to determine the source repository tries to cancel tasks on MetadataResource. In order to do this, it creates a CancellationTokenSource and is not linked to the CancellationToken passed into the method. So, cancellation by the user does not actually cancel these tasks to determine the package source to download from. Likely solution is to use a C

[2015-05-28 18:38] feiling opened #675 "Package restore bar (the yellow bar) is still visible after packages are automatically restored"
Repro steps:
- create a new class library, install some packages
- delete some packages folder
- start package manager console or UI, install some new packages not installed in step 1

Expected: automatic restore will happen before installing package on step 3. After that, the yellow bar saying some NuGet packages are missing should be gone, as at this point all packages are restored.

Actual: yel

[2015-05-28 18:39] feiling commented on #184
Dan thinks this is still not fixed.

[2015-05-28 18:40] feiling opened #676 ""Do not show this again" and "Authors" are not localized"

[2015-05-28 18:43] feiling opened #677 "The position of "Get more info about installation options" link should be changed."
After localization, the labels could be much longer than in English:

![image](https://cloud.githubusercontent.com/assets/2679220/7868102/8e3db802-052e-11e5-875a-d20045713006.png)

Seems it's better to change the position of the link so that its left is the same as the labels instead of the drop down boxes.

[2015-05-28 18:47] feiling opened #678 "Pop up dialog asking user name & password does not distinguish between authenticated proxy and authenticated feed"
The text on the pop up dialog asking user name & password just say "Connect to xxxx", where xxx is the url of the current source, so it's not clear to the user whether NuGet is asking authentication info for the proxy or for the feed.

[2015-05-28 18:52] feiling opened #679 "connecting to v3 thru authenticated proxy does not work without user name/password saved in nuget.config"
Repro steps:
- specify that nuget uses an authenticated proxy
- start vs, connect to v3 feed.
- A dialog pops up asking for user name / password. Input the name/password. Click ok to continue.

Expected: search result returned
Actual: error occurred:

[code]

Note that this scenario works with v2 feed.

[2015-05-28 20:15] deepakaravindr opened #680 "Install-Package -Force does not install dependencies. It also tries to pull in prerelease versions even if not specified"
Install-Package -Force does not install dependencies. There is already a  '-IgnoreDependencies' switch. It also tries to pull in prerelease versions even if not specified

Repro steps

1. Create Console application targeting net45
2. Install-Package Microsoft.AspNet.Mvc -Force

Expected: Installs the latest stable version of Microsoft.AspNet.Mvc (5.2.3) and its dependencies
Actual: Tries to instal

[2015-05-28 21:04] zhili1208 commented on #274
Verified and added tests in https://github.com/NuGet/Home/issues/583

[2015-05-28 21:39] deepakaravindr opened #681 "FileConflictAction on the VS API should be IgnoreAll not OverwriteAll. Project templates are overwriting files now, instead of, ignoring them"
FileConflictAction on the Visual Studio API should be IgnoreAll not OverwriteAll. Project templates are overwriting files now, instead of, ignoring them

@emgarten and @yishaigalatzer , This needs to be fixed for RTM

[2015-05-28 23:02] AndriySvyryd commented on #595
Actually It does make a difference. v3 server only returns the 4.2.1502.911 version.
Discussed with @deepakaravindr and @yishaigalatzer. To fix all of these types of errors and still maintain compatibility with V2 projects we would need to use the non-normalized version from .nuspec consistently everywhere

[2015-05-28 23:47] danliu opened #682 "Find-package jquery.validation output has a blank line, which is not expected"
![find](https://cloud.githubusercontent.com/assets/1087852/7873597/47e9fef8-0559-11e5-92ba-f17c3b17f8d9.PNG)

[2015-05-28 23:48] danliu opened #683 "After packages are automatically restored, we should refresh the UI or PMC to remove the yellow bar with Restore button"
Repro steps:

1) create a new class library, install some packages
2) delete some packages folder
3) start package manager console or UI, install some other packages not installed in step 1

Expected: automatic restore will happen before installing package on step 3. After that, the yellow bar saying some NuGet packages are missing should be gone, as at this point all packages are restored.

Actua

[2015-05-28 23:49] emgarten opened #684 "Clean up ContentModel/ContentPropertyDefinition constructors"
Per review feedback, clean up ContentModel/ContentPropertyDefinition constructors to remove the many nulls passed in.

[2015-05-28 23:49] danliu opened #685 "Adding packages folder to TFS is not consistent"
Repro step:
 1. create a class library project, install some packages
 2. Add solution to TFS, which will not add packages folder
 3. check in pending changes, install some other packages
 4. check pending changes again.

Expected: NuGet should be consistent if Packages folder is considered as the source pending changes

Actual: after step 3, the newly installed packages will be marked with pendin

[2015-05-29 01:20] yishaigalatzer commented on #659
Can we get some more info for reproducing the issue

What was in your packages.config before installing?
What is the project type?
What package(s) where you installing?

[2015-05-29 03:35] deepakaravindr commented on #28
It does not repro

This has not been true for a long time now, since, RestorePackages reports errors through PackageRestoreFailedEvent and does not throw

[2015-05-29 03:35] #28 closed

[2015-05-29 10:30] csharpfritz opened #686 "Optional Dependency support"
With transitive dependencies,  it would be nice to have dependencies be optional. Consider: https://maven.apache.org/guides/introduction/introduction-to-optional-and-excludes-dependencies.html

[2015-05-29 13:38] maartenba opened #687 "Pingdom checks for search (autocomplete - id) and search (v3 - empty) fail sporadically"
Root cause seems to be an exception being thrown every now and then:

[code]

[2015-05-29 13:39] maartenba commented on #687
@johnataylor Can you have a look at it? I'd think changing `OpenBitSetLookupFilter.GetDocIdSet` to the following should do the trick (check for the key, return null if not exists):

        public override DocIdSet GetDocIdSet(IndexReader segmentReader)
        {
            string segmentName = ((SegmentReader)segmentReader).SegmentName;

            OpenBitSet docIdSet;
            if (_bitSetLo

[2015-05-29 13:58] tom-englert commented on #529
According to code contracts this behavior is correct (https://github.com/Microsoft/CodeContracts/issues/45) - and NuGet should include the file if it is referenced by the .pdb!

[2015-05-29 15:17] yishaigalatzer commented on #529
I understand that it is. But this is a super obscure behavior, and NuGet is not going to add a pdb reader for this scenario. My suggestion is to pack manually in this case or ditch code contracts.

[2015-05-29 15:17] #529 closed

[2015-05-29 15:42] ToddThomson opened #688 "Content Items in Nuget 3"
Is it possible to add content items to a nuget 3 package? Specifically, I would like to add css and cshtml files along with the lib dll ( essentially a MVC6 component ).

[2015-05-29 16:42] emgarten commented on #688
Content files can be placed under the content folder inside the nupkg.

See the docs for more details:
https://docs.nuget.org/create/creating-and-publishing-a-package

[2015-05-29 16:51] yishaigalatzer commented on #687
This is a gallery bug, moved to https://github.com/NuGet/NuGetGallery/issues/2520

[2015-05-29 16:51] #687 closed

[2015-05-29 16:55] yishaigalatzer commented on #688
Correction: Content items are currently not supported in ASPNET5/MVC6 apps, this has nothing to do with NuGet 3, it has to do with the aspnet project system not supporting content items in NuGet packages and taking content through Bower. This is probably a good discussion to have on github.com/aspnet/home

[2015-05-29 16:55] #688 closed

[2015-05-29 17:10] bhuvak commented on #524
The casing seems to be fine in the actual package - NuGet.Core 2.8.5.This works properly in NuGet 3.0 client ( both against v2 and v3 sources). With 2.8.6, it works from commandline. The issue happens while installing from UI (package manager console and dialog). The fix is to take the package Id from the nuspec while creating the local folder ( instead of picking up the value returned by the serv

[2015-05-29 17:11] yishaigalatzer commented on #686
CC @davidfowl @lodejard

I don't think this is high priority (possibly not even needed). Moving to backlog for now, if you feel differently please let me know

[2015-05-29 17:13] johnataylor opened #689 "Solution upgrade available doesn't show all upgrades"
When one of the projects in a solution has the latest version of a package the solution level package manager dialog fails to show the upgrade even if that upgrade would be meaningful to another project in that solution.
Steps:
1) File New Project, create console application, and add a second console app. So you have two console projects in the same solution.
2) Add JSON.net 6.0.1 to one project
3

[2015-05-29 17:14] yishaigalatzer commented on #685
@danliu is this a regression from Visual Studio 2013? If not then I think this behavior is fine.

Please take a look and if it is not a regression please close the issue, if you think otherwise please remove the milestone so we can pick it up in triage again.

[2015-05-29 17:17] yishaigalatzer commented on #682
This doesn't seem to be critical enough to get fixed, will fix based on user feedback

[2015-05-29 17:17] #682 closed

[2015-05-29 17:18] yishaigalatzer commented on #681
This is a regression from visual studio 2013

[2015-05-29 17:23] yishaigalatzer commented on #677
The link should also wrap if it is too long

[2015-05-29 17:26] yishaigalatzer commented on #675
Looks like a duplicate of #683

[2015-05-29 17:26] #675 closed

[2015-05-29 17:28] emgarten commented on #660
Duplicate of NuGet/Home#683

[2015-05-29 17:28] #660 closed

[2015-05-29 17:29] yishaigalatzer commented on #673
This message should probably not even show up in information mode (just verbose mode if we have one for PMC)

[2015-05-29 17:31] ToddThomson commented on #688
@yishaigalatzer Thank-you. I found that the dnx pack and publish using --no-source would not support creating content items. I really just wanted to know if this was dnx specific or was for all nuget 3 packages.
To confirm: You are saying that with nuget 3 tools we will be able to support "content" within packages.
Also, how will nuget content items work with vs2015 - if I have an asp.net 5 webapp

[2015-05-29 17:39] yishaigalatzer commented on #676
Please work with Jacques on this, if we can't fix it for RTM we might need an exception

[2015-05-29 17:42] emgarten commented on #661
Duplicate of https://github.com/NuGet/Home/issues/664

[2015-05-29 17:42] #661 closed

[2015-05-29 17:43] #667 closed

[2015-05-29 17:47] yishaigalatzer commented on #666
This sounds like by design, we should at least show that it is the solution package manager instead of the project package manager to avoid confusion.

[2015-05-29 18:22] yishaigalatzer commented on #666
Conclusion: Change the API that opens the window to make it clear if it opens a per solution window or per project. And make the UI show clearly if you are managing the whole solution or a single project.

[2015-05-29 18:30] danliu commented on #685
verified with Visual Studio 2013 that this is not a regression.

However, in Visual Studio 2013/NuGet 2.*, we are adding packages folder to TFS (step 2 above) by default. But now we are not adding packages folder by default in step 2. With this change, it's a little strange to add the packages folder to TFS in following steps.

[2015-05-29 18:34] yishaigalatzer commented on #658
We think this actually does work, so it will be helpful if you can provide us with more details.

What version of nuget.exe are you using? Can you show us the actual command you are using, and the actual errors?

[2015-05-29 18:37] yishaigalatzer commented on #685
Who is "we". Is visual studio changing its behavior, so when adding the solution to TFS visual studio stopped adding packages to TFS? Or is it that we used to do some magic for it?

[2015-05-29 18:39] yishaigalatzer commented on #657
@KenKilty we tend to agree with your observation, we are going to take a look. Thanks!

[2015-05-29 18:51] yishaigalatzer commented on #654
We have a separate issue tracking refreshing the UI properly.

For this scenario we should make sure that `Microsoft.Diagnostics.Tracing.EventRegister` actually gets removed

[2015-05-29 18:57] yishaigalatzer commented on #656
This is already supported. @csharpfritz can you please update TFS, and customer issue.

![image](https://cloud.githubusercontent.com/assets/1238711/7890267/ca9ee692-05f9-11e5-9341-1da59f1d2e57.png)

[2015-05-29 18:57] #656 closed

[2015-05-29 19:13] danliu commented on #685
"we" is NuGet.

In NuGet 2.* versions, NuGet has the menu of "Enable NuGet package for restore", which will add the .nuget folder with nuget.exe and nuget.targets file. When this is enabled, NuGet will not add packages folder to TFS by default. If .nuget folder is not present, then NuGet 2.* will add packages folder to TFS.

In NuGet V3, the "Enable NuGet package for restore" menu has been removed

[2015-05-29 21:14] #274 closed

[2015-05-29 21:15] johnataylor commented on #680
The main problem with the semantics of the command are that it hides a package upgrade. Having the package upgrade semantic in isolation of prerelease and ignoreDependencies is fundamentally what introduces the ambiguity.

Secondarily the semantic is not really "Force" as force implies doing what you ask and override any errors or warnings. This is not exactly what is being said with "Force" on th

[2015-05-29 21:44] davkean opened #690 "Managed NuGet packages for Solution doesn't work with an empty solution or a solution containing only unloaded projects"
1. File -> New C# Console Application
2. Right-click on C# Console Application and Choose Unload
3. Right-click on Solution
4. Choose Manager NuGet packages for Solution

Expected: For the package manager to open for the solution
Actual: Nothing

Repro in recent build of VS 2015.

[2015-05-29 22:36] feiling opened #691 "Consider adding a "Add a new package source" UI right under the package source drop down"

[2015-05-29 23:07] danliu commented on #612
duplicate of https://github.com/NuGet/Home/issues/662. Looks like Zhi already have a fix.

[2015-05-29 23:07] #612 closed

[2015-05-30 00:48] deepakaravindr commented on #597
This is fixed with https://github.com/NuGet/NuGet.PackageManagement/commit/df4bdd8d59c8544493d62f4e4e75ffd6f6a0cc9b

@yishaigalatzer, Fix to not to go to 'Not Responding' state needs to happen in the platform. VS already has a bug on them in TFS

[2015-05-30 00:48] #597 closed

[2015-05-30 01:09] deepakaravindr commented on #681
Fixed with https://github.com/NuGet/NuGet.VisualStudioExtension/commit/992bcd57d3aba0e6a461ed1063f1af506bc37662

[2015-05-30 01:09] #681 closed

[2015-05-30 05:29] Daniel15 opened #692 "Completely broken on VS2015 RC"
I just upgraded from VS2015 CTP to RC, and NuGet seems completely broken out of the box:

![screen shot 2015-05-30 at 3 13 38 pm](https://cloud.githubusercontent.com/assets/91933/7895711/7cbee49e-06e0-11e5-883a-ce5675cb40d5.png)

I tried `devenv.exe /ResetUserData` but it didn't help.

Here's another exception I got:
[code]

[2015-05-30 06:31] tom-englert commented on #304
Files to be added should be determined by looking at the PDB - not by trial and error!
(This would e.g. also fix other issues, like https://github.com/NuGet/Home/issues/529)

If NuGet claims to support SymbolSorce, it should do it right, or otherwise drop the entire feature.

There is a plugin for the PackageManger that shows these errors already at the client, (https://github.com/SymbolSource/Sym

[2015-05-30 07:04] yishaigalatzer commented on #304
We would take a pr if you are interested. Currently this is low on our priority list.

[2015-05-30 07:39] #584 closed

[2015-05-30 13:29] AArnott commented on #603
So it sounds like it won't work for them because they don't define the `AssemblyReferences` capability and don't declare a target framework.
NuProj lacks NuGet support for the same reason, which is sad because I already have [a NuGet package](http://nuget.org/packages/Nerdbank.GitVersioning) that targets class libraries _and_ NuProj but users have to manually install the package into NuProj since

[2015-05-30 15:12] yishaigalatzer commented on #603
What does a package like that do? Just targets and props or also assembly references?

[2015-05-31 01:52] Daniel15 commented on #692
I've also attempted the "fix" from https://connect.microsoft.com/VisualStudio/feedback/details/809074/nuget-failing-to-load-vs2013-becomes-unusable:
 - Uninstalled NuGet extension
 - Deleted the directories from C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions that contained NuGet stuff (oyyujfkb.u2o, 2fiugnvl.45a, gnp5qihb.x0j)
 - Reinstalled NuGet from https://visualstu

[2015-05-31 03:18] AArnott commented on #603
Mine just adds msbuild imports.

[2015-05-31 04:25] Daniel15 commented on #692
I "fixed" it by completely uninstalling Visual Studio, deleting all the remaining stuff in `C:\Program Files (x86)\Microsoft Visual Studio 14.0`, then reinstalling. Really annoying, this should be called out in the release notes if it's an issue.

[2015-05-31 16:03] mluparu commented on #603
Same here - just msbuild imports. Potentially install.ps1 and init.ps1 too.

[2015-05-31 16:35] tom-englert commented on #304
https://nuget.codeplex.com/SourceControl/network/forks/tomenglert/private/contribution/8243

[2015-05-31 18:42] yishaigalatzer commented on #304
Thank you!

I'm not sure if we can take dependency on this 3rd party package or not. We need to check legally if it is ok or not. Is the official package not sufficient?

Also please refrain from todo in the code and add tests.

The good news (I assume) is that you are unblocked, right?

[2015-05-31 20:26] AArnott commented on #603
Ah yes, I might want ps1 script support as well although that is less critical for me. So perhaps this issue can be used to track the remaining work for both @mluparu and me since they seem the same.

[2015-06-01 00:35] TanukiSharp commented on #658
Indeed I tested with different network configurations (different smb servers, different Linux distributions, VPN or not) and there is only one case that it doesn't work but clearly unrelated with NuGet.

I guess several people will probably want to host their own feed on a Linux server, and running a NuGet server is way too complicated for the moment in my opinion, even on Windows, so once I found

[2015-06-01 00:35] #658 closed

[2015-06-01 05:06] AArnott opened #693 "Update-Package fails with "Empty path name is not legal.""
A package I'm developing is frequently having trouble updating or removing from projects:

    PM> update-package MicroBuild.Teams.Project -version 1.0.0-alpha-g0cfe4257d3
    Attempting to gather dependencies information for package 'MicroBuild.Teams.Project.1.0.0-alpha-g0cfe4257d3' with respect to project targeting '.NETFramework, Version=v4.5'
    Attempting to resolve dependencies for package

[2015-06-01 05:45] tom-englert commented on #304
I just wanted to use the same package as SymbolSource does (they are open source too, so the license should be fine) so I can reuse some of their code and be sure the result is identical. I will try the official CCI package and replace it if it works.

Todos; I'll remove the one about the code smell and create a bug instead, since I'm not sure why the code is there and if it is important.
I can't

[2015-06-01 12:36] GeertvanHorrik commented on #550
I hope it will be fixed soon, released a package (GitTools.Core) 4 hours ago:

[code]

[2015-06-01 12:55] AArnott commented on #693
This is on VSPro_Platform 22915.00 with NuGet Package Manager extension 3.0.60410.213.

Reloading the solution doesn't seem to fix it, but restarting VS usually does.

[2015-06-01 13:55] spankr opened #694 "NuGet pack append prerelease suffix to version"
Currently, our team stores the version number within the _AssemblyInfo.cs._ All our info is in there so we just pack off the .csproj. What we'd like to do is have our CI build publish a prerelease package for testing/evaluation. (1.0.0-build2 or 1.2.0-nightly, for examples). Right now CI runs the _pack_ with a hard-configured **-Version 1.0.0-build2** for that but we have to change the CI build co

[2015-06-01 15:37] tom-englert commented on #304
The official CCI package is not usable - all the stuff needed is not public. Thats why the SymbolSource project created this shadow.
However I have cleaned up the references to minimize the dependencies to one assembly.

[2015-06-01 16:41] yishaigalatzer commented on #692
@csharpfritz can we please include this in the next set of release notes?

[2015-06-01 16:41] #692 closed

[2015-06-01 16:44] yishaigalatzer commented on #694
That's a nice idea. Note that we will not take versions from `AssemblyInfo.cs` but perhaps from the assembly version itself.

I'm moving this out beyond Update I, but if you want this coming in faster you are more than welcome to submit a PR.

Note that we are going to move nuget.core and command line into GitHub in the coming days/weeks, you might want to wait on that if you are interested in sub

[2015-06-01 16:47] yishaigalatzer commented on #693
@AArnott can you please provide us with a repro project? Can you please pickup the latest NuGet extension?

[2015-06-01 16:48] yishaigalatzer commented on #691
@feiling can you provide more information, screen shot with the suggestion and why do you think this is important?

[2015-06-01 16:49] yishaigalatzer commented on #690
This is expected, there is no more solution level package in NuGet. Manage packages for solution means manage it for all the loaded projects "together"

[2015-06-01 17:30] yishaigalatzer commented on #304
I see, I will check and see if we can use it or not. Mind you the fact that an open source project is using a package, doesn't mean nuget.exe can.

Here is an alternative that works with Visual Studio (and might work with msbuild tools, need to verify)

https://github.com/nuproj/nuproj/blob/master/src/NuProj.Tasks/ReadPdbSourceFiles.cs

CC @tarrajobst

[2015-06-01 17:37] danliu opened #695 "Null reference when uninstall package to ASP.NET preview 5 Web API app"
Repro steps:
1. create a new ASP.NET preview 5 web api application
2. start package manager dialog, go to installed tab
3. select a package, click uninstall

Expected: the package is uninstalled

Actual: null reference exception

Severity	Code	Description	Project	File	Line
Error		Object reference not set to an instance of an object.			0

[2015-06-01 17:39] emgarten commented on #611
Updated NuGet.ContentModel to support nearest framework tie breaking.

NuGet/NuGet3@7c5fd6840de59c1a49df4c7e8648837079e3bde2

[2015-06-01 17:39] #611 closed

[2015-06-01 17:40] terrajobst commented on #304
By the way, it's worth pointing out that there are cases where the PDB lists source files that aren't present at the time of building anymore. AFAIR I've hit this with VB compiler. So there still might be cases where SymbolSource.org might refuse a symbol package based on missing source files.

However, with NuProj I've found that using the PDB to determine which files to embed way more reliable t

[2015-06-01 18:04] maartenba commented on #550
This issue has been resolved. @GeertvanHorrik the one you just posted is related to Related to #2432.

[2015-06-01 18:16] davkean commented on #690
I don't understand. How is doing _nothing_ a correct behavior? Shouldn't the menu be disabled in this case?

[2015-06-01 18:37] johnataylor opened #696 "update-package only looks in current package source"
steps:
1) configure multiple package sources e.g. nuget.org and aspnetvnext
2) create an MVC 5 project
3) in PMC select aspnetvnext source type update-package
4) this particular update will fail on antlr because its not part of the aspnetvnext feed

But shouldn't update-package consider all enabled sources? otherwise this will almost always fail for some packages.

[2015-06-01 18:53] danliu opened #697 "Remove install-package -Force from 3.0-RTM"

[2015-06-01 18:54] johnataylor commented on #696
NuGet 2 has the same limitation, however, it does not show an error, NuGet 3 shows an error in the PMC.

Given this is essentially a search for possible updates, it is not strictly an error, which suggests the v2 behavior is more correct. Possibly it would be useful to show a warning to the user. It is also not clear how much actually succeeded on v3.

[2015-06-01 19:09] yishaigalatzer commented on #690
Probably true. I missed that piece

[2015-06-01 19:10] AndriySvyryd opened #698 "Show helpful error message when package restore triggered by another action fails."
When using package manager UI to perform an action on a package a package restore will be run if necessary. If there were any errors during the restore they will be shown in the restore bar, but it might not be evident that the package restore errors prevent any actions on the packages. To be consistent with PMC an error message should pop-up explaining this.

[2015-06-01 19:20] AndriySvyryd opened #699 "Show/hide package restore bar when package restore is triggered from PMC"
When package restore is triggered from PMC and the restore bar was visible then even if the restore is successful the restore bar will remain visible.
When package restore is triggered from PMC and the restore bar was not visible and the restore fails the restore bar will still be not visible.

[2015-06-01 20:49] AndriySvyryd opened #700 "Don't construct URIs"
RegistrationResourceV3.GetUri uses package Id and version to build the URI. A more robust way of doing this would be querying the server for the URI.
@johnataylor

[2015-06-01 21:06] AArnott commented on #693
I'd love to try your latest VSIX. I just keep forgetting the UNC path to go get it.
If it repros with that, yes, I'll share that with you.

[2015-06-01 21:33] feiling opened #701 "NullReferenceException after clicking the action button on the UI"
This was caused by a recent change: https://github.com/NuGet/NuGet.PackageManagement/commit/54d3e1df748cd1910c11b985a8d4b181412a2386

With this change, right after user clicks the action button, a refresh is triggered. Which in turn will cause a UI refresh. The problem is that during the UI refresh, the DetailControl.ContextData is null, and at this time, accessing properties such as NuGetUI.FileC

[2015-06-01 21:40] danliu commented on #695
duplicated of https://github.com/NuGet/Home/issues/701, which is being fixed.

[2015-06-01 21:40] #695 closed

[2015-06-01 21:48] #618 closed

[2015-06-01 21:49] #700 closed

[2015-06-01 21:54] yishaigalatzer commented on #428
This is not actionable

[2015-06-01 21:54] #428 closed

[2015-06-01 21:57] yishaigalatzer commented on #238
We are not adding filtering support (at least not for now until more discussion happens)

[2015-06-01 21:57] #238 closed

[2015-06-01 21:58] yishaigalatzer commented on #254
We should remove the interface from RTM, and restore at a later release.

[2015-06-01 21:59] yishaigalatzer commented on #429
This is already fixed

[2015-06-01 21:59] #429 closed

[2015-06-01 22:04] yishaigalatzer commented on #690
This menu shows up before NuGet is loaded, so it is impossible to disable it. But we can probably show an error message in this case and perhaps disable it later.

Priority doesn't seem to be high enough to try and fix it for RTM, moving to Update I

[2015-06-01 22:05] yishaigalatzer commented on #698
Since it is too late for localizing, moving out to Update I

[2015-06-01 22:48] pranavkm commented on #610
Verified this works correctly

[2015-06-01 22:48] #610 closed

[2015-06-01 23:43] emgarten opened #702 "UAP project target framework support for RTM"
Currently UAP projects that are not using project.json return win81 as the project target framework.

Does this need to be changed for RTM?

The fix for this is to check the TPM and update the framework to UAP (a small code change) as we did for the UAP RC release.

[2015-06-01 23:47] danliu opened #703 "Error message of project-package compatbility may need to be improved for multiple projects in a solution"
Repro steps:
1. create a solution with a .net 4.5 project and a dnx project
2. start package manager for solution dialog, install package only supporting dnx project

Expected: error saying the package cannot be installed to one of the projects with error ...

Actual: only the following error is shown, which does not indicate which project it failed to install. (Installing succeeded with the other

[2015-06-02 00:12] spankr commented on #694
That answered my next two questions too! I'll keep an eye out for the migration and see if I can submit a PR.

[2015-06-02 01:15] barisbalic opened #704 "What happened to V3 + Preview JSON endpoints?"
Hi, I was wondering what happened to the JSON endpoints that were available until around 9 days ago.  Are they coming back?  If not will you be introducing something similar again?

[2015-06-02 01:45] AArnott commented on #603
Regarding the error:

I found the code on GitHub and determined you’re calling for TargetFrameworkMoniker via DTE.Properties on the DTE.Project object. CPS cannot return null from any property because it wreaks havoc for a lot of clients. Besides, in MSBuild there is no null property – just properties with empty values. So for those two reasons, and the fact that changing that would be high risk a

[2015-06-02 04:06] davkean commented on #690
You can use capabilities now to disable/hide a menu. In this case, we should make sure to have the right capabilities registered across all the project types you care about so that you can hide yourselves when not applicable.

[2015-06-02 05:10] yishaigalatzer commented on #690
This has nothing to do with capabilities. Ping me tomorrow and I can explain in person

[2015-06-02 05:19] LogikBlitz opened #705 "nuget.exe does not respect true/false parameter on disabledpackagesources"
In the documentation at https://docs.nuget.org/consume/nuget-config-defaults
the substract for the config states that you can specify ```<disabledPackageSources>```

[code]

The ```value="true"``` part of the entry has no effect.
One would expect the following
1. ``` <add key="nuget.org" value="true" />``` -> feed is disabled
1. ``` <add key="nuget.org" value="false" />``` -> feed is enabled

My t

[2015-06-02 05:40] davkean commented on #690
It does have to do with capabilities. You can now disable/enable menu items based on capabilities _without_ loading your package. You mark your menu item as only being enabled when the right project types are loaded, then it doesn't show up nor load your package.

[2015-06-02 16:41] jvandertil opened #706 "NuGet crashes VS2015 with an InvalidCastException"
When trying to compile a solution, everytime VS2015 will crash. Attaching a debugger gave me this exception message and stacktrace.

Operating System: Windows 8.1
NuGet extension version: 3.0.60410.213

[code]

[code]

Some tests in the Immediate Window:
[code]

[2015-06-02 16:43] yishaigalatzer commented on #704
Can you be a bit more specific? What are you looking for exactly

[2015-06-02 17:02] danliu opened #707 "VS crash when click Package Sources on Settings dialog"
repros with VSIX from Dev branch - VSIX number 453

1.Open VS, Tools->NuGet Package Manager->Package Manager Settings.
2.Click Package Sources, the VS crash.

Click Tools->Options->NuGet Package Manager, then click Package Sources, VS also crash.

Dump file is at \\****\temp\***\dumpfile\Main23001.01\packagesource (contact danliu for location)

[2015-06-02 17:08] oliver-feng opened #708 "Request Azure ActiveDirectory support for NuGet.exe and NuGet VisualStudio Plugin."
I have some code works for AzureAD where server send a challenge, client attach token in http header after authentication. Using the code in AAD sample to do authentication https://github.com/AzureADSamples/NativeClient-DotNet.

With this, it's very easy to host a NuGet with AAD authentication. Here is a private PR.
https://github.com/oliver-feng/nuget/pull/1/files

There are existing support for

[2015-06-02 17:14] jvandertil commented on #706
Seems to be resolved in latest dev branch. Closing for now.

[2015-06-02 17:14] #706 closed

[2015-06-02 17:56] tstahnke commented on #644
I also saw visual studio crashing when trying to install automapper. I had to do a devenv.exe /ResetSettings to resolve that issue.

Then, I was able to install Umbraco 7.2.5 in VS2015 RC with the new nuget by following this order of package installation. From what I gathered while banging it out, there is a circular dependency that conflicts when installing MVC with dependency resolution.

newton

[2015-06-02 18:33] nul800sebastiaan commented on #644
@tstahnke That's just insane, we already list all of the dependencies, you shouldn't have to install them manually first.

[2015-06-02 18:37] tstahnke commented on #644
Yeah, I think that was required when nuget had the bug earlier. It's no longer needed to install it in that order, but I felt it might be helpful for reference if there is still some kind of dependency resolution bug somewhere.

[2015-06-02 18:42] yishaigalatzer commented on #708
Thanks for the issue and the PR! We are locking down for RTM, and this is a rather large change. We will take a look for Visual Studio 2015 Update I

[2015-06-02 18:43] tstahnke commented on #644
Something interesting too: If you install automapper using the v2 api, and then try to install umbracocms.core, that resolves dependencies _instantly_. If you try to install umbracocms on the other hand without installing umbracocms.core, then it hangs.

[2015-06-02 18:44] yishaigalatzer commented on #705
Please update the docs

[2015-06-02 18:47] yishaigalatzer commented on #691
We already have a configuration button on the right side of the UI

![image](https://cloud.githubusercontent.com/assets/1238711/7944036/32178d44-091d-11e5-97a9-f6c84a0b3114.png)

[2015-06-02 18:47] #691 closed

[2015-06-02 19:12] veleek commented on #352
*Note: Transferred from issue on CodePlex - [Packages containing Icon and License](https://nuget.codeplex.com/wikipage?title=Packages%20Containing%20Icon%20and%20License)*

# Packages containing Icon and License

## Problem Statement

Currently, the NuGet schema only allows the package author to specify the LicenseUrl and IconUrl as external URLs for the license and icon respectively. This puts th

[2015-06-02 19:33] #707 closed

[2015-06-02 21:01] yishaigalatzer commented on #702
Chatted with Navit and KevinPI and decided not to support this scenario. Developers will have to port over from RC builds to project.json

[2015-06-02 21:01] #702 closed

[2015-06-02 21:08] johnataylor commented on #547
This should be fix in the next drop where we have a bunch of fixes to the resolver.

[2015-06-02 21:08] #547 closed

[2015-06-02 21:10] johnataylor commented on #680
We are removing the feature, refer to #697

[2015-06-02 21:10] #680 closed

[2015-06-02 21:10] johnataylor commented on #517
This is now fixed.

[2015-06-02 21:10] #517 closed

[2015-06-02 21:43] juzzbott opened #709 "Packages are pulled into the incorrect directory from command line 'nuget restore'"
Hi,

There seems to be an issue whereby packages are restored into incorrect directories using the command line utility.

In my packages.config file, I have the following package configurations (remaining packages in the file file are working correctly)

    <package id="Owin" version="1.0.0" targetFramework="net46" userInstalled="true" />
    <package id="Unity" version="3.5.1404" targetFramework

[2015-06-02 21:43] barisbalic commented on #704
Sorry wrote this late and wasn't very clear!  I was previously indexing all packages by hitting a few of the endpoints that were exposed, I've listed them below.  At some point ~10 days ago they disappeared, I realise that they probably weren't for public consumption but they were very useful.  I was wondering if you're bringing anything like these back.

`http://preview.nuget.org/ver3-ctp1/islate

[2015-06-02 21:57] AArnott commented on #640
Sorry I haven't replied for a while. Given that you've fixed a bug in this area and I was on an old drop, please feel free to close as not repro. I'll reactivate if I see it again on a current drop.

[2015-06-02 23:06] oliver-feng commented on #708
Can we add this feature to NuGet 2.8.*?

[2015-06-02 23:25] yishaigalatzer commented on #704
Will get back to you with guidance. These where not meant for public consumption

[2015-06-02 23:26] danliu opened #710 "Package description/details are not shown on Installed tab"
Repro steps:
1. have api.nuget.org and aspnetVnext feed both enabled
2. create a new MVC5 application
3. start package manager, go to installed tab
4. select package source to AspNetVnext

Expected: If we can retrieve the metadata from any of the enabled feeds, we should use it

Actual: metadata is not shown and we ended up with very blank lists like below:

![capture](https://cloud.githubusercont

[2015-06-02 23:28] yishaigalatzer commented on #708
We could post dev12 u5 rtm

[2015-06-02 23:39] oliver-feng commented on #708
Thank you. when should I check back?

[2015-06-02 23:47] barisbalic commented on #704
I can achieve something similar hitting the old V2 endpoint repeatedly to get through the whole set, not sure on how long that will be around for.  I appreciate your time, thanks very much.  Here is something I saw today that made me laugh: ![](https://pbs.twimg.com/media/CGfihGbXIAAxf-V.jpg)

[2015-06-02 23:49] danliu opened #711 "Searching results for packages are not consistent between All and Upgrade available filters"
Repro steps:
1. create a new MVC 5 application
2. add a feed to AspNetVnext and select it as the active package source
3. search "mvc" in All tab, then search "mvc" in Upgrade available filter

Expected: Package `Microsoft.aspnet.mvc` should be shown in the search results of "All"

Actual:
 All filter:

![1](https://cloud.githubusercontent.com/assets/1087852/7949833/42ab7344-0947-11e5-8f99-2708f74

[2015-06-02 23:57] #678 closed

[2015-06-03 00:05] danliu opened #712 "UpgradeAvailable filter is showing the latest stable version as the default, although include prerelease has been checked"
Repro steps:
1. create a new MVC5 application
2. go to upgrade available tab with api.nuget.org
3. select EntityFramework

Expected: version 7.0.0-beta4 is displayed in Version combobox

Actual: latest stable 6.1.3 is displayed, whereas the package has a prerelease tag on the list

![3](https://cloud.githubusercontent.com/assets/1087852/7950012/ac93d664-0949-11e5-8d70-d13cf34be9e2.png)

[2015-06-03 00:27] emgarten opened #713 "Improve package gather perf"
Improve the performance of the current package gather.

Currently packages are gathered in parallel across sources, but not across ids.

[2015-06-03 00:38] emgarten opened #714 "Increase gather verbosity"
Additional messages should be displayed during the package gather. The messages could include the package id and source that the gather is currently on.

Without any messages for 30+ seconds the UI feels as if it is stuck.

[2015-06-03 00:39] deepakaravindr opened #715 "Eliminate the concept of PackageSaveModes and always extract all the files in the nupkg"
Eliminate the concept of PackageSaveModes and always extract all the files in the nupkg

By default, the nuspec file is not extracted on the packages folder. nuspec file and all the other files should always be extracted

[2015-06-03 00:58] anurse opened #716 "Warn when installed version of a package is above version specified in project.json"
Unless the user specifies a float `1.0.0-*` or `1.0.*`, etc.

If the package is a direct dependency of a project, it should mask all other versions in the graph, so if that version cannot be found, an error should be raised, rather than trying to install a later version.

[2015-06-03 01:23] yishaigalatzer commented on #708
Lets work on the pr now

[2015-06-03 03:02] johnataylor commented on #704
In order to index all the package data you should use a structure we have introduced we call the "Catalog."

However, before we go into any detail, you should note that for our team our primary focus has been on rebuilding much of our client stack in the last few months. And, in that process, we have been careful to not directly depend on this structure within those new client bits. Rather what I'

[2015-06-03 03:39] danliu opened #717 "Project retargeting error should be cleared when solution is closed"
Right now it's only cleared when Visual Studio is closed.

It should also be cleared when the current solution is closed, but Visual Studio remains open.

[2015-06-03 03:45] davidfowl commented on #716
Yes but no. This should be implemented with care. Don't treat top level nodes specially.

[2015-06-03 04:21] yishaigalatzer commented on #715
I don't think we want to eliminate it from the library. But I do think we always want to extract all files when we explode the packages into the global packages folder.

[2015-06-03 04:29] yishaigalatzer commented on #709
I think this is the same as a bug in vs2015 that normalized the paths, and hence it doesn't match with the paths in nuget.exe

@AndriySvyryd - Can you please validate this assumption.

By the way we haven't yet shipped a nuget.exe to match visual studio 2015. This work is still in progress.

[2015-06-03 05:18] AndriySvyryd commented on #709
#595 is about .nupkg filenames specifically, the fix I was working on might not fix this problem.

VS2015 should use the same directory names as nuget.exe currently does.

[2015-06-03 11:01] juzzbott commented on #709
This is also happening for Microsoft.Web.Infrastructure.. Should be: Microsoft.Infrastucture.1.0.0 when it's restoring to Microsoft.Infrastucture.1.0.0.0

Do I have mismatched versions of NuGet which is causing this? Is there some configuration or feed change to get these to resolve correctly? It seems the VS2015 nuget resolver is correct, so how can I mimic that behaviour?

[2015-06-03 11:53] apirila opened #718 "Possible license violation when downloading NuGet packages"
If you download a nuget package, a valid license file may not be distributed with the software. E.g. if you include a package "Json.NET" the license file is not included in the distribution. The MIT license however states

"... The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software. .."

So distributing MIT licensed software re

[2015-06-03 14:43] yishaigalatzer commented on #709
I don't think so. I think we have a bug in vs2015. We will take a look today and get back to you with more details.

[2015-06-03 18:45] danliu commented on #604
@julielerman, sorry for the late response. I cannot view the video now, it says

The open folder can no longer be viewed.
It no longer exists or you non longer have permission to access it.

Can you please re-upload it, thanks!

[2015-06-03 18:51] JoshVarty opened #719 "Expose API for Visual Studio extensions to trigger package restore"
I'm working on an extension that must compile/emit C# projects.

It would be nice if there was a way for us to trigger package restore without having to call `nuget.exe` directly.

[2015-06-03 19:20] yishaigalatzer commented on #719
@JoshVarty I forgot to mention that starting with Visual Studio 2015, we auto restore on build (unless the user opted out, which at that point I don't think you want to restore).

[2015-06-03 19:23] yishaigalatzer commented on #718
We don't plan to enforce this. You can file a request against json.NET or any other package that you feel is not complying with their license.

You can file an issue on our gallery (nugetgallery repo) where we might be able to suggest additional validation to packages.

[2015-06-03 19:23] #718 closed

[2015-06-03 19:25] JoshVarty commented on #719
I'm actually using Roslyn to build their projects behind the scenes. So I'm not going through VS's traditional build system.

[2015-06-03 19:25] #712 closed

[2015-06-03 19:25] yishaigalatzer commented on #712
This is based on user feedback

[2015-06-03 19:26] yishaigalatzer commented on #711
@danliu does this repro in nuget.org? This could be a server behavior

[2015-06-03 19:29] yishaigalatzer commented on #710
We should probably show something like - Not available in this source

[2015-06-03 19:34] yishaigalatzer commented on #704
@barisbalic I'm going to close this issue, as I don't think there is an "bug" to follow on. We can keep conversing here if you have more questions.

[2015-06-03 19:51] barisbalic commented on #704
@johnataylor @yishaigalatzer, thanks both very much for your time, and very detailed responses.  This definitely isn't a bug but I've gotten into the habit of communicating with people over Issues in other projects I didn't even think twice about it here, sorry if it's the wrong format.

@johnataylor what you're saying makes a lot of sense, I'm very familiar with transaction logs/wals etc, and I'v

[2015-06-03 21:03] danliu commented on #363
Fixed via https://github.com/NuGet/NuGet.VisualStudioExtension/commit/028f79f25875766da7881d73ef7f66b217111d58 too.

[2015-06-03 21:03] #363 closed

[2015-06-03 21:18] zhili1208 commented on #699
@AndriySvyryd Can you provide repro step, I can't repro it. thanks

[2015-06-03 21:35] johnataylor commented on #704
1) Updates are simply the whole thing again with the updated values in place. Deletes will appear as type PackageDelete in the Catalog. Currently we haven't wired deletes in this particular catalog
2) You have to check the value all the way down. The idea is the value tells you whether you have to follow the link (the commitTimestamp describes the resource - where the resource is a page of the cat

[2015-06-03 21:42] barisbalic commented on #704
Okay sorry again for using issues, if I have a followup how should I pass it along/contact you?

[2015-06-03 21:47] johnataylor commented on #704
No worries about using issues. Its just that we have recently switched to a mode of being pretty active on addressing issues, and that naturally means Closing them when its beyond a point of being actionable.

So please don't take closing as a negative thing, that's all!

And by all means open another issue. Or reopen this if that's meaningful.

[2015-06-03 21:47] #704 closed

[2015-06-03 22:19] AndriySvyryd commented on #699
First scenario:
1. Create a project
2. Install the xunit package
3. Close VS
4. Delete the 'packages' folder
5. Open the project
6. Open PMC, the restore bar should be visible
7. Call 'Install-Package Moq' from PMC
8. Both Moq and xunit are in the  'packages' folder and the restore bar is still visible.

Second scenario:
1. Create a project
2. Install the xunit package
3. Open PMC
4. Modify packag

[2015-06-03 22:41] johnataylor commented on #654
We can't get a repro on 14.0.22915.0 VSCLIENT_1

[2015-06-03 22:47] #668 closed

[2015-06-03 23:25] emgarten opened #720 "Add documentation around PCLs"
There have been requests for guidance on adding PCLs to nupkgs.

A few things that could be covered in the docs:
1. Finding the NuGet PCL string for a portable profile number.  Examples of this can be found on: http://blog.stephencleary.com/2012/05/framework-profiles-in-net.html  but nuget.org is currently lacking any details about this.
2. Optional profiles for the xamarin frameworks. These do no

[2015-06-04 00:03] yishaigalatzer opened #721 "Gather can cache results cross projects"
from user feedback:

When updating a nuget package included in multple projects the nuget system seems to run the same checks multiple times which takes a long time.

Attempting to gather dependencies information for package 'Weingartner.Json.Migration.Fody.0.6.3' with respect to project targeting '.NETFramework, Version=v4.6'
Attempting to resolve dependencies for package 'Weingartner.Json.Migrat

[2015-06-04 00:09] juzzbott commented on #709
@yishaigalatzer That would be awesome, thank you!

[2015-06-04 01:14] yishaigalatzer opened #722 "Hang when switching target frameworks"
Visual Studio becomes unresponsive when changing .NET Framework version when Entity Framework 6 is added to a solution.

Steps to reproduce:

1. Create a new empy solution
2. Add a class libary project (Lib).
3. Use NuGet to add EF6 to the project.
4. Add a console app project (Demo).
5. Set the .NET version to 4.6 for Lib.
-- Visual Studio hangs. When restarted setting has worked.
6. Repeat for D

[2015-06-04 01:14] yishaigalatzer commented on #722
@danliu please try to repro with the latest bits

[2015-06-04 01:41] yishaigalatzer commented on #654
Verify on d14rel

[2015-06-04 05:17] emgarten commented on #619
Added support for .NETPlatform,Version=v5.0

NuGet/Nuget3@ad6ccc039ff9f8ff1ed15465ce5d06deb8b9bc0f

[2015-06-04 05:17] #619 closed

[2015-06-04 11:10] csharpfritz opened #723 "NuGet Package Manager UI should handle slow or missing network connection"
Consolidating several issues from Visual Studio feedback:

NuGet package manager UI is very slow when network connections are very slow or have large ping time to NuGet repository servers (or MyGet repository).

When network is not available, NuGet UI crashes

[2015-06-04 11:14] csharpfritz opened #724 "Package Manager UI lazy loading needs caching"
From Visual Studio feedback:

lazy loading is nice, but still gives more interruptions than it shuold be. Try cache list locally? After all it's usually appended, so worst case scenario i will see an update few seconds later, but i will see list right away. Also, I can see 5 packages on my screen, when i scroll down i can see loading bar that loads 5 more. Why not load 100 instead? I doubt that wo

[2015-06-04 11:15] csharpfritz opened #725 "Package Manager UI - Search by Author"
It would be nice to be able to search to find all packages by author in Visual Studio UI.

Inspired from Visual Studio feedback:

* package author is off screen most of the times, you can't click on it to find all packages of the same author (would be nice, eh?)

[2015-06-04 11:16] csharpfritz opened #726 "Visual Studio feedback: Uninstall process failures"
From Visual Studio feedback:

Uninstalling packages with new UI is a nightmare. The only thing that is done well - this is not a modal UI. Usability is terrible.

* remove dependencies checkbox is off screen quite often (long list of projects, limited vertical space on Surface 2 Pro, font sizes... its off screen too often)

* remove dependencies actually fails to find proper order of removal, I've

[2015-06-04 12:39] AnEnglishmanInNorway opened #727 "NuGet Core GetPackages does not set IPackage.Listed correctly"
The following code
            foreach (var repoName in new [] { @"http://server/api/v2" })
            {
                var repo = new PackageRepositoryFactory().CreateRepository(repoName);
                var packages = repo.GetPackages();
                var plotPackages = packages.Where(package => package.Id.Contains("PlotControl"));
                foreach (IPackage p in plotPackages)

[2015-06-04 13:33] attilah opened #728 "VS2015 NuGet Package Manager UX problema"
I've started to use VS2015 and the new NuGet came with it.

Upon the first encounter what I saw is that I can't see what is where...

Then came a some bad UX experience:
- When I open the NuGet PM at solution level, show me the list with the installed filter by default. I think that
- Don't check the include prerelease by default. I think that not that's what MOST users want. If someone unchecks i

[2015-06-04 13:48] tom-englert commented on #304
The COM component used in NuProj is registered in "C:\Program Files (x86)\Microsoft Visual Studio 12\Common7\Packages\Debugger\msdia120.dll" - so this is only available if you have Visual Studio installed. If you have only MsBuild tools installed, it won't work. Also every VisualStudio version provides a different one - msdia100 has another GUID, so if you want to support more than one VS version,

[2015-06-04 14:48] binki opened #729 "[DOCS] “Setting Up The NuGet Development Environment” still refers to codeplex"
In the “Developing NuGet on Linux” section, I find the following instruction:

    git clone https://git01.codeplex.com/nuget

This seems to contrast the note found at https://nuget.codeplex.com/discussions :

[2015-06-04 15:10] yishaigalatzer commented on #304
I don't get to make this kind calls. Will have to take this to the lawyers.

There is also the maintenance concern the cci package looks abandoned.

Perhaps we should make this a plugin.

I will need to get back to you

[2015-06-04 15:34] yishaigalatzer commented on #729
This is still correct until we move nuget.core to github, this is in progress and should complete shortly. We will then update the docs as well.

Thanks for bringing it up to our attention.

[2015-06-04 15:45] yishaigalatzer opened #730 "Preview dialog does not respect the visual studio color theme"
Reported by @attilah in https://github.com/NuGet/Home/issues/728

[2015-06-04 15:46] yishaigalatzer opened #731 "Preview dialog does not respect the visual studio color theme"
Reported by @attilah in https://github.com/NuGet/Home/issues/728

[2015-06-04 15:46] #731 closed

[2015-06-04 15:46] yishaigalatzer commented on #731
Duplicate opened accidentally

[2015-06-04 15:57] yishaigalatzer opened #732 "Remember pre-release checkbox per user settings"
By default pre-release should be turned off by default (on fresh install).
And we will still remember the settings per solution.
But for new projects we will pick the last settings from user.

[2015-06-04 16:02] yishaigalatzer commented on #728
@attilah this is good feedback, we are going to handle some of it for RTM, and some for Update I. It really helps when issues are opened individually, so we can track them and triage them one by one.

Note that we released an update nuget extension just yesterday (still not on the visual studio gallery) https://nuget.codeplex.com/releases/view/615507 it will come to the gallery in a few days. Give

[2015-06-04 16:02] #728 closed

[2015-06-04 16:34] yishaigalatzer commented on #727
You need to call IsListed directly by calling `PackageExtensions.IsList(package)`

This is the actual code -

[code]

Given that longish term we want to get rid of `nuget.core` I'm not inclined to try and fix it as it might break other people depending on this behavior.

We should probably add a doc comment to `IsListed` though

[2015-06-04 16:37] yishaigalatzer commented on #724
This was already fixed. and we are already tracking further performance improvements.

[2015-06-04 16:37] #724 closed

[2015-06-04 16:37] yishaigalatzer commented on #723
This was already fixed or have fixes in progress.

[2015-06-04 16:37] #723 closed

[2015-06-04 16:51] Thieum commented on #545
:+1: for dacpac support.

[2015-06-04 16:59] #697 closed

[2015-06-04 17:01] danliu commented on #604
@julielerman, please try out RC2 VSIX from https://nuget.codeplex.com/releases/view/615507, to see if your issue still reproes.

[2015-06-04 17:10] julielerman commented on #604
Thanks. I'm out of band right now so was unable to respond re the video. I will try the new version and report back as soon as I'm able.

-----Original Message-----
From: "Dan Liu" <notifications@github.com>
Sent: ‎6/‎4/‎2015 1:01 PM
To: "NuGet/Home" <Home@noreply.github.com>
Cc: "Julie Lerman" <julielerman@gmail.com>
Subject: Re: [Home] Default Project Dropdown Empty After Adding/Saving New Solut

[2015-06-04 17:13] #664 closed

[2015-06-04 17:32] #596 closed

[2015-06-04 18:33] emgarten commented on #581
Resource strings are locked for 3.0.0. This needs to happen in 3.1.0.

[2015-06-04 18:34] #701 closed

[2015-06-04 18:52] yishaigalatzer commented on #304
Had a useful discussion with the Roslyn team on this, apparently there is a nice solution (which we will able to take post RTM.

Take a look at the code below:
https://github.com/dotnet/roslyn/tree/master/src/Tools/Source/Pdb2Xml
https://github.com/dotnet/roslyn/tree/master/src/Test/PdbUtilities/Pdb
http://source.roslyn.io/#Roslyn.Test.PdbUtilities/Pdb/PdbToXml.cs,4c28e20bd789be51

Here is a packa

[2015-06-04 18:56] yishaigalatzer commented on #727
Here is soome more info:
- Talking to the F# folks, they think the extension method should be available can you please submit an issue in to https://github.com/Microsoft/visualfsharp
- The reason Listed is different, is that it is used as the DTO model and some servers don't reported Listed directly instead they report the Published date. This means we can hack the setter in the implementations to

[2015-06-04 19:45] deepakaravindr commented on #506
@yishaigalatzer, I already gave a quick shot at a refactoring. Doing this correctly, will require a large refactoring of the powershell console and host code. I believe this is low priority

[2015-06-04 20:20] julielerman commented on #604
have not yet tried the vsix but here is (hopefully) a better link to the video so you don't think I'm seeing things. :)
https://drive.google.com/file/d/0B0q9tUxAcMl2RW5JdmhrcE1WT2M/view?usp=sharing

[2015-06-04 20:25] danliu commented on #604
Thanks for the video! The repro steps seem very simple.

What's the version of NuGet VSIX that you've installed? If you pick a different path to create a new class library project, does it still repro?

[2015-06-04 20:45] julielerman commented on #604
Checking Visual studio, I see that the nuget extension version is 3.0.60410.213.

I’ll try a new project with a different path and get back with that info.

julie

From: Dan Liu [mailto:notifications@github.com]
Sent: Thursday, June 4, 2015 4:25 PM
To: NuGet/Home
Cc: Julie Lerman
Subject: Re: [Home] Default Project Dropdown Empty After Adding/Saving New Solution & Project (#604)

Thanks for the vi

[2015-06-04 20:49] julielerman commented on #604
I get the same effect when I save the project to a different folder path

From: Dan Liu [mailto:notifications@github.com]
Sent: Thursday, June 4, 2015 4:25 PM
To: NuGet/Home
Cc: Julie Lerman
Subject: Re: [Home] Default Project Dropdown Empty After Adding/Saving New Solution & Project (#604)

Thanks for the video! The repro steps seem very simple.

What's the version of NuGet VSIX that you've insta

[2015-06-04 20:55] danliu commented on #604
It's a bit strange, the steps are simple but we cannot repro it here. Can you please try the RC2 VSIX to see if it solves the issue?

[2015-06-04 20:58] julielerman commented on #604
grabbing the beta now to check out.

[2015-06-04 21:02] danliu commented on #604
Thanks, download link is https://nuget.codeplex.com/releases/view/61550

[2015-06-04 21:08] julielerman commented on #604
ok ...still the same with the new version. Even if I was somehow doing something weird, a thousand other people will do the same thing. But maybe it's something about my machine. When I get a chance, I will reinstall VS2015RC. I will ask on twitter to see if anyone else can reproduce it.

[2015-06-04 21:23] #626 closed

[2015-06-04 21:23] danliu commented on #604
Yeah, we haven't heard other people reporting it. Please let us know if they do have the same issue.

[2015-06-04 21:33] julielerman commented on #604
should we close this then?

[2015-06-04 21:34] emgarten commented on #208
This no longer repros in Visual Studio 2015.

[2015-06-04 21:34] #208 closed

[2015-06-04 21:38] yishaigalatzer commented on #647
We are done on our side

[2015-06-04 21:38] #647 closed

[2015-06-04 21:40] yishaigalatzer commented on #622
We changed our design, and we think we can't just port it like with thought initially - so this looks like a 1-2 days of work, will probably happen next week.

[2015-06-04 21:41] yishaigalatzer commented on #622
This is a new scenario - locked lock files are not supported yet.

[2015-06-04 21:44] danliu commented on #604
yes, please feel free to reopen if more people report it.

[2015-06-04 21:44] #604 closed

[2015-06-04 21:53] feiling commented on #599
@patrickjamesbarry you haven't told us whether nuget sends the right authentication info in response to challenge from servers. If we don't hear from you, then we'll close this issue.

[2015-06-04 21:53] yishaigalatzer commented on #300
We are now building NuGet based on lock files and project.json (as you can see in all our client repos). The release is going to be a bit after RTM, but the bits are already somewhat working.

We are not currently supporting pivots. But we are starting to finally working on documenting the process of what we got so far.

[2015-06-04 21:54] yishaigalatzer commented on #300
So I don't think this is going to get fully resolved in the first release. I'm still leaving it at that milestone so we can keep it in the front, and turn this issue in a feedback/next steps kind of issues on top of that release

[2015-06-04 22:00] yishaigalatzer commented on #555
This means we need to write good unit tests for the classifier

[2015-06-04 22:04] yishaigalatzer commented on #309
Review NuGetProject API
- turn into an interface
- Design review and cleanup

[2015-06-04 22:14] #673 closed

[2015-06-04 22:31] #235 closed

[2015-06-04 22:32] #625 closed

[2015-06-04 22:46] yishaigalatzer commented on #300
@nathanaeljones here is a link to a package that addresses the native scenario -
https://www.myget.org/F/dotnet-core/api/v2/package/System.IO.Compression/4.0.0-beta-22927

[2015-06-05 00:12] pranavkm commented on #521
Merged PR in http://nuget.codeplex.com/SourceControl/changeset/9265e85b6e18acdb8b2a2c8a1b1d110428966514

[2015-06-05 00:12] #521 closed

[2015-06-05 00:40] AndriySvyryd commented on #650
This is probably a dupe of #701

[2015-06-05 01:18] pranavkm commented on #722
Not seeing this issue with 3.0-rtm build 514

[2015-06-05 01:18] #722 closed

[2015-06-05 04:39] terrajobst commented on #304
That's cool. We should probably change NuProj to use this one as well.

CC: @kovalikp, @aarnott

[2015-06-05 04:52] emgarten commented on #254
Removed from 3.0.0 RTM NuGet/NuGet.VisualStudioExtension@aea19322751da19988a341b0ff4eb0737a702384

[2015-06-05 05:00] emgarten commented on #603
I've checked in the empty framework fix:
https://github.com/NuGet/NuGet.VisualStudioExtension/commit/31e3b4e8f04333a97aedeba6ac9fc25fa7c960ae

This project will end up as Unsupported and will install only assets without a target framework filter with this change.

[2015-06-05 05:32] yishaigalatzer commented on #603
@mluparu can you see if stuff works for you now? Justin can point you to the build once the CI machine kicks it out

[2015-06-05 08:08] deepakaravindr commented on #333
@yishaigalatzer, This is fixed in that, it is only a UI issue now. If you tried an upgrade, it will show an error stating something like 'constraints from packages.config prevent you from performing this action'. Note that this is true for powershell console too. If one performed 'Update-Package jQuery' in the case mentioned in the bug, it will throw the same error as in UI

Do we need to fix it t

[2015-06-05 08:40] TrestleMonkey opened #733 "Package search terms not working on own hosted nuget server"
I'm hosting my own NuGet feed using NuGet.Server v2.8.60318.667 but I can't seem to get the package search terms to work, both using Nuget command line and within VS2013. Search terms work fine with the nuget.org repo. (Nuget command line version is  2.8.60318.667).

e.g. my repo contains a package with the ID of "CT.Common". It lists correctly and if I run

[code]

I get it fine. But if I run

[c

[2015-06-05 09:42] maartenba commented on #643
Deployed.

[2015-06-05 09:42] #643 closed

[2015-06-05 13:54] onovotny commented on #649
I'm not sure it's related to the fonts/colors settings at all likely something else. On another machine (that uses the same synced color settings), the dialog looks normal.

I exported those colors and imported them w/o any luck on the machine with the issue.

FWIW, the OS is Win10 10130.

I'm not sure how to triage this to figure out where that color is being set from. I'm happy to provide access

[2015-06-05 14:34] yishaigalatzer commented on #333
I believe we should but it can be moved to update I

[2015-06-05 15:48] patrickjamesbarry commented on #599
Sorry for delay. Yes, it does respond correctly to challenge, but I question the need for this extra exchange, when the user has credentials already configured for the Source.

[2015-06-05 15:59] pranavkm commented on #580
Not seeing it repro. Here's what I tried - https://github.com/pranavkm/580_Repro. (Run `test.bat`).
Feel free to update the repository in case you're able to repro the bug and reopen the bug.

[2015-06-05 15:59] #580 closed

[2015-06-05 17:07] AnEnglishmanInNorway commented on #727
Hi! Thx for the response.
Maybe I misunderstand, but aren't extension methods a C# thing? Am on my
phone right now but I think I mentioned that I am using F# - the sample
code in C# just showed the problem with a really trivial example.
Cheers, Pete
4. jun. 2015 18.35 skrev "Yishai Galatzer" <notifications@github.com>:

[2015-06-05 17:09] AnEnglishmanInNorway commented on #727
Ok, just saw the xtra info. Will try when I get back to my PC. Thx again.
Pete
4. jun. 2015 20.57 skrev "Yishai Galatzer" <notifications@github.com>:

[2015-06-05 17:36] zhili1208 commented on #650
Yes, it's a dupe of #701, close it as a dupe

[2015-06-05 17:36] #650 closed

[2015-06-05 18:19] yishaigalatzer commented on #727
Extension methods are also just plain static methods you can call directly from the static class they are declared on.

[2015-06-05 18:21] #222 closed

[2015-06-05 18:27] AndriySvyryd commented on #595
This depends on NuGet/NuGetGallery#2518
After it is fixed the client changes to be checked in are:
https://github.com/NuGet/NuGet3/tree/Issue595
https://github.com/NuGet/NuGet.PackageManagement/tree/Issue595
https://github.com/NuGet/NuGet.VisualStudioExtension/tree/Issue595
Additionally the functional tests will need to be updated accordingly.

[2015-06-05 18:47] danliu commented on #520
Fixed via https://github.com/NuGet/NuGet.PackageManagement/commit/0abe37303aec36151c0392fbc115c02eeabe91ff and https://github.com/NuGet/NuGet3/commit/7ca1b2634e50cc1a55faf964e988b82d1c562848

[2015-06-05 19:20] xavierdecoster opened #734 "Cache the default search results on the client"
When opening the dialog to query for packages, a default query is executed.
This is the most common query to hit the search service. Clients can cache these for some time.

[2015-06-05 19:25] xavierdecoster opened #735 "Cache the default search results on the search service"
The search service can cache the results for the most common query:

[2015-06-05 19:34] csharpfritz commented on #735
Yes.. I can't agree with this more.  There should be caching on this query
and on the details queries for the top 100 most popular package pages.
On Jun 5, 2015 3:25 PM, "Xavier Decoster" <notifications@github.com> wrote:

[2015-06-05 19:46] #730 closed

[2015-06-05 19:48] yishaigalatzer commented on #520
Re-opened as follow up item for UWP

@anurse

[2015-06-05 21:20] feiling commented on #711
This is a server issue. The search request is https://www.myget.org/F/aspnetvnext/api/v2/Search()?$filter=IsAbsoluteLatestVersion&$orderby=DownloadCount%20desc,Id&searchTerm='mvc'&targetFramework='net45'&includePrerelease=true, and only Microsoft.AspNet.Mvc.Razor.Host & Microsoft.AspNet.Mvc.Common are returned.

Microsoft.AspNet.Mvc is returned if the repo is nuget.org.

[2015-06-05 21:20] #711 closed

[2015-06-05 21:40] zhili1208 commented on #654
didn't get a repro on 14.0.23004.0 D14Rel with latest NuGet

[2015-06-05 21:40] #654 closed

[2015-06-05 23:13] feiling commented on #649
@onovotny  Are you running something like StartDoc WindowBlinds (http://www.stardock.com/products/windowblinds/) that changes the look of standard windows and WPF controls?

Also, I believe https://github.com/NuGet/Home/issues/659 is also caused by this. `DevExpress.Xpf.Core.ThemeManager` (https://documentation.devexpress.com/#wpf/clsDevExpressXpfCoreThemeManagertopic) shows up in the call stack.

[2015-06-05 23:14] onovotny commented on #649
nope, not at all. is there an easy command to get a list of my installed programs? it's not really that many

[2015-06-05 23:15] feiling commented on #659
DevExpress.Xpf.Core.ThemeManager (https://documentation.devexpress.com/#wpf/clsDevExpressXpfCoreThemeManagertopic) shows up in the call stack. This leads me to believe there must be 3rd theme engine installed on your machine. There's no way for us to support such scenarios.

[2015-06-05 23:15] #659 closed

[2015-06-05 23:16] onovotny commented on #649
I don't have any DevExpress tools installed. It must be from an Add-in?

[2015-06-05 23:17] feiling commented on #649
You can search the whole disk for DevExpress and see it's included in which program.

[2015-06-05 23:23] onovotny commented on #649
It's getting loaded from the GAC :(

	DevExpress.Xpf.Core.v14.2.dll	C:\WINDOWS\Microsoft.Net\assembly\GAC_MSIL\DevExpress.Xpf.Core.v14.2\v4.0_14.2.7.0__2dc3dfad160eda83\DevExpress.Xpf.Core.v14.2.dll	Yes	No	Skipped loading symbols.		562	14.02.7.15114	5/7/2015 8:42 AM	3C120000-3C7DA000	[15656] devenv.exe	[1] DefaultDomain
	DevExpress.Xpf.Themes.Office2013.v14.2.dll	C:\WINDOWS\Microsoft.Net\assembly\

[2015-06-05 23:23] onovotny commented on #649
Is that a bug in VS that an external module load can affect its themes?

[2015-06-05 23:33] onovotny commented on #649
I think I found the culprit: the Sci-Tech .NET Memory Profiler add-in
[code]
The calling assembly is NetMemProfilerBase.

This still sounds like a bug in VS that even allows an add-in to mess with it.

Should a bug be filed with DevExpress on this behavior?

[2015-06-05 23:42] feiling commented on #649
There's no way for VS to prevent an extension from changing the styles of WPF controls. https://github.com/NuGet/Home/issues/659 is definitely a bug with DevExpress. I can explicitly set the text color so changes made by DevExpress won't affect us.

[2015-06-05 23:44] onovotny commented on #649
I'll send a note to the support alias for .net memory profiler. I don't have any direct contacts at DevExpress though as I'm not a customer. Do you have a place to log a bug with DevExpress where it'll get reviewed?

[2015-06-05 23:47] onovotny commented on #649
Confirmed as the root cause. I uninstalled the VS Add-in for the Sci-Tech memory profiler and the colors all appear correctly.

[2015-06-05 23:49] onovotny commented on #659
See https://github.com/NuGet/Home/issues/649 for the root cause. It's the sci-tech memory profiler add-in that's loading the DevExpress controls into memory.

[2015-06-06 02:25] yishaigalatzer commented on #733
@xavierdecoster can you help with some pointers?

[2015-06-06 02:57] yishaigalatzer commented on #649
Thanks Oren for keeping up with this!

Closing

[2015-06-06 02:57] #649 closed

[2015-06-06 03:25] anurse commented on #520
We only need to consider this when we start packaging `project.json` based projects as packages. In theory, DNX may be considering a similar feature, so NuGet should co-ordinate with this. The only behavior this feature provides is the following:

1. A package may have "developmentDependency=true" in it's nuspec
2. When installed, that marker is preserved in the packages.config (now project.json)

[2015-06-07 01:38] AArnott opened #736 "Update-Package fails claiming newer version already installed, till I tap the right package"
NuGet Update-Package fails claiming that a newer package is already installed, until I pick "just the right package" to try to update, after which it all succeeds.

Visual Studio D14Rel 23004.00
NuGet version 3.0.60526.427

Execute these commands:
[code]
In Visual Studio, add this URL as a NuGet package source:
`https://www.myget.org/F/roslyn-nightly/`
In total, and in order, package sources I hav

[2015-06-07 01:51] AArnott commented on #603
With the latest drop, I'm not getting the frameworkName error any more! I'll test some more to see if NuProj "just works" altogether now.

[2015-06-07 04:31] yishaigalatzer commented on #735
We don't need to cache this as it is already cached in the gallery which is the only public API.

As for Jeff's comment we need to measure and see where is the load after the change above comes from and then carefully consider the next actions.

First need to consider what else needs to move off the search service. Lots of the critical to uptime data comes from already available plain good old blo

[2015-06-07 15:00] AArnott commented on #520
This still doesn't work for packages.config scenarios. My repro is with NuGet 3.0.60605.535 and D14Rel 23004.00

1. Create C# console app
2. `install-package nerdbank.gitversioning -pre`

It creates a package.config file that is missing the `developmentDependency="true"` attribute

[2015-06-07 15:06] AArnott opened #737 "`Update-Package [packagename] -reinstall` reinstalls all packages instead of just the named one"
When I try to get NuGet to reinstall a specific package (that has no dependencies and nothing else depends on it), NuGet instead reinstalls all packages.

Repro:

[code]

Execute this command in the Package Manager Console:

[code]

Expected:
Just that package is reinstalled.

Actual:

[code]

D14Rel 23004.0
NuGet 3.0.60605.535

[2015-06-08 04:40] centur opened #738 "Reference assembly HintPath may become incorrect when same project is added to different .sln files"
Hi.
There is an issue with the approach how MSbuild discovers and handles referenced assemblies from Nuget and HintPath tag. [See issue 107 in MSBuild](https://github.com/Microsoft/msbuild/issues/107).
Msbuild team has other priorities and advised that maybe this may be addressed with Nuget enhancements.

In general - the issue is how HintPath tag is used - it uses relative-to-solution-fle dir to

[2015-06-08 08:01] maartenba commented on #711
The filter from that URL denotes `targetFramework=net45`. When uploading the packages, MyGet extracts the supported frameworks using `NuGet.Core 2.8.6-beta-03`. This may be an issue in `NuGet.Core`, as the current result using the current `NuGet.Core` is expected behaviour.

# Root cause

## Nuspec for Microsoft.AspNet.Mvc

The `.nuspec` for `Microsoft.AspNet.Mvc`:

[code]

Calling into `LocalPack

[2015-06-08 08:10] NCC1701M opened #739 "Install-Package specify target directory"
When I install a package like angular-winjs it's not installed in the scripts folder, it's installed on the top level of my solution. I can't tell Install-Package a path where the package should be installed. Please implement such an option.

[2015-06-08 10:23] v-limi opened #740 "LightSwitch Designer Hosting package did not load correctly"
repro steps:
1. create lightswitch application

expected results: create successfully
actual results: a warning dialog pop up, LightSwitch Designer Hosting package did not load correctly

repro env: VS2015 23005.1 D14Rel + NuGet 3.0-rtm 527

![lightswitcherror1](https://cloud.githubusercontent.com/assets/11768961/8032696/97c96a9e-0e0a-11e5-8b5e-0da1432456c2.PNG)
![lightswitcherror2](https://cloud.

[2015-06-08 13:59] JakubLinhart opened #741 "IVsPackageInstaller2.IVsPackageInstaller2 throws InvalidOperationException"
If IVsPackageInstaller2.IVsPackageInstaller2 is called with any versionspec and only v3 endpoint (https://api.nuget.org/v3/index.json) is enabled, then an InvalidOperationException is thrown. Example:

        [Import( typeof(IVsPackageInstaller), AllowDefault = true )]
        private Lazy<IVsPackageInstaller> nuget2PackageInstaller;

        [Import(typeof(IVsPackageInstaller2))]
        private

[2015-06-08 17:09] feiling opened #742 "NuGet should set PreAuthenticate to true to reduce the number of web requests"
WebRequest.PreAuthenticate is not set to true by NuGet. This means that when connecting to an authenticated feed, or thru an authenticated proxy, NuGet only sends the credentials after a challenge is returned. Seems we should set PreAuthenticate to true. This will  cut down the number of web requests in half.

[2015-06-08 17:10] feiling commented on #599
Close this bug since @patrickjamesbarry  has confirmed that authentication headers are sent by NuGet. Created issue #742 for the possible perf improvement.

[2015-06-08 17:10] #599 closed

[2015-06-08 18:26] #677 closed

[2015-06-08 18:55] emgarten commented on #711
Would it be possible to move search to NuGet.Frameworks? The compatibility checks for UAP and dotnet are a bit more complicated and I don't see those ever being added into NuGet.Core. Right now NuGet.Core understands how to parse dnx, uap, and dotnet, but outside of this search scenario there is nothing using it for compatibility.

[2015-06-08 18:57] maartenba commented on #711
Which feed is the most stable one for NuGet.Frameworks? We'll be taking this to production if we add it...

(is it safe to assume net45 when dnx451 is present?)

[2015-06-08 19:04] xavierdecoster opened #743 "Add Telemetry (AppInsights) to V3 Search Service"
cc FYI @johnataylor @bhuvak

[2015-06-08 19:08] emgarten commented on #711
Dev and 3.0-rtm should be the same code for NuGet.Frameworks. I would use Dev, NuGet.Frameworks is kept very stable since it is used everywhere.

It is safe to assume net45 for dnx45 and up.  dnx451 -> net451 -> net45

[2015-06-08 19:50] stunney opened #744 "Missing support for VS Modelling Projects"
Please add .modelproj project type with guid="{f088123c-0e9e-452a-89e6-6ba2f21d5cac}" to the list of supported project types.  This was actually a pull request made a year ago on the codeplex site but it was never merged.

[2015-06-08 19:51] stunney commented on #744
Original pull request: http://nuget.codeplex.com/SourceControl/network/forks/stunney/nugetmodelprojSupport/changeset/bc384cde01e0eae418b4ff32190040acdaf556c6

[2015-06-08 19:51] patrickjamesbarry commented on #742
+1

[2015-06-08 21:32] emgarten opened #745 "Functional tests - Add a feed for test nupkgs"
Nupkgs used in the E2E functional tests should be added to a feed instead of being checked into git.

[2015-06-08 21:37] yishaigalatzer commented on #744
We can do that for Update I, can you please submit the PR here?

[2015-06-08 21:39] yishaigalatzer commented on #743
Moved to https://github.com/NuGet/NuGetGallery/issues/2538

[2015-06-08 21:39] #743 closed

[2015-06-08 21:41] emgarten commented on #741
Thanks for the report. This interface was not being used and it has been removed.

https://github.com/NuGet/Home/issues/254

[2015-06-08 21:41] #741 closed

[2015-06-08 21:48] yishaigalatzer commented on #739
What project type is this for?

[2015-06-08 21:55] emgarten opened #746 "RestoreCommand logs color information as text"
The restore command writes out the literal string for colors and bolding to the log. This data should be removed when logging to the VS output window for UAP package installs/restores.

[2015-06-08 21:56] yishaigalatzer commented on #738
This is a great issue (I hit it myself numerous times). Unfortunately NuGet cannot fix it in its current form, and this is the same behavior as add references.

You will have to implement something like your suggestion yourself (and better yet, completely avoid hintpath!) instead use something like:

[code]

In NuGet 3 at some point we are going to support transitive restore which is going to rest

[2015-06-08 21:56] #738 closed

[2015-06-08 21:59] danliu commented on #740
This issue is external to NuGet and have filed an external bug for it.

[2015-06-08 21:59] #740 closed

[2015-06-08 22:07] #735 closed

[2015-06-08 22:10] yishaigalatzer commented on #734
This is to support cache headers for V2 clients.

[2015-06-08 22:15] yishaigalatzer commented on #733
@TrestleMonkey I don't think we have this support in the local client. We think it is a Lucene operator only available in nuget.org, not something we implemented in the local nuget server.

[2015-06-08 22:15] #733 closed

[2015-06-08 22:56] stunney commented on #744
I can work on the pull request over the next couple of days.  It looks like the code change is "slightly" different in github compared to the codeplex code base.

What is the deadline for pull requests for update 1?

Sent from Yahoo Mail on Android

From:"Yishai Galatzer" <notifications@github.com>
Date:Mon, 8 Jun, 2015 at 17:37
Subject:Re: [Home] Missing support for VS Modelling Projects (#744)

[2015-06-08 22:59] danliu commented on #41
Fixed via https://github.com/NuGet/NuGet.VisualStudioExtension/commit/1dafc114baed7c8f4fed8a06eae04768bb85f415 and https://github.com/NuGet/NuGet.PackageManagement/commit/290a18562331e80e679d745a2cc41fae3c6c7d2a

[2015-06-08 22:59] #41 closed

[2015-06-08 22:59] danliu commented on #513
assigned to harshgmsft

[2015-06-08 23:00] danliu commented on #475
assigned to harshgmsft

[2015-06-08 23:31] #666 closed

[2015-06-09 00:06] #662 closed

[2015-06-09 00:11] #665 closed

[2015-06-09 00:31] #699 closed

[2015-06-09 04:59] NCC1701M commented on #739
Default ASP.NET Web Application

[2015-06-09 05:28] yishaigalatzer commented on #739
You have to copy the files manually for this scenario. Script packages targeting ASP.net should put the content in the scripts folder.

We will discuss support for such a feature, I'm not convinced this is the right approach though. You are already a manual decision the gap to copying the files over is quite minor. I'd like to see a better solution.

You can also consider using bower instead.

[2015-06-09 07:50] efcoyote opened #747 "nuget ignores proxy settings when using -ConfigFile (only user-level config file is respected)"
If you specify a configuration file when running nuget.exe some settings in this file are ignored. Especially the "http_proxy" setting has no functionality. It only works when specifying the proxy settings in the default config locations (e.g. %APPDATA%\NuGet\NuGet.Config).

Nuget.exe Version: 2.8.60318.667
Windows 7 Enterprise x64

That makes it imposible to declare different proxies for package

[2015-06-09 08:03] v-limi opened #748 "error to install package to projectK WebAPI project with just api.nuget.org enabled"
Note: if check on package source nuget.org on manager settings, cannot repro the issue

repro steps:
1. create ProjectK WebAPI project
2. wait the package restore complete
3. install TestPackage.OnlyDNXCore and EntityFramework

Expected results: install correctly,
      Reference from Solution Explorer include the packages,
      the package folder exist under path C:\Users\fwtlaba\.dnx\packages\E

[2015-06-09 09:47] JakubLinhart commented on #741
Thanks for the info. It was very useful for us to maintain backward/forward compatibility and keep up with the version used by VisualStudio. Is there any way how to achieve these goals?

[2015-06-09 16:40] yishaigalatzer commented on #741
@JakubLinhart can you tell us what is it that you used this interface for, so we can try and figure out how not to completely break you?

This interface was removed because it was not complete and RTM ready, and all of our internal consumers we built it for, didn't actually use it.

[2015-06-09 17:47] emgarten opened #749 "Remove support for parsing the 'Any' framework"
NuGet should stop parsing the 'any' folder name since it can be confused with other frameworks.

[2015-06-09 18:17] danliu commented on #520
@AArnott, looks like you are using the VSIX from the dev branch and the fix was not in it yet, due to recent build issues. Once we update the VSIX of dev branch, you should see the fix.

If you install latest NuGet from 3.0-rtm branch now, the issue is fixed.

![capture](https://cloud.githubusercontent.com/assets/1087852/8065844/f8c677ea-0e98-11e5-8037-e9f59311084e.PNG)

[2015-06-09 18:19] danliu commented on #520
reassign to @anurse

[2015-06-09 18:25] emgarten commented on #749
@davidfowl is there any other special handling that should be done around the default/any framework?

[2015-06-09 18:25] harshgMSFT commented on #513
I tried to repro it with the latest build of vs and nuget, does not repro. @yishaigalatzer  I suggest we close this. @MarkPflug please let us know if you can repro this with the latest build.

[2015-06-09 18:35] AArnott commented on #693
No repro on recent builds of D14Rel with latest VSIX so far.

[2015-06-09 18:35] #693 closed

[2015-06-09 18:49] yishaigalatzer commented on #746
We are going to get rid of the colors

[2015-06-09 18:51] ghigad opened #750 "Unwanted files in a Nuget Package"
Hi,

I'm creating a library that will be distributed as a Nuget package.  My project is a C# Class Library.  The project contains C# code, JavaScript files and CSS files.  The package is created from my .csproj file.

Ultimately, I want the CSS files to be placed in the content/Content directory and the JavaScript files to be placed in the content/Scripts directory.  Also, since my package has a f

[2015-06-09 18:54] stunney commented on #744
Hey @yishaigalatzer I am blocked by https://github.com/NuGet/NuGetGallery/issues/2539

[2015-06-09 19:04] emgarten commented on #646
Fixed with NuGet/NuGet.PackageManagement@732df87d16d8a878306e70de037d4bfe4afc78b7
NuGet/Nuget.visualstudioextension@c5771006d8670afe06d2b8cf73aa982bbc840afb

[2015-06-09 19:04] #646 closed

[2015-06-09 19:15] anurse commented on #748
I'll do some initial investigation on this and see if this is a DNX issue or a NuGet issue

[2015-06-09 19:36] anurse opened #751 "[NuGet v3] Compatibility Checker doesn't work with _._ folders"
The compatibility checker added during the guardrails feature in NuGet3 erroneously shows some packages with `lib/[tfm]/_._` files as incompatible with `[tfm]`.

This is because the lock-file generation code uses `PackageReader.GetReferenceItems` in order to fetch the list of `<reference>` nodes in the NuSpec (used to filter out some references). Unfortunately, this method also collects references

[2015-06-09 21:08] yishaigalatzer commented on #749
@emgarten please provide more details on this issue

[2015-06-09 21:18] #629 closed

[2015-06-09 21:22] #628 closed

[2015-06-09 21:26] yishaigalatzer commented on #739
This is a known issue, and we don't plan to make any changes here. winjs have bower packages, and that would be your best way forward.

We added bower support to Visual Studio 2015. If you want more or are missing any issues the Visual Studio Web teams wants you to vote on aspnet.uservoice.com

[2015-06-09 21:26] #739 closed

[2015-06-09 21:42] anurse opened #752 "[NuGet v3] Compatibility Checker should consider 'asm.ni.dll' a valid match for 'asm.dll'"
When scanning for `lib` assemblies that match a given `ref` assembly, we should consider `lib/[txm]/foo.ni.dll` a valid match for `ref/[txm]/foo.dll`.

/cc @ericstj @davidfowl

[2015-06-09 21:42] yishaigalatzer commented on #750
So two thoughts here

1. I would probably build two separate packages depending on one another. One just having the dll and one just having the content files built in a completely separate project.
2. Consider that we don't think content files in NuGet is the right way forward, starting from ASP.NET 5 content files are no longer supported in nuget packages, and the recommendation is to use bower i

[2015-06-09 21:48] #750 closed

[2015-06-09 22:01] danliu commented on #520
Re-opened as follow up item for UWP

[2015-06-09 22:11] #751 closed

[2015-06-09 22:21] #578 closed

[2015-06-09 22:37] anurse opened #753 "[NuGet v3] Manifest Compatibility Check issues in UI"
The RestoreCommand now manifests Compatibility Check issues in a list as part of the `RestoreResult` object. The VS extension needs to manifest something when the restore fails in order to inform the user. It could be:

1. A single error "NuGet Package Restore failed, see the Output Window for more information"
2. An error for each `CompatibilityIssue` in the various `CompatibilityCheckResults`

/

[2015-06-09 22:47] #657 closed

[2015-06-09 23:01] #689 closed

[2015-06-09 23:04] deepakaravindr commented on #406
@johnataylor, This bug will be fixed with your fix to not throw when updates are not available, right?

[2015-06-09 23:13] deepakaravindr commented on #406
@johnataylor and I just verified that he has already fixed this, as part of another bug fix. Assigning this bug to him for tracking purposes

[2015-06-09 23:16] deepakaravindr opened #754 "Dialog for UWP restore"
Building a UAP application freezes the UI and VS is totally unusable for over 20 secs

Repro steps

1. Create a NuGet UAP application. Or, open an existing one
2. Make sure that the global packages folder is deleted
3. Build the NuGet UAP application

Expected:
Packages are restored and the progress is continuously reported on the output window

Actual:
The UI is completely non-responsive for seve

[2015-06-10 00:44] #591 closed

[2015-06-10 01:38] harshgMSFT commented on #475
@mj1856 can you check if you have `System.ServiceModel` installed on your gac/local references(https://msdn.microsoft.com/en-us/library/vslangproj.projectproperties.referencepath.aspx) ? The code which corresponds to this exception is http://nuget.codeplex.com/SourceControl/latest#src/VisualStudio/ProjectSystems/VsProjectSystem.cs  ln 164 and it depends on vs https://msdn.microsoft.com/en-us/libra

[2015-06-10 03:50] deepakaravindr commented on #411
Fixed by https://github.com/NuGet/NuGet3/commit/18a4559b5994baed14ab2c16b59d47d86d7f6c34, https://github.com/NuGet/NuGet.PackageManagement/commit/03e01cd3e03e863bd8403065408937b9fbaf180f and https://github.com/NuGet/NuGet.VisualStudioExtension/commit/c1502953aa1644257814382b0f4f8f7939ca268b

[2015-06-10 03:50] #411 closed

[2015-06-10 03:51] deepakaravindr commented on #405
Fixed by NuGet/NuGet3@18a4559, NuGet/NuGet.PackageManagement@03e01cd and NuGet/NuGet.VisualStudioExtension@c150295

[2015-06-10 03:51] #405 closed

[2015-06-10 07:24] emgarten commented on #753
The current message displayed if RestoreResult.Sucess is false is: Package restore failed for 'project name'.

https://github.com/NuGet/NuGet.PackageManagement/blob/dev/src/PackageManagement/BuildIntegration/BuildIntegratedRestoreUtility.cs#L83

The build can still continue at this point, does it need to stop msbuild from running?

[2015-06-10 07:32] #432 closed

[2015-06-10 07:33] maartenba commented on #711
In NuGet.Frameworks, what's the best call to get the supported frameworks from a package? And what's the best call to check compatibility?

[2015-06-10 10:24] GeertvanHorrik opened #755 "[NuGet.VisualStudioExtension] Installation of packages does not respect customized packages folder"
When installing a package, it will always enforce "%SolutionDir%\packages". When I build, it does restore packages and respects my path "..\lib".

[2015-06-10 15:25] anurse commented on #753
It probably should stop MSBuild if possible. It should at least ensure there is an error in the Error List (not just the Output Window)

[2015-06-10 17:31] danliu opened #756 "After using Update All, packages remain in the Updates list"
This issue is moved from Codeplex and reproes with NuGet 2.8.6 on Dev12. The original bug is https://nuget.codeplex.com/workitem/3885.

Repro steps:

After update all the nuget packages (by clicking UpdateAll button), still have one ore more packages shown on the update list.

 1) Create an MVC4 WebApplication
 2) Update All Packages
 3) Antlr is still left on the list

[2015-06-10 17:45] emgarten commented on #711
GetSupportedFrameworks() matches the old behavior on PackageReader
https://github.com/NuGet/NuGet3/blob/dev/src/NuGet.Packaging/PackageReaderBase.cs#L58

You can use IsCompatible from the default compatibility provider to see if any of the returned frameworks are compatible.
https://github.com/NuGet/NuGet3/blob/dev/src/NuGet.Frameworks/CompatibilityProvider.cs#L32
https://github.com/NuGet/NuGet3/b

[2015-06-10 18:15] lawrencejohnston commented on #626
I just tested this and am still able to reproduce the issue with RC2 released today. Am I correct in assuming that this fix didn't make it in?

[2015-06-10 18:30] #710 closed

[2015-06-10 18:44] #663 closed

[2015-06-10 18:56] emgarten commented on #211
I am no longer able to repro any scenarios where duplicate frameworks cause crashes.

[2015-06-10 18:56] #211 closed

[2015-06-10 19:10] deepakaravindr opened #757 "VSSolutionManager needs a DCR. There is too much special casing and state management is complicated"
[Based on code review comments]

VSSolutionManager needs a DCR. There is too much special casing and state management is complicated

VSSolutionManager should use SolutionOpening_guid to raise SolutionOpening event instead of doing it from SolutionOpened event. Also, note that IsSolutionOpen should be something like 'IsSolutionAvailable', since, it is true when a solution is open and saved as requ

[2015-06-10 19:14] emgarten commented on #753
On installs from the console or UI an InvalidOperationException is thrown and will be put in the error list. This should cover most scenarios, but if the user has floating versions and the package changes it could be hit just on build.

[2015-06-10 19:20] zhili1208 commented on #626
@lawrencejohnston made this fix in on 6/4, RC2 release is 6/2 build. So this fix is not in RC2 release.

[2015-06-10 19:35] lawrencejohnston commented on #626
Thanks; that explains it.

[2015-06-10 20:10] feiling opened #758 "The Installed indicator (the checkmark) does not show up for installed packages if they are not restored"
Repro
- Create a new console application.
- Install JQuery.
- Close the solution. Delete the packages folder.
- Open the solution, then open the package manager.

Expected:
A check mark on JQuery to show that it is installed.

Actual:
No check mark.

[2015-06-10 20:16] mj1856 commented on #475
`System.ServiceModel` is a framework assembly.  It's installed with the .NET Framework.  There would be no way to not have this, unless it was manually uninstalled - which it wasn't.  Also, as you can see from the console output, trying again immediately solved the problem - so it was indeed there.

At the time, yes - I recall encountering the problem on all of the computers I use regularly.  Howe

[2015-06-10 20:25] yishaigalatzer opened #759 "Missing dependency in NUPKG-file generated from project if indirect dependency already exists with a lower version requirement"
Copied from: https://nuget.codeplex.com/workitem/4417

Scenario:
A project C has the following dependencies:
Package A, version=1.2
Package B, version=1.0, with a dependency on Package A, version=[1.0,2.0)

NuGet.exe pack C.csproj will now generate the following packge:
Package C, with a dependency on Package B, version=1.0

But since project C directly depends version 1.2 of Package A, I expect:

[2015-06-10 20:43] harshgMSFT commented on #475
@mj1856 yeah even I tried to repro by running it in a loop for 100 times :)... lets reopen if we get this again.

[2015-06-10 20:49] #475 closed

[2015-06-10 20:50] #513 closed

[2015-06-10 20:51] yishaigalatzer commented on #759
We think the PR is a good start, but we probably need a better P2P walk than just looking at top level.

We will take a look at this for Update I (or before), and would like to discuss the design here, before re-submitting a PR.

[2015-06-10 20:53] yishaigalatzer commented on #758
@feiling I think this is a duplicate bug, and we should fix it for RTM (I actually thought you did), please take a look

[2015-06-10 20:57] yishaigalatzer commented on #756
This looks like a won't fix, the issue with updating dependencies is going to be fixed with transitive dependencies and project.json.

[2015-06-10 20:57] #756 closed

[2015-06-10 21:02] yishaigalatzer commented on #755
@GeertvanHorrik can you specify exactly where you specify it (we just want to make sure we fix your scenario)

I assume it is in nuget.config (which level?)

and in this form:

[code]

Is this for Visual Studio 2015 RC? NuGet 3.0 RC or NuGet 3.0 RC-2 (https://nuget.codeplex.com/releases/view/615507)

[2015-06-10 21:06] yishaigalatzer commented on #754
This is to add the restore dialog, and if it is reasonable add a cancel button.

[2015-06-10 21:08] yishaigalatzer commented on #753
We cannot stop the build from restore failures, as far as we know. We have been pinging @AArnott on this, but don't think there is a solution here.

We can follow up again to get a definite answer.

[2015-06-10 21:12] mikeholcomb opened #760 "Nuget.exe client crashes when network share contains files with .Nupkg extension"
Nuget.exe will crash when listing network share sources that have files with .Nupkg (case matters) here extension.  Changing the extension to .nupkg fixes the issue.

Repro:
1) Put valid nupkg on share. Example: copy foo.nupkg to \\machine\share\packages
2) Rename file from .nupkg to .Nupkg
3) Run nuget.exe list -Source \\machine\share\packages

In my repro case I used Microsoft.AspNet.WebApi.Clie

[2015-06-10 21:22] #291 closed

[2015-06-10 22:13] #758 closed

[2015-06-10 23:13] harshgMSFT commented on #594
@danliu don't see the stack trace in UI anymore, this seems to be handled by
https://github.com/NuGet/NuGet.PackageManagement/blob/dev/src/PackageManagement.UI/Xamls/InfiniteScrollList.xaml.cs#L137.
The message in this particular scenario seems to be correct as the `packagesource` does not exist, if we searched in a valid source (like nuget.org), and the package was not found, we log the same mess

[2015-06-11 00:07] #355 closed

[2015-06-11 00:18] harshgMSFT commented on #594
The longer wait time is because we try to do a directory search, which we have to do (and UNC path search is slower).

[2015-06-11 00:45] anurse commented on #753
As long as there is a descriptive error in the error list saying something like "Package Restore failed, see output window for details", I think we could live with not stopping the build. But if we don't put a clear message in, there will be a bunch of build errors about missing references and users will get confused.

[2015-06-11 00:55] deepakaravindr commented on #448
Fixed with https://github.com/NuGet/NuGet.PackageManagement/commit/b0e632f128f5eafd480bb5208b331f0da5fd7b41 and https://github.com/NuGet/NuGet.VisualStudioExtension/commit/6b5c21c4eba215d8569bb6bd547e751aaddfadf9

[2015-06-11 00:55] #448 closed

[2015-06-11 00:55] deepakaravindr commented on #385
Fixed with NuGet/NuGet.PackageManagement@b0e632f and NuGet/NuGet.VisualStudioExtension@6b5c21c

[2015-06-11 00:55] #385 closed

[2015-06-11 01:58] yishaigalatzer commented on #594
We can fix nuget core. And if we can improve the perf for unc that's goodness

[2015-06-11 04:40] AArnott opened #761 "README.txt opens repeatedly during multi-project package update"
I've noticed when Update-Package is executing and several projects in the solution are impacted, the README.txt file is opened up several times (e.g. try closing the document while the update is still in progress and it will be re-opened). I believe the NuGet docs state that the readme.txt will only open when a package is directly installed (not as a dependency) and perhaps not as an update either

[2015-06-11 04:43] AArnott commented on #753
@yishaigalatzer  Returning a failing HRESULT from the solution build started event *might* stop it, I don't know. But I don't think you should. If I'm off the network, and can't restore a package for a particular project but want to build the rest of my projects in my solution anyway, I don't think I'd be happy if NuGet got in the way. But an error in the error list and/or output window would be f

[2015-06-11 06:16] MichaelKetting commented on #759
@yishaigalatzer Thanks for porting the bug!

[2015-06-11 07:09] emgarten opened #762 "RestoreCommand writes project.lock.json to disk instead of keeping it in memory"
When RestoreRequest.LockFilePath is null the lock file is still written to disk instead of skipping the output and keeping it in memory. Either this convention should be fixed, or another flag should be added to avoid writing the file to disk.

NuGet needs to handle writing the lock file to disk itself since it needs to both preview the results in the UI and also avoid writing the changes when the

[2015-06-11 12:30] xavierdecoster opened #763 "When selecting the 'Upgrade available' filter, the default action is Uninstall instead of Update"
Found it counter-intuitive :)

[2015-06-11 13:32] chekm8 opened #764 "NuGet Upgrades require administrator access to install"
When attempting to upgrade NuGet Package Manager from within Visual Studio we have always had this issue where you must be an administrator on the machine in order to install the upgrade.  I work in a restricted environment where we do not have admin access to the laptops and it would be great if we could get this working for a normal user.  This issue happens on all of our laptops, not just one,

[2015-06-11 14:21] GeertvanHorrik commented on #755
1. VS 2015 RC / NuGet RC 2
2. See https://github.com/GitTools/GitTools.Core/blob/develop/src/nuget.config (actual repository it went wrong)

[2015-06-11 14:45] GeertvanHorrik opened #765 "Typo in logging"
Removed file 'AutoMapper.3.3.0.nupkg' to folder 'C:\Source\MyProject\src\..\lib\AutoMapper.3.3.0'.

Should be "from" instead of "to"

[2015-06-11 15:49] yishaigalatzer commented on #755
@GeertvanHorrik thanks for the feedback, you make our lives easy :)

[2015-06-11 15:53] yishaigalatzer commented on #763
@xavierdecoster what version of the extension are you using? We already fixed this one

[2015-06-11 15:55] yishaigalatzer commented on #765
Thanks!

[2015-06-11 15:56] yishaigalatzer commented on #765
@GeertvanHorrik I also noticed a `..` in the middle there, can you give us more details on your setup and commands, we might have a bug in combining the paths.

[2015-06-11 15:58] GeertvanHorrik commented on #765
This might be related to just concatting strings in the paths instead of using Path.Combine. This is because we use a customized nuget.config:

[code]

[2015-06-11 16:13] yishaigalatzer commented on #765
That's what I thought.

Note that `Path.Combine` doesn't do that magic, you need to code this yourself or use `GetFullPath`

What is the exact operation you are doing in the UI?

[2015-06-11 16:17] xavierdecoster commented on #763
I used version 3.0.60410.213

[2015-06-11 16:23] xavierdecoster commented on #763
verified to be fixed in latest build.

[2015-06-11 16:23] #763 closed

[2015-06-11 16:37] GeertvanHorrik commented on #765
I was uninstalling a package (I use an existing project, removed what I didn't need).

[2015-06-11 17:12] mikeholcomb opened #766 "nuget pack on csproj files doesn't work in tfs"
Porting issue 3645 from http://nuget.codeplex.com/workitem/3645
##

I use the nuget pack command inside msbuild to create nuget packages during tfs build

[code]

This works great in visual studio, but in tfs the outputpath of the csproj changes so this error occurs:

[code]

The correct path would be d:\Builds\18\232\bin\Foo.dll which is defined by tfs in $OutDir
So I tried to workaround by addin

[2015-06-11 17:21] mikeho-msft commented on #766
I'm still seeing this issue in Nuget 2.8.3 & 2.8.5

[2015-06-11 17:33] ericstj opened #767 "Deprecation of 'any'"
Recent discussions indicate that the 'any' concept is being deprecated in nuget3.
* Lib\foo.dll convention -> already deprecated in nuget3
* Lib\any\foo.dll convention -> soon to be deprecated

The following seem like they also need to be deprecated for consistency.  Otherwise folks are bound to create packages that have inconsistent authoring.
* dependencies/dependency@id
* dependencies/group (no

[2015-06-11 17:45] #679 closed

[2015-06-11 18:06] ChengTian commented on #748
K project system (or more specifically, `dnu restore`) ignores v3 feeds. So if you only have v3 feeds in your NuGet config, it's like you have no feed.

[2015-06-11 18:12] emgarten commented on #581
The message should be: Unable to resolve dependency 'PackageId' from sources 'a', 'b', 'c'. Since this is a resource change it needs to happen in Dev only.

[2015-06-11 18:26] anurse commented on #748
Right! I should have remembered that. We are going to be supporting v3 feeds but do not support them currently.

[2015-06-11 18:29] anurse commented on #753
Sounds good. Error in the list, but don't stop the build. In theory, Restore should only fail in situations where the project would not build (network connectivity shouldn't cause a failure unless network connectivity would be REQUIRED to get something the user doesn't have locally) but I'm not 100% confident we handle all those cases properly.

[2015-06-11 19:25] deepakaravindr commented on #753
For the non-UAP scenarios, this is what we already do. Errors in the error list, and we don't stop the build, whether the restore failed or was canceled. We will do the same for UAP

[2015-06-11 19:35] anurse commented on #753
:+1:

[2015-06-11 19:43] yishaigalatzer commented on #765
We got a fix :) Thanks!

[2015-06-11 19:52] joeloff commented on #764
NuGet is a machine wide installation and since it ships as an MSI it needs administrative privileges. The MSI does a bit more than just a VSIX as it also writes registry keys, something a VSIX cannot do.

Could you perhaps share the VSIX logs from the machine. They should be in the %temp% folder of the user that performed the installation and have a name such as VSIXInstaller_3b4c72a3-82cf-42e2-9a

[2015-06-11 20:11] yishaigalatzer commented on #753
@anurse can we make a fix where we don't even go the network if everything is available fowler have an idea

[2015-06-11 20:21] ericstj opened #768 "'dotnet' is not applicable to correct set of targets"
Currently 'dotnet' is not treated as applicable to the correct set of targets.  We want this to be applicable to everything except the following:
[net, net45) (note: exclusive)
[sl, sl5]
[wp, wp8) (note: exclusive)
[xbox]
[netmf]
[cf]

[2015-06-11 20:22] ericstj commented on #768
/cc @anurse @yishaigalatzer

[2015-06-11 20:35] ericstj opened #769 "Package with no applicable lib installs without error."
{
  "dependencies": {
    "System.Console": "4.0.0-beta-23011",
    "System.IO.Pipes": "4.0.0-beta-23011"
  },
  "frameworks": {
    "netcore50": { }
  }
}

Should produce an error for both of these since there is no lib in scope, but does not.

[2015-06-11 20:36] ericstj commented on #769
/cc @anurse
I was using NuGet.CommandLine.Cmd\build\NuGet.CommandLine.cmd restore project.json with 3.1.0-beta-10197.

[2015-06-11 21:17] yishaigalatzer commented on #70
Need to be moving to gallery

[2015-06-11 21:18] RanjiniM commented on #70
Created https://github.com/NuGet/NuGetGallery/issues/2548 in Gallery Repo. Closing this one.

[2015-06-11 21:18] #70 closed

[2015-06-11 21:19] yishaigalatzer commented on #639
We are not making changes in the client, @xavierdecoster I'm assuming we have another bug to track the data from CDN. @csharpfritz we still need legal chat to figure out if we can capture failed installed

[2015-06-11 21:20] yishaigalatzer commented on #748
This was by design from DNU side. They are going to fix it, but there is no NuGet action on this

[2015-06-11 21:20] #748 closed

[2015-06-11 21:23] #765 closed

[2015-06-11 21:31] yishaigalatzer commented on #766
[code]

You probably want to make changes to the target files yourself, we can take a look at fixing the nuget build package

[2015-06-11 21:34] yishaigalatzer commented on #768
Need more discussion with @ericstj on what is actually required here.

[2015-06-11 21:35] mikeho-msft commented on #766
I've tried setting OutputPath to $OutDir and that fails as well.  I don't have logs for that failure, but I'll try to build a repro.

[2015-06-11 21:37] #424 closed

[2015-06-11 22:14] yishaigalatzer commented on #766
At the end of the day, this is nothing more than running an msbuild script around nuget.exe, you should be able to deal with it, it has very little to do with NuGet itself (other than the fact that our build package doesn't work well). You can simply call nuget.exe from a post build step yourself as well.

[2015-06-11 22:43] #645 closed

[2015-06-11 22:58] bhuvak commented on #535
Closing the issue as it doesn't repro. More details @ https://github.com/NuGet/NuGetGallery/issues/2447

[2015-06-11 22:58] #535 closed

[2015-06-11 23:11] johnataylor opened #770 "NuGetPackageManager refactoring"
NuGetPackageManager encapsulates the heart of the functionality of the client. It exposes a significant number of overloaded methods that reflect the key client scenarios: install, update etc.

The interface to this functionality could be consolidated and simplified by moving the bulk of the arguments onto the ResolutionContext and reducing the numbers of overloads of each flavor (as in install/up

[2015-06-11 23:24] #574 closed

[2015-06-11 23:28] #732 closed

[2015-06-12 00:08] ericstj commented on #768
Right now we agree that all of the previous listed explicit TFMs should not be compatible with dotnet.  I think we can move forward with that part of the implementation.

There is some contention on the behavior of portable-a+b+c (the combined TFMs).
1. One option is to not support these at all.  That would mean that folks need to rebuild their packages, even if the set of TFMs in their list are a

[2015-06-12 00:13] johnataylor opened #771 "NuGetPackageManager needs more unit tests"
NuGetPackageManager encapsulates the heart of the functionality of the client. It exposes a significant number of overloaded methods that reflect the key client scenarios: install, update etc.

Currently it has a good set of unit tests, but fundamentally relies on the functional tests of PMC for much of the coverage. This module needs more unit tests.

[2015-06-12 00:39] johnataylor opened #772 "Consider changing the names of the ToHighestMinor and ToHighestPatch switches on update"
PowerShell users can be very particular about the grammar and naming of switches. Please review these name.

[2015-06-12 09:55] v-limi opened #773 "Package Installation Error when create blank app from windows\Universal"
install NuGet 575 from dev branch

repro steps:
1. create blank app from C#->Windows->Universal

expected results: create successfully
actual results: create failed with below error
![l_8a18 tmp](https://cloud.githubusercontent.com/assets/11768961/8127692/6ff8feb6-112b-11e5-9369-0d3c96bbec8b.PNG)

[2015-06-12 10:46] maartenba commented on #397
https://nuget-dev-0-status.azurewebsites.net is a first PoC

[2015-06-12 11:48] v-limi opened #774 "No items found on package list when select Online\nuget.org"
install NuGet 756 from \\wsr-tc\Drops\NuGet.Signed.AllLanguages\build-523\Signed\VSIX\12

repro steps:
1. create a project
2. open Manage NuGet Packages..

expected results: packges displayed when select online-> nuget.org
actual results: No items found under Online->nuget.org, see below screenshot

Note: if you search an exist package, like jQuery, works fine

![nugetorgisblank](https://cloud.git

[2015-06-12 14:54] maartenba commented on #774
This was an intermittent issue related to caching. It has been solved, and we took steps to mitigate this type of error in the future. Thanks for letting us know!

[2015-06-12 14:54] #774 closed

[2015-06-12 16:01] theit8514 opened #775 "Visual Studio 2015 RC NullReferenceException"
I am experiencing a NullReferenceException when installing the package Microsoft.Owin.Diagnostics 3.0.1 to one specific project. The problem appears to be an issue with ExecuteNuGetProjectActionsAsync. I have confirmed that I have disabled the v3 API (this is not a vnext project AFAIK) and am using the v2 nuget.org package source. NuGet Package Manger version is 3.0.60602.486.

Log & StackTrace:
[

[2015-06-12 16:05] feiling commented on #676
They are now fully localized in the latest build.

[2015-06-12 16:05] #676 closed

[2015-06-12 17:12] harshgMSFT commented on #594
8749a5396f7f9f310c6bed8f289a15855f2d1f45

[2015-06-12 17:12] #594 closed

[2015-06-12 17:22] yishaigalatzer commented on #594
I think we are done here. Lets wait for more user feedback on this before doing more work.

[2015-06-12 17:31] bradbeck opened #776 "MultipartWebRequest::CreateMultipartRequest should use "\r\n" explicitly and not Environment.NewLine"
[`MultipartWebRequest::CreateMultipartRequest`](http://nuget.codeplex.com/SourceControl/latest#src/Core/Http/MultipartWebRequest.cs) line 63 should use "\r\n" explicitly and not `Environment.NewLine` in order adhere to the [multipart content-type spec](http://www.w3.org/Protocols/rfc1341/7_2_Multipart.html). When running `nuget` on unix via `mono` this causes `nuget push ...` operations to fail be

[2015-06-12 18:18] feiling commented on #709
@juzzbott In fact, nuget.exe has the right behavior, while whatever version of nuget vsix you used to install the packages in VS was wrong: the version number used in the path should be the exact version number specified in the nupsec inside the nupkg file.

In your case, the right directories are: `Owin.1.0` and `Unity.3.5.1404.0`. This problem was fixed in NuGet 3.0 RC2 (https://nuget.codeplex.c

[2015-06-12 18:18] #709 closed

[2015-06-12 18:28] xavierdecoster commented on #639
Issue https://github.com/NuGet/NuGetGallery/issues/2416 tracks the task to collect data from the CDN.

[2015-06-12 18:38] chekm8 commented on #764
It would be great if you could place the Items related to the Nuget Install in locations where a non admin could update.  I get that you might need to prime the pump with the initial install from Visual Studio which would require admin rights to set up some things but, if it could be maintained without admin rights that would be a huge benefit/time saver.

My current VS version is: 12.0.30723.00 /

[2015-06-12 18:39] csharpfritz commented on #639
Email sent to LCA to discuss options

[2015-06-12 18:54] emgarten opened #777 "Project retargeting crashes for projects without a packages.config during retargeting"
When I retarget an ordinary PCL (with no packages.config) to use NuGet and project.json, I’m seeing this crash from NuGet. This line in ProjectRetargetingUtility.MarkPackagesForReinstallation throws

“string var_4_14E = Path.Combine(project.GetMetadata<string>("FullPath") ?? string.Empty, Constants.PackageReferenceFile);”

Because GetMetadata throws if the key isn’t present.

[2015-06-12 19:01] harshgMSFT commented on #755
Hi @GeertvanHorrik, I tried to repro the bug with
1. VS 2015 RC  / Nuget RC 2 (https://nuget.codeplex.com/releases/view/615507).
2. VS 2015 RC / Nuget 3.0 RTM

Unfortunately it did not reproduce. Can you please list out the steps you followed ( I am assuming you restarted your vs after updating the Nuget.Config).

Can you double check the version ?

[2015-06-12 22:03] yishaigalatzer commented on #775
Do you have a consistent repro? Can you share your project and `packages.config`? What is the project type?

[2015-06-12 22:06] yishaigalatzer commented on #772
Don't change the existing names that where already shipped in 2.8.X. These are additional names

[2015-06-12 22:13] yishaigalatzer commented on #772
Reading through the spec, this suggestion is good.
https://msdn.microsoft.com/en-us/library/dd878270(v=vs.85).aspx#SD03

[2015-06-12 22:15] yishaigalatzer commented on #766
From chatting with folks, this was supposed to be fixed with newer builds of team build.

[2015-06-12 22:24] #581 closed

[2015-06-12 23:18] feiling commented on #775
I tried several scenarios but couldn't repro the problem. @theit8514, could you share your `packages.config` and the project type? Without that information, it's impossible for us to investigate the issue.

[2015-06-12 23:27] danliu opened #778 "VS hangs when adding a nuget package"
Repro steps:

1.Create a new Class Library (Protable) project.

2.Add -> New Project->Andorid->Blank App(Android)/Class Library(Android) project to the same solution.

3.Open Manage NuGet Package for Solution UI, search MvvmCross nuget package in Online.

4.Click Install.

Call stack from activititylog.xml:

Object reference not set to an instance of an object. at System.Collections.Generic.Dictio

[2015-06-12 23:32] bhuvak commented on #489
Fixed with https://github.com/NuGet/NuGet3/pull/51

[2015-06-12 23:32] #489 closed

[2015-06-12 23:34] johnataylor commented on #532
Many of the most significant full URLs can be fixed just in the server with no changes required in the client. The optimization in the client is only to navigate from index.json to page json within the registration blobs. This is not an essential change. Closing this issue.

[2015-06-12 23:34] #532 closed

[2015-06-12 23:52] yishaigalatzer commented on #767
Duplicate of #496 + #749

[2015-06-12 23:52] yishaigalatzer commented on #749
duplicate of #496

[2015-06-12 23:52] #749 closed

[2015-06-13 00:00] yishaigalatzer commented on #491
We need this in older version of NuGet as well, so putting in the 2.8.7 milestone. This needs to be fixed in the 3.x train as well

[2015-06-13 00:16] emgarten commented on #772
From @johnataylor: these are new flags, one is an alias for an existing switch.

@csharpfritz can you take a look at these parameters and let us know if they are needed, and if the names would be intuitive to the users.

[2015-06-13 00:30] #772 closed

[2015-06-13 00:50] theit8514 commented on #775
The project is a web application (MVC/Owin/IdentityServer3). Package.config is below. I attempted to reproduced the problem in a new project, but even copying the list of packages has not reproduced the problem. I will attempt to take this project and anonymize it.

[code]

[2015-06-13 01:19] yishaigalatzer opened #779 "support an official local feed"
We want to support an official local feed that Microsoft templates can install packages to.

[2015-06-13 01:19] yishaigalatzer opened #780 "add restore errors to the error list in visual studio"

[2015-06-13 03:05] theit8514 commented on #775
I have trimmed my project down to barebones. It is available [here](https://www.dropbox.com/s/d1lmppqrv4ewu73/MyProject6.7z?dl=0).

[2015-06-13 03:09] bhuvak opened #781 "Add "Async" suffix to async methods in PowershellAutoComplete and UiMetadataResource"

[2015-06-13 04:11] yishaigalatzer commented on #775
@theit8514 thank you, this should help. Another thing that might help is to get a dump, by attaching visual studio and turning on break on exception for the nullref.

Either way this issue you filed exposed two other bugs which we already fixed, so thanks a ton for this report!

[2015-06-13 15:17] martinsuchan commented on #755
Same error here. I just updated to NuGet 3.0 RC2. My nuget.config located in the same folder as the solution file and contains this:

<settings>
	 <repositoryPath>../../../packages</repositoryPath>
</settings>

With VS2013 everything worked, but VS2015 with NuGet 3.0 RC2 tries to install packages into the default packages path.

[2015-06-13 16:57] yishaigalatzer commented on #755
Can you list out the exact steps you are taking? And share the whole tree of nuget config, as well as your packages.config?

[2015-06-13 17:35] harshgMSFT commented on #635
What is meant by a missing package? Is the package not installed ? Or not present at the selected source? Are there any specific repro steps?

[2015-06-13 17:54] yishaigalatzer commented on #635
I believe it is missing from the source. But exists in the packages folder. You can email andriy directly as well for more details.

[2015-06-14 08:58] JohannesRudolph opened #782 ""NuGet Package restore failed System.UriFormatException: Invalid URI" with relative local paths"
Using NuGet 2.8.5 and local package sources like this (because NuGet gallery has had enough uptime issues for me to tolerate it any longer):
[code]
I can't restore packages any longer since upgrading to 2.8.5:

[code]

Others have the same issue too: http://stackoverflow.com/questions/30243447/package-manager-in-vs2015-rc-fails-on-installing-restoring-some-packages

[2015-06-14 09:21] JohannesRudolph commented on #782
I think this is a simply an issue of changed behavior in Nuget. See http://stackoverflow.com/a/30827650/125407 for required user fix. Maybe provide a better error message in this case?

[2015-06-14 11:02] hubuk opened #783 "NuGet.exe update command does not work for packages.config without a project file."
nuget.exe 2.8.6 (2.8.60409.62)
Update command does not work for packages.config file which is contained in a directory where there is no supported project file. This is an usecase when user wants to update tools needed to build a project.

Simple directory structure can be used to reproduce the problem (packages.config may be empty):
[code]
just run:
NuGet.exe update packages.config
Error reported

[2015-06-14 11:42] barisbalic commented on #704
@johnataylor sorry for the long delay, things have been busy!

With all due respect, I quite dislike the fact that the kind of action/operation is not explicitly stored, I feel it's the responsibility of the transaction log (the source of truth) to make that obvious, without need for interpretation.

Let's say for example, that I come across an entry for 'NUnit', which I already have stored somewh

[2015-06-14 17:13] barisbalic commented on #704
Also noticed that responses from V3 don't include `ProjectURL` or any entries that have `Tags`.

[2015-06-14 18:17] yishaigalatzer commented on #783
There is no plan to support this feature in the coming release of NuGet (3.0). You can however make this work today with nuget restore (3.0) and project.json (or dnu)

[2015-06-14 18:26] yishaigalatzer commented on #782
@JohannesRudolph I understand that NuGet down time is an issue for you and we take it seriously. We are going to change this track record as you call it.

Having said that having a local source is not a bad idea.

Note that going with a local package path is going to make things a lot slower (with the current bits). In NuGet3 we are implementing a new local folder structure that will make things f

[2015-06-14 18:27] yishaigalatzer commented on #782
Related (but not exactly the same as) - https://github.com/NuGet/Home/issues/779

[2015-06-14 18:37] yishaigalatzer commented on #783
@sharwell @hubuk as update in nuget.exe is not something we are going to recommend long term as the way to go, and the given solution with `project.json` and `restore`, I would like to get your feedback on the perceived importance of a fix here?

As far as I am understanding things, this is not something that we would need to fix with any urgency if at all, at the same time I'm open to taking a pu

[2015-06-14 18:38] yishaigalatzer commented on #782
The work here:
1. Provide a better error message - Include the faulty uri in the message and point of possible formats
2. Verify there is a way to support relative paths and document it.

[2015-06-14 21:02] hubuk commented on #783
The fix is not urgent I think. In a matter of fact the longer I think about it the less I like the idea of using nuget to get a latest version of a build process tool.

There are some drawback of such approach I can think of:
1. We are introducing a new variable into the build process. Any failure (at build time or at run time) might be caused by a new version of downloaded tool. We are losing con

[2015-06-14 22:37] yishaigalatzer commented on #783
With nuget 3 you do not need to update packages.config. But the other issues still exist.

It's a choice you need to make, for nuget we chose to make it and that is how we are building NuGet itself. Like you are suggesting the build is indeed more fragile, but it also catches build tools issues earlier.

In other builds I worked with (mvc5/web api2) we downloaded nuget itself from an http endpoint

[2015-06-14 22:53] sharwell commented on #783
I believe there was some confusion regarding the desired behavior. It is my understanding that the only command we need for **packages.config** in a directory without a project file is `nuget restore`, and I believe that command does work properly.

[2015-06-15 14:33] maartenba commented on #711
Fixing this in the laziest way possible for now, switching to the SDK has quite a big impact on our codebase as a lot of calls (unrelated to target fx) are different from how it was done in `NuGet.Core`.

[code]

[2015-06-15 16:16] theit8514 commented on #775
I'm not sure if  you need a dump with heap or without. I have uploaded the dump without heap to my dropbox [here](https://www.dropbox.com/s/mvnt7xxho6laqws/devenv2.7z?dl=0). If you need the heaped dump, please contact me at jack at brajah dot com and I'll set up a private link.

[2015-06-15 16:56] anurse commented on #769
Looking at this now. We definitely intend for this to fail, it might just be a bug in our logic.

[2015-06-15 17:02] #783 closed

[2015-06-15 17:27] harshgMSFT commented on #755
seems like this was fixed just 2 days after RC https://github.com/NuGet/Home/issues/626

[2015-06-15 17:28] yishaigalatzer opened #784 "Don't use memory stream for extracting packages"
https://github.com/NuGet/NuGet3/blob/1ad2e9c7461035cce50885d2cbb9509559030268/src/NuGet.Commands/RestoreCommand.cs#L607

[2015-06-15 17:34] csharpfritz commented on #358
Adding information to 2.8.6 release notes

This documentation should also appear as part of #720

[2015-06-15 17:36] #767 closed

[2015-06-15 17:41] johnataylor opened #785 "help files need updating to reflect changes to PowerShell commands"
1) we have removed the DependencyBehavior enum as an option following teh -Version flag on update-package.
2) and added ToHightestMinor and ToHighestPatch as switches on update-package

the help needs updating to sync with these changes.

[2015-06-15 17:42] anurse commented on #769
Actually, no this is expected. There is a `ref/dotnet` folder for both packages and the project you provided doesn't have any `supports` or `runtimes` defined.

[2015-06-15 17:43] #769 closed

[2015-06-15 17:46] anurse commented on #769
As an example, the following project.json does fail as expected:

[code]

[2015-06-15 17:53] ericstj commented on #769
I see.  That makes sense, though it is a little non-intuitive.  Should we be warning folks if they are missing supports and runtimes sections?

[2015-06-15 17:54] anurse commented on #769
Yeah, that does make sense. I'll convert this bug into that and fix that. It'll only be a warning, since we do want to allow people to build PCLs that don't use guardrails (as an advanced scenario).

[2015-06-15 17:54] anurse commented on #769
Actually I'll just open a new one :)

[2015-06-15 17:58] hubuk commented on #783
Ok maybe I went a little off-topic.

The desired behavior is that:
[code]
should update packages specified in the config file.

As I understand there is no sense in fixing this in a version which will be replaced by nuget3 in a couple of months. Is that correct?

[2015-06-15 17:58] anurse commented on #769
@davidfowl is not super happy with this idea actually since DNX will likely never use either. I think we could ship RTM without this check, since the user has to intentionally remove things to get in this situation so my suggestion is to defer this for a bit and gather feedback.

Thoughts?

[2015-06-15 18:08] sharwell commented on #783
@yishaigalatzer Keep in mind that while we are no longer waiting for a fix to this issue, the underlying request is still valid as originally stated. This means you should include the resolution (which appears to be one of the **ClosedAs:** labels) along with closing the issue.

[2015-06-15 18:14] ericstj commented on #769
I see, if there is a case where no runtime and no framework is valid, then we should be doing the compatibility probe right?  Or is it the case that DNX permits a project with no runtime or compatibility section then infers a runtime?
If its the latter, can we say that the inference is not in effect for nuget/msbuild and then do lib probe/error?

[2015-06-15 18:34] anurse opened #786 "Restore the pretty colors in NuGet3 command line!"
The NuGet3 command line had pretty colors, but we removed them because VS couldn't render them properly. After release, let's go back an add them in a way that allows VS to disable them!

[2015-06-15 20:03] csharpfritz commented on #692
I'll include these directions in the v3 release notes and announcement blog post

[2015-06-15 20:07] yishaigalatzer commented on #783
Thanks for the reminder, we can look at it again if there is strong demand. I'm also ok with a pull request, shouldn't be too hard.

[2015-06-15 20:52] stunney opened #787 "[DOCS] Issues building NuGet from Home page instructions"
Moved from:
https://github.com/NuGet/NuGetGallery/issues/2539

My first hurdle was that I needed to add C:\Users\Stephen\Documents\GitHub\NuGet.Home\nupkgs as a local nuget repo so that NuGet.CommandLine.Cmd (beta 3.1.0) et al would install after all tests were completed.

I have gotten MUCH further in the compilation however now I am running into the following error

C:\Users\Stephen\Documents\Gi

[2015-06-15 20:53] stunney commented on #744
Hey @yishaigalatzer I am blocked by https://github.com/NuGet/Home/issues/787

[2015-06-15 20:57] #696 closed

[2015-06-15 20:57] johnataylor opened #788 "update-package fixes needs merge into RTW"
#696 needs merge into RTW branch

[2015-06-15 21:15] anurse commented on #769
It is (or rather will be ;)) the latter. We will infer runtimes. I'll chat with David, he might be OK with that.

[2015-06-15 21:15] emgarten commented on #648
Fixed NuGet/NuGet.PackageManagement@c2ccc7d29440007b0f2f2cc95cb06273ae44d34c

[2015-06-15 21:15] #648 closed

[2015-06-15 21:18] anurse commented on #769
We're still really hesitant to put that strict requirement on. Also, I should point out that in the RTM timeline, none of this would really show up, even if we did display a warning since the output is only written to the Output Window (not to the Error List).

[2015-06-15 21:23] #752 closed

[2015-06-15 21:45] yishaigalatzer commented on #787
Here are some tips while we are fixing the instructions (from @danliu)

1.	Make sure the generated .nupkg file folder is added as one of the package sources, i.e. $BranchRoot\Home\nupkgs
2.	Make sure to switch to Dev branch of the Home repo, so that scripts from dev branch is used for building
3.	Start a new PowerShell window to run build-nuget.ps1 script, after that, switch to NuGet.VisualStudioE

[2015-06-15 21:58] harshgMSFT commented on #635
Repros in 2.8.6 except the install works as expected (does not add a duplicate entry).

[2015-06-15 22:29] #784 closed

[2015-06-15 22:38] johnataylor commented on #179
we should also include addition functional tests for -reinstall that specifies a specific package id

[2015-06-15 22:41] #746 closed

[2015-06-15 22:42] AndriySvyryd commented on #683
Looks like a dupe of #699

[2015-06-15 23:02] yishaigalatzer commented on #635
Good, so 2.8.6 is safe, lets fix 3.0

[2015-06-15 23:04] yishaigalatzer commented on #744
Added some suggestions, we should get this resolved in a couple of days. Right now all heads down on finishing the last few RTM bugs.

[2015-06-15 23:05] #406 closed

[2015-06-15 23:09] stunney commented on #787
Ok, I seem to have gotten a little further now.  I'm getting an error during the TEST EXECUTION SUMMARY as shown below with a stack trace:

=== TEST EXECUTION SUMMARY ===
   NuGet.Commands.Test  Total: 11, Errors: 0, Failed: 0, Skipped: 0, Time: 10.940s
info: Exec
info:   program: cmd
info:   commandline: /C "C:\Users\Stephen\Documents\GitHub\NuGet3\packages\KoreBuild\build\dnvm" use default -runt

[2015-06-15 23:38] johnataylor commented on #788
and also the help file change #785

[2015-06-15 23:38] #785 closed

[2015-06-15 23:48] yishaigalatzer commented on #787
Can you pull the latest code? We have made some changes in this code in the last hour or so (and still making) we currently see a single broken unit test. We are working on fixing it, but the call stack we see has a null reference exception.

Please let us know what it looks like after you try again.

[2015-06-15 23:52] johnataylor commented on #736
update-package should be working correctly now.

[2015-06-15 23:52] #736 closed

[2015-06-15 23:52] johnataylor commented on #788
and validate the behavior Andrew describes in #736
(this appears to be OK in the RTM branch)

[2015-06-15 23:54] johnataylor commented on #531
This requires changes in the UI code. The problem is mostly addressed. Further optimizations can be done from the server and in the next release of the client.

[2015-06-15 23:54] #531 closed

[2015-06-15 23:59] harshgMSFT commented on #635
3.0 is already fixed it did not repro and here is why
(https://github.com/NuGet/NuGet.PackageManagement/commit/54d3e1df748cd1910c11b985a8d4b181412a2386

https://github.com/NuGet/NuGet.VisualStudioExtension/commit/41e7428bd3eb8ddeb34b0c31c97550bc406014a6
)

[2015-06-16 00:05] feiling commented on #775
@theit8514 Thanks, we found the cause of the problem. The problem is that the `app.config` file contains wrong dependentAssembly declaration, e.g:
[code]
The `type` property of `assemblyIdentity` should be `name`. See https://msdn.microsoft.com/en-us/library/b0yt6ck0(v=vs.110).aspx. Since the required property `name` is missing, this causes the null reference exception.

If you replace all such `t

[2015-06-16 00:10] yishaigalatzer commented on #787
Actually, this is a reate catch. We are going to push in a change shortly to see if we can get this fixed

Thanks!

[2015-06-16 00:40] zhili1208 opened #789 "track default NuGet.Config change"
change default NuGet.Config :
V3 : add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"
V2 : add key="nuget.org" value="https://www.nuget.org/api/v2/"

[2015-06-16 00:48] stunney commented on #787
Re-ran clone-repo.ps1 sync at 8:42 Eastern Time.  The script already points to the dev branch.
No errors

Running build-nuget.ps1 afterwards produced the following unit test failure:
xUnit.net ASP.NET test runner (32-bit DNX 4.5.1)
Copyright (C) 2015 Outercurve Foundation.

Discovering: NuGet.Commands.Test
Discovered:  NuGet.Commands.Test
Starting:    NuGet.Commands.Test
   NuGet.Commands.Test.Res

[2015-06-16 00:49] stunney commented on #787
Running build.cmd in NuGet.VisualStudeionExtension produced the following error:
PS C:\Users\Stephen\Documents\GitHub\NuGet.VisualStudioExtension> .\build.cmd
Microsoft (R) Build Engine version 14.0.22823.1
Copyright (C) Microsoft Corporation. All rights reserved.

Build started 6/15/2015 8:49:38 PM.
Project "C:\Users\Stephen\Documents\GitHub\NuGet.VisualStudioExtension\Build\Build.proj" on node 1

[2015-06-16 00:50] theit8514 commented on #775
I tracked my repository back to a changeset which is completely unrelated to any changes in NuGet or package selection. The problem was not with my project config file, but with the Tests config file, which I did not check. After reverting the change on that file, the problem has been resolved. Thanks, and sorry for any inconvenience.

[2015-06-16 00:53] #789 closed

[2015-06-16 00:55] stunney commented on #787
Ok, I completely cleaned my workspace and re-did the git clone command and \NuGet.Home\nupkgs doesn't get created automatically by the script.  That's an early error (I must have worked around that and forgotten).

[2015-06-16 01:34] stunney commented on #787
Ok, now that I've completely cleaned my environment I'm back to to nupkgs folder issue.
The script originally complained that \NuGet.Home\nupkgs didn't exist.  Then the script creates \nupkgs  as a sibbling to NuGet.Home.  This folder is where all nupkg files are pushed to.
![image](https://cloud.githubusercontent.com/assets/609012/8173891/83c4ea76-13a2-11e5-9e56-0e7ec7a4301f.png).
Adding this dir

[2015-06-16 01:49] yishaigalatzer commented on #775
Thanks for reporting this, it is still a very valid bug and our error handling to say the least wasn't satisfactory.

Given that the fix we intend to do is to improve the error generated in this case, and that we have a couple of days before we finish the work for Visual Studio 2015 RTM **and** we have to localize the error message, I'm moving this to the update I milestone.

Thanks for taking the

[2015-06-16 01:52] yishaigalatzer commented on #787
Can you verify you have the following commit in your source tree? https://github.com/NuGet/NuGet3/commit/c8c4b85dfe130c0d58a00fc3dd41dbc72d6febb2

[2015-06-16 02:03] stunney commented on #787
It appears as though I do *NOT* have this change.  Strange how I didn't get this when I deleted everything and re-cloned less than an hour ago.

[2015-06-16 02:06] stunney commented on #787
Just wiped it all clean again, and doing the clone-repos.ps1 and I seem to now be getting this specific  commit in the sources on my disk.

[2015-06-16 02:08] yishaigalatzer commented on #787
cool, this commit was a fix to the test failure. I'm hoping that you are going to get past this issue now.

[2015-06-16 02:14] yishaigalatzer commented on #635
Is there still a way to get into this code path where two entries exist in package.config? Even if it involves manual removal of the package from the package folder

[2015-06-16 02:16] stunney commented on #787
Ok, I've moved to another issue :(

C:\Users\Stephen\Documents\GitHub\NuGet.PackageManagement\packages\NuGet.MsBuild.Integration\build\Microsoft.NuGet.targets(58,5): error MSB4062: The "Microsoft.NuGet.Build.Tasks.ResolveNuGetPackageAssets" task could not be loaded from the assembly C:\Users\Stephen\Documents\GitHub\NuGet.PackageManagement\packages\NuGet.MsBuild.Integration\build\Microsoft.NuGet.B

[2015-06-16 02:17] stunney commented on #787
I think this is the same error in that I listed earlier.

I opened "C:\Users\Stephen\Documents\GitHub\NuGet.Home\NuGet.PackageManagement\packages\NuGet.MsBuild.Integration\build\Microsoft.NuGet.Build.Tasks.dll" in depends.x64 2.2.6000 and it is showing that this DLL is x86 compiled and ALL of its dependencies on my machine are x64.

[2015-06-16 02:27] yishaigalatzer commented on #787
I think this dll is not fully signed, and you need a strong name hijack to make it work. My machine is also x64 and I'm seeing no issues, but I do have a hijack.

I'm going to look into getting a fully signed version available on the feed.

CC // @jasonmalinowski can we share a fully signed build? Can/Should the task be AnyCPU?

[2015-06-16 02:33] stunney commented on #787
Ok, I've used sn.exe -Vr Microsoft.NuGet.Build.Tasks.dll to add an exception entry into my registry to attempt to get around this.  If this works a fully signed build should do as a long-term fix I think.

[2015-06-16 02:58] stunney commented on #787
That didn't do it.  Attempting to do sn -Vr Newtonsoft.Json as well in the same build folder (NuGet.PackageManagement\packages\NuGet.MsBuild.Integration\build)

[2015-06-16 02:59] stunney commented on #787
Just a heads up that those are the *only* two assemblies that are strong (delayed or otherwise) signed in the folder

    Directory: \NuGet.PackageManagement\packages\NuGet.MsBuild.Integration\build

Mode                LastWriteTime     Length Name
----                -------------     ------ ----
-a---         6/15/2015  10:38 PM      37848 Microsoft.NuGet.Build.Tasks.dll
-a---         6/15/2015

[2015-06-16 03:18] stunney commented on #787
No dice.  Any suggestions for the SN Hijacking?

[2015-06-16 03:52] stunney commented on #787
Ah, I ran the x64 version of sn.exe.  Had to run the x86 version.  Getting a little further but have this error now:

Utility\BuildIntegratedProjectUtility.cs(38,78): error CS0117: 'SettingsUtility' does not contain a definition for 'GetGlobalPackagesFolder' [C:\Users\Stephen\Documents\GitHub\NuGet.PackageManagement\src\ProjectManagement\ProjectManagement.csproj]
Utility\BuildIntegratedProjectUtil

[2015-06-16 04:04] yishaigalatzer commented on #787
Looks like you still have some synching issues - https://github.com/NuGet/NuGet3/blob/dev/src/NuGet.Configuration/Utility/SettingsUtility.cs does have the right overloads.

I'm checking out for the day, I'll pick it up tomorrow again.

[2015-06-16 04:05] stunney commented on #787
We can pick up again tomorrow.  I'm looking at the source and see the right overloads.  Could it be a stale reference perhaps?

Have a good night!

[2015-06-16 04:59] AndriySvyryd commented on #635
It is still possible by installing a package that depends on a missing package:
1. Install jQuery
2. Delete the packages folder
3. Install jQuery.UI.Combined

[2015-06-16 05:13] yishaigalatzer commented on #755
@zhili1208 looking at the suggested code for the fix (of respecting config changes outside of visual studio), I'm saying we take is slower, get a smaller more targeted fix.

Moving out of RTM milestone

[2015-06-16 05:16] yishaigalatzer commented on #358
@csharpfritz we need documentation on docs.nuget.org as well

[2015-06-16 07:08] hubuk commented on #783
@yishaigalatzer Thank you for your help. I will take a look into this issue as soon as be able to build source code (#787).

[2015-06-16 08:13] v-limi opened #790 "error to find a file when install pakcage TestPackage.AlwaysPrerelease"
with NuGet 3.0-rtm 590

repro steps:
1. create a project
2. check on Include prerelease on Package manager window
3. install package TestPackage.AlwaysPrerelease

expected results: install successfully
actual results: install error:Could not find file 'C:\Users\fwtlaba\.nuget\packages\TestPackage.AlwaysPrerelease\5.0.0-beta\content\net45\its%20for%20.net%204.5.txt'. but under the path the file "it

[2015-06-16 08:28] martinsuchan commented on #755
Regarding your question - this is my whole nuget.config file. How to reproduce it?

Open Solution with blank .NET project in VS2013 with this nuget.config in the same folder as the sln, click Manage NuGet packages, add Json.NET for instance as the only package, save it, close VS.

Now open the solution in VS2015, it builds fine, but if I open the Manage NuGet packages window it's telling me that s

[2015-06-16 11:13] nul800sebastiaan commented on #644
I REALLY want to help debug this problem but I need pointers on where to start, how can I get more helpful debugging info, logging, etc.?

[2015-06-16 11:14] nul800sebastiaan commented on #644
@maartenba This is also reproducible by multiple members in the Umbraco community, could we re-open this and investigate please?

[2015-06-16 11:30] maartenba commented on #644
@yishaigalatzer This may be a V3 client issue after all.

[2015-06-16 14:14] yishaigalatzer commented on #644
Can you provide clear repro steps with nuget 3.0 rc2 as well as a crash dump?

[2015-06-16 16:08] nul800sebastiaan commented on #644
Okay, with `3.0.60602.486` (RC2) this issue is actually resolved! Sorry, don't mean to be the boy who cried wolf. ;-)

[2015-06-16 16:52] yishaigalatzer opened #791 "Consider P2P reference to mask nuget references by assembly name"
Imagine a project with the following structure

Aproject -(p2p) - Cproject
Aproject - (nuget) - Bpackage

Bpackage - ( nuget ) - C.Unofficial.package

Aproject produces a.dll
Bpackage include b.dll
Cprojet produces c.dll
**C.Unofficial**.packages produces **c.dll**

In this case we will get multiple assembly references of the same assemblies and error in design time build and build.

We could cons

[2015-06-16 17:16] zhili1208 commented on #755
@martinsuchan this is fixed in https://github.com/NuGet/Home/issues/626, but this fix is not in RC2 yet, will be in RTM, for your case, it will automatically work.

[2015-06-16 18:29] stunney commented on #787
I have also hit the issue that @hubuk has hit in #783 here:

& : The term 'C:\Users\Stephen\Documents\GitHub\NuGet.PackageManagement\pack.ps1' is not recognized as the name of a
cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify
that the path is correct and try again.
At C:\Users\Stephen\Documents\GitHub\Home\build-nuget.ps1:78 cha

[2015-06-16 19:01] anurse commented on #768
To be clear, we ALSO need to add a rule that says that any TFM **not** in the block-list **is** compatible with `dotnet`. For example, `frob5.8.1` is compatible with `dotnet` :).

Given that, we should add all the Xamarin/Mono frameworks to the block list **for now** until we know for sure they will be supported. Also, the `native` psuedo-tfm should be in the block list

[2015-06-16 19:43] anurse commented on #768
Assigned to @emgarten after discussion with @yishaigalatzer . Feel free to follow up.

[2015-06-16 20:28] danliu opened #792 "Fail to install CrossBase.Platform.IOS orEnvoc.Core.Mobile.iOS package to iOS app"
Repro steps:

1.File->New Project->Visual C#->iOS->iPhone->Blank App(iPhone)/Master-Detail App(iPhone).
2.Right click on the project and click "Manage NuGet Packages…"
3.Select CrossBase.Platform.IOS and Envoc.Core.Mobile.iOS package respectively, click Install button and verify these two packages can be installed correctly.

![1](https://cloud.githubusercontent.com/assets/1087852/8193690/811e3870

[2015-06-16 20:52] danliu opened #793 "Remove the usage of Uri for disk path in PathUtility.cs"
public static string GetPackagePath(string path)
        {
            // Uri.EscapeDataString escapes slashes and white spaces.
            return Uri.EscapeDataString(path).Replace("%5C", "/").Replace("%20", " ");
        }

For example, above method is hacky and could be error prone. We should not be using Uris for disk file path.

[2015-06-16 21:06] harshgMSFT commented on #635
Yes this repros in 2.8.6 and not in 3.0-rtm lets move it to 2.8.7

[2015-06-16 22:10] #790 closed

[2015-06-16 22:30] #788 closed

[2015-06-16 22:42] jasonmalinowski commented on #791
Scenario makes sense. I think the big question is how we define "same assembly". It seems some metadata should be stated by the user "somewhere" (I don't know where exactly) that says "hey, this project over here is essentially a replacement for for this NuGet package over there" would work quite nicely. No idea where that would go though.

[2015-06-16 23:18] anurse opened #794 "Re-examine Framework Assembly References"
There are cases where framework assembly references don't really behave well and are unlike other things in the NuGet system. For example, given the following package:

[code]

The author wants to indicate that there are NO framework assemblies for `netcore50`, since the `ref/netcore50/Foo.dll` file serves the same purpose. However, there is no way to actually do this in NuGet. As a result, we end

[2015-06-16 23:29] zhili1208 opened #795 "RepositoryPath is not respected in Powershell when Powershell open before Solution"
Repro step:
1.Open VS and Open NuGet Powershell
2. Open Solution which contain ReposityPath setting in solution nuget.config
3.Install package in NuGet Powershell

Expect: Package is installed to Repository Path.
Actual: Package is installed to default Path

[2015-06-17 00:13] #795 closed

[2015-06-17 00:14] emgarten commented on #713
Multiple package ids can now be gathered in parallel.

NuGet/NuGet.PackageManagement@78c343a4ecde202412f9cc189039f742ef4a42fe

[2015-06-17 00:14] #713 closed

[2015-06-17 00:15] emgarten commented on #721
Added GatherCache to ResolutionContext, this can be carried across all operations to store packages gathered from both local and remote sources.

NuGet/NuGet.PackageManagement@78c343a4ecde202412f9cc189039f742ef4a42fe

[2015-06-17 00:15] #721 closed

[2015-06-17 00:16] emgarten commented on #773
This no longer repros in the latest bits.

[2015-06-17 00:19] emgarten commented on #777
Fixed with NuGet/NuGet.PackageManagement@d23a60c9b543992ba453c88c1c16a6072e58bf5c

[2015-06-17 00:19] #777 closed

[2015-06-17 02:34] deepakaravindr opened #796 "During package extraction, unneeded files like <packagefilename>.nupkg.sha512 and [Content_Types].xml are created in the packages folder"
During package extraction, unneeded files like <packagefilename>.nupkg.sha512 and [Content_Types].xml are created in the packages folder

Repro steps

1. Create a Console Application
2. Install-Package jQuery.2.1.4 (Any package would work)
3. Inspect the packages folder for jQuery

Expected:
All files present are needed

Actual:
Unneeded files like <packagefilename>.nupkg.sha512 and [Content_Types

[2015-06-17 04:23] danliu commented on #792
Discussed with Justin and this is by design. xamarin.IOS is not considered as compatible with xamarin.mac.

[2015-06-17 04:23] #792 closed

[2015-06-17 04:56] JamesNK opened #797 "VS NuGet package manager incorrectly uses project.json when managing csproj's packages"
I have a csproj and project.json in the same directory.

When I choose to manage the csproj's NuGet packages in VS by right clicking on References and choosing Manage NuGet Packages, the information displayed in VS is from the project.json, not the csproj's packages.config file.

[2015-06-17 07:31] emgarten commented on #797
This is expected. Having a project.json file in your project signals to NuGet that it supports the VS 2015 version of NuGet in the same way that packages.config is used today to determine if the project is using NuGet. The newer project.json file will override the older packages.config, which is why you see it used in Manage NuGet Packages.

You can work around this by moving the project.json file