[2017-05-24 15:13] roelofb commented on #5267
We see exactly the same errors on the same platforms, and also when building using the official ASP.NET Core build image https://hub.docker.com/r/microsoft/aspnetcore-build/

[2017-05-24 18:07] mishra14 commented on #4901
@rrelyea do we have a plan for this?

[2017-05-24 18:15] emgarten commented on #4119
@jjanuszkiewicz duality in the linked blog post is referring to how the assets are consumed by the parent project, this isn't referring to automatically changing between projects and packages based on whatever is available. You can get that behavior by adding conditionals to your MSBuild project.

[2017-05-24 18:44] emgarten commented on #5282
@koelscha please contact the package owner for package support.

[2017-05-24 18:52] emgarten commented on #5279
Great examples @MicahZoltu!

Unfortunately this isn't as simple as just moving where restore writes the packages, all tools need to respect the changed location and many still have it hardcoded. We're working on fixing that and making the changed path available through project.assets.json, but already shipped tools will continue looking at the old path.

If you are only using the latest tools you

[2017-05-24 19:08] moraleslos opened #5283 "Issues with VS2017 and myget repo"

[2017-05-24 19:13] moraleslos commented on #5283
Using VS2017 Community, I'm trying to dotnet restore a project that uses OpenIddict hosted on myget.  For some reason, nuget doesn't pull from myget.  I get the following error:

**C:\Program Files\dotnet\sdk\1.0.3\NuGet.targets(97,5): error : Unable to resolve 'OpenIddict (>= 1.0.0-beta2-0614)' for '.NETCoreApp,Version=v1.1'.**

Not sure why it won't grab OpenIddict.  The nuget.config file in my

[2017-05-24 20:11] rainersigwald opened #5284 "MSBuild /t:Restore exit code is always 0"
_From @nguerrera on May 19, 2017 18:7_

_From @Jonathan34 on May 10, 2017 21:41_

## Steps to reproduce
- have an invalid csproj:
[code]
then dotnet restore

## Expected  behavior
[code]
## Actual behavior
exit code is 0

## Environment data
`dotnet --info` output:

[code]

_Copied from original issue: dotnet/cli#6569_

_Copied from original issue: Microsoft/msbuild#2113_

[2017-05-24 20:11] rainersigwald commented on #5284
_From @nguerrera on May 19, 2017 18:7_

Interestingly, this does not repro on Windows

[code]

[2017-05-24 20:11] rainersigwald commented on #5284
_From @nguerrera on May 19, 2017 18:7_

_From @Jonathan34 on May 10, 2017 22:51_

This is my test script

[code]
Does not fail :(

[2017-05-24 20:11] rainersigwald commented on #5284
_From @nguerrera on May 19, 2017 18:7_

_From @livarcocc on May 11, 2017 0:15_

This issue was moved to NuGet/Home#5211

[2017-05-24 20:11] rainersigwald commented on #5284
_From @nguerrera on May 19, 2017 18:7_

_From @Jonathan34 on May 11, 2017 1:7_

Thanks!

[2017-05-24 20:11] rainersigwald commented on #5284
_From @nguerrera on May 19, 2017 18:7_

This isn't a nuget issue. MSBuild is failing to load the project file, it's not up to the restore target to signal that with non-zero exit. Possible culprits are msbuild, cli, or runtime. Let's investigate here and route once we know the cause.

[2017-05-24 20:11] rainersigwald commented on #5284
_From @nguerrera on May 19, 2017 18:7_

@Jonathan34 This didn't repro for me on mac either with 2.0.0-preview1-005977

Here were my steps:

* Install from https://www.microsoft.com/net/core/preview#macos
* `mkdir repro`
*  `cd repro`
* `dotnet new console`
* `echo junk >> repro.csproj`
* `dotnet restore`
* `echo $?`

[code]

Do you see the same correct result when using my steps? If so, are you ab

[2017-05-24 20:11] rainersigwald commented on #5284
_From @nguerrera on May 19, 2017 18:7_

_From @Jonathan34 on May 12, 2017 14:53_

@nguerrera you need two projects and a sln referencing the two projects. then you mess up with one and restore the sln. either the return code is the one fro the last project, either it is OR'ed and should be AND'ed (not really english!)

it will return 0.

[code]

[2017-05-24 20:11] rainersigwald commented on #5284
_From @nguerrera on May 19, 2017 18:7_

Thanks! I'll take a look

[2017-05-24 20:11] rainersigwald commented on #5284
_From @nguerrera on May 19, 2017 18:8_

Repros on windows too with msbuild /t:restore on sln.

[2017-05-24 20:11] rainersigwald commented on #5284
_From @nguerrera on May 19, 2017 18:9_

[msbuild.binlog.zip](https://github.com/Microsoft/msbuild/files/1015134/msbuild.binlog.zip)

[2017-05-24 20:11] rainersigwald commented on #5284
I thought I'd reduced this to only reproduce when run in multiproc mode but that's not the case; it fails with `dotnet msbuild /t:restore /m:1`.

[2017-05-24 20:11] rainersigwald commented on #5284
_From @nguerrera on May 24, 2017 19:33_

AFAICT, this is not specific to .NET Core

[code]

[2017-05-24 20:11] rainersigwald commented on #5284
_From @jeffkl on May 24, 2017 19:48_

Is this because NuGet.targets is setting `ContinueOnError` to `true` by default:

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L235

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L47

So the error is still logged but the task does not fail the build?

[2017-05-24 20:11] rainersigwald commented on #5284
@jeffkl 🔔 we have a winner!

[code]

[2017-05-24 20:49] rrelyea commented on #4901
Sorry, cannot land 4.3 with this work done.

[2017-05-24 22:13] nkolev92 commented on #5248
In VS, we currently don't read these properties, they're directly overriden from the settings.

[2017-05-24 23:48] tkrick commented on #4394
The "cache", i mean, is the global packages directory. It is not really a cache. But there is also the involvement of the nupkgs and version list cache in the v3-cache. I confess I do not fully know the internal workings of when these caches are involved.

for clarifying example 1: imagine you set a rule for [1.0,infinity) even if the version 1.0 did not exist. then someone pushes 1.0. before push

[2017-05-24 23:53] jainaashish commented on #4457
VS platform corresponding bug# 440988

[2017-05-25 00:23] nkolev92 opened #5285 "Remove experimental VSIX"

[2017-05-25 00:41] emgarten commented on #5284
@jeffkl @rainersigwald thanks for tracking this down! :smile:

This was done to avoid failing when walking child projects that do not support restore. It looks like Restore should instead limit the targets where it ignores errors, this could be done much better.

[2017-05-25 00:46] mikob commented on #1946
On *nix, ran `sudo nuget update -self` and I could create a nuget package from the *nuspec* file successfully.

[2017-05-25 00:47] emanuelquintero opened #5286 "NuGet prefers NTLM auth even if there are credentials in NuGet.config - add config option to filter auth types for credentials"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): **NuGet.exe**

NuGet version (x.x.x.xxx): **4.0.0.2283**

Worked before? If so, with which NuGet version: No, tried with NuGet 3.5 as well

## Detailed repro steps so we can see the same problem

1. Have a TFS server (or a server which allows Basic and NTLM auth)
2. Run NuGet sources add with u

[2017-05-25 01:48] dsplaisted commented on #4781
Currently, the `CollectPackageReferences` target is used to get the package references to restore in VS.  So you can do `BeforeTargets="Restore;CollectPackageReferences"` to run before restore in both VS and the command line.

It would be good to have a single target that works for building projects from the command line, building solutions from the command line, and building in VS.

[2017-05-25 03:51] StingyJack commented on #3050
Why not allow leading zeros? Version numbers have started with 0.0.1 before, and its useful in some cases when building development packages to use low numbers like that for those of us who are small shops with one nuget server that gets dev stuff on it from time to time.

I'm using trailing zero's and I need the 4 part version number to be left alone. 6.3.2.0 should be the package version.

If yo

[2017-05-25 07:40] davidfowl commented on #4394
I agree there are situations that can cause builds to "do bad things" and some situations would be helped if there was a fixed set of versions. I just want to reduce he FUD on this thread because the premise isn't correct. If feeds are volatile the the result of the restore will be as well.

If you lock the versions and still delete packages from the feed I don't know how your restore situations w

[2017-05-25 08:09] cezarypiatek commented on #4710
Same problem. Visual Studio Enterprise 2017 - v15.2 (26430.6)

[2017-05-25 08:12] MattPress commented on #4710
Same problem. Regular PowerShell version 5.0. Package manager console PowerShell version 2.0

[2017-05-25 09:12] rahulpaw commented on #5232
Is this change expected to be shipped with VS? which build is expected to have it?

[2017-05-25 12:27] MaximRouiller commented on #4901
@rrelyea So this goes into the "we want to do it but don't have the time right now" bucket?

[2017-05-25 18:41] alpaix commented on #5232
Will be shipped with upcoming Visual Studio 2017 Preview version 15.3 at https://www.visualstudio.com/vs/preview/.

[2017-05-25 19:11] maartenba commented on #5270
Any chance these can be published?

[2017-05-25 19:33] neoeinstein commented on #5267
Also have been experiencing this same issue, but we are pushing to a private MyGet feed. Setting logging to `Verbose` verbosity doesn't provide any additional information that looks useful.

[2017-05-25 20:54] joelverhagen opened #5287 "NuGet 4.1.0 packages"
Are there plans for NuGet 4.1.0 packages, e.g. NuGet.Versioning.

Looks like the latest stable is 4.0.0:
https://www.nuget.org/packages/NuGet.Versioning

[2017-05-25 21:25] davkean commented on #5232
Which actual build is this fixed in?

Sent from my Windows 10 phone

From: Alex Panov<mailto:notifications@github.com>
Sent: Friday, May 26, 2017 4:41 AM
To: NuGet/Home<mailto:Home@noreply.github.com>
Cc: David Kean<mailto:dave@keansbox.com>; Author<mailto:author@noreply.github.com>
Subject: Re: [NuGet/Home] Failed to "Manage NuGet Packages..." for "Provide value on 'System.Windows.StaticResourceE

[2017-05-25 21:29] rrelyea commented on #5232
A recent VS change removed something that we were depending on, causing this problem.
We have not yet inserted a fix with NuGet.Tools.vsix that fixes this.
We are trying to insert today, if we can get validation clean.
@rohit21agrawal - can you please reply with the branch and build, once the insertion works.

[2017-05-25 22:11] timabell commented on #4394
Thanks for the public discussion, great to see Microsoft planning such things in the open these days :-)

Even if the resolution of dependencies is [relatively] stable I like the idea (as a dev) that I can see at a glance in source control every version number in the tree of dependencies from the last time dependency resolution was run. I can also then bisect the history to find out which dependen

[2017-05-25 22:26] mishra14 commented on #5278
Yup. This is fixed in feature branch. Will wait for dev merge before closing this bug.

[2017-05-25 22:53] #5190 closed, assigned to emgarten

[2017-05-25 22:53] #5189 closed, assigned to emgarten

[2017-05-26 00:00] emgarten commented on #5284
I went through this again, the current behavior is expected. Users should discover problems with invalid projects at build time. Displaying errors in both scenarios leads to duplicate errors which we are trying to avoid.

One scenario where errors are expected is when a C# project depends on a C++ project that doesn't support ``CustomAfterMicrosoftCommonTargets``. Restore tries to call the restore

[2017-05-26 00:05] tkrick commented on #4394
@timabell the project.lock.json is not really a lock file since it isn't designed to be checked in. I consider the PackageReference as-is and project.json worlds to be somewhat equivalent.

@davidfowl "premise isn't correct": example 1 which i verified just now is possible. It shows that even without volatility (deleting/overwriting, i argue pushing is not volatility or if it is it shouldn't cause

[2017-05-26 00:50] mishra14 commented on #5278
Fixed by https://github.com/NuGet/NuGet.Client/commit/345115292dcb6b3643898454e77701746d5605dc

[2017-05-26 00:50] #5278 closed, assigned to emgarten, mishra14

[2017-05-26 01:20] Jonathan34 commented on #5284
The simple scenario is for CI. I want to stop the build if restore fails rather than going to build. Otherwise I see build errors that happened because of the previous step.

[2017-05-26 02:33] davidfowl commented on #4394
If your package targets a version of a package that does not exist (because you deleted it) then it has to roll forward to the next one, it's the only reasonable behavior. The reason that happens is because nuget versions are minimums not exact versions. The tooling also warns you when this happens because it's likely a mistake somewhere (it says something like you asked for A 1.0.0 but got A 1.1.

[2017-05-26 03:38] emgarten commented on #5284
Which errors do you see? If the the project is invalid xml you will see only that error, not errors from missing packages. For project references it should be the same, child projects will build first and fail. Am I missing a scenario here where packages aren't build restored and a build still starts?

[2017-05-26 04:10] maartenba commented on #5287
+1

[2017-05-26 06:57] emgarten commented on #5253
This is due to msbuild logging errors to the output stream instead of the error stream. Restore is currently throwing the result of the error stream in the exception message, but it is empty.

[2017-05-26 07:12] johnkors commented on #4901
Not sure I understand that sentence.  :| Do you mean it'll have to wait, @rrelyea ?

[2017-05-26 14:57] steve-warwick commented on #1943
I am also getting this problem in many places in our shared library projects. We are in process of migrating from VS 2015 (.Net Core preview tooling using project.json) to VS 2017 Update 2 with the new .csproj). We have a large number of .NET Core class libraries targeting net46 that generate NuGet packages which are shared across a number of other project types (Windows Service, Web App, Web Api'

[2017-05-26 16:30] jeffkl commented on #5284
@emgarten When using stand-alone NuGet.exe, it writes out [NuGet.targets](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets) and calls: ([here](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/MsBuildUtility.cs#L103))
[code]

`NuGet.targets` then fires off an `<MSBuild />` task against the project which could have malfor

[2017-05-26 17:03] emgarten commented on #5284
@jeffkl right, and it will also fail if the project is a non-NuGet project that doesn't support restore or need to restore.

In your example there are no valid projects to restore, the build that happens after should display the XML error.

A feature in msbuild to check if a target existed or to just get the value of a property from a project reference before trying to call into it would help solv

[2017-05-26 17:20] #5191 closed, assigned to emgarten

[2017-05-26 17:28] #5253 closed, assigned to emgarten

[2017-05-26 18:31] jainaashish opened #5288 "[Test Failure]Error dialog pop up when loading solution "NuGet.sln""
More details in VSTS bug# 441728

[2017-05-26 18:47] jnm2 commented on #4687
With `NoPackageAnalysis=true`, what else would I possibly miss? Ideally I'd just be able to suppress this one warning without suppressing all package analysis.

[2017-05-26 18:52] emgarten opened #5289 "Empty error summary displayed from nuget.exe for projects with warnings"
Warnings cause the error summary to be displayed when running ``nuget.exe restore``. The result is an empty error summary on the console.

Project file:
[code]

Restore result:

[code]

[2017-05-26 18:54] emgarten commented on #4687
Currently suppressing a single package analysis warning isn't possible.

@rohit21agrawal if pack started using the new warning codes it might be possible to suppress these in the same way restore warnings will be suppressed.

[2017-05-26 19:40] edemesa commented on #4808
@V1ct0rV I think your issue is related to a spelling error in:  /t:pack MyProyect.csproj

[2017-05-26 19:58] #5288 closed, assigned to jainaashish

[2017-05-26 19:58] emgarten opened #5290 "MSBuild logging fails on mono"
MSBuild logging fails on mono with target invocation exceptions. The new methods may not be supported there.

Around 100 CI tests are failing for MAC.

[2017-05-26 20:07] Jonathan34 commented on #5284
@emgarten if the restore steps fails on one prokject, packages might not be restored, build will likely fail in CI due to missing dependencies.

[2017-05-26 22:26] emgarten commented on #5284
Wouldn't it fail on a project dependency with invalid XML first? I don't think it would get building against the missing package references.

[2017-05-27 00:25] Jonathan34 commented on #5284
This is for .net core and it's tooling. It comes in two steps and is not via visual studio. In my case I have a batch script that does `dotnet restore` and then `dotnet build`.  Restore return 0 so it goes to build....

[2017-05-27 00:50] #3711 closed, assigned to jainaashish

[2017-05-27 00:50] #5180 closed, assigned to jainaashish

[2017-05-27 03:28] emgarten commented on #5284
What is the result when it goes to build?

[2017-05-27 03:58] emgarten commented on #5290
Failing due to a stack overflow now.
//cc @alpaix who is looking at it.

[2017-05-27 04:07] Jonathan34 commented on #5284
Build fails since a project was not restored properly and the build exit code is not 0 since at least one project failed to build

[2017-05-27 04:13] emgarten commented on #5284
@Jonathan34 can you share the error message :smile:

I'm trying to understand how errors due to missing packages show up **before** an invalid project file during build.

[2017-05-27 12:03] Jonathan34 commented on #5284
It is in the first comment already. Not sure what else you need? The build error?

[2017-05-27 12:40] dtivel opened #5291 "Flaky PackageSearchResourceV3Tests tests"
The following two [PackageSearchResourceV3Tests](https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Core.Tests/NuGet.Protocol.Tests/PackageSearchResourceV3Tests.cs) tests:

    PackageSearchResourceV3Tests.PackageSearchResourceV3_GetMetadataAsync_NotFound
    PackageSearchResourceV3Tests.PackageSearchResourceV3_UsesReferenceCache

...occasionally fail with an exception similar to the follow

[2017-05-27 13:48] #4912 closed, assigned to dtivel

[2017-05-27 13:49] #4911 closed, assigned to dtivel

[2017-05-27 13:49] #4909 closed, assigned to dtivel

[2017-05-27 13:49] #4908 closed, assigned to dtivel

[2017-05-27 13:49] #4982 closed, assigned to dtivel

[2017-05-27 13:49] #4910 closed, assigned to dtivel

[2017-05-27 13:49] #5141 closed, assigned to dtivel

[2017-05-27 13:49] #4913 closed, assigned to dtivel

[2017-05-27 17:52] emgarten commented on #5284
Here is an example using dotnet 2.0.0-preview2-006098

Project A references project B and uses a transitive dependency from B. Without this package dependency A cannot build.

### Directory structure
[code]

### a/a.csproj

A references project B

[code]

### b/b.csproj

Project B includes Newtonsoft.Json, but the project is invalid.

[code]

### a/Class1.cs

Project A uses Newtonsoft.Json

[code]

[2017-05-28 07:26] mrueedi commented on #4204
So a solution for me was to close VS and rename or delete the old v1 project.lock.json. After starting VS again, a v2 version of the file was generated...

[2017-05-28 14:57] sturlath commented on #352
Hi I must be missing something since I just can´t get a local icon to load up in VS og VSTS packages.

1. My nuspec file contains   <iconUrl>file://Resources/myIcon.png</iconUrl> that is 32x32 (also tried 128x128).
2. The myIcon.png file is in the project where I have tried all combos (I can think of) of "Build Action" and "Copy to Output Directory".

I have tried searching for a solution without

[2017-05-28 16:35] haugan commented on #4358
So weird that this functionality isn't available in VS Code. Are we supposed to track and update each package reference in .csproj manually?

[2017-05-28 18:51] adamralph commented on #352
@sturlath AFAIK it is not possible, and that is the reason that this issue exists.

[2017-05-28 23:06] benmccallum commented on #4626
I just got this. Not sure if it was pre-existing, as I hadn't yet got this project ever building, but I was trying to upgrade a project generated from the SpaTemplates repo from asp.net core 1.x to 2.x. I added the aspnetcore-dev nuget feed to find the preview packages, di dotnet restore and currently get this on build across numerous dependencies. Again, it could have been happening before I adde

[2017-05-29 01:33] clairernovotny commented on #4790
Ping @unniravindranathan @rrelyea @morrisjoe

[2017-05-29 02:58] jahmai-ca commented on #4358
I slapped this together over the weekend, because doing updates with Visual Studio 2017 is agony (takes 10 minutes just to calculate the updates, 20 mins to execute them, and then half the time doesn't properly update everything).

https://gist.github.com/jahmai/6868dbaeb9032eabb1cd0c6b6a2088e8

Disclaimer: Works for me, might not work for you.

[2017-05-29 04:07] JamesNK opened #5292 "Support managed package assets for C++ UWP projects"
Copied from https://github.com/JamesNK/Newtonsoft.Json/issues/1285 by @mathisloge

---

`Das Paket "Newtonsoft.Json 10.0.2" konnte nicht installiert werden. Sie versuchen, dieses Paket in ein Projekt zu installieren, das sich auf "native,Version=v0.0" bezieht, das Paket enthält aber keine Assemblyverweise oder Inhaltsdateien, die mit diesem Framework kompatibel sind. Wenden Sie sich an den Paketer

[2017-05-29 11:04] aBaechtold opened #5293 ""Installed" view shows the version of the latest available package, not the installed version"
This is not an issue/bug report, but a behavior/feature consideration/request.

For the version I'm using (see further below) the NuGet tool window (e.g. Solution Explorer > Right click solution item > Select "Manage NuGet packages for Solution") shows in the "Installed" view the version of the latest available package. I was expecting to see there the installed version of the package (e.g. the pa

[2017-05-29 19:10] elscript commented on #3401
Vote again and again for this great Feature!

[2017-05-29 21:02] #5290 closed, assigned to mishra14

[2017-05-29 22:10] #5291 closed, assigned to dtivel

[2017-05-30 00:31] pvandervelde commented on #4537
Any chance of getting this fixed? This not working makes it hard to figure out which packages exist in a feed. Now we need to manually iterate through a feed.

[2017-05-30 01:14] shanselman commented on #4901
If I did a PR could it be done? Or are there too many moving parts?

[2017-05-30 02:13] meidianto commented on #2793
Fixed the issue by deleting `%UserProfile%\.nuget`

[2017-05-30 08:34] MattPress commented on #4710
@shamglam / @GlennGendron / @cezarypiatek have any of you found a fix for this?

[2017-05-30 11:45] MattPress commented on #4710
When i execute `[runspacefactory]::CreateRunspace()` in package manager console i get an unnamed runspace of version 2.0. I asked a colleague to do the same and they get a named runspace using version 5. Not sure if this is any help but it appears that the issue is environmental. If anyone could shed some light on this then it would be greatly appreciated.

[2017-05-30 12:29] kzu commented on #4119
Here's an example of how I'm doing exactly that: conditionally reference binaries (could be project references instead as easily) vs package references depending on the presence of the binaries (could be the source projects, or whether it's debug or release builds, or whatever): https://github.com/kzu/roslynator/blob/master/Directory.Build.targets

[2017-05-30 12:29] cezarypiatek commented on #4710
I've tried reinstall nuget packet console using Visual Studio installer without any luck.
[runspacefactory]::CreateRunspace() gives me the following result:

[code]

Same command in powershell console responds with

[code]

Today, I observed the following error during loading package manager console

[code]

Package Manager Console Host Version 4.2.0.2457

[2017-05-30 12:29] kotovaleksandr commented on #4286
I have some issue when try to push package inside a container with .net core to private ProGet server:
`dotnet nuget push package_name.nupkg  -s package_feed -k key` and get error "Pushing took too long".

Reproduced only on one package, other packages pushed without errors. Privileged mode not solve problem.

**dotnet --info:**
`.NET Command Line Tools (2.0.0-preview1-005977)

Product Information

[2017-05-30 13:44] kotovaleksandr commented on #4286
Reproduce steps (with nuget.org):
1. Download archive with package https://www.dropbox.com/s/hqnapd3en9eprdk/Platform.ObjectManager.5.6.0.3.nupkg.zip?dl=0
2. Build container (docker build . -t nuget), Dockerfile:

[code]

[2017-05-30 14:13] techmike2kx opened #5294 "Package Manager Console can run with only PowerShell version 5"
I'm aware of a security risk in in PowerShell 2.0 (see this : http://www.leeholmes.com/blog/2017/03/17/detecting-and-preventing-powershell-downgrade-attacks/ ) so I removed the 2.0 dependency from my pc.

this somehow resulted in Package Manager Console  issues in Visual Studio 2017 (but I reckon it can also happens in lower versions)

is this behavior normal, so depending on PowerShell 2.0?

![er

[2017-05-30 14:20] clairernovotny opened #5295 "NuGet restore fails with "invalid" version string"
With VS 2017 Update 3 Preview 1, NuGet restore is failing with a valid version string, saying it's invalid:

[code]
Repro here: https://github.com/Reactive-Extensions/Rx.NET/tree/d5abbe04b50136b1a83bc90eaa02ab64cddae1b8/Ix.NET/Source

Go to the Ix.Net sln and open in VS. Package Manager Output fails.

[code]

/cc @AArnott

[2017-05-30 14:25] clairernovotny commented on #5295
If I replace the variable with a string, it appears to work:
[code]

[2017-05-30 14:50] mirecg commented on #5240
Hi, I'm having the same requirements like you and like most users out there.

I'm using nuget 3.5.0.1938 and my experience is little bit different.
For me install command respects the file timestamps and extracts files with the correct timestamp. This seems that was fixed in #420.
But the problem remains in pack command, which sets the timestamps to the current time for all packed files. So the fi

[2017-05-30 15:17] AArnott commented on #5295
This is not unique to 15.3 Preview 1. I've seen this for all versions of VS 2017. I _think_ I filed a bug on it months ago but I can't find it. now.

[2017-05-30 15:19] nkolev92 commented on #1219
Closing this in favor of https://github.com/NuGet/Home/issues/4537
The codepath that was being hit here is not hit in the post-4.0 versions anymore.

In addition nuget.org allversions in particular has a server-side bug as well.
https://github.com/NuGet/NuGetGallery/issues/3274

[2017-05-30 15:19] #1219 closed, assigned to nobody

[2017-05-30 15:21] nkolev92 commented on #4537
Related to
NuGet/NuGetGallery#3274
In addition to the known local feed allversions bug nuget.org allversions in particular has a server-side bug as well.

[2017-05-30 17:05] rrelyea commented on #5295
This is being tracked in the project system repo. https://github.com/dotnet/project-system/issues/2129

[2017-05-30 17:05] #5295 closed, assigned to nobody

[2017-05-30 17:07] #4964 closed, assigned to shishirx34

[2017-05-30 17:40] alpaix commented on #5054
Closed with NuGet/NuGet.Client#1379.

[2017-05-30 17:40] #5054 closed, assigned to alpaix

[2017-05-30 17:41] alpaix commented on #5056
Closed with NuGet/NuGet.Client#1379.

[2017-05-30 17:41] #5056 closed, assigned to alpaix

[2017-05-30 17:43] alpaix commented on #5055
Closed with NuGet/NuGet.Client#1379.

[2017-05-30 17:44] #5055 closed, assigned to alpaix

[2017-05-30 17:51] alpaix commented on #5204
Closed with NuGet/NuGet.Client#1379.

[2017-05-30 17:51] #5204 closed, assigned to zhili1208

[2017-05-30 17:59] alpaix commented on #5091
Closed with NuGet/NuGet.Client#1379.

[2017-05-30 17:59] #5091 closed, assigned to alpaix

[2017-05-30 18:23] emgarten commented on #5292
It looks like this is from a UWP C++ project using packages.config. Install will look in the ``native/`` folder for assemblies which doesn't exist in *Newtonsoft.Json*.

Managed C++ scenarios are not currently supported in NuGet.

[2017-05-30 18:28] Galad commented on #5250
Isn't it a duplicate of #4790 ?

[2017-05-30 18:43] Newrad0603 opened #5296 "[MAS] The search control in the PackageManagerControl does not report it's status"
## Details about Problem

NuGet product used: "Manage NuGet Packages..." UI

VS version: 26526.0

## Detailed repro steps so we can see the same problem

0. Turn on Narrator and launch VS

1. Create a WPF project

2. Right-click on the project node in Solution Explorer

3. Click Manage NuGet Packages...

4. Click on the Browse tab

5. Enter a search term into the search box

Expected:
The search c

[2017-05-30 20:28] #5276 closed, assigned to jainaashish

[2017-05-30 21:03] attilah opened #5297 "project.assets.json should be under Configuration specific folder within intermediate path"
In Orleans I just discovered a weird issue: in the nuspec the project references for our Release packages pointed to 1.5.0-dev instead of 1.5.0. We're using only suffixes for Debug builds.

It turned out that since we only did a package restore (like in the old days) at the beginning of the build once, project.assets.json got the version suffix burned in, since the first build was Debug.

Because

[2017-05-30 21:44] agocke opened #5298 "Support for marking files executable when running NuGet pack on Windows"
NuGet provides a `tools` directory as a convenient place to put executable tools, but doesn't provide a way to indicate that a file should be marked executable when it is restored on a Unix machine. This makes it difficult to pack shell scripts for Unix machines since the Windows file system does not provide a way to mark shell scripts executable.

[2017-05-30 21:46] jonwchu opened #5299 "Link VS Package Entries to Gallery Package Pages"
In Visual Studio, when you search for package for a package, you should be able to see in the package info view, a link back to the NuGet Gallery. Since the Gallery may contain information that isn't present in VS it would be helpful to users to be able to navigate to the Gallery to find out more.

[2017-05-30 21:49] rrelyea commented on #5299
Might be a good idea.
@jonwchu - Which information should be on the site, but not on the client?

[2017-05-31 05:18] emgarten commented on #5298
Everything gets marked as executable with this recent change: https://github.com/NuGet/NuGet.Client/pull/1346

[2017-05-31 06:55] Portikus commented on #4488
Is it just me or is this fixed with the newest Visual Studio Update 15.2 (26430.12)? I am able to remove the workaround.

[2017-05-31 07:06] davkean opened #5300 "Building a new enlistment fails"
_From @jcouv on May 30, 2017 23:15_

I cloned the repo, then ran `build.cmd` from a VS2017 command prompt and got the failures below.

![image](https://cloud.githubusercontent.com/assets/12466233/26608927/0fd46d78-4553-11e7-8f76-df61203b2d8c.png)

@srivatsn for assistance.
@OmarTawfik in case you've encountered this.

_Copied from original issue: dotnet/project-system#2331_

[2017-05-31 07:06] davkean commented on #5300
@emgarten How would this be possible? What builds would not have the "Restore" target?

[2017-05-31 07:06] davkean commented on #5300
@jcouv Can you run the following from the VS command prompt and attach the results?
[code]

[2017-05-31 07:06] davkean commented on #5300
_From @jcouv on May 31, 2017 2:7_

Attached output from `msbuild /pp`: [pp.txt](https://github.com/dotnet/project-system/files/1040126/pp.txt)

[2017-05-31 07:06] davkean commented on #5300
Here's the relevant portion:

[code]

Basically looks like the location $(MSBuildExtensionsPath)\..\Common7\IDE\CommonExtensions\Microsoft\NuGet\NuGet.targets cannot be found.

Can you see if NuGet.targets exists any under Visual Studio directory in program files?

[2017-05-31 07:06] davkean commented on #5300
_From @emgarten on May 31, 2017 4:52_

I would also be interested to know what workloads are installed in VS 2017. I haven't seen any issues around NuGet missing in the past, but it could be possible.

[2017-05-31 07:06] davkean commented on #5300
_From @srivatsn on May 31, 2017 5:1_

@natidea mentioned running into this today as well. I wonder if this is some recent regression

[2017-05-31 07:06] davkean commented on #5300
@jcouv Can you run the following:

[code]

And attach that? Perhaps MSBuildExtensionsPath is resolving to a different path? I do find it strange that NuGet is walking outside of the extensions path to find it's targets - so if MSBuild move themselves they are broken.

[2017-05-31 07:06] davkean commented on #5300
_From @jcouv on May 31, 2017 7:5_

Attached new pp file: [build.txt](https://github.com/dotnet/project-system/files/1040487/build.txt)

Dave and I troubleshooted on Skype. The `NuGet.targets` file was under `C:\Program Files (x86)\Microsoft Visual Studio\Preview\Enterprise\Common7\IDE\Extensions\5y0bse3d.tbd` which seemed to be the problem (the sub-folder has a random name and it's under Extension

[2017-05-31 07:08] davkean commented on #5300
Moving this over to NuGet, folks it appears your extension isn't installing to a predictable path, instead of installing to Common7\IDE\CommonExtensions\Microsoft\NuGet it was installed to Common7\IDE\Extensions\5y0bse3d.tbd.

Note not only is the final folder incorrect, so is the extensions folder (Extensions instead of CommonExtensions).

[2017-05-31 07:11] emgarten commented on #5300
@davkean thanks for tracking down the cause. It looks like the NuGet VSIX didn't install correctly, I'm not sure what would cause this to install without using the well known folder.

[2017-05-31 07:51] AndyTian-Devops opened #5301 "[Test failure]An error dialog pop up after creating a UWP project on VS2015"
**NuGet Version:** 4.3.0.2577
**VS Version:** VS 2015 MU35 25431.01
**OS Version:** Windows 10 TH2_Release 10586

**Repro Steps:**
 1.Create a C# UWP project.

**Expected Result:**
 Project can be created successfully.

**Actual Result:**
---------------------------
Microsoft Visual Studio
---------------------------
The composition remains unchanged. The changes were rejected because of the follo

[2017-05-31 07:51] johnkors opened #5302 "Using configuration APIs in a CLI tool cannot read content files"
## Details about Problem
When creating a dotnet core tool (CLI extension), I'd like for the tools to include a content file (appsettings.json), so I can use configuration APIs when running the tool.

When installing the tool from Nuget, the content file cannot be found using the configuration APIs because it's trying to locate it in the `.tools` folder instead of inside the nuget package folder:

[2017-05-31 14:42] kzu opened #5303 "Preserve None/Content files that have a Kind metadata"
Currently if you have:

[code]

NuGetizer will turn that into a None item inside the package at the root directory (unless it has a relative path, see #5148). If the user instead wants those items to go to `build`, say, he can't just add the `<Kind>build</Kind>` metadata, since we turn it into `None`.

It would be ideal if the Kind was preserved for both None/Content, so that adding build/runtimes

[2017-05-31 15:17] #5303 closed, assigned to kzu

[2017-05-31 15:43] kzu opened #5304 "None/Content with CopyToOutput should be primary output relative"
If primary output is Lib/Build/etc., the relative package path of None/Content items
that have CopyToOutput should default to be primary output relative, just like in
the built output.

If users explicitly choose a different kind, however, preserve it as in #5303.

[2017-05-31 16:51] jainaashish opened #5305 "[Feedback] [Test Failure]The package can’t be uninstalled if it was installed with ‘PackagReference’"
More details in internal VSTS issue# 444277

[2017-05-31 18:03] #5304 closed, assigned to kzu

[2017-05-31 18:03] kzu opened #5306 "Packaging project output should not be framework specific by default"

[2017-05-31 18:04] #5306 closed, assigned to kzu

[2017-05-31 18:23] diverdan92 opened #5307 "[Feature] Package ID Prefix Reservation"
Status: **Implemented**

The specification is available here: [NuGet Package Identity Verification](https://github.com/NuGet/Home/wiki/NuGet-Package-Identity-Verification)

Use this issue for discussion. Link other issues with similar asks to this one.

[2017-05-31 18:25] diverdan92 commented on #1882
Just wanted to provide an update. We will scope back a bit and start with package ID prefix reservation as a first step. More details here: https://github.com/NuGet/Home/wiki/NuGet-Package-Identity-Verification

Please use this new GitHub issue for discussions regarding prefix reservation as described in the wiki: https://github.com/NuGet/Home/issues/5307

That said, we will continue to use this i

[2017-05-31 18:37] maartenba commented on #5307
While I see the value for this being exclusive to NuGet.org, I would like to see this expand. For example for a company with a private feed, they may want to mark their own packages as being verified, so their developers know they are using the packages approved and built by the company. This is especially handy when multiple feeds are used: how do I know where a package comes from if “all” source

[2017-05-31 19:07] #5289 closed, assigned to mishra14

[2017-05-31 19:11] dtivel opened #5308 "Plugin: log when plugin is being used"
Feedback received during plugin demo:

NuGet.exe should report that a plugin is being used for a package source.

[2017-05-31 19:15] nilsandrey commented on #5307
About proxying...the verification can be reflected as from the "verification source" or "verified on source <source1>".

[2017-05-31 19:26] dtivel commented on #5308
The point that NuGet knows a plugin claims package download responsibilities for a package source is in PluginResourceProvider and resource providers do not have a logger in context.  Additionally, if we are to log this event once per install/restore operation, it's dependent on #5274.

[2017-05-31 19:43] asbjornu commented on #5307
I would like to echo @maartenba's concerns and underscore this:

I find it very troubling that today a package can be hijacked and in effect overridden by a rogue one simply by being named the same and having a higher version number, even though it might be coming from a completely different feed than the one it was originally installed from.

Instead of reserving package prefixes on just NuGet.or

[2017-05-31 19:47] diverdan92 commented on #5307
I recognize and agree with the feedback presented so far. I think we can broaden this to be a publicly documented server protocol so additional feed administrators can opt in to this experience. That said, it may not come immediately, but it is certainly something we'll keep in mind as we develop so we don't end up in a situation where it is hard to do this.

Regarding proxying across feeds - that

[2017-05-31 19:48] mikenap commented on #3131
This worked for me.  Installed an older version:

Install-Package Newtonsoft.Json -Version 9.0.1

Oh, didn't see twobob's comment!

[2017-05-31 19:50] asbjornu commented on #5307
@diverdan92:

My point exactly. Being able to cryptographically identify and verify the owner, author and perhaps even origin feed of a package is something that should be in the power of the NuGet client application. But it doesn't seem like you're interested in tackling this with cryptography (yet) at all.

[2017-05-31 19:55] diverdan92 commented on #5307
@asbjornu - I understand these comments. This is good feedback. You are correct in that we are not looking directly at package signing yet. We'll certainly keep this specific feedback in mind as we approach [package singing ](https://github.com/NuGet/Home/issues/2577) in the longer term.

[2017-05-31 20:06] panopticoncentral commented on #5300
@emgarten What would be the fix for an install that has this problem? I just did a build-to-build upgrade and it started happening.

[2017-05-31 20:10] tannergooding commented on #5300
Same here

[2017-05-31 20:15] shishirx34 commented on #2707
Fixed.

[2017-05-31 20:15] #2707 closed, assigned to shishirx34, rrelyea

[2017-05-31 20:32] dsplaisted opened #5309 "NuGet restore does not return failure if there is an error from a project"
Run `dotnet restore` on the following project:

[code]

## Expected

The restore command returns a non-zero exit code, indicating there was a failure

## Actual

The restore command returns a zero exit code, indicating success.  Output is as follows:

## Comments

This is because the `RestoreContinueOnError` property [defaults to `WarnAndContinue`](https://github.com/NuGet/NuGet.Client/blob/12331b

[2017-05-31 20:35] dsplaisted commented on #4634
Related to this, generating an error in a target that runs before `_GenerateRestoreProjectSpec` doesn't actually cause the restore operation to fail.  I've filed #5309 for this.

[2017-05-31 22:04] #5167 closed, assigned to kzu

[2017-05-31 22:09] kzu commented on #4188
Fix on its way :)

[2017-05-31 22:26] emgarten commented on #5309
This has been fixed in the restore noop work, it will go into dev this week.

[2017-05-31 22:44] emgarten commented on #5300
Search for NuGet.targets in your visual studio installation. Copy the folder it was installed at to ``C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\CommonExtensions\Microsoft\NuGet\``

[2017-05-31 22:44] AArnott opened #5310 ""msbuild /t:restore" target missing in 15.3 Preview"
This has been broken for over a week. It seems the most basic restore operation is broken.

[code]

Produces this result:

Repros on:
d15rel 26530.1
d15prerel 26530.4

This does not repro on 15.2 or early builds of 15.3.

`dotnet restore` works where `MSBuild /t:restore` does not, BTW.

[2017-05-31 23:02] emgarten commented on #5310
Thanks for the build info! I'll try reproing this.

Duping this in favor of https://github.com/NuGet/Home/issues/5300

[2017-05-31 23:02] #5310 closed, assigned to nobody

[2017-05-31 23:04] emgarten commented on #5300
@nkolev92 who is looking into this.

[2017-05-31 23:12] livarcocc opened #5311 "dotnet restore ignores user-wide config"
_From @matkoch on May 31, 2017 23:8_

## Steps to reproduce

- Project with dependencies located on a different source (not nuget)
- Call `dotnet restore XXX.csproj --configfile customfile.config`

## Expected  behavior

- Passed configfile (custom source) and user-wide config `$HOME/.nuget/NuGet/NuGet.config` (default nuget source) should be used to restore packages

## Actual behavior

- All dep

[2017-05-31 23:17] srivatsn opened #5312 "Project package settings aren't persisted when specified in source"
_From @terrajobst on April 22, 2017 2:16_

I've [helped a customer](https://github.com/Tornhoof/RoaringBitmap/pull/6) fix an issue after they migrated their `project.json` project to the new `.csproj` system.

### Actual Behavior

The result looks like this:

* The project has an old-school `AssemblyInfo.cs` with assembly level attributes.
* The project is configured to not generate the assembly i

[2017-05-31 23:17] srivatsn commented on #5312
We are supposed to persist changes to the assembly attributes if generateassemblyinfo is false.

[2017-05-31 23:17] srivatsn commented on #5312
_From @terrajobst on May 4, 2017 18:16_

Sure, but that fix by itself doesn't address the issue that these values aren't used by `pack` to produce the NuGet package, right?

[2017-05-31 23:17] srivatsn commented on #5312
_From @davkean on May 4, 2017 23:32_

@terrajobst Agreed.

[2017-05-31 23:17] srivatsn commented on #5312
I confirmed that changing values in the package prop page updates assemblyinfo.cs - However as @terrajobst points out pack doesn't use those values. I forget how this was supposed to work, when this was originally discussed at https://github.com/dotnet/sdk/issues/2. I'll move the discussion to NuGet.

[2017-05-31 23:18] srivatsn commented on #5312
@rohit21agrawal is pack supposed to work using the info in assemblyinfo.cs?

[2017-05-31 23:19] rohit21agrawal commented on #5312
no, we only use msbuild variables and targets to collect any values.

[2017-05-31 23:23] terrajobst commented on #5312
@srivatsn, wouldn't the right fix be to raise the values from the assemblyinfo.cs file when (1) the generation is suppressed and (2) the file exists? It seems to me that we don't want all build participants having to know that either mode is possible.

[2017-05-31 23:29] srivatsn commented on #5312
That sounds reasonable but it feels a little bizarre to be parsing cs files in a task. @davkean @nguerrera do you remember if this came up in the original discussion?

[2017-05-31 23:29] emgarten commented on #5311
When using ``--configfile`` only that config file is used, it is **not** added to the current configs.

[2017-05-31 23:33] matkoch commented on #5311
But according to https://github.com/dotnet/cli/issues/2154#issuecomment-204793753 I thought the machine-wide config is picked up? Or is `$HOME/.nuget/NuGet/NuGet.config` something different?

[2017-05-31 23:52] matkoch commented on #5311
It is very much unexpected if the global config was not considered during restore. I would understand if you would introduce a parameter like `--no-global-config` or something, to prevent loading in special circumstances. But in this case, what's the use of a global nuget.config?!

[2017-05-31 23:57] nkolev92 opened #5313 "RestoreSummaryRequest does not need to have the settings"
The summary request only uses the settings to print the sources...so we can just pass down the sources

[2017-06-01 00:02] emgarten commented on #5311
The global nuget.config is that it is always applied **unless** you specify an exact nuget.config to use, then **only** that nuget.config file will be used.

[2017-06-01 00:06] matkoch commented on #5311
Well, but in this case it doesn't correctly resolve the solution nuget config. My folder structure is as follows:

[code]

In previous nuget versions, I could add `-SolutionDirectory /source` to make the config file being picked up when restoring `build.csproj`.

Note that it's totally legitimate that a project is not contained in the same subtree as the solution file.

[2017-06-01 00:40] emgarten commented on #5311
Move ``NuGet.config`` to the source directory instead of ``.nuget``

``dotnet.exe`` differs from the legacy NuGet behavior which used the ``.nuget`` folder and worked only on solutions.

[2017-06-01 00:42] matkoch commented on #5311
I assume you mean `/build` ?

[2017-06-01 01:00] ferventcoder commented on #2577
And by this if you mean PGP/GPG signing, you are likely on the right track here. Asking someone to purchase an authenticode certificate to sign a package is going to be a non-starter.

**Update:**

GPG and Authenticode both do the same thing. What's great about GPG/PGP is that it is achieved with no cost and it builds on what other package managers have been using for many years.  Authenticode is

[2017-06-01 01:11] clairernovotny commented on #2577
@ferventcoder I very much disagree here. It should not be NuGet's job to validate identity. Authenticode does two things: verify a publisher's identity and ensure integrity of the package. Both are important. A package may be used outside of NuGet.org (think private feeds, MyGet, etc) and there has to be a standard way of attaching an identity to a package. CA's already have that trust path and ha

[2017-06-01 01:14] ferventcoder commented on #5260
I've thought about this quite a bit over the last 5 or so years and I'm firmly in the camp of PGP/GPG signing being the path forward - it's what other package managers already use, it has a trusted infrastructure, and it's completely free. Authenticode has a cost for real use, and unless Microsoft is going to issue free certificates and keep a local store for traceability and identity for signing

[2017-06-01 02:31] #5305 closed, assigned to jainaashish

[2017-06-01 02:34] kzu opened #5314 "Add compatibility with IncludeSymbols in SDK Pack"
SDK Pack uses `$(IncludeSymbols)` whereas NuGetizer has the more explicit `$(IncludeSymbolsInPackage)` property. Default the latter to the value of the former if present for compatibility.

See https://github.com/NuGet/Home/issues/4142#issuecomment-298680149 for some related discussion

[2017-06-01 02:40] kzu commented on #4142
If you install the NuGetizer package (`install-package nuget.build.packaging`) you should get this for free as a drop-in replacement. (NOTE: this should work for VS2017 15.2+)

I [just added support](https://github.com/NuGet/NuGet.Build.Packaging/pull/128/commits/6781d8652078f938bfde78318a911a6827314e6a) for `$(IncludeSymbols)` for compatibility (right now you need to set the more explicit `$(Incl

[2017-06-01 03:01] emgarten commented on #5311
You're right, in this case it would need to be in ``/build`` or ideally above both folders.

[2017-06-01 03:06] emgarten commented on #5313
@mishra14 was looking at the updating the result also to use the dgspec instead. It sounds like these two are related.

[2017-06-01 03:45] livarcocc opened #5315 "The "PackTask" task failed unexpectedly with System.IO.DirectoryNotFoundException"
_From @Alxandr on June 1, 2017 1:53_

## Steps to reproduce
I have not been able to figure out what exactly is causing this problem. It happens in my repository https://github.com/YoloDev/Fable.Ava most of the time when I try to publish locally (as opposed to on CI). I run `dotnet pack`, and I get the following exception:

[code]

## Expected  behavior
The project should package without problem an

[2017-06-01 03:56] tetj commented on #1138
1 year later, same bug again but this time with VS2015 ... come on guys !

[2017-06-01 04:06] ferventcoder commented on #2577
Hi @onovotny - I updated my response above. I don't think we disagree at all, in fact I think we agree with each other. PGP/GPG and Authenticode do very much the same thing in this situation.

[2017-06-01 04:14] nkolev92 commented on #5313
I was going to just plumb down a list of sources, nothing more. Maybe there is WnE related work that warrants more?

[2017-06-01 08:03] pimboden opened #5316 "Nuget pack can't find dependencies if solution not above project"
Hello
I am using nuget version 4.1.0
I cant create a nuget package if the solution is not stored hierarchically higher than the project, and the projetc uses other nugets

My company has a weird file structure.
The solutions  are stored in a folder  "/solutions"
the projects are stored in  folders like "/libs", "/Web","/services" at the same level as the "/solutions" folder.

For example if I have

[2017-06-01 11:18] GanesanRengasamy opened #5317 "Xamarin.Forms NuGet package not installed in Xamarin UWP project"
I am using the Xamarin.Forms NuGet package as dependent with version 2.3.3.180  for my custom package. I have created the new Xamarin project. By default the Xamarin.Forms package is available in the project with version 2.0.0.6482
![image](https://cloud.githubusercontent.com/assets/16695209/26677289/e9590d88-46e8-11e7-9f75-1b64a55bdbf3.png)

Now I have tried to install my custom package in the pr

[2017-06-01 11:33] bencyoung commented on #3131
Note we are having this error even though we are using an older version of Newtonsoft. We are using the .NET NuGet.Core package version 2.12 to download packages manually, and even though we're asking for a specific version, it's loading the latest during scanning and then failing to open it...

The callstack looks like

Note we're just calling  FindPackages(IPackageRepository repository, String p

[2017-06-01 11:59] ABajpaiAmphora commented on #3252
Install nuget package manager for Visual studio 2013 from below link:
https://www.visualstudiogallery.msdn.microsoft.com/4ec1526c-4a8c-4a84-b702-b21a8f5293ca

and restart the Visual Studio 2013.

For me this worked.

[2017-06-01 12:24] bencyoung opened #5318 "NuGet code API"
Is there any news on documentation for the NuGet API? The docs just point to Dave Glick's blog which is coming up to a year old...

We have a NuGet host exe that adds some additional functionality, but it's currently stuck on the 2.12 client libraries and it's starting to break as people release .NET Core and netstandard libraries that it then doesn't understand (see the below)

We'd like to upgra

[2017-06-01 12:38] kzu opened #5319 "Improve compatibility with SDK Pack by using %(Pack) metadata"
NuGetizer relies on a `%(IncludeInPackage)` metadata item on ProjectReference, Content and None items in order to determine if they should be processed while packing.

This represents an unnecessary migration burden on authors. We should unify on `%(Pack)` since it's shorter and explicit enough since it's item metadata and not a global property.

We should do this renaming in a backwards compatibl

[2017-06-01 12:39] #5319 closed, assigned to kzu

[2017-06-01 12:46] ygeelen-tb commented on #4953
@alpaix @emgarten @dnfclas @joelverhagen Anyone?

[2017-06-01 13:00] harrimaatta commented on #3131
I fixed this issue in VS2013 with two steps:
1) Run command Install-Package Newtonsoft.Json -Version 9.0.1
2) Run command Update-Package Newtonsoft.Json
For some reason this fixed the issue.

(In Jenkins project I have to deselect the button "Delete workspace before build starts". Newtonsoft stuff from SCM messed things up.)

[2017-06-01 13:38] Timmitry commented on #4488
I'd also like to know about possible workarounds or solutions for Visual Studio 2015. It's really bad to have exceptions at runtime because of Nuget-DLLs not found in the output path...

[2017-06-01 14:32] bencyoung commented on #5318
Note we're calling  NuGet.PackageRepositoryExtensions.FindPackages(IPackageRepository repository, String packageId, IVersionSpec versionSpec, Boolean allowPrereleaseVersions, Boolean allowUnlisted) which has a version spec that excludes the netstandard package which causes the issues, but then it ends up scanning them all anyway...

[2017-06-01 14:51] peterichens commented on #5318
Documentation would be very helpful for me too.

[2017-06-01 15:28] Vertigo093i commented on #4809
I suppose the problem is that NuGet uses MSBuild from Build Tools rather than any full VS edition. As the former doesn't have .NET Core SDK bundled within it.
As explained in https://github.com/NuGet/Home/issues/4280#issuecomment-272600602 the required property is not set.
Also tracked here: Microsoft/msbuild#1697.

[2017-06-01 15:47] nkolev92 commented on #5300
This has been addressed in the latest dev builds.
It should be fixed with our next insertion in the next day or two.
I will update here once we know that.

[2017-06-01 15:47] #5300 closed, assigned to nkolev92

[2017-06-01 15:49] alpaix commented on #4953
@ygeelen-tb Thanks for reporting this issue. It's been added to our backlog. We'll consider resolving it in upcoming releases.

[2017-06-01 16:11] alpaix commented on #4485
@rrelyea Not for preview 3?

[2017-06-01 17:01] clairernovotny opened #5320 "Package.config project fails to restore if parent directory has directory.build.props with packageref"
In VS 2017, I have a solution with SDK style projects and an MVC 4.6 project with `packages.config`. If I add a `directory.build.props` file to the parent directory that contains a packageref, restore is incorrect in the mvc/packages.config project.

I would not expect `directory.build.props` to apply to non-SDK project types.

This happens with 15.2 and 15.3 preview 1

[2017-06-01 17:06] clairernovotny commented on #5320
Here's a repro https://github.com/onovotny/NuGetRestoreRepro

[2017-06-01 18:26] anangaur commented on #5192
Added the [spec](https://github.com/NuGet/Home/wiki/Enable-.NET-Core-2.0-projects-to-work-with-.NET-Framework-4.6.1-compatible-packages) to the issue description

[2017-06-01 18:56] nkolev92 opened #5321 "VS Settings should include RestoreSources, RestoreAdditionalProjectSources & RestoreAdditionalProjectFallbackFolders"
https://github.com/NuGet/Home/wiki/%5BSpec%5D-NuGet-settings-in-MSBuild

These properties take precedence over what the user sees in the UI.
We need to think about this and change the UI accordingly.

//cc
@emgarten

[2017-06-01 19:00] adayIvey commented on #4797
i am still having this issues in the latest preview and released versions

I have included a test NuGet package.

* you will need to set your DB connection in the install.ps1 file
* just click ok on the dialog the opens during install you do not need to fill in the textboxs

[ADtestPackage.txt](https://github.com/NuGet/Home/files/1045873/ADtestPackage.txt)

* rename from .txt to .zip i was not abl

[2017-06-01 19:07] alpaix opened #5322 "V2 feed parser doesn't have retry mechanism"
V2 feed parser is vulnerable to intermittent network issues. It should get resilient to connectivity problems by getting a retry mechanism implemented similar to or based on existing one added earlier for V3 feed.

This issue results in functional tests flakiness due to slow ecosystem servers.

Typical call stack looks like following:
[code]

[2017-06-01 19:11] alpaix opened #5323 "Install-Package doesn't restore parent projects"
Install-Package doesn't restore parent projects with transitive dependencies.
Detected while investigating the E2E test failures:
  `BuildIntegratedParentProjectIsRestoredAfterInstallWithClassLibInTree`
  ` BuildIntegratedTransitiveProjectJsonRestores`

[2017-06-01 21:13] element533 commented on #2746
@rrelyea, it does not appear that NuGet.exe respects the DependencyVersion config setting in NuGet.config at all, even when specifying an individual package with the `-Id` parameter. The `nuget update` command seems to always use 'Highest'.

I have this in my `.\nuget.config` file:

    <?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <config>
        <add key="DependencyVersion" v

[2017-06-01 21:55] pvandervelde opened #5324 "PathTooLongException for nuget.exe install -excludeversion"
Using the nuget command line executable, version 4.1.0.2450 on Win 10 (v1607 - 14393.1198)

## Repro steps

1. Trying to install our internal package called `Vista.DevInfrastructure.Tools.Pipeline.Actions.Infrastructure` at version `0.3.0-infrastructurebuilds` to the packages directory at `C:\vcs\tfs\vista\devinfrastructure\Template-Resource.Linux.Ubuntu.Server\packages`. Using the following comma

[2017-06-01 23:10] #5323 closed, assigned to alpaix

[2017-06-01 23:15] dsplaisted opened #5325 "During restore, generate an error if .NET 4.6.1 support for .NET Standard 2.0 is required but not installed"
Support for .NET Standard 2.0 in .NET Framework 4.6.1 is going to ship for VS 2015 as a separate MSI.  During NuGet restore, if a project depends on any .NET Standard 2.0 assets, then NuGet should check to see whether the .NET Standard 2.0 support is installed, and if not, generate an error.

This is a piece of the work required for dotnet/sdk#1267, which tracks the overall work.

[2017-06-01 23:16] davkean commented on #5300
@nkolev92 What was the underlying cause or point me the fix for my own education?

[2017-06-01 23:30] nkolev92 commented on #5300
@davkean It was a bug within NuGet's build infrastructure that led to the Installer thinking NuGet needs to be installed in a wrong location.

Don't know how interesting/useful it is but here's the brief on it.
Within our build we create 2 slightly different VSIXs (literally the only functional difference being the install directory), each with it's own manifest.

When inserting in VS we used the

[2017-06-01 23:30] emgarten commented on #4809
NuGet.exe should bring it's own targets needed for reading projects, but it is possible that the project relies on something else from the SDK that isn't being loaded by MSBuild.

[2017-06-01 23:31] davkean commented on #5300
👍

[2017-06-02 01:47] davkean opened #5326 "Getting duplicate restore warnings"
Looks like in "Version 15.3.0 Preview 3.0 [26530.4.d15prerel]" we're seeing restore warnings both via design-time builds *and* via NuGet itself:

[code]

[2017-06-02 03:21] emgarten commented on #5326
The changes to turn off errors and warnings from NuGet hasn't gone in yet. It should be in the next insertion.

[2017-06-02 05:38] shafatahmad commented on #2880
Can somebody help me with this issue? I am not using any kind of proxy and I have a brand new install of VS 2017 ..

[code]

[2017-06-02 09:31] FransBouma commented on #5307
As I've expressed elsewhere before: everyone should be able to get a verified prefix. It's now still looking like a popularity contest, where popular packages get a 'verified' checkmark and us mortals can forget about that because our package is simply not that popular (as in: millions of users but still very much vital to our users!).

Being verified simply means 'it's from the author claiming to

[2017-06-02 09:31] #5192 closed, assigned to emgarten

[2017-06-02 09:31] #5268 closed, assigned to emgarten

[2017-06-02 12:21] blowdart commented on #5294
That's odd. It shouldn't IMO. I'll chase this up.

[2017-06-02 13:21] durandt commented on #1909
Hi,

I've been experiencing the same problem for about a couple of weeks.

It often takes around 30-40seconds. It does sometimes (rarely) take less than a couple of seconds.

I'm using VS2015 and NuGet 3.5.0

I have unchecked and then removed all of my custom config sources. I have even tried to install packages from the local disk instead of NuGet.

My _custom_ NuGet package sources are:

My _Mac

[2017-06-02 13:40] durandt commented on #1909
I've just realized I could use the Verbose option of Install-Package:

`PM> Install-Package Microsoft.Owin.Security.OpenIdConnect -Source Home -Verbose`

Where _Home_ is the name of my local repository.

See the attached log file for the output of the Verbose command.

Install-Package is performing many calls toward nuget.org and I'm wondering if this is what is supposed to happen.

[nuget.log.txt

[2017-06-02 14:14] kzu opened #5327 "Add support for Linked files as PackageFile"
In the IDE it's trivial to add linked files so they end up in specified locations.

Make it easy to add linked files by automatically using the `%(Link)` metadata if present
on items that don't already have a `%(TargetPath)` assigned.

With the addition of `PackageFile` as an available item name/build action, supporting
linked package files would be quite nice.

[2017-06-02 14:33] #5327 closed, assigned to kzu

[2017-06-02 15:34] isaacrlevin commented on #4190
This issue still exists with Dot Net Standard 2.0. Is there any update on this issue? I want to be able to use EF Core in a CL targeting standard 2.0 and this stops this from being possible

[2017-06-02 15:53] codeimpossible commented on #5219
#### tl;dr - just uncompress and recompress your packages (or manually create them in the first place) if you are on a *nix system until this issue is figured out

Update from some more testing that @lshearer and I did today:

It looks like the pack command is not producing a proper zip file on OSX and some linux distros (amazon linux being the other environment we've seen this on). We ran the rep

[2017-06-02 16:15] techmike2kx commented on #5294
thanks sir :-)!

[2017-06-02 17:05] dtivel opened #5328 "Plugin: task cancellation results in plugin termination"
The simplest repro is for NuGet to send a request and then cancel the request without sending a cancellation request as it currently does not do today.  There are two possible outcomes:

1.  The plugin, which is still processing the request, receives the cancellation request and terminates it.
2.  The plugin, which will have completed the request (in success or error) and have the response in flig

[2017-06-02 18:56] lshearer commented on #5219
I've [dockerized the repro](https://github.com/lshearer/NuGetPushFailRepro/tree/fails-docker-repro-and-workaround#running-in-docker) and workaround and added the [output from the workaround test runs](https://github.com/lshearer/NuGetPushFailRepro/blob/fails-docker-repro-and-workaround/DockerTestResults.md).

Note that the workaround—extracting the package contents and then re-archiving them—does

[2017-06-02 20:02] #5328 closed, assigned to dtivel

[2017-06-02 20:06] dtivel opened #5329 "Plugins: log exception that terminates plugin"
Due to current NuGet logging design it is infeasible from most plugin contexts to properly log an event using a `ILogger` instance.  Some of the issue are:

* an `ILogger` instance is not available in a resource provider context
* when an `ILogger` instance is passed as an argument (say, in resource methods) it would be inappropriate to cache that instance and assume that it is the correct logger

[2017-06-02 20:09] zarenner opened #5330 "Emit X-NuGet-Session-Id header to correlate across requests [feature proposal]"
As someone who supports a NuGet repository service, using server logs to correlate multiple HTTP requests from a single invocation of NuGet.exe is extremely difficult today. Being able to do so would be extremely useful for customer support as well as usage metrics.

I propose that NuGet.exe emits a header X-NUGET-SESSION on all requests, which contains a GUID unique per invocation of nuget.exe

I

[2017-06-02 20:41] #4188 closed, assigned to kzu

[2017-06-02 21:37] jainaashish commented on #4436
Fixed with PR# https://github.com/NuGet/NuGet.Client/pull/1435

[2017-06-02 21:37] #4436 closed, assigned to jainaashish

[2017-06-02 22:29] tkrick commented on #4394
No, that is not reasonable behavior IMO. I don't think we can agree on that. That is silent autoupgrade. Better to get clear response saying that the version you were consuming got retired (by the package owner or by retention policies), so that you can either 1. reach out to owner to ask them to undo the delete if your consumption scenario is important enough and you cannot immediately upgrade ch

[2017-06-02 23:22] #5181 closed, assigned to nkolev92

[2017-06-02 23:44] dtivel opened #5331 "Flaky plugin test"
A plugin unit test intermittently fails:

[code]

[2017-06-02 23:50] emgarten opened #5332 "Add support for RestoreAdditionalProjectFallbackFolders and RestoreAdditionalProjectSources"
These properties should add sources and fallback folders to the evaluated set already read from nuget.config and other settings.

* RestoreAdditionalProjectFallbackFolders
* RestoreAdditionalProjectSources

https://github.com/NuGet/Home/wiki/%5BSpec%5D-NuGet-settings-in-MSBuild

[2017-06-03 01:15] #5331 closed, assigned to dtivel

[2017-06-03 01:48] emgarten commented on #5330
What is the scope of session, for example would a session last as long as Visual Studio is open, or would it be per operation?

[2017-06-03 02:46] kzu commented on #5300
Workaround: add this to a `Directory.Build.targets` at the root:

[code]

[2017-06-03 05:11] #5314 closed, assigned to kzu

[2017-06-03 06:11] davidfowl commented on #4394
Sorry but I have to pick on this. If you are deleting packages constantly in your CI/CD workflows how would older commits ever be buildable? Like I said, this could be made an error by default in nuget but it happens so rarely because people just don't delete older packages they care about that often, at least, not in my experience with nuget. If failure is your goal then specify an exact version

[2017-06-03 06:36] #5332 closed, assigned to emgarten

[2017-06-03 16:57] nkolev92 commented on #5300
Almost forgot to update this.
@davkean @kzu
Thursday's d15rel (26601) and Friday evening's  (26602) d15prerel builds already have these fixes.

[2017-06-03 19:50] dend opened #5333 "Installing Microsoft.Azure.Graphs through NuGet API package results in an exception"
I am using the NuGet API package in my own project to pull NuGet packages from the v3 feed. Everything works fine, with the exception of one package - [Microsoft.Azure.Graphs](https://www.nuget.org/packages/Microsoft.Azure.Graphs/).

When I install the package in a test console app in Visual Studio, there are no issues.

![packagedep](https://cloud.githubusercontent.com/assets/1389609/26756589/d7a

[2017-06-04 00:01] lordofscripts opened #5334 "NuGet not deploying on ASP.NET Core web application"
I have created NuGet packages before but this was my first NuGet targetting an ASP.NET Core web application.

My NuSpec hierarchy looks like this:

     Content\
          Views\
               Shared\
                   _Partial1.cshtml.pp
                   _Partial2.cshtml.pp
          wwwroot\
                css\
          Models\
                Bootstrap\
                    Model1.cs.pp

[2017-06-04 11:37] fschmied opened #5335 "NuGet in Visual Studio 2017 doesn't add any binding redirects with SDK-style csproj format"
## Details about Problem
NuGet product used: VS UI
NuGet version: NuGet Package Manager 4.1.0 (integrated in VS 15.1)
dotnet.exe --version: doesn't apply
VS version: 15.1 (26403.3)
OS version:  Windows 10 1607 (14393.1198)
Worked before? If so, with which NuGet version: Works in same version with old-style csproj format

## Detailed repro steps so we can see the same problem
1. Add the following S

[2017-06-04 11:39] fschmied commented on #5335
@rrelyea This might be related to #3372, though it's SDK-style csproj rather than project.json.

[2017-06-05 02:15] emgarten commented on #5334
@lordofscripts NETCore SDK projects do not support the legacy `content/` folder, the `contentFiles/` folder is used instead.

Take a look at http://blog.nuget.org/20160126/nuget-contentFiles-demystified.html

[2017-06-05 02:47] emgarten opened #5336 "nuget.exe update does not remove targets from projects on mono"
nuget.exe finds targets based on the path to the targets file. On mono paths may contain forward slashes which causes the match to fail.

To fix this both paths should be converted to use `/` and then checked.

This only applies to nuget.exe

[2017-06-05 03:43] emgarten opened #5337 "WarningsAsErrors should cause restore to fail"
WarningsAsErrors converts warnings to errors correctly, but it does not cause the restore result to be marked as a failure.

Steps
1. Set WarningsAsErrors=true in a NETCore SDK project
1. Restore
1. Check the success result in the cache file

MSBuild appears to count this as a failure since an error was logged, but in VS the restore completes successfully.

[2017-06-05 05:17] #5336 closed, assigned to emgarten

[2017-06-05 05:51] AndyTian-Devops commented on #5301
@jainaashish This issue still repro on latest dev build 2614 since your fix didn't check in to dev branch.

[2017-06-05 07:07] AndreyAkinshin opened #5338 "A question about RestoreCommand.VerifyCompatibility"
When I call restore via `DependencyGraphRestoreUtility.RestoreAsync`, it always does package compatibility verifying which takes a lot of time (even when I know that everything is fine). Is it possible to manually disable all the checks or at least cache the check results somehow?

[2017-06-05 07:33] AndreyAkinshin opened #5339 "Advanced RestoreSummary"
It would be nice to provide additional diagnostics information in `NuGet.Commands.RestoreSummary`:
* List of installed packages (`result.GetAllInstalled()` instead of `result.GetAllInstalled().Count`)
* A bool flag which indicates that there are any changes in `project.assets.json`

[2017-06-05 10:14] jjanuszkiewicz opened #5340 "Make the "Package source" filter in Manage Packages for Solution work in Installed and Consolidate tabs"
I've originally reported this as a bug on [Developer Community](https://developercommunity.visualstudio.com/content/problem/47258/package-source-filter-in-manage-packages-for-solut.html), but that got closed as "works as designed", so I'm proposing this as a new feature here.

I'd like the "Package source" filter (dropdown) in the Manage Packages for Solution window work in Installed and Consolida

[2017-06-05 11:07] VictorBlomberg commented on #5307
I share concerns with @FransBouma, even those with few packages and few consumers should be able to reserve a prefix. As of now, developing software in the open before one is ready to push a package is a significant risk. While the language in the spec is quite ambiguous in this regard, it does indeed sound like it's focusing primarily "VIP" packages.

Especially point 4 and 6 under "Criteria for

[2017-06-05 15:57] kraigb commented on #2107
@alpaix I've completed an overhaul of the reference, see https://docs.microsoft.com/en-us/nuget/tools/powershell-reference, which has the different commands broken out into individual topics.

I didn't go quite so far as to match the references you point. First, I see the open sentences on those references pages and the description sections redundant, so the description is simply at the top. Secon

[2017-06-05 16:15] lordofscripts commented on #5334
@emgarten tried that just now and the package analysis fails because it says the transforms will not be done because they must be in the CONTENT folder and not in contentFiles.

[2017-06-05 16:51] DanRigby opened #5341 "NuGet thinks PCL Profile 44 & 151 projects are incompatible with Xamarin projects when using PackageReference"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
**VS UI**

NuGet version (x.x.x.xxx):
**4.2.0**

dotnet.exe --version (if appropriate):
**N/A**

VS version (if appropriate):
**15.2 (26430.12)**

OS version (i.e. win10 v1607 (14393.321)):
**win10 v1703 (15063.332)**

Worked before? If so, with which NuGet version:
**Yes, still works when usin

[2017-06-05 17:04] zarenner commented on #5330
I think per operation would make more sense, although @jmyersmsft is much more familiar with the codebase than I and mentioned to me that might be difficult today given the code structure. Also, even agreeing on operations may be difficult (e.g. is upgrading a package in multiple projects a single operation? how about multiple packages? multiple searches for a package? etc...)

To be quite honest,

[2017-06-05 17:51] d-arkhipenko commented on #2880
Hi all, if you use Ubuntu server, this error fixed by install : https://www.howtoinstall.co/en/ubuntu/xenial/libcurl3

[2017-06-05 17:55] emgarten opened #5342 "Extra noWarn properties in assets file"
Additional noWarn properties are showing up in the assets file that aren't in the project file.

[code]

[code]

[code]

[2017-06-05 18:04] kichalla commented on #4424
Has this been fixed, I am using the following version of CLI and I am still able to reproduce it.

**dotnet --info**:
![image](https://cloud.githubusercontent.com/assets/6559784/26796370/24a1fa24-49de-11e7-9440-d97c81e88b4e.png)

**Repro steps**:
- mkdir testconsole
- cd testconsole
- Add a `NuGet.config` with the following content:
[code]
- dotnet new console
- Open the testconsole.csproj file an

[2017-06-05 18:06] emgarten opened #5343 "Replay warnings and errors when a noop occurs"
Warnings and errors from the assets file should be replayed when a noop occurs.

This will help avoid user confusion and the impression that warnings are just happening randomly.

[2017-06-05 18:08] #5337 closed, assigned to nobody

[2017-06-05 18:17] emgarten commented on #5334
In NETCore SDK projects there is only a restore operation, it doesn't have install/uninstall operations like packages.config projects had, and there is no state tracking for this that is checked into source control. For this reason ``contentFiles`` only supports immutable content that does not change the project, and transforms are not used.

To run custom actions you can use a targets file in the

[2017-06-05 18:32] livarcocc opened #5344 "presence of sdk 1.0.4 breaks existing 1.0.0-preview2-003121 projects"
_From @kentatcap on June 5, 2017 16:52_

If SDK 1.0.4 (possibly even 1.0.3) exists in c:\program files\dotnet\sdk, restore packages and build in VS 2015 IDE will fail, but command line dotnet restore/dotnet build will work; error below.

C:\Program Files\dotnet\dotnet.exe restore "<solution path>\.vs\restore.dg"
<solution path>\.vs\restore.dg(1,1): error MSB4025: The project file could not be load

[2017-06-05 19:05] emgarten commented on #5339
@nkolev92 is it possible to tell from the RestoreSummary when a noop happens with your recent changes?

[2017-06-05 19:07] emgarten commented on #5339
@AndreyAkinshin would you share a bit more about your scenario and how you using this info?

More diagnostic info on the result would be helpful, we need some of this within NuGet also since only the restore knows the full graph and what happened, after it is written out as an assets file much of this is lost.

[2017-06-05 19:26] #5329 closed, assigned to dtivel

[2017-06-05 19:28] emgarten commented on #5338
Runtime asset validation can be turned off. There isn't a way to turn off framework compatibility checks yet, but restore should make this an option that can be turned off in the project.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/RestoreCommand/CompatibilityChecker.cs#L29

Are you sure the compat check is the slow down? Care to share any perf numbers?

[2017-06-05 19:35] AndreyAkinshin commented on #5339
I'm working on NuGet support in Rider. We have to detect changes in our project model (which can me affected by changes in `project.assets.json` files) and reload the corresponded projects. Reloading takes some time, so we want to reload only projects which really has project model changes. Right now we read the content of `project.assets.json` files before and after restore; it would be nice if w

[2017-06-05 19:42] #5075 closed, assigned to nobody

[2017-06-05 19:49] AndreyAkinshin commented on #5338
Cool, thanks for the info about `CompatibilityChecker.cs`.

Right now it takes about 4..8 sec on a medium size solution to perform `RestoreAsync` for cases when we didn't make any changes. I want to do it instantly. =)

I will make a few snapshots tomorrow and share with you the detailed statistics.

[2017-06-05 19:50] kzu opened #5345 "Dependencies cannot be made framework agnostic"
The following explicit dependency:

[code]

Ends up as a framework-specific dependency, even if the primary output kind is not-framework specific, or even if it's updated to specify `FrameworkSpecific='false'`

[2017-06-05 19:51] Bartmax opened #5346 "Question: Is there a story for Hight DPI icons? I am safe to use them?"
Is it safe to add a 128 or 256 icon on the package icon setting to account for the nuget website display and ui for high dpi monitors?

I tried and looks likes there are no real *issue* but before moving into mainstream packages I want to ask if there's a story around or any unintended sideeffects for including a bigger dimension as the spec.

Thanks.

[2017-06-05 19:53] davidfowl commented on #5345
That's probably a good thing. Why does it matter?

[2017-06-05 19:53] kzu commented on #5345
Because you can totally create dependencies that apply to all TFs :)

[2017-06-05 20:01] #5345 closed, assigned to kzu

[2017-06-05 20:02] mstum commented on #5346
Hijacking this to ask if Vectors (Safe subset of SVG?) are on some roadmap?

[2017-06-05 20:22] emgarten commented on #5339
VS does this by checking the file modified time. Restore checks if the assets file is about to write out is the same as the one on disk and skips updating it to avoid changing the time.

[2017-06-05 20:25] emgarten commented on #5338
NuGet 4.3.0 will persist a cache file to disk and no-op if there haven't been any changes. You should be able to use this also through RestoreAsync.

Here is the spec https://github.com/NuGet/Home/wiki/NuGet-Restore-No-Op

[2017-06-05 20:26] nkolev92 commented on #5339
@emgarten
Github crashed when i wrote the earlier reply so I guess it didn't post.

I do have a flag in the RestoreResult that specifies No-Op.
There's some more work I want done in that area, but so far there's only a bool there.

[2017-06-05 20:29] AndreyAkinshin commented on #5339
@emgarten

Good to know, thanks. But still, it would be more convenient to have an API for such list instead of additional checks.

[2017-06-05 20:33] AndreyAkinshin commented on #5339
@nkolev92,

Awesome, that's what I need! However, it wasn't obvious to me. =) I'm not sure that there are a lot of users who use this API manually, but probably it makes sense to add a few xml-docs which explain it.

[2017-06-05 20:34] AndreyAkinshin commented on #5338
@emgarten,

Is it already available in 4.3.0-beta1-2418?

[2017-06-05 20:37] emgarten commented on #5338
No, these packages haven't been published to nuget.org yet, and they probably will not be until preview3 for Visual Studio goes out. For reference preview2 still hasn't gone out.

Nightly build packages are on https://dotnet.myget.org/gallery/nuget-build
4.3.0-preview3-4133  and up would have these changes.

[2017-06-05 20:39] AndreyAkinshin commented on #5338
Thanks, will try it.

[2017-06-05 20:42] nkolev92 commented on #5339
@AndreyAkinshin

We have a spec written for the no-op behavior, however it hasn't been updated with the latest design changes from the last few weeks.

I will update the spec today or tomorrow and ping you here with the latest info.
Keep in mind that this feature is being validated currently and might still change though.

[2017-06-05 20:44] AndreyAkinshin commented on #5339
Great, thanks again for your help!

[2017-06-05 21:13] alpaix commented on #4797
@aday12345 Will you be able to file a feedback issue via Report-a-problem tool in Visual Studio 2017 at the top-right corner? It'd be great if you could record steps using this tool.

[2017-06-05 21:43] dasMulli commented on #5335
If this is a test project, that should be fixed by https://github.com/Microsoft/vstest/pull/642.

The reason is that binding redirects are generated automatically during build for all "executable" projects. But since a full framework test project is a library, no binding redirects are generated. The `Microsoft.NET.Test.Sdk` >= `15.3.*` set [the right properties](https://github.com/Microsoft/vstest

[2017-06-05 23:04] williamb1024 opened #5347 "NuGet/NuGet.Build.Packaging#128 causes command line build to fail."
NuGet/NuGet.Build.Packaging#128 causes command line build to fail.

Target "_SetPropertiesFromCapabilities" in NuGet.Build.Packaging.targets uses the "ProjectReferences" capabilitiy to determine "_GetReferencePackageContentsDependsOn" additions. The "ProjectReferences" capability is only set during a build within Visual Studio.

This leads to BuildPackage complaining that it will build a package t

[2017-06-05 23:10] nkolev92 commented on #5346
@anangaur Can you please help here.

[2017-06-05 23:21] kichalla commented on #4424
cc @muratg

[2017-06-05 23:32] diverdan92 commented on #5307
I recognize the concerns and appreciate you providing this feedback. Our intention is to not make this a popularity contest. @FransBouma - which part of the spec is most concerning to you regarding this specific point? I'm happy to discuss specific points in the document that may concern you.

@VictorBlomberg - not all criteria needs to be met for an accepted application. Some of the criteria (suc

[2017-06-06 00:04] gabrielmartini opened #5348 "Invoke must be called on a background thread"
Sometimes it works but almost everytime I'm getting error "Invoke must be called on a background thread." when using Package Manager Console to use migrations, other commands are affected too. After this error I can't run other commands at Package manager console

Package Manager Console
V4.2.0.2457

VS 15.2 (26430.12) Enterprise

Windows 10 1703 15063.332

Steps to reproduce:

1.Open VS2017

2.Op

[2017-06-06 00:14] #5342 closed, assigned to mishra14

[2017-06-06 00:16] alpaix commented on #5348
@gabrielmartini Thank you for reporting this issue. Will you be able to file a feedback ticket via the Report-a-Problem tool in Visual Studio 2017 at the top-right corner. The tool allows recording repro steps along with attaching screenshots or any other helpful files.

[2017-06-06 00:20] alpaix opened #5349 "Blend hangs when opening existing UWP project"
As reported by @debonte:

1. Create blank C# UWP project in either VS or Blend.
2. Wait for designer to start <-- not sure how important this is.
3. Close VS/Blend
4. Reopen project in Blend.
Expected: Designer starts successfully
Actual: Deadlock

[2017-06-06 00:33] jamiegs commented on #5267
I've also been seeing this behavior.. I tried doing a push with the same nuget package from a windows computer and it worked. so it seems to be an issue with the linux+mac implementation.

Update: I was seeing the issue in our build pipeline, to work around the issue I've switched to using nodeJS to push to nuget. https://www.npmjs.com/package/nuget-push   Not ideal, but we haven't had any problem

[2017-06-06 00:37] gabrielmartini commented on #5348
Done.
https://developercommunity.visualstudio.com/content/problem/65296/invoke-must-be-called-on-a-background-thread.html

Thanks! :)

[2017-06-06 01:10] muratg commented on #4424
@emgarten @rrelyea @anangaur @eerhardt

Guys, was this fixed in Preview2? Please see above @kichalla's report that this is still repro'ing.

[2017-06-06 02:40] davkean opened #5350 "Error message around "Unable to find project information" should be a little more specific inside VS"
I opened a solution that I'd previously unloaded a project, and it stated the following about that project:

[code]

This should be more specific to the actual problem, ie "the project is unloaded".

[2017-06-06 04:07] emgarten commented on #5350
Good suggestion, this message should be improved for VS scenarios.

@davkean do you have any suggestions on what the ideal behavior should be for restore in VS when a project is unloaded? Should this still be an error, a warning, or ignored? How can the experience be improved for this common scenario?

[2017-06-06 06:24] AndyTian-Devops commented on #5301
@jainaashish @rrelyea this issue still repro on latest dev build 2622.

**Create UWP project:**
![uwp](https://cloud.githubusercontent.com/assets/12235523/26816217/1ee51aea-4ac3-11e7-9be4-03059b6422e5.png)

**Create Web application:**
![webapplication](https://cloud.githubusercontent.com/assets/12235523/26816283/71120da0-4ac3-11e7-9a69-285e9b5c996f.png)

**Create Xamarin application:**
![xamarin](

[2017-06-06 06:28] fschmied commented on #5335
@dasMulli You're right, thanks - referencing the Microsoft.NET.Test.Sdk 15.3.0-preview-20170601-03 NuGet package made the problem go away. I also found https://stackoverflow.com/a/42806831/62838, which provides a different workaround (manually adding the corresponding build properties).

[2017-06-06 06:37] #5335 closed, assigned to nobody

[2017-06-06 09:10] FransBouma commented on #5307
@diverdan92 Especially point 4 and this:

and

This is too vague. It sounds like it's up to a committee whether a prefix is registered or not and you have convince them (that number of individuals you don't know) that you are the owner of the prefix. I get that if you just let everyone register whatever the heck they want, you get a run to every possible prefix you can think of like we have had to

[2017-06-06 09:12] michaelkollmann commented on #5071
Hi!

I just downloaded and installed the latest NuGetizer Visual Studio Extension for VS2017 and also created a NuGet project, just like @adaoust did.

The latest version of the project template shipped with the extension already contains the three properties @kzu mentioned but it still doesn't compile.

@adaoust has been able to build the project locally but not on TFS. I don't have a TFS but I'm

[2017-06-06 09:20] mgravell commented on #5307
To compound what @FransBouma  says; prefix based identification may have severe issues when a library is commonly extended by 3rd parties. For example, if I search "dapper", 289 packages come up - many of which start with "dapper". Only 2 or 3 of those are "owned" by the dapper folks. Yes, I realize that "dapper" wouldn't necessarily be a good prefix - in your head substitute that for "Some.Librar

[2017-06-06 09:27] GanesanRengasamy opened #5351 "How to use IgnoreDependencies option from MAC machine"
I have used the Xamarin.Forms NuGet package as a dependent NuGet package for my custom NuGet package. I need to ignore this dependent package in some situation in my Xamarin application. I have used the IgnoreDependecies option to achieve this in Windows machine. But, Package installation failed while using the IgnoreDependencies option in MAC machines.

Is there any option to ignore the dependenc

[2017-06-06 09:58] emgarten opened #5352 "Command line parameters containg relative paths are resolved against the project file"
Restore resolves relative paths passed from the command line against project file paths, these should instead be resolved against the current working directory.

[2017-06-06 10:29] niemyjski commented on #982
Bare minimum it should be in the docs that the targets and props file name has to match the package id.. http://sushihangover.github.io/nuget-and-msbuild-targets/

[2017-06-06 10:36] emgarten commented on #982
The build folder conventions are documented here:
https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package#including-msbuild-props-and-targets-in-a-package

[2017-06-06 12:13] mess285 commented on #4488
@Portikus  same for me looks like they fix it.

[2017-06-06 12:15] AndreyAkinshin commented on #3324
Any updates? It's a critical issue for us because we still have to use NuGet 2.x for some features; it's impossible to migrate to NuGet 4.x because of the lack of the long file name support.

[2017-06-06 12:19] AndreyAkinshin commented on #5338
@emgarten Why the latest version of https://dotnet.myget.org/feed/nuget-build/package/nuget/NuGet.Protocol.Core.Types is `4.3.0-beta2-2463` instead of `4.3.0-preview3-4133`

[2017-06-06 12:24] AndreyAkinshin commented on #4529
Any updates on this? It looks like a bug because UWP support doesn't work in Rider without the following dirty hack:
[code]
I will be happy to make a PR if you confirm that it's ok to add the `SharedFramework` declaration.

[2017-06-06 12:28] derigel23 commented on #5338
And the latest version of [NuGet.Client](https://dotnet.myget.org/feed/nuget-build/package/nuget/NuGet.Client) is `4.3.0-preview1-3937`

[2017-06-06 13:46] clairernovotny commented on #4488
@Portikus @mess285 Using 15.2, with a regular project referencing the CPS ones, it's not working for me without `<RestoreProjectStyle>PackageReference</RestoreProjectStyle>` being set. Is that what you are referring to?

[2017-06-06 15:47] 41northstudios commented on #5348
I am having the exact same issue.

Package Manager Console 4.2.0.2457

VS 2017 Enterprise 15.2 (26430.6)

EDIT: Confirmed that starting VS as admin allowed me to run the commands with no issues. I then was able to close VS and re-open as the non-admin user and the commands are still working.

Will update if I get more info...

[2017-06-06 16:17] karann-msft commented on #4440
@mishra14 we don't add the reference to the project file when a new package installed using the PMUI or PMC?

[2017-06-06 16:51] mlorbetske commented on #3058
Is there an equivalent to `--ignore-failed-sources` for restoring packages in VS? I know individual feeds can be selected in the package management UI, but looking for a more global option.

[2017-06-06 17:13] mythz opened #5353 "Can't upload packages using NuGet owner's API Key"
I'm getting a 409 Error Response when trying to upload NuGet packages from the command-line using my `mythz` API Key.

NuGet Version: 3.4.4.1321

This is the .bat script I used to upgrade:

[code]

This is the error response from the command-line:

[code]

What's different about these packages is that they're the only ones that aren't "dual-owned" by both **servicestack** and **mythz** accounts wh

[2017-06-06 17:37] diverdan92 commented on #5307
Thank you @FransBouma and @mgravell. I really appreciate your investment in making sure we make the right choices here. I love this feedback and hope you keep it coming.

In an ideal world, the entire identity of the package has some consistency. The author, owner, name, and ID should all have coherent properties that make sense *together*. This would give package consumers confidence that they ar

[2017-06-06 17:46] gabrielmartini commented on #5348
Yeah, sometimes it works as admin, but it's not a fix as for myself the problem disappears (not always) after some time, I mean, after I turn on Windows and wait for, lets say half one our, and the problem is gone, magically.

But it not behave this way everytime.

Try rebooting your machine... other day I did this and the problem reappeared, and sometimes rebooting fix the issue.

[2017-06-06 17:54] mishra14 commented on #4440
@karann-msft : not inside VS. In VS we rely on the underlying project systems to do that. We will try to find a bug that we have filed to track external work.

cc: @jainaashish

[2017-06-06 17:57] jainaashish commented on #4440
There's already an internal bug# 394388 assigned to Project system to fix it. They moved it out of 15.1 to 15.3 so @karann-msft you can check with @tmeschter if they've any plan to fix it in this milestone.

[2017-06-06 18:05] emgarten commented on #3058
@mlorbetske not currently, but that sounds like a useful option to add in VS.

[2017-06-06 18:12] #5349 closed, assigned to alpaix

[2017-06-06 18:12] emgarten commented on #5338
@derigel23 preview1 is the latest version used by Visual Studio, but you can find higher versions of NuGet n the *nuget-build* feed.

[2017-06-06 18:27] dtivel opened #5354 "Crash: NULL_POINTER_READ_c0000005_csproj.dll!CMSBuildLogger::RegisterLogger"
The issue, as described by Tom Meschter:

"NuGet.PackageManagement.VisualStudio.dll is calling IVsProjectBuildSystem.EndBatchEdit on a background thread, which is wrong. This doesn't get enforced until we call CVxModule::GetIVsShell() which checks the thread, and returns null. We then attempt to dereference the null and crash."

The internal bug is 150355.

[2017-06-06 18:27] dtivel commented on #5354
Resolved by NuGet/NuGet.Client#1463.

[2017-06-06 18:27] #5354 closed, assigned to dtivel

[2017-06-06 19:15] derigel23 commented on #5338
@emgarten Yes, the link I've provided is from nuget-build feed on myget

nuget sources
Registered Sources:

  1.  dotnetV3 [Enabled]
      **https://dotnet.myget.org/F/nuget-build/api/v3/index.json**

nuget list id:"NuGet.Client" -pre
NuGet.Client **4.3.0-preview1-3937**

[2017-06-06 19:23] jeni4 commented on #5348
I am having the same issue; however, rebooting nor running as admin has not helped my situation yet.  Following.

[2017-06-06 19:26] emgarten commented on #5338
NuGet.Client was removed in Preview3. Try NuGet.Versioning

[2017-06-06 19:46] derigel23 commented on #5338
@emgarten @AndreyAkinshin And, as I can see by sources, NuGet.Protocol.Core.Types is also dropped in preview3. Big shuffle of packages, right?

[2017-06-06 19:54] emgarten commented on #5338
NuGet.Protocol.Core.Types and NuGet.Packaging.Core.Types are gone, they've been merged into other packages. 4.3.0 is the first release built with NETCore SDK projects and some long overdue clean up work was done when migrating from xproj.

[2017-06-06 20:01] kzu commented on #5071
Please provide a full diagnostics build log so I can investigate.

Thanks!

Important: you need to be on VS2017 Preview in order for NuGetizer to work property.

[2017-06-06 21:43] JoyceLiang opened #5355 "Nominations for auto restore don't come in for multi-tfm projects"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS NuGet Package Manager

NuGet version (x.x.x.xxx): 4.3.0

dotnet.exe --version (if appropriate): 2.0.0-preview1-005977

VS version (if appropriate): 15.3 Preview 3.0 [26604.2.d15prerel]

OS version (i.e. win10 v1607 (14393.321)): Win 10 Pro

Worked before? If so, with which NuGet version: N/A

[2017-06-06 22:32] matkoch commented on #5311
It does solve the restore issue, however, putting it:
- next to the csproj file, won't include the source in VisualStudio PackageManager.
- into the first common parent feels like a hack/unclean, because the solution file is somewhere else.

So either the `-solutionDirectory` switch should be re-introduced, or VisualStudio should finally support project-related nuget.configs.

[2017-06-06 22:43] emgarten commented on #5311
I agree, the differences here are painful. NuGet is stuck between the old packages.config behavior and the old xproj behavior which didn't use solution files cross platform.

One option could be to specify settings as msbuild project properties or through a props file that all projects include.

[2017-06-06 23:39] emgarten commented on #5355
There is an issue in some 15.3 preview3 builds where projects with multiple frameworks are not auto restored. Does this work when using ``TargetFramework`` singular?

[2017-06-07 00:13] emgarten commented on #5353
Issue moved to [NuGet/NuGetGallery #4069](https://github.com/NuGet/NuGetGallery/issues/4069) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-07 00:13] #5353 closed, assigned to nobody

[2017-06-07 01:32] Petermarcu commented on #4337
looks like this just bit us in our Final Preview 2 build. When do we plan to have this addressed?

[2017-06-07 03:02] mconnew commented on #5139
FYI, this has broken OmniSharp usage in vscode when using the latest .Net Core SDK. OmniSharp calls into the assembly Microsoft.NET.Build.Tasks.dll from the SDK which compiled against the older nuget assemblies (which are included with the SDK). OmniSharp also has copies of the nuget assemblies as it directly references types in them and was compiled against the newer assemblies. Microsoft.NET.Bui

[2017-06-07 04:13] lcshan commented on #5348
same here,I got 3 machines, 2 of them are working fine, but they got other versions of VS as well like 2015 and 2013.
the one with problem is a brand new one and just vs 2017, and reboot or admin doesnt really help

[2017-06-07 05:08] #5301 closed, assigned to jainaashish

[2017-06-07 06:04] GanesanRengasamy commented on #5351
Please suggest the solution to use the IgnoreDependencies in Xamarin studio mac.

[2017-06-07 06:24] michaelkollmann commented on #5071
Thanks for your quick reply!

So VS2017, Version 15.2 (26430.6) is not supported, only the latest Preview release?
Where is this defined? Couldn't find any details information about this, only that it requires VS2017.

Here you can find the build log:
[diagnosticsbuildlog.txt](https://github.com/NuGet/Home/files/1057060/diagnosticsbuildlog.txt)

[2017-06-07 09:07] GanesanRengasamy commented on #5317
Could you please check this and suggest the solution asap?

[2017-06-07 12:33] lauteala commented on #4290
I have the same exact problem with System.IO.Compression with NuGet.Build.Tasks.Pack **4.3.0-preview1-4045**!
--> No NuGets :/

[2017-06-07 14:44] ChipRadon commented on #4945
Run into the same problem, seems there is no way to update core projects with latest packages outside visual studio, kinda blocker for us.

[2017-06-07 14:45] FransBouma commented on #5307
@diverdan92

But a registered prefix is also only for nuget.org. You can't enforce registration of a prefix across everyone who has a nuget feed up. E.g. myget.org can serve a package with a package id prefix which is registered on nuget, but not on myget.

Identity starts with a single source of truth. It looks like you haven't established that, so everything else you do falls apart. After all, i

[2017-06-07 14:48] diverdan92 commented on #5307
@FransBouma

[Edit - hit the wrong button, heh]

Just as registered prefixes are feed specific, so are registered owners. That problem persists regardless of how we choose to tackle this. In the longer term when we evaluate package signatures, we can consider additional measures for multi-feed security.

The VS tooling has additional challenges as it needs to work for more than just nuget.org. Yes

[2017-06-07 14:53] maartenba commented on #5307
Ok so then what happens if I have two feeds registered, with both System. packages on them. How does the UI distinguish? Is all coming from dotnet.myget.org verified or not? ...?

If the idea is to just ensure someone else can't register a Microsoft.* package on NuGet, then cool feature, but if the idea is to display verifiedness of a package in the client, then see all above comments :-)

[2017-06-07 14:55] diverdan92 commented on #5307
@maartenba - we may scope this to when the nuget.org feed is selected in the UI. We are still looking at multi-feed scenarios. We will keep the server protocol feed agnostic, but we still have decisions to make regarding the nuget.org client UI.

One could make an argument that by adding third party feeds as NuGet sources, the user is putting inherent trust in those feeds and shouldn't need additi

[2017-06-07 15:00] kzu opened #5356 "Building packages fails under 15.3 preview"
It seems like the updated versions of NuGet included in 15.3 are causing
the versions we're building against to not align properly and cause failures.

The same consuming project succeeds under 15.2, of course.

[2017-06-07 15:01] maartenba commented on #5307
Also thought of another one. How will other clients display this info? Thinking VS, VS Code, Xamarin/VS for Mac, Paket, Rider, ...

The more you look into all cases where this touches if treated as a trust mechanism, the more complex things get. Perhaps it should just be a reservation + error message on NuGet.org when pushing into a namespace that is not owned. A verified icon doesn't verify a thi

[2017-06-07 15:12] FransBouma commented on #5307
@diverdan92

So it has, in short, no value, sorry. If I pull packages from nuget to host locally and set up a feed there so developers can pull packages from that curated local feed, no verification is taking place, no value is added by this system.

No offense, but nuget.org is the backbone of the .net core initiative. 'limited resources' is an internal Microsoft problem, not a problem for the us

[2017-06-07 16:03] mellena1 opened #5357 ""Access is Denied" Using Spinnaker/Packer When Adding a Source"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 4.1.0.2450

OS version (i.e. win10 v1607 (14393.321)): Windows 2012 R2

Worked before? If so, with which NuGet version: Nope, I'm new to NuGet.

## Detailed repro steps so we can see the same problem

1. Spinnaker uses Packer to build an AMI to use with Ama

[2017-06-07 16:13] dagood commented on #5139
This is also currently breaking build infrastructure in the .NET Core CLI repository.

The "Microsoft.DotNet.VersionTools" package uses `PackageReaderBase.GetIdentity()` to extract package IDs from a nupkg file, and it's built using an old version of NuGet. The CLI repository does need to upgrade to new NuGet versions regularly. Currently the fix would be to upgrade and recompile VersionTools, but

[2017-06-07 16:21] livarcocc opened #5358 "dotnet restore Unable to load the service index for source https://api.nuget.org/v3/index.json"
_From @Xarkam on June 7, 2017 7:25_

## Steps to reproduce
Clone https://github.com/ExtCore/ExtCore-Sample-Modular-Ui-Adv

## Expected  behavior
Restore package

## Actual behavior
[code]

## Environment data
`dotnet --info` output:
[code]

If I use nuget cli for restore, I don't have any problem.
[code]

_Copied from original issue: dotnet/cli#6783_

[2017-06-07 16:24] livarcocc opened #5359 ""dotnet restore" from SLN dir doesn't trigger associated proj targets"
_From @somewhatabstract on June 7, 2017 6:6_

## Steps to reproduce
1. Create a solution with a project in a subfolder
1. Edit project (csproj) to have a custom build target that depends on the `Restore` target (either before or after target is fine). Something simple like executing an obvious command should be fine as long as the results are visible in the console.
1. Verify that `dotnet restore`

[2017-06-07 16:38] JoyceLiang commented on #5355
Yes, target to singular framework works fine.
So the multiple frameworks is a known issue, which release will take the fix?

[2017-06-07 16:43] nguerrera opened #5360 "It is not possible to pack multiple projects into one NuGet package"
_From @quarion on May 29, 2017 13:34_

## Steps to reproduce

Using VS 2017 and new .csproj format

1. Create CommonLib.csproj project, it should not be published as NuGet package.
2. Create ProjectA.csproj project, it should be published as NuGet package.
3. Add project reference from ProjectA to CommonLib.
4. Pack the ProjectA (with Visual Studio or CLI).

## Expected  behavior

ProjectA.nupkg i

[2017-06-07 16:43] nguerrera commented on #5360
_From @Patrickkk on June 2, 2017 7:48_

While it would probably be nice to have (especially for legacy stuff).
Isn't it a bit strange that there are 2 projects when it is distributed as 1 package? Unless there are some external factors into play forcing you to separate shouldn't  it simply be 1 project since it is distributed as 1 package?

[2017-06-07 16:43] nguerrera commented on #5360
_From @quarion on June 2, 2017 8:42_

Yes, that is definitely possible to just merge the two projects together, and this is a workaround that I will use.

But I would imagine, that there might be some valid scenarios similar to this one:

CommonLib.csproj <- this provide no value on its own, so it should not be published.
ProjectA.csproj <- Published as NuGet. Refers CommonLib, so it would need to

[2017-06-07 16:43] diverdan92 commented on #5307
@FransBouma - will you give me 30 minutes of your time to talk over Skype about these points? You bring up some valid concerns and I'd like to dive a little deeper into each of them. I think we'll be more productive with an opportunity go back and forth over the phone. If you're interested, please email me at dajaco@microsoft.com to setup a time that works best for you.

[2017-06-07 16:52] nguerrera opened #5361 "dotnet restore is slow for projects with many non-build files"
_From @masaeedu on June 6, 2017 4:10_

## Steps to reproduce
 - Create a class library project
 - Inside the project folder, add a directory containing a large number of plain text files
 - Add these files under a `None` build action in the csproj like so:

[code]
 - Run `dotnet restore`

## Expected  behavior
Restore takes the same amount of time as for the same project without the non-build file

[2017-06-07 17:19] kzu commented on #5071
Well, it depends, really. The *authoring* project (.nuproj) requires 15.3 to properly open and use (CPS issues prevented that from properly working in prior versions, where it would fallback to adding a packages.config and nothing working at all).

Building packages using the `/t:pack` target requires 15.3 for SDK-style projects, unless you workaround the issue in previous versions by passing a `/

[2017-06-07 17:28] lshearer commented on #5219
As it turns out, the recompressing workaround only worked for some packages. The root cause _appears_ to be deeper in the Mac/Linux implementations (or underlying native libraries) of some .NET Core libraries, particularly around sending of the HTTP PUT request. We didn't pinpoint the exact problem, but subtle variations in the package contents appear to result in the request not completing (the t

[2017-06-07 17:59] mellena1 commented on #5357
Found out that it is something to do with the encryption Class not being able to access the keys folder, so I've decided to use -StorePasswordAsPlainText as a stop gap.

[2017-06-07 19:16] nkolev92 opened #5362 "Tool No-Op Restore"
Tool no-op restore is currently not implemented.

Most of the work is done, validation is required. Currently in dev-nkolev92-noop branch.

[2017-06-07 19:17] #5248 closed, assigned to nkolev92

[2017-06-07 19:18] #5183 closed, assigned to nkolev92

[2017-06-07 19:18] #5182 closed, assigned to nkolev92

[2017-06-07 19:42] rohit21agrawal commented on #4290
@lauteala @AArnott i have a fix out for this, but since i don't have a repro on my end, would you guys be willing to test private bits to see if the problem goes away for you? let me know and i will set you guys up.

[2017-06-07 19:52] emgarten commented on #5361
@nguerrera @rainersigwald is there a way to disable creating these items in a way that will not affect imports or properties?

I'm not sure what restore could do to improve this, the target mentioned is where restore evaluates the project.

[2017-06-07 19:56] bbehling commented on #3131
I cannot even uninstall Newtonsoft.JSON through the command line. I ended opening my project in VS `15 and changing the Newtonsoft version there.

Can't wait till the day when VS is only using NPM.

[2017-06-07 20:44] rainersigwald commented on #5361
In general, MSBuild can't know which items are relevant to the targets that have been requested (and their dynamically-discovered transitive closure), so there's no way to avoid fully expanding the wildcard.

NuGet could potentially set a global property for the project walk like `$(NuGetWalkingReferencesOnly)` and the SDK/end users could then condition their globbed includes on it. But that would

[2017-06-07 20:57] AArnott commented on #4290
Sure

[2017-06-07 21:00] nguerrera commented on #5361
Possibly related to https://github.com/Microsoft/msbuild/issues/2000

[2017-06-07 21:02] darthscsi commented on #1630
+1 for dealing with many packages.  I have 100 packages and if a timeout happens, I can no longer use wildcards to upload the remaining.  I have to try each one individually or generate a list of uploaded packages and exclude them from my set.

[2017-06-07 21:44] emgarten commented on #5361
I'm going to close this in favor of https://github.com/Microsoft/msbuild/issues/2000

@masaeedu restore needs to evaluate the project files in order to read project and package references, the way the project is written here these items get loaded as a by product of that. You can workaround this by using conditions and passing additional properties when restoring if needed.

[2017-06-07 21:44] #5361 closed, assigned to nobody

[2017-06-07 21:48] rohit21agrawal commented on #4290
@AArnott have sent you a mail.

[2017-06-07 22:24] masaeedu commented on #5361
@emgarten Could you give me an example of what I would need to do to `<None Include="data/**/*" />` so that these files still get copied to output but do not affect restore times?

[2017-06-07 22:53] rainersigwald commented on #5361
@emgarten the include that @masaeedu is showing wouldn't be affected by Microsoft/msbuild#2000; there's no Remove.

[2017-06-07 23:00] emgarten commented on #5361
[code]

Restore with:
[code]

[2017-06-07 23:06] mikek65 commented on #1823
Is this feature ever going to make it in?

[2017-06-07 23:10] SalehBagheri commented on #2177
I update this package to version 1.0.4! but the error message still shown

https://www.nuget.org/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform/1.0.4

[2017-06-07 23:13] rmustard opened #5363 "nuget restore warning with large number of projects with large paths"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet.exe

NuGet version (x.x.x.xxx):
4.1.0.2450

dotnet.exe --version (if appropriate):
n/a

VS version (if appropriate):
Visual Studio 2015 (VS14)

OS version (i.e. win10 v1607 (14393.321)):
win10 v1607 (14393.1198)

Worked before? If so, with which NuGet version:
3.5

## Detailed repro steps

[2017-06-08 00:19] emgarten commented on #5363
NuGet.exe passes all project paths on the command line to msbuild.exe, it looks like your solution is exceeding the windows limit for this.

The fix would be to write out a targets file containing all the information and then call msbuild.exe on just the targets files which would do the rest.

The work around for this is to use `msbuild.exe /t:restore` on the solution instead of nuget.exe

[2017-06-08 00:25] emgarten commented on #4928
Dupe of https://github.com/NuGet/Home/issues/4634

[2017-06-08 00:25] #4928 closed, assigned to nobody

[2017-06-08 00:26] emgarten commented on #5359
Dupe of https://github.com/NuGet/Home/issues/4634

[2017-06-08 00:26] #5359 closed, assigned to nobody

[2017-06-08 00:57] emgarten commented on #5139
@dagood where is the conflicting version coming from, is this conflicting simply with the CLI or MSBuild having a copy of NuGet?

[2017-06-08 01:35] mishra14 opened #5364 "dev14 E2E failures for Install Package Scenarios"
Currently these 4 E2E tests are failing on dev14 machine. They seem to be passing on dev15.

 InstallPackageIntoJSAppOnWin81AcceptWinmdFile
 InstallPackageIntoJSAppOnWin81UseTheCorrectFxFolder
 InstallPackageIntoJSWindowsPhoneAppOnWin81UseTheCorrectFxFolder
 InstallPackageThrowsIfThereIsNoCompatibleContentFiles

Ref- http://nugetci/viewLog.html?buildId=100255&tab=buildResultsDiv&buildTypeId=EndToE

[2017-06-08 01:39] mishra14 opened #5365 "dev15 E2E failures for Init script execution scenarios"
Currently on dev15 E2E the following test seems to be failing across multiple runs -

NetCoreWebAppExecuteInitScriptsOnlyOnce

Ref- http://nugetci/viewLog.html?buildId=100251&tab=buildResultsDiv&buildTypeId=EndToEndTests_Vs15EndToEndTests

[2017-06-08 03:14] emgarten commented on #5363
Dupe of https://github.com/NuGet/Home/issues/4931

[2017-06-08 03:14] #5363 closed, assigned to nobody

[2017-06-08 03:21] mido3ds commented on #1774
I am willing to work on this issue

and wants to ask some questions, if you don't mind

considering issue number:
(3) what is confusing exactly? it seems clear to me

(6) setApiKey doesn't seem to miss any words, it's complete. But we could add comma ',' after "provided" to clarify what will be saved

I think it should be "When no URL is provided`,` API key is saved for the NuGet gallery."

(7) Co

[2017-06-08 05:09] tofutim commented on #4125
How does PrivateAssets get set? I need this to be in GitVersionTask and Fody/PropertyChanged which currently get brought in by 'pack' in VS2017. Can I do it from my end or do I need to get the nuspecs for GitVersionTask and Fody/PropertyChanged to be changed?

I just tried changing my csproj to add "PrivateAssets" per https://github.com/NuGet/Home/wiki/PackageReference-Specification

[code]

but P

[2017-06-08 09:19] asbjornu commented on #2577
@onovotny: Perhaps Authenticode is a solution. I've never heard about it before and the first relevant hit I found on Google was [this archived article about Authenticode and DirectX in Internet Explorer](https://msdn.microsoft.com/en-us/library/cc750035.aspx) which makes me want to tear my eyes out. Anyway, I do think we all agree on the overall architecture, although we might disagree on the exa

[2017-06-08 09:39] PehDeh opened #5366 "Package Manager Console doesn not work with Powershell 5 (2 is not installed)"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Package Manager Console

NuGet version (x.x.x.xxx): 4 (came with VS2017)

dotnet.exe --version (if appropriate): 1.0.4

VS version (if appropriate): 2017 Professional

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can

[2017-06-08 10:36] thessalianpine commented on #5316
I'm running into the same issue trying to get a solution to build/pack on our CI server. I'm using nuget 4.1.0.2450. The folder layout for our solution is also somewhat unusual with the .sln in the top-level directory and several projects located in various subfolders.

Example
[code]
etc.

Each of the individual projects has one or more nuget packages it depends on. All packages are stored in the

[2017-06-08 11:52] kzu opened #5367 "Allow packages to contribute to cross-targeting build"
With the increasing usefulness of cross targeting, comes the usefulness to extend it too
via nuget packages.

At the moment, in cross targeting scenarios, nuget restore will simply create an import for
props/targets under the package's `build` folder, conditioned to the values in TargetFrameworks
and nothing more. This means that nuget packages cannot participate in the `outer` build.

How about i

[2017-06-08 12:44] bartoszkp opened #5368 "NullReferenceException when trying to create a simple package"
I'm using NuGet.exe Version: 4.3.0.0 (I've tested also previous version: 4.1 and 3.5 - the same problem exists) on Windows 8.

All I want is to have a csproj file to define some properties shared between the nuspec file and the Targets file, that is the main content of my package. This however fails with a NRE. MVCE follows (with irrelevant parts such as the mentioned properties, the Targets file

[2017-06-08 13:09] rmustard commented on #5363
thanks for the info.
looks like msbuild.exe /t:restore requires MSBuild 15.1
https://docs.microsoft.com/en-us/nuget/schema/msbuild-targets

[2017-06-08 13:47] kzu opened #5369 "ResolveNuGetPackageAssets does not preserve PrivateAssets metadata"
When resolving references from nuget packages, the resulting items look like:

[code]

For a package reference like:

[code]

After `ResolveAssemblyReference`, such a dependency looks like:

[code]

This makes it virtually impossible to determine from those resolved references which ones are from a nuget package as private assets and which ones aren't private assets.

[2017-06-08 14:35] dazinator commented on #4337
I'm stuck on this issue. I am not using VersionSuffix, I am using `msbuild My.sln /t:Pack /p:Version="1.0.0-alpha"` and GitVersion.Task to calculate the version. I have already created an issue but think it's probably related: https://github.com/dotnet/sdk/issues/1320

[2017-06-08 15:01] nguerrera opened #5370 "Application targeting net462 imports library targeting net451 instead of library targeting netstandard2.0"
_From @caleblloyd on June 8, 2017 1:24_

## Steps to reproduce
1. Build a class library with target frameworks:
[code]
2. Build an application that imports the class library with target frameworks:
[code]
3. Run `dotnet restore`

## Expected  behavior

- App `net46` should import library `net451`
- App `net462` should import library `netstandard2.0`
- App `netcoreapp1.1.2` should import library `n

[2017-06-08 15:01] nguerrera commented on #5370
I believe this is by design in terms of precedence. Same target framework identifier is considered "nearer" than compatible identifier.

[2017-06-08 15:04] nguerrera opened #5371 "/t:Pack /p:Version not handling dependency versions"
_From @dazinator on June 8, 2017 14:8_

Given a solution with two projects, "Foo.csproj" with a project reference to "Bar.csproj"

When doing an `msbuild My.sln /t:Pack /p:Version="1.0.0-alpha"`

Foo produces a nuget package version "1.0.0-alpha"
Bar produces a nuget package version "1.0.0-apha"

Inside the nuget package for `Foo` is a nuspec file, with `Bar` listed as a dependency (correct). The

[2017-06-08 15:16] nguerrera opened #5372 "msbuild /t:Restore on sln with a Microsoft.NET.Sdk.Web project."
_From @dazinator on June 7, 2017 14:1_

In my vs2017 solution, I have multiple csproj files, most of them use `Microsoft.NET.Sdk` but the web site uses `Microsoft.NET.Sdk.Web`.

When I do an `msbuild /t:Restore` on the solution file, only the projects consuming `Microsoft.NET.Sdk` are restored, the website project consuming `Microsoft.NET.Sdk.Web` appears to be ignored. There is no warning about t

[2017-06-08 15:18] nguerrera commented on #5367
This is already implemented and works exactly how you want. ;)

[2017-06-08 15:23] dazinator commented on #4337
Doing a `dotnet msbuild /t:Restore /p:Version<Version> /p:Configuration=Release` as per the comment above seems to have worked.. Hopefully this won't be necessary in the future?

[2017-06-08 15:28] lennoncork commented on #5119
I have a similar problem with a project using the new .csproj format. The project file sets the build output based on configuration. If I delete the output and build a "Debug" configuration from withing Visual Studio everything works. If I switch to a "Release" project I get missing assembly references and nuget restore says there isn't anything to do. I have to unload and reload the project to ki

[2017-06-08 17:59] emgarten commented on #5369
`PrivateAssets` allows NuGet to filter assets out when writing project.assets.json. For the project the asset either exists or it doesn't exist.

To add a new feature that persisted metadata from the nuspec all the way to the reference in msbuild would require NuGet to add this extra information into project.assets.json and the SDK build tasks (there are two currently) to read this information fro

[2017-06-08 18:12] emgarten commented on #5372
@dazinator I'm not able to repro this. Could you share a simple repro or repository where you are seeing this?

**Steps**
1. Create a NETCore Web API project in VS 2017 15.2
1. Add a netstandard class library
1. msbuild /t:restore <solution path>

Both projects are restored.

Does it work if you restore a web project directly? What output is displayed when restoring a web project directly?

[2017-06-08 18:23] emgarten commented on #5371
@dazinator you need to pass the same additional parameters to restore and build.

[code]

Pack reads version and dependency information from project.assets.json which is created by restore.

Going forward this will be fixed in dotnet CLI 2.0.0, pack will automatically call restore with the same properties.

[2017-06-08 18:23] dasMulli commented on #5119
Note that upcoming CLI 2.0.0-preview2 builds will do an implicit restore on run/build/publish/pack (https://github.com/dotnet/cli/pull/6762) so `dotnet build -c Release` will implicitly perform a restore for the desired configuration, so many of the issues here may already be mitigated in upcoming previews.

[2017-06-08 18:26] emgarten commented on #4931
The workaround for this is to use ``msbuild /t:restore``

[2017-06-08 18:34] emgarten commented on #5370
This is correct. Desktop frameworks win over non-desktop frameworks. NuGet tries to find the largest compatible API surface area.

[2017-06-08 18:36] bording commented on #5371
@emgarten What about the following scenario:
- Something like [GitVersion](https://github.com/GitTools/GitVersion) is used, which adds a target to dynamically determine version numbers during Build
- The projects are using `<GeneratePackageOnBuild>true</GeneratePackageOnBuild>`

Will the restore happen correctly between the build and the pack so that the newly updated version will correctly be pic

[2017-06-08 18:36] emgarten commented on #5367
As @nguerrera said 😄

[2017-06-08 18:42] emgarten commented on #5371
@bording no, dependency packages are not allowed to change the identity of the project being restored or it's dependencies since this would cause the 2nd restore to give different results than the first restore. GitVersioning is a common request, we're looking at ways for packages to plug in and contribute before restore to solve this.

https://github.com/NuGet/Home/issues/4790

[2017-06-08 18:42] mishra14 commented on #5360
ping: @emgarten  @rohit21agrawal

[2017-06-08 18:43] mishra14 commented on #5358
@emgarten

[2017-06-08 18:46] emgarten commented on #5358
@Xarkam is this reproing consistently for you?

Both dotnet restore and msbuild /t:restore run the same code. It is interesting that you see different results between them when making network calls.

[2017-06-08 18:49] mishra14 commented on #5351
Hey @GanesanRengasamy. What did you use while creating your custom NuGet package?

[2017-06-08 18:51] mishra14 commented on #5367
Closing as already implemented.

@kzu : Feel free to reopen this in case your scenario is not covered.

[2017-06-08 18:51] #5367 closed, assigned to nobody

[2017-06-08 18:52] bording commented on #5371
@emgarten Thanks, I'll follow that issue for additional progress. This is definitely an important scenario to support!

[2017-06-08 18:52] emgarten commented on #5309
Fixed with NuGet/NuGet.Client@76a7439c5f4180697e8ef284b42f158a7ff328e1

[2017-06-08 18:52] #5309 closed, assigned to emgarten

[2017-06-08 18:55] emgarten commented on #5284
This has been improved with NuGet/NuGet.Client@76a7439c5f4180697e8ef284b42f158a7ff328e1

The initial walk will continue to skip invalid projects, these will be reported at build time. Errors when reading package references and targets executing before and after restore will now be treated as errors.

[2017-06-08 18:55] #5284 closed, assigned to emgarten

[2017-06-08 18:55] emgarten commented on #5352
NuGet/NuGet.Client@c2e56d9d98d46a485dcb30e122641f3ef05c5f3a

[2017-06-08 18:55] #5352 closed, assigned to emgarten

[2017-06-08 18:56] emgarten commented on #5137
https://github.com/NuGet/NuGet.Client/commit/c48c17450e5f506ed0db1e1aab5c348550ce6e2f

[2017-06-08 18:56] #5137 closed, assigned to emgarten

[2017-06-08 18:56] #5051 closed, assigned to emgarten

[2017-06-08 18:57] #5050 closed, assigned to emgarten

[2017-06-08 18:58] rohit21agrawal commented on #5360
Closing as duplicate of : https://github.com/NuGet/Home/issues/3891

[2017-06-08 18:58] #5360 closed, assigned to nobody

[2017-06-08 19:00] rohit21agrawal commented on #5371
also, closing this as dupliacte of : https://github.com/NuGet/Home/issues/4337

[2017-06-08 19:00] #5371 closed, assigned to nobody

[2017-06-08 19:00] bording commented on #4790
I'd like to add my vote for this being an important scenario that needs to be supported without weird workarounds that function to various degrees.

It's a bit discouraging to see there's no one assigned and no milestone yet, which gives the impression that this is being ignored!

[2017-06-08 19:06] mishra14 commented on #5340
@jjanuszkiewicz: The Package Source drop down does filter the updates displayed for each installed package.

We will consider if it should filter the installed packages as well. Thanks for your request.

cc: // @rrelyea @emgarten

[2017-06-08 19:08] rrelyea commented on #5294
Today, it looks like NuGet client code in VS requires Powershell 2, 3, or 4 to be installed on the machine.
We are investigating.

[2017-06-08 19:13] anangaur opened #5373 "NuGet tries to repeatedly authenticate even when authentication fails or times out for one of the authentication feeds."
In a multi-feed environment, NuGet PM, restore pops up the authentication window everytime in following cases:
1. VPN not connected hence the feed is unreachable
2. The user does not have permissions to access the feed  (there is no feedback to user to understand this?)

[2017-06-08 19:14] anangaur commented on #4949
Adding one more to the list:
NuGet tries to repeatedly authenticate even when authentication fails or times out for one of the authentication feeds. https://github.com/NuGet/Home/issues/5373

[2017-06-08 19:46] Xarkam commented on #5358
@emgarten for the project in logs, yes every time.
I don't have any problems with visual studio 2017 on nuget restore packages.

But, I have not time for testing with another project before 5 days.

[2017-06-08 19:52] dasMulli commented on #4790
+1

Restoring with imported projects is dangerous as @emgarten mentioned in https://github.com/Microsoft/msbuild/issues/2080 because the 2nd restore may be affected by the first. Versions of project references should be able to flow to consuming projects on build/pack time.

[2017-06-08 19:54] rainersigwald opened #5374 "Setting the default value of Description property doesn't work well with GenerateAssemblyInfo task"
_From @tmat on June 8, 2017 19:48_

```NuGet.Build.Tasks.Pack.targets``` sets the default value of Description property to "Package Description":

[code]

If the project doesn't set Description this default value ends up in its AssemblyDescriptionAttribute:

[code]

I propose changing the line
[code]

to
[code]

and then use PackageDescription in Pack task to avoid the collision.

_Copied from ori

[2017-06-08 19:55] rainersigwald commented on #5374
Sounds like a good change to me. @rohit21agrawal ?

[2017-06-08 20:26] mlorbetske commented on #4626
Any ideas on this? Our vendor team is starting to see this occasionally with ASP.NET Core 2.0 project templates.

[code]

[2017-06-08 20:42] dazinator commented on #4790
+1
Current Pack operation accepts a version argument at build time and then goes on to produce nuget packages with broken (invalid) dependency information for referenced projects..**unless** you have also discovered and added the secret sauce (doing a `restore` with the same version number prior.) which isn't intuitive from the pack API or clear from the docs on pack Api :-)

Probably worthwhile a

[2017-06-08 20:43] PehDeh commented on #5366
seems they are already working on it: https://github.com/NuGet/Home/issues/5294

[2017-06-08 20:43] PehDeh commented on #5366
close

[2017-06-08 20:43] #5366 closed, assigned to nobody

[2017-06-08 20:52] AArnott commented on #4790
All of you who are +1'ing this issue, I suggest you give a thumbs up to the issue itself so it's easier to track voting.

[2017-06-08 20:53] morrisjoe commented on #5226
@rrelyea  @anangaur Please triage and investigate

[2017-06-08 20:54] clairernovotny commented on #5226
I just tried this in VS 2017 15.3 preview 2 and it still fails. Clean checkout of xunit master, open in VS and I see this in the package manager output window
[code]
building fails as nuget restore didn't complete correctly.

[2017-06-08 21:10] kzu commented on #5369
Yes, those are the required changes.

FWIW, this is a must if you need to tell apart referenced artifacts from private assets vs regular copy local assemblies (i.e. for Pack).

[2017-06-08 21:10] gwicksted commented on #4782
@emgarten that really should be clarified on http://dist.nuget.org/ as it currently alludes to VS2017 having _all_ of the "batteries" included; however, only 1 of the two parts of NuGet are installed (the VSIX not the .exe CLI)

Even a different background color for Windows x86 Commandline vs all other options would help.

I assume the NuGet.CommandLine package is not referenced by VS2017 since it

[2017-06-08 21:24] emgarten commented on #5369
`PrivateAssets` controls whether or not an asset type flows transitively to parent projects. It is unrelated to copy local.

[2017-06-08 21:24] alejandro5042 commented on #5363
Is there any workaround for msbuild 14.0?

[2017-06-08 21:27] emgarten commented on #5363
What type of projects do you have? Packages.config, project.json, packagereference?

[2017-06-08 21:28] alejandro5042 commented on #5363
Packages.config and Packages.ProjectName.config.

[2017-06-08 21:30] emgarten commented on #5363
@alejandro5042 using NuGet 3.5.0 may be your best option until this is fixed.

http://dist.nuget.org/

[2017-06-08 21:42] mishra14 commented on #5364
Dev14 tests seem to be passing now. Only failure now -  InstallPackageThrowsIfThereIsNoCompatibleContentFiles

[2017-06-08 21:42] mishra14 commented on #5365
Dev15 tests seem to be hanging at some point on d15prerel VS on the test machine. The call stack for the hang does not have NuGet, so I am trying to find the right people in ProjectSystems for it.

[2017-06-08 21:50] natemcmaster opened #5375 "Honor WarningsNotAsErrors"
We use TreatWarningsAsErrors=true. We want NuGet warnings to appear, but not to fail build. The concept of NoWarn is too strong as it suppresses them completely, but we still want to be aware of the issue. IMO the best property for this (that CSC also uses) is WarningsNotAsErrors, a list of warnings that should not cause errors even if TreatWarningsAsErrors is enabled.

Scenario:
[code]

cc @emgar

[2017-06-08 22:42] anangaur commented on #5375
@natemcmaster I am just wondering, why is this not exposed in the UI. IMO this would be the common scenario. Users will start with treating all warnings as errors and then as they understand the warnings from their project, either suppress them completely (possible in UI by "Suppress warnings" OR list them as warnings not treated as errors (WarningsNotAsErrors). May be in the properties UI we shou

[2017-06-08 22:55] natemcmaster commented on #5375
+1 Would be cool if the VS folks could expose this in UI. This property has been a well-known option in the compiler for years. (see [Microsoft.CSharp.Core.targets](https://github.com/dotnet/roslyn/blob/6a98a959cbd296991411e3e9d124aeeb4827ae1f/src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets#L150))

[2017-06-08 23:12] natemcmaster commented on #5375
Requested: https://github.com/dotnet/project-system/issues/2409

[2017-06-08 23:19] anangaur commented on #5226
Talked to @emgarten and it seems like a Project system issue where the nomination sequence for restore is not right. @emgarten Can you link this to the right project systems issues?

[2017-06-08 23:26] emgarten commented on #5238
Dupe of https://github.com/NuGet/Home/issues/4307

[2017-06-08 23:26] #5238 closed, assigned to nobody

[2017-06-08 23:30] emgarten commented on #5226
Dupe of https://github.com/NuGet/Home/issues/4307
Project system issue: https://github.com/dotnet/project-system/issues/1600

Restore fails with *The operation failed as details for project* if the project system hasn't pushed the list of package references and other project metadata to NuGet. Sometimes this can be due to a project issue or because the project is unloaded.

Typically this error ap

[2017-06-09 00:46] kzu commented on #5369
The flow (or lack thereof) needs to be evident to external analysis (i.e. for pack of private assets).

/cc @mhutch

[2017-06-09 00:49] kzu commented on #5367
Sigh, some docs on it would have been great ;).I Isearched nuget.client repo for any traces of the string `buildCrossTargeting` and found nothing, and assumed it wasn't supported therefore :(

[2017-06-09 01:44] bradwilson commented on #5226
That is *not* the case here. You will never be able to successfully build the project without shelling out to run `dotnet restore`. Are you sure it's the same issue?

[2017-06-09 01:52] colindekker commented on #4233
For me the issue was a typo in a PackageReference,item. Specifically the Version attribute being all lowercase (pressed wrong key combo somewhere down the line while cleaning the file)

[2017-06-09 02:06] terrajobst commented on #5307
That line of thinking seems odd to me. Let me give you another example. The URL https://github.com/torvalds/linux denotes Linus' version of the Kernel. People expect that this repo is only updated by Linus. Of course, Linus updates his repo by pulling code from other people, but people trust Linus' judgment. Since Git is distributed anybody can have any content in a clone of Linus' repo, but peopl

[2017-06-09 03:13] emgarten commented on #5226
I investigated this a bit farther, restore fails when it finds conflicting names for the same project were sent during restore nomination. It looks like this is due to having conditional assembly names.

https://github.com/xunit/xunit/blob/9740b5b94cfa382aa2aeb8ac255bbd925711cd8c/src/xunit.runner.reporters/xunit.runner.reporters.csproj#L27-L38

### Cause

Restore tries to find the name of the proj

[2017-06-09 03:17] emgarten commented on #5367
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/ContentModel/ManagedCodeConventions.cs#L482-L485

*buildCrossTargeting* is the deprecated name, *buildMultiTargeting* is the official name

[2017-06-09 03:42] williamb1024 opened #5376 "Nugetizer does not generate dependency groups for target frameworks that have no dependencies."
The packaging process is only creating dependency groups for target frameworks that have implicit or explicit dependencies. This may cause incorrect dependencies to be installed when a package is installed.

A single package providing libraries for targets:
* net40
* net45
* netstandard1.4

This results in a package with one dependency `netstandard1.4` group. The `net40` and `net45` targets have n

[2017-06-09 04:13] GavinMannion commented on #4970
I had this problem all day yesterday.

In the end it was related to my mono not being installed correctly. I removed all traces of it and followed these instructions and it worked 100%

http://www.mono-project.com/download/#download-lin

Hope this helps someone else save a days investigation

[2017-06-09 04:20] bradwilson commented on #5226
I have verified that the workaround allows restore to work again in VS2017. Thanks!

[2017-06-09 06:22] VictorBlomberg commented on #5307
@diverdan92

If "not all criteria needs to be met for an accepted application", that should be clearly stated! If it's not all but any criteria that has to be met, that would indeed make my objections moot. But as of the current proposal, that is not stated anywhere. And if it's not "all" or "any", but "a few", that's too vague.

[2017-06-09 06:26] OskarKlintrot commented on #4906
I'm having the same issue and I can't find the other issue. Which one are you referring to @emgarten? #4906 is this issue :)

[2017-06-09 06:37] OskarKlintrot commented on #4906
#4907 maybe?

[2017-06-09 06:59] OskarKlintrot commented on #4907
Did you solve it @hongdai? I get the same issue. I can't use `dotnet add package -s` though. I get the same issue on [my own project on Travis (and locally)](https://travis-ci.org/Certaincy/Intranet/builds/240802420) as well as when trying with @andrewlock's [project](https://github.com/andrewlock/blog-examples/tree/master/AspNetCoreImageResizingService/AspNetCoreImageResizingService).

It fails o

[2017-06-09 07:04] FransBouma commented on #5307
@terrajobst I understand your point, and I think I made mine poorly. What I was trying to say is that identity checking needs to be transferable to a local source, so that an organization can setup a local feed for their developers, store the packages there from whatever source, and dependencies taken on those packages are as if they're on nuget, or myget or what have you. Perhaps that's close to

[2017-06-09 07:18] tmds commented on #4424
@muratg I don't think the fix is included.
The commit https://github.com/NuGet/NuGet.Client/commit/91023394890b1458ec0c5940128da73e04089869 is in the `4.3.0-preview3-4123` and `4.3.0-preview2-4087` tags.
While the daily cli build (2.0.0-preview2-006127) uses `4.3.0-preview1-*` NuGet packages.

[2017-06-09 07:20] OskarKlintrot commented on #4907
I forgot, it works just fine when adding the feed to the global `nuget.config` (and I did try to add the `disabledPackageSources` fix but it didn't help and I don't think Travis has any package source's disabled anyway...).

[2017-06-09 07:22] maartenba commented on #5307
Which brings back my original point: reserving a prefix can perfectly be a NuGet.org thing, but if it's proof-of-identity then this needs work :)

[2017-06-09 07:34] forki opened #5377 "semVerLevel=2.0.0 not working on all protocols"
The document at https://github.com/NuGet/Home/wiki/SemVer2-support-for-nuget.org-%28server-side%29 says we should send `semVerLevel=2.0.0` for all requests.

It looks like one protocol is broken.

Please compare https://www.nuget.org/api/v2/package-versions/Microsoft.NETCore.UniversalWindowsPlatform?semVerLevel=2.0.0&includePrerelease=true

with

https://www.nuget.org/api/v2/package-versions/Micro

[2017-06-09 07:36] forki commented on #5377
closed in favor of https://github.com/NuGet/NuGetGallery/issues/4086

[2017-06-09 07:36] #5377 closed, assigned to nobody

[2017-06-09 07:45] emgarten commented on #4906
@OskarKlintrot yes, #4907 is actually the dupe

[2017-06-09 12:58] tmds opened #5378 "DotNetCliToolReference gives non compatibility restore errors [2.0.0-preview1]"
`DotNetCliToolReference` gives non compatibility restore errors compared to `PackageReference`
Minimal repro at: https://github.com/dotnet/cli/issues/6814

[2017-06-09 13:05] leasunhy commented on #1589
Also, if no config file is present when one tries to add a package source, the adding will fail.
Running `nuget sources` before adding the source will ensure the existence of the config file to make sure the package source is added.
Version: `3.5.0.1938`

[2017-06-09 13:58] #5356 closed, assigned to kzu

[2017-06-09 14:53] terrajobst commented on #5307
@FransBouma

Ah, I see what you're saying now. What about this:

* **Verified Accounts**. Let's say that this is a general service of nuget.org, rather than being tied to the feed which is *also* hosted on nuget.org. This would allows other feed hosters to lookup verified accounts if they wish to do so. It's unclear to me how identities would be mapped to nuget.org, but that might seems like a sol

[2017-06-09 15:03] eerhardt commented on #5139
The conflicting version comes from:

1. The CLI is using the new NuGet version, and that version of NuGet sits next to MSBuild.  So it always wins.
2. The CLI's build is executing a Task that depends on an external package called `Microsoft.DotNet.VersionTools` which has a dependency on the old version of NuGet.  See https://dotnet.myget.org/feed/dotnet-buildtools/package/nuget/Microsoft.DotNet.Ve

[2017-06-09 15:20] clairernovotny opened #5379 "Pack targets miss library layout files with UWP"
The pack targets aren't automatically including required output of UWP class libraries that contain UI controls.

To repro:
Clone https://github.com/xunit/devices.xunit
checkout commit 3aeb67d7092bfd8f91dd5afe88dd9e27023b5239
Try to build/pack https://github.com/xunit/devices.xunit/blob/3aeb67d7092bfd8f91dd5afe88dd9e27023b5239/src/xunit.runner.devices/xunit.runner.devices.csproj

the generated nup

[2017-06-09 15:22] emgarten commented on #5139
I think that is what needs to be fixed. Tracked here: https://github.com/dotnet/cli/issues/4214

NuGet is going to have breaking API changes at times, and more and more tools are going to use NuGet.* libraries. Either we need to fix how NuGet is loaded in the CLI, or a merged version of the assemblies needs to be used either by the CLI or tools so that this won't conflict.

[2017-06-09 15:30] weshaggard commented on #5139
Why do we think it is OK for nuget to have breaking API changes? For better or worse it is a library that used by lots of folks so we should go out of our way to not have API breaking changes.

[2017-06-09 15:33] livarcocc opened #5380 "Support AssetTargetFallback for DotNetCliToolReference"
_From @tmds on June 9, 2017 12:38_

## Steps to reproduce

lib/lib.csproj
[code]
app/app.csproj
[code]
app/NuGet.Config
[code]
[code]
## Expected  behavior

The app should restore fine.

## Actual behavior

[code]

Note: Replacing DotNetCliToolReference with PackageReference causes the app to restore fine.

## Environment data

2.0.0-preview1-005977

_Copied from original issue: dotnet/cli#6814_

[2017-06-09 15:36] tmds commented on #5378
See https://github.com/NuGet/Home/issues/5380

[2017-06-09 15:36] #5378 closed, assigned to nobody

[2017-06-09 15:36] kzu commented on #5369
@emgarten @rohit21agrawal how does SDK Pack deal with https://github.com/NuGet/Home/issues/5103 without this info?

[2017-06-09 15:42] muratg commented on #4424
@livarcocc are you planning to ingest this version of the nuget?

[2017-06-09 15:49] livarcocc commented on #4424
We are already at 4.3.0-preview3-4146.

[2017-06-09 16:33] diazrm commented on #4459
It would be great to have this feature implemented, due to the philosophy actually adopted in VS017 about nugets and the packages/projects integration (one package per project, each project is a potential nuget package).
A workaround (being used in my dev team) is executing a Gulp task from the Task Runner window which calls the gulp-nuget pack. This technique (that can be considered as a hack, mo

[2017-06-09 16:34] emgarten commented on #5139
While I agree NuGet could do better on avoiding breaking API changes, it hasn't been treated as a framework like this in the past. In the case of Omnisharp the problem occurs between preview builds of NuGet, which means that every build of NuGet needs to be compatible with every  other build, not just RTM releases.

Also, even if there were zero breaking API changes, older versions of NuGet would

[2017-06-09 16:44] emgarten commented on #5369
Pack reads IncludeAssets, ExcludeAssets, and PrivateAssets to find the set of include flags. These are then added to the dependency elements in the nuspec.

There isn't a scenario where a nupkg is creating that includes assets from dependency packages, so knowing exactly which assemblies came through which references isn't needed.

@kzu could you explain a bit more about the nugetizer scenario her

[2017-06-09 16:47] emgarten commented on #5369
From https://github.com/NuGet/Home/issues/5103

NuGet doesn't have a PackageReference attribute to control copy to output true/false.  PrivateAssets is not related to the Private attribute on reference elements.

[2017-06-09 16:53] tmds commented on #4424
@livarcocc this is why I think the package is still at preview1
[code]

[2017-06-09 16:55] kichalla commented on #4424
Yeah, I am still able to repro this issue with the latest Preview2 CLI : `2.0.0-preview2-006391`

[2017-06-09 16:57] ericstj commented on #5139
Build-to-build breaking changes don't matter.  It's release-to-release that can't break.

Missing methods won't occur if you version your assembly when you add API.

[2017-06-09 17:07] dasMulli commented on #5139
This is what broke OmniSharp https://github.com/OmniSharp/omnisharp-vscode/issues/1495 (looks like a new mono version with new SxS loading behaviour is going to help resolving this)

[2017-06-09 17:11] tmds commented on #4424
@kichalla @livarcocc can you check the version in the tar.gz is the one you expect it to be?

[2017-06-09 17:19] natidea commented on #4626
This warning is removed as part of this change: https://github.com/dotnet/sdk/pull/1228
NuGet tries to ensure the asset file cannot be in this state.

[2017-06-09 17:30] jainaashish opened #5381 "[E2EBlocking]Create ASP.NET Core Web Application with No Auth - 1.1 project, Add Migration fails to “The term 'Add-Migration' is not recognized...”"
More details in internal bug# 447728

[2017-06-09 17:33] kichalla commented on #4424
This is the url from where I downloaded the latest version of CLI:
https://dotnetcli.azureedge.net/dotnet/Sdk/2.0.0-preview2-006391/dotnet-sdk-2.0.0-preview2-006391-linux-x64.tar.gz

and I am seeing that it does have NuGet version that @livarcocc had mentioned earlier:
![image](https://user-images.githubusercontent.com/6559784/26987055-f4112ece-4cfe-11e7-9425-3b2c0107c4a6.png)

[2017-06-09 17:35] diverdan92 commented on #5307
@VictorBlomberg Great feedback. I've updated the section in the spec outlining [acceptance criteria](https://github.com/NuGet/Home/wiki/NuGet-Package-Identity-Verification#criteria-for-prefix-reservation). Will you take a look and let me know if there is additional ambiguity that you would like addressed?

@FransBouma / @maartenba stay tuned, I'm working on a proposal for other feeds to be able to

[2017-06-09 17:39] tmds commented on #4424
Ah, ok. The 2.1.0-preview1 daily builds are using the older NuGet package. And the 2.0.0-preview2 is then using the newer version.
For my information, where did you find that url?

[2017-06-09 17:44] kichalla commented on #4424
We (ASP.NET) maintain a copy of the scripts from this location and use it in our build process to install the latest CLI and shared runtime. Very recently these scripts were updated:

![image](https://user-images.githubusercontent.com/6559784/26987455-756dce36-4d00-11e7-8f34-daccb9396309.png)

[2017-06-09 17:50] tmds commented on #4424
Using the 2.0.0-preview2 link of @kichalla, the execute bit is set!
@kichalla did you clear the nuget cache before publishing? The bit gets set when the package is extracted. So if you still had the package in the cache, it will not change.

[2017-06-09 17:51] nguerrera opened #5382 "NuGet Satellite assembly package(s) needed for CLI to use/redistribute"
Tracking issue that the CLI needs localized satellite assemblies for the nuget assemblies it carries.

@rrelyea

[2017-06-09 18:04] anangaur commented on #5294
@rrelyea Windows 10 comes with Powershell 5.0 by default.
![image](https://user-images.githubusercontent.com/14800916/26988227-5c49de74-4d03-11e7-8f64-fe9b2f57c7b3.png)

[2017-06-09 18:06] emgarten commented on #5139
NuGet has started changing the version number for preview releases to solve that.
Preview2: 4.3.0.2
Preview3: 4.3.0.3

[2017-06-09 18:09] emgarten commented on #5139
@dasMulli does the version change help for mono, or there are still more issues?

[2017-06-09 18:18] kichalla commented on #4424
@tmds Hmm, did you test with the repro scenario I mentioned [here](https://github.com/NuGet/Home/issues/4424#issuecomment-306259871)? I did clear the nuget cache doing `dotnet nuget locals all --clear` and followed the repro steps in the link above, but I still see the execute permission not set. Just want to make sure if we both are testing the same scenario.

[2017-06-09 18:21] dasMulli commented on #5139
@emgarten This work is done by @DustinCampbell, I'm just following along (and had similar problems with a custom tool and https://github.com/dotnet/cli/issues/4214)

[2017-06-09 18:31] tmds commented on #4424
@kichalla the quest continues. The x-bit is not set on the application. However, it is set in the package folder upon extracting!
[code]

[2017-06-09 19:08] tmds commented on #4424
@kichalla If I followed the breadcrumbs correctly, the execute bit gets lost here: https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/EmbedAppNameInHost.cs#L62.

[2017-06-09 19:21] gkhanna79 commented on #4424
Is this onky happening for standalone scenario' s entryloint executable only?

Adding @eerhardt to chime in as well.

Thanks,
Gaurav

-------- Original message --------
From: Tom Deseyn <notifications@github.com>
Date: 6/9/17 12:08 PM (GMT-08:00)
To: NuGet/Home <Home@noreply.github.com>
Cc: "Gaurav Khanna (CLR)" <Gaurav.Khanna@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [NuGe

[2017-06-09 19:29] gkhanna79 commented on #4424
If the possible cause identified by @tmds is correct, then this issue has been present for standalone publish in Preview1 as well and fix would be to set the X bit once the modified binary is published.

@steveharter can you PTAL?

[2017-06-09 19:30] gkhanna79 commented on #4424
@kichalla Can you please file an issue in SDK for your repro above and assign it to @eerhardt and @steveharter?

[2017-06-09 19:33] gkhanna79 commented on #4424
@steveharter Possbile fix needs to be like https://github.com/dotnet/sdk/blob/ddfd75cacfd5fb94bebc442441c75852ca4b1ee2/test/Microsoft.NET.TestFramework/CommandExtensions.cs#L16.

[2017-06-09 19:33] tmds commented on #4424
or alternatively, the apphost can be placed in the publish folder using File.Copy and renamed using File.Move.

[2017-06-09 19:35] gkhanna79 commented on #4424
Apphost needs to be modified as part of publish operation so simply copying is not going to work.

[2017-06-09 19:35] tmds commented on #4424
You can open the copied file

[2017-06-09 19:40] gkhanna79 commented on #4424
@livarcocc When CLI published a standalone app, does it ever mark its entrypoint executable with the "X" bit on non-Windows?

[2017-06-09 19:47] steveharter commented on #4424
Taking a look now

[2017-06-09 20:58] Andne opened #5383 "Nugetizer project not importing NuGet.Build.Packaging.targets? (CreateManifestResourceNames missing)"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Nugetizer-3000

NuGet version (x.x.x.xxx): 0.1.313

VS version (if appropriate): 2017 15.3 Preview 2.0

OS version (i.e. win10 v1607 (14393.321)): Windows 7 SP1

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Create new Nuget packa

[2017-06-09 21:11] Andne commented on #5383
After manually adding the imports I started getting errors like this:
`Could not resolve mscorlib for target framework '.NETFramework,Version=v4.0'.`

The first occurred on saving the file after editing it, the second was when I tried to add references to a couple of projects in my solution.  The references did show up in the project file, but do not appear under the dependencies node.  Building t

[2017-06-09 21:37] steveharter commented on #4424
My understanding:

- Only the modified apphost executable needs the +x; other executables are now properly restored from nuget.
- This only occurs (the x is lost) during publish of a standalone app, when copying the source apphost to the destination\modified apphost

I am still going through the repro steps; clearing the nuget cache and then restore is being very slow...

[2017-06-09 22:07] gkhanna79 commented on #4424
Yes, that sounds about right @steveharter.

Thanks,
Gaurav

-------- Original message --------
From: Steve Harter <notifications@github.com>
Date: 6/9/17 2:37 PM (GMT-08:00)
To: NuGet/Home <Home@noreply.github.com>
Cc: "Gaurav Khanna (CLR)" <Gaurav.Khanna@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [NuGet/Home] Executables restored from NuGet packages are no longer executable

[2017-06-09 22:16] livarcocc commented on #4424
If the file is signed in the NuGet package, why is it losing that permission? It seems like these permissions should not be lost when copying/moving the file. And explicitly setting it in the SDK seems like a workaround for an issue somewhere else.

[2017-06-09 22:18] kichalla commented on #4424
https://github.com/dotnet/sdk/issues/1331

[2017-06-09 22:46] jainaashish commented on #5365
This is because of this issue# https://github.com/NuGet/Home/issues/5381 and this test will be fixed once I merge this PR.

[2017-06-09 23:28] DustinCampbell commented on #5139
Note: a new version of Mono (5.2) is required which just came out today on the alpha channel. It adds a new flag (`--assembly-loader=strict`) that you can set to get SxS assembly loading behavior that is similar to desktop CLR.

I really hope this refactoring was worth the pain it caused. 😞

[2017-06-10 08:35] matthid opened #5384 "NuGet.exe produces corrupt NuGet package when a "package" folder is not deleted."
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version: https://www.nuget.org/packages/NuGet.CommandLine/4.1.0

VS version (if appropriate): VS 2015

OS version (i.e. win10 v1607 (14393.321)): win10

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Download NuGet

[2017-06-10 10:43] Xarkam commented on #5358
@emgarten hello, I have test with this repository: https://github.com/aspnet/MusicStore and the problem is same
[code]
By nuget cli, everything happens correctly

[2017-06-10 20:50] jjanuszkiewicz commented on #5340
@mishra14 This is interesting to know. What use case is there behind the current behavior? I imagine it's not very common to have the same package in different feeds (as I think this would be the only case where you'd want to filter available updates for an installed package) - is this to support having a private/company feed with custom private versions of public packages, so limiting just the up

[2017-06-11 08:33] djohnst10 opened #5385 "NuGet updates config file encoding and XML in a way that is inconsistent with how Visual Studio updates config files"
## Details about Problem

NuGet product used: VS UI

NuGet version: 4.2.0

VS version: 15.2 (26430.13)

OS version: win10 v1703 (15063.296)

## Detailed repro steps so we can see the same problem

1. I've done this with a class library project I had updated from .NET 4.5.2 (created in earlier versions of Visual Studio) to .NET 4.6.2 (running in Visual Studio 2017).

2. Create a .NET Framework clas

[2017-06-11 17:25] martinbliss commented on #4872
Thought I woudl add that @raRaRa 's solution works greta for Linux based development workflows as well (in my case, I'm running macOS with VSCode and VS 2017 for Mac - both are tools that like to spontaneously run `dotnet restore` without input from the user, causing conflict with Docker-based `dotnet restore` in the same directory.)

The "hack" is no big deal since I can stick it in my existing `

[2017-06-11 17:59] parasgambhir commented on #1138
I have got same issue, and below resolved my issue

https://stackoverflow.com/questions/40026300/visual-studio-nuget-extension-installs-fail-with-the-process-cannot-access-th

[2017-06-11 23:43] jphenow commented on #4872
I was able to get this working also, but I had to add obj/bin to dockerignore to keep from ruining VSCode's intellisense on build

[2017-06-12 01:52] livarcocc opened #5386 "dotnet restore fails on Windows with .NET Core 2.0-preview1-005977"
_From @martincostello on June 11, 2017 14:5_

## Steps to reproduce

Clone the `DotNet-Core-2.0` branch of https://github.com/martincostello/website.git (see martincostello/website#194).

## Expected  behavior

`dotnet restore` completes successfully, after which the build and tests succeed.

## Actual behavior

On Windows `dotnet restore` fails (see AppVeyor build [ere](https://ci.appveyor.com/pr

[2017-06-12 03:44] kzu opened #5387 "Add support for extending package metadata item"
It would be useful for advanced scenarios to be able to provide additional metadata-only information to upstream packaging targets via the `Metadata` item that could potentially be used to modify the package creation process.

Currently, however, because the metadata item is added in the `GetPackageMetadata` target itself, it cannot be extended before the upstream package gets the returned values.

[2017-06-12 03:45] #5387 closed, assigned to kzu

[2017-06-12 03:51] tmds commented on #5380
@emgarten ptal

[2017-06-12 04:32] kzu commented on #5369
I'll let @mhutch elaborate since she's driving the requirement. See https://github.com/NuGet/Home/issues/5103

[2017-06-12 05:45] arpit-nagar opened #5388 "Not able to install System.Runtime.Serialization.Json and System.Runtime.Serialization.Xml both in a project"
Don't know if this is a right place for this issue.
Please redirect or transfer issue in respective project.

I have visual studio 17. My project is targeting net461 and netstandard1.6
I want to use System.Runtime.Serialization.Json and System.Runtime.Serialization.Xml. but I am facing issues.

Steps to reproduce:
1. Install nuget System.Runtime.Serialization.Xml - 4.3.0
2. Now install nuget Syste

[2017-06-12 07:58] Portikus commented on #4488
@onovotny You are right. I tried your attached solution and it seems that it isn't fixed with the latest update. I'm sorry.

[2017-06-12 09:17] emgarten commented on #5380
Projects allow netcoreapp2.0 to bring in older desktop compatible packages. Tools do not currently allow this, they must be netcoreapp/netstandard.

Microsoft.Composition 1.3.0 contains lib/portable-net45+win8.. which is not compatible with netcoreapp.

@ericstj is MEF going to be updated to support netstandard?

[2017-06-12 10:47] dasMulli commented on #5380
Looks like the problem is that a cli tool can be built against `netcoreapp2.0` because the SDK defines the assets target fallback, but it cannot be consumed because this fallback is not applied while restoring the tool?
It's unfortunate that you'd have to know to set `DisableImplicitAssetTargetFallback` to `false` in the tool's csproj to detect these errors early on. (`DisableImplicitPackageTarget

[2017-06-12 11:02] tmds commented on #5380
Can we have the same restore behavior for DotNetCliToolReference references as we have for PackageReferences?

[2017-06-12 12:36] tmds commented on #4424
@livarcocc This is the code which is 'copying' the app host: https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/EmbedAppNameInHost.cs#L62. It is creating a new file from bytes in memory.

[2017-06-12 14:52] leaderanalytics opened #5389 "How to identify package feed url?"
Given I have
/feed1
/feed2

configured in Visual Studio and I have

    <package id="Package" version="1.0.11" targetFramework="net47" />

in packages.config - OR -

     <Reference Include="Package, Version=0.17.2.0, Culture=neutral, processorArchitecture=MSIL">
      <HintPath>..\packages\Package\lib\netstandard1.2\Package.dll</HintPath>
    </Reference>

Please tell me how I can tell if "Packag

[2017-06-12 17:06] #5381 closed, assigned to jainaashish

[2017-06-12 17:09] mishra14 commented on #5375
Tagging @rrelyea for triage request.

[2017-06-12 17:34] 41northstudios commented on #5348
I can confirm, running as admin is not a consistent fix. The problem had gone away on both of my development PCs and now has returned on one. Rebooting and running as admin do not work.

Here is the full text of the error I get once this problem rears its head:

[code]

[2017-06-12 18:02] rrelyea opened #5390 "Error occurred while restoring NuGet packages: Value cannot be null -- 15.3 p2 & netcore sdk 2.0 p1"
VS 2017 15.3 Preview 2 + NetCore SDK 2.0 preview 1

My .NET Core 2.0 environment is still working from the command line. I can use the command line to create new projects. Opening existing .NET Core 2.0 projects is also ok. However, building the project I see this error in the Output window: “Error occurred while restoring NuGet packages: Value cannot be null”. dotnet restore from the command line

[2017-06-12 18:10] bojingo commented on #1499
What is meant by "put it in a target file as a reference"? Would really appreciate some guidance (links to references, etc.) on that so I don't have to rename the assembly.

[2017-06-12 18:17] emgarten commented on #5380
This could be done, AssetTargetFallback to net461 makes more sense for tools now that it is on by default.

I think the fix for this specific issue is that Microsoft.Composition needs to support netstandard2.0 without requiring the fallback. This package has come up several times as a pain point and that has been the conclusion each time.

[2017-06-12 18:18] rrelyea commented on #1499
Defining and important an MSBuild targets are documented here: https://msdn.microsoft.com/en-us/library/ms171464.aspx

@yishaigalatzer  was recommending to create a targets file with the following content:

MyReference.targets:
[code]
And then import that target from your project file with:
`<Import Project="MyReference.targets" />`

[2017-06-12 18:32] tmds commented on #5380
@emgarten can we use this issue for updating the restore behavior of DotNetCliToolReference so it matches with PackageReference? Is there an appropriate repo to create an issue for Microsoft.Composition?

[2017-06-12 19:09] alpaix opened #5391 "NuGet doesn't detect project style correctly for deferred projects"
### Problem
NuGet relies on `IndexService.EntityExists` API to detect `packages.config` and `project.json` file in a deferred project. The ‘entity exist’ semantic has to be understand as if a file entity was included on LSL indexing data, this could take longer during a cold start of both LSL or OpenFolder scenarios.
In summary an entity may not exists for an existing file in a period of time.

##

[2017-06-12 19:14] alpaix opened #5392 "Get-Project cmdlet doesn't work in LSL mode for some projects"
Due to inconsistent internal project names `Get-Project` cmdlet is unable to find a project given its name in deferred mode.

[2017-06-12 19:36] christiannagel commented on #5390
Creating a new .NET Core 2 project using the command line, I can open and build the project using Visual Studio 2017 Update 3 Preview 2 running on Windows 10 insider build 16215.

Open the project and build it is ok.
I think this works because with the new version of dotnet new, dotnet restore is already included.
If the project files are retrieved from a repository without the project.assets.json

[2017-06-12 19:41] emgarten commented on #5380
@tmds it looks like Microsoft.Composition has moved to System.Composition which supports netstandard. Could you try that package? For reference: https://github.com/dotnet/corefx/issues/14653

I've updated the title of this issue to track AssetTargetFallback support for tools. The open question there is: Should users be able to turn ATF on/off for tool restores and set the framework, or should NuGe

[2017-06-12 19:45] #5341 closed, assigned to nobody

[2017-06-12 19:47] tmds commented on #5380
I'm not using Microsoft.Composition directly, I use the Roslyn https://www.nuget.org/packages/Microsoft.CodeAnalysis.Workspaces.Common/ package.
Is "PackageReference" also using "net461"?

[2017-06-12 19:51] emgarten commented on #5380
Oh I see. This might be hard to work around then without falling back.

With ``PackageReference`` it reads ``AssetTargetFallback`` from the project file and adds additional compatibility. Tool restores are unrelated to the project framework/fallback so this can't just be applied to tools in the project.

There would need to be a way to define this on the tool reference, or NuGet would need to just

[2017-06-12 19:52] mishra14 commented on #5340
@jjanuszkiewicz 👍
Thanks for the detailed explanation for your request/bug.

It is the design that the installed tab should always display all the packages installed to the project. Given this baseline for the installed tab, the filters (pre-release checkbox and source drop-down) only affect the updates.

For the browse and updates tabs, the filter can affect the visible list of packages as these

[2017-06-12 19:56] mishra14 opened #5393 "Consider: Allow filtering of packages in the Installed tab in NuGet PM UI based on package source drop down"
Original Customer Request: https://github.com/NuGet/Home/issues/5340

I think we should consider this.

[2017-06-12 19:57] mishra14 commented on #5393
Tagging PM folks for visibility: @anangaur @karann-msft

[2017-06-12 19:57] alpaix commented on #5348
The error is generated by NuGet attempting to execute `init.ps1` scripts for packages installed in a project. It happens when user tries to invoke a command in PMC after pressing <kbd>Enter</kbd>. I noticed the problem occurred more often in earlier builds of Visual Studio.

Possible workaround would be opening a project with PMC window closed. You'll have to start a new instance of Visual Studio.

[2017-06-12 20:00] mishra14 opened #5394 "Consider: Filters in NuGet PM UI should have some description on behavior in the UI"
Original customer request: https://github.com/NuGet/Home/issues/5340

Currently, the PM UI does not have any hints on the expected behavior for the filters i.e. Package Source drop down and pre-release checkbox.

Specifically we should have some UI hints on how these filters affect each of the 4 tabs in PM UI.

[2017-06-12 20:00] mishra14 commented on #5394
Tagging PM folks for visibility and UI design: @anangaur @karann-msft

[2017-06-12 20:04] mishra14 opened #5395 "Docs: Documentation on NuGet PM UI should have information about the tabs and filters"
Original Customer request: https://github.com/NuGet/Home/issues/5340

Currently our documentation on NuGet PM UI for VS does not contain any information about the the 4 tabs (purpose and default behavior) and more importantly the effects of the filters (pre-release checkbox and the Package Source drop down) on each of the tabs. More details in the original bug.

We should have some documentation t

[2017-06-12 20:05] mishra14 commented on #5395
tagging PM team for visibity: @anangaur @karann-msft @kraigb

[2017-06-12 20:09] mishra14 commented on #5340
@jjanuszkiewicz: I have opened 3 different bugs to track each of the requests/issues separately. I will close this issue out in favor of the new ones. Please follow them to track the progress and feel free to reopen this one if we missed something here. Thanks!

https://github.com/NuGet/Home/issues/5395 - Improve documentation around PM UI
https://github.com/NuGet/Home/issues/5394 - Improve UI on

[2017-06-12 20:09] #5340 closed, assigned to nobody

[2017-06-12 22:01] analogrelay opened #5396 "Star wildcard doesn't match against numeric build number in pre-release tag"
We're seeing a strange behavior in NuGet restoring. Given the following project:

[code]

And the following feeds:

[code]

We're getting this error on `dotnet restore`:

[code]

On the feed, both packages (`Microsoft.AspNetCore.AspNetCoreModule` and `Microsoft.AspNetCore.Mvc`) only have pre-release versions available with the matching prefix (see https://dotnet.myget.org/gallery/aspnetcore-ci-dev

[2017-06-12 22:04] analogrelay commented on #5396
/cc @muratg @emgarten @davidfowl

[2017-06-12 22:09] analogrelay commented on #5396
I have a repro project here: https://github.com/anurse/NuGetStarResolveRepro

[2017-06-12 22:12] emgarten commented on #5396
Dupe of https://github.com/NuGet/Home/issues/4513

The fix for this would make ``1.0.0-*`` the range >= `1.0.0-0`, which fails to parse on older clients if this were to get into a nuspec. For some reason NuGet 2.x enforces the rule that pre-release labels cannot start with a number which is not part of the semver spec.

[2017-06-12 22:12] #5396 closed, assigned to nobody

[2017-06-12 22:13] analogrelay commented on #5396
Thanks! Not sure why we didn't see that when first looking :)

[2017-06-12 22:14] emgarten commented on #5396
@anurse thanks for the great repro. I'm hoping this will get fixed soon, it's the issue slowing this down is primarily the 2.x client handling of it, we just need to make sure this change won't affect package creation.

[2017-06-12 22:38] nkolev92 commented on #5239
The no-op restore work went in starting with d15prerel-26609.0.
It was also inserted into the CLI/SDK on the 8th as well. CLI builds from 9th June and later have this change.

[2017-06-12 22:38] #5239 closed, assigned to nobody

[2017-06-12 22:49] emgarten commented on #5067
We are taking a look at this again now that we have ruled out performing an implicit restore before running tools, but at this point I don't think it will make it in 4.3.

//cc @rrelyea

[2017-06-12 22:51] emgarten opened #5397 "Read DotnetCliToolTargetFramework from CPS nomation"
To provide the same behavior in VS as on the command line the `DotnetCliToolTargetFramework` property should be read from nominations.

https://github.com/dotnet/project-system/issues/2427

[2017-06-13 02:19] tmat commented on #4856
I'm using the above workaround like so:

[code]

This serves two purposes:
1) It's nicer to not have a bunch of links from referenced packages pollute the project root.
2) Correctness in case there are two files of the same name in the referenced packages.

This should imo be the default.

[2017-06-13 04:03] pvandervelde opened #5398 "Question: Does NuGet use the stored credentials for feeds on a file share"
## Details about Problem

using nuget.exe 4.0.0.2283 on Windows Server 2016

I'm trying to restore NuGet packages on a Windows machine which is not attached to the company Active Directory. After adding the feeds and their credentials the nuget.config for the user looks like:

	<?xml version="1.0" encoding="utf-8"?>
	<configuration>
	  <packageRestore>
		<add key="enabled" value="True" />
		<add k

[2017-06-13 04:07] davidfowl commented on #3967
This is resolved now

[2017-06-13 04:07] #3967 closed, assigned to nobody

[2017-06-13 04:07] #2190 closed, assigned to joelverhagen

[2017-06-13 04:07] #2115 closed, assigned to nobody

[2017-06-13 04:07] #1811 closed, assigned to nobody

[2017-06-13 04:08] #2399 closed, assigned to nobody

[2017-06-13 04:08] #2205 closed, assigned to nobody

[2017-06-13 04:08] #2155 closed, assigned to nobody

[2017-06-13 04:08] davidfowl commented on #2395
@rrelyea We did this right?

[2017-06-13 04:08] #1828 closed, assigned to nobody

[2017-06-13 04:08] #1599 closed, assigned to nobody

[2017-06-13 04:09] #2110 closed, assigned to nobody

[2017-06-13 04:09] #2436 closed, assigned to nobody

[2017-06-13 04:09] #1605 closed, assigned to nobody

[2017-06-13 04:09] #4557 closed, assigned to nobody

[2017-06-13 04:09] #2397 closed, assigned to nobody

[2017-06-13 04:26] emgarten commented on #2395
This is complete and in CLI 2.0.0

[2017-06-13 04:26] #2395 closed, assigned to mishra14

[2017-06-13 04:52] emgarten commented on #5398
NuGet does not use credentials for local folders or network shares. Credentials are only handled for HTTP sources.

This is an interesting scenario, do you have an example of how credentials could be provided in your scenario? How is your share hosted?

Here is the folder reader in NuGet for reference: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/Utility/LocalFolder

[2017-06-13 04:58] emgarten commented on #5389
The location package was downloaded from is not persisted on disk. Packages should be unique on id and version alone, which means, *Package 1.0.0* should be identical on both feed1 and feed2. Scenarios where the same version is different between feeds is not supported.

[2017-06-13 05:04] emgarten commented on #5388
I wasn't able to repro this using Visual Studio 15.2 (2017)

I tried:
1. Create a new netstandard class library
1. Edit target frameworks to include net461 and netstandard1.6
1. Install System.Runtime.Serialization.Xml - 4.3.0 using the nuget UI
1. Install System.Runtime.Serialization.Json - 4.3.0 using the nuget UI

My resulting csproj file is:
[code]

@arpit-nagar could you share additional repr

[2017-06-13 06:21] AArnott commented on #4853
@stakx The issue with System.IO.Compression has nothing to do with your target framework. It has everything to do with the fact that the Pack task doesn't work on *any* version of the .NET Framework unless another MSBuild Task just happens to have loaded that assembly from CoreCLR first. See https://github.com/NuGet/Home/issues/4290

[2017-06-13 06:28] oviradoi opened #5399 "NuGet on macOS won't use NTLM authentication"
## Details about Problem

I am trying to install a nuget package on macOS. The package is hosted in our on-premises TFS2017 server, using the Package Management extension. The server is set up to use NTLM authentication.

I installed nuget using the `brew install nuget` command. I added the package source, and I ran the `nuget install` command, passing the package name as a parameter. Nuget will c

[2017-06-13 07:02] stakx commented on #4853
@AArnott: Thank you for the explanation and for following up on this issue. 👍

Since the package I'm building isn't critical, I've decided to sit this out and wait for an official version of MSBuild / NuGet that actually works out of the box. Hopefully that won't be much longer.

[2017-06-13 08:18] tmds commented on #5380
I think this is the preferable approach. A tool netcoreapp2.0 should be able to reference the same packages as a regular netcoreapp2.0.

[2017-06-13 13:38] lost-valley opened #5400 "Do not downgrade when "nearest" version range can be satisfied via "further" version range"
Example:

Detected package downgrade: Microsoft.Extensions.Localization from 1.1.2 to 1.1.1

1.  MyProject (>= 1.0.0) -> Microsoft.AspNetCore.Mvc (>= 1.1.3) -> Microsoft.AspNetCore.Mvc.DataAnnotations (>= 1.1.3) -> Microsoft.Extensions.Localization (>= 1.1.2)
2.  MyProject (>= 1.0.0) -> Microsoft.Extensions.Localization (>= 1.1.1)

I don't understand the reasoning for the downgrade, when 2nd depen

[2017-06-13 13:50] jjanuszkiewicz commented on #5340
@mishra14 Thanks, I will definitely follow these issues.

[2017-06-13 14:00] davidfowl commented on #5400
That's the nature of the beast. Why are you directly referencing a lower version? Ancestor packages eclipse ones further down the chain.

This is true. Why not just use the transitive dependency? The other reason for this behavior is to meet developer expectation. When you reference a package directly, it would be pretty odd if it didn't prefer that version.

That said, I can see why it would be c

[2017-06-13 14:22] caleblloyd commented on #5370
Should this change with `netstandard2.0`?

Lots of libraries maintain `net45` to support Windows Server 2012.  But `netstandard2.0` contains more APIs and it seems like that should be preferred for `net461` and up.  Otherwise library maintainers would have to additionally publish a `net461` package to get these new APIs on desktop.

[2017-06-13 14:58] leaderanalytics commented on #5389
@emgarten  Thanks Justin, my question really relates to knowing which feed to download from versus versioning.  I have certain packages that exist on one feed only.  So I suppose the only approach is to start with the first feed and keep trying till it works.

[2017-06-13 15:58] emgarten commented on #5389
Yes, this is how restore handles it also. Each feed is checked for the package until it is found.

[2017-06-13 16:26] emgarten commented on #5370
An additional package is not needed, authors can add net461 or net47 to the same package.

If for example the project is net47 and the package contains net47 and netstandard2.0 the user should still get net47, the desktop framework is an identical match.

In the case of net45 vs netstandard2.0 there are APIs that are available in net45 that are not in netstandard2.0, NuGet can't determine exactly

[2017-06-13 16:29] terrajobst commented on #5312
Agreed, but that's what VS already does to populate the dialog, no?

[2017-06-13 16:30] terrajobst commented on #3576
Should this item be closed? Seems this is done, no?

@ericstj

[2017-06-13 16:32] emgarten commented on #5400
As @davidfowl mentioned removing the top level dependency and relying on the transitive dependency will give you the behavior you are expecting here.

Restore allows the *nearest* dependency to override to give the project author better control over dependency packages. If for example another package brought in a higher version of a package that had an issue, or you did not want to use that versio

[2017-06-13 16:45] emgarten commented on #5399
Related to https://github.com/NuGet/Home/issues/2393

[2017-06-13 16:57] ericstj commented on #3576
Yeah, this is done.

[2017-06-13 16:57] #3576 closed, assigned to nobody

[2017-06-13 17:01] emgarten commented on #5393
Installed packages shows packages installed to your project. The source no longer matters at that point in my opinion, and trying to filter based on this causes the following problems:

* If a source is removed or a package is removed from a source the installed package would no longer appear unless an *unknown* option was added to the source list.
* Users do not expect to go to the installed tab

[2017-06-13 17:03] TimLovellSmith opened #5401 "Please cache package search results while doing update package for multiple projects in solution!"
## Details about Problem

NuGet product used: VS UI

NuGet version (x.x.x.xxx): 3.5.01737

dotnet.exe --version (if appropriate): 1.0.0-preview2-003131 but does not apply for this scenario...

VS version (if appropriate): 2015 Update 3 (14.0.25431.01)

OS version (i.e. win10 v1607 (14393.321)): Server 2012 R2

## Detailed repro steps so we can see the same problem

1. I have a giant solution with

[2017-06-13 17:04] emgarten commented on #5393
Having an installed filter on the browse tab would make more sense to me than filtering the installed tab, but this extra knob would be confusing. Overall I think this is trying to solve a very specific and advanced scenario, it should be done in the package management console instead.

[2017-06-13 17:11] emgarten commented on #5386
This error can occur when the project dependency project is invalid or when the file is missing on disk.

I'm not able repro this locally when restoring. @martincostello are you seeing this locally, or only on appveyor?

[2017-06-13 17:13] martincostello commented on #5386
I'm seeing it both on my laptop locally and in AppVeyor.

[2017-06-13 17:17] ericstj opened #5402 "Add 'list' command to NuGet.CommandLine.XPlat"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
dotnet.exe

NuGet version (x.x.x.xxx):
4.3.0.2418

dotnet.exe --version (if appropriate):
2.0.0-preview1-005977

VS version (if appropriate):
N/A

OS version (i.e. win10 v1607 (14393.321)):
win10 v1703 (15063.296)

Worked before? If so, with which NuGet version:
Worked with nuget.exe

## Detail

[2017-06-13 17:21] emgarten commented on #5385
For reference binding redirects are handled here: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Runtime/BindingRedirectManager.cs

NuGet is using XDocument to handle reading/writing the file.

[2017-06-13 17:36] emgarten commented on #5372
@dazinator please ping this issue if you are still seeing this problem and have a repository I can try reproing this in. Thanks!

[2017-06-13 17:36] #5372 closed, assigned to nobody

[2017-06-13 17:40] #5355 closed, assigned to nobody

[2017-06-13 17:45] emgarten commented on #5386
@martincostello can you try with the latest preview2 CLI?  The error messages have been improved in this area, it should give you a slightly more helpful message.

[2017-06-13 17:46] martincostello commented on #5386
@emgarten Sure, I'll update the tooling later this evening and see what happens.

[2017-06-13 18:06] mhutch commented on #5369
The use case here is that I am building a package that contains MSBuild targets and tasks. The project references a NuGet package using `PrivateAssets="all`. The dll from the referenced NuGet package ends up in the output folder, however NuGetizer doesn't recognize it as project output, so it's not included in _my_ package even though it's needed by my tasks assembly.

I confirmed that the resolve

[2017-06-13 18:09] emgarten commented on #5401
@TimLovellSmith do you get the same result when running ``Update-Package Newtonsoft.Json -version 9.0.1`` from the package manager console?

For a single command all feed data *should* be cached between projects, you shouldn't see multiple GET requests for the same URL. From your log it looks like this may have an issue.

[2017-06-13 18:10] vdevappa commented on #175
I get this issue.

![image](https://user-images.githubusercontent.com/22800346/27097396-1db2d3b8-5042-11e7-9625-2f53490e4911.png)

[2017-06-13 18:12] #4803 closed, assigned to nobody

[2017-06-13 18:14] #5376 closed, assigned to nobody

[2017-06-13 18:14] emgarten commented on #5402
@nkolev92 is there anything preventing this from working xplat now that you updated the list command for nuget.exe?

[2017-06-13 18:16] danroth27 opened #5403 "Warnings when creating ASP.NET Core Web App with latest 2.0 preview2 CLI"
Here are the warnings I get when creating a new ASP.NET Core Web App:

[code]

Note that these aren’t downgrades. This is the expected behavior where NuGet has done the work to figure out the best packages to use.

The information is still useful, but I believe the severity for these "approximate" best matches should be informational, not warning.

[2017-06-13 18:19] nkolev92 commented on #5402
The list APIs are cross-plat so I think the only work required is hooking it up.

[2017-06-13 18:23] jainaashish opened #5404 "[Watson] clr20r3: CLR_EXCEPTION_System.IO.IOException_80070020_Microsoft.VisualStudio.ProjectFlavoring.dll!Microsoft.VisualStudio.Shell.Interop.VsPropertyExtensions.SetProperty"
More details in internal bug# 441119

[2017-06-13 18:29] natidea opened #5405 "NU1201 Does Not Produce a Library Id"
Warning NU1201 Project is not compatible with [targetframework], does not produce a LibraryId pointing to the project reference that is broken. Hence there is no way to attach the resulting diagnostic to the dependencies tree in the solution explorer.

NuGet version: 4.3.0-preview3-4146

Tracking as part of https://github.com/dotnet/project-system/issues/2436

/cc @emgarten @mishra14

[2017-06-13 18:50] emgarten commented on #5358
@Xarkam would you be able to get a network trace of what is happening? *Fiddler* is a tool that can help with this.

Are you using any proxies?

[2017-06-13 18:56] dsplaisted commented on #5320
Directory.Build.props is a [feature of MSBuild 15](https://docs.microsoft.com/en-us/visualstudio/msbuild/what-s-new-in-msbuild-15-0), and is not specific to SDK-style projects.

Can you move the `PackageReference` to a Directory.Build.targets file and condition it on whether `TargetFramework` is set?  (With the 2.0 SDK, you will be able to check the [`UsingMicrosoftNETSdk` property](https://github

[2017-06-13 19:10] dtivel commented on #4949
Also https://github.com/NuGet/Home/issues/4615

[2017-06-13 19:15] mishra14 commented on #5405
Issue could be here: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/RestoreCommand/CompatibilityChecker.cs#L96

Talking with @emgarten on this.

[2017-06-13 19:15] clairernovotny commented on #5320
Is there any default setting for `PackageRestoreType` that can be checked instead since some projects opt-in to PackageRef by default like UWP. Just seemed like unexpected behavior that would bite people?

[2017-06-13 20:10] jjanuszkiewicz commented on #5393
(I'm the author of the #5340)

@emgarten The offline support and the case of a source being removed are very fair points. They give me a new perspective on this issue. In that case, what still remains is simply the fact that the behaviour of that source filter is confusing on Installed and Consolidate tabs. This is - from user's perspective - the same UI element as on Browse and Updates, but its f

[2017-06-13 20:15] jjanuszkiewicz commented on #5393
Whichever way this evolves, I think the UI could somehow indicate what the source filter does in each of the views. Even if its function doesn't get changed after all, it would prevent users (such as me) from thinking there is a bug :-) #5394

[2017-06-13 20:21] emgarten commented on #5393
I agree, I think this is the main problem with the UI. The installed tab is the same as browse, but using the project as the source, it's very confusing to have all the same options there.

[2017-06-13 21:04] pvandervelde commented on #5398
The scenario is this:

We have 2 private NuGet feeds, one is an HTTP one (currently an instance of https://github.com/themotleyfool/Klondike) which contains both the final version of our internal packages and mirrored packages from nuget.org. The second one is on a Windows file share.

The feed on the file share is used during development of our NuGet packages. Because NuGet doesn't cache packages

[2017-06-13 21:07] pvandervelde commented on #5324
@emgarten @maartenba Any idea on what is going on here? Is there a switch or configuration setting we can use to make this work as expected or are we doing something wrong?

[2017-06-13 21:59] #5362 closed, assigned to nkolev92

[2017-06-13 22:19] tkrick commented on #4394
sorry for long latency, quite busy this last week.

Sure, ideally packages still being consumed won't be deleted. But different parties and reasons for deletion mean that deletion of even consumed versions will happen (more on this below). In that case, they won't be buildable. It gives a clear signal that the build is no longer able to be fulfilled (ideally with a reason why like deleted due to r

[2017-06-13 22:24] mishra14 commented on #3688
@Kirua88  that is currently not supported. BUt you can always do it manually by locating the global packages cache -
`NuGet.exe locals -l global-packages`
And then delete the package that you need to delete.

I will make this a feature request and we will consider this. Thanks for taking the time to request this feature.

[2017-06-13 23:27] danroth27 commented on #5403
Actually, looks like these are totally valid issues with the packages. They depend on package versions that don't exist.

[2017-06-13 23:27] #5403 closed, assigned to nobody

[2017-06-14 02:50] emgarten commented on #5324
You could try turning on long path support in Windows 10.

Apart from that there is no option to disable this in NuGet. It looks like NuGet should catch this exception when simply probing for packages instead of failing.

[2017-06-14 03:00] emgarten commented on #5398
Are you able to mount the share to a local drive using ``net use`` or ``substr`` first and authorizing there? You could point NuGet at that folder path afterwards.

Updating dependencies during development has been made easier in VS 2015 with project.json and VS 2017 with PackageReferences, both of these allow floating versions and can allow you to take the highest package version each time you re

[2017-06-14 03:11] pvandervelde commented on #5324
Wouldn't it make sense for NuGet to take into account if the ExcludeVersion flag has been set? I'm assuming the majority of the code does but apparently the search / path calculation does not?

[2017-06-14 03:14] pvandervelde commented on #5398
I'll try the `net use` / `substr` approach.

As for `project.json` / `PackageReferences` that won't help us much because we have to support a number of versions of our software so we don't necessarily want to take the latest version :(
We might have a look to see if we can add a configuration option to NuGet to turn off caching selectively.

[2017-06-14 03:47] emgarten commented on #5324
It would in this scenario. But the vast majority of the scenarios always use versions and this is taking advantage of the same core code for reading package folders.

[2017-06-14 04:11] pvandervelde commented on #5324
Ah right. In that case it would probably be enough for NuGet to catch the exception if that is possible.

[2017-06-14 05:00] srivatsn commented on #5312
No in VS, the project system talks to the language service to get that information and not in a task.

[2017-06-14 05:38] johnkors commented on #1605
re: closing . Is this being followed up in another place, @davidfowl ?

[2017-06-14 07:13] emgarten commented on #5384
@matthid thanks for the great steps and write up on the issue. I was able to repro this with nuget.exe pack.

NuGet moved to using *System.IO.Compression* for cross platform support in NuGet 3.5.0 instead of *System.IO.Packaging*. Pack still writes out the OPC files needed by older clients, but newer clients no longer read them.

If you are seeing this in VS 2015 you are likely using 3.4.4 which i

[2017-06-14 07:45] ttvrdon opened #5406 "Nuget.exe - exception when finding dependencies during pack"
## Details about Problem
NuGet product used: NuGet.exe
NuGet version: 4.1.0.2450
VS version: 15.2
OS version: win10 v1511 (10586.916)

## Detailed repro steps so we can see the same problem
Used command: NuGet.exe pack example.scproj -Verbosity detailed

Example Project dependencies (packages.config):
`<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Api.Client.Core" version="2.0.3

[2017-06-14 07:50] emgarten opened #5407 "ConfiguredProjectVersion has decremented error"
End to end tests cause the following prompt in recent builds:

`
The ConfiguredProjectVersion has decremented, outside the context of an active project config change.  This is likely an error, and can lead to hangs.
`

[code]

[2017-06-14 07:59] matthid commented on #5384
So the fix will be that those packages will work in newer NuGet versions?

To be honest I found other (similar) issues when you don't delete '_rels'
or the content xml file, but hadn't time to investigate jet. I think they
might hit VS2017 as well.

On Wed, Jun 14, 2017 at 9:13 AM, Justin Emgarten <notifications@github.com>
wrote:

[2017-06-14 08:09] Xarkam commented on #5358
Hello, I don't use any proxy.

I have installed fiddler and I test in next few days.

[2017-06-14 08:16] emgarten commented on #5384
nuget.exe pack needs to be fixed in this case I would say. The error in VS looks like it is caused by the invalid package, older clients will hit this also which is a problem.

VS 2017 shouldn't need to open `_rels`, but if you hit any issues there please file it and I'll take a look.

I haven't had a chance to debug through nuget.exe pack yet to see why the duplicate `psmdcp` but it seems incorre

[2017-06-14 09:49] csalgo70 commented on #1630
I wrote a power shell script to push it to our internal server.

[code]

[2017-06-14 11:34] lost-valley commented on #5400
Thank you both for your answers.
<br>

At the time of writing my original post, I assumed, that there was at first just a direct reference to .Localization, and that later on, .Mvc was added.
Now, as I write this, I realize that for Mvc and Localization it's highly unlikely that Mvc would be added "later on", but the argument is imho valid for scenarios with other packages.

I don't know what's a

[2017-06-14 13:12] nguerrera commented on #5312
Parsing the file in a task is supremely impractical. We'd have to support 3 languages and either create a DLL hell situation depending on compiler API or risk getting it wrong. We can look in to raising from compiled assembly via FileVersionInfo. Turns out we need this code for generating satellite with assembly generation turned off.

[2017-06-14 14:38] AArnott opened #5408 "Regression: msbuild /t:pack fails with `The file '' to be packed was not found on disk.`"
**Repro machine**: d15rel 26612.0

This regressed since 15.2 and earlier 15.3 previews.

Execute these commands in a VS2017 Developer Prompt:

[code]

**Expected**

A successful build with two output packages

**Actual**

[code]

[2017-06-14 15:00] ttvrdon opened #5409 "Nuget.CommandLine Assembly information version parsing"
## Details about Problem

NuGet product used: NuGet.exe
NuGet version: 4.1.0.2450
VS version: 15.2
OS version: win10 v1511 (10586.916)

## Detailed repro steps so we can see the same problem

Use NuGet.exe pack command for any assembly with following AssemblyInformationalVersion: `1.3.5+Branch.release/releaseName.Sha.dde81779cf90c3332a9ae5d0c1b717870517259c`

Version part after + character are Bui

[2017-06-14 15:54] tmds commented on #5380
@emgarten I hope this gets solved for .NET Core 2.0. I'm working on a tool that generates code using Roslyn and it would be a shame if it can't work due to not being able to restore packages.

[2017-06-14 16:41] diverdan92 commented on #5307
First, I want to thank everyone for investing their time in providing such amazing feedback regarding this feature.

Next, I want to take some time to discuss some of the most common feedback we have received regarding this feature, and how we plan to address it.

Some of the top recurring feedback we have heard is:

* By having reserved package ID prefixes, we are creating a 2-tier system with 'h

[2017-06-14 16:54] danroth27 opened #5410 "dotnet restore fails due to disabled machine wide feed"
Repro steps:

[code]

The problematic machine wide feed was originally setup when I installed the service fabric SDK, which I have since removed. The configuration of the service fabric machine wide feed was left behind at `C:\Program Files (x86)\NuGet\Config\ServiceFabricSDK.config`:

[code]

The specified folder for the service fabric packages no longer exists, as indicated by the restore error.

[2017-06-14 16:56] danroth27 commented on #5410
Remove `C:\Program Files (x86)\NuGet\Config\ServiceFabricSDK.config` does resolve the error.

[2017-06-14 17:01] rrelyea commented on #5409
Please use NuGet.exe 4.3.0 or later if you'd like it to work with SemVer 2.0.0

http://dist.nuget.org/index.html has 4.3.0 preview1 available today.

[2017-06-14 17:01] #5409 closed, assigned to nobody

[2017-06-14 17:59] #5391 closed, assigned to alpaix

[2017-06-14 18:01] #5392 closed, assigned to alpaix

[2017-06-14 18:06] #5258 closed, assigned to alpaix

[2017-06-14 18:37] martincostello commented on #5386
Issue persists with `2.0.0-preview2-006120`.

[2017-06-14 18:39] prabirshrestha commented on #951
Another interesting product:

https://inedo.com/proget/details#repository

[2017-06-14 19:05] rohit21agrawal commented on #5408
@AArnott none of your *.resources.dll have "FinalOutputPath" metadata set on them which is something msbuild always does on all project outputs, and Pack relies on this metadata to figure out the source location for a file.

[2017-06-14 19:16] rrelyea commented on #5325
We need this error to be checked to work in VS2015 and NuGet.exe code paths.

We need to understand what to check for. Can you folks (@ericstj @dsplaisted) tell us that?

[2017-06-14 19:30] rrelyea commented on #5119
Discussed with @emgarten

As @dasMulli says, it can work from command line, and will be easier with implicit restore in cli 2.0.0.

However, when you hinge what restore should do based on Debug/Release this is problematic inside of VS.
Currently, we don't use configuration when we restore.
Batch build will also not work, as you might build debug and release, but it would need 2 different restores.

[2017-06-14 19:30] #5119 closed, assigned to nobody

[2017-06-14 19:34] danroth27 opened #5411 "dotnet restore help text should specify default verbosity"
Looking at the `dotnet restore` help text I had expected the default verbosity level to be normal, but its actually minimal. I suggest updating the help text to clarify the default is minimal. The makes it clearer that you generally want to jump to normal when you have restore issues (ex. to see which feeds you have configured and where they are configured).

[2017-06-14 19:35] emgarten commented on #5386
@martincostello same error message?

[2017-06-14 19:36] rrelyea commented on #5080
@nkolev92  - anything left here undone? Should we close?

[2017-06-14 19:37] martincostello commented on #5386
Yep, everything is the same as before. It just says it can't resolve the main project from the test project. There's no further detail compared to with preview 1.

[2017-06-14 19:47] rrelyea commented on #5096
Covered by internal bug 401176, which is still open.
Fix is in flight, being validated.

[2017-06-14 19:47] #5096 closed, assigned to alpaix

[2017-06-14 19:48] rrelyea commented on #5070
This was our original plan. no longer needed though.
Now, targets in VS2017/CLI and in an installable VS2015 based MSI will handle.

[2017-06-14 19:48] #5070 closed, assigned to nobody

[2017-06-14 19:50] rrelyea commented on #4977
@shishirx34 did this already right? (title was mislabeled)

[2017-06-14 19:52] rrelyea commented on #4939
CLI is now using these. Enabled it by providing support to set fallback folders via msbuild props.
(otherwise, setting via nuget.config didn't work -- as it impacted v1 and v2 cli -- which didn't work with v1)

[2017-06-14 19:52] #4939 closed, assigned to nobody

[2017-06-14 19:53] rrelyea commented on #4922
@mishra14 - this could be done now?

[2017-06-14 19:54] nkolev92 commented on #5080
@rrelyea This should be safe to close.

[2017-06-14 19:55] nkolev92 commented on #5061
Closing for now.
Throughout the implementation we decided that there is no need for this as it would kill the no-op frequency in VS.

[2017-06-14 19:55] #5080 closed, assigned to nkolev92

[2017-06-14 19:59] shishirx34 commented on #4977
@rrelyea Yes, with this PR: https://github.com/NuGet/NuGet.Client/pull/1399
Tracking issue was: https://github.com/NuGet/Home/issues/4964
May be close this one as duplicate?