[2016-04-06 23:26] #2420 closed, assigned to jainaashish

[2016-04-06 23:54] rrelyea commented on #2426
in dev/release-3.4.2 and release-3.4.2-dev15

[2016-04-06 23:54] #2426 closed, assigned to emgarten

[2016-04-06 23:55] joelverhagen commented on #2458
Related: https://github.com/NuGet/Home/issues/1835

[2016-04-07 00:03] joelverhagen opened #2476 "Design and implement a notion of package type to support tool packages"
The goal is have a way to mark a package as a tool so that it can be properly installed to the "tools" node in the project.json (instead of under "dependencies").

[2016-04-07 03:01] eerhardt opened #2477 "Need better --help doc on `dotnet restore --fallbacksource`"
I had a lot of trouble trying to figure out the difference between:

`dotnet restore --source`
and
`dotnet restore --fallbacksource`

Looking at the `dotnet restore --help` didn't really help me learn what these two options do:

[code]

In reality, what I learned by talking to other developers is that:
1. --source will use only your specified source, and override any sources in your NuGet.config
2

[2016-04-07 07:43] kreuzerkrieg commented on #2441
Thanks

[2016-04-07 09:55] Lechus commented on #2456
Hi @yishaigalatzer

Request:

[code]

Response:
`HTTP/1.1 204 No Content`

[2016-04-07 10:02] yishaigalatzer commented on #2456
Thanks! Can you tell us exactly what action was this for? And also if you could paste the equivalent trace from 3.3

[2016-04-07 10:13] Lechus commented on #2456
Open Manage nuget packages for Solution with selected our teamcity nuget server. AS I see from Fiddler Nuget client is asking for all installed packages. Even if package is from this TC nuget server the response is empty.

Then there is a generic call(?)

[code]

And that returns just two packages - that are not built by TC.

Response (I left just one of two packages in response)

[code]

[2016-04-07 10:19] Lechus commented on #2456
@yishaigalatzer
Version 3.3

Request for installed package:

[code]

Response is valid, there is very long content (entries for all package versions) :
HTTP/1.1 200 OK

[code]

[2016-04-07 10:23] Lechus commented on #2456
Valid response for installed package from TC nuget server:

`<?xml version="1.0" encoding="utf-8" standalone="yes" ?><feed xmlns="http://www.w3.org/2005/Atom" xmlns:d="http://schemas.microsoft.com/ado/2007/08/dataservices" xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata" xml:base="http://teamcity.local:8080/guestAuth/app/nuget/v1/FeedService.svc/"><title type="text">Package

[2016-04-07 10:28] Lechus commented on #2456
Nuget 3.3 Request for all packages:

[code]

And it gots VALID response with ALL packages (here is just one entry):

HTTP/1.1 200 OK
Content-Length: 39639

[code]

[2016-04-07 10:32] Kanimozhi12 commented on #2454
I have upgraded to latest version 4.1 issue is resolved . Now i have some other issues in using private feed url. Waiting for 4.2 release..let me know once released.

[2016-04-07 10:49] yishaigalatzer commented on #2454
Please let me know more details of your issue and feel free to email me for an early preview of 3.4.2 yigalatz@microsoft

[2016-04-07 11:06] Kanimozhi12 commented on #2454
It has been discussed here https://github.com/NuGet/Home/issues/2439

[2016-04-07 12:09] HugoLemieux commented on #2466
I would be glad to be to share the project but I am not able to attach it.

When I select or drag and drop a ZIP file, I received this error message : Unfortunately, we don’t support that file type.  Choose Files Try again with a PNG, GIF, JPG, DOCX, PPTX, XLSX, TXT, PDF, or ZIP.

Is there any other way to share it?

[2016-04-07 12:18] HugoLemieux commented on #2466
I am sending you the screenshot of my VS solution showing that the reference added by the package NuGet.Core (this name is used as an example) is trageting the project item NuGet.Core.dll that was present in the project before but not as a reference.

Do not hesitate to ask me to show you any additional element not present in the screenshot.

![image](https://cloud.githubusercontent.com/assets/123

[2016-04-07 12:19] granak opened #2478 "Unable to install packages from own Artifactory"
Hello,

I have problem with installation own (company) packages from our own artifactory after update VSIX to 3.4.1 (current latest 807) version. I am able to see list of packages, but I can't see version of particular packages. Also I'm not able to install package from console (error "Can't find metadata for {package-name}").
After downgrade to 3.3.0 version everything works fine.

Something was

[2016-04-07 12:42] forderud commented on #1864
No, not yet...

[2016-04-07 13:25] klemmchr opened #2479 "Can't install packages via Package Manager"
Hey guys,

currently I can't install some specific packages via the package manager interface. Some of these packages are:
- MVVM Light
- MahApps.Metro

What I already did:
- Restarting VS
- Restarting PC
- Changing the package source (like shown in the workaround)
- Creating a new Project/Solution

When I try to install the mentioned packages via Packet Manager Console it works fine so this issue

[2016-04-07 14:49] kzu opened #2480 "Client v3.4 is not up in the distribution link"
Even if NuGet v3.4 client has been shipped as a VSIX (https://visualstudiogallery.msdn.microsoft.com/5d345edc-2e2d-4a9c-b73b-d53956dc458d), it's still not available from the console client url at https://dist.nuget.org/win-x86-commandline/latest/nuget.exe (not to mention the "old" http://nuget.org/nuget.exe which was never updated after 2.8...

[2016-04-07 16:31] alpaix commented on #2474
Disabled catch-all statement to reveal the actual exception.

[code]

Most likely error occurs due to certain TeamCity build agent settings.

[2016-04-07 16:45] yishaigalatzer commented on #2480
We plan to update to 3.4.2 by tomorrow. We do not plan to update the old link, because 3.X introduces breaking changes and we want to give it more time before we update there.

In the meantime you can find the bits on myget/nugetbuild feed - http://myget.org/gallery/nugetbuild (or on the latest link in dist)

[2016-04-07 16:45] #2480 closed, assigned to nobody

[2016-04-07 16:47] yishaigalatzer commented on #2479
Thanks for reporting this issue. We plan to address with a fix shortly.

You are using the curated feed instead of the main nuget.org. The curated feed filters out a lot of packages.

Possibly this is because you are hitting https://github.com/NuGet/Home/issues/2445. After adding the feed, you should switch to the nuget.org source and everything would be good again.

[2016-04-07 16:47] #2479 closed, assigned to nobody

[2016-04-07 16:48] yishaigalatzer commented on #2477
Lets make sure this gets updated both for the xplat and the commandline

[2016-04-07 16:52] yishaigalatzer commented on #2478
I'm guessing this is a duplicate of - https://github.com/NuGet/Home/issues/2439 (it exposes a bug in Artifactory case sensitivity, but we decided to fix in NuGet client to avoid breaking behaviors with old servers.

Here is a link to a build (not the final release, and not localized) that should fix this issue. https://www.myget.org/F/nuget-vsix/vsix/NuGet.0d421874-a3b2-4f67-b53a-ecfce878063b-3.4.

[2016-04-07 16:53] yishaigalatzer commented on #2474
Thanks @alpaix lets be 100% sure today before we ship :)

[2016-04-07 16:54] #2471 closed, assigned to nobody

[2016-04-07 17:13] yishaigalatzer commented on #2466
Thanks for coming back with more info,  unfortunately I still don't understand what exactly you are trying to do? Can you describe step by step what are you doing to get yourself in that state?

As for sharing you can share a zip file on dropbox.

[2016-04-07 17:35] yishaigalatzer commented on #2454
Sounds good, closing this issue

[2016-04-07 17:35] #2454 closed, assigned to nobody

[2016-04-07 17:36] BrentAllsop commented on #1138
Paulhickman's solution worked for me, thank you!!!

[2016-04-07 17:43] yishaigalatzer commented on #2456
We think we got a fix for this. Can you please try the following private build?

https://www.myget.org/F/nuget-vsix/vsix/NuGet.0d421874-a3b2-4f67-b53a-ecfce878063b-3.4.2.821.vsix

[2016-04-07 17:46] yishaigalatzer commented on #2456
Here is what I think the duplicate bug is - https://github.com/NuGet/Home/issues/2439

[2016-04-07 18:20] ericmitt commented on #1864
Hi Frederik,
I'm PM in VC++ Team, can we discuss offline about this?
my email: ericmitt@microsoft.com
Talk to you soon
Eric

[2016-04-07 18:36] zhili1208 opened #2481 "Intellisense error: Could not find a part of the path "[file path]" during uninstall nuget.server in MVC project"
Create MVC or WebForm project, open NuGet UI, uninstall NuGet.Server package meet error
1  file -> new project -> c# -> web asp .net web application -> mvc .
2  Right click project , open  manage nuget  package
3  install package nuget.server, then uninstall it. Show the error.

it's not an regression.

[2016-04-07 18:38] HugoLemieux commented on #2466
I am trying to add or update a package that will add or update a reference targeting a library having the same name as an existing project item.

Here are the steps I have sended in the #2438 issue :
{
In Visual Studio:
1. Create a new library project named with the same name as a known added library by a known package (ex.: NuGet.Core)
2. Build it
3. Create another library project
4. Add the firs

[2016-04-07 18:47] emgarten opened #2482 "Print stack traces based on an env var or setting"
For CI scenarios users often run with verbosity set to minimal or quiet. This makes it hard to track down inconsistent crashes.

To fix this NuGet should optionally print the full stack trace on exceptions/crashes when an environment variable or nuget.config setting is enabled.

Note that stack traces cannot be displayed all of the time since many expected errors come through as exceptions, when u

[2016-04-07 18:55] yishaigalatzer commented on #2466
Thanks for the project and the repro steps!

This doesn't look like a NuGet issue but a core visual studio behavior. CC @AArnott

Here are my repro steps:
1. Take your sample and remove the references and packages.config file
2. Right click on the references node and click Add Reference
3. Browse to packages\nuget.core and add nuget.core.dll
4. Expected: That dll gets added
5. Actually: The nuget.

[2016-04-07 23:02] TheRealPiotrP opened #2483 "Move NuGet xplat to Microsoft.NetCore.App and netcoreapp1.0"
CLI + Extensions are stabilizing on TFM netcoreapp1.0 and dependency package Microsoft.NetCore.App for RC2. The same tfm and dependencies should be reflected in NuGet xplat client.

[2016-04-07 23:08] maartenba opened #2484 "When pushing to custom, non-NuGet.org feed, symbols should not be pushed to SymbolSource automatically"
When pushing to custom, non-NuGet.org feed, symbols should not be pushed to SymbolSource automatically.
### Given
- NuGet Version 3.4.2.825
- A `Demo.Framework.1.0.5941.40948.nupkg` and a `Demo.Framework.1.0.5941.40948.symbols.nupkg` in the same directory
- `nuget push Demo.Framework.1.0.5941.40948.nupkg -ApiKey xyz -Source http://custom.server/api/v2/package`
### Expected

[code]

(and no push to

[2016-04-07 23:17] ericstj opened #2485 "Restore from a directory with inaccessible subdirectories fails"
Drop a project.json in a folder [somePath]
run `md foo`
run `icacls foo /deny Everyone:(F)`
run `nuget restore`

Expect: successful restore
Actual: fail with **Access to the path '[somePath]\foo' is denied.**

[2016-04-07 23:23] yishaigalatzer commented on #2485
Will address if we get user feedback on this issue

[2016-04-07 23:24] yishaigalatzer commented on #2483
@piotrpMSFT we took a change, but I assume this is not going to meet ask mode, so taking for RTM.

@pakrym this is what you just committed right?

[2016-04-07 23:26] TheRealPiotrP commented on #2483
Ok. We're taking a bunch of changes like this for RC2 at the moment. If needed, we'll leave imports for nuget.

[2016-04-07 23:30] yishaigalatzer commented on #2483
Feel free to make an ask for RC2, we could look at merging into 3.5Beta early next week. We are all heads down on shipping 3.4.2 tomorrow

[2016-04-07 23:36] yishaigalatzer opened #2486 "Hide dependency options when using project.json"
Install and Update options and uninstall options are not supported in project.json, we should hide them in these scenarios (xproj, csproj + project.json)

![image](https://cloud.githubusercontent.com/assets/1238711/14370015/c920e1b2-fcde-11e5-885c-507308b64ee4.png)

[2016-04-08 00:02] jasonmalinowski commented on #2436
Maybe the real question I have is "what's the difference between this and just targeting the runtime with a runtime target", as it applies to the project types we see in the MSBuild world? What's the benefit for the newer/different model? What does it mean to be targeting a RID that you didn't list?

(I'm not fighting back on implementing this; I just don't understand what this changes to have any

[2016-04-08 00:14] alpaix commented on #2474
Verified build agent running on the same vm (w2012r2) but not as a service completes build with no issues. That confirms my theory WPF code is not designed to run with windows service. So that's definitely not a bug.

[2016-04-08 00:14] rrelyea opened #2487 "Double hit of network when fetching update count for VS UI"
Avoid perf problem.

[2016-04-08 00:15] joelverhagen commented on #2487
Fixed with https://github.com/NuGet/NuGet.Client/pull/476.

[2016-04-08 00:26] #2487 closed, assigned to joelverhagen

[2016-04-08 00:29] alpaix commented on #2474
Quote from [msdn](https://msdn.microsoft.com/en-us/library/windows/desktop/cc817578%28v=vs.85%29.aspx):

[2016-04-08 00:52] nbarbettini commented on #1792
Agreed, this is a current pain point with transitive restore - which is otherwise awesome. :smile:

[2016-04-08 00:53] yishaigalatzer opened #2488 "dotnet restore puts packages in an unexpected location"
From @lodejard

have a solution with two projects:
./src/ClassLibrary1/project.json
./src/ClassLibrary2/project.json

in the root of the solution I run:
$ dotnet restore --packages foo

Expected: the folder foo is created in the current directory, and it contains the packages
./foo/*\*  <-- packages here
./src/ClassLibrary1/project.json
./src/ClassLibrary2/project.json

Actual: the folder foo is c

[2016-04-08 00:58] maartenba commented on #2484
Thanks! Rebased it in (and ported fix to 3.4.2 + 3.4.2 dev15).

[2016-04-08 00:58] #2484 closed, assigned to maartenba

[2016-04-08 00:59] yishaigalatzer opened #2489 "global.json cannot isolate the packages folder per project"
I have a solution with global.json:
./global.json

[code]

[2016-04-08 04:56] davidfowl opened #2490 "Packages cannot depend on projects"
In `dnu` adding a `global.json` search path allowed any package dependency to be replaced by a project. This feature was removed in a refactoring and needs to be brought back.

[2016-04-08 05:25] davidfowl commented on #2490
Here's the culprit https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.DependencyResolver.Core/PackagingUtility.cs#L37

[2016-04-08 05:36] kingerja opened #2491 "Installing nuget package with embedded .nupkg files from vso feed fails to lay down .nupkg file"
I tried the following commands.

nuget.exe install WASDK-v2.6.Quarantine -version 1.0.1 -source https://msdata.pkgs.visualstudio.com/DefaultCollection/_packaging/SQLDS_Shared/nuget/v3/index.json -outputdirectory %cd%\installedpackages

nuget.exe restore packages.config -source https://msdata.pkgs.visualstudio.com/DefaultCollection/_packaging/SQLDS_Shared/nuget/v3/index.json -outputdirectory %cd%\i

[2016-04-08 06:36] granak commented on #2478
@yishaigalatzer Thank you. The issue got resolved in this build.

[2016-04-08 06:36] #2478 closed, assigned to nobody

[2016-04-08 13:00] guoliang opened #2492 "Using properties such as $(SolutionDir), $(ProjectDir), or $(CustomDefinedProperties)"
I don't know if the feature is there already.

But is it possible in nuget.config use MSBuild properties?
E.g. I want the following to be possible

[code]

More specifically I want to be able to use $(CustomDefinedProperties)

[2016-04-08 13:36] MademoiselleH opened #2493 "3.4 VS2015 and private nuget feed"
Hello

I've just start using VS2015, previously I used 2013 with my organization private nuget feed.
When I try to change the source from nuget package manager parameters, my choice isn't taken into account. Whatever I try, I can get my own feed.

I had to uninstall the manager and get the 3.3 one.

Is it a problem already known ? Will it be fixed ?

[2016-04-08 13:56] yishaigalatzer commented on #2478
Wonderful! Thanks for validating.

[2016-04-08 14:16] maartenba opened #2494 "nuget feed returning an unlisted package for NServiceBus"
**(repro in https://github.com/NuGet/Home/issues/2494#issuecomment-207448054)**

_From @SimonCropp on April 8, 2016 11:59_

[code]

gives

[code]

but `6.0.0-unstable0257` is unlisted https://www.nuget.org/packages/NServiceBus/6.0.0-unstable0257

i tried listing and unlisting. but it doesnt seem to work, or i am suffering from caching

_Copied from original issue: NuGet/NuGetGallery#2977_

[2016-04-08 14:16] maartenba commented on #2494
_From @SimonCropp on April 8, 2016 12:10_

using VERSION 3.4.1.807

[2016-04-08 14:16] maartenba commented on #2494
_From @SimonCropp on April 8, 2016 12:14_

pinged some others. does not happen on 3.3.0.167 or 2.8.50506.491. but someone else could replicate on  3.4.1.807

[2016-04-08 14:16] maartenba commented on #2494
_From @SimonCropp on April 8, 2016 12:16_

and just to be clear i am happy for that unstable0257 version to be permanently removed if that is the easiest solution

[2016-04-08 14:16] maartenba commented on #2494
_From @SimonCropp on April 8, 2016 12:18_

v2 feed does not have the problem

[code]

[2016-04-08 14:16] maartenba commented on #2494
I've removed the package for now. The fact that this happens on 3.4 and does not happen on 3.3.0.167 or 2.8.50506.491 makes me believe this is a client issue.

Did some testing on a test package, this seems to happen when some versions are listed and some are unlisted. For `MaartenTestIsLatest` there are 0.0.1 (listed) and 0.0.2 (unlisted) which shows both versions in VS:

[code]

In this case 0.0

[2016-04-08 16:30] joelverhagen opened #2495 "Improve performance when counting packages that need updates in VS UI"
Right now, we load the registration index and all pages. This is done pretty frequently, including:
- Every time the UI is opened.
- Every time the little search refresh button is clicked.
- More... I am not an expert in the area so it's hard to pin down for me.

We should think about the following improvements:
1. Add some kind of short-term caching. Right now, we never cache registration blobs.

[2016-04-08 17:07] rrelyea commented on #2475
in release-3.4.2 and release-3.4.2-dev15. about to verify.

[2016-04-08 17:07] #2475 closed, assigned to emgarten

[2016-04-08 17:40] zhili1208 opened #2496 "On NuGet UI, when one of all sources is down, NuGet only show first page from other sources"
Repro Step:
1. In setting, add a bad source to package sources. make sure there is one good source and one bad source in package sources.
2. open a console app and open nuget UI, select all for active source.

expect: show error for bad source, still load well from good source.
actual:
![allsource2](https://cloud.githubusercontent.com/assets/7131513/14392423/1fe58c04-fd76-11e5-88e7-939b35103a47.PN

[2016-04-08 18:06] emgarten opened #2497 "Search requests all package data twice for each search item selected"
Steps
1. Open fiddler
2. Search for a package
3. No other actions
4. View all requests for that package in fiddler

For v2 sources FindPackagesById is requested 3 times for the top item. Clicking on an item in the search results causes 2 http requests to FindPackagesById. This is likely 1 request for the package details and 1 request for the list of all versions.

For v3 sources the registration i

[2016-04-08 18:18] skofman1 opened #2498 "Verify localization of new strings"
A test needed: verify that every displayed string, has corresponding values in all languages. This will prevent  a scenario when we add  a new string, but don't have it localized.

[2016-04-08 18:23] yishaigalatzer commented on #2493
We think it is fixed, can you please try:

https://www.myget.org/F/nuget-vsix/vsix/NuGet.0d421874-a3b2-4f67-b53a-ecfce878063b-3.4.2.821.vsix

[2016-04-08 18:25] yishaigalatzer commented on #2492
nuget.config is not tied to msbuild (nor it will ever be), nuget runs before msbuild, and works for other build systems that are not msbuild based. So you can't use msbuild properties in it. You could use relative paths and drop it in the right spot to resolve the SolutionDir issue.

[2016-04-08 18:27] yishaigalatzer commented on #2491
Looks like a duplicate of https://github.com/NuGet/NuGet.Client/pull/466 or https://github.com/NuGet/Home/issues/2354

[2016-04-08 18:27] deepakaravindr opened #2499 "E2E tests: Intermittent VS crash"
E2E tests: Intermittent VS crash. Will need to get a crash dump.

[2016-04-08 18:27] yishaigalatzer commented on #2491
In general we do not recommend including nupkg inside NuGet that's a major hack we don't want to support. We will take pull requests to address issues, but we will not actively invest in this area.

[2016-04-08 18:27] #2491 closed, assigned to nobody

[2016-04-08 18:30] deepakaravindr opened #2500 "E2E tests: Intermittent VS hang on Microsoft.Build"
UI thread looks like the following and the crash dump can be found on the nuget share

![image](https://cloud.githubusercontent.com/assets/2380340/14393721/43975612-fd7d-11e5-8e2f-54aa58d5a2f8.png)

[2016-04-08 18:51] yishaigalatzer commented on #2496
@zhili1208 - Please be specific about what is a bad source

[2016-04-08 18:55] yishaigalatzer commented on #2492
Closing because we do not intend to fix at the moment. But feel free to continue the discussion here

[2016-04-08 18:55] rrelyea opened #2501 ""nuget sources remove -name sourceName" leaves behind credentials in local config"
nuget sources remove will remove a source from both the main nuget.config and a local config.
However, it appeared to leave behind credential information in the local config.
Next time the config was changed, the credential information was dropped, since there was no matching source name.

[found as part of 3.4.2 test pass]

[2016-04-08 18:57] yishaigalatzer commented on #2489
Talking with @davidfowl we will drop the packages feature from global.json and keep it only in nuget.config to avoid duplication.

The path should be relative to the nuget.config on disk

[2016-04-08 19:08] pranavkm commented on #2482
Yeah, this would be great. We saw logs with
`error: Enumeration cannot continue because the collection was modified` without knowing what the underlying cause was.

Turning on verbosity to detailed, bloats the build logs. It'd be great if we had this flag so we could get detailed logs for things we could report.

[2016-04-08 19:09] alpaix commented on #2496
Repro'd with unreachable source url.

[2016-04-08 19:51] yishaigalatzer commented on #2498
This test should not be run as part of a regular build, because
1. Adding new strings will build the CI
2. The localization is built on a different server, so either the work is to merge the loc work into the main nuget CI build, or the test has to run on the second localization CI
3. The test should only run after localization pass
4. The test should include a mechanism to disable an error for a

[2016-04-08 19:54] #2492 closed, assigned to nobody

[2016-04-08 19:56] yishaigalatzer commented on #2456
@Lechus ping

[2016-04-08 20:02] spadapet commented on #1746
Also need to make relative paths work as normal sources:
    nuget push foo.nupkg -Source packages
    nuget push foo.nupkg -Source ..\packages
    nuget push foo.nupkg -Source .\packages

[2016-04-08 20:08] yishaigalatzer commented on #2426
Pre-release bits are here - https://www.myget.org/F/nuget-vsix/vsix/NuGet.0d421874-a3b2-4f67-b53a-ecfce878063b-3.4.2.821.vsix

We plan to push later today the final bits

[2016-04-08 20:19] yishaigalatzer commented on #2426
Filed a nexus issue to cover the root of the bug (although we will allow it going forward, it should be considered a hack and not a standard) https://issues.sonatype.org/browse/NEXUS-10062

[2016-04-08 20:20] stecydube opened #2502 "Packing symbols of a csproj with a reference to a VS2015 shared project does not include the sources of the shared project."
Issued the following

Package was created with source files from myclasslibrary but missing source files from referenced shared project (.shproj).
The output issued warnings to the effect that it can't find the files (they are in a separate folder along with the .shproj file).

[2016-04-08 20:25] maartenba opened #2503 "nuget.exe push timeout needs a better error message"
[code]

"A task was canceled." should probably be "Push timeout expired." or similar.

[2016-04-08 20:32] emgarten commented on #2497
Here are the results of 3.3.0 vs 3.4.2

Steps
1. Select nuget.org v2 as the source
2. Browse tab
3. Search for foo
4. Hit enter after searching

[code]

[2016-04-08 20:34] maartenba opened #2504 "nuget.exe push without specifying source should push to NuGet.org"
- NuGet Version: 3.4.2.828
- Default NuGet.config in user appdata
- `nuget push NuGetTestPackage.1.0.0.nupkg <api key>`

**Expected:**
NuGet pushes the package to NuGet.org

**Actual:**
Error message `Source parameter was not specified.`

[2016-04-08 20:37] yishaigalatzer commented on #2504
No, that's fine and a by design change

[2016-04-08 20:41] yishaigalatzer commented on #2502
Thanks for reporting this issue, we will take a look.

This is not going to be a high priority item, so if it is blocking you, consider submitting a pull request.

[2016-04-08 20:42] yishaigalatzer commented on #2502
CC @toddm

[2016-04-08 20:48] skofman1 commented on #2498
Moved to: https://github.com/NuGet/Engineering/issues/50

[2016-04-08 20:49] #2498 closed, assigned to nobody

[2016-04-08 21:01] captelias opened #2505 "Nuget.Server why is cachesize not configurable?"
in the packages.svc.cs code, the cache size is fixed at 100.
Why is that limited and not configurable?
that is causing several packages in my folder to drop out of the server, even though it is in the packages folder

[2016-04-08 21:12] damonwildercarr opened #2506 "NuGet 3.4.1.807 - No Longer See Versions for Packages from Artifactory Hosted Repo"
Just updated Visual Studio NuGet Package Manager for Visual Studio to 3.4.1.807 - now all of my packages hosted in Artifactory no longer show anything in the Version: drop-down (so I cannot install/uninstall anything).

I'll see if Artifactory has any info - everything was working great before the update. I've verified this on three machines that the update causes the issue.

[2016-04-08 21:12] maartenba commented on #2505
This is not a cache size, it's the page size. It serves an OData feed (www.odata.org) and provides paging - at the end of the page's XML source you will find a URL to the next page, which shows the next 100 pages and so on.

The NuGet client knows how to handle this protocol.

[2016-04-08 21:12] #2505 closed, assigned to nobody

[2016-04-08 21:13] spadapet commented on #2503
Dupe of: https://github.com/NuGet/Home/issues/2199
Here's the committed pull request: https://github.com/NuGet/NuGet.Client/pull/442

[2016-04-08 21:13] #2503 closed, assigned to nobody

[2016-04-08 21:15] zhili1208 opened #2507 "All Source issue: NuGet throw exception when one package is not found in one source in update tab"
Repro Step:
1. have two sources in setting: nuget.org and http://klondikeserver:8081/api/odata.
2. open a console app and install System.IO.Abstractions 1.6.0 from nuget.org on UI.(make sure System.IO.Abstractions does not exist in http://klondikeserver:8081/api/odata)
3.click update tab.

Expect: no packages there.
actual: Got exception: The V2 feed at 'http://klondikeserver:8081/api/odata/FindPa

[2016-04-08 21:18] damonwildercarr commented on #2507
FYI - I installed this version and everything is now working correctly:

https://www.myget.org/F/nuget-vsix/vsix/NuGet.0d421874-a3b2-4f67-b53a-ecfce878063b-3.4.2.821.vsix

[2016-04-08 21:18] damonwildercarr commented on #2506
FYI - I installed this updated version and everything is now working correctly:

https://www.myget.org/F/nuget-vsix/vsix/NuGet.0d421874-a3b2-4f67-b53a-ecfce878063b-3.4.2.821.vsix

[2016-04-08 21:18] #2506 closed, assigned to nobody

[2016-04-08 21:26] captelias commented on #2505
I don't understand.
We are unable to download all the packages in our large feed. If I address the package folder directly it works
it seems to not serve packages on the "second page"

[2016-04-08 21:26] maartenba commented on #2505
How are you downloading the packages?

[2016-04-08 21:31] captelias commented on #2505
I have my nuget package manager using the webserver address. ( http://mynugetserver/nuget )
web server has the packages line in the web.config pointing to our existing v3 style repository

 <add key="packagesPath" value="\\fileserver\devopsfolders\Packagesv3" />

if I have the packagemanager use "\fileserver\devopsfolders\Packagesv3" it works

[2016-04-08 21:33] captelias commented on #2505
this is what we are getting
( http://istfs.pc.factset.com:8060/nuget/Packages(Id='BuildConfigs',Version='1.1')

but the folder exists in the repo
Core-PackagesFast\BuildConfigs\1.1

[2016-04-08 21:35] skofman1 opened #2508 "nuget.exe config doesn't output help on error/success"
Scenario 1:
`NuGet.exe config`
Outputs nothing, although this is an incorrect use of the command (the correct usage should include parameter name),

Scenario 2:
`NuGet.exe config -Set name=value`
config value was added successfully, but there was no success message, so this was unclear.

[2016-04-08 21:35] maartenba commented on #2505
What exactly are you getting?

[2016-04-08 21:36] captelias commented on #2505
its not visible in the nuget browse
and the request above returns a 404

[2016-04-08 21:37] captelias commented on #2505
other packages work fine if they are on the first page

[2016-04-08 21:38] maartenba commented on #2505
Which version of NuGet.Server is this?

[2016-04-08 21:46] captelias commented on #2505
I just got the latest

[2016-04-08 21:46] captelias commented on #2505
v2.10.2

[2016-04-08 21:49] maartenba commented on #2505
Okay, and what is the full log output in VS / nuget.exe? (not just single line, need more details)

[2016-04-08 21:50] skofman1 opened #2509 "nuget.exe delete is broken for V2 feed"
`NuGet.exe delete mysecrettestassembly 2.0.0 -Source https://www.nuget.org/api/v2`

generates the wrong package uri:

[code]

[2016-04-08 21:58] emgarten opened #2510 "nuget.exe restore should use the solution level path to load settings"
nuget.exe finds settings based on the project files instead of the solution directory. This causes problems when projects are not in sub directories below the solution file, and the nuget.config file with the feeds is next to the solution file.

The expected path for settings is `<solution directory>\.nuget`

In the below example both projectB and projectA fail to find nuget.config

[code]

[2016-04-08 21:59] joelverhagen commented on #2405
I've reproduced this problem in 3.4.1.

[2016-04-08 22:06] captelias commented on #2505
I will have to pick this up on Monday. have a good weekend

[2016-04-08 22:07] maartenba commented on #2505
Likewise! Would love to get a repro of this so we can fix it. Enjoy your weekend!

[2016-04-08 22:13] captelias commented on #2505
Severity    Code    Description Project File    Line    Suppression State
Error       NuGet Package restore failed for project API: NuGet.Protocol.Core.Types.FatalProtocolException: Unable to find version '1.1.0' of package 'BuildConfigs'.
  http://istfs.pc.factset.com:8060/nuget: Package 'BuildConfigs.1.1.0' is not found on source 'http://istfs.pc.factset.com:8060/nuget'.
  https://api.nuget.org/

[2016-04-08 22:15] joelverhagen opened #2511 "nuget.exe install should no-op install when using relative output directory"
[code]

The second command should no-op since the package has already been installed. It does not. It installs again on top of the existing package.

Things work as expected when you specify no output directory or if you specify an absolute path for an output directory.

[2016-04-08 22:18] maartenba commented on #2505
Seems there are a few servers in place? I see:
- http://istfs.pc.factset.com:8060/nuget
- http://istfs.pc.factset.com:8060/private/HRPrivatepackages/nuget
- https://api.nuget.org/v3/index.json
- https://www.nuget.org/api/v2/curated-feeds/microsoftdotnet/

Are all these four configured in your VS?

Also, just as a test, could you upgrade to the latest client from https://dist.nuget.org/index.html?

[2016-04-08 22:21] joelverhagen opened #2512 "nuget.exe hangs when installing Microsoft.AspNet.Mvc 6.0.0-beta2"
[code]

Output and hang.

[code]

While hanging, a single core of my CPU is running at max. Seems to be doing something. Other packages from NuGet.org install just fine. Happens with all NuGet.exe 3.x.

[2016-04-08 22:27] captelias commented on #2505
#3.4.1?

[2016-04-08 22:31] maartenba commented on #2505
That's the one

[2016-04-08 22:33] captelias commented on #2505
I am using this one
https://visualstudiogallery.msdn.microsoft.com/5d345edc-2e2d-4a9c-b73b-d53956dc458d?SRC=VSIDE

[2016-04-08 22:33] captelias commented on #2505
these are all configured sources.

[2016-04-08 22:34] maartenba commented on #2505
Any chance you can contact us by email and share (part of) the repository you have on disk so we can try and reproduce the issue? support at nuget . org

[2016-04-08 22:35] captelias commented on #2505
I'll have to approach that Monday

[2016-04-08 22:49] alpaix commented on #2507
NuGet behavior is as-expected. The issue is caused by next link incorrectly encoded by Klondike server.
Should be:
`http://localhost:8080/api/odata/FindPackagesById()?id=%27System.IO.Abstractions%27&$skip=100`
Klondike responded with:
`http://localhost:8080/api/odata/FindPackagesById%28%29?id=%27System.IO.Abstractions%27&$skip=100`

Klondike issue https://github.com/themotleyfool/Klondike/issues/1

[2016-04-08 22:49] #2507 closed, assigned to alpaix

[2016-04-08 22:53] skofman1 opened #2513 "nuget.exe sources update outputs success when no source parameter provided"
`NuGet.exe sources update -Name myfeed`

This command does nothing, since -Source parameter wasn't specified, but the output message is:
`Package source "myfeed" was successfully updated.`

[2016-04-08 23:16] captelias commented on #2505
OK I went back to the beginning and redeployed everything
I found the issue, it was a problem in the nuget init, that was not run for all packages, just publish so it wasn't really there
It just worked out that the packages on page 2 were not inited properly

Sorry to waste your time.

[2016-04-08 23:19] spadapet commented on #2509
I don't think this is a bug. The behavior is exactly the same if you use nuget.exe v2.8 and v3.3.
Also, this works if you use https://www.nuget.org as the source.

Here are screenshots of the output when using v2.8, v3.3, and v3.4.2 to try and delete from both https://www.nuget.org/api/v2 and https://www.nuget.org.

![image](https://cloud.githubusercontent.com/assets/2523431/14399828/8b0f2b00-fda5

[2016-04-08 23:24] maartenba commented on #2505
No worries, glad this is resolved. Enjoy your weekend!

[2016-04-08 23:24] captelias commented on #2505
I will now!
thanks again

[2016-04-08 23:25] maartenba commented on #2509
I believe for delete (and push) you need to specify the full package endpoint `https://www.nuget.org/api/v2/package`

[2016-04-08 23:26] emgarten opened #2514 "Visual Studio restore for project.json is slower in 3.4.2"
Restore in Visual Studio for Roslyn has gone from 143s to 166s when all caches have been cleared.

[2016-04-08 23:31] spadapet commented on #2509
Yep that works. Since the behavior hasn't changed, I don't think a fix needs to be made.

[2016-04-08 23:52] skofman1 opened #2515 "Nuget.exe - cleanup help of commands"
Some commands show in help options that are not used:
1. Init - NonInteractive, ConfigFile
2. Add - NonInteractive, ConfigFile

[2016-04-09 01:52] kzu commented on #2480
Still not up on the distribution link. It's pretty serious, since more and more people are installing dev15.

As of right now, http://dist.nuget.org/win-x86-commandline/latest/nuget.exe is still 3.3

[2016-04-09 02:21] pranavkm opened #2516 "Dotnet restore performs case sensitive Id lookups on flat-list local repositories when floating versions are used"
Repro: [Repro.zip](https://github.com/NuGet/Home/files/211073/Repro.zip). Reproed with dotnet 1.0.0-rc2-002337.

Noticed this in our build which referenced a Roslyn package. The package to restore was located in a flat list (v2-style) repository and it referenced it via incorrect casing (https://github.com/aspnet/Scaffolding/blob/dcbf31a7a209b6338cb6d6c3608a94d847d7ea70/src/Microsoft.Extensions.Co

[2016-04-09 03:10] xavierdecoster commented on #2480
There was no nuget.exe release today, only vsix

[2016-04-09 03:32] kzu commented on #2480
We needed the exe :(. Had to switch back all the way to 2.8. Glad I didn't
move to project.json yet ;)
On Sat, Apr 9, 2016 at 12:10 AM Xavier Decoster notifications@github.com
wrote:

[2016-04-09 03:38] xavierdecoster commented on #2480
There's the 3.4.2-rc though on dist.nuget.org/index.html, tried that one?

[2016-04-09 05:09] kentcb commented on #1448
Also don't think this is fixed. I'm using a 3.3.0 client. Running a build script on my machine works perfectly, even after purging all packages. But on the CI server (which is in an entirely different physical state to me) I get:

[code]

[2016-04-09 05:16] xavierdecoster commented on #1448
Could you please try the 3.4.2 client from http://dist.nuget.org/index.html and see if it fixes it?

[2016-04-09 07:41] kentcb commented on #1448
@xavierdecoster It seems like it probably does fix it:

[code]

The error at the end is probably an ownership problem on the directory. However, I won't be able to validate this until Monday because remote access to the CI server isn't working and no one is in the office. I will get back to you.

Thanks!

[2016-04-09 09:02] Rushdy-Najath commented on #1138
Hi I have tried all of the above points and advices but i am still having the  same issue. is there any other suggestion. i have tried reinstall vs2015 but no luck.

[2016-04-09 11:51] yishaigalatzer commented on #2480
It is there, just not at the latest link. We have a couple of bugs to fix before calling it rtm.

[2016-04-09 11:52] yishaigalatzer commented on #1138
Please try and install update 2.

[2016-04-09 15:18] joelverhagen opened #2517 "When using the UI to search a V2 source, FindPackagesById is called twice for each ID"
Steps:
1. Open 3.4.0+ VS package management UI on a project (or solution, doesn't matter).
2. Select a V2 source.
3. Open Fiddler (with HTTPS decrypted, given that the V2 source is HTTPS).
4. Make some search, e.g. `TorSharp`.
5. Click on a result in the search result list.

You will notice individual calls made to `FindPackageById`. One made during search, and one made when you clicked the packag

[2016-04-09 21:40] angularsen commented on #2406
Just to report that this behavior is still reproduced on the latest VS 2015 Update 2 and the latest nuget package manager.
- Microsoft Visual Studio Community 2015 Version 14.0.25123.00 Update 2
- Microsoft .NET Framework Version 4.6.01038
- JavaScript Language Service   2.0
- JavaScript Project System   2.0
- NuGet Package Manager   3.4.2

[2016-04-09 22:19] yishaigalatzer commented on #2406
Yes, this wasn't fixed yet

[2016-04-09 22:41] yishaigalatzer commented on #2406
Note that if you don't rely on content packages converting the packages.config to project.json unblocks this scenario. We are going to work on enabling the default scenario.

[2016-04-10 00:04] NickCraver commented on #2299
+1 on @bricelam's request. But to add - if the API levels match, why wouldn't it be `netcoreapp1.5`? Can't we simplify the naming/versioning here to only use one level?

[2016-04-10 10:05] angularsen commented on #2406
I can confirm that manually adding a project.json works, but since adding a nuget via nuget package manager (3.4.2) adds a packages.config instead of project.json for a newly created WinJS app means the story is still currently broken. How will this be addressed?

I see at least two solutions:
1. Fix the SpecificVersion error seen hwen using packages.config
1. Nuget package manager creates a proje

[2016-04-10 10:46] mrward commented on #1707
With NuGet 3.4.2 the error still occurs trying to install Microsoft.AspNet.WebApi.Client into an Xamarin Android project. Should the duplicate target frameworks be handled in NuGet 3.4.2 or does the NuGet package need to updated?

[code]

[2016-04-10 12:59] jozefizso commented on #2367
I have found the [`DefaultPushSource` config value](https://docs.nuget.org/consume/nuget-config-defaults#default-nuget.exe-push-source). A well placed `NuGet.config` file will prevent our internal packages to be pushed to public nuget.org service.

I would love to be able to define the source directly in `nuspec` file but I think this config value will be sufficient.

[2016-04-10 12:59] #2367 closed, assigned to nobody

[2016-04-10 15:09] yishaigalatzer commented on #1707
We are saying that this is a package issue, there was no fix for this. I'll forward to the MVC team to update the package

[2016-04-10 15:11] yishaigalatzer commented on #2406
You are correct.

[2016-04-10 17:46] alfnilsson commented on #1282
I'm still getting this in NuGet 3.4.2.830 when running multiple nuget pack at the same time.

2016-04-10T17:16:36.3373767Z Attempting to build package from 'NetR.Project.3.1604.0.1604101916.nuspec'.
2016-04-10T17:17:48.7852510Z NetR.Project\modules_protected\Shell\Shell.zip
2016-04-10T17:17:48.9884099Z ##[error]Can not access a closed Stream.

The filename referring to is a quite large file at 9.8

[2016-04-11 00:34] kentcb commented on #1448
Yes, it worked once I fixed the ownership of the `.nuget` directory.

[2016-04-11 01:37] kentcb opened #2518 "Latest beta not unzipping ModernHttpClient"
Using NuGet 3.4.2 beta instead of latest stable has resulted in my ModernHttpClient dependency failing to restore correctly:

![image](https://cloud.githubusercontent.com/assets/1901832/14414631/041b8b84-ffd5-11e5-9e08-5a9c45232ffb.png)

As you can see, it does not unzip the zip file. Reverting to 3.3.0.212 works fine.

[2016-04-11 01:40] davidfowl commented on #2518
Can you give some more details? Which NuGet client? What did you run?

[2016-04-11 02:02] kentcb commented on #2518
Command-line client, running on Mac/Mono as part of a build script. Annoyingly, it seems to work if I run directly from the CLI:

[code]

However, it definitely doesn't work using 3.4.2 in combination with FAKE 4.23.5. Using 3.3.0.212 with same FAKE  version _does_ work. My FAKE target looks like this:

[code]

TBH, not sure if this is NuGet or FAKE bug now.

[2016-04-11 05:18] emgarten commented on #1282
@alfnilsson this like a different problem, would you try running with `-verbosity detailed` to get a stack trace for this failure and then log a new issue?

[2016-04-11 06:06] maartenba opened #2519 "Add support for SVG icons"
_From @jordimontana82 on April 10, 2016 11:44_

Hi,

I was looking at the [Nuspec reference](https://docs.nuget.org/create/nuspec-reference), and it looks like the only supported format for iconUrl property is a PNG of 64x64 pixels only.

Would be nice to include support for SVG formats too, cause we could use that to display high definition logos (specially logos containing fonts or similar) whil

[2016-04-11 07:41] Rushdy-Najath commented on #1138
sorry I forgot to tell that I am trying to install vs20015 profession with update 2

[2016-04-11 09:13] OliverRC commented on #1909
Upgraded to 3.4: Now when performing a `update-package -reinstall` I get the following error:

`update-package : Package 'Internal.PackageName' is not found in the following primary source(s): 'https://api.nuget.org/v3/index.json,http://internalfeed,https://www.nuget.org/api/v2/curated-feeds/microsoftdotnet/'. Please verify all your online package sources are available (OR) package id, version are

[2016-04-11 10:17] Kanimozhi12 commented on #2439
Hi ,

Now the installtion is working fine. But am unable to update NuGet packages from custom feed.Am getting the below error please look into this and provide solution ASAP.

**The V2 feed at 'http://{custom feed link}/FindPackagesById()?id='Microsoft.Owin.Security.Facebook'' returned an unexpected status code '403 Forbidden'.**

[2016-04-11 10:18] Kanimozhi12 opened #2520 "NuGet update fails with 403 error (v3.4.2)"
Hi ,

Now the installtion is working fine. But am unable to update NuGet packages from custom feed.Am getting the below error please look into this and provide solution ASAP.

**The V2 feed at 'http://{custom feed link}/FindPackagesById()?id='Microsoft.Owin.Security.Facebook'' returned an unexpected status code '403 Forbidden'.**

Note: It works fine in console. It has issue while using UI

[2016-04-11 12:26] Tasteful opened #2521 "Authorization fails due to Authorization Header Lost on Redirect"
After the update to NuGet Version: 3.3.0.212 and Visual Studio VSIX Package Version: 3.4.2.830 password protected nuget feeds is not working.

When using command line I got the following error even that the credentials is stored in nuget.config file. And from inside VS the credential dialog is poping up all the time.

[code]

When I use fiddler to check the request to server I can see that the aut

[2016-04-11 12:58] Tasteful commented on #2521
After resaved the feeds credential into nuget.config the command line utilitiy is working without asking for credentials. VS still asks for credentials.

[2016-04-11 13:27] yishaigalatzer commented on #1909
Please update to 3.4.2 and let us know if you still see the issue

[2016-04-11 16:32] natemcmaster commented on #910
Just FYI: this problem got worse recently. NuGet is now logging >50,000 lines of warning output even with minimal verbosity. This produces so much log output that EF builds on travis-ci.org get cancelled because of "Too much log output."

[2016-04-11 16:47] davidfowl commented on #2518
Sounds like a fake issue with the new nuget? If it works from the command line, not sure what else it could be..

[2016-04-11 17:10] yishaigalatzer commented on #2520
Can you please share more information with us?

What kind of server do you have set up as a private feed? What version? Is there any customization?

[2016-04-11 17:13] yishaigalatzer commented on #2521
Can you share what server are you using, and how is authentication setup, so we can reproduce the issue?

[2016-04-11 17:16] yishaigalatzer commented on #2518
Thanks for reporting this issue. Can you please help us with unfolding what fake is doing differently from the command line?

[2016-04-11 17:29] yishaigalatzer commented on #2516
@joelverhagen please work with @pranavkm on this, and find the one other related bug

[2016-04-11 17:30] yishaigalatzer commented on #2512
CC @emgarten

[2016-04-11 17:32] yishaigalatzer commented on #2431
@kingerja ping

[2016-04-11 17:35] yishaigalatzer commented on #2518
I do see one big difference between the two operations

In fake it looks like you would run `nuget.exe restore packages.config` and in the cli you run `mono nuget.exe install XXX`

[2016-04-11 17:40] yishaigalatzer commented on #2456
3.4.2 is now released, @Lechus please let us know if your issue is fixed.
If I don't hear from you by EOD tomorrow, we plan to close as fixed.

[2016-04-11 17:41] yishaigalatzer commented on #2521
CC @pspill

[2016-04-11 17:42] Tasteful commented on #2521
I have setup a test-feed on http://nuget.product.workplace.nu/nuget that using the same basic authentication that my other feed (the only different is that this feed not using https).

User: nugetbug
Password: bugnuget

Add the feed into VS and try to browse for some packages.

[2016-04-11 17:45] zhili1208 commented on #2439
@Kanimozhi12 Hey, I tried this package on my test artifactory server but didn't repro this issue. is this working in 3.3?

[2016-04-11 17:45] yishaigalatzer commented on #2520
@Kanimozhi12 looking at this issue again, it will be very helpful to provide as much information as you can for us to reproduce this issue. We have tested NuGet 3.4.2 against the 10 types of servers we are familiar with (artifactory, nexus, proget, teamcity, nuget.server, nuget gallery, klondike, nuget.org, myget and vsts).

Could it be that you have an authentication issue with the server (is it

[2016-04-11 17:47] #2497 closed, assigned to joelverhagen

[2016-04-11 17:47] forki commented on #2518
This is what FAKE does: https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RestorePackageHelper.fs#L150

It's calling "mono nuget.exe install [FullPath packages.config] -OutputDirectory [FullPath outpath] [sources]"

one quick check that you can do to see if it's the expected nuget tool:

[code]

In other words: it's not doing some magic here, but relative vs. absolute paths have always be

[2016-04-11 17:57] Tasteful commented on #2521
the part that is used to parse the authentication header is the following.

[code]

[2016-04-11 18:04] yishaigalatzer commented on #2521
Can you please also tell us what server is this?

[2016-04-11 18:07] Tasteful commented on #2521
It's an Windows 2012R2 server, nuget application server is from NuGet.Server.2.10.0-master-0002 with an http-module to validate password with local datastore. Everything was working untill the update that was installed on my computer 9th of April.

[2016-04-11 18:08] forderud commented on #2439
This bug was introduced in NuGet 3.4.0 and later fixed in NuGet 3.4.2. It does therefore not affect NuGet 3.3.

[2016-04-11 18:09] yishaigalatzer commented on #2521
Sounds good. We will debug in a few minutes.

As a side note I'd suggest updating to the latest nuget.server package. We have made significant performance improvements

[2016-04-11 18:11] Tasteful commented on #2521
Perfect with more performance improvements :)

[2016-04-11 18:17] yishaigalatzer commented on #910
Fix the downgrade warnings?

[2016-04-11 18:41] joelverhagen commented on #910
As a workaround until you fix the warnings, you could use

[code]

This will still give you visibility into big problems but hide those millions of warnings.

[2016-04-11 19:20] joelverhagen commented on #2520
I've tried this on Artifactory Enterprise 4.7.1 rev 40159. To attempt the repro:
1. Configured Artifactory to not allow anonymous access.
2. Created an Artifactory user that has access to a package.
3. Installed a lesser version of a package on Artifactory.
4. Attempted to update the package.

It seems to work out for me.

[code]

In addition to what @yishaigalatzer said, could you provide us more

[2016-04-11 19:21] joelverhagen commented on #2511
Could be related to:
https://github.com/NuGet/Home/issues/2402

[2016-04-11 20:32] rrelyea commented on #2509
Could consider better command line help/docs -- as people new to this would have no clue.

[2016-04-11 20:54] joelverhagen opened #2522 "Make package ID and version comparison case insensitive"
The server already does this and version comparison in memory is case insensitive. We've also done a pretty good job about making ID comparison in memory a case insensitive operation.

However, there are places where ID comparisons are case sensitive. Namely, code that interacts with the file system. For example, when a local source is a directory of .nupkgs, the ID comparisons are case sensitive.

[2016-04-11 20:56] joelverhagen commented on #2516
It looks like the issue is that we intentionally filter out nupkgs that do not have IDs that exactly match the project.json:
https://github.com/NuGet/NuGet.Client/blob/c7b2acdfd0f2594e3e796c5d3cfa86af62909794/src/NuGet.Core/NuGet.Protocol.Core.v3/LocalRepositories/LocalV2FindPackageByIdResource.cs#L109-L112

This is behavior is clearly inconsistent with the server and we should write our code so t

[2016-04-11 20:56] #2516 closed, assigned to joelverhagen

[2016-04-11 22:09] yishaigalatzer commented on #2521
@alpaix discovered that if you add "/" to the end of the source url, things magically start working. We haven't figured out the exact reason this fails, but we see a 307 temporary redirect and after that comes in things fall apart. With adding the "/" things just work.

Could you confirm that this unblocks you at least, and we will continue investigating?

[2016-04-11 22:34] joelverhagen commented on #2522
Related: https://github.com/NuGet/Home/issues/2383

[2016-04-11 23:29] eerhardt opened #2524 "NuGet packages should target netcoreapp and not netstandardapp"
The NuGet packages are currently targeting `netstandardapp1.5`:

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.CommandLine.XPlat/project.json#L36

But this TFM is no longer valid. This should be targeting `netcoreapp1.0`.  That way CLI, who is referencing the NuGet packages, don't need to import `netstandardapp1.5`.

[2016-04-11 23:30] analogrelay commented on #2524
/cc @emgarten

[2016-04-11 23:38] emgarten commented on #2524
This was blocked by https://github.com/dotnet/cli/issues/2406
I'll get the updated packages out once I have a CLI build with the fix.

[2016-04-12 00:05] jasonmalinowski opened #2525 "Project reference fails from csproj to xproj (with netstandard target reference)"
Ported from dotnet/roslyn#10481 from @jinujoseph:

Repro steps
- Create a .Net Core Class Library (xProj)
- By default it points to
  "frameworks": {
    "netstandard1.5": {}
  }
- Now create .Net Console Aplication (csProj)
- point the .netframework to 4.6.2
- Add project.json file to the same and add
  {
  "frameworks": {
    "net462": { }
  },
  "runtimes": {
    "win": { }
  }
  }
- Build both

[2016-04-12 00:09] spadapet commented on #2518
OK I can reproduce this on Linux with Mono on the command line.
So far I only repro with the ModernHttpClient package. I tried Newtonsoft.Json and it works. So maybe there is something messed up about the zipped files in ModernHttpClient.nupkg.
Or... there is something messed up about the mono implementation of System.IO.Compression. Don't know where the problem is yet.

[2016-04-12 00:27] spadapet commented on #2518
If I repackage ModernHttpClient then it works. The file times in the original ModernHttpClient.2.4.2 are bogus times in the future. Some code is failing to apply those files times to the extracted files on disk. I need to see if it's the NuGet code. That original package isn't good though.

[2016-04-12 00:49] rohit21agrawal commented on #1922
Appears to have been fixed already in dev branch:
Probably by this fix by @toddm: https://github.com/NuGet/NuGet.Client/commit/f2f89d45fb2f330a20cd79c2d7654f0cc50f7e4a

[2016-04-12 00:49] #1922 closed, assigned to rohit21agrawal

[2016-04-12 02:19] codekaizen commented on #2478
+1 new build works for Artifactory again.

[2016-04-12 05:45] Tasteful commented on #2521
Good finding, I have updated my URLs to include the trailing / and now it works within VS also.

With nuget command line utility it works both with and without the trailing /.

[2016-04-12 05:49] Kanimozhi12 commented on #2439
When am trying to update using 3.3 it asks to check the private feed link whether its proper or not. but the installation works well with the same feed.

[2016-04-12 06:39] forki commented on #2518
Ok that sounds indeed like a known mono zip bug. We ran into this in paket and built workarounds. _If_ this is the same bug then many packages have the same problem. Repackaging one package does not help here.

[2016-04-12 07:19] Kanimozhi12 commented on #2333
Hi,

In my NuGet package have nearly 380 files for localization.
While installing this NuGet package in my Visual Studio 2015 hangs.
There is no issue with Visual Studio 2013 and 2012 with this same NuGet.
There is any limitation in file counts that is used in NuGet for VS2015 and other VS too?

[2016-04-12 08:47] Tasteful opened #2526 "Bad servername.cache.bin make server to not start"
I run out of discspace on my nuget-server and when I added a new package (without knowing about discspace) the servername.cache.bin was persisted in some bad state. After deleting some items on the disc I need manually delete servername.cache.bin to get the nuget-server to start again.

It should be good if nuget-server can recover itself if the cache-file is bad.

Using NuGet.Server.2.10.2 packag

[2016-04-12 09:21] michaelmairegger opened #2527 "NuGet Restore does not work with TFSO and UWP"
If I have UWP projects in the solution and a UWP project has no `Debug` `AnyCPU` entry then following error appears when restoring nuget packages using the `NuGet Installer` on TSFO

Adding a `AnyCPU` entry for the UWP projects solves the issue but this is not the correct way since `AnyCPU` is not supported for UWP projects and thus I do not want to have such a configuration

[2016-04-12 10:07] xavierdecoster commented on #2526
This issue was moved to NuGet/NuGetGallery#2985

[2016-04-12 10:07] #2526 closed, assigned to maartenba

[2016-04-12 10:10] Nanako-Kbs commented on #2521
Had same problem, adding trailing slash to the URL fixed it.

[2016-04-12 13:24] mhail commented on #2456
I am having the same issue where the latest Nuget Package Manager 3.2.4.830 is not able to query our Team City (9.1.6 build 37459) Nuget feed. I get the same 404 on a search query.

Dropping back to Nuget Package Manger 3.3.0.167 resolves the issue.

Let me know if there is any way I can help, I have experience in Visual Studio Extension development and can fork if necessary but do not know where

[2016-04-12 13:38] yishaigalatzer commented on #2456
@mhail first I think you mean you use 3.4.2 ?

Second what command are you using in the console? And can you share a fiddler trace of a working vs not working flow?

[2016-04-12 15:53] MademoiselleH commented on #2493
Hello,

Thanks you for your quick answer :)
I've tried and it works.
My question is why this fix isn't embedded in VS 2015 enterprise setup ?

[2016-04-12 15:54] yishaigalatzer commented on #2493
You can now update from the gallery. The fix was released after visual studio was and will auto update your visual studio instance

[2016-04-12 16:04] MademoiselleH commented on #2493
I've seen this update.
Ok since I'm testing VS2015 for a future migration I just want to be sure
what to tell to developpers and weither it's better to use professional or
enterprise version.
Indeed, my co-worker tried professional version, and it had an older non
buggy version of nuget package manager.
He was asked to update, and then he upgraded to 3.4.0.798 whereas for
enterprise version nuget

[2016-04-12 16:18] yishaigalatzer commented on #2493
If you go to extensions and updates you will see 3.4.2 version of nuget available. Not sure why one will update and the other will not. Will circle back with the owners of extensibility

[2016-04-12 16:18] yishaigalatzer commented on #2493
Well, both have to have update 2 for auto update to work. Can you confirm that's the case?

[2016-04-12 16:43] joelverhagen commented on #2522
@yishaigalatzer, we should consider this for CLI RTM since it would necessitate a major change to the global packages folder -- making all IDs and versions lowercase. This change could be breaking in some Mac and Linux scenarios and would necessitate that packages are downloaded or fetched from the HTTP cache again.

[2016-04-12 16:47] yishaigalatzer commented on #2522
That's a pretty major breaking change. I would first try to find an alternative but if we can't we should have an urgent design meeting with the CLI folks

[2016-04-12 16:57] joelverhagen commented on #2520
Related: https://github.com/NuGet/Home/issues/2034
We have considered prompting for credentials on HTTP 403.

[2016-04-12 17:12] jainaashish commented on #1909
@OliverRC If you still see performance issue or any slowness, then would you be able to share a sample project to reproduce this in-house?

[2016-04-12 17:19] yishaigalatzer commented on #1909
@BMarques we fixed another source of slow updates in 3.4.2, please give it a try and if you still see an issue please help us get a repro so we can improve further.

[2016-04-12 17:36] yishaigalatzer commented on #2527
@xxMUROxx can you give us some more info? I'm not sure what is the NuGet install on TSFO?

Does this work on your local machine and only breaks somewhere else?

[2016-04-12 17:40] jnm2 commented on #2078
Yes, what's the story on nuget based test adapters now that we are moving to project.json?

[2016-04-12 17:43] yishaigalatzer commented on #2078
1. We plan to bring back solution level packages, we have been swamped and did not get to it. We plan at a minimum to support restoring them in the next release (so if they got added manually in the packages.config file, or through 2013, we will restore them).
2. For project.json + xproj the story is different, and a good place to follow up on it is - https://github.com/dotnet/cli

[2016-04-12 17:54] jnm2 commented on #2078
My case is specifically project.json + csproj in production with .NET 4.5.2, where xproj and Core are not in the picture.

We switched from packages.config to project.json because @onovotny [recommended it](https://github.com/Humanizr/Humanizer#known-installation-issues-and-workarounds) to use Humanizer. He has a nice guide on [how to convert all your projects](https://oren.codes/2016/02/08/projec

[2016-04-12 17:57] emgarten commented on #2510
NuGet/NuGet.Client@81041aa83d6f3a0a557f8d0d5d7ce9cd345e3c09

[2016-04-12 17:57] #2510 closed, assigned to emgarten

[2016-04-12 18:01] mhail commented on #2456
I am using the NuGet package Manger for Visual Studio 2015.

Attached are working Fiddler 4 session traces for 3.3.0.167
And not working 3.4.2.830

[NotWorking.zip](https://github.com/NuGet/Home/files/215630/NotWorking.zip)
[Working.zip](https://github.com/NuGet/Home/files/215631/Working.zip)

[2016-04-12 18:13] yishaigalatzer commented on #2333
@Kanimozhi12 I did and I checked in a major improvement in 3.4.2, can you please try to update to it, and let me know if this is still an issue for you. (We know uninstall is still not fixed completely, but install should be a lot faster)

[2016-04-12 18:16] yishaigalatzer commented on #2518
Thanks @forki ! we have a fix in progress, if you have any feedback on the fix, please let us know.

[2016-04-12 18:19] forki commented on #2518
Yeah I guess we have a pretty similar fix. But unfortunately that's only the first of many mono zipping issues ;-(

[2016-04-12 18:21] yishaigalatzer commented on #2518
Did you file bugs on mono for these issues? Do you have links?

[2016-04-12 18:30] yishaigalatzer commented on #2456
@mhail we are going to look into it today, but I wanted to add the feedback that TeamCity is using a very old and inefficient protocol, and from what we are hearing these is no plans to update it.

I would highly recommend moving off it to one of the many other possible private servers. Specifically we just released a new version of nuget.server that is a lot more efficient that previous versions.

[2016-04-12 18:33] forki commented on #2518
Yes we filed everything. But it's hidden in closed paket issues since we
created workarounds or it got fixed in mono eventually. I just wanted you
to know about the situation so that you never trust that API...
On Apr 12, 2016 20:21, "Yishai Galatzer" notifications@github.com wrote:

[2016-04-12 18:33] emgarten commented on #1759
204s are supported in NuGet 3.4.2

https://github.com/NuGet/NuGet.Client/blob/dd5e3ba23ef9318a7ca117dc85b1342ec6abf1ad/src/NuGet.Core/NuGet.Protocol.Core.v3/LegacyFeed/V2FeedParser.cs#L455

[2016-04-12 18:37] yishaigalatzer commented on #2078
I agree, what folks have been doing for now is create the packages.config in the solution directory manually, and run nuget.exe restore on the file as part of the build through a build task or a script.

[2016-04-12 18:52] yishaigalatzer commented on #1759
@ekoshkin we noticed that you guide folks to use the V1 api, which leads to performance issues and more bugs for scenarios we didn't have proper test coverage for.

As we did fix this issue, I would ask you consider looking into reverting the recommendation. At the same time we will work on the V1 issues in NuGet 3.4.3

[2016-04-12 19:04] scottwstone commented on #2521
I have a problem with the NuGet Package Manager Extension for VS 2015 (v 3.4.2.830).  After updating, I get a prompt whenever trying to connect to a private repository hosted in IIS that requires Windows Authentication.  I can hit the URL fine from a browser, and connect from NuGet.exe, but both NuGet Package Manager and NuGet Package Explorer get 401s.  The Package Manager displays a login prompt

[2016-04-12 19:04] scottwstone commented on #2521
Oh, and adding a trailing slash to the URL did not help.

[2016-04-12 19:15] yishaigalatzer commented on #2521
@scottwstone this issue is tracked here https://github.com/NuGet/Home/issues/2521

[2016-04-12 19:15] yishaigalatzer commented on #2521
@scottwstone can you please share a clear repro so we can validate this fix addresses your scenario as well?

[2016-04-12 19:22] scottwstone commented on #2521
@yishaigalatzer are you asking for a url to a repository or for details about the web server?

[2016-04-12 19:46] emgarten commented on #2524
NuGet/NuGet.Client@e137a4d73154f55f43ab6a6f802103744f93f201

[2016-04-12 19:46] #2524 closed, assigned to emgarten

[2016-04-12 19:46] yishaigalatzer commented on #2521
Either will help

[2016-04-12 19:53] scottwstone commented on #2521
I am running a repository on Windows Server 2012 R2 server (IIS 8.5.9600.16384) using the NuGet Server package v 2.10.2 in an empty web project.  IIS is configured with Windows Authentication Enabled (response type = HTTP 401 Challenge) and all other forms of authentication disabled.

My NuGet Package Manager -> Package Sources includes an entry named "Nuget-3.4.2" pointed at http://mydomain.com/N

[2016-04-12 19:56] joelverhagen commented on #2482
Any particular reason that this should be an environment variable or NuGet config value instead of a simple command line argument, e.g. `--show-stack` for Xplat and `-ShowStack` on nuget.exe?

[2016-04-12 20:32] rohit21agrawal commented on #603
@mluparu ping

[2016-04-12 20:42] mluparu commented on #603
hey, sorry for the delay. It looks like NuGet is still blocked for .androidproj projects. This is what I see with VS 2015 Update 2:

![screenshot](https://cloud.githubusercontent.com/assets/12057413/14474878/f5aad3cc-00b3-11e6-8385-6a9846cfc767.png)

I am running NuGet client version 3.4.2.830. Should I try this with a different version?

[2016-04-12 20:47] emgarten commented on #2456
@mhail it looks like you are using a nuget v1 feed. If you change your TeamCity feed to use v2 with `teamcity.nuget.api.version=v2` are you able to query for packages using NuGet 3.4.2?

Also, are you using packages.config or project.json with your nuget projects?

[2016-04-12 21:11] yishaigalatzer commented on #603
No, was asking if you still needed the feature. Trying to prioritize work

[2016-04-12 21:11] emgarten opened #2528 "Support 204 responses for v2 requests in project.json"
V2FeedParser supports 204 responses, however project.json restore uses a different code path that does not support this.

Related: https://github.com/NuGet/Home/issues/1759

[2016-04-12 21:16] mluparu commented on #603
Got it. It would be great if you can keep it on your backlog. But there is no urgency right now for this feature though.

We were considering adding gradle build support to our Android project system via a NuGET package when this ask was made, but we ended up adding the support directly in the core MSBuild targets because of the timing.

[2016-04-12 21:27] scottwstone commented on #2521
I've done some more testing and it looks like my issue is related to something else on my network.  Please disregard.

[2016-04-12 21:45] rohit21agrawal commented on #2130
@michaelcfanning  Can you list the exact steps to repro this?

[2016-04-12 21:59] richlander commented on #2299
Still working on these docs.

There is a mapping of TFM to metapackage.
- netstandard -> NETStandard.Library (this is expected to work on all .NET
- netstandardapp -> NETStandard.App (same as NETStandard.Library + app hosts)
- netcoreapp -> Microsoft.NETCore.App (this is the .NET Core base install)

You can explore the packages here: https://dotnet.myget.org/gallery/dotnet-core

[2016-04-12 22:04] sbochoa opened #2529 "Authentication fails on Nuget.Server with Windows Auth (v3.4.2.830 & VS 2015)"
I just updated Nuget Package Manager to the last version and it still popups for windows credentials for my local nuget repository but it just keep asking credentials even when they are correct.

After 3 tries it just outputs "Response status code does not indicate success: 401 (Unauthorized)."

[2016-04-12 22:06] michaelcfanning commented on #2130
I cannot. I see the relevant string here.

src\NuGet.Core\NuGet.PackageManagement\Strings.resx
 <value>No latest version found for '{0}' for the given source repositories and resolution context</value>

It doesn't show the issue. Checking history, it appears Cyrus fixed this.
https://github.com/NuGet/NuGet.Client/commit/d91d4b95696d25c90f4b3810cfecf007ebaedf95

[2016-04-12 22:18] rohit21agrawal commented on #2130
Closing as fixed.

[2016-04-12 22:18] #2130 closed, assigned to rohit21agrawal

[2016-04-12 22:19] yishaigalatzer commented on #2521
Thanks @scottwstone for saving us the trip down the rabbit hole :)

[2016-04-12 22:41] kmcclive commented on #2520
I am having a similar problem.  We have a custom feed which requires a token at the end for authentication.  The source of the feed looks like this: http://<hostname>/<token> It appears that some of the calls made by the package manager do not include the full URL.  I see the following errors in the Visual Studio output.

[2016-04-12 23:04] scottwstone commented on #2521
no problem.  I'll post more details about what was getting in the way if I can find them.  I worked around the issue by setting a hosts file redirect on my local machine to go straight to the ip of the server that hosts the nuget repository.

[2016-04-12 23:05] emgarten commented on #2482
Users can already get this with `--verbosity verbose`

Printing the stack under quiet would only be for unusual situations such as dogfooding a prerelease build on your CI machine while also limiting the output verbosity.

[2016-04-12 23:07] jaredpar commented on #2365
@AArnott how would a consumer of a interop package differentiate if they wanted to link or not?  Today I can `/reference:EnvDTE` or `/link:EnvDTE`.  I would assume `EnvDTE` comes in a single package (maybe that's wrong).  As a consumer though how would I control the behavior?

[2016-04-12 23:16] emgarten commented on #2529
@sbochoa what version of NuGet.Server are you using?

[2016-04-12 23:35] abatishchev opened #2530 "Unable to load the service index for source https://www.myget.org/F/<id> ---> System.Net.Http.HttpRequestException: Response status code does not indicate success: 403 (Forbidden)"
Hi,
I'm using NuGet 3.5.0.1164 (dogfooding) in VS 2015.2 and get this exception when try to install an update:

[code]

I think NuGet client should swallow such exception.

[2016-04-12 23:38] joelverhagen commented on #2520
@kmcclive,
- Which NuGet server software are you running against?
- Could you provide an example  of a call that succeeded? I presume the `<token>` part was there in some cases?
- Do nuget.exe or the Package Manager Console have the same problem?
- What actions are you performing in the VS UI to cause the failure? What about the successes?
- Do older versions of the NuGet extension not have this p

[2016-04-13 00:04] yishaigalatzer commented on #2530
@abatishchev can you explain the full scenario? Is it that you used credentials that are forbidden on the server, or is there something else going on?

[2016-04-13 00:08] emgarten commented on #2530
Gather here should throw if this is coming from the primary source. The stack trace should not be displayed here, this isn't a crash, just a normal protocol failure.

@abatishchev was this from the UI or powershell?

[2016-04-13 00:27] joelverhagen opened #2531 "Don't use mutable static properties on HttpHandlerResourceV3"
We have three culprits:
1. `HttpHandlerResourceV3.CredentialSerivce`
2. `HttpHandlerResourceV3.PromptForCredentials`
3. `HttpHandlerResourceV3.CredentialsSuccessfullyUsed`

These settings are not that testable and static is just evil.

[2016-04-13 00:43] abatishchev commented on #2530
@yishaigalatzer As I understand, MyGet has adopted v3 url format so in VS 2015 it should be now `https://www.myget.org/F/mpsit/auth/<id>/nuget/v3/index.json` rather than old, v2 one `https://www.myget.org/F/mpsit/auth/<id>`

The scenario is simple: Manage packages on the solution level, select Updates tab, select some packages (all except ApplicationInsights 2.0.1), press Update.

@emgarten: UI. S

[2016-04-13 00:57] emgarten commented on #2530
This may be coming from the _ignore failing sources_ change in 3.5.0.

[2016-04-13 01:02] yishaigalatzer commented on #2530
@abatishchev can you explain why are you getting a 403? Are you providing invalid credentials?

[2016-04-13 01:05] yishaigalatzer commented on #2529
@sbochoa can you please share a fiddler trace of before/after so we can try and repro?

We fixed a similar issue a little bit ago (not yet released), and I'd like to see if this is the same issue.

@alpaix can you please share a build here for verification?

[2016-04-13 01:16] abatishchev commented on #2530
This is how MyGet.com now behaves (at least for me, per my understanding): throws 403 for v3 client accessing v2 url.

[2016-04-13 02:00] yishaigalatzer commented on #2530
That's weird, can you share a fiddler feed?

[2016-04-13 02:13] chrispat commented on #2527
Here is the documentation for building a UWP app with VSTS https://msdn.microsoft.com/en-us/library/vs/alm/build/apps/universal.  The NuGet Installer task is designed to work against a solution not an individual csproj.

[2016-04-13 03:45] Kanimozhi12 commented on #2333
I have checked with the latest version 3.4.2 but still it takes more that 30 mins to install my package which has nearly 380 files.

[2016-04-13 03:47] yishaigalatzer commented on #2333
A few more questions:
1. Can you share the package?
2. Is your project tied to tfs or git?
3. Did you install it or update it?

[2016-04-13 03:47] yishaigalatzer commented on #2333
Oh and can you share logs?

[2016-04-13 04:15] Kanimozhi12 commented on #2520
**What NuGet server software you are running against (version number included).?**

NuGet server 2.10.1

**How you provide credentials for the source.?**

We dint provide any creditials

**Whether other operations (search) work. You mentioned install works fine.?**

Yes, search and installation works. Update too works from console but not from UI.

*_Whether older versions work (see http://dist.nu

[2016-04-13 04:22] yishaigalatzer commented on #2520
Is the source protected or completely public? Would you mind upgrading your server to 2.10.2? We made a few significant bug fixes between the two versions

[2016-04-13 04:33] AArnott commented on #2365
@jaredpar  You shouldn't. You should _only_ reference EnvDTE. It isn't an embeddable assembly because (IIRC) it defines constants. Yes, the compiler lets you embed it, till you happen to reference some of those non-embeddable types and then the compiler screams at you and you're forced to reference it instead of link it. And as the CLR and compiler work best when _everyone_ either links or referen

[2016-04-13 06:57] maartenba commented on #2530
Also can you check the feed URL? It's  `https://www.myget.org/F/mpsit/auth/<id>/api/v3/index.json` - not `https://www.myget.org/F/mpsit/auth/<id>/nuget/v3/index.json`

[2016-04-13 07:13] Kanimozhi12 commented on #2520
I have tried with updated NuGet server. now  having the below issue.
 it throws same error as mentioned in previous updates and the additional  error
The V2 feed at 'http://{private feed link}/FindPackagesById()?id='Microsoft.AspNet.ScriptManager.MSAjax'' returned an unexpected status code '403 Forbidden'.

And also i have found that issue is reproduced only when choosing update option from update

[2016-04-13 07:57] SoonDead opened #2532 "NuGet update/restore from custom v2 feed fails"
Using VS 2015 and NuGet 3.4.2.

The error I'm seeing for packages that are on the custom feed is (it's very annoying that I have no way of copy pasting the error text... but here, have a screenshot):

![nugeterror](https://cloud.githubusercontent.com/assets/988167/14486460/44243e86-015d-11e6-8c6a-154f2fc414f9.png)

Restoring with 3.3.0 works, restoring with the command line tools work (nuget.exe 3

[2016-04-13 08:31] campersau commented on #2443
In NuGet version 3.4.2.830 it works for me.

[2016-04-13 08:39] michaelmairegger commented on #2527
@chrisrpatterson Thank you with proving the link. Its true that NuGet on TFSO is about restoring the packages for the solution.

@yishaigalatzer The problem is the following. Normally a UWP package has following Configurations:
- **DEBUG**
  - ARM
  - x86
  - x64
- **RELEASE**
  - ARM
  - x86
  - x64

But in order to successful restore packages using the TFSO Nuget Task I have to modify it:
- **DE

[2016-04-13 09:33] ohadschn opened #2533 "Recursive nuget restore"
Suppose I want to restore all NuGet dependencies of a project and then build it. So I go

[code]

Hover, if `foo.csproj` is dependent on `bar.csproj` which has its own (different) NuGet dependencies that won't work. The NuGet restore operation will only restore the `foo.csproj` dependencies.

I suggest a new `-Recursive` flag to `nuget restore` which will recursively restore all descendant depende

[2016-04-13 13:04] asbjornu commented on #1874
I assume this is the same problem I've run into here?

[code]

[2016-04-13 14:25] reyou commented on #627
Documentation at https://docs.nuget.org/Consume/ProjectJson-Intro should be updated since this issue is closed.

[2016-04-13 14:28] yishaigalatzer commented on #627
Not sure what you mean, can you please elaborate? This issue was superseded by #1792

[2016-04-13 14:31] yishaigalatzer commented on #2527
Are you broken on your desktop as well?

[2016-04-13 14:33] yishaigalatzer commented on #2520
Can you share a fiddler trace of the failure?

When you say things take a long time, was it faster before? Can you share an exact repro steps?

[2016-04-13 14:35] reyou commented on #627
Maybe this is wrong place to request, but since there is no documentation edit/suggest at nuget.org, documentation over there assumes this issue is still open. But seems like it is closed already.

[2016-04-13 14:35] michaelmairegger commented on #2527
No. But if someone follows the docuemnt in [Migrate apps to the Universal Windows Platform (UWP)](https://msdn.microsoft.com/en-us/library/mt148501.aspx) especially point **6g** then there are no issue. Therefore it was my error by not correctly following the document

[2016-04-13 14:36] yishaigalatzer commented on #627
Thanks! There is a way to suggest changes :) at the bottom of the page there is a link to an MD file, click it and you can submit a PR.

[2016-04-13 14:38] reyou commented on #627
Ah, sorry to miss that :( Thanks for clarifying!

[2016-04-13 14:38] maartenba commented on #2520
I'd also like to see a Fiddler trace. Here are some instructions: https://docs.nuget.org/consume/nuget-faq#managing-packages-in-nuget.org (see "Fiddler")

(feel free to send the trace to support@nuget.org as it may contain information that should not be out in the public on GitHub)

[2016-04-13 14:39] yishaigalatzer commented on #2527
Thanks for clarofying. Is it OK to close the issue?

[2016-04-13 14:42] eerhardt opened #2534 "`dotnet restore` should have an option for the runtimes to restore"
Currently `dotnet restore` supports two modes for restoring runtime assets.
1. Explicitly putting the runtimes in the "runtimes" section of the project.json
2. `--infer-runtimes`, which is a temporary

If you don't have a "runtimes" section in your project.json, `dotnet restore` will do a "RID-less" restore, which means that it is impossible to publish your app as a stand-alone (i.e. not portable)

[2016-04-13 14:45] eerhardt commented on #2534
/cc @piotrpMSFT @brthor @anurse @emgarten

[2016-04-13 14:49] kmcclive commented on #2520
@joelverhagen, below are the answers to the questions you asked me.

**Which NuGet server software are you running against?**
2.7.41101.299

**Could you provide an example of a call that succeeded? I presume the <token> part was there in some cases?**
It turns out I can't.  I thought certain features were working, but I was wrong.  The only thing that works is listing the installed packages, but t

[2016-04-13 14:50] kmcclive commented on #2520
Just to clarify, in my case, the 403 error is something that I programmed into our NuGet server.  I modified the routing so that 403 is returned if a valid token is not provided.  Otherwise, it strips out the token and proceeds normally.  I am just surprised that the calls in the newest version are not using the full URL that I provided.

[2016-04-13 14:52] michaelmairegger commented on #2527
Yes. Maybe, there is somewhere space in the documentation or issue list for including this kind of issue and solution.

[2016-04-13 14:52] yishaigalatzer commented on #2520
Does the token represent a feed or authentication?

[2016-04-13 14:56] maartenba commented on #2520
@kmcclive Are you on the 2.7 version of NuGet server? If so, this one may not support the "by id" queries that the latest NuGet client executes (see release notes for the one breaking change). An update to NuGet.Server vLatest may be worth looking into.

Would you happen to have the custom 403 code at hand?

[2016-04-13 14:58] kmcclive commented on #2520
@yishaigalatzer The token is a form of authentication.  We have a database table in which a GUID is assigned to every user.  If the token (GUID) provided is not found in the database, a 403 error is returned.

[2016-04-13 15:06] yishaigalatzer commented on #2520
And how does a user enter it? As part of the feed URL?

[2016-04-13 15:07] kmcclive commented on #2520
@maartenba In the MapRoutes method of the static NuGetRoutes class, I have the following code:

[code]

In the GetHttpHandler of the NuGetRouteHandler class, the code looks like this:

[code]

[2016-04-13 15:09] kmcclive commented on #2520
@yishaigalatzer That is correct.  When they add a package source, they include the token in the URL.

[2016-04-13 15:16] maartenba commented on #2520
Hmmm could you check the output of the feed? It may be that the "rewritepath" causes the server to strip out the token in its response body, and thus directs the client to an unauthorized url.

[2016-04-13 15:22] sbochoa commented on #2529
@emgarten Using NuGet.Server.2.10.1

I just reinstalled Nuget Package Manager again and its working now kinda wierd if i reproduce it again ill share the fiddler trace. Thanks anyway

[2016-04-13 15:28] mhail commented on #2456
I updated the internal property in the Team City Admin to v2 and it looks like every thing is working when calling FindPackagesById(). I am having another developer verify and will update once confirmed, but working on my end with 3.2.4.830.

[2016-04-13 15:46] yishaigalatzer commented on #2529
Please consider updating the server, there are significant improvements in 2.10.2

[2016-04-13 15:47] yishaigalatzer commented on #2520
Exactly my thought a fiddler trace will confirm if this is right or not

[2016-04-13 16:14] zihotki commented on #1987
@yishaigalatzer IMO either 1 or 2 will work fine. Also the UI could support batch selection of projects - select multiple projects in UI and press Space to check them all. That will be a bit more work but still manageble. Unfortunately the latest version of Package Manager for VS2015 doesn't check all selected projects but only the last one you selected. Probably a new issue should be logged for t

[2016-04-13 16:38] ddrinka opened #2535 "Restore fails for vcxproj projects with ProjectName tag"
Restoring packages from project.json fails when the `<ProjectName>` tag is included in a C++/CLI vcxproj project file.  This appears to have been introduced in the newest NuGet release as it worked fine in the past.

The following is output from MSBuild:

[code]

Versions:
Visual Studio 14.0.25123.00 Update 2
NuGet 3.4.1

[2016-04-13 17:05] ericstj opened #2536 "Add .NETStandard 1.6"
We need a .NETStandard1.6.  It should be mapped as follows:
- net4.6.3 > NETStandard1.6
- netcoreapp1.0 > NETStandard1.6

/cc @joelverhagen
/cc @richlander @petermarcu @weshaggard @joshfree

[2016-04-13 17:08] analogrelay commented on #2534
This is by design, we had `--runtime` and removed it because it meant that the command line args could dramatically change the outputted lock file, which wasn't obvious to users. It was deemed desirable to have all the runtimes listed in the `project.json` in order to make that clearer. /cc @DamianEdwards @davidfowl

I would be in favor of reviving `--runtime` as a way to **select** from the RIDs

[2016-04-13 17:14] kmcclive commented on #2520
@maartenba The RewritePath call is supposed to strip out the token.  I tried updating my server with the latest version of the Nuget.Server package.  I can't seem to get it to work with my existing routing code.  Any ideas on what I might be doing wrong?  All the client give me is some generic "an error occurred" message and I don't see any logs on the server-side.

[2016-04-13 17:16] TheRealPiotrP commented on #2534
@anurse that seems reasonable. It would return consistency with other `dotnet` commands wherein we "do everything" by default and allow folks to trim down by `--runtime` and `--framework`

[2016-04-13 17:17] joelverhagen commented on #2517
Closed with https://github.com/NuGet/NuGet.Client/pull/484.

[2016-04-13 17:17] #2517 closed, assigned to joelverhagen

[2016-04-13 17:18] TheRealPiotrP commented on #2534
By the way, the lack of this trim-down functionality is causing serious issues for CLI. During x64 builds we don't have access to x86 packages and thus are unable to do a local package restore of the NetCoreApp metapackage. Could this issue get fixed soon so we don't go too far down the path of workarounds?

[2016-04-13 17:24] kmcclive commented on #2520
@yishaigalatzer When you requested a fiddler trace, were you talking to me or @Kanimozhi12.  I thought you were talking to @Kanimozhi12 because you were asking about the speed, which is not something I mentioned.

[2016-04-13 17:30] casualblair commented on #1760
I would like to attempt to PR this change but it will require a change to the Nuget.PackageManagement.NuGetPackageManager class and I cannot find the source for this anywhere but in the NugetArchive repos.  Can someone point me in the right direction?

[2016-04-13 17:35] yishaigalatzer commented on #1760
Nuget.client repo

[2016-04-13 17:46] maartenba commented on #2520
@kmcclive Problem is the rewritepath will probably have the side effect of the OData feed no longer emitting URL's with the token you specified.

You may want to look into an old blog post of mine (http://blog.maartenballiauw.be/post/2011/05/09/Using-dynamic-WCF-service-routes.aspx) so that WCF's OData service will use the full URL (including token)

[2016-04-13 17:52] forderud commented on #1291
I'm also encountering the same problem with NuGet 3.4.2 when attempting to update NuGet dependencies in a C++ project from the command line.

[2016-04-13 17:56] joelverhagen commented on #358
The precedence algorithm used when selecting from multiple compatible package TFMs is called `GetNearest`. This should be referred to while building the documentation.
https://github.com/NuGet/NuGet.Client/blob/31771f5cde5f62bbc1661e6ef586a09da1a96016/src/NuGet.Core/NuGet.Frameworks/FrameworkReducer.cs

[2016-04-13 18:01] joelverhagen commented on #2520
@kmcclive and @Kanimozhi12
Fiddler traces for both scenarios would be extremely helpful. This will help us both debug the root cause and assess whether you guys are encountering the same issue.

[2016-04-13 18:56] harikmenon commented on #2527
@chrisrpatterson This would probably make more sense to be documented on the TFS https://msdn.microsoft.com/en-us/library/vs/alm/build/apps/universal doc here. Can you help update this?

[2016-04-13 19:13] emgarten commented on #2443
@Kanimozhi12 update to NuGet 3.4.2

[2016-04-13 19:16] joelverhagen commented on #2520
Here is a new build with some improvements in this area. Note that this is pre-release build. Could you try this VSIX out in your own Visual Studio 2015 and see if it resolves the problem?
https://www.myget.org/F/nuget-vsix/vsix/NuGet.0d421874-a3b2-4f67-b53a-ecfce878063b-3.4.3.841.vsix

Whether or not this build fixes your problem, I would still like to take a look at those Fiddler traces to be su

[2016-04-13 19:20] joelverhagen commented on #2521
Here is a new build with some improvements in this area. Note that this is pre-release build. Could you try this VSIX out in your own Visual Studio 2015 and see if it resolves the problem?
https://www.myget.org/F/nuget-vsix/vsix/NuGet.0d421874-a3b2-4f67-b53a-ecfce878063b-3.4.3.841.vsix

[2016-04-13 19:25] emgarten commented on #2528
Fixed in 3.4.3 NuGet/NuGet.Client@e2af9d13cc0e1d995eb53d2f9eba9f30f264b4a7

[2016-04-13 19:25] emgarten commented on #2528
Leaving this open until the 3.5.0 fix is in

[2016-04-13 19:27] yishaigalatzer commented on #2535
@ddrinka can you provide a small repro project?

[2016-04-13 19:29] yishaigalatzer commented on #2534
@piotrpMSFT I would fix your build, rather than force this issue through right now. You should have access to all packages on the feeds.

[2016-04-13 19:31] yishaigalatzer commented on #2533
You can already restore a solution, or a folder with many csproj files. Is that not sufficient?

Can you help spell out the exact scenario you are hitting?

[2016-04-13 19:34] emgarten opened #2537 "Add XML documentation for NuGet libraries"
NuGet.Core.sln projects have warnings suppressed for XML doc problems. If possible these should be cleaned up and the noWarn sections in project.json removed.

[2016-04-13 19:44] eerhardt commented on #2534
This is not the case.  The packages are getting built during the same build that is consuming them.

The issue isn't dotnet/cli's build.  The issue is any repo that tries building native and managed assets.

The CLI isn’t a special case.  There can and will be plenty other teams/repos/etc that will be building native and managed code together.  We do it in CoreFX and CoreCLR too.  I can imagine ma

[2016-04-13 20:24] emgarten commented on #2535
@ddrinka were references from nuget packages actually working for you when using project.json with C++?

[2016-04-13 20:47] jasonmalinowski commented on #2525
@yishaigalatzer @davidfowl This appears to be a NuGet client/restore issue. The reference in the `targets` section has this:

[code]

But the package in the `libraries` has this:

[code]

Observe the extra `.0` in the version number. I assume those are supposed to be the same.

[2016-04-13 20:59] emgarten commented on #2525
They should match, and both be normalized to 1.0.0. I'll take a look at why this isn't happening.

[2016-04-13 21:10] ddrinka commented on #2535
Yes, they work great besides this bug.  The flow is much better than with
packages.config which did not support C++/CLI well.

On Wednesday, April 13, 2016, Justin Emgarten notifications@github.com
wrote:

[2016-04-13 21:21] ddrinka commented on #2535
Here's a repro:
https://github.com/johnny-robot/NugetIssue2535

[2016-04-13 21:21] spadapet commented on #2518
Fixed for 3.4.3

[2016-04-13 21:21] #2518 closed, assigned to spadapet

[2016-04-13 22:03] jaredpar commented on #2365
@AArnott I think you're missing my point.  Ignore the policy and compat issues around EnvDTE.

The core issue is that there are interop assemblies in existence today that some developers link and others reference.  How can I distinguish between those two cases today in project.json?

That's a nice policy.  Reality though is developers do bad things and we have to support that scenario.  Not suppor

[2016-04-13 23:09] AArnott commented on #2365
I understood your point that today users choose whether to embed or not. But I don't see how them losing the choice is an adoption blocker. If folks referenced an assembly and when they update their nuget package it starts linking instead, I can't imagine how that would break them or cause them to avoid the upgrade.
If folks were linking an assembly that should be referenced instead, sure, that wo

[2016-04-13 23:16] analogrelay opened #2538 "Reduce `netstandard` target for NuGet.* projects where possible"
Where possible, we should reduce the `netstandard` version that NuGet projects use, as it will broaden the compatibility. I suggest `netstandard1.2` if possible (which correlates to .NET 4.5.1, see https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md) or `netstandard1.3`.

If you can go as low as `netstandard1.1` or even `netstandard1.0`, you may as well

[2016-04-13 23:33] spadapet opened #2539 "[Watson] clr20r3: CLR_EXCEPTION_System.NullReferenceException_80004003_NuGet.PackageManagement.VisualStudio.dll!UNKNOWN"
Cloned from:
https://devdiv.visualstudio.com/web/wi.aspx?pcguid=011b8bdf-6d56-4f87-be0d-0092136884d9&id=209288

When a user nuget.config or solution specific nuget.config file is invalid/corrupt, the NuGet Visual Studio package and extensions fail to load. Our VSSettings class ends up with a null SolutionSettings and throws a null exception when trying to use the settings.

The null exceptoin call

[2016-04-13 23:50] kmcclive commented on #2520
@joelverhagen I didn't get a chance to generate a Fiddler trace yet, but I did try your VSIX.  It did not solve my problem.  I see that it now prompts for credentials like you suggested earlier, but that doesn't help in my case.  The only authentication we are doing is with the token in the URL.  Our users do not have credentials associated with the NuGet server.

[2016-04-13 23:53] joelverhagen commented on #2520
@kmcclive, understood. We are having a hard time reproducing the issue on our end so Fiddler traces would help us out a lot. Considering there is private feed information in that trace, feel free to obfuscate the information before sending it to us via email, support@nuget.org.

[2016-04-14 00:17] spadapet commented on #2539
I'm going to use the NullSettings.Instance object when failing to read any user nuget.config file. The error message probably needs to be updated to be more clear on what to do.

[2016-04-14 00:28] agocke commented on #2163
I can confirm this is still happening:

[code]

[code]

To repro
1. clone Roslyn
2. remove the ulimit setting in `build/scripts/restore.sh`
3. run `make restore`
4. Replace the binaries in `Binaries/toolset/roslyn.mac.5/dotnet-cli` with the latest mac dotnet build.
5. Delete `Binaries/toolset/restore.semaphore` and `~/.nuget`
6. Re-run `make restore`

[2016-04-14 00:42] spadapet opened #2540 "[Watson] clr20r3: CLR_EXCEPTION_System.NullReferenceException_80004003_NuGet.PackageManagement.UI.dll!UNKNOWN"
Cloned from here: https://devdiv.visualstudio.com/web/wi.aspx?pcguid=011b8bdf-6d56-4f87-be0d-0092136884d9&id=209301

Some null exception in Nuget.PackageManagement.UI, need to get a real callstack

[2016-04-14 02:16] v-lawu opened #2541 "C++ projects cannot install nuget package on VS "15" Preview"
NuGet 827

Repro in Dev15, follow repro steps:
1.Create C++ Win 32 Project, Visual C++->Win 32->Win32 Project, click Finish.
2.Install package "cpprestsdk" from nuget.org.

Expected results: Installed successful.
Actually results: Install meet error.
![capture](https://cloud.githubusercontent.com/assets/12129698/14515175/d8346bf6-0229-11e6-9bae-d425724877ba.PNG)

[2016-04-14 06:00] Tasteful commented on #2521
I have now tried the VSIX and for me it seams to work with and without the trailing slash.

Good work!

[2016-04-14 06:29] jaredpar commented on #2365
@AArnott

Exactly what I said. Today I have a library that sometimes I `/link` and sometimes I `/reference`.  How in project.json can I specify the setting I want in the project I want?

I feel like this is a question that should have a very straight forward answer.  Either:
- There is no way to do this.  That to me is an adoption blocker.  Customers don't care about best practices.  They care abo

[2016-04-14 06:48] bryjamus commented on #2443
Version 3.4.2.830 works for me. Thanks.

[2016-04-14 08:19] leppie commented on #2419
Just got this after my Community version was update to Pro at work. Nuget 3.4.2.

Crashes on normal startup, VS not usable.

Experimental instance does work.

Edit: Seems this might be caused by something else...

Edit: Still have no idea what is causing this, ended up renaming the file to prevent it loading.

Edit: And a no go on that... Any chance of a hotfix/beta build so I can actually use VS?

[2016-04-14 11:15] vcaraulean commented on #2521
I had same problem with authentication on local nuget repository. It was even worse, it prevented from installing any packages for any sources, including nuget.org.

I've installed pre-release build and it seems to be working now. Please, get it out of the door, we have few teams here that are using the local package source. I cannot tell all of them to install a pre-release package.

[2016-04-14 11:17] vcaraulean commented on #2521
@joelverhagen after installing this pre-release, will VS install the released version when it comes out? Or I'll have to uninstall pre-release and install new version manually?

[2016-04-14 12:17] ohadschn commented on #2533
Suppose you have a folder with 100 csproj files, and a solution referencing those projects. You could restore the entire folder (either by restoring the sln or *.csproj) but that would be wasteful if you just wanted to build `foo.csproj`.

Just as `msbuild` knows to build a csproj recursively, building all dependencies first, ideally so should nuget restore, so I could go

[code]

In that folder a

[2016-04-14 12:41] digitalsigi opened #2542 "Update-Package reports Package is not found"
I'm using nuget V 3.4.2.830 and have a custom nuget source configured in VS 2015 in addition to standard source. In GUI I selected "All" Sources. But when trying "update-package" I get following error:
PM> update-package
Attempting to gather dependency information for multiple packages with respect to project 'RemoteControlService', targeting '.NETFramework,Version=v4.5.1'
update-package : Package

[2016-04-14 13:42] tugberkugurlu opened #2543 "Respect SemVer"
I have come across a very weird and annoying behavior with NuGet. I am able to pack a package with a version number of `1.0.0-rc1.1`. However, when I try to push it to NuGet.org, I get the below error from nuget.exe command line (v3.2.0):

[code]

If I try to upload the package on nuget.org, I get the below:

[code]

See [this build](https://travis-ci.org/tugberkugurlu/AspNetCore.Identity.MongoDB/

[2016-04-14 13:45] dotnetchris commented on #2543
:+1:

[2016-04-14 13:49] tugberkugurlu commented on #1938
This is going to confuse people and I am potentially hitting this on #2543. Everything would be so much simpler (especially the communication) if SemVer 2.0 was what NuGet supported.

[2016-04-14 13:52] yishaigalatzer commented on #2533
Makes sense, will keep on our backlog

[2016-04-14 14:04] yishaigalatzer commented on #2543
We blocked it already in 3.4.2

[2016-04-14 14:04] #2543 closed, assigned to nobody

[2016-04-14 14:06] yishaigalatzer commented on #1938
3.4.2 blocks semver2 until we get it all sorted out. But the nuget gallery will not allow it because that will break old clients with no recourse.

Also please don't push CI builds to nuget.org

[2016-04-14 14:12] yishaigalatzer commented on #2521
You will have to uninstall it. We are working on releasing it. It would be a few more days to finish other fixes and test

[2016-04-14 14:13] yishaigalatzer commented on #2419
So are you unblocked?

[2016-04-14 14:14] tugberkugurlu commented on #1938
@yishaigalatzer

Fair enough but at least the error message should indicate clearly why.

I am not pushing CI builds to NuGet.org, this is a pre-release https://www.nuget.org/packages/AspNetCore.Identity.MongoDB/1.0.0-rc1-1

If the intention is not to allow pre-release packages on NuGet.org, then it should be disabled there.

[2016-04-14 14:20] yishaigalatzer commented on #1938
Agree to both. We do absolutely support pre-release. Typically when you have the build number on the package you indicate a CI build vs a real pre-release that doesn't have it. But that is just a convention

@maartenba

[2016-04-14 14:22] leppie commented on #2419
@yishaigalatzer Yes, after VS2015 repair. Still dont know what caused it (probably not Nuget, but something else doing the same).

[2016-04-14 14:27] yishaigalatzer commented on #2419
Thanks a lot for the update

[2016-04-14 14:29] AArnott commented on #2365
It already cannot. We're talking about giving project.json the ability to express more of what the compiler can do.

Sure it is: if you upgrade to the latest NuGet that adds support, _nothing changes_. You'd also need to update one of your NuGet package dependencies to a newer version that leverages the feature.

But you haven't answered my question: can you name a _specific_ scenario where it's _

[2016-04-14 14:37] wgtmpeters commented on #2514
It seems to be quit a bit slower , Visual Studio even seems to freeze for a while when restoring.
Did not notice this in version 3.3.x.

[2016-04-14 14:53] tugberkugurlu commented on #1938
Do you know if MyGet supports this?

[2016-04-14 15:00] maartenba commented on #1938
Yup. For NuGet we'll improve the error message.

[2016-04-14 15:08] agraignc opened #2544 "Add snapshot version of a package"
Will you add s snapshot version for a package or something close ?

Snapshot version is something existing on Maven and really useful if you're working on multiple projects.

For example if you're working on 2 projects A and B, A has a dependency package to B.
In a release scenario it's fine because your project A will have a dependency to the project B (the project B with the right version will b

[2016-04-14 15:34] kmcclive commented on #2520
@joelverhagen I sent a Fiddler trace to the email address you provided.

[2016-04-14 15:48] joelverhagen commented on #2520
Received. Thanks @kmcclive. We'll response back on this issue when we know more.

[2016-04-14 16:06] spadapet commented on #2540
Here's a callstack I got from opening a crash dump. The SelectedVersion property used in PackageSolutionDetailControlModel.UpdateCanInstallAndCanUninstall is probably null. Seems like an easy fix, but I'll see if I can repro.

[code]

[2016-04-14 16:28] alpaix commented on #2530
@abatishchev Thanks for reporting this issue.

**Current status.** @joelverhagen and I tried to reproduce the customer scenario but couldn't get exactly the same output with exception stack trace. We discovered many others where vague unclear error message was printed. My theory is that user's permissions were changed during open VisualStudio session.

**Action item.** Inspect all code paths where

[2016-04-14 16:38] spadapet commented on #2540
Another callstack for the same type of crash (SelectedVersion is null)

[code]

[2016-04-14 18:09] zhili1208 commented on #2163
@agocke yes, this is still happening, the issue comes from httpclient, dotnet core team will provide us an API to limit the open file number, but not now, so we are still waiting for them. If this blocks you, please use ulimit for now

[2016-04-14 18:09] MichaelSimons opened #2545 "Make errors easier to spot errors in restore output"
It would be nice if errors were easier to visually spot in the restore output.  Often there is a tremendous amount of output while restoring.  The first thing that comes to mind is to color errors red just like what is typically done with build errors.

[code]

[2016-04-14 18:55] forderud opened #2546 "NuGet update in VS2015 leaves old package traces in vcxproj"
I've suddenly started experiencing problems with NuGet update in VS2015 U2 with NuGet plugin 3.4.2. This consistently occurs on one of my computers. Reinstalling NuGet or repairing VS2015 does not help.

Steps to reproduce:
- Open any C++ project with outdated NuGet dependencies.
- Update the NuGet dependencies through the Visual Studio IDE.
- Observe that `packages.config` is correctly updated.
-

[2016-04-14 19:29] alpaix opened #2547 "Request url in error messages is not formatted correctly"
**Problem.** Error message containing request url wraps it in single quotes. As a result output console highlights incomplete url.

![image](https://cloud.githubusercontent.com/assets/8239356/14540938/66fd2078-023c-11e6-9fac-8c08525ac33a.png)

**Solution.** Use double quotes instead.

[2016-04-14 19:50] scottwstone commented on #2521
The 401 is resolved for me too.  Thanks!

[2016-04-14 20:01] jaredpar commented on #2365
If we're fixing it then lets fix it. Instead of starting from first princples about how builds _should_ work we should start with how they actually work.  Any gap in the flexibility is a potential adoption blocker.

I've provided a concrete scenario.  There is a lib that the customer sometimes `/link:` and sometimes `/reference:`.  How can they replicate their build, and hence their deployment dep

[2016-04-14 20:18] emgarten commented on #2542
@digitalsigi I don't see `LoggingService` on nuget.org. Is that where you are expecting it to come from?

[2016-04-14 20:27] GanesanRengasamy opened #2548 "programmatic NuGet Installation in the ASP.NET Website project"
Hi all,

I have working on the project template for the ASP.NET Website project. I Need to add the dependent Web config entries are add dynamically in the web config xml file while install the packages. But the Website project didn't have project file. So I cannot install the package with the use of the IVsPackageInstaller  interface.

How can I install the NuGet packages programmatic in the Websi

[2016-04-14 20:28] rrelyea commented on #2541
Thanks for the report. We are actively working on a fix of this. Won't be overnight.
Dupe of https://github.com/NuGet/Home/issues/2369

[2016-04-14 20:28] #2541 closed, assigned to nobody

[2016-04-14 20:50] emgarten commented on #2544
@agraignc have you tried using project.json (instead of packages.config) with snapshot versions?

[2016-04-14 21:00] rrelyea commented on #2544
With .xproj, we support this kind of feature. It will be released with v3.5.

[2016-04-14 21:00] rrelyea commented on #2544
Closing, but feel free to continue discussion.

[2016-04-14 21:00] #2544 closed, assigned to nobody

[2016-04-14 21:05] rrelyea commented on #2542
@digitalsigi Just to confirm, did you change the package manager source in the UI of Package Manager Console?
![image](https://cloud.githubusercontent.com/assets/8865080/14543615/eb7d5068-0249-11e6-8955-127a49bcfdc9.png)

[2016-04-14 21:35] #2521 closed, assigned to alpaix

[2016-04-14 21:52] #2191 closed, assigned to emgarten

[2016-04-14 21:53] #2528 closed, assigned to emgarten

[2016-04-14 21:54] #2525 closed, assigned to emgarten

[2016-04-14 22:10] pakrym commented on #2483
Fixed by https://github.com/NuGet/NuGet.Client/pull/472

[2016-04-14 22:10] #2483 closed, assigned to nobody

[2016-04-14 22:30] davkean opened #2549 "Restore crashes with a null ref when attempting to restore "xunit""
Version: 3.4.0.785

Given the following an msbuild project with the following project.json:

[code]

NuGet restore of this project crashes with the following:

[code]

If I replace xunit with "xunit.core", then everything succeeds.

[2016-04-14 22:30] rrelyea commented on #2546
Tried to repro unsuccessfully with the following steps on both VS 2015 Update 1 (w/ 3.3.0) and VS 2015 Update 2 (w/ 3.4.2)
1) file new project > c++ project > win32 > console application > finish
2) add zlib nuget package (using a slightly old version of it, so I have room to update)
3) rebuild successfully
4) update to a newer zlib
5) rebuilt successfully

Can you give me a set of steps and packa

[2016-04-14 22:36] tomasz-soltysik commented on #2461
I'm wondering what's the status of referenced pull request.
Nothing happened to it for 7 last days.

[2016-04-14 22:43] abatishchev opened #2550 "NuGet 3.3 outputs v2 feed url when pushing to v3 feed url"
I'm using nuget.exe version 3.3.0.212 to push a package to VSO feed:

[code]

And get the following output:

[code]

I can also post my nuget.config content but it contains only feed url and its credentials (security token).

[2016-04-14 23:16] jainaashish commented on #2542
@digitalsigi Make sure you've "all" source selected in Package Manager Console and then try update-package command
![image](https://cloud.githubusercontent.com/assets/18219758/14547066/079a8ddc-025f-11e6-8e81-72d71505f766.png)

[2016-04-14 23:24] davkean opened #2551 "Visual Studio crashed attempting after changing selection in Package Manager"
Don't have a good repro, but was using Package Manager to uninstall packages at a solution level in Update 2 for http://github,com/dotnet/roslyn-analyzers

[code]

Dump: I have a dump on my machine if you need it.

[2016-04-14 23:32] spadapet opened #2552 "Visual Studio: Design a better way to deal with errors in NuGet.Config"
Currently, if the user's NuGet.Config file is invalid, Visual Studio will show the following error when creating or opening projects:

![image](https://cloud.githubusercontent.com/assets/2523431/14546966/2e5247cc-025e-11e6-8352-dcf835113a37.png)

Can we come up with a more helpful dialog, or another way to show the errors, like in the output window or error list?

[2016-04-14 23:39] rrelyea commented on #2548
Firstly, the way that WebSite project template does addition of NuGet packages can be seen here:
C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\ProjectTemplates\Web\CSharp\1033\WebApplication45\WebApplication45Dev14.vstemplate

You'll see:

[code]

And if you try this template, you'll see that NuGet package manager works inside VS for that project after creation as well.

You coul

[2016-04-15 01:02] AArnott commented on #2365
No. You keep leaving out the point that we're not changing behavior for _any_ existing solutions. _You have to upgrade to see the new behavior_.

That sounds more abstract than concrete. It's a straw man. Can you give me a single _actual_ assembly that customers reference today that would break the customer's scenario after upgrading the package when it starts to link instead?

Otherwise, I don't

[2016-04-15 04:43] AArnott opened #2553 "Build fails claiming I'm missing 'win' as targeted runtime (regression in v3.4.2.830)"
With nuget.exe 3.4.2.830, after a restore the build fails, claiming I'm missing something from my project.json that in fact _is there_. Earlier versions of nuget.exe do not have this bug.

[code]

**Expected**

A successful build. As I see with NuGet.exe 3.3.

**Actual**

[code]

[2016-04-15 07:23] emgarten commented on #2538
Almost all NuGet projects need to perform basic disk operations including NuGet.Common which is a dependency of most projects. The lowest I can get NuGet.Common to build at is `netstandard1.3` which is `net46`.

[2016-04-15 07:37] forderud commented on #2546
I am able to reproduce the problem by following your instructions above. The problem is therefore likely related to my local nuget install or computer setup. Possible reasons might be different versions of dependent DLLs, regional settings or something else. I really have no clue.

Is there a way to crank up the nuget logging verbosity in the IDE?
Do you have a debug build of the NuGet 3.4.2 VS pl

[2016-04-15 08:30] emgarten commented on #2553
This is caused by NuGet trying to infer if the framework should restore runtime dependencies. For `portable-*` frameworks they are skipped but it looks like that needs to change.

[2016-04-15 08:40] maartenba commented on #1938
Improved the error message on NuGet (to be deployed). https://github.com/NuGet/NuGetGallery/commit/4d91074f79325fbc4d18ee17d63fc9f90c3178b3

[2016-04-15 08:53] maartenba commented on #2481
@zhili1208 is this caused by the package itself?

[2016-04-15 10:02] digitalsigi commented on #2542
Hi @all, thanks for careing....
@emgarten : True, because this package lifes in our private repo
@rrelyea and @jainaashish : Thanks, that did point me in the right direction, I selected "All" at the Package Manager **GUI** not at the console. Thanks to all!

[2016-04-15 10:02] #2542 closed, assigned to jainaashish

[2016-04-15 11:14] shepherd007 opened #2554 "NuGet.config settings being deleted by Visual C++"
It seems that when messing Visual C++ 2013 settings in Package Manager (such as selecting/deselecting available package sources) some of parameters configured by nuget (password, user...) are being removed. I've observed that affected parameters are: repository path, http proxy, username and password.
Did anyone observed such behavior?

[2016-04-15 11:31] rrelyea commented on #2546
Here is the diff of the project before and after I upgrade my zlib.
![image](https://cloud.githubusercontent.com/assets/8865080/14560061/0450cbe2-02c2-11e6-8be7-c0feeefcdd5c.png)

I also did another upgrade with similar results.
Perhaps if you captured exact project state and emailed (rrelyea @ microsoft) a slimmed down zip file (delete binaries from inside package directories) with separate folde

[2016-04-15 12:27] MademoiselleH commented on #2493
It seems that my coworker didn't select Update 2 when he installed VS2015 pro.
When he did, the nuget package version worked without any patch, but the manager version was still different than mine. (VS2015 enterprise).

[2016-04-15 14:57] forderud commented on #2546
Unfortunately, I cannot reproduce through the command-line due to https://github.com/NuGet/Home/issues/1291. Also, I'm not able to build the Visual Studio plugin myself for debugging purposes due to https://github.com/NuGet/Home/issues/2419 . These bugs really reduce my ability to debug the problem myself.

I'll have to come back to you with regards to a minimal reproducer, since the failing proje

[2016-04-15 15:25] ironicnet commented on #1648
I know that this bug is closed... but when using a batch file to upload several files...the errors appears in other output stream...

for instance I have this inside a bat:
`for /f %%f in ('dir /B NugetsServer\Packages\*.nupkg') do nuget push NugetsServer\Packages\%%f -Source PackageFeedUrl -ApiKey FeedApiKey -ConfigFile Nuget.Config`

If i run the .bat like this:
`uploadpackages.bat > results.txt

[2016-04-15 15:37] davkean commented on #1648
Redirect the error stream: http://www.robvanderwoude.com/battech_redirection.php

[2016-04-15 15:38] ironicnet commented on #1648
Thanks @davkean. After seeing the code, i see that is writing to the error output.
So the proper command line is:
`.\uploadpackages.bat > UploadResults2.txt 2>&1`

Thanks and sorry for bothering you!

[2016-04-15 15:45] Tasteful opened #2555 "Nuget.Server: ignoreSymbolsPackages=true throws http 500 exception instead of ignoring packages"
NuGet Server version: `Nuget.Server.2.10.3-master-0005`
NuGet Client Version: 3.3.0.212

Regarding the configuration option in web.config

[code]

`ignoreSymbolsPackages=true` should ignore the symbols packages. If I start a push of *.nupgk from a folder that contains both regular and symbols packages the process is aborted. See log below.

Expected is that the server is ignoring the packages, not

[2016-04-15 16:28] analogrelay opened #2556 "NuGet Restore not writing 'serviceable' attribute to lock file"
CoreCLR packages have assemblies marked with an attribute indicating they are servicable. `dnu restore` would scan package assemblies and transfer this attribute over to the lock file so that other consumers could depend on this data without having to scan assemblies. NuGet v3 restore does not do this.

See also https://github.com/dotnet/cli/issues/2523

[2016-04-15 16:29] CheloXL commented on #2529
I'm experiencing the same issue. Nuget.Server is 2.10.2 (although pointing a browser to my feeds it says "You are running NuGet.Server v2.10.0.0", not sure why).

Fiddler log says something like:
- Get on xxx/nuget, result 401
- Get on xxx/nuget with Authorization header, result 307 with a message that says "There is no operation listening for xxx/nuget, but there is an operation listening for xxx

[2016-04-15 16:32] yishaigalatzer commented on #2529
@alpaix can you please post the 3.4.3 fix here for verification that this was fixed for @CheloXL

[2016-04-15 16:33] yishaigalatzer commented on #2529
@CheloXL the v2.10.0.0 issue is going to get fixed in this commit - https://github.com/NuGet/NuGet.Server/commit/ae30d11f664017114a0874df74c4f818efc84e20 we will deploy to nuget.org shortly

[2016-04-15 16:34] analogrelay commented on #2538
That's fine, it's mostly just about getting it as low as we can go :). Since you cross-target `net45`, we can still work on `net451`, we just have to cross-target ourselves (which is fine in this scenario).

[2016-04-15 16:47] xaviergxf commented on #1320
I have the same problem as yufeih. I have a project called Deployment which should contain the reference to all other projects and create a bin folder with all outputs. How can i achieve this with the current vs 2015?

Thanks!

[2016-04-15 16:47] schellap commented on #2556
I believe this is not just coreclr packages although I haven't confirmed. The implication for us is rather serious: i.e., not being able to service. We are working around this for now to always check servicing for these assemblies.

[2016-04-15 16:58] yishaigalatzer commented on #2529
@CheloXL here are two private builds that should resolve the issue (hopefully) can you please try them out and let us know if it unblocks you?

### VSIX: Visual studio extension for Visual studio 2015

https://www.myget.org/F/nuget-vsix/vsix/NuGet.72C5D240-F742-48D4-A0F1-7016671E405B-3.4.3.835.vsix

### NuGet.exe 3.4.3

https://www.myget.org/F/nugetbuild/api/v2/package/NuGet.CommandLine/3.4.3-rtm-

[2016-04-15 16:59] emgarten commented on #2556
This was left out intentionally to keep NuGet from reading assemblies, I believe the plan was to read it at build/publish time.

What are the scenarios where this attribute needs to be read outside of build/publish?

[2016-04-15 17:13] zhili1208 commented on #2481
maybe, but looks like only happens for nuget.server

[2016-04-15 17:15] analogrelay commented on #2556
That does sound reasonable and like something we decided :). Ok, I'll close this out then.

[2016-04-15 17:43] CheloXL commented on #2529
@yishaigalatzer I'm getting "This extension is not installable on any currently installed products."

Error log:
15/04/2016 02:42:37 p.m. - Microsoft VSIX Installer
15/04/2016 02:42:37 p.m. - -------------------------------------------
15/04/2016 02:42:37 p.m. - Initializing Install...
15/04/2016 02:42:38 p.m. - Extension Details...
15/04/2016 02:42:38 p.m. -  Identifier         : NuGet.72C5D240-F

[2016-04-15 18:08] yishaigalatzer commented on #2529
Sorry my bad, this was the dev15 rather than visual studio 2015 version.

Please try this one:
https://www.myget.org/feed/nuget-vsix/package/vsix/NuGet.0d421874-a3b2-4f67-b53a-ecfce878063b/3.4.3.844

[2016-04-15 18:16] CheloXL commented on #2529
@yishaigalatzer Thanks, that worked. Also I can confirm that the above version works fine with my private nuget feed.

[2016-04-15 18:16] #2539 closed, assigned to spadapet

[2016-04-15 18:20] alpaix commented on #2529
Duplicate of https://github.com/NuGet/Home/issues/2521.
Fixed here: https://github.com/NuGet/NuGet.Client/pull/485.

[2016-04-15 18:20] #2529 closed, assigned to alpaix

[2016-04-15 18:20] #2540 closed, assigned to spadapet

[2016-04-15 18:32] yishaigalatzer commented on #2529
Thanks @CheloXL much appreciate the feedback and the time to report/verify!

[2016-04-15 18:44] spadapet commented on #2540
Cherry picked into 3.4.3 release branches

[2016-04-15 18:44] spadapet commented on #2539
Cherry picked into 3.4.3 release branches

[2016-04-15 18:52] skofman1 opened #2557 "Installing a package from PackageManager console with setting "All" tries only first source"
Repro steps:
1. Set myget as top source (for example), and Nuget as second source
2. Open Package MAnager Console
3. Try to install package: Install-Package Microsoft.ApplicationInsights.Web -Pre

[code]

[2016-04-15 19:00] srivatsn opened #2558 "Doing a nuget restore from within VS for a solution causes VS to crash."
Repro steps:
1. Clone https://github.com/dotnet/roslyn-analyzers/commit/8d854a996fa0ac1b0270dbd1fa35b69fa06ce537
2. Open src\Analyzers.sln in VS Update 2.
3. Build

Found that VS crashes with a stackoverflow with the following trace:

[code]

[2016-04-15 19:30] rrelyea commented on #2558
are you using NuGet v3.4.0 or 3.4.2 with Update2?
Update2 should autoupdate to 3.4.2.
If you aren't running 3.4.2, please update via tools/extensions/updates...and tell us if you see any problems.

[2016-04-15 19:31] srivatsn commented on #2558
Using NuGet 3.4.2

[2016-04-15 20:11] zhili1208 commented on #1791
verified this, it's already fixed. close this bug

[2016-04-15 20:11] #1791 closed, assigned to zhili1208

[2016-04-15 20:29] zhili1208 commented on #1844
verified 3.4.2, tools folder path is added to environment path. Close this bug.

[2016-04-15 20:29] #1844 closed, assigned to zhili1208

[2016-04-15 21:00] rrelyea commented on #2546
These may help you debug...
1) we have recently published the symbols publicly, so you may be able to debug the VSIX using the released version.
2) we are going to attempt to address https://github.com/NuGet/Home/issues/2401 in the dev branch in a couple hours.

[2016-04-15 21:16] cocogorilla commented on #1827
I just recently started a completely fresh f# project, attempted to download fscheck off nuget... this message fired.

Why is it checking our private repository?... its not available unless I'm connected through firewall.  But fscheck is public, not on our private repos.

Severity    Code    Description Project File    Line    Suppression State
Error       Exception 'System.AggregateException' thr

[2016-04-15 22:18] yishaigalatzer commented on #1827
Cocogorilla this looks like a different issue. Can you open a new issue and provide a good set of repro steps and the version of nuget you are using? Thanks!

[2016-04-15 22:32] joelverhagen commented on #2520
@kmcclive, we've applied a fix and produced a prerelease build of the Visual Studio 2015 extension:
https://www.myget.org/F/nuget-vsix/vsix/NuGet.0d421874-a3b2-4f67-b53a-ecfce878063b-3.4.3.846.vsix

Please let us know if this resolves your issue.

[2016-04-15 22:38] kmcclive commented on #2520
@joelverhagen Now I'm a little confused.  I thought I was supposed to change something on the server-side.

[2016-04-15 22:41] yishaigalatzer commented on #2520
We decided to allow for your server to work as is :)

[2016-04-15 22:43] kmcclive commented on #2520
Wow! Thanks. I'll give it a try.

[2016-04-15 23:02] kmcclive commented on #2520
@joelverhagen Yes, that resolves my issue.  Do you have an estimate as to when it will be released?  Thanks.

[2016-04-15 23:06] joelverhagen commented on #2520
We hope to release this VSIX early next week, however we are doing a verification pass to detect any regressions. This may change the schedule if any major issues are found.

[2016-04-15 23:07] kmcclive commented on #2520
Sounds good.  Thanks.

[2016-04-15 23:21] #2520 closed, assigned to joelverhagen

[2016-04-15 23:29] rrelyea opened #2559 "Installation failures due to package not existing, but it does"
From email thread:
Sometimes, I’m getting installation failures that says a package doesn’t exist, but I know the package exist.
Every time it is a different package.

Example:
Adding package 'Fooservice.Tomsignal.library.1.0.0' to folder 'c:\temp\tests\SpeedBar_1\packages'
Added package 'Fooservice.Tomsignal.library.1.0.0' to folder 'c:\temp\tests\SpeedBar_1\packages'
Install failed. Rolling back

[2016-04-15 23:29] davkean commented on #2558
I know what is causing this, and it's a regression because going back to a previous version of NuGet fixes it. I just also repro'd this on the Roslyn repro.

Basically, in my case we have a project called "xUnit" that has a project.json with a package ref to "xunit". This confuses NuGet, and causes it to stack overflow.

[2016-04-15 23:37] joelverhagen commented on #2520
Fixed with:
https://github.com/NuGet/NuGet.Client/commit/00049f027d3eb049ed96317980ae73adeffcf992

[2016-04-15 23:54] kingerja opened #2560 "installing package hangs if package has required dependency that does not exist at source url"
example:  (nuget version: 3.5.0.1150)
nuget install Microsoft.Azure.AzureServiceDeployClient -version 1.0.16-beta -source "http://wanuget/ManualMirror/nuget/"
It just hangs.

example: (nuget version: 2.8.60717.93)
nuget install Microsoft.Azure.AzureServiceDeployClient -version 1.0.16-beta -source "http://wanuget/ManualMirror/nuget/"
Unable to resolve dependency 'WindowsAzure.Storage (= 4.3.0)'.

P

[2016-04-16 00:26] harikmenon opened #2561 "Dev 15 Extension"
Build and ship Dev 15 Extension

[2016-04-16 00:27] harikmenon opened #2562 "Support New TFMs in Extensions for VS 2012 and VS 2015"
Quirking in 2012 and 2013

[2016-04-16 00:28] harikmenon opened #2563 "Bring back restore of Tooling packages to Solution"
Restore tooling packages was a takeback in project.json. We are bringing it back.

[2016-04-16 00:43] NTaylorMullen opened #2564 "Consider adding `includeInDependencies` property to a tool in project.json"
## The Problem

For dotnet cli tools that need to load user projects you currently need to add your tool in both the `tools` and `dependencies node`. Example of what you currently need to do:

[code]

This approach encounters issues when a user tries to upgrade their project (or simply add a tool for the first time) and they then mismatch their tool versions. You can imagine `dotnet-razor-tooling`

[2016-04-16 00:46] harikmenon opened #2565 "Optimistic resolver for Gather phase for Update Scenarios & bug fixes, diagnostic logs"
Optimistic resolver for Gather phase for Update Scenarios & bug fixes, diagnostic  logs

[2016-04-16 00:47] rrelyea opened #2566 "Error experience poor when installing EF -pre package"
install-package microsoft.aspnet.identity.entityframework -pre
(currently will install v3.0.0-rc1-final)

however, it will fail due to a package problem.
Please investigate making the error experience better.

cc @yishaigalatzer

[2016-04-16 00:47] harikmenon opened #2567 "NuGet warnings can be suppressed and upgraded to errors"
NuGet warnings can be suppressed and upgraded to errors

[2016-04-16 00:48] harikmenon opened #2568 "Add Telemetry to NuGet Extension"

[2016-04-16 00:49] harikmenon opened #2569 "Add Telemetry to NuGet Command-Line"
Add Telemetry to NuGet Command-Line

[2016-04-16 00:49] harikmenon opened #2570 "Pack for CLI and Project.json"

[2016-04-16 00:51] harikmenon opened #2571 "Support Tooling packages as a first class citizen of NuGet (UI and flow)"

[2016-04-16 00:52] harikmenon opened #2572 "Lineups"
Rob updating to include some text:

[2016-04-16 00:53] harikmenon opened #2573 "Improving Settings UI in Visual Studio to support multi-level nuget.config files."

[2016-04-16 00:53] harikmenon opened #2574 "Enable customers to see, edit and transform content files in their solution."

[2016-04-16 00:54] harikmenon opened #2575 "Enable customers to diagnose issues with Sources/NuGet when managing packages"

[2016-04-16 00:55] harikmenon opened #2576 "Support SemVer 2.0.0"

[2016-04-16 00:55] harikmenon opened #2577 "[Feature] Package signing"
Status: **Reviewing**

The specification is available here:
[Package signing](https://github.com/NuGet/Home/wiki/Package-signing)

Discussions should happen on this issue. Please link other issues with similar asks to this one.

[2016-04-16 00:56] harikmenon opened #2578 "HTTP protocol enhancements and merging code-paths"

[2016-04-16 00:58] harikmenon opened #2579 "Merging Restore from XPROJ, so all project.json restore behaves and looks the same"

[2016-04-16 00:58] harikmenon opened #2580 "Proxy rules” for local nuget – e.g. package ID X & Version Y, can only come from feed foo"

[2016-04-16 00:59] glennc opened #2581 "dotnet CLI app cannot have global.json in the same directory as the project.json"
I want to do this:

[code]

Right now I have to have the global.json one directory higher than my project.json in order to have the `projects` key read and used.

[2016-04-16 00:59] harikmenon opened #2582 "Supports Icons in packages in addition to URL's"

[2016-04-16 00:59] harikmenon opened #2583 "Support ReadMe.MD files in NuGet Packages"

[2016-04-16 01:00] harikmenon opened #2584 "Improvements to Browse in Package Manager UI (Multi Install/Uninstall)"

[2016-04-16 01:00] harikmenon opened #2585 "Allow control of Sorting in Package Manager UI Browse tab"

[2016-04-16 01:01] harikmenon opened #2586 "Restore Xplat for packages.config & solution"

[2016-04-16 01:01] harikmenon opened #2587 "DG (project Dependency Graph) file"
For example, TFMs should be expressed in this file.  Plug in P2P dependencies through a file generated agnostically to nuget.

[2016-04-16 01:02] harikmenon opened #2588 "Caching"

[2016-04-16 01:02] harikmenon opened #2589 "Enable customers to analyze and fix issues in project.json"

[2016-04-16 01:03] harikmenon opened #2590 "Large package support"

[2016-04-16 01:03] harikmenon opened #2591 "Public stable NuGet 3 API + documentation"

[2016-04-16 01:06] harikmenon opened #2592 "Common NuGet/LockFile/project.json APIs (ProjectModel) – CLI RTM"

[2016-04-16 01:06] harikmenon opened #2593 "Public stable NuGet 3 API + documentation"

[2016-04-16 01:27] divega opened #2594 "Misleading error when attempting to install package that depends on design-time facades"
As originally reported at https://github.com/aspnet/Identity/issues/783:
1. Open Visual Studio 2015 with NuGet Client 3.3 or 3.4.2
2. File -> New -> Project -> Console Application targeting .NET 4.5.1 or 4.5.2
3. In PMC,  run "Install-Package Microsoft.AspNet.Identity.EntityFramework -Pre -Source nuget.org"

That should install RC1 version of that package but the installation fails midflight and r

[2016-04-16 01:31] kingerja commented on #2431
Sorry for the delay I got caught up in other things.

I tried updating to 2.10.3 (the latest nuget.server I could find on nuget.org)
It did not repro so it appears this issue is fixed in later 2.x builds.

Thanks

[2016-04-16 01:31] #2431 closed, assigned to nobody

[2016-04-16 02:23] cocogorilla commented on #1827
Will do.
On Fri, Apr 15, 2016 at 3:18 PM Yishai Galatzer notifications@github.com
wrote:

[2016-04-16 02:49] TimMurphy opened #2595 "nuget pack -MSBuildVersion fails with "Unknown option: '-MSBuildVersion'""
Using nuget.exe Version 2.8.60717.93 the following command:

[code]

fails with with following error message:

[code]

[2016-04-16 02:50] emgarten commented on #2595
@TimMurphy get the latest nuget.exe from: http://dist.nuget.org/index.html

[2016-04-16 02:57] TimMurphy commented on #2595
@emgarten I was unaware of this distribution channel. I've always got latest nuget.exe from http://nuget.org/nuget.exe.

Do you think I should open another issue to replace or redirect http://nuget.org/nuget.exe?

[2016-04-16 02:57] #2595 closed, assigned to nobody

[2016-04-16 03:00] emgarten commented on #2595
That's a known issue, we're leaving that copy of nuget.exe alone for awhile to avoid breaking any CI machines out there that depend on specific behaviors that 2.8.6. has.

[2016-04-16 03:13] TimMurphy commented on #2595
OK. Many thanks for the quick responses.

[2016-04-16 05:44] emgarten commented on #2553
This will be fixed in 3.4.3
NuGet/NuGet.Client@a4fd57c416e8c5574f71e93a8881df1c2e08c2ac

[2016-04-16 05:44] #2553 closed, assigned to emgarten

[2016-04-16 05:45] emgarten commented on #2535
Thanks for the repro. This will be fixed in 3.4.3

NuGet/NuGet.Client@066c2a67eb97519ffa28ddb6df892816a5115ef3

[2016-04-16 05:45] #2535 closed, assigned to emgarten

[2016-04-16 22:10] BlueRaja commented on #859
Such as...?

[2016-04-16 22:36] Thraka commented on #2502
Ack, I just found out about symbol stuff and ran into this too. All my projects are created this way 😢
If I want to modify the nuget package, do I just copy all of the files in the shared project folder directly into nuget/src folder? Some guidance for this scenario would be great to have here: https://docs.nuget.org/create/creating-and-publishing-a-symbol-package

[2016-04-16 22:38] adroach1 commented on #2443
Try setting Nuget.org package source to the following for VS 2015
https://api.nuget.org/v3/index.json

I had the same 404 error most likely due to upgrading a 2012 solution to 2015. I'm using Nuget 3.4.2

[2016-04-16 22:44] yishaigalatzer commented on #2502
I don't know the answer here or if it will even work. The way the paths work, I don't see how the symbol server will pick up sources from other folders.

[2016-04-16 23:09] Daniel15 opened #2596 "How to get total download count via v3 API?"
How can we get both the total download count as well as the per-version download count using the NuGet v3 API?

Also see https://github.com/badges/shields/issues/678

[2016-04-17 06:18] xavierdecoster commented on #2596
AFAIK there's no API for this yet

[2016-04-17 08:26] JamesNK opened #2597 "nuget.exe 3.4.2-rc fails to correctly restore PCL project"
nuget.exe 3.4.2-rc fails to correctly restore a PCL project that use to work.

project.json:

[code]

nuget 3.3 lock file (works)

[code]

nuget 3.4.2-rc lock file (breaks)

[code]

msbuild then fails to build the solution with this error message:

[code]

Fix it please and write some unit tests so that it doesn't become a regression again.

[2016-04-17 18:07] cocogorilla opened #2598 "package resolution fails if unreachable source exists"
I presume this would work with any project type, however, I'm starting with a fresh F# library.

Visual studio version: 14.0.25123.00 Update 2
.NET framework version: 4.6.01038
Create new f# library
Add a source in nuget package sources "https://unreachable/nuget"
Package manager console -> install-package xunit

**Expected:**
search publicly available nuget source and local cache only, skip any s

[2016-04-17 18:08] cocogorilla commented on #1827
Reported issue:
[#2598](https://github.com/NuGet/Home/issues/2598)

[2016-04-17 19:41] vcaraulean opened #2599 "Package Manager UI uses OS' regional settings and not display language in VS2015"
I've updated to latest VS 2015.2 and after that Package Manager speaks French to me.

In the meantime, I have:
- VS 2015 in English
- Windows 10 display language set to English
- Regional formats are set to French as I'm living in a French speaking area
- I have 4 languages configured for input

Please, make Package Manager UI speak English by default. Local language should be an option, not the d

[2016-04-17 19:48] forderud commented on #2546
I think you can move this issue from the 3.4.3 milestone and over to 3.5 or similar, since I'm struggling to create a minimal reproducer. Also, I'm able to work around the problem for the time being.

It would be great if you could instead focus on https://github.com/NuGet/Home/issues/1291 sometime soon, since that would greatly ease debugging for me.

[2016-04-18 02:27] jamesqo opened #2600 "[question] Why can't dotnet5.1 packages be used in Profile 259 PCLs?"
Hi, I just made a NuGet package over [here](https://www.nuget.org/packages/Enumerator) that supports `dotnet5.1` and `net40` as target frameworks. From what I can see over [here](https://github.com/dotnet/corefx/blob/9e0b539c9ee3dd105ff55e81c1c32cd2976b71ef/Documentation/project-docs/standard-platform.md), `dotnet5.1` is essentially the same thing as the newer `netstandard1.0` and [can be consumed

[2016-04-18 04:15] emgarten commented on #2597
This looks like a dupe of https://github.com/NuGet/Home/issues/2553

[2016-04-18 04:26] JamesNK commented on #2597
It might be. If you have a preview version of a nuget.exe with that change somewhere I could test whether it is fixed.

[2016-04-18 04:27] JamesNK commented on #2597
Also, you're missing unit tests for the change!

[2016-04-18 06:56] alpaix commented on #2419
@forderud While working on #2401 I figured a `VsExtension.csproj` property that should help you with the exception you hit:

[code]

[2016-04-18 07:31] v-lawu opened #2601 "Create Web Site project, open NuGet UI, meet error."
NuGet 840

Repro steps:
1.Create empty Web Site project.
2.Right click the project node and select Manager NuGet Packages...

Expected: Can open NuGet UI.
Actually: Meet error.
![capture](https://cloud.githubusercontent.com/assets/12129698/14596633/5891f6c6-057a-11e6-83a6-92fd1d166283.PNG)

[2016-04-18 11:09] Kanimozhi12 commented on #2520
I have mailed the fiddler trace to support@nuget.org. the latest VSIX are not working for me

[2016-04-18 12:26] mathikp commented on #2366
@yishaigalatzer I have sent the fiddler trace of the issue through mail to support@nuget.org with subject as **Fiddler Trace for #2366.**

[2016-04-18 14:03] DavidKDeutsch opened #2602 "Nuget making tons of HTTP requests during "Attempting to resolve dependencies for package" phase"
When updating a package, Nuget 3.3 makes a _lot_ of requests to www.nuget.org, slowing things down considerably. Many of these requests seem to be for core libraries I already have installed, e.g.:

https://www.nuget.org/api/v2/FindPackagesById()?id='System.Threading' HTTP/1.1

Is this normal behavior?

[2016-04-18 14:59] toddm commented on #2461
I was out on vacation last week.  I'll try to finish this up today.

[2016-04-18 15:31] joelverhagen commented on #2520
@Kanimozhi12, thanks for sending the Fiddler traces. This is a different issue from the one that @kmcclive is encountering. In @Kanimozhi12's case, it looks to me like an HTTP request was rejected by a corporate internet filtering system.

A request was made to get information about the `Microsoft.Own.Security.Facebook` package. The response that came back was `403 Forbidden` with the content body

[2016-04-18 15:59] joelverhagen commented on #2476
Working document:
https://github.com/NuGet/Home/wiki/Package-Type

[2016-04-18 16:00] joelverhagen commented on #2462
@NTaylorMullen, this fix should be in .NET CLI right now. Could you verify that this issue is resolved?

[2016-04-18 16:38] chkpnt commented on #1084
Any update regarding this issue? I'm running Update 2, but `xunit.abstractions` still can't be loaded.

[2016-04-18 17:04] joelverhagen commented on #2536
Confirmations:
- This changes netcoreapp1.0 from `netstandard1.5` to `netstandard1.6`.
- `dotnet5.7` will not have any explicit mappings.
- `netstandardapp1.6` will not have any explicit mappings.

[2016-04-18 17:06] clairernovotny commented on #1084
Hi @chkpnt, please see my blog post for the details
https://oren.codes/2016/02/08/project-json-all-the-things/

It explains what to do for Unit Tests. You'll nee:
`<CopyNuGetImplementations>true</CopyNuGetImplementations>` in your csproj and a `runtimes` element in your project.json.

[2016-04-18 17:13] NTaylorMullen commented on #2462
@joelverhagen confirmed with 002416.

[2016-04-18 17:13] joelverhagen commented on #2462
Thanks!

[2016-04-18 17:13] #2462 closed, assigned to joelverhagen

[2016-04-18 17:13] Eilon commented on #2564
BTW in some places you mention `includeInDependencies` and in some you mention `includeInProject`. Fix?

[2016-04-18 17:14] jaredpar commented on #2163
Why is this issue still in the closed state?  It's 100% reproducable in Roslyn and our build is completely broken unless we resort to `ulimit` hackiness to unblock us.

That's fine but still seems like there is work to do on your end.  Shouldn't this bug be tracking the work?

[2016-04-18 17:15] NTaylorMullen commented on #2564
Thanks @Eilon, fixed :smile:

[2016-04-18 17:18] Pilchie commented on #1084
`CopyNuGetImplementations` should default to true for projects targeting .NET Framework (`net4x`)

[2016-04-18 17:22] clairernovotny commented on #1084
doesn't that depend on if it's an exe or library? xUnit tests are libraries and should default to false.

[2016-04-18 17:30] joelverhagen commented on #2536
Also:
- All Xamarin TFMs should move up to `netstandard1.6` (according to the previous decisions that Xamarin should track highest .NETStandard version).

[2016-04-18 17:31] Pilchie commented on #1084
We changed it for libraries in Update 2, specifically for `net4x` projects in order to more closely match the behavior of having a packages.config, where msbuild would have already copied locally.

[2016-04-18 17:36] ericstj commented on #2536
Correct

Correct

Folks have been discussion what we want to do with this TFM now that we have netcoreapp1.0.  I'll let @richlander chime in if he wants this.

Correct

[2016-04-18 17:44] zhili1208 commented on #2163
https://github.com/dotnet/cli/issues/809

[2016-04-18 17:50] emgarten commented on #2597
The nightly commandline build will have the fix, you can find it on: https://dist.nuget.org/index.html  Let me know if that solves the issue for you. It will be a 3.5.0 build, but this fix will go into the 3.4.3 RTM nuget.exe release which will be out as soon as possible.

There are tests covering restore with runtimes, the change here was to remove a feature that was in place for the CLI to leave

[2016-04-18 18:14] yishaigalatzer commented on #2602
Thanks for the feedback, I'm going to respond to your questions and close the issue. Feel free to continue discussing on this thread.
1. Yes it is normal, we are trying to see if there are new dependencies or versions during updates.
2. In 3.4.2 (and shortly to be released 3.4.3) we have made significant improvements, so things should be much faster.
3. We do have a plan to improve and make less c

[2016-04-18 18:14] #2602 closed, assigned to nobody

[2016-04-18 18:17] yishaigalatzer commented on #2596
@rrelyea can you point @Daniel15 in the right direction?

[2016-04-18 18:18] yishaigalatzer commented on #2599
Thanks @vcaraulean

[2016-04-18 18:18] #2599 closed, assigned to nobody

[2016-04-18 18:24] yishaigalatzer commented on #2598
@cocogorilla the general reason this happens is because we can't actually guarantee a consistent package install behavior if one of the sources is off.

For example imagine the server is intermittently off, and it has a new version of xunit. As a user you will get quietly an inconsistent experience between multiple installs.

This seems simple enough when you install a single package with no depen

[2016-04-18 18:43] yishaigalatzer opened #2603 "NuGet removes nuget.org from the settings file"
Ever since installing VS 2013 Update 5, Visual Studio removes the offical nuget package source from my solution's NuGet.config.

 Here's the file before I open the solution:

[code]

 And here it is after:

[code]

 While the change doesn't affect anything when working in Visual Studio, it does break my TFS builds, as TFS build no longer knows to check the offical nuget package source when restori

[2016-04-18 19:14] cocogorilla commented on #2598
@yishaigalatzer I think the ability to disable a package source would suffice... I'm not currently aware of a way to do this.

Having said that, are there WARN level exceptions in Nuget?  What if I went to install or update a package and I received a yellow warning that something in my source list was amiss... or possibly require user consent to proceed?

It makes total sense that you would not ev

[2016-04-18 19:14] #2598 closed, assigned to nobody

[2016-04-18 19:32] nchou opened #2604 "Support Questions"
My name is Norman Chou and I'm the product marketing engineer for Intel RealSense SDK.

I have a few question regarding Nuget, how do I send emails to support? The contact page is broke:
https://www.nuget.org/policies/Contact

I can't send emails or messages.

Thanks,
Norm

[2016-04-18 19:34] maartenba commented on #2604
support@ NuGet.org will do the trick

[2016-04-18 19:34] #2604 closed, assigned to nobody

[2016-04-18 20:44] AArnott commented on #2401
This is a common problem for VSIX's. Check out the [VsixSuppression](https://www.nuget.org/packages/Microsoft.VisualStudio.SDK.VsixSuppression/) NuGet package. You may install it to solve this problem, or at least to learn how to solve the problem for yourself.

[2016-04-18 20:55] emgarten commented on #1320
@xaviergxf @yufeih there are a few issues with csproj to xproj references, but the fixes are in progress and we're trying to get an update out as soon as possible.

[2016-04-18 21:41] alpaix commented on #2557
The behavior is similar to https://github.com/NuGet/Home/issues/2322. But this time it manifests itself in Powershell cmdlet.

[2016-04-18 22:51] toddm commented on #2281
Are we ok with this current behavior?  I'm not sure it requires a fix.

[2016-04-18 22:51] Eilon commented on #2564
Talked to @NTaylorMullen some more and perhaps what we really want is a similar feature, but it's really more like `useThisDependency'sGraphToResolveTheProject'sDependency'sButDon'tActuallyDependOnThis`.

In other words, the package resolution system would use "this" dependency's dependencies to "lift" up the main project's dependencies, but it wouldn't actually include any of the dependencies in

[2016-04-18 22:56] rkeithhill opened #2605 "3.4.2.830 causing credentials UI to pop for corporate, internal NuGet server"
We have an internal NuGet server for distributing packages and after the latest NuGet VSIX update for VS 2015 (3.4.2.830), folks are being prompted for credentials (which is new behavior).  When they supply their Domain credentials, they aren’t accepted.  The UI prompt appears again.  Yet if I open VS 2012 or VS 2013 (not having updated the NuGet VSIX), I can browse & install pkgs from our NuGet s

[2016-04-18 23:40] yishaigalatzer commented on #2281
I would blow up

[2016-04-19 00:12] NTaylorMullen commented on #2564
One interesting thing that might need some additional thought is where this would leave desktop support for tools. When the project would be built for desktop it'd need to have the tool and all its dependencies side by side in the output directory for a dispatch invoke. Whereas for non-desktop builds it would not because the deps file would have all the information needed.

[2016-04-19 00:42] rrelyea opened #2606 "Solution PackageManager Version ComboBox can select separator via keyboard"
We couldn't repro this crash: https://github.com/NuGet/Home/issues/2540
So we took a null check fix.

@alpaix and @rrelyea figured out the way to repro.

Select the version separator via keyboard -- works in Solution NuGet Package manager.
In Project Package Manage -- it isn't possible to select.

[2016-04-19 01:03] yishaigalatzer commented on #2600
What version?

[2016-04-19 01:25] JamesNK commented on #2597
Hmm, it's up to you, but if it were my project I'd add a test that draws a line in the sand that for a given project.json input, nuget.exe has to produce a certain project.lock.json output. You will avoid future regressions.

[2016-04-19 01:41] yishaigalatzer commented on #2598
We have thoughts around this area, one of them is just to detect that your source is off and temporarily disable it (after letting you know).

We did enable a warning mode in the command line (-ignore failed sources or something like that), but in the UI it is quite hard to express and even harder to revert. But thinking about it again it might just work if we put enough time into cleaning up the

[2016-04-19 01:42] yishaigalatzer commented on #1627
See #2598 we should enable installing and updating with failed sources after showing a good warning and a way to fix the issue (disable the source or fix the URL, or fix the accessibility)

[2016-04-19 01:56] jamesqo commented on #2600
@yishaigalatzer It seems to be happening with whichever one is installed in VS2015 Update 2, both in the GUI and the console. Here's the output of `nuget help` (which contains the version) in the Package Manager Console:

[code]

[2016-04-19 02:44] JamesNK commented on #2597
Nightly build fixed it. When do you estimate 3.4.3 will be out?

[2016-04-19 04:06] yishaigalatzer commented on #2600
You are running visual studio 2013 at least in the sample

[2016-04-19 04:07] yishaigalatzer commented on #2600
I believe this issue was fixed in 3.4.3 which we will release in a couple of days

[2016-04-19 04:53] emgarten commented on #2597
3.4.3 will be out later this week.

[2016-04-19 05:06] OsirisTerje opened #2607 "VS2015 missing Clear Cache option"
In previous versions of VS there was a clear cache option under Tools/Options/Nuget/General.  This is missing in VS 2015, and should be brought back.
It would also be nice to show the current path to the cache location.

[2016-04-19 05:20] OsirisTerje opened #2608 "VS2015 listing give package parameter error"
On some projects VS2015 can't list the installed packages.  It gives an error message "Error occurred" and a corresponding "Value cannot be null or an empty string. Parameter name: packageName" in the output.
![image](https://cloud.githubusercontent.com/assets/203432/14628470/bc8757b4-05fe-11e6-801a-12a65b8613f4.png)
This happens only for the Installed, the Updates works as it should, and only for

[2016-04-19 06:44] davidfowl commented on #2436
The idea would be that msbuild would be able to use the single target + an inferred or specified RID to get all of the assets. In the case of the inferred RID, you would do this if the user didn't specify anything. Users wouldn't need to understand RIDs up front.

This is where build time/publish time RID inference comes in. The basic idea is to avoid having to specify RIDs where possible. We've i

[2016-04-19 09:05] Kanimozhi12 commented on #2520
@joelverhagen I have tried with the network in which facebook is not blocked, It also produces the error. mailed the fiddler trace.

[2016-04-19 11:05] mathikp opened #2609 "Package installation takes more time"
Hi,
We have used created the NuGet Package along with 400 files for our localization support with bulk of .js files. While we install this NuGet the installation process was very slow and it took 15 mins to install in VS2015. How can we improve the installation perfomance with bulk localization files? I have checked with AngularJS.Locale.1.5.3 NuGet it contains around 800 files but it took 30 seco

[2016-04-19 14:09] davidfowl commented on #2600
This is by design, the dotnet5.x moniker doesn't work with PCLs.. Only netstandard does

[2016-04-19 14:19] jamesqo commented on #2600
@davidfowl I thought dotnet5.x was supposed to be equivalent to netstandard1.y, where y == x - 1... What was the point of introducing the .NET generation monikers, then?

[2016-04-19 14:30] richlander commented on #2545
I saw that, then these opaque error messages:

Richards-MacBook-Pro:test rlander$ dotnet run
The given key was not present in the dictionary.
Richards-MacBook-Pro:test rlander$ dotnet build
The given key was not present in the dictionary.
Richards-MacBook-Pro:test rlander$ dotnet --version
1.0.0-rc2-002426

[2016-04-19 14:39] MichaelSimons commented on #2545
@richlander FYI, I logged https://github.com/dotnet/cli/issues/2504 to improve the CLI error message in this scenario.

[2016-04-19 15:24] onslaughtq commented on #2605
We're having this issue at my company as well unfortunately :-(

[2016-04-19 16:42] rrelyea commented on #2549
@emgarten  - let's discuss

[2016-04-19 16:46] davkean commented on #2549
This project may have been called "xunit" - and might be related to: https://github.com/NuGet/Home/issues/2558

[2016-04-19 17:02] toddm commented on #338
This is being fixed with https://github.com/NuGet/Home/issues/2376

[2016-04-19 17:06] rrelyea commented on #2597
great. sounds like you won't be blocked for long. closing.

[2016-04-19 17:06] #2597 closed, assigned to rrelyea

[2016-04-19 17:07] kmcginnes commented on #2322
This is also an issue in the command line.
1. New command line project
2. Convert to project.json
3. Add NuGet package from the nuget.org
4. Add a `NuGet.config` with a private NuGet server
5. Execute `nuget restore MyApp.sln`
6. Fails to restore package

The restore command never even attempts to ask `nuget.org` for the package. It only asks the private package source, which fails. It seems to ig

[2016-04-19 17:15] rrelyea commented on #2608
@OsirisTerje -
Can you please verify that this problem still exists with 3.4.2?
If it does, can you share how to reproduce?

[2016-04-19 17:33] OsirisTerje commented on #2608
I updated manually (it was set to auto.update, but didn't?  Is that another issue?), and the issue is still there.
This happens on a single project, other projects are working fine.  I do nothing other than opening that dialog.
The projects builds and it seems to have downloaded all the packages, probably happened earlier.  One of the packages are an internal company package, the others are common

[2016-04-19 17:43] jinujoseph opened #2610 "Core project targeted to framework net45 brings the net451 dependencies"
Repro Steps
- Create a core Class Library
- Change the project.json to
  {
  "version": "1.0.0.0",

  "dependencies": {
    "NETStandard.Library": "1.5.0-rc2-24008"
  },

  "frameworks": {
     "net45": { }
  }
  }
- Build
- Now add a .Net Console application , Add a project.json file to the same
- Add below to the project.json
  {
  "frameworks": {
    "net45": { }
  },
  "runtimes": {
    "win":

[2016-04-19 17:51] emgarten commented on #2610
The _may be incomplete_ warning occurs when the DTE reference property `Reference3.Resolved` is false. It lets the user know that that NuGet is unable to walk all of the references, it continues on with the restore, but in this case the warning is real as it cannot find the project.json file in the child project.

I don't see the error message for the build warning about 4.5.1 in NuGet either. I t

[2016-04-19 18:02] kkm000 opened #2611 "NuGet.Server custom IPackageAuthenticationService fiasco"
We run a `NuGet.Server`-based server on our intranet. The server has a custom `IPackageAuthenticationService`, that authorizes package publishing through ASP.NET role (which is further defined through Active Directory group membership). I tried to upgrade the server to `NuGet.Server` v2.10.x (latest), and my attempt semi-failed.

Out current code uses `NuGet.Server`  v2.8.5, and this version uses

[2016-04-19 18:11] emgarten commented on #2608
This looks related to: https://github.com/NuGet/Home/issues/2540

[2016-04-19 18:15] kkm000 opened #2612 "Nuget.Server: Double-checked locking does not work"
It has been long known that [double-checked locking is broken](http://www.cs.umd.edu/~pugh/java/memoryModel/DoubleCheckedLocking.html). Here is a [prime example of double-checked lock in `NuGet.Server` code](https://github.com/NuGet/NuGet.Server/blob/8a068e8981c8d0e2f008efaf376998b0e6cc8b4d/src/NuGet.Server/Core/ServiceResolver.cs#L12).

Coming from the C++ land, I came to trust memory barriers to

[2016-04-19 18:58] rrelyea opened #2613 "Auto updateable vsix is not getting auto-updated on non-domain joined machines w/ VS2015U2"
VS2015 Update 2 enabled auto update for NuGet.Tools.vsix
Unfortunately, it appears that non-domain joined machines won't auto update.
The VS team is fixing for Update 3.

[2016-04-19 18:58] #2613 closed, assigned to nobody

[2016-04-19 18:59] rrelyea commented on #2608
See https://github.com/NuGet/Home/issues/2613 for auto-update details.
More soon...

[2016-04-19 19:09] kkm000 commented on #2605
Install https://dist.nuget.org/visualstudio-2015-vsix/v3.4.1/NuGet.Tools.vsix to fix. Do not forget to run VS as admin after that and disable automatic updates for the NuGet extension.

This has been open for 20 hours and not yet assigned the priority of -1.  :(

[2016-04-19 19:12] kkm000 commented on #2605
@yishaigalatzer, PTAL. This is really serious.

nuget.exe uses SPNEGO just fine, as are not updated VS 2013 and downgraded v 3.4.1 of the package manager. But the version 3.4.2.830 blows SPNEGO completely. A credential box pops up, you may enter your creds if you want (it will not work), and after 3 attempts a message from Package Manager in the Output window is displayed:

[code]

[2016-04-19 19:36] rkeithhill commented on #2605
@kkm000 That helps us get going again.  Thanks!!

[2016-04-19 19:39] FilipDeVos opened #2614 "install fails when a nuget Source is unavailable even when this is not the selected Source"
Since one of my nuget feeds sits behind a VPN connection it is often not available. Every time I want to install a package the install fails unless I activate the VPN.

[code]

[code]

This is triggered by the iteration of all sources which are added here [ResolverGather.cs](https://github.com/NuGet/NuGet.Client/blob/d74b04c1bdd3a6bb14b0ba6edd319e9c839c6eae/src/NuGet.Core/NuGet.PackageManagement/R

[2016-04-19 20:12] jinujoseph commented on #2610
@jasonmalinowski

[2016-04-19 20:15] yishaigalatzer commented on #2605
Fixed in 3.4.3, we have links on the closed 3.4.3 bugs with downloads

[2016-04-19 20:17] sanjeets commented on #1215
Do we have a solution for this issue?
I am having the same problem with visual studios 2015

[2016-04-19 20:28] zhili1208 commented on #1215
@sanjeets  Can you provide more details about this issue? (nuget version, visual studio version, repro steps, project type, packages.config or project.json, nuget.config)

[2016-04-19 20:39] rrelyea commented on #2608
Talked with @emgarten. This is different than #2540.
Is the error you are getting with 3.4.2 exactly the same as the one you originally reported in this issue?

With regard to the other stack overflow reports...this looks like an argumentException that our code is raising...but it is different than all the others..as the parameter name is different.

[2016-04-19 20:41] OsirisTerje commented on #2608
yes, it is
![image](https://cloud.githubusercontent.com/assets/203432/14654846/e3b48588-067f-11e6-92b9-7ed134ac2993.png)

[2016-04-19 20:44] OsirisTerje commented on #2608
And this is a typical packages.config file in the project,
![image](https://cloud.githubusercontent.com/assets/203432/14654918/3765758e-0680-11e6-865c-8d04af625783.png)
And if the packageName here refers to the Id here, there are no strange characters or anything here.  Is there some other places I could check?

[2016-04-19 20:45] rrelyea commented on #2605
Here is a link to the original issue:
    https://github.com/NuGet/Home/issues/2521
That issue has been fixed in 3.4.3 (which is soon to be released), and like @yishaigalatzer said, there is a link to a private build of .vsix if you'd like to verify it fixes your issue.

[2016-04-19 20:45] #2605 closed, assigned to alpaix

[2016-04-19 20:50] rrelyea commented on #2601
What version of VS & NuGet are you using?
If you aren't using 3.4.2, please try that one and let us know what happens.

[2016-04-19 20:56] rrelyea commented on #2560
We've fixed a number of server compat issues in later builds of 3.5.0.
Can you please upgrade to the latest (3.5.0-beta-1178)...and confirm if this reproduces.

[2016-04-19 21:02] rohit21agrawal commented on #2486
@rrelyea @yishaigalatzer

What should be the behavior here if the Package Manager is opened via the Solution?

Should we show the dependency options if there is atleast one project in the solution which is not the scenario stated above?

[2016-04-19 21:02] kkm000 commented on #2605
@rrelyea, @yishaigalatzer Thanks for the quick triage and the link to the fix! When do you think, roughly, the updated build could be available from the Gallery? Just planning ahead how to handle that internally (wait out, or have all engineers update from the above version, or update when they report, or..)

[2016-04-19 21:04] rrelyea commented on #2605
Should be out this week.

[2016-04-19 21:24] kkm000 commented on #2605
@rrelyea: Excellent, thank you!

[2016-04-19 21:35] spadapet opened #2615 "With csproj->xproj references, the build fails unless all nested references are added to the csproj"
You need a solution with three projects, a csproj that references and uses an xproj. And the xproj references and uses another xproj. Ideally the csproj only needs to reference the first xproj, but the build won't succeed until it references both xprojs.

**REPRO**
- Install the latest dotnet tools and patches (ask @spadapet for info)
- Download the following refs.zip and unzip it:
- [refs.zip](ht

[2016-04-19 21:52] xoofx opened #2616 "Microsoft.DotNet.Props was not found."
Hi there,
will trying to build latest dev branch, I'm getting this error:

[code]

From where can I install this file? (Tried latest dotnet-cli runtime but it is not there...)

[2016-04-19 21:53] emgarten commented on #2559
NuGet/NuGet.Client@078a8589a43357dd38d427a8764e85fa2bf18de8

[2016-04-19 21:53] #2559 closed, assigned to emgarten

[2016-04-19 21:58] rustd commented on #2564
This would help simplify the web templates for ASP.NET Core as well. Here is what project.json looks like https://github.com/aspnet/Templates/blob/release/src/Rules/StarterWeb/IndividualAuth/project.json#L5

The tools are needed to be specified in the dependencies section as well which makes it hard to add and use tools

[2016-04-19 22:00] emgarten commented on #2549
project.json restore use to respect package id casing but we've since moved to case-insensitive. it looks like the circular dependency check was stuck in the middle of that. I've made it case-insensitive now.

NuGet/NuGet.Client@e4f6732d935c873d9feac7e146990a4e69c8ac47

[2016-04-19 22:00] #2549 closed, assigned to emgarten

[2016-04-19 22:00] emgarten commented on #2558
https://github.com/NuGet/NuGet.Client/commit/e4f6732d935c873d9feac7e146990a4e69c8ac47

[2016-04-19 22:00] #2558 closed, assigned to emgarten

[2016-04-19 22:04] toddm commented on #2461
The Dev branch is frozen right now while we ship 3.4.3.  I'll be able to push this change when that lifts.

[2016-04-19 22:10] toddm commented on #2039
This is fixed in 3.5 beta.

[2016-04-19 22:10] #2039 closed, assigned to nobody

[2016-04-19 22:14] rohit21agrawal commented on #2214
NuGet's behavior is similar to in-built Add Reference behavior in Visual Studio (for non project.json scenarios) . Adding/Removing a reference manually doesn't save the project file automatically. Shouldn't NuGet have a similar behavior too? @yishaigalatzer

[2016-04-19 22:23] toddm commented on #1986
If you don't specify a nuspec or project file, it will pack as if you passed in the project filename.  This will use both the project file and the nuspec file and $id$ works.  If you pass in the nuspec file to the pack command, it does not use the project file at all so it won't have a property value for id.
If you're using a nightly build or the soon to be released 3.5 Beta, you can go back to no

[2016-04-19 22:23] #1986 closed, assigned to nobody

[2016-04-19 22:50] yishaigalatzer commented on #2486
Lets discuss with @harikm86 it probably needs a string of some kind telling the user that this doesn't impact xproj

[2016-04-19 23:25] rrelyea commented on #2616
We have some dependencies in our build that are out of sync with things that are externally available right now. Choices:
1) Using the release-3.4.3 branch may be easiest right now.
or
2) With Dev branch: use build.ps1 and VS Code to work in NuGet.Core.sln and normal VS for NuGet.Client.sln

[2016-04-19 23:25] #2616 closed, assigned to nobody

[2016-04-19 23:29] TheRealPiotrP commented on #2553
When should we expect this fix make it into a PR to dotnet/cli?

[2016-04-19 23:29] rrelyea commented on #2614
dupe of #2598
The solution is suggested in #1627

[2016-04-19 23:29] #2614 closed, assigned to nobody

[2016-04-19 23:36] harikmenon commented on #2575
#1627 #2614 #2598

[2016-04-19 23:36] rrelyea commented on #2612
Lazy<T> may be the right solution here.

[2016-04-19 23:43] rrelyea commented on #2610
The scenario isn't supported. When you use .NET Standard 1.5, you must target framework NET 4.6.2.

[2016-04-19 23:45] rrelyea commented on #2609
Can you please send us a package to support @ nuget . org

[2016-04-19 23:47] rrelyea commented on #2608
Can you please send us a repro project and packages (support at nuget . org)....
Or you could attach a debugger and show us where the exception is being raised.

[2016-04-19 23:52] rrelyea commented on #2607
We agree. Dupe #1704
You can use "NuGet.exe locals -clear all"
the locals command can also list all the caches.

[2016-04-19 23:52] #2607 closed, assigned to nobody

[2016-04-19 23:52] rohit21agrawal commented on #761
@AArnott don't see this happening with the VS Nuget Client. Can you share details of what version/client you are using to get the repro?

[2016-04-19 23:57] FilipDeVos commented on #2614
Not completely. When I force a source, why does it itterate over all sources?

This is not part of the linked issues, they would only make the behaviour less annoying.

[2016-04-20 00:03] yishaigalatzer commented on #2214
The ask here is to save

From: Rohit Agrawal [mailto:notifications@github.com]
Sent: Tuesday, April 19, 2016 3:15 PM
To: NuGet/Home Home@noreply.github.com
Cc: Yishai Galatzer yigalatz@microsoft.com; Mention mention@noreply.github.com
Subject: Re: [NuGet/Home] Changes to proj and sln files are not always synced to disk (#2214)

NuGet's behavior is similar to in-built Add Reference behavior in Visu

[2016-04-20 00:10] jainaashish commented on #2551
@davkean Thanks David for providing crash dump, I see it had crashed while selecting all projects, but can't repro locally. I tried multiple scenarios but no luck. Can you confirm how many projects did you had in your solution? Also confirm when ever you have repro steps which will help identify the root cause.

[2016-04-20 00:11] rohit21agrawal commented on #2601
@rrelyea @yishaigalatzer @v-lawu
Does not repro for me with Nuget 3.4.3 build 840 on Dev15.
Nor does it repro on Visual Studio 2015.

[2016-04-20 00:44] kkm000 commented on #2612
Looks like it. Internally it uses thread barriers to load/store values when constructing the object--it's `LazyInitValue` method is very interesting!

[2016-04-20 01:17] yishaigalatzer commented on #1704
Note: the `Refresh` button was added in 3.4.0

[2016-04-20 01:50] kingerja commented on #2560
This works with NuGet.Server v2.10.3.0
However older feeds that are not up to the latest 2.x nuget.server such as "http://wanuget/ManualMirror/nuget/" still cause nuget.exe to hang on missing dependencies.

[2016-04-20 02:08] jinujoseph commented on #2610
Here i am trying to call consoleapplication (net45) to target core class library (net45) , should be able to do , if i change this to 4.5.1 ...every thing works fine.
Can you pls reopen this

[2016-04-20 02:37] vortexau opened #2617 "If package source list is empty, cannot add package source via UI (NuGet 3.4.x)"
When trying to add Package Sources, access the config via Options -> Package Sources. Enter a 'Name' and 'Source' (valid details to try and install Moq), but then when I select 'Add' the item is added as 'Package source' with a URL of 'http://packagesource' and the fields updated to be those same values.

Apologies, I'm not sure of the version (unsure how to find that) - however I'm running VS 201

[2016-04-20 04:39] mathikp commented on #2609
Thanks for the update. I have check with my package with AngularJS.Locale they have used **i18n** as directory name of localization files. I have updated my package localization files directory name as **i18n** and try to install its installed in 20 seconds.

Please update the below details to us.
1. What is the purpose of **i18n** ?
2. If we used the package in console application it installed wi

[2016-04-20 04:55] AArnott commented on #761
Nope. I'm afraid given the age of the bug and the fact that I don't recall it ever reproing for me after filing it, there's probably no way I can dig that information up either. I'd offer to close, but perhaps @yishaigalatzer  has in mind to use this bug to track the feature he mentioned above:

[2016-04-20 04:57] yishaigalatzer commented on #761
We should do both, so if you can't repro we just need to design the other scenario

[2016-04-20 06:33] maartenba commented on #2612
This issue was moved to NuGet/NuGetGallery#2995

[2016-04-20 06:33] #2612 closed, assigned to nobody

[2016-04-20 06:34] maartenba commented on #2611
This issue was moved to NuGet/NuGetGallery#2996

[2016-04-20 06:34] #2611 closed, assigned to nobody

[2016-04-20 07:49] emgarten opened #2618 "Install and update download packages without checking the packages folder first"
PackageManagement does not check if a package already exists in the packages folder before retrieving it from the source. Later when it goes to install the package it finds one with the same id and version and skips using the package it downloaded.
### Steps
1. Create a solution with 2 class library projects
2. in the first project: `install-package nuget.versioning -version 3.3.0`
3. clear the gl

[2016-04-20 07:56] emgarten opened #2619 "Dependency information is not cached for multi-project operations"
The gather phase caches all dependency information in `ResolutionContext.GatherCache` by default to avoid duplicate network calls. PMC and some UI scenarios are creating new contexts/caches and not getting the benefit of this cache.
### Steps
1. Create a project with three default MVC projects
2. Run `update-package`
### Expected

Gather will be a noop for the 2nd and 3rd projects.
### Actual

No

[2016-04-20 12:43] suchja opened #2620 "Usage of NuGet logo"
I cannot find any license / usage information about the logo. Is it allowed to use the logo in articles / videos discussing NuGet?

[2016-04-20 13:02] CheloXL opened #2621 "Nuget doesn't read authentication from Nuget.config"
I think this might be related to #2529.
I have a private nuget feeds (using Nuget.Server). I also have a root (for all my solutions) Nuget.config where I have defined my custom sources/credentials, etc.
This configuration was working fine until the latest update. Now, every time I try to do something (from inside VS) using nuget, it asks for the credentials. Once I complete them, I can continue wo

[2016-04-20 16:11] rrelyea commented on #2621
The related issue you pointed to: #2529 has a link to a private build that has fixed the issue.
Please try that build out and re-open this issue if it is not addressed with that fix.

[2016-04-20 16:14] CheloXL commented on #2621
@rrelyea If you read that issue, I confirmed that the authentication thing worked with the private build. I opened THIS issue because the private build asks for authorization every time I open visual studio and doesn't read the authorization values from the .config.

[2016-04-20 16:57] rrelyea commented on #2621
Thanks for the clarification. That wasn't clear to me. Reopening.

[2016-04-20 17:06] jainaashish opened #2622 "Visual Studio crash after trying to install package at solution level through package manager"
Repro Steps:
1. use project http://github.com/dotnet/roslyn-analyzers
2. Try installing Newtonsoft.Json package for all projects at solution level through package manager ui.
3. visual studio will crash here.

I also have dump file, let me know if you need it.
Stack trace:

NuGet.LibraryModel.dll!NuGet.LibraryModel.LibraryRange.TypeConstraint.get() Line 31 C#
NuGet.LibraryModel.dll!NuGet.LibraryMo

[2016-04-20 17:08] harikmenon commented on #2620
Great question. Generally it is under CC, but I'm confirming this and will let you know soon.

[2016-04-20 17:12] rrelyea commented on #2621
@CheloXL  - where is your "root" nuget.config exactly? and can you show us the approximate location of your projects in relation to that location? if we have that info, we'll try to repro.

[2016-04-20 17:15] rrelyea commented on #2617
Workaround: manually add a source in the nuget.config located:  %appdata%\Roaming\NuGet\NuGet.Config

[2016-04-20 17:37] jainaashish commented on #2551
@davkean  FYI I can repro this crash and further investigating

[2016-04-20 17:39] rrelyea commented on #2622
please validate that @emgarten's latest 3.4.3 fix solves this.

[2016-04-20 17:41] suchja commented on #2620
Thanks!

[2016-04-20 17:43] rrelyea commented on #2601
@Zhili1208 investigated. Seems like VS2015 Update 2 w/ NuGet 3.3 or NuGet 3.4.3 -- there are errors. They differ, but the problem is the same. As such, we'll move out of the 3.4.3 milestone and consider the scenario in triage.

[2016-04-20 17:50] CheloXL commented on #2621
I have a folder where I have all my projects. On the root of that folder I have my Nuget.config.
Inside that folder I have subfolders that may/maynot have more subfolders where I have the different solutions.
So, basically:

[code]

[2016-04-20 18:22] rrelyea commented on #2319
Need to confirm that this is fixed completely in 3.4.3.
Parts were fixed in 3.4.2 and rest in 3.4.3, we believe.

[2016-04-20 18:22] #2319 closed, assigned to nobody

[2016-04-20 18:44] alpaix commented on #2621
I tried various combinations but I wasn't able to repro.
@CheloXL can you provide more details or maybe share your NuGet.Config with wiped out creds?

[2016-04-20 18:49] CheloXL commented on #2621
Sure, here you have.

[code]

[2016-04-20 19:04] emgarten commented on #2610
@rrelyea it's net45 but targeting the netstandard library, this should be fine.

[2016-04-20 19:05] jainaashish commented on #2622
Duplicate of https://github.com/NuGet/Home/issues/2558 which is already fixed.

[2016-04-20 19:06] #2622 closed, assigned to jainaashish

[2016-04-20 19:21] alpaix commented on #2621
Thanks for sharing it. I've got a repro!

I'm seeing following requests being sent by the NuGet Package Manager:

No credentials were sent in this transaction. Expected authentication protocol response in this case is 401 - not authorized with WWW-Authorize header listing supported authentication methods. This would trigger authentication negotiate by `HttpClient`. I assume you have a custom authe

[2016-04-20 19:27] joelverhagen commented on #2163
Did some digging, related: https://github.com/dotnet/corefx/issues/7932

Still investigating.

[2016-04-20 19:52] CheloXL commented on #2621
mmm.. Didn't know you would use that url for testing. The real url (that's a fake one) is not accessible from outside our VPN, sorry for the confusion.

What I get when I open the nuget package manager in vs is:

After that, VS asks for credentials. I believe that before VS asks for credentials, nuget should check if the credentials are already setup on the .config file (it was that way before the

[2016-04-20 19:54] CheloXL commented on #2621
Ah... BEFORE the update: Server, same version. Package manager: don't remember, but the one that comes with VS2015 update 2.

[2016-04-20 20:03] ah- commented on #2260
I'm just porting a project over from dnx to dotnet cli and this would help me a lot. I built a very hacky prototype based on how the other dotnet cli scripts are implemented: https://github.com/ah-/NuGet.Client/commit/52976572b84b0d3cbb112147cdc1846a0e5a90d1

Mainly needs more correct escaping of the single script string into executable and arguments and forwarding of script output to the correct

[2016-04-20 20:06] MichaelSimons opened #2623 "NuGet won't restore packages from local source when offline."
**Repro Steps**
1. Download latest dotnet cli on windows - https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-dev-win-x64.latest.exe
2. mkdir OfflineTest
3. cd OfflineTest
4. dotnet new
5. Create the following NuGet.config

[code]
1. unplug network or create firewall outbound rule that blocks network connection to all programs.
2. dotnet restore

**Actual Results:**
Resto

[2016-04-20 20:12] emgarten commented on #2623
This should work if `--ignore-failed-sources` is passed to restore. Missing sources can affect the restore result which is why nuget defaults to failing on this, but the offline scenario here looks like it could be improved.

[2016-04-20 20:27] MichaelSimons commented on #2623
@emgarten yes the `--ignore-failed-sources` option works.  Are you suggesting the offline support should be improved within NuGet?  Without that it seems like NuGet users would have to make a decision in cases like this - do I want offline to work or do I want source verification.  Alternatively VS or CLI could add logic to conditionally use `--ignore-failed-sources` if they detect offline but thi

[2016-04-20 20:45] revel8n commented on #1401
Is there any update on this issue?

Since issues are move to github, and the corresponding issues from codeplex do not seem to be here currently, i am assuming this is the current standing of the investigation into this.

This is a very inconvenient error to have.  It appears that since the source control monitoring of Visual Studio is active during nuget installs it is detecting the file removals

[2016-04-20 20:52] yishaigalatzer commented on #1401
We are currently investing in nuget 3.x in visual studio 2015, and don't expect to touch this in 2013 in the near future.

What version are you using?

[2016-04-20 21:00] zhili1208 commented on #2601
@rrelyea I just found 3.3 works for this scenario, the error of 3.3 is from my machine proxy setting, this is an regression, I fixed this and will send a pr soon

[2016-04-20 21:28] alpaix commented on #2621
Okay VPN usage explains that weird behavior.

Sorry for bugging you again, can you try renaming your source using alphabetic-only ascii symbols? Just to ensure it's not an encoding issue.

[2016-04-20 21:29] yishaigalatzer commented on #2601
Can you explain the exact scenario? The fix is about project.json so it's hard for me to tell how it is related to a web site project that typically used web.config

Sent from Outlook Mobilehttps://aka.ms/xp9y6l

On Wed, Apr 20, 2016 at 2:00 PM -0700, "Zhi Li" <notifications@github.com<mailto:notifications@github.com>> wrote:

@rrelyeahttps://github.com/rrelyea I just found 3.3 works for this scen

[2016-04-20 21:33] alpaix commented on #2621
Also to confirm. Does it find credentials if you put .config file at solution folder?
What's the full path to solution file?

[2016-04-20 21:35] alpaix commented on #2621
Here is the latest client build you can try as well:
https://www.myget.org/F/nuget-vsix/vsix/NuGet.0d421874-a3b2-4f67-b53a-ecfce878063b-3.4.3.854.vsix

[2016-04-20 21:36] zhili1208 commented on #2601
@yishaigalatzer web site project don't use project.json, but nuget search project.ProjectName.json or project.json for every project, nuget try to get project name from msbuild file, but for web site, there is no such file, so the project name will be empty string, then when we search project.ProjectName.json, it will throw Exception from Project Name emptyOrNull check

[2016-04-20 22:06] TheRealPiotrP commented on #2553
:eyes:

[2016-04-20 22:56] spadapet opened #2624 ""nuget.exe delete" doesn't delete a local package folder after the last version is deleted"
Using nuget.exe 3.4.3.854
Download any nupkg so that you can do the repro steps.

**REPRO**
- mkdir local
- nuget.exe add newtonsoft.json.8.0.3.nupkg -Source local
- nuget.exe delete newtonsoft.json 8.0.3 -Source local

**RESULT**
The folder "local\newtonsoft.json" still exists even though it is now empty after deleting the "8.0.3" subfolder.

[2016-04-20 23:00] spadapet opened #2625 "nuget.exe delete warns about API Key for local sources, even though it makes no sense"
Using nuget.exe 3.4.3.854

**REPRO**
- Pretend that you have a local file source that contains newtonsoft.json.8.0.3
- nuget.exe delete newtonsoft.json 8.0.3 -Source local

**RESULT**
WARNING: No API Key was provided and no API Key could be found for 'f:\local'. To save an API Key for a source use the 'setApiKey' command.

**EXPECT**
Don't show that warning since I will never need an API Key for m

[2016-04-20 23:11] emgarten commented on #2553
@piotrpMSFT this week

[2016-04-20 23:13] spadapet opened #2626 "nuget.exe delete won't prompt for credentials (it's in non-interactive mode)"
Using nuget.exe 3.4.3.854

**REPRO**
- nuget.exe delete foo 99.99 -Source nuget.org

**RESULT**
WARNING: No API Key was provided and no API Key could be found for 'https://www.nuget.org/api/v2/package'. To save an API Key for a source use the 'setApiKey' command.
WARNING: Deleting foo 99.99 from the 'https://www.nuget.org/api/v2/package'.
  DELETE https://www.nuget.org/api/v2/package/foo/99.99
  U

[2016-04-20 23:18] harikmenon commented on #2620
Here you go. All our assets are covered under [https://creativecommons.org/licenses/by/2.0/](CC-BY). We will shortly add this detail to the .NET Foundation website and link to that from NuGet.org. Thanks for raising this issue. This helped start the discussion with the .NET Foundation team and resolve this for all projects under .NET Foundation.

[2016-04-20 23:26] spadapet opened #2627 "nuget.exe push/delete won't use API Key"
Using version 3.4.3.854

**REPRO**
- Start with the default nuget.config file in %appdata%\nuget that only has nuget.org as a source
- In a browser, log into your nuget.org account and follow the instructions to set an apikey:
- nuget.exe setApiKey XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
- Try to unlist one of your packages:
- Example 1: nuget.exe delete foo 99.99 -Source nuget.org
- Example 2: nuget

[2016-04-20 23:36] divega commented on #2594
@yishaigalatzer I noticed that #2193 is assigned and in the 3.5 RC milestone. Wouldn't the error go away if you fix that one?

[2016-04-20 23:38] divega commented on #2594
Or perhaps I misread #2193 and that is only about changing that particular package to remove the reference?

[2016-04-20 23:40] dotMorten commented on #2001
Any update on this?  This is a complete showstopper for me. I need various shader and data files deployed in the correct folder structure. This makes it really hard to move away from ExtensionSDKs

[2016-04-21 00:06] yishaigalatzer commented on #2594
2193, is about supporting the scenario. We don’t know if we will be able to make it

From: Diego Vega [mailto:notifications@github.com]
Sent: Wednesday, April 20, 2016 4:36 PM
To: NuGet/Home Home@noreply.github.com
Cc: Yishai Galatzer yigalatz@microsoft.com; Mention mention@noreply.github.com
Subject: Re: [NuGet/Home] Misleading error when attempting to install package that depends on design-time

[2016-04-21 00:07] yishaigalatzer commented on #2001
ping @jasonmalinowski

[2016-04-21 00:37] yishaigalatzer commented on #2627
@spadapet is this a regression?

[2016-04-21 00:38] yishaigalatzer commented on #2623
This is by design. Please don't add logic to work around it.

[2016-04-21 00:38] #2623 closed, assigned to nobody

[2016-04-21 00:41] yishaigalatzer commented on #2617
Thanks for the report. This issue is fixed in 3.5 Beta, keeping it without a milestone because we might port it and release it earlier, still debating

[2016-04-21 01:28] CheloXL commented on #2621
@alpaix I can confirm that the version you linked above fixed my issues. Now the authentication is automatic. Now I'm correctly getting

Thanks!

[2016-04-21 03:13] kingerja opened #2628 "Multiple instances of nuget.exe trying to install the same package in parallel causes a double write"
Scenario
ProjectA and ProjectB each have a packages.config that contain the same package.  They each build in parallel.  Each checks that the nuget package needs to be installed at the same time and then both try to install it.  (they both appear to install it fine.)  However the files are written out by both instances of nuget.exe.

(the plus side is this has revealed some bad practices where tea

[2016-04-21 04:18] Kanimozhi12 commented on #2520
Hi ,

Any updates on this?

[2016-04-21 06:01] alpaix commented on #2621
That's typical auth with redirect scenario.
Closing as duplicate to https://github.com/NuGet/Home/issues/2521.

[2016-04-21 06:01] #2621 closed, assigned to alpaix

[2016-04-21 07:52] suchja commented on #2620
Sounds great! I'm not closing this issue as I guess you need it for tracking and reference. If not, my problem is solved and the Issue can be closed. THANKS!

[2016-04-21 08:30] maartenba commented on #2620
@harikm86 We may want to add that to our Media repo https://github.com/NuGet/Media

[2016-04-21 10:15] magmax opened #2629 "NuGet.exe Verbose mode should show the download url"
When enabling the verbose mode, it should show the path where the package is resolved.

Currently it just shows the "possible paths", but it would be useful to know the real final path to be used.

[2016-04-21 10:30] magmax opened #2630 "Weird behavior with left zeros on versions."
I'm having a weird problem with left zeros on CompareNetObjects package. From an empty directoy, I can do:

[code]

And it will create the 3.01.0.0 folder AND the 3.1.0.0, but doing (in an empty folder):

[code]

it just creates the 3.1.0.0 (what should be the correct behavior).

This implies that depending on what command is executed first, the compilation works or not.

In addition, when asking

[2016-04-21 12:40] revel8n commented on #1401
i have VS2012, VS2013 and VS2015 installed (as well as 2008 and 2010; blame VS's c-runtime, build tools, debug dll and legacy sdk dependencies...).

We have not fully migrated company wide from 2013 to 2015 yet, though that is in the works.  So i technically use nuget in both 2013 and 2015 at the moment.

[2016-04-21 14:35] yishaigalatzer commented on #1401
Are you experiencing the same issue in 2015 (with the latest nuget which is 3.4.2 at the moment)

[2016-04-21 15:07] patrickjlee commented on #1909
"Attempting to gather dependency information" is also ridiculously slow (> 30 mins and counting!) for me too, irrespective of source. How do I tell what version of Nuget I'm using, and how do I upgrade if necessary (I'm using Visual Studio 2015 Professional with Update 2, so I would hope that I'm using the most recent version??).  Thanks

[2016-04-21 15:13] yishaigalatzer commented on #1909
Tools and extensions will tell you what version of nuget you have, update 2 had 3.4 and you might get auto updates to 3.4.2 depending on how your computer is set up.

We have another major improvement in the pipe that wasn't released yet. It will help if you can share your project details to validate the change (and we will post a link to the privates once they are available).

Use support @ nuget

[2016-04-21 15:18] harikmenon commented on #2620
done. added you for review https://github.com/NuGet/Media/pull/1

[2016-04-21 15:19] harikmenon commented on #2620
Tracking the changes for this on the PR.

[2016-04-21 15:19] #2620 closed, assigned to harikmenon

[2016-04-21 15:34] ghost opened #2631 "Visual Studio XML Comments Not Visible"
If I create a Nuget package for a DLL to be used in another solution, the class XML comments (summary, remarks, etc) are not visible in the Visual Studio object browser.

[2016-04-21 15:42] rrelyea commented on #2631
Would love to help you address...a few questions:
do you see the intellisense in the code editing experience?
if not,
   in the packages folder, is there an .xml file next to the .dll?
   How are you creating that nupkg? (including what version of different tools like NuGet.exe)
   Is the project configured to create DLLName.xml with the intellisense files?
   What version of VS are you using?

[2016-04-21 15:45] rrelyea commented on #2629
Thanks for the feedback. Please help with a bit more detail:
A) Which tool are you using?
- NuGet.exe
- NuGet package manager in VS?
- Other?

B) What version of that tool are you using?

[2016-04-21 15:51] rrelyea commented on #2626
Putting in 3.4.3 for initial triage visibility.

[2016-04-21 16:00] magmax commented on #2629
Sorry!

nuget.exe 3.3.0.212

Thank you!

[2016-04-21 16:03] spadapet commented on #2627
I tried the previous version (3.3.0.212) and it fails for an even more bizarre reason:

[code]

Looks like this:

![image](https://cloud.githubusercontent.com/assets/2523431/14715917/a4cee1e4-079f-11e6-9b30-00f3f0b7ad17.png)

And then if I add the API Key for https://api.nuget.org/v3/index.json, it still fails:

![image](https://cloud.githubusercontent.com/assets/2523431/14715970/d1c8b47c-079f-11e

[2016-04-21 16:03] magmax commented on #2629
Output example:

[code]

I demand to know where was it found finally.

[2016-04-21 16:08] spadapet commented on #2627
Ah, it is a regression from nuget.exe 2.8.60717.93.
- nuget2.exe setApiKey [my key]
- nuget2.exe delete mytestpackagex 2.0.2

Works fine

![image](https://cloud.githubusercontent.com/assets/2523431/14716159/96f59580-07a0-11e6-9f42-da7508151ea6.png)

[2016-04-21 16:10] spadapet commented on #2626
NOTE: Not a regression, I get the same thing with nuget.exe 2.8.60717.93 and 3.3.0.212
So, probably not needed for 3.4.3

[2016-04-21 16:12] spadapet commented on #2625
NOTE: Nothing is broken, this is just confusing

[2016-04-21 16:23] pakrym opened #2632 "Excessive allocations in version comparsion code"
1. `HashCodeCombiner` is class so it gets allocated a lot
2. `SemanticVersion` operators create `VersionComparer` for each call
3. `SemanticVersion.IsPrerelease` allocates `IEnumerator` while underlying type of `_releaseLabels` is array.

[2016-04-21 16:26] rrelyea commented on #2630
What version of nuget.exe are you using?

[2016-04-21 16:28] rrelyea commented on #2628
What version of nuget.exe are you using?
Likely fixed in 3.3 or 3.4, we believe.

[2016-04-21 16:32] joelverhagen commented on #2632
Seems reasonable, but where was this perf problem apparent? What scenario I mean.

[2016-04-21 16:33] pakrym commented on #2632
Resolving libraries in `dotnet build`. Around ~30 mb allocations in total from version comparsion.

[2016-04-21 16:35] ghost commented on #2631
Yes, I do see the Intellisense.
In the packages folder there is not an XML in the lib directory.
I am creating the package via the Nuget Package Explorer
The project is configured to create the XML documentation.
I tried this in both VS2013 and VS2015.
Thanks for your help.

[2016-04-21 16:43] ghost commented on #2631
I did not realize that I had to include the xml file in the Nuget package.  (seems so obvious now).

Thanks.

[2016-04-21 16:43] #2631 closed, assigned to nobody

[2016-04-21 16:51] joelverhagen commented on #2601
I followed the repro steps on 840/dev15preview and did not see the problem. To verify this fix I'd want to see the problem first.

[2016-04-21 17:17] joelverhagen commented on #2601
Thanks @rohit21agrawal -- I was doing the repro wrong!

[2016-04-21 17:21] ericstj commented on #1970
What happens when folks have multiple versions in the project.json?  Warn/error?

[2016-04-21 17:22] jasonmalinowski commented on #1970
Probably error and require it to be forced in that place. is there an actual user scenario there for doing that...?

[2016-04-21 17:26] ericstj commented on #1970
Project.json usage in CLI commonly uses this.  In CoreFx we have projects that look like portable projects and have multiple configurations for cross-compilation that result in a different value for NuGetTargetMoniker.  I'm not suggesting first class support for that in PCL, but given the syntax is supported in project.json it'd be good to not just silently select one of many based on what we thin

[2016-04-21 17:31] jasonmalinowski commented on #1970
Well, I think our plan would be that the build task would just accept a NuGetTargetMoniker of ".NETStandard,Version=v*" (or something, syntax TBD) which would mean to do this, and that's what the PCL targets would specify. If you want to have multiple targets in your project.json and pick them by overriding the property set by the PCL targets, go right ahead. I guess the onus is on @rchande and I

[2016-04-21 17:54] abpiskunov opened #2633 "Need extensibility API to compare frameworks with imports"
It seems we need a new API from nuget to take into account framework’s imports when comparing frameworks.

Something like:

FrameworkName GetNearest(Tuple<FrameworkName, IEnumerable<string>> targetFramework, IEnumerable<Tuple<FrameworkName, IEnumerable<string>>> frameworks);

Or if you want to add a new Type for framework that would work too.

[2016-04-21 18:07] yishaigalatzer commented on #2630
#### Some more info

The data objects in PowerShell are different than what happens in command line. Here is some more input on how things _should_ work

We have two scenarios:
1. Packages.config
2. V3 folder structure (hierarchial structure) or project.json related global packages folder.

In scenario one the expectation is that the project will keep a reference to the dll, the path is going to h

[2016-04-21 18:23] yishaigalatzer commented on #2628
Looks like we still have a hole with the static methods:

See these calls:
https://github.com/NuGet/NuGet.Client/blob/d74b04c1bdd3a6bb14b0ba6edd319e9c839c6eae/src/NuGet.Core/NuGet.ProjectManagement/Projects/FolderNuGetProject.cs#L94

https://github.com/NuGet/NuGet.Client/blob/d74b04c1bdd3a6bb14b0ba6edd319e9c839c6eae/src/NuGet.Core/NuGet.ProjectManagement/Projects/FolderNuGetProject.cs#L104

[2016-04-21 18:35] joelverhagen commented on #2633
Spoke Anton offline. The `imports` of the project that is the dependency are not relevant. `imports` are only relevant on the consuming project. Therefore, the API will look like this

[code]

[2016-04-21 18:50] abpiskunov opened #2634 "Restore error: The project ClassLibrary15 does not specify any target frameworks in"
Repro:
1. Create a new ClassLibrary
2. Wait for restore and replace text in project.json with following:

{
  "version": "1.0.0.0",

  "dependencies": {
  },

  "frameworks": {
    "frameworks": {
      "netcoreapp1.0": {
        "imports": [
          "dotnet5.6",
          "dnxcore50",
          "portable-net45+win8"
        ]
      }
    }
  }
}

Actual result:

Restore fails with

PATH=.\node_

[2016-04-21 18:50] #2634 closed, assigned to nobody

[2016-04-21 18:51] abpiskunov commented on #2634
closing - incorrect json syntax, will open a a bug in tooling editors - there were no syntax errors reported

[2016-04-21 20:09] natemcmaster opened #2635 "Cannot install Nuget.Common in csproj"
This does not work on a csproj (ironically)

[code]

[code]

https://github.com/NuGet/NuGet.Client/blob/2e9de8ec7fe9fd5de4d2b608eb5cedb92d046458/src/NuGet.Core/NuGet.Common/project.json#L20-L24
If I'm not mistaken, shouldn't these be `"type": "build"`?

[2016-04-21 20:42] rrelyea commented on #2635
these should be removed if possible...other wise changing all 5 of those to type : build would be right.
/cc @emgarten

[2016-04-21 20:43] natemcmaster commented on #2635
Can we get this in ASAP? This is blocking Entity Framework's design-time tools for RC2. cref https://github.com/aspnet/EntityFramework/pull/5142

[2016-04-21 20:47] #2632 closed, assigned to pakrym

[2016-04-21 20:49] rrelyea commented on #2629
Logger may not be passed through the gather step (per @emgarten)

[2016-04-21 20:56] rrelyea commented on #2609
@mathikp - what version of nuget.tools.vsix are you using? if earlier version, please try latest.
is the project under source control?

[2016-04-21 20:59] rrelyea commented on #2600
They are not fully equivalent. Please use .NET Standard. Closing this issue in the NuGet repo.

[2016-04-21 20:59] #2600 closed, assigned to nobody

[2016-04-21 21:04] natemcmaster commented on #2635
Found more: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.RuntimeModel/project.json#L30. NuGet.RuntimeModel and others also do not install

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/project.json#L37-L40

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging.Core/project.json#L28-L30

[2016-04-21 22:31] revel8n commented on #1401
i have version 3.4.2.830 installed.
Well i see a different symptom of the issue now.

In 2015 it no longer outputs the error message that was present before, and it looks like it may have been able to copy the files, but the file are still marked as Pending Deletes.

As such undoing the Pending Changes replaces the files with those from the server again.
So technically the package is installed but

[2016-04-21 22:45] davkean opened #2636 "NuGet build task picks up project.lock.json, even when the project doesn't have a project.json"
I just ran into this - NuGet build task picks up project.lock.json even when the project doesn't have a project.json.

Image this:

Project 'A' has a project.json in Branch future, but not in Branch master

1) Starting in _future_, you restore _A_
2) Switch to branch _master_
3) Build

Notice that NuGet task picks up the project.lock.json from future, even though the project does not have a projec

[2016-04-21 23:25] yishaigalatzer commented on #1401
Thanks, thats concerning, can you share what Version of tfs are you using (they all behave a bit differently).

[2016-04-21 23:50] rrelyea opened #2637 "Update version dependency on netcore to include fix for mac"
Once netcore has a build that include the fix for the issue @joelverhagen was working with them on, we need to update our version requirements to use that version.

[2016-04-22 00:47] rrelyea opened #2638 "docs.nuget.org home page lists 3.3 as latest release"
![image](https://cloud.githubusercontent.com/assets/8865080/14728396/26a7e992-07e9-11e6-9b10-14df7168da21.png)

[2016-04-22 02:11] vijaik commented on #2626
This issue happens during a push too.

[2016-04-22 02:41] harikmenon commented on #2509
Done.

[2016-04-22 02:41] #2509 closed, assigned to nobody

[2016-04-22 02:42] harikmenon commented on #2509
http://docs.nuget.org/consume/Command-Line-Reference

[2016-04-22 03:40] revel8n commented on #1401
TFS 2015 Version 14.0.24712.0

[2016-04-22 04:45] harikmenon commented on #2638
tracked in PR (https://github.com/NuGet/NuGetDocs/pull/454)

[2016-04-22 04:45] #2638 closed, assigned to harikmenon

[2016-04-22 05:37] mathikp commented on #2609
We have tried the latest VSIX of v3.4.2.830. And the issue raised in ASP.NET 4.5 Web Application (MVC) in VS2015 only. The package working fine in Console applications. And we need more info about TFM i18n.

[2016-04-22 06:48] phenixdotnet opened #2639 "[dotnet restore] --configfile is relative to project dir instead of the cmd dir"
Initially reported at https://github.com/dotnet/cli/issues/2599
## Steps to reproduce

Assume this solution structure:
- MySol
  - nuget.config
  - src
    - MyProject

Open a cmd prompt and move to MySol directory
## Expected  behavior

Relative path are evaluated from the current prompt directory and not from the project directory
## Actual behavior

When running `dotnet restore --configfile .\n

[2016-04-22 08:40] IanKemp opened #2640 "[Question] Can NuGet be hinted as to locations of packages?"