[2018-12-18 18:04] forki commented on #5602
this is something that we noticed long long time ago. way before nuget was
annoucing lock files. That's why paket doesn't have hashes in it's lock
file.
Hope it gets fixed server side soon. /cc @isaac_abraham

Am Di., 18. Dez. 2018 um 18:46 Uhr schrieb Flavien Charlon <
notifications@github.com>:

[2018-12-18 18:13] anangaur commented on #5602
@Flavien This is by design. Lock files are auto recreated if the `RestoreWithLockFile` property is set and if lock file is out of sync or not present. You can fail the build if lock file needs to be updated by setting the property `RestoreLockedMode` to `true`.

@forki , @Flavien
Content hash being different on different OS seems weird to me. We need to investigate this. In the mean time, we may n

[2018-12-18 18:13] anangaur commented on #5602
/cc: @rrelyea @jainaashish

[2018-12-18 18:25] jainaashish commented on #5602
Even I don't follow why contentHash is different for the same package across different OS? Is this ZipArchieve thing? or NuGet feed?

[2018-12-18 18:26] forki commented on #5602
for clarification: in paket we tried to verify the hash that the server
sends. But that one is differing (in some case - not all the time) from
what we calculate locally. So after thinking about it: our issue is
probably not directly related.

Am Di., 18. Dez. 2018 um 19:13 Uhr schrieb Anand Gaurav <
notifications@github.com>:

[2018-12-18 18:30] anangaur commented on #5602
@jainaashish The package in question is System.Data.Common. Something to do with Fallback folder inconsistency?

[2018-12-18 18:32] nkolev92 commented on #7650
I don't get why this is a bug.

The github project either doesn't exist or was somehow made private.
Use a  different package to verify that the project url is clickable and leads to a real web page.

[2018-12-18 18:32] #7650 closed, assigned to nobody

[2018-12-18 18:33] Flavien commented on #5602
Diffing my lock files between Windows and Ubuntu, the other packages that end up with a different hash:

- runtime.debian.8-x64.runtime.native.System.Security.Cryptography.OpenSsl
- runtime.fedora.23-x64.runtime.native.System.Security.Cryptography.OpenSsl
- runtime.fedora.24-x64.runtime.native.System.Security.Cryptography.OpenSsl
- runtime.native.System.Security.Cryptography.OpenSsl
- runtime.open

[2018-12-18 18:35] jainaashish commented on #5602
`ContentHash` will only differ when there are actually multiple copies of this package across these systems which could be because of the different NuGet feeds configured across these systems or different copies in global packages folder (%userprofile%/.nuget/packages) or dotnet fallback folder (~dotnet/sdk/NuGetFallbackFolder)

[2018-12-18 18:37] nkolev92 commented on #7641
This issue was moved to NuGet/NuGetGallery#6770

[2018-12-18 18:37] #7641 closed, assigned to nobody

[2018-12-18 18:41] anangaur commented on #5602
@Flavien if you delete the FallbackFolder on both Dev machine and the Build machine, `restore` should work fine as the contentHash would be for the package from nuget.org which should be same. Can you try once?

[2018-12-18 18:47] anangaur opened #7651 "An option to skip content hash check is needed for lock files"
Currently the content hash for packages in fallback folder are different across different OS. See https://github.com/NuGet/Home/issues/5602#issuecomment-448308066

We need to get the following fixed:
1. All Fallback folder should same same content hash for its packages. With 3.0, Fallback folder itself will be removed and I am not sure how this can be done for existing packages.
2. We need a featu

[2018-12-18 18:56] loic-sharma commented on #7641
Hello @XtroTheArctic, there was an issue with our package publishing pipeline that caused delays two days ago. This should be fixed now!

[2018-12-18 19:45] vchekan commented on #7368
Why Rebuild/Clean does not clean all "obj" folder? Issues like this one impact developers productivity.

[2018-12-18 20:13] nkolev92 commented on #7629
Assigning to @karann-msft and @anangaur

Can you please help clarifying the below concern?

Also noted assembly meta data says copyright Microsoft
[code]
whereas the license linked to in nupkg's says
[code]

This might be in order, but if not I could correct that to in the PR.

[2018-12-18 20:26] nkolev92 commented on #7648
@rainersigwald
I'm not sure I fully follow, but I don't think that's the case.
The restore operation on each project requires the full closure of projects to be "discoverable", regardless whether those transitive projects are getting restored themselves or not.

[2018-12-18 20:27] #7599 closed, assigned to jainaashish

[2018-12-18 20:37] wbaffy commented on #2276
P4VS implements DTE.SourceControl in 2018.4
`        #1717269 (Bug #66552, 59357)
            P4VS now implements some of EnvDTE.SourceControl. Other
            Visual Studio tools can now call IsItemUnderSCC,
            IsItemCheckedOut, and CheckOutItem. This will enable files
            like packages.config to be checked out when they are being
            edited by NuGet package manager.`

[2018-12-18 20:45] aarongomez1 opened #7652 "PackageReference output missing libs"
I have a custom nuget package that contains multiple DLLs.   When this package is consumed, I only want one of the DLLs, MyA.dll, to be referenced by the project.  However when I build I need all of my DLLs in the package to go to the build output folder.

Assume I have DLLs named MyA, MyB, MyC, MyD, MyE, and MyF

My nuspec looks like:

`<?xml version="1.0"?>`
`<package >`
`  <metadata>`
`    <id>

[2018-12-18 21:08] kirchner-trevor commented on #7432
I am also running into this same issue.

[2018-12-18 22:08] #2365 closed, assigned to jainaashish

[2018-12-18 22:11] Flavien commented on #5602
@anangaur I tried and that fixed the issue.

[2018-12-18 22:20] anangaur commented on #5602
Thanks @Flavien for validating the hypothesis. We still need to fix this issue: #7651

[2018-12-18 22:58] nkolev92 commented on #7603
@DoCode
There shouldn't be any difference between 2.2.1xx and 2.1.5xx, they carry the same NuGet bits.

Can you try using the latest patch of the 2.2.1xx SDK.

[2018-12-18 23:04] bergbria commented on #7609
@jainaashish, note that 'local' in this context is relative. If the source is a UNC share (e.g. \\foo\nuget), the cache won't be populated either. If the share is slow, the local cache would be far superior.

In my case, I'm running restore in a build system where I need to be able to predict the outputs of the action. If some restores populate the cache and others don't, my build system will erro

[2018-12-18 23:23] PatoBeltran commented on #7573
Awesome! Will close this issue since it has been resolved.

[2018-12-18 23:23] #7573 closed, assigned to loic-sharma

[2018-12-18 23:48] PatoBeltran commented on #7614
hey @mholo65 I sent a PR to fix this, I would appreciate if you can look at it and see if it would address your scenario. Thanks for helping us improve our codebase!

[2018-12-19 00:36] nkolev92 commented on #7588
Related:
https://github.com/dotnet/coreclr/pull/16478

[2018-12-19 06:35] nkolev92 commented on #7341
Could any of you that can reproduce the issue often enough try redirecting TMPDIR to a user-local folder before running restore, and report back to us whether you still see the problem.

[2018-12-19 09:16] springy76 commented on #5602
This entire feature seems to be still in early alpha state. It not only works on a single dev machine (invalid checksums just a second after initial creation) but after having removed that `NuGetFallbackFolder` now I just get this message in VS:

Error occurred while restoring NuGet packages: Access to the path 'Microsoft.AspNetCore.Razor.Language.dll' is denied.

5000+ compiler errors, everything

[2018-12-19 13:12] StingyJack commented on #7610
@jainaashish  - I also want to block the installation of the many Microsoft.ReportViewer packages that aren't the one that is MSFT issued. Or consider that dependency satisfied if the MSFT official reportviewer package is already installed,

EDIT: And I need this all to be non-package reference format required.

[2018-12-19 16:17] DoCode commented on #7603
@nkolev92 ok I tried 2.2.101 and it's working now!
Thanks. You can close this issue.

[2018-12-19 16:35] natemcmaster commented on #4695
Here's a more recent sample. https://dnceng.visualstudio.com/public/_build/results?buildId=60999. I've attached the build logs this time since the retention policy on AzDO will clean this up soon.

[buildlog.txt](https://github.com/NuGet/Home/files/2695709/buildlog.txt)

By my count, ~3000 of the 5218 lines in this log are from NuGet restore.

[2018-12-19 17:22] StingyJack commented on #7180
@mishra14 @PatoBeltran  - any info about this?

[2018-12-19 17:58] jainaashish commented on #7610
If I'm not wrong here you're asking to prevent some packages bring some specific transitive dependencies. If that's the case then most likely the original package will be broken in absence of those transitive dependencies. Restricting those transitive dependencies to a certain version ranges (through AllowedVersions) still allows the original package to satisfy those dependencies, although there s

[2018-12-19 18:21] pakrym opened #7653 "Resore fails with "The process cannot access the file" if package was created in the same msbuild invocation"
I think it's caused by not disposing `ZipStream` inside `PackageArchiveReader`.

@rrelyea

[code]

[2018-12-19 18:37] nkolev92 commented on #7180
I don't think his changes affect the web.config, but rather the NuGet.config files only.
So I don't think anything has changed.

[2018-12-19 18:40] nkolev92 commented on #7601
@replaysMike
It doesn't prevent you from packing a extensionless license, as I said in my above comment.
Furthermore this behavior is about way more than licenses, and requiring a trailing slash for directories would be a breaking change at this point.

[2018-12-19 19:10] nkolev92 commented on #7632
Reopening because it hasn't been merged to 4.9.3.

@rrelyea Waiting for your call about that.

[2018-12-19 19:29] nkolev92 commented on #7588
I also believe the priority of this is lower.

Even though we were not **aware** of these changes, we've working fine on them since 2.1.300 (which was 2.1 runtime release we were in).

This needs investigated and fixed, but it's not a P0.
There's an argument to be had that being passive and listening to feedback might not be a bad approach as our code already handles most files accesses gracefully

[2018-12-19 20:48] PatoBeltran commented on #7614
PR has been merged, closing this issue.

[2018-12-19 20:48] #7614 closed, assigned to PatoBeltran

[2018-12-19 21:12] bjorkstromm commented on #7614
@PatoBeltran thank you! This looks to solve the problem I was experiencing!

[2018-12-19 21:39] jcagme opened #7654 "Incorrect version restored on MSBuild sdk.proj"
**sdk.proj**
[code]
[NuGet.config](https://github.com/dotnet/arcade-validation/blob/master/NuGet.config)
[global.json](https://github.com/dotnet/arcade-validation/blob/master/global.json)

In *random* occasions when running `MSBuild sdk.proj` the incorrect version of `Microsoft.DotNet.Arcade.Sdk` is restored as it always restores `1.0.0-dev.18424.13` and not what is defined in `global.json`.

An e

[2018-12-19 21:40] rainersigwald commented on #7654
@jeffkl This looks an awful lot like the NuGet SDK resolver is pulling the wrong version, but I can't see any obvious reason why. Seen anything like that before?

[2018-12-19 21:56] jeffkl commented on #7654
I haven't seen this.  Everything looks correct but the resolver is pulling the wrong version

https://dnceng.visualstudio.com/_apis/resources/Containers/870779?itemPath=Windows_NT_Build_Release%2FToolsetRestore.binlog

![image](https://user-images.githubusercontent.com/17556515/50250214-0925e680-0395-11e9-98cc-2e25f355ced0.png)

I thought maybe something was cached but I don't see any previous ref

[2018-12-19 23:25] StingyJack commented on #7610
For the System Colllections Immutable package specifically I've just about done that with a majority of  my projects, but they were going to be consuming that package anyway.  In this case I want to stop the "whoops" upgrade from happening that brings along a netstandard dependency and litters a project with about 100 dependencies that has no plans to leave netfx (many developers see an upgrade av

[2018-12-20 00:37] #6516 closed, assigned to nkolev92

[2018-12-20 00:38] PatoBeltran commented on #7485
This was solved as part of https://github.com/NuGet/NuGet.Client/pull/2118

[2018-12-20 00:38] #7485 closed, assigned to nobody

[2018-12-20 06:17] GanesanRengasamy opened #7655 "How to list the packages of unlisted packages in nuget.org using commands"
Hi Everyone,

I have published my some of the packages in nuget.org and also Unlist that packages. i want to list these packages back to show the packages while searching the packages in nuget.org. Currently I have do this manually from nuget.org site. But I want to do through the commands to reduce the manual process. Because from my side I need to list lots packages from my side. So, if it's man

[2018-12-20 08:21] #6769 closed, assigned to nkolev92

[2018-12-20 09:23] springy76 commented on #5602
Will the content hash also be different between a W10 dev machine and a W7 build machine? I already cleared all nuget caches and removed that FallbackFolder everywhere but it still fails with hash mismatch.

[2018-12-20 09:47] Flavien commented on #5602
What I don't understand is how can the same package with the same version number end up with two different hashes? To me, that is the root cause of the bug.

[2018-12-20 10:57] akerd opened #7656 "NuGet CLI snupkg pack doesn't include Authors and Owners fields"
**Problem Description**

NuGet packages create with option -Symbols -SymbolPackageFormat snupkg doesn't include Authors and Owners fields in the pacakge. The same command without the symbols option creates the fields as expected.

Here the comparison of the nuspec file included in the 2 packages:

![image](https://user-images.githubusercontent.com/1030305/50280930-2965ac00-044e-11e9-854d-9bc389add

[2018-12-20 17:37] jainaashish commented on #5602
this is to do with dotnet lzma tool which generates a different nupkg for the same package (id/version) in fallback folder which gives a different hash for the same package, where one coming from fallback folder and another from nuget.org. You can find more details in this issue# https://github.com/NuGet/Home/issues/7414#issuecomment-431997934

[2018-12-20 22:03] rrelyea commented on #7656
This is by design.
For GDPR reasons, we strip author and owner information from .snupkg.

What is your concern?

@anangaur @karann-msft @nkolev92

[2018-12-20 23:06] anangaur commented on #2867
The spec is now ready for NuGet community review. Do go through it and provide your feedback/comments.
https://github.com/NuGet/Home/wiki/Deprecate-packages

[2018-12-20 23:38] anangaur commented on #5602
**Update:** I am mistaken in the below suggestion. Please ignore it.

@Flavien , @springy76

~Just another pointer - You do not need to delete the packages, instead just point NuGet to not look at fallback folder. See details here: https://docs.microsoft.com/en-us/nuget/release-notes/nuget-4.9-rtm#packages-in-fallbackfolders-installed-by-net-core-sdk-are-custom-installed-and-fail-signature-validat

[2018-12-21 00:19] dotMorten commented on #2867
I find this confusing:

![image](https://user-images.githubusercontent.com/1378165/50317826-7e1b1e00-0472-11e9-93f1-85600fb76d0b.png)

It seems to encourage deprecating all packages, and that you're doing something "weird" if you're deprecating an old version (it's not even obvious that's an option apart from the description outside the webpage example). It's also encouraging you to switch to a co

[2018-12-21 00:30] anangaur commented on #2867
@dotMorten - this is great feedback. My hypothesis was that you would deprecate all package versions for **legacy** reason. Seems like thats not quite right. We can definitely do away with the warning.

I would not do this for now. Unless you have a fixed and regular release cycle, this option may not be useful Interesting idea though.

[2018-12-21 02:12] PNI-GS opened #7657 "Nuget.exe breaking relative path"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 4.8.x+

dotnet.exe --version (if appropriate):

VS version (if appropriate): VS2017

OS version (i.e. win10 v1607 (14393.321)): Windows 2008R2 & Azure DevOps

Worked before? If so, with which NuGet version: 4.7.x

## Detailed repro steps so we can see the s

[2018-12-21 02:27] rrelyea commented on #7657
Can u describe the relative path part of this repro?
Which paths are relative?  where?

[2018-12-21 02:31] PNI-GS commented on #7657
Here is the line from my csproj:

    <Reference Include="RabbitMQ.Client, Version=3.6.2.0, Culture=neutral, PublicKeyToken=89e7d7c5feba84ce, processorArchitecture=MSIL">
      <HintPath>..\packages\RabbitMQ.Client.3.6.2\lib\net45\RabbitMQ.Client.dll</HintPath>
    </Reference>

Seems that 2 of my 5 projects in one solution seems to be having this problem.  I thought it was at our code level but I

[2018-12-21 03:22] #7179 closed, assigned to nobody

[2018-12-21 03:25] rrelyea commented on #7657
Reading a few of these may be helpful?
https://github.com/nuget/home/issues?q=is%3Aissue+hintpath+relative+is%3Aclosed
relative hintpaths are a fragile design.

[2018-12-21 03:29] PNI-GS commented on #7657
Thank you.

I will do some reading but still something must be broken within the system that has now caused an instability and broken backwards compatibility.

[2018-12-21 03:37] eriawan commented on #7626
@pascalberger

Release notes for 4.9.2 is available now: https://docs.microsoft.com/en-us/nuget/release-notes/nuget-4.9-rtm#summary-whats-new-in-492

Could you please close this issue?

cc @jainaashish

[2018-12-21 06:11] dotMorten commented on #2867
Perhaps not common for many open source  projects, but I'd think most companies do (including Microsoft), since most customers require it.

[2018-12-21 06:38] marcinsmialek commented on #7621
The command line reference states that it uses MSBuild from path, and if it's not present, then it should use the latest version. I have my VS2017's MSBuild in path, and it is ignored.

The workaround that I've used on our project was invoking vswhere.exe to get the latest stable VS installation path and feeding its MSBuild location to NuGet via MSBuildPath parameter.

It works, but I'd rather lik

[2018-12-21 06:49] #7626 closed, assigned to anangaur

[2018-12-21 09:37] springy76 commented on #5602
I inserted `<RestoreAdditionalProjectSources/>` into autoexec.bat but did not work -- seriously: If someone writes a xml snippet into documentation then **PLEASE** give a hint where to place it (file -> parent-node/hierarchy).

[2018-12-21 09:51] fredricadell opened #7658 "Nuget pack handles nuspec files containing wildcards wrong"
## Details about Problem
We are using msbuild to paclk and publish a nuget from a nuspec file. In the nuspec file there is a dependency to another nuget-package whith a specified version as 1.0.* (included below). When we run the pack-step on the nuspec-file with nuget.exe, the nuspec-file that gets inserted in the package has changed the version on the dependant nuget-package to 1.0.0, which mean

[2018-12-21 09:54] arturians opened #7659 "Folder path changes after add new package"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI
NuGet version (x.x.x.xxx): 4.6.0
dotnet.exe --version (if appropriate): 2.1.202
VS version (if appropriate): 15.7.5
OS version (i.e. win10 v1607 (14393.321)): Win 10 v1709 (16299.785)
## Detailed repro steps so we can see the same problem

1. Install https://www.nuget.org/packages/PDFshar

[2018-12-21 11:10] bscheutjens commented on #7657
I have the same issue. Please take a look at the original post and the part:

E:\work\4e6219bf893eb490\ \packages\RabbitMQ.Client.3.6.2

There is a space between "4e6219bf893eb490\" and "\packages\RabbitMQ.Client.3.6.2". In my case that space should be a folder name where my solution is located.

When I replace the nuget.exe in the folder ".nuget" by the previous version (4.7.1) everything works f

[2018-12-21 11:34] PeteX commented on #2867
This looks good, thank you, and it will save a lot of time auditing our deployed applications.  A few comments:

- A command to audit all packages in a project is described as out of scope, but later in the document it talks about the "dotnet audit" command which seems to do just that.  Am I missing something?

- Will it be possible to add a "vulnerable" flag to a package that is already deprecate

[2018-12-21 14:45] StingyJack commented on #7659
I assume you are meaning this is the difference...
![image](https://user-images.githubusercontent.com/15381181/50347734-abb0a780-0504-11e9-830d-777299135fc8.png)
... which you are seeing because both packages contain the same files.  Yes, they are different hint paths because you installed them in a different order, but the files are the same so the reference is just getting updated.

![image](htt

[2018-12-21 20:17] zivkan commented on #7657
@PNI-GS @bscheutjens I'm unable to reproduce the error.

From the information provided, I can see that your project uses `packages.config`, not `PackageReference`, where the project is in a subdirectory from the sln file, so you're not using a `src\Project` folder structure. I don't have any other ideas at the moment.

I created a [sample repo](https://andyzivkovic.visualstudio.com/Public/_git/NuG

[2018-12-21 20:50] jainaashish commented on #7657
@PNI-GS @bscheutjens  are you guys running `nuget.exe restore` command with solution or project file? or any other command... because with packages.config  restore command has nothing to do with reference items in csproj.

Also, what is this path `E:\work\4e6219bf893eb490.nuget`? like solution directory, or root directory? where is the nuget.exe downloaded? what are the other assemblies or files a

[2018-12-21 21:29] jainaashish commented on #5602
@anangaur `RestoreAdditionalProjectSources` has nothing to do with fallback folders, Not sure where did you get this idea? If you really want to suggest skipping fallback folders then `RestoreFallbackFolders` is the right property. More details at https://github.com/NuGet/Home/wiki/%5BSpec%5D-NuGet-settings-in-MSBuild

[2018-12-21 21:30] bennettfactor commented on #6486
@alexmullans This may be a silly question, but does this work for non-Azure feeds? The linked repo description implies its Azure-specific.

[2018-12-21 21:52] zivkan commented on #7657
The `.nuget/nuget.targets` in the error message gave me an idea. Old versions of Visual Studio (2010 and maybe 2012/2013, but I'm not sure) didn't have good intergration with NuGet, and you would right click your solution and select "enable NuGet restore". I think that functionality used to create a .nuget directory with nuget.exe, and maybe nuget.targets. Therefore, my assumption is that this pro

[2018-12-21 21:58] smashedapples20 commented on #912
@Mizux That's not how mine is working. I'm running a newer version of dotnet, so maybe they "patched" the behavior you were seeing.

I have a released version 1.0.0 and I have pre-release versions of 1.0.1 with a range of `-alpha.#` through `-beta.4` all in my NuGet feed.

Here are my results:

Notation | Result
---------- | ---------------
1* | 1.0.0
1-* | 1.0.0
1.0* | 1.0.0
1.0-* | 1.0.0
1.0.1*

[2018-12-21 22:02] anangaur commented on #5602
@springy76 My apologies. My earlier suggestion was misplaced. I guess, for now, you can try the deletion or what @jainaashish suggested. We will investigate the issue and get back.

@springy76 , @Flavien Can you tell us more details like SDK versions (and repro steps)?

[2018-12-21 22:56] infin8x commented on #6486
@bennettfactor the Azure Artifacts Credential Provider is specific to Azure Artifacts feeds. However, the plug-in mechanism that the Credential Provider uses to plug into NuGet/dotnet/MSBuild is generic. Another feed provider (e.g. MyGet) could write their own credential provider plug-in.

[2018-12-22 07:40] bscheutjens commented on #7657
I'm using VS2013 Professional. We use SVN for version control and we auto ignore executables, so the nuget.exe is never added to SVN. So when somebody checks something out we always have to use the option "Enable NuGet Package Restore" on the solution from within VS (I'm not sure which command is executed), which creates the .nuget subfolder (if that was also not added to SVN) and and three files

[2018-12-22 13:53] asherber opened #7660 "VS doesn't notice new Directory.Build.props for old-style csproj"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):  VS UI

NuGet version (x.x.x.xxx): 4.7.1.5393

dotnet.exe --version (if appropriate):  n/a

VS version (if appropriate):  15.9.2

OS version (i.e. win10 v1607 (14393.321)):  Win10 v1803 (17134.472)

Worked before? If so, with which NuGet version:  ??

## Detailed repro steps so we can see the s

[2018-12-22 19:27] pascalberger commented on #7262
Closing as 4.9.2 is now blessed

[2018-12-22 19:27] #7262 closed, assigned to nobody

[2018-12-23 10:44] xen2 opened #7661 "NuGet: Adding a .NET Standard assembly with RuntimeIdentifier=win will override other TFM assemblies (.NET, Android, iOS, UWP)"
TL;DR: Adding a runtime-specific assembly for .NET Standard overrides other TFM assemblies such as .NET, Android, UWP, iOS, etc...

I made a package with following files:

[code]

If I compile a `net45` assembly using either no `RuntimeIdentifier` or `RuntimeIdentifier=win7` it will resolve those:

**(A)**
[code]

However, as soon as I use `RuntimeIdentifier=win`, the `netstandard2.0/win` assembly

[2018-12-23 14:49] xen2 commented on #7661
Quick addition: https://github.com/NuGet/NuGet.BuildTasks/blob/visual-studio-2015-update-3/src/Microsoft.NuGet.Build.Tasks/ResolveNuGetPackageAssets.cs#L343 assumes that if no runtime identifier is given, then there is nothing to copy.
This doesn't work well on platform such as Android which don't define a `NuGetRuntimeIdentifier`.

[2018-12-23 15:40] xen2 commented on #7661
After some investigating, it looks like `project.assets.json` is generated with priority order (2) net45/win, netstandard2.0/win, net45, netstandard2.0.

Is this really intended? This makes any multi-TFM assembly which uses netstandard2.0/win unable to use any other TFM that depends on `win` due to netstandard2.0/win overriding other TFM (UWP uses `win10` which inherit from `win`, and Android/iOS

[2018-12-23 19:33] pc-hansen commented on #982
I have build a nuget package at published it to a nuget.server site. But when I try to use the package form the server the .targets file from build folder is not in the file. But if I use the package from a local folder it works as it should. How do I get it to work ?

If i look in the package in the folder on the server it looks ok.

[2018-12-23 19:37] gh-andre commented on #7601
This is a really bad practice and it is also broken also in nuget.exe  4.9.2.5706 and that trick with the trailing dot doesn't work.

[code]

I tried the above with all combinations of `LICENSE` without a dot and with a dot and having a dot only in one of them or another - nothing works and I always get this error:

[code]

Only when I add something like `.txt`, it works, but then I have to modify

[2018-12-23 22:19] nigel-dewar commented on #2880
Same problem for me. really annoying. Every day now I think about switching to Java and leaving MS behind.

[2018-12-23 22:34] gh-andre commented on #7601
Ok, I found a combination that works. This is not very obvious.
[code]
Notice how `src` doesn't have a dot, but `target` and `file` do. It only works in this combination and all other dot placements fail. Seeing how you are adding a trailing underscore to the extension-less files to track them as such, I can see the lengths you went to deal with this. It would be simpler if you assumed a directory

[2018-12-23 22:58] domehead100 commented on #4054
Not related to a dotnetcore project, but we had issues similar to some of those described above trying to pack a project (.csproj) that referenced other projects with -IncludeReferencedProjects where there were nuget packages referenced anywhere in the chain of referenced projects.

We got the error ```Unable to find '<some nuget package>'. Make sure the project has been built.```, when running nu

[2018-12-24 05:17] GanesanRengasamy commented on #7655
Hi,

Any update on this?

[2018-12-25 08:39] jrgcubano commented on #3891
Hello there..

I have ended with a mix of solutions from this issue. We try to have conventions and in the end we have stayed with the next one.... Basically copy the referenced project asssemblies only if PrivateAssets="All".

eg:
- Directory.build... or Shared.msbuild for all the projects.
[code]

- ProjectA.csproj
[code]

- CI
[code]

Thank you all!

[2018-12-25 19:50] livarcocc opened #7662 "silence nuget feeds used"
_From @apobekiaris on December 25, 2018 16:1_

### Steps to reproduce

Run on any project the next command

[code]
### Expected  behavior
I would like to stop nuget polluting my logs with repeat information. Think a many projects solution you repeatably get the feeds used per project as I posted in the actual behaviour

### Actual behavior
[code]

### Environment data
15.9.20.62856

_Copied from o

[2018-12-26 03:47] GanesanRengasamy commented on #7655
Hi Everyone,

Could you please suggest the solution regarding this?

Thanks,
Ganesan R.

[2018-12-26 03:48] GanesanRengasamy commented on #7602
Hi All,

Could you please suggest me to achieve this?

[2018-12-26 04:48] GanesanRengasamy commented on #7649
Hi Everyone,

Could you please update the details regarding this ASAP.

[2018-12-26 14:40] boudinekirrou commented on #1448
Hi,
i have an issue to restore NuGet Package, when i click retore it give me the following error:  AN ERROR occured while trying to restore packages: Unable to find version 2.0.20525 of package 'expression-interactivity'
see attached screen
i'm using the source: https://api.nuget.org/v3/index.json

thanks

![error nuget](https://user-images.githubusercontent.com/15870461/50448962-7c46d400-0924-11e

[2018-12-26 14:44] boudinekirrou opened #7663 "Unable to find version 2.0.20525 of package 'expression-interactivity': Failed to restore Missing Nuget Package"
Hi,
i have an issue to restore NuGet Package, when i click retore it give me the following error: AN ERROR occured while trying to restore packages: Unable to find version 2.0.20525 of package 'expression-interactivity'
see attached screen
i'm using the source: https://api.nuget.org/v3/index.json

thanks
![error nuget](https://user-images.githubusercontent.com/15870461/50449025-e8c1d300-0924-11e9-

[2018-12-26 18:15] livarcocc opened #7664 "dotnet`s error with credentials for nuget feed"
_From @1scrooge on December 26, 2018 12:56_

After updated dotnet up to 2.1.502 and uper I have an error with credentials for nuget feed when I using apikey
[code]
my NuGet.Config:
[code]
on 2.1.403 version works fine
Could you fix it?

_Copied from original issue: dotnet/sdk#2773_

[2018-12-26 18:37] jainaashish commented on #7639
@bergbria As per our discussion last week I looked into this issue... As I mentioned in my first comment, currently nuget goes through all the versions of a package from global packages folder (%userprofile%/.nuget/packages) and then find the best match. But this can certainly be improved by first looking for the exact version if available just consume that, otherwise fallback to find the best mat

[2018-12-26 18:59] StingyJack commented on #7180
@nkolev92 - is the "Settings" tag appropriate for this as its not settings related?

[2018-12-26 19:35] StingyJack commented on #7180
@nkolev92  - Also, this issue has had many reports on developer community and contrary to Alisa Gu's [response](https://developercommunity.visualstudio.com/content/problem/64337/never-reformat-webconfig.html), it is affecting all users of Visual Studio.

Its not a Packages.Config specific thing either, as installation of packages by Package ref also will create/modify app and web.config files for

[2018-12-26 19:49] nkolev92 commented on #7180
@StingyJack

NuGet itself does not modify the app/web config as part of the PackageReference restore/install (which is really restore in the background) workflow.

So if there are changes, it's a different component.

[2018-12-26 19:55] nkolev92 commented on #7658
@fredricadell

Floating versions are not valid in the nuspec.
Only version ranges are valid in the nuspec.

https://docs.microsoft.com/en-us/nuget/reference/nuspec#dependencies-element
https://docs.microsoft.com/en-us/nuget/reference/package-versioning#version-ranges-and-wildcards

Through years of learning, NuGet basically says that the lowest version is the one that can help us get the best reso

[2018-12-26 20:12] nkolev92 commented on #7074
Closing as we have gotten no response.

[2018-12-26 20:12] #7074 closed, assigned to nobody

[2018-12-26 20:28] nkolev92 commented on #7662
@apobekiaris
That message is only logged on normal verbosity not minimal.

Furthermore not sure where the "\packages.config are already installed." is coming from as msbuild restore does not handle packages.config.

How are you actually restoring?

[2018-12-26 20:38] nkolev92 commented on #7659
@armind13
The issue is as @StingyJack correctly observed, the same assembly is present in 2 packages.

The closest duplicate I've found is the following: https://github.com/NuGet/Home/issues/738.

NuGet's packages.config cannot fix this problem in it's current form, it's as implemented in that case.

This works just fine with PackageReference though where NuGet does not write in your project file.

[2018-12-26 22:23] nkolev92 commented on #7660
NuGet depends on project-system for reading the PackageReference items in VS.

Duplicate of https://github.com/dotnet/project-system/issues/2888

I was not able to reproduce the 7/8 part.
If you have "Restore on build" enabled, then restore will kick in and it should've been good.

[2018-12-26 22:23] #7660 closed, assigned to nobody

[2018-12-26 22:44] nkolev92 commented on #7664
@1scrooge How did you generate that config file?

The config file doesn't look right and I don't think it'll be used by any NuGet version.

It's possible that the parsing became more restrictive than before but that wouldn't necessarily make it correct.

//cc @PatoBeltran

[2018-12-26 22:47] nkolev92 commented on #7663
@boudinekirrou

The package does not exist on nuget.org.

See https://www.nuget.org/packages/expression-interactivity.

I don't think there's an issue here. The package simply is not there.

[2018-12-26 22:56] nkolev92 commented on #7661
Does this answer your question?

https://docs.microsoft.com/en-us/nuget/create-packages/supporting-multiple-target-frameworks#architecture-specific-folders

[2018-12-26 23:11] nkolev92 commented on #7655
Try https://docs.microsoft.com/en-us/nuget/tools/cli-ref-list.

Note that this command is using old server APIs that have shown to be inconsistent across servers.

[2018-12-26 23:11] #7655 closed, assigned to nobody

[2018-12-26 23:20] nkolev92 commented on #7654
I don't have access to the resource to look into this.
But it does seem really odd. This has been a relatively stable part of the product with minimal changes in the 4.x release. Not sure what's going on here, so any extra information is appreciated.

[2018-12-26 23:21] xen2 commented on #7661
Thanks, it matches the behavior I saw.
So what's the intended usage if I want to make a `.NET Standard/win` + `.NET Standard/linux` + `MonoAndroid` + `UAP` + `iOS` nupkg?

Note that amongst those:
* `iOS` define `win`
* `UAP` defines `win10`
* `MonoAndroid` defines nothing but copy nothing due to https://github.com/NuGet/NuGet.BuildTasks/blob/visual-studio-2015-update-3/src/Microsoft.NuGet.Build.T

[2018-12-27 01:48] zivkan commented on #7657
Thanks for the sample, it was useful. I managed to get VS2013 installed on a VM today and test myself, and find the root cause. Unfortunately it doesn't have an obvious, simple solution

## Root cause

### Change to NuGet.exe

In NuGet 4.8 we added long path support, which involves setting the `Switch.System.IO.UseLegacyPathHandling` AppContext switch to false. This changes `mscorlib`'s behaviour

[2018-12-27 03:26] StingyJack commented on #7180
@nkolev92 - what is it that adds binding redirects to config files after/during package installation? What is it that adds app.config files to projects that didnt have/need them? I'm pretty sure I've seen that code and it is in the [nuget client repo](https://github.com/NuGet/NuGet.Client/blob/3803820961f4d61c06d07b179dab1d0439ec0d91/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Runtime/B

[2018-12-27 03:48] nkolev92 commented on #7180
You are correct, nuget does do that, but only in the case of packages.config. See for example that code is in a VisualStudio, while NuGet PackageReference also works the same in msbuild and dotnet.exe.
In PackageReference it works a bit differently, it's a different component that handles the binding redirects.

See https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/how-to-enable-and

[2018-12-27 06:55] RockNHawk commented on #5358
It didn't work for me ...on Linux

[2018-12-27 06:57] 1scrooge commented on #7664
@nkolev92 From there https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#package-source-sections

[2018-12-27 08:21] nkolev92 commented on #7664
Did you create it manually?
The apikeys section should not be in the packagesorucecredentials section.

It should be something like the following:

[code]

It's best if you add the API keys using the [setapikey](https://docs.microsoft.com/en-us/nuget/tools/cli-ref-setapikey) nuget cli command.

[2018-12-27 11:48] ThunderBoltEngineer commented on #5358
Upgrading dot net package from 2.08 to 2.09 resolved this issue.

[2018-12-27 15:04] StingyJack commented on #7180
@nkolev92 - Tagging this as packages.config means we will have to continue to deal with this burden because while the nuget team "supports" packages.config there will not be any attempts to fix bugs that do not overlap package ref.

A tool is only effective if it allows you to achieve more with a similar effort.

- This defect causes us to have to do **more** work to manage something.
- Package re

[2018-12-27 16:09] johnfercher commented on #1827
Same problem here, Clearing All Nuget Caches solved the issue.

[2018-12-27 17:13] maartenba commented on #6486
@alexmullans @nkolev92 With just the `netcore` plugin, it looks like no credential providers are picked up, and instead an exception is thrown? Does the `netcore` provider support interactive login (or at least device flow)?

Repro:
[MultiThreadedCredentialsRepro.zip](https://github.com/NuGet/Home/files/2712929/MultiThreadedCredentialsRepro.zip) (need to make sure no `netfx` plugin is installed)

[2018-12-27 17:55] nkolev92 commented on #6486
@maartenba
It already is supported, it works with dotnet.exe.
For discovery,
https://github.com/NuGet/NuGet.Client/blob/720f0669d33d4c9874344745629efab12116599b/src/NuGet.Core/NuGet.Protocol/Plugins/PluginDiscoveryUtility.cs#L88
 and https://github.com/NuGet/NuGet.Client/blob/720f0669d33d4c9874344745629efab12116599b/src/NuGet.Core/NuGet.Protocol/Plugins/PluginDiscoverer.cs

For launching:
https://

[2018-12-27 18:13] maartenba commented on #6486
Thanks, that helps!

Our scenario is that we have desktop .NET targeted, running under Mono on Linux. So for discovery and launching, behaviour is based on the NuGet.Protocol target used? So full .NET can not launch a .NET Core provider? And vice-versa?

(This also means `nuget.exe` under Mono currently does not support the `netcore` plugins?)

[Edit] further investigation shows plugins are loaded

[2018-12-27 18:54] nkolev92 commented on #7601
@gh-andre

That's not/wasn't my decision.
Pack (both nuget.exe and dotnet.exe) have worked a certain way for a very long time. Changing that now would be a big breaking change.
You can also do
[code]
Similar to
https://github.com/NuGet/Samples/blob/master/PackageLicenseFileNuspecExample/PackageLicenseFileNuspecExample.nuspec

[2018-12-27 19:07] apobekiaris commented on #7662
@nkolev92 thanks for the pointer, looks like there was an hidden explicit nuget call in on Import, probably from old ages. I remove it and now I am fine.

[2018-12-27 19:15] nkolev92 commented on #7662
Thanks for following up.

Closing thi as resolved.

[2018-12-27 19:15] #7662 closed, assigned to nobody

[2018-12-27 19:28] gh-andre commented on #7601
@nkolev92 Thanks for responding. As long as there is a work around, I can live with it.

[2018-12-27 19:31] gh-andre commented on #7601
@nkolev92 Also, having this documented on MSDN would certainly help. Nuget seems to be tailored for .Net deployments and there is little-to-none on how to work with native packages, especially when contents is not Windows-specific.

[2018-12-27 22:21] jcagme commented on #7654
It is odd indeed. also, i don't know what other details to share than those above. Last thing we tried was to bump the dotnet version from 2.1.3 to 2.1.401 but I checked and I found one build where this repro'ed even with the new version.

[2018-12-28 01:42] ericnewton76 commented on #5602
EDIT: Damn I wish I'd have seen this issue sooner.  First I saw of this was the blog post on Nuget.org.  Its great you guys are so much more transparent about things but I have a real bone to pick with y'all on the Nuget team.

Omg.  Whats the point of checkin of package.json.lock if you're not going to use it by default!  We need packages to be locked down at the time the developer picks a packag

[2018-12-28 02:00] ericnewton76 commented on #5602
And to be clear:

package lock files should only be generated at **INSTALL** or **UPDATE** time.   When a restore happens, and a package lock doesnt exist (solve issue of old libraries) then CREATE IT.  If this happens on build server, nothing you can do about it.  If this happens on DEV machine, it shows up as new file.  (Except on TFS where you HAVE to remember to promote the thing... another id

[2018-12-28 02:55] rocifier opened #7665 "Update-Package does not support operations over a list of packages"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS2017

OS version (i.e. win10 v1607 (14393.321)):
win10

Worked before? If so, with which NuGet version:
never been implemented

## Detailed repro steps so we can see the same problem

For example, the command `Update-Package Pac

[2018-12-28 03:02] nkolev92 commented on #4695
I've done a basic pass over the min & normal log messages.
Feel free to peek at my PR if you wants more details.
https://github.com/NuGet/NuGet.Client/pull/2577/

The msbuild /t:restore /v:m logs after the change for the NuGet Client solution look as below:

[code]
Please note that with this change, for "heavy" restores users might not see any feedback for minutes potentially.

[2018-12-28 05:38] 1scrooge commented on #7664
@nkolev92 thank you. it helped, but strange how it worked on version 2.1.403

[2018-12-28 06:33] anangaur commented on #4695
Btw, do we need full path of each csproj or can we show relative Path from the PWD ie from where the restore was run?

[2018-12-28 06:36] anangaur commented on #4695
Also, for normal verbosity, can we change the name lock file to something else to make it less confusing especially with the actual lock file feature?

[2018-12-28 07:19] forki commented on #5602
@ericnewton76 check out https://fsprojects.github.io/Paket/ - .NET has this for years.

[2018-12-28 07:41] RockNHawk commented on #5358
`export DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=0`
`dotnet restore`

this worked for me

[2018-12-28 07:59] nkolev92 commented on #4695
@anangaur
The full path is consistent with how the build does it.

I did not change any messages whatsoever, just the log level.
We can change that specific message though. Probably there are others that need revised but that's an obvious one.

[2018-12-28 08:00] davkean commented on #4695
Look at the paths above, the projects do not have a full path.

[2018-12-28 10:03] aveao commented on #7341
@nkolev92 I can confirm that that works for me.

(`rm -rf /tmp/NuGetScratch`, then `ln -s /tmp/NuGetScratch <a user-local folder>`, then `nuget install` works)

[2018-12-28 10:54] Mizux commented on #912
@CZEMacLeod  @smashedapples20
I guess there is also this problem:

The lowest applicable version rule restores the lowest possible version of a package as defined by its dependencies.

see: https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution#lowest-applicable-version

when using `X.Y-*` in order to include pre-release, the **lowest applicable version rule** apply instead

[2018-12-28 14:03] tmat commented on #4695
@nkolev92 How does the output look for `/v:quiet`? I'd expect it to output nothing, or maybe just "Restored N project(s).".

[2018-12-28 14:55] bdovaz opened #7666 "Fix NuGet.Commands project dependencies"
Why don't you depend directly on nuget packages? Right now looking at namespaces it looks like you're using older versions:

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/NuGet.Commands.csproj#L24

https://www.nuget.org/packages/Microsoft.Extensions.FileSystemGlobbing/2.2.0
https://www.nuget.org/packages/Microsoft.Extensions.FileProviders.Abstractions/2.2.0
https://w

[2018-12-28 17:51] nkolev92 commented on #4695
@tmat
It outputs nothing. But that's already the case with the old implementation.

[2018-12-28 17:57] nkolev92 commented on #7341
Thanks @aveao
I'd imagine it's a permissions issue.
Do you ever use nuget.exe on mono on the machine in question?

[2018-12-28 18:21] nkolev92 commented on #7665
Note that every package upgrade impacts the project graph.
This means, that updating both Package A and B to the latest version **might** be impossible.

One of the reasons why incremental updates make a lot of sense.

[2018-12-28 18:23] nkolev92 commented on #7666
Not sure what the reasoning behind compiling the source was when this was added, but it's not a "straightforward" change, as we have to consider whether other components within NuGet's ship vehicles have dependencies on the above assemblies.

[2018-12-28 18:45] aveao commented on #7341
I use the aur package "nuget-stable" and use msbuild to build mono stuff. So… I assume that's what it is.

@nkolev92

[2018-12-28 19:20] nkolev92 commented on #7578
That's a warning message is as expected.

More info
https://blog.nuget.org/20160126/nuget-contentFiles-demystified.html
https://github.com/NuGet/Home/issues/6659

[2018-12-28 19:20] #7578 closed, assigned to nobody

[2018-12-28 19:22] nkolev92 commented on #7365
A bunch of these issues were caused by repo signing on nuget.org and have been addressed when seen over the last few months.

[2018-12-28 19:22] #7365 closed, assigned to nobody

[2018-12-28 19:31] nkolev92 commented on #7500
@moh-hassan
Do you have restore enabled in VisualStudio?
Normally when you change the targetframeworks by editing the csproj in the IDE, an auto restore happens so when you build later you don't run into issues like the above.

[2018-12-28 19:40] nkolev92 commented on #7590
@sam-wheat
I was not able to reproduce this issue based on your description.
Would you mind trying it out again with nuget.exe 4.9.2?

[2018-12-28 20:29] moh-hassan commented on #7500
Thanks @nkolev92  for reply.
I configured nuget for PackageReference as described in [Quick solution for Visual Studio users](https://docs.microsoft.com/en-us/nuget/consume-packages/package-restore-troubleshooting)
I didn't have the option auto restore (as we did in Package.config) either on the level of solution or project.
BTW, I have Resharper installed , vs 2017.9.4

[2018-12-28 20:48] nkolev92 commented on #7605
There are multiple moving parts to fix this issue.
- [ ] NuGet side change
- [ ]  CLI side change
- [ ] docs

The P0 NuGet side change is in PR.

[2018-12-28 21:13] rocifier commented on #7665
Yes makes sense. It would need to operate at a higher level where it essentially runs the command for each package in order. Not sure how it would work transactionally if there was a failure in one of them part way through.

[2018-12-28 21:16] nkolev92 commented on #7665
@rocifier
Yeah the behavior would need to be defined in that case.

[2018-12-28 21:22] nkolev92 commented on #7500
@moh-hassan
Auto restore is something that will **always** happen for SDK based projects (and only SDK based projetcts).

Basically whenever a project gets loaded in VS, a restore is run. Whenever a project is changed in VS (that impacts restore, project file edits such as PR and tfm changes etc).

Are you able to reproduce this in a 1-project solution?

[2018-12-28 21:31] rocifier commented on #7648
Nice report and repro. I’m curious if this is just an issue with .net core projects or if the older package format also has this problem.

[2018-12-28 21:36] rocifier commented on #7653
I wonder if this is a case of #7648. Looking from midway down your log it may be doing two restores on the same project in parallel.

[2018-12-28 21:38] pakrym commented on #7653
I think this can be closed, another project was packing into the same directory we were trying to restore from.

[2018-12-28 21:38] #7653 closed, assigned to nobody

[2018-12-28 22:07] nkolev92 commented on #7296
I will close this as stale.
Please upgrade to the latest nuget versions and report back if you are still having issues.

[2018-12-28 22:07] #7296 closed, assigned to nobody

[2018-12-28 22:13] nkolev92 commented on #7385
This is by design.
Same framework identifier is considered closer than netstandard.

netXY will always be selected before NetstandardXY

See related issue https://github.com/NuGet/Home/issues/5370.

[2018-12-28 22:13] #7385 closed, assigned to nobody

[2018-12-28 22:34] nkolev92 commented on #7602
@GanesanRengasamy
I'm having trouble following the question here.

I'm not sure what you mean by "core assembly structure".

Can you clearly describe what's happening?
An example project (with packages) would be super helpful.

[2018-12-28 22:49] nkolev92 commented on #7664
I'm not confident it ever work, you might have just been getting lucky :)

I double checked 2.1.4xx(4.8 nuget) and 2.1.5xx(4.9 nuget) behave the same when you use the setapikey command.

[2018-12-28 22:49] #7664 closed, assigned to nobody

[2018-12-28 22:50] jainaashish opened #7667 "Restore resolves to a different version than defined in `packages.lock.json` file"
Steps to repro:
1. Create a new project and enable lock file feature
2. Create a local feed with package `package` version `1.0.0`
3. Add a packageRef of `packageA` with version `1.0.*`. This will resolve to version 1.0.1 and add that in to lock file.
4. Create another version `1.0.1` of `packageA` in local feed and delete `1.0.0`.
5. Clean project assets file and global packages folder.
6. Restor

[2018-12-28 23:28] moh-hassan commented on #7500
I did a two different scenario.
Environment: vs 2017.9.2, Package Manager Console Host Version 4.9.0.5661

**Scenario 1:**
modify framework and instantly click build

1) I tried this SDK project

		<Project Sdk="Microsoft.NET.Sdk">

		  <PropertyGroup>
			<TargetFrameworks>net452;netstandard2.0;netcoreapp2.1</TargetFrameworks>
		  </PropertyGroup>
		  <ItemGroup>
			<PackageReference Include="DotL

[2018-12-28 23:45] anangaur commented on #5602
@ericnewton76 Thanks for your detailed feedback. Let me try to answer your queries (as I understand them) one by one and we can delve into specifics, as required.

#### Why opt-in and and not have it opt-out? Why the presence of lock file is enough?

We did not want to suddenly start producing a new file with an incremental release i.e. as part of 4.x. In addition, the lock file feature is not com

[2018-12-29 00:40] sam-wheat commented on #7590
@nkolev92
Thanks for looking at this issue.  I see the same problem on 4.9.2.

[2018-12-29 01:59] nkolev92 commented on #7500
@moh-hassan
Scenario 2 is basically auto-restore in action.
Usually depending on your machine load (and how many projects you have in that solution), the whole thing should be seamless.

With a signle project I was not able to reproduce scenario 1.

And yeah as you articulated correctly the more projects you, the slower it will be.
Anytime something changes, NUGet runs a restore for all projects i

[2018-12-29 01:59] nkolev92 commented on #7590
@sam-wheat Would you be able to attach a repro project?

Thanks!

[2018-12-29 03:38] usbook commented on #7528
@tomaz77
i have the same matter,do you solved it?thanks

[2018-12-29 05:03] ericnewton76 commented on #5602
Thanks for the reply.  Sorry if my tone seemed too adversarial.  I can be passionate about this stuff and its hard to guard my words sometimes.

Granted, npm formally brought on the `package-lock.json` by moving to `npm v5`... read their [release notes](https://github.com/npm/npm/releases/tag/v5.0.0)  and [releases after v5.0.0](https://github.com/npm/npm/releases?after=v5.0.2)   It should be a ve

[2018-12-29 07:56] tmat commented on #4695
I assume with your change `/v:m` reports one message per project, correct? I wonder if it would be better to only report a message for each newly installed package instead. That is, if no package is installed to the cache there would be no message. I think that kind of information is valuable to see when you make some changes to package references. It's not really that useful to see a list of all

[2018-12-29 12:14] honzajscz commented on #2995
There is a type in the property _**IncludeBuildOuput**_ - a missing **t**

[2018-12-30 08:00] moh-hassan commented on #7500
Thanks @nkolev92  for your time and help.
I consider my issue is resolved and you can close the issue.

[2018-12-30 11:42] stakx commented on #7509
What's missing in the `<license>` documentation for me is:

* What's the recommendation on how to set `<metadata minClientVersion="?">` when using the new `<license>` field? Will older NuGet clients/tooling fail to parse a `.nuspec` file containing it?
* Is it possible to set both `<license>` (for newer NuGet clients) *and* `<licenseUrl>` (for older clients)?
* Can there be more than one `<license

[2018-12-31 14:26] bencyoung commented on #5556
For us the ideal config would be just a flag to use SemVer from the current version and then the referencing project wouldn't have to change if the package major version gets bumped. So something like:

[code]

would cause it to pick the current version from the referenced project and pick the next major version as the exclusive upper limit

[2018-12-31 15:54] natemcmaster commented on #4695
@anangaur @nkolev92 What do you think about emitting a message to indicate that restore has started, something like "Beginning restore of N projects..."?

[2018-12-31 16:39] AArnott commented on #4695
That would require that nuget have insight into the number of projects, which during a build, I expect it doesn't. It's just a per-project msbuild task.

[2018-12-31 17:22] natemcmaster commented on #4695
The "N projects" isn't the important part of my suggestion. My main suggestion is to show _something_ that indicates restore has started.  @nkolev92  is right that reducing verbosity will make command line restore appears to hang for several minutes. FWIW I think this is already e a problem with the current logging verbosity (see https://github.com/NuGet/Home/issues/4346), and reducing verbosity w

[2018-12-31 20:21] fschwiet commented on #2662
+1

This is going to be a problem for anyone trying to use Xamarin.Mac from a console app per https://docs.microsoft.com/en-us/xamarin/mac/app-fundamentals/console.

[2019-01-01 02:55] gitfool commented on #5132
I had the same problem until now. Adding the following to the `csproj` file works for me:
[code]
See https://github.com/NuGet/NuGet.Client/pull/2237. (Note that the property was renamed along the way.)

[2019-01-01 11:36] adamralph commented on #5132
Thanks @gitfool, that works perfectly!

If only these things were documented... or at least if only someone from the NuGet team could have told us this earlier...

[2019-01-01 11:38] adamralph commented on #5132
FTR this is a dup of https://github.com/NuGet/Home/issues/6354 and I believe it can be closed.

[2019-01-02 04:20] sikemullivan commented on #6140
I never had any issues restoring from Visual Studio, just with DevOps' builds.

**dotnet restore** doesn't play nicely (authenticate) with DevOps Artifact feeds. I worked around this by providing a nuget file with a placeholder. Then before the build, I replaced the placeholder (PERSONAL_ACCESS_TOKEN) in the nuget file with the token, $(system.AccessToken), that the build is currently running as.

[2019-01-02 04:46] GanesanRengasamy commented on #7655
Hi @nkolev92 ,

I want to relist the packages which are already unlisted in the nuget.org. I have posted the query regarding this. Could you please reopen the issue and provide the solution.

**Note:** I can't understand your procedure that how can close the issue without waiting for the customer reply like whether the reported issue resolved or not.

Thanks,
Ganesan R.

[2019-01-02 05:09] nkolev92 commented on #7655
That's not possible with the commandline tools.
You have to do it manually relist them on nuget.org.

[2019-01-02 05:12] GanesanRengasamy commented on #7655
Hi @nkolev92 ,

If we relist the 10 packages means manual process is possible. But if we need to relist the more than 500 packages means, the manual process is very critical.

https://docs.microsoft.com/en-us/nuget/api/package-publish-resource#relist-a-package

Also, I have found the command for relist the packages from above link. But this is not working. Is this POST command available in old ver

[2019-01-02 05:28] nkolev92 commented on #7655
@GanesanRengasamy

As far as I am aware, that has never made it into the nuget.exe client.
What you are looking at is the documentation of the protocol.

Regarding why the post request is not unlisting it, I'm not able to help you with that.
But if you file an issue at https://github.com/NuGet/NuGetGallery/issues, specifically asking for that, they might be able to help.

Regarding the client requ

[2019-01-02 05:32] GanesanRengasamy commented on #7655
Hi @nkolev92,

Is there any possible to add the relist option in nuget.org client.

Thanks,
Ganesan R.

[2019-01-02 05:40] GanesanRengasamy commented on #6329
Hi All,

Is this available in latest nuget.exe? If not, when relist option available in nuget.exe for relist the unlist packages.

Thanks,
Ganesan R.

[2019-01-02 06:00] GanesanRengasamy commented on #7602
Hi @nkolev92,

My custom assembly version is different for NetFramework and NetStandard like below,

.NetFramework assembly structure - 2.4**{Frameworkversion}0**.0.2 (For Ex: 2.4450.0.2)
.NetCore assembly structure - 2.4.0.2

When I installed the package in ASP.NET Core Project (4.6 framework) which is mentioned in previous comment my parent NuGet package refer the assembly like (2.4460.0.2), but

[2019-01-02 06:59] nkolev92 commented on #7655
See the edit of my last comment.

We have a tracking issue, but it's not a high priority currently.

[2019-01-02 07:22] cbries commented on #4234
Problem still exists in NuGet 4.9.2.5706.
I ran into this issue right now.

[2019-01-02 12:04] GanesanRengasamy commented on #7649
Hi Everyone,

Could you please update the details regarding this ASAP.

[2019-01-02 14:49] neslekkim commented on #7621
I'm running vs2017 15.9.4, and vs2019 preview, and with nuget 4.7.1.5393 and onwards it detects msbuild from vs2019 preview.

-- 4.7.1.5393

MSBuild auto-detection: using msbuild version '16.0.218.25180' from 'C:\Program Files (x86)\Microsoft Visual Studio\2019\Preview\MSBuild\Current\bin'.

If I use 4.8.1.5435 or 4.9.2.5706 I also get other issues:

MSBuild auto-detection: using msbuild version '

[2019-01-02 18:31] #7500 closed, assigned to nobody

[2019-01-02 18:37] nkolev92 commented on #7509
@stakx

This is not a "breaking change", there is no need for a min client version.
The old clients will interpret licenseurl, while the new ones will prefer the license element if present.

https://docs.microsoft.com/en-us/nuget/reference/nuspec#licenseurl

The note says, use license instead. So the answer is no.
See https://github.com/NuGet/Home/wiki/Packaging-License-within-the-nupkg-(Technical

[2019-01-02 19:02] nkolev92 commented on #7602
@GanesanRengasamy
Unfortunately I'm still not able to follow.

Can you please create a repro project for us?
Thanks.

[2019-01-02 19:03] PatoBeltran commented on #7605
as part of the long fix you mention, should xplat cli also read settings from the nuget.config to get credentials from there?

[2019-01-02 19:05] nkolev92 commented on #7605
@PatoBeltran
I think that's already being done.
Each command individually determines which sources to use, and to do that, it reads the nuget.config.

[2019-01-02 19:06] nkolev92 commented on #7621
@neslekkim

Where are you running nuget.exe from in those case?

What would you expected nuget.exe to do when being run from:

[2019-01-02 19:08] zivkan commented on #7657
In addition to the workarounds I proposed in the comment above, I want to add a 3rd option:

Edit `.nuget\nuget.targets` and replace the line:

[code]

with
[code]

This is also my proposed fix for the issue, but we need to wait until next week for the people needed to approve fixes to old versions of VS to come back to work.

However, my suggestion is still to avoid using "Enable NuGet Package Re

[2019-01-02 19:19] neslekkim commented on #7621
I'm using nuget in an batchfile, runnning under developer command prompt (the one for vs2017)
How is nuget detecting msbuild version?
When I'm running developer command prompt for an given studio installation, there are env variables which I thought was the source, like visualstudioversion=15, vscmd_ver=15.x.x, but that's probably not the case?

[2019-01-02 19:27] nkolev92 commented on #7621
NuGet is basically using some MSBUild APIs to help it detect all the msbuild toolsets on the machine.
Then it just picks the highest one.

Would you say this is an acceptable behavior:

- When running under a developer command prompt (which basically sets these env vars), you expect NuGet to use the msbuild version called out by those env vars.

- When running in a cmd environment (without the msb

[2019-01-02 19:35] neslekkim commented on #7621
Unless I'm totally off, I think the first behavior is what I would expect at least.
when running under cmd, I think it would be difficult to know what the user wants, except if the path-envvariable would point to the oldest first for instance, but probably that isn't good enough?
(I would also think that if the autodetect-message indicated how to change the behavior was included, that would help a

[2019-01-02 20:28] nkolev92 commented on #4695
I'll take a step back and describe what is kind of information logged today at minimal and how we are changing it.
I'd be perfectly happy to add/completely cut certain log messages if they are deemed unnecessary.
Open to feedback ofc 😃

Currently on minimal, users can see the following messages.

| Log message | When | Change |
| ---------------|--------|----------|
| Restoring packages for...  |

[2019-01-02 20:33] AArnott commented on #4695
To mitigate the perceived hang during a long restore, you could log a message every 5 seconds giving a status update. With whatever progress details you can come up with.

[2019-01-02 20:38] nkolev92 commented on #4695
That's certainly an idea, however I think that's more appropriate for https://github.com/NuGet/Home/issues/4346, as it's a significantly larger change.

I see this issue as something easier to address than the overall problem described in #4346

[2019-01-02 21:24] marcinsmialek commented on #7621
@nkolev92 When running nuget.exe help restore (4.9.2), I can see such info:

It would be good to add versions 15 and 16, but the most important issue is ignoring the PATH environment variable, no matter if it's run from dev command prompt or not. It would be good it it used the 1st occurrence of MSBuild in PATH in case there are multiple paths. If it's no longer desired, there should be another do

[2019-01-02 21:40] kzu commented on #7617
Heya @bording, sure thing, but that's the magic of MSBuild: a properly crafted target that has proper `Inputs` and `Outputs` defined can trivially make itself no-op and virtually free on all those subsequent restores.

[2019-01-02 22:27] PatoBeltran commented on #7649
Hey @GanesanRengasamy, if you are using the package manager UI in Visual Studio, you should be able to install an earlier version of a package and this should uninstall the previous one and install the new one.

As for the binding redirects, we currently have issues with the way we manage the lifecycle of the binding redirects (see https://github.com/NuGet/Home/issues/6870)... You should be able t

[2019-01-02 22:41] PatoBeltran commented on #7605
@nkolev92 does that mean that this issue only exists when the user doesn't have the proper credentials stored in the config and needs to enter them interactively?

[2019-01-02 22:41] nkolev92 commented on #7621
@marcinsmialek

I don't know if the help message about the msbuild version ever worked, or when it stopped working.
My guess is it became obsolete with the introduction of side-by-side versions of Visual Studio.

Also note that you can specify 15.x right now in nuget.exe, despite the help message not indicating that.
Fixing the help message is something that should be addressed in the same scope.

[2019-01-02 22:43] nkolev92 commented on #7605
This is for users need to use the cross platform credential plugin, which is really the recommended way because clear text creds in configs are what we are trying to do away with.

[2019-01-02 23:39] bording commented on #7617
That only helps for incremental builds. Any time you trigger a full build, those targets are still going to run. That means you'd still be running that logic far more often than the old `install.ps1` concept, so I still don't see how this could be a viable replacement for a something that previously would have been guaranteed to run once.

[2019-01-02 23:58] nkolev92 opened #7668 "Verify that nuget.exe and mssign.exe are signed in our yaml build scripts"
We are verifying the signatures of the assemblies in the nupkgs but not nuget.exe
 and mssign.exe https://github.com/NuGet/NuGet.Client/blob/586b23e5b225eacecc6b2ad76180a95e634a072d/build/vsts_build.yaml#L216-L225

Related https://github.com/NuGet/NuGet.Client/pull/2666

/cc @dtivel

[2019-01-03 01:26] mhutch commented on #7617
Only if their output is deleted in the `Clean` target :)

[2019-01-03 01:34] anangaur commented on #2867
@PeteX, Thanks for the comments. My response:

This was a typo and has been fixed.

Yes. Multiple deprecation reasons can be selected. Refer to the **3. Select Reason(s) storyboard screenshot in the [publisher experience](https://github.com/NuGet/Home/wiki/Deprecate-packages#nugetorg).

Deprecation is a publisher based experience. With this feature, we will enable publishers to deprecate packages

[2019-01-03 01:52] bording commented on #7617
True, but I'd argue that if a target is writing something to disk, then it should also be adding that output to `FileWrites` so it's cleaned properly as well. 😄

Regardless, even if you are taking advantage of incremental builds, relying on a target to try and replace the old `install.ps1` doesn't seem like it would work. For a given project, the install action of running `install.ps1` would happe

[2019-01-03 02:21] kzu commented on #7617
@mhutch the author might need per-package outputs that don't change at all per version (i.e. download some additional files from the web, pregenerate some bindings or MSBuild items or what-not) and in that case it would be up to the author to put those files in a place where there are not cleared, i.e. in the package install dir itself (i.e. under a .tmp/obj/whatever)

@bording forget .ps1, that's

[2019-01-03 03:33] bording commented on #7617
I'm not advocating for `install.ps1` coming back. Good riddance. My point is that if you had something that was previously being done in there, you had a reasonable expectation that it would be done once per package installation. Using restore as a hook for a target doesn't seem like a viable replacement for the "I want something to happen once" scenario that `install.ps1` provided. Restore happen

[2019-01-03 03:41] kzu commented on #7617
Executing a target only once after a package is installed, regardless of how many times this AfterRestore is invoked is beyond trivial. I'm on mobile but I bet I can write that anyway (skim over typos):

[code]

That's really all there is to it. Trivial. And you can also do much more beyond the "on install only", you can also do the equivalent of init.ps1 too by emitting something that inputs/outp

[2019-01-03 03:53] GanesanRengasamy commented on #7649
Hi @PatoBeltran,

Thanks for your response.

Yes I have tried to downgrade the packages to the lowest version from package manager UI. But, only the parent package downgraded and the dependent packages are not downgraded. I didn't understand why the dependent packages are not installed when downgraded and installed when update the packages to the latest version.

[2019-01-03 05:48] bording commented on #7617
@kzu That means you're writing a file into the global package folder, which could be wiped on a system as well, and then that target will be run again.

Or if you're running on a CI system that has as clean package folder for every run, again that target will be run again.

Even worse, you've now introduced a file into a global location that would be shared by every project that uses that package.

[2019-01-03 11:32] #6933 closed, assigned to nobody

[2019-01-03 13:03] kzu commented on #7617
And what's the scenario where that would be a problem? If the system is wiped, then you most certainly want a "run on install" thing to run again, no?

If you want to run once per project, that's easily achievable by writing to the project intermediate output too (with another target).

I still don't see the problem. And you're forgetting that the target has the full .NET and cmdline capabilities

[2019-01-03 13:29] jnm2 commented on #5132
Yes, thanks for finding!

[2019-01-03 13:29] #5132 closed, assigned to rohit21agrawal

[2019-01-03 18:24] sixlettervariables opened #7669 "NuGet slow (read: unusable) after migrating to PackageReference"
## Details about Problem
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Visual Studio UI
NuGet version (x.x.x.xxx): 4.9 (?, whatever bundles with VS)
VS version (if appropriate): 15.9.4
OS version (i.e. win10 v1607 (14393.321)): Win7 7601

Worked before? If so, with which NuGet version: Pre VS 15.9.something and *definitely* pre-PackageReference

## Detailed repro s

[2019-01-03 18:25] nkolev92 commented on #7666
Duplicate of https://github.com/NuGet/Home/issues/2345

[2019-01-03 18:25] #7666 closed, assigned to nobody

[2019-01-03 18:47] nkolev92 commented on #7620
@zivkan Do we have a repro here?

[2019-01-03 18:48] sixlettervariables commented on #7669
Attempts to produce a log with diagnostic messaging resulted in a "Hard Error" and VS then locked my machine up w.r.t. keyboard and mouse inputs for ~5-6 minutes. Visual Studio's activity log says it OOM'd (which I guessed).

Update, removing Newtonsoft.Json from a number of projects that don't actually need to reference it:
[code]
I have ~100 seconds of PerfView from that.

[2019-01-03 19:17] nkolev92 commented on #7632
Fixed.

https://github.com/NuGet/NuGet.Client/commit/add8b695e842e2b6f4b07f804d1f5e55406dd843

[2019-01-03 19:17] #7632 closed, assigned to nkolev92

[2019-01-03 19:27] nkolev92 commented on #7494
Potentially related to internal bug [742352](https://devdiv.visualstudio.com/DevDiv/_queries/edit/742352/).

[2019-01-03 19:28] FranklinYu commented on #2391
If we name the virtual package with `SQLite.Virtual` as proposed by @bricelam, we would need both `Microsoft.Data.Sqlite` and `SQLite.Virtual` maintained separately (two `.nuspec` files) because we need some way to specify that default implementation for `SQLite.Virtual` is `Microsoft.Data.Sqlite`. I propose that the virtual package called `Microsoft.Data.Sqlite` directly, so it is immediately cle

[2019-01-03 19:33] nkolev92 commented on #5099
@derigel23

Can you try using a 4.x version  of nuget.exe.

The repository element was added in 4.0, so you can't pack it with an older nuget.exe.

Furthermore, extra metadata should not block you from installing the package.
The nuspec schema is not strictly validated on consumption of these packages.

[2019-01-03 21:29] derigel23 commented on #5099
Ehh, 1.5 years later? ;)
No, I can't use 4.x. Environment restrictions.
I've provided exact version of package which is not being able to be installed by older NuGet, so extra metadata is blocking installation process.

[2019-01-03 22:18] Prologh opened #7670 "Is there any way to install a NuGet package so its version is not added to the project file?"
## Details about Problem

NuGet product used: Package Manager Console

NuGet version: NuGet Command Line 4.9.2.0

Visual Studio: Community 15.9.4

dotnet.exe --version: 2.2.101

OS version: Windows 10 Education N  1703 version

## Question

Is there any way to install a NuGet package so its version does not get saved in the project file? For example if I run `install-package Microsoft.AspNetCore.A

[2019-01-03 23:04] nkolev92 commented on #5099
Unfortunately there's nothing that can be done here then.

I have not been able to reproduce that.

worked fine on my end.

Same with installing it from VS 2015.

How did you try installing it that failed?

When installing packages, nuget does not strictly validate the nuspec.

[2019-01-03 23:26] shubham90 commented on #6429
@rrelyea Verified that this repro's on Nuget 4.9.2.5706 as well causing poor perf on package pushes when using a proxy service. Is 5.0 still the target milestone for fixing this?

[2019-01-03 23:58] JMCasablanca opened #7671 "Error creating new multi-platform project"
I just installed the NuGetizer-3000 extension, version 0.2.13 on Visual Studio 2017 CE, version 15.9.4. I am getting these errors when attempting to create a new multi-platform project or solution. Screen prints and sample project are attached.

**First error screen:**

Package Installation Error
Could not add all required packages to the project. The following packages failed to install from 'C:\

[2019-01-04 01:05] bdominguez commented on #2345
Any news? They closed an issue as duplicate but I don't see any updates on this one...

In that issue there are very detailed steps on how to change it to the official packages.

[2019-01-04 09:31] nbarnwell commented on #6330
@jainaashish Might you have a few minutes to update this issue? We're struggling here because of this missing functionality. I understand the nature of open source, but it seems disingenuous to call people to your platform, let them get locked in to it, then break it so they're all screwed. I don't want the answer to be "Build your own nuget, then"; I liked yours.

[2019-01-04 16:04] eerhardt commented on #5862
We hit this issue again with alpine 3.8, since it isn't in the RID graph, but it is the distro that is used in our 2.2 docker images.  See https://github.com/dotnet/corefx/issues/34316.

[2019-01-04 18:32] jainaashish commented on #6330
@nbarnwell I'm afraid I don't have any update for this issue at this time. We have been working towards improving `PackageReference` eco system and bridge compatibility gaps between `packages.config` vs `PackageReference` while working on enabling lock file for PackageReference or supporting interop assemblies or allowing msbuild assets flow transitively but weren't able to look at this in last 6-

[2019-01-04 19:34] nkolev92 commented on #5600
Fixed in https://github.com/NuGet/NuGet.Client/pull/2150.

@eriawan

NuGet.Client uses Nuget/Home for issue tracking.

The reason why it was marked up for grabs is because it's only a docs issue.

[2019-01-04 19:34] #5600 closed, assigned to nobody

[2019-01-04 21:19] dfoulk commented on #6330
@jainaashish well when you put it like that 🤣... Thank you for the detailed explanation!

[2019-01-04 21:41] PatoBeltran commented on #2345
@bdominguez we are working to get this fixed in our dev branch. The other issues gives good information about how to remove the submodules but there's still some more work needed to be able to build correctly.

[2019-01-04 23:44] TrabacchinLuigi opened #7672 "contentFiles is being ignored by non core projects"
I've created a very simple package that is supposed to contain some tooling for the build it just contains an .exe and a .dll into contentFiles\any\any\tools

It works fine when installed in .net core projects, but it doesn't when installed in .net472 projects.
I've done some testings and installing it in projects with packages.config instead of packageReferences doesn't seem to make any differenc

[2019-01-05 00:20] PatoBeltran commented on #7669
Hey @sixlettervariables can you provide an ETL trace generated from PerfView to investigate why are you seeing this performance?

[2019-01-05 00:22] PatoBeltran commented on #7670
Hey @Prologh, our tools currently don't have a way to achieve this. As you said, the best way to do it would be to manually add the PackageReference to your project file and then restore the project.

[2019-01-05 00:24] PatoBeltran commented on #7671
@kzu

[2019-01-05 00:28] PatoBeltran commented on #7672
hey @TrabacchinLuigi, ContentFiles only works for PackageReference projects (it doesn't work in packages.config), are you installing the package with PackageReference in the net472 project?

You can read more about it here: https://blog.nuget.org/20160126/nuget-contentFiles-demystified.html

[2019-01-05 01:09] Prologh commented on #7670
Hello @PatoBeltran. Thanks for the response. I now feel a little let down knowing that, but just a little. All I wanted to do is to perform the trick via console, without getting my hands dirty by manually tweaking over project files. Still, this is not a great tragedy after all. I don't have any more questions, so you are free to close this issue if you want to.

[2019-01-05 01:11] sixlettervariables commented on #7669
Can do, just need an email to send it to of someone Ok for Export Controlled info (I'm not familiar with the depth of info in an ETL trace).

[2019-01-05 08:50] TrabacchinLuigi commented on #7672
Yes I know, we moved from packages.config to packageReferences few days ago, and noticed our packet was not adding the needed files anymore, so I decided to read about and discovered that the the new way of doing was this cool new node contentFiles... I tried also to keep the old content folder, and then dropped it because I saw no differences, and I read it was only for backward compatibility...

[2019-01-05 09:21] TrabacchinLuigi commented on #7672
this is how the package looks like:
[code]
![image](https://user-images.githubusercontent.com/136717/50722651-7d20f800-10d2-11e9-826e-32ab00861d0b.png)

and this is how it's referenced:
[code]
![image](https://user-images.githubusercontent.com/136717/50722705-4f887e80-10d3-11e9-8f73-fbb98f625338.png)

[2019-01-05 10:36] TrabacchinLuigi commented on #7672
I've tried also on .net4.6.1 projects, still doesn't work
i've tried with visual studio 2019 fully updated, still no luck

[2019-01-05 14:27] yatli commented on #6645
@deinok maybe too late but I still want to share the info -- the `DllImport` name guessing heuristic doesn't like multiple dots in a filename.

Say you have "foo.dll" -- [DllImport("foo")] -- OK!
Say you have "foo.C.dll" -- [DllImport("foo.C")] -- BAD! (Trying to find foo.C literally)

[2019-01-05 16:40] dre99gsx commented on #3891
Small tidbit of detail.  ProjectA has a Project-dependency to ProjectB.  In ProjectA's .csproj file, I added this line manually:

[code]

I noticed the generated .nuspec file in the obj/release folder did NOT contain a second file, ProjectB:
[code]

Only after adding PrivateAssets=all to ProjectA's csproj file for ProjectB did it then show up in the nuspec:

[code]

Without doing the above, my Pro

[2019-01-05 16:40] jjgriff93 commented on #4103
Any update on this? Really basic feature making dotnet core harder to work with from VS Code

[2019-01-06 07:31] indigozero commented on #7661
Take a look at the following link if you haven't already. It kind of explains why scenario B happens as RID qualified assets are preferred. I'm thinking that in scenario A not having a RID would make it fall back on the TFM, but that doesn't explain the RID=win7 part of the scenario. Hope that helps?

https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/readme.md

[2019-01-06 20:07] mishra14 commented on #4103
@jjgriff93 you can always run `dotnet add package <package_name>`. This command will find the latest version of the package and update it in your csproj.

[2019-01-06 20:51] dasMulli commented on #4103
@jjgriff93 & others: A popular tool to do this is [`dotnet-outdated`](https://github.com/jerriep/dotnet-outdated) which can show you potential updates and apply them to your project.

[2019-01-06 21:06] jbrejner commented on #4103
@mishra14 In an continous integration world, where nuget.exe currently is used to restore the packages in a solution ( with WPF projects ), how do it tell dotnet which packages to add to each project ?

[2019-01-06 22:38] mishra14 commented on #4103
@jbrejner Please see https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-add-package for documentation on `dotnet add package` command.

[2019-01-07 01:52] pvandervelde commented on #6256
@jainaashish has this been confirmed fixed because we're still seeing this with NuGet 4.9.2. Should I open a new bug for this?

[2019-01-07 08:40] bscheutjens commented on #7657
Thanks for the explanation. I just came back to the office from my holiday and I will check everything out and come back with a full reply.

I do have one remark though. I totally understand you guys stopped supporting older version. However, in this case I really would like you to make an exception, if possible. In the situation as-is an issue is automatically pushed to certain users and that sho

[2019-01-07 10:50] bscheutjens commented on #7657
As promised my full reply.

First of all thanks for the detailed explanation. It makes things clear to me and I understand the reasons behind the proposed workarounds and the reason why this can't just be fixed. But more on these later on.

**Workaround 1 - Use older version**
This works, but should only be a temporary workaround.

**Workaround 2 - Don't use Package Restore**
I've tested to undo t

[2019-01-07 14:27] gorazdzagar opened #7673 "Permissions on files created inside ~/.nuget are too open"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate): 2.1.301

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)): Ubuntu 16.04

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. dotnet restore

Files g

[2019-01-07 14:36] TrabacchinLuigi commented on #7672
I think this is very relatable https://github.com/NuGet/Home/issues/4837

[2019-01-07 15:12] Hypenate commented on #1215
1. I 'unloaded' a project
2. Then in the Package Manager Console I typed: update-package -reinstall
3. The error came
4. I did 'Reload Project'
5. Repeated step 4
6. Success

[2019-01-07 15:28] jjgriff93 commented on #4103
Thanks @mishra14  - I want to do this across multiple packages at the same time as it's quite a time consuming process, @dasMulli  this is sort of what I was looking for thank you :)

[2019-01-07 17:05] jbrejner commented on #4103
@mishra14  Thank you for your suggestion, but that really does not answer my question. This topic or bug concerns the lack of ability to UPDATE existing packages in a project that already includes has the packages it needs, but when a newer version of a package exists we want to update to the latest version  - even pre-release if that is available.
We to not use dotnet.exe - just nuget.exe.  Nuget

[2019-01-07 17:45] jainaashish commented on #6256
Yes please open a new bug with repro steps.

[2019-01-07 19:18] nkolev92 commented on #7629
The client packages now use license expressions.

@anangaur @karann-msft Please help addressing the other concern raised in this issue.

[2019-01-07 20:17] rrelyea commented on #7604
@nkolev92 has started a fix for this.

[2019-01-07 20:47] mishra14 commented on #4103
@jbrejner

@nkolev92 @PatoBeltran might be able to comment on nuget.exe and/or dotnet list package that could be helpful.

[2019-01-07 21:09] jbrejner commented on #4103
Thank you @mishra14, then I hope @nkolev92 and @PatoBeltran have a suggestion.
But I really believe that what the community wants is nuget.exe to support updating packages even if the project uses packagereference style. As far as I have been able to test it so far,  the functionality exists and works for projects like wpf projects ( so not .Net Core ) as long as we use  with Visual Studio GUI, bu

[2019-01-07 22:06] Nehmiabm commented on #1823
+1

[2019-01-07 23:43] nkolev92 opened #7674 "Cleanup VSTHRD110 warnings"
Cleanup the VSTHRD110 warnings: Observe result of async calls

A lot of these things are done by design, fire and forget style. where there's no need to create an extra variable for the task. Basically maybe no change is a valid solution here.

As this is a moving target, search for this issue number in the code to understand if there are more things that need fixing.

[2019-01-08 01:23] Falconne commented on #4103
@jbrejner I needed to do this a while ago so wrote a script that checks each .csproj and if it's a new style project runs `dotnet add package` and if it's an old style project run `nuget update`. It's a bit of hassle but shouldn't be too much work for you to do that in your CI scripts.

[2019-01-08 01:31] nkolev92 opened #7675 "Cleanup VSTHRD011 warnings"
Cleanup the VSTHRD011 warnings: Use AsyncLazy<T>

Some of these are not straightforward as these are APIs that are part of the core product and can't take a dependency on a VS Threading assembly.
As this is a moving target, search for this issue number in the code to understand if there are more things that need fixing.

[2019-01-08 01:32] nkolev92 opened #7676 "Cleanup CS0618 - obsolete API warnings from InteractiveLoginProvider"
Class in question src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/InteractiveLoginProvider.cs

[2019-01-08 01:49] nkolev92 commented on #7339
Current spec is at https://github.com/NuGet/Client.Engineering/pull/91.

[2019-01-08 02:47] eSPiYa commented on #7612
Experiencing the same issue right now. Can't install any nuget package

<center><h2>WinMTR statistics</h2></center>
<p align="center"> <table border="1" align="center">
<tr><td>Host</td> <td>%</td> <td>Sent</td> <td>Recv</td> <td>Best</td> <td>Avrg</td> <td>Wrst</td> <td>Last</td></tr>
<tr><td>192.168.100.1</td> <td>   0</td> <td> 182</td> <td> 182</td> <td>   0</td> <td>   1</td> <td>  10</td> <t

[2019-01-08 03:36] skofman1 commented on #7612
Hi @eSPiYa ! Please follow instructions here: https://docs.microsoft.com/en-us/nuget/policies/nuget-faq#nugetorg-not-accessible and send logs to support@nuget.org.
Please also specify the location of the machine (region) and if it's part of a cloud (like AWS). Usually it's a connectivity issue between you and our CDN and I recommend checking with your ISP as well as us.

[2019-01-08 07:25] TrabacchinLuigi commented on #7672
I've tried also to create a package with some source code placed into contentFiles\cs\any\\$id$, the weirdness increment: the files does not show up in the solution, the IDE let you use the types defined in the invisible linked files, but if you use them it won't let you compile anymore, if you don't use them it will compile them successfully, and you can find them in the produced assembly with a

[2019-01-08 11:01] boudinekirrou commented on #7663
Thanks a lot for your reply. i fixed the issue.

[2019-01-08 13:07] msrinivascharan commented on #5157
@cschyma fix worked for me

[2019-01-08 16:29] ghost commented on #7654
Hi. This is still happening sporadically for us. What kind of extra details would you like us to provide?

There were some access issues to the previously provided build. Can you access this one: https://dnceng.visualstudio.com/public/_build/results?buildId=67983,  where the `Windows_NT Build_Debug` job failed?

We also use our own build machines, so if you'd like us to provide something from one

[2019-01-08 17:34] #5820 closed, assigned to nobody

[2019-01-08 17:44] livarcocc opened #7677 "dotnet build don't perform "restore" anymore"
_From @DGuidi on January 8, 2019 11:21_

## Steps to reproduce

1. Using Visual Studio 2017, clear nuget cache
![screenshot_44](https://user-images.githubusercontent.com/216627/50827257-48b17400-133e-11e9-9117-81d35a1ae7fa.png) or delete manually `X:\Users\me\.nuget` folder
1. execute `dotnet build MySolution.sln` from a command line

## Expected  behavior
nuget cache restored correctly - see [doc

[2019-01-08 17:44] livarcocc commented on #7677
This seems like incremental restore is kicking in and avoiding the restore. Will move to nuget to be further investigated.

[2019-01-08 18:12] #7663 closed, assigned to nobody

[2019-01-08 18:20] nkolev92 commented on #7654
@riarenas
Can you get us the bin log?

[2019-01-08 18:29] ghost commented on #7654
Sure! https://riarenashelixresults.blob.core.windows.net/test-storage/Windows_NT_Build_Debug.zip

[2019-01-08 22:12] bitbonk opened #7678 "There is no way to force a true reinstall of a package from the actual source"
During development we would like to make changes to code in a nuget package, build it locally and then test and debug these changes in a different solution that consumes this package. This "inner loop" happens many times during the day.

Unfortunately because of the way NuGet currently works, there seems to be no decent workflow to support a short inner loop like this unless I increment the packag

[2019-01-08 22:18] bitbonk commented on #7678
https://github.com/NuGet/Home/issues/5619

[2019-01-08 22:27] nkolev92 opened #7679 "Use relative paths when logging messages that mention files"
See @anangaur's comment here.

https://github.com/NuGet/NuGet.Client/pull/2577#issuecomment-452464051

I don't really know what the cost is here, as we don't readily have all available relative paths.

[2019-01-08 23:44] nkolev92 commented on #5170
Fixed in https://github.com/NuGet/NuGet.Client/pull/2673.

[2019-01-08 23:44] #5170 closed, assigned to nobody

[2019-01-08 23:53] ocean-orrick opened #7680 "Unexpected resolver conflict"
## Details about Problem

I am converting to the PackageReference format and ran across this error when restoring which has me fairly confused:

[code]

From my understanding I can see how this could occur from the nearest-win rule prioritizes the reference to Newtonsoft.Json (>= 11.0.0 && < 12.0.0), which then uses lowest-version wins to resolve 11.0.1, which in turn is unable to satisfy the 11.0

[2019-01-09 00:07] webJose commented on #4628
Hello!  Could you provide a link to the documentation of the new license element here?  It would make things a lot simpler for us newcomers.

Thank you very much.

[2019-01-09 00:35] anangaur commented on #4628
@webJose Updated the [issue description](https://github.com/NuGet/Home/issues/4628) with useful links (including documentation)

[2019-01-09 01:23] MaxG117 commented on #6858
@rohit21agrawal I finally had some time to look into this again, sorry for the delay.

In my previous comment I said that B.DLL was copied to the build output directory, but `dotnet publish` did not copy it to the publish directory. Either I was wrong or something changed since then, as B.DLL is not copied to the build output directory either. So at least there's consistency.

Here's the summary o

[2019-01-09 04:50] xen2 commented on #7661
Update: I went for option 1 and then found out I could use the runtime `any` (I was afraid if I chose `any` + exact TFM it would be overriden by `win` with a fallback TFM but it doesn't seem to be the case. The override is just about `runtimes` being present means `lib` is ignored).

Here is my final hierarchy:

[code]

The only issue left is that I need to add this for Android to work:
[code]

[2019-01-09 04:53] rrelyea commented on #7680
My guess is that the builder of LibB ignored warnings but went ahead and packed anyway, without fixing it first.
Although you can likely work around this problem by doing a packageref from projectA to newtonsoft.json to v11.0.2 -- ideally, LibB package author would fix it in their project before packing.

Yes, you could imagine that restore could be taught to handle this situation, i believe the m

[2019-01-09 05:00] rrelyea commented on #7677
@DGuidi - can you give us a repro project?

but first, this sounds like one of the projects may use packages.config.
Packages.config only can be restored by nuget.exe restore or VS restore.
dotnet restore doesn't support packages.config.

(we are working to make a better error experience to at least give you a heads up when trying to restore any projects w/ packages.config)

thoughts?

[2019-01-09 06:15] DGuidi commented on #7677
I can share code, sorry: I can try to test a sample project and see what happens.
I plan to do more testing today, anyway.

P.S: solution and projects doesn't have packages.config at all, and worked using 2.1 sdk.

[2019-01-09 08:07] DGuidi commented on #7677
Sorry, same stuff (i.e: dotnet build without --force) that yesterday failed multiple times in different machines now works correctly. I suspect that there are other nuget cache folder that are not emptied from Visual Studio _empty cache_ button and that now are filled with correct packages, given the fact that I've executed a `dotnet build --force`.
Please close this issue, and if I can offer a sa

[2019-01-09 10:23] GiancarloLelli commented on #3055
Hi @cdmihai
I have forked the repo since I'd like to help out on this :)
Sounds good?

[2019-01-09 10:38] v-longmin opened #7681 "[Test Failure][Client policy] No error occur when the trusted author name in ‘NuGet.config’ is different with the “Authors” in the package’s nuspec file"
## Details about Problem
VS Version: D16.0stg 28508.124
NuGet Version: Dev\5.0.0.5759
OS Version: 17763.RS5_Release.180914-1434.
## Detailed repro steps
1. Launch Visual Studio 2019 d16.0stg.
2. Create a new Class Library (.Net Framework) project and build Solution.
3. Go to the path: C:\Users\v-minlon\source\repos\Package34\Package34, create the package’s nuspec file, edit “Authors” to “Aimee” in

[2019-01-09 13:55] derigel23 commented on #5099
@nkolev92 Sorry, I can't reproduce the problem either. Fell free to close the issue.

[2019-01-09 15:23] tombogle commented on #7657
I have a project that also affected by this problem, but I use VS 2015. My csproj file has these two lines:
[code]
Workaround #1 is probably not a viable option, certainly not long term. Workaround #2 does not seem to be relevant, unless it is somehow related to the above entries. I see two checkboxes in the UI under "Package Restore" ("Allow NuGet to download missing packages" and "Automatically

[2019-01-09 15:41] tonyhallett commented on #6873
Update please

[2019-01-09 16:16] olevezinho commented on #9144
Hi I'm struggling with the same problem while trying to compile a set of tests that are using a nuget package that I created. I think the problem is related to the nuget package being stored in a local repository (e.g. nexus, artifactory). Have you tried to publish your nuget package to the online gallery?

[2019-01-09 16:26] tombogle commented on #7657
It appears that the solution is to change the PackageOutputDir from
`<PackageOutputDir Condition="$(PackageOutputDir) == ''">$(TargetDir.Trim('\\'))</PackageOutputDir>`
to:
`<PackageOutputDir Condition="$(PackageOutputDir) == ''">$(TargetDir).Trim('\\', '/')</PackageOutputDir>`
I don't know why some of our projects had the former, but fortunately, we had some that had the correct version, and that

[2019-01-09 17:25] cdmihai commented on #3055
Sounds good to me, although the Nuget codebase is not my area of focus. @rrelyea may point you to somebody familiar with that part of the codebase in case you have questions.

[2019-01-09 17:59] rrelyea commented on #5862
@eerhardt - talking with @dsplaisted, @nguerrera and @livarcocc about RIDs recently.
The goal is to not need runtime.json in netcore 3 scenarios.

I'm unsure how that recent discussion intersects with the inadequacy mentioned in the RID system this issue by @ericstj

[2019-01-09 18:16] GiancarloLelli commented on #3055
Ok @cdmihai no problem!
@rrelyea If it is easier for you guys we can discuss this in a quick teams call.
For now, I'm just trying to understand how the various pieces of the solution work together.

[2019-01-09 18:26] bobbwhy commented on #7001
I ran across this issue on a Mac OS 10.14 running dotnet 2.2 and nuget 4.8.
My windows and linux machines do NOT have this issue.

can anyone tell me how to do a work around please?
OR at least where is the ZipArchiveEntry.LastWriteTime located?
Is it project wide? system wide?

thank you.

[2019-01-09 18:39] bording commented on #5862
@rrelyea Is there any place I can find more information about the plans for .NET Core 3 not needing runtime.json?

I'm curious about this because it seems like even if .NET Core 3 itself isn't relying on it, there still could be a problem for packages that need to include RID-specific assets if NuGet still needs the RID graph to determine which assets to use.

[2019-01-09 19:08] nkolev92 commented on #5099
@derigel23  Thanks for following up.

[2019-01-09 19:08] #5099 closed, assigned to nobody

[2019-01-09 19:13] alefranz opened #7682 "Locked mode not working as hash is calculated incorrectly for previously cached packages"
## Details about Problem

I've been struggling with the new "locked mode" of dotnet restore since release and I've finally been able to create repro steps.

The problems seems related to using different version of the .NET Core SDK on the same machine, in particular versions before the locked mode introduction alongside the new ones.
As the NuGet Package Cache is shared between all versions, if th

[2019-01-09 19:23] nkolev92 commented on #7680
@rrelyea is right.
Specific emphasis on:

[2019-01-09 20:00] ericstj commented on #5862
@rrelyea that's not entirely true.

We don't need runtime.json to define RID-specific package associations for the framework package, since that is going to be lifted into the toolchain with the runtime-packs feature: https://github.com/dotnet/designs-microsoft/pull/38.

We still need runtime.json to define the RID graph for RID-specific asset selection from a single package.  In a shared framewor

[2019-01-09 20:31] #4695 closed, assigned to nkolev92

[2019-01-09 20:48] #7667 closed, assigned to jainaashish

[2019-01-09 20:58] jainaashish commented on #7667
Merged to release-4.9.3 branch with commit 70f87565429e2dd987843bd51b0cac169bee135c

[2019-01-09 21:19] nguerrera commented on #5862
Public link for .net core 3 targeting packs and runtime packs: dotnet/designs#50.

Yes, we still need a rid graph.  We have been exploring two things:

1. Can the graph be supplied to NuGet without coming from a package: https://github.com/NuGet/Home/issues/7351
2. Can we defer the selection of rid specific assets from packages to after restore: https://github.com/dotnet/cli/issues/10528

[2019-01-09 21:21] rrelyea commented on #7682
/cc: @anangaur

[2019-01-09 21:25] dsplaisted commented on #5862
We will still need a runtime graph (currently defined via runtime.json) for .NET Core 3.  However, instead of coming in via a a package reference, we plan to [bundle it in the SDK](https://github.com/dotnet/cli/issues/10104).  We are also considering [handling RID selection in the SDK instead of NuGet](https://github.com/dotnet/cli/issues/10528).

These changes for .NET Core 3 won't directly help

[2019-01-09 21:33] hammy33897 commented on #2739
I encountered this problem today. I have the latest verion of VS2017 with latest updates. This was a difficult one to track down, I had my suspicions about TFS and found this thread which confirmed them. Unbinding from source control worked for me. The fix from Navidsoft above did not work for me. I tried deleting my local copy and refreshing from source control and still the same problem occured.

[2019-01-09 22:12] TrabacchinLuigi opened #7683 "Issues labeled:waiting for customer don't get updated"
Once a customer reply to an issue labeled waiting for customer the label stays there and the issue too...

[2019-01-09 22:18] tombogle commented on #7657
Turns out my proposed fix was a red herring. It is consistently building correctly on one of the build agents and failing on the other. Not sure what the difference is between the two, so now I'm not sure if/how it's related the problem in this thread.

[2019-01-09 22:19] nguerrera commented on #3114
Is the expectation that nuget restore automatically discovers the peer packages based on RID or would the user specify the peer packages that they want to pull in as inputs to restore?

In other words, would "SkiaSharp.Peer.PlayStation4” appear in the project or just something that says SkiaSharp and something that says Playstation4?

[2019-01-09 23:54] zivkan commented on #7673
@gorazdzagar I can't reproduce this. Can you provide any more information?

I created a brand new Ubuntu 16.04 LTS VM, then installed the dotnet CLI with the following instructions: https://dotnet.microsoft.com/download/linux-package-manager/ubuntu16-04/sdk-2.2.102. I ran `dotnet new mvc` to create a new project, which restores packages, then I got the following results:

[code]

As you can see, N

[2019-01-10 00:02] #7677 closed, assigned to nobody

[2019-01-10 00:29] mhutch commented on #3114
Right now this is something you can do with RIDs, the problem is most platforms/frameworks don't currently support RIDs.

[2019-01-10 00:47] zivkan commented on #7657
@bscheutjens thanks for testing the workarounds and reporting the error with my 3rd workaround. I installed VS2017 on my VS2013 VM to test something, and I forgot I was using MSBuild 15. I'll make sure I test older msbuild versions for a better fix.

@tombogle I did another test of using "Enable NuGet Package Restore" in VS2013, and it added the following lines to my `csproj`. In the first `<Prope

[2019-01-10 05:46] cbries commented on #313
Are you sure it is fixed?

Right now I have this problem. I am still analyzing the issue, but
IEnumerable<IVsPackageMetadata> GetInstalledPackages();
and
IEnumerable<IVsPackageMetadata> GetInstalledPackages(Project project)
return zero.

But "nuget restore" prints: "All packages are listed in packages.config are installed."

Btw. tested on Vs17.9.5, Vs17-preview and Vs19-preview

Supplement:
As I

[2019-01-10 08:34] tmds commented on #5862
Question: the runtime itself is also aware of the rid graph, right? If not, how does a framework-dependent application pick managed&native libraries which are rid specific?

[2019-01-10 08:56] bscheutjens commented on #7657
@zivkan You're welcome and no problem. I'm happy to test any new possible fix.

[2019-01-10 09:35] v-longmin opened #7684 "[Test Failure] Error “Value cannot be null.” occur when installing a new PR package into a solution with multiple projects"
## Details about Problem
VS Version: D16.0stg 28509.126
NuGet Version: Dev\5.01.5763
OS Version: 17763.RS5_Release.180914
## Detailed repro steps
1. Launch Visual Studio 2019 d16.0stg.
2. Create a new Class Library (.Net Framework) project named Project1, adding a new Class Library (.Net Framework) project named project2 into the solution.
3. Open the PM UI of Project1 and install a package with P

[2019-01-10 09:56] gorazdzagar commented on #7673
Hi @zivkan,

thank you for your reply. I'll provide a use case for it. We have *umask 027* set in /etc/profile which applies to all users when shell is executed. What we are observing is files generated inside ~/.nuget/packages/ have world-write permission set where as they shouldn't. Could you please further test in your Ubuntu VM for package files not just the main folder.

Thank you

[2019-01-10 14:47] mcjacek opened #7685 "Nuget Server issue post migration to Win 2016"
I have migrated nuget repository from Win 2008 to Win 2016. Alias to that server: http://xyz.mycompany.com/NugetFeed

Apart of windows, IIS is different as well, on the new server it is IIS 10.

After migration, nuget works pretty well, except one function. I can browse packages via web (http://xyz.mycompany.com/NugetFeed) or via Visual Studio etc. Visual Studio can see packages created manually.

[2019-01-10 14:51] bail16 commented on #3891
@rohit21agrawal, @eerhardt

This workaround works perfect! But is there any possibility to add .PDB files also?

[2019-01-10 16:12] dsplaisted commented on #5862
@tmds I believe the runtime has a "RID linked list", ie the subset of the RID graph that is compatible with that runtime, which allows it to pick the best compatible RID from available assets for framework-dependent apps.

[2019-01-10 16:29] tmds commented on #5862
Do you know where the list is stored? And what code is using that list to pick the libraries?
Does mono support this too?

[2019-01-10 16:40] eerhardt commented on #5862
It is stored in the shared framework's `.deps.json` file. `dotnet\shared\Microsoft.NETCore.App\3.0.0-preview-27122-01\Microsoft.NETCore.App.deps.json`. See the `"runtimes"` section at the bottom.

It is contained in the `hostpolicy.dll|so|dylib`. https://github.com/dotnet/core-setup/search?utf8=%E2%9C%93&q=rid_fallback_graph_t&type=

NOTE: It is also exposed through the [DependencyModel library](h

[2019-01-10 16:43] tombogle commented on #7657
The line
`  <Import Project="$(SolutionDir)\.nuget\NuGet.targets" Condition="Exists('$(SolutionDir)\.nuget\NuGet.targets')" />`
seems to be the key determining factor in what happens. I've figured out that the difference between the two build agents is that one already had the older version of buget.exe and did not try to update it, so it works. The other build agent apparently did not have nuget.

[2019-01-10 18:30] #7685 closed, assigned to nobody

[2019-01-10 18:30] zivkan commented on #7685
Issue moved to [NuGet/NuGetGallery #6810](https://github.com/NuGet/NuGetGallery/issues/6810) via [**ZenHub**](https://www.zenhub.com/)

[2019-01-10 18:31] rrelyea commented on #7621
Once have fix, consider 4.9.x as a potential release.

[2019-01-10 19:16] rrelyea commented on #7682
@jainaashish  - I think we meant to put this in 4.9.3, not 4.9.x - when we discussed yesterday, right?

[2019-01-10 19:42] nkolev92 commented on #7621
Fixing the help message is something that should be addressed in the same scope.

Just a note that the above was fixed in:
https://github.com/NuGet/NuGet.Client/commit/c4d5743f5c4be02ea7bbe6920ade2277220c607e

[2019-01-10 19:59] tombogle commented on #7657
Well, I've solved my problems and I feel about 80% confident that what I did was at least mostly correct. Here's what I did:

- I was able to remove the SolutionDir and RestorePackages elements and the "EnsureNuGetPackageBuildImports" target from the csproj files. (They were unnecessary but did not contribute to the problem.)

- I could _not_ remove the import of NuGet.targets because we had to cu

[2019-01-10 20:26] jainaashish commented on #7682
we discussed #7667  and #7646 to be in 4.9.3. We didn't discuss this one but from the description it seems the issue is packages cache having wrong package in there which gets wrong hash in lock file. And the current solution for this is to clean packages cache or that specific package so I'm afraid we can address this for 4.9.3 or even 4.9.x

[2019-01-10 20:28] agentid36 opened #7686 "When using PackageReference, NuGet dll's Namespace isn't available in code"
## Details about Problem

NuGet product used: VS UI

NuGet version (x.x.x.xxx): 4.6.0

VS version (if appropriate): 15.9.5

OS version (i.e. win10 v1607 (14393.321)): Win7 SP1, fully up-to-date

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Add https://www.nuget.org/packages/PowerSNMP/ or https://www.nuget.org/packages/PowerSNMP.Stan

[2019-01-10 21:22] anangaur commented on #7682
@jainaashish I dont think the package is wrong. I see different SHA being generated when the package is downloaded from nuget.org vs. when the package is already there but .nupkg.metadata file is not there and is generated in-situ. For Newtonsoft.json 12.0.1, when downloaded from internet (nuget.org), the SHA is `jmVyoEyk0In8r+AObYQyFKVFm7uSRzE0XSHSbEtBJcZDMV6DqJoyB4FLcHwprPVhAh826so0db3DIKXVnpGoP

[2019-01-10 21:26] zivkan commented on #7673
This issue should be fixed at the same time as #6778 and is related to #4424. The reason I couldn't find any code related to permissions earlier is because the fix doesn't use .NET APIs, it uses P/Invoke to run `chmod` directly on `libc`.

I don't sufficiently understand #4424, so I fear making any changes in case I regress the earlier bug. The team should discuss this.

[2019-01-10 21:35] nkolev92 commented on #6231
The majority of the removal is done in https://github.com/NuGet/NuGet.Client/tree/dev-nkolev92-cleanupPackageSpecRunTests.

The concern here is that some scenarios would be removed. (Specifically nuget.exe project.json pack).
The flip side is that those scenarios never RTM'd.

[2019-01-10 22:38] uygary commented on #6081
Correct me if I'm wrong @bradwilson but it seems that the Consolidate view doesn't allow updates as well.
In that case, this is by all means already the correct behavior. Consolidate tab should _display_ the version conflict, but it should not allow an _update_ to be performed.
I believe this issue should be closed.

[2019-01-10 22:39] moh-hassan commented on #7463
Any workaround solution?

[2019-01-10 23:22] jainaashish commented on #7682
this is weird, I'll look into this. Does this also happen with other packages as well or other version of Newtonsoft.json?

[2019-01-11 00:07] anangaur commented on #7682
Yes. Same with all packages. When a package is freshly downloaded, the `contentHash` in `.nuspec.metadata` file matches with the hash stored in `.nupkg.SHA512` file. Now if you delete the `.nuspec.metadata` file and restore again, the newly generated `.nuspec.metadata` file has a different hash than what was before. Seems wrong to me.

[2019-01-11 01:25] jainaashish commented on #7682
this is happening with `dotnet restore`... so assuming something is fishy with xplat path. Works fine inside VS.

[2019-01-11 01:35] zivkan commented on #7657
An update to my workaround 3, it should be possible to replace the PaddedSolutionDir definition for the Windows_NT OS with the following two lines:

[code]

I tested with VS2013 and VS2010. I didn't test with VS2012, but if it works with both the newer and older version, I feel confident.

Another option is similar to what tombogle wrote earlier:
[code]
Although I haven't tested it.

[2019-01-11 01:37] #7591 closed, assigned to nkolev92

[2019-01-11 01:38] nkolev92 commented on #7591
Merged in release-4.9.3-rtm

[2019-01-11 01:43] anangaur commented on #7682
I guess we should test out all the paths including NuGet.exe as well. The priority of fixing this issue is high IMO.

[2019-01-11 02:27] praeclarum commented on #5800
0.2.5-pr169.7 works for me when targeting netstandard, iOS, mac, Android.

[2019-01-11 06:09] chrfin commented on #3891
@bail16 May take a look at the NuGet-Package I linked above. The script in there should include everything you need - just take the part you want :-)

[2019-01-11 07:20] jerry-santana commented on #6140
I'm having same issue, any update on this?

[2019-01-11 07:46] bscheutjens commented on #7657
I tested this with VS2013 in combination with the current version of NuGet.exe (4.9.2) and the previous version (4.7.1). Both work.

I can't get this one to work. I replaced the existing two lines with this single line and what happens is that it creates extra subfolders in each project folder and puts the packages in each of those.

![nuget](https://user-images.githubusercontent.com/46047574/5101

[2019-01-11 08:32] bail16 commented on #3891
@chrfin This is awesome, i copied this lines of code:

https://gist.github.com/bail16/b0815e9d959aa960a8e4c7e015b70270

but only referenced pdb files are copied, how to insert main project pdb file, without using IncludeSymbols which creates another package... (I'm working on multi target frameworks)

[2019-01-11 08:47] vishu1010 commented on #3042
I had same issue but i dont have appdata folder or componantmodelcache folder , what should i do ??

[2019-01-11 10:09] alefranz commented on #7682
yes, confirming this happens with `dotnet restore` and for all packages.
@anangaur thanks for appreciating the importance of this issue.
@jainaashish if you can point me in the right direction I'll be happy to try to have a look over the weekend

[2019-01-11 10:12] gorazdzagar commented on #7673
I thank you for acknowledging this as a bug. If it helps further, here are the steps to reproduce:
[code]

1.) files should not have +x permission
2.) files absolutely must not have o+rw permission
3.) umask is respected on some files generated but not all

This is a severe security risk as anyone can change the content of an executable file. If root executes a file without prior knowledge of its

[2019-01-11 12:50] zodiac403 commented on #4234
Can confirm. This still seems to be an issue with `NuGet Version: 4.9.2.5706`.

[2019-01-11 13:57] pshirshov commented on #4286
Same issue here.
[code]

Works on local machine, doesn't work in docker container on travis.

trace:

[code]

Build log: https://travis-ci.com/pshirshov/izumi-r2/jobs/169788812

[2019-01-11 17:39] controlflow commented on #352
Still no progress?... :(

[2019-01-11 17:43] bruno-garcia commented on #2867
This feature is interesting for sentry.io to mark a whole package (`SharpRaven`, all versions) as legacy and point the users to a new package (`Sentry`). So the original assumption, at least in my case does make sense.

[2019-01-11 18:06] jainaashish commented on #7682
Root cause of the issue is while writing the `.nupkg.metadata` file of a downloaded package, it mistakenly writes `PackageHash` instead of `ContentHash` but `packages.lock.json` file has ContentHash so it fails the SHA validation at next restore. So this isn't specific to xplat instead specific for VS 15.9.

This issue has already been fixed in dev16 preview bits so I'll cherry-pick the commit int

[2019-01-11 18:31] anangaur commented on #2867
@bruno-garcia That's my hypothesis too. And we want to warn you if you haven't selected all versions. But we will not stop you if you don't want to select all versions.

[2019-01-11 19:00] zivkan commented on #7678
closing as a dupe of #6579.

As stated in that issue, a workaround is to use [nuget.config to change your globalPackagesFolder](https://docs.microsoft.com/en-au/nuget/reference/nuget-config-file#config-section) to somewhere that gets cleared between CI tests, or as needed.

[2019-01-11 19:00] #7678 closed, assigned to nobody

[2019-01-11 19:48] dotMorten commented on #2867
@bruno-garcia @anangaur I never meant to say your scenario isn't valid. It was just that my scenario wasn't covered :-)

[2019-01-11 19:51] bruno-garcia commented on #2867
@dotMorten you're right. I made my comment in an attempt to keep both use cases instead of replacing one with the other.

[2019-01-11 21:23] bjuraga commented on #1823
Is this still up for grabs? I can contribute some time in adding release notes to the client/s.

[2019-01-11 22:33] #7646 closed, assigned to jainaashish

[2019-01-11 22:39] jainaashish commented on #7646
Merged to release-4.9.3-rtm branch with 24559a4553880661efdae2e6ec89c877b3a281ef

[2019-01-11 22:39] jainaashish commented on #7682
Cherry-picked to release-4.9.3-rtm branch with 2d7c84030935330c0e5f1889bed825ff1ec50cc2

[2019-01-11 22:40] #7682 closed, assigned to jainaashish

[2019-01-11 22:41] anangaur commented on #2867
With the latest proposal, both scenarios are covered :). It warns but allows you to continue deprecating a subset of package versions.

[2019-01-11 22:43] rainersigwald opened #7687 "PackageReferences build packages are not referenced"
_From @TFTomSun on January 11, 2019 9:1_

I've created a build package (a nuget package with build/*.props and build/*.target files). Unfortunately all PackageReferences that I add to the build package (e.g. in the .props file) are not processed at all during build.

Steps to reproduce:
* Create a build package
* add a package reference to the build package (e.g. in the props file) (for example pa

[2019-01-11 22:43] rainersigwald commented on #7687
It's not possible to recursively reference packages in this way.

The core problem is that doing this would require restoring multiple times. The first restore would bring down the build package, which adds a new ProjectReference, but the new ProjectReference wouldn't be restored. You would then have to restore again with the partially-restored project, to see the new PackageReference. It could th

[2019-01-11 22:51] dotMorten commented on #2867
I don't get why it warns? There's absolutely nothing wrong about deprecating only old or insecure versions. Warning people is essentially telling them that you really shouldn't be doing this.

[2019-01-11 23:44] karann-msft commented on #352
@controlflow Happy new year! Several members of the team returned from holidays last week (I just returned from my honeymoon on the 8th). We are focusing on finishing the last bit of [self-contained license](https://github.com/NuGet/Home/issues/4628) related work which should be done this month. Right after, we'll pick up self-contained icon work in Feb. You'll see new tasks being created under th

[2019-01-11 23:50] dtivel commented on #6406
Possibly fixed by https://github.com/NuGet/NuGet.Client/pull/2488.

[2019-01-11 23:50] karann-msft commented on #6873
@ffMathy @tonyhallett  - we are currently finishing up [Self-Contained NuGet Packages - License #4628](https://github.com/NuGet/Home/issues/6873), and then we will pick up [Package Icon should be able to come from inside the package #352](https://github.com/NuGet/Home/issues/352). The License, Icon, and documentation are all part of the uber [self-contained package](https://github.com/NuGet/Home/w

[2019-01-12 00:07] nkolev92 commented on #7658
Closing per the above comment.

[2019-01-12 00:07] #7658 closed, assigned to nobody

[2019-01-12 01:24] fm-DmitryShyryayev opened #7688 "403 The specified API key is invalid, has expired, or does not have permission to access the specified package"
This is weird, but we are able to publish some packages with 1 powershell script to nuget.org, but then when we run 2-nd script, which is almost identical to 1, it didn't work:
The error:
Response status code does not indicate success: 403 (The specified API key is invalid, has expired, or does not have permission to access the specified package.).

The only difference between 1-st and 2-nd script

[2019-01-12 04:19] clehene opened #7689 "NuGet complains about valid semver 2.0 +metadata"
## Details about Problem

[code]

## NuGet Version
[code]

## Expected

https://semver.org/spec/v2.0.0.html#spec-item-10

[2019-01-12 04:32] ScotSalmon opened #7690 "NuGet restore for large solution is much slower in 4.8.1 vs. 3.5.0 due to MSBuild step"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 4.8.1.5435

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): 2017

OS version (i.e. win10 v1607 (14393.321)): win10 v1803 (17134.472)

Worked before? If so, with which NuGet version: 3.5.0.1996

## Detailed repro steps so we can see

[2019-01-12 13:40] #7670 closed, assigned to nobody

[2019-01-12 16:32] FullBoa commented on #6431
I have the same problem. I want to have way to specify package ID and version at my .targets file.
For example:
[code]

[2019-01-12 18:41] KirillOsenkov opened #7691 "NuGet restore should log package locations on disk"
NuGet.exe: 4.9.2.5706

NuGet restore should log the full paths to all packages on disk. If a package is downloaded, it should print the destination location.

Right now it just says `Installing Foo.Bar 1.0.0.25.` but it doesn't say **where**, which is the most crucial piece of information.

If it finds that a package is available in the package cache, it should print a message (Found package at lo

[2019-01-12 20:46] grahamwager commented on #7284
Couple to potentially add to this:

1. If possible, add the Manage NuGet Packages option to the context menu when you right-click NuGet _underneath_ Dependencies, not just when you right-click Dependencies - the number of times I've done this is unreal...
2. Either kill or make functional the order in Options. Right now you can change the order but it doesn't save and apparently is irrelevant as a

[2019-01-13 10:11] grigoremircea commented on #1823
+1. In our business, we use NuGet packages for dependency management. Our IDE needs to display release notes for each package in order for users to know if they should upgrade to a certain version or not. Right now, users have to go through unnecessary steps to read and understand release notes. Would be very helpful to bring these back.

[2019-01-13 11:58] silkfire commented on #352
@karann-msft Fantastic to hear. Thank you so much!

[2019-01-14 10:11] GiancarloLelli commented on #3055
Hey @PatoBeltran any chance you can help me with this? :)

[2019-01-14 14:45] bitbonk opened #7692 "Restore failures with mixed projects (PC & PR) & global packages folder and packages folder point to the same location"
I have a solution that contains both project with the new (.NET Core) csproj-Format as well as some classic (WPF) projects and in the solution directory I have the follwoing nuget.config file:

[code]

when I run `nuget.exe local -list all` I get the following output:

[code]

When I run `nuget.exe restore` all packages are correctly restored to the local packages folder in `C:\mysolution\packages

[2019-01-14 14:47] bitbonk commented on #7678
I have been trying this approach and failed: https://github.com/NuGet/Home/issues/7692

[2019-01-14 15:43] bitbonk commented on #7692
OK, it looks like Visual Studio has a problem if the `globalPackagesFolder` is the same as the local packages folder used by the old project system. If I change it to another folder
[code]
everything works fine. The packages referenced projects of the new project system are correctly restored to `packages2` and the other ones to `packages`.

[2019-01-14 15:48] bruno-garcia opened #7693 "NuGet package signing on non-Windows"
The [NuGet package signing docs](https://docs.microsoft.com/en-us/nuget/reference/signed-packages-reference) say:

We've got a certificate for code signing as per the requirements but our tooling for publishing our packages unfortunately doesn't run on Windows. We don't want to upload the cert to a cloud CI service but rather prefer to sign the package on our own infrastructure.

Is there any plan

[2019-01-14 16:37] ilatypov commented on #7603
For anyone else accidentally finding this issue across a dozen similar, both `dotnet restore` a `nuget restore` "worked for me" against a private artifactory when I commented out the nuget.org source in `%appdata%/nuget/nuget.config`, disabled the `apikeys` entry and kept only my used ID and my Artifactory HTTP Basic authentication password (not my login password) in `packageSourceCredentials/KEY/

[2019-01-14 17:38] bitbonk commented on #7524
We use the .NET Core SDK 2.2.102 (via the ".NET Core Tool Installer" TFS build task) and .NET restore still fails with the same error. Our private feed has dot in its name like "Foo.Bar".
Is the fix already in the SDK? If yes it doesn't seem to be fixed. If not, when will the fix hit the SDK?

[2019-01-14 18:39] sdebruyn commented on #3251
Still no working NuGet push for VSTS/Azure DevOps on Mac?

[2019-01-14 18:44] madelson commented on #7213
As a side note, we used to use an exact version reference (e. g. `[1.2.3]`) but we've shifted to using a slightly different form `[1.2.3, 1.2.4)` instead. For non-prerelease packages this is the same bound, but the benefit of this construct is that it makes it easy to work with prerelease packages since you are still compatible with `1.2.4-alphaXX`.

[2019-01-14 18:54] nkolev92 commented on #7603
Closing per @DoCode's comment.

@ilatypov
The fact that you have extra sources should normally not be impacting the authentication.

[2019-01-14 18:54] #7603 closed, assigned to nobody

[2019-01-14 19:26] nkolev92 commented on #6431
The ability for consumers of packages to references the install path (from the global packages folder) of the package has been added in https://github.com/NuGet/Home/issues/6949.

In packages.config an equivalent change would be a lot more involved.
PackageReference is fully integrated with MSBuild which allows for props/targets generated during the restore to function as powerful extensibility po

[2019-01-14 19:27] #7659 closed, assigned to nobody

[2019-01-14 19:30] #7561 closed, assigned to nobody

[2019-01-14 19:31] nkolev92 commented on #7528
@tomaz77 Are you still having issues/

Can you answer my above question about the project being a part of a solution?

[2019-01-14 19:33] #7448 closed, assigned to nobody

[2019-01-14 19:34] #6952 closed, assigned to nobody

[2019-01-14 19:36] #7059 closed, assigned to nobody

[2019-01-14 19:38] nkolev92 commented on #7131
@ghost

Did the above suggestion help solve your problem?
Are you still facing any issues?

[2019-01-14 19:40] #7568 closed, assigned to nobody

[2019-01-14 19:51] nkolev92 commented on #7430
@Rajkumar-Uppala

The assets file has a targets section which is TFM based. It should be pretty self descriptive.

[2019-01-14 19:51] #7221 closed, assigned to nobody

[2019-01-14 19:54] nkolev92 commented on #7687
The original issue is https://github.com/NuGet/Home/issues/3604.
Another related issue is https://github.com/NuGet/Home/issues/4013.

One small addition to Rainer's suggestion. The build assets do not flow transitively by default.
So you might need to do `ExcludeAssets=None` on the PackageReference to the package with build assets.

[2019-01-14 19:55] #7687 closed, assigned to nobody

[2019-01-14 20:28] rrelyea commented on #5602
This didn't get documented in the release notes for 4.9.0 because it was mistakenly in 5.0 milestone.
(working to fix)

For now, setting to 4.9.3 - will fix release notes in 4.9.0 when we ship release notes for 4.9.3 and then reset this back to 4.9.0

Will be closing this issue. Please spin off any follow up discussions in other issues.

[2019-01-14 20:34] #5602 closed, assigned to anangaur

[2019-01-14 21:07] ilatypov commented on #7603
My `dotnet 2.2.102` showed 403 errors when running `dotnet restore`.  The closing of the ticket did not result from fixing or even finding the cause of the issue.  On the contrary, my comment showed unreliable behaviour of `dotnet restore` depending on the presence of the default `nuget.org` source.  The last comment by @nkolev92  claimed the intent of the tool and this ticket does not contradict

[2019-01-14 21:58] wli3 commented on #7647
Any update on this issue?

[2019-01-14 22:01] nkolev92 commented on #7647
@wli3
I will try to address it for preview 3 (will probably pick it up next week).

[2019-01-14 22:09] ReyOrtiz opened #7694 "add support to `NuGet.exe update` for -DependencyVersion parameter, like install command"
In the NuGet.exe cli, the update-command has set Dependency Resolution Behavior hard-coded to Highest, this should be a parameter as the NuGet Package Manager Console (https://docs.microsoft.com/en-us/nuget/tools/ps-ref-update-package).

I could create a PR for this change.

[2019-01-14 22:33] dtivel opened #7695 "Test: improve performance testing script"
[This](https://github.com/NuGet/NuGet.Client/blob/d3b76cdf11b27d2bf8b169a0ddcf35c7969db5e4/scripts/perftests/RunPerformanceTests.ps1) script can be improved:

- [x] Memoize processor information.  Currently, fetching processor information adds ~1 second to each iteration.
- [x] Use the `-File` option with `Get-ChildItem`.  Currently, `GetFiles` returns both files and folders.  This can lead to a s

[2019-01-14 22:57] dtivel commented on #6406
Resolved by https://github.com/NuGet/NuGet.Client/pull/2488.

[2019-01-14 22:57] #6406 closed, assigned to nobody

[2019-01-14 23:45] nkolev92 commented on #7654
@riarenas
I don't see a restore bin log in the zip you added.
The toolset restore named file is actually a different target. WriteToolsetLocation.

[2019-01-14 23:57] #7639 closed, assigned to jainaashish

[2019-01-15 04:50] nkolev92 commented on #7603
@ilatypov

Please open another issue with your exact problem.

Keeping the discussion as close as possible to the original issue is necessary because otherwise it'd be difficult to fully resolve a ticket. We released a patch to SDK 2.2.10**1**, which fixed his problem. The root cause of this issue is the other linked one where NuGet was not able to match the credentials to the source.

Regarding y

[2019-01-15 09:14] levhaikin commented on #6279
have you tried `<PrivateAssets>all</PrivateAssets>`?

e.g.:
`<ItemGroup>
    <PackageReference Include="Microsoft.CodeAnalysis.FxCopAnalyzers" Version="2.6.3" >
      <PrivateAssets>all</PrivateAssets>
    </PackageReference>
    <PackageReference Include="StyleCop.Analyzers" Version="1.1.1-beta.61" >
      <PrivateAssets>all</PrivateAssets>
    </PackageReference>
  </ItemGroup>`

[2019-01-15 09:59] tomarikawa commented on #1823
+1 very important feature

[2019-01-15 11:15] mjamin commented on #912
`<PackageReference Include="MyPackage" Version="0-*" />` resolved to `0.1.0-alpha0001` (lowest)

... however...

`<PackageReference Include="MyPackage" Version="0.1.0-*" />` resolved to `0.1.0-alpha0420` (the latest at the time)

[2019-01-15 13:38] Mizux commented on #912
@mjamin does `0.1.0-alpha0420` is the lowest among `0.1.0*` ?

[2019-01-15 13:41] tmds commented on #5862
Thanks for the explanation @eerhardt

[2019-01-15 13:56] timotei commented on #5445
@nkolev92 How are you testing that rebuild scenario? For example, if I do rebuild, NuGet still caches the results from our NuGet server:

[code]

Even if I delete the bin/obj it still does that, and I don't see any other way to stop it from caching between *rebuilds*

PS: This is a .NET framework 4.7 project, using the `PackageReference` format to specify a wildcard version(i.e., `  <PackageRefere

[2019-01-15 14:28] AArnott commented on #6279
@levhaikin `PrivateAssets=all` only applies if I am the one with a direct dependency on an analyzer package. And yes, that works.

But if I'm referencing a package that *should* propagate to my consumers, but *that* package itself has an analyzer dependency, I should be able to suppress that using `ExcludeAssets="analyzers"`, but it doesn't work.

[2019-01-15 14:42] levhaikin commented on #6279
I see.

[2019-01-15 15:43] timotei commented on #7198
Do we have any news on the way to go for this? Can't we have at least a way (which can be automated) to disable/ignore the cache mechanism altogether in certain cases?

[2019-01-15 17:28] nkolev92 commented on #5445
@timotei

This is about the no-op cache. The no-op cache is a collection of info that tells NuGet what were the dependencies this project last requested. It allows NuGet to do quick up-to-date checks to avoid hitting the network unnecessarily.

What you are seeing the http cache. That's a cache that expires every 30 minutes.

Personally, I don't think that's a good idea. I don't even think that re

[2019-01-15 17:43] nkolev92 opened #7696 "NU1004 should contain more actionable information"
Currently the message when a lock file is inconsistent with the project is the following:

Ideally this message contains information about what NuGet thinks changed.
Couple of different options causing NU1004.

* PackageReference add/remove
* PackageReference update
* ProjectReference add/remove
* ProjectReference transitive packages add/remove/update
* TFM change.

The reason for this is that I'm

[2019-01-15 18:12] tomaz77 commented on #7528
I decided not to use selenium this way. :(

Thank you for your help.
________________________________________
From: Nikolche Kolev [notifications@github.com]
Sent: Monday, January 14, 2019 8:31 PM
To: NuGet/Home
Cc: Tomaž Berkopec; Mention
Subject: Re: [NuGet/Home] Can't install Selenium.WebDriver (#7528)

@tomaz77<https://github.com/tomaz77> Are you still having issues/

Can you answer my above q

[2019-01-15 18:34] bkwdesign commented on #1670
I'm in Visual Studio 2017 - 15.9.4
I got this error today trying to pull from my private DevOps NuGet feed
(CONTEXT: the first time I called `Install-Package` everything worked, but, my NuGet was not compiled right, so, I re-published the NuGet pkg, and when I tried to update my project that was consuming the pkg, that's when I got the failure)

Switching my Package Source to "all" alleviated the

[2019-01-15 18:38] nkolev92 commented on #7528
Thanks for following up @tomaz77

Closing this.

[2019-01-15 18:38] #7528 closed, assigned to nobody

[2019-01-15 22:16] jainaashish commented on #7694
Part of the issue is `DependencyVersion` is not supported with `PackageReference` which is why it hasn't been enabled for command line. But there was some contribution to make it happen for `Install` command through https://github.com/NuGet/Home/issues/1806 So if you want to contribute and add this option for `update` command as well then please feel free to raise a PR.

[2019-01-15 22:37] jainaashish commented on #7693
Yes, team is working towards enabling package signing and verification for non-windows platforms. dupe of #7606

[2019-01-15 22:37] #7693 closed, assigned to nobody

[2019-01-15 22:55] clairernovotny commented on #7606
I have a PR that shows the code changes needed to enable code signing for .NET Core: https://github.com/NuGet/NuGet.Client/pull/2545

[2019-01-15 22:58] jainaashish commented on #7691
Some of the information you asked are already there in current logs like when a package being downloaded, it shows GET http logs or it only shows `installing xxx` for missing packages, etc.. but I agree these are not intutive and hard to parse through. So we can certainly improve these logs or messages and there are already handful of bugs which asks to improve the current loggings. So when we try

[2019-01-15 23:15] jainaashish commented on #7690
There could be multiple ways to do this but at the end, I agree there shouldn't be an MSBuild evaluation if all the projects in a solution are `packages.config` so this will be a good improvement for legacy solutions continue to have the same performance with newer versions of nuget.

[2019-01-15 23:47] jainaashish commented on #7689
It's just a warning to let you know that this package will not work with NuGet clients < 4.3.0 since NuGet started supporting SemVer 2.0 with 4.3.0 version. More details at https://docs.microsoft.com/en-us/nuget/reference/package-versioning

So you can ignore this message if you don't intend to support older clients or even set `minClientVersion` metadata in .nuspec file to say that your package o

[2019-01-15 23:47] #7689 closed, assigned to nobody

[2019-01-15 23:52] jainaashish commented on #7688
Your API key might be specific to glob pattern `FM.IceLink*` which is why it worked first time but failed second time with `FM.LiveSwitch*`. Check in your nuget.org account profile for that corresponding API key to confirm this. If that's the case then you either need to update the existing key or generates a new one with appropriate glob pattern.

[2019-01-15 23:53] KirillOsenkov commented on #7691
The log shows where the packages are downloaded from, but I don't think they shows where the files are being saved to.

Please note that this information is crucial for difficult build problem investigations and we should prioritize this if at all possible.

[2019-01-15 23:57] jainaashish commented on #7691
They always go to `globalPackagesFolder` which if not overwritten then will be `%userprofile%/.nuget/packages`. But agreed we can either add this path with individual packages or just write an additional line indicating what was the global packages folder where we restored all the packages.

[2019-01-16 00:02] jainaashish commented on #7686
This seems weird, and should have worked just fine... Couple of follow up questions:
- were you able to build successfully after installing the package as `PackageReference`?
- Did you try restarting your VS?
- Do you see a `obj/project.assets.json` file after installing the package as PackageReference?
- Do you see the NuGet package reference in dependency Node in Solution Explorer window?

[2019-01-16 00:12] jainaashish commented on #7684
As I've mentioned multiple time in past, it's important to understand when was the last time it worked fine and with which build it started happening... Now based on above information, it's really hard for me to understand when this regression was actually caused?

So tell me with which last build it worked fine? and going forward, PLEASE keep in mind to add these details while logging the bug its

[2019-01-16 00:19] jainaashish commented on #7683
Thanks for the issue, completely agree that once we have got the adequate details about an issue, then we must remove this label and add other appropriate ones. We'll try to be more diligent about this in future.

@NuGet/nuget-client something to take care off while tracking issues.

[2019-01-16 00:19] #7683 closed, assigned to nobody

[2019-01-16 01:50] nkolev92 commented on #3159
Related to https://github.com/NuGet/Home/issues/5553

[2019-01-16 06:30] cbries opened #7697 "Vs15 NuGet Pkg Manager: ''4.9.2+428327cf66ee71cdb0e05a8aaa6cf6d043b9c932' is not a valid version string.'"
Hello, please change the version string because in older VS versions, e.g. VisualStudio 2015 (Version 14.0.25431.01 Update 3) I always get the following error message:

'4.9.2+428327cf66ee71cdb0e05a8aaa6cf6d043b9c932' is not a valid version string.
Parameter name: version
'4.9.2+428327cf66ee71cdb0e05a8aaa6cf6d043b9c932' is not a valid version string.
Parameter name: version

The message appears wh

[2019-01-16 06:45] v-longmin commented on #7684
@jainaashish The last build it worked fine: Dev\5.0.0.5759. The build it stared happing: Dev\5.0.0.5760. Never repro after build: Dev\5.0.1.5769.

[2019-01-16 09:29] Joev- commented on #6301
Apologies also for the necro on this issue, but I am also suddenly facing inconsistencies with `$(NugetPackageRoot)`.

Our build agent is generating a value that is missing the trailing slash, running VS2017 15.9.5. I am not against using an MSBuild function if it turns out to be really necessary, but I would like to understand why this is happening suddenly. Any clues are much appreciated as the

[2019-01-16 11:38] ezolotko opened #7698 "Architecture-specific files folder hierarchy lost (native subfolders)"
## Details about Problem

NuGet product used: VS UI, dotnet.exe

NuGet version: 4.60

dotnet.exe --version: 2.1.503

VS version: 15.9.5

OS version: Microsoft Windows [Version 10.0.17134.523]

## Detailed repro steps

1. Download the attached archive containing the repro files, extract the downloaded archive at [path]

2. In the nuget options, add local package source at the location [path]\Native

[2019-01-16 14:08] dtretyakov opened #7699 "NuGet 4.9.2 fails to install packages from nuget.org with "Canceled" error"
## Details about Problem

NuGet product used: NuGet.exe
NuGet version 4.9.2:
OS: Windows

## Detailed repro steps so we can see the same problem

Execute package restore like that:

[code]

Restore command fails with errors like that:

[code]

## Other suggested things

### Verbose Logs

Despite `-Verbosity detailed` was passed it does not bring any additional details about cause of `Canceled` tas

[2019-01-16 17:23] jainaashish commented on #7684
So I'm closing it as Not Repro on latest builds

[2019-01-16 17:23] #7684 closed, assigned to nobody

[2019-01-16 18:19] dotMorten opened #7700 "Add new-version-published notifications to nuget.org"
I'd love to be able to subscribe to various packages I use a lot and get notifications when new versions are being published+listed.
Please add such a feature to nuget.org so we can better keep track of latest packages we can use.

[2019-01-16 18:24] karann-msft commented on #7700
in what form would you like these notifications? email?

[2019-01-16 18:41] agentid36 commented on #7686
Thanks for your comments.

1. If there's no code that references the NuGet dll's namespace (Dart), yes. If there is, no.
2. Restarting VS2017 does not resolve this.
3. Yes. The relevant sections appear to be (from a Windows Forms 4.7.2 project):

  "version": 3,
  "targets": {
    ".NETFramework,Version=v4.7.2": {
      "PowerSNMP/4.10.0": {
        "type": "package",
        "compile": {

[2019-01-16 18:58] dotMorten commented on #7700
Yup

[2019-01-16 19:37] jainaashish commented on #7686
ohh I see the package `PowerSNMP` is marked as `developmentDependency` in it's `.nuspec` file which is why when installed through `PackageReference` it doesn't get any compile time assets. So when you see in the assets file, compile time assets are empty...

[code]

Ideally you shouldn't override this behavior since package author created this package only for build time dependency but if you want

[2019-01-16 20:13] agr commented on #7685
Just in case there are notification issues: there were updates posted at https://github.com/NuGet/NuGetGallery/issues/6810.

[2019-01-16 21:06] jainaashish commented on #7697
You can use [NuGet VSIX v3.6.0](https://dist.nuget.org/visualstudio-2015-vsix/latest/NuGet.Tools.vsix) for VS 2015 which supported SemVer 2.0 versions.

[2019-01-16 21:06] #7697 closed, assigned to nobody

[2019-01-17 00:25] jainaashish commented on #7698
If you don't pass runtime identifier `-r win-x64` then it does the right thing and preserve the folder structure but as soon as you pass runtime, it flattens out the folder.

@nguerrera @dsplaisted can help understand the difference here and give more details.

[2019-01-17 01:26] jainaashish commented on #7699
Did it only started happening with `4.9.2` version?
Are you able to install the same package with other nuget.exe?
Are you able to access `https://api.nuget.org/v3/index.json` in browser?

It seems like this was reported in your build server, so just make sure that machine has access to internet.

[2019-01-17 01:31] #7700 closed, assigned to nobody

[2019-01-17 01:31] jainaashish commented on #7700
Issue moved to [NuGet/NuGetGallery #6823](https://github.com/NuGet/NuGetGallery/issues/6823) via [**ZenHub**](https://www.zenhub.com/)

[2019-01-17 04:15] crashbdx commented on #4234
Same here :(

[2019-01-17 06:21] shanselman commented on #4699
O_O

[2019-01-17 07:48] ezolotko commented on #7698
@jainaashish if I understand this correctly, passing `-r win-x64` publishes a self-contained application, while not passing any `-r` does a framework-dependent deployment. If this is correct, what if I want my application to be self-contained and use a package with native library which depends on a fixed hierarchy of subfolders with data around it?

[2019-01-17 08:29] roywangaspose opened #7701 "System.Drawing.common lib get an error when drawing Cambria Math font on Ubuntu"
Hello, I am using System.Drawing.common 4.5.1 in my .netcore project.
It works fine on windows system, but I get some problems on Ubuntu(16.04, 64bit).
Here is my simple test code, and I have signed the error information in comments.
I also put my simple test project in the attachment, it will get an error on Ubuntu.

using System;
using System.IO;
using System.Drawing;

            //you may put

[2019-01-17 09:29] dtretyakov commented on #7699
@jainaashish, the customer says that it was working fine in NuGet 4.8.1. The machine has access to the https://api.nuget.org/v3/index.json

The problem is that cause of `Canceled` error is unknown and NuGet.exe with `-Verbosity detailed` does not help to understand whats going wrong.

[2019-01-17 09:56] ReinoutW commented on #4437
Any update on this?

[2019-01-17 11:47] FilipDeVos commented on #4437
No

On Thu, Jan 17, 2019, 4:57 AM ReinoutW <notifications@github.com wrote:

[2019-01-17 18:27] MirzaMerdovic commented on #6209
This is still an issue. This package: ProjectReferences.Common.Services -Version 1.0.2 was packed using:
```dotnet pack -c Configuration --no-restore -p:Version=1.0.2```

and it behaves as described by the reporter.

The solution structure can be reviewed in this [repo](https://github.com/MirzaMerdovic/project-references.git)

Since the workaround that was suggested by @dasMulli doesn't really sui

[2019-01-17 20:22] nkolev92 commented on #5725
Similarly to DotnetTool, when implementing Package Applicability should account for the package types chosen for the runtime/targeting packs. #7337

[2019-01-17 20:32] nkolev92 commented on #7337
A couple of items that need clarified here.

- [ ] From the discussions we understand that these packages will not have any dependencies.
Do we want a pack experience for them? Should pack validate that targeting/runtime packages do not have any dependencies.

- [ ] Should the package type be exclusive similar to how the DotnetTool and snupkg types.

- [ ] What are the implications of the new pack

[2019-01-17 21:33] anangaur commented on #5725
Have we decided upon the name of the packageType for these scenarios?

[2019-01-17 21:37] bjuraga commented on #1823
I am looking into how to build the solution and generate a VSIX i found this article:
https://github.com/NuGet/Home/wiki/Setting-up-the-NuGet-Development-Environment

It seems outdated and not relevant, as well as the Readme file here and on the Home repository.

If i install the generated VSIX from the dev branch to my VS2017 the NuGet Client breaks due to missing **Microsoft.VisualStudio.Compone

[2019-01-17 22:21] nkolev92 commented on #5725
@anangaur No, I kicked the tires on that discussion, before commenting.
I wanted to make sure that it doesn't slip through the fingers.

[2019-01-17 22:30] jainaashish commented on #7699
can you provide repro steps to reproduce locally? AFAIK cancelled will only happen when someone explicitly cancelled that restore task.

[2019-01-17 22:39] jainaashish commented on #7698
I've the same understanding and I'd imagine it should keep the same folder structure in a self-contained app as well. Which is why I've added dotnet SDK folks to respond on this issue. This isn't related to NuGet and once dotnet folks agree, I'll move it over to their repo.

[2019-01-17 22:59] nguerrera commented on #7698
I am nearly certain there is a duplicate issue somewhere, but I cannot find it. I believe there were opinions that this was by design because you should be using content instead of native for auxiliary files to the native dll. But without finding the original issue I'm not sure. cc @eerhardt who I think was involved in the original discussion.

[2019-01-17 23:03] vsfeedback opened #7702 "Rethink suggesting Bower as front-end package manager"
I think it's not a good idea to suggest Bower as front-end package manager from the NuGet dialog. I totally agree NuGet should not be used for front-end packages, but don' agree on Bower. Even the Bower project suggest people use npm as package repo, either via npm or yarn as a tool. It's not that Bower is dead, but it is in maintenance mode only. Do we want to lead people on a path that we know w

[2019-01-17 23:04] anangaur commented on #7702
I remember this going on and off. I thought we stopped suggesting this but seems like this is not the case. Also not positive if this is something thats lighted up from NuGet client codebase but we should do the right suggestion here or get the text fixed.

[2019-01-17 23:05] vsfeedback opened #7703 "Keep focus on Output - Package Manager"
<p></p><p></p><p>When working with Nuget
management the [Output - Package Managers] window always get switched to the
[Error List] even if installation/update/uninstallation is unsuccessful. Please
make the failed operation more obvious to the developer cause it is too easy to
miss. </p>

_This issue has been moved from https://developercommunity.visualstudio.com/content/idea/406388/keep-focus-on-

[2019-01-17 23:05] vsfeedback opened #7704 "Warn users of breaking changes when updating NuGet packages"
<p>I suggest to warn users when updating NuGet package(s) with breaking change.</p><p>When a new package is released, the author MUST specify if and where are breaking changes, so VS BEFORE apply the update warn the user for any breaking changes.</p><p>Same topic on <a href="https://github.com/NuGet/Home/issues/6673" target=_blank>NuGet GitHub</a></p>

_This issue has been moved from https://devel

[2019-01-17 23:06] anangaur commented on #7704
This issue can also be mitigated if we show an API explorer and show the diff in APIs between versions on the update tab.

[2019-01-17 23:07] vsfeedback opened #7705 "Restore global.json functionality in VS2017"
Migrated from <a href="http://visualstudio.uservoice.com/forums/121579/suggestions/19071868">Visual Studio IDE UserVoice forum</a> <br><br> Before the switch from project.json back to .csproj files, I was able to use global.json in order to specify local source code for a NuGet package I referenced.  This made it incredibly easy to debug against the source code, and also make code changes on the f

[2019-01-17 23:20] eerhardt commented on #7698
I think it was https://github.com/dotnet/cli/issues/9794...?

Basically, the suggested workaround was to use `contentFiles`, which maintains the folder structure.

Maybe we should consider changing the behavior, and maintaining the folder structure.... Or at least, an option to opt into maintaining the folder structure under `runtimes\RID\native`.

[2019-01-18 00:16] jainaashish commented on #7701
Please contact Package Author(s) regarding specific package issue. And since this is part of Dotnet framework, you can either create a VS feedback ticket or ask this question on StackOverflow.

[2019-01-18 00:16] #7701 closed, assigned to nobody

[2019-01-18 00:26] jainaashish commented on #7702
AFAIK this message is from ASP.NET or NETCore teams which I believe can be moved to LibMan now.

[2019-01-18 00:29] jainaashish commented on #7703
I'm lil confused, isn't Error List more important then output window in case installation was unsuccessful?

[2019-01-18 00:32] jainaashish commented on #7704
@anangaur what was the reason of creating this issue when there is already existing one for the same purpose? Can't you just put your suggestions in the existing one itself?

Dupe of https://github.com/NuGet/Home/issues/6673

[2019-01-18 00:32] #7704 closed, assigned to nobody

[2019-01-18 00:35] jainaashish commented on #7705
dupe of https://github.com/dotnet/cli/issues/4997

[2019-01-18 00:35] #7705 closed, assigned to nobody

[2019-01-18 00:36] jainaashish commented on #7698
closing this as dupe of https://github.com/dotnet/cli/issues/9794

@ezolotko you can continue the further discussion on the above issue.

[2019-01-18 00:36] #7698 closed, assigned to nobody

[2019-01-18 00:42] #7608 closed, assigned to nobody

[2019-01-18 01:50] anangaur commented on #7704
This is a tool created issue when I move it from feature requests (user voice) to GitHub. If there needs to be a process change, then we should discuss it.

[2019-01-18 01:53] jainaashish commented on #7704
Looking at some recent issues created with this tool, it feel there is definitely some scope of improvements to avoid duplicate efforts. I'm not too aware of this tool, but available for discussion and my inputs.

[2019-01-18 05:10] dsplaisted commented on #7698
@jainaashish I'm not sure we should be closing this as a dupe of another closed issue.  If we want to continue discussion of this, it should probably be on an open issue.

[2019-01-18 08:39] FullBoa commented on #6431
@nkolev92
I'm referencing as package author.

[2019-01-18 10:54] ezolotko commented on #7698
I just wanted to point out that the suggested solution with contentFiles has it's drawbacks:
- I am not sure if in case of `dotnet run` (not `dotnet publish`) `contentFiles` can be made to copy the files next to the native files in the `.nuget/packages` folder. I think `copyToOuput="true"` makes them to be copied to the project output folder (like `bin/debug`) only. This will be a problem in cases

[2019-01-18 11:27] v-luzh opened #7706 "5.0p3 shipped VS Build SKU with wrong Newtonsoft.Json depedency"
## Details about Problem
NuGet version: NuGet Client Dev\5.0.0.5783
Build Tools VS Version: D16.0stg\28517.137
OS Version: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps so we can see the same problem
1. Install **VS BuildTools** D16.0stg\28517.137 from: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2339941&view=results
2. Get the **Build Tools vsix** from: \\dd

[2019-01-18 11:33] mkdotcom commented on #5292
The issue is still there.

[2019-01-18 12:38] sven-weber opened #7707 "Nuget.exe sources add with -password "@foo" raises System.FormatException"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 4.9.2.5706

OS version (i.e. win10 v1607 (14393.321)): win10 v1709 16299.64

Worked before? If so, with which NuGet version:

Not to my knowledge

## Detailed repro steps so we can see the same problem

1. Open Command Line

2. Enter Command to add a new nuget source. e.g.

    nuget sources add -name foo.bar -source C:\NuGet\

[2019-01-18 14:09] MirzaMerdovic commented on #6209
Hack-around I am using currently is:
[code]
I haven't figured out the reason why in this case ```Version="1.*"``` is not getting overridden, because if I try this:
[code]
_Common.Services_ package version would be overridden by what ever is specified in ```dotnet pack -p:Version```, or in the current project _Version_ tag (e.g. ```<Version>1.0.32</Version>```).

Note:

[2019-01-18 17:57] clabough commented on #3292
@nkolev92 Clicking on the notification should only take you to the NuGet -> Updates tab so then the user can determine whether or not to apply the update. It would be even better if this could be set per package because there are some that I never update - and I wouldn't want to be notified that those are still outdated - but others I update as soon as I can.

[2019-01-18 18:11] jainaashish commented on #7698
@dsplaisted then may we should reopen that closed issue but we should continue the discussion there so that we have the history of why did we closed at the first place.

[2019-01-18 18:28] nkolev92 commented on #3292
Regardless of the action, VS notifications are used for higher priority things which basically say "hey, you should do this". That's not always correct with packages.

[2019-01-18 18:30] clabough commented on #3292
@nkolev92 Yes, I agree. I would take the notification as "hey, you should check your NuGet available updates".

[2019-01-18 19:06] jainaashish commented on #7706
@nkolev92  can you please take a look at it? Vendor says it started happening after this PR# https://github.com/NuGet/NuGet.Client/pull/2670 merged.

[2019-01-18 19:07] nkolev92 commented on #6431
@FullBoa

And NuGetPkgID is someone else's package?
And you have that package as a dependency of your package or?

[2019-01-18 19:13] nkolev92 commented on #7706
@v-luzh
Can you do a quick change in the test.

From:

to:

[2019-01-18 19:44] nkolev92 opened #7708 "Develop a package type checklist"
We should write-up a spec that calls out all **known** package type and their characteristics.

Example **SymbolsPackage** and **DotnetTool** are 1 per package types. They cannot be combined with other package types.

Related:
https://github.com/NuGet/Home/issues/7337

#2476

[2019-01-18 20:23] nkolev92 opened #7709 "PackageDownload version range implementation"
There are some considerations here:

* How will the user know that which version got resolved.
* Especially with the potential for duplicate IDs.
* Make sure that the bumped up version warnings are reported.

Note: Search for `TODO https://github.com/NuGet/Home/issues/7709` in the code when implementing.

Related to https://github.com/NuGet/Home/issues/7339

[2019-01-18 21:37] karann-msft opened #7710 "NuGet doesn't appear to work in VS 2017 Community Edition"
@tshinkle commented on [Tue Jan 15 2019](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1267)

I'm trying to do the most basic tutorial in VS 2017 and all I get is the following:
NuGet package restore failed. Please see Error List window for detailed warnings and errors.

Here is the first error of 34:
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0246	The type or

[2019-01-18 22:21] skofman1 opened #7711 "[Suggestion]dotnet new command endpoint should not return unlisted packages"
@ryuyu commented on [Thu Jan 03 2019](https://github.com/NuGet/NuGetGallery/issues/6783)

Customer Feedback:

[2019-01-19 00:46] StingyJack commented on #7631
Linking to what I think is the same issue so as to increase the "vote" count -  https://github.com/NuGet/Home/issues/7371

[2019-01-19 02:56] clehene commented on #7689
@jainaashish thank you for the clarification

[2019-01-19 12:10] azeno commented on #6556
I think this issue can be closed? My PR was accepted and is merged into dev branch.

[2019-01-19 12:17] azeno opened #7712 "New Nuget.Build.Packaging release on nuget.org"
The current hosted version on nuget.org is a little out-dated (from December 2017) and in my case misses certain important bug fixes. For know I've used the appveyor feed but I worry a little that the latest built package from that feed will disappear rather soon due to appveyor's cleanup policy (6 months). So any chance the current prerelease package gets uploaded to nuget.org or even better crea

[2019-01-19 15:24] kzu commented on #6556
As mentioned, this was contributed and accepted

[2019-01-19 15:24] #6556 closed, assigned to nobody

[2019-01-19 17:48] gh-andre commented on #6431
@nkolev92 I have some update on the ask and on how the new Visual Studio handles this.

When I created this issue, there was no separate `.props` and `.targets` files in a Nuget pakckage. I cannot remember the Nuget version for that, but this probably will give you some time line reference.

At the time I would just use `$(MSBuildThisFileDirectory)` in that package properties file and it would app

[2019-01-20 20:44] dasMulli commented on #4103
Last time I tried to script it I ran into https://github.com/NuGet/Home/issues/6521 - `dotnet add package` just doesn't work for multi-targeting projects with both TFM-specific and TFM-invariant packages (`dotnet add package -f net472 foo.pkg.id` does the wrong thing).

[2019-01-21 00:00] conioh commented on #6674
@anchal288, seems like Microsoft - once again - doesn't even bother to look at bug reports.
Last time they ignored bug reports they deleted many Terabytes if not Petabytes of users' files.
If you really need the functionality and can't use VS Community because if the license, I'd suggest doing what I described earlier.

[2019-01-21 03:15] v-luzh commented on #7706
@nkolev92 The same error occur after testing with above changed steps.

[2019-01-21 03:17] v-luzh commented on #7706
Sorry, clicked a wrong button. Reopen the bug.

[2019-01-21 07:34] ivan-danilov commented on #5894
Another side effect of the generated proj file is that it is losing metadata set on references (code path goes through `ShimReferencePathsWhenCommonTargetsDoesNotUnderstandReferenceAssemblies` target in `Microsoft.Common.CurrentVersion.targets`. As a result, [workaround for embedding interop types](https://github.com/NuGet/Samples/tree/master/NuGet.Samples.Interop) does not work (it correctly sets

[2019-01-21 09:30] rfcdejong commented on #912
This works fine for dotnet restore

`<PackageReference Include="mypk" Version="1.0.1-*" />`

However dotnet build and dotnet test ignore the floating argument. In our pipelines we have a work around to first restore and then pass --no-restore on the following dotnet commands, but it isn't very pretty imho

[2019-01-21 12:03] dtretyakov commented on #7699
@jainaashish, I don't know how to reproduce it locally. Customer says that it is intermittent issue, maybe it's caused by firewall/network issues in their on-premises network. Log with timestamps looks like that:

[code]

How to diagnose this problem? NuGet.exe logging does not help in it.

[2019-01-21 12:20] timotei commented on #7198
@zhili1208 @nkolev92 Would you accept a PR that tries to fix/enable disabling the cache on rebuild/explicitly?

[2019-01-21 15:55] ghost commented on #5173
Any updates? More then a year, after it's become Priority:1

[2019-01-21 17:03] matthewjones555 commented on #5832
Hi @rohit21agrawal, the comment I've quoted was from August 2017.  Is there any update on this?  Are there any plans to add support for .NetCore or .NetStandard projects?

I'm not using GeneratePackageOnBuild, and have now run into this issue when attempting to add multi-targeting into my project.

[2019-01-21 19:13] japj commented on #7181
have you looked at https://github.com/Microsoft/MSBuildSdks/tree/master/src/CentralPackageVersions for managing nuget package versions centrally?

[2019-01-22 02:01] StingyJack commented on #7181
@japj - thanks for the heads up but that requires package reference.

[2019-01-22 07:34] v-luzh opened #7713 "[Test Failure][Dotnet List Package]An error occur when executing dotnet list package in a project with multiple TFMs"
## Details about Problem
OS Version: Windows 10 RS4_Release 17134.1.180410-1804
Dotnet SDK: 3.0.100-preview-010140
## Detailed repro steps so we can see the same problem
1. Create a powershell script with below content.
[code]
2. Execute the script in PowerShell command window. (Press Enter when meeting every pause)
## Expected
The output of last command line (.\cli\dotnet list MultiTargetTest\Mul

[2019-01-22 07:43] v-luzh commented on #7497
The issue doesn't repro on Dotnet SDK: 3.0.100-preview-010137 & Dotnet SDK: 3.0.100-preview-010140.

[2019-01-22 07:58] idg10 opened #7714 "No documentation for 'bring your own access token' with NuGet client libraries"
I am trying to use the NuGet client SDK to access a protected feed (hosted on Azure DevOps). I need to perform some operations that aren't directly supported by existing NuGet apps or ADO build pipeline tasks, which is why I'm programming directly against the SDK. The relevant code will be running as part of a build pipeline. It's not entirely clear how NuGet clients are supposed to authenticate i

[2019-01-22 09:34] rfcdejong commented on #3788
Any ETA?

[2019-01-22 10:20] v-nancyj opened #7715 "[Test Failure][Accessibility][ESN] The drop-down button of ‘Default package management format’ was truncated"
## Details about Problem

NuGet version: NuGet Client Release-5.0.0-preview2\5.0.0.5782
VS Version: D16.0\28519.51
OS Version: Windows-10-Enetrprise-RS3-ES-ES

## Detailed repro steps

1.	Launch VS and click menu Tools->NuGet Package Manager->Package Manager Settings->General.
2.	Check the drop-down button of ‘Default package management format’ on right panel.

### Expected

The drop-down button o

[2019-01-22 10:20] v-luzh opened #7716 "[Test Failure][Localization] The tooltips of search filter in PM UI are not localized"
## Details about Problem
NuGet version: NuGet Client Release-5.0.0-Preview2\5.0.0.5782
VS Version: D16.0\28519.51
OS Version: 16299.RS3_Release_svc_escrow.180502-1908 CHS
## Detailed repro steps so we can see the same problem
1. Create a solution with any project in VS and open the PM UI of the project/solution.
2. Hover on the search filter/search button/search Dropdown button in the PM UI and ch

[2019-01-22 13:00] pmiossec commented on #3788
That's the type of issue, that completely prevent the use of wildcard (I had to fallback to hardcoded version 😢 ) and so to put in place an update strategy that let me think that the paket ( https://github.com/fsprojects/Paket ) community driven project is a lot better solution to manage dependencies in a .net project....

That's a shame that the nuget team don't borrow most of the excellent ideas

[2019-01-22 15:08] irontoby commented on #7236
@jotaylo can you provide more info on the VSS NuGet AuthHelper? I can't find any info on it aside from the NuGet site.

I'm currently also using the `CredentialProvider.VSS.exe` and it hangs for 10-15 seconds on each call while fetching the token from VSTS (Azure Devops), so if the AuthHelper can remove that I'd like to give it a try.

[2019-01-22 15:36] infin8x commented on #7236
The auth helper is quite old and is only recommended for a few very specific scenarios. [artifacts-credprovider](https://github.com/Microsoft/artifacts-credprovider) is the way to go - see if that improves performance for you? Note that you'll need NuGet 4.8.0 or greater.

[2019-01-22 15:43] amis92 commented on #4360
It's exactly 2 years old. Happy 2nd birthday, Issue! 🎂

[2019-01-22 16:29] irontoby commented on #7236
@alexmullans thanks! I'm running into lots of conflicting info. I just created a Personal Access Token and added it to NuGet using the [NuGet 2.x instructions](https://docs.microsoft.com/en-us/azure/devops/artifacts/nuget/nuget-exe?view=vsts&tabs=new-nav#add-a-feed-to-nuget-2) (which still work for 4.x) and that has dramatically sped up response times. The CredentialProvider you linked though does

[2019-01-22 17:31] jainaashish commented on #7699
can you ask your customer to run this command with `-Verbosity detailed` and then shared the logs... may be that give us more details.

[2019-01-22 17:57] syyam commented on #2880
Do these steps
1. Delete .nuget from c/users/[username]
2. Restart your VS and make sure you are connected to the internet.
3. Build the solution

[2019-01-22 19:25] nkolev92 commented on #7198
@timotei

I don't think it's a good idea to disable the caching mechanisms on rebuild.
See https://github.com/NuGet/Home/issues/6987.

Doing a restore without any caching in place is very costly.
I think we'd need to design for scenarios like these explicitly, rather than making them the default.

[2019-01-22 19:28] nkolev92 commented on #5894
@ivan-danilov

Your scenario has the same root cause as this issue, so this one is enough.

[2019-01-22 19:49] ReyOrtiz commented on #7694
Can I get permission to push my local branch?

I basically followed the same approach from #1806

[2019-01-22 22:33] nkolev92 opened #7717 "Nomination errors, such as bad data (version, tfm etc), are not propagated to Visual Studio."
Take this project;

[code]

Restore from the commandline.
The output contains something like the below:

[code]

Restore in VS.

Nothing is seen in the error list.

The output is something like:
[code]

What's happening here is that the restore is being skipped because the package spec could not be generated properly.

//cc @rrelyea
This will become even more apparent when we add the exact version

[2019-01-22 23:44] ajhalls commented on #1739
Not having sort forces me to usually run to Github, perform my search, sort by most forked, most recently updated, most stars... then pick what I am most interested in and return to VS to install through Nuget.

While I understand the desire to improve visibility to new packages, for enterprise solutions I would prefer to hide packages that aren't being maintained, or have very low counts.

[2019-01-23 00:37] nkolev92 opened #7718 "Package Download logic implementation"
Parent issue: https://github.com/NuGet/Home/issues/7339

Based on https://github.com/NuGet/Client.Engineering/pull/91.

The core Package Download logic implementation.
This does contain the lighting up of any public entry points. Meaning the packages are note being read from the project file. There are no nomination changes or reaction to the same.

[2019-01-23 05:30] nkolev92 opened #7719 "PackageDownload VS nomination APIs update"
Parent issue: https://github.com/NuGet/Home/issues/7339

Based on https://github.com/NuGet/Client.Engineering/pull/91.

The update of the IVS Nomination APIs for PackageDownload.

fyi @davkean the tracking issue for this specific change.

[2019-01-23 05:38] nkolev92 opened #7720 "PackageDownload - Restrict version range to exact versions only"
Parent issue: https://github.com/NuGet/Home/issues/7339

Based on https://github.com/NuGet/Client.Engineering/pull/91.

Follow up to https://github.com/NuGet/Home/issues/7718.

In the initial version, we are only going to implement exact version, as they are not necessary for V1.

Related to https://github.com/NuGet/Home/issues/7709.

[2019-01-23 05:41] nkolev92 opened #7721 "Update the NuGet.targets to handle PackageDownload"
Parent issue: #7339

Based on NuGet/Client.Engineering#91.

The update of the NuGet targets to handle PackageDownload.

We need to add the CollectPackageDownloads target because https://github.com/NuGet/Home/issues/7719 depends on it.

[2019-01-23 05:45] nkolev92 opened #7722 "PackageDownload - Propagate the download dependency information to the telemetry and restore result APIs"
Parent issue: #7339

Based on NuGet/Client.Engineering#91.

Follow up to NuGet/Home#7718

In https://github.com/NuGet/NuGet.Client/pull/2688, not everything is propagated in the restore APIs.
The reason for this is that the implications these changes have to IVS APIs and similar.

[2019-01-23 07:40] Erwinvandervalk opened #7723 "Return different exit codes when nuget push fails (especially for 409) to improve scriptability"
## Summary

When pushing a package fails, Nuget.exe should return a different exitcode for different status codes.

## Problem description

When pushing a package to a nuget feed fails, Nuget.Exe prints out the error and returns '1' as the exitcode, to indicate that it fails, regardless of the reason of the failure.

This is especially problematic when pushing a package with the same version twice

[2019-01-23 12:45] mattleibow commented on #7416
I totally second this - and I just cam across this very issue when trying to make use of Xaml islands. I tried to install the Xamarin.Forms package into the WPF project, but I had no way to tell NuGet to install the `uap` libraries instead of the `netstandard`. As a result, I did not get what I wanted.

This will become increasingly harder as the frameworks overlap - WPF/WinForms/net4x can pull in

[2019-01-23 14:59] kzu commented on #7416
I don't think this is reasonable. As a package author, you have to make decisions for your users.

You have just made the decision that `netcoreapp2.0` must use `System.Configuration`. If you want users to use the M.E.C. version, just provide a different package with that "provider". That's how users make their choice today. I think that's sufficient.

@mattleibow I'd say the Xaml islands part of

[2019-01-23 16:20] dtretyakov commented on #7699
@jainaashish, already did it and have mentioned it multiple times that `-Verbosity detailed` does not bring any additional details.

[2019-01-23 17:25] jainaashish commented on #7699
then I don't know what we can do here until we have the repro details. It may be nuget 4.8.1 was not handling cancellation properly which could have been fixed in 4.9.2 which is why your customer is seeing it now but in reality the problem was already there which is, something is always cancelling those http requests to nuget.org

[2019-01-23 17:33] infin8x commented on #7236
@irontoby yep, that still works. If you have time, would you mind linking to some of the conflicting info you've encountered? We're planning to streamline some of our docs and product experiences around authentication in Q2 - it'd be helpful to understand what you've found today to ensure we're thinking about it.

[2019-01-23 18:36] dominoFire commented on #7710
Hi @tshinkle, we need more details to address your issue. Can you provide use a sample of the proj file?

Are you trying to run this application? https://github.com/Azure-Samples/service-fabric-dotnet-quickstart

[2019-01-23 19:06] nkolev92 opened #7724 "PackageDownload and hash validation"
Parent issue: https://github.com/NuGet/Home/issues/7339

Based on https://github.com/NuGet/Client.Engineering/pull/91.

A few options:

* In the original ask, the PackageDownload items are transient, they don't really make sense to be part of classic lock file validation.
* A new property on the PackageDownload item. This is not convenient for the non transient cases and the case where the declare

[2019-01-23 20:48] nkolev92 opened #7725 "Doc the new Embed folder pack scenarios"
Document the fix of https://github.com/NuGet/Home/issues/2365.

[2019-01-23 21:07] nkolev92 opened #7726 "Document buildTransitive scenarios"
Document the buildtransitive scenarios:

https://github.com/NuGet/Home/issues/6091

[2019-01-23 21:07] nkolev92 opened #13495 "Document buildTransitive scenarios"
Document the buildtransitive scenarios:

https://github.com/NuGet/Home/issues/6091

[2019-01-23 23:03] nkolev92 commented on #7588
Related https://github.com/dotnet/corefx/issues/25873

[2019-01-23 23:06] nkolev92 commented on #7341
I have a fix for nuget.exe under mono that could be causing this issues in https://github.com/NuGet/NuGet.Client/pull/2691.
I was not able to find any specific issues in the dotnet.exe codepaths.

[2019-01-23 23:28] wli3 opened #7727 "--interactive support for dotnet remove package"
These 2 commands in CLI are just a redirect command to nuget.xplat.

If there is a project used a [msbuild sdk](https://github.com/Microsoft/MSBuildSdks) that is in a private nuget feed. These 2 commands will fail. At the same time, _dotnet add package_ with _--interactive_ will succeed. So doing the similar work for _dotnet add package_ should resolve the problem.

[code]
csproj:
[code]

[2019-01-23 23:28] karann-msft commented on #7629
@devlead - this should resolve the main ask for the packages we publish going forward. Feel free to close the issue if that is the case :)

For existing published packages, I don't believe it is kosher to change the license from a legal standpoint which is why we now have self-contained licenses which make them immutable :)

Microsoft owns the license to the NuGet package and its contents - hence

[2019-01-23 23:29] wli3 commented on #7727
@rrelyea @nkolev92

[2019-01-23 23:32] nkolev92 commented on #7727
The list part is duplicate of https://github.com/NuGet/Home/issues/7605.

The NuGet side fix is done, but not the CLI one.

I can do the remove package reference one.

@wli3
Do you plan on addressing the CLI side of these or do you want us to do it?

[2019-01-23 23:37] nkolev92 commented on #7727
@wli3

Also in the title you talk about list and remove, but in the issue you talk about MSBUIlD SDKs as well.

The MSBuild SDKs scenario has been addressed in https://github.com/NuGet/NuGet.Client/commit/62916a48fe61fc7d94c2f436c7d4569878705dd4#diff-2cd243ce1cd32fce987422c201afe90d

[2019-01-24 02:03] wli3 commented on #7727
I don't think it is the same as NuGet/NuGet.Client@62916a4#diff-2cd243ce1cd32fce987422c201afe90d.

This issue more tricky. For #7605, if a feed is behind private feed. At least it can pass msbuild evaluation phase. But if there is an msbuild sdk behind private feed. Even the evaluation will fail. I am not sure the implementation of nuget auth. The solution of 7605 may work for msbuild sdk as well,

[2019-01-24 02:23] nkolev92 commented on #7727
@wli3

The fix that I did for #7605 is already in the sdk resolver.
The NuGet plumbing is complete there. The rest is the msbuild sdk resolver magic, which we don't really understand.

[2019-01-24 03:40] dominoFire commented on #7712
@kzu

[2019-01-24 05:46] devlead commented on #7629
Ok, I see. Then I'll go ahead and close this issue.

[2019-01-24 05:46] #7629 closed, assigned to anangaur, karann-msft

[2019-01-24 07:14] am11 commented on #5862
Would this have side effects? Say in 10.20, Apple has a breaking change in SecureTransport API behavior which impacts downstream API in `System.Security.Cryptography`. In this case, today the user gets package restore error and in future will receive a runtime exception. It might as well be an acceptable trade-off.

[2019-01-24 08:11] Brunas commented on #545
+1

[2019-01-24 14:05] FullBoa commented on #6431
@nkolev92

No, at my .targets.

I have compiled c-library that is used from my C# package project.
For consumers it must work so: mylib.so (c-library) must be copied to consumer's project output folder during build. And consumer should not think about copy c-library to its build artifacts folder. I think so.

This is cause to use NuGetPkgID and some version substitution in my .targets.

[2019-01-24 14:10] FullBoa commented on #6431
Additionally.

It seems strange to create separated script to change versions at .targets.
Perhaps there are another ways to do it but I don't know it.

[2019-01-24 15:50] irontoby commented on #7236
@alexmullans maybe not _conflicting_ info but it was pretty difficult figuring out how to connect our Azure package feed in a performant way and to search for additional information on how to setup.

* The "official" setup (i.e. the one offered from the Azure DevOps "Connect to feed" link as [described here](https://docs.microsoft.com/en-us/azure/devops/artifacts/get-started-nuget)) to "Download N

[2019-01-24 18:04] #7607 closed, assigned to heng-liu

[2019-01-24 18:24] nkolev92 commented on #6431
@FullBoa
You shouldn't need to use the NuGetPkgID if that's your package. You can just use a relative path from the target you are writing. That target will get imported as illustrated here:
https://docs.microsoft.com/en-us/nuget/create-packages/native-packages

I am not sure what you mean by:

Perhaps there are another ways to do it but I don't know it.

Can you please clarify?

[2019-01-24 18:31] jainaashish commented on #7621
Keeping it open until there is a decision for 4.9.x but merged into dev for 5.0.0

[2019-01-24 18:38] ricmac1264 commented on #7644
We are seeing this issue as well.  Has anyone found a solution for the issue?

dotnet --info output:

.NET Core SDK (reflecting any global.json):
 Version:   2.1.302
 Commit:    9048955601

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.3.9600
 OS Platform: Windows
 RID:         win81-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.302\

Host (useful for support):
  Version: 2.1.2

[2019-01-24 19:20] nkolev92 commented on #6431
@gh-andre

It's a loaded response, so I'll do my best to address as much as I can :)

Build props/targets were added in 3.x, which came out in 2015, so they've been around for logner than this issue :) But that's not very important right now.

I don't have much context on vcxproj filters so I'd like to focus on how to address your issue with NuGet's capabilities of today.

`$(MSBuildThisFileDirect

[2019-01-24 19:55] JamesMBristow2 commented on #545
+1
Visual Studio's behavior for consuming packages/artifacts should be uniform across project types, or you are just increasing support costs. Targeting a subset of project types for nuget features and backlogging/refusing to support other project types (how many years later?) promotes developer confusion and means architects/managers/leaders have to develop more SOP/support documentation.

[2019-01-24 20:02] gh-andre commented on #6431
I'm just trying to be informative in case if others find it useful.

While I appreciate the investigative part of this comment, I just know that `.filters` didn't work as described then - every time I reopened the project, solution folders wouldn't contain libraries because `$(MSBuildThisFileDirectory)` would be relative to the filters file, just as the name implies. I cannot tell why it was behav

[2019-01-24 20:33] CoskunSunali commented on #4864
The issue appears when one uses `dotnet nuget push` too.

[2019-01-24 20:58] dominoFire commented on #7716
Confirmed. Those were correctly located in d15.0

[2019-01-24 21:03] jainaashish commented on #4948
closing it as dupe of https://github.com/NuGet/Home/issues/7005

we'll run with that issue to at least read package management format set in visual studio to install package with the same format

[2019-01-24 21:03] #4948 closed, assigned to nobody

[2019-01-24 21:03] jainaashish commented on #4948
closing it as dupe of https://github.com/NuGet/Home/issues/7005

we'll run with that issue to at least read package management format set in visual studio to install package with the same format

[2019-01-24 22:19] nkolev92 commented on #6431
That is msbuild. It's the targets/props file location. The context of NuGet is irrelevant.

Same as the above. That's an MSBuild guaranteed property, not NuGet.

[2019-01-24 22:29] mmisztal1980 commented on #7644
I've wiped the VM and recreated it, it started working again.

Since then I've replaced my single build agent with a pool of containerized
build agents, it's been working well so far.

On Thu, Jan 24, 2019 at 7:38 PM Richard McGinnis <notifications@github.com>
wrote:

[2019-01-24 22:45] gh-andre commented on #6431
That's the point. When `$(MSBuildThisFileFullPath)` appears outside of MSbuild context, such as the `.filters` file, its meaning is no longer well defined or even guaranteed and without such guarantee integrating Nuget packages into IDE in a usable way is a challenge.

Note that what most people are doing, like shoving it into the library list, is a hack. That field is for standard libraries and i

[2019-01-24 23:17] nkolev92 commented on #6431
When you say filters, do you mean the following https://docs.microsoft.com/en-us/cpp/build/build-system-changes?view=vs-2017#vcxprojfilters-file ?

If so, they are in an msbuild context, so it's perfectly reasonable that you can use that.

[2019-01-24 23:22] nkolev92 opened #7728 "Define a comparator for NugetVersionRange"
Related discussion https://github.com/NuGet/NuGet.Client/pull/2688#discussion_r250787018.

[2019-01-24 23:38] gh-andre commented on #6431
Yes, I mean those. I find it confusing that they are listed in the MSbuild section, I must say, because they make any sense and were created for the IDE, so solution folders are not present in the target files. I'm not quite sure the mere mention of `.vcxproj.filters` files in MSbuild docs quite guarantees how MSbuild macros are going to be processed. Are you saying this just from this docs page o

[2019-01-24 23:43] nkolev92 commented on #6431
It's a combination of a lot of things.

It's the docs that I have linked and some public research for me to familiarize myself with filters (nothing internal).

Going through the history, filters were part of the vcproj (which is msbuild), so that was another hint.

[2019-01-25 00:01] nkolev92 commented on #7352
Duplicate of https://github.com/NuGet/Home/issues/4491.

Please follow that issue for further updates.

[2019-01-25 00:01] #7352 closed, assigned to nobody

[2019-01-25 00:04] PatoBeltran commented on #7242
Will close this issue as we don't seem to have more information, and as @nkolev92 mentioned, there is not a lot we can do without more drastic changes since we don't control the build.

[2019-01-25 00:04] #7242 closed, assigned to nobody

[2019-01-25 00:05] nkolev92 commented on #7354
NuGet auth is working through a plugin mechanism (via MEF in Visual Studio).

What's the private feed in question here?
Is an Azure DevOps one? There were some related issues with caching the user information that they've fixed since 15.6 but I am not certain if it's the same.

Are you still able to reproduce this in 15.9.x of VS?

[2019-01-25 00:05] jainaashish commented on #7711
This seems like a bug not a DCR, unless a specific version mentioned, NuGet should always ignore `unlisted` versions.

[2019-01-25 00:10] gh-andre commented on #6431
"were" is the operative word here. It no longer is - hence my point.

That is what worries me. If this behavior was a well-understood behavior within Microsoft and there is ful intent to support it, that's one thing, but otherwise, if this behavior is just a lingering leftover from the times when it *was* a part of MSBuild, it's a different thing and it offers no guarantees of how it will behave e

[2019-01-25 00:12] nkolev92 commented on #7358
If you are using packages.config the retargeting story is not pretty.

You need to run `Update-Package -Reinstall` in PMC.

Note that the versions will stay the same, but the assets selected for them might.

[2019-01-25 00:12] jainaashish commented on #7706
@nkolev92 it's still reproing with your updated instructions, so can you look at it? We're running with the dev16 p3 insertion with these bits.

[2019-01-25 00:12] PatoBeltran commented on #7414
This issue was because the LZMA tool used by the dotnet sdk didn't reconstruct the packages correctly and made the scenarios where the sdk fallback folders are used as a source (any netcore 1.x) to fail signature validation. Note that this is not an issue in netcore 2.x since the fallback folder is actually used as a fallback folder.

Since dotnet is not officially supporting 1.x and also 3.x will

[2019-01-25 00:12] #7414 closed, assigned to nobody

[2019-01-25 00:14] nkolev92 commented on #7360
@skironDotNet Can you clarify which document you are referring to?

It seems up to date here: https://docs.microsoft.com/en-us/nuget/tools/cli-ref-sign#options.

[2019-01-25 00:16] jainaashish commented on #7694
You can fork this repro in your account, add a upstream, and push it. Then you can create a PR out of that

[2019-01-25 00:19] #7686 closed

[2019-01-25 00:19] PatoBeltran commented on #7241
Will close this issue since there's nothing the nuget team can do about it. This is an issue with VS asking to reload and making the PR not persist.

A good work around as @rido-min and @flcdrg mentioned is to ignore changes until everything is finished.

[2019-01-25 00:19] #7241 closed, assigned to nobody

[2019-01-25 00:21] zivkan commented on #7581
We should get the clear element configurable in the template. By default include it, so it's backwards compatible, but test automation can take advantage of removing it.

[2019-01-25 00:21] jainaashish commented on #7680
@sxmanton let us know if there is anything else we can help with.

[2019-01-25 00:21] #7680 closed, assigned to nobody

[2019-01-25 00:22] nkolev92 commented on #7362
@ezverev

NuGet relies on `MSBuildProjectExtensionsPath` to decide where to write the assets file.
That in turn defaults to BaseIntermediateOutputPath.

So it's useful that you overwrite both those properties otherwise you might have nuget assets in a different place from the rest of the build assets.

https://docs.microsoft.com/en-us/visualstudio/msbuild/common-msbuild-project-properties?view=vs-

[2019-01-25 00:25] PatoBeltran commented on #7228
Closing this as there is no more info from the customer. Feel free to reopen if the issue persists.

[2019-01-25 00:25] #7228 closed, assigned to nobody

[2019-01-25 00:29] nkolev92 commented on #7363
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2019-01-25 00:29] #7363 closed, assigned to nobody

[2019-01-25 00:30] jainaashish commented on #7672
@TrabacchinLuigi what you means content files are being ignored in net472 project? how are you validating it? Have you build your project and checked into `/bin` folder if those content files are present there or not?

These content files wont be visible in solution explorer or anything, but they should be available to be consumed by the project and when you build, they should be copied into outpu

[2019-01-25 00:32] nkolev92 commented on #7368
This is a duplicate of https://github.com/dotnet/project-system/issues/3164.

@vchekan

If the assets file was deleted during clean, it would kill intellisense and lead to an ugly experience.

[2019-01-25 00:32] #7368 closed, assigned to nobody

[2019-01-25 00:37] zivkan commented on #7582
Firstly, sorry about the late reply.

To answer your question, no, we don't support environment variable expansion in nuspec files. We need to update our docs, but generally we no longer recommend creating nuspec files. Instead, we recommend creating a MSBuild project file (typically a csproj, but since your case doesn't appear to be a .NET project, you could create a `something.proj` and import t

[2019-01-25 00:37] #7582 closed, assigned to nobody

[2019-01-25 00:40] nkolev92 commented on #7356
@jmusek

Was the project file modified manually by any case?

Is this reproducible with new projects?

Can you provide an example package for which you are seeing this behavior.

[2019-01-25 00:40] #7369 closed, assigned to nobody

[2019-01-25 00:41] jainaashish commented on #7669
By design, Installing/ Updating/ Uninstalling packages with PackageReference bases projects results into restoring the whole solution, which is why you're seeing significant performance regression compare to `packages.config` which was not transitive in nature.

Now the primary reason of restoring the whole solution is because in most cases, there are interdepedency among projects in single soluti

[2019-01-25 00:43] zivkan commented on #7583
Firstly, sorry for the late reply. Are you still having the problem?

If so, can you check what account your build agent is running as, and if that user account has permission to access your TFS NuGet feed? It looks like a permissions problem to me.

[2019-01-25 00:47] PatoBeltran commented on #7225
Closing this issue as no more information was provided.

[2019-01-25 00:47] #7225 closed, assigned to nobody

[2019-01-25 00:48] PatoBeltran commented on #7224
@mwpowellhtx can you be more specific about what commands and what are you expecting out of the exit codes?

Thanks!

[2019-01-25 00:49] zivkan commented on #7585
Sorry for the late reply. We're focusing on improving the pack experience with MSBuild projects (primarily .NET SDK projects, but also other projects that import NuGet.Build.Pack.targets), and need to update our docs accordingly. MSBuild already supports conditions, so can achieve what you're asking for.

We're unlikely to get to this any time soon, so I'm closing to avoid anyone waiting for this

[2019-01-25 00:49] #7585 closed, assigned to nobody

[2019-01-25 00:51] nkolev92 commented on #7371
As you've said yourself csproj pack, kind of does that out of the box.

Unfortunately there is no token support for the dependencies section.
I can consider this as the ask of this issue if you want me to.

Of the top of my head I'm not sure what you can do differently to make life easier.

Most scenarios that don't involve custom dependency additions should have a csproj equivalent.
I'd like to l

[2019-01-25 00:54] TrabacchinLuigi commented on #7672
As i said those are tools that make building possible, won't have much sense to have them available after building, but since this is not the only issue i'll provide some examples (not now, it's 2AM here).
Also i'd expect nuget to work the same in every scenario, if i add the package to a .net core project the files are visible from the solution explorer, they appear as linked files and folders.

[2019-01-25 00:54] mwpowellhtx commented on #7224
@PatoBeltran Sorry, no, I cannot. It's been a couple of weeks since I last looked at this; if memory serves, I am interfacing with the executable via a dotnet ``Process``, for instance, so when it exits, I want to verify the exit code is healthy, or at least not unexpected. I expect these would either be cross cutting for the family of commands, or possibly in some circumstances command specific.

[2019-01-25 00:55] PatoBeltran commented on #7201
Closing as there is no more information. Feel free to reopen if the issue persists.

[2019-01-25 00:55] #7201 closed, assigned to nobody

[2019-01-25 01:00] jainaashish commented on #7661
I wasn't able to fully follow what you're trying to do.. But some of the suggestions and guidance:

- if you only have a single compile time implementation for your assembly then you can just put it under `ref/any/Lib1.dll`. You don't need duplicate copies in different tfms if they are identitical. Also, `/ref` is only for compile time.
- `/runtimes` is to understand runtime assemblies which is wh

[2019-01-25 01:02] jainaashish commented on #7656
closing as by design. Let us know if there are any concerns

[2019-01-25 01:02] #7656 closed, assigned to nobody

[2019-01-25 01:03] PatoBeltran commented on #7204
Closing this issue as there is no more information to understand the issue. Feel free to reopen if the issue is persisted.

[2019-01-25 01:03] #7204 closed, assigned to nobody

[2019-01-25 01:05] PatoBeltran commented on #7206
Will close the issue since @chrishiestand mentioned the underlying mono bug has already a tracking issue.

[2019-01-25 01:05] #7206 closed, assigned to nobody

[2019-01-25 01:09] PatoBeltran commented on #7292
hey @pascalberger, any chance you've gotten the time to create a repo? If not, is this still an issue?

[2019-01-25 01:24] xen2 commented on #7661
What I am trying to do a proper package with several TFM and multiple runtime identifier on Windows.
Seems like I could manage to do that as mentioned in my previous message.
I will close this and report my last android issue to the proper Github (Mono.Android).

Thanks.

[2019-01-25 01:24] #7661 closed, assigned to nobody

[2019-01-25 01:28] dominoFire commented on #7497
Looks like a duplicated issue of #7607

[2019-01-25 01:30] zivkan commented on #7590
Closing as we can't repro this issue. Please add a comment if it's still an issue and if you can add more information or ideally a sample project that shows the error.

[2019-01-25 01:30] #7590 closed, assigned to nobody

[2019-01-25 01:30] #7497 closed, assigned to nobody

[2019-01-25 01:44] zivkan commented on #7589
Sorry for the late reply.

It's not obvious from a user's point of view, but downloading a SDK package happens on every MSBuild evaluation of the project, whether it's restore, build, pack or running an invalid/non-existant target. Since it happens so early in the process, it's before command line arguments are considered, and most commands don't allow for NuGet package source to be provided anywa

[2019-01-25 01:57] zivkan commented on #7618
If the old project used to be under `Solution Folder\Project\Project.csproj`, then the path to the packages folder is `..\packages`. However, if it was moved to something like `Solution Folder\src\Project\Project.csproj`, then the reference of `..\packages`  is no longer correct. This can be fixed by reinstalling the packages in the project. This issue is also one of the reasons that it's recommen

[2019-01-25 01:57] #7618 closed, assigned to nobody

[2019-01-25 01:59] #7619 closed, assigned to nobody

[2019-01-25 02:00] #7624 closed, assigned to nobody

[2019-01-25 02:00] dominoFire commented on #7498
Related to #7723

[2019-01-25 02:40] wimpleshapers opened #7729 "Can't use content subfolder named "Windows""
I'm trying to create a source only package, a la jquery, as described [here](https://stackoverflow.com/questions/54265124/nuget-install-within-visual-studio-2017-skips-content-folder-named-windows).  The problem I'm having is that I'm using a content subfolder named "Windows", which conflicts with a framework name.  How do I structure files within the Content subfolder so that I can use the folder

[2019-01-25 03:36] johnliu369 commented on #7716
Assume this bug will be gone once VS client translation recovered.

[2019-01-25 04:12] StingyJack commented on #7371
I could not get the csproj based pack to ever work locally and then on the build server (TFS 2015's nuget package task) in a consistent fashion. Sometimes `-IncludeReferencedProjects` it would get the files needed for a package, but sometimes it would omit one or two and sometimes it would include assemblies I didn't want it to. It would never pick up the install.ps1 or any of the config transform

[2019-01-25 04:35] ZenwalkerD commented on #7582
Thanks. The future where Nuget is taking as you have mentioned via csproj is for 2017 support onward. Atleast i do not see any documentation on that for 2013/2015 VS.

Hence, i sometimes had to do via manual nuspec creation or via Nugetpackage explorer tool. But the later had an issue in integrating with the build pipeline and generating it, hence manual way was chosen.

[2019-01-25 04:36] nkolev92 commented on #7373
This is more of a runtime conflict resolution problem.
You need the assembly names to be different for this to work.

[2019-01-25 04:52] nkolev92 commented on #7374
Try using runtimes/{rid}/native as the first link suggests.
Unfortunately our documentation is not great when it comes to architecture specific/native packages creation.

[2019-01-25 10:58] chilakamarthi opened #7730 "Nuget 4.9.2 fails with error The 'scr' attribute is not declared."
I was trying to create .snupkg with command

`nuget pack UWPClass.csproj -Symbols -SymbolPackageFormat snupkg`

and it fails with error:

MSBuild auto-detection: using msbuild version '15.9.21.664' from 'C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\bin'.
Packing files from 'C:\Users\<user>\source\repos\NugetPackage\UWPClass\bin\Debug'.
Using 'UWPClass.nuspec' for met

[2019-01-25 11:24] #7730 closed, assigned to nobody

[2019-01-25 11:25] chilakamarthi commented on #7730
I missed point, it should be src not scr. Its typo in nuspec file

[2019-01-25 11:29] PeterGillham opened #7731 "Connection issue when running TFS build on Build server"
[Build.log](https://github.com/NuGet/Home/files/2795844/Build.log)
NuGet product used (NuGet.exe):

NuGet version (4.9.2.5706):

dotnet.exe --version (N/A):

VS version (VS TFS Build 2017):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Check in project to TFS with "build on check in" enabled.