[2022-06-03 17:37] jeffkl commented on #11841
Please do the following to add an App.config to your package for a class library:
1. Add an `App.config` to your project by right clicking the project and selecting File -> Add -> New Item...
![image](https://user-images.githubusercontent.com/17556515/171916846-35602191-d8b5-4d2f-949b-db66f0b5a587.png)
1. Tell the .NET SDK that you want the `App.config` to be [included in the build output](https:/

[2022-06-03 17:37] #11841 closed, assigned to nobody

[2022-06-03 17:47] jeffkl commented on #11851
Thank you for filing this issue.  I can confirm that the restore fails and does not regenerate the lock file.  I've added this bug to our backlog to be investigated.

[2022-06-03 17:55] jeffkl commented on #11852
NuGet caches HTTP responses for 15 minutes which is probably why you aren't prompted every time you restore packages.

Authenticating with feeds uses three methods to get credentials:
1. Calls an [authentication provider](https://docs.microsoft.com/en-us/nuget/reference/extensibility/nuget-exe-credential-providers) plug-in if one exists
2. Uses credentials [stored in NuGet.Config](https://docs.mic

[2022-06-03 18:15] jeffkl commented on #11851
We've determined this is by design due to a bug fix https://github.com/NuGet/Home/issues/5957.  Multiple people have reported issues which we're tracking here: https://github.com/NuGet/Home/issues/11564

The problem is that your project targets `net6.0` while the package you're referencing only supports `net462`  When NuGet restores, it knows that `net462` is compatible with `net6.0` so it restore

[2022-06-03 22:33] dominoFire commented on #4490
Ideally, if you type `get-help find-package -online`, you should get pointed to command reference in docs https://docs.microsoft.com/en-us/nuget/reference/ps-reference/ps-ref-find-package

[2022-06-03 23:26] kartheekp-ms commented on #11846
AFAIK, NuGet checks if the third party package source supports publish symbols. If the third party package source can provide `SymbolPackagePublish` resource in the `ServiceIndex` then passing the symbol apikey via command line is not required.

https://github.com/NuGet/NuGet.Client/blob/d970aa3fd6d607642ceb0905498ec0d75a03562c/src/NuGet.Core/NuGet.Commands/CommandRunners/PushRunner.cs#L61-L67

Jm

[2022-06-03 23:32] kartheekp-ms commented on #11844
My understanding is that it is hard to distinguish if an apikey is invalid because of user error or if it has been generated on another machine.

[2022-06-04 00:56] fowl2 commented on #11851
It may be designed to encourage package authors to improve their packages, but in reality it's hurting the multitude higher number of package *consumers* that have no to limited influence.

Such a breaking change should have a lock file version bump/marker, at the very least.

Even if an author does fix their package, each consumer _still_ has a broken build untill they can upgrade. Every servicin

[2022-06-04 00:59] fowl2 commented on #11851
Note that I'm all for the problems being detected at build rather than runtime. Staticly analyse all the things! (but not crying wolf :)

[2022-06-05 16:45] vityafx commented on #8169
On Archlinux it was only solved for me when I symlinked `/etc/ssl` to `/usr/lib/ssl`.

[2022-06-05 23:50] reduckted commented on #11826
@jeffkl Does that mean we can't use Central Package Management _and_ install new packages in Visual Studio?

I've switched to CPM and Visual Studio can _restore_ the packages just fine, but when I try to install a package, I get the error mentioned in this issue _and_ the package installation is rolled back, so I can't install any packages at all.

[code]

That seems to go against what [the docume

[2022-06-06 17:17] jeffkl commented on #11826
@reduckted That's correct.  We are working on the tooling side of things like Visual Studio and `dotnet` so that they work with CPM.  Some of the work is already done and will be available in upcoming releases.  We're tracking the work here: https://github.com/NuGet/Home/issues/11752

Sorry that wasn't clear from the documentation.

[2022-06-06 18:34] dominoFire opened #11857 "[Bug]: Package source option "All" appears unsorted in the in the list when using VS in non-English languages"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

17.3

### Worked before?

17.0

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Example using VS in French:

Before:

"Tout" (meaning 'All' in French) appears at the top of the list

![image](https://user-images.githubusercontent.com/1192347/172220758-1b59e701-b44a-4841-9e80-864e3bb65220.pn

[2022-06-06 18:34] kartheekp-ms opened #11858 "Spec for dotnet.exe add package support for projects onboarded onto central package management"

[2022-06-06 18:37] #11805 closed, assigned to martinrrm

[2022-06-06 19:28] kartheekp-ms opened #11859 "Spec to provide context as part of the prompt that asks users to enter their credentials"

[2022-06-06 19:28] kartheekp-ms commented on #11581
- [ ] https://github.com/NuGet/Home/issues/11859

[2022-06-06 20:01] kartheekp-ms opened #11860 "[Feature]: Add a new interface to provide more context in the Visual Studio authentication prompt"
### NuGet Product(s) Involved

NuGet SDK

### The Elevator Pitch

[IVsCredentialProvider](https://docs.microsoft.com/en-us/nuget/visual-studio-extensibility/nuget-api-in-visual-studio#ivscredentialprovider-interface) doesn't pass any message that can be displayed to the user in the Visual Studio sign in window while authentication to private NuGet feeds. Partner team modified code in their repo to

[2022-06-06 20:37] sonnypdx commented on #1823
Please implement this, it is a big time sink to chase the release history.  +1 for bringing back the release notes.  I am in VS2019 and I do not see it whether I open the package manger for either at project level or solution level.

[2022-06-07 01:06] RLashofRegas commented on #2880
Would appreciate if anyone could help me: https://serverfault.com/q/1101866/563885 seems I have the same setup as @Lecarvalho (Ubuntu in Dev Container) but his fix appears to be "it magically started working again". I'm on a company laptop but not on a VPN. Possible my company has some sort of redirect that's messing up from within the container, but not sure how to figure that out.

[2022-06-07 06:59] wouterroos commented on #11710
@nkolev92 @dominoFire Any update on this? Is there some way we can test @nkolev92's suggestion? I tried adding the target to our Directory.Build.targets file but it gets overwritten with the one from the SDK.

[2022-06-07 07:44] v-luzh commented on #11805
It is fixed on Dev\6.3.0.77.

[2022-06-07 07:48] v-luzh commented on #11806
Close it as fixed on Main\32606.79. Thanks for fixing.

[2022-06-07 07:48] #11806 closed, assigned to martinrrm

[2022-06-07 15:15] Inok opened #11861 "[Bug]: nuget.exe doesn't support signatures compressed with deflate method"
### NuGet Product Used

NuGet.exe

### Product Version

6.2.0

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

We have a local NuGet feed (ProGet) to both store our private packages and move public libraries from nuget.org to our feed.

Somehow, we are getting packages in our internal feed with signature files compressed using the "deflate" method. When we

[2022-06-07 17:23] nkolev92 commented on #11710
@wouterroos

This issue is not high on our priority list right as indicated by the priority label, https://github.com/NuGet/Home/blob/dev/Issue-Triage-Policy.md.

That's interesting, not what I would've expected :(.
Consider deconstructing the SDK imports and adding the other version of the target in the project file itself then.

[2022-06-07 17:54] #11830 closed, assigned to zivkan

[2022-06-07 19:02] #11623 closed, assigned to jeffkl

[2022-06-07 19:35] Talhafayyaz11 commented on #10275
This happens to me as well. it sometimes works but fails the builds most of the time.

[2022-06-07 19:37] jeffkl commented on #10275
@Talhafayyaz11 I'm trying to repro the issue on Docker for Windows.  Can you provide the exact steps you're doing that experienced the problem?  Thanks in advance!

[2022-06-07 21:56] nkolev92 commented on #11851
Hey @fowl2,

In this case, the package is authored correctly, but a bug caused a bad resolution.

Please follow https://github.com/NuGet/Home/issues/11564, where we will consider adding a switch to revert to the old behavior.

Please note that the recommendation is that you migrate to the new tooling as the new behavior is the correct one.

[2022-06-07 21:56] #11851 closed, assigned to nobody

[2022-06-07 23:22] nkolev92 opened #11862 "When restore raises an NU1301, build might fail with a `project.assets.json doesn't have a target for 'net6.0-windows10.0.19041.0` like error that's a red herring"
The real problem is that restore failed.

[2022-06-07 23:24] nkolev92 commented on #11862
The improvement here is to create targets for the frameworks specified avoid this error.
What might happen in that case is you get *a lot* of errors about missing types, more than you get now, but maybe that's a trade off we're willing to make?

[2022-06-07 23:32] nkolev92 commented on #11862
If you build, then the restore error is gone and can't be brought back.

Unsure what's going on here, this could be a thing that Nuget could improve, but it could be a bug with the project-system or SDK.

[2022-06-08 00:13] #11764 closed, assigned to nobody

[2022-06-08 00:40] nkolev92 commented on #11858
@kartheekp-ms Just a reminder to label issues according to https://github.com/NuGet/Client.Engineering/blob/main/docs/creating-github-issues.md#minimum-requirements.

[2022-06-08 00:41] nkolev92 commented on #11859
Gentle reminder to label issues according to https://github.com/NuGet/Client.Engineering/blob/main/docs/creating-github-issues.md#minimum-requirements.

[2022-06-08 01:01] michael-hawker commented on #11862
@nkolev92 I hit this same cryptic message today as well.

For me, NuGet restore was failing as there was an invalid path/location/feed checked in my NuGet configuration options for Package Sources:

![image](https://user-images.githubusercontent.com/24302614/172508685-8fae1140-d957-46f1-b1bd-676ad5dc46f1.png)

With this checked, package restore was failing (as the directory didn't exist at the mom

[2022-06-08 09:32] CCnut opened #11863 "[Bug]: dotnet.exe errors when using any cache folder."
### NuGet Product Used

dotnet.exe

### Product Version

Version: 5.0.17   Commit:  6a98414363

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Build a windows app using the Drone CI.
I checked the environment. The pipeline does not have `LOCALAPPDATA`.

#### Reproduce step:
- Remove `LOCALAPPDATA` environment at powershell
- Run `dotne

[2022-06-08 12:10] obohaciak commented on #8958
Hit the same exact issue today running NuGet CLI v 6.2.0.146

[2022-06-08 12:13] obohaciak commented on #8958
@nkolev92 I understand it's not the most-urgent, but would be nice to get fixed. Right now this Github issue is among the top search results for this problem :) If you have already figured out the appropriate wording, can you please release the fix?

[2022-06-08 23:22] nkolev92 commented on #8958
Hey @obohaciak

We don't really have a proposal for the wording here.
The list of versions NuGet can use tends to be whatever is available on the machine, but your mileage may vary depending on the imports your project has and that's simply something that NuGet can't know.

Basically, thinking in terms of what version of NuGet supports which verison of MSBuild is probably not  the question, but ra

[2022-06-08 23:37] nkolev92 commented on #11862
That's what NU1301 does. The first restore puts the error in the error list, but for some reason the build is clearing these errors, unsure why that is as it's not NuGet that directly handles it, so I need to dig some more.

I think that tends to be a function of running a build on top of a restore. Project-system has a tracking issue: https://github.com/dotnet/project-system/issues/3778, I'd appr

[2022-06-08 23:52] nkolev92 commented on #11863
Hey @CCnut

As you probably have guessed, this isn't a super common occurence, NuGet relies on `Environment.SpecialFolder.LocalApplicationData` being a valid and writable path on the machine it's running on.

Are you able to set `LocalAppData` on that machine?

[2022-06-08 23:53] nkolev92 commented on #11863
Note that this is the behavior in all NuGet tooling, VS, dotnet.exe and nuget.exe

[2022-06-09 00:20] nkolev92 commented on #11861
Hey @Inok

According to the spec: https://github.com/NuGet/Home/wiki/Package-Signatures-Technical-Details#-the-package-signature-file, the signature file most not be compressed.

NuGet is asserting that the compression method needs to be 0, so the file is expected to not be compressed. Code reference: https://github.com/NuGet/NuGet.Client/blob/9c469e4dbfa8ba6085f0cd47d58207de90304a5a/src/NuGet.Cor

[2022-06-09 01:04] michael-hawker commented on #11862
Thanks, upvoted other issue. I think the main problem I've encountered is that it's very unclear when a source isn't available that _that_ is the underlying issue beyond the message being buried (I don't think I saw anything about the path/source in my build output).

That's good to know, and I understand that if I have a `nuget.config` dictating where the packages should be sourced from, then I w

[2022-06-09 01:07] zivkan commented on #8713
I was debugging this today.

When you pack a csproj (whether or not there is also a nuspec file in the directory), I discovered that it ignores any dependencies in the nuspec already, and auto-generates dependency group without a target framework, with the packages from the packages.config file. I created a PR to use the project's TFM in this scenario:
* https://github.com/NuGet/NuGet.Client/pull/

[2022-06-09 05:58] eriawan commented on #8958
@nkolev92

What about my previous wording proposal?

[code]

[2022-06-09 10:49] hiredgunhouse commented on #6060
Wow, in just over 4 months it will be 5 YEARS!!! since this issue has been created.
How long does it take Microsoft to implement such an obvious feature that should have been there from the start?
I am speechless :)
BTW. This death by 1000 cuts all over the place makes me seriously consider ditching .NET for Java or Node.js.
C# is pretty great language but the platform and developer experience is

[2022-06-09 11:31] Inok commented on #11861
So this is by design... Ok, got it!
Now I'm curious why the signature needs to be not compressed... May I ask what's the reason behind that?

Also, I've already reported the issue to ProGet, and it seems that it's also not the one to blame.

So now I'm closing the issue, and I will reopen it if it turns out that "NuGet" itself is somehow related to the issue.
Thank you!

[2022-06-09 11:31] #11861 closed, assigned to nobody

[2022-06-09 16:48] nkolev92 commented on #8958
@eriawan
That's a good idea and something that could be added to improve the failure message when people do run into issues.

The supported versions listed part is weirder, that I'd almost prefer if they weren't listed in an exhaustive fashion. I think that'd address all concerns brought up in this issue.

[2022-06-09 18:25] zivkan commented on #11863
team triage meeting: We expect common Windows environment variables, and APIs to return without throwing. We recently had another customer who experienced a similar issue when using NuGet.Protocol in an IIS app: https://github.com/NuGet/Home/issues/11762
In their case, IIS was not configured correctly. So, our suggestion is to ensure that the machine is configured according to best practises, but

[2022-06-09 18:25] #11863 closed, assigned to nobody

[2022-06-09 18:33] zivkan commented on #11850
@MsdnUsrSince1994 `nuget.exe install` just downloads and unzips the package, but it doesn't make any other modifications (for example, the `tools/install.ps1` is not run outside of VS). Therefore, "uninstall" is just deleting the package folder, which you can do with your shell.

[2022-06-09 18:33] #11850 closed, assigned to nobody

[2022-06-09 18:46] zivkan commented on #7180
Hi @StingyJack

Regarding the creation of app.config files for class libraries, feel free to create a new issue for that feature request so we can track it separately, as the majority of this issue is discussing whitespace changes.

[2022-06-09 18:54] zivkan commented on #7180
Team triage meeting: Regarding keeping whitespace in app.config and web.config files, after careful consideration, we have decided not to work on this issue due to high cost of implementation and the expectation that customers will continue to migrate to .NET (6+) and SDK style projects.

[2022-06-09 18:54] #7180 closed, assigned to zivkan

[2022-06-09 23:24] nkolev92 commented on #11862
Turns out setting the targets keeps this warning in the error list.

[2022-06-10 01:37] nkolev92 commented on #11842
Thanks for filling this @Steinblock

I agree with @jeffkl, I think this wouldn't be something we want to allow given that it can easily lead to runtime failures for customers.

If something is specified in a project file, even without an exact version, you'd still get that version resolved, so maybe for that scenarios folks are unblocked.

@Steinblock

What's the concern with the used version bein

[2022-06-10 05:00] diego98512 commented on #8169
On Manjaro KDE 21.2.6, what solved it for me was symlinking `/etc/ssl` to `/usr/lib64/ssl` as well as `/usr/lib/ssl`.

[2022-06-10 06:42] fad16papa commented on #6650
Hi Guys,

I'm getting this error, May I know what is the solution for this? Thank you

[2022-06-10 10:18] Steinblock commented on #11842
@nkolev92 Thanks for the reply

I ran into this problem while debugging a package project `MyPackageA` with a dependency on `MyPackageB`.

The project file contained the following entry because I want the resulting package to have exactly this version spec in my generated nuspec file / nuget package.

[code]

Now my project will resolve this to the lowest version `2.0.1` during build / debug which

[2022-06-10 12:02] zivkan commented on #10666
I wasn't at that meeting. I find the decision unusual. The `owners` field is the only way for nuget.org to communicate which nuget.org account is responsible who uploaded the package, and who can upload updates. It's not uncommon for customers to repackage Microsoft assemblies and list Microsoft in the `author` field. If we don't show `owner`, then customers using Visual Studio will have little wa

[2022-06-10 14:57] r0bfr commented on #9563
We have a related issue.  To ensure that all nuget packages get downloaded to the same cache for every project in our repository, we redirect downloads using our `nuget.config` file:

[code]

It seems to be the case that packages downloaded using the `repositoryPath` key (VCXPROJ files) get downloaded to folders that use the V2 layout:
`Output\Packages\<packageName>.<packageVersion>\`

While packa

[2022-06-10 15:47] raffaeler commented on #10666
@zikvan according to @loic-sharma :

My considerations:
* If that field is deprecated, anyone should assume to not use it at all. IMO a deprecated field is something that will be removed in the future and that I should not use anymore.
* In addition to be deprecated, it is also untrustable as susceptible to impersonation attacks. For sure, I don't want to see such information in any kind of UI (VS

[2022-06-10 17:02] #10882 closed, assigned to jeffkl

[2022-06-10 18:06] #11862 closed, assigned to nkolev92

[2022-06-10 19:31] donnie-msft opened #11864 "[Bug]: Double loading status indicators sometimes shown in PMUI"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

17.3.0 Preview 3.0 [32609.364.main]

### Worked before?

Yes, unknown

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Create a new C# Class Library project.
2. Open PMUI for Solution.
3. On the Installed tab (opened by default, which may be important to repro), there are 2 indicators fo

[2022-06-10 19:40] nkolev92 commented on #11864
Adding a regression during current release as it's almost certainly related to the changes for showing transitive dependency.

[2022-06-10 21:57] nkolev92 commented on #10783
Now that we are adding editing functionality in Visual Studio, we should consider validating.

[2022-06-10 22:29] zivkan commented on #10666
`owners` is deprecated in the nuspec (so, for package authors creating packages), but not the HTTP protocol that Nuget Client (VS, dotnet cli) talks to remote NuGet feeds over HTTP.

[2022-06-11 00:13] wrall opened #11866 "[Bug]: Boxing of structs to compute hashcode is causing excessive allocations"
### NuGet Product Used

Other/NA

### Product Version

All

### Worked before?

_No response_

### Impact

Other

### Repro Steps & Context

The HashCodeCombiner takes an object parameter in its AddObject method and when passed a value type such as a struct or enum value, it boxes it to do a null check and then compute the hashcode.  This allocates boxed objects that are short-lived and not necess

[2022-06-11 00:17] wrall commented on #11866
Note that a similar issue was handled in the past in https://github.com/NuGet/Home/issues/10917.

[2022-06-11 04:13] CCnut commented on #11863
I checked the diagnostic log. the MSBuild can read `LOCALAPPDATA` correct, but the NuGet can not.
Note: Drone CI will changed `USERPROFILE` path.

[logs_windows_app_37_1_3.log](https://github.com/NuGet/Home/files/8883197/logs_windows_app_37_1_3.log)

[2022-06-11 04:35] mjolka opened #11867 "Extra allocations in EqualityUtility"
The allocations performed by `EqualityUtility.OrderedEquals` and `EqualityUtility.SequenceEqualWithNullCheck` can be reduced by adding overloads that take lists and collections, potentially bypassing the calls to `OrderBy` and `SequenceEqual`.

In testing OrchardCore and [SanitisedNet471](https://github.com/NuGet/Home/issues/10030#issue-701185886), I saw a reduction of ~10% across both objects and

[2022-06-11 19:43] raffaeler commented on #10666
@zivkan what are the other ways to set the `owners` field out of the nuspec?
I don't get how can I "consume" that field if "publishing" it is deprecated.

[2022-06-11 21:45] StingyJack commented on #7180
@zivkan  - A customer reported a problem to you 4.5 years ago, you finally get around to triaging it, and your response is to tell the customer to open a new ticket?

And then leave an even [older report](https://github.com/NuGet/Home/issues/5385) open?

Wasnt [this](https://github.com/NuGet/Home/issues/7180#issuecomment-418951758) the hard part?

This specific issue burned at least 100 hours of m

[2022-06-12 01:29] davidhunter22 opened #11868 "[Feature]: Nuget.Config search path and indication of what nuget.config was used"
### NuGet Product(s) Involved

NuGet.exe

### The Elevator Pitch

Know what nuget.config files are found and which ones is updated/read bu a command.
 I ran a nuget command to add a source but it didn't seem to work. Later I discovered the machine I was on had Nuget.Config files littered all over the place and a different one had been changed. It would be nice to have
1) Commands tell you which nu

[2022-06-12 10:00] mjolka opened #11869 "Extra allocations due to TextWriter.NewLine and JsonTextWriter"
In .NET Framework, the getter for `TextWriter.NewLine` allocates a new string (see: https://referencesource.microsoft.com/#mscorlib/system/io/textwriter.cs,167). Newtonsoft.Json doesn't cache this value, so a new string is allocated for each line written by a `JsonTextWriter`.

A screenshot from dotMemory:

![image](https://user-images.githubusercontent.com/6613722/173227533-b950ffe6-c820-47fb-ae2

[2022-06-12 10:13] mjolka opened #11870 "Using JsonTextWriter manually in LockFileFormat"
The current implementation of `LockFileFormat.Write` creates a `JObject` that is then written to a `JsonTextWriter`.

Replacing this implementation with one that uses [`JsonTextWriter` manually](https://www.newtonsoft.com/json/help/html/Performance.htm#ManuallySerialize) shows a good improvement in object allocations.

### OrchardCore

  | Objects (M) | Total Size (GB) | Objects % | Total Size %
-

[2022-06-12 15:57] zivkan commented on #11870
@mjolka yes, that would be fantastic.  With so much work, doing this ourselves had just never been prioritized.

We eventually should get rid of all `JObject` thoughout our codebase, although I believe that will cause some public API breaking changes in NuGet.Protocol.  However, for the assets file and packages lock file, it should be fine, and will benefit scenarios where no network calls are mad

[2022-06-12 16:04] zivkan commented on #11869
@mjolka a perf win is a perf win, so yes, that sounds great. I'm honestly surprised that there's a ~5% reduction in allocations for an entire restore operation just from this. Assets files are long, yes, I assumed that with all the other work that a restore does, that this wouldn't be so big.

[2022-06-12 18:04] zivkan commented on #10666
Package authors are not supposed to set it. NuGet feeds (severs) are.

That is, people implementing [NuGet's HTTP API](https://docs.microsoft.com/nuget/api/overview). Specifically the [search resource](https://docs.microsoft.com/en-us/nuget/api/search-query-service-resource) has an `owners` field in the response, and maybe the [package metadata](https://docs.microsoft.com/en-us/nuget/api/registrat

[2022-06-13 02:29] zivkan commented on #11863
`SettingsUtility.GetHttpCacheFolder` calls `NuGetEnvironment.GetFolderPath(NuGetFolderPath.HttpCacheDirectory)`: https://github.com/NuGet/NuGet.Client/blob/cd24c74285728884cab24e6ba027d75d418c0479/src/NuGet.Core/NuGet.Configuration/Utility/SettingsUtility.cs#L349

`GetNuGetEnvironment.GetFolderPath(NuGetFolderPath.HttpCacheDirectory)` calls `GetFolderPath(SpecialFolder.LocalApplicationData)`: http

[2022-06-13 10:36] jmecosta opened #11871 "[Bug]: dotnet nuget push symbols not working as expected"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.300

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

Hi,

Ive raised a ticket on our nuget server provider (proget) and they said that "dotnet nuget push" is a "bit" buggy with when using "*" argument... Wanted to report this buggy behaviour here so can help them also clarify a bit the behaviour:

[2022-06-13 14:47] dagasparmsft opened #11872 "[Bug]: Sdk Nugets cannot use Path properties of referenced packages"
### NuGet Product Used

MSBuild.exe

### Product Version

msbuild 16.11.2.50704

### Worked before?

Never

### Impact

_No response_

### Repro Steps & Context

Hello,

I am attempting to create a new nuget SDK that takes dependencies on the content of other nugets. However, the path property for the package is never resolved even though I see that the project *.nuget.g.props is generated with th

[2022-06-13 16:21] dfederm commented on #11872
This is not a bug but a matter of ordering.

`AfterTargets="Restore"`, so this runs after the restore target, but still "part of the restore execution".

When restoring, at the very beginning the generated g.props files do not exist yet. The projects are evaluated and the Restore target runs, which generates the g.props files. Then your target hooks to the restore target and runs, but remember at

[2022-06-13 18:49] kartheekp-ms opened #11874 "spec for dotnet nuget why command"

[2022-06-13 19:28] dominoFire commented on #10862
Yes, created localization bug.

[2022-06-13 19:58] erdembayar opened #11876 "Make dotnet package verification env var value comparison case insensitive"
### NuGet Product Used

dotnet.exe

### Product Version

n/a

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

You are comparing the env var and bool true value, while only converting the latter to uppercase.

[code]

This would print:

[code]

which is incorrect and should be:

[code]

instead.

### Verbose Logs

_No response_

[2022-06-13 20:46] #6058 closed, assigned to nobody

[2022-06-13 22:02] nkolev92 opened #11877 "Nuget CPS references reader is forcing all vc projects to be fully loaded"
See more details: https://devdiv.visualstudio.com/DevDiv/_queries/edit/1521654/?triage=true.

The gist is that C++ implements CPS in an unconventional way, which forces a full load of a vc project.

[2022-06-13 22:03] #8713 closed, assigned to zivkan

[2022-06-14 00:03] wrall opened #11878 "[Bug]: Improve performance when warnings are suppressed across all projects"
### NuGet Product Used

dotnet.exe, MSBuild.exe, NuGet.exe

### Product Version

All

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

Perhaps we could cache more NodeWarningProperties objects.  For example, I've suppressed a warning or set of warnings in Directory.Build.props so every project has the exact same set.  Can we use the same object for each proj

[2022-06-14 01:56] AaronFriel opened #11879 "[Bug]: NuGet package parsing fails"
### NuGet Product Used

dotnet.exe

### Product Version

3.1.x

### Worked before?

3.1.x

### Impact

It's more difficult to complete my work

### Repro Steps & Context

`nuget restore` on a package using Pulumi, and voila:

* https://github.com/pulumi/pulumi/runs/6872537319?check_suite_focus=true#step:17:38
* https://github.com/pulumi/pulumi-yaml/runs/6869776968?check_suite_focus=true#step:13:13

[2022-06-14 09:25] viktorrealt commented on #11879
I have same problem, when try to restore project in Docker.
  An error occurred while sending the request.
    Unable to read data from the transport connection: Connection reset by peer.
    Connection reset by peer or random 503, 500 errors

[2022-06-14 10:02] v-crchang opened #11880 "[Bug]: The error “An error occurred while retrieving package metadata for ‘microsoft.entityframeworkcore.design’ from source ‘http://api.nuget.org/v3/registration5-gz-semver2/’” occurred when switching to “Browse” tab in PM UI"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.3.0.87

### Worked before?

Dev\6.3.0.81

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

## Steps to reproduce:
1. Create a C# Console App (.Net Core) project.
2. Right-click the project in Solution Explorer and select ‘Manage NuGet Packages…’ menu item to open PM UI.
3. Click “Brows

[2022-06-14 10:10] v-luzh opened #11881 "An error “unable to find package ‘Microsoft.Web.Infrastructure’” occurs when running command “update-package” in PMC"
### NuGet Product Used

Visual Studio Package Manager Console

### Product Version

Dev\6.3.0.87

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

### Details about Problem
VS Version: Main\32613.100
NuGet Version: Dev\6.3.0.87
OS Version: Windows-11-Enterprise-21H2

### Repro steps:
1.	Create a C# ASP.NET Web Application (.NET Fram

[2022-06-14 17:02] #11880 closed, assigned to nobody

[2022-06-14 17:28] JonDouglas opened #11883 "Microsoft Security Advisory CVE-2022-30184 | .NET Information Disclosure Vulnerability"
# Microsoft Security Advisory  CVE-2022-30184 | .NET Information Disclosure Vulnerability

## <a name="executive-summary"></a>Executive summary

Microsoft is releasing this security advisory to provide information about a vulnerability in .NET 6.0 and .NET Core 3.1, NuGet (NuGet.exe, NuGet.Commands, NuGet.CommandLine, NuGet.CommandLine.XPlat version range from 3.5.0 to 6.2.0). This advisory also p

[2022-06-14 17:29] mcraiha commented on #11879
I am also having issues when running in docker. No problems with host. I am getting following error with nslookup
[code]

[2022-06-14 18:05] mike-geiger commented on #11879
I'm getting this only while running from our build server, only for one package. All logged lines for the Hangfire.InMemory package copied below. I'm able to restore this package locally on windows, in a Ubuntu WSL2 after clean and clearing nuget caches. The URL opens just fine for me. We just started seeing this within the last day.
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2022-06-14 18:33] mkline1554 commented on #11879
Same here. Doesn't always fail but seems to most of the time

[2022-06-14 19:01] #11879 closed, assigned to nobody

[2022-06-14 19:53] AlFalahTaieb commented on #2880
@RLashofRegas  did you fixed it ?

[2022-06-14 19:55] RLashofRegas commented on #2880
@AlFalahTaieb no, I was not able to fix it. I have resorted to using a GitHub Codespace as it doesn't have the same problem.

[2022-06-14 20:43] mungojam commented on #11883
It seems really unclear on what the impact is here. 'if you have a nuget package...then you are affected'. If that were the case then do we need to republish all historical nuget packages that were created using the affected versions?

[2022-06-14 22:15] JonDouglas commented on #11883
@mungojam It should say "in the affected versions". Does that help bring clarity? The GitHub advisory will also help with version ranges.

[2022-06-14 22:35] donnie-msft opened #11885 "Add Solution Filter for working with the PM UI"
Since we don't need all the NuGet projects to build PM UI, let's create a solution filter to narrow this down.

[2022-06-15 03:13] komdil opened #11886 "[Feature]: dotnet list package should skip shared projects in solution"
### NuGet Product Used

dotnet.exe

### Product Version

dotnet list package --vulnerable

### Worked before?

_No response_

### Impact

Other

### Repro Steps & Context

1. Clone this repository: https://github.com/komdil/VulnerableNugetTest
OR
Create solution VulnerableNugetTest with VulnerableNugetTest console project in .NET6
Add shared project with MySharedProject name and add it to dependen

[2022-06-15 03:55] bgever commented on #11883
Does this also affect NuGet bundled with Mono? (dependency of Visual Studio for Mac and VSCode OmniSharp)

[2022-06-15 06:36] mungojam commented on #11883
I had assumed that. My query is more about the resolution. If we have built many nuget packages and packages versions with the affected versions, should we need to republish all of those nuget packages? The implication is yes but it only says to update your version of nuget/.net SDK, not about republishing.

[2022-06-15 06:51] mungojam commented on #11883
Sorry I'm struggling to articulate my questions. Here are a few more related ones:

1. Is it that we will have leaked credentials within the nupkg files that we have historically created? (Hence we need to republish)
2. Does it only affect nuget.org credentials or would GitHub packages credentials also be affected? We have never published to nuget.org, only GitHub packages, so would we be impacted

[2022-06-15 08:59] KalleOlaviNiemitalo commented on #11883
The most important part of the fix for NuGet 6.2.0 seems to be <https://github.com/NuGet/NuGet.Client/commit/ec6e62a645ec6b53a8784bf4571cac7786fd700b#diff-9e678e6dcc29381eb7c564f0e75ffc3ffc35458eca412c35b6404340b698d074R58-R65>. If you used NuGet (e.g. `nuget push`) to access a server but had not configured an API key for it, then NuGet might have chosen your nuget.org API key instead and disclose

[2022-06-15 09:18] mungojam commented on #11883
@KalleOlaviNiemitalo that's helpful to know if it is 'nuget push' that is affected, not 'nuget pack'. We don't have nuget.org credentials so those won't be leaked, however it's not clear if GitHub packages credentials could also have been leaked (the advisory only mentions nuget.org credentials but it seems logical that any nuget server credentials might be leaked)

[2022-06-15 10:55] CCnut commented on #11863
In the `ReactOS` source code, [`SHGetFolderPathW`](https://doxygen.reactos.org/dd/d0b/dll_2win32_2shell32_2wine_2shellpath_8c.html#a406eb6357c1c0dc39af3b4862f0c138b) for the current user is read from
`HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders`.
All paths are based on `USERPROFILE`.

That is why MSBuild can read, when `LOCALAPPDATA` is null.
![regedit.e

[2022-06-15 10:57] bouchraRekhadda commented on #11669
We seem to have the same issue when using MSBuild **17.2.1** (17.2.1+52cd2da31 for .NET Framework, 32bit) with .NET Core 3.1 projects restore

   at System.Collections.Generic.Queue`1.SetCapacity(Int32 capacity)
   at System.Collections.Generic.Queue`1.Enqueue(T item)
   at NuGet.Commands.TransitiveNoWarnUtils.AddDependenciesToQueue(IEnumerable`1 dependencies, Queue`1 queue, HashSet`1 projectWideN

[2022-06-15 15:09] dtivel opened #11888 "Update TFM's from .NET 5 to .NET 6"
.NET 5 went out of support on May 10, 2022.  We should update the NuGet.Client repo to target .NET 6 (LTS) instead of .NET 5.

[2022-06-15 16:59] nkolev92 commented on #11564
https://docs.microsoft.com/en-us/nuget/release-notes/nuget-6.2#summary-whats-new-in-62

Project A referencing package B via AssetTargetFallback, doesn't use that same AssetTargetFallback to pull B's dependency package C - [#5957](https://github.com/NuGet/Home/issues/5957) - [More information](https://github.com/NuGet/Samples/tree/main/AssetTargetFallbackTransitiveDependencies)

[2022-06-15 17:22] #11866 closed, assigned to nobody

[2022-06-15 17:38] blowdart commented on #11883
To expand on the vulnerability (we don't go into details on CVEs, hence the confusion here, and everyone defers to me on whether details need to be shared, hence the delay in a response.)

_The problem would have occured when you publish a package to nuget.org using any of the affected nuget clients._

It is limited to nuget.org api credentials and doesn't affect github or azdo credentials. It is

[2022-06-15 19:12] menees commented on #11724
Unfortunately, it seems that CPM is _still in preview_ as far as the NuGet team is concerned even though [the blog article announcing CPM](https://devblogs.microsoft.com/nuget/introducing-central-package-management/) didn't indicate that. [The MSDN docs](https://docs.microsoft.com/en-us/nuget/consume-packages/Central-Package-Management) don't say "still in preview" either although there is a tiny

[2022-06-15 19:24] zivkan commented on #11886
@komdil The .NET SDK (`dotnet` cli) does not support shared projects (shproj). You could try following/upvoting this issue: https://github.com/dotnet/sdk/issues/22921

Since `dotnet list package` is part of the .NET SDK (dotnet cli), this scenario is unfortunately not supported.

[2022-06-15 19:30] zivkan commented on #11881
@v-luzh are you still having the problem?

It appears to be a network issue, so could be related to this: https://github.com/NuGet/NuGetGallery/issues/9140

If it's still happening, please add the `-verbose` argument, and copy/paste the output. The top of the output should have lines starting with two spaces then `GET`, `OK`, `NOTFOUND`, and URLs (`https://`). Those are the most important lines.

[2022-06-15 20:39] dominoFire commented on #3722
It seems culture runner is now available.

[2022-06-15 20:47] blowdart commented on #11883
As part of a variant analysis

[2022-06-15 21:24] kartheekp-ms opened #11890 "[Feature]: add or update package versions in the Directory.Packages.props file for CPM projects"
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

Scenarios 1-4 are tracked in this request. For full list of scenarios please refer to https://github.com/NuGet/Home/pull/11915

| Scenario # | PackageReference exists? | Directory.Packages.Props file exists? | Is ManagePackageVersionsCentrally property set to true? | Is VersionOverride? | Current behavior | New behavior in dotnet C

[2022-06-15 21:39] pragnya17 opened #13480 "Document dotnet add package support for CPM projects"
Issue: https://github.com/NuGet/Home/issues/11890
Pull request: https://github.com/NuGet/Home/pull/11873

The goal was to allow the `dotnet add package` command to be executed for projects that were onboarded to CPM. Previously, the command threw a NU1008 error whenever packages were attempted to be added to projects onboarded to CPM. However, with this change users will now be able to add or upda

[2022-06-15 22:18] erdembayar commented on #11878
We already have similar idea for string caching: https://github.com/NuGet/NuGet.Client/blob/6f99a10b228b521bb5d2c7412bb2e3c43e6e7b3f/src/NuGet.Core/NuGet.Protocol/Utility/MetadataReferenceCache.cs#L27-L49

Also, there is even cache reflection results too: https://github.com/NuGet/NuGet.Client/blob/6f99a10b228b521bb5d2c7412bb2e3c43e6e7b3f/src/NuGet.Core/NuGet.Protocol/Utility/MetadataReferenceCache

[2022-06-15 23:44] menees commented on #11724
FWIW, I just published [Menees VS Tools](https://github.com/menees/VsTools) release 2022.0.4 with a default gray highlight rule for the "CPM preview" message. This way the annoying preview message is rendered as gray text rather than normal text in the VS Build Output window if you're using my free extension with its default settings. It's not as nice as getting rid of the message altogether, but

[2022-06-16 07:50] v-luzh commented on #11881
@zivkan Yes, it still repro on Main\32605.161+NuGet Client Dev\6.3.0.90. The output is like below.
PM> update-package -verbose

Attempting to gather dependency information for multiple packages with respect to project 'SinglePage', targeting '.NETFramework,Version=v4.8.1'
  GET https://apiint.nugettest.org/v3/registration5-gz-semver2/antlr/index.json
  GET https://api.nuget.org/v3/registration5-gz

[2022-06-16 09:58] v-crchang opened #11891 "[Bug]: [Client policy]There is an error NU3034 “Package 'Microsoft.AspNet.Razor 3.2.9' from source 'https://api.nuget.org/v3/index.json': This package is signed but not by a trusted signer.” occurs when installing “Microsoft.AspNet.Mvc” package in PM UI"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.3.0.90

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

## Repro steps:
1. Create a Console App (.Net Framework) project and close VS.
2. Add required mode in nuget.config file with trusted signers list and repository:
[code]

3. Reload the solution,

[2022-06-16 16:59] zivkan opened #11892 "Test Dotnet.Integration.Test.DotnetVerifyTests.Verify_SignedPackageWithAllowedCertificate_Succeeds is flaky"
Failing on Linux:

[code]

[2022-06-16 17:13] #11885 closed, assigned to donnie-msft

[2022-06-16 23:06] amaltinsky commented on #7855
I just wasted several hours tracking down this issue in a CI pipeline. I'd go one step further than the documentation and suggest changing the error message shown by NuGet in this case from "error MSB4236: The SDK .. specified could not be found" to something more explicit about NuGet not being able to restore SDKs when `--config-file` option is provided.

[2022-06-17 02:55] donnie-msft commented on #11364
Note: There's a long discussion about why we shouldn't implement the topic of this issue.
See: https://github.com/NuGet/Home/pull/11865#discussion_r899650092

[2022-06-17 10:01] deryaza opened #11893 "GlobalJsonReader breaking change"
Now it looks from solutionpath property, which is breaking. Before it would look down from project dir.

https://github.com/NuGet/NuGet.Client/blob/e9637ed865687c2153da78c6c6385f010277329c/src/NuGet.Core/Microsoft.Build.NuGetSdkResolver/GlobalJsonReader.cs#L44

[2022-06-17 19:38] zivkan commented on #11868
@davidhunter22 I like the idea.

In case you're not aware, restore at normal verbosity (`nuget.exe restore`, or `dotnet restore -v n`) will list all the nuget.config files used in the restore. Unfortunately at this time I don't believe any other commands will.

[2022-06-17 19:41] thatnerdyguy opened #11894 "[Bug]: dotnet pack on a net6.0-windows (or net6.0-windows7.0) TargetFramework generates a package targetting net6.0"
### NuGet Product Used

dotnet.exe

### Product Version

.NET SDK 6.0.203

### Worked before?

Unsure

### Impact

It's more difficult to complete my work

### Repro Steps & Context

(I could just be fundamentally misunderstanding something about nuget packaging here, but...)

Example csproj: [WinFormsControlLibrary1.zip](https://github.com/NuGet/Home/files/8930962/WinFormsControlLibrary1.zip)

1.

[2022-06-17 19:59] zivkan commented on #11872
As the above comment says, on a clean machine, when restore starts, your package is not on disk, so your package's targets can't be included. [MSBuild's docs on How MSBuild builds projects](https://docs.microsoft.com/visualstudio/msbuild/build-process-overview?view=vs-2022) explains that imports are evaluated before targets are executed. Therefore, after NuGet's restore task finishes, the package'

[2022-06-17 20:08] zivkan commented on #11894
Thank you for providing the sample. I see it's using [NuGetizer](https://www.nuget.org/packages/NuGetizer), which as you can see on nuget.org, is not owned by Microsoft or the NuGet team. The NuGetizer package metadata says that the project website is https://github.com/devlooped/nugetizer.

If I comment out the `PackageReference` to NuGetizer and try pack again, I see then that the package now co

[2022-06-17 20:08] #11894 closed, assigned to nobody

[2022-06-17 20:27] zivkan commented on #11871
@jmecosta I was able to reproduce the issue using the same command line you used (changing the URLs to the localhost server I was testing with).

I found that by not specifying the `--symbol-source <url>` parameter, it actually worked. The server I was using, like nuget.org, includes a `SymbolPackagePublish` resource.  If Proget's service index (index.json) includes this resource, [just like nuget

[2022-06-17 20:47] zivkan commented on #11881
I confirm I can repro it as well. The log clearly shows

And the project restores and build successfully before trying to update packages, so whatever error is really happening, the error message seems misleading. 😕

[2022-06-17 21:26] jeffkl commented on #11893
Duplicate of https://github.com/NuGet/Home/issues/11747

The change was made intentionally to make the NuGet-based MSBuild project SDK resolver have the same behavior as the .NET SDK resolver.  More details here: https://github.com/NuGet/Home/issues/11747#issuecomment-1099315888

[2022-06-17 21:26] #11893 closed, assigned to nobody

[2022-06-18 03:00] #11669 closed, assigned to nobody

[2022-06-19 10:23] 7enderhead opened #11896 "[Bug]: NuGet.Client Repo Build: Test Case Runs Fail During Build Because of Missing Microsoft.NETCore.App Version 3.1.0"
### NuGet Product Used

Other/NA

### Product Version

source branches "dev" and "release-6.2.x"

### Worked before?

don't know

### Impact

It's more difficult to complete my work

### Repro Steps & Context

- clone the NuGet.Client repository (tested with branches dev (495a88382f5b357e62e83667a5f05192ee33e226) and release-6.2.x (f1c5b47018d84ff0bff7aa0fc5fedc7c3db95f34))
- run `build.sh`
- test

[2022-06-19 21:55] bouchraRekhadda commented on #11669
Hello @erdembayar,
When will the fix be released please ?

[2022-06-20 01:34] erdembayar commented on #11669
It's bit too early to say when it would be released. Most likely it would be released with nuget 6.3.

[2022-06-20 06:52] RussKie opened #11905 "Provide solution for NuGet Error NU1012 - the pack error does not call out the problem files"
![image](https://user-images.githubusercontent.com/4403806/174542009-4b643688-0a31-4642-92b2-1ff04d8c8e0c.png)

How do you specify the platform?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a877e2f5-e92f-3db9-77de-ae6c958b3736
* Version Independent ID: a877e2f5-e92f-3db9-77de-ae6c958b3736
* Content: [NuGet Error NU10

[2022-06-20 13:59] Nataliia5722 opened #11897 "[Bug]: NuGet Server API reterns right link only for lowercase packages"
### NuGet Product Used

Other/NA

### Product Version

NuGet V3 API

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

If the package name is **18.3.4-f-DTE-23727-0002** then the link will be formed like https://artifactory.***.***.com/artifactory/api/nuget/v3/***/registration/***/page/18.3.4-f-dte-23727-0002/18.3.4-f-dte-24705-in-0001.json
And as result, the

[2022-06-20 14:42] rainersigwald opened #11898 "dotnet build does not find the latest package according to a matching pattern"
---
**Issue moved from dotnet/msbuild#7718**
- Please respond to @MikeSchulze.

---

_From @MikeSchulze on Sunday, June 19, 2022 5:20:40 PM_

### Issue Description
At first mybe i'm wrong but from official documentation it looks like a bug and is not working as described.
https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files

I want to use beta packages in my

[2022-06-20 14:42] rainersigwald commented on #11898
---
**Issue moved from dotnet/msbuild#7718**
- Please respond to @rainersigwald.

---

_From @rainersigwald on Monday, June 20, 2022 2:42:06 PM_

I'm going to move this to NuGet for the final word, but I think this is intentional behavior. By the `semver` spec, `2.3.0` is a higher compatible version of `2.3.0-beta`, so it might be considered a better match. The `2.3.0` version is available on NuGe

[2022-06-20 18:59] zivkan opened #11899 "[Bug]: props/targets files in packages can modify VS restore but not CLI restore"
### NuGet Product Used

Other/NA

### Product Version

all

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

Packages can ship MSBuild props and targets files, and if it meets NuGet's naming convention, NuGet will import these files in the `obj/project.nuget.g.props` and `obj/project.nuget.g.targets` files that the .NET SDK itself imports as part of project

[2022-06-20 19:03] zivkan commented on #11899
After an internal discussion, the decision not to fix this was made.

Project system gets NuGet's restore inputs though a process called [design time build (DBT)](https://github.com/dotnet/project-system/blob/main/docs/design-time-builds.md), but design time build is used for more than just NuGet. DBT batches all the targets together into a single MSBuild execution, which improves performance. Try

[2022-06-20 19:03] #11899 closed, assigned to nobody

[2022-06-20 19:57] zivkan opened #11900 "[Feature]: Pack warning when package props/targets modifys NuGet restore inputs"
### NuGet Product(s) Involved

NuGet.exe, dotnet.exe

### The Elevator Pitch

In CLI restore, NuGet excludes props and targets files from packages, but [in VS, this doesn't happen](https://github.com/NuGet/Home/issues/11899).

There should be a pack validation that looks at all the props/targets files, and if it detects any of the property/item names, raise a warning asking the package author not

[2022-06-20 20:07] zivkan opened #11901 "[Feature]: Show warning in VS when a package modifies the restore inputs"
### NuGet Product(s) Involved

Other/NA

### The Elevator Pitch

In CLI restore, NuGet excludes props and targets files from packages, but [in VS, this doesn't happen](https://github.com/NuGet/Home/issues/11899).

VS has the ability to add background tasks at different priorities, the lowest being "idle". This will allow us to run the scan when there isn't other important work happening.

There's

[2022-06-20 21:19] #11870 closed, assigned to nobody

[2022-06-20 21:51] nkolev92 commented on #8902
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1556209 related.

[2022-06-20 23:08] dominoFire commented on #10862
Fixed in this PR https://github.com/NuGet/NuGet.Build.Localization/pull/953

[2022-06-20 23:08] #10862 closed, assigned to dominoFire

[2022-06-20 23:11] #11857 closed, assigned to dominoFire

[2022-06-20 23:14] #11877 closed, assigned to nkolev92

[2022-06-21 01:09] nkolev92 opened #11902 "Cache DTE service in VS Solution Manager"
The DTE service is used quite frequently during the solution initialization (about once per project usually).
This service doesn't change and as such it can be cached.

This is another part of https://github.com/NuGet/Client.Engineering/issues/1374

[2022-06-21 04:15] Nirmal4G commented on #10850
You could give the user either the choice of updating the file in which the `PackageReference`/`PackageVersion`/`GlobalPackageReference`/`CentralPackageReference` and `PackageDownload` were declared or add the update to the projects not just the version but any metadata that can be changed via UI in VS IDE!

[2022-06-21 04:43] Nirmal4G commented on #11752
@jeffkl I also propose the central package management be activated when the `Directory.Packages.props` or `_DirectoryPackagesPropsFile` is found and can be imported. Enabling via property manually is just another redundant churn. We can op-out by setting the property but opt-in should be default by the recognition of the presence of packages file.

[2022-06-21 06:53] esbenbach opened #11903 "[Bug]: CPM cli tooling required Directory.Packages.props visual studio does not"
### NuGet Product Used

dotnet.exe, MSBuild.exe, NuGet.exe

### Product Version

dotnet 6.0.6 SDK 6.0.301

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Given a .csproj file where central package management is enabled by importing some msbuild file (props, targets or whatever). Visual Studio (and i am guessing msbuild) determines that

[2022-06-21 06:57] esbenbach commented on #11903
Minimal repro (rename Directory.Packages.props before restoring to see the difference)
[CPMRepro.zip](https://github.com/NuGet/Home/files/8946524/CPMRepro.zip)

[2022-06-21 11:05] valentinmarkus opened #11904 "[Bug]: Timestamps of files of unpacked package are shifted by the timezone (reopen/related issue 7395?)"
### NuGet Product Used

NuGet.exe

### Product Version

Nuget 6.2

### Worked before?

5.10 (fixed in 5.10, but again existing in 6.2)

### Impact

It's more difficult to complete my work

### Repro Steps & Context

This bug was already fixed in [Nuget 5.10](https://docs.microsoft.com/en-us/nuget/release-notes/nuget-5.10) [(Bug 7395)](https://github.com/NuGet/Home/issues/7395), but is still/again

[2022-06-21 15:47] richlander commented on #11094
Ping ... Can we take another run at this for .NET 7? The goal is to have a way to validate NuGet client w/only OSS assets.

[2022-06-21 15:56] #11876 closed, assigned to erdembayar

[2022-06-21 16:33] jeffkl commented on #11752
@Nirmal4G I agree, that's something I'm planning on doing for the next release (Visual Studio 2022 17.4)

[2022-06-21 16:38] jeffkl commented on #11903
At this time, you must use a file named `Directory.Packages.props` or you must set an MSBuild property to indicate what file you want to use.  Using your own file and importing it manually is not a supported scenario.

https://docs.microsoft.com/en-us/nuget/consume-packages/central-package-management#enabling-central-package-management

[2022-06-21 17:01] martinrrm commented on #9828
Closing: This was a task from my internship, the feature it has been merged

[2022-06-21 17:01] #9828 closed, assigned to nobody

[2022-06-21 17:03] #11096 closed, assigned to martinrrm

[2022-06-21 17:06] #11199 closed, assigned to nobody

[2022-06-21 17:06] #11902 closed, assigned to nkolev92

[2022-06-21 20:09] themattman18 commented on #11881
I am getting a similar issue but I'm not sure if it's related. I have an internal-to-my-company nuget that has a dependency on [Azure.Monitor.OpenTelemetry.Exporter.](https://www.nuget.org/packages/Azure.Monitor.OpenTelemetry.Exporter/) When I try to update the nuget I made, I get an error.

You can see in the PMC output that it does seem to find Azure.Monitor.OpenTelemetry.Exporter

I am able to

[2022-06-21 20:10] themattman18 commented on #11881
[pmc_output.txt](https://github.com/NuGet/Home/files/8952480/pmc_output.txt)

[2022-06-21 22:40] #11897 closed, assigned to nobody

[2022-06-22 00:32] zivkan commented on #11876
@erdembayar the title of this issue does not match the implementation of the PR that closed it.

[2022-06-22 00:34] zivkan commented on #11881
@themattman18 please upvote (👍 ) the first comment in this issue, as we use this (along with other signals) when prioritizing work: https://github.com/NuGet/Home/blob/dev/Issue-Triage-Policy.md#up-voting-a-feature-requestbug

[2022-06-22 06:07] jmecosta commented on #11871
@zivkan thanks for confirming the problem

[2022-06-22 06:22] jmecosta commented on #11871
@zivkan maybe related but:
https://docs.microsoft.com/en-us/nuget/create-packages/symbol-packages-snupkg

dotnet nuget push TeklaFusion.4.0.4.snupkg --source http://ts-nuget.teklaad.tekla.com/nuget/ts-nuget/v3/index.json

also doest do anything. i supose the SymbolPackagePublish is also missing from that source

[2022-06-22 08:19] v-longmin opened #11907 "[Bug]: The “Update” button is still clickable after installing a package-the latest version with “Packages.config” format in PM UI"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

NuGet Client Dev\6.3.0.104

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

Repro steps:
1. Create a new Console App (.Net Framework) project.
2. Right-click the project and open Manage NuGet Packages in Solution Explorer.
3. Install a package-the latest version (e.g. Newtonso

[2022-06-22 13:16] zivkan commented on #11871
@jmecosta I just remembered that there have been some changes to push over the last 2 years:

* https://github.com/NuGet/NuGet.Client/commit/fa9fbcb87b8ce717d7f78d494cd16cf174be48e9 Added in NuGet 5.9
* https://github.com/NuGet/NuGet.Client/commit/775ebbcff4d585cb9e75608d41d711bb306e0e24 Added in NuGet 6.2

If you're on Windows, it would be great if you could try downloading NuGet.exe versions 5.8

[2022-06-22 17:20] egraff commented on #11710
This has been a recurring issue in my company's CI, causing a significant number builds to fail intermittently. So I'm really hoping it will get fixed 🙂

I've spent a bit of time looking into this issue. This happens because `Directory.Build.targets` files are imported by `Microsoft.Common.targets`, and `$(MSBuildSdksPath)\Microsoft.NET.Sdk\Sdk\Sdk.targets` imports `Microsoft.Common.targets` (eith

[2022-06-22 17:41] KirillOsenkov opened #11908 "packages.lock.json conflict for two .csproj in same folder"
If I have two .csproj files in the same directory, that include different subsets of *.cs files, and I enable `RestorePackagesWithLockFile`, the resulting packages.lock.json files will conflict, overwriting each other.

There needs to be an easy way to rename one of the conflicting packages.lock.json files by setting an MSBuild property.

[2022-06-22 18:33] zivkan commented on #11908
Hi @KirillOsenkov

firstly, in the future, please use our issue templates. Since you believe this isn't a capability NuGet already has, I think the feature request template would be appropriate.

Secondly, our [lock file extensibility docs](https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#lock-file-extensibility) list `NuGetLockFilePath` as an MSBuild pro

[2022-06-22 18:33] #11908 closed, assigned to nobody

[2022-06-22 18:44] nkolev92 commented on #11710
hey all,

At this point, this isn't high on our priority list (Priority:3 label) due to the lack of repros and low upvote count.

If someone wants to investigate and submit a fix, we'd be happy to consider it.

[2022-06-23 01:01] v-longmin commented on #11907
OK, got it, thanks.

[2022-06-23 02:32] Rabadash8820 opened #11909 "[Feature]: optional local package sources"
### NuGet Product(s) Involved

Other/NA

### The Elevator Pitch

Allow optional package sources, i.e., sources that don't cause restore errors when missing. This would greatly improve local library development.

### Additional Context and Details

I regularly find myself working with multiple .NET libraries that reference each other as NuGet packages. When one of those libraries is in development,

[2022-06-23 12:49] TomW-Skyline opened #11910 "[Bug]: InvalidOperationException in NuGet.VisualStudio.VsPackageInstaller.InstallPackage method before building the solution"
### NuGet Product Used

NuGet SDK

### Product Version

Visual Studio 17.1.2

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

When adding a reference using the Nuget API (NuGet.VisualStudio.VsPackageInstaller.InstallPackage method) from within a Visual Studio extension the exception below occurs.
This only happens when we haven't built the

[2022-06-23 13:34] #11907 closed, assigned to martinrrm

[2022-06-23 14:29] IanKemp opened #11911 "[DCR]: Make error NU5104 more informative"
### NuGet Product(s) Affected

NuGet.exe, MSBuild.exe, dotnet.exe

### Current Behavior

When attempting to create a package from a project that depends on a prerelease version of another package, error NU5104 is thrown with the following message:

### Desired Behavior

The error message should be updated to explain how to override it:

### Additional Context

_No response_

[2022-06-23 14:30] IanKemp commented on #1365
For anyone still stumbling across this in 2022, the magic flag is `-AllowPreReleaseDependencies`.

[2022-06-23 16:15] jeffkl opened #11912 "[DCR]: When installing a package in VS with central package management, update all projects in the solution"
### NuGet Product(s) Affected

Visual Studio Package Management UI, Visual Studio Package Manager Console

### Current Behavior

Currently when install a package to a project in Visual Studio, NuGet updates the in-memory representation of the project spec and executes a preview restore to ensure the package is compatible with the project.  If this succeeds, the project changes are committed and Vi

[2022-06-23 16:19] jeffkl opened #11913 "Add end-to-end tests for central package management"
There are currently no end-to-end tests for central package management scenarios like:

1. Install package
2. Update package
3. Remove package

All of the existing end-to-end don't currently use CPM.

[2022-06-23 16:50] dominoFire opened #11914 "[Bug]: PM UI cannot uninstall packages in multitargeting projects"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

VS 2022 Enterprise, Version 17.2.5

### Worked before?

No, this does not work in VS2019

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Create a new console project.

Edit the project file to look like the following:

[code]

Right click on the project in Solution Explorer and select

[2022-06-23 18:31] nkolev92 commented on #11903
Team Triage: Closing per @jeffkl's comment.

[2022-06-23 18:31] #11903 closed, assigned to nobody

[2022-06-23 18:34] nkolev92 commented on #11912
Some more clarifications.

When installing a package in non-CPM project, that project and all its parents are restored in the preview, hence how we get to a no-op after the package has completed installing.

[2022-06-23 21:25] dotMorten commented on #8583
Packages that just deploy native runtime files. Combo of `/runtimes/win-x86/native/` folders and `/build/` targets files to help get them deployed for the target frameworks that doesn't automatically pick up stuff from the `/runtimes/` folder

[2022-06-23 21:56] #11867 closed, assigned to nobody

[2022-06-23 22:10] renetitulaer commented on #8167
If you don't pass an output path it works. So I removed that outputpath parameter and then copied the files to the artifactsfolder in the next task.

[2022-06-23 23:06] grothag commented on #11292
This is not fixed.

[2022-06-23 23:47] kartheekp-ms commented on #11891
@v-crchang - I am able to reproduce this issue. However, the SHA256 hashes that are mentioned in the issue description are incorrect.

I downloaded the package and executed `dotnet nuget verify` from a different folder
[code]
Executing `dotnet nuget verify` command from another folder that has the `nuget.config` mentioned in the issue description failed with `NU3034` error.

[code]
After fixing th

[2022-06-23 23:47] #11891 closed, assigned to nobody

[2022-06-24 00:21] nkolev92 commented on #9813
This is done. https://github.com/NuGet/Home/issues/9782

https://docs.microsoft.com/en-us/nuget/visual-studio-extensibility/nuget-api-in-visual-studio#ivsnugetprojectupdateevents-interface

[2022-06-24 00:21] #9813 closed, assigned to nobody

[2022-06-24 00:47] zivkan commented on #11891
For more background information: https://devblogs.microsoft.com/nuget/the-nuget-org-repository-signing-certificate-will-be-updated-as-soon-as-march-15th-2021/

Certificates have a limited lifetime, and the one nuget.org uses will change every time it expires. Old packages won't be re-signed, so the list of certificates that need to be trusted, to trust all versions of packages, will keep growing f

[2022-06-24 03:17] v-crchang commented on #11891
@kartheekp-ms Got it, thanks.

[2022-06-24 06:39] cdrfun commented on #11398
Thanks a lot for documenting this [crusader-mike](https://github.com/crusader-mike). It's a shame we are not even getting an explanation for not fixing the issue.

[2022-06-24 06:56] bouchraRekhadda commented on #11669
Alright, thank you @nkolev92 and @erdembayar

[2022-06-24 08:07] bvamos commented on #11844
How to resolve this issue if we are running `nuget push` in Docker containers?

[2022-06-24 16:26] martinrrm opened #11917 "[Bug]: `NuGet.PackageManagement.VisualStudio.Utility.GetPackageReferenceUtility.UpdateResolvedVersion` fault"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

VS 2022 Enterprise, Version 17.3 Preview 3

### Worked before?

Introduced in 2020 when support Floating Versions in PM UI was introduced

### Impact

_No response_

### Repro Steps & Context

Package Reference style project but not following the style in the .csproj

### Verbose Logs

_No response_

[2022-06-24 16:57] martinrrm opened #11918 "[Bug]: NuGet.VisualStudio.Implementation.Extensibility.VsPathContextProvider.TryCreateContext fault"
### NuGet Product Used

Other/NA

### Product Version

VS 2022 Enterprise, Version 17.3 Preview 3

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Disable the option to download missing packages

1. Create a new WPF solution
2. Open the Toolbox while in the .xaml file

### Verbose Logs

_No response_

[2022-06-24 17:01] erdembayar commented on #11844
Please create a separate issue with more details. Where are you pushing from docker container and dotnet sdk version etc?

[2022-06-24 17:30] emilio-moxion opened #11919 "[Bug]: Package Manager uses and invalid url to restore packages"
### NuGet Product Used

Visual Studio Package Manager Console

### Product Version

6.0.0.262

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

Hello team, I need your help... I have a problem with nuget when I create a Xamarin project Nuget always tries to restore packages from a URL that I never set, and it's from a private repository from

[2022-06-24 19:33] dtivel opened #11920 "Test: enable .NET SDK tests to provide a custom trust mechanism (without using `X509Store`)"
While updating https://github.com/NuGet/NuGet.Client/pull/4585 to target .NET SDK 6.0.4xx after [the test .NET SDK was updated from 6.0.3xx to 6.0.4xx](https://github.com/NuGet/Client.Engineering/issues/1693), it became apparent that [`TrustedTestCert<T>`](https://github.com/NuGet/NuGet.Client/blob/0600f5ab10e1634604117fb31d04485a917bcf3c/test/TestUtilities/Test.Utility/Signing/TrustedTestCert.cs#

[2022-06-24 19:44] kartheekp-ms commented on #11919
The better place for reporting VS Mac issues is documented here https://docs.microsoft.com/en-us/visualstudio/mac/report-a-problem?view=vsmac-2022.

We maintain the following tooling in this repo.
- [NuGet CLI](https://docs.microsoft.com/nuget/tools/nuget-exe-cli-reference)
- [NuGet Package Manager for Visual Studio Windows](https://docs.microsoft.com/nuget/tools/package-manager-ui)
- [PowerShell

[2022-06-24 20:06] kartheekp-ms commented on #11911
@IanKemp - https://docs.microsoft.com/nuget/create-packages/prerelease-packages doc has more information about building pre-release packages. https://docs.microsoft.com/nuget/create-packages/package-authoring-best-practices has more information about Package authoring best practices.

I don't see `AllowPrereleaseDependencies` as an option for [NuGet.exe pack](https://docs.microsoft.com/nuget/refer

[2022-06-24 22:43] #11920 closed, assigned to dtivel

[2022-06-25 01:41] kartheekp-ms commented on #11898
As per [doc](https://docs.microsoft.com/en-us/nuget/create-packages/prerelease-packages#semantic-versioning), `the version without any suffix will always take precedence over pre-release versions`.

For example, consider following version for a package. The version 1.0.1 takes precedence over pre-release versions. I think that explains why you are experiencing this issue and it appears to be by de

[2022-06-25 01:51] kartheekp-ms commented on #11909
How about using [`dotnet restore --ignore-failed-sources`](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-restore#options)?

[2022-06-25 01:58] kartheekp-ms commented on #11904
I guess you are experiencing this issue because the package was already published before the issue was fixed in 5.10.
https://github.com/NuGet/Home/issues/7395#issuecomment-770073687

The package version linked in the issue description https://www.nuget.org/packages/Microsoft.SqlServer.Compact/4.0.8876.1 was published in 2012.

[2022-06-25 02:28] kartheekp-ms commented on #11910
Can you please provide us the steps to reproduce this issue? I guess https://docs.microsoft.com/nuget/visual-studio-extensibility/nuget-api-in-visual-studio#nugetvisualstudio

https://docs.microsoft.com/nuget/visual-studio-extensibility/nuget-api-in-visual-studio#using-nuget-services doc has some help on how to use NuGet services in Visual Studio. Please take a look and let us know your feedback.

[2022-06-25 08:28] MikeSchulze commented on #11898
Hi @kartheekp-ms thanks for the anwser, i now the version sorting.
But i used a pattern to macht only the beta versions
`<PackageReference Include="gdUnit3CSharpModule" Version="2.3.0-beta.*"/>`
but still got the `2.3.0` version instead

[2022-06-25 19:14] kartheekp-ms commented on #11898
This appears to be by design for me. As per https://github.com/NuGet/Home/wiki/Support-pre-release-packages-with-floating-versions#how-do-floating-versions-work,

- Floating versions are not regex, despite the usage of * in the floating version grammar. Likewise, calling them wild card versions can be misleading as well. Floating version ranges have a semantic meaning that's applied when determini

[2022-06-26 04:32] Rabadash8820 commented on #11909
Wow, yep, definitely was not aware of that option. Setting it [as an MSBuild property](https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#restore-properties) is even better. Thanks for the suggestion!

[2022-06-26 04:32] #11909 closed, assigned to nobody

[2022-06-26 09:49] MikeSchulze commented on #11898
First of all thank you for your detailed answer, this is very confusing.
I see here that many developers can't cope with this kind of resolution, and the logic behind it is a mystery to me.
Why you strictly forbid deleting packages, I also find very restrictive. Especially if you just want to test something and the packages are not yet in use, I would like to have the possibility to delete them pe

[2022-06-26 12:54] aelij opened #11921 "[DCR]: Allow disabling preview feature log"
### NuGet Product(s) Affected

dotnet.exe

### Current Behavior

The log `The project {0} is using CentralPackageVersionManagement, a NuGet preview feature.` always appears and it's written for every restored project, creating a lot of noise in large solutions.

### Desired Behavior

Either:
- Allow disabling this log, e.g. by adding a flag to disable preview notices
- Set the log level to `Normal

[2022-06-26 13:13] aelij commented on #11921
Incidentally the [documentation](https://docs.microsoft.com/en-us/nuget/consume-packages/central-package-management) doesn't mention anything about this being a preview, probably should fix that too.

[2022-06-27 06:10] valentinmarkus commented on #11904
Hi,

no, this issue is not only present for packages published before the issue was fixed in 5.10 (below is another example, with a newer package). As I wrote in my initial post, this problem also exists with newly (self-)created packages. Actually, this bug is mainly a problem with recently (self-)created packages because (as stated in my initial post):

Here is another example with a fairly new

[2022-06-27 12:42] sdcb commented on #11706
Really need this one, I have a 1.5GB dll here, normally it will packed as a 400MB+ nupkg package, however if I using lzma compression algorithm, I can make it ~100MB, please do something!!!
![image](https://user-images.githubusercontent.com/1317141/175944225-3f06e8da-1962-4655-bdce-19dc3f59bc35.png)

[2022-06-27 14:49] zivkan commented on #11904
@valentinmarkus In [a comment in issue 7395](https://github.com/NuGet/Home/issues/7395#issuecomment-763852659), that you linked to, I explained that the zip file format doesn't provide room for timezone. Hence both the app creating zip files and extraction zip files need to make decisions about which timezone to use. The intention is that NuGet converts the local file timestamp to UTC when creatin

[2022-06-27 16:59] #11828 closed, assigned to jeffkl

[2022-06-28 01:42] kartheekp-ms commented on #11912
In CPM's case, my understanding is that other unrelated projects within the same solution may be impacted because of the updates to the package version centrally.

[2022-06-28 12:17] egraff commented on #11710
@nkolev92 FYI, I'm currently trying out a modification equivalent to [your suggested fix](https://github.com/NuGet/Home/issues/11710#issuecomment-1098519667) on our CI 🙂 I'll come back with an update once we've collected more data, but so far it looks promising. IMHO, your reasoning around that fix sounds sane, and the fix seems correct.

[2022-06-28 14:29] mjolka opened #11923 "[Bug]: Visual Studio Installed Packages page is slow to load"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Visual Studio 2022

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

The Installed packages page in the Visual Studio Package Management UI can be slow to load.

Part of the reason for this slowness is `HttpClientHandler`'s `MaxConnectionsPerServer` setting

[2022-06-28 16:34] astrohart opened #11924 "[Feature]: Make migrating from `packages.config` to `PackageReference` scriptable"
### NuGet Product(s) Involved

NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console

### The Elevator Pitch

Make the process of migrating projects from `packages.config` to `PackageReference` easily scriptable.   Perhaps, add a `nuget CLI`, `dotnet CLI`, and/or **Package Manager Console** cmdlet (or perhaps all three) in order to enable this.

### Additional Conte

[2022-06-28 18:11] jeffkl commented on #11921
Duplicate of https://github.com/NuGet/Home/issues/11724.  We will be removing this message.

[2022-06-28 18:11] #11921 closed, assigned to jeffkl

[2022-06-28 21:22] #11352 closed, assigned to heng-liu

[2022-06-28 21:35] jeffkl commented on #10275
@cli00004 are you able to repro the problem consistently?  I am still unable to reproduce it in order to try and narrow down a cause

[2022-06-28 21:37] cli00004 commented on #10275
hi @jeffkl  i'm able to reproduce it consistently on every try, haven't got a successful build yet

[2022-06-28 21:47] jeffkl commented on #10275
@cli00004 can you please provide exact steps I can follow and I can see if I can get it to happen?  Thanks in advance!

[2022-06-28 22:10] cli00004 commented on #10275
Sure @jeffkl

- I have a feed in ADO and have a PAT token that has access to read and write to that feed
- We run a build pipeline in AWS code pipeline using a dockerised build environment: amazonlinux2-x86_64-standard:3.0 image
- We then setup the login to the ADO artifacts using the artifacts credential provider (following instruction here)
- And we run dotnet restore after that

This is a simpl

[2022-06-28 22:34] #11564 closed, assigned to nkolev92

[2022-06-28 22:36] nkolev92 commented on #11564
Hey all,

In 6.0.400/17.3/6.3 (SDK, VS, NuGet.exe) we'll temporarily add an env var that you can use to go back to the legacy behavior: NUGET_USE_LEGACY_ASSET_TARGET_FALLBACK_DEPENDENCY_RESOLUTION.

In 7.0.100, 17.4, 6.4 (SDK, VS, NuGet.exe), we'll remove this option and make only the fixed behavior available.

The default behavior in 6.3 will match 6.2

[2022-06-28 22:55] nkolev92 commented on #8195
Hey all,
This is scheduled to release in 17.3.

I'll update this issue with the announcements when they're ready .

[2022-06-28 22:55] #8195 closed, assigned to nkolev92

[2022-06-29 00:23] ben-at-sparq commented on #11883
OK so turns out it's not finding the 6.0.6 runtime. If I clear the package sources the error message is pretty clear.

If I change the runtime to 6.0.5 and check in those runtime binaries it works - but I don't want to specify a version of the runtime to use.

Was this runtime package mistakenly left out of SDK 6.0.301?

[2022-06-29 03:46] kalirajanganeshan commented on #11542
Hi Team,

Can you please update on this?

Thanks,
Kalirajan Ganesan

[2022-06-29 04:13] joelverhagen commented on #11542
Hey @kalirajanganeshan and @AbishakeD, I think there's a mismatch in expectations on closed GitHub issues. On issues in NuGet repositories, and in my experience on GitHub in general, closed issues are a difficult place to conduct a conversation because the state of the issue suggests the problem is no longer being actively attended to by the maintainers. Oftentimes management bots, notification se

[2022-06-29 08:48] valentinmarkus commented on #11904
Thank you very much for your comment, it makes me understand the overall context much better than before.

The fact, or rather my realization, that Nuget.exe converts the timestamps from local-time to UTC when packing and from UTC back to local-time when unpacking was extremely helpful in further analyzing the problem.

And the result of further analysis is the following:
For unpacking/installing

[2022-06-29 11:35] TomW-Skyline commented on #11910
Sorry my mistake, I had copy pasted that method name from the stacktrace.
We are using the interfaces as described in the links that you've mentioned above.
A collegue will try to create a solution that reproduces the problem.

[2022-06-29 11:56] emz00 opened #11926 "[Feature]: Allow excluding vulnerabilities from output of `dotnet list package --vulnerable`"
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

Allow excluding vulnerabilities from the output of `dotnet list package --vulnerable [--include-transitive]` using another command line flag or config file.

### Additional Context and Details

We scan for NuGet packages with vulnerabilities regularly on our build server by running `dotnet list package --vulnerable --include-transi

[2022-06-29 13:36] PedroDebevere commented on #11910
Hi, I created a basic VS extension to reproduce it. The extension can be found on [https://github.com/PedroDebevere/ExampleExtension](https://github.com/PedroDebevere/ExampleExtension). The extension provides an additional menu item under the Tools menu named "Test Install NuGet". Clicking this item will try to install the FluentAssersion NuGet package (version 5.10.3) to all projects in the solut

[2022-06-29 15:58] Webreaper commented on #11753
If anyone's interested, I knocked up a quick tool which converts a solution (or project) to use centralised package management, here: https://github.com/Webreaper/CentralisedPackageConverter

Might be useful to add it as a dotnet global tool....

[2022-06-29 17:53] heng-liu commented on #5926
Closed as fixed.

[2022-06-29 17:53] #5926 closed, assigned to heng-liu

[2022-06-29 20:49] nkolev92 opened #11928 "Make VS adapter ProjectDirectory sync, use IVsHierarchy only to generate the guids, avoid double casting VSProject4"
Another sub issue of https://github.com/NuGet/Client.Engineering/issues/1374

In some test traces, the ProjectDirectory retrieval takes 2-3% of the total init time.

[2022-06-29 22:36] GMZwinge commented on #9170
Should also support protocolVersion when updating a source, as well as when doing those using dotnet, eg: `dotnet nuget add/update source ...`.

[2022-06-29 22:46] heng-liu commented on #5926
Hi @michael-hawker , thanks for asking!
Just want to clarify that, in order to consume related files(.pdb, .xml etc.) in package reference, we need changes from both NuGet and SDK. So the PR https://github.com/NuGet/NuGet.Client/pull/4654 finished the work from NuGet side recently. But it still needs SDK's change to make the feature work.
I guess the SDK tracking issue is https://github.com/dotnet

[2022-06-30 00:22] cli00004 commented on #10275
@jeffkl I think this might be an issue with ADO Artifacts, i tried pushing the package to Github package, it works fine there

[2022-06-30 00:26] dtivel opened #11929 "Update documentation for signed package verification in .NET 6 SDK"

[2022-06-30 00:45] levicki commented on #8195
@nkolev92, @AugP

From the feature name it does not seem .Net Framework will be supported?

Can we get any official response on whether you would consider supporting it?

[2022-06-30 08:45] Willy-Kimura opened #11930 "[Nuget.exe Bug]: Package signing using USB eToken Certificate not supported"
### Impact

I'm unable to use NuGet.org

### Describe the bug

NuGet package signing using `nuegt.exe` does not support or recognize cryptographic USB eTokens, only file-based key signing using p12/pfx files. Currently due to this it's literally impossible to upload any of my NuGet packages. The error raised is `Key does not exist.`

### Repro Steps

Simply try using the `nuget sign` command to si

[2022-06-30 14:46] mrpubnight commented on #7035
Not trying to reopen this but wondering why NuGet appears to be looking at other sources if/when it is available in cache?  See  output logs below.

![image](https://user-images.githubusercontent.com/50109328/176707281-ce270bdb-49d1-4b6f-b955-71cef40ad898.png)

[2022-06-30 15:03] dominoFire opened #11931 "Test VSRestoreSettingsUtilityTests.VSRestoreSettingsUtilities_PackagePath is unstable"
If you set `NUGET_PACKAGES` env var to a different default value, the test fails. In the output below, `NUGET_PACKAGES` is set to `c:\_nugetpackages\`

[code]

[2022-06-30 16:23] nkolev92 commented on #8195
@levicki

I'd refer to https://developercommunity.visualstudio.com/t/use-packagereference-in-vcxproj/351636 for any updates on the scope of the work.

[2022-06-30 18:39] zivkan opened #11932 "[Bug]: Visual Studio Package Manager Console EFCore Tools not working"
### NuGet Product Used

Visual Studio Package Manager Console

### Product Version

17.2.5

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

https://developercommunity.visualstudio.com/t/Visual-Studio-Package-Manager-Console-EF/10079780

### Verbose Logs

_No response_

[2022-06-30 18:54] erdembayar commented on #10286
@nkolev92
Do you know why this issue is in `Review` stage?

[2022-06-30 18:57] #11904 closed, assigned to nobody

[2022-06-30 18:59] #11898 closed, assigned to nobody

[2022-06-30 19:02] nkolev92 commented on #10286
It had a PR that got closed, and never got moved back cause it wasn't assigned ot anyone.

[2022-06-30 21:54] erdembayar commented on #7792
Related Azure documentations are updated:
[Azure PAT](https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/nuget?toc=%2Fazure%2Fdevops%2Fartifacts%2Ftoc.json&bc=%2Fazure%2Fdevops%2Fartifacts%2Fbreadcrumb%2Ftoc.json&view=azure-devops&tabs=yaml) see details [here](https://github.com/NuGet/docs.microsoft.com-nuget/issues/2796).
[Push NuGet Packages(NuGet.exe)](https://docs.microsoft.com/

[2022-06-30 22:04] #11264 closed, assigned to dtivel

[2022-06-30 22:11] #11263 closed, assigned to dtivel

[2022-07-01 01:36] levicki commented on #8195
@nkolev92

Thank you, but honestly it would have been better if you didn't -- to see that people have been asking for this for 4 years already without any progress is disturbing.

@AugP
I understand Microsoft's focus on .Net Core, but it still seems somewhat less stable compared to .Net Framework, and there are many large hardware and software companies having huge codebases consisting of both C++

[2022-07-01 02:45] erdembayar commented on #7792
@aortiz-msft
I updated related docs, so I'm closing this issue.

[2022-07-01 02:45] #7792 closed, assigned to erdembayar

[2022-07-01 03:02] SimonCropp commented on #11618
same thing occurs for the `list` command

[2022-07-01 11:27] Willy-Kimura commented on #11930
Sure @joelverhagen

[2022-07-01 19:01] mcnallyella opened #11935 "Package Source Mapping API does not support saving"
### NuGet Product(s) Affected

Visual Studio Package Management UI

### Current Behavior

The package source mapping provider only has add/update and remove for changing the config.

### Desired Behavior

Package source mapping provider needs a method for saving changes for package source mappings in UI to config.

### Additional Context

_No response_

[2022-07-01 19:14] nkolev92 opened #11936 "Reduce redundant SolutionDirectory calculation, special-case template wizard solution directory retrieval"

[2022-07-01 20:06] kartheekp-ms commented on #11135
@zivkan - I think we can remove this work around because the tests now use .NET SDK 6.

[2022-07-03 07:52] Smartisa opened #11939 "How can I programmatically obtain the NU errors"
### Discussed in https://github.com/NuGet/Home/discussions/11938

<div type='discussions-op-text'>

<sup>Originally posted by **Smartisa** July  3, 2022</sup>
I can check the "project assets. json" file to get the log, but how can I  programmatically obtain the NU errors?
![image](https://user-images.githubusercontent.com/47079990/177030593-99a9fde4-ff16-49ca-a80a-0a988613df04.png)
</div>

[2022-07-05 10:23] v-longmin opened #11940 "[Cross-platform sign Verify] The expected error/warning disappeared after restoring the project on Mac"
### NuGet Product Used

NuGet.exe

### Product Version

NuGet Client Dev\6.3.0.102

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

## Repro steps
1. Git clone [https://github.com/NuGet/Entropy.git](https://github.com/NuGet/Entropy.git)
2. Set the following parameters in “pathOnUnix.ps1” file:
    a. The SDK channel must be: 6.0.4xx

[2022-07-05 10:51] v-crchang opened #11941 "[Bug]: [Cross-platform Sign Verify] The expected error “NU3018: The author primary signature found a chain building issue: UntrustedRoot” disappeared after restoring the project with untrusted signing certificate on Linux"
### NuGet Product Used

NuGet.exe

### Product Version

Dev\6.3.0.120

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

## Repro steps:
1. Git clone https://github.com/NuGet/Entropy.git
2. Set the following parameters in “pathOnUnix.ps1” file:
a. The SDK channel must be: 6.0.4xx
b. The SDK version should be: latest
c. Add a -Quality/--qu

[2022-07-05 18:42] kartheekp-ms opened #11943 "[Feature]: add dotnet nuget why to dotnet CLI"
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

This is a tracking issue for feature request https://github.com/NuGet/Home/issues/11782

Design spec - [dotnet nuget why command](https://github.com/NuGet/Home/blob/dev/accepted/2022/dotnet-nuget-why-proposal.md) ([Spec PR](https://github.com/NuGet/Home/pull/11875))

Proof of concept: https://github.com/NuGet/NuGet.Client/tree/prag

[2022-07-05 18:51] dtivel commented on #11940
This bug is confusing for a couple reasons:
* In step 4 you create a certificate and in step 5 you sign a package with that certificate.  However, in step 7a you create a _new_ certificate and trust that certificate in steps 7f-h.  I think you meant to trust on macOS the certificate you created in step 4, which means you don't need to create a new certificate in step 7.
* The expected error/warnin

[2022-07-05 19:24] dtivel commented on #11941
This bug is confusing because in step 4 you create a certificate and in step 5 you sign a package with that certificate.  However, in step 17a you create a _new_ certificate and trust that certificate in steps 17f-h.  If I understand the test correctly --- wanting to verify a package signed with an untrusted certificate --- then you should skip step 17 in its entirety.  Step 17 trusts the certific

[2022-07-05 20:31] donnie-msft commented on #11483
Prototyping using static JSON had impact on benchmarks, so we consider the Prototype to be complete.

[2022-07-05 20:31] #11483 closed, assigned to donnie-msft

[2022-07-05 23:17] #11936 closed, assigned to nkolev92

[2022-07-05 23:34] erdembayar commented on #11930
It sounds feature request to me, but it's dependent on hardware/driver of usb device.
Probably best way of solving this is talk to vendor created the hardware/driver for usb device. Did you check their forum/website?

[2022-07-05 23:43] erdembayar commented on #11924
Fyi: I have seen community created tool, but I didn't test it, we're not affiliated with it. https://github.com/MarkKharitonov/NuGetPCToPRMigrator

[2022-07-06 00:40] erdembayar commented on #11923
Thank you for raising this issue.
Actually, I played on same perf improvements before and know where the bottlenecks. For 1st one improvement was noticeable on beefy machines but makes experience slow for non-beefy machines. Also, there's concerns about how it affects other VS connections. Also 2nd one had has correctness and race condition issue. I'll work on this after https://github.com/NuGet/H

[2022-07-06 03:01] mjolka commented on #11923
Hi @erdembayar,

Thanks for the response.

My solution at work has 83 packages. It takes 3 minutes for all 906 NuGet API requests to complete. Just increasing `MaxConnectionsPerServer` from 2 to 64 ([which is what NuGet.exe uses](https://github.com/NuGet/NuGet.Client/blob/e10c8f3d11a4aca0f08692737952db1c33c64fee/src/NuGet.Clients/NuGet.CommandLine/Program.cs#L94)) reduces that time to 15-20 second

[2022-07-06 03:59] erdembayar commented on #11923
Changing value here might affect another VS components because we share same resource (but mono or nuget.exe is not inside VS so they can go for 64 connections without issue), that is why didn't propose to change it last time during perf investigation. I'll ask again then let you know.

This is [normal list](https://github.com/NuGet/NuGet.Client/blob/91e0c4007f6dc13b432dea6b85fa2732f03b861f/src/Nu

[2022-07-06 04:33] mjolka commented on #11923
@erdembayar Thanks for the explanation. In the diff, `results` isn't updated from multiple threads, it's updated in a loop after all the tasks have completed:

https://github.com/mjolka/NuGet.Client/blob/6da131780ccf74c1d4de9306804c295f5462e57b/src/NuGet.Core/NuGet.Protocol/Resources/PackageMetadataResourceV3.cs#L133-L141

`Task.WhenAll` guarantees that the results are in the same order as the sup

[2022-07-06 09:51] v-crchang commented on #11941
@dtivel Sorry for the confusing about the test steps. Yes, you are correct, the expected result NU3018 shows after skipping trusting the certificate. I updated the steps and closed this bug as "Not Repro".

[2022-07-06 09:52] #11941 closed, assigned to nobody

[2022-07-06 15:34] erdembayar commented on #11923
Problem is here. https://github.com/mjolka/NuGet.Client/blob/6da131780ccf74c1d4de9306804c295f5462e57b/src/NuGet.Core/NuGet.Protocol/Resources/PackageMetadataResourceV3.cs#L278

Yes, fixing orderings is not hard, same as you just found, it needs little bit more work on top of Task.WhenAll.

[2022-07-06 16:20] erdembayar commented on #11940
@v-longmin
Is this bug still valid?

[2022-07-06 16:41] erdembayar commented on #11910
It looks you're testing with legacy type of project. Did you try with packagereference type project? Try and see what happens. You can create one easily with `dotnet new classlib mylib` command.

I'm not expert on VS extension programming. But few things I can observe from here is, in general VS solution building creates obj>>dgspec.json and asset.json files. Most likely your `install via the exte

[2022-07-06 16:45] donnie-msft commented on #11932
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1559710

[2022-07-06 19:10] AraHaan commented on #11296
I think it randomly started working in github actions as the action randomly started working.

[2022-07-06 19:38] erdembayar commented on #11296
Could we close if there is no recent update?

[2022-07-06 19:42] erdembayar commented on #11896
Did you run `configure.cmd` before doing the build?

[2022-07-06 20:09] #11296 closed, assigned to heng-liu

[2022-07-06 20:28] dominoFire opened #11945 "[Bug]: PM UI Updates tab shows incorrect packages in multitargeting projects"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

VS 2022 17.2

### Worked before?

No

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Create a project with the following project file content:

[code]

2. Open project in VS
3. Right click on project in Solution Explorer and click 'Manage NuGet packages...'

### Expected

Updates tab sh

[2022-07-06 20:59] benwitman opened #11946 "[Bug]: Visual Studio fails to load SDKs in global.json that is next to project but not solution"
### NuGet Product Used

MSBuild.exe

### Product Version

Microsoft.Build.NuGetSdkResolver 6.2.1.2

### Worked before?

6.0.1.1

### Impact

I'm unable to use this version

### Repro Steps & Context

Create a MsBuild project that uses custom SDK
Put a global.json next to that project which specifies the version of that SDK
Create a solution for that MsBuild project and save that solution the paren

[2022-07-06 21:04] #11946 closed, assigned to nobody

[2022-07-07 00:20] nkolev92 commented on #11939
What's the context in which you're trying to obtain these errors?

Build scripts? MSBuild tasks? Visual Studio extension?

[2022-07-07 01:50] #9703 closed, assigned to zivkan

[2022-07-07 01:52] nkolev92 commented on #5750
This is not longer an issue.
https://github.com/NuGet/NuGet.Client/commit/da818d72953901420bfc731e4b7c1100289fc6f3, https://github.com/NuGet/NuGet.Client/commit/20d69ae4af83071e040a9db4d9939a8564001a74,
https://github.com/NuGet/NuGet.Client/commit/77baa1563bb5aa8726bcf0f54d913ebe71e657ee have in a way helped improve this.

[2022-07-07 01:52] #5750 closed, assigned to nobody

[2022-07-07 01:55] nkolev92 commented on #2925
Fixed in https://github.com/NuGet/NuGet.Client/commit/4037dd24f1ff2f79002c63cf545e6ce72c8d5c31

[2022-07-07 01:55] #2925 closed, assigned to nobody

[2022-07-07 05:47] v-longmin commented on #11940
@erdembayar Sorry, I didn't description the repro steps clearly on before bug report. So, I update the repro steps, following the latest repro steps, the expected warning(e.g. ![image](https://user-images.githubusercontent.com/40230425/177700410-1dafd81e-d833-4a95-9304-f1023f8b20d3.png))
or expected error(e.g.![image](https://user-images.githubusercontent.com/40230425/177700546-174b1182-1bae-429c-

[2022-07-07 06:38] Smartisa commented on #11939
Visual Studio extension，How can I obtain the NU errors programmatically instead of parsing the "project.assets.json" file?

[2022-07-07 09:40] Thomas-p2-Elliott commented on #1538
If not this, then at least give us a command to punch into a console.

[2022-07-07 12:29] cadilhac commented on #10674
On my side, I realized that I could fix the issue by moving the mouse fast anywhere on the screen. Not very logical but eh...

[2022-07-07 13:48] benwitman commented on #11946
@jeffkl I guess that makes sense.  Note: in this case we do have a single global.json in the repository, it just so happens that the solution file is in the directory above where it is stored.

[2022-07-07 16:45] erdembayar commented on #11911
@IanKemp
You can override the warning for pre-release dependency if you want pre-release dependency. Please use last stable sdk, [support added](https://github.com/NuGet/NuGet.Client/pull/4369) in Jan 2022.
[code]

[2022-07-07 17:08] nkolev92 commented on #11939
That's not really possible today.

NuGet in Visual Studio has a limited surface area.

The only APIs available for extensions to use are the ones in NuGet.VisualStudio and NuGet.VisualStudio.Contracts and are documented here: https://docs.microsoft.com/en-us/nuget/visual-studio-extensibility/nuget-api-in-visual-studio.

The assets file is a build intermediary that is probably best not relied on as

[2022-07-07 17:21] dtivel opened #11948 "NuGet `sign` command needs to support updated private key storage requirements"
### NuGet Product Used

NuGet.exe

### Product Version

latest

### Worked before?

_No response_

### Impact

Other

### Repro Steps & Context

The current version of CA/B Forum's baseline requirements for publicly trusted code signing certificates requires that starting November 15, 2022, that private keys remain entirely within a hardware crypto module or a cloud-based hardware crypto module.

[2022-07-07 18:25] erdembayar commented on #11948
Related issue: https://github.com/NuGet/Home/issues/11930

[2022-07-07 18:39] nkolev92 commented on #11948
Team triage: Assigning to @clairernovotny for now for the initial discussions.

[2022-07-07 19:02] #11924 closed, assigned to nobody

[2022-07-07 20:13] sherryyshi opened #11949 "[Bug]: Central Package Management does not work with F# projects"
### NuGet Product Used

dotnet.exe, NuGet.exe

### Product Version

MSBuild version 17.3.0-preview-22322-04+e504ba9f4 for .NET

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Repro:
1. Create a new F# project from Visual Studio
2. In the project root folder, create a file named `Directory.Packages.props` with the following content

[2022-07-07 20:55] astrohart commented on #11924
How so?  I mean, what is the blocker per se?  Can't you use System.IO and other file-access APIs to just straight up, iterate the project tree, read the files for the correct info, and then implement the changes to `dotnet.exe` and `nuget.exe`?

For those of us with 200+ projects in our solutions, using a script with the CLI activity would, in my mind, greatly improve my productivity as a develope

[2022-07-07 20:57] jeffkl commented on #11924
@astrohart unfortunately it is a lot more complicated than one might think.  You can try a tool I wrote a while back: https://github.com/jeffkl/PackagesConfigConverter

[2022-07-07 21:26] jeffkl opened #11950 "[DCR]: Remove preview message when using central package management"
### NuGet Product(s) Affected

MSBuild.exe

### Current Behavior

NuGet emits a high importance message when a project is using central package management which is currently in preview

### Desired Behavior

Once CPM is production ready, remove the message.

### Additional Context

_No response_

[2022-07-07 21:29] jeffkl opened #11951 "[DCR]: Central package management package source mapping should only look at configured feeds"
### NuGet Product(s) Affected

MSBuild.exe

### Current Behavior

Currently CPM looks at all of the feeds that took part of restore.  However, the .NET SDK injects local sources which makes CPM think that too many sources are in use and emits a warning about needing to use package source mapping.  The tooling (nuget.exe and `dotnet nuget`) do not show these sources so it is confusing

### Desired

[2022-07-07 21:30] jeffkl opened #11952 "[Epic]: Central Package Management improvements for 17.4"
## Issues
- [x] https://github.com/NuGet/Home/issues/10159
- [x] https://github.com/NuGet/Home/issues/10311
- [x] https://github.com/NuGet/Home/issues/11951
- [x] https://github.com/NuGet/Home/issues/12021
- [x] https://github.com/NuGet/Home/issues/11950
- [ ] https://github.com/NuGet/Home/issues/11822
- `------------------------------------------ Cut line -----------------------------------------

[2022-07-07 21:32] astrohart commented on #11924
@jeffkl Thanks I will check it out

[2022-07-07 22:10] sherryyshi commented on #11949
We have a solution containing a few F# and mainly C# projects. Is there a way to turn off central package management for individual projects? That way we can switch the majority of our solution over.

I tried setting `<ManagePackageVersionsCentrally>false</ManagePackageVersionsCentrally>` in the fsproj files, but that causes it to run into other errors:
[code]

[2022-07-07 23:50] nkolev92 commented on #10642
I run a profile on NuGet.Client's restore.

Where/Single only appears for 9ms there.

If you look deeper in the code, it's really about retrieving the key.

Example: Given `NET45` as input and reverse containing `net45` : ".NET Framework, Version=4.5`.

The idea is that we do a reverse lookup in some cases, so that all the framework name casing is correct.
Hence the OrdinalIgnoreCase check.

I don

[2022-07-07 23:50] #10642 closed, assigned to nobody

[2022-07-08 01:17] jkasten2 opened #11953 "[Bug]: Windows Only - nuget install fails with misleading error "Could not find a part of the path" instead of 260 / 248 character error"
### NuGet Product Used

NuGet.exe

### Product Version

NuGet.exe 6.2.1

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

### One-Line Summary
Nuget does not support paths over 260 / 248 characters on Windows per issue #3324, however it should reliability tell the developer this is the issue.
### Details
Given issue #3324 won't be f

[2022-07-08 01:59] #11928 closed, assigned to nkolev92

[2022-07-08 15:18] erdembayar commented on #11953
@nkolev92
I feel it's duplicate of https://github.com/NuGet/Home/issues/3324
Let's keep it open for now until discussion, this one is asking for warning other one is actual long path support.

[2022-07-08 17:07] jeffkl commented on #10311
@AArnott unfortunately this bug fix won't be available in 17.3 since its taking longer than expected to get it right.  My PR is going to be merged for 17.4 which means the functionality will only be available in .NET 7.  Is that going to be a problem for your build environment?  You'll need to use .NET 7 to restore/build but of course can target any framework still.

[2022-07-08 17:44] jkasten2 commented on #11953
@erdembayar Thanks for the quick reply!

## This issue's scope
I am focusing this issue to a nuget bug where the developer using nuget doesn't always get the over 260 character warning when they should:

Since it seems like #3324 won't be fixed for a while so I believe it is important to make sure nuget gives the correct error.

## Other documentation note

Go to HKEY_LOCAL_MACHINE\SYSTEM\CurrentC

[2022-07-08 18:09] dtivel opened #11954 "Test: 2 .NET SDK restore tests are disabled"
[Two .NET SDK restore tests are currently not running](https://github.com/NuGet/NuGet.Client/blob/e0db7dcd14807fd1f8874df18e9a7c7d9cd871f6/test/NuGet.Core.FuncTests/Dotnet.Integration.Test/DotnetRestoreTests.cs#L1291-L1371) because the tests are behind an `#if NET5_0 ... #endif` section and we currently test against .NET 6 SDK.

[2022-07-08 19:22] JDiLenarda opened #11955 "[Bug]: Nuget Package Manager - source path with accentuated character messes with .NET Interactive #r directive"
### NuGet Product Used

Visual Studio Package Manager Console

### Product Version

Visual studio 2019 (16.11.6) - Nuget Package Manager 5.11.0 - VSCode 1.69.0 - .NET Interactive notebooks v1.0.3314011 - F# Interactive version 11.4.2.0 pour F# 5.0

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

In the Visual Studio (2019 or 2022)

[2022-07-08 19:55] #11135 closed, assigned to zivkan

[2022-07-08 20:28] dtivel opened #11956 "[Bug]: X.509 trust store isn't initialized in `dotnet add package` and SDK resolver code paths"
### NuGet Product Used

dotnet.exe

### Product Version

latest

### Worked before?

no

### Impact

I'm unable to use this version

### Repro Steps & Context

1. On Red Hat 9, use the https://github.com/NuGet/Entropy/tree/main/SDKPatchTool to install the latest .NET 6.0.4xx SDK using NuGet build 6.3.0.117 for patching.
2. Create a test console project using the patched SDK.
3. Using the patched S

[2022-07-08 22:12] nkolev92 commented on #11910
I can repro this issue. Repro steps:

1. Download ExampleExtension and run it with VS experimental instance.
2. Load the ExampleSOlution.
3. CLikc the command
4. Observe the failrue.

I also get the same behavior if I build before running the command the first time.

Getting a failure and then running build and attempting the install again doesn't seem to fix it.

When was the first time you obser

[2022-07-09 01:39] erdembayar commented on #11955
@JDiLenarda
Thank you for filing this issue. Could you elaborate more?
Which extension did you install for Visual Studio Code .NET Interactive Notebooks? How did you create it?

[2022-07-09 11:10] atykhyy commented on #5525
It's easy to hack up a solution. It relies on a couple implementation details of NuGet `PackTask`, but it's much better than nothing.
[code]
This useful target can be put into Directory.Build.targets to cover all projects in your solution.

[2022-07-09 11:16] atykhyy commented on #5556
Building on @nkolev92 and @madelson's approach and a bit of MSBuild item trickery, I was able to 'extend' `ProjectReference` with two attributes, `PackageVersion` and `ExactVersion`:
[code]
This useful target can be put into Directory.Build.targets to cover all projects in your solution.

[2022-07-09 14:38] 7enderhead commented on #11896
As can be seen in the info I provided, I am on Linux, therefore I neither installed Visual Studio nor ran the `cmd` or `ps1` files you mentioned.

[2022-07-11 06:13] uecasm opened #11958 "[Bug]: Referencing targets found only in dependent packages causes restore failure"
### NuGet Product Used

MSBuild.exe

### Product Version

VS2022 17.2.3; msbuild 17.2.1.25201

### Worked before?

It works with classic non-PackageReference references

### Impact

It's more difficult to complete my work

### Repro Steps & Context

1. Clone https://github.com/uecasm/SassTest.git
    * This is a lightly modified Blazor Server template project, but most of the details don't really

[2022-07-11 06:16] shuebner commented on #3891
Please note that having multiple assemblies with different TFMs in the same nuget package TFM folder can lead to runtime assembly loading errors.

Consider what happens when the assemblies contained in a nuget package's TFM folder have different TFMs themselves, e. g. one has netstandard2.0 and the other has net6.0 or net48. If the projects from which they were built have the same `PackageReferenc

[2022-07-11 08:03] JDiLenarda commented on #11955
@erdembayar : current version is .NET Interactive Notebooks for VS Code v1.0.3357010 (it's been updated this week end but the problem stands still)

[2022-07-11 08:12] shuebner commented on #3891
@KalleOlaviNiemitalo
No, there are no ref assemblies in the MEL Abstractions 6.0.1 package.

[2022-07-11 08:59] v-luzh opened #11965 "[Bug]: An error “unable to load the service index for source” occurs after making DevOps feed https://pkgs.dev.azure.com/farhub/_packaging/farhub/nuget/v3/index.json enabled on Windows ARM64"
### Impact

It's more difficult to complete my work

### Describe the bug

An error “unable to load the service index for source” occurs after making DevOps feed https://pkgs.dev.azure.com/farhub/_packaging/farhub/nuget/v3/index.json enable in PM UI

### Repro Steps

#### Details about Problem
VS Version: D17.3\32714.290
NuGet Version: Dev\6.3.0.123
System type: ARM-based 64bit processor
OS: Windo

[2022-07-11 09:21] shuebner commented on #3891
@KalleOlaviNiemitalo
Ah, sorry. No ref assemblies anywhere. The scenario in my post was supposed to be minimal.

The real-life scenario was actually a bit more subtle:
Only Project2 (TFM netstandard2.0) was referencing MEL Abstractions package version 6.0.1.
But Project1 (TFM net48) was referencing Project2, and thus through transitivity got an assembly reference on 6.0.0.1, even though Project 2

[2022-07-11 12:54] TomW-Skyline commented on #11910
@nkolev92 thank you for the investigation, we are glad you could also reproduce it. We are not aware of a version in which it worked, so it could be it never worked.

[2022-07-11 17:32] jeffkl commented on #11958
@uecasm Thanks for reporting this issue.  I believe its a known problem with how Visual Studio collects PackageReference items before restore.  This is done by the [Project System](https://github.com/dotnet/project-system) in a [design-time build](https://github.com/dotnet/project-system/blob/main/docs/design-time-builds.md#determining-whether-a-target-is-running-in-a-design-time-build).  This bui

[2022-07-11 17:41] a-ctor opened #11959 "[Feature]: Verifying the package source mapping configuration"
### NuGet Product(s) Involved

NuGet.exe, dotnet.exe

### The Elevator Pitch

With the new package source mapping it is possible to restrict certain packages to be restored from specific package sources. But there are scenarios with package source mapping where a local restore succeeds but fails on another machine. This happens when the packages are already cached locally and so the package source

[2022-07-11 18:25] jeffkl commented on #11958
Closing this in favor of https://github.com/dotnet/project-system/issues/8318

[2022-07-11 18:25] #11958 closed, assigned to nobody

[2022-07-11 18:50] 7enderhead commented on #11896
I am patching a fork of NuGet to better understand its workings. I get along without unit tests, but most of the build process being triggered by `build.sh` works just fine, so I thought I would report this issues (since it actually seems to be just some problem of copying stuff somewhere).

[2022-07-11 20:44] kartheekp-ms opened #11960 "[Test]: MSBuildAPIUtilityTests are failing on Linux and Mac"
### NuGet Product Used

Other/NA

### Product Version

N/A

### Worked before?

No. These unit units were added in https://github.com/NuGet/NuGet.Client/pull/4700

### Impact

_No response_

### Repro Steps & Context

MSBuildAPIUtilityTests added in https://github.com/NuGet/NuGet.Client/pull/4700 PR are passing on Windows but failing on CI on Mac and Linux.

https://github.com/NuGet/NuGet.Client/p

[2022-07-12 07:47] stijnherreman commented on #10375
@sharwell I'm also wondering what the difference is, especially with https://github.com/dotnet/sdk/issues/26286 being pushed.

[2022-07-12 08:31] bvamos opened #11962 "[Bug]: NuGet Pack decodes escaped space characters in URLs"
### NuGet Product Used

dotnet.exe, MSBuild.exe, NuGet.exe

### Product Version

6.2.1

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

1. Create a nuspec file and add iconUrl with encoded space, like https://hostname/space%20in%20path
2. Generate the package by using nuget pack
3. Open the generated package, and check the value of

[2022-07-12 16:26] #11555 closed, assigned to nkolev92

[2022-07-12 16:40] #11198 closed, assigned to nkolev92

[2022-07-12 16:40] #11203 closed, assigned to nkolev92

[2022-07-12 18:04] AArnott commented on #1538
I just run `dotnet restore` from the console to workaround this. Once the packages have been restored once, the content of nuget.config is of no consequence, so VS gets along fine without having to restart VS.

[2022-07-12 20:52] richlander commented on #1538
Perhaps it makes sense only to auto update if sources are declared via msbuild? It occurs to me that CPVM is all specified by msbuild and those settings will be important to honor due to branch (and other) changes.

[2022-07-12 21:31] zivkan opened #11963 "[DCR]: Improve error message when lock file is used with AssetTargetFallback dependencies"
### NuGet Product(s) Affected

dotnet.exe

### Current Behavior

Another side-effect of https://github.com/NuGet/Home/issues/5957 being fixed is that projects using lock files, where the lock file was generated before the fix, but then trying to restore with NuGet that has the fix, it results in these types of non-sensical errors:

That package certainly does exist on nuget.org.

A sample repro is

[2022-07-12 21:37] AArnott commented on #1538
@richlander Is this because nuget.config gets translated into msbuild items during the restore target? CPVM certainly doesn't altogether ignore the nuget.config file.

[2022-07-12 21:58] richlander commented on #1538
That isn't what I mean. I meant that you can declare sources via msbuild. Maybe the first class reload scenario is via that since we already need it for this other NuGet feature that is not nuget.config related.

[2022-07-12 22:58] birgithi opened #11964 "[DCR]: Remove A/B experiment for NuGet package suggestions"
### NuGet Product(s) Affected

Visual Studio Package Management UI

### Current Behavior

We currently check whether the user is part of the NuGet Recommender experiment flight.

### Desired Behavior

The experiment flight has been set to 100% since last June. We should remove this code so that we can end the experiment.

### Additional Context

_No response_

[2022-07-12 23:55] #11956 closed, assigned to dtivel

[2022-07-13 00:43] joelverhagen commented on #11965
Moved to NuGet/Home for @dominoFire to interact with @v-luzh. Feel free to close if this is better off handled over email/Teams.

This issue is not related to NuGet.org availability. Azure DevOps feeds are outside of the scope of NuGet/NuGetGallery.

[2022-07-13 02:58] #11954 closed, assigned to dtivel

[2022-07-13 11:11] v-longmin opened #11966 "[Bug]: [Cross-platform sign Verify] Unexpected error/warning show after restoring the project on Mac"
### NuGet Product Used

NuGet.exe

### Product Version

NuGet Client Release-6.3.x\6.3.0.128

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

## Repro steps:
1. Git clone[ https://github.com/NuGet/Entropy.git]( https://github.com/NuGet/Entropy.git)
2. Set the following parameters in “pathOnUnix.ps1” file:
    a. The SDK channel must be: 6.0.4xx
    b. The S

[2022-07-13 11:22] v-luzh commented on #11965
It doesn't repro on Main\32712.105 + NuGet Client Dev\6.4.0.10. I'm closing it now.

[2022-07-13 15:53] dtivel commented on #11966
@v-longmin, I followed your steps and this bug did not repro.  Here's the output of the `verify` command on the package:

[code]
Here is restore output:
[code]

Can you please post your `<PatchedSDK>/dotnet --info` output?  Also, was your patching successful?

[2022-07-13 16:52] dtivel commented on #11966
@v-longmin, is it possible that you had the environment variable `DOTNET_NUGET_SIGNATURE_VERIFICATION` set to `true` before performing restore in your PowerShell session?

In a new Terminal window try this:

[code]

Then, in the PowerShell session, execute:

[code]

I see that the environment variable is set as expected:

[code]

Now exit PowerShell:

[code]

Now you're back in a plain Bash shell.

[2022-07-13 18:45] zivkan commented on #11579
@erdembayar nuget.exe is a .NET Framework assembly, and therefore on Linux it needs to run under mono (just like on Mac), but your screenshot shows that you invoked nuget.exe directly.  This suggests to me that you ran this under WSL on Windows, not on a Linux VM, where WSL detects the Windows exe being called and silently runs it in Windows, despite running it from the Linux prompt.  Therefore, i

[2022-07-13 21:52] dtarjeft opened #11967 "[Bug]: Centralized Package Versioning causes NU1008 from included .targets files using non-centralized PackageReferences"
### NuGet Product Used

dotnet.exe, MSBuild.exe, NuGet.exe

### Product Version

dotnet 6.0.302, msbuild 16.11.2.50704, nuget 6.2.1.2

### Worked before?

New issue encountered in upgrade process

### Impact

I'm unable to use this version

### Repro Steps & Context

1. Create a C# project.
2. Set up Centralized Package Versioning
3. Install a package that contains a .targets file that has a Packa

[2022-07-13 23:50] zivkan commented on #11576
Root cause is this method: https://github.com/NuGet/NuGet.Client/blob/f5d7dc371d8a54a9fe0869698e5c4f29dcb7d981/src/NuGet.Core/NuGet.Protocol/LocalRepositories/LocalPackageSearchResource.cs#L168-L172

The assumption "that similar items occur in order" is not true on Linux or Mac. Only Windows returns files in alphabetical order, so this method is basically broken by design.

While debugging up to t

[2022-07-14 00:03] erdembayar commented on #11576
I searched for dup, couldn't find one. No one complained about it, because not many customers use MAC for .netframework development, especially with local feed. Even `Priority 3 label` could be applicable considering mono is in maintenance mode.

[2022-07-14 00:09] erdembayar commented on #11579
Added myself as well, I'll retry when I spin Ubuntu VM.

[2022-07-14 01:32] nkolev92 commented on #11967
Hey @dtarjeft

Packages must not include restore affecting items/props in the build props and targets.

I imagine this isn't something you are seeing on the commandline just in Visual Studio?

I just created a pull request improving the docs and specifically calling out scenarios such as this: https://github.com/NuGet/docs.microsoft.com-nuget/pull/2807.

[2022-07-14 01:44] edumserrano commented on #11752
This might be the wrong place to add this info but docker support on Visual Studio 17.3 Preview 3 is broken when using Central Package Management.

When I try to run in Visual Studio the dockerfile I keep getting a prompt to install a package which is already installed.
![image](https://user-images.githubusercontent.com/15857357/178869232-88b9ed4b-d026-41d4-abd5-31949306d2fb.png)

If I disable CPM

[2022-07-14 06:40] v-longmin commented on #11966
Hi @dtivel, I patched SDK successfully, the dotnet info as below:
![image](https://user-images.githubusercontent.com/40230425/178916611-6592241b-3657-4230-bef4-013beedff03e.png)
After setting DOTNET_NUGET_SIGNATURE_VERIFICATION = false, unexpected error or warning was not repro as below screenshot:
![image](https://user-images.githubusercontent.com/40230425/178917497-5e0571f6-a359-4689-83be-b1fa09

[2022-07-14 08:53] msedi opened #11968 "[Bug]: Process argument string is too long when publishing in Visual Studio with static graph enabled"
### NuGet Product Used

NuGet.exe

### Product Version

VS2022 Preview

### Worked before?

I'm not sure it seems it never worked using the VS UI for my solution.

### Impact

It's more difficult to complete my work

### Repro Steps & Context

I'm trying to publish from Visual Studio using the Visual Studio user interface. While everything seems to work using msbuild.exe and dotnet.exe. It doesn't

[2022-07-14 09:49] KohrAhr commented on #2880
Still doesnt work with VS2019/VS2022

[2022-07-14 10:27] v-crchang opened #11969 "[Bug]: [Cross-platform Dotnet Nuget Sign] Unexpected errors/warnings show after verifying the package on Linux & Mac"
### NuGet Product Used

NuGet.exe

### Product Version

Release-6.3.x\6.3.0.128

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

## Repro steps:
1. Git clone https://github.com/NuGet/Entropy.git and download nupkgs-NonRTM from [Pipelines - Run 6.3.0.128 artifacts (visualstudio.com)](https://nam06.safelinks.protection.outlook.com/?url=ht

[2022-07-14 11:55] dtivel commented on #11966
Thanks for confirming, @v-longmin.

After patching, you should be still in a PowerShell session.  If you simply `exit` the PowerShell session, you'll return to your Bash session, and the `DOTNET_NUGET_SIGNATURE_VERIFICATION` environment variable should be unset.  The test should then pass without explicitly setting `DOTNET_NUGET_SIGNATURE_VERIFICATION` to anything.  The default is `false`.

[2022-07-14 11:55] #11966 closed, assigned to nobody

[2022-07-14 13:16] dtivel commented on #11969
Hmm, this does not repro for me.  I overwrote the signature on NuGet.Common 5.0.0, and it verified successfully.

[code]

@v-crchang, can you please send me your package that fails to verify successfully?

[2022-07-14 14:02] dtarjeft commented on #11967
@nkolev92 Both command line and VS show NU1008. On the command line, it fails the build. In VS, it causes the projects to reload continuously.

[2022-07-14 18:20] jeffkl commented on #11752
@edumserrano please file a new issue for tracking and include exact steps I can follow to reproduce the problem which will greatly help with the investigation.  Thanks for reporting this.

[2022-07-14 18:26] zivkan commented on #11955
Team triage meeting:  @JDiLenarda if you create a sub directory under `C:\nuget\beyoncé` and run `dotnet new console`, does `dotnet restore` fail?

[2022-07-14 18:33] jeffkl commented on #11949
I tried fixing this a long time ago but the change was rejected: https://github.com/dotnet/fsharp/pull/6730

At this time, F# projects inject packages but don't have metadata that identifies them as implicitly defined.  The only workaround is to do this yourself in `Directory.Build.targets`:

[code]

Example of workaround:

https://github.com/microsoft/MSBuildSdks/blob/22cee25ad037827b54b75b6ee1c5

[2022-07-14 18:43] zivkan commented on #11576
Customers haven't reported this issue, so closing this.

[2022-07-14 18:43] #11576 closed, assigned to zivkan

[2022-07-14 19:48] zivkan commented on #11949
@jeffkl should we document this on NuGet's docs for CPM? https://docs.microsoft.com/en-us/nuget/consume-packages/central-package-management

[2022-07-14 23:06] zivkan opened #11970 "[DCR]: Only cancel VS cred provider requests if VS is closing"
### NuGet Product(s) Affected

Visual Studio Package Management UI, Visual Studio Package Manager Console

### Current Behavior

NuGet provides extensibility for credential providers, which can obtain credentials to provide feeds more intelligently than if NuGet simply asking the customer to manually enter valid credentials. In some cases this can be automatic, without prompting the customer.  The

[2022-07-15 02:34] v-crchang commented on #11969
@dtivel The package I'm using that fails to verify is: [Package1.1.0.0.nupkg.zip](https://github.com/NuGet/Home/files/9117219/Package1.1.0.0.nupkg.zip)

[2022-07-15 03:37] aortiz-msft commented on #11932
Closing as dupe of https://github.com/dotnet/efcore/issues/28407

[2022-07-15 03:37] #11932 closed, assigned to donnie-msft

[2022-07-15 03:45] erdembayar commented on #11579
@zivkan
I tested on Ubuntu VM, it looks it doesn't repro. As you mentioned it was running WSL on Windows issue.
![image](https://user-images.githubusercontent.com/8766776/179145983-b2a5fa19-2c0a-46ff-b968-737e93b3f2eb.png)

I believe you can close this one.

[2022-07-15 06:52] msedi commented on #11968
@zivkan: Thanks for the info, but I have already enabled the long file names in the registry. Even if the message is "path too long" it seems to me that this is maybe not the source of the problem. It rather seems that in a larger project the commandline arguments are getting too large.

[2022-07-15 10:29] edumserrano opened #11972 "[Bug]: Central Package Management break Visual Studio docker integration"
### NuGet Product Used

Other/NA

### Product Version

tested with: nuget 6.2.1.7, dotnet 6.0.302, Visual Studio 17.2.6 as well as with nuget 6.3.0.114, dotnet 6.0.400-preview.22330.6 and Visual Studio 17.3 Preview 3

### Worked before?

It works when Central Package Management is disabled.

The bug happens when you can create, for instance, an ASP.NET Core Web API project and enable Docker integr

[2022-07-15 10:31] edumserrano commented on #11752
@jeffkl I've create this issue and a repo with further information to help debug this bug https://github.com/NuGet/Home/issues/11972.

Hopefully it's a simple one.

[2022-07-15 10:43] JDiLenarda commented on #11955
Currently on holiday far from my office PC, I will only be able to test this next Wednesday. Thank you.

[2022-07-15 11:28] zivkan commented on #11968
As mentioned, Windows requires the app itself to tell the operating system that it supports long paths, and Visual Studio does not. MSBuild and the dotnet cli does. This is out of control of the NuGet team

[2022-07-15 14:56] dtivel opened #11973 "Signing: enable signed package verification by default on Linux in .NET 7 SDK"
### NuGet Product(s) Affected

dotnet.exe

### Current Behavior

Signed package verification is currently disabled by default on Linux.

### Desired Behavior

Enable signed package verification by default on Linux.

### Additional Context

_No response_

[2022-07-15 15:18] #11579 closed, assigned to zivkan, erdembayar

[2022-07-15 16:22] dtivel commented on #11969
@v-crchang, I tried verifying your package but it fails because the signature is now expired.  So, I created a new test certificate, re-signed the package and verified.  It succeeded with the same warning (NU3027).

Can you please meticulously repeat the test and update the repro steps with every detail?  Include every command you run, the operating system and version, and output of each of the fo

[2022-07-15 16:22] zivkan commented on #10375
Does the existing NuGet feature `PrivateAssets="compile"` already cover this request?

https://github.com/dotnet/roslyn-sdk/blob/df51b014fcb8c9e667a0b09a000f2050615f7afb/src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/Microsoft.CodeAnalysis.Analyzer.Testing.csproj?q=PrivateAssets%3D%22compile%22#L58-L65

[2022-07-15 16:30] zivkan opened #11974 "Duplicated commit ID in ProductVersion of NuGet DLLs"
### Discussed in https://github.com/NuGet/Home/discussions/11895

<div type='discussions-op-text'>

<sup>Originally posted by **KalleOlaviNiemitalo** June 17, 2022</sup>
The ProductVersion field of the VERSIONINFO resource in NuGet DLLs contains two copies of the commit ID a8942f45835ba527cedacc02f7a75468f7a7b4bd. Is this by design or some kind of mistake?

[code]

I checked the version element of

[2022-07-15 17:08] michael-hawker commented on #5455
- See now: #10375

[2022-07-15 17:12] michael-hawker commented on #10375
@zivkan are those build time only dependencies or are they used at runtime as well? (As I would expect that would be the crux of this request over `PrivateAssets` in general.) If this already exists, then it's not well documented as [a scenario in the docs](https://docs.microsoft.com/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets) which just talks about mi

[2022-07-15 17:14] zivkan commented on #10375
Copying my comment from https://github.com/dotnet/sdk/issues/26286#issuecomment-1185729410

https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets

My summary for only the relevant parts:

metadata|in current project|flow via PackageReference
---|---|---
IncludeAssets| ✔️ | ✔️
PrivateAssets|  ✔️ | ❌
ExcludeAssets| ❌ | ❌

Asset type

[2022-07-15 18:29] jeffkl commented on #11748
At this point I'd say its external, there's not much NuGet can do at the moment.  I've opened an issue for Project System to look into: https://github.com/dotnet/project-system/issues/8318

[2022-07-15 22:13] #11973 closed, assigned to dtivel

[2022-07-15 22:14] nkolev92 commented on #7957
Looks like the majority of the issues listed, with the exceptions of release notes are completed.

Maybe this can be closed in favor of a dedicated release notes issue?

[2022-07-15 22:24] nkolev92 commented on #6763
Hey all,

Summarizing the status of the listed issues:

- https://github.com/nuget/home/issues/5602 -  [Done](https://devblogs.microsoft.com/nuget/enable-repeatable-package-restores-using-a-lock-file/)
- https://github.com/NuGet/Home/issues/6764 - [Done](https://devblogs.microsoft.com/nuget/introducing-central-package-management/)
- https://github.com/NuGet/Home/issues/912 - Done
- https://github.

[2022-07-15 22:24] #6763 closed, assigned to anangaur

[2022-07-15 23:32] dominoFire commented on #6051
Started localization onboarding with loc team.

[2022-07-15 23:53] kartheekp-ms commented on #4387
It looks like [HttpClientHandler.DangerousAcceptAnyServerCertificateValidator Property](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclienthandler.dangerousacceptanyservercertificatevalidator?view=net-6.0#remarks) will be helpful while addressing this issue.

[2022-07-16 13:13] JimBobSquarePants commented on #11520
It's the duty of developers to ensure that they are aware of licenses of software they depend upon. NuGet shouldn't be getting involved in any way shape or form.

[2022-07-17 16:20] #6685 closed, assigned to nobody

[2022-07-18 09:57] v-crchang commented on #11969
@dtivel  I updated the repro steps above.
And the dotnet --info:
![image](https://user-images.githubusercontent.com/71433406/179484766-9b7a888c-5896-4f90-97b5-c52d646dadf7.png)
uname --all:
Linux Linux 5.4.0-1086-azure #91~18.04.1-Ubuntu SMP Thu Jun 23 20:33:05 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
export:
![image](https://user-images.githubusercontent.com/71433406/179484577-c0020a10-bfff-466e-a

[2022-07-18 10:38] chenghuang-mdsol commented on #9251
For now, you can use this regex to filter out name/url pair from the detailed output
[code]

[2022-07-18 18:37] nkolev92 commented on #5385
Closing this as per the same reasoning added in https://github.com/NuGet/Home/issues/7180. We attempted addressing it, but ultimately decided against it.

[2022-07-18 18:37] #5385 closed, assigned to nobody

[2022-07-18 20:12] nkolev92 commented on #7957
Team Triage: Closing this issue as nearly all individual tasks have been completed.
For release notes, please follow: https://github.com/NuGet/Home/issues/1203.

[2022-07-18 20:12] #7957 closed, assigned to chrisraygill

[2022-07-18 20:14] nkolev92 commented on #11965
Team Triage:
Assigning to @zivkan for investigation.

[2022-07-18 20:18] nkolev92 commented on #11962
Team Triage: Assigning to @heng-liu for investigation.

@bvamos Do you have the same problems with anything other than artifactory?
This might be something that only needs fixed on the artifactory side.

[2022-07-18 20:21] nkolev92 commented on #11967
Team Triage: @jeffkl can you please take a look and let us know what your recommendations are.

[2022-07-18 20:24] #11969 closed, assigned to nobody

[2022-07-18 20:27] nkolev92 commented on #11972
@edumserrano

Can you please provide information about the failure in this bug itself.
It's not immediately clear what the problem is.

[2022-07-18 20:52] xsoheilalizadeh commented on #10275
I had this issue on my old machine which had 4 CPU cores.

[2022-07-19 03:27] zivkan commented on #10463
Symbols for NuGet SDK packages have been published for version 6.0 and higher. Some earlier versions also have symbols published, but it's proved challenging to easily find all the exact builds for versions without published pdbs, so we couldn't backfill earlier versions. However, NuGet 5.x corresponds to .NET 5.0 which is already out of support at the time I'm writing this.

Symbols have been pub

[2022-07-19 03:27] #10463 closed, assigned to zivkan

[2022-07-19 06:50] iBobb commented on #6861
Just like @drauch, we are trying to use an in-house CA. Unfortunately, trusted CAs can't be modified in Azure pipelines on public agents so we'd be interested in such a change. I up-voted the issue.

[2022-07-19 20:09] donnie-msft opened #11975 "[Bug]: Test CpsPackageReferenceProjectTests.._WhenChildProjectChanges_ has Setups that fail in Moq 4.18.1"
### NuGet Product Used

Other/NA

### Product Version

N/A

### Worked before?

_No response_

### Impact

Other

### Repro Steps & Context

I'm upgrading Moq from 4.16.1 to 4.18.1. Apparently, the verification of Setups is more strict in this version, because the following test now fails. After investigating, I found that this Setup's criteria indeed is indeed not met.

`TestPackageManager_Execut

[2022-07-19 21:07] donnie-msft commented on #11975
Chatted offline and handed off to @nkolev92 . Here's how I disabled it and unblocked myself.
https://github.com/NuGet/NuGet.Client/commit/08eea6cb1637d2ea035dac1e4487622b850e9510

[2022-07-20 00:36] nkolev92 commented on #4071
For some reason we had 2 different tracking issues for this feature: https://github.com/NuGet/Home/issues/5725 and this one.

This issue is older, but the other issue has more upvotes, so closing this in favor of

[2022-07-20 00:36] #4071 closed, assigned to nobody

[2022-07-20 00:59] nkolev92 opened #11976 "Error messages such as NU1605 or NU1109 do not provide the target graph on the commandline, making it difficult to figure out the offending graph"
This problem does not exist in VS.
Example:

[code]

cc @erinlah-ms

[2022-07-20 01:52] #11975 closed, assigned to nkolev92

[2022-07-20 02:08] donnie-msft opened #11977 "Update Microsoft.VisualStudio.Sdk.TestFramework to 17.2.7"
The `Microsoft.VisualStudio.Sdk.TestFramework` should be updated to the Latest Stable, which is currently `17.2.7`.
This task is a step of https://github.com/NuGet/Client.Engineering/issues/438.

Note: https://github.com/NuGet/Home/issues/11975 was found when performing this upgrade (and is already fixed)

[2022-07-20 07:34] JDiLenarda commented on #11955
I've just tried this, `dotnet restore` does not fail.

[2022-07-20 09:13] darthkurak commented on #11807
When we can expect a release of this functionality? :)

[2022-07-21 15:33] ds27680 opened #11978 "[Bug]: ContentFiles not working as expected in .Net Framework project using PackageReference"
### NuGet Product Used

NuGet.exe, Visual Studio Package Management UI

### Product Version

NuGet: 5.4.0.6315, VisualStudio: 2022

### Worked before?

Not really

### Impact

It's more difficult to complete my work

### Repro Steps & Context

For the purpose of better managing translations, we are looking into moving resource files out of one of our projects to a repository where translators have

[2022-07-21 15:45] zivkan commented on #11955
Thank you for letting us know. Since NuGet itself supports directories with non-ASCII characters, I suggest that it appears that whatever product you're using is passing bad data into NuGet. You've already mentioned that you would report this to that product, so I'm going to close this as there is nothing actionable for the NuGet team at this time.

[2022-07-21 15:45] #11955 closed, assigned to nobody

[2022-07-21 15:56] zivkan opened #11979 "[Feature]: Add filesystem abstraction to NuGet SDK"
### NuGet Product(s) Involved

NuGet SDK

### The Elevator Pitch

From the original request of https://github.com/NuGet/Home/issues/3324

### Additional Context and Details

In the past we've had a similar request because the customer wanted to do something custom to use Azure Storage, rather than local files or a file share: https://github.com/NuGet/Home/issues/10325

We've also had a chat with t

[2022-07-21 16:26] zivkan commented on #3324
Although the original request for this issue was about the NuGet SDK, not tooling like msbuild, Visual Studio, nuget.exe, the generic title appears to have caused a number of people to comment on Visual Studio in particular. Therefore, I created a new issue with a more specific title, to gather upvotes:
* https://github.com/NuGet/Home/issues/11979

Similar to how [MSBuild's "support long paths" is

[2022-07-21 16:26] #3324 closed, assigned to JonDouglas

[2022-07-21 16:34] #11970 closed, assigned to zivkan

[2022-07-21 17:42] #11977 closed, assigned to donnie-msft

[2022-07-21 22:28] StingyJack commented on #5385
This was probably the only correct decision made regarding the handling of this issue. Fixing it at this point just bring out the torches and pitchforks after not fixing it for the many years when we needed it to be fixed (especially when someone freely offers you the code to do the important part).  Please use this issue as something to learn from so that you can make better choices in the future

[2022-07-21 23:05] nkolev92 opened #11980 "Remove extra layers of abstractions from IVsProjectAdapter, move RuntimeGraph specific methods from VSProject to LegacyPackageReferenceProject"

[2022-07-22 00:19] kapoor1992 commented on #5385
I encourage people still looking for a solution to check out @StingyJack's response [here](https://github.com/NuGet/Home/issues/7180#issuecomment-418951758). I haven't used it and can't speak to its correctness, but at least it's something. And that's a lot more than can be said for how the NuGet team handled this...

[2022-07-22 00:30] edumserrano commented on #11972
@nkolev92 did you see the The [README](https://github.com/edumserrano/example-cpm-docker/blob/main/README.md) of the repo? It explains what happens and expected behavior.

In short, if you enable CPM you can not run a VS solution with a docker launch option.

[2022-07-22 03:29] flcdrg commented on #9195
@zivkan Is that assuming you'd always do a `dotnet restore`?

eg. It wouldn't work if you were trying to build on a Linux box and leveraging something like the [Cache task's `cacheHitVar`](https://docs.microsoft.com/azure/devops/pipelines/artifacts/caching-nuget?view=azure-devops&WT.mc_id=DOP-MVP-5001655#restore-cache) to skip restoring

[2022-07-22 07:44] lonix1 opened #11981 "[Bug]: NU1604 when using CPM with analyser packages"
### NuGet Product Used

dotnet.exe

### Product Version

dotnet 6.0.302, msbuild 16.5.0.26101, nuget 6.2.1.7, linux, vscode

### Worked before?

no

### Impact

Other

### Repro Steps & Context

I'm using the new "Central Package Managment" feature. It doesn't work for analyser (and similar) packages.

For example, I want to use the [`AsyncFixer`](https://www.nuget.org/packages/AsyncFixer#package-

[2022-07-22 13:39] zivkan commented on #9195
I don't have experience with the Cache task.

Are you saying that it caches failures, and therefore will fail the build without running restore?  If so, yes that's right.  However, if it does not cache failures, and keeps re-running restore until the first successful restore, then there should not be any problem.

If it caches failures, the only workaround I can think of is to either change the ri

[2022-07-22 18:37] #11980 closed, assigned to nkolev92

[2022-07-22 20:29] nkolev92 commented on #11972
Hey @edumserrano

Yes, I did look at the readme, my comment was about including the expected/actual information in this issue itself.

I'm not saying you'd do this, but sometimes repos go private and we lose the information about the bug itself and we can't act on it.
For that reason we prefer as much of the details as possible in the issue body itself.

[2022-07-23 05:29] flcdrg commented on #9195
Actually, having tried that code sample on the linked page I am suspicious that it might be incorrect. Not running `dotnet restore` means that `project.assets.json` isn't created and then the build phase failed with an error.

[2022-07-23 23:29] hamarb123 commented on #1851
I just started getting this warning:
[code]
I'm currently using http on macOS (on localhost, which probably should never be blocked imo since it's not really insecure in the same way per-se) because it doesn't support encrypting the client-cert certificate for some reason. This should be able to be very secure on macOS using keychain, I have no idea why this isn't supported yet other than low prio

[2022-07-24 15:53] zivkan opened #11982 "Unskip FSharp E2E tests or port to Apex"
E2E FSharp tests are failing again.

Test logs only say the test timed out.  We should consider porting this to Apex, so we'll at least get screen recordings to see what's happening.

[2022-07-24 17:29] edumserrano commented on #11972
@nkolev92 Apologies, I've updated the body of the issue. Let me know if you need anything else.

[2022-07-24 23:44] zivkan commented on #11982
Telling DartLab to keep the machine around and running a new build, I could RDP to the machine and try again, and when the F# proejct gets loaded, there's a gold bar a the top of VS saying:

The same error occurs when trying to creating a new F# project manually, using the built-in template, so it appears to be a problem with internal builds of VS.

[2022-07-25 07:30] tmds commented on #1851
Op ma 25 jul. 2022 09:29 schreef Tom Deseyn ***@***.***>:

[2022-07-25 13:25] zivkan commented on #1851
@hamarb123 this issue (source password encryption, for private/authenticated feeds) is not related to http/https.  Please create a new issue for that.

[2022-07-25 17:44] andrew-hampton commented on #11752
@jeffkl is there an issue or something tracking the VS UI improvements so that I can follow the status of that work as well? Thanks

[2022-07-25 17:54] #11858 closed, assigned to kartheekp-ms, pragnya17

[2022-07-26 04:04] knocte commented on #11949
@jeffkl sorry, how can this be "Not A Bug"?

[2022-07-26 04:10] knocte commented on #11834
Is this bug outdated? I ask because you're saying that devs that want CentralPackageManagement need to opt-in via MSBuild property, but the URL you quote (https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions#opt-in-central-package-version-management ) says that it's enough to have the .props file.

[2022-07-26 06:47] hamarb123 commented on #1851
I know it's not related directly. As I said (I think), I'm using a client-cert certificate that runs over https, I'm currently having to use the http version (which doesn't have client-cert or encryption) though because I don't want to store the client-cert certificate password unencrypted. I could probably set up a https proxy that doesn't require client-cert as well, but I don't want to accident

[2022-07-26 12:41] dtivel opened #11985 "Signing: macOS removed CRL support"
### NuGet Product Used

dotnet.exe

### Product Version

.NET 5 SDK and later

### Worked before?

_No response_

### Impact

Other

### Repro Steps & Context

In March 2022, I confirmed with Apple developer technical support that Apple removed CRL support from macOS starting with 10.15 (Catalina).  See https://github.com/dtivel/x509-revocation-check-macos for repro steps.

NuGet packages that are

[2022-07-26 13:05] dtivel opened #11986 "Signing: macOS's distrust model overrides custom contextual trust"
### NuGet Product Used

dotnet.exe

### Product Version

.NET 5 SDK+

### Worked before?

_No response_

### Impact

Other

### Repro Steps & Context

In March 2022, I confirmed with Apple developer technical support that Apple had recently updated macOS's X.509 distrust model to explicitly distrust the intermediate certificate in the Symantec timestamping certificate chain used to timestamp NuGet

[2022-07-26 13:34] bradleypearce opened #11987 "[Bug]: Unable to browse or restore packages via Nuget"
### NuGet Product Used

NuGet.exe

### Product Version

6.2.1

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

My colleague and I were working on a project together and updating their Nuget.config to include an additional package source we've been unable to retrieve from Nuget due to error:

[nuget.org] Unable to load the service index for

[2022-07-26 14:53] zivkan opened #11988 "Apex tests should use timeout"
A recent build had this in the log, until the job timed out:

The test should not be allowed to run for 2 hours.

[2022-07-26 15:20] kkirkfield commented on #11710
@nkolev92 I can confirm that your fix is working for my projects. I had to modify my project files similar to below to override the _CleanPackageFiles target.

[code]

[2022-07-26 15:37] bradleypearce commented on #11987
we've also tried delete nuget.config in %AppData% and numerous other things but no closer to fixing this.

[2022-07-26 16:11] nkolev92 commented on #11710
That's great to hear @kkirkfield

We'd be happy to accept a PR for this if anyone is interested.

If submitted within the next month, this would make it in time for .NET SDK version 7.0.100.

[2022-07-26 17:25] #11935 closed, assigned to mcnallyella

[2022-07-26 17:36] nkolev92 commented on #11988
Are all of the Apex tests missing a timeout?

[2022-07-26 18:43] ricaun opened #11989 "[Bug]: PackageReference is auto-discover an unlisted version."
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Visual Studio 2022

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

In the `csproj` when using `PackageReference` usually set the version with `"*"` to use the latest version of the package.

Something like this:
[code]

Works fine until I noticed the vers

[2022-07-26 22:07] dominoFire commented on #6051
Created issue to add nuget.exe to localization artifacts.  https://github.com/NuGet/Client.Engineering/issues/1757

[2022-07-26 22:47] nkolev92 commented on #11989
That's expected behavior. https://docs.microsoft.com/en-us/nuget/concepts/package-versioning#floating-version-resolutions.

[2022-07-26 23:26] ricaun commented on #11989
`Floating version resolution does not take into account whether or not a package is listed. Floating version resolution will be resolved locally if the conditions can be satisfied with packages in the Global Package Folder.`
It's a feature indeed.

[2022-07-26 23:26] #11989 closed, assigned to nobody

[2022-07-27 00:29] ltrzesniewski commented on #11989
@nkolev92 what's the rationale behind this? Because resolving to a version which *should explicitly not be used* seems very wrong (or even dangerous) to me.

[2022-07-27 00:40] nkolev92 commented on #11989
Package listedness affects discoverability in search.

In PackageReference, packages are installed into a global packages folder where the concept of listedness is not relevant (after all a package may exist in multiple sources).
By allowing already 'seen' versions to be used, it is likely to improve nbuild stability (ie package removal from consideration won't affect my build that already used th

[2022-07-27 08:36] jesperordrup commented on #10674
Still a problem in VS 2019 v 16.11.10

[2022-07-27 09:20] ltrzesniewski commented on #11989
I see. That's unfortunate. 😕

But will it also resolve to an unlisted/deprecated version if the package hasn't been seen yet? (I'm sorry, I'm currently AFK and can't test this myself).

I suppose it may be the case since you probably want the same version to be resolved on different machines. 🙁

@ricaun you may try to remove PropertyChanged.Fody v4.0.0 from the global packages folder if you'd like

[2022-07-27 09:38] egraff commented on #11710
@nkolev92 I can also confirm; we haven't had a single reoccurrence of the problem in over a month on our CI, after I put in the beforementioned modification.

The fix is exactly the one-liner change that you suggested, @nkolev92 (adding `AND '$(IsInnerBuild)' != 'true'` to the condition). Would you still like someone else to create that PR?

Will the fix also be included in an update to .NET SDK 6

[2022-07-27 11:04] v-luzh opened #11990 "[Bug Bash] There is a tiny gap in the version drop-down list of PM UI"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.4.0.22

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

#### Details about Problem
VS Version: Main\32726.62
NuGet Version: Dev\6.4.0.22
OS Version: Windows-11-Enterprise-21H2 ENU

#### Detailed repro steps
1. Create a C# Console App (.NET 7.0) in VS

[2022-07-27 11:07] v-luzh opened #11991 "[Bug]: [Bug Bash] Second-opening the “Version” drop-down list will show the bottom instead of the top after selecting a version in the custom version drop-down box"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.4.0.22

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

#### Details about Problem
VS Version: Main\32726.62
NuGet Version: Dev\6.4.0.22
OS Version: Windows-11-Enterprise-21H2 ENU

#### Detailed repro steps
1. Create a C# Console App (.NET 7.0) in VS

[2022-07-27 11:11] v-luzh opened #11992 "[Bug]: [Bug Bash] Other versions will lose after selecting a version in the custom version drop-down box for a while"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.4.0.22

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

#### Details about Problem
VS Version: Main\32726.62
NuGet Version: Dev\6.4.0.22
OS Version: Windows-11-Enterprise-21H2 ENU

#### Detailed repro steps
1. Create a C# Console App (.NET 7.0) in VS and open the PM UI o

[2022-07-27 11:16] ricaun commented on #11989
I tried to remove the version 4.0.0 from the global packages folder and my project finds and download again the v4.0.0.

The best solution at the moment is use `Version="3.*"` until PropertyChanged.Fody is below version 4.0.0

[2022-07-27 13:02] kkirkfield commented on #11710
I should be able to work on a PR later today unless someone else gets to it first. As you said, it is a simple 1 line change.

[2022-07-27 14:06] egraff commented on #11710
@kkirkfield brilliant! In case you haven't located it already in git (and it might save you some time), it's this file and line: https://github.com/NuGet/NuGet.Client/blob/1ad750307b4c227b78d3666fc68f8c71894b2f43/src/NuGet.Core/NuGet.Build.Tasks.Pack/NuGet.Build.Tasks.Pack.targets#L171 🙂

[2022-07-27 14:35] donnie-msft commented on #11990
The version# shown in the main textbox shouldn't be offscreen when reopening the dropdown.
Better to scroll-to the value shown when reopening.

[2022-07-27 15:49] nkolev92 commented on #11710
At this point it's too late for the code change to flow into .NET SDK 6.0.400.

[2022-07-27 16:28] bradleypearce commented on #11987
Can anyone help please? My colleague's nuget is in an unrecoverable state at the moment.

[2022-07-27 17:24] egraff commented on #11710
Would the fix be included in a later .NET SDK version, though? E.g. 6.0.401, or 6.0.500, or similar?

[2022-07-27 17:29] nkolev92 commented on #11710
6.0.401 would be a patch version with only security fixes.

The next feature SDK release will be 7.0.100

[2022-07-27 19:03] martinrrm commented on #11987
Hi! I have some questions so we can know exactly what can be causing this error:

- What OS are you using?
- Are you using a proxy?
- Are you able to open https://api.nuget.org/v3/index.json in the browser?
- Can you try and create a minimal C# application so we can test the connection? You can look at this https://github.com/NuGet/Home/issues/10414#issuecomment-752085971

[2022-07-27 21:08] ChadBH opened #11993 "[DCR]: nuget downloading transitive dependencies already in the .net SDK"
### NuGet Product(s) Affected

dotnet.exe

### Current Behavior

Problem: Nuget downloads transitive dependencies that are part of the .net SDK. No need to download them.

If I create a new .net 6 Azure Function in Visual Studio 2022, and say `dotnet restore -v n`, I see that NuGet downloads packages that are baked into the .net SDK--they won't ever be used. Examples:

[code]

From nuget.org this

[2022-07-28 07:34] bradleypearce commented on #11987
Hi thanks for the reply.

We're using Windows 10
No proxy
Yes we only have a problem when using nuget, browser works fine
We have tried this also, nothing seems to help and we can't get anything working.

[2022-07-28 11:09] Killfrra opened #11995 "[Bug]: Custom kernel breaks nuget"
### NuGet Product Used

dotnet.exe

### Product Version

.NET SDK Version: 6.0.302 Commit: c857713418

### Worked before?

.NET SDK Version: 6.0.302 Commit: c857713418

### Impact

It's more difficult to complete my work

### Repro Steps & Context

It would be nice to be able to disable the sending of unnecessary information through the UserAgent.
[code]
-- from dotnet/sdk/blob/main/src/Cli/dotnet

[2022-07-28 13:35] Vandersteen commented on #7752
Is there any progress on this issue ?

[2022-07-28 14:12] zivkan commented on #11988
I don't know.

I *think* some of the tests watch the Package Manage Output Window buffer for magic strings, and fail the test if the magic string is not found after a certain time. But maybe that's E2E tests.

Ideally all tests would have a timeout, yes, but the only evidence I have right now is that this API test is at risk of "deadlocking".

[2022-07-28 16:07] erdembayar commented on #7752
I'm working on implementation, since this is 1st json output for .net cli tooling still discovering new thing.
I need community input for below spec revision: https://github.com/NuGet/Home/pull/11983

[2022-07-28 19:36] PhilParisot commented on #7707
I just spent a ridiculous amount of time because of this bug, please fix.

[2022-07-29 00:13] dominoFire opened #11996 "[S.CL] Add existing source-gen commands to new System.CommandLine source-gen commands"
In our prototype branch, we have migrated some commands to System.CommandLine

The goal of this issue is to source-gen those already migrated commands and fix all tests broken during migration.

Existing migrated commands:

- [x] `dotnet nuget add source`
- [ ] `dotnet nuget add client-cert`
- [ ] `dotnet nuget disable source`
- [ ] `dotnet nuget enable source`
- [x] `dotnet nuget list source`
- [

[2022-07-29 00:17] dominoFire opened #11997 "[S.CL] Migrate non-nource-gen comands to System.CommandLine source-gen commands"
There are commands whose CLI plumbing code is created manually.

There's value in migrating those commands using source-gen approach to ensure consistency across all NuGet commands shipped in dotnet.exe

Also, in the future, _all_ nuget.exe commands can be migrated using this approach.

Current non-source-gen commands:

Command | Current Generation source | Current migration status
-- | -- | --
do

[2022-07-29 00:18] nkolev92 commented on #7374
CLosing this as it's a question and is at this point not actionable.

[2022-07-29 00:18] #7374 closed, assigned to nobody

[2022-07-29 00:24] nkolev92 commented on #3336
We don't think we'd be getting to this issue anytime soon.

[2022-07-29 00:24] #3336 closed, assigned to nobody

[2022-07-29 00:25] nkolev92 commented on #10571
Hey @tannergooding
Do you think this is similar to https://github.com/NuGet/Home/issues/1660?

It seems like we dedup it originally, but there seems to be a lot of overlap.

[2022-07-29 00:40] dominoFire commented on #11398
@crusader-mike Sorry about this. The reason I closed this issue was because we We think it's a duplicate of https://github.com/NuGet/Home/issues/4463

Please upvote in the linked issue. That helps in our triaging process.

Thanks again for reporting.

[2022-07-29 00:46] nkolev92 commented on #5525
Hey all,

The ask in this issue is equivalent to https://github.com/NuGet/Home/issues/5556.

[2022-07-29 00:46] #5525 closed, assigned to nobody

[2022-07-29 01:04] nkolev92 commented on #3788
Hey all,
This will be available in 17.3.

You will be able to install custom versions, and packages that resolve to latest via a floating version won't be shown in the updates tab.

Note that you can still `clobber` the user specified version if you install an exact version of a package. You can track that in https://github.com/NuGet/Home/issues/6566.

![installing-floating-versions](https://user-

[2022-07-29 01:04] #3788 closed, assigned to martinrrm

[2022-07-29 01:08] nkolev92 commented on #5218
Low pri at this point.

[2022-07-29 01:08] #5218 closed, assigned to nobody

[2022-07-29 07:07] PandeleFlorin commented on #3788
Great. After How many YEARS was this solved? I don't even use VS/nugget any more...

[2022-07-29 09:01] ds1709 commented on #6764
Is there any sence to place `PackageVersion`s inside `Directory.Packages.props`? AFAIK, it all works fine if I place `PackageVersion`s just inside `Directory.Build.props`, so I don't need `Directory.Packages.props` at all. Correct me if I wrong.

[2022-07-29 10:35] reduckted commented on #6764
@ds1709 This comment from @jeffkl on the NuGet blog may be of interest to you.

https://devblogs.microsoft.com/nuget/introducing-central-package-management/#comment-186

[2022-07-29 13:01] #11919 closed, assigned to nobody

[2022-07-29 13:01] #11872 closed, assigned to nobody

[2022-07-29 13:01] #11852 closed, assigned to nobody

[2022-07-29 16:10] #10311 closed, assigned to jeffkl

[2022-07-29 16:25] jeffkl commented on #11949
@knocte Central package management detects package references that should not have versions by looking at a well known metadata value for `IsImplicitlyDefined`.  When this attribute is set to `true`, CPM will allow a version to be defined on that package reference since the package reference probably came from some SDK logic that the user does not have control over.  The FSharp folks rejected the

[2022-07-29 16:28] jeffkl commented on #6764
Since MSBuild basically allows you to do anything you want, you can place your PackageVersions in any common import. However, the supported scenario is to place them in a file that NuGet imports for you so that other tooling can take a dependency on it.  Tools like Dependabot might only work with certain files as well so I think anyone should just follow the recommendations for features like this.

[2022-07-29 16:29] jeffkl commented on #11752
@andrew-hampton yes, it is here: https://github.com/NuGet/Home/issues/9015

[2022-07-29 16:33] jeffkl commented on #11967
@dtarjeft any PackageReference declared in your project or an import must not declare a version and instead a PackageVersion should be declared in Directory.Packages.props.  If that will not work for your scenario, you can do one of the following:

* Use [VersionOverride](https://docs.microsoft.com/en-us/nuget/consume-packages/central-package-management#overriding-package-versions) to have a singl

[2022-07-29 16:36] jeffkl commented on #11981
@lonix1 can you please share your Directory.Packages.props as well?  The scenario should work just fine:

Project:
[code]

Directory.Packages.props
[code]

[2022-07-29 17:15] #11710 closed, assigned to nobody

[2022-07-29 18:42] martinrrm commented on #11987
Yes please, if possible, add the exception

[2022-07-29 19:11] nkolev92 commented on #6388
The `buildTransitive` has been implemented to allow authors to deliver targets transitively.

https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets has details about the defaults.

[2022-07-29 19:11] #6388 closed, assigned to nobody

[2022-07-29 21:12] #11874 closed, assigned to pragnya17

[2022-07-29 23:01] jebriede commented on #11726
We have identified and fixed an issue that was contributing to the slownless here: https://github.com/NuGet/NuGet.Client/pull/4739. There are still additional contributors for which we have planned longer-term solutions on our road-map that we will track and address separately.

[2022-07-29 23:01] #11726 closed, assigned to jebriede

[2022-07-30 00:54] kartheekp-ms commented on #10674
@jesperordrup If possible, please try to install VS 2022 and let us know if you are experiencing similar issues. As suggested in https://github.com/NuGet/Home/issues/10674#issuecomment-1001805408 `The single most helpful thing you can do is to` [use Visual Studio's report a problem](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2022)`, and ste

[2022-07-30 01:19] dtarjeft commented on #11967
The first option isn't possible for my use case, as the package reference
is in a referenced package. I'll give the second option a whack, although
it seems to undercut the intent of the feature a little bit. Thank you for
your help!

On Fri, Jul 29, 2022, 12:33 PM Jeff Kluge ***@***.***> wrote:

[2022-07-30 02:51] #11094 closed, assigned to zivkan

[2022-07-30 04:16] richlander commented on #11094
Thanks!

How's that look @omajid?

[2022-07-31 15:40] kibblewhite commented on #8589
I've just hit the same issue. My use case is where we want to build both production and staging nuget packages, where some of our users do not have access to the source into private repositories inside company/business networks.

[2022-08-01 09:54] bradleypearce commented on #11987
![MicrosoftTeams-image](https://user-images.githubusercontent.com/7002788/182123147-a70f546b-3a04-4052-9465-6fd8af39268f.png)
After running the test code we get this exception

[2022-08-01 13:46] arcanosam commented on #6978
It's correlated, but not the same cenario here, but I would like to document for those on Linux.

I'm on Fedora 35 using VsCode and dotnet sdk 6 installed

To use `dotnet nuget` behind proxy I have to use this format of command:

`export http_proxy=http://[user]:[pass]@[server]:[port] && dotnet add package <package>`

[2022-08-01 15:52] nkolev92 commented on #11967
@dtarjeft

is in a referenced package

That's not going to work on the commandline. Packages *must* not add `PackageReference` items in their own build targets as it'd make restore inconsistent.
https://docs.microsoft.com/en-us/nuget/concepts/msbuild-props-and-targets#guidance-for-the-content-of-msbuild-props-and-targets

[2022-08-01 16:52] donnie-msft commented on #11991
The version# shown in the main textbox shouldn't be offscreen when reopening the dropdown.
Better to scroll-to the value shown when reopening.

[2022-08-01 17:18] martinrrm commented on #11993
Hi! Can you please update the title of the issue?

About transitive dependencies, as far as I know, a transitive dependency is an indirect dependency; you depend on something which itself has another dependency that you don’t depend on. Transitive dependencies will be introduced to VS PM UI in a future release so you will be able to manage vulnerable transitive dependencies.

[2022-08-01 19:21] erdembayar opened #11999 "[GCPause] NuGet restore continues to be a large cause of UI delays due to GC pressure (up to 207 GB over 100 seconds)"
### NuGet Product Used

Other/NA

### Product Version

16.7 or later

### Worked before?

n/a

### Impact

_No response_

### Repro Steps & Context

[GCPause] NuGet restore continues to be a large cause of UI delays due to GC pressure (up to 207 GB over 100 seconds)

Call Stack

clr.dll!ETW::SamplingLog::SendStackTrace
clr.dll!??EtwCallout
clr.dll!??CoTemplate_qqhxpzqp
clr.dll!GCToCLREventSink::Fi

[2022-08-01 23:17] lbussell opened #12000 "[DCR]: NuGet.Client should target net7.0 for .NET Source-Build"
### NuGet Product(s) Affected

Other/NA

### Current Behavior

NuGet.Client targets net6.0 for source-build.

### Desired Behavior

Source build requires projects to build with the current TFM or a supported netstandard TFM in order to build without prebuilts. NuGet.Client currently targets net6.0 for source-build. This should be updated to net7.0.

### Additional Context

_No response_

[2022-08-02 07:06] cockroach888 commented on #9853
Looking forward to this.

[2022-08-02 13:50] omajid commented on #11094
I have verified the original issue is now fixed for me.

Thanks!

[2022-08-02 14:59] kfertitta opened #12001 "[Feature]: Make NuGet.ProjectModel (and friends) usable within a Visual Studio extension."
### NuGet Product(s) Involved

NuGet SDK

### The Elevator Pitch

Our company builds Visual Studio extensions, and we have a need to perform the very same tasks within our VS extension that NuGet.ProjectModel performs -- reading nuspec files, assets files, querying HTTP sources, etc.  Although these APIs are, themselves, available via NuGet packages, they cannot be used directly within a Visual St

[2022-08-02 17:27] aortiz-msft commented on #11968
Hi @msedi, please feel free to upvote the ask for long path support in Visual Studio: https://developercommunity.visualstudio.com/t/allow-building-running-and-debugging-a-net-applica/351628.

[2022-08-02 23:28] nkolev92 commented on #11945
Is this still an issue @dominoFire

It's open but had the 6.3 milestone.

[2022-08-02 23:37] dominoFire commented on #11945
@nkolev92 Yes, but, multitargeting is not supported in PM UI.

[2022-08-02 23:39] nkolev92 commented on #11945
thanks.
I actually didn't go in depth, I mostly just noticed that it was in an invalid state as per the release notes too.

[2022-08-03 01:04] drewnoakes commented on #12001
The .NET Project System would also benefit from having a version of NuGet's project model available for use within VS. It'd allow us to move a bunch of code from NuGet.Client to the project-system repo.

[2022-08-03 01:12] JonDouglas commented on #12001
/cc @nkolev92 @jebriede this sounds familiar to what we were discussing this week.

[2022-08-03 01:28] nkolev92 commented on #12001
We have a duplicate in https://github.com/NuGet/Home/issues/9611, which was probably something prompted when the original discussions about the NuGet nodes in the solution explorer (what @drewnoakes is probably referring to).

Unfortunately I think the only way we could fix this would be to create a completely new assembly and limit the public API carefully.
Maintaining both the library and toolin

[2022-08-03 11:57] markusschaber commented on #11590
This one has just bitten me :-(

[2022-08-03 11:58] markusschaber commented on #11590
The developercommunit issue cannot be voted, as it's "closed-duplicate" with reference to this github issue. 👎

[2022-08-03 15:32] kfertitta commented on #12001
Thanks @nkolev92 for the references to #9611.  I had, indeed, considered the VS interfaces, but I was wary of feature-diffs relative to `NuGet.ProjectModel`.  For context, ours is a full-on project system which, among other things, extends the DependencyTree via @drewnoakes excellent `IRelation`-based extensibility model.

Currently, we do have things working by building the entire set of assembli

[2022-08-03 20:19] msedi commented on #11968
@aortiz-msft. Thx for the suggestion. I already did and I'm currently in touch with MS about this topic.

[2022-08-03 21:37] nkolev92 commented on #12001
We don't really have an approach we can recommend at this point mostly because it depends on the amount of coupling a component already has with NuGet.

Out of curiosity, are you trying to recreate the solution explorer integration, https://github.com/NuGet/NuGet.Client/tree/dev/src/NuGet.Clients/NuGet.VisualStudio.Implementation/SolutionExplorer?

[2022-08-03 21:46] kfertitta commented on #12001
@nkolev92 Thanks for the reply.  Indeed, we have been spending a lot of time studying how NuGet extended the Dependencies Tree and one of our use cases for parsing the assets file is to render additional details (specific to our project system) beneath the NuGet package nodes drawn by the NuGet client.  We setup TPL dataflows to monitor the assets file and use the LockFile parser in the very same

[2022-08-03 22:47] nkolev92 commented on #8040
I don't really know what I was looking up. NuGet.exe search is implemented using the search resource.

[2022-08-03 22:47] #8040 closed, assigned to nobody

[2022-08-03 23:08] pragnya17 opened #12002 "[Feature]: Testing dotnet nuget why"
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

Dotnet nuget why is a new feature (https://github.com/NuGet/Home/issues/11782) that has been proposed with a proof of concept at: https://github.com/NuGet/NuGet.Client/tree/pragnya17-dotnet-nuget-why

I propose the following tests to ensure good test coverage for the current implementation:
https://microsoft-my.sharepoint.com/:o:/p

[2022-08-03 23:24] pragnya17 commented on #12002
Created in the wrong repo.

[2022-08-03 23:24] #12002 closed

[2022-08-03 23:31] nkolev92 commented on #7133
Correlating this issue to https://github.com/NuGet/Home/issues/4254.

I think it'd be great if https://github.com/NuGet/Home/issues/4254 is completed over this.

[2022-08-04 00:10] nkolev92 commented on #6056
Supported with READMEs https://devblogs.microsoft.com/nuget/add-a-readme-to-your-nuget-package/

[2022-08-04 00:10] #6056 closed, assigned to anangaur

[2022-08-04 00:55] kfertitta commented on #12001
@nkolev92 One thing I see off the bat that we need that doesn't seem to be in the shell interfaces is an API to query a source for available packages.  Any advice there?

This is the canonical example from `NuGet.Protocol` that exemplifies the kind of queries we need to perform:

[code]

[2022-08-04 00:57] KirillOsenkov commented on #7133
#4254 would solve nuget pack, but it wouldn’t solve nuget push and nuget list.

[2022-08-04 01:28] zivkan commented on #7133
[`dotnet nuget push`](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-push) has existed since .NET Core 3.1 SDK. I'm not aware of any functionality differences between `dotnet nuget push` and `nuget.exe` push, except that the dotnet CLI uses more GNU style arguments, whereas nuget.exe uses PowerShell style arguments. But there's a 1:1 mapping between the two.

https://github.com/Nu

[2022-08-04 01:30] dotMorten commented on #7133
@civkan package signing is one difference and I think there might be a few more. And it’s weird to use dotnet nuget to restore nuget packages for c++ projects (don’t even think that would work)

[2022-08-04 01:34] zivkan commented on #7133
does `msbuild -t:restore -p:RestorePackagesConfig=true` work? https://docs.microsoft.com/en-us/nuget/consume-packages/package-restore#restore-using-msbuild.

[`dotnet nuget sign`](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-sign) was added in the .NET 6 SDK.

[2022-08-04 09:40] v-luzh opened #12003 "[Bug]: [Pack] The error “NU5017: Cannot create a package that has no dependencies nor content” occurs when the NuspecBathPath is more than 5 layers"
### NuGet Product Used

dotnet.exe

### Product Version

Dev\6.4.0.33

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

#### Details about Problem
VS Version: Main\32803.137
NuGet Version: Dev\6.4.0.33
OS Version: Windows-11-Enterprise-21H2 ENU

#### Detailed repro steps
1. Create a C# Class Library (.NET 7.0) in VS.
2. Put a nuspec

[2022-08-04 18:05] nkolev92 commented on #12001
Yep, we don't really have any public APIs that allow extensions to do that today.

I don't really have any specific advice here as it really depends on your exact scenario.
Are you querying the source in order to make a decision about whether to install a certain package?

[2022-08-04 18:12] kfertitta commented on #12001
@nkolev92 Yes, that, and querying about specific packages to determine the latest available version.  I've got a simple solution in place that just uses `HttpClient` against the V3 service endpoint and parses the JSON directly.  Just a few lines of code, really, for this particular scenario.  At present, we're only looking at a small bit of the response and it's a non-fatal error if something goes

[2022-08-04 18:16] nkolev92 commented on #11986
@dtivel Is there a proposal for an action that we're going to take on this?

[2022-08-04 18:17] nkolev92 commented on #11985
@dtivel Is there a proposal for an action that we're going to take on this?

[2022-08-04 18:31] nkolev92 commented on #12001
Yes, agreed.

I'll do that.

Would running an install in the project at question work instead? Are you updating or just installing a new package?

[2022-08-04 18:31] #12001 closed, assigned to nobody

[2022-08-04 18:32] nkolev92 commented on #9611
There's a good discussion in https://github.com/NuGet/Home/issues/12001.

cc @kfertitta

[2022-08-04 18:38] kfertitta commented on #12001
Not in this particular case.  We're actually "converting" some domain-specific non-SDK-style projects to SDK style within our extension.  That involves a lot of direct manipulation of the project file XML and translating older item types to `PackageReference`'s where we'd need to use the latest version published on nuget.org.

[2022-08-04 20:51] nkolev92 commented on #10558
Hey all,

In 6.2, we added a fix that changed how NuGet did retries and added an exponential back-off, https://github.com/NuGet/NuGet.Client/commit/dc37ed53e2a7a1ea72e2fdac9991f09b09e87ea7, https://github.com/NuGet/NuGet.Client/commit/73c1eea938ba27451a64b686bf1757f15af33e76.

While this isn't a fix specific to the 429 status code, it is very likely to improve this scenario as well.

Please let us

[2022-08-04 21:26] nkolev92 commented on #8420
Adding dotnet.exe label as well.
IMO, it's ok if we do this in dotnet.exe only.

[2022-08-04 22:01] #11573 closed, assigned to martinrrm

[2022-08-05 00:08] erdembayar commented on #8420
Related issue `dotnet nuget config` https://github.com/NuGet/Home/issues/10294

[2022-08-05 00:18] nkolev92 commented on #8420
https://github.com/NuGet/Home/issues/4855 has details about that too.

I might close https://github.com/NuGet/Home/issues/4855 in favor of that, as that has higher customer visibility and is really one of very few things left.
I might also make 4855 an epic :D

[2022-08-05 00:40] nkolev92 commented on #2515
Just cleaning up.
These are default args that available in every command.

[2022-08-05 00:40] #2515 closed, assigned to nobody

[2022-08-05 00:41] nkolev92 opened #12004 "[Feature]: nuget.exe add and init equivalents for dotnet.exe"
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

Creating local file feeds is a common operation some nuget customers do.

Unfortunately there's no equivalent commands to add and init in dotnet.exe

### Additional Context and Details

See https://github.com/NuGet/Home/issues/4855

[2022-08-05 01:18] nkolev92 commented on #4855
I took a look at *all* the NuGet.exe commands and generated a table for the behaviors

| Command Name | Description | NuGet.exe | dotnet.exe | msbuild.exe | Notes |
|--------------|-------------|-----------|------------|-------------|-------|
| add | add package to hierarchical source | Yes | [No](https://github.com/NuGet/Home/issues/12004) | N/A | Parity not reached. No community asks I could fin

[2022-08-05 01:18] nkolev92 commented on #10294
Closing this in favor of https://github.com/NuGet/Home/issues/7133, which is a community ask with a lot more upvotes

[2022-08-05 01:18] #10294 closed, assigned to erdembayar

[2022-08-05 01:19] nkolev92 commented on #4855
cc @erdembayar I know `dotnet nuget config` was of interest to you.

[2022-08-05 01:28] nkolev92 commented on #2300
At this point, with the pack SDK, I don't believe this issue is as impactful anymore.

Multitargeting is support with `dotnet pack`.

Based on that, I'm gonna close this issue.
Let me know if you disagree, we'd be happy to reconsider.

[2022-08-05 01:28] #2300 closed, assigned to nobody

[2022-08-05 01:31] nkolev92 commented on #4581
Adding NeedsTriageDiscussion.

Given that changing the behavior a few years later would be a breaking change (even if a well meaning one), I don't think we should do this.

Furthermore think of the following scenario.

A (.NET project) -> B (no NuGet project).

`msbuild /t:restore A.csproj` - restores both projects as PackageReference
` msbuild /t:restore B.csproj` - ??? B wouldn't be restored as

[2022-08-05 01:32] nkolev92 commented on #9747
Adding NeedsTriageDiscussion.
dotnet.exe supporting non-SDK projects seems unlikely at this point, as such, I don't see a path forward for this issue right now.

[2022-08-05 01:34] nkolev92 commented on #3292
Should this issue and https://github.com/NuGet/Home/issues/11547 be consolidated?

[2022-08-05 01:40] nkolev92 commented on #5400
At this point, we believe that updating the documentation to better explain the NuGet resolution behavior is the right approach.
Related https://github.com/NuGet/Home/issues/9861 has some good ideas.

[2022-08-05 01:42] nkolev92 commented on #10375
As covered in zivkan's comment, the ask in this issue is something that's already doable with the current NuGet tooling.

Does anyone see any scenario where that doesn't work?

[2022-08-05 01:45] nkolev92 commented on #4488
`RestoreProjectStyle` is the recommended way for a project to opt into PackageReference. It is respected for old style csproj projects, and will work correctly as long as the project-system loading the project supports it.

At this point, I don't think there's a product action that needs to be taken.

Let me know if anyone disagrees.
We do need to improve the documentation around this topic.

[2022-08-05 02:46] dotMorten commented on #7133
Even if the feature gap was closed, it still seems rather silly to me that you have to install the dotnet 6+ sdk just to restore or create nuget packages for non-dotnet projects (C++, .NET Framework etc).

[2022-08-05 16:54] anangaur opened #12005 "[Feature]: Add `interactive` option for `dotnet pack`"
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

Today, it too simple to create a package using the following commands:
[code]
However, this also means that a lot of defaults as assumed like the package name, package version, and misses out on some of the important metadata like:
 - README
 - license

There is no easy way to be able to create these metadata into the package. The

[2022-08-05 19:17] vsfeedback opened #12006 "Nuget package manager does not highlight selected package when it has no focus"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Nuget-package-manager-does-not-highlight/10110029)._

---
In the "Manage NuGet packages" window there is a list of packages (three sub-tabs with those, but it behaves the same in all of them). When you select an item there it is higlighted and details are displayed on the right, but as s

[2022-08-05 19:19] heng-liu commented on #12006
Moved it to GitHub per @donnie-msft 's suggestion.
It's a similar issue with https://github.com/NuGet/Home/issues/7882

[2022-08-05 22:41] dominoFire commented on #10516
Instance of this bug: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1578195

[2022-08-06 03:48] heng-liu commented on #11995
Hi @Killfrra , may I know if you have run restore successfully from source nuget.org on the same machine before?
It seems the `Unable to load the service index for source https://api.nuget.org/v3/index.json.` is the root cause.
Could you check if you're able to access to the source on this machine?

BTW, could you try to add a package from a local source (which contains the package you'd like to i

[2022-08-06 08:27] aus10code opened #12007 "[Bug]:"
### NuGet Product Used

NuGet.exe

### Product Version

6.0

### Worked before?

Not sure

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

html/css not supported in readme file when uploaded to [Nuget.org](https://www.nuget.org/packages/austen.ConsoleHelperLibrary/)

The [documentation](https://docs.microsoft.com/en-us/nuget/nuget-org/package-readme-on-nuget-org#supporte

[2022-08-06 11:37] Killfrra commented on #11995
Yes

The URL opens fine in the browser

Unfortunately, I can't do it right now.
But rebooting with a generic kernel helped.

[2022-08-06 13:01] #11939 closed, assigned to nobody

[2022-08-06 13:01] #11911 closed, assigned to nobody

[2022-08-08 13:14] senstar-nross commented on #3324
@zivkan I don't think the fix merged back in 2018 actually does anything.  Yes,  enabling long path support in the registry seems to fix the NuGet cli but the script as currently checked in does nothing...

Check out line 159 and the **-not**.  That reg key exists and therefore Test-Path returns **true**...

`$regKeyFileSystem = "HKLM:SYSTEM\CurrentControlSet\Control\FileSystem"
$enableLongPathSup

[2022-08-08 15:08] zivkan commented on #3324
@senstar-nross that script is run on NuGet's CI and used to configure the build agent. In other words that script runs on the machine that builds the binaries that we all run on our own machines. The script has nothing to do with the execution of the binaries once built.

As per Windows' documentation, if you have the registry/group policy setting enabled, then any .exe whose application manifest

[2022-08-08 16:15] tg73 opened #12008 "[Bug]: PackageSourceProvider.UpdatePackageSource does not enable a previously disabled source."
### NuGet Product Used

NuGet SDK

### Product Version

5.10.0

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

In class `NuGet.Configuration.PackageSourceProvider`, the method:
[code]
does not apply the configuration changes required when `source.IsEnabled` is being updated from `false` to `true` (when `updateEnabled` is `true`, i

[2022-08-08 19:55] nkolev92 opened #12009 "VS2022 17.3.0 Preview 5 - NUGET Dialog / Package Manager not working for vdproj"
Issue filled originally, https://developercommunity.visualstudio.com/t/VS2022-1730-Preview-5---NUGET-Dialog-/10107880.

Internal feedback ticket [1584789](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1584789)

tldr; when you have vdproj, NuGet fails to load the projects so no restore can be run properly.

Dup of https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1583229.

Another feedba

[2022-08-08 20:39] nkolev92 commented on #11968
Reopening this issue.

The issue is the following

It's just that the error message is really bad.

NuGet.exe had the same problem when it shelled out to the msbuild process to read the projects and we solved it by writing to a targets file instead, https://github.com/NuGet/NuGet.Client/commit/4b3dcb1e6462820ed46d8e02e0cd891e150a3480

[2022-08-08 20:40] nkolev92 commented on #11968
The workaround is to unset RestoreUseStaticGraphEvaluation or set it to false explicitly.

[2022-08-08 23:03] #12009 closed, assigned to nkolev92

[2022-08-09 05:48] BrianMouncer commented on #4388
Why does adding Nuget.exe pack -Properties "NoWarn=NU5050" not suppress this error?
Is there another form like NoError=NU5050 property that I have not been able to track down?
Or should NoWarn=NU505 work but also has a bug?

[2022-08-09 09:54] alastairs commented on #5619
I just hit this with .NET SDK 7.0.100 Preview 6 and [@bording's scenario](https://github.com/NuGet/Home/issues/5619#issuecomment-318199534). `--force --no-cache` should ignore all caches and refetch the package(s) from source.

[2022-08-09 12:43] pavel-mikula-sonarsource opened #12010 "[Bug]: NU1004: The project Xxx has no compatible target framework for .NET vs .NET Framework cross reference with -LockedMode"
### NuGet Product Used

NuGet.exe

### Product Version

6.2.1.2 and also 6.2.1.7 from dotnet

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

## Context

Let's have project with following structure:
`Net46Reference` - a SDK-style project targeting `net46`, producing a library.
`Net6Root` - a SDK-style project targeting `net6`, producing a l

[2022-08-09 15:19] dtarjeft commented on #11967
@nkolev92 makes sense, I'll send that documentation to the publishers of the package. Is there a recommended approach for using a nuget reference in that context?

[2022-08-09 16:22] nkolev92 commented on #11967
If a package wants another package to be installed as well, it should declare it as a dependency.

Alternatively, that package could be changed to an SDK package that'd be installed in a completely different way, https://github.com/microsoft/MSBuildSdks.

[2022-08-09 17:20] erdembayar opened #12012 "Dotnet list package restore automatically if there is missing asset file"
### NuGet Product Used

dotnet.exe

### Product Version

n/a

### Worked before?

n/a

### Impact

_No response_

### Repro Steps & Context

Feedback follow up for https://github.com/NuGet/Home/pull/11983.
If `asset file missing` then instead of just error out better do restore on the spot could be better customer experience. `dotnet build` already does same thing.

### Verbose Logs

_No response_

[2022-08-09 21:43] sleepy-manul opened #12013 "[DCR]: HTTPS transition warning NU1803 cannot be suppressed"
### NuGet Product Used

dotnet.exe

### Product Version

MSBuild version 17.3.0+92e077650 for .NET

### Worked before?

Microsoft (R) Build Engine version 17.2.0+41abc5629 for .NET

### Impact

I'm unable to use this version

### Repro Steps & Context

Our situation is as following:

- dotnet / msbuild is running in a Kubernetes container (build farm)
- The nuget registry is inside the same Kubern

[2022-08-10 00:20] peymanr34 opened #12015 "The http removal will break private NuGet servers (NU1803 warning)"
I completely support the effort to force users to use https, however I'm concerned about not being able to use private NuGet servers (such as BaGet) on my local machine since:

Please consider keeping the opt-out option permanently or suggest an alternative solution.

[2022-08-10 07:00] bonza commented on #12013
Why in the [announce](https://devblogs.microsoft.com/nuget/announcing-nuget-6-3-transitive-dependencies-floating-versions-and-re-enabling-signed-package-verification/#https-everywhere) they say **warning** while in fact, it is an **error**?

[2022-08-10 08:24] JSkimming commented on #12013
We build using `<TreatWarningsAsErrors>true</TreatWarningsAsErrors>`, and this is causing a build failure.

Adding `<WarningsNotAsErrors>NU1803</WarningsNotAsErrors>` is not supressing the error.

How can we downgrade the error if your default is to build using `TreatWarningsAsErrors`

[2022-08-10 08:24] NiknakSi commented on #12013
In my experience of hitting this issue today it's only an error if you've got your project set to upgrade warnings to errors. If you disable that you'll see NU1803 listed as a warning and not an error and the restore/build should work as normal.

Obviously that's not really a solution, but it is hopefully a decent enough temporary workaround.

[2022-08-10 08:28] NiknakSi commented on #12013
Try `<NoWarn>NU1803</NoWarn>` - that works for me

[2022-08-10 08:58] sleepy-manul commented on #12013
According to https://devblogs.microsoft.com/nuget/https-everywhere/ , it will not be ignorable in the future, so these workarounds, unfortunately, won't help me.

[2022-08-10 09:20] msedi commented on #11968
@nkolev92. Thanks a lot for your help. If the long pathes are a problem then, will the RestoreUseStaticGraphEvaluation ever work then? If not it would make sense to comment this in the docs because here it says that the features is for large repos or solutions.

[2022-08-10 15:12] alexswan10k commented on #11610
Just wanted to make a note that I had a similar problem with FSharp.Core today on the build server, with exactly this problem -  - mismatching hashes. It looks like .NET SDK 6.0.400 was dropped yesterday, which is exactly when it started failing. Forcing the build server back to 6.0.303 fixed the issue, so presumably, the hashing algorithm is behaving differently.

[2022-08-10 16:11] jeffkl commented on #11968
@msedi static graph-based restore was only ever intended to be run for command-line restores.  There must be a new scenario where its being called in Visual Studio which was not part of the original design.  The best workaround is to disable it in Visual Studio:

[code]

[2022-08-10 16:11] nkolev92 commented on #11968
I think this is fixable.
It only seems to happen when VS shells out to restore for publish.

I just wanted to clarify that it's not the long paths that's the problem, but rather the argument length when an external process is started.

[2022-08-10 16:53] jeffkl commented on #11968
I'll be working on this soon

[2022-08-10 17:49] nkolev92 commented on #12015
@peymanr34

NU1803 is a warning. It is likely that your project is elevating it to an error.

[2022-08-10 18:00] erdembayar commented on #12015
Do we dup to https://github.com/NuGet/Home/issues/12013?

[2022-08-10 18:07] peymanr34 commented on #12015
@nkolev92

Yes, I'm well aware that currently it's a warning but it will become an error in the future (Nov 2024) without an option to opt-out.

[2022-08-10 18:13] nkolev92 commented on #12015
My bad, I misread it because of the title.

Do you mind tweaking the title to something that indicates that this issue about the complete removal of non-https feeds?

I can take a stab at it if you'd like me to.

[2022-08-10 18:14] msedi commented on #11968
@jeffkl: Awesome. Thanks for the feedback.

Understood. For me as a normal user this didn't come over from the docs. Does it make sense to comment it somewhere what works in commandline and what in VS or both?

[2022-08-10 18:21] peymanr34 commented on #12015
Sorry about that, please kindly do so.

[2022-08-10 22:21] jeffkl commented on #11951
Related to https://github.com/NuGet/Home/issues/11822

[2022-08-10 23:31] nick-beer commented on #5375
Here to agree that it would be nice to have movement on this.  Many of our builds were just hit with [`NU1803`](https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu1803) with the most recent dotnet SDK (6.0.400), and we don't have any choice but to `NoWarn` it.  We have plans to update our servers, but that work can't be done any time soon.  I'm sure the point of the `NU1803` wa

[2022-08-11 04:13] bairog commented on #5725
@heng-liu @nkolev92 @anangaur Is there any estimated timeframe for finally implementing this functionality?
Suggested updates still break solution targeting older TFMs (.netcore 3.1 and .net5.0).

[2022-08-11 07:58] RVink opened #12017 "[Bug]: Author primary signing certificate not trusted when installing package through an Azure DevOps feed"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.400

### Worked before?

6.0.302

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

# Reproduction steps
1. Run an interactive container using image `mcr.microsoft.com/dotnet/sdk:6.0-alpine` or use the command `docker run -it --entrypoint /bin/sh mcr.microsoft.com/dotnet/sdk:6.0-alpine`
1. Add an Azure DevOps fee

[2022-08-11 08:54] vaceslav commented on #12017
I have the same problem.
Workaround is to use previous version of dotnet/sdk: 6.0.302

[2022-08-11 09:40] dominoFire commented on #11978
@ds27680  Have you taken a look at https://github.com/Humanizr/Humanizer/tree/main/NuSpecs ?

It seems this repo organization might solve how to ship localized packages without relying on contentFiles; unless you want to ship some contentFiles functionality for your package consumers.

[2022-08-11 13:08] tapika commented on #7484
I had slightly different issue - but since ticket title suggests the original problem - I'll describe symptoms in here as well.

I have tried to install nuget package from remote using command line like this:

`nuget install <package id> -excludeVersion -nocache`

It works ok, but it also does not perform install of newer nuget package available on server side.

After cleaning up package folder (o

[2022-08-11 15:40] dominoFire commented on #12017
@dtivel @heng-liu Could you please take a look? Is this PR related? https://github.com/NuGet/NuGet.Client/pull/4722

[2022-08-11 16:22] lukedukeus commented on #7216
I am having this in 17.3.0 and closing and reopening is not helping.

[2022-08-11 16:55] JonDouglas commented on #5887
Hi friends,

🎉 We recently released an experiment in Visual Studio 17.3 regarding this feature. 🎉

https://devblogs.microsoft.com/nuget/introducing-transitive-dependencies-in-visual-studio/

While you all may not be included in the experiment group today, we believe this work concludes the spirit of this issue. If we find no major bugs or perf issues in our experiments, we will release it to every

[2022-08-11 16:55] #5887 closed, assigned to jebriede, chrisraygill

[2022-08-11 17:18] heng-liu commented on #12017
Hi @dtivel , fyi, the installed package NServiceBus.Extensions.Hosting 1.1.0 is the same with the one on nuget.org (I checked content hash).
The verify results on Windows:
[code]

[2022-08-11 17:29] dtivel commented on #12017
@RVink, where `<PackageFilePath>` is the file path for the downloaded package, can you please post the output of `dotnet nuget verify --all <PackageFilePath>` using NServiceBus.Extensions.Hosting.1.1.0.nupkg from https://pkgs.dev.azure.com/rr-wfm/Platform/_packaging/nuget_test_feed/nuget/v3/index.json?  I can't access that feed or I'd do it myself.

[2022-08-11 17:57] RVink commented on #12017
@dtivel. Sure, see the output below.

[code]

[2022-08-11 18:13] dtivel commented on #12017
Thanks.  Can you add `-v diag` using .NET 6.0.400 wherever you saw the warning?

[2022-08-11 18:23] RVink commented on #12017
Of course

[code]

[2022-08-11 18:30] jebriede commented on #12012
@aortiz-msft do we want to put this on our backlog?

[2022-08-11 18:44] jebriede commented on #9747
@nkolev92 what do you think about opening a bug against the SDK and resolving this as external since NuGet doesn't control which project types are loadable by .NET Core msbuild.

[2022-08-11 20:21] sherryyshi commented on #11949
Tangentially related but after applying the workaround I am getting this message:

`error NU1507: There are 2 package sources defined in your configuration. When using central package management, please map your package sources with package source mapping (https://aka.ms/nuget-package-source-mapping) or specify a single package source. The following sources are defined: <URL to index.json>, C:\Pro

[2022-08-11 21:25] jeffkl commented on #11949
The only workaround at the moment is to suppress the warning with `NoWarn`.  I'm actively working on this and it will be fixed in the next release: https://github.com/NuGet/Home/issues/11951

[2022-08-11 21:42] #11760 closed, assigned to jeffkl

[2022-08-11 22:15] jeffkl commented on #10152
I'd like to add a generic ETW provider in all NuGet components and then add a lot more tracing.  This would allow users to run things under PerfView to capture traces that they could send to us to help diagnosing problems.  I've found it to be very useful [in MSBuild](https://github.com/dotnet/msbuild/blob/main/documentation/specs/event-source.md) and Project System.

[2022-08-11 22:17] jeffkl commented on #10275
I've spent a lot of time trying to reproduce this issue but have not been able to.  Is someone able to provide precise steps to reproduce the issue?

[2022-08-11 22:18] jeffkl commented on #9020
I've spent a lot of time trying to reproduce this issue and https://github.com/NuGet/Home/issues/10275#issuecomment-1185759724 but haven't yet had it happen.  Does anyone have precise repro steps I can follow to investigate this further?

[2022-08-12 02:33] sify21 opened #12018 "[Bug]: A typo in NuGet.Client LockFileFormat.cs"
### NuGet Product Used

Other/NA

### Product Version

NuGet.Client repo dev branch

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

It's a typo in source code. I just found it when reading the code. `ServicableProperty` missing a letter `e`

### Verbose Logs

_No response_

[2022-08-12 04:48] MichaelPetrinolis commented on #10275
I think that slow internet connection is the key in order to reproduce it. I have an i7 6700HQ mobile  with 16gb ram, and without setting max parallel option it does not work.I had tried 2 years ago from a high speed ether net connection with the same laptop, without issues. With this option set, it takes a long time to restore a big solution.

[2022-08-12 16:38] #8605 closed, assigned to zivkan

[2022-08-12 18:54] belav opened #12019 "RestoreUseStaticGraphEvaluation is reporting changes"
I ran the following on a large solution
[code]

The second command shows that 1 project needed to be updated
[code]

I diffed the whole `obj` after the first command to after the second command, and there is just a single line change in `project.assets.json` and `Insite.JobQuote.Tests.csproj.nuget.dgspec.json`
[code]

Digging through the other project `obj` folders, none of them include `"allWarni

[2022-08-12 19:12] jeffkl commented on #12019
@belav thanks for reporting the issue and including all the details!  Just to clarify, does static graph restore add the `allWarningsAsErrors` line or does the non-static graph restore do that?

[2022-08-12 20:38] donnie-msft opened #12020 "[Bug]: Build failures in dev branch due to renaming of parameter from cpvmEnabled to centralPackageTransitivePinningEnabled"
### NuGet Product Used

Other/NA

### Product Version

N/A

### Worked before?

_No response_

### Impact

Other

### Repro Steps & Context

In https://github.com/NuGet/NuGet.Client/commit/5957409d5b0316962864951c0295cae05ef24f46#diff-8de78cd9e645067e064929ca49f121aa8a1994934726e4bfdf1f4fd2a84522b7R2916 commit, parameter name was changed from cpvmEnabled to centralPackageTransitivePinningEnabled w

[2022-08-12 20:38] #12020 closed, assigned to kartheekp-ms

[2022-08-12 20:44] belav commented on #12019
@jeffkl It is the non-static graph restore that is adding the `allWarningsAsErrors` line.

I'm also on MSBuild version 17.3.0+f67e3d35e, one potentially important detail that I forgot.

[2022-08-12 21:03] #10159 closed, assigned to jeffkl

[2022-08-12 22:04] mrienhar commented on #11822
I am hitting this problem, however even turning off warnings as errors and suppressing NU1507 it still throws the error and blocks compilation. Has anyone found a solution to this?

[2022-08-12 22:09] Zastai commented on #11822
For me, using `NoWarn` in Directory.Build.props did work. But in the end I just added a source mapping with `*` as package pattern to resolve it in one place (my NuGet.config lives above my project checkouts).

[2022-08-13 08:23] jmecosta commented on #12013
In fact this is pita, we have a internal feed that we dont care is it or not https... now we need to pay for a certificate to use it. Also we have shit loads of projects that will now start failing once we upgrade Visual Studio, along with all the developers complaining there builds are broken because we upgrade VS... Plus all the old code will no longer compile on the build farm if we need. This

[2022-08-13 09:04] NiknakSi commented on #12013
At the risk of going slightly off-topic, I would say that's not really the case now with Let's Encrypt. It should be possible to use a wildcard cert for an internal subdomain to cover your internal services. Automate the renewal process, and automate the deployment of the cert to the services that use it.

However I do appreciate that doing this is likely going to be extra work that you didn't ask

[2022-08-13 09:19] jmecosta commented on #12013
On Sat, Aug 13, 2022 at 12:04 PM Simon Hoade ***@***.***>
wrote:

Thanks for the hint. At least the cost part is covered :)

The https part on itself is trivial, we just get the cert and install it.
And thats it.

This is exactly the point, all our builds are broken, because we are strict
about warnings. And this is the biggest pita really (also the fact that old
commits will no longer build is pr

[2022-08-13 15:19] mrienhar commented on #11822
I will try that, but adding NoWarn in every project has not worked for me, it still throws... The problem isn't during the build but during the nuget restore, it seems.

[2022-08-13 23:59] Piedone commented on #9803
I've made some performance measurements, locally and under GitHub Actions (Ubuntu and Windows) with our [Lombiq's Open-Source Orchard Core Extensions](https://github.com/Lombiq/Open-Source-Orchard-Core-Extensions) solution. This, since it uses [Orchard Core](https://orchardcore.net/), has hundreds of package dependencies with transitive ones included.

You can find my results [here](https://github