[2020-12-17 12:00] kant2002 opened #10388 "How to run specific unit test?"
I have file with failed unit tests, I found list of failed unit tests by running `Select-String -Pattern Result .\build\TestResults\CoreUnitTests-xunit.xml | Select-String -NotMatch -Pattern Pass | Select-String -NotMatch -Pattern Skip`

What's the way how to run single unit test?

[2020-12-17 13:14] jmecosta commented on #6764
comment regarding the override version in project file. Can u instead of have an additional file in the project Directory.Packages.props have override specifiers directlry in the csproj? This is a more clear approach for the end user. since they dont need to guess there is another file i need to bother.

https://github.com/Microsoft/MSBuildSdks/tree/master/src/CentralPackageVersions got it right i

[2020-12-17 13:22] johnkors commented on #10326
Looks good: https://github.com/icenorge/mixed-repro/pull/2/files

[2020-12-17 13:39] marcin-krystianc opened #10389 "[Feature]: Add option to allow versions of transitive dependencies to be overridden"
Recently we've noticed a [PR](https://github.com/NuGet/NuGet.Client/pull/3719) that disables the transitive pinning behaviour for CPVM.
It worries us because we started to rely on that feature (or rather on the unintentional side effect of that feature).

So the problem we are struggling with is the slowness of the restore operation. For large solutions that contain many projects and reference man

[2020-12-17 13:50] kant2002 opened #10390 "Cannot run Nuget.Client library"
I clone project and build it. Build without unit tests was without error.

Install extension using `VSIXInstaller.exe NuGet.Tools.vsix`. This is only extension which I have in the `artifacts\VS15` folder.
After trying to launch `Nuget.VisualStudio.Client` project, build tell me that I have same or lower version of `NuGet.72c5d240-f742-48d4-a0f1-7016671e405b` package.

[2020-12-17 15:11] kzu commented on #6764
I absolutely think that having something like a `VersionOverride` in the .csproj is the best thing for that scenario. Agreed with @jmecosta .

[2020-12-17 15:19] tebeco commented on #6764
Warning:
do NOT use `Directory.Build.props` for versoin but `Directory.Build.targets`
You're going to have trouble at the moment you'll use `TargetFrameworks` + `TargetFramework` in various project
and when you'll have like:
[code]

As `props` are interpreted at the beginning of the files and `targets` at the end, if use use `props`, then, you will run in situation where `TargetFramework` is null/

[2020-12-17 17:44] donnie-msft opened #10391 "Change ArgumentException to CommandException for `PackagePath` argument"
In a PR review comment, @kartheekp-ms suggested switching from ArgumentException/ArgumentNullException to CommandException here. I think that makes sense.

/cc @dominoFire to see if you agree with the following...
https://github.com/NuGet/NuGet.Client/pull/3799#discussion_r544679228

Code: https://github.com/NuGet/NuGet.Client/blob/a52c0addf437f4e358f786acadd4c91a2c80f9b6/src/NuGet.Clients/NuGet.C

[2020-12-17 17:50] donnie-msft opened #10392 "Move CLI exception messages to String Resource files"
There are some hard-coded strings in Exception messages for the CLI.
After some PR discussion, it seems we should create localized strings for these: https://github.com/NuGet/NuGet.Client/pull/3799#discussion_r544749207

Example:

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio/LegacyTypes/SemanticVersion.cs#L146

I believe this one comes up for folks quite a lo

[2020-12-17 17:53] kartheekp-ms commented on #10324
Can we close this issue now as I am unable to repro on dotnet CLI last week build?

[2020-12-17 18:11] zkat commented on #10277
Closing for now--please file a new issue using the issue template if you're able. Thanks!

[2020-12-17 18:11] #10277 closed, assigned to nobody

[2020-12-17 18:12] zkat commented on #10296
Closing this for now--please file a new issue using the issue template if you're able and we'll take a look then.

[2020-12-17 18:12] #10296 closed, assigned to nobody

[2020-12-17 18:14] #10324 closed, assigned to v-luzh, kartheekp-ms

[2020-12-17 18:15] zkat commented on #10344
Alright. Thanks for filing the issue. I'll close this since this is not something we'll be able to continue looking into. Glad things are working now!

[2020-12-17 18:15] #10344 closed, assigned to nobody

[2020-12-17 18:21] zkat commented on #10349
The missing file is a temp file that should have been written, and it's part of some atomic-writes code for extraction. Stuff like this tends to be because of some weirdness with filesystems going on, or operating system locks, but you're not on Windows, so it's hard to think of why that temp file might not be getting written, much less only on a particular configuration (your Jenkins machine). Wi

[2020-12-17 18:25] zkat commented on #10352
@erdembayar can you check if this is actually a regression?

[2020-12-17 18:32] zkat commented on #10371
Not much we can do without a repro here. Sorry you ran into this, and this is clearly an issue. If you ever do run into it again, please go ahead and create a new issue and we'll definitely look into it. Thanks for taking the time to file this!

[2020-12-17 18:32] #10371 closed, assigned to nobody

[2020-12-17 18:37] donnie-msft commented on #10390
My first reaction is to try the following:

1. Try downgrading, see if that succeeds. Then retry installing the new VSIX.
Downgrade command: `VSIXInstaller.exe /d:NuGet.72c5d240-f742-48d4-a0f1-7016671e405b`
See: https://github.com/NuGet/NuGet.Client/blob/dev/docs/debugging.md#uninstalling-a-custom-version-of-the-nuget-extension-from-visual-studio

2. If no luck there, maybe VS Setup logs will show

[2020-12-17 19:22] kant2002 commented on #10390
It is even more interesting. I manage to figureout that installing Nuget.Tools.vsix was not nescessary, and VS SDK automatically install extension to `/rootSuffix:Exp` instance of VS. I think it is required to make clarification, that installing of dev version for debugging is not needed.

[2020-12-17 19:26] rrelyea opened #10393 "Tests should avoid real HTTP URLs"
![image.png](https://images.zenhubusercontent.com/57e3278195e42b6c5ba944ef/5a063d03-813f-4378-86bf-b470347af281)

![image](https://user-images.githubusercontent.com/8865080/102533881-d2096f00-405a-11eb-9668-4911a8739de1.png)

![image](https://user-images.githubusercontent.com/8865080/102534098-198ffb00-405b-11eb-8bb0-07b655162bf1.png)

![image](https://user-images.githubusercontent.com/8865080/102

[2020-12-17 19:58] #10384 closed, assigned to zivkan

[2020-12-17 19:59] donnie-msft commented on #10390
If this line clarified it would cause VS to install the VSIX, would that make it clear?

[2020-12-17 20:10] kant2002 commented on #10390
Partially. Specifically it should be clear that installation of package manually can cause debug scenario to break, since VS SDK cannot install extension of same version.

Maybe

At least this gives hint what's going on behind the scene.

[2020-12-17 20:13] donnie-msft commented on #10388
See if this helps https://docs.microsoft.com/en-us/dotnet/core/testing/selective-unit-tests?pivots=xunit

[2020-12-17 20:19] donnie-msft commented on #10381
@lg2de The layout for a package in this scenario is described here: https://docs.microsoft.com/en-us/nuget/create-packages/select-assemblies-referenced-by-projects
Let us know if that gets you on the right track. Unfortunately, I don't believe we have any tooling to help author a package in this layout.

[2020-12-17 20:29] MagicAndre1981 commented on #10371
As I have no idea which cache files fail to read, I can't give you details. Update the Exception with more details about the files that fail to read.

[2020-12-17 20:29] kant2002 commented on #10388
@donnie-msft does this worth to put into documentation? Not `dotnet test` command specifically, but as suggestion for first-time user of the repo, that you can run unit tests using dotnet test, or possible even VS (is it supported scenario?)

[2020-12-17 20:35] nkolev92 commented on #10390
Making we can add a common pitfalls, Q&A in the debugging doc.

Should we make that by product or just general?

[2020-12-17 20:43] donnie-msft commented on #10388
Some think it's out of scope for our docs, but on the other hand, a couple pointers may not be bad to add. I'll make a quick proposal...

[2020-12-17 20:44] #10335 closed, assigned to nkolev92

[2020-12-17 20:55] donnie-msft commented on #10387
I provided some links to testing docs in your other issue. Basically, you can use VS for a GUI to interact with tests and view results, or you can use the test runner CLI directly to run specific tests. The script isn't the best way to develop, in my opinion, it's more of a final step before creating a PR.

[2020-12-17 20:55] #10387 closed, assigned to nobody

[2020-12-17 21:02] nkolev92 commented on #10367
Thanks @samcragg

We really appreciate you starting the conversation toward a solution.
I will try to review the doc and provide some feedback.

Please note that due to it being the end of the year, many stakeholders are on vacation already/will go on vacation soon, so it might take some time to get a proper turnaround!

[2020-12-17 21:05] kant2002 commented on #10388
My questions is some sort of answers on following questions asked here
https://twitter.com/zkat__/status/1338610968096505856?s=21

On Fri, Dec 18, 2020 at 02:43 donnie-msft <notifications@github.com> wrote:

[2020-12-17 21:15] rconard commented on #10389
@marcin-krystianc, this is our current plan. The actual implementation may be a little rough as we get the pieces in place, but we're working on it. 👍

[2020-12-17 23:10] donnie-msft commented on #9882
We just got a similar report here: https://developercommunity2.visualstudio.com/t/Manage-nugets-solution-packages-fails-af/1286016

I think there are a few different causes going on and it's going to take some more digging. In the meantime, I'd ask if possible that you submit a VS Feedback ticket, and ideally link it to the one above (for now) so I can review the stacks, logs, etc.
[How to report

[2020-12-17 23:45] zkat opened #10394 "Overhaul Pack/Push documentation to prioritize modern package authoring"
Reading through [our documentation on package authoring](https://docs.microsoft.com/en-us/nuget/create-packages/overview-and-workflow) is pretty confusing these days, because it's largely written with `packages.config` and `.nuspec` scenarios in mind. I've also noticed that a lot of documentation related to doing certain tasks in SDK-style projects is just plain missing.

We should comb through th

[2020-12-18 01:13] agr opened #10395 "Make NuspecReader async"
## Details about Problem

NuGet product used: [NuGet.Packaging](https://www.nuget.org/packages/NuGet.Packaging/5.8.0) package
NuGet version: 5.8.0
Worked before? If so, with which NuGet version: no?

## Detailed repro steps so we can see the same problem

1. `NuspecReader` class [constructor](https://github.com/NuGet/NuGet.Client/blob/b5b44526dea0379ebd6c8e51e8a041c06d5845ca/src/NuGet.Core/NuGet.P

[2020-12-18 01:48] aortiz-msft commented on #5995
@moonboy13 - Yes, it would be great if you could open a new issue with specific repro steps that we can try out.

[2020-12-18 02:51] Anipik opened #10396 "Introduce a new msbuild property to exclude build output for specific tfms during pack task"
Nuget currently provides a msbuild called IncludeBuildOutput to disable including the build output for all tfms.
Nuget provides this kind of feature for other targets like ```_GetFrameworksWithSuppressedDependencies``` which run during the pack command.
It will enable the scenario where developer wants to exclude a certain kind of build output for a specific tfm.

cc @ViktorHofer @nkolev92 @ericst

[2020-12-18 04:39] kartheekp-ms commented on #10349
This may or may not be related. But looking at this [comment](https://github.com/NuGet/Home/issues/3324#issuecomment-256293851) about long paths in Jenkins environment, I just wanted to check you are experiencing this issue [due to long paths](https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-long-path).

[2020-12-18 05:53] ImAMightyPirate commented on #10370
Hi @kartheekp-ms, we have now updated our nuspec file to the following:-

[code]

We are still seeing the same issue occur on restore with this change.

[2020-12-18 06:09] aortiz-msft commented on #10307
Closing as External per last comment.

[2020-12-18 06:09] #10307 closed, assigned to nkolev92

[2020-12-18 08:33] msallin commented on #10349
I am on vacation and will come back to it afterwards.

I wanted to remind about what is known:
- It worked with .NET Core 2.0, 2.1, 3.0 and 3.1 (and still does)
- It doesn't work with .NET 5.0
- It is not slave depended (however, every slave uses the same docker image)
- Reset all caches (directories which are mounted & recreate the slave) doesn't change anything
- Setting env.NUGET_CERT_REVOCATIO

[2020-12-18 08:39] msallin commented on #10349
See paths in the logs: https://github.com/dotnet/sdk/issues/14547#issue-743150997
I don't think they are a problem. And, as stated, it works for all NuGet packages expect for global tools and it works for .NET 3.1

[2020-12-18 10:08] marcin-krystianc opened #10397 "Missing tests for the case where packages are referenced with PrivateAssets="All" attribute"
## Details about Problem

NuGet version: dev

## Detailed repro steps so we can see the same problem

There are no `RemoteDependencyWalker` tests for the case where packages are referenced with PrivateAssets="All" attribute, e.g.:
[code]

Because of that these lines don't have any test coverage: https://github.com/NuGet/NuGet.Client/blob/b5b44526dea0379ebd6c8e51e8a041c06d5845ca/src/NuGet.Core/NuGe

[2020-12-18 12:00] lg2de commented on #10381
Hey @donnie-msft, thanks for your response. I think it goes in right direction. There is described a difference between compile and runtime assets. That is what I need.

The page is a bit confusing to me. I had to read the article several times to understand what it was actually trying to describe.
Further it would be great to have information whether this also applies to dotnetcore and net5.0.

D

[2020-12-18 16:06] ViktorHofer commented on #10396
Or just respect the existing property in inner builds as well?

[2020-12-18 16:36] Anipik commented on #10396
yep i thought that as well, just added a new one to just start the discussion. moving the existing property to innerbuilds will be optimal

[2020-12-18 17:03] ViktorHofer commented on #10396
Agreed, this is a good way to start a discussion. What confused me is that you already opened a PR with a new property name. The problem with a new property is that even if it will be documented (which it should be), it would cause confusion about the differences between the existing and the new one.

[2020-12-18 17:24] donnie-msft commented on #10395
/cc @zkat for triage

[2020-12-18 17:24] #10390 closed, assigned to nobody

[2020-12-18 18:20] brettrowberry opened #10398 "What's the .NET SDK Equivalent of `nuget init`"
## Details about Problem
With Nuget.exe, the command
`nuget init .\src .\dest\`
will put hierarchical versions into the `dest` directory based on the `.nupkg` files in the `src` directory.

How can I do this using dotnet.exe?

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet.exe
dotnet.exe

NuGet version (x.x.x.xxx):
5.6.0.6591

dotnet.exe --version (if appropri

[2020-12-18 19:08] donnie-msft commented on #9420
Another report with SQL Server data tools projects: https://developercommunity2.visualstudio.com/t/Error-message-after-trying-to-open-Nuget/1291544

[2020-12-18 19:13] zkat commented on #10360
Survey's closing today, so I'm closing this issue. Thanks y'all who responded!

[2020-12-18 19:13] #10360 closed, assigned to nobody

[2020-12-18 20:04] nkolev92 opened #10399 "Clean-up the contributing docs"
Remove redundant information such as NET5 preview info.

[2020-12-18 20:22] loic-sharma opened #10400 "The "nuget spec" command generates a .nuspec file with an iconUrl"
## Problem

[Our docs for creating a package](https://docs.microsoft.com/en-us/nuget/quickstart/create-and-publish-a-package-using-visual-studio-net-framework#generate-the-initial-manifest) uses the `nuget spec` command. This generates a nuspec with an `iconUrl`, which is a deprecated property.

Once we fix this issue, we should update our docs. See: https://github.com/NuGet/docs.microsoft.com-nug

[2020-12-18 20:58] paulomorgado opened #10401 "Visual Studio unable to restore packages and build solution"
## Details about Problem

dotnet.exe --version: 5.0.100

VS version: VisualStudio.16.Release/16.8.3+30804.86

OS version: Microsoft Windows [Version 10.0.21277.1000]

## Detailed repro steps so we can see the same problem

1. Delete the **.vs** folder
2. Delete all **bin** and **obj** folders
3. Open the solution in Visual Studio
   1. Visual Studio should restore packages, but doesn't
      1. Vi

[2020-12-18 21:13] zivkan commented on #10401
Using `CPS_DiagnosticRuntime=1` as per [project system's debugging instructions](https://github.com/dotnet/project-system/blob/master/docs/repo/debugging/logging.md), I see that project system is not nominating any package references to NuGet.

we should move this to dotnet/project-system.

[2020-12-18 21:23] donnie-msft commented on #10401
Tried your repro project, and there are Targets referenced that don't exist.

![image](https://user-images.githubusercontent.com/49205731/102662673-47556c80-414d-11eb-99a9-cc5fde6e6d9e.png)
![image](https://user-images.githubusercontent.com/49205731/102662666-44f31280-414d-11eb-892a-8deecf955596.png)

[2020-12-18 21:34] donnie-msft commented on #10401
Moved to https://github.com/dotnet/project-system/issues/6801

[2020-12-18 21:34] #10401 closed, assigned to nobody

[2020-12-18 21:44] #7161 closed, assigned to nkolev92

[2020-12-18 22:01] nkolev92 commented on #10394
There's already a duplicate doc issue here: https://github.com/NuGet/docs.microsoft.com-nuget/issues/2165 created by you :D

[2020-12-18 22:53] paulomorgado commented on #10401
@donnie-msft, nor were any analyzers being loaded. If you enable information messages, you'll see messages about unnecessary suppressions. They are unnecessary because there aren't diagnostics for those suppressions.

[2020-12-19 00:15] nkolev92 commented on #4463
There are no technical blockers anymore afaik.

The concern would be the migration plan.
For better or worse newer NuGet versions are often used with older build tooling, so this change would potentially break that.

This needs to be carefully analyzed to avoid fall outs similar to what we had to fix with https://github.com/dotnet/sdk/pull/14517.

[2020-12-19 04:40] #10388 closed, assigned to nobody

[2020-12-19 04:51] donnie-msft commented on #10398
I'm not sure if this is available... @dominoFire ?

[2020-12-19 05:48] donnie-msft commented on #9882
Also here: https://developercommunity2.visualstudio.com/t/Cant-Update-ALL-nuget-packages-at-once/1291234

[2020-12-19 14:55] brettrowberry commented on #10398
What I’m trying to accomplish is first, to generate a NuGet package on my machine, and second, consume it in another solution. I’d like to be able to rapidly iterate on the package and do all this with only dotnet.exe (no NuGet.exe).

[2020-12-19 15:10] brettrowberry commented on #10398
This article explains it well https://www.nequalsonelifestyle.com/2019/10/31/local-nuget-dependencies-on-linux/

They ran `nuget add` (`nuget init` does the same thing but for every .nupkg in a directory), but the limitation is the same.

[2020-12-19 15:57] zivkan commented on #8583
When we do surveys, one of the top complaints from customers is the lack of ability to determine whether a package is compatible with their project before they attempt to install the package. They don't like attempting to install, only to get an error.

I don't remember which version of Visual Studio first started showing dependency groups in PM UI, I don't think VS2010 did, so I'll guess VS2012,

[2020-12-19 20:01] StingyJack commented on #8583
@zivkan  - There are packages that show up as "Blocked" and then packages that have dependency groups defined correctly that still only report incompatibility at install time (meaning the thing users wanted was not fixex)....

Nuget team has complained in the recent past about the protocol being slow and problematic as a reason why the search is crummy. Deleting the link to the XSD (from what is m

[2020-12-19 21:08] zivkan commented on #8583
I'm not disputing there are bugs, I'm trying to help give an understanding why NU5128 was added in the first place.

[2020-12-19 21:11] zivkan commented on #10398
@brettrowberry you can put all the nupkgs in a single directory and use that as a local source. It's not necessary to put them in a hierarchical (v3) folder structure. The v3 folder structure has better perf than a flat directory of nupkgs, but if it only contains the packages that you're testing in an "inner-loop" scenario, the difference in perf will be negligible.

[2020-12-19 21:47] brettrowberry commented on #10398
That’s good to know! Would your advice be the same if I was creating a package A that depended on two other packages I was making, B and C, and testing A?

[2020-12-19 23:01] zivkan commented on #10398
I wouldn't expect the perf difference to be noticeable for restore unless you have hundreds of nupkgs in the folder, maybe thousands depending on disk and CPU. Assuming you periodically clear our the folder you're using for testing while developing a package, I wouldn't expect you to have an issue.

It would be more apparent for search (like Visual Studio's package manager). But honestly if perf i

[2020-12-20 02:34] donnie-msft commented on #10381
Hello. I think based on this line, I would assume any Core (and NET5) TFM would work, since they always use PackageReference.

Regarding tooling, I was relaying a comment from @zivkan, who can hopefully clarify.
zivkan, we may need to clarify these docs..? Especially if what I just said is a wrong interpretation :)

[2020-12-20 09:07] quintonn commented on #10172
I am having this same problem.
Is this a bug only with .net core projects because I've read it works with .net Framework projects and in fact I am able to achieve the desired outcome with some of my .net framework projects, but not using .net core (5)?

[2020-12-20 10:04] unitrix0 commented on #6118
agreed https://github.com/dotnet/docs/issues/22097

[2020-12-20 12:25] BehroozAmoozad opened #10403 "_GenerateRestoreProjectPathWalk is too slow."
## Details about Problem

Latest stable dotnet and all previous versions that I know of are affected.
ALL OS
ALL environments
Worked before? No

## Detailed repro steps so we can see the same problem

1. Have a complex solution with dependencies all over the place

2. Execute `dotnet restore /clp:PerformanceSummary SolutionName.sln`

3. 124286 ms  _GenerateRestoreProjectPathWalk          257 calls

[2020-12-20 12:44] TFTomSun commented on #6754
just discovered that the workaround from here https://github.com/NuGet/Home/issues/6754#issuecomment-592283619 just works as long as your development package has no other development package as dependency, for which you have to avoid the cyclic dependency error as well.
If a dev package has a dependency on another dev package for which you workaround the cycle detection error you'd get the '_temp'

[2020-12-20 13:31] macfarmw commented on #9954
I also get this error with version 5.7 and 5.8. Using version 5.6 is works fine.

[2020-12-20 14:50] zivkan commented on #10381
If you want your package to be compatible with package consumers using packages.config, then unfortunately yes, the only way to create the `<references>` section, as per the docs, is to use a custom nuspec file.

If you're fine with only supporting package consumers using PackageReference, then no, it's not necessary to use a nuspec, but you'll still need to do quite a bit of customization in your

[2020-12-21 04:57] rocklan commented on #5630
I had a similar problem, except it was occuring when building my solution inside azure devops. No circular dependency, the issue was just that I defined a variable named `packageId` at the top of my yaml. Renaming it fixed the problem. Seems like a bug to me, it should at least alert me that this is a reserved variable name.

[2020-12-21 07:35] kzu commented on #6764
I don't think it's highly relevant that the `Directory.Packages.props` is instead a .targets, since it just declares the items and it's conceivable useful to be able to override the version via the .csproj (i.e. with a `PackageVersion Update="..." Version="..."` Condition="..."`, which would be impossible otherwise (unless you run `AfterTargets="CollectCentralPackageVersions"` or something like th

[2020-12-21 14:34] bitbonk commented on #10381
I have this question too. Did I miss the answer to to this, here? To me it looks like that I always (even if I do not need packages.config support) have to put the assemblies that should be referenced both at compile time and at runtime into `ref\<ftm>` _and_ `lib/<tfm>`. This is redundant and would increases the size of the nuget pakage unnecessarily.

[2020-12-21 16:34] kzu commented on #9465
Heya, yes, count me in if it's not too late.

It was confusing that the options were not all laid out it in the main description, and rather just a comment, but yes, the comment includes what I mentioned.

[2020-12-21 18:51] #10399 closed, assigned to nobody

[2020-12-21 19:23] nkolev92 commented on #9954
Hey all,

We've had trouble reproing what some of you articulating.

It'd be helpful if you can zip up a project and upload it here. @macfarmw @markoueis

[2020-12-21 19:53] nkolev92 commented on #10396
I think reusing the existing property is better than the new one.
Thinking through it, I don't think there should be any concerns with compat with that either.

[2020-12-21 19:53] nkolev92 commented on #10396
cc @zkat when they're back :)

[2020-12-21 21:31] #10378 closed, assigned to jebriede

[2020-12-21 22:05] donnie-msft commented on #9804
Developer community: https://developercommunity2.visualstudio.com/t/Nuget-does-not-show-all-the-updates/1256924

[2020-12-21 23:56] Anipik commented on #10396
Updated the pr

[2020-12-22 02:10] nkolev92 commented on #9810
Fix in PR https://github.com/NuGet/NuGet.Client/pull/3815

[2020-12-22 09:42] xoofx opened #10404 "Make readonly files by default in NuGet packages"
Hey,

Related closed issue #1729

In the project Scriban, I'm using a mode where I ship with my package also the sources of the project that can be used internally in the consuming projects (these are not contentFiles but custom source files added by the package). See [embedding source](https://github.com/scriban/scriban#source-embedding) in Scriban.

It allows me to release a NuGet package with b

[2020-12-22 14:19] sgordon5691 commented on #10313
Hey @nkolev92 , I'm the dev having this issue. I'll be able to compare those folders later today and will let you know, thanks!

[2020-12-22 15:35] ViktorHofer opened #10405 "Optionally validate PackageDescription and throw if not set"
`PackageDescription` is always set to a default value if both `Description` and `PackageDescription` are empty: https://github.com/NuGet/NuGet.Client/blob/5e1970e323f9f55794c6a77562c5535c12d5c2a4/src/NuGet.Core/NuGet.Build.Tasks.Pack/NuGet.Build.Tasks.Pack.targets#L35.

It's not uncommon to require a project to set a PackageDescription and throw if none is set. Instead of every consumer adding an

[2020-12-22 18:37] sgordon5691 commented on #10313
Hey @nkolev92,

These are the versions I have listed on the machine that I can't build on:
2.1.12
2.1.13
2.1.15
2.1.16
2.1.17
2.1.18
2.1.20
2.1.21
2.1.22
2.1.23

And these are the versions listed on my local machine where I can build:
2.1.0
2.1.12
2.1.13
2.1.14
2.1.15
2.1.17
2.1.18
2.1.19
2.1.20
2.1.21
2.1.22
2.1.23

Please let me know if you need anything further, thank you.

[2020-12-22 18:51] zivkan opened #10406 "SDK projects with bad data not showing restore errors in VS"
If you have a project with an error that allows the project to be loaded, but with an error that NuGet can't handle, the assets file is not being written and therefore no error is being reported in Visual Studio.

An example of such an error is a PackageReference with an invalid version string `<PackageReference Include="NuGet.Versioning" Version="broken" />`.

Broken in both VS16.9 previews, and

[2020-12-22 20:05] scottdallamura commented on #7709
this would be really nice to have.

scenario:
we are implementing Microsoft.DoNet.ApiCompat checks and to make it super smooth we want to reference the previously-published version of our package.  with <PackageDownload> we can do that without any dependency cycles... however since it requires an explicit version, this would require us to manually edit the csproj after each publish with the newly-

[2020-12-22 20:21] donnie-msft commented on #10406
Found this problem in https://developercommunity2.visualstudio.com/t/Nuget-integration-is-broken/1291549

[2020-12-22 20:26] #9986 closed, assigned to nkolev92

[2020-12-22 21:29] roofiq commented on #4054
Any update on this? I am facing same issue when I'm trying to pack non-sdk project that references netstandard2.0.

[2020-12-22 22:26] adrianiftode opened #10407 "Source parameter is not considered for `dotnet add package` command"
## Details about Problem

NuGet product used dotnet.exe

dotnet nuget --version
NuGet Command Line
4.9.4.0

dotnet.exe --version (if appropriate):
5.0.101

VS version (if appropriate):

OS Version:                10.0.18362 N/A Build 18362

Worked before? If so, with which NuGet version:

Don't know, but other commands work (ie dotnet restore)

## Detailed repro steps so we can see the same proble

[2020-12-22 22:44] nkolev92 commented on #8973
Fix out in https://github.com/NuGet/NuGet.Client/pull/3816.

[2020-12-22 22:49] nkolev92 commented on #9396
Internal issue was closed as `not repro`. Possible it was fixed by other related efforts since the original filing of the issue.

We should validate that it's actually correct.

[2020-12-22 23:20] davidliang2008 opened #10408 "Floating versions not working for pre-release packages with semantic versioning suffix like "-alpha""
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 5.8.0.6930

VS version: Visual Studio Professional 2019 Version 16.8.3

OS version: Windows 10 Pro for Workstations, 64 bits, Version 2004, OS build 19041.685

## Detailed repro steps so we can see the same problem

1. Create and deploy a library as NuGet package. Push it as pre-release: LibA.2.1.1-alpha, for example

2. Creat

[2020-12-23 02:37] nkolev92 commented on #10313
Hey @sgordon5691 Can you look at the content of the individual directories?

Does clearing the global packages folder fix your issue?

[2020-12-23 02:39] sgordon5691 commented on #10313
Hey @nkolev92, I can try clearing that folder out completely in the morning and seeing if that does the trick. I'll keep you posted, thanks!

[2020-12-23 07:38] v-luzh commented on #10324
This issue is fixed on Main\30822.27 with .NET SDK 5.0.200-preview.20614.14.

[2020-12-23 09:50] v-luzh opened #10409 "Embedded icons showed incorrectly as default nuget packge icon instead of the ones set in nuspec/csproj file"
## Details about Problem
NuGet version: NuGet Client Dev\5.9.0.6996
VS Version: Main\30822.27
OS: Windows-10-Enterprise-19h2
## Detailed repro steps so we can see the same problem
1.Create a Class Library (.NET Framework 4.8) in VS and build the solution.
2.In the Developer Command Prompt for VS, create a nuspec file by executing command “nuget spec”
3.Make an image file (size limited to 1 MB with

[2020-12-23 12:00] iitaiy commented on #3891
You are correct, this will add only the referenced project dlls and not the dependencies of other NuGet packages.
Does anyone have a solution for it?

For example:
Project A
    |----> Project B

Project B
   |----> SomePackage

We will get NuGet package that includes ProjectA and ProjectB dlls, but without the dependency to "SomePackage".

[2020-12-23 12:23] UweKeim commented on #7688
In my case it seemed that I had to re-generate the API key, _after_ changing the glob pattern.

Changing it before did not help.

[2020-12-23 14:28] cesharpcom commented on #9954
I can confirm I have the same issue on my environment!

NuGet Version: 5.6.0.6591 => no issue
NuGet Version: 5.8.0.6930 => WARNING: NU5115: Description was not specified. Using 'Description'.

This is on a .NET Framework 4.8 ( VS 2019) class library where we use this command:
Command line: pack "MyProj.csproj" -OutputDirectory "outpurdir" -Version "7.0.0.0" -Symbols -IncludeReferencedProject -Prop

[2020-12-23 14:41] sgordon5691 commented on #10313
Hey @nkolev92,

Clearing out that global packages folder may have done the trick! I was able to clean and rebuild the solution. I will have a more definite answer next week, but hopefully this ends up fixing it. Thanks and enjoy your holidays!

[2020-12-23 14:48] cscuser opened #10410 "Must use PackageReference"
packages\Microsoft.Windows.SDK.Contracts.10.0.17763.1000\build\Microsoft.Windows.SDK.Contracts.targets(4,5): error : Must use PackageReference

when i install Microsoft.Identity.Client library using Nuget Manager I got "Must use PackageReference" error in .Net MVC Project.

[2020-12-23 15:08] marqdouj opened #10411 "TFS Restore Task Fails When .NET 5 Desktop App References .NET Standard 2.0 Package"
## Details about Problem

NuGet product used (NuGet.exe | VS UI ):

NuGet version (8.5.0):
VS Version 16.8.3
TFS 2018

## Detailed repro steps so we can see the same problem

1. Create a .NET 5 WPF Desktop App in VS.
2. Add a reference to .NET Standard 2.0 package (it restores fine)
3. Use the package in the app and build/run it (works fine).
4. TFS 2018 - Create build definition that uses NuGet 5

[2020-12-23 15:38] marqdouj commented on #10411
I figured out what the problem was. The VS version on the Build Server was older than what I had on my desktop. Once I upgraded the Build Server to the latest version of VS all works fine.

[2020-12-23 15:38] #10411 closed, assigned to nobody

[2020-12-23 16:15] vweevers commented on #10257
I had the same issue (`Any,Version=v0.0`) with nuget 5.8.0.6930 in GitHub Actions. Can confirm that 5.9.0-preview.2 fixes it 👍

[2020-12-23 17:10] donnie-msft commented on #10409
/cc @rrelyea

[2020-12-23 18:04] TheXenocide commented on #6689
Looks like there's still no solution to making different packaging patterns for different target framework outputs. I'm trying to make a package that produces net48 and netcoreapp3.1 `lib\` outputs and a netstandard2.0 `ref\` output. It has proven itself inordinately difficult which is somewhat strange since this seems like an incredibly common scenario, especially considering that there are sever

[2020-12-23 18:51] nkolev92 opened #10412 "UninstallPackageFromUI is flaky"
NuGetUITestCase.UninstallPackageFromUI is extremely flaky.

It fails because of loading the PM UI control. Instictively this sounds like something that *should not* be specific to this test, but it's always the same one, despite the fact that many tests do the same thing.

[2020-12-23 18:53] nkolev92 opened #10413 "Disable flaky test - UninstallPackageFromUI"
Related to https://github.com/NuGet/Home/issues/10412

[2020-12-23 19:01] TheXenocide commented on #6689
Anybody else running into this, in the meantime this is the workaround I came up with for my use case:

[code]

Several of the properties you would hope to use to provide similar functionality are only evaluated once on the outer build and many outputs from different nested msbuild targets are combined within individual targets whose outputs are intended to be private and are then passed directly

[2020-12-23 20:08] zivkan commented on #10410
The error is coming from the package, not from NuGet (see the path to the targets file, as reported by MSBuild).

Looking at the package on nuget.org: https://www.nuget.org/packages/Microsoft.Windows.SDK.Contracts/
it says this:

You can contact the package owner on nuget.org, on the right side under the "Info" block, there's a link "Contact owners".

There's nothing the NuGet team can do about pa

[2020-12-23 20:22] #10413 closed, assigned to nkolev92

[2020-12-23 21:04] nkolev92 commented on #9954
@cesharpcom Can you get a repro for us?

[2020-12-23 21:53] agr opened #10414 ""Unable to load the service index for source https://api.nuget.org/v3/index.json" in unbuntu"
@hieunm22 commented on [Sun Dec 13 2020](https://github.com/NuGet/NuGetGallery/issues/8351)

I'm using **ubuntu 18.04 LTS** and going to build my application using dotnet build
but it pops an error that tells _Unable to load the service index for source https://api.nuget.org/v3/index.json._
I tried to search the same issue and I found this [thread](https://github.com/NuGet/NuGetGallery/issues/7705

[2020-12-23 22:08] nkolev92 commented on #10374
Dup of https://github.com/NuGet/Home/issues/10326.

Fixed in 5.9.0-preview.2 https://dist.nuget.org/win-x86-commandline/v5.9.0-preview.2/nuget.exe

[2020-12-23 22:09] #10374 closed, assigned to nkolev92

[2020-12-23 22:14] #8565 closed, assigned to nkolev92

[2020-12-23 22:17] tebeco commented on #8565
thx a lot for this

[2020-12-23 22:26] nkolev92 commented on #8565
sorry for the delay...5.9 is when this will ship.

[2020-12-23 22:29] tebeco commented on #8565
a fix is still a fix :) 👍
regarding the version where is will land, would it be possible to have build automatically set a `tag` or associate a `github milestone` ? so that anyone opening an already close issue (same for PR) would know the minimal version ?

[2020-12-23 22:34] nkolev92 commented on #8565
We tag the commits, would that be enough? In particular, see https://github.com/NuGet/NuGet.Client/commit/e9722d69400a57d2c0508bbce9e9591fcad550f1, it has 2 tags, 5.9.0.6991 and 5.9.0.6995.

[2020-12-23 22:53] txwizard opened #10415 "Reason: Generated API Key is Truncated"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (5.8.0.6930):

dotnet.exe --version (if appropriate):

VS version (i16.8.3):

OS version (10.0.19042.685)):

Worked before? If so, with which NuGet version: 4.9.4.5839

## Detailed repro steps so we can see the same problem

1. Generate a NEW API key.

2. Copy the generated key i

[2020-12-23 23:02] txwizard commented on #10415
It occurred to me that it would be useful to incorporate my previous correspondence into this issue.

[Gmail - RE_ [EXTERNAL] Support Request (Reason_ Generated API Key is Truncated).pdf](https://github.com/NuGet/Home/files/5737416/Gmail.-.RE_.EXTERNAL.Support.Request.Reason_.Generated.API.Key.is.Truncated.pdf)

[2020-12-23 23:09] agr commented on #10415
Some comments from the server side:

This is the proper length of API keys generated by nuget.org.

I don't think nuget.org ever generated API keys that long. Definitely not in the past 3-4 years.

I'll let the client folks to find the root cause, but I don't think you are supposed to put API keys into nuget.config in [clear text](https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#

[2020-12-23 23:13] txwizard commented on #10415
Please do so, since you clearly know not whereof you speak. I've been
pushing NuGet packages since 2016, and this is the first such truncated key
that I've seen. Note as well that the application reported it as truncated.

On Wed, Dec 23, 2020 at 5:09 PM Andrei Grigorev <notifications@github.com>
wrote:

--
David Gray
http://www.wizardwrx.com/
http://www.myplacemassage.com/

[2020-12-23 23:45] nkolev92 commented on #9623
The repro was really helpful.

The problem is that there is a ProjectReference from PR -> PC, and the lock file is checking compat.

Investigating options right now.

[2020-12-24 00:54] donnie-msft opened #10416 "Debugging PMUI in Experimental Instance sometimes throws InvalidCastException from SolutionView to ProjectView"
Sometimes while debugging NuGet in experimental instance, you can see this exception.
Started in timeframe of August 2020. Many team members mentioned it in September-November timeframe.

On 9/14/2020, this CreateAsync was added which creates a PackageManagerControl, which calls `InitializeComponent`
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.UI/Xamls/

[2020-12-24 01:08] nkolev92 commented on #10408
@davidliang2008

Hey, please refer to https://github.com/NuGet/Home/wiki/Support-pre-release-packages-with-floating-versions#non-goals.

[2020-12-24 01:24] #10408 closed, assigned to nobody

[2020-12-24 02:47] nkolev92 commented on #9623
Fix in review https://github.com/NuGet/NuGet.Client/pull/3820.

[2020-12-24 02:56] zhhyu commented on #10415
Hi, @txwizard ! Thank you for reporting this issue!
As mentioned in this document: https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#apikeys, "nuget.config" stores the encrypted version of the API key, rather than the raw API key generated from "nuget.org".
So the suggestion here is to generate the API key from "nuget.org", and run "setapikey" command (https://docs.microsoft.com/e

[2020-12-24 03:53] #10397 closed, assigned to donnie-msft

[2020-12-24 06:48] ronaldbarendse commented on #10410
@zivkan This is indeed related to: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2247

[2020-12-24 21:31] bladewolf55 commented on #9954
I'll revisit this in the next few days and not only rewrite my repo steps (found earlier in the thread) but also provide a project. Is it clear that if NuGet 5.7+ is used, with the environment and steps previously given, the error always occurs?

[2020-12-26 03:18] hero3616 commented on #10275
Having the same issue on Mac with .NET 5 Docker 20.10. Any update on this? --disable-parallel works but takes 10x longer

[2020-12-26 18:50] cpuwzd commented on #10382
I'm also having this issue. I'm trying to install Wix 4. I'm running the following command:

D:\Repos\Wix\Tools>dotnet pack -c Release src\WixToolset.Sdk -bl

I've zipped and attached the msbuild.binlog file that was produced:

[msbuild.binlog.zip](https://github.com/NuGet/Home/files/5743517/msbuild.binlog.zip)

If you examine the log using MSBuild Structured Log Viewer, you can see where the erro

[2020-12-26 20:15] fabio-muramatsu commented on #10257
@nkolev92 Sorry for the delay. I can confirm it's generating the right lock file using 5.9.0-preview.2. Thank you!

[2020-12-26 21:51] bladewolf55 commented on #9954
Here's a blog post I wrote on the subject, with the same information as below.

Source code: [ClassLibrary1.zip](https://github.com/NuGet/Home/files/5743669/ClassLibrary1.zip)

## Environment

[code]

## More Info
There are multiple failures being reported below. The fundamental one is that NuGet 5.7 and above ignore token replacements in .nuspec files from .NET Framework project .csproj files.

#

[2020-12-26 23:11] bitbound opened #10417 "NuGet won't read config from NuGet.Config files in %appdata%\NuGet\, %programfiles(x86)%\NuGet\Config\, or solution directory."
NuGet won't read config (e.g. `globalPackagesFolder`) from NuGet.Config files in `%appdata%\NuGet\`, `%programfiles(x86)%\NuGet\Config\`, or solution directory for `PackageReference` style .NET 5 projects.

Only the `NUGET_PACKAGES` environment variable will affect the folder used.

[2020-12-27 00:18] #10417 closed, assigned to nobody

[2020-12-27 08:50] Alxandr commented on #7413
I just spent all of yesterday trying to make this work: https://github.com/YoloDev/YoloDev.Expecto.TestSdk/blob/feat/nbgv/.github/workflows/ci.yml#L116-L123 - because I assumed this error couldn't be in dotnet itself and it only happened on windows. This is incredibly confusing if you run into it and especially when you don't work on windows the error only presents itself on CI making the loop to

[2020-12-27 12:17] huoyaoyuan opened #10418 "Unexpected build assets picked for net5.0-windows"
## Details about Problem

NuGet product used: Visual Studio

VS version (if appropriate): 16.8.3/16.9P2

OS version (i.e. win10 v1607 (14393.321)): 19042

Worked before? N/A

## Detailed repro steps so we can see the same problem

Context: https://github.com/dotnet/reactive/issues/1461

Package: System.Reactive 5.0.0

The package structure:
[code]

When installing into `net5.0-windows10.0.18362`,

[2020-12-28 10:08] AndreyAkinshin commented on #3324
@JonDouglas

There are two primary cases when build is irrelevant:

1. Most of the long path problems arise when NuGet tries to fetch package metadata from a remote server and cache the responses. For example, the `runtime.opensuse.42.1-x64.runtime.native.system.security.cryptography.openssl` package is a very popular source of problems. The problem is inside internal NuGet logic: it's about how N

[2020-12-28 14:54] ehasis commented on #10336
This is happening in one of my solution. That one use project.json for nuget reference and no PackageReference nor package.config

[2020-12-28 18:48] donnie-msft commented on #9289
I'm working on an improvement where I pass the "Additional Messages" from Restore to the UI.
Related: https://developercommunity2.visualstudio.com/t/Nuget-integration-is-broken/1291549

[2020-12-28 22:53] erdembayar commented on #10414
@hieunm22
1. Can you open "https://api.nuget.org/v3/index.json" with web browser on your ubuntu?
2. Can you check your solution/project Nuget.config file settings? Maybe need proxy setting or remove unused urls from it.
https://stackoverflow.com/questions/41185443/nuget-connection-attempt-failed-unable-to-load-the-service-index-for-source

To find global nuget config see below link:
https://github

[2020-12-28 23:15] erdembayar commented on #10403
Hi.
Can you create repro solution and share with us? That'll definitely help us to solve this issue.
I need more details. For example: Did you install new package or upgrade existing package? Are those sdk style or package.config style projects?

[2020-12-28 23:28] erdembayar commented on #10407
@adrianiftode
I tried to repro the issue but it didn't repro with both `sdk 5.0.101` nor with `sdk 5.0.200-preview.20614.14`
Maybe it could be network fluctuation issue.
Can you retry again? Can you open "https://api.nuget.org/v3/index.json" from browser?

[2020-12-29 02:13] erdembayar commented on #10404
@JonDouglas
There was similar request long time ago. But what about now?
https://github.com/NuGet/Home/issues/1729

[2020-12-29 02:19] erdembayar commented on #10407
Dup of [#5127](https://github.com/NuGet/Home/issues/5127)

[2020-12-29 02:19] #10407 closed, assigned to nobody

[2020-12-29 06:42] hieunm22 commented on #10414
@erdembayar
I can access that page normally in browser. The SSL icon appears properly

[2020-12-29 10:04] adrianiftode commented on #10407
Indeed, https://api.nuget.org/v3/index.json is removed from my config, this is the reason I'm providing it as a parameter.

[2020-12-29 14:03] zivkan commented on #10414
Which browser? I know that Firefox keeps its own list of trusted certificate authorities, so will behave differently to other applications that use OpenSSL's trusted certificate store to validate certificates.

How about curl or wget? Can they download index.json?

What about a minimal C# program:
[code]

[2020-12-29 14:40] zivkan commented on #10336
@ehasis what version of Visual Studio are you using, and what project type are you using project.json with?  I don't know of any project system in Visual Studio 2019 that uses project.json.

[2020-12-29 15:00] ehasis commented on #10336
@zivkan I'm using 16.8.3, the project type is a huge VB.NET WinForms application, but is easy to simulate with a small one. We use project.json because we have to keep compatibility with VS 2015 since couple of our colleagues still use it.

[2020-12-29 16:44] sgordon5691 commented on #10313
Hey @nkolev92,

Just wanted to confirm all has been working well since clearing out the global packages folder. Thanks again for all your help!

[2020-12-30 00:11] Pilchie opened #10419 "Microsoft.AspNetCore.Mvc.NewtonsoftJson: package update info wrong for .NET Core 3.1"
---
**Issue moved from dotnet/aspnetcore#28728**
- Please respond to @markm77.

---

_From @markm77 on Friday, December 18, 2020 6:25:54 PM_

Hi there,

I have a C# solution which uses the Microsoft.AspNetCore.Mvc.NewtonsoftJson package. Unfortunately since the release of .NET 5, both Rider and Visual Studio try to update it in my .NET Core 3.1 projects to v5.0.1 which fails.

The root problem can

[2020-12-30 00:11] Pilchie commented on #10419
---
**Issue moved from dotnet/aspnetcore#28728**
- Please respond to @Pilchie.

---

_From @Pilchie on Saturday, December 26, 2020 10:28:16 PM_

Unfortunately, NuGet doesn't support packages like this that are tied to a TFM.

[2020-12-30 00:11] Pilchie commented on #10419
---
**Issue moved from dotnet/aspnetcore#28728**
- Please respond to @markm77.

---

_From @markm77 on Saturday, December 26, 2020 10:32:18 PM_

Thanks for the reply. Does this mean you have no way to tell Nuget v5.0.1 requires .NET 5.0. I don't seem to have this issue with any other package (presumably many have .NET 5.0 specific updates).

Edit: the real consequence of this is I can no longer au

[2020-12-30 00:11] Pilchie commented on #10419
---
**Issue moved from dotnet/aspnetcore#28728**
- Please respond to @Pilchie.

---

_From @Pilchie on Saturday, December 26, 2020 10:34:58 PM_

Well, the package does only have assets for .NET 5, but that's not enough for NuGet.

[2020-12-30 00:11] Pilchie commented on #10419
---
**Issue moved from dotnet/aspnetcore#28728**
- Please respond to @markm77.

---

_From @markm77 on Saturday, December 26, 2020 10:37:43 PM_

Does this info explain how Microsoft.AspNetCore.Mvc.NewtonsoftJson v5.0.1 could be made to have a dependency on .NET 5.0?

https://docs.microsoft.com/en-us/nuget/create-packages/supporting-multiple-target-frameworks#declaring-dependencies-advanced

[2020-12-30 00:11] Pilchie commented on #10419
---
**Issue moved from dotnet/aspnetcore#28728**
- Please respond to @Pilchie.

---

_From @Pilchie on Saturday, December 26, 2020 10:40:21 PM_

But we don't want it to support multiple frameworks.  We want it to support 5.0 only, which is what it currently does.  I'm not sure why that shows as an updated to an app targeting 3.1.

[2020-12-30 00:11] Pilchie commented on #10419
---
**Issue moved from dotnet/aspnetcore#28728**
- Please respond to @markm77.

---

_From @markm77 on Saturday, December 26, 2020 10:43:16 PM_

That's what I thought. And I can confirm if the update is attempted it fails on a .NET 3.1 project.

The problem is NuGet keeps suggesting the incorrect update. It does so in Rider, Visual Studio and on the command line. And then when you attempt the upda

[2020-12-30 00:11] Pilchie commented on #10419
---
**Issue moved from dotnet/aspnetcore#28728**
- Please respond to @markm77.

---

_From @markm77 on Saturday, December 26, 2020 10:44:52 PM_

Just to be clear: I am certainly not requesting support for multiple frameworks. I just don't want to be offered a .NET 5.0-only update in a .NET 3.1 project. If you would like me to collect any particular diagnostics, I'm more than happy to do so.

[2020-12-30 00:11] Pilchie commented on #10419
---
**Issue moved from dotnet/aspnetcore#28728**
- Please respond to @Pilchie.

---

_From @Pilchie on Wednesday, December 30, 2020 12:11:02 AM_

This is an issue for https://github.com/NuGet/Home.

[2020-12-30 00:12] #10406 closed, assigned to zivkan

[2020-12-30 00:57] markm77 commented on #10419
Thanks @Pilchie for moving this.

[2020-12-30 01:08] moonboy13 commented on #10313
@nkolev92 @sgordon5691 Thanks guys for the help and diligence in getting a resolution to this. Really appreciate the work especially over the holiday week.

[2020-12-30 01:08] #10313 closed, assigned to nkolev92

[2020-12-30 01:37] zivkan commented on #10336
@ehasis after installing VS2015, finding the .NET Core 1.0 preview tooling and installing that, creating a sample solution with project.json and xproj, when I try to open the solution in Visual Studio 2019, I get an error saying the project is unsupported and `UpgradeLog.htm` says:

I'm not sure you're in a supported scenario. Furthermore, .NET Core didn't support WinForms until .NET Core 3.0, but

[2020-12-30 02:48] hieunm22 commented on #10414
- it's Chrome
- about curl and wget, curl can download index.json but either can wget
- about minimal c# program, it throws exception when running this piece of code
https://controlc.com/7d65981b

[2020-12-30 04:37] ehasis commented on #10336
@zivkan easy to reproduce, here are the steps:
1. Open Visual Studio and create a new Console App (.NET Framework) (C#, I choose sdk 4.7.2)
2. Add a new file called project.json and paste the following content:
[code]
3. Save All, compile and close the Visual Studio
4. Open the Visual Studio again and open the solution
5. Right click on the solution and choose Manage NuGet Package for the solution

[2020-12-30 05:58] TFTomSun commented on #5887
I would like to have it configurable whether the transitive dependencies of a package references are resolved to the latest within the constraints or to the exact version.

An example:

if there's an update for ExternalLib to 1.0.1 I would like to configure it on MyLib PackageReference whether it pulls up ExternalLib or not
e.g.

`<PackageReference Include="MyLib" Version="*" ResolveTransitiveDepe

[2020-12-30 08:06] BehroozAmoozad commented on #10403
[Behrooz-blank.zip](https://github.com/NuGet/Home/files/5753443/Behrooz-blank.zip)
The bug in question is making problems in my ci builds. The environment is rebuilt before each build. And there are absolutely zero nuget packages used, because I don't trust nuget.

[2020-12-30 15:48] brandonchastain commented on #8759
My problem is exactly what @p-kaczynski describes. Is there any recommended workaround for this, or plans to address it directly?

[2020-12-30 21:31] #10053 closed, assigned to rrelyea

[2020-12-30 23:09] maxtoroq commented on #3830
@zivkan You found the bug, and it doesn't look hard to fix. What is the problem? It's been 4 years now.

[2020-12-30 23:35] zivkan commented on #10336
@dtivel  @rrelyea @sbanni, using the above instructions, I tracked down the issue to this assumption being incorrect about project.json projects: https://github.com/NuGet/NuGet.Client/blob/b52bb6fe102c2a362c8adc6965cbb4c192781b1b/src/NuGet.Clients/NuGet.VisualStudio.Internal.Contracts/ContextInfos/PackageReferenceContextInfo.cs#L18

@ehasis, I recommend you consider moving to packages.config if yo

[2020-12-30 23:47] zivkan commented on #3830
@maxtoroq I've got more work to do than time, hence I need to prioritize what I work on. Few packages on nuget.org use this `<references>` feature, and we don't have telemetry to estimate how commonly it's used in pack (in case it's more common in private/other feeds), so it doesn't feel like it would benefit a large number of customers.

[2020-12-31 00:51] erdembayar commented on #10419
@markm77
Do you have any log or screenshots for how it's failing to upgrade .Netcore 3.1 to .Netcore 5.0?
Are you using VS or command line? If it's VS which version are you using?
Is it small project you can simply manually edit the csproj file to target .Net 5.0 after downloading latest .Net 5 sdk?

[2020-12-31 00:52] zivkan commented on #10414
I'm not sure if this means wget can or can't access api.nuget.org. Since you wrote "but", I'm guessing it can't. Perhaps this means that wget does SSL/TLS negotiation in the same way that .NET does.

Since the test C# program reports the same `The remote certificate is invalid according to the validation procedure` error, it shows that this is not a bug in NuGet, but that .NET itself cannot connec

[2020-12-31 00:53] #10414 closed, assigned to nobody

[2020-12-31 01:03] erdembayar commented on #10402
Is your source local source or http source?
If it's local then folder structure may have issue.
Most likely what you're experiencing could be part of [issue#5127](https://github.com/NuGet/Home/issues/5127).

[2020-12-31 03:07] erdembayar commented on #10403
@BehroozAmoozad
Can you give `dotnet --info` output?
It didn't take that much long. Actually whole clean restore  just took about 4 seconds on my local, but somehow `dotnet restore /clp:PerformanceSummary` reports much longer duration. Maybe there is some accuracy issue or difference in how it get interpreted.

![image](https://user-images.githubusercontent.com/8766776/103392266-de1d1400-4ad1-11eb

[2020-12-31 03:24] louistio commented on #3830
Without getting into telemetry, I can speak anecdotally about the use case at my company and what led me to this issue initially, which I suspect is similar to other companies.

Our product is made up of a couple dozens legacy NuGet packages that haven't aged super well over the years. We were wanting to move the actual head csproj that aggregates all these dependencies to `PackageReference`/SDK-s

[2020-12-31 06:23] BehroozAmoozad commented on #10403
[code]

[restore time.txt](https://github.com/NuGet/Home/files/5756588/restore.time.txt)

[code]
This is not a VM. this is gitlab-ci instance installed on a barebones DL380 gen9 debian machine with nothing else running on it.

[2020-12-31 06:29] BehroozAmoozad commented on #10403
I realized after posting that I ran the measure command on a slighly different sln. There are still 0 external references because we don't use them. but if it really matters I can rerun them using the blank sln I created.

also, everything benchmarked up until now has been on a tmpfs(ramdisk) to avoid disk/ssd performance interference.

[2020-12-31 10:13] zosrothko opened #10420 "nuget -symbols: Add a attribute on the <file> element to force what should go in .symbol.nupkg or not"
## Details about Problem
The [Pocoproject ](https://github.com/pocoproject/poco) is using the following convention for DEbug and Release naming

Each module get a 'd' suffix for the 'Debug' version appended at the name of the 'Release' version as for example
[code]
Thus, when using the nuget command: nuget pack - symbols, the .nuget package got the release & debug binaries as below
![image](https:

[2020-12-31 11:14] markm77 commented on #10419
Hi @erdembayar , I am not wanting or trying to update from .NET Core 3.1 to .NET 5. The issue is the package ```Microsoft.AspNetCore.Mvc.NewtonsoftJson``` is no longer handled correctly in a .NET Core 3.1 project.

The simplest way to demonstrate this is to create a blank .NET Core 3.1 project file:
[code]

Now try to add the package without specifying the version:
[code]

It incorrectly tries to

[2020-12-31 17:10] erdembayar commented on #10403
After looking at your log, actual total duration is about 20-30 seconds, but don't know why it's slower than my 4 seconds range.
Unfortunately, I don't have `debian` environment development experience. I guess discrepancy might be due to something to do with dotnet implementation on platform or other settings.
By default MSbuild and nuget try to run restore in parallel utilizing multiple CPU cores

[2020-12-31 17:30] erdembayar commented on #10419
It looks TFM compatibility issue, because latest `NewtonsoftJson 5.0.1` not compatible with `netcoreapp3.1`
It looks it's known issue [#10309](https://github.com/NuGet/Home/issues/10309)
Meantime until it addressed you can use below command as work around.
`dotnet add package Microsoft.AspNetCore.Mvc.NewtonsoftJson -v 3.1.10`

I'm closing this, because it's dup of [#5725 ](https://github.com/NuGet

[2020-12-31 17:30] #10419 closed, assigned to nobody

[2020-12-31 20:28] markm77 commented on #10419
Okay, thanks for getting to the bottom of this. We are sticking with .NET Core 3.1 as it is the LTS release (we will update to next LTS release when it arrives) - I suspect many others are doing the same. I think making NuGet updates work well in this use case would help many folks. Anyway Happy New Year and thanks to @erdembayar and @Pilchie for the help.

[2020-12-31 23:51] txwizard commented on #10415
Thank you. It had been sufficiently long that I had forgotten that I used the CLI to get the key into the configuration file. It's in, and my packages are up to date and ready for 2021.

[2020-12-31 23:51] #10415 closed, assigned to nobody

[2021-01-01 11:46] BehroozAmoozad commented on #10403
Reran it on a windows 10 machine (ryzen 3700x) (consumer-grade ssd drive) with warm-up.
`TotalMilliseconds : 7752.1214`
[code]
I do realize that a 3700x might be faster than a 2670 v3. but not by a factor of ~7. Correct?
How do I bisect the problem further?

[2021-01-01 18:36] aolszowka opened #10421 "Referencing DeepSpeech.0.9.3 NuGet Package in netcoreapp3.1 results in CS0246 'DeepSpeechClient' could not be found"
Hi

It is unclear if this is an authoring issue with the package or there is an underlying NuGet PackageReference Issue. I have opened an issue with the DeepSpeech team here: https://github.com/mozilla/DeepSpeech/issues/3483 there is a significant amount of chatter on this issue which might be related: https://github.com/mozilla/DeepSpeech/pull/3373 they are expressing concerns about how to best d

[2021-01-02 20:37] madelson commented on #5556
For anyone looking to use the above custom target workaround with a version range instead of bounding to a single version, here's a variant I ended up using:

[code]

This results in ranges like `[2.5.1, 3)`

[2021-01-03 01:13] txwizard opened #10422 "Null Reference Exception Thrown When Attempting Package Update in Existing Project"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2021-01-03 06:37] warpedgeoid commented on #7765
As @Njoro007 said, this is an issue for packages with versions derived from pipeline variables in, e.g., Azure DevOps.

[2021-01-04 04:43] mackcoding commented on #10166
NuGet is the slowest part of my workday.  My solution is only 2-3 projects if that. Loading the NuGet interface is slow, searching for packages is slow, updating is slow, installing is slow, anything to do with NuGet is slow. It's always been like this. I'm about to lose my mind by constantly waiting for Nuget.

I uploaded a video demonstrating what I mean: https://www.youtube.com/watch?v=VssoYZXt

[2021-01-04 04:55] neeraj9 commented on #10139
I am facing same issue while trying to build nuget client. A couple of questions before giving up on the build.sh.
1. What is the correct value for the channel (via "-c" param) within build.sh?
2. Do I need to give version (via "-v" param) within build.sh to fetch correct dotnet CLI?

I tried [2] and it did proceed further but only to fail later.
Private Changes:
[code]

Failure logs:
[code]

[2021-01-04 05:07] neeraj9 commented on #10139
Ah! My bad. I did not go through build.sh enough. I believe there was a requirement to fetch older dotnet version towards bootstrapping. So, my comment earlier is incorrect but the issue still stands.

[2021-01-04 06:19] neeraj9 opened #10423 "Restoring results in obscure error: Invalid framework identifier ''"
## Details about Problem

I am trying to build one of the project for Linux operating system and it fails with the .NET SDK 5.0. My main concern is about the obscure error message displayed which does not give any indication of the project file (csproj) or the target framework which is the source of issue here.

[code]

It is probably this https://github.com/NuGet/NuGet.Client/blob/release-5.8.x/s

[2021-01-04 06:20] neeraj9 commented on #10423
I noticed that the issue https://github.com/NuGet/Home/issues/5413 also talks about something similar, although not sure if that is exactly the same thing.

[2021-01-04 14:27] zivkan commented on #2406
Visual Studio 2019 removed support for UWP JavaScript apps. I guess we should close this issue?

[2021-01-04 18:09] zkat commented on #10394
oh lol. I closed the other one, since this one will be more visible in general.

[2021-01-04 18:11] donnie-msft opened #10424 "Unhandled exceptions in Restore should generate assets file to capture error messages"
## Details about Problem

NuGet product used VS 16.8

When an unhandled exception occurs in Restore, for SDK style projects, we have no way of reporting that error in the Error List since there's no assets file. This leads to other arbitrary (and wrong) messages being shown, such as an unknown TFM.

The scenario I propose we handle for now is a non-existent package source (FatalProtocolException).

[2021-01-04 19:42] #10213 closed, assigned to sbanni

[2021-01-04 20:17] #9810 closed, assigned to nkolev92

[2021-01-04 21:07] aortiz-msft commented on #10402
Closing as dupe of https://github.com/NuGet/issue/issues/5127.

[2021-01-04 21:07] #10402 closed, assigned to nobody

[2021-01-04 21:08] aortiz-msft commented on #10321
Closing for now but feel free to add comments if you continue having issues.

[2021-01-04 21:08] #10321 closed, assigned to nobody

[2021-01-04 21:10] aortiz-msft commented on #10330
Hey https://github.com/CLIRResearch,

Are you still hitting the same issue? If you are, would you please provide information that would allow us to debug the problem?

Thanks!

[2021-01-04 21:11] aortiz-msft commented on #10323
Closing since we haven't heard back from you. Feel free to add comments if you continue having problems or file a new issue. Thanks!

[2021-01-04 21:11] #10323 closed, assigned to nobody

[2021-01-04 21:17] aortiz-msft commented on #10349
In NET5.0 we added package signature verification, so this might be related.

@kartheekp-ms  - Would you mind trying to repro this problem locally?

[2021-01-04 21:24] aortiz-msft commented on #10370
Is there a possibility that a package with the lib\* folder structure is being installed on the host intermittently for testing purposes or by a second private NuGet feed? That's our only guess of why the folder structure is different sometimes after clearing the cache and doing a restore.

[2021-01-04 21:28] aortiz-msft commented on #10381
Closing since the original question has been answered. Please feel free to post additional questions as new issues.

[2021-01-04 21:28] #10381 closed, assigned to nobody

[2021-01-04 21:30] #10382 closed, assigned to zkat

[2021-01-04 21:32] aortiz-msft commented on #10382
This was fixed by https://github.com/NuGet/NuGet.Client/pull/3730, which will be available in the next preview.

[2021-01-04 21:54] aortiz-msft commented on #10404
Hey there. Thanks for your suggestion. Because this change could disrupt tooling from others in the community, particularly across platforms, we will not look at this unless the issue gets upvoted by the community. However, we will keep this in mind shall we rethink our local global package folder solution.

[2021-01-04 21:54] #10404 closed, assigned to nobody

[2021-01-04 21:57] nkolev92 commented on #10404
Starting with 16.8, Visual Studio will open content files from the global packages folder in a `read-only` way. https://github.com/dotnet/project-system/issues/2141

This likely covers one of the common occurrences of `I edited my installed package accidentally`

[2021-01-05 01:41] gkalnytskyi commented on #7850
@nkolev92, I'm trying to understand why this important piece of information: "NuGet uses the ProtectedData.Protect API to encrypt the password/apikey, but this uses a per-user encryption key, so will not work for other users, even on the same machine." --- was omitted from the help page https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-sources .

Another point is how you propo

[2021-01-05 15:11] #10297 closed, assigned to dtivel

[2021-01-05 19:01] nkolev92 commented on #10370
@ImAMightyPirate The client doesn't do selective extraction, so not sure how this could happen.

Is this package generated at an earlier stage of the build?

[2021-01-05 19:22] nkolev92 commented on #7850
If you look at the note in https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-sources#options, you will see exactly that.

The `feed provider` is the one that has the ability to integrate with a plugin. That is how Azure DevOps handles auth.

[2021-01-05 19:24] #9623 closed, assigned to nkolev92

[2021-01-05 19:37] ImAMightyPirate commented on #10370
@nkolev92, our process is as follows:-

* We have one nightly CI build that generates the NuGet package and publishes it to the feed hosted by ProGet (steps 1 and 2 above, this is the only source for packages in the NuGet feed)
* We have other nightly CI builds that attempt to restore the latest package published from the NuGet feed (steps 3-5 above)

Step 6 onwards is our manual workaround.

[2021-01-05 19:47] donnie-msft commented on #8162
address with https://github.com/NuGet/Home/issues/8065

[2021-01-05 20:03] donnie-msft opened #10425 "NVDA/Narrator is not reading "License" label for "Apache-2.0" link"
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1240645
Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier
Environment Details:​
Microsoft Visual Studio Enterprise 2019 Preview
Version 16.8 Preview 6.0
OS Details:
Windows 10 Enterprise

Version : 20H2

Build: 19042.572

Re-pro Steps:​
Start Narrator/NVDA andOpen Visual Studi

[2021-01-05 20:55] nkolev92 commented on #10370
@ImAMightyPirate

Any chance you can simplify this down to a repro where you are using a local feed instead of proget?
That'll help us make some progress.

[2021-01-05 21:30] nkolev92 commented on #10305
Nope, this is perfect.

Thanks for detailed investigation @danieljbfaustino

You are absolutely right, the credential provider set-up needs to done prior to accessing the sources and that changed with NuGet/NuGet.Client#3480

[2021-01-05 21:39] gkalnytskyi commented on #7850
@nkolev92, thanks for pointing out the note, sorry I missed it.

I'm not sure what you mean here, but I'll be waiting for [this piece of documentation](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1974) to get more clarity.

[2021-01-05 22:08] dominoFire opened #10426 "Enable dotnet.exe integration tests to run cross platform"
Most of tests in Dotnet.Integration.Test project are configured to run in Windows. We need to me some adjustments to run those tests on all platforms dotnet.exe supports: Windows, Mac, Linux.

[2021-01-05 22:11] #8867 closed, assigned to dominoFire

[2021-01-05 22:25] dominoFire commented on #10426
Dupe of https://github.com/NuGet/Client.Engineering/issues/349

[2021-01-05 22:25] #10426 closed, assigned to nobody

[2021-01-05 22:59] lezmaka commented on #9954
I was having this same issue and found a resolution that worked for me.  First off, I apologize if this post isn't as well formatted/structured as typical, I think this is the first time I've tried adding something to a discussion on GitHub.

Getting right to it, could it have something to do with the newer versions being marked as unsafe when downloaded - meaning if you go into properties for nug

[2021-01-05 23:03] #10062 closed, assigned to zivkan

[2021-01-05 23:17] aortiz-msft commented on #10081
@erdembayar - Could you please sync with @zivkan on next steps for this issue?

[2021-01-05 23:44] nkolev92 commented on #7850
@gkalnytskyi

In my personal opinion, it'd be nice if the feed provider, in your case sonatype nexus, writes a plugin...their plugin can create limited scope tokens and they can require auth in any way they see convenient.

Note that encrypted pats are *usually* going to be machine specific and this applies to more than just NuGet.

[2021-01-05 23:47] dtivel commented on #9935
https://github.com/NuGet/NuGet.Client/commit/c219b612c2e09ca8bf0f801c833b3ebbe4dfabb5 unblocked progress on this.

[2021-01-05 23:52] #10365 closed, assigned to nkolev92

[2021-01-05 23:55] dtivel commented on #10336
@ehasis, thank you very much for the repro steps!  I have a fix in code review.

[2021-01-06 00:07] gkalnytskyi commented on #7850
Thank you, @nkolev92! I'll forward your suggestion to our team that maintains Nexus, so that they could talk to Nexus reps directly.

[2021-01-06 01:18] bladewolf55 commented on #9954
Bravo, @lezmaka! Confirmed, If I redo my previous steps using executables set to Unblocked, all work as expected (no error messages).

Note that if the blocked files are placed in `C:\Program Files\blocked`, and that folder is added to the PATH, the error messages still occur. So, blocking isn't depending on (or respecting being in a system folder.

I hope this helps the NuGet development team inv

[2021-01-06 02:01] nkolev92 commented on #9954
Thanks for the update @lezmaka & @bladewolf55.

That's probably one of the reasons we haven't been able to repro it locally.

[2021-01-06 02:14] #10336 closed, assigned to dtivel

[2021-01-06 03:07] nkolev92 commented on #4376
Related to https://github.com/NuGet/Home/issues/9915

[2021-01-06 03:07] nkolev92 commented on #9915
Making this a dup of https://github.com/NuGet/Home/issues/4376.

[2021-01-06 03:07] #9915 closed, assigned to JonDouglas

[2021-01-06 03:08] nkolev92 commented on #4376
Expanding the scope of this issue...the status bar should be accounted for as well.

[2021-01-06 03:08] nkolev92 commented on #4376
assigning to @JonDouglas as the other issue was already assigned to him.

[2021-01-06 06:38] ImAMightyPirate commented on #10370
@nkolev92 I will see if we can get an alternate feed that does not rely on ProGet set up and report back. 👍

[2021-01-06 09:12] cesharpcom commented on #9954
@nkolev92

I also confirm that the issue is solved by unblocking the nuget.exe for versions higher then 5.6.

The funny thing is that the issue is not there for version 5.6 even when the exe is still blocked.
In any case unblocking it for 5.7 and higher solves the issue.

[2021-01-06 17:32] Paul-N opened #10428 "Wrong TFM for PackageReference in Android Class Library"
## Details about Problem

NuGet product used: VS UI
NuGet version: 5.8.0
VS version: VisualStudio.16.Release/16.8.3+30804.86
OS version: Windows 8.1 x64

## Detailed repro steps so we can see the same problem

1. Create **Android Class Library** in MSVS for Windows

2. Add a Nuget PackageReference that has several TFMs. In my case it is MvvmCross 7.1.2 that have TFMs:
.NETCoreApp 3.1
.NETFramework

[2021-01-06 17:37] NGame1 opened #10429 "Package source path completely ignored in latest NuGet Package Manager versions"
Hi there,
VS2019 and also the latest V2017 updates for Windows with the new versions of NuGet Package Manager version having an issue with downloading location.

I specified package source path to
E:\Nuget but still NuGet package manager save packages to
C:\Users\{UserName}\.nuget\packages
C:\Microsoft\Xamarin\NuGet
C:\Program Files (x86)\Microsoft SDKs\NuGetPackages
C:\Program Files (x86)\Microso

[2021-01-06 17:49] ramtinak commented on #10429
Hi,
I'm facing this problem too,
It seems changing folder in the Visual Studio settings for Nuget Package Manager doesn't effect anything. I have VS 19 and 17 as well but both of them has this problem.
I even removed the .nuget in `C:\Users\{UserName}\` folder but it will create it again after first attempt to download something from Nuget.

Please fix this problem.

Thanks in advance.

[2021-01-06 18:44] rrelyea commented on #10167
@dtivel - we'd like to discuss how we should handle situations when we add something to an existing interface that hasn't shipped publicly like: https://github.com/nuget/client.engineering/issues/682
Should we inform test team.
Should we add a call to ReportMissingServiceAsync as this bug discussed when a version is not available.
etc...

[2021-01-06 19:08] nkolev92 commented on #9954
The only functional change is going from:

[code]

to
[code]

At this point I'm not sure how exactly this changes it, but all your info has helped get an actionable repro.

[2021-01-06 19:19] bladewolf55 commented on #9954
Community effort for the win!

`typeof(T).Assembly.FullName` and
`Assembly.GetExecutingAssembly().Location` obviously do very different
things. The first returns the assembly name/version/etc, the second
simply the path to the executable.

I suspect using a physical path is leading to the security problem,
but I couldn't say why.

On Wed, Jan 6, 2021 at 12:09 PM Nikolche Kolev <notifications@githu

[2021-01-06 19:41] donnie-msft commented on #5518
Closing as no longer relevant. We now use an icon asset. A better tracking issue for this is to move the default package icon to image service: https://github.com/NuGet/Home/issues/5937

[2021-01-06 19:41] #5518 closed, assigned to nobody

[2021-01-06 19:45] donnie-msft commented on #8963
Related https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1244648

[2021-01-06 21:42] wli3 opened #10430 "Nuget restore/package download C# API"
This was raised during development of dotnet tools. The decision was "try to use a temp project and restore the package for now". However, after using this mechanism for 2 years. We still wish to have a C\# API to do restore, especially considering we would reuse the dotnet tool install component to install dotnet SDK workloads. Dotnet SDK workloads installation experience needs to be bulletproof

[2021-01-06 21:43] wli3 commented on #10430
@nkolev92 @aortiz-msft we hope to discuss this in next Monday sync meeting

[2021-01-06 21:50] aortiz-msft commented on #10380
@v-longmin, @v-luzh - Would you please help understand the customer impact of this issue?

[2021-01-06 23:39] #10346 closed, assigned to nkolev92

[2021-01-07 00:58] nkolev92 commented on #10403
Hey @BehroozAmoozad,

The target in question is how NuGet through msbuild currently reads the project files.
The performance can be affected by the project type, file count, *log verbosity*, etc.

Since the original PackageReference implementation the NuGet team has worked with MSBuild team to develop a faster way for reading the project files.

We currently have an experimental feature for that,

[2021-01-07 00:58] #10403 closed, assigned to nkolev92

[2021-01-07 01:16] erdembayar commented on #10263
@v-luzh
I just tried and still didn't repro. What was
Maybe your repro steps missing something. Can you create gif animation with screentogif app and share here.

[2021-01-07 01:45] nkolev92 commented on #10430
I think the requirements for the workload download are not *equivalent* and as such need different solutions.

Tools rely on detecting configuration, but also doing asset selection, while it's not clear that workload download will need any type of asset selection.

I think migrating to use tool restore *without* a project file is possible, but we need to evaluate the work.

A more generic API for

[2021-01-07 02:42] AraHaan commented on #3891
I think I know of a dirty hack:

1. create a dummy project (no code on it)
2. ``ProjectReference`` all the other projects you want (to ensure they get built 1st) before attempting to build the package.
3. With the dummy project made mark all of the other projects non-packable
4. have the dummy project target all of the ``TargetFrameworks`` of the other projects, they must then all match
5. Add the

[2021-01-07 05:46] StingyJack commented on #3891
Everyone is coming up with elaborate ways to avoid having to create a 15-20 line XML file (nuspec) that will do exactly as you instruct it to do.

[2021-01-07 09:15] matthewjones555 commented on #3891
What everyone wants is a tidy solution where they only have to specify things in one place.  The problem with going back to nuspec files is they're a second source of truth, and can diverge from how things are set up in your projects.  It's not a case of avoiding having an extra 20 line file, it's a case of avoiding having a file that can become stale with no easy way of automatically detecting th

[2021-01-07 09:56] roofiq commented on #3891
@StingyJack  true that. I was also searching a lot and I find creating nuspec the easiest way.
Just maybe one question. Let's say we have project with quite a lot dependencies. After build, all the DLLs and files are being created in obj and bin files.
What I have found, that the easiest solution to create nuget is to just add this element, that would simply copy folder, that is normally being pub

[2021-01-07 10:15] pyrostew commented on #4837
I am seeing the same thing as @Patrico12345 with a large internal dependency tree, where some of the sub dependencies have "contentFiles" that don't seem to be processed, I.e. the files under referenced by the "contentFiles" elements are not processed according to the attributes on the element.

It can be worked around by adding the packages as direct dependencies of the project, but clearly this

[2021-01-07 14:31] BamButz opened #10432 "[DCR]: Allow floating versions with Central Package Management (CPM)"
## Details about Problem

We use CPVM to manage our dependencies. Unfortunately, the last update presented us with a big problem. With the introduction of NU1011, it is no longer possible for us to run a resolution strategy that selects the highest possible version. This is especially relevant for our in-house dependencies, as we distribute regular patches and this can no longer be done automatica

[2021-01-07 15:15] StingyJack commented on #3891
@roofiq - the obj folder is for temporary compilation and other transient stuffs, so its a bad idea to try to use anything from an obj folder. The bin\Release folder is where you want to get the files if you are making a normal nuget.

Yer also missing a target value and are probably pulling in way too many files.

I'll usually use file elements like this so I can get the MyProject.DLL, MyProject.

[2021-01-07 17:21] #10425 closed, assigned to donnie-msft

[2021-01-07 17:49] roofiq commented on #3891
@StingyJack - thanks for the long answer 👍
I know, that the final compiled files are in `/bin` folder. But I have investigated the actual SiteRoot folder and it was 1:1 as the one in `/obj` (.net framework 4.8 app). So I have decided to use this one. It actually worked.

Basically the point of my answer, was that we want to switch from using build artifacts to artifact feeds. So my task was to com

[2021-01-07 18:20] donnie-msft commented on #10202
@zkat I'm closing this as I still don't know what may have lead you to reporting this. Please reopen if you find something documenting the problem and the desired behavior.
Accessibility insights passes all checks:
![image](https://user-images.githubusercontent.com/49205731/103929233-036ddb80-50eb-11eb-8910-8e00158eb3f6.png)
![image](https://user-images.githubusercontent.com/49205731/103929305-1d0

[2021-01-07 18:20] #10202 closed, assigned to donnie-msft

[2021-01-07 18:21] zkat commented on #10405
I agree that, in an ideal world, this would be both required and not-defaulted. I don't really see a point in having a default description here, but that's what we've got right now. Unfortunately, this would be a breaking change, and I don't think the value outweighs the cost in this case. An opt-in in this case would probably be pointless, because if you're remembering to opt-in, you may as well

[2021-01-07 18:21] #10405 closed, assigned to nobody

[2021-01-07 18:22] zkat commented on #10410
This is not a NuGet issue, as @zivkan says.

[2021-01-07 18:22] #10410 closed, assigned to nobody

[2021-01-07 18:26] ViktorHofer commented on #10405
@zkat NuGet.exe emits a warning and that's what I believe would be appropriate here as well: Emitting a warning, if the package description isn't explicitly set to indicate that a default description will be used.

That shouldn't be a breaking change then?

[2021-01-07 18:57] zkat commented on #10202
...yeah I have no memory of why I made this. Closing is fine, sorry.

[2021-01-07 19:18] birgithi opened #10433 "NuGet package recommender should work when more than one source is selected in package manager"
## Details about Problem

The NuGet package recommender should make recommendations as long as nuget.org is included as one of the package sources. This was implemented before, but PR #3797 reverted this change and now requires that nuget.org is the only source.

## Detailed repro steps so we can see the same problem

1. Right-click a project in VS and select Manage NuGet Packages to open Package

[2021-01-07 20:06] Ncage1974 opened #10434 "Determine what downloading a specific version of a nuget package"
Hi Guys, hopefully its ok to ask this question here. Don't know what else to do since I asked on stackoverflow and all I got was crickets. We are using Whitesource to scan for vulnerable dependencies. Here is one of the vulnerable packages Whitesource reported:
![image](https://user-images.githubusercontent.com/1213549/103939045-c4428900-50f0-11eb-89e3-98552cc9ed3b.png)

As you can see in the imag

[2021-01-07 20:45] donnie-msft opened #10435 "Remove dead code (TabItemButtonAutomationPeer)"
I don't believe this is doing anything...

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.UI/Automation/TabItemButtonAutomationPeer.cs

[2021-01-07 20:52] rrelyea commented on #10080
merged into other issue: https://github.com/nuget/home/issues/10151

[2021-01-07 20:52] #10080 closed, assigned to rrelyea

[2021-01-07 20:55] rrelyea commented on #10409
will be fixed when https://github.com/nuget/home/issues/10151 is done

[2021-01-07 20:55] #10409 closed, assigned to rrelyea

[2021-01-07 22:57] sbanni opened #10436 "CreateVersionsAsync does unnecessary NuGetVersion Compares"
From looking at ETW logs [CreateVersionsAsync ](https://github.com/NuGet/NuGet.Client/blob/7d67db0ba50d43531717063d08daae2b0aea96fd/src/NuGet.Clients/NuGet.PackageManagement.UI/Models/PackageDetailControlModel.cs#L100) spends a lot of time comparing NuGetVersions (1.4s) for packages with a lot of versions (test10k).

We should avoid this work if possible and we should be wary of Linq queries.

[2021-01-07 22:58] #9402 closed, assigned to nkolev92

[2021-01-07 23:02] wli3 commented on #10430
Agree. Workload scenario has less requirement than tools. For workloads, it need to support input of: package id, version range, location to restore to, RestoreRootConfigDirectory -- path where nuget starts to probe configuration (like nuget config), optional path for nuget config, sources urls as an array. This is what I can think of so far. It does not require nuget to filter assets and produce

[2021-01-08 00:14] #10305 closed, assigned to nkolev92

[2021-01-08 00:20] nkolev92 commented on #10430
Thanks for clarifying the scenario @wli3, that helps.

[2021-01-08 01:03] #10257 closed, assigned to nkolev92

[2021-01-08 02:41] dsplaisted commented on #10430
As part of the API, it would be nice to have a way to report download progress.

[2021-01-08 03:01] nkolev92 commented on #10430
We have log reporting for individual files, but not for progress on a single file.

[2021-01-08 03:17] AraHaan commented on #5360
Another solution: nupkg is just another zip file so just generate it with a tool you make instead.

[2021-01-08 03:29] AraHaan commented on #3891
@roofiq that depends on how your build setup is, if the build is complex where you need to package like:
1. 10+ projects into an single Package, this being named your own ``Sdk``.

The crazy shit is that somehow the files to the .NET Core SDK binaries and runtimes are all packed into a single large ass package, how the f\*\*k did they do it when we cant simply replicate that shit.

This all feels

[2021-01-08 07:31] ghost opened #10437 "NuGet CLI: -OutputDirectory -ExcludeVersion does not install newer/older package versions"
NuGet Version: 5.8.0.6930
Product used: NuGet.exe  (cli)
Windows 10 Enterprise 1909

Worked before? I dont know. It is the first time using NuGet CLI

I want to install package into a fixed foldername (without versionnumber).
When new/older versions of the package are available, the installed package should be installed at the same location.

I do not use VisualStudio. I'm only using NuGet.exe to

[2021-01-08 12:33] DaveRabelink commented on #10437
Has extra info on the package itself. It is a straighforward package, no dependancies. See 👍
[code]

[2021-01-08 14:52] EmanueleCiriachi commented on #9775
I have the same problem. I am getting

[code]

Why does it complain about a 'RepositoryUrl' property? Do I really need a VS project? I merely have a .nupkg that I wanted to store.

[2021-01-08 16:19] weltkante opened #10438 "Alias in ProjectReference does not work for framework-included packages"
## Details about Problem

In #4989 alias support for PackageReference was added, but when I try to create an alias to a framework-provided package this does not appear to work.

In particular, in a .NET 5 web application I add
[code]
but `extern alias logging;` does not compile:
[code]
If I instead do it in a console application it indeed does work.

Using VS 2019 Update 9 Preview 2

[2021-01-08 17:35] JonDouglas commented on #10434
Nothing quite exists to tell you why directly today. The solution explorer in your last screenshot is one of the better visualization methods, but you may also have success using dotPeak or similar to dive into each assembly.

For example, in your case, Moq > Castle.Core > NETStandard.Library is what is bringing in the dependency.

![image](https://user-images.githubusercontent.com/1288848/1040455

[2021-01-08 17:44] JonDouglas commented on #10428
@Paul-N Your Target Framework is v9.0, not v10.0.

https://github.com/Paul-N/AndroidClassLibDemo/blob/master/AndroidClassLibDemo/AndroidClassLibDemo.csproj#L20

You will have to change this to support it.

https://docs.microsoft.com/en-us/xamarin/android/app-fundamentals/android-api-levels?tabs=windows#target-framework

[2021-01-08 17:44] #10428 closed, assigned to JonDouglas

[2021-01-08 17:49] JonDouglas commented on #10438
Hi @weltkante,

Thanks for the report!

Can you please provide us a sample project or reproducible steps to help us debug this further?

Feel free to refer to our section on [bug reports](https://github.com/NuGet/Home/wiki/Submitting-Bugs-and-Suggestions#bug-reports) for more information on what we're looking for!

[2021-01-08 17:53] Paul-N commented on #10428
Yes, changing Android version from 9 to 10 is solved the problem. Maybe it worth to warn user about his lib's Android version or update Android Class Library template supplied with MSVS. Anyway you're right, it's not a Nuget problem.

[2021-01-08 17:55] JonDouglas commented on #10428
We're working on a way to tell you if a package is compatible or not with your application and we may be able to prompt you to update your TFM if we notice you're not on the latest version the library supports.

[2021-01-08 17:57] dtivel opened #10439 "Codespaces: fix telemetry from https://github.com/NuGet/NuGet.Client/pull/3786"
https://github.com/NuGet/NuGet.Client/pull/3786 added some telemetry to help understand the root cause of https://github.com/NuGet/Home/issues/10336.  However, there are 2 bugs:

*  The JSON schema allows dictionary entries to overwrite one another.
*  The project ID isn't hashed.

[2021-01-08 19:11] Ncage1974 commented on #10434
Thanks so much @JonDouglas that was super helpful. I definitely does answer my question and thanks so much for your time.

[2021-01-08 19:11] #10434 closed, assigned to JonDouglas

[2021-01-08 19:21] #10439 closed, assigned to dtivel

[2021-01-08 19:25] weltkante commented on #10438
Sure, the reproduction steps are literally just what I said above, adding a `PackageReference` to a framework package and an `extern alias logging;` statement. I'm adding a full example below, changing the SDK to `Microsoft.NET.Sdk` (i.e. removing the `Web`) makes things compile but obviously I'm then missing a lot of implicit behavior of the Web SDK, both in implicit package references and projec

[2021-01-08 20:08] rrelyea opened #10440 "verified checkmark doesn't show on package recommendations"
using latest 5.9.0 P3 bits, @chgill-MSFT found the following problem with the newly enabled package recommendations:

![image](https://user-images.githubusercontent.com/8865080/104059398-21e6dc00-51aa-11eb-8566-dd8d9edd8692.png)

cc: @birgithi

[2021-01-08 20:14] JonDouglas commented on #10438
@weltkante Thank you kindly! We'll look into this shortly in our next triaging session. Thanks for the clarification on the .csproj items!

[2021-01-08 20:57] veleek commented on #5619
Similar to @Svish, I'm switching to a single NuGet feed (which a bunch of additional feeds configured as upstream sources).  I'd like to be able to validate that the feed is configured correctly but the global package cache gets in the way.

Honestly changing it from `--no-cache` to `--do-not-cache`  would probably be enough to make it clear what the flag is intended to do.  However, I would still

[2021-01-08 21:43] nkolev92 opened #10441 "The NuGet issue template is too verbose"
Note that I have removed the issue template.

This template is too verbose and honestly asks for a lot of information that's not very relevant.

Note that on 1080p screens, our template requires scrolling!!
That's excessive!

[2021-01-08 22:27] chrisraygill opened #10442 "Uninstalled NuGet packages remain in the Visual Studio solution explorer"
## Details about Problem

Product: Visual Studio

NuGet version: 5.9.0.7005

VS version: 16.9.0 preview 3 (30907.6 main)

Worked before? Yes

Works fine in Visual Studio 16.9.0 preview 2 with NuGet 5.9.0.6967.

## Detailed repro steps so we can see the same problem

1. Install a package to a project through any means (PMC or UI)
2. Uninstall a package to a project through any means (PMC or UI)
3.

[2021-01-08 22:35] dtivel commented on #9935
This is currently blocked on being able to obtain an `IVsUIHierarchy` object for the selected project in a Codespaces-connected client.  See AzDO bug 1264138.

[2021-01-08 22:58] sbanni opened #10443 "Opening version combobox from a package with lots of versions is super slow"
Search for 'test10k' from package source https://apidev.nugettest.org/v3-index/index.json
Select Select the most recent version
Once the metadata is updated select a different version and wait for the metadata
Once the metadata is updated, open the combobox again

Observed: VS hangs, I had to kill VS after a couple minutes as it didn't appear to be coming back.
Observed: The time to open the combo

[2021-01-08 22:59] sbanni commented on #10443
@jebriede you seemed interested in this and had an interesting idea for solving this, so I am assigning it to you for now.

[2021-01-08 23:41] nkolev92 commented on #10443
I'd imagine this is a duplicate of https://github.com/NuGet/Home/issues/8058.

[2021-01-09 00:57] #8973 closed, assigned to nkolev92

[2021-01-09 17:33] jnm2 opened #10446 "Signing multiple packages at once would be nice, and the NuGet CLI docs already claim this is possible"
NuGet CLI version 5.8.0.6930

When you have to enter a password or use a hardware device once per call to `nuget sign`, it becomes strongly desirable for `nuget sign` to be able to sign any number of .nupkg and .snupkg files in a single invocation and only require the password once. In other words, `nuget sign` should work the way `signtool` works.

The documentation is even written expecting this

[2021-01-09 17:48] jnm2 commented on #10446
I just realized that `nuget sign path\to\*.nupkg` and `nuget sign path\to\*.snupkg` separately work. I thought they did not because this doesn't work:

[code]

So there is still no way to avoid entering a password/using a device at least twice if you use the new recommended snupkg format.

[2021-01-09 18:07] StingyJack commented on #3891
@roofiq - Yes, but it is going to depend on if you are packaging assemblies or programs in this way.  When you refer to _build artifacts_, those are usually going to be programs (Web Apps, Windows desktop apps, Web Sites, WPF, AWS Lambda, Azure Function/webjob, etc.) and sometimes other things like config files.  Making these into nuget packages adds complexity because you go from a simple zipped

[2021-01-09 19:32] #10234 closed, assigned to donnie-msft

[2021-01-10 23:40] ChocoMachine commented on #8093
OK, so where about did you add this ?

[2021-01-11 06:06] heng-liu commented on #7180
I tried the [XDocument ](https://docs.microsoft.com/en-us/dotnet/api/system.xml.linq.xdocument?view=net-5.0)APIs, but seems none of them could keep the indent in one element(between attributes).
e.g. for the following xml file:
[code]
If we save the above file in path1, and load the file and save it to path2
[code]
Then the indent in path1 disappeared when loaded and saved in path2.

So looks like

[2021-01-11 08:09] ViktorHofer commented on #10405
ping @zkat

[2021-01-11 08:28] Perry004 commented on #6873
Hi, is the idea added into nuget now?

[2021-01-11 08:49] ffMathy commented on #6873
@chgill-MSFT looks good to me, except I'd prefer if inclusion of `README.md` was default, like on NPM. People will quickly adopt. It is highly unlikely that it'll be a surprise, and it is so much easier.

Want a vibrant ecosystem that's well-documented? Because most NuGet packages are not including README.md today, and that is an absolute must if you want to have an NPM-ish experience.

[2021-01-11 14:52] alexandrejobin opened #10447 "Using 'dotnet nuget push' to local source also push source code"
I have a shared folder on my network where a publish my private packages. I use the command `dotnet nuget push package_name.nupkg --source c:\temp\packages` and it push the `nupkg` file but also all is source code in the `content` folder:

![image](https://user-images.githubusercontent.com/865002/104196248-8cd62400-53f1-11eb-90db-bd55a6a2e1e9.png)

Why does the source code included in the nuget pu

[2021-01-11 17:02] ryanpd423 commented on #3324
Just to second @JonDouglas, my primary case is that using an internal repo like Artifactory makes absorbing a package like `runtime.opensuse.42.1-x64.runtime.native.system.security.cryptography.openssl` impossible due to this limitation.

Guessing I can directly edit my local nuget cache to include the relevant installation folders for things like `runtime.opensuse.42.1-x64.runtime.native.system.s

[2021-01-11 17:02] StingyJack commented on #7180
@heng-liu  - I made a [working POC a while ago](https://github.com/NuGet/Home/issues/7180#issuecomment-418951758)

[2021-01-11 17:44] sbanni commented on #10443
@nkolev92 I tested a change without loading all the registration pages, it appears to be unrelated.

[2021-01-11 18:12] MToolmaker commented on #3324
Also having this painful issue. It would be really great to fix it as soon as possible.

[2021-01-11 18:48] #10416 closed, assigned to donnie-msft

[2021-01-11 19:25] #10380 closed, assigned to sbanni

[2021-01-11 19:26] heng-liu commented on #7180
Thanks @StingyJack !
Do you mind turning it into a PR so that people could review it?
Here is the [CONTRIBUTING.md](https://github.com/NuGet/NuGet.Client/blob/dev/CONTRIBUTING.md) document if you would like to contribute. Thanks.

[2021-01-11 19:43] dominoFire commented on #9561
Closing since there's not so much activity and it seems to be fixed in dotnet 5.x ; if anyone has any thoughts, feel free to reply to reopen this issue. Thanks!

[2021-01-11 19:43] #9561 closed, assigned to dominoFire

[2021-01-11 19:52] nkolev92 commented on #10068
deprioritizing for now.

[2021-01-11 19:59] StingyJack commented on #7180
Its a POC so I didnt bother with some of the niceties or adhering to any one particular style. I made it available to just about anyone to use however they wanted.

But I didn't create this incredible time vampire of a defect described in the OP thats just been getting ignored by its creator. It seemed to me that it was not getting fixed because the creator did not know how to go about fixing it.

[2021-01-11 20:00] #10154 closed, assigned to donnie-msft

[2021-01-11 20:12] donnie-msft commented on #9887
Lowering priority as I think this will be resolved with XAML refactoring, anyway.

[2021-01-11 20:15] jebriede commented on #10422
Closing as duplicate of https://github.com/NuGet/Home/issues/9882

[2021-01-11 20:15] #10422 closed, assigned to nobody

[2021-01-11 20:42] #4176 closed, assigned to jebriede

[2021-01-11 20:42] dtivel commented on #10024
@v-luzh, can you please update this issue with:
* build information for the most recent VS + NuGet configuration you've verified that this bug reproes on
* complete repro steps
    * start with freshly launched Visual Studio instance with no open solution
    * describe each project added

On VS main/30911.23 I tried creating a C# Console Application (.NET Framework) project with no packages, adde

[2021-01-11 20:57] donnie-msft opened #10449 "Updates Tab checkboxes do not work well with screen-readers"
Related: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1245157

Work with the Automation peer so that checkbox state of a package item is properly announced to a screen reader.

Somewhat related issue regarding focus on this control:  https://github.com/NuGet/Home/issues/8963

[2021-01-11 21:49] erdembayar commented on #10263
@v-luzh @aortiz-msft
I'm pinging again to remind. Can you help with repro of this bug? I was not able to repro this.

[2021-01-11 22:27] JonDouglas commented on #9435
Should this be tracked in https://github.com/NuGet/Home/issues/9783?

[2021-01-11 22:28] JonDouglas commented on #9090
Can this be closed now?

[2021-01-11 22:31] JonDouglas commented on #9571
@donnie-msft Is this specifically needed for the .NET team or just a `dotnet CLI` parity / feature enhancement?

[2021-01-11 22:34] JonDouglas commented on #9571
In other words, we want to create https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-config but for `dotnet CLI`?

[2021-01-11 22:38] JonDouglas commented on #9667
We may be able to consider this in .NET 6, so I'm going to link it to https://github.com/NuGet/Home/issues/9783 for now given the pre-req is included for now.

[2021-01-11 22:41] JonDouglas commented on #9913
@nkolev92 should we consider this in .NET 6?

[2021-01-11 23:06] nkolev92 commented on #9913
I think we can remove it before that, in 16.9/16.10.
It was a preview workaround.

[2021-01-11 23:28] donnie-msft commented on #9571
I created this based on the linked issues (21 upvotes!)
/cc @dominoFire whose area is CLI and @heng-liu for cross-plat

[2021-01-11 23:57] heng-liu commented on #10421
Hi, from [DeepSpeech repository](https://github.com/mozilla/DeepSpeech/blob/master/native_client/dotnet/DeepSpeechClient/DeepSpeechClient.csproj#L4), the project is not targeting `net452;net46;net47;uap10.0`.
So there is no compatible dlls in the package. (NuGet finds for closest compatible TFM, but none of the dlls under lib/net45, lib/net46, lib/net47, lib/uap10.0 are compatible with netcoreapp3

[2021-01-11 23:59] #10421 closed, assigned to nobody

[2021-01-12 00:17] heng-liu commented on #10429
Hi, the package source path in VS is specifying where do you want to download packages from.
However, the global-packages folder is where NuGet installs any downloaded package. Each package is fully expanded into a subfolder that matches the package identifier and version number. Projects using the PackageReference format always use packages directly from this folder. When using the packages.confi

[2021-01-12 00:18] #10429 closed, assigned to nobody

[2021-01-12 00:51] heng-liu commented on #10442
I could repro. But if I reopen the solution, the nodes will be removed as expected.
Is this by design, or we should work with project-system team to fix that?

[2021-01-12 10:59] AraHaan commented on #5358
Mine is
 C:\Users\runneradmin\AppData\Local\Microsoft\dotnet\sdk\5.0.100\NuGet.targets(131,5): error : Unable to load the service index for source https://dotnet.myget.org/F/roslyn/api/v3/index.json. [D:\a\Sdk\Sdk\build_all_packages.sln]
C:\Users\runneradmin\AppData\Local\Microsoft\dotnet\sdk\5.0.100\NuGet.targets(131,5): error :   Response status code does not indicate success: 404 (Feed does not

[2021-01-12 11:01] v-luzh commented on #10263
Hi @erdembayar OK, I will cry to make a gif for you. I created a clean machine (Win10 19H2)->create an ASP.NET Web Application-Web Forms (.NET Framework 4.8)->don't close the solution or VS and new an ASP.NET Web Application (.NET Framework 4.8)-Single Page Application->do the step3 and step4, then you would see the bug.

[2021-01-12 15:26] chgill-MSFT commented on #10442
I can't imagine it's by design as I don't see any potential customer benefit unless maybe it's a result of some perf optimization. I think we should work with project-system to get a fix 😊

[2021-01-12 15:46] zivkan commented on #5358
@AraHaan the "dotnet" account at myget (dotnet.myget.org) has been deleted. I suggest using versions of packages available on nuget.org.

[2021-01-12 16:05] chgill-MSFT commented on #6873
Hi @Perry004, it is not implemented yet. I will update this thread when it's ready 😊 Thank you for your patience!

@ffMathy thank you for your feedback! I think this will eventually the default behavior of the feature, but the thinking was that we would introduce the feature first without auto-inclusion and essentially give authors time to update/write their Readmes with the expectation of it bein

[2021-01-12 16:16] ffMathy commented on #6873
@chgill-MSFT that makes perfect sense, and I get the idea. However, I just don't think people will actually *notice* and *do something* about it until they discover the descriptions to their packages being weird.

That's how I figured out how it worked on NPM - by observing that the package description turned into the repo description.

It's nice to give people some time to adapt, but don't expect

[2021-01-12 16:43] zkat commented on #9010
@aortiz-msft why did this get reopened?

[2021-01-12 17:05] wisepotato commented on #1821
@yishaigalatzer why is this closed, the issue you are tracking is irrelevant. We are talking about the development stage. also NuLink looks amazing @felix-b

[2021-01-12 17:16] zivkan commented on #10098
duplicate of https://github.com/nuget/home/issues/10015

[2021-01-12 17:16] #10098 closed, assigned to zivkan

[2021-01-12 17:20] zivkan commented on #10015
I saw and worked on #10098, before discovering this issue, and the other didn't specify a schedule.

Anyway, I've got a branch with the change, ready for a PR: https://github.com/NuGet/NuGet.Client/tree/dev-zivkan-remove-IPackageSourceProvider2

[2021-01-12 17:24] erdembayar opened #10450 "Skip failing test - GetTotalCountAsync_WithGreaterThanOrEqualToMaxCountResults_ReturnsMaxCount"
Related to [#10451](https://github.com/NuGet/Home/issues/10451)
NuGetPackageSearchServiceTests.GetTotalCountAsync_WithGreaterThanOrEqualToMaxCountResults_ReturnsMaxCount is keep failing on CI and also it fails on local.
In order to unblock CI builds need to skip for now.
![image](https://user-images.githubusercontent.com/8766776/104349250-89a56b80-54b7-11eb-91a1-d80d291ea828.png)

[2021-01-12 17:34] erdembayar commented on #10263
@v-luzh
I know your pain, because I already experienced it. Screen2Gif's default rendering engine is so bad. So instead use FFmpeg for it from settings, also it let's you easy download FFmpeg engine if it's missing on your machine.

![image](https://user-images.githubusercontent.com/8766776/104350758-5f54ad80-54b9-11eb-8857-c940d5c9d03d.png)

[2021-01-12 17:45] erdembayar opened #10451 "GetTotalCountAsync_WithGreaterThanOrEqualToMaxCountResults_ReturnsMaxCount test start failing from weekends"
NuGetPackageSearchServiceTests.GetTotalCountAsync_WithGreaterThanOrEqualToMaxCountResults_ReturnsMaxCount is keep failing on CI and also it fails on local.
In order to unblock CI builds need to skip for now.

[2021-01-12 17:55] rrelyea commented on #10451
I wouldn't call it a flaky test. it always passed before friday. Now it is always getting a different result. is the plan to comment it out and have somebody dig into it?
cc: @zivkan

[2021-01-12 18:09] donnie-msft commented on #9250
New upvotes on https://developercommunity2.visualstudio.com/t/nuget-package-projecticon-azure-devops-artifacts-i/1014111?from=email&viewtype=all#T-ND1307513

[2021-01-12 18:30] zkat commented on #9435
@JonDouglas it is. Do you mean that it shouldn't be?

[2021-01-12 18:38] JonDouglas commented on #9435
@zkat Was just adding a reference after going through all the various `dotnet` partner tags.

[2021-01-12 19:09] erdembayar commented on #10263
@v-luzh  @aortiz-msft
I sent you my recording over email, please check.

[2021-01-12 19:43] #10441 closed, assigned to nkolev92

[2021-01-12 20:33] #10450 closed, assigned to erdembayar

[2021-01-12 22:17] #5127 closed, assigned to erdembayar

[2021-01-13 00:48] #10436 closed, assigned to sbanni

[2021-01-13 01:22] nkolev92 commented on #5184
Fixed by https://github.com/NuGet/NuGet.Client/pull/3785.

Yep, definitely something on our radar. https://github.com/NuGet/Home/issues/6867 and https://github.com/NuGet/Home/issues/6579 are the 2 related issues.

[2021-01-13 01:22] #5184 closed, assigned to nobody

[2021-01-13 04:41] v-luzh commented on #10263
Hi @erdembayar Here is the key point to work around known bug 1160376 and repro the #10263.
Attached the gif file of my repro on VS D16.9\30911.76 + NuGet Client Release-5.9.x-preview.3\5.9.0.7027.
1.	Create an ASP.NET Web Application-Web Forms (.NET Framework 4.8), (wait for the number on the right of the “Updates” tab come out) go to “Updates” tab, check “Select all packages” check-box and click

[2021-01-13 05:27] #9981 closed, assigned to zivkan

[2021-01-13 06:47] v-longmin commented on #10379
Verify the issue on Main\30912.243 + NuGet Client Dev\5.9.0.7028, it has been fixed, close it, thanks.

[2021-01-13 06:47] #10379 closed, assigned to nobody

[2021-01-13 07:22] v-longmin opened #10452 "The deprecated icon overlaps with the version of the deprecated package in Browse tab"
## Details about Problem
VS Version: Main\30912.243
NuGet Version : Dev\5.9.0.7028
OS Version: Windows-10-Enterprise-19H2
## Installation
1. Install VS Main\30912.243: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4366886&view=ms.vss-build-web.run-extensions-tab
2. Install NuGet Dev\5.9.0.7028: \\\ddfiles\drops\NuGet\Drops\CI\NuGet.Client\Dev\5.9.0.7028\artifacts\VS15\NuGet.Tools.v

[2021-01-13 08:58] v-luzh commented on #10024
Hi @dtivel Update all the info.
## Build Info
NuGet version: NuGet Client dev\5.9.0.7028
VS Version: Main\30912.243
OS: Windows-10-Enterprise-19H2
## Repro Steps
1. On a clean VM, launch VS and create an ASP.NET Web Application-Web Forms (.NET Framework 4.8), (**wait for the number on the right of the “Updates” tab coming out--that is a workaround of bug 1160376**) go to “Updates” tab, check “Sele

[2021-01-13 13:32] AraHaan commented on #5358
@zivkan I see, however I usually use the prerelease packages to .NET core assemblies in order to be able to pull in the latest and greatest fixes to them (like for example System.Text.Json from .NET 5 / 6) and using it on netcoreapp3.1.

[2021-01-13 15:43] QTom01 commented on #5805
Just checking in to say in our 97 project solution it still takes 10+ minutes to install one package into one project (VS 2019 Professional latest version). God forbid when I have to update a package for all/most projects in which case it takes literally an hour+.

[2021-01-13 16:28] tompazourek commented on #7395
I have the same issue. One additional thing I noticed is that only the timestamps of the DLL/PDB files are shifted.

Other files inside the nupkg zip file (e.g. the "nuspec" file or the "[Content_Types].xml" or the "_rels") all have correct timestamps.

Regarding the impact, other than that I don't like that there's incorrect and misleading information in the package, this is also causing issues w

[2021-01-13 16:34] donnie-msft commented on #10452
I found specifically that it's only when no "latest version" is shown on the right that this problem occurs:

![image](https://user-images.githubusercontent.com/49205731/104481034-47e9f300-5593-11eb-8158-54d2e07528d1.png)

[2021-01-13 17:06] chgill-MSFT commented on #10452
@donnie-msft

I played around with it a bit more. The overlap only happens when the package is installed, regardless of if "latest version" is shown on the right side.

![image](https://user-images.githubusercontent.com/15097183/104484797-b2049700-5597-11eb-9104-47c024ecc465.png)

[2021-01-13 17:51] zivkan opened #10453 "Migrate from DTE's solution events to IVsSolution's events"
Historically NuGet has use DTE's solution events to detect projects in the solution, and when an API needs to pass an instance of a project, we used DTE's `Project` in the API. However, this was not recommended, so when a new API, GetInstalledPackagesAsync was added recently, we created our first API that used the project id (guid).

The DTE project doesn't have an API to get the project id direct

[2021-01-13 18:16] #9977 closed, assigned to donnie-msft

[2021-01-13 20:52] #10433 closed, assigned to rrelyea

[2021-01-14 07:55] v-luzh commented on #9882
I have a workaround: Don't click the "Updates" tab until the number on the right of the "Updates" tab coming out.

[2021-01-14 11:30] olivegamestudio opened #10454 ""Unable to find package" error but nupkg exists in in repository and locally"
## Details about Problem

Visual Studio 16.8.4 and the NUGET Package Manager UI

## Repro steps and/or sample project

Select solution and NUGET solution update.
Goto updates and see update for own package listed. e.g. 3.0.7 with an upgrade to 3.0.8 showing.
Checkbox and update.

## Output

Restoring packages for C:\dev\X.csproj...
  GET https://api.nuget.org/v3-flatcontainer/mypackage/index.json

[2021-01-14 11:35] sonic1981 opened #10455 "Don't offer upgrade of assemblies to v5 for .Net Core 3 targetted projects"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): Visual Studio

Product version: 16.8.3

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

[code]
Nuget offers an upgrade of the package `Microsoft.Extensions.Logging.Abstractions` to version `5.0.0` for the above. If you complete this upgrade you get errors runn

[2021-01-14 11:37] ImAMightyPirate commented on #10370
OK, so I've now set up the following scenario:-

* Our nightly CI build is now pushing to two feeds - the original one hosted by ProGet and to a shared folder on the network (the local feed)
* I've created a cut-down version of the CI build that restores this package, it runs the following:-

nuget.exe restore <Solution Name>.sln  -source <Path to Local Feed> -verbosity detailed

(if I have unders

[2021-01-14 15:41] #10452 closed, assigned to donnie-msft

[2021-01-14 17:30] breidikl opened #10456 "Inconsistent packages.lock.json after updating global.json from 3.1.405 to 5.0.102"
## Details about Problem

Depending on what is installed on the machine, running restore on the same project will result in different packages.lock.json files.

Specifically we use the following command on our builds:

If the build fails with NU1004 (and we're not in an automated build environment), we'll re-run restore without --locked-mode to update the lock file and rebuild.

The problem is tha

[2021-01-14 18:08] nkolev92 commented on #10330
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2021-01-14 18:08] #10330 closed, assigned to nobody

[2021-01-14 18:11] nkolev92 commented on #10423
@neeraj9

NuGet uses the project file for restore and not the code, any chance you can provide us a slimmed down version of your project?
Removing *all* PackageReference and ProjectReference elements *should* be fine, we only really need to know the value of ~7 properties.

Such as:
TargetFramework(s)
TargetFrameworkMoniker
TargetPlatformMoniker

[2021-01-14 19:52] #9090 closed, assigned to aortiz-msft

[2021-01-14 19:56] aortiz-msft commented on #10110
@heng-liu - Is there work left for this issue?

[2021-01-14 20:56] rtaylor72 commented on #3891
Sad we are now on .Net 5 and this is still an issue...  I do not see any progress on this...

[2021-01-14 23:21] heng-liu commented on #10110
For the spec, I don't think so. But I haven't got any approval on the spec yet.

[2021-01-14 23:26] erdembayar commented on #10263
@v-luzh @aortiz-msft

I found where this exception is coming from, it's [VsMSBuildProjectSystem](https://github.com/NuGet/NuGet.Client/blob/a0bccbf2705a1721d5b119c406382033d8160d81/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/ProjectSystems/VsMSBuildProjectSystem.cs#L815-L835) com interface call.

I tried to check in what is in com interface call but found bit challenging due it's being

[2021-01-15 13:55] Neoff224 commented on #6330
Completely agree with the people who think that remove this functionality is a **BIG mistake**.

As it has been said, What about private repositories? And products as Azure DevOps and private organizations with private access and private repositories?

Don't hide yourself behind the excuse about security risk. Simply say, "We don't want to make it possible". The thread would be already closed.

[2021-01-15 14:09] belucha commented on #10275
Just to complete the working answer by Vfialkin
putting a file name `nuget.config` (watch the casing) besids the solution works.
[code]
So maybe the issue needs to be fixed by microsoft by changing the default `nuget.config` inside of `mcr.microsoft.com/dotnet/sdk:5.0`. I will try to open an issue here
https://github.com/dotnet/dotnet-docker

[2021-01-15 14:21] AraHaan commented on #3891
I found something that works however it would need some edits to work for satellite assemblies too.

https://github.com/Elskom/Sdk/
Take a look at the dummy nuspec with an csproj just to make it all work with dotnet build / dotnet pack.

[2021-01-15 14:41] ViktorHofer commented on #10363
Static graph currently crashes with circular dependencies in play and doesn't log this piece (which non static graph restore does):
[code]

[2021-01-15 16:18] quasarea opened #10457 "Missing format default on `nuget list source`"
Similar to https://github.com/NuGet/Home/issues/9337, it seems issue reemerged recently.

## Details about Problem
When calling
[code]
error is thrown, instead of using detailed as default like it was in previous versions.
[code]

Product version:
NuGet Version: 5.8.1 (installed by azdo nuget installer task) - throws

Worked before? If so, with which NuGet version:
NuGet Version: 5.7.0.6726 (comma

[2021-01-15 16:56] shibayan opened #10458 "Lock file integrity is lost when using floating version in project references"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): dotnet.exe

Product version: .NET SDK 5.0.102

Worked before? If so, with which NuGet version: None

## Repro steps and/or sample project

Full sample project is here: https://github.com/shibayan/nuget-lock-demo

[code]

[code]

When using floating version in `ClassLibrary1`, it seems that the corr

[2021-01-15 18:26] cdmihai commented on #10363
@ViktorHofer
Static graph does not have any visibility in target execution, it only knows about project level dependencies declared at evaluation time. So it detects cycles in the project dependency graph but not in the target dependency graph, which is only known at target execution time.

[2021-01-15 18:36] ViktorHofer commented on #10363
Right, the static graph nuget restore console app is crashing and doesn't log anything. Uncertain but I think the build even continues afterwards.

[2021-01-15 19:32] cdmihai commented on #10363
That definitely sounds like an issue. Please open a separate issue. Not enough data to tell if the problem is with msbuild or static graph restore

[2021-01-15 21:08] nkolev92 commented on #10363
Static graph restore shouldn't be running that target.

I'm unfamiliar with static graph beyond restore though, so I might be missing some context.

[2021-01-15 21:12] erdembayar commented on #7395
@zivkan @nkolev92 @JonDouglas

I want to fix this along with my fix for [Issue#7001](https://github.com/NuGet/Home/issues/7001) in [PR#3793](https://github.com/NuGet/NuGet.Client/pull/3793).
It looks dotnet/runtime really doesn't care about which timezone you're in. So I'm going to remove UTC checking from my PR.

https://github.com/dotnet/runtime/blob/master/src/libraries/System.IO.Compression/sr

[2021-01-15 21:20] zivkan commented on #7395
@erdembayar In my opnion, we should **always** convert to UTC before setting the timestamp in the nupkg.

I don't know if zip files store timezone in addition to date and time. If not, it's critical to store times as UTC, always. But, if it is, we should make sure we do the right conversion to local time when saving the file on the local file system, because not all nupkgs are created with officia

[2021-01-15 21:43] ViktorHofer commented on #10363
Right, that target runs only without static graph restore which logs the circular dependency. With static graph restore enabled, restore just silently fails and nothing is logged.

[2021-01-15 22:16] cdmihai commented on #10363
That part is definitely an issue. Root cause unknown.

[2021-01-15 22:40] nkolev92 commented on #10370
On the commandline, `-source` overrides the feeds specified in the configuration.

There are logs added in 5.9, so if you can try it out with the previews, that would do it.

Note that when you tell NuGet to use 2 feeds, local feeds are preferred over http feeds. https://docs.microsoft.com/en-us/nuget/concepts/package-installation-process

[2021-01-16 00:23] zivkan opened #10461 "When restoring at normal verbosity, log which source a package is being restored from"
Currently, when restoring at normal verbosity, I get an error message when a package is being installed, but it doesn't say from where. It might be implied if it's downloaded from an HTTP source, but if it's found on a local source, there's nothing in the log to explain where it came from.

Currently:

[code]

Desired: the "installing" line should read:

[code]

Note, https://github.com/NuGet/NuGe

[2021-01-16 01:07] #9010 closed, assigned to zkat

[2021-01-16 01:21] zkat commented on #10418
This seems to actually be a Pack issue right now?

Looking at the nuspec for System.Reactive:

![image](https://user-images.githubusercontent.com/17535/104793132-0fdedd80-5756-11eb-9235-83795d555abf.png)

[2021-01-16 01:36] #9289 closed, assigned to erdembayar

[2021-01-16 03:38] erdembayar commented on #10263
@v-luzh

After debugging we found what is wrong and provided that information to that "IDE" team. Somehow it was resolving another dll as "Microsoft.Owin.Security.Cookies" and failing since they don't match. At this moment nothing we can to until they fix it.
@aortiz-msft  can you follow up and ask for update later with "IDE" team?

[2021-01-16 03:56] erdembayar commented on #7395
@zivkan
Let me confirm 1 more time.
So if I create package in current PST time zone at "7.50PM 1/15/2021" (5.50 PM 1/16/2021 Samao) then someone in Samao extract same nupkg after few week then he'll still see "5.50 PM 1/16/2021" in Samao timezone on timestamp. Is it correct?
Does `Nuget.Packaging.Extraction` handle extraction of nupkg?

Can you elaborate more on `we can't trust the data in a nupkg

[2021-01-16 07:21] huoyaoyuan commented on #10418
Yes it should be. NuGet Package Explorer doesn't show `frameworkReference` tag so I didn't mention it.

This looks like to be intentional. They explicit sets `UseWPF`. But it makes it unusable for WinUI.

Can there be any indications to force `net5.0` instead of `net5.0-windows10.0.19041` get picked?

[2021-01-16 18:50] tompazourek commented on #7395
@erdembayar I'll explain the issue I'm experiencing. I build DLLs, and their LastModified timestamp will be 19:47 in UTC+1 Prague, or, in other words, 18:47 UTC.

Then I pack the NuGet and then restore it, and the DLLs in the NuGet cache have LastModified timestamp of 18:47 in UTC+1 Prague, or in other words, 17:47 UTC.

Just by packing the NuGet, the timestamps shifted by 1 hour. The timestamps a

[2021-01-17 02:25] StingyJack commented on #3891
@AraHaan - those nuspec files are really, really over-worded.

Rather than tangent this thread further I'm going to open an issue on the repo you linked to share some ideas with you that may reduce your maintenance pains. I'll link it here for anyone who wants to follow.

[2021-01-18 01:51] v-luzh commented on #10263
@erdembayar OK, thanks for your info. We will verify this bug after their fixing.

[2021-01-18 08:20] christianfosli commented on #7605
This is still broken in dotnet 5.

`dotnet list package --outdated` 401's.
`dotnet list package --outdated --interactive` keeps asking for log-in for what seems like an endless loop, issuing a bunch of PAT's.

`dotnet restore --interactive` and `dotnet restore` works fine.

[2021-01-18 09:26] v-longmin opened #10462 "Error NETSDK1005 “Assets file 'C: \Users\v-minlon\source\repos\RRR02\RRR02\obj\project.assets.json' doesn't have a target for 'net5.0'.” occurs when building solution after enabling “RestoreLockedMode”"
VS Version: Main\30917.09
NuGet Version : Dev\5.9.0.7050
OS Version: Windows-10-Enterprise-19H2.
## Installation
1. Install VS Main\30917.09: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4380664&view=ms.vss-build-web.run-extensions-tab
2. Install NuGet Dev\5.9.0.7050: \\\ddfiles\drops\NuGet\Drops\CI\NuGet.Client\Dev\5.9.0.7050\artifacts\VS15\NuGet.Tools.vsix
## Repro steps
1. Crea

[2021-01-18 12:15] #7552 closed, assigned to nobody

[2021-01-18 12:17] lbargaoanu opened #10463 "Enable SourceLink for the NuGet APIs packages"
If there is already an issue for this, I didn't find it :)

[2021-01-18 12:19] lbargaoanu commented on #7552
Replaced by #10463.

[2021-01-18 16:32] pdario66 commented on #10336
I have just upgraded to version 16.8.4, but the problem is still sitting there, when will be this released?

![VS 16_8_4 problems with NuGet Manager](https://user-images.githubusercontent.com/77633072/104941265-2170f100-59b3-11eb-85fe-3f6f5883656d.png)

[2021-01-19 04:42] SimonCropp opened #10464 "Dont hide exception stacktrace in packtask"
## Details about Problem

When a top level exception occurs in packtask, the stack trace is hiddin. this makes it difficult to work out what the underlying issue is.

![image](https://user-images.githubusercontent.com/122666/104988693-dc10fa00-5a6c-11eb-81b4-d7069a7f58f4.png)

## Product version:

see environment below

## Repro steps and/or sample project

difficult to create a repro when cant wo

[2021-01-19 05:37] heng-liu commented on #10455
Hi, if you download the `Microsoft.Extensions.Logging.Abstractions` package for both v3.1.11 and v5.0.0 and check the lib folder,
you'll find the dlls are in netstand2.0 folder (v5.0.0 has an extra net461 folder, but netcoreapp3.1 project won't use that one as it's not compatible).
NuGet finds dll for closest compatible TFM, and the [tool](https://nugettoolsdev.azurewebsites.net/5.8.0/get-nearest-

[2021-01-19 07:06] MansMarius-Intenda opened #10465 "Nuget Package does not copy content to output directory"
I'm using a nuspec file to build the package BOS.Shell and reference it from the UI.Warehouse project.

As can be seen, the target is a class library Package Reference project on Framework 4.7.2.

When I build the project I expect the CONTENT FILES to be copied to the output directory, but it does not ?

The binary files works as expected.

NuGet Version: 5.8.0.6930

![image](https://user-images.g

[2021-01-19 12:53] wangyoutian commented on #4491
This is really very depressing, since we have already a lot of automation scripts built upon "nuget pack".

After converting  a project from "packages.confg" to "PackageReference", we now have to add referenced package one by one manually; that is really pain, especially the missing of dependency will only be known when we run a project.

[2021-01-19 13:28] VincentSoloOfficial commented on #4837
Observing the exact same thing as @pyrostew and @Patrico12345.
It completely defeats the very purpose of Nuget (handling dependencies !).

I really don't understand how this bug has been lingering for so long : the problem seems pretty straightforward once you put the finger on it.

Let's hope it will be resolved soon.

The workaround (direct dependency) might seem fine at first glance, but it's a

[2021-01-19 18:28] donnie-msft commented on #10464
Asked for an example of output, but other than that lgtm.
@dominoFire any CLI concerns?

[2021-01-19 18:35] dtivel commented on #9935
The fix for AzDO 1264138 has integrated with VS.  This is now unblocked.

[2021-01-19 18:46] nkolev92 commented on #10464
The exception should be *logged* at diag/detailed verbosity.

Can you try that?

[2021-01-19 19:13] erdembayar commented on #10263
@v-luzh @aortiz-msft
I created internal [ticket#1267486](https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1267486) for external team. Since it's dup of that ticket I'm closing this one.

[2021-01-19 19:13] #10263 closed, assigned to erdembayar

[2021-01-19 19:49] erdembayar commented on #10210
@aortiz-msft
FYI : Here is repro steps from Damon.
Connect to test Azure machine.

1.  Open PowerShell and path to F:\git\NuGet.Client.Test.
2.  In PowerShell execute:

git clean -xdf
.\configure.ps1

3.  Launch Visual Studio Installer.
4.  Launch Visual Studio Enterprise 2019 (16.7.7).
5.  Open F:\git\NuGet.Client.Test\NuGet.sln.
6.  In Solution Explorer right-click on the solution node and selec

[2021-01-19 21:31] #10464 closed, assigned to nobody

[2021-01-19 22:02] dtivel opened #10467 "Codespaces: necessary formatters not registered"
Two MessagePack formatters are not registered.  This results in serialization/deserialization errors of those types.

*  `RemoteErrorFormatter`:  https://github.com/NuGet/NuGet.Client/pull/3797 unregistered it, probably the result of an incorrect merge conflict resolution.
* `IInstalledAndTransitivePackagesFormatter`:  https://github.com/NuGet/NuGet.Client/pull/3680 added the new formatter but did

[2021-01-19 23:21] nbcakmak commented on #8843
Hi,

I came accross this thread while looking for a fix for my project , following solution works for me .

As I understood from Microsoft references, nupkg copies only assembly files to output directory by default if you use
`<Content Include = "*"> `tag , on the other hand there are other buildOptions for .nuspec file like None.

Append and modify following lines according to your need and make

[2021-01-20 00:08] augustoproiete opened #10468 "Feature request: Installation of nuget packages with custom types"
## Background

Currently, a NuGet package can have a [custom PackageType](https://docs.microsoft.com/en-us/nuget/create-packages/set-package-type) defined by the package author, which is currently used for different purposes, including the [filtering in the NuGet gallery](https://www.nuget.org/packages?packagetype=dotnettool&sortby=relevance&q=&prerel=True) as well as changing the behavior of the

[2021-01-20 00:31] donnie-msft opened #10469 "GetPackageMetadataAsync should not be invoked on UI thread"
PM UI calls NuGet.Protocol's search API on the UI thread, here:

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/PackageFeeds/SourceRepositoryExtensions.cs#L90

[2021-01-20 00:51] nkolev92 opened #10470 "Remove net45 as as a target framework from NuGet.Frameworks"
This is unnecessary, as NuGet.Frameworks currently targets net40. We don't need to build 4 times, 3 is plenty :)

[2021-01-20 04:06] dominoFire commented on #10465
Have you tried a folder convention-based approach to create BOS.Shell package? That way, you don't need to specify the assemblies as content files. More info at https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package#from-a-convention-based-working-directory

[2021-01-20 05:20] MansMarius-Intenda commented on #10465
The binary files (dll's) works as expected, it is the other (content) files that is the issue.
Thanks

[2021-01-20 05:57] #10467 closed, assigned to dtivel

[2021-01-20 09:23] ImAMightyPirate commented on #10370
Thank you for your support, I think I've identified the root cause and nuget.exe restore is behaving correctly.

Our ProGet server has multiple feeds - one being used as the main feed and the other being used as a symbol server. A malformed package was being pushed to the symbol server feed.

NuGet was on occasion selecting the package from the symbol server feed (which wasn't a real symbols packa

[2021-01-20 09:23] #10370 closed, assigned to nkolev92

[2021-01-20 10:32] MansMarius-Intenda commented on #10465
Ok, got it fixed thanks

https://stackoverflow.com/questions/65803903/nuget-package-does-not-copy-content-to-output-directory?noredirect=1#comment116347149_65803903

[2021-01-20 10:32] #10465 closed, assigned to nobody

[2021-01-20 11:00] AndersAbel opened #10471 "Please don't refer to package author on non-matching frameworks"
When trying to install a package that targets a higher .NET Framework version into an application that targets a lower version the error message is non-clear. It would be good if
* The error message included the target version that the package requires.
* The error message did not tell the user to contact the package author.

As the author of a somewhat popular package (Sustainsys.Saml2) I do get

[2021-01-20 17:04] mujdatdinc commented on #5132
This is not working as expected. Looks like only one guy is using this.

[2021-01-20 18:06] JonDouglas commented on #10471
@AndersAbel I believe this depends on how you are installing. The package manager console is quite old, but you may see a much more pleasant experience in other tools like `nuget CLI` or `dotnet CLI`

`dotnet` for example shows:

[code]

[2021-01-20 18:41] zivkan commented on #7395
I spent entirely too much time on this, but what I found was:

First, [Wikipedia's article on the zip file format say](https://en.wikipedia.org/wiki/ZIP_(file_format)#Structure)

Therefore, the best we can do is assume that the time stamp in the file is in the UTC (+0) time zone, which also means we need to make sure when we save a nupkg, that the time is adjusted to UTC.

Consider the following c

[2021-01-20 19:31] nkolev92 commented on #10456
The extra package reference is brought by the SDK in https://github.com/dotnet/sdk/blob/61e32e28afb1ab622e96625aa80cebc78373554f/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.FrameworkReferenceResolution.targets#L359-L377.

Can you try setting `AutomaticallyUseReferenceAssemblyPackages` to `false`?

Not sure why it's being added at this point, but we can dig more if setting the pro

[2021-01-20 19:33] tompazourek commented on #7395
@zivkan Fascinating, thanks for sharing your findings. One thing that was strange to me is that the DLLs and PDBs inside the NuGet were the only shifted files. The other files (like the `[Content_Types].xml`, the `nuspec` file, the stuff in `rels` directory, `package` metadata, etc.) all had their timestamp unaffected by this, and so they were correct. So there must be something that NuGet does sp

[2021-01-20 19:40] zivkan commented on #10471
@JonDouglas I think it depends if the project the package is being installed into is packages.config or PackageReference, rather than which tool is being used to install. I have no opinion on whether or not we should direct customers to the package author, but I agree that we should be reporting which TFMs the package supports.

[2021-01-20 19:47] zivkan commented on #7395
@tompazourek, when we pack files off the disk, we use `FileInfo.LastWriteTimeUtc`, whereas for the generated files we either use `DateTime[Offset].Now` or we don't set a default, and the .NET zip APIs default to `Now` (local). Hence in my opinion, the time we write to the zip is wrong for the generated files. If you extracted the nupkgs on a computer with a different time zone than the one you pac

[2021-01-20 19:59] sbanni commented on #10412
@nkolev92  I am attempting to address this with [this PR](https://github.com/NuGet/NuGet.Client/pull/3791)
It looked to me that the DTE command was not available when we tried to call it, so I am adding a loop to wait for it to be available first, in my local testing this fixed the flakiness and I no longer get the stack that Donnie linked above.

[2021-01-20 20:07] breidikl commented on #10456
Setting AutomaticallyUseReferenceAssemblyPackages to false stopped the inconsistent lock file modifications.

I'm still testing some of our other environments, though it did resolve the first couple of environments that were hitting deterministic updates of existing files not present when using the earlier sdk version.

From: Nikolche Kolev <notifications@github.com>
Sent: Wednesday, January 20, 2

[2021-01-20 20:15] JonDouglas commented on #6867
Hi everyone,

In an effort to start gathering more input about this issue, we'd like to invite you to schedule 30 minutes with the NuGet team to talk about potential solutions to this problem so we can shape the future of this feature.

Feel free to reserve 30 minutes in the next couple weeks here:

https://aka.ms/talktonuget

Thanks!

[2021-01-20 20:33] JonDouglas commented on #10471
@AndersAbel Can we get some further reproduction steps? My test above was with a `dotnet new` targeting `net45` using `dotnet add package`. Please feel free to include how you created your reproduction so we can understand the type of project you're trying to install to.

[2021-01-20 20:42] tompazourek commented on #7395
@zivkan That explains it, thanks. In addition to your suggestions how to fix this that all make sense to me (like if we adjust to UTC during packing, we should adjust from UTC when restoring), I'd also suggest handling all files the same way. I don't see why some files should be treated differently than other.

[2021-01-20 20:49] nkolev92 commented on #10456
Sounds great.

We can move this to SDK team so they can help us figure out this changed.

cc @dsplaisted @sfoslund @wli3

[2021-01-20 21:02] #10470 closed, assigned to nkolev92

[2021-01-20 21:41] zkat commented on #9435
I don't think there's anything for us to do here, so I'm closing this out.

[2021-01-20 21:41] #9435 closed, assigned to nobody

[2021-01-20 21:43] zkat commented on #7815
This is still under discussion, and we might be achieving this a different way. Will update as discussions progress. /cc @JonDouglas

[2021-01-20 21:45] zkat commented on #5926
This would be the alternative to #7815 /cc @JonDouglas

[2021-01-20 21:46] zkat commented on #9347
@JonDouglas can you check that this is still planned, and if not, remove from the net 6 epic?

[2021-01-20 22:32] nkolev92 commented on #10412
@sbanni That's awesome! Left a comment on the PR.

[2021-01-20 22:35] nkolev92 commented on #5926
I think they tackle the same problem, but I don't necessarily think they have to be exclusive.

This covers already existing packages, while #7815 is more about the direction new packages need to take.

[2021-01-20 23:29] nkolev92 commented on #9435
Wouldn't we have the same ask in net6.0?

[2021-01-21 01:25] dsplaisted commented on #10456
We started automatically referencing the reference assembly packages as needed in the .NET 5 SDK: https://github.com/dotnet/sdk/pull/10981

These references are only supposed to be added when the corresponding targeting pack is not installed in Program Files.  So I would expect the build to fail for the 3.1 SDK if the targeting pack was not installed, and I would expect the lock files to be the sa

[2021-01-21 01:43] breidikl commented on #10456
In most of the examples, these were for projects targeting down level full framework versions (i.e. 4.6.2, 4.7, etc...).

We do have packages containing the relevant targeting packs that are correctly found in our build environment via shared logic,, though that doesn't seem to be a consideration for how the lock files are being updated (and the available targeting packs installed to Program Files

[2021-01-21 01:49] nkolev92 commented on #10456
@dsplaisted

Why not use `PackageDownload` instead?
It wouldn't affect the lock file.

Worth understanding why:

Specifically focusing on @breidikl's comment:

[2021-01-21 02:11] dsplaisted commented on #10456
The .NET Framework targeting pack packages can be referenced manually, either in an SDK-style project or in a classic project.  So the NuGet packages have .targets files that need to be imported which tell MSBuild where to find the reference assemblies.  Also, the Microsoft.NETFramework.ReferenceAssemblies package has version-specific dependencies on the packages which deliver the reference assemb

[2021-01-21 08:18] AndersAbel commented on #10471
@JonDouglas I used the package manager console in Visual Studio 2019, a "classic" Asp.Net web application targeting .NET Framework. The .csproj is classical format and there is a packages.config in the project.

The output that you showed from the `dotnet` command looks much better, where it states what targets are supported by the package. When it simply states "contact the package author" it res

[2021-01-21 09:10] Spongman commented on #4103
`dotnet list package --outdated` generates an output that is wholly unsuitable for scripting.

[2021-01-21 09:51] ghominejad opened #10472 "Problem when pushing via .Net 5 SDK docker image"
## Details about Problem
When I push the package locally or via .Net 3.1 SDK docker image, everything woks fine but via  .Net 5 SDK docker image it has source parameter error, while I've set the source parameter.

**Product version:**
 mcr.microsoft.com/dotnet/sdk:5.0-buster-slim

## Repro steps and/or sample project

$ dotnet nuget push **/*.nupkg -k $NugetToken -s https://api.nuget.org/v3/index.

[2021-01-21 11:31] roofiq commented on #3891
Hey guys, dunno where should I ask this question but this thread seems like a good place!

I have several .net windows services, that I am creating NuGet packages. Firstly I am creating nuspec file with dependencies I want to include. And then I am packing with below command:
 `dotnet pack $csproj.csproj -p:NuspecFile=$csproj.nuspec`

All works fine! But we have one service in different Sdk.
[code

[2021-01-21 16:45] TheNybbler opened #10473 "[Question] How to obtain the list of project references changed to package references during nuget pack?"
I need to get a list of project references that are transformed into package references when building a solution in Visual Studio. Is there an extension point in the Nuget.Pack.Targets file that can provide me with these details?

I've asked the [same question on StackOverflow](https://stackoverflow.com/questions/65808800/how-to-obtain-the-list-of-project-references-changed-to-package-references-d

[2021-01-21 17:06] JonDouglas commented on #10473
Hey @TheNybbler

Thanks for opening an issue!

Because this is a question, we encourage you to use Stack Overflow and Microsoft Q&A. If you don't get an answer if a week or so, please open a "GitHub Discussion"!

You can learn more about this here:

https://github.com/NuGet/Home/wiki/Submitting-Bugs-and-Suggestions#before-submitting-an-issue

Thus we're closing this issue for now.

[2021-01-21 17:06] #10473 closed, assigned to nobody

[2021-01-21 18:10] iSeiryu commented on #9020
mcr.microsoft.com/dotnet/sdk:5.0
30 MB/s channel

Still the same set of errors even on small projects. The workarounds above work but are slow.
`curl`ing the same packages inside the same Dockerfile happens instantly.

[2021-01-21 18:13] Craige commented on #4103
@JonDouglas Any update/ETA on this?

[2021-01-21 18:19] JonDouglas commented on #4103
@Craige I have a spec ready to publish, but I'm finalizing some larger plans to release first. Give me a week or so. Apologies in advance.

[2021-01-21 18:40] aortiz-msft commented on #10424
This seems like a duplicate of https://github.com/NuGet/Home/issues/7245

[2021-01-21 18:50] donnie-msft opened #10474 "WCAG 1.3.1: The given element is expected to have the following structure: ListItem and (NoChild(IsControlElement) or AllChildren(not(IsControlElement) or (Edit or Image or Text)))"
I believe we can reduce the programmatic representation of our Packages list. Investigate.

**App:** devenv

**Element path:** list item 'bootstrap'

**Issue Details:** The given element is expected to have the following structure: ListItem and (NoChild(IsControlElement) or AllChildren(not(IsControlElement) or (Edit or Image or Text))). [WCAG 1.3.1](https://www.w3.org/TR/UNDERSTANDING-WCAG20/conte

[2021-01-21 18:50] aortiz-msft commented on #10432
Thank you for your feedback! We are evaluating all the feedback provided for the preview release of CPVM to understand how we can improve the design for its final release in an upcoming version of .NET.

[2021-01-21 18:56] aortiz-msft commented on #10438
This issue was moved to dotnet/sdk#15443

[2021-01-21 18:56] #10438 closed, assigned to nobody

[2021-01-21 18:58] aortiz-msft commented on #10442
This issue was moved to dotnet/project-system#6853

[2021-01-21 18:58] #10442 closed, assigned to nobody

[2021-01-21 19:04] aortiz-msft commented on #10447
Does the nupkg include a content folder? Would you mind adding a screenshot of the contents of the nupkg?

[2021-01-21 19:50] donnie-msft commented on #10424
@aortiz-msft & @nkolev92  I don't see any evidence that this is a dupe. The linked issue is showing Project System errors that aren't in the Error list. This issue's scenario is that the project file doesn't exist, therefore there's no way to propagate errors.

[2021-01-21 20:33] nkolev92 commented on #10424
NuGet writes the assets file with the errors, the project system uses the SDK tasks to read the assets and generate log items. Said items are used to populate the error list + solution explorer.

[2021-01-21 20:33] #10424 closed, assigned to nobody

[2021-01-21 20:34] nkolev92 commented on #7245
Related scenario is mentioned in https://github.com/NuGet/Home/issues/10424.

[2021-01-22 02:26] edufur commented on #5979
This needs to be re-opened. 3 years have gone by and this is still a problem. dotnet pack is not a useful option unless they library is dotnetcore... which in my case, it is not.

[2021-01-22 03:12] qidydl commented on #5979
I'm guessing the intended solution is for people to get off legacy .NET Framework projects and onto .NET 5, 6, and up from there. It's clear that .NET Framework is a dead end at this point.

[2021-01-22 12:11] HavenDV opened #10475 "dotnet nuget push with --skip-duplicate pushes .snupkg constantly and causes validation to fail."
I use a command like this to push all .nupkg files at once inside Github Actions:
[code]
When I update only one library out of many in a commit, it updates all .snupkg files and fails validation. In my opinion --skip-duplicate should not load the .snupkg file if the .nupkg file with that version already exists in the source. Or .snupkg must be versioned too.
If this is the correct behavior, I woul

[2021-01-22 15:46] alexandrejobin commented on #10447
Yes my package have a content folder:
![image](https://user-images.githubusercontent.com/865002/105512256-def33100-5c9e-11eb-8882-20d9c541a5c4.png)

Also, another package have a lib folder that gets deployed on my nuget share folder:
![image](https://user-images.githubusercontent.com/865002/105512089-b0755600-5c9e-11eb-8be0-8c754190bf21.png)

[2021-01-22 17:36] omajid commented on #10139
I would argue that, worse, it prevents contributions, especially the drive-by kind. I have some fixes for NuGet.Client but I have no idea how to build/test it given that the obvious choice `./build.sh` is  just out of date.

[2021-01-22 17:37] omajid commented on #10139
I get:

[code]

[2021-01-22 17:48] sbanni commented on #10412
This is caused by a [race condition](https://github.com/NuGet/NuGet.Client/blob/85f17f0525048c36cdd080324019729884b1d998/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/IDE/VSSolutionManager.cs#L810), we are checking if the cache is initialized but it is in the process of being initialized so we fail.  I have a proposed fix for this in the PR I linked above.

[2021-01-22 17:52] omajid opened #10476 "Strange null checks in NuGet.Client code"
I ran a static analyzer over the NuGet.Client sources and it caught some strange null checks. We should fix those to make this code more robust and avoid surprises.

[2021-01-22 19:41] omajid opened #10477 "NuGet.Client code calls string.Replace and ignores the return value"
## Details about Problem

NuGet.Client's `src/NuGet.Core/NuGet.PackageManagement/Utility/PackagesConfigLockFileUtility.cs` calls `string.Replace` and doesn't do anything with the return value.

[code]

`string.Replace` doesn't modify the instance; it returns a new string. We should either store the returned value somewhere, or not call `string.Replace` at all.

Product version:

Worked before? Not

[2021-01-22 21:51] wackoisgod commented on #9347
@zkat I would like this to still be a thing and we are still wanting to use a custom TFM. I do think that the major blocking issue at the moment is the Issue I mentioned above which as far as I know has not been resolved (cc: @dominoFire )

[2021-01-22 23:15] heng-liu commented on #8581
Hi @nkolev92 , as @erdembayar and I are checking compatibility issues, may I know if the case change in the lock.json file will cause compatibility issue? Thanks!

[2021-01-22 23:38] heng-liu commented on #8929
Hi @v-luzh , may I know if you could repro on latest VS16.9? Thanks!
FYI @erdembayar

[2021-01-23 00:11] nkolev92 commented on #8581
No, this is an old issue.

[2021-01-23 00:22] #10412 closed, assigned to sbanni

[2021-01-23 01:18] #10142 closed, assigned to erdembayar

[2021-01-23 02:00] erdembayar opened #10478 "Implementation - Add new telemetries to track events related to PMC and Powershell usage follow up."
For [issue#10142](https://github.com/NuGet/Home/issues/10142) I received PR reviews right after I merged my [PR#3755](https://github.com/NuGet/NuGet.Client/pull/3755).
Address 2 comments left by @nkolev92 (https://github.com/NuGet/NuGet.Client/pull/3755#discussion_r562995245
https://github.com/NuGet/NuGet.Client/pull/3755#discussion_r562995592)

[2021-01-23 15:12] zivkan commented on #10463
Blocked on https://github.com/dotnet/sourcelink/issues/696

[2021-01-23 21:21] zkat commented on #10418
Alright, so I'm not really sure where this issue is coming from, but I know it's somewhere in the restore _while creating the Reactive package_.

I found this in the binlog:

![image](https://user-images.githubusercontent.com/17535/105614288-53040680-5d7d-11eb-8d17-2bc4b6544e31.png)

Which suggests this is what's causing this to happen:

![image](https://user-images.githubusercontent.com/17535/105

[2021-01-23 21:31] huoyaoyuan commented on #10418
This should be the package requiring reference in unfriendly form. NuGet is working correctly here.

[2021-01-23 21:31] #10418 closed, assigned to zkat

[2021-01-24 14:46] zivkan commented on #10418
@zkat if you wanted to find where `_EnableWindowsDesktopNetCoreFrameworkReferences` is being defined, you have a few options:

1. In the binlog viewer, right click the csproj, and there should be an option similar to "preprocess". This will copy-paste all imported msbuild files into one huge project file, which you can then use any text search
2. You can generate the preprocess file on the command

[2021-01-24 14:56] #10461 closed, assigned to zivkan

[2021-01-24 19:28] annieIqbal commented on #10279
I have faced the same issue on visual studio 19 in mac. I was able to resolve it by following steps :quitting the visual studio instance.

[2021-01-24 20:33] gh-andre opened #10479 "NuGet is missing package revision management"
This is a feature request, so no steps, logs, etc.

Most NuGet packages are created not by the software maintainers, but rather by people consuming those packages or making them available for consumption for other projects. This creates a significant problem with the non-existing package versioning in NuGet, as opposed to the packaged software versioning. NuGet only supports the latter, making it

[2021-01-25 04:13] drewgillies commented on #8756
This needs to be spiked before it can have a real estimate.

[2021-01-25 10:11] Camble commented on #6408
This issue is present in 16.8.3

[2021-01-25 15:09] omajid opened #10480 "Copy-paste error in V2FeedPackageInfo"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): None

Product version: git commit a8521b95672b14779d24b06c6adf70252d9b2f32

Worked before? If so, with which NuGet version: N/A

## Repro steps and/or sample project

https://github.com/NuGet/NuGet.Client/blob/59792e4733ced999af222a8ba7adb7a4ee8f5a08/src/NuGet.Core/NuGet.Protocol/LegacyFeed/V2FeedP

[2021-01-25 17:55] donnie-msft commented on #8963
@v-luzh Thanks for adding that, and I agree with you that this isn't great focus behavior.
However, I believe this is something WPF will need to address in the future. The ComboBox controls probably do not meet https://w3c.github.io/wcag/understanding/focus-appearance-minimum which are not required by Microsoft today per the Accessibility team.  For now, I will not track this in our repo since it

[2021-01-25 18:21] nkolev92 commented on #10279
Hey @annieIqbal

For Visual Studio for Mac, can you please report the issue in https://docs.microsoft.com/en-us/visualstudio/mac/report-a-problem?view=vsmac-2019.

[2021-01-25 18:22] nkolev92 commented on #10279
Given that we have no repro for Visual Studio, closing this as no repro.

[2021-01-25 18:22] #10279 closed, assigned to nobody

[2021-01-25 18:28] vsfeedback opened #10481 "nuget.exe v5.8.1 cannot get the value from assemblyinfo.cs by $version$"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/nugetexe-v581-cannot-get-the-value-fr/1316506)._

---
[severity:It bothers me. A fix would be nice]
I used **VS2019** and **nuget.exe v5.8.1**. I created a net framework 4.7.2 class library project and add `version`, `description`, `company`..... any info under `assemblyinfo.cs` file.

[2021-01-25 18:36] vsfeedback opened #10482 "Why project.assert.json file is different between VS IDE restore and msbuild restore?"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Why-projectassertjson-file-is-differen/1242086?preview=true)._

---
<p>[severity:It bothers me. A fix would be nice]<br>
I created a <code>Net Framework 4.7.2</code> console project called <strong>Common</strong> with a PackageReference nuget package <code>Antlr</code>. Then, I changed

[2021-01-25 19:25] donnie-msft commented on #9578
@jebriede found that we won't be changing this grid control now, so won't be able to address the checkboxes. He's going to create a separate issue just for the column sorting bug.

[2021-01-25 20:05] aortiz-msft opened #10483 "Only one package shows in the Preview Changes window when there are multiple packages available to update in the Package Manager UI"
---
**Issue moved from NuGet/Client.Engineering#723**
- Please respond to @v-luzh.

---

_From @v-luzh on Tuesday, January 19, 2021 9:40:54 AM_

## Details about Problem
NuGet version: NuGet Client dev\5.9.0.7050
VS Version: Main\30918.32
OS: Windows-10-Enterprise-19H2
## Installation steps
1.	OS: Windows-10-Enterprise-19H2.
2.	Install VS Main\30918.32 from: https://devdiv.visualstudio.com/DevDiv/

[2021-01-25 20:05] aortiz-msft commented on #10483
---
**Issue moved from NuGet/Client.Engineering#723**
- Please respond to @aortiz-msft.

---

_From @aortiz-msft on Tuesday, January 19, 2021 7:29:24 PM_

@v-luzh - Does this repro in VS 16.8 GA?

[2021-01-25 20:05] aortiz-msft commented on #10483
---
**Issue moved from NuGet/Client.Engineering#723**
- Please respond to @dtivel.

---

_From @dtivel on Tuesday, January 19, 2021 7:55:16 PM_

@aortiz-msft, I will look at it.

[2021-01-25 20:05] aortiz-msft commented on #10483
---
**Issue moved from NuGet/Client.Engineering#723**
- Please respond to @v-luzh.

---

_From @v-luzh on Wednesday, January 20, 2021 9:01:18 AM_

@dtivel @aortiz-msft It **repro** on 16.8 GA (D16.8\30705.32 with implicit NuGet Release-5.8.x\5.8.0.6930).

[2021-01-25 20:24] #10483 closed, assigned to dtivel, v-luzh

[2021-01-25 20:48] Bouke commented on #9417
I'm running into the same problem. When interacting with nuget through Visual Studio (16.8.4) the `packages.lock.json` file is rewritten changing `CompanyName.Project.Name` into `project.name`, causing build/restore issues. The workaround I've been working with thus far is running `nuget restore -LockedMode -ForceEvaluate` in the solution folder.

[2021-01-25 21:32] dominoFire commented on #10475
@donnie-msft Do you have any thoughts ?

[2021-01-25 22:00] dominoFire commented on #10472
Reproduced with following steps:

Run a 'terminal' inside the image:

[code]

Then, run your push command

[code]

If that's the case, then, there's some parameter clashing when you're invoking docker and the nuget push command at the same time.

[2021-01-25 22:06] dominoFire commented on #10454
@olivegamestudio Can you submit your ticket via VS Feedback? We need some info that the VS Feedback tool collect to better diagnose your issue.

![image](https://user-images.githubusercontent.com/1192347/105772049-757d5780-5f16-11eb-9c1f-50515c99a151.png)

[2021-01-25 22:19] omajid opened #10484 "Rfc3161TimestampTokenInfo.GetNonce can throw"
## Details about Problem

https://github.com/NuGet/NuGet.Client/blob/ebbb1a07f5f433485b6676689b7933db5074a151/src/NuGet.Core/NuGet.Packaging/Signing/Timestamp/Rfc3161TimestampTokenInfo.cs#L111

[code]

This method tries to handle `Decoded.Nonce` being null. But if it's null, it will throw in `Array.Reverse`.

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): NuGet.Client c

[2021-01-25 22:30] nkolev92 opened #10485 "Enhance the coding guidelines - add rule for parameter names & namespace names"

[2021-01-25 22:47] donnie-msft commented on #10475
@dominoFire & @HavenDV I'm not quite following this scenario.

Please include the exact message you are talking about. Is it a nuget.org message?

What is meant by update? You mean you make changes to contents of a nuget package, but don't change the version #?

Perhaps you're asking a slightly different version of the question posed here?: https://github.com/NuGet/Home/issues/9647

[2021-01-25 23:12] aortiz-msft commented on #10462
Seems like a regression introduced by https://github.com/NuGet/NuGet.Client/pull/3810. We should probably revert the commit associated with this Pull Request and reach out to the contributor to iterate on the proposed code changes.

[2021-01-25 23:33] erdembayar commented on #10396
@Anipik
This PR introduced regression bug [issue#10462](https://github.com/NuGet/Home/issues/10462).
Can you check what was the problem and rectify it and create new merge PR request?

[2021-01-25 23:54] ericstj commented on #10462
How did you happen to identify https://github.com/NuGet/NuGet.Client/pull/3810 as the root cause here?  It didn't look to me like that PR would impact restore since it's only modifying targets that run during Pack... cc @nkolev92

[2021-01-25 23:54] ericstj commented on #10462
I see @nkolev92 made the same observation here: https://github.com/NuGet/NuGet.Client/pull/3868#issuecomment-767185566

[2021-01-26 00:07] nkolev92 commented on #10462
I think the regression was `technically` introduced in https://github.com/NuGet/NuGet.Client/commit/7ea82b69b7ea8b85ae8e825324376a228ea71a52, however I'd like to argue that we shouldn't revert that commit, because the experience `prior` to this change was broken anyways.

I'll add another comment with more details.

[2021-01-26 00:32] nkolev92 commented on #10462
### What was original problem we're trying to fix

* NU1004 is an error that gets raised when a restore is *run* in locked mode and the lock file is out of date.
* Note that NU1004 is an error that *requires* an action, either by not being in locked mode, or updating the lock file explicitly. The text of the error asks for that.
* In SDK(CPS) based projects, NuGet restore doesn't write the warning

[2021-01-26 00:37] erdembayar commented on #10396
@an

[2021-01-26 00:37] #10396 closed, assigned to nobody

[2021-01-26 00:39] ericstj commented on #10462
Shouldn't something be done to ensure that the error from the assets file is raised rather than the missing target section error?

[2021-01-26 00:49] nkolev92 commented on #10462
I thought both errors are being raised but the NU1004 doesn't seem to remain :(

So I think the net effect is the same in this *particular* scenario.

[2021-01-26 00:51] jebriede commented on #9578
I investigated the possibility of using a TableControl to replace the existing WPF GridView being used for the project list. The TableControl will not solve the issue with the checkboxes and requires a non-trivial amount of work for its implementation. Along with it comes a lot of rich features, many of which we do not need for the project list. It seems it is not the best fit for this control and

[2021-01-26 01:45] erdembayar commented on #10081
@aortiz-msft @zivkan

After spending some time I manipulated asset files  and I was not able to repro this problem. Then after talking with @zivkan
 again we realized problem was fixed by someone else recently.
 Instead of exception it was returning empty transitive packages which is expected behavior.
![image](https://user-images.githubusercontent.com/8766776/105788030-80df7b80-5f34-11eb-8257-6be

[2021-01-26 01:45] #10081 closed, assigned to erdembayar

[2021-01-26 02:15] HavenDV commented on #10475
Yes, it is almost the same.

The situation is this - there is a repository that contains 20 libraries. They depend on the external Core library, when it is updated, the general version in the Directory.Build.props file changes and they are all updated at once. But they also have their versions, which are defined as `<Version>$(Version).100</Version>`, so I can only update the specific library.
Wit

[2021-01-26 02:23] derekssmith commented on #9195
This issue is plaguing us also.

[2021-01-26 02:30] donnie-msft commented on #10475
Going to defer to @zkat for any changes here.
I worked on skip duplicate flag, and it's simply ignoring 409's. It can't predict what's on the server. nuget.org doesn't generate a 409 for snupkgs, and they have reasons for that: https://github.com/NuGet/NuGetGallery/issues/7681.
Have you tried `-No-Symbols`? https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-push#options

[2021-01-26 02:48] HavenDV commented on #10475
https://docs.microsoft.com/ru-ru/dotnet/core/tools/dotnet-nuget-push
[code]

Perhaps the description is incorrect here, but no, I have not tried this.
I will try and write to you.

[2021-01-26 02:53] nkolev92 commented on #10462
I did some analysis + updated the above comment.
The experience is still lacking, but for a different reason. The fix might be on NuGet, but it might on SDK or project-system too. We need to investigate.

I think the current experience is comparably bad.
Looking at the data, not too many use lock files with locked mode enabled in VS.

[2021-01-26 03:17] HavenDV commented on #10475
If I specify `--no-symbols true` then .snupkg files simply stop loading(As I understand it because they exist and they exist for a fixed version).
I would like to provide the library user with an up-to-date .snupkg file for each version.

[2021-01-26 09:17] Perry004 commented on #10481
I also faced the issue.

[2021-01-26 10:01] ghominejad commented on #10472
I thinks that was Gitlab's fault. I pushed to the master branch and the error has gone!  :/

Do you know the reason of this strange behavior?

[2021-01-26 15:12] ysmoradi commented on #9947
Could you please create an issue template for this so we can fill that everytime new preview versions of vs is out?

VS 16.9 prev 3 is published a few days and I'm unable to find Nuget.Frameworks version 5.9.0.6981 anywhere )":

[2021-01-26 16:08] msdickinson commented on #5556
@madelson I am intrested in using "version range" work around that you posted.

But I have not been able to undersatnd how to use yours or the one mentioned above.

Is this a post step after dot net pack?
Or is this somthing that is passed in with dotnet pack?

Could you place in sample command line of how you would use that?

Thank you.

[2021-01-26 20:21] erdembayar commented on #8640
@nkolev92  @aortiz-msft
Is it compatibility tenet issue?

[2021-01-26 20:21] erdembayar commented on #9574
@nkolev92  @aortiz-msft
Is it compatibility tenet issue?

[2021-01-26 20:21] erdembayar commented on #9959
@nkolev92  @aortiz-msft
Is it compatibility tenet issue?

[2021-01-26 22:32] sebas77 commented on #9853
I would have assumed this was a more common issue. I am in the same pickle, I need two different dlls as the debug one is full of run time checks that won't be good in production

[2021-01-26 22:34] aortiz-msft commented on #10462
@nkolev92  - Would you please create a new issue to improve the error reporting?

@v-luzh - We looked at the repro steps, and adding the dependency directly by hand-editing the file is not supported. Would you please update the test steps to use VS or the CLI to add the package reference?

[2021-01-26 22:34] #10462 closed, assigned to nobody

[2021-01-26 23:12] erdembayar commented on #10457
@quasarea
Can you give us repro steps? Did you change anything nuget.config file?

[2021-01-26 23:15] erdembayar commented on #10265
@aortiz-msft @zkat
Most likely connected to [Issue#10263](https://github.com/NuGet/Home/issues/10263). Asp.net related assembly resolution start having problem around same time.

[2021-01-26 23:21] luizfbicalho commented on #9853
My problem is to debug the libraries, the release source link has a lot of otimizations and it's not easy to do.
How much performance do I loose in debug mode?

[2021-01-27 00:03] madelson commented on #5556
@msdickinson this is an MSBuild target which you'd either want to add to or import from each package project's csproj file. This runs as part of the package generation process if you're using GeneratePackageOnBuild. See https://github.com/madelson/DistributedLock/blob/master/DistributedLock.Azure/DistributedLock.Azure.csproj#L53 for the file where I'm importing this.

[2021-01-27 00:30] #10218 closed, assigned to zkat

[2021-01-27 01:21] #10485 closed, assigned to nkolev92

[2021-01-27 01:28] nkolev92 opened #10486 "When in Visual Studio, a build makes an NU1004 or NU1105 disappear from the error list and leads to NETSDK1005"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): Visual Studio

Product version: 16.9

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

When a restore fails due to locked mode or because of an invalid project a build makes the error disappear in VS.

The reason for that is that the assets file contains *no ta

[2021-01-27 02:34] v-luzh commented on #10462
Hi @aortiz-msft, the purpose of this test case is to test if adding the dependency by hand-editing the file would make the error NU1004 show. And if we use VS or the CLI to add the package reference in step9, the expected error would not show.

[2021-01-27 03:09] nkolev92 commented on #10462
@v-luzh

Please follow https://github.com/NuGet/Home/issues/10486 for that scenario.

There is an issue in the nuget/project-system coordination.
NU1004 should stay in the error list as long as there's no build.

[2021-01-27 03:25] #8963 closed, assigned to donnie-msft

[2021-01-27 03:25] #10449 closed, assigned to donnie-msft

[2021-01-27 03:25] #9882 closed, assigned to donnie-msft

[2021-01-27 04:26] dotMorten opened #10487 "Download stats are showing unlisted packages"
## Details about Problem

NuGet product used: nuget.org

Product version:  Website

## Repro steps and/or sample project

Create an unlisted version.
Generate some downloads for it.
Visit the downloads page, and note that unlisted packages are... listed:
![image](https://user-images.githubusercontent.com/1378165/105942706-9f1ca880-6014-11eb-8015-c17897346878.png)

Unlisted packages should only sho

[2021-01-27 05:57] msdickinson commented on #5556
Thank you. I was able to get the target nkolev92 posted and yours to work.

This was a huge help.

[2021-01-27 08:12] GoldenLighter opened #10488 "Visual Studio 2015 - Nuget Exception - GetFullVsVersionString must be called on the UI thread"
While attempting to build or open a project in Visual Studio 2015 Update 3, I keep getting errors around nuget package management.
Whenever I build the project the first time after opening VS, I get the error message below.
I also get it when I try to open the nuget package manager dialog.
Anyone else experience this?

![1][1]
<hr>
Here is another thread in stack about this issue :

[Visual Studio

[2021-01-27 08:40] karikera opened #10489 "Custom solution configurations don't work with NuGet packages"
## Details about Problem

NuGet product used Visual Studio: Visual Studio

Product version:  5.8.1

Custom solution configurations don't work with NuGet packages.
I guess NuGet needs the mapper for custom configuration names in the user project.

## Repro steps and/or sample project

Use the NuGet package with custom configuration names
ex) debug_static/release_static instead of Debug/Release

[2021-01-27 09:11] #10455 closed, assigned to nobody

[2021-01-27 12:09] justinjalandoniiwest opened #10490 "I changed my ReposityPath in nuget.config to point to another folder but still downloads the packages in the .nuget folder."
Here is my xml:

[code]

The nuget packages are still being downloaded to the .nuget folder in my %USERPROFILE%.
How do I fix this? Right now as a workaround I just transfer the packages to the other drive manually.

[2021-01-27 12:33] dasMulli opened #10491 "NuGet restore failing on .NET 5 for Debian-based OSes (CA trust changed)"
# NuGet Team Update

For the most recent status and suggested workarounds please see: https://github.com/NuGet/Announcements/issues/49

# Original report from @dasMulli

Currently restoring any Microsoft packages within the official Docker images is broken and logging `NU3028` restore failures:

[code]

Output:
[code]

[2021-01-27 12:40] GoldenLighter commented on #10488
Would you please help me to find GetFullVsVersionString
fix extension again?

[2021-01-27 12:47] DimaGnatyuk commented on #10491
on .net core 5.0 the same problem

[2021-01-27 12:48] SergeyFilippov commented on #10491
I have the same issue also without docker. After cleaning the nuget cache it happens in all environements.
Is something really wrong with certificate?

[2021-01-27 12:49] DimaGnatyuk commented on #10491
@SergeyFilippov I think nuget`s servers have problem with ssl

[2021-01-27 12:50] aling93 commented on #10491
We're seeing the same issue on our side.

[2021-01-27 12:53] svdHero opened #10492 "dotnet build inside CI container fails with NU3028 and NU3037"
NuGet product used:
dotnet.exe

Product version (as by `dotnet --version`):
5.0.102 inside container [mcr.microsoft.com/dotnet/sdk:5.0](https://hub.docker.com/_/microsoft-dotnet-sdk/)

# Problem description
We have a Jenkins CI server on Ubuntu Server 20.04 LTS which builds our ASP.NET Web API inside a [mcr.microsoft.com/dotnet/sdk:5.0](https://hub.docker.com/_/microsoft-dotnet-sdk/) container. Ev

[2021-01-27 12:54] SergeyFilippov commented on #10491
So, there is in did certificate issue.
If one tries to execute "nuget verify -All <msnuget.nupkg>" there is clear evidence:

Subject Name: CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US
  SHA1 hash: F404000FB11E61F446529981C7059A76C061631E
  SHA256 hash: 3F9001EA83C560D712C24CF213C3D312CB3BFF51EE89435D3430BD06B5D0EECE
  Issued by: CN=DigiCert SHA2 Assured ID Code

[2021-01-27 13:01] dasMulli commented on #10492
Just opened https://github.com/NuGet/Home/issues/10491 for that

[2021-01-27 13:07] svdHero commented on #10492
@dasMulli Danke schön für den Hinweis. :wink:

[2021-01-27 13:09] tomkerkhove commented on #10491
Reminds me of March 22th, 2018:
![image](https://user-images.githubusercontent.com/4345663/105995376-2ddb0500-60a9-11eb-9cef-0b5f99309f9c.png)

So far for using Azure Key Vault for automatic cert rotation.

[2021-01-27 13:09] #10492 closed, assigned to nobody

[2021-01-27 13:11] hrytskivr commented on #10491
Experiencing same issue.

[2021-01-27 13:20] dasMulli commented on #10491
https://docs.microsoft.com/en-us/nuget/create-packages/sign-a-package

Well that's apparently not how it was implemented.

[2021-01-27 13:22] GaryBentham commented on #10491
Same issue

[2021-01-27 13:23] svdHero commented on #10492
Closed as dublicate.

[2021-01-27 13:24] svdHero commented on #10491
Same issue here.

@dasMulli How about adding "with errors NU3028 and NU3037" to the issue title for better discoverability?

[2021-01-27 13:32] Benn-DfT commented on #10491
Is the proper place for this issue https://github.com/microsoft/containerregistry/issues ?

[2021-01-27 13:32] Benn83uk commented on #10491
Is the proper place for this issue https://github.com/microsoft/containerregistry/issues ?

[2021-01-27 13:35] TomyCesaille commented on #10491
Linking the relevant news here: <https://devblogs.microsoft.com/nuget/microsoft-author-signing-certificate-update/>

The docker images are not up to date apparently.

[2021-01-27 13:37] dasMulli commented on #10491
In theory following https://devblogs.microsoft.com/nuget/microsoft-author-signing-certificate-update/#client-policy and adding the appropriate sections to `nuget.config` should work but it does not work for me. Not even with `allowUntrustedRoot="true"` 😢

[2021-01-27 13:39] ClumsyPenguin commented on #10491
Thanks god, i thought this was me. Spend all afternoon to fix this issue...

[2021-01-27 13:44] gabrielfreire commented on #8944
Hi, i'm having the same problem, i tried removing `Microsoft.EntityFrameworkCore.Tools.DotNet` but it happens with all packages
[code]

Running under fiddler
[code]

[code]
[code]

[2021-01-27 13:51] withkittens commented on #8944
The same issue with packages. Seems like the signature certificate expired today:

[2021-01-27 13:53] adamhathcock commented on #10491
I can't get this to work for me either.

Can confirm it's also not a docker-only problem.  I renamed my `.nuget` folder and restored with the errors above

[2021-01-27 13:54] JackRedstonia commented on #8944
So people around the world can't even compile their code because some random employee at MS forgot to renew their certificates... what a terrible ecosystem. I just bumped into this issue today trying to compile osu!lazer.

[2021-01-27 13:54] mbrookson commented on #8944
Also seeing Nuget errors for all packages in a repository. Has started happening out of the blue today (27/01/2021).

Here's just a snippet from our Jenkins build log...

[code]

[2021-01-27 13:55] JackRedstonia commented on #8944
Yeah, this really is a random incident.

Now I'll be right back after invading Microsoft Headquarters to "fix the build errors"... :facepalm:
[code]

[2021-01-27 14:00] woeterman94 commented on #8944
We are having the same issue with docker builds.

[2021-01-27 14:01] Manipulos commented on #8944
Someone found and linked a relevant news article here https://github.com/NuGet/Home/issues/10491
The article https://devblogs.microsoft.com/nuget/microsoft-author-signing-certificate-update/

[2021-01-27 14:03] mogery commented on #10491
Are there any workarounds for this?

[2021-01-27 14:09] bogdandynamic commented on #8944
Same issue here on docker builds.
error NU3037 and error NU3028

[2021-01-27 14:23] Lechus commented on #8944
We are having the same issue with docker builds.

[2021-01-27 14:25] joorah commented on #8944
Having the same issue here.

[2021-01-27 14:32] lsjoberg commented on #10491
Same issue here, using `mcr.microsoft.com/dotnet/sdk:5.0` for building.

[2021-01-27 14:33] kiddieverts commented on #10491
Found a workaround: See

https://github.com/dotnet/dotnet-docker/issues/2547

[2021-01-27 14:35] kiddieverts commented on #10491
Found a workaround after reading this article

https://devblogs.microsoft.com/nuget/microsoft-author-signing-certificate-update/#client-policy

dotnet/dotnet-docker#2547

Please let me know if this works for you or if there are any drawbacks with this solution

[2021-01-27 14:36] felipe-fontes commented on #8944
Same issue

[2021-01-27 14:36] woeterman94 commented on #10491
Having the same issue with docker builds in azure devops.

[2021-01-27 14:36] woeterman94 commented on #8944
See https://github.com/NuGet/Home/issues/10491

[2021-01-27 14:36] SeppPenner commented on #10491
Same here...

[2021-01-27 14:38] egbertn commented on #10491
This also happens with sdk:5.0.102-1-buster-slim, the latest image.
FYI, so don't waste time on trying to upgrade.

[2021-01-27 14:38] ClumsyPenguin commented on #10491
@kiddieverts Do i need to copy this in the solution root or in the individual project folders?

[2021-01-27 14:39] kiddieverts commented on #10491
I think you can have it in the same folder as the solution file.

[2021-01-27 14:40] ClumsyPenguin commented on #10491
@kiddieverts That does not work for me, maybe i am doing something wrong

[2021-01-27 14:40] dustinmoris commented on #10491
Also having this issue. It literally breaks all our .NET Docker image builds and means we can't release at the moment without having to implement some hacks to download NuGet packges locally and then include into the Docker build.

Why is this so broken?

[2021-01-27 14:40] lounsbrough commented on #10491
We're also seeing this issue in Docker builds today.

[2021-01-27 14:40] SeppPenner commented on #10491
There seems to be a certificate issue on nuget.org. So, there is nothing, we can do, I guess.

[2021-01-27 14:43] kiddieverts commented on #10491
Just put this repo online for you guys so you can see how it worked for me

https://github.com/kiddieverts/nuget-fix

[2021-01-27 14:45] withkittens commented on #10491
@kiddieverts Try to add Microsoft.CSharp (4.7.0) package to dependencies, and try again.

[2021-01-27 14:46] jdwalker-emis commented on #10491
Our docker

Our code has $HOME as /tmp and generates at /tmp/.nuget/NuGet/NuGet.config - this is not working for us, we know this config path works normally

[2021-01-27 14:46] dasMulli commented on #10491
@kiddieverts as mentioned before this didn't work for me either in my project nor in the sample mentioned above:

[code]

Also changing `require` to `accept`  or setting `allowUntrustedRoot` to `true` didn't change it for me.

[2021-01-27 14:47] dustinmoris commented on #10491
@kiddieverts Why would I want to manually mange certificates for each package which we depend on? That is not a solution that is a nightmare.

[2021-01-27 14:48] MartinEmbers commented on #10491
Hi!

You've added
  <PackageReference Include="Microsoft.AspNetCore.Authentication.JwtBearer" Version="5.0.1" NoWarn="NU3028" />
  with  NoWarn attribute. Without it build will fail

[2021-01-27 14:51] aneeff commented on #8944
Guys we are facing the same issue on  27/01/2021 After 6 PM GMT +5.30 when doing docker build.

[2021-01-27 14:53] dustinmoris commented on #10491
Also... reading this blog post here:
https://devblogs.microsoft.com/nuget/microsoft-author-signing-certificate-update/

If you don't specify...

[code]

... in you `NuGet.config` then you don't have to add the certificates. Thank goodness.

[2021-01-27 14:53] marcfx commented on #10491
I wonder if https://status.nuget.org/ is really green now...

[2021-01-27 14:54] Rusu-Marian-Dan commented on #8944
Same issue

[2021-01-27 14:55] dustinmoris commented on #10491
Yes, that is the problem... the NuGet team is probably asleep and don't even know that something has fallen over, because as far as their system sees everything is fine, just a bunch of users around the world being denied access :)

You'd think they have alerts for abnormal spikes of such behaviour, but apparently not.

[2021-01-27 14:55] dasMulli commented on #10491
@dustinmoris yeah I came across this document as well, though it doesn't list other options 🙃

Looking at the source code, `accept` is the other value. Didn't change anything for me though.

[2021-01-27 14:56] sampsonye commented on #10491
in this doc https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-restore#nugetconfig-differences
`trustedSigners` is not support for dotnet restore

[2021-01-27 14:57] Synergia503 commented on #8944
Same here :(

[2021-01-27 14:57] khle commented on #10491
No, it shows green but it's still not working.

[2021-01-27 15:03] gabrielfreire commented on #8944
same issue

[2021-01-27 15:03] kapitanov commented on #10491
Hi, @kiddieverts!

I'm afraid this fix won't work. You haven't added a reference to `.csproj` into `.sln`, so running `dotnet restore` does nothing:

[code]

Adding a project reference into an `.sln` file or running `dotnet restore ./dktest.csproj` produces an error:

[code]

It seems than `NoWarn="NU3028"` is ignored by `dotnet restore`.

[2021-01-27 15:04] gabrielfreire commented on #10491
same issue (NU3034, NU3028 and NU3037) with docker

[2021-01-27 15:05] hsulipe commented on #8944
Same here (NU3037 and NU3028) with docker build

[2021-01-27 15:07] Moskovych commented on #10491
The same issue with `sdk 5.0.101` (in docker). Failing even with `llowUntrustedRoot="true"`

[2021-01-27 15:08] cubed-it commented on #10491
(╯°□°）╯︵ ┻━┻

[2021-01-27 15:12] Maurik77 commented on #8944
Same issuer. This is blocking the release in production environment.

[2021-01-27 15:12] gabrielfreire commented on #10491
Microsoft, PLEEEEASE!! i <3 you, but PLEEEEEASE

[2021-01-27 15:13] ZukkyBaig commented on #10491
Our builds are failing also.

[2021-01-27 15:14] kevinharing commented on #10491
NuGet is not broken. The certificate with which Microsoft's packages were signed has expired, causing dotnet restore to fail.

[2021-01-27 15:14] artikweb commented on #10491
We're experiencing the same issue (on-prem docker pipeline).

[2021-01-27 15:14] kenoma commented on #10491
So. this day came

[2021-01-27 15:15] kibernetik542 commented on #10491
Same issue with
`mcr.microsoft.com/dotnet/sdk:5.0-buster-slim AS build` and nuget as well

[2021-01-27 15:15] automatrio commented on #8944
Same issue.

[2021-01-27 15:17] SeppPenner commented on #10491
Lol 😄

[2021-01-27 15:17] Maurik77 commented on #10491
Same issue. This is blocking the release in production environment.

[2021-01-27 15:17] ldias91 commented on #8944
Same issue

[2021-01-27 15:17] woeterman94 commented on #10491
Now what :D
![image](https://user-images.githubusercontent.com/5755057/106011875-29b7e300-60bb-11eb-8c72-c92f236db61c.png)

[2021-01-27 15:17] luigiricciato commented on #10491
Al the afternoon trying to understand what happened (even reinstalled docker). I think it's enough for today 🙃

[2021-01-27 15:19] louisjrdev commented on #10491
Looks as though MS is aware:
https://twitter.com/davidfowl/status/1354444099852640260?s=20

[2021-01-27 15:20] skofman1 commented on #10491
Thanks for reporting! We are awake now and investigating!

[2021-01-27 15:20] ldias91 commented on #10491
Same issue

[2021-01-27 15:20] kapitanov commented on #10491
Try putting the following into your `nuget.config`:

[code]

Note the `allowUntrustedRoot="true"`.

Works for me, at least for a test project.

[2021-01-27 15:20] JonDouglas commented on #10491
Hey everyone,

We're looking into this issue right now & will provide updates as we discover what's going on.

This is very likely related to the expired cert as mentioned in our blog post last fall.

Thanks!

[2021-01-27 15:21] samaleksov commented on #10491
AaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

Aaaaaaaaaaaaaaaaaaaaaaaaaaaaa a a a a         a                  a                                               a

![5C6A4CEE-4D58-4587-9880-B1195880AD50](https://user-images.githubusercontent.com/6011630/106012334-faf23a80-60c3-11eb-9d41-449a5072508c.jpeg)

Can’t do this anymore

[2021-01-27 15:22] carlosrfernandez commented on #10491
That's it, I'm taking the afternoon off ;)

[2021-01-27 15:22] mqunbar commented on #10491
Using the ubuntu image in the dockerfile is currently working for me (mcr.microsoft.com/dotnet/sdk:5.0-focal)

[2021-01-27 15:22] mcknight-joe commented on #8944
Same shit here!!!

[2021-01-27 15:23] dustinmoris commented on #10491
Everyone keep calm, NuGet team is investigating.

<img width="644" alt="image" src="https://user-images.githubusercontent.com/4580714/106012682-89aa8b80-60b3-11eb-9cc9-97f31d5b3731.png">

[2021-01-27 15:23] carlosrfernandez commented on #10491
This is effing awesome LOL

[2021-01-27 15:23] dasMulli commented on #10491
Hate to be the one but.. I believe we explored options and expressed some frustration and had our fun.
Let's restrict ourselves to productive comments until we hear from the NuGet team ❤️

[2021-01-27 15:26] woeterman94 commented on #10491
![image](https://user-images.githubusercontent.com/5755057/106013022-57515c00-60bc-11eb-821f-b16de5aa22bf.png)
I still love you Microsoft

[2021-01-27 15:26] leomoty commented on #10491
This is probably the most useful answer so far, requires no changes other than swapping the sdk builder container to ubuntu based

[2021-01-27 15:28] DCNick3 commented on #10491
Still, this does not work for all packages.

[code]

[2021-01-27 15:29] pushkar-bitwise commented on #10491
still not working

[2021-01-27 15:30] danilobreda commented on #10491
It seems that for some packages the [blog post "how to"](https://devblogs.microsoft.com/nuget/microsoft-author-signing-certificate-update) works but for others not, that why the @kapitanov worked.

[2021-01-27 15:31] rh250199 commented on #8944
Same same

[2021-01-27 15:33] cubed-it commented on #10491
not true. it works for me.

[2021-01-27 15:36] dasMulli commented on #10491
The `5.0-focal` sdk works at least for my production scenario and unblocks me for now.

For my initial repo starting this issue above it reduces the number of failed packages but some still fail:
[code]

[code]

[2021-01-27 15:36] TadGhostal66 commented on #10491
Who forgot to set a reminder in Outlook to renew the cert?

[2021-01-27 15:36] withkittens commented on #10491
@TadGhostal66 The cert was renewed. Packages not.

[2021-01-27 15:40] Dawiducik commented on #8944
Same here

[2021-01-27 15:40] jacob-abe commented on #10491
Been googling like hell for the past 4 hours or so on ways to fix the issue and decided fuck it Ill go take a nap when I noticed the date and time on the stackoverflow article and realised its a bug on microsofts side. Its calming to know I'm not the only one being frustrated.

[2021-01-27 15:40] sidinwillis commented on #10491
I changed image from

to

and it seems to work... maybe it's a coincidence.

[2021-01-27 15:40] tankbob commented on #10491
Remove the trusted signer bit you are pasting into the nuget.config and it will build

[2021-01-27 15:46] pushkar-bitwise commented on #10491
Thanks it worked

[2021-01-27 15:46] withkittens commented on #10491
YES! Moving to `sdk:5.0-focal` and **removing trustedSigners** worked for me.

[2021-01-27 15:46] ktchup commented on #10491
All pipeline process CI/CD down for a certificat.... -_-

[2021-01-27 15:49] Marucik commented on #8944
Same here 🚀

[2021-01-27 15:49] gabrielfreire commented on #10491
Worked for me too

[2021-01-27 15:52] gabrielfreire commented on #8944
Moving to `sdk:5.0-focal` docker image and removing **trustedSigners** worked for me.

[code]

[2021-01-27 15:52] nishanil commented on #8944
Looks like NuGet team is looking into it: https://twitter.com/nuget/status/1354455557541933056

[2021-01-27 15:54] Sujit115 commented on #10491
I can't edit every microservice. I need a solution.::-)) ::--))

[2021-01-27 15:54] muhammedmirzakilic commented on #10491
Using different images can work but we need a real solution.

[2021-01-27 15:55] ricardopaiva commented on #10491
Me too. I've used the sdk:5.0-alpine but both seems to work. But it's just a workaround.

[2021-01-27 15:55] jdwalker-emis commented on #10491
We install dotnet into our docker buster image, so can't use the Microsoft provided ones.

[2021-01-27 15:55] adamhathcock commented on #10491
[code]

focal and forcing the protocol version to 3 seems to work

[2021-01-27 15:57] woeterman94 commented on #10491
Can you give an example of your docker image.
I'm using
[code]

And it seems to work.

[2021-01-27 15:59] Yavari commented on #10491
This also worked for me.

[2021-01-27 16:00] jdwalker-emis commented on #10491
This won't work easily for us unfortunately, we need to do it as a post dockerbuild script

[2021-01-27 16:10] Novatone4u commented on #10491
I think a fix would be a bit more preferred.  What if you have 50 services currently in production, should we be changing every service to conform to something that works, or expecting a fix?

[2021-01-27 16:15] egbertn commented on #8944
SOLUTION HERE.... TEMPORARY
Since this solution, now allows unverified packages to be included.

NOTE that MOST solutions did not work because the correct filename in Docker (linux) should be nuget.config, not NuGet.Config as MS documents.

save content below to the root which becomes SRC in your Dockerfile.
WORKDIR /src
COPY nuget.config .

Now, you get a bunch of warnings, but your docker builts

[2021-01-27 16:17] skofman1 commented on #10491
Our preliminary investigation shows that .NET 5 restore is broken on some operating systems resulting in error messages like:

error NU3037: Package 'System.Memory 4.5.3' from source 'https://api.nuget.org/v3/index.json': The author primary signature validity period has expired.

Known workarounds include:
1. Downgrade to .NET Core 3.1
2. If using docker, change your base image from "FROM mcr.micr

[2021-01-27 16:21] schmitch commented on #10491
unfortunatly for some of us it's not as easy to just change the docker image..

[2021-01-27 16:22] ElvenSpellmaker commented on #10491
What is this `-focal` image? I'm rather hesitant to just switch out to some unknown image...

[2021-01-27 16:25] dasMulli commented on #10491
@ElvenSpellmaker  "Focal" is the codename for an Ubuntu version - https://en.wikipedia.org/wiki/Ubuntu_version_history

I suggest only moving the build parts to it to make sure you don't change any production environment.
This can be done by using a multistage Dockerfile as shown by https://github.com/NuGet/Home/issues/10491#issuecomment-768384659

[2021-01-27 16:27] skofman1 commented on #10491
@ElvenSpellmaker , like @dasMulli  wrote, 'focal' is an official image for an Ubuntu version. You can get more details here: https://hub.docker.com/_/microsoft-dotnet-sdk

[2021-01-27 16:33] dustinmoris commented on #10491
Great, but I am not going to change my build stage in a million Dockerfiles. That's madness. The NuGet signing certificate feature which quite frankly everybody hated from day 1 proves itself to be already a real kick in the teeth.

[2021-01-27 16:33] nkolev92 commented on #8944
Hey folks, please follow https://github.com/NuGet/Home/issues/10491 and https://status.nuget.org/ for updates.

[2021-01-27 16:43] ffMathy commented on #10491
"Some OSS". Understatement of the year :sweat_smile:

[2021-01-27 16:46] mark-keaton commented on #10491
[code]

Also occurring for Dockerfiles building and installing .NET 5.0 from MS assets: https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu

[2021-01-27 16:55] alanreyesv commented on #10491
Whilst we wait for a real solution , you can put this inside the `<configuration>` tag in Nuget.config to disable validation altogether (works with `dotnet restore`)

[code]

[2021-01-27 16:56] kevin-shelaga commented on #10491
alpine sdk works fine for restore as recommended

[2021-01-27 16:57] egbertn commented on #10491
save the file as nuget.config (note the capitals)

[2021-01-27 17:09] jdwalker-emis commented on #10491
didn't work unfortunately, tried both nuget.config and NuGet.Config

[2021-01-27 17:15] alanreyesv commented on #10491
This workaround also needs the image to be changed to a ubuntu based one (`focal')

[2021-01-27 17:15] withkittens commented on #10491
@alanreyesv This setting doesn't affect anything. Actually `accept` is already the default value for `signatureValidationMode`. What does work is changing the docker image.

[2021-01-27 17:23] egbertn commented on #10491
For whom do not want to change to focal
save as nuget.config in the /SRC
so in your Dockerfile add

COPY nuget.config .

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
     <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

	<trustedSigners>
	<repository name="nuget.org" serviceIndex="https://api.nuget.org/v3/index.json">

[2021-01-27 17:25] ElvenSpellmaker commented on #10491
So it's either switch to using the `focal` image or use `allowUntrustedRoot="true"`? 😬

This is a right hobson's choice.

[2021-01-27 17:30] dasMulli commented on #10491
Can confirm that this combination of nuget.config and Directory.Build.props allows a full restore and silences the expiration warning:

[code]

[2021-01-27 17:34] dasMulli commented on #10491
Aaaand another update: Hero @vcsjones 👏 🎉 provided the missing certificate for the store.

It's as simple as pulling a cert and trusting it:

[code]

This certificate is in both Ubuntu's and Alpine's trust store.

[2021-01-27 17:36] ElvenSpellmaker commented on #10491
From https://status.nuget.org/:
![image](https://user-images.githubusercontent.com/2286713/106030520-2e35c900-60c6-11eb-8b5e-27d917715428.png)

[2021-01-27 17:36] ElvenSpellmaker commented on #10491
Currently I'm using .NET 5 build image and installing .NET Core 3.1, maybe if I switch to using the 3.1 image and install .NET 5 it'll sove it.

[2021-01-27 17:52] egbertn commented on #10491
to all, don't just switch to focal. In my case, compilation succeeded. I  got my azure ACI running, but the rest api failed.
No time to figure out why, so I switched back to buster-slim (Debian) and using the nuget.config workaround.

[2021-01-27 17:53] UlissesMeira commented on #10491
I changed
FROM mcr.microsoft.com/dotnet/aspnet:5.0-buster-slim
To FROM mcr.microsoft.com/dotnet/sdk:5.0-alpine

this worked for me!

[2021-01-27 17:54] dasMulli commented on #10491
@egbertn also check https://github.com/NuGet/Home/issues/10491#issuecomment-768450905.
 Probably interesting for @dustinmoris as well

[2021-01-27 18:16] dustinmoris commented on #10491
Thanks @dasMulli :)

[2021-01-27 18:33] arnodb commented on #10491
FYI, here I was using `debian/stretch` into which I installed the SDK by myself. What works and what doesn't:

- any debian + dotnet packages from https://packages.microsoft.com/config/debian/10/packages-microsoft-prod.deb :x:
- any debian + dotnet packages from https://packages.microsoft.com/config/ubuntu/20.10/packages-microsoft-prod.deb :x: (I easily assume the debs are almost identical in both

[2021-01-27 18:37] JrgSirr commented on #10491
@UlissesMeira you also did a downgrade to .NET Core 3.1 or just moving to 5.0-alpine?

[2021-01-27 19:04] jongio opened #10493 "With http sources, when the protocol version is not specified, NuGet should detect the version by contacting the source instead of assuming v2"
I want to be able to create short links for my package feed URLs
i.e.

https://aka.ms/azsdk/net/feed -> https://pkgs.dev.azure.com/azure-sdk/public/_packaging/azure-sdk-for-net/nuget/v3/index.json

If I do this:
[code]

I get this:
[code]

It would be great if I could specify a short link in csproj file and nuget follows the redirect.

azsdke2e
azsdke2e2

[2021-01-27 19:22] gabrielfreire commented on #10491
I can't update/install Nuget packages using Visual Studio 2019 Package manager

[2021-01-27 19:23] DanilaMonets commented on #10491
@JrgSirr this works for me without moving to .NET Core 3.1

[2021-01-27 19:31] timohermans commented on #10491
Moving from buster-slim to alpine doesn't work for me somehow :(.

[code]

[2021-01-27 19:35] JrgSirr commented on #10491
@DanilaMonets thanks!

[2021-01-27 19:39] abelevtsov commented on #10491
error NU3028: Package 'Microsoft.Win32.SystemEvents 5.0.0' from source 'https://api.nuget.org/v3/index.json': The author primary signature's timestamp found a chain building issue: UntrustedRoot: self signed certificate in certificate chain

[2021-01-27 19:41] skofman1 commented on #10491
For the most recent status and suggested workarounds please see: NuGet/Announcements#49

[2021-01-27 19:47] victorprocure commented on #8944
You can follow here for updates [Issues 49](https://github.com/NuGet/Announcements/issues/49)

[2021-01-27 19:53] evgenirusev commented on #10491
This worked for me as well, but I had to do some modifications for some of my Dockerfile steps, since alpine is based on a different distro.

For instance I had to change this step - _RUN sudo apt install npm_
into this - _RUN apk add --update nodejs_

[2021-01-27 20:12] ElvenSpellmaker commented on #10491
For me, using the 3.1 image and installing 5.0 didn't work, it still errors.
[code]

[2021-01-27 20:12] gelo1234 commented on #10491
This is the only solution that worked with my .NET 5 build/restore Docker process. Thank you.
Greg

[2021-01-27 20:42] loic-sharma commented on #10491
@ElvenSpellmaker It looks like you're still restoring packages using  .NET 5  (due to the `RUN wget https://dot.net/v1/dotnet-install.sh && bash dotnet-install.sh -c 5.0 -i /usr/share/dotnet`). You will need to use .NET Core 3.1 or older to restore.

[2021-01-27 20:48] mykola-klymyuk-eleks commented on #10491
We had the same issue, the solution (workaround?) was to switch to Ubuntu-based image for building .Net sources (mcr.microsoft.com/dotnet/sdk:**5.0** -> mcr.microsoft.com/dotnet/sdk:**5.0-focal**).
Now it works correctly. Hope, it'll help!

[2021-01-27 20:53] ElvenSpellmaker commented on #10491
As the issue is with the system bundled ca-certs (isn't it?) it shouldn't matter which versions of .NET are installed?

We can't compile without the 5.0 SDK being present because we use C# 9 features such as implicit ternary casts which require SDK 5.0 even though we _target_ 3.1 and run in 3.1 images.

[2021-01-27 20:56] rrelyea commented on #10491
@ElvenSpellmaker  - .net core 3.1 sdk didn't do verification of nuget package signatures. This is why you only see this with recent Debian + .net 5.0 sdk.

[2021-01-27 20:59] loic-sharma commented on #10491
@ElvenSpellmaker If you must use the .NET 5 SDK, you'll need to use the other workarounds listed in https://github.com/NuGet/Announcements/issues/49 (update the `ca-certificates` package, or, use `alpine` or `focal` docker images).