[2021-01-27 21:01] ElvenSpellmaker commented on #10491
@rrelyea Yeesh thanks, that's interesting to note, but rather bad that 3.1 doesn't do verification 😬

@loic-sharma I'll use `focal` for now thanks.

[2021-01-27 21:04] gelo1234 commented on #10491
Changing dotnet/sdk:5.0 to dotnet/sdk:5.0-alpine or focal did NOT work at my site.
There were still problem with certs verification process even when fetching NEW Docker images
-> update the ca-certificates package along with existent cert from Verisign helped.

[2021-01-27 21:14] loic-sharma commented on #10491
@gelo1234 what were the problems you had when changing to Alpine images? Please note that Alpine is not a drop-in replacement for Debian. You may need to modify your `Dockerfile` to move to Alpine. For example, commands like `apt-get` don't exist in Alpine.

[2021-01-27 21:33] gelo1234 commented on #10491
The same issue: Failed 'dotnet restore' due to: The author primary signature's timestamp found a chain building issue: UntrustedRoot: self signed certificate in certificate chain
And Signature expired.

[2021-01-27 21:36] loic-sharma commented on #10491
@gelo1234 Do you have a repro you can share?

[2021-01-27 21:44] gelo1234 commented on #10491
Well, especially for you I can give it a shot once more...
And GUESS what: NOW it works :/ strange........ 30 minutes ago there were still problems....

SO, NOW with .NET 5.0 all I had to do was:
a change:
* FROM mcr.microsoft.com/dotnet/sdk:5.0 to FROM mcr.microsoft.com/dotnet/sdk:5.0-alpine

And it works without that cert/signature expired issue. Things are changing too fast :) Great it works no

[2021-01-27 21:48] gabrielfbarros commented on #10491
I changed to use image mcr.microsoft.com/dotnet/sdk:5.0-focal, once it's ubuntu, very similar to debian. Solved for me.

[2021-01-27 22:20] parseendavid commented on #10491
I faced the same issue.
In my Dockerfile I replaced two base images

FROM mcr.microsoft.com/dotnet/aspnet:5.0-buster-slim AS base
...
FROM mcr.microsoft.com/dotnet/sdk:5.0-buster-slim AS build
with these ones

FROM mcr.microsoft.com/dotnet/aspnet:5.0-focal AS base
...
FROM mcr.microsoft.com/dotnet/sdk:5.0-focal AS build
and it solved my problem.

You can find lists of available images on these Mic

[2021-01-27 22:38] maxverro commented on #10491
The same worked with MacOS but I used the image mcr.microsoft.com/dotnet/sdk:5.0-alpine.

What is the difference between `Alpine` and `Focal`

[2021-01-27 22:45] nminaya commented on #10491
Same issue here. Hope it can be quickly resolved.

[2021-01-27 23:02] loic-sharma commented on #10491
@maxverro [Alpine](https://alpinelinux.org/) and [Ubuntu Focal](https://releases.ubuntu.com/20.04/) are different operating systems.

@nminaya Please see the workarounds listed here: https://github.com/NuGet/Announcements/issues/49

[2021-01-27 23:10] passuied commented on #10491
Hitting the same issue... Switching to Alpine or Focal this quickly is not an option... Lots of work involved, risk etc...
This issue should just be fixed... Either from NuGet side or Debian side...

[2021-01-27 23:14] loic-sharma commented on #10491
@passuied you can stay on Debian if you manually update the [`ca-certificates`](https://packages.debian.org/bullseye/ca-certificates) package to version 20210119 including a `bullseye` or later version.  NOTE: By updating to an unstable package may affect your software supply chain, so review any diffs brought in by this change.

We're working on proper fixes as quickly as possible.

[2021-01-27 23:23] passuied commented on #10491
Thanks @loic-sharma

[2021-01-27 23:52] csharpfritz commented on #10491
This also effects GitHub actions.  [Azure/static-web-apps-deploy](https://github.com/Azure/static-web-apps-deploy) is broken

[2021-01-28 00:00] joeloff opened #10494 "NuGet Authentication Plugin does not launch on Mac"
---
**Issue moved from dotnet/sdk#15423**
- Please respond to @gregpechiro.

---

_From @gregpechiro on Wednesday, January 20, 2021 5:01:01 PM_

We have a private artifacts feed through Azure DevOps Server. We are unable to restore from this source on Macs. We have setup the [Azure DevOps Credential Provider](https://github.com/microsoft/artifacts-credprovider) plugin and the necessary environment

[2021-01-28 00:00] joeloff commented on #10494
---
**Issue moved from dotnet/sdk#15423**
- Please respond to @dotnet-issue-labeler[bot].

---

_From @dotnet-issue-labeler[bot] on Wednesday, January 20, 2021 5:01:05 PM_

I couldn't figure out the best area label to add to this issue. If you have write-permissions please help me learn by adding exactly one area label.

[2021-01-28 00:52] VictorUUsoro commented on #10491
How did you change it?

[2021-01-28 00:55] loic-sharma commented on #10491
@VictorUUsoro you'll need to update your Dockerfile's `FROM` instruction. For example: https://github.com/dotnet/dotnet-docker/blob/master/samples/dotnetapp/README.md#build-a-net-image

[code]

[2021-01-28 01:17] dsaul commented on #10491
If you want to keep the rest of the Dockerfile the same until this package is released from stable, you can add this to your dockerfile before running dotnet restore:

`# Work around for broken dotnet restore
ADD http://ftp.us.debian.org/debian/pool/main/c/ca-certificates/ca-certificates_20210119_all.deb .
RUN dpkg -i ca-certificates_20210119_all.deb

RUN apt-get update && apt-get install -y \
	ca

[2021-01-28 01:34] thejamesdecker commented on #10491
YMMV but you don't necessarily need to change all images to work around this, just the ones you're using for build.
For example, if you're using a multi-stage build (like how the default Dockerfiles are generated by Visual Studio), you can probably leave the base image alone (which is what is also used for final) and just change the image for the build stage.
You may find this particularly useful

[2021-01-28 02:51] MikeBrunoCISSP commented on #10491
What's odd is that this isn't how Authenticode signature verification is supposed to work.  All certificates eventually expire, but as long as you bundle a timestamp from a trusted timestamping authority with a signature, the signature should be honored as long as the timestamp indicates that it was applied during the validity period of the code signing certificate.

I can only think of 2 causes:

[2021-01-28 03:21] loic-sharma commented on #10491
@MikeBrunoCISSP It's a third cause: the signatures have a timestamp whose timestamp certificate does not chain to a trusted root certificate authority on Debian. Debian removed the Verisign Root CA but is now working to re-add it. For more information, please see: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=962596

[2021-01-28 03:22] rrelyea commented on #10491
@MikeBrunoCISSP - author signature expired, so we (nuget package verification) fall back to confirming if the timestamp shows that it was signed when it was still good. Timestamp not valid because the timestamp cert is not trusted on Debian due to a recent trust change in that OS. Therefore, package not treated as valid. Restore fails.

[2021-01-28 03:28] anangaur commented on #10491
📢 For .NET Docker users, we have published new images that mitigate these issues by using a pre-release version of the Debian ca-certificates package. Please see our [announcement](https://github.com/NuGet/Announcements/issues/49#issuecomment-768766265) for more details.

[2021-01-28 03:33] Perry004 opened #10495 "Why condition is ignored under PackageReference with non-sdk net framework project"
I have  a non-sdk `net framework 4.8` project. And I have installed a nuget package `Newtonsoft.Json` with **PackageReference**.

When I used a custom condition under it like this:

[code]

or

[code]

Then, I restore under VS IDE, then build the project, the Package is still there and why this happens? I make the condition to `false`.

As a test, I restore,build under MSBuild Command line, then i

[2021-01-28 08:41] JonTvermose commented on #10491
@anangaur
I replaced the affected docker image in our dockerfile with the suggested image from the announcement.
We are now able to build our ASP.NET 5.0 docker images using these workarounds, but the app is unable to start once deployed to Azure.

Logs from azure:
`Waiting for response to warmup request for container`
`Container xxx for site xxx did not start within expected time limit. Elapsed t

[2021-01-28 09:01] Thepriestdude commented on #10491
I'm experiencing the same issue as @JonTvermose, Our docker containers spin up fine, but our health probes indicate that the container is unhealthy (not being able to call `localhost:80/health`) since the container report `Failed to connect to localhost port 80: Connection refused`.

[2021-01-28 09:10] ElvenSpellmaker commented on #10491
@JonTvermose @Thepriestdude Are you building and running the final image on the same type of OS? E.g. If your build image is alpine don't use a runtime Debian / Ubuntu container for example.

I'm using the 5.0-focal (Ubuntu) image and the official mcr.microsoft.com/azure-functions/dotnet:3.0 functions runtime and my app seems to boot.

[2021-01-28 09:14] JonTvermose commented on #10491
@ElvenSpellmaker  @Thepriestdude
I switched to using the 5.0-focal image now and the app is up and running now. There is still some issues with some web artifacts not being published.

[2021-01-28 09:22] anangaur commented on #10491
Thanks for reporting the issues with the new image. We will get these investigated at the earliest. I am assuming the issues with recommended images still exist. However, you are able to proceed ahead with the focal image instead?

[2021-01-28 09:23] mthalman commented on #10491
@Thepriestdude - The first stage (base) should remain unchanged. It should not use the ca-patch tag. Only the build stage should use it.

[2021-01-28 09:31] avorobjovs commented on #10491
The workaround:

Changed from
mcr.microsoft.com/dotnet/sdk:5.0-buster-slim
to
mcr.microsoft.com/dotnet/sdk:5.0-alpine

It works!

[2021-01-28 09:32] Thepriestdude commented on #10491
@mthalman nice catch, I seem to have had a too itchy trigger finger! Updated Dockerfile:
[code]
This seems to have solved the problem at least locally, will update once the change is live in our environments.

[2021-01-28 09:33] EnthusedDragon commented on #10491
I'm having the same issue on "**3.1-bionic**"
Will see if switching to alpine does anything.

_I know, we need to update asap._

[2021-01-28 09:36] yogyogi commented on #10491
This did not solved for me when I tried publishing the project to dockers hub.

[2021-01-28 09:38] JonTvermose commented on #10491
Same experience as @Thepriestdude

Published app is still missing some web artifacts though, but we can probably fix that manually.

[2021-01-28 09:45] mthalman commented on #10491
@yogyogi, @JonTvermose - Can you share your Dockerfile?

[2021-01-28 09:55] JLeshytski commented on #10491
Is there anything i can do to make it work on my working machine(debian buster)?

[2021-01-28 09:55] JonTvermose commented on #10491
@mthalman

This is the docker file for our test deployment. I have replaced our project name with secret. :)
Once published, I am missing .css and .js files located in wwwroot/js/dist and wwwroot/css/dist

[code]

[2021-01-28 10:00] Thepriestdude commented on #10491
@JonTvermose the purposed fix mentioned by @avorobjovs worked to solve my problem (local/test/prod). Updated Dockerfile changed from:
[code]
to:
[code]

[2021-01-28 10:05] yogyogi commented on #10491
`#See https://aka.ms/containerfastmode to understand how Visual Studio uses this Dockerfile to build your images for faster debugging.

FROM mcr.microsoft.com/dotnet/aspnet:5.0-buster-slim AS base
WORKDIR /app
EXPOSE 80
EXPOSE 443

FROM mcr.microsoft.com/dotnet/sdk:5.0-buster-slim AS build
WORKDIR /src
COPY ["WebFrontEnd/WebFrontEnd.csproj", "WebFrontEnd/"]
RUN dotnet restore "WebFrontEnd/WebFront

[2021-01-28 10:06] EnthusedDragon commented on #10491
I updated to 3.1-alpine and now my builds are passing again.

[2021-01-28 10:07] yogyogi commented on #10491
As far as I know. The problem is happening in dot net 5.0. The 3.1 version is working fine.

[2021-01-28 10:08] mthalman commented on #10491
@yogyogi - You haven't updated the build stage to use the `mcr.microsoft.com/dotnet/sdk:5.0.102-ca-patch-buster-slim` tag.

[2021-01-28 10:13] woeterman94 commented on #10491
I'm using
`FROM mcr.microsoft.com/dotnet/aspnet:5.0-alpine
`
As the image is a bit smaller

[2021-01-28 10:27] mthalman commented on #10491
@JonTvermose - I'm not sure why this would be.  I've tried replacing the [Dockerfile](https://github.com/dotnet/dotnet-docker/blob/master/samples/aspnetapp/Dockerfile) we have for the sample ASP.NET Core project to use a Dockerfile that is more similar to yours:

[code]

And it works fine.  It outputs files to the css and js directories.

I would suggest that you examine your build output to try t

[2021-01-28 10:40] MichaelSimons commented on #10491
@JonTvermose, another easy check would be to build just the `build` stage and inspect the contents of the resulting image to validate the src files were copied in as expected.

[code]

[2021-01-28 10:46] SeppPenner commented on #10491
After all the people complaining, I have to say that the NuGet team really did a great job here. We re-buillt our Docker base image based on `debian-buster-slim` and it works again :) Thank you all for your time, NuGet team ❤️

[2021-01-28 10:46] EnthusedDragon commented on #10491
I'm not sure.
Cause I was getting the exact same errors using "3.1-bionic".
Then those errors went away as soon as I updated to "3.1-alpine".

[2021-01-28 10:49] MichaelSimons commented on #10491
@EnthusedDragon, Can you share your Dockerfile?

[2021-01-28 10:57] EnthusedDragon commented on #10491
Sure, here it is.
I just scrubbed the sensitive information.

`FROM harbor.bison.prod.caas.company.co.za/myproject/mcr.microsoft.com/dotnet/core/aspnet:3.1-alpine AS base

WORKDIR /app

FROM harbor.bison.prod.caas.company.co.za/myproject/mcr.microsoft.com/dotnet/core/sdk:3.1-alpine AS build

ENV http_proxy=http://bc-vip.intra.company.co.za:8080
ENV https_proxy=http://bc-vip.intra.company.co.za:808

[2021-01-28 11:06] MichaelSimons commented on #10491
@EnthusedDragon, could you also share the broken restore build output you were seeing?

[2021-01-28 11:40] EnthusedDragon commented on #10491
Sure, hope this helps.

[code]

[2021-01-28 11:51] matilote commented on #10491
The update on this matter can be tracked here https://github.com/NuGet/Announcements/issues/49

[2021-01-28 11:51] Blackhawk50000 commented on #10491
IF i write this in my docker file

[code]

i get stuck on this:

[code]

[2021-01-28 11:53] MichaelSimons commented on #10491
@EnthusedDragon, I'm a little confused by this output.  It is restoring a test projects (e.g. /workspace/100/s/Tests/MyProject.V2.Notification.Worker.Tests/MyProject.V2.Notification.Worker.Tests.csproj) that I don't see in your Dockerfile.  Are there other Dockerfiles involved here?

[2021-01-28 11:59] EnthusedDragon commented on #10491
@MichaelSimons
This project consist of 4 Dockerfiles in total.
API, BFF, PostgreSQL DB and a small CMD Worker Project.
They all look pretty much identical.

None of the Dockerfiles are referencing the Test projects.
However, the tests are supposed to be run directly after the build completes.

Here's the CI commands for that piece:
[code]

[2021-01-28 11:59] VictorUUsoro commented on #10491
it should be
`FROM mcr.microsoft.com/dotnet/aspnet:5.0-ca-patch-buster-slim AS base
WORKDIR /app
EXPOSE 80

FROM mcr.microsoft.com/dotnet/sdk:5.0.102-ca-patch-buster-slim AS build`

or you use alpine

`FROM mcr.microsoft.com/dotnet/aspnet:5.0-alpine AS base
WORKDIR /app
EXPOSE 80

FROM mcr.microsoft.com/dotnet/sdk:5.0.102-alpine AS build`

[2021-01-28 12:00] MichaelSimons commented on #10491
@Blackhawk50000, can you try pulling the images explicitly?  It looks like Docker failed to pull a manifest.

[code]

[2021-01-28 12:03] MichaelSimons commented on #10491
This is not correct, the '5.0-ca-patch-buster-slim' tag is only an `sdk` tag.  The following is the correct pattern.

[code]

[2021-01-28 12:13] Blackhawk50000 commented on #10491
oh yes thanks... i tryed a lot of combinations in the last houres...
this: also do not work

[code]

and this:
[code]

also gives me an unexpected EOF error.

Alpine is working, BUT since i switched to alpine i am not able to connect to http://localhost:80 anymore

[2021-01-28 12:29] MichaelSimons commented on #10491
@EnthusedDragon, is your this pipeline running inside a container?  If not what is the build agent's OS?

[2021-01-28 12:40] EnthusedDragon commented on #10491
The build agent OS is Linux, I can't quite recall the version, but it should be fairly recent.

[2021-01-28 12:44] MichaelSimons commented on #10491
For this issue, it's important to know the Linux distro.  If it is a Debian variant, this could explain the issues you are seeing.

[2021-01-28 13:12] EnthusedDragon commented on #10491
Thanks, I'm trying to find out now what we're using.

[2021-01-28 13:12] EnthusedDragon commented on #10491
Thanks, I'm trying to find out now what we're using.

[2021-01-28 14:02] skovalyova commented on #10491
The same issue for "FROM mcr.microsoft.com/dotnet/sdk:5.0"

[2021-01-28 14:06] milovidov983 commented on #10491
```FROM mcr.microsoft.com/dotnet/sdk:5.0.102-ca-patch-buster-slim AS build```
Solved the problem, thanks!

[2021-01-28 14:31] loic-sharma commented on #10491
@skovalyova You'll need to update to `FROM mcr.microsoft.com/dotnet/sdk:5.0.102-ca-patch-buster-slim`. Please see this for more information: https://github.com/NuGet/Announcements/issues/49#issuecomment-768766265

[2021-01-28 14:39] thiagomengue commented on #10491
After released the new images with certificates patch, this solved the problem.
I'm using the image with correction only for build like:

My DockerFile:
`FROM mcr.microsoft.com/dotnet/aspnet:5.0-buster-slim AS base
WORKDIR /app
EXPOSE 80

#FROM mcr.microsoft.com/dotnet/sdk:5.0-buster-slim AS build
FROM mcr.microsoft.com/dotnet/sdk:5.0.102-ca-patch-buster-slim AS build
WORKDIR /src`

This way works

[2021-01-28 14:49] Blackhawk50000 commented on #10491
why i can pull "buster-slim" and "alpine" without any problems,
but when i try tu pull 5.0.102-ca-patch-buster-slim i got an "unexpected EOF" error :-(

[2021-01-28 14:53] mthalman commented on #10491
@Blackhawk50000 - What is the full tag that you are trying to pull?  Make sure it's only for the `sdk` repository.  There is no `ca-patch` for the `aspnet` repository.  So the tag you should be pulling is `mcr.microsoft.com/dotnet/sdk:5.0.102-ca-patch-buster-slim`.

[2021-01-28 14:54] DEllement commented on #10491
for me, even using 5.0.102-ca-patch-buster-slim image tag did not resolve the issues, i have less error, but it persist for other dependencies such as

 error NU3034: Package 'StackExchange.Redis 2.2.4' from source 'https://api.nuget.org/v3/index.json': This package is signed but not by a trusted signer.
 error NU3034: Package 'System.Net.NameResolution 4.3.0' from source 'https://api.nuget.org/v3

[2021-01-28 15:48] DEllement commented on #10491
@Ioic-sharma thanks for the suggestion I've set to require and removed the trustedSigners section and it work!

[2021-01-28 18:14] nkolev92 commented on #10423
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2021-01-28 18:14] #10423 closed, assigned to nobody

[2021-01-28 18:20] nkolev92 commented on #10447
Hey @alexandrejobin

When pushing to a local feed(hierarchical), NuGet will *extract* the package that's being pushed. Given that your package has a content folder, it is extracted on disk.

Everything happening here is by design.

[2021-01-28 18:20] #10447 closed, assigned to nobody

[2021-01-28 18:22] nkolev92 commented on #10453
@zivkan

Given the pri 3 label, we pushed it to the icebox. let us know if you think otherwise.

[2021-01-28 18:23] Blackhawk50000 commented on #10491
okay, lets post all the details:

[code]
can be pulled, but as we not.. it hat THE issue

FROM mcr.microsoft.com/dotnet/aspnet:5.0-alpine AS base
WORKDIR /app
EXPOSE 80

FROM mcr.microsoft.com/dotnet/sdk:5.0-alpine AS build
[code]
can't be pulled because of the "unexpected EOF"
Why?

[2021-01-28 18:37] Kamil-Zakiev commented on #10491
@Blackhawk50000, try this one:
[code]

[2021-01-28 19:49] dtivel opened #10497 "PM UI: some remote errors not propagated"
## Details about Problem

If a remote service throws some exception types, the exception is not propagated to the client.  For example, if a `NullReferenceException` is thrown, then [`RemoteErrorUtility.ToRemoteError(...)`](https://github.com/NuGet/NuGet.Client/blob/7297f2661ed2b39f3d9a9ced49f562974a7da2f4/src/NuGet.Clients/NuGet.VisualStudio.Internal.Contracts/Utility/RemoteErrorUtility.cs#L20-L6

[2021-01-28 20:06] edgmms commented on #10491
FROM mcr.microsoft.com/dotnet/aspnet:5.0 AS base
WORKDIR /app
EXPOSE 80

#FROM mcr.microsoft.com/dotnet/sdk:5.0 AS build
**FROM mcr.microsoft.com/dotnet/sdk:5.0.102-ca-patch-buster-slim AS build**

it works for me

[2021-01-28 20:13] mthalman commented on #10491
@Blackhawk50000 - It looks like your `unexpected EOF` error when pulling the image could be network-related.  See this thread: https://github.com/docker/for-win/issues/6192

[2021-01-28 20:22] john-rubin commented on #10491
`FROM mcr.microsoft.com/dotnet/sdk:5.0.102-ca-patch-buster-slim AS {your_alias}`

This new image solved it for us.

[2021-01-28 20:23] sam-wheat commented on #9954
I was able to solve this quickly - thanks to all who participated especially @lezmaka.
BTW in addition to version info, I suggest that you print the full directory path where the running .exe resides when `nuget.exe` alone is typed the command line.

[2021-01-28 20:24] Blackhawk50000 commented on #10491
this saved my evaning i guess... =)

[2021-01-28 20:57] donnie-msft opened #10498 "Update context menu should scroll to first selected item"
When I select "Update..." on NUnit in solution explorer, I am taken to PMUI to the top of the packages list.

I don't see the package because it's far down in the list...
Let's scroll down to the first item in the selection (eg, NUnit).

![image](https://user-images.githubusercontent.com/49205731/106197873-356ddd00-6181-11eb-9304-c4ae0bc16947.png)

/cc @jebriede thoughts?

[2021-01-28 21:20] jebriede commented on #10498
@donnie-msft this is a really good catch. I think it can be confusing if there are a lot of packages and the one that's selected isn't in focus in the list. I would propose we also highlight (list item selection) the first package in the list of selected packages (if there's more than one) so the details are populated on the right and then bring the selected item in focus.

[2021-01-28 21:30] nkolev92 commented on #10478
This issue did *not* get closed because the template was used incorrectly.

Note that you need to just paste the link, GH will render everything else

So it needs to be `Fixes: https://github.com/NuGet/Home/issues/10478` which renders to Fixes https://github.com/NuGet/Home/issues/10478

[2021-01-28 21:30] #10478 closed, assigned to erdembayar

[2021-01-28 22:03] aidapsibr commented on #9539
@zivkan a good reason for not committing that file is if you have proprietary sources or packages with secrets that could leak. It's more of an edge case, but technically an authenticated nuget source is a secret and shouldn't be checked into source control.

[2021-01-28 23:14] nkolev92 commented on #9539
@aidapsibr

Source uri declaration can be independent from authentication from said feed.

NuGet provides a lot of different extensibility to address that. From hierarchical configs, to plugins. https://docs.microsoft.com/en-us/nuget/consume-packages/consuming-packages-authenticated-feeds

[2021-01-28 23:19] nkolev92 commented on #10069
I imagine this is completed?

Can you make sure all the respective PRs are completed as well. Example: https://github.com/NuGet/Client.Engineering/pull/582

[2021-01-28 23:43] erdembayar opened #10499 "Create PMC usage telemetry dashboard"
## Details about Problem

NuGet product used (Visual Studio):

Product version:

Follow up for [issue#10069](https://github.com/NuGet/Home/issues/10069).
Need to create telemetry dashboard.

[2021-01-28 23:47] erdembayar commented on #10069
Yes, this one is completed.
I created this follow [NugetIssue#10499](https://github.com/NuGet/Home/issues/10499) for dashboards.

[2021-01-28 23:47] #10069 closed, assigned to erdembayar

[2021-01-29 00:12] nkolev92 commented on #10069
That issue belongs to client.engineering.

I moved it.

Can you please make sure the home PR doesn't stay open?

[2021-01-29 00:20] erdembayar commented on #10069
@nkolev92
Sure. I wasn't sure about telemetry dashboard thing and was waiting for 1:1 to ask. But you caught it up before my 1:1.

[2021-01-29 00:35] axedaddy commented on #10491
For anyone else with their production stack building in Azure,
I'm deploying Blazor WebAssembly with dotnet core 5 back end,  I can confirm the following works:

FROM mcr.microsoft.com/dotnet/aspnet:5.0-buster-slim AS base
WORKDIR /app
EXPOSE 80
EXPOSE 443
...

FROM mcr.microsoft.com/dotnet/sdk:5.0.102-ca-patch-buster-slim AS build
WORKDIR /src
...

[2021-01-29 01:09] #10480 closed, assigned to heng-liu

[2021-01-29 02:26] joelverhagen opened #10500 "Some packages restore successfully on sdk:5.0 Docker image but fail verify command"
## Details about Problem

NuGet product used: `dotnet`
Product version: .NET SDK 5.0

Image ID for `mcr.microsoft.com/dotnet/sdk:5.0`: `e735190c5cb9`

`dotnet --info` from the Docker image:
[code]

## Repro steps and/or sample project

Use this `Dockerfile`:

[code]

Run this command:
[code]

Thank you @loic-sharma for questing with me and sharing his mad Docker skills.

### Expected

I expect eit

[2021-01-29 02:32] #10497 closed, assigned to dtivel

[2021-01-29 04:03] Bit-Shifts commented on #10491
Also Had this issue today. So frustrated as it was working yesterday perfectly and I was hitting my head on the desk to figure out what I changed.

Thankfully This did the trick:

FROM mcr.microsoft.com/dotnet/sdk:5.0.102-ca-patch-buster-slim AS build

[2021-01-29 05:29] #10151 closed, assigned to rrelyea

[2021-01-29 06:37] keremcep commented on #10491
Thank you,

Worked for me
https://hub.docker.com/_/microsoft-dotnet-sdk

5.0.102-ca-patch-buster-slim

[2021-01-29 07:00] Perry004 commented on #10481
Could anyone have any ideas?

[2021-01-29 07:36] Perry004 opened #10501 "Why condition is ignored under multi-targetframeworks with new-sdk project"
I have a wpf net core project. And this is my csproj file:

[code]

As you saw, I used  `TargetFrameworks` but however I have a condition to distinguish between them. And why `net5.0-windows` still shows `11.0.1`.

![B38d35b3e5da9474d9d43a255d3ffd726637475022232735710_20210129-153021-image](https://user-images.githubusercontent.com/52026687/106245790-066e6e80-6248-11eb-9cb1-4af9122aea17.png)

I kn

[2021-01-29 08:52] ledjon-behluli opened #10502 "NuGet Restore error - Response status code does not indicate success: 401 (Unauthorized) - Azure DevOps NuGet Feed"
## Details about Problem

NuGet product used (Visual Studio 2019):

Product version: 16.8.3

## Issue

When trying to build a project in Visual Studio, it fails while trying to restore the packages from our internal Azure Artifacts NuGet store (hosted in Azure DevOps). Directly accessing the Azure Artifacts URL worked without a problem, but when I trying to do this through Visual Studio it fails w

[2021-01-29 11:20] ncook-hxgn commented on #10162
@donnie-msft We're often using the latest version. Back when I created this? I'm not sure, but likely 5.x though.

I update nuget about once per month, and the first thing I do when nuget starts appearing to misbehave is `nuget update -self`.

[2021-01-29 15:12] smbecker commented on #10491
Any workarounds for ubuntu? This isn't just related docker. I use linux as my main machine and at the moment, am dead in the water since I can't restore any packages.

[2021-01-29 15:21] dotandl commented on #10491
I solved the problem on Debian 10 by adding the Debian 11 repository, installing `ca-certificates` and removing the repository (this [Dockerfile](https://github.com/dotnet/dotnet-docker/blob/247998e36f390b39090cf65bd181413d3ab353cc/src/sdk/5.0/buster-slim-ca-patch/amd64/Dockerfile#L24) inspired me). I think it will work for Ubuntu too.

[code]

[2021-01-29 16:13] mthalman commented on #10491
@smbecker - What version of `ca-certificates` do you have for Ubuntu?

[2021-01-29 16:17] smbecker commented on #10491
That installs the latest `ca-certificates=20210119` package but I am still getting `The repository primary signature's timestamp found a chain building issue: UntrustedRoot: self signed certificate in certificate chain`. I tried clearing all caches with `dotnet nuget locals --clear all` but that didn't help. I have a private MyGet feed for some other dependencies. So I setup a mirror feed to force

[2021-01-29 16:29] mthalman commented on #10491
For Ubuntu, there should be no need to install `ca-certificates` from a different repository, **especially not from a Debian repository**.  Simply updating the version of `ca-certificates` to the latest stable Ubuntu version, version 20201027, should be sufficient.

[2021-01-29 16:31] smbecker commented on #10491
I previously had `ca-certificates=20201027` installed prior to updating but I was still encountering this issue, hence why I attempted to upgrade.

[2021-01-29 17:53] alexandrejobin commented on #10447
@nkolev92, thank you for the info. Is it possible to know the utility to have the package extracted when pushing it to a local hierarchical feed? Just for my knowledge. I guest I will have to use the nuget.exe to prevent this behavior for now on.

[2021-01-29 19:43] erdembayar commented on #7395
@zivkan
Thank you for valuable input. I have taken them into consideration. Just final concern is for `deterministic` [packing](https://github.com/NuGet/Home/issues/8601), we do exact same thing right?
Here is deterministic packed package. (1/1/1980 12.00am)

![image](https://user-images.githubusercontent.com/8766776/106319304-16755680-6226-11eb-9353-f8e5a42ca225.png)

After I install package in P

[2021-01-29 19:46] erdembayar commented on #8601
@zivkan
I'm solving this problem with together with other problem #7001 and #7395. Please check this [comment](https://github.com/NuGet/Home/issues/7395#issuecomment-770010339).

[2021-01-29 20:03] nkolev92 commented on #8601
@erdembayar

Deterministic pack being enabled by default broke a lot of tooling (admittedly a fragile one, a dependency that should've never been taken).

Please do not do anything for this issue at this point.

[2021-01-29 20:09] #10486 closed, assigned to nkolev92

[2021-01-29 20:09] erdembayar commented on #8601
Sorry for miscommunication. Actually I'm not really fixing it, but I'm making sure my change it ready for deterministic pack re-enabling later. It seems my change it good for it, I tested locally by manually enabling it, currently it's explicitly disabled in code.
Anywhere I'm not going to do anything for this issue at this point as you suggested.

[2021-01-29 20:21] joelverhagen commented on #10491
Hey folks, we've updated the announcement related to this issue (https://github.com/NuGet/Announcements/issues/49) to include a specific workaround for non-Docker users on Debian 10 hosts. Look under the heading **Debian 10 "buster"**.

[2021-01-29 20:30] smbecker commented on #10491
@joelverhagen, in an email thread, you mentioned that your team has been unable to reproduce this issue on Ubuntu. The following dockerfile reproduces it for me.

[code]

Then just run `docker build .` on this file.

[2021-01-29 20:31] erwinwolff commented on #10491
Thank you, but it doesn't really work. It doesn't replace bad certificates:

sudo dpkg -i 20200601~deb10u2_all.deb

(Reading database ... 261713 files and directories currently installed.)
Preparing to unpack 20200601~deb10u2_all.deb ...
Unpacking ca-certificates (20200601~deb10u2) over (20200601~deb10u1) ...
Setting up ca-certificates (20200601~deb10u2) ...
Updating certificates in /etc/ssl/certs

[2021-01-29 20:52] joelverhagen commented on #10491
@smbecker, thanks!

@erdembayar, could you try the following command and then retry the steps?
[code]

This is related to the following bug: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=743339

[2021-01-29 22:01] erdembayar commented on #7395
@zivkan
I believe this issue is addressed in [PR#3793](https://github.com/NuGet/NuGet.Client/pull/3793). One caveat is this changes only appear for new packages/new versions, because previously download packages/versions already set this value.

For example in package:
![image](https://user-images.githubusercontent.com/8766776/106331295-817c5880-6239-11eb-823e-14b81b6f80f2.png)

After extraction o

[2021-01-30 00:34] rrelyea opened #10503 "NuGetPackageFileService fix - use using for disposable memorystream"
## Details about Problem

NuGet product used: VS
Product version: 16.9 P4

Worked before? no

Code defect mentioned found in PR review

[2021-01-30 08:08] olivier-spinelli commented on #8601
... I'm lost ... @nkolev92, please, could you explain the proposal above that could be named "Tool, Please Choose the Date!" MAY weaken anything?
It's not enabled by default, it's just about deciding a release date (and working in UTC of course...).

If it's the (unfortunate choice of) DateTimeOffset that is blocking it can obviously stay (whith a 0 offset) WHEN the <PackageReleaseDate> property i

[2021-01-30 12:20] abelevtsov commented on #10491
do we need also change it to
mcr.microsoft.com/dotnet/aspnet:5.0.1
or to
mcr.microsoft.com/dotnet/aspnet:5.0.2 ?

[2021-01-30 13:34] exeptionerror commented on #10491
All Possible Solution added At [[solved] The author primary signature’s timestamp found a chain building issue: UntrustedRoot: self-signed certificate in certificate chain](https://exerror.com/the-author-primary-signatures-timestamp-found-a-chain-building-issue-untrusted/)

[2021-01-30 13:47] jaylittle commented on #10491
I'm getting a ton of certificate errors after clearing my local NuGet package cache on Pop! OS 20.10 and attempting to restore packages for a project.  Any ideas?

[2021-01-30 14:01] wallymathieu commented on #10491
You can use the alpine versions of the Docker files

[code]

That was done in the references PR: https://github.com/OpenCodeFoundation/eSchool/pull/292

[2021-01-30 14:09] zivkan commented on #10162
@ncook-hxgn I'm not sure why NuGet ever used `build/<package_id>.props`, but in general we recommend using `build/<tfm>/<package_id>.props`. In your case `<tfm>` is `native`. This matches the path that the warning message NuGet generated is reporting. This should also prevent your package being being installable into .NET projects, whereas currently your package advertises itself as being compatib

[2021-01-30 14:10] nicos68 commented on #10491
Personnally I need to work on an Avalonia project on Ubuntu 20.10. Docker containers are not an option.

[2021-01-30 14:21] jaylittle commented on #10491
Same here.  Docker fixes aren't going to cut it here either.

[2021-01-30 15:23] UlissesMeira commented on #10491
Sorry... i only changed to alpine .. i'm keep using 5.0

[2021-01-30 17:47] zivkan commented on #8601
@olivier-spinelli if you follow the links, you'll find [this issue](https://github.com/dotnet/core/issues/3388) where customers were saying that web deploy was not updating binaries.

In other words, it appears that web deploy is only checking file timestamp. Therefore, if packge.dll has the timestamp in both version 1 and version 2 of the package, web deploy may not detect that the file has chang

[2021-01-30 20:06] loic-sharma commented on #10491
@abelevtsov Usually ASP.NET Core Dockerfiles are multi-stage: the first stage builds your app, the second stage creates the final image to run. You should only need to the first stage's base image. For example:

[code]

[2021-01-30 20:09] broadstone-connorbrady commented on #10491
I've just tried this on Pop!_OS 20.10 and this appears to have solved the immediate issue

[2021-01-30 20:32] JonDouglas commented on #10488
Visual Studio 2015 Update 3 is in extended support meaning it [only accepts security fixes](https://docs.microsoft.com/en-us/visualstudio/releases/2019/servicing).

https://docs.microsoft.com/en-us/lifecycle/products/visual-studio-2015

It is highly recommended that you update to Visual Studio 2019.

https://visualstudio.microsoft.com/downloads/

Sadly we cannot assist further with why a third-par

[2021-01-30 20:32] #10488 closed, assigned to nobody

[2021-01-30 21:44] GoldenLighter commented on #10488
It seems problem is related to telerik extensions.
How can i fix it?

[2021-01-31 02:15] anangaur opened #10504 "Incident: NuGet Restore Issues on Debian Family Linux Distros"
On the morning of Wednesday, January 27, at 12:00 PM UTC, an incident occurred that caused NuGet package restore operations to fail in some Debian Family Linux environments. We were alerted to restores failing a few hours later by users on GitHub and put together an incident response team. Over the next few days, we shared mitigation options for users, published patched .NET Docker images, and rea

[2021-01-31 02:30] anangaur commented on #10491
Following the release of an updated `ca-certificates` package for Debian 10 ("buster"), we have posted additional instructions on how to install the updated package. We have also provided additional information on the root cause of the issue.

Please see https://github.com/NuGet/Announcements/issues/49#issue-795386700

We have also added a new [NuGet Home Issue](https://github.com/NuGet/Home/issue

[2021-01-31 05:21] sharwell opened #10505 "NuGet.Protocol 4.9.4 has an undeclared dependency on Newtonsoft.Json"
[NuGet.Protocol 4.9.4](https://www.nuget.org/packages/NuGet.Protocol/4.9.4) contains an assembly that references [Newtonsoft.Json 9.0.0.0](https://www.nuget.org/packages/Newtonsoft.Json/9.0.1), but fails to declare the reference as a package dependency. As a result, projects that reference NuGet.Protocol and another library referencing Newtonsoft.Json 12.0.3 will fail to automatically provide a bi

[2021-01-31 08:53] olivier-spinelli commented on #8601
Ok... but... I cannot imagine for 1 second a dev that could hard code this MSBuild property in a .proj file!
This is obviously a property that has to be externally set by tools: by default it simply remains empty (that is: "use now").

And IF someone hard codes it, then he/she has exactly what he/she wants: a fixed released date of its package that leads to binary compatibility of its package.

[2021-01-31 12:15] sbrodovke commented on #10491
I'm using Debian GNU / Linux 10 (buster), but I don't think the steps in the manual helped me https://github.com/NuGet/Announcements/issues/49.
I found a solution for myself:
[code]
I don't know how well this is done. But resolving the untrusted chain and the specific owners whose packages I used got rid of the errors and the project was assembled.
Maybe it will be useful to someone

[2021-01-31 12:44] devpaps commented on #10491
Where do I paste this? In the csproj file?

[2021-01-31 12:49] sbrodovke commented on #10491
NuGet.Config
I was looking for the location of the files like this find ~/../* -type f -name 'NuGet.Config'

[2021-01-31 15:21] devpaps commented on #10491
Thank you! I found it, but sadly i didn't work for me.

[2021-01-31 18:28] StingyJack opened #10506 "`nuget pack` for a nuspec is ignoring some of the `<files>` listed in the nuspec"
## Details about Problem

nuget.exe

Product version: 5.8.0.6930

Worked before? If so, with which NuGet version: 4.9.4. but with a different codebase

## Repro steps and/or sample project
Here is the nuspec...

[code]
Here are the files...
![image](https://user-images.githubusercontent.com/15381181/106393949-ebc30380-63c7-11eb-8702-fba992e72098.png)

`nuget pack` is being run from the project fol

[2021-02-01 00:33] #10503 closed, assigned to rrelyea

[2021-02-01 03:02] ManfredLange commented on #10491
Hoping this helps others to save some time: I my case I was able to resolve this problem by adding `apt-get upgrade -y` to my Dockerfile as follows:

[code]
Note that you need to rebuild the container after this change.

[2021-02-01 04:46] txwizard commented on #8027
I propose a simple solution, and offer herewith most of its implementation.

Suppose that the license expression is followed by a parameter list, along the following lines.

- **CopyrightYear** = 4-digit copyright year
- **CopyrightOwner** = String containing name of copyright owner

Given these two, the **SPDTX URL** can have a query string appended to it, and the following short function, which

[2021-02-01 08:25] Perry004 commented on #10501
I want use the first code. And I can also use this to work.

`<PackageReference Include="Newtonsoft.Json" Version="11.0.1" /> <PackageReference Include="Newtonsoft.Json" Version="12.0.3" Condition="'$(TargetFramework)' == 'net5.0-windows'" />`

What I found is that, when I uses **dotnet restore,nuget restore… command line** to restore, the project will only get the first PackageReference include i

[2021-02-01 10:02] v-crchang opened #10507 "[High-DPI]The text is normally crisp at 100% is not rendering crisp after a DPI change"
## Details about Problem
NuGet version: NuGet Client Dev\5.9.0.7088
VS Version: Main\30931.09
OS Version: Windows-10-Enterprise-20h1
## Repro steps
1. Open Visual Studio.
2. Turn on DPI awareness feature in VS:
![image](https://user-images.githubusercontent.com/71433406/106443172-25bf0300-64b7-11eb-837f-7efbf4053ea0.png)
3. Change the Scale and layout of Screen1 to 125% in Settings->Display, do no

[2021-02-01 10:18] v-crchang opened #10508 "[High-DPI] No border lines on the right and bottom after a DPI change"
## Details about Problem

NuGet version: NuGet Client Dev\5.9.0.7088
VS Version: Main\30931.09
OS Version: Windows-10-Enterprise-20h1

## Repro steps

1. Open Visual Studio.
2. Turn on DPI awareness feature in VS:
![image](https://user-images.githubusercontent.com/71433406/106445047-818a8b80-64b9-11eb-8054-74e5e38d391c.png)
3. Change the Scale and layout in Settings->Display.
4. Open Tools->Option

[2021-02-01 13:46] ChristophHornung opened #10509 "dotnet restore fails with a 403 on azure devops nuget feed with PAT on linux only"
## Details about Problem

NuGet product used: dotnet restore

Product version: 5.0.102 Commit 71365b4d42

Worked before? If so, with which NuGet version:

Yes, not sure about the version

## Repro steps and/or sample project

I build a .net5 project with a private azure devops nuget feed that is authenticated via PAT on a linux docker build. This used to work until 29.01.2021 when the builds began

[2021-02-01 13:57] ChristophHornung commented on #10509
I dug a bit deeper and looked into the source to see if I can find a simpler reproduction of the issue. This actually already occurs by simply using the HttpClient. This code succeeds on windows but fails on my local WSL2 Ubuntu:

[code]

I am not sure where to go from here. Is this an issue with how the NuGet server part behaves or an issue with how the HttpClient behaves on linux?

[2021-02-01 14:29] dtivel opened #10510 "PM UI: cannot bulk update packages"
## Details about Problem

https://github.com/NuGet/Home/issues/10510 regressed PM UI update scenarios.  The root problem is [this](https://github.com/NuGet/NuGet.Client/commit/c995174aaea8d55e1504e9afba83696922497712#diff-80991ce1edef4f242608751b70dd2d48dad8e24a28dbefd2b68a3a7784a12f21R1556) change.  Previously, updating selected packages in the Updates tab of PM UI passes the package identities f

[2021-02-01 14:50] ncook-hxgn commented on #10162
@zivkan indeed I've been creating a lot of native recently.. I've built ~60 like this 😁 (BCGControlBarPro is special though, in that it's the only source so far with a .props file in a place that confuses nuget.. don't ask me why it's there).

I guess I missed this rule/guideline changing.. when did nuget move from recommending `build/<package_id>.props` to `build/<tfm>/<package_id>.props`?

So, w

[2021-02-01 14:57] akospinter commented on #10491
FYI
You can track the ca-certificates (Ubuntu 20.10)  bug on Launchpad here: [https://bugs.launchpad.net/ubuntu/+source/ca-certificates/+bug/1913951](https://bugs.launchpad.net/ubuntu/+source/ca-certificates/+bug/1913951)

[2021-02-01 14:57] ChristophHornung commented on #10509
Even with curl I get the error.

On both the docker build on azure devops as well as on my local Linux I get a 403 with the content:

VS403463: The conditional access policy defined by your Azure Active Directory administrator has failed

The same curl call works from windows.

[2021-02-01 14:59] snthomae opened #10511 "Restore fails when .NET Framework Project depends on C++ CLI project"
## Details about Problem
After upgrading to Visual Studio 16.8 (which integrates NuGet 5.8.1), restore is failing when .NET Framework project is referencing a C++ CLI Project via ProjectReferences. Also setting a TargetFramework Version in C++ Project has no impact.
C++ Project is always treated as Target Framework 'Native' which seems not to be compatible to any .NET Framework Project.

NuGet pro

[2021-02-01 15:02] odalet opened #10512 "Fine-tuning the output of a dev-dependency nuget package reference"
## Details about Problem

* Using: Visual Studio 2019 v16.8.3 Nuget Window.

I've noticed that whenever I add a "dev-only" Nuget package to a project, it is rendered this way in the target csproj (using GitVersion.MsBuild as an example, but seems to be the case for all dev-only packages I'm aware of):

[code]

There are cases where I'd rather have this (notice that 'runtime' is gone from the inclu

[2021-02-01 15:19] donnie-msft commented on #10510
@dtivel thanks for reporting this. So far, I tried your repro and am getting something different. Maybe the scenario is specific.
Are you connected to a CodeSpace or anything else of note?
![image](https://user-images.githubusercontent.com/49205731/106478239-fee0dc80-6476-11eb-83f4-fefba7f4465c.png)

[2021-02-01 15:25] donnie-msft commented on #10510
Found the repro. You have to load the Installed tab first, then switch to Updates. It won't have the latest loaded in that scenario.
If you open PMUI directly to Updates, or Browse tab then switch to Updates, this won't repro.

[2021-02-01 15:42] avorobjovs commented on #10491
Hi guys,

Today I made several builds. And I used

[code]

And it works fine! No errors! :)

[2021-02-01 15:47] Nirmal4G opened #10513 "NuGetSdkResolver's test project and folder names mismatch"
The project and folder names for the `NuGetSdkResolver`'s are not the same. The folder name ends with `Tests` while the project name ends with `Test`. Both names should be same as with the rest of the test projects' naming style.

So, should we rename folder to match the project or vice-versa?

[2021-02-01 17:23] AraHaan commented on #4358
@jahmai nice, but what about on your gist on allowing updates for imported props that contains ``PackageReference``s too?

[2021-02-01 17:39] #5133 closed, assigned to dominoFire

[2021-02-01 18:40] aortiz-msft commented on #10507
@v-crchang Did you restart the app as per the instructions in the highlighted checkbox above?

[2021-02-01 18:40] aortiz-msft commented on #10508
@v-crchang Did you restart the app as per the instructions in the highlighted checkbox above?

[2021-02-01 19:17] donnie-msft opened #10514 "Create an APEX test for Update all when Installed tab already loaded"
Open Installed tab, switch to Updates tab, select all packages and update.
Ensure all versions get updated as expected. Ensure expected errors are generated.
Follow-up to https://github.com/NuGet/Home/issues/10510

[2021-02-01 19:29] zivkan commented on #10430
@wli3 @dsplaisted In a meeting, regarding the "tool download" scenario, we suggested trying to existing APIs, just as the NuGetSdkResolver does.  Did anyone have time to try it out yet?

Regarding download progress (particularly for VS for Mac), via email we suggested the caller implementing their own `IHttpRetryHandler`. I can create a sample if that helps.

I'm trying to plan my sprint, and esti

[2021-02-01 19:33] dtivel commented on #10024
Hit https://github.com/NuGet/Home/issues/10510 while trying to repro this.

[2021-02-01 19:50] rrelyea commented on #9250
fixed in dev build 7084, which isn't inserted into P4 yet...but we hope to this week.

[2021-02-01 20:10] jebriede opened #10515 "Investigate and plan work for transitive dependencies in PMUI"
Related to: https://github.com/nuget/home/issues/10184

- [x] Technical hand-off
- [x] Review PM spec
  - [x] Meet with PM to discuss spec
- [x] Review technical spec
- [ ] Create and cost issues

[2021-02-01 20:36] ajtruckle commented on #5358
I also get the error for https://dotnet.myget.org/F/roslyn/api/v3/index.json

[code]

[2021-02-01 21:14] nkolev92 commented on #10194
Prototype in https://github.com/NuGet/NuGet.Client/tree/dev-nkolev92-cppCliFrameworkSupport.

Prototype provided to the C++/CLI team, action is on their side right now.

[2021-02-01 21:31] AraHaan commented on #5358
@ajtruckle I later found out that the roslyn feeds on myget was deleted for the feeds in their azure.

[2021-02-01 21:32] nkolev92 commented on #10259
The proposal here faced opposition during our last partner sync-up.

Removing from the current sprint for now.
Moving to New Issues + adding triage label.

[2021-02-01 21:54] ajtruckle commented on #5358
It is all to complicated I am afraid for me. These systems should just download and install. I mean, why is AvalonStudio exe download only for OS X? So I can’t even do it that way. And the framework pauses at 34% in GitHub Desktop. Too much hassle. I think I will persevere with XCode and Xamarin forms.

[2021-02-01 22:04] wli3 commented on #10430
@zivkan yes. I am trying it out. Although some build fire of my team caused 2 weeks of delay. https://github.com/dotnet/sdk/compare/master...wli3:try-nuget-csharpapi?expand=1

I find I need to copy paste to create HttpRetryHandlerWithProgress.cs , but I can override DownloadTimeoutStreamWithLog.cs without too much duplication.

On that front, other than it looks ugly and you need to maintain these

[2021-02-01 23:17] aortiz-msft commented on #9935
What's missing here is that the PM UI won't close automatically if unloading or removing the project.

[2021-02-02 00:46] vsfeedback opened #10516 "The deprecation/vulnerability label on the installed tab does not indicate *which* packages are deprecated/vulnerable"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/All-packages-are-up-to-date-but-Visual-S/1296626)._

---
[severity:It bothers me. A fix would be nice]
![dasdas.png](https://aka.ms/dc/image?name=B8acc61af04854b6d8eb5b2106689949d637444978311148745_dasdas.png&tid=8acc61af04854b6d8eb5b2106689949d637444978311148745)

Microsoft Visual Stud

[2021-02-02 00:47] nkolev92 commented on #10516
I have retitled the issue to the clearly call out the root cause. Note that the developer community issue has another report.

[2021-02-02 00:52] nkolev92 commented on #10516
fyi @chgill-MSFT @donnie-msft - no action required, just wanted you to be aware of this request.

[2021-02-02 01:41] vsfeedback opened #10517 "When a project has both a Project and PackageReference to the same id, the PM UI displays the version from the project."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Visual-Studio-NuGet-Package-Manager-inco/1302707)._

---
After upgrading from Visual Studio 16.7 => 16.8.3 the Visual Studio NuGet package manager window seems to suggest v1.0.0 as the installed and latest version for some packages (even though that version may not even exist).

I've no

[2021-02-02 01:43] nkolev92 commented on #10517
I left a comment on the original issue.
The solution here would need some thought, since displaying the package version is imo not sufficient, and misleading, because what's actually being used is the project.

[2021-02-02 02:08] vsfeedback opened #10518 "Nuget package settings not loading"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Nuget-package-settings-not-loading/1323354)._

---
[severity:I'm unable to use this version] [regression]
Nuget Packages are not loading and as a result, code fails in multiple places due to missing dependencies. Screenshot attached
! [Capture.JPG] (https://aka.ms/dc/image?name=B939aaa4

[2021-02-02 02:09] zivkan commented on #5358
The feeds on `dotnet.myget.org` were never official packages, they were used for "daily" CI builds, which certain enthusiasts liked to use, but were in no way ever needed for any official product. If the goal is to keep development simple, I would not recommend using non-standard sources, or pre-release packages. If you got `dotnet.myget.org` from a solution template or sample, rather than configu

[2021-02-02 02:09] nkolev92 commented on #10518
The failure occurs when there's a config with an empty password field.

Example:

[code]

[2021-02-02 02:11] nkolev92 commented on #10518
Note that while this issue was reported for the VS experience, you will see an exception if you try to restore on the commandline.

[2021-02-02 02:31] erdembayar opened #13496 "Document NU5132"
Follow up for newly created NU5132 used for detecting file stamp created before 1987 or after 2017/
Check [comment](https://github.com/NuGet/NuGet.Client/pull/3793#discussion_r568224951) for more details.

[2021-02-02 05:28] ajtruckle commented on #5358
@zivkan All I did was download AvalonStudio from GitHub.
Then use dotnet restore. This failed with the above messages. I have no team. Just download and build.

[2021-02-02 07:27] prstrnn opened #10519 "Cannot connect account with work Microsoft account"
Hi Nuget team!

Can you please assist me with my problem? I'm trying to create an account in Nuget.org and link it with work Microsoft account
Somehow I have created login+password account and now I'm getting this window:
![image](https://user-images.githubusercontent.com/30490978/106566331-3ae07400-6541-11eb-8dd1-86d54346e21d.png)

I'm understand that is correct behaviour of the site, because log

[2021-02-02 07:46] bufferoverflow commented on #1120
@emgarten The mentioned fix seems to just retry but not handle 429 rate limits, what's your suggestions for 429 cases?

[2021-02-02 08:27] v-crchang commented on #10507
Yes, this issue reproes after restarting the VS with the highlighted checkbox above checked.

[2021-02-02 08:28] v-crchang commented on #10508
@aortiz-msft Yes, this issue reproes after restarting the VS with the highlighted checkbox above checked.

[2021-02-02 09:10] snthomae commented on #10490
Are you using PackageReference or package.config?
If you use PackageReference, you should use globalPackagesFolder (see https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file)

Also I would add a <clear /> tag before add key to prevent that settings from previous NuGet.Config gets loaded.

[2021-02-02 10:03] BenjaminAbt commented on #10516
Thanks @nkolev92

[2021-02-02 11:36] jean-lourenco commented on #10491
If someone is still getting this error on the `5.0-buster-slim`, you may want to add the flags `--pull --no-cache` to the `docker build` command, to ensure the updated images are downloaded.

[2021-02-02 11:54] Saibamen commented on #10491
Only `--pull` is required to download new docker images

[2021-02-02 12:47] dtivel opened #10520 "ServiceActivationFailedException: Activating the "Microsoft.VisualStudio.NuGet.NuGetProjectService (1.0)" service failed"
Tracking issue for AzDO bug 1240336.

No repro steps (yet).

[code]

[2021-02-02 13:45] dtivel commented on #10024
@v-luzh, would you please verify this on the latest dev branch build (>= 5.10.0.7096)?

When I perform your latest repro steps on the latest dev branch, step 1 ends with this error:

![image](https://user-images.githubusercontent.com/12734758/106608775-aca4c780-6519-11eb-9782-9daf3147dfc2.png)

This error repros on older builds (e.g.:  16.8.x and older).

Then, step 5 ends with this Preview Change

[2021-02-02 14:03] Simon-Gregory-LG commented on #10517
Here's the scenario:

* Working on an app with multiple dependent libraries
* The libraries themselves are / or will get compiled to NuGet packages
* It is clearly advantageous to use ProjectReferences during development for these dependent resources so that they can be worked on in combination with a master project
* Before the latest update it was sufficient to do the following:
[code]
In the bu

[2021-02-02 14:55] ghazi1567 opened #10521 "nuget pack with nuget dependency of multiple project into one nuget"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):

Product version:

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

### Verbose Logs

[2021-02-02 14:58] #10521 closed, assigned to nobody

[2021-02-02 16:11] kg commented on #10504
For me, even with the latest ```20200601~deb10u2``` certificates package installed (via regular apt-get update + upgrade) on Debian 10, NuGet was still broken. I had to ```dpkg --purge --force-depends ca-certificates``` and then manually re-install ```20200601~deb10u2``` from a .deb file.

It may be worth updating the instructions to specify this.

[2021-02-02 17:56] zivkan commented on #1120
@bufferoverflow please create a new issue. This one hasn't had a reply in 5 years and the person you mentioned no longer works on the team.

[2021-02-02 18:31] nkolev92 opened #10522 "When a solution with all PackageReference projects has a project that has bad data, you cannot run any PM UI/PMC actions for all other projects as well."
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): Visual Studio

Product version:

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

1. Create 2 different SDK based projects, **Project1** and **Project2**.
2. To **Project1**, add a **PackageReference** with a **broken version**, for example: `<PackageReference

[2021-02-02 18:32] nkolev92 commented on #10522
Note that this is an `installation` problem, not a UI display problem, but the UI label exists because of how you get to the action.

[2021-02-02 18:41] donnie-msft commented on #10522
Discussed offline. Other work has been completed to actually show error list errors.
General design of PMUI is error/output messages block PMUI actions.
Nikolche is going to add the specific scenario and proposal, but it sounds like a DCR where a new error UI is needed.

[2021-02-02 18:41] nkolev92 commented on #10522
A couple of potential ideas.

* It should be *obvious* as to why the installation failed. Currently there's likely an exception thrown somewhere in the NuGetPackageManager code and it's not captured and written to the output window/error list.

* In the repro, project 1 and project 2 are unrelated. Now given that one didn't load, we can't even know if there's unrelated, but we can still *consider*

[2021-02-02 19:03] donnie-msft opened #10523 "PMUI actions should be disabled when errors prevent them from happening"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): Visual Studio

Product version:

Worked before? If so, with which NuGet version:  No

When a project is in some broken state (eg, failed to load), PMUI for another, valid project, should either block all actions, or even better, it should just allow actions to work for the valid project.

## Repro

[2021-02-02 19:03] donnie-msft commented on #10522
So to recap.... nkolev92/zivkan already improved restore. We have good Error List behavior for failed projects.

1. PMUI should block out all actions on this project rather than allow them and just blink at you. #10523, maybe #10385]

1. PMUI for another, valid project, should either block all actions, or even better, it should just allow actions to work. **[This Issue]**

[2021-02-02 19:06] donnie-msft opened #10524 "when a solution"

[2021-02-02 19:06] #10524 closed, assigned to nobody

[2021-02-02 19:35] akospinter commented on #10491
I just got an official update to the ca-certificates package on Ubuntu 20.10 and the nuget restore works again :)

[2021-02-02 20:32] devpaps commented on #10491
Oh yeah! Let's get on with some projects then people! 😀🥳

[2021-02-02 20:46] donnie-msft commented on #10507
I just found fuzzy text in the Find Symbols Results, I also use "optimize rendering" setting.
Seems like possibly a 16.10 VS issue?
![image](https://user-images.githubusercontent.com/49205731/106660212-b5bf8400-656d-11eb-87fe-45f5df6a02a2.png)

[2021-02-02 22:22] bufferoverflow commented on #1120
thanks @zivkan ! a collegue just created this one https://github.com/dotnet/sdk/issues/15619

[2021-02-03 00:33] zelenij commented on #10491
No luck with pool/main/c/ca-certificates/ca-certificates_20210119~20.10.1_all.deb on Ubuntu 20.10 - still cannot restore with the same error

[2021-02-03 00:35] nkolev92 commented on #10517
I just wanted to add clarification that NuGet treats Package and Project references equivalently. NuGet tries to mimic the behavior of Project and Package refs as close as possible.
This has not changed. This has always been the case in PackageReference.
Note that regardless of what you specify, if you have both declared, NuGet & the build will only use the project reference.

The UI should be abl

[2021-02-03 03:35] lerichardson commented on #10491
This seems to work for me as well :D

[2021-02-03 08:00] v-luzh commented on #10024
Hi @dtivel, I can repro this issue on Main\31002.208 + NuGet Client Dev\5.10.0.7096 **in step5** as below. Please uncheck the "bootstrap" package when you see the incompatible issue, and go on the step2-5 in above steps. (Please refer to above updated steps since the bug 1160376 is fixed). Note: we will have this issue **in step5, not step1**.
![image](https://user-images.githubusercontent.com/206

[2021-02-03 09:27] v-luzh opened #10526 "[Bug Bash] “Blocked by package.config” show in the “version” list of “Consolidate” tab after installing different package versions with PackageReference format into multiple projects in a solution"
## Details about Problem
NuGet version: NuGet Client Dev\5.10.0.7096
VS Version: Main\31002.208
OS: Windows-10-Enterprise-20h1
## Repro steps and/or sample project
1. Create a solution with multiple C# **Console App (.NET Framework 4.8)** projects in VS.
2. Right-Click the solution in the Solution Explorer and select the “**Mange NuGet Packages for Solution**”
3. Go to “Browse” tab, select a packa

[2021-02-03 11:50] ZukkyBaig commented on #10491
I'm slightly confused, `--pull` tells `docker-compose build` command to fetch latest images. But the images pulled for dotnet are `FROM mcr.microsoft.com/dotnet/sdk:5.0` and it is a fixed version `5.0`. Are you saying that changes are made to the fixed version `5.0` and pull that down? Surely it should be `5.1` or something if a new release has happened?

[2021-02-03 12:03] dschuermans opened #10527 "[Nuget.Versioning] NugetVersion.Parse cannot handle branch names which contain /"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): Nuget SDK

Product version: 5.8.1

Worked before? If so, with which NuGet version: Not that i'm aware

## Repro steps and/or sample project

[code]

### Verbose Logs

n/a

[2021-02-03 12:22] IvanBodnya commented on #6140
Running in docker container with --disable-parallel finally fixed this issue for me

[code]

[2021-02-03 12:24] PELock opened #10528 "Getting ownership of my old packages?"
I didn't perform the transition step to link my ms account to my old nuget login, and now I cannot login to nuget using my old credentials, how can I take ownership of my packages?

[2021-02-03 12:46] ragmn opened #10529 "et version"

[2021-02-03 12:47] #10529 closed, assigned to nobody

[2021-02-03 12:48] ragmn commented on #10529
by mistake

[2021-02-03 13:05] PELock commented on #10528
Hmm I did it, but there was some strange error and I wasn't able to login using my old credentials... closed

[2021-02-03 13:05] #10528 closed, assigned to nobody

[2021-02-03 14:28] mwpowellhtx commented on #6140
Will try that; `docker` probably a side bar there. Good to know, `--disable-parallel`. Thanks, @IvanBodnya

[2021-02-03 14:40] mthalman commented on #10491
5.0 is not a fixed tag; it's a floating tag.  That means it will point to the latest patch version of .NET which changes over time.  Even patch-level tags like 5.0.102 may end up being updated multiple times due to rebuilds from a change to the base OS image or distro package updates.  The only way to reference a truly fixed .NET tag that is guaranteed to never change is to use an image digest ins

[2021-02-03 15:36] zivkan commented on #10527
@dschuermans the [semver2 spec, item 10](https://semver.org/#spec-item-10) specifies:

therefore `/` is not a valid character, as per the spec.

[2021-02-03 17:36] dschuermans commented on #10527
Ah, can't argue with the specs now can we? 😄

Thanks for the clarification!

[2021-02-03 17:36] #10527 closed, assigned to nobody

[2021-02-03 18:12] chrisraygill opened #10532 "Prerelease version ordering is broken for the "Version:" dropdown in the Visual Studio PMUI Browse tab."
## Details about Problem

Prerelease version semantic ordering seems broken for the "Version:" dropdown in the Browse tab of the Visual Studio PMUI. It looks like it's only broken for the Browse tab, but works correctly in the Installed and Updates tabs. Semantic ordering for stable versions works fine in all tabs. The issue seems to arise for ordering based on characters that follow the "-" in a

[2021-02-03 19:47] RobertHenry6bev commented on #10491
This AM, I boot on virtualbox with a clean ubuntu 20.10 iso image, fully updated/upgraded over several iterations; installed my dotnet app, and things work fine for me: there's no problem with the cert chains when nuget and the dotnet runtime do their thing.  So my existing workstation which I upgraded doesn't work when fully updated/upgraded, but a brand new image one does.

[2021-02-03 20:22] donnie-msft opened #10533 "Solution PMUI Details has overlapping horizontal bar"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): VS

Product version: 16.10

Worked before? If so, with which NuGet version: No, checked 16.8

## Repro steps and/or sample project

1. Open Solution PMUI
2. Select a package
3. Observe Details pane has overlapping horizontal bars
![image](https://user-images.githubusercontent.com/49205731/106804479

[2021-02-03 20:33] dominoFire commented on #10475
If you provide an up-to-date .snupkg file, have your binaries in your .nupkg file changed as well? In that case, wouldn't it be better to upload a new version of the package?

[2021-02-03 21:18] #9578 closed, assigned to jebriede

[2021-02-03 21:36] #7001 closed, assigned to erdembayar

[2021-02-03 21:36] #7395 closed, assigned to nobody

[2021-02-03 21:45] chrisraygill opened #10534 "Icon loading behavior is inconsistent in all tabs of the Visual Studio PMUI"
## Problem

Icon behavior in the PMUI is inconsistent in the Browse, Installed, and Updates tabs. Sometimes an icon for a package will load in the Browse tab, but not in the Installed or Updates tab.

In the Browse tab, sometimes icons won't appear properly for the suggested packages but will appear correctly when explicitly searched for in the Browse tab of a different project PMUI as shown by th

[2021-02-03 22:24] shaynevanasperen commented on #10491
I'm having this error on an **Azure App Service on Linux** instance.

When I SSH into the existing deployment instance, I get this:
[code]
Which shows that the version installed is `20200601~deb10u1`

Following the guidance from this issue [NuGet/Announcements/issues/49], I tried running some commands via SSH:
`apt-get remove ca-certificates`
`apt-get purge ca-certificates`
`apt-get update`
`apt-g

[2021-02-03 23:57] dtivel opened #10535 "Signing: primary signature details not displayed when certificate expired and timestamp untrusted"
NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):  NuGet.exe

Product version:  5.8.1.7021

Worked before?  No.  This reproes as early as 4.9.4.5839 and probably earlier (but did not verify).

## Repro steps and/or sample project

1.  Extract the contents of [AuthorExpired.1.0.0.zip](https://github.com/NuGet/Home/files/5922200/AuthorExpired.1.0.0.zip) to your local drive.

[2021-02-04 00:43] erdembayar commented on #6795
@NuGet/nuget-client
Do we need to show warning to user that we picked up project over package in this case instead of doing it silently?

[2021-02-04 00:46] nkolev92 commented on #6795
@erdembayar
Given that it's an implementation detail and a question to the team, let's continue the discussion on the PR instead.

[2021-02-04 01:49] richlander commented on #10491
I've asked someone from the NuGet team to take a look. Thanks for the reports with all the data.

[2021-02-04 02:13] nkolev92 commented on #10368
Project over package is the expectation for restore in general.

I think this scenario is slightly different from the linked one, and as such I am re-opening it.

[2021-02-04 02:26] nkolev92 commented on #10526
@v-luzh

Can you please comment when you have the regression information?

I tried a quick repro with 16.9 P3 but no luck there.

[2021-02-04 03:23] nkolev92 commented on #10481
Duplicate of https://github.com/NuGet/Home/issues/9954

Please refer to the below for workaround.
https://github.com/NuGet/Home/issues/9954#issuecomment-754952859

[2021-02-04 03:23] #10481 closed, assigned to nobody

[2021-02-04 03:28] nkolev92 commented on #10479
Thanks for filling this issue @gh-andre.

Can you elaborate more on the particular behavior you would expect? Maybe by providing a short practical example? Unfortunately I'm not sure if which you are proposing this gets solved.

Note that from a package perspective, changing a compiler flag or adding a patch, it cannot make it the same version. The code is different, the output assembly would be d

[2021-02-04 03:30] nkolev92 commented on #10482
Duplicate of https://github.com/NuGet/Home/issues/8272.

[2021-02-04 03:30] #10482 closed, assigned to nobody

[2021-02-04 03:37] nkolev92 commented on #10489
Duplicate of https://github.com/NuGet/Home/issues/5895.

At this point we don't recommend conditions based on the configuration, and the recommended way of conditioning PackageReference are `TargetFramework`.

Given that the reasons for this are technical(has to do with how MSBuild works) there are workarounds you can consider, by using Choose\When. Note that there's no tooling support for this.

[2021-02-04 03:38] nkolev92 commented on #10490
@snthomae is correct.

If you are using PackageReference, you need to specify the global packages folder.

https://docs.microsoft.com/en-us/nuget/consume-packages/managing-the-global-packages-and-cache-folders

[2021-02-04 03:38] #10490 closed, assigned to nobody

[2021-02-04 03:40] nkolev92 commented on #10493
The root cause here is that NuGet does feed type detection *before* contacting the sources.

The improvement would be for NuGet to detect the correct feed type automatically.

Note that this would work if the link had `index.json` in the name, which is how the type of source is detected.
Retitling as such.

[2021-02-04 03:45] nkolev92 commented on #10495
Hey @Perry004

This is a bug in the project-system that deals with older style projects.

The bug was tracked here, https://github.com/dotnet/project-system/issues/4175, but unfortunately the project-system team as of this time has determined that the risks are too high to consider fixing right now.

[2021-02-04 03:45] #10495 closed, assigned to nobody

[2021-02-04 03:49] nkolev92 commented on #10505
Hey @sharwell,

If Newtonsoft.Json is pulled in as a transitive dependency, I think the expectation should be that the binding redirects are automatically generated.
Many packages are built with this expectation.

Do you have a repro?

[2021-02-04 03:56] JonDouglas commented on #10491
@shaynevanasperen I've reached out to someone on the Azure team to look into updating those images appropriately.

[2021-02-04 03:58] JonDouglas commented on #10491
For those still running into issues on bare metal / desktops, you may need to manually re-install & purge as per https://github.com/NuGet/Home/issues/10504#issuecomment-771748676

[2021-02-04 07:02] devpaps commented on #10491
Thank you for the tips. I've thought it worked for a second on my Pop Os 20.10, but i still get the same error. Re-installed the packages manually but still no luck. I even started a new project with dotnet to see if it was something with my old project that was causing the restore command to fail.
Has this something to do with Pop OS? I'm not using any image on Docker, just desktop enviroment too

[2021-02-04 08:34] AronisK commented on #10491
Would it be possible to get a reply here when this is resolved for the Azure App Service?

[2021-02-04 11:42] zxa4fd commented on #10490
What tag is this?

[2021-02-04 12:27] JonDouglas commented on #10491
@devpaps You are running into a separate issue I believe. See https://docs.microsoft.com/nuget/consume-packages/installing-signed-packages for more details.

[2021-02-04 13:19] akospinter commented on #10491
What is the exact version number of your installed ca-certificates package? (command for checking it: `apt list ca-certificates`)
Mine is `ca-certificates/groovy-updates,groovy-updates,groovy-security,groovy-security,now 20210119~20.10.1 all [installed,automatic]` . Nuget works with that package on my Ubuntu 20.10

[2021-02-04 14:28] v-luzh commented on #10526
Hi @nkolev92, I can repro it on 16.8 GA (D16.8\30705.32) and 16.9 Preview3 (D16.9\30914.41) as below. Please pay attention the bold steps above since they are the key points to repro the bug. Please click "Updates" tab and click "Consolidate" tab back again when you can't repro it at the end of step4. And I can see it in the same list of Updates tab too.
![image](https://user-images.githubusercont

[2021-02-04 14:30] rudyscoggins commented on #352
Is a side effect of this change that the Nuget package download now includes the icon file?  We released a new version of our package using the new <icon> and <file> tag in the nuspec and now our client downloads have our logo.png showing up in their projects.

If that is correct, is there a way to override this?  A typical user for us wouldn't care if the nuget package manager properly shows the

[2021-02-04 14:52] fluffynuts commented on #352
@rudyscoggins my `package.nuspec` contains the line:
[code]
which I assume is the secret sauce for not having the icon deployed to the consumer

[2021-02-04 15:00] adamralph commented on #352
The icon will only appear in consuming projects if the package has been incorrectly created.

[2021-02-04 15:49] rudyscoggins commented on #352
Ah, so I am doing something wrong.  I'm not sure what though.  I have the target=""...

Here's my nuspec file.  Could you take a quick glance to see if something is wrong?  The image lives at my project file root:

`<?xml version="1.0"?>
<package >
  <metadata>
    <id>mySDK</id>
    <version>20.96.2.1</version>
    <title>mySDK 20.96</title>
    <authors>Me</authors>
    <owners>Me</owners>
    <

[2021-02-04 16:09] adamralph commented on #352
Are you creating your package with an explicit nuspec?

If possible, I advise moving away from that and allowing the SDK to create the nuspec for you. FWIW, I just have a `PackageIcon` element in my csproj and the rest Just Works. — https://github.com/adamralph/bullseye/blob/d11fea517642b5f56f19d5a6963f4a818b698cc9/Bullseye/Bullseye.csproj#L11

If I dig into the `nupkg`, the generated `nuspec` loo

[2021-02-04 16:10] adamralph commented on #352
Oh, there is also this — https://github.com/adamralph/bullseye/blob/d11fea517642b5f56f19d5a6963f4a818b698cc9/Bullseye/Bullseye.csproj#L26 — so I guess it's not quite as simple as it could be.

[2021-02-04 16:22] gh-andre commented on #10479
@nkolev92

Thanks for responding.

There are two different points that it seems I didn't manage to convey in the original post. Let me try to rephrase them separately.

**Semantic Versioning vs. Package Revision**

This actually doesn't align at all with Semantic Versioning, which tracks _what the code does functionally_, not _how it is packaged_. You are right, however, the package must be differ

[2021-02-04 17:16] AraHaan commented on #8791
is this in the .NET 5.0.102 SDK too?

[2021-02-04 17:32] RobertHenry6bev commented on #10491
I was able to get dotnet+nuget on my upgraded ubuntu 20.10 desktop to work again by editing the file /etc/ca-certificates.conf and enabling (eg, removing the leading !) the line mozilla/VeriSign_Universal_Root_Certification_Authority.crt and then re-running `update-ca-certificates`  I have no idea how that line was disabled.  I do not understand the implications of my change.

[2021-02-04 18:06] sharwell commented on #10505
It looks like the failing configuration is equivalent to this:

[code]

The `ExcludeAssets="compile"` is produced indirectly: another package uses `PrivateAssets="compile"` to avoid making NuGet.Protocol part of the public API surface of the package. However, this use should not be breaking the ability of the build to handle runtime dependencies.

[2021-02-04 19:23] rudyscoggins commented on #352
Thanks all for the help and sanity checks!  I really appreciate it and it helped me solve the problem.

Turns out I thought I needed to include the image file in the project.  After experimenting, I realized it SHOULDN'T be included in the project and is only meant to reside in the nuget package.  This is what caused it to be distributed.  Hopefully this helps someone else.

@adamralph my upload p

[2021-02-04 19:39] zivkan commented on #8791
yes, but it's still opt-in: https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#restoring-with-msbuild-static-graph-evaluation
`dotnet restore -p:RestoreUseStaticGraphEvaluation=true`

[2021-02-04 19:56] AraHaan commented on #8791
@zivkan thanks, been trying to fix an issue where ``dotnet restore`` sometimes takes a few minutes just to restore 3 analyzer packages, a package for the .NET Framework reference assemblies for the .NET Framework targets on my code, and a few other packages like the ones for my mbsuild task, and then also System.Text.Json v5.0.1 even when not using .NET 5 for it (when targeting .NET Framework / ol

[2021-02-04 20:00] erdembayar opened #10536 "Codespace is not failing on samekey issue repro"
## Details about Problem

NuGet product used: Visual Studio Codespace

Product version: 16.P4 (Vsix) 5.9.0.7097

Worked before? If so, with which NuGet version: N/A

## Repro steps and/or sample project

Currently fix for [issue#6795](https://github.com/NuGet/Home/issues/6795) fix is not merged yet so it should always fail.

![image](https://user-images.githubusercontent.com/8766776/106947827-c132

[2021-02-04 20:12] erdembayar commented on #10536
Closing because it only repro on local server but on real server it works as expected.

[2021-02-04 20:12] #10536 closed, assigned to nobody

[2021-02-04 20:17] kartheekp-ms opened #10537 "Codespaces - PM UI didn't refresh package list upon changing package source"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): Visual Studio 16.10 P1

Product version: 5.10.0.7102

Worked before? If so, with which NuGet version: I am unable to reproduce this issue in standalone/classic VS

## Repro steps and/or sample project

- Sever and Client instance of Codespace are running locally.
- Cloned this repo https://github.c

[2021-02-04 20:39] sbanni commented on #10537
Not a regression, tried on 16.7.

[2021-02-04 20:41] michael-hawker commented on #10375
Yeah, this can help library authors (and app developers) as well understand explicitly which packages they depend on.

In the [Windows Community Toolkit](https://github.com/windows-toolkit/WindowsCommunityToolkit) we just did an exercise for our upcoming release to understand our full dependency tree.

Since our APIs are layered to build on top of one another, it's easy for them to get included ev

[2021-02-04 21:10] devpaps commented on #10491
I got this message when i run the command,

`devpaps@pop-os:~$ apt list ca-certificates -a
Listar… Färdig
ca-certificates/groovy-security,groovy-security,groovy-updates,groovy-updates,now 20210119~20.10.1 all [installerat,automatiskt]
ca-certificates/groovy,groovy 20200601 all
`
All seems fine? Maybe i got another problem that's not related to the certificates after all.

Re-install pop os? 😄

[2021-02-04 21:22] kartheekp-ms opened #10538 "Codespaces - Allow format selection on first package install option in VS"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): Visual Studio

Product version: 16.10.P1

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

- Connected to a repo using Codespaces
- Navigate to Tools -> Options -> NuGet Package Manager -> General
- Do we need `Allow format selection on first package install op

[2021-02-04 21:25] donnie-msft opened #10539 "Downgrading then Updating to the original Package Version fails in CodeSpaces"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): Visual Studio

Product version: 16.9 preview 4

Worked before? If so, with which NuGet version: Standalone VS

## Repro steps and/or sample project

Seems like an assets file/timing bug with CodeSpace server...

1. Open PMUI for your .NET Core project.
2. Install a package (I used Castle.Core) to l

[2021-02-04 21:28] jongio commented on #10493
I tried this:

Created aka
`https://aka.ms/azsdk/net/feed/index.json`

which points to
`https://pkgs.dev.azure.com/azure-sdk/public/_packaging/azure-sdk-for-net/nuget/v3/index.json`

and I get this error:

[code]

Looks like it doesn't follow the redirect.

[2021-02-04 21:45] donnie-msft opened #10540 "Update to older Package version causes "Object reference not set" error in CodeSpaces"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): Visual Studio

Product version: 5.9 preview 4

Worked before? If so, with which NuGet version: ?

## Repro steps and/or sample project

Telemetry, logs, etc: https://developercommunity2.visualstudio.com/t/update-to-older-package-causes-object-reference-no/1330912

1. Repeat steps from https://githu

[2021-02-04 22:17] sbanni opened #10541 "Having no enabled sources prevents the PM UI from showing"
## Details about Problem

The PM UI will not open if there are no enabled Package Sources

Product version:

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

Uncheck all sources in Tools -> Options -> Package Sources
Try to open up the PM UI for a project

Observed: The UI will not show up
Expected: PM UI to show

[2021-02-04 22:29] astrohart opened #10542 "'Migrate project to PackageManagement' menu option should be callable from Package Manager Console for whole solution as a glut"
I read the blog post at:
[Migrate to PackageReference with 3 clicks
](https://devblogs.microsoft.com/nuget/migrate-packages-config-to-package-reference/)

I have a Solution with over 200 projects in it.  I don't want to right-click each of the 200 projects one at a time and migrate them.  So tedious! I'd prefer a nice command I can just type in to the Package Manager Console to do the job in one g

[2021-02-04 22:42] donnie-msft commented on #10540
Added a stack.
Even after closing PMUI, reopening it immediately fires this error now. Assume restarting VS will resolve.

[2021-02-04 22:49] donnie-msft opened #10543 "Unloading project did not close PM UI window in CodeSpaces"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): VS

Product version: 16.9p4

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

1. Open a project in CodeSpaces
2. Open PMUI
3. Unload the project for which you opened PMUI
4. Observe that the PMUI remains open. It should close as it does in Standalone.

### Verb

[2021-02-04 22:49] nkolev92 commented on #10542
Duplicate of https://github.com/NuGet/Home/issues/5879.

Hey @astrohart,

Unfortunately there are no immediate plans(read that as not like to happen in 16.10) for doing this. The migration wasn't implemented in PMC yet.

Feel free to upvote that issue.

[2021-02-04 22:49] #10542 closed, assigned to nobody

[2021-02-04 22:51] donnie-msft opened #10544 "Manage NuGet Packages should not be shown for Unloaded Projects in CodeSpaces"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): VS

Product version:  16.9p4

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

1. Open a solution in CodeSpaces.
2. Unload a project.
3. Right click the project in Solution Explorer
4. Observe "Manage NuGet Packages" is shown. It shouldn't be shown, as it doesn

[2021-02-04 22:54] donnie-msft commented on #10540
Unload/Load the project resolved the error.

[2021-02-04 22:54] nkolev92 commented on #10512
There's currently no way to fine tune the include assets. Currently the consumer is in control of what gets included.

Can you please provide a more detailed practical example as to why you'd want to exclude runtime assets?
If you package *does not* provide any runtime assets, then the extra metadata wouldn't do much.

[2021-02-04 23:01] fergalmoran commented on #10491
`FROM mcr.microsoft.com/dotnet/sdk:5.0-alpine AS build`
Works now also...

[2021-02-04 23:28] astrohart commented on #5879
Absolutely want to upvote this.  While I am not a customer at a large enterprise per se, I am working on doing AI with C# and I have a solution that is approx 200 projects or so.

Wanted to definitely give this issue my thumbs up.  I think having to right-click each of the 200 projects is tedious and time consuming.  This definitely should be scriptable/iterable.

[2021-02-04 23:29] astrohart commented on #5879
Totally, totally, TOTALLY want to see this implemented yesterday, by noon! :-)

[2021-02-04 23:33] jebriede opened #10545 "Error List is not cleared of package install errors in CodeSpaces after doing another install / uninstall action"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): Visual Studio

Product version: 16.10 Preview 1

Worked before? If so, with which NuGet version: In local scenarios it works

## Repro steps and/or sample project

1. Open PMUI
2. Click on Browse Tab
3. Search for System.Linq.Expressions and install version 4.0.0
4. Search for Moq install version 4

[2021-02-05 00:19] nkolev92 commented on #10526
Thanks, I can repro it now.

For me the repro occurred when I unselected one of the projects (note that in the SS right now there are 2 selected).
After reselecting that project and having both selected, the repro stayed.

I think they are likely the same root cause even if the steps are not 100% the same.

[2021-02-05 00:30] nkolev92 commented on #10479
Thanks for the details. That definitely adds more details to your motivation.

What I'm curious about is how you see your specific proposal working in the context of NuGet.
In particular, what'd you expect to happen when directly referencing a package, what'd you expect to happen when transitively referencing a package etc.

Is the proposal: "get latest revision for that specific version each time

[2021-02-05 00:35] zelenij commented on #10491
This finally seems to work

[2021-02-05 00:44] nkolev92 commented on #10494
Moving to https://github.com/microsoft/artifacts-credprovider/issues/238.

The warning is coming from the server.

[2021-02-05 00:44] #10494 closed, assigned to nobody

[2021-02-05 00:53] nkolev92 commented on #10501
Hey @Perry004,

The duplicate handling inconsistency is documented here, https://github.com/NuGet/Home/issues/9864.

Note that our recommendation would be to include an *item once*!

In the mean time consider one of the following:

[code]

or

[code]

[2021-02-05 00:53] #10501 closed, assigned to nobody

[2021-02-05 01:04] nkolev92 commented on #10502
Hey @ledjon-behluli,

Given that these are the Visual Studio log-in (NuGet just piggybacks off of that), I'd like to recommend you file the issue on developer community.

https://developercommunity2.visualstudio.com/report?entry=problem&space=8.

Unfortunately I don't have the ability to move it from here.

[2021-02-05 01:04] #10502 closed, assigned to nobody

[2021-02-05 01:07] nkolev92 commented on #10506
Hey @StingyJack

There's a typo in the nuspec (or the project that builds the library assembly).

The globbing is

while the file in the screenshot is

Can you please double check that?

[2021-02-05 01:15] nkolev92 commented on #10509
Hey @ChristophHornung

Based on your details, sounds like it's something that has to do with the server.

If you agree, please consider filing an issue at https://developercommunity.visualstudio.com/spaces/21/index.html.

[2021-02-05 01:23] nkolev92 commented on #10511
Hey @snthomae

PackageReference is not supported for native projects. Tracked here: https://github.com/NuGet/Home/issues/8874.

Note that the NuGet team does not have absolute control here, so issues like that are best filled on developer community.

[2021-02-05 01:59] donnie-msft opened #10546 "License URL is not loaded when connected to CodeSpace"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): VS

Product version: 16.9p4

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

1. Open a project in a local CodeSpace.
2. Open PMUI
3. Find a package that uses a License URL (eg, Microsoft.Internal.VisualStudio.Shell.Interop.9.0 from apex public feed)
4. In the

[2021-02-05 02:55] donnie-msft opened #10547 "Transitive NuGet packages are not being shown in Solution Explorer when connect to a VS CodeSpace"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): VS

Product version:  16.9 preview 4

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

**Visual Studio Version**: **16.9.0 Preview 4.0 [31004.17.d16.9]**

**Summary**:

Filed a Project System bug (https://github.com/dotnet/project-system/issues/6922) which was

[2021-02-05 03:06] donnie-msft commented on #7901
I ran into this today on 16.9 preview 4.
It's not simply that it's contradictory, but it is actually incorrect because it *does* continue to prompt you even though it shows a checkmark in "Do not show this again".

Toggling the checkbox off/on fixes that problem.

@chgill-MSFT thoughts on one of these solutions?:
1. Uncheck "Do not show this again" when user checked "Preview Changes" in details pa

[2021-02-05 03:34] Perry004 commented on #10501
Your suggestion is actually a copy of `choose, when` which I said before  that I know it and did not want to use. What I am curious is that the different behaviors of the multiple packagereferene include between ide restore, command restore. So I want you could fix it and I do not  want this divergence to grow and affect the rest of the development.

[2021-02-05 06:11] almaceleste commented on #10491
On my Ubuntu 20.10, I solved this issue by installing `ca-certificates` from the `focal` (20.04) repository:
https://packages.ubuntu.com/focal/ca-certificates

[2021-02-05 08:16] ChristophHornung commented on #10509
Hey @nkolev92, I went on to investigate the problem with our admin staff, but the day before it simply disappeared. We checked the logs to see if we can find any conditional access policy that might have blocked those requests but could not find anything.

My best guess is that something went wrong between azure devops receiving the PAT and checking the conditional access policies for that request

[2021-02-05 08:16] #10509 closed, assigned to nobody

[2021-02-05 08:33] ledjon-behluli commented on #10502
Created the issue in developer community:
https://developercommunity.visualstudio.com/content/problem/1331519/nuget-restore-error-response-status-code-does-not.html

[2021-02-05 09:30] snthomae commented on #10511
Hey @nkolev92,
but PackageReference is working with native projects. At least I can call nuget restore with NuGet Client 5.8.4 on a Native Project and it is restoring as expected.
Problem just comes up when there is a ProjectReference between a .NET and Native Project and restore is called on the .NET project.
This problem just comes up with NuGet Client 5.8.4 whereas same scenario is working with

[2021-02-05 13:26] StingyJack commented on #10506
Yep, that subtle naming change was one I pulled in after I had started creating the package. Good eye there, thanks!

[2021-02-05 15:16] eerhardt opened #10548 "dotnet nuget list source should say where a source is coming from"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):

[code]

Product version:

Worked before? If so, with which NuGet version: no

## Repro steps and/or sample project

I have an old, out-of-date nuget source somewhere on my machine, but I don't know where it is. It is causing my restore to fail because the end point is no longer there.

To try to t

[2021-02-05 15:56] shaynevanasperen commented on #10491
@JonDouglas I've just tried to deploy again and it is still failing. Could you please nudge the Azure team to expedite updating of those images? Otherwise could you please put me in touch with them directly? As a paying Azure customer, the delay in getting this resolved is not up to scratch.

[2021-02-05 16:24] JonDouglas commented on #10491
@shaynevanasperen Please reach out to your Azure support resource to expedite. I do not have an update quite yet, but when I do I will nudge this issue & include the status in the Announcement. Thanks.

[2021-02-05 16:28] gh-andre commented on #10479
I use Nuget for native packages and cannot speak for how it is used for .Net development. For my usage pattern, which spans commercial and Open Source projects, a simple numeric package revision would work well, including applications with multiple supported released versions (as opposed to website-style development, where only one active version is supported).

Here's how I would see it.

* The _

[2021-02-05 16:31] shaynevanasperen commented on #10491
I haven't subscribed for paid support, because I don't need it. I can't raise this with the Azure team without paying $29/month! I shouldn't need to sign up for paid support just to be able to alert them about an issue which is known to be entirely the fault of Azure. I have now sent them [a message on Twitter](https://twitter.com/shayneva/status/1357727682084143106). Hopefully they respond soon.

[2021-02-05 17:13] GoldenLighter commented on #10488
Here is my log file :

[code]

As you see problem is from telerik extension.
How can i fix it?

[2021-02-05 17:46] dagood commented on #10368
Not quite sure my expectations are clear... restating just in case:

* When `TargetFramework == net5.0`, there's a `ProjectReference`.
* When `TargetFramework == netcoreapp3.1`, there's a `PackageReference`.

They seem very isolated from the project author point of view... I don't know why one would ever have to be considered "over" another. Why do they have a chance to collide and force NuGet to

[2021-02-05 17:53] nkolev92 commented on #10506
Do you still have a problem or can we close this?

[2021-02-05 18:00] nkolev92 commented on #10479
Thanks for the added detail.
Note that the NuGet versioning does support a 4th number in the version due to legacy reasons :)

[2021-02-05 18:20] donnie-msft opened #10549 "Package Metadata (details, deprecation) are sometimes not pulled from nuget.org in CodeSpaces"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): VS

Product version: 16.9p4 with 5.9.0.7097\artifacts\VS15\NuGet.Tools.vsix

Worked before? If so, with which NuGet version: Standalone

## Repro steps and/or sample project

1. Create a solution and connect to a CodeSpace.
2. Open PMUI for a project.
3. On Browse tab, search for some known depreca

[2021-02-05 18:24] donnie-msft commented on #10549
Of course, means Installed tab is missing deprecation indicator:
![image](https://user-images.githubusercontent.com/49205731/107073502-797e6480-67b5-11eb-9fd6-4783e37eba1a.png)

[2021-02-05 18:26] JonDouglas commented on #10548
@eerhardt If I understand you correctly. You would like to see the location the source originated from on disk?

i.e.

- `C:\Users\<Name>\AppData\Roaming\NuGet\NuGet.Config`
- `C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\`
- etc

[2021-02-05 18:38] rrelyea commented on #10538
since codespaces currently only supports sdk style (and no packages.config), this isn't important yet. (assuming it still works in standalone, which we believe it does).

[2021-02-05 18:40] rrelyea commented on #10539
@donnie-msft  - if this repros in standalone, we'll fix in 16.9. If this only repros in codespaces, we'll fix in 16.10. Can you clarify, please?

[2021-02-05 18:41] eerhardt commented on #10548
Correct. I'd like to know where the source is coming from - so I can either delete it, or figure out how it got there. Is a config file on disk the only way a source can get added to my context?

In my specific case I am seeing a different set of sources between the VS dialog and what is being used on the command line. So I'd like to know where the sources on the command line are coming from.

[2021-02-05 18:42] rrelyea commented on #10540
@donnie-msft  - same question as #10539 -- does this impact standalone scenario too? or just codespaces-connected?

[2021-02-05 18:44] Simon-Gregory-LG commented on #10517
That makes sense with regards to how `msbuild` and `dotnet build` see PackageReferences and ProjectReferences (and to some limited extent `nuget pack -IncludeReferencedProjects` and `dotnet pack`). I've [read previously](https://github.com/dotnet/sdk/issues/1151#issuecomment-297265205) that VS will see the ProjectReference over the PackageReference if the version is higher than the PackageReferenc

[2021-02-05 18:45] rrelyea commented on #10543
duplicated of #9935

[2021-02-05 18:45] #10543 closed, assigned to nobody

[2021-02-05 18:46] rrelyea commented on #10544
targeting 16.10, as standalone works fine, which is 16.9 qb mode priority.

[2021-02-05 18:47] rrelyea commented on #10545
targeting 16.10, as standalone works fine, which is 16.9 qb mode priority.

[2021-02-05 18:49] rrelyea commented on #10545
believe it is a dupe of #10140

[2021-02-05 18:52] rrelyea commented on #10549
consider for 16.9 if regression in standalone.

[2021-02-05 18:55] #10532 closed, assigned to donnie-msft

[2021-02-05 18:56] nkolev92 commented on #10518
Dup of https://github.com/NuGet/Home/issues/7897

[2021-02-05 18:56] #10518 closed, assigned to nobody

[2021-02-05 18:59] JonDouglas commented on #10548
@eerhardt This is an excellent feature request. We'll keep this open to count 👍 & consider it for future `dotnet` releases. Thanks for the contribution.

[2021-02-05 19:06] rrelyea commented on #10539
confirmed...standalone is ok. 16.10

[2021-02-05 19:06] nkolev92 commented on #10511
Due to the nature of MSBuild, the tooling cannot block every unsupported scenario.
PackageReference is 2 parts, one is restore the other side is build. Even if the restore side might seem to work, the build side is not implemented right now.

In the scenario described, the .NET project is not PackageReference. The error suggests that the project is PackageReference.
I'd expect restore to fail with

[2021-02-05 19:06] rrelyea commented on #10540
confirmed...standalone is ok. 16.10

[2021-02-05 19:26] donnie-msft commented on #10549
@rrelyea as with the others you asked about, this is only "in CodeSpaces". Also every screenshot has the Standalone shown on the left with expected metadata.

[2021-02-05 19:55] donnie-msft opened #10550 "Clear All NuGet Cache(s) cannot find the NuGetScratch folder in CodeSpaces"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): VS

Product version: 16.9p4

Worked before? If so, with which NuGet version: Standalone

## Repro steps and/or sample project

1. Open a Solution and perform actions to populate NuGet cache.
2. Open PMUI, open `Settings -> General`, and press `Clear All NuGet Cache(s)`.
3. Observe an error about a

[2021-02-05 20:19] donnie-msft commented on #10549
May be a separate issue, but also on that package, the Uninstall icon is not present.
![image](https://user-images.githubusercontent.com/49205731/107084822-8d31c700-67c5-11eb-8a24-fab632e6276f.png)

[2021-02-05 20:33] donnie-msft opened #10551 "Updates Tab doesn't show count of available updates in CodeSpaces"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): VS

Product version: 16.9p4

Worked before? If so, with which NuGet version: Standalone

## Repro steps and/or sample project

![image](https://user-images.githubusercontent.com/49205731/107085432-78a1fe80-67c6-11eb-818c-5aad6181d740.png)
1. Open a solution in CodeSpaces.
2. Add packages that have

[2021-02-05 20:38] donnie-msft commented on #10539
@dtivel I just tried this again and couldn't repro.
I am realizing now when I found this, I may have not been on the latest VSIX. Possibly we can close this one if nobody else can repro...

[2021-02-05 20:57] hmsca commented on #10491
Thanks! That worked for me. Would this change cause any issue?

[2021-02-05 21:26] rrelyea commented on #10546
tried latest dev with latest 16.9p4 build.
built 3 packages that all have requireLicense. one embedded. one url. one expression.
used local file source.  all worked.

perhaps it is a problem with http feeds...will find that scenario and test.

[2021-02-05 21:51] rrelyea commented on #10546
the reported package has licenseUrl of https://aka.ms/pexunj, which redirects to another url

[2021-02-05 22:37] donnie-msft commented on #10546
Are you talking about CodeSpaces working?

[2021-02-05 23:03] daperezc commented on #10491
@shaynevanasperen thanks for reporting this issue, here are some additional details:

When we deploy to Azure Web Apps using Local Git on Deployment Center we end up using Oryx deployment, this method builds the project on our Kudu container that has the wrong certificates and unfortunately we dont have enough permissions to run the commands to fix the issue on Kudu.

If we use the Visual Studio P

[2021-02-05 23:12] JonDouglas commented on #10491
For those affected by Azure App Service, there has been a response provided here:

https://azure.github.io/AppService/2021/02/05/dotnet5-cert-incident.html

You can also find this response in the [Announcement](https://github.com/NuGet/Announcements/issues/49) which links directly to this blog.

/cc @shaynevanasperen

[2021-02-05 23:45] #10541 closed, assigned to sbanni

[2021-02-06 00:20] zkat opened #10553 "Add integration tests for all `dotnet new` templates"
This is one of the corrective actions related to https://github.com/NuGet/Client.Engineering/issues/727

[2021-02-06 00:21] zkat opened #10554 "Come up with a list of project types that we might be missing integration tests for"
This is one of the corrective actions for https://github.com/NuGet/Client.Engineering/issues/727

[2021-02-06 09:57] HavenDV commented on #10475
Not. I'm talking about situations where I only update the README. Github Actions also triggers a pipeline that has dotnet nuget push. At the moment, assemblies in which the version does not change are correctly ignored. But there are many notifications in the mail that Symbol package validation failed. For now, I just added them to spam and ignore them, but the problem is still there.

[2021-02-06 12:35] zivkan commented on #10475
I believe this issue is a duplicate of https://github.com/NuGet/Home/issues/9647

[2021-02-06 15:11] StingyJack commented on #10506
Sorry meant to close it when commenting yesterday

[2021-02-06 15:11] #10506 closed, assigned to nobody

[2021-02-06 18:24] #10398 closed, assigned to nobody

[2021-02-06 18:48] GoldenLighter commented on #10488
Link Update :
[ActivityLog.xml](https://gofile.io/d/hFUwx7)

[2021-02-07 07:59] jimmylewis commented on #10389
Throwing my vote on this too, hoping to see the priority bumped up.  Honestly, I don't know where else to file it, but PackageReference has been completely unusable in my team's repo for the last several years due to the complex (and disorganized) nature of our dependencies.  CPVM with transitive dependencies was our hope to finally make the move back to standardized tooling for our dependency man

[2021-02-07 08:01] justinjalandoniiwest opened #10555 "PackageReference does not work:"
Using `globalPackagesFolder` but it still sames to save it in my `.nuget` directory on my `%USERPROFILE%` I set this in nuget.config in %USERPROFILE%

[code]

[2021-02-07 08:15] justinjalandoniiwest commented on #10555
It still downloads the new packaged in %USERPROFILE%

[2021-02-07 18:15] lerichardson commented on #10491
I think this Issue has run its course and I think that it mostly has been resolved and I would suggest closing this.

[2021-02-07 18:36] JonDouglas commented on #10491
We'll work to consider closing this issue on Monday. We believe scenarios reported in this issue are already mitigated, have a reasonable workaround, and are in the formal process of receiving a stable channel fix in the near future.

If there are any other scenarios that we should consider looking into, please let us know.

Thank you everyone for your patience and help through this incident.

[2021-02-07 20:08] perlun commented on #10491
@JonDouglas Not fully convinced that this is entirely solved yet. I am seeing issue on Debian Bullseye, trying to build this commit in my project: https://github.com/perlang-org/perlang/commit/6a0802af511b43b4143e045d6dfeb9130d88d9c4 (but I just checked and it has started failing on the latest master as well; this is utterly strange since I'm 100% positive the last `master` commit _worked_ yesterd

[2021-02-07 20:23] perlun commented on #10491
Interestingly enough, applying the workaround in https://github.com/NuGet/Home/issues/10491#issuecomment-773698039 seemed to do the trick, but I wonder if this is really wise from a security perspective:

Won't this make other software (like browsers such as Firefox) trust these root CA:s that are intentionally distrusted nowadays? :thinking:

[2021-02-07 20:26] lerichardson commented on #10491
You say that:

However, Debian Bullseye is not officially supported by dotnet yet (https://docs.microsoft.com/en-us/dotnet/core/install/linux#debian)

[2021-02-07 20:28] JonDouglas commented on #10491
@perlun There is a known issue in the `ca-certificates` fix to which upgrading doesn't guarantee the certificate to be re-trusted. See this comment:

   won't automatically be trusted again on upgrade.  Affected users may
   need to reconfigure the package to restore the desired state.

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=962596

There's further knowledge on this here:

verification

[2021-02-07 20:34] perlun commented on #10491
Thanks a lot @JonDouglas. :+1: I also found https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=962596 actually. :smile:

That explains it. :+1: Thanks for a super-fast reply.

@lerichardson

Fair enough, but it was explicitly mentioned in https://github.com/NuGet/Announcements/issues/49 (Bulleseye was not to be affected by this issue). I guess the answer to that is partly "it depends". A clean inst

[2021-02-08 07:16] devitalio commented on #10504
Looks like ca-certificates on Ubuntu 20.10 were updated 3 days ago, but still you need also to purge and reinstall them manually as @kg mentioned in order to get restore to work properly.

[2021-02-08 09:20] xen2 opened #10556 "_WalkEachTargetPerFramework (Pack) should list inner builds the same way as during the build step"
**Issue**
`_WalkEachTargetPerFramework` (used to list files for each TFM during `Pack`) is currently enumerating builds to pack with only the hardcoded case of `TargetFrameworks` in mind (`Projects="$(MSBuildProjectFullPath)"` and `TargetFramework=%(_TargetFrameworks.Identity)`).
This makes it quite difficult to extend, and is separate from the build dispatch (done by `_ComputeTargetFrameworkItems

[2021-02-08 10:26] delixfe commented on #6981
Any updates on that issue? Just run into the 407 due to our NTLM authenticated proxy and since we migrated to Always On VPN, I cannot even circumvent the proxy...

[2021-02-08 15:19] kartheekp-ms commented on #10537
I can't reproduce this issue on standalone/classic VS on 16.10. It may have been fixed recently after 16.7.

[2021-02-08 17:40] terrajobst commented on #9783
@zkat, please link to the spec: https://github.com/dotnet/designs/pull/174

[2021-02-08 18:20] donnie-msft opened #10557 "Versions List in Details Pane is not kept in sync when changing Selected Package"
## Details about Problem
https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1267882
Sometimes when changing the selected package, the old Versions list is still displayed for some time, even though the package details have changed.

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):VS

Product version: 16.9 p2

Worked before? If so, with which NuGet version: (seems likely

[2021-02-08 21:25] zkat commented on #10468
cc @JonDouglas too

[2021-02-08 21:31] zkat commented on #10472
No idea. But glad it's resolved! :)

[2021-02-08 21:31] #10472 closed, assigned to dominoFire

[2021-02-08 21:33] zkat commented on #10475
Closing as duplicate. Please let us know if you disagree. :)

[2021-02-08 21:33] #10475 closed, assigned to nobody

[2021-02-08 21:34] zkat commented on #10489
Closing as duplicate.

[2021-02-08 21:34] #10489 closed, assigned to nobody

[2021-02-08 21:39] zkat commented on #10505
@zivkan can you take a look at this?

[2021-02-08 21:59] erdembayar commented on #10166
@nkolev92 @aortiz-msft
I found where is cause huge discrepancy between `install new package` vs `upgrade/downgrade` operations.
It's coming from below call.
https://github.com/NuGet/NuGet.Client/blob/222c188279e413f2b78bd3aa8b791dbc05016ddf/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/CpsPackageReferenceProject.cs#L376-L379
I added timer around it.
[code]

Upgrade/downgrade exis

[2021-02-08 22:08] #10549 closed, assigned to sbanni

[2021-02-08 22:17] JonDouglas commented on #10491
Hey everyone,

We're going to keep this issue open until we're sure that this fix has made it to every major provider through a stable update & for searchability being pinned to the repository. This may be open for the next couple weeks to ensure that anyone still running into this issue can report additional scenarios & get support.

Once we're comfortable that this has been resolved, we'll close

[2021-02-08 22:19] JonDouglas commented on #10504
We're planning to leave this issue open for the next couple weeks. See this comment for more details:

https://github.com/NuGet/Home/issues/10491#issuecomment-775500701

[2021-02-08 23:45] marcpopMSFT opened #10558 "dotnet build run into 429 and ignore Retry-After Header"
---
**Issue moved from dotnet/sdk#15619**
- Please respond to @fotto1.

---

_From @fotto1 on Tuesday, February 2, 2021 1:11:15 PM_

We using for our project docker image mcr.microsoft.com/dotnet/core/sdk:3.1 with digest mcr.microsoft.com/dotnet/core/sdk@sha256:0fece15a102530aa2dad9d247bc0d05db6790917696377fc56a8465604ef1aff to run dotnet cli.

Our nuget packages are stored on an gitlab package ma

[2021-02-08 23:45] marcpopMSFT commented on #10558
---
**Issue moved from dotnet/sdk#15619**
- Please respond to @dotnet-issue-labeler[bot].

---

_From @dotnet-issue-labeler[bot] on Tuesday, February 2, 2021 1:11:18 PM_

I couldn't figure out the best area label to add to this issue. If you have write-permissions please help me learn by adding exactly one area label.

[2021-02-08 23:45] nkolev92 commented on #10166
That's a great catch. We should make sure we talk to the project-system folks to understand if this is known and whether they have any immediate work scheduled here.

Given that this performance is only noticeable in bulk update, an interesting consideration is a design for an updater service that was considered in the context of CPVM.

@zivkan Can please provide the context you have from that wor

[2021-02-09 00:13] erdembayar commented on #10166
@nkolev92 @aortiz-msft
I'll write brief email to them later today or tomorrow morning about this. Can I just tag them here instead? I can see who contributes to CPS.

[2021-02-09 00:35] nkolev92 commented on #10166
@erdembayar

Let's wait for Andy to provide some context about the work that he's familiar with first.
CPS is closed source, and I can provide you some of the context about who the right folks to contact are offline.

[2021-02-09 01:04] zivkan commented on #10166
I had [design for a new "update package reference" service](https://github.com/NuGet/Home/pull/9182). The project-system team agreed to implement it. A pull request was created (in a closed source part of VS, so I don't want to tag people here, but I'm happy to invite those people to participate in this issue), but it was never completed for some reason. Having said that, when I proposed that NuGe

[2021-02-09 01:38] erdembayar commented on #10166
@nkolev92
Please advise how to proceed? Ping me when you're free on teams.

[2021-02-09 02:02] donnie-msft commented on #10549
@sbanni did your PR also fix this missing uninstall icon? https://github.com/NuGet/Home/issues/10549#issuecomment-774266236

[2021-02-09 02:09] nkolev92 commented on #10166
I think we should start a discussion detailing this original scenario and then asking them to confirm whether they think this service would the solution to our problem, or whether there are some improvements that can done to AddAsync.

Focus is that we need their help to determine the best action, if any.

[2021-02-09 02:33] erdembayar opened #10559 "PMUI initialization fails with exception during debug session"
## Details about Problem

NuGet product used (Visual Studio):

Product version: 16.9

## Repro steps and/or sample project

During VS debugging it always throws exception when I try to open PMUI too quick. If wait quite sometime or build solution in experimental  instance first then mostly it doesn't happen. It's so annoying and impede work progress when I need to test something very quickly. Belo

[2021-02-09 09:38] v-crchang commented on #10507
I'm closing this issue because it didn't reproduce on main\31008.155.

[2021-02-09 09:38] #10507 closed, assigned to nobody

[2021-02-09 09:38] v-crchang commented on #10508
I'm closing this issue because it didn't reproduce on main\31008.155.

[2021-02-09 09:38] v-crchang commented on #10508
I'm closing this issue because it didn't reproduce on main\31008.155.

[2021-02-09 09:38] #10508 closed, assigned to nobody

[2021-02-09 18:29] sbanni commented on #10549
Just tested the uninstall icon, it is fixed with the PR

[2021-02-09 19:23] nkolev92 commented on #10456
Related to https://github.com/NuGet/Home/issues/9195.

We discussed this during our sync and considered a few alternatives. Here's some of those notes + my personal answers to the 2 ideas/2 open questions.

* Reference assembly packages automatically being referenced – not working well with lock file
  * Should it be ignored by lock file because IsImplicitlyDefined = true?
    * @nkolev92: Probabl

[2021-02-10 02:00] breidikl commented on #10456
@nkolev92 Our ultimate goal is for our builds to be deterministic and repeatable based on the state of our sources, regardless of what is installed on the machine (and eventually regardless of platform being used to do the builds).  Having the ability to audit the list of required packages from the source state (contained in the lock file) is also helpful.

In our case we already have custom logic

[2021-02-10 03:13] Perry004 opened #10560 "why restore folder has different structure between nuget global cache and nuget install"
When I used VS IDE install a nuget package and enter the global nuget cache, its structure is like `C:\Users\xxx\.nuget\packages\castle.core\4.4.0`.

However, when I used command line like  `nuget install castle.core -Version 4.4.0 -Source C:\LocalNuGetPackages -OutputDirectory C:\packages`.

The unpack structure is like `C:\packages\castle.core.4.4.0`.

`$(PackageId)\$(PackageVersion)\` and `$(Pa

[2021-02-10 04:10] justinjalandoniiwest opened #10561 "Nuget keeps redownloading packaget to %USERPROFILE%\nuget\packages even when I changed globalPackagesFolder in my nuget.config"
I have configured my `nuget.config` to use another drive as a local repository but it still keeps installing in the `%USERPROFILE%\nuget\packages`:

Here is my configuration folder for my global `nuget,config`:
[code]

Does this not work for global configurations? `nuget,config`

[2021-02-10 06:21] ngelotte commented on #6408
And in 16.8.4

[2021-02-10 06:40] Rand-Random commented on #10560
@Perry004
Thanks for opening this issues.

Just want to add the Stackoverflow Post, where I describe why I need this.
https://stackoverflow.com/questions/66119194

[2021-02-10 08:15] #10555 closed, assigned to nobody

[2021-02-10 08:15] justinjalandoniiwest commented on #10555
duplicate

[2021-02-10 09:29] beatcracker commented on #5611
Please be aware that this non-determinism is now being abused for supply chain attacks 😞:
* [Researcher hacks over 35 tech firms in novel supply chain attack](https://www.bleepingcomputer.com/news/security/researcher-hacks-over-35-tech-firms-in-novel-supply-chain-attack/)
* [3 Ways to Mitigate Risk When Using Private Package Feeds](https://www.bleepingcomputer.com/news/security/researcher-hacks-ov

[2021-02-10 13:29] networkfusion opened #10562 "Add the project type `nfproj` to the list of supportedProjectExtensions for Nuget CLI."
## Details about Problem

NuGet product used: NuGet.exe

Product version: latest

Worked before? If so, with which NuGet version: none.

## Repro steps and/or sample project

**Proposal:**
Add the project type `nfproj` to the list of supportedProjectExtensions in `NuGet.Client/src/NuGet.Clients/NuGet.CommandLine/Common/ProjectHelper.cs`
A PR can be raised if required.

**Further explanation:**
.NE

[2021-02-10 16:12] hypervtechnics commented on #5611
@beatcracker I think you meant this link here: https://azure.microsoft.com/en-us/resources/3-ways-to-mitigate-risk-using-private-package-feeds/ for the second item 😄

I am honestly confused why this "fastest"-thingy behaviour is actually used for an ecosystem like NuGet...

[2021-02-10 17:09] beatcracker commented on #5611
@hypervtechnics Right, mornings are hard on me. Fixed, thanks!

[2021-02-10 17:52] soroshsabz commented on #7796
Any update?

How to exclude vdproj projects in

`msbuild -restore`

[2021-02-10 18:51] rrelyea opened #10563 "Some feeds fail package installation due to metadata fetching"
Connect to codespace - https://github.com/rrelyea/repro-nugetauth
use branch: localFeedMetdataRepro
Open terminal - type "dotnet pack" to build 4 packages into src\builtpackages\

Open PM UI for rrelyea.authTestApp
Install one of the packages from the "locally built packages" feed.  I tried "embedded" and a few others.

expected:
get prompted for license acceptance

actual:
install fails .. "unabl

[2021-02-10 19:22] rrelyea commented on #10563
seems to hit same error with feed of url: https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-impl/nuget/v3/index.json

[2021-02-10 19:24] rrelyea commented on #10546
testing/debugging appears to be blocked by: https://github.com/NuGet/Home/issues/10563 (which is against real codespaces server)

[2021-02-10 19:32] jonknet commented on #8373
I encountered this for JetBrains Rider and yes , the reason was one of the paths had a trailing '\' , specifically c:\program files\dotnet\. Once I removed the slash it worked.

[2021-02-10 20:03] sbanni commented on #10563
@rrelyea I am not able to repro this, is there something I am missing?

[2021-02-10 20:09] zivkan commented on #10560
The answer to "why" is because the folder layout you see when doing "nuget.exe install" was the only folder layout when NuGet was originally created. I think it was when `PackageReference` was added, the global package folder layout was changed because for performance reasons, and the global packages folder is considered a location that NuGet "owns", so is acceptable to modify in incompatible ways

[2021-02-10 20:56] donnie-msft commented on #10539
Logs at https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1274931

[2021-02-10 21:03] sbanni commented on #10563
This whole area needs to be using codespace services to get the metadata and sources from the server, right now it is all client based.  @rrelyea is going to take first crack at this.

[2021-02-10 22:02] nkolev92 commented on #9195
Hey all,

The root problem here is that the SDK projects have different defaults depending on the environment they are being built in.
The RID scenario is one example, and the other example is the one displayed in the diff.
In particular, in order to build .NET Framework projects on linux, the SDK automatically adds a targeting pack reference which can be disabled through `AutomaticallyUseReferenc

[2021-02-10 22:21] jabbera commented on #9195
@nkolev92 I don't understand what you mean. I am explicitly referencing the targeting back: https://github.com/jabbera/nuget-locked-mode-bug/blob/e9977b0f1438fed2377afb4554abae13f899988f/bugdemo.csproj#L10

I also don't think anything that was mentioned would actually help my scenario. I am building on Linux but then running all of my tests on multiple platforms. As part of that step I am running

[2021-02-10 22:50] zivkan commented on #10561
I've attached a sample solution with a `nuget.config` file that redirects the global packags folder. I made it a relative path from the solution, rather than an absolute path, in case someone tried to run the sample who doesn't have a D:\ drive. But manual testing of pointing it to an absolute path also worked for me.

[gpfRedirect.zip](https://github.com/NuGet/Home/files/5961876/gpfRedirect.zip)

[2021-02-11 01:30] donnie-msft opened #10564 "Unit Test is system Timezone dependent: `NuGet.Packaging.Test.PackageExtractorTests.ExtractPackageAsync_PreservesZipEntryTimeAsync`"
## Details about Problem
A test failed for me, and a quick look seems to indicate the Actual timestamp is pertinent to my timezone.
Tests should be passing regardless of the system's timezone.

`NuGet.Packaging.Test.PackageExtractorTests.ExtractPackageAsync_PreservesZipEntryTimeAsync`

Expected: 2014-09-26T01:23:00.0000000Z
Actual:   2014-09-**25T21:23:00.0000000Z**

## Repro steps and/or sample p

[2021-02-11 01:30] donnie-msft opened #10565 "Unit Test is system Timezone dependent: `Commands.Test.NugetPackageUtilsTests.Test_ExtractionHonorsFileTimestamp`"
## Details about Problem
A test failed for me, and a quick look seems to indicate the Actual timestamp is pertinent to my timezone.
Tests should be passing regardless of the system's timezone.

`Commands.Test.NugetPackageUtilsTests.Test_ExtractionHonorsFileTimestamp`

Expected: 1985-11-20T12:00:00.0000000
Actual:   1985-11-20**T07:00:00.0000000-05:00**

## Repro steps and/or sample project

### Ve

[2021-02-11 01:35] nkolev92 commented on #9195
@jabbera

Did you notice @kartheekp-ms's comment about the RIDS?

And in my comment above I mention: https://github.com/NuGet/Home/issues/9195#issuecomment-777065637

If you are going to build on different OSs, consider including the RuntimeIdentifier in your project explicitly instead of relying on environment defaults that the SDK sets.

Hopefully that should make the `dotnet restore --locked-mo

[2021-02-11 02:34] waf opened #10566 "Preventing the "Dependency Confusion" attack"
## Details about Problem

A security researcher has [publicized a "Dependency Confusion" problem](https://medium.com/@alex.birsan/dependency-confusion-4a5d60fec610)<sup>1</sup> that affects most package managers, and I suspect nuget is affected as well.

For example, say my company has an internal nuget package, named `mycompany-logger`, hosted on an internal nuget server. If someone uploads a mal

[2021-02-11 06:51] stageosu commented on #10504
I am surprised to see Ubuntu 20.04 listed as unaffected, I've been dealing with this issue ever since the certificate expired. I have done everything I can on Ubuntu 20.04, including referencing the new docker images and trying other workarounds posted in #10491, but I can't seem to get the NU3028 errors to go away. My logs look identical to what's shown in the top of that issue, even on the `dotn

[2021-02-11 07:35] Rand-Random commented on #10560
@zivkan
Thanks for your in-depth explanation.

This was the useful info, I needed to solve my issue.

It seems like I was looking for this command

Instead of

As the `-Source` parameter implies my `*.nupkg` is already locally, so I didn't need to have a one-line command to `install` and `add`.

Still untested, but on the first glance it looks promising

-----

I will try to explain why I am looki

[2021-02-11 08:07] snthomae commented on #10511
Hi @nkolev92 ,

sorry for delayed answer.
Please find Test Project attached.

[NuGetExample.zip](https://github.com/NuGet/Home/files/5963720/NuGetExample.zip)

[2021-02-11 08:17] justinjalandoniiwest commented on #10561
Hello, that example work. I global nuget.config in my `C:\Users\MyUser\.nuget` and it didn't work. the Project solutions structure seems to work though. What I'm doing now however is setting "NUGET_PACKAGES" in my environment variables to override the project level solution configuration:

![image](https://user-images.githubusercontent.com/75491773/107614114-9ff44200-6c84-11eb-9690-abbd3ddedb15.pn

[2021-02-11 09:08] hypervtechnics commented on #10566
For reference: https://github.com/NuGet/Home/issues/5611

[2021-02-11 10:35] justinjalandoniiwest commented on #10561
Alternatively I also tried this in the nuget-cli:

![image](https://user-images.githubusercontent.com/75491773/107625876-ed2ddf00-6c97-11eb-9045-3e87bb87b58f.png)

[2021-02-11 15:39] frivard-coveo commented on #7939
I notice the milestone Sprint has been bumped from month to month for a whole year now; for a security feature this is quite unusual.
@aortiz-msft   Can you please share an update about this? With [some recent attack using public package repositories](https://www.theverge.com/2021/2/10/22276857/security-researcher-repository-exploit-apple-microsoft-vulnerability), it is getting urgent that our com

[2021-02-11 18:15] nkolev92 commented on #6408
Hey all,

It would be helpful if you can tell us what the commands you were running when this happened were.
Unfortunately our team has not had a great luck reproing this issue.

[2021-02-11 18:20] nkolev92 commented on #10505
After discussing with @zivkan and @zkat, we think it's acceptable to add a direct dependency to Newtonsoft.Json in packages that might be exposing Newtonsoft.Json as part of their public contract.
However, it does seem weird that the above doesn't generate binding redirects, and that might be a potential SDK/msbuild bug.

[2021-02-11 18:24] hrumhurum commented on #10566
This is a serious issue. Companies tend to use private feeds, so it is a no brainer to undercut all of them by publishing a poisoned package at nuget.org.

What makes matters worse is that in case of .NET the private package names are trivially deductible: just use the file names of assemblies; most of them will be immediate and perfect hits. The same goes to versions: assemblies tend to directly

[2021-02-11 18:26] ngelotte commented on #6408
I was running add-migration and other Entity Framework Core commands and some dotnet commands.

[2021-02-11 18:35] nkolev92 commented on #10537
Closing per @kartheekp-ms's comment about the problem being fixed.

[2021-02-11 18:38] zkat commented on #10537
It still repros in Codespaces. We misread :)

[2021-02-11 18:43] nkolev92 commented on #10556
Related to https://github.com/NuGet/Home/issues/5154.

I think the linked issue  captures the general scenario of building for a target framework more than once.
At this point we'd prefer not to take a dependency on `_InnerBuildProjects` (it's `_` for a reason, internal and not suggested to be used outside of the defining targets), and rather listen for more feedback first.

[2021-02-11 18:46] nkolev92 commented on #10538
Note that for SDK based projects you *cannot* do anything but PackageReference, so if you see that in SDK style projects, it's a bug.
The prompt should only show up for legacy projects.

[2021-02-11 19:01] nkolev92 commented on #10558
Consider using maxHttpRequestsPerSource as a client side workaround.

[code]

Related: https://github.com/NuGet/docs.microsoft.com-nuget/issues/2033

[2021-02-11 19:29] hrumhurum commented on #10562
Many moons ago Visual Studio allowed to extend common project types like C# with sub-types. Please consider to take a look at `ProjectTypeGuids` MSBuild property. It allows you to instruct the project system to "flavor" a common project type with a custom extension UI/logic. This all applies to VS Extensibility area (VS Extensions etc).

[2021-02-11 19:41] josesimoes commented on #10562
Have tried that (on the scope of the project that @networkfusion mentions) without success.
Ended up having to use a different extension to accomplish this, which took us here.
To this date, and to the best of my knowledge, this is still not possible. See [here](https://github.com/microsoft/VSProjectSystem/issues/322)

[2021-02-11 20:37] nkolev92 commented on #10511
Hey @snthomae

Trying it out with NuGet.exe I wasn't able to repro it (note that NuGet.exe carries the same bits).

[code]
cc @zivkan who's the handling incoming issues this week.

[2021-02-12 00:58] nkolev92 commented on #9782
There's a bug in BFO that requires we switch to the UI thread to check for a BFO. Needless to say, that's inconvenient and costly :)

[1270921](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1270921/)

[2021-02-12 01:01] nealef opened #10567 "nuget restore results in a package integrity check failure on big endian system"
## Details about Problem

NuGet product used: NuGet.exe

Product version: Built from master

Worked before: N/A

## Repro steps and/or sample project

A run of `dotnet build` on a big endian system borks with `The package integrity check failed.` when `msbuild` tries to restore packages

The `VerifySignedPackageIntegrity` method is not endian-aware which results in a verification failure. The atta

[2021-02-12 06:44] fotto1 commented on #10558
Thanks for the hotfix @nkolev92 , I will try this. Anyway will a proper handling of 429 ever implemented?

I working for a large organization and will not the only one with this problem. Also other companies will face same issue when they using nuget package manager which follow HTTP Protocol Version 3

[2021-02-12 07:53] snthomae commented on #10511
Hey @nkolev92

but you were able to reproduce it - you are getting exactly same NU1201 error as mentioned:
`Errors in C:\Users\Roki2\Downloads\NuGetExample\DotNetProject\DotNetProject.csproj
    NU1201: Project CppProject is not compatible with net48 (.NETFramework,Version=v4.8). Project CppProject supports: native (native,Version=v0.0)`

This error doesn't come up when you do a restore with nuget

[2021-02-12 08:10] devbeard commented on #6867
Found this issue when investigating if nuget had the same namespace pinning capabilities like npm. Would love to talk to the team, thanks for the opportunity @JonDouglas.

[2021-02-12 08:17] nkolev92 commented on #10511
@snthomae

If you look at my logs again you will see that I ran the same thing with 5.7.0 and got the same result.

The indentation is messed up but search for `nuget-5.7.0.exe`.

[2021-02-12 08:27] mbihler commented on #9310
Thanks @yirkha. Your workaround works with my setup project.
But because COM wrapper assemblies were missing in generated msi, I had to add this to the include list:
`@(ReferenceComWrappersToCopyLocal->'%(FullPath)')`

[2021-02-12 11:29] johnkors commented on #3676
@nkolev92 , could you comment how nuget hinder the vulnerability mentioned in this article?

https://medium.com/@alex.birsan/dependency-confusion-4a5d60fec610

[2021-02-12 11:34] snthomae commented on #10511
@nkolev92
Sorry, I uploaded the wrong test project.

Reg. C++ Project:
It's an CLI C++ Project and not Native Project (which targets to net48, like the dotnet project), with a PackageReference inside.
I 've fixed the repro steps.

Please can you retry restore now with nuget 5.7.0 and nuget 5.8.X.

[NuGetExample.zip](https://github.com/NuGet/Home/files/5971428/NuGetExample.zip)

[2021-02-12 11:56] domagojmedo commented on #6408
EntityFramework6\add-migration -ConnectionStringName Redacted -StartUpProjectName Redacted -ProjectName Redacted  -ConfigurationTypeName Redacted MIGRATIONNAME

just ran this and it switched to Error list in VS Community 16.8.4.

[2021-02-12 12:07] JonDouglas commented on #6867
@devbeard Hey Henrik! We actually closed our calls for this about a week ago & are entering the design stage of a proposal. We'd still love any of your feedback on this thread or provided to our other team members through the call you did sign up for! We'll publish a public proposal shortly in a PR & ask those on this thread to help review.

[2021-02-12 14:04] lettucemode commented on #8580
Just leaving my solution here since I stumbled across this while googling for solutions. I am not using a `nuget.config` and I am using the standard `dotnet pack` and `dotnet push` commands.

When I was getting the api-key error (as others have described above), there was a second error message after it related to `RepositoryUrl` not being set. This is a setting in the `.csproj` file. The [officia

[2021-02-12 15:18] snthomae commented on #10511
@nkolev92
Sorry, I've uploaded the wrong Test Project (TargetFramework property was missing in C++ project).

Please can you retry it again with following sample:
[NuGetExample.zip](https://github.com/NuGet/Home/files/5972637/NuGetExample.zip)

Result with NuGet 5.7.0:
`Checking compatibility for boost 1.71.0.0 with .NETFramework,Version=v4.8.`

Result with NuGet 5.8.X:
`
Checking compatibility fo

[2021-02-12 18:15] nkolev92 commented on #10558
Hey @fotto1,

We prioritize issues based on customer reports, workarounds available etc. At this point, I can't make a commitment when this will be fixed.

The NuGet client/server protocol currently does not handle 429.
Not many of the servers that the client has interacted have returned a 429 in the past. Note that in addition to 429, there are other status codes which are not implemented. This i

[2021-02-12 19:20] nkolev92 commented on #10511
Thanks for clarifying. I can repro the behavior.

Unfortunately, this is exactly where we get in the unsupported scenario.

Prior to 5.8 (and .NET Core 5.0), NuGet and the dotnet SDK were incorrectly handling the TargetFramework inference.
They were using `TargetFrameworks` instead of `TargetFrameworkMoniker`. For vcxproj, NuGet just assumes native. The `TargetFrameworks` property took precedence,

[2021-02-12 19:20] #10511 closed, assigned to nobody

[2021-02-12 22:00] weedkiller opened #10568 "Dependency pulls wrong dlls, package broken package Microsoft.VisualStudio.Shell.15.0"
Been an issue [since last yr.](https://github.com/dotnet/roslyn/issues/42623#issue-585204366)

[code]

[2021-02-13 11:18] 3nuc commented on #10491
Addmitedly I am very new, but `dotnet new webapi` fails with cert errors outside Docker for me (running on my own computer running Ubuntu 21.04)

<details>
<summary>Relevant outputs</summary>

[code]

[code]

`~/.nuget/NuGet/NuGet.Config`
[code]

Distro info:
[code]
</details>

[2021-02-13 14:07] LiorBanai opened #10569 "[Question] Why Visual studio copy non windows files (*.so) to output build on Windows"
HI,
I'm doing standard build in Visual studio latest on windows.
I have Nuget dependency on gRPC.core.
when I build the program (any cpu) I get additional files (like libgrpc_csharp_ext.x64.so) in the output folder that are not needed on Windows.

Why is that and how to I exclude those files from getting to the output folder.

[2021-02-13 16:25] jnm2 commented on #5132
@mujdatdinc It's been working for me and several others. Can you clarify what you are doing and what you expect to see?

[2021-02-13 21:28] weedkiller commented on #9882
I still have this issue with the latest Update from VS 2019

[2021-02-14 01:26] donnie-msft commented on #9882
Two PRs ended up being necessary to resolve this issue, and unfortunately one of them (https://github.com/NuGet/NuGet.Client/pull/3864) is still in the pipes, and didn't make it into Preview 4.

Look for this fix in 16.9 Preview 5.

/cc @weedkiller

[2021-02-14 12:58] maas0903 commented on #10491
From @RobertHenry6bev:

Fixed my issue:
.NET 5 on Raspberry Pi with Buster v.10
`dotnet add package ...`

gave the following error:
`NU3028: Package 'Microsoft.CSharp 4.7.0' from source 'https://api.nuget.org/v3/index.json': The repository countersignature's timestamp found a chain building issue: UntrustedRoot: self signed certificate in certificate chain`

[2021-02-14 19:05] jensbrak commented on #10491
Well, Raspberry Pi OS based on Buster won't work using `apt update & apt upgrade` as proposed in the https://github.com/NuGet/Announcements/issues/49#issue-795386700 issue. Guess we'll have to wait some more.

[2021-02-14 19:08] jensbrak commented on #10504
Running Raspberry Pi OS (Buster) and it does not work yet.

[2021-02-14 20:07] zivkan commented on #10569
The Grpc.Core package ships [this MSBuild targets file](https://github.com/grpc/grpc/blob/master/src/csharp/Grpc.Core/build/net45/Grpc.Core.targets).

As you can see, it adds all of the native binaries to the build as `Content` items, which instructs the build system to copy the files to the output directory on build.

[2021-02-14 21:00] perlun commented on #10491
@jensbrak Try `sudo dpkg-reconfigure ca-certificates` and check the `mozilla/VeriSign_Universal_Root_Certification_Authority.crt` in the list on the second page, that should hopefully do the trick.

[2021-02-15 01:41] nealef commented on #10567
@zivkan Hi again. This appears to be another endian issue for the client. I'm trying to this on an ubuntu 20.04 x64 system to make sure it doesn't break anything but I can't seem to get the magic formula for building the artifacts using the `./build.sh` command. Note I needed the following to just to get the `restore` to work:
[code]

[2021-02-15 07:34] jensbrak commented on #10491
It surerly did the trick. I thank you so much for your kind assistance, I couldn't have deduced that based on what I found so far about this issue. Certificates are still a black box to me :)

[2021-02-15 09:19] BorisTeskera2019 commented on #2880
I have the same issue as you and I try all possible combination from internet bu my error is still active.
When I try to build I get error:
Error occurred while restoring NuGet packages: Unable to load the service index for source https://api.nuget.org/v3/index.json.

and on > dotnet restore I get error:
PM> dotnet restore
  Determining projects to restore...
  Restored C:\Program Files (x86)\Micr

[2021-02-15 15:59] zivkan commented on #10558
We might need to raise the priority of this. Our latest insertions into the .NET SDK failed because of this.

PR has failed checks: https://github.com/dotnet/sdk/pull/15854
Check failed because tests failed. Test failed because NuGet restore got HTTP 429 reponses from Azure Artifacts: https://dev.azure.com/dnceng/public/_build/results?buildId=993350&view=ms.vss-test-web.build-test-results-tab&runI

[2021-02-15 20:44] alfredmyers commented on #5611
I work at a place that blocks all direct access to NuGet.org due to, as we can now see, justified security concerns and instead uses a 3rd party product as a proxy for package sources. As a consumer of such package sources, I can tell you the people in charge of keeping those servers running seem to have a hard time doing so because I'm constantly receiving e-mails about scheduled & unscheduled do

[2021-02-15 22:19] aaalfo2 commented on #10491
### Fix! For That Not So Rich Developed Countries

folks, I had the same problem. I even installed Windows but still couldn't restore any type of project because of not connecting to Nuget APIs. when I was trying with another machine and I saw it working, I realized maybe it was because of my potato internet connection. so I got back, changed my location a bit for a better cell phone signal and te

[2021-02-16 04:46] jefflill opened #10570 "ContentFiles cannot be excluded from dependant projects on VS 16.8.5"
## Details about Problem

NuGet product used: **Visual Studio**

Product version: **16.8.5**

## Repro steps and/or sample project

I have two .NET Standard2.0 projects named **A** and **B** and one .NETCore 3.1 console application named **C**, where:

    A <-- B <-- C

Project **A** includes the **asset.txt** file which is configured to be copied to output as well as published **as content**:
[c

[2021-02-16 04:49] jefflill commented on #10570
This may be a duplicate of #10311 under the covers, but this issue is replicated just doing VS builds without actually building the package.

[2021-02-16 07:16] LiorBanai commented on #10569
Thanks!

[2021-02-16 07:16] #10569 closed, assigned to nobody

[2021-02-16 17:00] tannergooding opened #10571 "Improve handling of native packages (Support RID specific dependencies)"
### Issue

Native dependencies tend to be OS/architecture specific and larger than managed assemblies. Due to this, it isn't uncommon to end up with a NuGet package that is "unreasonably" large due to needing to support at least the 4 most common architectures (x86 Windows, x64 Windows, x64 Linux, x64 MacOS). This only increases once you also factor in Linux Distro specific variants that are often

[2021-02-16 17:23] FiniteReality commented on #10571
It'd be nice if NuGet defaulted to the RID of the host system without the user having to specify RuntimeIdentifier manually, so that it could download the correct packages for the host system in development environments, and then only fail when attempting to publish.

[2021-02-16 21:28] JonDouglas commented on #10566
Hi everyone,

We are working on providing a proposal with a solution to allow you to pin packages to a specific source. Please keep an eye on https://github.com/NuGet/Home/tree/dev/proposed for a concept called `Source Pinning`. It's almost ready to be shared with you all.

We also have a secure supply chain best practices documentation that we're working to finalize & provide to the public with m

[2021-02-16 21:58] kartheekp-ms commented on #10567
cc @heng-liu

[2021-02-16 22:28] kartheekp-ms commented on #10568
It looks like [Microsoft.VisualStudio.Shell.15.0 verion16.7.30329.88](https://www.nuget.org/packages/Microsoft.VisualStudio.Shell.15.0/16.7.30329.88), supports `net472` and higher target frameworks. As mentioned in the [doc](https://docs.microsoft.com/en-us/nuget/concepts/dependency-resolution#resolving-incompatible-package-errors), `This error occurs when one or more of the packages referenced in

[2021-02-17 03:08] nealef commented on #10567
Revised suggested fix.
[diff-nuget-bigendian.txt](https://github.com/NuGet/Home/files/5992960/diff-nuget-bigendian.txt)

[2021-02-17 03:20] weedkiller commented on #10568
I still have this problem

[2021-02-17 04:11] kartheekp-ms commented on #10568
@weedkiller - Please provide additional details as mentioned here https://github.com/NuGet/Home/issues/new so that we can reproduce the issue.

[2021-02-17 06:30] kartheekp-ms commented on #10570
IMHO, this issue is a duplicate of https://github.com/dotnet/msbuild/issues/4717 because all the projects have `project reference` not `package reference`. As per [doc](https://docs.microsoft.com/en-us/dotnet/core/project-sdk/msbuild-props#projectreference) `The ProjectReference item defines a reference to another project. The referenced project is added as a NuGet package dependency, that is, it'

[2021-02-17 15:43] omajid commented on #5862
@crummel mentioned that he is reaching out to @ericstj to see if we can get this moving again.

[2021-02-17 16:22] Garviell commented on #10491
Has anyone managed to solve this issue that is running a managed Azure app service linux instance?

There you're generally not supplying your own docker file or anything and this issue has persisted there for weeks at this point..

[2021-02-17 17:21] donnie-msft opened #10574 "Public Analyzer docs has broken link"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): Docs

Product version:

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

### Verbose Logs

[2021-02-17 17:42] ericstj commented on #5862
I think this is still interesting and important.  I'll advocate for this, but I can't wholly sign up to move it forward.  I need to get buy in from some others.

The problem has changed slightly since 2017 when I first wrote this up.  For one, we no longer rely on runtime.json for describing runtime specific packages.  That opens up a very interesting opportunity for solving this problem.

NuGet u

[2021-02-17 19:11] zivkan commented on #10567
@nealef could you create a pull request with these changes?  You might as well be credited in the git history for fixing the bug.

[2021-02-17 21:07] dsplaisted commented on #5862
Related to how the SDK and NuGet handle runtime identifiers, here's a proposal from the .NET Core 3 development which we never did but could still do and matches some of what you're talking about: https://github.com/dotnet/sdk/issues/10025

Basically NuGet wouldn't do the cross product anymore, the assets file would just have one target for each TargetFramework, which would list the RID-specific a

[2021-02-17 21:36] JonDouglas commented on #3676
@johnkors Hi John,

See the following issue.

https://github.com/NuGet/Home/issues/10566#issuecomment-780128622

Feel free to look through the resources currently available.

[2021-02-17 22:04] wli3 opened #10575 "API Proposal: Add the ability to set a version in a ProjectReference"
---
**Issue moved from dotnet/sdk#15916**
- Please respond to @Apostolique.

---

_From @Apostolique on Tuesday, February 16, 2021 5:35:46 PM_

## Background and Motivation

When including a project using a `ProjectReference`, it would be useful to be able to give a version number manually. This would be useful when the included project is setup to get a version number from a CI and therefore no v

[2021-02-17 22:04] wli3 commented on #10575
---
**Issue moved from dotnet/sdk#15916**
- Please respond to @dotnet-issue-labeler[bot].

---

_From @dotnet-issue-labeler[bot] on Tuesday, February 16, 2021 5:35:49 PM_

I couldn't figure out the best area label to add to this issue. If you have write-permissions please help me learn by adding exactly one [area label](https://github.com/dotnet/runtime/blob/master/docs/area-owners.md).

[2021-02-17 22:04] wli3 commented on #10575
---
**Issue moved from dotnet/sdk#15916**
- Please respond to @FiniteReality.

---

_From @FiniteReality on Wednesday, February 17, 2021 1:51:22 PM_

This isn't an API proposal since it only regards project build infrastructure - it would probably be more suited to the [.NET SDK](https://github.com/dotnet/sdk) or [NuGet client](https://github.com/NuGet/NuGet.Client).

[2021-02-17 22:04] wli3 commented on #10575
---
**Issue moved from dotnet/sdk#15916**
- Please respond to @dotnet-issue-labeler[bot].

---

_From @dotnet-issue-labeler[bot] on Wednesday, February 17, 2021 5:14:49 PM_

I couldn't figure out the best area label to add to this issue. If you have write-permissions please help me learn by adding exactly one area label.

[2021-02-17 22:27] nkolev92 commented on #10575
Dup request in https://github.com/NuGet/Home/issues/5556

[2021-02-17 22:27] #10575 closed, assigned to nobody

[2021-02-17 22:46] raxuser100 commented on #3324
Please , please, please, please can we expect a fix soon? The File path limit is making a shambles of our builds!

[2021-02-18 00:29] nealef commented on #10567
Will do. The original author of the fix will generate in the next couple of days.

[2021-02-18 06:02] heng-liu commented on #10332
Sorry for the late update! All cross-platform verify test cases are updated. FYI @v-luzh

Here is one example:

 Add the feed(path contains the signed package),  set required mode in nuget.config file with trusted signers list:
**(If your project targets to net5.0/netstandard2.1, you need to add nuget.org as another feed as well. In this case, you have to make sure the package for testing doesn't

[2021-02-18 06:03] heng-liu commented on #10332
Closed as not a bug. Update the test instructions.

[2021-02-18 06:03] #10332 closed, assigned to heng-liu

[2021-02-18 06:21] trivalik commented on #9900
I got today with latest VS16.8.5 BuildTools and nuget 5.8.1. I am not sure if this happens on "dotnet restore" or "nuget restore". To fix this I updated the old style project with PackageReference to new sdk project.

[2021-02-18 07:29] edespong commented on #7752
For use cases around machine-readable output for security and license checking, I really would like some kind of connection between the top-level packages and the transitive dependencies. Just having output that says that there is a transitive dependency without some kind of reference to which top-level package that caused it to be included could create a lot extra work.

I think the proposal woul

[2021-02-18 09:20] Regenhardt opened #10577 "Update-Package -reinstall adds second <Private>True</Private>"
## Details about Problem

Executing `Update-Package -reinstall -id System.Net.Http` adds a second `<Private>True</Private>` to its dependencies in the .csproj file:
![image](https://user-images.githubusercontent.com/10476293/108333531-54d0b680-71d1-11eb-985d-383c1f1424b7.png)

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):
Visual Studio Package Manager Console

Product

[2021-02-18 11:59] joeltankam opened #10578 "Wrongly resolved transitive references with centrally managed package versions"
## Details about Problem

There seems to be an incorrect behavior regarding the resolution of transitive NuGet package references (not explicitly mentioned in the project file) when using centrally managed package versions (https://github.com/NuGet/Home/issues/6764).

`dotnet.exe` (.NET SDK) version is `5.0.101`.
The problem has also been encountered with `MSBuild.exe` versions `16.7.3`, `16.8.2`,

[2021-02-18 12:07] arnotes commented on #5489
is there some kind of `dotnet restore --try-all-source`?
i already have a global nugetconfig file. having to type a long url every restore seems...dunno...just why????

[2021-02-18 12:10] tmds commented on #5862
We care specifically about the use-case of building .NET using source-build on a system where the rid is not known to .NET.

We want this build to succeed, and the rid to be known to .NET.

For the build to succeed, we need to build using another rid which is known and compatible. I think this may be possible already (to some extent) by using the `DOTNET_RUNTIME_ID` envvar.

For the rid to be know

[2021-02-18 16:20] jefflill commented on #10570
I just noticed that when I publish project C, it doesn't include **assets.txt** either, which is the main thing I'm trying to accomplish.  I just assumed that the semantics for project references would be the same as for package references.

I'm going to go ahead and close this.  Thanks for your help.

[2021-02-18 16:20] #10570 closed, assigned to nobody

[2021-02-18 17:26] ericstj commented on #5862
RID specific dependencies as a download optimization is still interesting.  Now that we have platform-specific TFMs I don't see it as important for this to be something that impacts compile (it doesn't today, and I don't think we should go down that path).

I suspect RID specific dependencies will likely always require multiple restore passes since a RID specific dependency may change the result o

[2021-02-18 17:35] Minoru commented on #10504
On Debian testing (bullseye) with ca-certificates 20210119 and dotnet 5.0.103 I still get NU3028 and NU3037 errors. Are you certain Debian 11 wasn't impacted?

[2021-02-18 18:10] zkat commented on #10457
@quasarea we've gotten no response on this in 14 days, so I'm gonna go ahead and close this. If you're able to put together a set of repro steps for us in the future, please feel free to file a new issue.

[2021-02-18 18:10] #10457 closed, assigned to nobody

[2021-02-18 18:14] #10560 closed, assigned to nobody

[2021-02-18 18:19] zkat commented on #10562
@networkfusion PRs welcome, then! Thank you :)

[2021-02-18 20:05] breidikl opened #10580 "How are fallback paths populated into nuget.g.props for NuGetPackageFolders?"
We have one user getting an unexpected Xamarian path added to the list of NuGetPackageFolders in his *.nuget.g.props files when running dotnet.exe restore (using version 5.0.102), for which we have not been able to track down the reason.

Specifically our environment has a nuget.config that clears all earlier setting and only adds very specific enlistment known paths (globalPackagesFolder is set,

[2021-02-19 00:24] heng-liu opened #10581 "Implement dotnet nuget sign command"
According to : https://github.com/NuGet/Home/issues/10090#issuecomment-705086230, and some offline discussion, we changed this issue into an epic, and add more details for each sub-tasks.

[2021-02-19 12:00] Chiel92 commented on #8142
How do you suppress this warning when you pack on build using `    <GeneratePackageOnBuild>true</GeneratePackageOnBuild>
`?

[2021-02-19 12:17] tmds commented on #5862
Yes, I think this is all we want to do. I've created https://github.com/dotnet/runtime/issues/48507.

[2021-02-19 13:47] JoannaCatts opened #10582 "ECCN classification"
Do you know ECCN classification for:
•	NetEsxapades.configuration.Yaml: Read configurations files in yaml or yml format. C# dotnet core does not have a buoild in reader for this type of config files. Our standard config files are in yaml format.
•	NEST: Connect to a elasticsearch database. We are using these kind of database to store or logging

[2021-02-19 15:34] JasonJ387 opened #10583 "PowerShell with .net core 5.0 in Ubuntu 20.4 - Unable to resolve package reference ''."
I'm using PowerShell with .net core 5.0 in Ubuntu 20.4; but I'm having an issue importing nuget libraries using the Install-Package command.

The machine is in a locked down environment with no access to the outside world so nuget pacakages are stored on a fileshare.

This works fine on Windows Devices, but the Ubuntu device is complaining.

The specific command I'm using is:
Install-Package -Sour

[2021-02-19 15:41] zivkan commented on #10583
From [our docs on `Install-Package`](https://docs.microsoft.com/en-us/nuget/reference/ps-reference/ps-ref-install-package)

In short, unfortunately Visual Studio's Package Manager Console uses the same cmdlet name as something built into PowerShell itself, but the two commands have nothing to do with each other (the PowerShell command happens to use NuGet/nupkg as an alternative to creating their

[2021-02-19 15:42] zivkan commented on #10582
The NuGet team doesn't support individual nuget packages. Please contact the package authors/owners.

[2021-02-19 15:42] #10582 closed, assigned to nobody

[2021-02-19 17:08] v-zubritsky commented on #9417
Updated my projects to SDK-based format and now it works the way they it's supposed to: consistent output for `Visual Studio's package manager restore`, `nuget.exe restore` and `dotnet restore`.

[2021-02-19 17:11] erdembayar opened #10584 "Remove unreachable code calling EventTrigger.dll"
## Details about Problem

Worked before? If so, with which NuGet version: NuGet 2.xx

## Repro steps and/or sample project

I found dead code "EventTrigger.dll" from NuGet 2.xx era.
It was introduced [here](https://github.com/anurse/NuGet/commit/9d172f2db54ea6efb807e56693e4bbeaf53942e0).
Now it's time to remove NuGetEventTrigger.cs, TriggerEventMethod.cs which are related to "EventTrigger.dll", be

[2021-02-19 18:27] josesimoes commented on #10562
@zkat awesome! I'll be tackling this.

Now that we are at it, can we also discuss adding a TFM for .NET nanoFramework?
I've started a discussion about this in the .NET repo. Please see [here](https://github.com/dotnet/designs/discussions/180).

[2021-02-19 19:40] heng-liu opened #10585 "Verify command is not disabled on Mono"
Thanks for @loic-sharma who found this issue when testing for repository signing rotation plan.

We haven't supported package verification/signing on Mono.
But for now, when running mono command to verify packages, it will attempt to verify and finally fail.
This is confusing so we should disable the verify command on Mono and just show message like  "not supported".

[2021-02-19 19:46] mairaw opened #10586 "Nuget restore is failed in Windows build."
---
**Issue moved from dotnet/core#5881**
- Please respond to @vsafonkin.

---

_From @vsafonkin on Tuesday, January 26, 2021 2:38:36 PM_

### Description

* Sometimes `dotnet build` command is failed on Nuget restore step. The error:
[code]
* repro: https://github.com/vsafonkin/ualbion/runs/1726489951?check_suite_focus=true

### Configuration

* Which version of .NET is the code running on? 5.0.1

[2021-02-19 19:46] mairaw commented on #10586
---
**Issue moved from dotnet/core#5881**
- Please respond to @carlossanlop.

---

_From @carlossanlop on Wednesday, February 3, 2021 11:30:27 PM_

Are you using Visual Studio? If yes, do you see nuget sources when you go to Tools -> Options -> NuGet Package Manager -> Package sources? I ask because your error message says `Microsoft Visual Studio Offline Packages`

@dagood is this something in yo

[2021-02-19 19:46] mairaw commented on #10586
---
**Issue moved from dotnet/core#5881**
- Please respond to @xt0rted.

---

_From @xt0rted on Thursday, February 4, 2021 2:59:36 AM_

@carlossanlop this happened in a couple of my repos as well. It only happens when building on github actions with a windows vm while using the `setup-dotnet` action. I fixed it by adding a `nuget.config` even though I don't need one.

The issue popped up out of no

[2021-02-19 19:46] mairaw commented on #10586
---
**Issue moved from dotnet/core#5881**
- Please respond to @dagood.

---

_From @dagood on Thursday, February 4, 2021 3:59:26 AM_

I don't know what could cause this, especially with `dotnet nuget locals all --clear` being a way to fix it. That makes me think it can't be something as simple as a machine misconfiguration (a bad global or user-level NuGet.config file). However, it isn't my area.

[2021-02-19 19:46] mairaw commented on #10586
---
**Issue moved from dotnet/core#5881**
- Please respond to @danmoseley.

---

_From @danmoseley on Monday, February 15, 2021 7:52:45 AM_

@aortiz-msft  could you transfer to https://github.com/NuGet/Home/issues?

[2021-02-19 20:15] JonDouglas commented on #6060
We do care. We do not have a formal spec for `dotnet package search` or `dotnet nuget search`, but when we do, you can check out our proposals in our repository & we'll notify all those in related issues.

[2021-02-19 20:18] Chiel92 commented on #6351
I'm using ` PackagePath="contentFiles\%(Filename)%(Extension);content\%(Filename)%(Extension)"` to have the files in that group be packaged in a flattened fashion. However, one of those does not have a file extension (I can't change this, its 3rd party), and is its packagePath is therefore treated as a directory, under which the entire folder structure is then copied again. How can this be fixed?

[2021-02-19 21:32] loic-sharma opened #10587 "Improve error message when package is rejected by trusted signers configuration"
## Details about Problem

NuGet product used: nuget.exe

Product version: v5.8.1

NuGet ignores packages that do not meet my trusted signers configuration. However, the error message for this scenario is unclear and unhelpful.

## Repro steps and/or sample project

`packages.config` file:

[code]

`nuget.config` file:

[code]

Now run a restore. Notice my restore source is the DEV environment, but

[2021-02-20 00:15] erdembayar commented on #10166
I sent them email for asking a discussion and I created internal [workitem](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1281052) to keep tab on any future progress.

[2021-02-20 00:43] heng-liu commented on #8052
Created an issue with more details https://github.com/NuGet/Home/issues/10581
Closed as duplicate.

[2021-02-20 00:43] #8052 closed, assigned to heng-liu

[2021-02-20 02:36] nkolev92 commented on #6140
Hey everyone,

We appreciate all the feedback you have provided on this issue and many others in our repo.

The one particular theme here is obviously the fact that when some sources are unreachable restore fails.
Instead of stopping after the first feed, NuGet instead parallelizes access and stops at the first unreachable feed.

Many of the repros reported have to do with private feeds being unre

[2021-02-20 02:36] #6140 closed, assigned to nobody

[2021-02-20 16:03] JonDouglas commented on #10468
Hey @augustoproiete!

We briefly reviewed this feature request alongside https://github.com/NuGet/NuGetGallery/issues/8381.

As mentioned on a [tweet last month](https://twitter.com/_JonDouglas/status/1352030361719615489) this is an area we're thinking about. NuGet hosts many different package types, and to support all of the package types today, we're working to understand the needs of each type

[2021-02-20 17:44] zivkan commented on #10558
To the people who 👍  my comment, or others who would like this feature request implemented, please react 👍  to the original comment/post, so that this issue will bubble up [the list of all open issues sorted by 👍](https://github.com/NuGet/Home/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc)

[2021-02-20 19:00] donnie-msft commented on #10577
I was unable to repro this in a new framework 4.6.2 console app.
The `<Private>` tag gets added when `CopyLocal=False`:
![image](https://user-images.githubusercontent.com/49205731/108605636-5fcb4880-7383-11eb-80b6-22bf72865e25.png)
To repro, set the CopyLocal to false, save, and you'll see the attribute added to your csproj.

My guess is you have some .targets or similar that is marking this assem

[2021-02-20 23:13] kartheekp-ms commented on #10586
I could be wrong, but the above statement makes me think that the failure is somehow related to the machine state.

This [doc](https://docs.microsoft.com/en-us/nuget/concepts/package-installation-process) explains package installation steps. In summary NuGet searches for packages in the following order.
- global packages folder
- fallback folders
- sources (local sources first, online sources next

[2021-02-21 02:00] xt0rted commented on #10586
@kartheekp-ms this is what I put in my `nuget.config` to get the builds working again:

[code]

The first build that failed for me was with the the [20201210](https://github.com/actions/virtual-environments/releases/tag/win19%2F20201210.0) windows virtual environment but the first 4 that ran on that environment passed. They spanned from December 17th to December 30th with the first one to fail on

[2021-02-21 02:27] xt0rted commented on #10586
I just ran a test on my .net core 3.1 project and removed the `nuget.config`. The build passed when pinned to 3.1.405 of the sdk, but when I rolled back to 3.1.401 it failed (this is the same version I was using in December when the builds started to fail). Here's the relevant part of the log, I can share the full diagnostic log if it'd help.

[code]

[2021-02-21 11:54] ViktorHofer commented on #5862
What about the host packages and potentially others that still use a runtime.json file? I.e. https://www.nuget.org/packages/Microsoft.NETCore.DotNetHostPolicy/6.0.0-preview.1.21102.12.

[2021-02-21 15:18] CyberGuerro commented on #10504
Even on **Gentoo** distro with [20210119.3.62](https://packages.gentoo.org/packages/app-misc/ca-certificates)  and [dotnet 5.0.103 from dotnet overlay](http://gpo.zugaina.org/dev-dotnet/dotnetcore-sdk-bin) and [Visual Studio Code from dotnet overlay](http://gpo.zugaina.org/app-editors/visual-studio-code) I have same issue...   ...probably ca-certificate package needs some patch??

[2021-02-21 17:50] jzebedee opened #10588 "nuget pack includes files and directories beginning with dot (.), despite default excludes"
This issue was closed as fixed in #8798 but is still occurring as of nuget.exe `5.9.0-preview.2` and `5.8.1`.

## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): *nuget.exe*

Product version: `5.9.0-preview.2` and `5.8.1`

Worked before? If so, with which NuGet version: *no*

## Repro steps and/or sample project

Repro: [repro.zip](https://github.c

[2021-02-21 20:25] xJom commented on #6485
I have somewhat the same issue.

If projB is built to an OutputPath that is <path to projB>\$(Configuration)\bin
and projA is built to an OutputPath that is <path to projA>\$(Configuration)\Plugins\Diagnostics
nuget pack will search for projB in <path to projB>\$(Configuration)\Plugins\Diagnostics.

Now projB.dll exists in both <path to projB>\$(Configuration)\bin and in <path to projA>\$(Configur

[2021-02-21 20:50] xJom commented on #6485
The workaround for me right now, is to add two more Configurations, "Debug Pack" and "Release Pack", which instead builds everything to [path to projX]\..\$(Configuration)\bin, to be able to pack.

[2021-02-21 21:25] nick-beer opened #10589 "Best practices for libraries with admin level dependencies"
I'm looking for a little bit of guidance.

I have a set of .NET Framework driver libraries that have been distributed via an installer for many years now.  I'm now looking to modernize those libraries for easier consumption via NuGet packages for .NET 5 and beyond.  However, these .NET libraries have dependencies on things like a kernel mode driver and shared global configuration/data that require

[2021-02-22 02:07] baepiff commented on #10336
@dtivel I upgraded to 16.8.5. But the issue is still there. Could you share the release date?
![image](https://user-images.githubusercontent.com/1399501/108648201-fb80c400-74fd-11eb-81f6-84a9b9242b0b.png)

[2021-02-22 08:37] AnderssonPeter commented on #9195
using `<DisableImplicitNuGetFallbackFolder>true</DisableImplicitNuGetFallbackFolder>` solved some of our issues when restoring on different platforms.

[2021-02-22 09:54] v-crchang opened #10590 "Unexpected error “Your project file doesn’t list ‘win’ as a “RuntimeIdentifier”” occurs when building the solution after enabling “RestoreLockedMode”"
## Details about Problem

NuGet version: NuGet Client Dev\5.10.0.7140
VS Version: Main\31021.18
OS Version: Windows-10-Enterprise-20h1

## Repro steps and/or sample project

1. Create a C# Class Library (.NET Framework) project via VS.
2. Install a few ‘PackageReference’ packages into the projects.
3. Set MSBuild property “RestorePackagesWithLockFile” to true in csproj file.
 ` <RestorePackagesWit

[2021-02-22 11:19] pdario66 commented on #10336
@dtivel - I do not know exactly where to get the release date, but I copied all the info (that also contain the build number)

Microsoft Visual Studio Professional 2019
Version 16.8.5
VisualStudio.16.Release/16.8.5+31005.135
Microsoft .NET Framework
Version 4.8.04084

Installed Version: Professional

Visual C++ 2019   00435-60000-00000-AA199
Microsoft Visual C++ 2019

ASP.NET and Web Tools 2019

[2021-02-22 13:23] chrisaut commented on #5805
I'm sorry to say I have to agree with @QTom01 , using Nuget is still, 3 1/2 years later incredibly frustrating.

From the slow and frustrating UI that seems to want to update/query server fresh with every time you dare look at a another tab to check something (why, and paired and slow server responses especially in the update tab that take literally 30s each time for me to populate the list), to t

[2021-02-22 14:01] reiseder commented on #5553
Are there any updates on this issue?

It would save a ton of work for releasing well maintained internal packages at my company.

[2021-02-22 14:23] tebeco commented on #5553
I can only suggest anyone to upvote the first comment / issue in this issue, as it seems to be the relevant metrics being used to prioritize how much user want something to move on
activity is hard to quantify by bot (because spam / irrelevant etc ...) while a +1 is quite clear

[2021-02-22 16:06] kartheekp-ms commented on #10336
@baepiff @pdario66

This fix is currently in `16.9` preview versions and can be downloaded from here https://visualstudio.microsoft.com/vs/preview/. `16.9 GA release` is scheduled for first week of March 2021.

[2021-02-22 16:36] pdario66 commented on #10336
@kartheekp-ms @baepiff
Thanks, I can wait and resist until 16.9 is released :)
Regards

[2021-02-22 18:59] #9913 closed, assigned to nkolev92

[2021-02-22 19:06] craigfowler commented on #10491
I have just tripped over this on Debian 10.8 (my own desktop environment).  I have verified that I do indeed have the fixed version of the ca-certificates package installed: `20200601~deb10u2` yet I was still unable to restore packages.

Having read around a little further, [the incident report] mentions the following under the heading **Debian 10 ("buster")**:

I have a vague recollection that -

[2021-02-22 19:20] nkolev92 commented on #8338
@ite-klass

The lock file has a dual purpose, sort of an input-output behavior with restore.

That dual purpose is controlled by the locked mode switch.

In development mode, without `RestoreLockedMode=true`, you can create a file and opt into using a lock file.
If you are in locked mode, the expectation for the user is that there's something to lock to. In particular, you don't want the file to b

[2021-02-22 19:35] nkolev92 commented on #10580
NuGetPackageFolders is a combination of the global packages folder + fallback folders.
The first in that list will be the global packages folder, while the latter will be fallback folders.

You can specify a fallback folder through a nuget.config or through RestoreFallbackFolders property in the project file.

NuGet should print the used configs at the end of the restore (or you can look at the as

[2021-02-22 19:58] ericstj commented on #5862
They shouldn't use it.  In general for parts of the product that rely on RID-specific packages they should be plumbed through the SDK's runtime-pack resolution.  I suspect this is already the case for the host packages and they never cleaned up the old package.

[2021-02-22 21:05] #10476 closed, assigned to donnie-msft

[2021-02-22 21:10] nkolev92 commented on #10512
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2021-02-22 21:10] #10512 closed, assigned to nobody

[2021-02-22 21:14] nkolev92 commented on #10561
Hey @justinjalandoniiwest

Please refer to https://docs.microsoft.com/en-us/nuget/consume-packages/managing-the-global-packages-and-cache-folders for more detailed information.

From the screenshots you posted, we can observe that there's a typo in your env variable name. The name is missing an `S`.

When setting through the CLI, you need to use globalPackagesFolder instead of NUGET_PACKAGES. NUGE

[2021-02-22 21:15] nkolev92 commented on #10561
See the above comment. Closing as not a bug for now.

Feel free to create new issues as needed.

Thanks!

[2021-02-22 21:15] #10561 closed, assigned to nobody

[2021-02-22 21:18] nkolev92 commented on #10568
As communicated by @kartheekp-ms, we don't believe this is a bug at this point.

Please try installing a different version of the package.

[2021-02-22 21:18] #10568 closed, assigned to nobody

[2021-02-22 21:21] zivkan commented on #10561
For what it's worth, I had tried putting the `globalPackagesFolder` nuget.config setting in my user-profile `nuget.config`, and it did work for me. In fact, I forgot to undo the setting, and when I used `dotnet nuget locals global-packages --clear` for a customer investigation recently, I discovered that I never removed this test setting.

All I can suggest, is to check for other typos. "it works

[2021-02-22 21:24] nkolev92 commented on #10578
@donnie-msft Can you please try to repro the problem on the latest version (5.9).

Note that the OP has a repro repo.

[2021-02-22 21:26] nkolev92 commented on #10583
Closing per the above comment.

[2021-02-22 21:26] #10583 closed, assigned to nobody

[2021-02-22 21:31] donnie-msft commented on #10584
why is this dead code? The PR shows a file.exists check. Are you saying the file always exists?

[2021-02-22 21:32] nkolev92 commented on #10586
Hey @xt0rted,

A best practice would be that you would specify a nuget.config file in your repro.
As @kartheekp-ms mentioned, you are currently relying on machine ambient state and that would lead to an unpredictable behavior.

[2021-02-22 21:32] #10586 closed, assigned to nobody

[2021-02-22 21:39] erdembayar commented on #10584
@donnie-msft
No this file doesn't exist anywhere nowadays. Just search your local HDD for it, you wouldn't find it. That PR is 7-8 years ago thing.
No question is do I just remove it or mark as Obsolete?

[2021-02-22 21:46] donnie-msft commented on #10584
You're removing `NuGetEventTrigger.cs`? That wasn't clear from the issue. I don't know, but I can't imagine a reason to mark it Obsolete. I think that's generally for something we continue to support, but retract some functionality.

[2021-02-22 21:54] erdembayar commented on #10584
@donnie-msft
2 files are going away: NuGetEventTrigger.cs, TriggerEventMethod.cs
From code it looks like someone who introduced it used as telemetry tool. It records beginning and end of each method then correlate to find out if method successfully run or duration it took.

[2021-02-22 22:20] erdembayar commented on #10584
@aortiz-msft
Fix is very straight forward and I created branch for it, but after discussion with @zivkan it's better to wait for V6.00 to for creating PR to merge.

[2021-02-22 22:26] Giorgi opened #10591 "Launch NuGet Package Explorer from NuGet.org"
It would be very useful if there was a link which uses custom scheme to launch [NuGet Package Explorer](https://github.com/NuGetPackageExplorer/NuGetPackageExplorer) with the current package to load.

[2021-02-22 23:06] BrennanConroy opened #10592 "Internal CLR error during restore"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): dotnet.exe

Product version: 6.0.100-preview.2.21118.6

## Log

Sorry this isn't going to be a great issue report. Seen this issue once so far while restoring, and this is the only information we have from it.
[code]

[2021-02-22 23:34] zivkan commented on #10505
Either the reproduction example I created is not representative of whatever issue caused @sharwell to create this issue, or adding Newtonsoft.Json as direct dependencies to our packages like NuGet.Protcol would not actually solve the problem: https://github.com/dotnet/sdk/issues/16004

[2021-02-23 00:07] breidikl commented on #10580
Thanks, that helped us track down the culprit.

Specifically the user had a Program Files (x86)\NuGet\Config\Xamarin.Offline.config file that was adding an extra key to fallbackPackageFolders.  We're testing some changes nuget.config in the project sources to clear that value, which we're expecting to resolve the issue.

[2021-02-23 00:09] nkolev92 commented on #10580
That's great. Happy to hear my suggestion helped.

[2021-02-23 00:09] #10580 closed, assigned to nkolev92

[2021-02-23 00:19] erdembayar commented on #9767
@nkolev92
I propose to close this issue, because we already fixed this issue with [PR#3796](https://github.com/NuGet/NuGet.Client/pull/3796) while fixing issue https://github.com/NuGet/Home/issues/9289. Because repro I used for that [PR#3796](https://github.com/NuGet/NuGet.Client/pull/3796) was https://github.com/erdembayar/IssueRepro9289. That repro has exact problem "MSBuild and the variable tha

[2021-02-23 00:47] nkolev92 commented on #9767
@erdembayar

The bug that was fixed in https://github.com/NuGet/NuGet.Client/pull/3796 was actually not the common scenario.

A lot larger percentage of people use SDK based PackageReference projects and they can run into the same scenario, and in fact they already often do.

The body of this issue acknowledges that and says that the message *could* be better.

Currently the text of NU1604 says th

[2021-02-23 00:48] nkolev92 commented on #9767
That doesn't mean you have to do it yourself though.

If you prefer to solve other issues, feel free to unassign as this is not a very high priority issue at this point.

[2021-02-23 01:50] erdembayar commented on #9145
@nkolev92
I see only 2 ways to handle this.  Which one is more appropriate this case?
1. Let exception through here.

https://github.com/NuGet/NuGet.Client/blob/35b6dcdb23642c502065458d91e644fb6fb17ecf/src/NuGet.Core/NuGet.Versioning/VersionRangeFactory.cs#L72-L74

2. Return `VersionRange.None`.

[2021-02-23 02:03] nkolev92 commented on #9145
I would throw communicating that it's an invalid range.

[2021-02-23 03:20] dominoFire commented on #10281
The `EnsureNuGetPackageBuildImports` is a MSBuild target inserted when NuGet installs a package with targets files in a packages.config project.
The task inserts a Property with a formatted string as follows:

[code]

Later, error conditions uses that property to create the error message saying which targets file is missing.

Two code paths add this message:

- [src/NuGet.Clients/NuGet.CommandLine

[2021-02-23 05:25] #7696 closed, assigned to kartheekp-ms

[2021-02-23 07:36] Rand-Random opened #10593 "[Request] install command should install with v3 folder layout"
As noted here https://github.com/NuGet/Home/discussions/10579 the install command lacks the ability to install the package in the v3 folder layout.

**Expected result:**

Every command nuget CLI has to offer should be ported to the new v3 layout, either by re-defining the "default" behaviour or by giving an additional argument to change the behvaviour.

I would suggest that every command should be

[2021-02-23 08:13] v-luzh commented on #8964
This bug is fixed on Dev\5.10.0.7143. Close it now, thanks.

[2021-02-23 08:13] #8964 closed, assigned to nobody

[2021-02-23 14:07] clairernovotny opened #10594 "Cannot update NuGet package with packages.config"
If I have a project with a `packages.config`, and I try to update a package it fails.

VS Version: latest internal version from Feb 23.

Repro:
1. Create a new .NET 4.7.2 class library using the old project system (and with Packages.config set as the default)
2. Install Refit 6.0.15
3. Try update to a later version

[code]

[2021-02-23 14:17] justinjalandoniiwest commented on #10561
may I know where the typo is?

[2021-02-23 18:54] joelverhagen opened #10595 "FormatException is thrown instead of PackagingException"
## Details about Problem

NuGet product used: dotnet CLI
Product version: 5.0.3
Worked before?  Unknown

## Repro steps and/or sample project

1. dotnet new console
2. dotnet add package AppLoggerSenner007 --source https://api.nuget.org/v3/index.json

This exception is thrown:

[code]

### Verbose Logs

There is no `--verbosity` on `dotnet app package`. Here is the verbose log if I manually add th

[2021-02-23 19:32] michael-hawker commented on #8000
So, we just updated to remove the `licenseUrl` in favor of `license` as per the warning message, but then I was checking in Visual Studio (16.8.5) and it doesn't even properly accept the new format:

![image](https://user-images.githubusercontent.com/24302614/108897168-a8287780-75ca-11eb-81fb-8276dc7072d6.png)

☹

[2021-02-23 19:58] dsplaisted commented on #5926
This issue is also about XML files, so even if we disregard PDBs it's still important.

[2021-02-23 20:24] michael-hawker commented on #8000
Apparently using both like the icon property is hard blocked ☹:

[code]

[2021-02-23 21:24] nkolev92 commented on #8000
Where was the package published?
Nuget.og ingests and provides a better link.
Azure DevOps doesn't do that.

[2021-02-23 21:39] erdembayar commented on #9145
@nkolev92
How about `(9.0.0, 9.0.0)`?  It's technically it's illogical range but also used as empty range in unit tests.
What to do in this case?

[2021-02-23 21:42] nkolev92 commented on #9145
I think it's fine to leave that.
Let's not overdo it :)

Obviously not too many people were affected by this problem.

[2021-02-23 21:56] zkat commented on #6941
@JonDouglas @nkolev92 at face value, fixing this as suggested is a breaking change. An alternative suggestion that we could do now without risking breaking anyone is to manually dedupe these files before writing out the nupkg, so the last file with a certain path "wins", and only one ever makes it into the nupkg itself.

Or I could just validate and throw. I'm not sure how many people this would b

[2021-02-23 22:00] zkat commented on #6941
cc @zivkan too

[2021-02-23 22:12] donnie-msft commented on #10594
I was unable to repro on 16.10.0 Preview 2.0 [31022.287.main].
Version `6.0.20` doesn't exist on nuget.org. Was this a private feed? I found 6.0.21 and 6.0.24. Neither of these had an issue when updating via Package Manager in VS.

Did you use Package Manager? Does it continue to repro with 6.0.20, and is it only that version?

[2021-02-23 22:15] donnie-msft commented on #10594
One observation that may be relevant... I found the after clicking Install/Update, VS is VERY slow to refresh the installed version and change the `Install button` to an `Update button`.

Do you think this was happening for you? Could be the key to finding your repro..
![image](https://user-images.githubusercontent.com/49205731/108915264-9f4f9a00-75fa-11eb-980f-0ed6135749ce.png)

[2021-02-23 22:47] JonDouglas commented on #6941
I think breaking this experience is ideal given that it is not deterministic of what file "wins". I think validating this and providing a warning/error is a path forward. We should inform the package authors in these scenarios to only include one file?

[2021-02-23 23:05] zkat commented on #6941
yeah. I'll hack that up and we can take a look and see how we feel about it :)

@ericstj do you have any particular opinion on this beyond wanting it to fail?

[2021-02-23 23:06] donnie-msft commented on #10589
Hi! Given this is a question about using the product, please refer to this guidance:

https://github.com/NuGet/Home/blob/dev/CONTRIBUTING.md#before-submitting-an-issue

[2021-02-23 23:07] #10589 closed, assigned to nobody

[2021-02-23 23:50] #9538 closed, assigned to jebriede

[2021-02-24 08:53] michael-hawker commented on #8000
@nkolev92 this was me trying to test from our Azure DevOps Artifacts feed to understand how this would look before we push to NuGet.

[2021-02-24 11:09] bugybunny commented on #3324
For anyone coming to this issue from Google and not wanting to read everything a quick summary to this and a few other issues about this problem I have read up about, hoping to have understood everything correctly:

- Many components, not only NuGet are affected so it would take a big effort inside Microsoft that they are not yet willing to commit.
   - MSBuild fixed something (not really understa

[2021-02-24 12:54] uladz-zubrycki opened #10597 "Restore fails, if lock is disabled, but lock file exists"
#### Description ####
Hi! It's more like a question than an issue actually.

If I have lock mode disabled, but `packages.lock.json` file exists for a project, restore will fail, why is that?

[code]

#### Environment ####
Microsoft Visual Studio Community 2019
Version 16.8.3
VisualStudio.16.Release/16.8.3+30804.86
Microsoft .NET Framework
Version 4.8.03752

[2021-02-24 16:03] tomdewilde commented on #9853
My use case: we have a private NuGet server ([BaGet](https://loic-sharma.github.io/BaGet/)) for our in house packages. The release version is obfuscated, so debugging is not even possible. Including both debug & release version in the same NuGet package would save a lot on development time.

[2021-02-24 16:14] marcin-krystianc opened #10598 "CPVM - Concurrency issues in the graph walking algorithm"
## Details about Problem

I would like to report that the https://github.com/NuGet/NuGet.Client/pull/3493/files#diff-7457360b2ac43e8123a03561b1b5e2ca1832954941f84e44086365d26f22e5faR457-R4673 introduced some concurrency issues.

The code in question uses `ConcurrentDictionary` but it does it incorrectly.
As the [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.collections.concurre

[2021-02-24 17:34] zivkan commented on #3324
Regarding the 3rd point, NuGet only experiences this problem in Visual Studio. In nuget.exe (which runs on .NET Framework) we set the flags to allow the runtime to use long paths, as long as it's also configured in the operating system. Since MSBuild have enabled long path support in msbuild.exe (which also runs on .NET Framework), it also means that `msbuild -t:restore` supports long path. As you

[2021-02-24 18:35] dominoFire commented on #10281
Closing for now. Per comment above, it does not seem as a bug, but a by-design behavior.

If anyone experiments this issue, feel free to comment and reopen.

[2021-02-24 18:35] #10281 closed, assigned to dominoFire

[2021-02-24 18:53] erdembayar commented on #10361
@nkolev92
Sorry my mistake, it happened due to Linux being cases sensitive. Actual created package name is all lower case but my original package name had capital `X` which caused this confusion.

`/home/eryondon/NugetProj/NuGet.Client/.test/work/449b44d2/5315ce10/MySource/packageX/1.0.0/packageX.1.0.0.nupkg`

![image](https://user-images.githubusercontent.com/8766776/109048189-a377c800-768b-11eb-

[2021-02-24 18:53] #10361 closed, assigned to erdembayar

[2021-02-24 19:00] nkolev92 commented on #8000
That's expected in that case.
If you follow the link it talks about potential limitations of the server or the client. Given that you are on the latest client, in your case it's the server.

[2021-02-24 19:42] lucastedeschi commented on #6328
Restart the Windows solved here too

[2021-02-24 21:45] donnie-msft commented on #10597
Hi! Given this is a question about using the product, I'm moving it to the Discussions area.

[2021-02-24 21:45] #10597 closed, assigned to nobody

[2021-02-24 21:53] donnie-msft commented on #10588
@dtivel & @zkat

[2021-02-25 00:35] matkoch commented on #10468
Hi @JonDouglas, i hope this is the right place. One package type that I would really like to see is a `Tool` dependency, which reflects that a NuGet package has a `./tools` inside. This would make it much easier for a package to be consumed / installed in the area of build automation. For nuke and bullseye it could confidently show the `PackageDownload` syntax that was introduced by @nkolev92 (kud

[2021-02-25 00:46] zkat opened #13491 "Document NU5050"
See https://github.com/NuGet/NuGet.Client/pull/3634

[2021-02-25 08:05] heng-liu commented on #10328
I could not repro for two test cases mentioned above:
"Cross-platform verify: signed and timestamped package" and "Cross-platform verify: tampered signed package ".

I could only repro for test case: "Cross-platform verify: signed package with expired signing certificate"

[2021-02-25 08:18] heng-liu commented on #10328
If we build the chain for the **expired self-issued certificate** by using the following policy setting:
[code]
 The chain build on Linux is different from other platforms:
`Chain status: "NotTimeValid,RevocationStatusUnknown,UntrustedRoot"`
 While on Windows the chain build is successful.

But when I build the chain for the **expired leaf certificate issued by intermediate CA** by using the same

[2021-02-25 19:13] brphelps commented on #1851
I think MSAL has an approach for this for token encryption that nuget should consider using as inspiration -- they try to find a local encryption library on Linux, and only when it isn't present do they fall back to something else.

[2021-02-25 19:58] JonDouglas commented on #7199
Okay, audible plan is d17 & 6.0 :)

[2021-02-25 21:55] #6941 closed, assigned to zkat

[2021-02-25 23:32] aortiz-msft commented on #10590
@nkolev92 - Would you mind taking a look?

[2021-02-25 23:40] rrelyea commented on #1851
@brphelps  - would love a pointer to that approach. sounds promising. link?
 In all our discussions with net core team (do we call them .net team again?), they didn't think it was easy to solve in runtime.

[2021-02-26 00:38] heng-liu commented on #10328
Raised an issue in https://github.com/dotnet/runtime/issues/48794

[2021-02-26 01:02] #10533 closed, assigned to jebriede

[2021-02-26 06:25] jzebedee commented on #10588
It looks like dot-prefixed files are correctly excluded, but directories are not:

I created a new repro to illustrate the behavior.

[repro.zip](https://github.com/NuGet/Home/files/6047754/repro.zip)

[code]

Expected output:
[code]

Actual output:
[code]

Nuget output:
[code]

[2021-02-26 08:06] dedale commented on #7060
We solved this problem with a custom MSBuildWithMutex task.
https://gist.github.com/dedale/675ec80313f2a70266deb0ab78a0e2c6

[2021-02-26 09:47] Rand-Random commented on #10593
@donnie-msft
Only just noticed that the issue got tagged with dotnet.exe, just want to point out that I was using nuget.exe.
I don't know if they behave differently in this regard.

[2021-02-26 11:21] Zastai commented on #7939
If this is really an Epic, could there at least be an effort to keep its composing issues linked here?
The best we seem to have had is a (now outdated) screenshot.

##
- [x] Issue #8051 seems to be done.
- [ ] Issue #8052 has been replaced by issue #10581.
- [ ] Issue #8053 has not seen much activity.
##
- [x] Issue #8045 seems to be done.
- [ ]  Issue #8046 has not seen much activity.
- [x]  Issu

[2021-02-26 11:50] luiantorno commented on #10491
Thanks! That worked for me! I had problem installing System.IO.Ports package in Raspberry Pi3.

[2021-02-26 16:12] scrogatl commented on #10491
Thank you! This worked for me!

[2021-02-26 16:40] herb8work commented on #10336
How can I get that to work with packages.config in VS 16.8.6 without installing a prerelese version of VS?

[2021-02-26 16:43] ehasis commented on #10336
If you use project.json, you can add the dependency directly editing the file by hand. Search the package name and version on the nuget.org in the web browser.

[2021-02-26 16:52] kitingChris commented on #10491
I tried to update the ca-certificates but already had the newest version

[code]

Also tried to signatureValidationMode=accept in my nuget and adding certificate fingerprint as described here https://devblogs.microsoft.com/nuget/microsoft-author-signing-certificate-update/

[code]

I even checked if openssl really uses the correct certificates:

[code]

Even compared the signatures with the ones l

[2021-02-26 17:54] pdario66 commented on #10336
@ehasis yes we all know about that - but we have a solution with different projects over than 100 and they are mixed types c# and C++ projects some uses json and some else uses packages.config - what it really bothers here is that at the end you need to consolidate the solution and with this  broken is painful

[2021-02-26 18:06] ehasis commented on #10336
@pdario66 I understand, we have the same situation here. If you need edit all at once, as a temporary workaround until the solution is in the GA, you could try install the Preview in one machine and do this kind of maintenance there.

[2021-02-26 19:34] nkolev92 commented on #10336
Hey all,

Have you considered moving your project.json projects to PackageReference?
Any blockers for that?

I know it's not an ideal workaround, but it puts you in an actively developed world, rather than project.json which is something that never RTM'ed on its own.

[2021-02-26 20:28] donnie-msft commented on #7016
bumping priority since this was hit again https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1280475

[2021-02-26 22:27] psmulovics commented on #1851
@brphelps , you had my curiosity. But now you have my attention. This would solve so many problems (powershell scripts, nuget, etc) and is part of an ongoing discussion with @rrelyea , me and many others for at least 3 years now

[2021-02-26 22:28] psmulovics commented on #1851
wow, just checked notes, since 2015!

[2021-02-26 22:45] loic-sharma commented on #1089
Copying from https://twitter.com/khellang/status/1365366838004219909?s=20

Copying from https://twitter.com/sharmaloic/status/1365385639621849092?s=20

[2021-02-26 23:46] donnie-msft opened #10602 "Update Maestro task version to publish to BAR using github url"
## Details about Problem

Engineering change is needed for Maestro.

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):

Product version:

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

### Verbose Logs

[2021-02-26 23:46] #10602 closed, assigned to zivkan

[2021-02-27 01:42] nkolev92 commented on #10022
Fixed in https://github.com/NuGet/NuGet.Client/pull/3785, Dup of https://github.com/NuGet/Home/issues/10354

[2021-02-27 01:42] #10022 closed, assigned to zivkan

[2021-02-27 01:50] erdembayar commented on #8053
@heng-liu
Is there spec for "nuget trusted-signers"? If not I just look at what "nuget trusted-signers" does and make parity with it would be enough for this issue?

[2021-02-27 07:38] heng-liu commented on #8053
Hi @erdembayar , please refer to https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-trusted-signers

[2021-02-27 10:32] herbutant commented on #10336
I changed that in NuGet settings UI in VS. But that had no no notable effect.

[2021-02-27 20:26] joeltankam commented on #10578
Any news on this please?

[2021-02-28 03:45] donnie-msft commented on #10578
@nkolev92 I cloned the sample repro, tried dotnet restore (**SDK Version: 5.0.200-preview.21077.7**) both with and without CPVM flag, and diff'd the assets file.
Both restores generated the same "runtimes", example:
[code]

CPVM restore added this entry:

[code]

[2021-02-28 11:10] joeltankam commented on #10578
That's weird, I just tried again with the latest SDK version, **5.0.103**.

[code]

Note that the diff occurs on **System.Reflection.Emit.ILGeneration** not `System.Reflection.Emit.Lightweight`.
Did anything change in SDK `5.0.200-preview.21077.7` in that regard?

Thanks.

[2021-02-28 11:26] joeltankam commented on #10578
Full diff

[code]

[project.assets.json](https://github.com/NuGet/Home/files/6056709/project.assets.json.txt)
[project.assets.CPVM.json](https://github.com/NuGet/Home/files/6056711/project.assets.CPVM.json.txt)

[2021-02-28 16:52] diybl opened #10604 "NuGet.config proxy is not working"
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://nuget.cdn.azure.cn/v3/index.json" protocolVersion="3" />
    <config>
        <add key="http_proxy" value="http://192.168.43.129:1081" />
        <add key="no_proxy" value="192.168.43.129,localhost,127.0.0.1,*.azure.cn" />
    </config>
  </packageSources>
</configuration>

the ide is

[2021-02-28 16:53] diybl commented on #10604
<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://nuget.cdn.azure.cn/v3/index.json" protocolVersion="3" />
        <config>
            <add key="http_proxy" value="http://192.168.43.129:1081" />
            <add key="no_proxy" value="192.168.43.129,localhost,127.0.0.1,*.azure.cn" />
        </config>
    </packageSources>
</con

[2021-02-28 16:53] diybl commented on #10604
`<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://nuget.cdn.azure.cn/v3/index.json" protocolVersion="3" />
        <config>
            <add key="http_proxy" value="http://192.168.43.129:1081" />
            <add key="no_proxy" value="192.168.43.129,localhost,127.0.0.1,*.azure.cn" />
        </config>
    </packageSources>
</co

[2021-02-28 16:53] diybl commented on #10604
this is the nuget config

[2021-02-28 16:55] diybl commented on #10604
i cant't understand why i set the source to "https://nuget.cdn.azure.cn/v3/index.json"
but the error show the  https://api.nuget.org/v3-index/repository-signatures/5.0.0/index.json

[2021-02-28 16:57] diybl commented on #10604
then i want to use proxy to sorvle this problem,but the proxy is not work,
my god,,,, this tools i use first , it waste my 1day........

[2021-03-01 13:59] #10024 closed, assigned to dtivel

[2021-03-01 17:02] donnie-msft commented on #10578
That was just an example, but here's the Generation package as well (no diff for me):
[code]

@nkolev92 could answer that best.

[2021-03-01 17:20] erdembayar commented on #9767
@nkolev92
Ok. I unassigned myself to focus on other higher priority issues.

[2021-03-01 19:07] nkolev92 commented on #10578
I think transitive pinning was disabled in https://github.com/NuGet/NuGet.Client/commit/087a7113ad70ae4d4c538eba0f387271af0c649b, and that might the cause of the discrepancy.

[2021-03-01 19:21] ghost opened #10606 "dotnet restore fails, but reports success"
## Details about Problem

Cross posting from dotnet sdk, as it isn't clear if this issue is in the sdk or the nuget client used in that sdk.
Repro posted on https://github.com/dotnet/sdk/issues/16031#issuecomment-786748923

Product version:

dotnetsdk 3.1.406

## Repro steps and/or sample project

Repro is simple. Try to restore a package that doesnt exist. E.g. Microsoft.Build.Traversal2

[code]

[2021-03-01 19:46] nkolev92 commented on #10606
Given the package name, I'd imagine that's the SDK resolver failing.

What happens when any other targets are run?
Can you try running `dotnet msbuild /t:build` or `/t:clean` without running restore?

[2021-03-01 19:49] dtivel opened #10607 "Improve formatter tests by reusing global formatters collection"
Have existing formatter tests use the global product formatter collection instead of private, test-only collections.