[2016-10-14 16:55] #3579 closed, assigned to emgarten

[2016-10-14 16:57] rrelyea opened #3660 "Get VSIX into build workload"
and do a design discussion post RC for updating story (nuget, etc...)

[2016-10-14 17:03] kzu commented on #3419
That sounds very weird. IIRC, that extension just provides a template and
definitely does not interact with the nuget interfaces at all. /cc
@victorgarciaaprea @josegallardo

On Fri, Oct 14, 2016 at 1:48 PM Eric-Lizotte notifications@github.com
wrote:

##

/kzu from mobile

[2016-10-14 17:07] rrelyea opened #3661 "OOM issue"
Loading Roslyn project into VS, and using Package Manager UI was generating 2gb of memory allocations and leading to OOM.

[2016-10-14 17:07] victorgarciaaprea commented on #3419
The "Get Xamarin" extension is installed by VS 2015 and just provides a template breadcrumb, which should show only if Xamarin is not already installed.

[2016-10-14 17:09] rrelyea commented on #3645
Is there any VSIX affecting work left as part of this? Or just nuget list?

[2016-10-14 17:16] falahati commented on #1985
Not until I explicitly mention the project file I want:

Works. Not a big issue, but a change of behavior in current major version comparing to last major release. Version 2.8 would have detected the project file if started from project directory.

[2016-10-14 17:21] kzu commented on #520
Reopening since this is still happening for project.json-based PCLs and CPS projects.

Repro on VS015 Update 3 with NuGet 3.5.0 RTM:
- Create a .NETCore class library or a PCL that targets .NETStandard
- Install the `IFluentInterface` nuget package, which has the [developmentDependency](https://github.com/kzu/IFluentInterface/blob/master/IFluentInterface.nuspec#L31) flag
- Check the resulting `pro

[2016-10-14 17:26] yishaigalatzer commented on #1985
What version are you using? Can you try downloading 3.5 from myget/nugetbuild? Build # is 1938

[2016-10-14 17:31] yishaigalatzer commented on #520
I don't think we want to fix it in PJ, but we should fix it in package ref if needed

[2016-10-14 17:33] brgrz commented on #1985
@yishaigalatzer What if for once you tried to repro the issue instead of constantly asking what versions we're using? If you don't understand the issue (which you clearly don't coz you keep asking the same question all over again for the last 10 months), haven't reproduced it then you most likely didn't fix it and telling us to use the new version won't help. It will just prove it still doesn't wo

[2016-10-14 17:46] kzu commented on #520
Since package ref seems like it's going to be an MSBuild 15+ only feature, I think this must be fixed in PJ. There's very little chance that NuGetizer can work properly if there's no support for this.

/cc @mhutch

I'm happy to send a PR that fixes it if someone points me in the right direction.

[2016-10-14 17:46] yishaigalatzer commented on #1985
Brgrz read the thread, the engineer said he fixed it, and also said he cannot reproduce it locally.

Providing a report without details doesn't help anyone, and I'm currently not on a computer and can't reproduce it from a phone ...

[2016-10-14 17:52] kzu commented on #3457
Let's make sure to preserve the DevelopmentDependency flag from the referenced nuspec, so we don't hit this https://github.com/NuGet/Home/issues/520

[2016-10-14 18:05] skoon commented on #3419
That "Get Xamarin" extension is the only Xamarin related extension I have installed too and I'm seeing the same problem.

I _did_ install a bunch of Azure SDK and Service Fabric stuff two days ago though. Whatever the latest versions as of the comment are in the Web Installer.

I hadn't seen this issue until today.

[2016-10-14 18:07] Eric-Lizotte commented on #3419
That is true of myself as well, the azure SDK + service fabric

[2016-10-14 18:27] MattGal commented on #3419
Just wanted to add some data at @rrelyea 's request, I have VS 2015 Update 3 (14.0.25421.03) and the Nuget Extension (3.5.0.1484) and despite having Xamarin SDK stuff for months, this problem showed up for the first time for me restoring packages after a seemingly unrelated Windows Update reboot happened.  I'll have the machine in this state for a bit longer if you want any more information or to

[2016-10-14 18:43] falahati commented on #1985
I was on 3.4.4, lastest version
tried with 3.6 nightly build 1984, works as expected

we are safe to leave this issue alone then xD

[2016-10-14 18:48] Barryrowe commented on #2393
Has anyone confirmed a version of the nuget extension working through an NTLM proxy with a .net core project?

A fresh install of the .net core tools for VS2015  (Preview 2.0.1) shows the same issues. The nuget extenstion installed on my machine is:  3.5.0.1484, and was installed today.

The new dotnet core toolchain fails to properly authenticate to an NTML proxy

In the same solution if we add a

[2016-10-14 18:52] falahati opened #3662 "List of All NuGet Target Directories"
Hey guys,
I tried searching through documentations and google but found no page to list all valid nuget target directories. I have a situation in which I need to add multiple multi-platform projects in one nuget package using bait and switch pattern but I need a complete list of supported nuget target directories to make the nuspec file.
Even pages referenced in documentation about PLC profiles ar

[2016-10-14 19:14] emgarten commented on #2993
This has been added for CLI MSBuild, it still needs to be added to desktop MSBuild

[2016-10-14 19:26] TheRealPiotrP opened #3663 "dotnet restore crashing every time on every project. Message: The given path's format is not supported"
Whenever I go to any project and run `dotnet restore` I get error 'The given path's format is not supported'.

Here is the output with --verbosity Debug
http://pastebin.com/iqgMsQWu
- It says 4 concurrent jobs but I have only 2 projects. Running it with --disable-parallel didn't fix it.
- Deleting %userprofile%.nuget didn't fix it.
- Deleting everything in %temp% didn't fix it.
- System restart di

[2016-10-14 19:30] TheRealPiotrP opened #3664 "dotnet.exe restore does not work with basic authentication on linux"
## Steps to reproduce

We have a private repo which needs authentication. I would like to build up an ubuntu build agent host. Right now it can't restore the package from our nuget repository. My nuget config looks like this:

[code]

The nuget server is hosted in IIS and Windows authentication and Basic authentication are enabled. If i try it with curl i can access it with a local user or with my

[2016-10-14 19:34] MrTortoise commented on #3419
I get the same issue ... no xamarin

[2016-10-14 19:36] joelverhagen commented on #3419
Hey @MrTortoise, could you describe your steps to reproduce this issue? Also, what version of Visual Studio and NuGet do you have?

[2016-10-14 19:40] joelverhagen opened #3665 "dotnet pack: packing projects with package references results in duplicate import warning"
## Steps
1. Extract this project: [msbuild.zip](https://github.com/NuGet/Home/files/530340/msbuild.zip)
2. Run `dotnet pack3` on ProjectA.
## Expected

Pack should succeed with no warning.
## Actual

Warnings about `NuGet.Build.Tasks.Pack.targets` being imported multiple times.

[code]
## Environment

`NuGet.Build.Tasks.Pack/3.6.0-rc-1984`
`Microsoft.NET.Sdk/1.0.0-alpha-20161013-3`

`dotnet --info

[2016-10-14 19:46] rrelyea commented on #3665
restore has same bug.

[2016-10-14 19:48] rrelyea commented on #3663
preview2 bug? workaround?

[2016-10-14 19:51] rrelyea commented on #3664
Can you please help @kemyke

[2016-10-14 19:54] MrTortoise commented on #3419
sure

Reproduction steps i am not clear on. Now i get it whenever i open a new solution. The workaround with solution closed open package manager settings click ok has worked at least once.

I had just forked this:
https://github.com/Pxtl/XmlCommentMarkDownGenerator

with the intent of adding <see> and <seealso>, solutions i had already open were fine. Closing and reopening is when i noticed.

Tri

[2016-10-14 20:03] kingerja opened #3666 "Nuget double-writes packages causing access denied in builds."
in version 3.5.0.1938 of nuget.exe

If you run nuget restore on a packages.config that contains the same nuget package simultaneously then then each nuget process will try to install the nuget package.

I will add a comment to the repro steps and screen shot of procmon trace.

[2016-10-14 20:06] kingerja commented on #3666
\joshking-main\dump\nuget\issues\3666
If you run start procmon and run repro.cmd locally it should repro.
See procmon.jpg for procmon info.
See cmdoutput.jpg for command output.

[2016-10-14 20:09] kingerja commented on #3666
This is a regression of
https://github.com/NuGet/Home/issues/2628

[2016-10-14 20:11] yishaigalatzer commented on #1985
Great, thanks so much for validating.

[2016-10-14 20:15] emgarten commented on #3663
@piotrpMSFT do you have any unusual sources in a nuget.config file that is being used by dotnet restore?

[2016-10-14 20:22] TheRealPiotrP commented on #3663
I'll defer to @HristoKolev who opened the bug, which I migrated to this repo.

[2016-10-14 20:38] rrelyea commented on #3666
@zhili1208  - not yet approved for 3.5.0-rtm, but please investigate

[2016-10-14 20:44] falahati commented on #1985
Yaeh, well but there is an other problem.
If executed from target file, nuget fails in multiple ways:
- It cant find the csproj file (3.6)
- But when csproj file address is added to the target file, then it cant find the nuspec file next to csproj file (3.6)

Second problem is not in 3.4 version. Currently I am going with 3.4 version because the second problem is a lot more important. However, 3.4

[2016-10-14 21:27] Kemyke commented on #3664
What other info should i provide to help the investigation?
I experienced this behavior when i use the 'dotnet restore' command, so i am not sure if this is the good forum for my problem.

[2016-10-14 21:47] kingerja commented on #3666
Please note this appears to work in 3.5.0.1737.

[2016-10-14 21:58] choikwa commented on #2068
I know this is closed by design, but is there a replacement for locking down which version of packages are currently in use instead of manually having to edit project.json? This is important for keeping identical state across different environments. It would be nice to generate something like 'project.lock.json' but for current configuration which can be reused as 'project.json'.

[2016-10-14 22:24] tebeco commented on #2393
If you can provide me an url of the nuget.exe cli i'll try monday at work
A full url of the exe ^^

[2016-10-14 22:25] tebeco commented on #2393
So far nuget restore works but not dotnet restore
So maybe the version of dotnet could help too

[2016-10-15 00:21] #3629 closed, assigned to mishra14

[2016-10-15 05:37] HristoKolev commented on #3663
Yes, that was it. I had this entry in my nuget.config file that was causing problems:

[code]

I removed it and now everything works fine. Thank you very much.

[2016-10-15 06:49] sandersaares commented on #3419
This started happening for me on Friday, whenever opening NuGet package manager, without any relation to Xamarin projects. However, updating Xamarin to latest stable build _did_ fix it!

[2016-10-15 07:20] mishra14 commented on #3629
@v-luzh : I have fixed this in https://github.com/NuGet/NuGet.Client/pull/935

Please test with dev build 1985 to validate.

[2016-10-15 09:36] mrward commented on #3662
The target frameworks are documented on the nuget.org site:

https://docs.nuget.org/ndocs/schema/target-frameworks

This includes the PCL profiles, .NET Standard and the Xamarin frameworks.

[2016-10-15 09:36] #3662 closed, assigned to nobody

[2016-10-15 14:38] kzu commented on #3419
That's because our workaround was to force load the nuget extension on
solution load.

On Sat, Oct 15, 2016, 3:49 AM Sander Saares notifications@github.com
wrote:

##

/kzu from mobile

[2016-10-15 17:37] bednart commented on #3632
So my final solution is to set 3 part version in nuspec and write this version to AssemblyInfo.cs during build. Thanks for help.

[2016-10-15 17:37] #3632 closed, assigned to nobody

[2016-10-15 22:59] MatthewSteeples commented on #3419
Starting to see this problem myself today. Have not got Xamarin installed but _did_ install Service Fabric earlier on today. Uninstalling the Service Fabric Tools for Visual Studio stops the error from occurring. I'm on the NuGet beta channel (which is showing version 3.5.0) in VS 2015

[2016-10-16 01:44] Rivierg opened #3667 "Fail to install Neo4j.Driver NuGet on a .NetPortable solution"
Hello, I have an issue when trying to install the Neo4J.Driver NuGet.

I have a PCL project, and 3 platform projects for Android, iOS and UWP. in VS2015.
I am trying to install the Neo4J.Driver NuGet, but I get the following errors. However it seems to have installed on UWP .
-  On the PCL:

-  On Android:

My NuGet Package Manager version is My NuGet version is 3.4.4.

I have these targets in the

[2016-10-16 19:52] vikas0380 commented on #2868
Facing the same problem

@rrelyea @joperezr   tried the 3.5 beta from the link provided by you, still same error

[2016-10-16 21:16] ohadschn commented on #352
Downsizing is suboptimal. There is no escape from separate files if you want decent quality. Even the official purple ".NET" icon doesn't look that great in its downsized 32x32 form.

Having the option to only provide one size and have the rest downsized is great, as long as there's a way to provide files for the different sizes separately.

[2016-10-16 21:21] phil000 commented on #3419
Got this error as of today, log attached

[ActivityLog.xml.txt](https://github.com/NuGet/Home/files/532115/ActivityLog.xml.txt)

Edit: Fixed it by uninstalling NuGet Package Manager 3.4.4 and installing 3.3.0.

[2016-10-17 10:20] ias0nas commented on #2740
Any updates on this?
I am getting the same issue when trying to build a .net core project with TeamCity.

[2016-10-17 13:15] Barryrowe commented on #2393
We are just using the bundled version with visual studio 2015 update 3, with the above .net core tools package and nuget extension installed.

The nuget extenstion installed on my machine is: 3.5.0.1484

We are not directly calling the cli, that is happening through the install process with a .net core based project in Visual Studio 2015. The error lines above show that this underneath calls dotne

[2016-10-17 14:11] kzu commented on #520
/cc @migueldeicaza this is a blocker for proper NuGetizer support on VS2015.

[2016-10-17 14:47] gerritgoetzen opened #3668 "Content only packages"
Nuget complains on installing _content only_ packages that are created without any assembly to a reference. The package is created from a _convention-based working directory_ with only a _build_ folder. The same problem seems to occur with a _content_ folder only ([reference](http://stackoverflow.com/q/37064746/2271552)).

The installation (NuGet Package Manager for VS 2015 v3.4.4.1321) fails with

[2016-10-17 15:33] rrelyea commented on #3659
@KFR42 - what version are you using now? What version last worked as your desire?

[2016-10-17 16:23] shuruev commented on #3419
Having the same issue, would be glad to get it fixed someday.
Thanks!

[2016-10-17 16:35] TheRealPiotrP commented on #3663
Thanks @emgarten and @HristoKolev

[2016-10-17 16:35] #3663 closed, assigned to emgarten

[2016-10-17 17:10] joelverhagen commented on #3419
Hey guys, thanks for all the reports of this issue. I am working on getting a fix into `dev` right now. In the mean time, could you try this private build out for Visual Studio 2015 (dev14)?
https://dotnet.myget.org/F/nuget-vsix/vsix/NuGet.0d421874-a3b2-4f67-b53a-ecfce878063b-3.6.0.2363.vsix

You will need to uninstall the old version of NuGet first before trying this one.

[2016-10-17 17:52] zhili1208 commented on #3666
@kingerja  I tried your repro, but I couldn't get the same procmon log, on my machine, only one process wrote files to disk.

[2016-10-17 17:56] joelverhagen opened #3669 "XAML designer crash while uninstalling a package"
Seems to be related to `NuGet.Common.ActivityCorrelationContext.StartNew()`. VS bug number 275449.
## Steps to reproduce
1. Open dev15.
2. Create a C# WPF project.
3. Right click "References" node and select "Manage NuGet Packages...".
4. In "Browse" tab, select "Newtonsoft.Json" package and install any version.
5. Open Package Manager Console, type "Uninstall-Package Newtonsoft.Json".
## Expected

[2016-10-17 17:57] joelverhagen commented on #3669
@rrelyea, @yishaigalatzer: not sure what is the priority of this. Some investigation was done by the XAML designer team and we need to do more investigation on our side.

[2016-10-17 19:01] zhili1208 commented on #3666
Here is the log:
there are two nuget.exe processes, PID 28536 and PID 16676
![writefile](https://cloud.githubusercontent.com/assets/7131513/19451182/2a0e7a56-9461-11e6-8b63-cc8191914345.PNG)

![readfile](https://cloud.githubusercontent.com/assets/7131513/19451198/385fbf7a-9461-11e6-952e-b1d29ef5fa7a.PNG)

NuGet.exe 28536 wrote all files to disk and NuGet.exe 16676 only read files, there are no wri

[2016-10-17 19:11] andreesteve commented on #3419
Hi,
In my case, whenever I added a specific project (Azure Service Fabric App project) to my solution I would get a message box with a path to a log file. In the log file, I would see the exception described in this issue - the only difference being the component namespace.

I tried @joelverhagen 's private package and it does stop the error message from popping up when I add the project now.

[2016-10-17 20:14] wpostma commented on #2468
This is a good example of the system design and the users being "incommunicado". It seems odd to me that Visual Studio has all these different "command console" like windows, one is designed only for install-package and similar cmdlets.  And developers who package with nuget (and don't just install with nuget) and need to use nuget.exe spec and nuget.exe pack get a second rate experience because o

[2016-10-17 20:29] kingerja commented on #3666
That's not good.

I retried my same repro in the same window running the same command and I am unable to repro it as well.  Leading me to suspect either something with my machine state has changed.  my repro.cmd previously just used nuget instead of nuget.exe so I went and tried all the different versions of nuget I am running on my machine to see if it was pulling a bad version for what ever reas

[2016-10-17 20:34] yishaigalatzer commented on #2468
@wpostma that's a great question, I wasn't around when it happened initially so I can only speculate like you.

As for the pack comment, we are introducing pack as a first class citizen in the next version of visual studio (without the need to have nuget.exe on the machine).

[2016-10-17 20:36] wpostma commented on #2468
that's fabulous. If it was my product I'd drop the Nuget "pseudo-powershell window where you can only run install-package" and put all the commands in ONE all-purpose-powershell-cmdlet-runner window. I would have powershell cmdlets for pack and push and every other verb that nuget supports, and powershell commands for every other thing (including something that would replace msdeploy).

Mantra: "D

[2016-10-17 20:44] yishaigalatzer commented on #2468
That's a noble goal, and sounds great. The reason for the powershell window is that it runs **within** the visual studio host and can interact with project system. That's just not easily supported from an external command line.

Our goal is a little bit different, we want to unify the nuget.exe scenarios to work without any dependency on visual studio, and have the ability to run x-plat on unix/ma

[2016-10-17 21:10] wpostma commented on #2468
Ah yes, that's a good goal.  I don't think very many people who use "Install-Package" from that window know what it does and how it works, thanks for the explanation.

[2016-10-17 21:17] zhili1208 commented on #3666
one question, the path "D:\NugetPackages\2014-06-23\" is repository path, right? what's the global packages folder path?

[2016-10-17 22:25] mishra14 opened #3670 "Migrate from referencing MS.VS.Services.Client to MS.VS.Services.Client.Interactive"
Tracking internal bug 278033

[2016-10-17 22:34] #2735 closed, assigned to nobody

[2016-10-17 22:47] kraigb commented on #3366
Just to note, Steven, I'm investigating how this is supposed to be used, because so far as I can tell from tests, $references$ token doens't do anything. In the meantime I'll be removing it from the docs altogether.

[2016-10-17 22:50] kraigb commented on #1879
I've finished doing a full revision pass of the docs which should address most of the inconsistencies. I'll be making another full pass to pick up stragglers. Let me know if you see specific ones while this issue is open. I'll also add contribution notes as part of that second pass.

[2016-10-17 23:04] joelverhagen commented on #3669
Spoke to XAML team offline, we're going to take the fix for 3.6 RC. We're going to stop storing a NuGet type in the call context. Instead we'll just put a GUID (which is the sole property of the type we're putting in there today) in there.

[2016-10-17 23:06] joelverhagen opened #3671 "Remove NuGet.Core dependency from VS extension"
Today there is some code in NuGet.Credentials that depends on NuGet.Core. This is not necessary for the VSIX and can be removed.

[2016-10-17 23:06] joelverhagen commented on #3645
The main effort here is porting `nuget.exe list` over, which is non-trivial. There is a smaller bit of work just effecting the VSIX. Tracked separately here: https://github.com/NuGet/Home/issues/3671.

[2016-10-17 23:08] chlowell opened #3672 "Restore crash due to unresponsive feed and unavailable package"
When an unresponsive feed is configured and a package can't be found on any responsive feed, restore repeatedly retries the unresponsive feed before eventually crashing with a `NuGet.Protocol.Core.Types.FatalProtocolException`.

For example, restoring a simple project with two dependencies begins as usual:

[code]

After the first timeout, NuGet requests every dependency from the unresponsive feed

[2016-10-17 23:16] kingerja commented on #3666
That is the directory the packages are installed to.  So that error is saying that a project already read the references in that folder and the package was installed again (overwritten) at a later time.

That symptom may be related to the procmon doublewrite I was seeing and it may be an issue with the package re-installing when it shouldn't which would be a different issue.  It is just this issue

[2016-10-18 00:51] rrelyea opened #3673 "DotNetCliToolsReference using deps.json"
Spec: https://github.com/NuGet/Home/wiki/DotnetCliToolReference-restore

[2016-10-18 01:28] jeffsaremi commented on #3419
VisualStudio is badly foo barred. Open VS with no Solution. Open Package Manager Console. Now open a solution. The Console window asks you to restore packages. Click Restore. It appears that the packages get restored. Then nothing shows up in the SOlution Explorer window. Absolutely nothing. And if you try to open code say from ClassView then exceptions will be thrown.

[2016-10-18 01:40] joelverhagen opened #3674 "Get-Package in PMC does not cache credentials"
## Steps
1. Open VS, open PMC
2. `Get-Package -ListAvailable -Source http://nugetserverendpoint.azurewebsites.net/nuget`
3. Enter username and password
4. `Get-Package -ListAvailable -Source http://nugetserverendpoint.azurewebsites.net/nuget`
## Expected

No auth prompt the second time. Credentials should be cached.
## Actual

Prompted again.
## Affected versions

`dev`, 3.5.0-rtm have this proble

[2016-10-18 01:44] joelverhagen commented on #3674
The other PMC commands should be checked as well for the same problem.

[2016-10-18 01:52] joelverhagen commented on #3672
Could you also post your project.json for this restore?

[2016-10-18 01:56] mishra14 opened #3675 "Update package versions in facade project systems to release versions"
We should update package versions to release version numbers in [NuGet.Clients/VisualStudio.Facade/VisualStudio15.Packages/project.json](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/VisualStudio.Facade/VisualStudio15.Packages/project.json)

[2016-10-18 02:07] YipYipX4 opened #3676 "No Way to Control Order of Sources with nuget sources"
I have a network path where I have cached numerous *.nupkg files (from the public gallery) for other developers in my department with slow Internet but fast LAN access.  I'd like to add this source at the top of the list so that during package restore, packages will be taken from the cache first (if available).

The command-line tool does not seem to offer any way to accomplish this.  Sources are

[2016-10-18 03:33] jmevel commented on #2350
Same issue for me, this is driving me crazy. By any chance did you solve it since March?

[2016-10-18 06:27] sriniketana commented on #2350
@koenigsbier I took help from this suggestion - https://github.com/NuGet/Home/issues/1221#issuecomment-134379269
Use corflags to generate arch independent version of the DLL.

[2016-10-18 10:00] alfein opened #3677 "Restoring a solution with a custom nuget.config file ignores nuget.config files from solution dir"
We are doing

Nuget restore -configFile {path-to-our-config-file} {rel-path-to-sln-file.sln}

And nuget cli client version 3.4.4 ignores the nuget.config file in the solution directory.

I expected nuget would merge repository lists from both files.

[2016-10-18 11:22] elv1s42 opened #3678 "Nuget pack command does not include all files"
Hello.

I've created nuspec file for my C# project.

[code]

I want to iclude all .dll failes and one .config file.
When I am opening this .nuspec file with NuGet Package explorer everything is fine:
![image](https://cloud.githubusercontent.com/assets/6689884/19475617/b9da93cc-953d-11e6-9356-c53d2451db16.png)
I can see all files inside 'package contents'.
But when I run `pack` command, there are n

[2016-10-18 16:37] chlowell commented on #3672
Sure, it's the `dotnet new` template with an unsatisfiable dependency:

[code]

[2016-10-18 16:43] yishaigalatzer commented on #3678
I believe that because you are packing the csproj and not the nuspec the files section is ignored and the nuspec is used only for metadata.

Also note that you do not want to pack newtonsoft.json inside your package, you should depend on newtonsoft.json package instead.

@rohit21agrawal can you provide with guidance on how to include extra files from the output and @karann-msft can you point to ap

[2016-10-18 16:50] yishaigalatzer commented on #3678
Talking to @rohit21agrawal it seems like we fixed this issue, he is going to jump here and provide the build where this starts working as you expect.

[2016-10-18 16:53] yishaigalatzer commented on #3676
This is by design, sources are unordered and they are searched by order of the quickest response rather than by order of how they show up in file.

[2016-10-18 17:02] yishaigalatzer commented on #3672
This seems to be the correct behavior, restore should fail when it can't find a package.
We could however improve the cancellation of a request if it was indeed fully satisfied by other feeds.

So here is what I think it should do:
1. If a package was found and downloaded, the unresponsive feed retries should be cancelled. This is the expected behavior.
2. The request should fail as it is now, but

[2016-10-18 17:09] yishaigalatzer commented on #3677
NuGet does not merge configs when you specify a -configFile, this is the expected behavior.

See:
https://github.com/NuGet/Home/issues/2812
https://docs.nuget.org/ndocs/consume-packages/configuring-nuget-behavior
http://stackoverflow.com/questions/37306281/nuget-configfile-option-supersedes-programdata-config-file

[2016-10-18 17:09] #3677 closed, assigned to nobody

[2016-10-18 17:09] rrelyea commented on #3653
What version of VS and NuGet are you using?

[2016-10-18 17:09] yishaigalatzer commented on #2815
Documents are up to date - https://docs.nuget.org/ndocs/consume-packages/configuring-nuget-behavior

[2016-10-18 17:09] #2815 closed, assigned to nobody

[2016-10-18 17:20] yishaigalatzer commented on #2533
@emgarten I believe you already tackled this one, can you please validate my assessment and update the issue accordingly?

[2016-10-18 17:21] wpostma commented on #2443
What is going on? Is Nuget.exe 3.4.4 and Visual Studio 2015 and the latest Nuget.Server v2.11.2.0 NOT compatible?

I thought nuget.server 2.11.x was api v3 compatible but visual studio still gives this kind of error:
`The V2 feed at 'http://something.mycompany.biz/NugetServer/nuget/Packages/Search()?$filter=IsAbsoluteLatestVersion&searchTerm=''&targetFramework='net45'&includePrerelease=true&$skip=

[2016-10-18 17:23] yishaigalatzer commented on #2145
Can we follow up on the state of this for RTM?

[2016-10-18 17:23] #1857 closed, assigned to nobody

[2016-10-18 17:24] yishaigalatzer commented on #1857
Implemented as a prototype, we will address the change to go to <packagereference>

[2016-10-18 17:26] wpostma commented on #1756
Currently it seems Visual Studio doesn't work with Nuget V2 feeds provided by a home-brew "new project with nuget.server 2.22 added".

[2016-10-18 17:26] yishaigalatzer commented on #1810
@diryboy coming back very late to the discussion. You can restore with a -configfile parameter and provide the packages folders as the only source or with --ignore-failed-sources

[2016-10-18 17:29] yishaigalatzer commented on #1756
I would start by making sure I have the latest nuget.server installed, along with the latest nuget.core as well as latest nuget extension for visual studio. Things do work and we regularly test it, so that would be a good first step to make sure "home-brew" isn't stale ;)

If that doesn't work can you please open an issue on the nugetgallery repo with exact details of what doesn't work?

Please in

[2016-10-18 17:41] yishaigalatzer commented on #1704
https://github.com/NuGet/Home/issues/3289

[2016-10-18 17:41] #1704 closed, assigned to nobody

[2016-10-18 17:45] #1523 closed, assigned to nobody

[2016-10-18 17:46] yishaigalatzer commented on #1471
@emgarten can you take a look and make a recommendation?

[2016-10-18 17:48] yishaigalatzer commented on #1035
Done

[2016-10-18 17:48] #1035 closed

[2016-10-18 17:49] chlowell commented on #3672
That sounds good to me. I think the problem here is the difficulty of debugging. Restore takes a long time to fail, the NotFound response gets buried under thousands of lines of timeouts and unnecessary re-requests to the unresponsive feed, and the `FatalProtocolException` is misleading.

`--ignore-failed-sources` doesn't fail fast but at least ends with a better error:

[code]

[2016-10-18 18:15] elv1s42 commented on #3678
Thanks @yishaigalatzer !
The main thing that I need is to able to create NuGet package with `.dll.config` file.
In my case, I just need one dll (Ghpr.Core.dll) and one config file (Ghpr.Core.dll.config).
Newtonsoft.Json is a dependency, and it installs correctly.

When I am trying to pack `.csproj` file I expect `.config` file to be included into `.nupkg`

[2016-10-18 18:16] alfein commented on #3677
According to your docs, https://docs.nuget.org/ndocs/consume-packages/configuring-nuget-behavior

You would be merging configs

When nuget.exe is run from the command line or run implicitly within Visual Studio, it loads settings from config files in the following order:
1.    Files in %ProgramData%\NuGet\Config starting at this top folder and iterating down through the {IDE}{Version}{SKU}\ subfol

[2016-10-18 18:19] yishaigalatzer commented on #3677
Read the top of the doc, it clearly says 3 doesn't get merged. Can you point to the exact location in the doc where you see the disagreement? I'll make sure it's updated immediately

[2016-10-18 18:21] yishaigalatzer commented on #3677
Ok, I see the where the document is confusing, I'll update it to be more clear @karann-msft

[2016-10-18 18:22] alfein commented on #3677
OIC,  the doc is the problem.

But it worked before.  Was this an intentional change?  Our build server has predefined list of repos configured, but some projects may choose additional repos.  How would we support it?

I suspect your code is wrong, not the doc.

[2016-10-18 18:30] yishaigalatzer commented on #3677
I'm sorry for the inconvenience this is causing you. When we looked at the behavior we tried to optimize across multiple customers and made the choice to take a breaking change. Thanks for being understanding. I updated the doc to make is clearer, please let me know if I missed anything.

The reason for the change is that typically on a build machine you want to have zero impact by other files tha

[2016-10-18 20:07] zhili1208 opened #3680 "[Mono Issue] Http Put request doesn't work with redirect URL"
this is for tracking this mono bug: https://bugzilla.xamarin.com/show_bug.cgi?id=45667

[2016-10-18 20:44] rrelyea commented on #3666
[‎10/‎18/‎2016 1:39 PM] Josh Kingery:
So the issue is the long running builds I have which were showing the build cop error are broken at the moment so I can't use them for a repro.
The local repro doesn't work for me any more either.  Leaving me to conclude that this issue is likely a transient issue if not just an issue between my keyboard and chair.
Which would dictate the issue should probably

[2016-10-18 20:44] #3666 closed, assigned to zhili1208

[2016-10-18 20:49] rrelyea commented on #3419
jeffsaremi - can you explain what version you have installed, and how you got into that state?

[2016-10-18 20:55] jeffsaremi commented on #3419
this is what I had:
Microsoft Visual Studio Enterprise 2015
Version 14.0.25425.01 Update 3
Microsoft .NET Framework
Version 4.6.01586

I don't know how i got to that state
Problems started with getting the error which is the subject of this thread (GetFullVsVersionString must be called on the UI thread) suddenly out of nowhere.
Reading through some of the comments here, i thought it would be inter

[2016-10-18 21:02] rrelyea commented on #3419
@jeffsaremi - great. Glad you are in a good state again. thx.

[2016-10-18 21:43] joelverhagen commented on #3664
@Kemyke, I tried this out on both Ubuntu and Windows and it works out for me. What's the directory structure? What is your project.json? What's your directory structure (in particular, where is the NuGet.config file in relation to your project)? Where are you executing `dotnet restore`?

[2016-10-18 21:49] #3419 closed, assigned to joelverhagen

[2016-10-18 22:03] maxgax opened #3681 "Unable to load the service index for source https:*"
## Details about Problem

NuGet product used (NuGet.exe):

NuGet version 3.4.4.1321

OS version Linux version 2.6.32-642.3.1.el6.x86_64:

Worked before? If so, with which NuGet version: No
## Detailed repro steps so we can see the same problem
1. Run mono NuGet.exe install ... -Source "https://www.nuget.org/api/v2"
2. Output is
   Feeds used:
   https://www.nuget.org/api/v2

Attempting to gather d

[2016-10-18 22:46] #3671 closed, assigned to joelverhagen

[2016-10-19 01:40] serbrech opened #3682 "VS Package Management Console won't work on Windows Server 2016 (missing Powershell-V2"
## Details about Problem

NuGet product used : Package Manager Console
NuGet version (3.4.4-rtm-final):
VS version : VS2015 update 2
OS version : Windows Server 2016 TP5
## Detailed repro steps so we can see the same problem

The package management console requires Powershell-V2 but that is not available anymore from Win Server 2016, making nuget in visual studio useless...

Can we help somehow on

[2016-10-19 02:07] rrelyea opened #3683 "contentFiles support in nuget generated targets file"

[2016-10-19 02:11] rrelyea commented on #2993
is the appropriate issue opened in sdk or cli or ???, to take it from here?

[2016-10-19 02:28] #3614 closed, assigned to jainaashish

[2016-10-19 02:32] rrelyea opened #3684 "Update dev branch version to 4.0rcX"
Once we know if X == 0 or X == 1, we'll assign this change.
- Artifacts that are built by dev branch need to have that version.
- WSR-TC should also be updated as needed to make the 1ES package version be version 4.0.0, instead of the current 3.5.0
- more?

[2016-10-19 02:35] rrelyea opened #3685 "Switch NuGet version number to 4.0rc"
- update dev branch version to 4.0rc, instead of the current 3.6 rc
- update wsr-tc so that 1es package version is 4.0.0, instead of the current out of sync 3.5.0
- more?

[2016-10-19 02:37] #3684 closed, assigned to nobody

[2016-10-19 03:16] emgarten commented on #2993
@rrelyea CLI work is done, this just needs to go into the desktop MSBuild now.

[2016-10-19 05:50] rlipovski commented on #2443
@emgarten thanks for the information!

[2016-10-19 06:02] joostvz commented on #3653
I'm using VS 2015 Update 3, NuGet package manager is on version 3.4.4.1321.

[2016-10-19 08:50] emgarten commented on #2533
Fixed as part of https://github.com/NuGet/Home/issues/3577

Use `nuget.exe restore foo.csproj -recursive`

[2016-10-19 08:50] #2533 closed, assigned to emgarten

[2016-10-19 09:20] damianh commented on #2869
Experiencing same here with `3.4.4-rtm-final` . I have no V2 sources registered.

![image](https://cloud.githubusercontent.com/assets/57436/19512743/ab34c986-95ed-11e6-8b67-62d2ca7fac2f.png)

`nuget install` doesn't prompt for credentials.

[2016-10-19 09:27] mmarjano commented on #2978
It's not just a matter of going offline. I've got my company nuget server configured, and it's not publicly available. In order for nuget package restore to work, I need to be connected to the company VPN even if I'm not attempting to use any of packages hosted there (i.e. doing something unrelated to my employer, like open source development). This is very inconvenient...

[2016-10-19 09:40] v-luzh opened #3686 "[Test Failure] Build error occur after installing package ‘FSharp.Core’ to F# Console Application template"
**Repro Steps:**
1.  New an F# Console Application template.
2.  Build the project, no error.
3.  Open ‘Manage NuGet Packages…’ and click ‘Browse’ tab.
4.  Search and install package ‘FSharp.Core’.
5.  Build the project again.

**Expected Result:**
No error occur after installing package ‘FSharp.Core’ to F# Console Application template.

**Actual Result:**
Build error occur after installing packag

[2016-10-19 09:50] damianh commented on #2869
Bug remains in `v3.5.0-rc1`.  cc @harikmenon @karann-msft

[2016-10-19 09:57] peterlai-roboops commented on #1365
This is pretty bad design, for example we name our version with the branch it came from, so it makes tracking easier. This is deemed a pre-release version as it has letters in it, and this means we can't package another with an internal package.

[2016-10-19 10:18] jensotto commented on #1401
We also have the same issue:

Visual Studio 2015 Update 3 (14.0.25431.01)
TFS 2015 Update 2.1 (14.95.25229.0)
NuGet Package Manager (3.5.0.1484)

[2016-10-19 10:50] eoinahern commented on #3419
developing xamarin apps in visual studio is a nightmare. everytime i pull in a  change something breaks in vs.

[2016-10-19 12:14] raffaeler opened #3687 "Net4.x referencing netstandard DLL in the same solution"
The VS tooling is not yet finalized but I want to make sure that this scenario is addressed because it is critical to many large projects.

Simplified scenario:
- Netstandard DLL with some classes
- Net4.x (classic) App or DLL referencing the Netstandard DLL in the **same** solution
  This is going to be very popular when customers will begin migrating code to NetCore

The current tooling does **n

[2016-10-19 13:18] Kirua88 opened #3688 "Consider: Allow clearing a specific package from NuGet cache(s)"
Hello

Is it possible to clear cache of only one package ?
Actually I did the nuget locals global-packages - clear

[2016-10-19 13:51] mrward opened #3689 "Not possible to encrypt/decrypt passwords when running with Mono on the Mac"
## Details about Problem

NuGet 3.6.0-rc-1952

The NuGet.Configuration.EncryptionUtility class throws exceptions when running with Mono on the Mac:

[code]

The latest version of the EncryptionUtility class has an explicit check to see if it is running on Windows. Previous versions of this EncryptionUtility class, in NuGet 3.5 and earlier, do not have this check and work with Mono on the Mac.

Xam

[2016-10-19 15:13] NathanTheGr8 commented on #2468
This may not be the best place for this but I can't find it anywhere else and this thread is the top google result for "add nuget to path environment variable".
I don't know how to do that and all your offical [install guide](https://docs.nuget.org/ndocs/guides/install-nuget#nuget-cli) for nuget cli says is
"If desired, add that location to your PATH environment variable so you can NuGet from anyw

[2016-10-19 15:41] wpostma commented on #2468
Hi Nathan, it depends on whether you're talking about a CI server (build server), or your PC.

On your own PC, I would suggest you use this tutorial:

http://superuser.com/questions/444109/regarding-the-way-to-add-a-directory-to-the-path-environment-under-windows

This is a very basic task that any software developer and even any intermediate level windows user should know. As a developer you will

[2016-10-19 16:29] NathanTheGr8 commented on #2468
I was talking about about the PC version, also
"This is a very basic task that any software developer and even any intermediate level windows user should know."
regardless of if you think it was basic, it wasn't to me. I am coming from a linux background and I am trying to incorporate nuget for my work powershell scripts. I am familiar with path variables for linux but most installers do this for

[2016-10-19 16:47] natemcmaster opened #3690 "Updating package with VS GUI removes "type" attribute"
## Details about Problem

NuGet product used:  VS UI
NuGet version: 3.5.0.1484
dotnet.exe --version: 1.0.0-preview2-1-003153
VS version: enterprise 2015, update3
## Repro
1. Use xproj/project.json with dependencies that aren't the latest, and that have "type": "anything" defined.

[code]
2. Upgrade package with VS GUI

**Result**
Package upgrade to new version, but it removed the "type" attribute.

[2016-10-19 16:49] #3669 closed, assigned to joelverhagen

[2016-10-19 17:08] WimBoom opened #3691 "Is there a possibility to automatically add file references from a NuGet v3 package to .csproj file?"
We like to move from NuGet v2 (packages.config) to NuGet v3 (project.json). But after a investigation we have a showstopper. We use a template NuGet package (on our own private NuGet feed). This template NuGet package is installed one time on setup of the project (will never be updated in the project, and we make project specific changes on the template NuGet files after install of the package). W

[2016-10-19 17:14] wpostma commented on #2468
Hi Nathan, I'm just a community member like yourself. Imagine someone goes to a random github project and asks "how do I change my login shell from bash to ksh", I'm just pointing out that it's a basic system admin task. Now you DO know. Welcome to the club.  Next time you need to know "how to do X on windows, for new windows people", try superuser.com

You also should be going in there and removi

[2016-10-19 17:37] rrelyea commented on #3690
@joelverhagen  - didn't we address this? or is this slightly different?

[2016-10-19 17:40] joelverhagen commented on #3690
The fix is not in `3.5.0-beta2` (build 1484). It is in `3.5.0-rc1`. @natemcmaster, retry this on `3.5.0-rc1` from:
http://dist.nuget.org/index.html

[2016-10-19 17:44] natemcmaster commented on #3690
I tried with 3.5.0-rc1 (3.5.0.173) and it's still happening.

[2016-10-19 17:45] joelverhagen commented on #3690
Thanks for checking @natemcmaster, I'll investigate.

[2016-10-19 17:49] rrelyea commented on #3686
@zhili1208 - can you please dig into this issue?

[2016-10-19 17:49] kzu commented on #3419
@eoinahern as showcased in this bug, it's not always Xamarin's fault, with all the complex matrix of dependencies we have. But as you can also see here, we're working closely with other teams to improve the experience.

If you're facing other issues, I'd definitely like to know. Please do report at bugzilla.xamarin.com and feel free to ping me at kzu at microsoft dot com or @kzu on Twitter.

Thank

[2016-10-19 18:06] NathanTheGr8 commented on #2468
I agree that this probably wasn't the best place to post my question but like I said after trying multiple ways of phrasing my question this was the top result and the thread was active just 2 days ago so I figure, hey why not. I have opened [an issue](https://github.com/NuGet/NuGetGallery/issues/3294) with the nuget gallery site and will see if they can update the guide to be more detailed. I hop

[2016-10-19 18:08] mhverbakel opened #3692 "When packing, only dependencies from packages.config that are in the cache are included. (NuGet.exe)"
When packing a package, the dependencies are automatically taken from the `packages.config` file: `Found packages.config. Using packages listed as dependencies`. This only works for packages that are included in the `packages`-cache directory.

Expected behavior would be that all dependencies from the `packages.config` are imported, instead of only the downloaded ones.

---

NuGet product used: Nu

[2016-10-19 18:13] rrelyea opened #3693 "As part of CI, propagate nuget source to local source server"
Per asp.net tools team request.

[2016-10-19 18:22] joelverhagen commented on #3303
This needs to be ported to the `release-3.5.0-rtm` branch. It is currently only in `dev`.

[2016-10-19 18:23] joelverhagen commented on #3303
@rrelyea, waiting on approval.

[2016-10-19 18:40] yishaigalatzer commented on #3691
if the files are never changed you can do that. You need to put the files in the contentfiles section instead of content.

At the moment these files do not show up in the tree (but are included), we are working on making them visible in the next version of visual studio. #3683 will resolve this issue going forward.

Here is a blog discussing this issue:
http://blog.nuget.org/20160126/nuget-content

[2016-10-19 18:40] #3691 closed, assigned to nobody

[2016-10-19 18:42] joelverhagen commented on #3690
@natemcmaster, the full fix is in `3.5.0-rtm` (not on dist yet). There was an initial change that fixed a very specific scenario and a follow-up change that covered all updates in VS (all tabs, `Update-Package` in PMC, etc). @rrelyea can speak to release dates and such.

[2016-10-19 18:42] Becklighter opened #3694 "Installing NuGet packages doesn't work when the Package source is "All""
NuGet product used:        VS UI

NuGet version:                  3.5.0.1484

VS version:                        14.0.25424.00 Update 3

OS version:                        win10 Pro v1607 (14393.321)

I don't know the last version this was working in.
1. Set up a second internal Package Source.
2. Right click on a project and select "Manage Nuget Packages..."
3. Check "Package source:", it should

[2016-10-19 19:09] WimBoom commented on #3691
Yes, no problem to close. I had already read http://blog.nuget.org/20160126/nuget-contentFiles-demystified.html and made a ContentFilesExample NuGet. Thanks for the update.

[2016-10-19 19:09] rohit21agrawal commented on #3678
@elv1s42 please try out the latest 3.6.0-rc nuget.commandline build from : https://dotnet.myget.org/F/nuget-build/api/v2/package/NuGet.CommandLine

you will find nuget.exe under the tools folder of the nupkg.

[2016-10-19 19:20] #3607 closed, assigned to mishra14

[2016-10-19 19:29] zhili1208 commented on #3686
We didn't change anything about F#, the breaking change is from this API VSLangProj.References.Add(),

dev14 works well with nuget 3.6.0-RC-1977
dev15 is broken.

the issue is
F# console project referenced FSharp.Core from Gac.
Then nuget installed same dll FSharp.Core from packages folder.

In dev14, NuGet knows this dll is already referenced from Gac and replace FSharp.Core item from csproj with

[2016-10-19 20:17] rocifier opened #3695 "Some packages can't be installed on multiple projects within a solution"
It seems like the latest package types cannot be installed into multiple projects. The error that results when installing to the second project is:

[code]

There is no further error information. Example of a package which breaks on nuget.org feed:

[code]

That package is the simplest one I could find that breaks in .net 4.5 - it literally has no dependencies. This is with the latest visual studi

[2016-10-19 21:14] joelverhagen opened #3696 "Batch update fails from UI when source without the package is first and All source is selected"
## Steps
1. Open Visual Studio 2015 with .NET Core SDK (preview 2 tooling).
2. Create a new .NET Core console app (.xproj).
3. Add a package source that has a package not on NuGet.org (e.g. https://dotnet.myget.org/F/nuget-build/api/v3/index.json).
4. Make sure nuget.org is the first source in the list.
5. Install an older version of that package (e.g. NuGet.Versioning).
6. Switch to the Updates t

[2016-10-19 21:16] joelverhagen commented on #3696
## Workarounds:
1. Make sure the source is first in the list of sources.
2. Update each package individually from the Installed tab.
3. Select the specific package source when on the Updates package

[2016-10-19 21:18] natemcmaster commented on #3690
I expect this is going to cause some confusing when the 1.1 .NET Core upgrade ships. A .NET Core user upgrading a .NET Core app from 1.0 to 1.1 with the nuget GUI is likely to get this error:

[code]

The error doesn't make it clear that the resolution is to put `"type": "platform"` back in.

cc @danroth27 @piotrpMSFT

[2016-10-19 21:34] rrelyea commented on #3690
My guess is that Net Core tools that ship with 1.1 should update to chain install 3.5.0-rtm. Will create internal mail thread.

[2016-10-19 21:34] joelverhagen commented on #3696
## Other project types

| project type | status |
| --- | --- |
| packages.config | unaffected |
| UWP project.json | unaffected |
| PackageReference | unaffected (validated on 2016-10-27) |

[2016-10-19 22:28] joelverhagen opened #3697 "dotnet pack3 always adds exclude="Build,Analyzers" to .nuspec"
## Steps
1. `dotnet new` a .csproj
2. `dotnet restore3`
3. `dotnet pack3`
4. Open up the .nuspec in the produced .nupkg
## Expected

The `Microsoft.NETCore.App` dependency should look like this:

[code]
## Actual

It looks like this:

[code]

[2016-10-19 22:38] rrelyea commented on #2695
this was handled by https://github.com/dotnet/sdk/issues/17
closing.

[2016-10-19 22:38] #2695 closed, assigned to rrelyea

[2016-10-19 22:42] joelverhagen opened #3698 "dotnet pack3 should include XML documentation by default"
This is to match `dotnet pack` functionality.

Today in our pack target we depend on `BuiltProjectOutputGroup` to give us the output DLL and XML. However verbose logging on MSBuild show only the DLL:

[code]

There is a separate thing for XML

[code]

@rainersigwald should XML be in `BuiltProjectOutputGroupOutput`? Or is this intentional and we need to look at `DocumentationProjectOutputGroupOutpu

[2016-10-19 22:48] rainersigwald commented on #3698
I _think_ that is an intentional segregation. But I don't know that design intent for those items is written down anywhere, unfortunately.

[2016-10-19 22:56] danroth27 commented on #3690
@leecow

[2016-10-19 23:15] rrelyea opened #3699 "CI not generating drops for VS"

[2016-10-19 23:36] rrelyea opened #3700 "Mark our VS "15" vsix as a systemcomponent"
https://msdn.microsoft.com/en-us/library/dd393702(v=vs.100).aspx

[2016-10-19 23:39] joelverhagen opened #3701 "dotnet pack3 does extra tag splitting"
## Steps
1. `dotnet new` a .csproj
2. Add some `<PackageTags>` to the .csproj.
3. `dotnet restore3`
4. `dotnet pack3`
5. Look at the tags in the output .nuspec
## Expected

The tags should match the contents of `<PackageTags>`.
## Actual

Semicolons are removed. The pack task should not have these smarts. Just copy the tags as-is in the .csproj to the .nuspec. Granted, the spec about .nuspec talks

[2016-10-20 00:28] rrelyea opened #3702 "Restore nominator API needs to support DotNetCliToolsReferences too."

[2016-10-20 00:33] alpaix commented on #3702
Spec: https://github.com/NuGet/Home/wiki/DotnetCliToolReference-restore

[2016-10-20 05:21] dillipdora1985 commented on #3040
Sorry for the late reply.
I was able to resolve them now. I had to remove all the references of .nuget and then to a rebuild.
It automatically compiled with all the nuget depedencies.

[2016-10-20 05:22] #3040 closed, assigned to nobody

[2016-10-20 06:49] kpanshin commented on #1401
I also have the same issue
Visual Studio 2015 Update 3 (14.0.25431.01)
TFS 2012 Version 11.0.60610.1
NuGet Package Manager (3.4.4)

[2016-10-20 09:53] elv1s42 commented on #3678
Hi @rohit21agrawal

I tried new nuget.exe, and it works as expected:
![image](https://cloud.githubusercontent.com/assets/6689884/19553715/ff49ca5a-96bd-11e6-945d-ba576e593839.png)

Putting some more info for everyone who will need to do the same.
I used this .nuspec file:

[code]

This is a screenshot of cmd run:
![image](https://cloud.githubusercontent.com/assets/6689884/19553878/cc23f9ec-96be-11

[2016-10-20 11:48] mihailik commented on #802
Please reopen, the issue is not solved by the suggested fix (using VS2015).

Most likely the problem is long-running VS sessions, which accumulate lots of data across several days. The once-in-a-while clearance is a bogus fix, unused files should not wait until all the nuget/VS instances quit — that effectively constitutes a HD space leak.

Use cases:
- Developer opens several instances of Visual

[2016-10-20 11:50] mihailik commented on #802
[code]

[2016-10-20 11:50] mihailik commented on #802
[code]

[2016-10-20 11:58] mihailik commented on #1608
nuget `3.4.4.1321` and/or VS2015 `14.0.25424.00 Update 3` still hog gigabytes in cache directory in days.

Please note that 'purge when nothing runs' is not a fix.

Some of us use Visual Studio for day job. Unlike fancy HelloWorld demos at conferences, that means keeping several sessions open for days sometimes weeks. Also there are large CI servers where nuget may need to run so often as not to h

[2016-10-20 12:02] tebeco commented on #2393
# Versions

# Project

Working with .Net Core App
Add a nuget that you don't have in Visual Studio Cache (I've used NUnit 3.5) in project.json

# Restore

## Dotnet CLI

## Nuget CLI

TL;DR ==> Working

[2016-10-20 12:21] raffaeler commented on #3157
@karann-msft I resolved but the article was not really helpful since it talks about frameworks and not runtimes.
The reason why it took a long time for me to understand is that nuget website is lacking of the schema reference. Specifically there is not enough documentation about the following topics:
- how to use the "ref" subfolder when the dev need to use reference assemblies
- how to use the "n

[2016-10-20 12:33] prasannavl commented on #3145
Considering that project.json is not the future, reverting back to the old behavior where `.csproj` is merged with `nuspec` should be ideal. I don't know why it was even removed in the first place. Its painful to keep changing nuget deployment systems.

This should be reopened, and fixed to merge with nuspec.

[2016-10-20 12:37] prasannavl commented on #3145
@rohit21agrawal

It shouldn't be expected. I'd slap a `bug` label, if that's the expected behavior and reopen this issue. Considering `nuspec` is the sole isolated way of managing configuration without depending on the project systems, and also being the only command line way to be able to configure all metadata, it should be merged regardless of the project systems in play.

[2016-10-20 15:40] rrelyea commented on #3517
Dupe of #2533

[2016-10-20 15:40] #3517 closed, assigned to nobody

[2016-10-20 15:48] rrelyea commented on #3664
@Kemyke - time is running out on this milestone. The sooner you can respond with details, the more likely this issue will be addressed soon. Thanks!

[2016-10-20 15:51] rrelyea commented on #3567
Just putting it on @zhili1208's plate now for visibility.

[2016-10-20 17:27] #3456 closed, assigned to alpaix

[2016-10-20 17:38] joelverhagen commented on #3685
🙌

[2016-10-20 18:18] #2193 closed, assigned to dtivel

[2016-10-20 19:02] joelverhagen opened #3703 "If we need a localized 3.5.0-rtm build, we need to modify wsr-tc configuration"
WSR-TC configuration is currently set up for the 3.6 build (dev branch) which no longer has NuGet.Core in the VSIX. 3.5.0-rtm VSIX still has NuGet.Core.

[2016-10-20 19:27] TheRealPiotrP opened #3704 "restore3 should display a friendly message when failing due to malformed nuget.config"
## Details about Problem

NuGet version (x.x.x.xxx):
NuGet Command Line 3.6.0.0

dotnet.exe --version (if appropirate):

.NET Command Line Tools (1.0.0-preview3)

Product Information:
 Version:            1.0.0-preview3
 Commit SHA-1 hash:  a9a6a72bc8

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.11-x64

Worked before? If so, with which

[2016-10-20 19:52] pneelam opened #3705 "Is there a way to generate project.framework.lock file using command line?"

[2016-10-20 20:01] joelverhagen commented on #3685
I have already updated it to `3.6.0`, and will update it again for `4.0.0` when appropriate.

[2016-10-20 20:32] rrelyea commented on #3705
Do you mean project.lock.json?
What type of project are you using?
Are you using packages.config or project.json?

[2016-10-20 21:29] emgarten commented on #2735
The special label length has been removed. Servers such as nuget.org may still enforce this limit, but this opens up the opportunity for users to begin creating packages with longer labels for development purposes.

The decision to remove the limit was done based on the recent Windows 10 feature that now allows users to opt in to removing the max path length.

Package authors should still take car

[2016-10-20 21:33] #3700 closed, assigned to joelverhagen

[2016-10-20 21:35] #3702 closed, assigned to alpaix

[2016-10-20 22:07] yishaigalatzer opened #3706 "Need a new restore message when downloading packages"
When restore a large set of packages, we are missing a message about actually downloading the packages. For a large metapackage over a slow connection that may take quite a few seconds to minutes. So the suggestion is to add a message in between the last two below.

Originally filed on - https://developercommunity.visualstudio.com/content/problem/572/console-logs-message-when-updating-a-nuget-pack

[2016-10-20 22:42] #3685 closed, assigned to joelverhagen

[2016-10-21 00:26] IlyaBiryukov opened #3707 "Nuget client tools in VS Dev15 should use MS.VS.Shell.Framework, not MS.VS.Shell.Immutable.*"
## Details about Problem

NuGet product used: VS UI
NuGet version: 3.6.0.1977
VS version: Dev15 bcb1 25818.01
OS version: Windows 10.0.10586

Worked before? If so, with which NuGet version: With Dev14.
Note: It's a perf issue in VS. Nuget or VS is not functionally broken.
## Detailed repro steps so we can see the same problem
1. Start VS
2. Open or create a project and manage Nuget packages with i

[2016-10-21 00:35] #3661 closed, assigned to jainaashish

[2016-10-21 01:34] Barryrowe commented on #2393
@tebeco Based on the comments on from @brthor here dotnet/cli#3065 (comment) the nuget CLI and the dotnet cli use a different entry point to the nuget api.

Based on my testing, this does seem like an issue with the Visual Studio Nuget Extension (or visual studio itself). I'm just trying to provide the information.

[2016-10-21 01:51] YipYipX4 commented on #3676
Does that also apply to NuGet 2.x and older versions of Visual Studio (2010 - 2013)?

Why does Visual Studio show up and down arrows, allowing users to reorder the list of sources?

(I currently have a Word document to help developers in my group setup their systems for development, and I already have instructions to move a source to the top using the GUI, and I'm converting a lot of those system

[2016-10-21 02:14] #3678 closed, assigned to nobody

[2016-10-21 06:08] tebeco commented on #2393
My answner only use CLI
I've used visual studio on tu create a project template and closed it
Nuget.exe and dotnet.exe ran into a console prompt

[2016-10-21 06:24] pawchen commented on #1810
Thanks for the idea @yishaigalatzer. This issue is not that significant for me now than it was. It's up to you to decide whether this issue can be closed.

[2016-10-21 07:02] Kemyke commented on #3664
We have an on-premise Windows 2012 R2 server running IIS. There is a Nuget server site on it, based on this nuget (https://github.com/NuGet/NuGet.Server). The windows and basic authentications are turned on and anonymous auth is turned off.

We have an ubuntu server in Azure which we want to use as a build machine. I checked out one of our solution to build there. The project is located in the hom

[2016-10-21 09:18] xavierdecoster opened #3708 "NuGet Clients should send the NuGet-Operation header"
Seems the NuGet clients no longer do this?
Used https://dist.nuget.org/win-x86-commandline/v3.5.0-rc1/NuGet.exe to repro.

See also https://github.com/NuGet/NuGetGallery/issues/3298
# Expected

`nuget.exe` operations should send the `NuGet-Operation` header in requests, e.g.

[code]
# Actual

No `NuGet-Operation` HTTP header observed (used Fiddler to inspect the requests).

Screenshot of request h

[2016-10-21 09:24] mishra14 opened #3709 "Migrate CI to more recent dev15 builds"

[2016-10-21 14:37] damianh commented on #2869
The account whose credentials we (securely) set up in TeamCity to connect to myget has been repeatedly getting locked out.

We have checked in versions of nuget.exe in our repositories to bootstrap the package restore and build process. Various repositories have upgraded the checked in nuget.exe to 3.4. It is my belief that this bug is causing the account lockout after a few CI builds.

I now have

[2016-10-21 17:50] emgarten commented on #3708
nuget.exe install is basically a restore. Is it still useful to capture this data?

I see the operation header as passing along the action performed in the UI/PS Console, that is the only time the client can understand the user intent for the package being downloaded.

[2016-10-21 18:05] emgarten commented on #3697
`exclude="Build,Analyzers"` exists for package/project duality.

**Example 1**
ProjectA -> ProjectB -> ProjectC (contains c.targets)
Result:  ProjectA does not reference c.targets

**Example 2**
ProjectA -> ProjectB -(exclude build, analyzers)-> ProjectC (contains c.targets)
Result:  ProjectA does not reference c.targets

**Example 3**
ProjectA -> PackageB -(no excludes)-> PackageC (contains c.tar

[2016-10-21 18:35] emgarten commented on #3701
@joelverhagen what is the output from the project.json example in the nuspec? Wouldn't it be identical to the msbuild pack output?

A `;` in MSBuild turns the value into a set the same as `[]` in json.  I'm not sure that anything can be done here since pack isn't evaluating the `;`.  As mentioned there's no way to fix the output either apart from replacing spaces with `.` since tags are space deli

[2016-10-21 18:37] rohit21agrawal commented on #3701
@emgarten there is a way to just get the whole string instead of delimiting it by ;  and then splitting them by spaces, however i am not sure if that's what we want.

msbuild users will expect that ; will do the splitting as it does for other properties.

[2016-10-21 18:46] joelverhagen commented on #3701
Output of project.json `dotnet pack` is:

[code]

This is also mangled, but there is at least a _similar_ notion of different tags. My original assertion is we should just leave as is or warn that we are normalizing the tags.

[2016-10-21 18:48] jainaashish opened #3710 "Nuget manager ui at solution is disabled in DPL mode"
With Dev15 installer, nuget manager ui or restore option at solution level is disabled in DPL mode.

Corresponding VSTS issue - https://devdiv.visualstudio.com/DevDiv/_workitems?id=280937&_a=edit

[2016-10-21 19:26] emgarten commented on #3694
@Becklighter is your internal package source working correctly when selected in the drop down?

When a single source is selected NuGet ignores errors from other sources. When All is used, all sources must be working correctly to ensure that the highest version of a package can be found.

[2016-10-21 19:27] emgarten commented on #3695
@rocifier can you provide some repro steps? Which version of NuGet are you using?

[2016-10-21 19:53] joelverhagen commented on #3699
Fixed. Had to remove NuGet.Core from d14 and d15 VSIX signing.

[2016-10-21 19:53] #3699 closed, assigned to joelverhagen

[2016-10-21 19:57] jainaashish opened #3711 "Support NuGet restore for Lightweight Solution Load for Packages.Config or Project.Json"
Since we need to get all the relevant information to create nuget projects from a solution in DPL mode which isn't there yet so we disabled onbuild restore. And in all other nuget operations, currently we just load solution before NuGet operation to get all projects.

This feature includes following work in their priority order:
1. Support onbuild restore when DPL is enabled.
2. Support Solution r

[2016-10-21 20:29] #3710 closed, assigned to jainaashish

[2016-10-21 21:24] yishaigalatzer opened #3712 "[Probably a dup] Clicking Manage Packages takes you to the install tab"
VS 2015, NuGet 3.5

When Right Clicking on a project, and loading the package manager window, we go to install by default.

This is not always what I want to do, I find myself many times wanting to install a package in a fresh project and get confused when I land in the wrong tab.

Rough Ideas:
1. Remember the last tab (globally)
2. Add a Add NuGet Package, next to Manage NuGet packages

[2016-10-21 22:00] yishaigalatzer opened #3713 "Ctrl-X does not work in the search box in Manage Packages for project"
Please read the following information before posting the issue.
## Details about Problem

NuGet Package Manager UI 3.5.0

Type something in the search text box, select some of it. Hit Ctrl-X

Expected:
Text is cut

Actual:
Nothing happens

[2016-10-21 22:15] yishaigalatzer opened #3714 "Package installation for packages.config can take long"
NuGet 3.5, Visual studio 2015

Install BetterCms.Module.Api from the package manager (clean cache before starting)

Gathering dependencies takes 26 seconds
Install time 1:38

I would like to see if we can optimize the time to gather dependencies, it should be ok to change/enhance the V3 if needed.

[2016-10-21 22:15] yishaigalatzer commented on #3714
CC @jainaashish @dtivel

[2016-10-21 23:04] joelverhagen commented on #3664
Questions:
- Would it be possible to provide some network level logging here? In particular, Wireshark with SSL
  decryption. Alternatively, you could try [mitmproxy](https://mitmproxy.org/). I have not tried these steps before.
- Could you provide a minimal project that reproduces the issue?
- Does this reproduce on Windows with the same CLI version, project, and NuGet.Config setup?

I tried agai

[2016-10-21 23:50] zhili1208 opened #3715 "Given a UWP project created with Dev14, I want to build with a build agent that only has Dev15"
Using Nuget 3.4.4 fails with:

C:\code\LastApp>..\nuget344\nuget.exe restore
MSBuild auto-detection: using msbuild version '4.0' from 'C:\Windows\Microsoft.NET\Framework\v4.0.30319'.
C:\code\LastApp\AppOne\AppOne.csproj(138,3): error MSB4019: The imported project "C:\Program Files (x86)\MSBuild\Micros
oft\WindowsXaml\v15.0\Microsoft.Windows.UI.Xaml.CSharp.targets" was not found. Confirm that the p

[2016-10-22 00:09] yishaigalatzer opened #3716 "Vs Crashes when installing MahApps.Metro"
Please read the following information before posting the issue.

VS 2015 U3 + 3.5.0
Create new WPF app
Manage packages for project
Install MahApps.Metro (MahApps.Metro 1.4.0-ALPHA023) was the latest when I tried it

Result:
VS Crashes

The crash was sporadic and I wasn't able to reproduce or get a dump. I don't know that it came from nuget/install.ps1 or the WPF designer that was open at the time.

[2016-10-22 00:29] zhili1208 opened #3717 "For UWP Project, improve restore error message"
NuGet verison: 4.0.0.2013
3.6-beta1 works well
Repro Step:
1. create an uwp project
2. NuGet.exe restore project.json

Expect: restore works well
Actual:
Got Error Message:
Invalid input 'project.json'. Provide the path of an msbuild solution file instead. Support for XProj and standalone project.json files has been removed, to continue working with legacy projects use NuGet 3.5.x from https://nug

[2016-10-22 00:38] zhili1208 commented on #3715
This issue still happens with dev14

[2016-10-22 00:38] natemcmaster opened #3718 "Pack task puts content files in both 'content/' and 'contentFiles/'"
Pack a csproj that includes a 'content' item. The files ends up in both "<nupkg>/content" and "<nupkg>/contentFiles".

**Repro:**

[code]

'dotnet pack3'

**Output:**
nupkg contains content files twice:

[code]

**Using:**
dotnet cli  1.0.0-preview3-003857
microsoft.net.sdk/1.0.0-alpha-20161021-1
NuGet.Build.Tasks.Pack/3.6.0-rc-1984

[2016-10-22 02:01] jainaashish commented on #3571
Merged #e96459e15458d0390f9693645323d3b429bd2470

[2016-10-22 02:01] #3571 closed, assigned to jainaashish

[2016-10-22 03:05] livarcocc opened #3719 "Modify the NuGet targets to log the package sources as High verbosity instead of Normal"
This is related to this:

https://github.com/dotnet/cli/pull/4438.

We would like to take the PR above in the CLI so that we stop printing the Build Start/Succeeded when restoring in the CLI.

However, the sources won't be printed if we do that and we would like for them be so.

Would it be possible to change the verbosity of the used sources?

[2016-10-22 04:03] rrelyea commented on #3658
@alpaix - did you merge change for this?

[2016-10-22 04:09] alpaix commented on #3658
yes, it's in feature branch now

[2016-10-22 05:17] emgarten commented on #3717
Yes, as the error message says, restore the csproj :smile:

[2016-10-22 05:19] rrelyea commented on #3717
it says solution. should we say project or solution?

[2016-10-22 08:15] rocifier commented on #3695
Just make a new web project and add a new c sharp project to it, so you have 2 projects in the solution. Update visual studio 2015 so that nuget is updated to the latest version on there (sorry I'm not at work for a few days and don't know what version that is).

Now go to tools -> manage nuget packages for solution and try to add the above package to both projects at once. It will install to one

[2016-10-22 19:27] drewgillies opened #3720 "NRM VS package fails to load (normally or in experimental instance)"
@alpaix

The same issue also occurs if you install a VSIX from dev-vsdg build to Visual Studio

[2016-10-22 19:30] drewgillies commented on #3720
![image](https://cloud.githubusercontent.com/assets/14225979/19621972/49469d0e-9853-11e6-9bac-3e41dc7f5648.png)

[2016-10-22 19:31] drewgillies commented on #3720
SetSite failed for package [RestoreManagerPackage]Source: 'NuGet.SolutionRestoreManager' Description: Could not load file or assembly 'NuGet.PackageManagement, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system cannot find the file specified. System.IO.FileNotFoundException: Could not load file or assembly 'NuGet.PackageManagement, Version=3.6

[2016-10-22 19:55] sakopov commented on #1909
Trying 3.5.0-rc1 and still see that NuGet is attempting to access every single source. I don't have all sources available at all times (unless corporate VPN is up). Specifying -source in package manager console doesn't do anything. This is kind of an insane oversight, especially that it outright breaks the -source switch.

[2016-10-22 20:59] rohit21agrawal opened #3721 "NetCore install from NuGet Package Manager UI installs to every TFM , instead of ones that the package supports"

[2016-10-23 00:13] yishaigalatzer commented on #1909
@Sakopov the source switch points to the primary source for the package, and dependencies can still come from.other sources. At this version you can disable the sources that are offline. We are designing a feature to detect and temporarily shutdown sources for your session.  The spec is here - https://github.com/NuGet/Home/wiki/Package-Sources-Diagnostics

[2016-10-23 00:30] joelverhagen commented on #3720
The fact that there is a 3.6.0 version in there could be an issue. I recently made a fix in dev-vsdg bringing all version numbers up to 4.0.0.

[2016-10-23 01:02] rrelyea commented on #3721
Setting to RC now...but we'll discuss in triage. Do not block insertion on this.

[2016-10-23 01:07] rrelyea commented on #3719
@livarcocc - Likely yes
@emgarten  - see any problem with this?

[2016-10-23 01:09] rrelyea commented on #3718
believe we are starting to do this by design. @rohit21agrawal?

[2016-10-23 01:40] joelverhagen opened #3722 "Re-enable unit test for CultureUtility.DisableLocalization"
The implementation of this code depends on a static and should therefore be tested in an external process.

[2016-10-23 01:43] joelverhagen commented on #3722
https://github.com/NuGet/NuGet.Client/commit/d68688a6a1a7f8d7b4e6bc1dbba1c707339b3ce8

[2016-10-23 03:38] livarcocc commented on #3719
Thanks @rrelyea. I will wait to hear from @emgarten and then I will merge the PR on our side.

[2016-10-23 03:44] rrelyea opened #3723 "Legacy csproj projref - SupportsReferences must be called on the UI Thread"
![image](https://cloud.githubusercontent.com/assets/8865080/19624013/34850f78-9898-11e6-83f9-9ffceaabbaea.png)

[2016-10-23 05:02] emgarten commented on #3719
@livarcocc are you referring to the summary printed out at the end that contains all feeds and config files used, along with all errors and warnings again?

[2016-10-23 05:12] rrelyea opened #3724 "explicit restore failing for .net core console project with dev-vsdg bits due to missing project id"
.NET Core App Scenario using Alex's VSIX
Add 3 feeds to nuget via UI:
- https://dotnet.myget.org/F/dotnet-core/api/v3/index.json 
- https://dotnet.myget.org/F/dotnet-web/api/v3/index.json 
- https://dotnet.myget.org/F/nuget-build/api/v3/index.json

File new project > console app (.net core)

BUG: squiggles everywhere.  No restore happened "auto like"

BUG: Try to fix it by doing a solution restore

[2016-10-23 05:47] rrelyea opened #3725 "UWP w/ PackageReferences - install tab doesn't show manually typed packageref from csproj"
**UWP Project.Json using dev-vsdg 2556 build - handpatched vsix**

File New project > Blank App (
Turn on Developer Mode on RS1 box
Project.json was created during project creation with:
    {
      "dependencies": {
        "Microsoft.NETCore.UniversalWindowsPlatform": "5.1.0"
      },
      "frameworks": {
        "uap10.0": {}
      },
      "runtimes": {
        "win10-arm": {},
        "win10

[2016-10-23 20:03] jainaashish opened #3726 "Packages.config csproj - SupportsReferences must be called on the UI Thread"
Create .Net framework class library project (which will have packages.config) and do a restore from menu item. It throws below error:

`Error occurred while restoring NuGet packages: SupportsReferences must be called on the UI thread.`

On build restore is working fine, so some issues with explicit restore.

[2016-10-23 20:08] drewgillies opened #3727 "Reconfigure command line tests to test dotnet nuget commands"
Associated with https://github.com/NuGet/Home/issues/3341 - re-engineering task rather than test coverage (a case which would be included in the original issue)

[2016-10-23 20:11] drewgillies commented on #3341
As this is functionally complete (though more scenario testing would be good), all that remains is to re-engineer some tests, which is to repurpose existing test infrastructure across to xplat--more of an engineering task than directly associated with this issue, tracked by https://github.com/NuGet/Home/issues/3727. Closing this one.

[2016-10-23 20:11] #3341 closed, assigned to drewgillies

[2016-10-23 20:39] jainaashish opened #3728 "UWP projects - Explicit restore hangs on restore ui"
Created a UWP project with below project.json file:

{
  "dependencies": {
    "jQuery": "3.1.1",
    "jQuery.Validation": "1.15.1",
    "Newtonsoft.Json": "9.0.1"
  },
  "frameworks": {
    "net452": {}
  },
  "runtimes": {
    "win": {}
  }
}

And then did a restore from menu item, it just hangs on nuget restore dialog and never completes.

[2016-10-23 20:41] alpaix opened #3729 "Consider removing DTE queries in Nominate API"
Response to Nominate call should be fast as possible. Project restore data coming from CPS is supposed to contain all necessary metadata to update the cache. Project system cache needs slight refactoring in primary index not to use DTE properties.

[2016-10-23 21:25] augustoproiete opened #3730 "Any missing sources, will prevent restore from working"
(copying from https://github.com/dotnet/cli/issues/2593 as per instructions)
### Steps to reproduce
1. Add nuget source to broken path
2. Navigate to empty directory and dotnet new dotnet restore
### Expected behavior

Packages should be restored
### Actual behavior

[code]
### Registered sources

[code]

Why is the 2nd source taking precedence over the 1st?
### Environment data

`dotnet --info` o

[2016-10-23 21:52] rrelyea commented on #3723
Still repros with 2565.

[2016-10-23 21:53] joelverhagen opened #3731 "When a package is installed to UWP project.json, parent projects should also be restored"
Found on the `dev-vsdg` branch.
## Steps
1. Add two UWP project.json projects in VS.
2. Make one have a project reference to another (project1 -> project2).
3. Install a package to project2.
## Expected

There should be a project.lock.json in both projects.
## Actual

The parent project (project1) is not restored.

Related to the following E2E tests:
- `BuildIntegratedParentProjectIsRestoredAfterI

[2016-10-23 21:54] rrelyea commented on #3726
still repros with 2565

[2016-10-23 22:26] joelverhagen opened #3732 "Get-Project no longer supports getting projects by short name"
Found in the `dev-vsdg` branch. I think `ProjectSystemCache.TryGetCacheEntry` should check the short name look-up. Ambiguity has to be handled but the following repro steps do not have ambiguity.
## Steps
1. Create an empty solution.
2. Add a solution folder.
3. Add a project to that solution folder.
4. Open PMC and type `Get-Project MyProjectName` (without the folder name).
## Expected

The proje

[2016-10-23 22:27] joelverhagen commented on #3732
Note that if the short name and unique name are the same, this scenario works just fine (since the code is properly getting projects by unique name).

[2016-10-23 22:29] joelverhagen commented on #3732
Effected end-to-end tests:
- `GetProjectCommandWithWildCardsWorksWithProjectHavingTheSameName`
- `RemovingAmbiguousProjectAllowsSimpleNameToBeUsed`
- `RenameCreatingAmbiguityFollowedByRemovalAllowsSimpleNameToBeUsed`
- `RenamingSolutionFolderDoesNotAffectGetProject`
- `RenamingSolutionFolderWithDeeplyNestedProjectsDoesNotAffectGetProject`

[2016-10-23 22:48] yishaigalatzer opened #3733 "Make dependencies hyperlinks"
From user:
Consider making the package dependencies in the NuGet UI hyperlinks, so I can jump directly to the dependency and install that.

From me:
The hyperlink should load the item in the list with an id:packageId search

Consider:
Back navigation

[2016-10-23 22:55] rrelyea commented on #3732
can we also add unit tests to catch this earlier.

[2016-10-23 22:55] joelverhagen commented on #3732
Yes.

[2016-10-23 23:12] rrelyea opened #3734 "Auto restore for .net core not working in d15prerel"
.NET Core App Scenario using Alex's VSIX
Add 3 feeds to nuget via UI:

https://dotnet.myget.org/F/dotnet-core/api/v3/index.json
https://dotnet.myget.org/F/dotnet-web/api/v3/index.json
https://dotnet.myget.org/F/nuget-build/api/v3/index.json
File new project > console app (.net core)

should restore.  didn't.

[2016-10-23 23:17] yishaigalatzer commented on #3236
Sorry for the delay: this is an intentional design. The indication that a package is installed is by showing the version next to it.

The checkboxes are used for selecting a set of package to apply an action to.

[2016-10-23 23:17] #3236 closed, assigned to nobody

[2016-10-23 23:20] yishaigalatzer commented on #2212
Going forward NuGet is no longer an extension, and all of visual studio needs to update. I don't think it is quite appropriate for NuGet to send you there.

However we should come up with an update to this UI in VS15, so things make sense when the message comes up

[2016-10-23 23:20] yishaigalatzer commented on #2212
CC @harikmenon

[2016-10-23 23:21] #2208 closed, assigned to nobody

[2016-10-23 23:21] yishaigalatzer commented on #2208
This is already done

[2016-10-23 23:26] yishaigalatzer opened #3735 "TFMs and package manager dialog"
We need to bring back control of packages vs. their supported TFMs vs. what the project supports

There are a few things that need to happen
1. We will need to download the package in some cases to know what it actually supports
2. We need to show the TFMs in the package window
3. We need to perhaps add some UI gesture to the install/update buttons if we don't know the TFM compatibility (e,g. it's

[2016-10-23 23:44] zhili1208 opened #3736 "Hand migrate a project.json scenario doesn't work"
Repro Step:
1) Create an UWP project and delete project.json
2) add following to csproj:

[code]

3)  build solution.
4)  install newtonsoft.json.

Expect: nuget restore packages and add newtonsoft.json packageReference to csproj

Actual:

nuget doesn't restore packageReference packages and create package.config during installing newtonsoft.json.

[2016-10-24 00:26] yishaigalatzer opened #3737 "Duplicate package detection doesn't always work"
## Version details

NuGet 3.5RTM in VS 2015 UI
## Repro steps

Create an empty app
install windowsAzure.Storage -Version 4.3
Open packages.config in the editor

Add a duplicate entry for newtonsoft.json -> Two ways to do it see below
Reload the project
Manage NuGet Packages

Method 1: Add netwtonsoft.json 6.0.4 after 5.0.8

[code]

Method 2: Add netwtonsoft.json 6.0.4 before 5.0.8

[code]

Result

[2016-10-24 00:44] yishaigalatzer opened #3738 "Add the ability to favorite/bookmark a NuGet package in visual studio"
The suggestion is to "like"/favor/bookmark a package.

A bookmark is going to be remembered globally (best if roaming).

Features:
1. Remember that a package is favored and mark it in the package list
2. Show all favored packages (perhaps a tab?)
3. Record text about why the package is favored

Bonus - User favored packages on the server gallery UI

[2016-10-24 00:44] yishaigalatzer commented on #3738
CC @harikmenon

[2016-10-24 00:47] emgarten opened #3739 "Add support for imports, buildCrossTargeting, and runtimes to CpsPackageReferenceProject"
Restore for .NETCore project requires the following fields which are not present in CpsPackageReferenceProject yes
- `PackageTargetFallback`  - imports equivalent, this needs to be per TFM
- `CrossTargeting` - true when `$(TargetFrameworks)` is used, false otherwise. This enables writing `buildCrossTargeting` imports to the generated targets/props.
- `OriginalTargetFrameworks` - Generated imports

[2016-10-24 00:51] NickCraver commented on #3738
Related: A list of commonly used packages on the machine with no user action needed would also be very useful. At least inside companies, you're often using lot of the same packages across projects. Wherever " favorites" are shown, "common" or "recent" may equally or more useful to include as well.

[2016-10-24 01:02] #3732 closed, assigned to joelverhagen

[2016-10-24 01:05] emgarten opened #3740 "Add RuntimeIdentifiers and RuntimeSupports to LegacyCSProjPackageReferenceProject"
UWP applications require RIDs, support for this should be added to LegacyCSProjPackageReferenceProject

This will cover both the Runtimes and Supports sections of project.json

Example of nuget.targets reading these properties:
https://github.com/NuGet/NuGet.Client/blob/29f3232dc472d2f0fe4536a2db28c334e903ca44/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L348-L349

[2016-10-24 01:14] emgarten opened #3741 "CpsPackageReferenceProject should error with a helpful message when unable to get PackageSpec data"
CpsPackageReferenceProject should error out gracefully when unable to build a PackageSpec for restore.
### Expected

An error message informing the user that the project is invalid and that NuGet is unable to read it when there is no data available from CPS to generate a PackageSpec.
### Actual

Null ref exception

[2016-10-24 01:15] yishaigalatzer opened #3742 "Errors in packages.config are not helpful"
## Product

NuGet 3.5, Visual Studio 2015
## Repro steps

Create an application with a malformed packages.config
e.g.

[code]

Open Manage NuGet Packages

You get an "accurate" error message, but the error is not very helpful when this happens in a file with a few packages, It doesn't indicate what line the error came from, or what was the content of the XML.

See screenshot:
![image](https://clou

[2016-10-24 01:33] #3724 closed, assigned to alpaix

[2016-10-24 01:37] johndog opened #3743 "VS UI and package manager very unhelpful when installing packages with unmet requirements"
Remove the content above here and fill out details below.
## Details about Problem

NuGet product used: VS UI

NuGet version: NuGet Package Manager   3.4.4

VS version: Version 14.0.25431.01 Update 3

OS version: Win10 v1607 (14942.1000)
## Detailed repro steps so we can see the same problem
1.  Configure a project to target .net 4.5
2.  Using the Nuget PM GUI, find a package that requires .net 4.

[2016-10-24 02:50] livarcocc commented on #3719
Yeap.

[2016-10-24 05:38] emgarten commented on #3743
Does 1.0.4 or a higher stable version of the package exist?

Compatibility here is referring to the version constraint mentioned in the message, not framework compatibility which is checked later in the install process.

The message could be improved to make that more clear.

[2016-10-24 06:05] emgarten commented on #3728
From the debugger I see

Thread 1:
1. SolutionRestoreWorker.Restore is on the UI thread
2. JTF is started
3. await TaskScheduler.Default  moves everything to the background thread

Thread 2:
1. RestoreOperationLogger.GetMSBuildOutputVerbositySetting attempts to read DTE
2. DTE call hangs since it is not in a JTF or on the UI thread

It looks like the verbosity setting is stored as a lazy, this sho

[2016-10-24 06:05] johndog commented on #3743
Since the total fix at a GUI level might be complex to do all at once, I suggest the following progression of fixes:
1. Good:  Add logging of the supported versions to the nuget console output, so that native nuget users and VS UI users who are attentive to the Output window will have a chance to see the information.
2. Better:  Enable the UI to interpret the nuget output, and present the requirem

[2016-10-24 06:10] johndog commented on #3743
@emgarten I originally reproduced this several weeks ago and reported via the VS feedback.  I tried to reproduce it the same way, but this error is not the same.  I've changed the log to the messages I originally saw.

[2016-10-24 06:10] emgarten commented on #3743
Thanks for the update, I'm curious to know if there are more problems here.

Install first does a preview which finds any problems. In this case it looks like there were zero version of the package that are `>= 1.0.4`

[2016-10-24 07:07] AndyTian-Devops opened #3744 "[Test Failure]Need to shut down processes before uninstalling NuGet Client"
NuGet version：4.0.0.2008

VS version: d15prerel 25822.00

OS version: Windows 10 RS1_Release 14393.332

**Repro Steps:**
1. Install Dev15 D15prerel 25822.00
2. Open Developer Command prompt as administrator.
3. Input "**Vsixinstaller /u:NuGet.72c5d240-f742-48d4-a0f1-7016671e405b**" to uninstall NuGet.

**Expected:**
NuGet should be uninstalled normally.

**Actual:**
We need to shut down some proce

[2016-10-24 07:16] AndyTian-Devops commented on #3744
We didn't see this dialog on a clean box before. Looks like it only happens when we use command “**Vsixinstaller.exe /u:VSIXID**” to uninstall NuGet.

[2016-10-24 07:19] #3657 closed, assigned to alpaix

[2016-10-24 09:09] xavierdecoster commented on #3708
According to @harikmenon, this data is still useful to capture :)

We also used to differentiate between restoring direct and indirect package dependencies. Not sure that's still possible?

[2016-10-24 11:18] #3731 closed, assigned to emgarten

[2016-10-24 11:19] emgarten commented on #3731
UWP project.json projects were not passing adding project to project references to the package spec.

[2016-10-24 12:31] kzu commented on #520
Solved in NuGetizer by allowing [easy removal of inferred package references](https://github.com/NuGet/NuGet.Build.Packaging/blob/dev/src/Build/NuGet.Build.Packaging.Tests/Scenarios/given_library_with_json_dependencies/a.csproj#L12-L15).

[2016-10-24 12:31] #520 closed

[2016-10-24 15:13] clavecoder opened #3745 "Mention only dll/xml files supported in lib package folder"
For
https://docs.nuget.org/ndocs/create-packages/creating-a-package#from-a-convention-based-working-directory

It's not clear what files are supported in the convention-based folder structure in the lib folder. Your documentation has:

lib Assemblies (.dll files) Added as assembly references

You should mention that only .dll + xml documentation files (.xml) are supported.

[2016-10-24 15:42] clavecoder commented on #3745
Also the pdb file, which is picked up when you use the -Sources flag.

[2016-10-24 16:30] joelverhagen commented on #3690
This is fixed in 3.5.0-rtm and later.

[2016-10-24 16:30] #3690 closed, assigned to joelverhagen

[2016-10-24 16:31] joelverhagen commented on #3690
Duplicate of https://github.com/NuGet/Home/issues/3303.

[2016-10-24 16:45] rrelyea commented on #3720
doesn't repro anymore. perhaps wthe version change fixed it.

[2016-10-24 16:45] #3720 closed, assigned to alpaix

[2016-10-24 16:52] eerhardt commented on #3683
Will this handle pre-processed (`ppOutputPath`) files?

[2016-10-24 17:28] rrelyea commented on #3728
Did @emgarten fix this?

[2016-10-24 18:00] alpaix opened #3746 "Provide support for project level attributes in the restore nomination API"
The data model of project restore info object currently doesn't support project level attributes needed for restore.

Among missing properties are:
- `PackageFallbackTarget` ("imports")
- `OriginalTargetsFrameworks`
- `CrossTargeting`
- `RuntimeIdentifiers`
- `RuntimeIdentifier`
- `RuntimeSupports`

[2016-10-24 18:06] joelverhagen commented on #3740
Talked to @drewgil offline about this, I'll take a look. @rrelyea, what's the priority on this?

[2016-10-24 18:08] joelverhagen commented on #3746
`PackageFallbackTarget` should be `PackageTargetFallback`.

[2016-10-24 18:10] joelverhagen commented on #3746
@emgarten will know the full list, essentially it's the set read by out build task.

[2016-10-24 18:39] rrelyea opened #3747 "Move 2nd CI to publish to VSTS feed instead of UNC share"

[2016-10-24 19:19] #3709 closed, assigned to mishra14

[2016-10-24 21:36] heaths commented on #2300
@toddm The problem is that nuget provides an easy mechanism for sharing data in the form of certain assembly attribute values to nuget properties like `$id$`, `$description$`, `$version$`, etc. If we pack the .nuspec, we lose all that and have to build our own mechanism in MSBuild to pass all that through. With larger solutions, this becomes increasingly difficult trying to keep something generic.

[2016-10-24 21:54] eerhardt opened #3748 "P2P libraries in project.assets.json file have incorrect Version"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet restore3

NuGet version (x.x.x.xxx):

[code]

dotnet.exe --version (if appropirate):
`1.0.0-preview3-003855`

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version: dotnet restore with a project.json
## Detailed repro ste

[2016-10-24 21:54] eerhardt commented on #3748
/cc @emgarten @rrelyea

[2016-10-24 22:35] rohit21agrawal commented on #3718
@rrelyea yes, this is by design.

[2016-10-24 22:42] mishra14 commented on #3613
Merged: https://github.com/NuGet/NuGet.Client/pull/940

[2016-10-24 22:42] #3613 closed, assigned to mishra14

[2016-10-24 22:42] rrelyea opened #3749 "Legacy csproj and PackageRef support for restore in nuget.exe restore or dotnet restore3"

[2016-10-24 22:44] jainaashish opened #3750 "Install package on CPS project system throw error"
With d15prerel 25823.2 and latest nuget vsix from dev.

Create CPS based project and try installing a package from UI, first time it throw below error:

[2016-10-24 22:44] rrelyea opened #3751 "enable adding package references into csproj from dotnet.exe"
Need spec

[2016-10-24 22:45] jainaashish opened #3752 "Install package on CPS project system throw error"
With d15prerel 25823.2 and latest nuget vsix from dev.

Create CPS based project and try installing a package from UI, first time it throw below error:
System.NullReferenceException: Object reference not set to an instance of an object.
   at NuGet.PackageManagement.DependencyGraphRestoreUtility.<>c.<GetProjectSpec>b__7_0(PackageSpec e)
   at System.Linq.Enumerable.WhereArrayIterator`1.MoveNext()

[2016-10-24 23:00] rrelyea commented on #3734
Not working with TargetFramework -- blocked by Nat bug.
Not working with TargetFrameworks -- blocked by our bug.  @jainaashish found.

[2016-10-24 23:10] rrelyea commented on #3750
dupe of https://github.com/NuGet/Home/issues/3752

[2016-10-24 23:10] #3750 closed, assigned to nobody

[2016-10-24 23:14] rrelyea commented on #3744
We've moved to mark our VSIX as a SystemComponent.
As such, this will be the only way to uninstall our VSIX.
I'm unsure why VSIXINSTALLER.exe requires these other processes to be shut.
Can you adjust your processes to close those processes, then uninstall the vsix, then restart those processes however necessary (perhaps even logging out and logging back in???)
I don't know what those processes do.

[2016-10-24 23:14] drewgillies commented on #3723
After patching d15prerel with csproj.dll to light up the interface which gives us the legacy csproj codepaths, this repro goes away in favor of the repro from https://github.com/NuGet/Home/issues/3728. After 3728 is fixed, let's re-validate this scenario.

[2016-10-24 23:14] ridomin opened #3753 "CLI Restore fails in UWP projects created with Dev15"
## Trying to restore a project created with Dev15

D15 15.0.25823.2
NuGet.exe: 4.0.0.2013
OS version: win10 v1607 (14393.321)
## Detailed repro steps so we can see the same problem
1. Create a UWP project
2. Get latest Nuget.exe
3. From the CLI run nuget restore in the solution folder

Observerd.

[code]

Trying to specify the PathToMSBuild

[code]

fails with

[code]

[2016-10-24 23:20] #3741 closed, assigned to rohit21agrawal

[2016-10-24 23:56] yishaigalatzer opened #3754 "Saving credentials from VS UI doesn't work"
Please read the following information before posting the issue.

Visual studio 2015, version unknown
Install a package from nuget.telerik.com
Enter username and password
Check the box to save credential

Expected:
We don't ask for credentials again

Actual:
We do

Needs a repro and validation from the customer.

He can probably use the command line as a workaround to enter credentials (or the vers

[2016-10-25 00:24] emgarten commented on #3728
Fixed with https://github.com/NuGet/NuGet.Client/pull/959/commits/43ead5b9500b5870146677f9cbe8ca8a06e6dd76

[2016-10-25 00:24] #3728 closed, assigned to emgarten

[2016-10-25 00:38] rrelyea commented on #3753
dotnet restore3 may work now?
nuget.exe restore for this scenario is important, but isn't an integratrion blocker.

[2016-10-25 01:14] yishaigalatzer commented on #3745
note is a good way to suggest changes https://github.com/NuGet/NuGetDocs/tree/master/NuGet.Docs/ndocs/Create-Packages/Creating-a-Package.md

[2016-10-25 01:22] #3740 closed, assigned to joelverhagen

[2016-10-25 04:00] kwiqniss commented on #2406
@joelverhagen Long time no update. Any news?

[2016-10-25 06:54] v-nancyj opened #3755 "[Test Failure]Package ‘jQuery Validation’ can’t be uninstalled by PM UI"
**Repro Steps:**
1.  Create a new C++ Win32 project.
2.  Start **Manage NuGet package** dialog by right clicking of the project node.
3.  Install package ‘**jQuery Validation’** –version 1.15.1 shown on the **Browser** tab by searching.
4.  Uninstall package ‘jQuery Validation’ by PM UI.

**Expected Result:**
Package ‘jQuery Validation’ can be uninstalled successfully.

**Actual Result:**
Package

[2016-10-25 06:57] AndyTian-Devops opened #3756 "[Test failure]Character “\r\n” displays in package's discription and tooltip"
**NuGet version:** 4.0.0.2008

**VS version :**  D15PreRel 25824.00

**OS version:** Windows 10 RS1_Release 14393.332

**Repro Steps:**
1. Create a C# UWP project
2. In Solution Explorer, right click "**References**" node, select "**Manage NuGet Packages...".**
3. In the "**Installed**" page, observe the discription and tooltip of package “Microsoft.NETCore.UniversalWindowsPlatform”.

**Expected:*

[2016-10-25 07:23] AndyTian-Devops commented on #3756
This issue also repro on vs2015 + NuGet 3.4.4 1321

[2016-10-25 09:11] pberggreen commented on #3631
It looks like a NuGet error:
https://github.com/NuGet/Home/issues/2785

[2016-10-25 13:40] blackdwarf opened #3758 "Add the option to compose package sources on the command line for the MSBuild-based SDK"
In the project.json (preview 2) world of CLI tooling, the `dotnet restore` had an option to specify a "fallback source" per invocation using the `-f` switch. This allowed for feed composition at invocation time without having to deal with `NuGet.config` files.

This option has been removed from the MSBuild tooling, however, I believe it should be put back seeing as how it is incredibly useful in a

[2016-10-25 15:39] joelverhagen opened #3759 "Consolidate the two project events raised on project load"
Today there are two:
1. project type
2. number of depedencies

These can become one event.

This is concerning internal Visual Studio issue 281691.

[2016-10-25 15:39] joelverhagen commented on #3759
This is concerning internal Visual Studio issue 281691.

[2016-10-25 16:01] forki opened #3760 "Q: Override RestoreConfigFile in MSBuild"
I tried to set $(RestoreConfigFile) in my MSBuild script for dotnetcli preview3 and hoped to override whatever NuGet.Config is using right now. I thought it's used in
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks/RestoreTask.cs#L49

@emgarten  Is that the correct way? I'm not 100% sure, but it doesn't seem to work.

[2016-10-25 16:05] natemcmaster commented on #3718
@rohit21agrawal can you share more details on this design? Duplicating content in a package is not something I would expected.

[2016-10-25 16:10] forki commented on #3760
scratch that. seems to work. had to clean the cache.

[2016-10-25 16:10] #3760 closed, assigned to nobody

[2016-10-25 16:41] #3477 closed, assigned to kzu

[2016-10-25 16:42] kzu commented on #3593
Implemented in https://github.com/NuGet/NuGet.Build.Packaging/pull/22

[2016-10-25 16:44] joelverhagen commented on #2406
@kwiqniss, this issue will be investigated by the JavaScript project system owners for Visual Studio "15" RC 2. I will update this issue as we have more information.

[2016-10-25 16:53] drewgillies commented on #3533
This is all done except for altering the build task to support it.

[2016-10-25 17:00] #3744 closed, assigned to nobody

[2016-10-25 17:06] rrelyea opened #3761 "Enhance TFM list for RC2"

[2016-10-25 17:29] rrelyea commented on #3755
COnfirm that it is fixed post megamerge.

[2016-10-25 17:34] rrelyea commented on #3756
This is a package problem. If you upgrade to v5.2.2, that package doesn't have that problem.

[2016-10-25 17:36] #3756 closed, assigned to nobody

[2016-10-25 17:43] joelverhagen commented on #3747
Jacques has done most of the work here. I'll push it to the end.

[2016-10-25 18:04] zhili1208 opened #3762 "[Mono Issue] Got "Error getting response stream(ReadDone2): Receive Failure" when retry credential three times"
Mono Version: 4.4.2
Repro Step:
1. set up a nuget server with credential, for example: username: user, password: pass
2. try to restore one package from that server
3. type wrong username and password twice, for example, first time: a:b, second time: c:d
4. type right username and password at the third time.

Expected: restore works well
Actual: Got error message: Error getting response stream(Rea

[2016-10-25 18:15] zhili1208 opened #3763 "Mono 4.8 fix - NetworkCredential needs to work with SecureString"
Mono version: 4.4.2

when passing SecureString to NetworkCredential on Mono, HttpRequest always send empty string for password.

Impacted NuGet scenario:
1. Restore package from credential server.
2. type right username and password

Expected: restore works well
Actual: still got 401

we can work around this by using string for password on mono, will talk to mono team first.

[2016-10-25 18:15] rupaks opened #3764 "preserve existing assembly reference properties as is"
## Details about Problem

NuGet product used (VS UI | Package Manager Console):
NuGet version (2.12.0.817):
VS version (VS 2013):
OS version (i.e. Windows 7 64 Bit):
## Detailed repro steps so we can see the same problem
1. Install NuGet package
2. Set Copy Local to False for an assembly installed by NuGet
3. Update same NuGet package of latest version
4. Observe hat Copy Local set to true for the

[2016-10-25 18:33] zhili1208 opened #3765 "Workaround Mono behavior - Passing username and password by redirecting nuget.exe input doesn't work on mono"
Mono Version: 4.4.2

Impacted NuGet scenario:
1. put username and password in txt file
2. restore package from a credential server by using "< password.txt"

or use ProcessStart a nuget.exe process and pass username and password to ProcessStartInfo

Expected: works well
Actual: ReadSecureStringFromConsole() got into endless loop

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuG

[2016-10-25 18:41] zhili1208 opened #3766 "Workaround Mono behavior - PluginCredentialProvide got parse error"
Mono Version: 4.4.2

Impacted NuGet Scenario:

PluginCredentialProvide doesn't work for nuget on mono.

issue: mono add extra empty char at the start of process output buffer when we use Process.OutputDataReceived event to redirect output, it make json parsing fail. If we just read std output, it works.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.Credentials/PluginCrede

[2016-10-25 18:51] pneelam commented on #3705
I meant project.framework.lock.json. It is a visual studio project with c# code. I am using project.json

[2016-10-25 18:55] migueldeicaza commented on #3766
What is that empty character?   Is it perhaps the UTF8 marker?

[2016-10-25 18:56] Becklighter commented on #3694
My internal package source is working correctly when selected. What else
could be the issue.

On Oct 21, 2016 1:26 PM, "Justin Emgarten" notifications@github.com wrote:

[2016-10-25 18:58] migueldeicaza commented on #3765
On Unix, you can use this method to determine if the input is interactive or not:

[code]

if it returns true, it means that the user is typing at the console, otherwise, the input has been redirected.

[2016-10-25 19:15] zhili1208 commented on #3766
from Xamarin studio, the first char value is
65279 ''

[2016-10-25 19:28] jinujoseph opened #3767 "Error occurred while restoring Nuget Packages: The given key was not present in the dictionary."
![image](https://cloud.githubusercontent.com/assets/12449387/19701007/6e301afc-9aae-11e6-821a-94953cf0701c.png)

[2016-10-25 19:29] jainaashish commented on #3490
Already added installsize with vs commit# b488c5a5ecbe77cf15378f12332180afa9defdad

[2016-10-25 19:29] #3490 closed, assigned to drewgillies

[2016-10-25 19:29] jinujoseph commented on #3767
@rrelyea, creating this for tracking purpose.

[2016-10-25 19:49] jgoshi opened #3768 "Remove Guardrails - Restore of "runtimes" section should only apply to the current project"
NuGet product used: dotnet.exe
NuGet version (x.x.x.xxx):
dotnet.exe --version: 1.0.0-preview3-003892
OS version: Windows Server 2012 R2

In the project.json world, the runtimes section would only apply to the current project and not and P2P projects. For csproj files it looks like it tries to do this for all projects.

Repro steps (in the dotnet cli repo)
1. Go to tools\Archiver
2. Run dotnet res

[2016-10-25 20:18] TheRealPiotrP commented on #3768
@rrelyea this is preventing migrating CLI to msbuild

/cc @eerhardt @emgarten FYI

[2016-10-25 20:22] rrelyea commented on #3768
If you put <RuntimeIndentifiers>rid1;rid2</RuntimeIdentifiers> in the csproj, and stopped setting that property from the command line, does it work?

[2016-10-25 20:34] jgoshi commented on #3768
If I add this property to the csproj and stop passing it from the command line, then restore3 works:
<RuntimeIdentifiers>win7-x64</RuntimeIdentifiers>

Seems like restore3 expects the property to be names RuntimeIdentifiers with an s while publish3 expects it without the s. But that's probably a separate issue.

[2016-10-25 20:45] fatso83 commented on #3763
Is this why `nuget restore` always fails on Mono when using authenticated feeds? I was about to report that issue, but this seems very much like it.

[2016-10-25 21:02] eerhardt commented on #3768
I think the best thing we can do here for Dev15 RC is the following plan:
1. `RuntimeIdentifiers` gets specified in the .csprojs as necessary.
2. `dotnet migrate` takes the "runtimes" section and puts it in `RuntimeIdentifiers` in the .csproj.

Now restore will work correctly.
1. We fix `dotnet publish --runtime` to no longer issue a `restore`.  It will be expected that the project is already rest

[2016-10-25 21:07] zhili1208 commented on #3763
reading username and password from nuget.config should work

[2016-10-25 21:14] rrelyea commented on #3767
this was fixed by @jainaashish  - find the right issue to dupe too.

[2016-10-25 21:15] rrelyea commented on #3768
@eerhardt - like it!
@jgoshi  - we support singular or plural forms of "RuntimeIdentifier(s)"

[2016-10-25 21:19] rrelyea commented on #3755
Can you please confirm fixed, or investigate the fix. (if not fixed yet, coordinate with @alpaix, as he is also investigating some related issue).

[2016-10-25 21:22] gzak commented on #3400
@rrelyea sorry for not having tried this earlier, but I just tried it with the build you pointed to and i get the same error :-(

[2016-10-25 21:26] #3658 closed, assigned to alpaix

[2016-10-25 21:32] rrelyea commented on #3707
Planning on addressing post RC, in RC2, as we're running out of runway. Yell if that isn't ok.

[2016-10-25 21:37] mishra14 opened #3770 "Simplify NewtonSoft.Json references through client and core solutions/projects"
Triggered from  https://github.com/NuGet/NuGet.Client/pull/958

We should simplify our Newtonsoft.Json imports. For instance, if dev14 and dev15 have binding redirects for v9.0.1 then all our references should be bumped up to v9.0.1.

[2016-10-25 21:52] rrelyea commented on #2993
internal bug # 280293

[2016-10-25 21:53] rrelyea commented on #3748
How is this version used?
Is this blocking RC?
RC2 ok?

[2016-10-25 21:58] rrelyea commented on #3768
another way of working around this issue is restore each project directly with "--no-dependencies" -- it will only create one assets file.

[2016-10-25 21:58] rrelyea commented on #3768
can we close this issue?

[2016-10-25 21:59] rrelyea commented on #3633
Might also affect 3.5

[2016-10-25 22:03] jgoshi commented on #3768
If we work around the issue, isn't this still a bug though? Passing through the command line is supposed to work right?

[2016-10-25 22:14] eerhardt commented on #3748
We use the project assets file information to generate the .deps.json file - specifically we use:
1. The TargetLibrary Name
2. The TargetLibrary Version
3. The TargetLibrary's Dependencies
4. The LockFileLibrary's MSBuildProject to match it with other MSBuild info about the P2P reference.

So if this Version is wrong, then the library's version in the .deps.json is going to be wrong.

Looking thro

[2016-10-25 22:14] emgarten commented on #3768
The real cause of the failure here is the guardrails check for runtimes. This needs to be fixed: https://github.com/NuGet/Home/issues/1623

Without guardrails the restore would have completed without errors, and publish could then decided which assemblies were needed.

Applying the RIDs to all projects seems like the correct behavior to me. If a child project needed RIDs and was already restored c

[2016-10-25 22:16] jgoshi commented on #3768
Ok, in that case sure go ahead and close this issue.

[2016-10-25 22:21] rrelyea opened #3771 "NuGet.exe support for wave3 for api keys improvements"

[2016-10-25 22:40] jainaashish commented on #3755
It's fixed.

[2016-10-25 22:40] #3755 closed, assigned to jainaashish

[2016-10-25 23:19] emgarten opened #3772 "Add verbosity option to dotnet restore3"
Currently dotnet restore3 does not have a verbosity option, it must be passed with `/p:verbosity` directly to MSBuild.

There are currently three sets of log levels:
1. NuGet log levels
2. CLI log levels
3. MSBuild log levels

The restore command should be made to match the rest of the CLI commands.

[2016-10-25 23:20] rrelyea commented on #3767
Dupe of #3724  - had to do with no Guid in the .csproj. Fixed in Dev. Will be checked in mega-insertion.

[2016-10-25 23:20] #3767 closed, assigned to nobody

[2016-10-25 23:45] rrelyea opened #3773 "ASP.NET Core web app, migrated from VS2015 to VS "15", unable to restore."
Internal bug 281338 Open ASP.NET Core web app using VS "15" RC, unable to restore packages and build project

[2016-10-26 00:14] pranavkm commented on #3748
cc @pakrym in case he knows more. We don't use the Version component of DependencyContext in Mvc (just the name). So this shouldn't affect AspNetCore.

[2016-10-26 00:22] #3734 closed, assigned to alpaix

[2016-10-26 01:26] #3698 closed, assigned to rohit21agrawal

[2016-10-26 01:56] rohit21agrawal opened #3774 "Update all packages in NetCore projects updates for every TFM instead of ones that pacakge supports"
Please read the following information before posting the issue.
## Before posting the issue...
- If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
- If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the content

[2016-10-26 07:55] AndyTian-Devops opened #3775 "[Test Failure]Can not open NuGet package manager UI"
**NuGet version** : 4.0.0.2024

**VS version :**  Dev15 d15prerel 25825.02

**OS version**: Windows 10 RS1_Release 14393.332

**Repro Step:**
1. Launch Visual Studio 2017
2. Create a C# WPF appliaction. In Solution Explorer, right click "References" node, select "Manage NuGet Packages...".

**Expected:**
Manage NuGet Packages can be opened.

**Actual:**
An error dialog pop up.
![nugetpackmanager](

[2016-10-26 08:05] AndyTian-Devops commented on #3775
1. This issue also happened on Dev14 MU3.5 + NuGet Client dev 2024.
2. This issue is unstable, can not repro it on every test machines. i reserved a repro machine to investigating this issue. "Exprblnvm66959" .

[2016-10-26 08:06] rlaveycal opened #3776 "no_proxy containing wildcard breaks nuget"
## Details about Problem

If the NO_PROXY environment variable contains a wildcard domain (e.g. *.acme.com) then all calls to nuget.org fail.

Looking at the source this shouldn't be an issue as https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Configuration/Proxy/WebProxy.cs#L84 contains

[code]

although those replace statements are in the wrong order (the ? in the 1st gets rep

[2016-10-26 08:21] AndyTian-Devops commented on #3755
@jainaashish Could you tell us the build version we can verify the fix. Thanks

[2016-10-26 09:14] v-luzh opened #3777 "[Test Failure] VS hang when building project (dev 2024)"
**Repro Steps:**
1.  Creat a C# ASP.NET Web Application.
2.  Click **Web Forms** template and check “Web Forms” and “Web API”.
3.  Change Authentication to “No Authentication” and click OK button.
4.  Build the project.

**Expected Result:**
Build is successful.

**Actual Result:**
VS crashed as below screenshot.
![buildprojectcrashvs](https://cloud.githubusercontent.com/assets/20632625/19720090/4

[2016-10-26 09:20] nerumo commented on #3324
@rrelyea since Jenkins Branch Pipeline creates horribly long sln root folder names (and they aren't willing/capable to change that, so I can't shorten the path anymore. Is there a another workaround? Will this be addressed in 3.\* or in 4?

[2016-10-26 13:24] Jeern commented on #3168
We have the same problem - and would really like this to be fixed asap. We have confirmed that rolling back to nuget 3.3.0.167 fixes the problem. This is not a good option though since we do not want all developers in the company to roll back.

[2016-10-26 15:10] pakrym commented on #3748
I don't think `type:project` dependency version is used anywhere right now.

[2016-10-26 15:31] rrelyea commented on #3775
Did not repro on my 4 core VM (no 63)

[2016-10-26 15:33] rrelyea commented on #3775
@v-atian  - Can you describe any differences between the machines that repro this problem and those that don't. What percentage of machines repro this problem?

[2016-10-26 16:43] rrelyea opened #3778 ".NET Core - installing a nupkg fails"
VS 2017 25825.04
NuGet 2025

Create a .NET Core Console C# project
Restore happens in background.
Open Manage Packages UI
Try to install Newtonsoft.Json 9.0.1

First try I get:
NuGet.Commands.RestoreSpecException: Invalid restore input. Missing project 'C:\Users\rrelyea\documents\visual studio 2017\Projects\ConsoleApp1\ConsoleApp1\ConsoleApp1.csproj'.
   at NuGet.Commands.SpecValidationUtility.Val

[2016-10-26 17:54] mhutch commented on #3766
Yes, that's a BOM.

[2016-10-26 18:15] zhili1208 commented on #3775
did not repro on my VM

[2016-10-26 18:18] Kemyke commented on #3664
It works fine from a Windows machine.
I tried with windows auth and basic auth. I can restore package from the private repo with both methods.

[2016-10-26 18:26] harikmenon commented on #2212
@karann-msft

[2016-10-26 18:55] emgarten opened #3780 ".NETCore file new project should block the build during restore"
It should not be possible to start a build while a project is restoring.
### Steps
1. File New Project > Web > NETCore
2. While restore is still running start a build
### Expected

The build button should not be enabled while restore is running
### Actual

A build starts

[2016-10-26 19:14] schellap commented on #3748
The host is agnostic to the type of the asset (package, project etc.) It uses a probing order given package name and version which forms the identity (meaning what) -- this can be found in the NuGet cache (meaning where) if it appears there first.

[2016-10-26 19:15] rrelyea opened #3781 "New UWP Project > install a package - 1st time works, 2-n fails"
dev 2025 + d15prerel25825.04

[2016-10-26 19:18] mishra14 opened #3782 "Due to risk of deadlock cannot call GetService from a background thread"
Repro -
1. New .Net framework console app
2. build it.
3. launch pmc or nuget UI

![2016-10-26](https://cloud.githubusercontent.com/assets/10507120/19741624/4a0a3eaa-9b76-11e6-8938-0dbf1e9c4c33.png)

//cc: @rrelyea @alpaix

[2016-10-26 20:26] joelverhagen opened #3783 "Project reference paths are null in d15prerel (makes E2E assertions fail)"
This seems to be a regression in DTE/Visual Studio, but I am tracking this here until I know more.

Working VS versions:
d14u3, d15p5, d15prerel/25819.0

Broken VS versions:
d15prerel/25825.4
## Steps
1. Open Visual Studio (I used d15prerel/25825.4)
2. File new project a legacy C# console app.
3. Open PMC
4. `Install-Package Newtonsoft.Json -Version 8.0.3`
5. `$project = Get-Project`
6. `$referenc

[2016-10-26 21:33] jainaashish commented on #3777
Another scenario to repro this bug:
1. Create ASP.Net web application project.
2. Open nuget manager ui
3. do restore.

It will make VS hang.

[2016-10-26 21:49] jainaashish commented on #3777
Merged 5cca35c90b93d6cecb050d0bed70500226f0b0ea

[2016-10-26 21:49] #3777 closed, assigned to jainaashish

[2016-10-26 21:51] mishra14 commented on #3778
Merged: https://github.com/NuGet/NuGet.Client/commit/b3897637a4b481d62822d275acb7680196c81d3d

[2016-10-26 21:51] #3778 closed, assigned to rohit21agrawal, mishra14

[2016-10-26 21:54] alpaix opened #3784 "Replace GetService with GetServiceAsync everywhere in NuGet.Clients"
Follow up on #3775.

Recommended practice of acquiring VS services is always calling `GetServiceAsync` to avoid the high risk of deadlock. All the occurrences of `GetService` and `ServiceLocator` should be replaced.

[2016-10-26 22:01] #3775 closed, assigned to nobody

[2016-10-26 22:20] mishra14 commented on #3670
Merged: https://github.com/NuGet/NuGet.Client/commit/072270773bafb3e2ef22178b7b5fc791e23c5891

[2016-10-26 22:20] #3670 closed, assigned to mishra14

[2016-10-26 23:15] #3782 closed, assigned to alpaix

[2016-10-26 23:15] alpaix commented on #3782
The same as #3775

[2016-10-26 23:43] #3781 closed, assigned to emgarten

[2016-10-27 02:16] emgarten opened #3785 "Install package restore double logs the restoring packages message"
The first message is logged twice

[code]

[2016-10-27 02:17] emgarten opened #3786 "Use the same time format for all logs"
The below example has three different formats for the time, these should all be the same if possible.

[code]

[2016-10-27 02:17] SupporterMan opened #3787 "NuGet restore add references and content file automatically"
When we restore NuGet packages through VS UI or run command "nuget restore Solution.sln", it only download the NuGet packages into packages folder, but doesn't add the references and contents files into project.

NuGet version: Lastest version

VS version: VS2015 with Update 3

Detailed repro steps
1. Install a NuGet package on your project, please make sure this package will add references and co

[2016-10-27 02:22] emgarten opened #3788 "PackageReference with a star in version is displayed under the updates tab/incorrectly represented in the installed tab"
### Steps
1. File > New Project > NETCore console app
2. Add a package reference with a star
3. Open the NuGet UI and go to the installed tab
### Expected

No updates displayed, and the correct package info is shown
### Actual

An update is displayed and no package info

[code]

![capture](https://cloud.githubusercontent.com/assets/6381138/19752314/3b52d558-9bb1-11e6-9326-19bc09ffa8ee.PNG)

Anothe

[2016-10-27 02:36] rrelyea opened #3789 "Solution Restore and Build Restore still show dialogs"
when in .net core projects, there should be no way to see a restoring dialog.

1file new project> asp.net core web app
2auto restore works.
3 if you build, restore dialog shows up
or
4 if you solution restore, restore dialog shows up

[2016-10-27 02:38] jainaashish opened #3790 "additional "g" in nuget props and target files for CPS project system"
Not sure if it's expected or issue but with CPS based project, nuget prop and target files names are as follow:

*.csproj.nuget.g.props
*.csproj.nuget.g.targets

Feels like an additional g?

[2016-10-27 02:41] emgarten opened #3791 "Restore does not run when a project is unloaded"
### Steps
1. Create a new WebApplication for Core
2. Create a new WebApplication for Desktop in the same solution
3. Unload the Core project
4. Right click on the solution to restore
### Expected

The solution will restore
### Actual

Nothing happens, there are no output messages

[2016-10-27 02:41] jainaashish opened #3792 "GetService error while installing package on CPS project system"
1. Create CPS project with dev15
2. try installing newtonsoft.json 8.0.1 package, it will fail since not compatible with .net standard 1.4
3. then try installing newtonsoft.json 9.0.1 package, it will throw GetService error.

Complete logs:

Restoring packages for c:\users\asja\documents\visual studio 2017\Projects\CPSProj2\CPSProj2\CPSProj2.csproj...
Restoring packages for c:\users\asja\documents

[2016-10-27 02:51] jainaashish opened #3793 "Update tab not refreshed after installing a package"
1. create cps based library project with d15 25825.4 with 2027 nuget vsix
2. install jquery 3.1.0

Expected:
After installation, it should show 1 update available in update tab.

Actual:

![image](https://cloud.githubusercontent.com/assets/18219758/19752907/90f5284a-9bb5-11e6-9ee1-74ae5388ab81.png)

[2016-10-27 02:54] emgarten opened #3794 "Restore fails to resolve p2p references"
Build 2028

Restore is unable to resolve p2p references from .NETCore projects.
### Steps
1. Create a new .NETCore console app
2. Create another new .NETCore console app in the solution
3. Add a reference from one to the other
4. (Restore auto runs)
### Expected

No failures
### Actual

[code]

[2016-10-27 03:21] rrelyea commented on #3794
Assume this is package spec creation problem in auto restore?

[2016-10-27 03:54] jainaashish commented on #3773
If we open nuget manager ui and then do the restore on this migrated project then its working. But if we just do the restore then it throw error for unidentified project system. Further investigating...

[2016-10-27 05:33] emgarten commented on #3790
This is expected, the `.g` stands for generated file. It lets users know not to edit this file directly since something else is used as the input to create it.

[2016-10-27 05:57] emgarten opened #3795 "MSBuild restore target fails due to incorrect version of json.net"
Build 2802
### Steps
1. Create a new .NETCore console app
2. Open a developer command prompt
3. `msbuild /t:Restore myApp.csproj`
### Expected

Project will restore without errors
### Actual

The build task expects newtonsoft.json 6.0.x but the VSIX contains 8.0.x

[code]

[2016-10-27 06:40] Weasy666 commented on #3787
I have the exact same issue with VS 2015 Professional Update 3.
First/Initial install works, but when the project is pushed to a remote repository with the content files on gitignore and cloned on another machine, the restore of the packages doesn't copy the content files to the project.
A way to do that automatically would be great. Right now it's either the command line `nuget restore Solution.s

[2016-10-27 08:51] emgarten commented on #3794
Yes, I think it's just a small fix there

[2016-10-27 11:03] sanjeev8800 commented on #1542
Severity    Code    Description Project File    Line    Suppression State
Error       Package 'StockSharp,4.3.17' is not found in the following primary source(s): 'https://api.nuget.org/v3/index.json'. Please verify all your online package sources are available (OR) package id, version are specified correctly.           0

Please anybody idea why this error occured.

thanks
san

[2016-10-27 12:20] marek-safar commented on #3763
We are tracking similar issue as https://bugzilla.xamarin.com/show_bug.cgi?id=44109

[2016-10-27 12:23] mrward commented on #3762
@zhili1208 - This may be fixed in Mono 4.8.0 but I would like to test it.

In order to try to reproduce this:

1) How do I setup a NuGet server with a credential? Is this using the NuGet.Server NuGet package? Is the url using https?
2) The restore is done from the command line? Using NuGet.exe - any particular version?

[2016-10-27 14:36] eerhardt commented on #3768
If that is the correct behavior, please give us a way to only apply the RID to a single project, and still allow referenced projects to be restored correctly.

See https://github.com/dotnet/cli/issues/4294#issuecomment-256533411.  It is a goal of the CLI's to allow publishing self-contained apps to be a "publish time" decision.  Basically, the user shouldn't have to change the project at all to be

[2016-10-27 16:02] philmagr opened #3796 "Can't browse packages while install is running"
## Details about Problem

NuGet product used: VS UI

NuGet version: No idea. Google only tells me how to get the command line version.

VS version (if appropriate): 2015

OS version: win10 v1511 (10586.589)

Worked before? If so, with which NuGet version: no idea
## Detailed repro steps so we can see the same problem
1. Find a package
2. Install that package
3. Try to find next package you want to

[2016-10-27 16:03] alpaix commented on #3746
Duplicate to #3739

[2016-10-27 16:03] #3746 closed, assigned to alpaix

[2016-10-27 17:01] rrelyea commented on #3783
Fix in PR by Tom

[2016-10-27 17:07] zhili1208 commented on #3762
@mrward please use my test app to repro this issue https://github.com/zhili1208/MockServerOnMono/blob/master/MockServer/Program.cs
it will set up server with credential for you, just call CredentialRetryIssue.ReproIssue(), it will repro the issue

[2016-10-27 17:13] rrelyea commented on #3773
Any update?

[2016-10-27 17:15] skofman1 commented on #1542
@sanjeev8800 , I wasn't able to repro the issue you are describing. Installation of 'StockSharp,4.3.17' succeeded for me using VS 2015 Update 3. Are you still experiencing the issue?

[2016-10-27 17:20] rrelyea commented on #3633
Do we think this is affecting .net core only, or p.c and p.j too?

[2016-10-27 17:25] rrelyea commented on #3721
Confirmed with @yishaigalatzer that we only want to add PackageReferences on the install scenario. Not the upgrade scenario, or the upgrade several scenario.

[2016-10-27 17:29] rrelyea commented on #3752
closed

[2016-10-27 17:29] #3752 closed, assigned to alpaix

[2016-10-27 17:33] alpaix commented on #3794
@emgarten Do you think the relative project path could be the root cause here?

[2016-10-27 17:34] rrelyea commented on #3533
Feature is in, except for the PackageTargetFallback.

[2016-10-27 17:40] rrelyea commented on #3748
Moving to RC2, yell if that is too late.

[2016-10-27 17:48] rrelyea commented on #3722
Needed for RC?

[2016-10-27 17:49] joelverhagen commented on #3722
No, this is a nuget.exe feature and does not effect the VSIX.

[2016-10-27 17:49] rrelyea commented on #3789
evaluate risk, for .net core only.  then for that and uwp.

[2016-10-27 17:52] rrelyea commented on #3504
This blocks legacy csproj from command line (msbuild /t:restore + nuget.exe)

[2016-10-27 18:07] rrelyea opened #3797 "Solution Restore should be blocked while auto restore is happening."
also need to drive the requirement for CPS to block the build (which is tracked by: https://github.com/dotnet/roslyn-project-system/issues/654)

[2016-10-27 18:14] rrelyea commented on #3633
@zhili1208  - please figure out how this compares to uwp/p.j in 3.x and to .net core in vs2015

[2016-10-27 18:26] rrelyea commented on #3774
consider UI solution and scenarios

[2016-10-27 18:49] joelverhagen opened #3798 "Debug build: assertion failed while restoring multiple TFMS for .NET Core project in VS"
It looks like restores inside of VS are not setting the `PackageSpec.RestoreMetadata.CrossTargeting` boolean.

The assertion that is failing is:
https://github.com/NuGet/NuGet.Client/blob/c1fb5ed9df932ff2d5240ae2e560732085899a69/src/NuGet.Core/NuGet.Commands/RestoreCommand/Utility/BuildAssetsUtils.cs#L87-L89

Line 88 could use the `isCrossTargeting` local since it looks we consider TFM.Count > 2 c

[2016-10-27 18:49] joelverhagen commented on #3798
/cc @emgarten

[2016-10-27 18:54] mishra14 opened #3799 "Successful restore message is displayed even after error during restore."
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VSIX

NuGet version (x.x.x.xxx): 4.0.0.2027

VS version (if appropriate): d15prerel/15.0.25825.4
## Detailed repro steps so we can see the same problem
1. Create new .Net core console app and build app.
2. Delete all packages in global packages folder.
3. Perform restore on the solution.
4. Che

[2016-10-27 18:56] joelverhagen commented on #3798
Note that using the debugger to skip over the assertion yields a good restore (from what I can tell)

[2016-10-27 19:02] #3719 closed, assigned to emgarten

[2016-10-27 19:19] emgarten commented on #3739
One additional property that should be added is: `Version`, if provided in the property bag this should be applied to `PackageSpec.Version`

[2016-10-27 19:26] emgarten commented on #3794
@alpaix yes, relative path was the main issue. Also project references now go under the restore metadata since these are paths instead of package ids, the project id is resolved later.

[2016-10-27 19:39] rrelyea commented on #3502
We just got a report in email today, think i included @mishra14  - please follow up and find that repro, which may be different than described above.

[2016-10-27 19:52] rrelyea commented on #2121
Appears fixed. However in my repro (on a VM), VS was black, and dialog was showing. Please see what you see.

[2016-10-27 20:25] emgarten opened #3800 "SolutionFile imports conflict with ImportsAfter import of nuget.targets"
NuGet.targets is now imported using ImportsAfter at both the SolutionFile and project level. Having both of these imports can cause conflicts.

The warning below appears when building a solution.

[code]

[2016-10-27 20:30] shishirx34 commented on #1542
@sanjeev8800 - I have created a separate issue to track the problem https://github.com/NuGet/NuGetGallery/issues/3321. Investigating.

[2016-10-27 20:39] jainaashish commented on #3790
ok then closing this.

[2016-10-27 20:39] #3790 closed, assigned to nobody

[2016-10-27 20:51] jainaashish opened #3801 "VS crash on nuget restore on asp .net core web app project"
1. Create a new project of ASP .Net core web application and choose Web API template.
2. do restore.

It crash VS!

If it doesn't happen first time, then try closing this solution and re-open again and do restore. Try these steps couple of times.

Root Cause: it happens when you click restore when auto-restore is still in progress.

[2016-10-27 21:14] mishra14 commented on #3502
@rrelyea, @emgarten: verified that this is fixed in the latest CI build.

[2016-10-27 21:14] #3502 closed, assigned to mishra14

[2016-10-27 21:16] #3795 closed, assigned to mishra14

[2016-10-27 21:16] jainaashish commented on #3729
Calling into DTE at the time of nomination, sometimes create issues to get the project details since project is still being loaded. And throw below error:
`Error occurred while restoring NuGet packages: The operation failed as details for project WebApplication3 could not be loaded.`

Steps to repro this:
1. create asp .net core web app with web api template
2. do restore.

If not repro at first t

[2016-10-27 21:24] mishra14 commented on #3222
Since package id/namespace are code identifiers, this is expected.

[2016-10-27 21:24] #3222 closed, assigned to mishra14

[2016-10-27 21:25] zhili1208 commented on #3633
uwp/p.j in 3.x and .net core in vs2015 all doesn't have restore logs in output windows

[2016-10-27 21:30] jainaashish commented on #3773
Restore is working for migrated projects. Although we've an open issue https://github.com/NuGet/Home/issues/3729 which sometimes clashes with migrated projects and throw error on restore. So Closing this bug as fixed.

[2016-10-27 21:30] #3773 closed, assigned to jainaashish

[2016-10-27 21:37] zhili1208 commented on #3792
Repro with 4.0.2027 and validate with 4.0.2028, 2028 doesn't repro this issue any more

[2016-10-27 21:37] #3792 closed, assigned to zhili1208

[2016-10-27 21:45] manu-st opened #3802 "NuGet v3.0 API guidance"
Hi,

I'm migrating some code that was using NuGet v2.0 to use the new NuGet v3.0. I'm having some issues most related to the way things are now working. One example is when installing a package, in the old API you could get callbacks on the progress of the download, in v3.0 I only found PackageProgressEventArgs but this is not used at all.

Where is the best place to discuss the API usage with oth

[2016-10-27 21:47] rrelyea commented on #3457
UI is post RTM

[2016-10-27 21:49] rrelyea commented on #3696
Rohit is oof. Is this really a validation task? Or is there work here?
If there is work, how important is it for RC?

[2016-10-27 21:50] rrelyea commented on #3697
lock down behavior in rc2. but this feels right.

[2016-10-27 22:00] joelverhagen commented on #3696
We can choose to not fix this for .xproj. If so, then this is a validation task for PackageReference (which I have already verified as not effected). If not, then we should leave this open for the .xproj scenarion. Your call, @rrelyea @yishaigalatzer

[2016-10-27 22:10] rrelyea commented on #3696
yes, won't fix for xproj/p.j.
thx!

[2016-10-27 22:10] #3696 closed, assigned to joelverhagen

[2016-10-27 22:12] rrelyea commented on #3780
We are working with CPS team to get this to happen

[2016-10-27 22:15] #3794 closed, assigned to emgarten

[2016-10-27 22:16] mishra14 commented on #3783
From Tom -
Yes. The fix for that is in d15prerel and wpt.
D15prerel is still chewing on 25827.02, which predates my change. Anything after that will have the fix.

Waiting for the build to be available.

[2016-10-27 22:17] rrelyea commented on #3633
@balachir  - We plan to address post-RC, as this isn't a blocker, as it is not a regression from preview2 tooling experience. Please yell if any of our analysis is wrong there.

[2016-10-27 22:18] drewgillies commented on #3533
PTF is operational. More test coverage of project desired, but test framework is in place, and we are complete.

[2016-10-27 22:18] #3533 closed, assigned to drewgillies

[2016-10-27 22:24] joelverhagen opened #3803 "UI does not always match project state in .NET Core multitargetting projects"
## Steps
1. Open a new d15 (I used d15prerel).
2. New .NET Core class library
3. Unload project and edit the .csproj.
4. Multi-target. `<TargetFrameworks>netstandard1.4;netstandard1.5</TargetFrameworks>` is the easiest.
5. Reload project and Manage NuGet Packages...
6. Install Newtonsoft.Json.
7. Switch to Installed tab
## Expected

Newtonsoft.Json should be listed.
## Actual

Newtonsoft.Json is n

[2016-10-27 22:25] rrelyea commented on #3803
This only repros with multitargetting?

[2016-10-27 22:26] joelverhagen commented on #3803
Yes, @jainaashish did you run into any weirdness without multi-targeting?

[2016-10-27 22:27] rrelyea commented on #3801
Dupe of #3797 ??

[2016-10-27 22:28] rrelyea commented on #3798
dupe of #3739 ??

[2016-10-27 22:28] rrelyea commented on #3800
is this tracking our fix or an external team?

[2016-10-27 22:30] joelverhagen commented on #3798
Yes

[2016-10-27 22:30] #3798 closed, assigned to alpaix

[2016-10-27 22:33] drewgillies commented on #3725
This scenario is now fixed (as is the included packages.config scenario). Build 25821.9. Closing.

[2016-10-27 22:33] #3725 closed, assigned to drewgillies

[2016-10-27 22:38] drewgillies commented on #3723
Scenario no longer repros on 25821.9. Although:
- we still have a squiggle on PackageReference
- we still have an error node in the solution explorer for the package.
  Tracked in different bugs. Closing.

[2016-10-27 22:38] #3723 closed, assigned to drewgillies

[2016-10-27 22:43] jainaashish commented on #3803
I thought I saw some weirdness even with single tfm but now it looks good. So this repros only with multi-tfms

[2016-10-27 22:49] jainaashish commented on #3801
Not completely dupe of #3797 since here auto restore is already running, and we start a explicit restore. We should show warning message of a restore still in progress when this happens and discard this. But both the bugs could be worked upon in single PR.

[2016-10-27 23:16] rrelyea opened #3804 "Does UI feedback for AutoRestore need more visible notifications?"
For RC, all we have is the status bar.
In vs2015 & preview 2 tooling, there was more prominent feedback.

[2016-10-27 23:19] mishra14 commented on #2121
@rrelyea : Seems to be fixed in VS 2017 build d15prerel/15.0.25826.3

Validating on Blend,

[2016-10-27 23:27] rrelyea commented on #3800
#2993 still covers this. Justin is working with the external team after investigating on our side.

[2016-10-27 23:27] #3800 closed, assigned to nobody

[2016-10-27 23:43] rrelyea commented on #3773
marking as dupe of #3729

[2016-10-27 23:50] rrelyea commented on #3721
ok to move to "in review"? if so, please do.

[2016-10-27 23:53] joelverhagen commented on #3721
Yes, moved.

[2016-10-28 00:03] rrelyea commented on #3457
perhaps confused. please give details of any repro.

[2016-10-28 00:16] rrelyea commented on #3793
any update (ha ha)

[2016-10-28 00:21] mishra14 commented on #3726
Validated with build: d15prerel/25825.4 Nuget/4.0.0.2033

[2016-10-28 00:21] #3726 closed, assigned to mishra14

[2016-10-28 00:23] drewgillies commented on #3306
This is done.

[2016-10-28 00:23] #3306 closed, assigned to drewgillies

[2016-10-28 00:24] drewgillies commented on #3305
This is done.

[2016-10-28 00:24] #3305 closed, assigned to drewgillies

[2016-10-28 01:01] mishra14 opened #3805 "Installing Newtonsoft.Json to Wpf throws error about execution of install.ps1 but still installs"
Versions: d15prerel/25825.4 NuGet/2033
## Steps
1. New wpf application
2. Install Newtonsoft.Json
3. See output logs
## Log

Attempting to gather dependency information for package 'Newtonsoft.Json.9.0.1' with respect to project 'WpfApp4', targeting '.NETFramework,Version=v4.5.2'
Gathering dependency information took 398.02 ms
Attempting to resolve dependencies for package 'Newtonsoft.Json.9.0.1'

[2016-10-28 01:25] balachir commented on #3633
@rrelyea, @zhili1208 , this is a regression from the experience in Dev14 though. Restore logs definitely did go into 'Package Manager' Output window pane in Dev14 for ASP.NET Core projects.

![image](https://cloud.githubusercontent.com/assets/8246794/19791069/a5939288-9c72-11e6-9a05-7e84d1731a19.png)

[2016-10-28 01:45] mishra14 commented on #2121
Investigated more on blend. Seems like NRM is either not being loaded or Blend/VS platform does not fire the right events. Will investigate further.

[2016-10-28 01:48] emgarten opened #3806 "Perform restore commit by moving files"
When committing restore results nuget should first write the files to disk, then move them into place.

If the move files nuget should continue retrying for a reasonable amount of time. This will reduce conflicts with the consumers of these files.

[2016-10-28 01:51] emgarten opened #3807 "Lock projects during restore with CPS IProjectLockService"
CPS Projects should be locked during restore so that consumers of restore outputs can wait until the result is complete.

[2016-10-28 02:44] jainaashish commented on #3793
Fixed with latest 2033 build.

[2016-10-28 02:44] #3793 closed, assigned to jainaashish

[2016-10-28 02:50] jainaashish commented on #3805
It's working fine. May be you didn't have the right execution policy set for your powershell. Execute below command from any powershell window n then try again.

`Set-ExecutionPolicy Unrestricted`

[2016-10-28 02:53] rrelyea commented on #3805
@zhili1208  - you've done investigations about this before, haven't you. Any info you can share?

[2016-10-28 03:02] rrelyea opened #3808 "ASP.NET Web core app + installing MVC fails during restore."
SCENARIO
1.  New ASP.NET Core Web Application (.NET Core) > Empty
2.  Add Microsoft.AspNetCore.Mvc package using Manage NuGet packages dialog

ISSUES
1.  When I tried earlier, I likely selected the wrong package to install – I typed ‘mvc’ and chose ‘Microsoft.AspNet.Mvc’ by mistake instead of finding ‘Microsoft.AspNetCore.Mvc’. Package install failed and it also rolled back the changes, which is p

[2016-10-28 03:05] rrelyea opened #3809 "PackageRef in CPS -- preserve devdependency flag from referenced nuspec"
want to avoid hitting #520
per @kzu's comment in #3457

[2016-10-28 03:05] rrelyea commented on #3457
Basic feature is done/working. Tracking the one failure we have with #3808
Opening kzu's comment in #3809

[2016-10-28 03:05] #3457 closed, assigned to rohit21agrawal

[2016-10-28 03:10] rrelyea commented on #3739
Eta?

[2016-10-28 03:10] rrelyea commented on #3721
As you are about to be OOF, let me know if you need us to transfer to somebody else from the team.

[2016-10-28 03:29] rrelyea commented on #3768
@eerhardt - if users want to control nested projects with different RIDs, for now, they should turn off recursive restore, and restore the main project and the dependency project with different RIDs.
Otherwise, use the project file.

[2016-10-28 03:33] rrelyea commented on #3768
we'll continue discussion, if any, next milestone.

[2016-10-28 04:05] jainaashish commented on #3633
@balachir the logs you've pasted are from dotnet tooling auto restore and not from solution restore scenario. Even in Dev14 if you click restore on solution, it will not log anything in output window.

But there is a workaround for this, these solution restore logs are written under Build in output window. So if you build the solution once (even though it fails) and then do solution restore then i

[2016-10-28 05:09] alpaix opened #3810 "Cleanup CPS integration code when API is settled"
NRM API evolved during active development of VS "15". As the result of this incremental integration process actual code contains logic flows we won't need in post-RC era once API is settled.

Consider cleaning up the code marked as temporary integration.

[2016-10-28 05:27] #3806 closed, assigned to emgarten

[2016-10-28 05:40] #3721 closed, assigned to joelverhagen

[2016-10-28 05:43] #3739 closed, assigned to alpaix

[2016-10-28 11:42] kzu commented on #3457
:+1:

On Fri, Oct 28, 2016, 12:06 AM Rob Relyea notifications@github.com wrote:

##

/kzu from mobile

[2016-10-28 14:42] maartenba commented on #2869
@damianh That sucks :-( Do you have any request logs to share?

[2016-10-28 15:37] The-Futurist opened #3811 "Renaming a project/solution folder breaks integrity"
Because NuGet relies on <HintPath> a user can - legitimately - rename a project or solution and also the project and solution folder names. Any <HintPath> that was referring to these folder names thus becomes invalid.

This causes masses of unresolved references and the only fix seems to be manually and carefully editing the project file.

This is one more weakness in the whole NuGet design, innoc

[2016-10-28 16:58] ericstj commented on #3576
This may also need to happen for NuGet 2.x since we want this to work for net461 which can be targeted by VS 2013.

[2016-10-28 17:17] zhili1208 commented on #3805
What I investigated before is not the same issue, mine is about language mode, this is execution policies, user need to set right execution policies on their machine to enable script

[2016-10-28 17:42] rrelyea commented on #3633
Think about the experience for all scenarios.

[2016-10-28 19:19] rrelyea commented on #3808
Internal email:
Ok, now that I have time to read the bug and answer Ankit’s questions, I see that I misunderstood here. It works, but you only had minor issues.

1)  Ideally, ‘Microsoft.AspNet.Mvc’ will not even show for ASP.NET Core projects but this can wait until post-Dev15RC.
RR: this is a much desired feature that isn’t in scope for Dev15.  It involves client and server work. It isn’t small.

[2016-10-28 19:28] sunnydaleDoby opened #3812 "Inaccurate Target"
## Details about Problem

When trying to install System.Numerics.Vectors.4.1.1 into a VS2015 c++ project, the system gives the following error:

I have also installed the Package Manager Console and have the same problem.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): latest, downloaded from NuGet today.

NuGet version (x.x.x.xxx): Not sure where to find the versio

[2016-10-28 19:28] rrelyea opened #3813 "Confirm restore works in asp.net core project per internal bug"
Internal bug 283939 - should be fixed by #3739 - please install 4.0.0.2036 and confirm

[2016-10-28 19:36] rrelyea opened #3814 "Perf regression - After rebuild of UWP Project, next build causes a restore, which shouldn't be necessary."
Please investigate perf regression called out by internal bug: 283740

[2016-10-28 19:38] rob commented on #3808
Great, thanks @rrelyea!

[2016-10-28 20:19] drewgillies opened #3815 "Runtimes error in console app restore"
Following error occurs when console app restored. Also seems to be giving misleading project.json error from a package reference project.

Build started 10/28/2016 11:03:42 AM.
C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Microsoft.Common.targets\ImportAfter\Microsoft.NuGet.Solution.ImportAfter.targets(17,3): warning MSB4011: "C:\Program Files (x86)\Microsoft Visual

[2016-10-28 21:50] mishra14 commented on #3805
Tried with this setup:
Win 10;
VS 2017 RC/d15prerel/15.0.25828.0;
NuGet 4.0.0.2036;

Cannot repro. Closing the bug.

[2016-10-28 21:50] #3805 closed, assigned to mishra14

[2016-10-28 22:24] rrelyea opened #3816 "Solution Restore should clear AutoRestore queue and be added to queue, preventing hangs"

[2016-10-28 22:25] rrelyea commented on #3797
#3816 covers post-RC work to do in this area.

[2016-10-28 22:31] jainaashish commented on #3803
Nominate project api isn't being called after packages are installed/ uninstalled which is why we aren't able to update UI.
Communicated to Balaji/ Nat about the issue and awaiting their response.

[2016-10-28 22:43] rrelyea opened #3817 "integrate NuGet 4.0.0.2037 into CLI/SDK/CLI"

[2016-10-28 22:58] drewgillies commented on #3815
This is now unblocked. Missed a step in csproj conversion from project.json. Closing.

[2016-10-28 22:58] #3815 closed, assigned to drewgillies

[2016-10-28 23:02] jainaashish commented on #3814
Appears to be related to Program data cache so we'll wait for another integration into d15prerel, most likely it would solve this issue.

[2016-10-28 23:24] rrelyea commented on #3801
yes, #3797 will solve.

[2016-10-28 23:24] #3801 closed, assigned to alpaix

[2016-10-28 23:35] rrelyea opened #3818 "Get-Project returns null (in CPS or Legacy csproj only)"
Blocks EF team, and NuGet end-to-end tests.

[2016-10-28 23:50] mishra14 commented on #3813
Restore seems fixed. Tracking another internal bug 284913 to ensure that this is fixed

Update: 284913 is the typescript issue, which is fixed and closed.

[2016-10-29 00:01] rrelyea commented on #3803
External issue, we believe: https://github.com/dotnet/roslyn-project-system/issues/672

[2016-10-29 00:23] emgarten opened #3819 "Trim whitespace from MSBuild properties"
NuGet should trim whitespace from MSBuild properties

https://github.com/dotnet/cli/issues/4523

[2016-10-29 00:26] #3729 closed, assigned to zhili1208

[2016-10-29 00:36] rrelyea commented on #3797
Still in progress...finding issues with Task of bool

[2016-10-29 00:49] mishra14 opened #3820 "Get-Project related errors in E2E failures"
Based on [http://nugetci/viewLog.html?buildId=56094&tab=buildResultsDiv&buildTypeId=EndToEndTests_Vs15EndToEndTestsPrivateDevBranches](http://nugetci/viewLog.html?buildId=56094&tab=buildResultsDiv&buildTypeId=EndToEndTests_Vs15EndToEndTestsPrivateDevBranches)

Its possible that Get-ProjectDir, Get-ProjectItem are failing because of a common issue with #3818

We need to investigate once #3818 is fi

[2016-10-29 01:09] rrelyea commented on #3807
Moving to RC2. We think the other fix in RC likely covers it, and this will be hard to converge in short order.

[2016-10-29 01:12] #3817 closed, assigned to emgarten

[2016-10-29 12:09] rrelyea opened #3821 ".NET Core F5 perf regression from Preview 2 (too much restore time)"
Compare with VS2015.3 + .Net Core Tools (preview 2)
Have internal thread, i will loop investigator on.

[2016-10-29 16:40] Zulqarnain-ZQ opened #3822 "Page Not found is coming for "Matching assembly versions and target framework in a project""
I was going through the documentation of Nuget for creating a simple package and found out one link on below page:
https://docs.nuget.org/ndocs/create-packages/supporting-multiple-target-frameworks

That link was related to "Matching assembly versions and target framework in a project". On clicking that link, 404 Page not found message is shown. URL for that page is:
https://docs.nuget.org/ndocs/c

[2016-10-29 21:00] maciejw commented on #545
this nuget and sqlproj thing has another side, nuget has one cool feature, that is customization and extending of build process, through build folder that has msbuild target files in it. this is of course, development dependency only, but it would be cool to add package from nuget gallery that adds data migrations to the project, like this I've made https://github.com/maciejw/dacpac-data-migration

[2016-10-29 23:25] jainaashish commented on #3820
This should have been fixed with https://github.com/NuGet/Home/issues/3818 pls verify on new build!

[2016-10-30 00:42] yishaigalatzer opened #3823 "NuGet operations can hang [Customer report]"
VSFeedback Id: 689069

Investigate the dump in the case, and turn into a more detailed issue/resolution

[2016-10-30 00:43] yishaigalatzer commented on #3822
Thanks, we will get it fixed. I hope by early next week

[2016-10-30 01:08] yishaigalatzer opened #3824 "Validate we Support Unicode in owner name and other properties"
Validate that various properties in a package can support unicode:

For example - Owner = För

Validate that pack works for nuspec, and `<PackageReference>` scenario, and that the UI shows the owners correctly after pushing to a server/nuget.org

[2016-10-30 04:11] rrelyea commented on #3807
Looks like we'll need this asap. In my testing on 25928.3 (hard to install), net core console apps were having auto restore not run often.

[2016-10-30 04:51] rrelyea commented on #3818
this had some regressions in end to end tests. likely needs continued investigation.

[2016-10-30 04:52] rrelyea commented on #3818
nuget 4.0.0.2040 has this fix...@bricelam could try that out. however see above about regressions. did it help you?

[2016-10-30 05:34] emgarten commented on #3807
@rrelyea were you getting the same error dialog as we saw before? are we sure this locking would help trigger auto-restore reliably?

[2016-10-30 05:46] rrelyea commented on #3807
When i used 2034 build, with 25828.03 build, auto restore was not always working. Went back to 2033 and it did. Perhaps we just debit that situation.

[2016-10-31 01:23] balachir opened #3825 "Show the build number of NuGet in the Help-About entry"
## Details about Problem

NuGet product used: VS UI

NuGet version : 4.0.0.2039

VS version (if appropriate): d15prerel.25830.00

OS version: Win10 v1607
## Detailed repro steps so we can see the same problem
1. Install above build of Dev15 RC
2. Start VS, open Help About
## ACTUAL

NuGet version shows up as 4.0.0
![image](https://cloud.githubusercontent.com/assets/8246794/19841781/accb8f26-9ecd-1

[2016-10-31 04:53] scovetta opened #3826 "Exception from NuGet.Core when loading packages containing malformed URLs"
I noticed a bug in what I believe is the NuGet.Core library, specifically the code that iterates through an IQueryable<IPackage> object.

Example code -- this code causes a crash (requires NuGet.Core):

[code]

The output and stack trace is as follows:

[code]

It appears that this is the result of a malformed URL coming back from the nuget.org:

Direct URL to malformed entry:
https://www.nuget.or

[2016-10-31 07:54] AndyTian-Devops opened #3827 "[Test Failure]Failed to update a latest packge in .NetCore application"
**NuGet version:** 4.0.0.2040

**VS version:** D15PreRel 25830.00

**OS version:** Windows 10 RS1_Release 14393.332

**Repro Steps:**

1. Create a **C# .NET Core Console App**.
2. After project load completed, open PMC.
3. Input command "Update-Package Microsoft.Net.sdk"

**Expected:**
There is no error when updating a latest package.

**Actual:**
![updateerrornetcore](https://cloud.githubusercont

[2016-10-31 07:58] AndyTian-Devops commented on #3827
if i open package manager UI. I can find Package "**Microsoft.NET.Sdk**" lists in the **Installed** tab.
![1031](https://cloud.githubusercontent.com/assets/12235523/19847561/cbbeabd8-9f82-11e6-888c-66c20613ccc1.png)

[2016-10-31 08:46] AndyTian-Devops opened #3828 "[Test failure]In .NetCore application, error occurs when getting packages updates."
**NuGet version:** 4.0.0.2040

**VS version**: D15PreRel 25830.00

**OS version:** Windows 10 RS1_Release 14393.332

**Repro Steps:**
1.Create a **C# .NET Core Console App**.
2.After project load completed, open PMC.
3.Input command "**Get-Package -Updates**"

**Expected:**
There is no error when getting packages update.

**Actual:**
Error occurs when getting packages updates.
![netcoregetupdates]

[2016-10-31 10:04] v-luzh opened #3829 "[Test Failure] Package ‘Microsoft.NETCore.Portable.Compatibility’ had not been installed into C# Class Library (Portable) project by default"
**Repro Steps:**
1.	Create a new **C# Class Library (Portable)** project.
2.	When selecting the portable targets, select .NET Framework 4.6 and ASP.NET Core 1.0.
3.	Right-click on the project and Manage NuGet Packages...
4.	Go to the Installed tab, verify the **Microsoft.NETCore.Portable.Compatibility** is eligible for updates.

**Expected Result:**
Package ‘Microsoft.NETCore.Portable.Compatibilit

[2016-10-31 13:35] KasunKoswattha commented on #2880
For me, a simple VS restart fixed the issue.

[2016-10-31 14:18] tomkuijsten opened #3830 "Include assets filtered out by nuspec's References in runtime assets"
## Details about Problem

NuGet product used:
- NuGet version: 3.5.0.1938 (3.5 RTM)
- VS version: 2015 update 3

## Detailed repro steps so we can see the same problem

1. Create a package using `nuget.exe pack mypackage.nuspec`, with content like:

[code]

2. Create a `.net 4.6.1` console app and add the package, I expected:
 - The Logging.dll as a reference in visual studio
 - All three dll's in

[2016-10-31 16:35] rrelyea opened #3831 "Fail to deploy Web Single Page Application on IE due to ‘Microsoft.AI.Web’ could not be loaded"
See internal bug # 285525 - which includes repro machines that you can log into via maddog. (let me know if you need help).
This appears to have regressed with Ashish' fix for #3818
Please work with @jainaashish as necessary.

[2016-10-31 16:42] rrelyea commented on #3814
Now that 25830.00 is out, we believe that the regressions first found should be fixed now...related to programdata work. Please dig into RPS results.

[2016-10-31 18:36] ejizba opened #3832 "IVSPackageInstaller.InstallPackage throws null ref exception"
VS version: d15prerel/25830.04

I created a small sample project that illustrates the issue. It's a VSIX extension project, so you'll need Dev15 with the extensibility tools to run it.
[VSIXProject1.zip](https://github.com/NuGet/Home/files/562548/VSIXProject1.zip)

### Repro Steps:
1. F5 the sample project (you might have to update the path to "Nuget.VisualStudio" reference on your machine in orde

[2016-10-31 19:13] prafullbhosale commented on #3819
@emgarten will this fix be available for the Dev15 RC time frame?

@balachir, @barrytang

[2016-10-31 19:36] emgarten commented on #2993
Verified fixed

[2016-10-31 19:36] #2993 closed, assigned to emgarten

[2016-10-31 19:44] jainaashish commented on #3827
Same issue is reproing with NuGet 4.0.0.2039 and not related to code changes of https://github.com/NuGet/Home/issues/3818

[2016-10-31 19:45] jainaashish commented on #3828
Same issue is reproing with NuGet 4.0.0.2039 and not related to code changes of https://github.com/NuGet/Home/issues/3818

[2016-10-31 19:55] rrelyea commented on #3831
From chat with Zhi:
the issue is package installation doesn't add reference for applicationInsight, it only happens for single web application project, web api and mvc works well. still working on figuring out why

[2016-10-31 19:56] rrelyea commented on #3831
@emgarten is investigating wizard install of a package here: #3832
related?

[2016-10-31 19:59] rrelyea opened #3833 "pr build failed due to nuget.core.dll in infrastructure"
Please follow up on internal bug 283532

[2016-10-31 21:47] rrelyea opened #3834 "NuGet.exe restore on vs "15" machine only fails"
error MSB4062: The "NuGet.Build.Tasks.GetRestoreProjectJsonPathTask" task could ot be loaded from the assembly D:\tmp\tmp\NuGet.exe.  Confirm that the <UsingTask> declaration is correct, that the assembly and all its dependencies are available, and that the task contains a public class that implements Mcrosoft.Build.Framework.ITask.

[2016-10-31 21:58] zhili1208 commented on #3831
I think this is a template issue, the template call nuget api to install 7 ApplicationInsight packages and pass true to skipAssemblyReferences, that means template hard code the package path in csproj, nuget will skip assembly adding part. But in SPA, there is no applicationInsight hard code path in csproj but skipAssemblyReference is true. then applicationInsight packages are not added to csproj

[2016-10-31 22:01] rrelyea commented on #3814
Current suspect is that no-op restore check is broken.

[2016-10-31 22:06] rrelyea commented on #3807
drew is home sick, up for grabs.

[2016-10-31 22:25] rrelyea commented on #3827
Turns out this is an existing problem that affects p.c, p.j.
We just saw it for the first time in .nET core projects because the installed packages (after file new project) are all pre-release right now. Should fix in future.
Workaround for user now: "Update-Package Microsoft.Net.sdk -includeprerelease"

[2016-10-31 22:27] rrelyea commented on #3828
Workaround: use UI to find updates for .NET Core in VS RC.

[2016-10-31 22:31] emgarten commented on #3821
I tracked this issue down to the method comparing the spec file to the assets file. This should be removed since this work is now down with the dg file hashing.

[2016-10-31 22:31] emgarten commented on #3832
I am able to get a repro of this.

[2016-10-31 22:42] rrelyea commented on #3821
Great news! Does this fix just affect .net core code paths? What is risk?

[2016-10-31 22:48] emgarten commented on #3832
The CustomUnique name being returned here for a new .NETCore web app is `src` which is the solution folder the project is in, not the project name.

VSSolutionManager.GetOrCreateProjectAsync returns null here when it tries to retrieve a project with that name.

[2016-10-31 22:51] emgarten commented on #3821
This would also affect UWP, but it should be fine there. This extra check was for for the `islocked` property in project.lock.json, but this has since been removed.

`dev-emgarten-noop` contains the fix to remove it.

[2016-10-31 22:57] jainaashish commented on #3829
I see the same behavior with Dev14 MU3.5 25431.01 (NuGet Client 3.4.4.1321). There is no package dependency added in project.json file which is why there is no package installed. More over it gives couple of compatibility warnings at restore as well:

Unknown Compatibility Profile: net46.app
Unknown Compatibility Profile: dnxcore50.app

[2016-10-31 23:26] rrelyea commented on #3831
Can you see if this is a regression from VS 2015?
Update: Seems like template did change...

[2016-10-31 23:27] jainaashish commented on #3829
And also, what all workloads you added to get pcl projects templates in dev15?

[2016-10-31 23:34] #3831 closed, assigned to zhili1208

[2016-10-31 23:39] mishra14 commented on #3814
Dug deeper into the code. Seems like on rebuild, we replace the DGSpecHash to 0. Hence next time restore is called it does not no-op. Testing a fix on a local branch.

[2016-10-31 23:43] alpaix opened #3835 "Context menu QueryStatus doesn't happen when VSPackage is not loaded"
Follow up on NuGet/Home#3797.

## Details about Problem

Context menu status for NuGet commands such as `Restore packages`, `Manage NuGet Packages`, is not evaluated until `NuGetPackage` is loaded. As a result the commands appear to be available and allowed for invocation. For instance user may click "Restore Packages" when the solution is building.

## Suggested Solution

Use [rule-based](https:/

[2016-11-01 00:10] v-luzh commented on #3829
@jainaashish, we selected all options when we installing Dev15 VS D15PreRel 25830.00.

[2016-11-01 00:27] alpaix opened #3836 "Install package may overlap with auto-restore"
Follow up on NuGet/NuGet.Client#986.

## Details about Problem

Install package runs restore/preview operation. This may overlap with auto-restore running in background. Potentially this may introduce dangerous race conditions as in current implementation there's no mutual blocking for these operations.

## Suggested solution

Consider chaining install/uninstall package operations with auto-restor

[2016-11-01 01:12] rrelyea opened #3837 "End to End support for PackageReferences in former UWP-style Project.json or Packages.config projects"
Currently PackageReferences can be put in a project file, and NuGet Restore will work, and NuGet Package Manager UI and Package Manager Console supports install/uninstall and upgrade. However, there is build task work to finish the job. Currently, you cannot compile against the DLLs from the packages, as the references are not being dynamically generated by the build tasks.

Internal User story 29

[2016-11-01 01:17] rrelyea commented on #3836
Do not block your other fix on this issue.

[2016-11-01 01:25] unniravindranathan-okta commented on #3834
@rrelyea @zhili1208 Please dupe against https://github.com/NuGet/Home/issues/3753

[2016-11-01 01:26] rrelyea commented on #3834
dupe of #3753. Going to bring #3753 to RC from RC2.

[2016-11-01 01:26] #3834 closed, assigned to zhili1208

[2016-11-01 02:48] jainaashish commented on #3829
I can't repro this issue with D15PreRel 25830.00 + NuGet 4.0.0-2040 tried several times. Can you try again and if it repros again then tell me the exact steps?

![image](https://cloud.githubusercontent.com/assets/18219758/19878172/effae8b6-9fa2-11e6-8e0e-1b93cb1629a1.png)

[2016-11-01 06:30] TheRealPiotrP opened #3838 "Behavioral changes in `dotnet pack --version-suffix foo`"
## Details about Problem

dotnet.exe --version (if appropirate):
1.0.0-preview3-003986

VS version (if appropriate):
Windows 10

Worked before? If so, with which NuGet version:
project.json-based nuget pack

## Detailed repro steps so we can see the same problem

1. Create a new csproj application `dotnet new`
2. Add a `versionprefix` property:
    `<VersionPrefix>1.2.3-preview3</VersionPrefix>`
3

[2016-11-01 07:13] TheRealPiotrP opened #3839 "`dotnet restore` fails with private feed configured in local system account"
Note: "privatefeed.com" is just what I'm using to anonymise my actual private feed.
## Steps to reproduce
- In your local system account profile (`C:\Windows\SysWOW64\config\systemprofile\AppData\NuGet\NuGet.Config`), set up a protected feed with basic auth.

[code]
- In a dotnet project with or without dependencies on the private feed, run `dotnet restore` as the local system. (I've done this thr

[2016-11-01 07:14] TheRealPiotrP commented on #3839
Moving https://github.com/dotnet/cli/issues/4196 on behalf of @PaulTrampert.

[2016-11-01 08:08] v-luzh commented on #3829
@jainaashish, I can repro this issue on D15PreRel 25830.00 + NuGet 4.0.0-RC-2040 (Machine: EXPRBLNVM69521), D15Rel 25831.00 + NuGet 4.0.0-RC-2040 (Machine: EXPRBLNVM66375) and D15Rel 25831.00 w/ its included version NuGet 4.0.0-RC-2039 (Machine: EXPRBLNVM73448).

**Repro Steps:**
1.  Install VS from UI with all the options selected.
2.  Create a new C# Class Library (Portable) project.
3.  Select

[2016-11-01 08:21] martinsuchan opened #3840 "NuGet PM 3.5.0 incorrectly using lowercase path in *.nuget.targets"
NuGet PM is incorrectly changing the path to some packages to lowercase in the *.nuget.targets files, for instance it changed path:

    <Import Project="$(NuGetPackageRoot)\PlatformSpecific.Analyzer\2.0.3\build\uap\PlatformSpecific.Analyzer.targets" Condition="Exists('$(NuGetPackageRoot)\PlatformSpecific.Analyzer\2.0.3\build\uap\PlatformSpecific.Analyzer.targets')" />

to this.

    <Import Proje

[2016-11-01 08:21] AndyTian-Devops opened #3841 "[Test Failure]Error occurs when installing "Newtonsoft.json" to .NetCore Web Application"
**NuGet version**: 4.0.0.2039

**VS version:** Dev15 D15Rel 25831.00

**OS version:** Windows 10 RS1_Release 14393.332

**Repro Steps:**
1. Create a C# ASP.NET Core Web Application(.Net Core) application.
2. Select **Web application template** and choose **No authentication**
3. Right click Dependencies node and select Manage NuGet Packages...
4. In PM UI page, select Brower tab, select "Newtonsof

[2016-11-01 10:14] FransBouma commented on #1365
I also ran into this this morning. I have 1 main package and several depending packages. All depending packages reference the main package, so take a dependency on it. As everything is now in prerelease I can't reference the depending packages as nuget can't find the main package, because I use as dependency version range: `(>= 5.1.0 && < 5.2.0)`, and the main package is in prerelease and has as v

[2016-11-01 10:27] yishaigalatzer commented on #1365
Hey Fran's,

Is your issue that you want pack to just allow the pre-release in the nuspec OR you want resolution to work even though you specified a stable dependency?

Yishai

[2016-11-01 10:29] peterlai-roboops commented on #1365
To be honest, it doesn't really matter what the issue is because there's are so many reason one would name their packages which falls foul of the "release" naming standard, that there really should be a flag to allow us to override this behaviour.

And it's a pretty big behaviour, whether to be allowed to package our code or not.

[2016-11-01 10:53] FransBouma commented on #1365
@yishaigalatzer

I have A and B, both prerelease, B depends on A. They're generated from scripts which get the version to work with passed to them. Therefore the nuget packages have '-beta-xxxx' as suffix in their filename, but not in their versions. So nuget packages for A and B are:

sd.xxx.A.5.1.0-beta-xxx.dll
sd.xxx.B.5.1.0-beta-xxx.dll

but internally the version is set to 5.1.0, and dependen

[2016-11-01 11:11] yishaigalatzer commented on #1365
That's because 5.1.0-betaXXX is indeed lower than 5.1.0. Try specifying 5.1.0-beta as the min dependency.

[2016-11-01 11:37] FransBouma commented on #1365
Yes but that's not what I want as that would mean I have to update the nuspec files every time I build a package, so it's not really automate friendly. This is especially unfriendly for packages which have multiple builds per alpha-beta cycle.

[2016-11-01 11:50] yishaigalatzer commented on #1365
That's not what I'm suggesting.

1.0.0-beta < 1.0.0-beta1 < 1.0.0

So specify 1.0.0-beta verbatim.

Note that
A. We cannot make a change to the resolution here, it's a massive breaking change.
B. This is not the same issue the bug is discussing, so if you do want to keep debating this issue, let's take it somewhere else

[2016-11-01 11:58] FransBouma commented on #1365
Sorry, but how is what I ran into not the same as this issue? It's a side effect of the prerelease factor not being used for resolvement. If prerelease is seen as prerelease across the resolution of dependencies, it would search for prerelease packages too, which is IMHO the issue discussed here. If not, then this whole system is too convoluted to begin with as I have no idea what on earth it _is_

[2016-11-01 12:18] yishaigalatzer commented on #1365
1. This bug is about the ability to pack a release package with a pre-release dependency, not about resolution.
2. I gave you a method that is not requiring editing of dependencies
3. Changing resolution rules IS a breaking change, and we are not going to consider taking one here.
4. We can clarify the versioning order in docs, it will happen shortly.
5. There are numerous ways to automate creatin

[2016-11-01 12:21] peterlai-roboops commented on #1365
but how a package is determine to be pre-release isn't that good. If it has a word in it then that's it, it's a pre-release.

Your basically determining how every company should name their package via this one feature.

[2016-11-01 12:42] yishaigalatzer commented on #1365
Yes we are determining what versions look like, that's what standardization is for, it makes everyone understand the same concept and enables tools to operate on a common ground.

We support semver 1.0.0 and just released initial support for semver 2.0.0 in NuGet 3.5.

Http://www.semver.org

[2016-11-01 12:47] peterlai-roboops commented on #1365
yes you are! but i hardly think its for you to determine how we want to use and build internal packages that we have no intention of sharing.

If there are genuine reasons to change it, e.g. some new tools that requires it and if we think it's worth the adaptation then we might change our mind and adapt to it, but it's not for you to decide how our company should name our packages.

[2016-11-01 13:10] PaulTrampert commented on #3839
An update: This seems to have something to do with file system redirection for 64 bit windows. When I placed the nuget config in a directory that was not in the system account's appdata folder, and directly referenced the file, it worked fine. However, I still haven't found where appdata is getting redirected _to_, as it doesn't seem to be either `C:\Windows\system32\config\systemprofile\AppData\R

[2016-11-01 13:21] FransBouma commented on #1365
@yishaigalatzer Fair enough. I understood it is about the same issue as the mechanics are really the same: how to determine which packages match the criteria. Whether the starting package is prerelease and wants to refer to prerelease dependents too or release package wants to refer to prerelease or even prerelease which wants to solely refer to release packages, that's just semantics on the same

[2016-11-01 14:54] asbjornu commented on #1365
I completely agree with all of the above. 👍

Yep. We have many solutions with projects being packaged up as `.nupkg` where each project in the solution depends on another, all up to a `.Core` project at the top. When these projects are published as pre-release packages, they are basically impossible to install without adding `-Pre -IgnoreDep` when upgrading them.

To fix this according to @yishaig

[2016-11-01 15:17] joshmachol opened #3842 "NuGet.Exe 3.4 Cli add command doesn't take FileConflictAction option"
Same error with nuget 3.3 and 3.4.

The [NuGet.Exe Cli Reference](https://docs.nuget.org/ndocs/tools/nuget.exe-cli-reference#add) specifies that the add command is available for 3.3+, and it also includes fileconflictaction in the list of options being available for 2.5+.

I take this to mean that NuGet.Exe 3.4 Cli's add command should be able to take the option fileconflictaction. Am I misunderst

[2016-11-01 15:26] yishaigalatzer commented on #1365
No one said editing the nuspec is ideal, I'm saying the nuspec inside the package has the right representation. Definitely a pain point that needs a discussion, on a separate issue.

The breaking change is very real, the pre-release version will install instead of the rtm one if it stays on the feed, when installing with minimal depenednecies mode (default).

[2016-11-01 15:36] ChrisMaddock opened #3843 "Can't create VS project from template with Nuget packages if "Save new projects when created" is false"
If a VS template installs NuGet packages using the method documented [here](https://docs.nuget.org/ndocs/visual-studio-extensibility/visual-studio-templates), and the user has the Visual Studio option "Save new projects when created" unchecked, then the new project can not be created. The below error message is shown.

![image](https://cloud.githubusercontent.com/assets/4837132/19895012/0745f98a-a

[2016-11-01 15:46] FransBouma commented on #1365
No, as what I suggested (and which solves the point in the OP as well) is a set of rule parameters which configure what Nuget should do in several situations. The current behavior can stay as-is. With additional parameters nuget can behave a little different, i.e. the rules get additional input / different input parameters and can with that decide whether a package P does or doesn't fall into the

[2016-11-01 15:49] yishaigalatzer commented on #1365
I beg you, start a new thread and jot out your suggestions in concrete terms

[2016-11-01 16:03] FransBouma commented on #1365
Why another thread for a solution that covers this thread too, as the problem of this thread is actually caused by the same cause as the problem I described, namely: rules which are too strict for a given situation?

[2016-11-01 16:29] rrelyea commented on #3838
@piotrpMSFT we'll dig into this. want to work well for scenarios, but not strictly trying to match all behaviors of pack from preview2.

[2016-11-01 16:43] jainaashish commented on #3829
@v-luzh can you also try the same issue with dev14 3.4.4 or 3.5 builds on these machines where you see the issue?

[2016-11-01 17:16] ashelley commented on #1867
I'm having this same problem...

NuGet Version: 3.4.4.1321

packages.config

[code]

Myproject.nuspec

[code]

building from cs project file:

[code]

But the dependencies are not added to the .nupkg.  Do I have to manually create dependency element some how in nuspec file?

@yishaigalatzer reping is this still an issue?

EDIT: xrefing this issue here: https://github.com/NuGet/Home/issues/1441

I'

[2016-11-01 17:30] rrelyea opened #3844 "Perf regression - DPL work - AutoRestore causes solution load. Instead it should wait to start for solution load."
Internal bug # 286159

[2016-11-01 17:35] rrelyea opened #3845 "Fix Restore for Tools in VS"

[2016-11-01 17:52] yishaigalatzer commented on #1867
Yes, please do and we can re-open.

Please do two things first just for leveling the playing field.

Get nuget 3.5 and make sure all the packages are restored.

[2016-11-01 18:20] livarcocc commented on #3838
We need this in the CLI because we need to pack signed bits. The way we do that is we build in one location, sign it and then do the pack pointing to the already built and signed bits.

[2016-11-01 18:25] emgarten commented on #3807
@rrelyea is this still needed? have we been able to confirm that auto-restore not happening was caused by CPS getting into a bad state due to not locking the restore outputs?

[2016-11-01 18:27] jainaashish commented on #3829
PCL template issue:

There is an issue with creating a new PCL library project since it tries to install Microsoft.NetCore (5.0.0) and Microsoft.NETCore.Portable.Compatibility (1.0.0) but couldn’t find the same versions of these packages in SDKs packages cache at “C:\Program Files (x86)\Microsoft SDKs\NuGetPackages”

Expected packages in packages cache:
Microsoft.NetCore (5.0.0)
Microsoft.NETCore.

[2016-11-01 18:36] emgarten opened #3846 "Project relative paths should be relative to the assets file"
### Steps

1. Create a new .NETCore console app
1. Create a second .NETCore console app
1. Add a reference from one to the other
1. Add a class to the child project
1. Reference the class from the parent project

### Expected
Class is available

### Actual
Class is not available

The path is relative from the project file path, not from the assets file path which is now under the obj folder.

Actu

[2016-11-01 18:59] emgarten commented on #3819
@prafullbhosale no this fix is marked for RC2.

[2016-11-01 19:20] joelverhagen commented on #3783
Ankit and I validated this fix with 25830.00. DTE Project Reference objects look good. Those E2E tests are now getting past this specific failure.

[2016-11-01 19:20] #3783 closed, assigned to mishra14

[2016-11-01 19:22] mishra14 opened #3847 "Binding Redirect related E2E test failures on dev15"
[nugetci](http://nugetci/viewLog.html?buildId=56497&tab=buildResultsDiv&buildTypeId=EndToEndTests_Vs15EndToEndTests)

[2016-11-01 19:23] mishra14 commented on #3814
PR's out. Spoke to Rob and will hold on merging till past afternoon.

[2016-11-01 19:24] bricelam commented on #3818
It works. Thank you!

[2016-11-01 19:41] rrelyea commented on #3846
What scenarios are broken? Does CLI have a ripple effect?

[2016-11-01 19:49] emgarten commented on #3846
CLI appears to work around the issue here: https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.ProjectJsonMigration/Microsoft.DotNet.Internal.ProjectModel/Resolution/MSBuildDependencyProvider.cs#L68-L71

[2016-11-01 20:07] emgarten commented on #3832
The error does not repro after removing the `src` folder. It looks like VSIXProject may have the bug here.
`var project = dte.Solution.Projects.Cast<Project>().First();` this line returns the folder isn't of the actual project.

This is assuming that this issue is for a .NETCore project, this step is unclear `File -> New Project -> ASP.NET Core (.NET Framework) -> Empty` is this referring to .NETC

[2016-11-01 20:14] rrelyea commented on #3838
We don't want dotnet.exe and nuget.exe to diverge. Joel to work with CLI to ensure scenario still works well.

[2016-11-01 20:18] joelverhagen commented on #3838
This feature was added to nuget.exe with https://github.com/NuGet/Home/issues/694. 3.4.0 was the first release with this feature, I believe. When it was implemented, the logic _replaces_ the release label, not appends to it. This has shipped and should not change in behavior.

@piotrpMSFT, @livarcocc: is this an representative summary of the preview2 CLI commands you are executing (build, pack, an

[2016-11-01 20:21] tmeschter opened #3848 "NuGet.BuildTasks handles projectFileDependencyGroups wrong"
In order to show the set of referenced packages in the Solution Explorer the build task digs through the items in the "projectFileDependencyGroups" section of the project.lock.json/project.assets.json file. Currently, we assume all of the packages we care about will be in the subsection denoted by the empty string, "". It turns out that this is not true. This subsection may not exist at all, and w

[2016-11-01 21:17] emgarten commented on #3840
@martinsuchan do you have a scenario where the case of the package id is important for targets?

Package ids and versions are case insensitive in NuGet and are now written out lowercase to the global packages folder to avoid conflicts on case sensitive file systems.

[2016-11-01 21:47] ashelley commented on #1867
@yishaigalatzer I have created a minimum repro of the problem here:

https://github.com/ashelley/NugetDepsIgnored-Repro

I think it has something to do with the project layout but not sure.  I have created "Good", a project that generates the expected results and "Bad": A project that does not add <dependencies> node properly to nupkg/.nuspec file.

Steps to reproduce:

1) clone above repository a

[2016-11-01 22:03] ashelley commented on #1867
Okay nuget 3.5 fails to create the package at all:

NuGet Version: 3.5.0.1938

[code]

The packages are restored so I'm not sure if this is related to this:

https://github.com/NuGet/Home/issues/3343

Still seems like a bug but at least the failure is loud instead of silent.

EDIT:

possibly related to this too:

https://github.com/NuGet/Home/issues/3058

The situation is a bit different though:

[2016-11-01 22:17] jainaashish commented on #3818
Approved to insert on 11/1 VS shiproom.

[2016-11-01 22:18] joelverhagen opened #3849 "Write automated tests to cover bugs fixed during dev15 RC timeframe"
Due to the short time frame, some bug fixes lacked the test infra or resources to get automated tests. This should be fixed in post-RC.

/cc @rrelyea

[2016-11-01 22:24] mishra14 commented on #3813
Validated 283939 on d15Rel/25831.1. Closing.

[2016-11-01 22:24] jainaashish commented on #3844
So the plan is auto-restore will yield to allow solution to be loaded first and then start the auto restore. And in order to get solution load status, we will make 2 calls:
1. Check if VSPROPID_IsSolutionFullyLoaded is true then start auto restore
2. else wait until IVsSolutionLoadEvents (OnAfterBackgroundSolutionLoadComplete) is called and then start auto restore.

[2016-11-01 22:25] mishra14 commented on #3814
Validating on d15Rel.

[2016-11-01 22:57] #3813 closed, assigned to mishra14

[2016-11-01 23:03] skofman1 opened #3850 "Installing Mysql.Data.Entity package takes a long time"
@waqaskhan540 wrote:
I have cloned the NuGetGallery repository and now I am trying to install 'Mysql.Data.Entity' package to use MySQL database as the data storage. But the package manager console gets hanged and does nothing until I close the Visual Studio.

When installing Mysql.Data.Entity on Gallery project, the dependency resolution took almost 2 minutes:

[code]

[2016-11-01 23:04] alpaix commented on #3845
ETA 11/3 11am

[2016-11-01 23:09] jainaashish commented on #3829
External tracking issue# 286754

[2016-11-01 23:10] dsplaisted opened #3851 "NuGet targets and props files should add themselves to MSBuildAllProjects property"
Ideally, all imported project files should add themselves to the `MSBuildAllProjects` property, in order to better support incremental builds.  The following currently aren't doing this:

- Microsoft.NuGet.ImportAfter.targets
- NuGet.targets
- NuGet.Build.Tasks.Pack.targets (from the NuGet.Build.Tasks.Pack package)
- The .csproj.nuget.g.props and .csproj.nuget.g..targets files that the restore ope

[2016-11-01 23:44] TheRealPiotrP commented on #3838
@joelverhagen is there some middle ground? It's unfortunate if folks have to change their builds around this [we now have to move data from project file into build configuration... it'll be a lot of new data as we list project files to which a given suffix applies]. Can we enable some approach by which migrated project.json's actually pack correctly?

[2016-11-01 23:48] joelverhagen commented on #3838
An option could adding `--append-version-suffix` switch (`$(AppendVersionSuffix)` in MSBuild) which turns this behavior on. Migrated projects could bake this into the .csproj if the sourcing project.json had a version ending in `-*`, e.g. `"version": "1.0.0-*"`.

@rrelyea, @piotrpMSFT, @harikmenon, @rohit21agrawal, thoughts?

[2016-11-01 23:59] emanuelquintero opened #3852 "NuGet.exe restore not honoring the -nocache flag"
## Details about Problem

NuGet product used: **NuGet.exe**
NuGet version (x.x.x.xxx): **3.5.0.1737**
OS version (i.e. win10 v1607 (14393.321)):  **Win10 v1607**
Worked before? If so, with which NuGet version: No, tried with NuGet 3.3 and NuGet 3.4.4

## Detailed repro steps so we can see the same problem

1. NuGet restore package X from -source A where it exists
2. NuGet restore package X from -s

[2016-11-02 00:17] emgarten opened #3853 ""dotnet.exe restore" fails on Windows 10 x86 due to new use of ProgramFiles"
NuGet restore fails on Windows 10 x86

https://github.com/dotnet/cli/issues/4567

[2016-11-02 00:18] ashelley commented on #1867
I've doubled checked nuget's help file on its pack command:

[code]

There doesn't seem to be a way to provide context for where the packages folder might be however visual studio uses it's own solution file to provide this context.  Maybe there should be an explicit way to specify where nuget pack can look for packages?

[2016-11-02 00:22] emgarten commented on #3832
I worked @EricJizbaMSFT on this a bit more.

His repro still gets a null ref when running on a solution that has not yet been saved.

@jainaashish thinks this may be fixed with https://github.com/NuGet/Home/issues/3818 (which is in dev build 2040 and later)

The project does exist in the nuget project cache, but it cannot be found due to the name.

[2016-11-02 00:30] rrelyea commented on #3853
@emgarten is getting a 32 VM to validate. Thinks the programfilesx86 shouldn't be used on x86 system

[2016-11-02 01:29] rrelyea opened #3854 "Legacy csproj needs NugetTargetMoniker and RuntimeIdentifiers set in proj/targets"
UWP projects will need:
<NugetTargetMoniker>.NETCore,Version=v5.0</NugetTargetMoniker>
<RuntimeIdentifiers>win10-arm;win10-arm-aot;win10-x86;win10-x86-aot;win10-x64;win10-x64-aot</RuntimeIdentifiers>

Desktop projects will need:
<RuntimeIdentifiers>win</RuntimeIdentifiers>

We need to decide what can go in targets and what needs to be added via migration tool or user who manually migrates.

[2016-11-02 01:36] zachdeibert opened #3855 "Pacakge Feeds with Elliptic Curve Encryption and Mono"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 2.8.7.0

dotnet.exe --version (if appropirate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)): Ubuntu 16.04

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Create packag

[2016-11-02 02:06] TheRealPiotrP commented on #3846
I think it's important we don't allow a new `root` path concept to leak into the build system, ideally including the CLI. All relative paths in msbuild are assumed to be relative to the directory containing the project file. Since relative paths are ~very~ easy to get wrong, I'd hate to introduce another root that folks have to reason about.

My preference would be to keep these relative paths rel

[2016-11-02 02:40] rohit21agrawal commented on #3838
1) I am personally not in favor of adding a new command line parameter - my suggestion would be to treat --version-suffix as an indication that the suffix needs to be appended into the string irrespective of whether the version ends in \* or not.

2) --build-base-path : why can't you just use a msbuild variable to tell msbuild where to put the the build artifacts?

[2016-11-02 09:10] asbjornu commented on #1365
@yishaigalatzer: The problem we're discussing does not seem to be  isolated to what this issue describes in its title, so can't the title of this issue just be edited instead? The problem is the dependency resolving algorithm, which is behaving the same way for both `nuget pack` and `nuget update / install`.

[2016-11-02 09:24] v-luzh opened #3856 "[Test Failure] Message is incorrect when you attempt to update package Newtonsoft.json with latest version installed in .Net Core Console App"
**Repro Steps:**
1.	Create a project through New Project->Visual C#->.NET Core->Console App (.NET Core).
2.	After project load completed, open PMC.
3.	Install package ‘Newtonsoft.json’ to the latest version.
4.	Type ‘Update-package Newtonsoft.json’ in PMC.

**Expected Result:**
PMC say “No package updates are available from the current package source for project [Project Name]”.

**Actual Result:*

[2016-11-02 09:42] v-luzh commented on #3829
@jainaashish, please see below investigation.

D15Rel 25831.00 + NuGet 3.5.0-RTM-1938 on **EXPRBLNVM66375** ---Repro
D15Rel 25831.00 + Dev14 25431.01 (NuGet 3.4.4.1321) on **EXPRBLNVM66375** ---Repro
D15Rel 25901.00 + NuGet 4.0.0-RC-2044 on **EXPRBLNVM70138** ---Repro
Dev14 25431.01 only (NuGet 3.4.4.1321) on another machine (**EXPRBLNVM73825**) ---Doesn’t repro
Dev14 25431.01+ D15Rel 25901.00 on

[2016-11-02 10:54] FransBouma commented on #1365
**EDIT**
The hotfix argument I made isn't really valid, as one can specify 'highest path' filter option with nuget and get a matching dependent package. For beta and custom versioning this isn't going to fly of course.

[2016-11-02 11:38] MartinSGill opened #3857 ""Is not a valid version string" in client when downloading SemVer 2.0 package from Nexus"
## Details about Problem

**NuGet product used**: NuGet.exe
**NuGet version**: 3.5.0.1938
**OS version**:  win10 v1607

Nexus seems happy with the SemVer 2.0 package, but the nuget client throws an error when Nexus gives it the correct package with the SemVer 2.0 version.

## Detailed repro steps so we can see the same problem

1. Create simple nuspec

[code]

2. Pack it

[code]

Success with warn

[2016-11-02 11:54] MartinSGill opened #3858 ""Unable to Find Package" in NuGet install, despite package reported correctly by Nexus"
## Details about Problem

**NuGet product used**: NuGet.exe
**NuGet version**: 3.5.0.1938
**OS version**:  win10 v1607

Possibly related to #3857

Nexus seems happy with the SemVer 2.0 package, but the nuget client claims it cannot find the package, despite the server providing the link.

## Detailed repro steps so we can see the same problem

1. Create simple nuspec

[code]

2. Pack it

[code]

S

[2016-11-02 12:24] yishaigalatzer commented on #1365
Frans, I agree hand editing is awful. Brain storming ideas, will post when I have a good one

Sent from Ninehttp://www.9folders.com/

---

From: Frans Bouma notifications@github.com
Sent: Nov 2, 2016 3:54 AM
To: NuGet/Home
Cc: Yishai Galatzer; Mention
Subject: Re: [NuGet/Home] NuGet pack should not fail for release packages with prerelease development dependency (#1365)

@yishaigalatzerhttps://na0

[2016-11-02 13:05] peterlai-roboops commented on #1365
just give us the option to override the behaviour.

We should be able to decide what's best for us, if what we decide doesn't work with some other tool then that's our own fault and we will correct that, but you shouldn't be forcing it on us.

I just don't get why there's push back on this, the users are saying we 100% need this but for some reason you know best. Generally, what happens is someone

[2016-11-02 15:25] rrelyea commented on #3818
In NuGet builds as of 4.0.0.2040. In VS as of d15Rel 25901.02.

[2016-11-02 15:25] #3818 closed, assigned to jainaashish

[2016-11-02 15:25] rrelyea commented on #3797
In NuGet builds as of 4.0.0.2044. In VS as of d15Rel 25901.02.

[2016-11-02 15:25] #3797 closed, assigned to alpaix

[2016-11-02 15:49] rrelyea commented on #3820
E2E is clean of these issues. @mishra14 - please reactivate if that changes.

[2016-11-02 15:49] #3820 closed, assigned to jainaashish

[2016-11-02 16:53] yishaigalatzer commented on #3857
@MartinSGill thanks for the report.

Edit: Just noticed the other issue...

So is restore is failing as well?

[2016-11-02 16:55] yishaigalatzer commented on #3857
CC @emgarten @joelverhagen

[2016-11-02 18:21] joelverhagen commented on #3833
I spoke offline with the person who originally reported this issue. It did not repro on a subsequent build of the same PR.

[2016-11-02 18:32] emgarten commented on #3853
This is only a problem for the CLI where the netstandard dlls are used. VS uses the net45 dlls which resolve the program files path using Environment.GetFolderPath

[2016-11-02 18:42] emgarten commented on #3852
@emanuelquintero can you try with the latest version nuget here: https://dist.nuget.org/win-x86-commandline/v3.5.0/NuGet.exe

[2016-11-02 18:51] emgarten commented on #3851
@dsplaisted each of these files should contain this property to append themselves?

[2016-11-02 18:54] zhili1208 commented on #3856
I don't think this is an regression.
.net core project on dev14 has same behavior.

For .net core project and UWP (project.json),
update-package always uninstall first and install again.
So on dev15, nuget still keeps this behavior, that's why there is no that message.

For .net framework project (packages.config)
update-package will show this message if the package is already latest

[2016-11-02 19:12] emgarten commented on #3846
NuGet will continue writing paths in the assets file relative to the project file as we decided in our offline discussion.

If requirements change in the future this can always be fixed by writing the absolute path instead.

[2016-11-02 19:12] #3846 closed, assigned to emgarten

[2016-11-02 19:34] emgarten commented on #3857
NuGet.exe 3.5.0 doesn't support SemVer 2.0.0 in the list command, that part still uses NuGet.Core.dll.

[2016-11-02 20:05] emgarten opened #3859 "Refactor GetFolderPath for ProgramFiles"
Refactor ``NuGetEnvironment.GetFolderPath`` to handle ``ProgramFiles`` vs ``ProgramFiles (x86)`` in the same way for all code paths.

Currently three code paths have the same fallback logic for 32-bit machines.

[2016-11-02 20:16] emgarten commented on #3858
You are missing the `-pre` flag

I created a package with the same id/version on a myget feed and was able to install it without any issues, it should work from nexus also. Let me know if it doesn't!

`NuGet.3.5.0.exe install semver2.test -Source https://www.myget.org/F/semver2/api/v2 -pre`

[2016-11-02 21:02] rrelyea commented on #3832
@EricJizbaMSFT  - Is this fixed in current VS builds? 25901.02 has NuGet 2044 instered.

[2016-11-02 21:03] rrelyea commented on #3847
Current status of E2E tests?

[2016-11-02 21:04] rrelyea commented on #3833
closing as not repro. reactivate if that changes.

[2016-11-02 21:04] #3833 closed, assigned to nobody

[2016-11-02 21:06] emgarten opened #3860 "Remove dependency on ImportsAfter for CrossTargeting"
NuGet should pass it's targets using the custom after cross targeting property instead of depending on msbuild to contain it.

This needs to happen by RTM in coordination with msbuild.

https://github.com/Microsoft/msbuild/blob/master/src/XMakeTasks/Microsoft.Common.CrossTargeting.targets#L116

[2016-11-02 21:14] rainersigwald commented on #3860
Once this is done we can remove the workaround in Microsoft/MSBuild#1061.

[2016-11-02 21:22] rrelyea commented on #3844
Shifting to RC2 per shiproom discussion. (keeping in RC to further evaluate.)

[2016-11-02 21:23] ejizba commented on #3832
It still repros for me in d15rel/25901.02

[2016-11-02 22:02] jainaashish opened #3861 "LockRecursionException in ProjectSystemCache.TryGetProjectNameByShortName"
Throw below exception at solution build with DPL :
[code]

[2016-11-02 22:26] rrelyea commented on #3861
From Rodrigo:
No RC bug.
-   I only see this in DPL mode
-   Apparently only manifest for solution build not for project build
-   I tried Roslyn.sln but haven’t tried in simple projects
-   When I tried no projects were loaded (the whole purpose of DPL)

[2016-11-02 22:38] joelverhagen commented on #3838
Related: https://github.com/dotnet/sdk/issues/93

[2016-11-02 22:45] alpaix opened #3862 "Regression in ProjectSystemCache.TryGetProjectNames"
Recursive read lock acquisition fails

[code]

[2016-11-02 22:45] yishaigalatzer commented on #3858
@emgarten thanks for the update, I would think we should make the error a bit nicer than

Or does that happen only in detailed mode?

[2016-11-02 22:47] alpaix commented on #3862
Closing as duplicate of #3861

[2016-11-02 22:47] #3862 closed, assigned to nobody

[2016-11-02 22:48] ejizba commented on #3832
Attaching the updated sample project here, since outlook thinks it's malware
[VSIXProject1.zip](https://github.com/NuGet/Home/files/567883/VSIXProject1.zip)

Also including the updated repro steps:
1.  F5 the sample project
2.  Tools -> Invoke Command1
3.  Select ‘Empty’ in the ASP.NET project dialog that pops up

Expected: a project is created with the nuget package added
Actual: The project is c

[2016-11-02 22:49] emanuelquintero commented on #3852
@emgarten It still doesn't work with the latest version.

[2016-11-02 22:55] rrelyea opened #3863 "Warnings of multiple msbuild imports -"
Internal bug: 284327

D:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\CommonExtensions\Microsoft\NuGet\NuGet.targets" cannot be imported again. It was already imported at "D:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Microsoft.Common.targets\ImportAfter\Microsoft.NuGet.ImportAfter.targets (22,3)". This is most likely a build authoring error

[2016-11-02 22:56] zhili1208 commented on #3856
dev14+.net core output:
![core](https://cloud.githubusercontent.com/assets/7131513/19950216/561353d8-a113-11e6-9f4b-8a15adfe4e18.PNG)

dev14+uwp output:
![uwp](https://cloud.githubusercontent.com/assets/7131513/19950235/7186b394-a113-11e6-85dc-b08c0cb4e522.PNG)

dev15+.net core output:
![core15](https://cloud.githubusercontent.com/assets/7131513/19950460/eaaf4d8e-a114-11e6-95d9-fe612b2bb713.PNG)

[2016-11-02 22:57] rrelyea opened #3864 "Dependencies Tree is not loaded sometimes until after reopening a .NET Core web project"
Internal bug # 283934
1. Install d15prerel.25827.01
2. Create an ASP.NET Core Web Application (.NET Framework)
 
Result:
 Dependencies tree is not load until after reopening the project
(auto restore didn't run).

Does this still repro?

[2016-11-02 23:04] rrelyea commented on #3807
we believe this is not needed. will bring back if that changes.

[2016-11-02 23:10] joelverhagen commented on #3838
Another option is to provide a convenience MSBuild property to migrated projects.

project.json:

[code]

migrated .csproj:

[code]

commands

[code]

[2016-11-02 23:14] rrelyea commented on #3845
Can you please add PR link?

[2016-11-02 23:43] mishra14 commented on #3847
Binding redirect tests are passing dev build 2045.

Possible fix: NuGet Settings -> Check Skip binding redirect -> save -> un check skip binding redirect -> save.

Could have been caused by a test run crashing or the default value not being read correctly. Closing.

[2016-11-02 23:57] rrelyea commented on #3864
Everybody needs to look for a repro here.

[2016-11-03 01:15] joelverhagen opened #3865 "dotnet pack fails with project references and <TargetFramework>"
## Steps

1. `dotnet new` two .csproj
1. Add a project reference from one to another (projectA -> projectB)
1. Make sure both have `<TargetFramework>` not `<TargetFrameworks>`
1. `dotnet restore` both
1. `dotnet build` both
1. `dotnet pack` projectA

## Expected

projectA should have a .nupkg produced.

## Actual

[code]

[2016-11-03 01:29] jainaashish commented on #3832
This scenario is broken with .net core projects in Dev15 and require good discussion among different teams to finalize the right behavior. Since .Net core projects are CPS based project system in Dev15 where every time you create a new project from existing templates, CPS nominate that project to NuGet and pass along project restore data which is used to install/ update/ restore packages to this p

[2016-11-03 01:40] mishra14 commented on #3864
@rrelyea  still investigating on d15prerel/25827.1 or latest d15rel?

[2016-11-03 01:41] mishra14 commented on #3847
reopening, since this is inconsistent.

[2016-11-03 04:07] #3753 closed, assigned to joelverhagen

[2016-11-03 06:33] AndyTian-Devops commented on #3814
@rrelyea @mishra14, i verified this issue on D15Rel 25902.00 + ci\NuGet.Client\dev-anmishr-emgarten-restore\2675. it have been fixed. i have updated the perfermance trend in VSO 283740

[2016-11-03 07:24] AndyTian-Devops commented on #3821
@rrelyea @emgarten , I verify this issue on D15Rel 25902.00 + ci\NuGet.Client\dev-anmishr-emgarten-restore\2675. it have been fixed.

[2016-11-03 08:32] v-luzh commented on #3841
Newtonsoft.Json 9.0.1 can be installed successfully into Console Application(.NET Core).

[2016-11-03 08:41] golayp opened #3866 "cmd"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2016-11-03 08:52] mishra14 commented on #3814
Thanks @v-atian.

@rrelyea should we close this? The code has already merged into dev.