[2018-01-09 00:56] nkolev92 commented on #6399
As @rohit21agrawal pointed out. There's a mistake in the docs.

I've already filed a PR to get that fixed.
https://github.com/NuGet/docs.microsoft.com-nuget/pull/641

The correct usage is shown here:
https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets

Apologies for the inconvenience again.

[2018-01-09 00:56] #6399 closed, assigned to nobody

[2018-01-09 01:19] emgarten opened #6402 "RestoreSources are not used for cli tool references"
_From @firelizzard18 on January 7, 2018 4:23_

I have a project, `dotnet-mycmd`. I want to use this as a tool in another project via `DotNetCliToolReference`. I've exported a nupkg to a folder and added that folder to the target project's `RestoreSources`. I then added the tool reference and attempted to `dotnet restore`.

This succeeds when the project is named something like `mycmd` but fails in

[2018-01-09 01:21] emgarten commented on #6402
I was able to repro this. It looks like RestoreSources are not being used for tools when restoring with msbuild or dotnet.exe. From nuget.exe however this works fine.

There is also an issue where an unresolved tool causes a NRE here https://github.com/NuGet/NuGet.Client/blob/b43eff20b7392c373f57d6b4ad6f50f1ba816217/src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreCommand.cs#L282

[2018-01-09 02:06] rohit21agrawal commented on #5912
@anangaur please provide the keyword for both pm console and package manager ui so I can add them in code

[2018-01-09 06:05] #6390 closed, assigned to nobody

[2018-01-09 06:46] anangaur commented on #5912
PM Console: `VS.NuGet.PackageManager.Console`
PM UI: `VS.NuGet.PackageManager.UI`

Made the changes on the doc pages as suggested by @kraigb : https://github.com/NuGet/docs.microsoft.com-nuget/pull/642

[2018-01-09 07:02] MagicAndre1981 commented on #5818
@emgarten

With [NuGet 3.6](https://github.com/NuGet/Home/issues/5818#issuecomment-325832272) I get a [strange error message in VS2015 with NuGet 3.6 when trying to update the Firebird Provider which sets minClientVersion="3.6"](https://github.com/cincuranet/FirebirdSql.Data.FirebirdClient/commit/4f0a53f7bd19b72abe7eafc43ae9434688e5826d#commitcomment-26722642) telling me that I need NuGet 3.6.0 wh

[2018-01-09 07:59] emgarten commented on #5818
@MagicAndre1981 open a new issue for that please.

[2018-01-09 08:08] monkey-dsc commented on #6349
Hi mishra,

sorry for the late response, I was on vacation over the years.

I have attached the .nuspec file for the Indeca.SitecoreCommon.PresentationSettings project. For example the Indeca.SitecoreCommon.EditorExtensions.DeviceDependent.config should be in a folder structure like App_Config/Include/Indeca.SitecoreCommon/Indeca.SitecoreCommon.EditorExtensions.DeviceDependent.config, like shown i

[2018-01-09 08:42] MagicAndre1981 opened #6403 "Visual Studio 2015 with NuGet 3.6.0 fails to install packages with minClientVersion="3.6""
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): 3.6.0-rtm-2511

VS version (if appropriate): VS2015, 14.0.25431.01 Update 3

OS version (i.e. win10 v1607 (14393.321)): Windows 10 v1607 ([14393.2007](https://support.microsoft.com/en-us/help/4056890))

Worked before? If so, with which NuGet version: n/a

## Detailed

[2018-01-09 08:43] MagicAndre1981 commented on #5818
@emgarten

done:

https://github.com/NuGet/Home/issues/6403

[2018-01-09 08:44] Cheesebaron commented on #6397
So this is a mix of some projects using packages.config, because Service Fabric projects do not support PackageReference, yet (maybe they do, they didn't last time I checked).
Most of the other projects use PackageReference. So it is a mix.

I am building a Web App, which consists of a bunch of worker roles, shared libraries, ASP.NET MVC projects and other Azure type projects. Having all this in o

[2018-01-09 08:47] emgarten commented on #6403
Does it work if you create a nupkg with a minClientVersion of `3.6.0-a`?

[2018-01-09 08:54] JKennedy24 commented on #6399
Thanks.

Using `ExcludeAssets` worked. Hopefully get that PR merged soon

[2018-01-09 08:57] MagicAndre1981 commented on #6403
I haven't tested it. I got a confusing message about "already has a dependency defined for Microsoft.Extensions.PlatformAbstractions" for the first time I tried to update Firebird provider at version 5.11.0.0 (with .NET Standard 2.0 support):

So the [developer added the minClientVersion="3.6" entry ](https://github.com/cincuranet/FirebirdSql.Data.FirebirdClient/commit/4f0a53f7bd19b72abe7eafc43ae9

[2018-01-09 09:24] MagicAndre1981 commented on #6403
this doesn't work. Nuget.exe pack fails when I set it to your value "3.6.0-a" :

`The 'minClientVersion' attribute in the package manifest has invalid value. It must be a valid version string.`

[2018-01-09 10:50] cristianbalint commented on #6324
I also can confirm what @nikator and @EvanMulawski were saying. I had projects in path `D:\@Work\`... and VS2017 (v15.5.2) didn't find references (from solution) neither load them from nuget.
I mention that in older versions of VS2017 I didn't encounter this problem.
**Solution**
I renamed path `D:\@Work\`... in `D:\__Work\`... and the problem went away. So illegal chars in solution path (until no

[2018-01-09 13:49] Ro3A commented on #6400
I wasn't trying to run a command. I opened the Nuget console from the tools menu in VS 2017 and while it was initializing, I got that message. From there, I'm unable to even type in the console.

My version is
![image](https://user-images.githubusercontent.com/19931334/34723868-f7a63a8e-f519-11e7-900e-398b4287a22c.png)

  I also wanted to leave this here. Others are having the same issue:
https://

[2018-01-09 14:51] marco-cordeiro commented on #6246
I was testing this I get the exact same behaviour.
If I build the package in Debug mode it just ignores the attribute and issues a warning saying Author is not specified. Even if this wasn't intended, personally I find it useful as it alerts me if someone tries to create a package in Debug mode.

[2018-01-09 17:06] hisuwh opened #6404 "copyToOutput not working for contentFiles"
NuGet product used: VS UI
NuGet version (x.x.x.xxx): ?
dotnet.exe --version: 2.1.2
VS version: 2017
OS version: Windows 10

I'm trying to distribute some text files as a nuget package that a build tool needs - as such I need them available somewhere at build time.  They are not actually in the working directory so I was hoping I could copy them to the ouput.

I have the following in my `.nuspec` f

[2018-01-09 17:44] headsphere commented on #6001
Hey guys - any workarounds for this issue? Or an ETA for a fix?
Thanks!

[2018-01-09 17:51] alex-piccione-spin commented on #6246
Sorry... I can't provide any example to reproduce the error at the moment.

[2018-01-09 18:10] dougbu commented on #6001
@headsphere in WebHooks, our workaround was moving the test assemblies from `bin\$(Configuration)\Test` to `bin\Test\$(Configuration)`. The workaround means the test assemblies are no longer below the product assemblies in the directory tree and NuGet doesn't see "extra" assemblies.

[2018-01-09 18:11] dougbu commented on #6001
"Sees" was incorrect in previous comment. Fixed.

[2018-01-09 18:34] AlexHimself commented on #4083
I'm having the same issue. I'd like to create some PowerShellGet packages. Using VS2015

[2018-01-09 18:36] AlexHimself commented on #1215
I'm having the same issue as @JohnLBevan described for PowerShell and VS2015.

[2018-01-09 18:36] felixfbecker commented on #4083
For help here is how I ended up solving it:

https://github.com/aaronpowell/ps-nvm/blob/master/.scripts/ps-nvm.csproj

https://github.com/aaronpowell/ps-nvm/blob/f1e0ecc71f1f66da6bf29e626f1c82fd0db0d180/.travis.yml#L36

[2018-01-09 19:16] emgarten commented on #6324
Does restore work from the command line for projects with these chars in the path?

It is unclear from this if the project system is having issues sending the restore nomination to NuGet, or if NuGet is having trouble parsing the nomination.

[2018-01-09 19:17] Pilchie commented on #6324
Tag @lifengl as there were some core project system issues with special characters introduced in 15.5 AFAIK.

[2018-01-09 19:26] nkolev92 commented on #6404
The current information is not enough to analyze the issue, can you please provide the nuspec from your
package, and the project.assets.json, props and targets file from restore?

Thanks.

Edit:
Just a clarification.

The files element that you use to include files in the nuspec, does not really set any attributes.
You can only set attributes such as buildAction in the metadata section.

So
[code]

[2018-01-09 20:50] #5912 closed, assigned to rohit21agrawal

[2018-01-09 20:53] emgarten commented on #6392
Duplicate of https://github.com/NuGet/Home/issues/1783

[2018-01-09 20:53] #6392 closed, assigned to nobody

[2018-01-09 20:59] emgarten commented on #6397
@Cheesebaron you can pass a list of projects to the restore target to restore all of them for PackageReference. You can find all projects by using wildcards in MSBuild. Take a look at how nuget's build scripts run restore: https://github.com/NuGet/NuGet.Client/blob/f4e79afae5d47b6fce93c1080e6946bd61dc0cdf/build/build.proj#L369-L384

packages.config is a bit trickier since each solution needs to do

[2018-01-09 21:43] #6274 closed, assigned to PatoBeltran

[2018-01-09 21:52] fernisoites opened #6405 "Nuget credential provider crashed after user login with uncaught "CannotUnloadAppDomainException" error"
## Details about Problem

NuGet product used (NuGet.exe):

NuGet version (4.4.1.465):

OS version (win10 v1709 (16299.125)):

## Detailed repro steps so we can see the same problem

1.Download credential provider from
 url: "https://nuget.org/api/v2/"
 package:"Microsoft.VisualStudio.Services.NuGet.CredentialProvider"
 exe: "CredentialProvider.VSS.exe"

2.Open command line prompt, run:
CredentialP

[2018-01-09 22:36] nkolev92 commented on #6403
There's an issue with 3.6.0 where the prerelease label is not stripped out.
https://github.com/NuGet/NuGet.Client/blob/release-3.6.0-rtm/src/NuGet.Core/NuGet.Packaging/MinClientVersionUtility.cs#L78

To workaround this, one could use a version like 3.5.9, because we will not service 3.5.x.

This is fixed in 4.x, so we might only need to update the guidance.

[2018-01-09 22:42] nkolev92 commented on #6405
This is not a NuGet issue, but rather a VSTS one.

I have created an issue on VSTS side.

https://developercommunity.visualstudio.com/content/problem/179458/nuget-credential-provider-crashed-after-user-login.html

Please follow that issue and make sure to say hi in the issue, so you provide them further details as they need it.

Thanks.

[2018-01-09 22:42] #6405 closed, assigned to nobody

[2018-01-09 22:45] fernisoites commented on #6405
Thanks

[2018-01-10 00:23] anangaur opened #6406 "[Perf] [VSTS] NuGet restore slower on Windows agents than on Linux agents"
[Twitter thread](https://twitter.com/willia4/status/950168052703875072) that states most of the *free* build time on VSTS is consumed in NuGet restore.

This lead to a generic problem that's been observed where restores have been faster on Linux agents than on Windows agaents. Details:

[VSTS build stats dashboard](https://chrispatmsft.visualstudio.com/yaml-samples/yaml-samples%20Team/_dashboards/

[2018-01-10 01:30] nkolev92 commented on #4693
The obvious hole in this whole templating wizard scenario is that it'll only work the first time and you'll need to have it on a remote source to allow git clone on a new machine to work.

[2018-01-10 02:14] #6364 closed, assigned to nobody

[2018-01-10 02:14] #6366 closed, assigned to mishra14

[2018-01-10 02:19] emgarten commented on #6334
Closing due to lack of response

[2018-01-10 02:19] #6334 closed, assigned to nobody

[2018-01-10 05:16] MagicAndre1981 commented on #6403
but 3.6 is last version for VS2015, so the fix is not available in VS2015

[2018-01-10 05:21] MagicAndre1981 commented on #6403
ok, the issue is similar to https://github.com/NuGet/Home/issues/4492 and here @emgarten fixed it in [Nuget for VS2017](https://github.com/NuGet/NuGet.Client/commit/5b9e4a8d7ce62f55e81b796575474ba614132d22#diff-c1dc11962797fe5800a05793379ba071). So please backport this change to 3.6. so that VS2015 users can consume nuget packages with minClientVersion=3.6

[2018-01-10 08:18] Cheesebaron commented on #6397
I use a NuGet.config which specifies where to download packages, so this is not done per solution, but rather central for all of them.

The NuGet CLI doesn't seem to allow passing multiple projects in as arguments.

For now, as I described in the opening post, I generate a solution for all the projects that use packages.config on the fly and restore against that, then do the same thing right after

[2018-01-10 09:55] hisuwh commented on #6404
I realise `buildAction` and `copyToOutput` are not in the schema for `files` I was just experimenting to try and fix this.  Though actually I found that my `buildAction` was not set correctly with it specified merely in the `contentFiles` section.

Attached the files you've requested below (had to change them to txt files)

[nuspec.txt](https://github.com/NuGet/Home/files/1618287/nuspec.txt)
[UIGe

[2018-01-10 10:25] cristianbalint commented on #6324
@emgarten Yes, restore was working from dotnet cli.

[2018-01-10 12:24] daltskin commented on #6324
Same issue here with `C:\@Source` folder if adding new dependencies.

@emgarten `dotnet restore` **does** work from command line for existing dependencies

[2018-01-10 13:21] MikhailTymchukDX commented on #3509
The code sample in [wiki](https://github.com/NuGet/Home/wiki/Converting-Extension-SDKs-into-NuGet-Packages) has error:
[code]

`ToolboxItems` tag improperly closed. The valid code is the following:
[code]

[2018-01-10 17:05] cazzoo commented on #4942
Any new from nuget team about files set as content with packagereferences?

[2018-01-10 17:06] abpiskunov commented on #6029
As we chatted in the email, we have a lot of tests waiting for restore status when project is opened or dependency added and the way we hacked it now we look at restore output and check for “restore complete” last statement. However it is not very reliable and for example, on localized machines all our tests are broken since “Restore complete” is localized.
Running restore before starting test app

[2018-01-10 18:02] debonte commented on #3509
@MikhailTymchukDX, that's the feature spec and as a spec might have errors. The final documentation is available here: https://docs.microsoft.com/en-us/nuget/guides/create-uwp-controls

[2018-01-10 19:20] karann-msft commented on #2644
Closing the issue since we now have docs on this.

[2018-01-10 19:20] #2644 closed, assigned to nobody

[2018-01-10 19:22] pauldendulk commented on #3891
Just mentioning this feature is much wanted.

[2018-01-10 19:23] nkolev92 commented on #4942
@cazzoo Can you please clarify what you mean?
Package Reference has support for contentFiles (vs content in packages.config).
Some info here:
https://blog.nuget.org/20160126/nuget-contentFiles-demystified.html

contentFiles are static are static and do not pollute the project directory, but they can still be part of the build/publish steps.

[2018-01-10 19:27] kzu commented on #3891
Nugetizer already does this ;)
On Wed, Jan 10, 2018 at 4:22 PM Paul den Dulk <notifications@github.com>
wrote:

--

--
/kzu from mobile

[2018-01-10 19:46] #6401 closed, assigned to dtivel

[2018-01-10 20:05] emgarten commented on #6324
Thanks for confirming it works on the command line. This could be caused by the issue @Pilchie has mentioned if this is VS specific.

I'll leave this open for tracking, but it doesn't seem like a fix is needed on the NuGet side currently.

[2018-01-10 20:09] #6380 closed, assigned to mishra14

[2018-01-10 20:19] mishra14 commented on #6263
[code]

[code]

[2018-01-10 20:19] #6263 closed, assigned to mishra14

[2018-01-10 20:24] mishra14 commented on #3707
This was fixed during the solution migration effort last year.

[2018-01-10 20:24] #3707 closed, assigned to mishra14

[2018-01-10 20:52] cazzoo commented on #4942
@nkolev92 Thank you for the reference. I'll try to use that on a fork of a package that currently uses a ps1 file to copy an exe next to the build.
The mentionned package is WinSCP 5.11.3. Based on what you provided to me, it appears that I'd be able to build a new nuspec file that would do the copy with copyToOutput parameter set to true.

Does that sound good to you?

[2018-01-10 21:08] Ro3A commented on #6400
@nkolev92 Have you had a chance to review my comments above? Any thoughts?

I've tried implementing the binary version redirect work around and got no error message, but the console was stuck on loading / initializing.

[2018-01-10 21:25] jalbertSyncroTech commented on #5759
I'm seeing this as well, seems to be related to this issue

NuGet PackageReference style incorrectly selects 'bait' dll in NuGet package using 'bait and switch' pattern #2776
https://github.com/Microsoft/msbuild/issues/2776

[2018-01-10 22:21] nkolev92 commented on #1388
Thanks for filing this issue. Apologies for the overdue response.

At this point, pack has been completely rewritten.

Please create another issue if you're still running into problems.

[2018-01-10 22:21] #1388 closed, assigned to nobody

[2018-01-10 22:22] emgarten commented on #6352
This issue was moved to dotnet/project-system#3124

[2018-01-10 22:22] jainaashish commented on #6161
Please let us know if there any further questions on this.

[2018-01-10 22:22] #6161 closed, assigned to nobody

[2018-01-10 22:23] #6351 closed, assigned to nobody

[2018-01-10 22:26] #6168 closed, assigned to zhili1208

[2018-01-10 22:28] zhili1208 commented on #2501
checked nuget 4.4, it's fixed

[2018-01-10 22:28] #2501 closed, assigned to nobody

[2018-01-10 22:29] nkolev92 commented on #1415
There has been no activity on this for a while.
Lots of things have changed since then.
Closing this.

[2018-01-10 22:29] #1415 closed, assigned to nobody

[2018-01-10 22:30] nkolev92 commented on #1422
Redundant now. We won't do this

[2018-01-10 22:30] #1422 closed, assigned to deepakaravindr

[2018-01-10 22:30] zhili1208 commented on #2502
Please try latest version of nuget: https://www.nuget.org/downloads, if it still repro, feel free to reopen it

[2018-01-10 22:30] #2502 closed, assigned to nobody

[2018-01-10 22:30] emgarten commented on #6336
netstandard2.0 projects should use csproj with PackageReference.

What version of vs are you using, is there any reason you are still using project.json?

[2018-01-10 22:34] PatoBeltran commented on #3147
This issue was resolved. Please update and use `msbuild /t:pack` from VS 2015 Update 3 or later, or `dotnet pack` from dotnet.exe 2.0 or later and give it a try. If you keep having issues feel free to open a new issue with detailed repro steps.

[2018-01-10 22:34] #3147 closed, assigned to nobody

[2018-01-10 22:34] emgarten commented on #6349
This may be due to an incorrect value of `Link` for NETCore projects.
// @rohit21agrawal

[2018-01-10 22:35] zhili1208 commented on #2511
looks like this is fixed in 4.4

[2018-01-10 22:35] #2511 closed, assigned to nobody

[2018-01-10 22:36] jainaashish commented on #6188
As mentioned above, there isn't a easy way to do this at this time. And it also doesn't look like it will happen in near future so closing it for now.

[2018-01-10 22:36] PatoBeltran commented on #3067
Thanks for reporting this issue. At this time we suggest moving from project.json to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2018-01-10 22:36] #3067 closed, assigned to nobody

[2018-01-10 22:36] zhili1208 commented on #2513
it's fixed in 4.4

[2018-01-10 22:36] #2513 closed, assigned to nobody

[2018-01-10 22:36] #2514 closed, assigned to nobody

[2018-01-10 22:38] jainaashish commented on #6195
No further updates here assuming that was some intermittent issue which has resolved by now.

[2018-01-10 22:38] #6195 closed, assigned to nobody

[2018-01-10 22:41] nkolev92 commented on #1428
Package-Project duality is where NuGet has migrated since the packages.config world.
Package Reference has the same "issue". This is not a practice we want to encourage, because this would not work if someone tries to pack the said project.

Closing this as won't fix.

[2018-01-10 22:41] #1428 closed, assigned to nobody

[2018-01-10 22:42] rohit21agrawal commented on #6349
@monkey-dsc sorry for lack of detail, if you are packing using visual studio or msbuild /t:pack or dotnet.exe pack to pack your projects, can you please zip up the obj folder of both projects and send it to us? it should contain .g.props , .g.targets, nuspecs, and project.assets.json files. you can remove any DLLs from it.

[2018-01-10 22:43] #6335 closed, assigned to nobody

[2018-01-10 22:44] zhili1208 commented on #2530
@abatishchev does this issue still repro in VS2017?

[2018-01-10 22:45] nkolev92 commented on #1455
Redundant now.

[2018-01-10 22:45] #1455 closed, assigned to nobody

[2018-01-10 22:46] emgarten commented on #6332
@RedsGT what version of Visual Studio are you using?

[2018-01-10 22:47] kabua opened #6407 "Nuspec Replacement tokens don't have values."
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 4.4.xxx

dotnet.exe --version (if appropriate):

VS version (if appropriate): 15.5.2

OS version (i.e. win10 v1607 (14393.321)):win10

Worked before? If so, with which NuGet version: nuget.exe

## Detailed repro steps so we can see the same problem

Create Dire

[2018-01-10 22:48] jainaashish commented on #6196
Dupe of https://github.com/NuGet/Home/issues/2944

[2018-01-10 22:48] #6196 closed, assigned to nobody

[2018-01-10 22:48] nkolev92 commented on #1474
Thank you for filing this issue.
We have not been able to reproduce the issue or get something actionable.

Please upgrade to the latest VS 2017 version and open another issue if you're still encountering this problem.

[2018-01-10 22:48] #1474 closed, assigned to alpaix

[2018-01-10 22:49] #2531 closed, assigned to nobody

[2018-01-10 22:51] #506 closed

[2018-01-10 22:51] jainaashish commented on #6201
@diverdan92 what is the next course of action here?

[2018-01-10 22:51] emgarten commented on #6331
The restore target must exist. As mentioned earlier you will need to reference this common target to get restore to work.

[2018-01-10 22:51] #6331 closed, assigned to nobody

[2018-01-10 22:52] #587 closed

[2018-01-10 22:53] #603 closed

[2018-01-10 22:54] emgarten commented on #6328
Set the permission on your packages folder and try again.

[2018-01-10 22:54] #6328 closed, assigned to nobody

[2018-01-10 22:55] #6326 closed, assigned to nobody

[2018-01-10 22:57] jainaashish commented on #6206
closing as by design.

[2018-01-10 22:57] #6206 closed, assigned to nobody

[2018-01-10 22:58] nkolev92 commented on #1480
I am not able to reproduce this issue. If you are still able to reproduce this problem, please file a new issue.

[2018-01-10 22:58] #1480 closed, assigned to nobody

[2018-01-10 22:59] #6320 closed, assigned to nobody

[2018-01-10 23:00] #6317 closed, assigned to nobody

[2018-01-10 23:05] nkolev92 commented on #1482
Current recommendation is here:
https://docs.microsoft.com/en-us/nuget/create-packages/creating-localized-packages

Currently we don't have plans to do more work in this space.

If this is still an important scenario for you that cannot be satisfied by the above guidance, please create another issue.

[2018-01-10 23:05] #1482 closed, assigned to zhili1208

[2018-01-10 23:05] rohit21agrawal commented on #540
closing due to inactivity

[2018-01-10 23:05] #540 closed

[2018-01-10 23:05] rohit21agrawal commented on #541
closing due to inactivity

[2018-01-10 23:05] #541 closed

[2018-01-10 23:06] rohit21agrawal commented on #503
closing due to inactivity

[2018-01-10 23:06] #503 closed

[2018-01-10 23:07] #761 closed

[2018-01-10 23:07] rohit21agrawal commented on #606
closing due to inactivity

[2018-01-10 23:07] #606 closed

[2018-01-10 23:08] rohit21agrawal commented on #568
closing due to inactivity

[2018-01-10 23:08] #568 closed

[2018-01-10 23:08] #617 closed

[2018-01-10 23:09] PatoBeltran commented on #3197
Closing, please leave a comment if you need this reopen.

[2018-01-10 23:09] #3197 closed, assigned to nobody

[2018-01-10 23:09] vsfeedback opened #6408 "Package Manager Console switches to the Error List window automatically"
After executing a script in the Package Manager Console, the IDE automatically switches to the Error List window.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/109238/package-manager-console-switches-to-the-error-list.html
VSTS ticketId: 490850_
_These are the original issue comments:_

Zhi Li [MSFT] on 9/13/2017, 10:23 AM (119 days ago): <p>Thank you

[2018-01-10 23:10] #757 closed

[2018-01-10 23:10] emgarten commented on #6282
The solution here is to use PackageReference which limits the changes to only adding a PackageReference item in the csproj.

Modifying NuGet to rollback all projects for packages.config would be an extremely large change. We also do as much as possible today to keep the user from getting in a bad state, including catching all exceptions from installs/updates and then undoing all changes.

I recomm

[2018-01-10 23:10] jainaashish commented on #6207
You can always use msbuild targets to apply xdt transform files to transform web.config or app.config files.

Look at a sample solution - https://github.com/NuGet/Samples/tree/master/XDTransformExample
You can also look at some documentation around it, but keep it in mind this docs was written keeping `packages.config` in mind so dont follow this documentation. Just get a idea from that and use ta

[2018-01-10 23:10] #6207 closed, assigned to nobody

[2018-01-10 23:11] PatoBeltran commented on #5944
These issues should also be considered as part of cleanup https://github.com/NuGet/Home/issues/3169, https://github.com/NuGet/Home/issues/3226

[2018-01-10 23:12] emgarten commented on #6281
Closing since this should be fixed in 4.5.0. Please let me know if this isn't fixed there and we can reopen this.

[2018-01-10 23:12] #6281 closed, assigned to nobody

[2018-01-10 23:13] #674 closed

[2018-01-10 23:13] jainaashish commented on #6209
It should be fixed with another PR to choose the right version for project references. It will be available as part of Visual Studio 2017 15.6 preview3 release.

[2018-01-10 23:13] #6209 closed, assigned to nobody

[2018-01-10 23:15] PatoBeltran commented on #3207
Thanks for reporting this issue. At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2018-01-10 23:15] #3207 closed, assigned to nobody

[2018-01-10 23:15] jainaashish commented on #6210
design has changed so it is no more required.

[2018-01-10 23:15] #6210 closed, assigned to nobody

[2018-01-10 23:16] PatoBeltran commented on #3214
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2018-01-10 23:16] #3214 closed, assigned to nobody

[2018-01-10 23:16] emgarten commented on #6280
NuGet.Config needs to be next to the solution file for VS.

Take a look at the docs for further help on configuring custom restores like this.

[2018-01-10 23:16] #6280 closed, assigned to nobody

[2018-01-10 23:17] #720 closed

[2018-01-10 23:17] #6268 closed, assigned to nobody

[2018-01-10 23:18] PatoBeltran commented on #3263
Thanks for reporting this issue. At this time we suggest moving from project.json to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2018-01-10 23:18] #3263 closed, assigned to nobody

[2018-01-10 23:19] nkolev92 commented on #3400
Thanks for filing this issue.

Are you still able to reproduce this with the latest nuget 4.5.0?

Thanks.

[2018-01-10 23:21] PatoBeltran commented on #3216
This was solved in https://github.com/NuGet/NuGet.Client/pull/1908

[2018-01-10 23:21] #3216 closed, assigned to nobody

[2018-01-10 23:21] #766 closed

[2018-01-10 23:21] wli3 commented on #6210
Hi @jainaashish Could you illustrate the design change? For global tools, we are using a non ideal walk around(copy the config file to fake project location). We still hope this feature can be implemented

[2018-01-10 23:22] #770 closed

[2018-01-10 23:22] #771 closed

[2018-01-10 23:23] #786 closed

[2018-01-10 23:23] #819 closed

[2018-01-10 23:23] nkolev92 commented on #3401
I will close this as a dupe of https://github.com/NuGet/Home/issues/6091.

We want to change allow build assets to flow transitively.

Due to the project/package duality, this would affect both packages and projects.

For existing packages it won't change anything however, as the dependency graph is already hardcoded in the nuspec.
So this wouldn't be a breaking change for old packages.

[2018-01-10 23:23] #3401 closed, assigned to nobody

[2018-01-10 23:24] #824 closed

[2018-01-10 23:24] rohit21agrawal commented on #837
i think we have done a good  enough job with errors and warnings now  to close this

[2018-01-10 23:24] #837 closed

[2018-01-10 23:24] #847 closed

[2018-01-10 23:24] jainaashish commented on #6213
`flatten` flag only works when `copyToOutput` flag is set to true. I've updated the documentation to reflect the same.

[2018-01-10 23:24] #6213 closed, assigned to nobody

[2018-01-10 23:25] emgarten commented on #6266
We investigated providing full command line support for packages.config on the command line, the result of that work is *PackageReference*. With *PackageReference* nuget no longer calls into the VS project system, it instead writes everything out to project.assets.json and build consumes this directly.

[2018-01-10 23:25] #6266 closed, assigned to nobody

[2018-01-10 23:26] zhili1208 commented on #2532
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2018-01-10 23:26] #2532 closed, assigned to nobody

[2018-01-10 23:28] vsfeedback opened #6409 "Nuget package with mask 1.* is not automaticaly updated"
Nuget package with mask 1.* is not automaticaly updated.

Example I have this package referenced
&lt;PackageReference Include=&quot;MyPackage&quot; Version=&quot;1.*&quot; /&gt;
but with this convention the package is not automaticaly updated,
I need to delele local nuget cache, then the package reference gets updated within the rebuild of the solution or project.
But VS still offers me that there

[2018-01-10 23:28] #2534 closed, assigned to nobody

[2018-01-10 23:29] nkolev92 commented on #3402
This works ok with PR right now.

Please open another issue if you can still encounter this issue with PR. We will not invest any effort in project.json

[2018-01-10 23:29] #3402 closed, assigned to nobody

[2018-01-10 23:29] jainaashish commented on #6217
Not gonna happen in near future so closing it for now.

[2018-01-10 23:29] #6217 closed, assigned to nobody

[2018-01-10 23:30] #6228 closed, assigned to nobody

[2018-01-10 23:31] infin8x opened #6410 "msbuild /restore support for all NuGet use cases"
## Background
As new .NET project types (e.g. .NET Core, among others) are introduced, newer versions of NuGet are required to understand the project type and accompanying target framework. In Visual Studio, this is fine because the VS update that brings the new project types also brings new versions of NuGet libraries that can restore packages for these project types.

VSTS builds are unable to p

[2018-01-10 23:31] PatoBeltran commented on #3220
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2018-01-10 23:31] #3220 closed, assigned to nobody

[2018-01-10 23:31] emgarten commented on #6224
@cclauson have any of these help?

[2018-01-10 23:31] jainaashish commented on #6218
Should be fixed by now, let us know if there's still any issue.

[2018-01-10 23:31] #6218 closed, assigned to nobody

[2018-01-10 23:31] #942 closed

[2018-01-10 23:32] #955 closed

[2018-01-10 23:32] PatoBeltran commented on #3224
Thanks for reporting this issue. At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2018-01-10 23:33] emgarten commented on #6223
Does this repro with NuGet 4.5.0 and VS 15.5?

[2018-01-10 23:33] #946 closed

[2018-01-10 23:34] nkolev92 commented on #3411
We currentl

[2018-01-10 23:34] #3411 closed, assigned to nobody

[2018-01-10 23:34] emgarten commented on #6220
Would you provide the expected binding redirect? Which part is incorrect?

[2018-01-10 23:35] nkolev92 commented on #3413
We will not invest any effort in the template wizard for packages.config.

[2018-01-10 23:35] #3413 closed, assigned to nobody

[2018-01-10 23:36] PatoBeltran commented on #3228
Closing as packages.config is not supported.

[2018-01-10 23:36] #3228 closed, assigned to nobody

[2018-01-10 23:37] nkolev92 commented on #3441
This is a nuget.org bug.

Relevant bug https://github.com/NuGet/NuGetGallery/issues/3274.

Closing

[2018-01-10 23:37] #3441 closed, assigned to nobody

[2018-01-10 23:37] #895 closed

[2018-01-10 23:37] #899 closed

[2018-01-10 23:38] zhili1208 commented on #2550
this is by design, actually only v2 feed accept push, nuget translate v3 feed to v2 feed internally for push

[2018-01-10 23:38] #2550 closed, assigned to nobody

[2018-01-10 23:38] rohit21agrawal commented on #891
closing due to inactivity

[2018-01-10 23:38] #891 closed

[2018-01-10 23:39] nkolev92 commented on #3415
Closing this issue as a dupe of #5762

@kevinkuszyk If you're still willing to devote some to this, we'll be happy to work through a design.

Thanks.

[2018-01-10 23:39] #3415 closed, assigned to nobody

[2018-01-10 23:39] #2552 closed, assigned to nobody

[2018-01-10 23:39] #781 closed

[2018-01-10 23:40] #690 closed

[2018-01-10 23:40] PatoBeltran commented on #3249
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us. I will close this issue, but feel free to open a new issue if you still see this problem in the latest version.

[2018-01-10 23:40] #3249 closed, assigned to nobody

[2018-01-10 23:40] rohit21agrawal commented on #690
the menu option has been disabled

[2018-01-10 23:40] zhili1208 commented on #2554
Please try VS 2017, if it still repro, feel free to reopen

[2018-01-10 23:40] #2554 closed, assigned to nobody

[2018-01-10 23:40] #639 closed

[2018-01-10 23:41] jainaashish commented on #6223
Not enough information so closing it for now.

[2018-01-10 23:41] #6223 closed, assigned to nobody

[2018-01-10 23:42] PatoBeltran commented on #3250
Closing as project.json is not supported. Feel free to reopen if this still repros in PackageReference

[2018-01-10 23:42] #3250 closed, assigned to nobody

[2018-01-10 23:43] #2555 closed, assigned to nobody

[2018-01-10 23:43] #858 closed

[2018-01-10 23:44] #671 closed

[2018-01-10 23:44] #2563 closed, assigned to harikmenon

[2018-01-10 23:45] #2564 closed, assigned to nobody

[2018-01-10 23:45] #1206 closed, assigned to nobody

[2018-01-10 23:46] #2571 closed, assigned to harikmenon

[2018-01-10 23:46] #2573 closed, assigned to harikmenon

[2018-01-10 23:46] #2574 closed, assigned to harikmenon

[2018-01-10 23:47] #2575 closed, assigned to harikmenon

[2018-01-10 23:48] nkolev92 commented on #3440
@mdkf Are you still able to reproduce this problem?

[2018-01-10 23:48] lifengl commented on #6324
Yeah, a special character in the path can block design time build, and Jacob fixed it in 15.6 preview 3.

Sent from my phone

On Jan 10, 2018, at 12:06 PM, Justin Emgarten <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks for confirming it works on the command line. This could be caused by the issue @Pilchie<https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2

[2018-01-10 23:48] #2578 closed, assigned to harikmenon

[2018-01-10 23:48] #2579 closed, assigned to harikmenon

[2018-01-10 23:49] #2580 closed, assigned to harikmenon

[2018-01-10 23:49] #2581 closed, assigned to nobody

[2018-01-10 23:49] #930 closed

[2018-01-10 23:51] FizzBuzz791 commented on #6220
@emgarten I added a comment to the second code snippet.
There's a number of issues with it;

1. The closing `dependentAssembly` tag for the previous entry has been dropped.
2. Why is it all on one long line?
3. It's doing a straight insert instead of a diff (i.e. the first entry in the problem line is for `Newtonsoft.Json` but there's _already_ an entry for this (last one in the `assemblyBinding`

[2018-01-10 23:51] zhili1208 commented on #2582
dupe of https://github.com/NuGet/Home/issues/352

[2018-01-10 23:51] #2582 closed, assigned to harikmenon

[2018-01-10 23:51] #6324 closed, assigned to nobody

[2018-01-10 23:52] zhili1208 commented on #2583
@joelverhagen are you working on something related to this

[2018-01-10 23:53] joelverhagen commented on #2583
Nope. @chenriksson, @skofman1, @anangaur - what should be done with this client issue? Is this a duplicate?

[2018-01-10 23:53] #2586 closed, assigned to harikmenon

[2018-01-10 23:53] #2587 closed, assigned to harikmenon

[2018-01-10 23:54] #2588 closed, assigned to harikmenon

[2018-01-10 23:54] #2589 closed, assigned to harikmenon

[2018-01-10 23:54] #2590 closed, assigned to harikmenon

[2018-01-10 23:54] #2591 closed, assigned to harikmenon

[2018-01-10 23:55] #3290 closed, assigned to nobody

[2018-01-10 23:55] #2592 closed, assigned to harikmenon

[2018-01-10 23:55] #2593 closed, assigned to harikmenon

[2018-01-11 00:26] abatishchev commented on #2530
@zhili1208 I haven't see this for a while, I think it's safe to close the issues

[2018-01-11 01:05] #2530 closed, assigned to nobody

[2018-01-11 01:07] emgarten commented on #6220
@FizzBuzz791 thanks, I see it now. It should be investigated to find where that is written, in nuget or in an external component.

[2018-01-11 01:07] jainaashish commented on #6210
@nkolev92 can give more details here. Since he suggested that we don't need this feature anymore.

[2018-01-11 01:10] mishra14 commented on #5961
Closing this as we have no current plan for supporting this in waves 1 through 3.

[2018-01-11 01:10] #5961 closed, assigned to zhili1208

[2018-01-11 01:13] rrelyea commented on #5906
Dupe of #5889

[2018-01-11 01:13] #5906 closed, assigned to nobody

[2018-01-11 01:14] emgarten commented on #6410
The current extension point for the VSTS credential provider is not cross platform and is only used by nuget.exe. (NuGet.Credentials).

I spent some time looking at this recently, it looks like it could be moved down to NuGet.Protocol level so that it can be used for all network calls, regardless of entry point/OS.

We should consider if we want to move the current code, or if we want to move to u

[2018-01-11 01:15] rrelyea commented on #6005
This work has been checked into 4.6 codebase. Closing.

[2018-01-11 01:15] #6005 closed, assigned to PatoBeltran

[2018-01-11 01:15] rido-min opened #6411 "More verbose output for verification in VS"
Restoring signed packages do not show the complete log (as NuGet.exe verify) even with verbosity detailed.

When MSBuild logging verbosity is set to detailed, the restore log should show the signature and timestamp information. It should be similar information as nuget verify without trust information.

[2018-01-11 01:16] mishra14 opened #6412 "Add support for signing packages for repository signatures"

[2018-01-11 01:18] rrelyea commented on #6075
@zhili1208 has the first step of this out in PR.

[2018-01-11 01:18] mishra14 commented on #6239
@dtivel is working on a prototype for this.

[2018-01-11 01:24] noahfalk commented on #3224
@PatoBeltran The bug is an issue reading from nuget.config, not packages.config. Unless PackageReference has also somehow replaced the usage of nuget.config then the problem hasn't been addressed?

[2018-01-11 01:25] rrelyea commented on #6250
4.6 work on this specification is done.
We still need some (likely) 4.7 details determined during 4.6, so that we won't blow up with repo signatures in a package with 4.6 client.

[2018-01-11 01:31] rrelyea commented on #6318
@mishra14 - Sounds like the test needs to be fixed. Can you please follow up.

[2018-01-11 01:33] WeihanLi commented on #6207
Hi @jainaashish  .I've read the document,but the file I wanna change is not web.config or app.config.So I'm wondering if there is a solution for change any other files other than web.config or app.config

[2018-01-11 01:41] rrelyea commented on #6337
Discussion with @rido-min & @mishra14
Let's confirm that output window has the details of the failure.

We need some UI (or similar) work in NuGet to reflect the install failure.
Error list may not be the right place...Do we have a dialog? yellow bar?

[2018-01-11 01:42] jainaashish commented on #6207
Not that NuGet provide anything out of the box. But you can try that with MSBuild targets if that can work for you.

[2018-01-11 01:44] nkolev92 commented on #6210
@wli3
The add command is not used in the global tools implementation though.

We're using the MsBuild property to set the starting point to iterate the config file.

[2018-01-11 01:46] madelson commented on #6266
@emgarten are you referring to the new VS2017 project file format?

[2018-01-11 01:47] rrelyea commented on #6361
Spec discussion may make this not a bug. @rido-min ?

[2018-01-11 01:47] emgarten commented on #6266
You can use the VS2017 NETCore SDK project style, or you can add PackageReference items to non-NETCore SDK projects also. PackageReference works all over with VS 2017 tools.

[2018-01-11 01:50] wli3 commented on #6210
Thanks! This issue is no longer needed.

I can replace dotnet add with restore with version * and add RestoreConfigFile to fake project

[2018-01-11 01:53] madelson commented on #6266
@emgarten can you point me to documentation on using PackageReference without the new project style?

[2018-01-11 01:55] emgarten commented on #6266
Sure! Take a look at https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

I would also make sure you are on VS 15.5, the latest version which has a lot of fixes in this area over the original 15.0 release.

[2018-01-11 02:00] WeihanLi commented on #6207
OK. I'll try. Thanks.

[2018-01-11 02:17] wli3 commented on #6197
Added the subfolder support we talked about today

[2018-01-11 02:43] natemcmaster commented on #6091
I think this is a good feature, worth pursuing, and one I wish we had from the beginning.

But since its a breaking change, my knee-jerk reaction to reading the spec on this is that it could cause compatibility issues with existing packages, like some of the ones we shipped in ASP.NET Core 1.0. They contain build props/targets written under the assumption that they only apply to one project file.

[2018-01-11 03:51] #2209 closed, assigned to mishra14

[2018-01-11 03:54] nkolev92 commented on #6091
@natemcmaster

I will answer your other concerns within the next few days as I update the spec.

Just wanted to quickly reply to existing packages point.

The existing packages won't be impacted because the transitive dependency behavior is already embedded in the nuspec.

[code]

I will make sure to call that out clearly in the spec.

[2018-01-11 04:20] seangwright commented on #4270
@rrelyea If it isn't supposed to be mentioned that `Version` can be used as an element, why am I experiencing this exact behavior in VS2017 when using the `<PackageReference>` approach to managing packages for a .net 4.7.1 ASP.NET WebForms project?

Is this something that is expected to change in the future?
Should I manually change all the updates of my .csproj from Nuget that include a `<Version

[2018-01-11 04:27] RedsGT commented on #6332
@emgarten

This isn't VS PowerShell.  This is full blown PS v5 PowerShell.  You can repro in two lines of PS on any Win10 machine (or any win box with PS v5 on it):

[code]
This package clearly exists: https://www.nuget.org/packages/Microsoft.CrmSdk.CoreAssemblies/

A Fiddler trace shows the API URL hit as:

`https://api.nuget.org/v3/index.json/FindPackagesById()?id='Microsoft.CrmSdk.CoreAssemblie

[2018-01-11 04:59] natemcmaster commented on #6091
Just to clarify, my concerns are about how NuGet imports targets from P2P references. This is what you're proposing, right?

Given:
[code]

**Current**:
✅  ClassLib.csproj imports build/MyBuildTools.props
:x: App.csproj does not import build/MyBuildTools.props

**Proposed change:**
✅  ClassLib.csproj imports build/MyBuildTools.props
✅  App.csproj imports build/MyBuildTools.props

[2018-01-11 05:08] chenriksson commented on #2583
I'm closing as a dupe. After the latest discussion, we opened the following:
- client: https://github.com/NuGet/Home/issues/6056
- server: https://github.com/NuGet/NuGetGallery/issues/4730

Note, we also decided 'Documentation' was more appropriate than 'ReadMe' since it's really targeted more at consumers of packages rather than code.

[2018-01-11 05:08] #2583 closed, assigned to harikmenon

[2018-01-11 05:19] rohit21agrawal opened #6413 "e2e test infrastructure is on the floor"
e2e tests are failing to start because RunFunctionalTests.ps1 is failing to obtain DTE.

[2018-01-11 05:22] jainaashish commented on #4125
To update the thread, while designing the proper fix for this issue, another suggestion has come up to add `ExcludeAssets` as `Runtime` to truly make this development dependency and only available at compile time. So if a nuspec sets `developmentDependency` to `true` then it will set two things to `PackageReference` a) `PrivateAssets=All` and b) `ExcludeAssets=Runtime`

And hopefully we'll be able

[2018-01-11 06:11] emgarten commented on #6332
You can workaround the issue by using: `https://www.nuget.org/api/v2/`

As far as I know PS v5 PowerShell does not support nuget v3 feeds.

NuGet libraries contain support for v3 and powershell can upgrade to using the 3.x or 4.x libraries to enable that support. Currently they are using 2.x.

[2018-01-11 06:11] #6332 closed, assigned to nobody

[2018-01-11 06:22] RedsGT commented on #6332
@emgarten

Thanks for the heads up.

If anyone is reading this later, this worked for me:

`Install-Package -Name Microsoft.CrmSdk.CoreAssemblies -ProviderName nuget -Source "https://www.nuget.org/api/v2/" -Scope CurrentUser -Force`

[2018-01-11 07:00] nkolev92 commented on #6091
@natemcmaster

Yeah that's the proposed change.

The user awareness is the hardest part.
We don't really have a precedent for breaking changes like this in NuGet.

Considered adding some sort of warning, making it an opt-in feature etc, each with it's own pros and cons.

[2018-01-11 07:06] v-luzh commented on #6341
@mishra14, it still repro on D15.6stg 27310.3001+NuGet Client Release-4.6.0-RTM 4802. Would you please help to re-active this bug?

And I got nothing after typing all the command in a powershell/cmd.exe as below.
![command](https://user-images.githubusercontent.com/20632625/34812481-a2d0ccba-f69d-11e7-8d38-c2e4a034d1dd.PNG)

[2018-01-11 07:08] bording commented on #6091
@nkolev92 Will this change also include analyzers, and not just build assets? #3697 was closed and points to this issue, but it was dealing with both build and analyzers.

[2018-01-11 07:21] emgarten commented on #6341
Reopening for @mishra14 to investigate with signing

[2018-01-11 07:42] natemcmaster commented on #6091
@bording IMO including analyzers too make senses.

What about contentFiles?

@nkolev92 thanks for clarifying. I think this is a more intuitive behavior. I've seen several users hit issues where the expected build assets to flow across p2p references, and when they didn't, adding a package ref to every project wasn't the most obvious solution.

Just throwing a crazy idea out there:

If I understand

[2018-01-11 10:29] nkolev92 commented on #6091
Despite the duality, I think it's still very important for the user to be able to tell what's a Project vs Package reference.
Also the entry bar would be high with a change like that.

Maybe @AArnott can share his opinion on analyzers.
Don't have the right context on why they were in exclude assets in the first place.

//cc @emgarten @rrelyea

[2018-01-11 12:20] FlukeFan commented on #5605
Unless I am missing something, the contentFiles are not (and cannot be?) copied to the consuming project.

So there is currently no way to package (and consume) content like css (or js) which might be required for some projects (e.g., a library of tag-helpers that generate html requiring related css/js) using nuget and PackageReference projects.

[2018-01-11 12:27] kevinkuszyk commented on #5762
@nkolev92 I'm posting here to continue the conversation from #3415.

I have a hack week coming up soon, so I should be able to spend some time on implementation then.  In the meantime I'm happy to discuss ideas and agree what the functionality should be.

It looks like the OP here is suggesting adding a `-whatif` flag the existing `nuget update` command, whereas #3415 was about adding a new `nuget

[2018-01-11 13:28] StingyJack commented on #6373
@zhili1208 - if I try to push a package to a nuget.server and that package has dependencies, but the server does not have those dependencies yet, will the push succeed?

[2018-01-11 13:35] StingyJack commented on #6282
Does package reference follow the same pattern (remove all, then install all) when updating or reinstalling multiple packages for projects in a solution?

If it does then moving to package reference isnt going to fix the issue (and if [this](https://github.com/NuGet/Home/wiki/Packages.config-to-PackageReference-Migrator) hasn't materialized then imposing the level of effort required to do so manua

[2018-01-11 16:07] dtivel opened #6414 "Signing: add test for basic signed CMS signature"
We need a test verifying a package signed with neither an author or repository signature.

[2018-01-11 16:17] emgarten commented on #6282
PackageReference doesn't add/remove individual package assets to the csproj file. A common practice with PackageReference is to keep versions in a shared .props file and set the version there, doing that it will be applied to all projects.

PackageReference also supports transitive dependencies, so in a typical scenario a package is updated in a single project and it is flows to parent projects, a

[2018-01-11 17:05] #6413 closed, assigned to nobody

[2018-01-11 17:10] infin8x commented on #6410
@emgarten this is great news, thanks for looking into it! We've had a long-running desire to have better support for Credential Providers (or some similar 2FA-capable auth model) in dotnet.exe, which it sounds like this would enable. If I understand right, this would also work for msbuild /restore?

@anangaur when we talked yesterday, this was lower on the backlog. That still makes sense to me giv

[2018-01-11 18:21] anangaur commented on #6410
There are 2 parts to the issue here:
1. msbuild t:/restore, dotnet restore and msbuild /restore should work for other package format types.
2. Support for auth on the above mentioned CLIs.

If required we should split this issue into these 2 parts so that we do not block 1 because of 2.

@alexmullans @emgarten @xavierdecoster
We should also sync up on the future course of action for auth. I see th

[2018-01-11 18:54] nicbavetta commented on #2944
@emgarten What needs to be added to PackageReference to get this to work?

[2018-01-11 18:58] bonesoul commented on #5763
same here.

[2018-01-11 19:03] rlundy commented on #3425
So by now NuGet is in version 4.5, and this is still a constant issue.  This seems like a case of letting the perfect be the enemy of the good.

What's wrong with just popping up a dialog and saying "Hey, your sources A, B, and C are available, but X, Y, and Z are offline.  Do you still want to install/update/whatever this package?  [Yes] [No]"

[2018-01-11 19:08] rlundy commented on #6373
@zhili1208 This continues to baffle me.  It baffles me, in fact, every day when VS fails to install a package or fails to update a package or fails to create a flippin' controller in an ASP.NET Core MVC project because a NuGet package source that _I'm not using and don't care about_ is unavailable.

Instead of continually closing this as "by design," what about a little introspection?  What about

[2018-01-11 20:01] mishra14 commented on #6341
@v-luzh I cannot repro this -

[code]

-------------------------------------
Update, I think Justin's change was not in the rtm branch. I will try to get that in.

[2018-01-11 20:06] mishra14 commented on #6341
@v-luzh I have cherry-picked the [commit](https://github.com/NuGet/NuGet.Client/commit/84e870aa0c5336284155f8111eccdf4277ca4290) from dev. Can you please retry with the new build tonight?

If you are still facing this issue then can you please email me details about the machine that I can access to repro this issue?

[2018-01-11 21:05] ghost opened #6415 "setapikey results in prompt for username/password (key ignored)"
Ubuntu 16.04 LTS w/latest updates, running on Mono... (yeah, I know)
[code]

Add Artifactory and set API key:
[code]

Try to restore packages:
[code]

...have to do this every time. Of course, if I set it up this way:

[code]

then it works, but that is not ideal.

[2018-01-11 21:06] rohit21agrawal opened #6416 "stabilize apex tests and prevent failures and hang and reduce run duration"
Apex tests are failing very often either due to crashing, hanging or false assertions.

They are also taking a long time to run since each tests opens its own instance of visual studio.

[2018-01-11 21:08] dtivel opened #6417 "Signing: fix package signature file entry checking"
ZIP entry file name decoding must be updated to match the [spec](https://github.com/NuGet/Home/wiki/Package-Signatures-Technical-Details#-the-package-signature-file).

[2018-01-11 22:15] dsplaisted opened #6418 "NuGet PackTask should report all files that are not found instead of stopping at the first one"
- Create a .nuspec that lists multiple files which don't exist
- Pack with MSBuild targets, as described [here](https://docs.microsoft.com/en-us/nuget/schema/msbuild-targets) under "Packing using a .nuspec"

**EXPECTED:** Build errors listing all of the files listed in the .nuspec that can't be found
**ACTUAL:** Error for only the first missing file:

This can become quite cumbersome when you have

[2018-01-11 22:22] deadlydog commented on #6373
I have to agree with @rlundy. I understand that you are moving towards a new PackageReference model and looking to improve the design in that "vNext" model, but the reality is that many people will continue to use the "old" packages.config model for many years yet. Adding a small UI enhancement to prompt users if they want to continue when a package source is unavailable, or simply attempting to g

[2018-01-11 22:23] StingyJack commented on #6282
I'm not sure that is the problem scenario. It's not about transitivity, it's the manner in which the changes are applied.

[2018-01-11 22:26] StingyJack commented on #6282
Whoops, misclick

[2018-01-11 23:04] dtivel commented on #6361
@v-nancyj, the product behavior is correct.  The test case needs to be updated such that the expected result matches the actual result described above.

Note that there is a discrepancy between VS and "NuGet.exe verify" behavior with respect to verifying this signed package.  The default VS policy allows a package signed with an expired certificate and no steamp to be installed as an unsigned pack

[2018-01-11 23:04] #6361 closed, assigned to dtivel

[2018-01-11 23:06] dtivel commented on #6318
@v-nancyj, the current product behavior is correct.  The test case needs to be updated so that the expected result matches the actual result described above.  The default VS policy allows installation of packages signed with an untrusted certificate.  "NuGet.exe verify" should report this untrusted status with an error.

CC @rido-min

[2018-01-11 23:25] mishra14 opened #6419 "[Spec] Schema changes to nuget config file for storing trusted repositories"
Status: In Review
Spec: https://github.com/NuGet/Home/wiki/%5BSpec%5D-NuGet-Config-schema-changes-to-enable-repository-signatures

[2018-01-11 23:27] #3201 closed, assigned to nobody

[2018-01-11 23:27] mishra14 opened #6420 "[Spec] Changes to nuget config file and settingsto allow custom hierarchy/scope"

[2018-01-11 23:30] rohit21agrawal opened #6421 "investigate making use of dotnet cli telemetry in nuget"
tracking bug for investigation

[2018-01-11 23:36] zhili1208 opened #6422 "[SPEC] Nuget.mssign.exe Repo signature"

[2018-01-11 23:37] mishra14 opened #6423 "[docs] create reference/user documentation for package signing"
me and @PatoBeltran  will work with @rido-min, as needed, to provide technical specs.

[2018-01-11 23:37] zhili1208 opened #6424 "[SPEC] Nuget verify repo signature"

[2018-01-11 23:38] zhili1208 opened #6425 "V3 protocol change for package signing follow up"

[2018-01-11 23:39] mishra14 opened #6426 "[spec] Client policy specification for signed packages"
https://github.com/NuGet/Home/wiki/%5BSpec%5D-NuGet-Package-Signing-Client-Policy

[2018-01-11 23:42] mishra14 opened #6427 "Improve VS error experience for signed packages"
@rido-min will work on the spec.
@emgarten  will work with @rido-min to get the feasible changes into product.

[2018-01-11 23:43] rohit21agrawal opened #6428 "make github-vsts integration for linux/mac better"
use powershell scripts on linux/mac to obtain detailed information about test runs on mac/linux and integrate with github.

[2018-01-11 23:44] mishra14 commented on #6427
Known issues -
https://github.com/NuGet/Home/issues/6337
https://github.com/NuGet/Home/issues/6411

[2018-01-12 00:20] nkolev92 commented on #5762
@kevinkuszyk
Personally I am a fan of a new command, "nuget outdated", as it aligns to what NPM, RVM are doing,
But I'd like to ask for the team to chip in on their behalf. @NuGet/nuget-client

A few important things about this feature.

1. It has to work for both package reference and packages.config.
2. This has to be cross-plat (most of our libraries are), as we think it'll be super important t

[2018-01-12 00:29] zarenner opened #6429 "NuGet push performs extra requests, potentially pushing entire package 3 times"
Assume that the server does not support Expect: 100-continue in the below examples.

When attempting to push a package to an authenticated v3 service, and that service index is already in nuget.exe's http-cache, nuget makes the following requests:

[code]

This means that the entire package ends up being pushed not just 2, but 3 times due to the extra unauthenticated PUT.

Here's what happens if t

[2018-01-12 00:34] nkolev92 commented on #4942
@cazzoo
Yeah that should work.
You can also consider using a build target, in case you need to execute a specific action during build.
\build\packageName.targets

[2018-01-12 00:55] nkolev92 commented on #6418
//cc @rohit21agrawal

[2018-01-12 01:06] rohit21agrawal commented on #6418
won't be on the top of my list to fix, but will gladly accept a PR. the fix will revolve around wrapping the line AddFiles in PackageBuilder in a try-catch block and aggregating the failures, and throwing an exception in the end. (https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/PackageCreation/Authoring/PackageBuilder.cs#L546)

[2018-01-12 01:11] nkolev92 commented on #6415
Thanks for filing this issue.

The API key is not used to authorize when reading a feed, it's only used for push.

Related comment here:
https://github.com/NuGet/Home/issues/3664#issuecomment-355099555

[2018-01-12 01:34] nkolev92 commented on #6400
I've done some looking around.

Since it's not a NuGet issue, there isn't much we cna do here, but I found the following blog that might of some help to you.

https://joshuachini.com/2017/07/13/visual-studio-package-manager-console-fails-to-start/

[2018-01-12 01:40] nkolev92 commented on #6400
I've also found the following:

https://docs.microsoft.com/en-us/nuget/release-notes/Known-Issues#opening-package-manager-console-fails-with-objectsecurity-exception

Please attempt the solutions provided in the links.

[2018-01-12 01:49] rohit21agrawal commented on #3169
e2e tests now download the latest-prerelease nuget.exe from nuget.org for testing.

[2018-01-12 01:49] #3169 closed, assigned to rohit21agrawal

[2018-01-12 02:00] emgarten commented on #6429
Related: https://github.com/NuGet/Home/issues/1501

[2018-01-12 02:04] emgarten commented on #6429
I believe some servers do not require auth for the push endpoint, and instead rely on the API key sent. Also, for a scenario where the credentials were stored in nuget.config the first request would be sent from the start.

It seems like the combination of VSTS requiring auth for push, and the way the VSTS credential provider works is the main issue here.

The v3 -> v2 redirect also looks problema

[2018-01-12 03:20] AArnott commented on #6091
I would probably have been in favor of letting `build` assets be transitive in the initial design. But at this point the breaking change IMO isn't worth all the trouble. NuGet has been a really rough ride from 2.x to 4.x, and since about 4.1 or so, it's been really stable, to the point where I don't "pin" the version of nuget our projects build with any more. If nuget takes to changing defaults th

[2018-01-12 04:10] joelverhagen commented on #6429
I have a couple questions here:

1. Why do we wait for a 401 challenge before hitting the credential provider? I think know the answer ("how would NuGet know to ask for credentials for source X?"), but couldn't we fix this up by having a configuration value that says that source X always needs for credentials so save the round trip by hitting the credential provider first?
1. If we have an API key

[2018-01-12 04:11] joelverhagen commented on #6429
Also, do we see the same behavior on NuGet.org with an invalid API key? (the duplicate request, I mean)

[2018-01-12 04:24] #3226 closed, assigned to nobody

[2018-01-12 04:24] #5944 closed, assigned to rohit21agrawal, PatoBeltran, nkolev92, emgarten, zhili1208, mishra14, jainaashish

[2018-01-12 04:27] emgarten commented on #6429
Since nuget.org doesn't use basic auth the client would prompt and the user would probably cancel it. I think this is a different issue that needs to be fixed.

The client doesn't know that this is part of the same feed, but we could read the service index and auto apply all creds for urls found there.

We could configure that a source needs to prompt first, but that is more to configure. It is di

[2018-01-12 04:29] emgarten commented on #6415
@nkolev92 is correct, you need to add the username/password to nuget.org for the source.

[2018-01-12 04:29] #6415 closed, assigned to nobody

[2018-01-12 04:42] emgarten commented on #2944
@nicbavetta with PackageReference it works by default. To find out more on converting take a look at https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2018-01-12 05:28] StingyJack commented on #6373
@deadlydog - i didn't close it, @zhili1208 did.  I've complained about the same thing a few times and get stonewalled because "muh transitivity" or "muh package source diagnostics".

The post I linked above is an actual example of how adding a package with dependencies that are not already present on the nuget server is blocked. This neuters the argument of one sources not being available could ca

[2018-01-12 08:21] nkolev92 commented on #6407
msbuild/dotnet pack works a bit differently from the old nuget.exe nuspec pack.

In nuget.exe you can pack a nuspec, with msbuild you have to have a project.
Which means when you run the above command, it'll call the pack target on each compatible project in the solution.

Each project should point to a nuspec and the way to provide the token values is to use the NuspecProperties property, as desc

[2018-01-12 08:23] zarenner commented on #6429
(note: fixed my second example; was missing the authed v3/index.json)

It does not today. One of our concerns with ApiKey was that it's normal to have it in plain text on the command line via -ApiKey. Yes, setApiKey exists, and yes, we could extend credentialproviders to support apikeys... but we've found that people tend to over-expose their credentials already in logs, and the easy solution unfo

[2018-01-12 12:30] monkey-dsc commented on #6349
Hi @rohit21agrawal ,

I have attached both obj-folders with all files you requested.

Best regards
Dirk

[Indeca.SitecoreCommon.EditorExtensions.DeviceDependent_obj.zip](https://github.com/NuGet/Home/files/1625972/Indeca.SitecoreCommon.EditorExtensions.DeviceDependent_obj.zip)
[Indeca.SitecoreCommon.PresentationSettings_obj.zip](https://github.com/NuGet/Home/files/1625973/Indeca.SitecoreCommon.Pre

[2018-01-12 14:21] StingyJack commented on #6282
Package reference really does mod the proj file.

[2018-01-12 16:19] larrybud2004 commented on #2978
You can get around this, at least in VS2017.

1. Go to TOOLS
2. NuGet Package Manager
3. Package Manager Settings
4. Under Package Sources, Uncheck the one(s) which is unavailable
5. Go and install your package from the other available source

Not sure why Nuget just doesn't ignore the unavailable sources when searching/installing.  Seems like it would be a simple thing to accomplish.

[2018-01-12 16:23] marcosradix commented on #5052
I found how to fix!
when we install sudo apt install libcurl3
from : https://launchpad.net/ubuntu/xenial/amd64/libcurl3/7.47.0-1ubuntu2.2
relay on yours arh server (for my linux mint 18.2 it was amd64)
and after that this error with 'dotnet restore' disappear.
Its solved to me, thanks, KaBaJIeP .

[2018-01-12 16:33] Tiberio-B opened #6430 "NuGetCmdletUnhandledException,NuGet.PackageManagement.PowerShellCmdlets.InstallPackageCommand"
I'm using: NuGet v.4.4.1 Package Manager Console and Nuget Package Manager -> "Manage NuGet Packages for Solution..." on both Microsoft Visual Studio 2015 and Microsoft Visual Studio 2017 on Windows 10 Pro.

1. Whenever I try installing/updating/re-installing some packages (e.g. QLNet) for this solution: https://github.com/QuantConnect/Lean (both its VS15 and VS17 versions on their respective soft

[2018-01-12 16:58] joelverhagen commented on #6429
Yeah, makes sense. We could cache this information on the machine though. For a given source URL, it's extremely unlikely that it will go from "needs auth" to "does not need auth" so the cache could live for a long time (day? week? month?). Right now, the information only lives as long as the process.

[2018-01-12 18:21] nkolev92 commented on #6430
Thanks for filing this issue @Tiberio-B.

The first error message seems straightforward, NuGet cannot complete the installation because the install directory has that package already.

The 2nd one suggests that the zip file is somehow corrupt.

Can you please try cleaning your global packages folder and the packages folder in your project and retry?

To avoid redownloading lots of data, you can ju

[2018-01-12 19:10] dee-see commented on #491
I made a PowerShell script that automates the rename-undelete-rename task for every package.config that has a delete change pending but isn't really deleted following a package update.

https://gist.github.com/dee-see/7acf6fd5efc06ff7cd447c07563a0041

Throwing it out there if it can help anyone in the same situation.

[2018-01-12 19:59] gh-andre opened #6431 "Please provide a way to reference package ID and version in .target/.props files"
It appears that there is no way to reference the package version via a macro in `.target`/`.props` files when the package is being packed. Most developers use a hack with `$(MSBuildThisFileDirectory)`, which only works when `Import` is used in `.vcxproj` files and backfires when package files are moved into solution folders because package constructs are inserted verbatim into `vcxproj.filters` fi

[2018-01-12 20:59] zarenner commented on #6429
Yeah, a caching solution rather than explicit config is probably more desirable, although we may want *some* method of explicit config (even if it isn't nuget.config, e.g. an envvar) for scenarios where we know both that the cache will be empty and that auth is required on the source. Hosted automated builds are such an example because at least with VSTS you get a fresh machine each time.

[2018-01-12 21:40] jainaashish commented on #5954
Update:

`Provided sample solution will not work for ASP.NET Core projects`
This is expected since msbuild targets for ASP.NET core vs classic projects are totally different. ASP.NET team has a work item to add web.config transform support for core projects.

`Suggested solution also fails when publishing to Microsoft Azure App Service`
This is a bug in ASP.NET target with 'AutoParameterizationWeb

[2018-01-12 21:40] jainaashish commented on #5954
Let us know if you see any other issue!

[2018-01-12 21:40] #5954 closed, assigned to nobody

[2018-01-12 21:56] dotMorten opened #6432 "Content files gets deployed twice"
When I add the following to my nuget package:
`/contentFiles/any/uap10.0/MyFolder/MyFile.txt`
And add this entry to the nuspec:

[code]

and then reference the nuget from a UWP app, when you build and deploy the app, in the generated appx folder you'll find "MyFile.txt" in the root folder and also in the /MyFolder/ folder.

The workaround is to set the `buildAction` to `none`, but that seems very

[2018-01-12 22:17] #6417 closed, assigned to dtivel

[2018-01-12 22:52] iskiselev commented on #5954
What about preventing from applying VS standard Web.Debug.config/Web.Release.config?

[2018-01-12 22:59] nkolev92 commented on #6431
I am not sure I fully understand your scenario here.

I assume you're using packages.config to manage your projects.

What do you mean, there's no way to reference target/props when the package is being packed?
Whose props/targets?
The dependencies?
Do you know the NugetPkgID?

Can we take a step back and try to explain your scenario, and what you're trying to do, maybe there's a better way to ach

[2018-01-12 23:03] jainaashish commented on #5954
That has nothing to do with NuGet and is out of scope for this issue. You can check with ASP.NET team.

[2018-01-12 23:22] gh-andre commented on #6431
Thanks for a quick response. Let me clarify. I'm creating a native package. Let's say my `.nuspec` says this:
[code]
It's a native package, so my directory structure is something like this:
[code]
I want people to be able to reference files in the package. For example, if somebody wants to set up a post-build event, they should be able to reference the bin directory within my package, but they sho

[2018-01-12 23:44] nkolev92 commented on #6432
I'd imagine this is by design from UWP side, as Nuget just writes out the content files and the attributes, and then msbuild handles the rest.

Need to repro it to confirm.

The build log /v:d should help us see what happens.

[2018-01-13 00:08] rido-min opened #6433 "No Error message when installing a tampered package with NuGet.exe"
Create a project  and add a reference to a known package.

Sign that package, and modify it's contents.

`nuget verify -signature MyPackage.nupkg` should show NU3008 error.

Running `nuget restore` fails, however there is no error message or warning, while VS shows the NU3008 Error.

Sample output (for PR and PC projects)

[code]

[2018-01-13 00:11] mishra14 commented on #6433
@zhili1208 is this expected?

[2018-01-13 00:42] bording opened #6434 "NU1608 warning is not evaluating prerelease versions combined with exclusive upper bounds properly"
The NU1608 warning that was added in https://github.com/NuGet/NuGet.Client/pull/1678 that displays when a package is outside of a dependency constraint is not working correctly when prerelease versions are combined with exclusive upper bounds.

The scenario:
- PackageA version `1.0.0` has a dependency on PackageB defined as `[1.0.0, 2.0.0)`
- The following versions of PackageB exist: `1.0.0, 2.0.0

[2018-01-13 00:46] nkolev92 commented on #6432
Looking at the log files, it's kind of confusing and without insight into how the build work.
As far as NuGet is concerned, we do the right thing during restore.

I can tell that the copying is done here
[code]
That's the one that copies it correctly.

Now the 2nd one, not sure where it's coming from.

Notable, file is in 2 different output groups
[code]

tl;dr;

This is happening in the build tas

[2018-01-13 01:01] AwesomeYuer commented on #6280
@emgarten thanks for your support

[2018-01-13 01:03] nkolev92 commented on #6404
The way content files are copied is that NuGet writes them in the props file and then later the build task picks them up.

From what I can see the nuget.g.props contains those files without copy local attributes because the package doesn't contain them.

Not sure I see anything being done wrong on the nuget side.

Can you please correct the packages and try building and then attach the msbuild log

[2018-01-13 01:29] nkolev92 commented on #6434
I think what it's doing is correct.
2.0.0 > 2.0.0-beta1...so that puts beta1 in the range.

//cc
@emgarten

[2018-01-13 01:40] bording commented on #6434
2.0.0 > 2.0.0-beta1...so that puts beta1 in the range.

When you consider the reason for putting an upper bound on a version range, I totally disagree.

If you're following SemVer, you're trying to avoid breaking changes. Picking up a prerelease version of a new major completely defeats the point of putting the upper bound there.

Moving to version 2 of PackageB means I have breaking changes. That

[2018-01-13 01:44] nkolev92 commented on #6434
SemVer only declares the ordering.

As I mentioned earlier, so 2.0.0 > 2.0.0.-beta1
https://semver.org/#spec-item-11

So the way NuGet implements the ranges is correct.
It's not intuitive but semver compliant.

The way to go here would be something like marking the upper bound as "2.0.0-0" as that'd be the lowest possible prerelease version of 2.0.0. @emgarten can correct me if I'm wrong here.

[2018-01-13 01:47] nkolev92 commented on #6434
Basically, think of it this way.

1.0.0 < 2.0.0-beta1 <2.0.0

And you're saying 1.0.0 and higher works, and lower than 2.0.0 works

[2018-01-13 01:51] #6414 closed, assigned to dtivel

[2018-01-13 02:03] bording commented on #6434
Setting the range to `[1.0.0, 2.0.0-)` in my PackageB project to get to try to get the package to build with that dependency does not work:
[code]

While I understand what you're saying, and from a general sorting order you are correct, I feel like falling back on that to explain this behavior is largely missing the point of what specifying version ranges is for.

If I was specifying an inclusive

[2018-01-13 03:53] jnm2 commented on #3891
Ran into another conversion where I could really use the capability to include the build output from a NuGet package rather than depending on it via nuspec.

[2018-01-13 04:20] jnm2 commented on #3891
Looks like the `TargetsForTfmSpecificBuildOutput` workaround above no longer works in newer SDKs.

Here's the current workaround for including copy-local references from NuGet packages:
[code]

Would be good to get some of these arms races officially supported. 😜

[2018-01-13 04:42] emgarten commented on #6434
`2.0.0-0` would be the lowest valid pre-release version.

I get that this is confusing since you intend to limit the version to `1.x`.

Ranges in NuGet have always worked this way and I think it would be a major breaking change to the most basic part of NuGet to change this behavior. I am not sure that this could or should be changed.

[2018-01-13 05:09] bording commented on #6434
Then that means there are a whole bunch of people out there handling version ranges on packages incorrectly. I suspect this behavior would be quite the surprise to most people, in fact.

I totally get the whole "can't make breaking changes" thing, but this definitely feels like a bug.

At least the `2.0.0-0` workaround appears to work. Is that guaranteed to block all prerelease versions?

[2018-01-13 07:27] dasMulli commented on #3891
@jnm2 what were you trying to pack there? "self-contained" tools, msbuild tasks etc? Posted a sample of how to include a publish output in an arbitrary location in a package at https://github.com/dotnet/sdk/issues/1846#issuecomment-356726385

btw, which version did the `TargetsForTfmSpecificBuildOutput` fail with? using an underscore-prefixed target is a bad practice (but then, that's why it's a w

[2018-01-13 08:00] pauldendulk commented on #5800
Same here.

[2018-01-13 08:01] pauldendulk commented on #3891
Thanks @kzu, Nugetizer solved my problem. It took some trial and error though.

I would think my scenario is quite common. I have an existing solution, quite big, and start to convert the projects with the least dependencies to the new csproj format. This breaks the existing nuget publishing.

[2018-01-13 15:15] Ro3A commented on #6400
I've seen both of those as well. No luck. I'm concerned too that some of these articles regarding this specific error have been around for quite so me time.

Can you refer me to the right team?

[2018-01-13 18:18] jnm2 commented on #3891
@dasMulli NUnit pulls NUnit.System.Linq as a NuGet package but prefers to bundle `lib\net20\NUnit.System.Linq.dll` rather than leaving it as a dependency. I forget offhand what the other times were that I needed this. I think Roslyn analyzers.

I tried to find `TargetsForTfmSpecificBuildOutput` using the MSBuild structured log viewer with /t:Pack and didn't find it. Maybe I made a mistake? I'll tr

[2018-01-13 19:22] jamesqo opened #6435 "[Question] How to check whether a package is listed with the NuGet catalog API"
I'm using the [catalog API](https://docs.microsoft.com/en-us/nuget/guides/api/query-for-all-published-packages) and manually making HTTP requests/parsing the JSON in Python. How do I check whether a package is listed/unlisted?

I noticed that in the JSON for a particular package, such as https://api.nuget.org/v3/catalog0/data/2017.11.01.06.23.18/mapsuitedependency-oracle.11.0.0-beta002.json, there

[2018-01-13 23:45] jez9999 commented on #4989
@gertjvr Sorry, I'm really confused by your workaround.  You say you have "both references of StackExchange.Redis and StackExchange.Redis.StrongName nuget dependencies" but then in your example `csproj` file, there is no `PackageReference` to either of these nuget packages.  So..... where are the dependencies?  And what does `StackExchange.Redis.StrongName` refer to?  A namespace?  The name of the

[2018-01-14 02:46] nkolev92 commented on #6434
I disagree with saying that this is a bug.
That's just how SemVer is, and NuGet is SemVer compliant.

It's definitely not the most intuitive thing, I agree, but having a value (2.0.0-beta1) mean one thing as an exact version, but another thing in a version range will be even more confusing.

[2018-01-14 02:56] ericnewton76 opened #6436 "Nuget wiki still contains project.json upgrade recommendations when project.json is currently deprecated."
These wiki pages need substantial rethink to evaluate their correctness now that project.json itself is deprecated:

- https://github.com/NuGet/Home/wiki/NuGet-Upgrader.-Helping-to-move-to-NuGet-3.0
- https://github.com/NuGet/Home/wiki/Converting-a-csproj-from-package.config-to-project.json

[2018-01-14 10:12] SimonCropp commented on #6434
may "technically" not be a bug. but it is so outside the majority of peoples understanding and usage that it should change.

[2018-01-14 17:35] abatishchev commented on #6434
So without changing anything in the existing behavior, how to specify `2.x)` where 2.x is either release, prerelease, anything? In other words "no packages from the 2.x branch can be used" (including 2.0-rc-final, surprise!).

[2018-01-14 18:09] adamralph commented on #6434
I think this may be a regression. IIRC, earlier versions of NuGet (before `<PackageReference>`) did exhibit the desired behaviour, i.e. `[1.0.0, 2.0.0)` would exclude any 2.0.0 pre-release versions. I was involved in a discussion a few years ago about this very topic, and I'm all but certain it was agreed to implement to exclusive upper bounds in that way. Unfortunately I can't find the conversati

[2018-01-14 18:58] mauroservienti commented on #6434
Nuget [documentation](https://docs.microsoft.com/en-us/nuget/reference/package-versioning#version-ranges-and-wildcards) states:

That to me means that this is a bug.

[2018-01-14 21:55] jamesqo opened #6437 "Why is there no 'dotnet nuget setApiKey' command?"
I remember that before, I could write `nuget.exe setApiKey XXX`, and then do `nuget push` in a script without specifying my API key so other people couldn't see it in the script. Now, it's necessary to specify the API key as a parameter when you do `dotnet nuget push`, and there is no `dotnet nuget setApiKey` command. Is there a reason for this?

[2018-01-14 22:17] kbaley commented on #6434
SemVer talks about ordering but I don't _think_ it talks specifically about how to implement ranges. I.e. it says 2.0.0-beta1 < 2.0.0 but it doesn't say something like [1.0.0, 2.0.0) should be defined as 1.0.0 <= x < 2.0.0. That's Nuget's implementation of a specific syntax, isn't it?

For reference, npm has special handling of pre-releases: https://docs.npmjs.com/misc/semver

[2018-01-15 06:58] Roemer commented on #1916
What happened to the flag `--ignore-failed-sources`? Is there now any way to prevent nuget from aborting if a source is not reachable?

[2018-01-15 10:25] hisuwh commented on #6404
Can you clarify what I need to correct please?

[2018-01-15 10:38] andymac4182 commented on #4989
@jez9999 One of the packages referenced by that csproj references the non strong named version and one references the strong named version. You can't see that reference since `PackageReference` only shows the first level reference.

MSBuild enumerates all the direct and otherwise references and adds them.

`StackExchange.Redis.StrongName` refers to the file name of the DLL that needs to have the a

[2018-01-15 13:33] StingyJack opened #6438 "Can the "Version "m.m.b.r-tag" does not follow semantic versioning guidelines. " Warning be suppressed"
Remove the content above here and fill out details below.

## Details about Problem

NuGet version (x.x.x.xxx): "NuGetPackager" tfs builld task v0.1.58

VS version (if appropriate): 2017

OS version (i.e. win10 v1607 (14393.321)): n/a

Worked before? If so, with which NuGet version: dunno, tired of seeing the warning

## Detailed repro steps so we can see the same problem

I'm tired of seeing this

[2018-01-15 14:54] Dabbel opened #6439 "Exit code 1 without error"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 4.3.0.4406

OS version (i.e. win10 v1607 (14393.321)): macOS Sierra 10.12.6

Worked before? If so, with which NuGet version: Yes, but don't know the version

### Verbose Logs

[nuget_log.txt](https://github.com/NuGet/Home/files/1632008/nuget_log.txt)

[2018-01-15 17:17] jnm2 opened #6440 "Please allow extension SDK manifests to light up for Windows Forms also"
The toolbox can automatically display XAML controls from referenced NuGet packages via [extension SDK manifests](https://github.com/NuGet/Home/wiki/Converting-Extension-SDKs-into-NuGet-Packages#extension-sdk-manifests). It would be amazing if the same behavior lit up for Windows Forms projects too:

[code]

This current lack in Visual Studio has been an ongoing issue as my company has migrated fro

[2018-01-16 00:12] joelverhagen commented on #6393
@jamesqo, please feel free to re-open this issue if you have any follow-up questions.

[2018-01-16 00:12] #6393 closed, assigned to joelverhagen

[2018-01-16 07:35] anangaur commented on #6439
We had an earlier issue where the exit code was zero even with an error (quite opposite of what is reported here) - something that we fixed with the release 4.4.1.

//cc: @kzu What is the link to download the latest VS 2017 on Mac that has NuGet v4.4.1 or higher?

[2018-01-16 09:26] jamesqo commented on #6393
@joelverhagen Thanks for your help, I've managed to get my app working using the catalog API. I have another question about it here: #6435

[2018-01-16 11:03] Dabbel commented on #6439
Have tried it with version 4.5.0, getting the same exit code

[2018-01-16 12:11] ermshiperete opened #6441 "NotImplemented exception when running `nuget pack foo.csproj` on Linux"
## Details about Problem

NuGet Version: 4.4.1.4656
Ubuntu 16.04.3 LTS
mono 5.4.1.6

## Detailed repro steps so we can see the same problem

1. Create a project with a `nuspec` file (my sample project is at https://gist.github.com/ermshiperete/3b9145d142eb6a3cadb795ee49de2975)

2. Build the project, then run `nuget pack NugetPackBug.csproj -Verbosity detailed`

This fails with a NotImplementedExce

[2018-01-16 13:14] dtivel opened #6442 "Signing: signing-certificate V1/V2 attribute requirement not enforced for timestamps"
PR  https://github.com/NuGet/NuGet.Client/pull/1929 (commit https://github.com/NuGet/NuGet.Client/commit/7a8fe0bd7397e28a4fda6479b49e22df76578ece) added enforcement for the `signing-certificate-v2` requirement for author and repository signatures; however, the `signing-certificate`/`signing-certificate-v2` attribute requirement for timestamp signatures was not enforced.

[2018-01-16 15:08] Dabbel commented on #6439
Have tested with version 3.5.0.1996 and 4.1.0.2450, both return exit code 1.

[2018-01-16 16:18] joelverhagen commented on #6435
Concerning MapSuiteDependency-Oracle, this is a case where the listed status changed over time.

There are at least two catalog leaves concerning this package:
[Leaf produced at 2017-11-01T06:23:18.3222319Z](https://api.nuget.org/v3/catalog0/data/2017.11.01.06.23.18/mapsuitedependency-oracle.11.0.0-beta002.json) - listed is false (earlier)
[Leaf produced at 2017-12-22T06:42:54.9637862Z](https://ap

[2018-01-16 17:06] jnm2 commented on #4142
Couldn't we have a nicer bool property like @davidfowl suggested?

This is a lot to type/paste and it shows its implementation details.

[code]

Also, it's missing .mdb. `AllowedOutputExtensionsInSymbolsPackageBuildOutputFolder` takes `AllowedOutputExtensionsInPackageBuildOutputFolder` and adds .pdb and .mdb.

What we really need is for the target to do this [after it sets the defaults](https://gi

[2018-01-16 18:00] johntiger1 commented on #4768
Also having this issue; I have a local nuget feed (on company intranet) and I cannot pick it up, despite setting Package Sources to "All"

[2018-01-16 18:06] PatoBeltran commented on #3224
@noahfalk you are correct, this issue is not relevant to packages.config. I will reopen it and send it to backlog.

[2018-01-16 18:47] emgarten commented on #4768
@johntiger1 check that you are using the latest version of NuGet and open a new issue if you are still seeing this. This particular issue has been fixed.

[2018-01-16 19:30] #5950 closed, assigned to rohit21agrawal, nkolev92

[2018-01-16 19:58] nkolev92 commented on #6400
You can reach out to the powershell team, [here](https://github.com/powershell/powershell). They should be able to help route you further if needed.

[2018-01-16 20:01] nkolev92 commented on #6383
Closing this now.
Happy to answer any further questions.

[2018-01-16 20:01] #6383 closed, assigned to nobody

[2018-01-16 20:23] #6442 closed, assigned to dtivel

[2018-01-16 20:51] emgarten commented on #6436
@ericnewton76 use https://docs.microsoft.com/en-us/nuget/ for official documentation.

The NuGet wiki contains development specs that are often in progress or out of date.

[2018-01-16 22:02] PatoBeltran commented on #6436
Closing this issue as the wiki is not intended to be used as documentation.

[2018-01-16 22:02] #6436 closed, assigned to nobody

[2018-01-16 22:12] anangaur commented on #6439
/cc: @emgarten, is this known issue on Windows too?

[2018-01-16 22:36] DoctorBearPhD commented on #1215
@jswagger 's solution worked for me in VS2017.

[2018-01-16 22:38] emgarten commented on #6439
Haven't seen this issue before. Please try with NuGet.exe 4.5.0 as there has been some clean up in this area.

It looks like the restore here is running for both packages.config and PackageReference projects. It would be great if we could narrow this down. Does removing all packages.config files from the folder return 1 or 0? And does restoring against only projects with packages.config return 0?

[2018-01-16 22:50] rohit21agrawal opened #6443 "end to end tests are failing post the ngen change"
For eg, build #9273 failed with :

[code]

[2018-01-16 23:22] dtivel opened #6444 "Signing: make SigningUtility.GetSignedAttributes(...) public"
Requested by @onovotny

Also change the name to `CreateSignedAttributes(...)`.

[2018-01-16 23:43] johncrim commented on #5350
I too wasted some time (which I'll never get back) with this error message and the underlying bug.

The issue for me was a difference in case in the `.sln` file relative to what is on disk - and then in some cases the paths in `.csproj` files matched the mismatched case in the sln file.

Error message was:
[code]

The line in the solution file was:
[code]

Changing the line in the solution file to

[2018-01-16 23:48] zhili1208 commented on #6441
mono nuget.exe pack won't work on Linux since mono doesn't have msbuild on Linux, please use "dotnet pack" on Linux from https://www.microsoft.com/net/download/linux, Here is the doc: https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-pack?tabs=netcore2x

[2018-01-16 23:49] #6156 closed, assigned to rohit21agrawal

[2018-01-17 00:16] #6428 closed, assigned to rohit21agrawal

[2018-01-17 00:44] rohit21agrawal commented on #6349
thanks @monkey-dsc , I am currently investigating this.
This might be a bigger bug than i thought, because my expectation is that contentFiles from a package  (say PacakgeB) should not appear in package made out of ProjectA if ProjectA references PackageB. I will investigate this more and get back to you.

Is it also possible to paste both your csproj files for an even closer inspection? I didn't

[2018-01-17 02:45] rgamage opened #6445 "Restore fails for AutoMapper when project is netcoreapp2.0"
The Restore step fails in my build definition with this error:

error NU1100: Unable to resolve 'AutoMapper (>= 6.2.2)' for '.NETCoreApp,Version=v2.0'.

This is in a .NETCoreApp 2.0 that is using AutoMapper. Restore succeeds locally in VS 2017. Locally I am using dotnet sdk 2.0.0, and nuget 4.3.1. On the VSTS (cloud) server, I am specifying the latest nuget version, 4.5.0. I have tried many other

[2018-01-17 04:18] xen2 commented on #4645
Ideally, $(SolutionName) should also be set.

[2018-01-17 06:53] emgarten commented on #6445
`NU1100` can occur if you do not have any sources, it means that the package wasn't found or is corrupt in your global packages folder in a way that can't be fixed normally. The assemblies in the package would not give you this error, those are not read until build.

[2018-01-17 07:19] nkolev92 commented on #6404
@hisuwh Just build the package with copyToOutput=true again in the metadata.
[code]

[2018-01-17 07:28] ermshiperete commented on #6441
By looking at the source code it seems that nuget uses `Microsoft.Build.dll`, and that assembly is available on mono. And even if it calls `msbuild` it should be trivial to detect the platform and call `xbuild` instead.

Using `dotnet pack` instead of `nuget pack` requires changing the .csproj file to the format that dotnet expects and requires some bigger changes to our workflow and infrastructur

[2018-01-17 11:10] Dabbel commented on #6439
With NuGet.exe 4.5.0 i get this error

`Errors in packages.config projects
/Users/administrator/.config/NuGet/NuGet.Config
Sharing violation on path /Users/administrator/BuildAgent/work/2cf1485afe1d6427/packages/System.Diagnostics.Tracing.4.3.0/ref/netstandard1.5/zh-hans/System.Diagnostics.Tracing.xml`

Sometimes the file for the sharing violation changes.

With deleted packages.config the exit co

[2018-01-17 12:57] luisabreu opened #6446 "nuget.server: pushing symbol.nupkg package not adding package to repository"
## Details about Problem
Nuget.server: 3.0.2

## Detailed repro steps so we can see the same problem

1. Create new web app
2. Add nuget.server packages
3. Create IIS web site
4. Set the ignoreSymbolsPackages flag to false in web.config
5. Configure new source
6. push symbols.nupkg package with nuget push mypackage.symbols.nupkg -source https://mysite/nuget

Even though the cmd says that the packa

[2018-01-17 13:46] dtivel opened #6447 "Signing: guarantee that GetPrimarySignatureCertificates(...)/GetPrimarySignatureTimestampSignatureCertificates(...) returns a non-empty list or throws"
The contract of `SignatureUtility.GetPrimarySignatureCertificates(...)` and `SignatureUtility.GetPrimarySignatureTimestampSignatureCertificates(...)` is that they must return a non-empty, read-only list of certificates ordered from leaf to root or throw an exception.

These methods currently do not guarantee this contract.

[2018-01-17 15:24] johntiger1 commented on #5611
Thanks for this thread, saved me some time. Although personally I still think that more features (i.e. priority on package sources) is better.

[2018-01-17 15:34] johntiger1 commented on #4768
Hi, thanks for the response. I got it to work with two caveats:

- I had to "Clear All NuGet caches"

![image](https://user-images.githubusercontent.com/14852840/35050868-cc4c8ed4-fb71-11e7-9d76-b53422c7c19c.png)

- I can't pick up any pre-release versions (even when no dependency version is specified), so I will have to create a production version of the package.

[2018-01-17 16:29] #6447 closed, assigned to dtivel

[2018-01-17 16:30] #6444 closed, assigned to dtivel

[2018-01-17 16:49] vdachev commented on #6166
I believe this a duplicate of #5241 .

[2018-01-17 17:29] PatoBeltran commented on #6437
Hey @jamesqo thanks for your feedback. `nuget.exe setApiKey` was a simple command that only added the given api key (encrypted) to your `nuget.config` (which is read by the others nuget commands). There is no specific reason why it hasn't been ported to dotnet.exe. I will tag this issue as a feature request an send it to the backlog.

As a workaround you could use `nuget.exe setApiKey` (or set the

[2018-01-17 17:30] PatoBeltran commented on #6440
@anangaur could you please take a look at this issue?

[2018-01-17 17:42] PatoBeltran commented on #6438
Hey @StingyJack thanks for your feedback! Right now there is no way to suppress warnings in pack. We already have an issue tracking that feature https://github.com/NuGet/Home/issues/6026, please feel free to upvote it or add your concerns there.

As in for that specific warning, NuGet is SemVer compliant, so the easiest way to suppress that specific warning would be to change your versioning schem

[2018-01-17 17:42] #6438 closed, assigned to nobody

[2018-01-17 17:58] zhili1208 commented on #6441
Microsoft.Build.dll on mono is not the same one on windows, there are some API gap there, since mono is moving from xbuild to msbuild now, I think they don't have plan to fix xbuild. @mrward Does mono on Linux have msbuild now?

[2018-01-17 18:00] anangaur commented on #6440
/cc: @karann-msft

[2018-01-17 18:05] mrward commented on #6441
Yes, there should be an msbuild package for Linux that includes MSBuild 15.

[2018-01-17 18:42] jainaashish commented on #4125
So the final design proposal here is, as part of NuGet restore, for each package dependency, we'll evaluate `developmentDependency` flag and accordingly set it's transitive nature (`SuppressParent` to `All`) and exclude runtime (`IncludeAssets` to `compile; build; native; contentfiles; analyzers`) in `project.assets.json` file.

Now while installing through NuGet UI or PMC, or using dotnet add to

[2018-01-17 18:50] mariusGundersen commented on #4125
So if I understand correctly, when I use `dotnet add`, it's not nuget that is writing to the csproj file, it's something else? So for it to work the same way (adds the correct PrivateAssets and IncludeAssets), something else has to be changed? I'm guessing it would be a good idea to add this same support to that cli tool too, so it behaves the same way. Obviously, like you said, if I edit the cspr

[2018-01-17 18:51] clairernovotny commented on #4125
@jainaashish The only nit I have is that the reference won't be transitive. That means that I have to either use `Directory.Build.props`, which most people don't really know about, or keep all my development dependencies in sync and added to each project.

Think of analyzers - if I add it to a "common" project, should it be picked up by all projects in the graph that reference it? Do I really have

[2018-01-17 19:01] PatoBeltran commented on #6438
@StingyJack I just realized you are talking about NuGetPackager. We don't own that one product (even though, after inspecting their project, it seems like they use our APIs) please refer to their GitHub page for specific questions about it https://github.com/Particular/NuGetPackager

[2018-01-17 19:03] bording commented on #4125
@onovotny I don't think there's currently a way to allow the package reference to be both transitive and also exclude it from becoming a dependency on the generated package. `PrivateAssets` is used for both.

---
@jainaashish So whether or not the package reference has those specific `PrivateAssets` and `IncludeAssets` values on it, the resulting values are the same? It feels somewhat strange to m

[2018-01-17 19:08] dazinator opened #6448 "Idea - improve relevent nuget packages"
Here is an idea to allow more relevant nuget packages to be displayed in the "Browse" tab when managing packages for a VS solution.

1. In nuspec, add optional "capabilty" node.

`<Capability>AspNetCore</Capability>`

When a nuget package is installed that has a capability it can add this to the csproj file that it is installed into:

MyProj.csproj:

`<Capabilities>AspNetCore</Capabilities>`

The

[2018-01-17 19:09] nkolev92 commented on #5241
Thanks for this issue @polyzois.

I am closing this in favor of https://github.com/NuGet/Home/issues/6166, despite the other being longer, since it contains more context.

@vdachev thanks for the heads up.

[2018-01-17 19:09] #5241 closed, assigned to nobody

[2018-01-17 19:30] dazinator commented on #6448
Perhaps `Paradigm` and `ReleventParadigm` would be better choices for the tag names. Naming is hard!

[2018-01-17 19:43] PatoBeltran commented on #6448
Hey @dazinator thanks so much for your feedback. This issue seems similar to https://github.com/NuGet/Home/issues/5725 which we have in our backlog.

We are aware of your issues and have https://github.com/NuGet/Home/issues/5901 in mind as well... Please feel free to comment and follow #5725.

[2018-01-17 20:51] kayallday commented on #6138
Is anyone tracking this? I am having a similar issue, it's as if it is not reading the packages.config but instead loading packages inside bin\Debug and then complaining because they are not in this mysterious lib folder which I tried to create. I also tried using the NuGet Package Explorer to add them to the lib but they disappear from it after saving.  Without a solution, is there some sort of w

[2018-01-17 20:59] rohit21agrawal commented on #6138
if you only want the files from the nuspec to be included, then pass the nuspec file as an argument to the pack command instead of csproj file.

[2018-01-17 21:00] mishra14 opened #6449 "Write code analyzers to people using our APIs"
We should consider writing roslyn analyzers for our public API surface area to enable our customers to make better use of our APIs.

I think this is valuable in VS for out IVS APIs and the general public API surface area.

[2018-01-17 21:01] rohit21agrawal commented on #6138
@kmbeard I am not sure what is the exact issue you are facing, can you describe in more detail?

[2018-01-17 21:07] kayallday commented on #6138
[Project](https://github.com/kmbeard/Aptera.AutomatedSelenium.El.Sullivan)
If you clone the project and try to run
`nuget pack Aptera.AutomatedSelenium.El.Sullivan`
in the Package Manger Console
the error you are presented with is:
`Attempting to build package from 'Aptera.AutomatedSelenium.El.Sullivan.csproj'.
MSBuild auto-detection: using msbuild version '14.0' from 'C:\Program Files (x86)\MSBui

[2018-01-17 21:41] StingyJack commented on #6438
I'm talking about the build task that came with TFS 2015. I didnt install it separately.

[2018-01-17 22:02] rohit21agrawal commented on #6138
@kmbeard those files are coming via a dependency which has a targets/props file and adding them to ``` content ``` item group.
to prevent that, you need to have a nuspec file next to your csproj with an empty files tag that will prevent ```content``` from being added.

[2018-01-17 22:21] kayallday commented on #6138
Why would I do that? If I want everything in the packages.config to be the basis for my NuGet package why would I create a nuspec with exact same thing rather than just running nuget pack from the solution or csproj which is supposed to pull those dependencies and files and references and authors and owners and projectUrl and iconUrl and licenseUrl and description and tags etc into the package?

[2018-01-17 22:23] jainaashish commented on #6443
reverted the ngen change for now to fix these e2e or probably apex tests.

[2018-01-17 22:23] #6443 closed, assigned to jainaashish

[2018-01-17 22:23] nkolev92 commented on #4645
Duplicate of https://github.com/NuGet/Home/issues/5649, already fixed in https://github.com/NuGet/NuGet.Client/pull/1656

[2018-01-17 22:23] #4645 closed, assigned to nobody

[2018-01-17 22:29] #6252 closed, assigned to nkolev92

[2018-01-17 22:29] kayallday commented on #6138
Also when I do that I still have an error about an invalid assembly reference.
PM> nuget pack Aptera.AutomatedSelenium.El.Sullivan
Attempting to build package from 'Aptera.AutomatedSelenium.El.Sullivan.csproj'.
MSBuild auto-detection: using msbuild version '14.0' from 'C:\Program Files (x86)\MSBuild\14.0\bin'.
Packing files from 'D:\Aptera\Aptera.AutomatedSelenium.El.Sullivan\Aptera.AutomatedSelen

[2018-01-17 23:08] pakrym opened #6450 "Expose NoDefaultExcludes in MSBuild /t:pack"
It's possible to disable default filters in `nuget.exe` by passing `-NoDefaultExcludes` but there is no such flag on msbuild task/target.

[2018-01-17 23:21] rohit21agrawal commented on #6138
you only need to create a boilerplate nuspec file (which you can do using the nuget.exe spec command), all your dependencies would still be read from packages.config.

[2018-01-18 00:02] nkolev92 commented on #4627
It seems like the projectReferences out of the order is the only issue here, with regards to triggering design time builds.

The restore settings being written down, at this point is wrong, because despite the name, settings, it currently doesn't affect the restore result, merely affects the decision on who displays the warnings and errors to the error list in VS. As such, I'll remove it.

Here's

[2018-01-18 02:27] v-luzh commented on #6341
@mishra14, It had been fixed on D15.6 27316.00+NuGet Client Release-4.6.0-RTM 4825. Please help to resolve it as fixed and close this bug, thanks.
![6341fixed](https://user-images.githubusercontent.com/20632625/35077780-b8e263c0-fbf6-11e7-9c88-1099dab394bc.PNG)

[2018-01-18 03:34] v-luzh opened #6451 "[Test Failure][Signing] The error doesn’t make sense when timestamp signing certificate does not satisfy certificate requirements"
## Details about Problem
NuGet Version: Release-4.6.0-RTM 4825
VS Version: D15.6 27316.00
OS Version: RS3_Release 16299.15.170928-1534

## Detailed repro steps so we can see the same problem
1.	Create a new package.
2.	Create a new test certificate:  .\CreateTestCertificate.ps1 –AddAsTrustedRootAuthority.
3.	Sign the package:  NuGet.exe sign “PackageFilePath” -CertificatePath “PfxFilePath” -Timest

[2018-01-18 04:32] rgamage commented on #6445
emgarten - I tried checking the box that clears the package cache, with no change in behavior.  Also as mentioned in my update, if my project type is netstandard1.3, there are no problems.  I don't think the problem is a missing source or corrupt package.

[2018-01-18 07:31] MagicAndre1981 commented on #6403
@nkolev92 any statement about backporting this simple fix to 3.6 branch so that VS2015 users can still use NuGet. The more packages get updated to support .net standard 2.0 the more developers run into this issue on VS2015. Some must stay at VS2015 because 2017 removed development support for Phone 8.1, but devs want to still support and maintain their code.

[2018-01-18 09:16] mnivet commented on #4125
@onovotny I'm following to that issue to deploy analyzers settings
And even in the classical dotnet environnement I was used to install the analyzers settings on all projects and ensure the versions are all up-to-date. I'm not expecting more "magic" here because it allows us to easily install different analyzers on different types of projects with ease.

For example I don't want the same analyzers

[2018-01-18 14:19] akordowski opened #6452 "How to create a package supporting multiple runtimes for Donet Classic?"
The goal is to create a NuGet package for Dotnet Classic dlls (net20, net40, net45, etc) which supports runtimes for x86 and x64. No UWP, NetStandard or NetCore.

The examples in the docs with the `runtimes` folder doesn't work. I even can't install the package (VS 2015 and VS 2017). The combination with the `lib` and `build` folder don't work either. I spend hours to figure it out but don't found

[2018-01-18 15:37] kayallday commented on #6138
What about the files that I want to be included? When I use a boilerplate nuspec it still throws that error I posted above and it happens for each dependency.

[2018-01-18 15:51] Andrew-Hanlon opened #6453 "Remove Dependencies Behaviour"
Let's say I install a package Foo with dependencies A, B, C. Then I install package Bar with dependencies **A**,D,E.

To cleanly uninstall package Bar, I would want to remove dependencies D and E, but not the common A dependency.

The [MS documentation](https://docs.microsoft.com/en-us/nuget/tools/package-manager-ui#uninstall-options) for the 'Remove Dependencies' option states:

However in VS 201

[2018-01-18 17:08] rohit21agrawal commented on #6138
Can you do a restore to make sure all dependencies exist in the packages folder?

[2018-01-18 17:30] PatoBeltran commented on #6446
@joelverhagen could you please take a look at this nuget.server issue?

[2018-01-18 17:48] PatoBeltran opened #6454 "Verification warnings not being propagated to VS"
When a package should be treated as unsigned there are warnings passed up from the verification APIs and should be shown in VS whenever we are restoring or installing a package. We also need to specify that a package was treated as unsigned.

cc. @rido-min

[2018-01-18 17:49] rido-min commented on #6337
Dicussed with @dtivel, we should show a proper error message in the Error List if Installs fails.

[2018-01-18 18:03] joelverhagen commented on #6446
Issue moved to [NuGet/NuGetGallery #5289](https://github.com/NuGet/NuGetGallery/issues/5289) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-18 18:03] #6446 closed, assigned to nobody

[2018-01-18 18:06] dtivel commented on #6451
This appears to be a regression from @mishra14's PR [1934](https://github.com/NuGet/NuGet.Client/pull/1934/files#diff-0300598d24985bef7a3aaca743788176R181).

The first exception is a `TimestampException`.

[code]

This exception bubbles up and subsequently causes a `NullReferenceException` exception because [`logMessage`](https://github.com/NuGet/NuGet.Client/blob/ecdf6fc5339ef19987449d84f3b09427d

[2018-01-18 18:08] zhili1208 commented on #6433
NO, this is not expected, looks like a bug

[2018-01-18 18:23] dtivel opened #6455 "Signing: error reported twice and without call stack"
With a trusted package signing certificate and unsigned package execute:

    set NUGET_SHOW_STACK=true
    NuGet.exe sign <PackageFilePath> -CertificatePath <PfxFilePath> -Timestamper http://freetsa.org/tsr

Sample output:
[code]

NU3024 is reported twice when it should be reported only once.

[2018-01-18 19:19] rrelyea commented on #6434
@nkolev92 and I talked this through.
I'm interested to know if @adamralph is right about a regression.

I also told him that I'd like to understand how we treat a few cases:
given that with [1.0.0, 2.0.0) with 2.0.0-b1 in the feeds, will take 2.0.0-b1 w/ no warning.
I'm interested to know what we do with: [1.0.0,2.0.0) with 2.0.0-b1 and 2.0.0 in the feeds.

@nkolev92 will try to squeeze some more

[2018-01-18 19:27] #6451 closed, assigned to dtivel

[2018-01-18 20:19] #6341 closed, assigned to mishra14, dtivel

[2018-01-18 20:52] #6199 closed, assigned to nkolev92

[2018-01-18 21:07] nkolev92 commented on #6198
Closed in https://github.com/NuGet/NuGet.Client/pull/1900

[2018-01-18 21:07] #6198 closed, assigned to nkolev92

[2018-01-18 21:07] nkolev92 commented on #6197
Closed in https://github.com/NuGet/NuGet.Client/pull/1900

[2018-01-18 21:07] #6197 closed, assigned to nkolev92

[2018-01-18 21:08] nkolev92 commented on #6200
Closed in https://github.com/NuGet/NuGet.Client/pull/1900

[2018-01-18 21:08] #6200 closed, assigned to nkolev92

[2018-01-18 21:09] emgarten commented on #6434
I did some digging on this. At a low level VersionRange/VersionSpec behavior has never changed, `[1.0.0, 2.0.0)` has always allowed `2.0.0-alpha` and I've verified this all the way back to NuGet 2.2.0

What has changed is that stable packages now allow pre-release dependencies in some *additional* scenarios. Here is an example:
1. A 1.0.0 -> B [1.0.0, 2.0.0)
1. A 1.0.0-alpha -> B [1.0.0, 2.0.0)

F

[2018-01-18 22:12] mishra14 commented on #6455
@dtivel was this with detailed verbosity?

[2018-01-18 22:27] dtivel commented on #6455
That would be by using the `-Verbosity` option, right?  Nope.  The command in the repro steps doesn't use the `-Verbosity` option.

[2018-01-18 23:13] abatishchev commented on #6434
Does this mean that the implementation was always different from the documentation?

[2018-01-18 23:18] emgarten commented on #6434
The documentation mentioned by @mauroservienti was a recent addition meant to explain that `1.*` does not include `1.1.0-beta` since there have been a lot of questions on around this. It is incorrect and will be updated.

[2018-01-19 00:23] emgarten commented on #6445
@rgamage can you provide a simple repro project for this?

You can also take a look at the code here: https://github.com/NuGet/NuGet.Client/blob/9c1502ee06d60ff9d8b0c9f5477b95ffed45b8cc/src/NuGet.Core/NuGet.Commands/RestoreCommand/Diagnostics/UnresolvedMessages.cs#L114-L122  which may help you determine the cause. In general NU1100 is a generic error displayed when there is no normal cause that ca

[2018-01-19 01:36] mishra14 commented on #6455
@dtivel I cannot repro this with normal verbosity -

[code]

Detailed Verbosity -
[code]

Lets chat, if needed.

[2018-01-19 03:55] ratishphilip opened #6456 "TxM for dot net 4.7.x"
Hi,

I am trying to create a nuget package for a WPF project. This package should contain dll's targeting multiple dotnet frameworks like
- v4.6
- v4.6.1
- v4.6.2
- v4.7
- v4.7.1
- v4.7.2

Though the TxM for the first three frameworks are **net46**, **net461** and **net462**, I cannot find the TxMs for v4.7.x anywhere.

The [FrameworkConstants.cs](https://github.com/NuGet/NuGet.Client/blob/dev/src

[2018-01-19 04:18] emgarten commented on #6456
NuGetFramworks understands that higher version numbers are compatible. Are you actually seeing problems when using net471?

[2018-01-19 04:29] ratishphilip commented on #6456
I haven't tried them yet.
I am planning to create one. I was reading through this [document](https://docs.microsoft.com/en-us/nuget/schema/target-frameworks#supported-frameworks) and didn't see **net471** listed.

[2018-01-19 05:01] livarcocc opened #6457 "Restore FAILS with <RuntimeIdentifiers> set and <PackageReference> to BOTH NS 1.x + 2.0"
_From @ogreenz on December 4, 2017 14:4_

Repro repo:
https://github.com/ogreenz/rid-netstandard2-repro

`dotnet --info`:

[code]

Project references both NodaTime (NS 1.x) and Dapper (NS 2.0).

When built WITHOUT `<RuntimeIdentifiers>` in the .csproj `dotnet restore` runs to completion and restore is successfull.

When `<RuntimeIdentifiers>` is set to any valid value AND both packages are referen

[2018-01-19 05:05] livarcocc opened #6458 "Incorrect publish output for netcoreapp1.1 on linux-x64 targets"
_From @sbomer on August 1, 2017 20:46_

**Repro steps**

- Install preview2 SDK
- `dotnet new console`
- change TFM to netcoreapp1.1
- `dotnet restore`
- `dotnet publish -r linux-x64 -c Release -o out`

**Expected behavior:**
Either this works and the output has the required runtime assets (host, System.Private.CoreLib.dll), or this is not a supported scenario, and I get an error message.

**Actua

[2018-01-19 05:05] livarcocc commented on #6458
The SDK does not own the mapping of TFMs and RIDs. I believe that is between NuGet and the Microsoft.NetCore.Platforms target.

I am going to move the issue to NuGet initially, if that's not the appropriate location, please comment and tag me and I can follow up with the runtime team to see what else can be done. But in my mind, this should fail at restore time.

[2018-01-19 05:19] dillibabun commented on #6336
We have created a legacy project and then changed the .NETStandard version to 2.0. Can't we achieve this?

[2018-01-19 11:06] uujwnqjgim opened #6459 "nuget cli Could not load file or assembly"
NuGet product used (Windows x86 Commandline):
NuGet version (4.5.0.4696):
OS version (win10 v 1703 (15063.483)):
![image](https://user-images.githubusercontent.com/4583234/35148168-ef584612-fd19-11e7-8f3e-b9a5cac2c941.png)

When I run nuget cli with the any command it first show four warnings and continues to execute the command.
Tried with restore command the same behavior.

WARNING: Could not lo

[2018-01-19 12:21] NicTanghe opened #6460 "Console Commands in powershell"
My comments seem to keep on getting removed on the technet page.

So i'll post this as a bugreport even tho it is more of a WHY is this not a feature request.
So why can't you just run all the colsole commands straight from powershell.

# Not being able to update your packages from powershell is just plain ridiculess.
And i'm sure it whouldn't take allot of time for you guys to implement this.

I'

[2018-01-19 14:07] smourier commented on #5899
FYI, I'm facing the same issue (I don't quite understand if it's supposed to be solved as of today), and I used another workaround (the one posted above included ref assemblies, not the real meat, at least for me). I'm running VS 15.5.4, for example:

    <Target Name="IncludeNuGetPackageReferences" AfterTargets="GetVsixSourceItems">
      <ItemGroup>
        <VSIXSourceItem Include="@(ReferenceCo

[2018-01-19 14:07] StingyJack commented on #5385
This causes a ton of unnecessary pending changes that need to be reviewed or undone. It also hoses intentionally arranged attributes by glomming a bunch on to one line.  Given the example of

[code]
nuget will cause it to end up like this
[code]
requiring perma-scroll to the right. Its _really_ frustrating with `system.serviceModel` entries.

The code file linked above also seems to be where all t

[2018-01-19 14:36] StingyJack commented on #6438
i fail to see how changing 10+ years worth of built and deployed software that follows the .net framework 4 part versioning scheme is going to be easier than adding a warning suppression.

EDIT: You should not suggest this as the "easiest" thing to do, really. Whomever decided it was OK to try and coerce everyone into a new versioning scheme rather than a "default with possible opt out", needs to

[2018-01-19 15:33] MikeFassbinder commented on #3374
We see the same behavior with teamcity and proget combination (Proget 5.0.7 and 4.8.7)

[2018-01-19 16:02] Pilchie opened #6461 "Nuget Restore fails when project has multiple target frameworks and conditional assembly names"
_From @ChristopherHaws on January 18, 2018 17:14_

When targeting multiple frameworks and having different assembly names for the output assembly, Visual Studio fails to restore the packages.

The error I receive in the output window of Visual Studio is:
[code]

My csproj file looks like this:
[code]

Something to note, I am able to restore and build using the CLI, but not Visual Studio.

I have t

[2018-01-19 16:02] Pilchie commented on #6461
@natidea @rrelyea @emgarten - should this go to NuGet or here?

[2018-01-19 16:02] Pilchie commented on #6461
_From @emgarten on January 18, 2018 22:53_

My guess is that NuGet blocks the nomination here because the asssembly name is different. NuGet uses the assembly name as the id of the project, and this flows transitively to parent projects.

Having a different id for each TFM isn't supported because it would be like having a nupkg with multiple ids.

The workaround here would be to set `<PackageId>as

[2018-01-19 16:02] Pilchie commented on #6461
Thanks - I'll move to NuGet/Home.

[2018-01-19 17:28] dtivel opened #6462 "Signing: commitment-type-indication attribute incorrect"
PR https://github.com/NuGet/NuGet.Client/pull/1935 was incorrect.

Attribute values are of type `CommitmentTypeAttribute` [RFC 5126](https://tools.ietf.org/html/rfc5126#section-5.11.1) not `CommitmentTypeQualifier`.

Also, as part of `commitment-type-indication` validation we use [`GetAttributeOrDefault(...)`](https://github.com/NuGet/NuGet.Client/blob/43e1741f5c19939da081ed243b6e41ab52b7bdd5/src/

[2018-01-19 18:43] joelverhagen opened #6463 "Timestamping with Safe Creative TSA errors with null reference exception"
Try signing with this TSA:
http://tsa.safecreative.org/

Options: `-timestamper http://tsa.safecreative.org -verbosity detailed`
Version: 4.7.0-preview1-4823

Output:
[code]

[2018-01-19 18:48] joelverhagen commented on #6463
Same with:
http://zeitstempel.dfn.de
http://timestamp.globalsign.com/scripts/timstamp.dll

[2018-01-19 18:49] MagicAndre1981 commented on #6403
@emgarten can you please fix this for 3.6 and provide the hotfix for 2015 users? I tried to compile 3.6.0 tag wit the fix on my own, but this fails. I have no idea how to compile nuget on my own.

[2018-01-19 19:40] kayallday commented on #6138
Completed "nothing to restore"

[2018-01-19 19:43] #4627 closed, assigned to nkolev92

[2018-01-19 19:55] emgarten commented on #6403
The team will consider a fix. At this time there are no plans to release a new version of NuGet for VS 2015.

[2018-01-19 20:00] emgarten commented on #6336
If your target framework is NETStandard2.0 then use the NETCore SDK project style. Not the legacy project style.

[2018-01-19 20:05] #6462 closed, assigned to dtivel

[2018-01-19 20:13] MagicAndre1981 commented on #6403
@emgarten how to compile it? I cloned the repo, checked out 3.6.0-rtm tag and add your fix from 4.x but compiling fails with tons of errors which are unrelated to the fix. even without the fix, I can't compile it

[2018-01-19 20:50] emgarten commented on #6461
I think the fix here would be to surface an error to the user. I don't know think we can just pick the first possible name provided.

[2018-01-19 20:51] #6456 closed, assigned to nobody

[2018-01-19 20:56] emgarten commented on #6460
NuGet commands are built into PS with OneGet https://github.com/OneGet/oneget

For packages.config projects it is not possible to install/update/packages without Visual Studio and the DTE automation system that runs in VS.

The most recent version of NuGet supports updating outside of VS with PackageReferences and is purely command line based and cross platform.
Take a look at: https://blog.nuget.

[2018-01-19 21:38] dtivel opened #6464 "Signing: X509ChainElement.Certificate not disposed immediately after use"
See https://github.com/NuGet/NuGet.Jobs/pull/309#discussion_r162516963 for details.

[2018-01-19 21:52] dtivel commented on #6455
It turns out the environment variable `NUGET_SHOW_STACK` was set to `true`.  Updated the repro steps.

Note that there are actually 2 issues here:

1. the duplicate error
1. the stack isn't shown

Both seem low priority given this new repro step.

[2018-01-19 21:53] mishra14 commented on #6455
cc: @PatoBeltran

[2018-01-19 21:55] dtivel commented on #6463
Looks like a dupe of https://github.com/NuGet/Home/issues/6451, which was fixed by https://github.com/NuGet/NuGet.Client/pull/1958.

Try the latest dev branch build.

[2018-01-19 22:13] PatoBeltran commented on #6452
@emgarten could you please take a look at this issue

[2018-01-19 22:18] PatoBeltran commented on #6453
Hey @Andrew-Hanlon thanks for your feedback! This seems like a bug, I will investigate it and let you know. I would appreciate if you could give me some repro steps to make sure I can get the same behavior as you.

[2018-01-19 22:49] vsfeedback opened #6465 "[vsfeedback] nuget package update reformats config files poorly"
It forces xml attributes for an element to all be on one line, making me have to scroll 300+ columns to the right to read the settings. It should leave that stuff alone and just touch the parts it is supposed to.

It also adds encoding to the declaration if its missing. I don't think I need that either.

Screenshot attached of some of its worse offenses.

_This issue has been moved from https://de

[2018-01-19 22:53] vsfeedback opened #6466 "[vsfeedback] Unable to find package 'XXX' at source ''"
Hi,

PM&gt; Install-Package XXX returns this error:
Unable to find package 'XXX' at source ''

when the Package Source is &quot;All&quot;.

This happen on my work computer (big company) where we have also private NuGet repositories.

The problem exists also using the Package Manager Visual Tool, I just reported the console version because it is more clear.
The problem is not recent, I noticed it f

[2018-01-19 22:54] vsfeedback opened #6467 "[vsfeedback] Not possible to set VersionPrefix for dotnet Standard/Core projects via UI. [windows 10.0] [visual studio 2017 version 15.4]"
See

https://developercommunity.visualstudio.com/content/problem/63124/not-possible-to-set-versionprefix-for-dotnet-stand.html?childToView=170779#comment-170779

The problem is still there...

When we edit via project properties, the gui read the VersionPrefix property but will save it to &lt;Version&gt; properties...

&quot;Dotnet pack ...  --version-suffix alpha&quot; will not work after that...

[2018-01-19 22:58] vsfeedback opened #6468 "closed - not nuget issue - needs fix from xamarin -- [vsfeedback] Nuget get error "This collection is read-only" while install/restore package"
The problem with some package that contains dependencies like Xamarin.Forms

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/169526/nuget-get-error-this-collection-is-read-only-while.html
VSTS ticketId: 541086_
_These are the original issue comments:_

Ankit Mishra [MSFT] on ‎12‎/‎18‎/‎2017, 06:23 PM (31 days ago): <p>Thank you for your feedback! For us

[2018-01-19 23:00] vsfeedback opened #6469 "[vsfeedback] nuget flaking out while -reinstall packages"
i moved some projects into subfolders and readded them to the solution, then in package manager console ran `update-package -reinstall` to fix the references.

After a few seconds, the message &quot;undoing &lt;some file&gt;&quot; started flickering in the status bar, with a new file each time and about 1-2 seconds apart.

This continued for a few minutes and came to a Yes/No file overwrite prompt

[2018-01-19 23:04] vsfeedback opened #6470 "[vsfeedback] NuGet Update tab freezes for a local package source"
NuGet &quot;Updates&quot; tab sometimes freezes when it's looking at a local folder. It doesn't always do this, but it's common enough to be annoying.

Please don't ask me to give more information. I cannot. Not least because NuGet doesn't give any feedback or produce any useful logs for me to send you.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/16

[2018-01-19 23:42] emgarten commented on #6452
Use the `ref/` and `runtimes/` folders for PackageReference projects. For packages.config projects you will need to use a targets file.

To work in both you can condition the targets file to skip adding the references if the properties from nuget.g.props are set.

[2018-01-19 23:44] #6464 closed, assigned to dtivel

[2018-01-19 23:46] StingyJack commented on #6469
@karann-msft - What does the Priority:0 label and the milestone mean?

[2018-01-19 23:52] mishra14 commented on #6467
@karann-msft please do not assign people without discussion.

[2018-01-19 23:53] mishra14 commented on #6468
@karann-msft please do not assign people without discussion.

[2018-01-19 23:53] mishra14 commented on #6469
@karann-msft please do not assign people without discussion.

[2018-01-19 23:55] StingyJack commented on #6466
is this related to both https://github.com/NuGet/Home/issues/6373 and https://github.com/NuGet/docs.microsoft.com-nuget/issues/407

[2018-01-20 00:18] emgarten commented on #6457
It looks like NuGet is correctly identifying the downgrades due to how these packages are authored, and the SDK is setting NU1605 to an error.

Getting different packages is expected when using a RID. If the packages brought in by the RID cause problems then it is also a package authoring issue.

[2018-01-20 00:18] #6457 closed, assigned to nobody

[2018-01-20 00:19] rrelyea commented on #6322
Can we get this in current sprint?

[2018-01-20 00:53] nkolev92 commented on #5853
Overall string would look something like:

NuGet VS VSIX/4.7.0 (Microsoft Windows NT 10.0.14393.0, VS Enterprise/15.0)

[2018-01-20 00:56] joelverhagen commented on #6463
Thanks!

[2018-01-20 00:56] #6463 closed, assigned to nobody

[2018-01-20 01:03] AlexEyler commented on #5899
Thanks @smourier. This isn't fixed yet, but it's on the backlog. That workaround looks appropriate.

[2018-01-20 05:10] jainaashish commented on #4125
@mariusGundersen thanks for pointing that out. I got that wrong, we'll take care of dotnet add as well. Updated my comment.

Also wrote a small spec detailing it out - https://github.com/NuGet/Home/wiki/DevelopmentDependency-support-for-PackageReference

[2018-01-20 05:14] jainaashish commented on #4125
@bording We understand the concern and confusion here so we decided to not do anything in case reference is added manually. So only when you are writing new PackageReference in project, we'll make sure to consume developementDependency from nuspec and accordingly make the right decision.

[2018-01-20 05:49] bording commented on #4125
@jainaashish I'm not sure I'm following what you're saying. My point is that I don't see why you're ever adding `PrivateAssets` and `IncludeAssets` on the package references. Your spec document shows that you're handling this in two different ways.

I don't understand the benefit of doing this in two different ways based on how the package reference is added. If you can support it without requirin

[2018-01-20 05:57] jainaashish commented on #4125
We need to set these metadata in order to clearly make it visible to the consumer that why some packages are transitively or runtime available vs some other packages which are not. If there is no clear indication on PackageReference, then it will become more confusing.

About two different ways, IMO its more consistent since whenever we write anything to project, we make sure we provide the correc

[2018-01-20 06:13] bording commented on #4125
I don't agree. As a package consumer, I expect the author to have created the package correctly. If I reference it, then the details of the assets settings mostly are just noise in the project file. For me to even realize that runtimes are being excluded, I'd first have to have opened up the package I'm consuming to notice that it had a runtimes folder in it in the first place. (Not to mention, if

[2018-01-20 06:25] StingyJack commented on #6465
@karann-msft - on the dev community site, please unlock any issues you may have migrated here.  It stems potential discussion needlessly.

[2018-01-20 06:25] bording commented on #4125
Ultimately, it's the inconsistency that bothers me. For a regular package reference, I could remove any Assets properties it has, and that will result in a change to the project, but for another package reference (this one a development dependency) I could perform the same action of removing the Assets properties and it wouldn't result in a change at all because they've been stamped with the defau

[2018-01-20 06:28] StingyJack commented on #6469
@mishra14 you were probably assigned as you were the last one working on the original dev comm report.

[2018-01-20 07:24] ChristopherHaws commented on #6461
Adding the `<PackageId>` field per @Pilchie 's post does indeed fix the issue.

@emgarten I agree, having a better error message would help a lot. Perhaps having `PackageId` fallback to the `MSBuildProjectName` if there are multiple assembly names could be another option.

[2018-01-20 08:01] jainaashish commented on #4125
When I say available at runtime, it does not only mean runtime folder, rather it means assets available compile time vs runtime. I'd imagine if a author is keeping developmentDependency flag to true in his package, then he meant that this package should only be consumed at compile time or to build but not at runtime.

About regular packages and default values for various assets, then this is what

[2018-01-20 08:24] #5853 closed, assigned to nkolev92

[2018-01-20 10:00] AlexeyShirshov opened #6471 "problem with install packages visual studio 2017"
I'm trying to install new package and get an error "URI formats are not supported". Here is package manager log (I use visual studio 2017 version 15.5.2):
Attempting to gather dependency information for package 'jQuery.3.2.1' with respect to project 'tengri-online-book', targeting '.NETFramework,Version=v4.5.1'
Gathering dependency information took 286,18 ms
Attempting to resolve dependencies for

[2018-01-20 11:04] akordowski commented on #6452
I've tried to create a package based on this example: [Nugetx86x64](https://github.com/Cheesebaron/Nugetx86x64).
Here the `.nuspec` and `.props` file.

[code]
[code]

It seems the `.props` file is not used on build. In the x86 mode the app start without problems, when I switch to x64 I got an `BadImageException`.

Have you an idea why it doesn't work?

Here is my test project: [NuGetTest](https://

[2018-01-20 13:26] StingyJack commented on #6460
@Drunkenpanda2000 - what commands do you mean?

I can call `nuget restore` from powershell and `install` runs (not that it actually installs into a project - be it packages.config or package ref).

[2018-01-21 00:34] karann-msft commented on #6465
@StingyJack this repo is a better fit for discussing NuGet related issues. This issue captures the discussion that has already happened, and the dev community item clearly links to this issue.

[2018-01-21 10:37] natiki commented on #2321
Is there any other work around to FileConflictAction not being supported? I now have an app I have no way of building via TeamCity.

[2018-01-21 13:40] bruno-garcia commented on #6056
I agree with @anangaur that a snapshot for the specific package seems like the best call. Convention based by picking up a file named 'Documentation.md' or having the exact file name specified via nuspec/csproj for example.

URL-based solution would more likely point to the repo at some branch which might bet deleted and projects move around to different repos/renamed. I've [raised that on SO](htt

[2018-01-21 19:17] Wil73 commented on #5434
Same here.  We have solutions with 2 projects or 20+ and the restore takes 3 - 5 mins.

I did try this locally on our package server.  If you restore and build on your package server the restore takes one TENTH as long or even less.

So, the best work around i can offer is to use your package server as a build agent for now until MS solves this problem more resolutely.

[2018-01-21 20:57] StingyJack commented on #6465
@karann-msft - I'm not necessarily disagreeing that this may be the better place to get issues resolved, except that I'm not getting a better resolution rate here. That rate s anecdotal but probably not far from the truth, and I can at least read the font and almost read the punctuation here.

I'm still asking you to please unlock any issues of mine you may have locked there, and consider abstaini

[2018-01-21 23:09] emgarten commented on #6452
@akordowski NuGet adds a reference the props/targets file from the package. How the props/targets file runs is not a NuGet issue, it is the same as having the props/targets in your project file directly.

I suggest debugging this first as part of your project and not as part of a nupkg to see why your assemblies are failing with BadImageException.

[2018-01-21 23:09] #6452 closed, assigned to nobody

[2018-01-21 23:11] emgarten commented on #5434
@Wil73 this issue is specific to the Community SKU being slower than the Enterprise SKU for the same restore scenario. Is that what you are seeing also? What version of VS are you using?

[2018-01-21 23:22] jp2masa commented on #4125
I think that `developmentDependency` (in the package `nuspec`) should be a special case, so that setting `PrivateAssets`, `IncludeAssets` or `ExcludeAssets` in the `PackageReference` would make no difference. Maybe a new attribute `DevelopmentDependency` could be set to `true` in the `PackageReference` item to make it clear that the package is a development dependency, but it wouldn't be consumed.

[2018-01-22 00:49] Wil73 commented on #5434
We use VS 2015 with nuget 3.5

We have tried out VS 2017 with nuget 4 and it's not much faster.

We have done extensive testing using the package server as a build server and this reduces the restore time by  upwards of 90%.  This does appear to be related to network traffic/load for nuget restore

[2018-01-22 08:55] monkey-dsc commented on #6349
Hi @rohit21agrawal ,

I will attach both projects completely, there is no magic inside ;)

I also expect that content files should not appear in the other project as content files, but they does...

Best regards
Dirk

[Indeca.SitecoreCommon.EditorExtensions.DeviceDependent.zip](https://github.com/NuGet/Home/files/1651298/Indeca.SitecoreCommon.EditorExtensions.DeviceDependent.zip)
[Indeca.SitecoreC

[2018-01-22 13:19] Danielku15 commented on #5292
As all C++/CLI issues were closed as duplicates of this one, I assume it's fine to continue the general "C++/CLI project-support-discussion" here. Not only C++ UWP projects might need .net NuGet packages, we also have certain managed wrappers for our own C++ code base which need references to libraries from NuGet (e.g. NLog for logging or Newtonsoft.Json for some serializations).

We just lately m

[2018-01-22 15:22] tmm360 commented on #6468
It's a very annoying issue, I can't update any component in my xamarin project.
Also Xamarin team is tracking it here https://bugzilla.xamarin.com/show_bug.cgi?id=61113

[2018-01-22 16:41] joelverhagen commented on #6435
Hey @jamesqo, let me know if you have any other questions. If you have follow-up questions for this issue, please feel free to re-open.

[2018-01-22 16:41] #6435 closed, assigned to joelverhagen

[2018-01-22 18:05] clairernovotny commented on #6274
This PR/fix prevents use of self-signed untrusted certs for test purposes without reverting to nasty reflection.

What if we want to create untrusted packages for testing? :)

/cc @dtivel

[2018-01-22 18:08] clairernovotny opened #6472 "PackageSigningRequest methods should not be internal"
Currently `BuildSigningCertificateChainOnce()` and `Chain` are internal. That makes it hard for external signature providers to use the same logic as the `X509SingatureProvider` here:

https://github.com/NuGet/NuGet.Client/blob/8f7a9c170521fd60353db5ebc2661cae5f663c1b/src/NuGet.Core/NuGet.Packaging/Signing/Authoring/X509SignatureProvider.cs#L113-L120

Please make these methods public and ensure th

[2018-01-22 18:57] PatoBeltran commented on #6274
@onovotny right now untrusted certificates are not supported by package signing. If you wanted to sign a package with a self signed certificate for testing you could add that certificate to your trusted root. Note that this should only be done for testing.

If you wanted to have a package signed with an untrusted certificate, you could trust the certificate, sign, and the remove the trust. This wa

[2018-01-22 19:04] clairernovotny commented on #6274
As I raised in my GitHub issue though, the related methods need to be public. They also require this workaround for me to support self-signed untrusted certs:

https://github.com/onovotny/NuGetKeyVaultSignTool/blob/004fde144e5b303870e3bc5828ad6272aad448dd/NuGetKeyVaultSignTool/SignCommand.cs#L80-L87

To be clear, I don't want to have to trust a cert just to use it for signing.

[2018-01-22 19:50] karann-msft commented on #6465
Moving the discussion back to Dev Community item.

[2018-01-22 19:50] #6465 closed, assigned to nobody

[2018-01-22 20:27] mishra14 commented on #6469
@StingyJack I have updated the tags. To clarify, This is a Priority P1 issue which means this is an important issue for us to investigate and potentially fix, but we don't yet have a timeline for that. The milestone is backlog because we are not yet sure when will this be fixed/released.

I hope this helps.

[2018-01-22 20:28] dtivel opened #6473 "Signing: add utility methods for creating and verifying repository signatures/countersignatures"
Assist https://github.com/NuGet/Home/issues/6412.

[2018-01-22 22:16] joelverhagen opened #6474 "Reject end certificates that are used for both code signing and timestamping"
We have a limitation in our DB schema and certificate validator design that makes this complex.

[2018-01-22 22:17] #6474 closed, assigned to joelverhagen

[2018-01-22 22:17] joelverhagen commented on #6474
Sorry, duplicate of https://github.com/NuGet/NuGetGallery/issues/5327.

[2018-01-23 00:11] nguerrera commented on #6279
cc @davidfowl

[2018-01-23 00:18] jainaashish commented on #6471
`Overwriting existing file 'Scripts\jquery-3.2.1.slim.min.map'..`
This line suggests that there were some Jquery files already exists in the project without having the package installed. It seems project is already in a bad state where some packages partially exists. Did you manually change anything with this project? What happens when you just create a new project in VS 2017 and try installing th

[2018-01-23 00:19] jainaashish commented on #6472
@dtivel @mishra14 @zhili1208 @PatoBeltran

[2018-01-23 00:40] jainaashish commented on #6459
Can you consistently repro this across multiple machines? I tried but couldn't repro it. May be you're missing some windows updates on the machine?

[2018-01-23 02:24] jainaashish commented on #6458
@livarcocc There is no mapping between TFMs and RIDs. We use TFMs to resolve packages and check compatibility. RIDs are then used to filter runtime assets based on the specified value. You can also confirm that from project.assets.json file which clearly indicates what are the runtimeTargets assets for each TFM/RID combo. Also, NuGet doesn't participate in publish process, it should be the platfor

[2018-01-23 08:48] acesyde commented on #5159
I have the same problem on jenkins and ubuntu 16.04

[code]
Error

[code]

[2018-01-23 13:51] dtivel opened #6475 "Signing: public API surface for signing packages"

[2018-01-23 14:28] davidfowl commented on #6279
This seems pretty broken. It means that analyzers don't respect the PrivateAssets or flags specified on the PacakgeReference (I see a few people suffering from this already today).

[2018-01-23 16:14] julealgon opened #6476 "Wrong app.config file is updated on package install"
When using MSBuild's `<AppConfig>` property to change the default app/web.config path on a given project, nuget.exe will completely ignore this property and try to generate a new app/web.config file whenever configuration changes are needed (like binding redirects).

This behavior is clearly incorrect. This `AppConfig` property is part of the algorithm used by MSBuild to find a project's configura

[2018-01-23 17:42] livarcocc opened #6477 "Adding local packages with no internet connection fails"
_From @RassulYunussov on January 23, 2018 16:39_

The problem is in the addition of local package to project using command
`dotnet add package` with `-s` flag, where I should provide a local package path. Also I wonder, why not to use a name of local package here instead of full path?
I create a class library and then pack it and copy to local packages folder, to use it later.
When I don't have li

[2018-01-23 18:11] jnm2 commented on #4142
Since this issue was closed without action, I moved my proposal to https://github.com/NuGet/NuGet.Client/pull/1971.

[2018-01-23 18:26] ericstj opened #6478 "PackageDependencyGroup does not implement Equals correctly"
I was writing a tool that uses the PackageDependencyGroup class and noticed that it has a buggy equals operator.

See https://github.com/NuGet/NuGet.Client/blob/4cccb13833ad29d6a0bcff055460d964f1b49cfe/src/NuGet.Core/NuGet.Packaging.Core.Types/PackageDependencyGroup.cs#L71.

It's claiming two dependency groups are equal if merely their hashcodes are equal...

[2018-01-23 18:46] nguerrera commented on #6279
Yes, it is pretty broken. See two linked sdk bugs that are blocked on this.

[2018-01-23 18:58] jainaashish commented on #2585
Just to rephrase our default search is not just popularity, rather it's overall relevance of the package where popularity is a major contributor but not the only contributor. Relevance also includes other items like, how many times that search term exists across package fields like description, or tags, etc...

[2018-01-23 19:38] rrelyea commented on #6322
Would need to coordinate with msbuild team in their 15.7 codebase, to take advantage of this.

[2018-01-23 21:25] jhudsoncedaron opened #6479 "Upgrade of nuget server can't see packages uploaded into old version"
Something changed in NuGet packages in .NET Core so I had to upgrade NuGet.

Previously packages were stored in ~/Packages which looks kind of like the client .nuget/packages directory.

After upgrade all the old packages can't be found despite still being in the Packages directory. Newly uploaded packages are being saved directly in ~/Packages.

How do I get the nuget server to find my old packag

[2018-01-23 21:39] #6473 closed, assigned to dtivel

[2018-01-23 22:30] jhudsoncedaron commented on #6479
Gaa the upgrade process was completely hosed. Made a new nuget.server and the problem went away.

[2018-01-23 22:30] #6479 closed, assigned to nobody

[2018-01-24 00:04] livarcocc commented on #5503
@mishra14 How is this something that the SDK should do? The compatibility matrix between TFM lives entirely in NuGet and is checked during restore. How will the SDK even know what is or isn't compatible without looking at the project.assets.json?

I don't believe we want to start duplicating the compatibility matrix. Can you help me understand how/why you feel this should happen in the SDK?

[2018-01-24 00:21] #6275 closed, assigned to PatoBeltran

[2018-01-24 00:24] jainaashish commented on #5853
Merged into release-4.6.0-rtm 336c84d0cded455ab38965e01347cfba049cfd9d

[2018-01-24 00:24] jainaashish commented on #4627
Merged into release-4.6.0-rtm with commit# c70fa4d23d3824ea642d75bac985439ada0c349a

[2018-01-24 00:34] Pilchie commented on #1335
@rrelyea @emgarten NOTE - in #2685, many Roslyn devs still feel like they can't work if VS has the option to restore packages enabled.  If this isn't going to be something configurable for a repo, we need someone to investigate the perf problems the team is seeing.

[2018-01-24 01:17] Pilchie commented on #1335
See also https://github.com/dotnet/roslyn/pull/24411, which seems to imply that it works?

[2018-01-24 02:03] virmitio opened #6480 "Retrieve list of all packages from private feed with V3 API"
Our team is moving from V2 feeds to V3 feeds hosted in VSO, and I have been tasked with updating some of our build-time tooling that does sanity checks on the packages in the private feeds.

In V2 it was fairly trivial to get a complete listing of package IDs in a gallery and then drill into versions and specific package metadata.  Having read through the available documentation on using the API d

[2018-01-24 02:11] emgarten commented on #6480
VSTS I think you would need to use search to discover all ids: https://docs.microsoft.com/en-us/nuget/api/search-query-service-resource

Adding an id service to the v3 protocol has been discussed here: https://github.com/NuGet/NuGetGallery/issues/3878

//cc @joelverhagen

[2018-01-24 02:45] clairernovotny commented on #6461
I'm not sure that surfacing an error to the user is a good option here. That seems to be exposing an implementation detail (that somewhere it treats the assembly name as id of the project) to the user. Seems like the implementation is leaking out.

I would agree that an error is valid if a user tries to Pack a project that depends on a project with multiple assembly names if there's no ID set, but

[2018-01-24 06:14] magol commented on #6461
I have the same problem, see #5222

[2018-01-24 06:21] patricknolan commented on #912
Hi @emgarten has there been any progress or more thought given to this issue?

I need a way for the latest version to always be used regardless of release or pre-release.

So if a package had the following versions available it would use `3.9.3091-rc`. At present, if I reference `3.9.*` it always uses the latest release version which is `3.9.3088`.

It would be very useful if I could reference` 3.

[2018-01-24 06:25] forki commented on #912
@patricknolan as a workaround until nuget introduces a way to handle prereleases without * - take a look at https://fsprojects.github.io/Paket/nuget-dependencies.html#Prereleases

[2018-01-24 06:41] cottsak commented on #4901
Doco at https://github.com/aspnet/DotNetTools says `dotnet install tool dotnet-watch` but with `2.4.1` it's still not working.

[Instructions here](https://github.com/aspnet/DotNetTools/tree/release/2.0#how-to-install) still show manually installation. :cry:

[2018-01-24 07:52] dasMulli commented on #4901
@cottsak the syntax now changed to `dotnet install tool -g {something}` and you'd need a preview tooling that is at least 2.1.300-preview1-*. This isn't part of any released tooling yet.

[2018-01-24 08:07] emgarten commented on #912
@patricknolan this is set as pri 0 for NuGet, we're hoping to get this added soon.

[2018-01-24 08:42] patricknolan commented on #912
Thanks @emgarten that's great news. I think this issue has been a large wide spread problem and people have just been forced to implement a compromised solution or some painful hacks to get around it.

[2018-01-24 10:15] npodbielski commented on #5593
I have similar problem with my packages created from VS .csproj files with Nuget.exe.
Basically according to nuget CLI documentation `-IncludeReferencedProjects` should have done all the heavy lifting of creating <dependencies> tag content from VS references. Unfortunately if all projects have the same `AssemblyVersion` pack command pickups only this version of referenced project and create depend

[2018-01-24 11:31] stephannielsen commented on #4459
Just ran into this wall as well when trying to automate pushing to our internal NuGet server. Would be nice to see this implemented.

[2018-01-24 12:53] StargazerNC commented on #6468
Well, for me it was solved by updating the packages one by one, setting the dependencies option to "None"

[2018-01-24 14:34] Indomitable commented on #6382
Hi, I have two classic .csproj projects that use PackageReference both do not have packages.config file on one of them nuget update works, on the other it fails with "Unable to update. The project does not contain a packages.config file."
When Nuget searches for packages.config file ?

[2018-01-24 14:36] qJake commented on #4459
Pinging @rrelyea - this has been open for almost *a year* with no feedback - is there a timeline for getting this into VS, or a workaround? As I mentioned before, a post-build event doesn't even work, so what other options do we have for this?

[2018-01-24 15:15] rzteux commented on #4459
Still no way to workaround this ? it would be very useful 👍

[2018-01-24 16:54] mwpowellhtx opened #6481 "NuGet whacked my LOCAL packages"
Why doesn't NuGet drop ***SOLUTION*** packages in the ***SOLUTION***?

Furthermore, NuGet seems to have ***WHACKED*** my LOCAL packages.

I ***INTENTIONALLY*** keep some of my packages ***LOCALLY*** to support on going projects, but NuGet has ***ENTIRELY DELETED THEM!!!***

Would be great to have known that in advance so that I can make adjustments to my strategies.

[2018-01-24 17:44] livarcocc opened #6482 "VS2017 publish: project.assets.json doesn't have a target for .NETCoreApp,Version=v1.1"
_From @rainersigwald on June 8, 2017 15:32_

_From @kosa-gyula-77 on June 8, 2017 14:27_

Publishing the _xunitCore1.0_ project in the solution attached from Visual Studio 2017 fails with the following error:

_Assets file 'C:\Users\xxx\Documents\Visual Studio 2017\Projects\xunitCore1.0\xunitCore1.0\obj\project.assets.json' doesn't have a target for '.NETCoreApp,Version=v1.1'. Ensure you have rest

[2018-01-24 17:44] livarcocc commented on #6482
_From @alexvy86 on July 26, 2017 18:14_

@rainersigwald did you figure this out? I'm seeing the same error trying to build a simple console app that targets net451 and netcoreapp1.1

[2018-01-24 17:44] livarcocc commented on #6482
_From @bsivanov on July 27, 2017 11:8_

@alexvy86 Not sure this would help, but I had the same issue when trying to build net40 project after building netstandard2.0 project, and both projects files are in the same folder.

What resolves the issue for me is manually deleting the \obj\project.assets.json file, which tends to break the build for the net40 project, if present, with the following erro

[2018-01-24 17:44] livarcocc commented on #6482
_From @alexvy86 on July 27, 2017 19:26_

Thanks @bsivanov. I did try some variations of that but couldn't get it to work. To be sure I understood correctly: you have 2 separate project files, each one targeting a different framework, correct? For completeness sake in the discussion, in my case there's just one project which multi-targets net451 and netcoreapp1.1.

[2018-01-24 17:44] livarcocc commented on #6482
_From @bsivanov on July 27, 2017 19:44_

@alexvy86 yes, you get me right, but apparently your problem is different. You can maybe try to split the multi-targeting project to two projects, just to check whether the issue is related to some problematic leftover in the project.assets.json. Or maybe try to change the order in `<TargetFrameworks>`, if it matters at all?

[2018-01-24 17:44] livarcocc commented on #6482
_From @alexvy86 on July 27, 2017 20:41_

I'm trying that as well (separate the projects) and ran into different errors that don't seem related. If I figure this out I'll post an update here.

[2018-01-24 17:44] livarcocc commented on #6482
_From @vullnetyy on August 16, 2017 11:4_

I have a .NET Standard 2.0 project and a .NET Framework 4.6.1 project in the same solution. When I try to build the 4.6.1 project, VS2017 shows the following error: *Assets file 'C:\mySolution\dotnetFrameworkProject\obj\project.assets.json' doesn't have a target for '.NETFramework,Version=v4.6.1'. Ensure that restore has run and that you have included 'ne

[2018-01-24 17:44] livarcocc commented on #6482
_From @patroza on August 20, 2017 19:39_

Adding `<RuntimeIdentifier>win7-x64</RuntimeIdentifier>` to the csproj, beneath the `<TargetFramework>net462</TargetFramework>` seems to work.

(hm this seems to be a fix for another flavour of the same problem :))

[2018-01-24 17:44] livarcocc commented on #6482
_From @Altiss on August 23, 2017 4:14_

I encountered a similar error after updating my solution with multiple 1.1 projects to 2.0. I just deleted the bin and obj folders in each project and rebuilt. I no longer get the error.

[2018-01-24 17:44] livarcocc commented on #6482
_From @RomanKernSW on August 28, 2017 12:39_

@Altiss Thanks, this work for me too

[2018-01-24 17:44] livarcocc commented on #6482
_From @vullnetyy on August 29, 2017 8:51_

Deleting the obj and bin folders did not work for me. However I did manage to fix my issues using
`dotnet restore mysolution.sln` after getting the latest versions of Visual Studio 2017 and .NET Core 2

[2018-01-24 17:44] livarcocc commented on #6482
_From @kosa-gyula-77 on August 30, 2017 12:25_

The issue cannot be reproduced after updating Visual Studio Professional 2017 to Version **15.3.2**.

@rainersigwald, this issue can be closed.

Thanks.

[2018-01-24 17:44] livarcocc commented on #6482
_From @blgrnboy on August 30, 2017 20:33_

@kosa-gyula-77 I disagree, I just ran into this issue on 15.3.2, when trying to upgrade an application from netcoreapp1.1 to netcoreapp2.0.  I had to delete the contents of the obj folder.

[2018-01-24 17:44] livarcocc commented on #6482
_From @vullnetyy on August 31, 2017 11:30_

What we've discovered now is that when we have .NET Core SDK 2.0 installed, we cannot build .NET Framework 4.6.1 projects with the new .csproj format. We keep getting the *...obj\project.assets.json...* error

[2018-01-24 17:44] livarcocc commented on #6482
_From @patroza on August 31, 2017 13:19_

@vullnetyy does this help? https://github.com/dotnet/sdk/issues/1321#issuecomment-323606946

[2018-01-24 17:44] livarcocc commented on #6482
_From @vullnetyy on September 4, 2017 14:40_

@patroza Do you mean the `<RuntimeIdentifier>win7-x64</RuntimeIdentifier>`? No. We did try moving to 4.6.2 and placing it beneath `TargetFramework` and it didn't work anyway. Thanks for trying.

[2018-01-24 17:44] livarcocc commented on #6482
_From @jgauffin on September 23, 2017 12:47_

I get the same error. Also, when updating `<targetFrameworks>` by changing targets the `project.assets.json` doesn't seem to sync the changes.

[2018-01-24 17:44] livarcocc commented on #6482
_From @rsbeanbag on September 27, 2017 10:41_

I 'm converting .net framework projects to the 'new' format and stumbled into this very problem. When
I add `<TargetFrameworkVersion>v4.5.2</TargetFrameworkVersion>` to the .csproj then my project compiles and runs as expected.

It's an ugly solution of course but maybe it will help explain why this problem occurs?? (and how to solve this properly)

p

[2018-01-24 17:44] livarcocc commented on #6482
_From @pbechtelGitHub on September 28, 2017 18:48_

Changing TargetFramework to TargetFrameworks worked for me for Core 2.0 Console app.
https://stackoverflow.com/questions/42842443/asp-net-core-application-net-framework-for-windows-x64-only-error-in-project

[2018-01-24 17:44] livarcocc commented on #6482
_From @Juslwk on October 6, 2017 14:14_

I encounter this issue when publishing. Weird because I can publish successfully to my development environment, but publishing to production environment fails. Both environments are hosted in Azure as App Services and I am using Azure click-once deployment. I tried changing TargetFramework to TargetFrameworks, and deleted the project.assets.json file withou

[2018-01-24 17:44] livarcocc commented on #6482
_From @Judgeja on October 16, 2017 8:49_

I had the same as @Juslwk. I realised my publish profile was still targeting 1.1, even though 2.0 was showing as selected when I went into edit the profile, it showed 1.1 in the publish summary. So I re-selected 2.0 in the dropdown and it updated the summary to show 2.0 and it all worked fine

[2018-01-24 17:44] livarcocc commented on #6482
_From @daveaglick on October 26, 2017 19:6_

This happened to me when I manually edited a csproj file to go from:
[code]
To:
[code]
I tried everything suggested here and the `project.assets.json` file just kept coming back the same. It wasn't until I closed Visual Studio, deleted the `obj` folder, and reopened Visual Studio that the restore created a new `project.assets.json` file with the targeti

[2018-01-24 17:44] livarcocc commented on #6482
_From @rainymaplesoft on October 30, 2017 17:16_

I got the same problem after I changed the target from net452 to net461, when I ran publish it complained the project was not compatible with net452 etc, even the target framework was set to net461 in the publish profile. BUT, I happened to find the TargetFramwork was still "net452" in the publish summary page, even in the "Setting" it was set to n

[2018-01-24 17:44] livarcocc commented on #6482
_From @rainymaplesoft on October 30, 2017 17:20_

![image](https://user-images.githubusercontent.com/13835913/32185437-78078944-bd75-11e7-9c9f-3b9732c79843.png)

[2018-01-24 17:45] livarcocc commented on #6482
_From @ocapio on October 31, 2017 18:14_

@daveaglick I am running into a similar issue since I updated to Visual Studio 2017 15.4.1. It seems like reinstalling Visual Studio seems to fix this.  I would like to find a solution to this since other machines may be affected by this.

[2018-01-24 17:45] livarcocc commented on #6482
_From @memark on November 26, 2017 17:2_

I ran into this today, in Visual Studio 15.4.4. I had edited the project file within VS (using right click / Edit) and changed the OutputType.

The solution was to unload/reload the project in VS. It seemed VS did not honour the file change otherwise and instead gave the above error about frameworks.

[2018-01-24 17:45] livarcocc commented on #6482
_From @tameyer1 on December 15, 2017 20:17_

Just ran into this, read through the comments here, and was able to resolve.
I have a core 2.0 library project. I edited the csproj file to add .net45 to targetframeworks. Upon compiling I was getting the Assets file error mentioned above. Tried deleting bin and obj directories and recompiling. This did not work.

Simply did an unload and reload of the

[2018-01-24 17:45] livarcocc commented on #6482
This issue seems to be related to how restore happens in visual studio after project changes. As such, I will move it to NuGet.

[2018-01-24 18:03] joelverhagen commented on #6480
I am pretty sure VSTS has a notion of "unlisted" so I imagine search would not return those. Also, search order is probably not a totally stable thing like catalog ordering is (e.g. if a package is pushed while you are paging through search results you may miss it). That being said, @emgarten is spot on. I think that's the best you're gonna get.

VSTS provides both V2 and V3 endpoints for a single

[2018-01-24 18:37] AngelosP commented on #6382
@zhili1208 any updates on this? Here is the current behavior:

The command doesn't fail or give any warnings:
![image](https://user-images.githubusercontent.com/8742622/35350305-5db7368c-00f2-11e8-9425-0f11ad6f6e98.png)

But if you go back into Visual Studio it's clear that certain projects were completely skipped and are still referencing the old version of the component:
![image](https://user-im

[2018-01-24 19:17] jainaashish commented on #6382
NuGet.exe commands like install or update aren't supported for `PackageReference` based projects. They are only supported for `packages.config` based projects. Instead please use `dotnet add` to add or update packages for `PackageReference` for now. And we also have a open workitem https://github.com/NuGet/Home/issues/4103 to explicitly support `dotnet update` command. So you can upvote on that ex

[2018-01-24 19:17] #6382 closed, assigned to nobody

[2018-01-24 19:29] nkolev92 commented on #6482
This conversation has gone a lot of different directions, so forgive me if I miss a scenario.

I've tested out 2 different scenarios, with the latest 15.6 P2 build.

1) Adding a new target framework in VS.
Expected: Restore happens, targets in the project assets json are updated.
Actual: Restore happens, the targets in the project.assets.json are not updated, however the package spec is updated.
T

[2018-01-24 19:38] StingyJack commented on #6469
@mishra14 - Thanks. I see all these tags and didn't know what they meant.

[2018-01-24 19:50] StingyJack commented on #6465
@karann-msft - i think you may have missed the point I was trying to make.

GH does not prevent commenting after someone closes an issue, and that is great for everyone. When the communication is open, resolutions amenable to all parties can be reached at any point in time.

AnswerHub (devcomm) by default does not permit commenting after closing an issue, so a resolution amenable to only the perso

[2018-01-24 20:01] nkolev92 commented on #1335
@Pilchie We definitely would prefer to solve the perf issues.

As Justin suggested in the other issue, there are some improvements coming in 15.6 as well.

I looked at the config, and I don't think that ever worked.
We don't read the automatic flag.

[2018-01-24 20:10] nkolev92 commented on #6482
This seems like it's a nomination issue.

[code]

Note that OrignalTargetFrameworks is "net461".

Target Frameworks is net45.

The action that I did was changing ne461 to net45.

//cc
@natidea

[2018-01-24 20:12] nkolev92 commented on #6482
I will add the above investigation in the original SDK issue.

@livarcocc Can you please reopen that one?

Update:
I have the rights to reopen it.

[2018-01-24 20:20] ilexp commented on #5267
I'm experiencing a `nuget push` timeout after 300 seconds with the attached package using the following command line:

[code]

Previous versions of the same package uploaded just fine. I tried nuget version `4.3.0.4406` and `4.4.1.4656`, both with the same result. Package contents have not changed since the last working push, except for the compiled `dll` or `pdb`.

[AdamsLair.WinForms.1.1.14.nupk

[2018-01-24 20:24] #6482 closed, assigned to nobody

[2018-01-24 20:54] jainaashish commented on #1335
`We don't read the automatic flag.`
This isn't correct, we read this flag and it's per user settings.

@Pilchie Are you still talking about build restore or auto restore? we have a worktime to specifically disable auto restore which is not available as of now. It won't be easy to have this setting per project, since it's tied with existing NuGet options which have always been per user settings.

O

[2018-01-24 21:11] ghost commented on #5406
@mishra14 using later nuget.exe fixed this particular issue for me.

[2018-01-24 21:16] mishra14 commented on #6477
dupe of https://github.com/NuGet/Home/issues/6232

[2018-01-24 21:16] #6477 closed, assigned to nobody

[2018-01-24 21:23] mishra14 commented on #6481
@mwpowellhtx What is the scenario here?

Can you please provide the steps that you performed and the end result?

[2018-01-24 21:28] mwpowellhtx commented on #6481
I had local packages stowed away in a path, */path/to/nuget/packages*. Then I upgraded to the latest ``nuget``. Recently when I accepted a dependency to *Chutzpah* (or */insert/package/here/*). When I reviewed for my *packages*, they were **GONE!!!** I hadn't removed them, as I want to maintain my local packages.

For future strategies, I will acknowledge */path/to/nuget/packages/* was a poor choi

[2018-01-24 21:44] anangaur commented on #5267
I was able to push the same package successfully (I changed the name and title)
[code]
@ilexp  Can you check if this is a consistent problem and still repros?

[2018-01-24 21:46] ericstj opened #6483 "Framework precedence is different between PCLs and concrete frameworks"
I noticed this problem when examining an issue with one of our packages and wanted to raise the issue.

For portable profiles, NuGet considers other PCL profiles as more compatible than netstandard, whereas for concrete frameworks (like net45) NuGet considers NETStandard among the portable profiles.  The result is different asset/dependency selection when a package is used in a PCL vs when it is u

[2018-01-24 21:58] jeffkl opened #6484 "Create new package type for MSBuild project SDKs"
In MSBuild 15.6 (https://github.com/Microsoft/msbuild/issues/2803), we shipped a NuGet-based project SDK resolver that allows users to specify something like this:

[code]

The SDK resolver in MSBuild queries the configured NuGet feeds for a package with the same ID and version and then returns the path to it on disk.  These kinds of packages could have special considerations.

SDK packages must h

[2018-01-24 22:10] mishra14 commented on #6481
If I understand correctly -

1. You had some nuget packages in `/path/to/nuget/packages`.
2. You upgraded `nuget.exe` that you use.
3. You added a dependency on package `Chutzpah` into a project.

And as a result your packages at `/path/to/nuget/packages` were deleted?

[2018-01-24 23:01] mwpowellhtx commented on #6481
That is correct.

[2018-01-24 23:13] nkolev92 commented on #6260
Redundant now.

[2018-01-24 23:13] #6260 closed, assigned to nkolev92

[2018-01-24 23:19] nkolev92 commented on #6402
VSTS bug [543484](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/543484) might be hitting the NRE you describe here.

[2018-01-24 23:30] emgarten commented on #6481
* Is this a packages.config project or a PackageReference project?
* What version of NuGet.exe were you using before?
* What version of NuGet.exe did you upgrade to?
* What commands did you run that may have caused this?

[2018-01-24 23:44] mwpowellhtx commented on #6481
I'm not sure what a *PackageReference* project is. Yes, the solution/projects contains *packages.config*, from VS2015. I was simply running from the NuGet Package Manager from the IDE. NuGet version *4.3.0.4406*. I didn't run anything out of the ordinary for NuGet package references, certainly not anything apart from NuGet that would result in the packages vanishing.

[2018-01-25 00:14] emgarten commented on #6481
With packages.config NuGet does put the packages in the solution by default.

Was `/path/to/nuget/packages` where the packages were kept a source, or was it the `repositoryPath` where they were installed to and referenced by the project?

[2018-01-25 00:16] mwpowellhtx commented on #6481
I don't know what changed. Nothing I changed. But that's not where the packages are landing.

*/path/to/nuget/packages* was my local package repository. I ***expected*** Chutzpah, etc, to land in my ***solution***, however, apparently, it did not.

[2018-01-25 00:20] #5406 closed, assigned to nobody

[2018-01-25 00:21] emgarten commented on #6481
Are you sure that it was NuGet that deleted the packages and not something else?

You haven't mentioned any commands that you ran, or how you were using the path so it is difficult to even guess what might have happened here. But in general NuGet doesn't delete packages unless an update was run for packages.config, and in that case only the older version is removed. NuGet.exe for example doesn't e

[2018-01-25 00:32] mwpowellhtx commented on #6481
I haven't touched that folder, and haven't run anything else **BUT** NuGet anywhere near that folder. Like I said, I maintain my local nuget packages there; now somewhere else that I'm aware of this kind of corruption.

[2018-01-25 00:33] emgarten commented on #6481
How did you pass the folder to NuGet? Was this a command line argument, or was it using nuget.config?

[2018-01-25 00:34] mwpowellhtx commented on #6481
I orient Nuget to my local packages via the Visual Studio IDE *Tools/Options*, etc.

[2018-01-25 00:36] emgarten commented on #6481
Thanks, that is helpful. That would mean it is added as a source to nuget.config.

Did you use `nuget.exe delete` or `nuget.exe push`?

[2018-01-25 00:39] mwpowellhtx commented on #6481
No sir. I "push" my packages there via simple, ordinary *Windows Command Prompt* commands, *copy*, *move*, etc. No reason to "involve" NuGet in that way since my source is local.

[2018-01-25 00:49] emgarten commented on #6481
`NuGet.exe delete` will remove a package from a local source, or unlist it for http sources.

Beyond that there are no scenarios I know of where NuGet.exe will remove or create any files on a source like you are describing. Sources are often immutable, or are network shares where the user does not have write access.

This is the first time I've heard of packages being removed from a source. My bes

[2018-01-25 00:51] mwpowellhtx commented on #6481
To recap, I didn't see this problem manifest until after I subscribed to Chutzpah via "ordinary" NuGet channels. Somehow or another the solutions packages were seen as my */path/to/nuget/packages*. Which is a surprise to me because I expected it to be */path/to/solution/packages*.

Coincident to that, but I fail to see why it may contribute to the issue, is that I deleted the solution *.nuget* fol

[2018-01-25 00:54] mwpowellhtx commented on #6481
One thought, if not code in nuget itself, perhaps code in the integration bits, NuGet Package Manager? or the IDE itself?

[2018-01-25 00:55] emgarten commented on #6481
Can you explain this further?

`Chutzpah` is a tool package, and NuGet doesn't use anything from this directly. The normal scenario for this is that NuGet would download the package for you and extract the package. After it is extracted it is up to the user to call things from the `tools/` folder themselves, NuGet doesn't execute or even read that folder itself.

Are you saying that after calling

[2018-01-25 00:58] mwpowellhtx commented on #6481
I'm not saying it's a problem which Chutzpah, per se. The packages were fine until that point. I deleted the .nuget local to the solution. Then I added the Chutzpah package reference. I couldn't find it in my solution/packages where I expected it, which then I happened to find it in my nuget/packages. And all my packages GONE.

[2018-01-25 01:00] emgarten commented on #6481
Does your `%AppData%\NuGet\nuget.config` contain a `repositoryPath` setting? Or any other NuGet.Config files you have around?

[2018-01-25 01:05] emgarten commented on #6481
Check also if `nuget.exe -List all` displays `nuget/packages` where the packages were.

[2018-01-25 01:11] mwpowellhtx commented on #6481
The solution *did* contain a *NuGet.Config*. I deleted that folder, however, so I presume that perhaps the global settings are somehow used? *%AppData%/Roaming/NuGet/NuGet.Config* does not contain this setting. The options I have are *nuget.exe list all*; however, I don't see the packages listed there.

[code]

I've updated my local source since learning of this snafu.

[2018-01-25 01:15] emgarten commented on #6481
Sorry, I meant `nuget.exe Locals -List all`  I dropped the command name when pasting it earlier.

That config looks fine to me, it is only setting sources, not the install locations.

[2018-01-25 01:18] mwpowellhtx commented on #6481
I don't know what else to report at the moment. I'll keep an eye on it, especially as I work to rebuilt my local packages. Fortunately, I control much of that source code to begin with.

[2018-01-25 01:31] emgarten commented on #6481
Let me know if you see this happen again.

My only other thought on this is that the path may have been configured as a cache location, possibly through an env var. This would show under `NuGet.exe Locals`, and it would be possible to delete these from the UI under Tools > Options (if that button existed in VS 2015, I'm not sure).

I'm going to close this issue out since, but feel free to continue

[2018-01-25 01:31] #6481 closed, assigned to nobody

[2018-01-25 01:36] linck commented on #6468
Updating the packages one by one works for me too

[2018-01-25 01:55] mwpowellhtx commented on #6481
@emgarten Will do; thanks for diving into this anyway.

[2018-01-25 02:45] stryder199 opened #6485 "nuget pack IncludeReferencedProjects does not work with projects that reference multiple Platforms"
I have the following project layout:

ProjA - x64
ProjB - AnyCPU

ProjA references ProjB
Both have nuspec files.

If I run:
nuget.exe pack .\ProjA\ProjA.csproj -Prop Configuration=Release -Prop Platform=x64 -IncludeReferencedProjects -Symbols -Verbosity detailed

I get output:

[code]

######
Expected
ProjB gets ignored since a nuspec file exists for the project, meaning this dependency will be ad

[2018-01-25 03:01] emgarten commented on #6458
@livarcocc I think this would be better tracked on the CLI side. Restore removed guardrails for runtime assets in 4.0 since it wasn't working for restore to check this based only on the name. The plan was to bring it back outside of nuget in publish or a later step if *if it was needed*. So far this is maybe the only request I've seen for validating this.

As a workaround the old UWP style check c

[2018-01-25 05:21] livarcocc commented on #6260
I am confused. @anangaur you were the asking for tools to be placed next to the user's NuGet package cache, because it allowed you in the future to maybe move this functionality into nuget.exe.

Is this something that you guys are no longer interested at and now we will keep tools under the .dotnet folder?

Also, if this will be under a NuGet folder, we will not hand craft that location, which is

[2018-01-25 05:29] dazhao-msft commented on #4337
@rohit21agrawal, I assume the fix is actually in .NET Core SDK and will be integrated in VS 15.6. Is that correct? We're using .NET Core SDK to build in CI.

[2018-01-25 05:30] livarcocc commented on #6458
I will re-activate the SDK issue and follow up with the runtime team what can be done here. I really don't want the SDK to be aware of the RIDs - TFM compatibility matrix.

[2018-01-25 05:53] #6458 closed, assigned to nobody

[2018-01-25 07:16] jainaashish commented on #6352
This is indeed NuGet issue introduced with PR# https://github.com/NuGet/NuGet.Client/pull/1777

[2018-01-25 09:32] glooydatonnookanthegs commented on #6352
any workaround for this? I can't install my packages

[2018-01-25 13:41] sharwell commented on #1335
Yes. We run a command line restore before starting Visual Studio to avoid the problems caused by a restore inside the IDE. This sequence does not work, and the restore happens inside the IDE anyway.

We have no way to know what is NOP and what is not. Our response is limited to cases where we believe it is logical to conclude that the restore *should* be a NOP. On this, the answer is certainly yes

[2018-01-25 14:19] kirk-quinbar commented on #4553
I can confirm this same issue in Visual Studio 2017 15.5.4

[2018-01-25 16:07] infin8x opened #6486 "NuGet cross plat authentication plugin"
Spec: **[Implemented](https://github.com/NuGet/Home/wiki/NuGet-cross-plat-authentication-plugin)**

This is a fork of #6410 to track related work for separate prioritization.

Users restore NuGet packages using a variety of codepaths and clients: Visual Studio NuGet Package Manager, NuGet.exe, dotnet(.exe), and msbuild /restore and /t:restore. We want to make it seamless to use authenticated feeds

[2018-01-25 18:04] nugetlurker commented on #1335
`Yes. We run a command line restore before starting Visual Studio to avoid the problems caused by a restore inside the IDE. This sequence does not work, and the restore happens inside the IDE anyway`

We've recently fix few issues here to make restore consistent across CLI and VS which are part of 15.6 preview4 release. So things should certainly be improved here. But we'll continue to analyze it

[2018-01-25 18:06] jainaashish commented on #1335
Yes. We run a command line restore before starting Visual Studio to avoid the problems caused by a restore inside the IDE. This sequence does not work, and the restore happens inside the IDE anyway
We've recently fix few issues here to make restore consistent across CLI and VS which are part of 15.6 preview4 release. So things should certainly be improved here. But we'll continue to analyze it fur

[2018-01-25 18:15] jainaashish commented on #6352
This post has a workaround for this issue - https://stackoverflow.com/questions/47843907/nuget-package-install-error-invalid-uri-the-authority-host-could-not-be-pars

[2018-01-25 19:59] ilexp commented on #5267
The problem still reproduces, even now that the package is already up and I should simply be getting an error because that version / name combo is already taken. Here's what I get instead:

[code]

[2018-01-25 20:26] mishra14 commented on #6485
@rohit21agrawal any thoughts?

[2018-01-25 20:29] mishra14 commented on #6420
Closing this as discussed with @rido-min and @dtivel.

Since we allow people to pass specific config files to our commands, enforcing control at machine wide level is not feasible.

[2018-01-25 20:29] #6420 closed, assigned to mishra14

[2018-01-25 20:51] anangaur commented on #5267
@cristinamanum is there a way to look into this specific issue in light of similar issues you are debugging? What additional data would you need from @ilexp?

[2018-01-25 21:01] skofman1 opened #6487 "NuGet adds app.config"
@hndavis commented on [Tue Jan 23 2018](https://github.com/NuGet/NuGetGallery/issues/5337)

I am using visual studio 2017 c# 4.52.   After I use nuget to add a package I see that nuget has also added app.config.  Why is this happening ?  how can I turn it off ?

[2018-01-25 21:10] emgarten commented on #6487
NuGet support for binding redirects can be disabled through Tools > Options > NuGet > General.

See: https://github.com/NuGet/Home/issues/1147

If you are still getting app.config after turning binding redirects off then you may be getting this file from settings in your project itself or the SDK used by your project.

[2018-01-25 21:16] nkolev92 opened #6488 "Investigate the assets file comparison further and add more extensive lock file comparison tests"
Issue became apparent in this PR.
https://github.com/NuGet/NuGet.Client/pull/1979
https://github.com/NuGet/NuGet.Client/pull/2052

We need to add tests for the above PR and make sure there aren't any other low hanging fruits there.

[2018-01-25 21:20] peterhuene opened #6489 "Duplicate NuGet package sources are silently ignored."
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): **NuGet.exe**

NuGet version (x.x.x.xxx): **4.7.0.30392**

dotnet.exe --version (if appropriate): **N/A**

VS version (if appropriate): **N/A**

OS version (i.e. win10 v1607 (14393.321)): **Windows 10 x64 1709 (16299.192)**

Worked before? If so, with which NuGet version: **N/A**

## Detailed r

[2018-01-25 22:44] nkolev92 commented on #6260
I don't think we want the tools functionality in NuGet.exe anymore.

There's also the issue that even our machine-wide config can still be changed, so this tools location could not be enforced permanently.
The root of the drive issue described above, etc.

I'd still wait on @anangaur and @rrelyea to confirm that we're on the same page.

[2018-01-25 23:00] nkolev92 commented on #1335
When the Build logs are set to detailed, NuGet prints a log statement that indicates whether it did a full restore or a noop. Just for future reference.
Example:
[code]

[2018-01-25 23:17] anangaur commented on #6260
Just to clarify, we may want this functionality in NuGet in future but we will use the same .dotnet folder that we all decided on. I think we all (including @livarcocc)are on the same page on this now :)

[2018-01-25 23:44] rohit21agrawal commented on #4337
@dazhao-msft  that is correct. the nightly builds of .NET Core SDK have this fix.

[2018-01-26 00:11] emgarten commented on #6427
Moving to 4.7 after an offline discussion with @rido-min, this is still important to fix but it is likely not something users will hit right away in 4.6.

[2018-01-26 00:23] poulad commented on #5127
I was surprised by this error as well. Clearing NuGet cache fixed the problem.

[code]

[2018-01-26 02:32] xen2 opened #6490 "Package install/uninstall events and download report"
Using NuGet as a library and noticed the lack of events/reports when used as an API:

* Package operations (i.e. if I install X which depends on Y, I want an event telling me Y is installed).
For now I had to reimplement `NuGetPackageManager.InstallPackageAsync` to get the list of operations with `PreviewInstallPackageAsync`, but was thinking some events would be nicer to hook to. Note: There is a

[2018-01-26 08:36] petertiedemann commented on #2867
@anangaur I am very interested in the `Legacy` option. Without it, changing package ids (Which is frequently tied to assembly namespaces) become a major pain for users. I would very much like to see NuGet automatically ask the user whether to upgrade to the new package id, and then apply that change without having to mess around with manually uninstall/install.

[2018-01-26 16:20] dasMulli commented on #4125
There is a feature now in MSBuild 15.6 that may solve some(!) of the issues of development dependencies: MSBuild SDKs can be added to projects that will not be added to the project's dependency graph but will be available during build.

This allows at least for all build-only projects (e.g. versioning packages) to be added as SDK:
[code]

This should also work for classic csproj files (non-.net co

[2018-01-26 16:23] clairernovotny commented on #4125
Looking forward to this!

[2018-01-26 18:22] #6304 closed, assigned to PatoBeltran

[2018-01-26 18:29] AlessandroDelSole commented on #6468
For me, the dependencies option to "none" did not help but this gave me an idea.
I faced this problem only while updating Xamarin NuGet packages in the Android project and I noticed that all the other projects properly received the packages, so I was able to work-around this by reinstalling the Xamarin packages for the Android project using the "Force uninstall" option in the NuGet window, since I

[2018-01-26 18:35] AArnott commented on #4125
Sounds interesting. But what *new* thing does this let us do? If the user were willing to edit their project file manually, they can already use `PrivateAssets="true"`. Or, as in my case, I usually add the `PackageReference` to a top-level `Directory.Build.props` file. Does this new SDK feature have support for inheriting SDK use from parent directories? If not, I'm not sure where I'd use this.

I

[2018-01-26 18:44] dasMulli commented on #4125
Yes I'm also excited that this works well for non-package reference projects like classic asp.net, wpf etc.

It also doesn't require the package to be compatible with the target framework of the app. So the SDK's assemblies can target net46 / netcoreapp2.0 etc. and still work on a net35 project.

It should be possible to use this from Directory.Build.props/targets via the expanded syntax, e.g.
[co

[2018-01-26 19:05] clairernovotny commented on #4125
Can the SDK's here have `PackageReference`'s in them? That's one big thing that the on-disk SDK's can do that NuGet targets cannot do. Will there be a "two-pass" restore, one for the SDK and then again for all the `PackageReferences`?

[2018-01-26 19:09] nkolev92 opened #6491 "Don't write asset files when there is no change => triggering more design time builds"
Design build are currently being run on the UI thread, and when they're kicked off to often, that can leads to various UIDelays.

The scenario for these delays is frequently.
Running Clean and then Build in VS.

Clean will remove the no-op cache file, so no-op checks will be skipped here.
Then restore will run and despite the assets file not changing functionally, the dirty check fails and rewrite

[2018-01-26 19:10] dasMulli commented on #4125
Yes that works. The work just like the on-disk SDKs and are just resolved by a different SDK resolver. (MSBuild now has a NuGet resolver in addition to the file system resolver).
SDK resolving happens as part of the project evaluation so before any NuGet restore logic or build tasks run. There's also no need for an "SDK restore" since the download of the package will happen during project evaluati

[2018-01-26 19:10] nkolev92 commented on #6491
Closed by https://github.com/NuGet/NuGet.Client/pull/1979/ &
https://github.com/NuGet/NuGet.Client/commit/e35b70a6ba06d3b7249edee96650a4ed82192070

[2018-01-26 19:10] #6491 closed, assigned to nobody

[2018-01-26 19:16] clairernovotny commented on #4125
I wonder how the ordering works w.r.t. multiple SDK's. First one goes outer (first props/last targets?)

One big issue I have with MSBuild.Sdk.Extras is that I want my props to be after the .NET SDK props and my targets before the .NET SDK targets.

I wonder if this would do that: `<Project Sdk="Microsoft.NET.Sdk;MSBuild.Sdk.Extras/1.2.1">`

[2018-01-26 19:21] dasMulli commented on #4125
@onovotny I believe that should work. the sdk package will need `Sdk/Sdk.props` and `Sdk/Sdk.targets` files to make this work.
Better follow up on this on an MSBuild issue like https://github.com/Microsoft/msbuild/issues/2803

[2018-01-26 21:15] anangaur commented on #5887
Related https://github.com/NuGet/Home/issues/5553

[2018-01-26 22:29] nkolev92 commented on #6488
Some basic AssetFallbackFramework equality tests added dev-nkolev92-lockfileequalityimprovements

[2018-01-27 00:17] anangaur commented on #6488
Is it related to the proposed lock file feature or the current assets file in obj directory? Or something else altogether :)

[2018-01-27 00:21] nkolev92 commented on #6488
This is the assets file.
There are some bugs in the comparison there that cause more DT builds, which already have perf problems.

[2018-01-27 01:06] weshaggard opened #6492 "add commit hash to informational version"
When trying to build code from source we need to be able to track back the source code used to build a particular library. Most .NET libraries have the sha embedded as metadata in the binary as well as in the package. It would be very useful if the nuget libraries carried this information.

[2018-01-27 01:26] #6427 closed, assigned to emgarten, rido-min

[2018-01-27 06:08] jainaashish commented on #6492
I'm not sure what's the ask here? The assembly informational version could have the git hash embedded which can always help to cross reference the CI build number to the specific git hash. What do you need special from NuGet?

[2018-01-27 06:12] jainaashish commented on #6490
We already have bunch of IVS api around package install/ uninstallation. Check out NuGet documentation for more details https://docs.microsoft.com/en-us/nuget/visual-studio-extensibility/nuget-api-in-visual-studio#ivspackageinstallerevents-interface

And I'm not sure what you mean by download percentage? and what exactly used to exists in previous NuGet?

[2018-01-27 06:28] jainaashish commented on #6489
This is actually by design to ignore duplicate sources and pick the first one. Since there could be multiple config files at different level like solution-wide, user-wide, or machine-wide. And sometimes user explictly wants it to configure duplicate source at different level to use dev latest bits at dev boxes vs stable bits at CI. Besides, NuGet explicitly doesn't allow to add duplicate source ei

[2018-01-27 06:34] peterhuene commented on #6489
I hadn't thought of it that way. Unfortunately that design does make a diagnostic warning undesirable since the ignoring of the duplicate source would be intentional. Given we did in fact programmatically generate the config in question, I'm not imposed to putting the onus on us to catch these problems.

I believe this is can be closed. Thanks for the feedback!

[2018-01-27 06:34] #6489 closed, assigned to nobody

[2018-01-27 06:45] jainaashish commented on #6483
I'm not sure what's the expectation here? Isn't PCL a thing of past? and going forward, all portable libraries will be net standard. Also, looking at both projects separately feels that the behavior correct, since both are different frameworks which are compatible with each other at some level but not are same. And NuGet tries to pick the nearest compatible item. Even if we had to change it, which

[2018-01-27 06:48] jainaashish commented on #6476
This is weird github didn't allow you to add zip or image. Can you upload to some online drive and share the link?

[2018-01-27 07:01] NickDarvey commented on #6332
@emgarten, isn't this still an issue though? When you call
[code]
it installs the provider using the v3 URL.
If it doesn't support it, it should install the provider using the v2 URL. (Though, I'm not sure whose responsibility this is.)

[2018-01-27 19:46] kisa007 opened #6493 "Unable to migrate"
## dotnet ef migrations add Initial
## Version for package `Microsoft.VisualStudio.Web.CodeGeneration.Tools` could not be resolved.

Please help me

thank you.

[2018-01-29 02:08] xen2 commented on #6490
@jainaashish thanks for your answer. Some details:
* I use it as a standalone library (not as part of Visual Studio), so I can't receive package install/uninstall  events at `NuGetPackageManager` level.
* NuGet 2 used to have `IProgressProvider.ProgressAvailable`. I see a `PackageProgressEventArgs` in the new NuGet 4, but it is not used anywhere in the code.

[2018-01-29 02:59] emgarten commented on #6416
Fixed with https://github.com/NuGet/NuGet.Client/commit/c6a91da2f8b0dd13bb73b238ff9a8b66bd86c844

[2018-01-29 02:59] #6416 closed, assigned to emgarten

[2018-01-29 07:31] Dabbel commented on #6439
Any updates on this?

Because of this error we can't build our software.

[2018-01-29 08:32] jenscski commented on #6468
Anything new on this?

I'm even unable to start new Xamarin.Forms Android projects, so this is pretty important to fix soon.

[2018-01-29 10:59] LightVolk opened #6494 "[Local Nuget] The V2 feed at ... returned an unexpected status code '404 Not Found'."
## Details about Problem
Visual Studio 2017 Enterprise 15.5.5.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS UI
NuGet version (x.x.x.xxx):
NugetServer 2.14.2  (also do not work at 3.0.2 too)

VS version (if appropriate):
Visual Studio Enterprise 2017 15.5.5
OS version (i.e. win10 v1607 (14393.321)):
Win7 Pro SP 1

Worked before? If so, with which NuGet version:

[2018-01-29 16:23] rainersigwald opened #6495 "Restore does not set SolutionDir properties for individual projects"
_From @couven92 on July 21, 2017 9:4_

I have one repository for my common .NET libraries that I use in multiple other projects. Other project repository include this common repository by using git submodules.

This leads to the following directory hierarchy:

[code]

`MyProject.sln` contains Project nodes for both `MyProject.csproj` and `Common.csproj`, while `Common.sln` naturally only contains

[2018-01-29 16:23] rainersigwald commented on #6495
_From @cocowalla on December 4, 2017 10:28_

I'm hitting the same issue. Did you find any workaround for this?

[2018-01-29 16:23] rainersigwald commented on #6495
_From @couven92 on December 4, 2017 14:20_

@cocowalla As far as I understand `$(SolutionDir)` is more a Visual Studio thing... So for MSBuild you should use a `Directory.Build.props` file next to your solution file and use `$(MSBuildThisFileDirectory)`.

So if you want you could do this:

[code]

[2018-01-29 16:23] rainersigwald commented on #6495
_From @cocowalla on December 4, 2017 14:43_

Ah, you're right: [_Defined only when building a solution in the IDE_](https://docs.microsoft.com/en-us/cpp/ide/common-macros-for-build-commands-and-properties)

I've worked around this by simply switching to `$(ProjectDir)` and moving up a dir with an extra `..\`, e.g. `$(ProjectDir)..\`

[2018-01-29 16:23] rainersigwald commented on #6495
_From @couven92 on December 4, 2017 15:26_

Well that would work og course, ny approach will work in any situation regardless og the number of levels between Solution and Project. And ProjectDir is theoretically only a little brother to SolutionDir meaning it's dependent on the tooling and may in theory be redefined or not be defined at all.

All these MSBuild properties are actual built-ins, you

[2018-01-29 16:23] rainersigwald commented on #6495
_From @nzain on January 29, 2018 9:34_

@couven92 thanks for the robust solution. We have several libraries that are pulled via svn:externals and all references start with `$(SolutionDir)Externals` to make this work in different directory structures. While in Visual Studio everything works, the msbuild scripts show warnings due to invalid paths (and actually do not `restore` !). Putting the `Direc

[2018-01-29 16:23] rainersigwald commented on #6495
The `Directory.Build.props` file is an excellent, robust workaround. But

is absolutely reasonable.

Internally, MSBuild creates an in-memory project representation of a solution file and builds that. You can observe these by setting `MSBUILDEMITSOLUTION=1` in your environment, which will write the generated solutions to disk. When doing so, we pass the solution directory down to each individual p

[2018-01-29 16:52] ericstj commented on #6483
I think its too late to change anything here, but I do think we should try to follow a rule in the future.

When framework A and B are both compatible with frameworks C and D and framework A is compatible with B, then C and D should appear in the same order for both framework A and B.

That is:
A > B > C > D
and B > C > D

Today NuGet does
A > B > C > D
and B > D > C

The result is that if a packa

[2018-01-29 17:02] weshaggard commented on #6492
The ask is to put the actual sha into the informational version like most other .NET Core libraries we ship. Why would we make people do an unnecessary cross reference just for your library. General folks approaching your libraries and repo will not know how to cross reference the CI build number. I had to ask someone on the nuget team to get the sha I needed.

[2018-01-29 18:03] lzybkr opened #6496 "nuget pack should support required properties"
## Details about Problem

NuGet.exe 4.3.0.4406 - Win10

## Detailed repro steps so we can see the same problem

If my nuspec has replacement tokens, the experience is not great if a property is not set. For example, if I have:

[code]

and run `nuget pack foo.nuspec`, I get an error like:

[code]

But if I instead have something like:

[code]

Then I might pack the wrong thing, or if I'm lucky, th

[2018-01-29 19:28] jainaashish commented on #6483
Makes sense! will add this to my our framework compatibility check for future reference and guideline. Closing this issue as by design for now.

[2018-01-29 19:28] #6483 closed, assigned to nobody

[2018-01-29 19:30] jainaashish commented on #6487
Closing this as question for now. Let us know if there is any further concern.

[2018-01-29 19:30] #6487 closed, assigned to nobody

[2018-01-29 20:16] #6352 closed, assigned to jainaashish

[2018-01-29 20:35] #6256 closed, assigned to emgarten

[2018-01-29 20:51] rohit21agrawal commented on #6496
thanks for the suggestion @lzybkr , we do plan on making improvements to this area in the future.

[2018-01-29 20:53] rohit21agrawal commented on #6495
@emgarten this seems like an easy enough fix, willing to consider for 4.7?

[2018-01-29 20:59] #6494 closed, assigned to nobody

[2018-01-29 20:59] rohit21agrawal commented on #6494
Issue moved to [NuGet/NuGetGallery #5370](https://github.com/NuGet/NuGetGallery/issues/5370) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-29 21:00] rohit21agrawal commented on #6492
all our release bits are tagged with the file version...so anyone who has a file version say, 4.6.0.4323, can just git checkout 4.6.0.4323 to get the relevant source code.

[2018-01-29 21:30] weshaggard commented on #6492
That doesn't work for everything. I don't see a tag for 4.5.0-rtm-4651 (https://www.nuget.org/packages/NuGet.CommandLine.XPlat/4.5.0-rtm-4651) which is what I was trying to find the matching sources for.  In an open source world it is good practice to leave enough information in the binaries to track back the source where they came from which is why I still highly suggest adding the sha into the i

[2018-01-29 22:15] emgarten commented on #6495
Let's put it in the backlog and prioritize it. This would be great to fix.

[2018-01-29 22:18] mishra14 opened #6498 "Update Errors and warning docs to reflect signing related scenarios"
We should update the Errors and Warnings docs [page](https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings) to cover package signing related scenarios.

@dtivel made an excel sheet that covers the scenarios and can be used as a reference.

cc: @anangaur @karann-msft

[2018-01-29 22:21] mishra14 commented on #6498
Assigning to @rido-min  after chatting with @anangaur. Please correct me if needed.

[2018-01-29 22:25] mishra14 opened #6499 "Add documentation for signing related commands"
We should add new documentation for the [`nuget sign`](https://github.com/NuGet/Home/wiki/NuGet-Sign-Command) and [`nuget verify`](https://github.com/NuGet/Home/wiki/NuGet-Verify-Command) commands.

Related issue for error codes - https://github.com/NuGet/Home/issues/6498

cc: @anangaur @karann-msft

[2018-01-29 22:28] diverdan92 commented on #6104
Draft of the spec is now available here: https://github.com/NuGet/Home/wiki/NuGet-Package-Debugging-&-Symbols-Improvements

Please let us know any feedback you have in this thread!

[2018-01-29 22:50] dotMorten commented on #6104
Questions from reading the draft spec:

1. Will be able to host our own symbol server / will the nuget server nupkg be updated to support this?
2. Will the below requirements also apply to private symbol servers?

![image](https://user-images.githubusercontent.com/1378165/35538588-4cc2b6d4-0503-11e8-9c64-9f06753742e9.png)

Requiring 4.7.1 is way too soon for us, and also we'd like to continue usin

[2018-01-29 22:53] ctaggart commented on #6104
Great write-up @diverdan92. Thanks for sharing the plan. I'm trying to better understand the advantages of using a symbol server instead of just including the .pdb files in a normal .nupkg.

So you can't do crash dump debugging or attach to an application with just .pdb files on the filesystem distributed via the normal .nupkg???

[2018-01-29 23:09] jnm2 commented on #6104
I had a similar thought- all that complication to save a bit of disk space? Hey, if you're willing to do that, and keep it simple for both authors and consumers, more power to you!
The news about the UI is particularly encouraging. Educating people and lowering the barrier to stepping into library source will bring us closer to a world in which every library comes with symbols and all consumers ma

[2018-01-29 23:22] dotMorten commented on #6104
My PDBs are over 500mb each, and there's 3 CPU architectures, meaning over 1.5gb of PDBs uncompressed! (about 400mb compressed in the nupkg)

Currently there's a 250mb limit on nuget.org.