[2020-07-30 23:08] joelverhagen opened #9865 "Set of nuget.config files considered for solution restore varies based on nuget.exe vs. dotnet"
## Details about Problem

NuGet product used: nuget.exe, dotnet restore
NuGet version: 5.6.0
dotnet.exe --version: 5.0.100-preview.6.20318.15
OS version: Windows 10

## Detailed repro steps so we can see the same problem

1. `git clone https://github.com/NuGet/NuGetGallery.git`
2. `cd NuGetGallery`
3. `dotnet restore NuGetGallery.sln --verbosity normal`
4. `nuget.exe restore NuGetGallery.sln`

In

[2020-07-31 00:10] vsfeedback opened #9866 "Bad UX to get to NuGet from the "Manage NuGet Packages" screen"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1126396/bad-ux-to-get-to-nuget-from-the-manage-nuget-packa.html)._

---
Right-click a csproj project, select "Manage NuGet Packages...", the familiar screen appears for managing packages.

Let's say you want to visit a package's page on NuGet for some additional information

[2020-07-31 14:28] ulrichb commented on #7232
Okay, this seems to work now with version _ranges_, like `<PackageReference Include="MyPackage" Version="[6.3.0, 6.4.0)"/>` (just tested it), but it doesn't work with floating versions like `<PackageReference Include="MyPackage" Version="6.3.*" />`. is this on purpose?

[2020-07-31 17:27] #9862 closed, assigned to zivkan

[2020-07-31 23:22] chgill-MSFT commented on #8814
Experienced this exact issue in 16.8.0 Preview 2.0

GIF of bug:
![Newtonsoft icon not loading for latest version](https://user-images.githubusercontent.com/15097183/89087696-f386ea00-d349-11ea-8b55-802cecf824c1.gif)

Fixed by restarting VS. Can't repro bug consistently.

[2020-08-02 03:02] tanaka-takayoshi commented on #4393
I'm closing this issue with summarizing as follows.

# The target of this issue

When trying to push two or more nuget files by `dotnet nuget push *.nupkg`  on Linux or macOS, only one nuget file was pushed.
If your issue is happening also on Windows, please open another issue. It seems to be other than this issue, but might be related.

# How to solve

Please use `dotnet nuget push "*.nupkg"` or

[2020-08-02 08:43] wocar commented on #9195
is this ever going to happen?

[2020-08-02 16:11] Happypig375 opened #9867 "dotnet nuget push with wildcards and snupkgs does not push all packages"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

NuGet version (x.x.x.xxx): 5.7.0.4

dotnet.exe --version (if appropriate): 5.0.100-preview.6.20318.15

VS version (if appropriate): N/A

OS version (i.e. win10 v1607 (14393.321)): win10 v1909 (18363.959)

Worked before? If so, with which NuGet version: N/A

## Detailed repro steps s

[2020-08-02 16:35] Happypig375 commented on #9867
What's interesting is that using wildcards works for GitHub Packages, but not NuGet.org:
https://github.com/verybadcat/CSharpMath/blob/FixNuGetForReal/.github/workflows/Test.yml#L77-L78

[2020-08-03 12:09] beppler commented on #7839
Running `dotnet nuget` resulted in `NuGet Command Line 5.6.0.5`.

Looking at the sources of the configuration reader on [NuGetEnvironment line 41](https://github.com/NuGet/NuGet.Client/blob/5.6.0.6429/src/NuGet.Core/NuGet.Common/PathUtil/NuGetEnvironment.cs#L41) and [NuGetEnvironment line 36](https://github.com/NuGet/NuGet.Client/blob/5.6.0.6429/src/NuGet.Core/NuGet.Common/PathUtil/NuGetEnvironmen

[2020-08-03 12:22] eiriktsarpalis commented on #3891
I've also hit this problem quite a few times. In some cases it is appropriate to expose the p2p reference as a separate nuget package, but in others it isn't. Please allow authors the ability to configure this behaviour.

[2020-08-03 12:51] petertflem commented on #8087
Is there any ETA on this? Would love to have it.

[2020-08-03 15:27] jcansdale commented on #9775
@DamienDennehy interesting, thanks.

Which OS are you using? The intermittent errors I was seeing when using this option where on Linux.

[2020-08-03 15:38] skofman1 commented on #8087
@petertflem , work is in progress. No exact ETA yet, but soon.

[2020-08-03 17:18] DamienDennehy commented on #9775
Yeah it was Linux - Ubuntu. I'm using GitHub Actions to push and it was failing.

`  deploy-packages:

    needs: build

    if: github.ref == 'refs/heads/master'

    runs-on: ubuntu-latest

    env:
        DOTNET_NOLOGO: true
        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

    steps:
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301

[2020-08-03 17:31] nkolev92 commented on #9864
That might work.

[2020-08-03 19:26] #9815 closed, assigned to srdjanjovcic

[2020-08-03 19:38] jabbera commented on #9195
I've given up.

[2020-08-03 21:01] brwertz80 commented on #7657
I just reviewed this after coming across this problem and I am confused with the logic of the provided solution above.

Shouldn't you change this:

...to this:

If `$(SolutionDir)` has a trailing slash (i.e. `HasTrailingSlash('$(SolutionDir)') == true`, you shouldn't be adding a trailing slash to `$(SolutionDir)`.  Conversely, if `$(SolutionDir)` **does not** have a trailing slash (i.e. `!HasTrail

[2020-08-03 21:34] chkimes opened #9868 "Restore should use new connections after receiving non-success status codes"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): **dotnet**

NuGet version (x.x.x.xxx): **--**

dotnet.exe --version (if appropriate): **SDK Version: 3.1.301**

VS version (if appropriate): **--**

OS version (i.e. win10 v1607 (14393.321)): **Mac 10.15**

Worked before? **No**

## Detailed repro steps so we can see the same problem

Sample fr

[2020-08-03 22:41] nkolev92 opened #9869 "In command line restore, with multi targeted projects, NuGet should read the target framework related information from the inner build"
Child of: https://github.com/NuGet/Home/issues/9756

Currently in command line scenarios NuGet reads the target framework information in the outer build.
That is incorrect because the the contract is that we should depend on on TargetFrameworkIdentifier and the like properties.
We do that here: https://github.com/NuGet/NuGet.Client/blob/bd482514a87a0085f8eb8603842ee1cb3ca5f277/src/NuGet.Core/NuGet

[2020-08-03 22:44] #9842 closed, assigned to zkat

[2020-08-03 22:44] nkolev92 opened #9870 "In static graph restore, with multi targeted projects, NuGet should read the target framework related information from the inner build."
Child of: #9756

Currently in command line scenarios NuGet reads the target framework information in the outer build.
That is incorrect because the the contract is that we should depend on on TargetFrameworkIdentifier and the like properties.
We do that here: https://github.com/NuGet/NuGet.Client/blob/bd482514a87a0085f8eb8603842ee1cb3ca5f277/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L500-L526

[2020-08-03 22:51] nkolev92 opened #9871 "Need a utility to interpret the effective target framework from a list of projects and file path extensions."
MSBuildProjectFrameworkUtility should have a logic that understsands the .NET 5 + all the legacy rules and returns NuGetFramework instead of an array of them.

[2020-08-04 00:48] birgithi opened #9872 "Recommend packages from any NuGet sources"
## Details about Problem
The package recommender currently only works when the package source is nuget.org in Package Manager. We should expand this to include the case where 'All' is selected and nuget.org is included as one of the sources.

[2020-08-04 01:36] #9869 closed, assigned to nkolev92

[2020-08-04 02:42] aortiz-msft commented on #9860
6741 has two new commits compared to 6739 where the bug does not repro. These commits are https://github.com/NuGet/NuGet.Client/commit/e09b536dbcddbb193fd1f81028b66330bc7f5513 and https://github.com/NuGet/NuGet.Client/commit/cce84224f4e0c0959781ff6f13d50ecf092375c1.

[2020-08-04 06:32] #9779 closed, assigned to srdjanjovcic

[2020-08-04 06:40] MartyMcFly85 commented on #5556
We badly need this. Currenty we are patching our packages after they have been packed by NuGet.

[2020-08-04 06:52] davkean commented on #9864
Make `CollectPackageReferences` produce an error, be sure to respect `$(ContinueOnError)`.

[2020-08-04 06:56] davkean commented on #9864
Note, we cannot pass through the entire list of items to NuGet ourselves - the entire surface area in CPS is based on dictionaries and not a fair representation of the "list" concept in MSBuild.

[2020-08-04 10:46] v-nancyj opened #9873 "[Test Failure] Error NETSDK1005 occurred when running command ‘msbuild /t:build /restore’ in VS Builds Tools"
## Details about Problem
**VS BuildTools Version:** Master\30403.137
**NuGet Build Tools SKU Version:** Dev\5.8.0.6761

## Installation steps:
1. OS: Windows-10-Enterprise-RS5.
2. Install VS BuildTools Master\30403.137 from: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3943992&view=ms.vss-build-web.run-extensions-tab
3. Install NuGet Build Tools SKU vsix:
<1>. 	Get the Build Tools

[2020-08-04 10:59] #9743 closed, assigned to nobody

[2020-08-04 12:06] hoopsomuah commented on #9020
Why is this issue closed? This is killing my productivity and costing me a lot of money in wasted restores.

[2020-08-04 12:19] obeyda commented on #9020
@aortiz-msft, is it possible to reopen this? This is not the same issue, the error is not the same, and the proposed solution doesn't work for this problem.
This only happens with slow connections.

[2020-08-04 15:52] v-luzh commented on #9873
It start to repro from NuGet Build Tools Vsix Dev\5.8.0.6761. Not repro on NuGet Build Tools Vsix Dev\5.8.0.6760.

[2020-08-04 16:01] #9784 closed, assigned to zkat

[2020-08-04 16:23] aortiz-msft commented on #9873
Hi @zkat , is this related to NET5 changes is 6761?

[2020-08-04 16:30] nkolev92 commented on #9873
@aortiz-msft

Based on the commits, I think it's https://github.com/NuGet/NuGet.Client/commit/280abd3f8a7f2656246450d91fb33fc7262e6de0. It's my change 👋

However, this is also likely by design based on `The issue doesn’t repro when using a .NET Core project with Target Framework is net3.1.`.

The problem is that the dotnet SDK is reporting a TPI for P7, but it's something they fixed in P8.
I'll ha

[2020-08-04 16:36] aortiz-msft commented on #9873
Cool, thanks for the info! In that case, I will continue the insertion of 6761 unless you tell me otherwise based on your findings.

[2020-08-04 16:38] srdjanjovcic commented on #9860
@v-luzh, can you provide more about repro? Is this Razor v3 template part of Visual Studio, or is it installed separately? I cannot find it.

[2020-08-04 16:40] anangaur commented on #9341
I agree to the last part where PR should be accompanied by PV, else it’s an error. The converse may not be true (obvious I guess).

If CPVM is opted in, there could be no PV or PR altogether which IMO is fine

[2020-08-04 16:40] anangaur commented on #9341
/cc: @rconard

[2020-08-04 16:43] anangaur commented on #9384
I don’t think there should be an error for defining floating versions for packages in the central file - direct or transitive. Whether the package becomes direct or transitive depends on a lot of factors after defining the floating version in the central file. I would like to understand this issue a bit more.

[2020-08-04 17:32] nkolev92 commented on #9873
@aortiz-msft

I think it'll be nice to *not* insert just this change.

The reading of Target framework props is a multi part change shared across the 3 of us.
I would be scared to have 1 be merged without the other 3.

So I'd recommend either inserting with the build prior to this chnage, or wait for today and for us to merge the 3 new PRs.

[2020-08-04 19:54] zkat commented on #9873
Update: We're going to wait until the 3 PRs are merged in order to proceed with the insertion. We'll check that they do indeed fix the issue at that point.

[2020-08-04 20:15] srdjanjovcic commented on #9860
Warning message:

…exists in Package Manager Output window pane _both_ before and after my change. It seems that, at most, I fixed a bug where warning was not displayed properly.

[2020-08-04 20:47] nkolev92 opened #9874 "Read Runtime Identifier graph through TargetFrameworkInformation item"

[2020-08-04 21:10] nkolev92 commented on #9860
Does the warning get cleared when you run restore?
If it does, then it might be good.

[2020-08-04 23:04] srdjanjovcic commented on #9860
This is by design. My change fixed logging of warnings/errors to error list. Many places in code didn't log them properly.

[2020-08-04 23:04] #9860 closed, assigned to srdjanjovcic

[2020-08-05 00:55] #9874 closed, assigned to nkolev92

[2020-08-05 01:05] nkolev92 commented on #8024
Done with https://github.com/NuGet/NuGet.Client/blob/dev/docs/feature-guide.md

[2020-08-05 01:05] #8024 closed, assigned to nkolev92

[2020-08-05 01:31] #9807 closed, assigned to zkat

[2020-08-05 06:09] cyotek commented on #5621
I also recently encountered this issue. My project structure was

[code]

`PackageId` was defined in `Directory.Build.props`. It should have been obvious given that the contents of this file were being used to generate the package attributes for `source.csproj` but `test.csproj` was also inheriting them, causing this error. Hopefully another concrete example of seemingly numerous ways to trigger t

[2020-08-05 08:15] v-luzh commented on #9487
The bug is fixed on Master\30404.108 + NuGet Client Dev\5.8.0.6765. Close this bug now, thanks.

[2020-08-05 13:15] Nirmal4G opened #9875 "Format the NuGet props/targets to make it legible"
## Details about Problem

Most of the time when looking to new feature the build process provides, we'll look into props/targets on how to use them apart from looking at the docs (when no such info is provided).

Even for devs like me starting their contributions on dotnet repos such as this, having a legible source makes all the difference. But as many pointed out, this does affect `git blame`.

[2020-08-05 13:25] scabana commented on #4103
Hi,

I think the need for this just got bumped since `dotnet-outdated` seems to be deprecated, the github repo is gone and the nuget https://www.nuget.org/packages/dotnet-outdated/ is marked as legacy. Haven't found any real alternatives that's half as good yet. Anyone got a suggestions.

Ideally, this functionality could be pointed at a sln.

[2020-08-05 13:37] alexvaut commented on #9473
I get exactly the same issue with a target that looks like this (no ProduceOnlyReferenceAssembly), I do this workaround because of another issue with symbols and nuget (https://github.com/dotnet/sdk/issues/1458):

[code]
@dotMorten thanks for the workaround !

[2020-08-05 15:46] eza-impactcommerce opened #9876 "Restore.csproj failed to build while running dotnet tool install dotnet-ef"
I had ef 3.0.0 and advised to update to 3.1.0. Direct update failed so I uninstalled ef from dotnet tool and tried to reinstall it again. I got error while building a restore project in path like this: [/var/folders/gt/9l4q1djd12d__wt0cxkqyrc80000gn/T/gkjf01jk.whw/restore.csproj]
I passed verbosity option for detailed (--v d) with install command and it seems there is exception at NuGet.Protocol.S

[2020-08-05 17:31] nkolev92 commented on #4103
@scabana

There's a built in functionality for outdated packages in the CLI: https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-list-package

[2020-08-05 19:05] scabana commented on #4103
@nkolev92  Thanks for pointing it out :) I did see that and ended up using it. But then you have to manually update the specific csproj with the updated versions which could become a tedious task. A --update option would be very nice since all information required is already present in memory. Or at least a --output json from which we could write some powershell or bash script to do the work.

[2020-08-06 00:37] aortiz-msft commented on #9867
Seems duplicate of https://github.com/NuGet/Home/issues/4393

[2020-08-06 00:47] aortiz-msft commented on #9876
@v-luzh - Would you please try to repro?

[2020-08-06 02:55] davkean opened #9877 "Managed NuGet Package designer doesn't let you cut from the search field"
# Version

: Version 16.8.0 Preview 2.0 [30404.163.master]

# Repro

1. Highlight the text and press CTRL+X in the search box for this designer:

![image](https://user-images.githubusercontent.com/1103906/89485368-fbc8a480-d7e3-11ea-83d3-4bc1a4f9991e.png)

Expected: For the text to be cut
Actual: Nothing

[2020-08-06 06:05] davkean commented on #8343
@nkolev92 There is a public feed containing that dll here: https://dev.azure.com/azure-public/vside/_packaging?_a=package&feed=vs-impl&package=Microsoft.VisualStudio.TemplateWizardInterface&protocolType=NuGet&version=16.8.30403.137-pre.

[2020-08-06 10:29] nullableobj commented on #9876
@aortiz-msft not sure what do you mean. but this is has nothing with specific project. It's CLI problem.

[2020-08-06 13:43] lukasjuhrich commented on #5832
@rrelyea Does this mean there is no intent in fixing this?

As far as I understand it, the solution to this `nuget pack` issue has been… well, to not use `nuget pack`, but instead `msbuild /t`.
I can respect if such a decision is made, but I don't feel this issue has been “adressed” at all.

---
To provide further information, the underlying issue is as follows: If you use `<targetframeworks>` ins

[2020-08-06 14:25] cwe1ss commented on #4103
fyi: There's a great new feature that allows you to manage all package versions in one file: https://stu.dev/managing-package-versions-centrally/

This also makes updating packages easier because you only have to apply the result of `dotnet list package --outdated` to this one file.

It would still be great to have an --update flag though that automates this!

[2020-08-06 14:56] tyb-dev commented on #9861
Can anyone point me to the implementation of this logic? Is this actually implemented somewhere else in MSBuild Static Graph Restore?

[2020-08-06 15:20] scabana commented on #4103
@cwe1ss  Very interesting to have that centrally managed. I'll be investigating that for sure! Thanks for the info. I wonder if `dotnet add package ***` does the right thing and add the package to the project and its version to the global file (my guess is probably not just yet).

[2020-08-06 15:45] zivkan commented on #9861
Our PackageReference dependency resolver is here: https://github.com/NuGet/NuGet.Client/tree/dev/src/NuGet.Core/NuGet.DependencyResolver.Core

Note however that the "nearest wins" name is misleading. I believe it's really "direct dependencies override", but if a package is only selected by transitive dependencies, then it will try to meet all version range requirements.

Even if you find how to ch

[2020-08-06 16:03] tyb-dev commented on #9861
I agree if this changes, you'll have all sorts of trouble even for simple projects using just System packages. At this point, I'm just trying to understand how it works to resolve package downgrade warnings and I could not understand some cases. An accurate documentation would be phenomenal.

[2020-08-06 16:05] zivkan commented on #4393
I'm reopening this issue. Even though the original author, @tanaka-takayoshi  has worked around the issue. Many others are hitting it and this issue is now the preferred tracking issue to add support into NuGet to pass multiple nupkgs on the command line. Everyone interested should keep upvoting the original post so that it appears higher in the list of all open issues sorted by upvotes.

This iss

[2020-08-06 16:09] hikaen2 commented on #2617
I have a same problem:
![Capture](https://user-images.githubusercontent.com/4222502/89554411-c8b8fc00-d849-11ea-904f-eb87c234d4d7.PNG)
How can I reset package sources?

[2020-08-06 16:56] kzu commented on #9465
Hi there,
I've been exploring this and I think there is a third option that is a mix of what's proposed above.

3. Reuse the Version attribute on the PackageReference item to override a `DefaultVersion` defined centrally

**Behavior changes**
In the current implementation having a project with a defined Version on a PackageReference is an error case that leads to a failed restore. With the propose

[2020-08-06 17:06] cwe1ss commented on #4103
I just tried this. It does not. :)

It just adds the version to the csproj. As that's not allowed with Directory.Packages.props, it results in a build error.

[2020-08-06 17:11] zivkan commented on #2617
@hikaen2 the most likely reason I can think of is that one of the `nuget.config` files that NuGet tried to open is invalid XML. You can try going to `%appdata%\nuget` and rename `nuget.config` to something else. The next time NuGet tries to access it, it will re-create the file with defaults.

If a different `nuget.config` file is the problem, you can use our docs on [config file locations](https:

[2020-08-06 17:31] donnie-msft commented on #9804
Another problem that's related:

After updating package "EntityFramework" to latest, then update other packages by selecting all packages, failed with error: "Object reference not set to an instance of object."
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1160376

[2020-08-06 17:39] zkat commented on #9817
We can take a patch from you to address this! My first gut feeling is that your second suggestion (making it a warning) would be the safest one to go with, if you want to get started with something like that. We can review a proposal from you and help review the code.

[2020-08-06 17:41] zkat commented on #9818
This doesn't seem like a bug in our own codebase, but @dominoFire's request above should give us a better clue of where to take this :)

[2020-08-06 17:45] zkat commented on #9819
Hi! It's kinda hard to suss out exactly what the problem you're experiencing here is. Could you include a minimal repro showing what you're trying to do, and/or possibly a binlog of the operation? More detail about what exactly you're trying to achieve would be super helpful!

[2020-08-06 17:49] zkat commented on #9825
@drewnoakes Just to clarify, are you saying this is an actual bug?

[2020-08-06 17:56] zkat commented on #9847
@chgill-MSFT could you take a look at the screenshot in the dev community ticket and come up with a plan for us to improve the situation? They do look kinda gnarly :P

[2020-08-06 18:01] richshadman commented on #9819
The issue was simply that the '<None Update=' item would not get packed, once I changed it to a combination of Remove and Include it would get packed.

I am unable to reproduce it now. I was consistently reproducing it when I submitted it, however now I am seeing the Update items getting packed as well. I recently updated many dependencies on my system including nuget - I am assuming that may be w

[2020-08-06 18:01] #9819 closed, assigned to nobody

[2020-08-06 18:05] nkolev92 opened #9878 "Clean-up the MSBuildProjectFrameworkUtility.GetProjectFrameworkStrings - Use the version with NuGetFramework instead."
See https://github.com/NuGet/NuGet.Client/pull/3562#discussion_r466511985.

[2020-08-06 18:22] loic-sharma commented on #9720
Rido shared the following meeting notes from the `Package signature Owners casing verification` meeting:

[2020-08-06 18:42] anangaur commented on #9720
Its also about users experience where users are not used to being case sensitive while dealing with NuGet. The package Ids are not case sensitive. So irrespective or whether we have the "microsoft" or "Microsoft" as author text as part of repo signing, the user may not use the right casing to define the trust policies. We are making it tougher for users to adopt this feature.

[2020-08-06 18:59] Craig-J opened #9879 "ContentFiles PackagePath and PackageCopyToOutput are not preserved from package dependencies"
Using .NET Core SDK: 3.1.302
Tested with Rider 2020.1.2

Given a dependency graph like this:
LibA -> LibB -> Application

When Library A has contentFiles declared like so:
`<Content Include="ContentFiles\**" PackagePath="contentFiles\any\any;content" CopyToOutputDirectory="Always" PackageCopyToOutput="true" />`

And LibB references LibA using PackageReference to a .nupkg built generated from LibA:

[2020-08-06 19:27] cristinamanum commented on #9496
Time wise does this need to be done before CPVM is released?

[2020-08-06 20:14] #9871 closed, assigned to nkolev92

[2020-08-06 21:35] nkolev92 commented on #9720
A quick reaction from me on the adoption comment is that this feature has been out for 2 years.
The repercussions of this issue are a failure at restore time.

How often would people come back to the casign problem once they've resolved it?

It's trivial from an implementation stand point the engineering cost is low from that perspective, but curious if we have a good idea about how many customers

[2020-08-06 21:52] #9872 closed, assigned to nugetlurker, birgithi

[2020-08-06 22:25] drewnoakes commented on #9825
@zkat yep.

[2020-08-06 22:47] anangaur commented on #9720
I agree with you @nkolev92. This is one of those features which we "enabled" but haven't evangelized with customers. However, my comment was more about creating additional friction points (with possibly low investment) for already possibly not so well adopted feature. I have seen folks from our team struggle because of the casing while trying it out. Using "M" capital for Microsoft was hard enough

[2020-08-06 22:53] #9877 closed, assigned to nobody

[2020-08-06 22:55] aortiz-msft commented on #9877
@davkean  - Cannot repro the issue. Any additional repro steps?

[2020-08-06 23:27] davkean commented on #9877
What build are you on? This is 100% repro for me. The following shows it:

![CtrlX](https://user-images.githubusercontent.com/1103906/89592542-312acc00-d890-11ea-8369-d9c773b4f216.gif)

[2020-08-06 23:28] davkean commented on #9877
Pressed CTRL+X about 5 times in a row.

[2020-08-07 00:30] nkolev92 commented on #9720
That's a fair argument :)

I'm not against the change, but rather questioning our motivation.
Last time, the discussions left off on waiting for customer feedback, and we haven't received that necessarily :)

[2020-08-07 00:34] cristinamanum commented on #9520
Epic closed

[2020-08-07 00:34] cristinamanum commented on #8836
Epic closed

[2020-08-07 00:34] #8836 closed, assigned to cristinamanum

[2020-08-07 00:40] davkean commented on #9877
I'm hitting this on every single machine I have @aortiz-msft can you please reopen?

[2020-08-07 00:51] davkean commented on #9877
@aortiz-msft Can you try this instead, Edit -> Cut? It looks like in some circumstances VS command routing is picking up the CTRL+X instead of WPF. I've not figured out the trigger.

[2020-08-07 00:54] nkolev92 opened #9880 "Package Manager Console Depends on Solution Start-up Project"
@BrianBu01 commented on [Tue, 03 Mar 2020 18:27:14 GMT](https://github.com/dotnet/roslyn/issues/42137)
**Version Used**:

VS Professional 2019 v 16.4.5

**Steps to Reproduce**:

1. Select a start up project
2. In Package Manager Console, select a default project different from startup
3. Run a command that depends on building of projects or even code with in such as Scaffold-DbContext.

**Expected

[2020-08-07 00:54] nkolev92 commented on #9880
@jinujoseph commented on [Thu, 05 Mar 2020 00:21:09 GMT](https://github.com/dotnet/roslyn/issues/42137#issuecomment-594959545)
Triage reroute : @davkean is this project system or nuget packge team

[2020-08-07 00:54] nkolev92 commented on #9880
@BrianBu01 commented on [Thu, 06 Aug 2020 19:31:35 GMT](https://github.com/dotnet/roslyn/issues/42137#issuecomment-670150471)
@davkean Do you have a reference to the ticket in project system or nuget package team?

[2020-08-07 00:54] nkolev92 commented on #9880
@davkean commented on [Fri, 07 Aug 2020 00:11:27 GMT](https://github.com/dotnet/roslyn/issues/42137#issuecomment-670251610)
This is not project system, and I'm not aware of how this is supposed to work.

[2020-08-07 00:54] nkolev92 commented on #9880
@BrianBu01 commented on [Fri, 07 Aug 2020 00:27:32 GMT](https://github.com/dotnet/roslyn/issues/42137#issuecomment-670255749)
@jinujoseph maybe you have a suggestion.

I'd assume Package Manager commands should run in the context of the default project not the startup project would be a solution.

[2020-08-07 00:54] nkolev92 commented on #9880
@davkean commented on [Fri, 07 Aug 2020 00:32:21 GMT](https://github.com/dotnet/roslyn/issues/42137#issuecomment-670256981)
@BrianBu01

http://github.com/nuget/home would be a better place for this issue, I'd move it but we cannot move across organizations.

[2020-08-07 00:54] nkolev92 commented on #9880
@jinujoseph commented on [Fri, 07 Aug 2020 00:35:03 GMT](https://github.com/dotnet/roslyn/issues/42137#issuecomment-670257681)
cc @nkolev92 from nuget team to take a look

[2020-08-07 00:54] nkolev92 commented on #9880
@BrianBu01 commented on [Fri, 07 Aug 2020 00:36:38 GMT](https://github.com/dotnet/roslyn/issues/42137#issuecomment-670258141)
@davkean I'm confused.  How does Nuget itself have anything to do with the Package Manager in Visual Studio and the context of the solution's startup project?

It's really an integration issue.

[2020-08-07 00:54] nkolev92 commented on #9880
@davkean commented on [Fri, 07 Aug 2020 00:38:59 GMT](https://github.com/dotnet/roslyn/issues/42137#issuecomment-670258731)
The Package Manager is owned and lives in https://github.com/NuGet/NuGet.Client and bugs are tracked at https://github.com/NuGet/home.

[2020-08-07 00:54] nkolev92 commented on #9880
@nkolev92 commented on [Fri, 07 Aug 2020 00:43:06 GMT](https://github.com/dotnet/roslyn/issues/42137#issuecomment-670259673)
I can move the issue, but I don't have permissions to close this one.

[2020-08-07 00:54] nkolev92 commented on #9880
@jinujoseph commented on [Fri, 07 Aug 2020 00:44:09 GMT](https://github.com/dotnet/roslyn/issues/42137#issuecomment-670259921)
I can close this once you have a tracking issue your end @nkolev92

[2020-08-07 00:54] nkolev92 commented on #9880
@BrianBu01 commented on [Fri, 07 Aug 2020 00:53:17 GMT](https://github.com/dotnet/roslyn/issues/42137#issuecomment-670261846)
@nkolev92 can you please provide the new issue, so I can follow it?

[2020-08-07 01:58] nkolev92 opened #9881 "Static graph restore is inconsistent with regards to CrossTargeting property in compared to Visual Studio and regular MSBuild evaluation restore"
Take the following project:

[code]

Run all three restores and look at the dgspec json

* Regular restore => crossTargeting="true"
* Static Graph restore => crossTargeting="false"
* VS restore => crossTargeting="true"

In fact VS has a specific check for that: https://github.com/NuGet/NuGet.Client/blob/0b2568615d61e9f9393d597cb806f02af1b40a78/src/NuGet.Clients/NuGet.SolutionRestoreManager/VsSolut

[2020-08-07 02:59] AndyTian-Devops opened #9882 "Updating in PMUI causes Object reference not set to an instance of an object"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 5.7.0.6726

dotnet.exe --version (if appropriate):

VS version (if appropriate):  Dev16 16.7.0

OS version (i.e. win10 v1607 (14393.321)): 18363.959

Install SpecFlow extension for VS 2019

## Detailed repro steps so we can see the same problem

1. Create a .ne

[2020-08-07 07:59] moh-hassan commented on #9456
Vs 2019 v16.x can not load the snupkg.
The only way to use .snupkg is to download the snupkg ->unzip -> add its path to server symbols.

This [link: Symbol file locations and loading behavior](https://docs.microsoft.com/en-us/visualstudio/debugger/specify-symbol-dot-pdb-and-source-files-in-the-visual-studio-debugger?view=vs-2019#symbol-file-locations-and-loading-behavior) can't help.
What is the o

[2020-08-07 09:42] dbsanfte commented on #9867
I think this issue was opened because someone closed #4393 . That issue has been reopened so no need for a dupe here.

[2020-08-07 09:44] #9867 closed, assigned to nobody

[2020-08-07 09:51] v-luzh commented on #9487
It repro again during today's testing on Master\30406.155 + NuGet Client Dev\5.8.0.6768 as below. Reopen it now.
![image](https://user-images.githubusercontent.com/20632625/89633519-8e497080-d8d6-11ea-8c57-fb8d9fb594b5.png)

[2020-08-07 11:38] tyb-dev commented on #9861
Based on the implementation, a package becomes downgraded if and only if any of its ancestor's sibling has a direct child with a lower version of the same package. Here's a visualization of that:

 - App
   - TEST (>= 1.0.0) -> ❗ **Downgrade Warning**
   - A_1
     - TEST (>= 1.0.0) -> ❗ **Downgrade Warning**
     - A_1_1
       - TEST (>= 1.0.0) -> ❗ **Downgrade Warning**
       - A_1_1_1

[2020-08-07 16:47] rrelyea opened #9883 "Support Nuget.Packaging and transitive closure for net45"
VS Setup team is trying to build better support for installing nupkgs into a central fallback folder.
Unfortunately, VS setup code targets net45, since 3% of vs installers currently are running that net framework on their machine.
VS Setup upgrades people to at least net472, but at the time the nupkg installation would run, the new net framework isn't installed.

We could have used nuget 4.5.3 pac

[2020-08-07 16:51] rrelyea opened #9884 "Ensure tests run for nuget.packaging.extraction"
ensure proper test coverage for net45 code paths for: https://github.com/NuGet/Home/issues/9883

[2020-08-07 17:02] aaafgcfg opened #9885 "suggest idea: add source of packages "cached packages" for vs2017/19"
suggest idea: add source of packages "cached packages" for vs2017/19
I think this will be helpful?

[2020-08-07 17:11] zivkan commented on #9885
Could you explain the idea some more? I don't understand what's being suggested.

[2020-08-07 17:29] aaafgcfg commented on #9885
i think you can add to visual studio's nuget's settings package source C:\Users\username\.nuget\packages as additional package source .

[2020-08-07 18:44] heng-liu opened #9886 "NuGet.Client packages target NET 9.0"
For now, we added net5.0 for the following projects,
src: (12)
[code]
test: (23)
[code]
We need to check if the above projects need the net5.0.
Thanks for @zivkan 's suggestion, that, the projects without `#if NET5_0 ` and  `#if IS_SIGNING_SUPPORTED`, the netstandard2.0 and net5.0 assemblies may be the same.
We should also consider the "entry point" project, like NuGet.Build.Tasks, even if there i

[2020-08-07 18:53] zivkan commented on #9885
This is the default global packages folder. As long as you don't have a `nuget.config` file changing the global packages folder to a different location, packages here will be used, so adding it as a source will not have any benefit (and will slow down restore, because it will check the location twice if the package exists, instead of just once).

[2020-08-07 19:26] donnie-msft opened #9887 "Details Pane Versions Dropdown default selection should be Installed/LatestStable on Installed/Updates tabs"
My recent change to not refresh the Updates tab when switching from Installed does not change the selected Version dropdown as it previously did.

Regression in 16.7 https://github.com/NuGet/NuGet.Client/pull/3444

- Installed Tab should select Installed Version in the dropdown.
- Updates Tab should select Latest Stable in the dropdown.

![Latest version Update tab](https://user-images.githubuserc

[2020-08-07 20:58] zpep92 opened #9888 "NuGet Package Update Automation"
I am facing an issue with automating NuGet package update operations.  These commands had leveraged the NuGet.Core library for automating the process of applying NuGet updates to project files, but that library looks to have long since been deprecated.

There is an issue with upgrading netstandard2.0 packages within a project (TargetFrameworkVersion 4.7.2). The debug message flow from PackageManag

[2020-08-07 21:54] chgill-MSFT commented on #6873
Hi everyone! We are actively working on delivering embedded READMEs for NuGet packages 🎉

Check out the [latest spec](https://github.com/NuGet/Home/wiki/Embedding-and-displaying-NuGet-READMEs)!

Please leave any feedback by commenting on this issue or scheduling a time to talk to me on https://aka.ms/talkotnuget.

[2020-08-08 00:58] nkolev92 commented on #9861
Hey @tyb-dev, you can refer to this related thread, specifically this comment: https://github.com/NuGet/Home/issues/5400#issuecomment-353762585

Your graph along side the comment I linked are a great description of what happens.

Personally I think of the scenarios as the following ones:

* To get a downgrade, actively downgrade a package by requesting lower version of any package in the graph as

[2020-08-08 01:03] nkolev92 commented on #9861
Thank you for doing this investigation and raising this topic.

I'll mark this issue as a docs issue. I'll try to add some more examples that hopefully will provide more clarity.

[2020-08-08 03:20] #9870 closed, assigned to nkolev92

[2020-08-08 03:20] #9881 closed, assigned to nkolev92

[2020-08-08 11:52] rlordcardano commented on #8189
Update - with version 16.7.0 of Visual Studio I can now see the package icon in the installed packages, however it does not display when looking at updates from our remote nexus server.

[2020-08-08 13:28] augustoproiete commented on #8189
@rlordcardano This seems like a Nexus-specific issue. My understanding is that Nexus\* needs to be updated to support embedded icons and provide it to the client (as a URL). Otherwise Visual Studio would have to download every single package in the feed in order to extract the icon to display to you.

(\*) and any other NuGet servers

[2020-08-08 13:40] augustoproiete commented on #8189
It will take a long time for all NuGet servers and clients to catch-up with this feature. For the time being, your best bet is to provide both an embedded icon *and* a URL icon in the same package as a fallback for any server and client that doesn't yet support the embedded icon.

### csproj
[code]

### nuspec
[code]

[2020-08-09 02:09] miniv opened #9889 "GeneratePathProperty should automatically populate package path variables for package dependencies transitively"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): **msbuild16 using PackageReference in csproj**

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate): **msbuild16**

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version: **No, didn't work**

## Detailed repro step

[2020-08-09 16:34] emamontov commented on #9474
Same issue here...

We have thousands(!!!) of native/mixed/managed nuget packages that are using only "*.targets" files for reference and content injection, which works same for any project type(csproj,vcxproj...).
There are several reasons why we use custom targets:
1. It supports mix environment, where C#, C++ and C++/CLI reference each other like they are of the same type
2. It supports debug a

[2020-08-10 06:06] heng-liu commented on #9204
Closed as fixed.

[2020-08-10 06:06] #9204 closed, assigned to heng-liu

[2020-08-10 12:20] Svish commented on #5619
How I ran into this annoyance:

We have switched package source from MyGet to Azure Artifacts. Wanted to test that nuget was able to still actually find (correct URL, authentication working, etc.) all the packages after the move.

Cleaning out the whole local cache of packages in this case is quite unwanted in case a package actually _haven't_ been transferred correctly. So tried to run with no-ca

[2020-08-10 14:46] atila29 commented on #6140
I had the same issue, renamed the file to NuGet.Config and it worked.

[2020-08-10 16:24] advay26 commented on #9848
This is now tracked by [Package Properties tab should expose the new Readme property](https://github.com/dotnet/project-system/issues/6457) in the Project System repo.

[2020-08-10 16:24] #9848 closed, assigned to advay26-zz

[2020-08-10 16:28] advay26-zz opened #9890 "Adding a link to View READMEs from the PM UI"
Adding a hyperlink that allows users to view the README file for a package while using the PM UI.

[2020-08-10 17:33] #9756 closed, assigned to nkolev92, zivkan

[2020-08-10 20:19] zkat commented on #9855
Closing as duplicate of https://github.com/NuGet/Home/issues/4459

[2020-08-10 20:19] #9855 closed, assigned to nobody

[2020-08-10 20:28] nkolev92 commented on #9856
Can you elaborate why you need to repack the nuspec?
Is there a scenario that our current implementation is missing and that we can help build tooling for.

[2020-08-10 20:30] zkat commented on #9859
Hi there! Is this what you're looking for? https://docs.microsoft.com/en-us/nuget/reference/nuspec#using-the-files-element-for-content-files

[2020-08-10 20:32] zkat commented on #9865
This might in fact be intentional, in order to not regress some scenario, but we'll look into it and verify that.

[2020-08-10 20:35] nkolev92 commented on #9857
Thank you for filling this issue, coalescing into https://github.com/NuGet/Home/issues/6870.
Expanding the scope into adding a Remove-BindingRedirect command similar to this ask.

[2020-08-10 20:35] #9857 closed, assigned to nobody

[2020-08-10 20:42] zkat commented on #9880
@v-luzh Could you try and repro this?

[2020-08-10 20:45] zkat commented on #9882
@AndyTian-Devops Does it repro if pressing the refresh button in the UI _before_ selecting "Update all packages"?

[2020-08-10 20:47] zkat commented on #9885
Closing as per the last comment. Please feel free to comment again if you feel like this didn't resolve your issue.

[2020-08-10 20:47] #9885 closed, assigned to nobody

[2020-08-10 20:50] zkat commented on #9888
We have a new set of NuGet libraries that should be aware of things like 'netstandard2.0'. Please see https://docs.microsoft.com/en-us/nuget/reference/nuget-client-sdk for details.

[2020-08-10 20:50] #9888 closed, assigned to nobody

[2020-08-10 20:52] zkat commented on #9889
We already have an ask for these variables as part of https://github.com/NuGet/Home/issues/7851

[2020-08-10 20:52] #9889 closed, assigned to nobody

[2020-08-10 20:56] JonDouglas commented on #9853
Forwarded response regarding the scenarios:

1) when I use the release option, in the debugger I get some areas that the code can't be used in debugger because it's optimized, For example, I have a json reader that uses Repositories to load based on the ids, when I get errors in this code, the reflection doesn't show the types and properties, with messages of optimized code. I didn't change any co

[2020-08-10 21:49] thesushil opened #9891 "Feature request - Option to update user global packages folder automatically after successful pack"
NuGet product used: NuGet.exe | VS UI
NuGet version 5.6.0.6591
VS version 16.6.3
OS version Windows Server 2019

1. Setup 2 solutions each with a project so that one project has a package reference to the other. Project A depends on Project B via nuget package reference. Set GeneratePackageOnBuild to true in Project B.

2. Make changes to project B and build it.
Then go back to Project A and rebui

[2020-08-10 21:50] nkolev92 opened #9892 "PackCommand_PackProject_AddsProjectRefsAsPackageRefs is failing on latest dev"
See https://github.com/NuGet/NuGet.Client/commit/1756c520d5bdd9d540b1b9accf6c88a2339759cf#commitcomment-41350318

[2020-08-10 22:41] pranavkm opened #9893 "[SSL/Transport Error] Unable to restore master branch with 5.0.100-rc.1.20379.10"
---
**Issue moved from dotnet/aspnetcore#24722**
- Please respond to @tebeco.

---

_From @tebeco on Sunday, August 9, 2020 6:51:32 PM_

Hello everyone ;)

### Describe the bug
As I am trying to restore the repository I'm hit by

[code]

![image](https://user-images.githubusercontent.com/2266487/89739398-a4933000-da80-11ea-8fb8-a45c1d7923f1.png)

It's the second day in a row it happens, and only a

[2020-08-10 23:10] tebeco commented on #9893
thx @pranavkm was not sure where to ask TBH

[2020-08-10 23:31] nkolev92 opened #9894 "Update `GetReferenceNearestTargetFrameworkTask()` to support target frameworks with platforms (such as net5.0-windows)"

[2020-08-10 23:33] nkolev92 opened #9895 "Use TargetFrameworkMoniker & TargetPlatformMoniker to infer the frameworks instead of using individual TFI, TFV, TPI, TPV properties"
NuGet should use TargetFrameworkMoniker & TargetPlatformMoniker to infer the frameworks instead of using the individual TFI, TFV, TPI, TPV properties

[2020-08-11 00:06] nullableobj commented on #9876
Well I uninstalled again all SDKs/Runtimes all over using uninstalling tool. Also, I chased every singled dotnet/nuget folder and files and removed them manually. Installed everything again and now it works.

[2020-08-11 00:06] #9876 closed, assigned to v-luzh

[2020-08-11 01:31] AndyTian-Devops commented on #9882
@zkat Yes, repro after pressing the refresh button in the UI.
![image](https://user-images.githubusercontent.com/12235523/89846999-559ae700-dbb5-11ea-84f6-5ca079448da4.png)

[2020-08-11 09:13] #9892 closed, assigned to nkolev92

[2020-08-11 14:00] #9883 closed, assigned to rrelyea

[2020-08-11 16:56] jcjiang opened #9897 "NuGet CLI Bulk Unlister Tool"
## **Problem Background**

Within the NuGet CLI, authors can choose either to [unlist](https://docs.microsoft.com/en-us/nuget/nuget-org/policies/deleting-packages#unlisting-a-package) or [deprecate](https://docs.microsoft.com/en-us/nuget/nuget-org/deprecate-packages) particular versions of their published packages to limit public access. There does not currently exist an efficient way to deprecate

[2020-08-11 17:20] jkotalik commented on #9893
@tebeco I'm also hitting this as well! Glad it's not just me 😄

[2020-08-11 17:22] tebeco commented on #9893
ooooo I'm not crazy either :D

Are you also on Windows Insider ?
![image](https://user-images.githubusercontent.com/2266487/89928313-eef2e900-dc07-11ea-8cac-78721581df97.png)

[2020-08-11 17:34] jkotalik commented on #9893
I am, same exact build of windows as well, I honestly was thinking the same thing yesterday:
![image](https://user-images.githubusercontent.com/8302101/89929460-158c3200-dbbe-11ea-94a7-0bf4816ac76b.png)

Maybe an issue with schannel? That's my best guess.

[2020-08-11 17:34] tebeco commented on #9893
🦆

[2020-08-11 17:36] Tratcher commented on #9893
Same issue, same OS build.

[2020-08-11 17:51] tebeco commented on #9893
the weird thing is the work I dont get is why
*changing the `global.json` to the `preview7`
* run a full `./restore.cmd`
* reset file
* `./restore.cmd` is ok

I would assume cache ? but this also means that this is a combo of both `windows` + `dotnet 5.0 rc`

[2020-08-11 18:07] zivkan commented on #9893
A few weeks ago I created this gist which is a little program that tests .NET's `HttpClient`'s ability to connect to api.nuget.org: https://gist.github.com/zivkan/5291f507c8c5724d41a18357b7afcd30

Since you're reporting using the .NET 5 SDK, try editing the csproj and add `net5.0` as a target framework, and run the tool against the various target frameworks.

If the BCL's `HttpClient` can't connec

[2020-08-11 18:22] Tratcher commented on #9893
Note the restore issue is intermittent. I run restore on our whole repo and it works for a random number of projects before hanging, timing out, and failing.

[2020-08-11 18:47] tebeco commented on #9893
well, well, well
[code]

![image](https://user-images.githubusercontent.com/2266487/89936392-dab4e900-dc13-11ea-851b-1adca72dcae3.png)

[2020-08-11 18:58] zivkan commented on #9893
@tebeco have a look at this blog post, and make sure your machine doesn't have any registry keys that disable TLS 1.2: https://devblogs.microsoft.com/nuget/deprecating-tls-1-0-and-1-1-on-nuget-org/

I'd be interested if you could try running the same app with `net472` to see if it behaves the same, or different.

[2020-08-11 19:07] Tratcher commented on #9893
For net472 and netcoreapp3.1 only None and Tls12 work.

For net5.0 Tls1.2 works but None doesn't.

[2020-08-11 19:34] tebeco commented on #9893
Yeah sorry, I should have cross target them all, my bad

[2020-08-11 19:46] wfurt commented on #9893
I'm also on Windows 2004 build 20170 and 5.0.100-rc.1.20411.2
[code]
There seems to be some unknot variation causing this.

[2020-08-11 19:49] tebeco commented on #9893
what `TargetFramework` were you targetting ?
It fails for `net5.0` but not `netcoreapp3.1`

Also the Windows build is `20185` not `20170`

[2020-08-11 19:59] #9610 closed, assigned to sbanni

[2020-08-11 20:06] zivkan commented on #9893
I reported the problem to dotnet/runtime: https://github.com/dotnet/runtime/issues/40679

[2020-08-11 20:19] vsfeedback opened #9898 "Solution Explorer is not showing all NuGet package dependencies"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1136736/soulution-explorer-not-showing-all-nuget-package-d.html)._

---
[severity:I'm somewhat annoyed. A fix would be nice]
In latest visual studio preview (16.7.0 preview 6.0) then not all nuget package dependencies are show in solution explorer. I have opened the same pr

[2020-08-11 20:20] nkolev92 commented on #9898
Bug probably here: https://github.com/NuGet/NuGet.Client/blob/91084d0734c25fe17c981efcb206ba76c0c75b04/src/NuGet.Clients/NuGet.VisualStudio.Implementation/SolutionExplorer/Models/AssetsFileDependenciesSnapshot.cs#L142

[2020-08-11 22:04] zkat opened #9899 "Support .NET 5: RC1"
This is for stuff that definitely needs done by dotnet rc1

[2020-08-11 23:10] #9863 closed, assigned to zivkan

[2020-08-12 01:33] nkolev92 commented on #9444
https://github.com/NuGet/Home/issues/9756 is merged, so this can probably be closed now.

It might be nice to grab the latest SDK and verify the scenario once the NuGet insertion that should be started tomorrow completes.

[2020-08-12 12:34] tushardevsharma opened #9900 "Invalid restore input. Missing required property 'OutputPath' for project type 'PackageReference'"
I have a `PackageReference` in my `csproj`. (`XYZ.csproj`)

When I try `nuget restore XYZ.csproj -MSBuildPath "C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\MSBuild\Current\bin"` everything works fine and the packages are restored.

However if I try `nuget restore XYZ.csproj -MSBuildPath "Z:\Microsoft\Current\Bin"` (msbuild from a custom path), I get the following error -

`Inva

[2020-08-12 12:41] tushardevsharma commented on #9900
I would also appreciate if there are any workarounds. This is blocking my progress as of now.

[2020-08-12 17:23] timba commented on #9020
### Confirming the issue

Windows 10 Build 19041.450
Ubuntu 20.04 @ WSL v2
Docker Desktop Engine 19.03.8
Base image mcr.microsoft.com/dotnet/core/sdk:3.1

`--disable-parallel` option works but slows down `dotnet restore` from ~30 sec to 11 min (1 private NuGet feed used additionally to the public NuGet).

The Docker command used:
[code]

Without `--disable-parallel` option the command fails with m

[2020-08-12 18:14] zkat commented on #9873
@v-luzh these changes should be in by now. Do you mind re-testing with the latest master? (this one's urgent, please)

[2020-08-12 18:15] zkat commented on #9444
This is likely already done, and just needs to be tested against dotnet's changes.

tl;dr, we need to check that when we multi-target net5.0 and net5.0-windows, that we have two different frameworks and we don't have a random "windows-7.0".

Closing this in favor of https://github.com/NuGet/Home/issues/9873

[2020-08-12 18:15] #9444 closed, assigned to nobody

[2020-08-12 18:44] zkat commented on #9439
As per email, this is going to be taken care of by assembly attributes and analyzers, instead. No need for action on the NuGet side.

[2020-08-12 18:44] #9439 closed, assigned to zkat

[2020-08-12 19:17] asm2025 commented on #9882
Same issue here:

System.NullReferenceException: Object reference not set to an instance of an object.
   at NuGet.PackageManagement.UI.UIActionEngine.<>c.<ResolveActionsForUpdateAsync>b__11_0(PackageIdentity package)
   at System.Linq.Enumerable.WhereListIterator`1.MoveNext()
   at System.Linq.Enumerable.Any[TSource](IEnumerable`1 source)
   at NuGet.PackageManagement.UI.UIActionEngine.<ResolveAc

[2020-08-12 22:14] DrStrangepork opened #9901 "nuspec schema is incompatible with all versions of nuspec.xsd"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe

NuGet version (x.x.x.xxx): NuGet Version: 5.6.0.6591

VS version (if appropriate): VSCode 1.47.3

OS version (i.e. win10 v1607 (14393.321)): Win10.0.17763

Worked before? If so, with which NuGet version: it has never worked

## Detailed repro steps so we can see the same problem

1.

[2020-08-12 22:20] lovettchris opened #9902 "New error from dotnet pack regarding DotnetToolSettings.xml starting with .NET SDK 3.1.401"
Remove the content above here and fill out details below.

## Details about Problem

SDK version 3.1.301, our nuget pack command worked fine.  Upgraded to 3.1.401 and now we get an error saying:
[code]

dotnet pack version (3.1.401):

OS version (Ubuntu 18.04)):

Worked before? If so, with which NuGet version: 3.1.302

## Detailed repro steps so we can see the same problem

1. https://github.com/m

[2020-08-13 01:23] Patrico12345 commented on #4837
How is this supposed to work for projects using PackageReference for NuGet packages that contain a dependency on another NuGet package that has "contentFiles"?
i.e.
Project Z depends upon Package X
Package X has a dependency on Package Y
Package Y is a simple package that only has a "contentFiles", specifically "contentFiles/Any/Any/*"

If I make a direct PackageReference from Project Z to Package

[2020-08-13 06:41] v-nancyj commented on #9873
@zkat Hi, Kat, the issue still repro on latest **VS build tools Master\30412.164 + NuGet Build Tools Vsix Dev\5.8.0.6776**, but **doesn't repro** when **do not** Install the latest NuGet Build Tools SKU vsix Dev\5.8.0.6776 (skip Installation steps 3).

[2020-08-13 15:45] nkolev92 commented on #9002
Bumping the estimate here.
The fact that we are doing post processing for CPVM pruposes during `AddProject` means that simply using a concurrent collection is not quite enough.

https://github.com/NuGet/NuGet.Client/blob/62e098bfb22998fa638ce1a6dff5f91276770500/src/NuGet.Core/NuGet.ProjectModel/DependencyGraphSpec.cs#L241-L258

[2020-08-13 16:03] nkolev92 commented on #9782
This was discussed in a recent sync-up with project-system.
They are to set-up a sync with us to discuss.

[2020-08-13 16:37] nkolev92 commented on #9686
@RobSwDev

Did you get a chance to file an issue through Visual Studio report a feedback?

[2020-08-13 16:42] nkolev92 commented on #9750
@donnie-msft

Whenever you have some time, can you please add more details here.

[2020-08-13 16:50] nkolev92 opened #9903 "Unnecessary assets file writes can lead to extra design time builds"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 16.8

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Open the NuGet.sln

1. Allowin

[2020-08-13 17:01] donnie-msft commented on #9750
@nkolev92  done

[2020-08-13 17:08] rrelyea commented on #9902
Repro the bug...but was hoping to do a quick check with net 5.0 preview 7 to see if the problem still existed...and you have so much validation checking assuming the sdk version is not a preview.
can you tell us if this still happens with 5.0 preview 7?

[2020-08-13 17:35] dominoFire opened #9904 "VS crashes when 'Manage NuGet Packages...' is clicked"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): PM UI

NuGet version (x.x.x.xxx): 5.7.*

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): 16.7.*

OS version (i.e. win10 v1607 (14393.321)): Microsoft Windows [Version 10.0.18363.1016]

Worked before? If so, with which NuGet version: 16.3.*

## Detailed repro steps so we

[2020-08-13 17:55] nkolev92 commented on #9333
RPS tests are as far as we will go at this point.

[2020-08-13 17:58] nkolev92 commented on #8825
Hey @dtivel,

Is this still relevant? Anything we need to do here?

[2020-08-13 17:58] rrelyea opened #9905 "feature-oe.pmui - reopening pm ui for a project in codespaces - then closing is broken"
reported by @sbanni

open pmui
close it
open pmui for same project
close it --- drat...doesn't work.

[2020-08-13 19:56] Tratcher commented on #9893
Workaround available: https://github.com/dotnet/runtime/issues/40679#issuecomment-673675486

[2020-08-13 20:04] #9760 closed, assigned to srdjanjovcic

[2020-08-13 21:12] lovettchris commented on #9902
Hey Rob :-)   So I tried .NET 5.0 preview and got the same error.  But I'm beginning to think we should not have tried to copy DotnetToolSettings.xml in our .csproj.  We only do that because our real nuget package is still built using nuget.exe and a .nuspec, but we can't do that on linux, where we use dotnet pack, this then colides on linux, so we are going to change our build process instead, so

[2020-08-13 21:13] lovettchris commented on #9902
By the way I notice the .net 5.0 preview install doesn't modify "c:\Program Files\dotnet\dotnet.exe" is there a way to install .NET 5.0 dotnet.exe so that I don't have to do this:
[code]

[2020-08-13 21:50] asm2025 commented on #9882
Hi,
Running Visual Studio 2019 in the administrator mode seems to be fixing the issue!

[2020-08-13 21:52] pdevito3 commented on #3891
One more person here running into this issue 4 years after the fact!

@JonDouglas looks like you're on the nuget team at MS, or may at least be able to point this to Chris Gill or someone else on the team. Any potential updates on where this stands?

While it may be better to create separate packages in many instances, clearly there is a frequent need for combining everything from time to time. Wo

[2020-08-13 22:05] asm2025 commented on #9882
As a matter of fact, running it in admin mode has nothing to do with the problem. There seem to be conflicting dependencies between some packages. In my case, it was between JwtBearerToken, ef core assemblies, and the other .netCore packages after updating to dotnet-sdk-3.1.401.

Picking some related packages (for example ef core assembelies, the jwt bearer token and so forth) and updating them gr

[2020-08-13 22:27] erdembayar opened #9906 "Consider parallelizing the package installation for packages.config projects"
## Details about Problem
NuGet version: NuGet Client Dev\5.7.0.6726
VS Version: Public\16.7

## Detailed repro steps so we can see the same problem

1. It's follow up from [`Nuget Solution Package manager UI is slow because restore is run for every project instead of after all projects are updated #6010`](https://github.com/NuGet/Home/issues/6010) where @zivkan inquired if same logic of performanc

[2020-08-13 23:14] sbanni opened #9907 "PackageManagerUI should abstract use of PackageReference for VS.Oe scenarios"
PM UI needs to abstract the use of PackageReference to better support serializability for online scenarios.

[2020-08-14 02:21] nkolev92 opened #9908 "Release Process: Consider include a *complete* list of issues/commits fixed in a release"
See discussion in https://github.com/NuGet/docs.microsoft.com-nuget/pull/2052.

cc @zkat @aortiz-msft @JonDouglas

cc @fowl2 Would soimething like what I suggested in the title be sufficient for you?

[2020-08-14 02:48] fowl2 commented on #9908
sure. GitHub's "tag compare" thing is probably good enough.

eg. https://github.com/NuGet/NuGet.Client/compare/5.8.0.6761...5.8.0.6776

[2020-08-14 02:49] nkolev92 commented on #9750
Thanks, that's helpful

[2020-08-14 06:06] lanfeust69 commented on #9786
Same thing here, using SDK 3.1.401 to build [FSharp.Formatting](https://github.com/fsprojects/FSharp.Formatting).

No problem when forcing 3.1.302 through `global.json`.

[2020-08-14 10:32] AlexVallat commented on #9786
Also been reported to Paket: https://github.com/fsprojects/Paket/issues/3897

[2020-08-14 11:15] AlexVallat commented on #9786
This appears to be because if ContinuePackingAfterGeneratingNuspec task parameter to PackTask is set false, PackCommandRunner.BuildPackage will return null (as there is no package built, as GenerateNugetPackage is false). This in turn means that PackCommandRunner.RunPackageBuild returns false, which is treated by PackTask.Execute as failure.

Not generating a package when the generation of a packa

[2020-08-14 11:36] PawcioCNCProfi commented on #9220
I don't get this. What do you mean by "include file inside the package"? Doesn't nuget.exe suppose to produce the package? 2. You mean the "<icon>...</icon>"?

I have a simple .nuspec :
[code]
And I get this message when trying to execute `nuget pack ...`
I know it can find the source file because it says like "Error NU5019: File not found: '..\..\cnc2\assets\icons\cadm\logox.png'." otherwise.

Th

[2020-08-14 12:55] McMlok opened #9909 "Pushing a snupkg with an invalid Symbol Server should error better than "File not found""
## Details about Problem
When I try to push a *.snupkg to our corporate nexus server it fail with the file not found error. But the file is on a mentioned path and I can open it with winzip. I try it via Nuget.exe and with dotnet.exe with the same result. When I push standard nupkg everything works fine on V2 and also for V3 protokol.

Nuget.exe and dotnet.exe

NuGet version: 5.6.0, 5.7.0 5.8.0-pr

[2020-08-14 15:20] v-luzh opened #9910 "[Bug Bash][Test Failure] Warning icons show on the installed packages in Console App (.NET Core 5.0) project"
## Details about Problem
NuGet version: NuGet Client Dev\5.8.0.6776
VS Version: Master\30413.119
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Create a C# Console App (.NET Core) project in VS.
2. Open the project PM UI and the Solution Explorer window.
3. Install several packages from PM UI into the project.
4. Check the “Dependencies->Packages” node in the Solution Explorer window.
##

[2020-08-14 17:45] nkolev92 commented on #9220
@PawcioCNCProfi

Your failure is different from the originally reported on.

In your case, I'd expect removing the icon metadata to still run into the same failure.

[2020-08-14 19:17] JakeSays commented on #3891
@pdevito3 I'm totally with you! For the life of me I don't get why this isn't possible. I have a tool with dozens of assemblies that are not mine that I want to package, and it is just completely unreasonable to expect me to create a single package for each one! Just makes no sense.

[2020-08-14 19:49] nkolev92 opened #9911 "NuGet Target framework information breaking change coordination"
In 16.8 P2, NuGet made a breaking change where we started reading the TargetFramework* and TargetPlatform* properties from the inner build.
This means that the framework detection across NuGet & SDK needed to change.

In additional .NET 5 SDK, P7 and earlier, misreported the TargetPlatformMoniker for net5.0 projects as `Windows,Version=7.0`.

Other notable challenges are that in 16.8 P2, NuGet use

[2020-08-14 19:51] nkolev92 commented on #9911
Assigning all of us for awareness/visibility.

[2020-08-14 20:51] nkolev92 commented on #9903
I did some digging here.
I do have some fixes...we're probably talking ~10 hours here.

[2020-08-14 21:44] #9754 closed, assigned to advay26-zz

[2020-08-14 21:53] advay26-zz opened #9912 "Final Presentation, Final Connect & all other final week things"
This covers all of the various tasks that I'll have to do as part of the last week of my internship, including merging/passing my work onto others.

[2020-08-15 00:18] nkolev92 opened #9913 "Remove workaround account for some .NET 5 SDKs report TargetPlatformMoniker of ` ,Version= `"
Different SDKs set a different TargetPlatformMoniker.
For example .NET 5 P8 and earlier would report ` ,Version=` as TPM for the net50 TPV.
That was later fixed in https://github.com/dotnet/msbuild/commit/9389d843ab9c291c7bb75fbb4f9302f99224c29b.

In order to not run into problems with this, a hack was added in https://github.com/NuGet/NuGet.Client/pull/3578.

This issue tracks the revert of that

[2020-08-15 00:59] nkolev92 opened #9914 "Projects targetting net5.0-windows, end up generating a condition with an incorrect TargetFramework string"
This is a consequence of https://github.com/nuget/home/issues/9756.

Some initial work started in `dev-nkolev92-originalTargetFrameworkCondition`

I'd estimate a 5-10 point task for someone familiar with the problem space.

[2020-08-15 01:07] nkolev92 commented on #9906
The comment is for packages.config projects, not legacyPackageReference.

That'd be covered in your PR.

Renaming and moving to the icebox, @aortiz-msft let me know if you disagree.

The bottleneck with packages.config installations are the project system writes.

[2020-08-15 01:12] nkolev92 commented on #8902
pri3 according to @aortiz-msft

[2020-08-15 01:14] nkolev92 commented on #8892
pri3 per discussions with @aortiz-msft

[2020-08-15 01:15] nkolev92 commented on #8898
Closing to minimize the umber of issues.

[2020-08-15 01:15] #8898 closed, assigned to nkolev92

[2020-08-15 01:17] nkolev92 commented on #8896
Spec at https://github.com/NuGet/Home/pull/9103/files

[2020-08-15 01:17] nkolev92 commented on #8897
Closing this to coalesce into https://github.com/NuGet/Home/issues/8896

[2020-08-15 01:17] #8897 closed, assigned to nkolev92

[2020-08-15 01:24] nkolev92 opened #9915 "PackageReference restore in Visual Studio should not spam the status bar"
Today, when restoring in Visual Studio, when doing an actual restore or solution load restore, NuGet writes *a lot* of messages at the status bar.

There's a bunch of messages such as "restore packages for" and "writing assets file for" which are pretty equivalent.
In extreme cases this can lead up to 3-4 messages per projects, so you sometimes end up with 300 messages in a 15s restore.

It's diff

[2020-08-15 01:25] nkolev92 commented on #5750
Related to https://github.com/NuGet/Home/issues/9915.

[2020-08-15 05:24] donnie-msft commented on #9909
I believe that the short answer is that this scenario isn't supported. Pushing to a Symbol Server is supported, but not snupkgs to a local feed. I didn't quickly find any docs explaining this, but it seems the "push snupkg" examples I see on the web involve Server feeds. @nkolev92 can correct me or elaborate more on our support here.

In your case, the file exists, but the logic can't resolve a Sy

[2020-08-15 08:53] zd-dalibor opened #9916 "Exclude specific reference from transitive dependencies"
If we have package A with dependency on package B (A -> B).

And if we have something like this in `MyProject.csproj` file:

[code]

this will automatically reference package B and package B will be downloaded from nuget repository.

I wont to manually reference package `B.dll` from my "D:\lib\" folder.

if I do this in `MyProject.csproj`:

[code]

I still get "B.dll" from nuget repository instead

[2020-08-15 08:57] zd-dalibor commented on #9916
Similar feature exists in gradle for java dependencies:

[code]

Does something like this exists for nuget dependencies?

[2020-08-16 16:11] tmenier commented on #8186
Just my $0.02. As a library developer I've been dealing with WASM related frustrations [repeatedly](https://github.com/tmenier/Flurl/issues/543). To me it comes down to a fundamental problem with these platforms "supporting" .NET Standard in the first place. Here's how .NET Standard is described in the [docs](https://dotnet.microsoft.com/platform/dotnet-standard):

When Blazor and other WASM-based

[2020-08-16 16:38] connectArun2001 commented on #9249
is there any update on this ?

[2020-08-17 07:30] McMlok commented on #9909
Thank you for your explanation. In meantime I found issue in [Nexus JIRA](https://issues.sonatype.org/browse/NEXUS-6779) which at this time doesn't support symbols repositories. Then my error is not in non-existing file but in unsupported symbol server.

If CLI report more specific error it will be helpful.

[2020-08-17 16:14] zivkan commented on #9701
@donnie-msft unskipped these tests a few weeks ago.

[2020-08-17 16:14] #9701 closed, assigned to nobody

[2020-08-17 16:28] donnie-msft commented on #9891
/cc @zkat

[2020-08-17 16:44] donnie-msft commented on #9900
/cc @nkolev92 & @zivkan

[2020-08-17 16:57] nkolev92 commented on #9900
@tushardevsharma

We need some additional information to understand this issue.

What version of msbuild are you using? Is that a full VS install install or the build tools?

Would you be able to provide a repro?
Have you tried `msbuild /t:restore`?

[2020-08-17 17:42] donnie-msft commented on #9901
@zkat may be able to comment on our support of these Schemas.

[2020-08-17 17:44] rrelyea commented on #9551
dupe of #9610

[2020-08-17 17:44] #9551 closed, assigned to nobody

[2020-08-17 17:45] donnie-msft commented on #9902
/cc @zkat

[2020-08-17 17:56] donnie-msft commented on #9916
If I understand, I believe `<PrivateAssets>all</PrivateAssets>` is what you're looking for. Let me know if it helps!

See: https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets

[2020-08-17 18:17] donnie-msft commented on #9891
You may also want to review, comment and/or upvote this issue: https://github.com/NuGet/Home/issues/6579

[2020-08-17 19:11] nkolev92 commented on #9200
We do have metrics around the performance of the dg spec population.

We could dig into those numbers to get a feel of what type of improvements we should expect here.

[2020-08-17 19:30] zkat opened #9917 "Automatic formatting with `dotnet format`"
We should start enforcing code style through `dotnet format`. This will help us spend less time asking folks for miscellaneous style changes during code review, and catch it when we happen to miss something. Once the PR lands, it means in the future we'll stop having random formatting changes along with code PRs, hopefully.

As part of this task, we should also automate style verification on CI

[2020-08-17 19:30] advay26 commented on #9912
Moved to Client.Engineering (https://github.com/NuGet/Client.Engineering/issues/478)

[2020-08-17 19:30] #9912 closed, assigned to advay26-zz

[2020-08-17 19:49] dominoFire commented on #9904
Repro available. Open `icontxt.console.csproj` project, right click in 'Manage NuGet Packages...'. Then, VS crashes and restarts.

[icontxt.zip](https://github.com/NuGet/Home/files/5086482/icontxt.zip)

[2020-08-17 20:03] dtivel opened #9918 "PM UI: resolve remotability issues with ISolutionManager"
Many things (e.g.:  `UIActionEngine`, `NuGetUI`) in NuGet.PackageManagement.UI rely on `IVsSolutionManager`.  However, `ISolutionManager` isn't "remoting friendly."

[2020-08-17 20:05] dtivel opened #9919 "resolve internal contracts assembly loading (fix RPS or get exception)"
See https://github.com/NuGet/NuGet.Client/pull/3485#discussion_r468528172

[2020-08-17 20:36] dominoFire commented on #9865
Tasks:

- [ ] Test NuGet.exe / Windows: 1
- [ ] Test dotnet.exe / Windows: 1
- [ ] Test NuGet.exe / Mac: 1
- [ ] Test dotnet.exe / Mac: 1
- [ ] Test NuGet.exe / Linux: 1
- [ ] Test dotnet.exe / Linux: 1
- [ ] Write documentation: 5

[2020-08-17 20:42] #8953 closed, assigned to kartheekp-ms

[2020-08-17 20:55] nkolev92 commented on #9911
Assigning only @zkat...is that right?

[2020-08-17 20:55] nkolev92 commented on #9895
This is in review...fixing estimate.

[2020-08-17 20:56] nkolev92 commented on #9894
Fixing the estimate to 0, as this is in review.

[2020-08-17 21:02] #9692 closed, assigned to kartheekp-ms

[2020-08-17 21:21] srdjanjovcic opened #9920 "Create a dashboard for monitoring RPS tests"
It would be great if we have a dashboard to monitor RPS tests over time.

[2020-08-17 21:33] nkolev92 commented on #9810
bumping to S176 as the roslyn side is not scheduled yet.

[2020-08-17 23:13] thesushil commented on #9891
I think version numbers is not a problem here, unless I am missing something. After the successful pack, it would delete the package in the cache if the same version already exists and then add the new package to the cache. Version number would come from the project, parameter, etc. as usual.

Using pre-release doesn't seem the right solution, as I am not releasing to anyone else, it's for my own

[2020-08-17 23:25] zkat commented on #9911
I mean I'm assigned because I'm the one tracking/updating this. Should we add others, too?

[2020-08-17 23:31] nkolev92 commented on #9911
I changed it because I didn't necessarily need the 5hrs of work showing up on my sprint.
There were no actionables from me.

[2020-08-18 01:03] thesushil commented on #6579
Switching the project/solution between project reference and package reference doesn't seem like an ideal solution.

We solved this problem by executing nuget add command to the nuget cache directly instead of introducing a new local package source. This way consuming projects pick up the updated package (even same version) immediately in Visual Studio.

We created a custom msbuild target that exe

[2020-08-18 03:32] jazzdelightsme opened #9921 "Pack tells me it will exclude folder starting with dot, but does not"
## Version info

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): **NuGet.exe**

NuGet version (x.x.x.xxx): **5.6.0.6591**

OS version (i.e. win10 v1607 (14393.321)): **Win10 Version 2004 (OS Build20195.1000)**

Worked before? If so, with which NuGet version: **don't know**

## Description

"Nuget pack" is including my ".git" directory, even though it says it will exc

[2020-08-18 10:21] sunny868 opened #9922 "error : The local source '/home/gysun/myNuGetServer' doesn't exist."
## Details about Problem

NuGet Version: 5.5.0.6382
.NET Core SDK (3.0.101)
OS version (ubuntu-16.04):

## Detailed repro steps so we can see the same problem
1. nuget sources Add -Name "MyServer" -Source /home/gysun/myNugetServer
2. nuget add new_package.1.0.0.nupkg -source /home/gysun/myNugetServer
3. git clone https://github.com/dotnet/corefx.git ;cd corefx
4. vim NuGet.config and add

[2020-08-18 10:42] v-nancyj commented on #9873
@zkat Hi, Kat, Verified on VS Build Tools Main\30417.28 + NuGet Build Tools Vsix Dev\5.8.0.6777 today, the issue has been fixed.

[2020-08-18 11:56] RAJESHKUMAR21TL commented on #3433
Package Xam.Plugin.Iconize 3.5.0.129 is not compatible with portable45-net45+win8+wpa81 (.NETPortable,Version=v4.5,Profile=Profile111). Package Xam.Plugin.Iconize 3.5.0.129 supports:
  - monoandroid90 (MonoAndroid,Version=v9.0)
  - net472 (.NETFramework,Version=v4.7.2)
  - netstandard1.3 (.NETStandard,Version=v1.3)
  - netstandard2.0 (.NETStandard,Version=v2.0)
  - uap10.0.16299 (UAP,Version=v10.0

[2020-08-18 18:30] #9894 closed, assigned to nkolev92

[2020-08-18 18:30] #9895 closed, assigned to nkolev92

[2020-08-18 20:19] #9570 closed, assigned to rrelyea

[2020-08-18 20:19] #9905 closed, assigned to rrelyea

[2020-08-18 20:55] zkat commented on #9911
https://dev.azure.com/devdiv/DevDiv/_git/VS/pullrequest/268099 has been merged, so we're done here. Time to focus on RC1 :)

[2020-08-18 20:55] #9911 closed, assigned to zkat

[2020-08-18 21:17] #9907 closed, assigned to sbanni

[2020-08-18 22:29] nkolev92 commented on #9891
There's a slight correctness challenge with just replacing the package content in the global packages folder is that restore need to run again.

In particular, a restore for a given project needs 2 things from a package:
* nuspec for dependencies and metadata
* the file list for that specific package.

The file list is used for compatibility selection, and the file list is used to generate the ref

[2020-08-18 23:30] erdembayar commented on #9002
Connected to this code: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.ProjectModel/DependencyGraphSpec.cs#L241

[2020-08-18 23:32] zkat opened #9923 "Automating our GitHub processes"
This is a tracking epic for various tasks we'll be doing to automate our development process on GitHub, mostly through writing bots and scripts.

[2020-08-19 01:26] #9922 closed, assigned to nobody

[2020-08-19 01:34] sunny868 commented on #9922
Sorry ,I have proposed issue in dotnet/runtime community and got feedback, so I close the comment.

[2020-08-19 02:14] #9826 closed, assigned to martinrrm

[2020-08-19 07:40] zd-dalibor commented on #9916
But what if package A in some nuget repository (let say public one https://www.nuget.org/) has many dependencies (let say 5: B, C, D, E, F). I add reference to package A in my project. Now I only want to exclude B reference and use my version for them. I do not wont B reference from "https://www.nuget.org/" but all other C, D, E, F wont.

In this example I think all references B, C, D, E, F will b

[2020-08-19 09:00] v-luzh opened #9924 "[Test Failure] No-op restore doesn’t occur at the first time in MSBuild restore command for the non-.Net SDK-style projects"
## Details about Problem
NuGet version: NuGet Client Dev\5.8.0.6779
VS Version: Master\30418.48
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Create a non-.Net SDK-style project [e.g. C# Console App (.NET Framework)] in VS.
2. Open the PM UI of the project and install several packages with “PackageReference” format.
3. Save the solution and close VS.
4. Go to the VS developer command pr

[2020-08-19 18:17] joeloff opened #9925 "Owner Tag not shipped in nuspec file using dotnet pack"
---
**Issue moved from dotnet/sdk#12538**
- Please respond to @kmuthukumar23.

---

_From @kmuthukumar23 on Friday, July 17, 2020 4:26:19 AM_

### Describe the bug

Run the '**dotnet pack pathTo csproj**' in CLI, the owner tag is missing in nuspec file with in the generated nuget. I have faced this issue recent days. Before 10days it was working fine. last three days i am facing this issue.

### T

[2020-08-19 18:17] joeloff commented on #9925
---
**Issue moved from dotnet/sdk#12538**
- Please respond to @joeloff.

---

_From @joeloff on Wednesday, August 19, 2020 5:19:24 PM_

I believe this comes from NuGet.Build.Tasks.Pack.targets (GenerateNuspec target). Moving this over to NuGet.

[2020-08-20 05:35] ericanastas opened #9926 "PackageManager.InstallPackageAsync() throws NullReferenceException"
NuGet product used: Nuget Libraries
NuGet version (5.7.0:
VS version: VS 2017
OS version: Win 10 (1909)

## Details about Problem

I'm working on a plug-in management system built on top of Nuget similar to Chocolatey, PowerShell Gallery etc. I wanted to use the newer V3 libraries but the amount of abstraction and the lack of documentation is becoming a serious challenge for me.

The responses to

[2020-08-20 16:58] tushardevsharma commented on #9900
I have VS 2017 and VS 2019 Professional installed on my system. I just checked my `msbuild` versions from the VS developer command prompts and I see `msbuild 15.9.21+g9802d43bc3` from VS 2017 `cmd` prompt and `msbuild 16.4.0+e901037fe` from VS 2019 `cmd` prompt.

1. Downloaded `nuget.exe 5.6.0.6591` onto `Z:\msbuild`
2. Create a new .NET Framework console app project named `NuGetRestoreRepro` (pro

[2020-08-20 18:34] nkolev92 commented on #9900
@tushardevsharma

The one unusual thing in your set-up is the 3rd step.

When you copy the contents of the msbuild folder, you are copying targets file such as  `Microsoft.Common.CurrentVersion.targets` and those rely on relative paths to work correctly. See https://github.com/dotnet/msbuild/blob/f2c4bfd563f559daca27ea1cd8ae40db24e2e7cd/src/Tasks/Microsoft.Common.CurrentVersion.targets#L6182-L6184

[2020-08-20 20:14] aortiz-msft commented on #9010
We will start with dotnet nuget verify, dotnet nuget trusted-signers, and dotnet nuget sign commands. @zkat will follow up with Kathleen and others to see if there are any concerns with this proposal

[2020-08-20 20:29] rrelyea commented on #9010
based on my previous discussions with livar/kathleen before i did the dotnet nuget add/remove/etc.. sources work:
dotnet nuget verify
dotnet nuget sign.
dotnet nuget add/remove trusted-signers   [verb goes before noun]
perhaps dotnet nuget list trusted-signers   (which would map to nuget trusted-signers)

[2020-08-21 01:00] dsplaisted opened #9927 "MSBuild project evaluation fails when TargetFramework property includes semicolon"
The .NET SDK is now using `NuGetFramework` methods to parse the `TargetFramework` property, via MSBuild intrinsic functions that were added for this:

https://github.com/dotnet/sdk/blob/5b50ac24ecd5af91736cf81360eab5813c9e93b9/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.TargetFrameworkInference.targets#L54-L55

However, this is causing MSBuild evaluation to fail with an assertion whe

[2020-08-21 01:35] aortiz-msft commented on #9924
@nkolev92 - Would you please take a look?

[2020-08-21 01:57] nkolev92 commented on #9924
Yep, I caught this today while doing some other changes.

Good:
* I understand the bug + the fix. It shouldn't be too bad.

Bad:
* This regression has existed for a while.
* I have automation that were supposed to catch this, but apparently didn't :)

[2020-08-21 02:17] nkolev92 commented on #9924
I even left a comment in my code :D https://github.com/NuGet/NuGet.Client/commit/73961568042b185fcf9b992100738880945c172f.

I'll front load the fix here, but it *only* affects no-op, no functional break here.

[2020-08-21 04:12] #9650 closed, assigned to zivkan

[2020-08-21 08:03] tushardevsharma commented on #9900
@nkolev92

Okay, I understand. Thanks for the explanation.

Would you kindly suggest a workaround to get this working? I tried copying the `NuGet.targets` file over to the custom `$(MSBuildToolsPath)` location (i.e. into `Z:\msbuild\Bin2017`) but that did not work. Do you suspect a workaround might not be trivial or be even possible?

One more question - so it looks like I need to use the default

[2020-08-21 14:57] dtivel opened #9928 "PM UI: Update button does not disable after update completes"
Note:  this reproes in a private branch (dev-dtivel-oe-pmui-installuninstall) based on feature branch (dev-feature-OE.PMUI).  Basically, install/update was completely broken in dev-feature-OE.PMUI, and I've attempted to fix it in private branches.  This bug does not repro in latest dev.

1.  Create a .NET Core app project.
2.  Open PM UI.
3.  Install a package.
4.  On the newly installed package,

[2020-08-21 15:56] #9900 closed, assigned to nobody

[2020-08-21 17:22] #8825 closed, assigned to nobody

[2020-08-21 17:41] #9567 closed, assigned to nobody

[2020-08-21 17:55] #9249 closed, assigned to nobody

[2020-08-21 21:09] #9566 closed, assigned to srdjanjovcic

[2020-08-22 00:45] AmadeusW opened #9930 "CI build throws error NU5104 and succeeds regardless"
Please read the following information before posting the issue.

## Details about Problem

Our CI build produces multiple instances of warning NU5104 (treated as error)
However, the CI build succeeds.

This may lead engineer diagnosing a build failure on an incorrect path, wasting their time, because the error which caused the build failure is buried somewhere else in the log.

The expected behavi

[2020-08-22 02:36] #9927 closed, assigned to nkolev92

[2020-08-22 13:04] #9930 closed, assigned to nobody

[2020-08-24 01:56] dominoFire opened #9931 "NuGet.Client dev branch does not build locally"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): 3501ddedc274ac10d4b135856b7593a6bb8a72f1

dotnet.exe --version (if appropriate): 5.0.100-preview.8.20417.9

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version: It works if you use 5.0.100-preview.7

[2020-08-24 06:24] erdembayar opened #9932 "Investigate if uninstall have more than 1 restore problem for reference type projects."
## Details about Problem

It's follow up for `Nuget Solution Package manager UI is slow because restore is run for every project instead of after all projects are updated ` [#6010](https://github.com/NuGet/Home/issues/6010) task. I solved [install/upgrade/downgrade cases](https://github.com/NuGet/NuGet.Client/blob/0f86276892b00c8abc41e94b186b32e1fc1a6b18/src/NuGet.Clients/NuGet.PackageManagement.U

[2020-08-24 07:16] pavelpe commented on #5138
This can't help you to extract License URL for example.
I use the method you proposed to check first if specific Nuget Id (and version) exists, and then I try to get the details
`nuget list $pkgName -Verbosity detailed` of this nuget.

There I can extract the license URL.
But running `nuget list` is always ends with getting huge amount of irrelevant data:
![image](https://user-images.githubusercon

[2020-08-24 12:42] nick5454 commented on #8132
This doesn't solve usings the SystemAccessToken in the Nuget.config file. Anyone get this working?

[2020-08-24 14:39] mpreyskurantov commented on #3324
I have experienced a similar issue with the same mentioned package (https://www.nuget.org/packages/runtime.opensuse.13.2-x64.runtime.native.System.Security.Cryptography.OpenSsl/). I have the following dev/NuGet configuration:

- VS 2019 Pro (with the latest updates installed)
- Project: An empty “Console App”, TargetFramework is the “.NETFramework 4.5.2” (i.e., any “Full”, but not a .NET Core base

[2020-08-24 14:57] AndreyAkinshin commented on #3324
@mpreyskurantov, the only available workaround for now is to set the `NUGET_HTTP_CACHE_PATH` environment variable to a short path (e.g., `C:\Temp`). In this case, NuGet will use it as temporary storage for cache files instead of `C:\Users\<UserName>\AppData\Local\NuGet\v3-cache\`. This environment variable should be set individually on each machine, there is no global way to solve this problem on

[2020-08-24 15:15] AndreyAkinshin commented on #3324
@mpreyskurantov Of course, it can be also easily solved on the NuGet side, but it "is not an investment the NuGet team want to make, or support."

[2020-08-24 15:38] maartenba commented on #3193
Not sure this is still relevant.

[2020-08-24 15:38] #3193 closed, assigned to nobody

[2020-08-24 15:38] maartenba commented on #3320
Not sure this is still relevant.

[2020-08-24 15:38] #3320 closed, assigned to nobody

[2020-08-24 15:42] v-luzh opened #9933 "Command “dotnet restore -f --use-lock-file” created a lock file for every project when the solution have project reference"
## Details about Problem
NuGet version: NuGet Client Dev\5.8.0.6783
VS Version: Master\30423.24
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Create a solution with two projects [e.g. C# Class Library (.NET Core 5.0)] called “CL1” and “CL2” in VS.
2. Make the project graph structure: CL1 -> CL2 and **close the solution/VS**.
3. Open “Developer Command Prompt”, cd to CL1 project path and

[2020-08-24 16:36] brinko99 commented on #5957
Indeed continues to be an issue. I found this issue through a StackOverflow question I posted further describing this:

https://stackoverflow.com/questions/63197142/nuget-framework-package-with-dependencies-from-core-project

If you can control the NuGet package, you can list the dependency under a blank / 'any' group as well as a specify target framework as an ugly workaround.

[2020-08-24 16:47] nkolev92 commented on #9924
PR out: https://github.com/NuGet/NuGet.Client/pull/3606

Answering my question from above, the tests *do exists*, but they were not assert that the *msbuild call* failed completely without running the command. Unsure when this broke, likely in 16.x, but I have fixed the tests now.

[2020-08-24 16:48] nkolev92 commented on #9930
Hey @AmadeusW,

We're aware of this issue, duplicate of https://github.com/NuGet/Home/issues/7404.
It was fixed in 5.7/3.1.400!

[2020-08-24 16:50] nkolev92 commented on #9930
@zivkan @donnie-msft @AmadeusW

Given that this scenario is dotnet.exe, the problem in dotnet.exe is fixed in the latest release.

[2020-08-24 16:52] zivkan commented on #9930
No wonder I had so much trouble finding the good duplicate issue, I forgot to check closed issues! (I forgot that this was fixed)

[2020-08-24 17:06] nkolev92 commented on #9933
dotnet.exe & MSBuild.exe restore are transitive by default (meaning if you invoke them on the first project, they run for all projects.

The parameters passed to the command when pointing to one project are applied to *all* projects since the arguments are passed as global properties.

Key point here is that, I don't expect this to be a regression. I tried it with 3.1.302 and the behavior was the

[2020-08-24 17:07] nkolev92 commented on #9933
Hey @v-luzh

Can you please verify whether this repros on older versions? I'd expect that it's worked this way for forever.

[2020-08-24 17:13] Youssef1313 opened #9934 "Clicking NU code in Visual Studio Error List window should go to https://docs.microsoft.com/nuget/reference/errors-and-warnings/"
Currently, it's:

[code]

This needs to be updated to either dev16, which is a later version, to be more future proof in case the old url was deprecated. Or update to docs.microsoft directly. (The choice between the two is currently being discussed in my PR)

[2020-08-24 17:18] dtivel opened #9935 "PM UI: not automatically closed when project unloaded/removed"
If PM UI is open for a project when you remove the project from Solution Manager, PM UI will no longer be closeable.

1.  In a remote session, open a solution with a project.
2.  Open PM UI for that project.
3.  In Solution Explorer right-click on the project and select Remove.

Expected result:  when the project is removed, PM UI should automatically close.

Actual result:  PM UI does not automat

[2020-08-24 17:19] nkolev92 commented on #9925
This was a deliberate decision made as part of the bigger picture around package ownership.
Adding @chgill-MSFT as the PM that was for this change.

[2020-08-24 17:29] #9833 closed, assigned to advay26-zz

[2020-08-24 17:40] nkolev92 commented on #3784
Maybe it's a naive assumption by me, but most of these changes should be straightforward and not require individual testing, rather they can be tested as one entity.

[2020-08-24 17:43] nkolev92 commented on #9891
@thesushil

* Changes in metadata for content files is one example.
* Changes in file count such as additions/subtractions of files.
* Changes in dependencies, framework references, framework assemblies.

[2020-08-24 17:50] dtivel opened #9936 "PM UI: IProjectContextInfo.GetInstalledPackagesAsync(...) should not return IEnumerable<T>"
Following RPC best practices, `IProjectContextInfo.GetInstalledPackagesAsync(...)` should return `IReadOnlyCollection<IPackageReferenceContextInfo>` instead of `IEnumerable<IPackageReferenceContextInfo>`.

CC @sbanni

[2020-08-24 17:52] #9873 closed, assigned to zkat, v-luzh

[2020-08-24 18:58] dsplaisted opened #9937 "Automatically download targeting or runtime packs from transitive FrameworkReferences"
Currently, the .NET SDK will download targeting and runtime packs for all shared frameworks it knows about.  For example, for a self-contained console app where the targeting packs aren't installed, it will download targeting and runtime packs for Microsoft.AspNetCore.App and Microsoft.WindowsDesktop.App, even if those frameworks aren't used at all in the app.  This is because when the SDK is gene

[2020-08-24 19:06] #9898 closed, assigned to kartheekp-ms

[2020-08-24 19:47] nkolev92 commented on #4176
Adding context from our chat during Friday's sync-up, [OneNote link](https://microsoft.sharepoint.com/teams/NuGet/_layouts/OneNote.aspx?id=%2Fteams%2FNuGet%2FTeam%2FNuGet&wd=target%28Engineering.one%7C219AABAA-18B3-46F4-83E8-D3188D83DE22%2FVisual%20Studio%20Package%20Manager%20UI%20-%20technical%20details%7C515D6CBB-07F6-413C-BDA1-9268AF9E3170%2F%29
onenote:https://microsoft.sharepoint.com/teams/N

[2020-08-24 20:16] aortiz-msft commented on #1335
Changing title to reflect the original comment.

https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#packagerestore-section has an example on how to disable automatic restore in Nuget.config file.

[2020-08-24 20:16] #1335 closed, assigned to nobody

[2020-08-24 20:18] aortiz-msft commented on #1335
Please feel free to create new issues as needed.

[2020-08-24 20:27] aortiz-msft commented on #9891
Closing as duplicate of https://github.com/NuGet/Home/issues/6579

[2020-08-24 20:27] #9891 closed, assigned to nobody

[2020-08-24 20:28] aortiz-msft commented on #9893
Closing as dupe of dotnet/runtime#40679

[2020-08-24 20:28] #9893 closed, assigned to nobody

[2020-08-24 20:41] aortiz-msft commented on #9901
@v-luzh - Would you please try to repro replacing
`<package xmlns="https://raw.githubusercontent.com/NuGet/NuGet.Client/dev/src/NuGet.Core/NuGet.Packaging/compiler/resources/nuspec.xsd">`
with each of the published xsd files?

[2020-08-24 20:43] aortiz-msft commented on #9902
"I suspect that code picked up an error that was probably silently ignored before." - Yes, that is accurate :)

[2020-08-24 20:43] #9902 closed, assigned to nobody

[2020-08-24 20:48] aortiz-msft commented on #9908
We can add the "tag compare" link in release notes moving forward.

[2020-08-24 20:52] erdembayar commented on #9726
We don't know source is static huge feed or proper feed.
Before it was kind of flaw in design allowed it work, but it causes huge memory spike if load them once.
If you know source is static then you can still can read with setting override, and not many of them so you can add `switch case` statement handle such cases manually in your code.
One work around is if you know source is static: You can

[2020-08-24 20:54] aortiz-msft commented on #9916
This is not currently supported.

[2020-08-24 21:05] nkolev92 commented on #5513
Fixed by @martinrrm

[2020-08-24 21:05] #5513 closed, assigned to martinrrm

[2020-08-24 21:08] nkolev92 commented on #9916
There's a related issues that deals with affecting the transitive dependency metadata.

Specifically see: https://github.com/NuGet/Home/issues/6720

That issues covers things like, for Package `B`, adding ExcludeAssets=`all`.

[2020-08-24 21:15] nkolev92 commented on #9916
Actually https://github.com/NuGet/Home/issues/5986 seems like an even more approriate issue.

@zd-dalibor Does https://github.com/NuGet/Home/issues/5986 seem like an equivalent ask to yours?

[2020-08-24 21:45] aortiz-msft commented on #5805
Hi everyone,

Thanks for the feedback.

We made many performance improvements in Visual Studio 2019, particularly in the last few releases (16.5, 16.6, and 16.7).

Additionally, we are tracking several potential perf improvements as part of this query: https://github.com/NuGet/Home/issues?q=is%3Aissue+label%3ATenet%3APerformance+is%3Aopen+  The following query is narrowed down to Package Manager U

[2020-08-24 21:56] nkolev92 commented on #8461
Yep, good catch.
Closing as dup of https://github.com/NuGet/Home/issues/8000.

Thanks @rconard

[2020-08-24 21:56] #8461 closed, assigned to nobody

[2020-08-24 21:56] nkolev92 commented on #8000
Bumping to backlog + QW due to the linked issue upvotes.

[2020-08-24 22:09] aortiz-msft commented on #9936
@zivkan

[2020-08-24 23:11] #9931 closed, assigned to dominoFire

[2020-08-25 00:52] nkolev92 commented on #9932
I think a good test case for this is;

Project 1 -> Project 2 -> Project 3, where 2 & 3, have Package A.
Uninstall Package A and see how many restores happen.

Quick test on my end, uninstall *does* have a problem.

[code]

See how P2 is restored twice!

[2020-08-25 01:22] #9903 closed, assigned to nkolev92

[2020-08-25 03:23] zivkan commented on #9936
I didn't find `IProjectContextInfo` in a quick search of a dev branch, so my guess is that this is in the VS.OE feature branch only. Since it's not part of a shipped NuGet SDK (and chances are I'm guessing it will be part of the NuGet VS code, not part of the NuGet SDK), it's not a breaking change, so go for it.

[2020-08-25 03:34] zivkan commented on #3784
My memory is that some of the `GetService` calls are in sync code, so calling `GetServiceAsync` is not appropriate, without converting the method to async as well, and repeat all the way up the call stack until an "entry point". This will increase the code impact, and perhaps warrants a few PRs, rather than just 1. Unless I'm wrong and every `GetService` call is already in an async method.

[2020-08-25 11:28] nfplee opened #9938 "Importing MSBuild Targets from Referenced Package"
I have a project "Foo.Theme" which has the following defined in the "Foo.Theme.csproj" file:

[code]

Where the "Foo.Module" project has the following defined in it's "Foo.Module.csproj" file:

[code]

Now if I add a package reference to "Foo.Theme" it correctly imports the targets from the "Foo.Theme.props" file within the package. However it's not importing the "Foo.Module.props" targets.

I can

[2020-08-25 12:38] zivkan commented on #9938
Unfortunately it's not well documented, well, not explained well in the docs. But the nupkg's `build\` directory is only used for direct dependencies. Transitive dependencies use `buildTransitive\`, so if you copy `Foo.Module`'s props file there, it will be imported. Note however that only PackageReference projects use `buildTransitive`. If you want your package to support both packages.config and

[2020-08-25 12:48] zd-dalibor commented on #9916
@nkolev92
In general #5986 is similar to this. He wants to copy some transitive dependencies (not all of them) of PorjectA to ProjectB building output folder (ProjectB has reference on ProjectA)

[2020-08-25 12:59] nfplee commented on #9938
Thanks, I have tried adding the following to my "Foo.Theme.csproj" file:

[code]

This correctly copies the file to my package but my package reference still doesn't seem to detect it. For now I'll keep trying but I can't seem to find any documentation on this.

[2020-08-25 14:53] baronfel commented on #9786
This has completely killed any project that uses Paket from updating to newer SDKs, or even participating in testing the 5.x previews. Paket calls the Pack Task twice:

* once with `ContinuePackingAfterGeneratingNuspec` set to false, to generate the nuget-derived nuspec (to ensure that many project properties/shared properties are set in a manner consistent with Nuget itself). once this nuspec is

[2020-08-25 16:27] ranouf commented on #9882
Same issue for me too.

[2020-08-25 17:41] nkolev92 commented on #9916
Thanks, closing as dup of #5986 then.

Can you please up vote that issue?

[2020-08-25 17:41] #9916 closed, assigned to nobody

[2020-08-25 17:41] mmitche opened #9939 "NuGet pack should reject duplicated entries in the same directory"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Any nuget path that can pack.

NuGet version (x.x.x.xxx): Any recent nuget version.

## Detailed repro steps so we can see the same problem

It is possible to create a package that contains multiple files with the same name in the

[2020-08-25 17:42] mmitche commented on #9939
/cc @jaredpar Do you have detailed info on how this actually comes about? I'm still digging into the current windowdesktop failure.
/cc @zkat

[2020-08-25 17:45] jaredpar commented on #9939
@ericstj did the investigation and can comment on how the `pack` ended up with two different files with the same name.

[2020-08-25 17:45] cristinamanum opened #9940 "[CPVM] Document all the new errors and warnings"
Document all the new CPVM errors and warnings

- [ ] NU1008
- [ ] NU1009
- [ ] NU1010
- [ ] NU1011

[2020-08-25 17:50] jaredpar commented on #9939
Related change is here: https://github.com/dotnet/arcade/pull/5818

Essentially we found that we had created NuPkg files with duplicate files and had to work to undo this. Such packages are essentially broken and can't be reliably used. Tooling that operates at the ZIP level don't expect to see this and ended up failing in our build pipeline.

[2020-08-25 17:51] mmitche commented on #9939
This change regressed this in Arcade: https://github.com/dotnet/arcade/commit/50da2e606edc3ec69750480c356f433e710304ef#r40426132

And it was fixed in the Arcade currently in use in rc1 in windowsdesktop: https://github.com/dotnet/arcade/commit/b1754cc4a2d37d522946792f50887eb716220f6a

[2020-08-25 18:04] mmitche commented on #9939
I think this actually may be because windowsdesktop was creating its nuget packages using a non-standard process, but @zkat we should still ensure that you can't get into this situation using the standard usage paths. @jaredpar said he had seen similar issues with roslyn, which I believe does use the standard pack processes.

[2020-08-25 19:14] #9938 closed, assigned to nobody

[2020-08-25 19:24] #8113 closed, assigned to zivkan

[2020-08-25 22:19] rido-min opened #9941 "dotnet on Linux incorrectly detects revoked certificates on signed packages."
The package https://www.nuget.org/packages/Rido.CoreAppLauncher/0.0.1-Beta1 is signed with author and repo certificates.

NuGet.exe  5.4.0.6315 reports the package as valid
[code]
<details>
Verifying Rido.CoreAppLauncher.0.0.1-Beta1
C:\Users\rido\Downloads\rido.coreapplauncher.0.0.1-beta1.nupkg

Signature Hash Algorithm: SHA256
Timestamp: 11/7/2018 8:31:32 PM

Verifying author primary signature's

[2020-08-25 22:36] rido-min opened #9942 "allowUntrustedRoot not respected on Linux"
I'm validating a package signed with a self-signed-certificate that is trusted in nuget.config with `allowUntrustedRoot=true`

I can add/restore with dotnet on Windows, but in Linux it fails with

[code]
<details>
[code]
</details>

Repro Steps

1. Download this package to a local folder https://raw.githubusercontent.com/ridomin/secure-packages-demo/master/_pkgs/System.Rido.1.0.8-pre.nupkg
1. `dot

[2020-08-25 23:13] heng-liu commented on #9942
This is not an issue.
The self-signed certificate will not be trusted unless the X509KeyUsageFlags.CrlSign and X509KeyUsageFlags.KeyCertSign are set, for Linux only.
Pls refer to https://github.com/NuGet/Home/issues/8841

Pls generate the self-signed certificate by running latest TestCertGenerator\CreateTestCertificate.ps1 from https://github.com/NuGet/Entropy
(The change is in PR https://github.c

[2020-08-25 23:13] #9942 closed, assigned to heng-liu

[2020-08-25 23:21] erdembayar opened #9943 "Address possible break of project installation after retry install due to certain incompatible framework"
## Details about Problem
Worked before? N/A
During my performance improvement work #[PR3559](https://github.com/NuGet/NuGet.Client/pull/3559) Nikolche [pointed out](https://github.com/NuGet/NuGet.Client/pull/3559/files#r475033357) potential bug where initially success installation package break due to re-evaluation.

## Detailed repro steps so we can see the same problem
N/A : Not sure it's just p

[2020-08-25 23:21] erdembayar opened #9944 "Address possible break of project installation after retry install due to certain incompatible framework"
## Details about Problem
Worked before? N/A
During my performance improvement work [Nuget/Home#6010](https://github.com/NuGet/Home/issues/6010) Nikolche [pointed out](https://github.com/NuGet/NuGet.Client/pull/3559/files#r475033357) potential bug where initially success installation package break due to re-evaluation. When child project re-evaluated then it might cause changes in parent project of

[2020-08-26 00:19] nkolev92 commented on #9939
@zkat this is probably a duplicate of https://github.com/NuGet/Home/issues/6941.

[2020-08-26 00:25] nkolev92 opened #9946 "Update the SPDX license list"
The spdx license list is not up to date and needs updated with the latest version.

[2020-08-26 01:11] nkolev92 commented on #9933
[lockFile.zip](https://github.com/NuGet/Home/files/5126981/lockFile.zip)

I have added my repro project.

Note that I have a global.json that I used to test, and currently it pinned to 3.1.302

[code]

Given that this is a git enable repo, you can verify the behavior by just checking the status git detects.

[2020-08-26 09:35] v-luzh commented on #9933
@nkolev92 It didn't repro on D16.8\30419.146+NuGet Dev\5.8.0.6776, but repro on D16.8\30420.98 with implicit NuGet Dev\5.8.0.6776 as below.
![image](https://user-images.githubusercontent.com/20632625/91287255-0dd5ab80-e7c2-11ea-95a9-ddd717ad3c80.png)

And no fails detected when unzipping your lockFile.zip on above both machines.

[2020-08-26 10:54] yasmoradi opened #9947 "Nuget.Frameworks 5.8 prev2 is missing"
I'm not clear about what's going on, but I think there should be Nuget.Frameworks 5.8 prev2 at https://www.nuget.org/packages/NuGet.Frameworks/

![image](https://user-images.githubusercontent.com/5352980/91295377-3bb1f480-e7b0-11ea-9625-2c252cad7b35.png)

[2020-08-26 13:41] zivkan commented on #9914
Assuming this issue makes it into the release notes when NuGet 5.8 ships, the first comment should probably be edited to make sense to people without the context that we have, having worked on the net5.0 stuff every day for several weeks, and many meetings about all these issues. Neither the title, nor body, nor PR explain which file(s) are affected by this change.

[2020-08-26 14:14] MarioArriaga92 commented on #7347
Any update? Also experiencing this issue with Microsoft Visual Studio Professional 2019 Version 16.6.5, NuGet Package Manager 5.6.0 and Microsoft.Build.Tasks.Git

[2020-08-26 14:33] zivkan commented on #9786
@heng-liu previously attempted to reproduce the problem, but was unable to, as she got a different error. Can someone provide us with a simple repro?

[2020-08-26 14:35] baronfel commented on #9786
The linked paket issue contains a zip of a project that triggers this, along with reproduction steps.

[2020-08-26 14:36] TheAngryByrd commented on #9786
I think she didn't do `dotnet tool restore` since the error stated it couldn't run `dotnet paket restore`

[2020-08-26 14:46] zivkan commented on #9786
I'm taking a quick look, but it seems I need to use the paket and fake CLIs, both products that the NuGet team doesn't support, so first I have to figure out how these tools are using NuGet.  If someone has a repro that minimises usage of 3rd party tools, that could speed up our investigation.

[2020-08-26 14:52] baronfel commented on #9786
@zivkan the entire point is the usage of third-party tools :)  The way the targets delegated to the PackTask relies on an invariant that has changed between 3.1.30x and 3.1.40x, and the contention is that this invariant change is a bug.

The core question is: should not making a nuget package _when the user explicitly requested that behavior_ cause a failing build?

[2020-08-26 14:55] ysmoradi commented on #9947
I was able to resolve the issue by using nightly feed

https://dotnet.myget.org/F/nuget-build/api/v3/index.json

I think as net 5 prev 8 is using Nuget.Frameworks 5.8 prev 2, it's far better to have that package in public nuget.org (as like as Nuget.Frameworks 5.8 prev 1)

[2020-08-26 14:57] zivkan commented on #9786
3rd party tools still invoke NuGet somehow. If someone can peel away those layers and report just the NuGet command that fails, I can investigate that. If the problem is how the 3rd party tools use NuGet, I don't know how to write this without sounding like a jerk, but it's out of my job description.

Anyway, I've figured out how to invoke NuGet in a way that reports the error. Debugging the .NET

[2020-08-26 15:25] zivkan commented on #9786
The problem is an unintended consequence from fixing https://github.com/NuGet/Home/issues/7404 (when a pack warning is elevated to error via WarnAsError, NuGet was not telling MSBuild there was an error, even though it logged errors).

It looks the implementation was to: delete the zip file on error, and report to MSBuild whether the zip file exists. This doesn't take into account `ContinuePacking

[2020-08-26 15:27] baronfel commented on #9786
Nice investigation work! Thanks for narrowing down the root cause.

[2020-08-26 17:42] zivkan commented on #9937
What if NuGet had some kind of `DownloadPackageTask` that the SDK can run on publish?

One of the things that makes NuGet's package lock files so problematic is that the restore graph changes when doing things like changing the RID. I don't like the idea of even more restore-time complexity.

Although the problem with this idea is that not all package downloading happens at restore time. Some coul

[2020-08-26 17:57] #9924 closed, assigned to nkolev92

[2020-08-26 19:00] nkolev92 opened #9948 "SDK 3.1.401 can no longer suppress NU5104 with NoWarn"
@iwillspeak commented on [Wed, 19 Aug 2020 12:36:47 GMT](https://github.com/dotnet/sdk/issues/12981)
We have a dependency on a package with no release build available. Building
release builds of our packages results in the NU5104 warning being issued.

Previously we were able to suppress this warning with `NoWarn="NU5104"` on
the `PackageReference`. With the `3.1.401` SDK this no longer works. The

[2020-08-26 19:00] nkolev92 commented on #9948
@joeloff commented on [Wed, 19 Aug 2020 22:19:46 GMT](https://github.com/dotnet/sdk/issues/12981#issuecomment-676762022)
I tried to repro this on machine with 3.1.401, but couldn't. I don't see anything obvious that would have regressed this. Have you looked at a binlog to see if the ```NoWarn``` property is perhaps getting cleared out by another target.

cc @nkolev92 in case he knows of any chang

[2020-08-26 19:00] nkolev92 commented on #9948
@iwillspeak commented on [Thu, 20 Aug 2020 08:00:37 GMT](https://github.com/dotnet/sdk/issues/12981#issuecomment-677441587)
I've updated the Gist with a script that reproduces the change in exit code with docker containers.

On my machine running `$ ./test_script.sh ` produces output similar to:

[code]

[2020-08-26 19:00] nkolev92 opened #9949 "Pack needs support for PackageReference specific NoWarn"
@iwillspeak commented on [Wed, 19 Aug 2020 12:36:47 GMT](https://github.com/dotnet/sdk/issues/12981)
We have a dependency on a package with no release build available. Building
release builds of our packages results in the NU5104 warning being issued.

Previously we were able to suppress this warning with `NoWarn="NU5104"` on
the `PackageReference`. With the `3.1.401` SDK this no longer works. The

[2020-08-26 19:00] #9948 closed, assigned to nobody

[2020-08-26 19:00] nkolev92 commented on #9949
@joeloff commented on [Wed, 19 Aug 2020 22:19:46 GMT](https://github.com/dotnet/sdk/issues/12981#issuecomment-676762022)
I tried to repro this on machine with 3.1.401, but couldn't. I don't see anything obvious that would have regressed this. Have you looked at a binlog to see if the ```NoWarn``` property is perhaps getting cleared out by another target.

cc @nkolev92 in case he knows of any chang

[2020-08-26 19:00] nkolev92 commented on #9949
@iwillspeak commented on [Thu, 20 Aug 2020 08:00:37 GMT](https://github.com/dotnet/sdk/issues/12981#issuecomment-677441587)
I've updated the Gist with a script that reproduces the change in exit code with docker containers.

On my machine running `$ ./test_script.sh ` produces output similar to:

[code]

[2020-08-26 19:00] nkolev92 commented on #9949
@iwillspeak commented on [Thu, 20 Aug 2020 08:07:02 GMT](https://github.com/dotnet/sdk/issues/12981#issuecomment-677445978)

I believe that this would not fail the build as `TreatWarningsAsErrors` is not enabled. You are
right however. The test script in the Gist passes for 401 with the following properties:

[code]

I guess that when we tried setting that property in our larger solution where we

[2020-08-26 19:00] nkolev92 commented on #9949
@dasMulli commented on [Thu, 20 Aug 2020 08:19:21 GMT](https://github.com/dotnet/sdk/issues/12981#issuecomment-677452770)
However the feature was designed / supposed to work on the `PackageReference` item so that you can suppress individual packages that you know about and not disable this warning/error globally so you don't run into issues while updating.
@nkolev92 do you know about any changes i

[2020-08-26 19:00] nkolev92 commented on #9949
@iwillspeak commented on [Thu, 20 Aug 2020 08:22:02 GMT](https://github.com/dotnet/sdk/issues/12981#issuecomment-677454001)
Yeah, I'd rather not disable it globally. That package is the _only_ pre-release dependency we have. It would be nice to
prevent other pre-release dependencies slipping in.

[2020-08-26 19:01] nkolev92 commented on #9949
@nkolev92 commented on [Wed, 26 Aug 2020 19:00:03 GMT](https://github.com/dotnet/sdk/issues/12981#issuecomment-681064215)
I finally got some time to investigate this one.

I think the root cause is that pack doesn't respect per PackageReference NoWarn.

Now that behavior *is not* a regression. It's always been broken/not supported.

The reason why it appeared to work before was because pack *alway

[2020-08-26 19:04] nkolev92 commented on #9949
We'd be happy to consider a contribution for this, so marking it as up for grabs.
Code pointers: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/PackCollectorLogger.cs might need to work more like https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/RestoreCommand/Logging/RestoreCollectorLogger.cs.

[2020-08-26 19:39] ohadschn commented on #8638
I ran into this when my XML was malformed:
[code]

[2020-08-26 20:01] kartheekp-ms commented on #9943
Duplicate of #9944

[2020-08-26 20:01] #9943 closed, assigned to nobody

[2020-08-26 20:33] nkolev92 commented on #9914
Things tagged with `RegressionDuringThisVersion` should not appear in the release notes.
At least that's been my understanding.

I think the issue title is pretty good...how would you change it/the PR?

[2020-08-26 20:36] nkolev92 commented on #9914
So I double it won't appear in the release notes: https://github.com/NuGet/Entropy/blob/20b5d7b00be51a89d95712c3a67882b2354223b9/ChangelogGenerator/ChangelogGenerator/ChangelogGenerator.cs#L99-L103.

I am still how you'd change it though.

[2020-08-26 20:45] javierdlg commented on #5899
@ceztko can you try using this workaround?
[code]

[2020-08-26 20:53] nkolev92 commented on #3784
I think approach this with a mindset of making incremental improvements is great.

Certain things will lead to changes from sync to async APIs and have a small footprint.
Others will be harder.

Focusing on the easy/frequent codepaths is a good first pass.
Some changes might be harder to do. I think it's a reasonable suggestion to not do some of those immediately.

[2020-08-26 21:02] #9772 closed, assigned to advay26-zz

[2020-08-26 21:05] zivkan commented on #9914
I'd just say what file it's impacting. I'm guessing this is related to the `.g.nuget.props` and `.g.nuget.targets` files, and nothing else, but neither this issue nor the PR makes that clear. The issue or PR titles don't necessarily need to be changed, but neither the issue nor PR bodies gave context about what this change is about.

But since it won't be in the release notes, it's not a big deal.

[2020-08-26 21:07] dasMulli commented on #9949
Does this mean that the second example in https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#suppressing-nuget-warnings no longer works as documented or never worked properly?

[2020-08-26 21:08] nkolev92 commented on #9933
@v-luzh

I wouldn't expect anything to fail.

Given the flakiness of it appearing in the solution explorer, can you please check the files on disk?
It's possible that the project-system is flaky detecting those files there.

My primary goal was to determine whether this is a regression (which I don't think it is).

[2020-08-26 21:08] zivkan commented on #9914
Also, on the topic of issue titles, at least for release note titles, the title should use language to say what is fixed, not what the error is. So, "Generate correct condition in .g.nuget.[props|targets] for net5.0-windows" sounds better than a title that sounds like we want to introduce bugs :)

[2020-08-26 21:11] nkolev92 commented on #9914
The PR title is that tone, calling out the usage of the original strings.
I have added a clarification for `in nuget.g.*`.

I think the issue should say what's wrong, which it does.

I think we're misusing issue titles for bugs tbh :D For features, it makes sense...bugs not so much.

[2020-08-26 21:11] #9781 closed

[2020-08-26 21:14] nkolev92 commented on #9949
@dasMulli

They work in restore, but they don't work in pack.

It's *only* pack that doesn't seem to support package specific warnings.

[2020-08-26 23:21] #9946 closed, assigned to nkolev92

[2020-08-26 23:36] nkolev92 opened #9950 "Update the VS/MSBuild dependencies throughout our repo"
It's good practice to keep our VS/MSBuild dependencies up to date.
This tasks covers moving from prerelease to stable versions for MSBUild and bringing the VS dependencies as close to current shipping as possible.

[2020-08-26 23:56] nkolev92 commented on #8756
Isn't this a dup of https://github.com/NuGet/Home/issues/5887?

There definitely are some scope problems in #5887, but the OP is about showing the transitive dependencies.

[2020-08-26 23:57] nkolev92 commented on #7462
Closing in favor of https://github.com/NuGet/Home/issues/8000.
Marking as dup.

[2020-08-26 23:57] #7462 closed, assigned to nkolev92

[2020-08-27 00:00] nkolev92 commented on #7728
The priority is pretty low here.

Closing.

[2020-08-27 00:00] #7728 closed, assigned to nkolev92

[2020-08-27 00:06] #6819 closed, assigned to nkolev92

[2020-08-27 01:33] #9914 closed, assigned to nkolev92

[2020-08-27 02:22] v-luzh commented on #9933
Hi @nkolev92, I have checked the files on disk, they all pinned to 3.1.302 like what you showed above.

[2020-08-27 07:33] Shubham-wailthare opened #9951 "K"

[2020-08-27 07:52] heng-liu commented on #9941
Yes, the certificate on this author primary signature is revoked.
But we set the ChainPolicy.VerificationTime to timestamp.UpperLimit.LocalDateTime before chain building at https://github.com/NuGet/NuGet.Client/blob/784274cc9b2002ca73055e8134064261118d8a01/src/NuGet.Core/NuGet.Packaging/Signing/Utility/CertificateChainUtility.cs#L174-L177.

According to [X509ChainPolicy.VerificationTime Property](

[2020-08-27 09:52] jasonycw commented on #9775
I am having the same issue on Windows PowerShell 7 when using
[code]
99% of the time, the `dotnet nuget push` will return
[code]
But it seems that if I don't use `dotnet nuget push` but just `nuget push`, it will work most of the time
[code]
Reference: https://github.com/NuGet/Home/issues/8580#issuecomment-531997703

[2020-08-27 10:36] v-luzh commented on #9924
It is fixed on Dev\5.8.0.6797.

[2020-08-27 11:27] PaulVrugt commented on #6764
So, what can we do to get this thing moving? We've been waiting for this over 2 years

[2020-08-27 12:10] batzen commented on #6764
@PaulVrugt it works since sdk version 3.1.300. Only Visual Studio has no UI support for it yet.

[2020-08-27 15:43] kartheekp-ms commented on #9951
@Shubham-wailthare - Please update the issue as per [this](https://github.com/NuGet/Home/issues/new) template

[2020-08-27 15:44] #9951 closed, assigned to nobody

[2020-08-27 17:00] nkolev92 commented on #6764
Just a plug here to update to the latest 3.1.400 SDK/16.7.
There are a few fixes in the latest version relating to CPVM.

[2020-08-27 17:39] zkat commented on #9646
Closing as a duplicate of https://github.com/NuGet/Home/issues/8798, which is fixed. Please try it with the latest NuGet client and open a new issue if you can still repro this.

[2020-08-27 17:39] #9646 closed, assigned to nobody

[2020-08-27 17:39] zkat commented on #9921
Closing as a duplicate of https://github.com/NuGet/Home/issues/8798, which is fixed. Please try it with the latest NuGet client and open a new issue if you can still repro this.

[2020-08-27 17:39] #9921 closed, assigned to nobody

[2020-08-27 18:02] rconard commented on #9483
Updates to CVPM will only be included in the [.NET 5 SDK](https://dotnet.microsoft.com/download/visual-studio-sdks). You can target .NET Core and .NET Framework from the .NET 5 SDK.

.NET Core runtimes and SDK's are decoupled, but they share the same major and minor versions. Any version of the .NET Core or .NET 5 SDK can build any .NET Framework app or any .NET Core app that is equal to or lower

[2020-08-27 18:08] nkolev92 commented on #9696
There's a duplicate of it in https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1147361.

Please close that when the merge happens.

[2020-08-27 18:51] erdembayar opened #9952 "PM UI not updating correctly after repeated upgrade and downgrade operation"
## Details about Problem
I noticed PM UI doesn't update correctly if I keep upgrading or downgrading projects. It doesn't happen all the time, but if you try long enough then you'll notice it. I included gif animation for one case. ![PMUI_DelayToUpdate2](https://user-images.githubusercontent.com/8766776/91482512-08786f80-e85b-11ea-9ab1-0888ac5e54a5.gif)
It looks it's regression for PM UI experienc

[2020-08-27 19:56] zkat commented on #9939
Closing as dupe, and assigning that one to myself instead.

[2020-08-27 19:56] #9939 closed, assigned to zkat

[2020-08-27 20:07] advay26 commented on #9772
**Findings**

There were different considerations when it came to parallelizing Search:
- Should we throttle the queries so that no more than X queries are queued to run in parallel? Given that the number of sources that a user will usually query will be low, and will not usually exceed the number of processors in their machine by much, does this improve the performance for the general case, or ad

[2020-08-27 20:24] nkolev92 commented on #9952
Potential fix in the draft PR here: https://github.com/NuGet/NuGet.Client/pull/3595/files#diff-0ca001db736f7c81adbec4c4666b2032R47-R257

[2020-08-27 21:29] nkolev92 opened #9953 "Performance: Reduce UIDelays in GetPackageSpecsAsync for Legacy projects and non PR projects"
There are plenty of UI delays causes in this codepaths that affect codepaths at initialization and more importantly restore.

There are many related issues here, so consider this an epic if necessary.

The goal here is to reduce the impact of legacy project on all NuGet operations.

Issues: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1168242

[2020-08-27 21:29] erdembayar commented on #9932
It looks you got this log from public VS2019. I got similar duplicate restore on my [TestRepo](https://github.com/erdembayar/MainApplicationTestSolution):
https://gist.github.com/erdembayar/d96a2f5cb45b92bec8e598f45484194b
ConsoleApp2.csproj was restored 2 times.

Below is log from experimental instance with my changes:
https://gist.github.com/erdembayar/772db3f51d191b9068f691671abbe293
Both Conso

[2020-08-27 21:40] nkolev92 commented on #6641
Thank you very much for your feedback. We appreciate you letting us know about the problem you encountered. Based on community feedback, this is currently low priority for us.

[2020-08-27 21:40] #6641 closed, assigned to nobody

[2020-08-27 21:43] nkolev92 commented on #7183
Closing this as non-NuGet.

[2020-08-27 21:43] #7183 closed, assigned to nobody

[2020-08-27 22:02] #3468 closed, assigned to nobody

[2020-08-27 22:10] erdembayar commented on #9932
It looks both install and uninstall actions share same code path NugetPackageManager#[Line2601](https://github.com/NuGet/NuGet.Client/blob/17c2ba939257bb5988bdbc5c8391dfeed2b7e3aa/src/NuGet.Core/NuGet.PackageManagement/NuGetPackageManager.cs#L2601) where code optimization change was made. So now uninstall scenario also benefit from my change too.

[2020-08-27 22:14] Gabriel-Lacatus commented on #7605
I am also seeing these 401s happen randomly within Azure DevOps build pipelines. Sometimes we get the 401 and the build fails, then after a few minutes we run the same pipeline, without any changes to anything and it will work. It looks absolutely random, the only thing that I can think of that changes is the agent that's being assigned to run the pipeline but even so I've seen the same agent fail

[2020-08-27 22:27] nkolev92 commented on #9073
Closing per the above comment.
This is currently the expected design of packages.config based projects.

[2020-08-27 22:27] #9073 closed, assigned to nobody

[2020-08-27 22:27] nkolev92 commented on #9123
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-08-27 22:27] #9123 closed, assigned to nobody

[2020-08-27 22:29] #9818 closed, assigned to nobody

[2020-08-27 22:30] nkolev92 commented on #9296
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-08-27 22:30] #9296 closed, assigned to nobody

[2020-08-27 22:31] nkolev92 commented on #9378
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-08-27 22:31] #9378 closed, assigned to nobody

[2020-08-27 22:31] nkolev92 commented on #9392
Closing per the above.

[2020-08-27 22:31] #9392 closed, assigned to nobody

[2020-08-27 22:35] nkolev92 commented on #9932
Can you please add tests for it then?

A scenario like the one I called out in https://github.com/NuGet/Home/issues/9932#issuecomment-679439201, would be great!

Assigning to you given that your change is already addressing it.

[2020-08-27 22:35] nkolev92 commented on #9418
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-08-27 22:35] #9418 closed, assigned to nobody

[2020-08-27 22:36] nkolev92 commented on #9616
Closing this per the above.

We don't have any relevant metadata for transitive references today.
If/when we add them, we can reconsider.

[2020-08-27 22:36] #9616 closed, assigned to nobody

[2020-08-27 23:58] aortiz-msft commented on #9358
@rrelyea is this still blocked? if not, let's try to address it this sprint.

[2020-08-28 00:06] nkolev92 commented on #6488
I fixed this in https://github.com/NuGet/NuGet.Client/commit/7aefbcf4c192ee87af5799556e455c667dcaff30.

The impact was actually significantly larger than I thought :)

[2020-08-28 00:06] #6488 closed, assigned to nkolev92

[2020-08-28 00:09] nkolev92 commented on #6784
With NET5, mono is a lower priority.
Lots has changed since this issue has been created, in coverage particularly.

[2020-08-28 00:09] #6784 closed, assigned to nobody

[2020-08-28 00:12] stevenbrix commented on #9358
@aortiz-msft, don't get my hopes up... 😃

[2020-08-28 01:23] kartheekp-ms commented on #9947
Nuget 5.8 prev2 packages are now published to `nuget.org`

[2020-08-28 01:23] #9947 closed, assigned to kartheekp-ms

[2020-08-28 08:06] CodeKarno commented on #9882
Hi all,

I also reproduced this behavior.

Microsoft Visual Studio Professional 2019
Version 16.7.2

**Steps to reproduce:**

1. Create a new ASP.NET MVC application, .NET Framework 4.7.2;
2. Install the SpecFlow 3.3.74 package via the NuGet Package Manager UI;
3. Clear the NuGet cache;
4. Go to the "Updates" page in Package Manager. Select all packages and hit "Update" there.

Sample project:
[We

[2020-08-28 09:28] lippinio commented on #9483
We tried the CPVM yesterday and we think it's a great feature. Today we have updated from dotnet sdk 3.1.100 to 3.1.401.
And we get the _System.Collections.Generic.KeyNotFoundException: The given key was not present in the dictionary._ in the restore.  With the attached zip we could exactly reproduce the failure.
As I understand a pontential fix will only be included in the .NET 5 sdk is this corr

[2020-08-28 15:04] erdembayar commented on #9932
I added 2 unit tests for this case: [NetCorePackageReferenceProjectTests#L2156](https://github.com/NuGet/NuGet.Client/blob/530be9263181018b79bddae991a9dda0dc2d0998/test/NuGet.Clients.Tests/NuGet.PackageManagement.VisualStudio.Test/NetCorePackageReferenceProjectTests.cs#L2156)
[NetCorePackageReferenceProjectTests#L2325](https://github.com/NuGet/NuGet.Client/blob/530be9263181018b79bddae991a9dda0dc2d

[2020-08-28 16:13] lennartb- commented on #5899
@javierdlg Thanks, this works for me. Should be noted that this has to be added to the csproj, not the vsixmanifest as I tried at first.

[2020-08-28 17:56] #9950 closed, assigned to nkolev92

[2020-08-28 18:40] bladewolf55 commented on #4234
Using the exact same project and build:

Nuget Version 5.6.0.6591 does not display the Authors/Description error.  However, version 5.7.0.6726 does.

I'm surprised this important issue doesn't seem to be regression tested.

**5.6 output**
[code]

**5.7 output**
[code]

[2020-08-28 18:41] bladewolf55 commented on #4234
I see the original thread is closed. Should I start a new one, or can this be reopened?

[2020-08-28 18:47] zivkan commented on #4234
I think it's better to start a new thread. This thread was closed when a PR was merged, meaning this issue is linked to our release notes.

[2020-08-28 20:33] zkat commented on #9890
Note: Assigning to myself to track stuff landing.

[2020-08-28 20:36] #9002 closed, assigned to erdembayar

[2020-08-28 20:47] nkolev92 commented on #9920
There's an initial version of the dashboards.
Some additional improvements can be made for OrchardCore.

[2020-08-28 20:50] bladewolf55 opened #9954 "NuGet again throwing exceptions "authors is required" "description is required", ignoring csproj/nuspec replacement tokens"
## Maintainer edit

If you are still seeing this issue with the latest NuGet.exe version, please *unblock* the executable.

See: https://github.com/NuGet/Home/issues/9954#issuecomment-754952859

## Original report
For previous history on this problem, see issue [#4234](https://github.com/NuGet/Home/issues/4234).

Using the exact same project and build:

NuGet Version 5.6.0.6591 does not display th

[2020-08-28 22:59] nkolev92 commented on #4234
@bladewolf55 this issue was fixed in 5.7, not 5.6.

[2020-08-28 23:01] nkolev92 commented on #4234
@bladewolf55

The change for this particular issue is in 5.7, not 5.6.

[2020-08-28 23:02] nkolev92 commented on #9954
@bladewolf55 Can you please provide a repro?

The change for the issue you are mentioning was in 5.7, not 5.6

[2020-08-28 23:38] kartheekp-ms commented on #9954
Thanks @nkolev92. I agree.
@bladewolf55 - I am unable to reproduce the issue. I created a `Classlibrary (.NET Framework)` project in `VS 2019 16.7.2` and executed `nuget pack` command which produced following output with couple of **NU5115** warnings for missing values `Description` and `Author` in `.csproj` file.
[code]
Can you please provide a repro?

[2020-08-29 00:17] erdembayar opened #9955 "Parallelize create actions before preview for PreviewBuildIntegratedProjectsActionsAsync method"
## Details about Problem
During my performance improvement effort Nikolche [pointed out](https://github.com/NuGet/NuGet.Client/pull/3559/files#r479564095) I can parallelize create actions before preview. Since I agree with him creating this follow up issue.
`I think this whole loop can be parallelized too. The bottleneck in particular is the LockFile.Read.
I don't think you should do it now do, I'

[2020-08-29 00:53] nkolev92 commented on #7790
Fixed https://github.com/NuGet/NuGet.Client/pull/2863.

The snk was added for ngen purposes.

[2020-08-29 00:53] #7790 closed, assigned to nobody

[2020-08-29 02:05] erdembayar opened #9956 "Make creating NuGetProjectActions for uninstall from PM UI a parallel operation"
## Details about Problem
With my PMUI performance improvement [PR#3559](https://github.com/NuGet/NuGet.Client/pull/3559) makes `Uninstall` operation 2 times faster for large solution like OrchardCore.

Before https://gist.github.com/erdembayar/2ba554f169e4f078baa61976affa62d4  `2 min 1 seconds`.
After    https://gist.github.com/erdembayar/2f9aebfbdc78e31d229a03223c8b1888  `58 seconds`.

But there

[2020-08-29 02:59] bladewolf55 commented on #9954
Of course. I should have provided that the first time.

**Environment**

*   Visual Studio 2019 16.7.2
*   Windows 10 Pro (latest stable release)

**Steps to Reproduce**

1.  Create a .NET Framework Class Library (Framework 4.7.2)
2.  In the ClassLibrary1.csproj project folder, run `nuget spec`
3.  Reduce the resulting ClassLibrary1.nuspec file to the required properties
[code]
4.  In Properties\A

[2020-08-29 18:48] osmodies commented on #9073
Thanks, for your answer, but in the installation in azure pipelines not add content files to solution, for this i used this script powershell
My workaorund was creating script powr shell that copy content restore in rout of web application>
$sourceDir = "$(system.defaultworkingdirectory)" + "\packages"
$targetDir = "$(system.defaultworkingdirectory)"
$filter= "recursosED"
$bin = Get-ChildItem -Rec

[2020-08-30 06:50] AlirezaHaghshenas commented on #4103
This is really frustrating. Imagine a solution with tens of projects and tens of nuget dependencies per project. This leads to many outdated packages. Right now I ran `dotnet list package --outdated` on a small solution te get 32 results. I want something like: `dotnet list package --outdated --upgrade`.

- no `dotnet add package <package_name>` is not viable. One needs to update all outdated pack

[2020-08-30 23:26] zivkan commented on #9073
I just tried very quickly to reproduce your scenario, but I was not able to reproduce your result.

I created an empty folder `contentPkg`, ran `dotnet new classlib`, created a file `context.xml`, and added `<Content Include="content.xml" PackageCopyToOutput="true" />` in an `ItemGroup`. I then ran `dotnet pack` and copied the nupkg to a local package source.

In another folder I ran `dotnet new m

[2020-08-31 01:59] drewgillies commented on #8756
Thanks, @nkolev92. I wasn't aware of https://github.com/NuGet/Home/issues/5887, and it's a very important piece of background here. It looks on the surface like this issue is _dependent_ on https://github.com/NuGet/Home/issues/5887 rather than a dupe of it. I've renamed this issue to track the specifics of showing vulnerabilities in transitive packages. https://github.com/NuGet/Home/issues/5887 ha

[2020-08-31 02:14] davkean opened #9957 "NuGet features should light up for projects that have the capability; "PackageReferences""
This is a superset of https://github.com/NuGet/Home/issues/9358.

As part of https://github.com/dotnet/project-system/issues/2491, we're adding general purpose PackageReference support to the [Common Project System (CPS)](https://github.com/microsoft/vsprojectsystem). Project types will opt into this feature by making sure they are marked with the "PackageReferences" capability.

Currently NuGet h

[2020-08-31 02:16] davkean commented on #9358
@aortiz-msft @rrelyea To address https://github.com/dotnet/project-system/issues/2491, instead adding another project type to this list, can we please check for the PackageReferences capability as specified in https://github.com/NuGet/Home/issues/9957? This also lets project types experiment with Package Reference support without needing NuGet to opt them in and shipping with it opt'd in.

[2020-08-31 02:57] davkean commented on #9358
I have a fix for this based on the ProjectReferences capability; https://github.com/NuGet/NuGet.Client/pull/3618. @sbanni CPS-based projects should be using PackageReferences to opt in. I haven't yet verified end-to-end yet and will be doing so over the week.

[2020-08-31 02:57] davkean commented on #9358
This bug can probably be closed in lieu of https://github.com/NuGet/Home/issues/9957.

[2020-08-31 06:51] jasonycw commented on #9775
I am having the same issue on Windows PowerShell 7 when using
[code]
99% of the time, the `dotnet nuget push` will return
[code]
But it seems that if I don't use `dotnet nuget push` but just `nuget push`, it will work most of the time on Windows
[code]
Reference: https://github.com/NuGet/Home/issues/8580#issuecomment-531997703
NuGet Version: 5.2.0.6090

-------------------------

So I retried `dot

[2020-08-31 09:17] v-longmin opened #9958 "[Test Failure]Error “Unable to load the service index for source https://apidev.nugettest.org/v3-index/index.json” occurs after switching package source"
## Details about Problem
VS Version: Main\30430.19
OS Version: Windows-10-Enterprise-RS5.
NuGet Version: Dev\5.8.0.6801

## Installations
1. Install VS: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4024945&view=ms.vss-build-web.run-extensions-tab
2. Install NuGet: \\ddfiles\drops\NuGet\Drops\CI\NuGet.Client\dev\5.8.0.6801\artifacts\VS15\NuGet.Tools.vsix

## Detailed repro steps
1.

[2020-08-31 12:26] v-luzh opened #9959 "An error “cannot find an instance of the NuGet.VisualStudio.IVsProjectAdapter service” occurred when installing a PackageReference package into a renamed .NET Framework project"
## Details about Problem
NuGet version: NuGet Client Dev\5.8.0.6801
VS Version: Main\30430.19
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Create a non-.Net SDK-style project [e.g. C# Class Library (.NET Framework)] in VS—named ClassLibrary.
2. Open the PM UI of the project and rename the project (renamed ClassLibraryFw) in Solution Explorer (you can see the PM UI window name had updat

[2020-08-31 12:29] v-luzh opened #9960 "[Test Failure] Error “The SVsNuGetRecommenderService service is unavailable” occurred when loading the package list in Browse tab of Blend WPF App (.Net Framework) project PM UI"
## Details about Problem
NuGet version: NuGet Client Dev\5.8.0.6801
VS Version: Main\30430.19
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1.	Create a C# WPF App (.Net Framework) project in Blend for Visual Studio.
2.	Open the PM UI of the project (package source is nuget.org) and go to the “Browse” tab.
## Expected
No error occur.
## Actual
Error “The SVsNuGetRecommenderService service i

[2020-08-31 13:02] abelbraaksma opened #9961 "CLI nuget gives SSL/TLS errors communicating with nuget.org on basically any command on win7 with default TLS settings"
## Details about Problem

NuGet product used: Nuget.exe
NuGet version: 5.7.0.7

VS version (if appropriate): VS 16.7.2 (issue is applicable to some VS actions, see: https://github.com/NuGet/NuGetGallery/issues/8176)

OS version: Win7. On Win10 v2004 the issue _does not_ rise.

Worked before? If so, with which NuGet version: Nuget delivered with VS before VS 16.7.0, not sure what version of Nuget t

[2020-08-31 13:21] patrickhousley opened #9962 "Provide better cli help for subcommands"
## Details about Problem

Nuget should provide better help information on the CLI for sub-commands. Trying to determine what flags are available to a sub-command seems to require looking up and reading through online documentation. Most CLI tools typically provide this information in the form of a `--help` flag.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.

[2020-08-31 13:23] patrickhousley commented on #9962
Never mind, I should have paid more attention to the `help` command output. Sorry to bother.

[2020-08-31 13:23] #9962 closed, assigned to nobody

[2020-08-31 13:57] #9918 closed, assigned to dtivel

[2020-08-31 15:53] rconard commented on #9483
@lippinio
Fixes are included in the .NET 5 SDK, but you can use this build SDK to target .NET Core 3.1.401.

[2020-08-31 17:18] dominoFire commented on #9851
Is this happening in Windows Narrator and NVDA?

[2020-08-31 17:19] nkolev92 commented on #9851
I tested with Narrator

[2020-08-31 17:41] rrelyea commented on #9358
closing as dupe of https://github.com/NuGet/Home/issues/9957

[2020-08-31 17:41] #9358 closed, assigned to rrelyea

[2020-08-31 17:42] #9341 closed, assigned to cristinamanum

[2020-08-31 17:43] rrelyea commented on #9919
testing early last week didn't show this DLL loading. RPS will be needed to confirm eventually, so leaving open.

[2020-08-31 17:50] donnie-msft opened #9963 "Compare perf & tab-switch bugs between Dev and VS.OE branches"
Created per @aortiz-msft request in 8/31/20 standup

[2020-08-31 18:04] donnie-msft commented on #9963
Waiting on ping from @sbanni whose PR may improve perf.... expected sometimes this week-ish

[2020-08-31 18:05] #9920 closed, assigned to srdjanjovcic

[2020-08-31 18:07] nkolev92 commented on #9953
@srdjanjovcic not costing it right now, but given that you have VS specific knowledge I don't expect it to take too long (think less than a week for sure. It's really dependent on how many problems beyond what the UI delay data calls out you find.)

[2020-08-31 18:08] zivkan opened #9964 "Use HttpRequestMessage.Options instead of Properties on net5.0"
https://github.com/dotnet/runtime/pull/39182 marked `HttpRequestMessage.Properties` as obsolete. Since we treat warnings as errors, this is causing NuGet.Client to fail to compile on new SDKs.

[2020-08-31 18:38] kartheekp-ms commented on #9696
This [Feedback ticket](https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1178716) is closed as duplicate of this issue.

[2020-08-31 18:40] donnie-msft commented on #8814
@dominoFire any clue to the cause of this one? My perf work may resolve this, as I'm attempting to cache Installed packages after first load. If it's a reload issue, then I may fix this one for free.

[2020-08-31 18:41] donnie-msft commented on #9789
@chgill-MSFT has this been evaluated? I'm working on icons now, so ideal time to change it, if warranted

[2020-08-31 18:44] donnie-msft commented on #9847
Dupe of https://github.com/NuGet/Home/issues/5937

[2020-08-31 18:44] #9847 closed, assigned to chrisraygill

[2020-08-31 18:48] nkolev92 commented on #9789
cc @JonDouglas for awareness :)

[2020-08-31 18:51] jmarolf opened #9965 "Central Package Management throws errors regarding duplicate dictionary keys when attempting to create the lock file"
## Details about Problem

<details>
  <summary>Versions</summary>

- **NuGet version (5.8.0.4):** https://github.com/NuGet/NuGet.Client/commit/3501ddedc274ac10d4b135856b7593a6bb8a72f1
- **dotnet.exe --version:** 5.0.100-rc.1.20427.12
- **Visual Studio Version:** 16.8.0 Preview 2.0
- **OS version:** Windows 10 Version 2004 (OS Build 19041.450)
</details>

**Worked before?** No, I believe this featu

[2020-08-31 19:09] #9696 closed, assigned to dominoFire

[2020-08-31 19:52] rrelyea opened #9966 "NuGet.Packaging.Extraction needs ilmerge to exclude Newtonsoft.Json"
VS setup customers of nuget.packaging.extraction.dll have problems due to the fact that ILMerged dll has newtonsoft.json.
trying to unblock them with newtonsoft.json not in DLL...

Since dependencies are hidden in this package, it will not properly describe its need for newtonsoft.json right now...so users will need to add a newtonsoft.json package ref too.

[2020-08-31 20:10] zkat commented on #6285
I'm gonna probably use this as a new Epic to track stuff needed for Pack

[2020-08-31 20:16] KevinRansom opened #9967 "Invalid restore input. Invalid target framework 'unsupported': BUILDING F# repo using dogfood build of visual studio"
With the dogfood build of visual studio and using the Developer command prompt from that build the F# build fails with the message:
[code]

Repro:
1.   Install latest vs dogfood build from here:
      https://aka.ms/vs/dogfood/install
      Select .NetDesktop Framework, Desktop development with C++, Visual Studio extensions workloads to be installed
![image](https://user-images.githubusercontent.c

[2020-08-31 20:19] zkat commented on #7381
We're not consistent about this across the codebase, and this would be a breaking change.

[2020-08-31 20:19] #7381 closed, assigned to nobody

[2020-08-31 20:37] zkat commented on #9937
Can you please let us know the expected customer impact on this issue, so we can reassess priority? Should we discuss it in our weekly meeting?

Ref: https://github.com/dsplaisted/ReferenceAssemblyPackages
Ref: https://github.com/dotnet/designs/blob/master/accepted/2020/targeting-packs/targeting-packs.md

[2020-08-31 20:40] zkat commented on #9952
@JonDouglas ping so you can maybe add this to an epic for tracking similar inconsistencies/hiccups 🥇

[2020-08-31 20:43] heng-liu commented on #9941
The chain building results on Linux and MacOS will have Revoked status, even if we specify the X509ChainPolicy.VerificationTime.
Dotnet runtime won't make any change to make the results same for different platforms.

So the restore will fail on Linux and MacOS, but succeed on Windows, for those packages with revoked certificate, even if it's timestamped.
Do you have any concerns? @rido-min @ananga

[2020-08-31 20:44] zkat commented on #9954
ping @rrelyea because hotseat. Can you confirm that this is an actual bug, or that a bugfix we did caused this to start (correctly) failing?

[2020-08-31 20:50] zkat commented on #9958
@rrelyea Could you take a look at what this might be pointing to? See discussion on Teams, because this might just be a server-side issue, potentially, but it also might be something wrong with our TLS.

See also: https://github.com/NuGet/NuGet.Client/pull/3618#issuecomment-683538702

[2020-08-31 20:57] zkat commented on #9960
Possibly related to https://github.com/NuGet/Home/issues/9959. Might be a MEF-related regression?

[2020-08-31 21:16] #9966 closed, assigned to rrelyea

[2020-08-31 21:50] rrelyea commented on #9954
[n.h.9954.zip](https://github.com/NuGet/Home/files/5152784/n.h.9954.zip)

Attached my repro attempt based on your instructions.
extract zip file.
have nuget.5.6.exe and nuget.5.7.exe in your path (or adapt repro.cmd)
cd n.h.9954
run repro.cmd

my output:

[code]

so it appears that it was broken in 5.6 and is now fixed in 5.7.
What did we do differently?

[2020-08-31 22:02] #9850 closed, assigned to drewgillies

[2020-08-31 22:57] nkolev92 opened #9968 "Performance scripts don't account for restore operation failures"
Currently the performance scripts will not report in any way, shape or form that an operation failed.
While most of our test cases are set-up in a way that doesn't fail, but sitll makes investigations when failures do occur, quite a pain :)

[2020-08-31 23:18] nkolev92 opened #9969 "Add support for msbuild restore + static graph restore in the perf scripts"

[2020-08-31 23:51] nkolev92 commented on #9967
Hey Kevin,

your issue seems related to a breaking behavior NuGet + SDK had to introduce about the Target Framework concept.
The arcade SDK needed to set the TargetFrameworkMoniker in order for NuGet to not return unsupported.

That was done over the last few weeks, so I'd expect upgrading to the latest arcade should fix this problem.
https://github.com/dotnet/arcade/pull/5996/files and https://gi

[2020-08-31 23:52] KevinRansom commented on #9967
Okay, thanks, I will investigate.  Although I think we are up todate on arcade,

From: Nikolche Kolev <notifications@github.com>
Sent: Monday, August 31, 2020 4:52 PM
To: NuGet/Home <Home@noreply.github.com>
Cc: Kevin Ransom <Kevin.Ransom@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [NuGet/Home] Invalid restore input. Invalid target framework 'unsupported': BUILDING F# repo usin

[2020-08-31 23:55] KevinRansom commented on #9967
Yes, that does look like it might cause the issue we are seeing.

[2020-09-01 00:13] bladewolf55 commented on #9954
Here's my output using your zip file and running the command `"repro.cmd 1> out.txt 2>&1`. You'll see it's different than your results. The only difference I see is the MSBuild version. But be sure to read after that, because I'm getting different behaviors depending on *how* I build and pack.

[code]

---

So, here are a few other ways to build and release. In each case, I delete the bin/obj fold

[2020-09-01 00:41] heng-liu commented on #9959
I couldn't repro with the following:
internal preview channel: VS 16.8.0 Preview 3.0 [30431.6.main](latest dogfooding) + NuGet Client Dev\5.8.0.6801
public preview channel : VS 16.8.0 preview 2.1 + NuGet Client Dev\5.8.0.6801

Hi, @v-luzh could you help check if it still repro on latest VS? Thanks!

[2020-09-01 00:41] heng-liu commented on #9960
I couldn't repro with the following:
internal preview channel: VS 16.8.0 Preview 3.0 [30431.6.main](latest dogfooding) + NuGet Client Dev\5.8.0.6801
public preview channel : VS 16.8.0 preview 2.1 + NuGet Client Dev\5.8.0.6801

Hi, @v-luzh could you help check if it still repro on latest VS? Thanks!

[2020-09-01 00:45] JonDouglas commented on #9789
@andreinitescu I think I agree with your assessment of using a checkmark instead of a green down arrow & other suggestions.

I believe the reason why it's a green down arrow is to complement the opposite which is a blue up arrow for "update available". However this is pretty confusing as a user. I've ran into this many times myself too where I mistakenly check for updates because I see the icon ye

[2020-09-01 00:58] nkolev92 opened #9970 "format should be run in build.ps1"
The problem is simple, I personally sometimes run build.ps1 to ensure that the project is at least buildable before pushing to the CI, but only in 2 weeks I've had cases where my WIP branch does not compile due to formatting changes.

In order to improve this I think it'd be worth it to run format locally.

[2020-09-01 01:42] kartheekp-ms opened #9971 "unit test to compare lock file target libraries in project.assets.json file with Dependencies tree"
This issue has been created to develop a unit test to compare lock file target libraries in `project.assets.json` file with Dependencies tree. Inspired by [this](https://github.com/NuGet/NuGet.Client/pull/3598#discussion_r475776278) code review comment.

[2020-09-01 01:47] shyzus opened #9972 "NuGet Invalid Version String - on Linux when os-versions includes a space in the version"
# Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet

NuGet version (x.x.x.xxx): 5.4.0.2

dotnet.exe --version (if appropriate): 3.1.106

VS version (if appropriate): N/A

OS version (i.e. win10 v1607 (14393.321)): Fedora 32.20200831.0 (Silverblue)

Worked before? If so, with which NuGet version: N/A

## Detailed repro steps so we can see t

[2020-09-01 02:52] v-luzh commented on #9960
Hi @heng-liu , I still can repro on main\30431.43 + NuGet Client Dev\5.8.0.6801 as below screenshot.
![image](https://user-images.githubusercontent.com/20632625/91789379-1e15dc80-ec41-11ea-8d2f-73bcb1475943.png)

[2020-09-01 02:57] #9964 closed, assigned to zivkan

[2020-09-01 05:41] v-luzh commented on #9959
Hi @heng-liu , I still can repro on main\30431.43 + NuGet Client Dev\5.8.0.6801 as below screenshot.
![image](https://user-images.githubusercontent.com/20632625/91798990-b8cde580-ec58-11ea-9729-4982f5585b34.png)

[2020-09-01 10:54] Nirmal4G opened #9973 "Local Build fails when Build encounters an RSP (response) file"
## Details about the Problem

Repository: [NuGet.Client](/NuGet/NuGet.Client)

When building locally, the common.ps1 script will fail when it encounters a response file like `Directory.Buil.rsp` within or above the repo folder. The reason is that the script gets the .NET SDK version through MSBuild text output but when the response file is detected, MSBuild spews out a header text for the response

[2020-09-01 11:15] Nirmal4G commented on #9917
It should run before Restore and Build and fail fast if the style verification encounters warnings and errors.

[2020-09-01 16:02] ChrisMaddock opened #9974 "Use 'https://' when adding new package source through Visual Studio options"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 5.4.0

VS version (if appropriate): 16.4.4

OS version (i.e. win10 v1607 (14393.321)): win10

Worked before? If so, with which NuGet version: n/a

## Detailed repro steps so we can see the same problem

When adding a new package source through the VS UI - place

[2020-09-01 16:03] chitsaw opened #9975 "error"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2020-09-01 16:04] chitsaw commented on #9975
sorry - opened in error in wrong project :(

[2020-09-01 16:04] #9975 closed, assigned to nobody

[2020-09-01 17:24] heng-liu commented on #9960
@v-luzh , thanks for your reply!
But I still failed to repro. Could you pls check if anything is incorrect in the following repro? Thanks!

I tried VS Enterprise (Branch Channel)  in the link https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4026264&view=ms.vss-build-web.run-extensions-tab
![image](https://user-images.githubusercontent.com/45407901/91879570-e5700600-ec34-11ea-818b-76c7

[2020-09-01 17:42] sheeraz-durrani commented on #6140
Hi,
I am using the same approach for docker like nuget.config to restore telerik reporting package but its not working trying to pass username and password from nuget.config file. but its not working. Did anyone face the same issue or any resolution for it?

[2020-09-01 17:44] heng-liu commented on #9959
Thanks! I could repro now.
Previously, I didn't open PMUI before renaming the project, so I didn't repro.

[2020-09-01 17:59] jmarolf commented on #9917
Its currently in beta but in version 5 of `dotnet-format` you will be able to automatically fixup [StyleCopAnalyzers](https://github.com/DotNetAnalyzers/StyleCopAnalyzers) if you add them to your project.

[2020-09-01 18:00] jmarolf commented on #9965
ping @NuGet/nuget-client

[2020-09-01 21:28] rrelyea commented on #9959
@aortiz-msft  - test seems to say that this is not a regression in 16.8. Broken in 16.7 too.

[2020-09-01 21:34] heng-liu commented on #9959
Yes, this is a legacy issue. I could even repro on 16.6.0.

[2020-09-01 21:45] rrelyea commented on #9958
apidev had a cert expired. NUget server team are working to fix now. per @agr

[2020-09-01 21:45] #9958 closed, assigned to rrelyea

[2020-09-01 21:57] zivkan commented on #9958
@v-longmin The package NuGet.Core on nuget.org (production) is marked as deprecated, so you can probably update your test instructions to use that package, and avoid using dev/test server environments.

[2020-09-01 22:19] srdjanjovcic opened #9976 "Error messages about targeting runtime 'win7-x64' are littering Visual Studio error list"
When I open NuGet.sln in Visual Studio, error list is littered with error messages

[code]

There is one for each test project (21 in total).

[2020-09-01 22:34] kartheekp-ms commented on #9910
Should be fixed by https://github.com/dotnet/sdk/pull/13093

[2020-09-01 22:34] #9910 closed, assigned to kartheekp-ms

[2020-09-01 23:56] #9969 closed, assigned to nkolev92

[2020-09-02 01:47] v-longmin commented on #9958
@zivkan Thanks for your reminder. We have updated our deprecated test case.

[2020-09-02 01:51] v-luzh commented on #9960
@heng-liu, I can repro on my VM (main\30431.43+NuGet Dev\5.8.0.6805) following your steps.
![image](https://user-images.githubusercontent.com/20632625/91922889-a8be1080-ed01-11ea-940c-5e39d00eaad0.png)
Could you please try ignoring the step1~step3, directly verify from step4?

[2020-09-02 03:44] davkean opened #9977 "NuGet.Client should replace using of ManagedImageMonikers with KnownMonikers"
NuGet.VisualStudio.Implementation uses 3 icons from ManagedImageMonikers. These should be replaced with KnownMonikers equivalents to make sure that they pick up the icon refresh.

ManagedImageMonikers.ReferencePrivate -> KnownMonikers.ReferencePrivate
ManagedImageMonikers.Application -> KnownMonikers.Application
[Blocked] ManagedImageMonikers.NuGetGrey -> KnownMonikers.PackageReferencePrivate

The

[2020-09-02 05:49] v-luzh commented on #9959
Yes, it repro on D16.5\29905.175 (16.5 GA).

[2020-09-02 16:05] tgriff opened #9979 "Nuget Restore fails when it encounters a non-standard project"
My team has several Azure DevOps build pipelines to build different projects/products from a single solution. Almost all these pipelines have a Nuget Restore task to restore all packages for the solution that runs before the MSBuild task that builds a specific set of projects. Our solution mostly contains C# projects (class libraries, ASP.NET Web apps, etc.) but it also has a couple "non-standard"

[2020-09-02 16:44] dtivel opened #9978 "PM UI: null reference exception after selecting package"
In the dev-feature-OE.PMUI feature branch selecting a package causes a `NullReferenceException` [here](https://github.com/NuGet/NuGet.Client/blob/3a45400220e0d600a6d5f13968e773d35b817c3f/src/NuGet.Clients/NuGet.PackageManagement.UI/Models/PackageDetailControlModel.cs#L200).  Both `SelectedVersion` and `InstalledVersion` are initially `null`.

[2020-09-02 17:07] pnstickne commented on #3787
This "design". I don't know people spend so many years fighting over it instead of simply providing the tooling..

[2020-09-02 18:06] Crono1981 commented on #6935
Same issue here too. I have no choice but to specify no restore.

I really hope package operations with dotnet CLI will receive some serious love soon. Right now I don't feel I can rely on it for anything serious.

[2020-09-02 18:29] rrelyea commented on #9979
@tgriff - i assume you've also tried version 5.6/5.7 (whatever the latest you have available?)

[2020-09-02 18:37] dtivel opened #9980 "PM UI: uninstall package broken"

[2020-09-02 18:46] tgriff commented on #9979
Yes, I've tried several versions up to the latest 5.7.0 and they all throw this exception (and generate the subsequent warning).

Nuget Version | “nuget restore” throws exception?
-- | --
5.7.0 | Yes
5.6.0 | Yes
5.5.1 | Yes
5.0.2 | Yes
4.9.4 | Yes
4.8.2 | Yes
4.7.3 | No
4.5.0 | No

In case it wasn't clear from my initial post, the warning that occurs after the exception indicates it will only rest

[2020-09-02 18:59] aortiz-msft commented on #6935
@Luqswe - I have reopened the issue based on your comments.

@Crono1981 - What version of the .NET SDK are you using?

[2020-09-02 19:46] #9786 closed, assigned to zivkan

[2020-09-02 19:47] zivkan commented on #9786
I expect the fix will be available in NuGet 5.8 and the .NET 5 SDK (rc2 maybe. I'm not sure if there's time for us to make rc1 still)

[2020-09-02 19:49] #9934 closed, assigned to nugetlurker

[2020-09-02 19:51] zivkan commented on #9934
@Youssef1313 thank you for contributing a PR!  I believe this should make it into VS 16.8 before it goes GA.

[2020-09-02 21:34] #9980 closed, assigned to dtivel

[2020-09-02 21:34] #9978 closed, assigned to dtivel

[2020-09-02 21:48] Crono1981 commented on #6935
@aortiz-msft I'm on 3.1.401

[2020-09-02 22:04] #9976 closed, assigned to srdjanjovcic

[2020-09-02 22:26] heng-liu opened #9981 "Remove temporary fix on HttpRequestMessage.Options"
`HttpRequestMessage.Properties` is [marked as obsolete](https://github.com/dotnet/runtime/blob/release/5.0-rc2/src/libraries/System.Net.Http/src/System/Net/Http/HttpRequestMessage.cs#L130) , and a new property `HttpRequestMessage.Options` is suggested to be used, to replace it since .NET5 SDK rc-1.
And PR https://github.com/NuGet/NuGet.Client/pull/3619/files fixed this issue.

But we're building o

[2020-09-03 00:05] #9554 closed, assigned to dtivel

[2020-09-03 00:41] #9974 closed, assigned to nobody

[2020-09-03 00:42] zivkan commented on #9974
@ChrisMaddock thanks for the contribution!  This should make it into VS 16.8 before it reaches GA

[2020-09-03 01:42] lostmsu commented on #890
@rrelyea what exactly is the problem here with LZMA? It is not a breaking change to allow something, that was not allowed previously. The older clients won't be able to download new packages compressed with LZMA, but those a new packages. Previously existing packages will still work with older clients.

[2020-09-03 04:16] #9875 closed, assigned to nugetlurker

[2020-09-03 05:48] nkolev92 opened #9982 "Solution Load Restore runs after first 50 nominations instead of waiting for all nominations"
This leads to multiple restore for large solutions, and often times the first of those restores is a failure (because of a missing nomination).

[2020-09-03 07:12] heng-liu commented on #9960
Thanks @v-luzh
I tried to start from step4. But I still couldn't repro.
May I know which link did you use to install VS from, eg: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4026264&view=ms.vss-build-web.run-extensions-tab
I used the  VS Enterprise (Branch Channel) link.

[2020-09-03 08:31] v-luzh commented on #9933
Note: Closing the solution/VS in step 2 will repro this issue. The bug will not repro if you don't close the solution/VS in step2. And that's why we didn't run into the bug before. That's because we always execute the command with the solution opened in VS.

[2020-09-03 08:37] v-luzh commented on #9960
Hi @heng-liu, Yes the link we used is same with you:
Install VS Main\30431.43 from https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4026264&view=ms.vss-build-web.run-extensions-tab. We used the VS Enterprise (Preview Channel) link.

[2020-09-03 08:59] ManIkWeet commented on #7848
@nkolev92 It would be nice if you could give an indication on how to disable the validation. It would save future visitors a lot of time.

[2020-09-03 10:48] jcansdale commented on #9775
@jasonycw,

Thanks for sharing your investigations!

You say `nuget push` works most of the time on Windows. I thought this was the only configuration that works consistently. I'm interested to know what error is shows when it fails?

[2020-09-03 10:57] jcansdale commented on #9775
@RehanSaeed,

I've forked the `NuGet/NuGet.Client` repo and created a GitHub Actions based integration test for this issue, see:
https://github.com/jcansdale-test/NuGet.Client/blob/dev/.github/workflows/dotnet-core.yml

You can see publishing randomly fails on `macos-latest`:
https://github.com/jcansdale-test/NuGet.Client/actions/runs/237534394

If I [change](https://github.com/jcansdale-test/NuGe

[2020-09-03 12:36] YanerTavuz commented on #4989
@nkolev92 Using it now in VS16.7.2, seems to work.
Only issue I've encountered is with XAML files where a xmlns with schema from the nuget package is used.
E.g xmlns:wizard="http://schemas.actiprosoftware.com/winfx/xaml/wizard"
Probably normal dll aliasing is affected by this.
"Type or namespace name xxx could not be found".
Any ideas what to do?

[2020-09-03 13:45] mcgurdan opened #9983 "Dependency question - lowest available version - do not downgrade"
Hi all,

I have a package with lots of different dependencies and I specify the version for each dependency. Is there a way to write the version in my metadata so that the dependency will pick the lowest available option or exact version without causing a downgrade?

Thanks!

[2020-09-03 15:04] #6010 closed, assigned to erdembayar

[2020-09-03 15:49] donnie-msft commented on #9977
Will try to knock this out with my current icon refresh work https://github.com/NuGet/Home/issues/5937

[2020-09-03 16:05] #9224 closed, assigned to erdembayar

[2020-09-03 16:06] erdembayar commented on #9224
Merged the fix this morning.

[2020-09-03 16:35] #9841 closed, assigned to Nirmal4G, cristinamanum

[2020-09-03 16:42] nkolev92 opened #9984 "Instead of waiting for nominations or 20 seconds (whichever comes first), implement a sliding window at Solution Load, which allow to run exactly 1 restore even for large solutions"

[2020-09-03 16:51] nkolev92 opened #9985 "Restore operations that throw due to a project not being loaded are reported as `NoOp` in telemetry"
Found this while investigating solution load.

Repro steps:

* Open NuGet.sln with latest VS (not latest NuGet, cause some of the dragons are gone there).

Observe: Error occurred while restoring NuGet packages: The operation failed as details for project Test.Utility could not be loaded.

In telemetry, this event is reported as no-op, which is sort of incorrect.
It's more of a skipped/failed rest

[2020-09-03 16:58] nkolev92 opened #9986 "Implement a pre-registration mechanism for legacy PR projects that call restore at solution open"
Say you have a mix of legacy + SDK projects, where the legacy projects are say extensibility which call NominateProjectASync without data.

Given that NuGet has no clue that it's supposed to wait for these projects(unlike nomination),  we should implement a registration mechanism, that tells NuGet to expect an `I'm ready` call to avoid duplicate restores.

Design at https://github.com/NuGet/Home/p

[2020-09-03 17:16] donnie-msft commented on #9789
Here's the StatusOK checkmark in light/dark themes. Seems there's no white halo around it. Dark mode is currently inverting colors which I probably should turn off.
![image](https://user-images.githubusercontent.com/49205731/92146197-5bb46a00-ede7-11ea-9156-8e588b6dd204.png)
![image](https://user-images.githubusercontent.com/49205731/92146308-87375480-ede7-11ea-85aa-26e3e999c2e7.png)

[2020-09-03 17:22] rrelyea commented on #9960
This repros for me with intpreview latest - 16.8 p3 30503.9 main
This feature (PackageRecommender) has been checked in for a while...and is behind an a/b switch. (there is a regkey to turn it on/off as well)
It only works in Packages.config projects today.
As such, we need to investigate, but it doesn't block insertions, because it is already inserted.
@birgithi will likely investigate next week,

[2020-09-03 17:23] #9526 closed, assigned to dtivel

[2020-09-03 17:24] #9553 closed, assigned to dtivel

[2020-09-03 17:25] #9928 closed, assigned to rrelyea

[2020-09-03 18:01] nkolev92 commented on #9932
Closing per https://github.com/NuGet/NuGet.Client/commit/53a7cf2b5b600cf46bc49285e1ae6f4cf887346b

[2020-09-03 18:01] #9932 closed, assigned to erdembayar

[2020-09-03 18:09] dominoFire commented on #9904
Closing for now, as related bugs are investigated elsewhere.

[2020-09-03 18:09] #9904 closed, assigned to dominoFire

[2020-09-03 18:26] nkolev92 opened #9987 "NuGet PMC memory usage - invest whether tool window DontForceCreate is an option"
Child of https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1167790.

If the PMC is visible when VS shuts down, when VS starts, it's loaded even with no solution loaded.
This 75 M memory penalty is incurred even if user never uses the PMC  in that session.
Please lazily initialize and DontForceCreate. This will reduce the penalty for many sessions with very little change.

PMC: When PMC is loa

[2020-09-03 18:28] nkolev92 opened #9988 "NuGet PMC memory usage - investigate decreasing the amount of dlls loaded initially"
Child of https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1167790.

To goal is to figure out there is a quick win as far as assembly loading goes.

Here is break down of loaded DLLs when I open PMC, since powershell related Dlls are most I defer load them until user start typing something.

NuGet dlls:
NuGet.Common.dll - 113k
NuGet.Configuration.dll - 154k
NuGet.Console.dll - 137k
NuGet.Pack

[2020-09-03 18:35] heng-liu commented on #9960
Thanks @rrelyea !
I tried VS Enterprise (Preview Channel) link just now, but still couldn't repro...
Is that because I'm in a different group with you and Jamie on the a/b switch?

[2020-09-03 18:53] nkolev92 commented on #3784
@srdjanjovcic's work for reducing UI delays overlaps with this one.

[2020-09-03 18:56] Therzok opened #9989 "`RuntimeEnvironmentHelper.IsRunningOnVisualStudio` performance issue on Mono"
## Details about Problem

NuGet product used - NuGet IDE support in VSMac

NuGet version (x.x.x.xxx): 5.8.0-preview.3.6783

OS version (i.e. win10 v1607 (14393.321)): mono, macOS 10.15

## Detailed repro steps so we can see the same problem

1. NuGet implicitly calls `IsRunningInVisualStudio` in the `IsMono` check [here](https://github.com/NuGet/NuGet.Client/blob/e97d556a83750bb4f8017e3640bc699d04

[2020-09-03 20:28] dtivel opened #9990 "PM UI: batch install package preview for all target projects"
This is necessary work in the dev-feature-OE.PMUI feature branch because of [this change](https://github.com/NuGet/NuGet.Client/commit/53a7cf2b5b600cf46bc49285e1ae6f4cf887346b#diff-cf33c7d7a6896e312b8b86f1e05f557fR841-R848) already in the dev branch

[2020-09-03 20:33] nkolev92 commented on #9985
@dominoFire Please chat with me when you get to this. I did some initial investigation and I had some learning that I can share with you.

If I get some time before that I might just show you the data here.

[2020-09-03 23:25] #9990 closed, assigned to dtivel

[2020-09-03 23:57] #9936 closed, assigned to nobody

[2020-09-04 00:28] nkolev92 commented on #7848
@ManIkWeet

The only action I can suggest is to simply delete the target definition from the project file.

[2020-09-04 01:37] dtivel opened #9991 "PM UI: does not automatically refresh after install, uninstall, or update"
This regression applies to the dev-feature-OE.PMUI feature branch only.

[2020-09-04 03:21] donnie-msft commented on #9789
Design team will have these icons available no earlier than October 2020.
Tracking here: https://devdiv-design.visualstudio.com/D3%20Studio/_workitems/edit/12595

[2020-09-04 05:39] ManIkWeet commented on #7848
@nkolev92 That doesn't work because it's never added when using a PackageReference.
Personally I ended up adding
`<SkipValidatePackageReferences>true</SkipValidatePackageReferences>`
To the project but the issue is that this disables validation for all packages so it's not ideal.

[2020-09-04 07:08] AndiRudi commented on #9020
I have the same error in my docker-compose when I run it locally on a MacBook.

[2020-09-04 13:04] v-luzh opened #9994 "The package version info in “Preview Changes” window is incorrect when updating package with "packages.config" format"
## Details about Problem
NuGet version: NuGet Client dev-feature-OE.PMUI\5.8.0.12721
VS Version: Main\30503.173
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Create an ASP.NET Web Application (.NET Framework) ->Web API project in VS.
2. Open project PM UI and install a package (not the latest version) into the project (with packages.config format).
3. Update the package in PM UI and che

[2020-09-04 13:11] v-luzh opened #9995 "Errors occurred at the first installing package into Console App (.NET Framework) with "PackageReference" format"
## Details about Problem
NuGet version: NuGet Client dev-feature-OE.PMUI\5.8.0.12721
VS Version: Main\30503.173
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Create a C# Console App (.NET Framework) project in VS.
2. Open project PM UI and try to install a package with PackageReference format into the project.
## Expected
The package is installed correctly.
## Actual
Errors occurred at

[2020-09-04 13:19] armplinker commented on #6459
I had tried the hack of putting nugget.exe in C:\Windows\System32.  Putting nugget in %USERPROFILE%\AppData\Local\Microsoft\WindowsApps resolved the  problem for me. What is troubling is how I make nuget globally accessible to all users of the box.  How do I do that?

[2020-09-04 13:51] Nirmal4G opened #9996 "Fix 'dotnet pack' tests when testing under VS IDE"
## Details

The NuGet Pack artifacts aren't being copied to the test SDK layout, when building/testing under VS IDE locally and not on CI/CLI. This was observed in PR NuGet/NuGet.Client#3270 as the changes were not reflecting in the tests leading to tests passing locally and failing on CI and vice-versa.

## Repro

1. Make some drastic changes to NuGet Pack targets (like delete the entire content)

[2020-09-04 15:24] RobertAcksel commented on #7001
Confirmed. Still happens as described. There are plenty of files microsoft *dlls which do not have a last changed date ('LastWriteTime'). For me all of them have been reference assemblies which i included in my dev packages and which i am skipping now.

[2020-09-04 16:37] brian-pickens-web commented on #4989
Will this work to alias different versions of the same package?

[2020-09-04 18:45] heng-liu commented on #9941
Closed as external.

[2020-09-04 19:12] rido-min commented on #9941
Hi @heng-liu sorry for the late reply. Can we keep this open while we hear back from @dtivel or @anangaur ?

Is there any potential workaround? If not we should build a plan to communicate the issue to our customers.

[2020-09-04 19:40] JeremyOne commented on #6459
@armplinker add a new path to your environment variables everyone has access to, or use chocolatey to install nuget: https://chocolatey.org/packages/NuGet.CommandLine

[2020-09-04 20:15] donnie-msft commented on #9789
Example:
`- Moniker="{x:Static nuget:PackageIconMonikers.UpdateAvailableIndicator}"/>`
to
`+ Moniker="{x:Static catalog:KnownMonikers.StatusOK}" />`
https://github.com/NuGet/NuGet.Client/blob/595d508c578370c1b6ef31dbd636f434ac5b26f7/src/NuGet.Clients/NuGet.PackageManagement.UI/Xamls/PackageItemControl.xaml#L129

[2020-09-04 20:24] donnie-msft opened #9998 "VS UI PM Icon Refresh"

[2020-09-04 20:25] wackoisgod opened #9999 "Ability to extend Default Mappings"
## Details about Problem

NuGet product used:  VS UI : Issue is true across all products

NuGet version (x.x.x.xxx): latest dev

dotnet.exe --version (if appropriate):

VS version (if appropriate): 16.7.2

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

So the issue here is in the Nuget.Client I

[2020-09-04 20:29] MingweiSamuel commented on #6873
fixed link: https://aka.ms/talktonuget

[2020-09-04 20:33] chgill-MSFT commented on #6873
Fixed it, thanks for the catch!

[2020-09-04 20:52] donnie-msft opened #10000 "Move Image assets to Image Service & delete unnecessary assets"
Evaluate all resource files here: NuGet.PackageManagement.UI\Resources\

Refactoring is needed to move from resource files to
https://docs.microsoft.com/en-us/visualstudio/extensibility/image-service-and-catalog?view=vs-2019

[2020-09-04 20:55] CrazyPyro commented on #7110
This will happen if you try to push the same version number more than once.  https://alastaircrabtree.com/400-bad-request-when-pushing-a-package-to-octopus-deploy-using-nuget-push/

[2020-09-04 20:55] CrazyPyro commented on #5972
This will happen if you try to push the same version number more than once.  https://alastaircrabtree.com/400-bad-request-when-pushing-a-package-to-octopus-deploy-using-nuget-push/

[2020-09-04 21:00] nkolev92 commented on #7848
I misunderstood you question @ManIkWeet.

I didn't read my complete response in detailed and I didn't recall the fact that the package bcl.build adds a custom target that gets imported.
Disabling that or removing the package altogether is a good!

[2020-09-04 21:07] Denis535 commented on #4172
@SuperJMN  why? .nuspec is deprecated or why?

[2020-09-04 21:26] #9995 closed, assigned to dtivel

[2020-09-04 21:38] anangaur commented on #5972
You may want to use “—skip-duplicate” option or “-SkipDuplicate” options with dotnet.exe and NuGet.exe respectively.

[2020-09-04 22:50] cristinamanum commented on #9465
Hello @kzu, thank you very much for the feedback! Would the proposed solution be similar with https://github.com/NuGet/Home/issues/9465#issuecomment-657694752 ?
Also we are currently engaging with developers to collect feedback for this feature and CPVM overall. Please let us know if you would you like to help in this study? @rconard

[2020-09-04 22:54] rrelyea commented on #9983
If you are doing this via PackageReference, you are likely requesting a feature debated in issue: https://github.com/NuGet/Home/issues/5553

[2020-09-04 22:56] rrelyea commented on #9979
Dupe of https://github.com/NuGet/Home/issues/7796, I believe.

[2020-09-04 22:56] #9979 closed, assigned to nobody

[2020-09-04 22:58] cristinamanum opened #10001 "[CPVM-Perf] Do not write all the CPVM info in the target libraries when the target is a project ref."
## Details about Problem

Currently if project1 refrences project2 and they are CPVM enabled, the project1's assets file will include all the CPVM versions as part of the project2 dependencies.

It should not include them.

[2020-09-04 23:04] cristinamanum opened #10002 "[CPVM-Perf] Reduce the information written to centralTransitiveDependencyGroups"
## Details about Problem
A package information in the   looks like
[code]
The issue is about removing target and versionCentrallyManaged elements to be transformed to

[code]

[2020-09-04 23:10] rrelyea commented on #9972
@shyzus - since I don't have SilverBlue around...can you tell us one thing?

A) what is the content in that older version of the SDK in NUGet.Targets around line 123 (which raised the error).
B) does this also repro if you call "dotnet restore" ... or only if you call dotnet build?
C) can you increase the verbosity to see more details of the error?
D) this is likely a call from NuGet to NetCore ru

[2020-09-04 23:10] cristinamanum opened #10003 "[CPVM-Perf] Reduce the PackageSpec clone when adding the CPVM information"
## Details about Problem

During the processing step of PackageVersion a [clone](https://github.com/NuGet/NuGet.Client/blob/e97d556a83750bb4f8017e3640bc699d04832657/src/NuGet.Core/NuGet.ProjectModel/DependencyGraphSpec.cs#L262) is performed. Reduce the cloning step.

[2020-09-04 23:31] cristinamanum opened #10004 "[CPVM-Perf] Improve Noop GetHash for the CPVM projects"
## Details about Problem

During the restore the dgspec hash is cached to a file to be used be subsequent noop restores. The hash calculation uses json writer to get dgspec string representation of the dgspec. When the list of cpvm versions is large this can have a large impact on hash calculation ( three times higher for a cpvm file with 283 versions)

This issue is for tracking the work to reduc

[2020-09-05 00:18] heng-liu commented on #9941
My understanding is, there is no workaround. We can't ignore the `Revoked` status, as we don't know whether it's revoked before the timestamp or after the timestamp.
And from the current [X509Certificate2 Class](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.x509certificates.x509certificate2?view=net-5.0 ) , there seems no way for us to get any information about when is t

[2020-09-05 01:36] rido-min commented on #9941
I'd suggest to re-evaluate, and ask again to .NET folks.

As per my understanding this implies that once a cert is revoked, all package restores will fail validation on Linux.

Now imagine that we need to revoke NuGet.org repo cert, or the Microsoft author cert, or one of the intermediates: Which would be the implications for non Windows clients?

[2020-09-05 06:57] andreinitescu commented on #9789
After more thinking, my conclusion is... There should not be any icons!

Usually, status icons are very useful, but in this particular context of the NuGet explorer, I find the status icons over the package icons very distracting and they unnecessarily increase the overall complexity of the screen.

For seeing the updates, there's already the "Updates" tab with the nice blue pill-like badge. Unfor

[2020-09-05 16:30] anangaur commented on #9941
I agree we need to discuss this as the current experience is inconsistent across OS. We should initiate conversation with the .NET team on this. /cc: @JonDouglas

[2020-09-06 23:00] Denis535 commented on #9788
@nkolev92, I faced this problem too.

Visual Studio Pack doesn't use .nuspec file. But nuget.exe pack does use it.
I thought .nuspec is deprecated in sdk-styled projects. But now I do not understand anything.
[Here is my example](https://github.com/NuGet/Home/files/5180417/NuGetLibrary.zip)

Also I need to ask: what is "convention-based working directory"?
I thought nuget can automatically include

[2020-09-07 14:32] mvonck commented on #8864
I have the same issue, nuget restore goes from 20 seconds to 10 minutes but i can't figure get verbose details. I have this with .NET Framework 4.6.1 projects when using a newer NuGet.Exe (5.7). For now my solution is to include an older NuGet.Exe(3.4.4) in the git repository and use this one for legacy projects

[2020-09-07 20:46] ViktorHofer opened #10005 "NuGet exception with TargetFrameworks set in f# proj (fsproj) when using static graph restore"
.NET SDK (reflecting any global.json):
 Version:   5.0.100-rc.1.20454.5

## Repro
[code]

## Error
[code]

cc @dsplaisted @nkolev92

Discovered here: https://github.com/dotnet/runtime/pull/41947/checks?check_run_id=1083056989

[2020-09-08 00:02] davkean opened #10006 "NuGet Package Manager is reporting cancelled tasks to the ActivityLog"
Investigating this bug: https://developercommunity.visualstudio.com/content/problem/1175643/cannot-debug-tests-pdb-symbol-reader-could-not-be.html, I found a bunch of these errors in the ActivityLog reported by the package manager tool window:

This makes it harder to discern real errors from these non-errors:

[code]

[2020-09-08 02:29] am11 commented on #10005
I tried repro steps on macOS and it succeeded:

[code]

[2020-09-08 02:34] dsplaisted commented on #10005
This didn't repro for me with SDK version 5.0.100-rc.1.20453.7 on Windows.

[2020-09-08 02:37] dsplaisted commented on #10005
@ViktorHofer Try using version 5.0.0-rc.1.20451.14, instead of the latest build out of the branch.  There were some changes that still flowed after the "final" RC1 build which may have broken some things.

[2020-09-08 06:10] #9957 closed, assigned to nugetlurker

[2020-09-08 07:40] ViktorHofer commented on #10005
@dsplaisted `5.0.0-rc.1.20451.14` doesn't resolve when trying to download it. Is the version string right?

[2020-09-08 07:54] ViktorHofer commented on #10005
@dsplaisted it does for me at least on OSX: `.dotnet/sdk/5.0.100-rc.1.20453.7/NuGet.RestoreEx.targets(10,5): error : (NETCORE_ENGINEERING_TELEMETRY=Restore) Invalid restore input. Invalid target framework 'unsupported'. Input files: /Users/runner/work/1/s/src/libraries/System.Formats.Cbor/tests/CborDocument/System.Formats.Cbor.Tests.DataModel.fsproj.`

[2020-09-08 08:10] am11 commented on #10005
@ViktorHofer, i think we were not able to the repro you posted in top comment on macOS or Windows. You created the project called `test1` and stacktrace reports `test`. Is it the correct repro?

[2020-09-08 08:31] ViktorHofer commented on #10005
This was undone with https://github.com/dotnet/installer/commit/53a032d0314ffb281a5ad3ca94eddc421a48b792 which reverted to the "final" RC1 state.

Just validated it again and found the missing piece. This only happens with static graph restore:

[code]

cc @jeffkl

[2020-09-08 09:04] davidcoghlan opened #10007 "CLI verify with CertificateFingerprint fails if fingerprint is for a countersignature"
## Details about Problem

NuGet product used: nuget.exe

NuGet version (x.x.x.xxx): 5.8.0.6776

OS version: win10 v1909

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

The nuget verify command takes a CertificateFingerprint argument that lets you specify an allowed list of certificates; if the package is not signed with a certificate on

[2020-09-08 16:32] jeffkl commented on #10005
It might be because you're setting `<TargetFrameworks>` to a single value:

https://github.com/dotnet/runtime/blob/master/src/libraries/System.Formats.Cbor/tests/CborDocument/System.Formats.Cbor.Tests.DataModel.fsproj#L4

Can you try just TargetFramework?  NuGet made some major changes around how TargetFramework is read which is causing some breaking changes around how these properties are set in

[2020-09-08 16:51] #9983 closed, assigned to nobody

[2020-09-08 17:05] dsplaisted commented on #10005
Static graph build is currently broken, but restore is supposed to work.  So these issues may or may not be related:

https://github.com/dotnet/msbuild/issues/5687
https://github.com/dotnet/sdk/issues/13081

[2020-09-08 17:07] jeffkl commented on #10005
@dsplaisted static graph is only broken when using `/isolate` I believe.

[2020-09-08 17:09] ViktorHofer commented on #10005
My guess was that this is F# related as our 300+ other C# projects don't throw.

Yes that works and it unblocks the SDK ingestion in our repo. My remaining concern is if this should be mentioned in release notes / if this should be discussed in Tactics. I doubt this behavior is expected.

[2020-09-08 17:15] #9994 closed, assigned to rrelyea

[2020-09-08 17:31] jeffkl commented on #10005
The breaking changes are very subtle, some where because we didn't read a property before and now do which causes restore failures.  I'm not 100% sure what change caused this.  But obviously any notification is better than nothing.

[2020-09-08 17:35] ViktorHofer commented on #10005
FWIW this happens with multiple tfms as well:

[code]

[2020-09-08 17:35] cartermp commented on #10005
Yeah this looks like a major issue, @kevinransom FYI

[2020-09-08 17:37] jeffkl commented on #10005
@ViktorHofer do you get a different error instead of `Invalid target framework 'unsupported'`?

[2020-09-08 17:39] ViktorHofer commented on #10005
Still the same error:

[code]

[2020-09-08 17:47] am11 commented on #10005
@jeffkl, I took a diff of c# and f# dumps created with `dotnet5 restore /p:RestoreUseStaticGraphEvaluation=true /v:diag` and these two lines seem to be missing in case of f#:

[code]

[2020-09-08 17:51] rrelyea opened #10008 "PM UI Perf - search tab - in codespaces/non-codespaces"
metadata retrieval
version retrieval
...

[2020-09-08 17:52] rrelyea opened #10009 "PM UI - asyncify icon loading"
Moved image downloading and decoding to worker threads. Used to be done in a valueconverter, and thus on the UI Thread.

[2020-09-08 17:55] sbanni opened #10010 "New Unit tests for PM UI Search for VS.Oe services"

[2020-09-08 17:59] heng-liu commented on #9628
There're two classes relying on HResut:
[CertificateProvider](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/SignCommand/CertificateProvider.cs) and [X509SignatureProvider](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/Signing/Authoring/X509SignatureProvider.cs)
Both of them use HResult to throw a more specific exception. If HResult cha

[2020-09-08 17:59] #9628 closed, assigned to heng-liu

[2020-09-08 18:06] birgithi commented on #9960
I was able to repro this in Microsoft Visual Studio Enterprise 2019 Int Preview Version 16.8.0 Preview 4.0 [30508.10.main]
I will investigate.

[2020-09-08 18:28] dsplaisted commented on #10005
Does F# not import Microsoft.Managed.After.targets?  That seems to be where these properties [are set](https://github.com/dotnet/msbuild/blob/master/src/Tasks/Microsoft.Managed.After.targets#L18-L19).

[2020-09-08 18:55] am11 commented on #10005
I tried adding them like this: https://github.com/am11/fsharp/commit/510c026b2719341a4532f880e171a391606d49f6 in `~/.dotnet5/sdk/5.0.100-rc.1.20454.5/FSharp/Microsoft.FSharp.Targets`, but it has no impact (same error).

[2020-09-08 18:56] jeffkl commented on #10005
@am11 is correct, the `InnerBuildProperty` and `InnerBuildPropertyValues` aren't set so when Static Graph loads the FSharp projects, so it does not know that the project targets multiple frameworks.

[2020-09-08 19:02] jeffkl commented on #10005
@am11 For whatever reason, the FSharp targets aren't imported for a cross-targeting build:

https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.FSharpTargetsShim.targets#L55-L59

So Microsoft.FSharp.targets isn't imported and your fix isn't enough...

[2020-09-08 19:10] am11 commented on #10005
@jeffkl, right on. This https://github.com/dotnet/sdk/pull/13444, instead, has fixed the issue. 🤣

[2020-09-08 19:22] ViktorHofer commented on #10005
@jeffkl isn't that highly concerning and something that we should look into?

[2020-09-08 19:42] jeffkl commented on #10005
Yes we should definitely understand why the targets aren't imported when cross-targeting.  That seems weird to me but I'm sure there's a logical explanation.  I am not familiar at all with the FSharp SDK, who would know more?

[2020-09-08 19:47] am11 commented on #10005
The initial PR which introduced that cross-targeting condition was https://github.com/dotnet/sdk/pull/1172.

[2020-09-08 19:49] am11 commented on #10005
BTW, the same issue happened with IL targets: https://github.com/dotnet/runtime/pull/34124, maybe best place to put these imports would be some common targets in msbuild?

[2020-09-08 21:12] #9991 closed, assigned to dtivel

[2020-09-08 21:41] Denis535 commented on #9788
It seems I have understood. One need to define property in csproj.

        <NuspecFile>ProjectName.nuspec</NuspecFile>

But this is strange, because in other projects I had seen this is not done.

[2020-09-08 23:18] nkolev92 commented on #10005
Just catching up the long discussion. Thanks for the investigation folks!

One thing I wasn't sure if we understand why static graph was failing, but normal restore wasn't.

The fix to me suggests that both should've been failing.

[2020-09-08 23:28] #9753 closed, assigned to nobody

[2020-09-09 00:21] nkolev92 commented on #9788
@Denis535

NuGet includes the build output automatically. Content files are also included automatically.

You either use the NuGet defaults, or you use a nuspec. When you use a nuspec, it's on you to ensure the right files are packed.

[2020-09-09 00:33] kartheekp-ms opened #10011 "nuget verify ignores NuGet.Config file or trusted-signers list"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): 5.7.0

VS version (if appropriate): N/A

OS version (i.e. win10 v1607 (14393.321)): Windows 10 v19041

Worked before? If so, with which NuGet version: No.

## Detailed repro steps so we can see the same problem

1. Generated a self-signed certificate using script fou

[2020-09-09 05:50] aersamkull commented on #7001
For me a problem as well, with `dotnet pack`, Version 3.1

[2020-09-09 09:33] IanKemp commented on #7891
Happens to me only when I do `uninstall-package <packagename> ; install-package <packagename>` - this error is then thrown by `install-package`.

[2020-09-09 09:54] v-luzh opened #10012 "Executing command in PMC will not make PM UI auto-refreshed"
## Details about Problem
NuGet version: NuGet Client dev-feature-OE.PMUI\5.8.0.12758
VS Version: Main\30508.180
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Create an ASP.NET Web Application (.NET Framework) ->Web API project in VS.
2. Open both the PM UI and the PMC window.
3. Go to “Updates” tab in PM UI, execute “update-package” in PMC and observe the PM UI.
## Expected
The packages

[2020-09-09 09:58] v-luzh opened #10013 "The transitive dependency package info should not show in “Preview Changes” window"
## Details about Problem
NuGet version: NuGet Client dev-feature-OE.PMUI\5.8.0.12758
VS Version: Main\30508.180
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Create an ASP.NET Web Application (.NET Framework) ->Web API project in VS.
2. Open project PM UI and install a package --not the latest version (e.g. Moq 4.14.2).
3. Update the package in the PM UI and observe the info in the prom

[2020-09-09 10:40] am11 commented on #10005
@nkolev92, currently (without the fix) `InnerBuildProperty{Values}` are not present with normal (non-static-graph) restore. Perhaps msbuild does not require those in the non-static case (or infer those somehow)?

[2020-09-09 16:36] Naresh1277 opened #10014 "Project is not eligible for migration. Either Project is not Packages.config based or does't support the package reference Yet."
Attached the screen shot
![Capture](https://user-images.githubusercontent.com/11494691/92627256-1a193880-f299-11ea-87c1-1ef44f911b88.PNG)

[2020-09-09 17:59] Denis535 commented on #9788
@nkolev92
1) Why does "VS/Build/Pack" require `NuspecFile` property to define? It looks like a bug. I'm sure `NuspecFile` property must have default value equivalent to `$(MSBuildProjectName).nuspec`.
2) [The nuget pack command then automatically adds all files in that folder structure](https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package#from-a-convention-based-working-direct

[2020-09-09 18:19] rrelyea opened #10015 "16.10: remove package source 1.0 service. remove obsolete APIs (in nuget.configuration that we added in 16.8)"
Per @zivkan comment in PR: https://github.com/NuGet/NuGet.Client/pull/3649/files/e70389d28297073fc21d7d03a28c27143c66f290#r485233215

Consider approach for codespaces and these apis:
NuGet.Configuration.IPackageSourceProvider2
NuGet.Configuration.IPackageSourceProvider2.SavePackageSources(System.Collections.Generic.IEnumerable<NuGet.Configuration.PackageSource> sources, NuGet.Configuration.Package

[2020-09-09 19:28] anangaur commented on #9803
What's the trigger, criteria before we make this default?

[2020-09-09 19:59] nkolev92 commented on #9803
The plan is to make it default in the next major release given that it's a big change.

The main criteria is correctness. We need static graph to *not* regress current functional scenarios.

Perf gains are something we'll look into (we have) as well, but numbers there have been overwhelmingly positive for large project counts, and on par for lesser project counts.

[2020-09-09 20:01] nkolev92 commented on #9803
Note for other readers.

Static graph is pretty safe to use.
We've found a very limited set of issues and most of those fail fast.
Unless you are customizing restore somehow, switching to static graph should *just work*.

[2020-09-09 20:54] nkolev92 commented on #10005
@cdmihai to the rescue maybe? :)

[2020-09-09 20:59] nkolev92 commented on #9788
For 1.

* They are different pack systems. `msbuild /t:pack`, `dotnet.exe pack` & VS `pack` are MSBuild based. They can only discover files based on what's included to the msbuild project. In `nuget.exe pack`, it's discovered based on convention.
The migration from `nuget.exe pack` to `msbuild.exe /t:pack` should be straightforward for most scenarios given that the heavy listing is really moving f

[2020-09-09 21:02] jeffkl commented on #10005
The `InnerBuildProperty` properties are needed for non-static graph restore because NuGet calls targets to determine the target frameworks and subsequent data.  The "static graph" restore is calling the Static Graph API to load projects and their transitive dependencies as well as determine the target frameworks.  Static Graph API does this in a generic way, without having knowledge of target fram

[2020-09-09 21:31] Denis535 commented on #9788
Oh my God...

[2020-09-09 21:51] erdembayar commented on #9944
@nkolev92
It looks things are working as expected for your concern when I test 2-3 scenarios.
1. Changing of targetframework on new version of package
![image](https://user-images.githubusercontent.com/8766776/92658367-4dfd5980-f2ab-11ea-96c7-613fe9f8e5f1.png)

Here is how it works gif animation:
![PackageCompatibilityCheck](https://user-images.githubusercontent.com/8766776/92658451-79804400-f2ab-

[2020-09-09 21:52] #9989 closed, assigned to nobody

[2020-09-09 21:54] zivkan commented on #9989
Thanks for the contribution @Therzok. We're very close to branching for 5.9, so I'm not entirely sure if this will make it in NuGet 5.8 or NuGet 5.9 at this time. It depends which commit the eventual release branch gets created from.

[2020-09-09 22:26] nkolev92 commented on #9985
@dominoFire [link](https://dataexplorer.azure.com/clusters/ddtelinsights/databases/DDTelInsights?query=H4sIAAAAAAAAA+2STW/bIBjHz/GnQDk1U8TA5gH7kFO6Vb60VZP1GiH8pGFyIDJYrap++NnO5HSSpfaw28YJ9H95EPy29n53bfWT8yFas7ttnzDuHjBE3+hovSvd3jfHYZu8kecDNkjKULqIjdM1Wa3IXtcBR2190M5hXVa9NH+0odX1JraV9ZRL+oA16oDz0T7MuzvhedjGt43BIVkeT7U1Nl6s317wEZvQ2UiIuonh2cYDmXetqjfhS0RXdYU3GO8bbzAErDZRxzaQ1XnO+dR5Q3s86sa+dvP93Wllf

[2020-09-09 22:48] #9982 closed, assigned to nkolev92

[2020-09-09 23:25] #10013 closed, assigned to nobody

[2020-09-09 23:31] #9965 closed, assigned to cristinamanum

[2020-09-10 00:39] heng-liu commented on #10007
Thanks for taking time to raise this issue!
The affected code is https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/VerifyCommand/VerifyCommandRunner.cs#L46
If we set SignaturePlacement to `SignaturePlacement.Any` instead of `SignaturePlacement.PrimarySignature`, then both the primary signature and counter signature will work.

I don't have much context with this command

[2020-09-10 01:04] heng-liu commented on #10014
Thanks for reporting this issue.
We have a list of issues when migrating from Packages.config to Package reference.
So closed it as duplicate.
Pls let us know to reopen it if the situation is not in the list https://github.com/NuGet/Home/issues/5877

[2020-09-10 01:04] #10014 closed, assigned to nobody

[2020-09-10 02:18] shyzus commented on #9972
@rrelyea Thanks for responding and sorry for the late reply.

A) It seems a call to restore, see below snippet:

[code]

B) Yes when executing 'dotnet restore' the same error description is given, see below snippet:
[code]
C) Yes, I have run the command ```dotnet restore --verbosity diagnostic``` and placed the result into a log file:
[error.log](https://github.com/NuGet/Home/files/5198796/error.l

[2020-09-10 10:25] Denis535 commented on #9788
@nkolev92
What features does "MSBuild Pack" not support? And why it's so limited?

"Replacement tokens" also doesn't work in "MSBuild Pack".

        <file src="bin\$configuration$\**\*.dll" target="lib/" />
        <file src="bin\$configuration$\**\*.deps.json" target="lib/" />

[2020-09-10 15:05] jbaehr commented on #9459
@nkolev92 Is that really the last word? Now nupkg files, even though based on the Open Packaging Conventions, cannot be processed with .NET's OPC API (`System.IO.Packaing`) any more. For me this is a severe regression that broke our tooling.

[2020-09-10 16:37] nkolev92 commented on #9788
@Denis535

MSBuild pack supports most features with the exclusion of assembly sniffing for version/id. It relies on the MSBuild metadata for that.

Working with a nuspec is just slightly different before of the different underlying system.
Please refer to the following doc for some examples: https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-using-a-nuspec.

Replacement token

[2020-09-10 16:59] #10012 closed, assigned to nobody

[2020-09-10 17:45] dtivel opened #10016 "PM UI: package not sorted in preview results"
This is a regression from [this change](https://github.com/NuGet/NuGet.Client/commit/2b2794a23cab2c42a1e14dc78895d4b4fac64b97#diff-cf33c7d7a6896e312b8b86f1e05f557fR1157) in the dev-feature-OE.PMUI branch.

1.  Create a .NET Core project.
2.  Open PM UI.
3.  Trigger an install (with preview enabled) of a package with dependencies (e.g.:  the latest Moq package).

Expected result:  In the preview re

[2020-09-10 17:55] zkat commented on #9967
closing as duplicate of https://github.com/dotnet/fsharp/issues/10036 (which is resolved now)

[2020-09-10 17:55] #9967 closed, assigned to nobody