[2020-06-24 21:46] RobSwDev commented on #9686
I have noticed something further. We use floating versions for one of our package references.
The last time the restore loop occurred, I saw this in the project log:

These messages occurred more than 40 times (I cleared the log part way through so don't know how many more).
But this reference only exists in 17 projects. Could floating references be somehow causing the seeming package restore loop

[2020-06-24 21:51] #9626 closed, assigned to mirkomuggli

[2020-06-24 22:28] nkolev92 commented on #9686
The floating references by themselves would normally not affect the up to date check, https://github.com/NuGet/Home/issues/5445.

That's a bit weird.
Do those nomination contain timestamps at all?

In that case the potential answer could be that the project loading is spaced out, and if they take too much time in between it can trigger many restores.

To help us better understand your exact scenar

[2020-06-24 23:30] heng-liu opened #9715 "After xplat-verification merged to dev, Prerequisites changed if build locally"
After xplat-verification merged to dev, we need to install .NET 5 SDK on local machine to build the code.
At the same time, the global.json under solution folder should not use a specific version. So that people don't have to update the .NET 5 SDK version everytime when the version changed in global.json.

[2020-06-25 01:58] nkolev92 commented on #9663
Closing this as dup of https://github.com/NuGet/Home/issues/9591 since it's older.

[2020-06-25 01:59] nkolev92 commented on #9663
This did cause a hang in [1145067](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1145067)

[2020-06-25 02:00] nkolev92 commented on #9591
This caused a hang in [1145067](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1145067)

[2020-06-25 14:34] cilerler opened #9716 "contentFiles are not appearing in the project"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

- NuGet version (x.x.x.xxx): **5.3.1.6268**
- dotnet.exe --version (if appropriate): **3.1.300**
- VS version (if appropriate): **Enterprise 2019 v16.6.0**
- OS version (i.e. win10 v1607 (14393.321)): **win10 v1909 (18363.900)**
- Worked before? If so, with which NuGet version: **NO**

## Deta

[2020-06-25 18:39] erdembayar opened #9717 "Use etags with v3 package sources to reduce the bandwidth by extending the http-cache lifetime."
During my recent `Performance` investigation I [found](https://github.com/NuGet/Home/issues/8352#issuecomment-646347801) 6 things need to be done to decrease overall runtime and decrease memory consumption.

We should implement better caching by using etags since Nuget.org already supports it. There is small caveat for Point 2, but they already created https://github.com/NuGet/NuGetGallery/issues/

[2020-06-25 19:01] erdembayar commented on #8352
I just to give update on this ticket since I highlighted 6 points.

1. I created ticket for Point 1 here [ #9717](https://github.com/nuget/home/issues/9717).
On recent survey I customers complaining about slow speed, I believe this will help with that
one, because we're spending time to download json.
2. Nuget Server team added ticket for etag [here](https://github.com/NuGet/NuGetGallery/issues/80

[2020-06-25 19:55] heng-liu commented on #9606
Hi @tpitman , thanks for reporting this issue!
Could you provide more details on how to repro it?
I tried to repro with a path including a space "try space", but the restore is successful:
[code]

[2020-06-25 20:05] zivkan commented on #9629
Closing as by design, as per my previous comment.

[2020-06-25 20:05] #9629 closed, assigned to nobody

[2020-06-25 20:08] tpitman commented on #9606
Maybe it isn't the space in the path then. All I know is that for my
project this is happening. It is a really really big project, so I can't
send you the whole thing. What kinds of stuff could I do to help diagnose?

For example, here is the error output:

/Library/Frameworks/Mono.framework/Versions/6.10.0/lib/mono/msbuild/Current/bin/NuGet.targets(557,5):
error : Invalid path [/Users/tpitman/Pro

[2020-06-25 20:21] dreddy-work commented on #6872
Any alternative work arounds here?

[2020-06-25 22:19] #9715 closed, assigned to heng-liu

[2020-06-25 22:56] drewgillies commented on #8087
Yes--thank you!

[2020-06-25 23:52] heng-liu commented on #9606
May I know if you could run [dotnet restore](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-restore) successfully on this project?

[2020-06-26 00:10] tpitman commented on #9606
dotnet restore [solutionfile] works fine.

On Thu, Jun 25, 2020 at 5:53 PM heng-liu <notifications@github.com> wrote:

[2020-06-26 00:30] heng-liu commented on #9606
dotnet also use NuGet to restore. I'm not sure why vs for mac doesn't work correctly.
Could you raise an issue on developercommunity/Visual Studio for Mac? They may have a better understanding.
https://developercommunity.visualstudio.com/spaces/41/index.html

[2020-06-26 00:49] tpitman commented on #9606
ok

On Thu, Jun 25, 2020 at 6:30 PM heng-liu <notifications@github.com> wrote:

[2020-06-26 02:26] nkolev92 commented on #9717
While this is a great change, and I'd be favor of it, it's not the immediate priority right now.

[2020-06-26 02:33] nkolev92 commented on #9717
Update the text a little bit.

The biggest benefits of bandwidth reducing like this would be on the Package Manager UI side.

[2020-06-26 02:34] nkolev92 opened #9719 "Improve memory performance of PackageMetadataResourceV3 by reducing the JObject dependencies"
Motivation from https://github.com/NuGet/Home/issues/8352.

[2020-06-26 02:38] nkolev92 commented on #8352
3. Sounds like you sync-ed up with @joelverhagen, issue here: https://github.com/NuGet/NuGetGallery/issues/8071

5. I've created another issue: https://github.com/NuGet/Home/issues/9719 for that. We can leave this issue tracking the general work.

6. Deleting packages from a feed is *not recommended*, in fact nuget.org does not allow it whatsoever. https://docs.microsoft.com/en-us/nuget/nuget-org/

[2020-06-26 03:07] heng-liu opened #9720 "In NuGet trusted-signers command, owner option should not be case sensitive"
According to @anangaur , the owner option should not be case sensitive. (However, I didn't find it in [document](https://docs.microsoft.com/es-es/nuget/reference/cli-reference/cli-ref-trusted-signers))

But now, it's case sensitive:
[code]

When I tried to install Microsoft.Extensions.Logging, it failed,
`  NU3034: Package 'Microsoft.Extensions.Logging 5.0.0-preview.5.20278.1' from source 'https:/

[2020-06-26 05:44] joelverhagen commented on #9720
We changed the case of microsoft org name to Microsoft to accommodate this. I agree it does not align with NuGet.org implementation (owners are case insensitive there) but IIRC there were reasons. /cc @loic-sharma @shishirx34 @dtivel

[2020-06-26 07:52] YanerTavuz commented on #4989
Hi!
We're waiting for Visual Studio 16.7 to use this feature, do you know if it's available yet in any of the VS16.7 previews? Saw that Preview 3 was just released.

[2020-06-26 13:44] VGerris commented on #6140
I still have this issue running both from local Linux and docker.
Both hosts resolve (local and remote) so this seems to be a bug in dotnet restore / Nuget.
Any workarounds ar solutions?
Is it because of Windows based slashed in file paths even when this is the header of the proj file:

<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp3.1</TargetFramework>

[2020-06-26 16:37] heng-liu commented on #9714
This is an issue from dotnet install-scripts.
Raised issue https://github.com/dotnet/install-scripts/issues/50

[2020-06-26 16:37] #9714 closed, assigned to nobody

[2020-06-26 18:21] loic-sharma commented on #9720
Yes I remember that we discussed this, but I don't remember why we chose to be case sensitive. I will defer to @dtivel or @ridomin

[2020-06-26 18:28] nkolev92 commented on #4989
@YanerTavuz Preview 3 should have it

[2020-06-26 19:12] zivkan opened #9721 "`build\docs.proj` no longer works"
Running `msbuild build\docs.proj` fails with the following errors:

[code]

[2020-06-26 19:27] nkolev92 commented on #9395
Docs issue: https://github.com/NuGet/docs.microsoft.com-nuget/issues/2084

@debonte PR ready.

[2020-06-26 19:30] nkolev92 commented on #1538
A note for the implementer that the *IVSPathContextProviderX* API should be considered when making this change.

[2020-06-26 20:10] heng-liu commented on #9721
I tried with running configure.ps1 first. Then it worked :)

[2020-06-26 22:31] ooooolivia opened #9722 "dotnet restore hangs on Linux VM"
I'm trying to do ```dotnet restore``` in my Ubuntu VM but it seems hanging forever ... Here's diagnostic log.

[code]

```NuGet.Config``` for the repo:
[code]

It seems unable to download packages from the feeds. The network connection in my VM works properly.

[2020-06-26 23:29] teo-tsirpanis opened #9723 "Remove .NET Standard 1.x packages from NuGet SDK packages"
## Details about Problem

As also happened in microsoft/msbuild#5242, NuGet's NuGet .NET Standard 2.0 packages reference some libraries that were intended for .NET Standard 1.x and are no longer maintained. What is more, these libraries do not directly target .NET Standard 2.0, they greatly expand the package dependency tree. Because we no longer support .NET Standard 1.x the simplest solution is

[2020-06-26 23:55] zivkan commented on #9703
Also address `var` feedback from NuGet/NuGet.Client#3469 PR.

[2020-06-26 23:57] #9702 closed, assigned to zivkan

[2020-06-27 08:50] jhribal opened #9724 "Browsing through the source code - possible bug in PackageUtilities?"
Hello,
shouldn't be the FatalProtocolException thrown when nuspecStream == null instead of nupkgStream == null?

[PackageUtilities.cs](https://github.com/NuGet/NuGet.Client/blob/7645448a1fbeff4bc17b9c74be115aa92c5b9b4a/src/NuGet.Core/NuGet.Protocol/RemoteRepositories/PackageUtilities.cs#L26)

![image](https://user-images.githubusercontent.com/8378597/85918430-05fd9780-b863-11ea-9325-34034519fb12.p

[2020-06-27 16:20] #9719 closed, assigned to erdembayar

[2020-06-27 22:41] abelbraaksma commented on #8352
In case it helps: for a (simpler) repro of this issue with only 20 projects, open the `FSharp.sln` from the F# repo. To get VS 2019 to disappear and/or show the crash window:

* Go to https://github.com/dotnet/fsharp and fork/checkout
* Run `build.cmd` locally (needed only once)
* Open `FSharp.sln` in Visual Studio.

Now go to `FSharp.Core.UnitTests` and open the "Manage NuGet packages", click "Br

[2020-06-27 23:23] zivkan commented on #8352
@abelbraaksma Looking at fsharp's nuget.config, [it uses .NET Core's sleet feed](https://github.com/dotnet/fsharp/blob/de5dc3b8bf6375ef27907ba4a5bb5440360742b1/NuGet.config#L9). Since sleet is a static feed generator, and blob storage is a static file server, and given how many packages are in the feed, this means the [search results url](https://dotnetfeed.blob.core.windows.net/dotnet-core/search

[2020-06-28 01:25] cilerler commented on #9716
It looks like adding `<PackageCopyToOutput>true</PackageCopyToOutput>`

[code]

forces it to generate it as

[code]

which solves the issue

[2020-06-28 01:25] #9716 closed, assigned to nobody

[2020-06-28 02:22] abelbraaksma commented on #8352
2019, I hope? :smile:

Ouch! I had no idea! So they should fix this on MS's side to make it non-static? Though I guess that's not gonna happen anytime soon.

@zivkan, many thanks for your quick and insightful comment. I'll be sure to test the next Preview release soon. Loading 230MB on each GET request sounds massive, no wonder it took so long!

[2020-06-28 11:11] YanerTavuz commented on #4989
Got it to work with VS16.7 Preview 3.1 and .NET 5 Preview 6.
Trying to get it to work with .NET Framework 4.8, any tips on how to get it working there?

[2020-06-28 12:46] campersau opened #9725 "Package signing with timestamp server does not work on .NET 5.0"
## Details about Problem

Package signing with timestamp server does not work in .NET 5. I have tracked down the issue to [this code](https://github.com/NuGet/NuGet.Client/blob/088004379cb99890f766e9b7a0a29f7b080f888b/src/NuGet.Core/NuGet.Packaging/Signing/Timestamp/Rfc3161TimestampRequestNetstandard21Wrapper.cs#L73-L76) which was recently added in https://github.com/NuGet/NuGet.Client/pull/3458
T

[2020-06-28 14:38] campersau opened #9726 "No pagination support for static nuget feeds"
#  Details about Problem

Since https://github.com/NuGet/NuGet.Client/pull/3406 static feeds no longer support pagination (but will load way faster for the first "page") when using Visual Studio or NuGetPackageExplorer.
I know there is a discrepancy between performance (memory) and usability for static feeds but maybe we could support them a bit better by also taking `skip` into account [here](htt

[2020-06-28 16:26] jozefizso opened #9727 "Pack symbols should validate that the symbols files are portable"
NuGet product used: nuget.exe

NuGet version: 5.0.2.5988

VS version: 2017

OS version: Windows 10 2004

## Detailed repro steps so we can see the same problem
1. Compile .NET project with debug symbols enables
2. Create nuget package with modern **snupkg** format
3. Push the package to nuget.org
4. Symbol package validation fails

## Expected behavior

Nuget.exe should fail to push a package to n

[2020-06-28 17:36] gbaydin commented on #4346
Hello, I was wondering whether there has been any progress in adding a simple progress bar to `dotnet restore`. We're currently working on machine learning code ([DiffSharp](https://github.com/DiffSharp/DiffSharp), [TorchSharp](https://github.com/xamarin/TorchSharp)) that depend on very large nuget packages (some GBs) that hold CUDA binaries, for example the following package and its dependencies:

[2020-06-29 06:19] Insighter2k commented on #2880
Just wanted to point out an additional tip. I have struggled as much as you guys, but the problem was that the docker image does not know my proxy server. It cannot resolve any dns entry, so I have added the HTTP_PROXY / HTTPS_PROXY to my dockerfile as arguments with the ip-address instead of the dns name.

ARG HTTPS_PROXY=http://\<ip>:\<port>/
FROM [...]

[2020-06-29 10:08] v-nancyj opened #9728 "[Test Failure][Signing] ‘Value cannot be null’ error occurs when installing signed package with certificate is not trusted"
## Details about Problem

**NuGet Version:** NuGet Client Dev\5.7.0.6677
**VS Version:** Master\30226.129
**OS Version:** Windows-10-Enterprise-RS5

## Installation steps:
1.  Install VS Master\30226.129 from: [https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3846424&view=ms.vss-build-web.run-extensions-tab](url)
2.  Install NuGet Client: [\\\ddfiles\Drops\NuGet\Drops\CI\NuGet.Client\

[2020-06-29 13:29] v-luzh opened #9729 "Hard to see the dash-line box of package format when navigating by tab through the “Choose NuGet Package Manager Format” dialog in Dark theme"
## Details about Problem
NuGet version: NuGet Client Dev\5.7.0.6677
VS Version: Master\30226.129
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Launch VS and make sure the theme is “Dark”.
2. Create a C# Console Application (.NET Framework) project via VS and select “All format selection on first package install” in the settings dialog.
3. Open PM UI, click a package in “Browse” tab and

[2020-06-29 14:55] Caleb-D opened #9730 "Cache grows indefinitely - add limit feature"
We have an internal project that delivers a Nuget cache from each nightly build.  I work on a project that consumes this Nuget package.  Our build process automatically updates the Nuget version, so we are always pointing at the latest (unless we are near a release and then we freeze auto-updates).

This means that every time I pull the latest changes and build, VS "restores (download/install)" th

[2020-06-29 15:19] donnie-msft commented on #9728
@heng-liu, does this look related to cert work, or perhaps a bug in the UI?

[2020-06-29 15:46] heng-liu commented on #9728
@donnie-msft I'm not sure yet.
But the NuGet Client Dev\5.7.0.6670(it didn't repro on this build). is the one we just inserted into dotnet. After that, we only had some infrastructure changes.

[2020-06-29 16:24] nkolev92 commented on #9705
I imagine the problem is not normalizing the slashes before appending the trailing slash.

We should #7004, but I imagine removing the trailing slash would work just fine.

[2020-06-29 17:50] #9608 closed, assigned to sbanni

[2020-06-29 17:50] nkolev92 opened #9731 "Investigate the deduplication of NuGetVersion/VersionRange and other read-only object in PackageMetadataResource & SearchResource"
Use the MetadataReferenceCache to cache strings, NuGetVersion, VersionRange and other types that are read-only.

[2020-06-29 20:06] nkolev92 commented on #5926
The reason for the increased priority behind the original issue is because this is a `regression` in the experience for PackageReference projects compared to packages.config.

[2020-06-29 20:11] nkolev92 commented on #8315
Triage:
We will remove the arrows in the meantime because they cause confusion for our customers.

[2020-06-29 20:16] nkolev92 commented on #9176
Hey @ChristianHoe

In PackageReference projects, the content files are by default not transitive.
Refer to https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets.

To make the contentFiles flow transitively to the parent projects, please change the `PrivateAssets` metadata of the packing project.

[2020-06-29 20:16] #9176 closed, assigned to nobody

[2020-06-29 20:21] nkolev92 commented on #9181
Dup of https://github.com/NuGet/Home/issues/8616

[2020-06-29 20:21] #9181 closed, assigned to nobody

[2020-06-29 20:24] nkolev92 commented on #9186
Hey @narendra2509
This repo houses the NuGet Package Manager issues.

[2020-06-29 20:24] #9186 closed, assigned to nobody

[2020-06-29 20:25] zkat commented on #9186
This looks like an NPM error to me, but you're also using a very old version of the NPM CLI. Please try upgrading to a newer NPM, and if that doesn't work, file an issue in github.com/npm/cli instead.

[2020-06-29 20:28] zkat commented on #9177
Thank you for the feedback, but our team was unable to prioritize it at this time as they are working on problems with broader customer impact. You can see details at: https://docs.microsoft.com/en-us/visualstudio/ide/report-a-problem?view=vs-2019#faq. Please comment below if you have additional data or details that will help us appropriately reprioritize this issue. It is possible that this probl

[2020-06-29 20:29] nkolev92 commented on #9194
@lanfeust69

We don't apply transitive no warn, see https://github.com/NuGet/Home/issues/5740.

As such I suspect that this behavior might be by design?
Do you agree? Or I am misunderstanding your suggestion.

[2020-06-29 21:08] lanfeust69 commented on #9194
@nkolev92 : I suspect you misunderstood 😃

I actually read #5740, which is very reasonable (although maybe debatable).

Here I pointed out a plain error in logic : to check if `this` is a subset of `that`, you check that `this` is smaller than `that`, and if it's the case that everything in `this` is in `that`. But *if `this` is bigger than `that`, it is obviously **not** a subset of `that`*, and

[2020-06-29 21:53] erdembayar commented on #8352
Finally I was able to open PM “Consolodate UI” and “Update UI” without crash (see attached screenshot),  We’re expecting this fix will go out with 16.7 release. It’s end of all, we need to make more performance improvement.

![image](https://user-images.githubusercontent.com/8766776/86059693-1d31b600-ba18-11ea-8411-b9ea8dc4960c.png)

[2020-06-29 22:37] dsplaisted commented on #9442
We may not need this from NuGet, probably the analyzer for platform APIs can cover this.

[2020-06-29 22:44] zivkan commented on #9641
Stack trace
[code]

[2020-06-29 23:03] srdjanjovcic opened #9732 "Opening NuGet.sln in Visual Studio shows IDExxxx errors in few source files."
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Source code.

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

Opening NuGet.sln and certain C# s

[2020-06-29 23:13] zivkan commented on #9730
Duplicate of https://github.com/NuGet/Home/issues/4980

[2020-06-29 23:13] #9730 closed, assigned to nobody

[2020-06-29 23:21] donnie-msft opened #9733 "Revert "shared compilation of XmlUtility""
(Broken in https://github.com/NuGet/NuGet.Client/pull/3438)

[2020-06-29 23:24] zkat commented on #9442
Closing for now, then.

[2020-06-29 23:24] #9442 closed, assigned to nobody

[2020-06-29 23:44] VGerris commented on #6581
Why on earth is this closed? How about DNS resolution is made to work, like it does for all other command I use like ping?
Please reopen this issue and address the issue if that is actually the problem.
I had this issue on Ubuntu Linux at initial run and continuously in docker.

Related seem:
https://github.com/dotnet/sdk/issues/8299
https://github.com/NuGet/Home/issues/6140

[2020-06-30 00:14] nkolev92 commented on #9194
@lanfeust69

Can you please provide us the repro?
It will be easier to reason about the impact that way.  Thanks!

[2020-06-30 01:18] aortiz-msft commented on #9729
@v-luzh - Would you please help understand if this is a regression since the last RTM?

[2020-06-30 05:52] lanfeust69 commented on #9194
Sorry @nkolev92 , I obviously didn't leave the warning in our code...

I probably could reproduce, but :
- it would be time consuming
- it would be very far from minimal (we're talking about a solution with 1200 projects here !)
- and anyway I wouldn't be allowed to send that
- I guess it may be easier to start from NuGet's code and try to craft a situation that exhibits the behavior. Maybe starti

[2020-06-30 06:35] #9395 closed, assigned to nkolev92

[2020-06-30 09:46] walterlv opened #9734 "Feature Suggestion: Provide a switch or config to ignore the package downloading from trustless sources"
## Situation

I have two package sources:

1. [nuget.org](https://nuget.org): This is the only fully trusted source.
1. A private NuGet source: this is a mirror source of the former one, and it also provides some private packages.

What matters is that the second source lists a package not existed and download it from the first one. But the downloading operation fails at very high risk so that it

[2020-06-30 11:12] daltskin commented on #8580
Also been through a few iterations and approaches to this.  Sometimes the following works, other times I get errors:

[code]

[intermittent] errors with: An error was encountered when fetching 'PUT https://nuget.pkg.github.com/daltskin/'. The request will now be retried. An error occurred while sending the request.

Now, I'm just using curl to push the package and it seems more reliable :)

Replac

[2020-06-30 11:16] daltskin commented on #9493
Also see: https://github.com/NuGet/Home/issues/8580#issuecomment-651727105

[2020-06-30 13:08] xtompe opened #9735 "Unable to load the service index for source https://api.nuget.org/v3/index.json. (The remote server returned an error: (403) Forbidden.)"
## Details about Problem
I am unable to install "Microsoft.Data.SqlClient" NuGet package.
I get following in the log window:

[nuget.org] Unable to load the service index for source https://api.nuget.org/v3/index.json.
  An error occurred while sending the request.
  The remote server returned an error: (403) Forbidden.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe)

[2020-06-30 15:57] rlundy commented on #6373
For those who missed it above...

# WORKAROUND

From a command prompt:

`> nuget sources`

It shows you something like:
[code]

Now create a file called `nuget.config`.  Put this in it:

[code]

Put that file in the root of your non-company code folder.

Done!

To confirm, run `nuget sources` in that same folder and you should now see `[Disabled]` next to whichever NuGet sources you put in the fil

[2020-06-30 17:46] heng-liu commented on #9728
Repro successfully with the exact version of VS and VSIX.
Output from PM UI:
[code]

[2020-06-30 17:53] nkolev92 commented on #9194
@lanfeust69 We'll certainly try to reverse engineer what the potential fall outs from this bug are.

The reason why I asked for a repro if you have one was because we prioritize based on customer impact.

[2020-06-30 18:14] donnie-msft commented on #9709
Closing as duplicate: https://github.com/NuGet/Home/issues/9600
Thanks, your details will be referenced there.

[2020-06-30 18:14] #9709 closed, assigned to nobody

[2020-06-30 18:20] donnie-msft commented on #9694
//cc @dominoFire

[2020-06-30 18:23] heng-liu commented on #9728
Tried to install the same package in PM console. And it succeeded.
[code]

[2020-06-30 18:25] donnie-msft commented on #9722
//cc @nkolev92 @zivkan

[2020-06-30 18:59] donnie-msft commented on #9456
Is this still an issue? It sounds to me like your symbol sources aren't configured correctly with the **NuGet.org Symbol Server**.

You may check the VS guide on setting these up: scroll down to the section, [To specify symbol locations and loading options: ](https://docs.microsoft.com/en-us/visualstudio/debugger/specify-symbol-dot-pdb-and-source-files-in-the-visual-studio-debugger?view=vs-2019#sy

[2020-06-30 19:17] donnie-msft commented on #9727
What sort of validation error were you seeing? Was nuget.org still validating the previous push? I wrote an issue here which describes the behavior: https://github.com/NuGet/NuGetGallery/issues/7681

The issue I see with validating on push is, how will push know which symbols you intend to include, and how does it know what the server will accept?
//cc @zkat

[2020-06-30 19:34] donnie-msft commented on #9735
Perhaps this was a transient network error, or a proxy configuration issue? Can you access the URL from your web browser?

[2020-06-30 19:48] jozefizso commented on #9727
Validation error: **The uploaded symbols package contains one or more pdbs that are not portable.**

It is clear which PDB format is supported by **snupkg** files. Either nuget.org should wait with publishing packages till symbols are validated, or it can detect this trivial error when generating packages.

[2020-06-30 20:36] donnie-msft commented on #9734
Have you played with the `-Trusted` parameter in the PowerShell tool, `Register-PackageSource`? https://docs.microsoft.com/en-us/powershell/module/packagemanagement/register-packagesource?view=powershell-7#examples

[2020-06-30 21:35] advay26-zz opened #9737 "Bug in NuGet.CommandLine.Console `PrintJustified()` method"
The PrintJustified method in NuGet.CommandLine.Console does not account for newlines properly when wrapping. An example of this is:

Input -
[code]
When we call Console.PrintJustified(2, text);

Actual Output -
[code]

Expected Output -
[code]

[2020-06-30 23:11] nkolev92 commented on #9722
@ooooolivia

The first thing that stands out is that the stack trace is coming from the SDK resolver.
How long did this run for?

Have you attempted to run restore for different projects/solutions on your VM?

[2020-06-30 23:36] #8611 closed, assigned to zivkan

[2020-06-30 23:36] #8627 closed, assigned to zivkan

[2020-06-30 23:36] #8703 closed, assigned to zivkan

[2020-06-30 23:36] #8806 closed, assigned to zivkan

[2020-06-30 23:41] #9641 closed, assigned to zivkan

[2020-06-30 23:55] #9725 closed, assigned to heng-liu

[2020-07-01 01:12] heng-liu opened #9738 "Xplat verfication: after merging to dev"
There're some unfinished tasks after merging the xplat verification feature branch to dev.

[2020-07-01 01:25] donnie-msft commented on #9734
Do you think this feature would help your scenario? https://github.com/NuGet/Home/issues/6867

[2020-07-01 03:29] ooooolivia commented on #9722
@nkolev92  Yes the restore works for empty dotnet console template. For [my project](), it just hangs at the end of the log (waited for at least an hour)
[code]
and it has to be manually terminated. Checked a couple of nuget caches and the packages were not found there, so it might be a NuGet issue instead of SDK issue?

[2020-07-01 03:54] heng-liu commented on #9728
Just found it doesn't matter whether the package is signed or not.
I tried with source of local directory, containing unsigned package, signed package(download from nuget.org), and both of them failed to install. So I suppose it's a problem of local source.

[2020-07-01 05:37] hueifeng opened #9739 "Multiple VS versions use nuget to search for packages with different results"
## Description

I searched the package using vs2015 nuget management tool and found that the results returned by vs2019 are different. Some preview packages are missing.

## Reproduce

1、Search for `System.Drawing.Common` through the nuget management tool.

vs2015
![image](https://user-images.githubusercontent.com/34702552/86204785-e932ce00-bb9a-11ea-9614-11f70be7ea61.png)

vs2019

![image](https:

[2020-07-01 07:10] ilya-spv commented on #6376
Would not just "1.2.*" work? If I understand it correctly you will get highest minor version which will for sure be above 1.2.3 if this version exists?

[2020-07-01 08:12] v-luzh commented on #9729
@aortiz-msft Sure, I will prepare a VM to verify it on 16.6 GA.

[2020-07-01 08:26] v-luzh commented on #9588
@donnie-msft We didn't repro this issue on VS Master\30229.148 + NuGet Client Dev\5.7.0.6677. The project PM UI and solution PM UI would not be open by default in step 5 even we closed VS with the two PM UI left open in step 4.

[2020-07-01 12:31] LegendaryB commented on #9456
Yeah it is still an issue. The snupkg is created and the pdb type is set to portable because nuget supports only portable format. I also cross checked all the settings in your link with my visual studio settings. But the symbols are still not loaded (also checked in the modules window). Do you have another idea? Or maybe could you try to debug into it? We have sample apps which can easily be downl

[2020-07-01 13:19] Regenhardt commented on #5385
So how is this thing coming along? I still have to manually undo web.config and app.config files because they get changed for exactly no reason any time I update a library. The other comment said @PatoBeltran was already working on this like 2 years ago, did anything come out of that?

[2020-07-01 14:37] heng-liu commented on #9728
Sorry,I could not repro with usigned package and signed package anymore.
(I did clear the output window and nuget local cache everytime, but not sure how did that happen)
So it's only related to package signed with untrusted signer.

[2020-07-01 14:51] Gabriel-Lacatus commented on #5895
Conditioning does not work in Azure DevOps when generating NuGets from projects with conditional references.

E.g: in csproj we have package references such as
`  <Choose>
    <When Condition="'$(Configuration)' == 'Debug'">
      <ItemGroup>
        <ProjectReference Include="..\ProjectA\ProjectA.csproj" />
      </ItemGroup>
    </When>
    <Otherwise>
      <ItemGroup>
        <ProjectReference

[2020-07-01 15:52] #9588 closed, assigned to donnie-msft

[2020-07-01 17:45] donnie-msft commented on #8076
Just wanted to follow-up with this. The proposal here is for a Windows feature, but NuGet already provides CLI tooling that will clear folders....

`dotnet nuget locals <CACHE_LOCATION> [(-c|--clear)...` is documented here:
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-locals#arguments

[2020-07-01 17:45] nkolev92 commented on #9722
@ooooolivia can you generate a dump please?
See: https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-dump

[2020-07-01 17:51] miloush commented on #8076
Thanks @donnie-msft, I pointed out the CLI tooling could be called using the `CleanupString` setting (and required to correctly handle location overrides), so the proposal can be treated as for integrating the existing tooling into the Windows disk clean-up feature.

[2020-07-01 19:21] joelverhagen commented on #9739
The reason you are seeing a difference in version list is because Visual Studio 2015 does not support the SemVer 2.0.0 packages protocol. In other words, SemVer 2.0.0 packages (such as version `4.6.0-preview9.19421.4`) will not appear in version lists in the Package Manager UI on the nuget.org package feed. Visual Studio 2019 supports SemVer 2.0.0 packages.

For more information about SemVer 2.0.0

[2020-07-01 19:37] donnie-msft commented on #8076
Sorry, I actually missed your last sentence there, but I've added the docs link in case someone stumbles on this Issue.

I personally like your idea of having some OS-level integration; however, it's likely not something that will become part of NuGet,
 especially since it's OS-specific. Users can wrap our tooling as your suggestion implies to regularly clear these caches.

We also have the previo

[2020-07-01 19:58] cristinamanum opened #9740 "[Performance]: Find a solution with better performance to reject the central transitive dependencies that have rejected parents."
## Details about Problem
Related with the issue [Rejected transitive central dependencies should be removed from the restore graph](https://github.com/NuGet/Home/issues/9483)

The [current solution](https://github.com/NuGet/NuGet.Client/pull/3374) does multiple loops through the the list of the central dependencies and their parents to detect any rejected parents.

Evaluate if a different solution

[2020-07-01 23:23] #9728 closed, assigned to erdembayar

[2020-07-02 00:28] cristinamanum commented on #8912
Could not RCA yet. Move to backlog for now.

[2020-07-02 01:07] hueifeng commented on #9739
@joelverhagen Thank you. But I don’t quite understand why I have two packages with the same version number, only one will appear in the UI `Magicodes.IE.Excel` and `Magicodes.IE.Core`.

[2020-07-02 01:55] joelverhagen commented on #9739
I'm not exactly sure that I follow what the problem is. I see both the Excel and the Core project in the screenshot above. Provide another screenshot or description of what problem you are facing?

[2020-07-02 01:59] hueifeng commented on #9739
I understand what I said above, but I have encountered a problem that the stable package cannot be searched out.
## Reproduce
vs2015
![image](https://user-images.githubusercontent.com/34702552/86307876-7123e100-bc4a-11ea-8b72-f793d8fd44bd.png)

vs2019

![image](https://user-images.githubusercontent.com/34702552/86307914-87ca3800-bc4a-11ea-9ea9-c79c75a9d25a.png)

[2020-07-02 02:19] joelverhagen commented on #9739
Could you provide the package source URLs configured into both your VS 2015 and VS 2019 cases? This can be found in Tools > Options.

My suspicion is that your VS 2015 has a non-standard package source URL configured into it.

[2020-07-02 02:24] hueifeng commented on #9739
As shown in the picture, use `https://api.nuget.org/v3/index.json`.

![image](https://user-images.githubusercontent.com/34702552/86309307-fc52a600-bc4d-11ea-84e2-28abaf8a3e7c.png)

[2020-07-02 02:41] joelverhagen commented on #9739
I dug into this. This is also because of the SemVer 2.0.0 filtering. Consider the version 3.0.0-beta1 (absolute latest as seen in VS 2019). This package has a SemVer 2.0.0 version range in one of its dependencies. This also makes the package source consider the package as SemVer 2.0.0:
![image](https://user-images.githubusercontent.com/94054/86310422-e5bb3900-bbd2-11ea-8da0-6af9b48e2af2.png)

[2020-07-02 02:49] hueifeng commented on #9739
@joelverhagen  Ok,Thank you for your help.

[2020-07-02 03:05] drewnoakes opened #9741 "Invalid package in non-active TFM can cause packages subtree to be empty"
(Copied from https://github.com/dotnet/project-system/issues/6311)

**Visual Studio Version**: Version 16.7.0 Preview 4.0 [30228.12.master]

Works in 16.6.2.

- Have a multi-target project.
- Add a reference conditionally to the non-active (i.e. non-first) TFM
- Use an invalid version number for that reference

[code]

Result is that the "Packages" node shows a chevron to expand, yet no children a

[2020-07-02 07:37] d4e666 commented on #6088
I have the same issue. When I remove a reference using a tool, this can remove the file reference, but leave the reference in packages.config (or something went wrong with the install scripts added to the nuget). This would then REPAIR the package to it's original state instead of doing an update.

[2020-07-02 09:57] v-luzh opened #9742 "[Test Failure] Error “Value cannot be null” occurs when executing “dotnet list package –outdated” command"
## Details about Problem
Affected Dotnet SDK: 5.0.100-preview.8.20351.5
Installation steps: Windows-10-Enterprise-RS5
## Detailed repro steps
1.	Create a Powershell script named "Test.ps1" with below contents.
[code]
2.	Open Task Manager.
3.	Navigate on the main menu to File | “Run new task”.
4.	In the Open textbox type ‘Powershell -ExecutionPolicy Bypass’.
5.	Enable the option “Create this task w

[2020-07-02 15:36] nkolev92 commented on #6088
@d4e666

What you are articulating sounds like it is related to packages.config.
This issue is talking about PackageReference.

[2020-07-02 15:58] #9739 closed, assigned to nobody

[2020-07-02 16:49] rikkit commented on #9020
Also experiencing this error using `mcr.microsoft.com/dotnet/core/sdk:3.1` - `--disable-parallel` fixed it but takes longer. Run inside a Docker build inside WSL2.

[2020-07-02 17:20] nkolev92 commented on #9217
@dominoFire

What's the customer impact of this issue?

[2020-07-02 17:22] nkolev92 commented on #9219
@dominoFire
Can you add more detail here?

[2020-07-02 17:24] nkolev92 commented on #9222
Hey @KeltarHelviett

We are prioritizing issues that have high customer impact and we haven't seen too many reports of this problem.

Have you considered using dotnet.exe, as it's the preferred way for managing your .NET Core projects on Linux & Mac.

[2020-07-02 17:27] nkolev92 commented on #9249
@connectArun2001 Can you provide the msbuild.binlog file as @zivkan suggested.

[2020-07-02 17:28] nkolev92 commented on #9259
Closing per the above comment.

[2020-07-02 17:28] #9259 closed, assigned to nobody

[2020-07-02 17:32] nkolev92 commented on #9292
@jeffkl

Is there a specific customer impacted by this behavior?

[2020-07-02 17:34] nkolev92 commented on #9310
Closing as per the previous comments.
This is not something in NuGet Client's control.

[2020-07-02 17:34] #9310 closed, assigned to nobody

[2020-07-02 17:39] nkolev92 commented on #9347
@zkat
Would you mind following up on this and figure out if there is any work required for .NET 5.

[2020-07-02 17:41] nkolev92 commented on #9354
Closing as we have not heard back from the customer.
@ViktorHofer If you have repro steps, we'll be happy to reconsider.

[2020-07-02 17:41] #9354 closed, assigned to nobody

[2020-07-02 17:45] nkolev92 commented on #9356
Closing this as per the last comment.
Please install the .NET Framework 4.7.2 runtime.

[2020-07-02 17:45] #9356 closed, assigned to nobody

[2020-07-02 17:48] nkolev92 commented on #9361
Hey @jmroyb
Would you be able to provide a sample project?
It'll help us repro the exact issue you are seeing and provide suggestions.

[2020-07-02 17:52] nkolev92 commented on #9365
Hey @fowl2

We are prioritizing issues based on their customer impact and given that this is non breaking we are not sure we'll be able to get to this soon.

We would happily consider a pull request.

[2020-07-02 17:54] jeffkl commented on #9292
[BuildXL](https://github.com/microsoft/buildxl) is the team who reported it.  They are doing some fancy stuff around scheduling of processes which causes the issue to happen.

[2020-07-02 18:27] #9361 closed, assigned to nobody

[2020-07-02 20:34] donnie-msft commented on #9742
@erdembayar Checked that this is already fixed by https://github.com/NuGet/Home/issues/9728 which has not yet been inserted to dotnet

[2020-07-02 20:34] #9742 closed, assigned to nobody

[2020-07-02 23:49] nkolev92 commented on #9726
I think that's a reasonable suggestion, especially given that we're likely re-downloading the same file over and over again.

I also don't expect customers to do this often given that the results are not extremely valuable.
I want to say consider caching, but the response is the same, not the query :(.

[2020-07-03 00:09] nkolev92 commented on #9489
Removing the performance label because it's not obvious whether this has any tangible impact.

[2020-07-03 00:22] nkolev92 commented on #9488
Can we maybe combine this with https://github.com/NuGet/Home/issues/9489

I have a few concerns about keeping so many of these issues open:

1. There's no observed impact from these issues, it could be something that's completely normal.
1. They have similar leaf traces. It is very likely that the issue, if any has a similar root cause.

These issues seem to be more about "Are these binding failur

[2020-07-03 00:22] nkolev92 commented on #9488
Similar to the other, removing the perf label, because of the lack of observable problem.

[2020-07-03 00:29] nkolev92 commented on #9708
I think this would help, but as you suggested, I'm not sure how much. Given that's it's a relatively small change, maybe we do it later.

[2020-07-03 00:31] HEskandari commented on #4652
There is still an issue with PackageReference that contains source files (imported with PrivateAssets="All"). The source files are not picked up at compile time. This is specific to `Microsoft.NET.Sdk.WindowsDesktop` SDK projects.

[2020-07-03 00:35] nkolev92 commented on #8127
Hey @DavidBarth

Do you recall if you observed any improvements with newer NuGet?

For your local feeds, are you using the hierarchical feeds or flat feeds?
https://docs.microsoft.com/en-us/nuget/hosting-packages/local-feeds#initializing-and-maintaining-hierarchical-folders

Hierarchical feeds are significantly faster.

Given that this has been open a while without too much additional feedback, we

[2020-07-03 00:41] nkolev92 commented on #4448
Lowering the priority here.
#8058 deals with the loading of registration pages in the PM UI. PackageReference restore itself *does not* use registration and uses the flat container instead and as such this is not a problem at this point in time.

[2020-07-03 00:48] nkolev92 commented on #9333
Scoping down a bit here.
The issue body calls out that the primary focus is the Package Manager UI, and I think that is the *correct* approach.

[2020-07-03 00:50] nkolev92 commented on #9577
Fixed!

[2020-07-03 00:50] #9577 closed, assigned to zivkan

[2020-07-03 01:09] nkolev92 commented on #5660
With https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio.Contracts/INuGetProjectService.cs, all these stacks have now been replaced by async codepaths.

We are *not* going to fix the synchronous codepaths, rather we will try to actively move people to the new async codepaths.

fyi @zivkan another kudos to you!

+ @aortiz-msft

[2020-07-03 01:09] #5660 closed, assigned to nobody

[2020-07-03 01:35] nealef commented on #9547
Hi,
 Is there any progress with this issue? My offer of big-endian resources stands. We have a Jenkins client ready and waiting if that is useful.

Neale

[2020-07-03 02:31] nkolev92 commented on #8892
Lots of work was already started here.

[2020-07-03 02:34] nkolev92 commented on #9675
Dup of https://github.com/nuget/home/issues/4176.

That one is more fitting and customer tracking

[2020-07-03 02:37] nkolev92 commented on #5184
Closing in favor of https://github.com/NuGet/Home/issues/6867.

This one is older but the other one is tracked by customers.

[2020-07-03 02:38] nkolev92 commented on #5184
Related to https://github.com/NuGet/Home/issues/6867

[2020-07-03 04:40] weirdyang opened #9743 "NuGet appending extra '.' to feedurl -- in azure artifacts scenario."
## Details about Problem

using  dotnet test, when the project builds and restores packages, Nuget adds an extra '.' to the feed url:
{"count":1,"value":{"Message":"No HTTP resource was found that matches the request URI 'https://pkgs.dev.azure.com/_packaging/MicroserviceAPIHelper/nuget/v3/index.json.'."}}

Worked before? If so, with which NuGet version:
Yes, I'm using the same YAML for different

[2020-07-03 06:09] Bosch-Eli-Black commented on #8315
And yet another confused customer (me :P): https://developercommunity.visualstudio.com/comments/1101169/view.html

[2020-07-03 06:39] cezarypiatekGC commented on #5895
@Gabriel-Lacatus If you are building on Linux then case-sensitivity matters. Please try `/p:Configuration=Debug`

[2020-07-03 07:51] Bosch-Eli-Black commented on #8315
The order of the NuGet sources does affect functionality in at least one place: When installing NuGet packages via the Visual Studio UI.

Right click on a project and go to Manage NuGet Packages. At the top right of the window, there's a "Package source" dropdown. The order of the packages in this dropdown are in the same order as when configuring NuGet sources.

Importantly, when installing a new

[2020-07-03 07:53] connectArun2001 commented on #9249
[msbuild.zip](https://github.com/NuGet/Home/files/4868466/msbuild.zip)
please find required file msbuild.zip

[2020-07-03 07:55] connectArun2001 commented on #9249
please find required file msbuild.zip
[msbuild.zip](https://github.com/NuGet/Home/files/4868481/msbuild.zip)

[2020-07-03 08:06] miaw7 commented on #7180
@heng-liu @zkat i have the same problem and it really annoys me. Every time before checkin i need to check each config file and undo changes to all config files that were unexpectedly changed. It also adds configs for library projects. If you have many projects in one solution it is really a nightmare. It takes extra efforts and time. It would be great if we can get some kind of feedback

[2020-07-03 19:31] d4e666 commented on #6088
Does it matter if it is for Niger cobfig or package reference. Fact is that links can get corrupted and because of dependencies simple remove and install doesn't cut it either way.

[2020-07-04 11:47] cilerler commented on #7484
I just hit the same kind of issue, and I am wondering if there is a way to mark a package not to get cached?

In my case, I always update the package in my local and had to delete it from `~.nuget\packages` so the application that takes the package can get the latest and the greatest.

[2020-07-04 14:46] zivkan commented on #7484
@cilerler as the first reply says, the global packages folder is used as "the location" for PackageReference projects. The NuGet team does not refer to the global packages folder as a cache for multiple reasons, and this is one.

What this means is that the compiler reads assemblies from the global packages folder. MSBuild copies these assemblies from here to your project's output folder. During a

[2020-07-04 14:50] cilerler commented on #7484
@zivkan I appreciate the detailed explanation. I wasn't aware that we can specify the GlobalNuget folder per solution via nuget.config. It would definitely solve my issue.  I appreciate that.  Thank you!

[2020-07-04 19:14] zivkan commented on #9726
I'm afraid I disagree. The resource used is in the service index as "search query service". The [search resource documentation](https://docs.microsoft.com/en-us/nuget/api/search-query-service-resource#response) clearly states:

Maybe I'm too idealistic, but to me any static feed is broken by design as it violates the documented protocol.

Additionally, if we take the suggestion, and implement skip

[2020-07-06 06:08] kartheekp-ms commented on #9733
Thanks @zivkan for suggesting [two possible options](https://github.com/NuGet/NuGet.Client/pull/3438#issuecomment-649737830) for this issue,

I don't know when we stop inserting into .NET Core 3.1. As per [.NET Core release lifecycles doc](https://dotnet.microsoft.com/platform/support/policy/dotnet-core), 3.1 is `LTS` support level now which makes me think that we  keep inserting into this version

[2020-07-06 07:24] leon1411 commented on #4190
11

[2020-07-06 09:29] gregpakes commented on #6010
I cannot believe this isn't getting more attention.  It is literally unusable in a larger solution.

[2020-07-06 12:56] anangaur commented on #6010
/cc: @rconard, @cristinamanum (to verify this issue in CPVM context)

[2020-07-06 15:07] bbobrian opened #9744 "Exception thrown when trying to setapikey that starts with the @ character."
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe

NuGet version (x.x.x.xxx): 5.6.0.6591

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)): win10 v1909 (18363.900)

Worked before? If so, with which NuGet version: 3.5.0

## Detailed repro steps so we can see the same probl

[2020-07-06 15:52] rrelyea commented on #9744
I'm not able to repro this.

What I tried...
1. created local nuget.config file via "dotnet new nugetconfig"
2. added source via "dotnet add source http://private.nuget.local -n private" (needs dotnet.exe 3.2.100 or later i believe...other wise use nuget.exe)
3. ran `C:\repos\nuget-5.6.0.exe setapikey @myapikey -source http://private.nuget.local`

result: setApiKey: invalid arguments.
not an excep

[2020-07-06 16:01] nkolev92 commented on #6010
CPVM will suffer from the same problem @anangaur.
I have it on my list of general perf issues.

[2020-07-06 16:08] nkolev92 commented on #8315
@Bosch-Eli-Black

NuGet defaults to all the first time. After that it just goes to whatever the user selected. Meaning, you can select pretty much any source.

This is not true in PackageReference. PackageReference treats all feeds in an equivalent way.

In packages.config install/update, the selected feed is treated as a primary, while the others are treated as secondary sources. What that means

[2020-07-06 16:15] nkolev92 opened #9745 "INuGetProjectService.GetInstalledPackagesAsync should return the actual version installed rather than the requested one"
Self explanatory - currently the version return is requested one. The versions are the same *most* of the time and the old service has this issue too.

Related: https://github.com/NuGet/Home/issues/9702

FYI @zivkan
@aortiz-msft Marking this as 5.8, should be made easy by @martinrrm's work.

[2020-07-06 16:17] nkolev92 commented on #9733
This is meant to staay closed @kartheekp-ms
It's tracking the revert. The original issue should be re-opened.

3.1 is LTS, but it's not going to be under active development, rather maintenance.
So 5.8 is when we can change it.

[2020-07-06 16:17] #9733 closed, assigned to nobody

[2020-07-06 16:32] nkolev92 opened #9746 "INuGetProjectService.GetInstalledPackagesAsync should return the transitive packages"
Self explanatory - the model already has already contains a bool.

Related: https://github.com/NuGet/Home/issues/9702

FYI @zivkan
@aortiz-msft Marking this as 5.8, should be made easy by @martinrrm's work.

[2020-07-06 17:35] rrelyea commented on #9636
@sbanni fixed with his #9610 work, which is in code review.

[2020-07-06 17:35] #9636 closed, assigned to mirkomuggli

[2020-07-06 18:19] zivkan commented on #9547
G'day, mate. I was back home in December, which feels like such a long time ago now.

I applied your patch and built locally: [NuGet.zip](https://github.com/NuGet/Home/files/4880579/NuGet.zip)

I'm also asking around internally to see what big-endian hardware we might have access to. It's unclear to me whether .NET Core is officially supported on big-endian hardware, or if any testing and fixes co

[2020-07-06 18:43] nkolev92 commented on #6088
@d4e666

It does. In packages.config the installation is 2 part, the packages.config file and the references in the project file (.csproj). The references in the project file hard code a relative path to the assets chosen (like the dll).

In PackageReference, the installation is simply the package id and package version.
Everything else is automatic!
This makes things like re-targeting a project s

[2020-07-06 18:47] nkolev92 commented on #6010
Note for the implementer.
As suggested above, it should be safe to batch all updates and only run 1 restore.
In fact that's arguably better than the current experience given the transitivity of PackageReference and how changes in child projects will affect the restore in parent projects.

[2020-07-06 18:59] Cheesebaron opened #9747 "Listing transitive packages does not work with Xamarin projects"
## Details about Problem

dotnet.exe --version: **3.1.301**

## Detailed repro steps so we can see the same problem
Run: `dotnet list package --include-transitive` on any Xamarin.Android or Xamarin.iOS project. You will get the error:

Similarly, with Xamarin.iOS projects, where it is looking for Xamarin.Apple.CSharp.targets.

The targets for Xamarin.iOS and Xamarin.Android live in: `C:\Program Fi

[2020-07-06 19:07] nkolev92 commented on #8058
Currently the deprecation experience calls for a deprecated message in the drop down when looking at the version list.
We can't do that without https://github.com/NuGet/NuGetGallery/issues/8067, so marking that issue as a blocker.

[2020-07-06 19:09] nkolev92 commented on #8058
We can technically do the work on the client side, and just only consider it implemented when the server side change goes in.
This would be beneficial for non-nuget.org servers anyways.

[2020-07-06 20:06] nkolev92 commented on #3784
The goal here is to just replace GetService with GetServiceAsync wherever possible.

No need to focus on removing ServiceLocator.

[2020-07-06 20:08] dominoFire commented on #3784
119 calls to analyze from src/* and test/* folders

Some calls are noisy because component.GetService is also matched. Besides, end2end test makes calls to GetService and xml comment are also matched.

[2020-07-06 20:09] nkolev92 commented on #9708
@erdembayar If this takes under a day and we get measurable improvements I think we sohuld od it.

[2020-07-06 20:09] nkolev92 commented on #3784
I would prioritize src/ only.
Wouldn't bother too much with the test changes.

[2020-07-06 20:10] dominoFire commented on #3784
40 matches remaining from .cs files in `src` folder.

[2020-07-06 20:11] zivkan opened #9748 "VS extensibility APIs required to unblock net5 TFMs with platform identifiers"
Investigate existing VS extensibility APIs related to framework parsing, framework names, etc, to understand how other (official) VS components use NuGet and how they'll be impacted for net5.0 TFMs with a platform identifier.

Once this is understood, design and implement new APIs to unblock usage of TFMs with TPI's in VS.

[2020-07-06 20:12] donnie-msft opened #9749 "Installed/Updates UI Filtering can be more conservative with Reloading"
In https://github.com/nuget/home/issues/8294, I've applied UI Filtering to the Installed/updates tab-switches only when those tabs are loaded once. This was a tiny-step forward, and this issue is to take another (final?) step in this filtering.

1. Updates doesn't need to load independently of Installed.
2. Switching away from Installed/Updates doesn't need to trash the cache. Keep it around and u

[2020-07-06 20:28] nkolev92 commented on #9749
2 looks like #4176 basically :)

Should this be an epic?

[2020-07-06 20:28] nkolev92 commented on #9741
Adding an estimate of 5 as a minimum.

[2020-07-06 20:39] donnie-msft opened #9750 "Updates & Installed packages can utilize the same data"
The packages within the Updates tab, are the same set of packages in the Installed tab. There's no reason to clear those packages, and load a second time, when switching tabs.

[2020-07-06 20:52] zkat opened #9751 "Plan out trajectory for net5.0 support project"

[2020-07-06 21:00] kartheekp-ms commented on #9733
Thanks @nkolev92 for closing this request. TBH I realized my mistake last night and wanted to close this one and reopen original issue as first thing in the morning. I will reopen original issue and start discussion there.

[2020-07-06 21:07] dominoFire commented on #3784
Branch with some progress is  dev-dominofire-service-async

[2020-07-06 21:12] rrelyea commented on #1851
Had meeting with .net core team today to talk about options for xplat encryption.
Unfortunately, this issue is tracking a solution that would only be able to provide "obfusacted passwords" -- see number 5 in list below.

List of best to lowest security options:

Authentication Options for NuGet clients
=======================================================
1) AVAILABLE SOON: Use Client Certs to s

[2020-07-06 21:35] rrelyea commented on #9747
Currently, dotnet.exe list package relies on the dotnet.exe copy of msbuild.exe -- and its associated targets and props files.
As such, projects that need VS and its targets/props, aren't supported by dotnet.exe list package.

Classifying this issue...as we may choose to investigate ways to address in future, given enough votes, etc...

[2020-07-06 21:40] rrelyea commented on #9743
there are ways that an additional source may be defined with the extra period.

1) project files may have a property set (via targets/props or project file) that adds this source with a period.
2) there could be other nuget.config files, that only impact this project. (nuget.config files when used via command line can be per project...when run in VS, those same configs don't work)
3) the pipeline,

[2020-07-06 22:08] nkolev92 commented on #9444
Reading the target frameworks in the inner build will make this possible.

[2020-07-06 22:09] zivkan commented on #9748
duplicate of https://github.com/NuGet/Home/issues/9650

[2020-07-06 22:09] #9748 closed, assigned to zivkan

[2020-07-06 22:09] nkolev92 commented on #9441
Reading the target frameworks in the inner build will make this possible.

[2020-07-06 22:13] nkolev92 commented on #9439
Reading the target frameworks in the inner build is a prerequisite for this task.

[2020-07-06 22:15] donnie-msft commented on #9675
@nkolev92  can you elaborate on how that's a dup? I thought this was about caching the Consolidate tab like the Updates tab is doing?

[2020-07-06 22:22] donnie-msft commented on #9461
Consider splitting up this dropdown since it often causes confusion:

- Restore Sources: "All" (cannot be changed) - with a tooltip explaining it applies to Restore

- Package sources for Browse & Update metadata (same control as today)

[2020-07-06 22:31] nkolev92 commented on #9675
The smart refreshing was about not refreshing when it's not needed. Specifically not reloading when regaining focus unless it's necessary.

I think it's valid to have an issue that says, the consolidate tab should use the same caches as the installed/update tab, but I'm not sure how much of that is being done right now.

So you can either add that topic to an existing issue or tweak this one to in

[2020-07-06 22:32] advay26-zz opened #9752 "Advay's summer internship project 2020"
This is a tracking issue for all the tasks that @advay26 will take on as part of his internship summer project.

[2020-07-06 22:33] nkolev92 opened #9753 "Design for displaying floating versions in the NuGet package Manager UI (project and solution level)"
@nkolev92 commented on [Mon Jul 06 2020](https://github.com/NuGet/Client.Engineering/issues/399)

Design for https://github.com/NuGet/Home/issues/3788

[2020-07-06 22:35] advay26-zz opened #9754 "Implementation document for Readme project"
Ref: https://github.com/NuGet/Home/wiki/Packaging-READMEs-within-the-nupkg

Write up an implementation proposal for how this project will be implemented, and the tasks that will need to be undertaken.

[2020-07-06 22:40] advay26-zz opened #9755 "Creating a prototype for the Readme project"
Ref: https://github.com/NuGet/Home/wiki/Packaging-READMEs-within-the-nupkg
Ref: #9754

Create a basic prototype that includes a Readme while packing.

- [x] Building from .nuspec

- [x] Building from .csproj

- [x] Validation on Client side

- [x] Parsing Base Dir. for "readme.md"

[2020-07-06 22:54] nkolev92 opened #9756 "With multi targeted projects, NuGet should read the target framework related information from the inner build."
Currently in command line scenarios NuGet reads the target framework information in the outer build.
That is incorrect because the the contract is that we should depend on on TargetFrameworkIdentifier and the like properties.
We do that here: https://github.com/NuGet/NuGet.Client/blob/bd482514a87a0085f8eb8603842ee1cb3ca5f277/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L500-L526

This task is a

[2020-07-06 23:07] donnie-msft commented on #9461
@anangaur suggests we not make UI control changes to these controls, unless they are minor tooltip changes, as bigger UI changes are in the works

[2020-07-06 23:35] erdembayar opened #9757 "Package Manager UI memory leak when package metadata is garbage collected due to a bad binding"
I decided to create separate ticket from [#9731.](https://github.com/nuget/home/issues/9731)
This one is for UI mostly.
Reproduce:
1. Open solution in "Experimental  Instance".
2. Open PM UI go to "Browse", "Updates", "Consolidate" tabs then close it. Next close whole project.
3.  As you can see 2 attached images there are 3228 pcs of `NuGetVersion` and 1748 pcs of `VersionRange` items are stayes

[2020-07-07 02:37] Bosch-Eli-Black commented on #8315
Ah, got it; thanks, @nkolev92 :)

[2020-07-07 03:16] #9741 closed, assigned to drewnoakes, nkolev92

[2020-07-07 03:42] nealef commented on #9547
Thanks. I can give you access to a Big Endian virtual machine. Just send me your public key. It will be a CentOS 7 system that has mono 6.13 installed.

Thanks for the zip! I will give it a test drive.

[2020-07-07 03:46] nkolev92 commented on #9726
I focused more on the redownloading and missed the part that we'd break existing search due to fact that skip will always be larger than take for the 2nd page for proper feeds.

Given that I agree with @zivkan , and I think this is a by design.

[2020-07-07 06:20] ooooolivia commented on #9722
@nkolev92  Thanks for your reply! The dump has been sent to you by email.

[2020-07-07 08:39] v-luzh commented on #4202
Close this since it is fixed on Master\30306.116.

[2020-07-07 08:39] #4202 closed, assigned to nobody

[2020-07-07 09:28] clement911 opened #9758 "skipDuplicate and symbol package"
We use the `skipDuplicate` option so that a Github action can push a new nuget version whenever the version is incremented, and skip the push if that version was already published.

This works but the `skipDuplicate` doesn't appear to skip the symbol package.

As a result, a new symbol package is pushed on a every build. Because the symbol package doesn't match the originally publish nuget package

[2020-07-07 09:58] v-nancyj opened #9759 "[Test Failure] None package is showed under ‘Reference’ node in ‘Solution Explorer’ after installing package with ‘PackageReference’ format"
## Details about Problem

**NuGet Version:** Dev\5.7.0.6689
**VS Version:** Master\30306.116
**OS Version:** Windows-10-Enterprise-RS5

## Installation steps:
1. Install VS: [https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3869190&view=ms.vss-build-web.run-extensions-tab](url)
2. Install NuGet Client: [\\\ddfiles\Drops\NuGet\Drops\CI\NuGet.Client\Dev\5.7.0.6689\artifacts\VS15\NuGet.T

[2020-07-07 10:34] nealef commented on #9547
It seems to do the trick but I'll give it a more thorough workout tomorrow. Many thanks!

[2020-07-07 12:25] clairernovotny commented on #9726
@nkolev92 In that case, please remove the deprecation warning around `RawSearchResourceV3`. That type cannot be removed until there's a way to paginate static feeds. I don't have an issue with doing it another way, I do have an issue with not having any way at all.

[2020-07-07 13:50] zivkan commented on #9547
Being the idealist that I am, I refactored the code a little, as you can see in the diff in the PR I just created.  If you'd like to test the binary with the new changes, it's here: [NuGet.zip](https://github.com/NuGet/Home/files/4885168/NuGet.zip).  Again, this was built locally, so missing authenticode signatures and does not correspond to any official, supported release. Assuming the PR gets me

[2020-07-07 14:18] leus commented on #545
Any roadmap updates for this?

[2020-07-07 14:39] zivkan commented on #9726
@clairernovotny given we didn't set the error bool to `true` when we used `ObsoleteAttribute`, it's a warning. For projects using warnings as errors, customers using the NuGet SDK can use `#pragma warning disable 0618` when using `RawSearchResourceV3`. So, I don't agree with "not having any way at all".

My concern about removing the obsolete attribute is that it makes it sound like it's more supp

[2020-07-07 14:43] zivkan commented on #9758
duplicate of https://github.com/NuGet/Home/issues/9647.

[2020-07-07 14:43] #9758 closed, assigned to nobody

[2020-07-07 14:46] zivkan commented on #9726
If your concern is specifically for customers using the `dotnet-core` sleet feed, you could consider suggesting them to migrate to one of the [new feeds hosted on Azure DevOps](https://github.com/dotnet/arcade/issues/5752#issuecomment-654912223), that correctly implements NuGet's search protocol.

[2020-07-07 15:00] clairernovotny commented on #9726
@zivkan My concern is that someone will see the deprecation warning and decide to remove the type entirely in a subsequent release without having a workaround.

I'm not just concerned about the `dotnet-core` feed, there are plenty of others too.

[2020-07-07 15:42] zivkan commented on #9744
@rrelyea  I assume you were testing within powershell. [Poweshell treats @ as a special/control character](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_splatting?view=powershell-7#long-description). You can test with `echo @myapikey`, `echo "@myapikey"`.  People using different shells that do not use `@` as a control character will not have the same expe

[2020-07-07 16:00] Cheesebaron commented on #9747
It would be very useful to have support for this with Xamarin Apps. Especially for generating "About" pages in Apps to comply with accepted licenses from NuGet packages etc. Currently, it requires quite a lot of manual effort to get the complete list of packages used in your App.

[2020-07-07 16:33] srdjanjovcic opened #9760 "Add RPS tests over real-world solutions"
Such as OrchardCore and Roslyn

[2020-07-07 16:38] #9732 closed, assigned to srdjanjovcic

[2020-07-07 16:57] srdjanjovcic opened #9761 "RPS: Adjust NuGet-Restore scenario markers to avoid capturing events during solution load"
We are currently using `Microsoft-VisualStudio-Common/vs_nuget_projectinformation` event for start of the scenario, but we should have dedicated nuget-restore/Start event or something like that to actually capture start of restore. For now, that may be `Microsoft-VisualStudio-Common/vs_nuget_restoreinformation_restoreoperationchecks/Start`

[2020-07-07 16:58] srdjanjovcic opened #9762 "RPS: Measure no-op restores in a separate scenario."

[2020-07-07 18:12] donnie-msft commented on #9759
No repro on 16.6.3
Repro on 16.8.0 Preview 1.0 [30306.11.master]

Clicking "Refresh" in Solution Explorer will show the package.

[2020-07-07 18:23] heng-liu opened #9763 "Test: VerifySignaturesAsync_ExpiredCertificateAndTimestampWithTooLargeRange_FailsAsync is flaky on mac and Linux"
The VerifySignaturesAsync_ExpiredCertificateAndTimestampWithTooLargeRange_FailsAsync test is flaky on Mac only:
Error message:
[code]
or

[code]
Stack trace:
[code]

[2020-07-07 20:19] srdjanjovcic opened #9764 "OutputWindowTextWriter constructor should not be called on background thread"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): Latest

Worked before? If so, with which NuGet version: Day before

## Detailed repro steps so we can see the same problem

1. Install a package in PMUI

[2020-07-07 21:08] donnie-msft commented on #9759
I believe this is a regression on the VS side in 16.8.

Did not repro with Version 16.7.0 Preview 3.1 (VisualStudio.16.Preview/16.7.0-pre.3.1+30223.230).
Did repro with 16.8.x. without installing the VSIX above.

[2020-07-07 21:14] #9656 closed, assigned to donnie-msft

[2020-07-07 22:42] nkolev92 commented on #9726
I understand the feedback, but I want us to be careful about what supporting the static feed search would entail.

* From NuGet client's perspective, static feeds that return a search response with too much data are just misbehaving and not following the protocol.
  * We'd effectively start treating static feeds as a special category of V3 feeds.
Given that this would require explicit work on the

[2020-07-07 23:21] shahabhijeet opened #9765 "RestoreIgnoreFailedSources=true still gives warnings"
I am trying to suppress NU1801 warning (Unable to load the service index for source…) If one of the Nuget sources is not accessible.
I have tried the following:
1. Provided this as one of the property to Restore Target
 a. RestoreIgnoreFailedSources=true
2. Also added `<NoWarn>NU1801</NoWarn>`
3 .Also pass `/p:NoWarn=NU1801`

NugetVersion = latest from nuget.com
dotnet = 3.1.301
VS = 16.6.3
OS = W

[2020-07-07 23:58] #8294 closed, assigned to donnie-msft

[2020-07-07 23:58] #6995 closed, assigned to donnie-msft

[2020-07-08 00:48] nkolev92 commented on #9224
Hey @bondarenkod.

So based on what you are describing, I think it's similar to https://github.com/NuGet/Home/issues/6010.

Can you try to manually update all package versions on disk and run a restore?
Does it work then?
If yes, then I believe #6010 will help fix your scenario.

[2020-07-08 01:08] nkolev92 commented on #7474
Hey @phatcher

Thanks for filing this issue.

Unfortunately at this point, I don't think it's feasible to suspend the NU1605 and NU1608 warnings.

When a package version is changed NuGet verifies that the complete package graph is still valid and to do that NuGet needs restore to succeed. If Nuget persists data that leads to invalid restore, NuGet will not be able to make subsequent compat checks

[2020-07-08 01:08] #7474 closed, assigned to nobody

[2020-07-08 01:08] nkolev92 commented on #6010
I think there's also a correctness element here in addition to perf, see #9224

[2020-07-08 02:46] nealef commented on #9547
@zivkan This appears to work as well. Thanks.

[2020-07-08 04:18] #9764 closed, assigned to srdjanjovcic

[2020-07-08 04:24] #9663 closed, assigned to srdjanjovcic

[2020-07-08 05:19] reazura commented on #9020
Im getting this issue locally on `mcr.microsoft.com/dotnet/core/sdk:3.1-buster` as well - which is strange, it was working fine about 2 days ago. I havent tried on another machine/connection yet.

[2020-07-08 05:56] sm-g commented on #912
@nkolev92 Are versions like `(,1.3.*]` supported? NuGet.CommandLine 5.6 can not restore сызкщо with such version.

[2020-07-08 12:31] zivkan opened #9766 "invalid paths in configuration files should report actionable error message"
edit:  There are multiple possible issues that could be created after investigating this issue, but I think they're low impact, so possibly not worth tracking separately:
* better error messages when unable to load file
  * however, I believe the path being walked is `..\`, so it's hard to give a good, actionable error message from NuGet.Configuration
* msbuild restore uses the `SolutionDir` prope

[2020-07-08 13:24] zivkan commented on #9766
Looking a bit closer, I notice that the command line was a restore of a project, not a solution, and the failure happened in a P2P reference, not the project from the commandline. The P2P project uses packages.config, and it appears that the project file might have defined SolutionDir to `..\`.  I think this is fundamentally the root cause, but I didn't try to repro it.

[2020-07-08 15:47] #9547 closed, assigned to nobody

[2020-07-08 17:16] nkolev92 commented on #912
@sm-g Floating versions are only allowed in the min part of the range, they cannot be part of the upper bound.

[2020-07-08 17:53] rrelyea commented on #9765
Can you tell us more about your scenario?
We'd prefer you disable sources that you know will be offline or unavailable.
Is there a reason that doesn't work well for you?

[2020-07-08 18:06] shahabhijeet commented on #9765
We have a scenario where we need to have code base in two different devOps organization for the next 6 months (we accquired a company recently)
And during stabilization we had to move code base between two orgs (devOps orgs) and hence each org had separate nuget feed.
So that is when I thought of using the `RestoreIgnoreFailedSources` flag to our advantage but saw bunch of warnings.
alternative is

[2020-07-08 18:22] rrelyea commented on #9765
Perhaps you could conditionally add sources for environment 1 and environment 2...
RestoreAdditionalProjectSources is an msbuild property -- (from docs here: https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets)

And then you wouldn't need to play with 2 different nuget.configs for the two different environments.

That said, this bug is still true...and we should triage, etc...
But i g

[2020-07-08 18:25] rrelyea commented on #9765
Repro steps:
[code]

[2020-07-08 18:54] nkolev92 commented on #9760
To goal here is to add a test for a primarily PackageReference based large solution.

We want to have a representative of each solution type that we care for an OrchardCore is a good representative of the large sln group.

The scenarios we care for are similar to the ones we care for in our cmd perf scripts: https://github.com/NuGet/NuGet.Client/tree/dev/scripts/perftests#nuget-client-performance-

[2020-07-08 18:57] #9762 closed, assigned to srdjanjovcic

[2020-07-08 19:11] nkolev92 commented on #9760
Primarily the focus here is solution load, that's the scenario that we care about the most.

We should still test a few warm restores in VS by running Build/Restore NuGet Packages command.

[2020-07-08 19:40] BlackGad commented on #5773
For peoples who wants to secure theirs NuGet server with client certificates will leave here our configuration.

We are using regular [BaGet](https://github.com/loic-sharma/BaGet) NuGet server which listening not secured HTTP inside our **private network** ([Read-through caching](https://loic-sharma.github.io/BaGet/configuration/#enable-read-through-caching) disabled)
and [Apache reverse-proxy](ht

[2020-07-08 22:22] #9241 closed, assigned to zkat, heng-liu, kartheekp-ms

[2020-07-08 23:46] zkat commented on #9437
Dupe of https://github.com/nuget/home/issues/9215

[2020-07-08 23:46] #9437 closed, assigned to zkat

[2020-07-09 00:04] zkat commented on #9347
hey @lucasmeijer @terrajobst @joshpeterson!

I'd like to follow up with this (thanks Nikolche), to make sure we have a good answer while we're in the process of finalizing net5.0 TFMs in NuGet itself (what I'm working on right now!).

If anyone cares for my opinion, I like Lucas' suggestion to use net5.0 and unitytiny, because I think that would be a nicer overall experience for the ecosystem. I'v

[2020-07-09 00:05] zkat commented on #9089
Closing for now for realsies. I moved all the epic issues to be under https://github.com/NuGet/Home/issues/9090 instead :)

[2020-07-09 00:05] #9089 closed, assigned to zkat

[2020-07-09 00:32] zkat commented on #9438
As Nikolche says, this is basically a noop. :)

[2020-07-09 00:32] #9438 closed, assigned to zkat

[2020-07-09 00:33] zkat commented on #9440
Related to https://github.com/nuget/home/issues/9756 but on the pack side rather than restore.

[2020-07-09 00:34] zkat commented on #9441
This is pretty small assuming we have https://github.com/nuget/home/issues/9756 in place :)

[2020-07-09 00:35] zkat commented on #9444
This will be fairly straightforward once https://github.com/nuget/home/issues/9756 is implemented.

[2020-07-09 00:37] zkat commented on #5154
We might be able to get away in net5.0 with just doing https://github.com/nuget/home/issues/9756, which isn't this whole feature, but it makes some necessary work happen towards making aliases happen.

[2020-07-09 01:35] nkolev92 opened #9767 "Introduce a warning for null/empty version range (new or reuse NU1604)"
NU1604 currently complains that a project has a dependency without an inclusive lower bound.

https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu1604

Now, often times this is true, but most frequently, the problem is that someone was playing with MSBuild and the variable that contains the version is now empty.

The message can reflect that.

We could introduce a new warning, b

[2020-07-09 01:39] ocallesp commented on #9767
"... has no version, or does not include a lower bound"

[2020-07-09 03:15] zivkan commented on #4980
We finally had some meetings about this internally.

### concept

We discussed some different options, and agreed that the best experience is if we do what some people (me) may consider the most obvious:   NuGet should change the filesystem last write time of a single file in each package when it's used in a restore.  Tooling to perform the delete will be designed later.

I think the file whose ti

[2020-07-09 05:14] santoshi12 opened #9768 "Nuget Restore says all packages are already installed and there is nothing to restore but iam getting an error during build"
Getting the below error during build in vs 2019
This project references NuGet package(s) that are missing on this computer. Use NuGet Package Restore to download them.  For more information, see http://go.microsoft.com/fwlink/?LinkID=322105. The missing file is ..\packages\Microsoft.Gsl.0.1.2.1\build\native\Microsoft.Gsl.targets.

The packages folder in the solution is getting updated with that pa

[2020-07-09 07:54] pavanupb opened #9769 "The DataTimeOffset specified cannot be converted into a Zip file timestamp with .Net SDK 3.1.301"
dotnet.exe --version: 3.1.301

VS version: VS 2019 v16.6.3

OS version: Win 10

When trying to build my solution using .Net SDK V3.1.301, "The DataTimeOffset specified cannot be converted into a Zip file timestamp" error is being thrown in VS 2019.

I see that the timestamp is not being displayed for Microsoft.Extensions.* dll

![image](https://user-images.githubusercontent.com/38906373/87014122-f

[2020-07-09 08:52] pavanupb commented on #9769
Issue resolved by installing "Microsoft.Extensions.DependencyInjection" V 3.1.5. Closing the issue

[2020-07-09 08:52] #9769 closed, assigned to nobody

[2020-07-09 11:30] cturano opened #9770 "NuGet package manager crashed Visual Studio if the IconUrl is pointing at a text file"
If the &lt;IconUrl&gt; in the Nuget package def points at a file that is not an Icon, Visual Studio crashes when the NuGet package manager is opened and the users scrolls one of the lists to that package.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI. Nuget package manager

NuGet version (x.x.x.xxx): 5.6 (package manager version in

[2020-07-09 11:48] joshpeterson commented on #9347
@zkat:

Thanks for picking this up! I think we have two outstanding issues to address.

First, how to can we ensure that Unity can make additive-only changes to the TFM? The idea is encapsulated in my question above:

Second, can or should we name the TFM to indicate what it is a proper subset of? At the moment, our unitytiny profile is a proper subset of .NET Standard 2.0. Once Unity supports .NE

[2020-07-09 14:39] Maskime commented on #7792
Bumping on this one I just ran into it.
I was able to have it work using the nuget.exe bin which prompt me for authentication without failure.

[2020-07-09 15:12] zivkan commented on #9249
@connectArun2001 sorry about not replying in months. I did a poor job on following up here. Unfortunately it was hard for me to prioritize since there are no other customers reporting a similar issue.

I had a look at the binlog, and I can see that all the projects are using the same version of the package. Since the projects are using PackageReference, they use compile time assets from `ref\net45

[2020-07-09 16:12] tmds commented on #1851
This is by design. `root` is not like a Windows administrator. It is at the same level as the kernel. You can never lock out root.

Disk encryption can be used.
(On top of restricting physical access, so disks don't get stolen.)

Probably the 'key' stored to reverse the obfuscation will be stored with the user permissions. That's fine. I want to point it out explicitly.

This seems an interesting

[2020-07-09 16:35] rrelyea opened #9771 "VerifySignaturesAsync_ExpiredCertificateAndTimestamp_SuccessAsync is noisy test"
VerifySignaturesAsync_ExpiredCertificateAndTimestamp_SuccessAsync is failing about 10% of the time.

[2020-07-09 16:42] miloszkukla commented on #6548
The contentFiles feature is supported as it is in documentation. In my case the problem was putting content files directly in contentFiles directory. It seems it is not supported - files that are target framework/language independent must be placed into **contentFiles/any/any** directory (https://docs.microsoft.com/en-us/nuget/reference/nuspec#package-folder-structure). That's why **/* is used in

[2020-07-09 16:44] heng-liu commented on #9771
Error message:
[code]

Stack trace:
[code]

[2020-07-09 16:49] advay26-zz opened #9772 "Parallelize querying of multiple sources in Search for NuGet CLI"
Use parallelization to handle multiple sources when querying them in NuGet.exe's `search` command.

[2020-07-09 16:56] dquist commented on #1851
Point of clarification regarding the encrypted passwords in nuget.config, there's currently no way to set the encrypted password value without entering it as a plaintext value as part of the command. This is not ideal since the plaintext value will most certainly be logged in terminal history.

[2020-07-09 17:23] nkolev92 commented on #8446
@v-luzh

Can you please try to see if this repros with nuget.org?

Thanks.

[2020-07-09 17:30] nkolev92 commented on #8497
This error typically comes from MSBuild.

We prioritize issues based on customer impact. We do not believe this is something we will be able to get to in the foreseeable future, but we will happily consider a community contribution.

[2020-07-09 17:31] nkolev92 commented on #8546
Triage:
Closing this as this is not actionable from NuGet perspective.

[2020-07-09 17:31] #8546 closed, assigned to nobody

[2020-07-09 17:39] nkolev92 commented on #9371
Dup of https://github.com/NuGet/Home/issues/5725.

That issue deals with "do not show me packages that are not applicable to my project".

[2020-07-09 17:39] #9371 closed, assigned to nobody

[2020-07-09 17:48] nkolev92 commented on #9378
@syakimchik

NuGet.exe list has an -AllVersions option, can you try using that?

https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-list

[2020-07-09 17:53] nkolev92 commented on #9385
Hey gallery folks,
@joelverhagen @cristinamanum @loic-sharma

Does look like a valid API key? Is this an expected behavior.

[2020-07-09 17:56] nkolev92 commented on #9387
Hey @glopesdev

This is a known issue, duplicate of https://github.com/NuGet/Home/issues/4693

[2020-07-09 17:56] #9387 closed, assigned to nobody

[2020-07-09 17:58] nkolev92 commented on #9392
Hey @alex-jitbit, @MikhailArkhipov

Would either of you be able to provide a repro here?

Other helpful information would be whether your projects are packages.config or PackageReference based.
Pointing us to a package that you are having problems with might help too.

[2020-07-09 17:58] joelverhagen commented on #9385
/cc @ryuyu who investigated this issue. We had a Turkish "i" bug where `ToLower()` was used instead of `ToLowerInvariant()`. There is a Turkish "i" in that API key suggesting it is the same bug.

@bayramucuncu, please generate a new API key. Apologies for the inconvenience.

[2020-07-09 18:04] nkolev92 commented on #9385
Thanks @joelverhagen

@bayramucuncu gonna close this issue now, let us know if the suggestion did not work.

Thanks.

[2020-07-09 18:04] #9385 closed, assigned to nobody

[2020-07-09 18:07] bayramucuncu commented on #9385
Thank you for your interest.

[2020-07-09 19:46] pavanupb opened #9774 ""TheDateTimeOffset specified cannot be converted into a Zip file timestamp" with Microsoft.Extensions.DependencyInjection v3.1.0"
I am getting "TheDateTimeOffset specified cannot be converted into a Zip file timestamp" error while trying to build the solution. I am building an analyzer using Roslyn and using Microsoft.Extensions.DependencyInjection V3.1.0. However when I try to build the solution I am getting a build error. The date modified field is null for Microsoft.Extensions.* dll's.
I have installed .Net SDK v3.1.301.

[2020-07-09 19:52] glopesdev commented on #9387
Hey @nkolev92, I know this issue was raised before: you can see I actually was the last user to comment on #4693 just before I opened this one.

This was a deliberate action, the comment thread on #4693 seemed stale and diluted as the years went by without any fix, and some of the maintainers can be seen questioning what was even the point of the issue in the first place.

Since no one replied to

[2020-07-09 20:14] zkat commented on #2316
Reopening this for now. We'll re-discuss at our triage meeting on Monday and figure out where to prioritize this. Seeing discussion and upvotes by then would strongly signal to us that this should be made a priority. :)

[2020-07-09 20:16] alex-jitbit commented on #9392
@nkolev92 in my case it's `packages.config` (.NET Framework ASP.NET MVC5 project - **not** Core)

The project, for example, references `Microsoft.AspNet.SignalR.JS` nuget package, that puts JavaScript files into the /Scripts folder.

In Visual Studio it works fine. Via CLI - JS files are not being created.

[2020-07-09 22:56] nkolev92 commented on #9387
@glopesdev

We are prioritizing issues based on many factors, community engagement is something we account for in our planning.
Unfortunately that's not something that we have gotten to yet.

I think it'd be good if you can provide your input on the same issue. Please do up vote that issue if you haven't already.

We apologize for the inconvenience.

[2020-07-09 23:48] erdembayar commented on #6010
Hi. I start working on this problem.
Sorry I know this very late for working on this problem.
Currently I can't reproduce this problem on my local with VS 2019 16.6 Preview.
@bradphelan @Seltzer @gregpakes  Can someone share me solution code where I can reproduce this problem?

Here is my sample solution with 20 projects used for my test:
https://github.com/erdembayar/NugetTestProj

Here is my res

[2020-07-09 23:49] gregpakes commented on #6010
@erdembayar So we have 300 projects.  I think that might be where you are falling over.

[2020-07-10 00:25] Seltzer commented on #6010
@erdembayar We only have 44 projects but to better reflect reality, you'll probably want to add more than jQuery and JSON .NET to each project. I'll attempt to upload a sample sln which vaguely matches our one sometime in the next few days.

I've never properly investigated it myself so I'm not sure what the exact cause is but it definitely feels like there's an algorithm with unintended exponenti

[2020-07-10 00:48] dominoFire commented on #9705
@nkolev92 dotnet/source-build is impacted by this bug. The source-build'ed nuget packages created and consumed in source-build have this problem.

There's a patch that address this issue in source-build. Also, a PR in NuGet.Client is ready to address this specific package. https://github.com/NuGet/NuGet.Client/pull/3511

[2020-07-10 01:28] nkolev92 commented on #6010
I synced up with @erdembayar.

The challenge is when we have multiple PackageReference projects referencing each other.

Let's take for example a simple sln with 2 projects.
Parent -> Child, and each one of the the 2 have the exact same packages, regardless of the number of packages.

If we try to install a new package to both projects at the same time, we'd run separate restores for each project

[2020-07-10 03:18] weitzhandler commented on #7189
Anyone found a solution?

[2020-07-10 05:42] MattiasEppler commented on #8843
Sorry for the late response. My Project is working now.
The example was not exactly matching my problem. In the example was one Package (MyPackage) and one consuming app.
MyProblem I have an addinional ClassLibrary consuming MyPackage and MyApp just reference to this ClassLibrary.
So the content files should be copied from MyPackage over MyClassLibrary to My App.
This is only working after i chang

[2020-07-10 05:47] MattiasEppler commented on #8843
Additional question:
The files in the Package are in the sub folder native.
So i set
`  <ItemGroup>
    <Content Include="native\**"  PackageCopyToOutput="true" />
  </ItemGroup>`

How is it possible to copy the files flat to the output without this folder?

[2020-07-10 10:19] RehanSaeed commented on #8580
I have two repos where I'm using the **exact same** `build.yml` file and one fails while the other does not. The only difference is that one project has a `.` in the name (`Schema.NET`) while the other (`FastestNuGet`) does not. There doesn't seem to be any issues tracking this.

[code]

[2020-07-10 10:35] RehanSaeed opened #9775 "Dotnet nuget push to GPR fails randomly"
## Details about Problem

dotnet.exe --version: `3.1.301`
OS version: GitHub Actions `windows-latest` - Microsoft Windows Server 2019 10.0.17763

## Detailed repro steps so we can see the same problem

I have two repos [Schema.NET](https://github.com/RehanSaeed/Schema.NET/runs/857473445?check_suite_focus=true) and [FastestNuGet](https://github.com/RehanSaeed/FastestNuGet/runs/857461157?check_suite

[2020-07-10 10:36] RehanSaeed commented on #9775
There seem to be multiple issues describing this bug but they all seem to have been closed with unsatisfactory workarounds:

- https://github.com/NuGet/Home/issues/9775
- https://github.com/NuGet/Home/issues/8580

[2020-07-10 11:35] connectArun2001 commented on #9249
Hi, I have updated my solution with 4.5.1 version of Systems.Buffers. And on Nuget its publish date is Tuesday, March 24, 2020 (3/24/2020). And when i am rebuilding my solution after clean solution System.Buffers.dll shows Modified date as 19-02-2020 in Bin folder.
I also tried rebuild solution after deleting all bin folders of my solution. Please suggest.

[2020-07-10 13:59] edblackburn commented on #2316
I opened this issue and engaged in the conversation on Twitter, so it feels appropriate to explain what I meant four years ago.

Four years ago, I was a C# consultant I built build pipelines to use Paket for most of my clients. At the time Paket was frankly streets ahead of the NuGet client. It was lighter, had a bootstrapper, had a lock file and for me, most compellingly [Github Dependencies](htt

[2020-07-10 15:26] zivkan commented on #9650
APIs that use `NuGetFramework`:

[code]

My thoughts at this time is to deprecate `IVsFrameworkParser` and to add overloads (or something similar where the only difference is return type), to use `string`, rather than `FrameworkName`, with instructions that the value should be the full canonical value obtained from `TargetFrameworkMoniker`. I need to validate this property is created by the common

[2020-07-10 17:18] zivkan commented on #9249
You can try using the [Fusion Log Viewer, fuslogw.exe](https://docs.microsoft.com/en-us/dotnet/framework/tools/fuslogvw-exe-assembly-binding-log-viewer). I think that Fusion is the name of the assembly loader used by the .NET Framework.  It will produce logs that will tell you which paths it looked for assemblies, and if it found a matching filename, why it rejected loading that file.

After enabl

[2020-07-10 17:25] michael-hawker commented on #7189
@JimBobSquarePants that's fine if you know you want to be pulling from MyGet for a long-term project, but sometimes you just want to pull a dev package to test something quick or try out a new feature, setting up a NuGet.config for that single purpose isn't a great workaround.

I think the main thing here is that MyGet still provides an easy copy-paste command on their website in order to pull dow

[2020-07-10 17:58] shuruev commented on #2316
@edblackburn for C# files distributed “as a source” this seems to be supported already.
Try installing this package https://www.nuget.org/packages/Atom.Base64Url/

I’ve been using this approach for a while and it works pretty neat, even allows performing package updates in a natural way. If you delete the package it will clean up all the source files.

It also supports dependencies, can depend on

[2020-07-10 18:13] JimBobSquarePants commented on #7189
@michael-hawker You should be using a Nuget.config file for ALL projects that are source controlled. It's just good practice.

[2020-07-10 18:22] #9682 closed, assigned to zkat

[2020-07-10 18:24] safern opened #9776 "Feature: control MSBuild property name generated by GeneratePathProperty for a package"
There are some cases where people calculate a package reference depending on the HostArch/HostOS with something like:

[code]

The propety generated for that package will be something like, `Pkgruntime_osx_10_12_packagename`, which is impossible to reference on MSBuild dynamically based on the hostarch/os. You would need to check which property is set for all the possible combinations of host and

[2020-07-10 20:05] #9662 closed, assigned to nobody

[2020-07-10 20:11] ericstj commented on #9776
Here's a very hacky way I made this work before:
https://github.com/dotnet/corefx/blob/985334c90d6b181cd47cd42c4c958d9dd34ab90b/external/optimizationData/optimizationData.depproj#L23-L28

Agreed there should be a feature for this.

[2020-07-10 20:44] rrelyea commented on #9763
another hit https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3879869&view=results

[2020-07-10 20:51] nkolev92 commented on #9731
* Check that the search resource is getting cached.
* MEasure with cortana, Nuget.sln on the consolidate tab.

[2020-07-10 20:52] nkolev92 commented on #9757
In the investigation of this PR, @erdembayar noticed something that looks like a potential memory leak in the PM UI.

Certain data was not getting cleaned up after closing the PM UI.

[2020-07-10 20:55] #9761 closed, assigned to srdjanjovcic

[2020-07-10 20:55] nkolev92 commented on #9761
@srdjanjovcic link the PR.

[2020-07-10 20:56] #9591 closed, assigned to srdjanjovcic

[2020-07-10 20:56] nkolev92 commented on #9591
We're gonna take this in 5.8

[2020-07-10 21:02] srdjanjovcic commented on #9761
AzDO Pull Request [259695](https://dev.azure.com/devdiv/DevDiv/_git/VS/pullrequest/259695): Inner loop perf tests: Adjust NuGet scenarios.

[2020-07-10 21:08] RehanSaeed commented on #9775
I've tried re-running the build and it fails randomly 4/5 times for the Schema.NET build but is rock solid for FastestNuGet.

[2020-07-10 21:45] srdjanjovcic opened #9777 "Create separate test assembly for NuGet tests"

[2020-07-10 21:47] srdjanjovcic opened #9778 "Add RPS test for P95 generated solution (56 projects)"

[2020-07-10 21:49] srdjanjovcic opened #9779 "Create separate test pipeline for NuGet RPS tests."

[2020-07-10 21:49] RehanSaeed commented on #9775
I've resorted to retrying to push a NuGet package to GitHub Actions.

[code]

[2020-07-10 21:50] srdjanjovcic opened #9780 "Tie NuGet RPS tests into NuGet CI"

[2020-07-10 21:52] srdjanjovcic opened #9781 "Document RPS tests, including a playbook for investigating issues."

[2020-07-10 22:07] nkolev92 opened #9782 "NuGet restore in VS should report progress to allow the project-system to better control design time build scheduling."
CPS side: [1146684](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1146684)

Right now the BulkFileOperation API does not allow overlapping intervals.

Internal issue: [1418717](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1418717/)

Design: https://github.com/NuGet/Home/blob/dev/proposed/2021/ProjectUpdateEventsInVisualStudio.md

PR in progress: https://github.com/NuGet/NuGet.Cl

[2020-07-10 22:16] nkolev92 commented on #9777
Sounds like this issue captures what https://github.com/NuGet/Client.Engineering/issues/405 wants to do  as well?

Should we close https://github.com/NuGet/Client.Engineering/issues/405?

[2020-07-10 22:17] nkolev92 commented on #9779
Closing https://github.com/NuGet/Client.Engineering/issues/405, cause it's capture in this issue, https://github.com/NuGet/Home/issues/9777, and https://github.com/NuGet/Home/issues/9780

[2020-07-10 23:02] zkat opened #9783 "Support .NET 6.0"
This epic contains stuff we need to do specifically to support net6.0

Spec: https://github.com/dotnet/designs/pull/174

* [x] https://github.com/nuget/home/issues/10718
* [x] https://github.com/nuget/home/issues/10819
* [x] https://github.com/nuget/home/issues/10717
* [x] https://github.com/nuget/home/issues/9913
* [x] https://github.com/nuget/home/issues/9435

[2020-07-10 23:08] zkat commented on #9440
This feature was cut because we won't even get far enough to get here without aliases. Closing.

[2020-07-10 23:08] #9440 closed, assigned to nobody

[2020-07-11 04:24] weitzhandler commented on #7189
I agree with @michael-hawker.
I'm now working on a repo and wanna test one if the NuGet packages I made local changes to.
It really doesn't make sense to add that file or change it to accommodate for my local path.
What I ended up done instead is adding that it to the NuGet sources in VS.
It would have been better if there woulda been an opt in option "Allow installation of packages from unknown s

[2020-07-11 04:24] chris1248 commented on #8373
I just encountered this, it was a mal-formed environment variable.
Why don't you nuget programmers just make this error a bit more verbose, so we don't have to spam google with search queries all day, and read through long endless threads like this.

One lousy helpful message is all it takes to fix this guys!

[2020-07-11 09:08] connectArun2001 commented on #9249
Please find logs below

*** Assembly Binder Log Entry  (11-07-2020 @ 14:34:33) ***

The operation was successful.
Bind result: hr = 0x0. The operation completed successfully.

Assembly manager loaded from:  C:\Windows\Microsoft.NET\Framework\v4.0.30319\clr.dll
Running under executable  C:\WINDOWS\SysWOW64\inetsrv\w3wp.exe
--- A detailed error log follows.

=== Pre-bind state information ===
LOG: W

[2020-07-11 09:10] davidfowl commented on #7189
@JimBobSquarePants agreed but it's a PITA for local testing since you end up having to put a physical path in the NuGet.Config. That's fine if the repo is a throw away for testing but not something to check into source control.

@weitzhandler What happens if you have dependencies on other packages that aren't on nuget feeds? There are several issues with local package development that makes things

[2020-07-11 09:12] connectArun2001 commented on #9249
Please find logs of Rebuild Solution after Clean Solution

*** Assembly Binder Log Entry  (11-07-2020 @ 14:40:21) ***

The operation was successful.
Bind result: hr = 0x0. The operation completed successfully.

Assembly manager loaded from:  C:\Windows\Microsoft.NET\Framework\v4.0.30319\clr.dll
Running under executable  C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\MSBuild\Curre

[2020-07-11 09:16] connectArun2001 commented on #9249
Even after Clean->rebuild solution Syste.Buffers.dll is not getting updated in bin folder even after its version update from Nuget. Please suggest

[2020-07-11 11:33] zivkan commented on #9249
Check the fusion logs for System.Buffers.dll when you run your app, to understand why the one in your bin folder is not being loaded.

[2020-07-11 12:19] connectArun2001 commented on #9249
Clean-Rebuild-Solution(Compile time) logs for System.Buffers.dll (4.5.1 version downloaded from Nuget package manager). but not updated in local Bin folder for application
System.Buffers.dll should be updated after (compile) Clean-Rebuild-Solution

*.
** Assembly Binder Log Entry  (11-07-2020 @ 17:37:26) ***

The operation was successful.
Bind result: hr = 0x0. The operation completed successfully

[2020-07-11 16:02] zivkan commented on #8952
The `NuGet.Packaging.csproj` has [a comment saying to remove two package references to remove a temp fix, with a link to this issue](https://github.com/NuGet/NuGet.Client/blob/b7c15bd1681b768c894a612590edcdd77fdd2bcc/src/NuGet.Core/NuGet.Packaging/NuGet.Packaging.csproj#L52-L54).

While we can probably get rid of the `deps.json` patching code from `DotNet.Integration.Tests`, we'll still need these

[2020-07-11 16:23] zivkan commented on #9249
Ok, the information about the error is in the logs. It's saying that `System.Text.Json.dll` was compiled against `System.Buffers, Version=4.0.2.0`, but on disk it found `System.Buffers, Version=4.0.3.0`. Since there's no policy (binding redirect), so there was an error `ERR: The assembly reference did not match the assembly definition found.`

With PackageReference projects, for console apps, WPF,

[2020-07-11 16:56] nkolev92 commented on #7189
Hey all,
if you are trying to work with packages that under development, please consider upvoting https://github.com/NuGet/Home/issues/6579.

[2020-07-11 17:43] connectArun2001 commented on #9249
Thanks i added same in web.config file . Now getting below error.

Could not load file or assembly 'System.Runtime.CompilerServices.Unsafe, Version=4.0.4.1, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040) Could not load file or assembly 'System.Runtim

[2020-07-11 17:48] zivkan commented on #9249
you need to repeat the process. Look at the fusion logs for the assembly that's failing to load. Check that the error is caused by finding the wrong version. If so, see what version it was trying to load, see what version it found and therefore failed loading, add a binding redirect. If the error was not due to loading the wrong version, you need to investigate based on what the error message is,

[2020-07-11 18:20] connectArun2001 commented on #9249
Added below two assembly dependencies in web.config. Now getting below errors.

<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assembly

[2020-07-11 18:39] zivkan opened #9784 "Undelete NuGet.Frameworks.NuGetFramework.NuGetFramework(string frameworkIdentifier, System.Version frameworkVersion, string frameworkProfile) -> void"
I was rebasing my old [PublicAPIAnalyzer branch](https://github.com/NuGet/NuGet.Client/pull/3425), and discovered that:

This was accidentally deleted as part of https://github.com/NuGet/NuGet.Client/pull/3479

We need to bring it back so as not to break assemblies/projects using `NuGet.Frameworks` as an SDK.

[2020-07-11 20:06] weitzhandler commented on #7189
@davidfowl thanks for your explanation.
My use case is quick testing scenarios. Regarding the version, I go with *.*.*.1, and since usually the packages I'm working on don't have these increments it works out to be fine.
Adding the source to VS settings is fine with me.

[2020-07-12 02:43] heng-liu commented on #8952
Nice catch~ Yes, that's right. I'll remove the comment when fixing this issue.
Thanks.

[2020-07-12 07:23] ViktorHofer opened #9785 "Unable to build (timeout when restoring)"
**Issue migrated manually from https://github.com/dotnet/runtime/issues/33294:**

@lpereira wrote:

I'm trying to build on a newly-installed Fedora 31 machine.  Dependencies have been installed according to the documentation, but I'm getting a timeout when `build.sh` tries to restore.

[code]

(I've temporarily changed some shell scripts in `eng/` to execute with bash tracing, plus force msbuild t

[2020-07-12 07:33] ViktorHofer commented on #5154
@zkat can you please provide more details what #9756 covers and more interestingly what it doesn't cover? thanks

[2020-07-12 11:39] matkoch commented on #6579
I think it hasn't been noted yet, but this would also ease the pain when developing packages that include custom MSBuild tasks.

[2020-07-12 18:14] wli3 opened #9786 "Packing with ContinuePackingAfterGeneratingNuspec=false should not fail when there are no errors"
---
**Issue moved from dotnet/sdk#12292**
- Please respond to @aggieben.

---

_From @aggieben on Tuesday, June 30, 2020 7:41:03 PM_

Using the 5.0.0-preview.5.20279.10 SDK on Windows 10, the tooling fails to pack a nupkg for the project located here: https://github.com/aggieben/ConstrainedTypes (`master` branch).

I used the following command:
`dotnet pack -o pkg ConstrainedTypes.fsproj -v diag`.

[2020-07-13 00:56] ZergRushJoe opened #9787 "Could not copy Error in docker linux container"
## Details about Problem
I keep getting this error from my 'docker build .'. I'm getting the error with this .net core microsoft.analysisservices.adomdclient.netcore.retail.amd64. The Error that comes from it:

/usr/share/dotnet/sdk/3.1.301/Microsoft.Common.CurrentVersion.targets(4360,5): error MSB3021: Unable to copy file "/root/.nuget/packages/microsoft.analysisservices.adomdclient.netcore.retai

[2020-07-13 06:33] kmuthukumar23 opened #9788 "Static Nuspec not included when pack the project using a .csproj file"
Hello guys,

Thanks in advance..

i have faced the issue in nuget pack generation by dotnet pack using .nuspec file.

I have scripts and styles in my project's wwwroot folder and nupec file for my project. These folder is shipped into the package as staticassets when i am run the command **`"dotnet pack ~/projects/app1/project.csproj"`**.

But my project's nuspec file not shipped in to pack. The p

[2020-07-13 06:35] kmuthukumar23 commented on #9788
https://github.com/dotnet/docs/issues/17495#issue-583744650

[2020-07-13 09:11] ax-meyer commented on #7413
Having the same problem, pretty annoying. Is there a fix now?

[2020-07-13 09:34] JohanPetersson commented on #6746
I would like to add another scenario. I have a template (`dotnet new`) with a 4.x project and depending on the solution structure and where one uses the template in the structure the `Reference/HintPath` in the project file may point to the incorrect directory since the packages are always restored relative to the solution. So I always want to specify a `repositoryPath` directory relative to the p

[2020-07-13 11:51] andreinitescu opened #9789 "The down icon icon when the latest package version is installed is not intuitive. The old green tick was perfect"
The NuGet package manager in Visual Studio shows a green "arrow down" icon when the **latest version** of the package is **already installed**:

![image](https://user-images.githubusercontent.com/743918/87300628-d6af8180-c516-11ea-8b0c-c671499c08d1.png)

The current "arrow down" icon is more commonly associated with the "_A new version is available to download_" idea than with "_The version is up

[2020-07-13 16:00] heng-liu commented on #9204
Manual test for mac is done. However, for Linux, there is some extra steps if adding a self-signed certificate to trusted store(https://security.stackexchange.com/questions/143061/does-openssl-refuse-self-signed-certificates-without-basic-constraints). I'm still investigating about it.

[2020-07-13 16:09] #9704 closed, assigned to advay26-zz

[2020-07-13 16:52] #9690 closed, assigned to nobody

[2020-07-13 17:03] zivkan opened #9790 "`build\packages.targets` does not appear to run for all projects"
https://github.com/NuGet/NuGet.Client/pull/3449  included `PackageReference` items with a version, but the target that is supposed to fail the restore when versions are used in csproj did not fail

https://github.com/NuGet/NuGet.Client/pull/3449/files#diff-802a1f72ef3d1349b83e7c33d4c4a2c0R25-R28

We should investigate and fix.

[2020-07-13 17:14] teo-tsirpanis commented on #9790
Why fail the build? The `SystemPackagesVersion` property is equal to `4.3.0`. Is there even a way to detect whether a package version was hardcoded or used from an MSBuild property?

[2020-07-13 17:18] rrelyea commented on #9768
Looks like that package was last published  in 2016 and has been marked on nuget.org as deprecated.

[2020-07-13 17:18] nkolev92 commented on #9790
We have a custom task to ensure that no versions are specified in the project files themselves.

All the versions are specified in the packages.targets file, imported here https://github.com/NuGet/NuGet.Client/blob/2235bf9869c8fa4c7d441cc623f24cfd39bab621/build/common.targets#L63-L65, and then we run a target with that file not imported, and I expect that none of the PackageReference will have a v

[2020-07-13 17:19] rrelyea commented on #9770
fyi @dominoFire

[2020-07-13 17:21] rrelyea commented on #9774
This doesn't sound like a nuget problem? Can you give more details so we can route correctly?

[2020-07-13 17:25] zivkan commented on #9790
To elaborate on why we we do as @nkolev92 wrote, to make sure that all projects are using the same version of all packages.

It's easiest to make sure you don't specify a version in the csproj, then let `packages.targets` update everything to set the correct version. Allowing versions to be specified in the csproj and then checking that it matches the desired version set in another file is much mo

[2020-07-13 17:37] cristinamanum commented on #9465
Three options were discussed. Added them below.

1.	Reuse the Version attribute on the PackageReference item to override the version defined centrally

**Behavior changes**
In the current implementation having a project with a defined Version on a PackageReference  is an error case that leads to a failed restore.
With the proposed solution the behavior will change and the Version value from the Pa

[2020-07-13 17:38] #9483 closed, assigned to cristinamanum

[2020-07-13 17:42] cristinamanum commented on #9465
Cleaned the milestone as more customer insights are needed to decide the right workflow.

[2020-07-13 17:42] nkolev92 commented on #9731
@erdembayar When I say search resource, I am referring to https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/Resources/PackageSearchResource.cs and in particular the following resource: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/Resources/PackageSearchResourceV3.cs

[2020-07-13 20:20] nkolev92 commented on #9392
Hey @v-luzh,

Can you please try to repro this issue.

Summarizing the steps that @alex-jitbit provided.

1.  Create a (.NET Framework ASP.NET MVC5) project (not Core).
1. Install the package Microsoft.AspNet.SignalR.JS.
1. Close VS, delete the packages folder and try restoring from:
* Visual Studio
* nuget.exe

And check if you observe any differences.

Thanks.

[2020-07-13 20:22] zkat commented on #2316
Alright, y'all, I'm repurposing this issue to be -specifically- about git/gist/github-based dependencies, like Paket supports.

I'm going to loop in the PM Team because our next step here is to get a good functional spec: @anangaur @chgill-MSFT

[2020-07-13 20:29] alex-jitbit commented on #9392
Thanks. Not just `packages` folder though, delete the `project/Scripts` folder too. Sorry for not mentioning this clearly

[2020-07-13 20:30] nkolev92 commented on #9405
Hey @orck-adrouin,

Thank you for filing this issue.
We are prioritizing issues based on their overall customer impact, and we don't think we'd be able to get to this soon.

We'd be happy to consider a contribution.

[2020-07-13 20:32] nkolev92 commented on #9406
@v-luzh

Can you please try to repro this issue?

[2020-07-13 20:35] nkolev92 commented on #9415
Triage with @aortiz-msft @zkat

Closing this as dup of #6373.

[2020-07-13 20:35] #9415 closed, assigned to nobody

[2020-07-13 20:36] nkolev92 commented on #9416
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-07-13 20:36] #9416 closed, assigned to nobody

[2020-07-13 20:40] nkolev92 commented on #9418
Hey @umarali-aai

Is your file name `NugetSpecFile.nuspec.xml`?
Can you try changing your file name to `NugetSpecFile.nuspec` and see what you get.

It would be great if you can provide a repro.

[2020-07-13 20:49] nkolev92 commented on #9456
Thank you for reporting this issue.
We prioritize investigations based on community engagement such as comments and up-votes.
We might not be able to investigate further in the foreseeable future.

[2020-07-13 20:53] nkolev92 commented on #9459
Triage: We believe that the fix made in NuGet/NuGet.Client#1855 & #5956 fixed a scenario that's important enough and we would not want to regress said scenario.

The guidance here is to upgrade to newer versions of the NuGet libraries to read the package.

Closing this as won't fix.

[2020-07-13 20:53] #9459 closed, assigned to nobody

[2020-07-13 20:56] nkolev92 commented on #9460
Triage:

Hey @tmat,

As per the above comment, this is something not currently being done in the NuGet repo. For immediate feedback, I'd recommend you file issues in the dotnet repos mentioned above.

#6279 will cover overall analyzers support through NuGet.

[2020-07-13 20:56] #9460 closed, assigned to nobody

[2020-07-13 21:47] #9737 closed, assigned to advay26-zz

[2020-07-13 23:01] zkat commented on #9436
Note: This might be working already? Need to test.

[2020-07-13 23:08] erdembayar commented on #9757
Thanks to @rrelyea @donnie-msft @srdjanjovcic fix it ready. Please review.

[2020-07-13 23:22] #9723 closed, assigned to nobody

[2020-07-13 23:24] zivkan commented on #9723
@teo-tsirpanis thank you very much for your contribution!  This will ship with NuGet v5.8.0, preview 1.

[2020-07-13 23:25] heng-liu opened #9792 "Signing process timed out"
Signing process is extremely slow:
vs2019mb-00000O : https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3886826&view=logs&j=8460ae35-dae7-5d3d-b89d-5bc71d24ad43&t=7fae96b6-c2dd-57a3-906e-fd7d7625276e&s=b15d9194-8f26-5328-b47f-5968c76b37e7

vs2019mb-00000I: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3886826&view=logs&j=2f3b5724-75af-5e9f-8e88-844be7aa7661&t=7c0025f2-7f

[2020-07-13 23:31] #9125 closed, assigned to nobody

[2020-07-13 23:41] cristinamanum commented on #8973
The NU1004 is not added to the assets file. Visusl Studio version used for repo : Version 16.7.0 Preview 4.0 [30229.9.master]

Repo steps:
Some repro steps.

Create a PR project
Add a few dependencies & set RestorePackagesWithLockFile.
Edit a csproj manually adding a new PackageREference by editing the version
Check if the NU1004 is in the assets file.

[2020-07-13 23:52] heng-liu commented on #9792
Moved to https://github.com/NuGet/Client.Engineering/issues/422

[2020-07-13 23:52] #9792 closed, assigned to nobody

[2020-07-14 00:04] nkolev92 commented on #8973
I think @cristinamanum's step explains why NU1004 disappears.

For .NET Core projects, things need to be in the assets file to stay in the error list reliably, moving to backlog because this is a core behavior and we now understand the root cause.

[2020-07-14 00:18] nkolev92 commented on #9392
@alex-jitbit, that's for that detail, that's very valuable.

Unfortunately due to the packages.config design, I would not expect restore to copy those scripts inside the project folder.

Thinks that end up in the project folder are meant to be committed to your source control.

Unfortunately that's a design limitation of packages.config. In PackageReference we made `contentFiles` (note the folder

[2020-07-14 03:06] zivkan commented on #8843
The [pack target docs](https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#including-content-in-a-package) say this:

The [nuspec reference docs](https://docs.microsoft.com/en-us/nuget/reference/nuspec#using-the-contentfiles-element-for-content-files) say this about `flatten`:

[2020-07-14 05:01] umarali-aai commented on #9418
Hey @nkolev92
I can't share the repo because of company policy. But I've mentioned above that I managed to create the package using myProject.csproj file instead of nuspec file.

[2020-07-14 05:51] fdevGit opened #9793 "How to authenticate to the custom nuget repository feed with programming?"
## Details about Problem
I am creating a project and the task of this project is to get the packages and their versions from a private nuget server. I can get data from nuget's own public servers. I cannot authenticate on a private server. How to authenticate to the custom nuget repository feed with programming?

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
Assemb

[2020-07-14 06:34] papanito opened #9794 "(Exception from HRESULT: 0x8000FFFF (E_UNEXPECTED)) nuget restore failed"
# Details about Problem

We run nuget restore on a Windows slave using Jenkins as build server. When the slave service runs as a user instead System account then the `nuget restore` may fail with

[code]

The solution file is fine, cause if login to the build server and run `nuget restore` this simply works fine. I thought the jenkins-user might not have permissions on the folder but he has full c

[2020-07-14 06:51] papanito commented on #9794
Deleting the package folder from the workspace helped.

[2020-07-14 06:51] #9794 closed, assigned to nobody

[2020-07-14 09:58] SP-SuperPoney commented on #9020
I've got the same issue.
Project retrieve Nuget artifacts from Azure at build time.

`RUN dotnet restore "MyProject.csproj"` fail on random packages :

`Determining projects to restore...
Failed to download package 'XXXX' from 'https://pkgs.dev.azure.com/[...]/nuget/v3/XXXX.nupkg'.`

Error can be either :
`Name does not resolve`, `Resource temporarily unavailable`, `The response ended prematurely`

[2020-07-14 14:49] ghelyar opened #9795 "dotnet list package suggests packages that are not compatible with the target framework"
NuGet product used:
dotnet cli

dotnet.exe --version:
3.1.301

Worked before? If so, with which NuGet version:
no

## Detailed repro steps so we can see the same problem

This can be reproduced with the [System.Management.Automation](https://www.nuget.org/packages/System.Management.Automation) package, which has an [unlisted version](https://www.nuget.org/packages/System.Management.Automation/6.1.

[2020-07-14 17:00] donnie-msft opened #9796 "Investigate which Extensions are commonly used with NuGet and their effects"
Which VS Extensions appear most commonly used with NuGet, and which look possibly responsible for crashes/hangs, or other problems?

A user reported NuGet crashing after some arbitrary amount of time. One commonality that users with similar problems have is that they have the ReSharper extension installed.  We should see how common this extension is, and I propose we involve it and other extension

[2020-07-14 17:32] #9757 closed, assigned to erdembayar

[2020-07-14 17:43] zivkan commented on #9418
Sharing a repro ideally follows Stack Overflow's guidance of a minimal reproducable example: https://stackoverflow.com/help/minimal-reproducible-example

Specifically:

Even if you were able to share your entire repo, it would be shifting the burden to the person investigating to figure out what's relevant and what's not. By creating a new example from scratch, you're also not sharing proprietary

[2020-07-14 18:15] donnie-msft commented on #9125
Thanks, @thomaslevesque! This will ship in NuGet version 5.8.

[2020-07-14 18:17] #9507 closed, assigned to cristinamanum

[2020-07-14 18:20] cristinamanum commented on #9467
This issue depends on the https://github.com/NuGet/Home/issues/9465. If an error will be raised when there are multiple entries few of the recommended ways to override will start failing.
Re-evaluate this issue after the issue https://github.com/NuGet/Home/issues/9465 is fixed.

[2020-07-14 18:25] thomaslevesque commented on #9125
Thanks @donnie-msft!

[2020-07-14 21:51] ChadNedzlek opened #9797 "Produce warning when a IsPackableProject=true references IsPackable=false project"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe
dotnet.exe --version (if appropriate): 3.1.200

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Create two projects, Packable and NonPackable

Packable.csproj
[code]

NonPackable.csproj
<IsPackable>false</IsPackable>

Thi

[2020-07-14 23:00] heng-liu commented on #9785
Hi @lpereira, can you try to clear the http cache by “dotnet nuget locals http-cache --clear” before running restore?
Pls let me know if you still encounter this issue. Thanks!

[2020-07-15 00:24] nkolev92 commented on #9632
I'm all for this change.

Think the process needs documented in the PR + client engineering issues repo.

One question.

How do we enforce:

* When a new API is added, use the code fix to add the new API to the appropriate PublicAPI.Unshipped.txt file(s).

Honor system or?

[2020-07-15 00:59] zivkan commented on #9632
If you add a public API, but don't modify either `PublicAPI.Shipped.txt` or `PublicAPI.Unshipped.txt`, then the analyzer will cause the build to fail.

Making sure that the Unshipped file is modified, rather than modifying the Shipped file, is up to the honor system and code reviewers. If this turns out to be a problem, we can investigate something, but for now I trust the team :)

[2020-07-15 02:36] heng-liu commented on #9786
Hi @aggieben, I tried the following steps to repro, but failed:
1. git clone https://github.com/aggieben/ConstrainedTypes
2. install dotnet SDK 5.0.0-preview.5.20279.10
3. go to constrainedtypes\src\ConstrainedTypes folder
4. run dotnet pack -o pkg ConstrainedTypes.fsproj -v diag
The error I encountered is:
[code]
I also tried to install dotnet SDK 3.1.400, but the result is the same as above.

Ca

[2020-07-15 04:07] #9768 closed, assigned to nobody

[2020-07-15 04:07] santoshi12 commented on #9768
closed

[2020-07-15 08:37] v-nancyj opened #9798 "[Test Failure][Signing] No warning is showed in Error List when installing a signed package with packages.config format in PM UI"
## Details about Problem

**NuGet Version:** Dev\5.8.0.6721
**VS Version:** Master\30314.159
**OS Version:** Windows-10-Enterprise-RS5

## Installation steps:
1.	Install VS: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3891706&view=ms.vss-build-web.run-extensions-tab
2.	Install NuGet Client: [\\\ddfiles\Drops\NuGet\Drops\CI\NuGet.Client\Dev\5.8.0.6721\artifacts\VS15\NuGet.Tools.vs

[2020-07-15 09:20] MV10 opened #9799 "PackageReference in csproj should identify preferred feed"
I am proposing that the NuGet `<PackageReference>` tags in csproj should optionally identify the preferred package source.

The restore behavior today is essentially random unless you carefully control which feeds are active and which are inactive on a project-by-project basis. Without carefully reviewing logs, you can't even tell where a package came from after the fact. Combine this with an auto

[2020-07-15 12:25] dorChuck commented on #7796
Yesterday we updated our build server and see the error from our nuget restore in SSIS project related builds.
"The element <DeploymentModel> beneath element <Project> is unrecognized"

We updated Visual Studio 2019 from 16.4.4 to 16.5.2.    The SSIS extension was updated to Microsoft SQL Server Integration Services Designer Version 15.0.2000.93.
Fortunately this solution doesn't use any nuGet pac

[2020-07-15 14:53] #9711 closed, assigned to sbanni

[2020-07-15 16:47] JVimes commented on #4856
I *love* David's idea of showing content files under their package in Dependencies:

![image](https://user-images.githubusercontent.com/6148201/87572102-48f3a380-c688-11ea-8e74-a8f3aaf0b2f2.png)

[2020-07-15 18:48] aortiz-msft commented on #5434
Hi everyone, we've made significant performance improvements for NuGet Restore in 16.5 and 16.6, particularly for subsequent restores. Would you please try those versions out and open new issues as appropriate? Thank you for your feedback!

cc @nkolev92 @anangaur @zkat

[2020-07-15 18:48] #5434 closed, assigned to nobody

[2020-07-15 21:24] kwacks commented on #3891
Such a shame - one of the most basic scenarios is still not fixed years later.

[2020-07-15 21:35] ckapatch commented on #9009
Hello @nkolev92 I am having this exact problem but don't have a RepositoryId element. What does that refer to? Thanks

[2020-07-15 21:48] joelverhagen opened #9800 "Enable dotnet list package --verbosity tests when the switch is enabled in the CLI"
Per https://github.com/NuGet/NuGet.Client/pull/3411#discussion_r454721863, this issue is tracking the enabling of the `DotnetListPackage_VerbositySwitchTogglesHttpVisibility` tests added in PR https://github.com/NuGet/NuGet.Client/pull/3411.

These tests are disabled via Xunit `Skip` because they require that the .NET CLI also has this switch. Because the NuGet changes have to be made before the C

[2020-07-15 21:53] nkolev92 commented on #9009
Hey @ck

I'm not sure I understand the question :)

GH requires you to have a repository element in https://www.nuget.org/packages/nuget.packaging.

The url should be repo you are pushing the package to.

[2020-07-15 22:55] nkolev92 opened #9801 "Ordered solution load and impact on NuGet restore performance"
NuGet PackageReference is transitive and as such additional information in children projects will affect the restore of the project being restored.

Say we have a large solution among which the projects are:  A => B => C.

Say the nominations come in the following order: A, B, then C.

If Nuget decides to restore after A & B have been nominated, whenever C gets nominated again, we run a sln restor

[2020-07-15 22:59] nkolev92 opened #9802 "Restore: No-Op restore hashing should not use configuration data from child projects"
When generating the hash for projects with transitive dependencies, we hash the complete dg spec.

The dg spec ends up including settings from the transitive project which don't affect the current project.

There's a chance that this leads to a few unnecessary restores.

In general hashing only what we depend on should be a safer approach.

[2020-07-15 23:04] SP-SuperPoney commented on #6581
Same problem here !

[2020-07-15 23:08] SP-SuperPoney commented on #6140
Similar issue inside a docker container. Weirdly, it builds fin when I run my Dockerfile on my local machine, but throws the error when running the same Dockerfile on a linux build machine.
RUN dotnet restore --configfile ./NuGet.config

NuGet.config contains both the standard nuget, and our private nuget.

[2020-07-15 23:18] nkolev92 commented on #9802
Related to https://github.com/NuGet/Home/issues/9041

[2020-07-15 23:22] nkolev92 commented on #9041
Related to https://github.com/NuGet/Home/issues/9802.

Sometimes we clone for hashing purposes.
See: https://github.com/NuGet/NuGet.Client/blob/90ad7af83a860cc73ddaac9aa0c74c81fe446ef0/src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreCommand.cs#L576 and https://github.com/NuGet/NuGet.Client/blob/90ad7af83a860cc73ddaac9aa0c74c81fe446ef0/src/NuGet.Core/NuGet.Commands/RestoreCommand/Utility/NoOpRe

[2020-07-15 23:28] nkolev92 opened #9803 "Make static graph restore the default experience."
This is an epic tracking all things relevant to static graph restore and whether there are any blockers/concerns to making it the default.

For readers, you'll need Zenhub to see the linked issues.

Currently this contains *all* potential issues tagged as static graph.

This doesn't mean they all need to be fixed, just analyzed :)

**Note**

*For customers moving to static graph*

* If you want to

[2020-07-16 00:30] rrelyea commented on #8889
I'm laying the foundation for this with my work for https://github.com/NuGet/Home/issues/9688
Looks like GPR is a v2 feed, so there are different code paths that need to be fixed...but likely not huge amount of work.

[2020-07-16 00:34] nkolev92 commented on #8889
Pretty sure it's a V3 feed. See https://nuget.pkg.github.com/nuget/index.json

[2020-07-16 00:44] rrelyea commented on #8889
yes, my mistake there - it is v3.
regardless, there are different places that need fixes...not sure exactly why...compared to azure artifacts.

[2020-07-16 02:53] heng-liu commented on #9798
I could repro on version 5.8.0.6721 and 5.8.0.6718
The Ouput window from Package Manager has the NU3027 warning, but the Error List window doesn't show this warning.
[code]

[2020-07-16 03:34] heng-liu commented on #9798
The regression is brought in between build 6705, 6706 and 6707.
As 6704 couldn't repro.

[2020-07-16 04:43] davkean commented on #9431
As a heads up, this ended up breaking our build:

[code]

This is a hybrid version of sourcelink so not sure if other folks will run into this, but left it here in case other folks run into this. I plan on working around it.

[2020-07-16 07:57] v-luzh commented on #8446
@nkolev92 It doesn't repro on Master\30315.165 + NuGet Client Dev\5.8.0.6721. No different versions are listed for a same package in both NuGet server source and Devops source. And the sources provided by customer (https://artifactory.prod.tableautools.com/artifactory/api/nuget/v3/power-tools-nuget-local and https://artifactory.prod.tableautools.com/artifactory/api/nuget/v3/tab-nuget) are unable t

[2020-07-16 09:10] rererecursive commented on #5358
If you're using Docker on Linux, try running it with host networking, i.e.
`docker run --network host mcr.microsoft.com/dotnet/core/sdk:2.1`

Docker image:
`docker inspect --format='{{.Id}}' mcr.microsoft.com/dotnet/core/sdk:2.1` => `sha256:156e5cc5d7a3aaf4166d17f1e0b3a3c262a22caf8efac9b855ba1782ef98071c`

My issue is was that the container would work on my local Linux machine, but on Jenkins (als

[2020-07-16 09:18] v-luzh opened #9804 "[Bug Bash][Test Failure] The packages in "Updates" tab showed incorrectly after switching tabs quickly"
## Details about Problem
NuGet version: NuGet Client Dev\5.8.0.6721
VS Version: Master\30315.165
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1.	Create an ASP.Net Web Application (.NET Framework)-MVC solution in VS.
2.	Open the PM UI of the project level (or solution level) and go to the “Updates” tab.
3.	Switch between all the tabs quickly and go back to the “Updates” tab.
## Expected
Th

[2020-07-16 10:31] teo-tsirpanis opened #9805 "Running NuGet.Client's build script on PowerShell Core raises an error"
## Details about Problem

NuGet product used: https://github.com/NuGet/NuGet.Client

NuGet version: `dev` branch

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): N/A

OS version (i.e. win10 v1607 (14393.321)): Windows 10 2004

Worked before? No

## Detailed repro steps so we can see the same problem

1. Clone the `NuGet.Client` repository.

2. Launch a `pwsh` shell in the

[2020-07-16 11:03] msedi commented on #9627
Is there any progress on this?

[2020-07-16 11:13] stic opened #9806 "nuget install command with -SolutionDirectory switch silently overrides -ConfigFile"
## Details about Problem

NuGet product used: NuGet.exe
NuGet version (x.x.x.xxx): 5.6.0.6591 but also older versions and main source code

## Detailed repro steps so we can see the same problem

1. Create a private (custom) nuget.config file to which you are going to point nuget install -ConfigFile <pathtocustomnugetconfig>\nuget.config, say you have a package that's only deployed to a private so

[2020-07-16 16:36] tmat commented on #9431
@davkean What version of SourceLink package is used in the project-system repo?

[2020-07-16 16:51] rrelyea commented on #8889
Current behavior (using the bits with my fix for 9688) - which is likely the same as shipping nuget.exe:
Need to debug why it doesn't yet fail during the access of the v3 index.json.
And it starts to try: FindPackagesByIdAsync for the packages.

MSBuild auto-detection: using msbuild version '16.8.0.35702' from 'C:\Program Files (x86)\Microsoft Visual Studio\2019\IntPreview\MSBuild\Current\Bin'.
Re

[2020-07-16 17:15] nkolev92 commented on #9468
Dup of https://github.com/NuGet/Home/issues/9250

[2020-07-16 17:15] #9468 closed, assigned to nobody

[2020-07-16 17:19] nkolev92 commented on #9805
Thanks for filing this @teo-tsirpanis
Dup of https://github.com/NuGet/Home/issues/9673

[2020-07-16 17:19] #9805 closed, assigned to nobody

[2020-07-16 17:25] nkolev92 commented on #9673
@teo-tsirpanis hit the same issue.

[2020-07-16 17:28] nkolev92 commented on #9479
Dup of https://github.com/NuGet/Home/issues/7691

[2020-07-16 17:28] #9479 closed, assigned to nobody

[2020-07-16 17:30] zkat commented on #9492
@sfilipi Unfortunately, I'm pretty sure this is not a NuGet issue, but an issue with ADO dropping connections. You'll have to contact their customer support directly for further help.

[2020-07-16 17:30] #9492 closed, assigned to nobody

[2020-07-16 17:47] zkat commented on #9548
Closing in favor of #9006

[2020-07-16 17:47] #9548 closed, assigned to nobody

[2020-07-16 17:53] zkat commented on #9597
Closing as resolved, per https://github.com/NuGet/Home/issues/9597#issuecomment-649088342

[2020-07-16 17:53] #9597 closed, assigned to nobody

[2020-07-16 18:27] #9565 closed, assigned to nkolev92

[2020-07-16 18:49] zkat opened #9807 "Speed up nupkg extraction using mmap/CreateFileMapping"
I was playing around with tarball extraction in Rust, trying to speed it up, when someone suggested using [`mmap`](https://en.wikipedia.org/wiki/Mmap) for the destination files before writing to them (Windows version is [`CreateFileMapping`](https://docs.microsoft.com/en-us/windows/win32/memory/creating-a-file-mapping-object)). This resulted in a 4-5x speedup of a 7.5mb tarball containing 65k file

[2020-07-16 18:53] nkolev92 commented on #9807
Tip for the implementer, use https://github.com/NuGet/NuGet.Client/tree/dev/scripts/perftests to validate the impact in a real restore :)

[2020-07-16 18:56] nkolev92 opened #9808 "NuGet.Client libraries labeling should not use rtm, but rc instead"
`rtm` has a confusing meaning, given that it suggests it's a stable version, but the fact that the versioning has a label makes it a prerelease.

Toward the end of the previews, we frequently change our labeling from previews to RTM. We should change it to rc instead.

[2020-07-16 19:10] nkolev92 commented on #8446
Thanks @v-luzh.

Given the above, we'd like to close this as not a bug.

Please reach out to the package source vendor.

Thanks!

[2020-07-16 19:10] #8446 closed, assigned to nobody

[2020-07-16 19:11] KKacer opened #9809 "Random behavior of Nuget on not containing content files, and some strange errors"
I used something like the code below in my .csproj file, but still Nuget is placing these contents in its generated package:

      <ItemGroup>
        <Content Include="build\**" IncludeInPackage="false" Pack="false" />
      </ItemGroup>

--------

Want those content files just for the usage in the current source, and don't want them to be included in the nuget package.

This is a .Net Core proj

[2020-07-16 19:43] jeffkl commented on #9803
One potential issue is that static graph evaluation based restore doesn't call any of the older targets like `_GenerateRestoreProjectPathItemsPerFramework`.  People shouldn't be using them as extension points since we prefixed them with `_` but there's no enforcement.  So if the default switches, these targets won't run any more and people's builds can start failing in very weird ways.

Telemetry

[2020-07-16 19:54] heng-liu commented on #9798
Tried on 6705 (as this is going to ship with 16.7p5) and it doesn't repro.
So 6706 or 6707 breaks it.

[2020-07-16 21:26] tmat commented on #9431
I can't reproduce the above error in a vanilla repository with dotnet app created by `dotnet new classlib`.

I found another issue with this change though - it does not have the desired effect.
The generated props file for the project (`git-test1\obj\git-test1.csproj.nuget.g.props`) contains:

[code]

This adds a **single** item to SourceRoot with ItemSpec = `C:\Users\Tomas\.nuget\packages\;C:\Pro

[2020-07-16 21:43] tmat opened #9810 "SourceRoots not set correctly from NuGetPackageFolders"
The generated props file for the project (`git-test1\obj\git-test1.csproj.nuget.g.props`) contains:

[code]

This adds a **single** item to SourceRoot with ItemSpec = `C:\Users\Tomas\.nuget\packages\;C:\Program Files\dotnet\sdk\NuGetFallbackFolder\`. Instead, we need 2 items: `C:\Users\<user-name>\.nuget\packages\` and `C:\Program Files\dotnet\sdk\NuGetFallbackFolder\`.

Possible fix:
[code]

[2020-07-16 22:03] ckapatch commented on #9009
@nkolev92 Yes the RepositoryUrl property is filled. But you're talking about a property named repositoryId. Which may be the same thing? Or you could mean the PackageId property.

In any case if you run the command enough times (in-between 4-20) the package will eventually push (via command line). Maybe you get lucky through the pipeline but the error is the same.

Something seems to be broken ins

[2020-07-16 22:10] rrelyea commented on #8874
@AugP from Microsoft's C++ team commented on a related PR (https://github.com/NuGet/NuGet.Client/pull/3145#issuecomment-601867739):
[code]

Given this, we're closing that PR, and keeping this issue open while the C++ teams conversations continue.

[2020-07-16 22:34] tmat commented on #9810
While testing end-to-end scenarios I also discovered issue https://github.com/dotnet/roslyn/issues/46061.
So it's actually good this does not have an effect at this point since it would override Source Link entries for source packages that set them. Fixing both issues in 16.8 seems best.

[2020-07-16 22:50] nkolev92 commented on #9803
That's a great point.
Definitely a smaller concern, but a possibility.

Think advertising the existence of feature more broadly before making it a default is a good idea.

1ES repos will probably catch a large majority of the scenarios, but you can never have too many dogfooders :)

[2020-07-16 22:53] jeffkl commented on #9803
We are spinning up automation to make it the default for all 1ES customers by sending PRs to their repos.  I'll update this issue with the problems we have getting people to adopt it.

[2020-07-16 22:56] zivkan opened #9811 "Create VS API: GetSourcesAsync"
Request from https://github.com/dotnet/roslyn/pull/46022/files#r456003371

Currently Roslyn calls `IVsPackageSourceProvider.GetSources`, which gets the sources for the current solution. I don't believe it takes into account additional sources that can be set for PackageReference projects. Therefore, we should consider if the new API is in `INuGetProjectService` and start returning per-project sour

[2020-07-16 22:59] nkolev92 commented on #9811
Is this ask covered by https://github.com/NuGet/Home/issues/8902?

[2020-07-16 23:01] #9811 closed, assigned to nobody

[2020-07-16 23:01] nkolev92 commented on #8902
Discussed in https://github.com/NuGet/Home/issues/9811 and https://github.com/dotnet/roslyn/pull/46022/files#r456003371 since it causes UI delays.

[2020-07-16 23:14] zivkan commented on #8902
FWIW, I don't support making an async version of `IVsPackageSourceProvider` as a direct port. From an API design point of view (think of the developer experience using the API), it's weird that we have a service/provider that does nothing more than get sources. It harms API discoverability, as the developer needs to hunt to find what other interfaces NuGet exposes and whether those are useful to t

[2020-07-16 23:30] heng-liu commented on #9798
Hi @srdjanjovcic, it looks like the regression is brought in by https://github.com/NuGet/NuGet.Client/pull/3484.
Can you take a look? Thanks.

Here is how to get the script CreateTestCertificate.ps1 used in repro steps:
Git clone https://github.com/NuGet/Entropy.git and cd to <path_to_Entropy>\TestCertGenerator

[2020-07-17 00:55] srdjanjovcic opened #9812 "FileAndForget posts a new event for every point of usage"
## Details about Problem

For fire-and-forget asynchronous code, we are currently using VSTelemetryHelpers.FireAndForget helper to log any failures from detached async code. This method is implements so that there is a specific event for every point of failure.

For GDPR categorization and ease of investigating those failures, it may be useful to always post same event, and carry additional contex

[2020-07-17 01:33] nkolev92 commented on #9810
Per internal thread, wait on dotnet/roslyn#46061 to be fixed before fixing this.
Adding a blockedbyexternal label.

[2020-07-17 06:44] MattiasEppler commented on #8843
Hi.
It does not work. I don't know why

I try to set every property

[code]

the files are always inside the native folder in my output.

[2020-07-17 14:02] zivkan opened #9813 "Proposal: VS API to be notified when a restore completes"
Probably should only fire when the restore was not a noop.

Request from the live unit testing team in order to be able to reliable and efficiently locate test adapters.

A use-case for wanting this information is to know when packages may have changed. Therefore, if https://github.com/NuGet/Home/issues/6872 is not implemented, then this API needs to fire when a restore happens during package inst

[2020-07-17 14:47] KKacer commented on #9809
My problem got solved after recreating/cleaning everything, and excluding a piece of content (extra csproj) from the package which I didn't want to be placed in the contents section.
The main problem about some similar behavior of Nuget is, maybe some times it doesn't reflect the latest changes,if a part has a bug or should throw an error it doesn't, and when you made several components relied on

[2020-07-17 14:47] #9809 closed, assigned to nobody

[2020-07-17 15:50] srdjanjovcic commented on #9798
@heng-liu I cannot get this script to work:

[code]

Can you drop package and certificate into `\\ddfiles\team\xaml\srdjanj` ? Might be easier...

[2020-07-17 17:56] erdembayar opened #9814 "Investigate possible SourceRepository memory leak"
## Details about Problem
It looks we have memory leak with `SourceRepository`. I was working on another [problem](https://github.com/NuGet/NuGet.Client/pull/3507) then I noticed SourceRepository is not GC-ed even after PM UI is closed.
Even after I closed whole solution and I did forced GC it's still there.

![image](https://user-images.githubusercontent.com/8766776/87816355-082c9380-c81c-11ea-884

[2020-07-17 18:00] rrelyea commented on #8889
github works differently in the auth error case because when you try to fetch the feed url: https://nuget.pkg.github.com/rrelyea/index.json (for example), you are asked to auth.
but they accept anything. (type in user a, with no password - for example).
Thus they then fail in other code bases.

@anangaur - can you work with them to report this behavior, which should likely be fixed by them. once t

[2020-07-17 19:19] JeffAshton commented on #4360
Best birthday present ever.  Thank you

[2020-07-17 19:28] srdjanjovcic opened #9815 "Improve unit test coverage of OutputConsoleLogger"
OutputConsoleLogger is significantly updated to enable fully asynchronous UI logging, which triggered issue https://github.com/NuGet/Home/issues/9798. We need to improve unit testing of the class to prevent further regressions.

[2020-07-17 19:41] #9777 closed, assigned to srdjanjovcic

[2020-07-17 20:11] rohit21agrawal commented on #4360
you can also just set  the property ```BuildOutputTargetFolder``` to ```tools```

[2020-07-17 20:19] rrelyea commented on #9765
Believe my fixes for https://github.com/NuGet/Home/issues/9688, plus a tiny bit more will fix this.

[2020-07-17 22:26] jmwolfe opened #9816 "VS2017 .NET 4.0 C# class project can't use PackageReference NuGet Package targeted to 4.0"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 5.6

VS version (if appropriate): 15.8.7

OS version (i.e. win10 v1607 (14393.321)): Windows Server 2016

Worked before? If so, with which NuGet version: 3.4.4

## Detailed repro steps so we can see the same problem

1. Create a solution with a csproj file targ

[2020-07-18 01:16] erdembayar commented on #9731
I'm closing the ticket because we're not seeing enough gain and decided to close for now. Because purging/pruning from cache is very hard at this moment.

I tested it with large solution like "Cortona", but for small solutions benefit will be almost nothing. Overall saving with my change just 3% because not many intertwined packages on  `PackageMetadataResourceV3` path, unlike dependency graph whe

[2020-07-18 01:16] #9731 closed, assigned to erdembayar

[2020-07-18 06:10] JeffAshton commented on #4360
This also worked and seems more official:

https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#targetsfortfmspecificbuildoutput

[code]

[2020-07-18 10:41] Belereg commented on #6328
where is that folder?

[2020-07-18 15:42] ChiefInnovator commented on #4393
Running into this at this moment in time.  I am going to try one of the workarounds suggested in this thread.  I agree with others on this thread.  This is core and should be fixed sooner rather than later.  Given that this is going on for over 3 years now, frustrating.

[2020-07-18 16:15] zivkan commented on #4393
I don't mean to sound flippant, and I don't like it when people say "we're open source, send us a PR", but I think this issue should be simple enough for a community member who is willing to spend some time to investigate. I'll even give background information to help get started:

I'm fairly confident this stems from the fact that `cmd.exe` and powershell on Windows do not do file globbing, meani

[2020-07-18 19:13] PathogenDavid opened #9817 "License and icon file existence check should always use a case-sensitive comparison"
When you attempt to create a NuGet package with a license file that doesn't exist, NuGet will complain with NU5030:

[code]

However, [this check uses an OS-dependent string comparison](https://github.com/NuGet/NuGet.Client/blob/1f1213960012d6452b63a267607d1e237318025e/src/NuGet.Core/NuGet.Packaging/PackageCreation/Authoring/PackageBuilder.cs#L588).

This isn't correct as NuGet packages are zip fi

[2020-07-18 19:56] PathogenDavid commented on #8027
In the same vein, NuGet cannot know if the package's license is even correct in the first place. (I've seen packages listed with the wrong license on NuGet.org before, but that's between me and that package's maintainers not me and NuGet.org.)

---------

I think it would be valuable for NuGet to do what GitHub does and try to inform the user of what the license flavor is either to:
* Infer the li

[2020-07-19 03:23] tanaka-takayoshi commented on #4393
Thank you @zivkan
I wonder it has been three years since I created this issue and this issue looks too old. It sounds good to sort out the issues.

Originally, I created this ticket `dotnet nuget push *.nupkg` doesn't push more than one file on "Linux". However, @zivkan says it now works on Linux but doesn't on Windows. Is my understanding correct?
If so, let's sort out which platform doesn't work

[2020-07-19 08:00] jogibear9988 opened #9818 "The "ResolvePackageDependencies" task failed unexpectedly - An item with the same key has already been added"
Error	MSB4018	The "ResolvePackageDependencies" task failed unexpectedly.
System.ArgumentException: An item with the same key has already been added.
   at System.ThrowHelper.ThrowArgumentException(ExceptionResource resource)
   at System.Collections.Generic.Dictionary`2.Insert(TKey key, TValue value, Boolean add)
   at System.Linq.Enumerable.ToDictionary[TSource,TKey,TElement](IEnumerable`1 source

[2020-07-19 08:20] tanaka-takayoshi commented on #4393
Hi @zivkan
As far as I tested on Windows, WSL, and MacOS, this issue still happens not on Windows but on "Linux" and "MacOS".

[2020-07-19 12:09] PeterKnealeBizCover commented on #9775
`Schema.NET` contains a '.' in the name, while 'FastestNuGet' doesn't. I can't find where I read it but I recall someone noticing unreliable nuget publishing when the package name contained a period. Would it be difficult to try removing it?

[2020-07-19 14:13] zivkan commented on #4393
No, I'm saying that NuGet only uses a single filename, as shown by the two lines of code I linked. The operating system doesn't matter.

If that filename contains a `*`, NuGet does its own [file globbing](https://en.wikipedia.org/wiki/Glob_(programming)) (search the filesystem for files that match the pattern, then expand the selection to include them all), and can therefore find multiple files. H

[2020-07-19 15:07] tanaka-takayoshi commented on #4393
Thanks @zivkan . I found I was misunderstanding.

The issue I was facing is not a cross-platform issue but the difference of shell.  To avoid the issue, I can just simply avoid globbing in bash (or another shell).

[code]

Now that I think this is not a bug in NuGet while I considered this was a bug when creating this issue. To avoid misunderstanding like me, how about adding an extra note in the

[2020-07-19 17:24] ChiefInnovator commented on #4393
I  am using Linux Ubuntu builds from GitHub.  My team and I ran into this several times.  We haven't been able to get anything other than specifying the files directly or using xargs.  Fortunately the xargs works great.

[2020-07-20 04:43] Kryptos-FR commented on #4856
Copying my proposal from https://github.com/dotnet/project-system/issues/6290#issuecomment-660458976

Whether a file is "visible" or not shouldn't even be a responsibility of the package/library maker. Some users of those packages might decide they want to display, some might not. So there should be an option to show/hide this on a per-project basis.

Look at #3302 for an idea of the mess it can b

[2020-07-20 07:32] RehanSaeed commented on #9775
Removing it is not an option.

[2020-07-20 08:49] v-nancyj commented on #9798
@heng-liu The issue has been fixed on D16.7\30317.65 + NuGet Client release-5.7.x\5.7.0.6726 during our verification.

[2020-07-20 10:34] RehanSaeed commented on #9775
Someone has written an entire dotnet global tool to workaround this bug:

https://github.com/jcansdale/gpr

There seem to be a lot of others experiencing the same issue:

https://twitter.com/RehanSaeedUK/status/1281705870917881856?s=20

[2020-07-20 15:07] rrelyea commented on #8662
there is a modified section about env vars in config files here: https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#using-environment-variables
It properly covers x-plat env var techniques.

also https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#packagesourcecredentials has been updated with a sample.

[2020-07-20 15:07] #8662 closed, assigned to rrelyea

[2020-07-20 15:07] anangaur commented on #8889
@whitneyimura, can you help redirect?

[2020-07-20 15:13] rrelyea commented on #8533
an older KR. @aortiz-msft - may still be useful, as part of KRs or not.

[2020-07-20 15:36] rrelyea commented on #9545
closing until we are sure we need this. ideally, we just make it work and it all just lights up.

[2020-07-20 15:36] #9545 closed, assigned to rrelyea

[2020-07-20 16:36] richshadman opened #9819 "SDK Projects Pack and PackagePath are ignored for Update items. One must Remove and Include for the properties to be honored"
If you have an ItemGroup like the following:
[code]

It will fail. One must do this for the item to be included:

[code]

The Pack (and by extension PackagePath) properties should not be dependent on the Include item type, and should be honored on the Update item as well.

[2020-07-20 16:54] ohadschn opened #9820 "Is the (global) packages folder structure stable (packageName\packageVersion)?"
The (global) packages folder has a structure in the form of `packageName\packageVersion`, e.g.:
* `C:\packages\Foo.Package.Name\1.2.3`
* `C:\packages\Bar.Package.Name\4.5.6`

Can we rely on this structure in build scripts and the like?
(I am aware of `GeneratePathProperty`, I need this outside of MSBuild context)

In case the folder structure above is part of the NuGet contract/spec and is stable,

[2020-07-20 17:23] zivkan commented on #8915
This came up in team chat today. We'll need to add an extra property in our search options. However, the question of running search on an old server that does not implement this new search option came up.

From an API design point of view, how should NuGet.Protocol behave when the server implements an old version of the NuGet HTTP protocol and doesn't support packageType filtering?
* Throw an exce

[2020-07-20 17:26] joelverhagen commented on #8915
You could consider leveraging the resource provider pattern and make a dedicated resource (which could inherit an existing resource, if you want) and resource provider. If the repository returns null that means the feature is not supported. Just another option to toss into the hat.

[2020-07-20 17:48] nkolev92 commented on #8352
Reducing priority as we've addressed the highest impacting issues.

[2020-07-20 17:58] #9798 closed, assigned to srdjanjovcic

[2020-07-20 18:35] dominoFire commented on #9818
- Are you using a lock file?
- A way for diagnosing the failure is to create a binary log and analyze it with [MSBuild Structured Log Viewer](https://msbuildlog.com/).

Please, fill all bug details in the form (nuget.exe version, dotnet.exe version, Windows version, VS version)

[2020-07-20 20:08] nkolev92 commented on #9606
Closing per @heng-liu's latest comment.

[2020-07-20 20:08] #9606 closed, assigned to nobody

[2020-07-20 20:15] nkolev92 commented on #9616
🔔 @drewnoakes

Transitive PackageReferences do not have any user controlled metadata. If this is about include/exclude assets then I think it's a no-op. -

[2020-07-20 20:17] nkolev92 commented on #9619
@drewnoakes Has the project-system/roslyn side work been completed?

[2020-07-20 20:25] nkolev92 commented on #9624
Hey @efunkenbusch,

Are you referring to adding nuget.exe to winget as an installable tool?

Thanks.

[2020-07-20 20:30] nkolev92 commented on #9627
Hey @hirschmann,

In PackageReference projects, the content files are by default not transitive.
Refer to https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets.

For solving the general problem of controlling what gets included from transitive packages, please refer to https://github.com/NuGet/Home/issues/6720.

[2020-07-20 20:30] #9627 closed, assigned to nobody

[2020-07-20 20:34] nkolev92 commented on #9628
Triage:
@heng-liu Please add details for specific error codes/scenarios that would be affected by this.

[2020-07-20 20:39] nkolev92 commented on #9631
Triage: @anangaur can you please follow up to understand the requirements for this ask.

@jkotas @AaronRobinsonMSFT If this is a high enough priority, please reach out to @anangaur and @aortiz-msft

[2020-07-20 20:40] nkolev92 commented on #9635
@v-luzh Can you please try to repro this issue?

Does NuGet recover at any point or does it hang forever.

[2020-07-20 20:41] nkolev92 commented on #9639
Triage: This seems like a simple change and easy win to decrease our issue count :)

[2020-07-20 20:46] nkolev92 commented on #9643
Hey @pfeigl,

Link metadata only affects how things are displayed in the solution explorer.
To control the directory structure of the content files, you can use PackagePath.

Refer to https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#including-content-in-a-package

[2020-07-20 20:46] #9643 closed, assigned to nobody

[2020-07-20 20:50] nkolev92 commented on #9648
@Sumoren

Hey, is the project in question packages.config or PackageReference?

The runtimes/win pattern is supported only for PackageReference.

[2020-07-20 20:52] nkolev92 commented on #9652
From https://developercommunity.visualstudio.com/content/problem/1064525/nugetexe-install-package-install-module-newtonsoft.html

Closing as external/not a bug.

[2020-07-20 20:52] #9652 closed, assigned to nobody

[2020-07-20 20:55] nkolev92 commented on #9654
@donnie-msft This had an epic label, but zenhub didn't recognize it as an epic. If you intended for this to be an epic, please ensure ZenHub is interpreting it correctly.

[2020-07-21 00:17] heng-liu commented on #9759
I could repro on VS 16.7 preview4.
So this is a regression since 16.7 preview4.
Hi @nkolev92, I heard from triage meeting that, this level of node belongs to project system. So I'm wondering if it's necessary to check if it's brought in by our code or not? As I'm checking the compatibility tenet. Do you have any suggestion on this issue? Thanks!

[2020-07-21 00:27] nkolev92 commented on #9759
In csproj.dll (Legacy) PackageReference based projects the node there is *completely* owned by the project system.
I'd recommend we move it to their repo.

You can use the global tool from https://www.nuget.org/packages/GithubHelperTool/ to transfer issues.
You'll need a GH PAT.

[2020-07-21 00:33] zivkan commented on #9648
Also, assuming the project uses PackageReference, is it "SDK style" (does it have `SDK="..."`), or "non-SDK style" (`Import = ... Microsoft.Common.props`, `Import = ... Microsoft.CSharp.targets`)?

[2020-07-21 00:40] heng-liu commented on #9759
Thanks @nkolev92 :)

[2020-07-21 01:36] zivkan opened #9821 "NuGet.CommandLine.XPlat should not have public APIs"
`NuGet.CommandLine.XPlat` is an executable, not a class library, that is the entry point to the `dotnet nuget` CLI, plus some other `dotnet` CLI commands such as `dotnet add package`, and `dotnet list package`.

Unlike `NuGet.CommandLine`, which is also an exe, but is packed into a nupkg in the `tools\` directory and therefore cannot be referenced by a project`, `NuGet.CommandLine.XPlat` is packed

[2020-07-21 01:48] #9600 closed, assigned to joelverhagen

[2020-07-21 01:58] #9812 closed, assigned to srdjanjovcic

[2020-07-21 02:05] nkolev92 opened #9822 "Reduce resource contention at Solution Load time caused by blocking a threaded-pool thread with `BlockingCollection.Take()`"
At solution load time, we listen for nominations and we try to batch as many of them into one restore operation.

We either wait for all projects to get nominated or for 20s.

Trick is we are waiting by blocking a threadpool thread: https://github.com/NuGet/NuGet.Client/blob/4a02c08cb2cfb87c77f0d378e361052944b8f3aa/src/NuGet.Clients/NuGet.SolutionRestoreManager/SolutionRestoreWorker.cs#L491.

[2020-07-21 02:10] erdembayar commented on #6010
Just in case checking. Would you be able to create sample? I have 1 small sample which I am working on, but more samples are welcome to cover all possible cases.

[2020-07-21 03:09] heng-liu commented on #9759
Couldn't repro with VS16.3 + VSIX from Dev\5.7.0.6689, so it's not a NuGet issue.

[2020-07-21 03:10] #9759 closed, assigned to nobody

[2020-07-21 04:39] AdrianSanguineti commented on #9147
@rseanhall, I think the actual correct duplicate issue is #8093 not #8797.

It gives the workaround of using `<MSBuildWarningsAsMessages>NU1702</MSBuildWarningsAsMessages>` instead of `NoWarn` to suppress the warning. This has appeared to have worked for me. From what I gather, #8093 was raised to address that `NoWarn` values are not read at all by the client which is why suppressing using `NoWarn

[2020-07-21 04:42] AdrianSanguineti commented on #8797
@rizi, if you haven't already seen it, there is a workaround listed in #8093 where you can add `<MSBuildWarningsAsMessages>NU1702</MSBuildWarningsAsMessages>` to suppress NU1702 until the NuGet client is updated to support reading of `NoWarn` (see the issue details).

[2020-07-21 04:55] drewgillies opened #9823 "Show transitive packages for PackageReference projects in PMUI"
Show transitive packages for PackageReference type projects in PMUI

Spec: https://github.com/NuGet/Home/wiki/Flag-vulnerable-packages

[2020-07-21 04:58] drewgillies commented on #9823
Dupe--closing

[2020-07-21 04:58] #9823 closed, assigned to drewgillies

[2020-07-21 05:42] #9778 closed, assigned to srdjanjovcic

[2020-07-21 05:47] rizi commented on #8797
Thx, I must have missed that.
Br

[2020-07-21 13:13] hirschmann commented on #9627
@nkolev92
Thanks for your answer!

I got it to work by adding a buildTransitive _.targets_ file which copies the content files only if the project is an executable project:
[code]

Additionally I set _copyToOuptut_ in the .nuspec file to _false_ to stop msbuild from copying the content files into every library project output folder.

If anyone else encounters the same problems - this is my fixed d

[2020-07-21 15:18] jmwolfe commented on #9816
Turns out, this is because the NuGet package is very old, and does not use the accepted Target Framework Moniker for .NET 4.0 (net40) in the package directory structure. Still, it would be awesome if Nuget was backwards compatible with older packages. I have opened https://github.com/NuGet/docs.microsoft.com-nuget/issues/2103 to have the document updated. Leaving open for consideration of improvin

[2020-07-21 19:08] #9821 closed, assigned to zivkan

[2020-07-21 21:01] heng-liu commented on #9487
I couldn't repro on VS 16.8 p1 with the following steps:
1. create a local  .NET Framework 4.8 package with embedded icon - package1
2. create a .NET Framework 4.8 classlib project
3. install package1 (tried both package reference and package config)
4. add source https://pkgs.dev.azure.com/farhub/_packaging/farhub/nuget/v3/index.json
5. install classlib.net48 from the above source
6. go to "insta

[2020-07-21 22:35] nkolev92 commented on #7466
The dotnet.exe side will be fixed https://github.com/NuGet/NuGet.Client/pull/3480.

[2020-07-21 23:35] #9673 closed, assigned to nobody

[2020-07-22 00:50] nkolev92 opened #9824 "Port static graph restore to NuGet.exe"
Along that, consider where moving nuget.exe to servergc is a good idea.
This *could* become separate tasks, but I'll leave that to implementer :)

[2020-07-22 01:03] vsfeedback opened #9825 "Scope to this does not work for nuget package hierarchies"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1105459/scope-to-this-does-not-work-for-nuget-package-hier.html)._

---
Its really great to see nuget package hierarchies showing in Solution Explorer now. I'd also like to search within the tree of a nuget package though using a "scope to this". That currently only ends up

[2020-07-22 01:19] dominoFire commented on #9825
@dotnet/project-system @drewnoakes

[2020-07-22 01:36] anangaur commented on #7466
👏🏽👏🏽👏🏽

[2020-07-22 02:36] drewnoakes commented on #9825
Before:

![image](https://user-images.githubusercontent.com/350947/88127718-b5861980-cc17-11ea-87bd-aa033461c1bd.png)

After:

![image](https://user-images.githubusercontent.com/350947/88127730-c040ae80-cc17-11ea-892b-17dceefdc9ed.png)

The subtree is not attached.

This doesn't happen for other nodes. For example, it works for a framework reference node, and also for a package's subnodes such as

[2020-07-22 10:26] jcansdale commented on #9775
Try passing the `DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=0` env var to `dotnet nuget push`.

This seems to make it work _most_ of the time.

Unfortunately I then see the odd error like this:

[code]

[2020-07-22 10:59] ldematte commented on #8195
I am currently using the workaround, which works OK for packages.config, download and update of packages due to the fact that NuGet and/or VS does not actually care for the targetFramework in these situations (you specify native, you get the package dowloaded even if not native).
However from this point onwards everything becomes messy: you have to add references manually, you have to add all depe

[2020-07-22 13:48] chadly commented on #9775
I second @jcansdale's [gpr tool](https://github.com/jcansdale/gpr). It solved all my problems pushing to GH packages and I'm not worried about this issue anymore.

I mean...the issue still needs to be dealt with, but _I_ can at least move on with my life now.

[2020-07-22 17:12] martinrrm opened #9826 "Display the resolved version in the PM UI"
In the current behavior when using floating version we are not displaying the correct installed version and we are getting this version from the PackageReference instead of the assets file.

[2020-07-22 17:17] martinrrm opened #9827 "Show requested version in the Solution Level UI"
Currently we only show the installed version in the Solution Level, we are going to add a column "Requested" version.
It only applies to PackageReference projects.

[2020-07-22 17:21] martinrrm opened #9828 "Filter out floating version with the correct version in the Updates Tab."
Currently floating versions display the minimum possible version in the Package UI showing that there is an available update.

[2020-07-22 17:25] martinrrm opened #9829 "Allow to user to input custom (floating) versions through the PM UI"
Change version input to a Combo Box displaying available version depending on the user input. This will allow users to select a floating version to install.

[2020-07-22 17:28] martinrrm opened #9830 "Should we show requested versions in Consolidate Tab?"
Should we do the same in the Consolidate Tab as in the Install and Update Tab?

[2020-07-22 18:43] vsfeedback opened #9831 "Visual Studio is unresponsive while using "Clear All NuGet cache(s)" feature"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/816613/visual-studio-hangs-at-clear-all-nuget-caches.html)._

---
Reproduction steps:
Clear cache through the Options window --> NuGet Package Manager --> General --> Clear All NuGet Cache(s)

What happens:
Visual Studio clears cache but then hangs with high CPU usage and n

[2020-07-22 20:00] rrelyea commented on #9688
In VS before this change:
Output window has the following:
![image](https://user-images.githubusercontent.com/8865080/88222587-0cd9b900-cc1b-11ea-94bb-a9700a8b5bd5.png)

Nothing in error list.

In VS after this change, output window has the following:
![image](https://user-images.githubusercontent.com/8865080/88222658-22e77980-cc1b-11ea-9518-1072a57eb884.png)

and error list:
will have these 2 err

[2020-07-22 22:20] #9755 closed, assigned to advay26-zz

[2020-07-22 22:23] advay26-zz opened #9833 "Implementing Embedded Readme basic functionality"
Implementing the design from the [Embedded Readmes tech spec](https://github.com/NuGet/Home/pull/9832).

[2020-07-22 22:29] advay26-zz opened #9834 "Writing the docs for the new Error codes introduced for Embedded Readmes"
Adding documentation for the new NuGet error codes introduced for Embedded Readmes

[2020-07-23 00:34] nkolev92 commented on #9436
So almost perfect :D
A bunch of scenarios worked by accident. PR in https://github.com/NuGet/NuGet.Client/pull/3535.

[2020-07-23 00:39] nkolev92 commented on #9435
Is this needed in 5.x or only in 6.x?

[2020-07-23 00:40] nkolev92 commented on #9435
Given that NuGet is not *interpreting* the profile, things are a bit tricky here, it'd require NuGet to hardcode the mapping, thus NuGet will start *interpreting* the platform name.

[2020-07-23 00:42] #9822 closed, assigned to nkolev92

[2020-07-23 00:52] Seltzer commented on #6010
Hi @erdembayar, sorry for the delay. I've created a sample solution based on our codebase and added you and @nkolev92 as collaborators.

I timed 3 mins for the Updates tab to load the first time, and 1 min for it to load after restarting VS and 1 min for it load a third time after closing and reopening 'Manage NuGet Packages for Solution' with no changes. For performing a single update, waiting a

[2020-07-23 01:19] nkolev92 commented on #6010
Hey @Seltzer,

Thanks for the hard work creating that repro solution.
Are any of the projects `PackageReference`? Quickly clicking through the repo, I see mostly packages.config projects.

[2020-07-23 01:23] cristinamanum opened #9835 "[CPVM] Customer outreach"
Epic that contains the customer outreach related tasks.

[2020-07-23 01:30] cristinamanum opened #9836 "[CPVM] Drive the definition for the customer interview questions"
A set of interviews will be conducted to collect customer feedback for CPVM.

The customer outreach data will need to provide the information necessary to answer to the below questions:
1.	Is CPVM is a feature that the users need?
2.	What is the Priority of tools the users value most in context of CPVM?
3.	Is there any feedback for the desired Version Override experience?
4.	What are the adoption

[2020-07-23 01:32] cristinamanum opened #9837 "[CPVM] Using GitHub data drive the definition of a customer list to interview"
Using GitHub data drive the definition of a customer list to interview

[2020-07-23 01:34] cristinamanum opened #9838 "[CPVM] Using internal data drive the definition of a customer list to interview"
[CPVM] Using internal Azure Dev ops data drive the definition of a customer list to interview

[2020-07-23 01:36] cristinamanum opened #9839 "[CPVM] LinkedIn - drive the definition of a customer list to interview"
LinkedIn - drive the definition of a customer list to interview

[2020-07-23 01:40] cristinamanum opened #9840 "[CPVM] Interviews and data collection"
Tracking the interviews

[2020-07-23 04:28] Seltzer commented on #6010
Oops, I accidentally based the sample on the pre-PackageReference branch of our codebase. I've now migrated as many projects as possible to PackageReference, so that's basically all of them except for the ASP .NET projects which the VS migration tool can't handle.

I've added:
* SeltzerSample.sln which contains all 42 mixed packages.config/PackageRef projects with ?? installed packages, 89 pending

[2020-07-23 07:39] MikeRosoft commented on #6611
I believe that in PackageReference binding redirects are generated automatically on build; you don't need to have them in an app.config file unless you want to manually add or override them. But I agree: for new-style (PackageReference) projects -Reinstall should be a no-op and display a warning instead of upgrading the package version.

[2020-07-23 11:48] #9632 closed, assigned to zivkan

[2020-07-23 17:05] nkolev92 commented on #9655
Hey @petsuter,

Can you provide us a repro project?

By default, lock files are not in lockedmode, and projects restore at solution load time.

It is possible that you are hitting a bug, but we'd need an exact repro to fix your scenario.

Thanks.

[2020-07-23 17:09] nkolev92 commented on #9664
Hey @cppchuff,

Unfortunately we don't have sufficient information to investigation right now.

The package you list is unavailable on nuget.org.
Can you provide us a repro project.

[2020-07-23 17:12] nkolev92 commented on #9666
Triage:
Currently, our console commands rely on being part of the Visual Studio process, in addition to having a powershell host.

At this point it's technically not feasible to do this.

[2020-07-23 17:12] #9666 closed, assigned to anangaur, chrisraygill

[2020-07-23 17:15] nkolev92 commented on #9670
@zkat Can you more details to this issue.

[2020-07-23 17:18] nkolev92 commented on #9720
@dtivel Do you recall the reasoning behind this approach?

[2020-07-23 17:20] nkolev92 commented on #9721
Closing per @heng-liu's comment.
We can re-open if this proves to be a problem.

[2020-07-23 17:20] #9721 closed, assigned to nobody

[2020-07-23 17:22] nkolev92 commented on #9722
@heng-liu, there's an internal thread with the dump, ping me if you can't find it.

[2020-07-23 17:29] nkolev92 commented on #9735
Closing per @donnie-msft's comment.

Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-07-23 17:29] #9735 closed, assigned to nobody

[2020-07-23 17:40] nkolev92 commented on #9774
Possible dup in https://github.com/NuGet/Home/issues/7001.

Are you running pack on build @pavanupb

[2020-07-23 17:46] anangaur commented on #9720
As far as I remember, we didn’t want to mess with the free text field that can include Unicode characters as well I think. But we were discussing to make it case insensitive for nuget.org but punted the discussion then to revisit in future. @dtivel do add anything that I missed or miscommunicated

[2020-07-23 17:47] nkolev92 commented on #9785
Triage: Based on the information provided, this issue seems to be particular to the setup. Closing as external.

@ViktorHofer NuGet is not using any special networking logic, so the runtime might be one that can help the customer the most.

[2020-07-23 17:47] #9785 closed, assigned to nobody

[2020-07-23 17:50] aortiz-msft commented on #9787
This issue was moved to dotnet/sdk#12611

[2020-07-23 17:50] #9787 closed, assigned to nobody

[2020-07-23 17:50] nkolev92 commented on #9788
Hey @kmuthukumar23,

Can you ensure that you are following the steps described in https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-using-a-nuspec?

Can you please provide a repro project?

[2020-07-23 17:51] nkolev92 commented on #9789
Triage: Assigning to @chgill-MSFT for evaluation.

[2020-07-23 17:53] ericstj commented on #9632
IMHO C# syntax is more readable and expressive than API txt files.  I wonder if this analyzer could be made to take C# files as it's input.

[2020-07-23 17:54] aortiz-msft commented on #9793
This issue was moved to NuGet/docs.microsoft.com-nuget#2107

[2020-07-23 17:54] #9793 closed, assigned to nobody

[2020-07-23 17:55] nkolev92 commented on #9795
Related to https://github.com/NuGet/Home/issues/5725.

list package does not do compatibility checks currently.

[2020-07-23 18:10] ericstj commented on #9632
Opened https://github.com/dotnet/roslyn/issues/46257 with that suggestion.

[2020-07-23 18:19] ViktorHofer commented on #5154
ping @zkat @nkolev92

[2020-07-23 18:27] nkolev92 commented on #5154
iirc, allowing duplicate references will be the thing that #9756 won't cover.

That requires us to change the lock file & assets file, and lots of internal logic that'd be a big scope creep to try to get finish in 16.8.

[2020-07-23 18:46] zivkan commented on #5154
@ViktorHofer I believe that the intent/minimum requirements for #9756 is to support the .NET SDK passing default `TargetPlatformVersion` when the `TargetFramework` omits it. That's it. For example, the project's `TargetFramework` is `net5.0-windows`, but NuGet doesn't know what version of `windows` it is. The .NET SDK creates the `TargetPlatformVersion`, which Nuget has to read, so we know it mean

[2020-07-23 19:15] pavanupb commented on #9774
Yes

[2020-07-23 20:36] nkolev92 commented on #9774
Closing as dup in that case.

[2020-07-23 20:36] #9774 closed, assigned to nobody

[2020-07-23 20:45] #9607 closed, assigned to zivkan

[2020-07-23 20:46] zivkan commented on #9607
@pirluq thanks for creating the PR, and apologies for taking so long to get it merged.

[2020-07-23 21:02] Nirmal4G opened #9841 "[CPVM] Cannot import packages file from a custom directory"
## Problem

The '_DirectoryPackagesPropsBasePath' property is not respected when importing 'Directory.Packages.props'. Thus, We can't import the central packages file from a custom directory.

## Repro

1. Create any project with CPVM enabled (i.e. with `Directory.Packages.props`)

2. Override `_DirectoryPackagesPropsBasePath` with the directory of `Directory.Packages.props` anywhere you prefer.

[2020-07-24 00:55] nkolev92 commented on #7245
I think @rrelyea's work in https://github.com/NuGet/NuGet.Client/pull/3520 will fix this, but he'll know better :)

[2020-07-24 01:07] nkolev92 commented on #9799
Dup of https://github.com/NuGet/Home/issues/6867

[2020-07-24 01:07] #9799 closed, assigned to nobody

[2020-07-24 01:10] nkolev92 commented on #7791
Related to #5725...we need to merge these :)

[2020-07-24 01:14] nkolev92 commented on #5034
Dup of https://github.com/NuGet/Home/issues/6373.

[2020-07-24 01:14] #5034 closed, assigned to nobody

[2020-07-24 01:16] nkolev92 commented on #5416
Restore triage: I tested this on Windows, with latest and no issues there.

Given the low community engagement I don't think it's worth keeping this anymore, so closing.

[2020-07-24 01:16] #5416 closed, assigned to nobody

[2020-07-24 01:17] nkolev92 commented on #5772
Merging into https://github.com/NuGet/Home/issues/7957

[2020-07-24 01:17] #5772 closed, assigned to nobody

[2020-07-24 01:30] dsplaisted opened #9842 "NuGet should not infer dots platform version when parsing TargetFramework"
Use NuGet to parse the following `TargetFramework`: `net5.0-android21`

**Expected:** Parsed `TargetFrameworkVersion` is `21` (or `21.0`, etc)

**Actual:** Parsed `TargetFrameworkVersion` is `2.1`

NuGet is probably using the same version parsing logic for the platform version as it does for the target framework version.  However, the target framework version parsing automatically inserts version

[2020-07-24 07:59] petsuter commented on #9655
To get a repro case, please create new projects in VS, add `<RestorePackagesWithLockFile>true</RestorePackagesWithLockFile>`, install some Nuget packages, and store packages.lock.json in version control. Sorry I can not provide a real world repro project.

Triggering the reload of projects is not difficult as it happens every time. The data corruption is probably not highly reproducible due to tim

[2020-07-24 08:49] MV10 commented on #5184
Ideally we could also indicate that it should _only_ come from the source. Particularly during active development with a local source, caching just gets in the way. This is badly needed.

[2020-07-24 14:25] jcansdale commented on #9775
I'm dropping some notes about the `DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLE` property here incase they might be useful. I grabbed them from an internal GitHub PR that repro this issue.

### Description

Starting with .NET Core 2.1, the [SocketsHttpHandler](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.socketshttphandler?view=netcore-3.1) class provides the implementation used by h

[2020-07-24 15:46] DhanvannthVP commented on #9642
fixed

[2020-07-24 15:46] #9642 closed, assigned to nobody

[2020-07-24 17:38] #4699 closed, assigned to martinrrm

[2020-07-24 18:00] nkolev92 commented on #9364
Hey @BSG-75,

Content folders are mutable and as such they are not supported in PackageReference. The replacement are content files, https://devblogs.microsoft.com/nuget/nuget-contentfiles-demystified/.

See related issue https://github.com/NuGet/Home/issues/6659. Unlikely at this point.

[2020-07-24 18:00] #9364 closed, assigned to nobody

[2020-07-24 18:04] nkolev92 commented on #9795
Merging this into https://github.com/NuGet/Home/issues/5725.

[2020-07-24 18:04] #9795 closed, assigned to nobody

[2020-07-24 18:04] nkolev92 commented on #7791
Merging into https://github.com/NuGet/Home/issues/5725

[2020-07-24 18:04] #7791 closed, assigned to nobody

[2020-07-24 18:06] erdembayar commented on #6010
@Seltzer I don't see any new repository.
What is the name of it?

[2020-07-24 18:09] nkolev92 commented on #6010
We sync-ed up offline, I provided the link. :)

[2020-07-24 18:14] nkolev92 commented on #7007
Hey @flcdrg,

Thanks for creating this issue.
Given that it's been a while since this issue has been created and we haven't gotten a lot of additional enagement, I will merge this issue to https://github.com/NuGet/Home/issues/6867.

The ask there is similar. The ability to define which package source a package should come from.

[2020-07-24 18:14] #7007 closed, assigned to nobody

[2020-07-24 18:19] nkolev92 commented on #7280
Merging this into https://github.com/NuGet/Home/issues/9688, which already has a PR going.

For more context, in PackageReference *all the sources* need to available. There's no concept of primary/secondary sources anymore.

[2020-07-24 18:19] #7280 closed, assigned to nobody

[2020-07-24 18:25] nkolev92 commented on #9655
Hey @petsuter,

Unfortunately we won't be able to investigate without better details.

It's possible that the issues you are facing are already tracked somewhere in our repo, see https://github.com/NuGet/Home/issues?q=is%3Aopen+label%3AArea%3ARestoreRepeatableBuild+label%3AType%3ABug for example.

If you see anything that rings a bell let us know.

At this point, I don't think we'll have an action

[2020-07-24 18:25] #9655 closed, assigned to nobody

[2020-07-24 18:26] nkolev92 commented on #9842
This should be pretty straightforward.
fyi @zkat

[2020-07-24 18:36] #5548 closed, assigned to heng-liu

[2020-07-24 18:46] donnie-msft commented on #9804
I've identified this as a background loading problem. I'll need to find a way of having the tab wait until all Latest Versions are completed loading, or reload the tab if the previous load is interrupted.

[2020-07-24 21:04] nkolev92 commented on #9568
Goal here is to write a design doc & define any future action items, rather than implementing all potential improvements.

[2020-07-24 21:50] nkolev92 commented on #8352
Closing this for now.

We've done a bunch of work, and while we're never perfect, I don't see value in tracking this issue anymore, given that the traces in 16.7 are going to be vastly different.

For anyone reading this issue and running into this problem, please try it with VS 2019, Update 7 (shipping soon), and if you are still having issues, we'd be happy to hear about your scenario.

[2020-07-24 21:50] #8352 closed, assigned to erdembayar

[2020-07-24 21:57] nkolev92 commented on #9808
Done: https://github.com/NuGet/Client.Engineering/blob/master/.github/ISSUE_TEMPLATE/branch_template.md

[2020-07-24 21:57] #9808 closed, assigned to nkolev92

[2020-07-24 22:15] nkolev92 commented on #7147
I think at this point we can close this as buggy by design.
See https://github.com/NuGet/Home/issues/3507 and https://github.com/dotnet/sdk/issues/8991.
Publish in SDK depends on `PrivateAssets` but that's not the great design.
At this point due to backward compat we can't really change the SDK design, but I certainly see no reason to break old projects too.

Given the low vote count here, I'm clo

[2020-07-24 22:15] #7147 closed, assigned to nobody

[2020-07-24 23:03] aortiz-msft commented on #9705
@dominoFire https://github.com/NuGet/NuGet.Client/pull/3511 is merged. Can we close this issue or is there additional work left?

[2020-07-25 22:39] DamienDennehy commented on #9775
After 9 failures in a row using DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER seems to have worked. Thank you @jcansdale. If it happens again I'll post any of the 400 warnings so this can be investigated more.

[2020-07-27 09:47] bbants opened #9843 "namelink is dereferenced in linux when using NuGet.exe(mono) to pack my native versioned so file namelink"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 4.8.2.5835

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)): Ubuntu 18.04

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. my project

[2020-07-27 12:08] smasihemami commented on #5805
This is a huge headache for me working with VS 2017 15.9.25 + nuget 4.5.1.4879. It takes 15 minutes or so to update a single nuget package in a solution consisting of 140 projects. And the UI freezes meaning one cannot do anything while this process is going on.  I'm really eager to know whether it's a nuget issue or a VS issue, and if there is an alternative to VS built-in nuget package manager t

[2020-07-27 12:16] smasihemami commented on #5805
And I cannot think of a reason why this nuget update process cannot be parallelized. Looking at VS Package Manager console seems like this process takes only 1 project at a time, and yet all CPU cores are used by 100%

[2020-07-27 12:29] japj opened #9844 "System.IO.DirectoryNotFoundException: Could not find a part of the path during Restore"
## Details about Problem

NuGet product used: MSBuild restore

VS version : VS2019 16.5.5

OS version:  Windows Server 2016 1607 (14393.3750)

Worked before? Possibly, using VS2019 16.4.0

The restore is running as part of a Build Definition in a build step (Azure DevOps Server/on premise agent).
The System.IO.DirectoryNotFoundException error seems to occur (more) frequently after having recently

[2020-07-27 16:19] rrelyea opened #9845 "Enable PM UI experiment: Package Recommender"
Call into VS Experiment service so we can do an A/B test for Package Recommender services.

[2020-07-27 16:28] heng-liu opened #9846 "Use only approved cryptographic hash functions"
Investigate the AzDO tasks assigned to me that ask us to use only approved cryptographic hash functions.
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/784520

[2020-07-27 16:32] vsfeedback opened #9847 "NuGet package manager icons look poor on dark theme"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1123992/nuget-package-manager-icons-look-poor-on-dark-them.html)._

---
[severity:I'm somewhat annoyed. A fix would be nice]
Icons on the dark theme are pixelated and clipped. They should use the VS image service. See attached screenshot.

---
### Original Comments

#### Fe

[2020-07-27 16:38] advay26-zz opened #9848 "Modifying VS Project Properties Page for Readme Support"
Add the ability to include a Readme file and property to a project through the Project Properties page.

[2020-07-27 17:24] cristinamanum commented on #9175
Closed as not relevant.

[2020-07-27 17:24] #9175 closed, assigned to cristinamanum

[2020-07-27 17:38] dominoFire commented on #9820
Yes, that's a V3 folder structure.

For more info, see https://docs.microsoft.com/en-us/nuget/hosting-packages/local-feeds

I will close this issue since it's not a bug. If you need more help, feel free to reach to us.

[2020-07-27 17:38] #9820 closed, assigned to nobody

[2020-07-27 17:52] martinrrm commented on #9830
Discussed this with Nikolche during a sync-up

[2020-07-27 17:56] cristinamanum commented on #9498
This is not  only a CPVM scenario but a general discussion regrading backward compatibility for nuget.
Removed the CPVM label.

[2020-07-27 19:03] #9436 closed, assigned to nkolev92

[2020-07-27 19:09] zkat commented on #2762
FYI there's now an official Discord for .NET that includes a NuGet channel: aka.ms/dotnet-discord.

[2020-07-27 19:10] #9751 closed, assigned to zkat

[2020-07-27 19:39] anangaur commented on #2762
@zkat can you edit the comment to link the NuGet channel?

[2020-07-27 20:03] joelverhagen commented on #5725
Better late than never, @mhutch 😄?

We have a package type parameter in the search and autocomplete APIs allowing you to filter to a specific package type, e.g.
https://azuresearch-usnc.nuget.org/autocomplete?q=azure&packageType=dotnettool&semVerLevel=2.0.0&prerelease=true

[Autocomplete docs](https://docs.microsoft.com/en-us/nuget/api/search-autocomplete-service-resource#request-parameters)
[Sear

[2020-07-27 20:33] nkolev92 commented on #9566
this is last priority of all the other tasks, so moving it to S175 to match the expectations for S174

[2020-07-27 20:39] #8808 closed, assigned to nobody

[2020-07-27 22:49] dominoFire commented on #9705
I can confirm that there are no more extra slashes in the latest dev branch.

Before:

[code]

After:

[code]

I will close the for now. If you need more heelp, feel free to reach to us.

[2020-07-27 22:49] #9705 closed, assigned to dominoFire

[2020-07-28 00:32] #9845 closed, assigned to rrelyea

[2020-07-28 01:47] nkolev92 opened #9849 "NuGetFramework copy constructor does not create an equivalent frameworks"
This leads to ATF getting created with the wrong base framework and to an incorrect framework being used forrestore.

https://github.com/NuGet/NuGet.Client/blob/e09cdc8a877737addb01eeb90d5ea2bd9433ac52/src/NuGet.Core/NuGet.Frameworks/AssetTargetFallbackFramework.cs#L52

Repros anytime you use ATF + framework with a platform.

[2020-07-28 02:17] heng-liu commented on #9712
https://github.com/dotnet/installer/issues/7893 is fixed. So we could use the latest version of dotnet sdk for testing.

[2020-07-28 03:30] nkolev92 commented on #9568
Bumping to next release due to https://github.com/nuget/home/issues/9756

[2020-07-28 07:22] drewgillies opened #9850 "Surface basic vulnerability metadata in PMUI view models"
Part of the work to display vulnerability information in the package graph on `Installed tab of Package Manager Dialog (PMUI).

Spec: https://github.com/NuGet/Home/wiki/Flag-vulnerable-packages

- Ingress registration metadata for vulnerabilities and augment view model metadata

[2020-07-28 09:54] v-luzh commented on #9487
Hi @heng-liu , It is an unstable issue. The repro ratio is 50%. I could repro it on 16.7 P5, 16.7 P6 and Master latest.

My repro steps:
1. Create a local .NET Framework 4.8 package with embedded icon - package1 **in old VS version** (e.g. 16.7 P4/Master old version)
2. Create a .NET Framework 4.8 classlib project
3. Install package1 (tried both package reference and package config)
4. Add source

[2020-07-28 12:05] ceztko commented on #5899
I'm using VS 16.6.4 and I'm finding the same exact issue. The promised version for the fix was 15.6. Since this was declared an external issue, can you state better which is the external VS component bugged here so maybe we can track it in the right place?

[2020-07-28 18:11] ohadschn commented on #9820
@dominoFire thank you for confirming, and I appreciate the link, but those are not exactly the docs I was aiming for. True, local feed folder structure is clear per the link you've provided, but where does it say that when I do `nuget restore` / `nuget install` I'd get the exact same structure locally in my packages folder?

[2020-07-28 18:14] nkolev92 opened #9851 "Cycling through tabs in the PM UI leads to the tab getting announced twice."
With Visual Studio 16.7 P6, a tab is narrated twice, when going from one to another tab. (it's mostly consistent, in some situations it narrates only once.)

This repros on 16.6 as well.

[2020-07-28 18:15] nkolev92 opened #9852 "In the PM UI, the dependencies tree in the details pane incorrectly narrates `>=`"
In 16.7, P6, Dependencies tree view is not narrated correct.

Ex: >= 4.2.0 (greater is not getting narrated, only equals is).

This repros in 16.6 as well.

[2020-07-28 18:25] cristinamanum commented on #9384
One scenario to describe the concerns:
Central File : A 1.0.0
                          B *
Package Dependencies:
A 1.0.0 depends on B strict [1.0.0]
Feed has: A 1.0.0
                  B 1.0.0
                 B 2.0.0
Project P depends on A 1.0.0
Restore will result in NU1608 .

Not CPVM enabled projects direct dependencies will lead into the same behavior, however it is less likely that this sce

[2020-07-28 23:23] vsfeedback opened #9853 "A simpler way to pack debug and release dlls inside a nuget package"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1120708/a-simpler-way-to-pack-debug-and-release-dlls-insid.html)._

---
<p>My idea is to have inside the nuget package both debug version and release version of the package, this way, when the project is running on debug mode, it uses the debug dlls, and source link, and many

[2020-07-28 23:28] vsfeedback opened #9854 "Group Nuget libraries together"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/887709/group-nuget-libraries-together.html)._

---
<p>Nuget libraries listed in the nuget manager should be grouped automatically using the name. </p> <p>Example, Humanizer has a ton of libraries supporting different languages. So you have a bunch of packages that are names Hu

[2020-07-28 23:38] vsfeedback opened #9855 "Publish nuget package directly to nuget repository"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/801900/publish-nuget-package-directly-to-nuget-repository.html)._

---
It would be very useful to be able to publish directly to a private nuget repository!
Instead I have to build and execute a command manually everytime!

---
### Original Comments

#### Feedback Bot on 11/1/

[2020-07-28 23:50] vsfeedback opened #9856 "Add an option to "GenerateNuspecOnBuild""
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1070457/add-an-option-to-generatenuspeconbuild.html)._

---
Today, we have "GeneratePackageOnBuild" and we use it all the time. However, there are some occasions where we actually end up re-packing on the nuspec that gets put in obj/release. Given we know when these situations

[2020-07-28 23:51] anangaur commented on #9856
I posted on the VS Feedback issue:
![image](https://user-images.githubusercontent.com/14800916/88740667-a5c47480-d0f2-11ea-942d-f303fa0c0666.png)

[2020-07-29 00:10] anangaur commented on #9082
Another related request: https://developercommunity.visualstudio.com/content/idea/1009192/add-option-to-ignore-a-nuget-package-update.html

[2020-07-29 00:11] vsfeedback opened #9857 "Cleaning up old binding redirects"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1092773/cleaning-up-old-binding-redirects.html)._

---
Over time the config files of my solution got a lot of obsolete binding redirects. To clean them up I had to manually remove the existing redirects and then run on the nuget powershell the command Add-BindingRedirect

want

[2020-07-29 00:12] anangaur commented on #9857
Related: https://github.com/NuGet/Home/issues/9706

[2020-07-29 04:21] davkean opened #9858 "NuGet does not respect TreatWarningsAsErrors"
## Details about Problem

NuGet restore is not respecting `<TargetWarningsAsErrors>`

VS: Version 16.8.0 Preview 1.0 [30323.161.master]

## Detailed repro steps so we can see the same problem

Given:

[code]

Expected: A single warning
Actual: A single error

[code]

Looking at the assets file, its being marked as an error:

[code]
...

## Other suggested things

### Verbose Logs

Please include v

[2020-07-29 04:27] #9858 closed, assigned to nobody

[2020-07-29 04:27] davkean commented on #9858
Not a bug, the compiler performs the same behavior.

[2020-07-29 07:27] tfabian commented on #6764
Hi, I figured out this "work around" in our huge repository:
https://developercommunity.visualstudio.com/content/idea/1019345/nuget-multi-solution-package-references-1.html

In this way I can manage our nuget package references in one place.

[2020-07-29 07:37] DhanvannthVP opened #9859 "Nuget pack issue"
Remove the content above here and fill out details below.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Nuget.exe

NuGet version (x.x.x.xxx): 5.5

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we

[2020-07-29 09:52] v-luzh opened #9860 "[Test Failure] VS gave a wrong constraint warning when there are no package constraint in the packages.config file after updating packages"
## Details about Problem
NuGet version: NuGet Client Dev\5.8.0.6753
VS Version: Master\30328.112
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1.	Open VS, click “Create a new project” button and search template “ASP.NET Web Site (Razor v3)” in the filter.
2.	Create the project, open the PM UI of the project and go to the “Updates” tab.
3.	Check “select all packages” and click “Update” butt

[2020-07-29 16:58] #9849 closed, assigned to nkolev92

[2020-07-29 18:30] tyb-dev opened #9861 "Dependency Resolution Inconsistency"
Expected: NuGet uses a nearest-wins approach to resolve conflicting dependencies. NuGet does not try to find a dependency that meets all constraints in the graph. That means, the dependency that is closer to the application in the dependency graph wins.
Actual: In the case below, this rule is violated.

## Details about Problem

VS version (if appropriate):
2019

OS version:
Windows 10, 2004

Work

[2020-07-30 07:46] renemadsen commented on #7752
Any progress on this issue?
Really need this for handling a farm of projects.

[2020-07-30 14:35] anangaur commented on #7752
/cc: @JonDouglas

We are evaluating this as part of our package vulnerability work.

@renemadsen, it may help if you could elaborate on your scenario a bit.

[2020-07-30 15:43] zivkan opened #9862 "Add license header to editorconfig"
The Visual Studio code editor supports a codefix/light bulb to add file headers from a template defined in the `.editorconfig` file. https://docs.microsoft.com/en-us/visualstudio/ide/reference/add-file-header?view=vs-2019

[2020-07-30 16:56] zivkan opened #9863 "Allow `net5.0-platform` projects to be loaded and restored in Visual Studio"
NominateProjectAsync API needs to load `TargetFrameworkIdentifier`, `TargetFrameworkVersion`, `TargetFrameworkProfile`, `TargetPlatformIdentifier` and `TargetPlatformVersion` from the property bag, rather than the `TargetFrameworkMoniker` string (which is missing the platform properties, and won't get it).

[2020-07-30 17:36] nkolev92 opened #9864 "Duplicate PackageReference includes are handled inconsistently by all restores, leading to unnecessary full restores"
Take a project such as the following:

[code]

Note the duplicate PackageReference declaration. Digging further reveals that different project types and different tools handle it differently.

See the below table for details

| Restore Flavor | PackageReference declaration |
| - | - |
| Commandline restore (all) | First |
| Static graph restore (all) | First |
| VS - SDK based projects | Last |
|

[2020-07-30 18:15] dsplaisted commented on #9864
Can we make it an error to have duplicated PackageReference items?  This would break projects, but seems like saner behavior.

The SDK already checks for a variety of duplicate items (Compile, FrameworkReference, etc) and errors if there are duplicates.

[2020-07-30 18:56] nkolev92 commented on #9864
The commandline scenarios would be easy.

In VS, nomination that'd be problematic. I don't think the project-system can/should surface this error, rather it should be NuGet. That means NuGet needs to receive all the data.

The IVsReferenceItem that represents a PR has a name, which suggests it should be unique.
However, IVsReferenceItems which is the collection of items doesn't really rely on the

[2020-07-30 19:07] dsplaisted commented on #9864
Can you generate the error in the NuGet targets?  Then you would have access to all the MSBuild items.

[2020-07-30 19:55] JVimes commented on #7957
Release Notes can be important at install/upgrade time.

[2020-07-30 21:04] #9613 closed, assigned to nobody

[2020-07-30 21:32] brinko99 commented on #2365
@nkolev92

You're sample seems to fail for me when the package's target framework doesn't match that of the importing project. For example, your sample targets net46. When I add the package to Core 3.1 project, the file is neither linked or referenced. VS doesn't even show the containing assemblies.

![image](https://user-images.githubusercontent.com/1231765/88976741-6d977000-d271-11ea-9fae-7965c5