[2016-02-08 17:44] yishaigalatzer commented on #2077
We don't own uninstall for the the extension, so this bug doesn't belong here, I communicated with the vs extensions team, to follow-up this.

[2016-02-08 18:28] clairernovotny commented on #1880
Documenting the temporary workaround as per @jasonmalinowski:

Add `<IncludeFrameworkReferencesFromNuGet>false</IncludeFrameworkReferencesFromNuGet>` to the csproj.

[2016-02-08 19:10] #1880 closed, assigned to jasonmalinowski

[2016-02-08 19:53] yishaigalatzer commented on #2069
Lets remove --quiet completely and add the minimal to the help.

[2016-02-08 19:54] isaacabraham commented on #1510
@yishaigalatzer thanks for the explanation. What do you mean by "spread" through? You mean the team is spread out or that there are lots more users of csproj?

P.S. What is CPS?

[2016-02-08 19:56] yishaigalatzer commented on #2073
OK, I see now. This is a nuget restore bug, when it tries to figure out the P2P references. Not a very common scenario, but something we should probably fix (or perhaps it is an msbuild bug, who knows). Assigning to @emgarten to take a look

[2016-02-08 20:01] emgarten commented on #2073
@dersteve How does this path normally get resolved? By TFS?

NuGet loads the solution using MSBuild to discover all projects, it sounds like NuGet fails when this reference is unresolved and then doesn't restore anything, correct?

[2016-02-08 20:06] emgarten commented on #2062
@boernie let me know if you find any issues with how NuGet resolves your packages.

NuGet can return very poor error messages in some scenarios where the package constraints invalid, or the packages already in the solution are not valid today. There is an issue tracking it here: https://github.com/NuGet/Home/issues/1373

[2016-02-08 20:13] theo-albers opened #2078 "project.json and workspace scoped packages"
As described in this issue https://github.com/NuGet/Home/issues/1934, repositoryPath in .nuget.config is no longer working for C# projects that switched from packages.config to project.json. The alternative approach is to use an environment variable.
Today we can't migrate our CSPROJ files to project.json, since we have internal NuGet packages as part of our Git repository in a local folder, see h

[2016-02-08 20:30] ethan-deng commented on #974
2.8.7 for VS 2013:
https://github.com/NuGet/Home/releases/download/2.8.7/NuGet.Tools.vsix

works.

[2016-02-08 20:30] emgarten opened #2079 "FSharp package references contain unnecessarily long paths"
Installing packages into FSharp libraries with packges.config leads to very long paths.

Steps
1. File > New Project > FSharp Library
2. install-package nuget.versioning
3. View the project file xml

Actual (from fsproj)

[code]

Expected (from a csproj):

[code]

I'm only seeing this on FSharp, C# works fine.

[2016-02-08 20:43] emgarten commented on #2079
The strong name is missing in F# also

[2016-02-08 21:05] dersteve commented on #2073
I added the reference by hand. I use props files to have common things defined like output paths etc. I have a solution with 100+ projects - makes it easier to change if needed. MSBuild has these parameter set by default. SolutionDir is a normal build parameter

[2016-02-08 21:07] dersteve commented on #2073
With the new transient mode nuget gets executed outside of the usual MSBuild task - right? I suppose nuget executes MSBuild again but without these parameters set. Could that be an explanation?

[2016-02-08 21:14] jasonmalinowski commented on #2073
MSBuild will set SolutionDir _if_ you are building a solution. If you're building an individual project, it will not, since there is no correct way it can find the solution. (What if your project is in more than one solution? What if the solution is in some random other place on disk?) Note that NuGet in package.config mode bakes in a SolutionDir to attempt to "fix" this, but that's obviously brok

[2016-02-08 21:32] yishaigalatzer commented on #1510
Yes, much more users and scenarios (and types of users), and hence much more concern.

Common project system

[2016-02-08 21:49] ShaneCourtrille commented on #491
I am seeing this on VS2015 using 3.3 with an SSD drive so I don't think it's slow HD related like @tom-englert thought..

[2016-02-08 21:53] dersteve commented on #2073
I use it in UWP projects that only support project.json approach and not package.config (right?) hence that is not an option. My projects are always just in one solution. I have multiple solutions but each has its own bunch of projects - none of them is included in more than one solution.

Does it mean I can't import a general props file via SoutionDir parameter in my UWP project at the moment?

[2016-02-08 21:55] dersteve commented on #2073
The relative path could be a solution for my case at the moment. Thanks for pointing me to that. It has the disadvantage though that I can't move projects around that easily. But that should be ok in my case.

[2016-02-08 23:14] yishaigalatzer commented on #2073
@dersteve thanks for clarifying. This is something we could further investigate but my assumption here is that if you msbuild the project directly solutiondir just doesn't work (which is how we run restore). So the relative path might be the right way to go.

I'm closing this as by design for now. We can keep the discussion going, and if we think this needs to be fixed we can considering doing tha

[2016-02-08 23:23] lifengl opened #2080 "EnvDTEProjectUtility.IsClr loads the entire project xml file without using it causes GC pressure in VS."
The IsClr code creates a VcxProject object, which loads the project xml.  However, the code doesn't use it today.  When we investigate some performance issues in reloading a large C++ solution, this code is executed multiple times for each project reloading, and contributes 40% of CLR allocations in some perf traces, and GC is very active in that scenario.  That code should be fixed, and does not

[2016-02-08 23:38] yishaigalatzer commented on #2080
@lifengl can help us with more info on the scenario you are referring to? And also what is the priority.

Please share version of visual studio, version of nuget, and a repro project/steps

[2016-02-08 23:44] emgarten commented on #2074
@xperiandri This looks like a DNU issue. Please try restoring using the latest NuGet.exe from the NuGet.Commandline package on https://myget.org/gallery/nugetbuild

[2016-02-08 23:45] yishaigalatzer commented on #2078
@theo-albers can you explain why setting NUGET_PACKAGES as part of the build script is a problem?

I think what you are hitting is actually a versioning problem of the nuget packages, if your packages where versioned independently, then things would just work.

Another alternative (which is how we build our own stuff is to blow away the cache if you flip branches around as part of your build). We

[2016-02-08 23:46] emgarten commented on #2059
NuGet/NuGet@f48718971aec219393268901a4d863f9b855c757

[2016-02-08 23:46] #2059 closed, assigned to emgarten

[2016-02-08 23:47] yishaigalatzer commented on #2078
Btw we think that moving the packages folder long term is not a bad idea, but it does require a change in the msbuild task that finds the common packages folder, it is pretty tricky to get it released safely, so we are not addressing it just yet.

I'd still like to understand if you are blocked on this and find a way to unblock you

[2016-02-08 23:47] #2048 closed, assigned to emgarten

[2016-02-08 23:50] yishaigalatzer commented on #2076
Yup, we completely agree, and it is already fixed :) Please grab the latest bits from myget - http://myget.org/gallery/nugetbuild by downloading the nuget.commandline package

[2016-02-08 23:50] #2076 closed, assigned to nobody

[2016-02-08 23:51] #2074 closed, assigned to nobody

[2016-02-09 00:48] yishaigalatzer commented on #2080
https://github.com/NuGet/NuGet.Client/blob/11e5ba35c1880f18099ce22f7ef0c2b2b65cab0b/src/NuGet.Clients/PackageManagement.VisualStudio/Utility/EnvDTEProjectUtility.cs#L1244

It is indeed not clear why we create the vcxproject item here and throw it away.

@deepakaravindr @emgarten can you please comment
@lifengl is there a better way to test for the project being a CLR type or not (for actually fixi

[2016-02-09 00:53] yishaigalatzer commented on #2034
I expect it will fail the restore (or at least warn), when I meant your team's code. Your team actually did the authentication flow, and retry makes sense to ask for different creds and a user should be able to cancel, and fail the restore.

[2016-02-09 00:53] yishaigalatzer commented on #2034
Assigning to Joel who already works on restructuring the retry pattern

[2016-02-09 01:01] yishaigalatzer commented on #2034
@zjrunner re-read the original comment, install should fail if a source is missing, because it might get a different set of packages and we care about consistency more than anything, it is pretty much impossible to track down failed installs like that.

Restore from packages.config should not fail if all entries are found, but restore from project.json could fail if exact references are not found

[2016-02-09 01:06] yishaigalatzer commented on #2071
So what is happening is that one of the framework  dependencies

[code]

is depending on resource manager of a newer version, because it ships the specific implementation for the platform. The restore as it is today, acts as a binding redirect and lifts it up.

We think this shouldn't be the case and instead we should warn you that you forced a downgrade, you will need to update your top level dep

[2016-02-09 01:11] lifengl commented on #2080
@yishaigalatzer We saw it in VS 2015 Update 1, with Package Manager Console Host Version 3.3.0.167.  It is a large solution from a customer with lots of C++ projects.  It is one of performance issues in the scenario.

[2016-02-09 01:27] yishaigalatzer commented on #1510
Moved to discussion milestone, until we (fully) decide where the fix should go.

[2016-02-09 04:14] #2073 closed, assigned to emgarten

[2016-02-09 04:40] yishaigalatzer commented on #2063
So at the moment this is not something that NuGet has anything to do with. It is a completely different codebase. even with 3.4 this is not the case, you will need to try the .NET cli where nuget integrates instead of DNU, unfortunately there is no stable build of that just yet.

[2016-02-09 04:53] yishaigalatzer commented on #1978
Merged https://github.com/NuGet/NuGet.Client/pull/225

[2016-02-09 04:53] #1978 closed, assigned to nobody

[2016-02-09 04:54] yishaigalatzer commented on #2079
Looks like this is not even going to work cross computers. Did this use to work in NuGet 2.X?

[2016-02-09 05:52] adamralph commented on #1521
When this feature is implemented, will it still require the solution level `packages.config` to be under a `.nuget` folder or will it be able to operate on a `packages.config` located next to the solution file?

The reason I ask is that David Fowler's [.NET project structure gist](https://gist.github.com/davidfowl/ed7564297c61fe9ab814) suggests that the `.nuget` folder has been deprecated since it

[2016-02-09 06:11] adamralph commented on #1521
@damianh

NuGet.exe, by default, only looks for `packages.config` in the `.nuget` folder and not next to the solution. I can force it to look at `packages.config` next to the solution by running `nuget restore .\packages.config` but this will restore packages from that `packages.config` only and not from the various `packages.config`s contained in the projects in the solution, so I'd have to do a

[2016-02-09 06:20] wkostn commented on #491
I am also facing the same issue still with VS2015, its going fine when all files are checked out before the update is applied. I guess we just have to live with this behavior haha.

[2016-02-09 06:24] yishaigalatzer commented on #491
What version of nuget are you using? This was supposed to be fixed in 3.3, but if not I'd love a good repro

[2016-02-09 07:46] dersteve commented on #2073
The real question is:
1.) Since it fails and gives me an error in the TFBuild log, I don't know if the restore actually works.
2.) Shouldn't it just give a warning and no error or state more it clear that it's not a problem?

So I'm not so sure about just closing it.

[2016-02-09 07:52] theo-albers commented on #2078
Hi Yishai, of course it all starts with a versioning problem. On the other hand: if versioning would be zero hassle, we would have implemented it. Let me explain our workspace:
- at some point we started sharing code via NuGet packages (in 2015 with DNX in mind)
- we moved from TFVC to VSO with Git, so our repo is not split into smaller repo's
- the easiest way to work with NuGet in traditional cs

[2016-02-09 08:13] sandersaares commented on #2005
Issue has not reoccurred - I assume it is fixed. Will speak up again if I notice it reappear.

[2016-02-09 08:13] #2005 closed, assigned to maartenba

[2016-02-09 08:43] forki commented on #2071
thanks @yishaigalatzer I now found the conflicting requirement. I only looked into project.lock.json before and I didn't found it there.

[2016-02-09 09:10] maartenba commented on #2005
We pushed this version (well, actually `2.10.0-master-0004`) to NuGet.org. Thanks for your feedback!

[2016-02-09 11:44] 3F commented on #1521
@adamralph

for project that referenced above on this issue, I was forced to use for this case ~
- if from cmd: `gnt.core /p:ngconfig="slnlevel-config|project1-config|project2-config"`
- if inside IDE: `#[NuGet gnt.raw("/p:ngconfig=\"slnlevel-config\"")]`

so if you also have similar problem and if you don't care about new dependencies you can also try to resolve this temporarily, like above

unti

[2016-02-09 12:11] kjbartel opened #2081 "`System` not found after installing MathNet.Numerics package when using project.json"
Using a C# class library (csproj) with project.json, after installing the MathNet.Numerics nuget package the reference to `System` becomes marked with a yellow triangle and fails to build. Specifically I am getting errors with `System.ComponentModel` and `INotifyPropertyChanged`:

My project.json file is as follows:

[code]

I also tried with only `win` and only `win-anycpu` and tried changing the

[2016-02-09 12:44] forki opened #2082 "Allow to specify runtime dependencies in project.json"
Is it possible to specify runtime dependencies in project.json?

https://github.com/NuGet/Home/issues/2071 shows that it would be useful to give users a way to override resolver decisions when needed.
Also in some cases we need to add additional runtime dependencies that are not expressed in compile time dependencies.

[2016-02-09 12:55] maartenba opened #2083 "nuget pack -IncludeReferencedProjects partly ignores .nuspec of referenced projects"
_From @tklingert on February 9, 2016 12:4_

Hi,
it seems like nuget ignores the nuspec-definition of referenced projects up on building the dependency list of a package
e.g.:

_Copied from original issue: NuGet/NuGetGallery#2879_

[2016-02-09 13:23] xperiandri commented on #2074
Thanks, it works.
Is it possible to use it from Visual Studio?

[2016-02-09 13:37] yishaigalatzer commented on #2078
I see where youbare coming from, this is a very common requirement and we are using a very similar approach.

Our strategy for this is using a common folder per user, and a local folder with packages generated as an intermediate step. We don't use msbuild to orchestrate, instead we have a powershell script that orchestrate the multiple solutions (you can choose your own of course).

The packages g

[2016-02-09 13:38] clairernovotny opened #2084 "Package Compatibility Filtering (for update)"
The current behavior of NuGet is that it always returns the full list of newer package versions when showing potential upgrades. This is true for the UI and also for running `Upgrade-Package` from the console.

The problem is that many packages will drop support for older platforms and NuGet will show them as upgrades. This confuses users and has lead to complaints. Further, if users change the de

[2016-02-09 13:40] yishaigalatzer commented on #2074
It will become the standard in the next release

[2016-02-09 13:58] patriksvensson opened #2085 "Packing fails if base path directory starts with dot."
If I try to pack a nuspec where the provided `BasePath` directory begins with a dot, I will get an error saying:

[code]

Here is how I pack my nuspec (indented for brevity).

[code]

**Edit:** This is on a machine running Windows 10.

[2016-02-09 14:02] theo-albers commented on #2078
I just upgraded the build machines to VS2015 Update 1. That way I can try again.
About the environment variable: it's not just the build machine, it's more the developer machines. If we set the environment variable globally, the problem will be the same as not setting the variable: switching branches, like between release branches and master, we would all point to the same packages. I will investi

[2016-02-09 14:12] clairernovotny commented on #2084
One example of a thread showing the confusion: https://github.com/Humanizr/Humanizer/issues/520. I'm sure there'll be others as these packages become more widely used.

[2016-02-09 15:18] yufeih commented on #1320
Hi,

What is the status of this feature? Is there a timeline of when will this be released? Having to publish a new package to update csproj is real pain at the moment.

[2016-02-09 17:11] clairernovotny commented on #2084
Seems like this may become less of an issue with the latest CoreFX packages: https://github.com/dotnet/corefx/issues/5955

Still applies to other packages but possibly less of an issue.

[2016-02-09 17:50] dazinator opened #2086 "Simple code sample showing how to install a package from a local folder feed"
I have been using NuGet.Core (version 2) in my application, to install packages from a local feed.

I would like to upgrade to NuGet 3, and I am just looking for some basic sample that shows how to do that in NuGet v3.

I have no idea which NuGet packages I need to reference, or even whether these is still a `PackageManager` class..

[2016-02-09 18:09] dougbu commented on #2070
@zhili1208 a more minimal repro uses the following files:

###### `C:\dd\Projects\Nuget.test\NuGet.Config`

[code]

###### `C:\Users\dougbu\AppData\Roaming\Nuget\NuGet.Config`

[code]

###### Using `dnu restore`, see the expected feed / source is used:

[code]

###### Using `dotnet restore`, instead see the `AspNetVNext` feed / source is also enabled.

[code]

(Behaviour is the same without

[code

[2016-02-09 19:14] #1814 closed, assigned to jasonmalinowski

[2016-02-09 19:24] #2009 closed, assigned to jasonmalinowski

[2016-02-09 19:39] joelverhagen commented on #2069
Fixed with https://github.com/NuGet/NuGet.Client/pull/263. Spoke with @dougbu offline about this.
- Fixed the help text.
- Left `Installing {package ID} {version}...` in minimal log (parity with `dnu restore --quiet`)
- Moved `Committing...` message to Information level.

[2016-02-09 19:40] #2069 closed, assigned to joelverhagen

[2016-02-09 19:49] dagood commented on #2056
To recap an offline discussion, this is probably low priority because there are some alternatives:
1. Don't use `--source`/`-s`, and use a custom NuGet.Config with `--configfile` which should ignore the environment.
2. Use `<clear />` tags. (Not useful for my scenario, but an option for the issue.)
3. Pass username and password on the command line. (Might not be implemented in xplat nuget.)
4. Use

[2016-02-09 20:08] dagood commented on #2056
Update after building latest dev:

1: The `--configfile` parameter does not ignore the environment, only adding to it. Specifically, the NuGet.Config files in the ancestor directories of the restored project.json are used. This results in unwanted sources being included, and if any of those NuGet.Config files have `<clear />` the contents of the `--configfile` are entirely void. (This is true in m

[2016-02-09 20:16] yishaigalatzer commented on #2056
Can you open a separate bug for that nuget.config and --configfile issue

[2016-02-09 20:22] emgarten commented on #1961
NuGet/NuGet.Client@1912ec21478c284034c60f2816d9af3ed4bf4a48

[2016-02-09 20:22] #1961 closed, assigned to emgarten

[2016-02-09 20:24] emgarten commented on #1320
@yufeih this will go into Visual Studio 2015 Update 2 / NuGet 3.4.0

[2016-02-09 20:25] emgarten commented on #2058
NuGet/NuGet.Client@945daf93b181f24878eb5f3a5205c741c6722651

[2016-02-09 20:25] #2058 closed, assigned to emgarten

[2016-02-09 20:26] dagood opened #2087 "Xplat nuget restore --configfile is affected by NuGet.Config files in ancestor directories"
Sources found in a NuGet.Config specified with the `--configfile` argument can be affected by NuGet.Config files in ancestor dirs of the restored root.

For example:

If a NuGet.Config pointed to with `--configfile` specifies source A, and a NuGet.Config sitting in the path of `project.json` defines source B, both A and B are used to restore.

If the `--configfile` NuGet.Config specifies source A,

[2016-02-09 20:26] dagood commented on #2056
Sure, opened https://github.com/NuGet/Home/issues/2087.

[2016-02-09 20:54] dagood commented on #2087
I think the current behavior of `--configfile` is that it acts as a replacement for the `%AppData%\NuGet\NuGet.Config` (or equivalent per-platform). Maybe I misinterpreted what @yishaigalatzer was saying about `--configfile`--the current behavior could make sense as the intent of the design.

The expected behavior I described would be more useful for my scenario though. :smile:

[2016-02-09 20:56] yishaigalatzer commented on #2087
I expect it to replace all of the nuget.configs and serve as is

[2016-02-09 22:49] emgarten opened #2088 "Determine a shared v2 and v3 MachineCache location"
NuGet v2 and v3 downloads should be stored in the same machine cache.
- Where should these be placed?
- Is hash checking needed?
- Should feed information be stored as part of this?

Today NuGet.Core.dll uses local app data to store nupkgs while v3 uses the global folder.

[2016-02-09 22:58] #2053 closed, assigned to zhili1208

[2016-02-09 23:49] yishaigalatzer commented on #2085
This looks like an accidental application of skip folders starting with . as content of the package (which is by design).

Moving to vNext where we can look more deeply in it, but at the moment I would workaround it by not using a folder starting with .

[2016-02-09 23:50] yishaigalatzer commented on #2084
This is known, and already tracked. The answer in short is that we can't actually know that the new packages are not compatible based on the available metadata, so we actually have to add more smarts to the server (which we can't do to all servers) to understand the compatibility rules

[2016-02-09 23:53] yishaigalatzer commented on #2083
Yes, this is by design. There is no strong link between the nuspec and the csproj, it is just a file that could really be anywhere.

When we implement pack for project.json scenarios, the project.json scenarios are really both the dependencies and the nuspec (we are not even sure we will support nuspec packing in that mode), and then we have a strong model to depend on.

[2016-02-09 23:53] #2083 closed, assigned to nobody

[2016-02-09 23:55] yishaigalatzer commented on #2082
@ericstj can you help track the bug that is the duplicate of this issue?

[2016-02-09 23:59] yishaigalatzer commented on #2081
CC @ericstj @emgarten @jasonmalinowski

[2016-02-10 00:18] jasonmalinowski commented on #2081
This is a duplicate of #1880 which we checked the fix in a few days for. The fix should make the final release of Update 2.

[2016-02-10 00:18] #2081 closed, assigned to nobody

[2016-02-10 00:39] johnataylor opened #2089 "UI make unnecessary second HTTP call for top result in Installed tab"
Repro steps in "NuGet Package Manager" UI:
1) create project with a single package
2) click to Browse tab
3) open and clear fiddler
4) click to Installed tab
5) observe two identical HTTP calls made for same data

what is basically happening here is that the client is making an HTTP call for every result (left hand pane) and then a final one for the "top" result (right hand pane)

[2016-02-10 01:37] yishaigalatzer commented on #2089
Lets optimize the hang this scenario creates (like we discussed, it is not exactly what is described here)

[2016-02-10 02:01] deepakaravindr opened #2090 "Investigate the usage of Managed C++ projects"
Investigate the usage of Managed C++ projects. Currently, they are treated the same as native C++ projects. See https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/PackageManagement.VisualStudio/ProjectSystems/MSBuildNuGetProjectSystemFactory.cs#L53Need to understand if they should be treated differently.

The following piece of code will be useful when fixing the issue and the IsNati

[2016-02-10 02:03] yishaigalatzer commented on #2086
A good way to start is to go through the nuget.commandline, and see how things are getting done in the new world.

Specifically here is the code for the install command:
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/Commands/InstallCommand.cs#L70

A word of caution: The NuGet 3 code just calls into nuget.core at this point, so there is not much point in migrati

[2016-02-10 02:03] #2086 closed, assigned to nobody

[2016-02-10 02:04] yishaigalatzer commented on #2088
Lets put it all in the global packages folder for now. Long term we want a new cache structure all up.

[2016-02-10 02:33] nigel-sampson commented on #1102
Just an FYI for anyone else who runs into this gotcha.
- For `packages.config` the supported pattern was `packages.{project-name}.config`.
- For `project.json` the supported pattern is `{project-name}.project.json`.

[2016-02-10 02:38] csharpfritz commented on #1102
I'll get an entry into the docs to make this feature clear

[2016-02-10 03:03] #2080 closed, assigned to deepakaravindr

[2016-02-10 04:57] #2077 closed, assigned to nobody

[2016-02-10 07:15] ghost opened #2091 "'packages' not declared when packages.config is open"
When my packages.config is open I get the warning "The 'packages' element is not declared."; the warning disappears when I close the file.

I assume this is not intended behavior, and I'd like the warning gone without having to do ugly workarounds. I might be able to make a PR to fix this myself if someone could point me in the right direction.

[2016-02-10 08:39] niklaslundberg opened #2092 "NuGet.Server should not reset files on update"
When installing an updated version of the NuGet.Server package, it replaces most of web.config and adds default files not needed. A suggestion is to separate the package into multiple where the core parts can be installed without all configuration updates and sample files. This can be reproduced when upgrading from NuGet.Server 2.10.0-master-0002 to NuGet.Server 2.10.0-master-0004. Elmah has solve

[2016-02-10 09:13] maartenba commented on #2092
This issue was moved to NuGet/NuGetGallery#2881

[2016-02-10 09:13] #2092 closed, assigned to maartenba

[2016-02-10 09:55] defaultbob commented on #1416
+1

[2016-02-10 11:05] NicoJuicy opened #2093 "Nuget Client > 3.0 required for PCL libaries on Visual Studio 2013"
When i want to install the Nuget library for TypeExtensions ( https://www.nuget.org/packages/System.Reflection.TypeExtensions/ ) i need Nuget 3.0

I'm currently in the scenario of updating a DLL library to a PCL library, but i need some "currently unsupported" methods.

Because of the outdated version of the Nuget Client on https://visualstudiogallery.msdn.microsoft.com/4ec1526c-4a8c-4a84-b702-b21

[2016-02-10 11:06] theo-albers commented on #2078
In your description there is a lot of build customization. I think a lot of developers would appreciate backwards compatibility when supporting repositoryPath in .nuget.config. Breaking the behaviour with a global package folder makes life more difficult when using multiple workspaces locally in my opinion. There is no clear benefit other than reduced disk space + network IO. It would be nice to o

[2016-02-10 11:45] dazinator commented on #2086
Thank you!

[2016-02-10 12:41] raulramaya commented on #2008
Thanks - I am unfortunately in that class of folks who can't move to 3.x just yet.   Otherwise it looks like the project.json would solve the issue.

[2016-02-10 14:00] steveshsieh opened #2094 "The source at nuget.org is unreachable"
I issued the following command Install-Package Ninject -version 3.0.1.10 -projectname SportsStore.WebUI
 and I get
The source at nuget.org [https://www.nuget.org/api/v2/] is unreachable.
I typed the URL https://www.nuget.org/api/v2/Packages/ and I see a list.

Can you help?

[2016-02-10 14:12] steveshsieh commented on #2094
It was a bad error message. I used get-package -listavailable -filter Ninject and able to specify the name correctly.

[2016-02-10 14:12] #2094 closed, assigned to nobody

[2016-02-10 16:16] yishaigalatzer commented on #2078
Repeating what I said above:

Nuget does read it, the project systems don't yet do it.
The disk space is a huge thing, it makes the process to restore a lot faster, hence that is the default. You can always opt out and once project systems pickup reading the settings, things will be resolved for folks like you that want a folder relative to the solution.

[2016-02-10 17:56] johnataylor commented on #2089
Perhaps the bigger issue is that it actually makes network calls at all when you move between tabs.

For example, if you have the packages locally there is no need to gather the metadata just to show the list. Certainly you need to make calls to gather the details of all the versions - but that could wait.

[2016-02-10 19:17] ryanbrandenburg opened #2095 "Unhelpful error message for bad nuget config"
If you have a package source which doesn't exist the error message you get is `error: Unexpected character encountered while parsing value: <. Path '', line 2, position 1.`. This is misleading about where you should be looking for your mistake, implying that it's a formatting problem rather than a data problem.

[2016-02-10 19:26] csharpfritz commented on #2095
Can you give us some additional details about where you saw this error message?  Which client (exe, Visual Studio) and which version were you using?

[2016-02-10 19:40] yishaigalatzer commented on #2095
Thanks for reporting it, we encountered it in the past and this was already fixed in 3.4. You will get the same error message, prefixed with what nuget.config file the problem is in.

[2016-02-10 19:40] #2095 closed, assigned to nobody

[2016-02-10 19:42] yishaigalatzer commented on #2093
We are not planning to update NuGet 3.0 on Visual Studio 2013 and below. The work to do that is much larger than it would seem and the support cost is not something we can take.

The packages themselves however do not have to declare the limitation and require nuget 3.0, they can work fine on 2.8 if the owner chose to do so.

We do plan to ship at some point 2.11, that will understand the new .NET

[2016-02-10 19:42] #2093 closed, assigned to nobody

[2016-02-10 19:52] yishaigalatzer commented on #2091
This is an XML editor issue, because it cannot find the schema. This issue is tracked in - https://github.com/NuGet/Home/issues/1836.

We would have no problem publishing the schema, this is currently low on our list, but if you wanted  to take a crack at creating one, we could take a look.

Closing this issue as it is a duplicate. We can continue the discussion there. https://github.com/NuGet/Hom

[2016-02-10 19:59] yishaigalatzer commented on #1836
Similarly I would like to see a schema for nuget.config

Things we need to do:
1. Figure out if we can ship the schema inside the nuget vsix (as we are moving away from msi going forward)
2. Generate the schema files and test them.

[2016-02-10 20:04] yishaigalatzer commented on #2066
We should also include the .NET Core scenarios, when we get a new API from Bill Heibert that lets us call through to their restore

[2016-02-10 20:05] csharpfritz commented on #1836
A schema for *.nuspec would be a good idea as well - @xavierdecoster has a package with an older XSD for NuSpec at: https://www.nuget.org/packages/NuGet.Manifest.Schema -- perhaps we can build off of this and install the content as part of the VSIX

[2016-02-10 21:26] joelverhagen opened #2096 "Port reserver does not work on Linux and Mac"
The current port reserver implementation depends on:
1. System-wide mutexes (which can be replaced with file-based locking à la `ConcurrencyUtilities`)
2. Listing ports in use via `IPGlobalProperties.GetIPGlobalProperties().GetActiveTcpListeners()`.

This fix will allow better integration testing on localhost.

Ideas:
- For the system-wide mutexes, just use the existing pattern of opening a file w

[2016-02-10 23:24] johnataylor opened #2097 "credential prompt is shown when you enter invalid URL for source"
This looks like a regression in 3.4.

For example, try the source:

http://http://lala/index.json

Ending in index.json causes us to recognize this as a v3 source and in this case the server registered at cname "http" actually returned some HTML. However the Visual Studio client appears to misinterpret this as an authentication challenge.

[2016-02-11 00:10] emgarten opened #2098 "Allow projects with floating versions to skip on build restore"
Today if a solution contains any project with a floating version in project.json a full restore will run. To speed up incremental builds and match the DNX behavior of only restoring when project.json is changed NuGet should allow versions to stay as they are even if they are floating.

Users can trigger a restore to resolve new floating versions by clicking the restore menu item, Clean, Rebuild, o

[2016-02-11 01:23] zhili1208 opened #2099 "NuGet.CommanLine.Xplat doesn't load machineWide setting"

[2016-02-11 08:01] theo-albers commented on #2078
Thanks for explaining once again.
About disk usage: that's a real problem! It's the build process itself that is the biggest problem here. Our workspace:
- just a couple of MB of source code
- 13GB after debug build, due to copying DLL's around
- 415 MB of package cache (central repositoryPath across solutions)
  So the amount of files that are copied around during a build is enormous.

[2016-02-11 08:01] #2078 closed, assigned to nobody

[2016-02-11 12:40] breyed commented on #980
Related issue on MS connect: [NuGet adds packages to TFS despite .tfignore (1640242)](https://connect.microsoft.com/VisualStudio/feedback/details/1640242)

[2016-02-11 15:01] dazinator opened #2100 "Package not extracted, but packages.config file updated."
Hello,

I am using the client tools (NuGet v3) within my web application, to install NuGet packages at runtime as a way of managing plugins for my application.

After calling `NuGetPackageManager.InstallPackageAsync` - it completes successfully, and it updates my `packages.xml` file, but the NuGet package is nowhere to be found.. It's like it doesn't get extracted.

I am wondering if it's because

[2016-02-11 15:20] GeertvanHorrik opened #2101 "ProgressAvailable not being raised"
We have written our own UI around NuGet to use it as an extension manager for our apps. So far, this all works great, but now we wanted to add download progress updates (in case of slow internet / larger packages). We use this code (it's ugly, but it's because NuGet doesn't expose any of this). We have overridden the _NuGet.PackageManager_ and subscribe to the right events.

[code]

We are able to

[2016-02-11 16:19] dazinator commented on #2100
It seems that `PackagesConfigNuGetProject` doesn;t have any logic in it to actually extract the the NuGet package to disk.

I managed to work around this for now by creating my own `INuGetProject`, and using the code from `FolderNuGetProject` which does have logic in it to exctract the NuGet package.

[2016-02-11 18:11] dagood opened #2102 "Xplat restore race condition/error when dependencies are the same with different casing"
When doing a recursive restore on projects that contain the same package with multiple casings, restore tries to install them at the same time, causing errors like:

[code]

To repro, do a recursive restore on a directory with:
- `a\project.json` with dependency `"Microsoft.TargetingPack.NETFramework.v4.5": "1.0.1"`
- `b\project.json` with dependency `"Microsoft.TargetingPack.NetFramework.v4.5": "

[2016-02-11 19:06] dazinator opened #2103 "Misleading error message for failed dependency"
I have:

`Package A` Depends On `Package B`
`Package A` Depends On `Package C`
`Package B` Depends On `Package C`

`Package C` is `Microsoft.AspNet.Mvc`

I am using an Aggregate repository, where Package A and B is on a local folder feed, and Package C is already installed into the target project (packages.config).

When I attempt to install `Package A` with the NuGetPackageManager I get this exce

[2016-02-11 19:44] ericstj commented on #2102
Seems to me like the right fix here would be to first have nuget normalize the path with the _actual_ casing it has determined for the package ID from the server.

[2016-02-11 21:00] emgarten commented on #2103
NuGetPackageManager (NuGet.PackageManagement.dll) does not support Aggregate repositories (nuget.core.dll)

Are you able to repro this using NuGet through visual studio, or this is with your own API calls?

[2016-02-11 22:12] joelverhagen commented on #2034
I tinkered with the current implementation on dev (https://github.com/NuGet/NuGet.Client/commit/4a602cf01f017a1f40fdc32fb13efda1aed7388b).

First off, credentials are only prompted for a maxmum of 3 times when the server returns `401 Unauthorized`. The user can still cancel out of these prompts (@zjrunner mentioned this). In short, our authN prompting flow seems correct. We do not, however, handle

[2016-02-11 22:27] yishaigalatzer commented on #2034
403 - retry but have a good message to the user, just a prompt will be confusing.

Restore for project.json should still fail unless it found exact matches. That's an edge case but can still lead to inconsistent results. The flag sound right to me

[2016-02-11 22:56] #2098 closed, assigned to emgarten

[2016-02-11 23:04] BrennanConroy opened #2104 "Restore with project references doesn't do framework checks"
Example:
Project1 -> project.json:

[code]

Project2 -> project.json:

[code]

Notice how Project1 builds only for `dnxcore50` and Project2 builds only for `dnx451`
Restore will succeed without any failures, but build will fail because it can't find the Project1 dependency on `dnx451`

[2016-02-12 00:21] emgarten opened #2105 "Remove dev14 only references from the VSIX"
The Dev15 vsix contains references to Dev14 only assemblies and fails to load on Dev15.

Example:
"Microsoft.VisualStudio.Services.Client": "14.83.2"

[2016-02-12 00:27] emgarten commented on #2105
This dependency appears to have been added as part of the VSO credential provider.

[2016-02-12 01:57] brthor opened #2106 "NuGet xplat does not give error with unresolved project reference."
Ran into this issue using the dotnet cli on Windows 10.

This is using NuGet xplat version 583.

`dotnet new`

Change Project.json

[code]

Run `dotnet restore`
Output:

[code]

And the errorlevel appears to be Zero

[code]

[2016-02-12 13:09] csharpfritz commented on #1836
I'm putting together 2 schemas - packages.config and updating the nuspec schema from the NuGet.Manifest.Schema package.

[2016-02-12 17:58] joelverhagen commented on #2097
I did a fiddler on this and it seems this is due to the fact that Redmond corpnet has an HTTP server listening to `http://http:80`. It turns out that this website returns `301 Moved Permanently` to another Redmond domain name, which throws up an NTLM auth challenge.

[2016-02-12 19:02] alpaix opened #2107 "Powershell reference is not complete"
[Package Manager Console Powershell Reference](https://docs.nuget.org/consume/package-manager-console-powershell-reference) should include among others:
- Command and argument aliases where applicable;
- Position;
- Default value;
- Whether cmdlet accepts pipeline input.

For reference, see typical documentation page here https://technet.microsoft.com/en-us/library/hh849901.aspx.

[2016-02-12 19:52] victorhurdugaci opened #2108 "NuGet silently ignores invalid config file"
Try to restore with this and you'll see that there's no error:

[code]

The invalid char is the `;` after `value="https://api.nuget.org/v3/index.json"`

[2016-02-12 21:58] dazinator commented on #2103
Its with my own API calls but it was based upon your own code that used an aggregate repository. I know you guys are splitting stuff out at present but it seems nuget.core (v2) is still leveraged in some places or perhaps i am confused. In any case I am using v3 right now with an aggregate repo and all seems to be working ok except the misleading error message. Happy to close this if its premature

[2016-02-13 00:14] emgarten commented on #2103
nuget.core (v2) will be going away soon

[2016-02-13 00:18] joelverhagen commented on #1949
Closed with https://github.com/NuGet/NuGet.Client/pull/277.

[2016-02-13 00:18] #1949 closed, assigned to joelverhagen

[2016-02-13 00:43] gregjhogan commented on #1689
When I have project.json and MyProject.nuspec, I expected the dependencies to be picked up out of the project.json file.  That does not seem to be the case.

I am running
`nuget pack MyProject.csproj -Properties Configuration=release -IncludeReferencedProjects`

Example with no `<dependencies></dependencies>` specified

[code]

Before I had a project.json this magically picked up all my nuget pack

[2016-02-13 01:15] TheRealPiotrP opened #2109 "NuGet XPlat output should identify concurrent streams"
Consider the following [invented] output:

log: restoring dependencies for foo/project.json
log: restoring dependencies for bar/project.json
warn : Detected package downgrade:...

which project was affected? This would be much easier to diagnose if each parallel restore operation were assigned an ID that was persisted. Let's say that that ID is an int, then the output could look like this:

log(1)

[2016-02-13 01:28] emgarten commented on #1689
@gregjhogan project.json is not being used at all by pack today. Project.json can contain all of the same metadata as the nuspec file so there may not be a nuspec + project.json pack scenario in the future.

[2016-02-14 05:19] davidfowl opened #2110 "Group errors and warnings by graph in the output"
[code]

I'm downgrading System.Runtime to 4.0.20. The compilation graph is downgraded by the runtime graph has been lifted by `runtime.json`. Check the output:

[code]

@yishaigalatzer wanted to apply the same rules to apply to the runtime graph but I don't know what side effects there are if we start doing that (like completely breaking everything :smile:)

/cc @ericstj

[2016-02-14 05:28] yishaigalatzer commented on #2110
The output doesn't tell you what ever in the graph (and the path to it) made that violation. I'd like to see that somewhere otherwise debugging sucks.

We also wanted top level to always win (I assume this is what you refer to)

[2016-02-14 05:32] davidfowl commented on #2110
Yes! That's what this bug is about, so we agree here.

That's what we spoke about on the other thread but it would actually break `runtime.json` completely for the BCL packages. I don't want to pollute this bug though so we should focus on the output formatting.

[2016-02-14 16:02] scottdorman commented on #2063
@yishaigalatzer I disagree. I think this does have to do with NuGet and it's support for package resolution in xproj/project.json.

To add some additional context, this appears to be a broader issue and isn't just an issue with the PCLCrypto package as I have noticed that there are some other packages (JSON.NET comes to mind) that also exhibit this same behavior. As such, I did a little bit more t

[2016-02-14 16:13] johnataylor opened #2111 "Inconsistent Behavior in Packages View in Package Manager UI"
The search term stays constant across different tab views ("Browse" "Installed" "Updates") in the Package Manager UI and the search term is applied to filter each view. However, it is not applied consistently and this leads to an odd user experience. For example: if you search for "owin system web" in the Browse tab you will find a bunch of reasonably matching packages. Now switch the tab to "Inst

[2016-02-14 20:34] yishaigalatzer commented on #2063
1. You are mixing two project types and it is really hard to understand the exact scenario. If your project is xproj + project.json you are not using nuget, but dnu. If your project is using csproj + project.json you are indeed using nuget. Which one is it?
2. In general portable tfms are not automatically applicable, and you can use an imports (for csproj + project.json) statement to override the

[2016-02-14 21:44] forderud opened #2112 "Duplicate project ASSERT when building NuGet.Clients.sln"
Steps to reproduce:
- Clone NuGet.Client & switch to latest commit on "dev" branch (f585e42e357158ac8d7f2478223355e32d15fa09 as of 2016-02-13).
- Open NuGet.Clients.sln in VS2015 community, Update 1.
- Build solution from IDE.

![image](https://cloud.githubusercontent.com/assets/2671400/13036606/0fbf3976-d36c-11e5-9166-afae576dafbf.png)

Building with the `build.ps1` script succeeds, so the proble

[2016-02-14 22:46] scottdorman commented on #2063
Sorry for the confusion. I was using the csproj as an example of the fact that the NuGet packages install properly in that context. I'm actually using xproj + project.json.

I'm not sure if that will work in my case or not as I haven't tried it yet. It sounds like imports are only applicable for csproj + project.json, in which case this wouldn't work for me.

Yes, merging everything together in to

[2016-02-14 22:54] yishaigalatzer commented on #2063
Thanks for the clarification. We will try this out in the new codebase and see how this works in this scenario

[2016-02-14 22:58] scottdorman commented on #2063
No problem. Sorry I wasn't being clear from the start. I also pushed up all of the changes I've been working on to my code to support xproj/project.json to https://github.com/scottdorman/cadru/tree/netcore, so feel free to fork and use that as test cases as well. There are a two projects that have a readme.md file in them that provides some notes about the issues I'm running in to or what I'm tryi

[2016-02-15 09:09] kjbartel commented on #2078
@yishaigalatzer From this am I to understand that having a "packages" folder relative to the solution will be supported in the future? I asked a [question on SO](http://stackoverflow.com/q/35307155/1730559) about this but the response was that it's not (going to be) supported with NuGet 3+ using project.json.

It should be noted that VSO build vNext [searches for a "packages" folder for nuget base

[2016-02-15 11:26] StefanoGermani commented on #1894
Sorry for the late reply. This is the Artifactory ticket tracking the issue:

https://www.jfrog.com/jira/browse/RTFACT-9287

[2016-02-15 21:21] bchavez opened #2113 "Badges API"
Currently using GitHub badges for my projects: https://github.com/bchavez/RethinkDb.Driver

The service I'm using to render badges is http://shields.io/. The problem is shields.io constantly offline or inaccessible. I've had so many problems getting NuGet metadata for the project.

![screen603](https://cloud.githubusercontent.com/assets/478118/13060478/a5020502-d3e6-11e5-90a8-c944d208ae10.png)

Wo

[2016-02-15 21:25] glen35 commented on #2113
Thank you.

[2016-02-15 22:16] davidfowl opened #2114 "Remove RID inference"
It's causing a bunch of problems:
- When you need to actually specify a RID, there's a usability cliff you fall off. You have to know what the inferred RIDs were in the first place.
- Class libraries that target concrete TFMs need `Microsoft.NETCore.Platforms` because they look like applications.
- Since we skip compile time only TFMs, we're skipping RID restore if they are specified (this is just

[2016-02-16 02:24] davidfowl opened #2115 "Put the project and dependencies in the lock file"
This will make it so that consumers don't always need to read both the `project.json` file and the `project.lock.json` file. We just need add an entry for the project so that framework assemblies and dependencies show up in the lock file.

/cc @emgarten

[2016-02-16 02:42] emgarten commented on #2115
Would this be in the targets graphs or in a new section of the lock file?

[2016-02-16 02:46] glen35 commented on #2115
Is that right

[2016-02-16 02:51] glen35 opened #2116 "SPAM hyperlink removed"

[2016-02-16 03:08] csharpfritz commented on #2116
spam

[2016-02-16 03:08] #2116 closed, assigned to nobody

[2016-02-16 03:18] emgarten commented on #2112
@forderud do you have a debug version of NuGet installed that you built yourself? The repro steps given are not enough to cause an assert like this.

[2016-02-16 04:12] glen35 commented on #2115
From 67c0afc1da354d8571f51b6f0af8f2794117fd10 Mon Sep 17 00:00:00 2001
From: The Octocat <octocat@nowhere.com>
Date: Sun, 27 Apr 2014 15:36:39 +0530
Subject: [PATCH] updated index for better welcome message

[2016-02-16 08:23] omtslug opened #2117 "nuget.exe, some problems with dependency handling etc"
Hi!
Evaluating nuget for component deployment and have some questions, see below.
I find many other tools very install-centric, tweaks are required to get custom destination folders and multiple instances.
Nuget just downloads things to current directory and no problem to do it in multiple places but the things I've noted
below is making my life complicated.. We just need xcopy/zip deploys but wit

[2016-02-16 09:15] bitbonk commented on #491
I got the same issue today, using  Visual Studio Enterprise 2015 Version 14.0.24720.00 Update 1 with Nuget Package Manager 3.3.0

[2016-02-16 11:01] isobel-cullen opened #2118 "Dependency version resolution appears broken"
Attempting to upgrade an internal project `bwf-knockout-kendo` gives the following error:

`bwf-knockout-kendo` depends on three projects: `jQuery`, `KnockoutJS`, and an internal repacking of KendoUI (which has no dependencies, just content).

The project already has `jQuery 2.0.3`, `bootstrap 3.3.1`, `Sammy 0.7.4`, and `Bootstrap.Multiselect 0.9.13` installed.

The internal nuget source is an ins

[2016-02-16 11:16] maartenba commented on #2118
Can you define "within the last month"? (if this was within the last 7 days then please grab a new one from master)

[2016-02-16 11:24] isobel-cullen commented on #2118
Built from https://github.com/NuGet/NuGetGallery/commit/3f2b1429c669af1a2a6c6143e0a1e9dc86e675eb

[2016-02-16 11:26] maartenba commented on #2118
That should be good. Let's wait until someone can comment on the client bits.

[2016-02-16 11:56] kjbartel opened #2119 "Set NugetPackagesDirectory in generated <project>.nuget.props file"
When using `project.json` with a `csproj` project if you set the `NUGET_PACKAGES` environment variable then the Visual Studio NuGet tools will use that directory for installing / restoring packages. But there is an error in Microsoft.NuGet.targets when building a project  saying that it can't find the package. It appears that the `NugetPackagesDirectory` property isn't set. There is a `.nuget.prop

[2016-02-16 13:57] Alovchin91 opened #2120 "NuGet 3 dependency resolution model breaks the ability to use Debug builds"
We are using private NuGet server in our company for our internal SDKs and Core libraries. We need to deploy Debug versions of our libs to out private NuGet server as well.

When we've been using NuGet 2, we used a very simple trick: we put Debug versions into \build\ folder inside a NuGet package, and also used a simple .targets file that added a reference to these Debug libs into our projects. E

[2016-02-16 13:59] williambernardet commented on #2061
It works thanks.
But one comment about the granularity, in this case packageB will be completely discarded of the resolution, accross all dependencies. By experience maven for example allows to exclude a transitive dependencies from a dependency level.

[2016-02-16 16:47] forderud commented on #2112
You're of course right @emgarten. I had a locally built NuGet 3.4 "alpha version" plugin installed. Dowgrading to the official 3.3.0 release fixed my issue.

Thanks a lot for your assistance!

[2016-02-16 18:31] #2112 closed, assigned to nobody

[2016-02-16 18:51] drewgillies opened #2121 "Restore-on-build for Blend fails first time, succeeds second time (VS scenario fixed)"
Repro:
1. Create UWP project in Blend/VSWinExpress
2. Add a UWP Win2D NuGet package using the package manager
3. Close Blend/VSWinExpress
4. Go to %userprofile%.nuget\packages and delete Win2D.uwp
5. Open Blend/VSWinExpress and reload project
6. Build. No restore takes place and build fails.
7. Build again. Restore takes place and build succeeds.

 Also tracked in internal bug # 194090

[2016-02-16 18:53] santee commented on #1894
Thank you!

[2016-02-16 20:16] heatmonkey commented on #1448
I don't think this is fixed and I am not using vNext. I am on VS2015 with a private nuget feed hosted on a teamcity server behind a corporate firewall. All things nuget worked fine until I added the TeamCity feed. .

https://api.nuget.org/v3/index.json
Install-Package : Exception 'System.AggregateException' thrown when trying to add source 'https://api.nuget.org/v3/index.json'. Please verify all y

[2016-02-16 20:16] yishaigalatzer commented on #2113
Moved to gallery

[2016-02-16 20:16] #2113 closed, assigned to nobody

[2016-02-16 20:19] yishaigalatzer commented on #2120
You still should be able to use targets, the feature was not removed, what is exactly broken? CC @jasonmalinowski

Alternatively you can ship packages in debug and release feeds, you need to wipe the caches between builds if you want to get debug bits.

I'm keeping this open for now, so we can figure out if you are completely unblocked. We do want to discuss a top level debug support

CC @davidfow

[2016-02-16 20:22] joelverhagen commented on #826
Per a meeting offline with @abpiskunov, we have narrowed the requirements for his scenario to the following required APIs. The shape might change a bit, but this is the general idea:

[code]

[2016-02-16 20:23] yishaigalatzer commented on #2119
CC @jasonmalinowski @emgarten

For the VSO issue - I have already started a separate discussion with them to fix this, you shouldn't need to work based on the packages folder only. There are huge advantages to getting rid of the solution packages folder, so we should strive to improve the situation rather than roll it back. We will add more support for specifying a relative packages folder path at

[2016-02-16 20:25] yishaigalatzer commented on #2118
What version of nuget are you using? Is it in visual studio or nuget.exe?

This seems like something that should work, so if you are still seeing this on the latest (nuget 3.3), can you please share a small repro project?

[2016-02-16 20:32] yishaigalatzer commented on #2117
NuGet is not intended to be a mechanism for deployments, and features or bugs that are only affecting these scenarios will not be prioritized high. Having said that many folks are using it for such scenarios.

Given that this is a bug database and not a support forum, I suggest reposting on SO.

Here are some answers

Correct, install is a misnomer in this scenario, it basically just restores.

Co

[2016-02-16 20:32] #2117 closed, assigned to nobody

[2016-02-16 20:33] yishaigalatzer commented on #2117
Last - Discussion can keep going on. I'm closing because it is not an actual work item.

[2016-02-16 20:35] yishaigalatzer commented on #2114
@davidfowl can you provide more data. I thought we had this discussion when we decided to do RID inference, and we wanted the basic scenario to be simple, how is this going to be simple for anyone? Should rids be defined in project.json, in the command line parameters or both?

[2016-02-16 20:37] yishaigalatzer commented on #826
@joelverhagen please spell out what API is required for what scenario right in the issue above.

[2016-02-16 20:43] vtbassmatt opened #2122 "Re-thinking how symbols packages work"
Symbols packages have a couple of troubling issues:
- They have the same id and version as their associated "normal" package (even though the filename is different). This violates the "one id+version = one package" principle. In practice, users often try to upload both packages to the same source and are met with 409 Conflict errors they don't understand.
- They contain everything the "normal" pac

[2016-02-16 21:05] isobel-cullen commented on #2118
Latest visual studio nuget (VS2015 u1).

Will see if I can get a reproduction project tomorrow. Hopefully the issue doesn't just manifest when the dependant package is from a different source to one being upgraded.

[2016-02-16 21:16] emgarten commented on #2121
What version of NuGet and Visual Studio is this using?

[2016-02-16 21:53] drewgillies commented on #2121
This is VS 2015 Update 1 and NuGet version 167 (RTM).

[2016-02-16 22:15] alpaix commented on #543
Attaching new UX design proposal.

[search-all-rev1.pdf](https://github.com/NuGet/Home/files/133352/search-all-rev1.pdf)

[2016-02-16 23:26] johnataylor opened #2123 "Visual Studio Options Dialog scrolls and checks the wrong source when you check"
In the Visual Studio Options dialog for NuGet Settings.

If you check a source at the bottom of the viewable of the scroll-box of available sources then the window automatically scrolls and selects the next source in the list rather than the one you were clicking on.

This only occurs if you are selecting the source at the bottom of the scrolling pane.

[2016-02-16 23:27] johnataylor opened #2124 "VS Package Manager Dialog hides details of packages when installed and only 1 version published"
Visual Studio Package Manager Dialog doesn't always appear to show the details of packages when using v3.

This appears to be a regression possibly coupled to the source fallback logic checked in on Friday.

[2016-02-16 23:34] yishaigalatzer commented on #2122
Comments on options

This is because the server doesn't get the file name, so it must be part of the package itself

This could be a combination of the two, so push only looks for *.nupkg, but not *.nusym

This will not break debugging tools because they do not consume the package as is, instead they deconstruct the packages into a completely different database with guid->pdb mapping and source ma

[2016-02-16 23:46] joelverhagen opened #2125 "Add flag to ignore unavailable sources"
Per https://github.com/NuGet/Home/issues/2034, we can add a flag to ignore unavailable sources during install or restore. Current functionality should remain the default.

[2016-02-16 23:50] emgarten commented on #2125
Related to https://github.com/NuGet/Home/issues/1916

[2016-02-17 00:01] johnataylor opened #2126 "Visual Studio Package Manager Dialog Bad Clipping in UI in Right Hand Pane"
In the Visual Studio Package Manager Dialog, select the Browse tab, move the central vertical splitter to the right to reduce the size of the right hand side "details view" pane. Now the Installed and Version drop down boxes are badly clipped to their right hand side.

[2016-02-17 00:30] kjbartel commented on #2119
There are also advantages in having packages committed to source control. One of the main reasons I initially added them was because of the time it took to download and restore on the build server. Whether the packages are restored to a global cache or to the solution's packages directory won't make any bit of difference for this as  new build server image is created in Azure for each build.

The

[2016-02-17 00:34] ttrevorr commented on #1936
any update on this?  I have the exact same issue.

[2016-02-17 00:39] yishaigalatzer commented on #2119
Create your own feed, maybe even on top of tfs and you have a guarantee. Checking in packages is much worse. In project.json we don't clean up for you (nor will we ever) so your repo will keep growing

[2016-02-17 00:57] kjbartel commented on #2119
Seriously? Talk about making a problem more complicated than it needs to be.

Why? Give concrete reasons.

Yes I know. That was a problem I also saw with the hack "solution". The thing is there is no reason why you can't have both a global cache and a solution packages folder. It would simply copy the required packages from the cache if they aren't in the solution's packages folder.

[2016-02-17 01:09] yishaigalatzer commented on #2119
First let me say it again, we are supporting a localized folder using the NUGET_PACKAGES variable, and we will support it through nuget.config in a relative path mode (it is actually not blocked on nuget code, but on the msbuild task).

I agree it is more than just having TFS, but setting up packages in a folder or even a simple nuget server is not rocket science.

Because checking in binaries blo

[2016-02-17 01:23] emgarten commented on #1936
XUnit 2.1.0 contains a file `lib\portable-net45%2Bwin8%2Bwp8%2Bwpa81\_` instead of the expected `lib\portable-net45%2Bwin8%2Bwp8%2Bwpa81\_._`

`_._` signals to NuGet that the package is compatible with that framework, without this compatibility errors will occur.

[2016-02-17 01:28] yishaigalatzer commented on #2119
As for your top suggestion (where we write out the packages folder to msbuild), this is a great way to pass the values to the msbuild task. We will confer with the owner @jasonmalinowski on this and see if gets us out of having to implement a much more complex change.

The way we think this might work:
- You define the relative packages folder in nuget.config (already supported but not documented)

[2016-02-17 01:29] kjbartel commented on #2119
Just to expand on this. The problem is that Nuget together with packages committed to source control used to very easily manage a set of libraries required for a particular version of a project. Sure you need to commit new versions of the libraries when you update but people who want to use a specific version of a library don't really see this as a problem because we don't want to use unknow futur

[2016-02-17 01:47] kjbartel commented on #2119
Then it's an intended hack. I shouldn't have to set a global environment setting for something which should be solution specific.

[2016-02-17 01:48] yishaigalatzer commented on #2119
I see your points and thanks for sharing you scenario in detail. Like I mentioned we are going to look at following your suggestion on picking up the path in msbuild by the build task.

So it makes a HUGE difference if you use git of TFS, just wait for a while as new versions accumulate and see you clone and pull time grow rapidly. It is a really bad practice.

No one is suggesting to pick up new

[2016-02-17 02:33] kjbartel commented on #2119
Yep, I could definitely see it as being good in environments with a larger team and / or with multiple projects using common libraries.

VSO and TFS are still evolving, as are other CI build services. I set everything up for my project before any of these features were available in VSO. There are many people though who would like to keep their code and repositories not tied to one service or anoth

[2016-02-17 02:41] yishaigalatzer commented on #2119
Dnx is going away. There will be only one nuget. We are not sure if we after going to keep this setting in global.json or not.

[2016-02-17 02:43] MedAnd commented on #980
:+1:

Neither the NuGet.config or the .tfignore methods worked to exclude the nuget packages folder from being included in all Pending Changes...

Microsoft Visual Studio Enterprise 2015
Version 14.0.24720.00 Update 1
Microsoft .NET Framework
Version 4.6.01055

Installed Version: Enterprise

[2016-02-17 02:56] glen35 opened #2127 "SPAM"

[2016-02-17 05:53] #2127 closed, assigned to nobody

[2016-02-17 08:22] davidfowl commented on #2114
What data we you looking for specifically? There might be other ways to achieve the simplicity without baking defaults like this into to the tool. Right now it's causing friction (in the cases outlined above) and the special casing of compile time only tfms is a hack

[2016-02-17 09:32] Alovchin91 commented on #2120
@yishaigalatzer I still do use targets, but now instead of invoking the reference into the project, I have to simply copy the Debug files over those copied by NuGet 3 when building the project. This leads to inability to get Debug files in the AppX.

[2016-02-17 09:59] pmertz opened #2128 "Feature request: Add "Finished" message to Package Manager Console commands"
I am never sure when it is done processing. Typically an update-package command on a big solution with many projects takes forever. Would be nice to know when we are done.
A simple ==== finished ==== would do.

[2016-02-17 11:15] mathikp commented on #1158
We have updated the NuGet Package Manager to v3.3.0.167. Still I have faced the same issue. When it will be fixed ? Any workaround is there?

[2016-02-17 12:19] GeertvanHorrik commented on #1365
I would need something like this as well (since we use NuGet to ship extensions, we don't care about the prereleases). An option (like -allowprereleasedependencies) to override  would be great.

[2016-02-17 13:31] dcorriveau-omniscient opened #2129 "Referencing Nuget package that has a targets file breaks the project"
I have created a NuGet package that contains a build folder and has a targets file in it. When I reference that package from a project, that project is still working until I close and re-open the solution. Then, the project is in the "(load failed)" state and I get the following error:
`An attempt has been made to open or create a Web project from a location on disk.  In this build, Web projects a

[2016-02-17 14:08] csharpfritz commented on #543
I like the direction of this design proposal but the colors and font size in the progress bar make the text difficult to read.  Is it safe for me to assume that there is a design enhancement coming for those styles?

[2016-02-17 14:37] dcorriveau-omniscient commented on #2129
Well, I give up. Those targets file are a pain to debug so I'll do the project file copying using a PS script, like the rest of my build process.

Bottom line is, if you get that error, it's probably because there is "something" wrong with the targets.

[2016-02-17 14:37] #2129 closed, assigned to nobody

[2016-02-17 15:59] yishaigalatzer commented on #1158
Mathikp your report seems not related to this issue. Can you please open a new issue and provide a fiddler trace as well as information about the type of private feed you are using and the source you are using?

[2016-02-17 16:02] yishaigalatzer commented on #2120
I see, I agree we should do something better here. Butbfor now why not place the dlls only in the targets?

[2016-02-17 18:42] kamranayub commented on #747
This is an issue on the latest Nuget client as well. Even without `-ConfigFile`, settings like package sources are used in a Nuget.config residing next to a solution file, but not proxy settings.

[2016-02-17 18:44] michaelcfanning opened #2130 "missing text in negative error message"
In VS, for the 'add pacakge referernece' feature, we show an install failure message returned by Nuget that doesn't scan well:

Package install failed: No latest version found for the 'Newton.Json' for the given source repositories and resolution context.

We should either add 'package' after the package name or emit the 'the' that precedes the package name.

[2016-02-17 19:53] abpiskunov commented on #826
/// <summary>
/// Provides API for comparing and parsing frameworks
/// </summary>
public interface IVsFrameworkProvider
{
    /// <summary>
    /// Returns correct short name for a FrameworkName (used in project.json  file as target framework name).
    /// In project.json targets are specified with short names most of the time and it would be helpful to have,
    /// a reliable way to get short

[2016-02-17 19:57] abpiskunov commented on #826
[code]

[2016-02-17 20:07] emgarten commented on #2114
Once this change is made how will the CLI repo build, will RIDs be added to the project.json files or will it be passed on the command line? Is there going to be a suggested way to provide the RIDs?

What is a scenario where a compile time txm such as netstandard needs a runtime?

[2016-02-17 20:27] deepakaravindr commented on #2121
The issue occurs in one of the recent NuGet builds 3.4.0.632 as well. I have only tried Blend 14.0.24706.00 Update 1. I have not tried out VSWinExpress.

Note that the issue only occurs if NuGet has not already been loaded in the context of current Blend instance. This means that if NuGet Package Manager Console was already open in Repro step (5) or was opened before Repro step (6), then the issue

[2016-02-17 21:18] jmaxxz commented on #1671
:+1: this issue. Look forward to seeing pull [#234](https://github.com/NuGet/NuGet.Client/pull/234) in a released version.

[2016-02-18 08:03] gregjhogan opened #2131 "csproj w/ project.json project reference treated as external package reference"
For a .NET 4.6 project (csproj file using VS 2015) using a project.json, a project reference seems to be treated as if it is a external package.  They show up in the "Manage NuGet Packages..." screen and TFS builds attempt to restore the packages.

Here is how I specified the project dependency

[code]

Here is the error I get from our TFS builds
`Unable to resolve MyProject (≥ 1.0.0--) for .NETFr

[2016-02-18 09:12] rshackleton commented on #1102
This still seems to be an issue when using packages.config, not checked when using packages.json when using VS2015 Update 1. Are we still waiting on a fix on VS's side?

[2016-02-18 10:02] asbjornu commented on #1365
I find it very strange that when upgrading a package with `-Pre`, that flag isn't also cascaded to dependencies. It's very natural for prerelease packages to have prerelease dependencies, so I don't really understand the reasoning here. Although this issue is for packaging, I expect it to be related to the upgrade process, no?

The "by accident" argument is in my opinion only valid if the package

[2016-02-18 10:17] WayneEllery commented on #1671
@jmaxxz I look forward to this issue being fixed too. But how is issue #234 related to this issue?

[2016-02-18 13:35] dersteve commented on #2073
I verified the whole restore process and infact it just fails **without restoring any packages**, nor generating a **project.lock.json** file for any of the projects inside the solution.

It should at least not stop with an error, but just continue and report it as a warning.

[2016-02-18 15:11] Dashue opened #2132 "Nuget automatically removes dependencies from packages.config"
To set the scene: I have a solution with a bunch of projects. There is issues with the packages.config of one project, let's call it 'Project X'.

Whenever I install or update a nuget that is in another project than 'Project X', some packages from the packages.config of 'Project X' gets removed.
I then manually have to install those packages into 'Project X' again.

I'm using a shared path for nug

[2016-02-18 15:47] jmaxxz commented on #1671
@WayneEllery it is not, this organization is laid out a little strangely. This resulted in the autolink pointing not  to the pull request I was speaking of but another issue (because this repo seems to act as an issue tracker for all the other repos in this org). I have updated my original comment to avoid any future confusion.

[2016-02-18 17:00] Pilchie commented on #1102
Tagging @jasonmalinowski too.

[2016-02-18 18:03] natemcmaster opened #2133 "Corrupt cache file causes dotnet restore to crash"
During `dotnet restore` on our CI agents, the restore operation fails:

[code]

Using dotnet 1.0.0.001290

Deleting the cache folder manually solves the crash. But it would be better if NuGet automatically discarded corrupt cache files.

[2016-02-18 19:20] deepakaravindr commented on #2121
FYI, I tried VSWinExpress and VSWebExpress
1. Same issue was observed with VSWinExpress UAP application.
2. On VSWebExpress, classic ClassLibrary project was able to restore packages to packages folder on the first build.

[2016-02-18 20:18] emgarten commented on #2131
XProj and CSProj resolve project references differently. CSProj project references must come from the csproj file. The project.json file contains only package references.

[2016-02-18 20:28] jianyunt opened #2134 "Nuget backend returns incorrect number of packages"
Recently, when we use nuget API v2 and ODATA syntax to query the server, we get back the wrong number of packages. Specifically, the URL
https://www.nuget.org/api/v2/Search()?$filter=IsLatestVersion&searchTerm=''&targetFramework=''&includePrerelease=false&$skip=320&$top=40 returns 39 packages instead of 40. This used to work before but now it is broken (we are not sure when this happened). Is this

[2016-02-18 21:33] yishaigalatzer commented on #2134
Move to gallery - https://github.com/NuGet/NuGetGallery/issues/2895

[2016-02-18 21:33] #2134 closed, assigned to nobody

[2016-02-18 21:42] yishaigalatzer commented on #2133
@joelverhagen we have a fixed a ton of bugs in this area. The mode should be that we first write down a file only when it is completed (by writing to a temp extension, then renaming/moving).

We should also recover if the file is corrupt and clear it automatically like @natemcmaster is suggesting.

@natemcmaster how did you get a corrupt file? Is it by interrupting a download?

[2016-02-18 21:45] nigel-sampson commented on #1102
Currently using both versions of this `packages.config` and `project.json` in [Caliburn.Micro](https://github.com/Caliburn-Micro/Caliburn.Micro/tree/3.0.0) with no problems.

[2016-02-18 21:54] natemcmaster commented on #2133
@yishaigalatzer not sure how the file got corrupted. This was on a CI agent. The build log doesn't have anything that indicates download interruption.

[2016-02-18 22:29] shirhatti commented on #2099
@zhili1208 Do you have any update on this?

[2016-02-18 23:42] zhili1208 commented on #2099
@shirhatti I'm trying to fix it this week.

[2016-02-19 01:04] johnataylor opened #2135 "Get-Packages -Updates generates an incorrect query"
https://api-v3search-0.nuget.org/query?q=DotNetZip etc

should be:

https://api-v3search-0.nuget.org/query?q=packageid:DotNetZip etc

currently multiple rows are returned and the client filters the result...

What should happen is one row should return and then that should be the one and only row for that Id. Currently there isn't even any guarantee that the multiple rows that are returned even co

[2016-02-19 01:20] johnataylor commented on #2135
Note this is just a functionality bug and has no real performance implication

[2016-02-19 01:26] endel commented on #1946
I'm having the same problem here, guys. I'm also using OSX.

NuGet Version: 2.8.5.0
Mono 4.2.2

Here's the output of `nuget pack` using `-verbosity detailed`.

[code]

[2016-02-19 01:33] yishaigalatzer commented on #1946
@endel 2.8.5 is no longer supported. We are currently porting pack to work on .net core so it can work safely on .net core (which will work on Mac natively).

I would start by updating to NuGet 3.3, and use pack with nuspec, pack with csproj is not supported at this point, and will be enabled in a future release.

[2016-02-19 02:23] emgarten opened #2136 "Investigate removing fallback GetPackages call"
V2FeedParser calls GetPackages on v2 servers, if the package is not found it falls back to a FindPackagesById request.
- Is it possible to get this down to a single call and not fall back?
- do nuget.org, myget.org, nuget.server, proget, and other nuget servers support this?

This double call is an improvement over the previous NuGet.Core.dll behavior which made 3 calls for various non-normalized

[2016-02-19 08:32] maartenba opened #2137 "PCL library not referencing in Xamarin IOS app"
_From @NVentimiglia on February 13, 2016 5:58_

I have a  nuget plugin  with a common PCL api and several platform projects for IOS, Android, Universal, ect.

In the consuming IOS solution, the IOS plugin is not being referenced. The PCL DLL is being referenced fine. Not sure what I am doing wrong. here is my nuspec.

[code]

_Copied from original issue: NuGet/NuGetGallery#2885_

[2016-02-19 09:18] mrward commented on #2137
For Xamarin iOS projects there are two target frameworks.
-  MonoTouch
-  Xamarin.iOS

MonoTouch is for iOS Classic projects whilst Xamarin.iOS is for the new iOS Unified projects.

Looking at that .nuspec first you have only a MonoTouch group dependency for Square.SocketRocket so if you are installing that into an iOS Unified project that will not be used.

Looking at your lib directories the fol

[2016-02-19 09:19] mrward commented on #2137
Also looking at the Square.SocketRocket NuGet package it does not support MonoTouch. It only contains assemblies for Xamarin.iOS so using MonoTouch as the target framework here is incorrect.

[2016-02-19 10:33] endel commented on #1946
I see, thanks @yishaigalatzer. For some reason version 2.8.5 were installed by default with mono or something. With v3.3 it works fine!

[2016-02-19 14:20] PhilipDaniels opened #2138 "The version number displayed on the right hand side of the UI does not match the left hand side"
I have attached a screenshot, where I have anonymized the packages because they are internal to my company, but it should be obvious what is wrong.

On the left hand side I have selected a particular package. There are many versions of this package available, but the latest is 1.0.610-develop. On the right hand side, the correct package name is displayed, but the list of versions appears to be fro

[2016-02-19 14:32] isobel-cullen commented on #2118
Annoyingly, installing the same packages in a fresh project works. There must be something else going on here.

Log of attempting to use nuget.exe directly https://gist.github.com/ProfessionalNihilist/c227077b8a4be5b2d14e

[2016-02-19 14:57] yishaigalatzer commented on #1946
Great to hear! Much appreciated taking the time to update us.

[2016-02-19 17:03] BrennanConroy opened #2139 "Restore summary has incorrect "packages installed" output"
https://github.com/aspnet/dnx/issues/2606

Packages installed is keeping the same number from previous project.json restores during the same program execution

i.e.

[code]

Should be:

[code]

[2016-02-19 19:20] NVentimiglia commented on #2137
Great, I will apply these changes tonight.

[2016-02-19 19:53] emgarten commented on #2139
Currently nuget finds the install count based on the starting state, not based on the intermediate state where other projects restoring in parallel have already installed some of the packages. The counts were inconsistent as to which project installed the packages and in some cases there were duplicates counted.

I think the fix for this is to log this information in a different way so that it mak

[2016-02-19 21:05] emgarten opened #2140 "Remove V2 machine cache"
The V2 machine cache is no longer used by nuget. It should be removed where ever it still exists.

Known locations:
- Default source in nuget.exe
- Clear command

[2016-02-19 21:18] netizenk opened #2141 "Could not load file or assembly 'EntityFramework.MappingAPI, Version=6.0.0.7"
After executing Install-Package EntityFramework.BulkInsert-ef6 it also pulled   EntityFramework.MappingAPI 6.1.0.9  and added bindingRedirect oldVersion="0.0.0.0-6.1.0.9" newVersion="6.1.0.9" to the assembly config file but when BulkInsert() method is executed this Exception is thrown: Could not load file or assembly 'EntityFramework.MappingAPI, Version=6.0.0.7
Why is it still looking for the olde

[2016-02-19 22:59] yishaigalatzer commented on #2141
This seems like a package specific question. Can you please move it to the package owner?

[2016-02-19 22:59] #2141 closed, assigned to nobody

[2016-02-19 23:03] zhili1208 commented on #1056
checked in Rob's fix for this issue. https://github.com/NuGet/NuGet.Client/commit/6d112fb8459899b3dc098b1621e08c56c11fa88f

[2016-02-19 23:03] #1056 closed

[2016-02-19 23:04] yishaigalatzer commented on #2138
Thanks for the report. Looks like something we should look into.

@johnataylor this is an area you where looking into, for improving the results so can you please take a look?

[2016-02-19 23:06] yishaigalatzer commented on #2137
Thanks @mrward

@NVentimiglia I'm closing the issue as a question. You can of course keep discussing here.

[2016-02-19 23:06] #2137 closed, assigned to nobody

[2016-02-19 23:09] yishaigalatzer commented on #2131
We are adding a type support to clearly specify

[code]

Note that this still will not be supported in project.json on csproj, but it will help disambiguate for xproj

[2016-02-19 23:09] #2131 closed, assigned to nobody

[2016-02-19 23:14] yishaigalatzer commented on #2132
I don't have enough information from the report to make a determination so I'll try to start you up on two paths:
1.  We do no support sharing packages folders across multiple solutions. I'm guessing what you are seeing is that one solution is removing the packages from another solution rather from two projects in the same solution.
2. There is also a potential mix up in the versions you are repor

[2016-02-19 23:18] yishaigalatzer commented on #2105
This should be handled by a redesign from the VSO team of their bits in NuGet

[2016-02-19 23:27] yishaigalatzer commented on #2125
This is reall a dup of #1916

[2016-02-19 23:27] #2125 closed, assigned to nobody

[2016-02-19 23:30] yishaigalatzer commented on #1916
The work here, is to add a flag called -ignoreFailedSources. The default behavior should be failure.

For specific scenarios we might be able to allow failed sources regardless
1. Restore to an exact version in packages.config
2. Restore to an exact version in project.json

There are more edge cases that might still work correctly (like install with a known version, dependency behavior lowest and

[2016-02-19 23:35] gregjhogan commented on #1689
@emgarten when you said

did you really mean csproj + project.json?

[2016-02-19 23:36] yishaigalatzer commented on #1916
Was replacing https://github.com/NuGet/Home/issues/2125, make sure you read #2034 before executing

[2016-02-19 23:39] yishaigalatzer commented on #2057
This issue will be partially fixed in RC2, when we go past the RC2 cutline, lets open a new issue with the unresolved items

[2016-02-19 23:44] gregjhogan commented on #2131
@emgarten @yishaigalatzer will I eventually be able to do the following and have it pick up project dependencies from the csproj file and package dependencies from the project.json file?

[code]

[2016-02-20 00:06] yishaigalatzer commented on #2131
We haven't decided if that is a pattern we want to encourage going forward or not. Still a good discussion to have:

Should dependent projects be separate packages by default, or should we enable the scenario you mentioned where sub projects gets packed into the same package.

The main issue with this is that it gets pretty tricky to define which P2P references go out as packages and which gets bu

[2016-02-20 00:23] gregjhogan commented on #2131
@yishaigalatzer there may be another scenario to consider, too.  I currently use `-IncludeReferencedProjects` for dependent projects that have their own nuspec file, and it adds those projects as a package dependency when packing.  So I have a solution that builds multiple packages which depend on each other.  My experience has been that this works great with nuspec files, and was hoping you would

[2016-02-20 04:35] jkoritzinsky commented on #1850
I can report that I'm seeing the same problem for my CPS project.  I can get my package to successfully install, but the .targets and .props files are not correctly inserted into the project file.

[2016-02-20 10:25] davidfowl opened #2142 "Restore errors don't show resolved dependency, they only show requested dependency"
First, there was a dependency that was requested but it didn't exist, so an upgrade happened:

**project.json**

[code]

[code]

Next there was a downgrade detected but the output shows that `Microsoft.Extensions.Logging (>= 1.0.0-rc1-final-update1)` depends on `Microsoft.Extensions.DependencyInjection.Abstractions (>= 1.0.0-rc2-15992)` when infact it's the resolved version from the previous warni

[2016-02-20 12:42] christophedemey opened #2143 "Packages not restoring, but it says restored."
Ive created a vsix with a multi project template.
One of these templates has a reference to newtonsoft.json.
When i create the template the nuget console says "Restore packages" in a yellow bar at the top of the command prompt.
When i click it, it loads a bit (progress bar) then just dissapears without errors.
Console does not show output, but my reference is still dead.

Can you please have a loo

[2016-02-20 15:56] kamranayub opened #2144 "Add "Highest Installed" dependency resolution option"
**Problem**

When installing a Nuget package for a project that depends on packages I already have installed solution-wide (e.g. Newtonsoft.Json), there is currently no way for Nuget to use my existing installed version of Newtonsoft.Json that satisfies the package's dependency.

**Workaround**

I either have to use the highest version (then consolidate), highest patch/minor (then consolidate), ig

[2016-02-20 18:28] davidfowl commented on #2114
@emgarten the CLI will add the RIDs to `project.json`. Suggested way is putting it in the `project.json`.

We don't want to denote TFMs as compile only anymore, that was a hack. We're going to instead change the NetStandard.Library packages so that they are split into reference only and runtime packages.

We want to make it so that applications can be fully portable. This means that it should be p

[2016-02-20 18:35] emgarten commented on #2114
Makes sense, I'll remove the RID inference in xplat.

[2016-02-20 18:41] davidfowl commented on #2114
@emgarten it was never in NuGet before and shouldn't exist in any form. Just clarifying that it only exists in xplat.

[2016-02-22 06:39] maartenba opened #2145 "Cannot install packages in Node.js project - Project "Default" is not found"
_From @chojrak11 on February 21, 2016 22:53_

I have Visual Studio 2015 Update 1, with Node.js Tools for Visual Studio v1.1. Everything up to date.
I have a single Node.js project in a solution. The project was created from template "Blank Node.js Web Application." I cannot install any package through Package Management Console. I need for example AngularJS.Intellisense. No luck. The message is: '

[2016-02-22 06:40] maartenba opened #2146 "Unity 3d Supporting"
_From @archiZ on February 19, 2016 15:10_

Dear developers! Huge request to add support **Unity3d**.
I want to publish assemblies for Unity3d (or Unity3d Editor) with your system.
At the moment **Unity3d** uses **net35-Unity Full v3.5**.
Thank you!

https://unity3d.com

_Copied from original issue: NuGet/NuGetGallery#2897_

[2016-02-22 06:40] maartenba commented on #2146
@emgarten @yishaigalatzer Is that a TFM we support in NuGet.Frameworks?

[2016-02-22 06:40] maartenba commented on #2146
_From @emgarten on February 19, 2016 23:23_

`net35-Unity Full v3.5` would be `.NETFramework, Version=v3.5, Profile=Unity Full v3.5`

A profile can be anything though I would expect it to not have whitespace within it. There's no change needed from NuGet here as far as I know. Unity needs to use this target framework in the project files in way where NuGet will read it, and then packages can conta

[2016-02-22 06:40] maartenba commented on #2146
_From @archiZ on February 20, 2016 7:29_

The problem I have is that the Visual Studio 2015 misunderstands and install this package.
I created the structure of the package:

[code]

If I install it on **.Net 4.5** project: Added ref to assembly **n45.dll**. (OK)
If I install it on **.Net 3.5** project: Added ref to assembly **n35.dll**. (OK)
But if I install it on **.Net35-Unity Full v3.5** projec

[2016-02-22 16:57] Lexcess commented on #1521
We’ve had a couple of teams working around this for some time, with the release of StyleCop.Analyzers we’re likely to having to tackle this across the board. I see this issue is listed as priority one and in the 3.4 milestone. Does this mean the expectation is that an methodology will be in the next release?

For our purposes (mostly around tooling), we need a few features.
- Ability to specify a

[2016-02-22 17:15] adamralph commented on #1521
The problem with the 3.4 milestone is that it still has 234 open issues assigned to it. I don't understand this approach. 3.4 already has 95 closed issues, why not release features as they are closed? As it stands, I guess we'll be waiting for quite some time to get our hands on anything which is assigned to 3.4.

[2016-02-22 17:18] yishaigalatzer commented on #1521
@adamralph you are absolutely right. We plan to release 3.4 rather soonish, and we will triage 3.4 items to a new milestone. This one particularly doesn't seem like is going to make it in, i'm moving it to 3.5

[2016-02-22 17:22] yishaigalatzer commented on #1521
@Lexcess this bug does not track the issue of having a common version for a set of projects, it tracks the ability to install a set of packages once per solution that can be used for tooling and similar scenarios.

[2016-02-22 17:23] adamralph commented on #1521
@yishaigalatzer thanks, that makes more sense.

With most projects I work on, we take a slightly different approach. We prioritise issues, and they are assigned to the milestone representing the next pending release _when they are closed_. When that release is done, a milestone for the next pending release is created so any issues closed after that simply fall into the next release bucket. This al

[2016-02-22 17:35] yishaigalatzer commented on #1521
I understand, the reason we run how we run at the moment is as follows (and if you want more meta discussion, lets remove it from this issue, because it is really unrelated).

Our releases are tied to Visual Studio releases, not 100% true statement, but in many cases we release in coordination with Vs Updates, which means we have to test and validate against not yet released bits, which in turn do

[2016-02-22 17:40] yishaigalatzer commented on #2146
@emgarten if we have an answer on how to do it, please post it here. If we can't do it today, then we should get to it at some point, but it will not make it into one of the next releases

[2016-02-22 17:43] yishaigalatzer commented on #2145
1. Can you try saving your project and solution first?
2. This may be solved in 3.4 (to be released with Update II), otherwise we don't plan to invest in node.js projects in one of the immediate releases.

[2016-02-22 17:45] yishaigalatzer commented on #2144
@kamranayub thanks for the idea!

We have slightly different plans for this area, but the idea sounds viable on its own. So moving out to vNext and we will get to it at some point.

[2016-02-22 17:49] kamranayub commented on #2144
Fantastic, thank you!

On Mon, Feb 22, 2016, 11:45 Yishai Galatzer notifications@github.com
wrote:

[2016-02-22 17:51] yishaigalatzer commented on #2143
@christophedemey I would start by making sure my projects are all saved, and so is the solution.
Next to help us be able to quickly figure things out without having to install unknown vsix on our computers, I would appreciate if you can push the created projects into a github repo. This will both save time and be a lot crisper about responsibilities between NuGet and your vsix.

[2016-02-22 17:53] joelverhagen opened #2147 "New issue "nuget restore" doesn't work with VSO (VSTS) package feeds"
Clone of https://github.com/aspnet/dnx/issues/3314 for NuGet.

[2016-02-22 18:09] joelverhagen opened #2148 "Add IVS APIs to facilitate package indexing"
This is an outcome with the .NET package indexing guys. These APIs will facilitate the Ctrl + . experience for installing NuGet packages. In particular, this will help the experience be more aware of a project and package's target framework.
### Framework parsing:
- [x] An API to parse the framework name and to get the closest framework from a set.
  - Presumably this is for taking what VS tells y

[2016-02-22 18:34] yishaigalatzer commented on #2147
This is a dup, and this is not for you to fix, please find the dup and close this bug

[2016-02-22 18:38] #2099 closed, assigned to zhili1208

[2016-02-22 18:38] #2087 closed, assigned to zhili1208

[2016-02-22 18:42] yishaigalatzer commented on #1656
This was done

[2016-02-22 18:42] #1656 closed, assigned to nobody

[2016-02-22 18:42] zhili1208 commented on #2099
checked in the fix,  For mac the machine wide default path is /Library/Application Support/nuget/Config,
for Linux , it's /etc/opt/nuget/Config

[2016-02-22 18:45] yishaigalatzer commented on #1367
Closing as I don't see any reports that this repros on 3.3, and we cannot repro it either.

[2016-02-22 18:45] #1367 closed, assigned to deepakaravindr

[2016-02-22 18:46] yishaigalatzer commented on #1546
Closing as this was fixed, and we now have a proper error message

[2016-02-22 18:46] #1546 closed, assigned to nobody

[2016-02-22 18:49] yishaigalatzer commented on #1066
@maartenba can we auto filter symbol packages from nuget.server? Can you please take over?

[2016-02-22 18:50] maartenba commented on #1066
So favor .nupkg over .symbols.nupkg?

[2016-02-22 18:56] yishaigalatzer commented on #1066
That's what I'm thinking

[2016-02-22 19:01] Lexcess commented on #1521
@yishaigalatzer I thought that 3.4 was an unlikely milestone. Thanks for the update on this.

I'm definitely talking about Solution wide packages, I specifically mention tooling packages as our use case. Part of that should be the ability to set the solution wide package's version (one of our workarounds doesn't do this, which is why I mention it).

The main points I wanted to bring up were if the

[2016-02-22 19:06] yishaigalatzer commented on #1521
The general design is to have a roundtrippable story, but with an explicit model of installing packages into a single "packages.config" or "project.json" at a solution level.

You can mimic it today (without a UI) by putting entries in packages.config and running restore with nuget.exe on this file.

But we want to come up with an overall better solution, the design is very generic and we haven't

[2016-02-22 19:18] zhili1208 commented on #1068
verified against latest bits, didn't repro.

[2016-02-22 19:18] #1068 closed

[2016-02-22 19:22] Lexcess commented on #1521
Ok that's a model we can work with. Our main concern is that the workarounds we build in the interim will be relatively compatible with whatever the final solution is.

Just to drill down on how such a model might work in practice; would there be an expectation that packages in the future will have to be built to be solution wide? Alternatively would the notion be any package could be applied at p

[2016-02-22 19:23] zhili1208 commented on #472
it's fixed

[2016-02-22 19:23] #472 closed

[2016-02-22 19:28] yishaigalatzer commented on #1521
This is exactly what I'm referring to in my first comment. Solution level packages and common package across the whole solution are two completely different things.

The general idea (and this is not a guarantee, just my current thoughts) is that you could install any package into this global level, and it doesn't have to be specifically designed (of course this aspect doesn't roundtrip backwards

[2016-02-22 19:36] zhili1208 commented on #868
verified against latest bits, it's already fixed at https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/Options/PackageSourcesOptionsControl.cs#L224-L228. will close it and feel free to reopen it if this issue still repro on your machine

[2016-02-22 19:36] #868 closed

[2016-02-22 19:40] johnataylor opened #2149 "UI Client fails to show any error or warning when search is ahead of registration blobs"
If the search is ahead of the registration blobs (specifically if there are versions of a package in the search results that arn't in the registration blobs) the search UI fails to show an details.

Technically the problem here is that the feed is slightly out of sync. This shouldn't ever happen on nuget.org prod. However, if it did or some other package source did get out of sync the client _shou

[2016-02-22 20:06] Lexcess commented on #1521
To be absolutely clear, I'm not advocating the implementation of adding packages to every project under a solution, nor am I trying to get a common version of packages across a SLN. I was simply trying to understand what the current thinking behind the feature was. I do want global level packages!

I think this is the area of confusion/disagreement. While what you describe is useful (especially fo

[2016-02-22 20:23] adamralph commented on #1521
Isn't that more about MSBuild/VS than NuGet? NuGet can restore an analyzer package at the solution level (i.e. just restore it to the package folder). That part is easy. But at build time, what is then is going to use it and apply the analysis to the code contained in all the projects?

[2016-02-22 20:56] Lexcess commented on #1521
@adamralph

Given the given scope of package restore to a global folder, I think you are probably right.

However, if for a second we accept the notion of global packages that work for the use case of solution level tooling (which is where I and I think others started from), then we'd probably need to see some changes in Nuget to make it work properly (i.e. so that files are restored to a useful p

[2016-02-22 21:05] MatthewSteeples opened #2150 "NuGet intermittently hangs while restoring packages on VSTS"
I have a case open with Microsoft Support on this (116011113569374) who have advised me that my problem is NuGet related so I need to open it here.

Our solution references over 100 packages (probably close to 150) totalling over 100mb of nupkg files. One of these is phantomjs (2.0.0 and 2.1.1 both had the same issue) which is 18mb itself. Occasionally (sometimes a few times per day), this file se

[2016-02-22 21:13] adamralph commented on #1521
@Lexcess

I was under the impression that Roslyn analyzers are specifically designed to work against projects, not solutions, and they are hooked into the build process via the project system.

Solution level packages (in VS2013) are typically exe's, such as unit test runners, which don't fit into this workflow. I.e. they are usually invoked via build scripts and sit outside the MSBuild/VS ecosyst

[2016-02-22 21:47] Lexcess commented on #1521
@adamralph  I am not proposing this.

[2016-02-22 21:55] ygeelen-tb opened #2151 "NuGet credentials for multiple package sources: always using credentials of first accessed feed"
See http://stackoverflow.com/questions/35560057/nuget-credentials-for-multiple-package-sources-always-using-credentials-of-firs

Is this a bug in the latest nuget.exe client?

[2016-02-22 22:02] adamralph commented on #1521
@Lexcess then I'm afraid I don't really understand what you are proposing :smile:

[2016-02-22 22:06] yishaigalatzer commented on #2151
Can you be specific about what version of the client you are using?

[2016-02-22 22:10] yishaigalatzer commented on #2150
@MatthewSteeples Can you provide more details:
1. Does it ever hang anywhere outside of VSTS?
2. Does it hang if you pass -disableparallelprocessing
3. Do you run NuGet 3.3 or another version?
4. Can you get more information on the machine you run on? Network speed, fiddler trace, etc?

[2016-02-22 22:10] ygeelen-tb commented on #2151
The VS extension says "NuGet 3.3 for Visual Studio 2015 RTM" and I tested with nuget.exe 3.3.0

[2016-02-22 22:12] ygeelen-tb commented on #2151
When I specify the package source on the command-line, it seems to work properly:
nuget list -Source http://mycompany.com/nuget/feed1
"Using credentials from config. UserName: Feed1Developer"
nuget list -Source http://mycompany.com/nuget/feed2
"Using credentials from config. UserName: Feed2Developer"

So it seems to be a bug in the Visual Studio extension then?

[2016-02-22 22:15] yishaigalatzer commented on #2151
I'm guessing it looks like the http client is picking the credentials based on the host name rather than the root feed url in your case.

@emgarten when you work on porting the proxy/auth to XPLAT, can you also verify this scenario?

[2016-02-22 22:21] ygeelen-tb commented on #2151
I'm experiencing the problem when switching from feed1 to feed2 at the right when browsing for packages (up-to-date Visual Studio 2015):
![image](https://cloud.githubusercontent.com/assets/12393883/13234793/bfcec4e0-d9ba-11e5-94e3-e78e3d35b96a.png)

To be more precise: I'm checking the current user in an HttpModule on my NuGet Server (ASP.NET) using HttpContext.Current.User.Identity.Name in the Po

[2016-02-22 22:29] davidfowl commented on #2115
targets

[2016-02-22 22:31] #2147 closed, assigned to nobody

[2016-02-22 22:48] zhili1208 opened #2152 "NullRef Exception From UI installed Tab"
NuGet version is build 642, active package source is v3
Repro step:
1. Open NuGet.Client solution in VS.
2. Right click to open NuGet UI on PackageManagement.VisualStudio project.
3. In Installed Tab, Will get NullRef Exception.

I think the problem here is nuget try to get metadata information from V3 metadata resource, but some packages in project.json like nuget.Protocol.VisualStudio 3.4.0 are

[2016-02-22 23:03] Lexcess commented on #1521
@adamralph No problem, as I said I mostly wanted to understand how this feature would work, especially given the goal of making it better. Thanks to @yishaigalatzer I get the proposed implementation and that will fix most of our gaps.

Beyond that was the use case of having packages be able to make changes at a solution/global level. StyleCop was my example but anything that might want to say add

[2016-02-22 23:05] Hermholtz commented on #2145
1. Of course the solution is saved.
2. I think it's just a kind of filter that prevents a Node.js project to be included in the drop down in Packet Management Console and selected as the default. No major work IMO to fix this feature.

[2016-02-22 23:08] zhili1208 commented on #2145
Installed Node.js tools for visual studio, try to open UI, got "this project is unsupported". I don't think nuget support node.js project, npm is the right solution for package management for node.js project.

[2016-02-22 23:15] yishaigalatzer commented on #2145
Thanks @zhili1208 for investigating.

If someone from the Node.JS team is interested in building this feature in NuGet we will take a pull request. I can't see why would someone use javascript packages from NuGet for this kind of project, but I could see someone using msbuild targets and the like.

[2016-02-22 23:29] BrennanConroy opened #2153 "Project to Project references with native libraries stopped working"
This project: https://github.com/aspnet/KestrelHttpServer/blob/dev/test/Microsoft.AspNetCore.Server.Kestrel.FunctionalTests/project.json
References this project:
https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel/project.json
Which has native libraries inside of it

This used to work but now restore doesn't resolve these native libraries if its a project t

[2016-02-22 23:34] yishaigalatzer commented on #2153
@BrennanConroy - more info please.

What does not work mean? What version of nuget are you using

[2016-02-22 23:35] BrennanConroy commented on #2153
CLI version 1496
Native libraries used to show up in the lock file, now they no longer appear
Before, we used CLI version 1290

[2016-02-23 00:04] mousetraps commented on #2145
Node Tools dev here - we also have an issue open from our end on this and haven't seen sufficient reason to prioritize NuGet support. Of course, we wouldn't _oppose_ someone making a PR on NuGet :stuck_out_tongue_winking_eye:
https://github.com/Microsoft/nodejstools/issues/326

[2016-02-23 00:16] yishaigalatzer commented on #1980
This issue has gone stale, @onovotny @jasonmalinowski can we close it, or can it be revived?

[2016-02-23 00:17] #1976 closed, assigned to emgarten

[2016-02-23 01:15] alpaix opened #2154 "VS crashes when searching for EntityFramework in Package manager UI"
Reported by daily test run.

Have two issues:

Open Nuget Manage Package UI, click Browse tab, type “EntityFramework” in searchbox to search, the VS crashed.
Repro steps:
1.  Create a new project(like MVC and etc).
2.  Right click the project node and select Manage NuGet Packages…
3.  Click the Browse tab, and type “EntityFramework” in searchbox to search, the VS crashed.

![1](https://cloud.githu

[2016-02-23 01:32] Allann commented on #352
I'd prefer to see the scale convention used by win8 manifests used here too.  this would mean that brand images can be re-used and we don't need to create even more files named differently.

[2016-02-23 02:29] #2152 closed, assigned to alpaix

[2016-02-23 04:23] clairernovotny commented on #1980
This is still an issue, there's no way to properly usea xaml file as content because you can't set the right metadata.

[2016-02-23 04:24] davidfowl opened #2155 "Weird dependency format in project.lock.json file"
Here's the nuspec

[code]

Here's the lock file.

[code]

/cc @emgarten

[2016-02-23 04:24] yishaigalatzer commented on #1980
Can you please share what Jason was asking for?

[2016-02-23 07:27] WernerMairl opened #2156 "Nuget.exe ExitCode on Warnings"
Hi
I'm using a nuget.exe (v.3.3.0) with the following arguments:

INSTALL <packages.config> -source <folder> -NoCache -OutputDirectory <directory>

Basically everything works like expected.
But one case with remaining questions:
If the specified -source does not contains one of the requested packages i get a warning that the package is not installed - OK

BUT: there is ANY way to get this informat

[2016-02-23 07:38] ygeelen-tb commented on #2151
I have the same problem when checking the Authorization header (Basic HTTP Authentication), it keeps sending the same username in the header. I think this is what nuget.exe uses internally?

[2016-02-23 09:08] MatthewSteeples commented on #2150
Hi @yishaigalatzer
1. I've not witnessed it hang outside of VSTS
2. It does still hang when parallel processing is disabled
3. Whichever version it is it doesn't appear to output it's version number (even on Verbosity Detailed) when restoring packages so I'll see what I can find out. It's whatever comes pre-installed with VSTS
4. It's an Azure D2 instance machine running in the West Europe datacen

[2016-02-23 09:28] MatthewSteeples commented on #2150
Update to 3. The version of NuGet 3.2.1. I can't update the version there but I can deploy and run a custom one to see if that makes a difference

[2016-02-23 12:10] apacha commented on #2150
I can answer on 3. Yes it happens with NuGet Version 3.3.0 (see [issue on Bitrise](https://github.com/bitrise-steplib/steps-nuget-restore/issues/5#issuecomment-187080249)) and works with NuGet 2.8.6.

[2016-02-23 13:59] clairernovotny commented on #1980
Here it is:
https://gist.github.com/onovotny/ae9e9fbff3a3f7b61137#file-integration-uwp-build-log-L2248-L2257

You can see in the highlighted lines that the App.xaml and app.xaml.cs are getting included and that the item type should be correct. However, there's no way to set the Generator metadata as MSBuild:Compile. This would be needed for any XAML file. The other item type, for a regular XAML pa

[2016-02-23 15:39] yishaigalatzer commented on #1980
Oren - thinking about this out loud. At this point you are looking for a full msbuild projection into content files. since this a very specific use case AND we do have a way to represent msbuild in nuget (using targets), why won't you use targets here?

[2016-02-23 15:44] clairernovotny commented on #1980
I cannot use targets here because I need the pp transformation. This is really a manifestation of https://github.com/NuGet/Home/issues/1979. In there, you could specify metadata that each build task could implement as needed.

I don't need full msbuild projections, just control over the additional item metadata.

There are other instances too -- like `.tt` files. Need to set item specific metadata

[2016-02-23 15:48] yishaigalatzer commented on #1980
Thanks for the reminder, out of curiosity how did you do it before nuget 3?

[2016-02-23 15:49] clairernovotny commented on #1980
I couldn't, I used a content as a text file that the user saw in their project and could copy/paste. Since these content files don't show up in the project, I can't have them do that....they'll never see the template to copy/paste from.

[2016-02-23 15:57] yishaigalatzer commented on #2150
What is the feed URL you are using?

[2016-02-23 16:27] MatthewSteeples commented on #2150
Feeds used:
  C:\Users\buildguest\AppData\Local\NuGet\Cache
  https://api.nuget.org/v3/index.json

The local cache is always empty because it's a fresh VM

[2016-02-23 16:41] alpaix opened #2157 "Package metadata panel is empty for packages with '-*' version"
The installed status is wrong either: "Not available in this source".

![image](https://cloud.githubusercontent.com/assets/8239356/13258718/2403453c-da09-11e5-89f2-e2b6f8bf2b2f.png)

[2016-02-23 17:00] patrickjamesbarry opened #2158 "NuGet.Config with invalid XML or non-encrypted password that break XML"
If you have an invalid xml nuget config file, there doesn't seem to be any indication that something went wrong.  For example, in our nuget.config file, we had an "*" in one of our passwords.  This ended up causing many hours of troubleshooting because when we were using "dotnet restore" it was acting like it was not able to see our repos/feeds.  Running the same command with verbosity turned way

[2016-02-23 17:05] yishaigalatzer commented on #2158
Can you please provide an exact sample of nuget.config?

[2016-02-23 17:28] maartenba opened #2159 "White installation error"
_From @d054702741 on February 23, 2016 16:30_

Attempt to install White by the PM, with the following line: "PM> Install-Package TestStack.White"
I've got the following error:

Install-Package : Could not install package 'TestStack.White 0.13.3'. You are trying to install this package into a projec
t that targets '.NETFramework,Version=v3.5', but the package does not contain any assembly reference

[2016-02-23 19:27] ghost opened #2160 "Unable to locate Dependency selenium-webdriver"
I've created ASP .Net console project in Visual Studio Code (OS X).

Then added the dependency in project.json:

[code]

Run "dnu restore" and get an error:

[2016-02-23 19:32] joelverhagen commented on #2150
Hey Matthew, as we investigate the root cause here, a mitigation we can provide is a custom build of nuget.exe that supports a download timeout (if the a download takes longer than a certain period, the typically retry logic will be invoked). When I have that build ready, can I send you the NuGet executable to the email listed on your GitHub profile? Does that work for you?

[2016-02-23 19:43] yishaigalatzer commented on #2039
Suggestion for fix: Pack should normalize the version, and so should list.

NuGet Install should stay as is for backcompat, but NuGet install should also start getting a deprecated warning message with suggestion for alternatives

[2016-02-23 20:15] yishaigalatzer commented on #2160
That's because the id is selenium.webdriver

[2016-02-23 20:15] #2160 closed, assigned to nobody

[2016-02-23 20:19] yishaigalatzer commented on #2156
Hey Werner,

Thanks for reporting this issue.

Warnings do not affect exit codes, if you want to check for them, you have to splunk the log.

The rule for exit code is non zero when there is an error, there is no more information available through error codes.

One could argue that this should be an error and not a warning.

[2016-02-23 20:21] yishaigalatzer commented on #2155
The nuspec is not valid, so we should do something about it, but it doesn't seem like a top priority because it doesn't happen in the wild.

I'm pushing this out to the next release

[2016-02-23 20:30] yishaigalatzer commented on #2159
The packages does not work in 3.5, the error spells it out. You can contact the package owner or upgrade your project to 4.0 +

[2016-02-23 20:30] #2159 closed, assigned to nobody

[2016-02-23 20:35] ghost commented on #2160
Thank you for the answer!

[2016-02-23 21:39] MatthewSteeples commented on #2150
Hi Joel,

That would be great thanks. It forwards to a Gmail address which is sometimes funny about receiving exe files so I'll let you know if it fails to arrive

[2016-02-23 22:52] emgarten commented on #2155
That is the correct format, NuGet writes out the range for all possible versions as `(, )` No min, no max.  The alternative would be to use an empty string or null, but that seems dangerous.

[2016-02-23 23:27] emgarten opened #2161 "Package installs and updates from the UI display 'Downloading missing packages'"
Every operation in the UI pops up the download missing packages bar for about half a second immediately after clicking the update button.

Steps
- Dev15 Preview + NuGet 3.4.0.653
- Create a new MVC web app with App insights checked
- Install a new package or update an existing package

Expected:
"Download missing packages" will not be displayed

Actual:
Every operation pops up the download missing

[2016-02-23 23:43] zhili1208 opened #2162 "Dev15 Preview Install EntityFramework 6.1.3, got "The domain manager specified by the host could not be instantiated" during running script."
Step:
1. Dev15 Preview + NuGet 3.4.0.653
2. Open NuGet UI and install entityframework 6.1.3

Expected: installed well.

Actual:
Executing script file 'c:\Users\lzhi\Documents\Visual Studio vNext\Projects\ConsoleApplication1\packages\EntityFramework.6.1.3\tools\install.ps1'...
Exception calling "CreateDomain" with "3" argument(s): "The domain manager specified by the host could not be
instantiated.

[2016-02-23 23:49] emgarten commented on #2138
I am able to repro this on Dev15 + 3.4.0.653. It's difficult to repro, but I believe it is a race case with loading the results. I see it happen when the UI is lagged and struggling.
1. Set source to nuget.org
2. Scroll down the browse package list using page down.
3. When scrolling becomes lagged hit package up

![image](https://cloud.githubusercontent.com/assets/6381138/13270721/db4b79f4-da44-11

[2016-02-24 01:08] moozzyk opened #2163 "Too many open files when restoring on Mac"
Looks like the fix for https://github.com/NuGet/Home/issues/2004 was not enough. I am still hitting the same issue on some repos.

I am using dotnet-osx-x64.1.0.0.001496.tar.gz which contains the fix for #2004

To repro:
- clone https://github.com/aspnet/Security
- remove all cached packages
- run ./build.sh

Log from the CI:
https://s3.amazonaws.com/archive.travis-ci.org/jobs/111327930/log.txt

[2016-02-24 02:18] yishaigalatzer commented on #2158
@zhili1208 this looks like a duplicate (in some sense) of ignoring a corrupted nuget.config file, that we decided to fix. Can you confirm?

[2016-02-24 02:21] piers7 commented on #1907
/? should be supported as well. Having to know the right syntax to use to find out the right syntax is just poor.

[2016-02-24 02:26] yishaigalatzer commented on #1966
@TiltonJH thanks for pointing this out, I think there is definitely a confusion here. The .nuget folder was intended for supporting solution level packages only.

While we need to figure this out, I don't see us getting to it right away, I'm also afraid of potential side effects of this on existing users that might have a nuget.config in that folder where it was never active and all of the sudden

[2016-02-24 02:55] ellismg opened #2164 "Allow configuration of machine wide location for nuget configuration."
As I mentioned in #1899, different vendors want to control where NuGet configuration data is loaded from, as the `/etc/opt` may not always be correct.

A concrete example is Red Hat, which wants to package the CLI (and hence nuget) in something they call a Software Collection.  One of the goals of Software Collections is that there's isolation between the packages from the software collection and

[2016-02-24 02:57] piers7 opened #2165 "nuget.exe push needs different URL to nuget.exe list (with Nuget.Server)"
When running an internal Nuget.Server, the [docs](https://docs.nuget.org/create/hosting-your-own-nuget-feeds#step-5:-deploy-and-run-your-brand-new-package-feed!) and start page tell you to put a URL in this form into Visual Studio package manager:

This works fine in Visual Studio (2013), and in the command line nuget.exe (3.3.0.212 - ie latest) if you **list** packages:

When you come to **push**

[2016-02-24 03:18] yishaigalatzer commented on #2165
This is definitely not a NuGet client issue. @maartenba can you see what it means to change it in the new nuget.server? (basically it would need to allow both URLs as push end point)

[2016-02-24 03:30] yishaigalatzer commented on #2150
@MatthewSteeples Can you please also give us information on the machine - What OS, what version of .NET, and do try to get both MTR logs and a Fiddler trace, it should be doable you will have to log in on the machine with a Remote desktop for that.

You can find information on MTR & Fiddler on this doc - https://docs.nuget.org/consume/nuget-faq

[2016-02-24 06:46] emgarten commented on #2102
NuGet/NuGet.Client@16a7798c143ab8bb6707464ca3a49ba5e21fb8c1

[2016-02-24 06:46] #2102 closed, assigned to emgarten

[2016-02-24 06:51] emgarten commented on #1763
The final part of this is fixed in https://github.com/NuGet/NuGet.Client/pull/289

[2016-02-24 06:51] #1763 closed, assigned to emgarten

[2016-02-24 07:20] maartenba commented on #2165
This issue was moved to NuGet/NuGetGallery#2903

[2016-02-24 07:20] #2165 closed, assigned to maartenba

[2016-02-24 07:21] maartenba commented on #1066
Will be tackled with https://github.com/NuGet/NuGetGallery/issues/2824

[2016-02-24 07:21] #1066 closed

[2016-02-24 07:21] maartenba commented on #2042
Will be tackled with https://github.com/NuGet/NuGetGallery/issues/2824

[2016-02-24 07:21] #2042 closed, assigned to nobody

[2016-02-24 07:37] davidfowl opened #2166 "Error message when missing version range does not say which package is missing a package dependency"
This makes it hard to figure out what to fix.

[code]

Full log:

https://gist.githubusercontent.com/colemickens/258b15db0fc8ffa41ef2/raw/7d92c6c6d2dc853b5f58f34db02599090ba64a66/gistfile1.txt

[2016-02-24 08:16] andycmaj opened #2167 "Absolute Package paths break nuget push on mono"
## Problem

Apparently, this is a problem when running nuget on mono (tested with both 2.8.5 and 3.X.X).
Seems to break when passing absolute package paths as arguments.
### :-1: Running Nuget With Absolute Package Path

[code]

Notice how it tries to append the absolute path it's given to the current working directory:

### :+1: Running Nuget With Relative Package Path

[code]

Great success!
##

[2016-02-24 10:16] alexdegroot commented on #1521
To give an example of how we'd like to use it in a large multi-solution project:
All rulesets for different targets(CSharp, Cpp, CSharpTest & CppTest) would be added to this quality packages, combined with runsettings, clonesettings and Resharper settings. In the projects we'll refer to $(solutionDir)RuleSet4CSharp.ruleset.
This will give me the advantage that we can centrally push these things, w

[2016-02-24 11:10] endeffects opened #2168 "How to download Beta Builds for 3.4"
Hallo,

i'd like to download the beta builds for version 3.4 of the nuget command line tool. Are they available for download?

[2016-02-24 14:33] duduamar opened #2169 "nuget pack fails to recreate a package"
I have a simple nuget package that I am creating. When I create it using "nuget pack", it works and creates the .nupkg file, but when I rerun the same command I get this error:

`The process cannot access the file '<my .nupkg file>' because it is being used by another process.`

But - no one is using this file (I checked through Process Explorer, and also I am able to simply delete it). When I del

[2016-02-24 15:02] Alovchin91 commented on #2120
@yishaigalatzer I'm sorry, I don't get what do you suggest by placing the dlls only in the targets?

[2016-02-24 15:27] duduamar commented on #2169
More details about this, this is the output with verbose:

[code]

I have created a very simple C# file calling the FileStream ctor:

[code]

And the program works as expected:
`FileStrem opened True <the existing nupkg file>`

So, to sum up - seems like two exact calls to FileStream ctor produce different results, this is where I am right now, will appreciate any help.

[2016-02-24 17:05] analogrelay opened #2170 "Disable RID Inference in Cross-Plat Command Line"
In the cross-plat command line, we should no longer infer RIDs (as per the discussions around building portable applications using .NET CLI). This also has the side effect of avoiding guardrails failures when targeting platforms where the standard library is already present in a redistributable.

/cc @davidfowl @ericstj @emgarten

@yishaigalatzer This is part of the work we discussed earlier this

[2016-02-24 17:10] analogrelay opened #2171 "Write "subtargets" to RID-less graph in Cross-Plat Restore"
As discussed earlier in person with @emgarten and @yishaigalatzer, in order to support shared-framework apps, we need to encode some additional data into the lock file describing the RID-specific assets within a package. This does not need to affect restore algorithms, just how we build the lock file.

Given a package with the following structure (just a contrived example, not necessarily accurate

[2016-02-24 17:11] analogrelay commented on #2171
My prototype code is in a branch on NuGet.Client. This is the starting point for the changes: https://github.com/NuGet/NuGet.Client/blob/anurse/phat-apps/src/NuGet.Core/NuGet.Commands/LockFileUtils.cs#L176

[2016-02-24 17:20] analogrelay opened #2172 "Add RID-fallback data to the lock file"
For shared framework apps, we need to encode some additional data about the RID-fallback logic into the lock file for RID-less targets. First, we capture concrete RIDs by allowing the use of the `#concrete` value in `runtime.json`. This is an optional property that defaults to `false` and is simply tracked in the runtime graph data model. For example:

[code]

When generating the lock file, first

[2016-02-24 17:31] eeinworks8 commented on #1823
I see the clickable link issue was tagged, but is there any plan to add Release Notes back into VS 2015???

[2016-02-24 17:37] HSAR commented on #977
Is there any resolution to this? I'm referencing Nuget core version 3.3.0.212 and finding that all Owners fields are returning empty, as OP did. Authors is not affected.

[2016-02-24 17:48] ericstj commented on #2170
/cc @dagood We may need to react to this in corefx.

[2016-02-24 17:56] analogrelay commented on #2170
Good catch @ericstj, let us know how we can best stage this to ensure we don't cause major problems in corefx :)

[2016-02-24 18:06] emgarten commented on #2169
This may be caused by the nupkg being added to the new nupkg you are creating. When it tries to write out the new nupkg it finds that it is already in use. Remove the old nupkg first.

[2016-02-24 18:07] emgarten commented on #2114
NuGet/NuGet.Client@3bb16d3467f5680eefa61365fa5acc401e70ab6c

[2016-02-24 18:08] analogrelay commented on #2170
Dupe of #2114 which was just closed.

[2016-02-24 18:08] #2170 closed, assigned to nobody

[2016-02-24 18:09] analogrelay commented on #2114
@ericstj had some concerns this might cause some issues in corefx. /cc @dagood

If corefx is using the `runtimes` section everywhere though, nothing should have to change.

[2016-02-24 18:17] duduamar commented on #2169
But I am running nuget pack with "-Exclude *.nupkg", shouldn't that take care of that?

[2016-02-24 18:19] dagood commented on #2114
I'll have to look into that... I haven't seen if/how the inferred+restored runtime packages are used in the corefx build. There aren't `runtimes` sections on most corefx project.jsons (some were added as workarounds for inferred RID issues--excited to take those out!) but I think they're present where runtime packages are actually needed. Thanks!

[2016-02-24 18:20] duduamar commented on #2169
Indeed, seems like you are right - when I use a different output path (meaning the contents of the package and the package files are now separated) - this works as expected. I still think the exclusion of nupkg files should've helped here.

[2016-02-24 18:47] patrickjamesbarry commented on #2158
[code]

[2016-02-24 20:04] d054702741 opened #2173 "Error message when build my project"
I'm trying to build my project and I've got the following error:

Error   1   Cannot implicitly convert type 'TestStack.White.UIItems.WindowItems.Window' to 'System.Windows.Window'  c:\users\daniel.cbt\documents\visual studio 2013\Projects\I2K-White\I2K-White\MainWindow.xaml.cs    37  33  I2K-White

My program:

using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;

[2016-02-24 20:43] yishaigalatzer commented on #2120
Create a target file with your dlls referenced, don't put them in the lib and pivot in the msbuild target.

Alternatively push the packages to two feeds and if you want debug builds clear the cache swap the feeds and restore

[2016-02-24 20:58] Dashue commented on #2132
Hey, thanks for your input.

Do you possibly know the ticket number for that issue?

The update is done through "Package Manager Console", I've possibly run "nuget update -self" there, could that explain the version? I do also have vs2015 installed.

I don't think it's caused by your 1)

As if I install a package into project X, then clean and build, it would have removed it again from packages.co

[2016-02-24 21:22] dagood commented on #1936
I'm hitting this package/issue now while trying to upgrade coreclr to xplat nuget restore. What's the status on this? Are we waiting for a fix from xunit?

/cc @ericstj

[2016-02-24 21:28] bradwilson commented on #1936
This will be fixed in 2.2 Beta 2, which will ship shortly after .NET Core / ASP.NET Core RC 2 ships.

[2016-02-24 21:54] yishaigalatzer commented on #2173
Hey Daniel,

I think we have a bit of a confusion here. This repo tracks the work to build the NuGet clients rather than the place to discuss individual packages.

Please contact the package owner directly on his page https://www.nuget.org/packages/TestStack.White/ContactOwners , or post a stackoverflow question.

[2016-02-24 21:54] #2173 closed, assigned to nobody

[2016-02-24 21:57] bradwilson commented on #1936
FWIW, this "expectation" is a new requirement, as the single underscore file works just fine with `packages.config` based projects.

[2016-02-24 22:03] yishaigalatzer commented on #2169
Thanks for reporting this.

I tend to agree that -Exclude should have helped, but given that you don't want to pack over the same object.

We have seen quite a few packages that include an older version of themselves in, and bloating up the size because sometimes you get an inception scenario where it is actually recursively including older versions as you repack again and again.

Best suggestion

[2016-02-24 22:06] yishaigalatzer commented on #2168
Yes they are on - http://myget.org/gallery/nugetbuild in the nuget.commandline package. Of course these are CI builds, with low guarantees on quality.

[2016-02-24 22:06] #2168 closed, assigned to nobody

[2016-02-24 22:10] yishaigalatzer commented on #2006
@zhili1208 can we please share with him the build we had that fixes the icon loading ?

[2016-02-24 22:11] ericstj commented on #2114
@dagood We'll require a runtime section wherever we are resolving for a concrete target framework in order to satisfy the gaurdrails check.  I think we just need to be careful about picking up this new build of the CLI and add the right RIDs to our projects to continue to satisfy gaurdrails.

If you can give us a build of this up front to test before it goes into the CLI that should help us avoid

[2016-02-24 23:08] emgarten commented on #2166
This is fixed in the latest build. NuGet/NuGet.Client@0db56afa511667ea8ba1add3309e432a3ed5cf34

[2016-02-24 23:08] #2166 closed, assigned to nobody

[2016-02-24 23:15] emgarten commented on #1936
@bradwilson interesting, it may have been that case that the packages.config compat check was happy with any file at all in the directory. Project.json is stricter in how it checks for files to make sure that the project is actually going to use the package.

[2016-02-24 23:48] kichalla commented on #2004
@zhili1208 I am seeing this issue again on Mac. I am using the dotnet CLI version `1.0.0.001496`. (On a side note: How easy it is for me to find if a given dotnet CLI has the fix or not? I tried looking for a commit SHA embedded in the NuGet.Client and other NuGet.\* assemblies but couldn't find one)

@muratg

[2016-02-25 00:08] zhili1208 commented on #2006
@Heinzelemente can you send your email address to me? I can share a private build with you, it might fix your issue, my email is lzhi@microsoft.com. Thanks

[2016-02-25 00:24] deepakaravindr opened #2174 "E2E Test InstallPackageMissingPackage fails if 'Microsoft and .NET' curated feed is enabled"
E2E Test InstallPackageMissingPackage fails if 'Microsoft Dot Net' curated feed is selected

Repro steps:
1. Enable the machine wide package source 'Microsoft and .NET'
2. Open VS. Open PMC. Import-Module $gitRoot\NuGet.Client\test\EndEnd\NuGet.Tests.psm1
3. Run-Test InstallPackageMissingPackage

(Before doing (1), you could  Open Admin Powershell and Run $gitRoot\NuGet.Client\scripts\e2etests\Set

[2016-02-25 00:28] moozzyk commented on #2004
@kichalla - I could not reopen this so I filed a new issue for Too Many Open files yesterday. See #2163

[2016-02-25 00:52] jasonmalinowski commented on #1980
One possible workaround: instead of creating this directly into the ApplicationDefinition group, create it under your own group, and then also include a .targets in your package that finds that item and adds it to ApplicationDefinition with the metadata you want. I really don't want to go down the rats nest of NuGet having to know about each type of metadata that you need (but I admit that's proba

[2016-02-25 01:09] clairernovotny commented on #1980
I would not suggest that NuGet should know about any metadata. I would suggest that there be a generalized key/value mechanism where the package author can specify arbitrary metadata that the build system can transform into an appropriate format.

[2016-02-25 01:15] yishaigalatzer commented on #1980
That is what targets are for, the generalozed settings discussed only work in msbuild. From what you are saying you are just need support for transforming a pp file as input to your target

[2016-02-25 01:20] clairernovotny commented on #1980
Yes, sorta, sure.

Point being is that Page and ApplicationDefinition were already put as supported item types, but they can't work without that extra metadata.

[2016-02-25 01:23] yishaigalatzer commented on #1980
Jason that's in your field. I would say that we want default stuff to work at least

[2016-02-25 01:25] jasonmalinowski commented on #1980
Well we have to be careful with "default stuff" here. I just pass through the value unchanged from the lock file. Did we document a list of types that we expect to really work?

[2016-02-25 01:39] clairernovotny commented on #1980
Btw,  I'm referring to that whitelist for validating the item types on restore.

[2016-02-25 02:01] yishaigalatzer commented on #2167
@andycmaj we just updated nuget 3.4 push code to work xplat. Can you give it a try?

It is a available on my http://myget.org/gallery/nugetbuild

[2016-02-25 02:41] yishaigalatzer commented on #1847
The list is now a scrollable list of projects within a bigger tab which is scrollable.

You still can't scroll the two with the mouse, but it is much clearer. There is also a drag bar that lets you separate the two areas.

![image](https://cloud.githubusercontent.com/assets/1238711/13308203/350c6e80-db26-11e5-8c41-ad1d4a23a7b7.png)

[2016-02-25 02:41] #1847 closed, assigned to nobody

[2016-02-25 02:44] yishaigalatzer commented on #1588
@davidfowl can we break out what is left in this bug and still required. We are locking down 3.4 beta, and I want this one closed with whatever we have done already

[2016-02-25 02:47] yishaigalatzer commented on #923
Duplicate

[2016-02-25 02:47] #923 closed

[2016-02-25 02:48] yishaigalatzer commented on #895
This is now a warning, so the ask is to be able to suprress it

[2016-02-25 02:53] yishaigalatzer commented on #744
@stunney, I'm moving out, since this is now been stale for quite some time. We will pull it back when a PR is submitted

[2016-02-25 02:55] yishaigalatzer commented on #623
Closing this as looks like the interest in this area subsided. We can revisit if the ask comes up again

[2016-02-25 02:55] #623 closed

[2016-02-25 02:57] yishaigalatzer commented on #642
@stefann42 are you still able to repro this issue? This is something we definitely test for and know works, so please let us know if you see a repro with 3.3 and we can re-open

[2016-02-25 02:57] #642 closed

[2016-02-25 02:59] yishaigalatzer commented on #304
@MeniZalzman did you actually ever finish this?

[2016-02-25 03:01] yishaigalatzer commented on #527
Since we have no more feedback on this, and we have a bug with details https://github.com/NuGet/Home/issues/2158, I'm closing as a dup

[2016-02-25 03:01] #527 closed

[2016-02-25 03:05] yishaigalatzer commented on #2107
@alpaix please provide more details, what reference are you referring to (docs.nuget.org ? somewhere else)

[2016-02-25 03:06] yishaigalatzer commented on #2106
@emgarten @davidfowl sounds like a good bug to fix. was there a reason why we ignored missing projects as references?

[2016-02-25 03:08] yishaigalatzer commented on #2109
I believe the solution for this was to summarize the errors on the bottom of the restore output, we should also summarize errors

[2016-02-25 03:11] yishaigalatzer commented on #2108
@victorhurdugaci we already track invalid config files. But I assume that you have a config file somewhere else that provides feeds? If so please close, we are already handling this. If not please provide more details

[2016-02-25 03:14] yishaigalatzer commented on #1302
Summary: Any invalid config file that should be picked up, but fails to load should be turned into an error message that shows both in the UI and commandline. The error should be meaningful and point to the filename/file path and location in the file

[2016-02-25 03:15] yishaigalatzer commented on #2108
https://github.com/NuGet/Home/issues/1567

[2016-02-25 03:16] yishaigalatzer commented on #1567
Summary: Any invalid config file that should be picked up, but fails to load should be turned into an error message that shows both in the UI and commandline (both nuget.exe and xplat). The error should be meaningful and point to the filename/file path and location in the file.

This should work both for the scenario where you pass in a -configFile or the config file is on disk, see https://github

[2016-02-25 03:16] yishaigalatzer commented on #1302
https://github.com/NuGet/Home/issues/1567

[2016-02-25 03:16] #1302 closed, assigned to zhili1208

[2016-02-25 03:19] yishaigalatzer commented on #2143
Also forgot to mention, make sure you are using nuget 3.3 and visual studio Update I

[2016-02-25 03:21] yishaigalatzer commented on #2132
Hey @Dashue can you please clarify your situation, I'm a bit confused because you discuss nuget.exe and Package Manager Console in Visual studio. Which of them are you using?

Second question: Is the package removed from the packages.config file or from the packages folder?

[2016-02-25 03:21] yishaigalatzer commented on #2135
@johnataylor did you fix this already?

[2016-02-25 03:23] yishaigalatzer commented on #2128
Sounds like a good idea, we can look at it in the next release, or we can take a PR if someone is inclined to add it

[2016-02-25 03:26] yishaigalatzer commented on #2103
We are not supporting nuget.core anymore, it is going away and we are just chipping away at it. We definitely do not use it for resolving dependencies or reporting errors and we don't plan to make any changes in that area of the code base.

If you see similar issues with the new code base we'd love to know and fix.

[2016-02-25 03:26] #2103 closed, assigned to nobody

[2016-02-25 03:27] yishaigalatzer commented on #2104
What did DNU do in this case?

[2016-02-25 03:31] yishaigalatzer commented on #2101
To be honest I'm not sure, and as we don't plan to support nuget.core going forward, not sure I'm inclined to dive into this to figure it out. Sorry I really don't mean to push you off, just not familiar enough and focused elsewhere at the moment.

I'm moving to the discussions milestone, the nuget2 code is of course available on github.com/nuget/nuget2 for your convenience.

[2016-02-25 03:33] yishaigalatzer commented on #2100
Cool. Glad to hear you unblocked yourself by the time we got back to you (and sorry for taking this long).

I'm moving to the discussions milestone, so folks might be able to find it later.

Thanks again!

[2016-02-25 03:33] #2100 closed, assigned to nobody

[2016-02-25 03:34] #2091 closed, assigned to nobody

[2016-02-25 03:35] yishaigalatzer commented on #2071
@emgarten lets move this up, so we can find any issues with existing packages faster.

[2016-02-25 03:37] yishaigalatzer commented on #1883
This is going to get resolved when we implement the netstandard TFM. So your approach is correct because the metapackage prevents the dependencies from being installed into the 4.6 project

[2016-02-25 03:38] yishaigalatzer commented on #1883
I'm closing because this should be handled as soon as netstandard is out (and it is already coded in 3.4),

[2016-02-25 03:38] #1883 closed, assigned to nobody

[2016-02-25 03:43] ericstj commented on #2082
That'd be this one:
https://github.com/nuget/home/issues/1660
Spec is here:
https://github.com/dotnet/cli/issues/465

[2016-02-25 03:48] ericstj commented on #2071
We are intentionally lifting up this dependency, what do you think you're going to achieve by downgrading our lineup?

[2016-02-25 04:05] yishaigalatzer commented on #2071
The intent is that the user has the decision at the top level of what dependencies to install. In this mode there is no way to override a package lifting up dependencies. This was never an intended feature.

So after the change the user is back in full control, however he will get a downgrade warning, and can fix it. Once he uses a top level lineup he should be good and never have to specify indiv

[2016-02-25 04:17] davidfowl commented on #2104
Same behavior as if a package had a missing framework

[2016-02-25 04:24] stefann42 commented on #642
Sorry, I don't have the time to recreate the test setup to verify. If you fixed it and test for it by all means it should be closed.

[2016-02-25 04:30] maxcelcat opened #2175 "VS2015 freezes on startup loading Nuget Packages"
Visual Studio 2015 Enterprise is freezing for me when I load a solution with six projects and a fair number of packages. See the attached screenshot of the state VS is stuck in. Eventually I have to kill it from the task manager.

The only work around I have is If I delete the entire contents of the "packages" directory, the solution loads correctly.

I did a debug dump of VS2015 itself while it w

[2016-02-25 05:00] muratg commented on #2004
@zhili1208 Could you have a look? This was OK for a while, so not sure what the regression is. Perhaps CLI picked up an older build of nuget?

[2016-02-25 05:26] pranavkm opened #2176 "Consider writing errors to the error stream"
Ported from: https://github.com/dotnet/cli/issues/1331

We've set up our CI to read any output written to the error stream and format it so that errors get highlighted in the CI's summary and build failure emails. This worked well with `dnu build` \ `dnu pack` \ `dnu restore` since errors generated by these tools were written to standard error.
Unfortunately this is not the case with `dotnet` tool

[2016-02-25 05:31] yishaigalatzer commented on #2104
Thanks

[2016-02-25 05:42] emgarten commented on #2106
@yishaigalatzer not that I know of, this looks like a bug. It's likely getting around the normal checks because it specifies the project type and does not fall back to searching for a package when the project is not found.

[2016-02-25 07:00] andycmaj commented on #2167
I'd be happy to... can you provide quick instructions on which package/executable i should use on osx?

[2016-02-25 07:01] andycmaj commented on #2167
ah i guess it's NuGet.CommandLine.3.4.0-beta-659.nupkg with nuget.exe

[2016-02-25 07:12] andycmaj commented on #2167
yeah looks like 3.4 is working great! feel free to close with the 3.4 label or whatever your process

[2016-02-25 07:39] mohanr opened #2177 "InvalidArgument: (:) [Join-Path], ParameterBindingException"
What is the cause of this ? I am a new .NET user.

`

[code]

`

[2016-02-25 07:50] Dashue commented on #2132
Using package manager console.
Removed from packages.config, not from folder

Cheers

Sent from phone
On 25 Feb 2016 3:21 a.m., "Yishai Galatzer" notifications@github.com
wrote:

[2016-02-25 07:54] andycmaj commented on #2167
so question... does nuget 3.4 automatically try to publish any `symbols.nupkg` files it finds to a hard-coded symbol server?
i'm seeing this now:

[code]

[code]

[2016-02-25 08:46] GeertvanHorrik commented on #2101
Ok, what is the right package to use in the future for our extensibility if NuGet.Core is being marked obsolete?

[2016-02-25 08:49] dazinator commented on #2103
Cool. May I ask if there is / will be an alternative to aggregaterepository in v3? Will NuGet.PackageManagemet support this in future? I rely on this ability to resolve dependencies from multiple sources at package install time.

[2016-02-25 08:54] dazinator commented on #2100
Thanks. I guess i'd love to know when / if `PackagesConfigNugetProject` is going to work in v3 in terms of actually extracting nuget packages so that I can switch away from using my own "fixed" version of this code! Cheers

[2016-02-25 09:35] Heinzelemente commented on #2006
@zhili1208 I sent you an email. You can send me the private build via this contact.
Thanks

[2016-02-25 11:55] HSAR opened #2178 "Owners field always blank"
The NuGet package property Owners is null in the data class when retrieved using NuGet.Core, and missing entirely from the JSON pulled down - see:

https://api-v3search-0.nuget.org/query?q=Id:Wintellect.Analyzers

The above package definitely has information in the Owners field, as it is listed on the NuGet.org website:

https://www.nuget.org/packages/Wintellect.Analyzers/

But it does not appear

[2016-02-25 14:01] isaacabraham commented on #2071
@ericstj If the user _explicitly_ specifies a specific version of a dependency, the package manager should never silently replace it with something else - even if it's the "wrong" thing insofar as runtime dependencies etc.

It should simply do the best it can with the users requirements and (as @yishaigalatzer says) offer a warning that it is missing a recommended version of a runtime dependency.

[2016-02-25 15:05] forderud opened #2179 "Unable to build NuGet.Core.sln (with ',' as decimal separator)"
Steps to reproduce:
- Clone NuGet.Client repo & switch to latest commit on "dev" branch (1756e1e0dbc5ef56435d1b80b6cc1d2465496142 as of 2016-02-25).
- Open NuGet.Core.sln in VS2015 community, Update 1.
- Build NuGet.Common in debug from IDE.

Error message:

[code]

32 out of 55 projects in the solution fail with the same erorr message. Building with the build.ps1 script and NuGet.Client.sln succe

[2016-02-25 15:18] yishaigalatzer commented on #2100
No plans at the moment to make changes there

[2016-02-25 15:19] yishaigalatzer commented on #2103
You can pass multiple sources to restore. Follow the code in restore command in nuget.exe

[2016-02-25 15:20] yishaigalatzer commented on #2101
It is a set of packages, depending what you want to do. I would follow the code from nuget.commandline project as a sample

[2016-02-25 15:21] yishaigalatzer commented on #2167
Yes it does and we will eventually change it

[2016-02-25 15:22] ericstj commented on #2071
I'm trying to understand if you have a real problem you were trying to solve by doing this or if it is purely hypothetical.  I don't disagree with the hypothetical concern, though in the runtime case it's never going to be a good idea to downgrade.

[2016-02-25 15:29] yishaigalatzer commented on #2071
A typical problem would be a package that is too aggressive about upgrading and leading to a bug. You have no way to downgrade a dependent package that introduces the bug or "changed behavior"

Sent from Outlook Mobilehttp://aka.ms/xp9y6l

On Thu, Feb 25, 2016 at 7:22 AM -0800, "Eric StJohn" <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm trying to understand if you have a

[2016-02-25 15:38] ericstj commented on #2071
I understand the theoretical concern.  I'm trying to understand if folks are hitting such a problem today.

[2016-02-25 16:13] yishaigalatzer commented on #2071
Practically people shouldn't be hitting the problem which is why we shouldn't need to lift and if we protected the way I'm suggesting all packages will be authored without warnings (assuming authors address warnings)

[2016-02-25 16:14] davkean opened #2180 "NuGet restore occasionally outputs "A task was cancelled" during restore of Roslyn.sln"
We do ~100s of NuGet restores a day, every couple of days, restores fails our pull request & rolling builds with the following:

`A task was cancelled`
https://github.com/dotnet/roslyn/issues/9159

We've hit this with 3.4.0.645, but have also hit it with other 3.4.0.N builds that we've used in the past.

We've just started using restore even more on every Windows build, which will triple the numbe

[2016-02-25 16:14] isaacabraham commented on #2071
In terms of practicalities NuGet doesn't currently do this as far as I'm aware?

I think a part of this is about trusting the package manager - I can also see people raising bug reports about this behavior in future because it (as David said earlier) looks like voodoo.

The second reason is simply that for whatever reason one might need an older version of a given dependency - there can be all sor

[2016-02-25 16:54] johnataylor commented on #2132
@dashue it would be great if you could construct a solution with multiple projects that exhibits the behavior you describe and send it to us (or alternatively describe the steps exactly) can you do that?

[2016-02-25 17:31] dotnetchris commented on #1143
Solution was created in VS2013 with Nuget.org v2

Colleague setup a new machine with VS2015, out of box it uses Nuget.org v3

Colleague could not get packages to restore.

Work around was to modify the solution level nuget.config to add `<add key="Nuget.org v2" value="https://www.nuget.org/api/v2/" />` as an explicit package source.

I really don't understand why this had to be done. https://www.n

[2016-02-25 17:44] yishaigalatzer commented on #1143
I just tried your scenario with NuGet 3.3 and Visual Studio Update I and I don't see anything going on.

So I would suggest a few things:
1. Update to NuGet 3.3
2. There was an outage in the CDN a couple of days ago, does this happen right now?

As your report does not seem to be directly related to this I would appreciate that if you are still seeing issue, would you be able to open a separate bu

[2016-02-25 17:44] #1143 closed

[2016-02-25 17:46] yishaigalatzer commented on #2180
Dup of #2174, doesn't quite look like it, but the root cause is the same. We have a fix in flight

[2016-02-25 17:46] #2180 closed, assigned to nobody

[2016-02-25 17:47] yishaigalatzer commented on #2179
You have to build once with the build.ps1 script first, does it still fail afterwards?

[2016-02-25 17:57] yishaigalatzer commented on #2178
1. NuGet.Core is no longer a supported codebase.
2. V2 search does have the data (as expected) - https://nuget-prod-0-v2searchwebsite.azurewebsites.net/search/query?q=id:Wintellect.Analyzers
3. V3 search does not support owners yet again as expected but we are working on a deployment that will do so shortly. CC @maartenba

[2016-02-25 17:57] #2178 closed, assigned to nobody

[2016-02-25 18:00] yishaigalatzer commented on #2177
There was a bug in 1.0.0.

Please update to https://www.nuget.org/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform/1.0.1

And also make sure you run nuget 3.3 (it comes with update one of visual studio 2015, or you can go to the Tools-Extensions and Updates)

[2016-02-25 18:00] #2177 closed, assigned to nobody

[2016-02-25 18:16] bartonjs opened #2181 "NuGet.Common uses very old CoreFx packages"
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Common/project.json

[code]

The 23109 packages were built more than 7 months ago at this point.  In particular, these references lead to inconsistent type graphs for users because they are pulling in packages that have been deleted and/or refactored.

[code]

Everything in System.Security.Cryptography.Encryption was moved to Syst

[2016-02-25 18:59] #2181 closed, assigned to nobody

[2016-02-25 18:59] yishaigalatzer commented on #2181
Duplicate, we are working on moving to .NetStandard and it should move up this week or early next week.

CC @emgarten

[2016-02-25 19:02] #2025 closed, assigned to zhili1208

[2016-02-25 19:08] #2070 closed, assigned to zhili1208

[2016-02-25 19:13] yishaigalatzer commented on #2176
We are going to keep the info label, but we should write errors to the error stream.

[2016-02-25 19:18] yishaigalatzer commented on #2175
The interesting thing is that NuGet is not loaded into memory when a solution is loaded and doesn't participate in the process at all. So I would be very interested to find why you think NuGet is part of the issue (of course packages are part of the game because the projects load dlls from them).

One of few things that might load NuGet is if you have the powershell console open, does this repeat

[2016-02-25 19:32] eerhardt opened #2182 "PackageUpdateResource Push should allow for a Stream input"
PackageUpdateResource.Push currently takes in a "packagePath" parameter. It should also have an overload for a stream for the cases where consumers have the package already in memory.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol.Core.v3/Resources/PackageUpdateResource.cs#L39

My current scenario is that I am downloading a package from one feed and pushing it to ano

[2016-02-25 19:53] adamralph commented on #1521
@alexdegroot a solution level package is one that does not touch any .csproj files when it is installed.

This is a characteristic of a project level package.

[2016-02-25 20:01] yishaigalatzer commented on #2182
Really sorry, but we are not making NuGet3 a general purpose library. You can save it to disk and read it from disk.

[2016-02-25 20:01] #2182 closed, assigned to nobody

[2016-02-25 20:15] martincostello commented on #1521
I've set up projects where all projects share a single common targets file, and things are pulled in that way. In this scenario a global packages.config file is a great way to pull in a single package to use in dozens of projects without the churn and noise of installing it into them all individually.

[2016-02-25 20:18] yishaigalatzer commented on #1521
@martincostello it's great that you did ;) This is not the bug to discuss it. And this is exactly the reason we want to separate the two issues completely.
1. Global way to install tooling into a project
2. A way to commonize package versions across a solution or reuse package definitions across a solution.

BTW if you move to project.json the churn dies out, all you do is update the project.json

[2016-02-25 20:22] jaoord opened #2183 "Cannot add migration: Unable to find type [NuGet.VisualStudio.IVsPackageInstallerServices]."
I cannot add a migration to my new EF 6.1.3 project. I get the following error:

[code]

I start VS2015 in Admin mode and I cleared the ComponentModelCache.

[2016-02-25 20:23] jaoord commented on #2183
I removed EF6.1.3. from my project and then re-added it. That seemed to fix the issue for now ...

[2016-02-25 20:23] #2183 closed, assigned to nobody

[2016-02-25 20:27] emgarten opened #2184 "Use owners instead of authors in the UI"
If the owners field exists in search or registration metadata it should be displayed instead of the authors field. The owner information is official and can be trusted from nuget.org. Authors on the other hand is just set in the nuspec and could be misleading.

Local package sources will not contain owner information, those may continue to display the author information from the nuspec.

[2016-02-25 20:36] emgarten commented on #2089
I think the goal should be:
Open NuGet UI, install tab loads - ZERO http calls are made
Click on Browse tab -> ONE http call is made

[2016-02-25 20:39] johnataylor commented on #1139
we are going to use #2089 to track the perf issue from here

[2016-02-25 20:39] #1139 closed

[2016-02-25 21:04] alpaix commented on #2107
@yishaigalatzer Updated description with official NuGet documentation page link.

Also attaching an image from [TechNet](https://technet.microsoft.com/en-us/library/hh849901.aspx) as a reference example for full parameters documentation:
![image](https://cloud.githubusercontent.com/assets/8239356/13334250/f498beae-dbbf-11e5-9b06-6bfa0bcb77a3.png)

[2016-02-25 21:35] TheRealPiotrP opened #2185 "Dotnet Restore Support for Shared Framework and FAT Apps"
- [x] #2171
- [x] #2172

[2016-02-25 21:50] konste commented on #1416
+1
Any idea when approximately it is going to be available? We need it badly.

[2016-02-25 21:57] dotnetchris commented on #1143
My colleague already had the latest version of Nuget, this happened within minutes of when i posted today so not during the CDN outage you mentioned.

[2016-02-25 22:01] emgarten opened #2186 "Suppress downgrade warnings for project references"
Projects are allowed to omit the version property, but when using this a warning is displayed.

[code]

[2016-02-25 22:02] zhili1208 commented on #1416
@konste I will try to fix this soon, maybe next week

[2016-02-25 22:07] konste commented on #1416
Great! Thanks a lot @zhili1208 ! I would rather not wait for the official 3.4 RTM, but pick up the build with this fix as soon as it is available. Going through 250 packages to extract licenses manually does not look like fun to me :-(

[2016-02-25 22:34] dmccaffery commented on #1521
@yishaigalatzer Yay for project.json! ... now if only we can kill off xproj entirely... ;-)

[2016-02-25 23:29] yishaigalatzer commented on #1143
If you can still reproduce this, please open a new bug like I suggested and add a fiddler trace from your machine if possible

[2016-02-25 23:34] yishaigalatzer commented on #2185
Thanks @piotrpMSFT @anurse is there anything else here that we are missing for this feature?

[2016-02-25 23:43] #2184 closed, assigned to nobody

[2016-02-25 23:44] yishaigalatzer commented on #2184
#442

[2016-02-25 23:49] #2154 closed, assigned to alpaix

[2016-02-25 23:50] yishaigalatzer opened #2187 "Bring back and finish image loading optimization"
https://github.com/NuGet/NuGet.Client/commit/a66e74ef6aa40ceb032bf52b1684cc3bf57f63f9 was reverted because it introduced a bug, and make the UI a bit more clunky to scroll. The work needs to be finished and pushed again

[2016-02-26 00:18] #2174 closed, assigned to joelverhagen

[2016-02-26 00:23] joelverhagen commented on #2133
Closed with https://github.com/NuGet/NuGet.Client/pull/289.

[2016-02-26 00:23] #2133 closed, assigned to joelverhagen

[2016-02-26 01:23] andycmaj commented on #2167
ok is there an existing issue for this?

[2016-02-26 01:26] joelverhagen commented on #2174
Fixed with https://github.com/NuGet/NuGet.Client/pull/298.

[2016-02-26 01:35] yishaigalatzer commented on #2167
Go ahead and open one

[2016-02-26 03:49] piers7 opened #2188 "Docs inconsistent on resolving multiple config files"
I'm pretty confused about how the multiple-configuration file resolution happens, and the docs don't seem to help.

Within the [Nuget Configuration File](https://docs.nuget.org/consume/nuget-config-file) page there appear to be two different, conflicting accounts of how this work.

The '[chaining multiple configuration files](https://docs.nuget.org/consume/nuget-config-file#chaining-multiple-confi

[2016-02-26 03:59] emgarten commented on #2172
RIDs will not longer be added to the lock file according to the latest plan. //cc @glennc

[2016-02-26 04:10] emgarten opened #2189 "Null reference occurs when project depends on a package with the same name"
Null reference occurs when a project depends on a package with the same name
1. Create a project.json in a folder named test
2. Add a reference to package TEST in the project.json dependencies
3. Restore

Casing may be a factor.

[2016-02-26 04:34] davidfowl opened #2190 "Flags in project.json dependency edge should support JSON arrays"
Right now you can add flags to dependency edges to manipulate the inclusion or exclusion of specific package assets:

[code]

However, JSON arrays don't work:

[code]

They should.

/cc @emgarten

[2016-02-26 04:38] davidfowl commented on #2172
@emgarten That's wrong. This is still needed.

[2016-02-26 04:39] davidfowl commented on #2172
oops, I thought it was the subtargets section. That's still needed

[2016-02-26 04:39] #2172 closed, assigned to emgarten

[2016-02-26 06:31] weshaggard opened #2191 "Update dependencies of nuget.packaging and nuget.configuration"
While looking at the dependencies of dotnet cli I noticed we have some references to System.Security.Cryptography.Hashing and Hashing.Algorithms, which no longer exist in the latest dev builds.

https://github.com/NuGet/NuGet.Client/blob/b63fcac8388496f9ec88cb49bb747dab097653a4/src/NuGet.Core/NuGet.Packaging/project.json#L40
https://github.com/NuGet/NuGet.Client/blob/b63fcac8388496f9ec88cb49bb747d

[2016-02-26 08:56] #1789 closed, assigned to nobody

[2016-02-26 09:52] DavidBridge opened #2192 "get-help : Object reference not set to an instance of an object."
After upgrading a project to MVC 5 from 4 Nuget help stopped working.
I had just restarted VS and then run Update-Package but had some errors with Razor versioning snd Newtonsoft Json that I subsequently fixed. These events seem irrelevant to me though as Nuget itself and its help system should not be affected by this. Perhaps its a PowerShell thing? its on Windows 10 and i have not run the standa

[2016-02-26 10:15] DavidBridge commented on #2192
I found the solution to this.

I went to Tools -> Extensions and updates and upgraded Nuget and Powershell for VS 2013 there.

It seems a tad odd considering that I had just updated the V" so update 5 and all windows updates (includes PowerShell) were in place.

This fixed the issue for me though and NuGet help is working again.

[2016-02-26 10:15] #2192 closed, assigned to nobody

[2016-02-26 10:27] forderud commented on #2179
Building first with build.ps1 does not seem to help.

[2016-02-26 11:12] zodrog commented on #1137
Indeed it is...
My configuration: vs2015 Enterprise v14.0.24720.00 Update 1, Windows 10, Package Manager Console Host Version 3.3.0.167

[2016-02-26 11:33] JakubLinhart opened #2193 "Facade: Not possible to install Nuget.Configuration package to .NETFramework 4.5 project"
Nuspec file of NuGet.Configuration package (https://www.nuget.org/packages/NuGet.Configuration/) contains:

[code]

System.Globalization assembly is not a part of .NETFramework4.5, attempt to install the package ends with an error message: "Failed to add reference to 'System.Globalization'. Please make sure that it is in the Global Assembly Cache."

[2016-02-26 15:04] maartenba opened #2194 "Authentication issues in ASP.NET 5 projects"
_From @vvatkov on February 26, 2016 14:53_

Hi guys,

We have hosted the NuGetGallery V2 with basic authentication in a public feed. Our authentication however does not work in ASP.NET 5 projects. It seems that we receive some requests with UserAgent "Microsoft_.NET_Development_Utility/1.0.0-rc1-16202(Windows6.3)" without Authorization header even though we response with WWW-Authenticate header. I

[2016-02-26 15:55] NickCraver opened #2195 "Adding static analysis tooling to help prevent semantic versioning breaks."
This is an idea we've been kicking around internally at Stack Overflow, let me preface with:
- This isn't proposed to be part of the current .Net Core sprint, only kicking off a discussion.
- It wouldn't prevent all breaks in semantic versioning, only the portion that can be found statically.
#### Problem

People break external interfaces on their libraries all the time, often in violation of sema

[2016-02-26 16:07] akoeplinger commented on #2195
/cc @andreasohlund from Particular who might have some thoughts on this too.

+:100:, I've actually thought about this idea as well for a couple years now and I think this would be a very nice addition to either NuGet itself or the Gallery.

Ideally, as an author I'd have some way of communicating to NuGet (e.g. a flag in the nuspec or the gallery settings) that my package adheres to SemVer. It co

[2016-02-26 16:10] FransBouma commented on #2195
Research on this topic: http://avandeursen.com/2014/10/09/semantic-versioning-in-maven-central-breaking-changes/ (paper / slides are linked at the bottom)

This research is on 7 years of Maven packages, so it's similar to what nuget contains and offers. It also offers tools for .NET similar to the tooling they used for Java (Clirr).

It can help get insight in how much this might occur, but also f

[2016-02-26 16:18] gitberry commented on #974
@RHayes990 your link worked for me as well.  Thanks!

[2016-02-26 16:29] csharpfritz commented on #2195
This analysis needs to happen out-of-process if its on the server, and if its performed on a per-package basis during upload the resource needs should be minimized

[2016-02-26 16:53] davidfowl opened #2196 "Need a better name than suppressParent"
I've been thinking about this for a while and I think we need a better name. This is to track suggestions for renames.
## Scenario 1: Runtime only dependencies

[code]

`nuget pack`

[code]

The names `include` and `exclude` apply to the `project.json` and don't match the nuspec behavior. The
`suppressParent` property matches the `exclude` behavior of the nuspec. This is a little bit confusing.

/

[2016-02-26 17:08] blackdwarf opened #2197 "NuGet needs a nicer error message when dealing with encrypted credentials"
As per dotnet/cli#1286.

/cc @mgravell

[2016-02-26 17:14] yishaigalatzer commented on #2197
I'm thinking this would be quite a common scenario, so lets prioritize it higher.

Pri 0 - Throw a good error message, saying what went wrong in what file and in what line/char
Bonus points - See if we can delay load the credentials, or only load them for active feeds. We should discuss which of the two is best.

This also looks similar to the bug on your plate where a password as a \* char in it

[2016-02-26 17:14] mattstermiller commented on #1739
Sorting alphabetically shouldn't just be an option, it should be the default. This unsorted nonsense makes it hardly usable.

[2016-02-26 17:15] yishaigalatzer commented on #2196
This is already RTM.

[2016-02-26 17:16] davidfowl commented on #2196
Yes, we can deprecate things and support old and new but advertise the new.

[2016-02-26 17:19] yishaigalatzer commented on #2195
Sounds like a great idea, I am parking it for now in the vNext area. This could be a side service, and the analysis shouldn't too expensive if we only compare a diff from the last version.

We could consider this a feature of the staging feature, so location of this bug might move, but I would definitely suspect that we want this as a standalone tool.

[2016-02-26 17:32] yishaigalatzer commented on #1739
@mattstermiller search is trying to give you a result by relevancy, we could discuss the quality of the relevancy, but sorting alphabetically will not give you the right result in many or even most cases when there are 100s of results.

We are striving to improve search results so if you could provide concrete examples of searches on nuget.org that don't give you reasonable results, we could look

[2016-02-26 17:39] vbfox commented on #2195
About the standalone tool it would be really great as it would allow to compute the potential breakage during Continuous Integration builds.

It's the kind of information that would be invaluable to have in a pull request to know if there are any API compatibility breakage to discuss before accepting it.

[2016-02-26 17:47] mattstermiller commented on #1739
Sorry, this isn't about the search. When opening the NuGet manager and viewing the "Installed", "Updates" or "Consolidate" tabs, the packages are in no discernable order, as the OP said. Worse, it seems to be non-deterministic since if you close it and re-open it, it is in a different and still random order and there is no way to change it. These tabs should default to alphabetical. The Browse tab

[2016-02-26 17:50] yishaigalatzer commented on #1739
@mattstermiller that makes total sense.

[2016-02-26 17:52] yishaigalatzer opened #2198 "Installed/Updates/Consolidate tabs should be sorted alphabetically"
We should also consider having a separate search term in these tabs (so one for browse and one for the rest of them)

[2016-02-26 17:52] yishaigalatzer commented on #2198
from #1739

[2016-02-26 17:54] yishaigalatzer commented on #1739
opened https://github.com/NuGet/Home/issues/2198 to track the idea.

[2016-02-26 18:15] dagood opened #2199 "Nuget.exe push needs a helpful error message for timeout"
Using NuGet.exe 3.4.0.665, when I do a NuGet push that hits the default 5 minute timeout I get the following error:

Adding the `-verbosity Detailed` argument, I get this:

Upgrading from 3.4.0.335 to 3.4.0.665, I didn't know about the `-timeout` argument so I had to notice that the push was failing at the 5 minute mark then figure out why that would be. This error message should be made clearer a

[2016-02-26 19:27] emgarten commented on #2190
I believe the type property was using commas so this was done to match. Allowing arrays also would be great :+1:

[2016-02-26 19:55] yishaigalatzer commented on #2194
RC1 bits are not owned by NuGet, I'm not sure who generates it.

Moving forward we have a common codebase for authentication with NuGet, so this shouldn't be an issue in NuGet going forward in RC2,

[2016-02-26 19:56] yishaigalatzer commented on #2194
Shared internally with folks that own DNU, to see if it is known or not. Either way it will not get fixed there.

[2016-02-26 19:56] #2194 closed, assigned to nobody

[2016-02-26 19:59] sklivvz commented on #2197
Also, it shouldn't really blow up at all if the credentials are not needed or used -- at the moment they merely need to be in the global config, and it will be an issue even if the local config has a "clear" and therefore should not read them.

[2016-02-26 20:01] yishaigalatzer commented on #2197
@sklivvz not sure what you are adding here? Can you clarify that compared to my comment above?

[2016-02-26 20:07] sklivvz commented on #2197
This is the default configuration which is generated by `dotnet new`:

[code]

Notice the comment. Other sources _should not be inherited_. _Not inherited sources_ should actually be ignored, not delay loaded.

[2016-02-26 20:11] yishaigalatzer opened #2200 "Add a way to control the user agent on nuget.exe"
We want systems that run internally and run tests against nuget.org to send a test user-agent header

[2016-02-26 20:24] yishaigalatzer commented on #2197
Duh :)

[2016-02-26 20:36] srivatsn commented on #2195
As a more upstream solution, there's a [roslyn analyzer](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Roslyn.Diagnostics.Analyzers/Core/DeclarePublicAPIAnalyzer.cs) that is a preliminary attempt to solve this problem. We use it in the roslyn project currently. There's a checked in baseline of the public surface area from last release and any time someone changes the public surface ar

[2016-02-26 21:01] victorhurdugaci opened #2201 "NuGet can timeout on slow disks"
We've seen this on our CI. @joelverhagen and I investigated.

My package folder was quite large (9ish GB) and I was running on a D3 Azure VM. `dotnet restore` (which calls in NuGet) was timing out, probably because of all the disk IO. Once we cleared the packages folder, everything started working.

cc @yishaigalatzer

[2016-02-26 21:21] dagood opened #2202 "Recent NuGet.exe builds can't push to VSTS feeds"
When I try to push to an (authed) VSTS feed using NuGet.exe 3.4.0.665, the server returns a 400 error with a message:

In earlier NuGet.exe versions (334, 531) the form data sent was:

Now (665) it's:

I was able to modify a NuGet 655 PUT in Fiddler to match the earlier request and it went through. It seems that:
- The name and filename need to be in quotes.
- The filename must be "package", not "

[2016-02-26 21:22] blackdwarf commented on #2197
Soooo...is this like another bug or something? The <clear/> thing?

[2016-02-26 22:27] yishaigalatzer commented on #2200
We want to enable folks like .NET team that run heavy internal tests and CIs not to affect download counts in NuGet.org, we have made a change like that in our tests, but this is about being able to do it as a consumer.

@xavierdecoster since you did it before can you come up with a design for this? In short
1. I'd like this to not be a very prominent feature
2. I'd like to be able to do it per bu

[2016-02-26 22:38] weshaggard commented on #2202
@emgarten @yishaigalatzer can you guys confirm if this is a nuget bug or is this something we need to push on the VSTS folks on?

[2016-02-26 22:52] emgarten commented on #2202
@weshaggard it's a nuget issue, the push format should not have changed.

[2016-02-26 22:53] emgarten commented on #2202
@yugangw-msft any ideas on this?

[2016-02-26 22:59] yishaigalatzer commented on #2202
Actually I think that VSTS should be able to work with this, it looks like a valid change to me. It works both on myget.org and NuGet, and we are now using the standard way to create a multi-part request.

[2016-02-26 23:18] joelverhagen commented on #2150
@MatthewSteeples additionally, could you provide us with your `packages.config` file so we can simulate the restore that you are performing?

[2016-02-26 23:20] yishaigalatzer commented on #2150
And another idea, can you please move your user profile on the machine to the SSD drive rather than the spinning rust and see if you get a different result?

[2016-02-26 23:41] yishaigalatzer commented on #2193
Hmm works just fine for me

![image](https://cloud.githubusercontent.com/assets/1238711/13368454/4bd3b8f6-dc9f-11e5-8d71-ab49e6acf950.png)

![image](https://cloud.githubusercontent.com/assets/1238711/13368466/6a0eed0e-dc9f-11e5-8ec0-3e7362c62cd9.png)

[2016-02-26 23:46] eatdrinksleepcode commented on #913
Is anyone actively working on this? Is it open for a community contribution?

[2016-02-26 23:50] johnataylor commented on #2089
It seems now whenever you select a package in the Browse window you get a double HTTP call for the details of that particular package.

[2016-02-26 23:51] yishaigalatzer commented on #913
It is being worked on, generally it will be open for a community contribution, but we are at the moment moving all the code out of nuget.core.dll into nuget3 repository, so it will be quite a sticky thing to jump into. I expect this to work in a couple of weeks. If it doesn't and we finished the port, you will be more then welcome to help on this <3.

The goal of the port is to make pack work on l

[2016-02-27 00:11] johnataylor opened #2203 "owin package is not showing details in the Visual Studio UI"
The owin package is consistently not showing details in the Visual Studio UI right hand side detail pane.

This is possibly caused by a discrepancy in the particular search result for this package. The search result shows a version for owin of "1.0" however even the list of other versions shows "1.0.0"

The client could arguably be more resilient to errors like this in the data. In this case norma

[2016-02-27 01:16] andycmaj opened #2204 "symbol package pushing needs to be configurable in nuget 3.4"
nuget 3.4 automatically tries to publish any symbols.nupkg files it finds to a hard-coded symbol server that's not the server i'm actually pushing my package to.

i'm seeing this now:

[code]

[2016-02-27 01:17] andycmaj commented on #2204
Also, the symbol push fails with 400, so this breaks my automation at the moment. I have to manually remove the symbols package before i try to publish the normal nuget package.

[2016-02-27 01:17] andycmaj commented on #2167
created https://github.com/NuGet/Home/issues/2204. feel free to close this one when 3.4 is released

[2016-02-27 03:12] davkean commented on #2180
Can we reopen this? I've upgraded to the latest build with the fix this was dup'd against and we're still running into this: https://github.com/dotnet/roslyn/issues/9262

//cc @joelverhagen

[2016-02-27 03:14] davkean commented on #2180
Ah, nevermind - the build was against a branch that doesn't have the new version. My bad.

[2016-02-27 10:36] sklivvz commented on #2197
@blackdwarf after giving a look at the code base and little thought. I think it's three bugs (in the sense that it's probably going to take three patches):

**Bug 1**: encrypted passwords should be supported and not throw

**Bug 2**: the caller method chain should handle any exceptions when loading the package sources (including the one from Bug 1) and give appropriate feedback when loading fails

[2016-02-27 12:01] mgravell commented on #2197
Bug 4: disabled global options should be parsed

On Sat, 27 Feb 2016 10:36 Marco Cecconi, notifications@github.com wrote:

[2016-02-27 15:15] yishaigalatzer commented on #2197
Except coreclr does not support the encryption on Windows at the moment. So this works well on desktop CLR but not one core (at least yet).

Agree with the rest

[2016-02-27 16:36] davidfowl opened #2205 "Unify LibraryDependencyType and LibraryIncludeFlag"
This is mostly a refactoring thing. The LibraryModel doesn't need both `LibraryDependencyTypeKeyword` and `LibraryIncludeFlags`. `LibraryDependencyType` should encapsulate both things.

/cc @emgarten

[2016-02-28 12:09] andreasohlund commented on #2195
@akoeplinger thanks for involving me, we created http://apicomparer.particular.net/ pretty much in this spirit. As of now we use it to enrich our own release notes with api diffs but also to check for diffs when we're updating our own dependencies, RabbitMQ.Client [has been a pain point](http://apicomparer.particular.net/compare/rabbitmq.client/3.5.0...3.6.0) for us but they are finally coming aro

[2016-02-28 13:17] hmemcpy commented on #2195
I have nothing of substance to add to this discussion at this point, but I'd like to show you something I've seen [tweeted](https://twitter.com/doppioslash/status/676845572100333568) about elm-package:

![image](https://cloud.githubusercontent.com/assets/601206/13379436/70e752ac-de2e-11e5-8cc3-8587703425a2.png)

This. I want this in .NET world!

[2016-02-28 13:19] tugberkugurlu commented on #2195
This would be a good start but still, changes are not only at API level, it can be also part of the behavior w/o introducing any change to the API.

[2016-02-28 13:46] andreasohlund commented on #2195
Completely agree, api breaks is the easy part. Breaking behavior is the hard part...

For NServiceBus we've tried to tackle this by creating and distributing a suite of "acceptance" tests

https://github.com/Particular/NServiceBus/tree/develop/src/NServiceBus.AcceptanceTests
https://www.nuget.org/packages/NServiceBus.AcceptanceTests.Sources/

that in some regards guarantees that we didn't break th

[2016-02-28 14:38] tugberkugurlu commented on #2195
@andreasohlund that's good enough compared to most other projects I have seen. The problem of baking an analysis like this into NuGet is that it can easily give wrong impression to people. Some can come and say that "NuGet didn't report the breaking change but there was one.". However, this can be eliminated by correct wording and setting the expectations correctly (e.g. this only checks API level

[2016-02-28 15:24] tugberkugurlu commented on #2195
Also, a better start would be to start supporting SemVer 2.0.0: https://github.com/aspnet/dnx/issues/3365

[2016-02-28 16:45] dittodhole commented on #2195
I've got introduced to SemVer [by this guy and his amazing talk](https://youtu.be/tc2UgG5L7WM), and since I watched the video I'm thinking about how to integrate this idea into my projects.

One thing that I want to share, is my recent [solution for SemVersioning my projects with a weaver for Fody](https://github.com/dittodhole/csharp-SemVer.Fody).
My approach with SemVer.Fody is not ideal, but it

[2016-02-28 18:37] TravisTheTechie commented on #2195
I like the idea, and using Elm with this analysis is pretty awesome. However, I'm thinking through a few usages which I can see a problematic. There might be a simple solution, but I'm just adding thoughts to conversation -- not looking to solve the problems yet.
1. I'm working on an internet project, we publish to an internal NuGet feed. I do not want any enforcement on version numbers because th

[2016-02-28 20:06] yishaigalatzer commented on #2195
Keep in mind that in asp.net core we explicitly expose internal implementations because they are useful many times, they are documented as such (expect breaking changes in minor releases) so some opt out mechanism will be required (attribute? Convention?)

[2016-02-28 20:22] thecodejunkie commented on #2195
I think it's a good idea to point out that _enforcing_  anything is never a good idea. SemVer is _a_ versioning strategy and while many of us may like it, it is important to realize that there are bound to be many strategies being used by package authors whether we like it or not.

If NuGet were supposed to support anything like this, then I would suggest something like this
- The verification hap

[2016-02-28 20:49] yishaigalatzer commented on #2195
Command extensibility is already supported (not forna sub command but definitely for a top level command)

Enforcing will never be a thing here, I completely agree

We could do it on the server as part of the new staging feature where we plan an analysis pipeline before merging to the main feed (and perhaps we can make it extensible)

[2016-02-28 22:08] thecodejunkie commented on #2195
@yishaigalatzer

Too late if you ask me. As a package author I want to know before I attempt to push stuff, I might even even run it intermittently, even though I don't plan on releasing anything right there and then, to get an overview of changes and so on

[2016-02-28 22:22] yishaigalatzer commented on #2195
Yes, I'm saying it should/could be in both.

The staging feature gives you one more step before committing for validation

[2016-02-29 07:58] andreasohlund commented on #2195
That would be awesome. We've used the [editorbrowsableattribute](https://msdn.microsoft.com/en-us/library/system.componentmodel.editorbrowsableattribute%28v=vs.110%29.aspx) in the past to hint users that "stay away from this we use it for internal stuff". It would be great with a `[YesPublicButNotPartOfTheApiSurfaceSoItCanBreakAtAnyTime]` attribute.

That said, since it can break with any release

[2016-02-29 08:58] xavierdecoster commented on #2200
We already have support in nuget.exe that allows running in _test mode_. This will internally set the nuget.exe user agent string to the hardcoded value: _NuGet Test Client_.
Simply set the env var `NuGetTestModeEnabled=true` to enable this behavior. This can easily be constrained to a script-scoped environment variable.

Related PR that introduced the above support: https://github.com/NuGet/NuGet

[2016-02-29 09:58] chillitom commented on #1264
Could someone familiar with the code base leave a short description of what would be required to port this over?

[2016-02-29 10:59] konard commented on #1859
Any news on that?

[2016-02-29 11:44] maartenba commented on #1066
@Dynkan @brettjacobson @MichelZ Please try https://www.nuget.org/packages/NuGet.Server/2.10.0-master-0006

This functionality has been added as an option.

When `ignoreSymbolsPackages` is set to `true`, the server will never add symbols packages (that is if the file is named `.symbols.nupkg` or there is a `/src` folder in the package).

It is recommended to also set the `allowOverrideExistingPacka

[2016-02-29 11:44] maartenba commented on #2042
@Korporal Please try https://www.nuget.org/packages/NuGet.Server/2.10.0-master-0006

This functionality has been added as an option.

When `ignoreSymbolsPackages` is set to `true`, the server will never add symbols packages (that is if the file is named `.symbols.nupkg` or there is a `/src` folder in the package).

It is recommended to also set the `allowOverrideExistingPackageOnPush` option to `f

[2016-02-29 11:48] HowardvanRooijen commented on #2195
I wrote a post covering my thoughts (which were geared around integrating this in to TeamCity): https://blogs.endjin.com/2016/02/an-experiment-to-automatically-detect-api-breaking-changes-in-dot-net-assemblies-and-suggest-a-semantic-version-number/

[2016-02-29 12:52] GrahamTheCoder commented on #2195
Having a sensible default built in would of course be awesome, but as the @thecodejunkie says , I think it's about flexibility, not trying to find the one perfect system that works in for everyone. A reasonably non-constraining way of specifying your versioning system would be good, for [example](https://grahamthecoder.wordpress.com/2014/12/10/whats-in-a-strong-name/), each nuget package listing a

[2016-02-29 13:35] csharpfritz commented on #2195
I am very interested in this effort because my biggest concern with NuGet is the problem of 'reference hell', 'DLL Hell', or 'NuGet Hell'.  How can the package manager tools assist developers in preventing the types of headaches that poor reference updates cause?

NuGet cannot force a package to have a specific version number, nor can it force an author to use any convention.  It can throw errors

[2016-02-29 14:41] sponkrashin opened #2206 "Allowed versions attribute is incorrectly working when Dependency behavior is 'Ignore dependencies'"
Visual Studio 2015 is used. I update package with allowedVersions="[1.0,1.1)" attribute from NuGet Package Manager. Current version of package is 1.0.72, available versions are 1.0.73 and 1.1.1.

Firstly, I can see that version "1.1.1" is available for update, which is not satisfy condition. But moreover, if I use Dependency behavior: "Ignore dependencies", nuget will update package to this versio

[2016-02-29 15:04] yishaigalatzer commented on #2200
Yes! Perfect

[2016-02-29 15:04] #2200 closed, assigned to xavierdecoster

[2016-02-29 15:10] yishaigalatzer commented on #1066
@maarten should we make this option the default?

[2016-02-29 15:12] maartenba commented on #1066
Not sure. I know some people tend to only push symbols packages, so that would give them an issue. The current setting is backwards compatible, but I have no strong opinion either way. If defult makes sense, then let's make it default.

[2016-02-29 15:15] yishaigalatzer commented on #1066
In that case can we dig deeper to see why they are seeing an error? I didn't think people ever intentionally pushed symbol packages

[2016-02-29 15:33] maartenba commented on #1066
The combination of both being present gave the error here. Right now the server will only contain one version at all times (either non-symbols when ignoreSymbolsPackages is true, either "last one wins" when allowOverrideExisting is true or "first one wins" when allowOverrideExisting is false)

The error should no longer happen with our new bits.

[2016-02-29 15:42] yishaigalatzer commented on #1066
Sounds good. So here is an idea:

Why don't we set both parameters as follows:
1. Reject symbol packages
2. Reject override (and require a delete)

Then make sure we have a good readable error message with the explanation of what to do if the user really wants them set differently?

[2016-02-29 15:50] maartenba commented on #1066
Sounds good! Added this to the latest prerelease package.

[2016-02-29 18:17] joelverhagen commented on #2201
Although disk may be the sole cause, I would also like to eliminate the possibility that there were too many parallel HTTP requests.

This evidence is certainly anecdotal, but I noticed when we were debugging together that there was a ton of hanging HTTP requests. This could be related to the fact that we do not have `ServicePointManager.DefaultConnectionLimit` on dotnet CLI (since .NET Core does

[2016-02-29 18:59] csharpfritz opened #2207 "Enable preview or file count/list on Nuget installation"
Steps to reproduce:
1. Create new basic web site
2. right click project and select Manage nugget packages
3. Search for AngularJS
4. Install the most obvious result: AngularJS
5. Wait while hundreds of files are downloaded and added to your project

**Suggestion:**

Give a file count or list or potentially a preview of what it will do to your project

This is only an example some ASP.NET packages

[2016-02-29 19:03] joelverhagen commented on #2148
/cc @CyrusNajmabadi

[2016-02-29 19:09] ddrinka commented on #491
I'm seeing this issue as well after installing VS2015 Update 1 (no issues with 2015 RTM).  I'm running 14.0.24720, NuGet 3.3.0.167.  I can reproduce all day long, and would love a fix in the short term.  Let me know if I can help debug.

[2016-02-29 19:14] csharpfritz opened #2208 "Need Error Message when a package is not installed due to compatibility"
When installing a package into a project with a framework that the package does not support, an appropriate error message should be displayed to indicate the incompatibility

[2016-02-29 19:19] csharpfritz opened #2209 "Localization Context Needed"
In the sentence below there is no comment about the placeholder. Without this info, translation will be more difficult. Can you please add comment to this string about possible values of {0} and {1}?

https://github.com/NuGet/NuGet.Client/blob/960426fa423e9ba09d24758d109ae21bc9d2c168/src/NuGet.Core/NuGet.Packaging/Strings.resx#L135

https://github.com/NuGet/NuGet.Client/blob/fd39c40935a40e332b4895

[2016-02-29 19:21] yishaigalatzer commented on #491
This issue is tracking VS 2013, can you open a new bug, and provide exact repro steps (what version of TFS, and how it is configured as well as specific steps). Please mention @zhili1208 on the bug

[2016-02-29 19:23] csharpfritz commented on #2209
Please also verify:

https://github.com/NuGet/NuGet.Client/blob/0eecd479f51f5fb5a90e44fef424d7efc1e7fc64/src/NuGet.Clients/VsExtension/Resources.resx#L132

[2016-02-29 19:27] yishaigalatzer commented on #2109
@joelverhagen this should also address all restore scenario in nuget.exe
1. Restore .NET 4 app with packages.config
2. Restore .NET 4 app with project.json
3. Restore .NET Core app with project.json

Now mix all of these is a solution, and restore at the solution level

[2016-02-29 19:33] csharpfritz opened #2210 "Make perf tests installing packages from a local host on the same machine"

[2016-02-29 19:33] csharpfritz opened #2211 "Add perf tests for more scenarios such as update and package restore"

[2016-02-29 19:39] csharpfritz opened #2212 "UI Needs "Upgrade NuGet" button when client version does not meet requirements"
If the package has a minClientVersion set that the current NuGet extension in use does not satisfy, then an "Upgrade NuGet" button should be displayed that will trigger a download of the latest extension version

[2016-02-29 20:04] yishaigalatzer opened #2213 "Improvements for uninstall in scenarios where restore doesn't work"
Here is a scenario - A package that is installed in a project is no longer available on the server or locally. A user still want to uninstall it (or any other package):
### How to repro locally
1. Edit your packages.config to a non-existent version of a package 
2. Try to update it or uninstall it from the GUI or PS console - should fail 
3. Try to install another package from the GUI or PS - shou

[2016-02-29 20:15] csharpfritz opened #2214 "Changes to proj and sln files are not always synced to disk"
When working with nuget VS prompts to save/discard/ignore changes.

Recommendation: Save changes immediately

[2016-02-29 21:04] skyflyer commented on #2060
@emgarten, where are you tracking support for mutable content for project.json? Couldn't find it in the issue tracker.

Also, this feature isn't working for ASP.NET 5 project. I've created a simple nuget package with the following spec:

[code]

and `contentFiles` folder includes `any\any\Views\_ViewStart.cshtml` file. But the files present in the archive (and in the `contentFiles` dir) are not ad

[2016-02-29 21:06] 304NotModified commented on #2060
I also did not got it working.  The specs are unclear where the items will be added.  (but did not checked the docs lately)

[2016-02-29 21:21] ddrinka opened #2215 "Updating packages deletes packages.config in TFS (VS2015)"
This issue corresponds to Issue #491 which is VS2013-sepcific but has re-emerged in VS2015 Update 1.

I have a solution with many projects dependent on a single NuGet package.  If I run an update on that NuGet package from the Visual Studio GUI, the update succeeds, but for any projects that included only that NuGet package, the packages.config is marked as deleted in the changeset.

I am running

[2016-02-29 21:22] ddrinka commented on #2215
@zhili1208 See this issue, as requested by @yishaigalatzer in Issue #491.

[2016-02-29 21:25] emgarten commented on #1217
This is fixed now that all V2 http requests are made through HttpSource and the retry handler.

[2016-02-29 21:25] #1217 closed, assigned to nobody

[2016-02-29 21:25] emgarten opened #2216 "Logging context is incorrect for some project.json restore http calls"
NuGet creates only one `SourceRepositoryDependencyProvider` provider per source as an optimization across multi-project restores. The issue is that this type takes a logger in the constructor instead of for each call and this causes http errors to be replayed under the wrong project during the error summary.

The fix for this is to clean up the project.json resources so that they take a cache cont

[2016-02-29 21:27] ddrinka commented on #491
For those of you who recently commented with VS2015 issues, I have opened Issue #2215 which documents the recurrence of this issue in Update 1.

[2016-02-29 21:28] emgarten commented on #870
This has been fixed in 3.4.

[2016-02-29 21:28] #870 closed

[2016-02-29 21:29] MattGal opened #2217 "Nuget restore in parallel fails due to access denied errors in file semaphores"
I don't think this is the same issue as #2102 but in the same category of issue.

We have an msbuild process that does nuget restore over thousands of projects, with default parallelism (i.e. one msbuild instance per logical processor).  Previously we had used dnx.exe but there were breaking changes that necessitated moving away from that.  Our scenario is not blocked because we can get the same e

[2016-02-29 21:30] emgarten commented on #870
NuGet/NuGet.Client@11e5ba35c1880f18099ce22f7ef0c2b2b65cab0b

[2016-02-29 21:32] emgarten commented on #871
NuGet/NuGet.Client@f48718971aec219393268901a4d863f9b855c757

[2016-02-29 21:32] #871 closed

[2016-02-29 21:48] yishaigalatzer commented on #2217
@MattGal any chance to get a better callstack in this case? Can you also tell me what build started failing here?

[2016-02-29 21:49] yishaigalatzer commented on #2217
@emgarten could this be related to the delete changes?

[2016-02-29 21:52] MattGal commented on #2217
@yishaigalatzer it's tricky because this happens in an environment where a bunch of these are starting at once... attaching a debugger may be tough.  I'll take a quick stab at it.

[2016-02-29 21:56] emgarten commented on #2217
I just hit this error message also while restoring with the latest version. I'll take a look at what is going on, it could be related to the recent change to pass the DeleteOnClose flag to the file lock, this may throw on dispose which is outside of the current try/catch.

[2016-02-29 22:00] TravisTheTechie commented on #2195
I wonder how much of 'xxx hell' can be attributed to just following semver? The biggest 'dll hell' problem I see supporting the libraries I work on are when there is a direct & transitive dependency. I don't believe semver will fix anything related to that.

[2016-02-29 22:16] MattGal commented on #2217
[code]

[2016-02-29 22:28] stvfks opened #2218 "Nuget 3.4.0.675 PackageSaveMode doesn’t save nuspec when specified"
Repro:

[code]

Possibly related change: Related change: https://github.com/NuGet/NuGet.Client/pull/179

[2016-02-29 22:34] csharpfritz commented on #2209
Another to update:  https://github.com/NuGet/NuGet.Client/blob/d899f4b258b609f947bab6d5de5b38c530abbcfd/src/NuGet.Core/NuGet.PackageManagement/Strings.resx  for

Rule Message No contexts exist in comments for placeholders, match: {0};{1};
LSPKG Filename 14_ploc_nuget.packagemanagement.resources.dll.lcg
Resource File nuget.packagemanagement.resources.dll.lcg
Resource ID 0; "Warning_ErrorFindingRepo

[2016-02-29 23:20] emgarten commented on #2217
NuGet/NuGet.Client@f91624e099fdc1bac8aaf69eba4bbf5b8f99dc5f

[2016-02-29 23:20] #2217 closed, assigned to emgarten

[2016-02-29 23:35] csharpfritz opened #2219 "When uninstalling NuGet without selecting "Remove dependencies" no errors will show up in error window"
The Error List Window shows 0 errors out of 1.

Output window has an actual error:

Attempting to gather dependencies information for package 'Microsoft.ApplicationInsights.1.0.0' with respect to project 'CurrentSprint', targeting 'WindowsPhone,Version=v8.0'

Resolving actions to uninstall package 'Microsoft.ApplicationInsights.1.0.0'

Unable to uninstall 'Microsoft.ApplicationInsights.1.0.0' beca

[2016-03-01 01:38] dagood opened #2220 ""NuGet.exe list" doesn't use basic auth from configfile"
Using NuGet.exe 3.4.0.677 with an authed VSTS feed, this is the command and output:

[code]

The NuGet.Config is like the following:

[code]

This config works for pushing but not `list`. Interestingly the list command uses a v2 url:

[code]

The last NuGet.exe version that I've tried that supports listing from VSTS is 3.4.0.531. For now, my workaround is to use that version for listing.

/cc @wes

[2016-03-01 05:47] alpaix opened #2221 "All-sources feature implementation doesn't follow code conventions"
As mentioned in comments to [the original PR](https://github.com/NuGet/NuGet.Client/pull/264):
- All async methods should accept cancellation token as parameter.
- Pass ILogger everywhere.
- Each class in its own file.
- Use existing exception utilities for flattening aggregated exceptions

[2016-03-01 05:51] alpaix opened #2222 "Need better test coverage for the search results merging algorithm"
As discussed offline at all-sources DR merging algorithm should be refactored into 3 core components: indexer, ranker, merger. Each one of them should be tested separately.

[2016-03-01 06:10] alpaix opened #2223 "Improve design of the package search item loader"
Contract between software layers is not scrupulously designed Consider merging stateful item loader with stateless package feed or suggest better alternative. Revisit SourceRepositoryExtensions class design, make it a regular class.

[2016-03-01 06:19] weshaggard commented on #2191
@yishaigalatzer Is this something you guys will be taking care of in upcoming dependency update for CLI?

[2016-03-01 07:21] yishaigalatzer commented on #2191
I guess we will find out soon enough. Can you explain the changes?

[2016-03-01 08:51] davidfowl commented on #1173
Hmmm tricky one. What if a package provides a portable implementation for everyone but optimized implementations for specific RIDs? We need to be able to tell the difference.

[2016-03-01 11:12] jjanuszkiewicz commented on #737
It also fails for me with the `Update-Package : available` error (VS2015.1, nuget 3.3.0.167):

[code]

[2016-03-01 13:11] bunceg commented on #1897
This is happening regularly for me and my colleagues - especially when nuget tries to delete a package on disk that is checked into Visual Studio Online. How do I check my NuGet package version?

[2016-03-01 16:11] yishaigalatzer commented on #1897
Bunceg
1. This looks unrelated to the bug reported here
2. To see your version use tools->extensions and updates and look at the version

[2016-03-01 16:12] Hermholtz commented on #2145
@zhili1208 @yishaigalatzer then maybe just please add a proper warning to NuGet when it encounters these unsupported project types, rather than obscure "No Default project" confusing stuff.

[2016-03-01 16:20] lucamorelli opened #2224 "problem upgrading js packages in an asp.net application"
Hi,
 I've just started working to the application of a customer of mine and I would like to add a few angular packages, like angular Ui bootstrap, but I'm having a few issues. When I try to updated jquery from 2.1.4 to 2.2.1 or add Angular UI Bootstrap inside Visual Studio I receive errors like this:

[code]

I know that the mvc runtime packages are a bit out of date, but actually when can't updat

[2016-03-01 16:21] makhdumi opened #2225 "NuGet CLI Update fails entirely if specific Source is specified without Package Ids"
I have projects that use packages from multiple repositories.

In 2.x, I was running the following command to update all packages from one repository (Source):
`nuget update MySolution.sln -Source https://my-private-repo.com/nuget`

This would go through all the packages and check if they were available in the repo. If not, it'd just skip them. Restore worked the same way.

In 3.3, the update fail

[2016-03-01 17:03] weshaggard commented on #2191
cc @bartonjs

We essentially changed the factoring of the Crypto libraries since you guys took that dependency. The primary one to depend on now is System.Security.Cryptography.Algorithms. Which should get you the hashing if that is all you guys are using.

[2016-03-01 17:16] bartonjs commented on #2191
The full data is available in the commit description of https://github.com/dotnet/corefx/commit/ce0506baea623efdb74707aee0e4aa169d6f468c.

Highlights:

[code]

[2016-03-01 17:22] yishaigalatzer commented on #2191
Thanks

[2016-03-01 17:52] GrahamTheCoder commented on #2195
@TravisTheTechie You can mitigate the diamond dependency problem if everyone uses the same scheme where a later version number with the same major component is always binary compatible (you can substitute whatever version you like in using the same assembly version or binding redirects etc.)

For example, every project should update to the latest major version of any dependencies, but the lowest m

[2016-03-01 18:35] ryanackley opened #2226 "Make it easier to fix bugs or make changes in dependencies"
We manage all of our project dependencies in nuget. This includes class libraries developed internally. When I'm working on a project and I need to make a change to a shared class library. Here is the process:
1. Clone the repo
2. Make the change
3. Commit the changes
4. Wait for myget to build the new libary
5. Update the dependency in my original project from myget.

If I'm doing this a lot, I u