[2020-02-03 11:20] v-nancyj commented on #8973
During our investigation, we found the issue is not stable, the repro rate is almost 95% for us. I can still repro this on VS Master\29802.14 + NuGet Client Dev\5.5.0.6411 today, could you help to have a look？ Thanks!

[2020-02-03 12:41] jessehouwing commented on #8258
@rrelyea is there a way to also rename the `project.assets.json` similarly? Right now it's not created in a Configuration folder.

[2020-02-03 12:58] v-luzh opened #9129 "[Test Failure] “Failed to add reference to 'Microsoft.Owin.Security.Cookies'” error prompted when creating ASP.NET Web Application (.NET Framework) – Single Page Application"
## Details about Problem
NuGet version: NuGet Client Dev\5.5.0.6411
VS Version: Master\29802.14
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Launch VS and click “Create a new project” button in the G2C dialog.
2. Type “ASP.NET Web” in the search box, select the “ASP.NET Web Application (.NET Framework)” template in the list and click “Next” button.
3. Type a project name and click “Cre

[2020-02-03 14:13] JohnLudlow opened #9130 "Better support for C++/CLI (CLR) projects"
## Details about Problem
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet.exe Version: 5.4.0.6315
Visual Studio UI 16.3.4

OS version:
Win10 1909 10.0.18363 (18363.592)

## Detailed repro steps so we can see the same problem
1. Create a C++/CLI or CLR project in Visual Studio.
2. Attempt to install a .NET NuGet package into that project.

### Expected
Package is

[2020-02-03 16:25] jeffkl commented on #7855
The only thing we could plumb through would be global properties since they are loaded before a project is evaluated.  You could then set the global property via the command-line or `Directory.Build.rsp`.  We will never be able to use project properties in the SDK resolver since there is no way to "peek" ahead.

The issue for this proposed feature is here: https://github.com/microsoft/msbuild/issu

[2020-02-03 16:29] jeffkl commented on #7777
We'd want to fix it for the entire scenario for sure, ie we wouldn't want the restore of project SDKs to succeed but then actual package restore fails since its using the cache.  This is a difficult problem to solve since we want to use the HTTP cache 99.9% of the time and still provide users a way to say that they want to refresh it.  Maybe there should be an option where NuGet uses the cache and

[2020-02-03 16:36] kartheekp-ms opened #9131 "Use XNode.EqualityComparer to compare XDocument instead of string comparison"
Details about Problem - Use XNode.EqualityComparer to compare XDocument instead of string comparison for better usage of .NET API [src](https://github.com/NuGet/NuGet.Client/blob/01b8ddaf018b17e493646583b432a867dd8065f0/src/NuGet.Core/NuGet.Commands/RestoreCommand/Utility/BuildAssetsUtils.cs#L339)

[2020-02-03 18:33] nkolev92 commented on #7777
RestoreNoCache completely avoids the http cache, but there's no way to tell NuGet to refresh if it's not there, the  context is long lost at that point.

Can you have a NuGet based resolver scenario where the version is not specified?
Because if there isn't, then propagating RestoreNoCache should be enough. The benefits of the http cache only exist in scenarios where the version is unknown or more

[2020-02-03 19:19] cmenzi opened #9132 "PackageReference defined in .props file not appearing in project.assets.json when using dotnet restore"
I have a `tools.props` file which contains some `PackageReference`'s. When I import the file into a `.csproj` either via `<Import Project="tools.props" />` or via a NuGet package where to 'tools.props` file in packed into the `build` folder, then all dependencies defined in the `.props` are not appearing in `project.assets.json`.

The funny thing is, that when using VS 2019 and build it, then ever

[2020-02-03 20:06] mletterle commented on #5894
This is pretty nasty when trying to utilize `Directory.Build.props` to do something like... say sign your Release builds using properties from an internal NuGet package.  Your output just doesn't run, since the `AssemblyOriginatorKeyFile` property is blank, the temporary Wpf assembly is unsigned, while your final output assembly is signed.

[2020-02-03 21:02] #9129 closed, assigned to nobody

[2020-02-03 21:13] heng-liu commented on #9074
Reopen it as there's a regression scenario to consider. Related issue: https://github.com/NuGet/Home/issues/9129

[2020-02-03 21:15] heng-liu commented on #9074
Reopen it as there's a regression scenario to consider. Related issue: https://github.com/NuGet/Home/issues/9129

[2020-02-03 21:22] #8920 closed, assigned to zkat

[2020-02-03 23:40] zkat opened #9133 "Write tool to tag icebox issues as such"
Probably make a probot bot that will watch for when issues are moved to the icebox on zenhub and tag them as icebox so we can filter/search them. Probably do the same for the backlog.

[2020-02-04 01:16] nkolev92 commented on #4881
Done: https://github.com/NuGet/NuGet.Client/blob/dev/docs/coding-guidelines.md

[2020-02-04 01:16] #4881 closed, assigned to nkolev92

[2020-02-04 01:20] nkolev92 commented on #3178
Done a while back.

[2020-02-04 01:20] #3178 closed, assigned to nkolev92

[2020-02-04 01:24] nkolev92 commented on #4288
Fixed a while back...now it's 1 line per project.

[2020-02-04 01:24] #4288 closed, assigned to nkolev92

[2020-02-04 01:30] nkolev92 commented on #7465
Fixed in https://github.com/NuGet/NuGet.Client/commit/a725678ad3cf86236f91c5806a00a0d94179b602

[2020-02-04 01:30] #7465 closed, assigned to nobody

[2020-02-04 01:33] nkolev92 commented on #6785
Won't fix

[2020-02-04 01:33] #6785 closed, assigned to nobody

[2020-02-04 01:48] #7844 closed, assigned to nobody

[2020-02-04 02:10] buddhashrestha commented on #9068
Thanks!

[2020-02-04 02:10] #9068 closed, assigned to nobody

[2020-02-04 03:28] nkolev92 commented on #8429
@heng-liu I think this one is completed, correct?

[2020-02-04 04:44] nkolev92 commented on #9132
This is by design.

NuGet explicitly excludes those targets from affecting restore.
If a package contains a build/package.targets file that contains a PackageReference the output of restore will change based on if the project had previously been restored.

See https://github.com/NuGet/Home/issues/3604.

Doc issue to clarify this: https://github.com/NuGet/docs.microsoft.com-nuget/issues/1872

The V

[2020-02-04 04:44] #9132 closed, assigned to nobody

[2020-02-04 07:50] mingkuang-Chuyu commented on #8874
Sorry NuGet does not support TargetFramework Fallblack, so I cannot support them at the same time. Even if I provide PR, but there are many changes, I am afraid that Microsoft's urine is difficult to accept.

[2020-02-04 10:38] npehrsson commented on #6764
Any ETA for this?

[2020-02-04 10:45] v-luzh commented on #8832
Error messages are a little different from previous ones. PRI257 is gone bug below errors are still there on Master\29803.141 + NuGet Client Dev\5.5.0.6412.
![image](https://user-images.githubusercontent.com/20632625/73737648-fc717700-477d-11ea-856a-6b8f50d660b2.png)

[2020-02-04 13:51] NickCraver commented on #3116
Hi there, reporting in that we're still hitting this. Often. NuGet is happily using an old cache and failing to just go see if the package is there. So I'm here once again manually issuing directory clears across our entire build fleet due to this bug.

Please, please fix this. Looking at cache and saying "oh, well that package version wasn't here yesterday...it must not exist" is just not reasona

[2020-02-04 19:58] KirillOsenkov opened #9134 "Http cache hides the new version after it's pushed"
NuGet.exe 5.4.0

1. Push version 1.0.0 of any package to Azure DevOps artifacts public feed
2. Restore using version 1.0.0
3. Restore succeeds
4. Push version 1.0.1 to the same feed
5. Restore using version 1.0.1

Expected: restore succeeds

Actual: restore fails

Workaround: `nuget cache -clear http-cache`

The problem is that the local cache is storing the 1.0.0 as the latest version of the pack

[2020-02-04 20:16] taori opened #9135 "Improved link functionality for nuget.org"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
Nuget.org page

It would be great if there were a page link for nuget.org to access the latest version of a packet matching a given version suffix name.

e.g nuget.org/packages/mypage/latest/alpha or nuget.org/packages/mypage/latest

[2020-02-04 20:30] nkolev92 commented on #3268
I think this issue is redundant at this point, so as such I'm closing it.

[2020-02-04 20:30] #3268 closed, assigned to nobody

[2020-02-04 20:38] nkolev92 commented on #3397
At this point this is a stale issue.

The docs for packing runtime specific assets is in https://docs.microsoft.com/en-us/nuget/create-packages/supporting-multiple-target-frameworks#architecture-specific-folders.

[2020-02-04 20:38] #3397 closed, assigned to nobody

[2020-02-04 20:40] nkolev92 commented on #4052
Closing this issue as redundant/lower priority.
Some of the questions have already been addressed and the additional scenario is capture in #4406

[2020-02-04 20:40] #4052 closed, assigned to nobody

[2020-02-04 20:41] nkolev92 commented on #4375
This has been fixed since.
Restore logs 1 message per package from packages.config restored and nothing to do if not found and 1 message per project restored in PackageReference.

[2020-02-04 20:41] #4375 closed, assigned to nobody

[2020-02-04 20:44] nkolev92 commented on #4483
Done through the nomination API which returns a status.

[2020-02-04 20:44] #4483 closed, assigned to nobody

[2020-02-04 20:46] nkolev92 commented on #4724
At this point I don't think I see an actionable from NuGet side, if you think there is one please let me know.

The unloaded projects story in NuGet has been improved by https://github.com/NuGet/NuGet.Client/pull/2521, where NuGet works in a similar way to build.

[2020-02-04 20:46] #4724 closed, assigned to nobody

[2020-02-04 20:47] nkolev92 commented on #4850
Duplicate of https://github.com/NuGet/Home/issues/4463

[2020-02-04 20:47] #4850 closed, assigned to nobody

[2020-02-04 20:50] nkolev92 commented on #5531
Closing as duplicate of https://github.com/NuGet/home/issues/7717.

I understand the other one is older, but it's one currently assigned and actively worked on.

[2020-02-04 20:50] #5531 closed, assigned to nobody

[2020-02-04 20:51] nkolev92 commented on #5660
Been messing with these codepaths recently.
I will analyzer whether these are still necessary.

[2020-02-04 20:52] nkolev92 commented on #6135
I think we should consider this issue as redundant at this point with .NET 5 and all :)

[2020-02-04 20:52] #6135 closed, assigned to tmeschter

[2020-02-04 20:55] nkolev92 commented on #6234
At this point we are not investing in list, it will be renamed to search and at that point the include delisted flag will be removed: https://github.com/nuget/home/issues/8040

[2020-02-04 20:55] #6234 closed, assigned to nobody

[2020-02-04 20:57] nkolev92 commented on #6410
Duplicate of https://github.com/NuGet/Home/issues/8506.

This will ship in 5.5/16.5, @anangaur want to keep it open until it ships or close it?

[2020-02-04 21:57] nkolev92 commented on #6664
Done. https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu5129

[2020-02-04 21:57] #6664 closed, assigned to nobody

[2020-02-04 22:14] nkolev92 commented on #6655
Hey @let-thomas

Sorry for the delayed response.

API Keys are only used for pushes, while package source credentials can be used for all purpsoes: https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#packagesourcecredentials

[2020-02-04 22:14] #6655 closed, assigned to nobody

[2020-02-04 22:55] heng-liu opened #9136 "Insertion of 5.5.0-rtm.6412"
VS:
 - [x] https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/226652

.NET Core 3.0
 - [x] https://github.com/dotnet/sdk/pull/10599
 - [x] https://github.com/dotnet/cli/pull/13214
 - [x] https://github.com/dotnet/toolset/pull/4227

.NET Core 5.0
 - [ ] https://github.com/dotnet/toolset/pull/4228
 - [ ] Last insertion is not yet merged. https://github.com/dotnet/sdk/pull/4217
The PR is the

[2020-02-05 00:16] zivkan opened #9137 "Use Azure DevOps hosted agent for Linux tests"
Currently we have some Linux VMs that we need to manage ourselves. Use the Azure DevOps hosted Linux machines instead.

[2020-02-05 03:26] lostmsu commented on #1192
And here I am facing the same issue. Except it is 10x worse because one can't really remove a version from NuGet. Once you uploaded PKG-1.0.0 to NuGet.org and somebody makes a Consumer-1.0.0, that requires PKG [1.0,2.0), there is no way to have even fresh installs of Consumer-1.0.0 use the fixed version PKG-1.0.1, because NuGet will restore PKG-1.0.0 despite it being unlisted.

[2020-02-05 04:14] cryptomatt commented on #8692
Still seeing this error with Visual Studio Build Tools 16.4.1, nuget 5.4.1 and dotnet core sdk 3.1.1

now the error is as high as 80% of the times. Will try with the Nuget.Client fix 3170.

[2020-02-05 05:14] foriequal0 commented on #8646
You might suppress these warnings by setting properties `HideWarningsAndErrors` as true and `EmitAssetsLogMessages` as false until it is fixed.

[2020-02-05 07:25] TiltonJH commented on #8040
Please consider implementing a `IncludeDelisted` flag as well.

I do understand that `nuget.org` or other nuget servers might not want such an feature to exists. But what is the harm of having such an option to opt-in to?
I would like to use that flag with my own nuget server. So it would be nice if I could turn that option on on my own server and then be able to use the `IncludeDelisted` flag in

[2020-02-05 09:49] v-longmin opened #9138 "[Test Failure] PMC and PM UI were disappeared after installing NuGet client dev-cmanu-cpvm01\5.5.0.10112"
## Installiation
Install VS:  https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3443381&view=results
NuGet Version：dev-cmanu-cpvm01\5.5.0.10112
## Repro steps
1. Install a clean machine with OS: Windows-10-Enterprise-RS5.
2. Install Visual Studio 2019 Preview Master\29804.172
3. Install NuGet Client dev-cmanu-cpvm01\5.5.0.10112.
4. Launch Visual Studio 2019 Preview and try to open PMC

[2020-02-05 13:04] Bryankarlsson commented on #3891
@teroneko how do you use the nuget package you have created(Teronis.MSBuild.Packaging.ProjectBuildInPackage)? I have installed the package in my solution. I have set PrivateAssets="All" on all my project references in the solution. But when I install the nuget package, I get this error:

[2020-02-05 17:28] jeffkl commented on #7777
The SDK resolver will only do work if you pass a valid NuGet version without wildcards.  Otherwise it does nothing.  So we could plumb through `RestoreNoCache` as a global property but not as a property in a project or `Directory.Build.props`.  I would need to update the MSBuild SDK resolver infrastructure to make global properties available.

[2020-02-05 17:36] gilly42 commented on #8646
Can you provide an example how to configure that? And does it disable ALL warning, include others than NuGet ones?

[2020-02-05 17:59] joelverhagen commented on #9119
For other readers, this is referring the the relatively new `<frameworkReferences>` node in the .nuspec. This is a sibling to `<dependencies>`.
![image](https://user-images.githubusercontent.com/94054/73866888-79423680-47fa-11ea-9ca6-888d2ff86c13.png)

It seems that there are two pieces to this request:

1. persisting+displaying the information on nuget.org
1. displaying it in the package manager

[2020-02-05 18:17] ghost opened #9139 "Cann't load DSM."
Windows 10, VS2017, WinformsSample1

code fails at Form1.cs, line 46
 `this._twainx.OpenDSM();`

Cann't load DSM.  dialog appears.  Can't run progam.

(Also the English contraction "can not" is spelled "can't" - just 1 'n')

[2020-02-05 19:17] nkolev92 commented on #7777
What I'm thinking of is the resolver simply passing no cache anytime it needs to download a package.
Once a package is in the http cache, it's likely that it was already installed.

The only concern there would be having more than 1 version of the same sdk will lead to a network for each version.

[2020-02-05 19:20] jeffkl commented on #7777
If the user didn't specify RestoreNoCache and they just published an SDK and a package, then the SDK would restore but then the package wouldn't.  I feel it would be better to have them opt into bypassing the cache for the whole restore since it would work as expected.  But I'll trust your call in this case.

[2020-02-05 19:22] nkolev92 commented on #7777
Yeah that's a valid concern. I think you are actually correct, let's avoid the confusion.

[2020-02-05 19:55] zkat commented on #8973
@v-nancyj confirmed. I tried again a couple of times and it's definitely still there. I'll take a closer look now, thanks!

[2020-02-05 20:15] nkolev92 commented on #9044
Dup of https://github.com/nuget/home/issues/5201

[2020-02-05 20:15] #9044 closed, assigned to nobody

[2020-02-05 20:15] nkolev92 commented on #6724
Dup of https://github.com/nuget/home/issues/5201

[2020-02-05 20:15] #6724 closed, assigned to nobody

[2020-02-05 20:16] nkolev92 commented on #5201
I think we should disable this warning, I'll make the change.

[2020-02-05 20:18] nkolev92 commented on #5201
@gojanpaolo

The code is NU5105, so you can use:

Related: https://github.com/NuGet/docs.microsoft.com-nuget/issues/1457

[2020-02-05 20:36] nkolev92 commented on #6051
@rrelyea assigned it you as you are actively working on this.

[2020-02-05 20:48] rrelyea commented on #6374
When we do this, consider which of these tests to add back in... (look at history):
test/NuGet.Core.FuncTests/NuGet.XPlat.FuncTest/BasicLoggingTests.cs

[2020-02-05 20:56] rrelyea commented on #6051
We've started to fix this as part of https://github.com/NuGet/NuGet.Client/pull/3206.
However, to fix completely, we'd have to also start creating nuget.resource.dll for each language and then merge it. (also delete a bunch of strings).
We should do this soon.

[2020-02-05 21:28] MatthewLymer commented on #8100
Not sure if this is related, but I had:

[code]

And it would only find the first file, changing it to

[code]

Solved my problem, despite the `./output` folder looking like:

[code]

I guess the globing algorithm for `dotnet nuget push` is just non-obvious.

[2020-02-05 21:45] gojanpaolo commented on #5201
Awesome! Thank you!

[2020-02-05 22:06] karann-msft commented on #9141
@aperdomob - going forward, please use the Home repo to file product bugs/issues. Also, for this specific issue, please update it using the following template

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.

[2020-02-06 00:20] #4126 closed, assigned to rrelyea

[2020-02-06 00:20] #8668 closed, assigned to nobody

[2020-02-06 00:21] kunalranglani opened #9142 "Repository element missing from .nuspec on running nuget pack"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version:  5.0.2.5988

VS version : VS 2019 16.5.0 Preview 3.0

## Detailed repro steps so we can see the same problem

1. Open .nuspec file and remove type="git" from the repository element. Leave the url attribute there with a url to your repo

2. "type" attribute is optional in nuspec.xsd

3. run nuget pack .\app.nuspec

4. The nuspe

[2020-02-06 00:21] rrelyea opened #9143 "Code Review polish from `Dotnet nuget add|remove|* source`"
Fix the rest of the feedback that we didn't have time to address before checkin: https://github.com/NuGet/NuGet.Client/pull/3206

[2020-02-06 00:40] kunalranglani commented on #9142
Refernce doc for repository element in .nuspec is here https://docs.microsoft.com/en-us/nuget/reference/nuspec#repository

[2020-02-06 00:47] foriequal0 commented on #8646
You can just put these elements in your `.csproj` file.
[code]
You can confirm it by inspecting the output of `dotnet build PROJECT -pp:out.xml`. `HideWarningsAndErrors` is only used in the `Restore` target, and `EmitAssetsLogMessage` is only used in `RunResolvePackageDependencies` and `ReportAssetsLogMessages` targets. It is not used outside.

[2020-02-06 01:57] cristinamanum commented on #9138
Created a new build: dev-cmanu-cpvm01\5.5.0.6416 and tested with three applications

Web App AspNetCore
Console NetCore
Console NetFramework

The VS installed is from
https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3443381&view=results
SKU : VSProfessional , "Branch Channel"

Both PMUI and PMC work in this configuration

[2020-02-06 05:59] OskarKlintrot commented on #4126
Great work @rrelyea! 👍 Any ETA for when the fix will be released so we can start using it? Can't wait to throw out my bodges from my pwsh-scripts 😁

[2020-02-06 06:09] nkolev92 commented on #8827
Given the scenario, I think that there should be no actionable by NuGet.Client in this specific instance.

However, we should fix https://github.com/NuGet/Home/issues/7404.

Does everyone agree here?
cc @NuGet/nuget-client

[2020-02-06 09:57] ThamiMadoda commented on #8242
C:\Program Files\dotnet\sdk\3.1.101\NuGet.targets(123,5): error : Unable to load the service index for source https://apiProxy Authentication Required). [C:\Users\21740453\Space-Game\Tailspin.SpaceGame.Web.sln].nuget.org/v3/index.json. [C:\Users\21740453\Space-Game\Tailspin.SpaceGame.Web.sln]
C:\Program Files\dotnet\sdk\3.1.101\NuGet.targets(123,5): error :   Response status code does not indicate

[2020-02-06 09:58] ThamiMadoda commented on #8242
Please assist with the above error I get when trying to build a .NET solution in Visual Studio Code git bash

[2020-02-06 12:36] AceHack commented on #4126
This is great news

[2020-02-06 19:56] rrelyea commented on #4126
@OskarKlintrot -This should ship during the NuGet 5.5 wave.

We hope to insert a build that contains this into VS 16.5p3 daily builds today.
Next, we create a PR that inserts this into SDK/CLI... dotnet SDK 3.1.200.
If all goes well, 3.1.200-preview that ships with VS 16.5 preview 3 will be the first build that will be available externally.

[2020-02-06 19:57] nkolev92 opened #9145 "NuGetVersionRange allows logically incorrect ranges to be parsed"
See: https://nugettoolsdev.azurewebsites.net/5.5.0-preview.2.6382/parse-version-range?versionRange=%5B10.0.0%2C+9.0.0%29

This range is empty and there's no reasonable scenario where it's necessary.

This has always been the case, all the way to 2.5 https://nugettoolsdev.azurewebsites.net/2.5.0/parse-version-range?versionRange=%5B10.0.0%2C+9.0.0%29.

[2020-02-06 20:07] rrelyea commented on #9107
@zivkan -
I manually patched that machine, but ran into issues with my first test run.
Sounds like you are planning on moving this pool.

My guess, is that we could invest in understanding "machine growth" per build, by diffing the machine after an additional build...and keep patching those things.

I'm going to close this...but I'm willing to help a bit on the CI front with a bit of time, as you

[2020-02-06 20:07] #9107 closed, assigned to rrelyea

[2020-02-06 20:17] rrelyea opened #9146 "Automated creation of docs for `dotnet nuget` commands."
Still needed to finish [NuGet/Home#4126] add `dotnet nuget <add|remove|update|disable|enable|list> source` command:
- [x] docs.tt
- [x] docs into dotnet docs repo
- [x] sdk checkin
- [x] anything else

[2020-02-06 20:27] outbred opened #9147 "Cannot suppress NU1702, which only shows for .NET Framework projects using new SDK format"
## Details about Problem

NuGet product used : Package Manager Console
NuGet version: 5.4.0.6292
VS version: 16.4.4
OS version: Win10 v1903
Worked before? If so, with which NuGet version: nope

## Detailed repro steps so we can see the same problem

Reference a .NET framework project using the new SDK format from a .NET Std 2.0 project, and you will see a warning like this:

C:\Program Files (x86)

[2020-02-06 21:07] #9062 closed, assigned to nkolev92

[2020-02-06 21:31] heng-liu opened #9148 "Insertion of 5.5.0-rtm.6418"
VS:
 - [x] https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/227455

.NET Core 3.0
 - [ ] https://github.com/dotnet/toolset/pull/4248   overwritten by new insertions
 - [ ] https://github.com/dotnet/cli/pull/13218         overwritten by new insertions
 - [ ] https://github.com/dotnet/sdk/pull/10609       overwritten by new insertions

.NET Core 5.0

[2020-02-06 21:50] #8190 closed, assigned to donnie-msft

[2020-02-07 00:51] aortiz-msft commented on #6410
Duplicate of #8506 which was released as part of 16.5 Preview 2.

[2020-02-07 00:51] #6410 closed, assigned to anangaur

[2020-02-07 01:47] nkolev92 opened #9149 "[5.x] Make restore types that are project.json-specific obsolete"
For example https://github.com/NuGet/NuGet.Client/blob/7bac015acc5b7e0161a058c8febc98abe2386d51/src/NuGet.Core/NuGet.LibraryModel/LibraryDependency.cs#L16 is not very useful anymore.

Same applies to a lot of types throughout restore.

[2020-02-07 02:37] nkolev92 commented on #6772
@v-nancyj can you verify that this is no longer reproing?

[2020-02-07 02:37] #6772 closed, assigned to nkolev92

[2020-02-07 09:38] realrubberduckdev opened #9150 "NuGetPackageRoot & other properties in csproj.nuget.g.props not set on first build"
## Details about Problem

The MSBuild properties set in csproj.nuget.g.props, do not get set on the first run of csrpoj file. They are set on subsequent runs. They are set if we build from solution file even on the first clean run.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): `msbuild.exe`

NuGet version (x.x.x.xxx): `5.0.2.5988 NOTE: This version of nuget.exe is

[2020-02-07 13:27] 23W commented on #5292
It really works, great thank you @aelij
Just interesting when C++\CLI (mixed assemblies) will be supported by Nuget?

[2020-02-07 13:44] WTRipper commented on #5316
Using Process Monitor I saw that nuget.exe is looking in '%APPDATA%\NuGet\packages' as a fallback.  You can place the needed nugets there as a work around.

[2020-02-07 17:32] cristinamanum commented on #9124
So far there are two options
1. Add the central dependencies as the direct . However this will explode the graph with data not needed.
2. On downgraded note add the Central node back to the graph. The positive part of this is that the graph will not be increased with additional dependencies not needed.

[2020-02-07 17:32] #9124 closed, assigned to cristinamanum

[2020-02-07 17:39] cristinamanum commented on #8914
The props were implemented: https://github.com/NuGet/NuGet.Client/pull/3219

[2020-02-07 17:42] cristinamanum opened #9151 "[CPVM] Directory.Packages.props deployment"
The Directory.Packages.props needs to be deployed by three installers

-  VS
- VS BuildTools
- dotnetsdk

It needs to reach the following location
$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Imports\Microsoft.Common.props\ImportBefore

[2020-02-07 17:47] #8914 closed, assigned to cristinamanum

[2020-02-07 18:21] #9137 closed, assigned to zivkan

[2020-02-07 18:40] nkolev92 commented on #9150
Hey @realrubberduckdev

This is unfortunately by design. Because of NuGet's integration with msbuild, you have to separate the invocations of build and restore to allow msbuild to reload the props/targets nuget writes (nuget.g.* specifically).

To do the same thing in one invocation, msbuild has added a -restore or /restore switch.

See: https://docs.microsoft.com/en-us/nuget/reference/msbuild-tar

[2020-02-07 18:40] #9150 closed, assigned to nobody

[2020-02-07 18:40] anangaur commented on #9057
@Petermarcu  Looks like you figured out how to show `Azure.Storage.Blobs`.  Can you let me know how was this done and if we still need this issue?

[2020-02-07 18:48] nkolev92 commented on #7164
Duplicate of https://github.com/NuGet/Home/issues/5872

[2020-02-07 18:48] #7164 closed, assigned to nobody

[2020-02-07 18:50] nkolev92 commented on #7198
Closing this issue as it's captured in #3389 and #5445

[2020-02-07 18:50] #7198 closed, assigned to nobody

[2020-02-07 19:10] weshaggard commented on #9057
This was fixed by the github folks by re-associating the Azure.Storage.Blobs package with our repo. I forwarded you some context with our conversation with them.

[2020-02-07 22:07] zkat commented on #8973
Update: This is not a regression during 16.5. I can repro it in 16.4.

The issue is that the [`ErrorListTableDataSource.ClearNuGetEntries()` method](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio.Common/ErrorListTableDataSource.cs#L109) isn't installed for the `build` action in VS. That gets [installed into the build event](https://github.com/NuGet/NuGet.Client

[2020-02-07 22:21] zkat commented on #8973
Moving this to the icebox -- I don't think this is high-priority enough for us to fix right now.

[2020-02-07 22:51] heng-liu opened #9152 "Insert NuGet Build 5.5.0.6422"
VS:
 - [x] https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/227747

 .NET Core 3.0
 - [x] https://github.com/dotnet/sdk/pull/10609
 - [x] https://github.com/dotnet/cli/pull/13218
 - [x] https://github.com/dotnet/toolset/pull/4248

 .NET Core 5.0
 - [x] https://github.com/dotnet/sdk/pull/4217
 - [x] https://github.com/dotnet/toolset/pull/4228

[2020-02-07 22:55] heng-liu commented on #9148
Closed as completed.
1.Insertion into VS is done.
2.all the PRs insertion into .NET Core 3.0 and 5.0 are overwritten by later insertions https://github.com/NuGet/Home/issues/9152
According to Daniel: It’s fine for the newer insertion to supersede the older one, as long as they are supposed to target the same branch/release.

[2020-02-07 22:55] #9148 closed, assigned to heng-liu

[2020-02-07 22:56] heng-liu commented on #9136
Closed as completed.
1.Insertion into VS is done.
2.All the PRs insertion into .NET Core 3.0 are done.
3.All the PRs insertion into .NET Core 5.0 are overwritten by later insertions #9152
According to Daniel: It’s fine for the newer insertion to supersede the older one, as long as they are supposed to target the same branch/release.

[2020-02-07 22:56] #9136 closed, assigned to heng-liu

[2020-02-08 00:11] karann-msft commented on #9153
@casz - I have moved this issue since this was no longer about documentation. Please fill out this template to helo the team triage the issue:

Please read the following information before posting the issue.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate):

VS version (if ap

[2020-02-08 00:53] nkolev92 commented on #8456
https://github.com/NuGet/Home/issues/7717 is actively worked on.

Closing as dup.

cc @zivkan https://github.com/NuGet/Home/issues/7717

[2020-02-08 00:53] #8456 closed, assigned to nobody

[2020-02-08 00:55] nkolev92 commented on #8323
cc @zivkan A way to shave off some build time :)

[2020-02-08 00:57] nkolev92 commented on #6461
Related to #7717

[2020-02-08 01:07] #5521 closed, assigned to nobody

[2020-02-08 01:24] donnie-msft opened #9154 "Design API Spec for providing Available Updates for a given Project"
Define the specification for a new API that would provide the number of currently available updates for NuGet packages  in a given project within a Solution.

Performance would be critical, as the primary use-case will be a call from Project System to display the # of available updates in the nodes of Solution Explorer.

Project System will need the capability of invoking this API for this Epic.

[2020-02-08 01:30] donnie-msft opened #9155 "Design API Spec for opening the PMUI Window + specific Tabs & pre-selected Packages"
Define the specification for a new API that would allow the Package Management UI window to be opened to a specific tab.

The Updates tab should also be capable of being opened with a set of Packages pre-selected. Automatically focusing on a particular element (likely the Update button) should be considered from an Accessibility perspective, as well as from a  general UX perspective.

The current

[2020-02-08 06:27] zivkan opened #9156 "non-SDK style project with PackageReference with no version has bad error in Visual Studio"
See this Developer Community issue: https://developercommunity.visualstudio.com/content/problem/905757/nuget-restore-fails-with-error-systemargumentexcep.html

Steps to reproduce:

1. Create .NET Framework project (console app or class lib, it doesn't matter. Just needs to be not SDK style project).
2. Add a package to the project, using `PackageReference`
3. Unload the project
4. Edit the `Packag

[2020-02-08 09:03] Nirmal4G commented on #5894
@mletterle Migrate to an SDK-Style project (using `Microsoft.NET.Sdk.WindowsDesktop`) and see if the issue still persists.

[2020-02-08 09:22] vatsan-madhavan commented on #5894
Sorry that's not going to help - see https://github.com/dotnet/wpf/pull/1056#issuecomment-506088643 for an almost-but-not-quite-successful attempt to make this work in WindowsDesktop SDK projects. /cc @ryalanms

[2020-02-08 12:52] vaibhavghevde commented on #3042
This fixed it for me.
Thanks @Bhavik1812

[2020-02-08 15:21] another-mi commented on #6140
I have the same problem

[2020-02-08 20:59] mletterle commented on #5894
This *was* during the migration to an SDK-Style project :P

[2020-02-09 17:48] eaaguirren commented on #6581
same error pls

[2020-02-10 01:24] v-longmin commented on #9138
We verified the issue on NuGet Client\dev-cmanu-cpvm01\5.5.0.6419, it has been fixed, close it, thanks!

[2020-02-10 01:24] #9138 closed, assigned to cristinamanum

[2020-02-10 13:45] lintakumar commented on #6581
My Nuget config -
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>

    <add key="enabled" value="True" />

    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="GlobalInternalFeed" value="http://test.global.com/NugetFeed/nuget"/>
  </packageS

[2020-02-10 16:03] rido-min commented on #4126
When there is a `nuget.config` file in the current folder, I'd like all read/write operations to use that file instead of `%APPDATA%\NuGet\NuGet.config` without using the explicit `-c` switch.

[2020-02-10 16:34] heng-liu commented on #9139
I could not repro or tell if it's related to Package Manager in VS.
Can you pls provide detailed repro steps? Thanks!

[2020-02-10 17:09] josh-degraw commented on #9060
@dominoFire Thanks for that, looks like that accomplished this.

One further question though, since this method shows the icon file at the project root, if I wanted to show it in the Solution Explorer tree under the `Properties` folder, for example, would that be possible? Or would it it only work at the top level?

I tried restructuring the example you gave here to do that but it didn't seem to w

[2020-02-10 17:21] heng-liu commented on #9134
Close it as a duplicate of  https://github.com/NuGet/Home/issues/7630

[2020-02-10 17:21] #9134 closed, assigned to nobody

[2020-02-10 17:24] zkat commented on #8921
This was fixed.

[2020-02-10 17:24] #8921 closed, assigned to zkat

[2020-02-10 17:54] heng-liu commented on #9147
Thanks for reporting this issue.
This is a duplicate of https://github.com/NuGet/Home/issues/8797.
Closed as a duplicate.

[2020-02-10 17:54] #9147 closed, assigned to nobody

[2020-02-10 18:12] heng-liu commented on #9119
Sure! Pls go ahead creating an issue in NuGet/NuGetGallery. We'll have this one as the PM UI change.
According to @nkolev92 , we'd better have a discussion with SDK team about it.

[2020-02-10 18:12] anangaur commented on #4126
@rido-min , I think that is the current behavior except when it comes to persisting creds which is machine/user leve `nuget.config`.  @rrelyea ?

[2020-02-10 18:19] nkolev92 commented on #8897
Spec at https://github.com/NuGet/Home/pull/9103, but since this is on pause, the PR itself is closed as well.

[2020-02-10 18:25] heng-liu commented on #9152
Closed as fixed. All the PRs above are merged.

[2020-02-10 18:25] #9152 closed, assigned to heng-liu

[2020-02-10 18:58] rrelyea commented on #9059
Batch 3 isn't done... but will be moved into another issue for sprint 166.

[2020-02-10 18:58] #9059 closed, assigned to rrelyea

[2020-02-10 19:06] rrelyea opened #9157 "Narrator does not announce "Blank","No Dependencies","nuget.org","MIT" link label"
## batch 3
- [994456](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/994456) - PackageDetail - Tags - A11y_NuGetClient-MinorUIChanges_TestPackageDeprecationOther_ScreenReader : Narrator does not announces "Blank" for the blank field.
- [994459](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/994459) - PackageDetail - A11y_NuGetClient-MinorUIChanges_TestPackage.Deprecation.Other_Inst

[2020-02-10 19:09] rrelyea opened #9158 "Double Process Debugging Improvements"

[2020-02-10 19:26] nkolev92 opened #9159 "Package Manager UI for VSO prototype and estimation"

[2020-02-10 19:31] kartheekp-ms opened #9160 "Code Analysis spec work"

[2020-02-10 19:34] dominoFire opened #9161 "Thread affinity in BitmapSource and WPF UI threads"
- Find out if `BitmapImage`/`BitmapSource` has thread affinity to WPF UI threads

[2020-02-10 19:45] heng-liu commented on #8918
Closed as fixed.

[2020-02-10 19:48] #9159 closed, assigned to nkolev92

[2020-02-10 19:49] kartheekp-ms commented on #9160
Issue moved to [NuGet/Client.Engineering #126](https://github.com/NuGet/Client.Engineering/issues/126) via [**ZenHub**](https://www.zenhub.com/)

[2020-02-10 21:26] nkolev92 opened #9162 "Restore context menus on the solution node for VSO"
[1068097](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1068097)

[2020-02-10 21:31] nkolev92 opened #9163 "VS PMC prototype for VSO"
This will eventually be an epic in itself, capturing the blockers.

[1077359](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1077359)

[2020-02-10 21:49] anangaur commented on #1696
@onovotny Is this issue relevant after the .`snupkg` support? https://devblogs.microsoft.com/nuget/improved-package-debugging-experience-with-the-nuget-org-symbol-server/

[2020-02-10 21:54] anangaur opened #9164 "Enable auto source code linking on pack"
Today its possible to link to source code repository by either manually adding the repository metadata into the `.csproj` or `.nuspec`  file. Or by using `SourceLink` as described in this blog post: https://devblogs.microsoft.com/nuget/introducing-source-code-link-for-nuget-packages/

However, it would be great to enable auto source code linking to public repositories, upon `pack`:

1.	NuGet pack

[2020-02-10 22:00] onovotny commented on #1696
This issue was more about how .NET Native needed the symbols alongside the dll. A symbol server wasn't enough. That said, .NET Native is probably not a high priority these days, I'm gussing.

[2020-02-10 22:02] anangaur commented on #1696
Yepp.. not high on our priority list, as of now. Should this issue be closed or left open to track further comments?

[2020-02-10 22:07] anangaur commented on #5133
@jnm2 we do not plan to fix it in near future due to other higher priority items. Would you like to take a crack at fixing this and raising a PR?

[2020-02-10 22:09] anangaur commented on #5134
@nkolev92 , isn't the owners element deprecated as the owners are decided on nuget.org and not at the client side?

[2020-02-10 22:11] onovotny commented on #1696
I'd prefer keeping it open to track against .NET Native so it doesn't get lost

[2020-02-10 22:38] jnm2 commented on #5133
I would! I'll get started soon. Is there a pull request that would have been similar that I could glean quick information from, like test setup?

[2020-02-10 23:31] heng-liu opened #9165 "NuGet: "The path is not of a legal form" while installing packages in an Android solution"
Investigate
https://dev.azure.com/devdiv/DevDiv/_workitems/edit/983409

The above one is closed, having an identical active ticket as following:
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1063192

[2020-02-10 23:41] nkolev92 commented on #8294
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.UI/Xamls/PackageManagerControl.xaml.cs is the starting point for all things PM UI.

The ui for each tab is the same, the difference being that they have different package feeds populating them. Specifically refer to https://github.com/NuGet/NuGet.Client/blob/bc47382900b66ae789d78f4adf198810d67220c4/src/NuGet.C

[2020-02-10 23:48] nkolev92 commented on #5133
An example is https://github.com/NuGet/NuGet.Client/commit/3c9b61826814dc800a2a295f0985ce4f295483d6,

It might be tricky to honor whether the prop is set or not because the type is a boolean so you can't really express 3 different states with that (true, false, not specified).

[2020-02-10 23:56] nkolev92 commented on #5134
Can't recall, but maybe @joelverhagen or @rrelyea have more context.

[2020-02-10 23:59] joelverhagen commented on #5134
It is not even read on nuget.org. That being said, it's possible other server implementations read it. I know NuGet.Server does.

In my opinion, it should not be populated by default and even "warned" if included.

[2020-02-11 00:54] nkolev92 commented on #8294
On a high level just focus on improving the experience when switching between the installed/updates tabs, remove anything that seems to make the experience sluggish.

[2020-02-11 00:56] anangaur commented on #5134
Thanks @joelverhagen . @jnm2 more add-on things for you if you want to implement this one too 😊

[2020-02-11 01:41] nkolev92 opened #9166 "VS PM UI for VSO"

[2020-02-11 01:45] nkolev92 commented on #8990
Closing in favor of https://github.com/NuGet/Home/issues/9090.

Caught this while I was meddling with my own epic :D

[2020-02-11 01:45] #8990 closed, assigned to nobody

[2020-02-11 05:32] mlhpdx commented on #3676
Likewise, I would much rather have the order be deterministic rather than the whim of internet latency (or otherwise randomly).

[2020-02-11 09:59] Bryankarlsson commented on #3891
@teroneko When I use your nuget package in my solution with 3projects, I get the following error:

This happens when I add PrivateAssets="all" on my project references. If I remove PrivateAssets="all", it works. Do you have any clue why this happens?

[2020-02-11 11:46] jnm2 commented on #5134
I do! Is one PR for both okay?

[2020-02-11 11:47] jnm2 commented on #5134
Eh, never mind. This one adds a warning. Separate is probably better.

[2020-02-11 11:48] bpaczkowski commented on #6697
@nkolev92 Could I get an update? Nuget translates 1.* from the csproj to the newest available version at the time in nuspec. But when I manually change it back to 1.* in the nuspec, then when restoring, it will restore the newest version.

I do not understand why in most issues on this repository people mention floating versions aren't supported by nuget, yet according to my tests they are, only I

[2020-02-11 12:41] tebeco commented on #6697
just try this :
* close visual studio
* create a new project like this :
[code]
* edit the version to this :
`<PackageReference Include="Newtonsoft.Json" Version="*" />`
* run `dotnet restore --force --no-cache`
* read the warning => "No lower bound ...." it try to fetch 0.0.0 then goes for the lowest possible version

open in visual studio and check the package graph

[2020-02-11 13:39] dtivel opened #9167 "Restore: IncludeExcludeFiles.Equals(...) implementation is incorrect"
https://github.com/NuGet/NuGet.Client/pull/1025 introduced [an incorrect `Equals(…)` implementation](https://github.com/NuGet/NuGet.Client/blob/2be799a3cedc275fa378600e9e7da654b504ffe6/src/NuGet.Core/NuGet.ProjectModel/IncludeExcludeFiles.cs#L84-L87).

I discovered this while working on https://github.com/NuGet/Home/issues/9040.

[2020-02-11 16:19] rennerg commented on #9130
Upvote! For CLR projects, we should not be forced to use native targets...that's the point of CLR

[2020-02-11 17:07] heng-liu commented on #9092
Closed as fixed.

[2020-02-11 17:07] #9092 closed, assigned to heng-liu

[2020-02-11 17:57] tebeco commented on #6697
@bpaczkowski

[2020-02-11 20:06] nkolev92 commented on #6697
@bpaczkowski There's a bug in there and it will be fixed.

//cc @zivkan Can you link to the issue with the floating version bug?

[2020-02-11 20:18] tebeco commented on #6697
@nkolev92

in a scenario where i use `[*, 9999.0]` and i also use lockfile

is there a way to force transitive to also be restored as `highest` ?

[2020-02-11 21:13] nkolev92 commented on #6697
Nope, tracking issue for that https://github.com/NuGet/Home/issues/5553

[2020-02-11 21:14] tebeco commented on #6697
thx for the link ;)

[2020-02-11 23:10] karann-msft commented on #9168
@code2expert - for future reference, select the "This Product" button when providing product-related feedback.
![image](https://user-images.githubusercontent.com/16904420/74288118-73f45880-4ce0-11ea-9ef0-b87cd2c51fd7.png)

Use the template below to provide more information for the team to triage the issue.

Please read the following information before posting the issue.

## Details about Problem

[2020-02-11 23:52] heng-liu opened #9169 "Mono version should not be specified in yaml file"
We specify user capability of mono version when running test on Mac.
When mono is upgraded, the microbuild team change the user capability to reflect the correct version, we need to change our code.
It's bad to bind our code with a specific configuration which will change frequently.

[2020-02-12 02:43] code2expert commented on #9168
Thanks for your update

On Tue, Feb 11, 2020 at 6:10 PM Karan Nandwani <notifications@github.com>
wrote:

[2020-02-12 09:09] Inrego commented on #6118
At the very least, the documentation of `dotnet pack` should be updated to make this behavior clear.

[2020-02-12 09:38] Nirmal4G commented on #5894
@vatsan-madhavan The problem is with the temporary project generation. So, Is it possible to come up with a different solution without having to rely on temporary project to generate the assembly?

[2020-02-12 09:41] vatsan-madhavan commented on #5894
@Nirmal4G that’s going to require a redesign of markup compilation.

[2020-02-12 09:47] Nirmal4G commented on #5894
Does UAP use the same technique as it's also XAML?

[2020-02-12 09:51] Nirmal4G commented on #5894
@vatsan-madhavan Does the UAP tools use the same technique (as it's also XAML)? If not, How are they doing that?

[2020-02-12 10:36] secana commented on #7001
I'm running into the issue with dotnet SDK 3.1.101 a `dotnet nuget --version` gives me 5.4.0.2
I have no idea, how I can pack a global tool now. I've tried it on Windows 10 and Fedora with the same SDK version but the error occurs on both. Can I provide any information that helps to debug the issue?

[2020-02-12 10:48] bvamos opened #9170 "Add protocolVersion argument to nuget source add"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): any

Worked before? If so, with which NuGet version: No

## Feature request

Ability to specify protocolVersion property when adding new package source with CLI

[2020-02-12 14:04] olevezinho commented on #9144
@jr549 I later discovered that this happened because I was trying to restore a package that I was developing on a unit test within the same solution. Basically it's somewhat a circular dependency which is causing your test projects not to compile. If you think about it it doesn't make any sense, you are probably using a class that you developed in one of those tests and trying to use it as a depen

[2020-02-12 15:20] mletterle commented on #5894
WPF and UAP builds process XAML *very* differently as they use different binary formats in the output.

WPF uses [BAML](https://docs.microsoft.com/en-us/dotnet/api/system.windows.baml2006.baml2006reader) which is much more a compiled representation than UAP which uses [XBF](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.markup.xamlbinarywriter) which is basically just serialized XAML.

[2020-02-12 15:29] jr549 commented on #9144
VSCode is my opinion is much more error prone than VS since you can easily
clobber your project with a single command. I am still able to follow along
with the textbook instructions using console applications and CLI  commands
to run exercises.I have had my problems with third party extensions like
Xunit. Debugging is still unavailable for my 32 bit machine but at this
point that is not enough to

[2020-02-12 17:53] AArnott commented on #5894
IMO a redesign is long overdue. But if that's not likely to get funded, we ought to be able to make a tactful small change to the tmp_proj itself so that it imports the same package refs that its outer project does.

[2020-02-12 19:10] nkolev92 commented on #9099
Me and @aortiz-msft discussed and we think this is an ok change.

The change here is in the release defintions.

Currently we have 3:
* Publish prerelease packages (excluding NuGet.Commandline)
* Publish release packages (excluding NuGet.COmmandline)
* Publish NuGet.CommandLine (stable only).

The change is to just remove the NuGet.Commandline eclusion from the release definitions.

* Publish prer

[2020-02-12 19:34] KirillOsenkov commented on #5894
Yes I'm guessing when markup compilation was designed for the first time Roslyn wasn't around so you had to resort to compiling an assembly first and then reflecting over it. With Roslyn I'm guessing one could avoid calling Csc twice and save on performance and fragility that have been so problematic over the years.

We should really consider investing in it at some point.

[2020-02-12 19:37] karann-msft commented on #912
Update - here is a link to the spec - https://github.com/NuGet/Home/wiki/Support-pre-release-packages-with-floating-versions

We will continue to use this issue for feedback.

[2020-02-12 19:38] mletterle commented on #8323
You might want to be careful with this, pulling in a netstandard assembly introduces a lot of dependencies that a full framework assembly doesn't (because the netstandard library needs the facades for things like `System.IO`, `System.Runtime`, etc. etc. that are just *there* for the full framework).

[2020-02-12 20:04] AArnott commented on #5894
I don't think Roslyn should be an assumed requirement in the redesign. WPF is used by non-Roslyn languages too. If the reason for the inner build is that reflection over types is required, I hope that can still be done within the main project by just adding more targets.

[2020-02-12 20:11] nkolev92 commented on #6409
Duplicate of:
https://github.com/NuGet/Home/issues/5445
https://github.com/NuGet/Home/issues/3788
https://github.com/NuGet/Home/issues/3101

[2020-02-12 20:11] #6409 closed, assigned to nobody

[2020-02-12 20:12] nkolev92 commented on #3101
Consolidating this into https://github.com/NuGet/Home/issues/3788.

I get that this is older but that issue is more popular and there's no benefit to keeping both issues open.

[2020-02-12 20:12] #3101 closed, assigned to nobody

[2020-02-12 20:28] teroneko commented on #3891
One problem I see, when using this approach the package I offer does provide is, that all project references, that are marked with PrivateAssets="all" are copied to the package. So it can happen that unwanted projects, i.e. those products (dll's and what so ever), are also copied to the nuget package. It may happen, that the now local dll's, that are now present in the package are preferred, what

[2020-02-12 20:28] teroneko commented on #3891
@Bryankarlsson One problem I see, when using this approach the package I offer does provide is, that all project references, that are marked with PrivateAssets="all" are copied to the package. So it can happen that unwanted projects, i.e. those products (dll's and what so ever), are also copied to the nuget package. It may happen, that the now local dll's, that are now present in the package are p

[2020-02-12 20:29] nkolev92 commented on #5894
/cc @aortiz-msft, @karann-msft

At the min we should push for the change @AArnott is recommeding. It's something that was considered a while back, but now that .NET Core WPF is always PackageReference, it's more important.

Change would be somewhere here: https://github.com/dotnet/wpf/blob/master/src/Microsoft.DotNet.Wpf/src/PresentationBuildTasks/Microsoft/Build/Tasks/Windows/GenerateTemporaryTar

[2020-02-12 20:31] dogmasega opened #9171 "HTTPS://ANCENTNIE.SLACK.COM"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2020-02-12 20:32] dogmasega opened #9172 "PR for first draft of spec: https://github.com/NuGet/Home/pull/8961"
PR for first draft of spec: https://github.com/NuGet/Home/pull/8961

_Originally posted by @rrelyea in https://github.com/NuGet/Home/issues/8924#issuecomment-567241930_

[2020-02-12 20:32] dogmasega commented on #9172
https://youtu.be/zmZLQC-Zj6g
HTTPS://ANCENTNIE.SLACK.COM

[2020-02-12 20:33] dogmasega commented on #9172
# @dogmasega

[2020-02-12 20:33] dogmasega commented on #9172
love life freedome

[2020-02-12 20:33] #9172 closed

[2020-02-12 21:16] zkat commented on #9171
spam

[2020-02-12 21:16] #9171 closed

[2020-02-12 21:45] nkolev92 opened #9173 "Lock file and cpvm scenarios might not be replaying the warnings correctly/include them in the assets file."
See comment:  https://github.com/NuGet/NuGet.Client/pull/3198#discussion_r378529659

[2020-02-12 22:28] nkolev92 commented on #5556
@tibel helped out with a change that would enable some extra customization at pack time even if it does not address the core problem here.

[2020-02-12 22:35] tebeco commented on #5553
hello there
i think i can't just repeat thing that are already on the thread
i have also issue for example with Serilog that has many Microsoft.Extensions.Xxx as transitive in 2.x being pulled down to aspnetcore3.1
i let you guess the disaster

(Some PR were rejected on Serilog to update to msft.extensions.xx 3.1.x)

it forces us to pin down transitive explicitly
we are re-creating one of the bigg

[2020-02-12 22:40] bording commented on #5556
@nkolev92 Can you provide an example of how to take advantage of the customization enabled by the PR?

[2020-02-13 00:05] heng-liu commented on #8919
Closed as fixed.

[2020-02-13 00:05] #8919 closed, assigned to heng-liu

[2020-02-13 00:05] heng-liu commented on #8938
Closed as fixed.

[2020-02-13 00:05] #8938 closed, assigned to heng-liu

[2020-02-13 00:11] nkolev92 commented on #5556
@tibel added a test there:

https://github.com/NuGet/NuGet.Client/blob/66a01b3c4df37bcf567b072443629b558241a7bd/test/NuGet.Core.FuncTests/Dotnet.Integration.Test/PackCommandTests.cs#L665-L676

Specifically an example target he wrote is:

[code]

[2020-02-13 00:24] bording commented on #5556
@nkolev92 I saw that, but it's not clear to me how that helps for the scenario in this issue. How would I use that to specify a version range on a project reference for example?

[2020-02-13 00:36] nkolev92 commented on #5556
Pack runs the _GetProjectVersion target on every direct project reference.

https://github.com/NuGet/NuGet.Client/blob/66a01b3c4df37bcf567b072443629b558241a7bd/src/NuGet.Core/NuGet.Build.Tasks.Pack/NuGet.Build.Tasks.Pack.targets#L305-L315 and puts that in an item _ProjectReferencesWithVersions that later gets consumed.

That item would have a  ProjectVersion metadata which would be something like

[2020-02-13 00:57] dominoFire commented on #9142
@kunalranglani Each NuGet server implementation defines its own rules for accepting packages. Does this also happen in nuget.org?

Can you contact GitHub Packages support on this issue?

https://support.github.com/contact?form%5Bsubject%5D=Re:%20GitHub%20Packages

[2020-02-13 01:54] dominoFire commented on #9130
@rennerg @JohnLudlow This is a very broad topic, from migrating packages.config to PackageReference and how load the assembles from NuGet and so on.

In the meantime, you can upvote this [Developer Community issue](https://developercommunity.visualstudio.com/idea/351636/use-packagereference-in-vcxproj.html).

[2020-02-13 01:55] #9130 closed, assigned to nobody

[2020-02-13 07:07] Nirmal4G commented on #5894
If the pre-compilation is only needed for just reflection (and intellisense) then I would go with @KirillOsenkov 's proposal, using Roslyn to do just that and more. This could provide the best inner-loop performance and better visual experiences across any tools and IDEs that uses Roslyn and LSP.

[2020-02-13 08:34] vatsan-madhavan commented on #5894
The approach @AArnott is proposing has problems. That’s the approach taken by https://github.com/dotnet/wpf/pull/1056, which had to be ultimately abandoned for reasons discussed in the PR. In short, we cannot run NuGet restore on the temp project safely and risk hitting the network once the build process (for the main project) has started.

And he also right in suggesting that we cannot rely on Ro

[2020-02-13 11:50] nl-x commented on #6324
Had the same issue. Solved it by clearing all Nuget Caches.
Tools > Options > NuGet Package Manager > General > Clear All NuGet Cache(s)

[2020-02-13 14:01] JWilh commented on #4103
Any news on that, can we expect getting some like that,
cause it's a relativly simple command which would save us time,
as it would especially help working with custom frequently changed nuget packages?
(where it would be really helpfull to specifiy a packagename (with wildcards) and also a "version, -v" and -source parameter)

[2020-02-13 15:04] Nirmal4G commented on #5894
I'm not aware of this. What are the other languages, @vatsan-madhavan?

[2020-02-13 16:05] AArnott commented on #5894
@vatsan-madhavan I wasn't proposing that we run *package restore* on the tmp_proj. Restore should only happen on the original project file. What I'm proposing is simply that the tmp_proj import the same props and targets from PackageReference items that the original project does. Does that change your assessment of my proposal?

@Nirmal4G: VS is an open platform. There are several languages includ

[2020-02-13 16:14] KirillOsenkov commented on #5894
Note that my proposal does not exclude non Roslyn languages. There can be API that inspects the source and returns the types, namespaces and other info needed. It could be implemented by Roslyn for csproj and vbproj, the F# compiler for F# and whoever else for their language as needed. Build would just call a target that is implemented differently. When I said Roslyn I meant compiler API that unde

[2020-02-13 16:29] AArnott commented on #5894
Given most compilers don't have an API like Roslyn's, and Roslyn was very expensive to create, I think this would have to be an 'opt in' feature so that we don't break everyone else in the meantime.

[2020-02-13 16:54] KirillOsenkov commented on #5894
But honestly I’d be curious to see any data about projects using markup compilation that are not C#. Even anecdotal.

Even if we just fix it for C# it’ll be a vast improvement for the vast majority of projects.

[2020-02-13 16:56] diberry opened #9174 "Documentation on how to use the *.csproj CDATA block to provide information?"
How do I use the CDATA block as a first class citizent to provide rich text and hyperlinks to information relevant to my customers to use the package?

Is there reference documentation somewhere?

[2020-02-13 17:27] Nirmal4G commented on #5894
We are not! Previously, the `PresentationBuildTasks` was closed source. But now is not the case. So when we do improve it for roslyn based languages, others would see it and implement something similar for their own toolchain.

[2020-02-13 17:43] cristinamanum opened #9175 "[CPVM] Re-discuss the CPV merge location"
There were question for the location where the CPVM and package reference merge needs to be done.
At the entry point by (msbuild, VS, static restore graph entry points) or before restore .
Currently the merge is before restore when the packagespec is added to the dgspec.

This item is to track if we need to change to do it at entry points.

[2020-02-13 17:52] kunalranglani commented on #9142
@dominoFire I believe this is more of an issue with nuget pack where it removes the repository element from the .nuspec if the type attribute is missing. Because the element is missing GitHub is not able to parse the nuspec correctly

[2020-02-13 18:27] rob3c commented on #3676
It's clear that internet latency has nothing to do with it, or my local drive would win every time (which it doesn't).

It also seems clear that nuget.org doesn't mind all of the requests for private packages and corresponding IP addresses leaking into their server logs, or they'd likely have had motivation to get this breaking change fixed long ago.

[2020-02-13 18:38] vatsan-madhavan commented on #5894
We did consider this one briefly.

`*.nuget.g.props` aren't imported by the project - they are imported by `Microsoft.Common.props` like this:

[code]

Importing `$(MSBuildProjectExtensionsPath)$(MSBuildProjectFile).*.props` into the tmp_proj would not work as-is - that happens anyway today and doesn't work because the values of these properties change for each project.

We'd have to import **$(MS

[2020-02-13 18:49] nkolev92 commented on #4103
@JWilh

Have you tried use dotnet add package?
It covers most scenarios?

[2020-02-13 18:56] nkolev92 commented on #5894
@vatsan-madhavan

The nuget.g.props and nuget.g.targets do not have any project specific mentions by design.

For example this is a nuget.g.props for a project:

[code]

Just making a copy of the targets with the temp project name and later deleting it should do it.
The assets file is already used in the additional compilation step so just ensuring the props/targets get imported is enough.

A whil

[2020-02-13 19:58] jchannon commented on #8018
I just got this working thanks to @sayedihashimi with the following command

`dotnet pack ./content/CarterTemplate.csproj -p:nuspecfile=/Users/jonathan/projects/carter/template/cartertemplate.nuspec`

You can try it out from this repo https://t.co/J7jcxS2Goo

Hopefully this info can help the docs

[2020-02-13 20:28] ChristianHoe opened #9176 "Content files copied to output are not inherited by other projects"
Using VS2019 and a solution with lots of csprojs,
I have created a NuGet package which just copies a exe file to /bin.

`<contentFiles>
  <files include="**/helper.exe" buildActions="Content" copyToOutput="true" />
</contentFiles>`

The package works fine, but if I reference the project in an other project, the exe file (contentFiles) is not copied.

Referencing the package in the top project is n

[2020-02-13 20:49] zivkan commented on #8018
Double-checking [.NET Core's docs on packing templates](https://docs.microsoft.com/en-us/dotnet/core/tools/custom-templates#packing-a-template-into-a-nuget-package-nupkg-file), they've already updated it to show how to pack using nothing more than the dotnet cli and a csproj. No custom `nuspec`, no `nuget.exe`.

Closing this issue as it's complete.

[2020-02-13 20:49] #8018 closed, assigned to nobody

[2020-02-13 23:46] karann-msft commented on #3116
@NickCraver - can you confirm if you have tried calling restore with --no-cache as suggested by [several](https://github.com/NuGet/Home/issues/3116#issuecomment-232186962) folks above?

[2020-02-14 00:00] karann-msft commented on #4491
We are now actively investigating implementing #7778.  We currently don't plan to add the ability to pack SDK style projects to nuget.exe.

[2020-02-14 00:51] NickCraver commented on #3116
@karann-msft Yes, sure, locally. But that's not the issue.

How would we do this *on a build server*? Unless we always ignore cache completely, which would lengthen and increase the cost of every build. The build: a) doesn't run as me, so I have to execute this command as a privileged account I only have access to because I'm a sysadmin, and b) runs across many machines.

It seems like we're not r

[2020-02-14 03:45] karann-msft commented on #3116
So you haven't tried it on a build server. Now we are making progress. I am not sure what build system you are using. What approach have you considered/tried so far to leverage the no-cache option? If you provide more details, I am sure we can help you incorporate it into your builds.

[2020-02-14 06:25] anangaur commented on #3116
@NickCraver  `--no-cache` only skips the http-cache and not the `GlobalPackagesFolder` and hence using this may not be so bad till we fix this issue. Since it also depends upon specific usage scenario (i.e. how often the `http-cache` is used for your use-case), it may be a good idea to baseline the time taken with and without the `-no-cache` option.

I am also listing out the scenarios where not r

[2020-02-14 06:36] davidfowl commented on #5553
@TannerBragg do the things you depend on have the same guarantee?

[2020-02-14 07:44] Kryptos-FR commented on #3116
Should be renamed `--no-http-cache` because that is confusing. I would never guess that it affects only that layer. There might also be a need for `--no-package-cache` to skip the `GlobalPackagesFolder`.

[2020-02-14 07:47] JWilh commented on #4103
@nkolev92
I'm working with a powershell script to "update" from our "CI-CD" Packages to my local debug packages. (I'snt the normal workflow, but in some cases it made thinks a lot easier)

CI CD Package Version is something like 0.1.47, my local packages are build as 0.0.0-local-<Day-Time>.
For  upgrading to my local packages I use a powershell script to "update" to version "0.0.0-local* (so that

[2020-02-14 09:46] kennydv commented on #8223
I had the same issue. For now I use the following workaround:
It seems the deletion does work when you add a second 'set' command.
f.e: "nuget.exe config -Set repositoryPath=  -set signatureValidationMode=accept"
does delete the repositoryPath-setting, where "nuget.exe config -Set repositoryPath=" would not.
Note: i use signatureValidationMode=accept just because this is the default value so it do

[2020-02-14 10:13] ernest33 commented on #8223
@kennydv Perfect your workaround work perfectly 🥇 😄
Thank you !

[2020-02-14 10:36] hilari0n commented on #8223
Guys, please up-vote the original post in this thread, so it gains more visibility. Maybe they'll fix it sooner this way.
@kennydv: Thanks for the workaround!

[2020-02-14 11:34] ChristianHoe opened #9177 "CopyToOutputDirectory from target files behaves different from msbuild and VS2019"
Having created a package with a targets file

[code]

Running MsBuild.exe MySolution.sln works like expected (Helper.exe is in bin/debug). Build/Rebuild/Restore Packages from within Visual Studio 2019 (16.4.4) does nothing.

[2020-02-14 11:55] v-luzh commented on #8832
Same error as the original bug on D16.5\29813.226 as below.
![image](https://user-images.githubusercontent.com/20632625/74529953-e45edc00-4f63-11ea-9e4d-d6948fcf82d3.png)

[2020-02-14 12:21] NickCraver commented on #3116
Sure, we can run some builds with both and post numbers here. FWIW I am aware of the `--no-cache` but agree it's a confusing name.

The reason this doesn't make sense on a build server is _it's a build server_. Most of them allow you to local cache the git repo (e.g. local clone, updates are pulls, for faster builds). So everything you need is on that server. You may be building 1 thing or 20 thin

[2020-02-14 15:29] furyd commented on #3891
To add another Real World(tm) example, I'm wanting to create packaged templates that use several projects to enforce a specific architecture from the get-go, and contain xUnit and Azure deploy projects to save a pile of time for bootstrapping similar projects.

I can probably work around this with a shell project file, but that feels hacky as hell.

[2020-02-14 15:54] rainersigwald opened #9178 "[Directory.Build.props] Using PackageReferences with Nuget packages from custom nuget feed"
_From @ceregador on Friday, February 14, 2020 3:07:17 PM_

We use Directory.Build.props in several solutions to inject common PackageReference (StyleCop.Analyzers) to solution's projects to enable linting:

`<PackageReference Include="StyleCop.Analyzers" Version="1.1.118" PrivateAssets="all" />`

Every solution contains its own ruleset but the rules are the same.
So we decided to create one common

[2020-02-14 16:10] rrelyea commented on #3891
@furyd - have you seen "dotnet.exe new *" command to help create projects. This is a project templating mechanism.
They will eventually also be available as VS templates too... https://twitter.com/rrelyea/status/1228350573738463232

[2020-02-14 16:21] furyd commented on #3891
Hi @rrelyea , yeah, been using them for a few months and about the time you posted figured out how to get a multi project one done, albeit in the hacky way I mentioned.

I've essentially got a solution with all the projects I want in (api/domain/service/repository/deploy/test) under the src and tests folders, then in the parent (where the sln file lives) another project which has all those project

[2020-02-14 17:29] tomwartonick opened #9179 "g"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2020-02-14 17:56] karann-msft commented on #3116
@NickCraver - focusing on the no-cache option, just to make sure I am reading that correctly, let me paraphrase you:
1. It is too difficult to modify dozens of build scripts across many build machines to use no-cache
2. Even if you were able to do 1, it may cause build time to go up - waiting for numbers to understand the real-world impact

Also, want to throw this into the mix `[RestoreNoCache](h

[2020-02-14 18:10] llehn commented on #3116
The last few posts but actually all of this discussion are a joke.

You better fix the reeeeally !wrong! idea of caching 404s instead of telling smart people what to do.

Microsoft should fire and rehire the whole nuget team.

[2020-02-14 18:21] DoCode commented on #3116
Apologies to @NickCraver.
We also clean the http cache on CI builds via PowerShell/build script...

[2020-02-14 18:33] NickCraver commented on #3116
@karann-msft That's a good summary, yep! In all, all of those solutions are still `n` solutions, whether it's command line or project file. So the fundamental principle of the problem/solution set remains the same - we need a global fix for global behavior.

@llehn I agree there's bad behavior here, but bad human behavior on top of it doesn't help. I'm no saint in this issue either, I just read ba

[2020-02-14 18:40] nkolev92 opened #9180 "Rename no-cache to no-http-cache"
Across all the tooling, dotnet.exe/nuget.exe/msbuild.exe, we have a --no-cache, -NoCache, RestoreNoCache switch to turn off our http cache caching, which includes a few things:

- Caching the resources (thing caching repository signatures, servide index)
- Caching the versions list
- Caching the nupkgs

This whole experience is rather confusing. A lot of .NET Customers think of the global packages

[2020-02-14 18:42] karann-msft commented on #3116
@NickCraver - how about setting the `RestoreNoCache` in a `Directory.Build.props` file at the root?

[2020-02-14 18:43] NickCraver commented on #3116
@karann-msft We're already using that pretty pervasively, so one at the root of the drive wouldn't be picked up by most projects - and if it did, it'd be hit or miss (e.g. easy to break/unintuitive). `Directory.Build.props` isn't recursive, so only the first one found works, unless you're manually including higher up.

[2020-02-14 18:49] vatsan-madhavan commented on #3116
If the package in question is an MSBuild SDK, then `RestoreNoCache` has no effect. The _MSBuild SDK Resolver_ simply ignores this property AFAIK.

[2020-02-14 18:53] karann-msft commented on #3116
@vatsan-madhavan - what do you mean by `If the package in question is an MSBuild SDK`? Did you mean if the consuming project was an SDK style project?

[2020-02-14 18:54] karann-msft commented on #3116
@NickCraver - how about setting it as an env variable?

[2020-02-14 18:56] NickCraver commented on #3116
@karann-msft I'd definitely take that as a workaround (we can deploy it via puppet), but are we talking about a temporary workaround here or as the only change? I'd like to see the base behavior of "actually check on a miss" modified here so it just works for everyone...not everyone finding this issue or troubleshooting it though it a few times.

[2020-02-14 18:56] vatsan-madhavan commented on #3116
@karann-msft Here are some examples: https://github.com/microsoft/MSBuildSdks/blob/master/README.md.

https://github.com/novotnyllc/MSBuildSdkExtras is another popular one.

[2020-02-14 19:02] karann-msft commented on #3116
@NickCraver - I am trying to validate if the `RestoreNoCache` is a decent workaround (sounds like it is?) while we identify a solution including the "actually check on a miss" one. As a matter of fact, @nkolev92 is actively investigating the technical challenges and will be posting his findings shortly.

[2020-02-14 19:04] NickCraver commented on #3116
Not sure I came across right: `RestoreNoCache` is still a "go modify every repository" solution - it's synonymous with `--no-cache` on the `n` changes front (and every new project accounting for it). So, not a good workaround.

Good to hear on investigating a better long-term :)

[2020-02-14 19:05] karann-msft commented on #3116
Let me clarify - I meant `RestoreNoCache` env variable so that it is applicable machine-wide.

[2020-02-14 19:12] softlion opened #9181 "IVsPackageInstallerServices.IsPackageInstalled returns false on 1st call"
## Details about Problem
In an AsyncPackage visual studio extension, this code detects if the Xamarin Forms nuget is installed when a xaml file is focused.
The code works fine except the 1st time it is called. It was tracked down to IsPackageInstalled which returns ... false.

I suppose there is some async work taking place in the nuget component, which needs to load the nugets installed in the cu

[2020-02-14 19:19] NickCraver commented on #3116
@karann-msft Ah gotcha - yes, that'd work as a workaround for our case. Is this a thing today?

[2020-02-14 19:29] joelverhagen commented on #9119
The server side issue already exists, actually: https://github.com/NuGet/NuGetGallery/issues/7578.

[2020-02-14 19:37] karann-msft commented on #3116
@NickCraver - I believe it is! I just tried and msbuild recognizes it

[2020-02-14 20:00] nkolev92 commented on #3389
Dup of #3116

[2020-02-14 20:00] #3389 closed, assigned to nobody

[2020-02-15 00:45] dominoFire commented on #9179
@tomwartonick Can you elaborate more on the problem you encountered with NuGet?

[2020-02-15 01:56] nkolev92 commented on #8673
Dev notes:

There are a few nuances here, because not every scenario is equal.
* explicit & implicit scenarios go to a different output window today.
* in CPS based projects certain warnings are read from the assets file and not written by NuGet, so we might need partner work to complete the experience.
* The status bar is also a consideration, we might need to use a different API to ensure that a

[2020-02-15 02:23] donnie-msft opened #9183 "Continue Refactoring / Reducing XAML in the PMUI"
Recent changes to improve a11y in our PMUI have lead to some refactoring and reduction of code (eg, FilterLabel.xaml is gone), but perhaps more could be done. For example, in [this PR (3238)](https://github.com/NuGet/NuGet.Client/pull/3238), I split Consolidate Tab into properties in the .xaml.cs of the Top Panel, and am having to duplicate all the XAML properties in C#. Probably more elegant solu

[2020-02-15 02:41] cristinamanum opened #9184 "[CPVM] Increase test coverage"
- public static ProjectStyle? GetProjectRestoreStyleFromProjectProperty(string restoreProjectStyleProperty)
- CentralPackageVersion ctor (null arg checks)
- internal class MSBuildItemIdentityComparer : IEqualityComparer<IMSBuildItem>
- JsonPackageSpecReader.cs  ->  PopulateCentralDependencies
- Add/update tests in test\NuGet.Core.Tests\NuGet.ProjectModel.Test\ProjectRestoreMetadataTests.cs
- Add/u

[2020-02-15 02:48] dominoFire commented on #9174
Since the .csproj file is an XML file, you can use CDATA in the nodes. In the following .NET Core sample library, the csproj would look like:

[code]
In the preview page in nuget.org, the description appears as follows:

![image](https://user-images.githubusercontent.com/1192347/74580560-55999180-4f5a-11ea-8b1c-dbae048af221.png)

I did a quick search and I couldn't find any documentation. This iss

[2020-02-15 19:24] jjxtra commented on #7656
This causes certain nuget publishing to fail, example link: https://ci.appveyor.com/project/Polly-Contrib/polly-contrib-duplicaterequestcollapser/builds/30825948/messages

[2020-02-16 18:57] tomwartonick commented on #9179
I’m sorry, I didn’t mean to open an issue. Mobile user error when putting phone away. Please disregard and cancel/close

Sent from my iPhone

On Feb 14, 2020, at 5:45 PM, Fernando Aguilar <notifications@github.com> wrote:

﻿ [Warning: External Email]

@tomwartonick<https://github.com/tomwartonick> Can you elaborate more on the problem you encountered with NuGet?

—
You are receiving this because y

[2020-02-16 20:18] zijianhuang commented on #7189
same with VS 2019 Pro latest, and local .net core package.

[2020-02-16 21:25] mrpaulreed opened #9185 "packages element with xmlns set makes the nuget discover process find nothing."
NuGet product used (Package Manager Console):Package Manager Console

NuGet version (x.x.x.xxx):Package Manager Console Host Version 5.4.0.6292

dotnet.exe --version (if appropriate):

VS version (if appropriate): VS2019 Community Edition

OS version (i.e. win10 v1607 (14393.321)):Win 10

---------------------

1. with a nuget based web project there is a packages.config file produced. PackagesRef

[2020-02-17 08:26] narendra2509 opened #9186 "NPM Install failed due to ERR! code EMISSINGARG"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2020-02-17 10:18] tdesaules commented on #8864
Hi,

I forget this case... my bad.

We are using packages.config based for our asp dotnet 4.X and packageReference for the dotnet core apps.

[2020-02-17 11:26] v-nancyj commented on #3205
Verified this issue on VS D16.5\29814.53 with implicit NuGet Client Dev\5.5.0.6422, it has been fixed, close it.

[2020-02-17 11:26] #3205 closed, assigned to nobody

[2020-02-17 11:27] v-nancyj commented on #8510
Verified this issue on VS D16.5\29814.53 with implicit NuGet Client Dev\5.5.0.6422, it has been fixed, close it.

[2020-02-17 11:27] #8510 closed, assigned to nobody

[2020-02-17 12:30] ds1709 commented on #6764
Maybe it will be usefull. I have project with two depencies, PackageA and PackageB. They in turn depends (transitive) from Newtonsoft.Json 8.0.1 and Newtonsoft.Json 9.0.1. Because of this, from build to build I have different version of Newtonsoft.Json in output directory. There's more fun when I add package reference on Newtonsoft.Json 12.0.1 directly in project.
In this scenario I need maximum o

[2020-02-17 14:28] tebeco commented on #6764
@ds1709,
As of today you can just use MsBuild variables for that,
There're 2 possible ways since `MsBuild 15.x` (2017) :
* Use an explicit variable per package at a global level
* Use a target that will apply the `Version` with an `Update`

I have created a repository to anticipate the `Centralized Nuget Package` here:
https://github.com/dotnet-experimentations/CentrallyManagingNuGetPackageVersion

[2020-02-17 16:33] aliostad commented on #9126
It is happening for me as well. I assumed it was Windows Defender but after disabling it, it still happens. This happens when I restore to a volume, mounted on the container.

For me it complains randomly for `system.xml.xmlserializer/4.0.11/system.xml.xmlserializer.nuspec` or `system.xml.xmlserializer/4.3.0/system.xml.xmlserializer.nuspec`.

[2020-02-18 09:52] omribeni opened #9187 "migrating to nuget v3"
I have been using Nuget.core latest version in my .net project  to Connect to the package repository I have sitting in in Azure Artifacts.

something changed in the passed few days and the authentication using my pat failed. (i checked it, its not that).
I saw that azure decided to switch their connection to feeds using nuget v3. and there is no manual doing it other then with 1) .net core cli.  2

[2020-02-18 09:54] DrGriff opened #9193 "Clarification regarding Standard 2.0 vs 2.1 as NuGet"
We have multiple applications that are written in .NET 4.8 and a few that are written in .Net Core 3.1.

We currently have a private library of NuGet packages that we've written in .Net Standard 2.0 that are consumed by both the 4.8 and Core 3.1 applications.  However, we want to start to leverage .Net Standard 2.1 so that we can use nullables etc.

So if I were to set the TargetFrameworks to be "

[2020-02-18 10:33] meurig opened #9188 "nuget.exe doesn't support modern cipher suite (windows 7)"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet.exe (though confirmed same issue with others)

NuGet version (x.x.x.xxx): 5.4.0.6315

dotnet.exe --version (if appropriate): 3.1.101

VS version (if appropriate): 2019 (v16.4.5)

OS version (i.e. win10 v1607 (14393.321)): win7 v6.1 (Build 7601: Service Pack 1)

Worked before? If so, with

[2020-02-18 12:38] MichielCornilleESC commented on #1827
Noticed this today
Vs Enterprise 2017 Version 15.9.12 , Azure DevOps private NuGet feed. (Own package)

[2020-02-18 13:53] Gameghostify commented on #9126
+1 happens for me as well. As soon as I use compose's `volumes` key in any service that `dotnet restore` is run in, it complains that `The file '<source folder>/obj/project.assets.json'  already exists`

[2020-02-18 14:47] dtivel opened #9189 "Restore: skip .NET SDK-style projects during no-op evaluation"
In Visual Studio, because .NET SDK-style projects restores are triggered by project nominations from the project system, there should be no need to perform another restore (even a no-op restore) in most build-triggered restores.  By skipping these projects during no-op restore evaluation, no-op restore becomes faster relative to how many .NET SDK-style projects are skipped; so, a solution with no

[2020-02-18 15:57] diberry commented on #9174
@dominoFire Thank you. I don't find this information in the docs anywhere. Can you provide the link?

[2020-02-18 17:56] donnie-msft commented on #9138
Commit for future reference: https://github.com/NuGet/NuGet.Client/commit/dc77e072a3f7733a63a5a5645548fd057d500391

[2020-02-18 18:32] #9179 closed, assigned to nobody

[2020-02-18 18:47] nkolev92 commented on #9189
I think the first bullet point is already handled.
Only 1 restore can run at any time in Visual Studio.
Each nomination is guaranteed to end in a restore, and if a nomination comes in while a restore is happening, it will just queue a new restore.

Additionally rebuilds already overwrite-no-op, but I'd honestly argue they shouldn't, see https://github.com/NuGet/Home/issues/6987.

Note that by skip

[2020-02-18 19:13] rrelyea commented on #9157
Still waiting for 1 more signoff on: https://github.com/NuGet/NuGet.Client/pull/3236

[2020-02-18 20:17] nkolev92 commented on #8864
I see, so you have both flavors.

Would you be able to provide us detailed logs from the "slow run" or a repro.
Unfortunately I don't have any ideas how to explain the discrepancy between the different users.

Another question, what does the "cache" you talk about refer to?

[2020-02-18 20:30] tdesaules commented on #8864
When I say cache I mean, the first time the nuget restore is done it will download the package from internet to my local jenkins slave then copy to my working directory (jenkins) this take time bug not so mutch regarding the download latencies. Then when I build my app the second time it will only copy the nuget package from my "local temp nuget folder" to my jenkins workspace. This take a lot of

[2020-02-18 20:40] nkolev92 commented on #8864
nuget.exe <command> -verbosity Detailed should do it.

I'm just trying to the understand the action here.
Are you referring to NuGet built in capabilities or something jenkins does?

See https://docs.microsoft.com/en-us/nuget/concepts/package-installation-process for how NuGet pacakage installation works.

In PackageReference NuGet installs packages in the global packages folder which is where bui

[2020-02-18 21:28] joelverhagen commented on #5133
Moved from https://github.com/NuGet/NuGet.Client/pull/3240#issuecomment-587878680.

This seems like a great change, but there are some concerns I have that should be investigated/mitigated/dismissed:

1. The default is not documented as far as I know: [requireLicenseAcceptance](https://docs.microsoft.com/en-us/nuget/reference/nuspec#requirelicenseacceptance)
    - At the very least, we should docu

[2020-02-18 22:41] rrelyea opened #9190 "CommandRunnerResult works differently with dotnet.exe vs nuget.exe?"
In dotnetsourcestests.cs needed to use item2, where item3 worked in nuget.exe based tests

[code]

Figure out difference that causes that...in order to simplify porting any tests from nuget.exe to dotnet.exe

[2020-02-19 04:13] alexandrvslv commented on #7001
For Linux host current workaround: recursively update all files date in project folder after first time build error.
find -print | while read filename; do
    touch -d "now" "$filename"
done

[2020-02-19 07:43] GreatFireWall commented on #3406
Same issue, very bad design.

I'm following these steps to do: https://help.github.com/en/packages/using-github-packages-with-your-projects-ecosystem/configuring-dotnet-cli-for-use-with-github-packages

But I failure.

![image](https://user-images.githubusercontent.com/4510984/74812337-48035380-532e-11ea-91d4-2fc6df2ee10e.png)

I had add the API key inside `nuget.config` but why you can't find it

[2020-02-19 08:37] aliostad commented on #9126
Issue seems to be docker for windows and not nuget. I do not have a proof yet but have a feeling nuget is a red herring here.

[2020-02-19 10:20] Xcone commented on #9126
Thanks @aliostad , that solved it for me. Downgraded from 2.2.0.3 to 2.1.0.5 and the issue is gone.

Download links to older versions can be found in the release notes:
https://docs.docker.com/docker-for-windows/release-notes/#docker-desktop-community-2105

[2020-02-19 10:27] archfz commented on #9126
I do not see how the docker desktop is affecting this, or is the docker desktop downgrade also downgrading the docker version? @Xcone what is your docker --version

[2020-02-19 11:26] Lonli-Lokli opened #9191 "<Library>.runtimeconfig.json is not copied from lib to output"
## Details about Problem
Actual issue -only dotnet-swagger.dll is ocpied, dotnet-swagger.runtimeconfig.json is not copied as assets from nuget to output folder.

It's actually required to run dll with this file as well.

[RuntimeConfigNugetIssue.zip](https://github.com/NuGet/Home/files/4224768/RuntimeConfigNugetIssue.zip)

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.ex

[2020-02-19 11:35] aliostad commented on #9126
It broke after upgrading my docker for Windows although now realise why. It works on a colleagues machine with older Docker for Windows. It is funny that they have the same Docker Engine (19.03.5) but different Compose - and that is killing it.

[2020-02-19 12:13] v-luzh opened #9192 "[Test Failure] There is an error “The calling thread cannot access this object because a different thread owns it” after installing/updating/uninstalling package in the PM UI"
## Details about Problem
NuGet version: dev-donnie-msft-a11yPmuiTabs\5.6.0.10272
VS Version: Master\29818.127
OS: Windows-10-Enterprise-RS5
## Detailed repro steps so we can see the same problem
1. Launch VS and create a project [e.g. Console App (.NET Core)].
2. Open the PM UI of the project or the solution.
3. Install/Update/Uninstall a package in the PM UI.
4. Observe the Error List window.
##

[2020-02-19 14:04] jnm2 commented on #5133
Oh, my bad! I was sure it was documented to be `false`. It looks like only the [.csproj property](https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#pack-target) is documented to be false.

Changing the builder and reader types from `bool` to `bool?` would be a breaking change for anything compiled against this library, so I'm assuming you wouldn't do that? If you decide to roundtrip

[2020-02-19 18:19] karann-msft commented on #9193
@DrGriff - for future reference, docs issues are meant to track bugs with our documentation. For product-related questions - use the Home repo.

Use the template below to provide context for the team to triage this issue.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate):

VS

[2020-02-19 19:22] lanfeust69 opened #9194 "Incorrect implementation of NodeWarningProperties.IsSubsetOf"
At [this line](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/RestoreCommand/Logging/TransitiveNoWarnUtils.cs#L862), there logically should be an `else return false;`.

The fix is somewhat breaking though : if a package reference transitively arrives twice, and on only one of the paths has a `NoWarn`, there should be a warning at the end (at least that's the purpose o

[2020-02-19 20:33] jabbera opened #9195 "Forced locked mode doesn't work cross platform"
## Details about Problem

When running a dotnet restore --locked-mode from a linux environment where dotnet restore --force-evaluate was run on windows it fails. This makes things very difficult to test cross platform. (Build on a linux agent then run tests on windows). Note: it happens either way (lockfile generate on linux causes windows to fail)

NuGet product used: dotnet.exe

NuGet version (x

[2020-02-20 01:37] nkolev92 commented on #912
Pull Request out based on the above linked design https://github.com/NuGet/NuGet.Client/pull/3247.

[2020-02-20 03:39] Jehoel commented on #6284
I'd like to add that the "Remove dependencies" checkbox (and the `-RemoveDependencies` command option) doesn't work if other top-level project dependencies depend on a descendant dependency of the package you're wanting to remove.

In my case, I want to remove Microsoft Application Insights from my ASP.NET project. Here's my painful journey:

1. VS > Package Manager Console.
1. (Ensure correct pro

[2020-02-20 07:56] FreeApophis commented on #8638
Seems like I hit this Problem too, with a conditional TargetFrameworks:

I also tried with singular TargetFramework, no change;

[code]

[2020-02-20 09:56] mrward commented on #8330
This is now resolved.

[2020-02-20 09:56] #8330 closed, assigned to mrward

[2020-02-20 11:57] panuoksala commented on #6140
Started to receive this problem when I changed my nuget packages to use star version numbering:
0.0.*

In DevOps all the steps are trying to now resolve packages and fails:
- dotnet restore => works
- dotnet build => fails to fetch packages from private repo (tries to use nuget.org for some reason)
- dotnet test => fails into same reason
- docker build & push => fails into same reason

All works i

[2020-02-20 13:09] v-nancyj opened #9196 "[Test Failure] Auto refresh in the ‘Browse’ tab of PU UI doesn't work"
## Details about Problem

NuGet Version: NuGet Client Release-5.5.x\5.5.0.6449
VS Version: D16.5 - 29819.164
OS Version: Windows-10-Enterprise-RS5

## Installation steps:
1. Install VS: [https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3486273&view=result](url)
2. Install NuGet Client: [\\ddfiles\Drops\NuGet\Drops\CI\NuGet.Client\Release-5.5.x\5.6.0.6449\artifacts\VS15\NuGet.Tools.vsi

[2020-02-20 14:08] v-luzh commented on #8065
The original issue is fixed on  D16.5\29819.164 + NuGet Client Release-5.5.x\5.5.0.6449, but it still exist in License Acceptance window as below.
![image](https://user-images.githubusercontent.com/20632625/74941076-63a15380-542d-11ea-88c9-f449dc0d0b34.png)

[2020-02-20 15:11] Gameghostify commented on #9126
I'm pretty sure this is fixed by the just-released Docker for Desktop version 2.2.1.0 https://docs.docker.com/docker-for-windows/edge-release-notes/ (look at the fixed issues)

I'll test this now

[2020-02-20 15:54] thomasrea0113 commented on #4837
Thought I'd add a quick workaround that I found.

[code]

If you add the `GeneratePathProperty` attribute to your package reference, then a property will be generated for that page in the form `pkg<namespace_classname>`, which you can easily use in a copy task to copy it to your output folder, or wherever relative to your project root.

[2020-02-20 16:54] whoiskevinrich opened #9198 "Question: NetStandard Resolution when consuming multi-target package"
Given a consuming application:
`<TargetFramework>netcoreapp2.1</TargetFramework>`

that has a reference to a NuGet Package that is targeting multiple netstandard frameworks:
`<TargetFrameworks>netstandard1.3;netstandard2.0</TargetFrameworks>`

would the consuming application resolve the netstandard1.3 implementation or the netstandard2.0?

[2020-02-20 17:20] aliostad commented on #9126
I upgraded, not solved yet :/

[2020-02-20 18:43] StingyJack commented on #6284
I would also like to remind @rrelyea and the nuget team that this should also include cleanup or regeneration of assembly binding redirects.

And that the new title does not match the request. Nuget should cleanup after itself. We arent asking that the Remove button be easier to click, we are asking for proper and complete removal of things that are no longer necessary to be included.

[2020-02-20 19:04] dtivel opened #9197 "Remove from public members parameter types that leak implementation details"
We have many public members with implementation-specific parameter types.  This makes it difficult to fix bugs or improve performance without introducing breaking changes.  Examples are `DependencyGraphSpec` or `JsonPackageSpecReader`.  We should be able to replace a JLinq implementation with `JsonTextReader` or the`System.Text.Json` equivalent to fix a bug or improve performance without making a

[2020-02-20 19:30] karann-msft commented on #9198
@whoiskevinrich - for future reference, the docs repo is meant for bugs related to our documentation. For product-related issues, use the Home repo.

Use the template below to provide information for the team to triage this issue.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropria

[2020-02-20 20:12] whoiskevinrich commented on #9198
Which team would handle a question about current functionality that is not in the documentation, as asked above?

[2020-02-20 20:58] jaredpar opened #9199 "EvaluateCacheFile is causing restore crashes on Linux"
# Details about Problem
Restore during build using `dotnet msbuild` is crashing with an unhandled exception on Unix operating systems. The problem appears to be a simple unhandled exception.

[code]

Builds where this has occurred
|Build|Kind|Timeline Record|
|---|---|---|
|[534074](https://dev.azure.com/dnceng/public/_build/results?buildId=534074)|PR https://github.com/dotnet/runtime/pull/32736|R

[2020-02-20 21:55] cmcclellen commented on #8646
Any one have word on this?  Seems like something that would be simple for GPR to fix, but 20+ days later, still an issue.

[2020-02-20 23:56] rrelyea commented on #8517
I did fix a bunch about the deprecation accessibility. (5.5) it did have problems.

However, this issue itself is ok.
it is ok for non-controls to not be tab focusable. Reading mode in narrator (and other tools) drills into the content and reads more stuff.

[2020-02-20 23:56] #8517 closed, assigned to nobody

[2020-02-21 00:10] nkolev92 commented on #8064
Closing per the above comment.

[2020-02-21 00:10] #8064 closed, assigned to nobody

[2020-02-21 00:12] nkolev92 commented on #8983
Closing per the above comment.
Please provide us a repro project if you are still having issues.

[2020-02-21 00:12] #8983 closed, assigned to nobody

[2020-02-21 00:16] nkolev92 commented on #8150
At this point we don't have enough information to continue investigating this issue. Closing as not repro.

[2020-02-21 00:16] #8150 closed, assigned to nobody

[2020-02-21 11:12] StarWars999123 commented on #4837
We noticed, that the GeneratePathProperty is not kept during an update of a file via the GUI. It would be fantastic if someone could extend this to keep the setting. The legacy package we linked with this mechanism is referenced about 20-30 times and is a pain to fix, when you don't just replace the RegEx.

[2020-02-21 17:59] dtivel opened #9200 "Restore: improve performance by parallelizing population of solution dependency graph spec"
Restore and no-op restore performance can be improved by parallelizing population of the solution dependency graph spec.

Currently, [projects are added sequentially to the solution dependency graph spec](https://github.com/NuGet/NuGet.Client/blob/f67a6083f8a49502f52f0c50492db03452785359/src/NuGet.Core/NuGet.PackageManagement/BuildIntegration/DependencyGraphRestoreUtility.cs#L220-L276).

https://g

[2020-02-21 18:12] dtivel opened #9201 "Restore: improve performance by caching solution dependency graph spec"
Every solution restore begins by [recreating the solution dependency graph (DG) spec](https://github.com/NuGet/NuGet.Client/blob/f67a6083f8a49502f52f0c50492db03452785359/src/NuGet.Core/NuGet.PackageManagement/BuildIntegration/DependencyGraphRestoreUtility.cs#L220-L276).

We should be able to improve performance for at least all the non-first restores by caching the solution DG spec.  (We already w

[2020-02-21 18:42] KirillOsenkov commented on #4837
Which GUI are you talking about? the NuGet UI? or the project properties?

[2020-02-21 18:43] KirillOsenkov commented on #4837
@StarWars999123 would you mind filing a separate issue for this? It's a good observation, the UI should not stomp over users changes in the .csproj and it should be careful to preserve the existing text and formatting as much as possible.

[2020-02-21 19:12] dsplaisted commented on #9089
Designs PR with details: https://github.com/dotnet/designs/pull/92

[2020-02-21 19:18] zkat commented on #9003
TODO: Make sure to check error cases, too

[2020-02-21 20:07] nkolev92 commented on #9201
I don't know if this will yield too much benefit. If one has sdk based projects only the expensive part is probably the project list generation as it might use the UI thread.

* SDK based projects package specs are already cached
* LegacyPackageReference projects, not so much because we don't get nominated for changes. The trick is that if we have restored ones, most likely changes would require o

[2020-02-21 20:13] jaredpar commented on #9199
Updated to include more of the builds / jobs where this failed.

[2020-02-21 20:23] karann-msft opened #9202 "Inform when using preview features"
Some features shipping in stable releases might still be in preview. We should inform users that they have enabled a preview opt-in functionality.

For example -  `<RestoreUseStaticGraphEvaluation>true</RestoreUseStaticGraphEvaluation>`

related to https://github.com/NuGet/NuGet.Client/pull/3109

cc: @anangaur @jeffkl

[2020-02-21 20:29] JohnTortugo commented on #9199
@rrelyea @dtivel @nkolev92 - Can you please chime in here? This is affecting a bunch of repos already and has the potential to become even more critical.

[2020-02-21 21:24] dtivel commented on #9199
@nkolev92, this looks similar to https://github.com/NuGet/Home/issues/7341.  Any ideas?

[2020-02-21 21:41] nkolev92 commented on #9199
Are all the failures coming from the SDK resolver?
If so, I have some ideas, I can investigate.

[2020-02-21 21:45] JohnTortugo commented on #9199
@nkolev92 I think all builds listed by @jaredpar failed with the same error. Let me know if you need anything from our side to drill down this.

[2020-02-21 21:49] nkolev92 commented on #9199
I clicked on a couple of random ones and all of them had resolver stack traces.
Not sure 100% what exactly the sequence is that leads to these failures, but I'm pretty confident I know the general area where the issue is.

I'll be handling priority issues next week (conveniently), so I'll take an initial stab at it.

[2020-02-21 21:50] nkolev92 commented on #9199
fyi @jeffkl

[2020-02-21 22:01] jeffkl commented on #9199
That seems weird, the directory should exist.  I suppose `DependencyGraphSpec.Save()` should create the directory just to be safe

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.ProjectModel/DependencyGraphSpec.cs#L267

[2020-02-21 22:54] zkat opened #9203 "PM UI doesn't work for sdk style projects after installing a package with PMConsole"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

version (x.x.x.xxx): All versions, at least since 16.4.5

## Detailed repro steps so we can see the same problem

1. Create a new console project

2. Open the PM Console

3. `Install-Package Newtonsoft.Json`

4. Try to open the PMUI for the project again.

## Result

This error happens during

[2020-02-21 22:57] nkolev92 commented on #9199
There's a permissions trick.

The tmp folder in linux is global, so the first operation that creates /tmp/NuGetScratch sets the permissions for that folder.

In every scenario that NuGet writes to the temp folder we usually call: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Common/PathUtil/DirectoryUtility.cs instead of Directory.CreateDirectory, because that creates the tmp

[2020-02-21 22:58] donnie-msft commented on #9203
What I'm seeing: For a new Console project, this line in [NetCorePackageReferenceProject.cs](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/NetCorePackageReferenceProject.cs) returns null when it calls GetAssetsFilePathAsync()

![image](https://user-images.githubusercontent.com/49205731/75078422-69914600-54ba-11ea-8fd4-2b92ada3cd9a.pn

[2020-02-21 23:00] rrelyea commented on #8935
is this ready for review? think that the current PR had failures still. i checked because it is in the "in review" column on the board.

[2020-02-21 23:00] rrelyea commented on #9128
Link to PR? this is in the "in review" column.

[2020-02-21 23:03] zkat commented on #8935
Sorry, I should've moved it back to In Progress.

[2020-02-21 23:10] nkolev92 commented on #9128
It never got disabled, did you see it happen again or?

[2020-02-21 23:53] heng-liu opened #9204 "Manual testing for package verification on different platforms"
Our current package verification tests are verifying separately on each platform.
We need to manually test for package verification cross platforms.

[2020-02-21 23:56] heng-liu opened #9205 "Verify packages sample from nuget.org"
We can analyse the packages from nuget.org, to get packages having unique certificate chains.
Then verify those packages on different platforms.

[2020-02-22 01:00] keith-miller commented on #5555
Hmm, two and a half years, still happening. It makes using Net Core in linux based CI/CD systems a pain. Any updates?

[2020-02-22 01:36] donnie-msft opened #9206 "Docs Bug Bashing - Sprint 166"
For Quality Week, Sprint 166, Day 5, we are working on Docs Bugs.

Tracking mine here.

Docs Issues:
https://github.com/NuGet/docs.microsoft.com-nuget/issues?q=is%3Aopen+is%3Aissue+label%3AdocsDay

- [x] [VS Mac mention missing as NuGet client tools](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1841)

[2020-02-22 04:32] mrubinstein commented on #5764
We fall under the second use case - we keep only the latest version of our packages in the feed. NU1603 is something that we have to work around, quite frustrating.

[2020-02-22 05:54] GreatFireWall commented on #8580
I encountered a similar problem and hope to be helped.
https://github.com/NuGet/Home/issues/3406#issuecomment-588079375

[2020-02-22 11:32] jozefizso opened #9207 "IncludeSource in .csproj doesn't work"
I addthe **IncludeSource** configuration to the **.csproj** file and I also tried to set it on msbuild command line. The output nuget package does not contain project source code.

Sample project:
https://github.com/NetOfficeFw/NetOffice/blob/dev/netcoreapp30/Source/NetOffice.props#L30

Sample command line:
[code]

According to the [documentation](https://docs.microsoft.com/en-us/dotnet/core/tools

[2020-02-22 17:20] liesauer opened #9209 "nuget push does not accept absolute path of a package"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 2.8.7.0

## Detailed repro steps so we can see the same problem

1. upload a package with full path.

2. nuget can not find the package because it always combine with current directory no matter it is an absolute path or a relative path.

[code]

and say
[code]
combine with current directory when specifing a absolute path is n

[2020-02-23 15:14] StingyJack commented on #6284
@Jehoel - You mentioned the one filename that will make the nuget team will completely disregard and ignore your entire post. They do not care about your (or my) existing code, or features we had and used, or the performance of the PM UI if you are going to use it for _that filename_.  They can say otherwise (and often do), but actions and behaviors tell a different story.

[2020-02-23 20:56] gadeweever commented on #4488
Solved the same issue with the same workaround from @James-Lester with a .net 4.7.1 project referencing a .net standard 2.0 library.

[2020-02-23 22:29] dtivel opened #9210 "Restore: regression in DependencyGraphSpec.AddProject(...)"
https://github.com/NuGet/NuGet.Client/commit/db388741dd500eeb94b9b87dead77753de22e702#diff-55e5297d6b228b707c6eb441dc1573c3 introduced a regression to `DependencyGraphSpec.AddProject(…)`.  [A `NullReferenceException` is thrown if `packageSpec.RestoreMetadata` is `null`](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.ProjectModel/DependencyGraphSpec.cs#L210).

An [earlier state

[2020-02-23 23:02] jjmanton commented on #8923
I believe this could be a regression in a recent release of the migrator/Visual Studio. In previous versions, I would get a warning for packages that contained only a lib folder (which would require lib/Net45 for example), but in the most recent versions I am no longer seeing those packages show as compatibility issues. When migrating in the latest visual studio version, I get behavior similar to

[2020-02-23 23:18] kartheekp-ms commented on #9198
Refer to [NuGet doc](https://docs.microsoft.com/en-us/nuget/create-packages/supporting-multiple-target-frameworks#matching-assembly-versions-and-the-target-framework-in-a-project) to learn more about how NuGet installs a package that has multiple assembly versions. As per [doc](https://docs.microsoft.com/en-us/dotnet/standard/net-standard), .NET Core 2.0 implements .NET Standard 2.0. In the scenar

[2020-02-23 23:18] #9198 closed, assigned to nobody

[2020-02-24 01:25] jaredpar commented on #9199
Added more affected builds

[2020-02-24 05:32] mastrolorito commented on #3324
Any update on this?

I'm still using NuGet 3.6 and cannot install missing packages into my VS project.

PM> install-package C:\Users\MMast\Downloads\microsoft.identitymodel.clients.activedirectory.3.13.9.nupkg
install-package : Some NuGet packages are missing from the solution. The packages need to be restored in order to build the dependency graph. Restore the packages before performing any
opera

[2020-02-24 10:17] v-nancyj commented on #3204
Verified this issue on VS D16.5\29814.53 with implicit NuGet Client Dev\5.5.0.6422, it has been fixed, close it.

[2020-02-24 14:30] dtivel opened #9211 "Restore: PackageSpec.Clone() creates unequal clone"
`PackageSpec.Clone()` can create a clone which fails an equality test with the original.

Trivial example:
[code]
The issue is that while `PackageSpec.Clone()` creates a new `PackageSpec` and copies all properties from the original in the cloning process creates a clone which results in the clone being unequal with the original.  In particular, `Clone()` [first copies the `IsDefaultVersion` value]

[2020-02-24 15:42] dehghani-mehdi opened #9212 "[Offline] Nuget can not resolve packages if dependency lives in different directory"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): `NuGet.exe`

NuGet version (x.x.x.xxx): `5.4.0.6315`

OS version (i.e. win10 v1607 (14393.321)): Win10

Worked before? If so, with which NuGet version: No.

## Detailed repro steps so we can see the same problem _I try my best_

1. Put dependency package inside folder `A`
2. Create folder `B` i

[2020-02-24 16:20] gulbanana commented on #8186
According to https://github.com/dotnet/designs/pull/92, there will be no WASM TFM. I'm not sure how to write a library which is used from Blazor and Desktop but has APIs that should only be available in the Desktop build. This design document suggests using a RID to make the APIs throw when used in a browser :/

[2020-02-24 16:33] rrodriguez1975 opened #9213 "Nuget says Could not find a part of the path when compiling VB.NET solution"
I have the following problem explained [here](https://stackoverflow.com/questions/60335041/ncrontab-signed-3-3-2-nuget-says-could-not-find-a-part-of-the-path-when-compilin) in stackoverflow.

In short, I have Visual Studio 2013 and a project built with .NET Framework 4.5. I know the problem is the version of Nuget I have. My Nuget version is 2.12.0.817 (last version available for Visual Studio 201

[2020-02-24 16:46] StarWars999123 opened #9214 "GeneratePackagePath Property is not kept during package update"
## Details about Problem

NuGet product used: VS UI

NuGet version (x.x.x.xxx): -

VS version: 16.4.5

OS version: 1903 (Build 18362.628)

Worked before? If so, with which NuGet version: no

## Detailed repro steps so we can see the same problem

1. Install a nuget package to a new .net core format project.
2. Add the GeneratePathProperty for the package
3. Update the installed package
--> The Gen

[2020-02-24 18:53] jaredpar commented on #9199
Presently this is causing 6% of our builds to fail in dotnet/runtime.

Is there a step we can do before calling restore that would allow us to work around this problem until a real fix comes in? Waiting for NuGet means we'll likely stay at 6% failure for several weeks (at a minimum) given the state of code flow.

@markwilkie, @tmat

[2020-02-24 19:15] nkolev92 commented on #9199
It's a multi step thing but should unblock you:

* Delete /tmp/NuGetScratch
* Ensure that the first NuGet operation is one that doesn't go through the SDK resolver.
  * Literally any restore that leads to package download and does not have a custom SDK.

[2020-02-24 20:28] zivkan commented on #9070
Set developer community feedback status to "need more info".

The feedback currently has two crash dumps attached. One was not taken during an exception. The UI thread was rendering, so despite being in `ntdll.dll`'s `WaitForMultipleObjects`, it's probably waiting for the video driver. I didn't see evidence of a UI hang. The other memory dump was taken during a first change exception that was in a

[2020-02-24 20:28] #9070 closed, assigned to zivkan

[2020-02-24 21:12] terrajobst opened #9215 "NuGet pack should catch incorrect omitting of the dot in version numbers"
For .NET 5, [we're going](https://github.com/dotnet/designs/pull/92) to reuse the existing `net` moniker. Due to our new versioning scheme (fixed schedule, major bump every year) we're only five years away from .NET 10. Developers might accidentally say `net10` when they really meant `net10.0`. We're planning to follow in the footsteps of .NET Core where project files will generally use a dot, eve

[2020-02-24 21:14] zivkan commented on #9080
More information was asked for on Developer Community. The feedback was closed there due to no response, so closing here as well.

[2020-02-24 21:14] #9080 closed, assigned to zivkan

[2020-02-24 21:52] jaredpar commented on #9199
@nkolev92

Would a `chmod` also work here? That is significantly simpler for us to implement as a work around than an extra restore (just realities of how the build is setup).

[2020-02-24 21:57] karann-msft commented on #5016
hey @serialskiller - have you tried out your scenario with the latest nuget.exe 5.4? I am hoping @dtivel's fix improved the scenario.

[2020-02-24 22:10] nkolev92 commented on #9199
Yeah, that'd work too

[2020-02-24 23:53] #9169 closed, assigned to heng-liu

[2020-02-25 00:11] loic-sharma opened #9216 "The "update" button on Package Manager UI is broken if PackageReference in "Directory.Build.targets""
## Details about Problem

VS UI: Version 16.6.0 Preview 1.0 [29812.224.master]

## Detailed repro steps so we can see the same problem

1. Create a classlib project with the following csproj:

[code]

2. Add the following `Directory.Build.targets` file:

[code]

3. On the Package Manager UI, update the "Newtonsoft.Json" package

![NuGetBug](https://user-images.githubusercontent.com/737941/75202439

[2020-02-25 01:55] dominoFire opened #9217 "Search operations in Local folders in PM UI don't report a LoadingStatus different than Loading."
## Details about Problem

NuGet product used: VS UI

NuGet version:

dotnet.exe --version (if appropriate):

VS version (if appropriate): 16.4

OS version: Microsoft Windows [Version 10.0.19564.1000]

Worked before?

## Detailed repro steps so we can see the same problem

Search operations in Local folders in PM UI don't report a LoadingStatus different than `Loading`.

[2020-02-25 02:05] dominoFire opened #9218 "Failing feed stops search in PM UI"
## Details about Problem

NuGet product used: VS UI

NuGet version: 5.6.0

VS version: Version 16.6.0 Preview 1.0 [29823.26.master]

OS version: Microsoft Windows [Version 10.0.19564.1000]

Worked before?

## Detailed repro steps so we can see the same problem

1. Open VS
2. Navigate to Tools > Options > NuGet Package Manager > Package Sources
3. Add a non existent remote folder as a NuGet Source,

[2020-02-25 10:07] madelson commented on #5556
This would be helpful to for us as well. Currently we are still manually maintaining nuspecs because of this limitation,

[2020-02-25 10:08] madelson commented on #5556
@nkolev92 the target you posted leads to a build error for me in VS:

[code]

[2020-02-25 16:03] marqdouj commented on #8852
I believe I am having the same (similar) issue.
I've created a NuGet package that contains 2 .NET Framework 4.7.2 dlls in the files section. If I install the package to a new .NET Framework 4.7.2 class library and select packages.config the second dll is missing and won't install (it shows up with warning icon in the project references). If I change the project to packagereferences then both dlls

[2020-02-25 17:21] dominoFire commented on #9218
Failure occurs at `LocalPackageSearchResource`

[2020-02-25 17:36] dominoFire opened #9219 "Follow up refactorings in InfiniteScrollList"
Some patterns were discovered when working on InfiniteScrollList. This is an issue to follow-up the discussion.

Source: https://github.com/NuGet/NuGet.Client/pull/3254

[2020-02-25 19:25] nkolev92 commented on #5556
@madelson

You are using the 3.1.100 SDK, the change made by @tibel is in the 3.1.200 SDK which is still in previews.

[2020-02-25 19:39] kartheekp-ms commented on #8939
PR merged and hence closing this issue.

[2020-02-25 19:49] marqdouj commented on #8852
I did some more digging...
I moved the second dll to it's own nuget package - same results; the dll won't restore properly unless the project is using packagereference.
The only difference is that this dll is a WPF user control library.

Any ideas?

[2020-02-25 22:25] nschwerzler commented on #3324
This is causing us a lot of problems with share feed. The behavior is the packages are ignored and it is slowing Nuget adoption in our org. The workaround is they have to copy the feed locally and it is clunky.

[2020-02-25 23:27] stevenbrix commented on #6764
Will the VS support for this work for any SDK style project? I know there is no SDK-style for C++ projects, but we are thinking of rolling our own, and would like to make sure that experiences like this will still work

[2020-02-26 00:19] kaptcha0 opened #9221 "Toolbox and Nuget error"
I have added a nuget package to my wpf (.NET Core 3.1) application and I am trying to add the components in the package to the Visual Studio 2019 Toolbox. The problem is that it says that the .dll file doesn't contain any objects that can be added into the Toolbox, even though there should be something!

For anyone curious, I added the MaterialDesignThemes (v3.1.0-ci981) package, and I am trying t

[2020-02-26 00:35] helviett opened #9222 "Nuget restore doesn't work with msbuild 16 on mono"
## Details about Problem

On MacOS nuget.exe version 5.4, 5.3.1, 5.2 etc.

`mono nuget.exe restore -MSBuildPath /path/to/msbuild16v or /path/to/vstool/that/use/msbuild16`. Using nuget without mono provides the same result.

Works with msbuild 15 or 14.

### Verbose Logs
`nuget restore Launcher.Mac.sln -MSBuildPath "/Library/Frameworks/Mono.framework/Versions/Current/Commands" -Verbosity detailed`

[2020-02-26 00:36] nkolev92 commented on #9209
@liesauer You are using a very old version of NuGet that's not actively maintained.

Can you try using a newer version of NuGet such as 5.4.0?
A quick test relative and absolute paths work just [fine](https://github.com/NuGet/NuGet.Client/commits/dev/src/NuGet.Core/NuGet.Protocol/Utility/LocalFolderUtility.cs).

[2020-02-26 00:43] nkolev92 commented on #9212
Think of folder A as a source.

NuGet supports 2 types of file sources:

	- V2 vs V3 file feed
		○ V2 - Given the root of a package feed, the structure of the feed is as follows:
			§ Root
				□ packageA.1.0.0.nupkg
				□ packageB.2.1.0.nupkg
		○ V3 - Given the root of a package feed, the structure of the feed is as follows:
			§ Root
				□ packageA
					® 1.0.0
						◊ PackageA.1.0.0.nuspec

[2020-02-26 00:51] nkolev92 commented on #9193
When selecting the closest matching framework, it's always done independently.

net4.8 will select netstandard2.0
netcoreapp3.1 will select netstandard2.1

[2020-02-26 00:51] #9193 closed, assigned to nobody

[2020-02-26 00:51] Seltzer commented on #6010
For the love of god, please fix this because NuGet is hilariously unusable at the moment!!

NuGet will be turning 10 this year. Incidentally, 10 years is about the amount of time required for the Updates tab to load in VS.

[2020-02-26 00:54] liesauer commented on #9209
i am not quite sure, i will check it tonight.

[2020-02-26 00:55] nkolev92 commented on #9213
@rrodriguez1975
Those 2 components work side by side.

The NuGet extension version is 2.12.0.817.
The NuGet.Build package powering the experience is 2.12.1 - https://www.nuget.org/packages/NuGet.Build/2.12.1

Beyond that it's possible that you are having a different issue.

[2020-02-26 01:04] liesauer commented on #9209
the nuget.exe in my windows maybe very old, but in ubuntu, it should be the latest version, i install it via `apt-get install nuget`, has this package be deprecated? because i have the same problem in ubuntu.

[2020-02-26 03:56] snopywithchary opened #9223 "Could not load file or assembly 'MiCrosoft.VisualStudio.ProjectSystem.v140nly,version=14.1.0.0' or one of its dependencies. The system cannot find the file specified"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2020-02-26 05:13] paulalves commented on #5127
Same problem, any update regarding this issue?

[2020-02-26 05:14] Jetski5822 commented on #5805
yeah - this really shouldnt be closed, the UI just keeps spinning, and when you navigate away and back to it.... the whole process starts all over again.

[2020-02-26 08:08] bondarenkod opened #9224 "PM UI: Consolidate or Update packages operations should not be blocked due to errors (Package Downgrade, etc.)"
Please read the following information before posting the issue.
## Details about Problem
NuGet product used: VS UI
NuGet package manager: 5.4.0
VS version: VS 16.4.5
OS version:  win10 (18363.657):
Worked before?: NO

## Detailed repro steps so we can see the same problem
1. Solution with multiple projects. Some of the projects included different versions of some packages. Some projects are refere

[2020-02-26 10:58] liesauer commented on #9209
sorry, i got mixed up. nuget in ubuntu is very old. how can i update to latest. this package seems have been outdated for a long time. i install it via `apt-get install nuget`.

[2020-02-26 11:01] liesauer commented on #9209
the latest version is still 2.x...
![image](https://user-images.githubusercontent.com/8676741/75338780-40adee00-58ca-11ea-94cc-57befffeff80.png)

[2020-02-26 12:38] v-luzh opened #9225 "[Test Failure] Embedded icon can’t be shown in PM UI with local package feed - depending on / vs \"
## Details about Problem
NuGet version: NuGet Client Dev\5.6.0.6472
VS Version: Master\29825.171
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1.	Create a Class Library (.NET Framework 4.8) in VS and build the solution.
2.	In the Developer Command Prompt for VS, create a nuspec file by executing command “nuget spec”
3.  Make an image file (size limited to 1 MB with JPEG/PNG format and 128x

[2020-02-26 14:02] sipsorcery commented on #6548
+1 not being able to get the `contentFiles` to work.

My workaround was to use an msbuild `.targets` file to manually copy the files (I was already the `.targets` file for #8573).

In my `.nuspec` file I have the `files` node as below. The content files I want to copy to the output directory of applications consuming my nuget package are the ones corresponding to the final  element and the `media`

[2020-02-26 14:27] dehghani-mehdi commented on #9212
@nkolev92 here is what I'm doing:

I have a folder (lets call it offline) and use it as my package source in Visual Studio. if I need a package which doesn't exists in _offline_ folder, first I install that package into it using following config file and this command: `nuget install -config nuget.config packageId -OutputDirectory offline`, and then use it inside VS.

[code]

I also have some libra

[2020-02-26 16:56] heng-liu opened #9226 "In X509ChainStatus, Status should be used in assertion but not StatusInformation"
The Status is better to recognize and compare than StatusInformation for the following reason:
1.Status are the same cross platform, while StatusInformation varies
2.Status and StatusInformation are not 1-1 mapping(two Statuses may have the same StatusInformation).

[2020-02-26 19:02] nkolev92 commented on #9209
@liesauer
That package is not maintained by the NuGet team.

Go to https://www.nuget.org/downloads to get the latest nuget.exe

[2020-02-26 20:14] dominoFire commented on #9225
If you use `/` instead of `\` in the `<icon/>` path, then, you can see the package icon in the PM UI.

[code]

[2020-02-26 21:42] ceregador commented on #9178
It's not reproduced anymore with Visual Studio 2019 16.4.5.
So the issue can be closed.

[2020-02-26 22:10] rrelyea commented on #9203
@zkat - i don't see how this bug was found. which channel?

[2020-02-26 22:56] debonte commented on #9221
Hi @ProgrammerAI,

It sounds like you went into the Choose Toolbox Items dialog, browsed to %USERPROFILE%\.nuget\packages\materialdesignthemes\3.1.0-ci981\lib\ **net45** \MaterialDesignThemes.Wpf.dll, and expected to see the MaterialDesignThemes added to the Choose Toolbox Items list box, but instead got this error:

![image](https://user-images.githubusercontent.com/12820898/75394878-fb77c500-58a

[2020-02-26 23:57] Yawhnie commented on #6581
Using the IP address of the private repo instead of the server name sorted out the problem for me.

[code]

[2020-02-26 23:58] Yawhnie commented on #6581
Change test.global.com to IP

[2020-02-27 01:04] liesauer commented on #9209
@nkolev92 but i need the linux version, as far as I know, `dotnet nuget` is not exactly the same with `nuget`, there are so many commands that `dotnet nuget` doesn't supported such as `nuget source Add -Name "GitHub" -Source "https://nuget.pkg.github.com/owner/index.json" -UserName owner -Password GH_TOKEN`, so `dotnet nuget` is out. so the only way to use the latest version is install mono and us

[2020-02-27 01:59] nkolev92 commented on #8852
@gojimmypi

The reference in your csproj has `<Private>true</Private>` and that's the override for copy local, so you are opting out of the copying.

@marqdouj

There are some differences in how packages.config and PackageReferences work.
Unfortunately I'm having trouble following the scenario without a repro.

[2020-02-27 02:01] nkolev92 commented on #8852
At this point, we are deviating from the original issue. This issue is capturing a very broad topic and we haven't gotten more info from the OP so we can scope it.

As such I'll close this issue. We'd be happy to engage in a new issue if my suggestions above do not address your problem.

Thanks

[2020-02-27 02:01] #8852 closed, assigned to nobody

[2020-02-27 02:15] nkolev92 commented on #9212
You can generate a V3 package source by running `nuget.exe add`.

Back to your original problem, you are running nuget.exe install with a source.
NuGet.exe install in this case, uses "only" that source, so it's not even looking at your personal source.

Can you try not specifying the source and either not specifying anything, allowing NuGet to use the defaults for that directory or maybe point to

[2020-02-27 02:27] NithishHemanth opened #9227 "How use nuget pack push on Jenkins installed on Linux"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
Nuget.exe

NuGet version (x.x.x.xxx):
5.4.0 or previous versions till 3.3.0

OS version (i.e. win10 v1607 (14393.321)):
Linux

Worked before? If so, with which NuGet version:
I tried to create nupkg packages and push to artifactory using nuget 3.3.0 and later in Jenkins 1.546 installed on LINUX OS.

Nuget commands are n

[2020-02-27 04:50] dehghani-mehdi commented on #9212
Sure

It doesn't need to look at personal. it should look at offline. I want to install my personal packages into personal folder which has dependency and this dependency lives @ offline folder.

[2020-02-27 04:57] markolbert opened #9228 "project.assets.json content doesn't parse with JSON deserializers"
Not sure if this is the right place to raise this kind of question but it's where a search on some similar questions pointed me to...

I'm writing a C# metadata extractor which requires that I parse `project.assets.json` in order to locate the assembly references I need to have Roslyn compile the project I'm analyzing. This is complicated by the structure of `project.assets.json` not being well-fo

[2020-02-27 05:16] KirillOsenkov commented on #8529
@nkolev92 I keep hitting this and it's super painful every time. I'm considering writing my own script for this. Any chance this could be looked at in the near future? Thanks!

[2020-02-27 05:17] KirillOsenkov commented on #8628
Would really be nice to have this. Is there a workaround I could use?

[2020-02-27 10:19] Sellec commented on #5016
No, it is not fixed.
I have tried this now with Visual Studio 2019 (VS 'About' form says it using NuGet 5.4), my project still packaging (started at 12:38 and still packaging at 13:00).
Total files with relative paths (placed not in project folder) are 1460.

[2020-02-27 10:56] KrabatTilt commented on #6795
I had the same issue using a TeamCity CI Pipeline. But I cloud slove the problem by switching to dotnet cli to restore packages.
The difference is that the _NuGet.exe restore_ command targets the whole .sln file whereas the _dotnet.exe restore_ command can be configured to target only a certain .csproj file.

All my projects have the new csproj format and use PackageReference instead of packages.c

[2020-02-27 12:20] Sellec commented on #5016
It takes ~13 minutes to build package with 1460 files. I have normal and symbols package and build time for each of them was ~13 minutes (13:39 -> 13:52 and 13:52 -> 14:06). Seems like resolving one relative path takes ~0.5 second for nuget pack task.

P.S. if i will manually copy all needed files into project folder and run build with pack, it takes ~1 minute to build both packages.
P.P.S. It was

[2020-02-27 13:40] Sellec commented on #5016
As i can see, problem is in NuGet.Commands.PackCommandRunner.ExcludeFiles method.
It calls PathResolver.GetFilteredPackageFiles<..>(..) and removes all files matching specific patterns from pack input files list.
[code]
The one way to reduce packing time to 50% is to set to true the project property NoDefaultExcludes.
[code]
But it would definetely call PathResolver.FilterPackageFiles at the end o

[2020-02-27 16:10] kartheekp-ms commented on #9091
Here are my observations regarding the code redundancy.
- All 4 projects mentioned above have reference to `NuGet.Common`
- `NuGet.VisualStudio.Implementation\Utility\XmlUtility.cs` - 4 out of 6 methods have no references
- `NuGet.PackageManagement\Utility\XmlUtility.cs` - 3 out of 11 methods have no references
- `NuGet.Packaging\PackageCreation\Utility\XmlUtility.cs` - 1 out of 3 methods have no

[2020-02-27 18:39] nkolev92 commented on #8628
Not that's part of the tooling yet.
I'm thinking about closing this as a dup of https://github.com/NuGet/Home/issues/8529?
Thoughts?

[2020-02-27 18:40] nkolev92 commented on #8529
I think the biggest challenge here is the design.
We'd potentially need a new command to achieve this.
nuget.exe list itself is gonna be replaced by nuget search eventually, but maybe there's room for some other utilities.

[2020-02-27 18:41] nkolev92 commented on #9091
Stuff in NuGet.Clients\ can be safely refactor to use lower level stuff if possible.
Stuff in NuGet.Core shouldn't be changed if it's public.
Are all these methods public? Is there actually a need for all these methods to exist?

[2020-02-27 19:05] heng-liu commented on #8929
Hi @v-luzh, is this a regression?
I tried but could not repro on 16.5 Preview4. Not sure if it's fixed on 16.5 Preview4, or my repro is just the other 50%. Could you help to repro on 16.5 Preview4, to see if it still exists? Thanks!

[2020-02-27 19:09] KirillOsenkov commented on #8529
Here's my proposed design:

[code]

prints:

[code]

[2020-02-27 19:11] KirillOsenkov commented on #8529
It does list the packages and versions, but it doesn't group them by source currently. It could either print the source inline or group separately.

[2020-02-27 19:12] KirillOsenkov commented on #8628
Sure sounds like a dupe of #8529

[2020-02-27 19:19] heng-liu commented on #8928
Hi @v-luzh, is this a regression?
I tried but could not repro on 16.5 Preview4 (restarted only 1 time).
But I'm not sure if it's fixed on 16.5 Preview4. Could you help to repro on 16.5 Preview4, to see if it still exists? Thanks!

[2020-02-27 19:35] #8628 closed, assigned to nobody

[2020-02-27 22:13] kartheekp-ms commented on #9091
The only `XmlUtility` under `NuGet.Client` is `$\NuGet.Client\src\NuGet.Core\NuGet.PackageManagement\Utility\XmlUtility.cs` - This utility has `public` API.

All of the following  `XmlUtility` implementations are under `NuGet.Core`.

- `$\NuGet.Client\src\NuGet.Core\NuGet.Configuration\Utility\XmlUtility.cs` - This utility has `internal` API.
- `$\NuGet.Client\src\NuGet.Core\NuGet.Packaging\Packag

[2020-02-27 22:54] donnie-msft commented on #9192
Not really part of any Release.
This was a bug reported on my branch, before merging to Dev.
FYI, it was during 5.5 timeframe.

[2020-02-27 23:15] heng-liu commented on #8928
Hi @v-luzh, to be more accurate, can you help to repro on latest VS version in rel/d16.5? Thanks!

[2020-02-27 23:15] heng-liu commented on #8929
Hi @v-luzh, to be more accurate, can you help to repro on latest VS version in rel/d16.5? Thanks!

[2020-02-28 00:32] reathus commented on #8646
Still relevant, and annoying.

[2020-02-28 00:56] ProgrammerAI commented on #9221
It doesn't work. I need to be able to access all of the components that I would manually write in XAML.

[2020-02-28 00:57] ProgrammerAI commented on #9221
That doesn't work. I need to access all of the components that I would usually write in XAML.

[2020-02-28 01:12] KirillOsenkov commented on #6754
I just hit this and I think it's a problem that needs addressing.

There are two ways to interpret a name when a project has the same name as a package. One of them results in a cycle, the other doesn't. How about trying both combinations and only failing when no self-consistent combinations are possible?

It is really unexpected honestly to try to interpret the name inside PackageReference as a p

[2020-02-28 01:41] nkolev92 commented on #6298
The answer here is no for the general feature.

However, certain package types can declare themselves incompatible with others and we have done that with DotnetTool and DotnetPlatform

[2020-02-28 01:41] #6298 closed, assigned to nkolev92

[2020-02-28 01:51] nkolev92 commented on #7917
`Restore` perf was improved by moving to a different MSBuild parsing mechanism.
Static graph was a feature specifically built for scenarios like NuGet restore.

https://github.com/NuGet/Home/issues/8791

This has improved evaluation times for 2-3 mins down to 3-4s.

As such I think this makes this bug redundant.

[2020-02-28 01:51] #7917 closed, assigned to nkolev92

[2020-02-28 01:58] nkolev92 commented on #5320
At this point I believe this issue is a duplicate of https://github.com/NuGet/Home/issues/4488.

RestoreProjectStyle is a property that can be used to opt-in projects into PackageReference but it needs officially cleared up in #4488

[2020-02-28 01:58] #5320 closed, assigned to nkolev92

[2020-02-28 02:10] debonte commented on #9221
Can you please be more specific? What are you expecting to see in the Toolbox that is not there?

[2020-02-28 02:44] TFTomSun commented on #6754
@KirillOsenkov
I use the approach of @tmat as a workaround and put it into the Directory.Build.props of my repository. It could also be moved into a build package:

[code]

[2020-02-28 05:36] Sellec commented on #5016
Problem is partially solved.
My projects structure looks like this:
--AspNetMvc
----JS
----Library
----Package
So, if the problem of long packaging is in checking relative paths and nuget pack task uses $(NuspecBasePath) as a `basePath` in `NuGet.Commands.PackCommandRunner.ResolvePath`, i tries to set $(NuspecBasePath) to 'AspNetMvc' folder. Folders `JS` and `Library` starts to look like subfolder

[2020-02-28 13:58] v-luzh opened #9229 "[Test Failure] Restore should be fail with an error after running “dotnet restore --use-lock-file --locked-mode” with an empty or malformed lock file"
## Details about Problem
NuGet version: NuGet Client Release-5.5.x\5.5.0.6473
VS Version: D16.5\29827.131
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1.	Create a Console Application (.NET Core) template in VS and close the solution.
2.	Create an empty or malformed packages.lock.json file next to the .csproj file.
3.	Run “dotnet restore --use-lock-file --locked-mode”.
## Expected
Verify t

[2020-02-28 14:54] zivkan commented on #9131
You added the `Area:Restore` tag. I guess this means the code is used in a restore?  Is it used in a no-op restore, or only a full restore?  What customer scenarios will a fix impact?

[2020-02-28 16:34] agrothe commented on #8692
Had this issue with VS2019 today when upgrading a bunch of .NET Core libraries from version 3.1.1 to 3.1.2. Eventually figured out if you Clean the solution first it removes the error and works as expected. Not sure if VS or NuGet is locking the file, but hope this helps someone else who also lands here on a search.

VS: 16.4.5
NUGET: Version 5.4.0

[2020-02-28 19:31] rrelyea opened #9230 "Review all nuget team packages on nuget.org - deprecate, etc..."
Now that we have deprecation feature...could go through all packages and clean them up a bit.

[2020-02-28 20:02] nkolev92 opened #9231 "The pack targets should have PackageOutputPath default to OutputPath"
In sdk based projects it's already done in the default framework properties.
In legacy package reference projects, the customer is required to set PackageOutputPath.

related https://github.com/NuGet/docs.microsoft.com-nuget/pull/1922

[2020-02-28 21:17] dfederm opened #9232 "New EnableCentralPackageVersions property breaks Microsoft.Build.CentralPackageVersions"
This change: https://github.com/NuGet/NuGet.Client/commit/08ded6ff38ec67e25c094d28e77cb23c15ee674b#diff-3b0018f61173d0adf1ba163a23821381 is causing incompatibility with [Microsoft.Build.CentralPackageVersions](https://github.com/microsoft/MSBuildSdks/tree/master/src/CentralPackageVersions). Both use the `$(EnableCentralPackageVersions)` property and so conflict.

Specifically, this line in NuGet.t

[2020-02-28 21:18] dfederm commented on #9232
FYI @cristinamanum @jeffkl @AndyGerlicher

[2020-02-28 21:43] TheXenocide commented on #8186
@gulbanana that's not very far off from the [recommendations](https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/cross-platform-targeting#multi-targeting) for multi-platform targeting today.

[2020-02-28 23:06] rrelyea opened #9233 "document valid-authentication-types better"
from PR comment:
https://github.com/NuGet/NuGet.Client/pull/3253#discussion_r382891553

What are all the available authentication types? Should we give a quick synopsis on what basic and negotiate means? Are there additional docs on these types that we can link? I would recommend wrapping the example in a code block: basic,negotiate

[2020-02-29 00:06] jaredpar commented on #9199
@nkolev92 that work around of creating the `/tmp/NuGetScratch` directory ahead of time didn't work. Getting build failures on the change where we added the work around.

https://dev.azure.com/dnceng/public/_build/results?buildId=540894&view=logs

This is worisome for several reasons:

1. Our repository continues to be blocked on this issue. 6% of our builds continue to fail because of this. It's u

[2020-02-29 00:13] nkolev92 commented on #9199
I'm fairly confident it's the correct fix...the dependency hasn't flown into dotnet yet https://github.com/dotnet/sdk/pull/10726.

[2020-02-29 00:15] Nirmal4G opened #9234 "OutputPath logic in Pack targets in a customized build doesn't work properly"
### NuGet.Build.Tasks.Pack project in NuGet.Client repo

[code]

#### File: [NuGet.Build.Tasks.Pack.targets(149-152)][ref-lines]

I don't know why but when I try to customise a build relying on Pack targets, the output path logic hits me with so many issues that it doesn't work out of the box.

There are two main issues here,
1. `OutputPath` should be `BaseOutputPath` since, you are generating sin

[2020-02-29 00:48] Nirmal4G commented on #9234
Followed By #9231

[2020-02-29 09:30] Condor2708 commented on #545
I hope 2020 and nuget give us the gift of this functionality....

[2020-02-29 15:01] rrelyea commented on #3676
Somebody mentioned that they couldn't find the comment I referred to in #7398 - "@AceHack - see my comments about different techniques that one can control order in my comment from today on #3676"

When looking for a package, a NuGet search in the following order:
1) in the global package folder
2) in fallback folders configured
3) in file: feeds configured in nuget.config files
4) in http: feeds

[2020-02-29 15:37] rohith commented on #7801
I've read through this thread & few related PRs but couldn't determine if a fix was merged. It's still an issue with `3.1.101`

![image](https://user-images.githubusercontent.com/5032439/75610480-73105300-5b37-11ea-9248-01842b1e66d7.png)

[2020-02-29 17:06] webfoot commented on #7541
I'm also trying to figure out this nupkg issue for WinForms design-time assemblies. I agree with @jnm2 that a /design folder convention would be nice.

My design-time assembly is found at design-time if I include it in <references> but then in user's projects it gets copied to their output folder. I can tell them to set "Copy Local" property to false. Is this the best approach for now, or this the

[2020-02-29 18:56] ProgrammerAI commented on #9221
@debonte
What I mean is that I want to follow the steps mentioned in [this video](https://youtu.be/LzBYFVTVjXM?t=630). where he adds all the controls from the .dll. The problem is that when I try to follow the tutorial, I get the error you mentioned above.

[2020-02-29 19:59] mlhpdx commented on #3676
And we strongly agree with that, but it isn't the problem.  I have existing packages on Nuget.org but for current and future development I want to publish to GitHub package hosting since it supports event hooks and other niceties.  So, all my consumer will need *both* feeds since my packages will be on Github but other necessary packages will be on Nuget.org.  With that setup, particularly when pr

[2020-02-29 20:40] debonte commented on #9221
As I said above, Choose Toolbox Items does not work for .NET Core control libraries. The VisualStudioToolsManifest.xml approach is the only supported way to populate the Toolbox from a WPF .NET **_Core_** NuGet package.

If you follow these instructions you'll achieve the same result (all of the MaterialDesignThemes controls in the Toolbox). Did you try it?

[2020-03-01 05:29] gulbanana commented on #8186
Yeah, making library consumers do runtime feature detection seems to be the current path. Sucks for my industry though (line of business applications, lots of maintenance programmers who do not read API documentation).

[2020-03-01 11:58] jmezach commented on #545
I did some experiments yesterday building a custom MSBuild SDK that's capable of producing a DACPAC. I did that using a command line tool that takes a bunch of SQL files as input and uses the public TSqlModel to build a model and then writes it to a DACPAC.

That was going quite well and I was even able to install NuGet packages into such a project. However I hit a bit of a blocking issue because

[2020-03-01 13:39] Gameghostify commented on #9126
Alright, I fixed *my case* with the help of this excellent blog article:

https://natemcmaster.com/blog/2018/05/12/dotnet-watch-2.1/

I added the `Directory.Build.props` file in my solutions root directory and made sure that, if using volumes, only the projects I need are copied.

So, instead of

[code]

[code]

[2020-03-01 13:41] Gameghostify commented on #9126
I don't know if this will work for anyone however, since some of you seem to be getting errors inconsistently (It always was the same file that caused troubles for me)

[2020-03-01 19:32] pnstickne commented on #3324
Hmm. Does "removed from the Backlog" mean "won't fix the poorly designed code" or does it mean it's being picked up as active work?

[2020-03-02 01:23] #6531 closed, assigned to nobody

[2020-03-02 01:35] nkolev92 commented on #9214
Hey @StarWars999123

I am unable to repro this behavior with either VS 2017 or VS 2019.

What I get is the following:

[code]

Also note that you are an incorrect attribute name, it should be `GeneratePathProperty` instead of `GeneratePackagePath`

[2020-03-02 01:38] nkolev92 commented on #9223
Hey @snopywithchary
It appears that you have not filled out the body of the issue correctly, can you please take a look?

Thanks

[2020-03-02 02:39] cristinamanum opened #9235 "[CPVM] EnableCentralPackageVersions name conflict with CentralPackageManagement MsBuild SDK"
## Details about Problem

The new name EnableCentralPackageVersions introduced in  NuGet.targets conflicts with the Central Package Versions SDK https://github.com/microsoft/MSBuildSdks/blob/f4e31079565777df7656a358777f8db285c4c0bd/src/CentralPackageVersions/Sdk/Sdk.targets#L28-L29

This needs to be changed to avoid the conflict.

[2020-03-02 02:55] cristinamanum commented on #8559
Spec at https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions

[2020-03-02 02:55] #8559 closed, assigned to cristinamanum

[2020-03-02 03:01] cristinamanum opened #9236 "[Centrally managing NuGet packages and versions] Integrate PackageVersion information for non-sdk style projects in VS restore"
For non sdk style scenarios the project system data comes from a different pipeline. Integrate PackageVersion information to support restore for projects that are opt-in CPVM.

Related with https://github.com/NuGet/Home/issues/8752

[2020-03-02 03:26] cristinamanum opened #9237 "[Centrally managing NuGet packages and versions] Prototype Package Manager UI with `Directory.Packages.props` updater service"
Design doc section for the Project System API requirements to support all the scenarios for Visual Studio Package Reference updates when projects that are opt-in CPVM.

This work item includes any necessary prototype work needed.

Related : #9016

[2020-03-02 03:51] cristinamanum opened #9238 "Centrally managing NuGet packages and versions] Design document for Visual Studio - Project System API requirements."
Design doc section for the Project System API requirements to support all the scenarios for Visual Studio Package Reference updates when projects that are opt-in CPVM.

This work item includes any necessary prototype work needed.

Related : https://github.com/NuGet/Home/issues/9016

[2020-03-02 03:58] cristinamanum commented on #9238
Duplicate of https://github.com/NuGet/Home/issues/9237

[2020-03-02 03:58] #9238 closed, assigned to nobody

[2020-03-02 07:44] heng-liu commented on #8929
Close it as couldn't repro on 16.5 Preview4.
Pls reopen it if you can still repro. Thanks!

[2020-03-02 07:45] heng-liu commented on #8928
Close it as couldn't repro on 16.5 Preview4.
Pls reopen it if you can still repro. Thanks!

[2020-03-02 10:04] v-nancyj opened #9239 "[Test Failure] Error page ‘An error occur while attempting to open NuGet’ appeared after reopening the solution"
## Details about Problem

NuGet Version: NuGet Client Dev\5.6.0.6478
VS Version: Master\29901.03
OS Version: Windows-10-Enterprise-RS5

## Installation steps:

Install VS: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3516003&view=results

## Repro steps:

1.	Create a C# Console App (.Net Core) project.
2.	Open ‘Manage NuGet Packages’.
3.	Save the solution and Close the solution.
4

[2020-03-02 17:34] zivkan commented on #8987
Closing this in favor of Client.Engineering issue.

[2020-03-02 17:34] #8987 closed, assigned to nobody

[2020-03-02 18:45] cristinamanum commented on #8256
Closing. The master epic is https://github.com/NuGet/Home/issues/6764.

[2020-03-02 18:45] #8256 closed, assigned to cristinamanum

[2020-03-02 18:45] rrelyea opened #9240 "net5.0-<TargetPlatformIdentifier><TargetPlatformVersion> support"
A continuation of the work started here: https://github.com/nuget/home/issues/9089
Spec is still under some discussion. (eta for spec draft is 3/6/2020)

[2020-03-02 18:46] zkat opened #9241 "XPlat Signing: Merge into dev"
This epic contains the minimal set of issues we need to resolve in order to get the `dev-feature-xplatVerification` branch merged into the `dev` branch, so we can continue working on this feature off the latter.

[2020-03-02 18:48] rrelyea opened #9242 "Package Manager UI for VSO prototype"
Continuation of https://github.com/nuget/home/issues/9162

[2020-03-02 18:50] cristinamanum opened #9243 "[Centrally managing NuGet packages and versions] nuget.exe commands support for CPVM projects"
The nuget.exe commands need to be reviewed for any changes needed for CPVM.

Command | Needs support | Status
---| --- | ---
add | No | NA
config | No | NA
delete | No | NA
init| No | NA
install | No | NA
list | No | NA
locals | No | NA
mirror | No | NA
pack | Yes | Implemented
push | No | NA
restore | Yes | Implemented
set api key| No | NA
sign | No | NA
sources | No | NA
spec| No | NA
update | P

[2020-03-02 19:10] #8946 closed, assigned to rrelyea

[2020-03-02 19:33] nkolev92 commented on #9242
Should we reuse https://github.com/NuGet/Home/issues/9110?

[2020-03-02 19:33] nkolev92 commented on #9242
That one is already tracked in my epic.

[2020-03-02 19:35] nkolev92 commented on #8674
All of this works rn, restore is happening on the server.

[2020-03-02 19:38] nkolev92 opened #9244 "Design the authentication experience for VS Online Environments"
Currently the authentication model is talk to a plugin/pop-up a dialog if needed.
We need to ensure that the customers receives a dialog similarly to normal VS.
[1073273](https://devdiv.visualstudio.com/DevDiv/_queries/edit/1073273/)

This should be converted to an epic if necessary.

[2020-03-02 19:43] nkolev92 commented on #8270
fyi @karann-msft, @aortiz-msft Epic tracking VSO.

[2020-03-02 20:27] heng-liu commented on #9008
I think just disable it will be fine.

[2020-03-02 20:30] dominoFire commented on #8890
Appears to be fixed in https://github.com/NuGet/NuGet.Client/pull/3254

[2020-03-02 20:30] heng-liu commented on #9013
Need to enable the 4 tests on Mac.

[2020-03-02 20:33] anangaur commented on #8890
Lets close the issue when we have a VS version to play with :)

[2020-03-02 20:39] heng-liu commented on #8934
The 9 out of 19 tests are fixed or confirmed as exception message issues.
The remaining 10 tests needs to be checked.

[2020-03-02 21:21] #9128 closed, assigned to nobody

[2020-03-02 21:21] nkolev92 commented on #9128
Issue moved to [NuGet/Client.Engineering #191](https://github.com/NuGet/Client.Engineering/issues/191) via [**ZenHub**](https://www.zenhub.com/)

[2020-03-02 22:47] shantanu1singh commented on #7921
The fix suggested by @ctaggart worked for me too but doesn't deleting the packages.lock.json file while building the docker image defeat the purpose of trying to enforce the same package versions everywhere?

Wouldn't NuGet pull new versions of packages (if they were available) once the lock file is deleted?

[2020-03-02 23:18] heng-liu commented on #8952
This should be done after our first insertion into SDK, and before the second insertion into SDK

[2020-03-02 23:20] ProgrammerAI commented on #9221
This didn't work. It doesn't  automatically show up in the toolbox.

[2020-03-02 23:23] debonte commented on #9221
@ProgrammerAI can you zip the contents of %USERPROFILE%.nuget\packages\materialdesignthemes\3.1.0-ci981 and upload them here?

[2020-03-02 23:29] ProgrammerAI commented on #9221
[3.1.0-ci981.zip](https://github.com/NuGet/Home/files/4278480/3.1.0-ci981.zip)
ok

[2020-03-02 23:33] ProgrammerAI commented on #9221
Nevermind, it just popped up.
Thank you so much.

[2020-03-02 23:33] #9221 closed, assigned to nobody

[2020-03-02 23:37] nkolev92 opened #9245 "Move NuGet.Indexing to NuGet.Clients instead of NuGet.Core"
It logically does not belong in NuGet.Core.

[2020-03-03 00:36] donnie-msft commented on #9206
Started on https://github.com/NuGet/docs.microsoft.com-nuget/issues/1038 but it was claimed by Server Team.

[2020-03-03 00:40] cdmihai opened #9247 "GeneratePackageOnBuild does not pack transitive crosstargeting projects from non solution builds"
If you have:
- three projects, A->B->C
- C is crosstargeting
- A and C have GeneratePackageOnBuild set to true
- Build A.csproj

Then A will pack and C won't. The expected behaviour is for C to pack as well.

A.csproj
[code]

B.csproj
[code]

C.csproj
[code]

Build with `dotnet msbuild /restore A\A.csproj`

dotnet.exe --version (if appropriate): 3.1.200-preview-015002
OS version (i.e. win10 v1607

[2020-03-03 02:29] shantanu1singh opened #9248 "Content hash validation failure across operating systems and processor architectures"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet

NuGet version (x.x.x.xxx): 5.4.0.1

dotnet.exe --version (if appropriate): 3.1.102

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):
Win10 v1909 (18363.657)
and Ubuntu 19.04 amd64

Worked before? If

[2020-03-03 05:18] nkolev92 commented on #9228
Hey @markolbert

Unfortunately I can give you a complete historical answer as to why that specific decision was made.
Much has to do with the structure of project.json itself, but beyond the NuGet client itself, this structure is largely irrelevant.
It's something that NuGet writes and provides

Everyone that consumes the file uses https://github.com/NuGet/NuGet.Client/blob/bf9523d7b66f749f8709c8f

[2020-03-03 05:21] nkolev92 commented on #9227
@NithishHemanth
Thanks for creating this issue.

Can you explain what's not working?

NuGet.exe is written for .NET Framework, so it can only run on platforms supporting CLR. In order to use NuGet.exe on Linux, you need to use mono.

dotnet.exe however is fully cross platform.

[2020-03-03 05:24] nkolev92 commented on #9222
Hey @KeltarHelviett
Does any version of NuGet.exe work with msbuild 16 on mono?

[2020-03-03 05:28] markolbert commented on #9228
Yes, it does. I took a quick glance at the link, which I’ll keep, but it looks a lot more involved than something I had started writing. If I get mine to work I’ll post it.

Is there documentation available for version 3 of project.assets.json? I’m working off a particular example but it may not be comprehensive.

Thanx for getting back to me.

[2020-03-03 05:29] nkolev92 commented on #9220
I think the error message is good, but I'll defer to @dominoFire as he wrote the implementation.

Packing an icon is a 2 step process, similar to packing a license.

1. Include the icon/license file inside the package, but using content/none include etc.
1. Add a reference telling NuGet which file to treat as an icon/license.

This message is trying to communicate that the 2nd part in here is wron

[2020-03-03 05:33] nkolev92 commented on #9224
Hey @bondarenkod
Thanks for filing this issue

Am I interpreting this correctly to mean `Do not valid whether an install/uninstall/update operation is successful, just write it in the project file`

[2020-03-03 05:49] tekkenxpert commented on #8373
Please make sure you are passing in the MSBuildPath using the Visual Studio version of MSBuild, the one that installs under the VS directory. Attempting to use the MSBuild suggestions mentioned above will all fail with this error.

[2020-03-03 06:49] connectArun2001 opened #9249 "Geting Error before and after Migrate from packages.config to PackageReference"
Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Manage Nuget Packages for solution / project

NuGet version (x.x.x.xxx): Package Manager Console Host Version 5.0.2.5988. Used UI interface of Manage Nuger Manager

dotnet.exe --version (if appropriate): .Net framework 4.7.2

VS version (if appropriate): Microsoft Visual Studio Professional 2019

[2020-03-03 07:09] Craige commented on #4103
I would like to throw in another vote for an `upgrade` command. `dotnet add package` is _not_ functionally equivalent, and it's a little baffling that the dotnet package manager doesn't have this option. This is one of the most basic tasks of a package manager.

[2020-03-03 08:53] connectArun2001 commented on #9249
below is My app.config file

Below is my app.config file

<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vecto

[2020-03-03 08:55] connectArun2001 commented on #9249
`Below is my app.config file

<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f

[2020-03-03 08:56] connectArun2001 commented on #9249
My app.config file

[2020-03-03 09:40] connectArun2001 commented on #9249
[appconfig.zip](https://github.com/NuGet/Home/files/4280424/appconfig.zip)

[2020-03-03 12:39] v-luzh opened #9250 "“Browse” tab can’t show the embedded icon of the package from DevOps private feeds"
## Details about Problem
NuGet version: NuGet Client Dev\5.6.0.6479
VS Version: Master\29902.138
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1.	Create a Console App (.NET Core 3.1) in VS and open the PM UI of the solution.
2.	Add the [DevOps feed](https://pkgs.dev.azure.com/farhub/_packaging/farhub/nuget/v3/index.json ) into the Settings->NuGet Package Manager->Package Sources.
3.  Selec

[2020-03-03 13:16] StarWars999123 commented on #9214
Yes, It was a communication failure within our team. The issue occured only on uninstalls and reinstallation of another the package. So this isn't a bug.

[2020-03-03 13:16] #9214 closed, assigned to nobody

[2020-03-03 17:58] mh03r932 commented on #8713
We have the same problem using NuGet 5.4.0

[2020-03-03 18:01] ThomCBlackwellBSS opened #9275 "Restore NuGet Packages option not always visible"
After updating Visual Studio 2019, the Restore NuGet Packages menu in the Solution explorer can mysteriously go away. I remember reading something describing how to get that option back, but I don't remember where. That information should be added to this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b20c46-c5

[2020-03-03 18:15] gitfool opened #9251 "Add source name to `dotnet nuget list source` short format"
@rrelyea I'm playing with the preview of 3.1.200 SDK and `dotnet nuget list source`:
[code]
My immediate impression is that the short format should also include the source name, in this case `nuget.org`; i.e. I would expect the short format to be succinct but complete:
[code]
This is backed up by the following experience:
[code]
I think the source name is important enough to always be specified, f

[2020-03-03 19:29] nkolev92 commented on #9228
Not really. This is considered an internal NuGet/Build asset, so as such it won't be super well documented and we don't really recommend you taking dependencies on it as it's something that changes according to the product needs.

[2020-03-03 19:31] rrelyea commented on #9225
Please add team members to this review if you are ready for review.

[2020-03-03 19:37] kartheekp-ms commented on #9131
PR is now approved. We will wait for few hours before merging to `dev`.

[2020-03-03 19:52] rrelyea commented on #9225
talked with @dominoFire and learned the following:
dotnet.exe will normalize / and \ inside of icon metadata
nuget.exe will not normalize / and \ inside of icon metadata
VS UI currently only supports "/" in icon metadata.
he tested nuget.org and thinks that / and \ are both supported.

@dominoFire's current strategy:
leave nuget.exe to not normalize
fix VS UI to support "/" or "\"
effectively sayi

[2020-03-03 20:06] dominoFire commented on #9250
@karann-msft @jmyersmsft

[2020-03-03 21:12] jmyersmsft commented on #9250
Azure Artifacts does not yet support extracting embedded icons to re-host them, so it has no icon to provide to VS. For already-installed packages, NuGet is pulling the icon from the .nupkg that it already has on disk.

This is near the top of our (Azure Artifacts's) backlog, but I can't give any more concrete information about timeline.

[2020-03-03 22:12] zkat opened #9252 "net5: Set up CI to run tests on both netcore3 and net5"
In order to properly support net5 and make sure all our relevant code works on that platform, we should start testing on net5 going forward -- but since we're already testing on netcore3, and we need to keep supporting that one, that means we'll need to run the tests once on each of the two platforms going forward. Unfortunate, but I think necessary.

[2020-03-03 22:15] zkat opened #9253 "net5: How will our insertions work?"
We need to make sure we understand any extra work that might be needed for our insertions into net5. I believe we are already doing these insertions, but in light of #9252, we might need to update documentation about expected test branches and such. This issue is mostly about making sure we understand everything and documenting anything we need to document.

[2020-03-03 22:52] zkat opened #9254 "XPlat Signing: New manual testing plan"
We need to write up new guidance for our test team on what needs to be done to manually test cross-platform verification. We need to get a hold of the old test plan and adapt it to target the areas that we think are most vulnerable.

[2020-03-03 22:53] zkat commented on #9254
closed in favor of #9204. Oops!

[2020-03-03 22:53] #9254 closed, assigned to nobody

[2020-03-03 22:58] VonOgre opened #9255 "NuGetVersion.TryParseStrict() should return false if it fails to parse"
## Details about Problem
It seems that NuGetVersion.TryParseStrict() doesn't actually ever return false, which isn't ideal for a "Try" method. The implementation actually does check if it can parse to a SemanticVersion, but always returns true anyways...
https://github.com/NuGet/NuGet.Client/blob/bf9523d7b66f749f8709c8f082944db6a60f9153/src/NuGet.Core/NuGet.Versioning/NuGetVersionFactory.cs#L105-L

[2020-03-04 00:06] nkolev92 commented on #9247
Why should packing be transitive?

If you want it to package all of them, specify the property globally.

In fact very recently there was an issue complaining that what you are asking for is the default behavior :)
 https://github.com/NuGet/Home/issues/8983.

[2020-03-04 01:27] #9209 closed, assigned to nobody

[2020-03-04 01:36] cdmihai commented on #9247
#8983 seems to complain about a potential bug with transitive selective packing of projects that define `GeneratePackageOnBuild `. It does not complain about the feature itself, but a bug with the feature.

It is my understanding that if a project defines `GeneratePackageOnBuild=true`, then it gets packed, indifferent of its location in the p2p graph. This happens from visual studio, and from comm

[2020-03-04 04:28] nkolev92 commented on #9247
I am reading #8983 as saying it shouldn't be transitive. Which it isn't, but let's put that to that side :)

It was never implemented this way. Pack as a target only considers the current project. We've not done any work to make it apply transitively.

NuGet does not implement the invocation there, but if this is happening, we should understand and fix it there. /cc @zivkan as hot seat.

I'd imagi

[2020-03-04 04:36] JakeSays commented on #8479
@zivkan If the idea is to disable package source changed events then none of the non-obsolete ctors support that scenario. The only option takes a `IPackageSourceProvider`, and the only non-obsolete ctors on `PackageSourceProvider` enable source changed events thus causing the leak.

So if I am understanding things correctly we really don't have a way to disable events without using an obsoleted c

[2020-03-04 05:10] zivkan commented on #8479
@JakeSays yes, you're right. If you have a long-lived process where you need to create `PackageSourceProvider`, but you don't want it to subscribe to the solution events to avoid memory leaks, you need to use the ctor marked as obsolete.  If your process is short lived, or you keep the `PackageSourceProvider` around for most of the processes lifetime, then it really doesn't matter. Also, if you le

[2020-03-04 07:16] Braineeee opened #9274 ""Upgade Nuget Version" on RMB menu breaks selected project!"
![UpgadeNuget](https://user-images.githubusercontent.com/15795591/75854401-f8e50600-5da4-11ea-9783-500a0331b990.PNG)

Steps to reproduce:

1. Select project in Solution Explorer withh LMB.
2. RMB click on it.
3. Scroll down the menu that appears to the option "Upgade Nuget Version" and take it.
5. Message box appears. Project broken.

This mesage box appears after RMB clicking on the project name

[2020-03-04 09:03] Nirmal4G commented on #9234
Supersedes #9231

[2020-03-04 09:27] connectArun2001 commented on #9249
Related to,  also commented by me on below issue

Error loading System.Buffers, Version=4.0.2.0 when using AspNet Core SignalR C# client in a .NET Framework 4.7.1 Web test #27774

[2020-03-04 10:46] v-luzh opened #9256 "[Test Failure] Lock file will not update after changing the project graph structure until reopening the solution"
## Details about Problem
NuGet version: NuGet Client Release-5.6.0-Preview.1\5.6.0.6483
VS Version: D16.6\29903.66
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Create a solution with three .NET Core Class Library projects, make the project graph structure: Lib1 -> Lib2 -> Lib3 (Lib1 reference Lib2 reference Lib3) through “Add reference” context menu in Solution Explorer.
2. Set propert

[2020-03-04 12:07] duffman128 commented on #8713
Same issue with same version.

[2020-03-04 12:28] Nirmal4G commented on #9231
This could be superseded by #9234

### Reason

Pointing to `OutputPath` is bad since it changes for each combination of `TargetFramework` and `RuntimeIdentifier`. So, we can use the `BaseOutputPath` property instead. Also removing from the SDK frees up the possible places where we can set those properties.

Even though It works now, in the future, this usage might lead to something similar to `Res

[2020-03-04 16:35] zivkan commented on #9255
This looks like an easy issue for a community contribution. Tests should be added to `test/NuGet.Core.Tests/NuGet.Versioning.Test/NuGetVersionTest.cs`. At the moment there are only positive tests, so negative tests need to be added.

[2020-03-04 16:37] zivkan commented on #9250
Closing as per the comment above. NuGet added a new feature and Azure Artifacts hasn't yet implemented it.

[2020-03-04 16:40] VonOgre commented on #9255
Indeed, I'd meant to do a fork and PR last night but got sidetracked, but I expect either tonight or tomorrow 👍

[2020-03-04 16:57] zivkan commented on #9249
@connectArun2001 I took the following steps:

1. Clone `https://github.com/aspnet/SignalR-samples`, build and run `ChatSample/ChatSample/ChatSample.csproj`
2. Create new .NET Framework 4.7.2 console app
3. Install package `Microsoft.AspNetCore.SignalR.Client` with `packages.config`
4. Change `Program.cs` to:

[code]

5. Run project, to ensure it works
6. Right click references, and migrate package

[2020-03-04 17:08] zivkan commented on #9248
@shantanu1singh I tried creating a new ASP.NET Core MVC app (`dotnet new mvc`), then creating a lock file (`dotnet restore --use-lock-file`), but when I look at `packages.lock.json`, there are no dependencies.

Could you let us know which packages from nuget.org you have PackageReferences to, so I can investigate?

But in short, no, we don't expect the hash to be different on different operating s

[2020-03-04 17:23] connectArun2001 commented on #9249
Geting Error before and after Migrate from packages.config to packagereference...  Actually i have updated my project to framework 4.7.2. And got error

 Open
Geting Error before and after Migrate from packages.config to PackageReference
#9249
connectArun2001 opened this issue yesterday · 3 comments
Labels
Area:PCtoPRMigrator
NeedsRepro
WaitingForCustomer
Comments
 @connectArun2001 connectArun2001

[2020-03-04 17:28] zivkan commented on #9249
Since you get the error before doing the migration, it appears to be unreleased to the migration. Can you share a sample project that has this problem? The sample I created in my comment above does not have the problem.

[2020-03-04 17:32] connectArun2001 commented on #9249
Actually to solve above problem related to System.Buffers namespace i tried migration to PackageReference from packages.config.  I got this solution on Google to solve System.Buffers issue.. But it doesn't work for me..  Now we are waiting for new version of System.Buffers

[2020-03-04 18:02] cdmihai commented on #9247
What is the intended behaviour of `GeneratePackageOnBuild` in the following scenario, w.r.t. which projects get packed:
- A->B->C
- A and C have `GeneratePackageOnBuild=true` but B doesn't
- A.csproj is built with `msbuild /t:Build A.csproj`

What is the intended behaviour for the above scenario when there's also a solution present, and that one gets built with `/t:Build`

I'd expect both behavior

[2020-03-04 18:12] FabMpenge commented on #5127
Same issue, I use .Net Core V 3.1.1.02 (current)

[2020-03-04 18:14] zivkan commented on #9249
I don't believe that a new version of System.Buffers is going to fundamentally solve the problem, but I can't help without more information. A sample project would be best.

My best suggestion for now is to remove all the binding directs from your app.config file. With `packages.config` NuGet adds them at package install time, making a best guess based on what packages are used by the project, but

[2020-03-04 18:24] nkolev92 commented on #9247
Pack forces a build, so A, B, C get build because of how build works, and because C has a GeneratePackageOnBuild it gets packed as well.
So:
* A.nupkg
* C.nupkg

Build gets run on all projects individually, A and C have a pack on build.
So:

A.nupkg
C.nupkg
[pack.zip](https://github.com/NuGet/Home/files/4289019/pack.zip)

I have verified this with a repro.

[2020-03-04 18:49] connectArun2001 commented on #9249
In my solution i have 4 projects.  And i have migrated all projects to framework 4.7.2 one by one. And updated all nuget packages.

Now i will confirm app.config for all projects in my solution as you told.  And will update my comments accordingly.   Thanks for support.

[2020-03-04 20:19] shantanu1singh commented on #9248
I see. Here's the list of dependencies I have:

[code]
Thank you for helping investigate!

[2020-03-04 21:06] cdmihai commented on #9247
Ah, in my local repro C is crosstargeting, I forgot about that. In this case, would it be expected for C to produce a nuget package?
A.csproj
[code]
B.csproj
[code]

C.csproj
[code]

script to run
[code]

Output
[code]

[2020-03-04 22:33] rrelyea commented on #9232
fyi: @zivkan @aortiz-msft

[2020-03-04 23:54] rrelyea commented on #5413
consider as part of net5.0tfm work

[2020-03-05 00:27] aolszowka commented on #8791
Did this land in Preview 3? We still see pretty poor restore times for ~1300 C# Projects in 16.5 Preview 3. (Approximately 30-60 seconds). What do you need to help debug this?

[2020-03-05 00:34] rrelyea commented on #8791
@aolszowka - this requires an opt-in property, i believe. @jeffkl?

[2020-03-05 04:01] KeltarHelviett commented on #9222
We have tried several version (5.x, 3.x). None of them worked withm msbuild 16 on mono.

[2020-03-05 05:36] anil88972 opened #9259 "##[error]The nuget command failed with exit code(1) and error(Response status code does not indicate success: 403 (Forbidden - User '241a50c0-fa7f-4dd6-a984-1d62b0d8951a' lacks permission to complete this action. You need to have 'AddPackage'. (DevOps Activity ID: 0034C39F-1B85-459F-B6AD-8D472545C971)).) Finishing: NuGet Push please let me know how to fix this issue"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2020-03-05 08:08] connectArun2001 commented on #9249
[appconfig.zip](https://github.com/NuGet/Home/files/4291674/appconfig.zip)

I have 5 projects in my solution. This attachment contains app.config file for all projects.

[2020-03-05 14:05] zivkan commented on #9259
The error message says that you don't have permissions. Azure DevOps is a different product/service than NuGet, so I'm not at all an expert, but as it's another Microsoft product, I can help by pointing to documentation that might be helpful.

[This doc is about managing Azure Artifacts feed permissions](https://docs.microsoft.com/en-us/azure/devops/artifacts/feeds/feed-permissions?view=azure-devo

[2020-03-05 14:27] zivkan commented on #9235
PR was merged, but issue wasn't linked correctly.

[2020-03-05 14:27] #9235 closed, assigned to cristinamanum

[2020-03-05 14:43] zivkan commented on #9249
Unfortunately the app.config files by themselves don't contain enough information. To investigate, I need the `sln`, `csproj` and `packages.config` files. This will tell me which packages are used in each project, and the project-to-project (project reference) relationships.

There might be sufficient information in a msbuild binlog, so from a "developer command prompt" you could run `msbuild your

[2020-03-05 15:34] zivkan commented on #9191
NuGet doesn't directly copy files from the lib folder, it advertises the assemblies to MSBuild and the .NET SDK. If files need to be copied to the project output on publish, the package author should use the `contentFiles` [as documented](https://docs.microsoft.com/en-us/nuget/reference/nuspec#including-content-files). However, it sounds like `dotnet-swagger` might be intended to be used as a [.NE

[2020-03-05 16:03] matthewjones555 commented on #8622
Thanks @joelverhagen.

The packageid trick works fine unless you're using multiple sources which include a v2 feed, or a file system source, in which case it doesn't work.  It would be nice to have some kind of -packageid switch available directly in the list command, so we don't have to use api specific syntax.

I'm trying to use `nuget list` to get a list of available versions for a specific pac

[2020-03-05 16:07] jeffkl commented on #8791
Yes you need to set the `RestoreUseStaticGraphEvaluation` to `true` to opt into the feature.

[code]

Or for one time use:

[code]

[2020-03-05 16:35] cristinamanum commented on #9232
Duplicate of https://github.com/NuGet/Home/issues/9235

[2020-03-05 16:35] #9232 closed, assigned to cristinamanum

[2020-03-05 16:40] cristinamanum commented on #9151
The msbuild PR https://github.com/microsoft/msbuild/pull/5129 was merged .

[2020-03-05 16:40] #9151 closed, assigned to cristinamanum

[2020-03-05 16:59] joelverhagen commented on #8622
@matthewjones555, this helps a lot, thanks!.

I think for the short term the best option for the mutli-feed environment is to run multiple invocations of nuget.exe list:

[code]

This is not elegant but perhaps it's a workaround you can use for now so I thought I would call it out.

Yes, this sounds like a good idea. There is an documented API today for looking up individual packages on V3 feed:
h

[2020-03-05 18:12] rrelyea opened #9260 "additional pull request feedback for net5.0 tfm work."
about 3 feedback items to still investigate and consider from https://github.com/NuGet/NuGet.Client/pull/3265

[2020-03-05 19:12] BusbyActual commented on #6403
I'm experiencing this as well. I'm trying to install Microsoft.EntityFranmeworkCore.SQLServer and it requires NuGet 3.6. I installed NuGet 3.6 and get an error '3.6.0-rtm-2511' < 3.6.  Microsoft acquired Github recently and it's common to have previous working versions. Why is the NuGet browser showing me incompatible packages? Why can't I downgrade package versions to install? IMO not the best us

[2020-03-05 19:34] nkolev92 commented on #9231
Pack is an outer build target. The OutputPath will always be without a target framework.

[2020-03-05 19:35] nkolev92 commented on #9231
Dup of https://github.com/NuGet/Home/issues/9234

[2020-03-05 19:35] #9231 closed, assigned to nobody

[2020-03-05 19:51] nkolev92 commented on #9247
Great scenario :)
Yeah, that's where it'd differ.
Only the inner build runs there, and pack is an outer build target, https://github.com/NuGet/NuGet.Client/blob/162e23520da60ead3868b48b097731b1e405a5e4/src/NuGet.Core/NuGet.Build.Tasks.Pack/NuGet.Build.Tasks.Pack.targets#L131.

[2020-03-05 19:53] nkolev92 commented on #9247
While that is not super intuitive, I don't think we'd want to change the behavior.
We'd end up packing targetframework x n number of times in multi targetted projects.
It's a nature of the beast type of scenario.

[2020-03-05 19:54] aolszowka commented on #8791
Awesome; Big Wins for us on some solutions (largest win was 30 seconds -> 10 seconds for a ~1,000 C# Only Solution).

1. Is there anything programmatic that we can gather to give higher quality evidence to show speed ups on the restore?
2. Does this imply /graphBuild or is this separate from that flag?

[2020-03-05 20:05] cdmihai commented on #9247
One possible fix would be for the inner build to call the outerbuild with pack. The call would get cached between all the inner builds, so first one takes the hit and the other ones should be a quick no-op. But it makes the already complex build more complex

[2020-03-05 20:09] nkolev92 commented on #9247
Maybe, but in general it feels too complex, and unless it's a blocking an important scenario, I'd say let's not mess with it :)

[2020-03-05 20:09] nkolev92 commented on #9247
Feel free to close the issue if you agree.

[2020-03-05 20:15] rrelyea commented on #9215
With the first half of net5.0 tfm work (https://github.com/nuget/home/issues/9089) that was just merged into dev, we treat net5.0 and later as "netcoreapp" internally, which like netstandard, by default adds dots into the version when writing them down in shortfoldername, etc...

Like netcoreapp and netstandard, we don't currently warn for any use of dotless versions (net50).

We could consider do

[2020-03-05 20:37] zivkan commented on #9247
.NET team might not like the idea of an inner build causing an outer build, as it would slow down the inner loop (change line of code, run debugger/test).

[2020-03-05 20:55] cdmihai commented on #9247
I agree, not a biggie, though it might surprise users switching between VS and non-solution command line, or users switching between quickbuild builds (with msbuild calling patterns similar to VS' solution build manager) and command line build. The quickbuild case is more severe because there's no solutions, just traversal files, so a commandline vanilla msbuild build will miss these packages.

[2020-03-05 20:55] #9247 closed, assigned to nobody

[2020-03-05 23:16] nkolev92 opened #9261 "Allocation Spike/GC Pause: NuGet.Commands.RestoreCommand.BuildAssetsFile"
With a median allocation rate of 152.0 Mb/s, in 2121 cabs, representing 4.57 percent of cabs analyzed
NuGet.Commands.RestoreCommand.BuildAssetsFile
has been identified as a blame candidate for an allocation spike.

Worst case example: 1633.0 Mb/s for 1000.0 ms ending at 27095.644192503503:

Most recent example: 253.0 MB/s for 1000.0 ms ending at 3372.8011:

Stats from Worst Case cab: 708.0 ms spen

[2020-03-05 23:38] nkolev92 opened #9262 "No keyboard gestures to edit the sources in the NuGet Package Manager Options window."
Affected Branch:
Affected Build:
Affected Product Language:

Steps to reproduce:

Go to the Available Package Sources view.

Use the arrow keys to navigate through the list of sources. When getting to the bottom source, you can navigate to the edit source section. There is no gesture to allows you to change the first n-1 sources.

This has always been a problem (since 14.x)

[2020-03-05 23:43] zivkan commented on #9187
A few years ago NuGet.Core was split into multiple assemblies, most of the projects that you can now see in our [`src\NuGet.Core` folder](https://github.com/NuGet/NuGet.Client/tree/dev/src/NuGet.Core). This happened before, or about the same time, as the NuGet v3 protocol was created, so the NuGet.Core package never implemented that protocol. I joined the team a long time after the split happened,

[2020-03-06 00:12] #8792 closed, assigned to jeffkl

[2020-03-06 00:35] nkolev92 opened #9263 "Consider updating the libraries to use newer versions of Newtonsoft.Json"
https://github.com/NuGet/NuGet.Client/pull/3271#discussion_r388639812

//cc @zivkan

[2020-03-06 02:17] nkolev92 opened #9264 "Package Manager UI - Package Sources for VSO."
NuGet.Config's are merged and a unified model of sources is displayed in UI (tools/option/nuget settings). Normally, they work on stuff in local machine. normally: from sln dir up to root directory, user settings + machine wide.

this task is about making the server side configs viewable, enablable, updateable, and creatable.

related code/experiences:
- PM UI has a tool icon that launches it.
- l

[2020-03-06 02:37] nkolev92 commented on #8673
The on build scenario is blocked on a service: https://github.com/NuGet/NuGet.Client/tree/dev-nkolev92-vsoBuildOutput
I will convert this issue into an epic when appropriate.

[2020-03-06 02:56] brandonchastain commented on #7967
I was looking around and found [this documentation](https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets) on the MSBuild pack target. It looks like msbuild supports generating packages out of the box now?

[2020-03-06 03:15] nkolev92 commented on #7967
@brandonchastain

You are correct, that's been around since Visual Studio 2017.
SDK based projects support it out of the box.
Old style csproj projects with PackageReference work by installing the Pack SDK. https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package-msbuild

[2020-03-06 07:16] LokiMidgard commented on #442
I also wished I could see the Owner of the package. I'm working with nuget.org.

I [posted](https://developercommunity.visualstudio.com/content/problem/935922/nuget-owner-not-displayed.html) this on VisualStudios report tool and was directed here

The check mark is nice, but generally it is not alarming that a package does not have one. So if the UI shows `Microsoft. ... by Microsoft` without a ch

[2020-03-06 15:18] connectArun2001 commented on #9249
Below are output for msbuild your.sln -bl

******
** Visual Studio 2019 Developer Command Prompt v16.0.4
** Copyright (c) 2019 Microsoft Corporation
**********************************************************************

C:\Windows\System32>msbuild C:\Users\RAM\source\repos\RestWebService\RestWebService.sln -bl
Microsoft (R) Build Engine version 16.0.462+g62fb89029d for .NET Framework
Copyright (C

[2020-03-06 15:19] connectArun2001 commented on #9249
above are the required details

[2020-03-06 15:20] zivkan commented on #9249
I need the `msbuild.binlog` file, not the console output.

[2020-03-06 15:22] connectArun2001 commented on #9249
i could not get the msbuild.binlog file . what is the location for this file.

[2020-03-06 15:29] connectArun2001 commented on #9249
[MigrationBackup.zip](https://github.com/NuGet/Home/files/4299040/MigrationBackup.zip)

This folder contails packages.config and csproj file for all projects in my solution

[2020-03-06 15:29] zivkan commented on #9249
Normally it's written to the current directory, so maybe it's in `C:\Windows\System32` given that's where you appear to have ran the command from. But since that's normally a protected directory, it might have failed to write. It might be better to cd to your solution directory and run msbuild from there.

[2020-03-06 15:33] connectArun2001 commented on #9249
[msbuild.zip](https://github.com/NuGet/Home/files/4299058/msbuild.zip)

Thanks please find msbuild attached

[2020-03-06 17:25] zivkan opened #9265 "`nuget.exe push` help for `-source`, should be source name, not source uri"
It incorrectly says the argument should be the server URL, but in fact it should be the source name as defined in the nuget.config file.

[2020-03-06 17:45] rrelyea commented on #9265
have you confirmed that this works well in `dotnet nuget push` as well?

[2020-03-06 17:59] cristinamanum opened #9266 "nuget.exe pack for SDK multi targeting projects fails."
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 5.4.0

OS version: win10

Worked before? No sure

## Detailed repro steps so we can see the same problem

1. Download and unzip the attached project

2. Run: nuget.exe restore TestConsoleApp2.csproj

3. Run: nuget.exe pack TestConsoleApp2.csproj -Build

Result:
Could not find a part of the path '***\TestConsoleApp2\bin\Debug\T

[2020-03-06 18:30] nkolev92 commented on #9266
Dup of https://github.com/NuGet/Home/issues/4491.
PackageReference project pack with NuGet.exe is not well supported.

[2020-03-06 18:30] #9266 closed, assigned to nobody

[2020-03-06 18:36] nkolev92 opened #9267 "Ensure Static Graph restore is available in dotnet.exe"
This basically means ingesting https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Console/NuGet.Build.Tasks.Console.csproj into the SDK.

We should discuss with the .NET Core team what branches they want the changes in.

fyi @jeffkl

[2020-03-06 18:38] nkolev92 commented on #9267
cc @NuGet/nuget-client This is a high ROI issue. Worth picking up as soon as possible to ensure everyone can try out the restore with improved msbuild evaluation.

[2020-03-06 18:55] jeffkl commented on #9267
I'm pretty sure we need to insert the new package here: https://github.com/dotnet/toolset/blob/8a99876e947686898a5208e26cac316dfeff449a/src/redist/redist.csproj#L22

I believe the package is `NuGet.Build.Tasks.Console` and it works because it's just adding its stuff to `any\contentFiles` like the other packages.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Conso

[2020-03-06 20:25] nkolev92 opened #9268 "Make IOutputConsole async"
IOutputConsole is currently sync. The reason for that is that it was original designed when PMC was the primary Visual Studio scenario & async code was not as common.

Many of our codepaths currently invoking the output console are async and with https://github.com/nuget/home/issues/8673 that's becoming even more important.

Refactor IOutputConsole to contain only async methods.

[2020-03-06 20:27] nkolev92 opened #9269 "Use the output channel service to propagate NuGet output for VSO."

[2020-03-06 20:29] nkolev92 opened #9270 "NuGet output should go to the build output when the scenario is on build"
See blocking [issue](https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1090921)

[2020-03-06 20:30] nkolev92 opened #9271 "Ensure NuGet errors/warnings are propagated to the error list in VSO"
This is likely a partner issue, but should investigate

[2020-03-06 22:17] KinsonDigital opened #9272 "Creating package with x86 and x64 managed and native libraries into single package"
## Details about Problem

Here is my current setup.  I am creating a game engine in **C**# that uses **SDL**.  There is a popular **C**# wrapper library that **P/Invokes** into
the native **SDL2** libraries for the purpose of creating games.  These native libraries have **x86** and **x64** architecture versions of them and
I need to to take advantage of both which means my game engine has only **x

[2020-03-06 22:58] lovettchris opened #9273 "Need nuget package priority for local debugging/testing"
## Cannot predictably get local debug bits using Nuget.config

The current spec says when there are multiple sources in your Nuget.config "the fastest one wins".  This results in unpredictable development experience.  For example, I'm developing a new nuget package, and I have a bunch of tests to test it.  But if my test projects want to reference my new local bits I tried this:
[code]

but it doe

[2020-03-06 23:21] #9255 closed, assigned to nobody

[2020-03-07 02:04] heng-liu commented on #9165
Closed as no info from customer in ticket https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1063192.

[2020-03-07 05:40] #8977 closed, assigned to nobody

[2020-03-07 06:22] terrajobst commented on #9215
1 and 2 sound good to me. The key is not to warn for `net1-4`, `netstandard` and `netcoreapp` IMHO.

[2020-03-07 11:09] ViktorHofer commented on #9267
The toolset repo has moved to dotnet/sdk. The new location is here: https://github.com/dotnet/sdk/blob/2ccaa037745ac05043ce1f9420cca121754b6e8b/src/Layout/redist/redist.csproj#L22.

[2020-03-07 11:20] ViktorHofer commented on #9267
Submitted https://github.com/dotnet/sdk/pull/10794

[2020-03-07 16:48] markolbert commented on #9228
@nkolev92, I put together a little C# library for parsing project.assets.json files. You can [find it here](https://github.com/markolbert/RoslynUtils). It handles all hundred some odd examples I have on my system (all of which are version 3 files). Probably of no interest to anyone but me but it might be an alternative to the approach in the link you gave me. Enjoy!

[2020-03-07 16:48] #9228 closed, assigned to nobody

[2020-03-08 14:27] StingyJack opened #9276 "nuget pack for an sdk style csproj that has a package ref does not create a package that lists that ref as a dependency"
## Details about Problem

Nuget pack task in devops build pipeline

NuGet version (x.x.x.xxx): 4.9.4

netfx461

Worked before? If so, with which NuGet version: IDK

## Detailed repro steps so we can see the same problem

I have a netfx461 project (call it  "P") that has nuget package ("NP") installed into it as a package reference. The project format is an SDK style format and uses package referen

[2020-03-08 18:16] ViktorHofer commented on #9199
@nkolev92 we are still hitting this with `5.0.100-preview.2.20155.14`:

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=551633&view=logs

[2020-03-08 18:19] ViktorHofer commented on #9199
cc @ercistj @hoyosjs

[2020-03-08 18:19] ViktorHofer commented on #9199
cc @jaredpar

[2020-03-09 01:45] StingyJack commented on #8713
@rrelyea - You do know that clear and properly descriptive error messages - and up to date documentation - have always been a problem with NuGet, right? Maybe its time to think about building some corrections for this into your processes, so that the tools you produce aren't so confusing, frustrating, and inconsistent.

[2020-03-09 02:57] gitfool opened #9277 "`dotnet nuget add package SourceUri` creates bad default package source name"
Noticed while experimenting during #9251 with the preview of 3.1.200 SDK:
[code]
The default package source name has format placeholder residue; i.e. `{0}` in the name.

This comes from [Source_DefaultNamePrefix](https://github.com/NuGet/NuGet.Client/blob/a746cd6a01dfd22187375ee9c5a0d9b98676020a/src/NuGet.Core/NuGet.Commands/Strings.resx#L962-L965) and is used in [AddSourceRunner.Run](https://gith

[2020-03-09 09:10] stijnherreman opened #9278 "Sort packages by ID in the Updates tab of the Package Manager UI"
## Details about Problem

NuGet product used: VS UI

NuGet version: 5.4.0

VS version: 16.4.5

OS version: Windows 10 v1903 (18362.693):

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Open a project with packages that can be updated.

2. Open the Package Manager UI for the solution or the project.

3. Choose the Updates tab.

The pac

[2020-03-09 11:59] v-luzh commented on #8929
@heng-liu, I can repro this unstable bug on D16.5 GA (D16.5\29905.175)--on the 3rd WebFormsSite project as below. Please help to reactivate it, thanks.
![image](https://user-images.githubusercontent.com/20632625/76211093-6a5b0380-6240-11ea-876d-25ba548669f7.png)

[2020-03-09 11:59] v-luzh commented on #8928
Hi @heng-liu, sorry, just saw your message since I didn't get your update comments in my mail-reminder. I can repro this bug on D16.5 GA (D16.5\29905.175)--asked to restart twice. Please help to reactivate it, thanks.

[2020-03-09 12:06] ViktorHofer opened #9279 "NuGet official builds aren't publishing to a BAR channel anymore"
The last successful build that updated the `.NET Core 5 Dev` channel was https://dev.azure.com/devdiv/DevDiv/_build/results?buildId=3506459. Since then nuget bits aren't flowing anymore to dotnet/sdk or any subscriber.

[code]

cc @mmitche @nkolev92 @JohnTortugo

[2020-03-09 12:14] ViktorHofer commented on #9279
I don't know how BAR determines which channel the build assets is for but I added a default channel for the dev branch meanwhile:

[code]

[2020-03-09 12:20] ViktorHofer commented on #9279
Submitted https://github.com/dotnet/sdk/pull/10804 to fix this in the meantime.

[2020-03-09 14:09] ViktorHofer commented on #9267
CSC : error CS2015: 'F:\workspace\_work\1\s\.packages\\nuget.build.tasks.console\5.6.0-preview.1.6478\contentFiles\any\netcoreapp2.1\NuGet.Build.Tasks.Console.dll' is a binary file instead of a text file [F:\workspace\_work\1\s\src\Layout\redist\redist.csproj]
##[error]CSC(0,0): error CS2015: 'F:\workspace\_work\1\s\.packages\\nuget.build.tasks.console\5.6.0-preview.1.6478\contentFiles\any\netcore

[2020-03-09 14:48] aolszowka opened #9280 "Using /p:RestoreUseStaticGraphEvaluation=true Results in Value Cannot Be Null"
As per #8791 we have been testing with the optional `/p:RestoreUseStaticGraphEvaluation=true` to speed up restores. However we've encountered an issue when this is sent to a project which does not contain any PackageReferences to restore.

The command line is:

[code]

The redacted error is:
[code]

Removing the `/p:RestoreUseStaticGraphEvaluation=true` fixes the issue. As mentioned above this sol

[2020-03-09 15:00] ViktorHofer commented on #9279
Keeping this open until I verified this fixes indeed fixes the issue.

[2020-03-09 15:21] mmitche commented on #9279
/fyi @JohnTortugo

[2020-03-09 15:36] connectArun2001 commented on #9249
any update regarding this defect

[2020-03-09 15:57] zivkan commented on #9279
Is the problem just that we're using an old version of the relevant packages?

Would this fix it?
https://github.com/NuGet/NuGet.Client/compare/dev-zivkan-update-dnc-bar-publishing

Since we don't use arcade, I really don't understand how the whole flow works, so I don't know what's going wrong from our end or what we can do to fix it.

[2020-03-09 16:06] jeffkl commented on #9267
Yeah I was trying to mirror what the `NuGet.Build.Tasks` package does but I guess I got it wrong.

![image](https://user-images.githubusercontent.com/17556515/76233163-02c39a80-61e5-11ea-83d5-8a168a81c7a1.png)

Looks like the assemblies need to be in the lib folder.  My intent was to have NuGet.RestoreEx.targets in this package as well since I added[ this condition ](https://github.com/NuGet/NuGet

[2020-03-09 16:12] ViktorHofer commented on #9267
Yes please, we are desperately waiting for that feature as otherwise the no-op restore time in dotnet/runtime is far too high.

[2020-03-09 16:23] jeffkl commented on #9267
https://github.com/NuGet/NuGet.Client/pull/3285

[2020-03-09 17:01] rainersigwald commented on #9267
I think we should consider pulling this into .NET Core SDK 3.1.300. @dsplaisted, does that sound reasonable?

[2020-03-09 17:45] ViktorHofer commented on #9199
Sorry I was wrong, we aren't using the right bits. The commits points to an old build from early February: 7bac015acc5b7e0161a058c8febc98abe2386d51

[2020-03-09 17:56] nkolev92 commented on #9267
Yes please!
I wanted to start that conversation on the side as well.
It's super important to get feedback on this as it is a major rewrite.
The improvements are also drastic.

[2020-03-09 17:57] vivainio opened #9281 ""dotnet nuget push -s c:/localdir" creates flat directory structure"
## Details about Problem

dotnet.exe --version:
3.1.101

OS version:

win10 1803

## Detailed repro steps so we can see the same problem

[code]

Observe that c:/localdir now contains myapp.1.3.0.nupkg at top level instead of the "new" hierarchical nuget directory structure.

[2020-03-09 18:37] ViktorHofer commented on #9279
OK sorry for the noise, we can close this issue. I didn't know that NuGet is promoting their builds and not publishing live: https://github.com/NuGet/NuGet.Client/pull/3285#issuecomment-596710142.

I'll remove the default-channel that I added for nuget.

[2020-03-09 18:37] #9279 closed, assigned to nobody

[2020-03-09 18:47] ViktorHofer opened #9282 "RestoreTaskEx swallows errors"
When calling restore on a project with a recent SDK that contains the `RestoreTaskEx` but is missing the `NuGet.Build.Tasks.Console` executable, no failure is logged and no error is thrown.

[code]

cc @nkolev92 @jeffkl

[2020-03-09 18:58] nkolev92 commented on #9282
I understand your scenario better now.
Probably the outcome of this would be a no-op as the RestoreEx targets are now in a different package.
It probably won't hurt to add a check and fail though.

[2020-03-09 19:10] heng-liu commented on #8929
Hi @v-luzh, I tried the following steps and still could not repro. Can you pls provide the more detailed repro steps? Thanks!
1. install the exact version of VS
![image](https://user-images.githubusercontent.com/45407901/76248598-e03e7b00-61fe-11ea-9778-dfcc6f17fd78.png)

[2020-03-09 20:03] jabbera commented on #9195
Hi! Is there any chance of this getting prioritized? Just trying to plan.

[2020-03-09 20:32] nkolev92 commented on #8283
Related [620278](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/620278)

[2020-03-09 20:56] heng-liu commented on #8928
Hi @v-luzh , I just tried twice the following steps, but could not repro. (only 1 restart is required)
May I know if I miss anything in the repro? Or can you pls provide the detailed repro steps? Thanks!
1. Launch VS16.5.0 Preview 6.0 [29905.175.d16.5]

![image](https://user-images.githubusercontent.com/45407901/76255540-93ad6c80-620b-11ea-9e56-8d1fa77a0ae4.png)
2. Create a new ASP.NET web applica

[2020-03-09 22:37] zivkan opened #9283 "Test: E2E test UpdatePackageMissingPackage is flaky"
The test has failed numerous times in the last week or two with the following stack trace:

   at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
   at System.IO.FileSystemEnumerableIterator`1.CommonInit()
   at System.IO.FileSystemEnumerableIterator`1..ctor(String path, String originalUserPath, String searchPattern, SearchOption searchOption, SearchResultHandler`1 resultHandle

[2020-03-09 22:42] heng-liu commented on #8364
Closed as fixed.

[2020-03-09 22:42] #8364 closed, assigned to heng-liu

[2020-03-09 23:18] nkolev92 commented on #8388
There's an old issue for this. Dup of https://github.com/NuGet/Home/issues/5154