[2020-05-14 01:58] #9558 closed, assigned to nkolev92

[2020-05-14 02:07] chucklu commented on #9560
@zivkan  Thanks for your investigation, I will figure out  the problem with netrevisiontask.

[2020-05-14 02:07] #9560 closed, assigned to nobody

[2020-05-14 02:14] chucklu commented on #9560
NetRevisionTask define the package version as informational version, that's the problem. I will negotiate with the author.
https://github.com/ygoe/NetRevisionTask/blob/c619ac946ccca1feeafb917596703ee8f08d697e/NetRevisionTask/build/Unclassified.NetRevisionTask.targets#L47
[code]

[2020-05-14 04:34] zivkan commented on #6284
I've been thinking about this (detect which packages can be removed) recently and started playing around with a prototype during my personal time.

It's very feasible to detect when a compiled assembly used types from a package's `lib` or `ref` assemblies. I think these make up most packages, so that's good.

I can't think of a way to possibly detect if a project uses content from packages (as in

[2020-05-14 04:47] n8allan commented on #9544
I don't disagree with the validity of any of the associated problems y'all raise.  One option is to only allow the refactoring changes I mention when transitioning between major versions, but that still has the down-side of not allowing for mutually shared dependencies.

I've been working on a pet language and runtime on the side for years, which involves the ability to explicitly describe the iso

[2020-05-14 08:58] v-luzh commented on #7870
@nkolev92 It doesn’t repro on OS: Linux Ubuntu 18.04 with .Net Core 3.1. “globalPackagesFolder” works well for both command “dotnet pack” and “dotnet nuget locals all --list” during the verification.

[2020-05-14 09:31] v-luzh commented on #8705
@nkolev92 Tried command "nuget update" after installing mono on Linux Ubuntu 18.04. Seems it still doesn't work since the terminal said "Cannot find the specified version of msbuild: '{0}' ".

[2020-05-14 09:36] asutoshbiswal1995 commented on #7354
@nkolev92  In my project when I go to Manage Nuget Package->Add Package Source and if at the source I am giving my github package link https://nuget.pkg.github.com/repoName/index.json and click on update and Ok then it is supposed to ask me for the credentials which it didn't ask rather it gave me this error:  _**[github] Failed to retrieve metadata from source 'https://nuget.pkg.github.com/repoNa

[2020-05-14 13:19] VerdonTrigance commented on #7131
Finally I has been forced to move to .nuspec. All these damn bugs and missing assemblies pissed me off. It's not so comfortable as .csproj might be, but it (.csproj) doesn't.
I spent quite amount of time to understand how to use and pass $tokens$ (it has to be a string in quotas passed by -Properties), but everything else was simple.
Thank you for helping and... burn in hell NuGet!

[2020-05-14 15:11] heng-liu opened #9562 "Warnings for existing code in xplat verification branch from CodeAnalysis.FxCopAnalyzer"
The following warnings are reported by CodeAnalysis.FxCopAnalyzer in the existing code on xplat feature branch, as new overload methods were brought in for new TFM:

[code]

[2020-05-14 16:24] ronwarner commented on #6328
What is that image from?

[2020-05-14 16:26] ronwarner commented on #6328
@svdHero - What is that image from?

[2020-05-14 16:49] donnie-msft commented on #6016
Just hit this and was unsure why Restore was doing nothing.

There is an error message but it's only visible if "Build + IntelliSense" is enabled in the Error List.
![image](https://user-images.githubusercontent.com/49205731/81961738-c9424d80-95e0-11ea-991e-52575202bf17.png)

If the setting to allow NuGet to restore is disabled:
![image](https://user-images.githubusercontent.com/49205731/81961753-

[2020-05-14 16:54] donnie-msft commented on #9250
Closed as Duplicate a VS Feedback ticket around this issue (1114782)

[2020-05-14 16:57] logiclrd opened #9563 "NuGet Restore on mixed solution with `packages` directory override produces inconsistent `packages` folder"
## Details about Problem

NuGet product used: `NuGet.exe`
NuGet version (x.x.x.xxx): 5.5.1.6542

If NuGet Restore is performed on a solution where some of the projects are based on `packages.config` and some are using `<PackageReference>`, then it effectively performs two separate restore steps: One for the `packages.config` file into the `packages` directory in your project, and one for the `<Pac

[2020-05-14 17:28] StachuDotNet commented on #6328
@ronwarner IT Crowd - first episode, I think.

[2020-05-14 17:33] svdHero commented on #6328
Yes. Brilliant TV series. At least the first two seasons.

[2020-05-14 18:58] nkolev92 opened #9565 "Enable fast No-Op restore optimization for csproj-style, PackageReference-based projects in Visual Studio"
A follow up to https://github.com/NuGet/Home/issues/9513.

PR: https://github.com/NuGet/NuGet.Client/pull/3391
Spec: https://github.com/NuGet/Home/pull/9564

In legacy package reference projects, it's NuGet that writes the warnings and errors to the error list.

At the beginning of every restore operation in VS we clear the NuGet entries from the error list and add them at the end.
This creates un

[2020-05-14 19:36] donnie-msft commented on #9563
The experience here could be improved and will take some thought across products (eg, Dotnet.exe restore).

The folder structure is intended to be different between packages.config packages folder, and PackageReference global packages folder, so writing to the same folder may not make sense.

[2020-05-14 19:45] nkolev92 commented on #6987
Repurposing this issue as per the design in https://github.com/NuGet/Home/pull/9564 that addresses https://github.com/NuGet/Home/issues/9513.

The gestures that defeat no-op are not obvious.

[2020-05-14 19:58] nkolev92 opened #9566 "Analyze the frequency of OnBuild restore & potential improvements"
This is an investigative task to track one of the 3 scenarios in which restore happens.

Questions that need answered:
* How frequent is this in the overall picture?
* What is the status distribution?
* Can it be made faster?
* Can it happen less frequently?

Related to https://github.com/NuGet/Home/issues/9513.

Given that this will happen after https://github.com/NuGet/Home/issues/9513 is comple

[2020-05-14 19:59] nkolev92 opened #9567 "Analyze the frequency of Implicit restore & potential improvements"
This is an investigative task to track one of the 3 scenarios in which restore happens.

Questions that need answered:
* How frequent is this in the overall picture?
* What is the status distribution?
* Can it be made faster?
* Can it happen less frequently?

Related to https://github.com/NuGet/Home/issues/9513.

Given that this will happen after https://github.com/NuGet/Home/issues/9513 is comple

[2020-05-14 20:00] nkolev92 opened #9568 "Understand and improve the batching strategy for implicit restores"
Related to https://github.com/NuGet/Home/issues/9567 & https://github.com/NuGet/Home/issues/9566.

Specifically concerned with start-up scenarios.

[2020-05-14 20:09] logiclrd commented on #9563
It makes sense for there to be different folder structures, but what doesn't make sense to me is for the restore code to start writing into an existing folder with one structure using a different structure.

A thought that occurs to me is, is there ever a situation where it would make sense for someone to redirect a V3-style "global" restore into a directory of their choosing? The `-PackageDirecto

[2020-05-14 20:11] nkolev92 opened #9569 "Add telemetry to understand when a restore happens due to a rebuild"
Specifically, none of our metrics currently track it, but we should.

cc @dominoFire

[2020-05-14 20:19] nkolev92 commented on #7870
Thanks @v-luzh

@TFTomSun
At this point it's a bit difficult to test alpine linux specifically.

Are you still able to repro this? Reproable on any other linux versions?

[2020-05-14 20:21] nkolev92 commented on #8705
@nelfer Is that what you get?

@v-luzh Is what you are seeing similar to https://github.com/NuGet/Home/issues/9222?

[2020-05-14 23:26] nkolev92 commented on #8092
This was a generic placeholder for our investigate. We've done multiple phases of improvements and we'll keep doing so.

Commandline scenario improvements: https://github.com/NuGet/Home/issues/8791
VS improvements; https://github.com/NuGet/Home/issues/9513
https://github.com/NuGet/Home/issues/9189

[2020-05-14 23:27] #8092 closed, assigned to dtivel

[2020-05-14 23:27] JasonRShaver commented on #9164
To complete the provenance picture, we should also include commit information as well, matching the functional implementation of NPM.

[2020-05-14 23:29] nkolev92 commented on #7943
Closing generic issue.

[2020-05-14 23:29] #7943 closed, assigned to dtivel

[2020-05-14 23:55] nkolev92 commented on #5657
This issue is still very relevant.

I'm not sure how frequently this repros, but I think it should be straightforward to use an AsyncQueue instead of the blocking collection: https://github.com/NuGet/NuGet.Client/blob/253a77105feba2fdc481efc041e0f01242902087/src/NuGet.Clients/NuGet.SolutionRestoreManager/SolutionRestoreWorker.cs#L460.

[2020-05-14 23:59] nkolev92 commented on #4350
We're not going to do this at this point.
We have 2 different VS packages which depend on different assemblies to improve performance at VS start-up.

That is dependent on having more assemblies. Additionally ngen work has been done to improve the hot paths.

Closing as won't fix.

[2020-05-14 23:59] #4350 closed, assigned to nobody

[2020-05-15 04:35] AraHaan commented on #4184
I think I got a better idea, I think .NET core should move where it puts reference assemblies instead:

instead of putting them under ``$(OutDir)\$(TargetFramework)\ref`` I think it should instead place them in:

``$(OutDir)\ref\$(TargetFramework)``
So then the pack tasks can find them easier to pack them. I was trying to get this done on my end but it snagged another issue where it would instead

[2020-05-15 09:05] v-longmin commented on #8609
Verify the issue on Master\30114.135 + NuGet Client dev\5.7.0.6612, it has been fixed, closed it, thanks!

[2020-05-15 09:05] #8609 closed, assigned to nobody

[2020-05-15 09:06] formiaczek commented on #6242
One more observation to add: for C++ and C# projects (at least - maybe other languages too?) - this is benign, and if one can live with it (when consistent, e.g. have say all nuget updates made the same way so that version-control doesn't show these flipping back and forth).

[2020-05-15 16:43] mirkomuggli opened #9570 "Move ToolWindow creation to AsyncPackage APIs"
Calls to uiShell.CreateToolWindow (in Nuget Codespaces) should be replaced with their appropriate counterparts in AsyncPackage, documented here: [https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.shell.asyncpackage?view=visualstudiosdk-2019](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.shell.asyncpackage?view=visualstudiosdk-2019)

[2020-05-15 16:52] jannikbuschke commented on #8703
Hitting the same issue. Pinning nuget 5.2 solves the issue for the time being.

[2020-05-15 18:02] laheller commented on #8580
Hi!

Is it possible to somehow **list** the packages using the [nuget cli](https://www.nuget.org/downloads) tool, like:
`nuget.exe list * -Source github`
?

My _nuget.config_ file has the package source:
[code]
For me it always returns with:

I have the latest v5.5.1 version and there is [1 package](https://github.com/laheller/IAU.Constellations/packages) published to my github packages feed.

BR,

[2020-05-15 18:52] tebeco commented on #9502
did that answered your questions @donnie-msft @kartheekp-ms ?

[2020-05-15 19:34] donnie-msft opened #9571 "Bring `config` CLI experience to dotnet.exe for managing `nuget.config` files"
Design of an improved CLI experience for manipulating nuget.configs.

Today, there's `dotnet new nugetconfig` which copies a template. The `<clear />` isn't removable.

[2020-05-15 19:57] donnie-msft commented on #9539
Created an epic to track overall design of the CLI experience around configs, which is currently lacking even on dotnet.exe.

I pinged some folks offline and it sounds like we would focus primarily on dotnet.exe. Can you elaborate why you'd prefer nuget.exe have these capabilities in addition to dotnet.exe ?

[2020-05-15 19:59] valadas commented on #6098
I am experiencing this issue too in Visual Studio 2019

[2020-05-15 20:26] donnie-msft commented on #9502
@tebeco sorry and nevermind about detailed verbosity, as apparently that's [not supported yet](https://github.com/NuGet/Home/issues/6654).

Have you tried starting from scratch, and using the `dotnet add` command I referenced earlier? The simpler the repro, the more clarity on the problem.

I cloned your repo and even if I change nothing at all, there are errors about references which don't exist.

[2020-05-15 20:40] tebeco commented on #9502
oO i'll clone it elsewhere to be sure what's going on and I'll fix that this weekend ;)
Sorry about that

This repo is like the "minimal" stuff we do at work and as you suggested I started from scratch

## Warning : native build
The only thing is that, in order for you to "trust me" i did not added any `native dll` so that's why it contains `Rust` code + a script to build it down to `native`
So yo

[2020-05-15 22:00] aortiz-msft commented on #8985
Still seeing reports about this in Developer Community

[2020-05-15 23:36] birgithi opened #9572 "Search and recommender query should run in parallel"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS Package Manager

NuGet version (x.x.x.xxx):
PR 3299

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

The package search a

[2020-05-16 11:04] theolivenbaum commented on #7001
Any progress on this? Hit this weird issue just today while debugging a dotnet tool project!

[2020-05-16 14:17] SylwesterZarebski commented on #7189
Using MyGet packages on multiple computers working on same project is not really possible.
Only workaround is add multiple feeds (for every project or package) to every computer, which is not scalable at all.
Needs to fix is ASAP.

[2020-05-16 17:22] tebeco commented on #9502
@donnie-msft
sorry about the repo, that `sln` should have never existed in my fork. It's an artefact from the Original repo before the fork
I re-cloned the repo else where and just ran `build.ps1`
can you let me know if that `build.ps1` works for you ?

[code]
[code]

Once it's done, the idea is that you CANNOT chance `third-part` folder (except the `samples`)
The `sln` you will want to open is :

[2020-05-17 01:23] heng-liu opened #9573 "Remove the workaround of defining constant NET5_0"
When fixing warnings raised by code analysis, we need to add preprocessor for new overload methods which only exist in .NET5.0 (or later).
.NET will define constant NET5_0 in PR https://github.com/dotnet/sdk/pull/11635. So when it merges, we should remove the workaround of defining constant NET5_0 from xplat feature branch.

[2020-05-17 17:07] JereckNET commented on #1482
How can we include localized assemblies in the .nupkg file ? The workaround proposed by @richieeeeeeee is not maintainable a requires many manual changes to the .nuspec file (fetching from debug or release, targeting the correct version, etc. ...)

[2020-05-17 17:30] doggy8088 commented on #9539
@donnie-msft For someone who doesn't use .NET Core yet, and they are still using .NET Framework. How can they generate `nuget.config` easily?

[2020-05-18 00:52] StingyJack commented on #6284
You can't really be citing fear of the unknown complainers as a reason for avoiding an attempt at cleaning up unused packages.

I shouldn't have to go to a third party for reference cleanup.

[2020-05-18 04:57] heng-liu commented on #8934
Closed as fixed.

[2020-05-18 04:57] #8934 closed, assigned to heng-liu

[2020-05-18 07:13] v-luzh commented on #8705
@nkolev92 I think what I saw on Linux Ubuntu 18.04 is not similar to 9222.

[2020-05-18 09:12] v-luzh opened #9574 "[Test Failure] Closing invalid Nuget.config xml box hangs VS"
## Details about Problem
NuGet version: NuGet Client Dev\5.7.0.6612
VS Version: Master\30114.135
OS Version: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Go to %appdata%\nuget\Nuget.Config
2. Open Nuget.Config and edit the file so that it contains invalid xml. In this case, mine contains multiple root level elements.
3. Close Nuget.Config and open VS
4. Create a new ASP.NET (NET core) web

[2020-05-18 14:28] archanasoni opened #9575 "Issue with custom target file when package is referenced in multilevel hierarchy"
Hi,

We have native dlls to get bundled with nuget package targeting .NET Core 3.1.
We are able to successfully package native dlls with our nuget package.
Our requirement is when package gets installed these native dll should get copied into Application bin directory..
To achieve this we have custom target file something like:
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

[2020-05-18 15:25] donnie-msft commented on #9543
Glanced and did see some code paths that look like may be the culprit.
Hopefully my recent https://github.com/NuGet/NuGet.Client/pull/3140 didn't regress this...

[2020-05-18 15:46] Luqswe commented on #6935
im having this exact same issue on my system:

.NET Core SDK :
 Version:   3.1.202
 Commit:    6ea70c8dca

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17763
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.1.202\

dotnet add package output:
`error:   Response status code does not indicate success: 401 (Unauthorized).`

my NuGet.Config (als

[2020-05-18 16:04] superstrom commented on #5773
Thanks @BlackGad! I can't wait to test this out.

[2020-05-18 16:19] nkolev92 commented on #8705
@v-luzh sounds good. thanks :)

[2020-05-18 16:31] #9516 closed, assigned to mirkomuggli

[2020-05-18 17:50] #5134 closed, assigned to nkolev92, nugetlurker

[2020-05-18 17:59] #9573 closed, assigned to nobody

[2020-05-18 18:02] ctaggart commented on #6229
This is the first github.com link that comes up when searching Bing for "deterministic nuget packages", so I'm going to add a link here for documentation.  @clairenovotny [tweeted](https://twitter.com/clairernovotny/status/1245085150989426689?s=20) this example, which is great!

https://github.com/clairernovotny/DeterministicBuilds

[2020-05-18 18:07] heng-liu commented on #9562
Closed as fixed.

[2020-05-18 18:07] #9562 closed, assigned to heng-liu

[2020-05-18 18:16] erdembayar commented on #8478
First of all this nuget server (dotnetfeed.blob) is rogue ignoring our skip, take parameters, always returns everything it has regardless of query parameters. So that response is always more than 100MB.
1. So after more investigation I found main problem is when trying to read more than 100MB in http stream application it overflows memory constraint during json parsing. It seems there is limit aro

[2020-05-18 18:21] nkolev92 commented on #8478
You are correct. That feed is backed by Sleet, which is a static feed, meaning it won't apply any search logic, see code;
https://github.com/emgarten/Sleet/blob/9905ed916bc404e5cae48ce48aa931e0e0c9e17c/src/SleetLib/Services/Search.cs#L13

cc @emgarten

@erdembayar
Alternatively, you maybe just try to read the number of entries we expect, so just parse take number of entries.

[2020-05-18 18:28] zivkan commented on #9539
You don't need to use .NET Core to install or use the dotnet cli.

[2020-05-18 18:31] zivkan commented on #9539
Another easy way, using powershell, is:

[code]

then you can use nuget.exe to add sources, set config, etc.

[2020-05-18 18:52] doggy8088 commented on #9539
@zivkan Thanks! I know that actually. I just feel `nuget init` or `nuget --init` is much more elegant.

[2020-05-18 19:02] erdembayar commented on #8478
@nkolev92 How do we read exact number of entries from raw stream?
As I see current response is stream? It's kind of tricky, if someone skip 10000 items then take 20 item. Unless you go through all first 10000 items we don't know here that 20 items we want starts.  We can't jump to position always have to read memory stream whether like it or not.
Maybe we can do real time processing as reading raw

[2020-05-18 19:10] nkolev92 commented on #8478
Maybe we can do real time processing as reading raw stream. But problem is I have to deal with unicode(non-english) text descriptions which can be complicated. Of course it can be done just don't want to go down most complicated path for now. Even then we have some kind of hard stop, can't read stream 10 min to find result.
For now most straight forward solution would be just put hard stop if stre

[2020-05-18 19:14] nkolev92 opened #9576 "Initial package recommender work"
Child of https://github.com/NuGet/Home/issues/8924

[2020-05-18 19:17] #9576 closed, assigned to nugetlurker, rrelyea

[2020-05-18 20:06] nkolev92 commented on #8776
Thank you for creating this issue.
Closing as we believe that we have answered this question.
Feel free to open new issues for any additional feedback.

[2020-05-18 20:06] #8776 closed, assigned to nobody

[2020-05-18 20:08] nkolev92 commented on #8779
Related to @drewnoakes's work.

[2020-05-18 20:10] nkolev92 commented on #8786
Hey @rrelyea, since you are in hot seat, can you please revisit this issue and help with the customer's question.

[2020-05-18 20:14] nkolev92 commented on #8878
Hey @grimreaper38uk
Thank you for your feedback.

As it stands now, we are not sure how to continue investigating this issue.
Would you please create new issues for each individual gap you are facing.

Please follow the template for product issues: https://github.com/NuGet/Home/issues/new.

[2020-05-18 20:14] #8878 closed, assigned to nobody

[2020-05-18 20:27] nkolev92 commented on #8838
@joelverhagen

Do you have a list of all the packages with bad metadata?

[2020-05-18 20:30] joelverhagen commented on #8838
See the end of the issue. There is a list of package IDs, versions, and specific metadata properties that are bad.

[2020-05-18 20:30] donnie-msft commented on #9390
Possible duplicate/related: https://github.com/NuGet/Home/issues/8839

[2020-05-18 20:30] nkolev92 commented on #8843
@MattiasEppler

Closing as per @zivkan's response. Sounds like we are not able to reproduce this issue.

Please comment here or open a new issues if you hit other problems.

[2020-05-18 20:30] #8843 closed, assigned to nobody

[2020-05-18 20:32] #8877 closed, assigned to nobody

[2020-05-18 20:32] nkolev92 commented on #8877
Issue moved to [NuGet/docs.microsoft.com-nuget #2036](https://github.com/NuGet/docs.microsoft.com-nuget/issues/2036) via [**ZenHub**](https://www.zenhub.com/)

[2020-05-18 20:32] nkolev92 commented on #8877
Issue moved to [NuGet/docs.microsoft.com-nuget #2037](https://github.com/NuGet/docs.microsoft.com-nuget/issues/2037) via [**ZenHub**](https://www.zenhub.com/)

[2020-05-18 20:41] nkolev92 commented on #8900
Hey @Gabsch

Thank you for filing this issue.
As you articulated, this behavior is by design.
The pack functionality(like build) is incremental and will only run and create new files if necessary.

[2020-05-18 20:41] #8900 closed, assigned to nobody

[2020-05-18 20:44] #8926 closed, assigned to nobody

[2020-05-18 20:44] nkolev92 commented on #8926
Issue moved to [NuGet/docs.microsoft.com-nuget #2038](https://github.com/NuGet/docs.microsoft.com-nuget/issues/2038) via [**ZenHub**](https://www.zenhub.com/)

[2020-05-18 20:47] nkolev92 commented on #8923
@v-luzh

Can you please try to validate this report with the latest stable NuGet (VS 2019.6)

[2020-05-18 20:50] nkolev92 commented on #8941
Hey @MarcoRossignoli

Are you still waiting on for any of these questions?
Looks to me that you've already managed to unblock yourself.

Thanks.

[2020-05-18 20:53] nkolev92 commented on #8957
Hey @PawcioCNCProfi

Are you still blocked on any of these questions?

[2020-05-18 20:54] MarcoRossignoli commented on #8941
I haven't fixed yet... tomorrow I'll give it another try and of issue is still present I'll come back

[2020-05-18 20:58] nkolev92 commented on #8988
Done!

[2020-05-18 20:58] #8988 closed, assigned to nobody

[2020-05-18 20:58] #8989 closed, assigned to nobody

[2020-05-18 21:01] nkolev92 commented on #9009
@jomonson

Are you still facing this problem?

GitHub requires that the `repositoryId` element is specified in order to accept a pushed package.
Is that set-up correctly?

Thanks.

[2020-05-18 21:09] nkolev92 commented on #8838
@joelverhagen

I should've asked a better question.

Are those packages samples or all packages?

[2020-05-18 21:09] joelverhagen commented on #8838
All, at the time of filing the issue.

[2020-05-18 21:10] nkolev92 commented on #9390
@donnie-msft These seem equivalent.

Should we dup this one in favor of the earlier one and mention the scenario there?

[2020-05-18 21:12] nkolev92 commented on #9390
I didn't notice they were pack/push, so guess we can keep it open.

[2020-05-18 21:16] nkolev92 commented on #8838
I think it makes sense to say that package metadata is case sensitive.

[2020-05-18 21:25] #8861 closed, assigned to nobody

[2020-05-18 21:26] #8894 closed, assigned to nobody

[2020-05-18 21:27] nkolev92 commented on #8894
@mattleibow Moved to the runtime repo.

[2020-05-18 21:28] #8838 closed, assigned to nobody

[2020-05-18 22:55] nkolev92 opened #9577 "IVsPackageInstallerServices should be async"
Related:

https://github.com/NuGet/Home/issues/8872

[1116789](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1116789)
[1040578](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1040578)
[1040753](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1040753)

We need to make all our services async + Codespaces capable.

We should also look into reliability issues and neatly documen

[2020-05-19 01:49] nkolev92 commented on #9544
Re-reading the comments, I realize that realize that some might sound dismissive, that wasn't our intention :)

My goal is mainly to understand if this conversation is maybe best had in the runtime repository.

Some of things that we've changed in PackageReference is that we do not have an explicit install/update gesture.

Specifcally you can update your package through:

* Visual Studio PM UI
* P

[2020-05-19 01:50] donnie-msft opened #9578 "Checkbox for selecting projects to install to isn't being read by screen reader"
~Related (sorting column headers): https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1240642~

[From V[S Feedback (847922)](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/847922)]

Basically the Solution PMUI checkboxes are not being read by Narrator/NVDA screen readers, and require accessing the inner Checkbox controls manually. Probably should announce state on selecting a row in th

[2020-05-19 01:51] donnie-msft commented on #9393
This issue tracked the investigation of the following reports:

#### Sluggishness: NonVisualDesktopAccess sluggish when navigating the list of packages (847917)

- Filed a bug against NVDA reporting this behavior https://github.com/nvaccess/nvda/issues/11109

#### NonVisualDesktopAccess: Screen Reader only announcing package name when arrowing through the list (847919)

- Drill-in with CapsLock +

[2020-05-19 01:51] #9393 closed, assigned to donnie-msft

[2020-05-19 03:05] rrelyea commented on #9578
Given that the item is a listboxitem, the checkbox provides a multi selection capability.
I believe selection, not checked is the concept to be communicated.

[2020-05-19 04:17] SaSiNO97 commented on #6795
I had the same exact issue. I removed the nuget package, and added the code as a project instead, and I couldn't get rid of the error, even after deleting all .vs folders, packages, and %temp%

[2020-05-19 07:14] MarcoRossignoli commented on #8941
Confirm the error is still present, to repro clone branch https://github.com/MarcoRossignoli/coverlet/tree/nugetissue
From root project run `dotnet pack`

[2020-05-19 07:28] nealef commented on #9547
Let me know if you want me to test any binaries.

[2020-05-19 13:35] joelmartinez opened #9579 "Inconsistent Circular Reference"
## Details about Problem

We're publishing .NET reference at [Microsoft docs](https://docs.microsoft.com/dotnet/api/), and a new package release (Microsoft.Bot.Builder.AI.Luis) is causing some issues with a circular dependency. The dependency graph doesn't seem to indicate that there's actually a circular dependency, at least with the individual project's package ... the dependency seems to occur

[2020-05-19 15:55] #9515 closed, assigned to sbanni, mirkomuggli, rrelyea

[2020-05-19 16:26] donnie-msft commented on #9578
@rrelyea  Try the Breakpoints panel in VS. You hear the selected item, and then you hear "checkbox checked" if it's an enabled breakpoint.

[2020-05-19 16:39] rrelyea commented on #8862
@donnie-msft - is the commit that was merged worth release noting for 5.6? If so, should it close this issue? if not, should we have a separate closed issue to explain the issue that we fixed?

[2020-05-19 16:43] donnie-msft commented on #8862
@rrelyea This Issue has no commits. The linked issue is set to release 5.6 and was merged, and I would expect release notes to reflect it: https://github.com/NuGet/Home/issues/8148

[2020-05-19 16:46] nkolev92 commented on #8941
I am hitting 5128 right now, is that you were seeing too?

It's seeing lib/, but not dependencies entries whatsoever.

cc @zivkan who's looking into these.

[2020-05-19 17:21] nkolev92 commented on #9579
This is a consequence of the NuGet tooling consolidating the libraries.
The NuGet.Packaging.Core assembly relevant code got merged into NuGet.Packaging in 5.x, that's why the dependency was reversed in order to provide Type Forwarders. https://github.com/NuGet/NuGet.Client/pull/2712

The NuGet.Client dependency is also gone.
See https://github.com/NuGet/NuGet.Client/pull/1277.

NuGet has 2 version

[2020-05-19 17:25] erdembayar commented on #8478
@nkolev92 Yes, we real time json processing  as we read http stream but might have to deal with international text(like japanese, arabic) make sure it's parsed correctly. Because 1 japanese letter can consists of more than 1 byte so during stream reading we might read only first byte of character but rest is coming with next read then have to make sure we're not breaking text. To prevent such prob

[2020-05-19 17:32] nkolev92 commented on #8478
I don't think you need read byte by byte, you can use a JsonReader to parse incrementally.

The search response is json, it's something along the lines of:

[code]

You can use the fact that the response needs to be json: https://azuresearch-usnc.nuget.org/query?q=nuget.common&skip=0&take=5&prerelease=true&semVerLevel=2.0.0.

I'd caution against this.

[2020-05-19 18:06] rrelyea commented on #9265
@dominoFire - do we have a follow up issue to fix the rest of them? if not, can you please open.

[2020-05-19 19:56] joelmartinez commented on #9579
@nkolev92 interesting, thanks for the insight ... This error is coming up in our automated pipeline tooling, which is why we depend on the nuget executable to pull down the package ... we're not adding it to a project and restoring it as a package reference, so this workaround doesn't really support our use case.

Do you know if the "install command solver" is still supported and receiving updates

[2020-05-19 20:27] nkolev92 commented on #9579
We have not made too many changes on the packages.config resolution side.
It's a sensitive area, so we'd need to better understand the number of customers affected before investigating.

[2020-05-19 20:34] nkolev92 commented on #5750
Related: https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.shell.outputwindowtextwriter.-ctor?view=visualstudiosdk-2019.

[2020-05-19 20:39] nkolev92 commented on #7690
Duplicate of https://github.com/NuGet/Home/issues/8791.

Static Graph restore has brought in significant improvements in the restore code-paths, cutting msbuild evaluation times even ten fold for solutions with 100+ projects.

[2020-05-19 20:39] #7690 closed, assigned to nobody

[2020-05-19 20:44] nkolev92 commented on #4176
Since this issue was created, we've stopped reloading when on the browse tab, but not the installed and consolidate tabs.

fyi @donnie-msft
There probably are issues related to the described behavior.

[2020-05-19 20:47] joelmartinez commented on #9579
@nkolev92 sure ... to give a bit more context as to what's happening here. My team builds the tools that publishes .NET reference docs for Microsoft. A brief and oversimplified overview of our process (in the context of this error) is as follows:

1. An engineering team publishes their library via nuget
1. They onboard to publish their documentation through the docs site, which configures a series

[2020-05-19 20:47] nkolev92 commented on #4448
Related to https://github.com/NuGet/Home/issues/8478 which is tackling search resource changes.
fyi @erdembayar

This is an effective dup of https://github.com/NuGet/Home/issues/8058.

[2020-05-19 20:48] nkolev92 commented on #8058
Found yet another dup of this.
That one is older and has comparable amount of information.

I want to dup this to https://github.com/NuGet/Home/issues/4448?
Thoughts @donnie-msft ?

[2020-05-19 20:50] donnie-msft opened #9580 "Populate Solution Explorer package/project transitive dependencies from assets file"
[Copied from https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1107557]
For .NET Project System projects (eg. SDK style projects) where the Dependencies node exists, transitive dependencies of package and project references will no longer be populated using data from design time builds. Instead, this data will be lazily acquired from the assets file directly.

This code was originally going to e

[2020-05-19 20:50] nkolev92 commented on #8058
Is the paging strategy the number of versions right now?

I think the client should be a bit more resilient anyways.

[2020-05-19 21:57] srdjanjovcic opened #9581 "Telemetry: Replace EmitTelemetryEvent with proper telemetry activities"
## Details about Problem

TelemetryActivity.EmitTelemetryEvent posts singular event without start and stop. We should see if any or all of instances of calls can be replaced with proper TelemetryActivity, so that it is logged with Start/Stop code markers.

NuGet version (x.x.x.xxx): Any.

dotnet.exe --version (if appropriate): Any

VS version (if appropriate): Any

OS version (i.e. win10 v1607 (14

[2020-05-19 22:29] nkolev92 opened #9582 "Fix failing pack command tests"
The pack command tests that read the assembly metadata are failing due to https://github.com/NuGet/NuGet.Client/commit/3f31e0fcad36d28dbdd94d3d44dd8bcd3b0bb980.
When the original PR was written those tests did not exist so that's why the check was green.

[2020-05-19 22:38] heng-liu opened #9583 "More warnings for existing code in xplat verification branch from CodeAnalysis.FxCopAnalyzer"
Found more warnings: (should be all the rest warnings in xplat feature branch)
[code]

[2020-05-19 22:49] zivkan commented on #8478
What I wanted to implement, if I had time to work on this myself, was to get rid of JObject completely out of the codepath. Use `JsonReader` to be read the stream without buffering the whole thing in memory, and implement a custom converter for the search response that simply stops reading once the expected number of responses are read.

Last year I started writing little benchmarks to compare New

[2020-05-19 22:52] loic-sharma commented on #8058
Yes, we page a package's registration once it has over 128 versions. We create a page for each chunk of 64 versions.

[2020-05-19 23:07] rrelyea opened #9584 "net5.0 tfm - initial support"
Properly support TFM for .NET 5.0.
Spec: https://github.com/dotnet/designs/blob/master/accepted/2020/net5/net5.md

Next phase of this is to do https://github.com/NuGet/Home/issues/9240

[2020-05-19 23:11] rrelyea commented on #9584
This commit: https://github.com/NuGet/NuGet.Client/pull/3265 shipped in 5.6.0 and VS 16.6

[2020-05-19 23:11] #9584 closed, assigned to rrelyea

[2020-05-19 23:31] nkolev92 commented on #8478
I agree. :)

[2020-05-20 00:11] zivkan commented on #8941
My analysis of this issue:

* This package is build tools, so wants only to contain `build/` files, and does not list the project's dependencies as package dependencies (by using `SuppressDependenciesWhenPacking`)
* NU5127 warns that the package is considered compatible with all TFMs unless there are `lib/` or `ref/` files, so the package correctly adds ` lib/<tfm>/_._` file.
* Now that the projec

[2020-05-20 01:03] nkolev92 commented on #6397
Thank you all for this issue.

We appreciate the feedback, however at this point we do not see ourselves changing the one operation, one solution behavior.
We're prioritizing problems that are impact a wider set of customers.
As such I'm gonna close this issue as by design.

[2020-05-20 01:03] #6397 closed, assigned to nobody

[2020-05-20 01:06] nkolev92 commented on #4120
Fixed in https://github.com/NuGet/NuGet.Client/commit/ca008ff53cd941d31cba2052c1fcf4c31770b294#diff-5bb386c4605ebbdd93f9449128236078.

We use XDocument equals instead

[2020-05-20 01:06] #4120 closed, assigned to nobody

[2020-05-20 01:08] nkolev92 commented on #6488
We've caught many of these, but at this point this is not a low return of investment issue.

[2020-05-20 01:10] nkolev92 commented on #4221
The code path has been deleted.

[2020-05-20 01:10] #4221 closed, assigned to nobody

[2020-05-20 01:11] nkolev92 commented on #6067
@srdjanjovcic has been working on this.

Closing this old issue in favor of https://github.com/NuGet/Client.Engineering/issues/302

[2020-05-20 01:11] #6067 closed, assigned to nobody

[2020-05-20 01:19] nkolev92 commented on #8903
Closing this in favor of https://github.com/NuGet/Home/issues/8675.

Treat them as related issues instead of an epic.

[2020-05-20 01:19] #8903 closed, assigned to kartheekp-ms

[2020-05-20 01:28] nkolev92 commented on #9002
This one should be an easy win.

[2020-05-20 01:31] nkolev92 commented on #6170
While this would be a nice win, currently it is not high on the priority list.

[2020-05-20 01:33] nkolev92 commented on #7669
Thank you all for this feedback.

At this point i think the ask here is equivalent to https://github.com/NuGet/Home/issues/6010, so closing it as a duplicate.

[2020-05-20 01:33] #7669 closed, assigned to nobody

[2020-05-20 01:44] nkolev92 commented on #9579
Try upgrading the NuGet dependency to NuGet.Packaging 5.+ instead (so remove NuGet.Client, and use NuGet.Packaging instead, that's where the types moved).

This would mean the resolver won't even have to think about NuGet.Packaging.Core.

[2020-05-20 01:48] nkolev92 commented on #8941
You are correct, there's no way to do that: https://github.com/NuGet/Home/issues/8133.

At this point I'd suggest to rename this issue to call NU5128 and maybe mark it as blocked by 8133?

Thoughts @zivkan?

[2020-05-20 02:31] #9582 closed, assigned to nkolev92

[2020-05-20 05:51] archanasoni commented on #9575
Hi,

This issue is bit urgent for us. Customer is waiting to get resolution..
Can someone suggest whats the problem here.. ?

[2020-05-20 06:47] heng-liu commented on #9583
Closed as fixed.

[2020-05-20 06:47] #9583 closed, assigned to heng-liu

[2020-05-20 11:07] grimreaper38uk commented on #8878
The question was: how does one configure package paths.
The implied question was: where is the documentation?

The solution of:
    It's not a bug.  Closed.
is absolutely ridiculous.
Thanks for getting back to it after 5 months though.  What a joke.

[2020-05-20 13:57] zivkan commented on #9575
I don't remember why it works the way it does, but there are 3 folders in the `nupkg` that NuGet checks for props and targets files: https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package#from-a-convention-based-working-directory

Unfortunately it doesn't appear to be documented, or at least it's not clear enough, but files under `build/` are only used by projects that reference

[2020-05-20 14:05] derekgreer opened #9585 "dotnet push and handling multiple files"
Okay, this may be a combination of issues, but here's the issue(s) I'm seeing.

I'm working with pushing nuget packages to Azure DevOps using dotnet version 3.1.201.  I have a package.json for building locally and use Cygwin's bash as my shell.  My project produces 3 nuget packages along with the 3 associated symbol packages.

Here is the command I'm running:

[code]

Upon attempting to push for a

[2020-05-20 17:02] rrelyea commented on #9393
Marking as duplicate..since their was no fix, but several related issues spun out of this.

[2020-05-20 17:05] cleemullins commented on #9579
@nkolev92 I don't quite understand your comment.

The [.csproj file in question is here](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.AI.LUIS/Microsoft.Bot.Builder.AI.Luis.csproj). Here are the package references that project pulls in:
The project is a netstandard2.0 defined project
[code]
and pulls in the following references:
[code]
Given this list,

[2020-05-20 17:26] mirkomuggli opened #9586 "PMUI tab title shows full project path in Codespaces"
## Details about Problem

In Codespaces, PMUI tab title shows whole project path instead of just the project name.

## Detailed repro steps so we can see the same problem

1. Run PMUI in Codespaces using dev-feature-OE.PMUI branch

2. Open the PMUI tab from a project context menu

3. See the tab title

## Actual
Tab title shows: "Nuget: [full project path]"

## Expected
Tab title shows: "Nuget: [p

[2020-05-20 17:28] joelmartinez commented on #9579
@cleemullins looks like it was in Microsoft.Bot.Builder.Dialogs.Declarative, and it also looks like perhaps this issue has already been fixed in this commit?
https://github.com/microsoft/botbuilder-dotnet/commit/30162d8af079e04cbb5506cd03c54f384c76b372

[2020-05-20 17:55] cleemullins commented on #9579
@joelmartinez  Thanks. We'll pull that change into our next patch release.

[2020-05-20 18:34] viv86 opened #9587 "nuget push into multisources"
Hi,

have a lot of private registries where pushing one by one, I want to push to several sources by one time. Help. Tried with & and with background process nuget start saing that package is taken by another process

[2020-05-20 19:39] satrapu commented on #7792
These are the steps I have taken on a Linux distro, elementary OS 5.1.4 Hera, in order to successfully push a NuGet package to a feed hosted by Azure Artifacts:

- Enable Azure Artifacts for my project hosted by Azure DevOps
- Create an Azure Artifacts feed
- Create a personal access token, as documented [here](https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/use-personal-acces

[2020-05-20 21:06] rrelyea commented on #7694
looks like this was merged in 5.6

[2020-05-20 21:06] #7694 closed, assigned to nugetlurker

[2020-05-21 09:40] archanasoni commented on #9575
Thanks @zivkan .. it helped..
One more question- Our dll sits in Application bin path, Is there a way to know the package installation path from dll or assembly ?

[2020-05-21 10:02] v-luzh opened #9588 "[Test Failure] ‘An error occur while attempting to open NuGet’ appeared after reopening the solution in the Experimental instance"
## Details about Problem
NuGet version: NuGet Client Dev\5.6.0.6489
VS Version: D16.6\29924.181
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Open Experimental VS Int Preview.
2. Create a SDK project [e.g. Console App (.NET Core 3.1)].
3. Open the solution/project PM UI.
4. Close VS with the PM UI left open.
5. Reopen Experimental VS and the same Solution.
## Expected
‘An error occur wh

[2020-05-21 14:54] dansiegel opened #9589 "NuGet Authentication issues"
## Details about Problem

I'm currently working on a private feed for my NuGet Sponsors. The feed is based on BaGet but adds some custom Authentication Handlers to support basic auth using their GitHub login and a generated token from the portal.

Since it appears that the NuGet Client will always attempt an unauthenticated call first, unsuccessful calls get two response headers added:

- `Www-Aut

[2020-05-21 15:02] donnie-msft commented on #9588
This Issue was for my request to re-verify this bug against that I had already fixed: https://github.com/NuGet/Home/issues/9239

I encountered a similar PMUI error on Experimental Instance (only) - Version 16.7.0 Preview 2.0 [30118.8.master], but @v-luzh was unable to repro on that version.

I will leave this open for now in case I or others find another repro...

[2020-05-21 16:10] #9586 closed, assigned to mirkomuggli

[2020-05-21 16:23] zivkan opened #9590 "NuGet restore should log redirects"
To aid HTTP request error debugging, particularly for teams implementing the NuGet servers, it would be helpful to log the URL that generated the error, when the original request results in an HTTP redirect.

Currently:

[code]

Proposed:
[code]

Notes:

This longer log line should not happen unless the final response URL is different to the original requested URL. This means that HTTP responses w

[2020-05-21 16:59] kartheekp-ms commented on #9523
Working with `dotnet/runtime` team regarding this issue https://github.com/dotnet/runtime/issues/36786

[2020-05-21 17:26] erdembayar commented on #8478
I looked through all approaches here and tried to put them in same project see how is fare against each other. Please note: It's reading from 2 local json files (First one is 141 MB large blob, 2nd one is 184k small one) so reading from network overhead is not included here.

![image](https://user-images.githubusercontent.com/8766776/82574046-69e1c180-9b3b-11ea-982e-d8b6fc8106d3.png)

Definitely w

[2020-05-21 17:49] erdembayar commented on #8478
I created pull request today. https://github.com/NuGet/NuGet.Client/pull/3406
Please do review when you have time. @zivkan  @nkolev92

[2020-05-21 17:59] nkolev92 opened #9591 "OutputConsoleLogger should not call affinitized methods in MEF constructors"
We should avoid affinitized methods in MEF https://github.com/NuGet/NuGet.Client/blob/85211a7bbf93939d713f52522d897fece2bec9d9/src/NuGet.Clients/NuGet.VisualStudio.Common/OutputConsoleLogger.cs#L61-L71

See: https://github.com/NuGet/NuGet.Client/pull/2540

The problem here is that we attach listeners in the initialization.

From: https://github.com/NuGet/Home/issues/9663

OutputConsoleLogger is ac

[2020-05-21 18:13] nkolev92 commented on #8478
Thanks @erdembayar.
Excited you've made some great progress.

[2020-05-21 19:20] linvi opened #9592 "Nuget FrameworkReference not mactching schema"
## Details about Problem

NuGet product used: NuGet.exe:

NuGet version `5.5.0.6382` and `5.5.1.6542`:

dotnet.exe --version (if appropriate): 3.1.201

VS version (if appropriate): -

OS version (i.e. win10 v1607 (14393.321)): MacOS 10.15.4

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Add a `FrameworkReference` to a nuspec as per the

[2020-05-21 19:46] rrelyea commented on #9575
@archanasoni  - if using packagereference, during restore, nuget creates obj\project.assets.json which but just points to copies of dll and .props/.targets in the global package folder (under %userprofile%\.nuget\packages by default)

During build, reference dlls are passed to the compiler based on entries that are listed in the assets file.

DUring build, reference dlls get copied into the bin\$(

[2020-05-21 19:52] rrelyea commented on #9579
seems solved. thanks all. closing.

[2020-05-21 19:52] #9579 closed, assigned to nobody

[2020-05-21 20:09] srdjanjovcic opened #9593 "Log IntervalTrackers as ETW events"

[2020-05-21 20:12] srdjanjovcic opened #9594 "Allow logging ETW events without logging VS telemetry events."

[2020-05-21 21:24] erdembayar commented on #8352
@zivkan can you share me your solution with 138 projects if possible? I don't know how to recreate this issue on my local. I used VS2017 with many different projects for 2 years never had that issue, so hard to reason what is wrong there.

[2020-05-21 21:28] nkolev92 opened #9595 "Leak: PartCreationPolicy(CreationPolicy.NonShared) NuGet.SolutionRestoreManager.RestoreOperationLogger"
I loaded/unloaded a solution 777 times and  see almost 777 instances of “NuGet.SolutionRestoreManager.RestoreOperationLogger”

See:
[1008657](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1008657)

[2020-05-21 21:31] rrelyea commented on #9585
running `dotnet nuget push -h`:
`dotnet nuget push --no-symbols`   -- If a symbols package exists, it will not be pushed to a symbols server.

does that help you?

[2020-05-21 21:49] rrelyea commented on #9589
outside of visual studio, we use v2 credential providers in nuget.
azure artifacts have one: https://github.com/Microsoft/artifacts-credprovider

that works...in msbuild, dotnet.exe or nuget.ext

cc @nkolev92 @loic-sharma

[2020-05-21 22:50] derekgreer commented on #9585
That doesn't help as my intent _is_ to push the symbols.  I just don't want to push the symbols and see error messages that the symbols package is already there.

Starting from an empty state of an Azure DevOps Artifacts feed setup as a NuGet source (i.e. no previously published packages), pushing a MyLib.1.0.0.nupkg and a MyLib.1.0.0.symbols.nupkg using the following command will result in it pus

[2020-05-21 22:51] sharprs83 commented on #2978
I woulda said 6373 is a dupe of this. I'd not encountered this issue before but it's a ridiculous restriction. If the package manager UI is set to only look at nuget.org, then it shouldn't even be checking for anything at all on other sources.

[2020-05-21 22:52] sharprs83 commented on #6373
This needs fixed. To have to go to Tools > Options to disable a source temporarily while not connected to my work VPN just to use a public package that can't depend on a private package is adversarial UX design.

[2020-05-21 23:12] nkolev92 commented on #8616
Related to https://github.com/NuGet/Home/issues/9577

[2020-05-22 00:33] nkolev92 commented on #8352
Think we'll do this in S172 (or maybe reevaluate in S171 if we decide so.)

[2020-05-22 01:31] zivkan commented on #9575
I also don't understand the new questions. As Rob said, runtime it shouldn't matter. Files should be copied to the build output directory, and if it's an application that gets deployed to a server, or installed on a customer's machine, there isn't going to be a NuGet global packages folder to look for.

If this is about finding the package directory from the MSBuild file, you can use [reserved MSB

[2020-05-22 03:45] zivkan commented on #8786
I can't guess how this project was being packed, so I can't give advice on how to solve the problem.

My first feeling is that this project was packed with our MSBuild task (so either `dotnet pack` or `msbuild -t:pack`), in which case my gut reaction is that the `*.dll` files were MSBuild `Content` items with `pack="true"`metadata. However, if that were the case I would also expect the files to be

[2020-05-22 06:00] loic-sharma commented on #9589
Are there resources to better understand NuGet client's HTTP authentication mechanism?

[2020-05-22 08:44] ChristophHornung opened #9596 "Changing the version for dotnet pack does not change the dependency version"
When defining a version for a package inside a custom target the package version and the reference version inside the package generated through `dontet pack` are mismatched.

I change the version and packVersion within a Target running before GenerateNuSpec (in Directory.Build.targets) like this:

[code]

This is picked up during `pack` and correctly set as the version for the nupkg filename and i

[2020-05-22 13:27] archanasoni commented on #9575
Thanks @zivkan and @rrelyea for your quick response and support..
Here is problem back ground:
We have .Net Core Library say LibA (it's driver like sqllite), this LibA is dependent on some C library(this we can take as C Driver for some database).
Since it's C we have dependency on Platforms.
So far we were keeping c Libraries in build folder of Nuget Package.. But Problem with this we found is if

[2020-05-22 15:46] dansiegel commented on #9589
Thanks @rrelyea. I've updated my deployment stage based on what I see there. It seems there is an Authenticate task for [Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-devops)...

I'm not really sure what the reference to the NuGet.config is all about since the NuGet.config is never directly referenced. In testing this out, I se

[2020-05-22 15:49] tdykstra opened #9597 "dotnet nuget add source doesnt' exist..."
From @Tyler-IN , issue moved from https://github.com/dotnet/docs/issues/18476

[code]

Have .NET Core SDKs for 2.0 up to 3.1.2 installed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a08a1fa5-6267-3122-a377-5ba5b8503a07
* Version Independent ID: 1d2f0343-bda9-7e7a-34a9-f097635ff155
* Content: [dotnet nuget add source

[2020-05-22 16:26] kennethkryger commented on #8189
Using the solution from @wouterroos work for me. Using Visual Studio 2019 v16.6.0 and the NuGet packages is hosted Azure Artifacts (not that I think the location of the NuGet package matters...)

[2020-05-22 16:42] rrelyea commented on #9597
Shipped in [nuget 5.5](https://docs.microsoft.com/nuget/release-notes/nuget-5.5) which corresponds to dotnet.exe 3.1.200

@tyler-IN Please run ‘dotnet --version’ in the same directory you were running this command.

Sometimes global.json file is used to lock back to an older dotnet sdk, which will impact which commands are available.

[2020-05-22 18:46] nkolev92 commented on #9589
@loic-sharma

We have user docs if that's what you are asking.

User docs: https://docs.microsoft.com/en-us/nuget/consume-packages/consuming-packages-authenticated-feeds

A question from technical perspective https://github.com/NuGet/Home/issues/7841

[2020-05-22 18:58] rlordcardano commented on #8189
Just upgraded to Visual Studio v16.6.0 - the only difference I see is that PackagePath is set to "content\"... but looking into the nupkg files the icon is set to the right location and the image is included in the nupkg. So I don't think that can be the cause.

[2020-05-22 19:28] zivkan commented on #9575
This question is now more about how the .NET SDK works, rather than NuGet, which is outside of my knowledge. From NuGet's point of view, we select assets and write them into the project.assets.json, g.props and g.targets files. The SDK chooses where and when to copy those assets, and generate the .deps.json file that the runtime uses to know what to load when your program is executing.

@dsplaiste

[2020-05-22 19:53] kartheekp-ms opened #9598 "Error NU3001 has 7 scenarios causing maintainability issues"
[NU3001](https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu3001) error code has 7 scenarios where few of them are dependent upon [`Exception.HResult Property`](https://docs.microsoft.com/en-us/dotnet/api/system.exception.hresult) causing maintainability issues.

For e.g. https://github.com/NuGet/NuGet.Client/blob/eb9ad919724e5ef435d6321b775868c9f2c0f9a2/src/NuGet.Core/NuGet.Co

[2020-05-22 20:06] dsplaisted commented on #9575
It sounds like if you use the `buildTransitive` folder for your .targets then the C libraries will be included.  So it seems like you don't have to worry about them not being included.

If you are targeting .NET Core, then I would recommend putting the native assets in the `runtime\<RID>\native` folder of the NuGet package instead of using a custom .targets file that includes those assets.  Using

[2020-05-22 23:20] hugener opened #9599 "Question: Controlling how a package's assets get consumed"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version: 5.5.1.6542

dotnet.exe --version: 3.1.202

VS version: 16.5.5

OS version: win10 v1909

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

I'm trying to author a package to contains somethin in both tools and libs. Accordi

[2020-05-23 18:40] fabriciomurta commented on #8713
The documentation pointed by @rrelyea [here](https://github.com/NuGet/Home/issues/8713#issuecomment-549463531) worked for me as it directed me to add `<SuppressDependenciesWhenPacking>true</SuppressDependenciesWhenPacking>` to the project file -- as it was just a [Template NuGet package](https://docs.microsoft.com/en-us/dotnet/core/tools/custom-templates), I didn't want any framework dependency wi

[2020-05-23 19:31] pcgeek86 commented on #6754
Just ran into this problem. Hacked around it by renaming the project directory.

[2020-05-23 21:05] joelverhagen opened #9600 "`dotnet list` command supports `--verbosity` option"
## Details about Problem

NuGet product used: dotnet.exe
dotnet.exe --version: 3.1.202
OS version: Windows 10, version 1909
Worked before? no

## Detailed repro steps so we can see the same problem

1. Create a new project, e.g. `dotnet new console`
1. Add a package, e.g. `dotnet add package NuGet.Packaging`
1. List deprecated packages, e.g. `dotnet list package --deprecated`

No HTTP `GET` and `O

[2020-05-24 09:09] NN--- commented on #4781
I added this but I don't see restoring of dotnet tools

[code]

[2020-05-24 09:39] megakid commented on #5740
Still interested in this as we distribute .NET Standard 2.0 packages that depend on legacy .NET 4.6.1 packages (e.g. `Apache.NMS.ActiveMq`) that are 100% API compatible with .NET Standard 2.0 (as reported by the .NET Portability Analyzer tool.

[2020-05-24 20:07] augustoproiete commented on #7601
Any chance of re-opening this issue? Having a `LICENSE` file at the root of the repository is a common standard on open-source projects.

We should be able to simply reference that file from our `.csproj` using a relative path:

[code]

`dotnet pack` fails when using the above:

[code]

[2020-05-24 23:57] johnpankowicz commented on #7648
@nkolev92 - I am referring to the global packages folder. I deleted the contents to test what happens when someone clones my Github solution and has none of my NuGet packages installed.
Each of the dependent tasks just do a "dotnet build" of a project that has multiple NuGet package references. "dotnet restore" is not being run explicitly. Many of the projects reference the same Nuget packages. I

[2020-05-25 00:20] Shazwazza commented on #6680
I have the same/similar issue. Running nuget.exe update with `-FileConflictAction Ignore` or `IgnoreAll` will delete any file that were including in the ~/Content folder of the nupkg package that has been changed. They will not be re-added, they are not ignored if they are changed, they are just removed. Setting the -FileConflictAction to Overwrite does overwrite them but then the user's changes a

[2020-05-25 05:08] sekadiv commented on #6763
I am still facing issues with package reference in .net framework the dependencies of the package are not loaded properly which is causing lot of issues .

[2020-05-25 09:04] sebandraos commented on #6763
@merravid PackageReference versions accept [Version Ranges](https://docs.microsoft.com/en-us/nuget/concepts/package-versioning#version-ranges). You can use this to lock to a single version by putting square brackets (`[ ]`) around your version and NuGet will never suggest an update for that package. e.g.
`<PackageReference Include="RestSharp" Version="[105.2.3]" />`
As you may already know, the Ta

[2020-05-25 11:57] daghb commented on #9561
First of all, a big thanks to @wli3 for both finding and suggesting a workaround for this one. I have had the same problem for months not knowing the cause and have been relying on building using our cloud ci tool to be able to pack nugets using dotnet core tools.

I can confirm that the issue is there also for Norwegian regional settings and that the workaround functions. I guess this is a proble

[2020-05-25 18:14] #9549 closed, assigned to cristinamanum

[2020-05-25 18:19] cristinamanum commented on #8913
The perf testing remaining is related with https://github.com/NuGet/Home/issues/8912 closing this issue.

[2020-05-25 18:19] #8913 closed, assigned to cristinamanum

[2020-05-25 18:27] cristinamanum opened #9601 "[CPVM] Migrate experience"
Repos and solutions that need to be opted in CPVM need to have tooling to enable the migration the projects.

[2020-05-25 18:29] cristinamanum opened #9602 "[CPVM] Enable Migration in Visual Studio"
CPVM migration in Visual Studio

[2020-05-25 18:31] cristinamanum opened #9603 "[CPVM] Enable Migration command line"
Support CPVM migration in command line.

[2020-05-25 22:06] silkfire opened #9604 "How to check framework compatibility?"
I'm using the `NuGet.Protocol` APIs to fetch metadata about packages. I wonder if there is a way to check whether a package, or more specifically, a framework is compatible with a specific target framework.

If my designated TFM is `netcoreapp3.1` and I compare it to `netstandard2.1`, I want this to return `true`.

I'm fiddling with the `NuGetFramework` type but it doesn't seem to have such a meth

[2020-05-26 01:32] kartheekp-ms commented on #7699
Duplicate of #7842

[2020-05-26 03:03] heng-liu commented on #9505
Closed as fixed.

[2020-05-26 03:03] #9505 closed, assigned to heng-liu

[2020-05-26 03:20] jemiller0 commented on #6763
The bottom line is Microsoft doesn't care about .NET Framework. They are doing their best to kill it off. They said they were going to add package reference support for ASP.NET Web Forms projects (in Visual Studio, like they did for the other types of projects). It's years later and they never did it.

[2020-05-26 04:16] bahman616 commented on #3245
+1 this one. It took me a while to find this issue and figure out this error is because I needed to change "Password" key under packageSourceCredentials  to "cleartextpassword"!

[2020-05-26 08:35] archanasoni commented on #9575
Thanks @dsplaisted  and @zivkan  for your support..
Our Library is targeted to NETStandard 2.1.
In that case would it be good to go for runtime ? We are aware that FW is not supported by .NET Standard 2.1 but not sure other than .NET Core what other Frameworks support runtime\<RID>\native...

[2020-05-26 10:36] MagicAndre1981 commented on #6763
this doesn't work, I've added it

[code]

 but VS still shows updates

![VS2019_updates](https://user-images.githubusercontent.com/8274816/82890568-b0c12400-9f4c-11ea-9313-1fcb22aa9b6e.png)

but in `project.assets.json` it shows it correct >= 2.2.0 and smaller 3.0:

[code]
The Android app with packages.config doesn't show it:

`  <package id="Microsoft.Extensions.Logging.EventSource" version="2.2.

[2020-05-26 10:57] sebandraos commented on #6763
@MagicAndre1981 The code you have shown there will automatically resolve a version between 2.2.0 and 3.0.0. If you want to lock the version to 2.2.0 your code should be:
[code]
As I mentioned in my original response, this works to lock a _single_ version, otherwise you're asking it to resolve a version within that range which, I agree, is not the same mechanism as `allowedVersions` which hides upd

[2020-05-26 14:14] derekgreer commented on #9585
It appears I had my glob pattern incorrect.  To ignore including the symbols files, I believe I should have been using 'dist/**/*!(.symbols).nupkg', but this is apparently extended behavior which may not be supported.  That was just something I was trying though.  What I should be able to do is to push all *.nupkg files to an Azure DevOps Artifacts feed (libs and symbols) and have all the files pu

[2020-05-26 14:28] anangaur commented on #6764
We do want to think in the direction where you should be able to define sources in this `directory.packages.props` file. However, as of now, our focus is towards finishing this feature first before venturing on some of the next pieces.

[2020-05-26 15:01] heng-liu opened #9605 "Add net5.0 TFM for NuGet.Build.Tasks.Console and NuGet.Packaging.Core"
The code map changed a little bit after we adding netstandard2.1(now net5.0) to NuGet.Packaging related projects.
We need to  add net5.0 TFM for NuGet.Build.Tasks.Console and NuGet.Packaging.Core

[2020-05-26 15:35] tpitman opened #9606 "macOS Nuget restore with space in folder name Invalid Path error"
## Details about Problem
Nuget can't restore .NET core projects when a related project has a space in the name on macOS

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS UI, Package Manager Console

NuGet version (x.x.x.xxx):
5.6.0.6489

VS version (if appropriate):
2019 Mac 8.6 build 4520

OS version (i.e. win10 v1607 (14393.321)):
macOS Catalina 10.15.4

Worked b

[2020-05-26 16:18] cristinamanum commented on #9510
Both SDK and non-sdk  projects will support the updates through the Service Updater.

[2020-05-26 16:18] #9510 closed, assigned to zivkan

[2020-05-26 16:32] #9523 closed, assigned to kartheekp-ms

[2020-05-26 16:59] pirluq opened #9607 "Fix typos dependecy => dependency"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version : 5.6.0

dotnet.exe --version (if appropriate): 3.1.300

VS version (if appropriate): 2019 (16.6.0)

OS version (i.e. win10 v1607 (14393.321)): win10 v1607 (14393.321)

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same probl

[2020-05-26 17:05] nkolev92 commented on #5657
Actually this was fixed in https://github.com/NuGet/NuGet.Client/pull/1882/files#diff-ed2ac7b55aeda9197754d5bd59bea524R288.

There's no action here any more.

The take is synchronous, but there's a check before that.

[2020-05-26 17:05] #5657 closed, assigned to dominoFire

[2020-05-26 17:17] #9264 closed, assigned to sbanni

[2020-05-26 17:19] nkolev92 commented on #9264
@sbanni did you mean to close this?
It's not linked to a PR.

[2020-05-26 17:21] #9429 closed, assigned to donnie-msft

[2020-05-26 17:24] sbanni opened #9608 "Package Manager sources use remote types from server"
The UI in the options dialog is pulling data from the server and allows the user to add/edit sources server side but this data is not used outside of the options dialog yet.

We need to add data types that are remote friendly and use those in places where we get the sources.

related code/experiences to validate:

PM UI has a sources drop down that needs to use this.
Make sure search is correctly

[2020-05-26 17:26] mirkomuggli opened #9609 "Design proper session Permanence/Idempotency"
## Overview
There's currently a lot of uncertainty around multiple clients attaching to the same session.
* Is it possible?
* If so, what if someone does a restore while someone else is adding/removing packages?
* What if multiple restores are started?

We need to investigate what's supported and how other teams have handled these issues - I'll work with Rob to flesh out this issue.

PMUI for Code

[2020-05-26 17:30] sbanni opened #9610 "Package Manager UI to display installed and updatable Packages in VSOe"
Create remote friendly layer for packages installed in the PM UI.

[2020-05-26 17:37] nkolev92 commented on #6764
Just expanding on @anangaur's point.

Directory.Packages.Props is still MSBuild, so configuration wise everything that works today, will work with centrally managed package versions.
You just will not be able to manage it through the UI. That's covered https://github.com/NuGet/Home/issues/5321.

[2020-05-26 17:39] rrelyea commented on #9599
So, during build, you need those DLLs sent as references to the compiler, but at runtime there will be no dll dependency?
Can you give us more details on this scenario?

[2020-05-26 17:42] nkolev92 commented on #9264
Split into https://github.com/NuGet/Home/issues/9610 & https://github.com/NuGet/Home/issues/9608

[2020-05-26 17:43] nkolev92 commented on #9264
Marking as duplicate so that the release note tool does not detect it.

[2020-05-26 18:22] tebeco commented on #6764
thx for the link, it confirms our current use of `<RestoreSource>` :)
I'll open an issue on `dotnet/sdk` for `dotnet tool` to check why/if it can properly load `Directory.Build.props`

[2020-05-26 19:04] erdembayar commented on #8478
@zivkan @nkolev92 I addressed code review comments. Can you review again?

[2020-05-26 19:15] nkolev92 commented on #9604
Use the default compatibility provider for that: https://github.com/NuGet/NuGet.Client/blob/6fd451a5099c6f3d0b17035915d6171a744c4c6b/src/NuGet.Core/NuGet.Frameworks/DefaultCompatibilityProvider.cs

That has an IsCompatible method: https://github.com/NuGet/NuGet.Client/blob/6fd451a5099c6f3d0b17035915d6171a744c4c6b/src/NuGet.Core/NuGet.Frameworks/def/IFrameworkCompatibilityProvider.cs#L20

[2020-05-26 19:17] rrelyea commented on #9110
PM UI showing works in feature branch. Many work items need to be done to enable the different tabs and operations work remotely.

[2020-05-26 19:17] #9110 closed, assigned to rrelyea

[2020-05-26 19:27] srdjanjovcic commented on #9593
@nkolev92 -- Can you review this one?

[2020-05-26 19:46] clairernovotny commented on #9431
Just checking in on this?

[2020-05-26 20:46] arnotes commented on #5163
doesnt work when using global Nuget.config

[2020-05-26 22:22] arnotes commented on #7603
I am also having this problem. this was working ok prior to my 3.1sdk upgrade

[2020-05-26 23:07] silkfire commented on #9604
Thank you so much, this was exactly what I was looking for.

[2020-05-26 23:07] #9604 closed, assigned to nobody

[2020-05-26 23:20] nkolev92 opened #9611 "Sharing NuGet.Client libraries with Visual Studio components"
### NuGet.Client today

The NuGet tooling is multi-faceted.
The NuGet functionality lives in many 1st party products such as:
* nuget.exe
* dotnet.exe
* VS

While is the NuGet.Client primarily tooling we do have a bunch of library packages that represent things like frameworks, versioning and concepts and models related to PackageReference restore and package reading/installation. , https://github

[2020-05-26 23:29] nkolev92 commented on #9600
See: https://github.com/NuGet/NuGet.Client/pull/3411#issuecomment-634299777

Personally I think we should do a `--verbosity` switch, change the default to minimal to match the other dotnet commands.

[2020-05-27 00:50] nkolev92 commented on #4781
@NN---
There's a typo there.

It should be `CollectPackageReferences`. I updated the issue body with the correct spelling.

[2020-05-27 07:45] MagicAndre1981 commented on #6763
But that is the main point, this part is missing and I want to have the same control like with packages.config.

This is why the I would like to have something like this:

[code]

I use 16.4 servicing baseline of VS2019 which only supports up to .net core 3.1 and when .net 5 is released and don't want that updates shown for that branch as the VS is incompatible.

[2020-05-27 09:52] v-luzh commented on #8923
Hi @nkolev92, this issue still repro on VS Master\30126.103 + NuGet Client Dev\5.7.0.6623.

[2020-05-27 09:52] TheCarpathianCoder commented on #6459
The problem is still present in 5.5.1
@zkat is there any good reason why this scenario will not be supported?
For me it comes in very handy to put it in System32

[2020-05-27 13:30] jemiller0 commented on #6763
I'm going to need the same thing for restricting the version of EF Core that I'm using, since Microsoft is now requiring .NET Standard 2.1 for it. Only 3.1.x will work with .NET Framework. Once .NET 5 comes out, it will be DLL hell.

[2020-05-27 16:13] #9593 closed, assigned to srdjanjovcic

[2020-05-27 16:19] erdembayar commented on #9595
Here is screenshot from diagnostic tool before fix after 5 times open/close same project:
![image](https://user-images.githubusercontent.com/8766776/83045866-0ce28180-9ffb-11ea-942c-a6163c46dc5c.png)

After 1 more open/close it increased to 6:
![image](https://user-images.githubusercontent.com/8766776/83045902-1835ad00-9ffb-11ea-9542-b26e872554f3.png)

But after fix more many times open/close it r

[2020-05-27 16:20] erdembayar commented on #9595
Please review my change https://github.com/NuGet/NuGet.Client/pull/3418

[2020-05-27 16:46] egeyer commented on #9493
I am having this same problem.  I spent a good chunk of yesterday afternoon trying to get my nuget package to push to GPR.  I followed all the instructions and set the parameters for the setup-dotnet action task as seen in all the documentation.  I finally got one successful push this morning, but the only thing I changed between success and the previous failure was adding a step to list the direc

[2020-05-27 17:53] nkolev92 commented on #7648
@johnpankowicz
I'm not familiar with the details of how VS Code builds, but whenever you call `dotnet build` restore is run automatically and will detect packages missing from the global packages folder if necessary.

If you can repro any dotnet build or dotnet restore not getting the correct packages, we'd be happy to take a look at that (best done in a separate issue).

[2020-05-27 19:12] luckerby opened #9612 "Cannot Step Into NuGet Source Code"
I'm going over some simple C# .NET Core code that deals with package dependencies, using the NuGet SDK itself (code [here](https://github.com/NuGet/Home/issues/6188)). So I've created a sample project in VS 2019 and used that code.

I'd like to do a step-into with Visual Studio, to see exactly what NuGet methods are called, so need to make sure the symbols I'm using match whatever version the libr

[2020-05-27 21:01] nkolev92 commented on #8923
Thanks @v-luzh

@jjmanton are you seeing something different from what @v-luzh's repro does?
I think the lack of a report is the obvious bug. I am just trying to understand if there's any other bugs that we might be missing.

[2020-05-27 21:11] nkolev92 opened #9613 "`RepositoryMetadata.Equals()` does not account for Branch and Commit properties"
Related: https://github.com/dotnet/wpf/issues/3050#event-3379286042

https://github.com/NuGet/NuGet.Client/commit/0e4d1b598f350b3dc675018d539114d1328189ef

cc @clairernovotny

[2020-05-27 22:17] nkolev92 commented on #9140
Dup of https://github.com/NuGet/Home/issues/8420

[2020-05-27 22:17] #9140 closed, assigned to nobody

[2020-05-27 22:18] nkolev92 commented on #9432
Closing this per the above answer.

https://github.com/NuGet/Home/issues/8420 is tracking an improvement on config discovery and https://github.com/NuGet/Home/issues/7973 is tracking config management.

[2020-05-27 22:18] #9432 closed, assigned to nobody

[2020-05-27 22:19] nkolev92 commented on #7870
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-05-27 22:19] #7870 closed, assigned to nobody

[2020-05-28 00:01] zivkan commented on #9612
I'm not 100% sure, but I think we have a bug in our build & release pipelines that prevent symbols being published for the packages that we publish on nuget.org.

Background: We build every commit twice, once with the package version you see on nuget.org, once with a SemVer2 preview label, because we don't know in advance which commit is going to end up in VS. The few times I've had to debug a VS

[2020-05-28 00:09] drewnoakes opened #9614 "Show version range on package reference nodes in dependencies tree"
From https://github.com/NuGet/NuGet.Client/pull/3392/files/a462d871eebed985c3a3fe7fd145d75f7d30267e#r431223599

It may be useful to show the requested version range on the caption of dependencies tree items that represent package references.

The NuGet side of this would apply only to transitive package references. The .NET Project System would control the equivalent information for top-level pack

[2020-05-28 00:09] drewnoakes opened #9615 "Filter a package's "contentFiles" items by language in dependencies tree"
From https://github.com/NuGet/NuGet.Client/pull/3392/files/a462d871eebed985c3a3fe7fd145d75f7d30267e#r430954182

The dependencies tree shows a packages content files as a flat list. It currently shows files across all languages. It would be more correct to filter this list to show only those that match the project's language.

https://github.com/dotnet/NuGet.BuildTasks/blob/5244c490a425353ac1244556

[2020-05-28 00:10] drewnoakes opened #9616 "Show more information for a dependency's browse object in the dependencies tree"
From https://github.com/NuGet/NuGet.Client/pull/3392/files/a462d871eebed985c3a3fe7fd145d75f7d30267e#r430953620

We could show more information in the browse object of transitive dependencies. For example, Include/Exclude values.

Someone with a deeper understanding of the domain should review this and see what's missing.

The NuGet side of this would apply only to transitive references. The .NET P

[2020-05-28 00:11] drewnoakes opened #9617 "Show properties of Compile Time Assembly items in their browse object"
From https://github.com/NuGet/NuGet.Client/pull/3392/files/a462d871eebed985c3a3fe7fd145d75f7d30267e#r431513621

The browse object for a package's compile time assemblies currently only shows the path. The lock file defines a set of properties which could be included.

[2020-05-28 00:12] drewnoakes opened #9618 "Show framework references of packages and projects"
https://github.com/NuGet/NuGet.Client/pull/3392/files/a462d871eebed985c3a3fe7fd145d75f7d30267e#r430954927

@nkolev92 wrote:

[2020-05-28 00:28] drewnoakes opened #9619 "Replace BrowseObjectBase with LocalizableProperties once updated shell package available"
From https://github.com/NuGet/NuGet.Client/pull/3392#discussion_r431179016

Once the new package is available, this class can be removed.

[2020-05-28 00:28] drewnoakes commented on #9619
This work should also be done on Roslyn and the .NET Project System.

[2020-05-28 01:33] nkolev92 commented on #9394
PR out https://github.com/NuGet/NuGet.Client/pull/3421

[2020-05-28 02:24] drewnoakes opened #9620 "Convert Microsoft.VisualStudio.ProjectSystem.Managed from PackageDownload to PackageReference"
From https://github.com/NuGet/NuGet.Client/pull/3392/files#r428498657

`Microsoft.VisualStudio.ProjectSystem` uses `PackageDownload` to reference `Microsoft.VisualStudio.ProjectSystem.Interop` directly with `EmbedInteropTypes` set to `true`.

https://github.com/NuGet/NuGet.Client/blob/34ceb7d3d5a70ba4b1ecf196e5902dcc9ffed05d/test/NuGet.Clients.Tests/NuGet.PackageManagement.VisualStudio.Test/NuGet.

[2020-05-28 06:02] leonardder commented on #9393
Could you please share the related issues? I'm a NVDA developer as well as a daily Visual Studio user, so happy to collaborate. In fact, I already started to look into the sluggishness, see https://github.com/nvaccess/nvda/pull/11214

[2020-05-28 13:58] jjmanton commented on #8923
@nkolev92 I think 16.6 partially fixed the issue. Here is what I observed -
<img width="921" alt="Screen Shot 2020-05-28 at 9 33 50 AM" src="https://user-images.githubusercontent.com/1005494/83150618-7b8e1080-a0c9-11ea-99d3-bdb52a0d63b7.png">
<img width="910" alt="Screen Shot 2020-05-28 at 8 30 54 AM" src="https://user-images.githubusercontent.com/1005494/83150620-7c26a700-a0c9-11ea-858c-0799b379c

[2020-05-28 16:45] nkolev92 commented on #8923
Yep, that's the main issue we've observed here :)

No change with install.ps1 and missing tfm folder warnigns.
The warnings should've been displayed and no compatibility changes have been made.

[2020-05-28 18:53] nkolev92 commented on #5154
Another affected component is the solution explorer dropdown menu.

See: https://github.com/NuGet/NuGet.Client/pull/3392#discussion_r430934193

[2020-05-28 19:10] nkolev92 commented on #9616
Are we talking ExcludeAssets, IncludeAssets metadata?

[2020-05-28 19:15] nkolev92 commented on #9617
Stuff like extern alias for PackageRefs, https://github.com/NuGet/Home/issues/4989!

[2020-05-28 19:20] nkolev92 commented on #9614
I don't think the assets file keeps track of that. I think it only keeps track of the resolved ones.
Someone should investigate to confirm this though.

[2020-05-28 20:03] heng-liu commented on #9605
Closed as fixed.

[2020-05-28 20:03] #9605 closed, assigned to heng-liu

[2020-05-28 20:17] bgilbert6 commented on #8580
No matter what I try I only ever get this reply:
`
warn : No API Key was provided and no API Key could be found for 'https://nuget.pkg.github.com/ORG'. To save an API Key for a source use the 'setApiKey' command.
info : Pushing pkg.0.0.5.nupkg to 'https://nuget.pkg.github.com/ORG'...
info :   PUT https://nuget.pkg.github.com/ORG/
info :   NotFound https://nuget.pkg.github.com/ORG/ 519ms
error: Res

[2020-05-28 20:31] #9340 closed, assigned to cristinamanum

[2020-05-28 23:09] MikhailArkhipov commented on #9392
Having same issue. I am deploying very small assembly which all is does is launching NATIVE process and then talks to it. Packaging does include native bits and dependencies, but restoring/building app that uses the package does not restore folder with native process bits.

IMO, there are many targets like `lib`, etc, but what about *plain copy*. I can't place anything in `lib`, native bits must b

[2020-05-29 01:18] nkolev92 commented on #9431
I'll get to this by preview 3.

[2020-05-29 01:46] drewnoakes commented on #9614
The version ranges appear to only exist for top-level dependencies in the assets file:

[code]

Given this repo doesn't populate those nodes, I think this issue can be closed.

[2020-05-29 01:56] drewnoakes opened #9621 "Dependencies tree unit tests"
From https://github.com/NuGet/NuGet.Client/pull/3392

Tracking adding more tests to the code in NuGet.Client for populating transitive dependencies in Solution Explorer.

[2020-05-29 01:59] drewnoakes opened #9622 "Dependencies tree Apex tests"
From https://github.com/NuGet/NuGet.Client/pull/3392

Investigate incorporating Dependencies tree Apex tests for Solution Explorer.

The .NET Project System has some tests that may help here.

https://github.com/dotnet/project-system/blob/e3944ffa90462ea031e4754303ff554fe8f794f9/tests/Microsoft.VisualStudio.ProjectSystem.IntegrationTests/DependencyNodeIntegrationTests.cs

[2020-05-29 03:19] #9580 closed, assigned to donnie-msft

[2020-05-29 03:25] efunkenbusch opened #9623 "NU1004 when restoring a solution that has mixed Legacy and netstandard2 projects from cmd line with LockedMode"
## Details about Problem

NuGet product used: nuget.client

NuGet version Several, but exists in prod 5.4, 5.5, 5.5.1 and 5.6 as well as 5.7 preview 1

VS version: 2019 16.7 Preview 1

OS version: Windows 10 19635.1

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Create a new dotnet core library (default is fine)
2. Add anew .net 4.7.

[2020-05-29 03:29] efunkenbusch commented on #9623
Note, the output is from 5.4.0 but it's the same in 5.6.0 and 5.7.0 preview 1

[2020-05-29 04:06] efunkenbusch opened #9624 "Suggestion: Add nuget.commandline packages to Winget repo"
Since Winget is new and all that gooey goodness, you should add the Nuget.client packages so they can be easily installed.

[2020-05-29 07:05] ghost opened #9625 "Exception when adding package with CopyToOutput"
## Details about Problem
Im using VisualStudio 2019 (16.5.4) on Windows 7 to create a nuget package. I'm adding a content file. The ItemGroup in the csproj (.NetStandard 2.1) looks like this:

[code]
The Nuget package is created successfully. The exported nuspec looks like this:

[code]

When adding this project to an empty .Net Core 3.1 console application, an exception is thrown. See below.

Add

[2020-05-29 10:48] drewnoakes commented on #9580
@donnie-msft I don't know what a shepherd does exactly (at least when no sheep are involved), but thank you for doing it 😆

[2020-05-29 17:23] mirkomuggli opened #9626 "PMUI Tab can't be closed"
## Exception in OnClose handler of PMUI ToolWindow when using Codespaces

There's a NullRef exception in the OnClose handler of the PMUI ToolWindow. This is happening because, for reasons I don't understand, the Window is disposed immediately.
The NullRef in OnClose is caused by the Context being null when we try to Save the document state.

[2020-05-29 18:00] hirschmann opened #9627 "Is it possible to copy contentFiles to executable project's output only?"
Let's assume I have the following project structure:

[code]

The NuGet package contains some assets which are required by Library B at runtime.
The nuspec file for the package looks like this:

[code]

This setup actually works. The assets will be copied to the executable project's output path on build.

### the problem

The assets will not only be copied to the ExecutableProject's output path, b

[2020-05-29 21:20] heng-liu opened #9628 "Check code relies on HResult value"
We have the following code relies on HResult.
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/Signing/Authoring/X509SignatureProvider.cs#L141

As per https://github.com/dotnet/runtime/issues/36786#issuecomment-632193883,  the HResult values of most of dotnet/runtime exceptions is not guaranteed by them.

We need to check if it's guaranteed, or else we may have to chan

[2020-05-29 21:21] heng-liu commented on #9555
Closed as fixed.

[2020-05-29 21:21] #9555 closed, assigned to heng-liu

[2020-05-30 03:08] heng-liu commented on #8570
https://github.com/dotnet/sdk/issues/3629 is closed as fixed. So close this one.

[2020-05-30 03:08] #8570 closed, assigned to heng-liu

[2020-05-30 04:43] StingyJack commented on #7131
@rrelyea  - I suggest trying a format that wont stylistically blend into the users writing style so neatly.

I had to scratch my head for a bit trying to figure out what Verdon was saying and then realized he hadn't actually said it.  Thank you for taking the high road not defacing then outright destroying the post as one of your colleagues has done to me for something I wouldnt even have consider

[2020-05-30 22:19] aw129 opened #9629 "packages.lock.json generated with inconsistent line endings"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet

NuGet version (x.x.x.xxx): 5.5.0.4

dotnet.exe --version (if appropriate): 3.1.202

VS version (if appropriate): N/A

OS version (i.e. win10 v1607 (14393.321)): win10, mac OS

Worked before? If so, with which NuGet version: N/A

## Detailed repro steps so we can see the same problem

1.

[2020-06-01 01:28] heng-liu commented on #9205
Verified following packages on NuGet.org:
 all(152) packages with unique author-signed certificate
 all(21) packages with unique timestamp certificate
 top20 repository-signed packages (Since all of the repository-signed packages shared the same certificate, I think it's ok to test with 20 of them).

Found 1 package **CaesarCRM.Api** could not pass the verification in netcore code path, but passed

[2020-06-01 01:36] jkotas opened #9631 "Source distribution of native libraries via NuGet"
It is not unusual for NuGet packages to contain native libraries. Today, the NuGet package author is responsible for providing native libraries for all platforms that the NuGet package can run on. If the consumer of the library wishes to use the library on a platform that is not on this list, there is no simple standard way for how to recompile the native library for the new platform. Most users j

[2020-06-01 05:10] zivkan opened #9632 "Track public API changes better"
The Roslyn team have a public API analyzer. See: https://github.com/dotnet/roslyn-analyzers/blob/master/src/PublicApiAnalyzers/PublicApiAnalyzers.Help.md

For NuGet projects that are packed, we should track public API changes, to minimise breaking existing APIs, and be more intentional about adding new APIs.

In short, the way it works is the analyzer expects two files. `PublicAPI.Shipped.txt` and

[2020-06-01 09:01] RehanSaeed commented on #3584
The glob syntax doesn't seem to be documented anywhere. Would be nice to add this to the TODO list. In particular I'd love to know how to negate a match e.g. `*!(preview)*.nupkg` (find all .nupkg files without `preview` in the file name).

[2020-06-01 09:02] RehanSaeed commented on #9390
The glob syntax doesn't seem to be documented anywhere. In particular I'd love to know how to negate a match e.g. `*!(preview)*.nupkg` (find all .nupkg files without `preview` in the file name).

[2020-06-01 09:03] RehanSaeed commented on #9585
@derekgreer I've been trying and failing to get `nuget push "dist/*!(preview)*.nupkg" ...` working. How did you manage it?

[2020-06-01 14:30] anangaur commented on #6060
`dotnet tool search` command already works now with .NET 5. Obviously it applies a filter to search results. So can't we use that code to remove filter and support `dotnet packager search`? Its odd that too search is available but not regular NuGet package search :)

![image](https://user-images.githubusercontent.com/14800916/83419346-c9f92300-a3d9-11ea-9ddb-35921070324d.png)

[2020-06-01 17:26] nkolev92 commented on #5894
The right issue to track is https://github.com/dotnet/wpf/issues/810.

[2020-06-01 17:41] #9252 closed, assigned to zivkan

[2020-06-01 17:51] #8478 closed, assigned to erdembayar

[2020-06-01 18:27] #9614 closed, assigned to nobody

[2020-06-01 18:27] erdembayar opened #9633 "Thousands of NuGet.Versioning.NuGetVersion items are created"
I noticed this item is multiplying by thousands during memory leak investigation for another [item](https://github.com/NuGet/Home/issues/9595).
Looks like it's under our Nuget.Client domain.
![image.png](https://images.zenhubusercontent.com/5eb1d84a3cd56675c3efe510/dbb96fdb-3673-4e14-b9ec-41c32db0e882)
I think we need to investigate it. For now assigned to myself, most likely I'll work during this

[2020-06-01 18:32] erdembayar opened #9634 "Refactor code: Continuation of 3406 bug"
I got code review right after I merged my [PR](https://github.com/NuGet/NuGet.Client/pull/3406).
This PR is for just moving methods and renaming them.

[2020-06-01 18:35] campersau commented on #9086
I think this is because of this:

https://github.com/NuGet/NuGet.Client/blob/e9c22b1c5783edefcd9c5175dc76f99206fa14c8/src/NuGet.Core/NuGet.Protocol/Resources/PackageSearchResourceV3.cs#L37-L53

As a workaround we are using the `RawSearchResourceV3` directly in https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/pull/340

[2020-06-01 18:46] AaronRobinsonMSFT commented on #9631
This seems like an opportunity for NuGet to work with https://github.com/microsoft/vcpkg and provide unified solution. I could imagine NuGet having an internal reference to or fully embedded vcpkg. I think it would be unfortunate if NuGet needed to reinvent native build support.

/cc @ras0219-msft

[2020-06-01 20:14] rrelyea commented on #9631
Source files can be distributed for packages via .symbols.nupkg files (gen1 of nuget symbols format). Or via sourcelink in the .pdb inside a .snupkg (gen2 of nuget symbols format).

That said, agree with @AaronRobinsonMSFT that we should have the conversation including the vcpkg team. Perhaps @anangaur knows the best people to loop in for that.

[2020-06-01 20:59] jmecosta opened #9635 "restore hangs if you define a source to network folder that doesnt exist"
Steps to reproduce:

1. wipe your local cache
2. define a Nuget.Config in root of solution with a source to a network share \\machine\nonexistenfolder
3. run dotnet restore, nuget restore, visual studio

expected: nuget should warn that the feed is not avaible
current: visual studio hanges, nuget hangets, donet hangs

annoying :(

[2020-06-01 22:29] mirkomuggli opened #9636 "Pass ProjectGuid when creating PMUI ToolWindow"
## Info

In PackageManagerUIHandler.cs, we currently pass null as the project guid when creating the tool window for CodeSapces.
Ideally this should be the ProjectGuid for persistence info to work properly.

[2020-06-01 22:40] bording commented on #9431
FYI I started rolling out the workaround mentioned in the original post, and on some of my builds, it's failing with a `SourceRoot paths are required to end with a slash or backslash` error.

The odd thing for me is only some of my builds seem to be failing in this way, when in theory they should all be having the same problem. I'm still trying to track down why that's happening.

It seems like th

[2020-06-01 23:50] nkolev92 commented on #9431
@bording

Guess that's covered by: https://github.com/NuGet/Home/issues/7968

So we're saying that we need https://github.com/NuGet/Home/issues/7968 to be in the same release as this isuse in order to cover the scenario, correct?

[2020-06-01 23:57] bording commented on #9431
If you're wanting to be more generally thorough, it does seem like that is needed. To solve the specific problem I ran into, using `EnsureTrailingSlash` seems to be enough.

[2020-06-02 00:06] derekgreer commented on #9585
@RehanSaeed I wasn't saying that works, I was just saying that would have been the correct glob pattern if ```dotnet.exe``` fully handled extended glob behavior (which I don't think it does).

[2020-06-02 07:56] Luqswe commented on #5163
same here, please reopen.

.NET Core SDK :
Version: 3.1.202
Commit: 6ea70c8dca

Runtime Environment:
OS Name: Windows
OS Version: 10.0.17763
OS Platform: Windows
RID: win10-x64
Base Path: C:\Program Files\dotnet\sdk\3.1.202\

dotnet add package output:
error: Response status code does not indicate success: 401 (Unauthorized).

my NuGet.Config (also tried with encrypted password):

<?xml version="1

[2020-06-02 12:08] anangaur commented on #8087
@skofman1 This should be the epic issue that should link any intermediate issues tracking the feature. Can you help me in linking the in-progress and planed items here from https://github.com/NuGet/nugetgallery/ or anywhere else?

[2020-06-02 15:19] skofman1 commented on #8087
@anangaur , converted this to an epic and linked the Gallery epic to it.

[2020-06-02 15:25] ricktiger opened #9637 "Unable to find project 'C:\Users\XXX\Documents\Visual Studio 2017\Projects\HI7.FHIR\1.6.0 for R4 (released 20200304)\fhir-net-api-1.6.0-r4\common\src\Hl7.FhirPath\Hl7.FhirPath.csproj'"
I downloaded fhir-net-api-1.6.0-r4.zip from Git and tried to build the solution in VS 2019 and I get lots of the same error...
**Unable to find project 'C:\Users\XXX\Documents\Visual Studio 2017\Projects\HI7.FHIR\1.6.0 for R4 (released 20200304)\fhir-net-api-1.6.0-r4\common\src\Hl7.FhirPath\Hl7.FhirPath.csproj'**

Can someone please advise?  Thank you!

[2020-06-02 16:34] idlem1nd commented on #6764
Is there anything we can do to assist with this? We have a hand-rolled targets file that achieves a similar thing, but would prefer to stay with a vanilla usage of NuGet if we can. Is there any ETA for landing the work done so far?

[2020-06-02 17:00] #9637 closed, assigned to nobody

[2020-06-02 18:10] kant2002 commented on #6764
@idlem1nd depends on your usage. You can use currently proposed design inside VS 16.6
All you need it to create `Directory.Packages.props` and add property `<ManagePackageVersionsCentrally>true</ManagePackageVersionsCentrally>`. I add that to `Directory.Build.props` but maybe you can do that on per-project basic to migrate step-by-step.

[2020-06-02 19:19] bording commented on #9431
I was able to track down the reason I was seeing some failures on some of my builds. The failing builds had the `NUGET_PACKAGES` env var set to override the default location, and the value did not have a trailing slash.

[2020-06-03 01:57] #9559 closed, assigned to donnie-msft

[2020-06-03 02:27] donnie-msft opened #9639 "Replace our converters with Microsoft.VisualStudio.PlatformUI.BooleanToCustomVisibilityConverter"
My recent PR introduced a way to make the BooleanToVisibility converter have a `Hidden` state when the visibility is false (the default behavior is `Collapsed`).

After a PR review, it was suggested my naming of this property `HiddenWhenFalse` was confusing when considering the `Inverted` property. The suggestion was to name it `NonVisualState` [code](https://github.com/NuGet/NuGet.Client/blob/dev

[2020-06-03 07:27] Adebeer opened #9640 "Azure DevOps msbuild pipeline only works with Nuget 4.7 restore, not 5.x"
Upgraded nuget packages in Service fabric solution containing mix of .net core 3.1 and .net 4.7.2 projects.
On Azure DevOps MS Build for sln fails with misleading `Error NETSDK1004: Assets file 'D:\a\1\s\Src\myproj\obj\project.assets.json' not found` when using Nuget 5.x, however works fine with Nuget 4.7.
My other Service fabric solutions consisting of pure .net standard/core projects work fine o

[2020-06-03 09:55] v-luzh opened #9641 "[Bug Bash][Test Failure] Error “Collection was modified; enumeration operation may not execute.” occurred when first updating package in PMC for the solution included multiple projects"
## Details about Problem
NuGet version: NuGet Client Dev\5.7.0.6632
VS Version: Master\30202.132
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1.	Create a solution with multiple projects included (e.g. C# Console Application(.NET Framework 4.7.2)).
2.	Install a package (not the latest version) with PackageReference format into every project.
3.	Open PMC and execute command “Update-package

[2020-06-03 09:56] v-luzh commented on #9559
Fixed on NuGet Dev\5.7.0.6632. Thanks.

[2020-06-03 11:07] DhanvannthVP opened #9642 "error CS0234: The type or namespace name 'Practices' does not exist in the namespace 'Microsoft' (are you missing an assembly reference?)"
i am new to nuget. i am downloading the packages from packages.config.

using IBM.Data.DB2; could see  in .csfile.

Mentioned in packages.config to pull it from artifactory
  <package id="IBM.Data.DB2" version="10.0.5.5" targetFramework="net451" />

 error CS0234: The type or namespace name 'Practices' does not exist in the namespace 'Microsoft' (are you missing an assembly reference?)
It s downlo

[2020-06-03 12:50] L4ZZA commented on #6731
yes please and make it a priority. Big applications that use C#, C++ and C++/CLI are not nicely handled and you have to use separate package managers to do things properly.. don't even think to do those with CMake because PakageReference in c++ are _still not a thing_ (https://developercommunity.visualstudio.com/idea/351636/use-packagereference-in-vcxproj.html) and CMake doesn't even handle packag

[2020-06-03 13:38] pfeigl opened #9643 "ContentFiles from Link'ed Files not in correct folder"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
msbuild / VS

NuGet version (x.x.x.xxx): 5.6.0.5

dotnet.exe --version (if appropriate): 3.1.300

VS version (if appropriate): 16.6.1

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version: no

## Detailed repro steps so we can see the same problem

When add

[2020-06-03 15:48] rrelyea commented on #6731
Have you looked at [vcpkg](https://github.com/microsoft/vcpkg)? Does that help your need?

If not, is there something that vcpkg could do to better support this scenario?

@ras0219-msft

[2020-06-03 16:37] rrelyea commented on #9640
Does service fabric support conversion of their projects to sdk style projects? Or to projects with PackageReference?
Can you please give us repro steps on how we could create it...ideally, start with file/new project -- or with a repro in a repo?

[2020-06-03 16:53] rrelyea commented on #9244
Driving design here: https://github.com/NuGet/Home/pull/9638, in conjunction with Thursday meeting with VS Identity team, Azure Artifacts and NuGet.

**Workaround:**
Restore NuGet packages using browser auth
Run this script in a terminal on your Codespace
Run dotnet restore --interactive.
Do not use NuGet.exe with private feeds, NuGet.exe might show a dialog prompt on the server side and you will

[2020-06-03 19:26] nkolev92 commented on #8791
The NuGet.Build.Tasks.Console side change has been ported to 3.1.400.

[2020-06-03 19:27] nkolev92 opened #9644 "Make restore faster - speed up evaluations by calling MSBuild Static Graph apis (dotnet.exe)"
Dup of https://github.com/NuGet/Home/issues/8791, for release notes purposes.

While the msbuild side was added earlier, the dotnet.exe side was added in 3.1.400, 5.7.

Creating this issue with the right metadata and release.

[2020-06-03 19:28] #9644 closed, assigned to nkolev92

[2020-06-03 20:56] jnm2 commented on #4184
This seems to work as a workaround when you want the NuGet package to contain only the ref files and you still want the actual lib files for non-NuGet distribution:

[code]

The only thing I'm not totally sure of is why it causes this warning:

I think I can safely ignore it because it seems to work and https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu5131 does not explain wh

[2020-06-03 22:15] AraHaan commented on #4184
Hmm after thinking there must be a way to somehow have multiple project ouputs combined in a single package each specifying the dirs that should go on in that package when generated.

Maybe this is why .net core uses separate projects for the reference assemblies.

[2020-06-03 22:22] sbkrishnan2506 commented on #6855
Resolved the issue  by adding Personal access token

[2020-06-03 22:34] clairernovotny commented on #4184
Not to be a broken record, but while it's not in the in-box SDK, the MSBuild.Sdk.Extras already supports all these permutations:

- Reference assembly with different TFM's than lib/implementation (not uncommon)
- Building per-RID and packaging in runtimes (a common reason for a ref assm)

Many projects use this today.

[2020-06-03 23:22] Adebeer commented on #9640
@rrelyea
Thanks Rob.
As far as I can tell, the sfproj file only supports packages.config approach, however all other microservices part of this solution can use either approach as per general .net

When creating a new Azure DevOps pipeline using classic editor (not using yaml) and you apply the the Azure Service Fabric Application template, it defaults to Nuget 4.4.1 - so I suggest reaching out to

[2020-06-03 23:52] AraHaan commented on #4184
While the ``MSBuild.Sdk.Extras`` is good and all what if I need to use it in a project that targets ``Microsoft.DotNet.Sdk.WindowsDesktop`` too or even the ``Web`` one on their library I/we package?

Also Why not have it in the in-box SDK for these cases or have the ``Microsoft.Sdk.Extras`` actually have a property for ``IsWeb``, ``IsDesktop`` that would then replace the normal sdk it then imports

[2020-06-04 00:10] clairernovotny commented on #4184
I can't speak for the .Web SDK, but Extras imports the WIndowsDesktop SDK automatically and respects the `UseWPF` `UseWindowsForms` properties.

As to why not in box, I'm assuming it's about priorities. Fewer people need this kind of feature, so there's less importance to include it when there are other higher-priority items to do.

[2020-06-04 01:39] erdembayar opened #9645 "Missing file global.json entry in NuGet.sln file"
global.json file shown on attached image doesn't exist on `src\NuGet.Core\global.json` path.
Maybe be better to remove this entry from solution file.
![image.png](https://images.zenhubusercontent.com/5eb1d84a3cd56675c3efe510/497cfa30-99f7-4451-aee7-611a2573d480)

[2020-06-04 08:57] oDn opened #9646 "nuget pack doesn't ignore .git folder"
## Details about Problem

NuGet product used : NuGet.exe

NuGet version : 5.5.1

OS version : Windows Server 2016 (14393.3686) and Windows 10 1709 (16299.904)

## Detailed repro steps so we can see the same problem

1. Clone a git repository containing files directly at the root

2. Use `nuget pack`

3. Notice that the _.git_ directory is included in the produced package

## Other details

The out

[2020-06-04 12:40] tidyui opened #9647 "When nupkg exists on push --skip-duplicate, don't automatically push snupkg"
When uploading packages with `--skip-duplicate` duplicate `nupkg` packages are skipped, but symbol packages are uploaded again.

You can take a look at this script from GitHub Actions which causes this behavior.

https://github.com/PiranhaCMS/piranha.core/blob/master/.github/workflows/publish_to_nuget.yml

Best regards

[2020-06-04 15:06] idlem1nd commented on #6764
@kant2002 thanks but I think that forces _all_ packages to be managed centrally, correct?

[2020-06-04 15:29] nkolev92 commented on #6764
@idlem1nd

That's the current design of the feature.

You either manage all or none.

Refer to the spec linked in the issue body. There are additional specs linked in that spec.

[2020-06-04 15:31] tebeco commented on #6764
if you want to use it right now and only partially you can use something like this:
https://github.com/dotnet-experimentations/CentrallyManagingNuGetPackageVersions
in the `WithMsBuild` folder

[2020-06-04 15:32] Sumoren opened #9648 "Package with runtime native dll in "win" folder not copied to output"
I have a package with the structure
[code]
When I consume this nuget from a c# .NetFramework project that target `AnyCPU` it copy the natives dlls to the output as expected. But if the c# project target `x64` then they are not copied.

From my understanding of the documentation here: https://docs.microsoft.com/en-us/dotnet/core/rid-catalog#rid-graph

So it should fallback to `win` RID since it doe

[2020-06-04 15:43] #9495 closed, assigned to kartheekp-ms

[2020-06-04 15:43] #9287 closed, assigned to kartheekp-ms

[2020-06-04 16:24] nkolev92 commented on #9106
@JohanLarsson

Are you asking for special analyzers support? That's captured i the following ask: https://github.com/NuGet/Home/issues/6793.

However, if I am interpreting the issue correctly you are asking about dependencies in general, and that's already available through the pack targets.

Refer to docs here: https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#pack-target

[2020-06-04 16:24] #9106 closed, assigned to nobody

[2020-06-04 16:25] nkolev92 commented on #8399
Analyzers ask captured in https://github.com/NuGet/Home/issues/6793

[2020-06-04 18:08] donnie-msft commented on #8148
I believe dotnet.exe 3.1.3xx contains this change https://github.com/dotnet/cli/pull/13324/files

[2020-06-04 18:09] donnie-msft commented on #9647
Which version of dotnet are you using?
I recently worked in this area https://github.com/NuGet/Home/issues/8148

[2020-06-04 18:42] tidyui commented on #9647
Hi there! I’m using dotnet nuget push on .net core 3.1.300 on Linux.

[2020-06-04 18:43] nkolev92 commented on #9647
Isn't this `by design` from a NuGet.org perspective? https://github.com/NuGet/NuGetGallery/issues/7681

The works as designed, it's the server that's defined a contract for snupkgs different from nupkgs.

[2020-06-04 18:49] tidyui commented on #9647
It's not very functional from a build-script point of view.

1. When the build script is triggered all projects/packages are built through the pipeline
2. When everything is done packages are pushed to `NuGet.org` with the request to skip the ones that hasn't changed (i.e version number already exists).

However since symbol packages are accepted all packages go into this state when logged into `N

[2020-06-04 19:09] donnie-msft commented on #9647
The documented behavior of `--skip-duplicate` doesn't indicate that it skips packages that haven't changed:
`When pushing multiple packages to an HTTP(S) server, treats any 409 Conflict response as a warning so that the push can continue. Available since .NET Core 3.1 SDK.`
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-push#options

If you disagree with the nuget.org implementati

[2020-06-04 19:10] nkolev92 commented on #9647
I buy that, I just want the conversation to reach the right audience (which is why I mentioned the issue on NuGetGallery side. There were good reasons for this behavior.).

On a different note, different builds, from different sources, should not create the same version of a package. So ensure you are not doing something like that.

Deterministic builds are enabled by default on newer versions of

[2020-06-04 19:18] tidyui commented on #9647
@donnie-msft I'm trying to understand what I've misunderstood here 😀 I was certain the `--skip-duplicate` was intended to just skip uploading of duplicate packages, are you telling me it's the other way around?

@nkolev92 Yes we use deterministic builds, but they point to a certain commit (if I'm not mistaken). Since we have **1** repository, containing projects that will eventually result in **22

[2020-06-04 19:20] donnie-msft commented on #9647
No, this option is about ignoring responses from a server.

Here's the test I wrote which illustrates the nupkg/snupkg behavior being discussed.
https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Clients.FuncTests/NuGet.CommandLine.FuncTest/Commands/PushCommandTest.cs#L615

[2020-06-04 19:25] tidyui commented on #9647
@donnie-msft Just by looking at your comment in the code:

I can see that I can most likely get the behavior I expect just by removing the `--skip-duplicate`.

As a user I must say the naming of the switch is rather confusing, it would've been clearer if it would've been called `--skip-duplicate-warnings` or something like that 😀

I'll make sure I update my action workflow and hopefully it will wo

[2020-06-04 19:47] #9536 closed, assigned to kartheekp-ms

[2020-06-04 21:23] donnie-msft commented on #9166
@nkolev92 are you intending to label these as VS Client? I think VS.Oe should also be tagged

[2020-06-04 22:04] nkolev92 commented on #9166
The issue pre-dated the OE label.
I wasn't actively managing this issue anymore :)

[2020-06-04 22:06] nkolev92 commented on #9565
As part of this change, change the name of ReportStatus to SaveRestoreStatus.

[2020-06-04 22:53] nkolev92 commented on #9431
The CI says SourceRoot needs to have a trailing slash.
So looks like it's a hard requirement.
We need to prioritize #7968 too.

Unless someone adds a SourceRoot Update EnsureTrailingSlash :)

[2020-06-05 09:18] L4ZZA commented on #6731
Supporting two different system (Nuget and Vcpkg) comes with maintenance cost and we'd rather avoid that as we're already short-staffed. Since NuGet is the go to for C# projects and our product is made of C#, CLI, and C++ we see more reasonable to use only one package manager for all. @rrelyea

[2020-06-05 15:11] rrelyea opened #9649 "determine requirements for uicontexts"
if you look for vsconstants.uicontext - you'll find we use 6-7 different uicontexts in our vsix code.

please determine which scenarios don't currently work for our uses in the N.VS.OE.C.dll scenarios.
and work with VS IDE team to ensure our needs are met.

[2020-06-05 16:38] brendanlong commented on #4103
I'm not sure if this is the right place for this, but on a system with grep, you can implement this with:

[code]

This uses `dotnet list package --outdated` to get a list of packages to update, some grep commands that I should be embarassed about writing to extract the package names, and then `dotnet add package` to do the actual update.

[2020-06-05 18:09] aortiz-msft commented on #9647
@tidyui That makes sense.

@donnie-msft , @nkolev92 - Would we be willing to accept a PR to change the flag? :)

[2020-06-05 19:45] zkat opened #9650 ".NET 5.0 Visual Studio APIs"
Because of the addition of a platform component to .NET tfms since 5.0 (https://github.com/NuGet/NuGet.Client/pull/3339), any APIs relying on `FrameworkName` have become mostly incompatible with net5.0.

In particular, the VsFrameworkCompatibility APIs rely on these objects. We need to come up with guidance for customers who can't use the extensibility framework APIs to work around this.

We also

[2020-06-05 20:22] nkolev92 commented on #9647
To `-skip-duplicate-warnings`?

The concept of duplicate is owned by the server rather than the client. It's the server that's supposed to ensure that duplicate aren't allowed and reply with with a documented protocol response to indicate that there's been a clash.
Certain 3rd party servers (not nuget.org) can be configured in way that they always accept duplicates.

Prior to the `--skip-duplicate

[2020-06-05 20:49] sbanni opened #9651 "Update Visual Studio dependency versions"
Need to update our Visual Studio dependencies:
VSFrameworkVersion
ServiceHub.Framework
Telemetry
Utilities

[2020-06-05 21:00] #9240 closed, assigned to zkat

[2020-06-05 21:03] vsfeedback opened #9652 "nuget.exe, install-package, install-module: newtonsoft being used by another process"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1064525/nugetexe-install-package-install-module-newtonsoft.html)._

---
[regression] [worked-in:16.6.0]
The process cannot access the file Newtonsoft.Json.dll because it is being used by another process.

* VS2019 16.6.1 - Manage Nuget Packages (Install button), Package Man

[2020-06-05 21:04] vsfeedback opened #9653 "Save the order of NuGet Package Feeds in VS Options Dialog"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1062565/save-the-order-of-nuget-packag-feeds.html)._

---
You can add multiple Nuget-Feed-Sources with VisualStudio which is then save to "%AppData%\NuGet\NuGet.Config".
In VisualStudio you can change the order of that sources but the order is not saved into the config. Aft

[2020-06-05 21:06] #9513 closed, assigned to nkolev92

[2020-06-05 21:32] nkolev92 commented on #9539
@doggy8088 We'd be happy to accept a contribution.

Please refer to our contributing guide at https://github.com/NuGet/NuGet.Client/blob/dev/CONTRIBUTING.md and specifically to our `New Feature Guide`.

[2020-06-05 23:25] donnie-msft commented on #9647
@anangaur can you comment on this? You and I worked on this feature's naming. I recall this being the result of a Twitter poll...

[2020-06-05 23:57] nkolev92 commented on #9653
We've been wanting to remove the arrow keys from the options dialog.
https://github.com/NuGet/Home/issues/8315

Starting with VS 2015, there's no such thing as a preference order of sources (project.json & PackageReference are pretty adamant about it). This is even more of a problem when you can account for the fact that NuGet configs are merged, so sources could be coming from different configs.

[2020-06-06 01:46] donnie-msft commented on #9653
8315 - not sure that we said we wanted to remove them. Why not make them change the order?
Lots of input for that here https://github.com/NuGet/Home/issues/3676
You can change the order in a config manually.

7973 - I would call this "a bulleted list of relatively broad UI config concepts". Do we have anything solidified, any mockups?

[2020-06-06 02:02] donnie-msft opened #9654 "VS UI Code-Quality Refactoring"
We have a lot of logic in our `*.xaml.cs` code behind.
This is generally a bad practice, and leads to difficulty in testing even simple things.

For example, to attempt to test whether the PMUI Search logic throws an `OperationCanceledException`, I had to start down the winding road, shown in: https://github.com/NuGet/NuGet.Client/commit/0c6a20b8aff7b31ba3ec20d35fd18bc21c6de716

I propose we begin

[2020-06-06 02:32] nkolev92 commented on #9653
I discussed with Karan about a year back. Regardless, he doesn't own it anymore so that's a moot point.

Lots of input for that here #3676

2 reasons

#### Arrows as priority order

I want to call attention to the specific response the NuGet team gave in the issue you linked https://github.com/NuGet/Home/issues/3676#issuecomment-254570021.
The customer interpreta priority that does not exist. The

[2020-06-06 04:20] tidyui commented on #9647
One final question as I'm not still 100% sure what the option does. If I'm uploading over 20 packages with:

[code]

By omitting `--skip-duplicates`, is the only difference that `.snupkg` are not uploaded if there is a 409 for the `.nupkg` or will the rest of package uploads be skipped if I get a 409 on the first upload?

Regards

[2020-06-06 05:31] tidyui commented on #9647
So I just tried and when run in a build script, omitting `--skip-duplicate` actually terminates the deploy first time it encounters a duplicate. So how on earth do I go about skipping duplicate packages **without** uploading new versions of the symbol packages?

/ Regards

[2020-06-06 13:16] ViktorHofer commented on #9632
@ericstj maybe also interesting for dotnet/runtime if we decide to collapse ref and src projects together.

[2020-06-06 14:00] ViktorHofer commented on #5154
In dotnet/runtime we overload the `TargetFramework` and `TargetFrameworks` properties in our libraries to allow multiplexing not just on the `TargetFramework` but on other properties like the runtime (OS part) or the architecture as well.

Example: https://github.com/dotnet/runtime/blob/6347980e2f5490f4c3a3effd2417912f8ce248bf/src/libraries/System.Runtime/src/System.Runtime.csproj#L5

NuGet should

[2020-06-07 01:09] JakeSays commented on #3891
All I need is to package the the dependency artifacts of a project where everything is in the same solution.

[2020-06-07 13:11] philipreimer commented on #6764
Hi. I have been pointed to this issue from here: https://github.com/dotnet/sdk/issues/11464

I tried following the discussion here but some things are still not clear to me:

Would what is proposed here be a solution to what I was asking for in the issue mentioned above?

And what is the status of this issue? It's been open for two years and based on some of the comments here there seems to be som

[2020-06-07 16:29] WillParry commented on #9475
I was having the same problem, I think, a fresh Azure VM getting the error for installing the NuGet package provider. Read the link below and tried running this:

[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12

And then you should be able to install the package provider. I hope this works for you as well.

https://dirteam.com/sander/2020/04/09/knowledgebase-you-rec

[2020-06-07 19:14] mwpowellhtx commented on #8713
I've just run afoul of this in at least one of my [xunit.fluently](https://github.com/mwpowellhtx/Xunit.Fluently/tree/master/src/xunit.fluently.theoretically) projects. Can someone advise, is there a workaround? It's been a little while for me, but if memory serves, I was forced to take additional measures in order to package these projects on account of dependencies on `xunit.core`, cannot recall

[2020-06-07 19:18] mwpowellhtx commented on #8713
After perusing the responses here, downgrading may be the only valid path forward, at least until the issue has been resolved, at least in the near term. 👎 👎 👎 Longer range, _PLEASE FIX!_ 👍 👍 👍

[2020-06-08 00:36] Hambo67 commented on #6187
Waiting for this exact functionality for some time. I am keen to see this added.

[2020-06-08 01:43] StingyJack commented on #6187
@heng-liu what does `pipeline:icebox` mean?

Hopefully it means it's so cool it's got to be next.

[2020-06-08 04:00] teroneko commented on #7001
When one file is hitting this issue, it's over. The file Microsoft.Extensions.Logging.Abstractions was affected, it does not belong to my dll's, so I hope for a fix as well. By the way, you can see those "last-written-to-01.01.1980"-file(s), when you publish to filesystem, so I could confirm it was in my case only Microsoft.Extensions.Logging.Abstractions. :)

[2020-06-08 06:55] MagicAndre1981 commented on #6566
Any update on this issue? @nkolev92 @anangaur

[We need to restrict](https://github.com/NuGet/Home/issues/6763#issuecomment-634489134) the offered nuget updates similar to _allowedVersions_ in `packages.config`.

[2020-06-08 06:57] Vishallogin2050 commented on #9475
Thanks Will , I was able to move ahead with the mentioned suggestion.

[2020-06-08 06:57] #9475 closed, assigned to nobody

[2020-06-08 10:27] maciej-izak commented on #7001
@teroneko In my case update to newer version of Microsoft.Extensions.* packages (from 3.1.0 to 3.1.4) fixed the problem, see :  https://github.com/dotnet/extensions/issues/2750

[2020-06-08 10:41] teroneko commented on #7001
@maciej-izak Thanks for the advice. I will check it out later.

[2020-06-08 15:31] petsuter opened #9655 "VS watches / writes packages.lock.json too aggressively"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 5.5.0

dotnet.exe --version (if appropriate):

VS version (if appropriate): 16.5.4

OS version (i.e. win10 v1607 (14393.321)): win10 1909 18363.836

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Stor

[2020-06-08 16:23] donnie-msft commented on #9647
@tidyui It sounds like you want `--no-symbols` option...

Any questions about this option, please open a new issue with repro steps, or point to the confusion in existing docs so we can improve those.

[2020-06-08 16:35] nkolev92 commented on #6187
@StingyJack

The link I am providing is a design (so the implementation differed a bit, but it has the right gist.
https://github.com/NuGet/Home/blob/dev/designs/ClientDevProcess.md#icebox

[2020-06-08 17:28] #9594 closed, assigned to srdjanjovcic

[2020-06-08 17:36] rrelyea commented on #9358
Blocked by many things, not just nuget. No longer high priority on the nuget side.

[2020-06-08 17:38] donnie-msft opened #9656 "Handle OperationCanceledExceptions in async methods used by Visual Studio UI"
A cancelled task is not handled well throughout NuGet Protocol. In some cases, a cancellation is never handled, and worse, is not propagated to callers.

[2020-06-08 17:38] rrelyea commented on #9244
After first meeting, it appears that there is much to be improved in every component involved in VS auth on server. VS Identity team debugged last week...and has a bug fix on their side and recommendations for the VS AACP (mef based) and nuget. We need to walk through that proposal and determine the plan.

[2020-06-08 17:47] tidyui commented on #9647
@donnie-msft No I don’t want to use —no-symbols, I want to:

1. Build 20+ packages with my deploy script
2. Push all packages but skip duplicate packages without breaking the upload.
3. Push the symbol packages for the packages that were pushed in step 2.

What I don’t want is to push new symbol packages for the ones that got a 409.

Regards

[2020-06-08 18:02] nguerrera commented on #5926
Here is a small proposal to push this forward:

For any given asset, if there are files next to it that differ only by extension AND those files are not themselves assets of another type, then add a `"related"` array underneath the asset listing the extensions of these files.

[code]

Then in the SDK, any place where we copy a nuget asset should respect [AllowedReferenceRelatedFileExtensions]( 'ht

[2020-06-08 18:04] stevenbrix commented on #9358
@rrelyea my understanding is that https://github.com/dotnet/project-system/issues/2491 will be done in VS16.8 and that should enable this as well as `PackageReference` in .vcxproj, is that true?

[2020-06-08 19:46] nkolev92 commented on #9647
@tidyui

That's not quite possible without some extra work.

Refer to the issue @donnie-msft linked: https://github.com/NuGet/NuGetGallery/issues/7681.
The design for snupkg pushing on nuget.org is different from the design for nupkg pushing.

The NuGetGallery issue would attract the right audience.

[2020-06-08 20:18] aortiz-msft commented on #5894
Closing per above.

[2020-06-08 20:18] #5894 closed, assigned to nobody

[2020-06-08 20:24] donnie-msft commented on #9647
Reopening this under the context that it's acceptable to break our existing behavior of automatically pushing snupkgs when `--skip-duplicate` encounters a duplicate nupkg.

[2020-06-08 20:27] aortiz-msft commented on #9019
Based on the information provided, restore succeeds when specifying 4.4.0 for the package hosted in MyGet, but fails when using 4.4.x. Also, restore succeeds when removing the MyGet source altogether. This might point to a problem with the MyGet source.

[2020-06-08 20:31] donnie-msft commented on #9647
In addition to this problem, if a symbol package is available, it is always pushed even if the SkipDuplicate option has been added. We have the following error on the nuget.org side because the package and symbols no longer match.

The uploaded symbols package contains one or more pdbs that are not portable.
Once you've fixed the issue with your symbols package, you can re-upload it.

If both pack

[2020-06-08 20:32] aortiz-msft commented on #9020
Seems like a dupe of https://github.com/NuGet/Home/issues/8571. Please try the solution discussed in that issue.

[2020-06-08 20:58] MaxHorstmann commented on #1851
Friendly +1. We're evaluating GitHub Actions / Packages for our build pipeline. A bit simplified, here's the workflow we have in mind:

[code]

So basically, the GitHub Packages NuGet source is injected at build time [using the GITHUB_TOKEN](https://help.github.com/en/actions/configuring-and-managing-workflows/authenticating-with-the-github_token). With the entire build running on a Linux image, w

[2020-06-08 21:24] #9634 closed, assigned to erdembayar

[2020-06-08 21:38] #9651 closed, assigned to sbanni

[2020-06-08 23:31] rrelyea opened #9659 "Auth in Visual Studio should not always be interactive"
When running in VS.Oe, NuGet should not ask credential providers to be interactive.

[2020-06-09 00:54] alanwest commented on #7466
This is definitely still a problem when using `dotnet add package`. Any word on getting this fixed?

[2020-06-09 01:45] nkolev92 commented on #9569
@dominoFire

Can you maybe prioritize this so we can get in 5.7?

I'd be happy to help with some context if needed. I don't expect this to be a big or hard change

[2020-06-09 04:50] varunmankal commented on #3676
Is there any work around to control the order of nuget package sources ?

[2020-06-09 07:00] samcragg commented on #3676
@rrelyea I see where you're coming from; ordinarily a package should be the same on each feed so, by that logic, the order is unimportant. However, here's a concrete example of what I'm trying to achieve to see why I think it's important that the package sources _should_ be searched in the order they are specified (or some other way of controlling the search order).

As part of my build I create a

[2020-06-09 08:19] #9321 closed, assigned to dominoFire

[2020-06-09 12:20] anangaur opened #9660 "Deprecation and vulnerability filters on Installed tab"
From: https://developercommunity.visualstudio.com/comments/1068668/view.html
![image](https://user-images.githubusercontent.com/14800916/84146657-a5f0ae00-aa79-11ea-8475-57039a1949b4.png)

[2020-06-09 12:20] anangaur commented on #9660
Assigned to @drewgillies as we will have similar issues for vulnerability feature

[2020-06-09 14:11] zivkan commented on #9019
`https://www.myget.org/F/windows-template-studio-nightly/vsix` isn't a NuGet feed. As far as I'm concerned, NuGet is working by design.

VSIX feeds should be added to the [extension manager](https://docs.microsoft.com/en-us/visualstudio/extensibility/private-galleries?view=vs-2019#add-a-private-gallery-to-extensions-and-updates-in-visual-studio) settings, not NuGet.

[2020-06-09 14:27] zivkan commented on #9575
The dotnet team have [docs mapping .NET Standard versions to runtime versions](https://docs.microsoft.com/en-us/dotnet/standard/net-standard#net-implementation-support), so you can see there what implements .NET Standard 2.1.

[2020-06-09 15:28] zivkan commented on #8941
I think the root cause for this issue is an exact duplicate of 8133, it's just the learning to get to this understanding, or the customer scenario that leads to the same feature request, isn't detailed in the other issue. I know it wouldn't be ideal to the author of this issue, but depending on how we want to track issues, I'd be fine with either closing this issue as a duplicate, or marking the o

[2020-06-09 15:45] johnruck opened #9661 "Unable to update with locked version on nuget 5.4/5.6 (works on 4.7.1)"
NuGet Versions (5.4 and newer) (only tested on 4.71, 5.4, 5.6)

Discovered this after Sqlite made a breaking change requiring us to lock down to a specific version of the System.data.sqlite nuget packages.

nuget restore works in finding the specific package version without issue

nuget update fails on 5.4 and 5.6 due to the old version no longer being internally listed

G:\git-base\OfficeTests\Nu

[2020-06-09 16:26] heng-liu commented on #9641
Tried to repro on 16.7.0 Preview 3.0 .

First `update-pacakge` failed.
[code]
Second `update-pacakge` succeeded.
[code]

[2020-06-09 16:26] omajid opened #9662 "Typo in error message. "administator" instead of "administrator""
## Details about Problem

NuGet product used (~~NuGet.exe | VS UI | Package Manager Console |~~ dotnet.exe):

dotnet.exe --version (if appropriate):

[code]

OS version (i.e. win10 v1607 (14393.321)):

[code]

## Detailed repro steps so we can see the same problem

1. There's a typo in an error message:

The message says "adminstator" instead of "administrator". You can see this error message on:

[2020-06-09 18:19] nkolev92 commented on #8941
My preference would be to close it. It provides a better visibility of the backlog and it also gives us an opportunity to upvoet #8133 and increase it's priority as we discover more scenarios.

[2020-06-09 20:11] kartheekp-ms commented on #9091
I have completed most of the work already for this issue. I will submit a PR shortly and happy to address the feedback as well.

[2020-06-09 21:19] rob3c commented on #3676
Order is also important when you’d like to mix private and public feeds and not leak private package requests to public servers. Of course, entities running public feeds don’t necessarily mind sucking up all of that private request data, and may not be motivated to restore deterministic feed order.

[2020-06-09 22:40] #9659 closed, assigned to rrelyea

[2020-06-10 01:09] srdjanjovcic opened #9663 "OutputConsoleLogger should not access main thread in constructor."
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): _VS UI/Package Manager Console_
NuGet version (x.x.x.xxx): _Latest_
dotnet.exe --version (if appropriate):
VS version (if appropriate): _Latest_
OS version (i.e. win10 v1607 (14393.321)): _Any_
Worked before? If so, with which NuGet version: N/A

## Detailed repro steps so we can see the same p

[2020-06-10 01:45] shaunsales commented on #9020
@aortiz-msft I don't think it's related - the error is not the same. I've tested on the same solution with different bandwidth speeds, and this issue occurs only on the slower connection.

[2020-06-10 02:05] donnie-msft commented on #9663
I think some behavior I reported today triggered this Issue:

I've hit this several times where my Experimental VS is locked up. When I pause, it's usually here:
Detaching the debugger, the EXP instance remains unusable (can't maximize the window). So this seems like

- bad for debugging

- probably bad for perf if sometimes this logic can hang

![image](https://user-images.githubusercontent.com/4

[2020-06-10 03:32] cppchuff opened #9664 "can't work in vs2019 it can't find namespace"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2020-06-10 06:20] anangaur commented on #8087
Tagging folks from community who have similar tools in the space to get their comments, feedback on the proposed experience:

- [dotnet-retire](https://github.com/RetireNet/dotnet-retire): @johnkors
- [SafeNuGet](https://github.com/owasp/safenuget): @eoftedal
- [DevAudit](https://github.com/OSSIndex/DevAudit): @allisterb, @kenduck
- [NuGetDefense](https://github.com/digitalcoyote/NuGetDefense): @d

[2020-06-10 07:25] felixhirt commented on #5894
Maybe i missed something here, but what about the people using .Net Framework (not .Net Core or .Net 5), WPF, and the new project system together? Is dotnet/wpf#810 for this as well? Or is the new project system not officially supported with .Net Framework?

[2020-06-10 08:44] johnkors commented on #8087
Thanks for pinging. Here's a summary of what has arised in the `dotnet-retire` issue tracker, and my 2 cents for features around the topic. I haven't really looked into what fits with phase 1/2 or future, so just treat it as some thoughts.

### Exit codes
Use a meaningful exit code for this to run as part of a build in CI, so one has the option to fail the build easily.

###  Console/terminal form

[2020-06-10 09:09] v-luzh commented on #9321
Fixed on VS Master\30209.143 + NuGet Client Dev\5.7.0.6643. Thanks.

[2020-06-10 09:38] digitalcoyote commented on #8087
Building on @johnkors response:
### Output
Output should give all the information a developer needs to take action on the vulnerability and if at all possible, be configurable. If developers start ignoring output the battle is lost.
 - Verbosity, some will like a wall of text, others will ignore everything if the output is too long.
 - Dependency vulnerability information - In the event that depen

[2020-06-10 16:14] jeffkl opened #9665 "NuGet.Build.Tasks.Console binding redirects are broken"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): 16.7.0-preview-20308-01+584ca5f11

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Install la

[2020-06-10 17:19] chrisraygill opened #9666 "Move PMC functionality to new VS terminal"
In VS 16.6, we have the ability to spawn our own terminal instance in VS. Instead of having a PMC component separate from VS terminal instances, we can consolidate the experience by spawning a terminal instance instead and running PMC commands there.

[2020-06-10 18:08] tmat opened #9667 "Include restoring of symbols in dotnet restore"
`dotnet restore` currently does not have a switch that would restore PDBs published on symbol servers (e.g. via snupkg) to nuget package cache.
There are at least two scenarios for which such feature would be valuable:

1) Restoring local packages

Scenario steps:
  - Clone repository that has Source Link enabled on one machine, make changes, push the changes to source server, build and pack.
  -

[2020-06-10 21:08] #8221 closed, assigned to nobody

[2020-06-11 00:01] #9394 closed, assigned to nkolev92

[2020-06-11 02:02] nkolev92 commented on #6694
Hey @riverar

Apologies for the long overdue reply, this slipped through the cracks.

Unfortunately I have to call this by design.
Some of the old versions of imagesharp reference .NET Standard Library, which effectively is all of .NET Core at that time.

The prompt displays a list of all the packages getting installed and all the ones that have a license.

These cases are a lot less frequent in .

[2020-06-11 02:02] #6694 closed, assigned to nobody

[2020-06-11 02:38] donnie-msft opened #9668 "NuGet.Protocol async methods should accept CancellationTokens"
When looking up versions and metadata for packages, we don't pass `CancellationTokens` to the NuGet.Protocol methods that do the more intensive work. Evaluate async method calls for improvement by honoring cancelled tokens.

Example: [MultiSourcePackageMetadataProvider](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/PackageFeeds/MultiSourcePac

[2020-06-11 02:57] riverar commented on #6694
Agree, thanks @nkolev92

[2020-06-11 03:41] #9431 closed, assigned to nkolev92

[2020-06-11 04:45] donnie-msft commented on #9668
Consider resolving these 2 suppressed errors:

[2020-06-11 05:23] archanasoni commented on #9575
Thanks @zivkan , we can close this issue..

[2020-06-11 09:49] seoriy commented on #3891
So many people here want this feature for their own purposes. Is it so hard to implement this simple solution instead of defending some dubious dogmas?
Just do it!

[2020-06-11 10:05] seoriy commented on #3891
@dasMulli here a real example for this feature:
Imaging some microservices, implemented in Clean Architecture style. One microservice (M2) communicates to another (M1) through REST using Refit. So I want to put IM1Client interface for Refit into separate project like M1.Client and build nuget, which will be used by M2.
M1Client use shared DTOs which are placed in other project like M1.Contracts wh

[2020-06-11 11:33] kaankeskin commented on #604
I had the same problem with Visual Studio 2019 Enterprise Edition. Closing and reopening the VS solved the problem.

[2020-06-11 16:48] zivkan opened #9669 "ProjectSystemCache should use ProjectId (GUID)"
Our `IProjectSystemCache` currently uses various strings based on filename and path. However, this doesn't fit well in "online" scenarios (Codespaces, Live Share) where the project might be remote, not local.

We should support project ID as they have unique GUIDs in the solution.

[2020-06-11 17:07] nkolev92 commented on #9034
@frankkilcommins

From which directory are you running dotnet.exe?
Do you expect the package to be generated relative to working directory?

[2020-06-11 17:11] nkolev92 commented on #9039
Hey @diogorolo,

Thanks for creating this issue.
Apologies for the overdue response, this slipped through the cracks.

There's a newer issue detailing the problem you are hitting, please refer to https://github.com/NuGet/Home/issues/9647.

[2020-06-11 17:11] #9039 closed, assigned to nobody

[2020-06-11 17:13] nkolev92 commented on #9043
@loic-sharma
Can you help us understand the impact here?
When was the plus operator added?
Do we know how frequently it's used in the search queries?

[2020-06-11 17:16] nkolev92 commented on #9048
Hey @xymunter

Did the advice from @VijayHugar help you?

NuGet.exe will prefer the MSBuild version in the path if at all set.
In 5.7, we're adding a -Latest switch that'll use the latest MSBuild available.

[2020-06-11 17:19] nkolev92 commented on #9046
Hey @dasMulli,

Were you able to confirm if this is a azure devops only issue?
A new VS install usually creates the folder when it adds the config that points to that.

[2020-06-11 17:22] nkolev92 commented on #9064
@EastGaint

Based on that sentence, NuGet is working as expected in this scenario.
Unfortunately we don't have the right expertise with vcxproj to understand why you can't use the header in your project.

We'd like to recommend you file this issue at https://developercommunity.visualstudio.com/ to get in contact with the C++ team.

[2020-06-11 17:22] #9064 closed, assigned to nobody

[2020-06-11 17:26] nkolev92 commented on #9073
Hey @osmodies

In packages.config the addition of content files happens at install time.

If you check your project file, can you observe any references to the content files in question?
If not, can you please run `Update-Package -Reinstall` on the project in question.
Alternatively you can uninstall and install this specific package.

[2020-06-11 17:30] nkolev92 commented on #9082
I guess the ask here is more about packages.config allowedversions concept.

[2020-06-11 17:35] nkolev92 commented on #9094
@MaceWindu

Thanks for filing this issue.

Can you clarify you expectation, how do you expect them to be appear in your projects?
Screenshots would be very helpful!

Thanks.

[2020-06-11 17:42] nkolev92 commented on #9108
Thank you filing this issue.

While we don't think we'll be able to address this request in the foreseeable future, we would be happy to take a pull request!

[2020-06-11 17:44] nkolev92 commented on #9141
Thank you for filing this issue.

This issue seems identical to https://github.com/NuGet/Home/issues/8662. Please follow that issue for updates.

[2020-06-11 17:44] #9141 closed, assigned to nobody

[2020-06-11 17:46] nkolev92 commented on #9115
Thank you for filing this issue.

Please refer to https://github.com/NuGet/Home/issues/6764 for an upcoming that will help address your scenario.

[2020-06-11 17:46] #9115 closed, assigned to nobody

[2020-06-11 17:48] nkolev92 commented on #9116
Thank you for filing this issue @mark-raymond.

This behavior is by design in the current implementation.
And unfortunately changing it would be too dangerous given the expectations our customers have.

[2020-06-11 17:48] #9116 closed, assigned to nobody

[2020-06-11 17:50] nkolev92 commented on #9117
Thank you for filing this issue.

Just a small addition to your problem statement.

The default is `globalPackagesFolder`. :)

[2020-06-11 17:56] zkat opened #9670 "Configs and defaults"
See also: https://github.com/NuGet/Home/issues/9118

We need to examine how we handle configs and defaults.

[2020-06-11 17:56] zkat commented on #9118
Closing in favor of https://github.com/NuGet/Home/issues/9670

[2020-06-11 17:56] #9118 closed, assigned to nobody

[2020-06-11 17:57] nkolev92 commented on #9123
Hey @althurman,

Thank you for filing this issue.
Can you please provide a repro package so we can try out your scenario?

[2020-06-11 17:59] nkolev92 commented on #9125
Thank you for filing this issue @thomaslevesque

We do not think we will able to get to this issue in the foreseeable future, but we would gladly consider a PR.

Please refer to our contributing guide: https://github.com/NuGet/NuGet.Client/blob/dev/CONTRIBUTING.md

[2020-06-11 18:03] nkolev92 commented on #9187
Closing per the above.

[2020-06-11 18:03] #9187 closed, assigned to nobody

[2020-06-11 18:07] donnie-msft opened #9671 "Apply VSSDKTestFix to more UI Test Classes"
I added the VSSDKTestFix documented here https://aka.ms/vssdktestfx in https://github.com/NuGet/NuGet.Client/pull/3436

We should apply this fix to more classes, so that using certain JTF methods don't eventually cause us problems.

[2020-06-11 18:30] hugener commented on #9599
This gave me something to think about and I might have been going about it wrong.

Currently, I have a package that has the following folders:
build => msbuild target tie into build process
tools => msbuild task that does some code generation
lib => dll that is required for the generated code to work

developmentDependency => true

I was thinking I didn't want packages to contain my package as a d

[2020-06-11 19:12] nkolev92 commented on #1820
This one is older, but https://github.com/NuGet/Home/issues/7973 has more details.

[2020-06-11 19:12] #1820 closed, assigned to nobody

[2020-06-11 21:49] nkolev92 opened #9672 "NuGet.exe restore with a PackageReference with exclude=build only does not interpret it correctly - central transitive dependency groups with buildTransitive keep overwriting the assets file"
Take an example project like:

[code]

NuGet.exe would restore with Include="all"
MSbuild.exe would restore with excludeassets build.

The problem is that the the flags don't round trip. See relevant code:

https://github.com/NuGet/NuGet.Client/blob/fc9dd52fcdf3c9a299a96de39b641b7c91779b5e/src/NuGet.Core/NuGet.LibraryModel/LibraryIncludeFlagUtils.cs#L26-L69

`compile, runtime, contentFiles, native

[2020-06-11 22:12] thomaslevesque opened #9673 "configure.ps1 & build.ps1 error when using Powershell Core"
## Details about Problem

Using PowerShell Core, when I run configure.ps1 and build.ps1 in order to build NuGet.Client, an error occurs:

[code]

The error doesn't prevent the rest of the script from executing.
When using Windows Powershell, it works without error

Powershell version: 6.2.3

NuGet product used: NuGet.Client build scripts

NuGet version: N/A (commit fc9dd52fcdf3c9a299a96de39b641b7c

[2020-06-11 22:57] lostmsu commented on #890
@rrelyea I am facing a combination of poor compression/NuGet.org package size limit issue with TensorFlow binaries (see the issue linked above).

Switching to ZIP+LZMA from ZIP+Deflate reduces the size of packed binaries from ~400MB to ~100MB. I am sure it would save NuGet.org a lot of traffic if adopted for larger packages.

[2020-06-11 22:59] jeffkl opened #9674 "Renable MsbuildRestore_StaticGraphEvaluation_CleanupAssetsForUnsupportedProjectsAsync after app.config stuff is figured out"
In order to fix https://github.com/NuGet/Home/issues/9665 we had to do https://github.com/NuGet/NuGet.Client/pull/3441 but that breaks a test.

Once the app.config stuff is figured out, we can generate the binding redirects on the fly and re-enable the test.

[2020-06-11 23:03] thomaslevesque commented on #9125
@nkolev92 done!
https://github.com/NuGet/NuGet.Client/pull/3442

[2020-06-12 02:05] nkolev92 commented on #9660
fyi @donnie-msft

[2020-06-12 02:31] nkolev92 commented on #9095
Thank you filing this issue.

@felixhirt The symptoms of the issue you are hitting are tracked in this duplicate issue https://github.com/NuGet/Home/issues/6795

The general ask is capture in  dotnet/sdk#1151 as you have correctly identified.

[2020-06-12 02:31] #9095 closed, assigned to nobody

[2020-06-12 02:59] donnie-msft commented on #9660
Filtering is pretty minimal... and we've recently discussed this with the nuget.org changes that are going on.

We also don't show deprecation in the details pane: https://github.com/NuGet/Home/issues/8568

[2020-06-12 04:46] #9575 closed, assigned to nobody

[2020-06-12 06:29] xymunter commented on #9048
Hey @nkolev92

As mentioned before, we kept using the workaround (as far as I'm aware of) and the whole issue moved out of my focus for some time.
We also coincidentally activated the _Disable local cache_ option due to another topic we encountered, so this should be fine.
I'll ask around if this works for us, and will close this ticket, if it does.

Thank you for all your help!

[2020-06-12 09:22] lucasmeijer commented on #9347
I doubt the TFM names discussed in this issue are good choices.  In Unity each assembly will be able to make a choice if it wants to 1) "target normal .net",   or 2) "the unity specific super tiny dotnet".

for 1),  I'm thinking we should use normal "net5.0", for maximum ecosystem compatibility.
for 2), I'm thinking we should use "unitytiny1.0".   the C# BCL api exposed by this "TFM" is 30x smalle

[2020-06-12 10:43] #9048 closed, assigned to nobody

[2020-06-12 12:42] dasMulli commented on #9046
Yes it is AzDO only, none of the other developers working on impacted projects with non-preview tooling have had any problems.

Other projects were also running into it every few months - windows agents would just not be able to restore projects randomly for a day or a few days. I don't have current statistics though (i believe the last time this was severely impacting a project was in March or ea

[2020-06-12 13:10] #9587 closed, assigned to nobody

[2020-06-12 17:48] nkolev92 commented on #4989
With https://github.com/dotnet/sdk/issues/11612 and https://github.com/dotnet/sdk/pull/11954, finally all the legs of this feature are completed.

The feature will be available in 16.7 and all the matching tooling versions (3.1.400 of the SDK, 5.0 of the SDK) & 5.7 of NuGet.exe.

If you are using NuGet.exe, keep in mind that you need VIsual Studio/ MSBuild to be 16.7

[2020-06-12 17:48] #4989 closed, assigned to nkolev92

[2020-06-12 17:54] nkolev92 commented on #9046
Thanks for the details @dasMulli.

We'll try to understand the incidence of this problem on our end.

We also need to include some best practices instructors as far repo level nuget.configs go.

Tagging a few relevant folks.

@aortiz-msft @zkat
@rconard @anangaur @chgill-MSFT @JonDouglas

[2020-06-12 18:25] anangaur commented on #4989
Awesome!! Thanks @nkolev92 for consistently following up on this one 👏

[2020-06-12 18:45] TFTomSun commented on #4989
@nkolev92  can you please provide a link to the documentation / sample?

[2020-06-12 18:51] nkolev92 commented on #9633
Yeah, that's a known issue and a part of the overall NuGet consumes a lot of memory. We'll consider it during planning.

For reference, we do have some primitive deduplication https://github.com/NuGet/NuGet.Client/blob/fc9dd52fcdf3c9a299a96de39b641b7c91779b5e/src/NuGet.Core/NuGet.Protocol/Utility/MetadataReferenceCache.cs

[2020-06-12 18:53] nkolev92 commented on #4989
@TFTomSun Design at https://github.com/NuGet/Home/blob/dev/designs/PackageReference-Extern-Alias.md.

I'll update the docs by the time this ships in a GA release.

[2020-06-12 18:59] TFTomSun commented on #4989
@nkolev92 are the aliases transistive?

[2020-06-12 19:02] nkolev92 commented on #4989
They only apply to the package reference they are specified on.

The challenge with applying to transitive dependencies is the `diamond dependency` scenario where: Project -> A -> C and Project -> B -> C.

For the time being the answer to how do I apply metadata to transitive package still remains `elevate it to top level`.

[2020-06-12 19:06] TFTomSun commented on #4989
@nkolev92  Is there a possibility to somehow iterate over transistive dependencies using MSBuild script? Or is there an existing task that can be reused to do that? That would help those who would like to push through the aliases for a specific package and it's dependencies.

[2020-06-12 19:21] loic-sharma commented on #9043
This is potentially a security issue. We should review this with security experts as they may want to increase the priority.

It's difficult for us to analyze the full customer impact as the requests themselves are malformed. For example, if a customer searches for `foo&X=Y` in Visual Studio's search bar, our telemetry will think that the user searched for just `foo`. That said, we do receive hund

[2020-06-12 19:50] nkolev92 commented on #9633
I removed the leak from the title.
I don't believe it's a leak, rather we just don't dedup enough, the NuGetVersion in memory are being used.

[2020-06-12 19:50] deAtog commented on #9596
After spending more time on this than I should, it seems that this issue is caused by NuGet.Client reading the global properties of the .csproj of a ProjectReference rather than obtaining the information from the binary that was built. The only way to work around this to my knowledge is to create a custom Task that modifies the project file to have the correct Version and PackageVersion based on t

[2020-06-12 19:52] nkolev92 commented on #9633
Actually, this is a dup of https://github.com/NuGet/Home/issues/8352 :)

[2020-06-12 19:52] #9633 closed, assigned to erdembayar

[2020-06-12 19:56] nkolev92 commented on #9189
Fixed by https://github.com/NuGet/Home/issues/9513.

It's not quite the same, but I believe #9513 and this are incongruent.
Right now, we do a quick check that's low of allocations.

[2020-06-12 19:56] #9189 closed, assigned to nkolev92

[2020-06-12 20:26] luckerby commented on #9612
Thanks @zivkan. That worked just fine. Just to summarize, I knew the build number was `6591` since I'd already looked at the NuGet assemblies' file versions stored within the `bin` folder of my project after building. VS's own Package Manager UI is also kind enough to show the full version - including the commit id (`636570e68...`) - under "Options" when the respective package is selected. I went

[2020-06-12 20:31] nkolev92 opened #9675 "Consolidate tab should use the same caches as the installed/update tab"

[2020-06-12 20:31] nkolev92 commented on #8283
Separating out the consolidate tab: https://github.com/NuGet/Home/issues/9675

[2020-06-12 20:32] nkolev92 commented on #8283
Dup of https://github.com/NuGet/Home/issues/8284

[2020-06-12 20:32] #8283 closed, assigned to donnie-msft

[2020-06-13 04:31] #9665 closed, assigned to nugetlurker, jeffkl

[2020-06-13 04:58] ByteDev commented on #7601
Not sure why you took the "E" off.  You need only put "*" on the end.

[2020-06-13 10:22] MaceWindu commented on #9094
![image](https://user-images.githubusercontent.com/1099238/84566284-3c6de980-ad70-11ea-98af-7e72892ecf62.png)

- CoreSDK is .net core console project (SDK project)
- FwLEgacy is .net framework console project (legacy project format)
- OrmTest is project from issue

Installing linq2db.postgresql package adds templates (`LinqToDB.Templates`) to first two project properly (as reference or as copy), b

[2020-06-13 12:46] zivkan commented on #9612
In our [build yaml, we run our "build and unit test" phase twice](https://github.com/NuGet/NuGet.Client/blob/427adf89c1fa3aab03f4f3840982f2d6b030d3e3/build/vsts_build.yaml#L88-L93), once with "RTM" branding (version 5.6.0) and once with "non-RTM branding" (version 5.6.0-rtm.1234). The non-RTM branded versions get inserted into Visual Studio multiple times per Visual Studio preview release, and our

[2020-06-13 13:25] zivkan commented on #8941
Closing as duplicate of #8133

[2020-06-13 13:25] #8941 closed, assigned to nobody

[2020-06-13 13:59] zivkan commented on #9272
closing as duplicate.

[2020-06-13 13:59] #9272 closed, assigned to nobody

[2020-06-13 15:57] #9237 closed, assigned to zivkan

[2020-06-13 16:43] zivkan opened #9676 "EPIC: Docs on creating packages that are wrappers of native code"
This issue is tracking customer requests about how to create a package that is a .NET wrapper of native dll/so.

Out of scope: packages to be used by native (c/c++) projects

Linked issues are tracked via ZenHub (I'm unsatisfied with how GitHub links issues).

[2020-06-14 04:50] zivkan commented on #9671
Given the link provided is MSFT-internal, and NuGet and this repo is public, it migjht be worth pointing out that the suggestion is to use some package that provides "fixtures", then create a "collection" that uses the fixtures, and finally make the test classes part of the collection.

Keep in mind that test collections prevent tests running in parallel (xunit will not run tests in a collection i

[2020-06-14 05:15] zivkan commented on #9666
I'd love it if we can get rid of our own console/terminal implementation.  Note however it's more than just creating the other terminal window. PMC also adds NuGet's cmdlets to the powershell host, plug execute package `init.ps1` which might add additional cmdliets, so we'd need to be able to do that.

[2020-06-14 05:37] zivkan commented on #6764
@philipreimer the feature is still under development. Since the feature is incomplete, the parts that have already been shipped are considered preview, and therefore we haven't documented it yet.

[2020-06-14 05:54] zivkan commented on #9629
@aw129 with your suggestion, I believe that it would cause a problem with git repos that use a `.gitattributes` file that sets `packages.lock.json` (or more probably `*.json`) to [text mode](https://www.git-scm.com/docs/gitattributes#_text). Subversion appears to have a similar setting `svn:eol-style=native`.

Therefore I propose that the current behaviour, using the platform's native line endings

[2020-06-14 07:20] batzen commented on #6764
@philipreimer You need the core-sdk 3.1.300 and visual studio 2019.6.
The wiki page was enough documentation for me to get started. The only thing not mentioned there is that you currently have to set  ManagePackageVersionsCentrally to true to enable everything.

[2020-06-14 16:15] mere131 opened #9677 "GitHub Updater Plugin: "Update package not available""
Hello,
I haven't been able to update the "GitHub updater" plugin for a while now. It always says "update package not available". I am using version 9.4.2.9. Any idea why?
Thanks!

[2020-06-14 19:03] zivkan opened #9678 "Stop packing UI projects"
https://github.com/NuGet/NuGet.Client/pull/1840 started packing:

NuGet.PackageManagement.UI
NuGet.PackageManagement.VisualStudio
NuGet.VisualStudio.Common
NuGet.PackageManagement.UI.TestContract

The PR says it was for some perf infrastructure, but we don't we it.

If we stop packing these projects we will save time by not packing a few nupkgs, not signing those nupkgs, not needing time to upload

[2020-06-15 07:50] philipreimer commented on #6764
@batzen that would be  [this wiki page](https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions), correct?

I am on Linux - so no VS - but I should be fine with just the dotnet CLI I assume. If I understand the wiki page correctly. So it should also work in a CI environment?

[code]

[2020-06-15 07:53] philipreimer commented on #6764
@zivkan any ETA when this feature could be final? Is this planned for a specific upcoming version of dotnet core?

[2020-06-15 08:19] v-longmin opened #9679 "[Test Failure] PMC & PM UI were disappeared after installing NuGet Client dev-donnie-msft-pmuiTabSwitchUIFiltering\5.7.0.11466"
## Details about Problem
VS Version: Master\30214.25
OS Version: Windows-10-Enterprise-RS5.
## Installation
1. Install VS: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3810721&view=ms.vss-build-web.run-extensions-tab
2. Install NuGet: \\ddfiles\Drops\NuGet\Drops\CI\NuGet.Client\ dev-donnie-msft-pmuiTabSwitchUIFiltering\5.7.0.11466\artifacts\VS15\NuGet.Tools.vsix
## Detailed repro

[2020-06-15 09:13] archanasoni opened #9680 "How to pack language specific custom license file"
Hi,

We have library which is targeting Net Standard 2.1, As PackageLicenseUrl tag is deprecated, we have to pack license file in text format.

Now my simple question is- how can we pack license file different locale, so that When Nuget package gets installed it will open License file for respective Locale..
For example: If system locale is spanish, while installing Nuget package it should open sp

[2020-06-15 10:51] batzen commented on #6764
@philipreimer it should also work in CI. It works in our CI system. But you need the 3.1.300 sdk. You seem to be using 3.1.103.

[2020-06-15 16:29] heng-liu commented on #9205
Fully verify on 270+ author-signed packages(with unique certificate chain) and top 20 repository-signed packages.
Run verification on timestamp on all the packages on NuGet.org.
Closed as fixed.

[2020-06-15 16:29] #9205 closed, assigned to heng-liu

[2020-06-15 16:36] heng-liu opened #9681 "Rebase xplat feature branch from dev"
When all the rest PRs got merged. Rebase xplat feature branch from dev.
Fixing all the broken tests after rebasing:
1.two restore tests related to CPVM are recently added, and they doesn't add creating global.json.
2.20+pack tests failure still needs investigation.

[2020-06-15 17:59] zkat opened #9682 "net5.0-platform test failures"
Looks like I may have been overly optimistic about the nature of my net5.0-platform change. dotnet's own tests [found a bug in our pack code](https://dev.azure.com/dnceng/public/_build/results?buildId=685105&view=ms.vss-test-web.build-test-results-tab&runId=21269054&paneView=debug&resultId=100046) caused by the current platform changes. Pack will likely need to be updated, and possibly, we may nee

[2020-06-15 18:27] nkolev92 commented on #8352
Related: https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/InternalUtilities/StringTable.cs

[2020-06-15 18:32] donnie-msft opened #9683 "Installing VS with no workloads should disable NuGet"
## Details about Problem

NuGet product used: VS UI

NuGet version (x.x.x.xxx): dev-donnie-msft-pmuiTabSwitchUIFiltering\5.7.0.11466.
 \ddfiles\Drops\NuGet\Drops\CI\NuGet.Client\ dev-donnie-msft-pmuiTabSwitchUIFiltering\5.7.0.11466\artifacts\VS15\NuGet.Tools.vsix

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version: Unknown

## D

[2020-06-15 18:54] donnie-msft commented on #9683
Dupe of https://github.com/NuGet/Home/issues/8414

[2020-06-15 18:54] #9683 closed, assigned to nobody

[2020-06-15 18:54] donnie-msft commented on #8414
Hit this today (closed as dupe) https://github.com/NuGet/Home/issues/9683

[2020-06-15 19:10] Barsonax commented on #4856
We are also running into this in our .net based game engine in our sample packages that also include files like shaders, textures etc:
![84692048-81974480-af45-11ea-9f32-1565373e3615](https://user-images.githubusercontent.com/19387223/84696103-3fbdcc80-af4c-11ea-9072-1077f004452f.png)

This is very confusing behavior and I would like these files to be either:
- Hidden from the solution explorer.
-

[2020-06-15 20:23] nkolev92 commented on #9679
Definitely equivalent to https://github.com/NuGet/Home/issues/9138.

@v-longmin @v-luzh

Maybe running the preinstall script can be a part of your set-up whenever you are asked to test branches that are not `dev` or `release-*`

[2020-06-15 20:42] Type1JGB commented on #5358
I really would like this fixed. Just to help anybody else that came across this issue, here's what I did:

There's a file at the path `C:\ProgramData\Docker\config\daemon.json`. Add the line: `"dns": ["8.8.8.8"]` in the JSON object.

Ideally, replace it with your actual DNS server. 8.8.8.8 is just a well known DNS server, so it should work.

After adding that line, restart the Docker daemon. You c

[2020-06-15 23:30] Sunbreak commented on #8195
There seems to be workaround: https://stackoverflow.com/questions/18694947/how-can-i-make-my-managed-nuget-package-support-c-cli-projects

[2020-06-16 00:36] zivkan opened #9684 "Test: ClientCert tests are flaky"
The HTTPS Client Certificates feature added multiple tests that cause frequent problems on Mac and Linux.  Our hypothesis that it's the dynamic generate of certificates that causes the problem.

Impacted tests:
* `test/NuGet.Core.FuncTests/NuGet.XPlat.FuncTest/XPlatClientCertTests.cs`
  * `ClientCertAddCommand_Fail_StoreCertificateNotExist`
  * `ClientCertAddCommand_Success_FileCertificateAbsolute

[2020-06-16 00:39] donnie-msft opened #9685 "Test SendAsync_RetryWithClonedPostRequest was skipped due to Linux timeouts"
Skipped test `SendAsync_RetryWithClonedPostRequest`  to see if it resolves Linux CI failures.
This month is only 2 months old, so guessing that it's the cause of some sporadic issues.

Details: https://github.com/NuGet/Client.Engineering/issues/307#issuecomment-644459133

[2020-06-16 01:41] #9678 closed, assigned to zivkan

[2020-06-16 06:34] jernejk commented on #9677
Maybe unrelated but just today we had a problem where nuget restore stopped working and we had to update nuget.exe to latest stable 5.5.1. Maybe you need to update your nuget.exe as well?

[2020-06-16 06:59] jernejk commented on #9677
Also, they recently removed support for TLS 1.0 and 1.1.

![image](https://user-images.githubusercontent.com/5943653/84741656-b90ffa80-aff2-11ea-9445-9f9d16ae5a4b.png)

[2020-06-16 09:04] RobSwDev opened #9686 "VS19 Package Restore repeats 14 times"
Our Visual Studio solution (146 projects) often repeatedly restores nuget packages. This, combined with an [issue with the Fast Up To Date check](https://github.com/dotnet/project-system/issues/6227), means that our builds are much slower than necessary.

Any ideas why this should happen? Are there additional diagnostics I can turn on (for the fast up to date check, I had to fiddle with the VS pri

[2020-06-16 09:16] rrelyea opened #9687 "NuGet.exe cred providers should run well when CannotShowDialog is true"
[code]

Although our CLIs have interactive switches, sometimes we want an authprovider to be interactive, but not to show a dialog for collection of credentials.

[2020-06-16 09:29] v-longmin commented on #9679
We verify the issue on Master\30215.128, it has been fixed after creating a clean VM and run preinstall, close it, thanks.

[2020-06-16 09:29] #9679 closed, assigned to nobody

[2020-06-16 11:28] zivkan commented on #9390
More examples of customer confusion due to shell globbing:
https://github.com/NuGet/Home/issues/8100#issuecomment-617633669
https://github.com/NuGet/Home/issues/9585

[2020-06-16 12:37] ViRuSTriNiTy commented on #6140
It seems like the CLI can use only one type of credentials.

I have a config with two sources.

The first souce is an Azure DevOps Artifacts feed which needs the [Azure Artifacts Credential Provider](https://github.com/microsoft/artifacts-credprovider) that provides the credentials via *DeviceFlow*.

The second source is a Telerik Component feed that simply requires username and password, in my ca

[2020-06-16 13:40] anangaur commented on #4980
From an email discussion regarding this topic:

"...Everyone’s nuget cache and .nuget\packages folder is filling up as we upgrade packages. The only solution we have currently is to delete the whole packages folder and re-download everything, which can be a huge hit on DevOps especially while working remotely. It would great if we had a way to say “delete all the nuget packages except for these pa

[2020-06-16 14:06] anangaur commented on #9686
For SDK style projects, as you make changes to files that may impact the package graph, restores are triggered automatically. A couple of other questions related to this experience:
1. Does the restore prevent you from any other operation you want to do on Visual Studio?
2. Were these restores unnecessary? i.e. you didn't make any changes to the code or made code changes that shouldn't impact the

[2020-06-16 15:25] donnie-msft commented on #9585
@derekgreer Thanks for the details... and you're spot-on with these issues! Globbing and skip-duplicate both have other Issues with specific details for each problem, so I'm closing this one in favor of those. Please follow these and contribute any other details you may find:

Globbing on `push` is covered in https://github.com/NuGet/Home/issues/9390
`Skip-Duplicate` applying to the automatic snup

[2020-06-16 15:25] #9585 closed, assigned to nobody

[2020-06-16 15:26] donnie-msft commented on #9390
Globbing:
This issue covers `push`.
https://github.com/NuGet/Home/issues/8839 covers `pack`.

Skip-Duplicate applying to the automatic snupkg push is covered in #9647

[2020-06-16 15:26] rrelyea opened #9688 "Improve CLI + VS auth failure errors"
would be nice to:
- provide NUXXXX error codes, doc pages, and improved error messages for each specific kind of problem
- no cred provider claimed that URI
- cred provider claimed that URI, but failed to auth
- etc...

[2020-06-16 15:27] #9595 closed, assigned to erdembayar

[2020-06-16 15:54] RobSwDev commented on #9686
To clarify - I wasn't working with Visual Studio - I was just waiting for it to "settle down". All but the first restore was unnecessary.

They don't explicitly prevent anything - the problem is that unnecessary package restores cause incremental builds to take much longer. Every project fails Visual Studio's Fast Up To Date check since various files in their obj directory get "touched".
Thus msbu

[2020-06-16 15:56] RobSwDev commented on #9686
Also, please see [this comment](https://github.com/dotnet/project-system/issues/6227#issuecomment-642250259): If package restore runs, and discovers that nothing needs updating, would it be possible for it to not change the timestamp on the various json files it creates? The file contents are not changing, only the timestamps. Which makes VS fail "Fast Up To Date".

[2020-06-16 16:25] heng-liu commented on #9226
Closed as fixed.

[2020-06-16 16:25] #9226 closed, assigned to heng-liu

[2020-06-16 17:15] rrelyea opened #9689 "VS.OE Project Plan"
drive project plan and discussion for june 29th.

[2020-06-16 18:04] zivkan opened #9690 "Project nomination doesn't create ProjectNames with correct CustomUniqueName"
Both `VsSolutionRestoreService` and `VsProjectAdapterprovider` create `ProjectNames` instances, but they do not generate the same `CustomUniqueName` value, so the value that gets added to the `ProjectSystemCache` is non-deterministic (depends which of the 2 NuGet APIs gets called first).

[2020-06-16 18:33] cristinamanum opened #9691 "[CPVM] Investigate performance regression for CloudBuild"
Performance tests executed on CloudBuild repo showed up to 67% perf degradation for some of the projects.
Other projects showed perf improvements.
The results are below and need to be investigated.

| Solution | CPVMAverageExecutionTimeSec | NotCPVMAverageExecutionTimeSec | Difference CPVM-NotCPVM | PercentDecrease
| ---| ---| ---| ---| --- |
| private\Services\dirs.proj | 29.7789 | 17.82206666666

[2020-06-16 18:54] smchristensen commented on #3676
My use case is identical to Longsarg (from Dec 14, 2019 above).  I admit this is not necessarily NuGet's problem to solve, but Azure Artifacts has the ability to have upstream sources in an Azure Artifact feed.  It however does not index the upstream feed therefore I am unable to search for nuget.org packages from the Visual Studio package manager UI when I only have the Azure Artifacts feed defin

[2020-06-16 20:26] #9677 closed, assigned to nobody

[2020-06-16 20:26] mere131 commented on #9677
I reinstalled the plugin and that seemed to help. Thanks!

[2020-06-16 20:43] cristinamanum commented on #8912
Performance tests executed on CloudBuild repo showed up to 67% perf degradation for some of the projects.
Other projects showed perf improvements.
The results are below and need to be investigated.

| Solution | CPVMAverageExecutionTimeSec | NotCPVMAverageExecutionTimeSec | Difference CPVM-NotCPVM | PercentDecrease
| ---| ---| ---| ---| --- |
| private\Services\dirs.proj | 29.7789 | 17.82206666666

[2020-06-16 20:43] cristinamanum commented on #9691
Duplicate of https://github.com/NuGet/Home/issues/8912

[2020-06-16 20:43] #9691 closed, assigned to cristinamanum

[2020-06-16 21:04] MuhKuh7 commented on #6795
Is there any chance we might see a bug fix for this more than 2 year old bug? It's kind of sad for such a widely used project to have a bug like this completely ignored.

[2020-06-16 22:04] selcukyavuz commented on #9458
I got this error with msbuild 12.0 on nuget.exe v5.5.1 which is recommended version on download page then I tried nuget.exe v5.6.0 and I see it fixed.

[2020-06-16 22:26] rrelyea commented on #9458
@aortiz-msft @nkolev92 - likely should consider blessing 5.6.0 this week or next?

[2020-06-16 22:30] nkolev92 commented on #9458
Thanks @rrelyea I'll do that this week. https://github.com/NuGet/Client.Engineering/issues/364

[2020-06-16 22:47] terrajobst commented on #4980
So is this on the books soon? 🙏

[2020-06-16 23:01] donnie-msft opened #9692 "Check Security Tenet status"
Investigate the AzDO tasks assigned to me that ask us to check some Security points in our codebase.

[2020-06-16 23:19] nkolev92 opened #9693 "Avoid reading the assets file in no-op restores"

[2020-06-16 23:47] johnpedersen-freightways opened #9694 "PMC hides console windows which affects child processes of VS"
## Details about Problem

NuGet product used: Package Manager Console
VS version: 16.6.2
OS version: win10 1909 18363.900

Worked before? No, this has always been broken for long as I can remember.

## Repro steps
1. Open VS and open Package Manager Console. Make sure you don't load any custom PowerShell profile in PMC.
2. From VS, all of the following will show a console window
a. start a debug s

[2020-06-17 01:00] nkolev92 commented on #9589
@dansiegel
Is the question here about pushing to baget with your custom auth?

If that's the case, then I think NuGetAuthenticate will not help. That task is specific for working with Azure DevOps feeds.

As per https://docs.microsoft.com/en-us/nuget/consume-packages/consuming-packages-authenticated-feeds, you have to either;

* Provide a nuget config and auth token inside the config.
* Write a pl

[2020-06-17 01:01] nkolev92 commented on #9688
There's a dup of this: https://github.com/NuGet/Home/issues/8889.

@rrelyea Can you please close one or the other.

Thanks.

[2020-06-17 01:02] nkolev92 commented on #9688
Actually look at that issue, it's not quite the same.

Maybe you can look as well and make a judgment call.

[2020-06-17 01:04] nkolev92 commented on #8889
So while NuGet can raise a message whenever we can't authenticate (I'd expect a different message when we 401), the message that you have in particular simply cannot be coded, because it's something that GPR sets in their response headers.

Worth investigating/driving to a conclusion, just setting expectations here.

[2020-06-17 01:24] nkolev92 commented on #9686
Whenever the project system detects something is not up to date and it affects NuGet, it nominates.
Then NuGet responds with a restore, which should hopefully make everything up to date.

NuGet does have checks to identify whether the assets file is up top date before writing. We try not to write unless absolutely necessary.

Are you seeing the timestamp of the assets file get updated?

[2020-06-17 01:32] heng-liu commented on #8593
Closed as fixed.

[2020-06-17 01:32] #8593 closed, assigned to nobody

[2020-06-17 03:18] #9569 closed, assigned to dominoFire

[2020-06-17 16:18] JimBobSquarePants commented on #7189
Only workaround is add multiple feeds (for every project or package) to every computer, which is not scalable at all.
Needs to fix is ASAP.

Why not add the package sources to a Nuget.config and add it to source control?

[2020-06-17 17:17] SylwesterZarebski commented on #7189
Thanks, i try that. Last time i tried (few years ago) VS nuget manager did not support it.

[2020-06-17 21:18] martinrrm opened #9695 "Current Source Link package is not working"
Building the solution locally found the next error

[code]

Upgrading the package to 1.0.0 fixes the problem

[2020-06-17 21:50] #9669 closed, assigned to zivkan

[2020-06-18 01:21] #9693 closed, assigned to nkolev92

[2020-06-18 01:25] vsfeedback opened #9696 "VS 2019 crashes after opening Manage NuGet Packages: icon causes unhandled exception in image conversio"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1047675/vs-2019-crashes-after-opening-manage-nugetpackages.html)._

---
Hello,

I have issues to edit my Nuget references in several projects.
Everytime I open Manage NugetPackages the VS 2019 crashes.

I have taken a look into the event viewer and found the following NullR

[2020-06-18 01:25] nkolev92 commented on #9696
We should never crash, regardless of the exception.

[2020-06-18 01:28] nkolev92 commented on #9680
Hey @archanasoni,

Thank you for filing this issue.
At this point we do not support multiple resources as license file. You are only able to specify 1 file at most.

How were you handling the localization scenario prior to the self contained license addition?

fyi @chgill-MSFT

[2020-06-18 06:29] archanasoni commented on #9680
Hi @nkolev92 ,

We have custom License. We were using custom Url using PackageLicenseUrl tag, Our custom License web page had option to select locale..  But due to deprecation of PackageLicenseUrl we are bound to ship License as Text file..

Thanks,
Archana

[2020-06-18 08:47] RobSwDev commented on #9686
I will try to reproduce. I've observed that it is worse first thing in the morning (when I open the solution).

You say "when the project system detects something is not up to date" - is it possible for me to enable diagnostics so that I can find out what is considered not up to date?

What things would trigger nuget? Obviously any package or project reference changes in and *proj file. Also, if n

[2020-06-18 09:48] Gorithow commented on #9020
True. And solution with `ulimit -n 8192` did not help me at all.

[2020-06-18 10:12] AlexPykavy opened #9697 "ExcludeVersion switch breaks installation"
Hello,

We use NuGet packages to store our internal tools. During the installation of them, we have encountered the following issue: "if you are installing packages from their own NuGet sources one by one via `nuget.exe install` command with `-ExcludeVersion` switch passed, it doesn't work"

I have implemented a simple PowerShell script which reproduces the issue:
[code]

Here is an error:
![image

[2020-06-18 10:18] anangaur commented on #4980
Seems like an issue with most large repos where versions keep on incrementing but the GPF keeps retaining older versions. Looking at ways to ease the pain here.

[2020-06-18 11:54] MichaelPetrinolis commented on #9020
@aortiz-msft it seems that this is not related to #8571 and should not be closed.

[2020-06-18 12:14] zivkan commented on #9686
Set the environment variable `PROJECTSYSTEM_PROJECTOUTPUTPANEENABLED` to 1, then launch Visual Studio. "Project" will be available in the "Output" window.

If the multiple NuGet restores correspond to multiple "BEGIN Nominate Restore" logs in the project output, then NuGet is correctly responding to the requests that project system is sending.

[2020-06-18 18:18] nkolev92 commented on #9680
@archanasoni

Can you consider including all of the languages in the same doc.
I'm not sure if this will be a common enough scenario to overhaul the design given the 1 to 1 relationship.
@chgill-MSFT @JonDouglas @anangaur Thoughts?

[2020-06-18 18:20] #9645 closed, assigned to erdembayar

[2020-06-18 18:25] obeyda commented on #9020
I also tried to increase the maximum number of connection by setting the two values (Linux) :
[code]

that didn't have any effect.

[2020-06-18 18:53] nkolev92 opened #9698 "NU1603 can be too noisy in a diamond dependency case, when the min requested version is not available and is not the `best version`"
From @jasonmalinowski

Package ‘A.Extras’ at Version 1.1
               This depends on A.Core >= 1.1
Package ‘B’ at Version 2.0
               This depends on A.Core >= 1.0.1

A.Core 1.0.1 can’t be found in any feed we’re referencing, so we get a NU1603. If we didn’t have a reference to A.Extras I’d understand that; but since we’re also referencing A.Extras that’s going to demand a higher version

[2020-06-18 20:35] RobSwDev commented on #9686
Ok - I see lots of new "BEGIN Nominate" messages, despite the fact that the solution has previously been completely restored, and nothing has changed since. So if the requests are spurious, that's an issue in the project system?

[2020-06-18 20:55] nkolev92 commented on #9686
Yeah, that sounds like best handled on the project system side.

[2020-06-18 22:05] AgSync-Aaron commented on #5553
First, let me say I have nothing to add to this conversation. I would just like to be able to use `Install-Package -DependencyVersion Highest [package_id]` for .NET Core projects. I've been manually installing dependencies when I want to force the latest version and that's a PITA. Thanks for the work you do. I just wish this issue was on the list.

[2020-06-18 23:04] erdembayar commented on #8352
So far below things I found out for investigation of this bug.
For this I had discussion with my Nuget client team members and Joel Verhagen from Nuget server team.
Also I analyzed memory usage on my machine with solution with 138 projects.

1. Azure Dev ops to enable Etag (Nuget.org already has it) for server side caching. Also make sure gzip is enabled not clear if it's there.
Most likely can be

[2020-06-18 23:04] erdembayar commented on #8352
Currently I am working on point 5.

[2020-06-19 04:41] nkolev92 commented on #5722
Nikolche triage: Closing this. Disabling consent is not super common and we've never heard complaints about this scenario.

[2020-06-19 04:41] #5722 closed, assigned to nobody

[2020-06-19 10:10] horeeorg commented on #9020
I also experienced with this error, but when I tried using tethering from my mobile network, it worked.

[2020-06-19 11:57] fabich commented on #9493
Hi @egeyer
sorry, only saw your answers just now.

GitHub Developer Support suggested using the following .net core tool:
https://github.com/jcansdale/gpr

[2020-06-19 12:34] horeeorg commented on #9020
I still experienced with this issue, and I've read, still there is no solution for this issue, could you please open it again?

[2020-06-19 14:39] GeertvanHorrik commented on #9164
+1, I thought all packages from MSFT were already doing this. We could really use this one right now.

[2020-06-19 18:29] #9695 closed, assigned to martinrrm

[2020-06-19 19:01] nkolev92 commented on #5496
We write to error list in 16.6. This was probably fixed a lot earlier.

[2020-06-19 19:01] #5496 closed, assigned to nobody

[2020-06-19 20:11] nkolev92 commented on #8352
Thanks for the update @erdembayar

A few notes on your 5 points.

Point 1: This will affect the network throughput rather than OOM. We have a tracking issue on NuGetGallery side. Keep in mind, protocol changes take more scrutiny.
Please create a tracking issue to consider consuming etags on NuGet side.

Point 2: Can you clarify this? `x-ms-version`, can you make sure there's a tracking issue on ga

[2020-06-19 20:34] cs101 commented on #4387
being able to specify SSL exceptions in an explicit way is valuable. especially in enterprises that use MITM certs like Zscaler.... I've being fighting this in my most recent two jobs.  if Nuget doesn't provide a way to do it it's going to lead a a lot of risky work around anyway.

[2020-06-19 21:06] nkolev92 commented on #8352
Re #8058
PackageSearchMetadata takes a lot more memory than NuGetVersion.
Registration uses PackageSearchMetadata, while we'd be more efficient if we just loaded NuGet versions

[2020-06-19 21:24] heng-liu opened #9700 "Signing Test: on Mac and Linux, the exception thrown by HttpListener during disposing should be caught"
In SigningTestFixture,  the exception thrown by HttpListener during disposing is only caught on Windows and Mono, not Linux and Mac.
So even if all the tests pass, the dotnet vstest has the exit code not 0.

[2020-06-19 22:21] #9086 closed, assigned to nobody

[2020-06-20 00:49] heng-liu commented on #9700
Closed as fixed.

[2020-06-20 00:49] #9700 closed, assigned to heng-liu

[2020-06-20 00:50] nkolev92 commented on #8315
Yet another confused customer from: https://github.com/NuGet/Home/issues/8315

[2020-06-20 00:50] nkolev92 commented on #9653
Either way slice it, the feedback here is the same as https://github.com/NuGet/Home/issues/8315, closing it as dup of that.

[2020-06-20 00:50] #9653 closed, assigned to nobody

[2020-06-20 00:51] nkolev92 commented on #8315
I think we should remove the arrows in the near term and track the redesign in #7973.

See reasoning here: https://github.com/NuGet/Home/issues/9653#issuecomment-639961064

Copying the most important things.

Lots of input for that here #3676

2 reasons

#### Arrows as priority order

I want to call attention to the specific response the NuGet team gave in the issue you linked https://github.com/N

[2020-06-20 01:34] dansiegel commented on #9589
I discovered that the index.json has to require authentication otherwise the NuGet client fails

As a result I had to add some custom logic on there so that my basic auth handler would respect either the Basic auth or the v2 auth when index.json is queried.

[2020-06-20 01:34] #9589 closed, assigned to nobody

[2020-06-20 01:54] nkolev92 commented on #9686
@RobSwDev

If you can look at all the BEGIN Nominate messages and find all the nominations for one project, can you spot any differences?

[2020-06-20 02:13] heng-liu opened #9701 "Test: PM UI Apex tests are flaky (UninstallPackageFromUI and so on)"
The following  5 PM UI Apex tests are flaky recently:
[code]

UninstallPackageFromUI
Error message:
`System.TimeoutException : Timed out after 00:00:10 waiting for C:\school\ApexSolutions\TestCase2478\TestProject\packages.config did not exist within 00:00:10.`
Stack trace
[code]

InstallPackageToProjectsFromUI
[code]

[2020-06-20 02:14] #9674 closed, assigned to jeffkl

[2020-06-20 02:22] nkolev92 commented on #7052
Dup of https://github.com/NuGet/Home/issues/5154.

[2020-06-20 02:22] #7052 closed, assigned to nobody

[2020-06-20 15:28] uzxmx commented on #8223
Just encountered this issue too. I'm using version 5.5.1.6542. No good way to unset the config. Vote for such feature.

[2020-06-20 16:07] btshft commented on #3891
Hi!
I created a small tool that allows you to pack a project with all its dependencies into a set of packages with the same versions.
https://github.com/btshft/ProjectPack. Not an ideal solution, but at least you do not need to pack each project separately.

[2020-06-20 19:23] #9004 closed, assigned to zkat, heng-liu, kartheekp-ms

[2020-06-20 19:23] #8935 closed, assigned to zkat

[2020-06-21 02:28] rseanhall commented on #9147
This needs to be reopened. https://github.com/NuGet/Home/issues/8797 had two issues in it - `NoWarn` and `WarningsAsErrors`. https://github.com/NuGet/Home/issues/8797 was closed as a duplicate of an issue about `WarningsAsErrors`, but the `NoWarn` part is still unaddressed.

[2020-06-21 13:30] tebeco commented on #9502
@donnie-msft
was that a bit better ?

[2020-06-22 10:46] springy76 commented on #5553
@tebeco The pity is that between most `Microsoft.Extensions.*.Abstracts` v2.x and v3.x there is no single breaking change, so in SemVer-thinking there should be no major number change at all.
But on the other hand I don't want different NuGet versions of netcore parts so I can use a single build variable to update them all, for example from 3.1.4 to 3.1.5.

[2020-06-22 11:16] archanasoni commented on #9680
Hey @nkolev92 , we thought this as workaround But problem is we support 18 Locale and for 1 Locale License file has around 20 Pages.. Now scrolling down so much would not be convenient. Even we won't feel to.. ..

This is a very common scenario to support localization..

[2020-06-22 11:59] bender2k14 commented on #5553
You are applying the converse of [SemVer rule 8](https://semver.org/#spec-item-8) instead of rule 8 itself.  SemVer allows the major version to be incremented for any reason (as long as the minor and patch versions are reset to 0.)

For example, I think it would be appropriate to increment the major version level if the code was totally rewritten (maybe even in another language) while keeping the

[2020-06-22 15:13] zivkan opened #9702 "Create INuGetProjectService.GetInstalledPackagesAsync extensibility API"
async and codespaces/liveshare compatible extensibility API to replace `IVsPackageInstallerServices.GetInstalledPackages(Project project)`

[2020-06-22 15:23] zivkan opened #9703 "create tests for INuGetProjectServices.GetInstalledPackagesAsync"
Feature was manually tested and PR created to make feature available ASAP to unblock UI delays. Need tests to detect regressions and just general good engineering practises.

[2020-06-22 15:43] zivkan commented on #8259
Closing this issue because:

* The task was to do an investigation, not an implementation, which was done
* Recent, and currently ongoing, perf work includes reducing NuGet's dependency on JSON LINQ (such as JObject). This work has the outcome of significantly improving performance of NuGet's JSON deserialization.
* Comparing the performance of well written Newtonsoft.Json code to well written Sys

[2020-06-22 15:43] #8259 closed, assigned to zivkan

[2020-06-22 17:36] heng-liu commented on #8940
Closed as fixed.

[2020-06-22 17:36] #8940 closed, assigned to heng-liu

[2020-06-22 17:37] heng-liu commented on #9681
Closed as fixed.

[2020-06-22 17:37] #9681 closed, assigned to heng-liu

[2020-06-22 18:17] aw129 commented on #9629
My experience is that having files checkout with different line endings causes more problems than it solves.

Having said that, setting `packages.lock.json` to text mode seems to be an effective workaround for this issue. I wasn't aware of that option, thank you.

[2020-06-22 18:22] advay26-zz opened #9704 "Search CLI Tool for NuGet.exe"
This project is a search tool available through the command line for NuGet.exe that allows users to query the NuGet API and see its search results.

- [x] Learning how to query a NuGet server endpoint

- [x] Writing a feature spec for this issue

- [x] Figuring out how to consolidate and display search results from the queries

- [x] Figure out how to handle search results from multiple sources

-

[2020-06-22 18:37] dseefeld opened #9705 "Invalid Nuget.Build.Tasks.Console package when building from source"
## Details about Problem

Building Nuget.Build.Tasks.Console in source-build results in invalid contentFiles in the generated package.  Trailing backslashes in the PackagePath on the two lines linked below cause a double slash in the output package.  Related to https://github.com/NuGet/Home/issues/7004

https://github.com/NuGet/NuGet.Client/blob/784274cc9b2002ca73055e8134064261118d8a01/src/NuGet.C

[2020-06-22 20:09] rrelyea commented on #9705
@dominoFire
cc @jeffkl @nkolev92

[2020-06-22 20:43] deAtog commented on #9596
A workaround for this issue is to generate a .props file after the build completes and write the Version and or PackageVersion properties to it. Then include the .props file at the top of your .csproj file if it exists. While sadly this does not fix the production of the `obj/project_assets.json` it does produce a correct `obj/<Configuration>/<Project>.nuspec` file which is used to generate the pa

[2020-06-22 23:01] vsfeedback opened #9706 "NuGet should not apply binding redirects for class library projects"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1057603/adding-or-updating-nuget-packages-creates-appconfi.html)._

---
adding or updating nuget packages creates app.config files for dll projects.

dll projects dont need app.config files. These files cause needless source control churn, so I delete them before commit.  I

[2020-06-22 23:06] nkolev92 commented on #9680
@archanasoni

Adding extra files in the package, adding logic to pivot on a license based on a culture is non trivial.

Including all languages in a single file shouldn't cause any problems from a legal perspective, which really is our goal.

Additionally, the licenses feature has been available starting with 4.9 (15.9), so over 1.5 years now, https://docs.microsoft.com/nl-nl/nuget/release-notes/n

[2020-06-23 00:54] loic-sharma commented on #9667
The spec [`Publishing and Consuming Symbols and Source for Debugging`](https://github.com/dotnet/designs/blob/a1ac819db2de04d5157707c9e91ae6daad5603c5/accepted/2020/diagnostics/debugging-with-symbols-and-sources.md#symbol-packages) mentions:

That approach seems less intrusive than adding functionality to `dotnet restore`. Could you elaborate why you'd prefer to add this to `dotnet restore` instea

[2020-06-23 00:57] heng-liu opened #9707 "Use old NuGet.Build.Tasks.Pack package in our repo will pack incorrect nupkgs"
In dev, we use 4.9.2 for package NuGet.Build.Tasks.Pack.
But it doesn't contain the right logic in recognizing net5.0 TFM. So the nupkgs we generated and shipped to dotnet are incorrect (treating net5.0 as full framework)

[2020-06-23 01:11] #9707 closed, assigned to nkolev92, heng-liu

[2020-06-23 02:02] nkolev92 commented on #9668
MultiSourcePackageMetadataProvider is not in the NuGet.Protocol assembly.

Is the scope of this MultiSourcePackageMetadataProvider and the likes or something in NuGet.Protocol itself?

[2020-06-23 09:54] archanasoni commented on #9680
@nkolev92 I don't think support for License for each locale is non trivial. It's very common and genuine requirement specially where English is not so popular.

As I said problem in clubbing all translated License file into 1 is- usability. Just think you know only Spanish and to read License Agreement of Spanish you have to scroll down 100 Page..

In open source world this requirement wouldn't ha

[2020-06-23 16:48] erdembayar opened #9708 "PackageDependencyGroupConverter taking about 8% of thread runtime"
See screenshot, it's using JObject. Changing this one may not improve memory consumption but reduce runtime on large solutions. Improvement might be not much but worth doing it.

[image.png](https://images.zenhubusercontent.com/5eb1d84a3cd56675c3efe510/94336614-fab5-4ea5-8c8a-41bb9514b2f5)

Related to [#8352](https://github.com/NuGet/Home/issues/8352).

[2020-06-23 17:02] laurawalker opened #9709 "Output of dotnet list package --outdated, when used with VstsCredentialProvider, is very noisy"
## Details about Problem
When:
- using the dotnet list package --outdated command
- with a private Azure DevOps nuget feed that requires authentication,
- and with the VstsCredentialProvider (https://github.com/Microsoft/artifacts-credprovider/) installed (from the powershell installation script)

...The output of dotnet list package is interspersed with many instances of the same log messages:

i

[2020-06-23 17:41] heng-liu opened #9710 "runtimeconfig.json file is missing when pack NuGet.Build.Tasks.Console in TFM net5.0"
During insertion into dotnet/sdk, the build from dotnet side failed, complaining NuGet.Build.Tasks.Console.runtimeconfig.json missing for net5.0.
We need to include this file when packing for net5.0.

[2020-06-23 18:10] sbanni opened #9711 "VSOE saving package sources in tools options will overwrite credentials"
Because we are not remoting the credentials across when we save from the dialog it will think that they were changed and overwrite the original values.

Proposed solution is to create a transactional object to save the sources that can be more configurable.

[2020-06-23 18:18] tmat commented on #9667
I'm not sure why would it be intrusive. It's an optional parameter, the default behavior doesn't change. Another command/tool would work too, but it would likely need to reimplement some of the logic that restore does and would also require devs to know about another thing.

Isn't it just copying the snupkg file to a directory?

[2020-06-23 20:01] rrelyea commented on #7814
We'll need to investigate the multiple accounts scenario for codespaces as part of this as well.

[2020-06-23 20:08] rrelyea commented on #9244
NuGet inserted v 5.7.0.6665 into the VS Master branch (for preview 4) Monday: https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/256263
(last week it was inserted into Preview3 branch, but VS-AACP fix isn’t in P3)

So today's Int Preview build will include all 3 fixes in the same branch for the first time.

This will make VS-AACP scenarios where your account to log into codespaces is the s

[2020-06-23 20:13] Dan-True commented on #4254
Any progress on this? We're also keen to pack any sort of files, in a docker container built on linux. I will try the various .csproj workarounds that are being suggested.

[2020-06-23 20:41] #9710 closed, assigned to heng-liu

[2020-06-23 21:23] ET3D-ET3D commented on #8373
I just encountered this message and read this thread. Turned out that I had an empty entry in the path. That is, ;; -- two semicolons with nothing in between. That was enough to freak nuget out.

[2020-06-23 22:07] nkolev92 commented on #9094
Hey @MaceWindu

So I looked into the repro.
The package in question mark all the packages as BuildAction="None" and CopyToOutput=False.

If you inspect the solution explorer with the new projects, you can see that the content files are wired in.
If you inspect the solution explorer with old PackageReference projects, they are not displayed.

If you change the action to Compile, you will see that b

[2020-06-23 22:07] #9094 closed, assigned to nobody

[2020-06-23 22:10] nkolev92 commented on #8315
Another confusion by the existence of arrow keys. Customer expected priority: https://developercommunity.visualstudio.com/content/problem/1063077/cannot-installrestore-nuget-packages-via-manage-nu.html?childToView=1086813#comment-1086813

[2020-06-24 03:39] heng-liu opened #9712 "Remove using specific version when downloading dotnet for testing"
When running configure.ps1/runFuncTest.sh, the downloading of master branch failed as following:
[code]
We need to figure out how often the failure is.
For now, we use specific version instead of latest version.
When it's confirmed that the latest version will be available in a stable status, we should remove the workaround.

[2020-06-24 03:47] heng-liu opened #9713 "Dotnet master branch latest version is unavailable"
When running configure.ps1/runFuncTest.sh, the downloading of master branch failed as following:

[code]

[2020-06-24 05:29] loic-sharma commented on #9667
Maybe intrusive was the wrong word. I agree that your proposal wouldn't break the existing customer experience. However, I'm concerned that this proposal may "complicate" NuGet restore into being an even more complex beast. I would push to keep this functionality as a separate tool unless there's strong value in making this a first-class NuGet experience.

From my understanding, this tool could be

[2020-06-24 08:27] v-nancyj opened #9714 "[Test Failure] Fail to download .NET Core SDK with version 5.0.100-preview.7.20323.3"
## Details about Problem

**Affected Dotnet SDK:** 5.0.100-preview.7.20323.3
**Installation steps:** Windows-10-Enterprise-RS5

## Repro steps:
1. Create a Powershell script named "Test.ps1" with below contents.
[code]

2. Open Task Manager.
3. Navigate on the main menu to File | “Run new task.”.
4. In the Open textbox type ‘**Powershell -ExecutionPolicy Bypass**’.
5. Enable the option “Create thi

[2020-06-24 08:57] chris579 commented on #4254
It’s possible already. See the [docs](https://docs.microsoft.com/en-us/dotnet/core/tools/custom-templates) for reference. IMO this issue can be closed.

[2020-06-24 09:10] anangaur commented on #8087
Thanks @johnkors, @digitalcoyote for detailed comments and suggestions. Super helpful.

 /cc: @drewgillies

[2020-06-24 09:27] cezarypiatekGC commented on #5895
I'm passing additional parameters via ` /p:` and it's working.

[code]

[2020-06-24 15:50] Duranom commented on #3788
Can this be resolved soon? When is this getting planned? Any time at least before .NET 5 comes out?
It is causing for some battles between CI reporting packages out of date every now and then because someone keeps incidentally updating through the UI and forgetting to update the proper projects. Someone even raised the topic to reintroduce the nightmare Paket thing to tackle it.

[2020-06-24 16:59] #9713 closed, assigned to nobody

[2020-06-24 17:14] tmat commented on #9667
Reading the info from `project.assets.json` would work. The tool needs to work and understand packages, since we want to store the PDBs in the package cache. This is so that they don't need to be downloaded every time the build output directory is cleaned.

So yes, it could be a tool that runs after restore and uses restore's outputs as its inputs. Still, I believe it would be more convenient for

[2020-06-24 19:57] tebeco commented on #4254
You might be right here, just point points though:

The docs does not mentions `PublishBuildOutput` as `IncludeBuildOutput` did not worked, especiallly if all you do is posting a link and "It's here, please close"
=> does not always work

Having to guess that the page about `custom-template` would help doing `third part vendor` packaging and `dotnet pack` without packing `dotnet build` output is n

[2020-06-24 21:41] heng-liu commented on #9597
Hi @Tyler-IN, could you try the following steps?
1.check the version by running  ‘dotnet --version’, to see if it's 3.1.200 or later.
2. change the sequence, from "dotnet add nuget " to "dotnet **nuget add** ".
I tried the following and it was successfully added.
`dotnet nuget add source "https://repo.url/here/index.json" --name wtf --username wtf --password wtf --store-password-in-clear-text --co