[2022-08-14 02:02] lonix1 commented on #12013
Respectfully disagree - **sometimes** it's not important at all. And it should be up to us to decide how to run our businesses.

Our use case: we use a private nuget server (*baget*) inside our LAN. There is no need for TLS in this case - so NU1803 is irrelevant.

There should be a switch e.g. `--allow-http` to avoid this problem.

[2022-08-14 07:16] YoshiRulz opened #12021 "[Bug]: "An item with the same key has already been added" when migrating to CPM with `ProjectDependencies` in solution file"
### NuGet Product Used

dotnet.exe

### Product Version

.NET SDK 6.0.400 from AUR

### Worked before?

unknown

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. take [sample project](https://github.com/YoshiRulz/Samples/tree/repro-12021/CentralPackageManagementExample) with https://github.com/YoshiRulz/Samples/commit/9a0e83a418d1e18d7cf754e2b8df3e612b51dc09, observe b

[2022-08-14 14:47] Zastai commented on #11822
And just to  make it clear: I am most definitely _not_ saying there is no problem here. I'd still call it broken by design given that there are 2 package sources present in a clean SDK install, meaning NU1507 always pops up in a clean CI build:

\path\to\foo.csproj : warning NU1507: There are 2 package sources defined in your configuration. When using central package management, please map your pa

[2022-08-15 02:30] lonix1 commented on #12013
I believe the safe [syntax](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/errors-warnings#nowarn) is `<NoWarn>$(NoWarn);NU1803</NoWarn>`

[2022-08-15 14:28] dtivel commented on #12017
@RVink, thank you for the repro steps.  I have reproduced the behavior and will investigate further.

In the meantime, you can disable signed package verification during restore operations by setting environment variable `DOTNET_NUGET_SIGNATURE_VERIFICATION` to `false`.  This will enable you to use .NET 6.0.400 SDK without the restore warning.  Note that signed package verification is generally di

[2022-08-15 16:59] mthalman commented on #12017
This would look something like the following in your Dockerfile:

[code]

That will override this value:

https://github.com/dotnet/dotnet-docker/blob/7cf01d82858fcc3824574fb92580c4151954699a/src/sdk/6.0/alpine3.16/amd64/Dockerfile#L12

[2022-08-15 18:06] jaredpar opened #12022 "Regression, .400 msbuild reports error on duplicate PackageVersions"
### NuGet Product Used

MSBuild.exe

### Product Version

6.0.400

### Worked before?

yes

### Impact

I'm unable to use this version

### Repro Steps & Context

After upgrading to 6.0.400 version of SDK, dotnet restore fails on all our project. We had (benign) duplicate entries. This worked fine on 6.0.302, but now on 6.0.400 this results in build failures.

### Steps to Reproduce

https://githu

[2022-08-15 18:06] jaredpar commented on #12022
Copied from https://github.com/dotnet/msbuild/issues/7886

This bug is causing developers to revert updates to Visual Studio.

[2022-08-15 20:15] nkolev92 commented on #11090
Reopening this.
The idea isn't so much that this would save a lot of measurable CPU time, but rather the fact that it reduces contention for the UI thread and thus indirectly affects threadpool consumption as we still have places where we try to read this synchronously.

@adrianvmsft Also provide some links that'd allow us to read all this information in an async way, so fixing this might be an ea

[2022-08-15 20:16] nkolev92 commented on #11090
I've unassigned @zivkan from this for now, but you can pick it up if you want it :D

[2022-08-15 20:17] nkolev92 commented on #11090
CPS has a different way of [caching](https://devdiv.visualstudio.com/DevDiv/_git/CPS?path=/src/Microsoft.VisualStudio.ProjectSystem.VS.Implementation/Build/SolutionInformationService.cs&version=GBmain&line=230&lineEnd=230&lineStartColumn=35&lineEndColumn=70&lineStyle=plain&_a=contents). There might be some async code made available soon.

[2022-08-15 22:23] nkolev92 commented on #12018
Hey @sify21.

Thank you so much for the issue and the code contribution.
It is unfortunate that we have this typo in our formatter code.
Unfortunately we cannot take this change because the assets file is used for some performance optimizations, and this would be a breaking change.

[2022-08-15 22:23] #12018 closed, assigned to nobody

[2022-08-15 22:31] nkolev92 commented on #12010
Assigning to myself as hot seat to verify the repro.

[2022-08-15 22:35] nkolev92 commented on #12008
Team Triage: Assigning to check whether the PM UI might have the same potential issue.

[2022-08-15 22:40] nkolev92 commented on #12003
Team Triage:

This is expected behavior.
When packing a nuspec file through a project, only 3 properties are relevant as documented in https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-using-a-nuspec-file.

The fact that the nuspec is near a project file merely means that the project file can be used for specifying the properties.

Given that the spec from nuget spec is not

[2022-08-15 22:45] nkolev92 commented on #11978
Team Triage: Pulling into this sprint to analyze in more detail whether there's truly a bug here with .NET Framework projects, or whether the package can be authored differently.

[2022-08-15 22:47] nkolev92 commented on #12012
Team Triage: `dotnet list package` is offline by default. When adding vulnerable and deprecated we explicitly tried to keep it that way. restore itself is not offline, so this'd be breaking change/we'd be breaking the offline promise of the command.

[2022-08-15 22:47] #12012 closed, assigned to nobody

[2022-08-15 22:50] nkolev92 commented on #9747
Team Triage: dotnet is only meant to work with SDK based projects, and given that these projects are not SDK based, the dotnet based commands can't support them.

[2022-08-15 22:50] #9747 closed, assigned to nobody

[2022-08-15 23:00] JosephNguyenDev opened #12023 "[Bug]: After Migration from package.config to PackageReference implementation, Build works, but Rebuild fails"
### NuGet Product Used

MSBuild.exe, NuGet.exe

### Product Version

.NET Framework 4.6.2

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

I was on a project using .NET Framework 4.6.2 and was still using package.config. I used the migration tool to migrate the project to us ProjectReference instead. The project build correctly, but when I

[2022-08-16 00:13] heng-liu commented on #4413
We end up with updating docs in https://github.com/NuGet/docs.microsoft.com-nuget/issues/2822.
Please refer to the spec https://github.com/NuGet/Home/blob/dev/designs/Consolidate-NuGetConfig_OnLinux.md for more details.
Close as fixed.

[2022-08-16 00:13] #4413 closed, assigned to heng-liu

[2022-08-16 00:13] heng-liu commented on #5555
We end up with updating docs in https://github.com/NuGet/docs.microsoft.com-nuget/issues/2822.
Please refer to the spec https://github.com/NuGet/Home/blob/dev/designs/Consolidate-NuGetConfig_OnLinux.md for more details.
Close it as fixed.

[2022-08-16 00:13] #5555 closed, assigned to heng-liu

[2022-08-16 01:04] birgithi opened #12024 "[Bug]: Remove check for nugetrecommendpkgs flight in 16.11"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

16.11

### Worked before?

Will stop working after VS 17.4 release

### Impact

It's more difficult to complete my work

### Repro Steps & Context

We will stop using the nugetrecommendpkgs flight starting after VS 17.4 release, so we also need to remove the check for the nugetrecommendpkgs flight in previous LTS ver

[2022-08-16 01:05] birgithi opened #12025 "[Bug]: Remove check for nugetrecommendpkgs flight in 17.0"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

17.0

### Worked before?

Will stop working after VS 17.4 release

### Impact

It's more difficult to complete my work

### Repro Steps & Context

We will stop using the nugetrecommendpkgs flight starting after VS 17.4 release, so we also need to remove the check for the nugetrecommendpkgs flight in previous LTS vers

[2022-08-16 01:06] birgithi opened #12026 "[Bug]: Remove check for nugetrecommendpkgs flight in 17.2"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

17.2

### Worked before?

Will stop working after VS 17.4 release

### Impact

It's more difficult to complete my work

### Repro Steps & Context

We will stop using the nugetrecommendpkgs flight starting after VS 17.4 release, so we also need to remove the check for the nugetrecommendpkgs flight in previous LTS vers

[2022-08-16 01:47] nkolev92 commented on #12010
I have validated this. It reproes with all NuGet tooling and on the latest preview version.
Root cause could be https://github.com/NuGet/Home/issues/8193.

I'll debug tomorrow and confirm it.

[2022-08-16 08:31] DavidRadoorHummel commented on #9170
This would be very cool to have. Especially in an automated environment where you want to add a source

[2022-08-16 08:42] AlekseyMartynov opened #12027 "[Bug]: Package signature validation fails on Linux due to missing 'thawte_Primary_Root_CA' in codesignctl.pem"
### NuGet Product Used

dotnet.exe

### Product Version

sdk:6.0.400

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Dockerfile

[code]

[package.nupkg.zip](https://github.com/NuGet/Home/files/9349031/package.nupkg.zip)

[code]

Log:
[code]

I found that codesignctl.pem contains 2 thawte certs:
- CN=thawte Primary Root CA - G2, OU

[2022-08-16 08:54] RVink commented on #12017
@dtivel Cool. Thanks for your help :)

@richlander Maybe it is good to know that we had `ThreatWarningsAsErrors` enabled. This caused our builds to fail the day after the 6.0.400 release. In our case disabling the setting caused the verification warning to be less in our face. For example it doesn't shown in the Azure DevOps build summary. The only way to find it is to actively seach through the b

[2022-08-16 12:25] Montago commented on #7432
This aint working for me.

I get this error : **System.IO.FileLoadException: 'Could not load file or assembly 'Microsoft.Bcl.AsyncInterfaces, Version=1.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies.**

Even after enabling Automatic Binding Redirects.

Microsoft.Bcl.AsyncInterfaces version 6.0.0 is already present.

[2022-08-16 13:20] bigjonroberts commented on #4413
Documenting a poor workaround is not a "fix"

[2022-08-16 13:52] madcboyum commented on #12017
We are facing the same issue, with DevExpress nuget packages. Here is one of many similar errors we got when running docker compose in our Azure DevOps pipeline:

The workaround proposed by @dtivel solved our issue for now. Thanks!

[2022-08-16 17:03] #11992 closed, assigned to martinrrm

[2022-08-16 18:19] nkolev92 commented on #12010
I debugged and I have confirmed that it's a dup of https://github.com/NuGet/Home/issues/8193.

While that issue is older, this issues captures a user facing problem, so I'll prefer keeping this open.

[2022-08-16 18:25] nkolev92 commented on #8193
Closing as duplicate of https://github.com/NuGet/Home/issues/12010.

While this is the older issue, the other one talks about a real customer problem.

[2022-08-16 18:25] #8193 closed, assigned to nkolev92

[2022-08-16 20:19] campersau commented on #12013
We have an internal on premise Azure DevOps Server which hosts our internal NuGet feed for which we would now need a HTTPS certificate to prevent the warning. Since we are using a .local domain this isn't trivial as we first would have to migrate it.

[2022-08-16 23:11] timmydo commented on #12015
Should this throw when the hostname is localhost?

[2022-08-17 08:09] John0King opened #12029 "[Feature]: using fixed string instead of GUID for *.psmdcp file name"
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

the name change cause `_rels/.rels`  file change,  and that also cause  .nupkg file change,   and for someone who using local folder as nuget source ,
then itcause `git`  keep track the same .nupkg  every time you pack it (especially，when `<GeneratePackageOnBuild>True<GeneratePackageOnBuild>`).

### Additional Context and Details

[2022-08-17 08:26] v-longmin opened #12030 "Trim the input in the search box for “Installed” and “Updates” tab"
### NuGet Product Used

NuGet.exe

### Product Version

Dev\6.4.0.47

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

## Installation steps:
1. Install VS Main\32916.354 from: [Pipelines - Run main-32816.354 (visualstudio.com)](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=6568078&view=ms.vss-build-web.run-extensions-tab

[2022-08-17 10:57] madcboyum commented on #12017
I'd like to confirm that after the fix, the issue is resolved for us. We have re-enabled the signature verification in our Dockerfile, and our builds are completing again without issues.

[2022-08-17 10:58] alex-jitbit opened #12031 "[Bug]: Nuget restores Windows assembly on some Linux distros (SqlClient)"
### NuGet Product Used

dotnet.exe

### Product Version

.NET SDK (reflecting any global.json):  Version:   6.0.105

### Worked before?

Worked on NET5

### Impact

I'm unable to use this version

### Repro Steps & Context

The SqlClient team has directed me here, this is related to the bug: https://github.com/dotnet/SqlClient/issues/1643

For a NET6 app that uses SqlClient (both `System.Data.SqlC

[2022-08-17 11:12] mika76 commented on #12015
Totally agree with this - we have a totally private nuget server which does not even connect to the internet so please don't make me have to secure it for no reason. This should be an operational decision and not something a tool forces on you.

[2022-08-17 11:50] ChristianHaefner opened #12032 "[Bug]: VS2022: Random NU1301 error on restore packages"
### NuGet Product Used

MSBuild.exe

### Product Version

Version 17.2.1+52cd2da31

### Worked before?

Version 16.11.2+f32259642

### Impact

I'm unable to use this version

### Repro Steps & Context

Currently we move from VS2019 16.11.x to VS2022 17.2.x. When running a pipeline on a build agent (ADOS 2020 On-Prem and VS2022 17.2.x) we face a NU1301 **randomly, but frequent in always different s

[2022-08-17 14:53] gaborposz commented on #11967
Hi,
I've also encountered the same issue lately, so let me add my 2 cents:
1. The NU1008 error messages are not reliable, sometimes the compilation is successful, sometimes it's failing.
2. I found a **workaround** (if anyone needs it): If the version is updated in the consumer project to nothing (e.g.: `<PackageReference Update="ILRepack.Lib.MSBuild.Task" Version=""/>`), then it can be centrally

[2022-08-17 16:15] jeffkl commented on #11822
You should be able to add this to your [`Directory.Build.props`](https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build?view=vs-2022#directorybuildprops-and-directorybuildtargets):

[code]
We are working with the .NET SDK folks to see how we can get the fallback folder (C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\) configured in such a way that it works with package sou

[2022-08-17 16:25] jeffkl commented on #9803
@Piedone thanks for the detailed performance measurements.  During a full restore, I would not necessarily expect static graph-based restore to be too much faster.  The main optimization that static graph-based restore uses is an out-of-proc system for evaluating all of the MSBuild projects which uses some special feature flags to improve performance as well as server GC.  Once the projects have b

[2022-08-17 16:41] jeffkl commented on #12021
@YoshiRulz I'm unable to reproduce the issue.

[code]

Can you supply a binlog by specifying the `/bl` command-line argument and attaching `msbuild.binlog` for the broken build case please?

[2022-08-17 16:43] jeffkl commented on #11967
@gaborposz can you supply a binlog by specifying the `/bl` command-line argument and attaching `msbuild.binlog`?  Something else must be setting the `Version` and I'd like to understand more about what's going on.

[2022-08-17 17:00] Zastai commented on #11822
An important element on the nuget side is surfacing a command-line way of adding package mappings. Right now, our CI environment creates a blank nuget config with `<clear/>` fir the sources, and then uses the command line to add sources (different for main vs dev branches vs tags). This can add more than one source, hitting NU1507. Having a command-line way to configure the mapping (whether as ext

[2022-08-17 17:27] YoshiRulz commented on #12021
No because it's building correctly after a .NET SDK update. Hopefully [`msbuild.binlog`](https://github.com/NuGet/Home/files/9364912/msbuild.binlog.gz) from my real project is insightful, but I'll try to make a new repro project too.

[2022-08-17 17:40] Erarndt commented on #11090
I'm currently doing work to expose free-threaded methods of requesting that information. We should chat so that we make sure this scenario is covered.

[2022-08-17 18:11] Piedone commented on #9803
I see, thanks for the explanation!

[2022-08-17 20:01] nkolev92 commented on #11993
Hi @ChadBH,

This is an unfortunate side-effect of the evolution of .NET Core.

Originally the framework was shipped as packages, but that caused a lot of conflicts and servicing issues, so as such in .NET Core 3.x, we completely went away from the approach of distributing the framework as packages.

We have strategically chosen not to allow NuGet to know about platform specific packages, integrat

[2022-08-17 20:01] #11993 closed, assigned to nobody

[2022-08-17 20:04] nkolev92 commented on #11995
@Killfrra I'm not certain how to intepret your last comment.

Are any you still facing any issues?

[2022-08-17 20:13] nkolev92 commented on #12022
Starting with 6.3 of NuGet, 17.3 of VS and .NET SDK 6.0.400, NuGet warns when duplicate PackageReference, PackageDownload and PackageVersion items are detected. This behavior was added to ensure consistency and predictability for NuGet restores.

https://docs.microsoft.com/en-us/nuget/release-notes/nuget-6.3#summary-whats-new-in-63

You may choose to:
- Address the warnings removing the duplicate

[2022-08-17 20:15] nkolev92 commented on #12023
Hey @JosephNguyenDev,

Thanks for trying out the migrator to PackageReference.

Did the migrator raise any warnings? Any chance we get some sort of a repro so that we can determine whether NuGet did the expected?

For context PackageReference would normally work well if you have packages that without install scripts or the likes, but there are some cases in which it might need some more manual wor

[2022-08-17 20:20] nkolev92 commented on #12027
cc @dtivel @richlander

Is this expected?
Should the certifcate that @AlekseyMartynov is calling out be added to the SDK?
Should this issue be moved to another repo?

[2022-08-17 20:25] nkolev92 commented on #12029
Hey @John0King,

I'm not sure I understand your concern.

Can you let us know what you are trying to achieve and the commands you were running and the effect of the problems you encountered.

[2022-08-17 20:47] nkolev92 commented on #12032
Thanks for filing this @ChristianHaefner

NU1301 was added to allow NuGet to gracefully fail when a source cannot be accessed.
Before NuGet would fail and not print an error code, so that'd make it difficult for us to provide instructions on how to deal with these issues and that was especially difficult in Visual Studio.
So, basically NU1301 is a new error code that is now associated with an erro

[2022-08-17 20:59] nkolev92 commented on #12030
@v-longmin
I tried to repro this 5 times and no luck :(

How often does this issue repro?
Have you attempted reproing it with Visual Studio 17.3 or 17.2?

[2022-08-17 21:18] nkolev92 commented on #12031
Hey @alex-jitbit

I noticed that when you publish you don't specify the RuntimeIdentifier, have you tried specifying the runtime identifier and seeing if the app works?

Can you help me understand which assembly is the one with the issues?
I don't think it's NuGet choosing the windows one explicitly, NuGet will use the lib one if there's no runtimeidentifer specific, so NuGet is just using what's

[2022-08-17 21:37] erinlah-ms commented on #12022
Thanks for the update @nkolev92 . Any tips on the larger point (that sdk updates occasionally bring breaking changes, so how to use Visual Studio with dotnetsdk in presence of such breaks?). Unlike dotnetsdk, visual studio does _NOT_ appear to support side by side installation (e.g. 17.2.7 parallel with 17.3.0), preventing me and my team from using the VS version that matches our dotnetsdk.

[2022-08-17 21:51] nkolev92 commented on #12022
Unfortunately I don't have any suggestions at this point.
NuGet has this  particular challenge as well because it ships in both .NET SDK and VS and they have different versioning schemes.

We are considering change waves for future diagnostics introduced but that won't fully address the problem, rather reduce its frequency.

[2022-08-17 22:54] dtivel opened #12033 "Signing: use separate fallback certificate bundles for code signing and timestamping"
NuGet signed package verification on Linux and macOS uses the [fallback certificate bundle that ships in the .NET SDK](https://github.com/dotnet/sdk/pull/25687).  Some recent issues have pointed out that this certificate bundle lacks some root certificates and results in "untrusted root" warnings/errors during signed package verification.

A goal of enabling signed package verification on non-Wind

[2022-08-17 23:07] dtivel commented on #12027
Thank you, @AlekseyMartynov.  Clear bug, repro steps, and investigation.

.NET containers were updated to disable NuGet signed package verification by default via https://github.com/dotnet/dotnet-docker/pull/4000.  You can either explicitly disable signed package verification during restore operations with your current container by setting environment variable to `false`:
[code]
...or pull an upda

[2022-08-17 23:07] #12027 closed, assigned to nobody

[2022-08-18 00:08] JosephNguyenDev commented on #12023
Hi @nkolev92, thanks for getting back to me. The migrator didn't raise any warnings on rebuild other than the metadata for the dlls and exe's were missing. As far as reproducing, I don't think I have the capacity to. I'm working on proprietary code, and am very new to the codebase and csharp development. I thought we could just migrate to using PackageReference, but my team ended up making the dec

[2022-08-18 00:11] nkolev92 commented on #12023
I understand.

At this point, I don't think we have enough to continue investigating.
We can leave this issue open for some time. If you do have more information please share with us and we'd be happy to take a look.

[2022-08-18 00:36] dtivel opened #12034 "[Bug]: warning for untrusted author-signing certificate when installing package from non-NuGet.org package source"
### NuGet Product Used

dotnet.exe

### Product Version

.NET 6.0.400 SDK

### Worked before?

.NET 6.0.300 SDK

### Impact

It's more difficult to complete my work

### Repro Steps & Context

## Repro steps

On Ubuntu 22.04 LTS:

1. Execute in a shell window:

[code]

    This will install NServiceBus.Extensions.Hosting 1.1.0 from <https://nuget.org>.

2. Verify that the previous step succeeded a

[2022-08-18 00:42] dtivel commented on #12017
Thanks for confirming, @madcboyum!

There are 2 separate issues here:

* https://github.com/NuGet/Home/issues/12033:  This is an issue we're working implement.  It is the root cause for this issue.
* https://github.com/NuGet/Home/issues/12034:  This is actually a pre-existing bug (unrelated to signed package verification on Linux) but was exposed by the previous issue.

.NET containers were update

[2022-08-18 00:42] #12017 closed, assigned to dtivel

[2022-08-18 00:47] dtivel opened #12035 "[Bug]: `--help` doesn't show help for `dotnet nuget add source`"
### NuGet Product Used

dotnet.exe

### Product Version

.NET 7 Preview 7 SDK

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Execute:  `dotnet nuget add source --help`

Expected result:  help tailored to `dotnet nuget add source`

Actual result:  help tailored to `dotnet nuget`

Observation:  the output says, "`Use "dotnet nuget [comm

[2022-08-18 01:08] John0King commented on #12029
@nkolev92   I  want a local folder  to be a nuget source (the folder and the  .nupkg file need to store in git repo),
but every time I build my project , the *.nupkg is changed ,   I find all the binaries are unchanged ,  so  I'm looking into to `.nupkg.zip` ,  turn's out  the onlything change is that the name of the `*.psmdcp` file  and the metadata contains it's name (eg. .rels)

so every time y

[2022-08-18 06:45] RevZero commented on #9142
I needed a while to figure this out as well, because at the time of this writing, the nuspec reference says that **type** is optional.

[2022-08-18 07:44] alex-jitbit commented on #12031
Yes, the app is "portable" so people can download it from our website and use with whichever OS they prefer. That's why we don't specify runtime when building

The assembly with the issue is `System.Data.SqlClient` (ironically, a MS's lib) if that's what you're asking. And according to [this comment](https://github.com/dotnet/SqlClient/issues/1643#issuecomment-1193844940) "the nuget restore proces

[2022-08-18 08:17] v-longmin opened #12037 "[Bug]: [Cross-Platform Sign Verify]Failed to add a package reference to the test package on Linux"
### NuGet Product Used

dotnet.exe

### Product Version

.Net SDK 7.0 latest

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

## Repro Steps
1. Execute the [Pre-testing steps](https://microsoft.sharepoint.com/teams/NuGet/_layouts/OneNote.aspx?id=%2Fteams%2FNuGet%2FTeam%2FManual%20tests%2FTest%20Cases&wd=target%28Package%20Signing%2

[2022-08-18 10:58] YoshiRulz commented on #12021
[repro project](https://gitlab.com/YoshiRulz/hawk-cpm-repro)
I wasn't able to adapt our Nix-based CI to this new project, as it needs a special `dotnet restore` wrapper to work with Nix' network sandboxing. [This `msbuild.binlog`](https://github.com/NuGet/Home/files/9372781/msbuild.binlog.gz) is from my own machine.

[2022-08-18 12:25] v-luzh opened #12039 "[Bug]: [Cross-platform Sign Verify] A redundant “error: Value cannot be null” shows after running command “dotnet add package” on Windows"
### NuGet Product Used

dotnet.exe

### Product Version

.NET SDK Version: 7.0.100-rc.2.22417.1

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

#### Details about Problem
.NET SDK Version: 7.0.100-rc.2.22417.1

#### Detailed repro steps
1.	Execute the [Pre-testing steps](https://microsoft.sharepoint.com/teams/NuGet/_layouts/OneNote.asp

[2022-08-18 12:29] v-luzh opened #12040 "[Bug]: [Cross-platform Sign Verify] No “X.509” info shows after running command “dotnet restore”"
### NuGet Product Used

dotnet.exe

### Product Version

.NET SDK Version: 7.0.100-rc.2.22417.1

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

#### Detailed repro steps
1.	Execute the [Pre-testing steps](https://microsoft.sharepoint.com/teams/NuGet/_layouts/OneNote.aspx?id=%2Fteams%2FNuGet%2FTeam%2FManual%20tests%2FTest%20Cases&wd=tar

[2022-08-18 12:34] v-luzh opened #12041 "[Bug]: [Cross-platform Sign Verify] Package filed to tampered after running command “pwsh -Command Compress-Archive” on Windows"
### NuGet Product Used

dotnet.exe

### Product Version

.NET SDK Version: 7.0.100-rc.2.22417.1

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

#### Details about Problem
.NET SDK Version: 7.0.100-rc.2.22417.1

#### Detailed repro steps
1.	Execute the [Pre-testing steps](https://microsoft.sharepoint.com/teams/NuGet/_layouts/OneNote.aspx?id=%2Fteams%2FNuGet

[2022-08-18 12:42] mthalman commented on #12017
Here's the announcement of the rollback in the SDK container images: https://github.com/dotnet/dotnet-docker/discussions/4006

[2022-08-18 14:13] mhlindstr commented on #12031
It seems the problem isn't necessarily on the NuGet side of things. When publishing a project depending on `System.Data.SqlClient` on Linux with .NET 6.0.108, we seem to end up with the stub `System.Data.SqlClient.dll` (which always throws the platform exception) and platform-specific artifacts in the `runtimes` directory.

When then running the application using the .NET 6.0.8 runtime, for some r

[2022-08-18 14:15] ChristianHaefner commented on #12032
Thanks for pointing out, that NU1301 is a new error code and that the issue possibly already exists in our environment with VS2019/msbuild16, but doesn't get raised as an error there.

Unfortunately I'm not able to repro this on my local machine, although I did intensive tests so far. It currently only occurs in our CI randomly.

The CI consists of ADOS 2020 and VS2020 17.2.x installed. The pipeli

[2022-08-18 14:46] dtivel commented on #12041
This is expected behavior.

The package is immutable after signing it.  Adding or removing files changes the package.  Re-compressing entries can also change the package.

[2022-08-18 16:55] jeffkl commented on #9014
Closing in favor of https://github.com/NuGet/Home/issues/9015

[2022-08-18 16:55] #9014 closed, assigned to jeffkl

[2022-08-18 16:57] nkolev92 commented on #12031
Thanks for contributing @mhlindstr!

The assemblies from the `runtimes` folder will only be selected, when publish is called with a runtime identifier.

@alex-jitbit I'm not sure your app can be portable given the sql package has platform specific implementations. You have to publish with a RID to get the correct implementation of the SQL package assets.

[2022-08-18 17:00] jeffkl commented on #9021
Closing in favor of https://github.com/NuGet/Home/issues/9018

[2022-08-18 17:00] #9021 closed, assigned to jeffkl

[2022-08-18 17:01] jeffkl commented on #9522
Closing in favor of https://github.com/NuGet/Home/issues/9018

[2022-08-18 17:01] #9522 closed, assigned to jeffkl

[2022-08-18 17:02] nkolev92 commented on #12032
Interesting. Running multiple restores concurrently can work, as long as you are not trying to restore the same project in more than 1 restore, then you can hit some race conditions.

Noticed that and it's definitely peculiar. How are your sources configured? Do you use a nuget.config, or do you specify them in msbuild properties?

[2022-08-18 17:04] jeffkl commented on #9015
Test

[2022-08-18 17:06] nkolev92 commented on #12029
Ah, ok, you are looking for deterministic pack.

The pack target has up to date checks that work on the same machine.
Cross machine that's not possible at this point.

On the pack topic, it's not just the _rels folder, but also the timestamps of the dlls that affect the zip.

We attempted this at some point and we hit issues.

Duplicate of https://github.com/NuGet/Home/issues/8601.

[2022-08-18 17:06] #12029 closed, assigned to nobody

[2022-08-18 17:37] jeffkl commented on #12021
@YoshiRulz Thanks, unfortunately I'm not able to open the binlog for some reason?  Does it open in the [Structured Log Viewer](https://www.msbuildlog.com/) for you?

![image](https://user-images.githubusercontent.com/17556515/185459225-933cb72e-6cda-490e-b633-99a8cb794ce9.png)

[2022-08-18 17:47] nkolev92 commented on #12041
It seems like @v-luzh is referring to the temparing step itself failing, because it's complaining about pwsh not beign found.

@v-luzh can you try running the command starting with `Compress-Archive` in a powershell terminal instead?

[2022-08-18 17:50] YoshiRulz commented on #12021
Webapp can load it
![Screenshot_20220819_034911](https://user-images.githubusercontent.com/13409956/185461298-e709b75f-5e64-4682-9302-00eef4ae450f.png)

[2022-08-18 17:53] nkolev92 commented on #12040
Should `X.509 certificate chain validation will use the default trust store selected by .NET.` be shown on windows @dtivel?

Given that there's no other option for Windows at this point, should this ever be printed?

[2022-08-18 18:05] Killfrra commented on #11995
Yes, I still have this problem. I found a workaround but I want nuget
- not to break if the kernel has an unexpected name string
- to not pass the kernel string to the server

[2022-08-18 18:21] nkolev92 commented on #12022
Team Triage:

Closing as by design.

[2022-08-18 18:21] #12022 closed, assigned to nobody

[2022-08-18 18:26] jeffkl commented on #12021
Ah sorry I figured out that the attachment is `msbuild.binlog.gz` so I was unzipping it.  I renamed the download file and now I can open it.

I believe the problem is that you're using the `Update` guesture on the `<PackageVersion />` items but you need to use `Include`:

[code]

Other implementations of central package management use an `Update` to specify versions in a common import.  But in NuG

[2022-08-18 18:52] nkolev92 commented on #12039
Dup of https://github.com/NuGet/Home/issues/8543.

I think this is unrelated to signing

[2022-08-18 18:52] #12039 closed, assigned to nobody

[2022-08-18 18:57] YoshiRulz commented on #12021
That gives `/usr/share/dotnet/sdk/6.0.400/NuGet.targets(132,5): error : An item with the same key has already been added. Key: DotNetAnalyzers.DocumentationAnalyzers [/BizHawk.sln]`, even if I also remove `PrivateAssets="all"` from the `<PackageReference/>`s. [`msbuild.binlog`](https://github.com/NuGet/Home/files/9376635/msbuild.binlog.gz)

(I was confused by the one occurrence of `Update` in the

[2022-08-18 19:05] nkolev92 commented on #12037
Dup of https://github.com/NuGet/Home/issues/8543.

I think this is unrelated to signing

[2022-08-18 19:05] #12037 closed, assigned to nobody

[2022-08-18 19:22] nkolev92 commented on #11995
We can consider that.

As an immediate solution please consider changing the output of what the OSDescription returns to a format that wouldn't break the headers.

[2022-08-18 19:23] julealgon opened #12042 "[Bug]: NU1504:DuplicatePackageItem firing incorrectly in some situations"
### NuGet Product Used

NuGet SDK

### Product Version

6.3.0.128

### Worked before?

Visual Studio 17.2.X (introduced with the 17.3 update)

### Impact

It's more difficult to complete my work

### Repro Steps & Context

After updating to VS 17.3, we started getting NU1504 in our builds, which caused the builds to fail since we have `TreatWarningsAsErrors` enabled in the solution.

The problem a

[2022-08-18 19:49] dtivel commented on #12041
Ah, you're right.  I misunderstood the issue from the title.  @v-luzh, you either need to use PowerShell that is installed with Windows:

[code]

...or install and use [PowerShell Core](https://github.com/PowerShell/PowerShell/releases):

[code]

[2022-08-18 19:50] dtivel commented on #12041
From the screenshot, your command is failing because you're trying to use PowerShell Core, but it's not installed (or found).

[2022-08-18 19:53] dtivel opened #12043 "[DCR]: Disable signed package verification by default on Linux in .NET 7 SDK"
### NuGet Product(s) Affected

dotnet.exe

### Current Behavior

Starting with .NET 7 RC1 SDK, NuGet signed package verification during restore operations was [enabled by default on Linux](https://github.com/NuGet/NuGet.Client/pull/4727).

### Desired Behavior

Until https://github.com/NuGet/Home/issues/12033 is resolved, we need to disable signature verification by default.

### Additional Contex

[2022-08-18 20:16] julealgon commented on #12042
After playing around a bit more with this, I believe I found out what is happening (though I still don't understand why it is sometimes intermittent).

Our full `Directory.Build.props` actually contains a few more conditional sections. This is the relevant part:
[code]

I couldn't figure out why the warning was being raised, so I added a small target to one of the offending projects:
[code]
Then,

[2022-08-18 20:16] #12042 closed, assigned to nobody

[2022-08-18 20:42] julealgon commented on #12042
Originally reported here:
- https://github.com/dotnet/sdk/issues/24747

[2022-08-18 21:37] nkolev92 commented on #8407
Another report, https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1593940, https://developercommunity.visualstudio.com/t/Failed-to-apply-NuGet-Package-Manager-se/10123431

[2022-08-18 21:42] #12043 closed, assigned to dtivel

[2022-08-18 22:00] nkolev92 commented on #7016
Not clear whether we can fix this without major changes. We'd probably want to get a bunch of property values from the other build, similar to commandline.

Maybe in Visual Studio we can warn when we encounter issues like this, and at least make it actiaonable for users.

[2022-08-18 22:00] nkolev92 commented on #6786
Unsure what this is about. Closing.

[2022-08-18 22:00] #6786 closed, assigned to nobody

[2022-08-18 22:01] nkolev92 commented on #3299
I don't believe this is relevant anymore. We haven't had issues where we can't object the project name in a while, so no point in keeping this open.

[2022-08-18 22:01] #3299 closed, assigned to nobody

[2022-08-18 22:05] nkolev92 commented on #8028
This is probably done.
CLosing.

[2022-08-18 22:05] #8028 closed, assigned to dominoFire

[2022-08-18 22:38] nkolev92 opened #12044 "VSSolutionManager.EnsureInitializeAsync should not subscribe to SolutionEvents multiple times when the project initialization fails"
Say you have a large solution with many projects and EnsureInitializeAsync runs.
We get through the `InitializeAsync` part which adds listeners to the solution events and later we fail by throwing in EnsureNuGetAndVsProjectAdapterCacheAsync.

We can do one of the following:

- We already differentiate between cache initialization and overall initializaiton. It'd be cheap to just set initialize eve

[2022-08-18 23:08] jeffkl commented on #12021
@YoshiRulz you seem to have uncovered a corner case with the way NuGet gathers package references.  Your solution file is declare dependencies:

[code]

Under normal conditions, MSBuild generates a "metaproj" project in memory from the contents of a solution file and builds that.  But when your solution file declares project build ordering, it creates the metaproj in a very unique way.

This is th

[2022-08-19 02:20] v-luzh commented on #12041
@nkolev92 @dtivel , I tried the command as below. Could you please help to confirm if the output is expected with the command "Compress-Archive" after entering the PowerShell Core.
![image](https://user-images.githubusercontent.com/20632625/185528371-a09eb960-1116-48fa-9e81-600c0c519f50.png)

[2022-08-19 09:21] ChristianHaefner commented on #12032
We use a nuget.config looks like the following:

[code]

Until now, we see the errors only for the package sources `nuget-powershellgallery-proxy` and `nuget-thirdparty-repo`.

[2022-08-19 09:23] rajvalentino commented on #11995
would be great if you share the workaround for this issue.

[2022-08-19 09:39] v-longmin opened #12045 "Other versions lost after typing a version in the custom version drop-down box"
### NuGet Product Used

NuGet.exe

### Product Version

NuGet Client Dev\6.4.0.50

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

## Installations:

1. Install VS Main\32818.807 from: [Pipelines - Run main-32818.307 (visualstudio.com)](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=6579652&view=ms.vss-build-web.run-exten

[2022-08-19 10:21] v-longmin commented on #12030
@nkolev92 The issue repro ratio is 60% and reproes on when the first package of a new project is created, and the issue does not repro on 17.3 & 17.2.

[2022-08-19 12:56] alex-jitbit commented on #12031
@nkolev92 My app has to be portable b/c it's cross-platform. Also, it works fine on Ubuntu and some other distos, just SOME distors throw this error.

Also it worked perfectly fine in .NET5

[2022-08-19 14:01] dtivel commented on #12041
Within a PowerShell session `Command` seems to be a built-in alias for `Get-Command`, because they both do the same thing, which is [list available PowerShell aliases, cmdlets, and functions](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/get-command?view=powershell-7.2#example-1-get-cmdlets-functions-and-aliases).  Try executing `Command` then `Get-Command` and you'l

[2022-08-19 16:59] gaborposz commented on #11967
@jeffkl: I sent the logs directly to you via e-mail because they might contain some restricted information.
I managed to record logs (with `dotnet build -bl` command) both in the failing and in the succeeding case, but I had to do a compilation in VS2022 in order to make it succeed for the next try with `dotnet build -bl`. Without the VS2022 compilation it was failing all the time (as expected).

[2022-08-19 17:17] nkolev92 commented on #12032
Thanks for sharing that. That eliminates the commandline parameter escaping issues that can sometimes be encountered with msbuild properties.

I think the next step would be to try to collect detailed logs, potentially with a longer stack.

Can you get detailed logs from your command?
It'd be great if you can set NUGET_SHOW_STACK to `true` as well.

[2022-08-19 18:03] jeffkl commented on #11967
@gaborposz I'm not sure what's going on.  The binlogs of course don't include every import so I can't see why but MSBuild is find PackageReference items with versions:

![image](https://user-images.githubusercontent.com/17556515/185680011-54246994-6057-4488-b14e-cb5bb7f9ac66.png)

Is something in your codebase setting these versions?

[2022-08-19 18:30] AnilReddyKandula opened #12046 "System.Data.HashFunction.**** is giving Nuget Warning: NU3005"
Whenever we try to import the following nugets, it was resulting in nuget warning.
Error: ##[error]The nuget command failed with exit code(1) and error(NU3005: Package 'System.Data.HashFunction.Interfaces 2.0.0' from source '---: The package signature file entry is invalid. The central directory header field 'compression method' has an invalid value (8).

Nugets:
<PackageReference Include="System.

[2022-08-19 18:34] #12031 closed, assigned to nobody

[2022-08-19 18:35] nkolev92 commented on #12030
Ok, so just to confirm,
17.2 - OK
17.3 - OK
17.4 with latest NuGet - 60% repro.

I'll update everything and try to repro again.

[2022-08-19 19:07] nkolev92 commented on #12046
Hey @AnilReddyKandula

Looks like you are trying to install a package that appears to have been tampered with.

What's the source you are trying to install the package from?
If you download the package manually and If you run `nuget.exe verify` or `dotnet nuget verify` on it, what's the output you get?

[2022-08-19 22:39] nkolev92 commented on #12030
I'm having trouble reproing this at all.
I'll leave it for next week's hotseat to try again.

@v-longmin Any chance you can record the repro? I wonder if the machine performance is a big factor.

[2022-08-19 22:50] AraHaan commented on #12031
@alex-jitbit did you try ``dotnet publish -r linux-x64`` or ``dotnet publish -r linux-arm`` or ``dotnet publish -r linux-arm64``?

[2022-08-20 10:53] Sergio0694 commented on #10375
I just stumbled upon a scenario where `PrivateAssets="compile"` doesn't work, specifically it seems to leak an internal implementation detail of a public type into consuming assemblies, forcing them to add a NuGet reference they don't need.

Consider this scenario:

**Project A:**
[code]
[code]

**Project B, referencing A:**
[code]

This results in the following errors:

Roslyn needs to be able to

[2022-08-20 16:28] sylveon commented on #10375
This seems like a workaround for one specific issue, instead of the overall problem. For example, it would not work when trying to use `sizeof`.

It would also probably lead to turning some currently compile-time errors into runtime issues (e.g. a type has IsUnmanagedAttribute but isn't actually unmanaged. Currently Roslyn would fail compiling but with this idea it would only show up as an error a

[2022-08-21 23:57] JonDouglas commented on #10850
/cc @martinrrm @jeffkl to consider for 17.4+

[2022-08-22 06:39] John0King commented on #8601
why nuget care about the `timestamp`  or date ? shouldn't nuget only care about the binary and `version` ?

all the binary is not changed  for rebuild , but  the nuget package is changed even all the nuget property (package id, name, version, author etc.)

the name of  `<name>.psmdcp` can use sha1 or something to compute the binary to get a unchange name for unchanged binary

[2022-08-22 10:26] ChristianHaefner commented on #12032
Do you need a log only from a failing build? Currently I hadn't the chance to capture one with detailed logging, but I'll do my best.

[2022-08-22 13:04] morvoso commented on #12031
I'm getting this issue with PopOS 22 ( which is based on ubuntu I believe ).  I specify the RID and it still appears.  All my other code works fine except for this SqlClient package.

[2022-08-22 14:40] tannergooding commented on #10375
In the scheme of things, that is most interop types. Everything except for the IL primitives is a "user-defined type" and the language generally does not make assumptions about their shape or layout.

That means anything using `Guid`, `Half`, `CLong`, `Int128`, `UInt128`, `Vector*` types, custom fixed sized buffers, 3rd party interop binding libraries, etc all have the possibility of a dependency

[2022-08-22 15:28] ChristianHaefner commented on #12032
I've captured a log with a `System.NullReferenceException` which we also see during restore, but much more rarely as the error descibed above. Maybe both errors are related.

To provide the logs at a safe and private location, I opened the MS support ticket 2208220010001823 for this. Please let me know in case you have problems to access the logs.

[2022-08-22 16:24] nkolev92 commented on #8601
@John0King If the date isn't deterministic then the package content would still be different from build to build, thus not deterministic.

[2022-08-22 16:25] ChristianHaefner commented on #12032
In addition I was also able to provide a log with the "verify root directory" error to the same location. It seems that there will be no exception, since I haven't found any stacktrace.

[2022-08-22 16:33] nkolev92 commented on #10375
@Sergio0694

I don't think your scenario is equivalent.
You are referring a package that *already* exposes other types in it's public APIs. There's no feature that can fix that.

[2022-08-22 16:47] nkolev92 commented on #10375
I'm referring to the package exposing public APIs that are not declared in their own assembly. That's already happened. You can't change a package that already exists.

Say you own your own package. When you reference your dependencies, add `compile` to PrivateAssets. Then it's on you to ensure you don't expose any public APIs (at this time).

I understand that your ask is that the compiler can en

[2022-08-22 16:57] Sergio0694 commented on #10375
Ah, I see what you mean. Sure, yeah just having to manually check things on your own would be fine at first, though it seems pretty error prone and something tooling should definitely be helping with. But also, I think the scenario I mentioned earlier should also be supported in this same bucket, which it isn't today. If a type from another assembly is a private member of a public API, that should

[2022-08-22 17:01] nkolev92 commented on #10375
For all of those concerns, I think it's probably best to file an equivalent issue on Roslyn side.
NuGet never really looks at the assemblies themselves, so we can't really comment on the feasibility of those ideas.

From a package authoring perspective, I think that the package metadata supports the scenario.

[2022-08-23 07:41] gaborposz commented on #11967
@jeffkl: As I wrote, for _"integration & test related"_ packages (e.g. MinVer, Microsoft.SourceLink.GitLab, Microsoft.NET.Test.Sdk, etc.) we set the versions centrally by a .props file, provided by the **Woda.Build** and **Woda.Build.Test** packages, e.g.:
[code]
Remark: The `PrivateAssets="all"` etc. setings are there because we want to hide these technical dependencies in our product NuGet packa

[2022-08-23 14:32] yusufgungor commented on #10275
Any updates on this one, it is persisting on .net 5 as well

[2022-08-23 14:40] v-luzh commented on #12041
Hi @dtivel, we didn't use command "pwsh.exe -Command ..." since it cannot be run as below.
![image](https://user-images.githubusercontent.com/20632625/186187376-fb1d419d-9845-486e-b0a6-72bcf5c6bcd4.png)

[2022-08-23 16:11] nkolev92 commented on #11967
I can help answer the 2nd question.

If a standard (library style) package has dependencies, then it can only declare those dependencies as package dependencies, never in the props/targets files.
props/targets content will always be ignored on the commandline, but in VS, you may run into inconsistencies because of https://github.com/dotnet/project-system/issues/3734.

[2022-08-23 17:10] dtivel commented on #12041
@v-luzh, [install PowerShell](https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell?view=powershell-7.2) then retry.

[2022-08-23 17:35] mhsimkin commented on #12015
I agree with @mika76. We are running ProGet internally.

I need a way to indicate that a nuget source is allowed to use HTTP instead of HTTPS. That can be done via domain suffixes or flagging specific feeds.

To go through the process of either purchasing a cert or getting a cert issued internally, then added to all the windows workstations, and finally, working with my network security team to al

[2022-08-23 18:26] mrienhar commented on #11822
So just a followup, on my local machine using the nowarn worked, but then when I went to build remotely (build pipeline) that failed. So I am now in a situation where there is no solution I can find to build both locally and remotely. So I have to put the nowarn commented out in the directory.build.props, and uncomment when building locally, then comment out again before checking in. This is clear

[2022-08-23 19:08] Zastai commented on #11822
It seems odd that the presence of a `NoWarn` would cause build failures. What was the specific failure?

If the failure is "NU1507 not known" (because the pipeline uses an older sdk) then you should be able to add a `Condition` testing the MSBuild version as being >= 17.2.

(But if the pipeline uses an older sdk, perhaps you should consider using a global.json to specify the use of that exact same

[2022-08-23 19:26] mrienhar commented on #11822
That is exactly what I thought, then had to say to my team that had to redo their approvals on my PR since I had to update it without the no warn. Just to be clear here is exactly what happened in order:
1. I was building and working just fine, no problems whatsoever.
2. Visual Studio said it wanted to do an update.
3. After the update I started getting the NU1507 warning, which was upgraded to an

[2022-08-24 04:00] manfred-brands opened #12047 "[Bug]: Restore corrupts NuGet cache"
### NuGet Product Used

dotnet.exe

### Product Version

dotnet 6.0.400

### Worked before?

Pre dotnet 5.0.0?

### Impact

It's more difficult to complete my work

### Repro Steps & Context

We have seen several instances of "corrupt" nuget caches, possibly be caused by different parallel dotnet builds requiring different nuget package versions.

Say one build requires version 1.0.0 and another 2

[2022-08-24 11:47] v-luzh commented on #12041
@dtivel Yes, we get the expected NU3008 after installing PowerShell on windows. (Why we need to install PowerShell, isn't that installed implicitly on Windows already since we can enter PS session after typing "powershell" in cmd?) But there is a redundant error NU3034 after running add a package reference command to the test project as below.
![image](https://user-images.githubusercontent.com/206

[2022-08-24 12:18] dtivel commented on #12041
@v-luzh, I gave reasons in earlier posts.

* `powershell.exe` is Windows PowerShell.  This is available only on Windows.
* `pwsh.exe` is PowerShell Core.  This is available on Windows, Linux, and macOS.

For the most part and for your testing purposes, it probably doesn't matter which one you use, but if you can use PowerShell Core, that's probably for the better, because it'll be the same on all

[2022-08-24 12:18] #12041 closed, assigned to nobody

[2022-08-24 15:36] GreatTeacherBasshead commented on #4254
5 years later this is still needed!

[2022-08-24 16:28] gaborposz commented on #11967
@nkolev92: Yes, we had the same idea, and it seems to be working now, but we needed some magic with the PackageReferences:
- Now our product packages include **WoDa.Build** with `<PackageReference Include="WoDa.Build" PrivateAssets="all"/>`. As we wanted, the **WoDa.Build** version is in the central NuGet version file.
- The **WoDa.Build** package references **MinVer** with `<PackageReference Incl

[2022-08-24 17:22] Forgind opened #12049 "[Bug]: NugetSDKResolver doesn't give detailed error messages when it fails"
### NuGet Product Used

MSBuild.exe, NuGet.exe, NuGet SDK

### Product Version

All

### Worked before?

No

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Try to use the NugetSdkResolver but with a package it can't load. It will fail but not tell you why, making it hard to diagnose the problem.

### Verbose Logs

_No response_

[2022-08-25 11:01] v-luzh commented on #12041
@dtivel, The bug is found in [this case](https://microsoft.sharepoint.com/teams/NuGet/_layouts/15/Doc.aspx?sourcedoc={8a3c6685-1661-47f4-8807-b765ca62aea1}&action=edit&wd=target%28Package%20Signing%20Manual%20Test.one%7C0344a15b-01b1-4828-af4c-63fe53687f8a%2FCross-platform%20verify%20%20tampered%20signed%20package%7Cec78d709-cbfc-4ecd-b068-85de4584ff38%2F%29&wdorigin=703).

Although the expected N

[2022-08-25 12:25] zivkan commented on #12032
warning: nuget internal implementation discussion ahead.

The error message:

[The German message is for the resource string `Log_FailedToVerifyRootDirectory`](https://github.com/NuGet/NuGet.Build.Localization/blob/9087b8e61438260a1e52abf76f250e3e44dd703e/localize/DEU/15/NuGet.Protocol.dll.lcl#L313-L321), whose [English translation is "Failed to verify the root directory of local source '{0}'."](h

[2022-08-25 13:14] ChristianHaefner commented on #12032
We run a explicit restore by calling the msbuild-Task in our target-File, which will be used as the "build project" for msbuild in our ADOS "Run Build Targets" task.

[code]

where $(_nuGetRestoreTarget)=Restore.

Our CI build agents are VDI based and exactly the same, based on one golden image. After every CI build the agent will be destroyed, to ensure that build is repeatable. It's very unlikel

[2022-08-25 17:02] martinrrm commented on #11990
Hi @v-luzh is this still present? I have tried with multiple window sizes and cannot repro this. If this still happens, can you try resizing VS window size and see if it goes away?
![image](https://user-images.githubusercontent.com/43253759/186725954-5b6059be-078c-4905-8c77-000cec7d3c77.png)

[2022-08-25 19:38] lilith opened #12053 "[Feature]: Allow option for push to ignore all HTTP errors"
### NuGet Product Used

dotnet.exe

### Product Version

.NET SDK (reflecting any global.json):  Version:   6.0.302  Commit:    c857713418  Runtime Environment:  OS Name:     Windows  OS Version:  10.0.19043  OS Platform: Windows  RID:         win10-x64  Base Path:   C:\Program Files\dotnet\sdk\6.0.302\

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps

[2022-08-25 19:55] Zl7 commented on #8809
Stumbled randomly here but I wonder if the option "Enable Just My Code" should not be "Unchecked" instead of "Checked".
My two cents.

[2022-08-25 20:19] donnie-msft opened #12054 "E2E tests are failing and blocking CI"
Example error from a test PowerShell script:
`Expected <0> but got <5>. At PackageNameSpaceTests.ps1: line 110`

https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1598862/

[2022-08-26 10:16] v-luzh opened #12055 "[Bug]: [Cross-platform Sign Verify] A redundant error NU3034 appears after adding a tampered signed package reference to the test project"
### NuGet Product Used

dotnet.exe

### Product Version

.NET SDK Version: 7.0.100-rc.2.22417.1

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

#### Details about Problem
.NET SDK Version: 7.0.100-rc.2.22417.1
#### Detailed repro steps ([test case](https://microsoft.sharepoint.com/teams/NuGet/_layouts/15/Doc.aspx?sourcedoc=%7b8a3c6685-

[2022-08-26 10:20] v-luzh opened #12056 "[Bug Bash] “Preview Changes” dialog of Browse tab shows updating package instead of installing package when clicking the “Install” button"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.4.0.51

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

#### Details about Problem
VS Version: Main\32825.32
NuGet Version: Dev\6.4.0.51
OS Version: Windows-11-Enterprise-21H2 ENU

#### Detailed repro steps
1. Create a C# Console App (.NET 7.0) proje

[2022-08-26 10:23] v-luzh opened #12057 "[Bug]: [Bug Bash] The version of a deprecated package “Microsoft.NetCore.App” is empty and the “Update” button is available in Browse tab"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.4.0.51

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

#### Details about Problem
VS Version: Main\32825.32
NuGet Version: Dev\6.4.0.51
OS Version: Windows-11-Enterprise-21H2 ENU

#### Detailed repro steps
1. Create a “C# Web Driver Test for Edge (.

[2022-08-26 12:03] ac-proagrica opened #12058 "[Bug]: https://api.nuget.org/v3/index.json/ returning 404 (with trailign backslash)"
### NuGet Product Used

Other/NA

### Product Version

Nuget Service Index

### Worked before?

Yes

### Impact

_No response_

### Repro Steps & Context

Nexus adds a trailing slash to the service index url and expects both https://api.nuget.org/v3/index.json/ and https://api.nuget.org/v3/index.json to return the same response.

This can be seen in the answer to a similar issue here: https://issu

[2022-08-26 12:30] ogxd commented on #10027
dotnet cli is not a 1 to 1 replace of nuger. It gives way to install / update / remove packages for a given project, however it does not allow things like pushing or downloading `.nupkg`, which is useful for a variety of things like tooling or CI, which (nowadays) usually runs on linux docker images.

[2022-08-26 13:53] domtheluck commented on #12013
Same problem for us. We are running a local nuget repository who don't need to be https.

[2022-08-26 14:18] BrannonKing commented on #6645
To add what I learned this week:

It's possible to target net47/8 and netstandard2.0 with native DLLs in a single project without using a nuspec file. I did have to include a targets file for the net47 portion. The csproj file contains this line to achieve that:
[code]
in addition to all the native dlls being copied to the runtimes folder. Notice the use of "build/" there, which thing seems to be

[2022-08-26 15:44] donnie-msft commented on #12057
@martinrrm could you take a look today to help understand the prioritization? What happens when clicking Update, for example?

[2022-08-26 16:07] martinrrm commented on #12057
If you click update nothing happens, I can reproduce this bug. The problem is that `Microsoft.NetCore.App` doesnt have a OriginalString property and the combobox breaks. I created the application, and some packages are as package reference to the .csproj, but not this one and its being displayed as a top-level dependency.

![image](https://user-images.githubusercontent.com/43253759/186946890-152e0

[2022-08-26 16:47] JamesDriscoll commented on #10844
I believe I am seeing similar issues, and am doing so on Windows and Linux.
dotnet build/restore seems to be ignoring the preview feature whilst Visual Studio accepts it.
Hope this helps!

# My Setup
[code]
# Project Folder
[code]
# nuget.csproj
[code]
# Program.cs
[code]
# Visual Studio Output From Build
[code]
# Output From dotnet restore
[code]
# Output From dotnet build
[code]

[2022-08-26 16:53] JamesDriscoll commented on #11981
I believe I am seeing similar issues, and am doing so on Windows and Linux.
However, for me, this is is not just confined to analyzers.
dotnet build/restore seems to be ignoring the preview feature whilst Visual Studio accepts it.
Hope this helps!

# My Setup
[code]
# Project Folder
[code]
# nuget.csproj
[code]
# Program.cs
[code]
# Visual Studio Output From Build
[code]
# Output From dotnet resto

[2022-08-26 18:16] donnie-msft opened #12059 "FuncTests failing: System.MissingMethodException"
`System.MissingMethodException : Method not found: 'Void Microsoft.NET.StringTools.SpanBasedStringBuilder.Append(System.ReadOnlyMemory`1<Char>)'.`
`

[2022-08-26 18:37] #12054 closed, assigned to donnie-msft

[2022-08-26 18:37] #12059 closed, assigned to donnie-msft

[2022-08-26 19:37] JonDouglas commented on #11752
@jeffkl Can we close as completed?

[2022-08-26 20:56] mbranscomb opened #12060 "[Bug]: View License dialog does not display license content"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

NuGet Package Manager 6.3.0
Microsoft Visual Studio Enterprise 2022
Version 17.3.2
VisualStudio.17.Release/17.3.2+32819.101

### Worked before?

Unknown

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Repro

- Open VS2022
- Choose New Project
- Create new WPF Application from project

[2022-08-26 21:02] zivkan commented on #12032
@ChristianHaefner are you able to reproduce the error locally, if you clean the repo and then restore a few times?  It will make getting more information easier, but it will also be possible on CI, just more work.

Using [SysInternals ProcDump](https://docs.microsoft.com/en-us/sysinternals/downloads/procdump), we can capture memory dumps when first chance exceptions are thrown. It will be a lot ea

[2022-08-27 00:57] donnie-msft commented on #11990
FYI, I repro'd this today where I saw some markings on the right side of the dropdown, but remembered we already had an issue for it.
![image](https://user-images.githubusercontent.com/49205731/187007920-f1bc07b3-14db-48ef-bc96-0578a9be141e.png)

[2022-08-27 01:17] lonix1 commented on #11981
@jeffkl Sorry for late response. My config is exactly as in your example, except I'm using it in a build props file.

`Directory.Build.props`
[code]

`Directory.Packages.props`
[code]

[2022-08-27 01:37] kartheekp-ms commented on #11807
cc @martinrrm

[2022-08-27 06:20] zivkan commented on #12058
@ac-proagrica I don't follow why this is being reported to NuGet. The logs you showed are not NuGet logs. I'm not sure what changes you're requesting.

[2022-08-27 06:42] zivkan commented on #12060
for triage: I was able to reproduce. The package contains an embedded license.

There are at least 2 problems:

1. Getting embedded licence doesn't work

[`NuGetPackageFileService.GetEmbeddedLicenseAsync` tries to get a URI from an in-memory cache](https://github.com/NuGet/NuGet.Client/blob/b396ad8b56c089ec3fa189f1013530d237a0e8c2/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Services/NuG

[2022-08-27 06:47] ac-proagrica commented on #12058
Hello zivcan.

Thnak you for your response.

I want to assert whether the service url with the trailing slash was returning the same response as the url without the trailing slash.

Has there been a change?

I want to know this because the Nexus team have stated that they expect a url with a trailing slash to return the same response as one without, but I cannot find any docs where nuget state tha

[2022-08-27 08:02] zivkan commented on #12047
@manfred-brands do your builds do anything like assembly signing (of 3rd party assemblies, not just the assembly being compiled), or something else that may write/overwrite files?

Alternatively, are your CI machines "stateful" (don't get wiped between every single build)?  NuGet is designed around the principal of immutable packages. This means that if during development of your packages, if at a

[2022-08-27 08:11] zivkan commented on #12053
Thanks for reporting the issue to us, @lilith. I've made this issue a feature request to ignore all HTTP related push errors.

Since the issue of a symbols package being created when not requested is independent of push, I would like to encourage you to create a separate bug report about that. If possible, please try to create a sample reproduction. `dotnet pack` runs in MSBuild, and MSBuild is a

[2022-08-27 08:17] CoenraadS commented on #6764
Today I was reading about the dotnet CLI experience: https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions#dotnet-add

I was encountered the issue that the `.csproj` is updated, not the `Directory.Packages.props`

The documentation mentions:

[code]

I updated to latest
`dotnet --version => 7.0.100-preview.7.22377.5`

I run

`dotnet add .\ClassLibrary1\ClassLibrary1.csproj p

[2022-08-27 14:33] v-luzh commented on #12003
Hi @nkolev92, after verifying, we still think it is an issue. Let me describe it in detail.

The nuspec file is correct and have no changes. This error (“NU5017: Cannot create a package that has no dependencies nor content”) will occur when the nuspec file path longer than 5 layers. That means if the file basepath is "C:\Users\v-luzh\Source\Repos" (5 layers), the error will not occur. But if the f

[2022-08-27 16:47] JonDouglas commented on #6764
@CoenraadS That link is just a old specification. It is quite outdated and the most recent docs are found here:

https://devblogs.microsoft.com/nuget/introducing-central-package-management/

https://docs.microsoft.com/en-us/nuget/consume-packages/central-package-management

We do have `dotnet add` support mostly completed during some intern projects over the summer, but we will need to insert it i

[2022-08-27 19:05] dks07 commented on #11748
I am getting the same error after updating to vs 2022 version 17.3.2 from yesterday.
I have to remove all package references to successfully build the project

[2022-08-27 21:39] kartheekp-ms commented on #12058
FWIW, it looks like Azure DevOps responds successfully when the package source URL has trailing backslash.

For example, I tried this with one of the package sources mentioned in the NuGet Client repo. URL https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk/nuget/v3/index.json/ produces 200 response when accessed in the browser.

[2022-08-27 23:00] ac-proagrica commented on #12058
Thank you @kartheekp-ms
This is what the Nexus team say is the expected behaviour of a service index endpoint but I can't find any spec where this is defined.

[2022-08-27 23:39] reduckted commented on #6764
Perhaps it would be a good idea to either remove those pages from the wiki, or add a big disclaimer at the top stating that they are out of date.

[2022-08-28 00:10] JonDouglas commented on #6764
@reduckted Thanks. I keep forgetting how much SEO this page gets.

Check out https://github.com/NuGet/Home/issues/11952 for our next major iteration.

Here is a reference for small enhancements last release - https://github.com/NuGet/Home/issues/11752

[2022-08-28 07:29] CoenraadS commented on #6764
Thanks for your responses.

I took a look at the the next iteration items, but didn't see an item for `dotnet add`. Is there a issue for it that I can use to track it's progress.

Some context, I'm looking to try and adopt CPM in my company, however need a good story for automated package bumping. Perhaps there is some alternative way of working to achieve this?

[2022-08-28 07:32] martincostello commented on #6764
In case it's useful to you, [dependabot version updates](https://docs.github.com/en/code-security/dependabot/dependabot-version-updates) already support CPM, which makes it viable for automated package bumping.

[2022-08-28 08:31] CoenraadS commented on #6764
Turns out `NuKeeper` also supports it, which surprises me since that project ceased development about a year ago. My company is already using this so I great news :)

[2022-08-28 21:09] DanJBower commented on #5375
Why are NuGet warnings not included `WarningsNotAsErrors`? I'm getting a `NU5104` failing my build even though it is in `WarningsNotAsErrors`

[2022-08-29 01:25] John0King commented on #8601
@nkolev92   why is that ?   the build output (eg.  output.dll  and output.xml)  no change is the source code is not change ?

[2022-08-29 02:27] manfred-brands commented on #12047
@zivkan Thanks for your reply.

Our builds are about 500 projects targeting .NET Framework 4.8. We use dotnet build which build several projects in parallel. All outputs are going to a single Binaries folder. This does unfortunately mean that 3rd party dlls are copied multiple times to that directory and occassionally we see msbuild retries on those. We also use CentralPackage management with the

[2022-08-29 08:30] Kuinox commented on #8601
The zip register the date of the file, the file contents itself are deterministic.

I made a dotnet tool to make a nuget package deterministic:

https://github.com/Kuinox/NupkgDeterministicator

[2022-08-29 09:13] John0King commented on #8601
thanks ,   now I get it ,     sadly   zip can not set https://docs.microsoft.com/zh-cn/dotnet/api/system.io.compression.ziparchiveentry.lastwritetime?view=net-6.0#system-io-compression-ziparchiveentry-lastwritetime    to null

[2022-08-29 15:30] deruitda commented on #3584
I also ran into this issue today doing a dotnet pack using a custom .nuspec file which used forward slashes in some paths (I dev on macOS), but my coworkers on windows couldn't pack the files due to them needing to use back slashes in those paths.

[2022-08-29 15:47] ChristianHaefner commented on #12032
Unfortunately I haven't been able to reproduce the issue locally, even though I created a batch file where I was continuously build a solution and clean cache immediately after building in a loop. The script ran the whole day and no error occurred.

First of all I will try to run a restore step in our CI before our build begins and look if see the error as well. If this will happen, I will be able

[2022-08-29 16:37] mmitche opened #12061 "Specify all source-built dependencies and ensure they are regularly updated"
### Overview

Source-build works today by building a repository, gathering the versions of the outputs, and creating a property file with those versions. This property file is then fed to downstream repositories, which import it after their `eng/Versions.props`. The resulting behavior is that the downstream repo overrides all dependency versions specified in `eng/Versions.props` with the versions

[2022-08-29 17:26] jeffkl commented on #10275
@yusufgungor can you post precise steps I can follow to reproduce the issue?  I have [tried to get it to happen](https://github.com/NuGet/Home/issues/10275#issuecomment-1185759724) so I can figure out what's going on but can't seem to.

[2022-08-29 17:30] jeffkl commented on #11822
Something I realized recently is that `Directory.Build.props` is not imported when you build/restore a Visual Studio solution file (`.sln`).  The restore logic won't see the NoWarn setting and they won't be suppressed.  If you're restoring a solution file, you'll need to add a NoWarn to `Directory.Solution.props`

https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build?view=vs-2

[2022-08-29 17:33] jeffkl commented on #11752
Yes good idea!

[2022-08-29 17:33] #11752 closed, assigned to jeffkl

[2022-08-29 17:49] jeffkl commented on #11981
@JamesDriscoll can you run `dotnet restore -bl` and attach `msbuild.binlog`?  That should help me figure out what's going on

[2022-08-29 17:50] jeffkl commented on #11981
@lonix1 can you do a restore with `dotnet restore -bl` and attach `msbuild.binlog` as well so I can see what's happening?

[2022-08-29 19:08] JamesDriscoll commented on #11981
Thanks for the swift response - I hope the attached helps :)
[msbuild.zip](https://github.com/NuGet/Home/files/9447232/msbuild.zip)

[2022-08-29 19:18] jeffkl commented on #11981
Okay I figured out what's going on.  It is not currently supported to use NuGet's central package management but not place your package versions in a "central package versions file".  That file is by default named `Directory.Packages.props`.

At the moment, NuGet expects to use that file and then sets a property indicating if it was imported:

https://github.com/NuGet/NuGet.Client/blob/b396ad8b56c

[2022-08-29 19:36] JamesDriscoll commented on #11981
Thanks Jeff... I think that has solved it for me :)
I need to double check on my main (non-minimal solution) tomorrow when I am back on the office, but it is looking good so far.
Really appreciate your time on this one! (*)

[2022-08-29 19:45] jeffkl commented on #11981
Closing this as not a bug for now since the only supported method of using NuGet's central package management is to use a file named `Directory.Packages.props` or use your own file and tell NuGet what the name of it is.  Using `Directory.Build.props` is not supported at this time.

[2022-08-29 19:45] #11981 closed, assigned to nobody

[2022-08-29 20:04] JamesDriscoll commented on #11981
👍

[2022-08-29 21:00] zivkan commented on #12047
`dotnet build` does a restore first, unless you also provide `--no-restore`. It sounds to me like you do a single `dotnet build` to restore & build your repo, which is ideal from NuGet's perspective. Some customers think they can speed up their builds be implementing their own parallel build solution, but NuGet does not support two different processes restoring the same project at the same time an

[2022-08-29 21:36] zivkan commented on #12058
It's not defined anywhere in NuGet. It's a server implementation detail.

In nuget.config, if a package source is defined without specifying `protocolVersion`, NuGet will assume any source ending in `index.json` is v3, otherwise it will assume that protocol version is v2.  Therefore, using `index.json/`, client will assume it's v2, so it becomes mandatory to add `protocolVersion="3"` in your nuget

[2022-08-29 23:09] nkolev92 commented on #12003
I think I see what the issue is:

@v-luzh Can you please check the content of the first package after step 3?

Does it contain the obj, bin, csproj and class files?
It's packing by convention which is everything under the nuspec base file path.
When you make the  nuspec base file path a location with no content other than the nuspec, then it fails because there's nothing in that directory to pack.

[2022-08-29 23:22] lonix1 commented on #11981
@jeffkl My setup is exactly as you explain (see my code above): the `Directory.Build.props` defines the packages for all projects in the workspace/solution, but the versions are defined in `Directory.Packages.props`.

[2022-08-29 23:47] lonix1 commented on #11981
@jeffkl UPDATE:
I was busy making a small repro for you, and noticed the problem disappeared.

When I posted the issue I was using .net 6.0.302 and now I'm using 6.0.400. Were there fixes/changes for CPM in the interim?

[2022-08-29 23:53] nkolev92 commented on #5375
Adding a Pack label in addition to a restore one, as it's best if functionality is made available in both commands.

[2022-08-30 00:29] kartheekp-ms opened #12062 "[Bug]: Visual Studio Credential Provider is not invoked when users fix their stale accounts by signing into their account unless VS is restarted."
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Visual Studio 17.3

### Worked before?

N/A

### Impact

It's more difficult to complete my work

### Repro Steps & Context

1. Configure a private Azure DevOps feed in NuGet.Config file.
2. Open Visual Studio and navigate to PM UI
3. VS credential provider is invoked for credentials.
4. Imagine there are stale accou

[2022-08-30 08:52] ac-proagrica commented on #12058
@zivkan - Thank you. Who owns the NuGet server implementation? I would like to raise this with them. I want to assert whether they've changed the response of the index endpoint intentionally or not.

[2022-08-30 11:41] menees commented on #11752
@jeffkl and @JonDouglas, why was this epic closed? I'm running VS 17.3.2, and I still get NuGet preview messages in VS and MSBuild on restores: `The project ... is using CentralPackageVersionManagement, a NuGet preview feature.`

Issue #11724 was closed by @nkolev92 on Apr 18, but it doesn't appear that the preview message was ever taken out. It's certainly still present in VS 17.3.2 and MSBuild 1

[2022-08-30 11:46] JonDouglas commented on #11752
@menees See https://github.com/NuGet/Home/issues/11952

This epic is complete as it is already out. We will continue to iterate with the next one.

[2022-08-30 15:16] jeffkl commented on #11752
@menees some of the features were pushed to the next release, including the removal of the preview message.  As Jon mentioned, the next iteration of work is being tracked in https://github.com/NuGet/Home/issues/11952

I'm sorry for your frustration, I agree that the message should have had a setting to suppress it.  I'll be sure to incorporate this feedback with future messages since they can't be

[2022-08-30 16:00] mmitche opened #12063 "Unified Build control update"
### Description

**This issue is dependent on https://github.com/dotnet/source-build/issues/2974 and is a placeholder for .NET 8 required work in product repositories.**

Instructions for implementation will be updated once https://github.com/dotnet/source-build/issues/2974 but will likely be a mechanical shift of properties in this repo. In a general sense, this is scaffolding work for expanding

[2022-08-30 16:44] jeffkl commented on #11952
Related to
- https://github.com/NuGet/Home/issues/9015

[2022-08-30 17:36] lostmsu opened #12064 "[Bug]: Specifying `RuntimeIdentifier` flattens package contents in output directory"
### NuGet Product Used

dotnet.exe

### Product Version

.NET SDK 6.0.400

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

1. Create a console .csproj
2. Add the following reference:
[code]
3. Add
[code]
4. Build

**Expected**: output directory should contain a subdirectory named `native` from the package with the contents of the package co

[2022-08-30 18:23] edumserrano commented on #11972
Hey, I'm just curious if you guys already did some *planning* on this and perhaps have an idea on when you plan on tackling it? As in, perhaps considering it for version VS 17.4?  Besides curiosity I'm asking cause I want to use CPM but I ended up disabling for my team's project due to this bug.

[2022-08-30 21:17] jeffkl commented on #11972
@edumserrano sorry I'm late to reply here, I was out of vacation.  Thanks for the excellent amount of details on this issue. I'm still learning docker so correct me if I'm wrong but won't we need to copy more than just the `.csproj`?  Like `Directory.Packages.props` for example and any other build logic that takes part in restore/build?

https://github.com/edumserrano/example-cpm-docker/blob/44013

[2022-08-30 23:13] donnie-msft opened #12065 "A `VsDialogWindow` wrapping `DialogWindow` is an old workaround that can be removed"
The purpose of our [VsDialogWindow.cs](https://github.com/NuGet/NuGet.Client/blob/fdac4de76fc80791476ca9e737f35daf2a6640c3/src/NuGet.Clients/NuGet.PackageManagement.UI/VsDialogWindow.cs) appears to be that, in the past, the VS platform assembly name was revved for each product iteration, meaning our XAML code needed a wrapper to target the correct assembly without specifying the version# in XAML.

[2022-08-30 23:51] menees commented on #11724
For anyone still interested, the preview message wasn't removed in VS 17.3 as part of epic #11752. However, there's a new issue (#11950) for it in the epic for VS 17.4 (#11952).

[2022-08-30 23:54] AArnott commented on #11952
Please seriously consider #9464 as part of this. It's a very important scenario for us.

[2022-08-31 00:31] #10978 closed, assigned to donnie-msft

[2022-08-31 00:59] edumserrano commented on #11972
@jeffkl you are correct in saying that the `Dockerfile` should contain everything it needs to do the restore which normally would include files like the `Directory.Packages.props` in this scenario.

However, I'm not building the `Dockerfile` from the command line, if I were then yes I would have to include that `COPY` instruction. I'm running from Visual Studio which only builds the `base` layer o

[2022-08-31 03:53] dominoFire opened #12066 "Remove unused localized resources in nuget.exe"
There are localized resources that are never used in nuget.exe

This could help in reducing nuget.exe binary file size.

Unused nuget.exe resouces list

NuGetResources.resx:

- `Warning_SymbolServerNotConfigured_*`: Equivalent resource exists in NuGet.Protocol assembly.
- `UnableToFindFile_*`: Equivalent resource exists in NuGet.Protocol assembly. [Search link](https://sourcegraph.com/search?q=con

[2022-08-31 04:21] dominoFire commented on #4920
There are strings in help command not localized.

![image](https://user-images.githubusercontent.com/1192347/187592126-f67e4978-235c-4943-be3f-cc1c059b4925.png)

[2022-08-31 04:24] dominoFire commented on #4920
Creating another issue. Closing again as dupe.

[2022-08-31 04:24] #4920 closed, assigned to nobody

[2022-08-31 04:25] dominoFire opened #12067 "nuget.exe help command has unlocalized strings"
There are strings in help command not localized.

![image](https://user-images.githubusercontent.com/1192347/187592219-fd345623-236d-44dd-ba00-536c5aa4ae75.png)

[2022-08-31 12:51] ChristianHaefner commented on #12032
Just to give a short feedback to my attempts: I was able to reproduce the issue with the **plain** msbuild call above in our CI.

When I try to run the same command with procdump.exe (as you suggested), the error does not come up until now. I'll keep trying, but not sure if we can produce dumps this way since the error seems to not arise with procdump.

Have you thought about to provide a modified

[2022-08-31 14:08] bigabdoul commented on #10253
This issue is old, but it still does not unambiguously resolve the root cause. After investigating, I noticed that the issue arose from the lack of the Razor Language Version specification when targeting multiple frameworks. In other words, there should be an explicit Razor Language Version property group for each target framework. The above project file should look like:

[code]

[2022-08-31 14:40] ChristianHaefner commented on #12032
Very funny. Just some minutes after writing above lines the error was there with procdump. Unfortunately no dump was written by procdump. I've uploaded the buildlog to the workspace of the MS support case.

[2022-08-31 15:33] tg73 commented on #12013
Same here, internal feeds (proget), no need for or desire to configure https.

[2022-08-31 17:22] #12049 closed, assigned to nobody

[2022-08-31 17:42] martinrrm commented on #11991
Closing, this is a bug in the combobox, I created a bug here https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1599649.

[2022-08-31 17:48] jeffkl commented on #11972
@edumserrano its interesting that there are differences when building in Visual Studio.  That seems unreliable if things work differently depending on the build environment.  But again, I'm so new to Docker so I must still be missing something.

Yes, that is correct, I am not able to reproduce the issue but I finally figured out why.  I'm running a preview version of Visual Studio 2022 17.4.  I am

[2022-08-31 17:52] donnie-msft commented on #11991
@martinrrm we will have to update our VS Platform assembly in order to obtain this fix. I'd recommend marking it Blocked by External and leaving it open.

[2022-08-31 17:53] #12065 closed, assigned to donnie-msft

[2022-08-31 18:33] kartheekp-ms opened #12068 "[DCR]: VS Credential Provider exception messages are not displayed by NuGet in Output/Error List window logs."
### NuGet Product(s) Affected

Visual Studio Package Management UI

### Current Behavior

While accessing private Azure DevOps feeds in Visual Studio, sometimes users may get 401 unauthorized errors because of state accounts, bad credentials etc., Visual Studio adds `Unable to load service index from source: {source URL}. Response status code from the server didn't indicate success 401 (unauthoriz

[2022-08-31 20:28] edumserrano commented on #11972
@jeffkl I can confirm this is **not** happening on `VS 17.4.0 Preview 1`.
Feel free to close this bug report, I guess it might be nice if you could link it to the 17.4 release or to the PR/commit that fixed this issue just for history sake.

[2022-08-31 20:48] paulomorgado commented on #12032
@ChristianHaefner you can add the `-f System.Net.Http.HttpRequestException` filter to procdump to catch that one.

[2022-08-31 21:02] #11654 closed, assigned to nkolev92

[2022-08-31 21:39] jeffkl commented on #11972
Okay great, I'm closing this as a duplicate of https://github.com/microsoft/DockerTools/issues/342 then which I finally found

[2022-08-31 21:39] #11972 closed, assigned to jeffkl

[2022-08-31 21:41] #11951 closed, assigned to jeffkl

[2022-08-31 22:16] zivkan commented on #12032
HTTP 502 bad gateway is commonly when a CDN endpoint doesn't have a locally cached copy of the requested file, and the CDN endpoint has an error trying to connect to its data source. That is to say, it's not a client-side problem, so collecting memory dumps of it won't be particularly interesting. HTTP, TCP and IP are all fundamentally unreliable (TCP tries to give an impression of reliability, bu

[2022-08-31 23:38] zivkan commented on #12032
Here's a vsix with some `Console.WriteLine` in `LocalFolderUtility.GetAndVerifyRootDirectory`, for VS 17.2.
[NuGet.Tools.vsix.zip](https://github.com/NuGet/Home/files/9465690/NuGet.Tools.vsix.zip)

1. Rename the file to `NuGet.Tools.vsix`.
2. In a Developer PowerShell, or Developer Command Prompt (or just find sn.exe yourself, I think it's in the .NET Framework directory, somewhere under c:\window

[2022-09-01 00:11] nkolev92 opened #12070 "Show extra validation information during pack to allow for more effective means of communicating best practices such as README"
# Showing additional pack validation information

- [Nikolche Kolev](https://github.org/nkolev92)
- GitHub Issue - https://github.com/NuGet/Home/issues/12070

## Summary

Package authoring best practices are an ever evolving set of rules and guidelines. With the addition of new features, there are new recommended practices.
Historically warnings have been the only way the tooling can communicate t

[2022-09-01 07:04] ChristianHaefner commented on #12032
Hi Paulo,

I think the HttpRequestException was a short hiccup of our Artifactory proxy for NuGet. We think that it has nothing to do with the initial problem.

I will try to install Andy's modified DLL to our CI Agent and hopefully we will get some more informations with it.

Thanks
Christian

Christian Häfner
On-Premise Konfigurationsmanagement & Integration | T2122
DATEV eG
Standort: Fürther St

[2022-09-01 09:49] drieseng commented on #12013
There's also no way to avoid the warning in case of `nuget install`.

[2022-09-01 10:02] miloszes commented on #11748
The same problem occurs on v 17.3.3

[2022-09-01 12:00] drieseng opened #12071 "[Bug]: 'http' package source warning cannot be suppressed"
### NuGet Product Used

NuGet.exe

### Product Version

6.3.0

### Worked before?

6.2.1

### Impact

It's more difficult to complete my work

### Repro Steps & Context

As of version 6.3.0, NuGet discourages the use of HTTP package sources. While I understand that you want to encourage HTTPS package sources, I think it's a mistake to force this upon users. That is another discussion though.

Curr

[2022-09-01 14:01] MrAntix commented on #8745
could we have a no-cache flag in the nuget.config?

[code]

[2022-09-01 15:17] ChristianHaefner commented on #12032
I'm OOF from 09/02-09/05. Hopefully I can provide some results next Tuesday or Wednesday.

[2022-09-01 15:47] #12021 closed, assigned to jeffkl

[2022-09-01 15:47] gbpcor commented on #12013
I think this is a useful feature but at the very least there should be an opt-out command-line parameter (like @lonix1 proposed).

My work also hosts an internal NuGet source on an intranet. I don't know how much work it'd be for the DevOps team to change to HTTPS but it doesn't make much sense since it's already in a protected network.

[2022-09-01 16:49] jeffkl commented on #11952
@AArnott I thought when we discussed https://github.com/NuGet/Home/issues/9464 that we came to the conclusion that some tooling was needed there?  NuGet restores each project in a silo due to the nature of how .NET builds work.  NuGet doesn't know that another project is transitively referencing a different version of a dependency unless those two projects depend on each other.  To truly achieve w

[2022-09-01 17:02] jeffkl opened #12072 "Document NU1507"
Add documentation for NU1507 and call out why it is logged, how to onboard to package source mapping, and how to suppress it if needed.

Related to https://github.com/NuGet/Home/issues/11822

[2022-09-01 17:04] jeffkl opened #12073 "Document GlobalPackageReference"

[2022-09-01 18:36] mmitche opened #12074 "TFM trimming, and elimination of net4* targeting in Linux source-build"
### Description

Trim away unneeded TFMs, and conditionalize away non-applicable TFMs for Linux source build.

**Requires** https://github.com/dotnet/source-build/issues/3013. source-build net4* targeting elimination required https://github.com/dotnet/source-build/issues/2974

The purpose of this operation is twofold:
- [ ] Reduce the number of TFMs present overall in .NET's build, potentially imp

[2022-09-01 18:36] mmitche commented on #12074
This is .NET 8 work

[2022-09-01 18:51] #12067 closed, assigned to dominoFire

[2022-09-01 19:52] AArnott commented on #11952
Oh yes, I remember now. Sad. Maybe we should close #9464 with the explanation then. I can't because someone on the NuGet team created that issue on my behalf.

[2022-09-01 19:54] jeffkl commented on #11952
I'll update the issue and leave it open for now.  I still like the _idea_ of it all, I just don't think central package management can solve it at this time.

[2022-09-01 19:54] AArnott commented on #9464
In discussion with the NuGet team, we determined that this request is perhaps untenable, because the full transitive graph of all possible packages in the whole repo would have to be restored and analyzed for even just one project to be restored, just to see if any of the packages mentioned in Directory.Packages.props happened to include transitive dependencies to the packages that the one project

[2022-09-01 20:50] mkothapalli418 opened #12075 "[Bug]: Nuget Restore on Docker "Dotnet Restore" fails .net 6.0 SDK"
### NuGet Product Used

dotnet.exe

### Product Version

dotnet restore

### Worked before?

Works fine in local but not on gitlab build server

### Impact

_No response_

### Repro Steps & Context

I am using .net 6.0 SDK with my project referring to my company's nuget package source and am copying the local nuget.config file to project location in docker file, but my restore fails(passes sometim

[2022-09-01 20:51] mkothapalli418 commented on #12075
here are the failure logs
[code]

[2022-09-02 01:57] zivkan opened #12076 "[Bug]: Rename VS NuGet Options "Clear NuGet Cache(s)" button"
### NuGet Product Used

Visual Studio Package Management UI, Visual Studio Package Manager Console

### Product Version

all

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

Before `PackageReference`, when `packages.config` was the only way to use Nuget, the global packages folder was very similar to a cache (except that nothing ever expired, or got cleaned

[2022-09-02 05:02] v-luzh commented on #12003
Hi @nkolev92, there is no obj, bin, csproj and class files in the first NuspecBasePath when doing step3. And that the package can be packed successfully.
The difference between step4 and step3 is only adding another folder, and step4 would fail with the error in the "Actual" above.

[2022-09-02 08:11] v-longmin commented on #12030
@nkolev92 The repro screenshot as below.
![Animation](https://user-images.githubusercontent.com/40230425/188092998-8ad42e87-1317-48d1-8380-fb067939a438.gif)

[2022-09-02 16:38] mkothapalli418 commented on #12075
Can someone please help with the bug.. No logs on the error and random failures are blocking us on builds on the server.

[2022-09-02 16:59] #12072 closed, assigned to jeffkl

[2022-09-02 17:12] jeffkl commented on #11822
Thanks for all of this feedback.  I believe we've addressed everything in this issue and wanted to see if everyone agrees:

following points, apparently for no real reason)

NuGet's central package management has always been considered in "preview" so we felt comfortable adding a new warning and fully acknowledge that a warning treated as an error is a breaking change.  We'll be removing the "prev

[2022-09-02 17:18] Zastai commented on #11822
I'll have to give this a good read to be able to confirm. My main concern is that #10735 essentially went inactive after this ticket was created. If the intent is to actively rekindle that work after this ticket is closed, then great. Otherwise, I worry that nothing will happen after closing this ticket.

[2022-09-04 07:38] Edrisym opened #12077 "[Bug]: Console wont open and it turns purple and VSMac crashes"
### NuGet Product Used

Visual Studio Package Manager Console

### Product Version

17.3.3

### Worked before?

before 17.3.3

### Impact

I'm unable to use this version

### Repro Steps & Context

Hi

I am using a MacBook Pro M1 2020 and 2022 visual studio

I used to use the package manager console for adding migration for my application
and after I upgraded VS and the extension I wasn't able to

[2022-09-04 13:36] StingyJack commented on #11571
Something not explicit on this list but that is incredibly important is to better separate things that are important for NuGet.org policy and things that are important for NuGet. There should not be any changes made to NuGet that are done for the sole purpose of satisfying a policy for NuGet.org. There are many other package feeds that exist that repeatedly get crippled and functionality lost due

[2022-09-05 02:46] Eli-Black-Work opened #12080 "[Bug]: Broken link in msftbot"
### NuGet Product Used

Other/NA

### Product Version

N/a

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

`msftbot` just posted a message at https://github.com/NuGet/Home/issues/9803#issuecomment-1235816557 that says this:

The "Type label" link 404's.

### Verbose Logs

_No response_

[2022-09-05 07:11] msedi opened #12081 "Slow installation of msbuild task delivered by nuget"
### Discussed in https://github.com/NuGet/Home/discussions/12079

<div type='discussions-op-text'>

<sup>Originally posted by **msedi** September  4, 2022</sup>
I'm creating an msbuild task which we deliver as a nuget package. Everything works fine so far, the task does what it should but a problem is the installation of the nuget package. It takes around 5 minutes to install the nuget package and

[2022-09-05 13:36] maksperovpm opened #12084 "Grpc.Net.Common .NETStandard is missing "Grpc.Net.Compression.DeflateCompressionProvider""
### Impact

It bothers me. A fix would be nice

### Describe the bug

I'm using a host application which targets .NET 6.0 with GRPC service developed under windows which references "Grpc.Net.Common". under windows all works great but when the solution is built and packages restore under a debian machine (docker), it restores this library as .NETStandard v2.0 which is not the same one which is rest

[2022-09-05 15:34] StingyJack commented on #3891
@olivier-spinelli - An example of "why not" would be when a programmer writes a program for a customer that does the things the customer needs, Then a few years later the programmer writes a new program to replace the old.  The new program is missing features that the customer relied on in the old program. The programmer doesnt feel like putting the missing features into the new program and would

[2022-09-05 15:47] olivier-spinelli commented on #3891
I'm afraid I don't get your point here... Why should contributions to an OS project necessarily breaks any compatibility?

Sorry but what are you talking about? Is this a consquence of my proposal that people may involve themselves in an OS project?

I'm totally understanding @matthewjones555 answer about the Nugetizer project state, is your comment related to this good answer?

[2022-09-05 19:58] ramonsmits opened #12082 "[Bug]: VersionRange [1.0.0, 2.0.0) matches version 2.0.0-alpha.1 which can break package graphs"
### NuGet Product Used

NuGet SDK

### Product Version

NuGet.Versioning 6.3.0

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

The following code does output `True` which seems incorrect AFAIK prereleases should not match if the max version is not inclusive:

[code]

I can workaround this by doing:

[code]

However, I cannot use `.Find

[2022-09-06 05:05] msedi opened #12083 "[Bug]: 5 minutes to install the nuget package with a lot of package files"
### Impact

It's more difficult to complete my work

### Describe the bug

I'm creating an msbuild task which we deliver as a nuget package. Everything works fine so far, the task does what it should but a problem is the installation of the nuget package. It takes around 5 minutes to install the nuget package and there is not real log to identify the source of the lag.

During development I simply

[2022-09-06 11:31] TomaszWegrzyn commented on #10588
I am on 6.2.1.2, still seeing this problem 😞

[2022-09-06 14:29] sk0va commented on #3891
@StingyJack  I'm sorry, but I don't see any relation between your example and problem described in the ticket. And it's definitely not an example of "why not" to add at least optional feature to mark referenced project as to be packed. Note, I don't mean that any referenced project must always be included into a package. As for me it should be some kind of optional feature but it should be availab

[2022-09-06 15:29] kartheekp-ms commented on #11890
Code merged into feature branch for the scenarios discussed above. https://github.com/NuGet/NuGet.Client/tree/dev-feature-cpm-dotnetaddpackage FYI @martinrrm

[2022-09-06 16:25] #11793 closed, assigned to nobody

[2022-09-06 16:33] nkolev92 commented on #12003
@v-luzh

Can you please paste the content of the nupkg file in step 3?
I can repro this on my end, and what I'm seeing is expected.

In step 3, the folder has *content*, in step 4, it doesn't.

[2022-09-06 16:39] nkolev92 commented on #12030
@v-longmin

You have a ` ` space at the end of your search query.

nuget.org's search works differently from the search on the updates/installed tab.

![image](https://user-images.githubusercontent.com/2878341/188689865-1c506eeb-fa4f-49a6-979e-5ddee67f2b69.png)

[2022-09-06 16:40] nkolev92 commented on #12030
For triage, a possible solution would be trimming the input into the search?
Should we even be doing that? Alternatively, we can just say no fix to this one.

[2022-09-06 17:27] kartheekp-ms commented on #11890
I kept this issue open because code is not yet merged to dev branch.

[2022-09-06 18:27] #12066 closed, assigned to dominoFire

[2022-09-06 19:35] martinrrm commented on #11890
@kartheekp-ms Thanks! I'll continue with this feature; I'll close this once its merged to dev

[2022-09-06 19:39] martinrrm commented on #9022
Work initiated in https://github.com/NuGet/Home/issues/11807 by @pragnya17 for her intern project. I'm going to track the progress here and close the other one when https://github.com/NuGet/Home/issues/11890 is merged into dev

[2022-09-06 19:48] jeffkl commented on #8751
Closing as not needed

[2022-09-06 19:48] #8751 closed, assigned to jeffkl

[2022-09-06 20:16] nkolev92 commented on #12026
Assigning to Donnie as the hot seat.

[2022-09-06 22:12] benjamin-hodgson commented on #11949
@jeffkl Thank you! I just wanted to point out a typo in your code snippet above: <code>IsImplicit<b>i</b>lyDefined</code> - should be `IsImplicitlyDefined`, without the extra `i`. I (and presumably some others) tried to paste it and spent a while wondering why it didn't work 😄

[2022-09-06 22:15] jeffkl commented on #11949
Thanks, I've updated my comment.

[2022-09-07 02:24] donnie-msft commented on #10221
@nkolev92 - I was using this for organizational purposes. However, since ZenHub was deleted, right now the Epic to sub-Issue relationships aren't shown here. I'll have to figure out how to restore those in the new GH Projects, or perhaps just start from scratch assigning them to this Epic.

[2022-09-07 02:47] donnie-msft commented on #12077
Hello @Edrisym , I've reached out to the VSMac team for guidance. I'll let you know once I know more.

Meantime, I see your Project dropdown is empty in the console window. Are you able to build your project(s)? Any other errors shown in VSMac outside of the package manager console?

[2022-09-07 04:33] kartheekp-ms commented on #11581
@rub8n - In the latest version of VS 2022, we added `NuGet (AzDO feed name) needs your credentials. ` text to the authentication prompt with the help of other partner teams.
![image](https://user-images.githubusercontent.com/52756182/188788546-0332ec8c-2591-4467-be8f-23990e0997bf.png)
I propose to close this issue because the new functionality addresses the desired behavior mentioned in the issue

[2022-09-07 04:57] kartheekp-ms commented on #11580
This max retry count is currently configured here https://github.com/NuGet/NuGet.Client/blob/2837e7654bf7324d3f7148b75be65d887798ff4c/src/NuGet.Core/NuGet.Protocol/HttpSource/AmbientAuthenticationState.cs#L11.

[2022-09-07 08:23] mrward commented on #12077
@Edrisym would be able to you look for errors in the IDE log? Help - Open Visual Studio Log. Do not share the full IDE Log (just the errors which should be near the end of the file).

Also which version of the NuGet Extensions do you have installed? You should be able to find that from the about dialog's Show Details page (at the end there is a `Enabled user installed extensions` section).

Thanks

[2022-09-07 16:28] nkolev92 commented on #10221
Up to you whether you keep this as a new epic or not.
Do doc has some quick suggestions https://github.com/NuGet/Client.Engineering/blob/main/docs/NuGet.Client-GitHub-Project-How-To.md#how-do-we-use-epics.

You can just specify the link to an issue and it'll autogenerate things.

Example:

[code]

It'll be autorendered by GH with the name.

[2022-09-07 18:52] #12000 closed, assigned to nobody

[2022-09-07 22:31] donnie-msft commented on #10221
I understand that's the new process, but this Epic was created under the previous process, so all the sub-Issues for this Epic are lost. In other words, the work is finding all of the relevant sub-issues and manually re-creating the list for the Epic.

[2022-09-08 08:59] maksperovpm commented on #12084
If we use native nuget from Debian image, we get errors even on install just one package. Example

[code]

=================================

UPD:

We found alternative that solves our project restore issue. If we restore it with dotnet restore command, it works.

`dotnet restore ./PATH_TO_SOLUTION_FILE -s MYGET_REPO -s https://api.nuget.org/v3/index.json`

So, the problem is definitely somewhere

[2022-09-08 13:28] ChristianHaefner commented on #12032
Fortunately, during my holidays we have that error again with the builds configured with `procdump.exe`.

Here is the extracted information from the dump you are likely interested in. I will upload some dumps to the known workspace of the MS support case.
[code]

[2022-09-08 14:17] ITaluone commented on #12015
+1 from me..

Running an internal nuget feed with no internet connection. This enforcement for internal and private nuget feeds have not much value.. + it breaks **all** build pipelines in CI/CD.

A possible solution would be an additional command line parameter (e.g. --insecure). This approach would have advantages in case you are running multiple CI/CD runners and not have to change every config

[2022-09-08 15:47] brat000012001 commented on #4254
Are there any existing workarounds  than installing mono and nuget,  etc. see https://docs.microsoft.com/en-us/nuget/install-nuget-client-tools?

[2022-09-08 16:18] #5400 closed, assigned to nkolev92

[2022-09-08 16:18] #9861 closed, assigned to nkolev92

[2022-09-08 16:19] #12073 closed, assigned to jeffkl

[2022-09-08 18:25] nkolev92 commented on #12008
Team Triage: @zivkan we want to know if this is reproable and whether it impacts the product in any way.
The options UI *does* support enabling a disabled source, so we want to make sure that still works.

[2022-09-08 18:27] nkolev92 commented on #12030
Team Triage: We think we should be trimming the input.

[2022-09-08 18:36] nkolev92 commented on #12081
Hey @msedi,

Thanks for creating this issue.

We'd need some extra information to determine what's going on here:

- Can you please provide a verbose output. It will have information about all the http calls made by NuGet.
- Can you upload the assets file (note it can contain proprietary information).
  The assets file can tell us how many packages were used, and whether we are dealing with a real

[2022-09-08 18:37] nkolev92 commented on #12081
Closing https://github.com/NuGet/Home/issues/12083 as it has more details.

[2022-09-08 18:37] #12081 closed, assigned to nobody

[2022-09-08 18:39] donnie-msft commented on #12080
Hello, this is not a URL but a GitHub label containing a ':'.

[2022-09-08 18:39] #12080 closed, assigned to nobody

[2022-09-08 18:43] nkolev92 commented on #12083
Hey @msedi,

Thanks for creating this issue.

To help us understand your scenario better:

- Can you please provide a verbose output. It will have information about all the http calls made by NuGet.
- Can you upload the assets file (note it can contain proprietary information).
  The assets file can tell us how many packages were used, and whether we are dealing with a really large project graph.

[2022-09-08 18:45] StingyJack commented on #3891
@olivier-spinelli - you are asking us why we would not want to contribute and just do the work. The point I am making is that we should not have to. We should not have to ask for ~6 years to get feature parity. The NuGet team has a long history of leaving its users in a state where upgrading would lose functionality and cause a break in business continuity and the "support" we would get for the pr

[2022-09-08 19:37] donnie-msft commented on #12075
@jeffkl I know you had recent experience with Docker issues. Any chance you saw this Restore failure?

[2022-09-08 19:41] donnie-msft commented on #12058
@joelverhagen  is this something I should transfer to NuGet Server team?

[2022-09-08 19:44] donnie-msft commented on #12082
@nkolev92  any thoughts this behavior? Is the behavior intentional or would this be a DCR to change the behavior? Or is it really a bug?

[2022-09-08 19:50] donnie-msft commented on #12071
@kartheekp-ms  could you help assign priority?

[2022-09-08 19:50] #11950 closed, assigned to jeffkl

[2022-09-08 19:56] jeffkl commented on #12075
@donnie-msft  Although the environment is Docker, it appears to be a completely different symptom.  The other Docker failures are around downloading packages and having the HTTP connection time out or be severed.  In this case, the MSBuild task, `RestoreTask`, is running, indicating that it failed, but doesn't log an error.   All of the HTTP calls in the log above seem to have been successful and

[2022-09-08 20:01] nkolev92 commented on #12070
I've added some quick design ideas in the issue body.
The exact text in the output is up for discussion.

[2022-09-08 20:03] mkothapalli418 commented on #12075
@jeffkl I was able to fix the issue by adjusting the artifactory to just point to local instead of both remote(nuget.org) and local. But it took so long to debug what the issue is since there were no logs. I would request you to add some additional info on log why it is failing.

I believe the issue is with same package is trying to be fetched from both local and remote and it was failing randomly

[2022-09-08 20:04] jeffkl commented on #12075
@mkothapalli418 that's interesting, NuGet still shouldn't be failing in that way.  Does it repro outside of Docker with this same setup?

[2022-09-08 20:06] mkothapalli418 commented on #12075
No wierd part is same docker build worked in my local machine but was failing randomly on build server.

[2022-09-08 20:41] msedi commented on #12083
@nkolev92. Thanks for getting back on this. Honestly I had this issue for at least a week now. But I made many changes. Just getting back to some of your question and then I will show what I did that might solved the issue.

Unfortunately I have set the highest verbosity but it simply stops by saying ...resolving conflicts...

The size of the source nuget data is around 150MB, packaged its around

[2022-09-08 20:52] nkolev92 commented on #12083
Thanks for replying quickly.

So just to confirm, after tweaking the package to move things into the `tools` folder and you don't have as many issues as before?

https://docs.microsoft.com/en-us/nuget/concepts/package-installation-process is a great document that elaborates on NuGet package installations. If you do create a new package, normally you either need to clear that package from the globa

[2022-09-08 20:58] msedi commented on #12083
Yes, I did all of the above. I cleared the cache, removed all obj/bin (I already have a script for that in our projects, because we are having this issues more often). But as you maybe know when you working for a longer time on a problem you sometimes forget what you have done to make it work (or not) ;-)

So after all I think #11543 covers my original probem and we can close this issue.

Thanks f

[2022-09-08 21:18] nkolev92 commented on #11543
Another report in https://github.com/NuGet/Home/issues/12083.

[2022-09-08 21:18] nkolev92 commented on #12083
Duping to https://github.com/NuGet/Home/issues/11543

[2022-09-08 21:18] #12083 closed, assigned to nobody

[2022-09-08 23:11] zivkan commented on #12032
Thank you, that's very helpful.  Unfortunately I'm inexperienced with procdump, and the dumps only contain stack trace, not full memory information. This prevents me from inspecting internal state to try to investigate why the code is getting into a path that shouldn't be possible.  Can you please add `-ma`. Unfortunately it will probably make the dumps a lot larger, but it's what I need to invest

[2022-09-08 23:35] nkolev92 commented on #12082
This is working as expected. I don't think we'd want to consider changing it.

That expectation is incorrect.

Given that `2.0.0-alpha.1` comes before `2.0.0`, as all prerelease versions are considered to come before the stable one.

It's findbestmatch that uses context such as prerelease vs not prerelease.

For example, when checking for the best version, if both the lower bound and upper bound a

[2022-09-08 23:49] nkolev92 commented on #6055
This is currently documented.
We're gonna work on https://github.com/NuGet/Home/issues/1538 instead.

[2022-09-08 23:49] #6055 closed, assigned to nobody

[2022-09-08 23:57] nkolev92 commented on #8380
All the APIs are up to date after the recent pushes.

All of the public documentation matches the documentation in the code itself.

https://github.com/NuGet/docs.microsoft.com-nuget/commit/6a6ab72760641425b34526730ea7f45262ccc45a and others did the work.

[2022-09-08 23:57] #8380 closed, assigned to nobody

[2022-09-09 00:46] #12076 closed, assigned to zivkan

[2022-09-09 05:47] trampster commented on #11315
Just found this issue in our CI, dotnet list package --vulnerable --include-transitive was finding issues but was not failing the build because the exit code still zero.

This is actually a really important fix, I would imagine others are using vulnerable code without realising it because of this issue.

[2022-09-09 10:07] ChristianHaefner commented on #12032
Hi Andy, sure I will append the -ma minidump option and the `dotnet nuget list source` cmd. It probably might take another several days until I have a new dump. I get back when I have one!

[2022-09-09 18:18] krangampally commented on #2880
Same issue, trying to install BenchmarkDotNet, nuget package in Visual Studio Version 2022(17.1.4). showing the following error message
![image](https://user-images.githubusercontent.com/77158268/189417843-d3719113-481c-4d15-8988-689e9040b659.png)

[2022-09-09 18:42] kartheekp-ms commented on #12071
I propose to close this issue by `design`. I added triage discussion label incase if the team has different feedback.

There are few comments in https://devblogs.microsoft.com/nuget/https-everywhere/ blog post expressing the same concern.

One such example is nuget install.

We can suppress `NU1803` by adding it to `<NoWarn>` in the project file as per https://devblogs.microsoft.com/nuget/https-ev

[2022-09-09 22:04] donnie-msft commented on #12071
Thanks, Kartheek. I'll leave this issue open for now, since the feedback from the Blog posts isn't captured in another issue that I can see.

[2022-09-09 22:07] zivkan commented on #12071
Is this issue a duplicate of https://github.com/NuGet/Home/issues/12013?  That issue is older and has more upvotes.

[2022-09-09 22:11] donnie-msft commented on #12071
Good find, yes I think that's not about Kubernetes specifically, so I'll duplicate this to https://github.com/NuGet/Home/issues/12013.
Thanks!

[2022-09-09 22:11] #12071 closed, assigned to nobody

[2022-09-09 22:14] zivkan commented on #12070
In my opinion no, normal verbosity is not good enough given `dotnet pack` defaults to minimal. Most customers will never have the messages output to their console or CI logs, so never even have an opportunity to see the message. That's before we consider the points you raised about customers ignoring anything that's not an error.

[2022-09-09 23:54] kvpt commented on #10809
Have the same need.

I went to Nuget source code and the modification seemed trivial to me as Nuget use MsBuild API to retrieve the projects list and MsBuild already handle filters.

So as PR are welcome, I tried to make one.
I don't know the project at all so perhaps I have done it wrong at least the test that I added seems to indicate that the change is working.

[2022-09-09 23:54] nkolev92 commented on #7778
Proposal for this change is out in https://github.com/NuGet/Home/pull/12088.

[2022-09-11 22:23] trampster commented on #11315
This is what we ended up doing in our gitlab CI:
[code]

[2022-09-12 03:12] Bosch-Eli-Black commented on #12080
Ah, got it, thanks.

[2022-09-12 15:56] chausner-audeering commented on #9281
I am using `dotnet nuget push -s` for copying a local package into the local cache and have noticed the following behaviour:
- If the local cache is non-empty and contains at least one other package already, NuGet correctly installs the package hierarchically.
- If the local cache is completely empty, the package is simply copied into it without the hierarchic structure. NuGet will also not find i

[2022-09-13 18:34] nkolev92 commented on #8407
Sounds like @heng-liu has a repro.

[2022-09-13 19:27] Cliabhach opened #13500 "Mention existence of Central Package Management on page for NU1604"
This is mainly a documentation request - happy to refile if this needs to be reported somewhere different.

I am using `dotnet` 6.0.400 on Linux.

#### Background

I have a small multi-project solution. All of the projects in this solution use [CPM](https://docs.microsoft.com/en-us/nuget/consume-packages/central-package-management) to manage dependency versions. Since the `dotnet` commands and tem

[2022-09-13 19:56] heng-liu commented on #8407
Yes, I could repro with the following contents in the NuGet.Config file:
[code]
The root cause seems to be: we didn't handle the duplicate keys when calling `Enumerable.ToDictionary` Method.
E.g. https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Configuration/PackageSource/PackageSourceProvider.cs#L670
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Configurat

[2022-09-13 20:07] heng-liu commented on #8407
Another report: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1615487

[2022-09-13 20:27] nkolev92 commented on #12056
Team Triage: When a package is transitive, maybe it should be made apparent on the browse tab as well?

[2022-09-13 20:50] nkolev92 commented on #545
Team Triage:

The work that would be required here needs to be done by a different component, the SQL server Database Tools projects and not NuGet.

Please upvote and follow the following issue in the DacFx repo, https://github.com/microsoft/DacFx/issues/124.

[2022-09-13 20:50] #545 closed

[2022-09-13 20:59] kasperk81 commented on #10558
@danmoseley in reference to https://github.com/dotnet/sdk/pull/27843#issuecomment-1245926887.

as noted above. proper handling of 429  means respecting the `Retry-After` response header (value is in milliseconds). can be handled internally with a backoff # of times property default to 5. optionally, connect the property to configuration so user can specify a different value. cc @jeffkl

[2022-09-13 21:01] nkolev92 commented on #8407
Team Triage: Now that we have an actionable repro here. We should be able to raise a better error message in this scenario.

[2022-09-13 21:02] nkolev92 commented on #11547
https://github.com/NuGet/Home/issues/3292 is a related issue. I think that this issue is a superior experience to https://github.com/NuGet/Home/issues/3292 and that we should probably close that issue in favor of this one.

[2022-09-13 21:40] danmoseley commented on #10558
Thanks @kasperk81 . IIRC the changes linked by @nkolev92 were actually originally motivated by making our CI builds more stable, and we certainly have them already. Are you suggesting the HttpRetryHandler should add special treatment for 429 (HttpStatusCode.TooManyRequests)?
cc @mattgal who I think wrote this originally.

[2022-09-13 21:58] MattGal commented on #10558
While I fully support honoring the retry-after field  and am happy to comment, I only added retries and backoff in places where it was lacking.  I made no efforts to try to honor the Retry-After field as there was nothing in place as far as I can tell to handle HTTP 429s at the time, and I was trying to change as little as possible while working around intermittent known issues with Azure DevOps p

[2022-09-13 22:03] danmoseley commented on #10558
@MattGal is there any way to query how often our infra fails with 429? eg grep the world for `Response status code does not indicate success: 429`

[2022-09-13 22:12] MattGal commented on #10558
Ulises on my team (can't tag him here, but linked the issue) has been working on the ability to grep through build logs for this.  Short answer is "I don't think so" but I will check out what I can find in the 1ES AzureDevOps Kusto instance, and get back to you.

[2022-09-13 22:21] danmoseley commented on #10558
tagging should work here. @ulisesh

[2022-09-13 22:27] danmoseley commented on #10558
Memorializing the failure in question here, anyway, until we have data on whether it's common --
[code]
For completeness we do not know of course whether doing anything special for 429 for this server would help. Rerunning the build succeeded.

[2022-09-13 23:13] marcpopMSFT commented on #10558
I will add that the SDK still hits 429s quite regularly. This was more common before we started predownloading many packages (we can't pre-download current version runtime specific packages easily as we'd be constantly chasing those versions). However I still see this pretty much every time we have branding or branching as usually those trigger lots of PRs all at the same time.

[2022-09-14 00:01] manfred-brands commented on #12047
I created the tool and found several "misplaced" files, which that tool then repaired by extracting the correct files from the .nupkg. I keep an eye on to see when it reappears.

[2022-09-14 00:58] ulisesh commented on #10558
Just in dotnet/sdk repo, I found 377 failed working items with the string `success: 429` out of the 4485 workitems that have failed in the last 7 days in the repo

[2022-09-14 01:18] kartheekp-ms opened #12090 "[Bug]: User needs to login multiple times while executing dotnet list package from private feeds"
### NuGet Product Used

dotnet.exe

### Product Version

 .NET Core 3.1 SDK and later versions

### Worked before?

No

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

The steps to reproduce this issue are explained clearly in https://github.com/microsoft/artifacts-credprovider/issues/329

Related issues:
- https://developercommunity.visualstudio.com/t/Azure-Artifacts-Cr

[2022-09-14 02:16] kartheekp-ms commented on #11618
This should be fixed in https://github.com/NuGet/NuGet.Client/pull/4794

[2022-09-14 02:30] kartheekp-ms commented on #11618
@vlada-shubina - Is this somehow related to https://github.com/dotnet/templating/issues/4278 that is fixed in https://github.com/dotnet/templating/pull/4764 ?

[2022-09-14 07:09] vlada-shubina commented on #11618
yes, it seems the same issue. It was already fixed.

[2022-09-14 12:30] ChristianHaefner commented on #12032
Short feedback. I was not able to catch new dumps until today. I'll keep trying...

[2022-09-14 13:14] Adam-S-Daniel commented on #545
FYI, @nkolev92: https://github.com/microsoft/DacFx/issues/124#issuecomment-1246744054

[2022-09-14 17:36] kartheekp-ms commented on #11618
Looking at https://github.com/dotnet/templating/commit/c5b2e2f9638946e9e31e66eb6e123b1d085eacb3 commit, it looks like this fix released in https://dotnet.microsoft.com/en-us/download/dotnet/7.0.

@donnie-msft - I propose to close this issue as external.

[2022-09-14 22:23] rub8n commented on #11581
Yes, this is a big improvement! Thanks to everyone involved!

[2022-09-14 22:23] #11581 closed, assigned to kartheekp-ms

[2022-09-14 22:35] kartheekp-ms commented on #11923
Related - https://github.com/NuGet/Home/issues/11638

[2022-09-14 23:11] QROST commented on #9916
<PrivateAssets>all</PrivateAssets> doesn't resolve this problem... Not even if I have only B dependency for A package.
[code]
The above doesn't work for me..

[2022-09-14 23:36] dtivel opened #12091 "`#if !NET45` conditions are obsolete"
We don't target NET45 anymore.

See https://github.com/NuGet/NuGet.Client/pull/4653.

[2022-09-15 02:17] #12090 closed, assigned to kartheekp-ms

[2022-09-15 03:40] #12091 closed, assigned to dtivel

[2022-09-15 09:08] maksperovpm commented on #12084
Hi,

Problem still persists. We still get exactly the same issue we got with nuget command:
`Grpc.Net.Compression.DeflateCompressionProvider' from assembly 'Grpc.Net.Common, Version=2.0.0.0`

We use this command:
`dotnet restore ./PATH_TO_SOLUTION_FILE -s MYGET_REPO -s https://api.nuget.org/v3/index.json`

as a workaround we overrite `Grpc.Net.Common.dll` from local machine where Grpc.Net.Common i

[2022-09-15 09:09] maksperovpm commented on #12084
Hi,

Problem still persists. We still get exactly the same issue we got with nuget command:
`Grpc.Net.Compression.DeflateCompressionProvider' from assembly 'Grpc.Net.Common, Version=2.0.0.0`

We use this command:
`dotnet restore ./PATH_TO_SOLUTION_FILE -s MYGET_REPO -s https://api.nuget.org/v3/index.json`

as a workaround we overrite `Grpc.Net.Common.dll` from local machine where Grpc.Net.Common i

[2022-09-15 09:54] v-crchang opened #12092 "[Bug]: [Bug Bash] The hovered-on menu item background color should be grey in VS Dark theme"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.4.0.85

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

## Repro steps:
1. Launch VS and create a solution [e.g. C# Console App (.NET Framework 4.8.1)].
2. Go to Tools | Options… | Environment | General to change the Color Theme to Dark, click “OK”.

[2022-09-15 09:58] v-crchang opened #12093 "[Bug]: [Bug Bash][Suggestion] Suggest to show a tooltip “Show existed version” when hovering on the arrow-down button of Version drop-down box on the right panel of the PM UI"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.4.0.85

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

## Repro steps:
1. Launch VS and create a solution [e.g. C# Console App (.NET Framework 4.8.1)].
2. Open the PM UI.
3. Hover-on the arrow-down button of Version drop-down box on the right panel

[2022-09-15 11:37] gthvidsten opened #12094 "[Bug]: NuGet in YAML pipeline doesn't respect Central Package Management"
### NuGet Product Used

NuGet.exe

### Product Version

6.2.0.146

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

1. Have a solution set up with a `Directory.packages.props` file with a package, i.e.
[code]
2. Have a `PackageReference` in your project that points to a package from the `Directory.packages.props` file, i.e. `<Packag

[2022-09-15 13:51] clairernovotny commented on #11571
@StingyJack The removal of PS1 scripts has more to do with client security and the way packages are added/removed than anything to do with NuGet.org. With SDK-style projects, there's no consistent "install" gesture where a script can be reliably run. It also is a security issue as scripts from packages run as your user context and can do anything you can do.

[2022-09-15 15:56] jeffkl commented on #12094
@gthvidsten does your `Directory.Packages.props` also specify that you want central package management to be enabled?  At least one other person missed the fact that you need to set `ManagePackageVersionsCentrally` to `true` as mentioned in [the documentation](https://docs.microsoft.com/en-us/nuget/consume-packages/central-package-management#enabling-central-package-management).

If that doesn't w

[2022-09-15 15:58] jeffkl commented on #11981
@lonix1 are you enabling central package management via the `ManagePackageVersionsCentrally` property in accordance with [the documentation](https://docs.microsoft.com/en-us/nuget/consume-packages/central-package-management#enabling-central-package-management)?  If so, please attach a simple repro ZIP with a project and a `Directory.Packages.props` that I can use to investigate further.

[2022-09-15 18:18] gthvidsten commented on #12094
Yes, `ManagePackageVersionsCentrally` is set to `true` in `Directory.Packages.props`.
Everything works properly when building/restoring from Visual Studio 2022, but doing a "NuGet Restore" from my YAML pipeline yields the previously mentioned warning.

How do I get a binlog from "NuGet Restore" in a YAML pipeline?

[2022-09-15 19:49] heng-liu commented on #12084
Hi @maksperovpm , may I know if my understanding below is correct?
NuGet.exe restores incorrectly, resolving the wrong version of package Grpc.Net.Common (2.0.0.0).
But dotnet restore works correctly, resolving the correct version of package Grpc.Net.Common(2.41.0).

If "yes", may I know which version of the NuGet.exe you're using? Thanks!
NuGet inserts into .NET SDK so you'll get newer version of

[2022-09-15 19:51] lovettchris commented on #6339
My [GraphViewer][https://lovettsoftwarestorage.blob.core.windows.net/downloads/GraphViewer/GraphViewer.application] ClickOnce application which is based on Visual Studio DGML Editor can visualize NuGet package dependencies.  As an Example, I created a simple ConsoleApp and added "Azure.Storage.Blobs" and "Microsoft.Azure.Kusto.Cloud.Platform.Aad" nuget packages, then I dragged the .sln onto the Gr

[2022-09-15 20:54] ulisesh commented on #10558
@marcpopMSFT @danmoseley is it ok if I create a known issue (in this repo) to track how often we get 429s?

[2022-09-15 20:58] jeffkl opened #12095 "[Bug]: Incorrect check for feed count when logging NU1507 warning about not using package source mapping"
### NuGet Product Used

MSBuild.exe

### Product Version

latest

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

Enable central package management but not package source mapping and have a single HTTP-based feed.  No warning should be logged.

This should be checking for `> 1`: https://github.com/NuGet/NuGet.Client/pull/4764/files#diff-fdeafb08a0d0ea6b9217

[2022-09-15 21:14] jeffkl commented on #12094
I'm not sure, I guess any logs or an insight into your projects would help.  I've created a sample repository here:

https://github.com/jeffkl/CentralPackageManagement

And I've run an Azure DevOps Pipeline that shows the restore complete successfully:

https://dev.azure.com/jeffkl/Public/_build/results?buildId=1282&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=53352b99-bc56-513f-dcdf-57009ff

[2022-09-15 21:56] danmoseley commented on #10558
@ulisesh it's not my repo, but I can't imagine how they'd mind. Seems like a good idea if it helps.

[2022-09-15 22:07] kasperk81 commented on #10558
8.4% of failures are 429, worth looking into. cloud services are known to issue 429 errors based on load and scale. honoring `retry-after` header in client might not "fix" the issue, but it will put the blame on cosmosdb or whichever storage provider is used under the hoods of azure devops nuget packages. with that we can bounce the ball in their court.

[2022-09-15 22:22] jeffkl commented on #11952
Closing now that all work is complete for this epic.  This item tracks additional work related to tooling: https://github.com/NuGet/Home/issues/9015

[2022-09-15 22:22] #11952 closed, assigned to jeffkl

[2022-09-15 22:38] dominoFire commented on #8252
This was fixed in this issue: https://github.com/NuGet/Home/issues/10996

Telemetry part is tracked here: https://github.com/NuGet/NuGet.Client/pull/4246

[2022-09-15 22:38] #8252 closed, assigned to xavierdecoster

[2022-09-16 00:18] zivkan commented on #10558
I just started an internal email thread about this, since it's discussing Azure DevOps and Azure services, that are not on GitHub.

[2022-09-16 01:01] dominoFire opened #12096 "[Bug]: Running tests in NuGet.CommandLine.Test in a non-English language Windows machine breaks the tests."
### NuGet Product Used

NuGet.exe

### Product Version

dev branch (6.4) a56c42dbdd901c0c611eece400ce8565fffdfdf7

### Worked before?

I don't think so

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Get a Windows machine with non-English Language

1. Clone NuGet.Client repo
2. Run configure.ps1
3. Open NuGet.sln in Visual Studio 2022
4. Run tests in NuGet.CommandL

[2022-09-16 03:04] dominoFire opened #12097 "[Bug]: nuget.exe strings from NuGet.Commands are not localized"
### NuGet Product Used

NuGet.exe

### Product Version

6.3

### Worked before?

N/A

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Run `nuget.exe restore` in an SDK-style project in a non-English windows machine.

Expected:

Output is translated.

Actual

Command output is in English

![image](https://user-images.githubusercontent.com/1192347/190547997-37328d7b-1

[2022-09-16 03:53] StingyJack commented on #11571
@clairernovotny - And in our private feed, that we put our packages in, and consume within our organization, running a script or xdt transform to automate manual tasks is **desired and useful**. On public feeds like NuGet.org I can understand why you dont want the headache of being held liable for a bad package, but you didnt need to take away something useful from us because you were worried abou

[2022-09-16 08:09] gthvidsten commented on #12094
I see your example is a .NET project. Could the fact that my project is a .NET Framework project (multiple ASP.NET Framework Website project) play any role here?

[2022-09-16 13:01] #12023 closed, assigned to nobody

[2022-09-16 15:30] #12095 closed, assigned to jeffkl

[2022-09-16 21:39] danmoseley commented on #10734
Note that in .NET 6+ there are new API's to handle symbolic links eg File/Directory.CreateSymbolicLink, and File/Directory.ResolveLinkTarget. Just curious, @carlossanlop do you think that the proposal above would need more than that, eg., [FileSystemInfo.IsLink](https://github.com/dotnet/runtime/issues/53577)?

[2022-09-16 22:58] nkolev92 commented on #4491
Hey all,

As mentioned above, we have decided to implement https://github.com/NuGet/Home/issues/7778.
You can learn more about that change in https://github.com/NuGet/Home/pull/12088.

[2022-09-16 22:58] #4491 closed, assigned to nobody

[2022-09-17 01:06] dominoFire opened #12098 "Remove GetInstalledAndTransitivePackagesAsync() API in PackageRefenceProject"
Since this is an NuGet-owned API, we can remove this API and use the overloaded version with includeTransitivePackages parameter.

### Feedback to address

- [ ] https://github.com/NuGet/NuGet.Client/pull/4788#discussion_r973504991 Remove old gitpa api
- [ ] https://github.com/NuGet/NuGet.Client/pull/4788#discussion_r973371926 Renaming test
- [ ] https://github.com/NuGet/NuGet.Client/pull/4788#dis

[2022-09-17 04:48] dominoFire commented on #9619
It seems this resource string is not displayed anywhere https://github.com/NuGet/NuGet.Client/blob/abaa72f3390fba4bb65fb3c700f22104682bfae9/src/NuGet.Clients/NuGet.VisualStudio.Implementation/SolutionExplorer/Items/PackageAssemblyItem.cs#L57

If this can be replaced with `LocalizableProperties`, I think this is a good moment to replace this class.

This was discovered during work on https://github

[2022-09-17 04:54] dominoFire commented on #9619
GetComponentName() is now a virtual method in this package

https://www.nuget.org/packages/Microsoft.VisualStudio.Shell.15.0/17.3.32804.24

https://www.fuget.org/packages/Microsoft.VisualStudio.Shell.15.0/17.3.32804.24/lib/net6.0-windows10.0.18362/Microsoft.VisualStudio.Shell.15.0.dll/Microsoft.VisualStudio.Shell/LocalizableProperties#M%3AMicrosoft.VisualStudio.Shell.LocalizableProperties.GetCompo

[2022-09-17 05:18] dominoFire commented on #9619
Update: The string resource PackageAssemblyBrowseObjectClassName is used and shown in UI:

![image](https://user-images.githubusercontent.com/1192347/190841725-cabdff89-6df2-46c7-bc87-151a1bd866bb.png)

[2022-09-17 06:11] dominoFire opened #12099 "[Bug]: Download count in PM UI Details pane disappears intermittently"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

VS 2022 17.4 Preview

### Worked before?

Yes

### Impact

It's more difficult to complete my work

### Repro Steps & Context

1. Open any SDK style project in VS
2. Right click on the project in Solution Explorer and select 'Manage NuGet Packages...'
3. In NuGet PM UI, go to Browse tab
4. Scroll in packages list and

[2022-09-19 07:43] v-luzh commented on #12040
It still reproes on Cross-platform Sign Verify Test. Reopen this bug to track the issue because it was closed by msftbot.

[2022-09-19 09:53] maksperovpm commented on #12084
Hi @heng-liu,

Thanks for not leaving me here alone.

We are using this docker image as a base: mcr.microsoft.com/dotnet/sdk:6.0-bullseye-slim

If we use native nuget from this image, we get errors even on install just one package. Example
[code]

If we use dotnet restore command it restores Grpc.Net.Common library as .NETStandard v2.0 not .NETCoreApp v6.0, as it probably suposed to do.
`dotnet re

[2022-09-19 10:37] v-luzh commented on #12003
Hi @nkolev92，upload the nupkg file [here](\\mlangfs1\Public\NuGet\BugRepro) in step3. Please help to have a look, thanks.

[2022-09-19 14:35] donnie-msft commented on #12092
Blocked on External bug: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1600486/
Noted in: https://github.com/NuGet/NuGet.Client/pull/4775

[2022-09-19 16:37] jeffkl commented on #12094
@gthvidsten do you want me to grant you permissions to my sample repo so you can try pushing some commits that reproduces the problem?  Or do you have a ZIP with some projects that I can use to reproduce it?

[2022-09-19 17:29] jeffkl opened #12100 "[DCR]: Static graph-based restore should handle an AggregateException from MSBuild"
### NuGet Product(s) Affected

MSBuild.exe

### Current Behavior

After a behavior change in MSBuild done [here](https://github.com/dotnet/msbuild/pull/7831), static graph now throws an `AggregateException` instead of an `InvalidProjectFileException`.  This leads to a very useless error message since the inner exception messages aren't logged.

### Desired Behavior

NuGet needs to catch the Aggreg

[2022-09-19 17:35] heng-liu commented on #12084
Thanks @maksperovpm ! Could you run `nuget help` and see which NuGet.exe version is used in the docker image?

[2022-09-19 17:35] sherryyshi commented on #11949
Hey @jeffkl, do you have an estimate of when this fix will be available in Visual Studio? Thanks

[2022-09-19 20:19] donnie-msft commented on #12093
I understand why this was suggested; however, I believe the tooltip is not necessary, so I'm closing it for now. Please let me know if you have a counterargument, and we can reconsider.

The VS Search Control is a different control than the "Versions" drop-down box. Tooltips on dropdowns are not standard, even though you do find them on these VS controls in toolbars, etc. If we did need this chang

[2022-09-19 20:19] #12093 closed, assigned to nobody

[2022-09-19 21:17] #11918 closed, assigned to martinrrm

[2022-09-19 21:53] saymastermind commented on #6548
I first tried suggestion below from alex-jitbit, but the files in contentFiles became part of the build which I had to disable.
1. pack them into "contentFiles/any/any" subfolder (telling nuget it's for "any" language and "any" framework
2. extract them using the <contentFiles> node

I ended up using solution from DrPepperBianco which is cleaner.
- <PackageReference Include="NuGet.Package" Version

[2022-09-19 22:43] #11618 closed, assigned to nobody

[2022-09-19 23:02] KirillOsenkov opened #12101 "[Bug]: ArgumentNullException in PackTaskLogic.GetPackArgs"
### NuGet Product Used

MSBuild.exe

### Product Version

MSBuild 17.3

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Repro:
1. git clone https://github.com/KirillOsenkov/MetadataTools
2. msbuild /r /m /bl /p:Configuration=Release src\BinaryCompatChecker\BinaryCompatChecker.csproj

This PackTask fails:
https://github.com/KirillOsenkov

[2022-09-19 23:02] KirillOsenkov commented on #12101
@joelverhagen

[2022-09-19 23:09] KirillOsenkov commented on #12101
Never mind, I can't repro it now

[2022-09-19 23:09] #12101 closed, assigned to nobody

[2022-09-19 23:44] nkolev92 commented on #12003
Thanks @v-luzh
I see that in your package you have a bunch of projects, which is basically what is getting packed.

For example, if you go to `FwProject`, `FwProject` you will see a cs file.

Basically, when the nuspec base file path is *not empty* it works, when it is *empty* it does not work.

When you make the nuspec base file path a location with no content other than the nuspec, then it fails

[2022-09-19 23:44] #12003 closed, assigned to nobody

[2022-09-19 23:54] drewnoakes commented on #9619
Thanks for the reminder. I fixed up the Project System side of this too in: https://github.com/dotnet/project-system/pull/8510

[2022-09-20 00:27] renjurajt commented on #1823
+1

[2022-09-20 08:39] maksperovpm commented on #12084
This one

NuGet Version: 2.8.7.0

[2022-09-20 09:06] gthvidsten commented on #12094
@jeffkl I have added you to a private repository of mine (as it includes some slightly sensitive data). The YAML pipeline in that project, with that specific agent pool (a Windows pool with correct capabilities) reproduces the issue.

[2022-09-20 10:43] v-longmin opened #12102 "[Bug]: The transitive package doesn’t show in “Installed” tab until reopening the solution"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

NuGet Client Dev\6.4.0.92

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

## Repro steps:
1.  Set the environment Variable NUGET_TRANSITIVE_DEPENDENCIES_IN_PMUI=1.
2. Create a new C# Console App (.Net Core) project.
3. Right-click the project in Solution

[2022-09-20 15:10] donnie-msft commented on #12102
@v-longmin do you get the desired behavior if you choose `File -> Save All` after the Install completes, but before opening the Installed tab?

@jebriede may be able to speak to the caching strategy used for this feature. I would guess that what's happening is the assets file isn't being re-generated, and the UI is reading/showing stale data from the previous restore.

[2022-09-20 16:48] jeffkl commented on #12094
Thanks @gthvidsten.  I created a fork since I don't have permissions to see your builds but my build passed:

https://dev.azure.com/jeffkl-work/public/_build/results?buildId=3&view=logs&j=3dc8fd7e-4368-5a92-293e-d53cefc8c4b3&t=f3aca6dc-2612-5f95-a62d-53fb64f55c66

The restore job completes successfully without any warnings, how do I reproduce the warning you were seeing?

[2022-09-20 16:49] heng-liu commented on #12084
Hi @maksperovpm , thanks for your reply!
Unfortunately, this is a very old version of NuGet.exe.
Is it possible to upgrade the version to the latest?
You may refer to https://www.nuget.org/downloads for all the versions.
Or, could you use [nuget update -self](https://learn.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-update) to update the version?

[2022-09-20 17:01] aronweiler commented on #4254
Can't believe I'm here 5 years after the initial request to have this supported... why can I not use `dotnet pack` with a `.nuspec` file WITHOUT a `.csproj`?

[2022-09-20 17:18] jeffkl commented on #12094
My only guess is you have some invalid XML somewhere which is causing projects to not load completely.  I would also never recommend using the NuGet restore task.  Instead, you should just run the MSBuild task with `/Target:Restore` which will run restore as an MSBuild process which is easier to debug and more supported for `PackageReference`.

You can also add the `/BinaryLogger` command-line arg

[2022-09-20 17:42] dominoFire commented on #12102
I can repro the bug on latest VS with NuGet 6.4.0.90; investigating.

[2022-09-20 18:13] #9619 closed, assigned to dominoFire

[2022-09-20 19:03] dominoFire commented on #12102
When a package is installed, this should invalidate inner cache in `PackageReferenceProject` and, then, repopulate them.

[2022-09-20 21:01] zivkan commented on #12084
@maksperovpm Is there a reason you're using `nuget.exe restore` instead of `dotnet restore`?  Does your solution include Xamarin projects, or others that can only be built with Mono and uses packages.config rather than PackageReference?

You can avoid this nuget.exe version problem by using the `dotnet` CLI for everything, restore and build. Otherwise, you'll need to keep updating which version of

[2022-09-20 21:51] dominoFire commented on #12102
There seems to be a race condition when we re-read the assets file and when the assets file is restored with updated info.

[2022-09-20 23:10] dominoFire commented on #12102
A pull request is on the way: https://github.com/NuGet/NuGet.Client/compare/dev-dominofire-fixcache?expand=1

[2022-09-21 01:42] #6051 closed, assigned to dominoFire

[2022-09-21 01:44] zivkan opened #12103 "[Bug]: IVsPackageInstallerServices APIs sometimes throw ProjectNotNominatedException"
### NuGet Product Used

Visual Studio Package Management UI, Visual Studio Package Manager Console

### Product Version

VS 17.2 and higher

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

Note, this affects developers of VS extensions, not directly customers using VS (unless the extension calls the NuGet API and doesn't handle this scenario).

We detected

[2022-09-21 01:46] zivkan commented on #12103
If there are VS developers who see this, I'd appriciate if you could give feedback about whether you prefer an async API to take a long time to respond, because it's waiting for a nomination (what should happen if the project has an error, and the project never nominates?), or if NuGet's async APIs should return immediately a status that represents that the project is not currently available?

[2022-09-21 13:09] levicki commented on #8264
@rrelyea Sorry to necro this issue, but...

What if the folder is a network share and is currently unreachable (and absolutely not needed for the packages in the current solution)?

Are we expected to connect to VPN to be able to access a network share with local feed even if solution only needs packages from NuGet.org?

I understand failing to restore packages if you need the unreachable source f

[2022-09-21 22:28] kartheekp-ms opened #12104 "Fix E2E BuildIntegratedLockFileIsCreatedOnBuild"
`BuildIntegratedLockFileIsCreatedOnBuild` end to end is consistently failing on both PR build and official builds.

I can't figure out why at the moment, so due to time constraints I'm skipping the test. Some investigation should be done to determine if there is a product bug here or not.

CI log prints `Test timed out after 600 seconds` and has no stack trace.

**EDIT**:
After further investigati

[2022-09-21 23:39] mjolka opened #12105 "[Bug]: Extra space at start of package description in tooltip"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Visual Studio 2022

### Worked before?

_No response_

### Impact

Other

### Repro Steps & Context

In the Visual Studio Package Management UI, click on the Browse tab.

Hover over a package so that the tooltip appears.

At the start of the package description in the tooltip, there is an extra space. See screenshot

[2022-09-22 01:37] v-longmin commented on #12102
@dominoFire It doesn't work after choosing file -> save all after the install completes.

[2022-09-22 07:27] maksperovpm commented on #12084
UPD

Now we have another issue for another project:

Docker image:
`mcr.microsoft.com/dotnet/sdk:6.0-bullseye-slim`

Command to restore project:
`dotnet restore ./PATH_TO_SOLUTION_FILE -s MYGET_REPO -s https://api.nuget.org/v3/index.json`

Issues:
[code]

While issues are not fixed, workaround is to restore project locally and replace/add dll file from local machine.

[2022-09-22 07:53] maksperovpm commented on #12084
Hi @heng-liu

[code]

Unfortunately, even with updated nuget we have the same issue :(

=================================================

Hi @zivkan . Thanks for joining us.

For now we are using this command to restore project
`dotnet restore ./PATH_TO_SOLUTION_FILE -s MYGET_REPO -s https://api.nuget.org/v3/index.json`

Related to Xamarin and Mono
- No, and we don't use mono stuff at all.

[2022-09-22 08:15] v-luzh commented on #12092
It still reproes in Blend theme on Blend for Visual Studio as below. Please fix them together after the blocking issue fixed.
![image](https://user-images.githubusercontent.com/20632625/191694640-bcfb4df3-d066-4113-b3ef-c948337c3d0b.png)

[2022-09-22 08:24] gthvidsten commented on #12094
If I had invalid XML then there should be other issues, so I don't thinks that's the issue.

Will running MSBuild with `/Target:Restore` use the same NuGet executable that is downloaded in the `NuGetToolInstaller` step?

If using restore with MSBuild doesn't help I'll try to get a binary logger for you.

[2022-09-22 15:36] renanelias commented on #12077
Same error here. It's been a common problem between the latest updates... How to solve this?

[2022-09-22 17:12] mrward commented on #12077
@renanelias Which version do you have installed and which version of VS Mac are you using? And can you provide the error in the IDE log? Thanks.

All the releases for the different versions are available here - https://github.com/mrward/monodevelop-nuget-extensions/releases

[2022-09-22 17:45] renanelias commented on #12077
VS 17.3.5 (Mac OS), NuGet Package Manager 0.31

I didn't find many information about the error, but this json was displayed on the error screen before VS close:

[https://paladins.com.br/error.txt](url)

I removed the hidden ".vs" folder from the solution folder and I cleared the bin and obj folders from the projects. After that, the plugin starts to work again, like expect.

[2022-09-22 18:30] zivkan commented on #12094
No, but if restore is the only reason you're using NuGetToolInstaller, then the need to run that task is eliminated. Many of the scenarios where nuget.exe was previously needed in CI pipelines are now available in the dotnet CLI (and restore is available in msbuild as well), so the need for nuget.exe and NuGetToolInstaller, and the versioning problems it causes, is largely gone now.

[2022-09-22 18:32] mrward commented on #12077
@renanelias There may be more info in the IDE Logs folder `~/Library/Logs/VisualStudio/17.0` - in that directory there will be the ide log and probably a vsmonitor log (which may have crash information).

[2022-09-22 19:16] renanelias commented on #12077
Sent! I hope it helps to fix the problem.

[2022-09-22 21:24] robmen commented on #11952
This Epic is closed, but issue #11822 is still open. Is the `Cut line` in the wrong place?

[2022-09-22 21:36] andrew-hampton commented on #9015
@jeffkl is there a target release for these tooling updates?

[2022-09-23 00:49] dominoFire commented on #11326
We need [UILanguageOverride](https://cs.github.com/dotnet/sdk/blob/49d9b4148c4f65fd3f691186a4533375c3a83c97/src/Cli/dotnet/UILanguageOverride.cs#L9) class in NuGet.CommandLine.XPlat, since our nuget commands in dotnet.exe create a new process _outside_ dotnet.exe

[2022-09-23 10:20] v-luzh opened #12107 "[Bug Bash] The info showing in Output window should be consistent with the one showing in Options window when clearing NuGet Storage"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.4.0.97

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

#### Details about Problem
VS Version: Main\32922.386
NuGet Version: Dev\6.4.0.97
OS Version: Windows-11-Enterprise-21H2 ENU

#### Detailed repro steps
1. Create a “C# Console App (.NET 7.0)” pr

[2022-09-23 10:23] v-luzh opened #12108 "[Bug]: [Bug Bash][Localization] The translation of string “NuGet storage cleared at (current time)” in Options window is incorrect"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.4.0.97

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

#### Details about Problem
VS Version: Main\32922.386 (installed “Chinese (Simplified)” language pack)
NuGet Version: Dev\6.4.0.97
OS Version: Windows-11-Enterprise-21H2 ENU

#### Detailed repro

[2022-09-23 14:30] cros79 commented on #9384
@cristinamanum This behavior is really troublesome for us. We are producing internal nuget packages where use of floating versions would be immensely helpful. I really think that the decision to use a floating version should be on the user of the nuget client, not the author. Floating versions are no more or less valid just because you declare them locally in a project file.

[2022-09-23 16:13] bgremanphilips commented on #11697
@heng-liu  please reopen this, it is not a duplicate.

[2022-09-23 18:52] 64J0 commented on #7503
I'm still facing this problem.

[2022-09-23 18:53] 64J0 commented on #11607
Facing this problem yet.

[2022-09-23 19:40] donnie-msft commented on #12108
@dominoFire do you know if this is a problem with the loc process, or something we did wrong with the string?

[2022-09-23 21:10] dominoFire commented on #12108
The string is localized. By looking at localization repo, you can see the translation update

https://github.com/NuGet/NuGet.Build.Localization/commit/be781393a4610a04f9f7ce8326f3b6bd548f50c0#diff-c28633847de6545b1c8088f7454dfa89d693afcfe97dd30d4969c3c8d840e257R2214

[2022-09-23 21:20] dominoFire commented on #12108
Filed ticked with localization team to investigate.

[2022-09-23 21:55] enioluwas commented on #6563
Bumping this issue. This is incorrect behavior and provides no hints at resolution. The workarounds listed here are not solutions and are not sustainable when using centrally managed package versions.

[2022-09-23 22:20] zivkan commented on #6563
The original issue creator was misreading NU1608 message (which is a warning, by the way, it's only displayed as an error if your project opt-in to warnings as errors).

The message is saying that there's a package, Microsoft.Data.Services.Client that has a dependency on package Microsoft.Data.OData version =5.8.2.  Note that most packages list dependencies as versions `>=`, but this one says `=`.

[2022-09-23 23:11] stephenjust opened #12109 "[DCR]: Change PackageReference restore algorithm to prevent redundant packages from being downloaded"
### NuGet Product(s) Affected

NuGet.exe, MSBuild.exe, dotnet.exe

### Current Behavior

Currently when doing a package restore, Nuget will download packages that are eclipsed by newer versions if that newer version is not a direct dependency of a parent.

![image](https://user-images.githubusercontent.com/3144757/192067489-4fcf50a0-43c6-4a5c-b720-6b49e8173f7c.png)

In the example above, both LibC

[2022-09-24 01:18] nkolev92 commented on #10926
Unfortunately this is a sign of a true product bug.

[2022-09-24 01:28] nkolev92 commented on #10926
These tests pass now however, so I'll just "fix" this.

[2022-09-24 01:30] nkolev92 opened #12110 "TelemetryUtility.IsVsOfflineFeed fails to correctly identify the local feed with 64-bit windows"
[code]

This test should succeed, but it fails.
The reason is we are detecting the offline feed based on the bitness of the VS process, but we should be checking for both.

This has been broken since 6.0

[2022-09-24 18:51] enioluwas commented on #6563
Thanks for the response @zivkan, I agree with your assessment that this is not incorrect behavior, as Nuget is not restoring the "wrong" version, it's just that, at least in my case, a package is being resolved to a version higher than the minimum specified by another package that references it, both of which my app depends on. This is what is emitting the NU1608 warning. For packages A and B this

[2022-09-26 02:19] SBANASGH commented on #2880
I had the same problem after upgrading to vs2022 17.4.0 preview 2.1. It can be accessed in the browser, and the dotnet restore command is also normal, but accessing the Nuget package manager and restore in VS fails.

[2022-09-26 08:30] v-longmin opened #12111 "[Bug]: [Cross-platform Sign Verify]An error ” error NU1102: Unable to find package Microsoft.NETCore.App.Ref with version(= 6.0.10)” occurred when creating the long-lived test code signing certificate"
### NuGet Product Used

dotnet.exe

### Product Version

NuGet Client Dev\6.4.0.97

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

## Repro steps:
1. Open a Command prompt.
3. Create a test pass directory and path into it: mkdir .\testpass && pushd .\testpass:.
4. Download the latest .NET install script: `curl -sSL https://dot.net/v1/dotnet-install.ps1 -o

[2022-09-26 11:24] chausner-audeering commented on #9281
Looking at the [NuGet client source](https://github.com/NuGet/NuGet.Client/blob/cf1e6b6fd314fc510d1b64feed6b10515c202bec/src/NuGet.Core/NuGet.Protocol/Resources/PackageUpdateResource.cs#L814), my observations are confirmed. The client uses a heuristic to decide whether the offline feed is in v2 or v3 format. If the folder is completely empty, it defaults to v2 which means it will not create the hi

[2022-09-26 14:55] ChristianHaefner commented on #12032
After another week of vacation there are still no new dumps. I guess that it is related to the VSIX install you provided above. After applying that, I haven't seen that error at all. Maybe it is already fixed in that version?

Nevertheless I will revert the build agents to the snapshot before applying the VSIX and try again to provide the minidump to you. With that you can hopefully see the root c

[2022-09-26 17:02] #12100 closed, assigned to jeffkl

[2022-09-26 17:32] jeffkl commented on #11952
I'm fairly confident that the next release will address https://github.com/NuGet/Home/issues/11822 but I'm waiting for the person who opened the issue to get a preview version and see if they agree.  I've left it open until then but will probably close it soon.

[2022-09-26 17:33] jeffkl commented on #9015
@andrew-hampton yes, the next release of Visual Studio 2022 should have the changes.  For the .NET SDK, it will most likely be available with the first minor release of .NET 7.

[2022-09-26 19:22] #10926 closed, assigned to nkolev92

[2022-09-26 19:22] #12110 closed, assigned to nkolev92

[2022-09-26 19:42] ldennington commented on #4254
+1

[2022-09-26 20:05] WardenDrew opened #12112 "[Bug]: Updating `developmentDependency` package reference is overwriting `<PrivateAssets>` and `<IncludeAssets>` statements"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

VS 17.2.6, NuGet 6.2.1

### Worked before?

No

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Edit: Video of issue: https://youtu.be/axtNPpq9_OE

When referencing a package with `developmentDependency` set and explicitly changing the `<PrivateAssets>` and `<IncludeAssets>` lines, on

[2022-09-26 20:09] WardenDrew commented on #12112
Video of issue: https://youtu.be/axtNPpq9_OE

[2022-09-26 20:16] heng-liu opened #12113 "Stale icebox issues cleanup experiment"
Creating this issue to track the stale icebox issues cleanup experiment we're rolling out in NuGet/Home. Please refer to the original issue in https://github.com/microsoft/contributor-community-experiments/issues/2 for more background.

## Hypotheses
In the past, we triaged issues with lower priority as icebox issues (compared to backlog issues). While now in NuGet/Home repo, there  is a substanti

[2022-09-26 20:39] nkolev92 commented on #6284
Team Triage: Closing as this is a functionality that's available in the latest version of Visual Studio as per https://github.com/NuGet/Home/issues/6284#issuecomment-984220911

[2022-09-26 20:39] #6284 closed, assigned to nobody

[2022-09-26 20:43] nkolev92 commented on #6563
Team Triage: Closing the original issue as we do not think there's a bug in this scenario.

@enioluwas Please feel free to create a new issue for any problems you might have that aren't represented.

[2022-09-26 20:43] #6563 closed, assigned to nobody

[2022-09-26 20:49] nkolev92 commented on #7133
Team Triage:
NuGet.exe can be downloaded from https://www.nuget.org/downloads. At this point we do not have any plans to add NuGet.exe to Visual Studio.

[2022-09-26 20:49] #7133 closed, assigned to nobody

[2022-09-26 20:51] nkolev92 commented on #7852
Team Triage: We don't believe the effort and the technical complexity of this feature is worth the benefit.

[2022-09-26 20:51] #7852 closed, assigned to nobody

[2022-09-26 20:56] nkolev92 commented on #9170
We prioritize investigations based on community engagement such as comments and up-votes.
We don't believe we'll get to this issue soon, but we'd be happy to consider a contribution https://github.com/nuget/home#contributing.

[2022-09-26 20:58] nkolev92 commented on #8010
Thank you very much for your feedback. We appreciate you letting us know about the problem you encountered. Based on community feedback, this is currently low priority for us.

[2022-09-26 20:58] #8010 closed, assigned to nobody

[2022-09-26 21:00] nkolev92 commented on #10375
Team Triage:

As per the above, we believe that the package metadata, PrivateAssets, ExcludeAssets and IncludeAssets already cover the OP scenario.
https://github.com/NuGet/Home/issues/10375#issuecomment-1185742257

We don't believe there's anything to be done from NuGet side.

[2022-09-26 21:00] #10375 closed, assigned to nobody

[2022-09-26 21:05] Sergio0694 commented on #10375
@nkolev92 I'm... Quite confused.

The thread so far clearly shows an example of a scenario where the current experience is just broken and causes runtime exceptions that are very hard to avoid, and with no tooling support whatsoever. How can this be by design? This is... Not the best developer experience, nor the best consumer experience if you're the one crashing at runtime 🥲

[2022-09-26 21:47] kartheekp-ms opened #12114 "Run NuGet end to end and Apex tests on VS main branch"
This bug is to revert https://github.com/NuGet/NuGet.Client/pull/4821 once https://developercommunity.visualstudio.com/t/VS-2022-174-preview-versions-throws-a/10157815 issue resolved.

Related - https://github.com/NuGet/Home/issues/12104

[2022-09-26 23:33] jonreis opened #12115 "[Bug]: dotnet list package --vulnerable --include-transitive does not report all vulnerable packages"
### NuGet Product Used

dotnet.exe

### Product Version

dotnet v6.0.401

### Worked before?

_No response_

### Impact

If the vulnerability check doesn't report known vulnerabilities then we can't notify users that they need to upgrade their version of our software to mitigate the risk.

### Repro Steps & Context

MySql.Data v8.0.24 uses 2 transitive packages with security vulnerabilities:

1) B

[2022-09-26 23:57] aortiz-msft opened #12116 "[Bug]: Address CA2213 warnings"
Address new CA2213 warnings which were suppressed in  https://github.com/NuGet/NuGet.Client/pull/4822.

[2022-09-27 00:25] #11923 closed, assigned to kartheekp-ms

[2022-09-27 09:47] v-longmin opened #12117 "[Bug]: [Cross-platform Sign Verify] Command “powershell.exe -Command Compress-Archive -Path” failed to execute since .nupkg is not supported"
### NuGet Product Used

dotnet.exe

### Product Version

.NET SDK 7.0.100-rtm.22476.1

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

## Repro steps:
1. Execute the [pre-testing steps](https://microsoft.sharepoint.com/teams/NuGet/_layouts/OneNote.aspx?id=%2Fteams%2FNuGet%2FTeam%2FManual%20tests%2FTest%20Cases&wd=target%28Package%2

[2022-09-27 13:13] v-luzh opened #12118 "[Bug]: [Cross-platform Sign Verify] An error NU1101 occurred after adding package to the test project and restoring the project on MacBook"
### NuGet Product Used

dotnet.exe

### Product Version

.NET SDK 7.0.100-rtm.22476.1

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

#### Detailed repro steps
1.	Execute the [pre-testing steps](https://microsoft.sharepoint.com/teams/NuGet/_layouts/OneNote.aspx?id=%2Fteams%2FNuGet%2FTeam%2FManual%20tests%2FTest%20Cases&wd=target%28Pack

[2022-09-27 13:48] blowdart commented on #4254
Adding myself to the +1s 😐

[2022-09-27 14:17] odalet opened #12119 "[DCR]: Dependent project does not generate nuget package when multiple TFMs"
### NuGet Product(s) Affected

dotnet.exe

### Current Behavior

Consider this scenario:

* Lib1.csproj multi-targets `net48` and `net6.0` and has `GeneratePackageOnBuild` set to `true`
* Lib2.csproj does the same
* Lib1.csproj references Lib2.csproj (both are part of the same solution)

Now, let's `dotnet build Lib1.csproj`:

* It generates Lib2 assemblies (one for each target),
* It genrates Lib

[2022-09-27 20:24] ViktorHofer commented on #6279
@nkolev92 what does `Category:SeasonOfGiving` mean? Is that some sort of frozen backlog? Note that this became much more important with the addition of source generators that often ship via nuget packages.

[2022-09-28 02:11] zivkan opened #12121 "[Bug]: Make static restore graph evaluation long path aware"
### NuGet Product Used

dotnet.exe, MSBuild.exe

### Product Version

all versions since static restore added

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Use the NUGET_PACKAGES environment variable, or `globalPackagesFolder` config in a `nuget.config` file to set the GPF to a path of around 200 characters long. Then, restore a

[2022-09-28 06:34] zivkan opened #12122 "Test NuGet.Protocol.FuncTest.PluginTests.GetOrCreateAsync_WithUnhandledExceptionInPlugin_Throws is flaky"
It's been failing very regularly recently:
![image](https://user-images.githubusercontent.com/5030577/192705205-73d1046a-3e9f-47cb-bd8e-abde9d802d24.png)

Test error message:

[code]

Stack trace:

[code]

[2022-09-28 10:15] kek-Sec commented on #10618
This should have been implemented already, it's an issue in github actions where the source has already been added.

[2022-09-28 13:38] MrAntix commented on #8251
Please consider re-opening this

We use a local folder for development of nuget packages, this involves creating a package and building the consuming app referencing that package.

If there are bugs or additional features we want to put in the same release, we have to clear the nuget caches, sometimes having to restart windows due to locks.

Then we must restore all the packages again including th

[2022-09-28 14:21] ChristianHaefner commented on #12032
Hi Andy, I've uploaded a few minidumps (nugetrestore_fatalprotocolexc_minidump.zip) to the workspace of the MS support case. After uninstalling your provided VSIX the error arises quite fast again.

Let me know what you think. Thanks!

[2022-09-28 18:33] nkolev92 commented on #4388
`NU5050` is an error, that's now being raised when duplicates are attempted to be packed.

Unfortunately, there's an issue that it can sometimes error out too aggressively.
That is being tracked in https://github.com/NuGet/Home/issues/11052.

[2022-09-28 18:33] #4388 closed, assigned to nobody

[2022-09-28 20:01] nkolev92 commented on #4327
Dup in https://github.com/NuGet/Home/issues/6016.

[2022-09-28 20:01] #4327 closed, assigned to nobody

[2022-09-28 20:51] #12103 closed, assigned to zivkan

[2022-09-28 21:11] nkolev92 commented on #11434
I'm gonna close this issue as dup of https://github.com/NuGet/Home/issues/6618 as that one is older.

[2022-09-28 21:11] #11434 closed, assigned to nobody

[2022-09-28 21:11] nkolev92 commented on #6618
Duplicate in https://github.com/NuGet/Home/issues/11434 which has more context.

[2022-09-28 23:12] #12121 closed, assigned to zivkan

[2022-09-29 00:33] zivkan commented on #9612
This issue is a duplicate of https://github.com/NuGet/Home/issues/10463

As stated in that issue, symbols have been published to Microsoft's public symbol server, for NuGet SDK package version 6.0 and above. Some of the older packages have PDBs published, but have Source Link stripped out, so you'd need to download the NuGet.Client repo yourself, switch to the appropriate branch/tag, and then tell

[2022-09-29 00:33] #9612 closed, assigned to nobody

[2022-09-29 04:23] nwithan8 commented on #11610
Seconding this.

[2022-09-29 05:22] dominoFire commented on #12122
The exit code 57005 in hexadecimal is 0xDEAD ; does this ring a bell, @jeffkl ?

[2022-09-29 09:12] cesarbmx commented on #12013
Could we get an estimation on the final decision?
Otherwise, I will need to tell infra to configure a certificate to support SSL inside our LAN. Thanks

[2022-09-29 09:31] v-luzh opened #12123 "[Bug]: [Cross-platform Dotnet NuGet Sign] The message “Package(s) signed successfully” lost after signing a package successfully with “dotnet nuget sign” command"
### NuGet Product Used

dotnet.exe

### Product Version

.NET SDK Version: 7.0.100-rc.1.22431.12

### Worked before?

Worked well on .NET SDK 6.0.400

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

#### Repro Steps
1. Execute the [Dotnet nuget sign pre-step](https://microsoft.sharepoint.com/teams/NuGet/_layouts/15/Doc.aspx?sourcedoc=%7b8a3c6685-1661-47f4-8807-b765ca62ae

[2022-09-29 10:34] fowl2 commented on #7133
Many, many components currently bundled with Visual Studio are downloadable separately.  I'm not sure that's a compelling reason.

[2022-09-29 15:31] jeffkl commented on #12122
`0xDEAD` means that Azure Watson intercepted a crash and captured a memory dump.  You can search for the machine and process name at https://aka.ms/azurewatson

[2022-09-29 15:47] gthvidsten commented on #12094
I will keep your comment about NuGet executable in mind. I abandoned Central Package Management for this project and don't want to spend time now to experiment going back.

One question, though. If we're not to use the NuGet executable, but rely purely on MSBuild, but MSbuild isn't updated as often as NuGet (at least that's how it looks like from the outside), how can we trust new features introdu

[2022-09-29 16:59] martinrrm commented on #12115
Hi! Looking at [CVE-2020-15522](https://github.com/advisories/GHSA-6xx3-rg99-gc3p) it looks like the package vulnerabilities are only for Maven and not for NuGet, closing this since is not related directly to NuGet or the command. Feel free to open it again if this is incorrect.

[2022-09-29 16:59] #12115 closed, assigned to nobody

[2022-09-29 17:02] jonreis commented on #12115
It says in the description: BC C# .NET before 1.8.7

[2022-09-29 17:13] #12102 closed, assigned to dominoFire

[2022-09-29 17:16] martinrrm commented on #12112
I was able to reproduce this, this behavior is also present in dotnet CLI

[2022-09-29 17:50] jonreis commented on #12115
@martinrrm I don't think I have permission to re-open this issue.

[2022-09-29 19:27] jeffkl commented on #12119
We're not convinced this should be changed at this time.  The .NET SDK is currently in charge of dispatching builds for projects and currently it calls the "outer" build of Lib1 which dispatches two "inner" builds for Lib1, one for each target framework.  Each inner build of Lib1 then dispatches an inner build to Lib2 for that specific target framework to fulfill the project reference.  Once the o

[2022-09-29 22:11] #12026 closed, assigned to zivkan

[2022-09-30 11:28] abrainard123 commented on #9642
How did you fix it. What were the steps

[2022-09-30 19:40] nkolev92 commented on #6279
Hey all,
if you are curious about the `Category:SeasonOfGiving` effort, refer to our blog, https://devblogs.microsoft.com/nuget/nuget-season-of-giving/#season-of-giving.

[2022-09-30 21:56] #11326 closed, assigned to dominoFire

[2022-10-01 13:01] #12046 closed, assigned to nobody

[2022-10-03 07:04] PhilipThomasonWF1 commented on #8730
We're still hoping for a fix to this issue, is it on the backlog?

[2022-10-03 16:23] mbranscomb commented on #12060
@zivkan @nkolev92 Is the best repo/location for this issue? Would be great to see it solved in an upcoming release of VS.

[2022-10-03 16:32] nkolev92 commented on #12060
Yes, @mbranscomb this is the right repo.

We prioritize investigations based on community engagement such as comments and up-votes.
This is not on our immediate (think, a month or two) backlog right now, but we'd like to have it solved.

[2022-10-03 16:37] nkolev92 commented on #8730
Hey @PhilipThomasonWF1
We prioritize investigations based on community engagement such as comments and up-votes.
At this point, this isn't high on our priority list.

We'd happily consider a contribution though.

[2022-10-03 17:57] #12104 closed, assigned to kartheekp-ms

[2022-10-03 19:49] nkolev92 commented on #8428
This is now being track in more specific scenarios.
The allocations here have been more than halved since the issue was originally filled.

[2022-10-03 19:49] #8428 closed, assigned to nkolev92

[2022-10-03 20:12] #11006 closed, assigned to jeffkl

[2022-10-03 20:29] erdembayar commented on #11753
Fyi @martinrrm
Here is guide for creating new .net tool [playbook](https://github.com/NuGet/Client.Engineering/blob/main/docs/Dotnet-Tool-Creation-Playbook.md)
Packsourcemapper spec: https://github.com/NuGet/Client.Engineering/blob/main/designs/PackageSourceMapper.md

By the way @nkolev92 recently created a poll to rename PackageSourceMapper tool to something like `NuGetClient.Tools` to make it mo

[2022-10-03 21:23] janivimal commented on #10275
Hello,

Anyone have luck with this so far ?

Here is how I am able to reproduce this:
#1 install docker for windows   (I tried few times un-installing and re-installing)
#2 created simple api in .net 6.0
#3 trimmed my dockerfile as below to reproduce these steps
![image](https://user-images.githubusercontent.com/39248404/193684313-a73d696c-a458-4fdb-8ab1-ecbf8073740f.png)
#4 ran docker build comma

[2022-10-03 21:39] janivimal commented on #10275
**Update:**
executing ping command against ip address works Ok,
![image](https://user-images.githubusercontent.com/39248404/193690265-43707656-4a5c-44cf-9db4-aa6da67ddf9a.png)

[2022-10-03 21:48] jeffkl commented on #10275
@janivimal Are you able to reproduce this over and over on the same machine?  I just did it with [this sample](https://github.com/dotnet/dotnet-docker/tree/main/samples/dotnetapp) on my local Docker Desktop and its working.

What does `tracert` return?  Its strange that you can't resolve the `api.nuget.org` host, do you have any custom DNS configuration?

[code]

[2022-10-03 22:57] DJackman123 opened #12125 "[CPM]: Transitive pinning feature should allow for pinning a minimum version"
### NuGet Product(s) Involved

NuGet.exe, MSBuild.exe

### The Elevator Pitch

Instead of pinning only a specific version of a transitive dependency, we would like to pin a minimum version (or version range) for the package.  That way if a particular dependency tree used a higher version that the pinned version no error would occur, making it easier to maintain the pinned version.

### Additional

[2022-10-03 23:25] erdembayar commented on #12125
Fyi @jeffkl

[2022-10-04 00:09] janivimal commented on #10275
@jeffkl , tried running tracert and says "unable to resolve target system name api.nuget.org."
![image](https://user-images.githubusercontent.com/39248404/193707444-3e6d5432-22ad-4bfc-b35d-882f8a9fad00.png)

[2022-10-04 00:59] erdembayar commented on #12047
It looks the issue didn't repro for about 3 weeks, so I'm closing it for now considering no other customer reported same problem.
But definitely let us know if you can still reproduce this problem on the latest version of NuGet. Thank you for your feedback and happy coding!

[2022-10-04 00:59] #12047 closed, assigned to nobody

[2022-10-04 01:14] erdembayar commented on #12094
MSbuild get [frequent updates](https://github.com/dotnet/msbuild/pulls?q=is%3Apr+is%3Aclosed+Update+dependencies+from+nuget%2Fnuget.client+) (sometimes weekly for preview versions) from NuGet, you can trust MsBuild. Release frequencies are same as nuget.exe as I know. When you downloaded new dotnet sdk then it already includes the latest NuGet features. We don't recommend `nuget.exe` for latest pa

[2022-10-04 01:45] erdembayar commented on #12084
@maksperovpm
Could you be able to repro your restore scenario issues with [Github Actions](https://github.com/features/actions)? Most likely if it's happening with Debian docker image then it should be able to repro in Github Actions.
If you can create small Github repro repository in Github Actions then it's much easier to reason with.

[2022-10-04 02:05] erdembayar commented on #12123
@NuGet/nuget-client
This one requires MAC, so hard to repro for me. Based on screenshot I believe it's a valid issue.  Could we just accept as `bug`?

Fyi @dtivel

[2022-10-04 02:06] erdembayar commented on #12118
@NuGet/nuget-client
Same as https://github.com/NuGet/Home/issues/12123#issuecomment-1266300918
This one requires MAC, so hard to repro for me. Based on screenshot I believe it's a valid issue. Could we just accept as `bug` so someone investigate?

[2022-10-04 03:09] erdembayar commented on #12117
I can repro this.

[code]

[2022-10-04 03:21] erdembayar commented on #12111
I can repro this.

[code]

[2022-10-04 03:22] erdembayar commented on #12111
Fyi @dtivel

[2022-10-04 06:43] #12094 closed, assigned to jeffkl

[2022-10-04 14:19] janivimal commented on #10275
Tried building image from these samples (dotnetapp) and same error:
![image](https://user-images.githubusercontent.com/39248404/193844190-3078c6af-eac9-4a32-a40a-a6ae355e2e36.png)

[2022-10-04 15:43] jeffkl commented on #10275
@janivimal I'm thinking you're facing a different issue where your docker VM is unable to resolve DNS entries.  Without that working, you won't be able to restore packages.  Do you know why DNS isn't working?

[2022-10-04 17:22] janivimal commented on #10275
@jeffkl correct , something is blocking my containers to restore packages. Again this issue only occurs when I am building windows containers. It runs perfectly fine when I switch docker to Linux Container mode and build appropriate image.

Trying to play around with installing certs in container before restore command gets executed.

[2022-10-04 18:00] jeffkl commented on #10275
Windows containers on Docker Desktop use Hyper-V as far as I know.  Linux containers on Docker Desktop can use WSL or Hyper-V.  I can see how on a Windows machine, you could get different network results for the different containers.  Can you see if your Hyper-V configuration is preventing DNS from working?  Perhaps the VM is only connected to the private VLAN and not the public internet?

[2022-10-04 18:37] vsfeedback opened #12126 "The Nuget upgrade utility for packages.config has a hardcoded list of 3 project types"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/The-Nuget-upgrade-utility-for-packagesc/10124742)._

---
[severity:It bothers me. A fix would be nice]
The Nuget upgrade utility for packages.config has a hardcoded list of 3 project types that are allowed to update.

See https://github.com/NuGet/NuGet.Client/blob/631411c00f0fd494d05c77f

[2022-10-04 18:45] nkolev92 opened #12127 "Breaking change in .NET 8 - Environment.GetFolderPath returns incorrect path on Unix"
See details in https://github.com/dotnet/docs/issues/31423.

Environment.GetFolderPath will be changing on Linux. NuGet has some dependencies on that.

### Previous behavior

### Linux Behavior

| SpecialFolder value                                     | Path  |
|---------------------------------------------------------|-------|
| `MyDocuments` / `Personal` (different name, same value) | `$HOME` |

[2022-10-04 19:36] namerril opened #12128 "[Feature]: Pinning versions in CPM should allow nuspec dependencies to not be added"
### NuGet Product(s) Involved

NuGet.exe

### The Elevator Pitch

A NuGet package should only declare dependencies on packages that they actually use.  However, if I have enabled pinning for my repository, then it is impossible for my package to not directly depend on a transitive dependency, even if that dependency is spurious.

If this situation occurs, then the only option I have at the moment

[2022-10-04 19:37] donnie-msft commented on #11364
Closing based on comment https://github.com/NuGet/Home/issues/11364#issuecomment-1158434597

[2022-10-04 19:37] #11364 closed, assigned to donnie-msft

[2022-10-04 21:07] DamianEdwards commented on #10291
I just hit this myself

[2022-10-04 21:59] zivkan commented on #10291
As per our [triage policy](https://github.com/NuGet/Home/blob/dev/Issue-Triage-Policy.md#up-voting-a-feature-requestbug), it helps us prioritize if the first/original comment gets a 👍 reaction (upvote), since GitHub lacks other functionality to help track impact (vs a lively discussion).

[2022-10-05 00:37] zivkan opened #12129 "[Bug]: Visual Studio Credential Provider error handler inconsistency"
### NuGet Product Used

Visual Studio Package Management UI, Visual Studio Package Manager Console

### Product Version

all

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

[The XML docs for `IVsCredentialProvider`](https://github.com/NuGet/NuGet.Client/blob/a5baa60cfd7560904a264cae1c21eff3498be177/src/NuGet.Clients/NuGet.VisualStudio/Extensibility/IVsCred

[2022-10-05 03:32] danjagnow commented on #11905
Looks like the relevant code is in the [ValidateFileFrameworks](https://github.com/NuGet/NuGet.Client/blob/ee9ef1f0e1a256a6d215669256576320a02fb0ac/src/NuGet.Core/NuGet.Packaging/PackageCreation/Authoring/PackageBuilder.cs#L804-L861) method of `PackageBuilder`.  The last bit of that method throws the NU1012 error:

[code]

There are some unit tests for the class in [PackageBuilderTest](https://git

[2022-10-05 04:11] vsfeedback opened #12130 "Details for Installed MAUI packages are missing NuGet Project PM UI"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Details-for-Installed-MAUI-packages-are-/10119414)._

---
[severity:It's more difficult to complete my work]
Repro Steps:

1. Open Visual Studio 2022 17.3
2. Create a New MAUI App
3. Let Visual Studio finish all background tasks
4. Right click on Project, 'Manage NuGet Packages...'

Expe

[2022-10-05 17:55] snakefoot opened #12132 "[Bug]: dotnet list vulnerable include transitive fails to report System.Text.Encodings.Web v4.7.1 as vulnerable"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.400

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Clone repo to local machine: https://github.com/JDetmar/NLog.Extensions.AzureStorage
2. Open Command Prompt and run this command:
[code]
3. Fails to report solution depends on [System.Text.Encodings.Web v4.7.1](https://ww

[2022-10-05 18:05] nkolev92 commented on #12057
Is this a regression?

[2022-10-05 18:23] martinrrm commented on #12057
I think it is, it should be like this since the combobox version was merged

[2022-10-05 18:29] zmunro commented on #10275
+1

[2022-10-05 18:36] nkolev92 commented on #12057
Regression during this version (6.4), or from a previous version (6.3)?

We might want to get the fix in 6.4 regardless.

[2022-10-05 18:47] nkolev92 commented on #12057
Ok, so it was a bug in 6.3. Given the lack of reports, then maybe we don't need it patched.

[2022-10-05 20:13] heng-liu commented on #12118
Hi @v-luzh , could you check if there is a local source in the NuGet.Config file, by running "dotnet nuget list source" command?
In the [pre-testing steps](https://microsoft.sharepoint.com/teams/NuGet/_layouts/OneNote.aspx?id=%2Fteams%2FNuGet%2FTeam%2FManual%20tests%2FTest%20Cases&wd=target%28Package%20Signing%20Manual%20Test.one%7C0344A15B-01B1-4828-AF4C-63FE53687F8A%2FPre-testing%20steps%7C6E437

[2022-10-05 20:49] nkolev92 commented on #12132
Please double check against `dotnet list package --include-transitive`.

Ensure that System.Text.Encodings.Web 4.7.1 is what actually gets resolved

[2022-10-05 20:57] erdembayar commented on #12132
Yes, it gets resolved in transitive dependencies but not shown in vulnerable list. Maybe I can quickly check what is cause the this when I resume working on `Machine readable output` work.

[2022-10-05 21:05] snakefoot commented on #12132
Sorry about this. Can see there are 2 dependency chains:

But there is also this dependency-chain:

Closing the issue as user-error.

[2022-10-05 21:05] #12132 closed, assigned to erdembayar

[2022-10-05 22:20] SqlBenjamin opened #12133 "Install-Package : Dependency loop detected for package 'Microsoft.Data.SqlClient'."
I continue to get the error "Install-Package : Dependency loop detected for package 'Microsoft.Data.SqlClient'." when trying to install the package Microsoft.Data.SqlClient in PowerShell. I've seen a couple issues that reference this but they're closed and yet I'm still not able to install the package successfully.

[2022-10-05 23:43] janivimal commented on #10275
+ facing same issue in my office network as well as from my personal laptop.
It fails after certificate message like below
![image](https://user-images.githubusercontent.com/39248404/194182721-ac0867d4-ddfa-465f-ae84-4712266fc886.png)

Can someone please try to run this different machine ? Below are steps that I am following

1. Create .net 6.0 api using VS2022 - selecting windows container when s

[2022-10-05 23:48] nkolev92 commented on #12057
Given that this affects Maui projects, we want to take this in 6.4

[2022-10-06 01:07] nkolev92 commented on #5375
Hey folks, we have a proposal out:https://github.com/NuGet/Home/pull/12134.

[2022-10-06 02:07] dominoFire commented on #12108
This was fixed by loc vendors. Here's the commit: https://github.com/NuGet/NuGet.Build.Localization/pull/977/files

[2022-10-06 02:07] #12108 closed, assigned to dominoFire

[2022-10-06 09:51] emmenlau opened #12135 "[Bug]: Could not get dependencies on other NuGet packages working"
### NuGet Product Used

dotnet.exe

### Product Version

Version:   6.0.401

### Worked before?

Never worked

### Impact

It's more difficult to complete my work

### Repro Steps & Context

I'm developing a cross-platform library on Linux, Windows and MacOS. That library is using `SeriLog`. The library is packaged for customers in a NuGet package using `dotnet pack`. To get the packaging working,

[2022-10-06 10:22] emmenlau opened #12136 "[Bug]: Unable to install Linux shared libraries (with symlinks) into output folder"
### NuGet Product Used

dotnet.exe

### Product Version

Version:   6.0.401

### Worked before?

Never worked

### Impact

I'm unable to use this version

### Repro Steps & Context

I'm trying to build a package that includes a Linux shared library that is used via `P/Invoke`. The library resolved correctly when it is placed in the output `bin` folder together with the managed binaries.

Now I'd l

[2022-10-06 10:55] emmenlau commented on #12135
Closing for further investigation, after new insight on our side.

[2022-10-06 10:55] #12135 closed, assigned to nobody

[2022-10-06 12:25] ChristianHaefner commented on #12032
Hi Andy, did you have the chance to look into the dumps?

[2022-10-06 12:42] emmenlau commented on #10734
I'd like to apply the same workaround as @mattleibow , to package a zip archive with the symbolic links and extract them during NuGet installation or deployment. However I could not get it to work. Any help would be greatly appreciated. My zip-file is `build\native\raw.zip`. I tried to extract it with the following `targets` file when the NuGet is installed/restored, but that did not do anything:

[2022-10-06 16:18] jeffkl opened #12137 "[Bug]: VS2022 17.1.2: Dependency between .NET Standard 2.0 and .NET 4.7.1 throws NuGet error System.Memory, Version=4.0.1.1 not found"
### NuGet Product Used

NuGet.exe

### Product Version

6.3

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

Originally reported at: https://developercommunity.visualstudio.com/t/VS2022-1712:-Dependency-between-NET-S/1704611

If I try to nuget pack a component targeting .NET Framework 4.7.1 which references a .NET Standard 2.0 project I wil

[2022-10-06 16:30] benvillalobos opened #12138 "dotnet restore: Ambiguous project name"
---
**Issue moved from dotnet/msbuild#8026**
- Please respond to @codingdave.

---

_From @codingdave on Thursday, October 6, 2022 6:55:06 AM_

### Issue Description

I have an application that I want to brand by overwriting the AssemblyName. Now if the .exe gets the same name as a dll msbuild restore will fail with:

[code]
### Steps to Reproduce

* Unzip the sample [dotnetrestore-issue.zip](http

[2022-10-06 16:47] #12057 closed, assigned to martinrrm

[2022-10-06 17:04] hknielsen opened #12139 "[Bug]: Global.json is not picked up by `NuGetSdkResolver` when using Microsoft.Build API"
### NuGet Product Used

Other/NA

### Product Version

Microsoft.Build nuget package

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Using MsBuild on a `sln` file having a `Global.json` file, specifying the `msbuild-sdks` tag is picked up as expected.

Using `Microsoft.Build` nuget package to build does not.

The reason is that Ms

[2022-10-06 17:34] jeffkl commented on #12139
The NuGet-based MSBuild project SDK resolver looks next to the solution file first and the project path second.  Are the projects in the same directory structure as the solution file?

This should work if:
* There is no solution file and `global.json` is next to or in a directory above
* The project is in a directory below the solution file and `global.json` is next to or above the solution file

[2022-10-06 18:15] #12139 closed, assigned to nobody

[2022-10-06 18:24] nkolev92 commented on #12107
@zivkan

Do you think we should change the locals command as well? Should these be the same?

[2022-10-06 18:32] nkolev92 commented on #12111
The problem is that the packages needed are not yet published on the sources specified.
Once these packages are published on nuget.org, this should work.

We'll continue this discussion via e-mail.

[2022-10-06 18:32] #12111 closed, assigned to nobody

[2022-10-06 20:10] erdembayar commented on #12138
I can repro this one, it looks exception is coming from below:
https://github.com/NuGet/NuGet.Client/blob/3ed642746f2609c6f586d096803630095b4add78/src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreCommand.cs#L1181-L1185

![image](https://user-images.githubusercontent.com/8766776/194407035-d03f340f-a535-4423-9804-5a5c9aa72ede.png)

![image](https://user-images.githubusercontent.com/8766776/194407

[2022-10-06 20:14] erdembayar commented on #12136
Thank you for filing this issue.
Do you want to keep symbol links to prevent from duplicating `.so` binaries?

[2022-10-06 20:45] zivkan commented on #12107
I think that message is coming from shared code in `NuGet.Commands`, which for better or worse can't be different in Visual Studio vs command line.

Personally, I don't mind. I think it's a bit nit-picky to say it needs to be consistent, I think the messages are satisfactory as they are.  But honestly, I think changing the VS button (and other messages) to "Clear NuGet local resources" might actua

[2022-10-06 20:50] nkolev92 commented on #12107
That's not a bad idea.

It's in the icebox right now. Feel free to change it/fix it/ignore it :)

[2022-10-06 21:39] ghost opened #12140 "[Bug]: nuget restore fails to warn user if two project.assets.json files collide"
### NuGet Product Used

dotnet.exe

### Product Version

dotnet sdk 6.0.401, msbuild MSBuild version 17.3.1+2badb37d1 for .NET 17.3.1.41501

### Worked before?

n/a

### Impact

It's more difficult to complete my work

### Repro Steps & Context

A user approached me with a failing build, having trouble root causing the failure. The error messages generated misled the user into thinking it was a co

[2022-10-07 00:11] erdembayar commented on #12024
PR is already merged.

[2022-10-07 00:11] #12024 closed, assigned to nobody

[2022-10-07 00:48] dominoFire commented on #12130
Issue seems to be fixed by https://github.com/NuGet/NuGet.Client/pull/4844

Using NuGet build excluding the PR

![image](https://user-images.githubusercontent.com/1192347/194443329-705f2a30-3dc3-49e1-84cd-a2257baa9147.png)

Using NuGet build including the PR

![image](https://user-images.githubusercontent.com/1192347/194443064-8e09cf2f-e70d-423c-9d31-9d483a1fc1a9.png)

[2022-10-07 00:50] #12130 closed, assigned to dominoFire

[2022-10-07 07:49] emmenlau commented on #12136
Thanks @erdembayar for the quick response.

I do not care about package size. But when the libraries are duplicates, the P/Invoke fails. I'm using Qt libraries and other shared libraries, and they do not work when the symbolic links are broken. They do not work when the symbolic links are removed, and also not when the symbolic links are replaced with the actual files.

[2022-10-07 07:49] FredrikLarssonn commented on #4254
+1

[2022-10-07 09:01] Nirmal4G commented on #10640
@erinlah-ms I think this ask is similar to `NuGet.Build.Packaging` (aka NuGetizer-3000). If NuGet team can bring that back, it would help in building complex packages like custom framework/runtime and meta packages without having to fiddle with C# project system.

For VS IDE, we might need barebones project system support which I think is already there but CPS team just need to enable it. Then, Nu

[2022-10-07 09:30] Nirmal4G commented on #12140
I hit this so many times but there's no way to rename `project.assets.json` file with say, `MSBuildProjectName` to actually keep those files separate. I mean, the props/targets and `dgspec` files have project name to disambiguate.

From what I saw in both NuGet and .NET SDK targets, the work needs to be in both. I can think of two solutions here.

Most projects don't need disambiguation as they ar

[2022-10-07 13:01] #12082 closed, assigned to nobody

[2022-10-07 14:47] ramonsmits commented on #12082
@nkolev92 That to me seems incorrect behavior. I know that `2.0.0-alpha.1` comes before `2.0.0` when comparing versions but that is not expected in a range comparison.

I'm pretty sure most if not all people don't want to upgrade to a prerelease of the next major when they specify such a version range. Why would then only want to upgrade to the last pre-release of the next major but not actually i

[2022-10-07 14:52] mrward commented on #12077
The crash should be fixed in a later VS Mac 17.4 release, preview 3.

For VS Mac 17.3 there is a new build of the NuGet extensions addin that may fix the problem:

https://github.com/mrward/monodevelop-addins/blob/gh-pages-vsmac-17.3/17.3/MonoDevelop.PackageManagement.Extensions.0.31.1.mpack

I believe the underlying problem is that lazy loading of dependencies has changed in VS Mac 17.x so assemb

[2022-10-07 14:56] renanelias commented on #12077
I've been using this version since you sent it to me and the problem hasn't happened anymore. I believe it has been resolved. Thanks.

[2022-10-07 16:14] ramonsmits commented on #12082
Take for example all mentioned ranges in the following issue. I'm pretty sure none of them expect that the pre-release package of those majors would be included:

- https://github.com/NuGet/Home/issues/11842

[2022-10-07 16:15] erdembayar commented on #12140
@nkolev92
Is it duplicate of https://github.com/NuGet/Home/issues/4463?

[2022-10-07 16:22] nkolev92 commented on #12140
Yep, looks like it.

[2022-10-07 16:26] erdembayar commented on #12140
@erinlah-ms Sorry about this. The reason I closed this issue was because we We think it's a duplicate of https://github.com/NuGet/Home/issues/4463

Please upvote in the linked issue. That helps in our triaging process.

@Nirmal4G Please check https://github.com/NuGet/Home/issues/4463 issue for more details if you're still interested.

[2022-10-07 16:41] Nirmal4G commented on #4463
I hit this so many times but there's no way to rename `project.assets.json` file with say, `MSBuildProjectName` to actually keep those files separate. I mean, the props/targets and `dgspec` files have project name to disambiguate.

From what I saw in both NuGet and .NET SDK targets, the work needs to be in both. I can think of two solutions here.

Most projects don't need disambiguation as they ar

[2022-10-07 17:22] nkolev92 commented on #12082
I don't think you can look at ranges specified in your project file only focusing on what's within the range, you need to apply the context of what's appropriate for that range.
A few other things:

* NuGet's default resolution is lowest compatible.
* Floating version ranges are the only ones that break this and as such only the min range can "float" to a latest version.

Not sure what you mean by

[2022-10-07 17:24] #7778 closed, assigned to nkolev92

[2022-10-07 17:30] erinlah-ms commented on #12140
@erdembayar this is not a duplicate. I'm not requesting that shared intermediates "work". I'm asking that the error be detected and reported, instead of silently swallowed, at least until such time that it's made to work.

Or, to explain by analogy with cars, #4463 is requesting the car get an addition of a reverse gear. I'm asking for the car to not silently fall apart to pieces on the highway if

[2022-10-07 19:56] donnie-msft commented on #12077
Closing based on the fix mentioned, and reports of it resolving the issue. If anyone still experiences the issue, give us a ping!

[2022-10-07 19:56] #12077 closed, assigned to donnie-msft

[2022-10-07 21:32] zivkan commented on #12077
I know it's not obvious to customers, but NuGet in VS for Mac isn't maintained by the same people who work in github.com/nuget, so it would be better to report the problem though VS for Mac's feedback system. If it's reported here, we can certainly pass on the message, but customers might get better, and more direct, support though VS for Mac's official suport channel.

[2022-10-08 00:43] donnie-msft opened #12141 "[Bug]: Watermark TextBox font color is incorrect in Add Dialog of Package Source Mapping Options"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

VS 17.5

### Worked before?

N/A

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

The font being picked up for this Watermarked TextBox control is not the ideal contrast.
Need to figure out either a more appropriate Style, or override the Foreground with a new color token.

![image](https:/

[2022-10-08 11:24] v-luzh commented on #12118
Hi @heng-liu, yes, I remember I checked that there was local source in the NuGet.config file and the path of the package was correct.  But we cleared the "testpass" folder after testing on that machine. We will re-verify it during the monthly test this week.

[2022-10-08 13:35] Nihlus opened #12142 "[Bug]: dotnet nuget push fails on Linux using the Liquourix kernel"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.401 (commit 0906eae6f8)

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

When using `dotnet nuget push` on an Ubuntu system with the Liquorix kernel, the command fails with the following error message.

[code]

The issue apparently stems from the output of `uname -s -v -r` (or its

[2022-10-08 16:20] Nirmal4G commented on #11720
I could've hit this too but fortunately for us, we use a private build of `NuGet.Build.Tasks` and don't trust you guys! 😅🙃😉

Not a good reason and a huge NO. If this is a CPS limitation, then CPS should figure out how to say uniqueness for a particular MSBuild item type. For Example, `PackageDownload` can be unique with version specified since you only allow exact version. And CPS should include v

[2022-10-08 17:07] Nirmal4G commented on #7709
It seems to me, people were using `PackageDownload` items just like `PackageReference` except the consuming assets part. The team could have just either copy/paste the `PackageReference` code up until the download part or conditioned the consuming asset's part and be done with it. _I don't know if that was possible but if the implementation was isolated enough, this could've been done with a singl