[2017-08-07 22:44] rrelyea commented on #5712
@mishra14  - if this is external, please use a label, not just zenhub. can you please look at @anangaur second point and determine how many fixes are necessary, and if this should be one of them.

[2017-08-07 22:45] zhili1208 opened #5718 "VS Running the restore command for package.config when Restore is disabled displays incorrect message"
there are two issues about restore error message for packages.config when restore is disabled.

1. all packages are installed, VS still show error message if restore is disabled
2. VS shows typo name instead of package information for missing package

![capture](https://user-images.githubusercontent.com/7131513/29048791-539ce444-7b87-11e7-9b44-8385265e7bdd.JPG)

[2017-08-07 22:57] #5705 closed, assigned to nobody

[2017-08-07 22:57] natemcmaster commented on #5716
cc @emgarten @nkolev92

[2017-08-07 22:57] #5703 closed, assigned to nobody

[2017-08-07 23:00] nkolev92 commented on #5716
@natemcmaster Thanks, taking a look now.

[2017-08-07 23:01] #5667 closed, assigned to nobody

[2017-08-07 23:03] #5664 closed, assigned to nobody

[2017-08-07 23:04] nkolev92 commented on #5716
Double checked in VS, the behavior there is correct.
I can repro the issue with the CLI though.

[2017-08-07 23:05] rrelyea commented on #5661
Setting to P2 since there is a reasonable workaround, and we've not heard this feedback much in the past 2 years, since the bug was probably introduced. However, would be nice to fix, as it is common to check nuget.configs in.

[2017-08-07 23:13] emgarten commented on #5650
Packages with no references will fail during restore as incompatible. It sounds like something else may have happened to the cache, there isn't a good way to detect this without impacting performance.

[2017-08-07 23:13] #5650 closed, assigned to nobody

[2017-08-07 23:14] #5648 closed, assigned to nobody

[2017-08-07 23:29] mishra14 commented on #5712
The reason is that we do not pass conditions to msbuild when requesting properties. I will see if it is possible to get this done as part of #5501

[2017-08-07 23:41] rrelyea commented on #5658
@anangaur - c# compilation shows errors in the output window and error list. should we do the same? can you please do a quick review and give your suggestion?
Or should we show the error window, every time?

[2017-08-07 23:43] abpiskunov commented on #5658
(btw showing/poping error window or other tool windows everytime is annoying and this pattern is avoided in other places in core and web project system)

[2017-08-07 23:59] rrelyea commented on #5643
@nkolev92  - understand the title. Let's discuss what led you to think this should be fixed in 4.4, and discuss the feature we designed about a year ago that relates. Please grab me in person sometime early this week.

[2017-08-08 00:06] alx9r commented on #5703
@nkolev92 It sounds promising, but I haven't had a chance to test it yet.

[2017-08-08 00:09] nkolev92 commented on #5643
@rrelyea
Updated the body of the issue.
During the feedback triaging few weeks back, I just added all issues to 4.4 in order to make sure we triage all of them appropriately before 4.4

[2017-08-08 00:10] nkolev92 commented on #5716
This is a regression from 4.3.
I will work on a fix for 4.4, as I don't think this is a ship stopper.

[2017-08-08 00:27] zhili1208 commented on #5649
@GieltjE is it possible to share a small repro solution? it can be just one solution which contains one project and the project referenced mono.cecil.

I created one but can't repro this issue. Thanks

[2017-08-08 04:54] emgarten commented on #5716
@natemcmaster is it common to have tool references without giving a version?

I would say the ideal behavior here is that msbuild would fail with an error giving the line number and helpful error about the project file being incorrect due to a missing version. This would stop MSBuild before the dg file is written.

I can see how it would be useful to make a best effort attempt at writing out the d

[2017-08-08 05:14] emgarten commented on #5711
Old packages commonly left out the version property from dependency elements, in older clients this had a special meaning.

As far as I know having an empty id has never been valid. Older versions of NuGet used NuGet.Core.dll for reading v2 feeds and it typically ignored any errors found in packages, but this was considered a bug and it lead to silently accepting bad packages and resolving random

[2017-08-08 05:19] joelverhagen commented on #5711
I thought about this, but there is no valid interpretation of empty IDs. Some forms of "bad" data could have multiple meanings, as you mentioned about invalid versions. If you are in the business of treating empty fields as something else (which we are with versions), there is only one possible interpretation of an empty ID: that is to ignore it. In other words, there is no possible default value

[2017-08-08 05:32] emgarten commented on #5711
It could be interpreted as a valid id equivalent to string.Empty. The local source could contain `.1.0.0.nupkg` with a nuspec that also has `<id></id>` and everything is a match. It could also query a remote feed for the same value and it may use whatever comes back.

Being extremely invalid should not make something valid :smile:

[2017-08-08 05:59] #5709 closed, assigned to emgarten

[2017-08-08 06:07] mishra14 commented on #5711
I agree with @emgarten. There may be some benefit in having accepting an empty `id` string. But this can lead to hidden issues for the user which can surface in different forms.
Further, as a package manager, we can have a min bar of requirement from a valid package and an non-empty `id` field is as min as they come.

Maybe, look at other scenarios - do compilers allow identifiers with an empty na

[2017-08-08 07:43] dongle-the-gadget commented on #962
I have a problem when install Microsoft.Azure.NotificationHubs. How can I fix it

[2017-08-08 10:01] zosrothko opened #5719 "Unable to push a source package once it fails the first time by timeout"
## Details about Problem
[code]
NuGet product used :NuGet.exe
NuGet Version: 4.1.0.2450

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

2.Build a package and a big source package (100mb) that are timing out on pushing the source package

...

## Other suggested things

### Verbose Logs

Please inc

[2017-08-08 11:22] bgever commented on #4772
I had this issue with a .NET Framework 4.6.1 library which I converted to multi-target .NET Standard. It uses C# dynamics, and requires `Microsoft.CSharp`.

*Before:*

[code]

*After:*

[code]

This removes the `<Reference>` which isn't supported.

Hope this can help someone having the same problem.

[2017-08-08 15:27] alexsandro-xpt commented on #4872
So, to solve that until now, is basically changing the `/bin` and `/obj` folders  between both OS( Windows and Linux Docker ) Environment. It is: do not let Docker sync thoses folders. Right?

### I have two consideration about run dotnet watch:

**First one:**
If you want to run `dotnet restore` at Docker after you ran `dotnet add package somepackage` at Windows develoment environment.

We have t

[2017-08-08 15:34] anangaur commented on #5643
Related issue: https://github.com/NuGet/Home/issues/5373

Let us discuss the right fix before implementation.

[2017-08-08 15:45] thejeff77 opened #5720 "The -IncludeReferencedProjects does not work in Nuget Version 4.1.0.2450"
## Details about Problem

The -IncludeReferencedProjects command doesn't work - it does not add the dependent DLLs into the nuget package. The detailed output lists the referenced projects under "dependencies" but doesn't pack them into the package. Any help or guidance is appreciated.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (4.1.0.2450):

dot

[2017-08-08 15:55] natemcmaster commented on #5716
Our scenario is [this](https://github.com/aspnet/KoreBuild/issues/239): we are removing floating versions from all PackageRef and using a tool to generate an intermediate file containing `<PackageReference Update="id" Version="x.y.z" />` that will be imported at the end of the csproj file. In order to generate this, we use `/t:GenerateRestoreGraphFile` to inspect the dependency graph. DG generatio

[2017-08-08 17:13] zhili1208 commented on #5267
@tarurar Ping

[2017-08-08 17:15] tarurar commented on #5267
Unfortunately I can't verify that as we are using TeamCity for building and pushing our packages.

[2017-08-08 17:15] nkolev92 opened #5721 "nkolev92 4.4 7/31 - 8/18 bugs"
- [x] https://github.com/NuGet/Home/issues/5444 Cross Client no-op for legacy package reference
- [x] https://github.com/NuGet/Home/issues/5716 GetRestoreDotnetCliToolsTask fails when missing version metadata
- [x] https://github.com/NuGet/Home/issues/5419 Legacy package reference does not no-op after building on package install.
- [x] https://github.com/NuGet/Home/issues/5778 E2E tests have incom

[2017-08-08 17:18] zhili1208 commented on #5267
@jamiegs could you verify latest CLI in your scenario? Thanks

[2017-08-08 17:43] jamiegs commented on #5267
@zhili1208 yeah, I should have time to test it later today.

[2017-08-08 18:13] zhili1208 opened #5722 "Auto Restore and Solution Restore should fail immediately when consent is not granted."
OnBuild restore fail immediately when consent is not granted.

But Auto Restore and Solution Restore still start a restore job and fail in the restore job.

The reason we do that is we need to raise the missing package bar for packages.config.

Open question is do we still need to raise missing package bar when restore is disabled.

Onbuild restore doesn't do that in current design.

[2017-08-08 18:22] nkolev92 commented on #5720
//cc
Any ideas @rohit21agrawal

[2017-08-08 18:23] jainaashish opened #5723 "NuGet hang on right click context menu in LSL mode"
- [x] Implement fast check to know if any project in solution supports NuGet
 - [x] Update manager UI to not block UI thread and show spinning dialog until NuGet is initialized in background.

[2017-08-08 18:36] zhili1208 commented on #5267
also tested CLI 2.0.1
[code]

[2017-08-08 18:55] #4931 closed, assigned to emgarten

[2017-08-08 19:08] nkolev92 opened #5724 "Tool restore fails with an exception when the tool is not found in any sources"
Found while analyzing/fixing https://github.com/NuGet/Home/issues/5716.
Tool restore fails badly with an exception when the tool is not found in any sources.
Basically we fail to build the assets file path because we don't have the version.
4.1.0
[code]

4.3.0
[code]

[2017-08-08 19:16] sartan commented on #4413
For the time being, this inelegant workaround seems to do the trick:

`ln -s ~/.nuget/NuGet ~/.config/Nuget`

[2017-08-08 19:16] sartan commented on #4095
For the time being, this inelegant workaround seems to do the trick:

`ln -s ~/.nuget/NuGet ~/.config/Nuget`

[2017-08-08 19:42] anangaur opened #5725 "Package applicability in NuGet package manager - Search & Update by TFM"
Status: **Reviewing**

The specification is available here:
[Package applicability in NuGet package manager UI](https://github.com/NuGet/Home/wiki/Package-applicability-in-NuGet-package-manager-UI)

The prerequisite for this issue is https://github.com/NuGet/NuGetGallery/issues/3098. The implementation will *start* server side.

Client side discussions should happen on this issue.

This issue cove

[2017-08-08 20:09] phillijw opened #5726 "Pack improperly encodes filenames"
## Details about Problem

NuGet product used: Package Manager Console

NuGet version (x.x.x.xxx): 2.8.50926.602

dotnet.exe --version (if appropriate): --

VS version (if appropriate): VS Enterprise 2017 (15.2)

OS version (i.e. win10 v1607 (14393.321)): win 7

Worked before? If so, with which NuGet version: Unsure

## Detailed repro steps so we can see the same problem

1. Create a nuspec file

2

[2017-08-08 20:17] phillijw commented on #5726
Just saw this which is likely the fix: https://github.com/NuGet/Home/issues/2389

[2017-08-08 20:25] jamiegs commented on #5267
@zhili1208 I spent awhile trying to get a test up and running and I realized I don't know enough about the dotnet cli and cli utils to be able to test it.  I was having a problem where it couldn't find some beta dependancies.

A co-worker of mine created a github repo which can be used to reproduce the issue though. https://github.com/lshearer/NuGetPushFailRepro   You should be able to pull master

[2017-08-08 22:43] zhili1208 commented on #5267
@jamiegs I can't repro the issue with your sample

[code]

[2017-08-08 23:11] zhili1208 commented on #5267
I can repro this issue by pushing  Lykke.Service.OperationsRepository.Client.1.0.35.zip on Mac to nuget.org with CLI 1.0.4.

CLI 2.0.1 and 2.1.0 works well

[2017-08-08 23:48] #5716 closed, assigned to nkolev92

[2017-08-08 23:49] nkolev92 commented on #5716
@natemcmaster This is fixed now.
It will go into CLI/SDK with our next insertion.

[2017-08-08 23:50] natemcmaster commented on #5716
Awesome, thanks!

[2017-08-09 04:31] axelpfeuffer opened #5727 "Bug in NuGet.CommandLine.MsBuildUtility.GetToolsetFromUserVersion()"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 4.1.0.2450

VS version (if appropriate): Visual Studio 2015

OS version (i.e. win10 v1607 (14393.321)): Windows 7 Professional. v6.1 (Build 7601: Service Pack 1)

Worked before? No.

## Detailed repro steps so we can see the same problem

1. Prepare a Windo

[2017-08-09 06:40] davkean opened #5728 "NuGet output log doesn't seem to complete when restoring packages"
Remove the content above here and fill out details below.

## Details about Problem

Version 15.3.0 Preview 7.0 [26730.0.d15rel]

## Detailed repro steps so we can see the same problem

1. Open Output window
2. Create new .NET Core (Console Application)
3. Wait for restore to finish

Expected: Package Manager output to say it's done
Actual:
![image](https://user-images.githubusercontent.com/110390

[2017-08-09 08:28] GieltjE commented on #5649
@zhili1208 I'll attempt to create one during the next week, I cannot post the full solution as it's proprietary.

[2017-08-09 10:50] ashclarke commented on #1909
Agreed. Same issue here - custom package source (MyGet) and a super slow update time in VS2015.

1 package, updated in 11 projects, took 4 minutes 24 seconds.

Notes:

* I have also applied the `maxconnection="256"` change to `devenv.exe.config`.
* I attempted to skip binding redirects, as per [this](https://github.com/NuGet/Home/issues/1909#issuecomment-303694743) comment/issue, and I gained abou

[2017-08-09 11:48] maartenba commented on #5725
Just some random thoughts having had this thing in a mind background thread.

A first question would be: will this be a server-side or client-side thing? Or, as I would expect, both sides?

Package metadata does not contain the relevant info required to make a decision whether to include/exclude a result, so this should be based on telemetry. Ideally, this telemetry is something that can be collec

[2017-08-09 13:27] mfilippov commented on #3324
It is the very painful issue if you restore packages into AppData folder and you have a long username. Some package couldn't be restored. :(

[2017-08-09 15:30] zone117x commented on #2662
This has continued to be a really painful issue for us. Surprised it has not been fixed after all this time. Anyway to get this prioritized?
Trying to use aspnetcore for a self hosted http server and the packages cannot be installed on either of the "supported" Xamarin.Mac frameworks. Forcing us to use unsupported net451 which comes with this own set of issues..

[2017-08-09 16:14] livarcocc opened #5729 "Lock file has not changed, Skipping lock file write"
_From @littleKing82 on August 9, 2017 8:11_

## Steps to reproduce
1. Go to 'Package Manager' console
2. Select Project from Default project dropdown (e.g. The project i selected is created in VS2017 and target franework is DotNetCoreApp1.1
3.Install-Package System.ComponentModel.Annotations -Version 4.3.0

## Expected  behavior
Should have installed System.ComponentModel.Annotations successfully.

[2017-08-09 16:27] zhili1208 commented on #5718
Fixed in https://github.com/NuGet/NuGet.Client/commit/e02233b8872ec0769fe9836d60d8c48900655bb3

[2017-08-09 16:27] #5718 closed, assigned to zhili1208

[2017-08-09 16:28] zhili1208 commented on #5659
Fixed in https://github.com/NuGet/NuGet.Client/commit/e02233b8872ec0769fe9836d60d8c48900655bb3

[2017-08-09 16:28] #5659 closed, assigned to zhili1208

[2017-08-09 16:29] hypersw commented on #3324
I'm using core DLLs from nuget for processing packages, and I cannot move to v4 APIs because of this problem.

[2017-08-09 16:40] GouriKumari opened #5730 "nuget restore from command line fails with 4.3-preview"
## Details about Problem

nuget restore from command line fails for Windows UWP projects with 4.3-preview

NuGet product used : NuGet.exe

NuGet Version: 4.3.0.4

OS version : windows and macOS

Worked before? If so, with which NuGet version: NuGet Version: 4.1.0.2450 and 3.5.0.x

## Detailed repro steps so we can see the same problem

1. Download  a forms sample , https://developer.xamarin.com/sa

[2017-08-09 16:48] livarcocc opened #5731 "dotnet add package does not recognise local source (mac)"
_From @macon on August 7, 2017 9:46_

## Steps to reproduce
Create a new local nuget source:
[code]
Add a nuget package to this source:
[code]
Try and add this package to a project:
[code]

## Expected  behavior
Should add the package successfully

## Actual behavior
Get the following message:
[code]

## Environment data
`dotnet --info` output:
(from nuget package source folder)
[code]

(from proj

[2017-08-09 16:48] livarcocc commented on #5731
_From @macon on August 7, 2017 9:51_

Additionally, the following dotnet add command worked:
[code]

[2017-08-09 16:49] alpaix commented on #3660
Actual work is track'd in #5562. Closing this one as dupe.

[2017-08-09 16:49] #3660 closed, assigned to rrelyea

[2017-08-09 17:05] zhili1208 commented on #5624
the text is correct.
uncheck "Allow NuGet to download missing packages" -> disable all restore (auto restore, solution restore, build restore)

uncheck "Automatically check for missing packages during build in Visual Studio" -> disable restore during build

In the doc, we should say:

To prevent NuGet from restoring packages during build, open the Visual Studio Options dialog, click on the Package

[2017-08-09 17:11] zhili1208 commented on #5731
this is a dup of https://github.com/NuGet/Home/issues/4095

"mono nuget.exe sources add" the source to/[username]/.config/NuGet/NuGet.Config,

But CLI read source from [username]/.nuget/NuGet/NuGet.Config

[2017-08-09 17:11] #5731 closed, assigned to nobody

[2017-08-09 17:58] zhili1208 commented on #5267
I think it's fixed in CLI 2.0.0 which will be released next Monday(8/14/17), also you can try CLI 2.0.x nightly build from https://github.com/dotnet/cli/tree/release/2.0.0. Close it, feel free to reopen it if you still hit this issue in CLI 2.0.0

[2017-08-09 18:05] rohit21agrawal commented on #5676
@ChickJ @sharwell thanks for your feedback. I have a PR out for this to make the clean target conservative - the limitation would be that it would only work for static package versions. it would not cover the scenario that @ChickJ mentioned when package versions change dynamically with each build.

We would love to hear feedback about how common that scenario is, and based on that, we will make im

[2017-08-09 18:07] zhili1208 commented on #5695
checked nuget.exe 2.8, 3.5 and 4.1, source Name of credential in NuGet.Config is case sensitive in all nuget version. this is not an regression

[2017-08-09 18:07] #5695 closed, assigned to zhili1208

[2017-08-09 18:11] #5676 closed, assigned to rohit21agrawal

[2017-08-09 18:11] #5642 closed, assigned to PatoBeltran

[2017-08-09 18:14] PatoBeltran opened #5732 "4.4 Bugs"
- [x] https://github.com/NuGet/Home/issues/5641 - [DesignConsistency] Confusing message when adding a NuGet package
- [x] https://github.com/NuGet/Home/issues/5642 - [DesignConsistency] NuGet Installation status text doesn’t look correct on dark theme currently.

[2017-08-09 18:31] jonkerr commented on #5348
Downgraded to Tools 1.1.0 as per some folks instructions.  Closed all instances of VS and deleted packages from c:\users\my_name\.nuget\packages\microsoft.entityframework.*

After restarting VS and reloading project with PMC minimized (auto package restore turned on) I see both 1.1.0 and 1.1.1 packages under microsoft.entityframeworkcore.tools  Is there some other dependency that's preventing me f

[2017-08-09 18:45] rrelyea commented on #5562
@dasMulli , @niemyjski - you had asked questions in #3660.
This work will just add support for msbuild /t:restore into the build tools sku.  As of now, that restore target doesn't support packages.config.

Build sku users will be able to use NuGet.exe (obtained from http://nuget.org/downloads) and support all nuget integrations -- or they can migrate to projectreference (legacy csproj or netcore s

[2017-08-09 18:53] nkolev92 commented on #5729
@littleKing82 I am not able to reproduce this issue.
Which version of Visual Studio are you using?

The logs seem to be incomplete, so it's hard to tell if there really is a problem. There's no "time elapsed" and "finished" log statements etc.

If you are able to reproduce this again, can you please enable diagnostic verbosity by setting
"Tools -> Options -> Projects and Solutions -> Build and Run

[2017-08-09 19:00] zhili1208 commented on #5649
@GieltjE Also could you try "msbuild /t:restore X:\FYN Retail\Retail.sln." in developer Command Prompt?

NuGet.exe actually call "msbuild /t:restore" to do restore.

I can restore your csproj file from "Requested files.zip" and those two packages are restored.

[code]

[2017-08-09 19:06] rohit21agrawal opened #5733 "test bug"
@NuGet/nuget-client

[2017-08-09 19:13] zhili1208 commented on #5649
Also you can try nuget.exe 4.3 from https://dist.nuget.org/index.html? 4.3 can log more information if there is some issue in your csproj

[2017-08-09 19:21] JackGrinningCat commented on #1909
I just recently updated from VS2015 to VS2017.

Out Build server, Is using the version nuget 3.3.0.212.

This is the first time updating a package with vs2017, and it took around **59 second**s with a warning about lowest dependency. I removed the package and reinstalled the package.
Then it took around **15 seconds**.

Package Manager Console Host Version 4.2.0.2457

I restarted Visual Studio to

[2017-08-09 19:31] nkolev92 commented on #5730
This has been fixed in the latest previews.
We will release our rtm version at the beginning of next week.
https://dist.nuget.org/index.html

[2017-08-09 19:31] #5730 closed, assigned to nobody

[2017-08-09 20:10] nkolev92 commented on #5728
That looks weird.
I did a quick sanity test and it seems fine.
Did VS hang or something?

Can you repro it consistently?

[2017-08-09 20:15] nkolev92 commented on #5726
@phillijw Can you please try using a newer version of the exe?
You can find them here: https://dist.nuget.org/index.html

[2017-08-09 20:47] nkolev92 commented on #5730
@GouriKumari Can you please make sure that this problem is fixed on your end as well.
These are our latest preview bits.
https://1drv.ms/f/s!Atw9UGgSyF-E1TIU_-1le9R2zDWH

Thanks.

[2017-08-09 21:01] GouriKumari commented on #5730
@nkolev92 :
It's working from my end as well.
https://gist.github.com/GouriKumari/f4a71c04d357d470f977738940f05af3

[2017-08-09 21:09] phillijw commented on #5726
Our build server was happy with it using a newer version, yes. So that did work. I expected VS2017 to have a newer version with it although I might misunderstand how they are connected.

[2017-08-09 21:20] nkolev92 commented on #5730
@GouriKumari
awesome. thanks!

[2017-08-09 21:25] NN--- commented on #3324
You can shorten with subst program.
Pretty ugly solution but works.

[2017-08-09 21:39] rrelyea commented on #3324
@anangaur pinged me internally yesterday too.
Moving to our new "backlog" milestone and setting to P0, as this is blocking moving to NuGet 4.x for several customers.

[2017-08-09 21:53] rrelyea commented on #5733
can you fix this? :-)

[2017-08-09 21:55] #5630 closed, assigned to emgarten

[2017-08-09 22:04] emgarten commented on #5733
I am blocked by this, is there a workaround yet?

[2017-08-09 22:08] rohit21agrawal commented on #5733
@emgarten yeah. run the following command on your machine:
``` git config user.email "email@microsoft.com" ```

[2017-08-09 22:09] emgarten commented on #5733
Looks like a malicious command that would steal my identity

[2017-08-09 22:15] rohit21agrawal commented on #5733
@NuGet/nuget-client trying to make it public to see if that would work

[2017-08-09 22:25] mishra14 commented on #5733
@rohit21agrawal  seems like the work of a hacked account. very suspicious.

[2017-08-09 23:36] boarmanc commented on #2321
Why is this closed? The [current docs](https://docs.microsoft.com/en-us/nuget/tools/nuget-exe-cli-reference#install) say the `nuget install` command should support this option.

[2017-08-09 23:43] boarmanc commented on #4827
Experiencing the same issue with Nuget 4.3.0.3

[2017-08-09 23:47] boarmanc commented on #2405
Similar use case here - we have multiple msbuild scripts that move and copy package files around. Not having to specify version numbers means the scripts can be generic and still work even as that nuget packages are 'reved' over time.

[2017-08-10 00:29] mishra14 opened #5734 "Multiple NU1603 warnings in Error List for the same issue"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS

NuGet version (x.x.x.xxx): 4.4.0.4365

VS version (if appropriate): d15rel 26730.0

## Detailed repro steps so we can see the same problem

1. Create new net core console app (ProjA)

2. Add a new net core class library to the solution (ProjB)

3. Add project reference to ProjB

4. Add the

[2017-08-10 00:43] PatoBeltran commented on #3825
Closing this out. NuGet now ships hand in hand with VS, therefore specific NuGet versions are less important because they are tied to specific VS versions.

[2017-08-10 00:43] #3825 closed, assigned to nobody

[2017-08-10 04:40] emgarten opened #5735 "Nuspec files should be read once per restore"
Nuspec files are currently read multiple times during restore due to there being multiple types of resources for package folders.

This should be improved by sharing NuspecReaders across a restore operation.

[2017-08-10 06:36] emgarten commented on #1806
Thanks @billboyletrintech and @WardenGnaw for fixing this issue! 🥇

Merged with https://github.com/NuGet/NuGet.Client/commit/6f8d529312187fa1b6734da8d4ed9dc3442b916c

[2017-08-10 06:36] #1806 closed, assigned to emgarten

[2017-08-10 08:48] emgarten commented on #4827
Dupe of https://github.com/NuGet/Home/issues/2405

[2017-08-10 08:48] #4827 closed, assigned to nobody

[2017-08-10 08:49] emgarten commented on #2405
Thanks for the feedback everyone, this looks like a pretty common scenario. I took a look through the code and it should be possible to get the old 2.x behavior back and fix this in 4.x.

[2017-08-10 09:05] emgarten opened #5736 "nuget.exe install TargetFramework support"
Add a `-Framework` parameter to `nuget.exe install` to be used for selecting dependency groups when talking dependencies.

Currently `nuget.exe install` uses the `Any` framework which makes it very difficult to use with packages containing multiple target framework groups.

[2017-08-10 09:12] emgarten opened #5737 "nuget.exe install incorrectly disables caching"
nuget.exe install disables caching when no version is provided.

In 2.x this changed the install by removing the machine cache from the sources list (by default the cache is a source for nuget.exe packages.config scenarios). The hash would be verified but downloading the package again would be skipped.

In 3.x/4.x the cache is completely ignored and the package is re-downloaded each time using Dir

[2017-08-10 12:58] husainaloos opened #5738 "NuGet UI in VS displays the wrong available versions of nuget packages."
I am connecting my nuget in VS to artifactory, an internal nuget source, and disconnected it from nuget.org.

But suprisingly, the versions displayed for all the packages are from nuget.org, and not from artifactory. For example, log4net in artifactory does not have v2.0.8. But the VS UI displays v2.0.8.

I wonder if anyone else has the same problem.

## Details about Problem

NuGet product used (

[2017-08-10 17:01] #5562 closed, assigned to alpaix

[2017-08-10 17:03] bording commented on #5602
It appears that the current specification document is incorrect regarding how version ranges work with direct dependencies. It says that given the following package reference:
[code]
That it would pick the highest version, 5.0.0. This is not what I observe. Instead, that version range would resolve to the lowest version, 4.0.0.

Floating version numbers appear to be the only case where any sort of

[2017-08-10 17:20] rohit21agrawal commented on #3643
this has been fixed in our dev branch.

[2017-08-10 17:20] #3643 closed, assigned to rohit21agrawal

[2017-08-10 17:36] bording commented on #5501
Will this work also change how NoWarn is handled for transitive dependencies on a package reference?

For example, in a netcoreapp2.0 project, if I have the following package reference:
[code]
The warning is suppressed for the ApprovalTests package itself, but I still see a warning for the ApprovalUtilities package that it depends on:
![image](https://user-images.githubusercontent.com/753669/29183

[2017-08-10 17:40] daviburg commented on #3891
+1 on also having a project with a reference project built in the same solution to include in a single NuGet package.

[2017-08-10 17:47] nkolev92 commented on #5733
Are we shipping a hotfix for this @rohit21agrawal

[2017-08-10 17:51] nkolev92 commented on #5726
Thanks for checking that @phillijw, Glad it's fixed!
NuGet.exe ship-cycle is now aligned VS 2017 ship cycle, but it doesn't ship within VS.
Update 4.3 of the exe will be update 15.3 for VS etc.

[2017-08-10 17:51] #5726 closed, assigned to nobody

[2017-08-10 17:58] anangaur commented on #5602
Thanks @bording for reporting the discrepancy. This was an oversight from my end. I have corrected the same in the spec.

2. If a range is specified - NuGet resolves to the lowest version specified in that range.
E.g.

   Feed has only these versions for My.Sample.Lib: 4.0.0, 4.6.0, 5.0.0

   a. Range is specified:

   `<PackageReference Include="My.Sample.Lib" Version="[4.0.0, 5.0.0]"/>`

      N

[2017-08-10 18:53] infin8x opened #5739 "Add support for HTTP Authorization header"
Feature request

NuGet product used: NuGet.exe | dotnet.exe
NuGet version (x.x.x.xxx): any
dotnet.exe --version (if appropriate): any

We'd like to have the ability to add a single-use token (provided by the VSTS Team Build system) into the HTTP Authorization header for restore and push requests. In our flows, the build agent already handles authorization and has a token that other tools (e.g. Git

[2017-08-10 18:54] jonkerr commented on #5348
Got a preview version of 15.3.
Loaded project
Opened PMC
Same error: ..\tools\init.ps1:String) [], CommandNotFoundException

[2017-08-10 19:10] mishra14 commented on #5501
@bording - Thanks for bringing up a great point. Unfortunately, current plan will not resolve your case.

but you can easily work that by adding a project wide no warn property -

[code]

If you feel that your scenario needs to be resolved as well, please feel free to open up a new issue and link it here. We will add it to our next triage/discussion.

hope this helps!

[2017-08-10 19:19] kzu commented on #3891
@zvirja in pre-15.3, the only way to override the built-in SDK 'Pack' target is to build with an explicitly garbage argument like https://github.com/xamarin/Xamarin.VSSDK/blob/master/build.proj#L8

Under MSBuild 15.3 (which == VS 15.3, since one doesn't ship without the other anymore), installing the nugetizer nuget package itself will perform the overriding as necessary.

[2017-08-10 19:27] maartenba commented on #5739
Can't you use an API key for this? Already supported in all NuGet versions.

[2017-08-10 19:33] bording commented on #5501
@mishra14 I'd like to avoid a global warning suppression since it would hide the warning for any new packages I might add in the future as well.

I'll open a new issue then, thanks!

edit: Issue opened: https://github.com/NuGet/Home/issues/5740

[2017-08-10 19:50] bording opened #5740 "NoWarn on a package reference does not apply transitively to its dependencies"
If I have added NoWarn to a package reference to suppress NU1701, it only applies to the specific package and not its dependencies.

For example, in a netcoreapp2.0 project, if I have the following package reference:
[code]
The warning is suppressed for the ApprovalTests package itself, but I still see a warning for the ApprovalUtilities package that it depends on:
![image](https://user-images.git

[2017-08-10 20:35] alpaix commented on #5348
Make sure restore is done. In certain rare cases it takes longer than usual. If that's the case next attempt to run a command in PMC should succeed.

[2017-08-10 20:39] emgarten commented on #5739
@alexmullans can you explain what would be needed from nuget for this? An extension point for injecting headers provided by the current credential provider extension points?

[2017-08-10 20:39] alpaix commented on #5348
Also as the error message is different it must be a different issue. I'd suggest you to file a feedback ticket via the [Report-a-problem](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017) tool. So that we could address your problem separately.

[2017-08-10 20:49] jonkerr commented on #5456
I believe this issue started with VS 2017 Update 2.  Since the update, I can't add any migrations due to this "init.ps1' is not recognized as the name of a cmdlet..." issue.
Visual Studio 15.2 (26430.16)
Package Manager Console Host 4.2.0.2457

I copied the project to a different computer without the update and was able to add migrations again.
Visual Studio 15.0.0+26228.9
Package Manager Console

[2017-08-10 20:55] anangaur commented on #5740
@bording We did discuss this issue and there doesn't seem to be a clear way to fix this. Suppressing per package is meant to suppress only for that package so that the user knows the issue is only for a given package and can know about warnings in future for other package dependencies he/she adds. However, I do see this use case may not be a rare one.

May be we need another property NoWarnTransit

[2017-08-10 20:56] nkolev92 commented on #5738
@husainaloos
Can you please share some information so we can understand your problem better.

Can you post images of what you're articulating?
How are you disconnecting from nuget.org? Do you have the source disabled?
Does the NuGet dialog refresh when once you have disabled/enabled a source.

Thank you.

[2017-08-10 20:58] rrelyea commented on #4396
We had one "hack" fix for preview 1.

The fix we ended up with was:
SDK/CLI sets an msbuild property and passes it to nuget via dotnet restore command line param.
In VS, we also have the Roslyn project system sent that same property into NuGet when a restore is nominated.

[2017-08-10 21:01] rrelyea commented on #4939
Fallback folders enable the first time restore to be much faster, as it avoids disk activity.

[2017-08-10 21:50] emgarten opened #5741 "nuget.exe install should have DisableParallelProcessing on mono"
The current nuget.exe install code disables parallel too early, later it is overridden and set to false. The end result is that on mono nuget.exe install runs in parallel.

https://github.com/NuGet/NuGet.Client/blob/74f7d7557c089431e10ce55d0dce4cab8c36a54f/src/NuGet.Clients/NuGet.CommandLine/Commands/InstallCommand.cs#L56

[2017-08-10 22:08] #5168 closed, assigned to nobody

[2017-08-10 23:18] mishra14 commented on #5501
@bording thanks! We will consider the issue.

[2017-08-10 23:19] mishra14 commented on #5501
Spec for resolving this issue - https://github.com/NuGet/Home/wiki/%5BSpec%5D-Transitive-Warning-Properties

[2017-08-10 23:44] zhili1208 commented on #5456
looks like this is fixed by @alpaix https://github.com/NuGet/NuGet.Client/commit/e5d632d5ed22380626ea8579b9c49ee1f3379b53

[2017-08-10 23:47] nkolev92 commented on #5720
@thejeff77
From https://docs.microsoft.com/en-us/nuget/tools/nuget-exe-cli-reference#pack
[code]
Does your dependent project have a nuspec file that has the same name as the project?

Thanks!

[2017-08-11 00:05] alx9r commented on #5703
This seems to work:

[code]

Thanks for the guidance @emgarten.

[2017-08-11 00:56] thejeff77 commented on #5720
No. Since I'm building with Nuget 4, I'm making the assumption that building with .csproj files is the recommended approach. I'm also witnessing that the referenced project is in fact not being added as part of the package. Thanks for any additional help or fixes.

[2017-08-11 00:59] rohit21agrawal commented on #5720
@thejeff77 is this a NETCore project that you are trying to pack?

[2017-08-11 01:01] thejeff77 commented on #5720
Not entirely sure, but I can check tomorrow. Does that change things?

[2017-08-11 01:02] rohit21agrawal commented on #5720
yes. NuGet.exe doesn't really have support for packing NETCore projects. you should use dotnet.exe pack or msbuild /t:pack to pack a NETCore project.

Also, for NETCore projects, any referenced projects are added as a package reference by design. We are, however, considering working on implementing support for adding referenced project's dll into the parent nupkg.

[2017-08-11 01:15] thejeff77 commented on #5720
Hmm, I'll give some of those a try. I'll try to add more context tomorrow for what I was trying to do, and let you know if its a NETCore project.

PLEASE do that! If the nuget pack command could somehow put all of the files that end up in bin/<Debug|Release> into the package automatically that would be awesome. I think that is what this command is supposed to do... It has a sort of recursive natur

[2017-08-11 04:05] #5735 closed, assigned to emgarten

[2017-08-11 05:12] lennoncork opened #5742 "Restore doesn't work with modified build output"
This problem applies to both VS2017, nuget.exe and MSBuild restore If you modify the build output and use configuration variables.

## Example
`<OutputPath>..\output\$(AssemblyName)\bin\$(Configuration)</OutputPath>`
`<BaseIntermediateOutputPath>..\output\$(AssemblyName)\obj\$(Configuration)</BaseIntermediateOutputPath>`

## Reproduction (VS2017)
1. Create a netstandard project in VS2017
2. Change

[2017-08-11 05:23] emgarten commented on #3336
Framework parameter support is now covered here: https://github.com/NuGet/Home/issues/5736

Extraction mode would be handy, this would give similar behavior to the Add command, but from remote sources.

[2017-08-11 05:29] emgarten commented on #1042
Closing in favor of https://github.com/NuGet/Home/issues/5736

[2017-08-11 05:29] #1042 closed

[2017-08-11 05:45] emgarten commented on #5017
This still repros in 4.3.0 and is a regression from 2.8.6.

[2017-08-11 05:57] emgarten opened #5743 "packages.config restore shows errors as NU1000"
Packages.config restore displays missing package errors as NU1000, this code should be removed from the message.

[code]

[2017-08-11 06:13] AndreyAkinshin commented on #3324
Here is a related issue: https://github.com/NuGet/Home/issues/1727 "Packages with deep content get partially unpacked and an incorrect error result of "Package Not Found"" (Nov 13, 2015)

[2017-08-11 06:14] AndreyAkinshin commented on #3324
And another one: https://github.com/NuGet/Home/issues/3981 "nuget restore exceeding MAXPATH" (Nov 21, 2016)

[2017-08-11 06:16] AndreyAkinshin commented on #3324
And an issue on msdocs.uservoice.com: https://msdocs.uservoice.com/forums/364242-site-feedback/suggestions/18432571-add-a-how-to-enable-long-path-support-with-nuget "Add a "how to enable long path support with nuget and .NET 4.6.2" section" (February 23, 2017)

[2017-08-11 06:22] rollsch commented on #1909
This takes at least 5-6 minutes per package on any aspnet project I have, even reinstalling existing packages takes minutes upon minutes. No network activity and no cpu activity, just sits there doing nothing.

I spent almost an hour fixing a package issue the other day as I had to re-install them a few times due to a path issue I had.

Drove me bonkers!

[2017-08-11 06:29] emgarten commented on #1556
This appears to be fixed in 4.4.0.  Watching the fiddler trace I see calls running sync with disable parallel, and in parallel without it.

[2017-08-11 06:29] #1556 closed, assigned to emgarten

[2017-08-11 06:35] emgarten commented on #1646
I am not able to repro this in nuget.exe 4.3.0. Please let me know if you are still seeing this issue.

[2017-08-11 06:35] #1646 closed, assigned to emgarten

[2017-08-11 07:29] emgarten commented on #3244
`nuget.exe install` scenarios are a bug, tracked here: https://github.com/NuGet/Home/issues/5017
Fix: https://github.com/NuGet/NuGet.Client/pull/1634

project.json restore still needs to be investigated.

[2017-08-11 10:30] JohnyWS commented on #4195
"doesn't not exist" isn't the best error ever. :)

Also, could it be changed, so that you could provide the exe path too, and not the folder only?

[2017-08-11 10:37] TAGC commented on #5707
Any update on this?

[2017-08-11 10:38] josemaia opened #5744 "nuget.exe via Mono hangs while installing packages"
## Details about Problem
Inside a Docker container, I am attempting to perform a cake build on a dotnet project. The Dockerfile of that container has a series of workarounds that are necessary for things to work correctly, notably, ensuring I could access the public nuget feeds via HTTPS.

- Installing everything I need for the build (dotnet, mono, npm...)

- Setup /etc/localtime

- export MONO_TL

[2017-08-11 11:41] josemaia commented on #5744
Doing this with a fresh container seems to have fixed things.

[2017-08-11 11:41] #5744 closed, assigned to nobody

[2017-08-11 11:56] husainaloos commented on #5738
@nkolev92 Thank you for the response. And I am sorry I should have been clearer and should have posted some images.

This image shows that I am disabling nuget.org and only using artifactory (internal nuget server).
![image](https://user-images.githubusercontent.com/4754802/29211951-a991da26-7e61-11e7-9a11-eed40a0135b7.png)

Now notice that for log4net, nuget UI thinks that all these versions are

[2017-08-11 13:14] JackGrinningCat opened #5745 "Provide means/ways/option to measure underlying service execution times."
Hi,

I had recently a problem with the update and installing of a packet. I took around a minute.
So it dropped to 5 seconds after some changes and retries. But sometimes its hard to say where the problem is lying. But within, I was searching for the issues here and wrote a commend to not let it drop.

A college reported later, that network was slow on that day. So this days I wish for an option t

[2017-08-11 13:29] pedrolamas commented on #2577
@onovotny

Nothing stops NuGet of allowing users to just go to the website, logging in to their account, and then specifying their public PGP/GPG key(s).

This is something that GitHub already does with great success!

PGP/GPG has been around long enough to be a solid and credible alternative, no one is "re-inventing" anything here!

Ubuntu package manager (apt-get stuff) uses GPG signing, so I gu

[2017-08-11 13:56] sharwell commented on #5676
@rohit21agrawal Sorry I didn't get my review here earlier. The new implementation still isn't correct, with one limitation being the one you mentioned (this is an expected case, and specifically it is a case that MSBuild is designed to handle reliably). I posted details for the correct solution in the pull request.

[2017-08-11 14:13] clairernovotny commented on #2577
I was just describing what Authenticode does and how it uses x509 certificates. I'm not suggesting that Authenticode necessarily be used as it's just one implementation of code signing. There are others too, including XmlDSig that Open Packaging uses (Office docs, VSIX). One of those may be better suited.

[2017-08-11 16:37] benwtrent commented on #1512
My issue is that `update` from the given nuget command line interface does not automatically update (as stated in the docs `If an updated package has an added assembly, a new reference is not added`). So, I have to do updates via the package management console, and if I wanted to automate this through some CI server, the work around gets pretty nasty.

https://github.com/Computician/PMCCommand is

[2017-08-11 16:48] #5685 closed, assigned to jainaashish

[2017-08-11 17:19] zhili1208 commented on #5456
@jonkerr could you try Visual Studio 2017 15.3 Preview 7 from https://www.visualstudio.com/vs/preview/? this is fixed in that version.

[2017-08-11 17:36] #5682 closed, assigned to alpaix

[2017-08-11 17:49] nkolev92 opened #5746 "NuGet.exe version log statement"
When NuGet.exe runs any command, the first line printed out is the NuGet Version.

This currently prints out the assembly version but that has changed recently and now the exe ends up printing something like 4.3.0.6 rather than 4.3.0.4300ish.

[2017-08-11 17:56] GieltjE commented on #5649
Found the root cause:

`<Import Project="$(SolutionDir)\Resources\MSBuild\MSBuild.Community.Tasks.Targets" />`

which causes:

`X:\FYN Retail>msbuild /t:restore "x:\FYN Retail\Toolkit\Toolkit.csproj"
Microsoft (R) Build Engine version 15.1.1012.6693
Copyright (C) Microsoft Corporation. All rights reserved.

Build started 11-8-2017 19:45:51.
Project "x:\FYN Retail\Toolkit\Toolkit.csproj" on node 1

[2017-08-11 18:33] zhili1208 commented on #5649
Does this target file "MSBuild.Community.Tasks.Targets " exist in your solution? looks like the $(SolutionDir) point to "x:\", I'm guessing it should point to "x:\FYN Retail\" in your case.

Did you override $(SolutionDir) in your solution?

[2017-08-11 18:34] jonkerr commented on #5456
I got 15.3 Preview 7 yesterday.  This is still an issue in that version.

[2017-08-11 18:45] zhili1208 commented on #5456
@jonkerr Could you provide repro steps for your scenario and nuget version in your VS? thanks

[2017-08-11 18:48] GieltjE commented on #5649
I did not override it, but as I specified the csproj file and not the sln file it probably could not determine the proper root.

The problem is that when specifying the sln file I cannot get it to work (see last post).

[2017-08-11 18:51] jonkerr commented on #5456
Visual Studio 15.2 (26430.16)
Package Manager Console Host 4.2.0.2457

1) Close Visual Studio
2) Open Visual Studio
3) Load Project (auto package restore turned on)
4) Open PMC window
5) See error "The term 'C:\Users\[username]\.nuget\packages\microsoft.entityframeworkcore.tools\1.1.1\tools\init.ps1' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the s

[2017-08-11 18:56] zhili1208 commented on #5649
Did you run "msbuild /t:restore "[sln file path]" "? Could you share the log?

[2017-08-11 19:11] alpaix commented on #5456
Can you confirm the `init.ps1` file presents on disk and packages cache is not corrupted?

[2017-08-11 19:13] #5746 closed, assigned to rohit21agrawal

[2017-08-11 19:21] jonkerr commented on #5456
Confirmed on disk in location noted above.  I'm able to open with powershell (so I assume not corrupted).  Where is the package cache?

[2017-08-11 19:46] alpaix commented on #5456
Package cache is at `%USERDIR%\.nuget\packages`.

Also, based on your comment you were not running 15.3 version

[2017-08-11 19:48] jonkerr commented on #5456
Update: Disabled every Visual Studio extension (and there were a lot I wasn't expecting)
No PMC errors and Adding a migration works.  Must be a conflict with something

[2017-08-11 19:53] rohit21agrawal opened #5747 "start publishing nuget.credentials as a nupkg"
CC: @rrelyea

[2017-08-11 19:54] jonkerr commented on #5456
I didn't want to do production work on a preview version but yes, I did try 15.3 Preview 7 with PMC 4.3.0.4339 yesterday and failed as well.

However, since I disabled extensions in my 15.2 version, PMC works fine in 15.3... even though I didn't disable those extensions... weird

[2017-08-11 19:55] jonkerr commented on #5456
I'm going to re-enable one by one and see if I can find the conflicting extension

[2017-08-11 20:45] zhili1208 commented on #5456
package caches is  'C:\Users[username]\.nuget\packages\', I suspect one case: when restore is still running and open PMC, at that time, init.ps1 is not on the disk, PMC get package init.ps1 path from lock file. then it might get this error.

Could you try following steps?
 Close VS-> Open VS-> Load Project -> wait until restore is done -> confirm the file is at 'C:\Users[username].nuget\packages\m

[2017-08-11 21:01] jonkerr commented on #5456
Re-enabled all extensions... and PMC works fine in 15.2 now.

[2017-08-11 21:17] zhili1208 commented on #5456
does pmc works in 15.3 preview 7 now?

[2017-08-11 21:20] jonkerr commented on #5456
Oddly enough, yes.  Even though I wasn't doing anything with those extensions

[2017-08-11 22:14] zhili1208 commented on #5456
Please try this, remove the package cache folder and do the repro steps again to see if you can repro the issue

[2017-08-11 22:19] #4166 closed, assigned to rohit21agrawal

[2017-08-11 22:31] mishra14 opened #5748 "Double clicking on NuGet warnings and errors in the Error list window does not open the source"
Currently, when NuGet throws warnings and errors in VS, the dotnet sdk picks them up from the assets file and replays them in the VS error list window.

However, even with the file path, double clicking the error or warning does not take the user to source of the problem.

[2017-08-11 22:42] nkolev92 commented on #5644
@zhili1208 I'm not sure the fix in 1639 is sufficient.
That just addresses the error message, but this is about getting an AggregateException error thrown when you have multiple sources and 1 is unreachable.

We can chat offline if you'd like.

[2017-08-11 22:44] mishra14 commented on #5748
I will reach out to the sdk folks to see if we need to fix something on our side.

[2017-08-11 22:52] nkolev92 commented on #5644
Discussed offline with @zhili1208.

The statement I was referring to was the one when the verbosity is set to deailed.

[code]
We're not gonna change that now.

[2017-08-11 22:52] #5644 closed, assigned to zhili1208

[2017-08-11 23:02] nkolev92 opened #5749 "Errors and Warnings - Consider adding a debug verbosity level for nuget"
In a lot of places in the code currently we print out exceptions stacks with detailed verbosity.
We don't need to do that, specifically when we catch that exception and output a nice message,
These exception traces don't help the user.

Example is nuget.exe restore verbosity detailed with a dead source.
[code]
//cc @emgarten @zhili1208

[2017-08-11 23:08] #4648 closed, assigned to zhili1208

[2017-08-11 23:13] zhili1208 commented on #4844
No fix for this can be made on nuget side, close it

[2017-08-11 23:17] jonkerr commented on #5456
Great, now it's hosed again.
1) Deleted the packages folder
2) Did a dotnet restore
3) Broken again

4) Deleted packages again and restored from backup
5) Still broken

If the only fix is disabling all my extensions and re-enabling, that can wait till Monday.

[2017-08-11 23:23] alpaix commented on #4014
Auto-restore UI should be integrated with the Task Status Center. TSC will actually drive the status bar text and progress bar in the future.

[2017-08-11 23:32] alpaix opened #5750 "Improve RestoreOperationLogger performance using idle task priority"
### Problem
`RestoreOperationLogger` schedules log tasks using conventional `JTF.RunAsync` API. This can potentially overwhelm VS UI thread and make it unresponsive in case of hundreds log messages.

### Solution
Consider using the extension method `JTF.StartOnIdle` to reduce the main thread stress.

Further logger improvement may involve batching log messages as well.

[2017-08-11 23:38] zhili1208 commented on #5456
I suspect the issue here is you open PMC before restore done. when you open PMC, PMC will try to execute init.ps1, if the restore is still in process, PMC might can't find the init.ps1 file on disk.

Could you confirm this theory?

1. Deleted Packages folder.
2. restore
3. wait until restore is done, check the init.ps1 on disk.
4. Open PMC.

Does those steps work?

[2017-08-12 02:49] jonkerr commented on #5456
I have packages on auto restore and wait till complete before opening PMC
so I don't think that's the case.

Also, I backed up packages when it all still worked. After restoring with
VS, the project would compile. Then, I'd open PMC and get the error. I then
deleted packages and restored from my backup that I know had everthing:
after restarting VS, PMC still complained.

Why would disabling then

[2017-08-12 02:50] #2405 closed, assigned to emgarten

[2017-08-12 02:50] #3957 closed, assigned to emgarten

[2017-08-12 02:50] #5017 closed, assigned to emgarten

[2017-08-12 02:50] #5736 closed, assigned to emgarten

[2017-08-12 02:50] #5737 closed, assigned to emgarten

[2017-08-12 02:50] #5741 closed, assigned to emgarten

[2017-08-12 02:50] #5743 closed, assigned to emgarten

[2017-08-12 02:51] emgarten commented on #2405
This will be fixed in NuGet.exe 4.4.0

[2017-08-12 02:52] #5690 closed, assigned to emgarten

[2017-08-12 04:55] emgarten commented on #5742
@lennoncork does visual studio automatically restore when you change configuration?

Restore does not support multiple configurations, but potentially visual studio could detect this change and trigger a new restore.

For command line scenarios what you describe is expected, restore allows for multiple TargetFrameworks, but configuration and other properties require that restore be executed first

[2017-08-12 07:48] ibqn commented on #4901
what is the status here? This one moves forward very slowly

[2017-08-12 12:43] GieltjE commented on #5649
`X:\FYN Retail>msbuild /t:restore "X:\FYN Retail\Retail.sln" /property:Configuration="Release Tooling" /property:Platform=x86
Microsoft (R) Build Engine version 15.1.1012.6693
Copyright (C) Microsoft Corporation. All rights reserved.

Building the projects in this solution one at a time. To enable parallel build, please add the "/m" switch.
Build started 12-8-2017 14:42:41.
Project "X:\FYN Retail\

[2017-08-12 20:02] #5663 closed, assigned to alpaix

[2017-08-13 00:54] ghuntley opened #5751 "defect w/packages.config resolver causes circular NuGet dependency installation failures - works fine w/PackageReference"
## Details about Problem

This defect is quasi-blocking the release of `netstandard` edition of ReactiveUI.

See https://github.com/reactiveui/ReactiveUI/issues/1413

We have a workaround but it involves asking people to change their visual studio configuration to use `PackageReference` instead of `packages.config` as their resolver. I don't want to release without having this problem fixed becaus

[2017-08-13 00:58] wholroyd commented on #4901
Also interested in seeing this happen

[2017-08-13 02:13] clairernovotny commented on #5751
With 15.2 and 15.3, here's what I see:
[code]

The issue is that for some reason, `System.Reactive 3.1.0 => System.Reactive.PlatformServices 4.0.0-preview00001` is happening. That should not be happening. The 4.x ones are not compatible with 3.x. As you can see from the PM output, `DependencyBehavior 'Lowest'` is there, so it shouldn't be jumping ahead.

[2017-08-13 21:18] JonDouglas commented on #5751
Just to add a quick bookkeeping item:

1. I was using `PackageReference`
2. I was using the NuGet Package Manager GUI in VS 2017 (15.2 Stable)
3. I had `Preview` checked
4. I installed `ReactiveUI -version 8.0.0-alpha0034`
4. I still ran into the same Circular dependency issue.

However when I installed the same package from the console, it worked fine. I also suspect a GUI bug at play here. I can

[2017-08-13 22:35] emgarten commented on #5751
I see the circular dependency error when packages.config from both the UI and NuGet Console in VS. I do not see it when using PackageReference.

@JonDouglas can any additional steps you used to repro the difference between the UI and Console and share the output? They should behave the same.

[2017-08-14 02:19] emgarten commented on #5751
`System.Reactive` packages appear to have reversed dependency order between versions which is especially painful since the 3.x packages do not have an upper bound on the dependency ranges, which means that the circular combination is allowed.

[code]

When resolving packages NuGet does not attempt to look for other solutions if a circular dependency occurs, this is considered a package authoring e

[2017-08-14 02:24] clairernovotny commented on #5751
@emgarten But why is it even considering a later version as valid in it's circular dependency order search? There's no circular dependency if you go with the "lowest" path... ?

It's also not just "PlatformServices," it's all of the original packages. They are now type-forwarding facades where the impl moved into `System.Reactive`. Before `System.Reactive` was just a meta-package that pulled in Pl

[2017-08-14 07:08] anangaur opened #5752 "Pack warning for SemVer appears as 5 different warnings on VS"
**Expected:**
1. We should make it a numbered warning
2. One warning with all the text is sufficient IMO

**Actual:**
![image](https://user-images.githubusercontent.com/14800916/29261483-a8f3e486-8084-11e7-9b11-e4c759b94a0b.png)

[2017-08-14 08:35] WilliamABradley commented on #5606
@emgarten any news?

[2017-08-14 10:35] sakher-sawan opened #5753 "VS2017 .NET Standard - Pack option - generate Nuget Packages in a unified directory for all projects in the solution / customize package creation path"
Please read the following information before posting the issue.
## Details about Problem

NuGet product used (VS UI | Package Manager Console | dotnet.exe):

NuGet version (Package Manager Console Host Version 4.1.0.2427):

dotnet.exe --version (2.0.0-preview2-006497):

VS version (VS2017 26403.7):

OS version (win10):

Worked before? If so, with which NuGet version: No

## Detailed repro steps so

[2017-08-14 10:39] sakher-sawan opened #5754 "VS2017 - .NET Standard - Pack option - referenced projects are not included and not option to include them"
## Details about Problem

NuGet product used (VS UI | Package Manager Console | dotnet.exe):

NuGet version (Package Manager Console Host Version 4.1.0.2427):

dotnet.exe --version (2.0.0-preview2-006497):

VS version (VS2017 26403.7):

OS version (win10):

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Create a .NET Standard project

[2017-08-14 16:24] jonkerr commented on #5456
And it's still broken.  Disabling my extensions didn't fix it this time.  Help!!

[2017-08-14 16:27] jonkerr commented on #5456
@zhili1208 no, those steps don't work

[2017-08-14 16:49] sandyarmstrong commented on #5555
Visual Studio 15.3 for Mac shipped today, with .NET Core 2.0 support.

This bug is still not fixed. VS and `dotnet` use different `NuGet.config` files.

[2017-08-14 16:59] zhili1208 commented on #5456
Could you try to uninstall microsoft.entityframeworkcore.tools and remove the package from cache, then install it again?

it will execute init.ps1 during install.

And please always try it on VS 15.3 preview 7.

[2017-08-14 17:38] jonkerr commented on #5456
That worked.  Thanks @zhili1208

[2017-08-14 17:47] zhili1208 commented on #5456
Please update to 15.3-RTM which is released this morning, close this, feel free to reopen it, if you still hit this issue.

[2017-08-14 17:53] #5641 closed, assigned to PatoBeltran

[2017-08-14 17:54] #5694 closed, assigned to PatoBeltran

[2017-08-14 17:57] lennoncork commented on #5742
@emgarten yes, Visual Studio does restore, but it say's there is nothing to be done (even though the .dlls don't exist in the output). I suspect that NuGet/MSBuild doesn't realize that the build output is different from default. It could be that VS does not re-evaluate the .csproj file when switching configurations.

To be clear, even if you manually force a restore from withing Visual Studio you

[2017-08-14 18:09] rohit21agrawal commented on #5753
@mss37  you can set the ``` <PackageOutputPath> ``` property in your csproj (which is relative to your project directory) to determine where the package gets output.

For reference , https://docs.microsoft.com/en-us/nuget/schema/msbuild-targets#pack-target

[2017-08-14 18:12] zhili1208 commented on #5649
Please try "msbuild /t:restore "X:\FYN Retail\Retail.sln" /property:Configuration="Release Tooling" /property:Platform=x86 /v:diag" to get full log

[2017-08-14 18:12] rohit21agrawal commented on #5754
@mss37 currently all referenced projects are included as PackageReference in your output nuspec ( that is contained within the nupkg) which is by design.
We are, however, considering adding capability to add the referenced DLLs as part of the nupkg. Please subscribe to  issue  https://github.com/NuGet/Home/issues/3891 for more updates.

[2017-08-14 18:12] #5754 closed, assigned to nobody

[2017-08-14 18:13] #5747 closed, assigned to rohit21agrawal

[2017-08-14 18:14] jonkerr commented on #5456
Still an issue if I close VS and reopen.  PMC only works if I uninstall and reinstall Tools first, which is pretty tedious

[2017-08-14 18:16] sakher-sawan commented on #5753
I realized that, then the request is to make this available in VS 2017 UI (Package tab in project properties page).
![image](https://user-images.githubusercontent.com/15035699/29285080-17ac13e4-8125-11e7-9a05-44e4714d5f42.png)

[2017-08-14 18:17] rohit21agrawal commented on #5753
oh, let me move this to the appropriate repository then.
Appreciate the feedback @mss37 ! Keep it coming :)

[2017-08-14 18:19] rohit21agrawal commented on #5753
This issue was moved to dotnet/project-system#2709

[2017-08-14 18:19] #5753 closed, assigned to nobody

[2017-08-14 18:26] #5579 closed, assigned to rohit21agrawal

[2017-08-14 18:30] rohit21agrawal commented on #5540
@aarondandy with .net core 2.0 having released today, a restore happens automatically for build. if you pack your project with .net core 2.0 now, it will automatically build (and restore for you) preserving any pack arguments you pass and making them consistent with restore.

[2017-08-14 18:33] jonkerr commented on #5456
PMC does not work in 15.3.  Please reopen

[2017-08-14 18:44] rohit21agrawal commented on #5020
this should be fixed as part of : https://github.com/NuGet/NuGet.Client/pull/1609

[2017-08-14 18:44] #5020 closed, assigned to nobody

[2017-08-14 18:46] #5045 closed, assigned to rohit21agrawal

[2017-08-14 18:49] rohit21agrawal commented on #5315
@alxandr can you try this with the latest dotnet cli and tell us if you still encounter this issue? very interested in fixing this.

[2017-08-14 18:51] zhili1208 commented on #5456
do you hit the following error in 15.3?
See error "The term 'C:\Users[username].nuget\packages\microsoft.entityframeworkcore.tools\1.1.1\tools\init.ps1' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:45"

[2017-08-14 18:53] zhili1208 commented on #5456
also this issue is related to your machine or project? does pmc work with same project on other machine? If not, please share an repro project for investigation. Thx

[2017-08-14 18:57] jonkerr commented on #5456
Yes I still see that issue.  And yes, PMC works fine for the same project on a different machine that wasn't updated to 15.2  (It's 15.0 and I will not update it until this is fixed)

[2017-08-14 18:57] jonkerr commented on #5456
The issue began after the update to 15.2 and did not get better with 15.3

[2017-08-14 18:59] zhili1208 commented on #5456
I see, looks like your project + 15.3 can repro this on any machine, so is that possible to share an repro project for investigation?

[2017-08-14 19:07] rohit21agrawal commented on #5482
@ja0b is it possible for you to attach a repro project for us to investigate?

[2017-08-14 19:11] rohit21agrawal commented on #5436
This issue was moved to aspnet/websdk#228

[2017-08-14 19:11] #5436 closed, assigned to nobody

[2017-08-14 19:13] rohit21agrawal commented on #5374
sounds good. i'll make this change for 4.4

[2017-08-14 19:15] zhili1208 commented on #5456
also please run "C:\Users[username]\.nuget\packages\microsoft.entityframeworkcore.tools\1.1.1\tools\init.ps1" in PMC, do you hit same issue?

[2017-08-14 20:01] rohit21agrawal commented on #5374
@rainersigwald does the project set a default value of $(Description) ?

[2017-08-14 20:02] jonkerr commented on #5456
Unfortunately, I can't share the project with you due to IP restrictions.  I tried to create another project but for some reason that one worked fine.

If I run "C:\Users[username].nuget\packages\microsoft.entityframeworkcore.tools\1.1.1\tools\init.ps1" it completes without error.  However, a subsequent call to Update-Database causes an error

"The term 'Update-Database' is not recognized as the n

[2017-08-14 20:05] rainersigwald commented on #5374
@rohit21agrawal not that I can see: https://github.com/dotnet/sdk/search?l=XML&q=description&type=&utf8=%E2%9C%93

(but I'm not the OP, I just moved this bug to the right repo)

[2017-08-14 20:23] GieltjE commented on #5649
[log.txt](https://github.com/NuGet/Home/files/1223356/log.txt)

[2017-08-14 20:28] zhili1208 commented on #5456
what's your Powershell version? you can check it from $PSVersionTable.PSVersion.

if you run "import-module C:\Users[username].nuget\packages\microsoft.entityframeworkcore.tools\1.1.1\tools\EntityFrameworkCore.psd1", does update-Database work?

[2017-08-14 20:34] jonkerr commented on #5456
Major  Minor  Build  Revision
-----  -----  -----  --------
5      0      10240  17488

After running the above command, Update-Database does not work.  Also, I get this error message upon running it:

The names of some imported commands from the module 'EntityFrameworkCore' include unapproved verbs that might make them less discoverable. To find the commands with unapproved verbs, run the Import-

[2017-08-14 20:50] dtivel commented on #5706
Resolved by NuGet/NuGet.Client#1644

[2017-08-14 20:50] zhili1208 commented on #5649
Please just try "msbuild /t:restore "X:\FYN Retail\Retail.sln"" without any configuration and platform.

looks like the configuration filter out lots of projects.

[2017-08-14 20:52] GieltjE commented on #5649
C:\Users\Administrator>msbuild /t:restore "X:\FYN Retail\Retail.sln"
Microsoft (R) Build Engine version 15.1.1012.6693
Copyright (C) Microsoft Corporation. All rights reserved.

Building the projects in this solution one at a time. To enable parallel build, please add the "/m" switch.
Build started 14-8-2017 22:51:52.
Project "X:\FYN Retail\Retail.sln" on node 1 (restore target(s)).
ValidateSoluti

[2017-08-14 21:05] zhili1208 commented on #5456
@balachir looks like importing the module "EntityFrameworkCore" doesn't import all functions. Any ideas?

[2017-08-14 21:12] zhili1208 commented on #5649
Please run "msbuild /t:restore "X:\FYN Retail\Retail.sln" /property:Configuration="Release" /property:Platform=x86"

[2017-08-14 21:14] GieltjE commented on #5649
C:\Users\Administrator>msbuild /t:restore "X:\FYN Retail\Retail.sln" /property:Configuration="Release" /property:Platform=x86
Microsoft (R) Build Engine version 15.1.1012.6693
Copyright (C) Microsoft Corporation. All rights reserved.

Building the projects in this solution one at a time. To enable parallel build, please add the "/m" switch.
Build started 14-8-2017 23:13:22.
Project "X:\FYN Retail\

[2017-08-14 21:24] zhili1208 commented on #5456
Please run "import-module C:\Users[username].nuget\packages\microsoft.entityframeworkcore.tools\1.1.1\tools\EntityFrameworkCore.psd1 -verbose"

Could you get following?:
[code]

[2017-08-14 21:55] Alxandr commented on #5315
Well. I can (once I get off this train in about 8 hours), but I have a different system now so I have no idea whether or not it'll behave the same. I have both new hardware, and am running windows and not OS X, so there is a large chance things will be different if it's system specific.

[2017-08-14 21:57] commonsensesoftware opened #5755 "NuGet PackTask Does Not Include Xaml Theme Artifacts"
## Background
Applications that target the Windows Runtime (WinRT) including Windows Store, Windows Phone (WP), and the Universal Windows Platform (UWP) have a number of post-build artifacts that must included in published NuGet packages. At present, the MSBuild NuGet [PackTask](https://github.com/NuGet/NuGet.Client/blob/63e8539791d4f662efffceb2185ad4510396d76e/src/NuGet.Core/NuGet.Build.Tasks.Pac

[2017-08-14 21:58] zhili1208 commented on #5649
there might be two issues here,
1. For nuget.exe, Please try nuget.exe 4.3-rtm from https://dist.nuget.org/index.html.
Run "nuget restore . -NonInteractive -ForceEnglishOutput -Recursive -verbosity detailed"

Does everything work well?

2. Please share your sln file for msbuild /t:restore [sln file] scenario. will do more investigation.

[2017-08-14 22:07] GieltjE commented on #5649
With 4.3.0-rtm, still doesn't see toolkit/mono.cecil

X:\FYN Retail>nuget restore . -NonInteractive -ForceEnglishOutput -Recursive -verbosity detailed
NuGet Version: 4.3.0.4406
Restoring NuGet packages for solution X:\FYN Retail\Retail.sln.
MSBuild auto-detection: using msbuild version '15.3.409.57025' from 'C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\bin'. Use optio

[2017-08-14 22:07] mishra14 commented on #5752
tagging @rrelyea @rohit21agrawal  for visibility.

[2017-08-14 22:07] GieltjE commented on #5649
[Retail.zip](https://github.com/NuGet/Home/files/1223595/Retail.zip)

[2017-08-14 22:08] mishra14 commented on #5755
tagging @rrelyea and @rohit21agrawal for visibility.

[2017-08-14 22:18] rohit21agrawal commented on #5755
@commonsensesoftware all the extensibility you want from pack is already supported. see https://docs.microsoft.com/en-us/nuget/schema/msbuild-targets#pack-scenarios under "Including Content in Package" to see how you can add any file to any desired output location in package.

If you have any questions, let me know.

As for the bigger problem of doing this by default, Pack target cannot support ea

[2017-08-14 22:19] jonkerr commented on #5456
Loading module from path 'C:\Users\[user]\.nuget\packages\microsoft.entityframeworkcore.tools\1.1.1\tools\EntityFrameworkCore.psd1'.
Loading module from path 'C:\Users\[user]\.nuget\packages\microsoft.entityframeworkcore.tools\1.1.1\tools\EntityFrameworkCore.psm1'.
Exporting function 'Add-Migration'.
Exporting function 'Drop-Database'.
Exporting function 'Enable-Migrations'.
Exporting function 'Re

[2017-08-14 22:22] rohit21agrawal commented on #5755
also, please note that the PackTask is not meant to be called directly from a target. Only the Pack target should be called.

[2017-08-14 22:24] mishra14 opened #5756 "VS package install does not respect version constraints of installed package"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):  VS UI

NuGet version (x.x.x.xxx): 4.3.0.4339

VS version (if appropriate): 15.3.0 and 15.4 Preview1

## Detailed repro steps so we can see the same problem

•	Create a new netstandard class library project or a package reference net461 class library project.
•	Install the package Microsoft.Dat

[2017-08-14 23:05] emgarten commented on #5756
Dupe of https://github.com/NuGet/Home/issues/2358

[2017-08-14 23:06] #5374 closed, assigned to nobody

[2017-08-14 23:07] #5143 closed, assigned to rohit21agrawal

[2017-08-14 23:57] #4323 closed, assigned to rohit21agrawal

[2017-08-15 00:09] zhili1208 commented on #5649
1. NuGet.exe issue
X:\FYN Retail\Toolkit\Toolkit.csproj(269,3): error MSB4019: The imported project "X:\Resources\MSBuild\MSBuild.Community.Tasks.Targets" was not found. Confirm that the path in the declaration is correct, and that the file exists on disk.

$(SolutionDir) is not defined in nuget GenerateRestoreGraph target, need to fix it in nuget.exe

2.msbuild /t:restore sln issue
metaproj is no

[2017-08-15 00:12] zhili1208 commented on #5649
@GieltjE Please update your VS to 15.3-RTM from https://www.visualstudio.com/downloads/, then "msbuild /t:restore" should work then.

NuGet.exe need a fix

[2017-08-15 08:35] mariusGundersen commented on #4125
This is still a problem in the 2.0 release (released today). Neither VS15.3 nor dotnetcli 2.0.0 (with nuget cli 4.3.0.5) add `PrivateAssets="all"` when installing (for example) StyleCop.Analyzers v1.0.2.

[2017-08-15 16:20] blalonde opened #5757 "NU1603 warnings when nuspecing four part version dependencies in Nuget 4.3"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): 4.3.0.4406

dotnet.exe --version (if appropriate): 1.1.0

VS version (if appropriate): 15.3

OS version (i.e. win10 v1607 (14393.321)): win10 14393.1480

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Creat

[2017-08-15 16:27] Andne commented on #5383
I see that 15.3 is released (today apparently?), is this supposed to be fixed in that?  I've updated my main install and have tried to install the latest plugin but am still getting the same errors.  I've tried to uninstall and reinstall Nugetizer but it still lists that Microsoft.VisualStudio.Xamarin.Merq as needed.

I tried using the previously-referenced command line to add Merq manually, but t

[2017-08-15 16:43] AArnott commented on #4125
@mariusGundersen This issue is still active. So I don't think anyone was expecting or claiming that the problem would be fixed in this release.

[2017-08-15 17:07] rohit21agrawal commented on #5706
had to revert change because of functional test failures

[2017-08-15 17:07] rohit21agrawal commented on #5016
had to revert change because of functional test failures

[2017-08-15 17:12] rohit21agrawal opened #5758 "Remove RegEx usage from Pack"
Related to https://github.com/NuGet/Home/issues/3584.

[2017-08-15 17:25] rrelyea commented on #4200
@nkolev92 - can you please determine if this fix shipped in 4.0 or 4.1 and change the milestone to that.

[2017-08-15 17:39] nkolev92 commented on #4200
Done. @rrelyea This went into 4.1

[2017-08-15 17:52] rrelyea commented on #5551
@nkolev92 - believe we fixed this in time for 4.3. If not, please correct.

[2017-08-15 18:00] rrelyea commented on #5588
Project system bug appears to be scheduled for 15.5

[2017-08-15 18:01] rrelyea commented on #5588
@PatoBeltran - please take a look at this issue as well. Another issue with *. This bug is in a partner team, but would like you to be aware since you are looking at similar issues.

[2017-08-15 18:09] nkolev92 commented on #5551
Double checked, it was fixed in 4.3

[2017-08-15 19:42] ChrisMaddock opened #5759 "Android 7.1 project using project.json chooses netstandard-1.6 dependencies, over monoandroid"
## Details about Problem

NuGet product used: nuget.exe

NuGet version: 3.5

VS version: 15.3

OS version: Win 10.0.15063

## Detailed repro steps so we can see the same problem

I have a package which targets .NET Standard 1.6. My .NET Standard 1.6 build depends on [System.Runtime.Loader](https://www.nuget.org/packages/System.Runtime.Loader/) - which has a placeholder (empty file named `_._`) for

[2017-08-15 20:21] sharifmamun commented on #1908
Looks like, this is still an issue. Is there any plan to resolve this issue in near future?

[2017-08-15 20:34] rrelyea commented on #4252
Dupe of #4253

[2017-08-15 20:56] rrelyea commented on #4901
Properly putting it in the backlog as 4.4 didn't happen as we hoped. @mishra14 wants to do this badly.  Just need to clear his plate of other critical things.

[2017-08-15 20:57] rrelyea commented on #4780
This fix shipped in NuGet.exe 4.1.0 and later

[2017-08-15 21:02] rrelyea commented on #5101
@mishra14  - please confirm, I believe this fix shipped in 4.3

[2017-08-15 21:06] rrelyea commented on #5202
@mishra14  - Please confirm the 4.3 milestone I just added

[2017-08-15 21:26] rrelyea commented on #5503
@mishra14 - if this is resolved as external, let's mark it as such. also link external bug.
Otherwise, should we reactivate if we didn't get agreement from the external team?

[2017-08-15 21:35] mishra14 commented on #5202
@rrelyea this was merged on May 9, so 4.3 looks fine to me.

[2017-08-15 21:36] mishra14 commented on #5101
This was merged on April 26. So this should be in 4.3.

[2017-08-15 21:41] mishra14 commented on #5503
@rrelyea I have opened https://github.com/dotnet/sdk/issues/1492 on the sdk repo. Will wait for any action on it.

[2017-08-15 21:41] rrelyea commented on #5561
keeping open in backlog.

[2017-08-15 21:47] rohit21agrawal commented on #2776
as the PackageReference tooling is now RTM, closing this as won't fix since it only applies to project.json.

[2017-08-15 21:47] #2776 closed, assigned to rohit21agrawal

[2017-08-15 21:48] #5520 closed, assigned to nobody

[2017-08-15 21:51] rohit21agrawal commented on #5019
this has been fixed as part of : https://github.com/NuGet/NuGet.Client/pull/1609

[2017-08-15 21:51] #5019 closed, assigned to nobody

[2017-08-15 21:55] rohit21agrawal commented on #5281
duplicate of : https://github.com/NuGet/Home/issues/3927

[2017-08-15 21:55] #5281 closed, assigned to rohit21agrawal

[2017-08-15 22:00] rohit21agrawal commented on #5523
@Roemer  you can add files to your package more dynamically as follows:

An extension point has been provided for executing custom target in the inner build for files that go in the lib (or folder specified via BuildOutputTargetFolder) . A user can write their own custom target and specify it as the value of the property $(TargetsForTfmSpecificBuildOutput). The target should write out any files th

[2017-08-15 22:06] rrelyea commented on #2567
done as part of 4.3 -- shipped with VS 2017 version 15.3

[2017-08-15 22:06] #2567 closed, assigned to emgarten, mishra14

[2017-08-15 22:29] rohit21agrawal commented on #5627
@zhili1208 would you take a look at this?

[2017-08-15 22:32] rohit21agrawal commented on #5440
duplicate of : https://github.com/NuGet/Home/issues/4142

[2017-08-15 22:32] #5440 closed, assigned to nobody

[2017-08-15 22:41] pchalamet commented on #4119
I've been developing a tool named full-build (see http://full-build.io or https://github.com/full-build/full-build for more info) that basically allows switching between projects or binaries in a workspace. It dates before PackageReference hence it uses targets files to switch between ProjectReference and Reference (the latter simulates project reference behavior but with pre-built binaries).

All

[2017-08-15 22:42] scottbommarito opened #5760 "ServiceIndexResourceV3 should have a constructor that accepts a list of ServiceIndexEntries"
I'm working on a monitoring job for NuGet.org's V3 and it's very painful to work with `ServiceIndexResourceV3` when the service index is not constructed from json.

See https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/Resources/ServiceIndexResourceV3.cs

Basically, if you want to create a service index from memory, you must either provide fake json or override all of th

[2017-08-15 22:49] zhili1208 commented on #5627
Could you try to use nuget.exe 4.3 from https://www.nuget.org/downloads? Specify -MsbuildPath [the directory contains msbuild]

mono nuget.exe pack aProject.csproj -MsbuildPath [the directory contains msbuild.exe]

[2017-08-16 00:20] lindydonna commented on #2358
@emgarten Shouldn't it be more than a warning?  In previous versions of NuGet, it would be an error.

[2017-08-16 00:45] #4644 closed, assigned to rohit21agrawal

[2017-08-16 04:32] dasMulli commented on #3927
Note that having props/targets that contribute build logic might be vital for `pack` to work as expected.
First example would be packages that contain logic to calculate assembly & package version like GitVersion (though this currently does not work for package references).
Other uses would be code and content generation logic.

[2017-08-16 04:47] mynkow commented on #4085
Any update?

[2017-08-16 05:23] nkolev92 opened #5761 "Default Selected Projects doesn't make sense with Selected Package in Solution PM UI"
Issue motivated by the following feedback issue:
https://developercommunity.visualstudio.com/content/problem/84482/nuget-solution-package-manager-user-experience-is.html

It's related to the "intuitiveness" of the Update tab in the UI.
Here's the comment from the user.

[code]
<img width="748" alt="capture-1" src="https://user-images.githubusercontent.com/2878341/29348383-0cd17f8e-8208-11e7-934f-2

[2017-08-16 06:11] AndrewGretton opened #5762 "NuGet outdated, check or equivalent functionality"
Update by @anangaur:

Spec: [Show outdated packages](https://github.com/NuGet/Home/wiki/Show-outdated-packages) (Status: Incubation)

----

We often find ourselves wishing to do a task during CI, that is only possible with cmdlets available in the package management console. Obviously these cmdlets can't run as part of CI, so we're stuck. Our most recurring painpoint is working out what package up

[2017-08-16 07:11] JoGillis commented on #5151
Not only regarding documentation: Also Tool behavior

[2017-08-16 08:02] Lakritzator commented on #2577
@onovotny
From a technical perspective I also agree that code signing with certificates also the "best" solution, as it doesn't add another technology.. some people already must use this for their assemblies, why not use it for the nuget packages too.

I agree that in the mean time, the price for a certificate is quite low and I myself don't see a direct problem with paying that price. The main pr

[2017-08-16 08:46] jozefizso commented on #2577
I wanted to get authenticode from Certum for my open source projects. Unfortunately their shopping cart did not work at the time and they increased the price and require hardware to sign applications. And Certum support is useless.

Money is not a concern for the authenticode certificate. It's the process to get one which makes it hard. No other CA provides certificates for open source entities.

[2017-08-16 10:24] asbjornu commented on #2577
If package signing is going to require X.509 certificates, it still feels like no CA can fulfil the requirements of the NuGet community, since CA issued certificates serve a completely different – although overlapping – utility than signing software packages.

If keybase/keybase-issues#387 is implemented, I'd say that Keybase is the undeniably best solution for all of the problems package signing

[2017-08-16 11:37] patroza commented on #1909
Yep, it's really frustrating. Dependency hell in it's own way.

Related? #4534

[2017-08-16 11:56] clairernovotny commented on #2577
In general, an OSS project that does not have a legal entity/foundation behind it would need to get a certificate in the name of one of the individuals involved. Many/most? CA's issue CS certs to both individuals and legal organizations. An OSS project is either one of those...if it's not an incorporated entity, then it has to be an individual.

That said, and I don't know about Certum, if they le

[2017-08-16 12:19] kzu commented on #4119
Well, for one thing, if the referenced project/package includes `build` targets, those wouldn't be imported automatically, I think. If would be particularly tricky if those build artifacts are produced as part of building the project, since you'd need to build the project reference, then import the new targets into the referencing project, then refreshing/reloading it mid-build (since you got to b

[2017-08-16 12:28] kzu commented on #5383
We're investigating, but the workaround for now is to install the Xamarin workload.

[2017-08-16 12:44] pchalamet commented on #4119
I guess it's not much a problem the way full-build works. The only things I'd like to validate is if a package from a project behaves the same as the project itself when imported. Msbuild as specific behavior when ProjectReference is used (like recursive copying of dependencies and content as far as I remember).

It's been announced package behavior is same as project for consumers - Is it really

[2017-08-16 13:19] michaelrenvl opened #5763 "-source argument is being ignored when installing a local nuget package into a .net core project."
Remove the content above here and fill out details below.

## Details about Problem

NuGet product used (Package Manager Console):

NuGet version (4.3.0.4339):

dotnet.exe --version (if appropriate): .net core 1.1

VS version (if appropriate): 15.3.0

OS version (win10 v1703 (15063.540)):

Worked before? If so, with which NuGet version: The version before the visual studio update that brought .net

[2017-08-16 16:07] bjsafdie commented on #5316
Same issue trying to set up a TeamCity build to do the build and pack.  I tried adding sub-dependencies directly to the nuspec file and tried the xcopy post build event as shown by lukepuplett.  No joy.  When nuget pack finds a packages.config file in the project, it tries to use it to add dependencies.  We need a command parameter to help NuGet find the directory for packages listed in packages.c

[2017-08-16 16:12] rrelyea commented on #3251
Looks like that xamarin bug (or one that it links to), may be fixed as of July 2017. Anybody here able to confirm that this fixes the NuGet scenario or not?

[2017-08-16 16:13] rrelyea commented on #3251
putting in backlog, just to keep our eye on it. Still is closed, as we think this should be fixed in mono, currently.

[2017-08-16 16:27] rrelyea commented on #4194
@ReinoutW  - if you are still having build problems of our repo, please file a new issue.

[2017-08-16 16:45] rrelyea commented on #4304
@zhili1208 - reviewing this code change...did we just filter this message out? are we still trying to import this thing many times. If so, concerned if this is the right fix.

[2017-08-16 17:02] zhili1208 commented on #4304
Yes, we just filter this message out and we still import this thing many times for some scenario, discussed with @emgarten when we made this fix,  we didn't find a way to fix import twice at that time.

[2017-08-16 17:16] anangaur opened #5764 "Do not warn when NuGet resolves to a higher version of the package unless its change in major version"
Today NuGet warns with NU1603 if the package resolved is not the min version specified. E.g.
![image](https://user-images.githubusercontent.com/14800916/29375924-a3b6dfb2-826b-11e7-8d14-e8da572680d9.png)

This looks like information to many users. Following 2 options may be desired:
1. Warn only if resolved Major version is different than the specified min Major version. i.e. Do not warn for 4.0.1

[2017-08-16 17:27] anangaur commented on #5763
cc: @rrelyea @nkolev92 Is this related to https://github.com/NuGet/Home/issues/5704 by any chance?

[2017-08-16 17:37] nkolev92 commented on #5763
@anangaur It's not related. When using -source the config files are not read, which is the at the root of the #5704

[2017-08-16 18:10] rohit21agrawal commented on #3927
@dasMulli calculating package version happens in the outer build, and this change wouldn't impact that. if you have a scenario that you are afraid might break, i'd really appreciate if you could test out some private bits. if you can, let me know and i will share them with you.

also tagging @AArnott @onovotny in case they are interested to try it out before i check this in.

[2017-08-16 18:18] emgarten commented on #5764
The screenshot shows NU1603 for Castle.Core 4.0.0, the issue here is a package authoring here which has since been fixed: https://github.com/castleproject/Core/issues/239

NU1603 refers to missing packages, not the **resolved** version in the final flattened graph. This warning appears when the min version of a dependency cannot be found. Finding a version of a higher patch does not help here, the

[2017-08-16 18:43] AArnott commented on #3927
Thanks. I am concerned both with the goal and how it is implemented. Both concerns are on the PR.

[2017-08-16 19:15] rrelyea commented on #4575
adding by design -- as the external bug said that this case was caused by using the SDK as a packageref, which is not supported.

[2017-08-16 19:24] rrelyea commented on #4647
ended up not repro, via interaction with other team

[2017-08-16 19:27] rrelyea commented on #4648
@zhili1208 - you said that we used this to check if case sensitive, but I didn't notice any cases of that in your change. Did we miss those, or did we not end up having them?

[2017-08-16 19:28] rrelyea commented on #4648
@zhili1208 - additional question - 2) this works with both dotnet.exe and (nuget.exe on mono) ?

[2017-08-16 19:30] rrelyea commented on #4652
@AArnott - can you confirm that this is fixed nowadays? the duplicate bug was fixed in 4.1.

[2017-08-16 19:35] rrelyea commented on #4844
@zhili1208 - we should keep open until we have positive handoff to @mrward (or others), right?

[2017-08-16 19:37] rrelyea commented on #5053
This ended up not shipping in 4.3, switching milestone to 4.4 (where we think it will ship)

[2017-08-16 19:37] rrelyea commented on #5057
This ended up not shipping in 4.3, switching milestone to 4.4 (where we think it will ship)

[2017-08-16 19:37] jainaashish commented on #5763
@michaelrenvl can you tell us the complete command you used to install the package?

[2017-08-16 19:37] rrelyea commented on #5090
This ended up not shipping in 4.3, switching milestone to 4.4 (where we think it will ship)

[2017-08-16 19:37] rrelyea commented on #5102
This ended up not shipping in 4.3, switching milestone to 4.4 (where we think it will ship)

[2017-08-16 19:38] rrelyea commented on #5180
This ended up not shipping in 4.3, switching milestone to 4.4 (where we think it will ship)

[2017-08-16 19:38] rrelyea commented on #5204
This ended up not shipping in 4.3, switching milestone to 4.4 (where we think it will ship)

[2017-08-16 19:42] rrelyea commented on #5572
ended up not fitting. covered by @PatoBeltran in 4.4

[2017-08-16 19:44] zhili1208 commented on #4844
Yes, we can keep it

[2017-08-16 19:45] rrelyea commented on #5695
@zhili1208 - where did this bug come from? hard to tell origin of issue

[2017-08-16 19:47] rrelyea commented on #5718
is this a dupe of #5659 ?
or two different sets of issues fixed with one commit?

[2017-08-16 19:51] zhili1208 commented on #4648
some case sensitive check failed on Mac due to the IsMacOS return false on Mac. This change fix the issue, so no need to change any case sensitive check.

this is only for mono, dotnet.exe have another code path to do the check

[2017-08-16 19:52] Roemer commented on #5523
I tried it a bit but didn't bring it to work.

I added
[code]

But it doesn't add anything.

[2017-08-16 19:54] rohit21agrawal commented on #5523
@Roemer what version of dotnet sdk are you using? and what version of VS?

[2017-08-16 19:54] Roemer commented on #5523
Visual Studio 2017 Version 15.2 (26430.16)

[2017-08-16 19:55] rohit21agrawal commented on #5523
@Roemer  15.2 doesn't have this feature. could you please update to 15.3? It was released yesterday.
also if you have dotnet sdk 2.0 preview bits installed, please upgrade to RTM bits.

let me know if you need links to download the above.

[2017-08-16 19:55] zhili1208 commented on #5718
not a dupe, two related issue fixed in one commit

[2017-08-16 19:56] zhili1208 commented on #5695
from our CI test

[2017-08-16 19:59] Roemer commented on #5523
Interesting that my VS doesn't show me an update. I now started the Installer manually (which then updated itself first) which now shows me the update (but not VS itself). Will do that now.
Do I need dotnet sdk 2.0 (I have a pre 2.0 version)

[2017-08-16 20:00] rohit21agrawal commented on #5523
yes you should update to dotnet sdk 2.0 as well.
The link to VS download is here: https://www.visualstudio.com/en-us/news/releasenotes/vs2017-relnotes

[2017-08-16 20:14] Roemer commented on #5523
I updated VS to 2017.3 and now the xml I posted above works!

[2017-08-16 20:15] Roemer commented on #5523
Is there a way to enforce a project to a minimum VS version?

[2017-08-16 20:23] Roemer commented on #5523
I now in the end ended up with:
[code]

Which adds LICENSE.txt and CHANGELOG.md to the root of the nuget and the appopriate Interop.UIAutomationClient.dll from the tfm specific build output into the tfm specific lib folder in nuget.

It seems to work. Is this the correct usage?

[2017-08-16 20:24] rohit21agrawal commented on #5523
Yea this looks good.
Sorry, i don't know the answer to enforcing a project to a minimum vs version

[2017-08-16 20:25] rohit21agrawal commented on #5523
If you are satisfied with the solution, can Iclose this issue?

[2017-08-16 20:26] Roemer commented on #5523
Since you approved the xml I gave above and it works, you can close it. Thanks for your help!

[2017-08-16 20:27] #5523 closed, assigned to nobody

[2017-08-16 21:25] ChrisMaddock commented on #5759
TIL that NuGet caches package dependencies - and when I'm testing out such things, I should clear the cache between every build. Ah well...

[2017-08-16 21:25] #5759 closed, assigned to nobody

[2017-08-16 21:54] rrelyea commented on #2163
@emgarten - can you make sure we get the right "ClosedAs" label set here? won't fix? by design?

[2017-08-16 22:00] rohit21agrawal commented on #4142
@onovotny considering adding a project level property here called ``` CreateSymbolsPackageOnPacking ``` which will default to true in the targets. If set to false, it will only create one package:

1) If only IncludeSymbols is specified, the only created package will include everything that the normal nupkg would have + the pdb files.
2) If IncludeSource is specified, the only created package will

[2017-08-16 22:02] zhili1208 commented on #2163
@rrelyea I remember there was a fix in template, they opened many nupkg files in memory but didn't close them. I think this issue is fixed by their fix.

[2017-08-16 22:17] jonkerr commented on #5456
Any update on this?  I've been advising my colleagues against updating from 15.0 since adding migrations still works for anyone who hasn't upgraded to 15.2 or 15.3

[2017-08-16 22:19] rrelyea commented on #2163
From @mlorbetske:
that issue was fixed as of the 1.0.4 CLI. Either updating to a later CLI build or raising the value of ulimit should fix it.

will mark as external and notrepro - given that. if anybody still hits despite that, please chime in.

[2017-08-16 22:30] zhili1208 commented on #5456
@mlorbetske Could you take a look? Since importing the module manually doesn't work, looks like it's not a nuget issue

[2017-08-16 23:02] mlorbetske commented on #5456
@livarcocc @nguerrera any ideas who'd be the right person to look in to this?

[2017-08-16 23:12] sindamnataraj commented on #1076
Easiest way to fix this is to open a working vs2015 solution(create a new one if you don't have one) and try the Install-Package command again.

[2017-08-16 23:19] tmat commented on #4142
@rohit21agrawal I don't think we should include source files in a "normal" package. Instead embed the sources into the PDBs that are included in the package via ```/embed``` compiler option. The benefit is that these sources are compressed in the PDB, so the local nuget cache won't get bloated. Also the debugger will be able to find them in the PDB (it wouldn't if they were in the nuget cache).
/c

[2017-08-16 23:20] rrelyea commented on #3832
LEaving in backlog, to help track: https://github.com/dotnet/project-system/issues/1600

[2017-08-16 23:21] rohit21agrawal commented on #4142
@tmat we are not including source files in the nupkg by default. we are not even including symbols in the nupkg by default.
i am aiming to provide a switch that will enable the package author to have full control over where to have their sources and pdbs.

[2017-08-16 23:22] rohit21agrawal commented on #4142
as far as embedding the sources into the pdb is concerned, that is not something that NuGet is aiming to do in the future.

[2017-08-16 23:27] rrelyea commented on #3885
don't believe this shipped in 4.0 fixed. In fact, I think we won't have this fixed until 4.4 ships with full LSL (formerly DPL) support enabled in NuGet.

[2017-08-16 23:38] tmat commented on #4142
@rohit21agrawal I agree embedding sources shouldn't be responsibility of NuGet pack. I was thinking in more general terms - the SDK should do that (we are currently working out details).

Before adding any more properties/options into NuGet pack we need to consider the end-to-end scenario. The debugger won't be able to find the sources if they are in ```src``` directory in a package. If the debugg

[2017-08-16 23:45] maartenba commented on #4631
So seeing the release of this week, looks like it did not make it in. Pity. Any ETA on a next window?

[2017-08-16 23:47] nguerrera commented on #5456
Happy to help if I can, but I am having a really hard time following how this would be a CLI issue.

[2017-08-16 23:49] rrelyea commented on #5523
@Roemer - i think you may be able to, at the solution level, require a certain version of Visual Studio in order to be able to open it. See info in this page...to help you understand how you might do it: https://social.msdn.microsoft.com/Forums/sqlserver/en-US/2d08da92-f16a-4887-935a-e3159104ff2c/visual-studio-2015-sln-that-can-also-be-opened-by-vs2013-and-vs2010?forum=visualstudiogeneral
I am not

[2017-08-16 23:51] rrelyea commented on #4016
dupe of #4015

[2017-08-16 23:52] nkolev92 commented on #5757
@blalonde This is a new feature that introduced in NuGet 4.3/ 15-3
You can read more about the changes in the 4.3/15-3 release here:
https://blog.nuget.org/20170815/Whats-nu-in-NuGet-with-VS2017-15-3.html
You can read more about the errors and warnings spefically here.
https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings

So this is all by design. We want the users to have better t

[2017-08-17 00:17] rohit21agrawal commented on #4142
i get your point, and i agree that the source discovery within a package is broken - it's broken even for symbols.nupkg right now. i am trying to keep the option open for the future if this scenario ever gets fixed (or debuggers and pdbs become smarter and are able to figure out sources relatively etc etc..)

I don't really see any harm in providing an option to gain complete control over which pa

[2017-08-17 00:19] nkolev92 opened #5765 "Installing NuGetVSIX in 15.3 RTM breaks the NuGet.Client build"
Repro steps:

Install version of the NuGet VSIX and try to run our build script.

I've done a binary search and it seems like this build is the first one that causes it to fail.
https://devdiv.visualstudio.com/DevDiv/NuGet/_build/index?buildId=914340&_a=summary
4.4.0.4390
Respective PR https://github.com/NuGet/NuGet.Client/pull/1625
The restore outputs seem to be affecting the build.
[code]
We nee

[2017-08-17 00:29] tmat commented on #4142
@rohit21agrawal Keeping the possibility of introducing the option is definitely good. No disagreement on that. All I'm asking for is not to actually introduce it before we finalize the design of the end-to-end scenario (the "smarter debugger" part). Our current thinking is that with sources embedded into PDBs we already have an efficient mechanism how to deliver sources in a package in a way that

[2017-08-17 00:35] skofman1 opened #5766 "NuGet.CommandLine package includes publicly Microsoft.Extensions.Primitives type"
As part of NuGet.CommandLine build it includes as a submodel types from Microsoft.Extensions.Primitives.
For example IChangeToken type.
As a result, if someone needs to use NuGet.CommandLine package and Microsoft.Extensions.Primitives package in the same project, and use IChangeToken, there would be a build break.

[2017-08-17 00:57] nkolev92 commented on #5765
Update:
Investigated more, having relative paths for the assets file breaks NET Core build.

[2017-08-17 01:02] nkolev92 commented on #5765
As part of this task, we also need to add better test coverage to avoid this scenario in the future.

[2017-08-17 01:04] nkolev92 commented on #4582
Reopening as the last fix has been reverted because it broke .NET Core builds.

[2017-08-17 04:52] sandersaares commented on #4837
I was linked here from https://developercommunity.visualstudio.com/content/problem/89472/nuget-packages-with-ps1-content-files-are-not-bein.html as this issue is supposedly "identical". I would question that claim but the original got closed and there seems nothing I can do about it, so I will add my issue description here.

I have a NuGet package that delivers a set of PowerShell scripts (.ps1 fi

[2017-08-17 06:47] michaelrenvl commented on #5763
@jainaashish the complete command was: Install-Package SomeLocalPackage -Source C:\Users\Michael\Documents\Visual Studio 2017\Projects\LocalNuGet

[2017-08-17 10:20] psandhu79 opened #5767 "Nuget sources option does not concatenate with Nuget.config"
We are currently trying to VSTS package management which requires you to use the

nuget.exe sources Add -Name "Libraries" -Source "feed" -username user - password PAT -storeincleartext

This will add the source to the nuget.config

i would like to be able to do the following

nuget restore my.sln -Source \\networkshare;Libraries <- added to the nuget.config file

I would like to append the sources

[2017-08-17 10:34] Lakritzator commented on #2577
@onovotny
I don't know about all CA's, but fortunately Certum can issue certs for individuals, if you are willing to jump through all the hoops. The process costed me multiple hours, that was last year!

Very cool that you are trying to help others with such a solution as your SignService, I already found it last week, but honestly I didn't understand all of it... :disappointed: at least not curre

[2017-08-17 11:24] tabareh commented on #962
So the summary is that we get this message when installing previous .net packages on .net Core projects, and this is a matter of incompatibility.
If your package has a corresponding one in .net Core, then you're lucky. Go for it!

[2017-08-17 12:16] blalonde commented on #5757
Alright thanks

[2017-08-17 12:16] #5757 closed, assigned to nobody

[2017-08-17 12:45] burreld commented on #5244
Is this not a problem for other users?  I just read about the hacked github accounts, using a common misspelled github url.

The repository was modified with malicious code and then consumed by other developers.

I know adding the libraries to source control is not full proof, but it does allow for a single download instead of each developer in each environment to download copies of the libraries.

[2017-08-17 13:08] idg10 commented on #3443
This looks like it could be a duplicate of https://github.com/NuGet/Home/issues/1510 - although that issue purports to be about a Numerics component, it looks like it's caused by the basic root issue described in this issue.

The issue that had been tracking this over in F# was Microsoft/visualfsharp#939 but that got closed without it being fixed. Someone ran into this again recently, and I though

[2017-08-17 13:54] bryanjhogan opened #5768 "Package Manager Console error - PowerShell version 2.0 is not supported. Please upgrade PowerShell to 3.0 or greater and restart Visual Studio"
Microsoft Visual Studio Professional 2017
Version 15.2 (26430.16) Release
VisualStudio.15.Release/15.2.0+26430.16
Microsoft .NET Framework
Version 4.6.01055

Windows 7 - Version 6.1.7601 Service Pack 1 Build 7601

When I open Visual Studio the package manager console opens and immediately the following appears

Package Manager Console Host Version 4.2.0.2457

Type 'get-help NuGet' to see all avail

[2017-08-17 14:11] xlegalles commented on #5764
You say "differs from what the package was authored against" but what about this one:
[code]
I have specified `>= 10.0.2` and did not constraint the version to `=10.0.2` so to my opinion, this warning is wrong.
Actually, we have hundreds of NU1603 warnings and while I would like to keep an eye on several ones where a major version upgrade has been resolved, I don't want to keep all others (x100) w

[2017-08-17 14:23] xlegalles opened #5769 "Cannot disable Nuget warnings with dotnet 2.0"
## Details about Problem
[code]

## Description
This is linked to what I have commented in #5764: we have hundreds of NU1603 warnings and we want to disable them in Release in order to clean-up the build server logs. But it does not work: all `dotnet` commands (e.g. `restore` or `build`) ignore our settings and warnings are still displayed. We also have the same behavior in VS 2017 15.3.0

Here is

[2017-08-17 16:31] sameerfairgoogl commented on #962
Yes

On 17 Aug 2017 14:24, "tabareh" <notifications@github.com> wrote:

[2017-08-17 16:44] rrelyea commented on #5550
VS 2017 version 15.3 shipped on 8/14/2017 with the fix for bug #5294 . So this should be fixed, as well, since this is a duplicate.

[2017-08-17 16:46] rrelyea commented on #4710
VS 2017 version 15.3 shipped on 8/14/2017 with the fix for bug #5294 . This will allow PMC to execute correctly w/o PowerShell 2.0 installed on the system. That may help this situation?

[2017-08-17 16:48] rrelyea commented on #5294
@karann-msft - this bug was fixed in 4.3. Can you make sure our release notes call it out as fixed? I just fixed the labels on it.

[2017-08-17 16:49] rrelyea commented on #5294
VS 2017 version 15.3 shipped on 8/14/2017 with the fix for this bug.

[2017-08-17 16:50] rrelyea commented on #5768
VS 2017 version 15.3 shipped on 8/14/2017 with the fix for bug #5294 . So this should be fixed, as well, since this is a duplicate. (note, we also fixed for VS2015 in version 3.6.0 available for download at http://nuget.org/downloads)

[2017-08-17 16:56] zhili1208 commented on #5649
fixed in https://github.com/NuGet/NuGet.Client/commit/89b37bd224ed2d902ce4fff9c20e69414d7bf6ae

[2017-08-17 16:56] #5649 closed, assigned to zhili1208

[2017-08-17 17:22] rohit21agrawal commented on #5765
close this now?

[2017-08-17 17:22] #5765 closed, assigned to nobody

[2017-08-17 17:52] rohit21agrawal commented on #4142
@rrelyea any thoughts on this?

@tmat Do you have a timeline in mind about when you can finalize the end-to-end scenario? I don't want to keep everyone waiting for too long.

[2017-08-17 18:31] jainaashish commented on #5495
@phatcher any luck with the repro?

[2017-08-17 18:38] jainaashish commented on #4612
Closing this issue, assuming this issue is fixed by external team. If it still exists, then please open an issue for Jetbrains R#

[2017-08-17 18:38] #4612 closed, assigned to jainaashish

[2017-08-17 19:02] mishra14 commented on #5769
@xlegalles Thanks for reaching out. The problem is that you are not passing the right properties to the restore command. Please use the following commands-

[code]
or
[code]

Please let us know if this fixes your issue. Thanks!

[2017-08-17 19:05] xavierdecoster opened #5770 "NuGet/Media repository contains outdated artwork"
The [NuGet/Media](https://github.com/NuGet/Media) repository has historically been the home of all NuGet high-res logos, vector graphics and artwork.

However, the repo is outdated since our redesign, and does not contain the new logo and updated artwork.
New vector graphics are spread over the NuGet.Client and NuGetGallery repositories currently.

It would be good to have this NuGet/Media reposit

[2017-08-17 19:15] jainaashish commented on #1909
@patroza can you provide a repro solution where it takes 15 mins to gather dependencies? we can then further analyze it.

@rolandh As you mentioned no network activity or cpu activity, so it means it's not related to "attempt to gather dependency information....." step so would you mind opening another issue with detailed steps and repro solution?

[2017-08-17 19:23] jainaashish commented on #4534
Based on the latest communication with the customer, it's primarily related to AddReference issue, customer tries to update 4 packages across 54 projects, it takes around ~10 mins to complete and most time (~85%) is spent in executing nuget actions.

We already have a work item on Project System to improve this experience via dotnet/project-system#2630 which is being tracked via NuGet #5519

[2017-08-17 19:23] #4534 closed, assigned to jainaashish

[2017-08-17 19:23] mishra14 commented on #5712
Update -

I looked more into this and this is a VS only problem. Since, in dotnet restore and msbuild /t:restore calls we can pass in additional properties.

[2017-08-17 19:32] jainaashish commented on #4714
It's fixed as part of https://github.com/NuGet/NuGet.Client/pull/1590

[2017-08-17 19:32] #4714 closed, assigned to jainaashish

[2017-08-17 20:25] asbjornu commented on #2577
@Lakritzator, I wrote a bit about it in https://github.com/NuGet/Home/issues/1882#issuecomment-294737881, but I'll repeat it here for brevity:

Please let me know if you still have questions about Keybase.

[2017-08-17 20:28] tmat commented on #4142
@rohit21agrawal

Re including PDBs: I don't think we need to delay adding the option to include PDBs in the package next to the corresponding .dlls.
The only question re PDBs is what the default value is. I think it would be best if Portable PDBs were included by default, so that DLLs from packages are debuggable by default. DLL dependencies of .NET Core Apps are loaded directly from NuGet cache d

[2017-08-17 20:41] omajid opened #5771 "Funny license in jquery.validate.unobtrusive.js"
NuGet is licensed under Apache 2.0: https://github.com/NuGet/NuGet.Services.Metadata/blob/release/LICENSE.txt. But some files in that repository have a very funny license. For example, https://github.com/NuGet/NuGet.Services.Metadata/blob/release/tests/PublishTestDriverWebSite/Scripts/jquery.validate.unobtrusive.js has a license that I think is Open Source, but isn't explicit about it:

    /* NUG

[2017-08-17 20:49] #5707 closed, assigned to nobody

[2017-08-17 21:14] leecow commented on #5771
@rrelyea to have a look.

[2017-08-17 22:19] tylerohlsen commented on #5460
This issue just got a lot worse after we installed Visual Studio 2017 version 15.3 and .Net Core 2.0 SDK.  After that install, Visual Studio will no longer restore NuGet packages.  We get the error...

```Error occurred while restoring NuGet packages: Invalid restore input. Invalid target framework 'unsupported'. ```

Previously this issue only broke NuGet package installs, but now it breaks for i

[2017-08-17 22:27] AArnott commented on #4652
@rrelyea Happy to test. How do I use 4.1? What vehicle does it ship in?

[2017-08-17 22:40] zhili1208 commented on #4652
just use VS 2017 15.3 to restore and build

[2017-08-17 23:39] rrelyea commented on #5756
Met with Azure Functions team about this issue via Skype today. Will consider issue as part of next sprint planning.

[2017-08-18 00:40] #5723 closed, assigned to jainaashish

[2017-08-18 00:52] anangaur opened #5772 "NuGet Package Manager doesn't show title"
Reported on https://developercommunity.visualstudio.com/content/problem/95390/nuget-package-manager-doesnt-show-title.html
Related issue:  https://github.com/NuGet/NuGetGallery/issues/4413

[2017-08-18 01:27] AArnott commented on #4652
Yes, it appears to be fixed in 15.3.0. Thanks.

[2017-08-18 03:55] anangaur commented on #4395
Looks like a good candidate for 4.4.

[2017-08-18 08:10] AndreyAkinshin commented on #4190
Stiill doesn't work for me in VS2017 (VisualStudio.15.Release/15.3.0+26730.3)

[2017-08-18 08:29] ArvindThinkBridge commented on #1883
A year of silence.

[2017-08-18 08:37] wicharypawel commented on #5480
Have the same problem, after reinstallation of a system. My setup is fresh instance of VS 2010 with NuGet extension 2.8.60318.667

[2017-08-18 08:37] xlegalles commented on #5769
Well, that's what we do... plus I told you that it works for the CS0162 warning. But it has absolutely no effect for NU*. And it is not only for restore: we have tons of warnings for all commands: build, publish, etc. even clean.
So here is a quick repro from a basic web application template: I just add new dependencies with Log4Net 2.08. Also note that we have a private Nuget repo which explains

[2017-08-18 10:12] Roemer commented on #5523
@rrelyea - Thanks for the hint. The version numbers are a bit strange. Before I had "15.0.26430.14" (which I am not sure which version it is). Now If I create a new solution, I get "15.0.26730.3" which seems to be VS2017.3. Is there any specific logic behind the versioning?

[2017-08-18 12:28] heidemn commented on #5726
I tried nuget.exe v4.1.0 and v4.3.0, as well as older versions, and had a problem with filenames containing spaces:

The [Content_Types].xml contained lines like
`<Override PartName="/ElectronDist_1.0.0.0/Contents/Frameworks/Electron Framework.framework/Electron Framework" ContentType="application/octet" />`
This made the package fail to install in VS 2015, and fail to open in the latest version o

[2017-08-18 15:07] omajid commented on #5771
This also affects some files in NuGet.Client repository such as https://github.com/NuGet/NuGet.Client/blob/dev/test/EndToEnd/ProjectTemplates/JScriptVisualBasicLightSwitchProjectTemplate.zip/jquery-1.9.1.js

[2017-08-18 15:07] superstrom opened #5773 "NuGet cannot restore from HTTPS sources that require Client Certificates"
Idea
---
We should add a way for users to nominate a Client Certificate for HTTPS connections that require them.

Probably should be handled simliar to https://github.com/NuGet/Home/issues/4387

"Inspirations"
---
npm has this: [https://docs.npmjs.com/misc/config#cert](url)
[code]

maven has this: [https://maven.apache.org/guides/mini/guide-repository-ssl.html](url):
[code]

Current Behavior
---
[

[2017-08-18 15:24] superstrom commented on #5773
Another person asked about this issue: [https://stackoverflow.com/questions/42096554/get-nuget-to-pass-a-client-certificate-to-a-private-proget-server-using-ssl](url)

[2017-08-18 15:48] omajid opened #5774 "Missing license headers in EndToEnd test templates"
Various files in EndToEnd directory in NuGet.Client have no license headers. For example: https://github.com/NuGet/NuGet.Client/blob/dev/test/EndToEnd/ProjectTemplates/CppWinStoreApplication.zip/App.xaml or https://github.com/NuGet/NuGet.Client/blob/dev/test/EndToEnd/ProjectTemplates/CppWinStoreApplication.zip/App.xaml.h

Is that intentional? If so, can you confim that the license in the root of r

[2017-08-18 15:51] bkoelman opened #5775 "Package Manager Console fails with "install-package : Sequence contains more than one matching element""
## Details about Problem

NuGet product used: Package Manager in Visual Studio 2017 Update 3 (fresh install)

OS version: Windows 8.1N x64

## Repro steps
1. Clone the repo at https://github.com/bkoelman/CSharpGuidelinesAnalyzer
2. Open solution in Visual Studio
3. From the package manager console:
    ```install-package csharpguidelinesanalyzer```

Results:
* Running install on the Vsix project:

[2017-08-18 16:04] cezarypiatek commented on #4710
Updating VS 2015 to 15.3 version didn't solved the problem. Nuget Package Console is still reporting version 2.0 of powershell.

[2017-08-18 16:45] markusgud commented on #4163
We had this problem too. We were changing targeting from .NET Core Project back to the VS2012 project format. For some reason there was a file obj/project.assets.json that was not deleted on "Clean Solution".

Once we deleted this file manually, the problem was gone.

[2017-08-18 16:49] omajid opened #5776 "Test files with confusing licenses"
Two files in NuGet.Services.Metadata have a very confusing license header:

    /*
    * Note: While Microsoft is not the author of this file, Microsoft is
    * offering you a license subject to the terms of the Microsoft Software
    * License Terms for Microsoft ASP.NET Model View Controller 3.
    * Microsoft reserves all other rights. The notices below are provided
    * for informational pur

[2017-08-18 16:50] omajid commented on #5776
cc @leecow @rrelyea

[2017-08-18 17:02] OliverRC commented on #1909
@jainaashish I'd re-open this. It is not solved.

[2017-08-18 17:29] nkolev92 opened #5777 "Inconsistency between LSL and non-LSL restore when a project reference is framework incompatible"
The setup is the following:
A net45 Project.json project references a net46 Legacy Package Ref project.
Attached repro solution.
Included in the root directory of the solution is project.lock file

[Solution_a381.zip](https://github.com/NuGet/Home/files/1235143/Solution_a381.zip)

Lock file latest dev lsl mode.
[code]

Latest dev non-lsl mode
[code]

The 15.3 behavior is like the non-LSL one for b

[2017-08-18 19:55] nkolev92 commented on #5777
While looking into figuring out the issue here, I've noticed that dg specs are different in the LSL and non-LSL mode.
The non-LSL one the 15.3 behavior and imho it should stay that way.
The zip file contain both dgs.
Investigating why the dg specs are different.
[nuget-dg.zip](https://github.com/NuGet/Home/files/1235502/nuget-dg.zip)

[2017-08-18 20:15] nkolev92 opened #5778 "E2E tests have incompatible templates for LSL tests"
While investigating EndToEnd failures for the following PR https://github.com/NuGet/NuGet.Client/pull/1652 where I move the top level dependencies of Legacy Package Reference to per tfm, I have discovered some weirdness in our test setup.

LSL tests specifically.
In particular the following set of tests:
DeferredBuildIntegratedProjectGetPackageTransitive (2 tests cases, so counts as 2 tests).

Thi

[2017-08-18 22:46] nkolev92 commented on #5777
The inconsistency is that DeferredProjectWorkspaceService returns project reference despite the fact it's not compatible.

https://github.com/NuGet/NuGet.Client/blob/b892fe82d3435ac5fcae0ec664efc4f40dd0bcb7/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Services/DeferredProjectWorkspaceService.cs#L55-L61

In the regular restore case:

It goes here for the project reference:
https://github.

[2017-08-18 23:37] anangaur commented on #4395
cc: @rrelyea

[2017-08-19 00:29] anangaur opened #5779 "NuGet.exe 4.3.0 prints additional stacktrace for invalid commands"
[this came from Azure Web Sites Deployment team internal testing of NuGet.exe 4.3 at launch]

Behavior with previous nuget.exe (4.1.0)

[code]
Behavior with nuget.exe 4.3.0

[code]

[2017-08-19 01:05] nimisha84 opened #5780 "Nuget package install fails for any Nuget core packages on .Net core app 1.1.2"
![nuget error](https://user-images.githubusercontent.com/4319227/29482113-ce9a3852-843f-11e7-8623-c9a50db41e51.png)

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
Nuget package Manager UI or console tool
NuGet version (x.x.x.xxx):
4.3.0-preview3-4168

dotnet.exe --version (if appropriate):

VS version (if appropriate):VS2017

OS version (i

[2017-08-19 01:09] davidfowl commented on #5780
Did you update your project to .NET Core 2.0.0?

[2017-08-19 01:27] nimisha84 commented on #5780
No, I did not. In my screenshot the Nuget folder refers to AspNetCore-1.1.2

[2017-08-19 02:00] omajid commented on #5776
cc @richlander

[2017-08-19 02:01] omajid commented on #5771
cc @richlander

[2017-08-19 03:05] davidfowl commented on #5780
There's no issue then. The packages you're trying to install require .NET Standard 2.0. The error messages looks wrong though. Maybe you're nuget is old. Are you using VS 2015 15.3?

[2017-08-19 04:43] davidfowl opened #5781 "Allow including the pdb in the main package on pack"
Seems like there's no easy way to include the pdb in the package today. There should be an easy way to do this that doesn't require manaully copying the pdb into the package via msbuild magic.

[2017-08-19 07:03] davidfowl commented on #5781
Oops https://github.com/NuGet/Home/issues/4142

[2017-08-19 07:03] #5781 closed, assigned to nobody

[2017-08-19 07:04] davidfowl commented on #4142
So the proposal is to add a new field `IncludeSymbolsInPackage`?

[2017-08-19 17:58] mishra14 commented on #5769
@xlegalles Thanks for the detailed response.

1. The project that you sent me has a condition on Configuration=Debug. So in that case you cannot turn them off for release.
2. Take a look at the following project -

[code]

[code]

[code]

I had to make 2 changes i.e.
1. change the configuration to release on the property group condition
2. add NU1605 to the nowarn list as I was getting some of tho

[2017-08-19 22:32] NickCraver opened #5782 "Transitive dependencies breaking old project system upon package upgrades"
## Details about Problem
When you upgrade a package (in this case I was upgrading [Microsoft.CodeDom.Providers.DotNetCompilerPlatform](https://www.nuget.org/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform)), the reference is changed to transitive and breaks compilation. I have a web project and a library. The web project depends on the library. Both are using the **old** project system

[2017-08-19 23:17] clairernovotny commented on #5755
Related: https://github.com/NuGet/Home/issues/5379

[2017-08-19 23:21] clairernovotny commented on #5755
@rohit21agrawal I don't think they have to support all project types. There's only one additional glob that has to be included and that's a directory (and everything in it) that matches the library name in the output directory.

[2017-08-20 17:50] patroza commented on #1909
@jainaashish it happens a lot on WPF projects using packages.config targeting '.NETFramework,Version=v4.6.1', often the first one takes 1.5mins+, and the next one 3.5mins+.
Is there any diagnostic logging that I could enable and share somewhere?

Also once it goes into Uninstalling/Removing/Installing packages within an upgrade cycle, things are painfully slow and cpu+mem usage quite high, and VS

[2017-08-20 19:59] nimisha84 commented on #5780
I updated my Nuget to NuGet version (x.x.x.xxx):
4.3.0-preview3-4168

and I'm using VS2017. Still got the same error. I have attached my project for reference.

[2017-08-20 20:25] davidfowl commented on #5780
The error message is still bad then, but the error in general is by design.

[2017-08-20 20:31] nimisha84 commented on #5780
Ok, let me update to .Net Core 2.0 and then retry. Will update you. Thanks!

[2017-08-20 20:47] emgarten commented on #1909
Everyone who is still hitting issues with slow updates, please open a **new** issue and provide detailed repro steps. There are many different reasons why this could occur, the original problem this issue covered has been fixed.

Trying to track all possible scenarios, including those unrelated to NuGet in a single generic issue makes it difficult to plan and prioritize this work.

[2017-08-20 20:58] nimisha84 commented on #5780
It works on updating to .Net Core 2.0. Thanks for the help.

[2017-08-20 20:58] #5780 closed, assigned to nobody

[2017-08-20 21:26] emgarten commented on #5764
#### Here is an example of how NU1603 can happen:

1. Create packages B 1.0.0 and B 1.0.1
1. Create package A 1.0.0 that depends on B >= 1.0.0
1. Install A 1.0.0 into a project
1. NU1603 does not occur because B 1.0.0 exists
1. Delete B 1.0.0 from the package source
1. NU1603 now occurs because A 1.0.0 would try B 1.0.0 as a best match, but since B 1.0.0 does not exist it cannot be considered. The

[2017-08-20 21:30] davidfowl commented on #5764
Echoing what @emgarten said:

@xlegalles The minimum version of the package *should* be what actually built against. You shouldn't be making nuget packages that target an arbitrary minimum that doesn't exist. That leads to inefficiencies where you're forcing consumers to do a feed check to find the best match when that could be skipped.

With the new coupling of producing and consuming packages, i

[2017-08-20 21:31] emgarten commented on #5764
@xlegalles this sounds like a new feature, unrelated to NU1603. I suggest opening a new issue to track it and explain what you would like to see in the warnings/log. It sounds useful.

[2017-08-20 21:34] davidfowl commented on #5764
@xlegalles why do you have so many warnings?

[2017-08-20 22:05] rollsch commented on #1909
Unfortunately I cannot easily reproduce it. All I can say is it occurs on WPF projects with 15+ nuget packages targeting 4.6.1

[2017-08-21 09:26] smalldek opened #5783 "non compliant behavior on update"
nuget update does not conform to the documentation regarding the modifications to the project file. Documentation states that

 but it removes the references and install the new package instead. It results in unused references in the csproj.
Expected behavior would be that only existing references are modified (i.e. updated version number in path and assembly name).

## Details about Problem
NuGet

[2017-08-21 09:29] pascalberger opened #5784 "Provide versoin 4.3 of nuget.commandline package"
Latest published version of the [nuget.commandline package](https://www.nuget.org/packages/NuGet.CommandLine/) on nuget.org is 4.3.0-preview3-4168. Would it be possible to also release 4.3 final there?

[2017-08-21 11:16] OliverRC commented on #1909
@emgarten I have a perfectly legitimate example of the potential issue.

Nuget.org is flippen slow:

`https://api.nuget.org/v3/registration2-gz/runtime.debian.8-x64.runtime.native.system.security.cryptography/index.json 6511ms OK `

6.5s to query 1 package! Now multiply that by the total number of packages and you can see why many of us are experiencing terrible performance.

[2017-08-21 12:22] bklooste opened #5785 "cs files are not honored in net 4.61 with dotnet pack and are not marked as build only content"
cs files are not honored  , we have a large test base class for a contract which people cant  step through to debug so I wanted to deploy it as source . Packing is with dotnet pack this used to be possible but we moved to new project files due to major issues with package.config  and the number of packages mvc core produces ( nuget updates were take over 6 minutes) ..

From the generated files I g

[2017-08-21 14:34] omajid commented on #5776
cc @Bob-Davis

[2017-08-21 14:35] omajid commented on #5771
cc @Bob-Davis

[2017-08-21 17:59] robv8r commented on #2001
Was this ever resolved?

[2017-08-21 18:50] NickBehrends commented on #4710
Running 2017 v15.3 on windows 7 here, same issue when trying to add migrations.

[2017-08-21 18:59] wmlrose commented on #5316
I had a similar problem with nuget 4.3 packaging from a VS 2017 Post-build event. Don't know how good this solution is but inserting the following before the pack command worked for my purposes:

`nuget.exe config -Set repositoryPath="$(SolutionDir)..\<SomePathRelativeToSolutionFolder>\packages"`

[2017-08-21 20:34] zhili1208 commented on #5779
this is introduced by https://github.com/NuGet/NuGet.Client/commit/3dc00f3f9620e131303c083a8703f8bddaa36b68, we should add "Debug" verbosity level for printing call stack,
https://github.com/NuGet/Home/issues/5749

[2017-08-21 20:55] rrelyea commented on #5784
Thanks. Done.

[2017-08-21 20:55] #5784 closed, assigned to nobody

[2017-08-21 20:56] zhili1208 commented on #5767
you can concatenate source with restore

nuget restore my.sln -Source "\networksahre;Libraries", and if the source need PAT, you will get prompt for username and password

[2017-08-21 21:03] jainaashish commented on #485
Yes, it was fixed with that work.

[2017-08-21 21:03] #485 closed

[2017-08-21 21:07] emgarten commented on #2001
@robv8r looks like the PR was not merged.

[2017-08-21 21:07] rrelyea commented on #5771
dupe of #5776

[2017-08-21 21:07] #5771 closed, assigned to nobody

[2017-08-21 21:20] rrelyea commented on #5774
Digging into this.

Believe that these templates were all created like this:

- File/New Project/choose a project type/Ok

- Project/Export Template

[2017-08-21 21:26] emgarten commented on #4582
@nkolev92 @rohit21agrawal would you provide some details on what actually broke this? There issue blocking this relative path change from going in should be linked here.

[2017-08-21 21:33] emgarten commented on #5775
Dupe of https://github.com/NuGet/Home/issues/5630

You can workaround this by giving your project a name that isn't exactly the same as the package you are installing.

[2017-08-21 21:33] #5775 closed, assigned to nobody

[2017-08-21 21:40] emgarten commented on #5762
Thanks for the PR @AndrewGretton, for the update command that change does look handy.

Do you think it would make more sense to have a new command to find outdated packages? My concern here is that `update` only works for *packages.config* while NuGet is moving to *PackageReference*.

[2017-08-21 21:56] bklooste opened #5786 "Exception and package loop with Nuget new msbuild csproj format , using net461 files using ContentFileExample"
8/22/2017 7:35:18 AM
Crippling
System.AggregateException: One or more errors occurred. ---> System.InvalidOperationException: Could not resolve mscorlib for target framework '.NETFramework,Version=v4.6.1'.  This can happen if the target framework is not installed or if the framework moniker is incorrectly formatted.
   at Microsoft.VisualStudio.Shell.Design.VsTargetFrameworkUniverse..ctor(IDesignT

[2017-08-21 22:42] emgarten commented on #5786
Do you have 4.6.1 installed?

I don't see NuGet on the stack trace here, so I'm not sure the NuGet package install is related here.

[2017-08-21 23:03] rrelyea commented on #5755
@rohit21agrawal - is the plan to open an internal issue on the xaml project system team?

[2017-08-21 23:10] rrelyea commented on #5761
@PatoBeltran  - put into your backlog. Please help prioritize this with your other issues.

[2017-08-21 23:13] emgarten commented on #5586
I was not able to repro this with CLI 2.0.0 RTM.

Restore for me took 1500ms with `--force`

@lampersky let me know if you are still seeing this with the latest bits. If you are please provide a network trace to see where the time is being spent. Currently it looks like this is not an issue with the NuGet client.

[2017-08-21 23:13] #5586 closed, assigned to emgarten

[2017-08-21 23:15] rrelyea commented on #5762
yes, we'd want this to work for all project types, not just packages.config.

[2017-08-21 23:24] rrelyea commented on #5766
@skofman1 - nuget.exe is not meant as a public API surface. Could you use a combination of packages to do what you are trying to do? (what are trying to do?)

[2017-08-21 23:30] mishra14 commented on #5767
@psandhu79: Thanks for reporting the issue that you are facing.

Let me clarify the comment by @zhili1208. You have 2 options -

1. If you just want to use the network source then you can use `nuget restore my.sln -Source "\networksahre;Libraries"`. This will only use the network source for the restore.
2. If you want to use the network source and the other sources in your config file then, please

[2017-08-21 23:31] rrelyea commented on #5770
@anangaur - do you have a handle on the set of things that we might pull in here?

[2017-08-21 23:40] rrelyea commented on #5779
let's not add a new command line option.
Let's just hide the exception in this case.

[2017-08-21 23:46] anangaur commented on #5770
I do have the main images. However we would need to convert into different sizes to replace already present files. @jonwchu may be able to help here.

[2017-08-21 23:47] rrelyea commented on #5782
You recently moved this project from packages.config to PackageRef. Did this upgrade issue happen after the move? Or before?

[2017-08-21 23:56] mishra14 commented on #5761
I tried this scenario and it does seem like we do not refresh the right pane when the package in the left pane is changed.

[2017-08-21 23:56] rrelyea commented on #5783
We're moving away from Packages.Config towards a better future system "PackageReferences" for this kind of reason...so there is only one place the package is listed...and references work under the covers (during the msbuild pipeline).
This gets around the problem you mention, and many other similar problems.
Today, the migration is manual, but we hope to make it easier in the coming releases.

[2017-08-21 23:56] #5783 closed, assigned to nobody

[2017-08-21 23:59] rrelyea commented on #5785
@rohit21agrawal  - please work with @bklooste

[2017-08-22 01:59] NickCraver commented on #5782
@rrelyea it happened before, that's why I linked exact commits above for a point-in-time view. All old project system with current VS (15.3.1) there.

[2017-08-22 02:50] bklooste commented on #5786
You can reproduce create any core package in VS2017 change to net4.61 run make sure ok  go to nuget and deploy ContentFileExample.. It fails with an mscorrlib dialog box .. The project runs ...Just wondering if this ContentFileExample can only be used with netstandard projects ?

A lot of the Comments from nuget team say for source file distro on newer csproj use that example as I was trying to wo

[2017-08-22 06:36] joo92 opened #5787 "How to uninstall NuGet packages while that package not available in Nuget cache location"
Issue 1: I have uninstall Nuget package which unavailable in NuGet cache using below code I get error like package uninstall failed.

  var installer = componentModel.GetService<IVsPackageUninstaller>();
  installer.UninstallPackage(project, NuGetPackageName, false);

Issue 2: I have removed unavailable package entry from ASP.NET Core project and install same package with available version, it's s

[2017-08-22 08:56] o7g8 commented on #4091
I still experience the issue with NuGet Version: 4.3.0.4406 and NuGet Version: 4.1.0.2450.
I use Windows 10 and have VS2013 and VS2015 installed on it.

The automatic detection works fine:
[code]
If I specify explicit msbuild versions, I get errors:
[code]

[2017-08-22 08:59] maartenba opened #5788 "Feature request: nuget pack -symbols should embed sources for PortablePDB files"
Feature request: nuget pack -symbols should embed sources for PortablePDB files.

Right now, just the PortablePDB is embedded, which has no source code in it. This renders creating symbols packages useless, as they can't be used to do source stepping etc.

Repro steps:
* Pack any project that uses the new .csproj format
* Publish the package and its symbols
* Install the package on another machine

[2017-08-22 09:35] dasMulli commented on #5788
There are a lot of options at the moment, maybe a good time to re-evaluate the defaults:

* SourceLink: embeds reference to a remote source to get the source code - now works in portable and windows PDB
* PDB-Embedded sources: Should work for both portable and windows PDBs, no debugger support yet AFAIK (but some issues in 15.5 milestone).
* Embedded PDBs: it should be possible to embed sources in

[2017-08-22 09:48] mgrie opened #5789 "FeatureRequest: nuget.exe update filteroption for prerelese suffix"
We need a filter option at the "nuget update" command, like

`nuget update my.sln PreRelease -suffix mybranch`

## Reason ##

In our environment we have 200+ own nuget packages + CI. Our prerelease suffixes are equal to our git feature branches. To prevent our CI System from installing the wrong packages, it would be a nice feature to filter for the correct packages.

### Example ###

Existing pac

[2017-08-22 15:10] jonathanbyrne opened #5790 "Question regarding Nuget target path in MSBuild project files"
I am trying to put .targets and .props files into the build directory of my NuGet package. I know how to do this with a .nuspec file but I was hoping to do this in my MSBuild project file.

I can find no documentation of how to do this but it appears to be done in the "dotnet\core-setup" repo file [Microsoft.NETCore.App.pkgproj](https://github.com/dotnet/core-setup/blob/master/src/pkg/projects/Mic

[2017-08-22 15:23] jonathanbyrne commented on #5790
I found a different way to accomplish my objective but I'm still confused how the example I referenced above was able to work.  If anyone has a quick explanation, I would love to know but please don't waste time researching anything.

[code]

[2017-08-22 15:25] rainersigwald opened #5791 "Question regarding Nuget target path in MSBuild project files"
_From @jonathanbyrne on August 17, 2017 19:19_

I am trying to put .targets and .props files into the build directory of my NuGet package.  I know how to do this with a .nuspec file but I was hoping to do this in my MSBuild project file.

I can find no documentation of how to do this but it appears to be done in the core-setup file [Microsoft.NETCore.App.pkgproj](https://github.com/dotnet/core-set

[2017-08-22 15:25] rainersigwald commented on #5791
_From @jonathanbyrne on August 22, 2017 15:23_

I found a different way to accomplish my objective but I'm still confused how the example I referenced above was able to work.  If anyone has a quick explanation, I would love to know but please don't waste time researching anything.

[code]

[2017-08-22 16:15] zhili1208 commented on #4091
could you share the 14 and 12 msbuild full version number on your machine?
"msbuild.exe /ver" to get full version number

[2017-08-22 16:49] rohit21agrawal commented on #5755
@onovotny we don't rely on globbing paths or patterns to get outputs, instead we rely on well known msbuild output groups to get the output for a nuget package.

@rrelyea @zhili1208 is currently engaging with the UWP team and XAML Compiler team on email thread to discuss this issue.

[2017-08-22 16:51] rohit21agrawal commented on #4582
@emgarten here are the repro steps:

1) Use a VSIX that has this change and install it to VS2017
2) Create new .NET Core project
3) Restore in VS
4) Build in VS

Build will fail.

[2017-08-22 17:01] rohit21agrawal commented on #5785
@bklooste set ``` <Pack>true</Pack> ``` on your ```Compile``` items and those files should be included as contentFiles automatically with BuildAction = Compile

[2017-08-22 17:03] rohit21agrawal commented on #5791
@jonathanbyrne the above usage of setting Pack=true and PackagePath on your content is correct, can you please tell me what issue are you facing here?

[2017-08-22 17:03] rohit21agrawal commented on #5790
Closed as duplicate of  https://github.com/NuGet/Home/issues/5791

[2017-08-22 17:03] #5790 closed, assigned to nobody

[2017-08-22 17:16] jainaashish commented on #4307
This is still happening for some of the solutions where all the projects are not nominated even after delaying until 10 secs so re-opening this again. We'll coordinate with Project System to fix it with proper design.

[2017-08-22 17:21] cijothomas commented on #5350
I saw this error when a project in solution A,  referred to another project, part of solution B. It would help if the error message directly say - Project cannot refer a project outside the solution.

[2017-08-22 18:29] naresh-me commented on #4710
For temporary fix refer the following link:
https://developercommunity.visualstudio.com/content/problem/35803/help-error-the-package-manager-console-requires-po.html

[2017-08-22 18:48] emgarten commented on #4582
The only change here is to make a property value a relative path instead of an absolute path. NuGet does not read this property, so if this doesn't work there should be an issue filed on the consumer of this property.

[2017-08-22 20:17] rrelyea commented on #5660
Note... 15.4 work on LSL by @jainaashish will make several of these async...should get benefit if LSL or not.

[2017-08-22 20:18] rrelyea commented on #5660
as such, lowering priority to p2.

[2017-08-22 20:22] rrelyea commented on #5495
lowering priority as this isn't easy to address.
best long term move for nuget is to get more people moved to transitive systems (like PackageReference).

[2017-08-22 21:21] jonathanbyrne commented on #5791
I was hoping to get clarification on the \<file\> element used in some .Net Core projects files.  (See [this](https://github.com/dotnet/core-setup/blob/master/src/pkg/projects/Microsoft.NETCore.App/Microsoft.NETCore.App.pkgproj) for an example.)

[2017-08-22 23:35] Bartmax commented on #5346
Ping ...

[2017-08-22 23:50] zhili1208 opened #5792 "Add End To End Test infrastructure for error/warning code"

[2017-08-23 00:30] mishra14 commented on #5792
Improving title.

We should add those once the future strategy for End to End tests is more concrete.

[2017-08-23 01:03] rohit21agrawal commented on #5791
@jonathanbyrne the ```  <file> ``` element is something that is specific to pkgproj projects , and not something related to NuGet.
I can try finding the owners of pkgproj project types for you if you like, but this is not something I can answer on my own since it has nothing to do with NuGet.

[2017-08-23 01:09] tmat commented on #2365
Any updates on this? This is PITA to deal with.

[2017-08-23 04:17] #5756 closed, assigned to nobody

[2017-08-23 04:42] emgarten commented on #2358
@lindydonna you can find more information on how dependencies are resolved here:
https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution

*PackageReference* projects allow overriding dependencies constraints to allow the user to have full control over dependencies and make the ultimate decision as to which package/assemblies are used in their build.

Packages may have strict

[2017-08-23 08:01] tjaart commented on #4516
I am unable to use the installer. The installer runs at 100% cpu usage on my windows server 2012 build server and is unusable. Consequently Nuget is picking the wrong MS build tools version (14) and my builds are failing. Can anyone tell me how I can force nuget to use MSBuild 15?

[2017-08-23 09:06] ohadschn commented on #110
Why was this deprecated? This would have been very useful to me...

[2017-08-23 09:11] ohadschn opened #5793 "Add friendly license name (string property) to IPackageSearchMetadata"
It would be very useful to be able to tell the friendly license name (e.g. `MIT` or `Apache 2.0`) from the NuGet management API .

VS and the NuGet gallery know how to do this since 2013:
https://blog.nuget.org/20131011/friendly-license-names.html

Might be related to https://github.com/NuGet/Home/issues/110.

[2017-08-23 12:59] Sumo-MBryant commented on #5769
According to the blog post here: https://blog.nuget.org/20170815/Whats-nu-in-NuGet-with-VS2017-15-3.html#msbuild-integration-of-nuget-warnings-and-errors

However trying restore the following project reports a warning:

[code]

[code]

[code]

Changing the project thusly does however appear to work:

[code]

[code]

Does this imply that package reference based warning suppression isn't working?

[2017-08-23 13:24] kzu commented on #4142
Yes please. That would make it compatible with NuGetizer property without "compat mode" required: https://github.com/NuGet/NuGet.Build.Packaging/blob/dev/src/Build/NuGet.Build.Packaging.Tasks/NuGet.Build.Packaging.Inference.targets#L30

[2017-08-23 14:07] o7g8 commented on #4091
@zhili1208 here are the full versions:

[code]

[code]

[2017-08-23 15:05] kzu opened #5794 "When PackOnBuild=true and project is not packable, build should fail"
`$(PackOnBuild)` opts-in to building a nuget package on build. The presence of `$(PackageId)` is
used to determine if the project is `packable`, however, and if it's not, no package is built.

So the combination of `PackOnBuild=true` and no `PackageId` should result in an error that explains
what's missing to get a package on build :)

[2017-08-23 15:29] barishamil commented on #4515
Having this problem after updating to creators edition then reverting changes via version control

[2017-08-23 15:35] tmat commented on #4142
@kzu Any idea why there is ```'$(Configuration)' == 'Debug'``` on the line you pointed out?

[2017-08-23 17:25] mishra14 commented on #4034
Closing as there is no new request.

[2017-08-23 17:26] #4034 closed, assigned to mishra14

[2017-08-23 17:38] psandhu79 commented on #5767
Hi

Thank you @zhili1208 and @mishra14 i can do what you suggested. I was just hoping to add some general VSTS feeds to the shared nuget.config which contain PAT tokens. Then depending on the build add additional source when required.

If i add the network share to the a local .nuget.config in the source area will it concatenate with the nuget.config file in appdata

[2017-08-23 17:39] gustyn commented on #5434
Sam problems here.  Very slow even for a solution with 4 projects.  Takes 3-5 minutes every time I update a nuget package.  Running the 15.3.2 RTM version atm.

[2017-08-23 17:45] mishra14 commented on #5767
@psandhu79 : Thanks for your response. If you add a source to your local nuget.config then restore will use the sources from the config file that you pass and the one in appdata.

[2017-08-23 17:49] abatishchev commented on #1630
VSTS uses internal API to handle this scenario. Any chance it'll be implemented NuGet-wide?

[2017-08-23 17:50] kzu opened #5795 "When packing cross-targeting library, should include include all target frameworks"
When cross-targeting, P2P references and `nuproj` projects work fine (they collect all the contents for all target frameworks), but when packing the library itself (adding the package metadata), we are only getting one target framework in the package.

[2017-08-23 17:59] emgarten commented on #5434
@gustyn do your projects use packages.config or PackageReference?

[2017-08-23 18:07] gustyn commented on #5434
PackageReference it looks like only.  No packages.config in my projects.  Upgrading the projects from 1.1.2 which were setup under 1.1.2

[2017-08-23 18:14] gustyn commented on #5434
nuget is 4.3 as well....but to be honest did not make any difference.  I is just a slow as before 4.3

[2017-08-23 18:22] emgarten commented on #5434
@gustyn could you share a repro project where you are seeing this? Could you also share the output log from the package manager output window?

A few more questions, do you see the same performance from the command line using msbuild /t:restore and nuget.exe?

This issue is specific to VS Community, but that has all the same code. I'm curious if the problem is actually specific to Community or if

[2017-08-23 18:35] watashiSHUN commented on #4516
@tjaart  you can use the command line option `-MSBuildPath` ([here's](https://github.com/NuGet/docs.microsoft.com-nuget/blob/live/docs/Tools/nuget-exe-CLI-Reference.md#usage-11) the nuget doc)
that was the easy way, and there's a **hard** way...
nuget use's [willowAPI](https://www.nuget.org/packages/Microsoft.VisualStudio.Setup.Configuration.Interop/) to **automatically** discover available msbuil

[2017-08-23 18:47] wli3 commented on #5069
Hi,
dotnet CLI got an opposite issue

https://github.com/dotnet/cli/issues/7492

Which should be the designed behavior? Latest unlisted of listed?

[2017-08-23 18:52] gustyn commented on #5434
I am using VS Professional,  sorry didn't really pay any attention to this being the community forums
I have not yet tried it from the command line using msbuild and nuget yet

Here is the output window contents
Restoring packages for C:\Users\sj\Source\Repos\GPAssessments\GPAssessments\Server\API\API.Web\API.Web.csproj...
Installing NuGet package Microsoft.ApplicationInsights.AspNetCore 2.1.1.
Co

[2017-08-23 19:00] zhili1208 commented on #4091
@o7g8 Please clone my repo https://github.com/zhili1208/NuGetMsbuildChecker, build it and run "NuGetMsbuildChecker.exe 14", it will print all msbuild information. Thanks

[2017-08-23 19:02] gustyn commented on #5434
I think there is something more serious/basic going on here....It seems to take forever to even delete a file atm.

[2017-08-23 19:03] emgarten commented on #5434
PackageReference projects do not uninstall packages, does API.Web.csproj contain a packages.config file?

packages.config works differently and needs to add/remove all files through VS which is much slower.

[2017-08-23 19:07] gustyn commented on #5434
No packages.config refed in csproj file an no packages.config even when show all files is enabled
From: Justin Emgarten [mailto:notifications@github.com]
Sent: Wednesday, August 23, 2017 3:03 PM
To: NuGet/Home <Home@noreply.github.com>
Cc: Samuel <sam@clanjohnson.com>; Mention <mention@noreply.github.com>
Subject: Re: [NuGet/Home] Nuget Restore slow on VS 2017 Community 15.2 and .Net Core 1.0.4 (#

[2017-08-23 19:14] kzu commented on #5383
Fixed by NuGet/NuGet.Build.Packaging#145, [v0.2.0 in NuGet.org](https://www.nuget.org/packages/NuGet.Build.Packaging/0.2.0)

[2017-08-23 19:14] #5383 closed, assigned to kzu

[2017-08-23 19:18] kzu commented on #5656
NuGetizer requires Visual Studio 2017 15.3 because of core changes in the project system and NuGet that didn't make it in 15.2.

Please try the latest released version (v0.2.x).

[2017-08-23 19:18] #5656 closed, assigned to nobody

[2017-08-23 19:29] jainaashish commented on #5793
The original issue #110 is closed as deprecated which happened more than 2 years ago. I'll try n get the reasoning behind it.

[2017-08-23 19:31] mishra14 commented on #5769
@Sumo-MBryant : Thanks for the details in your comment.

The problem here is that the issue occurs not for `NEST` but for `Newtonsoft.Json`, hence the Package Specific `NoWarn` does not work.

To be sure, take a look at the assets file in the project/obj directory. At the bottom, you will see that the error is for newtonsoft -

[code]

I hope this clarifies the case here. Please let us know if you

[2017-08-23 19:40] jainaashish commented on #5789
Thanks for the feature request, but most cases, users will have different branch names for different features instead of differentiating on versions. And which is why we haven't had such request until now. But we'll keep this up and see how community feels about it.

[2017-08-23 20:03] jainaashish commented on #5787
Can you share more details about your issues:
1. What is the NuGet version and VS version? please be specific than just `latest`
2. Are you using packages.config file or PackageReference to maintain NuGet dependencies?
3. Can you share the complete error message which is being returned for both the cases?
4. Do these issues only repro's with Installer API? how about Manager UI or PMC inside VS?

A

[2017-08-23 20:56] jasonmalinowski commented on #2001
@emgarten Yeah, I got pulled over to other things. We still want to take this? Happy to dust it off or hand it off to somebody else. :-)

[2017-08-23 21:14] emgarten commented on #2001
I think this is still useful for UWP which uses this build task. I'll let others chime in also if they are hitting this issue still.

[2017-08-23 21:18] jainaashish commented on #5782
@NickCraver Transitive dependencies doesn't work with `packages.config` world. So you will need to explicit add reference to this package in both projects. Now, I just tried your repro steps, it worked fine. I was able to update `Microsoft.CodeDom.Providers.DotNetCompilerPlatform` to 1.0.7 and I guess that's because both `packages.config` have this dependency.

Another thing, `project.assets.json`

[2017-08-23 21:28] ohadschn commented on #5793
After posting this I realized the friendly name is no longer present, not in the web nor in the VS gallery. So I guess the friendly license feature itself was deprecated. The following issue is probably its replacement (and would be much better if implemented since no heuristic would be involved): https://github.com/NuGet/Home/issues/4628.

[2017-08-23 21:51] ridomin opened #5796 "VS Package Manager. Icons lost after scrolling"
Using Visual Studio 2017 package manager, after scrolling a couple of times some icons are replaced with the default.

See attached animated GIF.

![nugetscroll](https://user-images.githubusercontent.com/1918324/29640158-69f596ae-8812-11e7-9901-67a1b266fb0c.gif)

[2017-08-23 22:46] jonathanbyrne commented on #5791
Thank you for the clarification Rohit.  If that tag and project type aren't related to NuGet, don't worry about trying to find the owners.

In addition to including content files, I also need to include referenced assemblies in the NuGet package.  The \<Content\> tag won't work for this because the referenced assembly will not yet be in the build output directory.  In a .nuspec file, it would be a

[2017-08-23 23:45] bgribaudo commented on #5763
I have also encountered where `-Source` seems to be ignored using the same NuGet version (4.3.0.4339), though in VS 15.3.1 and dotnet core 2.0.0.

For example, in the package manager console, executing `Install-Package xunit -Version 2.3.0-beta5-build3754 -Source https://www.myget.org/F/xunit/api/v3/index.json` produces the below output.

**Notice how line 2 reflects a call to nugget.org instead o

[2017-08-24 00:32] jainaashish opened #5797 "Ctrl+X or Ctrl+Break doesnt stop long running commands in Package Manager Console"
This came via a VS Feedback issue.

The Stop button can be clicked, but one would expect behavior similar to the PS CLI.
If there is a way to bind a keyboard command to that button, that would be OK also.
As an example, run $dte.Commands in the package manager console and try to cancel it with keyboard.

[2017-08-24 00:52] sergey-shandar commented on #5282
It's known issue https://github.com/sergey-shandar/getboost/issues/33 which should be fixed in Boost 1.65. You may close the issue.

[2017-08-24 00:58] chrisgannon6 opened #5798 "Nuget push to artifactory fails with 504 (Gateway Time-out) on 4.3.0 / mono Linux"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget (in mono docker container)

NuGet version (x.x.x.xxx): 4.3.0.4406 (4.3.0)

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): N/A

OS version (i.e. win10 v1607 (14393.321)): CoreOS

Worked before? If so, with which NuGet version: 4.3.0-preview3-4168 (4.3.0.3)
This wa

[2017-08-24 02:03] richardszalay commented on #5069
FYI, the CLI issue is the same issue. Perhaps you meant "equivalent", instead of "opposite"?

[2017-08-24 02:08] #5282 closed, assigned to nobody

[2017-08-24 02:58] richardszalay commented on #5069
I'd say this is definitely a bug, and not designed behavior. The [documentation for unlisting a package](https://www.visualstudio.com/en-us/docs/package/nuget/unlist-delete) even says:

And having it install by default does quite the opposite of preventing new usage.

[2017-08-24 04:06] solvingj opened #5799 "Nuget Arch Handling is Very Frustrating for CI/DevOps perspective"
I don't have a feature request at this point because I can't imagine what options exist to solve this issue.  However, I'll just describe the challenge as clearly as I can from my perspective.

I've found the Architecture handling between x86 and x64 for Nuget packages to create very awkward problems. The "front-end" of this problem is perhaps Appveyor (or any CI system).  The traditional approach

[2017-08-24 04:17] chkn opened #5800 "Nugetizer packs reference assemblies into NuGet package"
## Details about Problem

NuGet product used: Nugetizer 3000

NuGet version (x.x.x.xxx): 4.3.0.4199

dotnet.exe --version (if appropriate): 2.0.0

VS version (if appropriate): Visual Studio for Mac 7.3 Preview (7.3 build 302)

OS version (i.e. win10 v1607 (14393.321)): OS X 10.12.5 (16F73)

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1.

[2017-08-24 07:09] o7g8 commented on #4091
@zhili1208 thank you for you answer! Here is the output from the tool:
[code]
Can it be an issue with processing of `.` and `,`?

[2017-08-24 07:28] rjamesnw opened #5801 "Nuget Msbuild does not respect excluding TypeScript generated content based on csproj setting."
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS 2017 Community

NuGet version (x.x.x.xxx): N/A (in msbuild)

dotnet.exe --version (if appropriate): 1.1.0

VS version (if appropriate): 15.3.2

OS version (i.e. win10 v1607 (14393.321)): Win 10

Worked before? If so, with which NuGet version: First time trying

## Detailed repro steps so we

[2017-08-24 09:56] marcusien commented on #4837
I'd be interested for a solution where content files would be copied in the project cause i got less files that I want to compile from a package with gulp, but gulp does not see the less files in the projects, so I don't have any css files generated

[2017-08-24 10:33] evil-shrike commented on #5358
I have the same issue on Linux with netcore2.0 but on a machine behind corporate proxy.

[code]

Env
[code]
I have set up system proxy and can apt-get/curl and so on. But nuget seems to fail on accessing internet.
I tried creating `.nuget/NuGet.config` besides with nuget.config:
[code]
It didn't help.

[2017-08-24 10:55] BennieCopeland commented on #1943
Could this have anything to do with referenced project dependencies? I have a asp.net core web application targeting .net 4.6.2 that references a .netstandard 1.5 infrastructure project. Both projects rely on the same nuget package for handling database access. The web app needs it inorder to create instances to dependency inject into the infrastructure project to be used. In my web application pr

[2017-08-24 11:21] duncanawoods opened #5802 "Suppress the "To prevent NuGet from restoring..." message output on every build"
If I am using visual studio "minimal build output", I do not expect "advice" about how to set configuration options being spammed to the output window on every single build:

    To prevent NuGet from restoring packages during build, open the Visual Studio Options dialog, click on the Package Manager node and uncheck 'Allow NuGet to download missing packages during build.'

Please either remove it

[2017-08-24 14:50] rainersigwald opened #5803 "Content file not included when reference via PackageReference instead of packages.config"
_From @henning-krause on August 24, 2017 14:48_

I recently switched my project to use the PackageReference method (`<RestoreProjectStyle>PackageReference</RestoreProjectStyle>`) to include nuget packages and ran into a problem when I tried import the [evopdf](https://www.nuget.org/packages/EvoPDF/) package.

The packages does two things:
* Add an assembly reference to the current project
* Add a

[2017-08-24 16:20] psandhu79 commented on #5767
Thank you all this can be closed

[2017-08-24 16:58] zhili1208 commented on #4091
@o7g8 looks like there is an issue with parsing the version string

[2017-08-24 17:16] zhili1208 commented on #4091
@o7g8 I think the issue is parsing version string dosen't use InvariantCulture, I fixed it in my NuGetMsbuildChecker, could you pull it and try it again? thanks

[2017-08-24 17:22] anangaur commented on #5796
Why would you scroll so much? ;) Good catch!

[2017-08-24 19:49] anangaur opened #5804 "Restore progress should be shown in the information bar on VS"
From @davidfowl

[2017-08-24 21:26] jainaashish commented on #5804
@anangaur We show restore progress in information bar... Need more details where it's not showing it.

[2017-08-24 21:48] WeaselSoft commented on #4190
I have the same issue, did you guys fixed?

[2017-08-24 21:54] jainaashish commented on #5803
Package author needs to correct this package and specify this content file `.dot` with right attributes in his `.nuspec` file so that when this package is installed, this content is rightly consumed in project. More details are available on these links - https://blog.nuget.org/20160126/nuget-contentFiles-demystified.html https://docs.microsoft.com/en-us/nuget/schema/nuspec#including-content-files

[2017-08-24 21:56] jainaashish commented on #5803
`Even after package restore / build, the package is not shown in the "References" section.`

And about this, then it should have shown a NuGet package reference there. I'll file a bug on legacy project system to look into this.

[2017-08-24 21:57] eerhardt commented on #2923
@rrelyea @emgarten - what's the status of this issue? Are we ever going to do it?

[2017-08-24 22:04] jainaashish commented on #5803
Created Project-System bug for the reference issue - https://github.com/dotnet/project-system/issues/2731

[2017-08-24 22:04] #5803 closed, assigned to nobody

[2017-08-24 22:13] jainaashish commented on #5801
@rohit21agrawal can you take a look at it? Thanks!

[2017-08-24 22:32] rohit21agrawal commented on #5801
can you  try setting ```<IncludeContentInPack>false</IncludeContentInPack>``` in your project?

[2017-08-24 22:37] jainaashish commented on #5799
Thanks for the feedback! We have not given it a thought so far and neither it has been brought up by community. But we'll keep this request active here and let community give their feedback on this feature now.

But meantime, you can always create multiple packages with each architecture and allow your current workflows to work as is with nuget packages as well right? or is there any other part wh

[2017-08-24 22:37] jainaashish commented on #5799
Thanks for the feedback! We have not given it a thought so far and neither it has been brought up by community. But we'll keep this request active here and let community give their feedback on this feature now.

But meantime, you can always create multiple packages with each architecture and allow your current workflows to work as is with nuget packages as well right? or is there any other part wh

[2017-08-24 22:39] jainaashish commented on #5798
@zhili1208 can you take a look here? Thanks!

[2017-08-24 22:45] zhili1208 commented on #5798
@chrisgannon6 this looks like a server issue, Could you make sure the server endpoint is available on your machine?

[2017-08-24 22:46] infin8x commented on #5739
We discussed more internally, it looks like we'll continue to use the Credential Provider rather than this header.

[2017-08-24 22:46] #5739 closed, assigned to nobody

[2017-08-24 23:24] chrisgannon6 commented on #5798
@zhili1208 Hi. Thanks for the support. The server endpoint is definitely available. When I push with earlier versions of Nuget (2.2, or 4.3.0.3) it works successfully. It's only when I upgrade to 4.3.0.4406 that it fails to push. Unfortunately 2.2 fails to nuget pack, and I cant see any way to upgrade to anything except the latest, which means I can't push once I've nuget packed the image.

See be

[2017-08-24 23:48] chrisgannon6 commented on #5798
And an example of it pushing successfully with 4.3.0.3 a few days ago before 4.3.0.4406 became the latest.
******************************************
nuget push -Source artifactory -Verbosity detailed -NonInteractive target/${package_name}.${package_version}.nupkg
NuGet Version: 4.3.0.3
Pushing objective-vagrant.1.8.1.1-SNAPSHOT.nupkg to 'https://<artifactory sever>/artifactory/api/nuget/choco'...

[2017-08-25 00:17] solvingj commented on #5799
Thanks for the response.  Indeed there are workarounds.  Most people just compile for both arch's in a single build step, ignoring the Appveyor build matrix feature.   Also, some people build separate packages :  ourlib_x86 and ourlib_x64, but then they cannot be consumed as transitive dependencies in a cross-platform way like normal dependencies.

Also, it's worth pointing out that this doubles t

[2017-08-25 00:44] jainaashish opened #5805 "Why is everything related to nuget package restore/upgrade so slow"
From feedback item: https://developercommunity.visualstudio.com/content/problem/97395/why-is-everything-related-to-nuget-package-restore.html

We have a solution with 12 projects and attempting to manage nuget packages at the solution level is impossibly slow. It takes minutes everything I change tab for the Nuget tab to refresh (which it seems to do everytime, even if nothing has changed).

This

[2017-08-25 01:25] rjamesnw commented on #5801
That worked!!! Thanks. ;) I assume though this is just a work-around, since one day I might need to add content and this will be a problem again. For now, it solves my problem.

[2017-08-25 01:36] rohit21agrawal commented on #5801
is it possible for you to just attach a repro project? it will make it much easier to investigate

[2017-08-25 02:49] rjamesnw commented on #5801
[ClassLibrary1.zip](https://github.com/NuGet/Home/files/1250705/ClassLibrary1.zip)

After build, open the obj\ClassLibrary1.1.0.0.nuspec file see what I mean - but I'm guessing you know that already lol. ;)

[2017-08-25 03:27] emgarten commented on #2923
It hasn't been our radar, but copying this from the nuspec to the assets file shouldn't be difficult.

[2017-08-25 04:12] erikrenaud opened #5806 "VS 2017 (15.3) doesn't restore nuget packages in netstandard1.4 projects because it seems to ignore projects.json-frameworks-netstandard1.4-imports"
Restore fails in build:
NU1202: Package Microsoft.Azure.Mobile 0.14.0 is not compatible with netstandard1.4 (.NETStandard,Version=v1.4). Package Microsoft.Azure.Mobile 0.14.0 supports:
  - monoandroid403 (MonoAndroid,Version=v4.0.3)
  - portable-net45+win8+wp8+wpa81 (.NETPortable,Version=v0.0,Profile=Profile259)
  - uap10.0 (UAP,Version=v10.0)
  - xamarinios10 (Xamarin.iOS,Version=v1.0)

Project.j

[2017-08-25 05:33] gmajian commented on #5488
There is  a GitHubGist for "Converts packages.config into PackageReference at *.csproj project file"
https://gist.github.com/a4099181/074a6c3dd524ea0d343382137492399c

[2017-08-25 08:22] o7g8 commented on #4091
@zhili1208 thank you! now it works :)

[code]
and for 14 as well:
[code]

[2017-08-25 09:48] HeKopf opened #5807 "Token replacement in nuspec files does not work as excepted"
I have an issue with token replacement in nuspec files. I have a project referencing some cutom libraries. For some debug reasons it was necessary to disable Copy Local for some of the referenced libraries. Consequently, the \bin\release does not contain all assemblies referenced by the project. I don’t specify any dependencies in my nuspec file (see attched
[MyProject.nuspec.txt](https://github.c

[2017-08-25 12:23] Kassoul commented on #5488
An another good tool on Github that use https://github.com/hvanbakel/CsprojToVs2017

[2017-08-25 12:28] cvvvlad commented on #1823
+1 for bringing back release notes

[2017-08-25 13:01] henning-krause commented on #5803
I notified the owner of the package (EvoPdf) and they'll look into it for their next major version.

[2017-08-25 14:53] aKzenT commented on #1823
Is there any update on this?

[2017-08-25 15:59] atanasa commented on #4781
With this approach, would it be possible to inject new PackageRefence items in that target?
The use case is - have custom tooling that calculates the PackageReference items and creates them at a time when the Restore can later see them.

[2017-08-25 17:16] zhili1208 commented on #4091
Great, I will fix this in product

[2017-08-25 17:34] zhili1208 commented on #5798
Here is how to get the 4.3.0.3, download the package: https://www.nuget.org/packages/NuGet.CommandLine/4.3.0-preview3-4168,
change the nupkg to a zip and unzip it,  in the tools folder, you can get 4.3.0.3.

there is no push code change between 4.3.0.3 and 4.3.0.4406, so please try 4.3.0.3 to see if it works now.

[2017-08-25 17:37] rrelyea commented on #5806
Yes, we have a fix underway. Considering releasing in a 15.3.x servicing release.
Covered by internal bug: 482586

**Workaround until we fix for real**:
a) move from Project.json to PackageReference and represent your imports via the PackageTargetFallback property in the csproj.
**Update**: removed the first version of the workaround...which was mistaken.

**Cause**: We now support UAP10.0.xxxxx T

[2017-08-25 17:38] jainaashish commented on #5807
@HeKopf I can't repro this issue with NuGet.exe 4.3.0, pack command correctly identify $author$ and $version$ attributes from assembly metadata. And it's also not a requirement to have all the dependent libraries into \bin\release when they aren't being packed. Can you please provide a repro solution with your issue?

[2017-08-25 17:50] clairernovotny commented on #5806
@rrelyea can you please point me to the PR that has the fix? I just did a bit of work around this area for my extras (https://github.com/onovotny/MSBuildSdkExtras/commit/2bfa253bedf624f7903b7a5cfa618bbba0c4e180), and I want to track the fix.

BTW, as is, using `uap10.0` with a TPMV of `10.0.10240.0` fails to restore since the TFM is `UAP,Version=v10.0.10240`. The code works fine if it's `uap10.0.1

[2017-08-25 18:05] rick0735 opened #5808 "MaxPackageIdLength of 100 could be longer"
## Details about Problem

NuGet product used:  NuGet.exe command line, Win 7 Pro command prompt

NuGet version (x.x.x.xxx): 2.8.60318.667, 3.3.0.212, 4.1.0.2450

OS version (i.e. win10 v1607 (14393.321)): Win 7 Pro

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. From a command line: nuget_4.1.exe pack "C:\Build All\MyTestmodules\MyTes

[2017-08-25 18:50] jainaashish commented on #5808
@rick0735 There is no strong reason that I can think of for this 100 character limit besides, it could related to Microsoft 260-character path limit or even NuGet.org has similar limit for package Id. But until now, no customer can reported any issue with this so it has been like this. We'll keep this change request here and let community also give their feedback on it. If more and more customers

[2017-08-25 19:30] emgarten commented on #4781
@atanasa that should be possible.

https://github.com/NuGet/NuGet.Client/pull/1615

[2017-08-26 01:32] rohit21agrawal commented on #5801
This issue was moved to aspnet/Home#2166

[2017-08-26 01:32] #5801 closed, assigned to nobody

[2017-08-26 05:02] anangaur commented on #5346
I don't see a problem with either 128 or 256 icons.

[2017-08-26 05:03] anangaur commented on #5346
@mstum not in our backlog as of now.

[2017-08-26 08:23] emgarten commented on #5806
@onovotny https://github.com/NuGet/NuGet.Client/pull/1668

[2017-08-26 22:11] ManfredLange commented on #5350
Just found this message as well. However, in my case both projects are in the same solution, so none is referring to a project outside the solution. Perhaps there is more than one root cause for this (misleading) message?

[2017-08-27 02:01] c0shea commented on #2577
In theory, this sounds all well and good. But in practice, I am fearful that this will create a new barrier to entry in the .NET ecosystem. I think for this to work successfully, the proposal **must**:

- be free and accessible to the masses. Approaches that require the developer to pay for a certificate or similar will not work. Though I personally would cough up the money, not everyone is willin

[2017-08-27 03:21] AlexanderSher opened #5809 "NetStandardImplicitPackageVersion ignored for .NET Framework"
## Details about Problem

NuGet product used: VS UI
NuGet version: 4.3.0
VS version: 15.3.1
OS version: Windows 10.0.15063

## Detailed repro steps so we can see the same problem
1. Create empty .net standard project.
2. Change target frameworks to <TargetFrameworks>net46;netstandard1.6</TargetFrameworks>
3. Add reference to any package that requires .NETStandard.Library, for example: Microsoft.Ex

[2017-08-27 10:28] dasMulli commented on #5809
This is by design: `NetStandardImplicitPackageVersion` only sets the version of `NETStandard.Library` for target frameworks that the SDK implicitly adds a package to `NETStandard.Library` for. This is only used for the `netstandard*` target frameworks since it requires the tooling to reference a version of `NETStandard.Library` to get the compile time references. Since there is no implicit ("autom

[2017-08-27 14:20] AlexanderSher commented on #5809
Well, this is not what suggested in documentation, which says that one should never have an explicit reference to the `NetStandard.Library` and use `<NetStandardImplicitPackageVersion>`:
https://docs.microsoft.com/en-us/dotnet/core/tools/csproj
https://docs.microsoft.com/en-us/dotnet/core/tools/project-json-to-csproj

And I actually surprised that users should add conditional item groups to achiev

[2017-08-27 14:48] dasMulli commented on #5809
Ouch I see.. well the bullet points in that section of the docs are specific to .net core (`RuntimeFrameworkVersion`) and .net standard (`NetStandardImplicitPackageVersion`) and have nothing to do with .net framework, but it really doesn't say that very clearly..

[2017-08-27 14:59] dasMulli commented on #5809
@AlexanderSher I've opened a PR to the document to clarify which target frameworks the respective properties apply to https://github.com/dotnet/docs/pull/3006

[2017-08-27 19:26] clairernovotny opened #5810 "Cannot add items to TargetsForTfmSpecificBuildOutput unless the extensions are in whitelist and there is no way to customize the extension whitelist"
[log.zip](https://github.com/NuGet/Home/files/1254659/log.zip)
Using the `TargetsForTfmSpecificBuildOutput` extension point, I'm unable to add all the required files:

![image](https://user-images.githubusercontent.com/1427284/29753278-eb20577e-8b3b-11e7-9357-54809cb485ae.png)

You can see that they are passed into the PackTask, but the generated NuSpec drops a few:
![image](https://user-images.gi

[2017-08-27 19:53] clairernovotny commented on #5379
Here's the fix:

https://github.com/onovotny/MSBuildSdkExtras/blob/master/src/build/platforms/Windows.targets#L54-L66

There is a different output group and set of items that can be triggered. And I had to use the lowest-level extension point because the easier one didn't work. #5810

[2017-08-27 20:17] rohit21agrawal commented on #5810
@onovotny this is not a bug because that target still filters files based on extensions.
If you need to add file extensions which are not whitelisted, you need ```TargetsForTfmSpecificContentInPackage``` like you did as a workaround.

[2017-08-27 21:32] clairernovotny commented on #5810
That still feels wrong, IMO. If I add custom items per TFM, then you should not be filtering those on a white list.

[2017-08-27 21:45] rohit21agrawal commented on #5810
I do have a separate PR which i am about to send out that allows you to customise what extensions go into the whitelist, perhaps that would be sufficient to fill this gap?

[2017-08-27 21:46] clairernovotny commented on #5810
I guess that'll help, but that now means two customizations are needed. It seems that whitelist should be inferred or at least include whatever is in the TargetsForTfmSpecificBuildOutput

[2017-08-27 22:29] fjames commented on #5807
I have the exact same issue only with $description$.  The rest seem to be working for me.  I have tried version 4.1 and 4.3.

[2017-08-28 04:14] joo92 commented on #5787
Yes. I have tried above provided workaround steps. I have removed packageReference from .csproj file then  project saved. Now I will try to install the package its will be get exception like  **"Package restore failed. Rolling back package changes in projectName"**.

Can you please update solution to restore and install removed package with another version?

[2017-08-28 05:30] sbespalov opened #5811 "`nuget list` hangs in case of redirect Console output to file"
## Details about Problem

My goal is to capture `nuget list` command output to check the result within my Integration Tests.
I am trying to redirect console output into file using command below:
`$ mono --runtime=v4.0 nuget_2-8-6.exe list Org.Carlspring -ConfigFile NuGet.config > list-stdout.txt 2> list-stderr.txt`

When I am doing so the command execution hangs forever and never ends. When I am u

[2017-08-28 05:38] chrisgannon6 commented on #5798
@zhili1208 thanks. I was able to test with 4.3.0.3 downloaded from the above link. Unfortunately that also fails for the push, with the same error.

That backs up your statement that nothings changed in 4.3.0.4406. It implies somethings changed in my environment.

It's still strange that 2.2 can push. Either way, I'll continue to investigate further.

Appreciate your assistance thus far.

[2017-08-28 05:46] sbespalov commented on #5811
Hi guys,
we will be very happy if you can provide solution or workaround for this issue.

[2017-08-28 07:37] sandersaares opened #5812 ""The package 'NLog' tried to add a framework reference to 'System.IO.Compression' which was not found in the GAC." when the assembly, in fact, is in the GAC"
NuGet product used: VS UI

NuGet version (x.x.x.xxx): 4.3.0

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): 15.3.2

OS version (i.e. win10 v1607 (14393.321)): Windows 10 1703 (15063.540)

Worked before? If so, with which NuGet version: unknown

## Detailed repro steps so we can see the same problem

1. Create a new .NET Standard 2.0 library project.
1. Add a new .NET Fram

[2017-08-28 07:38] HeKopf commented on #5807
I created a simple sample solution with a Readme file where you can reproduce this issue. The solution contains two projects, the command-line application references the library project, “Copy Local” flag is disabled. The Readme describes how to continue to reproduce the issue.
[NuGetTest.zip](https://github.com/NuGet/Home/files/1255410/NuGetTest.zip)

[2017-08-28 07:53] sandersaares opened #5813 "Unexpected assembly reference conflicts when installing NLog to netstandard2.0 class library"
## Details about Problem

NuGet product used: VS UI

NuGet version (x.x.x.xxx): 4.3.0

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): 15.3.2

OS version (i.e. win10 v1607 (14393.321)): Windows 10 1703 (15063.540)

Worked before? If so, with which NuGet version: unknown

## Detailed repro steps so we can see the same problem

1. Create a new .NET Standard 2.0 class library

[2017-08-28 08:33] HeKopf commented on #5807
@fjames: Contains your AssemblyDescription attribute an empty string?

I created a simple sample solution to reproduce the issue.

Used tools:

Visual Studio Professional 2017 Version 15.3.1
Nuget.exe Version 4.3.0.4406
.NET Framework 4.6

Steps to reproduce the issue:
1. The NuGetTest project referenes external library NuGetTestLib
2. In AssemblyInfo in NuGetTest a custom assembly attribute defin

[2017-08-28 09:20] DanielLavrushin commented on #3787
Any progress with this?

[2017-08-28 12:04] bartdkmediahuis commented on #3251
- Mono JIT compiler version 5.2.0.215 (d15-3/da80840 Thu Jul 20 16:43:07 EDT 2017)
- NuGet Version: 4.3.0.4406

When trying to push a package :
System.Exception: Pushing took too long. You can change the default timeout of 300 seconds by using the -Timeout <seconds> option with the push command.

Any idea if we need to upgrade another component as well ? I was hoping that with the latest mono vers

[2017-08-28 12:55] kzu commented on #5507
That looks like a nuget package authoring error. Does your package provide a compatible library that can target XA? Did you inspect the resulting .nupkg to see what's in the `lib` folder?

It may be that the PCL profile selected for the library isn't compatible with XA. You should check that first.

Also, I strongly suggest you move the PCL to NETStandard instead, since PCLs are effectively deprec

[2017-08-28 13:31] psandhu79 commented on #5767
Ok something i do not understand using Nuget 3.5.0
 if i do the following

`nuget.exe sources Add -Name "Libraries" -Source "feed" -username user - password PAT -storeincleartext`

then run
`nuget.exe restore my.sln -Source Libraries `
it cannot restore from the Libraries feed and says it cannot find myworkdingdirectory\libraries

however because the Libraries feed is in the nuget.config file

`Nu

[2017-08-28 13:58] psandhu79 commented on #5767
Update

It works fine on 3.4.4, does not work on 3.5.0 👎

[2017-08-28 18:03] clairernovotny commented on #4337
Bump? What is the status of getting this resolved. We have to double-restore currently to workaround this.

[2017-08-28 18:08] dasMulli commented on #4337
It would be great if this could be resolved in a way that also fixes https://github.com/NuGet/Home/issues/4790 (allow build logic acquired via nuget to set the version - like GitVersion - which is impossible during restore), which is in the 4.4 milestone.

[2017-08-28 18:09] rohit21agrawal commented on #4337
with SDK 2.0, a restore is automatically implied on build (and pack builds by default, unless you specify the nobuild option),  so you shouldn't have to do a double restore.

[2017-08-28 18:21] clairernovotny commented on #4337
This doesn't help since I need versions to calculate for interpackage dependencies. Also, I need to use `msbuild /t:restore` and `msbuild /t:build` for things that `dotnet` cannot build. This is also related to #4790

[2017-08-28 18:30] clairernovotny commented on #4790
Bump? How is this looking for 4.4? Would be really nice to get rid of a hack that requires additional imports due to `$(ExcludeRestorePackageImports)='true'`

[2017-08-28 18:36] dasMulli commented on #4337
Calling a target per p2p to get `$(PackageId)` and `$(PackageVersion)` would be great although it might slow down projects using the generate-package-on-bulid functionality a little.

The integrated restore is great and solves a lot of these edge case problems yet this does not solve the imported targets/props issue (e.g. distributing [this target](https://gist.github.com/dasMulli/6d9580ba52770d8f

[2017-08-28 19:33] emgarten commented on #5811
@sbespalov 2.8.6 is very old, try the latest 4.3.0 version here: https://dist.nuget.org/win-x86-commandline/v4.3.0/nuget.exe

[2017-08-28 19:49] jayslife commented on #545
👍 dacpac support.

[2017-08-28 21:30] mishra14 opened #5814 "Improve the performance for DependencyGraphSpec.SortPackagesByDependencyOrder"
While testing restore with dense solutions, I ran a trace and found that `DependencyGraphSpec.SortPackagesByDependencyOrder` seems to be taking over 25% of all the restore time.

We should fix this to improve restore perf.

[2017-08-28 21:32] mishra14 commented on #5814
cc: @emgarten @jainaashish

[2017-08-28 21:53] DHowett-MSFT opened #5815 "Upgrade to Visual Studio 15.3 regressed package.json build behaviour for C++ UWP projects"
Please read the following information before posting the issue.
[Dll1.zip](https://github.com/NuGet/Home/files/1258498/Dll1.zip)

## Details about Problem

*NuGet product used:*
VS UI

*NuGet version (x.x.x.xxx):*
That which was shipped in VS 2017 Update 3

*VS version (if appropriate):*
26815.3 [and prior]

*OS version (i.e. win10 v1607 (14393.321)):*
win10 v1703 and insider builds

*Worked befor

[2017-08-28 22:06] rohit21agrawal commented on #5813
This issue was moved to dotnet/sdk#1546

[2017-08-28 22:06] #5813 closed, assigned to nobody

[2017-08-28 22:39] rrelyea commented on #5782
@NickCraver - Any more info after @jainaashish's last comment?

[2017-08-28 22:44] rrelyea commented on #5785
@bklooste  - closing as it appears to be resolved. Please reactivate or comment again if problem.

[2017-08-28 22:44] #5785 closed, assigned to rohit21agrawal

[2017-08-28 22:44] NickCraver commented on #5782
@rrelyea I haven't had time to get back to this, we've hit a few more issues in production at Stack Overflow with the new tooling (references removed outright, in projects that have never seen `<PackageReference>`). We'll try to repro on-demand next week when time allows, just a lot to get out the door at the moment and we're just looking close at every `.csproj` commit.

[2017-08-28 22:55] rrelyea commented on #5791
@rohit21agrawal - can you help with that last question?

[2017-08-28 22:59] rrelyea commented on #5793
We've moved #4628 into the backlog (with no priority currently). As such, closing this one. Thanks for input.

[2017-08-28 22:59] #5793 closed, assigned to nobody

[2017-08-28 23:06] rohit21agrawal commented on #5791
@jonathanbyrne you can write a target like this like this:
[code]

You would also need to set a property so NuGet can run the above target:
``` <TargetsForTfmSpecificBuildOutput>$(TargetsForTfmSpecificBuildOutput);CustomBuildOutputTarget</TargetsForTfmSpecificBuildOutput> ```

[2017-08-28 23:12] rrelyea commented on #5799
What language are the users of these packages using? C++ or managed languages or ???

[2017-08-28 23:13] rrelyea commented on #5802
let's make this for normal and verbose logs only.

[2017-08-28 23:16] rrelyea commented on #5806
We are shooting to fix this in 15.3.3 (which is undergoing testing)

[2017-08-28 23:19] rrelyea commented on #5808
Longfilepath support would be great for nuget package authors and package users, but will take a focused effort to make sure it works thoughout the codebase.

[2017-08-28 23:40] solvingj commented on #5799
For any modern language that builds artifacts which are architecture-aware , the status quo with CI systems is to divide the work of building and packaging a separate artifact for for each target architecture across multiple machines/instances using a build matrix.  The status quo is also to have a final instance-level step to deploy each such artifact to some repository independently from it's si

[2017-08-28 23:54] mishra14 commented on #5767
@psandhu79 Thanks for reaching out. Its possible this was an issue in 3.5.0.

Can you please download [v4.3.0](https://dist.nuget.org/win-x86-commandline/v4.3.0/nuget.exe) and try the same scenario?

If you are still facing the issue, then could you please give us the out put of the following command -

`Nuget.exe sources -format detailed`

[2017-08-29 00:15] rrelyea commented on #5815
Duplicate of #5806
@jainaashish, @rohit21agrawal  - we may need to fix in 15.4.0 p2 as well?

[2017-08-29 00:44] StingyJack commented on #5797
@jainaashish - Thanks, I was expecting that one to be closed as "Not a Bug" like [this one](https://developercommunity.visualstudio.com/content/problem/69961/manage-nuget-packages-for-solution-is-not-paying-a.html)  was.

[2017-08-29 01:23] jainaashish commented on #5815
@rrelyea This is not the dupe of #5806 So re-opening this again!

[2017-08-29 04:00] erikrenaud commented on #5806
Bizarre,

I’ve added
<PackageTargetFallback>$(PackageTargetFallback);portable-net45+win8+wp8+wpa81;</PackageTargetFallback>
Or variants like:
<PackageTargetFallback>portable-net45+win8+wp8+wpa81;</PackageTargetFallback>
<PackageTargetFallback>portable-net45+win8+wp8+wpa81</PackageTargetFallback>

To my csproj but I still get the errors like :
NU1202: Package Microsoft.Azure.Mobile 0.14.0 is not co

[2017-08-29 04:32] davkean opened #5816 "Analyzer packages no longer added with PrivateAssets"
_From @tillig on August 21, 2017 19:35_

Prior to VS 15.3 when you'd add a reference to a Roslyn analyzer package you'd get a reference like this:

[code]

With the `PrivateAssets` node the analyzer wouldn't be seen as a dependency when packaging your project.

As of 15.3.1, when adding a Roslyn analyzer package reference you no longer get the `PrivateAssets` node.

[code]

This ends up including

[2017-08-29 04:44] drieseng commented on #5816
In what way is such a 'private asset' reference different from a development dependency?

[2017-08-29 05:13] sbespalov commented on #5811
@emgarten thank you for quick response
I know that `2.8.6` is not the last version, and `nuget list` works fine for `v4.x`, but I need to use `v2.x` in my Integration Test script.
The goal is to test how our package manager works with `Nuget v2` protocol version.
Maybe you can provide some workaround for `v2.x`, if it's not supported any more?

[2017-08-29 05:17] emgarten commented on #5811
Maybe you can provide some workaround for v2.x, if it's not supported any more?

I'm not sure I understand. The 2.x server protocol is supported in nuget.exe 3.x and 4.x. Are you seeing a scenario where it doesn't?

[2017-08-29 05:28] sbespalov commented on #5811
Yes, seems that `nuget.exe` client have a backward protocol compatibility. But how I can be sure that I am using server protocol v2, when the client version is 4.x?

[2017-08-29 05:28] psandhu79 commented on #5767
Hi

does not work still with 4.3.0
 command i run is
`nuget.exe restore Extensions\Solution\src\Solution.sln -Source "PetrelLibraries"`

error i receive is

Failed to retrieve information about 'NETStandard.Library' from remote source 'I:\P\2018\2018\Solution\PetrelLibraries'.

my workdir is I:\P\2018\2018\Solution\

output from `Nuget.exe sources -format detailed`

Registered Sources:

  1.  nuge

[2017-08-29 05:31] sbespalov commented on #5811
Also, How I can be sure that our protocol v2 server will work for `nuget.exe` v2 clients if our Integration tests using `nuget.exe` client v4? :)

[2017-08-29 05:40] emgarten commented on #5811
To test your own server implementation using old clients makes sense. :smile:

I'm not sure of the workaround for this, this is the first time I've seen this problem reported. You could try using nuget.exe as an assembly reference and calling into the same code, or running a modified version of nuget.exe where you've fixed the issue.

[2017-08-29 05:43] sbespalov commented on #5811
the problem is that I am not common with `.Net`, that's why I have asked for your help here. I can't fix this Issue by myself.

[2017-08-29 06:30] anangaur commented on #5811
We do not have any servicing train to fix issues in older versions of NuGet clients 2.x as of today. I would suggest you should explore ways  to move to 4.x clients as they are kept up to date with bug fixes and new functionalities.

[2017-08-29 06:40] sbespalov commented on #5811
Can I strictly specify the server protocol version to use for v4 client?

[2017-08-29 07:15] emgarten commented on #5811
If the server is v2 protocol then the client has to use v2 OData. If the server is v3 json protocol then it uses that.

Note that there have been a lot of changes to how nuget reads v2 feeds in 3.x and 4.x, so it could potentially be different.

You can see how common usage of different nuget client versions are here: https://www.nuget.org/stats/packages/Newtonsoft.Json?groupby=ClientName&groupby=

[2017-08-29 07:41] sbespalov commented on #5811
@emgarten thank you for explanation. But I want to understand how `nuget.exe` client knows what protocol version to expect from server?

[2017-08-29 07:51] emgarten commented on #5811
If it is a json file it is v3, if it is OData XML it is v2.

[2017-08-29 08:03] sbespalov commented on #5811
you mean that it's determined according to the 'Content-Type' HTTP response header?

[2017-08-29 12:16] clairernovotny commented on #5755
Here is a fix for the UWP issue that relies on output groups:
https://github.com/onovotny/MSBuildSdkExtras/blob/master/src/build/platforms/Windows.targets#L54-L66

@rrelyea there is already a target in the XAML targets that populates a variable from an output group `PrepareLibraryLayout`. That fills in the `_layout` items that I'm using, but it's based on the items set in that target.

[2017-08-29 12:38] larssb commented on #5489
@mishra14 sorry for writting in an old closed case but, by any chance, do you know how Imagesharp would install in PowerShell, with either install-package or install-module from the ImageSharp myget repo?

[2017-08-29 14:49] atanasa commented on #4781
Any idea when this would be public? I guess this is not available in dotnet cli 2.0?

[2017-08-29 16:34] citizenmatt opened #5817 "dotnet restore with multiple sources crashes"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

NuGet version (x.x.x.xxx): 3.4.3.855

dotnet.exe --version (if appropriate): 2.0.0

OS version (i.e. win10 v1607 (14393.321)): win10 v1703 (16275.1000)

Worked before? If so, with which NuGet version: dotnet.exe 1.x

## Detailed repro steps so we can see the same problem

1. `dotnet

[2017-08-29 16:35] bwowk commented on #3664
Having the exactly same issue. "Response status code does not indicate success: 401 (Unauthorized)."
Hitting the repo with curl using the exact same credentials works without issues

**dotnet --info**:
[code]

**dotnet nuget --version**:
[code]

[2017-08-29 16:54] rohit21agrawal commented on #5755
thanks @onovotny !
i'll get this reviewed with XAML folks, and see if we can check this in.

[2017-08-29 17:07] rohit21agrawal commented on #5816
@tillig @davkean how is the package being added? As far as I am aware, we have never added PrivateAssets=all automatically even for packages with developmentDependency set to true. Here is the bug for that : https://github.com/NuGet/Home/issues/4125

@emgarten please correct me if I am wrong.

[2017-08-29 17:27] jonathanbyrne commented on #5791
Thank you @rohit21agrawal, that was a **_huge_** help!  I do have one question regarding your example.  When would \<FinalOutputPath\> be different than the Include property on \<BuildOutputInPackage\>?  I omitted \<FinalOutputPath\> and still got the desired result in the NuGet package.  (See example below.)

[code]

[2017-08-29 17:29] rohit21agrawal commented on #5791
@jonathanbyrne if the include string is an absolute path, then you don't need the FinalOutputPath.

also, I am closing this issue for tracking purposes, but please feel free to keep using this forum to ask any more questions related to this.

[2017-08-29 17:31] #5791 closed, assigned to nobody

[2017-08-29 17:36] rohit21agrawal commented on #5809
This issue was moved to dotnet/sdk#1550

[2017-08-29 17:36] #5809 closed, assigned to nobody

[2017-08-29 17:44] rohit21agrawal commented on #5817
@emgarten looks like we need to be more careful when parsing multiple sources - would you take a look at what could be the resolution here?

[2017-08-29 18:24] clairernovotny commented on #5755
Probably needs a bit of polish, but that's the general idea

[2017-08-29 19:06] emgarten commented on #5816
packages.config automatically set this, but PackageReference/project.json has never done this.

[2017-08-29 20:15] commonsensesoftware commented on #5755
@onovotny so is `TargetPath` custom metadata or is that already generated by `PrepareLibraryLayout`? If isn't not custom metadata, is there way to influence it?

I know you're very familiar with the required build layout for packaging, so no need to rehash it. I have a scenario where I'm multi-targeting with different XAML by platform. You can't have two Generic.xaml files, so I have things split

[2017-08-29 20:51] rohit21agrawal commented on #5755
@commonsensesoftware have suggested some contacts on skype for the sdk related issues you are facing.

[2017-08-29 23:04] mbrookson commented on #4190
I'm having this issue on OSX. Neither VS for Mac or JetBrains' Rider can install the package. I've also tried `dotnet add package Microsoft.EntityFrameworkCore.Tools.DotNet`in the CLI but that failed in the same way.
Manually editing the .csproj doesn't work either.

I'm trying to use EF Core 2.0 with .NET standard 2.0

[2017-08-29 23:16] divega opened #5818 "Misleading error when .NET Standard version is not known to be compatible with target framework"
On the first few days after we released .NET Standard 2.0 (and a wave of new packages that target it) we have seen several customer reports for this kind of error:

We believe a significant number of customers are now seeing this error because they have older NuGet client or dotnet CLI bits that are not aware of .NET Standard 2.0 and its compatible TFMs.

For these customers, the recommendation in

[2017-08-29 23:21] emgarten commented on #5818
Setting MinClientVersion in the nuspec file will help avoid this:
https://docs.microsoft.com/en-us/nuget/schema/nuspec

For NETStandard 2.0 the MinClientVersion would be 3.6.0 which is the lowest version on VS 2015 supporting that framework.

[2017-08-29 23:33] divega commented on #5818
cc @bricelam, I think you had similar thoughts about MinClientVersion.

[2017-08-29 23:37] divega commented on #5818
@emgarten would setting MinClientVersion to 3.6 help if I am running on a 4.x version of NuGet that is not the latest and doesn't know about .NET Standard 2.0 list of compatible TFMs and I actually need to update VS?

[2017-08-29 23:38] jaredpar opened #5819 "Version 4.3.0 changes facade deployment"
I'm in the process of migrating the Roslyn repo from the 1.1 to 2.0 SDK. As a part of that I also moved NuGet.exe from 4.1.0 to 4.3.0. Doing so broke 90% of our tests because NuGet changed the set of facades that were deployed for our unit test projects. In particular it changed how the facade for System.Security.Cryptography.Algorithms is deployed.

The unit tests which broke all had net461 as a

[2017-08-29 23:41] #5691 closed, assigned to mishra14

[2017-08-30 00:15] jaredpar commented on #5819
After further investigation this is turning into a really bad break for us. There is seemingly no way out of this problem:

- The transitive closure of assemblies does not appear to use System.Security.Cryptography.Algorithms 4.1.0.0 assembly. I've hand scanned every output DLL and all are using 4.0.0.0. Possible I'm missing something but don't see it.
- Automatically generating binding redirects

[2017-08-30 00:29] davkean opened #5820 "Support VS 2019 Solution Filter feature. Also supports project not in solution, or unloaded projects. Need to restore complete solution (via CLI or VS) first."
_From @abpiskunov on August 29, 2017 16:32_

I have follwoing solution structure:

ClassLibrary1 (classic net46)
somefolder\
                   ClassLibrary7
                          \ClassLibrary7 (core net46)

ClassLibrary7 has project reference for ClassLibrary1 in the form that specify Guid:

``    <ProjectReference Include="..\..\..\ClassLibrary1\ClassLibrary1.csproj">
      <Project>{2684d8

[2017-08-30 00:29] davkean commented on #5820
_From @abpiskunov on August 29, 2017 16:40_

Note: removing Guid and Name metadata from ProjectReference would fix that, but imagine users converting tehir projects and see errors when where there should be no error at all... they know that csproj file does exist in that location.

[2017-08-30 00:29] davkean commented on #5820
Can you expand on above? Do you mean that ClassLibrary1.csproj is referenced but not included in the solution?

[2017-08-30 00:29] davkean commented on #5820
_From @abpiskunov on August 30, 2017 0:28_

yes, correct

[2017-08-30 00:30] davkean commented on #5820
This is NuGet not generating an assets file for this project. I have no idea what we should be doing about this situation.

[2017-08-30 00:45] emgarten commented on #5820
The reason NuGet does not generate an assets file is because when reading the project references from DTE there is a failure when trying to get the project details for the dependency project. If the project system fixed this then NuGet would restore the project.

Overall the error message looks correct here. I don't think that NuGet is the right home for this (if it should be fixed).

[2017-08-30 00:47] abpiskunov commented on #5820
what errors you get from DTE?

[2017-08-30 00:55] emgarten commented on #5820
`Reference.SourceProject` is null or throws an exception when accessing it. Which makes sense since the project system doesn't have the project which is outside of the solution, but this means that NuGet can't restore it since we are working within VS and not shelling out to restore any path found.