[2015-09-03 08:36] JamesNK commented on #1326
Also once I fixed the issue by including the framework in json file, the csproj's references don't appear to be modified when I add and remove NuGet packages, only the json file.

[2015-09-03 08:46] JamesNK opened #1327 "NuGet 3.2-RC - Adding and removing packages doesn't update the csproj references"
I have a project Newtonsoft.Json.Tests.Net20.csproj which has a json NuGet file Newtonsoft.Json.Tests.Net20.project.json.

Adding and removing NuGet packages updates the json file but it doesn't update the csproj with the new references.

[2015-09-03 08:49] JamesNK opened #1328 "NuGet 3.2-RC - Packages aren't restored"
I have a project Newtonsoft.Json.Tests.Net20.csproj which has a json NuGet file Newtonsoft.Json.Tests.Net20.project.json.

Building the solution doesn't restore the project's NuGet packages and the build fails.

[2015-09-03 08:49] emgarten commented on #1327
References are added to Newtonsoft.Json.Tests.Net20.project.lock.json, the csproj file will not have the references.

[2015-09-03 08:50] maartenba opened #1329 "Pressing enter in the console does nothing"
_From @yishaigalatzer on June 1, 2015 23:42_

From @lynnewu
copied from https://github.com/NuGet/NuGetGallery/issues/2516

I've installed NuGet (Windows 7, VS 2013) and it seems to install correctly, but when I open the Package Manager Console and enter a command, nothing happens.

The cursor moves down to the next (empty) line, and if I keep pressing <enter> it moves to the next line, but nothing

[2015-09-03 08:51] JamesNK commented on #1327
Well Visual Studio doesn't appear to know about those references and I can't build my project.

[2015-09-03 08:53] emgarten commented on #1327
You need a version of MSBuild that supports {ProjectName}.project.json.

[2015-09-03 08:54] JamesNK commented on #1327
And I can get that where...?

[2015-09-03 08:55] emgarten commented on #1328
Are you getting any restore errors? Can you share the project?

[2015-09-03 08:57] emgarten commented on #1327
It hasn't been released to the public yet.

[2015-09-03 09:08] emgarten opened #1330 "UWP restores fail when a prerelease dependency forces a downgrade from a stable package"
When a package forces a downgrade to a lower prerelease version than the previously selected stable version UWP restore tries to resolve the conflict by taking the highest version, however this isn't done in a way that checks the current constraints.

**Scenario**
Package dependencies:
A 1.0.0 -> C 1.0.0
B 1.0.0-beta -> C [2.0.0-beta]

project.json

[code]

Available packages:
A 1.0.0
B 1.0.0-beta

[2015-09-03 09:08] JamesNK commented on #1327
Terrific. That would have been some useful intel... https://github.com/NuGet/Home/issues/1294

[2015-09-03 09:14] JamesNK commented on #1328
https://github.com/JamesNK/Newtonsoft.Json/commit/f017a1a7c57582d029fff1c6e91109d379ac887a

[2015-09-03 10:28] NickCraver commented on #1183
I really am sorry my time is so limited, I'm split between many projects at the moment. This is still broken though, here's a log of me attempting the same Owin package with the latest NuGet extension (3.1.60724.766):

[code]

[2015-09-03 12:09] o-o00o-o commented on #627
+1 for content to be revived

We currently use Content to allow distributing .targets and .props files for inclusion into project file via <import> elements. This is necessary as VS needs to know where these files are in advance (you can have a property at root level that defines this, but this ultimately needs to be statically defined).

We also use it to allow including other referred scripts (u

[2015-09-03 12:50] uuuus opened #1331 "DynamicDataTemplatesCS install failed"
In VS 2015 Enterprise can not install DynamicDataTemplatesCS - error: The path is not of a legal form.

[2015-09-03 13:44] ericstj commented on #1325
Yep, this package won't apply.  Profile24 is equivalent to net45+sl5, but the package doesn't support SL5 at all.  It'd be nice if nuget didn't just throw up profile numbers in the error messages, that'd make this a bit easier to understand.  Perhaps something like "You are trying to install this package into a project that targets a portable profile supporting .NET Framework 4.5 and Silverlight 5

[2015-09-03 14:33] yishaigalatzer commented on #1183
@NickCraver as far as I can tell this looks like an ASP.net 5 / dnu restore log. It is a different code base from nuget. And indeed the current behavior.

I suggest opening a bug in the aspnet/home or aspnet/dnx repo

[2015-09-03 15:11] pascalberger commented on #863
@yishaigalatzer Is this included in the recently released 3.2 RC or has it been pushed to a future release?

[2015-09-03 15:12] yishaigalatzer commented on #863
3.3, you can tell from the milestone on the right hand side.

[2015-09-03 15:16] pascalberger commented on #863
Thanks. I was confused since in the history only the "added this to the 3.2.0-Beta milestone" entry is shown, without showing it to be updated since back in July.

[2015-09-03 15:57] Jaykul commented on #304
Is there any workaround for publishing projects containing XAML with nuget 2.8 or 3.x

[2015-09-03 16:05] gdennie commented on #1236
The query language for Nuget is entirely inadequate for the current size of the repository and the evolving naming convention. I suggest a dot delimited naming query language similar to file name filter as in, "FunScript.*.Binding.lib". The meta characters of the language would be as follows:

.     name segment delimiter (dot)
-     match any sequence of name characters within name segment (aster

[2015-09-03 16:58] csharpfritz commented on #652
Emailed customer for additional information and repro

[2015-09-03 17:08] analogrelay commented on #627
Note that `.targets` and `.props` files are still supported in `project.json`-based NuGet. See https://docs.nuget.org/create/uwp-create#msbuild-targets-and-props-files-in-packages

[2015-09-03 17:14] tom-englert commented on #304
@Jaykul: https://nuget.codeplex.com/SourceControl/network/forks/tomenglert/private/contribution/8243
That's what I am using and it works great.

[2015-09-03 17:22] csharpfritz commented on #652
@rmestre Are you still seeing this problem with the latest version of the NuGet extension?

Note: the original report has indicated that they are not currently working in Visual Studio 2015 and have not tried to reproduce on recent versions of the NuGet extension

[2015-09-03 17:37] yishaigalatzer commented on #304
@tom-englert do you want to bring it to nuget2

[2015-09-03 17:42] o-o00o-o commented on #627
Yes I'm aware of this however sadly I am working with a project that doesn't support nuget (SSDT projects) and so to workaround this I create a sibling c# project to provide the nuget support and then refer across to the library type files from the main project. This works well with the Content creation model and I have to do the same thing with any dacpac references etc. so they can be updated au

[2015-09-03 17:44] shawnhar opened #1332 "VS 2015 crashes when adding/removing NuGet package to a Windows Phone 8.1 project"
- Unzip https://www.dropbox.com/s/xurf4724trsjo5l/GrabCutFramingHelper.zip?dl=0
- Load the .sln into VS 2015
- Attempt to add "Win2D.win81" (from NuGet.org) to the project FramingHelperApp.WindowsPhone
- VS crashes (although the package was successfully added and can be used after restarting VS)

Attempting to remove the package triggers the same crash.

This is apparently tickled by something uni

[2015-09-03 17:59] tom-englert commented on #304
@yishaigalatzer what repository should I use for nuget2? What about the license of https://www.nuget.org/packages/SymbolSource.Microsoft.Cci.Metadata/? Are we able to use this?

[2015-09-03 18:00] NVentimiglia commented on #1325
@ericstj  So the solution would be to add a Silverlight5 lib target to my package ?

[2015-09-03 18:30] csharpfritz commented on #1201
My %appdata%\nuget\NuGet.config file was modified in the latest successful build.  Verifying...

[2015-09-03 18:36] yishaigalatzer commented on #304
1. nuget2
2. I provided alternatives to using that in the past, is there anything blocking you from using that suggestion?

[2015-09-03 18:55] NVentimiglia commented on #1325
I added Silverlight5 target. This did not help.

Could not install package 'WebSocket.Portable.Core 1.2.4'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.0,Profile=Profile24', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

[2015-09-03 18:59] csharpfritz commented on #1201
Unable to reproduce...  closing

[2015-09-03 18:59] #1201 closed, assigned to deepakaravindr

[2015-09-03 19:45] o-o00o-o commented on #1272
Sorry I don't, I since ended up making it a content package with a surrogate project which actually worked better for my scenario as the support files were always in the same place regardless of the version.

It was a very simple package with all files in custom folders (none of the standard ones content/tools etc) no scripts or anything clever and only content files so would be easy to reproduce.

[2015-09-03 19:57] mplessis commented on #607
Ok thanks you, the project is UWP. We are waiting.

[2015-09-03 20:52] yishaigalatzer opened #1333 "NuGet.exe install 3.2 makes multiple unnecessary network calls"
## The short of it

nuget 3.2 makes a lot more network calls than necessary results in x2-x3 worse performance for package install that nuget 2.8.6.

This is because the code now goes to packagemanagement gather & resolve and need to be optimized.
## Details

Running the following script with Nuget.exe 2.8.6 and 3.2

[code]

Yields the following output and fiddler trace
### Output

[code]
### Fidd

[2015-09-03 20:52] pemari-msft opened #1334 "VS2015 installs win8 dll for UWP 10"
WindowsAzure.Storage nuget package does not support UWP 10, and I believe that the target moniker for this would be win81 at minimum, correct? Currently it only supports win8. It installs correctly. Is this expected?

[2015-09-03 20:53] pemari-msft commented on #1334
(Downloaded via nuget package manager; I can provide any other details as needed).

[2015-09-03 21:14] Pilchie opened #1335 "NuGet restore memory allocations causes frequent GC which leads to UI delays and slow performance"
Some large projects (cough, Roslyn, cough) may want to disable restore on build support because restore takes a long time.  However, it would be nice to have that be something configured by the project, instead of it being a per-user setting that we have to tell everyone who clones our solution to go change.

[2015-09-03 21:57] yishaigalatzer opened #1336 "Msbuild selection in nuget.exe 3.2 RC is broken"

[2015-09-03 23:13] #1313 closed, assigned to deepakaravindr

[2015-09-03 23:44] deepakaravindr commented on #980
Yes, only on 3.2 and not on 3.1. Note that the pattern was always true. Except that it stopped working in 3.1 and now it is back to working again in 3.2

[2015-09-04 00:32] dsplaisted opened #1337 "Assertion failure when restoring with project.json with multiple frameworks in imports"
Create a project.json with an imports element with multiple frameworks separated by a semicolon, for example:

[code]

Then run NuGet restore on it.

**EXPECTED:** Either the restore runs successfully, or it prints an appropriate error message
**ACTUAL:** Assertion failure:

[code]

If you make this change to the project.json of a project in Visual Studio and then try building, you'll get this ass

[2015-09-04 02:08] davidfowl commented on #1335
Just going to leave this right here :smile:

[2015-09-04 04:53] AArnott commented on #1084
Curious, @bricelam's workaround doesn't work for me. After I add the `CopyNugetImplementations=true` property the build fails with this error:

Any idea how to fix this?

I've created a simple sample project that demonstrates the problem, if you're interested: https://github.com/AArnott/xunitProjectJson

[2015-09-04 04:56] Pilchie commented on #1084
What is in the frameworks and the runtimes sections of your project.json?

[2015-09-04 04:59] JamesNK commented on #1327
So is the new msbuild that you are referring to what is talked about here?  http://blog.nuget.org/20150729/Introducing-nuget-uwp.html

That blog post says "you now use this file in your Universal Windows projects and modern portable class libraries (that target DNX, UWP, and .NET 4.6) to define your package references".

I want to confirm it can be used with ALL csprojs. If I have a csproj that ta

[2015-09-04 05:15] emgarten commented on #1337
Logging an error would be helpful here. I get the assert when trying this but VS does not crash and the restore completes successfully.

[2015-09-04 05:16] AArnott commented on #1084
@pilchie From [project.json](https://github.com/AArnott/xunitProjectJson/blob/master/ClassLibrary3/project.json):

[code]

[2015-09-04 05:40] AArnott commented on #1084
Cool. @jasonmalinowski found that I needed to add [this](https://github.com/AArnott/xunitProjectJson/commit/db6ff7eebc7267ba9c997381b3305eefb4fd4a6f) to my project as well:

[code]

[2015-09-04 08:35] lsgroi opened #1338 "NuGet command line will not pack assemblies if folder name has trailing dot"
I have a C# project built and assemblies created in `<full_path>\.build_output` (note the trailing dot)

I am trying to pack the project using the built assemblies
`NuGet.exe pack "<full_project_path>\Project.csproj" -OutputDirectory "<full_artifact_path>" -Symbols -Version "0.1.0" -Verbosity Detailed -Prop OutputPath="<full_path>\.build_output"`
which results in

[code]

If instead I create my as

[2015-09-04 08:50] NN--- opened #1339 "Different TypeScript versions in the package"
NuGet supports packaging for different platform versions such as .NET .
TypeScript releases sometimes have a breaking changes and make old code illegal.
It means that at some point we need a package which is suitable for several TypeScript versions.

Is there a possibility to make a package working for TypeScript 1.0 and 1.6 in the same package ?

[2015-09-04 09:36] tom-englert commented on #304
1. OK, found that
2. I will have to investigate if one of the suggestions will be doing what we need.

[2015-09-04 09:43] NeelBhatt opened #1340 "Missing Installation details in Nuget page for Mvc 6.0.0-beta7"
I have recently found that there is missing details for installation of beta7 from Nuget.

which should be

`PM> Install-Package Microsoft.AspNet.Mvc -Version 6.0.0-beta7 -Pre`

instead of

`PM> Install-Package Microsoft.AspNet.Mvc -Pre`

Nuget Link:
https://www.nuget.org/packages/Microsoft.AspNet.Mvc/6.0.0-beta7

Or may be i am missing something then let me know i will close immediately.

[2015-09-04 10:02] tom-englert commented on #304
The suggested DiaSymReader package has only interfaces, but no implementation.
I found  `Microsoft.DiaSymReader.Native 1.1.0-alpha2`, but have no idea how to use it.

So there is no usable alternative yet...

[2015-09-04 10:46] NickCraver commented on #1183
Gotcha - thanks @yishaigalatzer. I just confirmed the non-dnu version is now working correctly (I tried with a regular console application a moment ago). I'll follow up with the dnu side on this bug.

It is worth noting that what is and isn't "core stuff" and therefore dnu based is far from clear in the UI - you have to look at the logs to tell the difference **from the UI**. I think unless there'

[2015-09-04 13:53] yishaigalatzer commented on #1183
@NickCraver the plan is merge them, its a point in time thing, we plan to merge the codebase, so it will be the right place to report eventually. When it comes to making UI changes, we prefer to stick to dealing with other issues at the expense of  getting bugs reported on both sides.

[2015-09-04 14:20] brgrz commented on #1284
The files are placed under DCVS but we use Mercurial (Hg), not TFS.

[2015-09-04 16:29] evil-shrike opened #1341 "NuGet Package Restore incompatible with custom ‘packages’ folder location and authentication"
NuGet Pacakge Manager 2.8.60723.765 for VS2013.

Automatic restore is enabled in Tools/Options/NuGet Package Manager/
  -Allow NuGet to download missing package - YES
  -Automatically check for missing packages during build in Visual Studio - YES

It's enabled in `.nuget\nuget.config` file (the `.nuget` folder is on the same level as sln file):

[code]

When I run Rebuild NuGet doesn't try to rest

[2015-09-04 16:45] evil-shrike opened #1342 "Getting "The current value 'NuGet.DataServicePackage' type is not compatible with the expected 'System.String' type" error on reinstall"
NuGet Package Manager 2.8.60723.765 for VS2013.

In Package Manager Console:

[code]

What is this?

[2015-09-04 17:10] evil-shrike commented on #1341
More details. As you can see I have [repositoryPath](https://docs.nuget.org/Release-Notes/NuGet-2.1#Specify-packages-Folder-Location) option (my several solutions share the same packages folder).
If I remove the `repositoryPath` option (and restart VS), then NuGet seems to behave more correctly - it shows me a warning of missing packages.
When I run Rebuild NuGet tries to download packages. BUT, I

[2015-09-04 17:13] johnataylor commented on #1318
The fix here is to make nuget.core a little more resilient to bad data. Specifically if the folder contains a  nuspec that does not appear to be XML or it fails to open the nuspec file for some reason then that package is skipped.

The fact that the bad package has been seen is recorded in the nuget.core Logger. However the user will not currently receive this feedback because the Logger is not co

[2015-09-04 17:13] #1318 closed, assigned to johnataylor

[2015-09-04 17:16] tom-englert commented on #304
@yishaigalatzer I can add this to nuget2 as it is - but I won't spent any time on this without being sure that it can be integrated.

[2015-09-04 17:20] johnataylor opened #1343 "Logger is not fully wired up in NuGet.Core"
The design in the NuGet.Core code is to write warnings and errors to a Logger object. The results are then displayed to the user in different ways each appropriate to the scenario.

However the Logger is not universally wired-up. Specifically it is not wired up in the ExpandedPackageRepository which means errors in reading the packages unzipped on the file system are not shown to the user. (Becaus

[2015-09-04 17:22] johnataylor commented on #1318
Refer to #1343 for missing Logger wire-up.

[2015-09-04 17:35] yishaigalatzer commented on #304
I'm going to have someone show you the codbase that can be integrated, on this thread. And yes we would love to take it.

[2015-09-04 19:44] yishaigalatzer commented on #1328
@JamesNK Sorry this wasn't clear enough in the blog. This feature requires an update in the managed languages side of the code. It ships in Visual Studio not in the NuGet extension.

We did actually verify your solution yesterday with the Visual Studio bits.

CC // @pilchie

[2015-09-04 19:46] yishaigalatzer commented on #1329
@lynnewu sorry we didn't find this so far (being in the whole repo and all).

Is this still an issue? What version of NuGet are you using?

[2015-09-04 19:48] yishaigalatzer commented on #1294
We tested as you suggested, and it works :). The bits from managed languages will go live in Sep. You can reach out to @pilchie to see if you can get preview bits. (I'll do the same)

[2015-09-04 19:48] #1294 closed, assigned to nobody

[2015-09-04 19:51] yishaigalatzer commented on #1327
@JamesNK this seems to be repeated across multiple bugs.

In #1294 I was saying that we need a piece of code from @pilchie 's team, which is not the NuGet team. Sorry this wasn't clear enough. These bits will be released later (or as I suggested elsewhere, we might be able to put them in your hands earlier). And yes we did test with your project.

[2015-09-04 19:51] #1327 closed, assigned to nobody

[2015-09-04 20:20] ray023 commented on #604
I also have this problem with one of my VS2015 solutions.

This started happening after I removed one of my projects and made a bunch of code changes.

Here is a screenshot from the package manager console:
![Package Manager Console](http://i.stack.imgur.com/Tl2ue.png)

Notice the dropdown is empty and when I run command Get-Package -ListAvailable, I get the following text returned:

Get-Package :

[2015-09-04 20:35] csharpfritz opened #1344 "MultipartWebRequest::CreateMultipartRequest should use "\r\n" explicitly and not Environment.NewLine"
# Tracking issue

NuGet v2.8.x should have the same fix applied as #776

[2015-09-04 20:36] csharpfritz commented on #1344
Resolved by @feiling in #776

[2015-09-04 20:36] #1344 closed, assigned to nobody

[2015-09-04 20:38] csharpfritz opened #1345 "Skip bad nuspecs"
An expanded file share source can contain incorrectly formatted nuspecs or miss the nuspec entirely. This fix allows the client to skip over this bad data.

In addition to skipping over bad data detailed warnings are written to the Logger that is currently in scope.

[2015-09-04 20:40] csharpfritz commented on #1345
Completed

[2015-09-04 20:40] #1345 closed, assigned to nobody

[2015-09-04 21:01] emgarten commented on #1304
This was caused by stable dependency version ranges (Ex: >= 4.0.0) not allowing prerelease packages during conflict resolution.

NuGet/NuGet3@f35805cdd7b494890de99037a70adadbe8ff344a

[2015-09-04 21:01] #1304 closed, assigned to emgarten

[2015-09-05 00:09] JRRocha opened #1346 "Package restore ignores the repositorypath"
NuGet is disregarding the repositorypath for my solution. We have multiple solutions that all should use the same repository path and so we've followed the instructions from
- https://docs.nuget.org/consume/nuget-config-settings
- https://docs.nuget.org/consume/Command-Line-Reference#Config%20Command

to update our NuGet.config file. It now looks like the following:

[code]

Our directory hierarch

[2015-09-05 00:16] #1336 closed, assigned to feiling

[2015-09-05 00:18] praeclarum commented on #1089
I would prefer a solution with a little more metadata so we can help guide consumers as to what they're choosing between. Perhaps a nice title is fine, or a description field.

Also it would be nice to support multiple dimensions of dependencies.

I'm thinking of the scenario:
1. Install NGraphics
2. Choose a platform (Mac, iOS, Android, UWP) that resides in another NuGet (note: this is not explic

[2015-09-05 10:01] Antiohne commented on #1287
I also ran into this problem within my company. When I upgraded one of our solutions to use NuGet 2.8.6 and build that particular project I get the following error message:

I don't understand why there is a .NET framework change (4.0 > 4.5) introduced in a patch level version of NuGet 2. This is a breaking change for us because we can't upgrade our BizTalk 2010 solutions to the .NET 4.5 level. Th

[2015-09-05 14:43] NickCraver commented on #1183
@yishaigalatzer understood, I appreciate the insight there and plan there - it definitely makes sense with all the info.

[2015-09-05 20:31] AArnott opened #1347 ""nuget.exe restore [solutiondir]" doesn't restore solution-level packages"
Very similar to the configuration described in #1281, I have a solutiondir.nuget\packages.config file.

Nuget.exe version  3.2.0.10488 does not restore packages from that file when supplied with the path to the solution folder. This is a breaking change from nuget.exe 2.8.

Is this intentional? Can it be corrected?

[2015-09-06 13:33] jose-e-rodriguez commented on #604
I'm getting the same error when working on a new project. Any older project works fine.

![get-project_error](https://cloud.githubusercontent.com/assets/12707130/9704511/d6e79288-5477-11e5-8c40-8dd740670df1.png)

[2015-09-06 14:19] jose-e-rodriguez commented on #604
As a workaround I found that creating first a Visual Studio Solution (_File --> New Project --> Other Project Types --> Visual Studio Solutions_) and then creating the project inside the solution the issue does not show. Shouldn´t creating a new project create a new solution as well?

[2015-09-07 09:46] evil-shrike commented on #1346
@JRRocha , Isn't it the same thing as #1341?

[2015-09-07 11:55] MortenHelgesen opened #1348 "Absolute repositoryPath turns into relative reference HintPath"
In NuGet.Config we have

  `<config>`
`<add key="repositoryPath" value="c:\Lib\packages" />`
`</config>`

When installing a package to a project using either the Package Manager or the Package Manager Console from within Visual Studio the resulting HintPath in the project's reference section (from a .csproj) becomes

`<HintPath>..\..\..\..\..\..\Lib\packages\WpfResourcesLib.1.0.0.16\lib\net46\WpfR

[2015-09-07 14:01] stavnskov opened #1349 "Updating multiple projects in solution needs to use same repository"
Updating a package in multiple projects of a solution works differently in Nuget 3 than the version 2. In v3 It is not possible to update a package to a new version if the old versions is not present in the same repository. Even though the original source is available in the drop down. On the same solution this is possible in v2.

We use a structured approach to Nuget repos, so sometimes we update

[2015-09-07 17:31] GeertvanHorrik opened #1350 "Dependencies not being respected"
Using VS 2015 / NuGet Package Explorer 3.1.60724.766

I am installed Catel.Core to a .NET 4.5 project like this:

MyProject (NET45) => MyPackage (NET45) => Catel.Core (NET45, but has lots of other packages as well). Here is the nuspec for Catel.Core:

[code]

Here is the nuspec for the intermediate package:

[code]

Then when installing to the final project, it says I need to install Microsft.Bcl

[2015-09-07 19:21] paulvanbrenk opened #1351 "Exception editing project.json file in VS 2015 RTM"
While editing the project.json file in VS 2015 I ran into the following exception in the activitylog. this doesn't consistently repro. :(

Microsoft.VisualStudio.Composition.CompositionFailedException: An exception was thrown while initializing part "NuGet.PackageManagement.VisualStudio.VSSettings". ---> System.ArgumentNullException: Value cannot be null. Parameter name: path1 at System.IO.Path.Co

[2015-09-08 09:05] drphrozen commented on #1232
:+1:
![image](https://cloud.githubusercontent.com/assets/309670/9730849/82321e90-5619-11e5-9053-758768e8b459.png)

[2015-09-08 09:06] drphrozen commented on #1232
Maybe the title should be where consolidate is possible?

[2015-09-08 09:12] mortenholmgaard commented on #1232
:+1:

[2015-09-08 09:13] RagingRudolf commented on #1232
:thumbsup:

[2015-09-08 09:45] dgg commented on #1232
:+1:

[2015-09-08 09:50] Machabeli commented on #1232
:+1:

[2015-09-08 10:27] khaled-Umar commented on #1004
I have the same issue with Windows 10 , VS 2015 enterprise NuGet 3.1.1.0
is solved or still?

[2015-09-08 10:55] rosrosros commented on #1232
:+1:

[2015-09-08 14:36] JRRocha commented on #1346
Hello Sergei,

I don't think so… while reading #1341 it seems to be complaining about an authentication error, that it's not able to connect to the NuGet source. They get a 401 error.

In my case, it connects just fine. It downloads just fine, but it always downloads to the 'default' package location rather than to the package location that I've specified.

Then again, it also looks like Evil-Shri

[2015-09-08 14:48] evil-shrike commented on #1346
@JRRocha Try to use the following syntax:

[code]

[2015-09-08 15:06] yishaigalatzer commented on #1004
Solved in 3.2RC, check out blog for download and more info.

[2015-09-08 15:20] csharpfritz commented on #1232
I like this discussion, and think this would add value.  Lets add it to the user interface discussion:  #1236

[2015-09-08 16:16] weshaggard opened #1352 "Version conflict with Nuget client 3.2-rc"
I'm playing around with 3.2 rc version of nuget.exe and trying to run the following restore command.

`.\nuget.exe restore project.json -source https://myget.org/F/dotnet-core`

project.json contains the following

[code]

I get a ton of similar version conflicts but I will only include on here to see if someone can help me understand it.

[code]

Can someone help me understand why (>=4.0.20.0) an

[2015-09-08 16:24] feiling opened #1353 "NuGet 2.8.x: extension NuGetVSEventsPackage fails to load in VS 2013 Express SKU"
thus the automatic build time restore does not work.

[2015-09-08 18:50] csharpfritz commented on #1254
Duplicate of #1125

[2015-09-08 18:50] #1254 closed, assigned to nobody

[2015-09-08 19:07] yishaigalatzer commented on #1353
Fei - Is this was fixed, can you please close?

[2015-09-08 19:08] yishaigalatzer commented on #1180
@feiling this looks like a dup of the one you opened today #1353

[2015-09-08 19:10] yishaigalatzer commented on #1352
Pre-release has to match the same version that was asked for. In fact we are going to tighten it further. You can override it by making the required package a top level package in project.json

[2015-09-08 19:12] yishaigalatzer commented on #1351
The editor is not owned by the NuGet team, it is an ASP.NET editor. I forwarded the issue to the appropriate people in the team.

[2015-09-08 19:12] #1351 closed, assigned to nobody

[2015-09-08 19:17] yishaigalatzer commented on #1350
@GeertvanHorrik is this an msbuild error you see (only guessing here) ?

Can you please verify if the dlls and packages you expected are installed in the project and the only issue is the warning?

[2015-09-08 19:19] yishaigalatzer commented on #1349
The requirement is to have the package available, so uninstall operations can happen.

I believe all you need to do is restore the packages first, and it _should_ work, unless I'm not understanding the scenario.

Could you please verify?

[2015-09-08 19:21] yishaigalatzer commented on #1348
There is no good way to do that, since NuGet doesn't actually add the hint path, it is visual studio add reference that does it.

You should use relative paths in your nuget.config if you want to use projects across machines/users.

[2015-09-08 19:22] yishaigalatzer commented on #1348
I'm closing, since there is not much we can do about this, but feel free to continue the discussion on this thread, we might be able to find a better workaround.

One of the reasons we introduced `project.json` is to avoid stamping hintpaths into the users project, and that should work for you going forward as project.json support is added for more project types.

[2015-09-08 19:22] #1348 closed, assigned to nobody

[2015-09-08 19:24] yishaigalatzer commented on #1347
Solution level packages have been deprecated in visual studio 2015, but we should probably support it in nuget.exe

[2015-09-08 19:35] yishaigalatzer commented on #1346
I believe a relative path looks like ../blarg (it basically gets parsed as a URL).

We should update the docs to reflect that.

[2015-09-08 19:36] yishaigalatzer commented on #1343
This should be verified for both the extension(s) 2.8.9 and 3.3, as well as command line

[2015-09-08 19:43] yishaigalatzer commented on #1342
We will take a look today. Not sure, this looks like a bug either in the NuGet extension or the ninject package. Are you hitting this on other packages as well?

[2015-09-08 19:45] yishaigalatzer commented on #1341
1. Try using forward slashes and no $.
2. Include credentials in nuget.config, then it will not need to ask you. At build time I would not expect popups to come up.

Please confirm this solves (or not) your issue, and close if it does.

[2015-09-08 19:47] yishaigalatzer commented on #1339
Going forward we are deprecating content packages, but plan to add support for languages. This is a good idea to include a minimal language version in the spec for shared sources.

CC @davidfowl

[2015-09-08 20:00] weshaggard commented on #1352
Interesting so that seems to imply that we don't have any good support for prerelease meta-packages like "Microsoft.NETCore.Console" or "Microsoft.NETCore.UniversalWindowsPlatform" unless we only have direct dependencies in the meta-package. Is that your understanding as well? If so that seems to put a big constraint on the meta-packages.

[2015-09-08 20:03] stavnskov commented on #1349
Let me try to clarify.

The old package IS available in one of the enabled feeds, though not in the selected feed where the new version is.

The new version is available when filtering for upgrades on the left. But on the right I cannot select Update action.

[2015-09-08 20:10] yishaigalatzer commented on #1349
We should fix it.

But can you clarify the scenario further is the current version of the package restore?

Possible workaround: Use update-package command from powershell

[2015-09-08 20:13] yishaigalatzer commented on #1352
Not sure I follow. The constraint is to not bump to pre-releases. That should never happen anyways unless you delete packages from the feed.

Sent from my Windows Phone

---

From: Wes Haggardmailto:notifications@github.com
Sent: ‎9/‎8/‎2015 1:00 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Version conflict with Nuget client 3

[2015-09-08 20:34] csharpfritz commented on #1346
Confirmed - repositoryPath should use forward-slashes as it does make a URL.

[2015-09-08 20:34] zhili1208 commented on #1342
@evil-shrike I can't repro this issue, Can you please provide your current package source, packages.config file,nuget.config? thanks

[2015-09-08 20:37] zhili1208 commented on #1342
And Ninject version please.

[2015-09-08 20:46] mostergaard opened #1354 "Updating packages in VS with TFS, doesn't correctly mark the old package folder for deletion"
I am using the latest VS2015 and the latest NuGet extensions for VS. I have a project in TFS (classic TFVC not Git) where packages are checked in (including binaries). When I update NuGet packages the  old package files are deleted from the packages folder, but the folder itself isn't marked for deletion in Team Explorer. This leaves an empty folder in version control under packages. It is, howeve

[2015-09-08 20:52] weshaggard commented on #1352
The issue I'm hitting right now is I'm working on a prerelease of "Microsoft.NetCore.Console" meta-package which contains a nesting of other meta-packages and some direct references to packages. A large set of these packages are prerelease but not all of them and some of them also have dependencies on prerelease packages. In this scenario I would like to have the prerelease version of the package

[2015-09-08 21:37] zarenner opened #1355 "Package v3 downloads time out at 1:40min due to DataClient/HttpClient default setting"
Large downloads currently time out at 1 minute 40 seconds, since DataClient uses the default HttpClient timeout.

[2015-09-08 21:38] zarenner commented on #1355
See NuGet/NuGet3#128 and NuGet/NuGet.PackageManagement#98 for proposed changes to allow configurable timeouts.

[2015-09-08 22:02] zhili1208 opened #1356 "TFS issue: when install package into an solution first, bind the solution to TFS later, VS doesn't check in packages folder to TFS"
NuGet version: 3.2.60904.105.08
Repro Step:
1. create consoleApplication project.
2. install EF 6.1.3 to the project
3. bind the solution to TFS.
4. Check in the pending changes.

Expect: all files in the solution are checked in to TFS.
actual: packages folder is not checked in to TFS.

this is an regression. 2.8.6 works well on VS 2013 for this case.

[2015-09-08 22:15] deepakaravindr commented on #1356
More context:
1. This issue is only applicable if the user has not disabled checking-in of packages folder. This is the default behavior.
2. Also, once the solution is bound to TFS, things seem to be fine

[2015-09-08 23:04] zhili1208 commented on #1353
Verified latest 2.8.8, this issue is fixed.

[2015-09-08 23:04] #1353 closed, assigned to nobody

[2015-09-08 23:42] evil-shrike commented on #1341
1. I changed "$\..\..\..\packages"  to "../../../packages".
2. Removed one package in the `packages` folder
3. Opened VS
4. Nothing. No "missing packages" warning in Package console/manager, no package restore (i.e. build fails)

Then I removed _all_ `packages` folder and opened VS.
Hurray! These's the expected warning in Package console/manager. I clicked "Restore" and it restored my packages.

T

[2015-09-08 23:51] evil-shrike commented on #1342
I'm afraid it's not related to a particular package. I tried to reinstall different packages from nuget.org and it worked fine. But when I'm trying to reinstall a package from my source with authentication Nuget fails with the mentioned error.
Packages are installed from that source in nuget manager/console just fine. Only reinstall (`update-package -reinstall`) fails.

[2015-09-09 00:00] emgarten opened #1357 "FindPackageByIdResource resources needs a default cache context and logger"
FindPackageByIdResource resources have their CacheContext and Logger properties set by the project.json resolver. This is the only scenario where it is used in the product, however when using these resources directly from the protocol packages this property is null and they cannot be used.

These resources should create a default context if one is not given to make it usable in other scenarios.

S

[2015-09-09 00:21] zhili1208 commented on #1342
looks like it's something related to package source. is it possible to provide an repro source for us?

[2015-09-09 00:38] JRRocha commented on #1346
I started with the configuration file:
d:/tfs/Development/Master/HELOS/.nuget/NuGet.Config

that had the contents:

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <add key="repositorypath" value="..\blarg" />
  </config>
</configuration>

That did not work.

I changed the repositorypath

[2015-09-09 00:42] evil-shrike commented on #1342
I created a source "test" for you in our Artifactory server - https://artifacts.croc.ru:

[code]

user/pwd - test/11111

The source has a package - Moq.

[code]

[2015-09-09 01:09] #1347 closed, assigned to deepakaravindr

[2015-09-09 01:55] yishaigalatzer commented on #1346
Not sure, but looks like repositorypath is not cased correctly P should be capitalized

Sent from my Windows Phone

---

From: JRRochamailto:notifications@github.com
Sent: ‎9/‎8/‎2015 5:38 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Package restore ignores the repositorypath (#1346)

I started with the configuration file:
d:/

[2015-09-09 02:12] NaomiN commented on #1004
I have the same problem with Scaffolding in VS 2015 Windows 10. Here is more info
https://social.msdn.microsoft.com/Forums/vstudio/en-US/d34b2a50-8f2e-42e7-b4ee-135edf75f82a/visual-studio-2015-scaffolding-is-not-working?forum=visualstudiogeneral

What should I do to resolve the problems?

[2015-09-09 02:14] yishaigalatzer commented on #1004
This is a link to the rc release that is supposed to fix it http://blog.nuget.org/20150902/nuget-3.2RC.html

[2015-09-09 02:15] JRRocha commented on #1346
Documentation shows it as all lowercase.

Please see:

·         https://docs.nuget.org/consume/NuGet-Config-Settings (shows both)

·         https://docs.nuget.org/consume/nuget-config-file (shows lowercase)

However, I tried with captitals too:

D:\tfs\Development\Master\HELOS.nuget>..\nuget.exe config -Set repositoryPath=$\Development\Master\packages -ConfigFile NuGet.Config

For

<?xml version

[2015-09-09 02:17] JRRocha commented on #1346
Also… it appears the config file is cached.

I changed it to another directory, and it didn't register until I closed and then re-opened the visual studios solution.

John Rocha

From: Rocha, John R
Sent: Tuesday, September 08, 2015 7:16 PM
To: NuGet/Home; NuGet/Home
Cc: Rocha, John R
Subject: RE: [Home] Package restore ignores the repositorypath (#1346)

Documentation shows it as all lowercase.

[2015-09-09 02:18] NaomiN commented on #980
What should I do to fix the issue? Thanks in advance.

[2015-09-09 02:27] csharpfritz commented on #1346
The key and sample code on the config settings page reference
"repositoryPath"

I will correct the other config page.
On Sep 8, 2015 10:17 PM, "JRRocha" notifications@github.com wrote:

[2015-09-09 02:31] yishaigalatzer commented on #1346
The docs are right because I just fixed them ☺

From: Jeffrey T. Fritz [mailto:notifications@github.com]
Sent: Tuesday, September 8, 2015 7:27 PM
To: NuGet/Home Home@noreply.github.com
Cc: Yishai Galatzer yigalatz@microsoft.com
Subject: Re: [Home] Package restore ignores the repositorypath (#1346)

The key and sample code on the config settings page reference
"repositoryPath"

I will correct the o

[2015-09-09 02:35] #1346 closed, assigned to csharpfritz

[2015-09-09 02:35] yishaigalatzer commented on #1346
Closing as this seems resolved, and nothing else to do here.

Thanks for reporting this, and following through

[2015-09-09 02:43] NaomiN commented on #1004
I've installed the file from that blog post but I'm still getting this
Package Manager Console Host Version 3.2.0.10488

Type 'get-help NuGet' to see all available NuGet commands.

Set-DefaultScaffolder : Cannot get an instance of EnvDTE.DTE
At C:_Siriusware\Main\SysManager\packages\T4Scaffolding.Core.1.0.0\tools\init.ps1:50 char:9

What should I do to be able to successfully scaffold as I used to

[2015-09-09 02:57] yishaigalatzer commented on #1004
Are you using mvcscaffolding? Or is it a different package?

[2015-09-09 02:58] yishaigalatzer commented on #1004
Oh wait, sorry. It is t4 scaffolding. My guess is that this package is not compatible with visual studio 2015. I'll try and reach the package owner

[2015-09-09 03:01] NaomiN commented on #1004
Yishai, thanks a lot. So far none of our developers can use it in VS 2015. It would be great if you can help us.

[2015-09-09 03:05] yishaigalatzer commented on #1004
I reached out. Last time around my old team fixed the scaffolding package for visual studio 2013, and it had to do with the package taking dependency on an older visual studio dlls that are no longer supported. This might be a similar issue (at least looks like it from the info). This doesn't seem to be the same issue reported on top, or a nuget issue. But will keep an eye on this with the owners.

[2015-09-09 04:23] emgarten commented on #1355
Thanks for reporting this. This will need to be fixed at a lower level so that it works for the VSIX also.

[2015-09-09 04:25] emgarten commented on #1352
The fix for this didn't make it into the 3.2.0 RC build, but it is fixed for RTM.

It looks like the same issue as: https://github.com/NuGet/Home/issues/1304

[2015-09-09 04:44] piers7 commented on #974
FWIW SQL Server Agent has the same bug when running PowerShell agent steps, and it's taken me about 6 months working with Microsoft Premiere Support to get them to admit it's a bug, whereas you guys _fixed_ it in a matter of _days_. Admittedly it's a more critical issue for you guys, but still, credit where credit's due.

[2015-09-09 05:05] yishaigalatzer commented on #1352
Wes - can you try your scenario with the latest build?

Sent from my Windows Phone

---

From: Justin Emgartenmailto:notifications@github.com
Sent: ‎9/‎8/‎2015 9:25 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Version conflict with Nuget client 3.2-rc (#1352)

The fix for this didn't make it into the 3.2.0 RC build, but it is

[2015-09-09 05:37] emgarten opened #1358 "UWP restore throws a null reference exception on anotar.nservicebus.fody"
Steps
1. Create a new UWP app
2. install-package anotar.nservicebus.fody -version 2.19.0

Result

[code]

This also repros when adding the package to the project.json file manually.

The package installs fine into a C# console app. It does not contain any compatible items for UWP, but that does not look like the cause of the failure here.

[2015-09-09 05:50] emgarten commented on #1334
UWP is compatible with win8 (netcore45), wpa81, and PCLs that support either of those.

[2015-09-09 06:20] MortenHelgesen commented on #1348
Thanks for you reply!

When can we expect project.json support for C++, C# and C++/CLI projects?

With Regards
Morten Helgesen
Research and development
Kongsberg Maritime
Horten

Direct tel  +47 33 03 42 93
Office        +47 33 03 40 00
Fax            +47 33 04 44 24

http://www.km.kongsberg.com

From:       Yishai Galatzer notifications@github.com
To:         NuGet/Home Home@noreply.github.com,
C

[2015-09-09 06:21] emgarten commented on #1331
What type of project are you installing into? Can you provide some more repro steps along with the version of NuGet that you are using?

[2015-09-09 06:36] uuuus commented on #1331
Hi Justin,

I am trying to install it into ASP.NET Web Forms project template. Version
of NuGet is 1.0.1.
Platform: Visual Studio Enterprise 2015 (Version 14.0.23107.0 D14REL)
.NET Framework Version 4.6.00081

Repro steps:
1. Create ASP.NET Web Forms project (.net framework 4.6)
2. Install DynamicDataTemplatesCS 1.0.1

You'll get error: The path is not of a legal form.

Thanks,
Slawomir

2015-09-0

[2015-09-09 06:47] stavnskov commented on #1349
Yes I know the workaround thank you. It also works if I copy the old version into the selected feed where the new version is.

Is there a specific version for package restore? In Extensions and Updates it says 3.1.60724.766 in Help About it reads 3.0.0

[2015-09-09 07:09] GeertvanHorrik commented on #1350
It's something that NuGet package manager shows when installing the intermediate package (in the confirm dialog). They are all installed, even the Microsoft.Bcl stuff, but I don't expect it to be installed.

[2015-09-09 07:27] emgarten commented on #1350
@GeertvanHorrik does this happen when you install Catel.Core directly? What type of project is this and can you provide repro steps for this using packages currently on nuget.org?

[2015-09-09 07:28] GeertvanHorrik commented on #1350
No, it does not happen when I install Catel directly. One example is Orchestra.Core (all open source).

[2015-09-09 07:29] emgarten commented on #1331
I'm not sure what version 1.0.1 of NuGet would be. Would you try using 3.2.0 RC and let me know if it still repros?
http://blog.nuget.org/20150902/nuget-3.2RC.html

[2015-09-09 07:35] uuuus commented on #1331
Problem gone.

Thanks!
Slawomir

2015-09-09 9:29 GMT+02:00 Justin Emgarten notifications@github.com:

[2015-09-09 07:41] emgarten commented on #1350
I'm not reproing this using a net45 console app. Installing Orchestra.Core gives me:

![image](https://cloud.githubusercontent.com/assets/6381138/9755948/1f856ea6-568b-11e5-947d-4cf757c9becb.png)

Would you try the 3.2.0-RC VSIX and see if it resolves the issue? http://blog.nuget.org/20150902/nuget-3.2RC.html

[2015-09-09 07:50] GeertvanHorrik commented on #1350
I can't reproduce it there either. Let me try on the original sln, will get back to you.

[2015-09-09 07:58] emgarten commented on #1331
@uuuus great!

[2015-09-09 07:59] #1331 closed, assigned to nobody

[2015-09-09 08:22] GeertvanHorrik commented on #1350
Pfew, can reproduce it. Thought I was going crazy, but it looks like it's related to MyGet (v3 feed).

![image](https://cloud.githubusercontent.com/assets/1246444/9756725/a267b0da-56dc-11e5-909b-7bc4284c1edd.png)

Will contact the MyGet team.

[2015-09-09 10:38] maartenba commented on #1350
We've received @GeertvanHorrik's request, and we've inspected the registration for `Catel.Core`. We have identified a bug in our dependency parser, which has been fixed and eployed.

@GeertvanHorrik can you confirm this now works as expected?

[2015-09-09 11:29] stffabi opened #1359 "SemVer 2.0"
It seems like using a SemVer2 versionnumber is not possible with NuGet 3.2.0 CLI.

[code]

Wasn't the support for semver2 planned for NuGet 3.x? It's also interesting that the NuGet.Versioning Assembly seems to support semver2. The CLI sill uses the NuGet.Core (2.8.6) SemanticVersion implementation, would it be possible to support semver2 for packaging e.g. by specifying the minClientVersion 3.2.0

[2015-09-09 11:36] petterek commented on #694
I like this idea. +1

[2015-09-09 12:36] GeertvanHorrik commented on #1350
Fix works. Thanks!

[2015-09-09 12:36] #1350 closed, assigned to nobody

[2015-09-09 13:10] giggio opened #1360 "Support package restore to work with "highest" while following constraints"
**Note**: This is coming as a parallel request to an update on `dnu`. See https://github.com/aspnet/dnx/issues/2657

We need to be able to tell nuget (and VS) to restore the highest available version from a dnx package. Right now it always resolves to lowest.

For example, if my app dependes on "[1,2)", this means I depend on at least version 1, and I accept anything up to version 2. But if 1.0.0

[2015-09-09 14:08] csharpfritz opened #1361 "DependencyVersion is not defaulted in Vs2015 UI from NuGet.config"
According to the v2.8 release notes, the DependencyVersion from nuget.config should be honored in the user interface and defaulted from nuget.config:
http://docs.nuget.org/release-notes/nuget-2.8#dependencyversion-attribute

This appears to work properly in Vs2013

[2015-09-09 14:14] JRRocha commented on #1346
Thank you for your patience and help!

Cheers!

John Rocha

From: Yishai Galatzer [mailto:notifications@github.com]
Sent: Tuesday, September 08, 2015 7:36 PM
To: NuGet/Home
Cc: Rocha, John R
Subject: Re: [Home] Package restore ignores the repositorypath (#1346)

Closing as this seems resolved, and nothing else to do here.

Thanks for reporting this, and following through

—
Reply to this email dir

[2015-09-09 16:31] yishaigalatzer commented on #694
@spankr the command line now builds from https://github.com/nuget/nuget.packagemanagement repo, start with the home repo for build scripts

[2015-09-09 16:39] yishaigalatzer commented on #1349
We are updating to 3.2 shortly - 3.2RC is out (and it will show 3.2 both in extensions and updates and everywhere else). Here is the link to 3.2 RC. http://nugetdist.blob.core.windows.net/artifacts/win-x86-commandline/v3.2.0-rc/nuget.exe

[2015-09-09 16:53] yishaigalatzer commented on #1348
We don't have a firm schedule for project.json support in C++, but we are discussing it with the C++ team. Will announce once we have a schedule.

For C# projects, you can basically try to use it today, it is not officially supported but it does work in most scenarios (that's how we build nuget itself and Roslyn is getting built this way as well (see https://github.com/dotnet/roslyn/tree/master/sr

[2015-09-09 17:41] emgarten commented on #1361
This looks like a dupe of: https://github.com/NuGet/Home/issues/1196

[2015-09-09 17:44] emgarten commented on #1360
This is possible already by adding the dependency to project.json and specifying the version as _1._*

[2015-09-09 18:05] csharpfritz commented on #1361
Closing dupe

[2015-09-09 18:05] #1361 closed, assigned to nobody

[2015-09-09 18:23] emgarten commented on #1359
There is no way to get full semver 2.0.0 support yet, but we are working on it. As you pointed out the parts of the code still relying on NuGet.Core are blocking this, but those will be replaced in a future release.

[2015-09-09 18:35] stffabi commented on #1359
Is there some timeframe known when this will be available?

[2015-09-09 18:50] nugetlurker commented on #1360
I think @giggio is saying that he wants the package author to specify that the is going to get bumped on restore. Did I get right?

[2015-09-09 19:30] nugetlurker commented on #1359
There is currently no timeframe for this. Semver2 is a breaking change, and we are not sure we can actually take it all the way.

[2015-09-09 19:33] yishaigalatzer commented on #1359
There is currently no timeframe for this. Semver 2 is a breaking change, and we are not sure we can actually take it all the way.

[2015-09-09 19:35] giggio commented on #1360
It depends. Does `1.*` mean "anything greater than 1.0.0"? Or "greater than 1.0.0 but smaller than 2?
Also, the \* is not enough. How do I specify "greater than 1.3 but smaller then 2"?

Also, if I use `1.*` for a dependency, and `1.0`, `1.1`, `1.2` and `2.0` are available, which one will it use?

Also, can we do `1.2.*`? And what would it mean?

[2015-09-09 19:38] yishaigalatzer commented on #1360
So to answer your questions:

in project.json

1.\* means literally a wildcard match so it will match 1.1, 1.2 and 1.3 etc.

There is no way to specify greater than 1.3 and smaller than 2.0, and I agree that's something that should be added.

You cannot specify 1.\* for a dependency only on the project.json level (so not in the nuspec).

1.2.\* means, 1.2, 1.2.1, 1.2.3, etc

[2015-09-09 19:53] yishaigalatzer commented on #1355
Zach - Are you saying you want a longer timeout?

The best way to deal with it is to pass the flag that says don't buffer the response ResponseHeadersRead - https://msdn.microsoft.com/en-us/library/system.net.http.httpcompletionoption(v=VS.118).aspx

At that point you can make the default timeout a lot shorter, at that point you need to manage your own timeouts, and flag the cancellationtoken. Thi

[2015-09-09 20:40] yishaigalatzer commented on #1325
Is the package available anywhere, along with the project you are trying to install it into?

[2015-09-09 20:44] yishaigalatzer commented on #1298
packages.config is available at the root of your project.

I assume the issue wasn't resolved after the update?

[2015-09-09 20:45] zhili1208 commented on #1342
did some investigation on this problem, I think the root cause is NuGet send an OData search query request to server for searching moq 4.0.10827 but got 404 during reinstall. install-package use another API, that's why install works. Looks like some server issue

[2015-09-09 20:46] yishaigalatzer commented on #1250
Closing since there is nothing further to investigate here. Feel free to comment and resurrect the thread with more details.

[2015-09-09 20:46] #1250 closed, assigned to zhili1208

[2015-09-09 20:46] yishaigalatzer commented on #1199
This is now public. @hmemcpy thanks for pushing on this.

[2015-09-09 20:46] #1199 closed, assigned to nobody

[2015-09-09 20:47] yishaigalatzer commented on #1161
@bhuvak what is the status on this item?

[2015-09-09 20:55] evil-shrike commented on #1342
@zhili1208 did you catch a request? can you share a failing URL ?

[2015-09-09 21:02] hmemcpy commented on #1199
Awesome! Thanks so much for making it available!

[2015-09-09 21:23] yishaigalatzer commented on #1326
Nice catch.

[2015-09-09 21:26] yishaigalatzer commented on #1358
Looks like the cause is that packages with a nuspec not matching the package name fail to restore.

The suggested fix is to use SingleOrDefault to figure out the nuspec name, and if it fails try to find it by name (which is tricky).

Current project.json restore code does a FirstOrDefault, which works in most cases but is incorrect, and can pick arbitrary nuspecs if there are more than one of them

[2015-09-09 21:27] yishaigalatzer commented on #1358
CC @davidfowl this likely needs to be fixed for DNU as well, or we can just wait until we merge.

[2015-09-09 21:28] yishaigalatzer commented on #1356
@deepakaravindr I don't understand what this means. Can you be more specific?

@zhili1208 is this a regression from 3.1.1 ?

[2015-09-09 21:37] yishaigalatzer commented on #1354
Hey @mostergaard, thanks for the report. We should probably add this scenario to our test matrix.

One tiny comment - It will be super helpful to include the actual version of the NuGet extension, the latest keeps changing and we currently have both 3.1.1 RTM and 3.2-RC out there.

[2015-09-09 21:41] yishaigalatzer commented on #1352
We believe this is indeed a dup of #1304, we can re-open if we get other feedback.

[2015-09-09 21:41] #1352 closed, assigned to nobody

[2015-09-09 21:45] yishaigalatzer commented on #1341
How do you restore during build? Is it with a target and nuget.exe?

We can look at fixing this in 3.3 (for visual studio 2015) if it still repros.

@zhili1208 can you please take a look?

[2015-09-09 21:47] zhili1208 commented on #1342
@evil-shrike you can try this, https://artifacts.croc.ru/api/nuget/test/Packages?$filter=Id%20eq%20%27moq%27%20, this is searching moq in server, and also you can try nuget.org one:
https://www.nuget.org/api/v2/Packages?$filter=Id%20eq%20%27moq%27%20

[2015-09-09 21:52] mostergaard commented on #1354
Hey @yishaigalatzer. Thanks for the reponse. The NuGet extension I've seen the bug with is 3.1.60724.766. I will remember to include that in future reports :-)

[2015-09-09 21:55] yishaigalatzer commented on #1354
Awesome. Just as FYI we did release a 3.2-RC that addresses a few TFS issues (yes we care :) )

http://blog.nuget.org/20150902/nuget-3.2RC.html

[2015-09-09 21:58] evil-shrike commented on #1341
@yishaigalatzer

Right click on solution and click "Build".

that's nice, but it's failing in VS2013 which we're widely using

[2015-09-09 22:05] paulvanbrenk commented on #1084
I'm running into the same issue and the workaround does work for me. i.e. adding both:

[code]

However it would be great if I can control this for each package (or assembly) individually.

[2015-09-09 22:05] weshaggard commented on #1352
Yes the latest nuget seems to allow my restore to succeed. I plan to follow-up later to ensure that all the correct packages are restored.

[2015-09-09 22:08] yishaigalatzer commented on #1341
@evil-shrike

I'm asking if your project file is using restore in an msbuild target or not, I don't get the answer.

I know its not the message you want to hear, and I truly apologize. However when it comes to fixing this level of bugs VS 2013, this is a lower priority goal at this point. We are focused on the visual studio 2015 extension, and I don't see us getting to fixing 2013 for this kind of

[2015-09-09 22:14] zhili1208 commented on #1354
just verified this issue with latest 3.2, it's fixed there. close this bug.

[2015-09-09 22:24] evil-shrike commented on #1341
@yishaigalatzer
I'm talking about the new "package restore" feature (since nuget 2.7) - http://docs.nuget.org/consume/package-restore not old one which was implemented via msbuild target.

[2015-09-09 22:31] deepakaravindr commented on #1356
Once the solution has been bound to TFS, all the NuGet operations perform necessary source control oeprations as well. For example, if you installed a package to a TFS bound project, packages folder is marked for check-in as expected.

[2015-09-09 22:48] deepakaravindr commented on #980
Please try the 3.2-RC VSIX which has been released. Check http://blog.nuget.org/20150902/nuget-3.2RC.html for more information

[2015-09-09 22:55] mostergaard commented on #1354
Great - thanks. Will look out for the release then :-)

[2015-09-09 23:12] paulvanbrenk opened #1362 "Syntax to specify latest pre-release in nuget 3.2rc"
Probably similar to #1360

Is there a way to configure my project.json file to always download the latest pre-release version of the Roslyn Nightly pacakages.

[code]

This gets me the following version:

`WARNING: Dependency specified was Microsoft.CodeAnalysis.Common (≥ 1.1.0-beta) but ended up with Microsoft.CodeAnalysis.Common 1.1.0-beta1-20150812-01.`

This is not the newest, which is adverti

[2015-09-09 23:32] evil-shrike commented on #1341
Well it seems I understand what's going on.

First of all, NuGet does correctly install missing packages. I was just wrongly renaming a package's folder with some prefix ("~~") hoping that it should be looking as missing for Nuget. But it didn't, as Nuget actually found it even in a wrong folder. My fault. I apology.

As for getting 401 during restore. It's a bit trickier. If I have a source with

[2015-09-09 23:43] yishaigalatzer commented on #1341
Sounds like this is not so bad after all. You are saying the only remaining issue is that cached credentials are dependent on the PowerShell console being opened?

[2015-09-09 23:54] spankr commented on #694
Woot! I'll start taking a look.

[2015-09-09 23:54] deepakaravindr opened #1363 "When offline or bad package source, build of UWP shows confusing error when packages are missing"
When offline or bad package source, build of UWP shows confusing error when packages are missing

Repro steps
1. Put the machine offline
2. Create a new UWP application
3. Delete (or backup) 1 or 2 packages from global packages folder
4. Perform build or hit 'Restore Packages' Menu at solution level

Expected:
1. Build is fails with a meaningful error on why package restore failed

Actual:
1. Buil

[2015-09-10 00:15] deepakaravindr opened #1364 "Installed Tab fails to show installed packages when the machine is offline"
Installed Tab fails to show installed packages when the machine is offline

Repro steps
1. Create a console application. Install WindowsAzure.Storage
2. Put the machine offline.
3. Restart VS
4. Open Installed Tab in Manage NuGet Packages

Expected:
1. Installed packages are shown

Actual:
1. Installed Tab fails to show the installed packages with the following error. Note that 'Get-Package' on Pa

[2015-09-10 00:32] lostmsu opened #1365 "NuGet pack should not fail for release packages with prerelease development dependency"
Currently, release package can not have prerelease development dependency. For example, that prevents us from using StyleCop.Analyzers package currently in beta in any release package development,

Internal alias: vimilova

[2015-09-10 00:37] deepakaravindr opened #1366 "'Clean Solution' does not clear NuGet Package Restore errors"
'Clean Solution' does not clear NuGet Package Restore errors.
This is a regression from NuGet 3.1

Repro steps:
1. Create a console application and install Newtonsoft.Json
2. Open packages.config and create a entry for non-existent package. Example xml snippet at the end
3. Perform Build. This should create an error. Look at snapshot at the end
4. Perform 'Clean Solution'

Expected:
1. Package res

[2015-09-10 01:24] yishaigalatzer commented on #1366
When you build again, the error does go away?

[2015-09-10 01:53] yishaigalatzer commented on #1365
That's currently by design. This prevents shipping release packages with pre-release dependencies accidentally.

We can consider adding a flag to override this behavior (and if you want to provide a PR for that we will gladly take it). For now though, I don't see this popping up to the top of our priority list.

Your workaround would be to edit the nuspec after the package was packed, or create a

[2015-09-10 01:55] yishaigalatzer commented on #1362
use `1.1.0-*`

[2015-09-10 01:55] #1362 closed, assigned to nobody

[2015-09-10 01:57] yishaigalatzer commented on #1360
For package dependencies, we discussed this at length and at this point we don't believe this is something we are going to support.

A user can make that choice by including the dependency in project.json, but the package author will not be able to do that without revving his package version to ask for a new dependency. The desire is to keep a constant experience when installing a package.

This i

[2015-09-10 02:02] yishaigalatzer commented on #1340
`
PM> Install-Package Microsoft.AspNet.Mvc -Pre
`

is correct. It will install that version of package into your project (if its applicable)

[2015-09-10 02:02] #1340 closed, assigned to nobody

[2015-09-10 02:06] yishaigalatzer commented on #1338
Haven't looked at the code, but I would guess this might have to do with folders start with . should typically be ignored (e.g. .git folder).

Moving to backlog for investigation, but not sure if we should actually fix.

[2015-09-10 02:10] yishaigalatzer commented on #1338
Looks like that was indeed the reason

https://github.com/NuGet/NuGet2/blob/861741bd780225a542c73a1d0904dd33b33a7a3d/test/CommandLine.Test/PackCommandTest.cs#L39

https://github.com/NuGet/NuGet2/blob/861741bd780225a542c73a1d0904dd33b33a7a3d/src/CommandLine/Commands/PackCommand.cs#L17

[2015-09-10 02:17] yishaigalatzer commented on #1338
Updated the documentation to reflect it - https://github.com/NuGet/NuGetDocs/blob/master/NuGet.Docs/Create/Creating-and-Publishing-a-Package.md

[2015-09-10 02:22] deepakaravindr commented on #1364
A possible work-around could be to disable all the sources to view the installed packages successfully. And, perform package uninstalls as applicable

[2015-09-10 02:25] deepakaravindr commented on #1123
This has been fixed. A static index.html has been checked into a private repository

[2015-09-10 02:28] yishaigalatzer commented on #1337
@dsplaisted if you get a crash, can you please share a callstack or dump?

If we don't get a crash than this is just a low priority error message, since we currently do not encourage people to edit the project.json by hand (which is how you get in trouble at the moment :) )

[2015-09-10 02:28] #1334 closed, assigned to nobody

[2015-09-10 02:30] yishaigalatzer commented on #1332
@shawnhar did you get a call stack when the crash happened? What version of Visual Studio and NuGet are you using?

[2015-09-10 02:33] yishaigalatzer commented on #1329
ping

[2015-09-10 02:33] #1328 closed, assigned to nobody

[2015-09-10 02:33] jbako-gn commented on #802
Seconding the above - we run out of disk space on the OS drive every couple of weeks if this isn't purged regularly.  Would be nice to either have a fix or open-source the code to accept a patch.

[2015-09-10 02:38] yishaigalatzer commented on #1319
Thanks for reaching out.

You can get the nupkg from http://myget.org/gallery/nugetbuild

We plan to ship it on nuget.org once we get to RTM.

[2015-09-10 02:38] #1319 closed, assigned to nobody

[2015-09-10 02:40] yishaigalatzer commented on #1314
We should also add the v3 api as well once you use NuGet3

[2015-09-10 02:51] yishaigalatzer commented on #1269
ping, please give us more info, if we don't hear back we are going to close this as no-repro.

[2015-09-10 02:53] yishaigalatzer commented on #1264
We did not port it over from 2.8.6, currently this is a lower priority item comparing to the rest of the NuGet issues we have in flight. We can get to it later or take a pull request.

[2015-09-10 02:54] yishaigalatzer commented on #1261
@ProductionReady we believe we fixed a lot of these issues in 3.2-RC, didn't verify your scenario though.

Here is how to get the newer bits http://blog.nuget.org/20150902/nuget-3.2RC.html

@zhili1208 can you please verify this was fixed or needs more work?

[2015-09-10 02:56] yishaigalatzer commented on #1261
Sorry @zhili1208 it was so easy to test, so I just did. This works fine now

[2015-09-10 02:56] #1261 closed, assigned to nobody

[2015-09-10 04:42] shawnhar commented on #1332
This was using VS 2015 RTM.   I don't know how to get a callstack for VS crashes - I just tried loading the project after a customer reported it, and it crashed for me as well so I filed this bug.

[2015-09-10 05:01] NeelBhatt commented on #1340
ok thanks

[2015-09-10 07:24] fubar-coder opened #1367 "NullReferenceException in AddPackageAsync"
Hi,

it seems that I get a `NullReferenceException` in `AddPackageAsync` when adding the NuGet package `FubarCoder.RestSharp.Portable.OAuth2.3.0.0-beta01` to a .NET 4.6 WPF project.

[code]

[2015-09-10 09:09] evil-shrike opened #1368 "NuGet Package Manager can't restore packages on build from sources with authentication till Package Manager Console is opened"
Steps to reproduce:
- add a source with authentication into project's .nuget\nuget.config
- install a package
- close VS
- delete the package's folder (in 'packages' dir)
- open VS
- build project

NuGet will report 401 error during 'package restore' step.

Then open Package Manager Console window (do nothing, just wait it's initialized) and build again.
Now NuGet successfully downloads the packag

[2015-09-10 09:09] evil-shrike commented on #1341
@yishaigalatzer exactly! I've created a separate issue #1368, and closing this one. Thanks for your help.

[2015-09-10 09:09] #1341 closed, assigned to zhili1208

[2015-09-10 09:15] larsbrinkhoff commented on #535
I guess I have the same issue.  Using NuGet 2.8.6, pushing a 79 Mbyte file.  Is the file size a problem?

[code]

[2015-09-10 10:02] larsbrinkhoff commented on #535
It got pushed successfully with NuGet 2.7.3.

[2015-09-10 11:49] NaomiN commented on #980
I am also having another problem described here https://social.msdn.microsoft.com/Forums/vstudio/en-US/d34b2a50-8f2e-42e7-b4ee-135edf75f82a/visual-studio-2015-scaffolding-is-not-working?forum=visualstudiogeneral

[2015-09-10 12:59] DdeMoel opened #1369 "TFS keeps adding packages to Source Control"
Whenever I start a project and install a NuGet package the package gets added to TFS. There is also not a .nugget folder being created, and creating one manually doesn't work either. Also I don't have the "Enable Automatic Package Restore" setting in my package manager settings as explained here: http://docs.nuget.org/consume/package-restore so I can't try to toggle that setting.

I am using Visua

[2015-09-10 13:12] LeroyK opened #1370 "Update-Package fails when using prerelease versions and multiple sources"
Update-Package fails under the following conditions:
- VS2015 with NuGet 3.1/3.2-RC.
- Multiple package sources (nuget.org v3, private NuGet server).
- PackageX 0.1.0-pre is hosted on a private NuGet server.
- PackageX 0.1.0-pre has only prerelease versions.
- PackageX 0.1.0-pre depends on a public non-prerelease package (say WindowsAzure.Storage 5.0.0, hosted on nuget.org).
- All packages in the

[2015-09-10 13:15] mortb commented on #974
This did work for me. I had a reinstall of VS2013 update 5 and package manage stopped working, after the hotfix above it does. Great :)

[2015-09-10 13:33] maartenba opened #1371 "When using latest nuget gui in vs2015 we see "net4" as target version"
_From @wallymathieu on September 10, 2015 7:23_

Should target framework match the documentation:

https://docs.nuget.org/create/enforced-package-conventions#common-framework-and-profile-targeting-examples

Or

https://docs.nuget.org/create/nuspec-reference

where net40 is mentioned, but in the packages.config:

[code]

_Copied from original issue: NuGet/NuGetGallery#2668_

[2015-09-10 13:36] maartenba commented on #1123
@deepakaravindr I have a default document rule working on the staging CDN, let me know when we want that rule on prod as well.

[2015-09-10 14:24] NVentimiglia commented on #1325
@yishaigalatzer The githup / nuget package is available at

https://github.com/NVentimiglia/WebSocket.Portable

I am importing this package into a new PCL library (fresh from visual studio).

[2015-09-10 14:27] yishaigalatzer commented on #1325
Thanks for getting back. What exact flavor of pcl?

[2015-09-10 14:30] NVentimiglia commented on #1325
A new one. I tried a number of combinations including one that targeted the same platforms as the websocket library and another that targeted a smaller subset. Xamarin iOS, Xamarin Droid, and .net 4.5 were my minimal.

[2015-09-10 14:35] yishaigalatzer commented on #1325
Would you mind sharing your project, to make sure we are verifying the exact same thing you are using.

[2015-09-10 14:42] NVentimiglia commented on #1325
https://drive.google.com/file/d/0B_kXglJqPnm_M1NrRUVYUlNIZGM/view?usp=sharing

[2015-09-10 19:34] #1364 closed, assigned to nobody

[2015-09-10 20:13] deepakaravindr commented on #1366
Once the package restore error has been resolved by the user, building it again clears the error, yes.

[2015-09-10 20:18] deepakaravindr commented on #980
@NaomiN, Could you please open a different issue for this?

Please provide the repro steps alongwith the full version of VS 2015 you are using and the version of NuGet Package Manager extension

[2015-09-10 22:09] urasandesu opened #1372 "IVsPackageInstaller.InstallPackage should include pre-release packages"
In NuGet3, `IVsPackageInstaller.InstallPackage` has become the behavior that excludes any pre-release packages. This API can't be specified the flag whether including pre-release packages, so I guess that current behavior is unintended.

The differences between NuGet2 and NuGet3 are in the following:
- NuGet2
  https://github.com/NuGet/NuGet2/blob/dev/src/VisualStudio/Extensibility/VsPackageInstal

[2015-09-10 22:32] emgarten opened #1373 "Improve resolver failure messages"
Resolver constraint error messages do not show enough information in some cases.

Steps
1. Create a packages.config with an invalid combination of packages which violate the constraints
2. Update a package that will bring in new dependencies but still fail

Expected:
If the original constraint problem is the core issue, that will be surfaced in the message

Actual:
NuGet favors messages around new

[2015-09-10 22:40] feiling opened #1374 "Disabled feed "Microsoft and .NET" gets enabled after running nuget.exe"
Repro steps:
- Install the latest vsix and nuget.exe. The versions I used are vsix 3.2.60904.10511, nuget.exe 3.2.0.10511.
- Delete file %appdata%\NuGet\Nuget.Config.
- Open VS 2015. Select Tools -> Options -> NuGet Package Manager -> PackageSources. Note that the feed "Microsoft and .NET" is not enabled.
- Close Visual Studio.
- Open cmd, run

[code]
- Open VS 2015. Select Tools -> Options -> NuG

[2015-09-10 23:30] emgarten commented on #1372
That flag is equivalent to the include prerelease check box in the UI. If no version is given the API will install the highest stable version. Prerelease packages can be installed by passing in the prerelease version to the API.

[2015-09-11 07:39] maartenba opened #1375 "Dependent packages not being including"
_From @kabua on September 4, 2015 21:38_

First, the idea of Nuget is great and we have been using it a lot over the past several months. However, we've had several issues with dependent packages not being picked up as a dependency. Most of the issues appears to be around the case where we include a dependent package for some external purpose or like in the current case, Assem1 is accessing intern

[2015-09-11 10:21] urasandesu commented on #1372
OK. I understood that this behavior is a breaking change from NuGet2.
However, how do I get the newest pre-release package programmatically? I think that there are no such features in [Extensibility](https://github.com/NuGet/NuGet.VisualStudioExtension/tree/dev/src/NuGet.VisualStudio.Implementation/Extensibility)...

[2015-09-11 13:38] dustinchilson commented on #1232
:+1:

[2015-09-11 16:26] JerryNixon opened #1376 "As of Windows 10 build 10540 init.ps1 fails to execute"
It is important to note that my ps1 only has a comment in it, and no commands. It was working last night, and with the upgrade this morning, this is the resulting behavior.

Here's what I am getting.

Successfully installed 'Template10 1.0.3-preview-15091108' to App15
For adding package 'Template10.1.0.3-preview-15091108 : Newtonsoft.Json [7.0.1, )' to project 'App15' that targets 'uap10.0'.
Execu

[2015-09-11 17:28] emgarten commented on #1376
What is your powershell script execution policy?
Upgrading Windows 10 caused this change? Or upgrading NuGet caused it?

[2015-09-11 17:34] emgarten commented on #1372
What is the scenario where this is needed? Is this part of an extension?

[2015-09-11 17:45] zhili1208 commented on #1368
this issue doesn't repro in 3.2, it's 2.8.6 issue

[2015-09-11 18:43] yuuzhan opened #1377 "Internal Error when requesting ProductDimensionPerformanceReportRequest"
I am able to request all of the reports except ProductDimensionPerformanceReportRequest, where I get an internal error.

Is there a way to export the SOAP Header from the C# Nuget?

Contacting Bing Support, they need a SOAP Header to help further.  I can provide a sample console application to help debug the issue.

Code snippet:

System.Threading.Tasks.Task<SubmitGenerateReportResponse> reportSub

[2015-09-11 19:01] emgarten commented on #1377
This doesn't sound like a NuGet issue. Are you having problems with a NuGet package that uses SOAP?

[2015-09-11 19:04] emgarten opened #1378 "NuGet xunit tests leave behind temporary files"
Some of the NuGet xunit tests are leaving behind temp nupkgs and projects. These should be cleaned up as part of the test runs.

Both %temp% and %localappdata%\NuGetTestFolder accumulate large numbers of temp files.

[2015-09-11 19:16] yuuzhan commented on #1377
No, I think you are correct, it is the Bing Nuget that is causing the issue, not the NuGet system totally.  I just assumed the Bing Support team sent me to the right spot, it would seem I was mistaken!

[2015-09-11 19:16] #1377 closed, assigned to nobody

[2015-09-11 19:21] #1378 closed, assigned to nobody

[2015-09-11 19:25] yishaigalatzer commented on #1375
In this case we suggest that you use a nuspec to define the dependencies, and not rely on the project analysis functionality.

[2015-09-11 19:27] deepakaravindr opened #1379 "VS 2015 produces incorrect binding redirects on update all on a VS 2013 MVC app"
VS 2015 produces incorrect binding redirects on update all on a VS 2013 MVC app

VS version: 14.0.23107.0
NuGet version: 3.2.0 (VSIX version: 3.2.60908.10510)

Seems like it works  on VSIX version: 3.1.60724.766

Repro steps:
1. Create an MVC web application on VS 2013. Run the app and it runs fine
2. Make a copy of it on a machine with VS 2015
3. On the VS 2013 machine, open PMC and run 'Update-P

[2015-09-11 19:29] yishaigalatzer commented on #1376
@JerryNixon if this is a change in windows, we probably want to flag in their database as well.

[2015-09-11 19:31] yishaigalatzer commented on #1369
Create the nuget.config at the root of your project (or at the global .nuget folder), here is a  sample https://docs.nuget.org/consume/package-restore/msbuild-integrated

[code]

In visual studio 2015, this was broken until the 3.2 release scheduled for this month to go RTM, but available today as RC

[2015-09-11 19:31] #1369 closed, assigned to nobody

[2015-09-11 19:43] deepakaravindr commented on #1367
I tried the latest bits found at http://blog.nuget.org/20150902/nuget-3.2RC.html. It seems to work. Could you please try and let us know the behavior?

[code]

[2015-09-11 19:46] JerryNixon commented on #1376
Before this morning I didn't know there was a ps execution policy.
I certainly did not change it.

[2015-09-11 19:52] yishaigalatzer commented on #1376
The question is what changed on your box? Did your windows version update, did your nuget extension update? Both?

Sent from my Windows Phone

---

From: Jerry Nixonmailto:notifications@github.com
Sent: ‎9/‎11/‎2015 12:46 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] As of Windows 10 build 10540 init.ps1 fails to execute (#1376

[2015-09-11 21:32] JerryNixon commented on #1376
Not sure of the NuGet extension update. If you mean the packet manager extension, I am running 3.1.60724.766 which was installed 8/26/2015. It appears not to have updated.

That being said, I resolved this manually by executing (as admin):

[code]

[2015-09-11 21:33] urasandesu commented on #1372
Yes. As you pointed out, I'm using this API in my [Visual Studio Extension](https://github.com/urasandesu/Prig/blob/a7da3d4ae962fbf54fdab4c967bdd0ca7d2cd9d2/Urasandesu.Prig.VSPackage/PrigPackageController.cs#L274). It resolves some dependecies in background at the first time of use.

[2015-09-11 21:39] emgarten commented on #1372
It's generally a bad idea to have an extension depend on the latest version of an online package. This usually leads to unexpected behavior when the package updates and the user is using an older version of the extension that isn't expecting the change.

[2015-09-11 22:55] urasandesu commented on #1372
That's is exactly right, but it is unneeded in my case. Because the dependencies are all mine.
You said,

but it makes cost to manage the version of such packages doubly. That is really tiresome :tired_face:

[2015-09-11 23:32] deepakaravindr commented on #1379
Just confirmed the following. It is a simpler repro than migrating between machines.
1. Create a MVC Web application (4.5.2) on NuGet **3.1** (VS 2015). Run. It works!
2. Update-Package from PMC. Run. It works!
3. Create a MVC Web application (4.5.2) on NuGet **3.2**(VS 2015). Run. It works!
4. Update-Package from PMC. Run. YSOD. It does not work!

Server Error in '/' Application.

Could not load

[2015-09-12 08:35] urasandesu commented on #1372
I reviewed my build process and succeeded to minimize the above cost. So the API behavior  is no longer needed to revert. I am sorry for making noise :disappointed:

[2015-09-12 08:35] #1372 closed, assigned to nobody

[2015-09-12 18:48] giggio commented on #1360
The problem with not supporting a way to configure installation of highest version by default is that we have to manually update our dependencies all the time. This can be time consuming as our dependencies grow, which is likely to happen. Why not allow me to control how I want to update my dependencies? If I want a constant experience I can use a lock file, or not specify a range. That should be

[2015-09-12 19:01] dradovic opened #1380 "Losing <SpecificVersion>False</SpecificVersion>"
When I update a NuGet package whose reference is set to be

[code]

this line gets removed from the project (csproj) file.

IMHO, reference properties such a "Specific Version" and "Copy Local" should be preserved.

[2015-09-12 19:55] emgarten commented on #1360
1.\* floats to the highest version. 1.2 will be selected at restore time in your example.

[2015-09-12 20:04] giggio commented on #1360
@emgarten excelent! :+1:
So that works as I would expect, then. The only thing missing would be to specify "greater than 1.3 and smaller than 2", which in node is `^1.3`.

[2015-09-12 20:47] yishaigalatzer commented on #1360
Would you mind sharing examples for your setups with specific packages/projects to help understand your scenanarios a bit better?

---

From: Giovanni Bassimailto:notifications@github.com
Sent: ‎9/‎12/‎2015 1:04 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Support package restore to work with "highest" while following constrai

[2015-09-12 20:57] giggio commented on #1360
Sure. I am developing a set of libraries, and I would like that people using this libraries to be automatically updated to a determined patch, but not minor, versions, automatically.
So, for example, my latest release is `2.3.3`. So they should be able to say that they want **at least** that version, and any bug fixes after that.
On node, we would say `~2.3.3`. On nuget, if we say `2.3.*`, they mi

[2015-09-12 21:13] yishaigalatzer commented on #1360
If I'm reading you right, That does not happen for dependencies, you can only specify it as a user for your top level dependencies.

The reason this doesn't work is that restore is a step needs to be 100% repeatable, generating the same result.

The suggestion right now is for a package author to rev his whole package graph rather than edge nodes. So say your package is named A 2.3 depending on B

[2015-09-13 01:33] giggio commented on #1360
The idea that a restore should be 100% repeatable is debatable. Yes, it should be if that is what I want. This is usually true when we are **releasing**, but it is usually not true all the time when we are **developing**. So, if during development, a dependency is updated, on the next restore, very often, I want to get the **new version**, no the old one.
And the way to setup that is, throughout t

[2015-09-13 02:30] yishaigalatzer commented on #1360
1. That's not really debatable. Unless the user made an explicit choice to float, he will get the same version
2. There is really no such thing as nuget2 and nuget3, there are the usage of packages.config or project.json to define dependencies
3. There is no way to use stars or float in packages.config, nor there will be. The user has to run an update command.
4. In project.json the next restore w

[2015-09-13 07:49] punitganshani commented on #1295
@emgarten I was using `https://www.myget.org/F/nugetbuild/api/v2` until now to get the API packages. Did that change to `https://www.myget.org/F/nuget-volatile/api/v2/` or this is a staging feed before it goes to build feed?

[2015-09-13 15:44] fubar-coder commented on #1367
Not working for me:

[code]

Here's the exception from the Package Manager output:

[code]

This is a screenshot from my VS' info window:
![vs-2015-info](https://cloud.githubusercontent.com/assets/4739844/9837431/f75b826e-5a3e-11e5-93b2-904eebe9bc87.png)

[2015-09-13 17:41] emgarten commented on #1295
Use both feeds. nuget-volatile contains the inputs for nugetbuild.

[2015-09-13 18:48] giggio commented on #1360
Ok, so I will restate that so it clear to me. I write anything incorrect, please point the error.

Both nuget 2 and nuget 3 support package.config, but package.config does not support stars (*), which is the only way to float dependencies at the moment.
Only project.json support starts, but nuget 2 does not support project.json, so the only way to get dependencies to float is to use project.json,

[2015-09-13 18:49] yishaigalatzer commented on #1360
Very accurate!

Sent from my Windows Phone

---

From: Giovanni Bassimailto:notifications@github.com
Sent: ‎9/‎13/‎2015 11:48 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Support package restore to work with "highest" while following constraints (#1360)

Ok, so I will restate that so it clear to me. I write anything incorrect,

[2015-09-13 20:19] magicmonty opened #1381 "NuGet fails to decompress NuGet packages, which are created with a newer ZIP version"
## Background

I use [Paket](https://github.com/fsprojects/Paket) to create my packages. Paket uses the `System.IO.Compression.ZipArchive` class to create NuGet packages. This works fine under Windows. But if I create my package under Mono, I get a (valid) Archive with a "Version needed to extract" (Bytes 5 and 6) of `0x003F` (Zip Version 6.3) instead of `0x0014` (Zip Version 6.3), which is create

[2015-09-13 23:45] punitganshani commented on #1295
Thanks @emgarten :)

[2015-09-14 05:54] maartenba opened #1382 "TFS2015 Build Agent"
_From @Laserdaniel on September 12, 2015 18:46_

New install of TFS 2015 server
New install of VS 2015
Installed build agent for my machine and registered it

Build definition has restore NuGet package checked
![capture](https://cloud.githubusercontent.com/assets/7558052/9833179/fd05dd06-595b-11e5-9918-6d41afe0ccc4.PNG)

In testing the release I get the following error:
Starting task: Build soluti

[2015-09-14 05:54] maartenba commented on #1382
_From @Laserdaniel on September 12, 2015 19:1_

Unchecking the Restore NuGet Packages produces a successful build, I would really like to have that option checked.

[2015-09-14 05:54] maartenba commented on #1382
_From @Laserdaniel on September 12, 2015 19:7_

I have VS2015 installed on my C Drive, but I have the agent on my E drive...

[2015-09-14 05:54] maartenba commented on #1382
_From @Laserdaniel on September 12, 2015 19:44_

Agent on C Drive: same type of error

1
2015-09-12T19:33:32.8246308Z Executing the powershell script: C:\agent\tasks\VSBuild\1.0.11\VSBuild.ps1

2
2015-09-12T19:33:33.4346430Z C:\agent\agent\worker\tools\NuGet.exe restore "C:\agent_work\90e3fb71\shanuAngularWordGame\shanuAngularWordGame\shanuAngularWordGame.sln" -NonInteractive

3
2015-09-12T19:33:3

[2015-09-14 05:54] maartenba commented on #1382
_From @Laserdaniel on September 12, 2015 19:52_

If I copy the packages folder into the Agent working directory and uncheck the Restore NuGet Packages check box, I get a successful build :(

[2015-09-14 07:47] LeroyK commented on #1349
This may be the same issue as #1370. Does the scenario I have described there match yours?

[2015-09-14 09:59] stavnskov commented on #1349
It sounds like the same issue as #1370, which seems to be more precisely described

[2015-09-14 12:59] paululvinius opened #1383 "Only nupkg-files gets included as pending changes"
When adding new packages with VS2015 and Nuget 3.1, files are missing in pending changes. Only nupkg-files are included:
![capture](https://cloud.githubusercontent.com/assets/854330/9850045/519beb04-5af0-11e5-942c-6819bb9f77c8.JPG)

With VS2013 and Nuget 2.8, all the files are included:
![capture2](https://cloud.githubusercontent.com/assets/854330/9850057/68a3f5b2-5af0-11e5-8909-6ed01d179378.JPG)

[2015-09-14 13:11] Laserdaniel commented on #1382
Work Around found: Configured Build Agent to use my domain account instead of the default network service account, I get a successful build

[2015-09-14 18:21] #1379 closed, assigned to nobody

[2015-09-14 18:52] emgarten opened #1384 "Null ref exception in NuGet.DependencyResolver.RemoteDependencyWalker.IsGreaterThanOrEqualTo"
The below packages cause a null reference exception during project.json restores for UWP.
- Moon.Owin.Localization 1.3.1
- Moon.Owin.Localization 1.3.3
- Moon.Web.Localization 1.3.3
- IX.Framework.Engines.Embedding.Implementation.Autofac 1.1.3.1

[code]

[2015-09-14 18:56] emgarten commented on #1383
There have been some TFS fixes in nuget 3.2.0, will you try the latest RC and see if it resolves your issue?
http://blog.nuget.org/20150902/nuget-3.2RC.html

[2015-09-14 19:03] emgarten opened #1385 "Package dependencies with invalid ids cause unexpected failures"
Steps
1. Create a new UWP blank app
2. Use the v3 nuget source
3. Install-package devextreme.TypeScript.DefinitelyTyped -version 0.0.9

Expected:
The package will fail to install due to a bad dependency

Actual:
An exception is thrown due to a 400 bad request error

This package contains a dependency with a relative path. For online restores this full id is appended to the url without validation.

[2015-09-14 19:15] paululvinius commented on #1383
Nice, now it works. I guess Nuget 3.2 RC did the trick. Thanks! :)
/Paul

[2015-09-14 19:16] emgarten opened #1386 "Packages containing nupkgs with the same name fail to extract during UWP restore"
Packages containing a nupkg with the same name fail to extract since the downloaded nupkg is extracted to same folder.
1. Create a new UWP blank app
2. install-package Revalee.Client -version 2.1.2

The above steps will throw a file in use exception since Revalee.Client.2.1.2.nupkg contains a file Revalee.Client.2.1.2.nupkg. The original nupkg is in use since it is extracting files, while at the s

[2015-09-14 23:02] lilith commented on #300
Depressing -> https://github.com/Microsoft/msbuild/issues/83

[2015-09-15 07:19] martinsuchan commented on #796
I can still reproduce this issue in NuGet v 3.2.60902.10488 in VS2015 when **restoring NuGet packages** - [Content_Types].xml files are added to packages/[package] folders.

**Repro steps**
Create a Console Application
Install Package jQuery
Install Package Microsoft.Net.Http
Inspect the packages folders - no [Content_Types].xml files
Save and close the solution
Remove all folders from the /packag

[2015-09-15 07:58] martinsuchan opened #1387 "Duplicate .nupkg files are added to package folder when adding Nuget packages"
I think this is a bug, there should be no reason for two identical .nupkg files in a package folder.
Using NuGet v3.2.60902.10488 in VS2015.

**Repro steps**
Create a Console Application
Install-Package MvvmLightLibs.5.2.0.0
Inspect the packages folder for MvvmLightLibs

**Expected:**
There should be only one MvvmLightLibs nupkg file and one CommonServiceLocator nupkg file in the CommonServiceLoca

[2015-09-15 09:47] zelex74 opened #1388 "Issue during package creation in 'content' folder"
I am trying to create a package of the ASP.NET MVC project (Visual Studio 2013) without .nuspec by command "nuget pack Hive.UI.Web.Shell.csproj".
Сreated package has the following structure
![image](https://cloud.githubusercontent.com/assets/14290419/9872410/b1780fe0-5bb2-11e5-89a6-26cae680885a.png)
I expect to see in the folder 'content' the following composition: Content, Scripts, Views, Web.con

[2015-09-15 10:04] zelex74 commented on #1388
Using NuGet v2.8.50126.400

[2015-09-15 17:38] emgarten commented on #1387
I'm not able to repro this. I end up with only MvvmLightLibs.5.2.0.0.nupkg. Are there any other steps needed here? What are your sources?

[2015-09-15 18:07] zhili1208 commented on #796
investigated it with latest build, can't repro this. we will release new version this week, this should be fixed in that one.

[2015-09-15 19:14] martinsuchan commented on #1387
I have just tested it on another machine and reproduced it on first try - have you used the [NuGet Package Manager 3.2 RC](http://blog.nuget.org/20150902/nuget-3.2RC.html)?

![capture](https://cloud.githubusercontent.com/assets/3041397/9887159/925d20c8-5bee-11e5-9403-5a4dc0c1148e.PNG)

[2015-09-15 19:18] martinsuchan commented on #796
It is definitely reproducible with [NuGet v3.2 RC](http://blog.nuget.org/20150902/nuget-3.2RC.html). I was able to reproduce it on another machine now.

[2015-09-15 20:44] ashmind commented on #1370
Something like this works for me as a workaround:

[code]

If `-Pre` is specified, NuGet is able to find that my pre-release package is actually installed. However it obviously affects the version chosen for the package you are updating, so you might want to specify an explicit version.

[2015-09-15 21:15] zhili1208 commented on #796
@martinsuchan  I still didn't get an repro with rc version, you said "Unneeded files [Content_Types].xml are created in some package folders", which package folder? thanks

[2015-09-15 21:15] zhili1208 commented on #796
And the source is nuget.org, right?

[2015-09-15 21:39] emgarten commented on #1387
What source is the package coming from?

[2015-09-15 22:08] #1383 closed, assigned to nobody

[2015-09-15 23:32] yishaigalatzer commented on #1387
@martinsuchan I have a repro using the v3 server `https://api.nuget.org/v3/index.json`

I'm assuming you are not seeing any other issues other than another file dropped on disk?

[2015-09-15 23:36] zhili1208 commented on #796
I can repro now, it only repro when v2 is enabled, if there is only v3 enabled, it works well

[2015-09-15 23:46] yishaigalatzer commented on #1386
Suggestion - Make this a warning, and ignore the nupkg file

basically

[code]

[2015-09-15 23:49] yishaigalatzer commented on #1385
Validation on the server - https://github.com/NuGet/NuGetGallery/issues/167

Make it fail to install early with a good error message

[2015-09-15 23:51] yishaigalatzer commented on #1382
Yes that is a requirement. NuGet depends on user folders being available.

[2015-09-15 23:51] #1382 closed, assigned to nobody

[2015-09-15 23:59] yishaigalatzer commented on #1381
A few questions
1. What version of NuGet are you using? In NuGet 3.X we have moved most of the code (didn't check if all of it) to use Zip Archive
2. Why do you think this is a NuGet fix? There are many clients out there, and even if NuGet fixes this, you still created a package only compatible with newer clients, which seems like a severe limitation and you will theoretically have to provide a mi

[2015-09-16 00:04] yishaigalatzer commented on #1381
Talking to @pranavkm here, this _should_ work already in NuGet 3.2, could you please verify with your package? seems there is nothing to do on NuGet side once you validate, because we can't go back in time and fix clients out there :)

[2015-09-16 00:21] yishaigalatzer commented on #1380
### What is going on

The process of updating a package is to uninstall and reinstall it, so this can not work. In project.json (NuGet3) we are moving to a mode where NuGet does not touch the csproj file at all (where scenarios you are describing are partly the inspiration for the change). But we don't plan to make a change for this in packages.config scenarios, because it is not clear that we sho

[2015-09-16 00:22] yishaigalatzer commented on #1376
I'm closing this issue, but will loop it in with the Windows folks to see why this started all of the sudden.

[2015-09-16 00:22] #1376 closed, assigned to nobody

[2015-09-16 00:28] #1375 closed, assigned to nobody

[2015-09-16 00:35] #1380 closed, assigned to nobody

[2015-09-16 00:35] yishaigalatzer commented on #1381
Closing, but open to more discussion.

[2015-09-16 00:40] yishaigalatzer commented on #1349
Closing as duplicate, but we will verify as part of fixing #1370. Also note that we are planning on enabling all sources again in 3.3

[2015-09-16 00:41] yishaigalatzer commented on #1370
Please also verify https://github.com/NuGet/Home/issues/1349 when resolving this issue

[2015-09-16 00:42] yishaigalatzer commented on #1360
@giggio closing, as I believe this is now resolved in your mind. If you have a specific follow up, lets discuss a more targeted new issue

[2015-09-16 00:42] #1360 closed, assigned to nobody

[2015-09-16 00:45] yishaigalatzer commented on #1367
@fubar-coder and @deepakaravindr with plan to release 3.2 RTM shortly, lets verify if this is still an issue after that, and if so try to narrow down the steps to reproduce the problem. If it still reproducible after 3.2 RTM, we should definitely fix it.

@fubar-coder would you be able to provide (after the release, where we will push symbol packages to symbolsource.org) an accurate call stack wit

[2015-09-16 00:46] yishaigalatzer commented on #1368
We don't plan to fix this for 2.X, but will gladly take a pull request.

[2015-09-16 01:24] yishaigalatzer commented on #1371
This is by design, because we don't have hardcoding for the TFMs and they are normalized.

Yes there is a difference, but it is expected and it will work with Visual Studio 2013.

[2015-09-16 01:24] #1371 closed, assigned to nobody

[2015-09-16 01:25] #1349 closed, assigned to nobody

[2015-09-16 02:25] deepakaravindr commented on #1367
@fubar-coder, Could you please provide more information?
1. Do you have %USERPROFILE% set on your machine? Also, what does the following code return on your machine?
   `Environment.GetFolderPath(Environment.SpecialFolder.UserProfile);`
2. Do you have 'nuget.org' as your package source? And, is the URl https://api.nuget.org/v3/index.json?
3. Is it a consistent repro?

[2015-09-16 04:10] yishaigalatzer commented on #1332
Looks like this is caused by a stackoverflow in NuGet.VisualStudio project when trying to add binding redirects for the project, and traversing the P2P to find the assembly closure for the app

Here is a trimmed callstack

[code]

[2015-09-16 06:28] yishaigalatzer commented on #1332
Looking at the code, there is a chance for a stack dive when there is a circular reference, since adding the project to the visited projects table only happens after recursing into the tree

https://github.com/NuGet/NuGet.VisualStudioExtension/blob/98acbf4ae5856ea7fdec5078ae2cef9070a01016/src/PackageManagement.VisualStudio/Utility/EnvDTEProjectUtility.cs#L975

[2015-09-16 07:12] fubar-coder commented on #1367
@yishaigalatzer I'll try to provide an accurate call stack, but it'd be nice if you could provide instructions how to do it.

@deepakaravindr I cannot definitely answer your questions 1+2, because I'm not at home until thursday evening.
1. %USERPROFILE% is most likely set and `Environment.GetFolderPath(Environment.SpecialFolder.UserProfile)` should return the same value
2. Most likely yes, as I ca

[2015-09-16 08:01] dradovic commented on #1380
Thanks for the clarification and thanks for trying to make it better in NuGet3 :)

[2015-09-16 08:12] LinuxDoku commented on #1284
We have the same issue with projects which are under TFS source control, but the Sysinternals Process Explorer shows no network activity (even when you go offline it is very slow) while removal.

Our package has 12mb (35mb extracted) with 700 hundred files and 160 folders and it takes up to 5 hours to remove it. A few weeks ago removing the same package took 1 minute with ssd and up to 5 minutes o

[2015-09-16 08:33] andrelombaard opened #1389 "Improvement to the Update-Package command"
This is not a bug but rather a suggested improvement to the current process when updating all installed packages from the command line using the Update-Package command.

We had a problem a while back where we realized that dll references were not updated to point to the newest version of dll's when using the Update-Package command (To update all our packages). We would for instance update a packag

[2015-09-16 09:03] martinsuchan commented on #1387
Yes, but it looks like this other file is dropped only when the package version ends with two zeroes, like 5.2.**0.0**. It works fine when the package has three non-zero numbers. Not tested yet when the package has three zeroes.

[2015-09-16 11:42] zelex74 commented on #1388
Probably the reason is in the SlowSheetah package. My .csproj file contains the following:
![image](https://cloud.githubusercontent.com/assets/14290419/9903682/b340ad8e-5c91-11e5-87bd-b9107e3db7f0.png)
After the removal of the last line, packaging is done properly.
A similar problem, but the solution did not help me: http://gregorsuttie.com/2015/01/10/issue-i-ran-into-when-using-nugetslowcheetah/

[2015-09-16 12:07] stavnskov commented on #1176
Duplicate of #142?

[2015-09-16 13:48] yishaigalatzer commented on #1284
So to confirm, 2013 is much faster than 2015?

[2015-09-16 13:55] yishaigalatzer commented on #1367
You will need a few things.
0. Wait until we release 3.2 today and install it
1. Add symbolsource.org as a symbol source
2. Attach a second instance of visual studio to your visual studio (do it as late as possible as it is going to slow things down)
3. In debug setting turn on exception catching for handled exception and only check nullref
4. Repeat the action above

Cc // @MeniZalzman - need to

[2015-09-16 15:15] NaomiN commented on #980
I added the issue description on MS Connect https://connect.microsoft.com/VisualStudio/feedbackdetail/view/1798314/scaffolding-no-longer-working

I am using VS 2015 Enterprise and the latest NuGet package

[2015-09-16 16:22] tbolon commented on #755
Hi,

I can reproduce this bug in VS 2015 RTM / NuGet Package Manager for VS v3.1.60724.766

Here are the steps I used:
- Create an empty solution on `D:\MySolution\MySolution.sln`
- Create a class library (net45 in my case) on `D:\MySolution\MyProject1\src\MyProject1\MyProject1.csproj`
- Create a nuget.config in `D:\MySolution\MyProject1\nuget.config` with the following settings

[code]
- using VS

[2015-09-16 16:26] pranavkm commented on #1381
@yishaigalatzer, I think this problem will persist for OData based feeds - it uses NuGet.Core which uses System.IO.Packaging APIs.

[2015-09-16 16:26] yishaigalatzer commented on #755
@tbolon that is not supposed to work, the path is always relative to the solution, not the project

[2015-09-16 16:28] yishaigalatzer commented on #1381
ah ok, but at that point you won't be able to upload it to the server either...

So keeping this issue around, to move off System.IO.Packaging when reading from a V2 server

[2015-09-16 16:30] tbolon commented on #755
Hum, perhaps "relative" should be clarified as concerning only the solution and not the config file itself.

Because nuget.config are recursive, this could be misleading as the [doc](http://docs.nuget.org/Release-Notes/NuGet-2.1#Specify-%e2%80%98packages%e2%80%99-Folder-Location) give the project path `C:\myteam\solution1\project1` as examined for config files.

[2015-09-16 16:45] yishaigalatzer commented on #755
The link you are pointing to actually says:

I'm updating it to become more verbose, I also updated [this](http://docs.nuget.org/consume/NuGet-Config-Settings) document to clarify both issues reported in this bug.

[2015-09-16 16:48] tbolon commented on #755
Thank you

[2015-09-16 16:50] yishaigalatzer commented on #755
One tiny last thing. You can always suggest modification to our docs by submitting a pull request to the nugetdocs repo, its super simple to do

Sent from my Windows Phone

---

From: Thomas Bolonmailto:notifications@github.com
Sent: ‎9/‎16/‎2015 9:30 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] [NuGet.VisualStudioExtension] I

[2015-09-16 16:51] tbolon commented on #755
You are right, I was clicking on the edit link on the documentation when you replied this issue. Too slow :smile:

[2015-09-16 16:54] yishaigalatzer commented on #755
nice! Thanks for the report, you can never put enough time into docs

[2015-09-16 20:50] thnk2wn opened #1390 "3.2 RC 1 - packages getting added to TFS source control"
Tried installing http://blog.nuget.org/20150902/nuget-3.2RC.html to see if it would fix this but did not.

Regardless of .tfignore, any time I install a new package or upgrade an existing package, it gets added to TFS (2013) source control.

Using the automatic (non MS build package restore) and Visual Studio 2015 Enterprise.

It seemed more sporadic with nuget.org packages but definitely seeing i

[2015-09-16 21:05] emgarten commented on #1390
Do you have disableSourceControlIntegration set to true in your nuget.config file?

[2015-09-16 21:07] thnk2wn commented on #1390
@emgarten I thought that was only for MS build package restore. We've switched over to the automatic package restore. What/where nuget.config for that?

[2015-09-16 22:17] emgarten commented on #1390
Follow the directions for setting disableSourceControlIntegration  here: https://docs.nuget.org/consume/package-restore

[2015-09-16 22:34] thnk2wn commented on #1390
@emgarten Thanks. I thought the entire .nuget folder could go away with automatic package restore. That fixed it although it's annoying having to create a .nuget folder, a Nuget.config file and .tfignore file for each app just to prevent packages from being added to source control. I thought part of the new way was "it just works" and this doesn't feel that way.

[2015-09-16 22:34] #1390 closed, assigned to nobody

[2015-09-16 23:03] emgarten commented on #1390
@thnk2wn the setting can be added to any nuget.config file, it doesn't have to be in the .nuget folder. You could put it in your solution root directory, in a directory above that, or in your machine wide nuget.config file under _%AppData%\Roaming\NuGet_.

NuGet doesn't read .tfignore, if you leave that file out does it still work correctly?

[2015-09-16 23:34] BertusGreeff commented on #1282
+1 Also hitting this in our build system thats using NuProj to generate multiple packages in parralel.

[2015-09-16 23:58] thnk2wn commented on #1390
Thanks for the info. It seems to require both.

Nuget.config at a higher level may be handy but machine wide requires each team member to do that so it's not so portable. At a higher root level than app may not work in many cases where someone just pulls one app down or just opens the solution without getting a much larger root tree.

Ideally I'd expect this to just default to true (not adding pac

[2015-09-17 00:50] JamesNK commented on #1327
I saw NuGet 3.2 has been released. When will the new msbuild be released?

Reminder: I'm not using UWP or Windows 10. All I want is NuGet to start working again with my csprojs like it use to.

[2015-09-17 00:52] Pilchie commented on #1327
The new Win10tools release today includes a patch to the msbuild targets to support this.

Unfortunately for now you need to install the win10 tools to get it. This will change with VS Update 1, which will also include all of these changes.

[2015-09-17 00:56] JamesNK commented on #1327
Any idea when that will be?

What I don't understand is why is NuGet using the project.json file for non-UWP projects? It's done nothing but cause me trouble. I just want NuGet to use packages.config like it use to! I'm sick of everything being broken.

[2015-09-17 01:01] Pilchie commented on #1327
I know when update 1 is planned, but can't post publicly in case someone takes it as a commitment :frowning:

Project.json is used in PCL right now as well as UWP, and works (though we aren't pushing it yet) in all project types. For example in http://Roslyn.io, we just moved all of our projects over to it.

Eventually I think it will be the default.

What's broken about it?

[2015-09-17 01:03] Pilchie commented on #1327
Note: I mean what's wrong with _project.json_ and its transitive refs, not what's wrong with "dotnet" "dnxcore50", etc.

[2015-09-17 01:15] yishaigalatzer commented on #1327
@JamesNK for now you need to use Win10 tools 1.1 for using project.json (outside of DNX), its unfortunate, but it doesn't have a ship vehicle until U1 like @Pilchie says.

[2015-09-17 01:21] JamesNK commented on #1327
The thing is I never even wanted to use project.json from csprojs, NuGet uses it as soon as it is present https://github.com/NuGet/Home/issues/797 I just happen to have a project.json for CoreCLR in the same directory as csproj files :(

@pilchie Can you be vague? Will it be out in weeks or months?

[2015-09-17 01:23] JamesNK commented on #1327
Maybe I just just go back to checking in DLLs and not using NuGet. This entire thing has been extremely frustrating.

[2015-09-17 01:24] yishaigalatzer commented on #1327
Ah, I see that's an ask from DNX, perhaps they can support {projectName}.project.json. Just chatting about it with @lodejard here, we can kick the idea around with them.

For now I guess you will have to move the location (sucks I get it)

Schedule is not weeks (is that clue enough?)

[2015-09-17 01:26] yishaigalatzer commented on #1327
@JamesNK another suggestion is to use {projectName}.project.json for your csproj projects. This just got introduced in this release, I get that it requires the extra windows tooling, but think about it like installing Update 1-1/2

[2015-09-17 01:31] JamesNK commented on #1327
That's what I'm doing! Look at the original issue:

I'm trying to find a way to make this work but every direction I run into another issue. Why didn't you just keep using packages.config over project.json until it did work?

[2015-09-17 01:46] JamesNK commented on #1327
Look, I don't want to lose the forest for the trees. I really don't care about using project.json or {project}.project.json from a csproj at all. I'm just trying to find a way to make project.json and ye olde NuGet projects co-exist.

See all the recent issues from #797 onwards I've opened trying to get around this problem: https://github.com/NuGet/Home/issues?utf8=%E2%9C%93&q=is%3Aissue+author%3A

[2015-09-17 01:57] yishaigalatzer commented on #1327
I get it. The solution is to install win 10 tools 1.1, it requires the project system and build task changes in that release

[2015-09-17 02:55] JamesNK commented on #1327
I'd love to but I don't have Win10 and I don't see an option to install them.

[2015-09-17 02:58] Pilchie commented on #1327
You can install the tools on older OS's.  If you go to
Modify VS in Add and Remove programs, there should be an option to add it. Otherwise running the installer at https://dev.windows.com/downloads should install it.

[2015-09-17 03:42] zelex74 commented on #1388
Setting SlowCheetah_EnableImportFromNuGet = false solved my problem.
nuget pack Hive.UI.Web.Shell.csproj -Properties SlowCheetah_EnableImportFromNuGet=false

[2015-09-17 05:35] davidfowl commented on #1327
Seems like we just need to ship the msbuild target outside of a uwp release

[2015-09-17 06:01] MichaelKetting commented on #627
+1 for binging content back for CS-files, which I rely on to distributing utility classes, etc.
+1 for xdt-support which are needed to setup configuration files of all kinds.
For both, I like the option to use install-content / an automatic integrtion when using Visual Studio. It's only needed inside Visual Studio but it is needed there.

For web-content, in NuGet v2 I use install.ps1/uninstall.ps

[2015-09-17 06:47] emgarten opened #1391 "Add dotnet generation mappings for Xamarin frameworks"
Currently Xamarin frameworks are allowed to install all dotnet generations. This should be reviewed and the correct dotnet generation mappings should be added to NuGet.Frameworks.

[2015-09-17 07:26] JamesNK commented on #1327
That would be a good idea. The Win10 tools are 7gigs. Also what about build servers without Visual Studio. What do they do?

---

So I installed the Win10 tools on my computer and it works, sort of. About half the time the NuGet packages never show up under References, VS doesn't know anything about them and there is a lot of red code. When I build it says it succeeds though. To fix VS not knowing

[2015-09-17 08:23] LinuxDoku commented on #1284
No, they are both slow.

Machines we have tested:
Intel Core i5 with 2 Cores, 8GB RAM, SSD, Windows 7 and VS 2013 with Update 5 (Nuget 2.8.6)
Intel XEON with 8 Cores, 16GB RAM, SSD, Windows 7 and VS 2013 with Update 5 (Nuget 2.8.6), VS 2015 (Nuget 3.1.6)

We have uninstalled the virus scanner (ESET) on both machines the have a clear picture of the performance issue. This makes the process a bit fa

[2015-09-17 09:45] yura-yaroshevich opened #1392 "In nuget.exe 3.2 automatic msbuild detection works different from nuget 3.1.beta.exe"
When `nuget.exe restore` run without `-MSBuildVersion` parameter automatic `MSBuild` version detection works wrong. According to docs it should select highest available msbuild version (on my machine 14), but it chooses 12 version. It worked correctly on version 3.1.beta http://dist.nuget.org/win-x86-commandline/v3.1.0-beta/nuget.exe, but was broken in 3.2

`MSBuild auto-detection: using msbuild v

[2015-09-17 11:35] andrelombaard opened #1393 "Update-Package in conjunction with TFS is extremely slow"
I have a Visual Studio 2015 solution containing 38 projects and I want to update all the installed packages (Third Party packages and in house packages) by executing the Update-Package command. The update is at this point running more than 5 hours. From the Package Manager Console I can see that the packages are being updated.

My manager mentioned that he previously had a similar problem on a sma

[2015-09-17 16:15] yishaigalatzer commented on #1284
Thanks for sharing all this info

Can you tell me what the difference is between a “few weeks ago” and “today”?
Are you using a different version of visual studio? A different version of NuGet?

We should probably start looking into this right away, but many a times it is a bit hard to pinpoint the differences without a good before/after setup.

From: Martin Lantzsch [mailto:notifications@github.c

[2015-09-17 16:44] yishaigalatzer opened #1394 "Support separate caches support per build & feed for http & package caches"
For a CI machine running restore in parallel for multiple projects we want a mechanism that avoids using an http cache, to avoid contention.

An alternative is to provide an environment variable `NUGET_HTTP_CACHE` (or the v2 cache folder) similar to `NUGET_PACKAGES` to create a temporary cache per solution level restore

CC @davidfowl

[2015-09-17 16:48] yishaigalatzer commented on #300
No idea why you say we dropped msbuild support? We did none of that, and added a ton of features to support native directly

From: Nathanael Jones [mailto:notifications@github.com]
Sent: Monday, September 14, 2015 4:02 PM
To: NuGet/Home Home@noreply.github.com
Cc: Yishai Galatzer yigalatz@microsoft.com
Subject: Re: [Home] [Verify/Document] Native (conditional) dependency support. (#300)

Depressin

[2015-09-17 16:50] johnataylor opened #1395 "Http Caching in Client doesn't Actually Happen"
Despite some code kicking around in the HttpMessageHandler resource to initialize the HttpClient correctly this doesn't actually happen because the custom CredentialPromptWebRequestHandler stamps on that behavior.

The fix is to make sure that that handler actually sets its base class CachePolicy to the RequestCachePolicy Default level. The Default level has the correct behavior with the client fo

[2015-09-17 17:04] yishaigalatzer commented on #1393
Hard to tell without seeing your project, but yes TFS can definitely slow things down.

NuGet calls visual studio IDE DTE commands like AddReference, which in turn causes visual studio to add the file by the project system. and if it is in TFS it might try to go online and add it. If you have lots of projects and lots of packages and lots of files this could be a cause.

It might also be an issue

[2015-09-17 17:06] lilith commented on #300
Follow the link; read jeff handley's comments.

That wasn't intended as a criticism of NuGet - which is making great strides - but rather the continued blockade against opening the ecosystem to more specialized alternatives.

There are dozens of things that I can only do with Paket. I'm not sure I even want NuGet to do those things, but if MSBuild makes it impossible to restore packages with an ar

[2015-09-17 17:14] yishaigalatzer commented on #300
Our suggestion is to restore before msbuild runs in a powershell script or sh script.

Why is that wrong? A user will just run build on your repo?

You can also do the same thing nuget does in visual studio (on build restore). Nuget is not getting any special accommodations from visual studio other than shipping in the box, is what you are looking for is an ability to make paket run on build even

[2015-09-17 17:21] lilith commented on #300
^ Extremely important.

Most of my users do not know how to open a command-line window, let alone configure a command-line environment that can build things. They double-click the Solution file and hit Run in VS. If that fails, they move on. I've watched this via screen sharing hundreds of times.

Yes. If MSBuild offered a 'reload' instruction, we could bootstrap everything quite nicely. As it sta

[2015-09-17 17:39] csharpfritz opened #1396 "Idea: Make nuget.config configuration options available as env vars"
All [nuget.config configuration](http://docs.nuget.org/consume/NuGet-Config-Settings) options should be overrideable with environment variables.

Suggestion: use the same configuration parameter name prefixed with "NUGET_" for the environment variable to maintain consistent feature naming across configuration options.

Discussion: Does a nuget.config file in the same folder as a project take prece

[2015-09-17 17:40] jwynia opened #1397 "Installing KendoUICore package (lots of small JS files) extremely slow."
Given VS2015 Enterprise, web application project in .NET 4.5.2, standard MVC project wizard output.
When I install the KendoUICore package
Then it takes 20+ minutes to install

I've noticed that this particular JS library causes problems with VS when added manually as well, which leads me to suspect that it's the "add file to VS project" portion of the package install that's bogging things down. B

[2015-09-17 17:57] maartenba opened #1398 "Package install error?"
_From @HaukiDog on September 17, 2015 15:40_

I am trying to install a package with zero dependencies. Specifically https://www.nuget.org/packages/x-editable

I am installing in to a .net 4.5.2 MVC site, and I am getting the following error:

Error       Could not install package 'x-editable 1.5.1'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5.2',

[2015-09-17 20:47] yishaigalatzer commented on #1284
One thing I forgot is to try 3.2, there are some improvements with 3.2 for this. Not guaranteeing its going to fix your issue or not, just been talking to @pranavkm in passing and he thought this should be improved. @zhili1208 is going to do more investigation on this.

[2015-09-17 20:59] zhili1208 commented on #1284
@LinuxDoku what's your package? is it in nuget.org? I want to do some investigation on it. thanks

[2015-09-17 21:18] LinuxDoku commented on #1284
@zhili1208 it's a internal package containing an ASP.NET app with a lot of html and javascript. If you can provide me an microsoft.com mail adress, I could sent you a package with some mixed up binaries.

@yishaigalatzer Tomorrow I will test 3.2 on our machines. We also have some workstations with Visual Studio 2013 Express Update 3, maybe they are performing better. I will test and report.

A few

[2015-09-17 21:23] zhili1208 commented on #1284
@LinuxDoku thanks, lzhi@microsoft.com

[2015-09-17 21:45] #383 closed

[2015-09-17 21:45] #1270 closed, assigned to deepakaravindr

[2015-09-17 22:31] burkeholland commented on #1397
I've got VS 2015 Community edition running and I'm getting the exact same issue. However, I'm getting it with all packages that I add, and even creating or adding a single new file to the project takes between 5 and 10 seconds sometimes. I wish I could provide more input here. I'm not often in Visual Studio so I'm not sure where to look to help, but I'll go get log files or stack traces or whateve

[2015-09-17 22:42] evancox10 commented on #1243
Hi, I'm wondering if I'm running into a similar issue. This may not be 100% what the OP is experiencing, but we both have some of the same questions, and this thread is what showed up from a Google search.

I've updated some projects of mine to target .NET Framework 4.6. These projects use System.Collections.Immutable also, for which the latest stable version right now is 1.1.37. Previously when N

[2015-09-17 22:44] JamesNK commented on #1327
Any ideas about why building from the command line with msbuild doesn't work? Or could you point me in the direction of where to go to ask? I'm not familiar with the UWP scene.

[2015-09-17 22:53] Pilchie commented on #1327
You need to have done a nuget restore first so that there is a project.lock.json, but once that's done it should work. What errors are you getting?

[2015-09-17 23:02] JamesNK commented on #1327
Member not found, type not found, etc.

The PS function below is the bit from my build script that is doing the compilation. I'm doing a restore with NuGet on the sln immediately prior to msbuild.

Will `NuGet.exe update -self` update nuget.exe to 3.2? Could that be it?
Or do I need to do the restore with the {project}.project.json as the argument instead of the sln?

[code]

[2015-09-17 23:06] Pilchie commented on #1327
1. Will `nuget.exe update -self` update to 3.2?  Not sure.  @yishaigalatzer?
2. No, restore on the .sln should be fine.

After the restore, do you have project.lock.json files for the projects that don't build?  If not, look at and/or share the output from the restore command?  If so, can you share them and an msbuild diagnostic build log with us (kevinpi@microsoft.com is fine)?

[2015-09-17 23:46] JamesNK commented on #1327
1. It doesn't. I just looked at the logs and it was saying that 2.8.6 was up to date
2. Ok

I will download the nuget.exe 3.2 and see how I go. Is that what we're suppose to check into source control now? I'm just curious because the old bootstrapper nuget.exe was 18kb and the new file is 3.6 megs.

[2015-09-17 23:56] JamesNK commented on #1327
Edit: Thought I found a bug. False alarm.

[2015-09-18 00:11] ghost opened #1399 "Provide a way for NuGet to work in environments that force Powershell to AllSigned"
I'm not even sure it's possible, just logging my frustrations - package installs fail in all kinds of interesting way when AllSigned is enforced via Group Policy or similar.

[2015-09-18 00:15] yishaigalatzer commented on #1327
It will eventually do that after we push the commandline package. We are holding off a bit on this to look at incoming bugs first before we “break” the world.

From: Kevin Pilch-Bisson [mailto:notifications@github.com]
Sent: Thursday, September 17, 2015 4:06 PM
To: NuGet/Home Home@noreply.github.com
Cc: Yishai Galatzer yigalatz@microsoft.com
Subject: Re: [Home] NuGet 3.2-RC - Adding and removing p

[2015-09-18 01:56] NaomiN commented on #1004
Just in case - here is a Connect issue on that topic I opened

https://connect.microsoft.com/VisualStudio/feedbackdetail/view/1798314/scaffolding-no-longer-working

[2015-09-18 05:10] emgarten commented on #1399
Try changing your execution policy for the local machine scope:

[code]

[2015-09-18 05:20] emgarten commented on #1398
The nuget error message is correct, the x-editable 1.5.1 package is authored incorrectly and doesn't contain any folders for nuget. The readme file mentions installing the package with bower. Either this package is installed using another tool on top of nuget, or it has never worked at all.

[2015-09-18 05:24] andrelombaard commented on #1393
Hi, thank you for your reply. I noticed that one of our developers added the packages folder to source control, no idea why this was done. I removed the folder from TFS but I can see that there are also some direct references made to some of the dll's in the packages folder which will also cause some problems (although not related to speed).

I'm was using version 3.1 but updated yesterday morning

[2015-09-18 05:24] emgarten commented on #1397
@burkeholland are the projects under source control? Are you able to manually add a file to the project in a normal amount of time, or are you only seeing this issue when nuget adds the files?

[2015-09-18 05:43] emgarten commented on #1392
Does msbuild 14.0 exist under H:\Program Files (x86)\MSBuild\14.0\bin? Do you have Visual Studio 2015 on the machine or was msbuild 14.0 installed separately?

[2015-09-18 06:43] sandersaares opened #1400 "When executed under PowerShell nuget.exe cannot find MSBuild"
Using nuget.exe version 3.2.0.10488 on Windows 10, I get the following error when I execute a "nuget pack" command from PowerShell:

[code]

The operation works fine if I execute the same command from a Command Prompt window. To launch PowerShell, I simply run it from the start menu.

Typing "msbuild" into PowerShell results in MSBuild 4.6.79.0 successfully starting.

[2015-09-18 07:14] ghost commented on #1399
That's overridden in our environment

[2015-09-18 07:29] JamesNK commented on #1327
@Pilchie Random csproj + project.json question for you: How do I copy NuGet DLLs to the output directory when I build. I need them to run unit tests and by default msbuild doesn't write DLLs from NuGet packages to disk. I'm guessing there is an argument I can give to msbuild to tell it to write them to disk.

[2015-09-18 07:37] mstyura commented on #1392
@emgarten yes, it is exists. It was installed as part of VS2015 Pro installation along with Windows UWP SDK. So it is definitely exists on my machine.
UPD: Oops, posted answer from my different account. :|

[2015-09-18 08:07] LinuxDoku commented on #1284
Today I have tested a bit. Same package as before - 700 files and 180 folders (35mb unpacked).

Fresh installed Machine with Windows 10, VS 2015 and Nuget 3.1 and no source control integration:
Install: 5 minutes
Uninstall: 8 minutes

Same machine with upgrade to Nuget 3.2:
Install: 30 seconds
Uninstall: 1 minute

Works fine with nuget 3.2!

---

Machine with Windows 7, VS 2013 and VS 2015 install

[2015-09-18 08:07] JamesNK commented on #1084
Also had this issue.

[2015-09-18 08:08] JamesNK commented on #1327
Nevermind. Found /p:CopyNuGetImplementations=true

[2015-09-18 08:43] aosgo opened #1401 "NuGet & TFS (TFS14092 - Pending Delete) on Update-Package -reinstall"
When doing a `Update-Package -reinstall`

e.g. `Update-Package -reinstall angularjs`

TFS throws TFS14092 for each file that is under source control e.g. scripts, images etc.

[2015-09-18 12:49] Pilchie commented on #1327
Yep, that's the one. We are planning on making it the default for desktop projects too.

[2015-09-18 14:59] jnothstine opened #1402 "Nuget restore infinite loop"
1. I try to update a package in a project.
2. I get prompted for a username and password for my on premises ProGet server (this does not happen with VS 2013)
3. After a long wait, I get a 503 error
4. NuGet tries again and step 3 repeats
5. Step 4 keeps repeating.  I hit the cancel button in the dialog box and it keeps trying again and again.
6. I have to kill Visual Studio
7. I go to update the p

[2015-09-18 15:37] twsouthwick opened #1403 "Distribution site fails to load (too many redirections)"
I tried to go to https://dist.nuget.org/index.html to get the newest nuget.exe (3.2), but it fails to open in Chrome as well as failing to download from commandline via Invoke-WebRequest in PowerShell:

[code]

[2015-09-18 16:16] csharpfritz commented on #1236
Some feedback has been received that suggests a Refresh button for the package list.  For a local repository, especially a local folder, this would be a valuable addition

[2015-09-18 17:43] zarenner commented on #1355
An update on this:
1. There is no bug in packages.config based restore, as far as I can tell in latest dev.  It uses DownloadResourceV3, which uses GetStreamAsync, which uses HttpCompletionOptions.ResponseHeadersRead.  Some confusion here on my side was that fiddler was buffering my responses and therefore never returning headers.
2. In older versions of nuget.exe when the max degree of parallelis

[2015-09-18 18:10] csharpfritz opened #1404 "Search box cannot be accessed with Ctrl+E hotkey after search"
From vs-feedback (444419)

After an initial search, the hotkey for the search textbox is no longer displayed and does not work.

[2015-09-18 18:11] yishaigalatzer commented on #1403
Thanks we are aware, this happens because of a CDN rule that got propagated to Prod after testing on int, but fails for some reason on Prod.

We are working with out CDN provider to revert and propagate the change, should be a few more minutes to get it back up.

[2015-09-18 18:13] yishaigalatzer commented on #1402
What version of NuGet are you using? Did you update to 3.2?

[2015-09-18 18:24] yishaigalatzer commented on #1400
The detection logic is based on installed msbuild version and what the toolset provides.

Can you tell us what msbuild returns when you run it from command line?

You can use an msbuild version picker -MSBuildVersion 4/12/14 depending on what project you are building. See http://docs.nuget.org/consume/Command-Line-Reference.

We can take a look at improving the auto detection in your scenario goin

[2015-09-18 18:32] zarenner opened #1405 "Corrupt package in cache prevents future restores of package"
1. Create packages.config:
   <?xml version="1.0" encoding="utf-8"?>
   <packages>
   <package id="Newtonsoft.Json" version="7.0.1" />
   </packages>
2. Run "NuGet.exe restore -Source nuget.org -PackagesDirectory pkgs"
3. CTRL-C while package is restoring (note: a timeout/server error could cause this), or manually corrupt package after.
4. Run "NuGet.exe restore -Source nuget.org -PackagesDirecto

[2015-09-18 18:36] yishaigalatzer commented on #1405
This is a known issue, not sure we are going to fix the "corrupt" state of package (because it is not well defined).

[2015-09-18 18:37] zarenner commented on #1405
Ok, I thought it might be known but couldn't find the bug.  Can you link it from here so we can track it?  Thanks.

[2015-09-18 19:26] zarenner opened #1406 "NoCache option does not work for packages.config based restore/install (GlobalPackagesFolder)"
TODO:
We should probably cover it here in one go - Updated the top comment
- [x] NoCache should download the package, and store it in the cache
- [x] NoCaching should download the pacakge but not write it into the cache - Debate the name and the flags before making the change

The NoCache option doesn't work with packages.config based restore or install.  The packages are still downloaded to the g

[2015-09-18 19:45] twsouthwick commented on #1403
Looks like it's back up! Thanks

[2015-09-18 19:45] #1403 closed, assigned to nobody

[2015-09-18 19:57] yishaigalatzer commented on #1355
@zarenner do you see similar issues with DNU?

CC // @davidfowl

[2015-09-18 20:44] zarenner commented on #1355
@yishaigalatzer I don't use DNU so I'm not sure, sorry.

[2015-09-18 21:12] yishaigalatzer commented on #1406
Global packages folder and the cache folders are two different things.
1. `%localappdata%\NuGet\Cache` Is a cache - Means you can get packages from there instead of downloading them again. It is off in NuGet3, and we might want to bring it back, we didn't make that determination yet.
2. `%userprofile%.nuget\packages` is an install target (or restore target depending who you ask), this is where pac

[2015-09-18 21:15] yishaigalatzer commented on #1404
I cannot repro this.

The shortcut is not displayed if the box has data in it (expected), but the shortcut works just fine.

If you can provide exact repro steps, please re-open.

[2015-09-18 21:17] yishaigalatzer commented on #1401
Can you provide a bit more feedback?

What version of NuGet are you using? What version of Visual Studio are you using? What version of TFS? Is it an offline or online scenario? Is it an offline worskspace?

How did you set up your project?

[2015-09-18 21:17] #1398 closed, assigned to nobody

[2015-09-18 21:20] yishaigalatzer commented on #1391
CC // @lodejard @davidfowl @anurse

[2015-09-18 21:26] yishaigalatzer commented on #1389
This could be an interesting Roslyn analyzer. The issue here is that NuGet does not understand the project structure it just removes and adds packages. We can probably prototype a piece of target that you can include in your projects by default, we would probably never make it into a stable product because of the complexity of maintaining it across the variety of versions of visual studio, msbuild

[2015-09-18 21:32] yishaigalatzer commented on #1395
Related PR - https://github.com/NuGet/NuGet3/pull/131

[2015-09-18 21:39] zarenner commented on #1406
"expand the packages to the global path and use that as a cache."

Maybe I'm still misunderstanding something - this is the behavior I see.  Packages are downloaded to the global path, unpacked there, then copied to [PackagesDirectory].  Restoring the package again into a new directory doesn't re-download the file, it pulls it from the global packages directory.  To prove this point - if you add a

[2015-09-18 22:03] danliu commented on #878
I've debugged and investigated this issue. So far we only compare with project's target framework to get matching dependency group of a package.

For the package itself, in this case Microsoft.AspNet.Mvc, We are just getting the list of available versions from the registration blob, without filtering the versions based on supported target frameworks. As a result, after pruning process, Microsoft.A

[2015-09-18 23:04] raygerrard commented on #1210
I have also wasted time trying to figure out why using empty as the docs state does not work. The docs should be updated.

[2015-09-18 23:12] ghost commented on #300
@nathanaeljones, you might be interested in this survey: http://blogs.msdn.com/b/vcblog/archive/2015/09/18/packing-technology-survey.aspx. :)

[2015-09-18 23:24] lilith commented on #300
Thanks. It appears to only let you pick one language, and one target platform. Particularly strange that they didn't use checkboxes given the context.

[2015-09-18 23:39] ghost commented on #300
Eric Battalio is generally very receptive on such notes and he is reachable via email as noted here: http://blogs.msdn.com/b/vcblog/archive/2015/09/03/cross-platform-msbuild.aspx (email address provided in the post). :)

[2015-09-18 23:48] Mertsch opened #1407 "NuGet 3.1+ (including the just released 3.2) are not able to restore DNX solutions."
As you can see in the log. it tries to find the `project.json` **after** the `.xproject` instead of combining the folder of the project and `project.json`

[code]

This is a pretty serious issue, as it completely fails any VSO Build with Package Restore enabled on the Solution. 2.8.x just ignored the project files ...

[2015-09-18 23:56] yishaigalatzer commented on #1406
It is not a cache, it is used as another package source

Sent from my Windows Phone

---

From: Zach Rennermailto:notifications@github.com
Sent: ‎9/‎18/‎2015 2:39 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] NoCache option does not work for packages.config based restore/install (GlobalPackagesFolder) (#1406)

"expand the packa

[2015-09-19 00:39] yishaigalatzer commented on #1407
This is not scheduled to be done for a few more versions out. DNX is still in pre-release mode, and you can just separate the projects for now.

I do agree we need to come up with a solution for this right away. This is a duplicate of #1227

[2015-09-19 00:39] #1407 closed, assigned to nobody

[2015-09-19 00:41] yishaigalatzer commented on #1227
We want to fix this immediately as it breaks VSO.

We want not to error, but skip.

Scenario:

It tries to find the `project.json` **after** the `.xproject` instead of combining the folder of the project and `project.json`

[code]

This is a pretty serious issue, as it completely fails any VSO Build with Package Restore enabled on the Solution. 2.8.x just ignored the project files ...

[2015-09-19 00:56] Mertsch commented on #1227
Yes, just disable it, like it was before 3.2 (VSO build uses 3.2 as soon as you update the VS extension) then you can finally restore packages that require 3.x (like System.Web.Http 4.0.1 beta), but you can't complete your build of the solution.

My current workaround is ... split everything C# into one solution with VS package restore and
everything DNX into another solution without package resto

[2015-09-19 07:35] andrelombaard commented on #1389
Thank you for your reply. I understand that I probably oversimplify the suggested solution here and that it might proof difficult to develop into a stable product. In our setup we experience the problem because we make use of Resharper which will add references for you when hitting the ALT + ENTER + ENTER keys (Direct references). It's easier for developers to ask Resharper to add references for t

[2015-09-19 08:12] andrelombaard commented on #1393
Good day, we managed to get the update down to an acceptable time, just to give you some background, we have approximately 110 c# projects that we create into Nuget packages and host on our own local Nuget server. It is impossible for us to manually create the Nuget packages for each one of these projects, so we wrote an application that will do the work for us. We realized that this tool is addin

[2015-09-19 14:50] yishaigalatzer commented on #1393
That's great to hear. Did you update to 3.2? If so did it make a difference?

Another idea is to run update with ignoresourcecontrol and then sync the offline changes?

[2015-09-19 14:54] yishaigalatzer commented on #1389
Ah I see. First of course I would ask the resharper guys to perhaps enhance their feature and add a nuget reference instead of a direct reference. We are building a similar feature in dnx at the moment.

Based on your setup you can build one quite easily, create an msbuild task that runs on build and for example looks at all references that point to the package folder. Then reads packages.config a

[2015-09-19 21:57] AArnott opened #1408 "ArgumentNullException thrown from NuGet.PackageManagement.VisualStudio.VSSettings.ResetSolutionSettings()"
NuGet VS extension version: 3.2.60914.10516
1. In Visual Studio 2015, File -> Open -> Open File
2. Open a project.json file that belongs to a project (in my example, a desktop-targeted class library project)
3. Put the caret on the version string of a Nuget package dependency expressed in that project.json file.
4. Press Ctrl+J (to activate the intellisense completion dropdown)

The ArgumentNullEx

[2015-09-20 06:25] andrelombaard commented on #1393
Yes I updated to 3.2 but did not test the difference in speed, will try the ignoresourcecontrol flag.

[2015-09-20 06:25] #1393 closed, assigned to nobody

[2015-09-20 06:27] andrelombaard commented on #1389
Hi, thank you. I will develop the msbuild task for our setup, should not be to hard as we already have other custom msbuild tasks. Will also log a request with resharper

[2015-09-20 06:27] #1389 closed, assigned to nobody

[2015-09-20 16:15] paulmarsy commented on #917
Coming from investigating this in dahlbyk/posh-git#218 the prompt does return after a period of time for me, so there is likely a timeout happening at some point so it isn't totally deadlocked and will return so no changes/work in Visual Studio are lost if someone is patient.

Additionally the use of any 'Out-' commands in the prompt function appear to trigger this problem, Out-File and Out-String

[2015-09-21 06:15] sandersaares commented on #1400
This is what I get when I run MSBuild from PowerShell:

[code]

It is likely loaded from C:\Windows\Microsoft.NET\Framework\v4.0.30319 as that is in my path variable under PowerShell.

From the command prompt, I get nothing because MSBuild is not in my path variable outside PowerShell.

Manually specifying MSBuildVersion works fine as a workaround, although it is an annoyance since I do not use an

[2015-09-21 07:47] aosgo commented on #1401
VS2013 Update 4, NuGet 2.8.5 & TFS 2012. We use Local Workspaces and TFS is online.

[2015-09-21 10:37] DzonnyDZ opened #1409 "VCXPROJ not understood by NuGet.exe"
I tried this with latest version of NuGet.exe (3.2)

[code]

and I'm getting following error message
"Please specify a nuspec or project file to use."

[2015-09-21 11:17] xavierdecoster opened #1410 "VS2015 extension does not follow redirect to package icon URL"
Example package: http://www.nuget.org/packages/Microsoft.Azure.Devices/1.0.0-preview-001-000-001

In VS2013, the package icon shows correctly.
In VS2015, the default package icon is shown instead.

The icon url in the below package points to http://go.microsoft.com/fwlink/?LinkID=288890.
This looks like a redirect to http://www.gravatar.com/avatar/425be63bdaaeeffd26d0172ed2030198.png.

[2015-09-21 16:58] yishaigalatzer opened #1411 "Consider adding a warning for users of nuget.targets"
Some users are still in the nuget.targets world, and they have no indication (other than searching) that they should move off it. This become more important in Visual Studio 2015.

We need to see if there is a way to
1. Reliably warn people (so no false alerts)
2. Reliably suppress the warning for people that know what they are doing.

[2015-09-21 17:20] yishaigalatzer commented on #1400
Can you please update to 3.2.0.10516 from http://dist.nuget.org/index.html ? I believe we fixed the issue, but I'd like to verify it works in your scenario

[2015-09-21 17:41] yishaigalatzer commented on #1409
This is not supported by NuGet, you will need to create a nuspec and pack directly.

There is currently no standard way to pack a C++ project. It might be something we look into in the future when C++ gets a first class support

[2015-09-21 17:41] #1409 closed, assigned to nobody

[2015-09-21 17:44] yishaigalatzer commented on #1401
Looks very much like - http://nuget.codeplex.com/workitem/4037

[2015-09-21 18:14] yishaigalatzer commented on #1397
What version of the NuGet extension are you using? There are some improvements in this area in NuGet 3.2.

Are you using TFS as the source control system for this?

[2015-09-21 18:16] yishaigalatzer commented on #1401
@zhili1208 can you please look into this (both in 2.9 and 3.2)

[2015-09-21 18:19] yishaigalatzer commented on #1332
@emgarten I recall you had a fix in flight for this

[2015-09-21 18:21] yishaigalatzer commented on #1325
@ericstj do you have any more suggetions on this?

@NVentimiglia please update to NuGet 3.2 for the continuation of this discussion

[2015-09-21 18:22] zhili1208 commented on #1401
will look at this

[2015-09-21 18:23] yishaigalatzer commented on #1309
@MeniZalzman - What is the suggestion here? What happens if you open the build output window after the fact?

[2015-09-21 18:25] yishaigalatzer commented on #1301
@emgarten do you mean it should roll back to 1.0.5 ?

[2015-09-21 18:26] yishaigalatzer commented on #1298
ping? (also we now released NuGet 3.2)

[2015-09-21 18:29] fubar-coder commented on #1367
@yishaigalatzer I tried to follow the steps above, buit it says that it cannot find the `NuGet.Protocol.Core3.v3.pdb` under the following paths:
- Microsoft Symbol Servers
- http://referencesource.microsoft.com/symbols
- http://srv.symbolsource.org/pdb/Public
- http://srv.symbolsource.org/pdb/MyGet
- http://msdl.microsoft.com/download/symbols

Did I miss a symbol source?

[2015-09-21 18:29] mprevot commented on #1298
Hey

Thanks for the heads up. I don't have VS right now but I'll be in that on
the next couple of days.

Isn't c# 6 using AVX and AVX2 automatically ?

Thanks.

Le lundi 21 septembre 2015, Yishai Galatzer notifications@github.com a
écrit :

[2015-09-21 18:30] yishaigalatzer commented on #1367
Just talked to @MeniZalzman who is working on the pushing the symbols, they are not live yet, and should be later this week.

@MeniZalzman please update this thread once things are live.

I also assume you updated to 3.2 RTM and you still get the nullref?

[2015-09-21 18:32] fubar-coder commented on #1367
Yes, that is correct.

[2015-09-21 18:40] #1283 closed, assigned to nobody

[2015-09-21 18:41] yishaigalatzer commented on #1283
Update - We released 3.2-RTM

You can find all current downloads at https://dist.nuget.org/index.html

[2015-09-21 18:43] yishaigalatzer commented on #1281
And we are going to move again in another effort to do more consolidation to https://github.com/nuget/nuget.client later this week

[2015-09-21 18:44] #1272 closed, assigned to nobody

[2015-09-21 18:44] MeniZalzman commented on #1309
All the log entries that we logged will not show up anywhere and the user will not have anything to work with, we need to init the output window or use something that always exist

[2015-09-21 18:44] yishaigalatzer commented on #1269
Closing as we haven't heard back for over a month now

[2015-09-21 18:44] #1269 closed, assigned to nobody

[2015-09-21 18:45] yishaigalatzer commented on #1279
@AndiRudi we have 3.2 out, but we still don't have a repro for your scenario? Would you mind sharing a small project that will reproduce this issue (or a bigger one if you can't)?

[2015-09-21 18:48] yishaigalatzer commented on #1262
@emgarten @feiling @johnataylor

I'm suspecting we have a mix of issues here (UI making too many network calls, and underlying implementation being pretty inefficient).

Lets start by creating a repro and see where we can take it from here.

[2015-09-21 18:51] yishaigalatzer commented on #1222
@bencyoung ping

[2015-09-21 18:53] yishaigalatzer commented on #1178
@ripcurrent we haven't heard anything on this for over a month now.

I'm closing this, but feel free to resurrect the thread.

Note that we since release NuGet 3.2 (both command line and a vsix)

See - https://dist.nuget.org/index.html

[2015-09-21 18:53] #1178 closed

[2015-09-21 19:08] maartenba commented on #1257
Will the json be manually edited or does this come from a CI?

[2015-09-21 19:54] deepakaravindr commented on #1257
- It is preferable that dist.nuget.org is deployed in a way similar to v3's index.json
- In addition, the root index.html on dist.nuget.org should be based on the json file once it is available

[2015-09-21 21:45] yishaigalatzer commented on #1408
I'm guessing it is coming from here:

[code]

In what scenario can the solution be closed and the folder be null? The code obviously allows for that, see here:

https://github.com/NuGet/NuGet.VisualStudioExtension/blob/dev/src/PackageManagement.VisualStudio/IDE/VSSolutionManager.cs#L250

So it seems the settings check should simply check for null instead of looking at IsSolutionOpen

[2015-09-21 21:47] yishaigalatzer commented on #1402
1. Is "kinda" expected, the update process is to uninstall the package then install a new version. You killed visual studio (I get it is not your fault, and you had no choice), but that means NuGet has no chance to roll things back.

[2015-09-22 00:03] SergeyKanzhelev opened #1412 "Exception: An entry with the same key already exists. when importing Application Insights NuGet"
Here is nuspec dependencies. It seems that NuGet counts Microsoft.Bcl.Async twice when calculating references:

[code]

Stack:

[code]

Stack object:

[code]

[2015-09-22 02:09] AArnott commented on #1408
The exception is `ArgumentNullException` and it's thrown from `Path.Combine`.
The circumstance is that the user opens a `project.json` file but doesn't open the project or solution that contains it. VS _can't_ open a file by itself. There is always a solution and a "Miscellaneous Files" project to host a stray opened file. This anonymous solution has not been saved, and therefore has no solution d

[2015-09-22 03:26] Hawkeyes0 opened #1413 "Fail to install System.Data.SQLite.Core."
hi all,
    NuGet crashed when I install SQLite Core.
    The exception info:

System.NullReferenceException: 未将对象引用设置到对象的实例。
   在 NuGet.Protocol.Core.v3.GlobalPackagesFolderUtility.<AddPackageAsync>d__1.MoveNext()
--- 引发异常的上一位置中堆栈跟踪的末尾 ---
   在 System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   在 System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNoti

[2015-09-22 07:51] aosgo commented on #1401
Hi, http://nuget.codeplex.com/workitem/1690 and http://nuget.codeplex.com/workitem/4037 mention the same issues.

[2015-09-22 08:22] SetTrend opened #1414 "Couldn't update to current JSON NuGet package"
Trying to update a JSON reference in one of my solutions yielded the following exception (many of the messages shown are in German but you should get the picture from the framework version numbers):

[code]

I'm using Visual Studio 2015 and the NuGet Package Manager GUI.

[2015-09-22 08:26] maartenba commented on #1257
@deepakaravindr @csharpfritz @yishaigalatzer

Please review:
- Commit https://github.com/NuGet/NuGet.Services.Index/commit/569477cb327795b55b0f6492bd74b211bfc5495a
- Example of the page - https://nugetdist.blob.core.windows.net/test2/index.html
- Example of the JSON (which incidentally @xavierdecoster could also use to track downloads and map "latest" by date of download) - https://nugetdist.blob.

[2015-09-22 08:50] xavierdecoster commented on #1257
JSON looks good to me :+1:

[2015-09-22 08:52] xavierdecoster commented on #1257
Would it be meaningful to make this https://dist.nuget.org/index.json discoverable in https://api.nuget.org/v3/index.json?

[2015-09-22 10:10] yura-yaroshevich opened #1415 "When %TEMP% and %TMP% env vars overridden to a non-existing folder nuget fails"
[code]

The same error when the path ends with `\`

[2015-09-22 10:12] yura-yaroshevich commented on #1415
[code]

[2015-09-22 10:17] sandersaares commented on #1400
I can confirm the issue is fixed in 3.2.0.10516. Thanks!

[2015-09-22 10:17] #1400 closed, assigned to nobody

[2015-09-22 11:16] raphaelschnaitl opened #1416 "Add LicenseUrl again to the Package object returned by Get-Package"
There is a script which used to download all Licenses of all packages which does not work any more in VS 2015.

http://stackoverflow.com/questions/32638653/licenseurl-showing-up-empty-when-using-get-package-in-the-vs-package-manager-con/32647036#32647036

[2015-09-22 13:06] DzonnyDZ commented on #1409
My C++ project is actual C++/CLI project (pure managed library). It's just for some reasons written in C++/CLI. I just expected this to work since csxproj is MSBuild format.

[2015-09-22 13:41] donnib opened #1417 "Automatic Restore in Visual Studio does not restore the content from the nuget pack"
Hi,
I have removed all packs from my solution then i opened my solution and did a rebuild, VS restores all nuget packs but forgets about the contents of the contents folder within the nuget pack, actually it creates the folders but does not copy the files to the projects.

Anyone experiencing this ? Is there a work around ?

/donnib

[2015-09-22 14:12] csharpfritz commented on #1417
We need some more details to troubleshoot:

What project type are you working with?
What version of NuGet and Visual Studio are you using?

[2015-09-22 15:32] SergeyKanzhelev commented on #1412
See details investigation details [here](http://apmtips.com/blog/2015/09/21/nuget-error-an-entry-with-the-same-key-already-exists/).

Also the similar issue reproes on `'Microsoft.Azure.KeyVault` package. See [forum post](https://social.msdn.microsoft.com/Forums/en-US/b2f113a9-eeef-44d4-b9fe-d7aa98295d99/cant-install-nuget-package-in-vs2015?forum=AzureKeyVault&prof=required)

[2015-09-22 15:52] yishaigalatzer commented on #1409
I see the why you would have expected that.

C++/CLI projects where always somewhat of a fringe thing and thus never supported for this path.

[2015-09-22 15:55] yishaigalatzer commented on #1417
Restore is not going to add content to your project, content is added at install time.

Note: Content is not supported for project using project.json to define packages.

[2015-09-22 15:55] #1417 closed, assigned to nobody

[2015-09-22 15:56] ericstj opened #1418 "Nuget is using runtime.json from old package despite using assets from latest package"
Use the following project.json

[code]

With the following nuget sources

[code]

Restore will fail with

[code]

This is happening because nuget has selected System.IO.Compression 4.0.1-beta-23321 which no longer contains the implementation assembly for System.IO.Compression.dll, we've moved it out into a runtime specific package.  The runtime specific package isn't getting merged in however beca

[2015-09-22 16:02] yishaigalatzer commented on #1416
The package object in Visual Studio 2013, was an OData object that basically exposed the world. In Visual Studio 2015 where we don't support OData directly many of the properties where dropped.

So it makes complete sense to add necessary objects back. This seems like a lower priority issue compared with other work scheduled for Update I. But will gladly take a pull request for this.

As of this p

[2015-09-22 16:13] yishaigalatzer commented on #1257
Can we use a date only format? Since we don't have a mechanism to populated the json file, and we (for now) will do it by hand, it will be much nicer if we could make the date just a string.

[2015-09-22 16:14] yishaigalatzer commented on #1257
I don't think the dist/index should be discoverable through the api. Mostly because it feels like we are making a service quality promise on it.

[2015-09-22 16:16] maartenba commented on #1257
Would the time set to zeroes work? This one parses nicely to a proper date object as-is in both JS and .NET?

[2015-09-22 16:33] yishaigalatzer commented on #1415
What do you mean by ?

[2015-09-22 16:35] zarenner commented on #1405
Hi @yishaigalatzer, is there any priority set on this bug?  It's pretty high on our team's priority list.  We'd be happy to take it if there isn't any bandwidth on your side.

[2015-09-22 16:39] yishaigalatzer commented on #1414
This looks like an issue with newtonsoft.json install script.

Before digging deeper, I would suggest
1. Updating NuGet to 3.2
2. Restoring all packages first before running the update.

[2015-09-22 16:41] yishaigalatzer commented on #1413
Please provide some more input
1. What version of Visual Studio are you using?
2. What version of NuGet are you using (please update to 3.2 from the gallery)?
3. What project type are you installing the package into?
4. Can you share your project.json?

[2015-09-22 16:52] yishaigalatzer commented on #1405
It should be relatively high priority but not critical, if you want to send a PR, we will gladly take it.

Note that there are quite a few scenarios for fixing this issue properly.

[2015-09-22 16:59] yishaigalatzer commented on #1417
You can run update-package -reinstall to add stuff back

[2015-09-22 16:59] xavierdecoster commented on #1257
If the cdn stats parser is to use this index.json to recognize /latest versions as their effective versions, dropping time from the release date means the stats parser will incorrectly consider /latest downloads as a different version than it actually was at the time of download (although, there may not be a 100% accurate way of doing this). However, having the hour of day would potentially improv

[2015-09-22 17:12] yishaigalatzer commented on #1412
Worked with @SergeyKanzhelev on this, and we don't seem to be able to get a repro yet.

We do need to be able to throw a better exception if a package has multiple references to the same package (or a disfunctional server merges the dependencies for us).

But ultimately Sergey is getting a repro on this machine, so need to try and get one as well.

[2015-09-22 17:12] danliu opened #1419 "Validate and modify the sections of NuGet project.json schema"

[2015-09-22 17:14] danliu opened #1420 "Implement the project.json schema selector class and test E2E"
- [x] Verify that VS will not fail to load while WTE is not installed (Enterprise and community SKU)
- [x] Implement IJsonSchemaSelector and verify that it returns the correct url from schema.org
- [x] Verify E2E experience with Json editor loading the schema correctly
- [ ] Buddy testing

[2015-09-22 17:18] mstyura commented on #1415
@yishaigalatzer I mean I've tried setting TMP and TEMP dirs with trailing slash and without - the error is the same.

[2015-09-22 17:24] SergeyKanzhelev commented on #1412
After discussion with @yishaigalatzer it seems that it is a server issue. Some NuGet servers would merge dependencies and cause this problem. Cleaning NuGet caches at `%userprofile%\.nugget` and `%localappdata%\nugget` fixes the problem

[2015-09-22 17:25] deepakaravindr opened #1421 "'nuget.exe add' to add packages to offline feed"
'nuget.exe add' to add packages to offline feed

[2015-09-22 17:25] deepakaravindr opened #1422 "'nuget.exe delete' to delete packages from the offline feed"
'nuget.exe add' to add packages to offline feed

[2015-09-22 17:25] deepakaravindr opened #1423 "'nuget.exe init' to add packages from a folder based feed to the offline feed"
'nuget.exe init' to add packages from a folder based feed to the offline feed

[2015-09-22 17:26] mstyura commented on #1415
@yishaigalatzer oops, my fault, I have not created the specified dirs. But anyway it would be nice to have more informational error message, even for such a dummy mistake.

[2015-09-22 17:26] deepakaravindr opened #1424 "Update nuget.exe to honor the offline feed"
Update nuget.exe to honor the offline feed

[2015-09-22 17:27] deepakaravindr opened #1425 "Update NuGet VS Client to honor the offline feed settings"
Update NuGet VS Client to honor the offline feed settings

[2015-09-22 17:36] emgarten opened #1426 "nuget.exe network request optimizations"
nuget.exe restore and install makes multiple requests for index.json and the same registration blob data.

[2015-09-22 17:44] emgarten opened #1427 "Fix NuGet.Config casing"
nuget.exe looks for NuGet.config instead of NuGet.Config. This breaks on linux when using mono and is a regression from 2.8.6.

[2015-09-22 17:50] brthor opened #1428 "Nuget Restore Circular Dependency"
I've run into an issue where having a directory containing a project.json and named the same as one of the dependencies causes a Circular Dependency.

To repro create a directory structure like so:

System.Console (directory)
        -> project.json

Then put System.Console as a dependency in the project.json:

[code]

Running "nuget.exe restore ./project.json" on this will cause the following err

[2015-09-22 17:50] maartenba commented on #1257
How about dates in this format? `2015-09-16T00:00:00.000Z` - lets us be specific if we feel like being specific. And otherwise only date has to be populated with all the rest zeroes.

[2015-09-22 18:10] yishaigalatzer commented on #1257
I’m fine with the original stuff once we have deployment validation

[2015-09-22 18:15] yishaigalatzer commented on #1428
The though here is that project names and packages name are interchangeable. So Project to Project references are treated the same as package dependencies.

This is not yet a common pattern in nuget, and more so in DNX. But this is the path going forward

[2015-09-22 18:23] eric-swann-q2 commented on #439
+1 Ran into this same issue with ASP.Net 5 nuget deploy package.

[2015-09-22 18:27] brthor commented on #1428
Project to Project references make sense when you are referencing a different project. That behavior is pretty useful.

A project should never reference itself though, so my thought is why does the current project satisfy the dependency?

[2015-09-22 18:28] davidfowl commented on #1428
These are plans to let you specify the ID of the package in project.json but the behavior would be the same in either case. The project itself is part of your dependency graph.

[2015-09-22 18:41] deepakaravindr commented on #1257
I wonder if we should have a top-level property name which is fixed like "artifacts" similar to "resources" in https://api.nuget.org/v3/index.json. Currently, the property value "win-x86-commandline" is being used like a property name.

Perhaps, something like the following, where there is a JSON array of artifacts and each artifact has a name and a displayname. This means that all the property na

[2015-09-22 18:41] deepakaravindr commented on #1257
Rest looks good to me :shipit:

[2015-09-22 18:51] brthor commented on #1428
I appreciate the quick responses! I am working through this issue currently.

Specifying the ID of the package would be very useful as a workaround to this issue. Is this implemented or still planned?

In what situation though should the project currently being restored be used to satisfy a dependency? I don't think I understand the whole picture here.

I think the core of my question is why is th

[2015-09-22 18:58] davidfowl commented on #1428
Because projects and packages are going to be interchangeable in this new world. The entire idea is that nuget is fully integrated into the workflow (not an addon). With project.json NuGet understands the full P2P graph as well as the package dependencies that go into it. If you're using project.json with a csproj, it's conceivable that we can name things based on the csproj instead of the folder,

[2015-09-22 19:16] mcse3010 commented on #1428
I'm with @brthor on this one -- the current project should never be part of a dependency graph for the project you are building -- E.g. in this case, if you're building "Foo" and you have "Foo" in your project.json, the default behavior should be to ignore the project references (where projectname being built == reference name) and go straight to package resolution... In other words it should be a

[2015-09-22 19:45] brthor commented on #1428
@davidfowl Even though projects and packages are interchangeable, adding the current project to the dependency graph only seems to enable the scenario where a project references itself. The only other scenario I can think of is when Project A references Project B which references Project A, but this is a circular dependency and isn't supported anyways.

@mcse3010 This is exactly along the lines I

[2015-09-22 19:53] deepakaravindr opened #1429 "nuget.exe install on Mono fails intermittently with 'Invalid Chunked Data'"
nuget.exe install on Mono fails intermittently with 'Invalid Chunked Data'

nuget.exe v3.2.0 against a nuget v3 feed

Repro steps:
1. nuget.exe install <packageId>

Expected:
Installation is successful

Actual:
Fails intermittently with the following error:
'Invalid Chunked Data'

Reported by @NTaylorMullen

[2015-09-22 20:44] yishaigalatzer commented on #1428
I still don't get why we should add it with any urgency and why would you name your project system.console?

Special cases add complexity and we should be very careful with them. We do want to detect and for id circular dependencies which is what this code does.

[2015-09-22 20:53] donnib commented on #1417
@yishaigalatzer Ok, i am not sure i understand why they don't get restored. I thought that was the point with nuget packs that one could open a project and everything got restored as it was. As mentioned it's funny that the folders inside content does get created but the files are not copied. Is there a way to reinstall as you mention automatically when package restore takes place in the post-buil

[2015-09-22 21:01] emgarten commented on #1429
@ntaylormullen do you know what version of Mono travis-ci is running?

[2015-09-22 21:04] emgarten commented on #1415
Thanks for providing feedback. We'll take a look at improving this in a future release.

[2015-09-22 21:10] emgarten commented on #1411
This is normally a solution level package. Once that is fixed and this package shows up again we will take a look at detecting deprecated packages.

[2015-09-22 21:12] emgarten commented on #1410
@feiling can you find out how many packages this affects to determine if we should take this for 3.3?

[2015-09-22 21:14] csharpfritz commented on #1402
Investigating

[2015-09-22 21:16] emgarten commented on #1399
NuGet respects the group policy. There are ways to run global powershell profile scripts that would apply to the NuGet console, you could try changing the settings there to allow for a bypass, but this would need to be done locally by you.

[2015-09-22 21:16] #1399 closed, assigned to nobody

[2015-09-22 21:21] emgarten commented on #1392
@yura-yaroshevich would you try running msbuild from the same command line to see which version you get? NuGet uses the highest version on the path.

[2015-09-22 21:29] #1330 closed, assigned to nobody

[2015-09-22 21:36] csharpfritz commented on #1397
Tested with 3.2 and install runs very quickly in 2015.  We will investigate the Update and Uninstall actions with packages of this size

[2015-09-22 21:38] brthor commented on #1428
System.Console was purely an example. I could see this being an issue for any package authors who unwittingly create directory structures with the names of their package(s).

In my particular case, we had a large number of directory structures created in such a way to trigger this behavior. It took quite some time to figure out what was happening.

The most perplexing part is that it seems to pick

[2015-09-22 21:42] emgarten commented on #1305
@RichardJFoster were you able to get a repro?

[2015-09-22 21:43] #1301 closed, assigned to emgarten

[2015-09-22 21:46] emgarten commented on #1298
@mprevot are you installing into a managed C++ project? The error message looks correct, the package contains only a net20 folder. There is nothing in the package for native projects.

[2015-09-22 21:48] yishaigalatzer commented on #1428
Package authors would/should never name another one of their projects as the package name. This will be the package project itself.

Not against fixing it, it is just very low priority.

---

From: Bryan Thornburymailto:notifications@github.com
Sent: ‎9/‎22/‎2015 2:38 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Nuget Restore

[2015-09-22 21:49] emgarten commented on #1258
This has been fixed in NuGet 3.0.0.

[2015-09-22 21:49] #1258 closed, assigned to nobody

[2015-09-22 21:54] emgarten commented on #1243
@ericstj can you answer @evancox10's question on how these packages work in .net 4.6?

[2015-09-22 22:07] deepakaravindr commented on #1408
@AArnott , That makes sense. We will fix it.

Little bit of history on this issue below

In VS 2013, NuGet would treat the File->NewFile solution and an unsaved solution (when the project file is directly opened or if a newly created project is not saved by default) as the same. Meaning, NuGet will be unsupported in those scenarios. Because, NuGet needs the solution directory to install packages a

[2015-09-22 22:29] NTaylorMullen commented on #1429
https://travis-ci.org/aspnet/Razor/jobs/81499303#L968

We're using their alpha feed. Attempting to reproduce on their beta and stable feed now.

[2015-09-22 22:47] feiling opened #1430 "Minor UI update: update the top according to the new design"

[2015-09-22 22:48] feiling opened #1431 "Minor UI update: update the package list according to the new design"

[2015-09-22 22:50] feiling opened #1432 "Create new class AllSourceSourceRepository"
This is needed to bring back the "all" source as in 2.8

[2015-09-22 22:51] feiling opened #1433 "Implement FindPackageByIDResource to AllSourceSourceRepository"

[2015-09-22 22:52] feiling opened #1434 "Implement DownloadResourceto AllSourceSourceRepository"

[2015-09-22 22:53] feiling opened #1435 "Implement DependencyInfoResource by AllSourceSourceRepository"

[2015-09-22 22:53] feiling opened #1436 "Implement SimpleSearchResource by AllSourceSourceRepository"

[2015-09-22 22:54] feiling opened #1437 "Implement SearchLatestResource by AllSourceSourceRepository"

[2015-09-22 22:55] feiling opened #1438 "UpdateAll progress dialog implementation"

[2015-09-22 22:56] feiling opened #1439 "UpdateAll Cancellation implementation"

[2015-09-22 22:57] feiling opened #1440 "Disable user action when there are user actions being executed"

[2015-09-22 23:34] NTaylorMullen commented on #1429
This turned out to be an issue with the current mono on their alpha feed.

Work arounds:
- Use beta feed mono
- Use v2 NuGet feeds so v3 client doesn't use `HttpClient`.

[2015-09-23 02:55] mcse3010 commented on #1428
I certainly did not mean to imply any urgency -- it is definitely an edge
case -- a fairly obscure one at that, which has a known workaround...

[2015-09-23 03:11] ladylo50bear commented on #204
Delete

[2015-09-23 03:15] ladylo50bear commented on #1437
Delete

[2015-09-23 05:43] maartenba opened #1441 "Problems with Packages.Config"
_From @kabua on September 22, 2015 21:30_

Nuget states: `"Found packages.config. Using packages listed as dependencies"` However, the dependencies are missing from the corresponding nupkg file.

We have a framework that consists of 1 solution and it contains 4 projects. All of the projects contains direct and indirect dependencies. E.g. Some dependencies are required by the project and others are

[2015-09-23 06:07] donnib commented on #1417
@yishaigalatzer no idea on above ? What is the meaning with Content ? Maybe i am using it wrongly ?

[2015-09-23 06:20] Tasteful opened #1442 "Select multiple packages for update at once in "NuGet Package Manager""
Often when I is updating packages to newer versions I need to update multiple packages and it should be good if multiple packages can be updated at once instead of updating them one-by-one.

[2015-09-23 06:51] maartenba commented on #1257
- Updated JSON format a bit according to @deepakaravindr comments
- Added a JSON schema
- Updated TeamCity build configuration to run JSON schema validation

https://github.com/NuGet/NuGet.Services.Index/pull/19 (deploy via https://nugetbuild.cloudapp.net/viewType.html?buildTypeId=Gallery_NuGetServicesIndex_DeployDistNugetOrgIndexHtml)

[2015-09-23 06:51] #1257 closed, assigned to maartenba

[2015-09-23 07:51] petterek opened #1443 "Add refresh button in the package list."
Just a button that trigger a re-read of the content in the current source.

[2015-09-23 08:02] mprevot commented on #1298
Hey

I have the lastest Nuget ie., 3.2.6. I'm working in a c# 6 (4.6) project.

Install-Package Yeppp.CLR.Bundle -Pre fails the same way ( Install-Package
: Unable to find package 'Yeppp.CLR.Bundle')

M

2015-09-22 23:46 GMT+02:00 Justin Emgarten notifications@github.com:

[2015-09-23 09:48] SetTrend commented on #1414
I have downloaded the NuGet update now and installed the JSON package anew. The error didn't occur this time. So I believe everything is doing fine now.

Thank you for taking the time.

[2015-09-23 09:48] #1414 closed, assigned to nobody

[2015-09-23 12:25] RichardJFoster commented on #1305
No. Unfortunately not. We are still seeing it, but have not been able to nail down exactly what the root cause is. I'm going to close this case and I will open a new one when/if I am finally able to reproduce the problem consistently.

[2015-09-23 12:25] #1305 closed, assigned to nobody

[2015-09-23 16:24] ericstj commented on #1325
Sorry for the delay, have been out of town.

Consider that PCL requires a dll to compile against.  It needs one that supports all the targets.

So the project you are installing into is targeting .NETPortable,Version=v4.0,Profile=Profile24. Nuget translates this to  portable-net45+sl5.  If you check the PCL targeting dialog in the project properties of the project you'd see something similar.
![pc

[2015-09-23 17:20] brthor commented on #1428
Fair enough. Only a small number of people should hit this and the workaround is as simple as renaming your parent directory, so I agree this is not particularly urgent.

[2015-09-23 18:43] ericstj commented on #1243
What you're seeing is the actual set of implementation dependencies of the PCL library.  Normally these are hidden because the platform automatically adds them to the project.  In the new packages these serve the purpose of ensuring that the dependencies are compatible with the target framework.  All those system.\* packages have appropriate assets in them to communicate to nuget that the library

[2015-09-23 23:12] emgarten commented on #1442
Use the Update-Package command in the powershell console to do this.

[2015-09-23 23:52] zhili1208 opened #1444 "Design and implement IPackageManagerProvider API"

[2015-09-23 23:54] zhili1208 opened #1445 "Intergate IPackageManagerProvider into PackageManagement.UI"

[2015-09-23 23:55] zhili1208 opened #1446 "Bower/NuGet integration UI layout and warning Message"

[2015-09-23 23:57] zhili1208 opened #1447 "Implement PackageManagerProvider order sort"

[2015-09-24 04:12] AArnott opened #1448 "Package restore intermittently fails with "Unable to find version 'x' of package 'y'""
One example:
https://ci.appveyor.com/project/AArnott/nerdbank-gitversioning/build/1.0.5

I see this perhaps 5-10% of the time when I do a nuget restore -- simply rerunning the command resolve the issue. But it is distressing to automation that will frequently fail because of this. Why is nuget failing to find the package on nuget.org?

[2015-09-24 04:15] AArnott commented on #1448
never mind. apparently this particular package version comes from myget.org. So I'll take it up with them.

[2015-09-24 05:02] AArnott commented on #1448
Nah, reopening because I see this for packages coming from nuget.org as well. For example a nuget restore on another computer just failed after installing several packages but failing for others:

[2015-09-24 06:36] Tasteful commented on #1442
`Update-Package`will update all packages. I wan't to update selected packages and as I remember the `Update-Package` will not take a list of packages to update.

[2015-09-24 06:53] erikbra commented on #1062
This one doesn't by any chance fix #1017 as a byproduct?

[2015-09-24 07:52] emgarten commented on #1448
When you see it fail with nuget.org are you using the api.nuget.org/v3/index.json or nuget.org/api/v2/ as your source?

[2015-09-24 08:07] Stazia commented on #974
It worked for me as well:) thank you!

[2015-09-24 08:14] emgarten commented on #1448
I am seeing this also now when restoring your repo using nuget.org v2. With v3 it works fine. The correct results are coming back from the OData feed, but then it seems to fail during the download.

[2015-09-24 09:43] ObsidianPhoenix opened #1449 "disableSourceControlIntegration not honoured in VS 2013"
When running a build in VS2013, nuget restores the missing packages, and then adds the directories to source control automatically, despite the config dictating that this not be the case.

I'm using version 2.8.60723.765 of the nuget extension, and have the following in a nuget.config file at the solution root.

[code]

I've tried setting the value (as you can see) in the config root, _and_ under

[2015-09-24 15:05] kamenlitchev opened #1450 "NuGet 3.2 dependencies not added to Output for UWP Class Library"
In Visual Studio 2015 (14.0.23107.0) I have a Universal Class Library for UWP. In it I have Json.NET dependency. However, as of lately the Newtonsoft.Json.dll does not seem to get added to the Debug/Release output directory. As a result simply copying the DLLs in the output directory in order to make a "release" does not work.

NuGet 3.2
Windows Software Development Kit - Windows 10.0.26624

[2015-09-24 15:15] tombrown571 opened #1451 "VS 2015 update 5, Nuget fails to install"
I have been having problems with NuGet.  I am unable to uninstall it or update it. "The process cannot access the file because it is being used by another process." - same error in both cases

I have been blocked all day with this issue - Now just want to delete all traces of package manager from my system so I can load it properly.  Of course Ive tried rebooting etc.

I have tried:
Admin command

[2015-09-24 15:28] tombrown571 commented on #1451
Additional Data:  VSIXInstaller Log - attempt to install.

24/09/2015 16:25:47 - Microsoft VSIX Installer
24/09/2015 16:25:47 - -------------------------------------------
24/09/2015 16:25:47 - Initializing Install...
24/09/2015 16:25:47 - Extension Details...
24/09/2015 16:25:47 -   Identifier      : NuGet.67e54e40-0ae3-42c5-a949-fddf5739e6a5
24/09/2015 16:25:47 -   Name            : NuGet Packag

[2015-09-24 16:48] pranavkm commented on #1427
Related: https://github.com/aspnet/dnx/issues/2747

On Linux, DNX looks for multiple casings of nuget.config and picks the first one that matches:
1. `nuget.config`
2. `NuGet.config` // v3 behavior
3. `NuGet.Config` // v2 behavior

[2015-09-24 17:02] analogrelay commented on #1427
DNX isn't going to be able to use NuGet's configuration code until we get something done to fix this. Is there an ETA on it? #1847 is blocked on it because we need to switch to NuGet.Configuration to fix it and we can't because Linux behavior is broken :(.

We're already punting the bug out to RC1, so we've got a few weeks, but I wanted to raise the profile of this bug a little so it can be fixed

[2015-09-24 17:28] yura-yaroshevich commented on #1392
@emgarten on path the higher version of MSBuild is 12. How nuget will work if there is no MSBuild in PATH at all? Is it possible not to be restricted by PATH?

[2015-09-24 17:42] yishaigalatzer commented on #1417
There is a misunderstanding here.

NuGet restores job is to download the packages into the packages folder and that is it.

Content is added to a users project at install time and the user is expected to include it in source control, and it is not expected that it gets added back on restore.

[2015-09-24 18:01] muratg commented on #1427
cc @Eilon

[2015-09-24 18:44] yishaigalatzer commented on #1298
Sorry, I can't see to reproduce this issue.

Visual Studio 2015 + NuGet 3.2

Console Application 4.6
Class Library 4.6 nuget source - https://www.nuget.org/api/v2
Class Library 4.6 nuget source - https://api.nuget.org/v3/index.json

Can you check your nuget sources?

![image](https://cloud.githubusercontent.com/assets/1238711/10083086/b015233a-62b1-11e5-872f-504f6e80aef0.png)

[code]

[2015-09-24 19:14] AArnott commented on #1448
I'm glad it's repro'ing for you. I hope it's something that can be fixed.

[2015-09-24 19:15] yishaigalatzer commented on #1243
Would be really nice if they didn't show up in a NET46 project, it makes the packages.config explode in size for no apparent reason.

@ericstj could you guys consider modifying the package to include a net46 TFM, and remove the extra dependencies?

[2015-09-24 20:09] yishaigalatzer commented on #1062
It's an unrelated code path, we will need to take a look at #1017 separately (at least to evaluate if it was actually fixed or not)

[2015-09-24 20:17] mprevot commented on #1298
Here:

https://api.nuget.org/v3/index.json

2015-09-24 20:44 GMT+02:00 Yishai Galatzer notifications@github.com:

[2015-09-24 21:00] danliu commented on #1420
Assign to Fei for Buddy testing

[2015-09-24 21:01] danliu opened #1452 "Add functional tests for project.json schema feature"

[2015-09-24 21:04] danliu opened #1453 "Make Microsoft.JSON.Core.dll dependency a NuGet Package"
And use that in the source code

[2015-09-24 21:15] NaomiN commented on #980
Ok, it looks like I don't really have that problem and it was the separate bug that caused the controller's Init method to not fire. The bug is related with out current DateTime Picker directive that sets dirty state.

[2015-09-24 21:15] NaomiN commented on #980
Oops, sorry, wrong issue.

[2015-09-24 21:31] dsplaisted opened #1454 "Runtime-agnostic native folders are not supported"
1. Create a NuGet package with some files in a native folder at the root level.
2. Reference the NuGet package from project.json in a .csproj where CopyNuGetImplementations will be true (either by setting the MSBuild property manually in the .csproj, or because the output type is an exe or AppX).
3. Restore
4. Build

**EXPECTED:** Files from the native folder in the package are deployed to the out

[2015-09-24 21:31] deepakaravindr opened #1455 "NuGet.Xplat - init and add commands"
nuget.exe add and nuget.exe init - Concurrency compatible with CoreCLR

[2015-09-24 21:39] deepakaravindr opened #1456 "nuget.exe add and init should add a marker file to feed root"
nuget.exe add and init should add a marker file to feed root

[2015-09-24 23:07] ericstj opened #1457 "Nuget chooses wrong RID asset when no matching RID is present"
I suspect something gone afoul in your routing logic, perhaps you aren't ensuring that the lib/{tfm} pattern is rooted?

Package has the following content:

[code]

When resolving for `.NETCore,Version=v5.0` it selects this runtime specific dll, despite no runtime being part of graph walk.  When resolving for `.NETCore,Version=v5.0/win7-x86` it also selects this runtime specific DLL despite win8-a

[2015-09-25 00:46] yishaigalatzer commented on #1454
Can you share the folder structure?

[2015-09-25 01:03] davidfowl commented on #1454
What is a runtime agnostic native folder?

[2015-09-25 01:03] yishaigalatzer commented on #1454
I have no idea ☺

From: David Fowler [mailto:notifications@github.com]
Sent: Thursday, September 24, 2015 6:03 PM
To: NuGet/Home Home@noreply.github.com
Cc: Yishai Galatzer yigalatz@microsoft.com
Subject: Re: [Home] Runtime-agnostic native folders are not supported (#1454)

What is a runtime agnostic native folder?

—
Reply to this email directly or view it on GitHubhttps://na01.safelinks.protecti

[2015-09-25 01:19] dsplaisted commented on #1454
@yishaigalatzer @davidfowl It's a native folder that should apply to any runtime.  We'd like to use it to deploy the xunit runner (which is a managed .exe) without having to use .props files. See dotnet/buildtools#276.

The ManagedCodeConventions [seem to indicate](https://github.com/NuGet/NuGet3/blob/1eee015512f0ee7f2685f31102f31613ad09146a/src/NuGet.Client/ManagedCodeConventions.cs#L304) that a

[2015-09-25 01:22] yishaigalatzer commented on #1454
A managed exe doesn't work everywhere, this seems wrong

Sent from my Windows Phone

---

From: Daniel Plaistedmailto:notifications@github.com
Sent: ‎9/‎24/‎2015 6:19 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Runtime-agnostic native folders are not supported (#1454)

What is a runtime agnostic native folder?

@yishaigalatze

[2015-09-25 03:03] yishaigalatzer opened #1458 "Improve error message when uninstall encounters locked files"
![image](https://cloud.githubusercontent.com/assets/1238711/10092059/2ffb2f5a-62f7-11e5-8fd5-42c6b14fcc5a.png)

Users mistake this for a fatal error, where it is actually pretty innocuous.

Can't come up with a better message at this point. But its worth a discussion

[2015-09-25 07:41] jmezach opened #1459 "20 character limit for prerelease version strings"
I've just hit a limitation when creating NuGet packages when the prerelease version part is longer than 20 characters, for instance: 1.0.0-alpha20150925093600-FeatureX. I was able to find an issue [3426](https://nuget.codeplex.com/workitem/3426) on the CodePlex site that describes this behavior, but wasn't able to find one here.

I can sort of understand why this limitation exists when you push pa

[2015-09-25 09:03] xavierdecoster commented on #1156
Fixed.

## V3 pointing to api.nuget.org/v3/index.json

![v3](https://cloud.githubusercontent.com/assets/880728/10096823/061c6608-6375-11e5-886f-70e547f1d3ed.png)

## V2 pointing to nuget.org/api/v2

![v2](https://cloud.githubusercontent.com/assets/880728/10096825/0ac230ca-6375-11e5-8128-58f064a85eca.png)

[2015-09-25 09:03] #1156 closed

[2015-09-25 13:28] phil-scott-78 commented on #1458
This is where I get antsy when I see this error - what exactly failed to uninstall? Did we fail to remove entries from the packages.config? Csproj file? Really it comes down to this - if they do a commit and push before restarting visual studio will that leave the project in an invalid state?

I suspect what's happening is the csproj and packages.config actually do get updated properly and what fa

[2015-09-25 13:35] johncrim commented on #627
A couple problems with content files in NuGet 2:
- The NuGet project shouldn't "know" or force where the content files are located in the project.  The classic example, which drives me nuts, is putting javascript files in the {{./Scripts/}} directory.
- Copying files from the nuget package to the target project has the implication (or accidental result) of adding nuget content files to the project

[2015-09-25 14:08] tom-englert commented on #304
@yishaigalatzer any news about this?

[2015-09-25 14:43] NeverOddOrEven commented on #1342
I am also getting this error when I try to update package paths in a csproj file:
Update-Package [packagename] -IgnoreDependencies -Reinstall -ProjectName [projectname]

[2015-09-25 14:48] dsplaisted commented on #1454
@yishaigalatzer It should work everywhere that the package's dependencies work, just like something in lib/dotnet.

[2015-09-25 15:19] yishaigalatzer commented on #304
I thought we are waiting for you on this. What is blocking you?

Sent from my Windows Phone

---

From: Tom Englertmailto:notifications@github.com
Sent: ‎9/‎25/‎2015 7:08 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] nuget pack -symbols: Missing source file error when the package contains XAML (#304)

@yishaigalatzerhttps://na0

[2015-09-25 15:20] yishaigalatzer commented on #627
John - we totally agree. In fact we had another design meeting on this last night following very similar lines.

@emgarten I going to post design notes on the wiki

Sent from my Windows Phone

---

From: John Crimmailto:notifications@github.com
Sent: ‎9/‎25/‎2015 6:35 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] A possible way

[2015-09-25 15:25] yishaigalatzer commented on #1458
It is typically dlls in the packages folders. If you check them in then a restart is required.

I disagree with forcing a restart, that's just too  intrusive, but perhaps a nicer message like: Several files are locked and we recommend a restart to finish uninstalling the packages. With a tool tip showing what files are locked and if they are under source control.

The message is not small today, i

[2015-09-25 15:35] vtbassmatt opened #1460 "Different install behavior when specifying version"
This is nuget.exe 3.2.0.10516.

I have three private feeds configured in addition to nuget.org. `nuget install <id>` works for a package that is only in the NuGet Gallery, but fails if I specify the version number.

[code]

[code]

This is intermittent: Sometimes it can correctly pull from the NuGet Gallery even with a version specified.

[2015-09-25 15:36] csharpfritz commented on #1458
Can we output a detailed list of the locked files in the package manager
log window?

[2015-09-25 17:25] yishaigalatzer commented on #1460
Based on this input, I'm going to guess the following: If you do provide your username and password things do work.

This is why: NuGet can't guess where the package comes from and accesses all sources in parallel, this is a safe race (unless you ^C it and abort the whole thing).

[2015-09-25 17:27] yishaigalatzer commented on #1459
The issue with long names is that they eventually leads to pathtoolong exceptions when laying out the packages. So we don't plan to remove this limitation, it is entirely within reason.

Also please hold off on Pull Request until the issue is discussed, it will save the frustration of rejected PRs.

[2015-09-25 17:27] #1459 closed, assigned to nobody

[2015-09-25 17:28] AArnott opened #1461 "UWP restore adds all target files when the build folder mixes TFM folders and root level targets"
After converting a project.json-based class library to be a portable library, nuget restore no longer puts *.nuget.props and *.nuget.targets files in my project directory.

[Repro project](https://github.com/aarnott/nugetissue1461)

[2015-09-25 17:34] yishaigalatzer commented on #1459
To be honest, we should revisit this once dotnet fixes the pathtolong issue on windows (and I'm hearing they just might).

Until then this will just create more pain than value.

[2015-09-25 17:42] zhili1208 commented on #1342
what's your package source and nuget version?

[2015-09-25 18:08] erikbra commented on #1062
OK, thanks. See that it didn't make 3.2 beta. It's really annoying for us... :) Is this i bug in the VS plugin, or in Nuget itself, you think?

[2015-09-25 18:19] NeverOddOrEven commented on #1342
Package Manager Console Host Version 2.8.60723.765
NuGet Version: 2.8.60717.93

Oddly enough, when I change my source to nuget.org the command works.
When I change my source to an artifactory 3.4.1 host, it results in:

Update-Package : The current value 'NuGet.DataServicePackage' type is not compatible with the expected 'System.String' type.
At line:1 char:15
- Update-Package <<<<  log4net -Reins

[2015-09-25 18:37] zhili1208 commented on #1342
DataServicePackageRepository.Exists(String packageId, SemanticVersion version) is checking whether this package exists in server. it sent an OData query to get this package but didn't get right response. From my understanding, it looks like a server issue.

[2015-09-25 18:44] phil-scott-78 commented on #1458
I do at least get the error message which contains the file which got me started on my debugging

[code]

This is actually pretty easy for me to reproduce. I get it about 50% of the time when doing any upgrades to a nuget package. So I ran some procmon. Nothing stood out that much besides one cultprit - it looks like nCrunch was reading from these folders around the same time. I disabled nCrunch a

[2015-09-25 18:44] NeverOddOrEven commented on #1342
Thanks zhili. I appreciate the help.

[2015-09-25 19:09] ghost commented on #1367
Same Mistake.

Attempting to gather dependencies information for package 'AutoMapper.4.0.4' with respect to project 'Amaggi.Opus.Web.Api', targeting '.NETFramework,Version=v4.5'
Attempting to resolve dependencies for package 'AutoMapper.4.0.4' with DependencyBehavior 'Lowest'
Resolving actions to install package 'AutoMapper.4.0.4'
Resolved actions to install package 'AutoMapper.4.0.4'
Removed pack

[2015-09-25 19:43] nanderto opened #1462 "Commandline and UI give different results when installing a package."
have set up a private feed for nuget on our TFS server, using the nuget server, nuget package. This has been succesfuly running but now I need to move it to a new server.

On the new server I can use the settings to point to the new server. I can get the packages to show up in the UI, but when I attempt to download I get an error

Unable to connect to the remote server

from the command line I get

[2015-09-25 19:46] maartenba opened #1463 "Dependency Versioning..."
_From @kabua on September 25, 2015 17:26_

We are using Nuget for in-house development, thus we have public packages co-mingled with private packages. We need the ability to specify that we want the **latest version** up to a given breaking change. We have multiple versions of our internal software components that different teams are using. For example, some teams (or components) are using the old

[2015-09-25 21:44] veleek opened #1464 "Unable to find package 'PowerThreading'"
I'm trying to install the [PowerThreading package on Nuget.org](https://www.nuget.org/packages/PowerThreading/) but Install-Package always throws an error saying it can't find the package.

Even more interesting, when I specify a version, it seems to be aware that version exists but fails after gathering dependencies.  Output from the Package Manager Console, running the latest version of NuGet in

[2015-09-25 22:41] emgarten commented on #1464
Which nuget.org source are you using v2 or v3?

[2015-09-25 22:55] yishaigalatzer commented on #1367
Can any of you share a project (and if that doesn't work) an azure VM where we can try and reproduce this issue? We aren't able to reproduce it in our "lab"

[2015-09-26 00:42] remcomulder commented on #1458
It's definitely possible that NCrunch could be responsible for short-term file locks during large updates from NuGet.

Best practice is that you should always disable NCrunch when updating NuGet packages.

There is an active feature request for NCrunch to suppress all activity while NuGet is updating packages - https://ncrunch.uservoice.com/forums/245203-feature-requests/suggestions/5719302-pause-

[2015-09-26 00:45] analogrelay commented on #965
I would actually suggest moving to `build\any\...` for these, since the **optional** two-layer folder structure has been the reason NuGet has to update the server before packages can be uploaded for a new framework, even though the server doesn't really care. Isn't the idea of the Managed Code Conventions 2.0 to require a sub-folder, even if that sub-folder is just `any`?

[2015-09-26 01:29] jamesqo opened #1465 "NuGet reports Windows 8 packages as "Windows 0.0""
I've run into a bug under the new ASP.NET 5 `project.json` format where the package version will be listed as **Windows 0.0** ([example](https://www.nuget.org/packages/Enu/)) when uploaded to the website. Steps to reproduce:

**1.**

[code]

**2.** Change the `project.json` package ID to a different name
**3.** Open the solution in Visual Studio and build
**4.** Upload it to [nuget.org](https://ww

[2015-09-26 01:41] veleek commented on #1464
I have V3 configured.

[2015-09-26 02:43] emgarten commented on #1464
@bhuvak it looks like this package is missing from the registrations.

@veleek you can work around this by using https://www.nuget.org/api/v2/  instead of the v3 source.

[2015-09-26 05:03] AArnott commented on #1461
When I modify the package I'm depending on to have a build folder with various TxF folders in it, the imports are added, but _all_ the .props and .targets files, from _all_ the folders are imported to the project instead of just the one from the most appropriate TxF folder.

[2015-09-26 06:15] tom-englert commented on #304
I only have the version using SymbolSource.Microsoft.Cci.Metadata, but I don't have your go for using this, because of unresolved license questions.
There had been discussions about alternatives, but none of them is working.
On Sept. 4 your last comment was

So I'm still waiting on this.

[2015-09-26 07:24] tmat commented on #304
@tom-englert I'd strongly recommend using Microsoft.DiaSymReader (interop interfaces) and Microsoft.DiaSymReader.Native (native x-copy deployable implementation of those interfaces, no need to do any COM registration) nuget packages -- the former already shipped, the latter will likely ship with Update 1.

You can find examples of how to use the interfaces here:
https://github.com/dotnet/roslyn/tr

[2015-09-26 08:33] jimmymain opened #1466 "error message updating packages when there is at least one pre-release package."
Hi,

I have a pre-release package installed (stylecop.analyzers)
If I type `update-package`, I get the error below.

This means I have to supply the `-pre` parameter, and now every single package in the solution will be updated to the latest pre-release. This is **not** intuitive.

The default behaviour should be to ignore the updates to packages that are pre-release, instead of complaining that t

[2015-09-26 09:43] o-o00o-o commented on #627
Yes, If the actual paths to the package folders could be made available via MSBuild properties at solution level (so available for every project in the solution regardless of the individual nuget support), then in my case I would be able to avoid having these as content.

My non-nuget supporting SSDT project would then be able to refer to the .targets and other files I need directly to the correct

[2015-09-26 13:23] alexangas opened #1467 "NuGet deletes packages still in use from source control"
Hello, we are seeing a change in behaviour between VS2013 and VS2015 (NuGet 3.2.60914.10516). The scenario is:
- Multiple solutions, each with their own NuGet.config file
- This file has `repositorypath` set so that packages are shared between solutions, instead of each one having its own copy
- The `packageRestore` options `enabled` and `automatic` are both set to true
- `disableSourceControlInte

[2015-09-26 15:45] tom-englert commented on #304
So using an alpha pre-release (Microsoft.DiaSymReader.Native 1.1.0-alpha2) is OK?

[2015-09-26 19:34] veleek commented on #1464
I'll give it a shot but it may be a bit more complicated because all the other team members are going to need to re-configure their machines and we'll have to get these settings propagated to our build team as well.

[2015-09-26 20:36] AArnott opened #1468 ""nuget.exe restore" crashes with InvalidOperationException"
1. Unzip NuGetIssue1468 from [this folder](https://onedrive.live.com/redir?resid=63D0C265F96E43D!2535113&authkey=!AJXfJBdo3jWsMzk&ithint=file%2czip) to c:\temp\repro
2. cd /d c:\temp\repro\project
3. c:\temp\repro\pkgsrc\nuget3.exe restore project.json -Source c:\temp\repro\pkgsrc

Output:

[code]

When I attach a debugger to the process, this is the stack trace of the exception:

[code]

[2015-09-26 21:32] yishaigalatzer commented on #304
@tmat are we going to have an RTM version for this package any time soon? I much prefer relying on public RTM bits? Alternatively we can fork the code if its under the right license.

[2015-09-26 22:00] tmat commented on #304
@yishaigalatzer When do you need it?

[2015-09-26 22:03] yishaigalatzer commented on #304
If it was RTM within a month, that would work perfectly

[2015-09-26 22:25] tmat commented on #304
hopefully it won't take that long.

[2015-09-27 03:09] yishaigalatzer commented on #304
Then lets get on with this

[2015-09-27 06:32] Sunitasahoo commented on #974
This version worked for me :) Thank you so much.
2.8.7 for VS 2013:
https://github.com/NuGet/Home/releases/download/2.8.7/NuGet.Tools.vsix

[2015-09-27 11:25] NN--- commented on #1339
@yishaigalatzer What is the replacement for content packages ?
All ![DefinitelyTyped](https://github.com/borisyankov/DefinitelyTyped) packages are content packages.

[2015-09-27 18:16] yishaigalatzer commented on #1339
There is no deprecation for existing scenarios. So if you use packages.config it will work the same as today.

When it comes to project.json we at building a new feature for shared sources. We discussed language version support and have provisions for it but that's not going to be available in the first version supporting it.

Cc @pilchie @emgarten