[2020-11-16 14:11] vsfeedback opened #10279 "Nuget packages are not restored when switch from a branch to another one"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Nuget-packages-are-not-restored-when-swi/598462)._

---
Hi,

When I switch switch from a branch to another one with the GUI in VS 2019, the nuget packages are not restored.

Bruno

---
### Original Comments

#### Feedback Bot on 6/10/2019, 00:34 AM:

<p>We have directed your feedback to

[2020-11-16 14:28] vsfeedback opened #10280 "Nuget source order not changed after using the options UI to try to effect a change"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Nuget-source-order-not-changed-after-usi/658557)._

---
If you use the Options UI and change a path or the boolean as to whether a particular nuget source is used, the changes are saved. However, if you reorder the paths using the up/down arrows the new order is not preserved.

BTW, the

[2020-11-16 14:43] vsfeedback opened #10281 "Incorrect error message, shows a format string rather than the expanded string"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Incorrect-error-message-shows-a-format-/645356)._

---
When attempting to build a Xamarin.Forms project for Android, I get the following message. Note the {0} at the end, which is clearly intended for string. Format, but which presumably has just been used as is, rather than being used

[2020-11-16 14:44] dominoFire commented on #10281
Possible issue:

https://github.com/NuGet/NuGet.Client/blob/65abcc61f73ab3d87928495f789ec74011edde7f/src/NuGet.Clients/NuGet.CommandLine/Common/MSBuildProjectSystem.cs#L371

[2020-11-16 14:47] vsfeedback opened #10282 "Application.exe.config being overwritten during build"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Applicationexeconfig-being-overwritten/610276)._

---
During the build of our application, app.config gets copied to &lt;application&gt;.exe.config, this is then overwritten with a binding redirect.
 This is only happening on two out of four machines, on two it builds as normal, copying

[2020-11-16 15:03] vsfeedback opened #10283 "Can't minimize VS 2019, when Nugat Package Console is active"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Cant-minimize-VS-2019-when-Nugat-Packa/657195)._

---
When multiple package updates are active and I try to minimize Visual Studio the application get automatically the focus back.
So I'm not able to continue working on other topics, while waiting for the Nuget Package Updates.

---
###

[2020-11-16 15:08] vsfeedback opened #10284 "Error: The Package Manager Console requires PowerShell 2.0 runtime, which is not detected on this machine."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Error:-The-Package-Manager-Console-requi/594211)._

---
As it seems, the issue fixed in VS 2017 still persists in VS 2019. The package manager still shows the error of a missing Powershell installation. As I am running on Windows 10, having PowerShell 5 as default, this is odd. Also: My

[2020-11-16 15:28] vsfeedback opened #10285 "VS2019 Nuget Package Manager can not show Project Name, but relative path of .csproj file."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/VS2019-Nuget-Package-Manager-can-not-sho/618165)._

---
IDE: **Visual Studio 2019 16.1.3**
NuGet **Package Manager: 5.1.0**
Platform: **C#, .Net Framework 4.8**

### What:
The Nuget Package Manager can not show the name of Project, but the relative path of *.csproj file, just like in my

[2020-11-16 15:47] marcin-krystianc opened #10286 "Restore: improve performance by avoiding linear search in the implementation of the "Nearest wins" rule"
## Details about Problem
I think that the current implementation of [nearest wins](https://docs.microsoft.com/en-us/nuget/concepts/dependency-resolution#nearest-wins ) rule can be improved so it has better performance.

Each time the graph walking algorithm is about to visit a child node (a dependency of a node) it checks whether that child node is not eclipsed or downgraded by any of the dependen

[2020-11-16 17:50] slang25 commented on #10278
After doing some more testing, it's not related to sdk version or tfm, the problem was on our side. There is no change in behavior, please disregard this issue 🙂

[2020-11-16 18:30] TomGrube opened #10287 "Unable to download from api.nuget.org"
For months we've been able to successfully download NuGet packages when building our projects.  Starting on 11/13/2020, we started receiving the errors listed below and are unable to complete a build.  Our network provider said the calls are leaving our network but are getting rejected.  Any help would be appreciated.

Retrying 'FindPackagesByIdAsync' for source 'https://api.nuget.org/v3-flatconta

[2020-11-16 18:37] #10153 closed, assigned to donnie-msft

[2020-11-16 18:40] donnie-msft commented on #9578
Related(ish): https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1245157

[2020-11-16 19:48] KUTlime commented on #7012
@nkolev92
How about fix it?
I came across this problem when I deleted the `C:\Microsoft\Xamarin\NuGet\`. Surprise, surprise,... The bug is still there. How about find a correct repo (a.k.a project) which is doing this problem and get rid of it?

I'm building a .NET Framework 4.7.2 application, completely unrelated to Xamarin a still I have these messages all over my repos.

[2020-11-16 19:53] #6411 closed, assigned to nobody

[2020-11-16 21:47] EugeneKrapivin commented on #10074
I've just researched the same issue in my projects trying to do exactly the same thing.

[2020-11-16 22:21] zkat commented on #10278
Ok! 👍🏻

[2020-11-16 22:21] #10278 closed, assigned to nobody

[2020-11-16 23:22] dtivel opened #10288 "Cannot open Tools | Options... | NuGet Package Manager | Package Sources before anything else"
**This is in feature branch dev-feature-OE.PMUI.**

Repro steps:

1.  Launch Visual Studio.
2.  Navigate on the main menu to Tools | Options... | NuGet Package Manager | Package Sources.

Result:  The page will fail to load.

[2020-11-17 00:36] sylvesp opened #10289 "Nuget 5.8.0.6930 cannot handle projects that support multiple .net framework versions"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): Nuget 5.8.0.6930

Worked before? If so, with which NuGet version: 5.7

## Detailed repro steps so we can see the same problem

1. Create a .net .vcsproj project that supports multiple .net framework versions

2. Try to have the project build on Azure Devops with the

[2020-11-17 01:48] kartheekp-ms commented on #9114
Update from dotnet/runtime team - Instead of reading cert.PrivateKey you should call cert.Get{RSA|DSA|ECDsa}PrivateKey().

In addition to only supporting the legacy CAPI crypto engines, the PrivateKey property has the characteristic you’ve observed… because the same object is returned for all calls there’s no way of knowing if someone still had an expectation of an active reference.  The Get*Priva

[2020-11-17 02:15] nkolev92 commented on #10101
Related https://github.com/NuGet/Home/issues/8985 as well.

It's not something I'm planning to work on myself, but I'd be happy to provide feedback and help with the investigation as necessary.

[2020-11-17 02:47] kartheekp-ms commented on #6945
Unable to reproduce this issue on latest tooling. Version 16.9.0 Preview 2.0. Hence closing this task.

![image](https://user-images.githubusercontent.com/52756182/99340059-20e59e00-283c-11eb-97b0-03fb26a76478.png)

[2020-11-17 02:47] #6945 closed, assigned to kartheekp-ms

[2020-11-17 03:00] nkolev92 commented on #10289
Hey @sylvesp

Can you post the contents of your project file/repro project?
I'm not familiar with `vcsproj`.

Using a regular SDK based csproj, I am not able to repro this when using nuget.exe 5.8.0

[code]

[2020-11-17 03:16] nkolev92 commented on #8375
I think this is a great investigate/intro bug for anyone interesting in restore :)

Retitling.
Reproducible on commandline as well!
[8375.zip](https://github.com/NuGet/Home/files/5551056/8375.zip)

[2020-11-17 05:42] nkolev92 commented on #8071
Confirmed that this is fixed.
In here, https://github.com/NuGet/NuGet.Client/blob/a4c9d63bf942f1df1ba9486a87bad2e4b6888488/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/CpsPackageReferenceProjectProvider.cs#L77-L78 the checks are `CPS` and `PackageReferences` support.

[2020-11-17 05:42] #8071 closed, assigned to nkolev92

[2020-11-17 05:43] nkolev92 commented on #8071
Please note that this was fixed in 5.9, so it will be in the next Visual Studio 16.9 preview.

[2020-11-17 06:29] nkolev92 commented on #6936
It's been a while since we've investigated this issue.
Based on the links here, I think the original problem here is likely by the fsharp targets.

The related problem in #6367 is pretty likely https://github.com/NuGet/Home/issues/9864, which we're hoping to fix soon.

[2020-11-17 06:29] #6936 closed, assigned to nobody

[2020-11-17 06:55] nkolev92 commented on #6367
Dup of https://github.com/NuGet/Home/issues/9864.

tldr; when duplicates includes of PackageReference items exist, commandline picks first, VS picks second.
a
![bug](https://user-images.githubusercontent.com/2878341/99356029-44214500-285e-11eb-9985-589d9090f8d7.png)

I understand the other issue is newer, but it contains more engagement.

I have confirmed that my suspicion is correct by putting a

[2020-11-17 06:55] #6367 closed, assigned to nobody

[2020-11-17 07:00] nkolev92 commented on #9864
I have confirmed at least 2 other bugs to the same root cause.
I'd expect that at least 2 more might be hitting this.
Bumping the priority on this issue based on that.
no-op is very important for us, especially across same version of commandline + VS restore, bumping the pri per that.

[2020-11-17 07:08] nkolev92 commented on #4376
If not fixed yet, likely a tandem with https://github.com/NuGet/Home/issues/9402.

[2020-11-17 07:28] nkolev92 commented on #6047
Can go together with: https://github.com/NuGet/Home/issues/9402

[2020-11-17 07:30] nkolev92 commented on #7245
Restore Triage: Bumping priority as a good `quality` task.

[2020-11-17 09:51] yzc597425449 opened #10290 "[nuget.org] 无法加载源 https://api.nuget.org/v3/index.json 的服务索引。"
还原 NuGet 程序包时出错: 无法加载源 https://api.nuget.org/v3/index.json 的服务索引。
[nuget.org] 无法加载源 https://api.nuget.org/v3/index.json 的服务索引。
  发送请求时出错。
  基础连接已经关闭: 未能为 SSL/TLS 安全通道建立信任关系。
  根据验证过程，远程证书无效。

PM> Install-Package Dapper -Version 2.0.35
正在还原 D:\2020.11.16\PDMcontrol\PDMcontrol\PDMcontrol.csproj 的包...
Install-Package : 无法加载源 https://api.nuget.org/v3/index.json 的服务索引。
  发送请求时出错。
  基础连接已经关闭: 未能为 SSL/TL

[2020-11-17 16:08] erdembayar commented on #10170
@nkolev92
As I tried to improve dg Spec evaluation, it's already quite fast for Netcore projects.  So most likely this effort need to focus on `up to date check` part.

[2020-11-17 17:05] GKG4 commented on #10261
I am also facing the same issue, I thought its only me, but glad to know its a bug, hopefully, a patch will be released soon.

[2020-11-17 17:41] #10288 closed, assigned to dtivel

[2020-11-17 17:59] nkolev92 commented on #10170
@erdembayar This issue suggests skipping both steps altogether.
The dg spec duration is fast, but it's still affected by the solution size, so linear, this proposal makes the overhead constant.

[2020-11-17 18:59] mmitche opened #10291 "disabledPackageSources 'value' attribute is ignored"
Please read the following information before posting the issue.

## Details about Problem

All versions of nuget, didn't work before.

## Detailed repro steps so we can see the same problem

1. Add a nuget source
2. Place it in disabledPackageSources, but with the "value" attribute set to false (should not be disabled)
3. Attempt restore. Source is still disabled.

[2020-11-17 19:05] mmitche commented on #10291
/cc @wtgodbe @mattgalbraith

[2020-11-17 19:09] zivkan commented on #9611
related (duplicate?) #6058

[2020-11-17 19:22] zivkan commented on #452
I didn't read the whole thread carefully, but I believe PackageReference's `ref/` folder does what is being requested here. The assets are available at compile time only, and will not be copied to the build's output directory. I think what's missing is an easy way to pack a project and have the assembly go into the nupkg's ref folder instead of the lib folder. It is also not compatible with packag

[2020-11-17 19:43] AArnott commented on #452
Thanks for reviewing, @zivkan. But this scenario is not satisfied simply by using `ref/`. Per my last sentence in the issue description:

[2020-11-17 19:45] nkolev92 commented on #7696
A lot of work has gone in `dev-nkolev92-betterNU1004Messages`. At the minimum it contains a good start.

[2020-11-17 19:47] erdembayar commented on #9801
If we ever need to do this on our side instead of  expecting Project system to give nomination in correct order then I can take it. Of course it may not be perfect  but we can give try sometime in the future.

[2020-11-17 20:07] marcpopMSFT opened #10292 "dotnet restore on a VM breaks my internet connection and fails with errors"
---
**Issue moved from dotnet/sdk#14290**
- Please respond to @Loreno10.

---

_From @Loreno10 on Thursday, October 22, 2020 5:47:40 PM_

I have a Windows 10 as a host and a Pop! OS 20.04 installed using Hyper-V (enhanced session enabled, if that matters).

In the VM I have installed dotnet-sdk-3.1 and https://github.com/microsoft/artifacts-credprovider (since my dotnet project uses private NuGet

[2020-11-17 20:07] marcpopMSFT commented on #10292
---
**Issue moved from dotnet/sdk#14290**
- Please respond to @marcpopMSFT.

---

_From @marcpopMSFT on Thursday, November 5, 2020 7:52:46 PM_

@zkat @nkolev92 something ya'll have seen in NuGet?  Seems like it wouldn't likely be a CLI issue as NuGet would be handling any network calls.

[2020-11-17 20:07] marcpopMSFT commented on #10292
---
**Issue moved from dotnet/sdk#14290**
- Please respond to @nkolev92.

---

_From @nkolev92 on Thursday, November 5, 2020 8:17:41 PM_

I've seen reports of this nature before, but we've rarely managed to get to the bottom of it, since it's been hard to get repros.

https://github.com/NuGet/Home/issues/10057 is the closest recent thing.

@Loreno10 Can you try `--disable-parallel-processing`?
htt

[2020-11-17 20:11] nkolev92 commented on #7245
Related to https://github.com/NuGet/Home/issues/9688.

[2020-11-17 20:27] Loreno10 commented on #10292
@marcpopMSFT Unfortunately, I no longer have that VM.
However, I managed to solve the issue there, as I recall.
The thing is, after creating a VM, and installing dotnet, the first project that I tried to restore and build was a project that has dependencies in my own private NuGet repository (which requires authentication). It was failing, exactly as I described in original post.
Then, I git clone

[2020-11-17 20:53] dominoFire opened #10293 "`nuget.exe` and `dotnet.exe nuget` feature parity"
Both NuGet Command Line Interfaces should have the same functionality but, they can differ in applicability:

nuget.exe: .NET Framework + .NET Core + .NET 5
dotnet.exe: .NET Core + .NET 5

Both CLI's should have the feeling of the same user experience

New developments should favor dotnet.exe; but we should still support nuget.exe; as it's the only NuGet client tool that works on .NET Framework

I

[2020-11-17 21:17] zkat commented on #10292
cc @zivkan because he's looking into networking errors

[2020-11-17 21:21] heng-liu opened #10294 "Implement dotnet nuget config command"
Implement the equivalent dotnet command of  `nuget config` command

[2020-11-17 22:50] NewellClark commented on #7192
A quick search reveals that [PackageSearchResourceV3](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/Resources/PackageSearchResourceV3.cs) does not use `ConfigureAwait(false)` at all.

[2020-11-17 22:59] nkolev92 commented on #9767
The warning check happens after restore has been completed, and the assets file has been created.

https://github.com/NuGet/NuGet.Client/blob/a4c9d63bf942f1df1ba9486a87bad2e4b6888488/src/NuGet.Core/NuGet.Commands/RestoreCommand/Diagnostics/UnexpectedDependencyMessages.cs#L175-L186

[2020-11-18 01:11] nkolev92 commented on #8867
Meant to say duplicate of https://github.com/nuget/home/issues/6138 :)

[2020-11-18 01:11] nkolev92 commented on #6138
@dominoFire
Remember to read: https://github.com/NuGet/Home/issues/8867#issuecomment-569765203

[2020-11-18 02:09] #9817 closed, assigned to nugetlurker, zivkan

[2020-11-18 02:10] zivkan commented on #9817
@PathogenDavid thank you for your contribution!  This will be released with NuGet.exe 5.9, or the .NET 5 SDK 5.0.200.

[2020-11-18 02:27] PathogenDavid commented on #9817
@zivkan No problem, thanks for the merge!

[2020-11-18 03:50] zivkan commented on #10290
I have provided guidance for another customer here: https://developercommunity2.visualstudio.com/t/VS-2019-Publish-issue---Unable-to-load-t/1257366?preview=true#T-N1257595

We'll try to improve guidance and documentation, but ultimately it's up to your computer's configuration.

Closing as a duplicate of https://github.com/NuGet/Home/issues/9961

[2020-11-18 03:50] #10290 closed, assigned to zivkan

[2020-11-18 05:08] heng-liu commented on #7018
Need to write an azure function to check how many packages on nuget.org will pass the validation in building certificate chain without excluding the root.
Then decide if it's feasible to implement it.

[2020-11-18 07:44] rolfik commented on #10289
I have the same problem:
The nuget command failed with exit code(1) and error(Invalid restore input. Duplicate frameworks found: 'net462, net5.0, net5.0, netstandard2.0, uap10.0.16299'.

With this project (when referenced by another .NET 5.0 one):

<Project Sdk="MSBuild.Sdk.Extras">

  <PropertyGroup>
    <TargetFrameworks>uap10.0.16299;netstandard2.0;net462;net5.0;net5.0-windows10.0.17763.0</Targ

[2020-11-18 09:54] dylon commented on #7550
I'm not commenting to necro the thread, but I worked around this problem by creating an empty directory named explicitly, `" "` (a single space) in the root of my project directory: `mkdir " "`.  I initially created `" "/packages` but NuGet complained that the `packages/` directory already existed.

[2020-11-18 10:26] olivierhelin commented on #7752
Hello, any updates?

[2020-11-18 11:26] baiqiaw opened #10296 "Update-Package : “.”(十六进制值 0x00)是无效的字符。 第 22 行，位置 11。"
Update-Package : “.”(十六进制值 0x00)是无效的字符。 第 22 行，位置 11。
所在位置 行:1 字符: 1
+ Update-Package
+ ~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Update-Package], Exception
    + FullyQualifiedErrorId : NuGetCmdletUnhandledException,NuGet.PackageManagement.PowerShellCmdlets.UpdatePackageCommand

Microsoft Visual Studio Enterprise 2019
版本 16.8.1
中无法还原、更新、安装Nuget包

[2020-11-18 13:13] MarkKharitonov commented on #10255
Anyone to comment?

[2020-11-18 16:21] marcin-krystianc commented on #10264
To me it looks more like a bug, because the update process didn't preserve upper bound of the version range.
If it was working correctly it would left the entry as:
[code]

I find it also confusing that `Version` attribute in the `ProjectReferece` element is actually a version range, but I don't that it is ever going to changee as it would cause too many backwards compatibility issues,

[2020-11-18 19:00] zivkan commented on #7192
On a personal note, I think all of NuGet's code under `src\NuGet.Core` (anything that ships as part of our "SDK", or in the dotnet cli) should use `ConfigureAwait(false)`.

However, these assemblies also run in Visual Studio, which has its own "set of rules". In particular, it uses a special threading library that has something called a `JoinableTaskFactory`, which should be used (without `Configu

[2020-11-18 19:42] zivkan commented on #10255
My guess is that it's probably the same root cause as https://github.com/NuGet/Home/issues/9417 and https://github.com/NuGet/Home/issues/5261. In other words, VS project systems give NuGet different information compared to when NuGet reads project properties directly from MSBuild on the command line.

[2020-11-18 20:06] MarkKharitonov commented on #10255
The reproduction in github (https://github.com/MarkKharitonov/PackageAssetsJsonAnomaly) does not involve the Visual Studio at all. Everything is done using msbuild.
The SO question does talk about the difference between VS and msbuild, but it is not the subject of this issue.

[2020-11-18 20:10] zivkan commented on #10255
We prioritize work based on a number of factors, including customer impact and upvotes.

Regarding customer impact, what actual problem is this causing you? Your issue just says the contents of the assets file has a different value, which makes it sound like using a different tool to restore will cause a slightly slower restore than a no-op restore. But if that's the case there's no errors, just a

[2020-11-18 20:19] MarkKharitonov commented on #10255
I am writing a tool that would be useful to anyone who uses non SDK style projects with PackageReferences. The tool solves the problem of binding redirects by automatically generating them. It uses projects.assets.json. But because of this problem it is not clear whether the entries are named after the project name or assembly name. That inconsistency makes it harder to write robust tooling.

Plus

[2020-11-18 20:22] dotMorten commented on #7133
Agreed. This has always boggled my mind:
![image](https://user-images.githubusercontent.com/1378165/99583670-ba29c700-2998-11eb-9762-817092c92e08.png)

[2020-11-18 20:31] zivkan commented on #10255
The tool you're writing sounds like [MSBuild's `ResolveAssemblyReference` task](https://docs.microsoft.com/en-us/visualstudio/msbuild/resolveassemblyreference-task?view=vs-2019) (it has the `AppConfigFile` parameter). It should run automatically as part of the build, so I'm surprised the binding redirects aren't already correct. But in case you're not aware of it, I suggest investigating to see if

[2020-11-18 20:39] nkolev92 commented on #10289
@rolfik

That's likely because of the MSBuild.SDk.Extras usage.

NuGet reads `TargetFrameworkMoniker` and `TargetPlatformMoniker` and it's likely that extras might not be setting them.

However, I can't repro your problem. What's the version of the Sdk that you are using?
The csproj example doesn't have the version and it's likely declared in a global.json.

[2020-11-18 20:52] timheuer commented on #7133
Signing is my wish to @dotMorten https://github.com/NuGet/Home/issues/9006

[2020-11-18 20:54] dotMorten commented on #7133
@timheuer Agreed it's one of the two reasons I use nuget.exe. The other is I use nuget packages in my C++ projects, and they need explicit restore with nuget.exe or the msbuild-based CI build fails.

[2020-11-18 21:01] MarkKharitonov commented on #10255
Could you elaborate? For example, I can see this task running for our web application and it does pass AppConfigFile. However, it does not update the config file automatically. I suspect it just outputs the bindings for us to modify manually.
But there is more to it. The current process does not tell to remove irrelevant binding redirects. We tried to rely on the output produced by this task and a

[2020-11-18 21:05] rolfik commented on #10289
@nkolev92
I use current version of [MSBuildSdkExtras](https://github.com/novotnyllc/MSBuildSdkExtras) build locally and packed into
[nuget](https://github.com/NuGet/Home/files/5562719/MSBuild.Sdk.Extras.3.0.0-HaSaM.nupkg.zip).

[2020-11-18 21:25] nkolev92 commented on #10289
I see. There's 2 ways we can confirm what you are seeing.

1. Please run msbuild or dotnet restore and provide us a bin log. Keep in mind that the binlog collects all env vars, so it can leak secrets.
1. Generate a binlog and investigate yourself, like here: ![paint](https://user-images.githubusercontent.com/2878341/99589804-5952bc80-29a1-11eb-96bc-3c2e0d163f99.png)
Find all *5* TargetFrameworkInf

[2020-11-18 22:20] dtivel opened #10297 "VS SDK: update to 16.9.x"
The following work items are blocked on updating the NuGet.Client solution to VS SDK 16.9.x:

*  https://github.com/NuGet/Home/issues/9935
*  https://github.com/NuGet/Home/issues/10167

I believe this task is at least partially blocked by [@heng-liu 's task](https://github.com/NuGet/Client.Engineering/issues/367) to update MSBuild dependencies and CI machines to 16.8.x.

[2020-11-18 22:55] GitZinger opened #10298 "vs2019, when installing some package with NuGet, get the error "you are trying to install this package into a project that targets 'native,Version=v0.0""
Remove the content above here and fill out details below.

## Details about Problem
I create an empty project. also now there is no network choice when creating a new project in vs 2019

Could not install package AWSSDK.Core
[code]
but I set the

[code]

please help me here!

I really appreciate it!

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
vs ui NuGet solutio

[2020-11-19 00:34] ericsampson commented on #3891
@JonDouglas thank you very much for working on this. I would be so happy to see it available.

[2020-11-19 01:04] dotMorten commented on #10218
I hit this too. Here's my repro:

### Steps to Reproduce
- Create a new SDK style project.
- Make the project file look like this:
[code]

This will cause WPF to be a dependency for the .NET Core 3.1 target, but not for the .NET5-Windows build.
However the generated nuspec will look like this:

[code]
The problem is when referencing this package, because `.NETCoreApp3.1` < `net5.0-windows7.0`, the

[2020-11-19 02:01] MarkKharitonov commented on #10255
I suppose that I could have wrapped the standard task in order to leverage the already existing logic.

[2020-11-19 03:48] dovholuk commented on #8127
I upgraded to Version 16.8.1... Executing nuget actions took 24.29 min
[code]

[2020-11-19 06:29] augustoproiete opened #10300 "nuget.exe -update self can't ... update itself to NuGet v5.8.0"
Version 5.8.0 is available for download on https://www.nuget.org/downloads, however nuget 5.7.0 is not able to update itself and download version 5.8.0.

![image](https://user-images.githubusercontent.com/177608/99629817-10395180-2a0f-11eb-8fe6-b6a96a467e28.png)

[code]

![image](https://user-images.githubusercontent.com/177608/99629325-33173600-2a0e-11eb-842a-58b49cb99aa4.png)

## Repro steps

1.

[2020-11-19 06:43] nkolev92 commented on #10194
Spec in review at https://github.com/NuGet/Home/pull/10299.

There are *some questions* left in there.

[2020-11-19 06:56] nkolev92 opened #10301 "Design for analyzers as an asset in PackageReference"
Design for https://github.com/NuGet/Home/issues/6279

[2020-11-19 06:58] nkolev92 commented on #6449
low pri

[2020-11-19 06:58] #6449 closed, assigned to nobody

[2020-11-19 07:09] nkolev92 commented on #9864
A precedent very much exists in https://github.com/dotnet/sdk/blob/44f381b62d466565639d51847c9127afbe7062a9/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.DefaultItems.targets#L284 :)

I think the biggest concern here is how *happy* customers will be to suddenly start getting this error. :)
This is a categorically *good* change though, the behavior across all tools should be consist

[2020-11-19 07:31] #8715 closed, assigned to drewgillies

[2020-11-19 08:23] chucklu opened #10302 "NuGet did not recognized package version conflict across projects"
## Details about Problem

VS version (if appropriate):
Microsoft Visual Studio Professional 2019
Version 16.7.7

OS version (i.e. win10 v1607 (14393.321)):
win10 1909

## Detailed repro steps so we can see the same problem
I will provide a git repository later according the issue id

[2020-11-19 08:36] chucklu commented on #10302
Please refer to repository https://github.com/ChuckTest/NuGet-10302
1.ConsoleApp1 reference ClassLibrary1
2.ClassLibrary1 reference [Microsoft.Extensions.Configuration.Json 3.1.6 ](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.Json/3.1.6) with  [System.Text.Json (>= 4.7.2)](https://www.nuget.org/packages/System.Text.Json/4.7.2)
3.ConsoleApp1 reference [CsvHelper 12.1.2](https:/

[2020-11-19 10:18] vgriph opened #10303 "System.FormatException thrown when restoring package with invalid copyToOutput attribute on content files"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
msbuild.exe as part of Visual Studio 16.8.1

NuGet.Build.Tasks version:
5.8.0.6930

msbuild -version:
Microsoft (R) Build Engine version 16.8.1+bd2ea1e3c for .NET Framework
Copyright (C) Microsoft Corporation. All rights reserved.

16.8.1.52902
VS version (if appropriate)
16.8.1

OS version (i.

[2020-11-19 13:14] bjuraga opened #10304 "NuGet restore fails to restore random packages due to empty source parameter"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
Used on a Azure DevOps build agent running in Docker.
NuGet version (x.x.x.xxx): 5.4.0 x64
dotnet.exe --version (if appropriate): did not reach the build step
VS version (if appropriate): did not reach the build step
OS version (i.e. win10 v1607 (14393.321)): windowsservercore-ltsc2016 (10.0.14

[2020-11-19 14:55] rolfik commented on #10289
Actually I can build the project with Visual Studio 16.8.1 well, but when building it in Azure Pipeline nuget.exe restore command just failed with the error mentioned. The pipeline runs on the same computer as the working Visual Studio.

I cannot find how to specify /bl binary log swith with nuget.exe (5.8).

But after more investigations, I have found there was a mismatch in .global.json files sp

[2020-11-19 17:13] Belorus commented on #3676
We have local artifactory in the office which is a preferred source, but we can't remove nuget official repo since new packages can only be found there.

[2020-11-19 17:14] danieljbfaustino opened #10305 "package add does not use credential provider when authentication is required"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): `Nuget.exe` and `dotnet.exe`

NuGet version (x.x.x.xxx): `5.8.0.6930`
- Although it is present starting on `5.8.0.6753` and newer.

dotnet.exe --version (if appropriate): `5.0.100`

OS version (i.e. win10 v1607 (14393.321)): `win10-x64 10.0.19042`

Worked before? If so, with which NuGet version

[2020-11-19 17:33] zivkan commented on #10300
@zkat FYI as hotseat this week.

[2020-11-19 17:34] zkat commented on #10300
We are in the process of "blessing" 5.8.0. This should be resolved soon. 👍🏻

[2020-11-19 17:39] opejanovic commented on #6140
Happy 3rd birthday, Issue #6140

[2020-11-19 17:45] augustoproiete commented on #10300
Perfect. Thanks!

[2020-11-19 17:46] mwpowellhtx commented on #6140
@opejanovic Sounds like a win to me; 'casm.

[2020-11-19 18:03] zivkan commented on #10255
Console apps, WPF app, WinForms app, basically anything other than an ASP.NET projects, when using PackageReference, do not need any binding redirects in the app.config file. As part of the build process, the SDK will copy `app.config` from the project root, to `$(OutputDir)\<assemblyname>.config` (`OutputDir` is usually `bin\Debug` or `bin\Release`). Additionally, as it copies all the referenced

[2020-11-19 19:00] nkolev92 commented on #10289
Glad you were able to resolve your problem.

For future reference, nuget.exe binlogs are a little bit trickier than `dotnet.exe`, `msbuild.exe` restore.
You'd need to set an env var, https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-environment-variables, `NUGET_RESTORE_MSBUILD_ARGS`.

Out of curiosity, any particular reason you are using `nuget.exe` for restore?

[2020-11-19 20:02] MarkKharitonov commented on #10255
SDK style projects are great. But we are not using them yet. We have 300+ projects that were migrated to PackageReference, but not SDK, because it is a major chunk of work.

So, is this process relevant for non SDK style projects? My feeling, it is not, because we deal with binding redirects all the time and we do use PackageReference.

[2020-11-19 20:51] dsplaisted commented on #9864
To mitigate the impact of breaking people, I'd suggest a flag they can set to revert to the old behavior (or perhaps to revert to consistent "choose last" or "choose first" behavior across the four different restore types).

[2020-11-19 22:17] dominoFire opened #10306 "Create Mock factory for EnvDTE.DTE object"
There's no way to create a test instance of EnvDTE.DTE object for NuGet testing purposes.

This interface is hard to mock because it represents a large core part of Visual Studio.

Having a minimal, common EnvDTE.DTE  mock object factory would enable NuGet codebase developers to improve testing in VS-NuGet components.

[2020-11-19 22:24] AndreyTretyak commented on #9948
@nkolev92 why was this issue closed? I look like it's still a problem

[2020-11-19 22:28] #10038 closed, assigned to dominoFire

[2020-11-19 22:30] aolszowka opened #10307 "StaticGraphRestore Fails with NETSDK1004 in Some Scenarios"
## Details about Problem

NuGet product used: MSBuild /restore

[code]

OS version (i.e. win10 v1607 (14393.321)): Windows Server 1809 17763.1397

Worked before?: Yes, without StaticGraph

## Detailed repro steps so we can see the same problem

Unclear on what exactly is happening here, but when using `/p:RestoreUseStaticGraphEvaluation=true` to get Static Graph we error with the following:

[code

[2020-11-19 22:31] aolszowka commented on #10307
Shamelessly pinging @nkolev92 and @jeffkl as this is StaticGraph related.

[2020-11-19 22:34] aolszowka commented on #9803
What was the status on dog-fooding this? I can't believe we're this unique to have two issues found by just us #10307

[2020-11-19 22:44] zkat commented on #10263
Thanks for finding this! Can you share the regression info once it's available?

[2020-11-19 22:47] zkat commented on #10265
Thanks for finding this! Can you share the regression info once it's available? In particular, whether this broke in 5.8 or 5.9

[2020-11-19 22:50] zkat commented on #10300
This should be all set.
![image](https://user-images.githubusercontent.com/17535/99733801-96d54980-2a76-11eb-89fb-8d1547588fa5.png)

[2020-11-19 22:50] #10300 closed, assigned to zkat

[2020-11-19 22:53] shyamnamboodiripad commented on #6461
Folks on my team are running into a slightly different error inside VS than what is mentioned in the issue description above. However, per offline conversation with @nkolev92 the underlying issue is the same and the same workaround of specifying  a `PackageId` helps avoid the error.

[code]

I realize this is a lower priority issue, but I just wanted to add my vote to fix this, as the error is qui

[2020-11-19 23:27] nkolev92 commented on #10307
Can you repro this on a single leaf project without any dependencies?

Try running just restore and then static restore and post the logs from the runs?

Do you set `MSBuildProjectExtensionsPath` anywhere?

[2020-11-19 23:36] nkolev92 commented on #9948
@AndreyTretyak

I accidently moved this issue twice, so I closed the one with less context.

The issue (with a better name) is tracked in https://github.com/NuGet/Home/issues/9949

[2020-11-20 01:38] dominoFire opened #10308 "Enrich Testing Guidelines in docs/coding-guidelines.md"
Follow up on comment https://github.com/NuGet/NuGet.Client/pull/3716#pullrequestreview-525229595

[2020-11-20 01:39] #9311 closed, assigned to dominoFire

[2020-11-20 02:42] aolszowka commented on #10307
Did not appear so with the one project I tried

Can you clarify this request a bit more? I read this as doing the following:

[code]

Which restores all packages (For 98 projects in the solution)

Then cleaning the output (`git clean -dfx`) then trying:

[code]

Which yields the following:

[code]

Restored nothing? Not sure if that is expected?

We don't explicitly; but this imports targets up th

[2020-11-20 06:08] KamranShahid opened #10309 "anyway i can stop getting .net core 5.0 packages in nuget package update for my .net core 3.1 applications"
reference to my https://github.com/dotnet/core/issues/5606 can someone help

[2020-11-20 10:00] Danielku15 commented on #4980
I stumbled over this issue in relation to another topic and I would like to give just a small input for consideration on clean up policies. I wasn't able to quickly grasp all details of the already long ongoing discussion so I dare to just drop my input in the hope it fits into the current plans.

NuGet supports floating versions which can be quite useful if you have continuous deployment of your

[2020-11-20 11:32] marcasmar94 commented on #10275
Any updates on this ?

[2020-11-20 11:33] jackabouaad commented on #10275
I'm also facing the same issue. My project is built on top of .NET Core 3.1 LTS.

[2020-11-20 13:39] v-luzh opened #10310 "There should be some error or warning in Error List or Output window when trying to install a package already packed with an invalid embedded icon format"
## Details about Problem
NuGet version: NuGet Client Dev\5.9.0.6969
VS Version: Master\30719.130
OS: Windows-10-Enterprise-19H2
## Detailed repro steps
1.	Make a package (called InvalidFwPackage) with an invalid embedded icon format before fixing of bug 9311 (please follow the steps of the bug).
2.	Create a Console (.NET Framework 4.8) project in VS and open the PM UI.
3.	Click the settings button

[2020-11-20 14:54] v-luzh commented on #10181
@zkat I got below log in Output window with the solution provided by customer on D16.7\30330.147 VS Enterprise 2019. There are both ClassLibrary1.dll and ClassLibrary2.dll in Output window.So I think it is not repro for me.
![Screenshot](https://user-images.githubusercontent.com/20632625/99813755-0d5f6d80-2b83-11eb-9b0d-3d72e4dce2b0.JPG)

[2020-11-20 15:21] AArnott opened #10311 "[Bug]: Metadata like PrivateAssets does not flow from parent to transitively pinned dependency in CPM"
Tested and verified to repro on .NET Core SDK versions: 3.1.401, 5.0.100
This is an **adoption blocker** for our teams.

When CPVM is active, package dependencies are retained to _transitive_ references with pinned versions even if their direct reference had `PrivateAssets="all"` set on them.

Given this simple csproj:

[code]

and a `Directory.Packages.props` file with this content:

[code]

and

[2020-11-20 15:26] donnie-msft commented on #10310
@v-luzh Anything in the Output (Package Manager) window? I think sometimes we write to Output and not also to Error List.
@dominoFire is this a regression from https://github.com/NuGet/Home/issues/9311?

[2020-11-20 16:08] adam8797 commented on #10251
@nkolev92 Hey there, just wanted to bump this. Do you need me to provide any more information?

[2020-11-20 17:02] zivkan commented on #10287
Please follow nuget.org's docs on [NuGet.org not accessible](https://docs.microsoft.com/nuget/nuget-org/nuget-org-faq#nugetorg-not-accessible)

[2020-11-20 17:02] #10287 closed, assigned to nobody

[2020-11-20 19:18] nkolev92 commented on #10310
This is not a regression, and honestly while you could argue inconvenience, not something worth fixing at this point.

NuGet covers the complete lifecycle of packages, creation primarily through pack, and consumption through install/restore.

At creation time NuGet may do certain validations and raise:

* Errors:
  * The id contains invalid characters.
  * License file cannot be found in package.

[2020-11-20 19:47] nkolev92 commented on #10307
Weird, this suggests to me something went wrong and NuGet did not even start the restore.

Can you do verbose logs? Nothing rings a bell right now.

There are defaults, and that's normal. That property basically tells you where the assets file should go.

[2020-11-20 19:52] aolszowka commented on #10307
Sure is there something in particular I can give to you? Or some private way to share the *.binlog (which would probably be way more useful?)

[2020-11-20 19:54] nkolev92 commented on #10307
You can send it to nikolev [at] microsoft [dot] com

Verbose logs & binlog from the restore not happening might help.

[2020-11-20 20:01] aolszowka commented on #10307
Both have been provided as well as a binlog where staticgraph is not used (and it works without it)

[2020-11-20 20:19] augustoproiete commented on #3676
@Belorus I'm hoping this story will improve with #10214 / #6867 when you can restrict the feed that should be searched for each package. That way you can whitelist the packages you know to always go on your company's feed.

In the meantime, as a workaround, you might want to consider using [Nexus repository](https://www.sonatype.com/nexus/repository-oss) as your main feed, and put it in front of y

[2020-11-20 20:54] jnm2 opened #10312 "Analyzer project reference does not become a nuspec dependency"
Scenario: MyLib and MyLib.Analyzers in the same repo, packed at the same time so that MyLib 1.2.3 also depends on MyLib.Analyzers 1.2.3

The appropriate syntax in `MyLib.csproj` (see https://twitter.com/Tashkant/status/1256749223850266624) is:

[code]

Unfortunately, this causes the generated MyLib nuspec to be missing the same-version dependency on MyLib.Analyzers. ReferenceOutputAssembly must be

[2020-11-20 21:55] moonboy13 opened #10313 "Assets from packages are missing after restore"
This seems to be a re-occurrence of #5995, though it is user specific. One user on the machine will have an issue, another can login, clear the obj folder, and build without a problem. Bit stumped on how to get this working across all users on this shared build machine. Tried clearing everyone's temp folders, caches, and giving it a reboot to flush out any lingering issues.

This problem appearing

[2020-11-20 22:11] zkat commented on #10302
This looks to me like [the "nearest wins" rule](https://docs.microsoft.com/en-us/nuget/concepts/dependency-resolution#nearest-wins), which means this is working as expected. Is that right, @nkolev92 ?

[2020-11-20 22:32] nkolev92 commented on #10302
This is packages.config, not PackageReference.

`packages.config` is not transitive, so the ProjectReference from Console to Class Library doesn't pull in any packages.

If you tried the same set-up with PackageReference:

ConsoleApp -> Microsoft.Extensions.Configuration.Json 3.1.6
ConsoleApp -> CLassLibrary
ClassLibrary -> System.Text.Json 4.7.2

I'd expect that 4.5.0 of System.Value.Tuple gets r

[2020-11-20 22:35] nkolev92 commented on #10302
This is packages.config, not PackageReference.

`packages.config` is not transitive, so the ProjectReference from Console to Class Library doesn't pull in any packages.

If you tried the same set-up with PackageReference:

ConsoleApp -> Microsoft.Extensions.Configuration.Json 3.1.6
ConsoleApp -> CLassLibrary
ConsoleApp -> CVSHelper.
ClassLibrary -> System.Text.Json 4.7.2

I'd expect that 4.5.0 of

[2020-11-20 22:38] nkolev92 commented on #10302
This is packages.config, not PackageReference.

`packages.config` is not transitive, so the ProjectReference from Console to Class Library doesn't pull in any packages.

If you tried the same set-up with PackageReference:

CLassLibrary-> Microsoft.Extensions.Configuration.Json 3.1.6
ConsoleApp -> CLassLibrary
ConsoleApp -> CVSHelper 12.1.2

I'd expect that 4.5.0 of System.Value.Tuple gets resolved

[2020-11-20 22:43] nkolev92 commented on #10302
Basically to make it easier...think about it this way:

Console -> Library -> MECJ 3.1.6 -> STJ 4.7.2 - SV 4.5.0
Console -> CsvHelper 12.1.2 -> SV 4.4.0

They are not part of the same subgraph, so in a latter pass, we pick 4.5.0 over 4.40.

Console -> Library -> MECJ 3.1.6 -> STJ 4.7.2 - SV 4.5.0
Console -> Library -> SV 4.4.0
Console -> CsvHelper 12.1.2 -> SV 4.4.0

This would cause 4.4.0 to be s

[2020-11-20 22:53] rolfik commented on #10289
Nothing special. It comes from default Azure pipeline for build with Visual Studio.

[2020-11-20 23:10] nkolev92 commented on #10289
We owe the community some more guidance on this, but I'd recommend using `msbuild /t:restore` wherever possible.
It guarantees you are using the restore tooling perfectly matched to the build tooling. For example, that's how we build our own repo.
At this point, `msbuild /t:restore` has equivalent capabilities to `nuget.exe restore`.

[2020-11-20 23:25] nkolev92 opened #10314 "Exclude transitive framework references from `CollectFrameworkReferences`"
Problem described in detail in =https://github.com/dotnet/sdk/issues/14641.

It causes extra restores when the caches are clean and it makes commandline and vs restore incongruent.

[2020-11-20 23:29] nkolev92 opened #10315 "Add tests for the transitive framework reference exclusion work"
Tests for https://github.com/NuGet/Home/issues/10314.

[2020-11-21 00:42] nkolev92 commented on #10251
Hey @adam8797,

From what I can see from the set-up, when the SDK changes there are some significant changes in what gets download.

Each SDK ships with the targeting packs it's own runtime version, but for any other version, it will spend some time downloading extra packages.

The runtime/targeting packs are pretty large and they can take some time downloading.

I imagine in all these cases you a

[2020-11-21 02:19] moonboy13 commented on #10313
Got a second project that has the same issue, this time its the VS Template Blazer Web Assembly app targeting .NET 5.0.

Nuget Product: VS UI

Nuget Version: 5.8.0

VS Version: 16.8.2 (Community edition instead of Professional edition)

OS Version: Win 10 OS Build 19041.630

Steps:
1. Use the New Project dialog to create a new project, choose the Blazer Web Assembly template. Target .NET Core 5.0.

[2020-11-21 10:24] Mike-E-angelo commented on #7189
FWIW it seems some of our users are running into this issue when attempting to run a command we provide in our CI ([example](https://github.com/ExtendedXmlSerializer/home/pull/480#issuecomment-731557844)).  An example report of this issue can be seen [here](https://github.com/ExtendedXmlSerializer/home/issues/477#issuecomment-731554996).

[2020-11-21 18:22] loic-sharma opened #10316 "dotnet nuget verify is too quiet"
## Details about Problem

NuGet product used: dotnet.exe

dotnet.exe --version (if appropriate): 5.0.100

## Detailed repro steps so we can see the same problem

`dotnet nuget verify` does not output anything by default:

[code]

No output is given at all for these commands. This is unfortunate as the `verify` command's output provides useful information when configuring `trusted-signers` (see thi

[2020-11-21 18:25] zivkan commented on #7657
@brwertz80 sorry, I missed this back in August. Please review [this comment](https://github.com/NuGet/Home/issues/7657#issuecomment-450053501), specifically the "Why NuGet.exe is being called with a space in the SolutionDir path" section.

The generated command line needs the path to have zero or two trailing slashes, but one trailing slash is precisely the cause of the problem.

[2020-11-22 11:11] DavidBarth commented on #8127
@nkolev92 hi there, sorry for the late replies to all. Transitioned to other projects shortly after the inital question. Hope you all got the issues resolved.

[2020-11-22 11:17] DavidBarth commented on #8127
@dovholuk sorry didn't mean to close issue just yet, however I cannot add anything further as not working in related area anymore now. Hope you can find the above discussions useful. If not I'll close the issue as it's been while. Cheers

[2020-11-22 12:24] Ka0o0 opened #10317 "ACLs mess with the reading of NuGetDefaults"
## Details about Problem

dotnet

NuGet version (x.x.x.xxx): 5.7.0.7

dotnet.exe --version (if appropriate): 3.1.404

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)): Debian Buster

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Make sure you have a clean installation (e.g. no dotnet restore or smth. similar calle

[2020-11-22 13:08] dovholuknf commented on #8127
I only commented here since this is one of the top search results I kept finding and the issue was still open. I'm not sure if this is visual studio, nuget, or some bizarre combination of the two mixed with some other craziness. I would just much prefera timeout that's reasonable to download a single artifact... Like 30s (or less maybe).

I also couldn't find any reasonable mechanism to troublesho

[2020-11-23 01:49] v-luzh commented on #10310
@donnie-msft,there is no error or warning in Output (Package Manager) window either.
@nkolev92, thanks for sharing your opinion. We means there should be some error or warning similar with NU5045 in Error List/Output window when installing an exist package (created already) with invalid package format. Update the title. Please close it if you think that is not worth fixing.

[2020-11-23 03:25] kelvin-p commented on #10275
Any updates?

[2020-11-23 07:25] chucklu commented on #10302
I will get an msbuild warning when I try to rebuild the solution, the message is not clear and seems to be fixed https://github.com/dotnet/msbuild/issues/608

I just wonder if the nuget can fix this automatically.

[2020-11-23 07:42] kirsan31 commented on #5986
Very needed, to deal with not correctly configurated nugget packages. For example, for now `Microsoft.Web.WebView2` copies all dll to output in any case:
[code]

But in WinForms we absolutely no need of `Microsoft.Web.WebView2.Wpf.dll`...

[2020-11-23 08:13] chucklu commented on #10302
I have created two branches for tests, it seems the different **reference order** make the auto bindingRedirect behave differently
https://github.com/ChuckTest/NuGet-10302/tree/class-library-first
https://github.com/ChuckTest/NuGet-10302/tree/console-app-first
Currently console app reference class library,
When in  `console-app-first` mode, it means reference CsvHelper 12.1.2 in console app first,

[2020-11-23 10:12] brwertz80 commented on #7657
Thanks @zivkan! Took me a bit to remember what I was asking but that makes sense now. 👍

[2020-11-23 10:19] marcin-krystianc commented on #7060
We've had the same problem on our build servers so I've spent some time investigating this and here is what I've found out.

Theoretically, running multiple restore operations should be ok because there is a proper cross-process locking mechanism in place.
Unfortunately due to its implementation details it is easy to accidentally render it useless and here is why.

To acquire a lock, NuGet transla

[2020-11-23 11:44] dieterv commented on #10267
Looks like the NuGet.CommandLine 5.8.0 package has been made available a couple of days ago. Thanks !

[2020-11-23 11:44] #10267 closed, assigned to zkat

[2020-11-23 14:14] adam8797 commented on #10251
@nkolev92 Yup, we start a new empty container each time. And the targeting thing makes sense, but that doesn't explain the slowness when the SDK matches the target. See my Tests C and D, where I'm building .net5 with the .net5 sdk.

[2020-11-23 14:28] sourabhkrishna opened #10320 "project.assets.json file is missing transitive project dependencies when mixing PackageReference and packages.config with v5.8"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): 5.8

dotnet.exe --version (if appropriate):

VS version (if appropriate): vs2019 Latest - MSBuild with /r restore option

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version: v5.7

## Detailed repro steps so we can see the same

[2020-11-23 15:41] v-luzh commented on #10263
@zkat Hi Kat, It start to repro from Dev\6.9.0.6894 on my VM.

[2020-11-23 15:42] v-luzh commented on #10265
@zkat Hi Kat, it start to repro on Dev\6.9.0.6903 for me.

[2020-11-23 16:50] zivkan commented on #10316
Is this by design, rather than a bug?

My understanding is that the dotnet cli is more closely following the UNIX philosophy of minimal output. I don't know if they intend the output to be so terse as to have zero output for successful commands (think mkdir, zip, unzip rm, they don't have any output when successful). However, normal verbosity looks too verbose to me for default.

In my opinion, th

[2020-11-23 16:57] kmute90 commented on #10275
+1

[2020-11-23 18:22] #10232 closed, assigned to sbanni

[2020-11-23 18:56] kartheekp-ms commented on #10316
Here are the reasons why I thought it is a bug.

- `Verbosity` is set to [`LogLevel.Information`](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.CommandLine.XPlat/Program.cs#L31) by default for all the dotnet commands. `dotnet nuget verify` command [overrides `verbosity`](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.CommandLine.XPlat/Utility/XPlatUtility

[2020-11-23 18:57] zivkan commented on #2519
Reopening this issue, as it's the best one we have to track SVG requests/interest.

Please upvote (👍 ) the original post to signal interest.

FYI, this work is non-trivial, as Visual Studio's Package Manager UI is based on WPF, which doesn't support SVG itself. Therefore, some 3rd party library would need to be used, but that's going to involve a whole lot of paperwork to make sure that the licens

[2020-11-23 19:37] zivkan commented on #352
@SimonCropp's [comment](https://github.com/NuGet/Home/issues/352#issuecomment-261106692) has 17 upvotes (only 👍  counts). GitHub doesn't have any way for us to transfer upvotes from one issue to another (let alone a comment from an issue). So, anyone interested please upvote [this issue on adding SVG support](https://github.com/NuGet/Home/issues/2519) (original/first comment, not my comment). At t

[2020-11-23 19:41] zivkan commented on #5346
closing as a duplicate of https://github.com/NuGet/Home/issues/2519. Please upvote (👍 ) that issue.

[2020-11-23 19:41] #5346 closed, assigned to nobody

[2020-11-23 20:15] KirillOsenkov commented on #5986
I've found that you can manually control which .dlls to reference and which .dlls to copy to output from a NuGet package if you turn off all assets on the PackageReference:

[code]

and then manually reference the .dlls you need:

[code]

[2020-11-23 20:27] StingyJack commented on #352
@zivkan - Can you make a feature request through official channels for that kind of thing? I would think it would be something you would have a better time requesting than the GenPop.  If not or you dont want to wait, I imagine [scripting something](https://developer.github.com/v3/reactions/#list-reactions-for-an-issue-comment) would be the way to aggregate votes across comments and issues for the

[2020-11-23 20:39] zivkan commented on #352
Microsoft may have bought GitHub, but they still operate as an external company, and I have no inside knowledge or contacts. I don't even know where external customers can request new features.

GitHub doesn't provide a way to sort issues by "all positive reactions", at least that I'm aware of. Therefore, while we prioritize work on a number of factors, on GitHub I look at [open issues sorted by 👍

[2020-11-23 21:10] augustoproiete commented on #2519
@zivkan This is very interesting to know. Thanks! I'll definitely pay more attention to how my packages are looking in Visual Studio (summary, description, etc.) after releasing new versions of libraries on nuget.org.

I wonder if this will change over time as more people move to SDK-style projects or if most devs will continue to prefer the UI in Visual Studio :thinking:.

I honestly don't rememb

[2020-11-23 21:15] zkat commented on #10239
@joelverhagen let's chat a bit so we can figure out the right priority for this task.

[2020-11-23 21:19] zkat commented on #10181
@NunoOlliveira could you review the last reply from @v-luzh? It looks like we're not able to repro this.

[2020-11-23 21:23] zkat commented on #10250
Closing as duplicate of https://github.com/NuGet/Home/issues/10058

[2020-11-23 21:23] #10250 closed, assigned to nobody

[2020-11-23 21:32] zkat commented on #10260
@loic-sharma do you have a corresponding issue for this on the server side?

[2020-11-23 21:37] zkat commented on #10262
@JonDouglas @kartheekp-ms can you look into this discussion? There's a lot to consider with this issue and we want to make sure we have clarity about where we stand on this, and whether we should do anything about this particular corner case.

[2020-11-23 21:40] zkat commented on #10263
@aortiz-msft could you please look into what's new in this build and see if we can track down this regression?

[2020-11-23 21:42] zkat commented on #10265
@aortiz-msft could you please look into this one and see what changes may have caused it?

[2020-11-23 21:46] zkat commented on #10283
@v-luzh hey, could you try repro this in the latest VS?

[2020-11-23 21:49] zkat commented on #10284
@v-luzh are you able to reproduce this by any chance? I suspect there's something wrong with the system installation of pwsh itself and/or VS, which is beyond our control, and they'd need to just reinstall everything from scratch (using the latest version, too)

[2020-11-23 21:52] zkat commented on #10285
Please file [a new issue following our template](https://github.com/NuGet/Home/issues/new) if you can still reproduce this on the latest version of Visual Studio. You're on a fairly old version of VS and NuGet.

[2020-11-23 21:52] #10285 closed, assigned to nobody

[2020-11-23 21:53] zkat commented on #10289
@nkolev92 is this something we can wrap up, or should we create new issues for other stuff?

[2020-11-23 21:55] zkat commented on #10292
Just gonna close this :)

[2020-11-23 21:55] #10292 closed, assigned to nobody

[2020-11-23 21:56] StingyJack commented on #352
For that specific comment...
[code]

[2020-11-23 21:59] zkat commented on #10309
This is a duplicate of https://github.com/NuGet/Home/issues/5725

[2020-11-23 21:59] #10309 closed, assigned to nobody

[2020-11-23 22:27] matkoch commented on #10316
Agree on the fact that it's too quiet. I approached the command by digging through `dotnet nuget --help` and it was little information that I immediately got from it. However, with `--verbosity normal` it actually looks a little too much, especially if you think about the workflow "I want to get the fingerprints from individual packages, and then add them to trusted signers".... Maybe it could fil

[2020-11-23 23:08] erdembayar commented on #10263
@aortiz-msft
I tried on latest main and it didn't repro.

[2020-11-23 23:13] madelson commented on #10058
I've seen this come up a number of times when you want to "refactor" a package in a significant way, for example:

* We have a widely-used internal package "Monolith" which has many dependencies. We want to break up this package into smaller, more granular packages with minimal impact on existing consumers.
* To achieve this, we created a number of smaller packages "MicroPackage1", "MicroPackage2"

[2020-11-23 23:46] erdembayar commented on #10262
@JonDouglas @kartheekp-ms @aortiz-msft
I tested this one, it does what it says, when you rebuild/clean project it opens new tab in your default browser with "Root image" from movie, technically this one can do whatever it wants here.
It's valid thing, also it's part of far greater problem. Because any code you download from internet can include hidden injections does something you doesn't want. It

[2020-11-24 01:15] donnie-msft commented on #9490
Appears the URL system has changed such that it automatically directs 16.x to the correct docs pages.
Tested 16.8 & 16.9 and they now go to https://docs.microsoft.com/en-us/nuget/consume-packages/install-use-packages-visual-studio?f1url=%3FappId%3DDev16IDEF1%26l%3DEN-US%26k%3Dk(VS.ToolsOptionsPages.NuGet_Package_Manager.General);k(TargetFrameworkMoniker-.NETFramework,Version%253Dv4.7.2)%26rd%3Dtru

[2020-11-24 01:15] #9490 closed, assigned to jebriede

[2020-11-24 01:16] onwuchekwa opened #10321 "Could not establish trust relationship for the SSL/TLS secure channel"
## Details about Problem
I am unable to install Microsoft.EntityFrameworkCore.SqlServer -Version 5.0.0 package. The following error is displayed on the console:
_PM> Install-Package Microsoft.EntityFrameworkCore.SqlServer -Version 5.0.0
Restoring packages for C:\Users\osunday\source\repos\ContosoUniversity\ContosoUniversity\ContosoUniversity.csproj...
Install-Package : Unable to load the service i

[2020-11-24 05:04] ghost opened #10322 "Parallel restore randomly fails package certificate trust (in container)"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 5.8.0.6930 (via Pipelines `NuGetToolInstaller@0` task)

VS version: 2019 Build Tools v16.8.2

OS version: Server 2019 (1809 build 17763.1577) + Docker hosting mcr.microsoft.com/dotnet/framework/runtime:3.5-windowsservercore-ltsc2019

Worked before? If so, with which NuGet version: New scenario for us

## Description

1. Prepar

[2020-11-24 06:42] marcin-krystianc commented on #9864
This is a categorically good change though, the behavior across all tools should be consistent.

I lost in the past quite a chunk of time trying to investigate issues caused by duplicated `PackageReference` elements.
There are plenty of reasons why you can end-up having duplicates which are hard to spot:
 - package references defined via `Directory.Build.props`
 - package references implicitly def

[2020-11-24 07:45] hayletdomybest opened #10323 "How to programming set package management format"
NuGet product used: NuGet.VisualStudio

version: 5.8

OS version: win10

Hi I encounter some problem about using NuGet.VisualStudio to develop Visix programe.

When I use IVsPackageInstaller.InstallPackage(null, project, moq, null, false).

I always get format "0" (not reference format) in installing package.

I realize when source fill with null, Installing process will use user's configured sour

[2020-11-24 10:17] adamralph commented on #7411
what's the status here?

[2020-11-24 11:46] kirsan31 commented on #5986
@KirillOsenkov very cool workaround - thank you! I see here only 2 drawback:
1. You need to know exactly the version of the framework from the package. E.g. _\lib\ **netcoreapp3.0** \CopyThis.dll_. And if it will changed - all stop work :(
2. I think individual exclude will be more helpful than individual include overall.

[2020-11-24 11:53] sherman89 commented on #6027
This might be an issue of calling the 32-bit version of MSBuild, which causes Windows to do file system redirection to SysWOW64 directory to look for the packages.

Try calling the 64-bit version instead and see if that helps. I also posted about it on StackOverflow: https://stackoverflow.com/a/64984705/1469494

[2020-11-24 12:05] murugaratham commented on #10275
this happens intermittently within docker for me

[2020-11-24 15:12] KamranShahid commented on #10309
How it is related?

[2020-11-24 15:46] donnie-msft commented on #10310
@nkolev92 Could the UI detect that nothing was installed in a simpler way without getting specific errors. The UI could expect 1 install and see 0 installs occurred?

[2020-11-24 16:03] zivkan commented on #10310
@donnie-msft the package was installed. It's just the package icon shows the NuGet default, because the package contains an invalid icon.

@v-luzh was suggesting that the package should not be installed, but I'm with @nkolev92 on this. The package consumer has nothing actionable they can do. And the primary purpose of a package is to add assemblies, content and/or msbuild files to the build. The p

[2020-11-24 16:07] tebeco commented on #2519
Would it be possible to have this available publicly on nuget.org as statistics and metrics ?
* VS Version
* Nuget Client Version
* dotnet version (nuget embedded)

That would allow Author to have a visibility over that, could be for exampe updated once a week / month
That way we would all (contributor / author / maintainer) have the same shared information when working on open source project and

[2020-11-24 16:08] tebeco commented on #2519
I would also like to quote @augustoproiete https://github.com/NuGet/NuGet.Client/pull/3773#issuecomment-732506565 from the PR #3773 here (so it would be tracked with this issue)

[2020-11-24 16:11] tebeco commented on #2519
That would be lovely to move on something like this yes

[because if I read this correctly (click to go the @zivkan answer in the PR)](https://github.com/NuGet/NuGet.Client/pull/3773#issuecomment-732391533) :

and the linked issue :
![image](https://user-images.githubusercontent.com/2266487/100031227-60405b80-2df5-11eb-8181-acc7376a6a7f.png)

That would have been before Vs2017, and probably full s

[2020-11-24 16:13] tebeco commented on #2519
I think we are all trying to move forward to see this land for every Author and Consumer, what can we do to help you about this ?
For example, can the `Package Manager UI` be Open Source so you would have contribution for Vs2017 and Vs2019 ?

[2020-11-24 16:55] donnie-msft commented on #10310
zivkan, thanks for clarifying.

I have a suggestion to add status indicators to these icons. I believe this may resolve the concern: https://github.com/NuGet/Home/issues/10122

[2020-11-24 16:55] #10310 closed, assigned to nobody

[2020-11-24 17:02] Vfialkin commented on #10275
Same here, with latest aspnet:3.1.10-bionic
`--disable-parallel` helps but can take minutes to restore
Using internal repo instead of api.nuget.org gives the same results

[2020-11-24 17:46] efrost123 commented on #10275
+1

[2020-11-24 18:46] aolszowka commented on #10307
@nkolev92 any chance to look at those logs?

[2020-11-24 20:16] loic-sharma commented on #10316
Customers need info about packages’ signatures (like certificate thumbprints, or server owners) to configure NuGet’s security policies. How can a customer do that on macOS or Linux? Today it’s hidden behind a verbosity flag.

That said, I agree that the command’s output is verbose and could be trimmed down.

[2020-11-24 21:51] rrelyea commented on #10144
per workaround in associated bug, this is not 16.9 blocker at the moment.

[2020-11-24 22:04] zivkan commented on #10316
The command is "verify", not "show signature info". So, I think it's reasonable for customers to need to explicitly set a higher verbosity, or use some other arguments. But, I have no idea how this command is being used "in real life".

[2020-11-24 22:18] zkat commented on #10309
@KamranShahid we currently don't support filtering by TFM when updating/installing/etc. This means that we just go by version number, even if the new version number happens to be incompatible with the current project's TFM(s). That other issue is for adding that feature.

[2020-11-24 22:24] davkean commented on #9864
I've also spent a bunch diagnosing duplicate package references too. A warning would be extremely helpful.

[2020-11-24 23:59] kartheekp-ms commented on #10316
@zkat @JonDouglas Any thoughts about this issue? How about accepting the linked PR first to match `nuget.exe` behavior and plan on trimming down the default message to improve user experience?

[2020-11-25 00:09] zkat commented on #10316
I'm an old school unix headed person so my personal first impression is "this seems totally fine to me".

My second impression is that we could just output something as simple as "X signatures successfully verified" and be done with it.

[2020-11-25 04:28] kartheekp-ms commented on #10262
I can reproduce this issue. [`MSBuild inline tasks`](https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-inline-tasks?view=vs-2019) are valid in `.targets` file. Whether NuGet should support this feature in `.targets` file in a package is an open question for now.

tagging @rainersigwald to get his perspective on this bug.
tagging @drewgillies as he is working on an epic to [`flag vulner

[2020-11-25 09:48] v-luzh opened #10324 "No error occurred when packing a .NET Core package with an invalid format icon"
## Details about Problem
NuGet version: NuGet Client Dev\5.9.0.6971
VS Version: Main\30724.151
OS: Windows-10-Enterprise-19h2
## Detailed repro steps
1.In the Developer Command Prompt for VS, create a project with ‘dotnet new classlib -o InvalidNetCoreIcon’
2.Make an invalid image file (size not limited to 1 MB with txt format) and locate in the package.
3.Open the project file and modify the file

[2020-11-25 11:17] AndreiTimisescu opened #10325 "Make LocalPackageFileCache methods virtual"
## Details about Problem

NuGet product used (any):

NuGet version (any):

dotnet.exe --version (any):

VS version (any):

OS version (any):

Worked before? never

## Detailed repro steps so we can see the same problem

We are using NuGet.Commands.RestoreCommand to restore nuget packages and store them on Azure Storage.

Unfortunately LocalPackageFileCache is very slow and in order to optimize it

[2020-11-25 13:01] johnkors opened #10326 "5.8 + 16.8 Cannot resolve transitive project dependencies when mixing PackageReference and packages.config"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (5.8):
VS version (if appropriate): 16.8.x

Worked before? If so, with which NuGet version
Not entirely sure, but we did not experience an issue before installing 5.8 + 16.8.X
NuGet version (5.7):
VS version (if appropriate): 16.7.x

## Detailed repro steps so we can see the same

[2020-11-25 13:02] Vfialkin commented on #10275
Looks like throttling the number of requests with nuget.config helps and works much faster than 'disable-parallel'
(dont forget to copy it into container)

[code]

[2020-11-25 15:16] adrien-constant commented on #4103
I am also using a package repository on Azure DevOps, and I have installed the azure credentials provider. I tried multiple ways to make the dotnet list command work but all failed :

1. `dotnet list package --outdated`

error: Response status code does not indicate success: 401 (Unauthorized).

2. `dotnet list package --outdated --interactive`

3. Even setting  `$VSS_NUGET_EXTERNAL_FEED_ENDPOINTS

[2020-11-25 17:40] loic-sharma commented on #10316
Please keep in mind that this command is the only way to get necessary info on macOS and Linux to configure NuGet’s security policies (example: “Hey NuGet, only restore packages that were signed by Microsoft’s certificate”).

@zivkan adding a new option to output signing info seems reasonable to me. I wouldn’t tie this output to the verbosity level though since that’s used for debugging. Also the

[2020-11-25 18:00] mucahitimre commented on #9882
Hi, "**C:\Users\<username>\AppData\Local\NuGet\v3-cache**" after cleaning this folder fixed it for me.

[2020-11-25 18:36] adrien-constant commented on #4103
I agree it would be really nice to be able to update all outdated packages with the dotnet tool from command line, like :

`dotnet upgrade package --outdated`

So it would handle well the dependencies update order, which is not easy to do.

[2020-11-25 19:37] #9729 closed, assigned to jebriede

[2020-11-25 22:28] zivkan commented on #4103
`dotnet-outdated-tool` might do what you want. Scott Hanselman [wrote a blog post about it](https://www.hanselman.com/blog/your-dotnet-outdated-is-outdated-update-and-help-keep-your-net-projects-up-to-date) recently. I know a lot of people want 1st party, official tooling, but if you're willing to use community created tools, the tools available to you are more diverse and available today. Whether

[2020-11-26 09:31] adrien-constant commented on #4103
Indeed, I tried it yesterday and it does not work with my private AzureDev Ops nuget repository. I have opened an issue on their github page. I agree it's difficult to provide official tooling for everything, but I also think it would not require too much effort. The `dotnet list package --outdated` command works well, it would only require to call `dotnet add package` for each outdated package (w

[2020-11-26 10:56] bjuraga commented on #10304
caused by the **breaking change** in nuget 5.8 compared to 5.7
#10326

[2020-11-26 10:56] #10304 closed, assigned to nobody

[2020-11-26 14:38] rogerfar commented on #9882
@donnie-msft you say that speed if the issue here, but as a test I have waited 5 minutes and it still gives me the same issue:
[code]

Also, when I delselect "Select all packages", then individually click all the packages (which ironically selects `Select all packages` again), and then hit update it always works.

It seems that hitting that checkbox `select all packages` does something more than j

[2020-11-27 12:32] marcin-krystianc opened #10327 "Restore fails with NU1106 for solution that uses StaticGraph and CPVM"
## Details about Problem

NuGet product used: `dotnet.exe`

dotnet.exe --version: `5.0.100`

## Detailed repro steps so we can see the same problem

1. Run `dotnet restore --force /p:RestoreUseStaticGraphEvaluation=true`

[code]

## Other suggested things

`dotnet restore --force /p:RestoreUseStaticGraphEvaluation=false` works fine.

### Sample Project

I've discovered the problem in larger soluti

[2020-11-27 13:54] v-luzh opened #10328 "[Cross-Platform Sign Verify] Unexpected error NU3018 show after restoring project on Linux"
## Details about Problem
NuGet version: NuGet Client Dev\5.9.0.6972
VS Version: Main\30726.31
OS: Windows-10-Enterprise-19h2
## Detailed repro steps
1.	On Windows VM, create a C# Class Library (.NET 5.0) package, make and update nuspec file for the package with command `nuget spec`.
2.	Pack the package with command `nuget pack <packagename>.csproj`, create a new test certificate: ` .\CreateTestCer

[2020-11-27 19:38] RonSijm opened #10329 "Force update nuget without roleback?"
Hi there,

I'm wondering if it's possible to force nuget to just update all my nugets to the latest version in the .csproj file, disregard everything else, and just set the version numbers to the latest version?

It's becoming very tedious to update nugets, because basically for no apparent reason, for every nuget I'm trying to update it'll say "Update failed, rolling back" for no apparent reason,

[2020-11-28 01:39] GF-Huang commented on #6695
Same issue, the docs maybe out of date.
https://docs.microsoft.com/en-us/nuget/create-packages/source-and-config-file-transformations

[2020-11-28 16:43] CLIRResearch opened #10330 "NuGet Package Manager is not reporting installed packages in Visual Studio 2019"
I would normally report this through Visual Studio 2019.  However, when I try, the website says that there is no instance of Visual Studio that is signed in.  Visual Studio 2019 shows me as being signed in.

The following steps describe my issues with Visual Studio 2019 and NuGet Package Manager:

1.  Go to Tools | NuGet Package Manager | Manage NuGet Packages for Solution...
2.  Click the "Instal

[2020-11-28 16:47] xsoheilalizadeh commented on #10275
This issue impacts my daily work because I have to wait about ~4 min for each package restore on the container, could anyone in the NuGet team have (just) a look at this issue help us to fix it, it becomes frustrating.

I also tried to mount the NuGet cache folder from host to container but it still takes a lot of time to be restored.

[code]
@JonDouglas, @nkolev92, @karann-msft

[2020-11-29 06:35] batzen commented on #9384
@rconard Any news on this?
I just had to discover that newer versions of Visual Studio fail silently when using floating versions with CPVM.
That's the worst that can happen to a dev.
VS just does not restore a single project with no hint on what's wrong.

Even worse, but that might be a purely VS related issue, VS ignores my global.json which says SDK = 3.1.300 (where CPVM worked with floating ve

[2020-11-29 11:24] MichaeIDietrich opened #10331 "CPVM seems not to take FrameworkReferences into account"
## Description

Projects that use central package version management can produce different DLLs in the output if there is a project that uses `PackageReference` for a specific dependency while another uses `FrameworkReference` indirectly for the same dependency.

## Steps to reproduce

1. Clone this repository: https://github.com/MichaeIDietrich/TestCpvmWithFrameworkReferences
   * One project ref

[2020-11-29 14:59] dtivel commented on #10208
29 Nov 2020:  Failed again in private branch build 5.9.0.13872.

[2020-11-30 02:41] v-crchang opened #10332 "[Cross-platform Sign Verify] Unexpected errors about a package from nuget.org source occur after restoring Class Library (.Net Core) project"
## Details about Problem

NuGet version: NuGet Client Dev\5.9.0.6972
VS Version: Main\30726.31
OS Version: Windows-10-Enterprise-19h2

Installation: 

1.Install VS main\30726.31: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4257754&view=ms.vss-build-web.run-extensions-tab 

## Detailed repro steps

1. Create a C# Class Library (.NET 5.0) package, make and update .nuspec file for t

[2020-11-30 09:54] tmds opened #10333 "IntermediateOutputPath doesn't affect some NuGet related files"
When setting `IntermediateOutputPath`, most files that are by default put under `obj` are placed at that location, except for some files that are NuGet related.

Reproducer:

[code]
Add this to console.csproj:
[code]
Now:
[code]
Most files moved to `IntermediateOutputPath`:
[code]
Some remained under `obj`:
[code]

[2020-11-30 14:38] daryllabar commented on #9879
@hallipr what about for source only nuget packages: https://stackoverflow.com/questions/65051835/how-to-add-nuget-source-only-package-dependencies

Using Nuget in .Net projects will result in any NuGet Packages dependent on the installed package to get installed as well.  This does not appear to be the case with dotnetcore projects.   Are you saying for source only packages of dotnetcore I should

[2020-11-30 14:48] daryllabar commented on #9392
@nkolev92 So does that mean when working with dotnetcore, you should never create a NuGet Package that references a NuGet package that contains content files (See here https://stackoverflow.com/questions/65051835/how-to-add-nuget-source-only-package-dependencies for my current issue that results in me asking this question)?  I've been doing this with the packages.config for years and have not had

[2020-11-30 15:09] zivkan commented on #10333
@tmds [MSBuild reads these files from `MSBuildProjectExtensionsPath`](https://github.com/dotnet/msbuild/issues/1603) due to MSBuild import ordering issues. Furthermore, as described in that issue, you will need to set that path either in `Directory.Build.props`, or change the `Sdk` syntax in your csproj so that you can change its value before the SDK's props are imported.

Although it's not the ea

[2020-11-30 15:09] #10333 closed, assigned to nobody

[2020-11-30 15:10] daryllabar commented on #6826
According to the documentation, content files are implicitly excluded, and can't be overwritten: https://docs.microsoft.com/en-us/nuget/reference/nuspec#dependencies-element

exclude | A comma-delimited list of include/exclude tags (see below) indicating of the dependency to exclude in the final package. The default value is build,analyzers which can be over-written. But content/ ContentFiles are

[2020-11-30 15:16] rockfordlhotka opened #10334 "Unsupported targetFramework value 'net5.0-windows10.0.19041.0'"
## Problem

I am attempting to switch from the `net5.0-windows` TFM to a more specific versioned TFM as recommended by Claire Novotny on twitter. So I changed my nuspec files to use the `net5.0-windows10.0.19041.0` TFM (for my Windows Forms and WPF packages). Unfortunately, this results in nuget.exe telling me that this isn't a valid TFM. For example:

[code]

There is no error when the TFM is `ne

[2020-11-30 15:18] rockfordlhotka commented on #10334
@zkat Bringing your attention to this issue as per your twitter reply.

[2020-11-30 15:54] tmds commented on #10333
This doesn't work for me because $(Configuration) is not yet set, and I want to change the path based on that.

ok.
It would be nice if this would be possible using the default Sdk import.

[2020-11-30 16:43] rockfordlhotka commented on #10334
Updating to nuget.exe 5.8 resolved the issue.

[2020-11-30 16:43] #10334 closed, assigned to nobody

[2020-11-30 17:46] heng-liu commented on #8952
Closed as fixed by https://github.com/NuGet/NuGet.Client/pull/3777

[2020-11-30 17:46] #8952 closed, assigned to heng-liu

[2020-11-30 17:54] nkolev92 opened #10335 "Static msbuild graph restore - unnnecessary logging about MSBuildStartupDirectory"
Regressed in https://github.com/NuGet/NuGet.Client/pull/3722

Particularly https://github.com/NuGet/NuGet.Client/pull/3722/files#r529125478.

cc @dfederm

[2020-11-30 18:11] vsfeedback opened #10336 "Cannot open the NuGet Package manager"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Cannot-open-Nuget-browser/1265371)._

---
[severity:I'm unable to use this version] [regression] [worked-in:16.8.2]
Managing Nuget packages > Browse brings up the following error
! [image.png] (https://aka.ms/dc/image?name=Bca4ae68667b4419392c520bf946e165d637416996804221774_20201123-144

[2020-11-30 18:15] nkolev92 commented on #10336
I don't know if this is a 100% repro regression, given that there are no NuGet changes among 16.8.1 and 16.8.2, but the error message is clear.

The issue is happening because of the codespaces changes.

cc @rrelyea @dtivel

cc @aortiz-msft This is a P1 on dev community...worth prioritizing an investigation I think.

[2020-11-30 19:07] nkolev92 commented on #10336
https://developercommunity2.visualstudio.com/t/Internal-Error-with-NuGet-Package-Manage/1271505 is another issue with the same root cause.

[2020-11-30 19:10] nkolev92 commented on #10324
Hey @v-luzh

This is happening because pack in VIsual Studio has a different delivery mechanism than commandline.

Particularly, installing the Package Manager VSIX is not enough, it's all about the SDK version being used, and it's likely that the one inserted doesn't have that change.
Alternatively, if you install the nightly `NuGet.Build.Tasks.Pack` package, it should fix the problem.

Is this a

[2020-11-30 19:11] nkolev92 commented on #10328
fyi @heng-liu, @kartheekp-ms

[2020-11-30 19:49] dtivel opened #10337 "Remove #nullable enable from NuGet.VisualStudio.Internal.Contracts files"
The project file already has:
[code]
...so:
[code]
...is redundant.

[2020-11-30 19:52] dtivel opened #10338 "PackageCollectionItem.PackageReferences should be read-only"

[2020-11-30 19:58] nkolev92 commented on #10277
Hey @NeilAllen,

It'd be helpful if you can provide us info about the type of project, the action you were taking, the expected and actual outcomes. The issue template contains some guidance for that.

Copying the the issue template for your convenience.

**Please fill out the below**

Please read the following information before posting the issue.

## Before posting the issue...

* If you're havi

[2020-11-30 20:01] dtivel opened #10339 "Comparer static properties should be idempotent"
We have a pattern for types that implement a comparer interface (e.g.:  `IEqualityComparer<T>`):  implement a static property that returns an instance of the comparer.  That way, comparisons do not require instantiating a new comparer.  Unfortunately, this pattern was incorrectly implemented.

These properties will return a new instance every time the property is accessed:

[code]

This will retur

[2020-11-30 20:57] erdembayar commented on #10339
@dtivel
Is this issue generic for all property type or only for comparer type?

[2020-11-30 21:00] sbanni commented on #10213
Had a manual test run pass done on the search branch, only 1 issue found: https://github.com/NuGet/Client.Engineering/issues/660 which is a known issue related to Robs PackageReader work.

[2020-11-30 21:01] #9518 closed, assigned to sbanni

[2020-11-30 21:07] dtivel commented on #10339
Just comparer types.

[2020-11-30 22:08] nkolev92 commented on #10296
Hey @baiqiaw

I used a translator, is this something you can reproduce reliably? Can you please attach a repro?

[2020-11-30 22:13] ericsampson opened #10340 "nuget.exe 'list' command doesn't work for authorized feeds(?)"
## Details about Problem

NuGet.exe

5.8.0.6930

## Detailed repro steps so we can see the same problem

Right now I can successfully do 'nuget.exe search FOO' against authenticated feeds (GitHub Packages and Azure Artifacts), but trying the same thing using 'nuget.exe list' throws a warning and doesn't return results.

If I was able to have the same control of the search query in 'nuget search' t

[2020-11-30 22:22] dtivel commented on #10336
The NuGet version is 5.8.0.6930 (https://github.com/NuGet/NuGet.Client/commit/830c8be45dbbccd411ecf6080abff0c2c98079cf).

Here is the callstack:
[code]
The fault is in [`PackageReferenceContextInfo.Create(PackageReference)`](https://github.com/NuGet/NuGet.Client/blob/830c8be45dbbccd411ecf6080abff0c2c98079cf/src/NuGet.Clients/NuGet.VisualStudio.Internal.Contracts/PackageReferenceContextInfo.cs#L33)

[2020-11-30 22:30] erickson71 commented on #8016
I am trying to understand the impact of this bug
Are you saying that symbols are not supported when using our own artifact directory here? https://pkgs.dev.azure.com/OurOwnCustomDirectory/nuget/v2/
How might I push package with symbols here? Not having symbol support for libraries is a serious issue for us

[2020-11-30 22:46] erdembayar commented on #10339
Good to know next time. 👍

[2020-11-30 22:51] erdembayar commented on #6795
It looks any change to lock file might break existing build and restore since we can't support both project reference and packagereference for same Id&version. Even we support which one take more priority is tricky question. So I believe best course of action is display "Explicit error" for what is wrong. I already talked with @nkolev92  on this.

[2020-11-30 23:00] nkolev92 commented on #10298
Hey @GitZinger

Is your project a vcxproj?

Only `vcxproj` should be considered native and pacakges like `AWSSDK.Core` usually cannot be installed because they are managed.

It'd be helpful if you can attach the project in question.

Thanks!

[2020-11-30 23:22] nkolev92 commented on #10332
Sounds like we have a test case problem.

cc @heng-liu @kartheekp-ms.

@v-luzh The SDK doesn't ship with all the targeting packs, and that'd normally be downloaded through nuget.org if it doesn't ship with it.

If you add nuget.org to the sources, that'd do it.

[2020-11-30 23:36] LyalinDotCom opened #10341 "For WinUI 3.0 Preview 3+ project builds it says "NuGet package restore failed" but error list does not show any error"
This bug is a follow-up to formally log the issue we've been talking about over email, where we get a NuGet restore failed message in dev16.9 Preview 1 for WinUI 3.0 packaged projects, but the logs dont show what failed.

## Details about Problem

VS version (if appropriate): Visual Studio 2019 version 16.9 Preview 1

## Detailed repro steps so we can see the same problem

1. Download WinUI 3.0 (P

[2020-12-01 00:00] nkolev92 commented on #10275
cc @zivkan

[2020-12-01 00:18] nkolev92 commented on #7411
@adamralph

It's something we want to consider changing, but not on our short-term backlog (think 16.9) as of right now.

[2020-12-01 00:21] nkolev92 commented on #10325
Thanks for creating a PR @AndreiTimisescu

I'd like to learn more about the motivation.

Can you be more specific about what parts are slow?
Are there any optimizations we can apply to the main APIs, so that everyone can benefit from the changes?

[2020-12-01 00:25] nkolev92 commented on #7189
@Mike-E-angelo

The scenario you linked is our primary motivation as to why is the source parameter is not respected.

We want to steer people in a direction where their restores are repeatable and that can't happen if a package is not in any of the sources specified for that solution/repo/project.

[2020-12-01 00:32] #10314 closed, assigned to nkolev92

[2020-12-01 00:42] nkolev92 commented on #10289
No response from the OP yet, so I'm gonna close this for now.

Happy to re-open if/when we get more details.

[2020-12-01 00:42] #10289 closed, assigned to nkolev92

[2020-12-01 00:48] hallipr commented on #9879
I don't do any work on the dotnet cli or nuget projects, so my advice is all based on personal experience and several rabbit hole explorations.

If we ignore "source only" for a bit, then the problem is general:

- NuGet packages contain assets and dependencies.  The [.nuspec documentation for the Dependency element](https://docs.microsoft.com/en-us/nuget/reference/nuspec#dependencies-element) def

[2020-12-01 00:56] nkolev92 commented on #10268
Pri 2 is reasonable.

PC lock file usage is low.

[2020-12-01 00:59] donnie-msft commented on #9882
@rogerfar The error is fairly generic, so likely there's multiple root causes. I understand what you're saying about selecting all... In your case, did you open the Package Manager window directly to the Updates tab, or did you have to switch tabs?

Can you give me an idea of the scope of package sources selected in the dropdown in the upper-right? Is there a single remote or local source? Is it "

[2020-12-01 01:19] nkolev92 commented on #10251
@adam8797

Capture the number of packages installed/download is probably valuable.

[2020-12-01 01:37] v-luzh commented on #10324
Hey @nkolev92, I didn't pack the package in VS, I did it in commandline.

That is our regular daily manual test scenario "Verify invalid .NET Core embedded icon in local feed" about sub-feature "Embedded icons". We used only one bug 9311 to track these similar issues on both packing .NET Framework/.NET Core package before.

But `Adds icon filename extension validation NuGet/NuGet.Client#3716` only

[2020-12-01 02:00] nkolev92 commented on #10324
I see.

This is difficult to test because of the different shipping.

The `pack` SDK ships with .NET SDK, not with NuGet.Tools.vsix.

Can you try installing the latest preview `NuGet.Build.Tasks.Pack` into the project.

You can do that by doing the following:

1. Create NuGet.Config in the directory of the project in question.
1. Add `    <add key="nuget-build" value="https://pkgs.dev.azure.com/dn

[2020-12-01 02:01] nkolev92 commented on #10324
Note that in about a week or so, this would work with the default VS, once NuGet has inserted into the SDK and the .NET SDK has inserted back into VS.

[2020-12-01 02:07] nkolev92 commented on #8127
@dovholuknf

Any chance you can provide us with a repro project?

Is the action that you are running a packages.config package installation?

[2020-12-01 02:09] nkolev92 commented on #10307
Hey @aolszowka

I was out all of last week, I haven't gotten a chance yet. I'll get to it this week.

[2020-12-01 02:23] dovholuknf commented on #8127
I didn't think I could. I don't know if it's reproducible tbh. I just did these steps locally and i'm now waiting on NuGET:

* make new solution
* added "ExampleNugetProject" (.net framework console program)
* added System.Text.Json to this project - took 0.5s (fast)
* added Newtonsoft.Json to the project - took 1.5s (fine)
* added NLog to the project - took 5s (reasonable)
* added "WindowsService

[2020-12-01 02:25] dovholuknf commented on #8127
[code]

[2020-12-01 02:29] dovholuknf commented on #8127
i literally can sit there and watch the dependencies pull in... here's three screen caps i grabbed while NLog was doing it's thing... see how i can spot each new dependency get added. that's how slow it is:
![image](https://user-images.githubusercontent.com/46322585/100689768-25897680-3353-11eb-9507-c66ccd0c28c7.png)

[2020-12-01 02:32] rogerfar commented on #9882
I have played a bit with, various projects, various types of projects (.NET Core 3.1, .NET Core 5, 4.8, console, web, WPF).

Right click solution file -> `Manage NuGet Packages for solution` opens on the Installed tab, then I switch to `Updates`, after it shows the number of updates available on the `Updates` tab title, click Select all pages, then `Update`, works.

The package manager seems to re

[2020-12-01 02:38] Mike-E-angelo commented on #7189
Thank you for your reply and additional information, @nkolev92.  From my perspective, it would seem that if a source isn't a part of a solution/repo/project as you point out, then the user should be presented with a subsequent prompt to add it (Y/N/Cancel, etc), rather than failing with an obscure/confusing error that requires one to search Google/GitHub for more information/context.  As it stands

[2020-12-01 02:40] dovholuknf commented on #8127
and - last comment till i hear back - removing a dependency can also take a lifetime... I am removing "Newtonsoft.Json" from this "WindowsService1"project right now - and it's taking foooorrrrevverrrrrr. a banner popped up saying "dowloading missing dependencies" (on a REMOVE action mind you - doesn't really make sense to try to download a missing dependency when i'm REMOVING a dependency does it?

[2020-12-01 02:41] nkolev92 commented on #8127
What's the target framework for the windows service in your case?

Installing newtonsoft.json & NLog in my case leads to a pretty quick installation. In the end, the pacakges.config leads only to
[code]

which is obviously not what you are seeing.

[2020-12-01 02:42] #10339 closed, assigned to dtivel

[2020-12-01 02:44] nkolev92 commented on #7189
Adding a prompt is an interesting idea.
Minimally, we could also enhance the message with a suggesting indicating that that the source in questions could/should be added to the nuget.configuration.

fyi @JonDouglas.

[2020-12-01 02:51] dovholuknf commented on #8127
I recorded an mp4 if you like too... targetting 4.7.2 at the moment. i think i had the same behavior using 4.8

[code]

[2020-12-01 02:56] nkolev92 commented on #8127
It'd be great if you can upload that.

That's super weird :/ I see the framework assemblies too, but they are not taking as long.

The package installation in packages.config is fundamentally broken, because it involves writing *every single* file into the project file, and well that can be slow given the old architecture of some project-systems.

PackageReference avoids this by automatically infe

[2020-12-01 03:04] dovholuknf commented on #8127
recording of a 59s interaction can be found here https://www.youtube.com/watch?v=8NtNBj6bKck

it's not every time. i can't find any steps to reproduce. this shows the removal of newtonsoft.json

[2020-12-01 03:22] nkolev92 commented on #8127
Thanks for all that info.

The interesting part to me is that the download is taking *a long* time for you.
Do you have problem accessing nuget.org? Any slowness when you just run restore or only installation?

[2020-12-01 03:31] dovholuknf commented on #8127
nope - never have an issue accessing nuget.org usually. personally i feel like this is something in visual studio and not so much nuget but i don't have any proof whatsoever - just a gut feeling given how the UI reacts. 300-500 ms with curl. also some of the times it's "normal fast" - like 1-5 total seconds

[code]

[2020-12-01 04:46] xxl-cc commented on #9310
i have same problem。

[2020-12-01 05:01] adam8797 commented on #10251
@nkolev92 any easy way to do this, or should I just grab the output at a more verbose setting?

[2020-12-01 06:26] loic-sharma commented on #10260
@zkat There's no corresponding issue on server repos AFAIK. This item likely needs some PM love before we do anything though 😊

[2020-12-01 07:34] Mike-E-angelo commented on #7189
Anything for the cause, @nkolev92. 😁  That, and anything to keep me from playing the role of tech support. 😅

[2020-12-01 08:28] v-luzh commented on #10263
I can repro this issue on Main\30730.159 + NuGet Client Dev\5.9.0.6974 as below screenshot.
![image](https://user-images.githubusercontent.com/20632625/100709675-7f3c8000-33e9-11eb-96bb-bb65a0290430.png)
The key points to repro this bug are the bold lines in the above step1 and step3. Can't upload the solution since it is too big even after making it to zip.

[2020-12-01 09:19] v-luzh commented on #10324
@nkolev92 Thanks for the workaround. Yes, that works. And we will check it in default VS in about one week.

[2020-12-01 13:31] #10337 closed, assigned to dtivel

[2020-12-01 13:32] #10338 closed, assigned to dtivel

[2020-12-01 15:32] jpobst opened #10342 "VersionRange cannot parse single-digit ranges"
It would be nice if `NuGet.Versioning.VersionRange.Parse` could parse a single digit (like `NugetVersion.Parse`  can):

[code]

[2020-12-01 16:07] sayedihashimi commented on #4254
I believe that this is important for packing templates in a .nupkg file when running on an OS that is not windows.

[2020-12-01 16:48] erdembayar commented on #5127
It's actually at least 2 problems.
1. It looks our MAC error message is different from Windows one for same problem.
MAC says has very generic message`error Package 'Domain' is incompatible with 'all' frameworks in project '/Users/xxxxx/Desktop/5162/App/App.csproj'.` and most likely it attract more traffic for other issues too that has different problem like 'no compatible' TFM version found.
But

[2020-12-01 18:32] #9919 closed, assigned to dtivel

[2020-12-01 19:01] Anipik opened #10343 "SuppressDependenciesWhenPacking requires not working for net6.0-windows during the pack task"
SuppressDependenciesWhenPacking is not working when we set this property for tfm net6.0-windows.
I did a little investigation and it seems like it works when we specify the this tfm as net6.0-windows7.0.
i tested this by adding this to the project.

[code]
output nuspec
[code]

REquired nuspec
[code]

The required nuspec can be obtained by adding
[code]
to the csproj

cc @viktorHofer @safern @eric

[2020-12-01 19:39] ericstj commented on #10343
@Anipik maybe you can provide a repro project and then describe what you'd expect the nuspec to look like vs what it actually looks like?

[2020-12-01 19:52] geotinc opened #10344 "FatalProtocolException in PackageSearchResource when deployed to Azure"
Hello, I have the following problem :

NuGet product used NuGet.Protocol package version 5.8.0 :
![image](https://user-images.githubusercontent.com/20421571/100789444-bf662780-3416-11eb-9709-260342e1b3f5.png)

I have create an Asp.Net core 5 website that list nuget package from my private nuget serveur. It works great when running on my computer but when deployed to Azure, I have the following err

[2020-12-01 19:53] Anipik commented on #10343
I added the customer project with net5.0 as target

[2020-12-01 21:00] nkolev92 commented on #10251
Verbose logs would do it.

Alternatively, you can glob for *.nupkg files in the global packages folder.

[2020-12-01 21:08] nkolev92 commented on #10324
Sounds good. Assigning this issue to you for now.

Let's come back to it if once the insertion has happened, things are still broken.

[2020-12-01 21:22] nkolev92 commented on #10302
@chucklu

When I compare the branches, https://github.com/ChuckTest/NuGet-10302/compare/class-library-first...console-app-first, I see thjat in one the packages are installed and they aren't in the other one.

Maybe there's something that hasn't been pushed yet?

[2020-12-01 21:46] nkolev92 commented on #10307
Hey @aolszowka

Unfortunately the logs are not telling me enough where I can figure out what's going wrong.
I can do some custom patches that you can run on your end that'd allow us to investigate more.

Here's a rundown on what I'd do to help us diagnose further.

* Static graph and regular restore really only differ in the msbuild project file reading. The core restore algorithms are 100% the sa

[2020-12-01 21:51] nkolev92 commented on #10279
This was moved from developer community.

For the OP or anyone else experience this issue.
We'd appreciate a repro solution, so we can test this out and narrow down what the problem might be.

[2020-12-01 21:58] aolszowka commented on #10307
@nkolev92

Running `"C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\amd64\msbuild.exe" All.sln /t:GenerateRestoreGraphFile`

Fails with:

[code]

Attempting to define it as this: `"C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\amd64\msbuild.exe" All.sln /t:GenerateRestoreGraphFile /p:RestoreGraphOutputPath=%CD%\out.g`

Yields

[2020-12-01 22:03] nkolev92 commented on #10313
Hey @moonboy13

I was unable to repro this locally.
The project restored correctly and I had no trouble building.

Can you still repro this?
Any warnings/logs that VS is reporting?

What happens if you try to run `msbuild.exe /t:restore` from the commandline?

[2020-12-01 22:04] erdembayar opened #10345 "Dotnet add package doesn't record custom source feed was used during restore"
Hi.
While I was investigating [#5127](https://github.com/NuGet/Home/issues/5127) I realized when user use custom source feed during `add package` then that information[ is not recorded into both asset and dpSpec files](https://github.com/NuGet/Home/issues/5127#issuecomment-736676045). Maybe it could become source of confusion or security hole if we don't know where did this package came from durin

[2020-12-01 22:07] nkolev92 commented on #10317
Hey @Ka0o0,

Can you please try applying the permissions to directory instead of just the file?

NuGet's cross process locking rely on creating a marker file in the same directory as the file of interest, so I'm guessing that might be the root cause here.

[2020-12-01 22:16] erdembayar opened #10346 "Dotnet pack command creates unwanted trash folders on Windows"
While investigating [issue#5127](https://github.com/NuGet/Home/issues/5127),  I ran `dotnet pack --include-symbols --output '../Nugets'` on my Windows machine.
Expected bevahior is :
1. create `Nugets` folder on upper level
2. Or simply fail due to bad formatted path.

Actual bevahior is: It creates a broken folder for windows without any error message. It seems this command format is for MAC/Linu

[2020-12-01 22:17] nkolev92 commented on #10326
Hey @johnkors,

Thanks for the great repro.

This is definitely an uncommon scenario and not one we'd recommend long term, but it is a bug.

The *good news* is that we have a fix for that through https://github.com/NuGet/NuGet.Client/commit/a4c9d63bf942f1df1ba9486a87bad2e4b6888488.
The *bad news* is that this is only in 5.9.0 right now.

I will *add tests* to cover this scenario and ensure we don'

[2020-12-01 22:31] AndreiTimisescu commented on #10325
Hi, we are developing a web application using Azure ecosystem. One of the backend services need to restore user projects and serve the restored dlls to be loaded in a Blazor application running on front end. The restore operation needs to be fast as it happens every time the user opens a project. In most cases the dlls will be already restored on backend and stored on Azure Storage as there will b

[2020-12-01 23:48] #9897 closed, assigned to jcjiang

[2020-12-02 01:10] nkolev92 commented on #10307
Hey @aolszowka, yes the complex file is the one that's interesting.

Basically comparing that file from traditional msbuild walk restore, should be equivalent to the one generated by static graph restore.

Would you be willing to run a custom build static graph restore if I were to start a branch for that?

[2020-12-02 01:11] aolszowka commented on #10307
@nkolev92 I'm ready and willing, lets do this!

[2020-12-02 01:54] chucklu commented on #10302
Hi @nkolev92 ,
     It seems the compare feature across branches of GitHub is broken.
ClassLibrary1/packages.config exists on both branches, and GitHub compare result shows it only exist on branch console-app-first.
https://github.com/ChuckTest/NuGet-10302/blob/console-app-first/ClassLibrary1/packages.config
https://github.com/ChuckTest/NuGet-10302/blob/class-library-first/ClassLibrary1/packages.c

[2020-12-02 02:14] nkolev92 commented on #10320
Hey folks,

Apologies for the issues. We have a fix, we're considering patching it down level.

This looks equivalent to https://github.com/NuGet/Home/issues/10326.

[2020-12-02 02:21] nkolev92 commented on #10323
Hey @Hsu-Cheng-Wei,

In projects that support both packages.config and PackageReference, the package management format is controlled by the nuget.config.

You *might* need to reload VS to ensure the nuget.config is reloaded.

Would you be able to provide a repro for us?

[2020-12-02 02:35] nkolev92 commented on #10329
Hey @RonSijm,

there's no way to force NuGet to update.
NuGet package installation runs restore to check for compatibility, so if the package installation fails, it's likely that restore fails as well.

We know that the failure reason can be a bit tricky to find, but the Package Manager output window *should contain* it.

Would you be able to provide us a repro project/action or provide some scree

[2020-12-02 02:37] nkolev92 commented on #10340
Dup of https://github.com/NuGet/Home/issues/2869.

[2020-12-02 02:37] #10340 closed, assigned to nobody

[2020-12-02 03:25] chucklu commented on #9706
@nkolev92  Another side effect is, it takes too much time to do the package upgrade.
I have 70 projects in one solution, and it takes more than 7 minutes to upgrade a package, although only 10 projects reference the package.  I wonder if lots of time was wasting to check the bindingRedirect on non-relevant projects.

[2020-12-02 07:05] johnkors commented on #10326
Thanks for looking into it!

To elaborate, this is not something we'd like either, but we are in the middle of migrating full framework applications to .NET Core / .NET 5. Migrating class libraries are easy, but larger MVC apps not so much. So for us, this is a very realistic dependency chain that we need to have working builds for as long as we have ongoing migrations. It will probably take us ov

[2020-12-02 08:08] v-luzh commented on #10332
Hey @nkolev92, I still got the error NU3034 on Linux as below after adding "nuget.org" to the sources and "Microsoft" as a trusted signer. And this issue didn't repro when we did the Onboarding Test of the Cross-Platform Signing Verification Test on Dev\5.8.0.6848.

![image](https://user-images.githubusercontent.com/20632625/100845246-e6286a80-34b7-11eb-90a7-1e04b71b10ba.png)

[2020-12-02 10:00] v-luzh commented on #10024
Hey @dtivel, this bug repro on Main\30801.165 + NuGet Client Dev\5.9.0.6976. The key point to repro are: creating a new project on an opened solution (don't close the solution or VS when creating a new), use the "Update" button after checking “Select all packages” check-box (described in step3). Please have a look, thanks.

[2020-12-02 11:03] marcin-krystianc commented on #7060
Yes, I partially agree with you. I think that the downside of it that it is unknown to users which leads to problems.
E.g. when I run `dotnet nuget locals -l all` I get:
[code]
nothing really suggests that temp location is so important and used as a location of lock files. Therefore the contract that requires me to use the same `temp` location for all concurrent NuGet operations (when there are an

[2020-12-02 15:00] moonboy13 commented on #10313
Hey @nkolev92, still able to reproduce this consistently for some users.

Grabbed the output of the command you suggested, one from a user that can build and one from a user that cannot. Added in the -verbosity:d flag to the output as well so there is a lot of info.

Running a diff between the two files, I noticed something interesting on line 1262 for the OutputSources. On the successful build
th

[2020-12-02 17:23] benvillalobos opened #10347 "msbuild restore doesn't import all packages"
---
**Issue moved from dotnet/msbuild#5908**
- Please respond to @zdavidsen.

---

_From @zdavidsen on Tuesday, November 24, 2020 4:06:10 PM_

### Issue Description

(Posting on behalf of a coworker, since I'm the designated build script maintainer)

We have a common msbuild script/project that we use in a number of repositories which requires a couple of Nuget packages (an internal package and MS

[2020-12-02 17:23] BenVillalobos commented on #10347
---
**Issue moved from dotnet/msbuild#5908**
- Please respond to @BenVillalobos.

---

_From @BenVillalobos on Wednesday, November 25, 2020 4:48:15 PM_

Team Triage:  Does the file `'$(NuGetPackageRoot)msbuildtasks\1.5.0.235\build\MSBuildTasks.targets`  exist on your coworkers machine?

Does this still happen if your coworker flushes their nuget cache? `nuget locals all -clear`. This will delete _

[2020-12-02 17:23] BenVillalobos commented on #10347
---
**Issue moved from dotnet/msbuild#5908**
- Please respond to @zdavidsen.

---

_From @zdavidsen on Monday, November 30, 2020 4:34:09 PM_

Yes to both of those questions.  He tried clearing the nuget cache (probably through visual studio), and I know the package exists locally because manually importing the targets file allows the build to proceed.
(`<Import Project="$(PkgMSBuildTasks)\build\MS

[2020-12-02 17:23] BenVillalobos commented on #10347
---
**Issue moved from dotnet/msbuild#5908**
- Please respond to @BenVillalobos.

---

_From @BenVillalobos on Wednesday, December 2, 2020 4:52:17 PM_

Team Triage: When your coworker imports using `<Import Project="$(PkgMSBuildTasks)\build\MSBuildTasks.targets" />`, what does `PkgMSBuildTasks` expand to? Is it the same on your machine?

[2020-12-02 17:23] BenVillalobos commented on #10347
---
**Issue moved from dotnet/msbuild#5908**
- Please respond to @zdavidsen.

---

_From @zdavidsen on Wednesday, December 2, 2020 5:17:07 PM_

It's expanding to the same path on both computers: `C:\Users\<user>\.nuget\packages\msbuildtasks\1.5.0.235`

[2020-12-02 17:30] dtivel commented on #10336
There are 8 product implementations of [`NuGetProject.GetInstalledPackagesAsync(...)`](https://github.com/NuGet/NuGet.Client/blob/830c8be45dbbccd411ecf6080abff0c2c98079cf/src/NuGet.Core/NuGet.PackageManagement/Projects/NuGetProject.cs#L56):

*  [`FolderNuGetProject.GetInstalledPackagesAsync(...)`](https://github.com/NuGet/NuGet.Client/blob/830c8be45dbbccd411ecf6080abff0c2c98079cf/src/NuGet.Core/Nu

[2020-12-02 17:35] zivkan commented on #10325
I'm not (yet?) an expert on NuGet's restore code, but I'm concerned that there may be a fair amount of code that assumes that the files or packages returned by this class are really local on disk, available though `System.IO` APIs. If you have an implementation that queries a database or blob storage, so the files are not really local, other parts of the product might fail when it tries to use tho

[2020-12-02 18:07] twsouthwick opened #10348 "Restore fails to include PackageReference from Directory.Build.targets on Linux"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

dotnet.exe --version (if appropriate): 5.0.100

OS version (i.e. win10 v1607 (14393.321)): ubuntu-20.04

Worked before? If so, with which NuGet version: Works on Windows

## Detailed repro steps so we can see the same problem

1. Have a project with a nested Directory.Build.targets. I use this

[2020-12-02 19:49] nkolev92 commented on #10321
Hey @onwuchekwa,

Are you still running into this problem?
Was it only Visual Studio that was running into this problem?
It's possible that you hit an intermittent networking issue.

If you are still running into this, try https://docs.microsoft.com/en-us/nuget/nuget-org/nuget-org-faq#nugetorg-not-accessible.

[2020-12-02 19:52] nkolev92 commented on #10322
Dup of https://github.com/NuGet/Home/issues/10275.

Please upvote that issue. Thanks.

[2020-12-02 19:53] nkolev92 commented on #10322
Related to https://github.com/NuGet/Home/issues/10275, but does not seem to have the same root cause.

[2020-12-02 19:56] nkolev92 commented on #5014
The original issue is a permissions issue.
The obj folder is not owned by the docker process so NuGet can't write there.

@mechdeveloper

The error you are hitting seems to be a generic one. At this point if you are still hitting this problem, it might be helpful if you can file a new issue.

Closing.

[2020-12-02 19:56] #5014 closed, assigned to nobody

[2020-12-02 19:59] nkolev92 commented on #10327
I can repro this. Thanks for the detailed steps!

[2020-12-02 20:04] nkolev92 commented on #10330
Hey @CLIRResearch

Thank you for filling this issue.
Unfortunately I'm not sure how I can repro this. Would you be able to provide a repro projects and some screenshots?

[2020-12-02 20:07] nkolev92 commented on #10342
Bug here: https://github.com/NuGet/NuGet.Client/blob/20f57014932eadd13b4a69e05010fa56d71bdba4/src/NuGet.Core/NuGet.Versioning/VersionRangeFactory.cs#L104-L117

Given the low impact, we're unlikely to get to this soon, but we'd consider taking a PR.

[2020-12-02 20:55] nkolev92 commented on #10343
Fixed in https://github.com/NuGet/NuGet.Client/commit/d6dc0502b45cee9857187f26f3b05860e13256d4.

Dup of https://github.com/NuGet/Home/issues/10097.

Unfortunately this did not make it into 5.0.100, so the fix will only flow into 5.0.200.

fyi @zkat

[2020-12-02 20:55] #10343 closed, assigned to nobody

[2020-12-02 21:59] nkolev92 commented on #10341
Finally got to the bottom of it.

When you create this project type, there's a compat issue, the template is broken due to the following:

[code]

The root cause as to *why* the warnings are not displayed is the fact that the project is CPS based.

NuGet PackageReference can be integrated through CPS or the VSProject4.

NuGet handles the writing to the error list in VSProject4 integration, but CPS

[2020-12-02 22:30] nkolev92 commented on #10332
@v-luzh Can you please paste the config?

Trusted signers are case sensitive.

[2020-12-02 22:34] nkolev92 commented on #7060
I think that's exposing NuGet internals to customers that are probably not interested in that detail.
I think we can do a better job of providing guidance on running multiple nuget operations concurrently, but not sure we need a separate location for that.

cc @JonDouglas @zivkan

[2020-12-02 22:41] nkolev92 commented on #10313
Based on the logs, the extra source is likely specified in one of the configs.

I'd recommend you add a NuGet.Config in the root of your repo with all required sources.

Can you please try running restore in VS and provide us the logs + screenshot from the errors in the error list.

[2020-12-02 22:42] #10320 closed, assigned to nkolev92

[2020-12-02 22:42] #10326 closed, assigned to nkolev92

[2020-12-02 22:57] kartheekp-ms commented on #10332
I think we don't need `Patched SDK` any more for testing because `net5` is GA now.

Microsoft certificate that was being used to sign packages was close to expiring, the certificate was rotated: https://devblogs.microsoft.com/nuget/microsoft-author-signing-certificate-update/

@v-luzh - Please try the work around suggested in the above link and let us know the feedback.

[2020-12-02 23:31] kartheekp-ms commented on #9195
I can reproduce this issue on `.NET Core Console App` that multi-targets `net472` and a .NET core tfm. I **cannot** reproduce this issue on a `.NET Core Class Library` project with multiple target frameworks.

@nkolev92 helped me to find that `.NET SDK` sets runtime identifier to `win7-86` [here](https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Ru

[2020-12-02 23:36] nkolev92 commented on #10307
The easiest way to do this is to build the NuGet.Client locally.

I have added an environment variable that'll help you generate the equivalent of
`GenerateRestoreGraphFile` does for normal restore.

Steps:
1. Follow https://github.com/NuGet/NuGet.Client/blob/dev/CONTRIBUTING.md#code.
1. Clone https://github.com/nuget/nuget.client
1. Checkout `dev-nkolev92-staticGraphLogging`
1. From here on, I'd

[2020-12-02 23:47] nkolev92 commented on #10331
Hey @MichaeIDietrich

Unfortunately I don't think NuGet is the best to help you here.
FrameworkReferences are a different way of acquiring the assets.

Can you please explain why you think CPVM is particularly relevant here?
I'd expect the same experience with regular restore as well, this is more of a Package vs FrameworkReference thing.

[2020-12-03 00:00] nkolev92 commented on #10345
Dup of https://github.com/NuGet/Home/issues/6232.

[2020-12-03 00:00] #10345 closed, assigned to nobody

[2020-12-03 00:07] nkolev92 commented on #10346
I'm not sure it's a NuGet/dotnet problem, it might be shell.

In particular, I ran the command you provided in powershell and it worked just fine:

[code]

If the file system accepted it, then I don't NuGet should be concerned with this.

[2020-12-03 00:52] kartheekp-ms opened #10349 ".NET 5: Unable to install some .NET tools (dotnet tool install)"
Issue description https://github.com/dotnet/sdk/issues/14547#issue-743150997

@msallin I am unable to reproduce this issue on WSL (Windows Subsystem for Linux) and Windows. Executed `dotnet tool install PowerShell --tool-path ./tools/ -v d` command on WSL and on Windows with a different value for `--tools-path`. Both the commands succeeded.

Transferring this issue to `NuGet` side. If you can prov

[2020-12-03 01:17] nkolev92 commented on #8127
Hey @dovholuk

I think collecting an ETL trace is the best thing leftover here: https://docs.microsoft.com/en-us/visualstudio/ide/report-a-problem-perfview?view=vs-2019.

[2020-12-03 01:24] nkolev92 commented on #10280
The ordering in the UI doesn't affect the NuGet behavior.

Dup of https://github.com/NuGet/Home/issues/8315, which tracks the removal of these misleading arrows.

[2020-12-03 01:24] #10280 closed, assigned to nobody

[2020-12-03 01:35] vsfeedback opened #10350 "Manage NuGet Packages - In the scroll list, the package version is truncated quietly"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Manage-NuGet-Packages---Version-column-b/1271130)._

---
[severity:It bothers me. A fix would be nice]
When using _NuGet_ Packages manager page,
the right side table has two columns - "Project" and "Version".
in case where the NuGet version is very long, the text in "Version" column
is

[2020-12-03 02:43] v-luzh commented on #10332
@nkolev92 @kartheekp-ms, yes, the issue is fixed after using the workaround suggested in the above link. So, do we need to update all the test case of Cross-Platform Signing Verification Test or wait for the SDK shipped with all the targeting packs?

[2020-12-03 03:10] aolszowka commented on #10307
@nkolev92 Not going to lie man fighting though this is a trip; is this really how it is on the inside? Like there isn't just an Azure DevOps Pipeline drop somewhere for this? for your branch? that you could just point me to? Unreal!

Right off the bat trying to run `config.ps1` I get burned by https://github.com/dotnet/sdk/issues/4240, charging on like a Wide Eyed Web Dev Fresh out of the 72 hour

[2020-12-03 03:14] dovholuknf commented on #8127
Tonight it happened immediately. I had also done a fresh restart just before doing this... The file is 'pretty enormous' because it collected data for 7m 45s... (how long it took for NuGet to add the dependency. Many of these dependencies below i watched in the output window. each line took like "10seconds (or waaaaay more)" to show up.

The zip file is 450mb - what should I do with this?

[code]

[2020-12-03 04:40] nkolev92 commented on #10307
I will get you a vsix that you can install.

I went with the approach that didn't require you to install anything to your VS instance. Bad assumption by me, the drop should hopefully make it easier.

[2020-12-03 06:42] AndreiTimisescu commented on #10325
Thanks Andy, for taking time to look into this.

The files are accessible via System.IO as the Azure Storage is mounted as a local drive, the problem is that the access is slow. The packages are restored in a temporary packages folder and then moved on feed related fallback folders stored in Azure Storage. Users have governed access to different feeds and their corresponding related fallback folde

[2020-12-03 07:01] MichaeIDietrich commented on #10331
Hi @nkolev92,

thank you for your response.

If not NuGet is the best to help here, what else is the best, since both files contain identical meta data as far as I can see?
Both, `PackageReference` and `FrameworkReference` are restored using NuGet mechanism, so I would expect that NuGet has some precedence logic for the resulting DLLs.
_Or did you mean the NuGet repo is not the best here for askin

[2020-12-03 10:06] raffaeler opened #10351 "NuGet error when compiling the code generated by the WinUI3 Preview 3 template"
## Problem details

When compiling a new WinUI3 Preview 3 project, nuget returns an harmless error.
The error is printed sistematically, even when repeating the "Restore NuGet packages" from the solution explorer.
**Anyway the application works correctly**

Versions used:
- VS2019 16.9.0 P1
- .NET 5.0.100
- NuGet.exe Version: 5.8.0.6930
- OS: Windows 10 20H2 (19042.630)

## Repro

1. Install the o

[2020-12-03 10:31] msallin commented on #10349
I'm also unable to reproduce it when not using our Jenkins-Slaves. In the meantime, I tried to use NuGet directly (without Artifactory). It's the same result.

[2020-12-03 13:06] roofiq commented on #3891
Hello,
could you provide any example of usage for this 'IncludeContentInPack', can't find anything.

[2020-12-03 13:08] IanKemp commented on #3891
https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#includecontentinpack

[2020-12-03 13:20] roofiq commented on #3891
Thanks for a quick reply @IanKemp. I was actually hoping, that it will allow MSBuild to also include referenced project (as nuget includeReferencedProjects property).
I have asp.net app migrated to packageReference and SDK, I want to pack all projects to one NuGet - can't use NuGet command for it as it is said in this document - [that using` msbuild -t:pack` is recommended for projects migrated fr

[2020-12-03 13:48] eruizc-dev commented on #7839
This is my experience in Manajaro Linux with `dotnet restore` and `dotnet version` 3.1.108

Read:
 - ./nuget.config
 - ~/nuget.config
 - ~/.nuget/NuGet/NuGet.Config

Not read:
 - ~/.nuget/NuGet/nuget.config
 - ~/.nuget/nuget.config
 - ~/.config/Nuget/nuget.config
 - ~/.config/Nuget/NuGet.Config

[2020-12-03 14:16] dotnetjunkie commented on #1192
With newest Visual Studio versions (16.8 in my case) the "Dependency Behavior" pulldown has seemed to be removed completely, which isn't making the problem any less:

![image](https://user-images.githubusercontent.com/1506621/101032783-497ad100-357a-11eb-87e0-9499fe134fa7.png)

[2020-12-03 14:56] aolszowka commented on #10307
Sounds great, let me know and I'll install it right away, I am not usually tied to my VS instances, I'll just snapshot and roll back if I'm that concerned.

[2020-12-03 15:44] erdembayar commented on #10210
@dtivel
Is this issue still valid?

[2020-12-03 16:49] erdembayar opened #10352 "VS Solution manager throws null exception for during debugging"
I recently noticed there is null exception kept throwing when try to open PMUI/PMC.
It looks due to recent effort to move from synchronous code to async ones causing this timing issue. It doesn't guarantee `init` is done before code start is using supposedly already initialized things.
Also jebriede [reported it](https://teams.microsoft.com/l/message/19:00d019d741b44e54baadd67ef7aeb41d@thread.skyp

[2020-12-03 17:00] CKraniak opened #10353 "Feature Request: Automatically Open readme.md Files"
I'm not exactly sure where to put this, and the prompt text doesn't seem to be appropriate for this.

In Nuget.Client:

I would like `readme.md` files to automatically open the same way that `readme.txt` files do.

Looking at the code, this appears it would need:
* a new constant in `src/NuGet.Core/NuGet.PackageManagement/Utility/Constants.cs`
* modifying `OpenReadmeFile()` in `src/NuGet.Core/NuGe

[2020-12-03 17:57] heng-liu commented on #10332
Hi @kartheekp-ms @v-luzh , the difference between testing with patched SDK and testing with latest SDK is if we're testing against latest NuGet change or not.
If we use patched SDK, it's testing against the NuGet code we are going to insert.
If we use latest SDK, it's testing against the NuGet code which we've already inserted into dotnet. So in this way, we could only discover issues after insert

[2020-12-03 18:08] Ka0o0 commented on #10317
Hi again,
as promised, here is a Dockerfile which creates a second user `demo` .  Make sure that you have a NugetDefaults.config inside your Docker build folder.

[code]

You can trigger the error by running the container as `docker run -it ENTERHASH su demo -c "cd /tmp/test2 && dotnet new console"`.

Following you suggestions I created another version, where I set the permissions of the folder /e

[2020-12-03 18:25] anangaur commented on #10353
/cc: @chgill-MSFT

[2020-12-03 18:55] nkolev92 commented on #10307
Here's a link to the [vsix](https://microsoft-my.sharepoint.com/:u:/p/nikolev/EV9ouRO3q51AuZ4MvSPCzg4BM07bxnw3Tde4DkI79mbpww?e=AWvwQv).

To install, just double click or run the vsixinstaller.exe on the file.

To revert back, follow https://github.com/NuGet/NuGet.Client/blob/dev/docs/debugging.md#uninstalling-a-custom-version-of-the-nuget-extension-from-visual-studio.

[2020-12-03 19:07] dovholuknf commented on #8127
I tried to upload the etl over at https://developercommunity2.visualstudio.com/t/Executing-nuget-actions-took-1236-min/1259021?entry=myactivity but I don't know if it was successful.

[2020-12-03 19:12] nkolev92 commented on #3676
@samcragg

I think you are looking for https://github.com/NuGet/Home/issues/6579.
Your problem wouldn't be addressed easily by source priority because the global packages folder is not a cache, so never refreshed. Meaning if you make edits for the package, you'd need to delete the global packages folder. At that point, you're better off using a in development package version, that won't clash with

[2020-12-03 19:27] aolszowka commented on #10307
@nkolev92 locked out :( I'll grab it as soon as the share link is fixed.

[2020-12-03 19:34] nkolev92 commented on #10307
Argghhh...I got bit by one drive again...try [this](https://1drv.ms/u/s!Atw9UGgSyF-EgtpH-1rX7OOMPgnIjg?e=1RXVrn)

[2020-12-03 19:39] nkolev92 opened #10354 "Extend the `.nupkg.metadata` file to include the installation source"
There's a lot of tooling that could benefit from this.

cc @zivkan

[2020-12-03 19:42] nkolev92 commented on #10354
cc @rrelyea as I remember him being a proponent of this, albeit this is more scaled and just stamps the source and not metadata that gets constantly updated :)

[2020-12-03 19:52] aolszowka commented on #10307
@nkolev92

The files have a single difference; there is NOTHING in the Restore section!

![image](https://user-images.githubusercontent.com/2592881/101080779-6f967600-3566-11eb-89f6-974301fd88e8.png)

[2020-12-03 19:54] nkolev92 commented on #10307
and the rest of the `specs` are all the same?

For example, all of them say `projectStyle": "PackageReference",`?

[2020-12-03 19:56] aolszowka commented on #10307
@nkolev92 Yes the remainder of the file is identical in the ways you mention.

If you want I can drop an unredacted version of these logs to the email listed above.

[2020-12-03 20:12] aolszowka commented on #10307
@nkolev92 Sorry to doublepost:

I would suspect something in here: https://github.com/NuGet/NuGet.Client/blob/223189bbc21e8259e6771d363e69d37d9b10e693/src/NuGet.Core/NuGet.Build.Tasks.Console/MSBuildStaticGraphRestore.cs#L652-L660

Why no logging to indicate any of these failed? I am going to see if I can attach the debugger (not holding out a lot of hope...) would be better if I could have gotten

[2020-12-03 21:00] nkolev92 commented on #10351
There is an external problem with the Win UI integration right now.

Tracked NuGet side with https://github.com/NuGet/Home/issues/10341, but the immediate action is not on NuGet at this point. We're just tracking it here for convenience.

[2020-12-03 21:00] #10351 closed, assigned to nobody

[2020-12-03 21:00] nkolev92 commented on #10351
To clarify, the action is on the Win UI team. They are aware and actively trying to solve the problem.

[2020-12-03 21:43] ericsampson commented on #6579
@nkolev92 I would really love to see some solutions for improved/faster inner-loop experience when developing packages.
It would fit very well with one of the main .NET 6 themes: https://github.com/dotnet/core/issues/5510

My first thought would be to have a mechanism to switch quickly between package reference and project references in VS/VSCode/etc, maybe along these lines: https://github.com/do

[2020-12-03 23:34] erdembayar commented on #6795
@zivkan
Do we have logic written somewhere in documents or code for  "prefer project over package"?

[2020-12-04 00:34] nkolev92 commented on #10307
Did you run `build.ps1 -SkipUnitTest` at least once?

That should run a script to disable the strong name validation for those assemblies.

[2020-12-04 01:05] nkolev92 commented on #10302
I can see the difference.

Can you please confirm the repro steps again?
Here's my takeaway

1. Create console app
1. Create class library
1. Add a reference from console app to class library.
1. Add CvsHelper 12.1.2
1. Add Microsoft.Extensions.Configuration 3.1.6 in class library

vs

1. Create console app
1. Create class library
1. Add a reference from console app to class library.
1. Add Micros

[2020-12-04 01:30] kzu commented on #3891
Just posted on the mentioned [StackOverflow](https://stackoverflow.com/questions/56295590/nuget-package-creation-not-including-referenced-dlls/65136637#65136637) a full repro and how it works already in [NuGetizer](https://nuget.org/packages/nugetizer) with no changes to the project other than just adding a package reference. Just in case you need this right away and can't wait for a fix 😁

[2020-12-04 01:37] chucklu commented on #10302
@nkolev92 Yes, the reproduce steps are correct. And the step 4 in first reproduce is "Add CvsHelper 12.1.2 in console app".
I did the above steps one by one through git commit, you might check the branch log to check the detail.
https://github.com/ChuckTest/NuGet-10302/commits/class-library-first
https://github.com/ChuckTest/NuGet-10302/commits/console-app-first

[2020-12-04 01:39] aolszowka commented on #10307
@nkolev92

I did not. I see now where it runs that `DisableStrongNameVerification.ps1`. Done.

As I guessed the lines I highlighted above are the culprit (https://github.com/NuGet/NuGet.Client/blob/223189bbc21e8259e6771d363e69d37d9b10e693/src/NuGet.Core/NuGet.Build.Tasks.Console/MSBuildStaticGraphRestore.cs#L652-L660):

`PackageSpec project = dependencyGraphSpec.GetProjectSpec(entryPoint.ProjectFi

[2020-12-04 01:41] aolszowka commented on #10307
@nkolev92

I did not. I see now where it runs that `DisableStrongNameVerification.ps1`. Done.

As I guessed the lines I highlighted above are the culprit (https://github.com/NuGet/NuGet.Client/blob/223189bbc21e8259e6771d363e69d37d9b10e693/src/NuGet.Core/NuGet.Build.Tasks.Console/MSBuildStaticGraphRestore.cs#L652-L660):

`PackageSpec project = dependencyGraphSpec.GetProjectSpec(entryPoint.ProjectFi

[2020-12-04 01:57] aolszowka commented on #10307
I think is where the actual issue is:

https://github.com/NuGet/NuGet.Client/blob/223189bbc21e8259e6771d363e69d37d9b10e693/src/NuGet.Core/NuGet.Build.Tasks.Console/MSBuildStaticGraphRestore.cs#L508

This is returning the relative path and not the absolute path as the code claims? Maybe an MSBuild bug?

In addition there is also another bug in here (if you want I can file another bug report):

@jef

[2020-12-04 04:22] GitZinger commented on #10298
@nkolev92
Yes. it is an empty c++ project in the visual studio.
and yes, there is a vcxproj file in the folder.
and what do you mean by "managed"?
til now I am not able to install that AWSSDK.Core package from NuGet into my project. What are those for? not for c++?

[2020-12-04 10:47] moses70 commented on #8016
To clarify:
nuget.exe (and dotnet push) is only able to push symbol packages when the API endpoint supports this!
This is the case for nuget.org, but not virtually all other nuget server I know.

To check this, please looks at the json output from : https://api.nuget.org/v3/index.json
It contains:
    {
      "@id": "https://www.nuget.org/api/v2/symbolpackage",
      "@type": "SymbolPackagePublish

[2020-12-04 15:06] StingyJack opened #10355 "Is there a "hidden" property that can be set for contentFiles?"
When reporting a [VS problem](https://developercommunity2.visualstudio.com/t/Solution-Explorer-is-showing-nuget-packa/1271799?port=1025&fsid=47c8a867-5f1b-4af4-ab23-1a1b841d2219&entry=myfeedback#TPIN-N1276054), I was told that the reason for the unwanted behavior (contentFiles showing up as project files in sln explorer) was that a package was incorrectly authored and should have included the file

[2020-12-04 17:56] dtivel opened #10356 "PM UI: installed packages fetched 4 times per project"
Setup steps:
1.  Create a new C# class library project.
2.  Open PM UI.
3.  In the Browse tab, select the first package and install it.
4.  Save and close the solution.

Repro steps:
1.  Open the solution.
2.  In Solution Explorer, right-click on the project and select "Manage NuGet Packages..."

Expected result:  `INuGetProjectManagerService.GetInstalledPackagesAsync(...)` will be called once per

[2020-12-04 17:57] zivkan opened #10357 "Consolodate PackageExtractor.InstallFromSourceAsync implementations"
There are two overloads of `PackageExtractor.InstallFromSourceAsync`, and they are complete duplicates of each other, with a small number of differences between them. One of these overloads is about 250 lines, the other is 220 lines.

Looking at the diff between the two methods, the only substantial difference is that the `IPackageDownloader` overload disposes the `IPackageDownloader` before delet

[2020-12-04 18:03] zivkan opened #10358 "Improve .nupkg.metadata read/write performance"
Every extracted package in the global packages folder gets a `.nupkg.metadata` file, written on extraction, and read every time a lock file is used to check the package's content hash.

`NupkgMetadataFileFormat` currently works by using `JObject` as an intermediate between the `NupkgMetadataFile` type and the serialized content.

We might get a minor perf gain (from fewer allocations) if we either

[2020-12-04 18:21] chgill-MSFT commented on #10353
Hi! We currently have a [spec](https://github.com/NuGet/Home/wiki/Embedding-and-displaying-NuGet-READMEs) to allow for embedding Readme.md files in NuGet packages, rendering them on NuGet.org, and including a link in the VS Package Manager package details pane.

Do you feel it is important that we also support automatically opening the a Readme.md file on package install if it's accessible through

[2020-12-04 18:37] nkolev92 commented on #10298
AWSSDK.Core packages are not suitable for C++(native).
It contains managed assemblies only, so it supports .NET Framework and .NET Core.

[2020-12-04 18:41] dtivel commented on #10356
FYI @donnie-msft, @erdembayar, @sbanni, @rrelyea

[2020-12-04 18:45] aolszowka commented on #10307
@jeffkl Are you referring to the second issue I've introduced or the original one that opened this up?

[2020-12-04 18:51] jeffkl commented on #10307
I was referring to that question, why a project might be left out of restore when static graph based versus not.

[2020-12-04 19:03] aolszowka commented on #10307
@jeffkl I no longer have a pre-16.8 Visual Studio Install handy, the only third party library we utilize that was not a `KnownToBeMSBuildFormat` had support added in 16.8 as part of that above merged PR. Let me see if I can find an ancient box somewhere and get what your requested.

[2020-12-04 19:49] aolszowka commented on #10307
@jeffkl Found an old Visual Studio box that doesn't have the pulled PR; compare the following (same project/solution I probably messed up the xxxx in the sanitation between the two so ignore that):

## Visual Studio 2019 MSBuild 16.7.4:
[code]

## Visual Studio 2019 MSBuild 16.8.2 (this has the patch applied to allow this third party type to be recongized as a `KnownToBeMSBuildFormat` type:
[code]

[2020-12-04 20:02] justin-jalandoni opened #10359 "Is there a way to specify NuGet to save the packages in anoter location?"
In maven, we can specify to save the JARs to a different folder, when we specify it is the `settings.xml` file is there an equivalent in NuGet? I've seen solutions where we need to specify it in a solution. Is there a way to configure this globally?

[2020-12-04 20:25] nkolev92 commented on #10302
Hey @chucklu

Trying to follow those steps, I was not able to see the behavior you are observing.
I end up with different versions of packages installed.

When you install the packages, what's the Dependency Behavior you are selecting?

[2020-12-04 20:26] nkolev92 commented on #8127
It was successful I can see it.

[2020-12-04 20:30] nkolev92 commented on #8127
Hey @dovholuk
Given that this issue was originally about nuget.exe, I'm gonna close it and keep the issue you filled as the master one.
We'll prioritize there.

[2020-12-04 20:30] #8127 closed, assigned to nobody

[2020-12-04 20:59] donnie-msft commented on #10356
@dtivel I was just chatting with @jebriede about the unnecessary `RefreshInstalledAndUpdatesTabs` call.
...yes, our UI isn't particularly efficient today. We have several refactoring efforts ongoing to improve this.

Is this just an "FYI" issue, or are you blocked? Is it overtly hurting CodeSpace work or anything?

[2020-12-04 21:08] zivkan commented on #6795
From a quick search, I couldn't find it. @nkolev92  do you know?

[2020-12-04 21:12] nkolev92 commented on #10317
Thank you for following up. It is as expected, but we do need better docker guidance to help people not run into this issue.

[2020-12-04 21:12] #10317 closed, assigned to nobody

[2020-12-04 21:22] nkolev92 commented on #10331
Yep, SDK is a better spot.

[2020-12-04 21:22] #10331 closed, assigned to nobody

[2020-12-04 21:25] dominoFire commented on #9561
@daghb @milung I've tried to reproduce this bug using Slovak and Norwegian language packs in Windows 10 with dotnet.exe 5.0.100 and 3.1.200 with no luck.

Are you still experiencing this issue?

If so, could you provide a sample project or a MSBuild structured log file? You can use this PowerShell command to generate a bin log with detailed info:

[code]

[2020-12-04 21:25] GitZinger commented on #10298
I see.  it would be better that there is some instruction there saying this SDK is for .NET not for C++.
Thank you.

[2020-12-04 21:25] #10298 closed, assigned to nobody

[2020-12-04 21:25] moonboy13 commented on #10313
We matched the NuGet configs between the successful build and failed build, ensuring that the dotnet.myget source was available, but ran into the same build problem.

Here is a sample of the errors from the build process:
[code]

Full build log for reference:  [VSBuildOutput.txt](https://github.com/NuGet/Home/files/5645542/VSBuildOutput.txt)

[2020-12-04 22:17] dtivel commented on #10356
I am not blocked on this.

I think this can be tackled independently of CodeSpaces; however, both standalone and CodeSpaces-connected clients stand to benefit significantly from reducing this down to 1 call.  If you have _n_ projects in your solution, making 4 _n_ calls won't scale performantly.

[2020-12-04 22:22] zkat opened #10360 "We are interested in your feedback about the NuGet repo!"
Thanks for all of your contributions to this project! We have created a survey that we hope allows us to learn what works and what needs attention. It's a little bit less than 30 questions, many of them multiple-choice questions. If maybe takes 10 minutes to complete and it’s anonymous. Your responses will help us make your experience better in this repo.

https://www.surveymonkey.com/r/92RLF7R?So

[2020-12-04 22:30] dtivel commented on #10210
I think so.  I haven't retested recently, but nothing changed in this area.

[2020-12-04 22:48] CKraniak commented on #10353
I honestly don't know. My request was a knee-jerk reaction to a present lack of functionality; it didn't account for the spec you linked. My immediate thoughts are that I'm not going to know if this is what I want until I play with it.

My scenario is wanting to make documentation obvious to users of company-internal packages that have various (and usually somewhat low) levels of software developm

[2020-12-04 23:00] chgill-MSFT commented on #10353
Thanks for your feedback! If you wanted to view the documentation for a package you installed, where all would you expect it to be surfaced?

We've received feedback in the past that the automatic opening of Readme.txt of install can be a jarring context switch for some. Do you not mind it as long as it's useful information?

[2020-12-04 23:46] erdembayar opened #10361 "SimpleTestPackageUtility.CreateFolderFeedV3Async doesn't create nupkg file in same location as other OS"
I saw Linux unit test failing because nupkg file created by `SimpleTestPackageUtility.CreateFolderFeedV3Async()` is not same as other OS.
Other OS it's always located in `PackageName>>Version>>PackageNameVersion.nupkg`
MAC:
![image.png](https://images.zenhubusercontent.com/5eb1d84a3cd56675c3efe510/6f32a44b-b20f-4b08-a74a-7d6caf6551f6)
Windows:
![image.png](https://images.zenhubusercontent.com/5eb1

[2020-12-05 01:01] erdembayar opened #10362 "Replace GetService with GetServiceAsync in NuGet.Clients, Part 1"
Here addressing "Recommended practice of acquiring VS services is always calling GetServiceAsync to avoid the high risk of deadlock". Since there are 34 GetService() calls to be replaced in 24 files we're doing it incrementally, this is part1 of [issue#3784](https://github.com/nuget/home/issues/3784) .
Here reduced sync calls in ConsoleInitializer task, WpfConsole Status bar initialization, etc.

[2020-12-05 05:19] chucklu commented on #10302
@nkolev92  The library referenced by class library should be [Microsoft.Extensions.Configuration.Json](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.Json/3.1.6)  instead of Microsoft.Extensions.Configuration

[2020-12-05 06:29] #10354 closed, assigned to zivkan

[2020-12-05 15:27] HelloKitty commented on #3891
I feel like this is still needed. A good example might be wanting to packet project reference dependencies into a Analyzer or Source Generator Nuget package. Currently I don't think there is a way to include the assembly files directly in the package like there is for private asset Nuget package references.

[2020-12-05 16:29] Zastai commented on #8583
Note: NU5017, which is an error, not a warning is also in play when using `IncludeBuildOutput=false`.

Specifically, I'm trying to create an SDK package.
This contains only content files (with `ContentTargetFolders=Sdk`).
Because there are no build tasks (or any other sources for that matter), I also do not see the point of including the empty assembly produced by the build. For the same reason, t

[2020-12-05 17:35] StingyJack commented on #8583
@zivkan  -The `target` attribute used to be good enough for the target determination.

[code]

If there was a dependency declared, and that dependency targeted net452 (or not, idk, idc), it would be installed. That would be the complete effort needed for someone making a private package.  Now we have another structure built to replace it that requires more time and effort* for a simple package, al

[2020-12-05 18:50] zivkan commented on #8583
The list of files in the package is not part of the "NuGet protocol" (the json that gets sent between Package Manager UI and NuGet sources for search results). We could add it to the protocol and get nuget.org to implement it, but there are a whole lot of  existing NuGet servers (like Azure Artifacts, MyGet, NuGet feeds built into products like TeamCity, Artifactory, Nexus, and more) which would a

[2020-12-05 19:03] zivkan commented on #10275
@xsoheilalizadeh Can you give us some details about your setup?

Is the host and containers Windows or Linux or Mac?
When you restore on the host does it have the same problem, or only in contains?
Are you limiting the container resources (ram and/or cpu), or does it have the same resources as the host?

[2020-12-05 21:55] StingyJack commented on #3891
I needed to be able to produce packages (A, B) for two assemblies in the same branch where one of the packages (A) depended on another (B), but used a project reference in the solution. The way I made it work was to have a nuspec for A that had B in the dependencies section, but used a version of "SAME".  The SAME value was replaced at build time with the version that was being applied to the pack

[2020-12-05 22:03] xsoheilalizadeh commented on #10275
I used both Linux and Windows on the same machine as a Host.

The host is able to restore perfectly without any issues, either it's from cache or NuGet server.

No resource limitation has been set everything is the default.

[2020-12-06 07:30] samcragg commented on #3676
Thanks for the link to that issue @nkolev92 - looks like I'm not the only one who wants to test their packages locally before publishing them 🙂

I'm not actually concerned about the global cache, as for my integration tests I specify the folder to restore the packages to, so I ensure the folder is nuked before running any of the integration tests:
[code]
I've manually checked and can confirm that

[2020-12-07 05:17] StingyJack commented on #8583
TL;DR - Rather than rely on a command option that's not performing as expected, OP can probably work around this option behavior/problem by using a nuspec, This arguably also makes it easier for the next ~homicidal maniac that knows where you live~ programmer ;D to support.

Long form

@zivkan - There is probably some difference in understanding for all parties between project output and build out

[2020-12-07 13:03] MPapst commented on #7752
@anangaur: our use case is to have a documentation over a complete solution (IoT with backend) . We would like to have a distinct list of used libraries and version over the complete solution.
The JSON list could be filtered for duplicates during the build process (instead of dropping a text document to the artifacts) and projected into a new data structure to show library --> applications.

[2020-12-07 16:48] CKraniak commented on #10353
Surfacing in the package description area is fine; I like that approach. My feedback is that it requires another quantum of competence to notice / use if it's the only way / replaces the popup, and there are some environments where this matters.

I don't know how the readme context switch is supposed to matter. I'm already in a sort of interstitial, ephemeral context when I'm in the NuGet package

[2020-12-07 17:56] jeffkl commented on #10307
Yeah the discussion around `KnownToBeMSBuildFormat` should move to MSBuild/Visual Studio as they both have a heavy dependency on it.  My static graph restore implementation took the same dependency because I thought it was the best way to ensure we didn't try to restore projects that didn't support it.

One possible workaround, depending on the scenario is to move away from solution files all toge

[2020-12-07 17:58] kartheekp-ms commented on #10359
Please refer to [How to manage the global packages, cache, temp folders in NuGet](https://docs.microsoft.com/en-us/nuget/Consume-Packages/managing-the-global-packages-and-cache-folders) to learn more about managing `Managing the global packages, cache, and temp folders`. Hope this helps.

[2020-12-07 17:58] #10359 closed, assigned to nobody

[2020-12-07 18:00] nkolev92 commented on #10188
It's on my plate now. I'm gonna try to complete over the next 2 sprints in time for 16.9.

[2020-12-07 18:49] aolszowka commented on #10307
@jeffkl What part of the discussion? I already opened up a bug for `KnownToBeMSBuildFormat` (https://github.com/dotnet/msbuild/issues/5931), however NuGet's StaticGraphRestore is basically broken for any other ISV until they provide some type of work around (or someone submits a PR to change the if statment). That discussion needs to happen with NuGet since the bug is with StaticGraphRestore, and

[2020-12-07 18:52] nkolev92 commented on #10361
I removed the `Type:Bug` so it's not included in the release notes.

[2020-12-07 18:53] nkolev92 commented on #10361
The simplest way to figure out what's going is to either do a DTL machine or use `printf` debugging, but printing the the directory structure on linux.

If this is really a problem, it's possible we have some bad coverage.

[2020-12-07 18:55] aolszowka opened #10363 "StaticGraph Restore should clearly call out when a project is not `KnownToBeMSBuildFormat` When Called via a Solution File"
I think is where the actual issue is:

https://github.com/NuGet/NuGet.Client/blob/223189bbc21e8259e6771d363e69d37d9b10e693/src/NuGet.Core/NuGet.Build.Tasks.Console/MSBuildStaticGraphRestore.cs#L508

In addition there is also another bug in here (if you want I can file another bug report):

@jeffkl, what happens if the project doesn't report itself as `SolutionProjectType.KnownToBeMSBuildFormat`?

[2020-12-07 19:00] jeffkl commented on #10307
My point is that if you're not in the blessed list of KnownToBeMSBuildFormat, you're going to hit more and more roadblocks even if we just make it work with static graph restore.  So https://github.com/dotnet/msbuild/issues/5931 is the correct path to take to get the best long term fix.  I'm not sure if the NuGet team should work around it by removing the check, as not checking could be a breaking

[2020-12-07 19:03] nkolev92 commented on #10347
Hey @zdavidsen,

The files you have uploaded have a different version for one of the packages as well. So seems like restore is different altogether in this case.

Any way you can provide us a repro?
If you can't do that, I'd recommend looking at the `project.assets.json` and ensuring that it contains the package you expect to bring the props files.

If it is there, it'd be helpful to provide us:

[2020-12-07 19:05] aolszowka commented on #10363
@jeffkl Responding to https://github.com/NuGet/Home/issues/10307#issuecomment-740115167

What about a compromise? A warning if the number of projects to restore != number of projects in solution. That would give people a fighting chance in large mixed mode solutions to at least know that **something** was not right?

[2020-12-07 19:19] aolszowka commented on #10307
Fair enough, we'll move discussion on that issue to the linked one (#10363).

Back to this issue, these ARE supported types, who does this go to?

[2020-12-07 20:14] nkolev92 commented on #10348
Hey @twsouthwick

The problem is here: https://github.com/twsouthwick/wwt-website/blob/nuget-failure-linux-before/tests/Directory.Build.Targets.

It should be `targets`, not `Targets`, equivalent to https://github.com/twsouthwick/wwt-website/blob/nuget-failure-linux-before/Directory.Build.targets.

[2020-12-07 20:14] #10348 closed, assigned to nobody

[2020-12-07 20:25] jeffkl commented on #10307
I've read through this issue and just to confirm, we think the root cause is that this line's `i.AbsolutePath` isn't returning an absolute path?

https://github.com/NuGet/NuGet.Client/blob/223189bbc21e8259e6771d363e69d37d9b10e693/src/NuGet.Core/NuGet.Build.Tasks.Console/MSBuildStaticGraphRestore.cs#L508

[2020-12-07 20:27] aolszowka commented on #10307
@jeffkl That is correct (at least what our debugging shows, seems like an Solution bug?) Why are we only affected by it in some scenarios?

[2020-12-07 20:32] jeffkl commented on #10307
Is there any way for you to create a small repro of the issue with a simple solution file and maybe two projects?  That would be extremely useful.  If `AbsolutePath` isn't returning an absolute path, that would be an MSBuild bug.  We could work around it in here in NuGet as well.

[2020-12-07 20:35] aolszowka commented on #10307
I can dig a bit more, but to be honest this solution has 98 projects (and a single leaf node did not repro it). It'd be great if this solution was smaller that I could throw it through Delta (https://www.st.cs.uni-saarland.de/dd/) to automate this. I'll give it a shot.

As much as this stinks this is where I am at with this bug, sprinkling a `Path.GetFullPath(string)` and move on with life. Not su

[2020-12-07 20:36] jeffkl commented on #10363
@nkolev92 and the NuGet team will need to decide how to handle this issue.  I'm technically not on the NuGet team, I contributed this feature from another team within Microsoft.

Any information that can be provided is very helpful to a user.  There are other warnings within NuGet that list possible reasons that something isn't working.  This code path could log something that says:

[code]

[2020-12-07 20:37] jeffkl commented on #10307
I think a workaround is a decent approach.  NuGet and MSBuild ship at the same time though so fixing it in MSBuild will achieve the same outcome in the same amount of time.

[2020-12-07 20:39] aolszowka commented on #10363
Just to be clear this bug is subtle if you have a large solution (3,000+ Projects) and a portion of those do not have their restore ran due to this. This is why the heuristic needs to be `number of projects to restore != number of projects in solution`.

[2020-12-07 21:00] zdavidsen commented on #10347
Thanks for the follow-up, I believe I have it all figured out now.  I hadn't noticed that the package was a different version, it appears that my coworker had updated the script to pull a more recent package version and I missed it.  That version upgrade switched from a standalone .nuspec to one generated from a .csproj, and in the process the build assets of our package's dependencies started bei

[2020-12-07 21:09] nkolev92 commented on #10024
Triage:
Bringing this on top of your notification list.

[2020-12-07 21:09] nkolev92 commented on #10181
Feel free to comment or open a new issue if you have more information.

[2020-12-07 21:09] #10181 closed, assigned to nobody

[2020-12-07 21:20] #10237 closed, assigned to nobody

[2020-12-07 21:32] chgill-MSFT commented on #10353
Do you mean a context menu when right-clicking on a package in the solution explorer? If you have any other thoughts about what experience you would like in a right-click context menu, please feel free to add to the discussion here: https://github.com/NuGet/Home/issues/9007

Currently we are working on a right-click context menu package update experience and would love feedback on that as well oth

[2020-12-07 21:35] nkolev92 commented on #10282
Triage: There's a discussion in the internal issue.

[2020-12-07 21:36] nkolev92 commented on #10284
Can you please try to repro this issue? @v-luzh

[2020-12-07 21:45] nkolev92 commented on #10322
Closing as dup of https://github.com/NuGet/Home/issues/8726.

[2020-12-07 21:45] #10322 closed, assigned to nobody

[2020-12-07 21:51] nkolev92 commented on #10324
@kartheekp-ms Can you please make sure we follow up here after the insertion has been complete.

[2020-12-07 21:55] nkolev92 commented on #10328
Triage: Assigning to @kartheekp-ms

[2020-12-07 21:56] nkolev92 commented on #10329
Closing as by design.

[2020-12-07 21:56] #10329 closed, assigned to nobody

[2020-12-07 21:58] nkolev92 commented on #10332
Triage:
@heng-liu Can you please make sure the test-case is updated as needed.

[2020-12-07 22:01] JonDouglas commented on #7752
There are two goals to improve output for dotnet CLI commands using NuGet.

1. Human-readable output is first and foremost. This should be covered with the current list package command, however we may have some improvements coming to the command to make this better to glance at.

2. Machine-readable output is second to make output easier to handle, especially complex lists this command can produce

[2020-12-07 22:08] nkolev92 commented on #10347
I'm glad you managed to solve your problem :)

Closing.

[2020-12-07 22:08] #10347 closed, assigned to nobody

[2020-12-07 22:34] nkolev92 commented on #6795
https://github.com/NuGet/NuGet.Client/blob/3ef6cd3c0145e59314a495569c2d53296794fbf3/src/NuGet.Core/NuGet.Commands/RestoreCommand/Utility/IncludeFlagUtils.cs#L200-L221 which is called by https://github.com/NuGet/NuGet.Client/blob/3ef6cd3c0145e59314a495569c2d53296794fbf3/src/NuGet.Core/NuGet.Commands/RestoreCommand/Utility/IncludeFlagUtils.cs#L67-L165, which in turn is called when the dependencies a

[2020-12-07 22:38] nkolev92 commented on #10313
hey @moonboy13

would you mind pasting the commandline log instead?
Restore in VS doesn't run through msbuild so it's more challenging to debug it.

[2020-12-07 22:47] nkolev92 commented on #3676
NuGet checks local feeds prior to checking online feeds. Pretty confident about that :) If you have a minimal repro, we'd love to get another issue about that.

See: https://docs.microsoft.com/en-us/nuget/concepts/package-installation-process

[2020-12-07 23:02] nkolev92 commented on #10282
Re-opening the original issue to listen for feedback.

[2020-12-07 23:02] #10282 closed, assigned to nobody

[2020-12-07 23:48] nkolev92 commented on #10302
Ok, following those instructions, I don't quite see the same thing as you.

I notice the *slight* different in binding redirects, but they are not missing.

Note that the binding redirects are applied at package installation time, so this is a design flaw of how binding redirects are handled in packages.config.

You can consider disabling NuGet's binding redirects and add https://docs.microsoft.co

[2020-12-07 23:49] nkolev92 commented on #10302
cc @kartheekp-ms who's on hot seat and can help with the investigation further if necessary.

[2020-12-08 00:13] nkolev92 commented on #10307
Thank you for the investigation to you both!

@aolszowka

Can you manually try to edit out the 97 projects and see if it repros?
I was recently doing the work that I provided above to get it ready for prod, and I ran into a problem where a project is not marked as `KnownToMSBUild` because of the Guid in the first part of the project, as here: https://github.com/NuGet/NuGet.Client/blob/3ef6cd3c0145

[2020-12-08 00:14] nkolev92 commented on #10363
I think adding additional logging to improve the diagnosability of static graph problems is a great idea.
Not confident we should disable the check, but first pursue an msbuild fix.

[2020-12-08 00:50] nkolev92 opened #10365 "Add GenerateRestoreGraphFile in static graph restore to improve debugability."
Related: https://github.com/NuGet/Home/issues/10307

Completing this task also makes `NuGet.exe static graph` possible.  https://github.com/NuGet/Home/issues/9824

[2020-12-08 01:26] kzu commented on #3891
@HelloKitty with [NuGetizer](https://nuget.org/packages/nugetizer) you can pull arbitrary files from arbitrary package references with:

[code]

It would be awesome if SDK pack included that capability too, since I think for non-trivial scenarios like generators, tools and even build tasks, it's quite useful.

@StingyJack I'm thinking whether a `ProjectReference="..."` attribute could serve the sa

[2020-12-08 01:28] kartheekp-ms commented on #10355
We have another tracking [issue](https://github.com/NuGet/Home/issues/4856) for this request. As per this [comment](https://github.com/NuGet/Home/issues/4856#issuecomment-705802910), `contentFiles` are already visible under package nodes and the tracking issue linked above is to remove content files from the rest of the tree.

![image](https://user-images.githubusercontent.com/52756182/101424269-a

[2020-12-08 01:28] #10355 closed, assigned to nobody

[2020-12-08 01:40] StingyJack commented on #10355
@kartheekp-ms  the ask here had a few facets, which I think you have addressed all of except for the one thats a MSFT internal matter (why and how the MSFT developer community triage team member came to be misinforming a customer in this way), and my involvement with that stops as soon as I can get your (or someone at MSFT's) word that it will be followed up on and addressed.

[2020-12-08 01:49] StingyJack commented on #4856
if I cant change them or use them, I dont want to see them.

I've finally been more or less coerced into using package reference style of nuget after holding out with packages.config for as long as I could (3+ years) and yet there are still these obvious, productivity crippling bugs with package reference.  How much time does this cost users trying to navigate project structure to "just deal with

[2020-12-08 01:50] kartheekp-ms commented on #10355
@StingyJack - I didn't make it explicit here as it is an internal matter. I will discuss about this in our internal team meeting and address the feedback.

[2020-12-08 02:05] chucklu commented on #10302
@nkolev92  I tried again based on commit https://github.com/ChuckTest/NuGet-10302/commit/a4d90e2c067d90e97b0d0e7ae238fc244559ca8a in my repository.
And I can still get the same result, when reference CsvHelper 12.1.2 in console app first, it will add the dependency System.ValueTuple 4.4 to console app. Then when I reference Microsoft.Extensions.Configuration.Json 3.1.6 in class library, it will sk

[2020-12-08 02:55] aolszowka commented on #10363
Yeah I am good with that. Is it too far of an ask to have the warning point to a page to report missing projects? Not sure if there is a precedence for that? It might help encourage ISV's to do "the right thing" or at least vote for the "escape hatch" https://github.com/dotnet/msbuild/issues/5931

Again want to stress that the check needs to find the "one or two missing projects in a sea of hundre

[2020-12-08 03:02] aolszowka commented on #10307
I would vote for it right here: https://github.com/NuGet/NuGet.Client/blob/223189bbc21e8259e6771d363e69d37d9b10e693/src/NuGet.Core/NuGet.Build.Tasks.Console/MSBuildStaticGraphRestore.cs#L508

Changed to:

[code]

Note the addition of the `Path.GetFullPath(string)` in theory this should not be needed, but I believe this is where the bug is.

I would be willing to test out a patch on this.

I had or

[2020-12-08 03:30] PST2 commented on #10322
I'm afraid the log excerpts I gave may have been too trimmed (parts of our org aren't fans of such sharing). Just double-checking this really is a dup of #8726 in terms of error manifestation; that reports a timeout during download of the nupkg; we aren't seeing any errors with retrieving the nupkg files, only with validating them after download completes successfully.

For the same package as in

[2020-12-08 08:05] kobelobster commented on #10243
@zkat  / @dominoFire  - Any updates?

[2020-12-08 08:22] v-luzh commented on #10284
@nkolev92 @zkat, we cannot repro this issue on both D16.9\30803.129 and Main\30807.116. And we never saw this kind of issue before.

[2020-12-08 10:29] gnimor opened #10366 "PrivateAssets not considered for ProjectReference node"
I have an "old style" .NET framework project which is used to create a Nuget package. The project itself is using other NuGet packages and project references. For the used NuGet packages the PackageReference format is used. In order to use the msbuild "pack" target a reference to the "NuGet.Build.Tasks.Pack" package was added.

Problem: The package will be created but the project to project refere

[2020-12-08 12:26] joemey commented on #5725
This is happening again with the netcore 3.1 -> net 5.0 especially with the ASP.NET packages which are locked to a TFM.

Right now I have to search through the VS nuget client update list for packages I want to update, because I must ignore all the ASP.NET packages which are not compatible.

[2020-12-08 14:04] samcragg opened #10367 "Online sources are always checked even when local exists"
When specifying local and nuget.org as sources, nuget.org is always checked even when the package exists in a local folder. This is contradictory to the [documentation](https://docs.microsoft.com/en-us/nuget/concepts/package-installation-process).

Please find the attached sample solution ([NugetTest.zip](https://github.com/NuGet/Home/files/5659645/NugetTest.zip)), and here's the output from the c

[2020-12-08 16:47] m8ram commented on #10185
@rrelyea : as I wrote I'm seeing this on a RHEL8 machine.
I'm using the instructions for [Installing .NET Core on RHEL8](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/developing_.net_applications_in_rhel_8/using-net-core-on-rhel_gsg#installing-net-core_gsg)

This is what I get when I run `man dotnet-nuget-push`:
[code]
Ends with
[code]

Is that sufficient?

[2020-12-08 16:50] m8ram commented on #10185
In case it helps, the maintainer of the dotnet-sdk package at Red Hat appears to be Omair Majid <omajid@redhat.com> . He has contributed all recent changes in the Red Hat package.

[2020-12-08 19:05] nkolev92 commented on #10367
Thanks for clarifying your scenario.

Here's my output:

[code]

I made *one* small change. I provided a version in the consumer project.

Basically what happens is that because a version was not provided, NuGet searches for the lowest applicable version, and in order to be confident that the lowest version was selected, NuGet needs to contact all sources.

This is by design.
Created an issue to c

[2020-12-08 19:58] CharliePoole commented on #2762
If a gitter channel is to be used as a place for devs to congregate, I guess anyone could create it. I find my discussions on builds cover cake, chocolatey and nuget. The first two are on gitter.

[2020-12-08 20:02] kartheekp-ms commented on #10366
I just created a sample `.NET Framework` project and followed instructions in [doc](https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets). I don't see `ProjectReferences` added as dependencies in the nuget package that was generated using `msbuild -t:pack` command.

In the attached project `ClassLibray` has a project dependency to `ProjectDependency` project with `<PrivateAssets>All</P

[2020-12-08 20:56] dagood opened #10368 "When a ProjectReference and PackageReference in different TFMs have the same identity/version, Restore throws "An item with the same key has already been added. [...]""
## Details about Problem

Full repro details at https://github.com/dagood/repro/tree/repro-restore-ref-same-key. I used the `mcr.microsoft.com/dotnet/sdk:5.0` Docker image to minimally repro, but this also repros the same on my Windows machine.

[code]

System.Security.Cryptography.Cng.csproj

[code]

System.Security.Cryptography.Pkcs.csproj

[code]

As far as I know I haven't seen this work befor

[2020-12-08 21:04] osaghaso opened #10369 "Having an issue uploading to Nuget.org"
Hi,
I'm trying to upload package using "Upload" button at https://www.nuget.org/packages/upload, but i'm receiving " This package ID has been reserved. Please request access to upload to this reserved namespace from the owner of the reserved prefix, or re-upload the package with a different ID".
Can you help me with this?.

[2020-12-08 22:03] nkolev92 commented on #10363
We can't really tell how many customers are hitting this at this point.

Retitling to capture the logging improvements.

[2020-12-08 22:13] aolszowka commented on #10363
@nkolev92 Can you work on the wording for this issue, what is intended?

[2020-12-08 22:39] nkolev92 commented on #10363
The goals here should be:

* Do not silently drop projects. Provide a log statement at a higher verbosity level for all projects that are not going to be restored.
* Provide additional total log message indicating the number of projects in the sln restored vs skipped.
* Provide additional logging that indicates why a restore happened/did not happen that go beyond project discovery.

[2020-12-08 23:06] nkolev92 commented on #10307
We appreciate all the help here.
We want to make it the default experience eventually, but we're going to listen to feedback. We certainly don't to break our customers.

Regarding the patch idea, if it's a relative path, we probably need to know what to resolve it against right?
Is this a path relative to the sln file?

[2020-12-08 23:07] nkolev92 commented on #10368
Known issue that @erdembayar is actively working on.
Maybe he can find the dup.

[2020-12-08 23:36] erdembayar commented on #10368
It's duplicate of [Issue6795](https://github.com/NuGet/Home/issues/6795).
Draft PR for fix is here:
https://github.com/NuGet/NuGet.Client/pull/3789

[2020-12-08 23:50] dagood commented on #10368
Looking at that PR, it seems like a different issue. It mentions "Prefer project reference over package reference, so remove the the package reference.". This isn't what I'd expect in this situation.

I would expect that (in this example) when building `net5.0`, it selects the project reference. When building `netcoreapp3.1`, it selects the package reference. That's based on these conditions:

[co

[2020-12-09 03:32] aolszowka commented on #10307
I am not sure I understand the question?

The folder structure looks something like this:

src\
src\All
src\All\All.sln
scr\Core\Email\Implementation\XX.MobileCore.Email.csproj

I have dug on this, I am able to get this to repro with a single one of our projects, HOWEVER I still cannot get it to repro if I create a new project from scratch, here's what our SLN Looks like (minimized):

[code]

Some

[2020-12-09 09:04] gnimor commented on #10366
@kartheekp-ms Thanks for your update, I checked your project and it seems to work as expected. Therefore I cleaned-up my complete solution and projects (after migrating to PackageReference). Now I can see that with "PrivateAssets" to "all" for the referenced project, the project dependency is gone too, but I want the referenced project to be contained in the package which is not the case. So based

[2020-12-09 10:57] ImAMightyPirate opened #10370 "NuGet.exe restore intermittently interprets content package folders as target framework versions"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 5.7.0.6726

OS version (i.e. win10 v1607 (14393.321)): Windows 10 v1709 (16299.1868)

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

[2020-12-09 11:38] John0King commented on #6060
nobody care ?

[2020-12-09 14:29] MagicAndre1981 opened #10371 "System.InvalidOperationException: The operation failed as details for project foo.App could not be loaded when trying to update nuget packages"
After updating VS2019 16.9 Preview 1 to Preview 2, I get error messages when working with nuget package manager UI to update packages.

## Details about Problem

VS version (if appropriate): VS16.9.0 Preview 2.0

OS version: Win10 1803, 17134.1902

## Detailed repro steps so we can see the same problem

1. open sln

2. try to update nuget references

...

## Other suggested things

### Verbose Log

[2020-12-09 17:22] jeffkl commented on #10307
Woohoo I was finally able to repro the issue.  The problem is that this line:

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Console/MSBuildStaticGraphRestore.cs#L508

Adds to a list containing paths like this:

[code]

Projects are then added to the dependency graph spec with the correct full path, but then this line looks for the projects by path:

https://githu

[2020-12-09 17:29] aolszowka commented on #10307
@jeffkl correct this was pointed out here https://github.com/NuGet/Home/issues/10307#issuecomment-738505272 and the comment proceeding it....

What is unknown is WHY that is coming back with a non-fully qualified path. Do you have an answer for that?

[2020-12-09 17:32] jeffkl commented on #10307
Yes the real question is:

Should MSBuild's SolutionFile API return a normalized full path when you call the AbsolutePath property?
Should MSBuild's ProjectGraphEntryPoint constructor normalize the path when you pass it in?
Should NuGet normalize the path before calling the ProjectGraphEntryPoint constructor?
Should NuGet normalize the path before looking it up in the dependency graph?

I'm asking

[2020-12-09 18:29] moonboy13 commented on #10313
[MSBuildLog_NormalVerbosity.txt](https://github.com/NuGet/Home/files/5667875/MSBuildLog_NormalVerbosity.txt)
[Nuget Restore.txt](https://github.com/NuGet/Home/files/5667883/Nuget.Restore.txt)

@nkolev92 Adding the output of a rebuild from the command line, dropped the verbosity to Normal to reduce the amount of noise and attached the output of the nuget restore command.

[2020-12-09 20:32] kartheekp-ms commented on #10366
I am having tough time in understanding your question in the above comment. But as per the [doc](https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#project-to-project-references), `Project to project references are considered by default as nuget package references` and what is included in the package can be managed by specifying `<IncludeAssets><ExcludeAssets><PrivateAssets>` metadat

[2020-12-09 20:39] AArnott opened #10372 "NU5017 reported for symbol packages without clarifying this"
When this property is set (perhaps in a `Directory.Build.props` file somewhere):

[code]

NuGet packages that only bundle content, build imports, etc. fail to pack in a somewhat bizarre way:

[code]

Note it says it packed, then reports errors and breaks the build. No clue as to why.

Eventually I figure out that it's the *symbols* package that failed to build. It doesn't apply in my case, so I ca

[2020-12-09 20:43] samcragg commented on #10367
Thanks @nkolev92 for your help and continued patience - it's really appreciated 🙂

Unfortunately, I can't specify the version, as it changes with each build. Worst, if the logic is that NuGet searches for the _lowest_ version, then it will always pick the previously published version on nuget.org over the local package 😕

To recap, what I want is to be able to use a package that's been placed in a

[2020-12-09 21:11] kartheekp-ms commented on #10370
Thank you for filing this issue. The `nuspec` mentioned in the above comment has `target` attributes in `file` element set to `contentFiles\*` which contradicts with the guidance mentioned in the [doc](https://docs.microsoft.com/en-us/nuget/reference/nuspec#using-the-files-element-for-content-files). Please generate the nuget packge after updating the `nuspec` as per the doc and let us know if tha

[2020-12-09 21:21] Zastai commented on #10372
In fact, it is exactly my case - I had missed that the base package had been created. And I didn't consider that possiblity because I had not explicitly requested a symbols package.

With a pack operation creating two packages it would indeed be useful if the error message included the target package name.

[2020-12-09 23:42] mohammad-alam-asif commented on #7707
1 year has gone but not been fixed yet

[2020-12-10 00:30] erdembayar commented on #6795
@nkolev92
With my fix `dotnet restore` is fixed.
But `dotnet build` fails due to following error:

[code]

[2020-12-10 01:44] caghand opened #10373 "No-op restore does not work across dotnet.exe and Visual Studio when there is an "sdk" entry in global.json"
## Details about Problem

NuGet product used: dotnet.exe and VS UI

NuGet version: 5.8.0.6930

dotnet.exe --version: 3.1.404

VS version: 16.8.3

OS version: win10 v20H2 (19042.630)

Worked before? If so, with which NuGet version: Unknown

## Detailed repro steps so we can see the same problem

1. Create a new .NET Core Class Library project in Visual Studio 2019.

2. Add a NuGet package to the pr

[2020-12-10 01:46] caghand commented on #10373
Tagging @nkolev92 as the no-op restore expert. :)

[2020-12-10 07:24] gnimor commented on #10366
OK, perhaps my question was not so clear : -) In my case I want to have the output of the project reference included in the package, therefore the first step would be to avoid the nuget package reference (which seems to work with the `<PrivateAssets>all</PrivateAssets>`). So regarding your sample I am looking for a way to include the ProjectDependency in the ClassLibrary package:

[code]

[2020-12-10 07:25] kartheekp-ms commented on #10324
@nkolev92 VS 16.9 P3 and .NET 5 NuGet Insertion completed today.

https://github.com/NuGet/Client.Engineering/issues/668

I guess tomorrow's VS Int Preview build should have latest bits.

[2020-12-10 09:33] onwuchekwa commented on #10321
I will get back to you

[2020-12-10 18:17] zkat commented on #10284
Closing since we can't repro it.

[2020-12-10 18:17] #10284 closed, assigned to v-luzh

[2020-12-10 18:21] zkat commented on #10324
@v-luzh looks like you should be able to test this again now that the insertion's complete?

[2020-12-10 18:25] zkat commented on #10344
This is not something we've seen before. I don't know what the best way forward is. Perhaps running in a higher verbosity and debugging the error will give you more clues? I don't understand what file is supposed to be missing here, and that CryptographicException is... much lower level than NuGet itself, which implies some kind of configuration issue? Can you dig into it further and get back to u

[2020-12-10 18:31] zkat commented on #10349
This really seems like something funky's going on with your Jenkins, but it's not clear to us what kind of configuration issue might be causing it, or if it's something more serious going on with your Jenkins machine. Any chance you could dig into it further and see if there's a way to isolate a repro that we can look into? The error itself makes sense to us but not how you might have gotten there

[2020-12-10 19:05] nkolev92 commented on #9810
Adding it to 181 since the roslyn side fix is out.

[2020-12-10 19:59] geotinc commented on #10344
This week I change from Azure Artifact to ProGet, and there is no more authentication for connecting to repository.
No it's work correctly on Azure... Don't know if the problem is the Authentication or the connection with Azure Devops or both...

Thanks for helping

[2020-12-10 20:00] tony-flatiron commented on #8087
Any updates on this? Still in the works?

[2020-12-10 20:52] kartheekp-ms commented on #10366
AFAIK a NuGet package can have a dependency on another NuGet Package but not on another Project. Please refer to https://docs.microsoft.com/en-us/nuget/reference/nuspec#dependencies-element to learn more about dependencies.

`msbuild -t:pack` by default includes Project dependency as Package dependency. https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#project-to-project-references

[2020-12-10 21:03] zivkan commented on #10275
I tried your repro (single project, small number of packages), as well as the NuGet.Client repo (large number of projects and packages). I tried on my computer with both Windows and Linux contains, and I tried in Azure VMs using Ubuntu 20.10 as the host, and once I noticed that you were using Debian 9, I also tried Debian 9 as a host. In all of these attempts, I was not able to reproduce the issue

[2020-12-10 22:50] tylerohlsen commented on #7805
FYI, if you split up your docker builds in stages that separate `restore`, `build`, and `publish` then it is important to note that:

[code]

needs to be set before the `restore` stage

[2020-12-11 02:55] kartheekp-ms commented on #10371
I can't reproduce this issue when I followed below steps.

- Created .NET Core Console App project in VS 2019 16.9 Preview 2
- Opened NuGet Package Manger UI
- Cleared NuGet cache `dotnet nuget locals all --clear`
- Installed and older version of  `Newtonsoft.json` package
- Updated the same package to latest version

All the above steps completed successfully. can you please upload a sample proje

[2020-12-11 03:25] kartheekp-ms commented on #10373
I can reproduce this issue by following the steps.

[2020-12-11 08:45] v-luzh commented on #10324
@kartheekp-ms @zkat, thanks for your info. This issue still repro on Main\30810.171+NuGet Dev\5.9.0.6980 as below screenshot.
![image](https://user-images.githubusercontent.com/20632625/101881903-11097180-3bd0-11eb-94b8-00f84bd6ec50.png). Did the insertion merge in Main\30810.171?

[2020-12-11 09:12] MagicAndre1981 commented on #10371
I opened an already created sln file and haven't created a new one like you.

I checked the [client code and the throw is by design](https://github.com/NuGet/NuGet.Client/blob/f51de2ce3558ae63a4eae275ce42ed1ce6bfa373/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/CpsPackageReferenceProject.cs#L155).

So some cache data failed to read for what ever reason. What kind of cache is thi

[2020-12-11 10:50] v-zubritsky commented on #6720
@nkolev92 Hi! Any progress on this?
I started cleaning my project packages and found out that assemblies from transitive nuget dependencies are referenced at compile time and that's obviously not a thing I expected it to be.
Would rather like to have a behavior described in this issue to be a default for every package I consume. So that transitive dependencies are there at runtime, but if I needed

[2020-12-11 14:08] nbarnwell commented on #5163
I'm not sure you can call this "closed" if the solution involves having credentials in a file in a repository... I've installed the [Azure DevOps Artifacts Credentials Provider](https://github.com/Microsoft/artifacts-credprovider) and that's not working, either. Bit of a shame to only consider nuget.org and ignoring auth issues.

[2020-12-11 17:48] #10366 closed, assigned to nobody

[2020-12-11 17:57] kartheekp-ms commented on #10336
https://developercommunity.visualstudio.com/content/problem/1284267/nuget-package-manager-broken.html is another issue with the same root cause.

[2020-12-11 18:45] madelson opened #10374 "Restore fails with NU1004 after running nuget restore with -ForceEvaluate"
## Details about Problem

This has some of the same symptoms as https://github.com/NuGet/Home/issues/9332 but may not be the same issue; it happened under different circumstances and this time I was able to assemble a small solution that can reproduce the problem.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx):  5.8.0.6930

dotn

[2020-12-11 19:09] kartheekp-ms commented on #10324
I downloaded https://aka.ms/dotnet/net5/5.0.2xx/daily/Sdk/dotnet-sdk-win-x64.exe [daily dotnet SDK build](https://github.com/dotnet/installer#installers-and-binaries). `pack` command with invalid icon failed with the expected error message.

[code]

[2020-12-11 19:16] nkolev92 commented on #10324
SDK -> VS might not have happened yet.

Honestly, at this point we're testing the eventual integration, not NuGet itself, especially given that manually download SDK makes things work.

[2020-12-11 20:41] KirillOsenkov commented on #9479
I don't think it's a dupe of 7691. 7691 is about printing the local location of the package on disk and this one is which feed the package came from.

[2020-12-11 22:06] nkolev92 commented on #10367
Hey @samcragg

I think the fact that NuGet supports specifying no version is in my personal opinion a restriction that is too relaxed.
One thing you can consider are floating versions where you specify a specific prerelease label and that label can be only be generated locally.

Beyond that, https://github.com/NuGet/Home/issues/6579 is probably where the problem of testing packages locally needs t

[2020-12-11 22:21] nkolev92 commented on #6720
Hey @v-zubritsky

This feature needs a design in order to make progress on it, and it's not on our immediate backlog (think next 3 months).

I can't speak on any scheduling beyond that, but customer feedback is one aspect we use for prioritization.

[2020-12-11 22:31] nkolev92 commented on #10373
Unfortunately this is expected and I'm not sure we can promise fixing the behavior at this point. It is a known technical limitation.

NuGet restore ships as tooling in VS/MSBuild, SDK and NuGet.exe. Taking all the versions that shipped at the same time (16.8, 5.8 & 5.0.100), it is expected that restore no-ops.

Note that specifying the global.json affects how the build runs, but not restore, rest

[2020-12-11 22:40] jeffkl commented on #10307
@nkolev92 I'll be fixing this in https://github.com/dotnet/msbuild/pull/5950, can you please mark this issue as External? And remove the NeedsRepro tag.

[2020-12-12 00:29] dominoFire commented on #8867
Reopening since this is a bug in PackageReference project. Related bug applies to packages.config projects.

[2020-12-12 02:27] kartheekp-ms commented on #10374
I can reproduce this issue following the repro steps.

[2020-12-12 14:32] Sergio0694 opened #10375 "Proposal: option to hide dependency APIs if consumers don't reference them too"
## Overview

There are cases where library authors need to add a dependency on NuGet packages, but without having consumers of their library (and not the dependency as well) to automatically have access to those APIs **unless explicitly referenced**.

The main idea is: some dependency should only be viewed as **implementation details** for a library.
This is due to a number of reasons:

1. These A

[2020-12-12 17:55] kartheekp-ms commented on #10302
I cloned https://github.com/ChuckTest/NuGet-10302 repo and turned on verbose logging for MSBuild in Visual Studio.

I think this issue is related to https://github.com/dotnet/sdk/issues/1897 issue as MSBuild encountered a conflict between `'Reference:System.ValueTuple'` and `'Platform:System.ValueTuple.dll'`
[code]
[code]

[2020-12-12 22:11] #10362 closed, assigned to erdembayar

[2020-12-13 07:15] caghand commented on #10373
I understand.  Thanks for the explanation!
Actually, I've noticed that I don't need an "sdk" restriction in my project.  Newer SDKs are backwards-compatible with older SDKs.  So I'll be able to get rid of the "sdk" entry in global.json, and I won't encounter this issue. :)

[2020-12-13 07:15] #10373 closed, assigned to nobody

[2020-12-13 15:56] zosrothko opened #10376 "Invalid error: Unable to find package 'Pocoproject.Poco.Foundation.noarch.1.10.1.nupkg'"
## Details about Problem
Nuget does not find the package in a local source while it is really there
[code]

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
[code]

Please include verbose logs (NuGet.exe <COMMAND> -verbosity detailed | dotnet.exe <COMMAND> --verbosity diag | etc...)
[code]

[code]

[2020-12-13 17:20] #10376 closed, assigned to nobody

[2020-12-14 10:47] juanan opened #10377 "Remove specific package from cache"
Hi,

I know that we can remove from cache all packages or packages by local resource: http-cache, global-packages, temp, plugins-cache.

The question is how can I remove only one specific package from the cache, I don't see the option.

I am using right now nuget 5.4.0.6315.

Thanks a lot.

[2020-12-14 10:50] msallin commented on #10349
Hi

I'm not able to reproduce it. As I've no clue what the problem might is, I've no idea how I could setup an environment.
You state that "The error itself makes sense to us but not how you might have gotten there."
Why do you think the error makes sense? When does this happen and how does it play together?

I see different speculations in the original ticket:
- Race condition (or not, because it

[2020-12-14 15:38] Wes-Kuegler commented on #6645
This question is still plaguing me. Is there any good documentation on the topic?

[2020-12-14 15:42] kblok commented on #6645
@Wes-Kuegler I subscribed to this issue to get updates. I wouldn't consider a doc, but I made some progress shipping platform-specific binaries on PlaywrightSharp. I shared what I learned here https://www.hardkoded.com/blog/playwright-sharp-monthly-dec-2020

[2020-12-14 17:17] dtivel commented on #10143
@rrelyea, @sbanni confirmed that this did not repro locally, only with a remote server.  Also, it only reproed once for @sbanni.

@rrelyea, can you please follow up with the CodeSpaces folks to understand:

1. Why would an issue like this would repro remotely and not locally?  (This assumes NuGet code paths are the same for local and remote, but it might be worth verifying this.)
2.  How do we deb

[2020-12-14 18:29] jebriede opened #10378 "Add Update context menu item for package dependencies that launches Package Manager UI with preselected packages to update"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2020-12-14 20:00] donnie-msft commented on #10377
There's no way I know of to use nuget to specify a specific package to remove from cache. You'd need to do that manually after finding whichever cache folder, then removing the file in that folder.

Note that you can also instruct `restore` to use `-NoCache` when restoring a specific package to always ignore cache for a specific package: https://docs.microsoft.com/en-us/nuget/reference/cli-referen

[2020-12-14 20:00] #10377 closed, assigned to nobody

[2020-12-14 20:52] donnie-msft commented on #10377
Here's a feature request to add this functionality: https://github.com/NuGet/Home/issues/5713

[2020-12-14 21:09] nkolev92 commented on #10302
@kartheekp-ms

There are no SDK projects in this question, so the SDK issue is not relevant in this case.

[2020-12-14 21:28] zivkan commented on #9479
This issue is a dupe of https://github.com/NuGet/Home/issues/3055

[2020-12-14 21:47] KirillOsenkov commented on #9479
@zivkan I don't think so. The fix in https://github.com/NuGet/NuGet.Client/pull/3700 prints only when the package is installed into the global package cache. But it doesn't print when the package is used during restore.

[2020-12-14 23:07] #7466 closed, assigned to heng-liu

[2020-12-15 07:34] juanan commented on #10377
ok, many thanks for your help @donnie-msft

[2020-12-15 09:14] v-longmin opened #10379 "The description of “Deprecated” disappears after clicking a deprecated package in Browse tab"
## Details about Problem
VS Version: D16.9\30808.132
NuGet Version: dev-feature-OE.PMUI\5.9.0.13982
OS Version: Windows-10-Enterprise-19H2.
## Installation:
1. Install VS D16.9\30808.132: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4288690&view=ms.vss-build-web.run-extensions-tab
2. Install NuGet Client: \\\ddfiles\drops\NuGet\Drops\CI-Private\NuGet.Client\dev-feature-OE.PMUI\5.9

[2020-12-15 09:32] v-longmin opened #10380 "The default version is null after clicking a deprecated package in Browse tab"
## Details about Problem
VS Version: D16.9\30808.132
NuGet Version: dev-feature-OE.PMUI\5.9.0.13982
OS Version: Windows-10-Enterprise-19H2.
## Installation
1. Install VS D16.9\30808.132: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4288690&view=ms.vss-build-web.run-extensions-tab
2. Install NuGet Client: \\\ddfiles\drops\NuGet\Drops\CI-Private\NuGet.Client\dev-feature-OE.PMUI\5.9.

[2020-12-15 16:29] donnie-msft commented on #10379
@sbanni any chance dev works because you already fixed this?

[2020-12-15 16:31] donnie-msft commented on #10379
@sbanni any chance dev works because you already fixed this?

[2020-12-15 16:31] donnie-msft commented on #10380
@sbanni any chance dev works because you already fixed this?

[2020-12-15 19:20] wli3 opened #10381 "How do I define an internal assembly in a NuGet package?"
---
**Issue moved from dotnet/sdk#14906**
- Please respond to @lg2de.

---

_From @lg2de on Wednesday, December 9, 2020 5:12:25 PM_

I want to define a NuGet package that contains two assemblies, one that is directly referenced by the consumer of my package and another one that is only needed at runtime and its APIs should not be visible to the consumer.

I've created a github repository to demons

[2020-12-15 20:21] eddynaka opened #10382 "Error when build with automatic packing using cmd"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate): 5.0.200-preview.20601.7

VS version (if appropriate): VS2019 16.8.3

OS version (i.e. win10 v1607 (14393.321)): win10 19042.685

Worked before? If so, with

[2020-12-15 21:47] drewgillies commented on #8087
Hi @tony-flatiron --yes, this is all still in active development. If you check out the comment at the very top of this issue/epic, I've been editing it to add and update statuses and links for the various pieces being worked on.

[2020-12-15 23:48] rrelyea commented on #10380
This is likely an issue in the feature branch...we'll need to fix before or after merging that branch to dev. will work with @aortiz-msft to decide on plan.
Thx

[2020-12-16 02:38] #6150 closed, assigned to nkolev92

[2020-12-16 06:21] KirillOsenkov opened #10383 "Remove "Checking compatibility..." log messages from RestoreTask"
Currently RestoreTask logs a lot of messages that start with Checking compatibility:

![image](https://user-images.githubusercontent.com/679326/102312508-b2235f80-3f23-11eb-893c-7b20d05a81e3.png)

The log output is full of these. I'm questioning the value of having these in the logs since they don't provide much useful information and generate a ton of noise.

I suggest that we just stop logging t

[2020-12-16 06:25] KirillOsenkov commented on #10383
An average size binlog contains 89193 messages like this:
![image](https://user-images.githubusercontent.com/679326/102312663-f9a9eb80-3f23-11eb-9ef2-666f37770f12.png)

Another medium-size binlog I have has:
![image](https://user-images.githubusercontent.com/679326/102312926-76d56080-3f24-11eb-8360-1e47b23e3f69.png)

It significantly contributes to the bloat in the binlog, makes investigations slo

[2020-12-16 06:42] KirillOsenkov commented on #10383
I guess in general the logging approach in this task follows the philosophy of "What am I currently doing?" instead of answering "Here's what you need to know".

![image](https://user-images.githubusercontent.com/679326/102313981-763dc980-3f26-11eb-8d00-42351e23b299.png)

When reading logs messages like Resolving conflicts for .NETFramework,Version=v4.7.2...
are of questionable value:
1. They don'

[2020-12-16 06:43] KirillOsenkov commented on #10383
I've highlighted the messages that are worth keeping, because they are useful:
![image](https://user-images.githubusercontent.com/679326/102314226-f2381180-3f26-11eb-99c6-d058ca0c76cd.png)

Note how the rest is pretty much redundant and just slows down the builds and increases log sizes and causes noise when reading and searching through logs.

[2020-12-16 06:47] KirillOsenkov commented on #10383
Again, highlighted the useful stuff:
![image](https://user-images.githubusercontent.com/679326/102314526-74c0d100-3f27-11eb-9a1a-7faf980d9760.png)

[2020-12-16 06:58] nkolev92 commented on #10313
hey @moonboy13 sorry for the delay.

the restore verbosity is unfortunately not high enough to infer anything useful out of it.

The higher verbosity allows us to see the list of sources and a bunch of other properties set by the SDK.

[2020-12-16 07:21] Rwing commented on #6140
I think I may have found the key to the problem, when I upgrade my private nuget server from old version(2.10) to latest version(3.4), everything is done.

[2020-12-16 13:29] moonboy13 commented on #10313
@nkolev92, the output on https://github.com/NuGet/Home/issues/10313#issuecomment-737284611 is the full verbose log from running the restore command. Is there something missing from there to help diagnose the issue?

 Adding the source https://dotnet.myget.org/F/roslyn/api/v3/index.json using the Nuget.config did not help the build, still seeing the missing assets in the obj\project.assets.json fil

[2020-12-16 15:55] chriss2401 commented on #6140
Wow I was just today searching for a solution to this problem, didn't know it has existed for so long.

[2020-12-16 16:46] Socolin commented on #4879
Is there any plan for this feature ? Others`dotnet nuget` command support this

[2020-12-16 17:57] #10358 closed, assigned to zivkan

[2020-12-16 18:05] zivkan opened #10384 "Log package contenthash during restore logging (during extraction)"
During restore, when a package is downloaded/installed, log the content hash so it appears in a CI log.

[2020-12-16 20:15] nkolev92 commented on #10313
Hey @moonboy13

Looked at it again, unfortunately I'm unable to find anything that could be the root cause.
There's *barely* any differences between the 2 logs and the only potentially meaningful thing impacting NuGet was the source difference.

Can you try looking at `Microsoft.NETCore.App` in the global packages folder and see if they are any different.

[2020-12-16 20:17] nkolev92 commented on #10363
See related: https://github.com/dotnet/runtime/issues/45755.
Might be worth enhancing the logging to help track what happened there as well.

[2020-12-16 20:57] donnie-msft commented on #10336
Duplicate https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1258494

[2020-12-16 21:08] sfmskywalker commented on #10382
I have the exact same issue: https://ci.appveyor.com/project/sfmskywalker/elsa-1-4-x

[2020-12-16 21:14] sfmskywalker commented on #10382
For me, this issue happens as of .NET SDK version `5.0.200-preview.20601.7`.
Version `5.0.101` does not appear to have this issue.

[2020-12-17 00:25] donnie-msft opened #10385 "Improve experience when a "Bad Package" is installed"
How might we improve NuGet to avoid the confusion that was encountered below by a bad package.
NuGet Package Manager shows the package installed, even though it has a problem, and the reference isn't added.

Developer Community: [Project stops displaying/loading Nuget Packages when some (problematic) package is added](https://developercommunity2.visualstudio.com/t/Project-stops-displayingloading-N

[2020-12-17 02:14] nkolev92 commented on #10326
Hey @johnkors
If possible, we'd appreciate it you can help us confirm that your issue is addresed by testing out https://dist.nuget.org/win-x86-commandline/v5.9.0-preview.2/nuget.exe

[2020-12-17 02:14] nkolev92 commented on #10320
hey @sourabhkrishna
If possible, we'd appreciate it you can help us confirm that your issue is addresed by testing out https://dist.nuget.org/win-x86-commandline/v5.9.0-preview.2/nuget.exe

[2020-12-17 02:14] nkolev92 commented on #10257
Hey @fabio-muramatsu

If possible, we'd appreciate it you can help us confirm that your issue is addresed by testing out https://dist.nuget.org/win-x86-commandline/v5.9.0-preview.2/nuget.exe

[2020-12-17 07:38] samcragg commented on #10367
Thanks for the links. I've created a design document (#10386) to hopefully get some discussion going on whether it's something that's worthwile adding (there were quite a few issues around the same theme it turns out!)

[2020-12-17 07:38] #10367 closed, assigned to nobody

[2020-12-17 10:49] gillg commented on #8713
I do't understand how this big issue is always present in version 5.9.
I tried on it and I have always the same issue unless it's ok with version 5.2.

Does someone know the "code" reason of this warning ?

[2020-12-17 11:50] kant2002 opened #10387 "How to view which unit test fails?"
I clone fresh repository and run full build. It produce following error

[code]

Steps which I perform.
1. git clone
2. .\configure.ps1
3. .\build.ps1

I definitely can open XML file and find where tests fails, but how I can do that in more pleasant way?